[2021-04-25 20:49] axl89 opened #24206 "statsforecast shows no data"
#### Describe the bug

When visiting the `index.php?controller=AdminStats&module=statsforecast&token=xx` section of the BO (named Panel de control de Estadísticas in Spanish, Statistics Dashboard in English I guess), I've got a weird behavior since a couple of months where the **Views** and **Registrations** columns shows zero, but I know this info is not correct because I still have purchases (se

[2021-04-25 23:12] go-sudo opened #24207 "Failed to authenticate on SMTP server PS 1.7.7.3"
Hello

I'm using PS version 1.7.7.3, I have my mail configured on thunderbird and outlook , everything works fine on this mail program
but on Prestashop i'm getting this error with same credentials

Erreur : veuillez vérifier votre configuration
Failed to authenticate on SMTP server with username "support@mydomain.com" using 3 possible authenticators. Authenticator CRAM-MD5 returned Expected respo

[2021-04-26 06:27] lmeyer1 commented on #23920
Thank you @hibatallahAouadni

[2021-04-26 06:31] lmeyer1 commented on #24207
Prestashop uses swiftmailer v.6.2.3. Maybe you find an answer in their doc and community ressources.
Also you are not specific on the settings your mail host recommends and those you configured in Prestashop.

[2021-04-26 07:33] matteocostantini opened #24208 "ps_shoppingcart: backdrop click and keymap"
Hi,
I've a problem. the ajax shopping cart feature is enabled. I'm using a classic_child theme.

When click add-to-cart button , modal is open, perfect!! but i want to costraint press buttons, avoiding close modal by clicking background or by pressing keyboard.

#### Additional information

* PrestaShop version: 1.7.7.0
* PHP version: 7.3

[2021-04-26 07:35] hibatallahAouadni commented on #24207
Hello @go-sudo

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-04-26 07:35] #24207 closed, assigned to nobody

[2021-04-26 07:39] marionf commented on #9710
Hi @matks

All modules should be compatible with the multistore, so yes, it's bug :)

[2021-04-26 07:41] sarahdib opened #24209 "Error when using delete request in back office"
#### Describe the bug

Error when using delete request in back office

#### Expected behavior
It shouldn't be possible to delete something using sql manager in back office

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admin -> database (with mode debug off)
2. Add a sql request using delete and save
3. Execute this request
4. See error and check in database that the request

[2021-04-26 07:42] hibatallahAouadni commented on #24208
Hello @matteocostantini

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information

[2021-04-26 07:42] #24208 closed, assigned to nobody

[2021-04-26 07:45] marionf commented on #9972
@matks it's the same issue but not the same field.
Here it's about the impact on price field in the combinations tab for a product with combinations
While #12078 is about the price field in basic settings & pricing tab for a standard product

[2021-04-26 07:56] PierreRambaud commented on #9574
Constraints make no sense. We should be able to write whatever we want when sending a gift message :/

[2021-04-26 07:57] Robin-Fischer-PS commented on #9832
Hi @matks !

I don't think it's the same bug, the faulty behavior is different : In #13468 the content of a category and products not available on a shop are displayed. On this PR it's only the display with different client group.

But I will try to reproduce this bug (with and without the fix of #13468 ) ASAP.

[2021-04-26 07:58] hibatallahAouadni commented on #24205
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2021-04-26 07:58] #24205 closed, assigned to nobody

[2021-04-26 07:58] marionf commented on #22029
@matks, yes it's another issue about the ecotax

[2021-04-26 08:00] hibatallahAouadni commented on #24206
Hello @axl89

You need to downgrade your PHP version to 7.2 cause PS1.7.6.1 is not compatible with PHP 7.3 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements)).
Please check and feedback.

Thanks!

[2021-04-26 08:16] matks commented on #9832
@Robin-Fischer-PS no you're right. I change this issue title to clear the confusion.

[2021-04-26 08:18] hibatallahAouadni commented on #24073
Hello @Esh-network

Please edit your comment and use English. English is the norm on GitHub.

Thank you

[2021-04-26 08:35] NeOMakinG commented on #24130
Hey @arouiadib, what about adding defaultCategory into window inside default theme ? This is a best practice and should fix it

[2021-04-26 08:47] matks commented on #9574
@PierreRambaud Then I suggest the following way to fix this bug

1. Validate with Product team that this is valid
2. Remove `isMessage` constraint on the order message and gift message which fixes this bug
3. Verify that ObjectModel correctly handles XSS and SQL injections by escaping the above characters
4. Verify locations in the FO and BO which render these messages are not vulnerable to XSS in

[2021-04-26 08:48] copostic opened #24210 "Impossible to create a refund"
#### Describe the bug

I'm trying to refund a product on an order that I created on my BO and that is on "Payment accepted" status (same for "Shipped") but I have an error:

#### Expected behavior

Item should be refunded.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create an order from backoffice with one product.
2. Go to this order's details page.
3. Click on "Standard refund

[2021-04-26 09:12] hibatallahAouadni commented on #24157
Hello @lmeyer1

Your PR will be tested when this is validated, and to be validated I need to reproduce it.
So, I need those steps to reproduce the issue and validate it 😉

Thanks!

[2021-04-26 09:16] axl89 commented on #24206
Hi @hibatallahAouadni , thank you for the quick response! I guess it's either that or upgrading Prestashop to the 1.7.7 version. I'll check the CHANGELOG's to see if there are any breaking changes and take a decision based on that :)

[2021-04-26 09:18] hibatallahAouadni commented on #24206
@axl89 ok waiting for your feedback :wink:

[2021-04-26 09:33] hibatallahAouadni commented on #24103
Hello @prestaforum thanks for your PR :rocket:

[2021-04-26 09:33] Esh-network commented on #24073
@hibatallahAouadni Watch my video for the steps

video 1: https://cdn.esh-dev.fr/upload/Produits%20%E2%80%A2%20demo%20presta%20-%20Google%20Chrome%202021-04-23%2016-19-19.mp4

video 2 https://cdn.esh-dev.fr/upload/ESH%20-%20Admin%20-%20Google%20Chrome%202021-04-07%2020-47-21.mp4

[2021-04-26 09:46] marionf commented on #24209
@sarahdib I am not sure about the critical severity here, if it's critical it means we should fix it in 1.7.7.4

[2021-04-26 09:55] Progi1984 commented on #22948
Fixed by #24088

[2021-04-26 09:55] #22948 closed, assigned to atomiix

[2021-04-26 09:55] Progi1984 commented on #22946
Fixed by #24088

[2021-04-26 09:55] #22946 closed, assigned to atomiix

[2021-04-26 10:16] hibatallahAouadni commented on #24190
Hello @arturas-bes

I didn't manage to reproduce your issue with PS1.7.7.3, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/116066854-cec96400-a688-11eb-90ff-2c4d59a9a3a4.png)

It seems this issue has been fixed #11379. So, I close this issue :wink:

Thanks!

[2021-04-26 10:16] #24190 closed, assigned to nobody

[2021-04-26 10:20] copostic commented on #24210
I disabled debug mode and deleted logs and it works...
Is this a known issue ?

[2021-04-26 11:07] hibatallahAouadni commented on #24197
Hello @maofree

Thanks for your issue!
With PS1.7.6.7, the amount was not displayed, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/116071723-83b24f80-a68e-11eb-99e3-982198d6fbab.png)

With PS1.7.7.3, the amount displayed is the the shipping price and not the order's total, see the attached screenshot below:

![image](https://user-images.githubuserc

[2021-04-26 11:15] maofree commented on #24197
Hi
yes but inside the pdf of delivery slip it is not present 7€ but the total amount
try to ask to them to know if it is ok or not

[2021-04-26 11:25] hibatallahAouadni commented on #24210
Hello @copostic

I didn't manage to reproduce your issue with PS1.7.7.3 but it seems a cache problem.
Well, glad to hear that it works for you now after deleting logs :tada:
I close this issue :wink:

Thanks!

[2021-04-26 11:25] #24210 closed, assigned to nobody

[2021-04-26 11:28] hibatallahAouadni commented on #24197
@MatShir @marionf any idea? :pray:

[2021-04-26 12:18] Robin-Fischer-PS commented on #10005
Hi @matks !

A small recap :
- Cart is reset when I login : Cannot reproduce this bug. When I have products in my cart when logged out, if I login, the products are still there
- The cart is indeed not persistent when switching device, but it's an improvement (it was already like today in 1.6)
- Another thing, not listed here : When I log out, the cart I had when logged in is reset. Don't know if

[2021-04-26 12:22] MatShir commented on #22580
**Specs:**
When a user adds a product with a specific price on the quantity on the order page of BO, the specific price is applied only if the base price is not edited on the form.

When a user edits a product with a specific price on the quantity on the order page of BO, the product price is not updated even if the specific price rule matches with product conditions.

 A gifted product is not inc

[2021-04-26 12:26] Robin-Fischer-PS commented on #10005
Ping @PrestaShop/product-team : WDYT of these improvement ?

[2021-04-26 12:49] matks commented on #23868
Hi we just confirmed this is a bug 😉  after discussing further. I just wanted to check 😄  .

[2021-04-26 12:51] Dinesh-Gunasekaran opened #24214 "Purchase order module is not displaying in PS 1.7.7.3"
#### Describe the bug

I implemented a module called Purchase Order which contains an input field and when it's filled, it will be written in the product bill. The module was available on AdminOrder. It was working until 1.6.6.9 version, but since the PS 1.7.7.3 update, the module is not displaying anymore. I tried to use all the listed AdminOrder hooks for positioning in PS 1.7.7x but none seem t

[2021-04-26 12:53] matks commented on #24214
Hello @Dinesh-Gunasekaran  this is expected, the Orders Back Office pages have been migrated to Symfony in PrestaShop 1.7.7 .

New replacement hooks are detailed on https://devdocs.prestashop.com/1.7/modules/core-updates/1.7.7/

New orders listing page, as well as other migrated pages, uses `Grid` component, you can read more about it, and how to work with it in modules here:

https://devdocs.pres

[2021-04-26 13:30] marionf commented on #23606
@khouloudbelguith I removed critical as the symfony page is hidden

[2021-04-26 13:37] hibatallahAouadni commented on #16515
Related to #22760

[2021-04-26 14:07] samberrry commented on #23868
hi again,
great, thanks guys ;)

[2021-04-26 14:13] pearpl opened #24216 "Issue with prices rounding & the differences in prices when placing an order"
#### Describe the bug & Steps to Reproduce

The issue is related to how presta handle prices.
Presta store product price as net price
We have two type of products but the bug appear in both cases
Example

Product net price is: 103.930000
Product gorss price is: 127.8339  (calculated by presta)
TAX 23%

The client order 19 pcs of  the product
As result in summary for the order is: 2 428,84
The amou

[2021-04-26 14:24] matks commented on #15380
As discussed together with Product Team, this is not a bug, this is an improvement.

[2021-04-26 14:25] matks commented on #12915
As discussed together with Product Team, this is not a bug, this is an improvement.

[2021-04-26 14:25] matks commented on #9947
As discussed together with Product Team, this is not a bug, this is an improvement.

[2021-04-26 15:17] hibatallahAouadni commented on #24214
Hello @Dinesh-Gunasekaran

I think you've got your answer from the expert :wink:
So, I close this issue. Feel free to open a new one when it's needed.

PS: thanks @matks for your quick reply :superhero:

Thanks!

[2021-04-26 15:17] #24214 closed, assigned to nobody

[2021-04-26 15:26] hibatallahAouadni commented on #24216
Hello @pearpl

It seems your issue similar to these #9815 & #9779 and we're already have a whole EPIC #19445 for the rounding issues.
Please check and feedback.

Thanks!

[2021-04-26 15:50] hibatallahAouadni commented on #24194
Hello @cryonos

I just use the same code and the product has been updated, check my code:

[code]
For the results, check my screenshot:

![image](https://user-images.githubusercontent.com/23308427/116112153-98efa400-a6b7-11eb-9463-fb5b3793787b.png)

And I got an error on my console:

[code]
Well, I didn't get 404 error but I got this error, so did you encounter the same error when you check the pr

[2021-04-26 15:53] matks commented on #9574
@PrestaShop/product-team Can you validate that we can remove the constraints that prevent the use of characters of <, >, { and } in gift and order messages? We will do what is necessary to ensure this does not introduce bugs.

[2021-04-26 15:53] hibatallahAouadni commented on #23887
Hello @ybenhssaien ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-04-26 15:53] #23887 closed, assigned to nobody

[2021-04-26 16:07] khouloudbelguith commented on #9795
Hi!

About this issue: #9795, the issue became a normal behavior as discussed with @marionf
**[Actions in the listings (grids): Edit action](https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/multistoregeneralspecs.md#edit-action)**

`User acceptance test Given I am a merchant in a multistore context, when I am editing an element then I want the changes I made to be

[2021-04-26 16:07] #9795 closed, assigned to kpodemski

[2021-04-26 16:09] matks commented on #9795
Pull Request https://github.com/PrestaShop/ps_linklist/pull/114 has been merged. The fix for this issue is expected to be delivered with v5.0.0 of Linklist module.

[2021-04-26 16:09] matks commented on #23521
Pull Request https://github.com/PrestaShop/ps_linklist/pull/114 has been merged. The fix for this issue is expected to be delivered with v5.0.0 of Linklist module.

[2021-04-26 16:10] #23521 closed, assigned to nobody

[2021-04-26 16:25] #24166 closed, assigned to nobody

[2021-04-26 16:26] matks commented on #24166
@IsaiChristian Following my answer I close the issue for the reasons explained above ⬆️

[2021-04-26 16:41] kpodemski commented on #19296
Pull Request PrestaShop/ps_linklist#114 has been merged. The fix for this issue is expected to be delivered with v5.0.0 of Linklist module.

[2021-04-26 16:41] #19296 closed, assigned to nobody

[2021-04-26 16:41] kpodemski commented on #18965
Pull Request PrestaShop/ps_linklist#114 has been merged. The fix for this issue is expected to be delivered with v5.0.0 of Linklist module.

[2021-04-26 16:41] #18965 closed, assigned to nobody

[2021-04-26 16:47] kpodemski commented on #19295
This is partially done in https://github.com/PrestaShop/ps_linklist/pull/114

One thing left is:

@matthieu-rolland do we have any ETA on this modal?

cc @marionf

[2021-04-26 16:53] hibatallahAouadni commented on #23827
Hello everyone,

Thanks @gennaris for your quick replies, your super helpful solutions and your detailed explanation :wink:
So, to summarize the issue:

Well, the issue occurs only with huge databases (lot of orders), the query responsible to refresh the counters takes a lot of time / resources. So, it blocks the whole shop :confounded:

So, I will relabel this issue from **Bug** to **Improvement*

[2021-04-26 17:48] jayamarunr opened #24218 "Unable to login to backend panel"
#### Describe the bug

Unable to log in to the backend panel of the website. Here is the link.
https://mydreambath.co.uk/bathstore/index.php?controller=AdminDashboard&token=d68496b377b9aa6177581c0237fa4d1b

We tried updating a couple of plugins and all of us sudden the website stopped working. Its been more than 5 days we are getting HTTP ERROR 500

#### Expected behavior

We want to log in and up

[2021-04-26 18:34] Kucing121 opened #24219 "#hasbiallah"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-04-26 21:00] e-gaulue commented on #23299
Sorry to disturb once again. But the case "field too long" is just an example. The trouble is linked with tens of different controls, this one being one of them. The PR provided try to rely on the legacy controller error message. But those legacy controls are going to be moved to the new architecture. Not sure it's needed to handle all those old control's messages right now, if it's going to be ha

[2021-04-26 21:02] e-gaulue commented on #23299
By the way, if you change the title of the issue, the PR is not really solving this issue, but a lot of more.

[2021-04-26 22:20] arouiadib commented on #24130
Great idea as discussed in closed PR. Thanks a lot for sharing expertise with us @NeOMakinG

Could you please see the new  [PR](#24220)  in favor of your approach.

Thanks again, a lot.

[2021-04-27 00:33] 4ngeluxpunk opened #24221 "Problem with PS Invoice Translation 1.7.7.3"
#### Describe the bug

Good afternoon everyone,

I have a problem with a store that when generating the Invoice it appears a field in English, I have translated the fields in the classic theme and cleared the cache but it is not reflected, I have even translated those fields from the invoice.total-tab.tpl file and the changes are not reflected when generating the invoice is something very strange

[2021-04-27 03:21] arouiadib commented on #9811
You were right @matks :)

[2021-04-27 07:01] hibatallahAouadni commented on #24219
Hello @Kucing121

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-04-27 07:01] #24219 closed

[2021-04-27 07:06] hibatallahAouadni commented on #24221
Hello @4ngeluxpunk

Could you please check this issue #10258 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-04-27 07:08] hibatallahAouadni commented on #24218
Hello @jayamarunr

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/)

[2021-04-27 07:08] #24218 closed, assigned to nobody

[2021-04-27 07:14] hibatallahAouadni commented on #23299
Hello @e-gaulue

I see ☺️ thanks for the info!
FYI @PrestaShop/prestashop-core-developers

Thanks!

[2021-04-27 07:16] drwebbe opened #24224 "Add customers invoice and delivery phone number to the email-alerts"
#### Is your feature request related to a problem?

Customers often make mistakes when ordering. We need to go to the backoffice to find the customers phone numbers to contact them.

#### Describe the solution you'd like

Would be easier if the customers phonenumbers would be added to the email-alerts.

#### Alternatives you've considered

None
#### Additional context

None

[2021-04-27 07:43] hibatallahAouadni commented on #24158
Hello @didi-2018

Sorry, I meant a product with combinations not customizations :sweat_smile:
Well, this kind of error usually launched cause you delete a currency or language that you use in these Orders.
And it's odd that you can't enable the debug mode :confounded:
Could you please try to enable it by setting the constant PS_MODE_DEV to true in config/defines.inc.php.

Please check and feedback

[2021-04-27 08:39] hibatallahAouadni commented on #24224
Hello @drwebbe

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-04-27 09:09] hibatallahAouadni commented on #23945
Hello @e-gaulue

Could you please answer @florine2623 question :pray:
Usually, we close the issue if it has been unanswered for more than 20 days but because you provide a PR, you have up to 10 days from now to answer :wink:

Thanks!

[2021-04-27 09:11] hibatallahAouadni commented on #23881
Hello @luigimassa ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-04-27 09:11] #23881 closed, assigned to nobody

[2021-04-27 09:15] #19295 closed, assigned to nobody

[2021-04-27 09:15] kernig opened #24226 "Prestashop backend shows blank page"
Hello,

we have occasional problems to reach our Prestashop backend.
When calling the backend, we are shown a white page. We have noticed that empty index.php files are created repeatedly. If these are removed, we can access the backend as usual.
In the log we get the following error.
PHP Fatal error:  Uncaught Symfony\\Component\\DependencyInjection\\Exception\\InvalidArgumentException: Expected

[2021-04-27 09:24] marionf opened #24227 "Add a modal when changing context, if changes have not been saved"
#### Is your feature request related to a problem?

As a user in a multistore context, I can make changes on a page, change context and forget to save changes

#### Describe the solution you'd like

If the user tries to change context without having saved his/her changes, a modal appears: "You are about to switch context. Do you want to save your modifications before?" with 2 CTA: "Save" and "Canc

[2021-04-27 09:25] matks commented on #9783
Update: I checked, issue is still there in 1.7.7

[2021-04-27 09:26] marionf commented on #19295
I created a new issue for this point: https://github.com/PrestaShop/PrestaShop/issues/24227
Thank you @kpodemski :)

[2021-04-27 09:43] hibatallahAouadni commented on #24226
Hello @kernig

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-04-27 09:43] #24226 closed, assigned to nobody

[2021-04-27 09:45] NeOMakinG commented on #24130
Np @arouiadib, thanks for the contribution, I need to create a reminder for me in order to check every others objects, it's an error when I added ESLint on the default theme

[2021-04-27 09:53] matks commented on #9783
### Status update

I just did an exploration of the bug. As mentioned in https://github.com/PrestaShop/PrestaShop/issues/9783#issuecomment-774518201, in the past, a SQL table ps_message was used to store messages. The validateOrder() function stores the message in this SQL table.

But in the BO there is no page to see the messages that are stored in this table.
You cannot see the messages stored i

[2021-04-27 10:28] www-ROUTE66-store opened #24231 "UVA ONLY ON PROFIT ( Second hand products Taxes for FRANCE)"
#### Is your feature request related to a problem?

I come here to deal with an issue with the VAT margin calculations in Prestashop
I am on the latest version 1.7….

#### Describe the solution you'd like

I would like to find a quick solution to comply with French tax law.

Thank you to all those who will help me or also point out to Prestashop this bug which cannot remain without being corrected

[2021-04-27 11:06] cryonos commented on #24194
Hello @hibatallahAouadni
I didn't checked this error in BO, but making some tries I maybe resolved the issue:
if I modify the PSWebServiceLibrary.php adding a Content-type header like this, it works without giving the 404 error, I don't know why this is working without this header for the POST but not for the PUT, but it seems to solve the problem:

`CURLOPT_HTTPHEADER => array(
                'E

[2021-04-27 11:22] theodiablo opened #24232 "Template - Won't allow to place an order with 0 amount"
If we try to place an order with an amount of 0 because we are using discount codes, the final checkout step button is disabled.

#### Expected behavior

If amount is 0 and no payment method is selected (because there is none), we should be able to place the order

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a discount code of 100€ amount and free shipping
2. Add products

[2021-04-27 11:24] theodiablo commented on #24232
Fixed by #24230

[2021-04-27 11:46] dariel97 commented on #24232
Ok

[2021-04-27 11:58] hibatallahAouadni commented on #19644
Ping @PrestaShop/product-team as you can see this issue is **`To Do`**, so why there's a label **`Waiting for PM`**?

[2021-04-27 12:09] hibatallahAouadni commented on #24231
Hello @www-ROUTE66-store

Thanks for your issue. **You must follow the provided template to submit a complete bug report**. We need you to full all the provided blocks (describe the bug, expected behavior, steps to reproduce, PrestaShop version, PHP version, ...).

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Sorry b

[2021-04-27 12:11] Big1982 opened #24234 "Che"
[SPAM]

[2021-04-27 12:15] #24234 closed, assigned to nobody

[2021-04-27 12:19] lukaslau opened #24235 "Smarty template caching Module::isCached() faulty causes performance loss"
#### Describe the bug

Prestashop class **Module** (`Prestashop /classes/module/Module.php`) has a function called **isCached** to check if tpl file is cached. This function fails to check and returns **false** while tpl is cached.

Commit https://github.com/PrestaShop/PrestaShop/pull/13804

Person who made PR was fixing issue #9763 and modified Module's class function **fetch** adding this:

[cod

[2021-04-27 12:21] hibatallahAouadni commented on #24232
Hello @theodiablo

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9927 and there's already a PR to fix the issue #22389
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-04-27 12:21] #24232 closed, assigned to nobody

[2021-04-27 12:22] hibatallahAouadni commented on #24232
Duplicate of #9927

[2021-04-27 12:47] hibatallahAouadni commented on #24235
Hello @lukaslau

Could you please check this issue #22647 it seems similar to yours.
Please check and feedback.

PS: next time please respect and follow the provided template to submit a complete bug report.

Thanks!

[2021-04-27 12:49] kpodemski commented on #24235
Hey @lukaslau

It seems that you're right, it does improve performance and it does makes sense to add it to `isCached` too, would you like to create [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/#pull-requests) on `develop` branch to fix this issue?

[2021-04-27 13:21] Progi1984 commented on #24059
Fixed by #24128

[2021-04-27 13:21] #24059 closed, assigned to matks

[2021-04-27 13:21] marionf commented on #20084
I moves this issue in blocked column, specs & mock-ups should be done before the development

[2021-04-27 13:43] omar2886 opened #24238 "Admin Error 500, Invalid argument supplied for foreach()"
Hi!
Suddenly I have an issue, I can't access Admin -> Customers on Prestashop 1.7.6, this is the route of the link in the admin:
...admin/index.php/sell/customers/?_token=-xxx

When I try to access it returns an Erro 500. so I asked my hosting to give me more details and this is what they sent me:

[code]

My hosting trying clearing cache but didn't solve the issue

The files affected on this erro

[2021-04-27 13:56] marionf commented on #9574
@matks
Yes, as it's a text message, I think we should let the possibility for the user to enter all the characters he/she wants: letters, numbers, accented and special characters

[2021-04-27 14:14] hibatallahAouadni commented on #24238
Hello @omar2886

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-04-27 14:14] #24238 closed, assigned to nobody

[2021-04-27 14:58] hibatallahAouadni commented on #24073
Hello @Esh-network

Thanks for your feedback!

- First video: **404 Not Found** :confused: I couldn't access to it
- Second video: it shows that you have some problem with your invoices list, is that so?

I just edit your issue description, so please please list the steps to reproduce the issue and describe the bug :pray: :pray: :pray:

Thanks!

[2021-04-27 14:59] #22837 closed, assigned to PierreRambaud

[2021-04-27 14:59] Robin-Fischer-PS commented on #22837
I cannot reproduce the bug either, it was indeed fixed by https://github.com/PrestaShop/PrestaShop/pull/23834.

[2021-04-27 15:04] #23708 closed, assigned to nobody

[2021-04-27 15:05] Progi1984 commented on #23558
Fixed by #23625

[2021-04-27 15:05] #23558 closed, assigned to PierreRambaud

[2021-04-27 15:06] Progi1984 commented on #24186
Fixed by #24187

[2021-04-27 15:06] #24186 closed, assigned to nobody

[2021-04-27 15:30] 4ngeluxpunk commented on #24221
Hello @hibatallahAouadni,

Thank you very much for your prompt response, but what I have said does not coincide in the least with my error. I only have one language, there is no more and that is why it seems strange to me that having a language and being translated does not reflect the changes; even changing from the .tpl it doesn't change anything to mention that I don't even have a cache plugin.

[2021-04-27 15:41] e-gaulue commented on #23945
Sorry @florine2623, this is not this issue.

If you disable level 2, and you go in the category tree of the product page in the BO for a specific product (I mean "not the product list"), then you expand all. As "level 2" is disable you can see it in the category tree (because you've got the right to associate a product to a disable category), but it's in italic.

The bugg is: if you clic on it the

[2021-04-27 17:10] #20441 closed, assigned to matks

[2021-04-27 18:14] #24182 closed, assigned to matks

[2021-04-27 20:12] karelkryda commented on #22974
I (as an administrator) still receive out of stock emails, but out of stock emails are set to a different email ... not mine. It's very annoying.

[2021-04-27 21:43] rbeau commented on #22322
Hi Flower7C3,
Post #24097
I have same issue. Your bug is fixed ? Could you please explain me how to resolve this bug ? There is no change if I try your solution.
Thanks

[2021-04-28 00:31] hibatallahAouadni commented on #23777
Hello @jorr-it

Please check my screenshot below:

![image](https://user-images.githubusercontent.com/23308427/116328524-7ea5eb00-a7c9-11eb-8560-f437008b4466.png)

Even the product has not been created :confounded:
Please check and feedback.

Thanks!

[2021-04-28 00:52] hibatallahAouadni commented on #24174
Hello @Whip

I'm really sorry, but I didn't manage to reproduce your issue with PS1.7.6.7, PS1.7.7.0 and PS1.7.7.3 :confounded:
Could you please check my screen record below and notify me if there's a missing steps:
### PS1.7.7.0:

https://drive.google.com/file/d/1fcg0Hc1EJCTk2-tw6AvFY8uxLRXA7UzB/view

### PS1.7.6.7:

![image](https://user-images.githubusercontent.com/23308427/116329847-7e5b1f00-a

[2021-04-28 00:57] hibatallahAouadni commented on #23864
Hello @6xthFNGR

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22540.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-04-28 00:57] #23864 closed, assigned to nobody

[2021-04-28 00:57] hibatallahAouadni commented on #23864
Duplicate of #22540

[2021-04-28 02:03] hibatallahAouadni commented on #24135
Hello @Ideoclic

I see that you're submitting a lot of issues about ecotax :wink:
A lot of them are already in our debug roadmap, check this [EPIC] Ecotax #14900
Please check attentively these issues (listed in the EPIC mentioned above) and precise your issue.

Please check and feedback.
Thanks!

[2021-04-28 02:30] hibatallahAouadni commented on #16849
Ping @PrestaShop/prestashop-core-developers friendly reminder :wink:

[2021-04-28 03:47] Whip commented on #24174
Hi @hibatallahAouadni , thanks for the extensive testing. I decided to upgrade my installation to 1.7.7.3 in case something fixes the problem but I still have the issue. Just to cover all bases, I've included the screenshots of the setup, maybe you'll spot something.

![tax-1](https://user-images.githubusercontent.com/11595460/116343541-3c4cd000-a802-11eb-99a6-53dd8a6162ec.jpg)
![tax-2](https://us

[2021-04-28 06:02] HadesStyx commented on #20084
you're crazy

[2021-04-28 06:08] HadesStyx commented on #24231
no, you're wrong

[2021-04-28 06:42] dali-rajab commented on #23633
Yes you are right @ang3lx ! when i tryed to upgrade my shop from 1.7.6.9 to 1.7.7.3 i got this error (it's not a blocking error by the way) :
![ps_1771_update_customer_note](https://user-images.githubusercontent.com/39015823/116358167-3e5c6200-a7f5-11eb-8f36-9dad92ba5002.jpg)
 and your fix is good ✌️😃 🎆 🚀 ❤️

[2021-04-28 07:02] dali-rajab commented on #23633
@hibatallahAouadni could you reopen this Issue please ? thank you 😃

[2021-04-28 07:10] matks commented on #24231
@hibatallahAouadni if I am not wrong, this is rather a Feature Request, not a Bug Report.

@www-ROUTE66-store You can reopen another issue following the Feature Request template, and then Product Team will analyze the feature request to see if it should go into the roadmap.

That being said,

PrestaShop does not aim at being more adapted to one country. PrestaShop aims to provide a worlwide soluti

[2021-04-28 07:23] #24021 closed, assigned to kpodemski

[2021-04-28 07:28] hibatallahAouadni commented on #24231
@matks Reopen it 😉

[2021-04-28 07:43] Flower7C3 commented on #22322
Hi @rbeau, I have fixed this problem using `overrides` directory. All described in 1st comment https://github.com/PrestaShop/PrestaShop/issues/22322#issue-760677563

[2021-04-28 07:48] matks commented on #24021
Should be fixed with blockwishlist 2.1.0 https://github.com/PrestaShop/blockwishlist/pull/108

[2021-04-28 08:14] hibatallahAouadni commented on #24231
Hello @HadesStyx

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-04-28 08:23] hibatallahAouadni commented on #23944
Hello @KFTE

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2021-04-28 08:23] #23944 closed, assigned to nobody

[2021-04-28 09:08] hibatallahAouadni commented on #24170
Hello @didi-2018

I was able to reproduce the issue with PrestaShop version 1.7.7.3 with Deutch language and Arabic language. It seems this sentence (waiting for validation) is missing in these files:

- `app/Resources/translations/de-DE/EmailsBody.de-DE.xlf` for **Deutsch** language
- `app/Resources/translations/ar-SA/EmailsBody.de-DE.xlf` for **Arabic** language

Indeed, it's a regression! I’ll

[2021-04-28 09:24] Prestaplugins opened #24244 "Vat calculation on credit slip is wrong if the order has a discount (freeshipping)"
#### Describe the bug

If you have an order with a voucher applied giving freeshipping, and you make a partial refund for a product, then the credit slip PDF has wrong number for the VAT.

#### Expected behavior

Have the good calculation for the VAT.

#### Steps to Reproduce

1. Create a voucher without any code, giving freeshipping.
2. Make a purchase with 2 products and check that the freeshipp

[2021-04-28 09:26] PierreRambaud commented on #24147
@NeOMakinG Could you have a check please? :heart:

[2021-04-28 10:06] www-ROUTE66-store commented on #24231
Hello

First of all, thank you for your feedback.

Regarding this point, I wanted to tell you this:

The person who administers my website is one of the developers of one of the most popular VAT management modules sold on Prestashop Addons.

(Gérald Roussel - www.ROUTE-SERVICES.com)

https://addons.prestashop.com/fr/comptabilite-facturation/8892-synthese-comptable-avec-tva.html

We can therefore c

[2021-04-28 10:22] hibatallahAouadni commented on #24244
Hello @Prestaplugins

Thanks for your issue!
Could you please check this issue #18319 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-04-28 10:25] hibatallahAouadni commented on #23633
Hello @dali-rajab

Could you please provide steps to reproduce the issue :pray:
If I reproduce the issue I will reopen it :wink:

Thanks!

[2021-04-28 10:30] www-ROUTE66-store commented on #24231
Our Prestashop Version is the last 1.7 one
The PHP is the last version too.

:-)

[2021-04-28 10:31] ang3lx commented on #23633
@hibatallahAouadni in first post i've added all infos where bug is and how fix..

1) install ps 1.7.7.1
2) create user with note that contains quote/double quote
3) update prestashop to latest
4) got error ps_1771_update_customer_note()

[2021-04-28 10:34] TuturGio commented on #9967
Same issue with prestashop 1.7.5 and the fix by Tobal66 does not change a thing... Can prestashop fix this issue and offer us a way to not break the law ???

[2021-04-28 10:34] dali-rajab commented on #23633
exactly @ang3lx ! thank you 🚀

[2021-04-28 11:35] matks commented on #24164
## 🚧 Status update

The build has been created and submitted today to QA for validation.

[2021-04-28 12:02] Prestaplugins commented on #24244
It's related to refund and voucher problems, so it's probably the same kind of issue and maybe the same code which is responsible, but mine is due to vouchers offering free shipping.
I can't tell you if it exactly the same...

[2021-04-28 12:40] PierreRambaud commented on #23426
The problem has alreadyu been fixed in the 1.7.8.x :thinking:

[2021-04-28 12:42] marionf commented on #9967
Hello @TuturGio

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you. If you manage to get the problem fixed, then please contri

[2021-04-28 12:44] PierreRambaud commented on #23432
I did not manage to reproduce the issue. I think it has already been fixed :thinking:

[2021-04-28 13:13] boubkerbribri commented on #23432
It seems so, Nightly does not find the error anymore.
Closing the issue.

[2021-04-28 13:13] #23432 closed, assigned to PierreRambaud

[2021-04-28 13:14] boubkerbribri commented on #23426
Yeah fixed.

[2021-04-28 13:14] #23426 closed, assigned to nobody

[2021-04-28 13:34] hibatallahAouadni commented on #24174
Hello @Whip

It seems all good!
Did you choose the GST tax in the product page? (see the attached screenshot below)

![image](https://user-images.githubusercontent.com/23308427/116412499-0a099580-a837-11eb-9496-8eea5a148437.png)

Please check and feedback.
Thanks!

[2021-04-28 13:53] hibatallahAouadni commented on #24081
Hello @wzzly

I enabled my profiler and it seems all good, As @matks said:

So, I close this issue :wink:

Thanks!

[2021-04-28 13:53] #24081 closed, assigned to nobody

[2021-04-28 13:57] hibatallahAouadni commented on #23893
Hello @mvorisek

I just did, didn't you see my comment?

So, could you please answer my question :pray:
Thanks!

[2021-04-28 14:01] Whip commented on #24174
Yes. Did that too. It is afterall getting applied correctly in the calculations.

[2021-04-28 14:37] zuk3975 opened #24249 "1.7.8 Product form display hooks reminder"
Reminder issue for display hooks that worked in old page, but are not dispatched anymore in new one (providing alternative in a new page if there is one). Overall, we are almost able to achieve everything by using hookActionProductFormBuilderModifier and adding fields to related form types (though some things are still missing - like the form_rest at the end of each subtype and some parts of produ

[2021-04-28 14:47] hibatallahAouadni commented on #24174
Hello @Whip

So, your issue is fixed?
Please check and feedback.

Thanks!

[2021-04-28 14:51] marionf commented on #24029
The survey is now closed, we will publish the results soon on build.prestashop.com

[2021-04-28 14:51] #24029 closed, assigned to nobody

[2021-04-28 14:54] zuk3975 opened #24250 "1.7.8.x additional hook in product form data handler"
#### Is your feature request related to a problem?
It is already possible to extend the behavior by registering own custom CommandsBuilder in module, but it might be an overhead  in many cases, so following solution should allow to achieve the same without forcing to have this additional class.

#### Describe the solution you'd like

Additional hook in ProductFormDataHandler (https://github.com/Pr

[2021-04-28 14:58] hibatallahAouadni commented on #24249
Hello @zuk3975

I think you're talking about this issue #22981, so we still have other hooks to add.
@matks should I label it as **`To Do`** along with **`regression`**? or this is an **`improvement`**?

Thanks!

[2021-04-28 15:03] Whip commented on #24174
No. What I mean is that calculations are correct but tax is displayed 6%, not 12%.

[2021-04-28 15:06] jolelievre commented on #24249
Thank you @zuk3975 really interesting resume, so I would suggest this:

- **displayAdminProductsExtra** add this hook and respect the legacy behaviour where all modules are in this extra tab
- additionally we should think of a new more proper way to add tabs in the page, so that each module could add its own tab, either via a display hook or via an actionHook that force a structure a bit like we d

[2021-04-28 15:07] hibatallahAouadni commented on #24250
Hello @zuk3975

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/), the teams will be happy to help you by ensuring that it is appropriate and coherent with the rest of the project. If that is

[2021-04-28 15:11] hibatallahAouadni commented on #24174
Hello @Whip

Well, in my case I didn't manage to reproduce the issue as I mentioned above with PS1.7.6.7, PS1.7.7.0 and PS1.7.7.3
It could be the cause of your issue an override or third-party modules.
Please check and feedback.

Thanks!

[2021-04-28 15:20] Whip commented on #24174
@florine2623 was also able to reproduce the issue. Maybe he would like to pitch in?

[2021-04-28 15:23] musicpanda opened #24251 "Defined() without quotes"
#### Describe the bug

In the file /src/Adapter/environment.php in the function __construct() the function defined is twice used without quotes around the constant name. This produces a error: Use of undefined constant _PS_ENV_ - assumed '_PS_ENV_'

line 56:      $this->isDebug = defined(_PS_MODE_DEV_) ? _PS_MODE_DEV_ : true;
line 64:             if (defined(_PS_ENV_)) {

#### Expected behavior

E

[2021-04-28 15:27] NeOMakinG commented on #24147
Going to check it asap

[2021-04-28 16:32] adeelq opened #24254 "iso_code in class Country definition and table schema does not match with the actual usage of iso_code property"
#### Describe the bug

Not sure how to explain that this as a bug. I'm gonna try my best to explain :) I'm working on an integration for PrestaShop, while i was digging through APIs and schemas i stumble upon something which does not add up.

[Here](https://github.com/PrestaShop/PrestaShop/blob/1.7.7.3/classes/Country.php#L41) It states that `public $iso_code;` class property size is 2

However [h

[2021-04-28 18:28] Oksydan opened #24255 "New blockwishlist module website performance problem"
#### Is your feature request related to a problem?

New wishlist module contains huge javascript bundles that hurt website performance.

#### Describe the solution you'd like

We can extract big vendors from bundles into separate files.

[2021-04-28 21:55] darkf3d3 opened #24256 ""Display tax in the shopping cart" setting should also affect"
If you want to use taxes on your shop, but you don't want to show "tax incl." or "tax excl." text next to prices, you have to set this setting to NO:
International >> Taxes >> Tax options >> Display tax in the shopping cart >> NO

But the carrier section on checkout page ignore this setting, so next to the carrier prices, you'll see tax incl. and tax excl. labels, despite what your configuration..

[2021-04-28 22:23] arouiadib commented on #24130
@NeOMakinG It is always better to add ESLint. Thanks a lot for this.

+1 for setting the reminder instead of doing `no-undef:0`.

[2021-04-29 00:22] hibatallahAouadni commented on #24244
Hello @Prestaplugins

Thanks for your feedback!
It's the same cause it doesn't matter if the voucher is a **free shipping** or just a **discount**, the bug always persists 😖

So as we are aware of this issue and it is already in our debug backlog. This issue is a duplicate of #18319.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-04-29 00:22] #24244 closed, assigned to nobody

[2021-04-29 00:23] hibatallahAouadni commented on #24244
Duplicates of #18319

[2021-04-29 06:41] sowbiba commented on #22580
See the case provided by @khouloudbelguith
https://github.com/PrestaShop/PrestaShop/pull/22586#issuecomment-826826849

[2021-04-29 07:21] hibatallahAouadni commented on #23958
Hello @Mmoraco ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-04-29 07:21] #23958 closed, assigned to nobody

[2021-04-29 07:23] hibatallahAouadni commented on #24251
Hello @musicpanda

Thanks for repecing the provided template :clap:
Could you please provide steps to reproduce the issue :pray:

Thanks!

[2021-04-29 07:43] musicpanda commented on #24251
Sure:
 - rising up
 - putting on my glasses
 - starting the computer
 - looking at the code

[2021-04-29 07:43] hibatallahAouadni commented on #24254
Hello @adeelq

Thanks for the details :rocket:
Well, you're right! this is a kind of misleading.

Ping @PrestaShop/prestashop-core-developers could someone please explain why we declare the $iso_code sometime 2 and other times 3?

[2021-04-29 08:04] matks commented on #24251
Hi @musicpanda, is this [sarcasm](https://en.wikipedia.org/wiki/Sarcasm) ?

[2021-04-29 08:06] hibatallahAouadni commented on #24255
Hello @Oksydan

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
And thanks for your PR :rocket:

Ping @kpodemski wdyt of this issue and the PR?

Thank you

[2021-04-29 08:08] hibatallahAouadni commented on #24256
Hello @darfk3d3

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-04-29 08:08] #24256 closed, assigned to nobody

[2021-04-29 08:15] hibatallahAouadni commented on #24174
Hello @Whip

I just checked again with @florine2623 and it seems to be a mistake, see the attached screen record below:

![image](https://user-images.githubusercontent.com/23308427/116520854-8ea9f180-a8d3-11eb-9e83-c8e8d644b73f.png)

As you can see it seems that she mistook the tax (it's not combined) :wink:
So, I close this issue as we were not able to reproduce your issue with the provided infor

[2021-04-29 08:15] #24174 closed, assigned to nobody

[2021-04-29 08:20] NulAsh commented on #23961
https://www.prestashop.com/forums/topic/160125-module-reset-how-to-code/
Here people are asking about the same thing

[2021-04-29 08:22] darkf3d3 opened #24257 ""Display tax in the shopping cart" setting should also affect"
#### Describe the bug

When you disable display of taxes, to hide "tax incl." and "tax excl." text, the taxes are showed anyway on carrier section at checkout page.

#### Expected behavior

I expect that If I set to don't show taxes on front office, taxes wont be showed anywhere on the front office.

#### Expected behavior

1. B.O. >>International >> Taxes >> Tax options >> Display tax in the shop

[2021-04-29 08:25] kpodemski commented on #24255
@hibatallahAouadni we talked with @Oksydan about this issue some time ago, what Oksydan did is definitely worth to have in module, PR is now on QA so let's hope for good feedback from them 👍

[2021-04-29 08:28] matks commented on #24002
@Robin-Fischer-PS is this something we need to fix for 1.7.8 ? at least scenarios X1, X2, X3 and X4 ?

Scenarios Y are eligible when there is multiple feature flags. 1.7.8 has only 1 feature flag.

[2021-04-29 08:37] sarahdib commented on #24251
Hi @musicpanda ,

Unfortunately, there is not enough information provided to reproduce this issue and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [[here].](https://build.prestashop.com/news/how-bug-reports-are-handled/)
Feel free to create a new issue if you can provide further information and respect the [code of

[2021-04-29 08:37] #24251 closed, assigned to nobody

[2021-04-29 08:40] matks opened #24258 "[Experimental product page] Fix raw bugs"
### Describe the bug

The QA team explored the experimental product page and reported many raw bugs. We need to fix them.

#### In Edit a Product experimental BO page

When saving the form in product not virtual an error related to virtual_product_file_id always popped
When switching to combination type and error related to missing stock form always popped
When switching types to combination an er

[2021-04-29 08:42] matks opened #24259 "[Experimental product page] Fix user interface"
### Describe the bug

The UX team explored the experimental product page and reported many issues. We need to fix them.

Items to be fixed have been provided to @NeOMakinG.

#### Additional information

* PrestaShop version: `1.7.8.x`

[2021-04-29 08:45] matks opened #24260 "[Experimental product page] Add missing 'Remove' feature for combinations listing"
### Describe the bug

The QA team explored the experimental product page and reported that 'Remove' feature for combinations listing is missing.

You should be able to click on the remove icon. A confirm modal will ask you if you are sure, if you click on yes the combination is removed and the list is updated.

If you remove the default combination the first one in the list is the new one

#### Ad

[2021-04-29 08:49] matks opened #24261 "[Experimental product page] Enable missing feature: generate combinations using the Combinations generator"
### Describe the bug

The QA team explored the experimental product page and reported that generate combinations using the Combinations generator was missing.

#### Additional information

* PrestaShop version: `1.7.8.x`

[2021-04-29 08:53] matks commented on #24003
@jolelievre If I implement this change in `1.7.9` I will have to keep both `enabled` and `state` (BC break). `state` will be disabled and deprecated but will remain there.

Provided this, is it still important to modify the field name?

[2021-04-29 08:56] matks opened #24263 "[Experimental product page] Load Categories tree in JS to handle large number of categories"
### Describe the bug

On the experimental product page ; the categories tree must be generated in JS to handle large number of categories

#### Additional information

* PrestaShop version: `1.7.8.x`

[2021-04-29 08:56] MatShir commented on #24197
It's a bug. It displays the wrong the price here as @maofree says.

[2021-04-29 08:56] Robin-Fischer-PS commented on #24002
Hi @matks ,

For me, all these scenarios are indeed bugs, and the X ones should be fixed if possible. I would classify them as "trivial" or maybe "minor" so it's not the priority, but there is enough time, we should fix them (even the "Y" ones).

If we do not have enough time they are however not blocking for the release (or the beta).

[2021-04-29 09:21] PierreRambaud commented on #23633
I reopen, the fix is legit :)

[2021-04-29 09:52] Whip commented on #24174
The image you posted shows the problem too. On a 100 euro product, the invoice says 6% tax and 12 euro in amount. 6% tax should be 6 euro.

[2021-04-29 09:58] hibatallahAouadni commented on #23633
Hello @ang3lx & @dali-rajab

Could you please check my screen record below and see if I miss step or something cause I didn't manage to reproduce the issue:

https://drive.google.com/file/d/1K0gpCnXEi0ZG2CRGqQ17k85ynSaJMo9J/view

Please check and feedback.
Thanks!

[2021-04-29 09:59] hibatallahAouadni commented on #24174
@florine2623 could you please share your steps to reproduce :wink:

[2021-04-29 10:19] ang3lx commented on #23633
Hello @hibatallahAouadni

your steps are ok, but I've got this error
In my case, into note field there were some Japanese characters. I don't know if this is relevant.

After error i've re-run ps_1771_update_customer_note() from standalone php patch file adding pSQL() to $note['note'] and everything worked perfectly

[2021-04-29 10:25] marionf commented on #23934
The multistore header is not displayed on these pages because it is removed and completely rewritten in javascript.
The two tabs "Stocks" and "Movements" are completely built in javascript, they are not separate Symfony pages.
The header will be displayed automatically when these pages will be properly redone in Symfony, so I close this issue.

[2021-04-29 10:25] #23934 closed, assigned to matthieu-rolland

[2021-04-29 10:26] hibatallahAouadni commented on #24257
Hello @darfk3d3

Thanks for respecting the provided template :clap:
Could you please check these issues #23131 & #23784 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-04-29 10:28] hibatallahAouadni commented on #23633
Hello @ang3lx

Ok let's try with Japanese characters :wink:
Could you please provide the sentence that throw the error.

Thanks!

[2021-04-29 10:29] kernig opened #24264 "Problems with scaled discounts"
Hello,
we are currently using Prestashop version 1.7.7.3 with the Leoneons theme.
We noticed that when a new reduced price is created for a quantity of one item (this new price is a limited time offer),
the reduced prices for e.g. a quantity of five items is no longer displayed correctly in the quantity discount table in the frontend.
The error always occurs when we use discounts excl VAT.

To rep

[2021-04-29 10:30] hibatallahAouadni commented on #24264
Hello @kernig

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-04-29 10:30] #24264 closed, assigned to nobody

[2021-04-29 10:45] ang3lx commented on #23633
@hibatallahAouadni

unfortunately (mea culpa) I have not marked the id of the note on which the update gave me an error, and at the moment there are over 10 thousand notes.
I don't think I can pass you the note that made us go wrong

try with this one

（别吓！）这个客人就是一个”小“女儿，她有“一点”胖。
脖子的周围40cm，不要胸棉。我怕客人想骗我们买一件礼服当为婚纱。。。
颜色为象牙色，腰带和花做成lavender

[2021-04-29 11:22] khouloudbelguith commented on #24197
Hi @MatShir,

I think this issue is related to this ticket: https://github.com/PrestaShop/PrestaShop/issues/20409
What do you think?

Thanks!

[2021-04-29 12:22] jorr-it commented on #23777
@hibatallahAouadni Sorry I don't know why your PrestaShop webservice is not available.

[2021-04-29 12:23] Varkeychen commented on #22300
Finally I have got a wayout from this problem. Just install for US, means never change the country or region during installation. You can then easily access BO and FO. After successful installation you can change the country and currency etc. from BO into yours.

[2021-04-29 12:43] matks opened #24267 "[Add support for experimental features] Fix modal behavior in Experimental Features BO Page"
This issue is an item in the [Add support for experimental features](https://github.com/PrestaShop/PrestaShop/issues/23235) project

You can read about the project [here](https://github.com/PrestaShop/PrestaShop/issues/23235).

There is a confirmation modal that opens when you modify the BO Experimental Features page buttons.

## Stories

Updated after discussions https://github.com/PrestaShop/Pre

[2021-04-29 12:43] matks commented on #24002
@Robin-Fischer-PS Then I split this issue in 2 => https://github.com/PrestaShop/PrestaShop/issues/24267

[2021-04-29 12:55] khouloudbelguith commented on #16578
Hi!

This issue occurs in the invoice also!
![image](https://user-images.githubusercontent.com/16067358/116553953-f4f63a80-a8fa-11eb-8869-b1003ac195a8.png)

Thank you!

[2021-04-29 13:00] matks commented on #23741
@matthieu-rolland did you find something to solve this issue? else we can discuss it all together

[2021-04-29 13:00] matks commented on #23739
This feature is now scoped for 1.7.9 ?

[2021-04-29 13:07] darfk3d3 commented on #24257
Hi @hibatallahAouadni
I just checket them, but it seem to be different. This one it's specific to the label showed on carrier section of checkout page.

[2021-04-29 13:17] dali-rajab commented on #23633
@hibatallahAouadni @ang3lx , in fact, as i already mentioned in https://github.com/PrestaShop/PrestaShop/pull/24243 , you have to redo the same test but with a version < 1.7.7.1 (1.7.6.9 in my case) . thanks.

[2021-04-29 13:20] marionf commented on #23739
@matks Yes because it's a new feature and 1.7.8 is frozen

[2021-04-29 13:24] marionf commented on #24164
[Release note PR](https://github.com/PrestaShop/prestashop.github.io/pull/890)

[2021-04-29 13:25] hibatallahAouadni commented on #24007
Hello @N-Wouda

Thanks for your patience!
Could you please provide the WS that you use to update your order.

Thanks!

[2021-04-29 14:05] NeOMakinG commented on #24147
Fixed here https://github.com/PrestaShop/PrestaShop/pull/24269

[2021-04-29 14:08] PululuK opened #24271 "Module `dashtrends` position during install"
#### Describe the bug

The `dashtrends` module is displayed last in the home page on the backoffice.

#### Expected behavior

The `dashtrends` module must be displayed first

![image](https://user-images.githubusercontent.com/16455155/116564266-18be7e00-a905-11eb-93e0-aa5cb84b6046.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Admin dashboard controller
2. See error

**S

[2021-04-29 14:25] florine2623 commented on #24174
@hibatallahAouadni @Whip ,

I tried to recreate the issue once more one a fresh install, but I couldn't.
I have the same result as @hibatallahAouadni
Sorry @Whip

[2021-04-29 14:26] hibatallahAouadni commented on #24174
Thanks @florine2623 for your feedback ☺️

[2021-04-29 14:36] matks commented on #9811
@marionf I just explored this bug. I found this is a little more complex than expected.

There is actually 2 usecases:

1. I associate a product A with categories X and Z. Z is main category for product A. I delete category Z. What happens?
2. I associate a product A with category X. X is main category for product A. I delete category X. What happens?

### Usecase 1 - product associated with 2 cat

[2021-04-29 14:37] rbeau commented on #22322
You are right @Flower7C3 ,

I understand now, if I still turn Prestashop on mode debug solution doesn't work. Now debug mode is off and it work prefectely.

I thank you so much !

[2021-04-29 15:14] hibatallahAouadni commented on #24271
Hello @PululuK

Thanks for your issue and your PR :rocket:
I manage to reproduce the issue with PS1.7.7.3 and PS1.7.7.0 but I didn't manage to reproduce with PS1.7.6.7.
So, it's a regression!

Thanks!

[2021-04-29 15:15] lmeyer1 commented on #24157
@hibatallahAouadni
Hello, I added the steps to reproduce the issues. Sorry I omitted it when submitting.

[2021-04-29 15:57] atomiix commented on #18715
@khouloudbelguith @Julievrz The wording has been changed in #19819 to be able to change the number of merchants without changing the wording. That's why it's not translated once again. This will be solved when the new wording will be pushed on crowdin and translated.

Maybe we can close this issue?

[2021-04-29 16:03] atomiix commented on #20839
@khouloudbelguith I'm unable to reproduce this issue, can you check if you still can reproduce it on your side?

[2021-04-29 20:25] hibatallahAouadni commented on #23777
Hello @jorr-it

My mistake :sweat_smile: there's a missing **`/`** at the end of the URL.
Well, it's working now:

[code]
And the product is well created with image1.jpg (the update of image is not working):

![image](https://user-images.githubusercontent.com/23308427/116614092-c2b7fd80-a939-11eb-9530-88a733819a30.png)

Please check and feedback.
Thanks!

[2021-04-29 20:33] N-Wouda commented on #24007
@hibatallahAouadni do you mean, say, the XML file?

It's something like:

[code]

What happens is that the update to `current_state` is processed before `shipping_number` has been processed. That state update also sends the `shipped` email. As a consequence, I cannot add the shipping number into the `shipped` template, because it hasn't been set by the time the email is sent out.

A quick fix to m

[2021-04-29 20:35] hibatallahAouadni commented on #24194
Hello @cryonos

So, is there any other infos that you could provide to help me reproducing the issue?
If there's not, I have to close the issue :wink:

Thanks!

[2021-04-30 00:34] hibatallahAouadni opened #24276 "JS error thrown when create a new store"
#### Describe the bug

Enable the multistore context, when you try to create a new store, a JS error will be displayed in the console:

[code]
PS: I didn't manage to reproduce the issue PS1.7.7.3, so it's a regression!

#### Expected behavior

No JS error displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. **BO** > **CONFIGURE** > **Shop Parameters** > **General**
2. Enable th

[2021-04-30 06:53] Progi1984 commented on #24130
Fixed by @PierreRambaud in #24247

[2021-04-30 06:53] #24130 closed, assigned to PierreRambaud

[2021-04-30 07:15] 23b opened #24277 "Translation persist in global memory, overriding defaults"
#### Describe the bug

After loading a translation, the default language string will not be returned correctly.
This only happens if you access multiple languages in a single request.

#### Expected behavior

Receive original string.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Consider a module with a translation file in translation/de.php but no translation/en.php
`$m = Module:

[2021-04-30 07:22] florine2623 commented on #24277
Hello @23b ,

Do you have a module example so we can test this ?

Thanks!

[2021-04-30 07:27] mvorisek commented on #23893
@hibatallahAouadni see https://github.com/mvorisek/PrestaShop/tree/fix_error_msg_for_cli__test , this issue can be veryfied by reverting the last commit from https://github.com/PrestaShop/PrestaShop/pull/23891 PR, that way, the reverted issue fix will be detected and displayed.

[2021-04-30 08:08] musicpanda commented on #24251
Look in the manual: defined is used with quotes. (https://www.php.net/manual/en/function.defined.php)

Try it yourself:
define("MYCONSTANT", "Hello world.");
if(defined('MYCONSTANT')) echo "quoted found<br>"; /* echoes "quoted found" */
if(defined(MYCONSTANT)) echo "unquoted found<br>"; else echo "unquoted NOT found<br>"; /* echoes "unquoted NOT found" */
if(defined(OTHERCONSTANT)) echo "other fou

[2021-04-30 08:09] fixo94 commented on #11197
It's a token security problem.
If you are connected as a user with a module (connect as user), you can have this problem.
Just change the password of your user, logout, login and have fun.

[2021-04-30 08:23] 23b commented on #24277
example:
[code]

result:
[code]

[2021-04-30 08:55] matks commented on #24251
Hi @musicpanda I think I will clear the misunderstanding here 😄

We can see you are reporting a _defect_ in class https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Environment.php, which is the use of define without quotes.

But a defect is not a bug report. We do not have the resources to transform a known defect into a bugfix. We are already aware of dozen of defects into the sof

[2021-04-30 09:41] ballashop opened #24278 "Problem with email translations, every time I modify an email the system loads the emails of the core and not of the currently used theme"
Hi,
every time I modify an email content the system loads the emails of the core and not of the currently used theme
Go to...
1 - International
2 -Translations

<img width="365" alt="Schermata 2021-04-30 alle 11 16 10" src="https://user-images.githubusercontent.com/28685316/116675314-fe88ac80-a9a5-11eb-81ba-9c6fad013b7e.png">

3 - Type of translation: **email translations**
4 - Select the type of

[2021-04-30 09:44] Hlavtox commented on #23112
@NeOMakinG @hibatallahAouadni Bump, so it does not make it into 1.7.8 ;-)

[2021-04-30 09:44] Hlavtox commented on #23115
@NeOMakinG @hibatallahAouadni Bump, so it does not make it into 1.7.8 ;-)

[2021-04-30 09:48] musicpanda commented on #24251
If that is your choice, so be it. But be aware that those defined() warnings often appear as a side effect when there are other problems. And then they can be quite confusing.

[2021-04-30 09:56] Hlavtox opened #24279 "Merchant should be able to enable out-of-stock-ordering for each combination"
#### Is your feature request related to a problem?
Related to my previous issue: https://github.com/PrestaShop/PrestaShop/issues/20536
I cannot set, if the system should allow ordering out of stock items for different combinations of products.

My clients are pushing on me because customers are ordering things that are not in stock => angry customers, when you tell them that the product they order

[2021-04-30 09:58] jorr-it commented on #23777
@hibatallahAouadni Great to hear that you were able to reproduce my initial bug report. What do you want me to check and feedback exactly? If the upload of the second image is not working in your environment, then you probably bumped against the bug too.

[2021-04-30 10:21] musicpanda commented on #24251
I wonder how many Prestashop programmers know that
if( defined(PS_MODE_DEV))
will never return true. It is counterintuitive.

Try it in a quiz during your next company meeting.

[2021-04-30 10:30] hibatallahAouadni commented on #23777
Hello @jorr-it

Great! well, I asked to check and feedback cause I didn't encounter the 400/SQL error :wink:
So, I was able to reproduce the issue with PS1.7.7.3 and PS1.7.6.7. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot

[2021-04-30 12:02] florine2623 commented on #24278
Hello @ballashop ,

Your issue is similar to be : https://github.com/PrestaShop/PrestaShop/issues/14182
It is fixed in PS 1.7.8.

Please check and feedback.

[2021-04-30 12:09] hibatallahAouadni commented on #20536
Ping @PrestaShop/ux-team friendly reminder :wink: could someone please answer @MatShir question :pray:
Thanks in advance!

[2021-04-30 12:14] Progi1984 commented on #24271
Fixed by @PululuK in #24272

[2021-04-30 12:14] #24271 closed, assigned to PululuK

[2021-04-30 12:19] khouloudbelguith opened #24281 "BO - Add new Order page - We can add to the cart an out of stock not allowed customized product"
#### Describe the bug

In the BO > Add new orders page > we can create an order with customized product with quantity ordered > Quantity total, but It is not allowed.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Add new Order page
2. Choose a customer
3. Try to add the demo customized product (demo_14) with quantity = 200
4. Click add to cart again
![image](ht

[2021-04-30 12:44] matks commented on #23996
@Julievrz We have 2 options
1. We create a new Help page for "Experimental Features" page - this must be done by you
2. I improve the code that controls this window, so that we have issues on the page even if there is no Help page for "Experimental Features" page - this I can do

If we chose strategy 2, I can
a. hide the "help" button
or
b. when we open the window I display an error message "no he

[2021-04-30 12:47] matks commented on #9798
Hello @prestascott do you have a loader in the UI Kit now :) ?

[2021-04-30 12:57] NeOMakinG commented on #9798
Not sure, but it contains some since years : https://build.prestashop.com/prestashop-ui-kit/?path=/story/spinner--spinner

[2021-04-30 13:02] florine2623 commented on #24279
Hello @Hlavtox ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-04-30 13:12] florine2623 commented on #24221
Hello @4ngeluxpunk ,
What language do you have in your BO ?
I have only French, and my invoice shows in French.
![Capture d’écran 2021-04-30 à 15 11 49](https://user-images.githubusercontent.com/16019289/116699873-651dc280-a9c6-11eb-8505-94ea988a6969.png)

[2021-04-30 13:16] hibatallahAouadni opened #24284 "FO - the error alert is not well displayed"
#### Describe the bug

the error alert is not well displayed and it seems the header overlap the alert

#### Expected behavior

it should be well displayed as 1.7.7.3 (see the attached screenshot below)

![image](https://user-images.githubusercontent.com/23308427/116699897-6c44d080-a9c6-11eb-85cf-5bdce318990f.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. in BO, create a produ

[2021-04-30 13:19] hibatallahAouadni commented on #24284
Ping @prestascott as discussed on Slack, here's the issue :wink:

[2021-04-30 13:20] florine2623 commented on #23945
Hello @e-gaulue ,

Thanks for the details and the PR.
I was able to reproduce the issue with PrestaShop version 1.7.7.3 and develop, so I can confirm that this behavior is indeed a bug.

https://user-images.githubusercontent.com/16019289/116700450-11f83f80-a9c7-11eb-818b-46df956979c4.mov

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be re

[2021-04-30 13:26] matks commented on #21745
Hello @Progi1984 I see you assigned yourself in November 2020. Did you do something? Will you continue to work on it?

[2021-04-30 13:26] matks commented on #21640
Yes, fixing the sort is something we can embed :D

[2021-04-30 13:28] matks commented on #23973
@khouloudbelguith Can you confirm what MySQL version you are using?

[2021-04-30 13:52] 4ngeluxpunk commented on #24221
Hello @florine2623 ,

I only have the Spanish language for both NO and Fronted, so it is strange that only that section is not translated even by editing the file that contains it and clearing the cache.  Greetings.

[2021-04-30 14:02] ballashop commented on #24278
Ok thanks a lot.
Balla

[2021-04-30 14:16] ballashop opened #24287 "Template order_conf email layout has a problem"
Hi,
I don't find the problem and I don't understand why this happens:
layout of the email template of the theme in use (test done on both the classic theme and the purchased theme)

<img width="406" alt="Schermata 2021-04-30 alle 16 00 54" src="https://user-images.githubusercontent.com/28685316/116706282-c4330580-a9cd-11eb-882d-060e1e2d567f.png">

I just entered a **x**:
<img width="406" alt="Sche

[2021-04-30 14:55] #24278 closed, assigned to nobody

[2021-04-30 14:56] florine2623 commented on #24277
Do you have the zip version of the module ?

[2021-04-30 15:43] redactuk commented on #21248
Is there any update on this issue? We've just demonstrated 1.7 upgrade to client and they have identified this as major issue for them i.e. not only can you not add price impact including tax on main grid, but even at the item level the final price still shows tax exuded making it massively time consuming on products with many combinations to work out what price should be!

[2021-04-30 16:04] 01park opened #24290 "Contact form not working correct with Chrome / GDPR module"
I notice after migrating to 1.7.7.3 from 1.7.6.5 that the contact form no longer works correct with Chrome.

It's not possible to send messages, simple because the GDPR check option does not appear.  When trying this in Chrome incognito, it does show and also when I try in Safari.

I cleared my browser history and removed all cache files.

#### Expected behavior

To work with Chrome

#### Steps to

[2021-04-30 18:58] toutantic commented on #23235
I wonder if a user interface to turn feature flags on and off is needed. As already stated
"experimental features" are for advanced users who know what they are doing. I would say it is better to manage it from the command line, via an API or with environment variables.

[2021-04-30 20:21] #13872 closed, assigned to matks

[2021-04-30 20:22] matks commented on #13872
Fixed by @Prestaworks  in https://github.com/PrestaShop/PrestaShop/pull/24155

[2021-04-30 20:25] matks commented on #24290
Hello @01park if it works with Chrome Incognito mode, it is very likely there is no issue with GDPR module and Chrome.

Can you try from another device (another computer or a smartphone) and Chrome to confirm? I think something related to your session might create the issue.

[2021-04-30 20:28] matks commented on #24287
Hello @ballashop you mean that
1. You introduce a very small change inside the mail theme layout
2. You observe a big change in how the mail is being displayed

[2021-04-30 21:19] photinia73 opened #24291 "product image combinations dont work correct"
Hello!
PS 1.7.7.2
https://te.com.ua

I discover that when I put on product several combination with color variants in the FO the main image don`t change with checking different color.  The images below change. I apply the relevante images to color in BO
![image](https://user-images.githubusercontent.com/50954519/116755229-c9667380-aa12-11eb-952e-48088585b6f5.png)

I can`t understand what happened

[2021-05-01 01:43] hibatallahAouadni commented on #24291
Hello @photinia73

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-05-01 01:43] #24291 closed, assigned to nobody

[2021-05-01 07:46] ballashop commented on #24287
Hi @matks,
exact.
From what I understand, when you use a theme, the "operational" mails sent automatically to the system such as order_conf, are inside the theme folder in the following directory
root/themes/theme_in_use/mails/.
I have installed several PrestaShop sites in MAMP both with classic theme and with purchased theme.
All test order_config emails reported the same problem.
Now I'm testing

[2021-05-01 08:45] photinia73 opened #24292 "the product image with combinations is not display correct"
#### Describe the bug

The product image that have combinations (different colors) not display accordanly to their colors . Main image display all time when other colors selected. The URL change, the images below main image also change, but not the big image.
In the BO  the relevante images are applied to their colors.
Also if in the in the combinations (BO) was selected like tipical combination t

[2021-05-01 08:58] ballashop commented on #24287
Hi @matks,
the email in English works so I copied it in the folder of the language we use, I translated the texts and did the purchase tests.
Layout is ok now.
Bye.
Balla

[2021-05-01 09:47] 01park commented on #24290
Hi,

Yes on my smartphone it is working. Just on my Mac its not.

[2021-05-01 09:48] ced--ced opened #24293 "Product search issue with capital letters"
#### Describe the bug

When I search for a product in the product list in admin, I find my products if I put a capital letter to the search work, like it is in the product name, but I don't if I put a small letter.

I's the same problem when I search for the product with the search field at the top of the admin.

#### Expected behavior

We should find the products whatever the way the work is writ

[2021-05-01 12:10] luigimassa opened #24294 "Performance ps_facetedsearch"
#### Describe the bug

Prestashop performance is very slow when the module ps_facetedsearch is activated

#### Expected behavior
Low sql time when the module  ps_facetedsearch is activated

#### Steps to Reproduce

1. Go to 'manage module'
2. Click on 'activate the ps_facetedsearch"
3. Go to the shell
4. exec curl -s -w '\nLookup time:\t\t%{time_namelookup}\nConnect time:\t\t%{time_connect}\nSSL h

[2021-05-01 15:48] orthofoods commented on #22652
Hello,

About the first bug, I've solved it by modifying the CustomerController (in src/PrestShopBundle/Controller/Admin/Sell/Customer)

line 413 change  $phrases = explode(' ', $query); in $phrases =[$query];

The problem is that I've to do it for each update. So I'm trying to do a module to decorate the controller, but I'm stuck in a routing problem.

[2021-05-01 20:49] matks commented on #24290
@01park I think some people reported the issue that

1. They login to BO with a browser
2. They perform an upgrade
3. After upgrade they cannot do some things on FO with the browser used before to login in the BO

So this would indicate something inside the Cookie profile of the BO user can wrongly fails the some FO logic.

[2021-05-02 00:37] alfonsolr09 opened #24295 "Error processing a refund for an order"
#### Describe the bug

When making a refund from the Prestashop checkout menu, it does not create a negative payment in the menu above

#### Expected behavior

it should create a negative payment so as not to show the error that you have paid 31.50 instead of 30.95. like this
![image](https://user-images.githubusercontent.com/62474824/116798436-abbb0c00-aaef-11eb-862d-18153303281d.png)

#### Steps

[2021-05-02 00:47] alfonsolr09 opened #24296 "date and time error when making refunds"
#### Describe the bug

when you make a refund, the date of the refund is wrong

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to make any refund
2. See the error in the date and time

**Screenshots**

![image](https://user-images.githubusercontent.com/62474824/116798488-24ba6380-aaf0-11eb-8937-d4ac181f082d.png)

#### Additional information

I made the purchase on 05-02-2021 at 0

[2021-05-02 01:05] alfonsolr09 commented on #23983
in previous versions, before migrating the order page to symfony, you could make a negative refund
![image](https://user-images.githubusercontent.com/62474824/116798732-086bf600-aaf3-11eb-82d9-f1601322eab4.png)

[2021-05-02 01:18] alfonsolr09 opened #24297 "add an extra tax when choosing cash on delivery"
#### Is your feature request related to a problem?

add an extra tax when choosing cash on delivery

![image](https://user-images.githubusercontent.com/62474824/116798968-1589e480-aaf5-11eb-8476-a6c30870d5f7.png)

[2021-05-02 05:41] jcarloscid commented on #24122
Ping @PrestaShop/prestashop-core-developers friendly reminder ;-)

[2021-05-02 10:53] 23b commented on #24277
https://github.com/PrestaShop/psgdpr

[2021-05-02 12:27] photinia73 commented on #24292
After investigation it seems that problem in my Theme ((

[2021-05-02 12:27] #24292 closed, assigned to nobody

[2021-05-02 12:40] matks commented on #24292
Unfortunately it happens 😞 .

You should reach out to the developer of the theme. It is in his best interest to fix this bug, as any customer using this theme might have it as well.

[2021-05-02 14:47] Whip commented on #24174
Sorry to bother you guys but can you tell me in which file does this calculation happen? I want to compare it with a fresh installation and see if something went wrong in the file during any of the upgrades I've done since I made this website.

[2021-05-02 18:02] enoelai opened #24298 "ERROR 500 / PrestaShopBundle\Entity\Tab error"
Please help me
`The association PrestaShopBundle\Entity\Tab#tabLangs refers to the owning side field PrestaShopBundle\Entity\TabLang#tab which does not exist.`

[2021-05-02 18:42] henri9813 opened #24299 "Not all products are indexed"
Hello,

There is 10011 products in my shop, only half part are indexed.

![image](https://user-images.githubusercontent.com/4645967/116823747-84fbe480-ab86-11eb-908e-6f8217a68e47.png)

I tried both options, "Add to the index, the missing products", and "Rebuild the whole index", both operation succeed but they are still many missing products.

In all cases, i got only 4444 articles in the index. T

[2021-05-02 20:43] matks commented on #24298
Hello @enoelai

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**. https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-report

[2021-05-02 20:43] #24298 closed, assigned to nobody

[2021-05-02 20:45] matks commented on #24122
Hello @jcarloscid, the team is currently under heavy workload because of the deep testing of [PrestaShop 1.7.7.4](https://github.com/PrestaShop/PrestaShop/issues/24164) so you might need some patience before next answer 😉

[2021-05-02 21:27] 01park commented on #24290
Is there anyway to delete these cookings or where are they stored?

[2021-05-02 21:33] 01park opened #24300 "Select partial part of product link in backoffice order page"
#### Describe the bug

In 1.7.6 it was possible to select a part of the product link and copy this ( order page ). This is handy, for when you want to select only the product reference and find it in the search ( front office )

In 1.7.7 it is impossible to select a part of the product link or reference. You need to select the whole link and edit this or click on the link that brings you to the pr

[2021-05-03 06:57] Progi1984 commented on #24033
Fixed by #24266

[2021-05-03 06:57] #24033 closed, assigned to atomiix

[2021-05-03 07:33] Julievrz commented on #23996
Hi @matks
I think this page should be documented. But my problem is: where should this documentation page be created? On Confluence or on GitBook?
No page is supposed to be added on Confluence now that we have GitBook...
@MatShir What do you think?

[2021-05-03 07:34] sarahdib opened #24301 "Can not add or edit product with "," on product page V2"
#### Describe the bug
Can not add or edit product with "," on product page V2

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'BO -> activate experimental feature
2. Click on catalog -> Product and edit a product
3. Change for exemple 13,10  by adding a number
4. See error
Same for create a new product when we add a number with ","

**Screenshots**

https://drive.google.com/fi

[2021-05-03 08:10] Morerice opened #24302 "actionEmailSendBefore hook can trigger infinite loop"
#### Describe the bug

When a module attempts to execute this hook, there is a risk of causing an infinite loop. Consider the following flow:

1. Hook::exec()
2. Module::getInstanceByName()
3. Module::coreLoadModule()
4. ServiceLocator::get()
5. Container::doMake()
6. Container::makeInstanceFromClassName()
7. New module instance is created.

However, if during module creation (step 7) a new log sh

[2021-05-03 08:17] matks commented on #24290
@01park Yes, you can follow Chrome doc to clear the cookies
https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DDesktop&hl=en

I close the issue as it seems it's not a bug report 😉

[2021-05-03 08:17] #24290 closed, assigned to nobody

[2021-05-03 08:36] matks commented on #24294
Hello @luigimassa performance is a very subjective topic.

I suggest reading https://build.prestashop.com/news/performance-and-prestashop/ as it provides some background for this statement 😄 .

Faceted search module is indeed a complex module and using it adds an overhead on requests. But is it too big ? Is it worth it ? Is it relevant ? it also depends on your server, on your SQL content, on othe

[2021-05-03 08:37] Progi1984 commented on #24260
Fixed by #24134

[2021-05-03 08:37] #24260 closed, assigned to jolelievre

[2021-05-03 08:37] hibatallahAouadni commented on #24287
Hello @ballashop

I reproduce the issue with PS1.7.7.3, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/116856372-59671180-abfb-11eb-9220-85b376486997.png)

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #21630.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-05-03 08:37] #24287 closed, assigned to nobody

[2021-05-03 08:37] hibatallahAouadni commented on #24287
Duplicate of #21630

[2021-05-03 08:51] okom3pom commented on #20748
Hi @marionf for the #pullrequestmonday i want to work on it but i need to know if it's only for classic theme or for all theme because the work to do it's very different.

After i aggree @PierreRambaud because :

The Merchant :

1 ) he Install a theme ,
2 ) he install a new module ( sales prodcuts ) an he put in at position one.
3 ) After to week he reset ps_imageslider

The shop dont respect the

[2021-05-03 08:53] kdegenkamp opened #24303 "BO - Multistore - An issue with creating an order from a shared shopping cart"
#### Describe the bug

On multishop environment, when you create an Order on **Shop_2** with a shared shopping cart (which was created in **Shop_1**). In the Orders list, it will display that the order was created in **shop_1**

#### Expected behavior

It should display **shop_2** in the shop column

#### Steps to Reproduce

1. **BO** > enable multistore context
2. Create a shop group and enable a

[2021-05-03 08:56] ballashop commented on #24287
Ok @hibatallahAouadni thanks a lot.

I did.
Bye.
Balla

[2021-05-03 09:10] Progi1984 commented on #24258
Fixed by #24168

[2021-05-03 09:10] #24258 closed, assigned to jolelievre

[2021-05-03 09:20] marionf opened #24304 "What PrestaShop should do about FLoC ?"
#### Is your feature request related to a problem?

Google is trying a new way to track users through [FLoC](https://tech.hindustantimes.com/tech/news/googles-floc-what-is-it-and-why-so-many-other-browsers-are-against-it-71618391396349.html). Websites have the ability to disable the tracking by sending a Policy header (controlled by server-side).

#### Describe the solution you'd like

Available p

[2021-05-03 09:21] prestascott commented on #24284
Hey @hibatallahAouadni,

Thanks for your report!

In 1.7.7.3 version, it seems that the alert is placed in the header... It shouldn't. The alert should be place between the header and the shopping cart container.

The height of the header doesn't change.

[2021-05-03 09:25] hibatallahAouadni commented on #23633
Hello @ang3lx & @dali-rajab

I didn't manage to reproduce the issue, please check my screen record below:

https://drive.google.com/file/d/1i3xQ-OG4t1qE58cVIJoGVz1JTNaCF8Hz/view

1. install 1.7.6.9
2. add the customer note
3. upgrade my shop to 1.7.7.3
4. successful upgrade

Please check and feedback.
Thanks!

[2021-05-03 09:30] hibatallahAouadni commented on #15179
Ping @PrestaShop/product-team what's the status of this issue?

[2021-05-03 09:34] hibatallahAouadni opened #24306 "FO - Quick view - The product image is displayed incorrectly"
#### Describe the bug

Access to FO and click on quick view, the product image is not well displayed, the width is 95% and not 100%

#### Expected behavior

the product image's width is 100%

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to **FO**
2. Click on **Quick view**
3. See error => the product image looks compressed (width = 95%)

**Screenshots**

1.7.7.3 :heavy_check_ma

[2021-05-03 09:38] okom3pom commented on #20748
And it's possible to set the defaut position only if the module is include with the theme.

[2021-05-03 09:38] NeOMakinG commented on #24306
Fixing it today

[2021-05-03 09:43] Progi1984 commented on #21745
Yeap

[2021-05-03 09:44] jeckyl commented on #20748
How to handle this if the user has made the decision to move the module to another location?

[2021-05-03 09:48] khouloudbelguith opened #24307 "BO - Orders page - The order carrier ID is invalid."
#### Describe the bug

In the BO > Orders > Order detail page, after updating a product ordered (price or quantity or price & quantity), then we try to edit the carrier => an error is displayed `The order carrier ID is invalid.`

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Greate an order from FO and select as a carrier "My carrier" for example
2. Go to BO > Orders > View last or

[2021-05-03 09:51] fredoche1810 opened #24308 "Tax label always visible in shipping method and cart summary"
Hello,
I don't think this bug is only for the version 1.7.7.3 but also for the previous versions.
In B2C, when the customer is outside the European union, Prestashop don't show and apply the VAT on the products.
That's correct.
But when you have to select the shipping method, or on the cart summary on the right the label VAT included ("TTC") is visible or the taxes aren't included in the price ...

[2021-05-03 09:52] hibatallahAouadni commented on #24299
Hello @henri9813

Could you please check this issue #15640 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-05-03 09:55] henri9813 commented on #24299
Hello,

Thanks for your answer,

In the product, there is a supplier:
![image](https://user-images.githubusercontent.com/4645967/116863356-77863f00-ac06-11eb-800f-c807e24a6bd7.png)

What can i check to help you in your research ?

Thank you!

[2021-05-03 10:00] arirangz commented on #20633
@khouloudbelguith
Hello !
I figured out that this issue happen if you open the pdf with the default preview on Mac OS.

Could you please give a try to see if you can reproduce?

Thanks

[2021-05-03 10:02] hibatallahAouadni commented on #24294
Hello @luigimassa

As @matks mentioned, this module performance depends on your server, on your SQL content, on other modules installed... While with fresh install, I can't see any difference :confused: (ps_factedsearch enabled or disabled).

I'm really sorry but I have to close the issue unless, you create a PR to improve this module performance otherwise `this topic is too vague to be explored.`

[2021-05-03 10:02] #24294 closed, assigned to nobody

[2021-05-03 10:18] hibatallahAouadni commented on #24284
Hello @prestascott

Even with PS1.7.6.7 and PS1.7.4.1, the alert has been always placed in the header :sweat_smile:

You're right! So, it should be displayed like this (for exemple, I'm not a pro :sweat_smile: ):

![image](https://user-images.githubusercontent.com/23308427/116865275-9df9a980-ac09-11eb-8fa8-8f657de1f57b.png)

Please check and feedback.
Thanks!

[2021-05-03 10:25] hibatallahAouadni commented on #24299
Hello @henri9813

It seems your products are not indexed cause they are assigned to a default supplier.
So, your issue is a duplicate to this one #15640

Try removing the default supplier assignment from a product, then reindex and check if the product has been added to the index.
Please check and feedback.

Thanks!

[2021-05-03 10:31] henri9813 commented on #24299
Hello,

I remove the supplier:
![image](https://user-images.githubusercontent.com/4645967/116866265-62f87580-ac0b-11eb-84ac-70626b217c4c.png)

However, after rebuild the whole index, the product is not indexed.

Thank you

[2021-05-03 10:42] henri9813 commented on #24299
In addition, all my products use the same supplyer, i have only one supplier

[2021-05-03 10:42] hibatallahAouadni commented on #24257
Hello @darfk3d3

You're right! But it's related #23131 :wink:
So, how about we add your issue description and screenshot in this issue #23131
Cause, they should be fixed together, wdyt?

Thanks!

[2021-05-03 10:44] hibatallahAouadni commented on #24308
Hello @fredoche1810

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #23131 (#24257)
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-05-03 10:44] #24308 closed, assigned to nobody

[2021-05-03 10:44] hibatallahAouadni commented on #24308
Duplicate of #23131

[2021-05-03 10:46] okom3pom commented on #20748
@jf-viguier say me an option exist for theme reset  and all positions are good after. But for this option we need to put PS_MODE_DEV  to ON why not allow this option for all context ?

[2021-05-03 10:51] jeckyl commented on #20748
@jf-viguier picture
![image](https://user-images.githubusercontent.com/595633/116867958-36922880-ac0e-11eb-9870-a0f0781b7a58.png)

[2021-05-03 10:53] jf-viguier commented on #20748
Yes, a theme reset should solve the issue if theme.yml is correct.

[2021-05-03 11:11] prestaprojet opened #24311 "Impossible d'avoir le Calcul des frais de Port dans le panier - Liste des transporteur visible dans le panier"
Bonjour,

Voici ma configuration actuelle
Windows 7 + DUC 4.1.1 + BOX MIAMI + wamp apache 2.4.37 + MYSQL 5.7.24 + PRESTASHOP 1.7.7.3
Theme : classic dupliqué en child.

Voici la description du BUG

J'ai installé Boxtal pour les livraisons des colis ;
J'ai réalisé un test de commande pour valider le fonctionnement mais malheureusement les frais de livraison liés au transporteur n'apparaissent pas d

[2021-05-03 11:29] matks commented on #24311
Hi @prestaprojet would it be possible to use English 😉 ? This is a worldwide project we have to use English for every users so that anybody can understand 😄

[2021-05-03 11:30] matks commented on #24311
That being said, if you need help, GitHub issues are used only to discuss about bugs and new features for the PrestaShop project.
You will probably find some help in https://devdocs.prestashop.com/1.7/faq/i-need-help/

[2021-05-03 11:57] dali-rajab commented on #23633
@hibatallahAouadni sorry to tell you that you need to redo the test, but with a note that containts some double quotes `"` , in fact
 i think the issue has nothing to do with Japanese characters. Sorry again 😞

[2021-05-03 12:20] sowbiba opened #24313 "Restore call of organize tree"
#### Describe the bug

We have this piece of code
[code]
in the function `organizeTree` of https://github.com/PrestaShop/PrestaShop/blob/1.7.7.x/admin-dev/themes/default/js/tree.js is

`getCategoryId` can return null when no element `$('input[name=id_parent]')` is found.
So the call for `.parent().parent()` will return a JS error

In 1.7.7.4, the call for organizeTree have been removed to fix this

[2021-05-03 12:33] zuk3975 opened #24314 "Plain json shown after payment module install/disable"
#### Describe the bug

When installing/disabling any payment module in **BO -> Payments -> Payment methods** plain json response is shown instead of normal page rendering.

#### Expected behavior

I would expect a redirection back to the page with success message.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admin page -> Improve -> payment -> Payment methods
2. Click on "I

[2021-05-03 12:46] hibatallahAouadni commented on #24293
Hello @ced--ced

I didn't manage to reproduce your issue with PS1.7.6.7 and PS1.7.7.3, check my screen record below:

https://www.awesomescreenshot.com/video/3603475?key=5a37282e231c8ecb7aa49762fd4f23f7

Please check and feedback.
Thanks!

[2021-05-03 12:47] prestascott commented on #20536
Hello everyone,

Thanks @Hlavtox for the request!

Sorry for the late reply but here I am ✌️

@MatShir This label should be placed between the last combination and the "Add to cart" CTA because customers need to read the infos and be aware of the conditions before clicking the CTA.
See my proposition:
![image](https://user-images.githubusercontent.com/54888056/116877138-d4d9ba80-ac1d-11eb-9680-924

[2021-05-03 12:53] Hlavtox commented on #20536
@prestascott Perfect!

[2021-05-03 13:21] hibatallahAouadni commented on #24295
Hello @alfonsolr09

Related to #23983
You mean that it should be a minus close to the Credit slip amount, is that so?

![image](https://user-images.githubusercontent.com/23308427/116880867-d063d080-ac22-11eb-90ee-3fe0af8b609d.png)

As it appears on the Credit slip:

![image](https://user-images.githubusercontent.com/23308427/116880967-f8ebca80-ac22-11eb-84fe-77f5804e419d.png)

Please check and fee

[2021-05-03 13:36] #24313 closed, assigned to nobody

[2021-05-03 13:37] hibatallahAouadni commented on #24297
Hello @alfonsolr09

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement thi

[2021-05-03 13:42] hibatallahAouadni commented on #24296
Hello @alfonsolr09

It seems that your issue is not a PrestaShop core bug.
If your module is PrestaShop Checkout Official, please contact support team on [Addons](https://addons.prestashop.com/fr/contactez-nous?id_product=46347)

We will close this issue.

Thanks!

[2021-05-03 13:42] #24296 closed, assigned to nobody

[2021-05-03 13:46] hibatallahAouadni commented on #24311
Hello,

Please send your request in English. English is the norm on GitHub.

Thank you

[2021-05-03 13:46] #24311 closed, assigned to nobody

[2021-05-03 13:59] arirangz opened #24316 "Currency sign too close from price on invoice"
#### Describe the bug

When opening an invoice on **MAC OS** default viewer, the currency sign is covering the price (see screenshot attached).

I did some testing changing the default pdf fonts and it's working good with the other fonts (free, dejavu). So the issue is with Helvetica not handled the same way on mac.

#### Expected behavior
To have a bit more space between the currency signe and th

[2021-05-03 14:00] hibatallahAouadni commented on #20536
Hello everyone,

Thanks @prestascott for your quick reply :wink: and your proposition :clap:
So, we have a PM :heavy_check_mark: and UX :heavy_check_mark: I will change the label TBS to To Do

Great work guys :rocket: and thanks @Hlavtox for your proposition :wink:

[2021-05-03 14:03] prestascott opened #24317 "[UI Kit] Updating tooltips colors"
#### Describe the bug

Update tooltips colors (default and hover)

#### Expected behavior

Tooltips color if default: `#25B9D7`
Tooltips color if hover: `#66CEE3`

**Screenshots**

![image](https://user-images.githubusercontent.com/54888056/116886031-e1afdb80-ac28-11eb-9fea-20c265f81764.png)

#### Additional information

* PrestaShop version: develop
* PHP version: 7.1

[2021-05-03 14:07] Hlavtox opened #24318 "Customer can continue to checkout, if there are multiple unavailable products"
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create two products, set quantity to 5 to both of them, disable ordering of out of stock products for both of them.
2. Add 5 pieces of both of them to cart. Go to cart.
3. Go to BO, reduce stock of both of them to 1.
4. Go back to FO cart, refresh page.
5. Click minus sign on the first product, until you get to 1.

See error - **Error m

[2021-05-03 14:09] jolelievre commented on #24259
Here is some feedback from @TristanLDD that need to be addressed in this PR:

- [ ] Aligner champs prix -> onglet basic
- [ ] Aligner tooltip product type
- [ ] Bouton edit on expérimental product page -> primary outline
- [ ] Agrandir champs prix pour harmoniser avec champs texte
- [ ] Ajouter 15px d’espacement entre message d’info et champs associé
- [ ] Ajouter message info sous Target category

[2021-05-03 14:11] Hlavtox opened #24319 "Improve cart page hooks"
#### Is your feature request related to a problem?

I think it would be good to improve hooks on cart page and refresh them together with products and totals.

For example - I am using the displayShoppingCartFooter for displaying upselling based on cart content, but if user removes something from cart, it would be good if this content also refreshed.

Or another example - I would like to show "Buy

[2021-05-03 14:16] jacob-v-dam opened #24321 "Blockwishlist upgrade v1.3.2 -> 2.0.0 fails"
#### Describe the bug

I'm unable to upgrade blockwishlist version v1.3.2 to v2.0.0 in a multishop context

#### Expected behavior

Upgraded module to v2.0.0

#### Steps to Reproduce

1. Go to Modules
2. Go to tab "Updates"
3. Upgrade blockwishlist

**Screenshots**

![image](https://user-images.githubusercontent.com/310526/116887667-d8c00980-ac2a-11eb-8507-94226d670eab.png)

#### Additional inform

[2021-05-03 14:33] hibatallahAouadni commented on #24319
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-05-03 14:37] plepicier opened #24322 "slowness of the order validation page"
Hello

#### Describe the bug

I have a problem with the order validation page being too slow. After filling in the form on the order page with the delivery and payment method, the validation page is very slow.

For example for a payment by cheque, it takes me 3 - 4 minutes for the order to be validated. The same goes for Monetico, I cannot validate the production TPE because the loading time is to

[2021-05-03 14:40] hibatallahAouadni commented on #23429
Ping @marionf where I should put this issue? in Project 1.7.8.0 or Project 1.7.9.0?

[2021-05-03 14:53] matks commented on #24164
Release has been done by @matthieu-rolland https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.7.4

[2021-05-03 14:54] khouloudbelguith commented on #23973
Hi @matks ,

My MySQL version is  8.0.22
![image](https://user-images.githubusercontent.com/16067358/116892444-212df600-ac30-11eb-8992-01d5ed20473b.png)

Thank you!

[2021-05-03 15:52] matks commented on #23973
@khouloudbelguith Thank you :) so we are sure this is related to MySQL 8 as suggested by @TBurtin

[2021-05-03 16:13] #23734 closed, assigned to atomiix

[2021-05-03 16:13] matks commented on #23734
Fixed by https://github.com/PrestaShop/PrestaShop/pull/23902

[2021-05-03 19:34] 01park opened #24326 "Increase the amount of that can be sorted - 1.7.7.3"
In 1.7.6 it was possible to export up to 1000 orders or sort by. In 1.7.7 this has been reduced to 100

Describe the solution you'd like

Increase back to the old standaars or higher. Makes it better for exporting.

Prestashop 1.7.6.3

[2021-05-03 22:15] alfonsolr09 commented on #24326
this is your solution
https://youtu.be/qsNtGU-IJkY

[2021-05-03 22:43] alfonsolr09 commented on #24295
no.
I mean when you do a partial refund from this menu (imagine I make a 0.55 refund)
![image](https://user-images.githubusercontent.com/62474824/116942113-41ca7000-ac71-11eb-9b27-b344cf3d3e63.png)

a negative payment should be created like the one in this image
![image](https://user-images.githubusercontent.com/62474824/116942305-a259ad00-ac71-11eb-85d9-5e800a0072a3.png)

so that an error message

[2021-05-03 22:45] alfonsolr09 commented on #24297
I think this improvement is very important since most carriers charge a percentage on cash on delivery

[2021-05-04 01:02] hibatallahAouadni commented on #24318
Hello @Hlavtox

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #18958.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-05-04 01:02] #24318 closed, assigned to nobody

[2021-05-04 01:02] hibatallahAouadni commented on #24318
Duplicate of #18958

[2021-05-04 01:51] hibatallahAouadni commented on #24300
Hello @01park

I managed to reproduce the issue with PS1.7.7.3 and as you mentioned it has been working with PS1.7.6.x.
If you notice the structure of the link has been changed, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/116952073-07210180-ac8a-11eb-909d-aff709c43c26.png)

With PS1.7.6.x, the link structure is composed from **`span`** tags.
In

[2021-05-04 01:58] hibatallahAouadni commented on #24297
Hello @alfonsolr09

If you create a PR, this improvement will be prioritized :wink:

Thanks!

[2021-05-04 02:01] hibatallahAouadni commented on #24302
Hello @Morerice

Thanks for your detailed bug report!
Could you please provide a simple module which registers the `actionEmailSendBefore` hook and call the `PrestashopLogger::addLog` function, it will be easier to repropduce the issue :pray:

Thanks in advance!

[2021-05-04 02:30] hibatallahAouadni commented on #24303
Hello @kdegenkamp

I didn't manage to reproduce your issue with PS1.7.7.3, see the attached screen record below:

https://www.awesomescreenshot.com/video/3611726?key=0701adaf692c7c622cdf58fef95ca980

To be honest, your bug report is a little bit confusing. Could you please provide more details and explain it more.
Please check and feedback.

Thanks!

[2021-05-04 03:40] hibatallahAouadni commented on #24314
Hello @zuk3975

Thanks for your issue!
I reproduce the issue with develop and 1.7.8.x.
When I try to reproduce the issue with 1.7.8.x (not updated since friday), I get this error:

![image](https://user-images.githubusercontent.com/23308427/116958403-cbdafe80-ac9a-11eb-8e72-042d6862a91b.png)

After updating the branch, I get the same error as develop:

![image](https://user-images.githubuserconten

[2021-05-04 04:21] hibatallahAouadni commented on #24316
Hello @arirangz

I didn't manage to reproduce the issue with PS1.7.6.7 on Mac OS Safari 14, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/116960538-f3cd6080-aca0-11eb-9824-d6d10af4ccdf.png)

Please check and feedback.
Thanks!

[2021-05-04 04:33] hibatallahAouadni commented on #24321
Hello @jacob-v-dam

How did you install blockwishlist version v1.3.2 on 1.7.7.3 in the first place? :sweat_smile:
Did you install PS1.6.1.24 and blockwishlist version v1.3.2, then you upgrade your shop to 1.7.7.3?
Please check and feedback.

Thanks!

[2021-05-04 04:46] hibatallahAouadni commented on #24322
Hello @plepicier

That's not normal!!! In my case, I can't reproduce the issue.
Well, it also depends on your server, on your SQL content, ...

I'm really sorry but I can't help you cause I can't manage to reproduce the issue :confounded:
It seems you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help

[2021-05-04 04:46] #24322 closed, assigned to nobody

[2021-05-04 04:47] hibatallahAouadni commented on #24326
Hello @01park

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-05-04 04:47] #24326 closed, assigned to nobody

[2021-05-04 05:01] hibatallahAouadni commented on #23977
Hello @zubco

Thanks for your patience :pray:
i installed your module and configure it, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/116962509-6c82eb80-aca6-11eb-8289-febfc02dc893.png)

What I should do to encounter the issue?
Please check and feedback.

Thanks!

[2021-05-04 05:08] hibatallahAouadni commented on #23893
Ping @PrestaShop/prestashop-core-developers could someone reproduce the issue :pray:
Thanks in advance!

[2021-05-04 06:21] matks commented on #24300
Hello everyone,

1. If I understand correctly this matter, this is not a bug.

A bug is a situation where the software does A _on purpose_ and later it A cannot be done anymore because it's faulty, it's broken.

I dont think it was done on purpose to use a span to allow to select a part of the product link. I think it is an unwanted side-effect that can be useful for some users. It was never suppo

[2021-05-04 06:44] Morerice commented on #24302
Use this branch of the adyen official payment module: https://github.com/Adyen/adyen-prestashop/tree/PW-4368
To trigger the issue:
1. Install the plugin
2. Set the final parameter of [this function](https://github.com/Adyen/adyen-prestashop/blob/43fc6c91b4072e1a342f4a6db2fa5fc2ae427785/service/Client.php#L67) to `true`
3. Access the Design > Positions tab

[2021-05-04 06:53] Progi1984 commented on #21825
Fixed by @atomiix in #24286

[2021-05-04 06:53] #21825 closed, assigned to atomiix

[2021-05-04 07:38] marionf commented on #23429
It depends if it's a regression of the 1.7.8 or develop ;)

[2021-05-04 07:41] darfk3d3 commented on #24257
For me that's ok, you can add this issue to #23131

[2021-05-04 07:56] matks commented on #24295
@alfonsolr09 I dont think there should be a negative payment.

A negative payment does not exist. A refund is not a negative payment 😄  .

That being said you can challenge the behavior of the page but I think adding negative payments is misleading.

Wdyt @PrestaShop/product-team

[2021-05-04 07:59] prestascott commented on #24284
@hibatallahAouadni Great mockup!

I forgot to mention, but the sticky alert must have the same width than your previous screenshots.
It needs to be aligned with the "Shopping cart" card.

[2021-05-04 08:17] marionf commented on #9811
Thank you for the summary @matks

Yes, this is the usecase described in this issue and that should be fixed ;)

Yes, I think we could change "if they have no other category" by "if they have no other category or no main category", to be confirmed by @Julievrz

[2021-05-04 08:25] okom3pom commented on #22825
Hi @MatShir,

It's possible to fix this issue, but if a merchant enable or disable Gift Wrapping he need to re-generate template e-mail.

I don't know if it's a good idea ?

You can test with ; https://github.com/PrestaShop/PrestaShop/pull/24331

[2021-05-04 08:29] matks commented on #24164
Release is now available for upgrade thanks to @matthieu-rolland

[2021-05-04 08:55] hasager1 commented on #22464
when do you expect this to be done?

[2021-05-04 09:18] okom3pom commented on #19022
@PierreRambaud you have an error in the bacloffice because  you add > or < and the validate of legend is `isGenericName`

If we change by `isCleanHTML` it's ok and we can see ( encoded ) < or > in the alt image

I can made a PR if it's ok for you

[2021-05-04 09:20] Seb33300 commented on #22825
Is it not possible to regenerate automatically this specific email template when enabling / disabling Gift Wrapping feature?

[2021-05-04 09:25] okom3pom commented on #22825
Hi @Seb33300 ,

If a merchant made modification; the template is erase ... so i need PM feedback

[2021-05-04 09:34] Cherrerotinoco commented on #22215
@DelosTR thanks to you, I tried your solution and it works like charm!

[2021-05-04 09:35] #23434 closed, assigned to atomiix

[2021-05-04 09:35] atomiix commented on #23434
Fixed by #24274

[2021-05-04 09:35] #24066 closed, assigned to matthieu-rolland

[2021-05-04 09:35] atomiix commented on #24066
Fixed by #24211

[2021-05-04 09:43] Robin-Fischer-PS opened #24333 "Missing scrollbar in Multistore dropdown"
#### Describe the bug

When we have a lot of shop (in Multistore), the multistore dropdown does not have a scrollbar, the display is not OK

#### Expected behavior

There should be a scrollbar inside the dropdown to easily navigate through the multiple shops (like in the multistore header)

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Have Multistore ON, add at least 30-40 shops
1

[2021-05-04 09:44] PierreRambaud commented on #24164
Docker images have been built and pushed on Docker Hub.

[2021-05-04 09:44] #24164 closed, assigned to matthieu-rolland, marionf

[2021-05-04 09:53] Robin-Fischer-PS opened #24334 "Multistore dropdown - In Group Context, display only the shops of the group"
#### Describe the bug

In Multistore, when we have several group with shops inside, if I'm in a Group Context in a page where the multistore dropdown can be displayed, I want the dropdown to display only the shops inside the group, not all the shops.

#### Expected behavior

Display only the shops inside the group in Multistore Dropdown

#### Steps to Reproduce

Steps to reproduce the behavior:

0

[2021-05-04 11:00] khouloudbelguith commented on #18715
Hi @atomiix,

Thank you @atomiix :slightly_smiling_face:
I think yes we can close it.
Ping @Julievrz what do you think?

Thank you!

[2021-05-04 11:18] #24284 closed, assigned to NeOMakinG

[2021-05-04 11:27] khouloudbelguith commented on #20633
Hi @arirangz,

I can't preview an invoice using BrowserStack.
![image](https://user-images.githubusercontent.com/16067358/116996867-5bed6800-acdc-11eb-89f8-e82ce1381f3a.png)
I don't use Mac OS.
@PrestaShop/qa-functional could you please try to reproduce the issue.

Thank you!

[2021-05-04 11:33] arirangz commented on #24316
hello @hibatallahAouadni
The test shouldn't be done with Safari, but opening the PDF with the pdf viewer.
Thanks

[2021-05-04 11:33] hibatallahAouadni commented on #24316
Duplicate of #20633

[2021-05-04 11:33] #24316 closed, assigned to nobody

[2021-05-04 11:34] arirangz commented on #20633
@hibatallahAouadni  Hello
The test shouldn't be done in Safari but using the default mac os pdf viewer
Thanks

[2021-05-04 11:39] Morerice opened #24336 "Include module emails in the order status template option"
#### Is your feature request related to a problem?

Currently, when editing an order status (Shop Parameters > Order Settings > Statuses), if an email is to be sent to the customer, the template select option does not offer the templates created within a module (located in `themes/{themeName}/modules/{moduleName}/mails`).

This is because in the `AdminStatusesController::getTemplates()` function,

[2021-05-04 11:41] kmorgen commented on #23401
Just updated a dev site to PS 1.7.7.4, and noticed the tracking url on the Order List page (dropdown) is incorrect.
It does not contain the actual barcode in the url (like on Order details page).

Did nobody do any QC?

[2021-05-04 11:41] hibatallahAouadni commented on #20633
Hello @arirangz

You mean this ?

![image](https://user-images.githubusercontent.com/23308427/116998338-5abd3a80-acde-11eb-89e4-c662cdd46c75.png)

Please check and feedback.
Thanks!

[2021-05-04 12:00] khouloudbelguith commented on #20633
Hi @arirangz,

What is the exact language/country did you use during the install? and what is the language of your employee?

Thank you!

[2021-05-04 12:18] okom3pom commented on #22186
This issue is fixed by : https://github.com/PrestaShop/PrestaShop/commit/c1b64fb0dc6e016d3c55a9d2d8c32360a8640989

[2021-05-04 12:22] Julievrz commented on #18715
Yes, that suits me fine thank you. 😊

[2021-05-04 12:22] #18715 closed, assigned to atomiix

[2021-05-04 12:39] marionf commented on #22186
@khouloudbelguith Could you please verify if this issue is well fixed on 1.7.8.x branch ?

[2021-05-04 12:53] Matt75 opened #24338 "ps_crossselling : Smarty cache clearing can break payment flow"
#### Describe the bug

The module https://github.com/PrestaShop/ps_crossselling generate a lot of cache files on filesystem and clear cache at every order status change causing poor performances and issues during checkout.

It generate a lot of cache files due to cache key used, that's contains every id_product in current cart https://github.com/PrestaShop/ps_crossselling/blob/v2.0.1/ps_crossselli

[2021-05-04 13:23] okom3pom commented on #22186
It's a duplicate https://github.com/PrestaShop/PrestaShop/issues/23422

[2021-05-04 13:33] alfonsolr09 commented on #24295
hi, i mean a refund.  in version 1.7.6.4 it was possible to add a negative payment so that this error would not be shown.

Keep in mind that currently when making a refund that error will always be displayed if a negative payment is not added...

so I think it is a mistake of one thing or another, but it is a mistake

[2021-05-04 13:35] hibatallahAouadni commented on #24336
Hello @Morerice

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this f

[2021-05-04 14:00] marionf commented on #22186
Thank you for your input @okom3pom :+1:

[2021-05-04 14:00] marionf commented on #22186
Duplicate of #23422

[2021-05-04 14:00] #22186 closed, assigned to nobody

[2021-05-04 14:35] Progi1984 commented on #24090
Fixed by @atomiix in #24268

[2021-05-04 14:35] #24090 closed, assigned to atomiix

[2021-05-04 14:36] Progi1984 commented on #24306
Fixed by @NeOMakinG in #24315

[2021-05-04 14:36] #24306 closed, assigned to NeOMakinG

[2021-05-04 14:51] khouloudbelguith opened #24340 "BO - Orders page - Ecotax issue - Price display method = Tax ecluded - the base price is changed after editing the product price"
#### Describe the bug

Reported here [before](https://github.com/PrestaShop/PrestaShop/pull/23492#issuecomment-827007279)
On the Order details page, when we try to update the product price, the base price tax excluded is changed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a product with Tax included = 12 euro / Tax =20% / Ecotax =5 (price without tax 5 +5.833=10.8333)
2.

[2021-05-04 14:54] Progi1984 commented on #24261
Fixed by @jolelievre & @NeOMakinG in #23865

[2021-05-04 14:54] #24261 closed, assigned to jolelievre, NeOMakinG

[2021-05-04 14:54] Progi1984 commented on #18949
Fixed by @jolelievre & @NeOMakinG in #23865

[2021-05-04 14:54] #18949 closed, assigned to jolelievre, NeOMakinG

[2021-05-04 15:07] arirangz commented on #20633
Hello @hibatallahAouadni : You have to double click on the pdf, then it will open with the default mac os viewer

Hello @khouloudbelguith : we installed it in French/France. The admin language of the employee is English GB

Thanks !

[2021-05-04 15:14] eternoendless opened #24341 "Wrong link after uninstalling mbo"
#### Describe the bug

When I uninstall `ps_mbo`, the Module Catalog link doesn't work anymore. It sends you to `/admin-dev/index.php?controller=AdminParentModulesCatalog` instead of `/admin-dev/index.php?controller=AdminModulesCatalog`, resulting in a page not found error:

![localhost_ps17x_admin-dev_index php_controller=AdminParentModulesCatalog token=8be9769ac0444d2ac8a7f96685e004b3](https://u

[2021-05-04 15:19] matks opened #24342 "Release 1.7.7.5"
This issue tracks the status of the PrestaShop 1.7.7.5 release

### Information

Q                                    | A
-----------------------|---------------
**Type**                        | Patch version
**Estimated build**  | 31-05-2021
**Milestone** | [1.7.7.5](https://github.com/PrestaShop/PrestaShop/milestone/73)
**Kanban** | [1.7.7.5](https://github.com/PrestaShop/PrestaShop/projects/15

[2021-05-04 17:18] johanlantz opened #24344 "smtp uses incorrect credentials"
#### Describe the bug

I updated to 1.7.7.4 today and had to change from the old mail() to using smtp.

However the server kept returning authentication errors even though I knew the password was correct.

Finally the hosting company could see that Prestashop sent an 11 character password while I could see in the backoffice that it was definetely only 10. I also tried to retype and copy paste vari

[2021-05-04 17:19] johanlantz commented on #24344
Closing this for now pending some info from the hosting company

[2021-05-04 17:19] #24344 closed, assigned to nobody

[2021-05-04 23:12] hibatallahAouadni commented on #24341
Hello @eternoendless

This issue has not full fixed (see my [comment](https://github.com/PrestaShop/PrestaShop/issues/11264#issuecomment-756759597))
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22740.
To be informed when it's fixed, please subscribe to the issue mentioned above.

**_PS: Sorry_** :grin:

Thanks!

[2021-05-04 23:12] #24341 closed, assigned to nobody

[2021-05-04 23:12] hibatallahAouadni commented on #24341
Duplicate of #22740

[2021-05-05 00:35] hibatallahAouadni commented on #24157
Hello @lmeyer1

Thanks for the steps and your patience :pray:
For the first issue **`gif looses transparency`**, I think it's the same issue as yours with JPEG #23920
For the second issue **`Incoherent restriction of settings to context All shops`**, we still working on **Image Settings** with the **Multistore**, check these features:

- #19412 - Multistore - Design > Images settings > Add new ima

[2021-05-05 00:37] hibatallahAouadni commented on #24054
Hello @paulps-stack ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-05 00:37] #24054 closed, assigned to nobody

[2021-05-05 04:35] hibatallahAouadni commented on #24338
Hello @Matt75

It seems your issue is similar to this one #20874
And your PS version is 1.7.3.3 or 1.7.7.3?

Well, I tried a few times but couldn't reproduce it (I think I'm lucky :grin: )
Please check and feedback.

Thanks!

[2021-05-05 04:53] hibatallahAouadni commented on #23429
Hello @marionf

I manage to reproduce with both develop and 1.7.8.x (this issue is related to PHP 7.4, cause I didn't manage to reproduce with PHP 7.2).

![image](https://user-images.githubusercontent.com/23308427/117098332-6f491380-ad6e-11eb-8e30-9b3e6563c498.png)

So, shall I add it to 1.7.8.0 project?

Thanks!

[2021-05-05 05:59] lmeyer1 commented on #24157
@hibatallahAouadni
PR #24159 fixes both bugs.

[2021-05-05 06:41] Progi1984 commented on #24147
Fixed by @NeOMakinG in #24269

[2021-05-05 06:41] #24147 closed, assigned to NeOMakinG

[2021-05-05 07:05] #21252 closed, assigned to nobody

[2021-05-05 07:09] Progi1984 commented on #24145
Fixed by @atomiix in #24270

[2021-05-05 07:09] #24145 closed, assigned to atomiix

[2021-05-05 07:09] Progi1984 commented on #24143
Fixed by @atomiix in #24270

[2021-05-05 07:09] #24143 closed, assigned to atomiix, NeOMakinG

[2021-05-05 07:18] liviu-v commented on #18786
I can not find anywhere how can I translate this module in other language, I sthere any one to help wit this?

[2021-05-05 07:28] marionf commented on #23429
If it worked on 1.7.7.x and not on 1.7.8.x, yes it's a regression of the 1.7.8 to fix

[2021-05-05 07:36] Julievrz commented on #9811
It suits me fine. :)

[2021-05-05 08:13] #23396 closed, assigned to Hlavtox

[2021-05-05 08:41] matks commented on #23983
We think it was a mistake 😄  .

We understand it seems useful, quick, very simple. But there is consequences on many aspects: invoice aspect, legal aspect, order status.

This is not something that can be decided quickly, many things must be considered to make sure
- everything works correctly
- it is legally OK 😉  I am not sure "negative payments" are law-compliant
- it is a suitable solution

I

[2021-05-05 08:55] #20519 closed, assigned to TemKaSD

[2021-05-05 08:55] Progi1984 commented on #20519
Fixed by @TemKaSD in PrestaShop/psgdpr#115

[2021-05-05 09:25] okom3pom commented on #21600
Hi @Dandry you can see : https://github.com/PrestaShop/PrestaShop/pull/24349

[2021-05-05 09:43] okom3pom commented on #22091
Hi @LouiseBonnard i made this one : https://github.com/PrestaShop/mjml-theme-converter/pull/11

[2021-05-05 09:53] matteocostantini opened #24350 "ps_shoppingcart: ajax feature -> modal dialog backdrop"
#### Describe the bug

In standard Prestashop Installation (live demo), when click add-to-cart button (e.g. in product page), modal is open. Close by clicking in background greyed area is NOT CORRECT. Not page refresh.

to better understand the problem, the quantity field could be initialized by every developer , as we did, with the available quantity. If we do not refresh the page, the quantity f

[2021-05-05 09:56] Dandry commented on #21600
@okom3pom thanks for letting me know and big THANK YOU for your contribution!

[2021-05-05 11:33] darkf3d3 opened #24351 "AutoUpgrade module backup every file in the root directory, including folders that do not belong to prestashop"
#### Describe the bug

When using 1-Click Upgrade module to upgrade Prestashop, the module backup every folder in the root directory, including folder not used by Prestashop.

For example if you have Prestashop installed into main "httpdocs" folder, and into a subfolder there's installed a wordpress website, 1-Click Upgrade module will backup these files too.

This is a problem, because it will ba

[2021-05-05 11:41] NKoonen commented on #18777
Since Prestashop is really behind on this issue: https://www.prestashop.com/forums/topic/1046735-free-modulehs-codes

[2021-05-05 12:33] Matt75 commented on #24338
Hi @hibatallahAouadni

Both issues has common issue with performances but my issue is the module break the order process after payment.
So customer has paid but no order created in PrestaShop or order has been created but with inconsistancies...

[2021-05-05 13:34] IcarusSosie opened #24354 "In module configuration pages, the "Activate module for this shop context" checkbox does not work"
#### Describe the bug

When the multistore option is activated and at least two shops have been created, a new panel is displayed at the bottom of module configuration pages, containing a checkbox labeled "Activate module for this shop context". Checking/unchecking this checkbox is supposed to enable/disable the current module for the current shop context.

This does not currently work. Accessing

[2021-05-05 14:53] khouloudbelguith commented on #20839
Hi @atomiix,

Sorry for the delay.
Yes, I did not manage to reproduce the issue with the 178x branch & the develop branch using the `productcomments` module v4.2.1.
https://drive.google.com/file/d/1Z_Sd0lkaqhzOSMps8i_AznZrW2uIIahx/view?usp=sharing
I close the issue.

Thank you!

[2021-05-05 14:53] #20839 closed, assigned to nobody

[2021-05-05 14:57] khouloudbelguith commented on #22186
Thank you @okom3pom

[2021-05-05 14:59] #22592 closed, assigned to nobody

[2021-05-05 15:03] SD1982 opened #24358 "BO - customer service / forward message mail is incomplete if the message is intended for a non-employee"
#### Describe the bug

In the customer service section if you forward a message to an email address that does not belong to an employee of the shop the email is then incomplete

#### Expected behavior

The mail content should be the same for all the forward option

#### Steps to Reproduce

Steps to reproduce the behavior:

Before test => setup the smtp parameters
1. Go to BO and create a new emplo

[2021-05-05 15:08] #23920 closed, assigned to matks, lmeyer1

[2021-05-05 15:09] matks commented on #23920
Fixed on https://github.com/PrestaShop/PrestaShop/pull/24119

[2021-05-05 15:12] Renrhaf commented on #18171
Confirming too on PS 1.7.7.4

[2021-05-05 15:15] khouloudbelguith commented on #20633
Hi @arirangz,

This issue is reproduced by @sarahdib with 178x branch and develop branch.
![image](https://user-images.githubusercontent.com/16067358/117165063-764f4080-adc5-11eb-970d-2167d7b49c84.png)

’ll add this to the debug backlog so that it’s fixed.

If you manage to get the problem fixed, then please contribute the fix back to the project as a [Pull Request](https://devdocs.prestashop.com/

[2021-05-05 15:45] jf-viguier commented on #23787
If someone hooked on actionValidateOrder change to actionValidateOrderAfter, he can expert the same parameters.

[2021-05-05 16:03] arirangz commented on #20633
Hi @khouloudbelguith
Thanks for the feedback.
Happy you could reproduce it.
As I mentioned in #24316  a quick fix is to change the font from Helvetica to freesans. The currency symbol issue will be fixed but you will see an issue in the pagination which will be maybe easier to fix.

thanks

[2021-05-05 16:04] olecorre commented on #23787
I have adding the same arguments as actionValidateOrder

[2021-05-05 17:07] saudis79 opened #24360 "Mail alerts module - emailing when the number in stock matches the minimum stock held"
#### Describe the bug

Having recently installed the mail alerts module (v2.3.0) to my Prestashop installation (1.7.7.4) I am now receiving "almost out of stock" reports on items that are in stock and meet the minimum quantity available. The emails arrives even if I only alter the price of the product! I have checked and the reported number of products available is equal to or more than the minimu

[2021-05-05 20:28] arouiadib commented on #10236
Hi,
Could you please tell what is the purpose of having a non empty alt tag in BO product listing images?

[2021-05-05 23:32] ebubekirakyol commented on #17792
Hello how did you solve it? What was problem? Can you help me?

[2021-05-06 00:49] ets-soft commented on #18171
Memcached is greatly necessary to improve website speed as well as to save MySQL resources so we can serve more users at the same time, however it's not stable on PrestaShop, once enable Memcached we got a lot of problems so we had to disabled it completely. Hope PrestaShop development team focus on Memcached and make it usable soon!

[2021-05-06 03:57] hibatallahAouadni commented on #24351
Hello @darfk3d3

So, do you mean that **1-Click Upgrade** module backup even folders aren't inside PrestaShop folder?
is this your **httpdocs** tree structure:

-- httpdocs
------ PrestaShop
------ Wordpress

Please check and feedback.
Thanks!

[2021-05-06 04:32] hibatallahAouadni commented on #23747
Hello @matwong56

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-05-06 04:32] #23747 closed, assigned to nobody

[2021-05-06 04:34] hibatallahAouadni commented on #23746
Hello @BlackKerio

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-05-06 04:34] #23746 closed, assigned to nobody

[2021-05-06 04:43] hibatallahAouadni commented on #23745
Ping @PrestaShop/ux-team could you please check this improvement :wink:
I made a modest mockup :sweat_smile: (hope it helps to understand the customer need):

![image](https://user-images.githubusercontent.com/23308427/117242445-91f22f80-ae35-11eb-8868-25c825656c4c.png)

Thanks in advance!

[2021-05-06 05:12] hibatallahAouadni commented on #24360
Hello @saudis79

Could you please check this issue #17830 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-05-06 05:55] hibatallahAouadni commented on #24350
Hello @matteocostantini

I  didn't manage to reproduce your isue with PS1.7.7.3, see the attached screen record below:

https://www.awesomescreenshot.com/video/3641572?key=28679f7bd4ee9542f37139a426554780

Please check and feedback.
Thanks!

[2021-05-06 06:09] hibatallahAouadni commented on #24354
Hello @IcarusSosie

I reproduce the issue with PS1.7.7.3, 1.7.8.x and develop, see the attached screen reocrd below:

https://www.awesomescreenshot.com/video/3641601?key=0c0e5bd67011c9f23f057638e5b9e048

This issue is a regression, cause I couldn't reproduce it with PS1.7.6.7.
I’ll add this to the debug backlog, thanks for your PR :rocket:

Thank you

[2021-05-06 06:41] Manuel905 opened #24361 "Import csv changes main category assigned to article"
Good Morning;
When importing a CSV with a simple update of product stock, the association that the product has in the category is changed. Attached image example csv, 2st example associated category, 3nd as it remains after import.

![cambios de categoria csv img 1](https://user-images.githubusercontent.com/83748387/117252275-0208b180-ae46-11eb-8c6b-96c1dedeedd9.JPG)
![cambios de categoria img2](h

[2021-05-06 06:42] #18762 closed, assigned to nobody

[2021-05-06 07:03] matteocostantini commented on #24350
Ok, the quantity in cart is correct. But the input quantity we initialize with stock availability in template code (product.tpl). Only with a page refresh show input quantity field (stock availability - cart quantity). We have constraint to press cart modal button for page refresh. Click outside cart modal not refresh… it’s compliant disable background click and keymap! Is possible a new parameter

[2021-05-06 07:44] #23743 closed, assigned to nobody

[2021-05-06 08:08] hibatallahAouadni commented on #24361
Hello @Manuel905

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22336.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-05-06 08:08] #24361 closed, assigned to nobody

[2021-05-06 08:08] hibatallahAouadni commented on #24361
Duplicate of #22336

[2021-05-06 08:23] hibatallahAouadni opened #24365 "BO - Theme & Logo - changing the header logo will also change Mail logo"
_Originally posted [here](https://github.com/PrestaShop/PrestaShop/pull/23959#issuecomment-824013253)_

#### Describe the bug

When you change the header logo, the mail logo has also been changed

#### Expected behavior

If you upload a file for the header logo, then the email & invoice logos should not be changed and should not use the uploaded file for the header logo

#### Steps to Reproduce

S

[2021-05-06 08:38] okom3pom commented on #21976
I d'ont have news for this issue, but after time i think @matks have right for the stability of the software.

I have twoo idea :

- Clean RC and Beta channel on the module
- Allow again only if PS_DEV enabled

?

[2021-05-06 08:43] prestascott commented on #23745
Hello everyone,

Thanks for your request @ChineseNorris and @hibatallahAouadni for your mockup!

Sorry for the late reply 😅

Adding an input on the right side of the toggle is new for the back office, also this input seems pretty difficult to understand because of a missing label. This mockup makes us not very clear about the purpose of these inputs and this forces users think about what to do.

W

[2021-05-06 08:44] darfk3d3 commented on #24351
No, the folders are in the same folder as Prestashop.
Here's an example:
www.buyshoes.net (prestashop)
www.buyshoes.net/blog (wordpress)

In this case prestashop it's installed directly into httpdocs folder, and wordpress blog it's into a subfolder:
-- httpdocs
------ admin
------ app
------ bin
------ blog <-- wordpress
------ cache
------ cgi-bin
------ ...
------ ...
------ ...

[2021-05-06 08:57] henri9813 opened #24367 "Sort the release note"
#### Is your feature request related to a problem?

IT's very annoying to have the older version on the top of the upgrade page. i have to scroll down to see the new things.

![image](https://user-images.githubusercontent.com/4645967/117270556-a0524280-ae59-11eb-9228-13aae1676ac0.png)

I'm in the v2.15.1version and i upgrade to  v2.15.2,  then i should only see 2.15.2 release note part.

#### Desc

[2021-05-06 09:00] MatShir opened #24368 "[Experimental product page] History of edited combinations"
#### Describe the solution you'd like

This feature aim to add some history on the edit combination modal of product page v2

#### Alternatives you've considered

Go on product page v2 on a product with combinations, click on edit a combination and try to play with the history feature! It should have a pagination after 14 edit history and the pagination should works as expected.

[2021-05-06 09:10] henri9813 opened #24369 "prestashop_checkout translation front office modal"
#### Describe the bug

#### Expected behavior
the text which is in the modal should be in french

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Setup and configure the module
2. Set your shop in french
3. make a purchases
4. All modals are in english.

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.
prestashop_checkout

![image](ht

[2021-05-06 09:13] matks commented on #24369
Hello,

This platform is for PrestaShop project bugs only. PrestaShop Checkout is a module provided by PrestaShop company.

If you have an issue with PS Checkout please contact the support team of PS Checkout directly through the module 😉 .

Thank you, I will close your issue.

[2021-05-06 09:13] #24369 closed, assigned to nobody

[2021-05-06 09:15] hibatallahAouadni opened #24370 "FO - confusing error message when we access to disabled category or a category page that does not exist"
_Originally posted [here](https://github.com/PrestaShop/PrestaShop/pull/24270#issuecomment-830483500)_

#### Describe the bug

In FO, if you try to access a disabled category or a category page that does not exist, a wrong error will be displayed (see the attached screenshot n°1)

#### Expected behavior

It should display this page is not found (see the attached screenshot n°2)

#### Steps to Repr

[2021-05-06 09:28] #20625 closed, assigned to nobody

[2021-05-06 09:45] hibatallahAouadni opened #24371 "FO - Header logo is displayed squeezed"
_Regression of this PR #23353 (to be specific in this file `themes/classic/templates/_partials/header.tpl` line 65 & 70)_

#### Describe the bug

Change the header logo in BO, then check it on FO, it's displayed squeezed (cause the logo height is defined as constant `28px`)

#### Expected behavior

The height of logo should be `auto` (on desktop)

[code]

On mobile, we can change it to:

[code]

#

[2021-05-06 10:25] okom3pom commented on #24279
Hey @Hlavtox

I made this feature on a shop in 1.6 it's very usefull

On an other shop in 177 i use a module and it's work good, but it's a real improvment for prestashop i agree !

![Uploading Capture d’écran de 2021-05-06 12-21-08.png…]()

[2021-05-06 11:05] roncarino commented on #24293
Hi @ced--ced,

I can't reproduce either with Prestashop 1.7.7.2

Regards,
Loris

[2021-05-06 11:05] Prestaplugins opened #24372 "Translation in overriden templates are not taken in account in the old system"
#### Describe the bug

I override a template from a module in my theme, I add some new strings to translate in that template.
That module still use the old translation system (maybe the issue is also concerning the new system, I don't know).
When I go to the translation tool in the back-end, I can't find my new strings. Only those from the original template are displayed, the ones from the overrid

[2021-05-06 11:24] matks commented on #24372
Hello @Prestaplugins I have 1 question

You override a module template in your theme. Which means the file which contains the translation wordings is in your theme.

Then ... the wordings should be in the Theme, not in the Module? It's a file of the theme, it should be in the "Theme" area?

[2021-05-06 11:33] khouloudbelguith opened #24373 "BO - Orders - Ecotax - Product with combinations - When Editing an order (Add a product with combinations), the price tax excluded in NOK"
#### Describe the bug

Previously reported here: https://github.com/PrestaShop/PrestaShop/pull/23492#issuecomment-831980982 & https://github.com/PrestaShop/PrestaShop/pull/23492#issuecomment-832005083
This issue occurs when we have :
1. method price = Tax excluded
2. Product with combinations
3. Combinations have an impact on ecotax

When we add this product to an old order => the price tax exclud

[2021-05-06 11:36] jf-viguier commented on #24279
A must have

[2021-05-06 11:39] khouloudbelguith commented on #22029
Hi!

When testing this PR, I created two issues:
https://github.com/PrestaShop/PrestaShop/issues/24340
https://github.com/PrestaShop/PrestaShop/issues/24373

Thank you!

[2021-05-06 11:50] Progi1984 commented on #22029
Fixed by #23492

[2021-05-06 11:50] #22029 closed, assigned to Progi1984, marionf

[2021-05-06 11:53] Prestaplugins commented on #24372
When you override some module templates in a theme, you put them in /themes/your_theme/modules/your_module/...
The existing translations (which are both in the original and overridden file) have always been done choosing "modules" in the translation tools.
In the old Prestashop version, you also had to choose your theme in the option instead of "core" to create a specific translation for that modu

[2021-05-06 12:00] jf-viguier commented on #24365
@hibatallahAouadni is product team ok with this beaviour ?

[2021-05-06 12:13] hibatallahAouadni commented on #24365
Hello @jf-viguier,

@marionf said in your PR:

So, I believe the Product Team is ok with this proposed behavior.

Thanks!

[2021-05-06 12:17] hibatallahAouadni commented on #24351
Ping @PrestaShop/prestashop-core-developers is this normal to have such tree structure?
IMHO I think it's wrong to paste all PrestaShop content/files under **httpdocs** alongside other projects, wdyt?

[2021-05-06 12:27] Robin-Fischer-PS commented on #21950
I edited the issue with a new, more obvious way to reproduce this issue, so I upgraded the sverity to Major.

[2021-05-06 12:29] jf-viguier commented on #24365
Is it ok for any image type or only svg ? @marionf ?

[2021-05-06 12:45] hibatallahAouadni commented on #24372
Hello @Prestaplugins

Could you please check this issue #9747 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-05-06 12:56] Prestaplugins commented on #24372
Hello @hibatallahAouadni

That issue is absolutely not similar to mine. It's talking about translation into admin template, not using override, and not using the old translation system.
Mine is about modules translation, in templates overriden into the theme used by the shop.

[2021-05-06 12:58] Renrhaf commented on #18171
Yeah I'm pretty surprised that this issue is classified as minor.
I had configured Memcached properly, but now I can't use it anymore due to this bug and some instabilities I have been facing.

[2021-05-06 13:02] kpodemski commented on #18171
There are a lot of issues with Memcache, not only with `ps_linklist` but with many other third party modules too, I'm pretty sure this is Minor because Memcache is not popular in PrestaShop ecosystem, most of the time when I see Memcache enabled, it is in store with 100 orders / month and almost clean installation ;)

[2021-05-06 13:04] Peter-Liska commented on #23744
In this file:
https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/catalog/product.tpl
is `<form>`
[code]
Module ps_emailalerts will hook its content to block "product_additional_info".
https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/catalog/_partials/product-additional-info.tpl

This is what is hooked:
https://github.com/PrestaShop/ps_email

[2021-05-06 13:10] prestascott commented on #23112
Hey everyone!

Thanks for your request @Hlavtox :)

I agree with you, this is 30px extra space for nothing that we can remove.

[2021-05-06 13:23] #21867 closed, assigned to nobody

[2021-05-06 13:31] viglu commented on #21995
After reviewing my payment gateway it easier to generate the order referenace by my own and then passing it to validateOrder.
Therefore my PR #24357.
The Workflow for the customer with my payment gateway Digicash (https://github.com/viglu/paymentdigicash) is
1. Customer select payment Digicash
2. Customer is redirected to a dedicated payment page. In the background the order ref is generate and di

[2021-05-06 13:35] Robin-Fischer-PS opened #24374 "Weird behavior on BO Parameters > Search > Edit Alias"
As seen with @MatShir , issue created from a return of this PR https://github.com/PrestaShop/PrestaShop/pull/24352

#### Describe the bug

**In BO > Shop Parameters > Search, the "Edit alias" functionality has a weird behavior and can give 3 different results depending on what's modified in the form.**

- **Case 1 :**

I edit only the "Result" field : In this case, it's indeed only an update of th

[2021-05-06 13:35] hibatallahAouadni commented on #24367
Hello @henri9813

You're right! it's quite annoying to scroll down from v1.4.0 down to 2.15.2
But I don't know if it should be fixed in PS Core or in Module side.

Ping @PrestaShop/prestashop-core-developers any idea in which side it should be fixed? PS Core or Module?

[2021-05-06 13:45] hibatallahAouadni commented on #24374
Hello @Robin-Fischer-PS

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #21884.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: Sorry :stuck_out_tongue:

Thanks!

[2021-05-06 13:45] #24374 closed, assigned to nobody

[2021-05-06 13:45] hibatallahAouadni commented on #24374
Duplicate of #21884

[2021-05-06 13:55] hibatallahAouadni commented on #23745
@prestascott you're a genius :rocket: :clap:

[2021-05-06 14:13] hibatallahAouadni commented on #23112
Ping @PrestaShop/product-team waiting for your approval :pray:

[2021-05-06 14:16] marionf commented on #24365
Hello,

I was talking only of SVG :)

[2021-05-06 14:17] pixelblank commented on #14595
Intalled 1.7.7.3 version after importing all data from previous version 1.7.6.5
Sav, Commande, Customer show same error message
I have tried delleting and re-intalling currency, commenting line 170 without luck
Is there some one with a solution?

[2021-05-06 14:21] hibatallahAouadni commented on #24365
Great! Thanks @marionf
I close this issue.
@jf-viguier you have PM answer :tada: **it's ok only for SVG**

[2021-05-06 14:21] #24365 closed, assigned to nobody

[2021-05-06 14:30] Renrhaf commented on #18171
@kpodemski thanks for the tip, do you suggest using any other caching layer than Memcached that would have better support in Prestashop ?

[2021-05-06 14:34] jolelievre opened #24376 "Invalid inline style in PrestaShop UI Kit symfony form theme"
#### Describe the bug

In the prestashop UI kit form theme some inline code has been added in. the `form_row` block:

[code]

This part in particular `{% if (attr.visible is defined and not attr.visible) %} style="display: none;"{% endif %}` we should use a class instead (like `d-none`) This option seems to be only used in `PrestaShopBundle\Form\Admin\Sell\Address\CustomerAddressType` (strangely n

[2021-05-06 15:09] eternoendless commented on #22740
Fixed by https://github.com/PrestaShopCorp/ps_mbo/pull/102

[2021-05-06 15:09] #22740 closed, assigned to nobody

[2021-05-06 15:09] matks commented on #24367
@hibatallahAouadni Someone needs to explore how this release note is fetched from API and see whether content is already sorted from source, or if sort happens after data has been fetched

[2021-05-06 15:10] hibatallahAouadni commented on #22740
Duplicate of #21588

[2021-05-06 15:11] marionf commented on #16713
Hello @Hlavtox

By "complete stock information", are you talking of the label of in-stock & out of stock products or of the delivery time of in-stock & out of stock products ?

![capture d'écran_3076](https://user-images.githubusercontent.com/13449658/117322227-1a9cba00-ae8e-11eb-98e4-1495bb7e4059.png)

[2021-05-06 15:22] kpodemski commented on #18171
@Renrhaf what I found most performant was to use some full page cache module and disable smarty cache, checkout page might need additional changes but overall I highly recommend full page caching + maybe CloudFlare for assets, of course this is just for start, there is a lot what we can do to improve performance :)

[2021-05-06 15:23] marionf commented on #9590
@hibatallahAouadni Could you check if you still have this bug on 1.7.8.x and complete the steps to reproduce the issue + screenrecord in the first message please ?

[2021-05-06 15:24] eternoendless commented on #18547
@PierreRambaud I believe that some dependencies require us to bump Symfony to 4.4 to provide support for PHP 8, could you please share which ones?

[2021-05-06 15:29] eternoendless commented on #11348
The export has been fixed in 1.7.8 for themes and modules. You can even export core translations now!

* To import exported core translations, you just need to place the appropriate XLF files in the `app/Resources/translations/<locale>` directory
* Theme translations go in the `themes/<theme>/translations/<locale>` directory
* (as of 1.7.8) Module translations go in the `modules/<module>/translati

[2021-05-06 15:53] BenTen commented on #18777
@NKoonen Why don't you propose your work here? Can be a good thing to add natively in PS.

[2021-05-06 16:52] Hlavtox commented on #16713
@marionf Hi Marion! :)

I think we can save both of these values, availability and delivery time. We can then decide if and where we are gonna display these values.

If you agree, we can start with a PR where we save this informations into the database. :-)

[2021-05-06 16:54] fire2 opened #24380 "Image settings for admin product thumbnails"
#### Is your feature request related to a problem?

Currently, the product image thumbnails displayed in the back office (in catalog list section, inside order details, etc) are generated and stored in a tmp directory. Prestashop has a whole section called "Image settings" that is currently only used for the frontend, but could be extended so it is also used by the backend and it would save storag

[2021-05-06 17:58] Hlavtox commented on #24350
In classic-rocket, @prestarocket did it in a different way. It's hooked on bootstrap modal close action, so it's working every time.

[2021-05-06 19:22] Oksydan commented on #24350
IMO the best solution is to do it like this.

[code]
If we trigger it always on modal close it will trigger `updateProduct` event on category page, home page etc. (Yes, I am not looking at classic theme at this moment). We are not forced to use modal to inform customer about add to cart action.

[2021-05-06 19:44] Ploppy3 opened #24381 "docker-windows-wsl2: recreating all themes & assets on each container restart"
#### Describe the bug

All themes and assets are generated every single time the container restarts, which takes a long time.

#### Expected behavior

All themes and assets should be generated only once when the container is created.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Setup Docker with WSL2 and Linux distro
2. Within the linux distro: clone repo
3. `docker-compose up`
4

[2021-05-06 19:58] num47 opened #24383 "https is not forced in the Back Office while logging in"
#### Describe the bug

This might be a negligible issue but while i was trying to login to the back office i have noticed that the https wasn't forced. At first, it forces to the https but later if you manually remove the 's' from 'https' then it does not force it to https again. This is not a problem when you try to login to your back office where you are not already logged in. But, in a logged i

[2021-05-06 22:27] JaqubR commented on #9866
On prestashop 1.7.4.4 this error sometimes prevents orders from being created, although The customer gets charged.

[2021-05-06 22:30] num47 opened #24384 "Order Detail E-mail Resend"
#### Is your feature request related to a problem?

Sometimes due to some kind of error, either from my side of web-server or the clients side, the detailed Order e-mail (Order Confirmation email) doesn’t get delivered to the client. Sometime for different reason i had to resent the same e-mail to the client. But, when i had to resend the same e-mail, there are different parts of the e-mail was no

[2021-05-06 22:32] num47 commented on #24384
Ah! Forgot to tell you which file i was suggesting to modify.

It's the OrderHistory.php in the classes > Order folder.

[2021-05-07 05:49] cdcvince commented on #23987
Actually I'm not sure that a hook will be enough, or these hooks needs to be added in the Image Manager class and should have an impact on the code execution that follows.

The fact is that we don't want to add an action, but we want to replace it (upload / delete images in remote folder instead of in local folder).

But I agree that this feature is really important if we want that Prestashop fits

[2021-05-07 06:58] madsoliver opened #24385 "Search for (and translate) across all translation domains"
**The case**
The new translation system is great in many ways, and from a translators point of view, as well as for the developers, it makes sense to separate translation into `domains`.

However, for a merchant starting a PrestaShop with a bought theme and a bunch of bought modules, one might be lucky that the most is translated, except a few phrases that (s)he wants to translate. But in order to

[2021-05-07 07:08] rmilecki commented on #23717
Hi, any update on this? @sowbiba could you see @matks's comment, please?

[2021-05-07 07:42] sebidk opened #24386 "Duplicate feature when importing from csv in 1.7.6.8"
**#### Describe the bug**

hello, i am facing the following issue when importing products via the native import module in 1.7.6.8

For new products, when i import the Features (Feature:name:value:customize) everything works fine and adds the correct predefined value. If i need to update the feature of certain products i am faced with a duplication of the feature rather than an update, therefore i

[2021-05-07 07:51] florine2623 commented on #24380
Hello @fire2 ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this fe

[2021-05-07 07:58] kpodemski commented on #23741
I think we don't need to compare forms, it's too much, IMO it would be good enough to just listen for changes in form (change, keydown) and when we have it we change some global flag like `formHasBeenModified` to `true`, even if someone didn't make real changes, for example type something new and then delete it immediately, we can show this popup just to make sure :)

[2021-05-07 08:01] PululuK commented on #24381
Hi @Ploppy3

Can you please check https://devdocs.prestashop.com/1.7/basics/installation/localhost/#setting-up-file-rights

[2021-05-07 08:10] florine2623 commented on #24383
Hello @num47 ,
You need to check these 2 elements :
![Capture d’écran 2021-05-07 à 10 03 35](https://user-images.githubusercontent.com/16019289/117418259-7e20f900-af1b-11eb-905d-5628c5f65be4.png)

Once done, when you log into your back-office in http, you will see :
![Capture d’écran 2021-05-07 à 10 10 07](https://user-images.githubusercontent.com/16019289/117419028-67c76d00-af1c-11eb-90ff-c69

[2021-05-07 08:10] #24383 closed, assigned to nobody

[2021-05-07 08:13] mvorisek commented on #24111
what does this mean, end of free full features open source code?

[2021-05-07 08:17] florine2623 commented on #24386
Hello @sebidk ,

Could you follow the bug template so we can try to reproduce the issue ?
![Capture d’écran 2021-05-07 à 10 17 10](https://user-images.githubusercontent.com/16019289/117420013-77938100-af1d-11eb-8227-402b19e30623.png)

[2021-05-07 08:20] florine2623 commented on #24384
Hello @num47 ,

Could you follow the steps to reproduce ? If it is reproducible, we will look into your improvement suggestion.
![Capture d’écran 2021-05-07 à 10 17 10](https://user-images.githubusercontent.com/16019289/117420303-bc1f1c80-af1d-11eb-8fa5-26f352b01186.png)

Thanks

[2021-05-07 08:24] Betafer commented on #9866
This problem is present also in ps 1.7.6.8

[2021-05-07 08:32] henri9813 opened #24388 "Error 500 page - 500.html is not used"
#### Describe the bug

I didn't find anything in the documentatoin explaning how customize error page.

I found the 404 and maintenance.tpl files

However, the 500.html file is not used.

How can i make it works ?

Here is what i observed:

- error500.html is used when mysql is down; this is quite perfect.
- themes/X/templates/errors/static/500.html is never used, why?

#### Expected behavior

I w

[2021-05-07 08:41] kdegenkamp commented on #24303
@hibatallahAouadni

Please check this video.

https://drive.google.com/file/d/198dL8pcb5HCfDd4PWL3KE2735DzylbG3/view

Thanks

[2021-05-07 08:45] matks commented on #24111
ping @ttoine

[2021-05-07 08:47] sebidk commented on #24386
sorry, first post :) - i have edited the post, hopefully it's more understandable now.

[2021-05-07 09:09] henri9813 commented on #13505
Hello,

Do you have news about this ?

Best regards

[2021-05-07 09:12] MatShir opened #24389 "BO - Open a combination that has been deleted on product V2"
@MatShir @TristanLDD I encountered a problem we didn't think about when trying to access a combination that doesn't exist any more in the modal (because it was deleted in another page). I had a big ugly error, so this is fixed but don't have a regular not found template, so I made one inspired by the 500 one but it's worth some additional love from both of you ^^

Especially regarding:
- the wordi

[2021-05-07 09:17] okom3pom commented on #23983
Hello, i tried in 2020 https://github.com/PrestaShop/PrestaShop/issues/19113 :'(
I put the link to manage easier this issue

[2021-05-07 09:25] florine2623 commented on #24388
Hello @henri9813 ,

Indeed I can't make the 500.html page work.
[500.html.zip](https://github.com/PrestaShop/PrestaShop/files/6440484/500.html.zip)
The error 500 is still the same in my shop :
![Capture d’écran 2021-05-07 à 11 20 11](https://user-images.githubusercontent.com/16019289/117428266-32c01800-af26-11eb-8a2b-3209b686525b.png)

error500.html
Sometimes this error shows (error500.html), bu

[2021-05-07 09:31] BoutiquesInternet opened #24390 "Problem function lastNoneOrderedCart"
#### Describe the bug

Between version 1.7.6.x and 1.7.7.x, the function lastNoneOrderedCart in classes/Cart.php has changed and it's cause a problem with restaured cart when a customer log in.
When a customer log in, their previous cart is lost.

Even if the value of PS_CART_FOLLOWING is true

#### Expected behavior

We expect to retrieve the last customer cart when log in.

#### Steps to Reprodu

[2021-05-07 09:34] henri9813 commented on #24388
Yes,

Thank you for your quick answer !

[2021-05-07 09:38] florine2623 commented on #24390
Hello @BoutiquesInternet ,
Could you follow the bug template so we can test out the bug ?
![Capture d’écran 2021-05-07 à 10 17 10](https://user-images.githubusercontent.com/16019289/117430718-ac590580-af28-11eb-9bb7-82af2fefcc4e.png)
Thanks!

[2021-05-07 09:42] BoutiquesInternet commented on #24390
Sorry

#### Describe the bug

Between version 1.7.6.x and 1.7.7.x, the function lastNoneOrderedCart in classes/Cart.php has changed and it's cause a problem with restaured cart when a customer log in.
When a customer log in, their previous cart is lost.

Even if the value of PS_CART_FOLLOWING is true

#### Expected behavior

We expect to retrieve the last customer cart when log in.

#### Steps to

[2021-05-07 09:49] Hlavtox commented on #24123
@eternoendless Unfortunately, that's not in my skill range. 😞
Can I do the nice work and move it to Order class, and then you can play with this CommandBus stuff? 😁

[2021-05-07 09:50] Progi1984 commented on #23357
Fixed by #24273

[2021-05-07 09:50] #23357 closed, assigned to Progi1984

[2021-05-07 11:13] henri9813 opened #24391 "Pages editor white space problem"
#### Describe the bug

I wrote content and i want to "make space" between paragraphs, then i press enter many times to make "blank lines"

It's doesn't works because the paragraphe styles is "margin-top: 0 && margin-bottom: 0".

#### Expected behavior

An empty paragraph should be converted to a <br/>

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create page with many paragraphs w

[2021-05-07 11:14] #18769 closed, assigned to lmeyer1

[2021-05-07 12:03] Progi1984 commented on #24354
Fixed by @IcarusSosie in #24353

[2021-05-07 12:03] #24354 closed, assigned to nobody

[2021-05-07 12:18] tajriba commented on #23906
https://www.prestashop.com/en/blog/european-union-vat

[2021-05-07 12:35] henri9813 opened #24392 "Wishlist color inheritance"
#### Describe the bug

Hello :-)

Thanks for the module, it works pretty well.
All links colors are overrided in the module.
That easily break custom themes colors

#### Expected behavior

There should not have
[code]
on the module CSS.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a theme
2. Set color of all links to red
3. Setup the module
4. the modules "<a>" are in blue

[2021-05-07 12:51] hibatallahAouadni commented on #23633
Hello @dali-rajab @ang3lx

Thanks for the details!
I was able to reproduce the issue with PrestaShop version 1.7.6.9 uprading to 1.7.7.4. I’ll add this to the debug backlog.
As you said it's not blocking error, the upgrade finish with success:

https://drive.google.com/file/d/1FgQ4BrNytgrxZG5_Ta7H4KbPRZQEVxCH/view

![image](https://user-images.githubusercontent.com/23308427/117446543-83db0680-af3c

[2021-05-07 13:21] matks commented on #24351
Hello, I think this is the normal behavior.

PrestaShop does not acknowledge that something else was installed in its root directory 😄  and there is no check to verify whether a folder is expected to be inside its root folder or not.

This is quite a edge-case 😄  . It could be avoided by adding the option to select what folders should be backed-up, but that is an improvement that would not benefit

[2021-05-07 13:25] saudis79 commented on #24360
@hibatallahAouadni - I think it could be the same issue. I had copied the code from the other issues into the override code and I'm not seeing the false email alerts for sticking issues. Hopefully this issue can be merged and fixed in one minor update.

[2021-05-07 13:34] Maofree opened #24395 "Warning: escapeshellcmd() has been disabled for security reasons"
Hi
today I get this error to complete an order
Warning: escapeshellcmd() has been disabled for security reasons

do you have some notices about it?

I've not done any changes from yesterday, only to upgrade paypal and payplug modules
the order is created but without products in the order, with all payment methods

bye

**Screenshots**

![5](https://user-images.githubusercontent.com/653230/11745848

[2021-05-07 13:40] matks commented on #24395
Hello @maofree look at https://github.com/PHPMailer/PHPMailer/issues/966 ;)

[2021-05-07 13:47] maofree commented on #24395
is it necessary to use the smtp solution?

[2021-05-07 13:48] florine2623 commented on #24391
Hello @henri9813 ,
You can use the tag <br> :
![Capture d’écran 2021-05-07 à 15 47 39](https://user-images.githubusercontent.com/16019289/117459371-9b6dbb80-af4b-11eb-824a-7c7e19c99fd7.png)

![Capture d’écran 2021-05-07 à 15 47 03](https://user-images.githubusercontent.com/16019289/117459299-8a24af00-af4b-11eb-9d98-3df36405e9ab.png)

![Capture d’écran 2021-05-07 à 15 46 53](https://user-imag

[2021-05-07 13:48] #24391 closed, assigned to nobody

[2021-05-07 13:52] florine2623 commented on #24395
Hello @maofree ,
Could you share the steps to reproduce the issue please ?
Thanks!

[2021-05-07 13:55] maofree commented on #24395
Hi
nothing of special, active the debug and create an order
at this moment I don't know the motive, it happens only in one site, it gets many orders every days, and today I didn't do any of special

I've asked to the hosting

[2021-05-07 13:57] darfk3d3 commented on #24351
But installing Prestashop into httpdocs/prestashop folder doesn't mean having the folder name into the website url, for example: "www.buyshoes.net/prestashop/"?
I always installed prestashop directly into httpcods without any additional folder to avoid this.

[2021-05-07 14:03] maofree commented on #24395
I've solved the problem using SMTP solution instead of normal php mail()
it is the same solution used by others

[2021-05-07 14:04] eternoendless commented on #24385
To search the original wordings, we'd need to load the full default catalogue: Core + Themes + Modules. Should be super slow the first time but could be made faster if put in cache.

Searching in translated wordings should be less costly because the sources are known: core xlf + module xlf + module php (legacy modules) + theme xlf + database.

The tricky part is editing, in particular with Core wo

[2021-05-07 14:17] henri9813 commented on #24391
A random and potentially non techincal user will never know how do this

[2021-05-07 14:28] henri9813 opened #24397 "Permit to customize whishlist url blockwhichlist module"
#### Is your feature request related to a problem?

I would like to customize the url of the  url of the wishlist which is `module/blockwishlist/lists` to something like: `/ whislist`

#### Describe the solution you'd like

A clear and concise description of what you'd want to happen.

2 solutions:

- Add possibilities to customize it in the module configuration
- Do like like others accounts subm

[2021-05-07 14:46] florine2623 commented on #24397
Hello @henri9813 ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement thi

[2021-05-07 15:00] hibatallahAouadni commented on #24360
Hello @saudis79

Glad to hear :tada:

Yep, I hope so too. (https://github.com/PrestaShop/ps_emailalerts/pull/45)

As we are aware of this issue and it is already in our debug backlog. This issue is a duplicate of #17830 .
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-05-07 15:00] #24360 closed, assigned to nobody

[2021-05-07 15:01] hibatallahAouadni commented on #24360
Duplicate of #17830

[2021-05-07 15:11] Julievrz commented on #23996
Hi @matks, I sent you the URL so you can add it. :)

[2021-05-07 15:12] henri9813 commented on #24392
Hello,

I Purpose a merge request here: https://github.com/PrestaShop/blockwishlist/pull/112

[2021-05-07 15:16] ballashop commented on #20156
@Shoprunners
thanks a lot for the message and really sorry for the late.
I am not a developer so I'll avoid to manage to the code, if you can do it we can contact us privately.
Thanks, bye.
Balla

[2021-05-07 16:32] henri9813 commented on #24392
1.7.7.4 and the v2.0.0 for the module.

Thank you

[2021-05-07 16:56] henri9813 opened #24399 "Translation problem in blockwhishlist"
#### Describe the bug

Add a product is in the correct language

Remove the product is not present in french

The sort select in the wishlist product view is not translated

#### Expected behavior

Respect the locale ( french in my case ),

#### Steps to Reproduce

Steps to reproduce the behavior:

For the first problem
1. Go to category view
2. Click on add to wishlist button ( little heart <3 )

[2021-05-07 17:18] henri9813 opened #24400 "[BlockWishlist] Usage of edit pencil on wishlist view"
#### Describe the bug

On the wishlist list view, i see products which are in my wishlist. On products, there is a "pencil" button.
what is his usage ? when i click on it, i just go the product page.

#### Expected behavior

~The pencil should have a usage or dissapear~

### SPECS
**US3 : Edit and delete a favorite product** (by @lolath-presta)
As a logged user, I can modify and delete a favorite

[2021-05-07 17:30] henri9813 opened #24402 "[Wishlist] Remove article from wishlist message is quite strange"
#### Describe the bug

The message is not very accurate, it could be better in my opinion

#### Expected behavior

"Remove this article from wishlist ?" instead of "Remove"

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add a product to your wishlist
2. Go to your wishlist view
3. Click on remove the product from wishlist

I know i made lot's of issue, sorry for that :-)

**Screens

[2021-05-07 17:57] henri9813 opened #24404 "[Wishlist] Add hook to have "shortcut" usable"
#### Is your feature request related to a problem?

Currently, i want to had a picto of wishlist in my topbar.

#### Describe the solution you'd like

A hook to have this usable and customizable in my theme/modules directory and usable in the theme.yml.

In the wait, i make a dirty tpl include :D

#### Alternatives you've considered

A clear and concise description of any alternative solutions or

[2021-05-07 18:08] henri9813 opened #24405 "Inject firstname and lastname to ps_customersignin"
#### Is your feature request related to a problem?

I want to have the firstname of the user, currently i have only $customerName variable.

Is it possible to have the $customerFirstname and $customerLastname ,

#### Describe the solution you'd like

	<span class="hidden-sm-down">{$customerFirstname}</span>

#### Alternatives you've considered

A clear and concise description of any alternative so

[2021-05-07 18:17] Webstudio7 commented on #24122
We are experiencing the same problems with the conditions below, the tax breakdown is completely wrong.
The product with 9% TAX is free because this is a gift.

Still there is € 0,75 of 9% VAT on the invoice.

Conditions to create this problem -->
- The order contains products with different tax (VAT) rates
- One of the products is for free (a gift) via a cart rule (like free gift for orders above

[2021-05-07 21:01] mpaolino commented on #10005
I have this exact same issue in 1.7.7.3 and 1.7.7.4.
Cart persistence (recovery on login) feature is not functional at all.

What I experience:

1) I login in the first session, cart is reset on login or logout, independently per session (does nothing to other sessions in other browsers)
2) If you login in in a different browser or in incognito mode with the same user and create a new session, wit

[2021-05-07 21:36] r4dhwene opened #24406 "Cart shop admin beuguée"
Bonsoir,
j'ai un problème lors l'ajout d'un produit dans la panier dans partie admin, il m'affiche cette erreur :
"Une erreur inattendue s'est produite. [PrestaShop\PrestaShop\Core\Domain\Cart\Exception\CartException code 0] : Order for cart with id "3" already exists.."
![cart](https://user-images.githubusercontent.com/39316906/117510722-dd6b2180-af8c-11eb-8506-e649c6470ba0.jpg)

Meme quand je su

[2021-05-07 22:43] num47 commented on #24384
#### Describe the bug

Well, this is not a bug. I was asking for a new feature added to the shop. I often encounter situations when customers wants to change their offline payment system or, sometimes due to my server error the order details was not emailed to the customer. There are several types of occasion when a merchant might need to resend a confirmation email to their customer but currently

[2021-05-08 05:10] angelflo commented on #9613
Hello,

I have same problem on last version 1.7.7.3

In backend >> Products when I have "All shops" selected the products query still include :
 LEFT JOIN `ps_shop` shop ON (shop.id_shop = 1)
And so it display only the list of products attached to Shop ID 1

We're now on 2021 ... and this bug seems open stil 2018
I'm currently working on a migration from magento to prestashop but when I see this k

[2021-05-08 07:09] Manuel905 commented on #22336
Hello, @hibatallahAouadni ,
I have seen the following change in the file AdminImportController.
Controllers/admin/AdminImportController.php
In 1.7.5
From line 1940 to 1950 the code is;

![cambios de categoria archivo AdminImportController 1 7 5](https://user-images.githubusercontent.com/83748387/117530256-6493b600-afdc-11eb-8b11-20b321cb39d5.JPG)

In 1.7.7
From line 1948 to 1957 the code is:

![ca

[2021-05-08 10:02] fire2 commented on #24384
This is duplicate of #14754 and related to #24123 .

In the meantime, there are modules on Addons that give you this functionality, although I agree this should be part of Prestashop core.

[2021-05-08 12:21] samberrry opened #24410 "Ability to add versions to js and css files"
Hello guys,
#### Describe the bug
when we change css and js files for a module, we need to add a version to update clients caches to get up to dated files.
There is a need to specify the version when we register js and css files with these methods in controllers:

- **registerJavascript**
- **registerStylesheet**

#### Steps to reproduce

1. Fresh install
2. Make sure the CCC is disabled
3. Enable

[2021-05-08 12:33] henri9813 opened #24411 "[BlockWishlist] Module not visible when installed manually"
#### Describe the bug

I have a versionned prestashop, i install it in my dev environment, git commit & push
I pull on the prod, module not visible, the module appear as a "Theme module" is it related ?

#### Expected behavior

The module should be visible

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Setup a prestashop in a git repo
2. Setup the module
3. Git commit & push
4. Set

[2021-05-08 18:04] jorgevrgs opened #24412 "Widget Vue components as npm package"
#### Is your feature request related to a problem?

The New theme includes the folder `https://github.com/PrestaShop/PrestaShop/tree/develop/admin-dev/themes/new-theme/js/app/widgets` with components available in local files.

#### Describe the solution you'd like

Deliver the Vue components as npm package like `npm install @prestashop/vue-components` instead of a local folder to allow modules to

[2021-05-08 22:43] simobenso commented on #15499
Hello @KminekMatej, I just tested your code from your repository, it gives me this :
`{"image_types":[{"id":"1","name":"cart_default","href":"https:\/\/rabah.ma\/api\/image_types\/1"},{"id":"4","name":"home_default","href":"https:\/\/rabah.ma\/api\/image_types\/4"},{"id":"5","name":"large_default","href":"https:\/\/rabah.ma\/api\/image_types\/5"},{"id":"3","name":"medium_default","href":"https:\/\

[2021-05-09 00:21] lukaslau opened #24413 "Configuration key is not case sensitive everywhere"
#### Describe the bug

When you save a value to Configuration table with key '**TEST_CONF**' (uppercase) and try to retrieve that value (after page reload) by key '**test_conf**' (lowerase) it cannot find any value with that key and this is correct. But when you try to save a config value with key in lowercase '**test_conf**' it does not save. This is because of **Configuration::getIdByName** func

[2021-05-09 06:41] angelflo commented on #9613
and tested today with mast release 1.7.7.4 => still have this CRITICAL BUG !

[2021-05-09 07:41] angelflo commented on #9723
In backend > catalog > products when I choose to displkay a grid of products for ALL SHOPS, I still have a shop_id clause in the SQL query relative to shop_id = 1
=> Can someone explain me why ??
It seems logic that if i choose to display products of "all shops" , the grid display all products without consideration of shop_id don't you think ?? any solution to fix this on 1.7.7.4 last release ?

[2021-05-09 11:07] MattC1984 opened #24414 "Getting this message when viewing orders with Customized product."
#### Describe the bug

Getting this message when viewing orders with Customized product.
Oops... looks like an unexpected error occurred.

Type error: Argument 2 passed to PrestaShop\PrestaShop\Core\Domain\Order\QueryResult\OrderProductCustomizationForViewing::__construct() must be of the type string, null given, called in /homepages/28/d852021950/htdocs/test/src/Adapter/Order/QueryHandler/GetOrde

[2021-05-09 20:39] alfonsolr09 commented on #24292
the problem is with prestashop, same problem in my case

[2021-05-09 20:44] alfonsolr09 commented on #24292
https://youtu.be/vJC36vfO0OM
@matks @hibatallahAouadni

[2021-05-09 20:45] alfonsolr09 commented on #21775
https://youtu.be/vJC36vfO0OM

[2021-05-09 20:46] alfonsolr09 opened #24415 "bug with product images with combinations in the new version"
#### Describe the bug

https://youtu.be/vJC36vfO0OM

#### Additional information

* PrestaShop version: 1.7.6.4  OK
* PrestaShop version: 1.7.7.3  NOK
* PHP version: 7.3

[2021-05-09 21:42] Triloworld commented on #24410
Do this patch support debug mode?
In this mode, developer experience working with client will be improved.
I have same problem before enabling CCC as files don't update on frontend in mobile view.

[2021-05-09 22:48] photinia73 commented on #24292
The developer of my theme resolved the problem. Now Combabations work properly

[2021-05-09 22:49] alfonsolr09 commented on #24292
Yes, but its a prestashop bug

[2021-05-10 00:04] samberrry commented on #24410
@Triloworld
yes it works with debug mode and also with CCC.
An explanation for CCC:
as the reducer uses hash for all assets' file names, so it works fine with CCC.

CCC file name generation:
**hash**(list of js/css file names => "themes/classic/assets/js/theme.js?v1.2")

So, when we update version for your js/css files, the code for your js/css will be regenerated, and the client gets the up to da

[2021-05-10 00:09] samberrry commented on #24410
@Triloworld
but if you use CCC there is an option already. You can update the following configuration in ps_configuration to update your cache file names, this will trigger your clients to update their cache.

**PS_CCCJS_VERSION**

[2021-05-10 00:14] samberrry commented on #24410
@Triloworld
if you have enabled CCC to regenerate cache file names try to clear Presta **Cache** through BO.

[2021-05-10 01:28] hibatallahAouadni commented on #24385
Hello @onklmaps

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this f

[2021-05-10 01:38] hibatallahAouadni commented on #24380
Hello @fire2

Could you please check this issue #12773 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-05-10 01:46] hibatallahAouadni commented on #24386
Hello @sebidk

Could you please check this issue #14305 it seems realted to yours.
Please check and feedback.

Thanks!

[2021-05-10 01:50] hibatallahAouadni commented on #24390
Hello @BoutiquesInternet

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #10005.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-05-10 01:50] #24390 closed, assigned to nobody

[2021-05-10 01:50] hibatallahAouadni commented on #24390
Duplicate of #10005

[2021-05-10 01:57] hibatallahAouadni commented on #24395
Hello @maofree

Glad to hear that you solve the problem by using SMTP solution instead of normal php mail() :tada:

As you mentioned, it's hard to reprpduce :confused:
So, I close this issue.

Thanks!

[2021-05-10 01:57] #24395 closed, assigned to nobody

[2021-05-10 02:11] hibatallahAouadni commented on #24384
Hello @num47

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #14754.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: @fire2 thanks for the tip :wink: it was indeed a duplicate of #14754

Thanks!

[2021-05-10 02:11] #24384 closed, assigned to nobody

[2021-05-10 02:11] hibatallahAouadni commented on #24384
Duplicate of #14754

[2021-05-10 02:39] hibatallahAouadni commented on #24406
Hello @r4dhwene ,

Please send your request in English. English is the norm on GitHub.

Thank you

[2021-05-10 02:39] #24406 closed, assigned to nobody

[2021-05-10 02:41] hibatallahAouadni commented on #24410
Hello @Triloworld

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-05-10 02:48] hibatallahAouadni commented on #24415
Hello @alfonsolr09

Despite our efforts, we were not able to reproduce your issue with the provided information.
Check the attached screen record below:

https://www.awesomescreenshot.com/video/3680440?key=e2e96b67c591884f889d8acc58f110a9

It seems that your issue is not a PrestaShop core bug but most likely a module problem.
We will close this issue.

Thanks!

[2021-05-10 02:48] #24415 closed, assigned to nobody

[2021-05-10 02:54] hibatallahAouadni commented on #24414
Hello @MattC1984

Did you upgrade your shop lately or it's a fresh install?
Could you please provide a screenshot of the customized product :pray:
If you upgraded your shop lately, so could you please check this issue #24158 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-05-10 03:00] hibatallahAouadni commented on #24413
Hello @lukaslau

Did you encounter this issue with any 1.7.6.x version? cause it seems the lowercase was not a problem in those versions 1.7.6.x and 1.7.5.x (please check this issue #14363).
Please check and feedback.

Thanks!

[2021-05-10 03:04] hibatallahAouadni commented on #24404
Hello @henri9813

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-05-10 03:33] hibatallahAouadni commented on #24400
Hello @henri9813

On products, there is a "pencil" button.
what is his usage ? when i click on it, i just go the product page.

@lolath-presta @kpodemski any idea what's the use of this pencil?

[2021-05-10 05:23] lukaslau commented on #24413
This problem only occurs when you save Configuration value with key in upper case and then decide to change the key to lowercase.

[2021-05-10 05:36] kpodemski commented on #24405
You can access all customer information using global Smarty variable `$customer`, for example `$customer.lastname`, `$customer.email`.

[2021-05-10 05:42] kpodemski commented on #24413
I don't think it's a bug, entire `Configuration` class is case insensitive, to avoid issues, it's worth to have all your indexes in class constants, for example:

`public const MY_KEY_CONST = 'MY_KEY_NAME';`

and then access it: `static::MY_KEY_CONST`, thanks to this even if you change your key name, key const is the same.

[2021-05-10 06:20] fire2 commented on #24380
Hello,
I checked but it is not the same. It is also about the image handling in the back office but different feature requests.

[2021-05-10 07:05] alfonsolr09 commented on #24415
PrestaShop version: 1.7.6.4 OK
PrestaShop version: 1.7.7.3 NOK

@hibatallahAouadni

[2021-05-10 07:05] lmeyer1 opened #24416 "Thumbnail generation slows down display of pages containing products"
#### Is your feature request related to a problem?

I'm always frustrated, when I have to wait a minute or two for a page in Prestashop to display. This happens, when resized product images are missing.

I have tens of thousands of product images. Image resizing via *Image Settings*, *Regenerate Thumbnails* is just impossible. An automated task takes days. On my test deployment, when there are thu

[2021-05-10 07:31] hibatallahAouadni commented on #24400
Hello,

@kpodemski thanks for your quick reply :wink:
@henri9813 so you've got your answer, as this button's function is to edit the product qty, so it should redirect you to the product page.
I close this issue, cause this the wanted behavior.

Thanks!

[2021-05-10 07:31] #24400 closed, assigned to nobody

[2021-05-10 07:34] hibatallahAouadni commented on #24405
Hello everyone,

@kpodemski Thanks for your quick reply :rocket:
So, no need for this improvement :tada:

I close this issue!
Thanks!

[2021-05-10 07:34] #24405 closed, assigned to nobody

[2021-05-10 07:38] matks commented on #23996
@Julievrz looks like it was not enough 😅

The new page does not seem available yet on help.prestashop.com . I think something must be done on help.prestashop.com to acknowledge the new documentation page, and make it available for the Back Office.

No idea what must be done though 🤷‍♂️

[2021-05-10 07:40] hibatallahAouadni commented on #24292
Hello everyone,

@alfonsolr09 it's not a PrestaShop bug, it's Theme bug :wink:
Cause with default theme, I couldn't manage to reproduce.
So, please contact your theme's developer.

PS: @photinia73 thanks for your quick reply :rocket:

Thanks!

[2021-05-10 07:59] simoutn opened #24418 "$logger in ps_accounts and ps_checkout must be protected not private"
#### Describe the bug

when i install prestashop 1.7.7.3 , and i installed some modules , i found that i can't access to my modules manager and i get this message

Compile Error: Access level to Ps_accounts::$logger must be protected (as in class Module) or weaker
I can't make an override because the variable is private

#### Expected behavior

I want that you change $logger from private to protec

[2021-05-10 08:05] hibatallahAouadni commented on #24413
Hello @lukaslau

Thanks @kpodemski for your quick reply :rocket:
@lukaslau please use constants to avoid these kind of issues :wink:
As there's no bug, I close this issue.

Thanks!

[2021-05-10 08:06] #24418 closed, assigned to nobody

[2021-05-10 08:07] hibatallahAouadni commented on #24416
Hello @lmeyer1

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-05-10 08:11] hibatallahAouadni commented on #24402
Hello @henri9813

I reproduced the issue, but I don't know if it's the right wording or no!
@kpodemski @Julievrz any idea about this wording?

![image](https://user-images.githubusercontent.com/23308427/117627041-0d2a4d00-b178-11eb-974b-6c6035ee04e0.png)

Thanks!

[2021-05-10 08:23] sanji-japan opened #24419 "Stock movement registered as "Employee Edition" when order is created on BO"
Hello,
When an order is created by an admin on the BO, the stock variation associated with that order is registered as "Employee Edition" - the same as a manual modification of the stock.
As a result, for a shop where many orders are created on the BO, it is impossible to differentiate orders from manual stock changes.
Any other labelling for admin orders would be favourable - e.g. "Employee Order

[2021-05-10 08:30] simoutn opened #24420 "$logger in ps_accounts and ps_checkout must be protected not private"
#### Describe the bug

when i install prestashop 1.7.7.3 , and i installed some modules , i found that i can't access to my modules manager and i get this message

Compile Error: Access level to Ps_accounts::$logger must be protected (as in class Module) or weaker
I can't make an override because the variable is private

#### Expected behavior

I want that you change $logger from private to protec

[2021-05-10 08:40] matks commented on #24420
Hello @simoutn

This is very strange because class Module has no property `$logger`, you can verify https://github.com/PrestaShop/PrestaShop/blob/1.7.7.3/classes/module/Module.php

Maybe your `Module` class is overriden or customized?

[2021-05-10 08:44] hibatallahAouadni commented on #24420
Hello @simoutn

Thanks for respecting the template :clap:
It seems that your issue is not a PrestaShop core bug.
If your module is PayPal Official, please contact support team on [Addons](https://addons.prestashop.com/fr/contactez-nous?id_product=1748)

We will close this issue.

Thanks!

[2021-05-10 08:44] #24420 closed, assigned to nobody

[2021-05-10 08:45] hibatallahAouadni commented on #24419
Hello @sanji-japan

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-05-10 08:45] #24419 closed, assigned to nobody

[2021-05-10 08:49] henri9813 commented on #24404
I will try to purpose a PR :-)

[2021-05-10 08:49] hibatallahAouadni commented on #24411
Hello @henri9813

To install the blockwishlist module, you need to follow these steps:

1. clone `blockwishlist` directly into `/modules/`
2. make sure that you’re on `dev` branch
3. `composer install`
4. `npm install`
5. `npm run build`
6. head to **Modules catalog** and search for the “**wishlist**”, install it from there

Please check and feedback.

Thanks!

[2021-05-10 08:50] henri9813 commented on #24411
Hello,

My question is more, why the module appear as theme module and not for a global module ?

Thanks

[2021-05-10 08:56] matks opened #24421 "Migrate "Customer Service > Merchandise Returns" Back Office section"
Part of Symfony migration project

The "Customer Service > Merchandise Returns" section contains multiple pages and components:

When you open the link from the navbar, you can see the "Customer Service > Merchandise Returns" List page. It contains a listing of Merchandise Returns and a settings form. The settings form allows Back Office User to control some options related to Merchandise Returns

[2021-05-10 08:58] matks commented on #17081
@JevgenijVisockij I created a new GitHub issue to follow this complex topic. https://github.com/PrestaShop/PrestaShop/issues/24421

In the new issue is the roadmap you suggested 😉

[2021-05-10 08:58] #17081 closed, assigned to nobody

[2021-05-10 08:59] hibatallahAouadni commented on #24411
Hello @henri9813

I see, could you please post your problem on the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack), our developers and contributors will help you to solve your problem :wink:
Sorry, but I have to close the issue cause it's not a PrestaShop Core bug :pray:

Thanks for understanding!

[2021-05-10 08:59] #24411 closed, assigned to nobody

[2021-05-10 09:00] matks commented on #10554
This migration was actually a lot more complex than we have thought. I created a new issue to follow it https://github.com/PrestaShop/PrestaShop/issues/24421

[2021-05-10 09:00] #10554 closed, assigned to nobody

[2021-05-10 09:03] matks commented on #24259
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24076

@jolelievre can you confirm all the items in the list above are fixed?

[2021-05-10 09:03] #24259 closed, assigned to jolelievre, NeOMakinG

[2021-05-10 09:10] onklmaps commented on #24385
I think just linking to the instances from the search results, and then translating there (like today) is sufficient. The whole point IMO is to find translations that sometimes are hard to find (because there is so many places to look). Compare it to `grep -r "where did I put that config???" /` in your filesystem. You wouldn't expect it to be fast, and you wouldn't use it every time, but it sure i

[2021-05-10 09:15] hibatallahAouadni commented on #23433
Hello @camlafit

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-10 09:15] #23433 closed, assigned to nobody

[2021-05-10 09:20] RomsC opened #24423 "Error during database upgrade with decimal columns"
#### Describe the bug

An error occured during database upgrade from Prestashop 1.7.7.3 to 1.7.7.4.
The error is located in `src/PrestaShopBundle/Command/UpdateSchemaCommand.php`
I attach my [log.txt](https://github.com/PrestaShop/PrestaShop/files/6450987/log.txt) file to the issue.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a module that use Doctrine and a table that ha

[2021-05-10 09:22] photinia73 commented on #24292
I don't know what exactly they did, but I paid for prolong my support, and explained, that in the default this bug is absent.

[2021-05-10 09:24] sanji-japan opened #24424 "Stock movement registered as "Employee Edition" when order is created on BO"
#### Describe the bug

When an order is created by an admin on the BO, the stock movement associated with that order is registered as "Employee Edition" - the same as a manual modification of the stock.

#### Expected behavior

An order created on the BO should have a specific status like "Employee Order".

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a new order on BO - Go

[2021-05-10 09:28] hibatallahAouadni commented on #24221
Hello @4ngeluxpunk

Thanks for your patience :pray:

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem. Please check the attached screen record below:

https://drive.google.com/file/d/1v_Oz_i9l7-ZI0LCif279pqM6YTACbYDY/view

We will close this issue.

Thanks!

[2021-05-10 09:28] #24221 closed, assigned to nobody

[2021-05-10 09:31] photinia73 commented on #24292
As I can remember in old ps v 1.7.6... thr combination worked properly in my Theme. So I think that in the ps was changes (classes, id, CSS) and in the old Theme version they weren't fix. Ufter payment the Theme version became available for me. But I have did a lot of changes, so ask the support to repair my Theme without total upgrade.

[2021-05-10 09:41] Oksydan commented on #24292
@alfonsolr09
Your theme probably is missing these changes https://github.com/PrestaShop/PrestaShop/commit/3ba983baa97704339c4c803e1ca6a9c97ca286d4#diff-32dcd11236f968fb8f8f7c5e410932c3cea3bf4703533e7d233061734c0234a1

[2021-05-10 09:50] Triloworld commented on #24410
@samberrry yes, but CCC is mode design for production.
When I work on website i disable it and query versions will bust cache in client end.
@hibatallahAouadni It's not only my issue. Pleas re-enable. What is needed? THIS IS NOT A BUG, a FEATURE REQUEST ! :)
With pull request as well from fellow @samberrry to give all details that is required in guide. I can reproduce as well:

1. Fresh install
2.

[2021-05-10 09:52] Triloworld commented on #24410
@samberrry Pleas, add in title that is "Feature: " as well because clearly is that type of solution there.
Versions aren't needed on CCC as files have unique names and change base on modification of content and clearing cache.

[2021-05-10 10:16] hibatallahAouadni commented on #24293
Hello @ced--ced

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.
We will close this issue.

PS: @roncarino thanks for confirming :rocket:

Thanks!

[2021-05-10 10:16] #24293 closed, assigned to nobody

[2021-05-10 10:18] Triloworld commented on #24410
@hibatallahAouadni Of course. I will provide all details:

PHP:

Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.3.27, Copyright (c) 1998-2018 Zend Technologies
    with the ionCube PHP Loader + ionCube24 v10.4.5, Copyright (c) 2002-2020, by ionCube Ltd.
    with Zend OPcache v7.3.27-9+0 ~ 20210227.82+debian10~1.gbpa4a3d6, Copyright (c) 1999-2018, by Zend Technologies

PrestaShop:
1.7.7.2