[2022-02-18 19:43] kpodemski commented on #27717
I can reproduce this error by adding:

`$helper->specificConfirmDelete = false;` to `controllers/admin/AdminCartsController::renderList`

[2022-02-18 19:44] kpodemski commented on #27717
cc @florine2623 :)

[2022-02-18 20:10] #27447 closed, assigned to SharakPL

[2022-02-18 20:47] ocio87 opened #27736 "Stock moving quantity editing is taking zero, generating human error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In version 1.7.7.x when entering Ca

[2022-02-18 21:54] matks commented on #27689
Indeed I dont see why there is such checks. Maybe they were copy-pasted from other payment module.

[2022-02-18 21:58] matks commented on #27577
Hi @onklmaps what do you think about our answer, although it might not be what you wanted to hear 😅 ? does it make sense ?

If it does maybe we can close this PR - although it's nice you suggested that

[2022-02-18 22:00] matks commented on #27466
What's the expected behavior?

I think the BO page allows a module to hook at the data exchange level (when data comes from database and is injected into form, and when form data is submitted and then goes to data level then stored). But from your writing I think you're not thinking about a BO hook.

[2022-02-18 22:02] matks commented on #27528
I see it has value for module developers. The question is whether this should go into the Core or remain a script shared by contributors and users.

wdyt @PrestaShop/prestashop-maintainers ?

[2022-02-18 22:35] onklmaps commented on #27577
Hi. @matks and @kpodemski, I'm sorry I haven't replied sooner. I just haven't had time to test if I can use the hooks before or after, and also not decoration. However, overriding is an option that always bites me in the long run. Hijacking the core methods like that makes that prestashop so locked up so I dear not to upgrade it when updates are available.

Anyway, the init() is a big method, and

[2022-02-19 07:03] smartdatasoft commented on #27684
Hello, You need to handle the addslash or something for the header injection code in your  module.  This code break https://github.com/PrestaShop/PrestaShop/commit/d2807b0560d5ca2835c6a4774e183c182d903f1a so you need to update your module code.

[2022-02-19 08:39] idnovate opened #27737 "Product listed as "New" but without flag"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

New products in `/new-products` fro

[2022-02-19 09:16] rbatllet opened #27739 "Overwrite the translations made manually by the official translations from Crowdin"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-19 09:24] Hlavtox commented on #27739
I think the best solution would be a button/hint under the translation field itself with a small button - "revert to original".

Or, for now, you can open your database, open ps_translations table and you can see all custom translations there, just delete the files you don't need. :-)

[2022-02-19 09:26] Hlavtox commented on #27737
You need to also edit ps_product, just to be sure to not produce any incosistencies.

[2022-02-19 10:20] rbatllet commented on #27739
For now, it is only allowed to reverse the translation for each string. I asked it could be done in a grouped way. Thanks for the temporary solution.

[2022-02-19 10:24] Hlavtox commented on #27739
Maybe we could do a simple table, showing all custom translations? Or a button called “delete all custom translations for this language”.

[2022-02-19 10:32] rbatllet commented on #27739
And also wouldn't it be better to add a checkbox in the place where the update button is to be able to choose to overwrite the existing ones or not?

[2022-02-19 10:37] onklmaps commented on #27577
Yeah, you can close it 😉

[2022-02-19 13:05] marc-fischer opened #27740 "Installation allows an admin email without toplevel-domain but login does not"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The installer allows to create an a

[2022-02-19 16:18] Hlavtox commented on #27739
Well, it works like this:
- All your custom translations are saved into ps_translation table. With language ID, original string and your translation. This table could be totally empty if you are satisfied with the default translations.
- Then there are the XLF files with translations from Crowdin.
- When the code requests some translation, it first looks into the translation table for your custom

[2022-02-19 16:57] rbatllet commented on #27739
I think people who use PrestaShop want to have the updated and official versions of their supported languages from Crowdin that are constantly updated. The problem I've described, they can't be removed if you don't go to the database and do all of them manually and not everyone has access the database and the knowledge to do that.

The best place to place the reset function would be on "/internati

[2022-02-19 19:44] Petruzzo73 commented on #16356
Hello. Is it possible to add also a Discord social icon and link? Thanks

[2022-02-20 17:40] NeOMakinG opened #27743 "querySelectors are often casted instead of using the TS generic"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

https://github.com/PrestaShop/Prest

[2022-02-20 17:48] NeOMakinG opened #27744 "window.prestashop should be fully typed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots
https://github.com/PrestaShop/Presta

[2022-02-20 19:50] fire2 opened #27745 ""Edit shipping details" modal does not reset carrier dropdown value on cancel"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When opening the modal to edit the

[2022-02-21 07:23] duongductuan commented on #27721
https://user-images.githubusercontent.com/87248592/154907235-89755ed6-fa37-4f57-aff8-188ae90cca93.mp4

Hi @HanaRebaiQA
Pls check video.

[2022-02-21 07:38] duongductuan commented on #27721
https://user-images.githubusercontent.com/87248592/154909375-353cae78-35ad-48a7-a4d1-92b32c9c9f40.mp4

Hi @HanaRebaiQA
pls check Video
Thank You

[2022-02-21 08:18] lephuongbg opened #27746 "Can not create new product, or get a product without image throught web service API"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On 1.7.8.3, Prestashop still can no

[2022-02-21 08:19] myB0B commented on #27477
thanks it works fine !

[2022-02-21 08:52] hibatallahAouadni commented on #27736
Hello @ocio87

I reproduce the issue with PS1780 and above, it's a regression!

https://user-images.githubusercontent.com/23308427/154920475-df5fd650-b914-46a5-8d84-7313b682f952.mp4

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you c

[2022-02-21 09:02] sowbiba opened #27747 "Category filter for recommended modules list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Go to Admin > Modules > Modules cat

[2022-02-21 09:05] marsaldev commented on #16356
Hi @Petruzzo73, I've created a PR to add the discord link, let's wait my colleagues/maintainers to verify the PR and hopefully merge it. After that we should add the icon.
Please next time open an issue directly in the module repository (https://github.com/PrestaShop/ps_socialfollow), because this one is "related" to the main PrestaShop project 😊

[2022-02-21 09:13] sowbiba opened #27749 "Error when installing some modules from addons"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I'm in the carriers list, some

[2022-02-21 09:34] atomiix commented on #27528
I see no reason to not add those commands in the core, we can already install/uninstall modules, why not register/unregister hooks? :)

[2022-02-21 09:38] matks commented on #27717
Thank you @kpodemski I put the bug to `Ready` then

[2022-02-21 09:50] hibatallahAouadni commented on #27737
Hello @idnovate

I reproduce the issue with PS1783, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/154926582-638fc486-d946-462e-a055-1f70a6bfd5fe.png)

I have products created on 01-02-2022 that are listed in the `/new-products` list but without a flag:

![image](https://user-images.githubusercontent.com/23308427/154926756-59b9c77c-4775-49c4-b08c-9

[2022-02-21 10:02] PrestaEdit commented on #24514
Today,

I'm having this issue again but it's related to a third party module (at the beginning of the error).
I will have a look about this in intern, and see what's happen there
<img width="862" alt="Capture d’écran 2022-02-21 à 11 01 07" src="https://user-images.githubusercontent.com/2631425/154932439-cdf5b8fa-ee0c-433f-a074-62696a874fc2.png">
.

[2022-02-21 10:08] prestamodule commented on #27684
Well, the addslashes is done by PrestaShop core itself, this code is introducing a real breaking change as it was working fine on 1.7.8.2 and all prior 1.7.x versions.
The new generated template file is not correctly escaped/generated..

[2022-02-21 10:25] hibatallahAouadni commented on #27737
PS: I have a weird behavior with PS1780, same process but not same result:

![image](https://user-images.githubusercontent.com/23308427/154936297-8ed5d90e-e1c2-4313-a488-ddaf2899edb3.png)

![image](https://user-images.githubusercontent.com/23308427/154936267-52cc3f09-0e3b-4b3f-aba4-1a53d90f43a4.png)

It looks like this was not completely fixed with PS1783 :sweat_smile:

[2022-02-21 10:26] hibatallahAouadni commented on #27739
Hello @rbatllet

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this f

[2022-02-21 10:27] micka-fdz commented on #22974
Hi, any news here?

[2022-02-21 10:27] micka-fdz commented on #23745
Hi, any news here?

[2022-02-21 10:29] hibatallahAouadni commented on #27577
So, closing the issue :slightly_smiling_face:

[2022-02-21 10:29] #27577 closed, assigned to nobody

[2022-02-21 10:31] jolelievre commented on #26904
Closed by #27430

[2022-02-21 10:31] #26904 closed, assigned to NeOMakinG

[2022-02-21 10:36] sowbiba commented on #27749
For the Chronopost module, the install fails because this module requires php-soap extension

Note that the module fills a warning to say that the extension is needed. But warnings are not used in the module listing nor in the install
I don't have in mnd any real fix but we can :
- warn the client that this module has some not matched requirements, in the modules list ( a warning icon and a toolti

[2022-02-21 11:00] hibatallahAouadni commented on #27749
I reproduce the issue with PS1778, PS1780 and PS1783 (even without connecting to addons):

![image](https://user-images.githubusercontent.com/23308427/154942410-43d29497-2e43-4748-b55d-a8843fb487d8.png)

[2022-02-21 11:19] khouloudbelguith commented on #24514
Hi @PrestaEdit,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2022-02-21 11:54] sowbiba commented on #27749
The module install process doesn't add the error message to the right array

We have

[code]

But the errors must be added to the `errors` array of the module itself
Doing
[code]
I now have the errors displayed in the growl
![Capture d’écran de 2022-02-21 11-47-00](https://user-images.githubusercontent.com/7426640/154950471-c91f1393-b39b-471a-8478-6fe6e45fbec8.png)

[2022-02-21 12:01] hibatallahAouadni commented on #16306
Ping @MatShir indeed it's fixed on the new experimental product page on `develop` :tada:

https://user-images.githubusercontent.com/23308427/154951530-daae4364-27aa-444f-ac21-04fcb5fc899c.mp4

Closing the issue!

[2022-02-21 12:10] #27749 closed, assigned to nobody

[2022-02-21 13:09] #15334 closed, assigned to Progi1984

[2022-02-21 13:09] #19894 closed, assigned to nobody

[2022-02-21 13:10] Progi1984 commented on #15594
Fixed by @okom3pom in PrestaShop/autoupgrade/pull/422 & tested by @marwachelly

[2022-02-21 13:10] #15594 closed, assigned to nobody

[2022-02-21 13:34] hibatallahAouadni commented on #27740
Hello @kartoffelfighter

Thanks for reporting the issue!
Did you mean that on Docker, you can install with no-valid mail like **`admin@localhost`** and when your try to login BO, an error will be displayed. While on local, you can't create/install your shop with invalid mail like **`admin@localhost`**, is that so?
Please check and feedback.

Thanks!

[2022-02-21 13:51] matks commented on #27603
Hello everyone thank you for all the informations provided here.

As mentioned by @prestamodule it's possible that the security fix https://github.com/PrestaShop/PrestaShop/commit/d2807b0560d5ca2835c6a4774e183c182d903f1a introduces a backward incompatible change and consequences would be that some module, that do work as expected with 1.7.8.2, would not work with 1.7.8.3 because we added some more

[2022-02-21 13:52] matks commented on #27684
Hello everyone thank you for all the informations provided here.

As mentioned by @prestamodule it's possible that the security fix https://github.com/PrestaShop/PrestaShop/commit/d2807b0560d5ca2835c6a4774e183c182d903f1a introduces a backward incompatible change and consequences would be that some module, that do work as expected with 1.7.8.2, would not work with 1.7.8.3 because we added some more

[2022-02-21 13:56] hibatallahAouadni commented on #27745
Hello @fire2

I reproduce the issue with PS1778, PS1783 and develop, but it looks like cache issue to me.
Ping @PrestaShop/product-team wdyt of this issue? is it valid issue?

Thanks!

[2022-02-21 13:57] Progi1984 commented on #27747
Fixed by @sowbiba in #27748 & tested by @marwachelly

[2022-02-21 13:57] #27747 closed, assigned to sowbiba

[2022-02-21 14:08] sowbiba opened #27752 "Fix module changelog height and add scrollbar"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-21 14:09] sowbiba commented on #27752
This feature goes to 1.7.8.x because on develop, this modules catalog will be externalized and handled by a module

[2022-02-21 14:13] hibatallahAouadni commented on #27746
Hello @lephuongbg

Could you please provide clear and concise steps to reproduce the issue :pray:
Cause with the provided infos, I didn't manage to reproduce the issue.
Waiting for your feedback.

Thanks!

[2022-02-21 14:15] hibatallahAouadni commented on #27752
Hello @sowbiba

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
And thanks for your PR :rocket:

Thanks!

[2022-02-21 14:50] Hlavtox opened #27753 "Customer groups are not assigned properly when converting customer through front office"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Customer groups stay assigned to Gu

[2022-02-21 15:34] PrestaEdit commented on #27684
The {strip} is a quick fix but not working all the time ; also the profiling (native feature) is down in the same way as this issue mention it.

[2022-02-21 15:35] prestamodule commented on #27684
Hi @matks

Unfortunately and just FYI, {strip} does not fix the issue for all cases.
We must implement an alternative way to display content to the BO, using AJAX for example, in order to bypass the escape of smarty output by twig.
I still think that this is an issue anyway.

[2022-02-21 15:42] Progi1984 commented on #27029
Fixed by @saulaski in #27722 and tested by @khouloudbelguith

[2022-02-21 15:44] Progi1984 commented on #15593
@eternoendless I think we can close this issue. Isn't it ?

[2022-02-21 15:51] Progi1984 commented on #24715
@eternoendless Are we ok to add the `phar` extension to requirements and replacing a requirement ?

[2022-02-21 15:52] Hlavtox commented on #19815
Just testing this on develop and the issue has been fixed by someone, sometimes, by accident. 😄 Cloooosing.

[2022-02-21 15:52] #19815 closed, assigned to nobody

[2022-02-21 15:52] Progi1984 commented on #15687
@PrestaShop/qa-functional I think we can close this issue as I add .gitignore all modules for the support of PHP 8.0/8.1.

[2022-02-21 16:11] matks commented on #20084
@PierreRambaud PR https://github.com/PrestaShop/PrestaShop/pull/21120 states it fixes this issue partially. What's left to do?

[2022-02-21 16:24] MatShir commented on #27604
@Rizzen59 you have done much of the investigation, you do not feel like contributing. We'll be happy to help you with the RP review. We are available on Slack OSS as well ;)

[2022-02-21 16:35] Hlavtox commented on #27526
@Caleydon Done https://github.com/PrestaShop/PrestaShop/pull/27755

[2022-02-21 16:42] MatShir commented on #27737
I'm not sure of the bug:
- Is the product not supposed to be displayed in the FO if we compare to the previous versions ?
or
- Is  the flag forgotten ?

[2022-02-21 16:44] Caleydon commented on #27526
Awesome! Thank you.

[2022-02-21 16:44] #27509 closed, assigned to Progi1984, Julievrz

[2022-02-21 16:45] Hlavtox commented on #27737
@MatShir The bug is just that the **condition to display the New flag itself** versus the **condition to show product on that page** are not the same. Somebody didn't check the edge cases.

[2022-02-21 17:31] jolelievre commented on #27704
To me, multishop header is supposed to be displayed, as long as the employee has access to all the shops
Although two things could be improved:
- only display shops that are associated to the Employee, but it's not the point of this issue at all
- in the multishop header the Color icon should not be clickable (and redirect to multishop edition) if the employee doesn't have permission for shop edit

[2022-02-21 17:42] jolelievre commented on #27493
Closed by #27150

[2022-02-21 17:42] #27493 closed, assigned to nobody

[2022-02-21 19:16] hibatallahAouadni commented on #27753
Hello @Hlavtox

Thanks for reporting the issue and for your PR :superhero:
I reproduce the issue with PS1778 and PS1783. I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2022-02-21 19:24] hibatallahAouadni commented on #27725
Hello @mark-app

Your issue is similar to this one #15554
Could you please check it and feedback.

Thanks!

[2022-02-21 19:29] hibatallahAouadni commented on #27727
Sorry @BenTen :sweat_smile:

[2022-02-21 19:31] hibatallahAouadni commented on #27730
Hello @kelta

AFAIK we didn't release this version yet :sweat_smile:
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to i

[2022-02-21 19:31] #27730 closed, assigned to nobody

[2022-02-21 19:37] hibatallahAouadni commented on #27731
Hello @tups

Thanks for your PR :rocket:
Could you please change the Fixed ticket to #22610 in your PR :wink:

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22610.
Please subscribe to the issue mentioned above.

Thanks!

[2022-02-21 19:37] #27731 closed, assigned to nobody

[2022-02-21 19:43] hibatallahAouadni commented on #27721
Hello @duongductuan

Have you encountered this problem with older versions of PrestaShop?
Besides this PHP error notice, have you encountered any other issues on FO or on BO?
Please check and feedback.

Thanks!

[2022-02-21 20:31] Hlavtox opened #27757 "All images on shop stop working due to missing rewrites"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If your products do not have link r

[2022-02-22 01:18] samberrry opened #27760 "Improvement - prevent unnecessary records in ps_image_lang"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-22 04:03] duongductuan commented on #27721
The older version I used before also had the same problem 1.7.7.8, Currently I only have the problem with Gsitemap module

[2022-02-22 04:49] lephuongbg commented on #27746
Hi @hibatallahAouadni

Have you tried with `error_reporting = E_ALL & ~E_STRICT & ~E_DEPRECATED` (without `E_NOTICE`)?

[2022-02-22 05:06] mrports commented on #27684
hi @matks
i have 54 3rd party modules installed. which one you think i should update first??
note: most of those module have their customer support expired which mean i need to pay more than 2000 Euro in renewals to **maybe** get this problem solved
I think its a very major drawback that need to be fixed and very soon

[2022-02-22 07:50] ghost opened #27761 "The help field is not displayed when integer type is used to a form"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The help field is not displayed whe

[2022-02-22 08:18] matks commented on #27684
@mrports
If you want, you can use PS 1.7.8.2 and your modules will work fine. But then you're vulnerable to security issue https://github.com/PrestaShop/PrestaShop/security/advisories/GHSA-mrq4-7ch7-2465 . You have to choose what is more important to you.

Also the code on your shop is yours. If you don't like https://github.com/PrestaShop/PrestaShop/commit/d2807b0560d5ca2835c6a4774e183c182d903f1a

[2022-02-22 08:26] matks commented on #27684
If someone can please provide a module example or snippet of code that demonstrates what happens wrong, that would be great to help to understand exactly what's happening. There is maybe a 3rd path where https://github.com/PrestaShop/PrestaShop/commit/d2807b0560d5ca2835c6a4774e183c182d903f1a can be kept and improved. But in order to analyze that, a sample usecase is needed.

[2022-02-22 08:38] florine2623 commented on #27760
Hello @samberrry ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you or anyone else is willing t

[2022-02-22 09:02] florine2623 commented on #27761
Hello @okom3pom ,

Thanks for the report and the PR !
I have reproduce the issue and it is a regression since PS 1.7.6.9, so I can confirm that this behavior is indeed a bug.

Thank you

[2022-02-22 09:04] okom3pom commented on #27761
@florine I need to target 1.78.X branch ?

[2022-02-22 09:04] florine2623 commented on #27761
Yes please ^^

[2022-02-22 09:25] florine2623 commented on #27746
Hello @lephuongbg ,

Could you send a screen record of what you are doing please ?
I will try to reproduce it as soon as the steps to reproduce are clearer !

Thanks!

[2022-02-22 09:38] Maofree opened #27764 "Complete the italian translations to ps_checkout module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
can you complete the Italian tra

[2022-02-22 09:44] lmarti91 commented on #24287
Hi @ballashop
I do the same thing that you did in this post:
_**the email in English works so I copied it in the folder of the language we use, I translated the texts and did the purchase tests.
Layout is ok now.**_
But in my case, it doesn't work. Colud you explain me how did you solve the problem? I update the template in FTP and Prestashop Translations.
Thank you!

[2022-02-22 09:56] florine2623 commented on #27764
Hello @maofree ,

This doesn't concern the OS project of PrestaShop.
You need to contact the develop of the module, directly in the Help section of the module :
<img width="1205" alt="Screenshot 2022-02-22 at 10 55 37" src="https://user-images.githubusercontent.com/16019289/155108016-4b34db62-41da-4878-b784-049f9e0452ab.png">

i will close this issue.
Thanks!

[2022-02-22 09:56] #27764 closed, assigned to nobody

[2022-02-22 10:05] Hlavtox commented on #27757
Hello @florine2623, the situation persists on my localhost dev install, I don't know how it happened, but maybe a language addition failed somehow... Anyway - this could happen with failed imports etc. I just fixed it. 😄

![1](https://user-images.githubusercontent.com/6097524/155109477-bf6224ff-6723-4983-a6fc-f2ae52da40ab.png)
![2](https://user-images.githubusercontent.com/6097524/155109486-db5c44

[2022-02-22 10:15] jf-viguier opened #27765 "Disable browser autocomplete for datepicker"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Autocomplete suggestions hide date

[2022-02-22 10:19] jolelievre commented on #27411
This issue is reopened as the suggested (and merged) solution to integrate the Symfony kernel into the webservice dispatcher is not adapted Legacy environments such as webservices should NEVER integrate the symfony kernel

This PR introduces the revert of Symfony kernel along with an alternative solution that fixes the initial issue related to multilang entities:
https://github.com/PrestaShop/Pres

[2022-02-22 10:38] DanSilva926 commented on #26332
@khouloudbelguith   does it have any update ?

[2022-02-22 10:44] #19373 closed, assigned to nobody

[2022-02-22 10:44] #19325 closed, assigned to nobody

[2022-02-22 10:49] papich06 opened #27768 "Manage Attribute type group"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-22 12:20] khouloudbelguith commented on #27757
Hi @Hlavtox, @florine2623,

I manage to reproduce this issue with 1778 & 1783 following these steps:
Install Ps with English language & France country

1. Create a product > upload an image & enable it
2. Don't click on the preview button & don't click on save again
3. Go to FO > Search this product & select french language
4. See an error
5. Same issue in the list page

I attached a screen record

[2022-02-22 12:23] Hlavtox commented on #27757
@Hlavtox I think I got my PS to this situation by a different way, but at least you reproduced by one scenario! 😄

[2022-02-22 12:25] khouloudbelguith commented on #27757
@Hlavtox, thanks, I will edit the first comment.

[2022-02-22 13:21] jolelievre commented on #20691
I reopen this issue because the solution suggested for Webservice to use Symfony is not adapted
So I created this PR https://github.com/PrestaShop/PrestaShop/pull/27770 which reverts the use of Symfony

But it should also of course work as expected with the previous fix

[2022-02-22 13:35] florine2623 commented on #27768
Hello @papich06 ,

Are you saying that you want new Attribute Types to be added ?
<img width="385" alt="Screenshot 2022-02-22 at 14 33 01" src="https://user-images.githubusercontent.com/16019289/155142591-e440c1be-5db8-4ae0-a61c-7403dc0b2564.png">
If yes, could you specify which one ?

Thanks!

[2022-02-22 14:08] florine2623 commented on #27765
Hello @jf-viguier ,

I can't reproduce your issue in the following forms in PS 1.7.8x and in develop branch :
- Order > Payment > Date
- Invoices > By date
- Catalog > Products > Specific Prices

Is there a form in particular that you use ? ^^

Thanks!

[2022-02-22 14:36] kpodemski commented on #27765
Hello @florine2623

you won't be able to reproduce this issue on the clean installation, I think as long as the form doesn't have `autocomplete="off"` the issue is there

[2022-02-22 14:49] d33x opened #27772 "Partial refund: Be able to refund the wrapping"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-22 14:50] jf-viguier commented on #27765
@florine2623 I have it on a helper form in a custom module. Please test it on a legacy helper form.

[2022-02-22 15:14] florine2623 commented on #27772
Hello @d33x ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you or anyone else is willing to imp

[2022-02-22 15:22] khouloudbelguith commented on #27473
Hi @tups,

I tried to install your theme with PS1783
[classic-child.zip](https://github.com/PrestaShop/PrestaShop/files/8117813/classic-child.zip)
But I don't have any errors in the console
I attached a screen record

https://user-images.githubusercontent.com/16067358/155162614-f21861ad-4a74-404f-87fd-f0ad0e844eaa.mp4

Could you please provide us with a demo module or a demo theme to reproduce the

[2022-02-22 15:29] #22002 closed, assigned to Progi1984

[2022-02-22 15:32] #23544 closed, assigned to Progi1984

[2022-02-22 15:48] tups commented on #27473
Hello @khouloudbelguith,
If you take a closer look at your error, you can see that it's a plugin in your Chrome that is generating this.
You can see it because all file links start with ```chrome-extension```

[2022-02-22 16:06] papich06 commented on #27768
Hello, @florine2623

yes how do you add spefici attribute like this module or certideal ?

addons module https://addons.prestashop.com/fr/declinaisons-personnalisation/26570-attribute-wizard-ps-17.html

certideal https://certideal.com/iphone-x-reconditionnes/iphone-x-64-go-gris-sideral-5254

[2022-02-22 16:08] danidomen opened #27774 "Notice: Trying to access array offset on value of type bool"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Any module or function that uses th

[2022-02-22 16:14] danidomen commented on #27482
Hi @florine2623 ,

Reopened again here, and with the PR:
https://github.com/PrestaShop/PrestaShop/issues/27774

[2022-02-22 16:14] tups commented on #27473
@khouloudbelguith , console.log messages are in console messages, not errors:
![image](https://user-images.githubusercontent.com/868611/155172853-d04e06af-73c3-45bb-8f3a-738043eef0cb.png)

[2022-02-22 16:35] khouloudbelguith commented on #27473
@tups, thanks a lot for your feedback.
I tried with PS1783, I don't have `selectorsInit lauch` in the console message.
I attached a screen record

https://user-images.githubusercontent.com/16067358/155176146-fab702d1-749e-4b8f-a27f-a6e204c221fc.mp4

This is the issue, isn't it? I should have a console message?

I tried with your PR, I have an error,
I attached a screen record

https://user-images.

[2022-02-22 16:42] tups commented on #27473
@khouloudbelguith, I just saw that the classic-child file was not returned with @NeOMakinG's correction.

The javascript is triggered too early, here is the corrected theme:
[classic-child.zip](https://github.com/PrestaShop/PrestaShop/files/8118458/classic-child.zip)

[2022-02-22 17:10] khouloudbelguith commented on #27473
@tups, thanks for your feedback.

I checked your theme ith PS1783
=> Now I have the output
I attached a screen record

https://user-images.githubusercontent.com/16067358/155181154-d8eab449-a994-4a45-803c-0876da037254.mp4

I tried with your PR, I have the exact output now
I attached a screen record

https://user-images.githubusercontent.com/16067358/155182655-49bde457-fe74-4106-92fb-f028e55669de.mp

[2022-02-22 17:41] tups commented on #27473
I had a discussion with @NeOMakinG, because initially I contrasted two anomalies in my eyes:
1. Override of `prestashop.on` and `prestashop.emit` in `classic` theme
2. remove `document.ready` in core.js on some events, to be able to capture them directly.

After our discussion, we came to an agreement, and we just corrected point number one. Because the `document.ready`, you can override them or s

[2022-02-22 19:47] fjratelier commented on #15369
Hello, i have also the same Problem. Any solutions? Thanks.

[2022-02-22 21:11] web-burn opened #27777 "Errors occur when create a new slide in the default module "ps_imageslider""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Errors occur when create a new slid

[2022-02-22 21:28] KminekMatej opened #27778 "Updating category using webservice resets its connection with customer groups"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

During sending request to update Pr

[2022-02-22 21:31] Firefox86 commented on #15369
@fjratelier: Hi, I've upgraded to 1.7.8.2 (from 1.7.5.1) and the problem remains.

[2022-02-22 22:14] Maofree opened #27779 "How to migrate the 1.7.8.x to another folder? something is changed but what?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
I need some infos about prestash

[2022-02-22 23:45] maofree commented on #27779
sorry it was my fault, I hadn't made the changes in the database

[2022-02-22 23:45] #27779 closed, assigned to nobody

[2022-02-23 04:23] mrports commented on #27684
@matks
so this is what happen when i want to edit a category for example:
from symfony:
**exception**: [https://gist.github.com/mrports/4ce2a4d7d8c4b33613f085153d18bd9f](url)
**logs:** request :Matched route "admin_categories_edit".
**Stack Trace**: [https://gist.github.com/mrports/54684c9ca46fd541dc29630e72f26777](url)

similar problem happen when i want to edit a CMS page

[2022-02-23 07:54] PrestaEdit opened #27780 "Self configurator of module need a real path for the YML config file"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-23 08:05] kpodemski commented on #27726
@Midnox-91

Yes, you're right, but your needs are very, very specific, this is why I've suggested overrides. You ship the product and you can still cancel the order. Is it a popular scenario? I don't think so.

But I ping other @PrestaShop/prestashop-maintainers for a comment :)

[2022-02-23 08:08] hibatallahAouadni commented on #27780
Hello @PrestaEdit

Thank you for your suggestion. The Developers Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.
Waiting for your PR 🚀

Thank you

[2022-02-23 09:37] hibatallahAouadni commented on #27458
Hello @thomasalzonne

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-02-23 09:37] #27458 closed, assigned to nobody

[2022-02-23 09:38] hibatallahAouadni commented on #27499
Hello @ShaimyWinda

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-02-23 09:38] #27499 closed, assigned to nobody

[2022-02-23 09:48] hibatallahAouadni commented on #27777
Hello @web-burn

Thanks for reporting the issue!
I reproduce the issue with PS1780 and PS1783 **only with PHP 7.4**! It's a **regression** as I can't reproduce it with PHP 7.2 on these versions. I’ll add this to the debug backlog so that it’s fixed.

PS: I **encounter** this issue **only** when I open the **create new image-slider**, with edit there's no issue!

Please be aware that due to the hig

[2022-02-23 11:48] Saimis777 opened #27782 "Brands description characters limit does not work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Entering the short description whil

[2022-02-23 11:52] Saimis777 commented on #27782
Same goes for the field below "Description"

[2022-02-23 12:19] #27411 closed, assigned to jolelievre, jf-viguier

[2022-02-23 12:21] matks commented on #26199
Fixed by @jolelievre https://github.com/PrestaShop/PrestaShop/pull/27766

[2022-02-23 13:36] florine2623 commented on #27625
Hello @maofree ,

Could you specify the exact steps to reproduce the bug ?
As well as provide a screen record of the bug please ?

As for now, it cannot be reproduce, so it cannot be tested.
Thanks!

[2022-02-23 13:37] Peter4661 commented on #27452
Hello Hibatallah Aouadni,

I have a question about truncate product titles and don't know whom to turn
to. On the PS forum I did not find the answers
Up to version 1.7.8.2 , I know how to set the length of product titles on
product.tpl.

With version 1.7.8.3 there was a change and the previous method does not
work anymore.  Default length of product titles is way too short to make
the product titl

[2022-02-23 13:54] hibatallahAouadni commented on #27774
Hello @danidomen

Could you please provide a basic module contain the "Product::isDiscounted" function to help me to reproduce the issue :pray:
Waiting for your feedback.

Thanks!

[2022-02-23 13:57] maofree commented on #27625
Hi
I get this problem on 5-7 websites, all of them manage the stock management enabled, and it happens when the "Product availability" is enabled
and only on products with combinations with quantity = 0.

I got 500 errors from google search console, with my fix the problem is solved in those sites, I'm sure that all websites with a theme bought from addons and the same stock management conditions

[2022-02-23 14:08] okom3pom commented on #27625
@maofree can you try a video

[2022-02-23 14:27] Hlavtox commented on #27782
I wonder why is there any limit at all. If the merchant needs to add some info there, why block him?

[2022-02-23 14:35] hibatallahAouadni commented on #27782
Hello @Saimis777

Thanks for reporting the issue!
I reproduce the issue with PS1767, PS1778, PS1783 and even on develop, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/155340199-8181e9e5-de0c-4f0e-8fa0-515ca9e95166.mp4

When we enter less or exact the same number of allowed charcaters, it should be well saved and not truncated!
When we enter more than the

[2022-02-23 14:37] NeOMakinG commented on #27473
To clarify, we need to launch every events from core.js on a loader/ready event, overwise you would be forced to add your asset before the core.js file, which is pretty hard because you need the `prestashop` object

So, events should be fired AFTER your custom script execution, but your custom script should be placed AFTER the corejs file, this is why document.ready are used

In your custom.js, yo

[2022-02-23 14:40] maofree commented on #27625
Hi
here is the video
https://watch.screencastify.com/v/ICH8dPstR6HPizqZTUrf

I think it is due from prestashop's version
this video is done on a website with 1.7.6.7 and it has this error, instead on a site upgraded yesterday from 1.7.6.2 to 1.7.8.3 is without this error. I think it is not a problem of the theme, because the theme is the same used on 1.7.6

[2022-02-23 14:41] #27473 closed, assigned to nobody

[2022-02-23 14:41] hibatallahAouadni commented on #27782
Ping @PrestaShop/product-team we're missing some specs [here](https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/catalog/brands-and-suppliers/brands.md) :pray:
Thanks in advance :heart:

[2022-02-23 14:52] okom3pom commented on #27625
Tnak you can you put a screenshot like so the QA can be test

![Capture d’écran de 2022-02-23 15-50-52](https://user-images.githubusercontent.com/5064590/155343601-1989d19c-8482-4dd5-8e10-0fdf0f8b17ad.png)

Thank again

[2022-02-23 15:11] Hlavtox commented on #27782
@hibatallahAouadni The description should not be smaller, the theme should not have a fixed height. 👍

[2022-02-23 15:25] Hlavtox commented on #27782
@MatShir I think that it should not be the responsibility of the core to limit the merchant in what he wants to enter there, these length restrictions don't make very much sense for me...

If I have a theme that displays brands in two columns and long text looks fine there, why should I be blocked from entering a longer short description by the core? 🤔

[2022-02-23 16:16] hibatallahAouadni commented on #27778
Hello @KminekMatej

Could you please explain these sentences:

Which groups you mean? and could you please provide some screenshots or a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-02-23 16:31] MatShir commented on #27782
I'm not sure why there is a limit in the first place. I think it is the default value of the TinyMCE component. IMO, we can just remove the wording if the field in the database doesn't have any limit.
We might have this issue for every time the TinyMCE is used. @Hlavtox I think you had an issue for the categories page.

[2022-02-23 16:33] hibatallahAouadni commented on #27721
Hello @duongductuan

I didn't manage to reproduce the issue with PS1783, check my attached dev.log below:

[dev.log](https://github.com/PrestaShop/PrestaShop/files/8126087/dev.log)

Waiting for your feedback.
Thanks!

[2022-02-23 16:41] khouloudbelguith opened #27784 "BO - Customers page - An exception is displayed when "Maximum number of payment days" invalid"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Customers > Customers p

[2022-02-23 17:37] mparvazi commented on #27777
Hello @hibatallahAouadni

I've encountered with this error on https://github.com/PrestaShop/ps_imageslider/pull/70
So I tried to fix there.

[2022-02-23 20:40] AldeaG commented on #17317
I do not really know how I arrived here, searching other solutions but I found two free modules which do what I think is exactly what you are looking for, from Sunnytoo.com
One is [Combination images as textures - Free](https://www.sunnytoo.com/57773/show-combination-images-textures-free-prestashop-module)
And the other [Free color name module for PrestaShop 1.7](https://www.sunnytoo.com/51255/fre

[2022-02-23 21:46] sveneusewig commented on #20999
[prestashop_1.7.8.3.zip](https://github.com/PrestaShop/PrestaShop/releases/download/1.7.8.3/prestashop_1.7.8.3.zip)

[code]

That's all there is to it with your Prestashop. Any php script and vhost can be run with my nginx, just not your Prestashop with your configuration [https://devdocs.prestashop.com/1.7/basics/installation/nginx/](https://devdocs.prestashop.com/1.7/basics/installation/nginx/).

[2022-02-24 01:53] 121213tjfgalfjaf commented on #27522
the chinese simplified and traditional still can't save the translation

[2022-02-24 08:56] khouloudbelguith opened #27785 "[BO - Outstanding ]An exception is displayed in the Oustanding page when the customer with valid orders is deleted"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Reported here: https://github.com/P

[2022-02-24 09:10] Hlavtox commented on #27782
@MatShir I think Kholoud didn't make an issue yet, she found that `invalid characters: <>;=#{}` and limit of `21844` does not work.

Sooo @khouloudbelguith can you re-test and check what is happening? If it's cutting the description in half, or it saves properly etc. It could be related to this issue also.

And Mateus must decide if we should remove `invalid characters: <>;=#{}` or fix it. 👍

[2022-02-24 09:14] Hlavtox commented on #9826
@jolelievre @matks This may be fixed in the new page. Can you check?

[2022-02-24 09:16] Hlavtox commented on #12746
@seederp2p I want this also, let's do it

[2022-02-24 09:19] matks commented on #9826
The combinations generator was optimized but I'm pretty sure it will fail anyway if a merchant tries to generate too many combinations. PrestaShop is a PHP web application and PHP web applications cannot handle long-running operations such as creating a very big number of elements. It also involves the settings and power of the server which are different for every shop.

That being said we'll be a

[2022-02-24 09:24] NeOMakinG commented on #27219
Build just sent to the QA

[2022-02-24 09:26] Hlavtox commented on #9826
We can do it with batches Mathieu, faceted search does it like that for example, by 100 products per request.

The limits on public hosting are usually low - 60 seconds execution time and maybe 1k input vars. Also, free cloudflare has limit of 100 seconds.

[2022-02-24 09:29] jolelievre commented on #9826
We would need to define how many "too many" is? 😅

But all I can say is I tested to generate combinations with all the attributes from default data (672 combinations). On legacy page the ajax calls fails with error 500 and then the page is not accessible anyùore for this product.

In new page no problems, everything is generated in 2~3sec

[2022-02-24 10:04] pulkitjuneja1997 opened #27786 "prestashop.translation.translator_language_loader""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

`Fatal error: Uncaught Symfony\Comp

[2022-02-24 10:05] pulkitjuneja-cedcoss commented on #27786
I think there is some issue in prestashop backend settings

[2022-02-24 10:11] hibatallahAouadni commented on #27786
Hello @pulkitjuneja-cedcoss

Do you have multiple language enabled on your shop? Cause it seems your issue related to this one #27411
Please check and feedback.

Thanks!

[2022-02-24 10:12] jolelievre commented on #9826
I was able to successfully generate 8064 combinations... in 12 minutes 😅
With 209664 it failed though!

So there is a significant improvement compared to legacy page but we can do better. We already thought about splitting the calls into chunks but I'm not sure we'll have time to do it for 8.0. I believe it is marked as nice to have (to confirm with @MatShir)

[2022-02-24 10:30] pulkitjuneja-cedcoss commented on #27786
This issue is solved now. I have followed this url
https://github.com/PrestaShop/PrestaShop/pull/27622

[2022-02-24 10:33] #27786 closed, assigned to nobody

[2022-02-24 10:59] PrestaSafe commented on #18016
I've the same issue for one of my client.

To fix it, i've renamed the `img/tmp` by `img/tmp-old` and create a new  folder  `img/tmp`
and it works fine !

Because if the image exist in the tmp folder, it won't be generated anymore.

[2022-02-24 11:39] ghost opened #27787 "Create NumberWithUnitType and IntegerWithUnitType"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-24 13:25] roberto3211 opened #27789 "Gsitemap prestashop module issue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,
I have a multisite configuratio

[2022-02-24 13:42] sirius82 opened #27790 "Cannot add a root category for multishop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
On an existing shop, I wish

[2022-02-24 14:47] hibatallahAouadni commented on #27787
Hello @okom3pom

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

And it seems that @micka-fdz is working on it :muscle:
So, we're waiting for your PR :rocket:

Thank you

[2022-02-24 18:24] cuatrolatas commented on #27409
Hi,

Sorry, but the problem still continues (PrestaShop 1.7.8.3).

If you set up a **single payment method** (for example "Pay by bank wire") and disable the TOS option, the "Place order" button stays gray.

Thanks!

[2022-02-24 20:42] kartoffelfighter commented on #27740
Hi @hibatallahAouadni

I installed on a local testserver the Dockercontainer for prestashop with `admin@localhost` as email. When i wanted to log in to exactly this instance as `admin@localhost` i got an error below the email field, that my email is not valid (missing the top-level, i.e. `.com`).
I fixed the issue in my mysql-db by changing the email to `admin@localhost.com`, but nevertheless, i t

[2022-02-24 21:58] hibatallahAouadni commented on #27768
Hello @papich06

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or

[2022-02-24 21:58] #27768 closed, assigned to nobody

[2022-02-24 22:00] hibatallahAouadni commented on #27765
Hello @jf-viguier

I know it's kind of stupid question :sweat_smile:
But could help me to apply this step :sweat_smile: sorry :pray:

Waiting for your feedback.
Thanks!

[2022-02-24 22:04] hibatallahAouadni commented on #27789
Hello @roberto3211

This issue is related about gsitemap performance :wink:
I will treat as a feature/improvement to improve the module performance.

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you

[2022-02-24 22:06] MathiasReker commented on #23222
Hello @florine2623

To reproduce the problem you must translate a module, not the core. :-)

Eg. a module folder will look like this: modules\mymodule\translations
.
|-- ar.php
|-- en.php
`-- index.php

The problem is that AR is **Arabic**. But **Argentina** is AR as well in this context.

[2022-02-24 22:08] hibatallahAouadni commented on #27790
Hello @sirius82

Your issue seems duplicate of #10942
Could you please check it and feedback.

Thanks!

[2022-02-24 22:09] hibatallahAouadni commented on #27786
@pulkitjuneja-cedcoss Glad to hear :tada:

[2022-02-25 07:48] papich06 commented on #27768
Hello @hibatallahAouadni
it's not a new feature to design attributes with css?
add an image like the screenshots presented?

[2022-02-25 08:28] Prestaworks commented on #27183
It's possible to add the non www url to the second and third shop in shop urls in BO. If you do this, Prestashop will know what shop id to use and then there will be a correct redirect to the www url.
I don't think this is a bug, but a configuration issue.

[2022-02-25 08:33] khouloudbelguith commented on #23222
Hi @MathiasReker,

I did not manage to reproduce the issue with PS1783.
I attached a screen record

https://user-images.githubusercontent.com/16067358/155682201-6c8bd98a-ff43-42ee-b806-4cf1223e02e5.mp4

Thanks to check and feedback

[2022-02-25 08:41] roberto3211 commented on #27789
Hi Hibatallah Aouadni,
very quick and clear in the answer, as usual.
Is there any trick to split the sitemaps creation?
For instance, can I make one language at a time?
Can I use a parameter in the command to make the sitemap for only one language?
Thanks
Roberto Pogliani

[2022-02-25 08:53] Prestaworks commented on #27087
I did a run of the files with php -l
using 5.6.40

Parse error: syntax error, unexpected '?' in D:\Github\autoupgrade\.github\get_results.php on line 3
Errors parsing D:\Github\autoupgrade\.github\get_results.php

Parse error: syntax error, unexpected ':', expecting ';' or '{' in D:\Github\autoupgrade\upgrade\php\migrate_tabs_17.php on line 102
Errors parsing D:\Github\autoupgrade\upgrade\php\migr

[2022-02-25 09:51] Prestaworks commented on #26014
I can't reproduce this on
1.7.8.3 Tested with PHP 7.4.9 and 7.3.19
following virtual url was used
éé
and
éé/´/
seems to work fine in both BO and FO.
is it a regression for develop?

[2022-02-25 09:58] khouloudbelguith commented on #27740
Hi @kartoffelfighter,

I manage to reproduce the issue with PS1783 & PS1778.
I tried to installed the shops via cli using this command
`php install-dev/index_cli.php --language=en --country=fr --base_uri=1783 --domain=0.0.0.0:8081 --db_server=10.1.55.2 --db_user=root --db_name=ps1783 --db_password=xxx --prefix=sk_ --firstname=demo --lastname=demo --email=admin@localhost --password=123456789 --db_c

[2022-02-25 10:10] khouloudbelguith commented on #27765
Hi @jf-viguier,

I manage to reproduce the issue with PS1778 & PS1783
![image](https://user-images.githubusercontent.com/16067358/155696613-1c7b66f9-b614-448c-aa80-369ec645507d.png)
The browser autocomplete is displayed when I try to fill the date picker of a catalog price rule.
so I can confirm that this behavior is indeed a bug.

Thank you for the issue & the PR :slightly_smiling_face:

[2022-02-25 10:21] Progi1984 commented on #17157
@MatShir I think this issue should be closed as this page is relative to the module `Gamification`

[2022-02-25 10:27] khouloudbelguith commented on #26014
Hi @Prestaworks,

I manage to reproduce the issue with PS1783 in my case also
![image](https://user-images.githubusercontent.com/16067358/155699163-f0d0966c-ddfc-4ee3-834d-70f25fa90e62.png)

at this step: Set an invalid virtual URL for this shop for example (set the Virtual URL to `éé((èè/ )` and I save
All the shop is NOK

Thanks!

[2022-02-25 10:29] Prestaworks commented on #26014
That's odd, It works well for me in my local enviroment.
Have you any other settings that could cause issues? does the frontend work?

[2022-02-25 10:41] khouloudbelguith opened #27794 "[Delivery pdf] Products Images are not well displayed with RTL lanaguage"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is related to this issue

[2022-02-25 10:48] Hlavtox commented on #27789
@roberto3211 We can do it in batches.

- We can dynamically get a timeout from php configuration.
- Do a lock file with a progress on start, either with last processed URL or a "TODO" list of some kind.
- On each sitemap link generation, check if we are not reaching the limit. When approaching the limit, redirect again.
- On each run of the script, check if we have a lock file, or it's a fresh sta

[2022-02-25 10:55] khouloudbelguith commented on #26014
@Prestaworks, my information

![image](https://user-images.githubusercontent.com/16067358/155702912-5f1c1e80-22ee-48ff-b602-d40891c9030e.png)
I attached a screen record

https://user-images.githubusercontent.com/16067358/155703297-3d84ae9f-bb03-4e7b-b5f1-355646201d23.mp4

Thanks!

[2022-02-25 11:06] Prestaworks commented on #26014
Got it, it's not the éé that breaks it, it was the (( ) and - and due to these being written into the htaccess file. Thanks @khouloudbelguith now I can recreate the issue.

[2022-02-25 12:40] Prestaworks commented on #26014
It will work if the chars are properly escaped in the htaccess file. \( instead of (
Solution here is either to block invalid chars from being saved or to escape them properly in the htaccess file.
I am not sure what solution is prefered, I see pros and cons on both.

[2022-02-25 12:51] danidomen commented on #27774
Sure @hibatallahAouadni ,

Here is it:
[wim_test27774.zip](https://github.com/PrestaShop/PrestaShop/files/8141235/wim_test27774.zip)

Or if you prefer, the code to reproduce it could be something similar to this (on this example hooked on "header"):
[code]
Remember enable debug mode on your PS and also visit your store product page with a clean session (no cart or logging)

[2022-02-25 13:29] khouloudbelguith commented on #27774
Hi @danidomen,

thanks for your feedback.
I manage to reproduce the issue with:
1. PS1783 + PHP7.4
2. PS1780+ PHP7.4
![image](https://user-images.githubusercontent.com/16067358/155722707-20ad5476-dac5-4d2c-956f-867ce662dea2.png)

It is ok with:

1. PS1778 + PHP7.3
2. PS1782 + PHP7.3
![image](https://user-images.githubusercontent.com/16067358/155722829-3864f636-bf44-4a5b-93b0-cacb11abe449.png)

PS1

[2022-02-25 14:15] Laimonas-Mituzas commented on #27042
Check the 'ps_cart' does the id_currency` has valid value. In my case it was "0". Changed to "1" - fixed.

[2022-02-25 14:17] Laimonas-Mituzas commented on #23189
Check the 'ps_cart' does the 'id_currency' has valid values. In my case it was "0". Changed to "1" - fixed. See your values according to 'ps_currency' table.

[2022-02-25 14:25] LinkOfLight opened #27796 "cant update any module and traduccions"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If I update any prestashop module i

[2022-02-25 15:01] matks opened #27798 "BO - Security - The help modal cannot be opened"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In BO page Security the help modal

[2022-02-25 15:02] matks commented on #27798
@Julievrz Just like https://github.com/PrestaShop/PrestaShop/issues/23996 we need a new help page for the Security BO page because it is a new page (it does not exist in 1.7.8)

[2022-02-25 15:04] khouloudbelguith commented on #27796
Hi @LinkOfLight,

I did not manage to reproduce the issue with PS1783
**Apcu not installed**

https://user-images.githubusercontent.com/16067358/155737837-8141c6cf-7a07-481a-a6f8-4745704425bc.mp4

**Apcu installed**

https://user-images.githubusercontent.com/16067358/155737870-52990578-ff48-4c02-9b78-8260ad0ea8da.mp4

I used also PHP7.4

Thanks to check and feedback

[2022-02-25 15:07] khouloudbelguith commented on #27798
Hi @matks,

I manage to reproduce the issue with develop branch
![image](https://user-images.githubusercontent.com/16067358/155738389-77eecff6-d7bb-497c-b347-6a169f5286aa.png)
so I can confirm that this behavior is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wai

[2022-02-25 16:41] danidomen commented on #27774
Hi @khouloudbelguith,

I make the PR also (is on the issue linked :D https://github.com/PrestaShop/PrestaShop/pull/27775), and indeed I fixed on the projects that we use modules that uses that function. But thanks for the tip ;)

[2022-02-25 16:48] omar2886 commented on #27654
Can you PLEASE @hibatallahAouadni tell me where the total taxes of the order is store? because it's not in ps_orders
Thank!

[2022-02-25 17:18] khouloudbelguith opened #27799 "[Mobile] BO - Stocks page - The multistore header is NOK when using a mobile"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Catalog > Stocks page,

[2022-02-26 00:32] ProteanCode commented on #10998
The problem is still present in 1.7.8.3

[2022-02-26 19:36] RicRey1988 opened #27800 "BO - login page - long shop name overlap the Back link below"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

after upgrading from prestashop 1.7

[2022-02-26 20:39] sirius82 commented on #27790
hello @hibatallahAouadni
Thanks for your reply.
No, I don't think it's the same issue because I whished to create a new root category, not to change an existing to be root.
When I clicked on the link to add a category, it was the normal category page opened. If I created a new category, I could only  associate it with Home.
After to have created this root category in the database (for shop group 2

[2022-02-26 21:09] sirius82 opened #27801 "CMS page : text added is not saved"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
I changed an existing websit

[2022-02-27 08:07] Rizzen59 commented on #27604
@MatShir i'm looking how to contribute on prestashop and try to fix :)

[2022-02-27 19:14] maofree commented on #27625
Hi
right now I've upgraded a website from 1.7.7.5 to 1.7.8.3 and I get the same problem enabling the stock management

![7](https://user-images.githubusercontent.com/653230/155896395-7113cd0b-7c98-4d33-a182-3c4b7954b526.png)

[2022-02-28 08:38] rsoulard-prolaser commented on #27690
Hello @hibatallahAouadni
The url is not correct, for update an attachment, you must use this url:
`http://prestashop/prestashop_1.7.8.3/api/attachments/file/1?ps_method=PUT`
Thanks

[2022-02-28 09:02] khouloudbelguith commented on #27684
Hi,

I found a lot of pages BO => exception when profiling is enabled.
Orders / Invoices / Products / Categories/ View Brand / Edit a brand / View supplier / Edit supplier / Stocks page / Customers page / addresses / Module Manager / Module Catalog page / Edit a page / View category page / Edit category page / Edit link list / Payment / Payment preferences / Localisation / Translations / Order Set

[2022-02-28 09:08] jolelievre commented on #10568
I don't know if this is an Epic but maybe we should integrate this issue in it as well? https://github.com/PrestaShop/PrestaShop/issues/10568

[2022-02-28 09:17] hibatallahAouadni commented on #27801
Hello @sirius82

It seems your issue related to your PHP version, you need to downgrade your PHP version to 7.2 cause PS1764 is not compatible with PHP 7.4 (see our system requirements).
As you can see in my attached screen record below, I didn't reproduce the issue with PS1767:

https://user-images.githubusercontent.com/23308427/155956735-1f11d43c-ecd7-4029-b3df-f81f42d44565.mp4

Closing the issu

[2022-02-28 09:17] #27801 closed, assigned to nobody

[2022-02-28 09:28] jolelievre commented on #27684
I tried to reproduce this bug last week but didn't encounter any issue on any of the pages you mentioned
I think we need more details for this issue, unless I missed something To enable the profiling I modified this line
https://github.com/PrestaShop/PrestaShop/blob/44991dde9227f1fa05fb6889a79559600e944df1/config/defines.inc.php#L47

And changed the value to `true` are there other steps I may have

[2022-02-28 10:09] Progi1984 commented on #9965
Ping @MatShir ;) As discussed, the ball is on your side.

[2022-02-28 10:20] khouloudbelguith commented on #27684
Hi @jolelievre,

Thanks for your feedback.
I updated my comment

After an upgrade from PS16124 => PS1782: OK no exception
After an upgrade from PS16124 => PS1783=> exception in a lot of pages listed
After an upgrade from PS16124 => 178x (1784build1) => exception in a lot of pages listed
Fresh install 178x(1784build1) => exception only in the module manager
Fresh install PS1783 => exception only in

[2022-02-28 10:31] hibatallahAouadni commented on #27800
Hello @RicRey1988

Thanks for reporting the issue!
I reproduce the issue with PS1783, PS1780 and PS1778, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/155967775-afd5b6b1-6dc4-4f1f-a99f-74169938dd8c.mp4

With PS1778, the title must be 6 lines to reproduce the issue and that's kind of absurd to have a title that long.
While with PS1780, we encounter the is

[2022-02-28 10:40] hibatallahAouadni commented on #27801
@sirius82 you're welcome :relaxed:

[2022-02-28 10:49] Hlavtox commented on #27800
Who the hell puts fixed heights on things!!! 🤦‍♂️

[2022-02-28 12:08] RicRey1988 commented on #27800
Actually, it doesn't seem absurd to me, since in the general title of the store it is specified a little what the store is, the strange thing is that they have put it as fixed...

The solution seems simple, but they should leave it for future versions, it's something that doesn't affect anyone and benefits some of us who use big titles...

I have been using Prestashop since its version 1.3 and my

[2022-02-28 12:38] MathiasReker commented on #23222
Hello [khouloudbelguith](https://github.com/khouloudbelguith)

Thanks for your video. I get your point, but that is for export. I want to include the translations in the module. In module context, we are using two characters, and in the export example, you are using a different language code.

Export context:
**ar-SA
es-AR**

Import context:
**ar
ar**

So let's say I want to include the translatio

[2022-02-28 13:53] NeOMakinG commented on #27800
@hibatallahAouadni the fixed height should be removed, it can be a min-height for example, but not a fixed height! Getting the text out is not the right solution to me

[2022-02-28 14:23] amaury-hanser opened #27805 "Increase CSS specificity for js-mobile-menu"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-02-28 14:28] Fukitsune commented on #10178
Hello, Exactly same problem ;)

[2022-02-28 14:29] amaury-hanser commented on #27805
The fix might be done in both files:
- `PrestaShop/admin-dev/themes/default/scss/partials/_nav.scss`
- `PrestaShop/admin-dev/themes/new-theme/scss/components/layout/_nav_bar.scss`

Should I make a PR with a change in `scss` files only or also with the compiled files ?

[2022-02-28 14:41] MatShir commented on #27665
@mparvazi what do you think about this issue ? ;)

[2022-02-28 14:47] #19459 closed, assigned to Progi1984

[2022-02-28 14:49] mparvazi commented on #27665
The classic-email uses a css file for RTL overrides, but currently most of the email services dismiss using external css files.
Even you add RTL overrides as inline-style, then there is no guarantee all the css rules to be used by email services.

[2022-02-28 14:52] MatShir commented on #27591
On Chrome 98, the issue seems to be fixed. I will close the issue. Thanks ! :)

[2022-02-28 14:52] #27591 closed, assigned to nobody

[2022-02-28 14:57] MatShir commented on #27794
@mparvazi we need your RTL skills !

[2022-02-28 15:07] mparvazi commented on #27665
@MatShir

Is it really needed to fix classic email theme for RTL? modern-email currently is RTL adopted.

If you want to fix this problem for RTL, a refacto will be needed for classic-email (using smarty variables instead of hard-coded alignments).

[2022-02-28 15:26] eternoendless commented on #27184
@marwachelly it's not the same issue

[2022-02-28 15:29] eternoendless commented on #27184
I agree that any hook can already be present in the database (added by a module for example), so changing the SQL statement to `INSERT IGNORE` should fix it.

@Prestaworks don't hesitate to send a PR to [prestashop/autoupgrade](https://github.com/PrestaShop/autoupgrade/blob/dev/upgrade/sql/1.7.0.0.sql)

[2022-02-28 15:49] atomiix commented on #27734
@khouloudbelguith I just tried to reproduce this issue and I haven't been able to. Can you try again? I think it has been resolved already

[2022-02-28 15:57] Progi1984 commented on #27734
Yes and @khouloudbelguith has the bug with `autoupgrade v4.14.0`.

[2022-02-28 16:00] atomiix commented on #27733
This issue come from `ps_mbo` that try to use a file that has been removed in develop. I think the fix should come from `ps_mbo` rather than from the core ;)

[2022-02-28 16:04] matks commented on #27684
@mrports @PrestaEdit @prestamodule please have a look at https://github.com/PrestaShop/PrestaShop/pull/27806 ;)

[2022-02-28 16:05] matks commented on #27603
@tone87 @roncarino @smartdatasoft please have a look at https://github.com/PrestaShop/PrestaShop/pull/27806 ;)

[2022-02-28 16:15] PrestaEdit commented on #27603
Hi @matks ! I just test this change onto an existing 1.7.8.3 with the module that throw the error and... it's still exists, it's seems.

[2022-02-28 16:57] khouloudbelguith opened #27807 "Some exceptions displayed after an upgrade from PS16124 when "Enable advanced stock management" is enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I found an exception after an upgra

[2022-02-28 18:12] #27805 closed, assigned to nobody

[2022-02-28 18:12] hibatallahAouadni commented on #27805
Duplicate of #22892

[2022-02-28 18:14] hibatallahAouadni commented on #22892
_Origanlly posted by @amaury-hanser_

The fix might be done in both files:
- `PrestaShop/admin-dev/themes/default/scss/partials/_nav.scss`
- `PrestaShop/admin-dev/themes/new-theme/scss/components/layout/_nav_bar.scss`

Should I make a PR with a change in `scss` files only or also with the compiled files ?

---
Ping @NeOMakinG could you please answer @amaury-hanser question :pray:

[2022-02-28 18:19] hibatallahAouadni commented on #22892
PS: this issue occurs not only with blockreassurance module but with Metrics also.

[2022-02-28 20:45] matks commented on #12216
Fixed in latest version of the UI Kit https://build.prestashop.com/prestashop-ui-kit/?path=/docs/forms--files

[2022-02-28 20:45] #12216 closed, assigned to nobody

[2022-02-28 21:17] mparvazi commented on #27794
Unfortunately the problem is related to:
`vendor/tecnickcom/tcpdf/tcpdf.php`
![Screenshot from 2022-02-28 23-56-46](https://user-images.githubusercontent.com/85633460/156053847-4803d474-0a0e-4bdb-90ec-a3ef39d14fb7.png)

I think this problem can not be solved by the PS.

[2022-02-28 21:21] mkdgs commented on #27603
I facing the same issue on many page of BO after upgrade from 1.7.8 to 17.8.3
I've a crap fix, sampled, here:
https://gist.github.com/mkdgs/302cb2b56205cbb4b013a79610ea1aa1

It's seem not directly caused by a module (or an override), I've disabled everything and the problem was still present.
I didn't research further to find what caused this problem of escapement.

I will digging more in few day,

[2022-03-01 07:20] jouino16 opened #27810 "Quick View : get "An error occurred while processing your request" error when updating quantity"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

**Context: product page with combin

[2022-03-01 08:28] amaury-hanser commented on #22892
I would add that it occurs on every page where a module loads material-icons by itself. (Metrics, Marketing with Google, Facebook, Ps Accounts are some example)

[2022-03-01 09:59] NeOMakinG commented on #22892
I didn't dive deep today, but before, I noticed that the CSS from this module was loaded before the core one, causing this issue, if you have a better solution than just loading the CSS after the core, don't hesitate to provide a PR so I can get a look at the fix implementation

[2022-03-01 10:07] KevinChauvet commented on #22215
Thanks mate !
Updated from 1.7 to 1.8 and older customers before 2019 were in error. Your requests have solved all the issues !

[2022-03-01 10:25] marwachelly commented on #22667
Hello,

The issue is reproducible also when changing the product quantity. Description is updated.
https://watch.screencastify.com/v/rLBT7EAL4DYn289zZDT1

Thanks,

[2022-03-01 10:27] marwachelly commented on #27810
Hello,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22667.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks,

[2022-03-01 10:27] #27810 closed, assigned to nobody

[2022-03-01 10:28] marwachelly commented on #27810
Duplicated of https://github.com/PrestaShop/PrestaShop/issues/22667

[2022-03-01 11:02] Progi1984 commented on #27733
Ping @intraordinaire & @sowbiba

[2022-03-01 11:08] saulaski commented on #25791
Agreed, SEO constraints should be handled where they belong and not by the catalog of products.
But such a major change could be impacting, and the final decision belongs to product managers.

[2022-03-01 12:24] pphilipondollet commented on #26376
Hi there, Any news on when this feature will be restored ? Still missing in 1.7.8.x and still absolutely critical for real life customers ;-)

[2022-03-01 13:42] mark-app commented on #27725
@hibatallahAouadni  No it isn't. This one is only about the first item with position 0 for the item list. This should be 1 instead of 0.

[2022-03-01 13:53] #27765 closed, assigned to jf-viguier

[2022-03-01 15:45] mparvazi commented on #27794
@MatShir

I just found a solution that can fix the problem, not so smart but it works!
Files that needs to be modified:
[code]

LTR:
![Screenshot 2022-03-01 at 19-11-39 IN000001-20 pdf](https://user-images.githubusercontent.com/85633460/156200237-69d2963b-43c2-4c5f-9d90-e49db9f7aac4.png)

RTL:
![Screenshot 2022-03-01 at 19-11-14 IN000001-23 pdf](https://user-images.githubusercontent.com/85633460/1

[2022-03-01 15:54] marwachelly commented on #23222
Hello,

Could you please provide a screen record with the steps to reproduce the issue?

Many thanks,

[2022-03-01 16:40] marwachelly commented on #27790
Hello,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/21180.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks,

[2022-03-01 16:40] #27790 closed, assigned to nobody

[2022-03-01 16:40] marwachelly commented on #27790
duplicated of https://github.com/PrestaShop/PrestaShop/issues/21180

[2022-03-01 16:50] PierreRambaud commented on #27740
Unfortunately, `admin@localhost` is not a valid email address.
You misunderstand what `admin@localhost` is. It's `"USER"@"DOMAIN"`, it could be `admin@127.0.0.1` which is not related to the email address (the email address RFC will tell you it's not valid.)
It's the same as the MySQL domain.

We will not fix that as it's not an email address.

[2022-03-01 21:11] mkdgs opened #27816 "formating number fail on NULL value"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This seems to be a regression
After

[2022-03-01 21:14] matks commented on #22892
@NeOMakinG check https://github.com/PrestaShop/PrestaShop/pull/27813 😄

[2022-03-01 22:08] mickaelmarin opened #27818 "faceted search on new products not display"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On new product page the faceted sea

[2022-03-01 22:57] hibatallahAouadni commented on #26977
Hello @mikirimiki

That issue is has been fixed within 1780, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/156262761-7cf53377-72d7-43ba-8bf5-ffe082949a42.png)

Ping @khouloudbelguith this issue has been fixed with PS1780, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/156262823-afdeb547-8134-4df1-bb9

[2022-03-01 22:57] hibatallahAouadni commented on #26977
Duplicate of #19963

[2022-03-02 00:42] hibatallahAouadni commented on #27816
Hello @mkdgs

Did you enable this option? see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/156272840-b5aef2c3-bf17-43ac-af2f-e1685ec66931.png)

Please check and feedback.
Thanks!

[2022-03-02 00:43] hibatallahAouadni commented on #27816
Related issues: #10274 & #26859

[2022-03-02 00:48] hibatallahAouadni commented on #27818
Hello @mickaelmarin

Could you please explain this step:

Waiting for your feedback.
Thanks!

[2022-03-02 00:49] hibatallahAouadni commented on #27633
Hello @grabelle

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-03-02 00:49] #27633 closed, assigned to nobody

[2022-03-02 00:50] hibatallahAouadni commented on #27508
Hello @modex9

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-03-02 00:50] #27508 closed, assigned to nobody

[2022-03-02 00:51] hibatallahAouadni commented on #27487
Hello @Nonoland

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-03-02 00:51] #27487 closed, assigned to nobody

[2022-03-02 00:52] hibatallahAouadni commented on #27639
Hello @PrestaEdit

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-03-02 00:52] #27639 closed, assigned to nobody

[2022-03-02 01:36] mickaelmarin commented on #27818
When you activate the new products module  in the  back office on the home page (this is the defaullt on classic theme)

[2022-03-02 03:02] lephuongbg opened #27819 "Suggest to add modified time as query string to CSS/JS links for automatic cache busting on file changes"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-02 08:28] hibatallahAouadni commented on #27819
Hello @lephuongbg

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement th

[2022-03-02 09:45] Prestaworks commented on #27184
How about adding "IGNORE" to the hook_alias inserts also?

[2022-03-02 10:19] matks commented on #27819
greetings @lephuongbg can you explain what usecase you would like to solve?

I think it's something like

- you build module A, you use `addMediaCss()` to inject a CSS stylesheet `mymodule.css`
- you release v1.0.0 of module A
- then you want to build v1.1.1
- you modify CSS inside v1.1.1
- but when people upgrade from v1.0.0 to v1.1.1 the CSS is still cached in browser, then `mymodule.css` new ve

[2022-03-02 10:23] Progi1984 commented on #24639
It's finished for the moment.

[2022-03-02 10:24] #24639 closed, assigned to eternoendless, Progi1984

[2022-03-02 10:31] khouloudbelguith commented on #27684
Hi,

Other steps to reproduce the same exception in all migrated pages with Fresh install PS1783 & PS1784build1

1. Install 1784build with Arabic language (Prefix = sk in my case)
2. edit the file 1784/config/defines.in.php and change it from define('_PS_MODE_DEV_', false); to define('_PS_MODE_DEV_', true);
3. go to BO > Dashboard (Welcome module displayed)
4. Click on Next ( التالي en arabe)
5. S

[2022-03-02 10:38] Peter4661 opened #27821 "V 1.7.8.3 unable to truncate product title"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After update to V1.7.8.3 unable to

[2022-03-02 10:46] intraordinaire commented on #27733
The `ps_mbo` module is also currently under a huge refacto, and this issue does not exist when using the `develop` branch on `PrestaShop`, and the `3.x` branch on `ps_mbo`.
But good to know, as we will check that the `autoupgrade` works correctly.

[2022-03-02 11:55] florine2623 opened #27823 "After upgrade from PS 1.7.5.2 to version > 1.7.7.0, error in Shop Parameters > Search : field Maximum word length (in characters) is required"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-02 13:01] Hlavtox commented on #27819
@lephuongbg When any CSS or JS file gets changed, it should purge the cache and rebuild the combined CSS file automatically, under a different name. This is currently not working, **but when it will, will it solve your usecase?**

[2022-03-02 13:33] saulaski commented on #27184
What about REPLACE to force changes from the upgrade, instead of keeping the previous obsolete values ?

[2022-03-02 13:59] Progi1984 commented on #25887
@MatShir After code analysis, it seems logical :

* When we are in the cart, a `message` is created (linked to cart & customer)
* When the cart is validated (`PaymentModule::validateOrder`) and the order created,
  * the `Message` is linked to order
  * a `CustomerThread` with a first `CustomerMessage` and the same `Message` content  is created
* In steps, we are going in `Client service` where we

[2022-03-02 14:25] #27734 closed, assigned to nobody

[2022-03-02 15:36] mikirimiki commented on #26977
Hello,
the problem was fixed with PS 1.7.8.3?

Best regards

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
02/03/22,
16:35:48

On Tue, 1 Mar 2022 at 23:57, Hibatallah Aouadni ***@***.***>
wrote:

--
*Michele

[2022-03-02 15:51] #24423 closed, assigned to nobody

[2022-03-02 16:32] hibatallahAouadni commented on #27821
Hello @Peter4661

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) o

[2022-03-02 16:32] #27821 closed, assigned to nobody

[2022-03-02 17:00] khouloudbelguith commented on #26977
Hi @hibatallahAouadni,

I manage to reproduce the issue with PS1784. It is an issue with the invoice after updating an order from BO.
![image](https://user-images.githubusercontent.com/16067358/156410259-9493dedd-3b10-4519-a7ea-5a5da6051104.png)
This issue: https://github.com/PrestaShop/PrestaShop/issues/19963 is about the displayed in the FO

I will re-open the issue.

Thanks!

[2022-03-02 17:36] adrien-tafftaff commented on #10405
Hello,
you can modify Hook.php :
`public static function isDisplayHookName($hook_name)
    {
        $hook_name = strtolower(static::normalizeHookName($hook_name));

        if ($hook_name === 'header' || $hook_name === 'displayheader') {
            // this hook is to add resources to the <head> section of the page
            // so it doesn't display anything by itself
            return false;

[2022-03-02 20:08] KminekMatej commented on #27778
My apologies, I found out Im just been using too old version of prestashop (1.7.7.5) and that problem has already been fixed in 1.7.8.0 version

[2022-03-02 20:08] #27778 closed, assigned to nobody

[2022-03-03 01:56] lephuongbg commented on #27819
@matks I'm developing our shop with a child theme on top of a bought theme. The child theme adds an additional `child_custom.css`, and also overrides the original theme's JS file to fix its bug.

When I deploy template changes to the theme, our client would see the changes to HTML, but with the wrong style for awhile. And for HTML changes that need some new JS functions to work, it wouldn't work u

[2022-03-03 05:10] psantalla commented on #19715
Hi, so I had this problem.
The only way you I could barely solve it, it's by deleting every tax rule you have the trouble with and then importing taxes for that country from locations.

[2022-03-03 08:33] #23739 closed, assigned to Progi1984

[2022-03-03 08:42] Progi1984 commented on #27733
Thanks @intraordinaire. In this case, I close this issue.

[2022-03-03 08:42] #27733 closed, assigned to nobody

[2022-03-03 08:52] HanaRebaiQA commented on #27816
Hello @mkdgs

Thanks for your report.
I was able to reproduce your issue after an upgrade from PS1778 to PS1784 and develop branches.

Here the steps to reproduce :
-Enable multistore
-Add a simple product with selecting `All shop `
-Edit the product with the `new shop` created on `Product with combinations`
-Come back to the list of Product and select All shop
-See error >> The exception is appea

[2022-03-03 09:25] mkdgs commented on #27816
@HanaRebaiQA it's till an issue for upgrading to current version, right now.
What i understand is 1.7.8.3 is EOL and not reliable for production.

[2022-03-03 09:41] kos2reus commented on #11585
@roja45 and @khouloudbelguith you are a serious and professional persons. This issue has not been fixed yet in prestashop 1.7.8 , others commenting on this issue have not tested it properly. Little professionalism in the answers @marionf @NeOMakinG @hibatallahAouadni a disappointment, the problem is not solved yet with displayNav1 hook

[2022-03-03 09:45] Progi1984 commented on #17862
@mparvazi Are you ready to make a PR ?

[2022-03-03 09:48] kos2reus commented on #11585
lie, not checked correctly

[2022-03-03 09:51] HanaRebaiQA commented on #27724
Hello @mark-app

Glad to know that your problem is solved.
So, i'll close the issue. Don't hesitate to open new tickets when needed.
Thank you!

[2022-03-03 09:51] #27724 closed, assigned to nobody

[2022-03-03 10:03] mparvazi commented on #17862
@Progi1984
This PR https://github.com/PrestaShop/PrestaShop/pull/27611 should be merged first, because it will be done most of stuff for this issue.

[2022-03-03 10:32] HanaRebaiQA commented on #27725
Hello @mark-app

I was able to reproduce your issue with **PS1783**.

https://user-images.githubusercontent.com/92912932/156546521-a80b05cf-b77f-45c6-91db-e93130680ea1.mp4

But, i did not reproduce it with **PS1778**.

https://user-images.githubusercontent.com/92912932/156546592-04b0403c-0017-4be2-88be-fcabdbf647bd.mp4

This issue is caused by this [PR](https://github.com/PrestaShop/PrestaShop/pul

[2022-03-03 11:00] Robin-Fischer-PS commented on #27219
Hello there :)

**Final report of QA on the 1.7.8.4 build 1 :**

**No 1.7.8.4 regressions have been found.**

- An already found regression on 1.7.8.3 is a bit more complex : (see last comments on https://github.com/PrestaShop/PrestaShop/issues/27684#issuecomment-1054103933)
- A minor regression since 1.7.8.3 has been found : https://github.com/PrestaShop/PrestaShop/issues/27799
- A minor regressi

[2022-03-03 11:10] HanaRebaiQA commented on #27818
Hello @mickaelmarin

Thanks for your report.
You ticket is a duplicate of [#15137](https://github.com/PrestaShop/PrestaShop/issues/15137)
So, i'll close the issue.

Thanks!

[2022-03-03 11:10] #27818 closed, assigned to nobody

[2022-03-03 11:14] NeOMakinG commented on #11585
[code]

This is a way better comment and it respects the code of conduct, actually you're being aggressive on humans trying to maintain an open-source project, humans do errors, if you want this bug to get fixed, provide some tests examples, and don't hesitate to contribute to fixing it instead of being aggressive.

@khouloudbelguith, if you want to test it and provide me a way to reproduce it pro

[2022-03-03 11:24] Hlavtox commented on #11585
@roja45 People make mistakes, all the time. If you think the bug is still there and you are professional, you can help to fix it by providing a PR, so you have it integrated in the next release. Sounds good no?

Being a dickhead helps ventilate immediate anger, but does not help anything long term. 👍

[2022-03-03 11:25] ibrahimfsasmaz commented on #18675
still no reply and no solution , no fix

[2022-03-03 12:04] roja45 commented on #11585
@Hlavtox @kos2reus not sure what you have against me, I just reported this issue (4 years ago..), and my issue was fixed up nicely by those wonderful peeps at Prestashop.  You two need to get some more zen into your lives.

[2022-03-03 12:05] Hlavtox commented on #11585
@roja45, sorry mate, wrong tag :D

[2022-03-03 12:43] mark-app commented on #27724
@HanaRebaiQA No it's not solved in PrestaShop itself. Only in my customised version.

[2022-03-03 13:16] matks opened #27829 "Bump minimum PHP version for PrestaShop 8.x ?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-03 13:19] kpodemski commented on #27829
100x yes! I've suggested that a long time ago. Most people will use PrestaShop 8 on the new installations. It is hard to imagine they won't have a server with PHP 7.4 available.

[2022-03-03 13:27] #27476 closed, assigned to nobody

[2022-03-03 13:29] HanaRebaiQA commented on #27829
Hello @matks

Thank you for your suggestion.
And we're waiting for your PR.

Thanks!

[2022-03-03 13:29] saulaski commented on #27829
Yes, absolutely:
- Best code quality requires PHP 7.4
- Support of PHP 7.2 has ended, serious users should have updated since
- Support of PHP 7.4 will end late 2022

[2022-03-03 13:33] #27761 closed, assigned to nobody

[2022-03-03 13:33] kpodemski commented on #27829
One thing that might be important in this discussion is: `autoupgrade`. I think we shouldn't allow merchants to update directly to v8 from 1.7.4, maybe it should be like this:

- 1.7.2 -> 1.7.8
- Require PHP 7.4 minimum
- Allow update to v8

[2022-03-03 13:33] atomiix commented on #27829
I agree too! Module and theme developers will have to make their projects compatible with php 8.0 anyway, so it would only be a bonus to have a 7.2 compatibility. And as @kpodemski said, it's quite easy to have a php 7.4 server.
In addition to that, 1.7.8.x is already compatible with php 7.4 so the upgrade process would still be the same.

[2022-03-03 13:39] Amoifr commented on #27829
At a time, when the stack is an important argument for developers in choosing their next mission, I think it's counterproductive to the objective of recruiting devs or encouraging devs to contribute to the project.
In addition, hosts (especially shared ones) force developers to update their distribution when a version of php is considered obsolete.
So I vote for at least the 7.4 ... and may be the

[2022-03-03 15:28] saulaski commented on #27829
To follow up last comment from @Amoifr, OS contributors might enjoy PHP 7.4 features as well. Not only professionals.
I don't mean contributors can't be professionals as well... you know what I mean :)

[2022-03-03 15:52] NeOMakinG commented on #27219
Waiting for the release note, and then we can close this issue!

[2022-03-03 16:15] HanaRebaiQA commented on #27816
@mkdgs Because of patch versions only fix regressions introduced in 1.7.8, this issue predates 1.7.8 and therefore will not be fixed in 1.7.8.
In the next version (V8.0.0), the Product V1 page will be replaced by Product V2, and this bug does not appear in Product V2. So, this issue can be closed.
However, if you manages to reproduce the bug on develop in another way, we can reopen the issue.

Tha

[2022-03-03 16:54] AlexTechDev commented on #27829
Totally agree, I think that have a server with php 7.4 won't be a problem.

Great idea

[2022-03-03 17:26] NeOMakinG commented on #11585
We tested with @khouloudbelguith

We were able to reproduce the problem:

- There are no way for modules to add something on mobile, because you've no hook on the mobile part of the header, meaning that you can add something like `<div id="_mobile_dummy_module"></div>` as a placeholder for the mobile version of your module

I think we should introduce a new hook there, wdyt @PrestaShop/prestashop-

[2022-03-03 19:29] kpodemski commented on #14979
@davidcylke

PrestaShop is an open-source community project. If you find that any issue is critical for you, and it's essential to have it fixed ASAP, then you can _invest_ into having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try doing it yourself. The most important thing is to share that fix with everyone by submitting a Pull Request -- that's what

[2022-03-03 20:36] matks commented on #11585
Good idea

[2022-03-04 07:17] PrestaEdit commented on #27829
I add my +1 on this.

[2022-03-04 08:31] simonemessina opened #27832 "Any Blog addon not work on PS 1.7.8.4"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Blank page in blog page i tried dif

[2022-03-04 08:51] weihan00ae opened #27833 "cURL error 28: Operation timed out after 10001 milliseconds with 0 bytes received on prestashop checkout"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

yesterday midnight I got a pay

[2022-03-04 09:31] Julievrz commented on #22827
@MatShir

I have a question about the wording of this issue:

![image](https://user-images.githubusercontent.com/70583503/156733003-7f7148bc-9f99-49b0-bc68-43aecd66c13d.png)

If I understand well, the "Ecotax" field allows defining the VAT rate to be applied to the ecotax (see [specs](https://build.prestashop.com/prestashop-specs/1.7/broader-topics/ecotax.html#where-is-the-ecotax-in-prestashop)).

[2022-03-04 09:54] pulkitjuneja1997 opened #27834 "How to get downloadable file associated with Virtual product?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am tryig to get downloadable file

[2022-03-04 09:57] pulkitjuneja-cedcoss commented on #27834
Any help will be highly recommedable

[2022-03-04 10:00] Maofree opened #27835 "Problems with the admin login with Chrome around: stay logged in and I forgot my password"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
I use Chromium 99.0.4844.51 (Bui

[2022-03-04 10:13] Ronald72a commented on #22262
Hello Everyone.

I had this problem sins long time and finally I think that I found a solution "very simple" ...
How did I found this ? I read a lot of experience of people who have to create a new email to configure the Email in PS
and I sow the video that you posted @hibatallahAouadni , than I sow the difference, because in your example and what is happening when you create a new email the passw

[2022-03-04 11:10] hibatallahAouadni commented on #27832
Hello @simonemessina

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must fill the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2022-03-04 11:10] #27832 closed, assigned to nobody

[2022-03-04 11:19] hibatallahAouadni commented on #27833
Hello @weihan00ae

It seems that your issue is not a PrestaShop core bug.
If your module is Checkout Official, please contact support team on Addons

We will close this issue.

Thanks!

[2022-03-04 11:19] #27833 closed, assigned to nobody

[2022-03-04 11:32] bigbrainou commented on #23258
Hei, i have same, did you fix this?

[2022-03-04 12:09] abdullacm commented on #27345
can anyone explain how this issue can be solved? $cart->getProducts() was working fine in previous versions. I have 3 modules to fix the same issue.

[2022-03-04 12:31] NeOMakinG commented on #27835
Wow, looks curious, I'm using it like 4 or 5 times a day and never faced that with Chrome, let's see if the QA is able to reproduce it!

Thanks for the issue anyway, appreciate it

[2022-03-04 12:36] maofree commented on #27835
Hi
I get this error with 5-6 my customers that use different pc in different lan
yesterday I've upgraded chrome and today other people alert me about this problem
I have the same problem even in incognito mode

[2022-03-04 12:56] AureRita opened #27836 "Wrong wording on exit button with the bulk delete"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On the BO,

When you do a "Delete s

[2022-03-04 13:06] NeOMakinG commented on #27835
Thx for the precisions

[2022-03-04 13:10] #27798 closed, assigned to nobody

[2022-03-04 13:17] SharakPL commented on #27309
Hasn't been fixed in 1.7.8.3 and 1.7.8.4 😖

[2022-03-04 13:48] hibatallahAouadni commented on #27836
Ping @PrestaShop/product-team I looked in the specs but the `Delete` button color was not mentioned, so could you please specify the `Delete` button color :pray:

Thanks in advance.

[2022-03-04 14:08] #26935 closed, assigned to Progi1984

[2022-03-04 14:13] tlgsoledis commented on #27695
[](https://user-images.githubusercontent.com/99792614/156778253-267f0871-9292-41bd-98eb-23dbdf60facf.png)[](https://user-images.githubusercontent.com/99792614/156778412-6695980c-ca90-4541-9580-6268b0ce3b3f.png)[](https://user-images.githubusercontent.com/99792614/156778610-89571d13-87a4-45d4-9dc9-2459b3dd43fa.png)Hello,
You will find below the steps to display the error messages in the backoffice.

[2022-03-04 14:13] tlgsoledis commented on #27695
Hello,
You will find below the steps to display the error messages in the backoffice.

1. Have 2 tabs open on the "shopping cart ?action=show" page (with items)
![image](https://user-images.githubusercontent.com/99792614/156778253-267f0871-9292-41bd-98eb-23dbdf60facf.png)

1. Launch and complete the order on one of the tabs
![image](https://user-images.githubusercontent.com/99792614/156778412-6695

[2022-03-04 14:15] #27017 closed, assigned to Progi1984

[2022-03-04 14:26] ghost opened #27838 "Wrong error message in logs"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The problem is the following error

[2022-03-04 14:57] SharakPL commented on #27309
@florine2623 please reopen this issue because nothing has been fixed yet, even in develop

https://github.com/PrestaShop/PrestaShop/blob/eaee04a33efc774fd24b3225feb4ef0b2ca02b26/admin-dev/themes/new-theme/js/pages/module/index.ts#L26-L36

https://github.com/PrestaShop/PrestaShop/blob/eaee04a33efc774fd24b3225feb4ef0b2ca02b26/admin-dev/themes/default/js/bundle/module/module_card.js#L2-L7

`const mod

[2022-03-04 15:17] #20600 closed, assigned to Progi1984

[2022-03-04 15:20] eternoendless commented on #27829
I agree with @kpodemski: having PHP 7.2 minimum allows merchants to upgrade from 1.7.5 and higher. If we bump to 7.4 people will only be able to upgrade from 1.7.8, increasing the cost of upgrade.

This request is also assuming that current community modules work well with 7.4, which is not necessarily the case. Therefore, bumping the minimum PHP version risks increasing the cost of upgrading to v

[2022-03-04 15:29] #19457 closed, assigned to Progi1984

[2022-03-04 15:29] #19458 closed, assigned to Progi1984

[2022-03-04 15:37] Progi1984 commented on #10634
@matks Can we close it ?

[2022-03-04 15:40] Progi1984 commented on #10633
@matks Can we close it ?

[2022-03-04 15:45] marwachelly opened #27840 "BO- Stock- Wrong position of information message in multistore context"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

 Wrong position of information mess

[2022-03-04 15:51] Julievrz commented on #27836
Maybe @prestascott or @TristanLDD can help. ☺️

[2022-03-04 16:05] prestascott commented on #27836
Hello everyone,

Yes the color for "Delete" button must be red. :)

[2022-03-04 16:15] khouloudbelguith commented on #17922
Hi,

The Referrers page is removed from 8.0.0 thanks to @Progi1984
https://github.com/PrestaShop/PrestaShop/pull/27098
I will close this issue.

Thanks!

[2022-03-04 16:15] #17922 closed, assigned to nobody

[2022-03-04 16:15] khouloudbelguith commented on #19387
Hi,

The Referrers page is removed from 8.0.0 thanks to @Progi1984
https://github.com/PrestaShop/PrestaShop/pull/27098
I will close this issue.

Thanks!

[2022-03-04 16:15] #19387 closed, assigned to nobody

[2022-03-04 16:15] khouloudbelguith commented on #10617
Hi,

The Referrers page is removed from 8.0.0 thanks to @Progi1984
https://github.com/PrestaShop/PrestaShop/pull/27098
I will close this issue.

Thanks!

[2022-03-04 16:15] #10617 closed, assigned to nobody

[2022-03-04 16:16] khouloudbelguith commented on #19386
Hi,

The Referrers page is removed from 8.0.0 thanks to @Progi1984
https://github.com/PrestaShop/PrestaShop/pull/27098
I will close this issue.

Thanks!

[2022-03-04 16:16] #19386 closed, assigned to nobody

[2022-03-04 16:16] hibatallahAouadni commented on #27838
Hello @tlgsoledis

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9866.
Thanks for your PR :rocket: Please subscribe and link your PR to the issue mentioned above.

Thanks!

[2022-03-04 16:16] #27838 closed, assigned to nobody

[2022-03-04 16:16] hibatallahAouadni commented on #27838
Duplicate of #9866

[2022-03-04 16:33] AyoubAchour commented on #13922
when i call the function i get this error :
  "Trying to get property 'product' of non-object"
any suggestions ?

[2022-03-04 16:33] hibatallahAouadni commented on #27834
Hello @pulkitjuneja-cedcoss

You're right! there's no way to find the associated file to a Virtual Product, here's the result of WS:
[code]
If I associated a file to the Product in Option tab, I can recuperate the file as an attachement.
Ping @PrestaShop/product-team I searched the whole Specs and yet I can't find anything about the associated file of a Virtual Product, wdyt? is it a bug? or just

[2022-03-04 16:37] matks commented on #10634
@Progi1984 No

That page has not been yet reworked I think

[2022-03-04 16:38] matks commented on #10633
No

That page has not been yet reworked I think

[2022-03-04 17:32] hibatallahAouadni commented on #27695
Duplicate of #9866

[2022-03-04 18:06] hibatallahAouadni commented on #27835
Reproduce it with PS1778 on Chrome 99 with MacOs

![image](https://user-images.githubusercontent.com/23308427/156817893-14e593d6-e4c0-4c38-86ae-4b9d4b9a315a.png)

@maofree I think it will be better if you downgrade your Chrome version.

[2022-03-04 18:13] maofree commented on #27835
Hi
for me is it not a problem, it works if I push on the same position of past. I've alerted my customers to do the same.
I cannot do a downgrade to their browsers
I'll wait your fix :)

[2022-03-04 18:53] NeOMakinG commented on #27835
It should probably be fixable, this page is full of spaghetti anyway, we can still work on it in order to improve it :)

I'll work on it next week!

[2022-03-04 18:54] maofree commented on #27835
ok thanks

[2022-03-04 19:51] Progi1984 commented on #10633
@matks What is missing ?

[2022-03-04 19:51] Progi1984 commented on #10634
@matks What is missing ?

[2022-03-04 20:52] kpodemski commented on #27829
@eternoendless it already is high because of a lot of depreciations in the core - module developers need to improve codebase of their modules and it might be a chance to make them compat with 7.4/8 too.

[2022-03-05 12:06] mparvazi commented on #27835
@NeOMakinG

Please consider migration of the Login page to the new-theme.

[2022-03-05 15:04] cyrillg77 commented on #23302
Same problem in Prestashop 1.7.8.4

[2022-03-06 08:36] itsvahid commented on #27835
Here is a quick fix:
add position relative to the form-group containing "remind me" and "I forgot my password"
this should fix it
![image](https://user-images.githubusercontent.com/48237049/156915492-f7c3c4fa-b80f-4a96-ae46-dd556809f6d0.png)

[2022-03-06 08:59] JuanjoSCu commented on #26783
Hi,

Thanks, I did what you put by modifying module.php, but that causes other modules that are not developed by prestashop to fail and not with a warning, it fails with an err 500

The problem is in the modules developed by prestashop, I have detected the problem in 3 modules:

psgdpr, ps_facebook and ps_metrics

psgdpr:
        return $this->display(dirname(__FILE__), '/views/templates/front/cus

[2022-03-06 10:48] JuanjoSCu commented on #26783
Looks like it's fixed!

removing / from path

return $this->display(dirname(FILE), '/views/templates/front/customerAccount.tpl');

to:

return $this->display(dirname(FILE), 'views/templates/front/customerAccount.tpl');

Thanks @idnovate !!

[2022-03-06 13:10] Rizzen59 commented on #27604
I'm working on fix,  i'll make the pull request this week

[2022-03-06 17:15] martinznv opened #27842 "Content in CMS category"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-07 08:29] NeOMakinG commented on #27835
I considered it as a regression, and it's the first page you see while using prestashop, it should be displayed correctly

So it will probably be fixed in 1.7.8.5 @PrestaShop/product-team if you've something against it, tell me

[2022-03-07 09:22] hibatallahAouadni commented on #27842
Hello @martinznv

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2022-03-07 09:45] khouloudbelguith opened #27844 "[Multistore Header] - A shop without an URL configured can be selected and refresh the page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the multistore header, if the sh

[2022-03-07 10:08] #23610 closed, assigned to Progi1984

[2022-03-07 10:21] florine2623 opened #27845 "productcomments - rating is not displayed the second time in Quick view"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I don't see the rating of my produc

[2022-03-07 10:35] hibatallahAouadni commented on #27845
Thanks @florine2623
It's not a regression! I reproduced on 1.7.7.8 with Product Comments v4.2.2.

[2022-03-07 10:37] GabrieleMartini commented on #21930
Found also on Prestashop 1.7.8.2 with PHP 7.4

[2022-03-07 10:40] GabrieleMartini commented on #21930
Found also on Prestashop 1.7.8.2 with PHP 7.4
`"symfony/polyfill-php73": "^1.10",`

[2022-03-07 10:46] GabrieleMartini commented on #21930
Found the same also on Prestashop 1.7.8.2 with php 7.4
`"symfony/polyfill-php73": "^1.10",`

[2022-03-07 11:12] hibatallahAouadni commented on #27677
Hello @alabaeye

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-03-07 11:12] #27677 closed, assigned to nobody

[2022-03-07 11:32] Progi1984 commented on #25545
@MatShir Can you explain what this PR is closed ? I didn't see any merged and linked PR. Thanks

[2022-03-07 12:26] ocio87 opened #27846 "Multistore does not delete cache of themes from id_shop different than 1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I identify that when cache deletion

[2022-03-07 13:12] krekken opened #27847 "Db insert bugs out when the column is named type"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When i try to insert into a column

[2022-03-07 14:21] hibatallahAouadni commented on #27847
Hello @krekken

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must provide clear and concise steps to reproduce**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be gla

[2022-03-07 14:21] #27847 closed, assigned to nobody

[2022-03-07 16:14] hibatallahAouadni commented on #25545
@Progi1984 cause it has been fixed with the new Product page :wink:

![image](https://user-images.githubusercontent.com/23308427/157073193-6d857776-b8d1-4bff-b5c9-a0a26a7a4d09.png)

---
![image](https://user-images.githubusercontent.com/23308427/157073211-842372fd-bb19-458b-a8ae-ecbc183ba686.png)

[2022-03-07 16:14] marsaldev commented on #23745
@micka-fdz I'm on it 👍🏻

[2022-03-07 16:16] marsaldev commented on #22825
I'm on it 👍🏻

[2022-03-07 16:34] Progi1984 commented on #25545
Thanks @hibatallahAouadni

[2022-03-07 16:57] hibatallahAouadni commented on #27846
Hello @ocio87

Could you please check this issue #21238, It seems related to yours.
Please check and feedback.

Thanks!

[2022-03-07 17:18] #27277 closed, assigned to Progi1984

[2022-03-07 18:12] AlexTechDev commented on #21495
I'm working on it :)

[2022-03-07 19:33] ocio87 commented on #27846
Thanks @hibatallahAouadni

[2022-03-07 19:33] #27846 closed, assigned to nobody

[2022-03-07 21:06] ocio87 commented on #27846
Hello @hibatallahAouadni

I am reading the bug that you indicate https://github.com/PrestaShop/PrestaShop/issues/21238 but I see that the report is about a multi-store and then the multi-store was eliminated. In my case I still have a multistore with 3 stores. Does it apply the same way?

[2022-03-08 08:14] Shoprunners opened #27852 "Wrong attribute stats in statsforecast module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The last column values aren't calcu

[2022-03-08 08:35] khouloudbelguith commented on #25735
Hi @jolelievre,

I will reopen the issue.
I manage to reproduce the issue again with develop branch.
![image](https://user-images.githubusercontent.com/16067358/157198399-3d4e4017-f0a2-465a-bb9c-bf0e986ea306.png)
![image](https://user-images.githubusercontent.com/16067358/157198497-b13ab2be-f8a5-4a70-8f68-6ade28d8b26a.png)

It was ok before
![image](https://user-images.githubusercontent.com/160673

[2022-03-08 08:44] matks commented on #10634
The Catalogs pages were built using a lot of VueJS logic in 1.7.0.0 . It was probably an experiment. However the experiment was not continued, and now only these pages and the Module Manager / Module Catalog pages have this architecture.

We wish to have a homogenous architecture in PrestaShop so we need to rebuild these pages using the Symfony logic we have used for all other migrated pages. Grid

[2022-03-08 08:44] matks commented on #10633
The Catalogs pages were built using a lot of VueJS logic in 1.7.0.0 . It was probably an experiment. However the experiment was not continued, and now only these pages and the Module Manager / Module Catalog pages have this architecture.

We wish to have a homogenous architecture in PrestaShop so we need to rebuild these pages using the Symfony logic we have used for all other migrated pages. Grid

[2022-03-08 08:57] hibatallahAouadni commented on #27846
@ocio87 I think it will be better if we add your details to the original issue :wink:
So when it will get fixed, the QA-Team test both cases, wdyt?

[2022-03-08 08:57] hibatallahAouadni commented on #27846
Duplicate of #21238

[2022-03-08 09:03] d33x commented on #27565
@MatShir what do you think?

[2022-03-08 09:14] jolelievre opened #27854 "Hook getHookStatusByName was converted to case sensitive"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Since this PR was merged https://gi

[2022-03-08 09:54] Progi1984 commented on #10634
Ok. It's a complete migration in this context.

[2022-03-08 10:14] florine2623 commented on #27852
Hello @Shoprunners ,

Thanks for the report.
I have reproduced your issue with statsforecast v2.0.4, so I can confirm that this behavior is indeed a bug.

It seems like the column Quantity of product sold is based on the number of order (and not the number of attributes).

<img width="730" alt="Screenshot 2022-03-08 at 11 12 43" src="https://user-images.githubusercontent.com/16019289/157215709-170

[2022-03-08 10:53] #27735 closed, assigned to atomiix

[2022-03-08 10:55] #15038 closed, assigned to Progi1984

[2022-03-08 11:12] khouloudbelguith opened #27855 "Display condition on product page - Switch button - When disabled, it not disable Condition dropdown"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-03-08 11:17] sowbiba opened #27856 "Retrieve module source from Marketplace module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-08 11:52] Prestapepe commented on #26326
I also see this marked as fixed but just in dev mode.

How can we make this work in the current prestashop version??

I didnt find a equivalent file....

Thanks

[2022-03-08 14:10] maofree commented on #27835
Hi @NeOMakinG
I've tested the fix but I think it is necessary to fix another thing
it is missing the "go back link"

![0](https://user-images.githubusercontent.com/653230/157254463-59a303b4-a7c2-4648-a698-2894a16dccc4.png)

[2022-03-08 14:15] intered84 opened #27858 "Error translation not found slowing down product editing with lot of combinations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
I'm having issue on a Presta

[2022-03-08 14:52] florine2623 commented on #27858
Hello @intered84 ,

Is your issue related to one of these issues : https://github.com/PrestaShop/PrestaShop/issues/12915 or https://github.com/PrestaShop/PrestaShop/issues/9809 ?

Could you check and feedback ?
Thanks!

[2022-03-08 14:57] Progi1984 commented on #27488
@prestashop/qa-functional Could you check this issue ? I didn't reproduce in local with `dev` branch of the module.

[2022-03-08 15:42] hibatallahAouadni commented on #24583
Hello @202-ecommerce & @florine2623

Following the steps to reproduce, I didn't manage to reproduce the issue with PS1767, PS1778, PS1780 and develop.
Check the attached screen record below:

https://user-images.githubusercontent.com/23308427/157272042-28def524-186d-4706-8400-c088c5454fee.mp4

Did I miss something? :pray:
Please check and feedback.

Thanks!

[2022-03-08 15:58] Progi1984 commented on #26349
@florine2623 Could you check again with the latest version of `develop` branch ?

[2022-03-08 16:03] florine2623 commented on #27858
@intered84 ,

As your issue is related to the other ones. I will close it !
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks !

[2022-03-08 16:03] #27858 closed, assigned to nobody

[2022-03-08 16:35] hibatallahAouadni commented on #26326
@Prestapepe this issue has been fixed with the stable version 1.7.8.1

[2022-03-08 22:33] roktiw opened #27861 "combinations_import.csv - update sample file so as shop owner I can have the same columns names and order as importer default"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The order and name of the columns f

[2022-03-08 22:42] roktiw commented on #27861
I've described it better here: https://github.com/roktiw/PrestaShop-docs-csv_import

[2022-03-09 08:48] kgleizes commented on #24583
Hello,

Please consult the attached files to reproduce it.

This bug only appears when clients are imported with the 'Registration date' information.
When this information is not selected to be imported, there is no bug to display

https://user-images.githubusercontent.com/98040531/157405673-365dfb00-02d0-4bfc-bb92-c68f0eee8800.mp4

[customer-import-test.csv](https://github.com/PrestaShop/PrestaSh

[2022-03-09 09:25] fire2 commented on #26741
any update on this issue?

[2022-03-09 09:28] NeOMakinG commented on #27219
1.7.8.4 is released!

[2022-03-09 09:28] #27219 closed, assigned to NeOMakinG, fabienvallon

[2022-03-09 09:29] hibatallahAouadni commented on #27861
Hello @roktiw

Could you please check this issue #23083 cause it seems related to yours.
Waiting for your feedback.

Thanks!

[2022-03-09 10:34] matks opened #27862 "Release 1.7.8.5"
This issue tracks the status of the PrestaShop 1.7.8.5 release

### Information

Q                                     | A
-----------------------|---------------
**Type**                        | Patch version
**Build date**        |  2022-03-15
**Milestone**                | [1.7.8.5](https://github.com/PrestaShop/PrestaShop/milestone/81)
**Kanban**                    | [1.7.8.5](https://github.

[2022-03-09 11:35] moab374a commented on #17479
Genius Thank you so much

[2022-03-09 12:48] jolelievre commented on #27855
This feature should be handled with the `DisablingToggler` js component which is implemented in this PR https://github.com/PrestaShop/PrestaShop/pull/27216 So for now it's blocked until the component is merged and available (no need to duplicate it in a new PR, I think we can wait on this one)

[2022-03-09 13:15] #26852 closed, assigned to NeOMakinG

[2022-03-09 13:23] #27040 closed, assigned to Progi1984

[2022-03-09 13:28] #22892 closed, assigned to amaury-hanser

[2022-03-09 13:55] HanaRebaiQA opened #27864 "BO - [Stock] Impossible to put numbers in quantity field with RTL (There is only the possibility to increment and decrement numbers)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Impossible to put numbers in quanti

[2022-03-09 14:07] sowbiba opened #27865 "Allow to add content after themes list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-09 14:19] Progi1984 commented on #27736
Fixed by @jolelievre in #27776

[2022-03-09 14:19] #27736 closed, assigned to jolelievre

[2022-03-09 14:48] HanaRebaiQA opened #27866 "BO - [Stock] An error message is displayed when editing by zero on quantity field"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error message is displayed when

[2022-03-09 15:26] #27740 closed, assigned to Progi1984

[2022-03-09 16:22] thalassa-web opened #27867 "Delivery template - Wrong date"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the delivery PDF template the da

[2022-03-09 16:43] enginteknoloji opened #27869 "upgrate"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Adsız](https://user-images.github

[2022-03-09 16:47] hibatallahAouadni commented on #27865
Hello @sowbiba

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Thanks for your PR 🚀

Thank you

[2022-03-09 16:50] hibatallahAouadni commented on #27869
Hello @enginteknoloji

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information,

[2022-03-09 16:51] #27869 closed, assigned to nobody

[2022-03-09 16:52] khouloudbelguith opened #27870 "[BO - Add new order] the dropdow "No voucher was found" is not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Orders > Add new order

[2022-03-09 17:13] bibips commented on #27601
Hello @florine2623,

thanks for the re opening and yes I confirm

[2022-03-09 19:13] JoshTheDerf commented on #27854
Yep, we ran into this after updating. Several of our internal module hooks suddenly broke as they were stored fully lowercase in the database.

[2022-03-10 08:12] hibatallahAouadni opened #27871 "Combinations quantity in Pack are not verified at the last step of the checkout"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we order a **Pack that contain

[2022-03-10 08:23] #10762 closed, assigned to nobody

[2022-03-10 08:30] Djolhan1 opened #27872 "1.7.8.4 broken blog module with a 404. 1.7.8.3 working nice. /classes/Hook.php related issue."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Since the update of prestashop to 1

[2022-03-10 08:35] Hlavtox commented on #27872
Maybe related to https://github.com/PrestaShop/PrestaShop/issues/27854.

Can you check small/capital letters in your blog module hook function names?

[2022-03-10 08:35] lmeyer1 commented on #27872
What blog module? What version?

[2022-03-10 08:36] lmeyer1 commented on #27854
@jolelievre Thanks for finding this bug

[2022-03-10 08:37] Djolhan1 commented on #27872
Any blog module... Leo blog (last version) for exemple, Prestablog (last version) for another exemple, i don't have much, but either have the same issue.

[2022-03-10 08:38] Djolhan1 commented on #27872
Where could i check that ?

[2022-03-10 09:38] ddevigne opened #27873 "Admin customer page (list) very slow"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In our prestashop admin, the custom

[2022-03-10 09:58] Djolhan1 commented on #27872
Ok, this fix is tested and working perfect for the two blogs tested.

[2022-03-10 10:11] usoldev commented on #27854
displayOverrideTemplate hook doesn't work anymore

[2022-03-10 10:41] marsaldev opened #27875 "Compile assets in Windows is quite impossible"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It's impossible to complete the com

[2022-03-10 10:46] khouloudbelguith opened #27876 "FO - Create an account - the alert is duplicated when we create a new account with invalid firstname and lastname"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > when we create an accou

[2022-03-10 11:41] #15593 closed, assigned to Progi1984

[2022-03-10 12:30] Hlavtox commented on #27871
It's enough to press F5 on checkout page, you should be redirected back to cart.

Basically, the issue is, that after changing the quantity of the product in pack, some of these functions should return a false. That's not the case currently.
[code]

I think it would be good to simplify this to one FAST function called `isCartStillOrderable()` and fix this issue along the way.
**I made an issue pre

[2022-03-10 13:33] hibatallahAouadni commented on #27601
Hello @bibips

Could you please confirm that you encounter this issue even with older PS version :pray:
Waiting for your feedback.

Thanks!

[2022-03-10 13:38] hibatallahAouadni commented on #27875
Hello @marsaldev

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #27383.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-03-10 13:38] #27875 closed, assigned to nobody

[2022-03-10 13:38] hibatallahAouadni commented on #27875
Duplicate of #27383

[2022-03-10 13:40] hibatallahAouadni commented on #27872
Hello @Hlavtox

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #27854.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-03-10 13:40] #27872 closed, assigned to nobody

[2022-03-10 13:41] hibatallahAouadni commented on #27872
Duplicate of #27854

[2022-03-10 13:45] marsaldev commented on #27875
I don't think it's a real duplicate, I think the issue is similar, but in my case is the `Classic` theme assets that won't be compiled rather than the BO ones 😊

[2022-03-10 14:03] jeckyl opened #27877 "The selection of modules to uninstall does not reset after uninstallation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

When we try to uninstall se

[2022-03-10 14:11] hibatallahAouadni commented on #27867
Hello @thalassa-web

I reproduce the issue with PS1778 and PS 1784, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/157678658-df1af957-9bb0-4566-86b5-7c01cf4e6403.png)

The order has been paid on `31-01-2022`, but it was delivered on `10-03-2022`:

![image](https://user-images.githubusercontent.com/23308427/157678793-d4a3d7ff-3c5d-4fda-a923-9e0b1cee

[2022-03-10 14:14] hibatallahAouadni commented on #27867
@thalassa-web I think it's related/duplicate of #12929
Could you please check it :pray:

[2022-03-10 14:15] #27844 closed, assigned to atomiix

[2022-03-10 14:16] hibatallahAouadni commented on #27873
Hello @ddevigne

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #25683.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-03-10 14:16] #27873 closed, assigned to nobody

[2022-03-10 14:16] hibatallahAouadni commented on #27873
Duplicate of #25683

[2022-03-10 14:25] thalassa-web commented on #27867
@hibatallahAouadni I'm not sure ! The issue is not very clear …
If I read the title, it is not. In my issue I talk about the date in the generated PDF.
In the #12929, it seems it is about the date in the B.O.
Furthermore, the screenshot files are no longer available.
Please ask to @SylvainPayet who opened the #12929

[2022-03-10 14:36] Luchino-C commented on #14752
This feature still has interest? I got some people asking about that but I checked that on 1.7.8.x PS structure is changed. Anyone just tried it on last PS version?

[2022-03-10 14:50] ricardovtav opened #27878 "Site is not indexing in google"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Good afternoon, I have a website pr

[2022-03-10 15:00] NeOMakinG commented on #27875
@marsaldev At least we linked both issues, we will take care of it, thanks for these information 👍

[2022-03-10 15:32] aecarlosae commented on #12048
This generate duplicate content... it's bad for SEO.

[2022-03-10 16:09] Gardella-Web opened #27880 "Problem of calculating vat on the % discount given directly on the customer groups"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots
Hello,

In Prestashop 1.7.6.2 (the v

[2022-03-10 16:17] CASCOLOCO commented on #10640
En efecto era esto lo que ocasionaba mi fallo a la hora de actualizar los estados de pedido y que se reflejarán una vez el cliente comprara

[2022-03-10 16:21] thalassa-web commented on #12929
@SylvainPayet Do you think that my issue #27867 is the same of yours ?
The linked screenshots are unevailable now.
But I think it's not the case. I think you talk about date in B.O and I talk about date in generated PDF.

[2022-03-10 16:21] #27709 closed, assigned to nobody

[2022-03-10 16:32] hibatallahAouadni commented on #27880
Hello @Gardella-Web

Please send your request in English. English is the norm on GitHub.
When you change your issue title and description in English please ping me in a comment :wink:
Waiting for your feedback.

Thank you

[2022-03-10 16:45] florine2623 commented on #27601
@hibatallahAouadni ,

PS 1.7.7.8 + ps_facetedsearch v3.7.0 => nok
PS 1.7.8.4 + ps_facetedsearch v3.7.0 => nok

PS 1.7.7.8 + ps_facetedsearch v3.7.1 => nok
PS 1.7.8.4 + ps_facetedsearch v3.7.1 => nok

It is not a regression ^^

[2022-03-10 16:51] hibatallahAouadni commented on #27878
Hello @ricardovtav

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2022-03-10 16:51] #27878 closed, assigned to nobody

[2022-03-10 17:17] hibatallahAouadni commented on #27877
Hello @jeckyl

Thanks for this well detailed bug report :clap:
Clear and concise stesp to reproduce :ok_hand: BRAVO :rocket:
Unfortunately, I didn't reproduce the issue with PS1778, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/157717129-2ef4c121-9b3c-4c0f-8132-bc41773d765b.mp4

As you can see, when the uninstall process finish, the module disappear from

[2022-03-10 17:21] jeckyl commented on #27877
I have not tested the case where we decide to delete the module and I have not tested all versions of PrestaShop.

In any case on the 1.7.8.4 when we decide just to uninstall modules we encounter the problem.

[2022-03-10 17:23] arirangz opened #27881 "Refunded products are displayed on the delivery slip"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When doing a partial refund before

[2022-03-10 18:22] hibatallahAouadni commented on #24583
Hello @202-ecommerce & @kgleizes

Thanks for the details :pray:
I reproduce the issue with PS1778, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/157729318-6d3e3a0c-5ed7-4ed5-be00-b89a30386538.mp4

Even when I change the registration date from `dd-mm-yyyy hh:mm:ss` to `dd-mm-yyyy`, the issue always persist.
Thanks again for your PR :rocket:

Thanks!

[2022-03-10 18:45] #27800 closed, assigned to NeOMakinG, Amoifr

[2022-03-10 18:45] NeOMakinG commented on #27800
Fixed on 1.7.8.x branch

[2022-03-10 22:22] blawdi commented on #17317
No one has found a solution for 1.7.8?

[2022-03-11 01:14] johannsnr opened #27882 "{order_link} is empty in the mail sent from back end"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

[code]

The {order_link} is present

[2022-03-11 01:24] johannsnr opened #27883 "POA select button in product catalogue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-11 07:51] ddevigne commented on #27873
Hi @hibatallahAouadni,

I'm not sure to understand why it is a duplicate of #25683, the issue seem very different to me... Could you take a second look on it ?

[2022-03-11 07:52] olecorre opened #27885 "The columns of the csv export from the order list is frozen"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-11 08:16] #27784 closed, assigned to Progi1984

[2022-03-11 08:25] olecorre commented on #25458
I have the same problem, I had to apply the patch

[2022-03-11 08:27] clotairer opened #27887 "PrestashopLogger isPresent doesn't work and performance lack"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I've written a little module to rep

[2022-03-11 08:48] Gardella-Web commented on #27880
Hello @hibatallahAouadni
I translated this from the internet

[2022-03-11 08:58] khouloudbelguith commented on #27881
Hi @arirangz,

I manage to reproduce this behavior with PS1784 and PS1778
- BO > Order view page
![image](https://user-images.githubusercontent.com/16067358/157834911-8072e210-3eba-443f-b2fb-2eff0edea08a.png)
- Delivery slip
![image](https://user-images.githubusercontent.com/16067358/157835043-0d9286b3-1a09-4519-bfc9-b02fc75994e2.png)

But, I don't know if it is a bug or it is normal behavior.

Pi

[2022-03-11 09:11] #18547 closed, assigned to Progi1984, atomiix

[2022-03-11 09:16] eternoendless opened #27888 "Make PrestaShop compatible with PHP 8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-11 09:17] eternoendless commented on #18547
Compatibility with PHP 8.1 is now tracked in a dedicated issue: #27888

[2022-03-11 09:25] Progi1984 commented on #27888
Modules are compatible. I have installed the Github Action for each one.

[2022-03-11 09:27] khouloudbelguith commented on #27882
Hi @johannsnr,

I did not manage to reproduce the issue with PS1784 using
- Bank wire payment module v2.1.1

https://user-images.githubusercontent.com/16067358/157839547-b5bd6fdd-41e5-4d99-bb3c-bb538e2b315f.mp4

- Paypal module v5.5.0

https://user-images.githubusercontent.com/16067358/157839579-fb55c5c1-c150-473d-97c5-c2eac776dd97.mp4

I attached screen records, thanks to check and feedback.

[2022-03-11 09:57] khouloudbelguith commented on #27885
Hi @olecorre,

I manage to reproduce the behavior with PS1778 & PS1784 following these steps:

Create new table `app_order_table` with `id_order`
![image](https://user-images.githubusercontent.com/16067358/138904529-f6c4d729-779d-4beb-85e3-427af06eaab3.png)

Install the module [ps_qualityassurance](https://github.com/PrestaShop/ps_qualityassurance), add two hooks:

`actionOrderGridQueryBuilderModi

[2022-03-11 11:18] khouloudbelguith commented on #27887
Hi @clotairer,

I tried with PS1778 & PS1784, I have an exception following these steps:

1. Go to BO > Advanced Parameters > Logs page > Erase all logs
2. Go to BO > Module catalog page > install this module [issuelogs.zip](https://github.com/PrestaShop/PrestaShop/files/8231407/issuelogs.zip)
3. Click on configure
4. Exception

![image](https://user-images.githubusercontent.com/16067358/157857244

[2022-03-11 11:25] clotairer commented on #27887
Because I "plugged" the prefix as database as ps_...
New zip here:
[issuelogs.zip](https://github.com/PrestaShop/PrestaShop/files/8231456/issuelogs.zip)

[2022-03-11 11:31] khouloudbelguith commented on #27883
Hi @johannsnr,

Thanks for your suggestion.

In the BO > Catalog > Product > Edit product page > Options tab, we have the visibility option
1. If `Available for order` is **checked**: the price of the product is shown & we can add it to cart
**BO**
![image](https://user-images.githubusercontent.com/16067358/157858166-67002cdf-e7f6-4893-8360-12fc0078d9c4.png)
**FO**
![image](https://user-images.git

[2022-03-11 12:01] khouloudbelguith commented on #27887
@clotairer,

- I tried to install my shop with `ks_ `as a prefix, I have the same exception
![image](https://user-images.githubusercontent.com/16067358/157863141-6cff4b4b-4ccc-4463-a7e7-cc9807630168.png)
- I tried to re-install my shop withe prefix ps_, I have the same exception
![image](https://user-images.githubusercontent.com/16067358/157863252-7d2704d1-b377-4c04-9107-10da5acedcdf.png)

Thanks

[2022-03-11 12:05] clotairer commented on #27887
Could you please check with 1.7.8 first to install the module ?
The PS1778 has no id_shop field on the table.

[2022-03-11 12:06] #27601 closed, assigned to bibips

[2022-03-11 12:12] PseT opened #27893 "Non unique field name error in admin customer address"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I query a customer file in ord

[2022-03-11 12:39] khouloudbelguith commented on #27893
Hi @PseT,

I did not manage to reproduce the issue with PS1784.
I attached a screen record

https://user-images.githubusercontent.com/16067358/157867952-b9db6e81-7c47-44ea-81be-020fa83e74db.mp4

Thanks to check and feedback.

[2022-03-11 12:45] arirangz commented on #27881
@khouloudbelguith Thanks for reproducing the issue.

From my point of view, it's a bug as the refunded product will never be delivered. So it's confusing if we are printing a delivery slip containing a refunded product.

Thanks

[2022-03-11 12:53] PseT commented on #27893
Thanks, the error appeared after migrating from 1.7.5.1 to 1.7.8.3, so I updated to 1.7.8.4.
Could it be an error when updating ?

Regards,

[2022-03-11 14:07] khouloudbelguith commented on #27887
Hi @clotairer,

Yes, I manage to reproduce the issue with PS1778 & PS1784.
![image](https://user-images.githubusercontent.com/16067358/157882709-544cf1fd-8784-47a9-9bef-0557633ee7e1.png)

https://user-images.githubusercontent.com/16067358/157882718-739d7d20-be86-488f-9c54-6932ad44fd93.mp4

I’ll add this to the debug roadmap so that it’s fixed.
Please be aware that some issues might take a very lon

[2022-03-11 14:19] matks commented on #25888
Thanks to @lfourreau and @djodjo3 i18n.prestashop-project.org is now up

[2022-03-11 14:23] matks commented on #25888
Next step: replace use of i18n.prestashop.com inside the software by i18n.prestashop-project.org

[2022-03-11 14:55] lmeyer1 commented on #27835
To fix the display issue of the BO login form in Chrome 99, it is sufficient to add these lines to the file `admin-dev/themes/default/css/overrides.css`:

    form#login_form {
      position: relative;
    }

[2022-03-11 15:11] jeckyl commented on #27877
Well, I will have to redo a basic installation of Prestashop to identify the case because trying to reproduce it I can not.
For the installation I went through softaculous then directly after the admin connection I went to the modules to uninstall the usual list of useless modules and I had the problem, without touching anything before so I'll have to retest this installation as well as a manual i

[2022-03-11 15:14] xga91 opened #27894 "Issue click upgrade 1.7.7.5 to 1.7.8.4"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am trying to upgrade to last vers

[2022-03-11 15:39] khouloudbelguith commented on #27893
@PseT,

I tried an upgrade from PS1751 to PS1783 using the 1-click upgrade v4.14.0
It is ok :heavy_check_mark:
I attached a screen record

https://user-images.githubusercontent.com/16067358/157898223-a835e86e-1268-4af1-b27f-5d4578510dda.mp4

After an upgrade to PS1783, I tried to re-upgrade to PS1784 => OK
I attached a screen record

https://user-images.githubusercontent.com/16067358/157899131-113

[2022-03-11 15:47] MeKeyCool opened #27896 "BO - Modules / UI for "module updates" not clear if no module to update"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In Module Manager, after fresh inst

[2022-03-11 15:59] khouloudbelguith commented on #27880
Hi @Gardella-Web,

PS: could be related to this: https://github.com/PrestaShop/PrestaShop/issues/21710

I tried with PS1751, the order page is not migrated, I have this result
![image](https://user-images.githubusercontent.com/16067358/157901469-38cfa6dc-9e20-4629-a6d0-3ad279647b48.png)
I tried with PS1784, same result
![image](https://user-images.githubusercontent.com/16067358/157901790-87305b68-

[2022-03-11 16:02] khouloudbelguith commented on #27877
@jeckyl,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
We will close this issue.
Feel free to open a new one when needed.

Thanks!

[2022-03-11 16:02] #27877 closed, assigned to nobody

[2022-03-11 16:02] marwachelly opened #27897 "BO- An unnecessary comma is displayed in the location page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A wrong position of a comma in the

[2022-03-11 16:06] MeKeyCool opened #27898 "BO - Customers / Wrong redirection after canceling the edition of an address from the customer detail page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After canceling the edition of a ne

[2022-03-11 16:07] MeKeyCool commented on #27898
A similar problem has been solved with [ Redirect to customer when canceling new customer address creation #20603 ](https://github.com/PrestaShop/PrestaShop/pull/20603)

[2022-03-11 16:11] jeckyl commented on #27877
Closed directly without even giving me time to test again.
Well, I'll pass next time.

[2022-03-11 16:21] NeOMakinG commented on #27877
@jeckyl a closed issue doesn't mean that it can't be opened again...

[2022-03-11 16:28] khouloudbelguith commented on #27898
Hi @MeKeyCool,

I manage to reproduce the issue with PS1778 & PS1780 & PS1784.

https://user-images.githubusercontent.com/16067358/157907791-e93a4937-0607-47bd-bc09-40c2ea58b6cd.mp4

Seems related to this: https://github.com/PrestaShop/PrestaShop/issues/20595

I’ll add this to the debug roadmap so that it’s fixed.

Thanks!

[2022-03-11 16:28] jeckyl commented on #27877
Then agree on the procedures.

In any case I personally do not have the means to reopen an issue so there is no evidence that if I add evidence here it will be taken into consideration.

As the case does not seem to be reproducible I move on to something more constructive.

[2022-03-11 16:32] NeOMakinG commented on #27880
Just testing something, don't worry about my comment

[2022-03-11 16:34] khouloudbelguith commented on #27894
Hi @xga91,

I did not manage to reproduce the issue with PS1784 after an upgrade from PS1775 using the 1-click upgrade v4.14.0.
I attached a screen record

https://user-images.githubusercontent.com/16067358/157908715-8266ab91-5b87-4eb7-b1c6-476bc5287361.mp4

Thanks to check and feedback

[2022-03-11 16:35] matks commented on #14405
I think this issue can be closed because the Product Page rework is close to completion. The above questions were answered.

[2022-03-11 16:35] #14405 closed, assigned to zuk3975

[2022-03-11 16:38] matks commented on #14935
@kpodemski Added to epic "Performance"

[2022-03-11 16:39] matks commented on #13749
Added to https://github.com/PrestaShop/PrestaShop/issues/13863

[2022-03-11 16:41] NeOMakinG commented on #27880
Ignore my comment

[2022-03-11 16:47] hibatallahAouadni commented on #27877
Hello @jeckyl

You can ping just right here in this issue when you provide a new evidence and I will try to reproduce the issue.
Ofc, if I reproduce the issue, I will reopen it.

You're right! I think we may need to redo our automatique answers :wink:

Thanks for your understanding :pray:

[2022-03-11 16:59] khouloudbelguith commented on #27896
Hi @MeKeyCool,

I have the same behavior with PS1784 and PS1778.
It is the same behavior for `Modules Alerts` and `Modules Updates`
![image](https://user-images.githubusercontent.com/16067358/157910428-674201a8-3bd1-4ff7-b9fb-6e3ab7aca3d6.png)
I did not find specs
https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/modules/module-manager/alerts.md
https://github.com/

[2022-03-11 17:02] MeKeyCool commented on #27896
Sorry i don't know well the product yet but can we found this kind of "notifications" in other parts of PS ?
I think it should be interesting to define expected behavior and to list all places to update.

[2022-03-11 17:17] khouloudbelguith commented on #27893
@PseT, thanks!
Waiting for your feedback!

[2022-03-11 17:20] jf-viguier commented on #27877
If you will to add this bug in prestashop, I strongly suggest you consider [hiring a specialist](https://friendsofpresta.org/) to help you. It's not so easy to stay below the radar ;-)

[2022-03-11 17:42] PseT commented on #27893
Do you know in which file this SQL query is located?
I think the following modification (add c. before date_add) solved my problem : ORDER BY c.date_add desc LIMIT 20

[2022-03-11 17:47] xga91 commented on #27894
I am doing a retry with php 7.3
![1](https://user-images.githubusercontent.com/101413251/157921905-7f03f854-df37-4f7a-bd33-55ae0f8059d3.jpg)

[2022-03-11 17:54] hibatallahAouadni commented on #21565
Reproduced on 1.7.8.4

[2022-03-11 19:55] xga91 commented on #27894
ok same result error messages
![4](https://user-images.githubusercontent.com/101413251/157934824-6eaf461e-99b2-49e4-b7b5-d2e49310e932.jpg)

[INTERNAL] /home/herlib/public_html/perles-tahiti.org/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 168 - Symfony\Component\Config\Exception\FileLoaderLoadException: The file "/home/herlib/public_html/perles-tahiti.org/src/Pres

[2022-03-12 01:46] johannsnr commented on #27883
Hi

Thank you did not know this

From: khouloudbelguith ***@***.***>
Sent: 11 March, 2022 7:32 PM
To: PrestaShop/PrestaShop ***@***.***>
Cc: johannsnr ***@***.***>; Mention ***@***.***>
Subject: Re: [PrestaShop/PrestaShop] POA select button in product catalogue (Issue #27883)

Hi @johannsnr <https://github.com/johannsnr> ,

Thanks for your suggestion.

Further to this some suppliers do not want a

[2022-03-12 01:54] johannsnr commented on #27882
Hi

This is not what I get, I get an email that gives me this

A new order has been generated on your behalf.

Please go on  <https://syn01be.syd5.hostyourservices.net:2096/cpsess2323685527/3rdparty/roundcube/#NOP> {order_link} to complete the payment.

Please can you help

From: khouloudbelguith ***@***.***>
Sent: 11 March, 2022 5:27 PM
To: PrestaShop/PrestaShop ***@***.***>
Cc: johannsnr ***@***

[2022-03-12 01:56] johannsnr commented on #27882
Hi I get the same for the STRIPE payment email

A new order has been generated on your behalf.

Please go on  <https://syn01be.syd5.hostyourservices.net:2096/cpsess2323685527/3rdparty/roundcube/#NOP> {order_link} to complete the payment.

And the order link is not clickable it is empty

From: khouloudbelguith ***@***.***>
Sent: 11 March, 2022 5:27 PM
To: PrestaShop/PrestaShop ***@***.***>
Cc: joha

[2022-03-12 10:22] RCallejo2 opened #27899 "Webservice Updating Product does not update Product Discount rules applied"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Updating product categories using W

[2022-03-12 20:32] xga91 commented on #27894
after upgrade i looged to see inside admin dashboard, get message error to access products for ex umm unusable like this.
![5](https://user-images.githubusercontent.com/101413251/158034029-26ea8b86-4efb-446b-9599-d114a1857ffe.jpg)

[2022-03-12 21:03] matks commented on #27835
Nice tip @lmeyer1 big thanks !

[2022-03-13 00:20] SFSF99 commented on #16869
I thought it was a bug too, but after debugging the answer is simple. As long a status has not the delivered check (is the last check in screen statusses in admin, but it can have a confusing label in my case) the stock is always updated. But if the status has the delivered mark than the stock is only updated when you check "return at stock" during return products.

[2022-03-13 11:13] ceer commented on #27746
I fixed the `GET api/products?display=full`  this way:

[code]

[2022-03-13 14:02] bcsirt commented on #16994
Hi have the same issue.
Can prestashop correct this problem ?

[2022-03-13 16:02] tudorart commented on #26741
Same here. I get 500 on both advanced parameters->Information and also on the update module.
Stuck on PS 1.7.7.8 and 1click update v4.14.0 on Siteground hosting. No help from support besides upgrading to a very expensive plan.

[2022-03-13 17:44] VidarPc commented on #26741
It will not even help to upgrade to another expensive plan at SiteGround. I did it but did not change anything. I asked SiteGround to downgrade to my previous plan.

Fra: tudorart ***@***.***>
Sendt: søndag 13. mars 2022 18:03
Til: PrestaShop/PrestaShop ***@***.***>
Kopi: Vidar Kristian Bjerkeland ***@***.***>; Mention ***@***.***>
Emne: Re: [PrestaShop/PrestaShop] 1-click upgrade on 1.7.8.0 cause

[2022-03-14 04:21] hibatallahAouadni commented on #27835
This issue has been fixed by this PR #27843

[2022-03-14 04:22] #27835 closed, assigned to NeOMakinG

[2022-03-14 07:32] masiorama commented on #26741
Not entirely true. No SiteGround "Hosting solution" is anymore compatible with PS, but they have Cloud plans which they suggested me to upgrade to, to solve the issue... Of course cloud plans are really expensive, so I did not upgrade.

[2022-03-14 07:48] thalassa-web commented on #27867
I proposed a fix fos this issue. (https://github.com/PrestaShop/PrestaShop/pull/27868)
It was approved by 2 reviewers !
Why is the fix not allowed to be merged ?

[2022-03-14 08:16] matks commented on #27867
@thalassa-web The code has been approved but it does not mean it is valid. The PR has been labelled "Waiting for QA". QA team will now explore it and verify whether it not only fixes the issue but also it does not introduce unwanted bugs 😉 this is for quality. I'm sure you want PrestaShop software to be done with quality right ? 😄 It can only happen if each PR is slowly explored and analyzed to ma

[2022-03-14 08:36] #27172 closed, assigned to nobody

[2022-03-14 08:51] hibatallahAouadni commented on #27899
Hello @RCallejo2

You mean "create a Catalog Price Rules"? Related to Category **C**, could you please provide a screenshot of the created Catalog Price Rule :pray:

=> Create a product **P** and don't assign it to a Category **C**

Did you mean assign the created Product **P** to Category **C** via WebServices? If so, please provide the WebService that you used :pray:
Waiting for your feedback.

[2022-03-14 08:54] hibatallahAouadni commented on #27721
Hello @duongductuan

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-03-14 08:54] #27721 closed, assigned to nobody

[2022-03-14 08:58] hibatallahAouadni commented on #27746
Hello @lephuongbg

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

PS: Thanks @ceer your solution, hope it helps @lephuongbg

Thanks!

[2022-03-14 08:58] #27746 closed, assigned to nobody

[2022-03-14 09:04] VidarPc commented on #26741
Hi,

I did upgrade to cloud plan. Nothing changed and I downgraded again. SiteGround simply does not allow to open that huge amount of files that PS upgrade module require.

Fra: masiorama ***@***.***>
Sendt: mandag 14. mars 2022 09:33
Til: PrestaShop/PrestaShop ***@***.***>
Kopi: Vidar Kristian Bjerkeland ***@***.***>; Mention ***@***.***>
Emne: Re: [PrestaShop/PrestaShop] 1-click upgrade on 1.7.

[2022-03-14 09:26] #27883 closed, assigned to nobody

[2022-03-14 09:39] hibatallahAouadni commented on #27882
Hello @johannsnr

It seems that you have an issue with your mail server cause we are not able to reproduce the issue with all modules that you mentioned :disappointed: Seems your issue is not a PrestaShop core bug.

If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](http

[2022-03-14 09:39] #27882 closed, assigned to nobody

[2022-03-14 09:49] hibatallahAouadni commented on #27893
Hello @PseT

Yes, that's exactly the problem! it should be `c.date_add`.
It seems that your issue is related to some overrides that you made or some third-modules.

We will close this issue as it is not a PrestaShop core bug.

Thanks!

[2022-03-14 09:49] #27893 closed, assigned to nobody

[2022-03-14 09:55] Progi1984 commented on #24650
@Julievrz Issue created for the IT team for the first migration test : https://forge.prestashop.com/browse/INFRA-189

[2022-03-14 10:05] masiorama commented on #26741
Oh, they told me differently when I reached out to them for help, so I guess that I was lucky not to upgrade. Thanks for sharing your experience.

[2022-03-14 10:10] hibatallahAouadni commented on #23222
Hello @MathiasReker

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue.

Thanks!

[2022-03-14 10:10] #23222 closed, assigned to nobody

[2022-03-14 10:12] hibatallahAouadni commented on #27340
Hello @jocel1

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-03-14 10:12] #27340 closed, assigned to nobody

[2022-03-14 10:14] hibatallahAouadni commented on #27796
Hello @LinkOfLight

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module/configuration/overrides problem.

We will close this issue.

Thanks!

[2022-03-14 10:14] #27796 closed, assigned to nobody

[2022-03-14 10:48] Hlavtox commented on #14650
Hi everyone, I think the era of RRP price has come to an end. The new EU directive 2019/2161 is coming in effect no later than 28.5.2022.

Basically - if showing any discount, it must be from the product price in last 30 days. Plus, the seller must be able to prove that he was really selling the products for that price.

Ping @ttoine - maybe you can explore a bit more on that topic? I was thinking

[2022-03-14 10:53] Progi1984 commented on #27725
Fixed by me in #27814 and tested by @khouloudbelguith

[2022-03-14 10:53] #27725 closed, assigned to Progi1984

[2022-03-14 10:54] Progi1984 commented on #27888
@atomiix I work on the bump of version of PHPStan (linked to this issue #16471).

[2022-03-14 10:56] jocel1 commented on #27340
Hi @hibatallahAouadni!

Sorry, I haven't have time yet to take a look at the way to properly test it, but it definitely fixes issue (added tests are not passing without my fixes ;))

[2022-03-14 11:24] carmas123 commented on #23246
I think that a simple solution like this can solve the problem:

[code]

With this hook we can handle this Hook and replace the returned price with the customized customer price also into the cart.
Than using "actionGetCartPriceFromCatalogInCart" and "actionGetProductPropertiesAfterUnitPrice" can solve all problems for now.

[2022-03-14 12:22] FactoryBike opened #27900 "Error image url csv import"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello, i am using a csv to import p

[2022-03-14 12:23] carmas123 commented on #23246
This is also another useful hook directly into the PriceCalculation

[code]

[2022-03-14 12:33] #27870 closed, assigned to Progi1984

[2022-03-14 13:16] Daaaaad opened #27901 "Pixel FB events not being sent since v1.15.0 of ps_facebook module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

Since v1.15.0 of ps_faceboo

[2022-03-14 13:27] hibatallahAouadni commented on #27894
Hello @xga91

I would like to share my shop configuration:

![image](https://user-images.githubusercontent.com/23308427/158178462-087c3779-fcae-4097-b59e-b3d4040c036d.png)

It seems that you encounter a problem while upgrading cause after upgrading to PS1784, your shop should have a `ps_feature_flag` table, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/1

[2022-03-14 13:37] matks commented on #26454
Back to "Ready" state because PR https://github.com/PrestaShop/PrestaShop/pull/26455 stale

[2022-03-14 13:48] idnovate opened #27902 "Order created with "Payment error""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Order is created with `Payment erro

[2022-03-14 13:53] xga91 commented on #27894
News from today,

Ok i added this line on this file ===>    config/define.inc.php to line number 153

This line =
define('_PS_PROFILE_IMG_DIR_', _PS_IMG_DIR_.'pr/');

and the upgraded passed in whole green ok.

the question is why my define.inc.php is missing this line ?

[2022-03-14 13:55] prestascott commented on #11752
Hello everyone,

For the past days, I've worked on the design of this new component.

## Design

### Anatomy
<img width="613" alt="Anatomy" src="https://user-images.githubusercontent.com/54888056/158185010-b3d19cb7-4158-4af9-b33e-d027814fe3de.png">

**1. The tooltip**
Depending on what users write, the suggestions and warnings appear in this tooltip.

**2. The show/hide icon**
It allows users to s

[2022-03-14 14:10] ttoine commented on #14650
To me this must be a custom development or module, or even several modules:
- not all merchants really needs this feature
- the way it must work is different in many countries or world regions, and of course it might also change depending on markets and verticals
- how do you handle getting the information from the "official catalogs" ? distributors API ? custom services (and who host it) ? manual

[2022-03-14 14:45] matks commented on #27862
Issue https://github.com/PrestaShop/PrestaShop/pull/27874 has been defined critical.

As soon as it is fixed on 1.7.8.x branch @matthieu-rolland will begin the release process of 1.7.8.5

[2022-03-14 15:56] Hlavtox commented on #14650
Well, I pinged you because I thought that PS is focusing on EU environment - following your other threads regarding compliance to EU privacy laws.

I am all good, in my case, we will just stop using the RRP price and we will be inline with the legislative. 👍

[2022-03-14 16:08] hibatallahAouadni commented on #27901
Hello @Daaaaad

It seems that your issue is not a PrestaShop core bug.
If your module is `ps_facebook` Official, please contact support team on Addons

We will close this issue.

Thanks!

[2022-03-14 16:08] #27901 closed, assigned to nobody

[2022-03-14 16:08] #27488 closed, assigned to Progi1984

[2022-03-14 16:21] ttoine commented on #14650
Even for RGPD, it was a dedicated module and not something implemented in the Core.

[2022-03-14 16:36] #27840 closed, assigned to atomiix

[2022-03-14 16:54] dingedi opened #27904 "Display of the login back-office page, conflict with chrome 99"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![image](https://user-images.github

[2022-03-14 16:59] matks commented on #27904
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/27835 😉

[2022-03-14 17:06] dingedi commented on #27904
whoops.  I searched but I couldn't find

[2022-03-14 17:06] #27904 closed, assigned to nobody

[2022-03-14 17:17] jolelievre commented on #27854
Hi @florine2623 and @hibatallahAouadni

this bug was initially reported by @SebBareyre

Maybe he can help you in reproducing the faulty behavior

[2022-03-14 17:22] hibatallahAouadni commented on #27900
Hello @FactoryBike

I didn't manage to reproduce the issue with PS1781 and PS1784, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/158225813-e58abb2d-661e-4b23-a9f2-d1879516ae15.png)

I imported the exemple file that you can download from the BO>Import, check the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/

[2022-03-14 17:30] hibatallahAouadni commented on #27854
Hello @SebBareyre

Could you please provide clear and concise steps to reproduce the issue.
Waiting for your feedback.

Thanks!

[2022-03-14 17:39] hibatallahAouadni commented on #27902
Hello @idnovate

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #26671.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-03-14 17:39] #27902 closed, assigned to nobody

[2022-03-14 17:39] hibatallahAouadni commented on #27902
Duplicate of #26671

[2022-03-14 18:19] florine2623 commented on #27854
@Seb33300 ,

I tried to reproduce your issue in PS 1.7.8.4. I used all uppercase, all lowercase and a mix of both in the module [quality assurance](https://github.com/PrestaShop/ps_qualityassurance).  But I can't reproduce it :

https://user-images.githubusercontent.com/16019289/158234717-0cc033bd-c473-4f20-ac67-e615842ca848.mov

[2022-03-14 18:40] FactoryBike commented on #27900
Hello, ¿Did you test it with the url image that i post in my question?: https://www.rizoma.com/media/catalog/product/S/0/S0FR060CH0000021000_3.jpg

Attached i send you my cvs example that i try to upload with the url image link.

Thank´s and wait for your feedback.
[NUEVOS rizoma.xlsx](https://github.com/PrestaShop/PrestaShop/files/8247714/NUEVOS.rizoma.xlsx)

[2022-03-14 19:56] marwachelly commented on #27854
Hello @SebBareyre,
I wasn't able to reproduce the issue as shown in the screen record bellow with PS1.7.8.4 , PHP7.3 and Chrome version 96.0.4664.93
 https://watch.screencastify.com/v/o1LEGHdLnEYukwfWEy1g
Did we miss some thing?
Many thanks,

[2022-03-14 20:54] #24644 closed, assigned to PierreRambaud, marionf, prestascott

[2022-03-14 21:14] matks commented on #27854
@JoshTheDerf @usoldev we are trying to find a usecase to reproduce the issue. This would help us build the fix. Could you help us? A clear list of "how to observe the bug on your shop"

[2022-03-14 21:15] matks commented on #27872
@Djolhan1 @Hlavtox @web-burn We are trying to find a usecase to reproduce the issue. This would help us build the fix. Could you help us? A clear list of "how to observe the bug on your shop"

[2022-03-15 08:05] kpodemski commented on #27854
@PrestaShop/qa-team

Please use the example module that I attach. Visit the product page and you should see this:
https://www.dropbox.com/s/yxpa47jivw9lnq5/Zrzut%20ekranu%202022-03-15%20o%2009.04.04.png?dl=0

This means that hook has been correctly executed. Scenario:
1.7.8.4: you shouldn't see this `dump`
After the fix introduced by @lmeyer1 you should see it.

[hooksbug.zip](https://github.com/P

[2022-03-15 08:21] Djolhan1 commented on #27872
Install a module blog, check the home page of this one, broken link. Add the fix, no more broken link. How could i help you more ?

[2022-03-15 08:23] kpodemski commented on #27872
@Djolhan1 thanks, I created an example module here: https://github.com/PrestaShop/PrestaShop/issues/27854#issuecomment-1067679731 - that should do it

[2022-03-15 08:25] hibatallahAouadni commented on #27290
@eliiphaz can't wait for your PR :rocket:
Thanks :muscle:

[2022-03-15 08:50] Daaaaad commented on #27901
@hibatallahAouadni Could you please transfer this bug to the ps_account's dev team? 🤔

[2022-03-15 08:52] marwachelly commented on #27854
Hello,

I manage to reproduce the issue with the module providede with PS 1.7.8.4 and the problem doesn't appear with PS1.7.8.0.
https://watch.screencastify.com/v/3XmcnWT3LCkovkk6bdrz

Thank you @kpodemski !!

[2022-03-15 09:08] hibatallahAouadni commented on #27901
Hello @Daaaaad

I already transfer the problem to `ps_facebook` team :wink:
They will contact you as soon as possible :pray:

Thank you for your patience and understanding.

[2022-03-15 09:09] Daaaaad commented on #27901
Than you very much @hibatallahAouadni 👍

[2022-03-15 09:15] hibatallahAouadni commented on #23246
@carmas123 could you please create a Pull Request :pray:
Can't wait for your PR :rocket:

[2022-03-15 09:39] tdzierza opened #27906 "Inifnity loop after changed shop_url"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

$ wget example.com
--2022-03-15 10:

[2022-03-15 09:46] khouloudbelguith opened #27907 "BO - The module "Order Notifications on the Favicon" is non installed after a fresh install"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is detected by the night

[2022-03-15 09:56] carmas123 commented on #23246
@hibatallahAouadni you can solve this problem by overriding the Cart and Product class.

[2022-03-15 10:10] #27852 closed, assigned to nobody

[2022-03-15 10:20] khouloudbelguith opened #27908 "BO - Products - Wrong position of information message in multistore context"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Related: https://github.com/PrestaS

[2022-03-15 10:22] MatShir opened #27909 "productcomments incompatible in 8.0"

[2022-03-15 10:22] MatShir opened #27910 "ps_emailalerts incompatible with 8.0"

[2022-03-15 10:22] MatShir opened #27911 "ps_googleanalytics incompatible with 8.0"

[2022-03-15 10:25] Progi1984 commented on #27908
@atomiix It should be fixed in your PR. No ?

[2022-03-15 10:29] khouloudbelguith commented on #27908
Hi @Progi1984,
No, I checked a fresh install today and it is not fixed on the Edit product page.
It is fixed only on the Stocks page
![image](https://user-images.githubusercontent.com/16067358/158358274-8e73b0cc-58c8-40d0-b315-12087f0331ac.png)

Thanks!

[2022-03-15 11:12] #21556 closed, assigned to kpodemski

[2022-03-15 13:44] Hlavtox commented on #27715
@hibatallahAouadni That issue does not really specify what is happening. The category edit page is hiding all validation messages.

I was migrating a 1.6 store yesterday and I was unable to edit one of the categories. It was just throwing the exception with no further information.

When I investigated, the real validation message from ObjectModel was that `$category->date_upd is invalid` - it real

[2022-03-15 13:44] tabularasadev opened #27916 "Login Page - Issue with lost password link on Chrome"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello everyone.

Since several mont

[2022-03-15 13:46] Hlavtox commented on #27916
Already fixed on develop - you can implement fix to your install very easily, it's enough to change the TPL file. https://github.com/PrestaShop/PrestaShop/pull/27843/files

[2022-03-15 13:54] marwachelly commented on #27906
Hello,

Thank you for your report. Is your issue similar to https://github.com/PrestaShop/PrestaShop/issues/17095? If not could you please provide a screen record to reproduce the issue. Waiting for your feedback.

Thanks,

[2022-03-15 14:07] #27916 closed, assigned to nobody

[2022-03-15 14:11] marwachelly commented on #27916
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/27835

[2022-03-15 14:24] Prestaworks commented on #10405
Yes, but you still may need action hooks.

[2022-03-15 15:32] khouloudbelguith opened #27921 "BO - An exception is displayed when editing a currency with a custom lanaguage"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is displayed when edit

[2022-03-15 15:34] marwachelly commented on #27894
Hello,

Nice! So the ticket is not valid anymore. It will be closed. Regarding your question as default this line define('PS_PROFILE_IMG_DIR', PS_IMG_DIR.'pr/') doesn't exist in config/define.inc.php. Did you added this line manually or it is added after a module installation? May this issue https://github.com/PrestaShop/PrestaShop/issues/26230 can help you.

Thanks,

[2022-03-15 15:34] #27894 closed, assigned to nobody

[2022-03-15 16:10] Progi1984 commented on #27909
Fixed by #27646

[2022-03-15 16:10] #27909 closed, assigned to Progi1984

[2022-03-15 16:20] marwachelly commented on #27900
Hello,
I was able to reproduce the issue with PrestaShop version 1.7.8.1 and 1.7.7.8.
PS1.7.8.0
https://watch.screencastify.com/v/fGblHLPGbVLPiesrxWtq
PS1.7.7.8
![image](https://user-images.githubusercontent.com/89604350/158423622-f144e05d-7bd7-4f86-95d1-5fbe6b734f16.png)

 I'll add this to the debug backlog so that it's fixed. Please be aware that due to the high number of reported issues, some b

[2022-03-15 16:30] hibatallahAouadni opened #27924 "[BO] Bad display of Vouchers id in Customer View"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I notice that the Id column is too

[2022-03-15 16:32] hibatallahAouadni commented on #27924
Caused by this PR #24797

[2022-03-15 16:39] #27689 closed, assigned to nobody

[2022-03-15 17:11] hibatallahAouadni commented on #27894
@xga91 so you need to remove it :wink:

[2022-03-15 17:14] xga91 commented on #27894
no i added the line to correcting the problem !

[2022-03-15 17:30] FactoryBike commented on #27900
OK...i can wait...no problem.
i ask´d to a friend of mine and the web www.rizoma.com that has de image, has Sertigo (old Comodo) certificate and we think maybe that is part of the problem. Coud it be?.
Thank´s for your time and i´ll wait for the possible solution.

[2022-03-15 17:53] khouloudbelguith opened #27926 "BO - An exception is displayed when we disable the tax"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > International > Taxes p

[2022-03-15 19:11] matks commented on #27862
## Status update

Build was delivered to QA members for validation

[2022-03-15 19:13] #27854 closed, assigned to nobody

[2022-03-15 22:02] matks commented on #14533
Following the Hummingbird rework I think we can close this issue. Classic theme will not promote code quality and best practices, its heir will !

https://github.com/PrestaShop/theme-refacto/

[2022-03-15 22:02] #14533 closed, assigned to nobody

[2022-03-16 01:47] Angar90 opened #27928 ""Out of memory" error while editing the product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

One of my customers uses Pr

[2022-03-16 05:33] duongductuan opened #27929 "bug SSL in BO Order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

My website has fully installed ssl

[2022-03-16 07:44] kpodemski opened #27930 ""Disabled" modules are still displayed during the installation process"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you change the name of the mod

[2022-03-16 08:00] khouloudbelguith opened #27932 "BO - The movements page is not working with a specific language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we change the employee languag

[2022-03-16 08:50] eliiphaz commented on #27290
I just learned that the classic theme has been removed from the core
because it will be operational in the future
while the issue is on the prestashop core
in this case my pull request should be on the theme repo, right?

[2022-03-16 09:15] #27867 closed, assigned to thalassa-web

[2022-03-16 09:36] hibatallahAouadni commented on #27290
@NeOMakinG you're the expert :sweat_smile: can you please answer him :pray:

[2022-03-16 09:47] hibatallahAouadni commented on #27928
Hello @Angar90

I only can share with you my Server information:

![image](https://user-images.githubusercontent.com/23308427/158560992-4cae5407-1074-43fb-92b1-654e1b5a6d44.png)

Sorry but I can't help you because it seems the problem is related to your server configuration :disappointed:
If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support

[2022-03-16 09:47] #27928 closed, assigned to nobody

[2022-03-16 09:53] thalassa-web commented on #27867
Guys, if I want to fix this bug in the next 1.7 version, is it possible to merge the fix or have I to make another PR ?

[2022-03-16 10:00] matks commented on #27867
@thalassa-web Unfortunately, in order to preserve 1.7.8.x branch from unwanted side-effects, we only merge **regression** bug fixes inside 1.7.8.x

That means that bugs fixed inside 1.7.8.x are bugs that were introduced in 1.7.8.0, 1.7.8.1, 1.7.8.2, 1.7.8.3 or 1.7.8.4

If this bug #27867 was introduced in 1.7.6.8 it is not a 1.7.8;x regression so we will not merge it into 1.7.8.x . This is because

[2022-03-16 10:04] davemax opened #27934 "Impossible to upload single file with form_fields in AdminController with HelperForm class"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After this commit:
https://github.c

[2022-03-16 10:36] AureRita opened #27936 "FO - Search Result when you write random letters"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On the Front Office, when you searc

[2022-03-16 10:39] musaffar-patel opened #27937 "Hook Request (back office new order creation)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-03-16 10:40] hibatallahAouadni commented on #27930
Hello @kpodemski

I changed the name of `ps_wirepayment` to `kp_wirepayment` and yet I can find the module in the list:

![image](https://user-images.githubusercontent.com/23308427/158571505-cfbd9fad-76e7-480a-92f8-2caccb87cd24.png)

And if I choose this option **Install all modules (recommended)**, the installation will be stopped in **Install modules** step:

![image](https://user-images.githubu