[2020-02-13 16:17] #15934 closed, assigned to matthieu-rolland, jolelievre

[2020-02-13 16:23] khouloudbelguith opened #17661 "Creating a once deleted currency causes duplicate rows in database"
**Describe the bug**
When a currency is added in PrestaShop it is impossible to add it a second time, thus it prevents having duplicate
However, if you delete a currency and then add it again a new row is inserted and the former one is still present with its deleted column set to 1 (soft delete)
This means the database has duplicated rows, and that different orders with the same currency do not us

[2020-02-13 16:24] khouloudbelguith commented on #17661
Ping @matthieu-rolland
 Related to https://github.com/PrestaShop/PrestaShop/pull/16287

[2020-02-13 16:27] khouloudbelguith commented on #15934
Issue created here: https://github.com/PrestaShop/PrestaShop/issues/17661

[2020-02-13 16:47] didi-2018 opened #17662 "site "new-products" show randow products as "new" - PS 1.7.6.3"
Hello,

PS site "new-products" do not show all the new products, it show random products and mark them as "new".

My PS setting for new products is 60 days. In my PS 1.7.5.1 the site new-products only show new products from last 60 days. But in PS 1.7.6.3 the site show random products. In my case 316 products. It starts with 2 products add on 31.08.2018 than 2 from 30.08.2019 than from 27.08.2018

[2020-02-13 17:49] MatShir commented on #16842
@arouiadib, separating the issue will facilitate the code review and testing, one problem at a time. But one specs is enough :)
If you can write down every step to reproduce it

[2020-02-13 18:05] MatShir opened #17663 "Currency configuration by store in multistore environment"
How is going to be multistore managed?

I mean, currently is not possible to define a different configuration for the same currency for each store - mainly currency rate, which is the only thing that can be configured.
So, you can note define a currency rate of `1` for _store 1_ and `1.1` for _store 2_, for example.

_Originally posted by @idnovate in https://github.com/PrestaShop/PrestaShop/issue

[2020-02-13 18:10] MatShir commented on #9714
close by #11660

[2020-02-13 18:10] #9714 closed, assigned to nobody

[2020-02-13 18:22] #11660 closed, assigned to jolelievre

[2020-02-13 19:25] arouiadib opened #17665 "Calculation of discounts - Discount of a cart rule with percentage reduction restricted to specific product"
When a cart rule is created with percentage reduction on specific product, the discounts subtotal is calculated on final price and not on unit price of that specific product.

**To Reproduce**

1. Go to BO => Catalog => Discounts => Create a new cart rule
   1.1 Give a name to the cart rule.
   1.2 As an action => Apply a discount Percent = 100% => Apply a discount to: "Specific product".
   1.3 C

[2020-02-13 19:28] aromadebebe commented on #17630
The detail of the page is an Error 505 that arose after the cache was emptied from the store administrator. I requested help from the technical support of the hosting service and they only guided me to make the error_log.php file to identify where this error was happening.

The girl who attended me sent me these links:
https://www.hostinger.es/como/estoy-recibiendo-el-error-internal-server-error-5

[2020-02-13 19:42] arouiadib opened #17666 "Specs for calculation of discounts - Discount of a cart rule with percentage reduction restricted to selection of products"
When a cart rule is created with percentage reduction on a selection of products, the discounts subtotal is calculated on final price and not on unit price of that selection of products.

**To Reproduce**

1. Go to BO => Catalog => Discounts => Create a new cart rule
   1.1 Give a name to the cart rule.
   1.2 As conditions => Restrictions => product selection => Choose 2 products (`demo_1` Hummin

[2020-02-13 21:09] arouiadib commented on #16842
Thank you for your time. You are right @MatShir.
I have created the tickets with steps to reproduce: #17666 and #17665.

Since I feel, and kinda believe, these calculations should also be done using unit price( like with cheapest product as discussed above), here is [a fix I suggest.](https://github.com/PrestaShop/PrestaShop/pull/17667).

With regards,

[2020-02-13 21:24] Cedricdelcroix commented on #17519
this is console log
![image](https://user-images.githubusercontent.com/6152553/74479304-3691f580-4eaf-11ea-8fd1-054ce5d40b63.png)

php errors :
![image](https://user-images.githubusercontent.com/6152553/74479465-79ec6400-4eaf-11ea-9eeb-f08aa4553257.png)

acces log :
![image](https://user-images.githubusercontent.com/6152553/74479522-97213280-4eaf-11ea-974e-a61a90794d06.png)

we don't have apache l

[2020-02-13 21:26] Cedricdelcroix commented on #17519
I can't give you more or tell me exactly how to do.

Thanks!

[2020-02-13 22:39] go-sudo commented on #17609
Hello @khouloudbelguith

I appreciate your help ; problem resolved

Regards

[2020-02-13 22:40] #17609 closed, assigned to nobody

[2020-02-14 01:15] go-sudo opened #17668 "HTTP ERROR 500 on clear cache"
Hello

Since I update to the last version I'm getting an error when I clear Cache in Prestashop
Fluche cahce
https://drive.google.com/file/d/1hoGU7Jqua8QV7PwdFAWoAPQLEm5kpPrM/view

**Additional information**
Version de PrestaShop : 1.7.6.3
Version de MySQL : 10.3.22-MariaDB
Version du logiciel serveur : Apache
Version de PHP : 7.1.33
Limite de mémoire : 4096M
Temps maximal d'exécution : 7000
Taill

[2020-02-14 01:51] z72diego commented on #17631
Hi @khouloudbelguith just tried an upgrade disabling first all non-Prestashop modules and the same thing happened but not a single module was upgraded, pleas check the log:

I disabled all modules from the module area clicking "disable" in the option menú.

Despite this error, ps and the database seems to have been updated correctly. I will continue testing..

I notice that although the modules ar

[2020-02-14 02:22] z72diego commented on #17631
Tested a lot of modules and functions and everything seems to be ok, with the passing of the days I will know if there is any error.

Thanks for your help @khouloudbelguith

[2020-02-14 05:08] buyan2 commented on #17600
h h h

[2020-02-14 05:08] buyan2 commented on #17600
h h h

[2020-02-14 06:04] safiafridi commented on #17600
nice <a href="https://bestlaptopshub.com/">☺️</a><a href="https://bestextremestuff.com/">☺️ </a>

[2020-02-14 07:33] ShaimyWinda opened #17669 "Bug price impact of declinations in AllShop"
Hi,

I have a problem with the price impacts of the declinations. I have a site with 12 shops and I would like to put price impacts for each declination.
When I put myself in all shop, I can see the change in BO but in the front, the impact is not there and also when I see the BO in the FR shop, or others shop, I see that there is no impact.

You can see screenshots

Thanks!

**Screenshots**
![all

[2020-02-14 08:05] khouloudbelguith commented on #17127
Hi @ShaimyWinda,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-14 08:05] #17127 closed, assigned to nobody

[2020-02-14 08:06] khouloudbelguith commented on #17108
Hi @xavivag,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-14 08:06] #17108 closed

[2020-02-14 08:06] khouloudbelguith commented on #17118
Hi @darylstone,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-14 08:06] #17118 closed, assigned to nobody

[2020-02-14 08:07] khouloudbelguith commented on #17609
@go-sudo, Great!
Feel free to open a new one when needed.

Thanks!

[2020-02-14 08:39] khouloudbelguith commented on #17668
Hi @go-sudo,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Did you use opcache?

Thanks!

[2020-02-14 09:09] vincent-dp opened #17670 "Errors: [ERROR 1824] Element '{urn:oasis:names:tc:xliff:document:1.2}file"
Invalid resource provided: "1.2"; Errors: [ERROR 1824] Element '{urn:oasis:names:tc:xliff:document:1.2}file

When I try to export my theme, I got this error

**Invalid resource provided: "1.2"; Errors: [ERROR 1824] Element '{urn:oasis:names:tc:xliff:document:1.2}file**

**To Reproduce**
Steps to reproduce the behavior:
1. add a custom theme
2. go to translation and translate for a non latin langua

[2020-02-14 09:20] khouloudbelguith commented on #17669
Hi @ShaimyWinda,

I did not manage to reproduce the issue with PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/1fJblDw-u9IZiQeG05DgW0VJ8ifn2sw47/view
Thanks to check & feedback.

[2020-02-14 09:27] ShaimyWinda commented on #17669
@khouloudbelguith Hi,

Can you test in PS 1.7.6.0 ?

Thanks

[2020-02-14 09:28] khouloudbelguith commented on #17670
Hi @vincent-dp,

Have you tried to contact the theme author about the issue?
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2020-02-14 09:37] khouloudbelguith commented on #17662
Hi @didi-2018,

Thanks for your report.
Could you please try to install the `ps_newproducts` module, configure it with `Number of days for which the product is considered 'new'` and check if the same issue occurs if you click on "All new products" link
![image](https://user-images.githubusercontent.com/16067358/74519410-ea2dd080-4f15-11ea-9dca-64cd09798597.png)

Thanks!

[2020-02-14 09:37] vincent-dp commented on #17670
I am the theme author.
But you can use classic rocket, you will get the same problem.
it comes from the api prestashop use to generate translation files

[2020-02-14 09:54] #16654 closed, assigned to matthieu-rolland, jolelievre

[2020-02-14 09:55] #16653 closed, assigned to matthieu-rolland, jolelievre

[2020-02-14 10:10] didi-2018 commented on #17662
@khouloudbelguith it is installed and configured

[2020-02-14 10:17] khouloudbelguith commented on #17665
Hi @arouiadib,

Thanks for your report.
I have the same behavior as PS1.7.5.2, PS1.7.6.3 & branch 1.7.7.x.
But, I think, it is normal behavior.
Ping @MatShir what do you think?
We apply 100% for a product demo_1 & there is no quantity specified in this case
![image](https://user-images.githubusercontent.com/16067358/74522487-945c2700-4f1b-11ea-84cf-36c877afcdb7.png)

Thanks!

[2020-02-14 10:20] didi-2018 commented on #17662
@khouloudbelguith I reseted module but I have the same issue. There is not datatable for it, right? Could it be cause 1.7.6.3 is new installed? But I do not understand why all products from 2018 and 2019 are shown there? Sort in Category works. But not in module and not on site new-products

[2020-02-14 10:31] khouloudbelguith commented on #17662
@didi-2018, in your BO => Advanced Parameters => Database => create an SQL command
```Select COUNT(*) from  ps_product where `date_add` > '2019-12-14 00:00:00'``` and check the result.

Thanks!

[2020-02-14 10:46] Betafer commented on #9596
Same issue in prestashop 1.7.6.2
using opera it works,
removing cookies works for e while with chrome or firefox

In Chrome 80 i got this error
:
DevTools failed to parse SourceMap: chrome-extension://cfhdojbkjhnklbpkdaibdccddilifddb/include.preload.js.map
DevTools failed to parse SourceMap: chrome-extension://cfhdojbkjhnklbpkdaibdccddilifddb/include.postload.js.map

[2020-02-14 10:46] khouloudbelguith commented on #17666
Hi @arouiadib,

Thanks for your report.
I have the same behavior as PS1.7.5.2 & PS1.7.6.3.
But, I think, it is normal behavior.
Ping @PrestaShop/prestashop-product-team @MatShir what do you think?
We apply 100% for a product selection & there is no quantity specified in this case
![image](https://user-images.githubusercontent.com/16067358/74524589-9de78e00-4f1f-11ea-9aa2-6ba796865ab9.png)

Thanks!

[2020-02-14 10:47] khouloudbelguith commented on #17666
Related to https://github.com/PrestaShop/PrestaShop/issues/17665

[2020-02-14 10:49] Progi1984 commented on #17657
After discussion with @boubkerbribri, we need to add
- `data-hook-name` on `select2 li`
- `data-hook-name` on  `div class="card js-grid-panel" id="{{ grid.id }}_grid_panel"`  (`src/PrestaShopBundle/Resources/views/Admin/Common/Grid/grid_panel.html.twig`)

[2020-02-14 10:58] sowbiba commented on #17437
Hello
https://github.com/PrestaShop/PrestaShop/pull/17457#issuecomment-586209028

[2020-02-14 11:15] khouloudbelguith commented on #17669
@ShaimyWinda, it is ok with PS1.7.6.0 also
https://drive.google.com/file/d/15WN4g-bgOFYCP1yXwi00_IMS7IQhqB46/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-02-14 11:18] khouloudbelguith commented on #17670
@vincent-dp, I did not manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2 & the Classic rocket theme.
[classic-rocket.zip](https://github.com/PrestaShop/PrestaShop/files/4204206/classic-rocket.zip)
I used the Greek language.
I attached a screen record
https://drive.google.com/file/d/1qVV45p4Fg52WUN9QuSN-Xnnk3itokOlV/view
Thanks to check & feedback.

[2020-02-14 11:20] khouloudbelguith commented on #17631
@z72diego, thanks for your feedback.
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-14 11:20] #17631 closed, assigned to nobody

[2020-02-14 11:20] vincent-dp commented on #17670
Ok, it seems to be on my side. I don't know how to solve it tho :(

[2020-02-14 11:25] khouloudbelguith commented on #17519
@Cedricdelcroix, those logs cannot help us to understand what's wrong.
Is this issue occurs only with this customer?

If no, thanks to create from the first (debug mode must be enabled) a new customer & create order & try to change the status of this order.
Then try to provide us the debug mode report & file error log in the folder `/Project_Folder/var/logs/`

Thanks!

[2020-02-14 11:28] khouloudbelguith commented on #17630
Hi @aromadebebe,

What is the exact page is displayed with error?
Is it in the Back office or Front office?

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't

[2020-02-14 11:44] khouloudbelguith commented on #17670
@vincent-dp, what is the exact language did you used to translate your theme?
Is it your default language?
Is it the language of your employee?

Thanks!

[2020-02-14 11:47] khouloudbelguith commented on #9596
Hi @Betafer,

It is ok with PS1.7.6.2.
https://drive.google.com/file/d/18wEVBvv9bYS4Hi1eAPvRjJUUjVOFmF-Y/view

Thanks!

[2020-02-14 12:06] micka-fdz opened #17673 "Allow SVG format for header logo"
**Describe the bug**
Currently, we can't use SVG format for header logo.
I think this common format should be allowed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Appearance / Theme & logo'
2. Try to upload header logo on SVG format
3. This format is not allowed

## Specs

The .svg extension should be accepted only for header logo
For now we will not allow .svg for email logo beca

[2020-02-14 12:16] micka-fdz commented on #17673
Is it enough to add svg on this line? If so, I'll make a PR.
https://github.com/PrestaShop/PrestaShop/blob/b6135e53aa776cc20f6c6f7802b14b198b8d815a/src/Core/Domain/Shop/DTO/ShopLogoSettings.php#L45

[2020-02-14 12:40] WenKona commented on #17600
sounds nice!

[2020-02-14 12:48] khouloudbelguith commented on #17673
Hi @micka-fdz,

Your ticket is a duplicate of #10600
So, I close it.
Thanks!

[2020-02-14 12:48] khouloudbelguith commented on #17673
Duplicate of #10600

[2020-02-14 12:49] khouloudbelguith commented on #17673
@micka-fdz, Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2020-02-14 13:05] micka-fdz commented on #17673
@khouloudbelguith I'm note sure my ticket is a duplicate of #10600.

In my opinion, logos management is independent of other images (products, categories, manufacturers...) and could easily allow SVG format.

Maybe could I get the confirmation of core team?

[2020-02-14 13:08] khouloudbelguith commented on #17673
@micka-fdz, In this issue: #10600, we will support all types of images (logo, product, categories,..).

Thanks!

[2020-02-14 13:20] ShaimyWinda commented on #17669
@khouloudbelguith ,

Here's the only error I have
`[Fri Feb 14 14:06:29.262479 2020] [php7:error] [pid 22713] [client 45.90.224.168:40914] script '/var/www/preprod.moondreamwebstore.fr/adminmoon/themes/new-theme/public/index.php' not found or unable to stat, referer: https://fr.preprod.moondreamwebstore.fr/adminmoon/index.php/sell/catalog/products/122?_token=3nRyB3x8zQoBHvWQ8VmoFXWpODShSl2jNHEsbsC

[2020-02-14 13:26] vincent-dp commented on #17670
Hebrew,
it is the default language of one of my test shop and the language of the person that makes translation and have access to my back office

[2020-02-14 13:28] eternoendless commented on #17308
Visibly the wording wasn't detected by TranslationToolsBundle when extracting the catalogue. It should be fixed by this commit (which has been cherry-picked in 1.7.7x): https://github.com/PrestaShop/PrestaShop/commit/93dc224abd69b0e7310d7d5c78bba60cf3b22cc6

For more info: https://devdocs.prestashop.com/1.7/development/internationalization/translation/translation-tips/#form-choicetypes

The wordin

[2020-02-14 13:28] khouloudbelguith commented on #17669
@ShaimyWinda, this error, I think is another problem similar to this: https://github.com/PrestaShop/PrestaShop/issues/17584
You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. EDit the product price impact
6. save the produ

[2020-02-14 13:29] Betafer commented on #9596
Hello, it's not ok

here the screen capture of the problem:

[Registrazione schermo 2020-02-14 alle 14.25.17.mov.zip](https://github.com/PrestaShop/PrestaShop/files/4204622/Registrazione.schermo.2020-02-14.alle.14.25.17.mov.zip)

[2020-02-14 13:35] didi-2018 commented on #17662
@khouloudbelguith

![image](https://user-images.githubusercontent.com/44971218/74535925-3f2e0e80-4f37-11ea-9412-b80815c8b0c4.png)

[2020-02-14 13:36] khouloudbelguith commented on #17662
@didi-2018, in the Fo, you should have 45 products displayed.

Thanks!

[2020-02-14 13:41] ShaimyWinda commented on #17669
@khouloudbelguith
I don't have a mistake, I see a JSON. On the other hand in the json, I don't see impact_price.

Thanks

[2020-02-14 13:49] didi-2018 commented on #17662
@khouloudbelguith I have in normal Category 37 new products today.

https://dev.madamedessous.com/Alle-Produkte

and on site new-products I have today 317 products marked as new and random.

https://dev.madamedessous.com/neue-artikel

[2020-02-14 13:53] khouloudbelguith commented on #17670
@vincent-dp, using your language is ok also.
https://drive.google.com/file/d/1VyPQ_r-fyzo5j8lNdm8RjuuIBvSrf9gF/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-02-14 13:53] matthieu-rolland commented on #17308
@LouiseBonnard, @colinegin

So I reproduced the behavior and noticed the translation is not even inside the downloaded ZIP: the failure comes from the extraction process.

As seen with @eternoendless , this issue has been fixed here:

https://github.com/PrestaShop/PrestaShop/commit/93dc224abd69b0e7310d7d5c78bba60cf3b22cc6

It is already on the develop branch, the next extraction should be good.

[2020-02-14 13:56] didi-2018 commented on #17668
@go-sudo @khouloudbelguith  I have that 500 error in all 1.7.x.x versions I used all the years and everytime I clear cache. Refresh the page clears the cache.

[2020-02-14 13:58] khouloudbelguith commented on #17668
@didi-2018, did you use opcache?

Thanks!

[2020-02-14 13:58] jf-viguier commented on #10600
Svg are vectorial, there is no need for thumbnail anymore : no copy or resize, Imagick not needed.

[2020-02-14 13:58] khouloudbelguith commented on #17662
@didi-2018, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-02-14 13:59] didi-2018 commented on #17668
@khouloudbelguith no I do not use! Since 08.2018 I use Memcache from hosting provider. But it also occures without having any cache enabled

[2020-02-14 14:02] jf-viguier commented on #17673
@khouloudbelguith  the issue #10600 has no PR and is a bigger one. What we need here is just to allow svg for the shop logo.
Logo thumbnail is not generated here, so imagick is not needed, no gd issue : we just need to improve the allowed extensions. Please reopen the issue. We'll do a PR.
What do you think @matks ?

[2020-02-14 14:04] didi-2018 commented on #17662
@khouloudbelguith  only that error today:

/img/app_icon.png" failed (2: No such file or directory)

I do not know for what it is

[2020-02-14 14:04] khouloudbelguith commented on #17673
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-02-14 14:05] khouloudbelguith commented on #17662
@didi-2018, what about your log file `/Project_folder/var/logs/`?

Thanks!

[2020-02-14 14:07] marionf commented on #10631
Specs for the listing to be reviewed by @Robin-Fischer-PS & @MatShir

https://github.com/PrestaShop/prestashop-specs/blob/marionf-patch-1/back-office/catalog/catalog-products-listing.md

[2020-02-14 14:08] khouloudbelguith commented on #17668
@didi-2018, it could a permission issue on `/var/cache/prod/`.

[2020-02-14 14:11] jf-viguier commented on #10600
By the way, if you really wants to change size of a svg for thumbailing, it's just an xml file. This can be done with few lines of php : https://stackoverflow.com/a/48831185

[2020-02-14 14:11] didi-2018 commented on #17662
@khouloudbelguith  only prod.log from 12.02.20 with a lot of clear cache errros and dev.log from 09.02.20 with a lot of translation not found.

[2020-02-14 14:18] khouloudbelguith commented on #17662
@didi-2018, this a fresh install PS1.7.6.3 or an upgrade from a previous version?

Thanks!

[2020-02-14 14:20] khouloudbelguith commented on #9596
@Betafer, this is a different issue.
Can you open a new one with more information about your configuration?

Thanks!

[2020-02-14 14:21] didi-2018 commented on #17662
@khouloudbelguith fresh install from 07.02.20

[2020-02-14 14:33] khouloudbelguith commented on #17662
@didi-2018, if it is a fresh install from 07.02.20 => so all products are considered as new products.
How can you have products created 30.08.2019 & your shop creation is 07.02.20?
Did you import your product from the import page?

Thanks!

[2020-02-14 14:35] Betafer opened #17675 "Impossible login to Backoffice prestashop 1.7.6.2 maybe cookies"
**Describe the bug**
Nothing appens when try to login in backoffice with firefox or chrome 80
i can only login with opera

**To Reproduce**
Steps to reproduce the behavior:
Tty to login
**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: 1.7.6.2
PHP version: 7.2.27
[Uploading Registrazione schermo 2020-02-14

[2020-02-14 14:35] didi-2018 commented on #17662
@khouloudbelguith yes all imported from database from 1.7.5.1 cause I could not upgrade without having a lot of errors.

[2020-02-14 14:35] Betafer commented on #9596
Done here: https://github.com/PrestaShop/PrestaShop/issues/17675

[2020-02-14 14:36] khouloudbelguith commented on #17669
@ShaimyWinda, It will help us if you can attach a screen record when using the dev tools.

Thanks!

[2020-02-14 14:39] khouloudbelguith commented on #17675
Hi @Betafer,

Does the Project folder name contain a symbol `+`?

Thanks!

[2020-02-14 14:43] didi-2018 commented on #17662
@khouloudbelguith database exported as OpenDocumentSpredsheet from 1.7.5.1 and imported as the same in database from 1.7.6.3

[2020-02-14 14:54] Betafer commented on #17675
No

[2020-02-14 15:02] khouloudbelguith commented on #17675
@Betafer,

Here are some things you can try :

1/ Clear your browser cache and your cookies

2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table

3/ Manually clear smarty cache: remove all files from /var/cache/

4/ Disable the IP check in classes/Cookie.php (this can cause many issues with dynamics IP)

5/ Into the path /PROJECT_FOLDER/classes/controller/AdminController.php,

[2020-02-14 15:06] vincent-dp commented on #17670
I will find where the problem comes from, I thought it was a well none issue.

[2020-02-14 15:06] #17670 closed, assigned to nobody

[2020-02-14 15:07] Betafer commented on #17675
Thanks, how to disable  IP check in classes/Cookie.php ?

[2020-02-14 15:11] khouloudbelguith commented on #17670
@vincent-dp, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-02-14 15:12] vincent-dp commented on #17670
Thanks :)

[2020-02-14 15:26] khouloudbelguith commented on #17675
@Betafer, You can comment this condition: `&& (!isset($this->_content['remote_addr']) || $this->_content['remote_addr'] == ip2long(Tools::getRemoteAddr()) || !Configuration::get('PS_COOKIE_CHECKIP'))`
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Cookie.php#L240

Thanks!

[2020-02-14 15:28] khouloudbelguith commented on #17662
@didi-2018, I think, there is a problem during the upgrade of your database manually.
The solution is to check if there are missing columns in your database schema.
You can find the full schema for 1.7.6.3 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.3/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2020-02-14 15:43] Progi1984 commented on #16847
Closed in #17608

[2020-02-14 15:43] #16847 closed, assigned to nobody

[2020-02-14 15:54] didi-2018 commented on #17662
@khouloudbelguith I did not upgrade the database. I installed a fresh 1.7.6.3 and imported products and all that belong the products (attributes, features ect.) as OpenDocumentSpredsheet from 1.7.5.1 database. I changed nothing in new database, only filled in product datas.

[2020-02-14 16:05] Betafer commented on #17675
Thanks

[2020-02-14 16:06] khouloudbelguith commented on #17675
@Betafer, issue solved?

Thanks!

[2020-02-14 16:12] Betafer commented on #17675
We are doing another job, as soon as it finished i will test.

[2020-02-14 16:12] didi-2018 commented on #17662
@khouloudbelguith  I can see that the date in ps_products_shop is NOT right. There is an issue with the year! I will import the table new and I come back to you.

[2020-02-14 16:14] khouloudbelguith commented on #17662
@didi-2018,

Thanks!
Waiting for your feedback.

[2020-02-14 16:14] khouloudbelguith commented on #17675
@Betafer,
Thanks!
Waiting for your feedback.

[2020-02-14 16:28] didi-2018 commented on #17662
@khouloudbelguith  Yes, it was my fault! With the import the year and the day had the false position. The day was the year and the year was the day. 🙈

[2020-02-14 16:37] khouloudbelguith commented on #17662
@didi-2018, thanks for the feedback.
I will close the issue, feel free to open another one if needed.

Thanks!

[2020-02-14 16:37] #17662 closed, assigned to nobody

[2020-02-14 16:49] colinegin commented on #17308
Alright so if I understood clearly, it should be fixed in 177 ?

[2020-02-14 16:51] matthieu-rolland commented on #17308
@colinegin yes

[2020-02-14 17:05] colinegin commented on #17661
Is this a regression ? Should it be fixed for 177 ?

[2020-02-14 17:26] mbazira opened #17680 "Llll"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2020-02-15 09:39] omar2886 commented on #17490
Fix: https://github.com/PrestaShop/PrestaShop/issues/14595#issuecomment-510884182

[2020-02-15 09:47] nicoladze commented on #17219
@khouloudbelguith

Could you please try with a spanish address, it does not matter what you fulfill (only the country matters).
When I create a spanish brand's address, the error occurs.
I think this is due to the fact that in "Address format in the BO => International => - - Locations => countries => Spain" a NIF (fiscal number) must be provided.

What do you think about that?

Regards

[2020-02-15 09:57] Allthejam opened #17681 "Missing Payment methods"
I have run into a problem this morning with the basket, all 3 payment methods have vanished from the basket area, all are still installed into the store and seem to be all ok, but on the checkout page they have vanished so I'm unable to take any payments on the site

I have cleared all the cache from within the store as well as from the c/panel folders and there's no difference, I have tried to re

[2020-02-15 10:57] Betafer commented on #17675
I don't have this rows in ps_configuration table
2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table

[2020-02-15 11:19] Betafer commented on #17675
ops sorry: the search of phpmyadmin
i got:
www.betafer.it | 0000-00-00 00:00:00 | 2020-01-16 21:43:04
-- | -- | --
  | Modifica | Copia | Elimina | 232 | NULL | NULL | PS_SHOP_DOMAIN_SSL | www.betafer.it

[2020-02-15 11:56] didi-2018 commented on #17681
@Allthejam  Prestashop 1.7.5.2 is NOT working with PHP 7.3 and PHP 7.4. Your changes belong to changes in PHP version! Please change it down to max. PHP 7.2. and check.

[2020-02-15 11:59] Allthejam commented on #17681
I have done that this morning and it's still not working, however it was all working perfectly for a couple of months until this morning. I'm lost I can get any payment method to show on the checkout.

[2020-02-15 12:06] didi-2018 commented on #17681
@Allthejam you changed back to PHP 7.2 ?

Have you checked the hooks of modules? Design -> Positions
possible hooks are: displaypayment and displaypaymentEU

[2020-02-15 12:06] Betafer opened #17682 "Access Denied Prestashop 1.7.6.2 in some section of backoffice"
**Describe the bug**
Got error access denied in shop preference, advanced etc

**To Reproduce**
Go in admin tabs
**Screenshots**
Here there is workaround but seems not a good one:
https://www.prestashop.com/forums/topic/876786-solved-prestashop-17-access-denied-as-admin-in-bo/

**Additional information**
PrestaShop version: 1.7.6.2
PHP version: 7.2

[2020-02-15 12:22] Allthejam commented on #17681
I've had a look and all are still hooked apart from Payment cloud, I have removed it because I do not use it.

![2020-02-15_131824](https://user-images.githubusercontent.com/52738920/74587655-e6717b00-4ff5-11ea-872d-e76b853de9c3.jpg)

[2020-02-15 12:27] Allthejam commented on #17681
I have also just noticed that when I try and add an item to cart it opens the new window but does not add any items into the cart, to add an item I have to open the specific item and ad from the items own page, this is a new problem...

See below:

![2020-02-15_132517](https://user-images.githubusercontent.com/52738920/74587761-de660b00-4ff6-11ea-881e-4ce3ae3214d3.jpg)

[2020-02-15 12:29] didi-2018 commented on #17681
@Allthejam  please try to remove that module hooked in displayPaymentEU. In my case it helped me! This hook is not needed 😉

[2020-02-15 13:07] krasnycz commented on #11784
Well I faced this issue on multiple installations. Cleaning cache and restarting the server did not help. The only working solution for me was to uninstall and delete 1-click installer files. Install the module again and only then do the autoupgrade.

[2020-02-15 13:07] #11784 closed, assigned to nobody

[2020-02-15 13:33] Allthejam commented on #17681
Done.....

No change still have now payment options showing on the checkout page, any other ideas, I'm pulling my hair out here.
Thank you.

[2020-02-15 14:12] didi-2018 commented on #17681
@Allthejam what does your error log and Server log files say? Have you checked them?

[2020-02-15 14:24] didi-2018 commented on #17681
@Allthejam debug mode any errors shown? Have you cleared cache in Folder /var/cache/prod ?

[2020-02-15 14:26] Allthejam commented on #17681
I'm constantly getting this:
**Swift Error: Expected response code 250 but got code \"\", with message \"\"**
This I think was from the auto email service that is now working after I updated the info

I have been getting this ever since the payment modules stopped working at 1424hrs yesterday
**Exception on hook paymentOptions for module . Unable to create order code (Person c1593420-60e4-46f0-823

[2020-02-15 14:41] Allthejam commented on #17681
I have tried multiple currencies to make payment and it makes no difference, I have even deleted a lot of optional currencies that we had that all worked for us in the past just to keep Dollars, Pounds and Euros but this also has made no difference.

[2020-02-15 14:54] kcalliauw commented on #17682
I noticed that this might be some kind of rewrite issue.
On my local environment the admin generates URL's like this:

`http://localhost/admin3k4l2mtr/index.php/configure/advanced/emails/?_token=...`
removing the /index.php part, with a resulting URL like this:
`http://localhost/admin3k4l2mtr/configure/advanced/emails/?_token=...`
... send me to the correct page.

rewrite and friendly URL's seem t

[2020-02-15 14:58] Betafer commented on #17682
Found the issue was a configuration of php, but now i don0t know which, I have to ask to the developer

[2020-02-15 15:04] Allthejam commented on #17681
I put it into Debug Mode see screenshot, the thing is I have no idea what it all means or even where to start with it.
![debug mode](https://user-images.githubusercontent.com/52738920/74590211-bf727380-500c-11ea-9e46-861c0ed79e0d.jpg)

[2020-02-15 21:33] khalidzuhd opened #17683 "make prestashop 1.7 can choose no default compilation"
hello
i have problem with presta i cannot make product have many combination with no default option and without choosing option make all image for all attribute showing

and there is something ...
i there is bug that i can add 10 product in cart and there is 2 product in stock and disable out stock option

[2020-02-15 21:43] khalidzuhd opened #17684 "Indian numbers mixed with Arabic numbers in back office"
hello to you all
 i use presa 1.7.6.3
i have trebles  with prestahop  i changed my default backoffice language to arabic
i have many problems with numbers   changed   to indian number in many numbers feald
![image](https://user-images.githubusercontent.com/1392266/74595624-9376e280-504c-11ea-8e09-3ae103a34afd.png)

![image](https://user-images.githubusercontent.com/1392266/74595634-a8ec0c80-504c-1

[2020-02-15 23:17] Flower7C3 commented on #17603
Hi @khouloudbelguith, after upgrading to PS 1.7.6.3 problem still exists on my instance.

Could You do recheck, but with more cart rules? I think that problem is when there are more than 40 cart rules in database. So not all items are in right select during page load. And they are being loaded when You scroll down on the list (http://s000.tinyupload.com/index.php?file_id=32136249853765246079).

[2020-02-16 00:10] adi5497 opened #17685 "Prestashop webservice not working in DIrectAdmin default settings"
Hello, I'm trying to fix problem with webservice on VPS. I dont know where is the problem but:

VPS -> VestaCP -> Apache+Nginx+FastCGI = Webservice working
VPS -> DirectAdmin -> Apache+Nginx+FastCGI = Webservice not working

On DirectAdmin server I'm getting
`IP - - [15/Feb/2020:19:41:12 +0000] "GET /api/ HTTP/1.0" 401 2452 "-" "-"`
All day I'm tring to fix it but without result. Maybe DirectAdmin

[2020-02-16 15:34] didi-2018 commented on #17681
@Allthejam all I can do for you is try to use a Backup from your Hosting provider from that point of time when your Shop worked. Or you have to wait till monday till one of the presta poeple can answer you. But I do not think that they could really help you. I would use a Backup from one of the days before when All was working. Backup from files and Database.

[2020-02-16 19:39] arouiadib commented on #17665
Thank you very much @khouloudbelguith for your time.

Let me please add another example, and I hope my confusions will be cleared this time.

A shop with 5 products: Product1, ...Product5 with an available quantity of 100 item each.
The merchant wants to give a percentage discount restricted to `Product5`.
And a cart that contains:
Product1 with quantity= 1
Product5  with quantity = 20

You can se

[2020-02-16 20:37] Betafer commented on #17675
<img width="1465" alt="Schermata 2020-02-16 alle 21 35 04" src="https://user-images.githubusercontent.com/5024055/74612288-51a97300-5104-11ea-971b-e67715a294e9.png">

Hello, i have no cookie ip check in backoffice

[2020-02-16 21:29] bcsirt commented on #15450
Hi khouloudbelguith !
I don't understand why you feel compelled to answer when you don't have the right answer ?

[2020-02-17 00:21] didi-2018 commented on #17668
@khouloudbelguith do you have an idea how I can solve this?

[2020-02-17 01:02] superskyman100 opened #17688 "Multilanguage : Bug SEO Preview URLs"
**Describe the bug**
Hello, when i go 'category' and change the name of the category for each different language, the link is always www.mywebsite.com/en/category (english, default language of Prestashop)

I don't know if the bug is deeper than just the preview, but i occurs that there is same kind of behavior with the {link} variable of emails templates.... (reply_msg)

**To Reproduce**
Steps to

[2020-02-17 01:11] superskyman100 opened #17689 "Email reply_msg : bug with {link} variable"
**Describe the bug**
The {link} variable ALWAYS redirects to english website, whatever is the language of the email

**To Reproduce**
Steps to reproduce the behavior:
0. default language is English
1. Contact form : the customer chooses Spanish to browse the shop, and sends email in Spanish (or any language different from default language)
2. Customer service answers : reply_msg is sent in Spanish

[2020-02-17 07:43] khouloudbelguith commented on #17200
Hi @azitafomo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-17 07:43] #17200 closed, assigned to nobody

[2020-02-17 07:44] khouloudbelguith commented on #17114
Hi @BenTen,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-17 07:44] #17114 closed, assigned to nobody

[2020-02-17 07:44] khouloudbelguith commented on #17105
Hi @al699,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-17 07:44] #17105 closed, assigned to nobody

[2020-02-17 07:45] khouloudbelguith commented on #17207
Hi @cd2500,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-17 07:45] #17207 closed, assigned to nobody

[2020-02-17 07:45] #17680 closed, assigned to nobody

[2020-02-17 07:46] khouloudbelguith commented on #17208
Hi @NerDifades,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-17 07:46] #17208 closed, assigned to nobody

[2020-02-17 07:47] khouloudbelguith commented on #17059
Hi @rss9090,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-17 07:47] #17059 closed, assigned to nobody

[2020-02-17 08:06] khouloudbelguith commented on #17681
Hi @Allthejam,

Thanks for your report.
As @didi-2018 said, PrestaShop is not compatible with PHP 7.3 and PHP 7.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.

[2020-02-17 08:09] khouloudbelguith commented on #17682
Hi @Betafer,

To fix this issue you need to replace the 'ps_access' table in DB with the one from clean PS1.7 installation.
You can, for example, install PrestaShop separately, copy & paste the table ps_access to your shop.
Or you can follow this solution in this comment to solve your issue #9513 (comment)
Before any modification, you can make a backup of your old database.
Thanks to check & feedb

[2020-02-17 08:19] khouloudbelguith commented on #17683
Hi @khalidzuhd,

Thanks for your report.

You need to create a standard product with combinations and there is no "Default combination" selected?
![image](https://user-images.githubusercontent.com/16067358/74635355-1e97cb80-5166-11ea-9522-7ab86a20eaa6.png)

You need to display all thumbnails for all combinations, only the main image is changed when selecting a combination?

The "Allow ordering of

[2020-02-17 08:26] kcalliauw commented on #17682
@khouloudbelguith I'm having this issue on a clean install of 1.7.6.3. Does that mean that my issue is different somehow?

[2020-02-17 08:46] khouloudbelguith commented on #17685
Hi @adi5497,

It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-02-17 08:46] #17685 closed, assigned to nobody

[2020-02-17 09:11] alexberanger commented on #17622
Hi @khouloudbelguith,

I think you need more code, so I attached a new ZIP file containing what you need.
You'll find more PHP and some comments to guide you.
Put the HTML form where you want, just make sure its action points to your PHP test script.

If you need more info, I remain at your disposal.

[uploader-bug.zip](https://github.com/PrestaShop/PrestaShop/files/4212740/uploader-bug.zip)

[2020-02-17 09:24] khouloudbelguith commented on #17682
@Betafer, the PrestaShop download is from [our official link](https://www.prestashop.com/en/previous-versions)?
What is the exact `Language/Country` did you use during the install?

Thanks!

[2020-02-17 09:27] khouloudbelguith commented on #17684
Hi @khalidzuhd,

About the Calendar
Please follow this ticket: https://github.com/PrestaShop/PrestaShop/issues/11571.

About the mix of Arabic number and non-Arabic number, I have the same behavior with PS1.7.5.2, PS1.7.6.3 & the 1.7.7.x branch
![image](https://user-images.githubusercontent.com/16067358/74640508-f3b27500-516f-11ea-89b2-2e8a59c89657.png)

Ping @LouiseBonnard what do you think?
We n

[2020-02-17 09:28] Amulliez opened #17691 "Customer page issue"
Hi @khouloudbelguith ,

I have an issue with the customer page on the Back office. In fact, I can't see my customers in this page. However, I see their addresses in Addresses page.
In Front Office, I success to connect without issue.

I checked logs and I don't see the problem. I have disabled no prestashop modules and I also deleted the cache without success ...

Can you help me?

Thank you.

Pre

[2020-02-17 09:31] Betafer commented on #17682
Yes, Italy - Italian

[2020-02-17 09:41] khouloudbelguith commented on #17691
Hi @Amulliez,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source): is it fresh install or an upgrade from a previous version?
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please rea

[2020-02-17 09:54] Amulliez commented on #17691
Hi @khouloudbelguith,

I'm sorry for the inconvenience, I just found the origin of the problem.

Thank you.

Have a nice day.

[2020-02-17 09:54] #17691 closed, assigned to nobody

[2020-02-17 09:57] khouloudbelguith commented on #17691
@Amulliez, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-02-17 10:11] Hlavtox commented on #17596
@khouloudbelguith Do you think it will be fixed during the page migration? I don't think so... The code was just copied to /src/Adapter/Order/CommandHandler/AddCartRuleToOrderHandler.php and the bug still remains. I think it will be the same on the migrated order page in 1.7.7.

[2020-02-17 10:19] LouiseBonnard commented on #17684
Hi @khalidzuhd, @khouloudbelguith, are there Indian numbers here? Anyway, Arabic and non-Arabic numbers should definitely not mix. @PrestaShop/prestashop-core-developers, how can we handle this issue? @MatShir, do you think it can be related to (and thus fixed by) the CLDR?

[2020-02-17 10:24] khouloudbelguith commented on #17688
Hi @superskyman100,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.3 & the branch 1.7.7.x
![image](https://user-images.githubusercontent.com/16067358/74645325-f749fa00-5177-11ea-83e4-aab193bf40a9.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Tha

[2020-02-17 10:25] khouloudbelguith commented on #17688
Hi @marionf,

We need to add this ticket to the [Epic](https://github.com/PrestaShop/PrestaShop/issues/14776)

Thanks!

[2020-02-17 11:03] khouloudbelguith commented on #17668
@didi-2018, you need to check your host about the permissions.

Thanks!

[2020-02-17 11:05] khouloudbelguith commented on #17675
@Betafer, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

Thanks!

[2020-02-17 11:08] Betafer commented on #17675
now seems to work correct, apparently the problem has solved itself (I haven't removed the cache)

Thanks

[2020-02-17 11:16] khouloudbelguith commented on #17675
@Betafer, thanks for your feedback.
Since it is fixed, I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-17 11:16] #17675 closed, assigned to nobody

[2020-02-17 11:20] khouloudbelguith commented on #17603
@Flower7C3,

No, I tried with PS1.7.6.3 & I have 41 cart rules & it is OK.
I attached a screen record
[cart_rule.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4213389/cart_rule.webm.zip)
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.

[2020-02-17 11:53] Flower7C3 commented on #17603
But when You scroll down to **test** cart rule it probably cause AJAX request for more rules. Please do not scroll down.

[2020-02-17 12:11] khouloudbelguith commented on #17682
@Betafer, It is Ok in my case, https://drive.google.com/file/d/1unV6DTSqbwkpWXSHJfuNyDY8kJQe7adC/view
I used PHP5.6.40.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-02-17 12:13] khouloudbelguith commented on #17622
@alexberanger, I have this error
[code]
I attached a screen record
https://drive.google.com/file/d/1FneEhIvV8lfxHW5ZlLefLkZ-4qRIlxLZ/view

Thanks to check & feedback.

[2020-02-17 12:15] Betafer commented on #17682
Hello, you can close for now, it seems to work now, i will reopen if it will give the problem again

thanks !

[2020-02-17 12:19] storygram commented on #10284
Hi,
when I want to make a new account, or create an account during orders, I get the error ''500 Server Error Oops, something went wrong.
Try to refresh this page or feel free to contact us if the problem persists.''

[2020-02-17 12:19] storygram commented on #10284
Please help me

[2020-02-17 12:21] storygram opened #17692 "500 Server Error Oops, something went wrong."
Hi,
when I want to make a new account, or create an account during orders, I get the error ''500 Server Error Oops, something went wrong.
Try to refresh this page or feel free to contact us if the problem persists.''

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

[2020-02-17 12:33] jocel1 commented on #10998
@PierreRambaud why not calling opcache_reset() to avoid forcing the revalidate_freq = 0 / validate_timestamp ?

[2020-02-17 12:58] khouloudbelguith commented on #10284
@storygram, issue created here: https://github.com/PrestaShop/PrestaShop/issues/17692

[2020-02-17 13:06] storygram commented on #17692
another problem, I would like to change the theme and receive

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

[2020-02-17 13:06] marionf commented on #17688
@khouloudbelguith
This is for all SEO preview, not only the product page one ?

[2020-02-17 13:12] #17341 closed, assigned to nobody

[2020-02-17 13:12] matks commented on #17507
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17664

[2020-02-17 13:14] matks commented on #17618
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17641

[2020-02-17 13:14] #17618 closed, assigned to Progi1984

[2020-02-17 13:19] khouloudbelguith commented on #17688
Hi @marionf,

In the category page & CMS page
![image](https://user-images.githubusercontent.com/16067358/74657298-38e69f00-5190-11ea-927c-5e02fb7332a7.png)
![image](https://user-images.githubusercontent.com/16067358/74657451-8fec7400-5190-11ea-8aca-cd00f6693427.png)

Only, the language code is incorrect.

Thanks!

[2020-02-17 13:28] colinegin commented on #17653
I agree with you @khouloudbelguith, we should specify "description and summary".
@LouiseBonnard do you think we could change the string ? Wdyt ?

[2020-02-17 13:30] khalidzuhd commented on #17684
You must make options  what kind of number do indian or arabic....
And applay to all the site

[2020-02-17 13:30] khouloudbelguith commented on #17603
@Flower7C3, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2
If you have more than 40 cart rules, All the `cart rules > 40` will be displayed in the `Uncombinable cart rules`.
https://drive.google.com/file/d/1vpvNtWJzmTPIgVEZmaHWGX8zxXCEQt2X/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you c

[2020-02-17 13:31] khalidzuhd commented on #17684
In date problem ... Indian number not allowed ...
I wont it arabic number for all the site

[2020-02-17 13:34] colinegin commented on #17542
Thanks @PeeyushAgrawalWebkul ! I close this issue, now that you fixed it :)

[2020-02-17 13:34] #17542 closed, assigned to nobody

[2020-02-17 13:52] khouloudbelguith commented on #17661
Hi @colinegin,

No, it is not a regression.
Same issue with PS1.7.5.2 & PS1.7.6.3
![image](https://user-images.githubusercontent.com/16067358/74659486-bad8c700-5194-11ea-8c5d-6474fe0ee7bd.png)
![image](https://user-images.githubusercontent.com/16067358/74659522-cc21d380-5194-11ea-8a1d-01a26a0fa023.png)

In fact, this [issue](https://github.com/PrestaShop/PrestaShop/issues/15934) is not totally fix

[2020-02-17 13:59] colinegin commented on #17054
ping @TristanLDD @prestascott what do you guys think ?

[2020-02-17 14:03] alevals commented on #10003
any update on this?
It's a major problem for our store (we have +20k cart rules )

[2020-02-17 14:09] LouiseBonnard commented on #17653
Indeed, the title of this section does not fully match the behavior. My opinion is: the behavior should match the wording. So all products that have no description, whether or not the summary field is empty, should be listed here.

But that being said, it is probably easier to adapt the wording to the current behavior. In this case, the title of this section should be _List of products without des

[2020-02-17 14:11] colinegin commented on #17666
I'm not sure I understood the same as you @khouloudbelguith.
If I understand correctly @arouiadib 's screenshot, the problem in my opinion is that the discount is supposed to be equal to $478.40 but it actually displays -$507.40 in the bottom.
Am I correct @arouiadib ?

[2020-02-17 14:21] khouloudbelguith commented on #17692
Hi @storygram,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots

You don't know how to get this information? Please read the following article:
http://build.prestashop.com

[2020-02-17 14:24] colinegin commented on #17665
Hello @arouiadib ,

Forget what i just said in the other thread, I misunderstood what you were explaining.
This issue needs a deeper study, but I quite agree with you. IMO the discount should be limited to one unit when you select specific product or cheapest product. It does not really make sense to allow 100% reduction on more than 1 product.
But several scenarios should be studied in depth :
-

[2020-02-17 14:30] didi-2018 opened #17694 "(under conditions) from ps_legalcompliants should always be shown in cart if shipping is free from a custom amount"
Hi,

If shipping is always free the ps_legalcompliance add an advice in the cart  "FREE (under conditons)"

![image](https://user-images.githubusercontent.com/44971218/74661535-72230d00-5198-11ea-887e-b7d34be9d9a6.png)

![image](https://user-images.githubusercontent.com/44971218/74661687-b9110280-5198-11ea-80f7-1926a4014fdd.png)

But if you configure shipping is free from a custom amount for examp

[2020-02-17 14:35] ttoine commented on #17673
This is very interesting: SVG is a vector graphic format, so it is very, very light and scale perfectly on all screens, including high DPI. As it is supported by all browsers, most CMS already accept it nowadays.
If there is no need to generate a thumbnail for the shop logo, then it's worth it to try to add the .svg to the list and check if everything works fine.

Also, if there is an aim to allow

[2020-02-17 14:39] LouiseBonnard commented on #17673
As many people said in the #10600 issue, it'd be great to make PrestaShop support the SVG format but it seems quite incompatible for now. cf. https://github.com/PrestaShop/PrestaShop/issues/10600#issuecomment-530801395

I think it makes no sense to allow the support for this format only for the shop logo, we should be able to handle it everywhere in the software. Otherwise, it might be frustrating

[2020-02-17 14:43] #17619 closed, assigned to atomiix

[2020-02-17 14:51] eternoendless commented on #17300
I think it's hard for PrestaShop to support multiple major versions of Symfony and Twig at the same time, all while keeping breaking changes at the minimum.

[2020-02-17 14:51] marionf opened #17695 "When you try to change the shipping address of an order it changes the invoice address instead"
**Describe the bug**
When you try to change the shipping address of an order it changes the invoice address instead

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Orders > Orders > View an order
2. Click on change for the shipping address
3. Select another address than the current one
4. See the invoice address is changed instead of shipping address

**Screenshots**
https://drive.goog

[2020-02-17 15:04] khouloudbelguith commented on #17689
Hi @superskyman100,

I manage to reproduce the issue with PS1.7.6.3 and PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/74664964-098b5e80-519f-11ea-8537-43016ace29eb.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-02-17 15:04] jf-viguier commented on #17673
@LouiseBonnard I disagree. Products images are generated in differents sizes, shop logo don't. It's muche easier.
@ttoine just a precision, svg files have a default size used when the html container has no default size. So the fix is not so easy.

[2020-02-17 15:14] khouloudbelguith commented on #17682
@Betafer, thanks for your feedback.
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-17 15:14] #17682 closed, assigned to nobody

[2020-02-17 15:14] Klemart3D opened #17696 "Sub-category moved to root category when URL rewrite is updated by CSV"
**Improvement**
If it's not an oversight, I think it will be a great addition to add a check if a category already has a parent ID and if not: add the default value BUT IF YES: do nothing :smiley_cat: . What do you think about this?

**Describe the bug**
When I (just) want to update a sub-categores rewrite URL by CSV all updated categories are moved on root category.

**To Reproduce**
Steps to rep

[2020-02-17 15:25] ttoine commented on #17673
I agree with Jeff: shop logo is a separate use case. A logo is usually designed in a vector graphic application, while product images are raster pictures.

I already use svg file for the website logo on at least one of my websites. It is possible to create a svg file with the good size or ratio, in the document settings, before saving. So it is possible to respect the recommandation of a theme eve

[2020-02-17 15:40] khouloudbelguith commented on #17696
Hi @Klemart3D,

This is normal behavior.
By default, the parent category is `Home`(id=2)
If you don't specify the "Parent category" in your csv file, the parent category of your category will be updated.

Thanks to check & feedback.

[2020-02-17 15:46] Gaja-A opened #17698 "Impact price doesn't save when the mode multi-shop is on"
Hi,

I'm using PS version 1.7.6.0.
In the BO product page, when I save the impact price for combinations on all shops, the price is not saved. It only works when we select a specific shop but not in all shops mode.

![image](https://i.ibb.co/MZsWnfm/Capture.png)

Does anyone have a solution?

Thanks,

[2020-02-17 15:52] khouloudbelguith commented on #17698
Hi @Gaja-A,

I did not manage to reproduce the issue with PS1.7.6.0.
https://drive.google.com/file/d/15WN4g-bgOFYCP1yXwi00_IMS7IQhqB46/view
Your ticket is a duplicate of #17669
Please follow #17669.
So, I close it.
Thanks!

[2020-02-17 15:52] #17698 closed, assigned to nobody

[2020-02-17 15:52] khouloudbelguith commented on #17698
Duplicate of #17669

[2020-02-17 16:24] khouloudbelguith commented on #17219
Hi @nicoladze,

I attached a screen record
https://drive.google.com/file/d/13CXLtGxW0iMXSQ0o7rZleCXgtATPa98H/view

Thanks!

[2020-02-17 16:33] 8ternity commented on #16004
@marionf @khouloudbelguith I was renamed into MySQL ps_lang has follow, and Product Page error has been fixed.

![Language Patch in DB](https://user-images.githubusercontent.com/16780421/74671375-067d7780-5179-11ea-9e46-2bf410a84a97.png)

But, now, when i edit translations in "Conception > Internationalisation" and save a French label, i get a locale error.

![Error on French Canada label Saving](

[2020-02-17 16:34] #9511 closed, assigned to nobody

[2020-02-17 16:40] jf-viguier commented on #17673
Thanks @ttoine for the support.

[2020-02-17 16:42] marionf commented on #16665
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17633

[2020-02-17 16:42] #16665 closed, assigned to nobody

[2020-02-17 16:47] nicoladze commented on #17219
@khouloudbelguith

My version is not 1.7.6.3 but 1.7.6.1 and in my case the DNI field does not appear in brand address.
Screenshot attached :

![screenshot](https://user-images.githubusercontent.com/47031957/74672394-7ad20e00-51ad-11ea-894e-914d49783f2e.jpg)

Regards

[2020-02-17 16:48] khouloudbelguith commented on #17596
@Hlavtox, as explained here #12223
The number of the decimal parameter in Shop parameters > General.
So, in the PS1.7.7.0, we cannot set the number of decimals
![image](https://user-images.githubusercontent.com/16067358/74672084-cd5efa80-51ac-11ea-9fe7-a93cd8749185.png)
In the BO => International => Localization => currencies => Decimals =0
![image](https://user-images.githubusercontent.com/160673

[2020-02-17 16:48] #17596 closed, assigned to nobody

[2020-02-17 16:48] khouloudbelguith commented on #17596
Duplicate of #12223

[2020-02-17 16:51] khouloudbelguith commented on #17219
@nicoladze,
What is the exact address format of this country? (you can check it in the BO => International => - - Locations => countries => country detail page)
In the BO => Customers => Addresses page => have you any required fields ?

Thanks!

[2020-02-17 16:55] Klemart3D commented on #17696
Hi @khouloudbelguith,

Thank you very much for your answer.

Firstly:

How I guess that? I checked [official documentation](http://doc.prestashop.com/display/PS17/Import) +  BO Help tab and downloaded the sample CSV file, I never see this information. Where can I found what are default values for all fields to don't be surprised when I'm doing an import?

Secondly, I'm agree with you to keep a def

[2020-02-17 16:59] nicoladze commented on #17219
@khouloudbelguith

The exact format of Spain in my BO is :

firstname lastname
company
vat_number
address1
address2
postcode city, State:iso_code, State:name
Country:name
phone
dni

Regards

[2020-02-17 17:52] HartLarsson opened #17704 "Strange price round in BO Product List vs Product Edit"
Hi,

i still  loading some products in BO and specify a Price (tax included) of 5.0€
Automatically PS calculate the value without tax (see pic)

![image](https://user-images.githubusercontent.com/16102074/74676305-05b70680-51b6-11ea-968f-bb2aed4ce99b.png)

I save the product and in the product list i see correctly the 5.0€ price (see pic)

![image](https://user-images.githubusercontent.com/1610207

[2020-02-17 20:08] davidglezz commented on #17038
I do the PR 😁

[2020-02-17 20:13] didi-2018 commented on #17038
@davidglezz can you please add 1.7.6.3?

[2020-02-17 20:22] arouiadib commented on #17665
Hello @colinegin and thank you for your interesting points.
I agree with you that the migration of cart rule pages in back office is a good opportunity to study in detail current business rules and if necessary, add or modify some of them.

I have edited [a draft of specs](https://github.com/PrestaShop/prestashop-specs/blob/580d790a7b54273b2c89118f1fe802d9839dbf1e/core/front-office/cart%20rules%20

[2020-02-17 20:24] arouiadib commented on #17666
Closed as (Duplicate) of #17665

[2020-02-17 20:24] #17666 closed, assigned to nobody

[2020-02-17 20:34] khalidzuhd commented on #17684
What pm mean?

[2020-02-17 20:47] didi-2018 commented on #17704
@HartLarsson  But in FO you will get 5.00 € right? What happens if you add an amount tax excluded 4.098360 ?

[2020-02-17 20:50] maniot commented on #12687
Hello,
I tried to resolve the problem by following your solution, i am also on PS 1.7.6.1 but amazingly i cannot find the file /public_html/themes/classic/templates/catalog/_partials | productlist.tpl . I verified several times but it is not there. Anyone can help out what i'm missing?
Best regards,
Maniot

[2020-02-17 20:52] khalidzuhd commented on #14533
I have an idea ...
You should stop working on classic v1 and move to classic v2 or another name  and build it from scratch with most newest tec....
And More thing ... Best mobile responsive..
Easy to edite...
Easy css improvement...
Make it 💯% compatible with rtl ... And so on

[2020-02-17 20:55] maofree commented on #12687
hi
the ItemList is a wrong solution, because it is possible to use just one time in a page, if there are some carousels will be presente some errors.

@maniot at this moment productlist.tpl is not present in the classic theme, you need to create it

bye

[2020-02-17 21:55] matks commented on #14533
This would benefit all people that would use v2 as a starting point, but it would leave behind all the people using v1 behind. We cant do that. People trust us to update this v1 theme and we will not let them down 😉 . It's the trust between us, the maintainers, and the community ❤️

https://github.com/PrestaShop/classic-rocket is somehow a v2 😉although developed by the community, not us

[2020-02-17 22:12] wewew85 commented on #17490
Hello @omar2886 ,
I have the same problem. Could you pls help me how to fix this bug efficient for 550 orders?
thx a lot!

[2020-02-17 22:20] surffari commented on #12026
Awesome, was able to fix this problem with these isntructions too!!!!

[2020-02-17 22:26] omar2886 commented on #17490
@wewew85 as I mentioned on my last post, I found the solution here: https://github.com/PrestaShop/PrestaShop/issues/14595#issuecomment-510884182
You just have to go to your back office -> International -> Localization -> Currencies and then add a new currency (you can add it and have it disabled, it doesn't  matter). But this fix is very specific for cases like mine, so not sure if that is going t

[2020-02-17 22:29] sbiru79 commented on #9759
Same problem on 1.7.6.1: installed a theme when onboarding was paused, main menu was working fine. I decided to quit onboarding and now main menu is broken... is there a way to fix the menu? It's not a minor bug, it's huge!

[2020-02-17 22:39] wewew85 commented on #17490
@omar2886 thanks for your answer, but what I mean is the reserved quantity. How to reset this reserved quantity? I tried to do it directly in database but without any success.

[2020-02-17 22:42] sbiru79 opened #17705 "Onboarding breaks main menu"
Prestashop 1.7.6.1

Installed a theme while Onboarding was at 0%

Configured the theme, main menu (2.1.1) drop-down was working

Decided to quit Onboarding

Main menu is broken, no more drop-down

The issue affects only categories, if I add a menu reference based, i.e., on brands the drop-down works for that menu reference.

Please provide a workaround as this is a very annoying issue.

Maybe simi

[2020-02-17 23:33] #17705 closed, assigned to nobody

[2020-02-17 23:39] omar2886 commented on #17490
@wewew85 no body seem to answer that question, I've done a lot of research and still and nothing. If I get to fix if I'll let you know, please do the same if you find it first

[2020-02-18 00:30] superskyman100 commented on #17689
Ok thanks !

[2020-02-18 02:33] caos30 opened #17707 "Exception - Transplant the contactform module to the displayAdminEndContent hook"
**Steps to reproduce the issue**

1. Go to the BO => Design => Positions page
2. Click on the button "Transplant a module" => redirection to "TRANSPLANT A MODULE" page
3. Select the `contactform` module
4. Select a "Transplant to" => `displayAdminEndContent` hook
5. Save
6. See error

![image](https://user-images.githubusercontent.com/16067358/74814601-efb15f00-52f7-11ea-95b8-7fd057cb050a.png)

**

[2020-02-18 02:40] caos30 commented on #17707
I get that errors Trace modifying the file:

`/home/prestan/sinsanoroeste.com/src/Core/Data/Layer/AbstractDataLayer.php`

Adding those 2 lines after "catch (Exception $e) {" in:

[code]
If instead those 2 files i put only a `return;` then i obtain this error on admin panel:
[code]
meanwhile then the frontend seems to work "fine".

[2020-02-18 02:57] caos30 commented on #17707
I've now setted to true this DEV option on `/config/defines.insc.php`

[code]
and on admin panel it shows the 500 error but with more information:
[code]
I think that maybe is not casual that the first EMPTY SCREEN appeared when i tried to add a hook affecting the contactform module !!

The strange thing is that the error arise on the login page ¿?¿?
Anyway, i paste below the complete chain of err

[2020-02-18 05:32] caos30 commented on #17707
"SOLVED" ("avoided" would be more exactly).

I have deleted at database, table "ps_hook_module" the record:
[code]
I suppose this record was the effect of my last activity on the admin panel before the crash: i created a "hook" trying to show the "contact form" on frontend in the main content zone just above the footer. But obviously i was wrong... because this have not had the desired effect.

I

[2020-02-18 06:57] arouiadib commented on #17707
contactform is widget-compliant, so you just need to add `{widget module='contactform'}` in the place you want to render your form in your theme.

[2020-02-18 07:10] wewew85 commented on #17490
@omar2886 ok, I will let you know. thanks.

[2020-02-18 07:23] caos30 commented on #17707
Thannks @arouiadib , just an hour ago read in a publication that i can insert this code `{widget module='contactform'}` to render the contact form. But i understood that it only works if you insert it on a `.tpl` file, is it true?

I 've pasted this code in a "simple page" WYSIWIG editor, with something like this:

`<div>{widget module='contactform'}</div>`

But it doesn't work. So, must i access

[2020-02-18 08:25] Hlavtox commented on #17596
@khouloudbelguith Can you go to database and tell me total_discounts, after modifying the order?

Is it 161.25 or 161.00?
Is total_paid rounded to whole number as it should be or not?

Why do you mark it as duplicate when the related issue does not have anything common with this?????? I am talking about totals not rounding and you say it's a duplicate of issue where you discuss removing of decimal

[2020-02-18 09:20] LouiseBonnard commented on #17684
@khalidzuhd, it stands for Product Manager. In other words, when your issue is labeled 'PM approved', it means that the Product team has approved it. :-)

[2020-02-18 09:44] Jenci666 commented on #12687
Hi Maniot / Maofree

I agree with maofree that removing itemlist is not a proper solution. I have also got an error later on "A value for the itemListElement field is required."  It is definitely something still has to be resolved.

@maniot: In order to have the productlist.tpl , go to your hosting provider, create a file in the desired folder and paste the following code into it.

themes/classic/

[2020-02-18 09:44] SD1982 commented on #17704
Ping @HartLarsson  We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of [ #9910](https://github.com/PrestaShop/PrestaShop/issues/9910)
So, I close it.

[2020-02-18 09:44] #17704 closed, assigned to nobody

[2020-02-18 09:45] SD1982 commented on #17704
Duplicate of #9910

[2020-02-18 09:55] colinegin commented on #10846
Hello @PrestaShop/prestashop-core-developers what do you think of this issue ?

[2020-02-18 10:01] khouloudbelguith commented on #17707
Hi @caos30,

Can you confirm these steps?
1. Go to the BO => Design => Positions page
2. Click on the button "Transplant a module" => redirection to "TRANSPLANT A MODULE" page
3.  Select the `contactform` module
4. Select a "Transplant to" => which hook selected in this case?
![image](https://user-images.githubusercontent.com/16067358/74725144-caf8b100-523d-11ea-964d-ea4ddfa5aafa.png)

About the w

[2020-02-18 10:09] colinegin commented on #17078
When checking in the user doc, it is said :

Describing your product well is essential, both for the customer (the more information, the better) and search engines (it will help your shop appear in more search requests).
At the bottom of the screen, the two description fields each serve different purposes:
The “Summary” field enables you to write a short description that will appear in search engi

[2020-02-18 10:12] khouloudbelguith commented on #17696
@Klemart3D, thanks for your feedback.

I think it could be a good improvement.

Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-02-18 10:25] sam-pires commented on #17525
Hello @NeOMakinG
Do you have some news on this one?

[2020-02-18 10:29] PierreRambaud commented on #17525
@sam-pires Should we really fix this kind of issue when it targets only 0.02%  of the web :scream:

[2020-02-18 10:32] sam-pires commented on #17525
No, but first I want to be sure the bug comes from an unsupported behavior in former Safari versions :)

[2020-02-18 10:35] matks commented on #17525
If I wanted to play the devil's advocate :trollface: , I would say
- we dont care about the web, we care about prestashop users
- since 50% of web traffic is porn, it means it's actually 0.04% of real traffic

[2020-02-18 10:38] khouloudbelguith commented on #17596
Hi @Hlavtox,

I tried with the branch 1.7.7.x.

In the BO => Shop Parameters => General page => the `Round mode` = `Round up away from zero, when it is half way there (recommended)`
![image](https://user-images.githubusercontent.com/16067358/74728400-f8942900-5242-11ea-8260-19fa5fa6c525.png)

1. I created another order
![image](https://user-images.githubusercontent.com/16067358/74728061-6db32e80-5

[2020-02-18 10:48] khouloudbelguith commented on #9759
Hi @sbiru79,

I did not manage to reproduce the issue with PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/12uoG6W5A9XfKy6Q3gmyHZN_i1252qMmf/view

I used those themes
[pinkwep.zip](https://github.com/PrestaShop/PrestaShop/files/4218748/pinkwep.zip)
[classic-rocket.zip](https://github.com/PrestaShop/PrestaShop/files/4218750/classic-rocket.zip)

Thanks!

[2020-02-18 10:53] Hlavtox opened #17709 "[IMPROVEMENT] Add hooks to cart modal - crosseling and promotion"
Hi, it would be nice if you would add a two useful hooks to the cart modal.

**Cart modal extra information - e.g. displayCartModalExtra**
Hook inside the cart modal, to show information like promotions. For example, it could be used to display a messages like: ORDER FOR 20 EUR MORE AND GET FREE SHIPPING!
![shipping](https://user-images.githubusercontent.com/6097524/74728500-2d07e500-5243-11ea-85e

[2020-02-18 10:59] Hlavtox commented on #17596
@khouloudbelguith And thats wrong, if you order it through front office and apply the 15% voucher there, it will be rounded. Total paid will be 735.000000 and total discounts 130.000000.

On thing is what employee sees and the second thing is what gets sent to payment gateways. The customer pays **734.57** instead of **735.00** as it should be and it immediately creates differences between the pay

[2020-02-18 11:02] Hlavtox commented on #17681
@didi-2018 Prestashop 1.7.6 is working just fine with PHP 7.3, just some minor warnings in console, but everything is OK.

[2020-02-18 11:07] khouloudbelguith commented on #17709
Hi @Hlavtox,

Thanks for your report.
![image](https://user-images.githubusercontent.com/16067358/74730782-12376f80-5247-11ea-9ba9-04efc9780894.png)
Ping @PrestaShop/prestashop-product-team @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-02-18 11:20] khouloudbelguith commented on #17681
@Hlavtox, I'm happy to hear that there is no issue with php7.3 on your staging server but as I said, currently PrestaShop is not compatible with php7.3. So some parts of the application might work, but there is no guarantee it works globally. Explications about why can be read here: http://build.prestashop.com/news/announcing-end-of-support-for-obsolete-php-versions/

Thanks!

[2020-02-18 11:29] maniot commented on #12687
Hi Maofree / Jenci666,
Thanks for your fast respons,
I'm trying to get my products on Facebook Ads by a facebook pixel, Facebook was complaining about quite a lot of missing micro data which for the most parts have been solved. There is one still missing which blocks Facebook Ads; The warning is:
_A required field is missing: id
Products without "id" information can't be uploaded. Please check tha

[2020-02-18 13:13] tdavidsonas88 commented on #15522
@matks Able to reproduce it for 1.7.7.x:
![image](https://user-images.githubusercontent.com/32385991/74739230-12446900-5261-11ea-8ca8-d0377891243e.png)

[2020-02-18 13:16] khouloudbelguith commented on #17596
@Hlavtox,

I tried to create the order from the FO and the 15% voucher is added in the FO.
In the BO => Orders => Order details page, I have the same results.
I attached a second screen record
https://drive.google.com/file/d/1BrY4FXVVpkx4N9A3TzICuedxSRMXHeh3/view

Thanks!

[2020-02-18 13:31] khouloudbelguith commented on #17219
Hi @nicoladze,

I tried with the same address format & it is OK in my case.
https://drive.google.com/file/d/1OoERQ3EGs2q7NUfMqxUDIF_zCoqqopZQ/view
It seems that it is custom issue in your case.

Thanks!

[2020-02-18 13:47] web-plus commented on #12689
I also think this should be improved. In Czech republic, some people will enter code as NNNNN and others as NNN NN. The error that shows is not so clear to all users (they don't understand why space would matter).

[2020-02-18 14:02] nicoladze commented on #17219
@khouloudbelguith

In my prevois screenshot, you can see that DNI field is missing, how do you explain it?

Regards

[2020-02-18 14:05] NeOMakinG commented on #17525
Fixed it, but I already fixed it on develop a while ago

[2020-02-18 14:12] matks commented on #17709
Looks like it used to be a todo-item in https://github.com/PrestaShop/ps_shoppingcart/

See https://github.com/PrestaShop/ps_shoppingcart/pull/47/files : I found some very old `@todo`

On tech side, no issue to add these hooks. Just need a go from Product team

[2020-02-18 14:21] #12439 closed, assigned to nobody

[2020-02-18 14:27] khalidzuhd commented on #17684
Great... I have alot of things that i sow it should reported but my English is weak do you have any one speaks arabic ?

[2020-02-18 14:33] MauroKali opened #17713 "Improvement - Show an error message about the syntax of {-:id_product_attribute}"
## Solution

{category:/}{id}-{id_product_attribute}-{rewrite}.html
Even if there is no id_product_attribute

category = men
id = 95
id_product_attribute = None
**Product route = {category:/}{id}-{id_product_attribute}-{rewrite}.html**
Result
**men/95--tshirt.html** ==> should work

--------------------------
Hi,

As suggested here: https://github.com/PrestaShop/PrestaShop/issues/17713#issuecommen

[2020-02-18 14:37] khalidzuhd commented on #17683
I ment you shouldn't allow buyers to add in countity number more than it have ...
And it didn't allow to add out of stock
![Screenshot_2020-02-18-16-33-06-531_com bella bella](https://user-images.githubusercontent.com/1392266/74745470-9f40ef80-526c-11ea-9631-77342e83173d.jpg)
If i have 3 product  in stock ... The client should not add in countity number more than its in the stock
Make product coun

[2020-02-18 14:39] matks commented on #15819
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17660/

[2020-02-18 14:39] #15819 closed, assigned to matks, NeOMakinG

[2020-02-18 14:49] khouloudbelguith commented on #17713
Hi @MauroKali,

In the Back Office => Shop Parameters => Traffic & SEO page, what is the exact "Route to products"?
![image](https://user-images.githubusercontent.com/16067358/74746780-38203c80-5266-11ea-8b99-b09ac38282df.png)

Thanks!

[2020-02-18 14:52] NeOMakinG commented on #17469
We should obviously have a folder stocking dumb components (basically these are components that are playing by data they receive from their parents)

It looks like in the stock folder there are some components that should be reusable and should not be there

pages
|__ order
     |__ view
     |   |__ index.js
     |   |__ add-product.js
     |   |__ edit-products.js
     |__ create
     |   |__ in

[2020-02-18 14:52] MauroKali commented on #17713
the same you showed me but it does not work - 404 errors. and empty space for id_product_attribut

[2020-02-18 14:54] khouloudbelguith commented on #17219
@nicoladze, yes!
This is the exact problem (Spain and DNI).
here is the PR: https://github.com/PrestaShop/PrestaShop/pull/16153 to fix the issue.
It is fixed in the PS1.7.6.2.
Your ticket is a duplicate of #16121
So, I close it.
Thanks!

[2020-02-18 14:54] khouloudbelguith commented on #17219
Duplicate of #16121

[2020-02-18 14:55] khouloudbelguith commented on #17713
@MauroKali, did you use a custom module to rewrite of URLs?

Thanks:

[2020-02-18 14:56] MauroKali commented on #17713
@khouloudbelguith nope, any module for rewriting the URLs.

[2020-02-18 14:59] khouloudbelguith commented on #17713
@MauroKali,

Could you please try to regenerate the file .htaccess

1. Rename the old file to .htaccess_old
2. Disable friendly URL
3. Enable friendly URL

Thanks to check and feedback

[2020-02-18 15:00] MauroKali commented on #17713
hello @khouloudbelguith
thanks for your answer but I've already done it at least 1000 times :)

[2020-02-18 15:01] MauroKali commented on #17713
actually I found a solution but it's quite dirty.
I modified the dispatcher.php as mentionned on https://github.com/PrestaShop/PrestaShop/issues/11773

[2020-02-18 15:05] khouloudbelguith commented on #17683
@khalidzuhd,

In fact, The customer can't add a product out of stock.
The "Add to cart" button is disabled.
I attached a screen record
https://drive.google.com/file/d/10NEIz8UTxq_wWU8THBI6RAO4ZyISScup/view

But we have this issue: https://github.com/PrestaShop/PrestaShop/issues/13374, it could be related and it is fixed in the next major PrestaShop version 1.7.7.0 with this PR: https://github.com/

[2020-02-18 15:15] khouloudbelguith commented on #17713
@MauroKali, as I understand, you changed this
`{category:/}{id}{-:id_product_attribute}-{rewrite}{-:ean13}.html`
by this
`{category:/}{id}{-: }-{rewrite}{-:ean13}.html`?

This incorrect, it is not possible.
About the bad URL when the product has combinations, we have this issue #9784, it is added to our bug roadmap.
Thanks!

[2020-02-18 15:15] daresh opened #17716 "Prestashop loads old carts for logged in users"
**Describe the bug**
When the option "Re-display cart at login" is turned on, and customer has some old abandoned cart, it will get loaded even if the customer also has some never ordered carts.

The cart should be loaded only if it's the last one from the customer's carts.

**Steps to reproduce**
1. In the BO => Shop Parameters => Customer Settings => Disable "Re-display cart at login"
2. Go to t

[2020-02-18 15:19] NeOMakinG commented on #15502
It's related to ready themes, if they change what I said previously it should work

[2020-02-18 15:19] MauroKali commented on #17713
My products do not have combinations - I changed the rule in this way:

{category:/}{id}-{rewrite}.html

[2020-02-18 15:22] khouloudbelguith commented on #17713
@MauroKali, no, it is not possible to remove the `{-:id_product_attribute}` from URL.

Thanks!

[2020-02-18 15:23] MauroKali commented on #17713
@khouloudbelguith
I understand - but it seems there is no another solution at the moment

[2020-02-18 15:26] khouloudbelguith commented on #17713
@MauroKali, yes!
As I said, the bad URL when the product has combinations, we have this issue #9784, it is added to our bug roadmap.
Thanks!

[2020-02-18 15:28] khouloudbelguith commented on #17716
Hi @daresh,

Thanks for your report.
Is it the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/15521
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15533 to fix the issue.

Thanks to check & feedback.

[2020-02-18 15:32] daresh commented on #17716
Hi @khouloudbelguith

I think it's not the same. It's not about guests but about old abandoned carts.

For example, if the customer (a logged in one) has:
Cart with an order from today
Cart with an order from yesterday
Abandoned cart from last year

And he logs in, he'll have that old cart from last year loaded only because it is an abandoned cart.

[2020-02-18 15:36] marionf opened #17717 "Order status list is under the header not completely displayed"
**Describe the bug**
Order status list is under the header not completely displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to orders > orders
2. Make sure you have a lot of orders
3. Scroll down and click on an order status in the list
3. You don't see all status

https://drive.google.com/file/d/1-LYxdLLRAXxzXastAloSbxVEHqWxWFqP/view?usp=sharing

**Screenshots**
![76763182-ea2e24

[2020-02-18 15:50] marionf commented on #17078
Yes, it seems good :+1:

[2020-02-18 15:51] NeOMakinG commented on #14146
Well I don't know at all myself... if we need to upgrade to twig 2 to get a proper linter, then that's probably the moove we've to do

[2020-02-18 15:53] matks commented on #14146
I started to build https://github.com/matks/php-template-linter because I did not find something suitable for my (our ?) need

[2020-02-18 16:00] lichesser commented on #16428
Looks ok to me. Except that it probably should read `exceed` not `exceeds`

[2020-02-18 16:02] LouiseBonnard commented on #16428
@lichesser, absolutely, thanks for notifying this typo. ;-)

[2020-02-18 16:20] davidglezz commented on #16356
Why not allow an arbitrary number of social networks?
Allow the user to select an icon and / or a class, a name and a template url. So each merchant can add the ones they want.

And also add support for native api:
https://css-tricks.com/how-to-use-the-web-share-api/

[2020-02-18 16:26] khouloudbelguith commented on #17716
@daresh, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.3 and PS1.7.5.2.
1.7.6.3: https://drive.google.com/file/d/186EUvgVbyTD-Yieyo9Z1vB2I-0VhRM6z/view
1.7.5.2: https://drive.google.com/file/d/1jADJJcVfpqVkVchDpa-N0PdCoUR2rDmh/view

1. In the BO => Shop Parameters => Customer Settings => Disable "Re-display cart at login"
2. Go to the FO => login with your customer
3. Add

[2020-02-18 16:38] NeOMakinG commented on #12237
Ping @PrestaShop/prestashop-core-developers

[2020-02-18 16:40] matks commented on #12237
It's rather a PM decision so I ping @PrestaShop/prestashop-product-team

My guess is that we should choose between them:
- Or display a warning if admin is trying to insert an invalid character in attribute field
- Or auto-sanitize the field by removing invalid characters before to save it
- Or escape the field on FO

[2020-02-18 16:45] #17606 closed, assigned to nobody

[2020-02-18 16:54] thequickmick commented on #17621
Can you please check something, maybe its only a usability Problem...
before you reset, check -> payments ->payment/preferences and there -> Shipping restrictions

they was not checked...

[2020-02-18 16:57] thequickmick opened #17723 "Multishop /// Module Linklist"
**Describe the bug**
In Design -> Link Widget ->Add own Content
Its on different Shops the Same!

PrestaShop version: 1.7.6.3
PHP version: 7.2 - 7.3

[2020-02-18 17:14] davidglezz commented on #17038
@didi-2018 @msaustral try this:
[code]

https://github.com/PrestaShop/gamification/pull/72/files

[2020-02-18 17:46] didi-2018 commented on #17038
@davidglezz  is this better than this:
const BAGDE_IMG_URL = '/modules/gamification/views/img/badges/';

[2020-02-18 17:54] agalussio commented on #9956
this is solved by editing the file?
src/Adapter/Product/AdminProductDataUpdater.php

In the video you sent it works fine but I couldn't fix it with PR: #14879

[2020-02-18 19:09] caos30 commented on #17707
Thanks to you @khouloudbelguith !
You're right: just these are the steps i followed.
I choosed as `transplant to` the option: `displayAdminEndContent (This hook is displayed at the end of the main content, before the footer)`

Indeed, do you know if it's NORMAL that the section `Design > Link Widget` is appearing COMPLETELY IN BLANK. I attached an screenshot. Certainly, i'm new to Prestashop, so i

[2020-02-18 19:37] arouiadib commented on #17707
@caos30, you are right, widgets work form template files, and not from back office inputs. Additionally, it is `{widget name='<module_name>'}` and not `{widget module='<module_name>'}`  (as indicated by docs), sorry for this mistake. :).

[2020-02-18 19:48] caos30 commented on #17707
Hello @arouiadib , the docs are right... at least the link passed by @khouloudbelguith above:

[https://devdocs.prestashop.com/1.7/modules/concepts/widgets/](https://devdocs.prestashop.com/1.7/modules/concepts/widgets/)

It appears with "name=" as you say:
![Captura_2020-02-18_12-46-12](https://user-images.githubusercontent.com/1767547/74772279-e8814700-524c-11ea-8f73-0d6e866bfb73.png)

[2020-02-18 21:08] HartLarsson commented on #17704
seems to me but is not the same ticket #9910
The other ticket is a problem about price and combinations.
In my case the product have ZERO combination and the price is changed after Save and reenter the product edit.

[2020-02-18 21:11] HartLarsson commented on #17704
![image](https://user-images.githubusercontent.com/16102074/74778294-8c91df00-529b-11ea-8c6b-6eb5b1f9f53b.png)

this is the result

[2020-02-19 06:07] Jenci666 commented on #12687
Hi Maniot

I am sorry but, I am not familiar with Facebook pixel. I cannot help you with this ID issue.

[2020-02-19 07:53] khouloudbelguith commented on #17723
Hi @thequickmick,

First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

Second, we

[2020-02-19 07:53] #17723 closed, assigned to nobody

[2020-02-19 07:53] khouloudbelguith commented on #17723
Duplicate of #9795

[2020-02-19 08:09] khouloudbelguith commented on #17707
@caos30,

Thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2 and the contact form module v4.1.1.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
![image](https://user-images.githubusercontent.com/16067358/74814417-86315080-52f7-11ea-942f-eb264edeb144.pn

[2020-02-19 08:16] khouloudbelguith commented on #17713
@MauroKali, so, can we close the issue?

Thanks!

[2020-02-19 08:20] MauroKali commented on #17713
Hello @khouloudbelguith

yes but I have a suggestion as well :)

It would be possible to show an error message about the syntax of {-:id_product_attribute} ?

if we put {id_product_attribute} instead of {-:id_product_attribute} there is no message but it's a source of bug

thanks

Mauro

[2020-02-19 08:33] khouloudbelguith opened #17725 "Exception in the FO after a new install"
**Describe the bug**
After a new install of the branch develop, we have a new exception in the FO, this exception is displayed only when debug mode is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/PrestaShop/PrestaShop.git`
2. `Composer install`
3. `make install`
4. Install the develop branch (debug mode is enabled)
5. Go to the FO => an exception is

[2020-02-19 08:40] khouloudbelguith commented on #17704
@HartLarsson, Sorry :slightly_smiling_face:  it is my fault.
It is a duplicate of #12078.

Thanks!

[2020-02-19 08:42] colinegin commented on #15502
Alright, thanks for the explanation. I've warned the PrestaShop theme team.
As it is not to be fixed in the module, I close the issue.

Thanks !

[2020-02-19 08:42] #15502 closed, assigned to LaureMatou

[2020-02-19 08:42] Robin-Fischer-PS opened #17726 "Private note in order page migrated cannot be emptied"
**Describe the bug**
In migrated order view page, the private note of a customer cannot be emptied, since the "Save" button is deactivated when the field is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to order view page (migrated)
2. Click on "Private note". If the private note is empty, write something in it, save, and refresh
3. Empty the "private note" field
4. The "Save" bu

[2020-02-19 08:42] marionf opened #17727 "I should be able to see orders placed in other shops of the same group, if the group shares orders"
**Describe the bug**
I should be able to see orders placed in other group stores, if the group shares orders

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > General and enable multistore
2. Go to Advanced parameters > Multistore
3. Click on Add new shop group "all shared group"
4. Share customers, share available quantities to sell, share orders
5. Create a new store

[2020-02-19 08:44] colinegin commented on #17709
Let's do it ! :)

[2020-02-19 08:46] Hlavtox opened #17728 "[IMPROVEMENT] Detect asset changes and cache CSS & JS again"
Hi guys, would it be possible for Prestashop to detect changes in assets and redo the CCC again? It used to work that way in 1.6.

Now, everytime I change something in CSS, I either have to go to admin and clean the cache OR I have to delete assets/cache folder.

Thanks!

[2020-02-19 08:54] colinegin commented on #17078
Ping @MatShir as it is related to product page.

[2020-02-19 08:59] Hlavtox opened #17729 "[1.7.7] Order totals not rounded to 0 decimals"
**Describe the bug**
In 1.7.6, I have **currency->precision set to 0** and **Store settings > General > Decimal places set to 0 in PS config**. The order gets rounded fine.

In 1.7.7 - and after removal of decimal places from PS config, you set **currency->precision to 0** and the order does not get rounded at all!

In @khouloudbelguith 's video, the order total displayed is 735, but in database i

[2020-02-19 09:01] colinegin commented on #16356
This is a great idea @davideapvd ! If you know how to provide this, feel free to make a PR, we'll review it asap ! :)

[2020-02-19 09:05] colinegin commented on #17475
@atomiix have you seen @jolelievre 's comment ?

[2020-02-19 09:08] colinegin commented on #12237
I'm all for "educating" users about valid characters. So IMO, your first idea is both the easiest and most useful.

[2020-02-19 09:08] khouloudbelguith commented on #17728
Hi @Hlavtox,

Thanks for your report.
Isn't similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/10091?

Thanks!

[2020-02-19 09:10] Hlavtox commented on #17728
@khouloudbelguith Maaaaaybe, can you include it to the post's description?

There is only: "CCC will probably need some attention (either make it better or remove it)"

[2020-02-19 09:14] khouloudbelguith commented on #17728
@Hlavtox, I updated the previous issue.
I will close this ticket.

Thanks!

[2020-02-19 09:14] #17728 closed, assigned to nobody

[2020-02-19 09:14] khouloudbelguith commented on #17728
Duplicate of #10091

[2020-02-19 09:14] Hlavtox commented on #17728
@khouloudbelguith Thank you! :-)

[2020-02-19 09:18] #10407 closed, assigned to NeOMakinG

[2020-02-19 09:24] davideapvd commented on #16356
even if that was for @davidglezz I would like to add something just because you mentioned me :)
I think the icon should be handled by the theme, for example we can have different hook and different icons so the theme could handle that and in the backend we would solve the problem of handling multiple icons for the same social link.

[2020-02-19 09:35] Robin-Fischer-PS opened #17732 "Exception when accessing a non existing order via URL"
**Describe the bug**
When a user try to access a non existing order (with a bad id) via URL in migrated page, there is an exception. On Legacy, there is a redirection on the order list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a non existing order via URL, for example : /admin-dev/index.php/sell/orders/orders/647/view
2. An exception is displayed

**Screenshots**
![non existing

[2020-02-19 09:50] khouloudbelguith commented on #17729
Hi @Hlavtox,

Thanks for your report.
I have the same issue with PS1.7.6.3 and 1.7.7.x branch.

Steps to reproduce the issue: The EUR currency precision = 0
1. Go to BO => Catalog => discounts => create a new cart rule 15%
2. Go to the FO => Add a product to the cart for example `demo_6`
2.1 Price displayed Tax_included= €35
3. Apply the voucher =15%
3.1 Total (tax incl.) = €30
3.2 Discount = €5
4

[2020-02-19 09:53] Hlavtox commented on #17729
@khouloudbelguith I was talking about **1.7.6**, the precision was added in this version. Try it there, please.

[2020-02-19 09:54] khouloudbelguith commented on #17729
@Hlavtox, yes!
I tried with PS1.7.6.3 and 1.7.7.x branch => the same behavior.

Thanks!

[2020-02-19 09:54] Hlavtox commented on #17729
@khouloudbelguith Do you have set 0 decimal places in 1.7.6.3, in prestashop config?

[2020-02-19 09:58] khouloudbelguith commented on #17729
@Hlavtox, Yes!
https://drive.google.com/file/d/1KiDGRC7lLkqNFgrJF4ucEVc9jAghBpDe/view

Thanks!

[2020-02-19 09:58] matks commented on #17729
It's a bit hard to understand but you have done so many modifications with precision that indeed the system might behave in weird ways 😅 .

⚠️ "Precision" is a generic name in prestashop that actually have multiple meanings.
- there is the precision used to round prices **for display**
- there is the precision used to round prices **when doing computations**
- there might be more I am not aware of

[2020-02-19 10:07] eternoendless commented on #17729
Computed final prices should be rounded to the most significant number of decimal places according to the shop's default currency. This would also mean that changing this number in the currency settings would require to recalculate prices if this number decreases.

For example:

1. A price is calculated at 35.99 €
2. Euro is modified to remove cents
3. Price must be recalculated at either 36 € or

[2020-02-19 10:08] eternoendless commented on #17729
ping @PrestaShop/prestashop-product-team

[2020-02-19 10:19] khouloudbelguith commented on #17732
Hi @Robin-Fischer-PS,

I tried with 1.7.7.x branch.
I have a redirection to the Dashboard page without exception
https://drive.google.com/file/d/183yhV_2wN2DufUluhKuWpUkJoFoGVMdc/view

Thanks!

[2020-02-19 10:27] Hlavtox commented on #17729
@khouloudbelguith Please, read me carefully 😄
@matks No mods in this area bro 😄 Just tested on vanilla 1.7.6 and it's rounding as it should.

**PRESTASHOP VERSION 1.7.6**
1. Go to Store settings > General > Number of decimal places and set it to 0.
2. Go to database administration, open ps_currency table, set 'precision' to 0.
3. Order something.
4. Totals are rounded.

**PRESTASHOP VERSION 1.7.7*

[2020-02-19 10:30] khouloudbelguith commented on #17729
@Hlavtox, we just talked about this feature in this comment https://github.com/PrestaShop/PrestaShop/issues/17596#issuecomment-587080159 :smile:

Thanks!

[2020-02-19 10:34] Hlavtox commented on #17729
@khouloudbelguith Yeah but on the video you don't show it. 😄 And I swear I just tried it and the order is rounding in 1.7.6!

[2020-02-19 10:45] Allthejam commented on #17681
Thank you all for your help so far, I have tried various versions of PHP now and currently on 7.2.
I have also cleared all the cookies, deleted manually from in the system folders and mad the changes to the coding on line 2757 which wasn't easy to find, I have refreshed everything and ran some test orders and still, I have no payment options showing.

I should have VivaWallet and Coingate, they al

[2020-02-19 11:04] khouloudbelguith commented on #17681
@Allthejam, thanks to navigate to your BO => Design => Positions =>
Search for the hook `displayPaymentReturn` and `paymentOptions` hook and provide me screenshots.

`Display non-positionable hooks` should be selected.
![image](https://user-images.githubusercontent.com/16067358/74828761-f64bd080-530f-11ea-9fe2-e040a9b5def5.png)
![image](https://user-images.githubusercontent.com/16067358/74828781-0

[2020-02-19 11:10] khouloudbelguith commented on #9956
Hi @agalussio,

The problem is fixed if we use the icon in position column. The product is selected and we can change the position and saved and all changes are validated.
Here's the PR: #14879 to fix the issue.
It is fixed in the PS1.7.7.0.
Since this PR correct the problem it's OK a New issue was created for the second issue: #15291

Thanks!

[2020-02-19 11:13] sebastien-auve commented on #10908
Is there any update? I have the same problem on 1.7.5.1 like @jonasburneika.

[2020-02-19 11:19] agalussio commented on #9956
The error you say I haven't had, but the error I started the question for and am trying to fix is only when the facet search module is active.
If I turn off the faceted search module the order works fine. When I turn on the module the categories are only sorted in the front end.

Thank

[2020-02-19 11:22] khouloudbelguith commented on #17713
Hi @MauroKali,

I updated the issue.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-02-19 11:24] khouloudbelguith commented on #9956
Hi @agalussio,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-02-19 11:28] agalussio commented on #9956
@khouloudbelguith  So this case I documented is not duplicated.
You can't open this case? Do you need to open a new one?

[2020-02-19 11:33] Allthejam commented on #17681
Thank you, I've checked that and it was all showing already. I tried this a few days ago when I uninstalled them, unhooked and reinstalled all from scratch again, still made no difference, See bellow.
![test](https://user-images.githubusercontent.com/52738920/74830581-c272aa00-5313-11ea-8cea-9239eeec01fc.jpg)

[2020-02-19 11:39] Maofree opened #17737 "Some fix for product microdata - remove microdata from modal code"
### Describe the bug
it is necessary to remove all itemprod from quickview.tpl and product-images-modal.tpl
these add duplication microdata to the product
from quickview.tpl it is necessary to remove
itemprop="description"
from line 50

from product-images-modal.tpl it is necessary to remove
itemprop="description"
itemprop="image"
from line 31, 34, 44

there are also a problem in quickview.tpl bec

[2020-02-19 11:39] maofree commented on #17737
after fix
![2](https://user-images.githubusercontent.com/653230/74831143-eda9c900-5314-11ea-879a-0352084ce99a.png)

[2020-02-19 11:45] agalussio commented on #9956
I've attached a video so you can see the problem.

https://www.tiendahippie.es/catalogo/order-faceted.mp4

[2020-02-19 11:49] Allthejam commented on #17681
I have even today installed and signed up for the PrestaShop Checkout account to test it out but even its not showing on the checkout page, I don't know anymore...

[2020-02-19 11:50] Maofree opened #17739 "Wrong use of microdata sku - it is necessary to add also the mpn tag"
Hi
it is wrong to associate the micro tag SKU to the product reference it should be the MPN tag, instead for the SKU you should use the product ID, because normally it is used as product identificator

in the product-details.tpl at line 24
it is necessary to remplace this line
`<span itemprop="sku">{$product.reference_to_display}</span>`
with
`<span itemprop="mpn">{$product.reference_to_display}</

[2020-02-19 11:52] maofree commented on #17739
after fix

![2](https://user-images.githubusercontent.com/653230/74832017-b3412b80-5316-11ea-9f2b-0949773fa3ed.png)

[2020-02-19 11:54] Allthejam commented on #17681
![2020-02-19_125346](https://user-images.githubusercontent.com/52738920/74832152-ee435f00-5316-11ea-9eca-904f33524263.jpg)

[2020-02-19 11:59] maofree commented on #12687
hi
fixed 2 microdata errors
https://github.com/PrestaShop/PrestaShop/issues/17739
https://github.com/PrestaShop/PrestaShop/issues/17737

bye

[2020-02-19 12:12] Hlavtox commented on #17739
That's bullshit.
SKU = your stock code = product reference
MPN = manufacturer's code = product mpn in 1.7.7, unused in 1.7.6

Product ID is only for internal purposes of Prestashop.

[2020-02-19 12:16] maofree commented on #17739
Hi
I don't know that new entry on 1.7.7
normally in the feed file like for google shopping or other external file, it is used like referal the product id to avoid duplications

[2020-02-19 12:27] maofree commented on #17739
https://support.google.com/merchants/answer/7052112
from here you can see that <g:id> is the identificator and must be univocal, it can the the sku like you said or the product id like I say,
if you use in the sku the produt id, google will see the same value in the file got by google merchant center and in the front office of your site

[2020-02-19 12:43] matks commented on #10908
It seems we cannot reproduce this issue 100% times so specific conditions are required to observe the buggy behavior 🤔

[2020-02-19 12:44] matks commented on #17089
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17220

[2020-02-19 12:44] #17089 closed, assigned to zuk3975

[2020-02-19 12:49] Robin-Fischer-PS commented on #17732
My bad @khouloudbelguith , the good URL is /admin-dev/index.php/sell/orders/orders/647/view ! I'me editing the issue.

[2020-02-19 12:56] khouloudbelguith commented on #17681
@Allthejam, in your BO => Payment => Preferences page => did you check all the restrictions?
1. Currency restrictions
2. Group restrictions
3. Country restrictions
4. Carrier restrictions

Thanks!

[2020-02-19 12:57] stelgenhof opened #17740 "ContextErrorException when running from Docker"
**Describe the bug**
When running from Docker, I get a ContextErrorException error (See screenshot below).

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository (develop branch)
2. Run `docker-compose up`
3. Navigate to `http://localhost:8001/`
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![image](https://user-imag

[2020-02-19 12:58] stelgenhof commented on #17740
Note: The same error also occurs with the `1.7.7.x` branch. I haven't tried any other branches.

[2020-02-19 13:05] khouloudbelguith commented on #17740
Hi @stelgenhof,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #17725
So, I close it.
Thanks!

[2020-02-19 13:05] #17740 closed, assigned to nobody

[2020-02-19 13:05] khouloudbelguith commented on #17740
Duplicate of #17725

[2020-02-19 13:26] khouloudbelguith commented on #17737
Hi @maofree,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 and PS1.7.6.3 and Branch 1.7.7.x
![image](https://user-images.githubusercontent.com/16067358/74838412-dcb48400-5323-11ea-8868-554a13af703d.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-02-19 13:27] khouloudbelguith commented on #17737
Related to: 15764

[2020-02-19 13:32] khouloudbelguith commented on #17739
Hi @maofree,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-02-19 13:42] maniot commented on #12687
@Jenci666,
Thanks anyway.
@maofree ,
I followed your fixes #17739 and #17737 , but i am not sure i've done it correctly,
`{if isset($product.reference_to_display) && $product.reference_to_display neq ''}
      <div class="product-reference">
        <label class="label">{l s='Reference' d='Shop.Theme.Catalog'} </label>
        <span itemprop="mpn">{$product.reference_to_display}</span>
		<meta ite

[2020-02-19 13:44] khouloudbelguith commented on #9956
@agalussio, is it similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/17400?

Thanks!

[2020-02-19 13:51] matosagencia opened #17743 "custom in catalog / sells/ stock"
hi, i need create a new field of observations in session stock manager but with this new arquitheture of prestashop im lost, i need create the field in database, and edit the classes and controllers, somebody know where i find this files?

[2020-02-19 13:53] khouloudbelguith commented on #17743
Hi @matosagencia,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2020-02-19 13:53] #17743 closed, assigned to nobody

[2020-02-19 14:38] Allthejam commented on #17681
Geolocation by IP address set to NO
All Language packs are enabled
All Currencies are enabled

All  Groups are set as standard and no restrictions, I have tried testing orders from both guest and a logged-in account as well as a subscriber

This carrier will be proposed for those delivery zones:
•	Africa
•	Asia
•	Central America/Antilla
•	Europe
•	Europe (non-EU)
•	North America
•	Oceania
•	South

[2020-02-19 14:43] rvalery commented on #16978
Hi @khouloudbelguith,

You said

If yes, it is fixed.

But I don't see any commits in the module ps_mainmenu that would have fixed it. There is no update and the user groups are still not taken into account when creating the menu. I have proposed a pull request to correct this but it is still waiting for someone to review it.

Do you have more information on how to fix it in our shop, without crea

[2020-02-19 15:06] matks opened #17744 "PrettyCI is returning faulty reports"
It seems since 1 or 2 days, PrettyCI (which is enabled on pull requests) return faulty reports.

Most of the time the issue is that it complains some files are not right although the PR does not modify them.
It seems also it does not 100% follow our PHP CS Fixer configuration.

## Issues on 1.7.6.x branch

- https://github.com/PrestaShop/PrestaShop/pull/17457/

## Issues on 1.7.7.x branch

Example

[2020-02-19 15:13] matks commented on #17744
Help @mnapoli 🙏

[2020-02-19 15:14] jolelievre commented on #17729
I think we kept some hard coded value in a few places during the migration
There are some part of the legacy code:

https://github.com/PrestaShop/PrestaShop/blob/15b01d14104cb6f8001a639063308a25e6289533/classes/order/OrderDetail.php#L661

And in the migrated code:
https://github.com/PrestaShop/PrestaShop/blob/15b01d14104cb6f8001a639063308a25e6289533/src/Adapter/Order/CommandHandler/AddCartRuleToOr

[2020-02-19 15:53] Allthejam commented on #17681
Ok, that did something. I did that and enabled the back transfer option the result is that I now have pay by bank transfer on the checkout page, as soon as I enabled any other payment option everything goes again. What's next to get other options back working?

[2020-02-19 15:54] Jenci666 commented on #12687
Hi Maniot

Can you share your shop URL?

[2020-02-19 15:55] khouloudbelguith commented on #17681
@Allthejam,

What are those exact payment methods?

Thanks!

[2020-02-19 15:55] maniot commented on #12687
Hi,
Sure, [https://the-dreamstore.com](url)

[2020-02-19 15:57] Allthejam commented on #17681
Vivawallet is the prefered option
Coingate
Prestashop checkout

As soon as I enable anything else nothing appears on checkout I even lose bank transfer

[2020-02-19 16:01] khouloudbelguith commented on #17681
@Allthejam, those modules are not provided by the PrestaShop team core.
As they are not provided by Prestashop, we can't do anything with this.
You should contact the module's author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-19 16:01] #17681 closed, assigned to nobody

[2020-02-19 16:02] colinegin commented on #14745
All done here ! I close the issue

[2020-02-19 16:02] #14745 closed, assigned to TristanLDD, MatShir

[2020-02-19 16:02] Allthejam commented on #17681
I think the problem might be with Vivawallet,

Ok, Thank you for all your help, its something to work from

Thank you

[2020-02-19 16:10] colinegin commented on #15716
@TristanLDD @MatShir @marionf can you confirm this issue is fixed with the new order page design ?

[2020-02-19 16:10] sebastien-auve commented on #10908
Everytime want to join tables or make a query on mulitple tables I have this error.
So I did some basic SQL queries on PrestaShop and my processing by Excel and VBA.

[2020-02-19 16:11] choclove90 opened #17745 "Product image upload limited to 2MB on 1.7.6.3"
**Describe the bug**
It seems that on PS 1.7.6.3 whenever I add/edit a product and try to add a new image, the limit is by default set at 2MB. I looked everywhere in the back office at the configuration options but I have not found this to be editable. After a few hours of looking up in the files I have found that in /src/PrestaShopBundle/Resources/views/Admin/Product/ProductPage/Panels/essentials

[2020-02-19 16:11] colinegin commented on #9850
@khouloudbelguith could you test it on 177x branch and see if this is fixed ? Thanks !

[2020-02-19 16:12] colinegin commented on #11034
Hello @khouloudbelguith could you please test this issue and see if it is fixed on 177x ?
Thanks !

[2020-02-19 16:16] khouloudbelguith commented on #17745
Hi @choclove90,

We are awre of the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15183
So, I close it.
Thanks!

[2020-02-19 16:16] #17745 closed, assigned to nobody

[2020-02-19 16:16] khouloudbelguith commented on #17745
Duplicate of #15183

[2020-02-19 16:21] matks commented on #17744
We decided to temporarily disable PrettyCI and use a Github Action instead

[2020-02-19 16:26] matks commented on #17744
I relaunched PrettyCI on https://github.com/PrestaShop/PrestaShop/pull/17741 and now it passes so it seems some of the issues are random

[2020-02-19 16:28] khouloudbelguith commented on #9850
Hi @colinegin,

Yes!
Same issue with the branch 1.7.7.x
https://drive.google.com/file/d/1QNotiPhA8s65aNVAvEfCBY3U50N0iz8D/view
![image](https://user-images.githubusercontent.com/16067358/74852637-252c6b80-533d-11ea-86fd-f0a7bd886209.png)

Thanks!

[2020-02-19 16:29] rvalery commented on #16978
@khouloudbelguith Thanks for your answer.
I see that this PR has been merged into the dev branch of the module ps_mainmenu, but not in the master branch. Do you know if the dev branch will eventually be merged into the master ? Because right now the version of the module ps_mainmenu included with Prestashop is 2.1.1, and it does not contain the fix.
Thanks for your time.

[2020-02-19 16:34] colinegin commented on #9850
Alright, thanks for checking @khouloudbelguith !

[2020-02-19 16:35] colinegin commented on #12442
Hello @khouloudbelguith do you reproduce this issue on the 177x branch ?

[2020-02-19 16:39] colinegin commented on #13809
Hello @khouloudbelguith (sorry for the intense spamming ;) ), do you reproduce this issue on 177x branch ? Thanks !

[2020-02-19 16:39] matks commented on #17744
Issue seems fixed on branches 177x and develop, still broken on 176x but as this branch receives very few patches, we prefer to keep PrettyCI enabled.

[2020-02-19 16:43] khouloudbelguith opened #17747 "Exception when adding a new discount with invalid amount - invalid discount"
**Describe the bug**
In the BO => Orders => new migrated Order details page or legacy page when we add a new discount with an invalid amount for example `-10` => an exception is displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Orders => new migrated Order details page `admin-dev/index.php/sell/orders/orders/5/view` or the legacy page
2. Click on "Add a new discount" butt

[2020-02-19 16:44] khouloudbelguith commented on #17747
Ping @colinegin new issue in the Order page

[2020-02-19 16:47] marionf commented on #15716
Yes, it's fixed :+1:

[2020-02-19 16:47] #15716 closed, assigned to nobody

[2020-02-19 16:49] colinegin commented on #15716
Great !!

[2020-02-19 16:51] Jenci666 commented on #12687
Can you share your product.tpl file?
You should find it here.
/public_html/themes/classic/templates/catalog/_partials/miniatures | product.tpl

[2020-02-19 16:51] khouloudbelguith commented on #11034
Hi @colinegin,

It is fixed when we add a new discount >100%
https://drive.google.com/file/d/1igte2JACrtZKEiJGvO4NR2GGJPpwtPdG/view
![image](https://user-images.githubusercontent.com/16067358/74854844-2a3eea00-5340-11ea-934c-6318f0855060.png)

But an exception detected when we add a new discount = `-10%`
![image](https://user-images.githubusercontent.com/16067358/74854942-4b9fd600-5340-11ea-811f-d

[2020-02-19 16:53] colinegin commented on #11034
Alright so maybe we can close this issue and just have #17747 open?

[2020-02-19 16:54] khouloudbelguith commented on #11034
@colinegin, alright!
I will close this issue and update the new issue.

Thanks!

[2020-02-19 16:54] #11034 closed, assigned to nobody

[2020-02-19 16:56] khouloudbelguith commented on #17747
Hi,

Same issue with an invalid percent value
An exception detected when we add a new discount = `-10%`
![image](https://user-images.githubusercontent.com/16067358/74854942-4b9fd600-5340-11ea-811f-d4f34e51abe7.png)

![image](https://user-images.githubusercontent.com/16067358/74854891-3b87f680-5340-11ea-9b21-e82e3f0424f3.png)

Reproduced with 177x branch, PS1.7.6.3 and PS1.7.5.2

Thanks!

[2020-02-19 17:02] khouloudbelguith commented on #12442
Hi @colinegin,

Not fixed, we have an expected error
![image](https://user-images.githubusercontent.com/16067358/74856171-fc5aa500-5341-11ea-9d78-dd7d9dd2a0c3.png)
https://drive.google.com/file/d/1igte2JACrtZKEiJGvO4NR2GGJPpwtPdG/view

Thanks!

[2020-02-19 17:05] khouloudbelguith commented on #13809
Hi @colinegin,

Not fixed.
Same issue with 177x branch
![image](https://user-images.githubusercontent.com/16067358/74856422-670be080-5342-11ea-8748-f646b5a64d42.png)

Thanks!

[2020-02-19 17:08] khouloudbelguith commented on #16978
@rvalery, infact, a new release is not provided yet.
https://github.com/PrestaShop/ps_mainmenu/releases
The last release is 2.1.1.
So this PR: https://github.com/PrestaShop/ps_mainmenu/pull/20, it is still not added to any release.

Thanks!

[2020-02-19 17:10] rvalery commented on #16978
OK thanks for the info, I will wait for the next release then.

[2020-02-19 17:15] agalussio commented on #16130
@khouloudbelguith  no, it's not similar to the: #17400
As you see in the video I sent, the problem is when the facet search module is active.

[2020-02-19 17:17] agalussio commented on #9956
@khouloudbelguith  no, it's not similar to the: #17400
As you see in the video I sent, the problem is when the facet search module is active.

[2020-02-19 17:23] FranGhe opened #17748 "Webservice - Stock problem on adding simple product (without combination) by webservice"
1. Use this script to add a product via API
[code]
2. The prduct is well cretaed
3. Check the Catalog => Stocks page => the product is not displayed

I use PSWebServiceLibrary to have a "dialog" with Prestashop.
If I add a product with this simple code:
[code]
I have my new product in catalog->products... but I haven't my new product in catalog->stocks.
When I go to catalog->stocks, my console sho

[2020-02-19 17:29] TristanLDD commented on #17054
Hi @jf-viguier,
Thanks for the PR, I like the idea a lot!

It seems to have some problems to display the confirmation or error messages though:

- The error message for an invalid email address for example doesn't seem to appear. Here is the message in the current module:
![Capture d’écran 2020-02-19 à 18 22 52](https://user-images.githubusercontent.com/27484094/74858242-45f8bf00-5345-11ea-88c0-

[2020-02-19 18:07] maniot commented on #12687
here's the product.tpl:
`{**
 * 2007-2019 PrestaShop and Contributors
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unab

[2020-02-19 18:26] #14363 closed, assigned to nobody

[2020-02-19 18:54] maofree commented on #12687
hi @maniot
the https://github.com/PrestaShop/PrestaShop/issues/17737 is very simple to fix you need only you need only to remove the itemprod="description" and itemprod="image" from 2 tpl files

the other for sku and mpn I suggest a solution

[2020-02-19 19:26] maofree commented on #17739
hi
fixed the sku for combinations adding - $product.id_product_attribute if present (like in the combination urls and in the id passed to external system like for google shopping)

`<meta itemprop="sku" content="{$product.id}{if isset($product.id_product_attribute) && $product.id_product_attribute neq ''}-{$product.id_product_attribute}{/if}" />`

of course if in the next version prestashop will m

[2020-02-19 19:53] maniot commented on #12687
Hi @maofree ,
The fix #17737 , i've already put it in place. Thanks
For me rests the problem of the missing ID.
Can you confirm that for the #17739 fix i've added the right lines:
`{if isset($product.reference_to_display) && $product.reference_to_display neq ''} <div class="product-reference"> <label class="label">{l s='Reference' d='Shop.Theme.Catalog'} </label> <span itemprop="mpn">{$product.ref

[2020-02-19 20:25] maofree commented on #12687
@maniot
go in product-details.tpl and add this line under the {/if} of the reference block

`<meta itemprop="sku" content="{$product.id}{if isset($product.id_product_attribute) && $product.id_product_attribute neq ''}-{$product.id_product_attribute}{/if}" />`

also from this file change from
`<span itemprop="sku">{$product.reference_to_display}</span>`
to
`<span itemprop="mpn">{$product.reference_

[2020-02-19 21:11] maniot commented on #12687
@maofree,
I made the changes and i'm now on 0 errors and 6 warnings in the google test tool. However Facebook ads is still complaining that there is an error : missing ID.
Could it be the general ID mentioned on the bottom of the google test tool report?
Thanks
![screenshot-search google com-2020 02 19-22_09_35](https://user-images.githubusercontent.com/2451560/74876848-be22ad00-5364-11ea-970a-e10

[2020-02-19 21:17] maofree commented on #12687
brand and mpn are missed
however I'm no expert of socials (I use this solution on sku to show the same sku of google shopping feed), I made modules for other things

I suggest you to have a look here and ask to the developer before to buy something is you need one of them
https://mypresta.eu/modules/social-networks/

bye

[2020-02-19 21:20] davidglezz commented on #14729
It seems that it is only used for the placeholder of birthdate input.

So it is a human understandable format and not an date format rule.

https://github.com/PrestaShop/PrestaShop/blob/6c0372118c9f377310045401ca0ae80a75e30570/classes/form/CustomerFormatter.php#L208

[2020-02-19 21:24] maniot commented on #12687
@maofree,
I already use two of Vekia's modules, i'm using the module facebookpixel to add a catalog to Facebook. The module works perfect, there's only the problem of the missing microdata ID
According to docs from facebook this is what they need:
![screenshot-developers facebook com-2020 02 19-22_17_55](https://user-images.githubusercontent.com/2451560/74877916-8a488700-5366-11ea-9b38-3ea0ae5bbe7

[2020-02-19 21:26] davidglezz commented on #14001
https://github.com/twbs/bootstrap/issues/23378#issuecomment-324750360

[2020-02-19 21:30] maofree commented on #12687
follow my suggestions above
set mpn like I said

`<span itemprop="sku">{$product.reference_to_display}</span>`
to
`<span itemprop="mpn">{$product.reference_to_display}</span>`

or ask to Vekia how to solve this problem

[2020-02-19 21:41] arouiadib commented on #17707
Thank you @khouloudbelguith for reproducing the issue. You are right, there is small issue in `contactform`.

However I want to note that the problem never happens when you try to transplant the `contactform` module to a frontoffice hook. This is the normal behaviour because `contactform` is a frontoffice module and there is no reason of implementing it in backoffice.

And because `contactform` ha

[2020-02-19 21:49] maniot commented on #12687
@maofree ,
I think i've correctly copied the code, however i didn't have a reference or brand for this product, after giving it a reference the mpn works as expected. Unfortunally it's not what facebook wants.
Thanks for your help. I will ask Vekia for support
Best regards,
Maniot

[2020-02-19 23:44] maofree commented on #12687
@maniot
sorry the correct like for sku (I have removed neq ' ') is

`<meta itemprop="sku" content="{$product.id}{if isset($product.id_product_attribute) && $product.id_product_attribute}-{$product.id_product_attribute}{/if}" />`

[2020-02-19 23:56] caos30 commented on #17707
Hello @arouiadib I realised that hook positions beginning with "displayAdmin" are for show the content on the admin panel. I did not know this fact when i reported the bug in this issue. But i have understood this now. Thanks anyway for your explanation, confirming this.

Said this, i followed your instructions and successfully created a hook for the "Contact form" at the position "displayFooterBe

[2020-02-20 04:32] BenTen opened #17750 "A story of Stock available, hook and webservice"
When we update the stock available by the webservice, the hook "actionUpdateQuantity" is not run.

Is there something more to do to run the hook when we update qty by API?

EDIT: @michjoh seems to request a pull for a solution but there is no review for his code...
https://github.com/PrestaShop/PrestaShop/pull/13213

EDIT2: We tested with a product with attribut, the hook "actionUpdateQuantity" is

[2020-02-20 06:01] stevearmen opened #17751 "Admin area product listing, pagination is disabled"
**Describe the bug**
In catalog -> products, pagination is disabled and even typing the page number in the input field, it still goes to first page.

**To Reproduce**
Steps to reproduce the behavior:
1. Review Image

**Screenshots**
[https://imgur.com/mHW5tGg](https://imgur.com/mHW5tGg)

**Additional information**
PrestaShop version: 1.7.6.2
PHP version: 7.3.11

[2020-02-20 06:43] TheTakylo commented on #9874
Is the issue solved?

[2020-02-20 06:52] jajarom commented on #17574
I think the issue is not that. If that voucher is created, the website also cannot load (after the client login the web is error 500)

[2020-02-20 07:31] alexberanger commented on #17622
@khouloudbelguith, my bad, I forgot to test if the "AN_INPUT_FILE_NAME" was set and also, to set the form method to "POST".

It would be better with this new version of the script:
[uploader.zip](https://github.com/PrestaShop/PrestaShop/files/4229350/uploader.zip)

Sorry for my slow replies. I hope this one would be the good one :)

[2020-02-20 07:38] maofree commented on #17384
hi
to fix this problem, it is necessary only to edit the file product-cover-thumbnails.tpl
from
`alt="{$product.cover.legend}`
to
`alt="{if $product.cover.legend}{$product.cover.legend}{else}{$product.name|truncate:40:''}{/if}"`

and from
`alt="{$image.legend}`
to
`alt="{if $image.legend}{$image.legend}{else}{$product.name|truncate:40:''}{/if}"`

[2020-02-20 08:04] khouloudbelguith commented on #17263
Hi @khalidzuhd,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-20 08:04] #17263 closed, assigned to nobody

[2020-02-20 08:06] khouloudbelguith commented on #17262
Hi @khalidzuhd,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-20 08:06] #17262 closed, assigned to nobody

[2020-02-20 08:07] khouloudbelguith commented on #17264
Hi @khalidzuhd,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-20 08:07] #17264 closed, assigned to nobody

[2020-02-20 08:18] khouloudbelguith commented on #17384
Hi @maofree,

If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-02-20 08:20] khouloudbelguith commented on #9874
Hi @TheTakylo,

Sorry not yet.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-02-20 08:27] maofree commented on #17384
hi
can you do it for me?
please

yes I'm sure that it will fix the problem, it is the same solution used for product blocks in /miniatures/product.tpl

[2020-02-20 08:51] khouloudbelguith commented on #17739
@maofree, thanks a lot for your fix suggestion.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-02-20 08:54] khouloudbelguith commented on #9956
@agalussio,

Please open a new issue.
This issue is currently closed, can you open a new one with more information about your configuration.
So, we can understand how we can reproduce your issue.

Thanks!

[2020-02-20 08:55] Hlavtox commented on #17739
@maofree @khouloudbelguith

[code]

https://support.google.com/merchants/answer/6324405?hl=en

[2020-02-20 08:56] khouloudbelguith commented on #9956
@agalussio, no need to create a new issue.
I will re-open this ticket: https://github.com/PrestaShop/PrestaShop/issues/16130

Please follow https://github.com/PrestaShop/PrestaShop/issues/16130
Thanks!

[2020-02-20 08:57] khouloudbelguith commented on #16130
@agalussio, I just re-opened the issue.
Waiting for your feedback.

[2020-02-20 08:59] TomanDesign opened #17753 "[Webservice] Get order returns"
I can't even find way to get order return list through prestashop API. Resource of type "order_returns" does not exists.

[2020-02-20 09:01] maofree commented on #17739
@Hlavtox
so it is a good solution that one suggested. On 1.7.x the combinations have an own page so it is necessary to add the id product attribute to it like in the google shopping feed passed to google merchant center

[2020-02-20 09:24] zuk3975 opened #17755 "Wrong shipping in BO order view page"
**Describe the bug**
Shipping price in Back Office order view page differs from Front Office for same order. Occurs in both legacy and migrated pages.
** NOTE ** Its associated with demo data. (the fixtures). With new order it works as expected

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Orders->select order to view-> find products block
2. Check Shipping price
3. Go to Front offic

[2020-02-20 09:30] NeOMakinG commented on #16688
Would love to work on this when I'll have free time if it hasn't been done yet

[2020-02-20 09:30] zuk3975 commented on #17755
It only occurs with dummy data (the fixtures).
If i create the order myself its working fine.

[2020-02-20 09:30] agalussio commented on #16130
Thanks @khouloudbelguith
I don't know why the mistake would occur. I read a lot of topics on category positions and faceted search but I couldn't figure it out.
The order in the BO works fine and if I change the position of the products it works too.
The problem is if I activate the faceted search and it is solved when I deactivate it.

I hope someone can help me

[2020-02-20 09:34] Flower7C3 commented on #15268
@HartLarsson I do not know. I am not PrestaShop core developer. And I do not know this system well.

[2020-02-20 09:34] NeOMakinG commented on #16475
Well since we don't have modified tinymce anymore, this library can be easily added to our package.json now with something like "tinymce": "4.9.8", this issue is one of my goal in the next months as we spoke with @eternoendless

[2020-02-20 09:35] khouloudbelguith commented on #17277
Hi @ocaste,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-20 09:35] #17277 closed, assigned to nobody

[2020-02-20 09:37] ttoine commented on #16475
@NeOMakinG there are also Cropper, File uploader, and PHP SQL parser that are in the core repository. Do you think it would possible to do the same work with those dependencies?

[2020-02-20 09:40] NeOMakinG commented on #16475
We've a tweak for Fileuploader to make it compatible with recent tinymce version, if we wants to use it as a simple dependency, we should update it and it's seems a strong breaking change as they changed a lot of things on their project, I don't know at all for PHP SQL Parser :/

[2020-02-20 09:44] florine2623 commented on #17751
Hi @stevearmen ,
Can you change your PHP version to 7.2 ?
You can see the compatibility chart here : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Please check and give us feedback, thanks.

[2020-02-20 09:48] matks commented on #16688
It has not been done yet indeed.

[2020-02-20 10:22] khouloudbelguith commented on #17755
Hi @zuk3975,

In fact, I have this issue only with orders created by default during the installation PS1.7.6.3 and 1.7.7.x branch.
Is this the exact issue? the order by default?

When I create a new order manually with the same product, it is OK.

Thanks!

[2020-02-20 10:24] zuk3975 commented on #17755
Yes, its the same issue.
I guess its not urgent, but still important for development, so could be fixed at some point.

[2020-02-20 10:31] khouloudbelguith commented on #17753
Hi @TomanDesign,

Thanks for the report.
I have the same behavior as PS1.7.6.3.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?
Can we add `order_returns` to PrestaShop Webservice?

Thanks!

[2020-02-20 10:37] khouloudbelguith commented on #13006
Hi @michjoh,

Thanks for the PR.
I will re-open this issue.
I will add it to our bug roadmap.

Thanks!

[2020-02-20 10:40] florine2623 commented on #17750
Hi @BenTen ,
Thanks for your request, a similar issue already exists. I will close this issue.
You can find more info on that issue : https://github.com/PrestaShop/PrestaShop/issues/13006
Thanks

[2020-02-20 10:40] #17750 closed, assigned to nobody

[2020-02-20 10:41] florine2623 commented on #17750
Duplicate of #13006

[2020-02-20 10:56] Hlavtox commented on #17729
@jolelievre @eternoendless @matks Found another issue.

**Situation**
- You have product with product->price **164,876015**. With tax **199,49997815**‬.
- Correct price, and the price displayed in FO is **199 Kč**.
- You order it, it shows **199 Kč** everywhere EXCEPT ps_emailalerts, which shows **200 Kč**.

**Cause**
1. Tools::displayPrice($unit_price, $currency, false). You need the price >>
2.

[2020-02-20 11:00] khouloudbelguith commented on #17748
Hi @FranGhe,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.3.
You can use this [example](https://github.com/PrestaShop/PrestaShop-webservice-lib/blob/master/examples/Create.php) to create a product via webservice.

I think that your script is missing some data.
For example:

- advanced_stock_management
- low_stock_alert
- minimal_quantity
- available_for_order
- act

[2020-02-20 11:17] BenTen commented on #13006
I write here what I wrote on #17750

[2020-02-20 11:22] khouloudbelguith commented on #16130
@agalussio, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.6.3 and the ps_facetedsearch module v3.4.1.
I attached a screen record
https://drive.google.com/file/d/1cQjMHMS7gb1E1JOLQDBJb_3i68kAEOCk/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- debug mode repo

[2020-02-20 11:27] khouloudbelguith commented on #17755
@zuk3975, thanks your feedback.
I manage to reproduce the issue with PS1.7.5.2, PS1.7.6.3, and 1.7.7.x branch.

I will add this issue to our bug roadmap.

Thanks!

[2020-02-20 11:29] khouloudbelguith commented on #17755
Ping @colinegin, @MatShir, @matks, this issue could be fixed in the 1.7.7.0?

Thanks!

[2020-02-20 11:34] florine2623 commented on #17574
Thanks for your feedback. The error 500 is too vague, could you activate debug mode and PHP error log please ? And send a screenshot.
https://build.prestashop.com/howtos/misc/how-to-create-bug-report/
Thanks!

[2020-02-20 11:40] FranGhe commented on #17748
Same problem... I have had write less code to have a minimal adding, but now I have write this code and the problem persist:
[code]
Have you a "PrestaShop fiddle" so we can try?

[2020-02-20 12:29] tristanbenier commented on #9594
Hi there,

I am on Prestashop 1.7.6.1 and the problem occurs randomly.
@COCOPOT I have only one payment module, which is not Paypal.

I also have the "recommended" configuration for price rounding calculation.

[code]

[2020-02-20 13:00] #17268 closed, assigned to zuk3975

[2020-02-20 13:03] Progi1984 commented on #17695
Fixed in #17700

[2020-02-20 13:03] #17695 closed, assigned to atomiix

[2020-02-20 13:11] photinia73 opened #17758 "Unpossible to change style in the pages (non-shop)"
Hello!
In the Design->Pages I try all possible css style to change text layout in the table row.
But any formatting do not have result. I want my text lay in the middle of the row
<td align="center" style="vertical-align: bottom; background-color: #e9e6e6;">
<h3 id="components">Компоненты умного дома</h3>
</td>
But in the browser the text is top of the row

![image](https://user-images.githubuserc

[2020-02-20 13:14] sharkooon opened #17759 "Email template preview 403 error"
Cannot preview email templates from admin statusses when click on preview.
<img width="1064" src="https://user-images.githubusercontent.com/533123/74936484-81999480-53ea-11ea-8fe2-de6c228d26ba.png">

Getting this error:
<img width="1002" alt="Schermafbeelding 2020-02-20 om 14 11 28" src="https://user-images.githubusercontent.com/533123/74936726-fbca1900-53ea-11ea-947f-bc928b47e25c.png">

Temporary

[2020-02-20 13:15] khouloudbelguith commented on #17748
@FranGhe,

No!

About your issue, it is ok in my case.
I attached a screen record
https://drive.google.com/file/d/1ZBD_Z95qAvi9VFlQWBWoPBX3lBozpexa/view

I used this script
[code]

Thanks to check & feedback.

[2020-02-20 13:30] khouloudbelguith commented on #17622
@alexberanger, thanks for your feedback.
I edited the file `/classes/uploaded.php`

[code]

When I try to submit a correct file or an incorrect file => there is no message displayed.
I attached a screen record
https://drive.google.com/file/d/1dMHZMXtMZn4RS8IVuHQ5nVpptzXLTmcT/view

Thanks to check & feedback.

[2020-02-20 13:43] florine2623 commented on #17758
Hello @photinia73,
I can't reproduce the error on PS 1.7.6.3. Here's the result :
![Capture d’écran 2020-02-20 à 14 40 26](https://user-images.githubusercontent.com/16019289/74938778-f66ecd80-53ee-11ea-8114-0e8cbe0a57bc.png)
I used the following element in table HTML:
[code]
Please check and give me feedback!

[2020-02-20 13:53] florine2623 commented on #17759
Hi @sharkooon ,
I manage to reproduce the issue with PrestaShop version 1.7.5.2 and 1.7.6.3.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-02-20 13:58] photinia73 commented on #17758
Unfortunately I have PS 1.7.5.2 You code don`t help ((Just the width of the table changed, but not vertical align (( З повагоюКричмарівська Світлана От: florine2623Отправлено: четверг, 20 февраля 2020 г. в 15:43Кому: PrestaShop/PrestaShopКопия: photinia73; MentionТема: Re: [PrestaShop/PrestaShop] Unpossible to change style in the pages (non-shop) (#17758) Hello @photinia73,I can't reproduce the er

[2020-02-20 14:03] arouiadib commented on #17707
@caos30 Happy you managed to use the contact form module :), you are welcome

[2020-02-20 14:05] photinia73 commented on #17758
Unfortunately I have PS 1.7.5.2
You code don`t help ((
Just the width of the table changed, but not vertical align ((

![image](https://user-images.githubusercontent.com/50954519/74940927-df35dd00-53fa-11ea-89ab-c07c46555e75.png)

[2020-02-20 14:07] photinia73 commented on #17758
The PS 1.6.3 is stable?

[2020-02-20 14:23] khouloudbelguith commented on #17758
Hi @photinia73, I tried in my case also with PS1.7.6.3
I used this Source code

[code]
It is well displayed
![image](https://user-images.githubusercontent.com/16067358/74942270-66cc1d80-53f4-11ea-8715-bbd690171470.png)

FO:
![image](https://user-images.githubusercontent.com/16067358/74942523-751a3980-53f4-11ea-9219-8cb16dab6332.png)

ps1.7.6.3, it is the last version PrestaShop stable.

I tried wi

[2020-02-20 14:41] lolath-presta opened #17760 "Gift card - TVA is not displayed on the invoice when i buy a product"
**Describe the bug**
Nous avons remarqué un problème de facturation lorsqu'un client paie avec une carte cadeau : la TVA n'apparaît jamais sur les facture.

Explication plus précise :
Lorsque l'on achète une Gift Card : Pas de TVA --> Normal car TVA à 0%
Lorsque l'on utilise la Gift Card achetée : pas de TVA sur la facture --> Pas normal
Le plus étrange, c'est que c'est bien le montant TTC qui est

[2020-02-20 14:49] Hlavtox commented on #17755
What is wrong with this? It's just an order created with an old carrier and a price of 2 EUR. 😄

[2020-02-20 14:51] khouloudbelguith commented on #17760
Hi @lolath-presta,

As a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-20 14:52] Hlavtox commented on #17729
@jolelievre @eternoendless @matks @khouloudbelguith

BTW: Why is this issue minor and for example https://github.com/PrestaShop/PrestaShop/issues/17747 is major?

I think it's more important to calculate money correctly and have correct invoices than to say "DON'T PUT NEGATIVE DISCOUNTS' to employees 😒.

[2020-02-20 14:52] colinegin commented on #17755
@marionf do you think it would be easy to modify the fixtures on our side ?

[2020-02-20 14:53] khouloudbelguith commented on #17729
@Hlavtox, you can follow this [link](https://build.prestashop.com/news/severity-classification/) to introduce the bug severity classification.

Thanks!

[2020-02-20 14:55] colinegin opened #17761 "Shipping block missing in the Add a product block"
There is a feature regression on the 177x branch, on the order page > view order > add product.

When adding a product to a "payment accepted" order, if choosing the option "create a new invoice", there should be a new block displayed to define shipping information for the new invoice. This was available in the legacy page :
![image](https://user-images.githubusercontent.com/35263827/74948726-ff66

[2020-02-20 14:55] Hlavtox commented on #17729
@khouloudbelguith Thank you so much! I think you have the severity wrong.

_Major
The bug affects major functionality or major data and there is a workaround, but it is not obvious or can be difficult to put in practice.

A major issue affects a large percentage of users (> 30%) and matches at least one of the following:
    It impacts law compliance
Examples:
    Impacts the price the customer pa

[2020-02-20 14:55] colinegin commented on #17761
ping @Robin-Fischer-PS

[2020-02-20 14:58] Hlavtox commented on #14752
@MatShir

It's like 5 lines of code and a database column.
You don't have to add the eye icon.

[2020-02-20 14:59] #17311 closed, assigned to atomiix, MatShir

[2020-02-20 15:00] Hlavtox commented on #17747
Isn't this the same as this? https://github.com/PrestaShop/PrestaShop/issues/13809

[2020-02-20 15:02] alexberanger commented on #17622
Your results are not what I expected.

Do your test form have those attributes ?
- enctype="multipart/form-data"
- method="POST"

Please, to get the same results, can you just have one PHP file containing the form and the PHP logic checking that form, following what I previously sent to you?

The goals are:
- "Filetype not allowed" error shown when the submitted file is not a .PNG.
- "No file was

[2020-02-20 15:04] photinia73 commented on #17758
Yes, it work without tad <h3></h3> ((
With this tag it looking
![image](https://user-images.githubusercontent.com/50954519/74947114-0d1f1f80-5403-11ea-971e-c5366bb01771.png)

[2020-02-20 15:08] photinia73 commented on #17758
But it look good enough with TH instead TD
Thank you, find the problem. Will try the 1.7.6.3 ))

[2020-02-20 15:08] khouloudbelguith commented on #17729
Ping @marionf what do you think?

PS: the price is well displayed in the FO and it is well displayed in the BO.
FO:
![image](https://user-images.githubusercontent.com/16067358/74947398-14dac600-53fb-11ea-92a9-efda95f24814.png)
BO: Migrated order page
![image](https://user-images.githubusercontent.com/16067358/74947420-1e642e00-53fb-11ea-8ecf-2cb2eb6c69d6.png)
BO: Legacy page
![image](https://user-

[2020-02-20 15:09] lolath-presta commented on #17760
Hello,
The problem cannot be fixed by the module team because it is a problem when you purchase an item with gift card...

[2020-02-20 15:11] matks commented on #12925
Note to myself: let's wrap all data needed by the layout into one big Query

[2020-02-20 15:11] lolath-presta commented on #17760
I am the product manager from the module team at prestashop. I saw with my dev team today and they told me that it's a cart rule problem, so a CORE bug.

Could you open the ticket please ?

[2020-02-20 15:11] Hlavtox commented on #17729
@khouloudbelguith

I AM TALKING ABOUT THE DATABASE ENTRIES!!!!!!!! I SEE IT IS ROUNDED.

Just read the fucking thread again. I think I came from Mars now.

[2020-02-20 15:11] khouloudbelguith commented on #17747
Hi @Hlavtox,

We have different exceptions:
#13809: Property Order->total_paid is not valid
#17747: Property CartRule->reduction_prcent is not valid / Property Order->total_discounts is not valid

They are not similar but they are just related.

Thanks!

[2020-02-20 15:13] khouloudbelguith commented on #17760
@lolath-presta, Yes, of course!

Sorry about the closing!
I just re-opened the issue.

Thanks!

[2020-02-20 15:16] khouloudbelguith commented on #17760
@lolath-presta, Could you please provide me the gift card module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2020-02-20 15:21] khouloudbelguith commented on #17758
@photinia73, since it is fixed.

I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-20 15:21] #17758 closed, assigned to nobody

[2020-02-20 15:22] marsaldev commented on #17729
@Hlavtox I think that we appreciate your help, but this is not the right way to talk... Manners first, even more if is a woman.
Please, revise your tone and be more calm...
At this side we're not robot, but human like you... People can wrong, so be quite.

[2020-02-20 15:34] Hlavtox commented on #17729
@marsaldev How would you feel when every second issue you create is marked as duplicate with some nonsense that has nothing to do with it?

How would you feel when you need to text everything 10 times because somebody does not read?

How would you feel when simple stuff is marked as Major, important stuff regarding money is marked Minor and on your question, you get sent some stupid link you have

[2020-02-20 15:36] FranGhe commented on #17748
I have solved... and I think that is a bug of Prestashop or PSWebServiceLibrary
With my original code I get ALL ATTRIBUTE of the product blank shema
[code]
I edit only some attribute
[code]
I send my new xml (attribute edited and other attribute received) to Prestashop.
[code]
The problem is in the result that I have from get([...]);
The tag inside $fieldsXML have a format like (for example) <weig

[2020-02-20 15:41] eternoendless commented on #17308
Wordings have been extracted successfully

Fixed by #17763 (see https://github.com/PrestaShop/PrestaShop/pull/17763/files#diff-6b8ed13d2d0db06f5c207633065e8f48R1178)

[2020-02-20 15:47] idnovate opened #17764 "Mail with prices with taxes/no taxes mixed"
**Describe the bug**
'order_conf' mail template displays the order summary, and prices tax are mixed.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a customer group with "No taxes"
![image](https://user-images.githubusercontent.com/15104724/74950548-92083a00-53ff-11ea-81d2-0903c12ae058.png)

2. Create a coupon code with 1€ "No taxes"
![image](https://user-images.githubusercontent

[2020-02-20 15:55] marionf commented on #17755
PR: https://github.com/PrestaShop/PrestaShop/pull/17765

[2020-02-20 16:02] Progi1984 commented on #17551
Fixed by #17568

[2020-02-20 16:02] #17551 closed, assigned to atomiix

[2020-02-20 16:25] agalussio commented on #16130
PHP configuration: https://mayorista-ropa.es/info.php

I checked and there are no mistakes. But I also asked my hosting provider to analyze it for me and he sees no errors either.

No errors in the logs apache,Php, debug mode either.
Also not in javascript console log

I have a development server that has the same problem. If there's a private way I can give you access to see it.

[2020-02-20 16:39] ttoine commented on #17729
@Hlavtox, please follow the Code of Conduct.
https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md

Being agressive and insultant will not help. Please keep also in mind that we are exchanging in English here as a common language, while not all people are native English speakers. So there can be understanding problems, vocabulary problems, and different point of views about the

[2020-02-20 16:42] Jenci666 commented on #12687
Hi Maniot

I have just realized that there is another file alltogether 4 what needs to be modified in order to get the same results as I got. Try to set back everything as it was and follow my guide to modify 3 files and create 1.

I have updated my first post...

I have been sruggling with the same issue a long time, I am sure that it should work for you too.

You will need to modify the product-

[2020-02-20 16:45] Max84 opened #17766 "Specific price applied to all stores"
**Describe the bug**
If you want to apply a specific price to all shop and to a customer group together, the price is wrong on front-office.

**To Reproduce**
Steps to reproduce the behavior:
Two ways in fact:
1) Use multistore and try to add a specific price to a product **for all store  AND for a customer group**. Price on front office is false.
2) If you don't use multistore and you programmati

[2020-02-20 16:53] ecoguido opened #17768 "Prestashop 1.7.6.3. Modules Hook is Missing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2020-02-20 16:55] ecoguido commented on #17768
In prestashop 1.7.6.3 is not possible to edit the content of modules, modules hook is missing. How to edit the content of each modules please?

[2020-02-20 17:03] khouloudbelguith commented on #16130
@agalussio, sorry, but we must first try to reproduce your issue.
Did you use a custom theme? your module is it overriten by your theme?

tHANKS!

[2020-02-20 17:04] agalussio commented on #16130
It happens in the classic theme, panda and alysum

[2020-02-20 17:04] Gipielle commented on #11038
Upvote !

[2020-02-20 17:05] agalussio commented on #16130
No override on modules

[2020-02-20 17:05] khouloudbelguith commented on #17768
Hi @ecoguido,

Thanks for your report.
In your case, it is not possible to configure a module?
![image](https://user-images.githubusercontent.com/16067358/74959843-98041800-540b-11ea-8cca-07f18fec8405.png)

Thanks!

[2020-02-20 17:07] Gipielle commented on #11038
It is possible to use the same operation that uses the site under maintenance but on the contrary, you could integrate it very quickly. It would be a great thing!

Thank you

[2020-02-20 17:19] khouloudbelguith commented on #17766
Hi @Max84,

I did not manage to reproduce the issue with PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/1_-UJafNdGWu6Jhg5k2rMFJW-rzLVNwIM/view

Thanks to check & feedback.

[2020-02-20 19:56] maniot commented on #12687
@Jenci666 / @maofree ,
Finally i managed to get it right so that it's accepted by Facebook ads by adding `<meta itemprop="productID" content="{$product.id}{if isset($product.id_product_attribute) && $product.id_product_attribute}-{$product.id_product_attribute}{/if}" />` in product-details.tpl
so i think my problem is solved, probably not as it should be done and not for all pages but it works.
Th

[2020-02-20 20:31] maofree commented on #12687
@maniot
good news
can you create a new topic on github to ask to prestashop to fix this problem?

[2020-02-20 20:42] Hlavtox commented on #17673
@jf-viguier @LouiseBonnard @ttoine @micka-fdz

SVG's would be amazing, but watch out for the styling. I think there would need to be some kind of mechanism that will “clean” the inside of the SVG. There could be dimensions hardcoded, weird viewboxes set and all kinds of stuff...

It is very hard to make it properly responsive and working in all browsers. I was putting some brand logos to footer an

[2020-02-20 20:54] Hlavtox opened #17769 "Recalculate totals on order change"
Hi guys, I was browsing the code for the migrated admin order page and there is still a lot of code that could (and does) cause trouble.

Whatever changes you do, add or remove products, add or remove discounts, it adds or subtracts the amounts from the order and invoice. But this creates room for errors, negative totals, rounding errors, because it works with rounded values. (Like https://github.

[2020-02-20 21:34] caos30 opened #17770 "DataLayerException: Unable to persist data in cache data layer"
**Description the bug**
After change some settings at Admin panel, AGAIN (in the same week see [this other issue](https://github.com/PrestaShop/PrestaShop/issues/17707)) appears on browser the same error:

[code]

This error appears on the frontend, in any section i try to visit. In the Admin panel now appears always a 500 error:
[code]

The most strange thing is that the error on browser is the s

[2020-02-20 21:35] caos30 commented on #17707
Indeed, i've got again the same cache error reported at the start of this issue, but making other changes on settings related with cache and debug mode. I opened [another issue](https://github.com/PrestaShop/PrestaShop/issues/17770).

[2020-02-21 07:08] Jenci666 commented on #12687
@maniot

Great news, I am glad you managed :)

[2020-02-21 07:31] khouloudbelguith commented on #17769
Hi @Hlavtox,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team,  @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-02-21 07:44] Gipielle commented on #11038
I have found this:
https://www.matthieu-jalbert.fr/activer-le-mode-debug-par-adresse-ip-sur-prestashop/

but make a flag in prestashop backoffice will be a lot better

[2020-02-21 07:49] web-plus commented on #16628
Hello,

do you think you can add also displayHeaderCategory hook? It would be great for my module, which displays top sellers for each category.

Thank you!

[2020-02-21 07:53] ecoguido commented on #17768
Hi,
Thank you for your response. These configure allow me to change thinks like display or not the module, change the size of it; but there is no option for editing the content of this module. Apparently, the current version of presta no longer have hook manager (https://www.sunnytoo.com/forums/topic/hook-position-missing). The previous version was so easy to edit each module / part of home page.

[2020-02-21 08:18] Max84 commented on #17766
Hi @khouloudbelguith

Please could you try to create a customer group with ID 4?
After your screen record, i tried again. You can see it here. On this video, with group ID 6, it's OK.
Just after, I tried with group ID 4.
https://drive.google.com/file/d/1BrrCuM634mhCK6C_C4R47uMG_x1P_cxJ/view?usp=sharing

And the behavior is very strange. It doesn't happen with group with another id than "4".
I don'

[2020-02-21 08:29] Progi1984 commented on #17615
Fixed by #17702

[2020-02-21 08:29] #17615 closed, assigned to matthieu-rolland

[2020-02-21 08:30] maca91 opened #17771 "[FIXED] [gsitemap] Hi, why in my sitemap, there aren't links about manufacturers?"
**Describe the bug**
In my sitemap I don't have the urls about manufacturer, for example:
https://www.grelaparfum.it/brand/72-acqua-di-parma.
They are very important for my SEO.

The module configuration, seem correct!

This, is my sitemap:
https://www.grelaparfum.it/1_it_0_sitemap.xml

**Screenshots**
Mine configuration:
![image](https://user-images.githubusercontent.com/1758730/75016875-3afc7680

[2020-02-21 08:33] #16435 closed, assigned to LouiseBonnard

[2020-02-21 08:36] khouloudbelguith commented on #17760
Hi @lolath-presta,

I manage to reproduce the issue with PS1.7.6.3 and PS1.7.5.2 using Gift card ùmodule v1.0.8 & v1.1.0.
![image](https://user-images.githubusercontent.com/16067358/75017415-3edcc880-548d-11ea-85f6-b96b495fef36.png)

I’ll add this to the debug roadmap.
Ping @PrestaShop/prestashop-product-team what do you think of the priority of this issue?

Thanks!

[2020-02-21 08:51] khouloudbelguith commented on #17768
@ecoguido, thanks for these clarifications.
Thanks to navigate to your BO => Design => Positions page.
You Can click on the "Transplant module" button, you will be redirected to `Transplant a module` page.
![image](https://user-images.githubusercontent.com/16067358/75018625-9e3bd800-548f-11ea-9b8b-bf1e377143fc.png)

Thanks to check & feedback.

[2020-02-21 09:10] igallego-webimpacto commented on #16939
Hello @khouloudbelguith when is expected to have a fix for the issue of the url_name that as today is completely removed? We have the same problem as @k0lv and for us is a big problem touching the core to try to fix this issue because we want to stay as standard as possible to update the PS always.

[2020-02-21 09:11] jf-viguier commented on #11038
I've posted a pr to support ip V6 et ip subnet masks in maintenance ip. This feathure should also support it : https://github.com/PrestaShop/PrestaShop/pull/16876

[2020-02-21 09:14] maca91 commented on #17771
FIXED using:
https://github.com/PrestaShop/gsitemap/pull/126

[2020-02-21 09:22] khouloudbelguith commented on #16939
Hi @igallego-webimpacto,

Ping @PrestaShop/prestashop-product-team what do you think about the priority of this issue?

Thanks!

[2020-02-21 09:28] ManeeshTiwari01 commented on #17345
I am using ps 1.7.6.3 I have the same problem. but when I updated my core.js file it is working fine.

(".quickview .product-variants .page-product:not(.modal-open) .row .product-variants").replaceWith(e.product_variants),
if you check this code above in core.js you can see that there is a typo...a coma is missing after .product-variants

so it should be

(".quickview .product-variants, .page-prod

[2020-02-21 09:36] khouloudbelguith commented on #17771
Hi @maca91,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2 and the `gsitemap` module v4.1.0.
It was ok with `gsitemap` module v3.2.2.
![image](https://user-images.githubusercontent.com/16067358/75022233-ff66aa00-5495-11ea-9493-1a1490a28e5d.png)

I will re-open the issue sine the PR not merged yet.

Thanks!

[2020-02-21 09:41] Robin-Fischer-PS opened #17773 "Create order : Shipping is tax incl instead of excl"
**Describe the bug**
On the new migrated create order page (/sell/orders/orders/new), in the summary of the order, the "Total shipping" is displayed tax incl., but according to the label (and to Legacy page), it should be tax excl.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Create Order migrated page
2. Add a product, and a shipping (not free)
3. See Summary : Shipping is displaye

[2020-02-21 09:43] robi-bobi commented on #15291
Hi, I see that there are some events on this ticket, could you let me know what is the latest status on this and if still open, is this planned for a future release and if so, which one?

Thank you!

[2020-02-21 09:53] PrestaShark commented on #17345
Sorry "comma" solution with disabled option to not show unavailable product combinations works like below

https://drive.google.com/file/d/1WdxLjbqnQoZ5E8MfIxFkkWxGWdQ7fmo3/view?usp=sharing

[2020-02-21 09:58] khouloudbelguith commented on #17766
@Max84, It is ok with a Group customer ID =4.
I attached a screen record
https://drive.google.com/file/d/1SjqF1HdXmLoxvxcY3oYq_qyZsqEQFZ_2/view

Thanks!

[2020-02-21 10:04] TristanLDD opened #17774 "Fix Display Bug on Tabs in BO"
There is a display bug on all migrated pages using tabs:

![Capture d’écran 2020-02-21 à 10 58 46](https://user-images.githubusercontent.com/27484094/75024120-37bbb780-5499-11ea-9673-57cac53b54ce.png)

It seems to be linked to the notifications we have in Module manager:

![Capture d’écran 2020-02-21 à 10 52 35](https://user-images.githubusercontent.com/27484094/75024495-c9c3c000-5499-11ea-99d

[2020-02-21 10:34] ManeeshTiwari01 commented on #17345
It's working for me.
check this link

https://www.loom.com/share/8de02a51b17642d4b9076aa7cce3e92b

Best Regards
Maneesh Tiwari

[2020-02-21 10:35] matks commented on #14752
No it's not 5 lines of code and a database column. If you add "5 lines of code and a database column" you will see what you want to see but you will introduce multiple behavior changes that will have side-effects on other BO pages and might create issues with existing modules behavior.

Please trust us when we say "a filter on the droplist seems to add too much complexity". It means we actually ex

[2020-02-21 10:47] khouloudbelguith commented on #17764
Hi @idnovate,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.3 and PS1.7.5.2 and 1.7.7.x branch.
![image](https://user-images.githubusercontent.com/16067358/75027780-6d639f00-549f-11ea-9ed5-1195f402145d.png)
In the BO => Orders details page and in the FO => OK
BO: ![image](https://user-images.githubusercontent.com/16067358/75028008-c6cbce00-549f-11ea-9e9f-f3214b5a56bb.png)

[2020-02-21 10:48] Hlavtox commented on #14752
@matks I have done this mod a long time ago and it works fine (in my case). That's why I proposed it here.

My previous comment was on a basis of me looking through the code, because if I'm not overseeing anything, the function is used only on 2 places.
1. To show order states employee can choose from when updating order state.
2. To show initial order states when creating order in BO.
That's I wa

[2020-02-21 10:50] PrestaShark commented on #17345
Do You have exact setup as below?
![presta1](https://user-images.githubusercontent.com/8243273/75028243-380b8100-54a0-11ea-828c-02a795e86076.jpg)

Preferences -> Produtcts -> Product page
(Display unavailable product attributes on product page set as NO)
![presta2](https://user-images.githubusercontent.com/8243273/75028257-3cd03500-54a0-11ea-9bd8-b9a0df21ae18.jpg)

[2020-02-21 10:56] Hlavtox commented on #17042
@khouloudbelguith I found out that the cause of this issue was a bad-written module.

I have searched the code and there are multiple places, where Prestashop detects, if it's BO or FO by checking the $context->employee variable.

Would you ask the developers, if it would be good to add additional checks to these places? Or to change the way it detects the FO and BO. Or, it's a user's problem if h

[2020-02-21 11:00] khouloudbelguith commented on #17774
Hi @TristanLDD,

Same issue with PS1.7.5.2 and PS1.7.6.3.
I tried with 1.7.7.x branch => OK
![image](https://user-images.githubusercontent.com/16067358/75028859-56be4780-54a1-11ea-93b7-3e841f585782.png)
![image](https://user-images.githubusercontent.com/16067358/75028873-5c1b9200-54a1-11ea-966c-ab74a14b618e.png)

Thanks!

[2020-02-21 11:00] Hlavtox commented on #17521
@khouloudbelguith The issue you referenced seems to be the same as the PROBLEM 1.

Do you think there is an issue for PROBLEM 2? I think there should not be the language selector, if there is only 1 active language.

Or mayyyyybe. What if you want to add second language to your store, but you want to prepare the texts first, before you activate it in FO. I think there should be maybe option for th

[2020-02-21 11:05] khouloudbelguith commented on #17521
Hi @Hlavtox,

Thanks for your feedback and for your suggestions.
Our product team should specify these cases.
Since this issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/16626#issuecomment-560309227, I will close it.
Please follow https://github.com/PrestaShop/PrestaShop/issues/16626 and you can add your suggestions.

Thanks!

[2020-02-21 11:05] #17521 closed, assigned to nobody

[2020-02-21 11:07] TristanLDD commented on #17774
Oh I didn't know it has been fixed in 1.7.7, good news! Thanks @khouloudbelguith

[2020-02-21 11:09] khouloudbelguith commented on #17521
Duplicate of #16626

[2020-02-21 11:10] khouloudbelguith commented on #17774
@TristanLDD, since it is fixed, I will close the issue.

Thanks!

[2020-02-21 11:10] #17774 closed, assigned to nobody

[2020-02-21 11:13] khouloudbelguith commented on #17042
@Hlavtox,

So, this issue is caused by a custom module?
What is the exact name of this module?

Thanks!

[2020-02-21 11:13] gcurco opened #17776 "Related product and color selector bug?"
Hi,

I am very confused, I used prestashop just two times, and I have a problem in my Site, and I don't know if it is a bug.

In my product page, when I select a color variation, if there is a related product, the site changes de page to the related product. That is so strange. Any solution?

Sorry if there is a similar issue opened. Thanks.

[2020-02-21 11:20] khouloudbelguith commented on #17770
Hi @caos30,

Thanks for your report.

So, when the debug mode enabled, in the FO => you have this exception?
![image](https://user-images.githubusercontent.com/16067358/75030387-48bdf600-54a4-11ea-86fe-42b812cfba1c.png)

Disable all overrides -> YES

those two options don't work in Prestashop as reported here:

- https://github.com/PrestaShop/PrestaShop/issues/9965
- https://github.com/PrestaShop/

[2020-02-21 11:24] khouloudbelguith commented on #17776
Hi @gcurco,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15531 to fix the issue.
Your ticket is a duplicate of #9919
So, I close it.
Thanks!

[2020-02-21 11:24] #17776 closed, assigned to nobody

[2020-02-21 11:24] khouloudbelguith commented on #17776
Duplicate of #9919

[2020-02-21 11:28] khouloudbelguith commented on #16130
@agalussio, could you please try to re-install the `ps_facetedsearch` module with removing the folder, clear cache, check and feedback.

Thanks!

[2020-02-21 11:29] Hlavtox commented on #17042
@khouloudbelguith Yes. This module is not on PS Addons.

I asked the developer and he said that the line.
`$this->context->employee = new Employee(0);`
was there, because getPriceStatic in Product.php somehow did not work properly in older versions of Prestashop without this.

Nobody noticed this bug in years, because no other restrictions than carrier|payment are much used, and carrier|payment ha

[2020-02-21 11:33] Hlavtox commented on #15954
@MatShir @matks @Robin-Fischer-PS

I see the page stayed the same after migration... :( https://github.com/PrestaShop/PrestaShop/issues/17773

99% of merchants work with prices with tax, displaying prices without taxes makes no sense. Personal opinion - Employees and the merchant does not need the admin to be nice, it has to be powerful and have all the stuff.

Wouldn't this be better guys? :-)

!

[2020-02-21 11:35] LouiseBonnard commented on #17673
Hi @Hlavtox, thanks for sharing your experience, it's very interesting. I'm not in favor of allowing the SVG format only for the shop logo but, perhaps, more broadly in the software. But it needs to be studied functionally and technically as part of a bigger topic regarding the image formats... to be continued!

[2020-02-21 11:37] khouloudbelguith commented on #17042
@Hlavtox, thanks!

$this->context->employee = new Employee(0);

This line is added by your module so I think, it is a module issue.

Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-02-21 12:04] khouloudbelguith commented on #17622
@alexberanger, sorry, yes you are right `method="POST"` is missing.
Without any modification in the `classes/Uploaded.php`

This issue is reproduced with PS1.7.6.3 and PS1.7.5.2.

- "Filetype not allowed" error shown when the submitted file is not a .PNG. => error well displayed => OK
- "No file was uploaded" error shown when no file was submitted. => NOK, the error displayed is "Filetype not allo

[2020-02-21 13:10] Max84 commented on #17766
@khouloudbelguith
Strange, I'll check again.
Thanks.

[2020-02-21 13:18] prestascott commented on #16627
Thank you @Hlavtox,

I agree with you about SEO purposes. The more content (keywords, description, links, etc…) a page has, the better it will be referenced on Google.
On the other hand, I don’t think all of our users will need this feature so it is important to give them the option to add and remove the description block as they want.

- If they want, users can add a bottom description block on t

[2020-02-21 13:19] Hlavtox commented on #17042
@khouloudbelguith Yes, it's definitely a module issue. The question is, should Prestashop somehow protect itself against the module behavior? :-)

[2020-02-21 13:26] khouloudbelguith commented on #17042
@Hlavtox, so I need to close this issue since it is a module issue.
I just pinged our devs to answer this question.

What do you think?

Thanks!

[2020-02-21 13:27] khouloudbelguith commented on #17766
@Max84, thanks!
Waiting for your feedback!

[2020-02-21 13:28] Hlavtox commented on #16627
@prestascott Nice, but if the checkbox is disabled, I would hide the text editor, otherwise it has no sense, no?

In this state, the checkbox just occupies additional space above the textarea and adds 1 more click to people who want to add the bottom description. 😎

[2020-02-21 14:00] snovak7 commented on #13074
Just a warning

https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Tools.php#L390
RFC 1918 B is 172.16.0.0/12 and prestaShop matches only 172.16/16 which is incorrect 😄

Excerpt from https://tools.ietf.org/html/rfc1918
     10.0.0.0        -   10.255.255.255  (10/8 prefix)
     172.16.0.0      -   172.31.255.255  (172.16/12 prefix)
     192.168.0.0     -   192.168.255.255 (192.168/16 pr

[2020-02-21 14:28] khouloudbelguith commented on #17748
@FranGhe, thanks for these clarifications.
In fact, I tried with this script
[code]
=> I haven't my new product in catalog->stocks.

When I tried with this script
[code]

=> OK.

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-02-21 14:38] matks commented on #13074
Thanks for the tip !

[2020-02-21 14:46] matks commented on #16491
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16531 for 1.7.7.x and https://github.com/PrestaShop/PrestaShop/pull/16616 for 1.7.6.x

[2020-02-21 14:46] #16491 closed, assigned to nobody

[2020-02-21 14:47] matks commented on #17584
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17613

[2020-02-21 14:47] #17584 closed, assigned to nobody

[2020-02-21 15:24] agalussio commented on #16130
I just uninstalled the module, deleted the ps_facetedsearch folder and reinstalled the module (removing cache - although not in development)
And the same problem remains.

[2020-02-21 15:35] Max84 commented on #17766
@khouloudbelguith

I close this issue. My database was corrupted. A specific price exists with id_product = 0.
I installed again Prestashop, and now I see the same thing than you.

Thanks for you feedback :)

[2020-02-21 15:35] #17766 closed, assigned to nobody

[2020-02-21 15:40] mnapoli commented on #17744
Hi!

Here is what I did to check that out:

- clone this repository
- I am on the `develop` branch
- `rm composer.json composer.lock`
- `mv .prettyci.composer.json composer.json`
- `composer install`
- I run `pretty`

-> Passed. This is the same behavior as on PrettyCI, it looks OK.

But when I tried the same thing for the 1.7.6.x branch I realized there was no `.prettyci.composer.json` file. That

[2020-02-21 15:44] khouloudbelguith commented on #16130
@agalussio, thanks to check the sorting when `ps_facetedsearch` is enabled:
1. The products are sorted in another order or they are just displayed randomly
2. If they are sorted in another order, which this order (Product name, Product price, ..)
3. What is the exact order method used "Ascending" or "Descending"

For example, your products are sorted "Position inside category" but the default orde

[2020-02-21 16:00] agalussio commented on #16130
@khouloudbelguith

1. They are shown at random
2. Just sort it out alphabetically. A to Z - and Z to A.
By price he also orders it wrong.
3. Order products by: Position within the category
Default sort method: Ascending

For example, your products are sorted "Position inside category" but the default order method is "Ascending"?
YES

[2020-02-21 16:09] matks commented on #17744
@mnapoli We encountered multiple different issues, on PRs which target different bases.

**Indeed 1.7.6.x branch has a dedicated set of issues which are most likely related to:**
- no `.prettyci.composer.json` file but we created a PR for that and we have crazy issues https://github.com/PrestaShop/PrestaShop/pull/17721
- 1.7.6.x branch PHP compatibility range is PHP 5.6 to PHP 7.2, which creates i

[2020-02-21 16:12] khouloudbelguith commented on #16130
@agalussio, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Also, you can check manually if this class: https://github.com/PrestaShop/ps_facetedsearch/blob/master/src/Product/SearchProvider.php is not overridden.

Thanks!

[2020-02-21 16:12] matks commented on #17744
Exemples of faulty builds:
- https://github.com/PrestaShop/PrestaShop/pull/17777/checks?check_run_id=460454860
- https://github.com/PrestaShop/PrestaShop/pull/17765/checks?check_run_id=458158728
- https://github.com/PrestaShop/PrestaShop/pull/17711/checks?check_run_id=460415677
- https://github.com/PrestaShop/PrestaShop/pull/17457/checks?check_run_id=460132636

[2020-02-21 16:18] BudrysLP opened #17778 "Automatic indexing of products not working 1.7.6.1"
I noticed that after saving or adding a productpage the automatic index for the search does not work. Its necessary to click on : Add missing products to the index

[2020-02-21 16:25] khouloudbelguith commented on #17778
Hi @BudrysLP,

I did not manage to reproduce the issue with PS1.7.6.1 and PS1.7.6.3.
https://drive.google.com/file/d/1I3Nmcmf5XtLivftsKs1MgmGx3kj5bisE/view
But, it could be your issue similar to those problems:
1. https://github.com/PrestaShop/PrestaShop/issues/15640 not fixed yet.
2. https://github.com/PrestaShop/PrestaShop/issues/10530 fixed in the PS1.7.6.0.
3. https://github.com/PrestaShop/Pre

[2020-02-21 17:44] agalussio commented on #16130
@khouloudbelguith
In debug mode there are no errors. And in the php log there are no errors either. Attached is the log
https://dev.tiendahippie.es/catalogo/dev.log
https://dev.tiendahippie.es/catalogo/error_log.txt

check the overridde classes and there are none from SearchProvider.php

[2020-02-21 18:07] DianaEFB opened #17780 "Multistore- Product feature reappearing with a value from one shop into another in BO"
In BO, when I edit one product, a feature appears with a value corresponding to the second shop. I delete it but it reappears.

Steps to reproduce the behavior:
In multistore after upgrade from 1.6.1.24 to 1.7.6.2 with a MigrationPro module.
1. Go to "Catalog>Product"
2. Click on a product
3. Scroll down to 'Features'
4. See error

Image shows the product is saved with 4 features:
![image](https:/

[2020-02-21 21:11] Nerque opened #17781 "Problem with Image/Label related products in product page - administration panel"
Steps to reproduce the issue:
1. Install PS with English language / France country (you will have two languages)
2. Change the default language to French
3. Disable the English language
4. Change the employee language to FRench
5. Go to the BO => Product page
6. Create two products PRODUCT1 and PRODUCT2.
7. Edit PRODUCT1 and add PRODUCT2 as a related product.
8. Save and exit from the edition of P

[2020-02-22 05:35] MSZXYZDEV opened #17782 "if i click quick access then a new product throws me to the home page"
if i click quick access then a new product throws me to the home page

[2020-02-22 08:32] Nerque commented on #13531
https://github.com/PrestaShop/PrestaShop/issues/17781

[2020-02-22 09:44] Nerque commented on #10998
I have the same doubt as @PierreRambaud.
Forcing the revalidation frequency to 0, in my opinion, is not an acceptable solution.

[2020-02-22 11:08] FaustoBoscaro commented on #14917
This is NOT SOLVED, all my subcategories are desappered and there's no way to show them back!!!!

[2020-02-22 11:09] FaustoBoscaro commented on #14891
This is NOT SOLVED, all my subcategories are desappered and there's no way to show them back!!!!

[2020-02-22 11:10] FaustoBoscaro commented on #14891
This solution cause to my shop worst problems!!!!

[2020-02-22 12:45] FaustoBoscaro opened #17783 "Problems changing the store name (my Shop) prestashop 1.7.6 [Not Solved]"
Hello, after updating prestashop 1.7.5 to 1.7.6, the name of the store was changed to "My Shop"
I tried to change the name in the back office and it didn't change, I went to the database (pr_configuration - PS_SHOP_NAME) to change it from there and it didn't work. I have prestashop 1.7.6 (before with 1.7.5 and if it worked) The name "My Shop" is in the mail and in other sections.
I use the warehou

[2020-02-22 13:24] rblaurin opened #17784 "[New Feature] Allow custom customer and address fields to be selected in Country address format"
**We already have:**
We can add new custom fields for customers and customer address, avoiding overrides, using the hooks additionalCustomerFormFields and additionalCustomerAddressFields.

**We don't have:**
 The new fields will be displayed in front office, but we will not be able to use them for a Country layout (International > Locations > Countries > Edit > Address Format). This way, the newly

[2020-02-22 14:07] davidglezz commented on #13074
My reverse proxy has the IP 172.19.0.2, and fails because `preg_match('/^172\.16.*/i', trim($_SERVER['REMOTE_ADDR']))` does not check the specified range.

[2020-02-22 14:28] Marcelozippo commented on #14917
Hello, thanks for the comment, I solve it, I followed all the steps, but before I made a backup in case it did not work. But it worked for me. Do you have a backup to return everything as it was before? What version of prestashop do you have? PHP? MySQL or Maria? I used in this moment Maria but I don't remember the version and PHP 7.2 in cpanel with apache and nginx. The first thing I would recomm

[2020-02-22 15:37] FaustoBoscaro commented on #14917
I solved from database with this:

INSERT INTO `ps_category_shop` ( `id_category` , `id_shop` , `position` )
SELECT id_category, 1, 0
FROM `ps_category`
WHERE id_category NOT
IN (
SELECT id_category
FROM `ps_category_shop`
)

BUT i think that the bug should not be solved with Multistore!!
The big problem with Multistore is that if you have a lot of subcategories (500 in my store) you can't flag th

[2020-02-22 17:46] gadnis commented on #14003
Ok. No one wants to change this, so I did 😁

Here is pull request: [https://github.com/PrestaShop/ps_facetedsearch/pull/158](https://github.com/PrestaShop/ps_facetedsearch/pull/158)

I hope @marionf @PierreRambaud will approve it, cause other way I will always need to update it my self after new release 😁

![Screen Shot 2020-02-22 at 19 45 49](https://user-images.githubusercontent.com/10948341/750

[2020-02-22 21:35] samberrry opened #17787 "Lack of AdminCustomersControllerCore"
In my module I've overridden the AdminCustomersControllerCore class which was responsible for customer manipulation. Now (I don know in which ps update) this class is removed... and my module does work. I figured out that the class which is responsible now is the CustomerController in PrestaShopBundle.
Why is it changed?
And how can I implement my logic... Is there any way to override this class?

[2020-02-23 08:41] monas commented on #11847
Looks like with Estonian language there is same issue on 1.7.6.3. How it can be fixed?

[2020-02-23 10:42] photinia73 opened #17788 "After upade to 1.7.6.3 in the BO The server returned a "500 Internal Server Error"."
**Describe the bug**

I resolved the problem with GitHub Code. But wont to draw your attantion that this issue was not fixed in the 1.7.6.1 as was announce and it still exist.

After upade to 1.7.6.3 in the BO The server returned a "500 Internal Server Error".
In some menu item like Tool Panel all is Ok, but the accesss to the Catalog or some other menu is have such result
![image](https://user-im

[2020-02-23 12:15] weddingtextile commented on #17318
The table was growing to 100M from 10.02 to 22.02 and now 23.02. it size is 10M.
Is this a standard algorithm?
What condition does a table cleanup?

[2020-02-23 12:44] photinia73 commented on #14617
Hello! What exactly column and where you added? I have the same problem

[2020-02-23 12:53] photinia73 commented on #14617
I installed the ps 1.7.6.3 and have the same error SQLSTATE[42S22]: Column not found: 1054 Unknown column 't0.filter_id' in 'field list' ((

[2020-02-23 13:06] photinia73 commented on #14617
Hello!
I am sorry, But where I have insert this raw? After upgrade I have access only to phpmyadmin, because from SQLSTATE[42S22]: Column not found: 1054 Unknown column 't0.filter_id' in 'field list'

[2020-02-23 18:57] didi-2018 commented on #17584
@matks
I removed:

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('themes/new-theme/public/product_page.css') }}">
{% endblock %}

now dev tools show:

![image](https://user-images.githubusercontent.com/44971218/75117910-0b10c700-5676-11ea-9fa3-74fcc934f727.png)

and the same with removing code:

{% block stylesheets %}
  {{ parent() }}

  <link rel="stylesheet" h

[2020-02-23 21:04] go-sudo commented on #13389
Hello @khouloudbelguith

I enabled the Nginx cache on Plesk and I can't access to Backoffice,

https://www.youtube.com/watch?v=aUyERrz9KH8

Regards

[2020-02-23 22:31] photinia73 opened #17789 "PS 1.7.6.3 e-mail Theme translate"
Hello!

I try to translate some text in the e-mail Theme like discribed here https://github.com/PrestaShop/PrestaShop/pull/14809

But my text is not applied
![image](https://user-images.githubusercontent.com/50954519/75121434-9c932f80-569c-11ea-8feb-6fb2ebe4c2fe.png)

![image](https://user-images.githubusercontent.com/50954519/75121388-2c84a980-569c-11ea-8226-f1e88ec3a8df.png)

And after letter ge

[2020-02-23 22:37] photinia73 commented on #17789
And one else...
If it possible to specify the Logo size for Outllok, because this program show the logo tooo big
![image](https://user-images.githubusercontent.com/50954519/75121558-d6186a80-569d-11ea-927a-eb587dc62f5b.png)

[2020-02-24 02:11] julienrobin28 opened #17791 "1.7.6.3 - Product pictures OK into admin panel, but 404 / not visible for users"
When adding a product, picture is uploaded fine, made available through that link https://www.luoss.fr/prestashop/img/p/2/9/29.jpg and visible from any function of the admin interface (excepted product preview).

When browsing the shop as user, products pictures are not visible. Doing "F12" on firefox show that it tries to access https://www.luoss.fr/prestashop/29-home_default/usb-c-multifunction-

[2020-02-24 07:36] hekep opened #17792 "PHP Fatal error: Uncaught Symfony\Component\Debug\Exception\FatalThrowableError: Call to a member function getAdminLink() on null in /modules/welcome/OnBoarding/Configuration.php:79"
After installation:

2020-02-21T11:31:20.283167683Z [21-Feb-2020 13:31:20 Europe/Helsinki] PHP Warning:  Use of undefined constant _PS_ADMIN_DIR_ - assumed '_PS_ADMIN_DIR_' (this will throw an Error in a future version of PHP) in /modules/welcome/OnBoarding/Configuration.php on line 289
2020-02-21T11:31:20.28321679Z [21-Feb-2020 13:31:20 Europe/Helsinki] PHP Stack trace:
2020-02-21T11:31:20.283273

[2020-02-24 07:38] rahulprbh opened #17793 "Cannot open some of the pages on back-end"
Hello
I dont know what to do but im unable to open some of the page on backend categories,brands,pages,seo, etc please let me know any solution.Here im attaching error log please help me.
Thank You
![Screenshot (21)](https://user-images.githubusercontent.com/61406020/75135143-9afe5180-5706-11ea-8359-4b9d27b4eed0.png)
![Screenshot (22)](https://user-images.githubusercontent.com/61406020/75135146-9c

[2020-02-24 08:13] khouloudbelguith commented on #17312
Hi @mathieuhen,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-24 08:13] #17312 closed, assigned to nobody

[2020-02-24 08:16] khouloudbelguith commented on #17316
Hi @Madstudiobcn,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-24 08:16] #17316 closed, assigned to nobody

[2020-02-24 08:17] khouloudbelguith commented on #16995
Hi @Fixmetal,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-24 08:17] #16995 closed, assigned to nobody

[2020-02-24 08:18] khouloudbelguith commented on #17244
Hi @Lolamycompanero,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-24 08:18] #17244 closed, assigned to sarahdib

[2020-02-24 08:18] khouloudbelguith commented on #17347
Hi @rmilecki,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-24 08:18] #17347 closed, assigned to nobody

[2020-02-24 08:22] khouloudbelguith commented on #17793
Hi @rahulprbh,

This issue is fixed previously as reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/14617
As a Provisional solution thanks to try with this SQL query

Thanks to check & feedback.

[2020-02-24 08:31] khouloudbelguith commented on #17792
Hi @hekep,

Thanks for your report.
What is the exact version of the welcome module did you use?
What is the exact language/country did you use during the install?
Did you download this version from the official link of PrestaShop?

Thanks!

[2020-02-24 08:34] khouloudbelguith commented on #17791
Hi @julienrobin28,

Thanks to navigate to your BO => Design => Image Settings page => scroll down & click on the "Regenerate thumbnails" button.
![image](https://user-images.githubusercontent.com/16067358/73822297-08008480-47f6-11ea-9036-9d10e2a23ed8.png)

Thanks to check & feedback.

[2020-02-24 08:36] khouloudbelguith commented on #17788
Hi @photinia73,

This issue is fixed previously as reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/14617
As a Provisional solution thanks to try with this SQL query

Thanks to check & feedback.

[2020-02-24 08:38] PierreRambaud commented on #14003
@gadnis This option is the same as `Show products from subcategories` only the wording differ :thinking:

[2020-02-24 08:40] gadnis commented on #14003
@PierreRambaud do you talking about php code or just formulation of the switch button title?

[2020-02-24 08:45] matks commented on #17787
@vhessam AdminCustomersControllerCore was removed from PrestaShop in v1.7.6 because the Customers page was migrated to Symfony, as you found out.

As we migrate slowly Back-Office pages to Symfony, we rewrite the controllers, the templates and the Javascript of these pages and delete the old files as they are now disabled.

You can override Symfony Controllers behavior by using routing override: i

[2020-02-24 08:46] mnapoli commented on #17744
Thank you for those links, I will look into this. Random errors are the best kind of errors 😅

[2020-02-24 08:47] PierreRambaud commented on #10998
Because we use `opcache.validate_timestamps=1` in the docker file, which is a bad idea for production mode and symfony. Also, calling `opcache_reset` can be an idea, but when? where? we mustn't add an ugly `if opcache then clear` anywhere :/
Feel free to improve the configuration and create a pull request if you find a better solution :)

[2020-02-24 08:49] hekep commented on #17792
Welcome module version 6.0
Finnish language.
https://github.com/PrestaShop/PrestaShop/releases/download/1.7.6.3/prestashop_1.7.6.3.zip

[2020-02-24 08:50] PierreRambaud commented on #14003
Talking about the behaviour

[2020-02-24 08:53] prestascott commented on #16627
@Hlavtox Like I said, the text editor still appears so users know that if they check the box, it would be enable.
By checking the box, the bottom block appears.

If I leave the text editor without an activation component like above, it means that it will appear by default on the category page. By doing that, users will think that if they leave the text editor blank, it will show an empty box like

[2020-02-24 08:53] gadnis commented on #14003
@PierreRambaud, behaviour is different.
With my option on, merchant can add product to whatever category they want and the product will be shown only in those categories only (not in all the tree with subcategories).

[2020-02-24 09:04] Hlavtox commented on #16627
@prestascott

Sorry, I don't get your point... Additional arguments: 😄

- The main description is also optional and you don't show any checkbox. You don't show any checkbox anywhere in prestashop.
- Required/Optional is solved by the red asterix in the label, isn't it? If you want to emhasize that something is optional, I would add "(optional)" to the label.
- Product descriptions are also optiona

[2020-02-24 09:14] matks commented on #17784
@MatShir will ❤️ this feature 😄

[2020-02-24 09:24] khouloudbelguith commented on #17784
Hi @rblaurin,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-02-24 09:24] matks commented on #17584
@didi-2018 So it works ? 😊 I cant see the error anymore

[2020-02-24 09:33] didi-2018 commented on #17584
@matks  The mentionted errors are gone and now are new there. Now the fonts cant be downloaded. I dont know if that is really a fix if after that 8 new ones are there.

[2020-02-24 09:34] khouloudbelguith commented on #17789
Hi @photinia73,

Thanks for your report.
This PR: https://github.com/PrestaShop/PrestaShop/pull/14809 is added to PS1.7.7.0 and you are using PS1.7.6.3.
New Feature in the PS1.7.7.0
![image](https://user-images.githubusercontent.com/16067358/75141373-19e88f80-56f1-11ea-8906-ecb3afc02267.png)

But, we have a similar issue fixed in the PS1.7.6.1.
https://github.com/PrestaShop/PrestaShop/pull/14719
I

[2020-02-24 09:46] marionf opened #17794 "Sometimes subcategories go over the menu and prevent clicking on it"
**Describe the bug**
Sometimes on categories pages, subcategories go over the menu and prevent clicking on it

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the front-office and click on Accessories
2. Try to click on Art
3. You can't because the subcategories go over
4. See error in the console

**Screenshots**

![capture d'écran_2391](https://user-images.githubusercontent.com/134496

[2020-02-24 09:47] khouloudbelguith commented on #17783
Hi @FaustoBoscaro,

First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to

[2020-02-24 09:49] khouloudbelguith commented on #17782
Hi @MSZXYZDEV,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2020-02-24 10:06] khouloudbelguith commented on #17792
@hekep, I did not manage to reproduce the issue with PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/1MTwAXNJsHAHdbPtHaGNCRo3dm2J_AN7H/view
Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offer

[2020-02-24 10:19] khouloudbelguith commented on #17318
Ping @PierreRambaud what do you think?

Thanks!

[2020-02-24 10:25] khouloudbelguith commented on #16130
It is a cache issue, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).

Stack trace:
#0 /home/mayoristaropa/public_html/dev/classes/controller/FrontController.php(533): ControllerCore->get('prestashop.core...')
#1 /home/mayoristaropa/public_html/dev/classes/controller/FrontController.php(517): FrontControllerCore->buildFrontEndObject(Array)
#2 /ho

[2020-02-24 10:31] khouloudbelguith commented on #17780
Hi @DianaEFB,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15383
So, I close it.
Thanks!

[2020-02-24 10:31] #17780 closed, assigned to nobody

[2020-02-24 10:31] khouloudbelguith commented on #17780
Duplicate of #15383

[2020-02-24 10:40] khouloudbelguith commented on #14891
Hi @FaustoBoscaro,

In the Multistore page, The sub-categories issue is reported here: https://github.com/PrestaShop/PrestaShop/issues/9701
It is added to our bug roadmap.

Thanks!

[2020-02-24 10:47] khouloudbelguith commented on #17781
Hi @Nerque,

But I've tried the same with the English interface, and it's exactly the same.

What is the exact language/country did you use during the install?

The employee language is Spanish? is it the language by default?

For the other languages, did you create them manually or did you upload some country packs?

Thanks!

[2020-02-24 10:51] marionf commented on #14003
Hello @gadnis

Your option seems to do exactly the same thing as "show products from subacategories", only the wording is different

Display product from subcategories on yes:

![display product from subcat yes](https://user-images.githubusercontent.com/13449658/75146546-a435f100-56fb-11ea-9769-0c0ee1911555.png)

Display product from subcategories on no:

![display product from subcat no](https://

[2020-02-24 10:57] #15971 closed, assigned to tomas862

[2020-02-24 11:17] gadnis commented on #14003
I believe that you have none products in accessories category at all, only in the main category. Like the example here:
![Screen Shot 2020-02-24 at 13 08 56](https://user-images.githubusercontent.com/10948341/75147937-1fe96b00-5707-11ea-90ac-453e443fd347.png)

Try do this:
![Screen Shot 2020-02-24 at 13 09 07](https://user-images.githubusercontent.com/10948341/75147982-37c0ef00-5707-11ea-93ad-c9c5

[2020-02-24 11:35] #17586 closed, assigned to nobody

[2020-02-24 11:39] hekep commented on #17792
It feels like you did  tried to reproduce in PHP 7.1.     We got the error in PHP 7.2.28.

[2020-02-24 11:44] mvorisek commented on #17351
@eternoendless Can you please give the green light to deprecate the Guzzle 5 being EOL dependency in advance of the newer Guzzle 6 in 1.7.7?

[2020-02-24 11:44] hekep commented on #17792
It is PHP 7.2.27:

![image](https://user-images.githubusercontent.com/1901788/75149916-c6376f80-570b-11ea-8229-a4b7dcfaa7a9.png)

[2020-02-24 11:47] hekep commented on #17792
Folders OK:

![image](https://user-images.githubusercontent.com/1901788/75150090-3f36c700-570c-11ea-92ea-e8279e7379c7.png)

[2020-02-24 11:56] hekep commented on #17792
Your page  https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/ says  1.76.3  should be PHP 7.2 compatible.

[2020-02-24 12:01] agalussio commented on #16130
@khouloudbelguith

Thank you for your answer. I saw the override but it doesn't affect it. I still removed (/home/mayoristaropa/public_html/dev/classes/controller/FrontController.php) it and deleted the cache (also the /var folder)

But it's still the same mistake.

[2020-02-24 12:20] khouloudbelguith commented on #17792
@hekep,

Yes!
PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.

No, In my screen record, I used PHPv7.2.
The screenshot provided is just an example.
So, I don't think, it is related to the PHP version.

Could you please try to rename the folder `welcome` to `welcome_old` into this path `Project_folder/modules/`, clear cache, c

[2020-02-24 12:24] eternoendless commented on #17351
Unfortunately I cannot accept updating Guzzle to v6, because it's a huge breaking change. If we update it, then module developers who use it will have to build and maintain different versions of their modules to support both newer and previous PS versions. This makes module development more expensive, which is bad for platform adoption. Upgrading shops may become harder as well.

Right now we're o

[2020-02-24 12:37] khouloudbelguith commented on #16130
@agalussio, could you please provide me the new dev log after deleting the cache and removing the override.

Thanks!

[2020-02-24 13:13] julienrobin28 commented on #17791
Hi, thanks for the trick

Unfortunately, it didn't solved the issue
Also, just for information, changing the PHP version does nothing more

If useful, I may try on another server just to see if this bug is server configuration related

[2020-02-24 13:15] colinegin commented on #10250
@Progi1984 the catalog is now available, you can check this issue

[2020-02-24 13:17] colinegin commented on #14431
Should be ok now, can you test it @Robin-Fischer-PS @sarahdib @SD1982 ?

[2020-02-24 13:17] colinegin commented on #16226
Should be ok now that everything from the order page has been merged

[2020-02-24 13:20] khouloudbelguith commented on #17791
@julienrobin28,

Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2020-02-24 13:24] mvorisek commented on #17351
@eternoendless I understand, thank, but can you advise when will be the right point to upgrade the Guzzle library? The latest rel. was in 2008 and as @PierreRambaud mentioned, the Guzzle v5 is EOL, i.e. not even security fixes are released - see https://github.com/guzzle/guzzle#version-guidance

This library is used a lot in APIs libs, for example in `microsoft/microsoft-graph`, so the importance

[2020-02-24 13:29] photinia73 commented on #17789
I have another view than yours No translation in the e-mail Theme ((I can translate it only  in International -> translationMay be there is  update or something else to change this module? З повагоюКричмарівська Світлана От: khouloudbelguithОтправлено: понедельник, 24 февраля 2020 г. в 11:34Кому: PrestaShop/PrestaShopКопия: photinia73; MentionТема: Re: [PrestaShop/PrestaShop] PS 1.7.6.3 e-mail The