[2020-11-18 08:16] hibatallahAouadni commented on #9589
Hello @marionf

I managed to reproduce the issue with PS1.7.7.0-rc.1+build.4 and develop.
### Steps to reproduce:

1. BO > SELL > Orders > Shopping Carts > check the list
2. FO > login as client
3. BO > refresh the Shopping Carts list > a new cart with the client name is created

Thanks!

[2020-11-18 08:21] okom3pom commented on #21948
Here the differences :

176 :
![structure176](https://user-images.githubusercontent.com/5064590/99503659-c1dc7200-297e-11eb-9d93-a7899c0ea5bd.png)

177 :
![structure177](https://user-images.githubusercontent.com/5064590/99503664-c30d9f00-297e-11eb-8a8c-d8ed81e34c3a.png)

If i run :

```ALTER TABLE `ps_admin_filter` CHANGE `filter_id` `filter_id` VARCHAR(191) NOT NULL;```

Before

```ALTER TABLE `p

[2020-11-18 08:32] hibatallahAouadni commented on #21944
Hello @Prestaworks

I managed to reproduce your issue with PS1.7.6.8, and it has been fixed in PS1.7.7.0 with this PR #13716
Please check and feedback.

Thanks!

[2020-11-18 08:35] hibatallahAouadni commented on #21927
Hello @Brunettib78

You're welcome,glad to hear your problem is solved.
So, I close this issue.

Thanks!

[2020-11-18 08:35] #21927 closed, assigned to nobody

[2020-11-18 08:39] okom3pom commented on #21948
Something like this, fixing for me but i don't know if a row is greater than 191 ( **cache_id ?** )

[code]

@PierreRambaud

[2020-11-18 08:51] catlynx commented on #21910
Hello @hibatallahAouadni

The bug happens even if there is not a parent theme.
Both theme have all modules override in "themes/theme_name/modules/".
Each theme must load modules from it.
The order of opening the shop 2 at first for compiling affects the shop 1, more details in this video :

https://drive.google.com/file/d/1Vx4jpV-Mmf9jl3rqK0ZO0O_5iSAY1G4_/view?usp=sharing

I don't uninstall the mo

[2020-11-18 09:04] hibatallahAouadni commented on #21945
Ping @PrestaShop/prestashop-core-developers what do you think of this problem?

[2020-11-18 09:07] hibatallahAouadni commented on #21919
Hello @thdouk ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or

[2020-11-18 09:07] #21919 closed, assigned to nobody

[2020-11-18 09:09] thdouk commented on #21919
Thanks for having a look anyway :)

[2020-11-18 09:09] matteolavaggi opened #21969 "PS 1.7.6.9 New install multistore ERR_TOO_MANY_REDIRECTS (nginx + apache)"
#### Describe the bug

Too many redirect  when using multistore

#### Expected behavior

Be able to see frontedn of every multistore

#### Steps to Reproduce

Steps to reproduce the behavior:

1) install ps 1.7.6.9 on store.mystore.com url
2) enable multistore
3) create a test group and a test store
4) go on category and create a new root category "store1" (need to create before a second store to

[2020-11-18 09:20] matteolavaggi opened #21970 "PS 1.7.6.9 multistore Notice: Undefined index: iso_code error on second store"
Try to installa a ps 1.7.6.9 multistore , after adding second store in debug mode this error are generated on frontend

(1/1) ContextErrorExceptionNotice: Undefined index: iso_code
--
in Tools.php line 774
at ToolsCore::displayPrice(0.0, array())in PriceFormatter.php line 55
at PriceFormatter->format(0.0)in CartPresenter.php line 336
at CartPresenter->present(object(Cart))in FrontController.php li

[2020-11-18 09:23] matteolavaggi commented on #21970
Default currencies are not attached to new created store if not "imported" really complicated

To fix -> need to go localization - currency - open EVERY currencies and attach to new created store.

[2020-11-18 09:23] #21970 closed, assigned to nobody

[2020-11-18 09:36] hibatallahAouadni commented on #21969
Hello @matteolavaggi

I didn't manage to reproduce your issue with PS1.7.6.9.
I believe your have problem setting your shop URL, so please follow our documentray to solve your problem ([Setting a shop's URL](https://doc.prestashop.com/display/PS17/Setting+a+shop%27s+URL))
Please check and feedback.

Thanks!

[2020-11-18 09:41] NeOMakinG opened #21971 "Growl toasts are always used as notice, never success"
#### Describe the bug

Growls are always used as notice, warning or error

#### Expected behavior

This is a missuse of growl, if your action result to a success, you should use the success toast

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Module Manager'
2. Click on 'Disable' on a module
4. See a notice growl instead of a success one

#### Additional information

* Prest

[2020-11-18 10:03] Progi1984 commented on #21949
Bug approved : some lines have position and not another.

So it's a problem for upgrade.

Ping @PrestaShop/product-team

[2020-11-18 10:03] PierreRambaud commented on #21948
Yes, there are a lot of duplicates, look like a rebase has failed :(
Thanks for your report. We will fix it today:)

[2020-11-18 10:14] marionf commented on #21810
This error should be fixed is ps_checkout module

[2020-11-18 10:16] ballashop opened #21974 "Remote payment accepted but PrestaShop does not see the order as paid..."
Hi,
the customer placed an order with bank transfer payment.
The order entered regularly.
The payment went into the bank after two days
We changed the payment status to "remote payment accepted"
But PrestaShop did not register the payment so the order was still € 0
We believe it is an anomaly only of this order, how can we see the reason for this with debugging?
Currently debugging does not return

[2020-11-18 10:38] okom3pom commented on #21951
This one can be closed because when i doing the test the upagrade failed and when upgrade is ok it's work because

[code]

[2020-11-18 10:40] okom3pom commented on #21951
I test towmorrow with the nightly build to be sure

[2020-11-18 10:43] #21951 closed, assigned to nobody

[2020-11-18 10:44] Prestaworks commented on #21944
nice

[2020-11-18 10:46] marionf commented on #21810
@khouloudbelguith Can you tell me what is the version of ps_checkout in your shop ?

[2020-11-18 10:46] hibatallahAouadni commented on #21910
Hello @catlynx

I did the override of ps_featuredproducts module like you mentioned above and follow the order that you sugguest, yet I didn't manage to reproduce your issue, see the attached scren record below:

https://drive.google.com/file/d/1x8jKAXZCDG7rySbGCw7QTxC44Af0VRCg/view

As you see in the record, I tried with both order and there's no problem.
Please check and feedback.

Thanks!

[2020-11-18 10:50] hibatallahAouadni commented on #21944
Well then, I close this issue because it was fixed in PS1.7.7.0.
Thanks for your report and feel free to create a new issue when you need.

[2020-11-18 10:50] #21944 closed, assigned to nobody

[2020-11-18 10:55] hibatallahAouadni commented on #21949
Ping @marionf what is the status of this ticket? **`TBS`** or **`To Do`** ?

[2020-11-18 10:55] PierreRambaud commented on #21948
Hey @okom3pom are you able to test this pull request #21975? :)

[2020-11-18 11:00] hibatallahAouadni commented on #21951
Hello @okom3pom

Should I leave it closed or reopen it and add the label **`waiting for author`**?

Thanks!

[2020-11-18 11:02] VidarPc commented on #18618
Hi, Thank you for replying to my issue concerning the Faceted Search module. I have included the croon jobs and will wait and see if this will help.

[2020-11-18 11:12] hibatallahAouadni commented on #21974
Hello @ballashop

I didn't manage to reproduce your issue with PS1.7.6.8, see the attached screen record below:

https://drive.google.com/file/d/1zv4LkTVrvQoOUUGeUjUNB4bfNghZ6mZ4/view

Please check and feedback.

What did you mean by that?

Thanks!

[2020-11-18 11:39] ballashop commented on #21974
Hi @hibatallahAouadni
thanks to replied me, I mean that the problem happened just for this order, i wanted to ask you if there is a way to see debug or log file to check where the error is.
Furthermore, if we can manually indicate to PrestaShop that the payment has entered.
Thanks for any reply.
Balla

[2020-11-18 11:48] eternoendless commented on #21949
Fixed by #21953

[2020-11-18 11:48] #21949 closed, assigned to nobody

[2020-11-18 11:53] okom3pom commented on #21969
Have you try to set SSL on all page in the shop configuration, before go to front office.

[2020-11-18 11:53] symphonytech111 commented on #18618
No problem – good luck.

From: VidarPc <notifications@github.com>
Sent: 18 November 2020 11:03
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: symphonytech111 <junk@symphonymusic.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Option to disable the cache system of ps_facetedsearch module (#18618)

Hi, Thank you for replying to my issue concerning the

[2020-11-18 11:54] okom3pom commented on #21969
nginx want https prestashop redirect to http

[2020-11-18 12:02] Risto995 commented on #18647
Will the 1.7.7 version be released today?

[2020-11-18 12:03] thbl commented on #18647
@Risto995 maby next year

[2020-11-18 13:05] matks commented on #18647
Hi, well, maybe it was wrong to say "Today is the last day" because some people decided to test the release candidate yesterday and found major issues 😛  https://github.com/PrestaShop/PrestaShop/issues/21948

That is a joke obviously 😄  we are grateful that people test the release candidate.

So we have a few more bugs to fix.

By the way @thbl @Risto995 did you test the release candidate 😉  ? It'

[2020-11-18 13:25] okom3pom commented on #18647
@matks i tested the RC before but no the upgrade :rofl:  ( :1st_place_medal: tester )  , there are an other major issue with the logo

I go to open an issue in autoupgrade to make RC chanel << Great Again >> it's easier for all tester and merchant :)

[2020-11-18 13:28] hibatallahAouadni commented on #21974
Hello @ballashop

If this order's payment was made via **Paypal** module, you didn't have to change the status. The Paypal module will automatically change it to **Remote Payment Accepted**.

Whatever the module you use for the payment please contact the module developper to solve your problem.
**Again, you shouldn't change the order's status manually, when you use a payment module**

If the modul

[2020-11-18 13:28] #21974 closed, assigned to nobody

[2020-11-18 13:36] ballashop commented on #21974
Hi @hibatallahAouadni
payment was made via the native bank transfer prestashop module, no paypal or other methods.
Is there a PrestaShop debug or log that can show why this happened?
How should we intervene to tell PrestaShop to accept the payment?
Thanks a lot.
Balla

[2020-11-18 13:38] ghost opened #21976 "Autoupgrade RC channel is not working"
#### Is your feature request related to a problem?

When you want test an upgrade with a RC or a Beta We can't do this without downloading the file.

#### Alternatives you've considered

I think if RC and Beta chanel come back more people will be able to test these versions

#### Additional context

![Capture d’écran de 2020-11-18 14-36-56](https://user-images.githubusercontent.com/5064590/9953728

[2020-11-18 13:41] marionf commented on #21810
Fixed by: https://github.com/PrestaShopCorp/ps_checkout/pull/614

[2020-11-18 13:41] #21810 closed, assigned to Darmona

[2020-11-18 13:46] ballashop commented on #21974
Hi @hibatallahAouadni
unfortunately link # 15639 does not help us, thanks anyway for trying.
balla

[2020-11-18 13:47] matks commented on #21976
Hi @okom3pom this is done on purpose.

We purposefully do not push betas and RC to module auto-upgrade channels anymore. This was done to avoid people getting stuck on pre release software of which they cannot upgrade later (unfortunately it seems it happened a lot in the past).

[2020-11-18 13:49] matks commented on #21976
So the feature is available but we do not allow it to work by not pushing the pre-release software versions into channels.

One way to unlock this would be to create dedicated upgrade scripts and mechanisms to upgrade between pre-release versions. Right now it's not possible to create a migration path from, let's say, 1.7.7.0-beta1 to 1.7.7.0-beta2. If this was made possible the situation would be

[2020-11-18 13:50] hibatallahAouadni commented on #21974
Hi @ballashop

Could you please activate the debug mode, like the screenshot below:

![image](https://user-images.githubusercontent.com/23308427/99538515-5a89e680-29ad-11eb-9132-9f5c565df38b.png)

Please check and feedback.
Thanks!

[2020-11-18 13:55] georgelouk opened #21978 "Allow friendly URLs to turn Greek into Latin characters"
#### Is your feature request related to a problem?

It's not a problem actually, but it's frustrating if you work with Greek language.

When you create a new category or a new product using Greek language it doesn't autocomplete the friendly URL field like it does in English

#### Describe the solution you'd like

Greek characters can be automatically translated to english / latin characters using

[2020-11-18 13:55] ballashop commented on #21974
Yes @hibatallahAouadni ,
we did, but the debug didn't show any error message.
When the debug is active, then I have to do change status orders to show errors?
Thanks a lot.
Balla

[2020-11-18 14:00] hibatallahAouadni commented on #21970
Hello @matteolavaggi

I didn't manage to reproduce your issue with PS1.7.6.9.
Even you fixed, could you please provide the **steps to reproduce** your issue, is there any particular details you didn't mention above?
Cause we need to figure it out if there's a bug or not with the new release.

Thanks!

[2020-11-18 14:01] okom3pom commented on #21976
Ok i understand but :

select on change add after :-)

![t2t3rQ3dDKQojxQKjd9xM6D_gss](https://user-images.githubusercontent.com/5064590/99539459-8fe30400-29ae-11eb-951b-962454dcc7e1.gif)

It's an idea for more people made tests on RC and BETA but if a lot of merchants make an upgrade on a prod version ... :'(

[2020-11-18 14:02] okom3pom commented on #21976
An other idea allow RC and Beta only  if (_PS_MODE_DEV_ === true)

[2020-11-18 14:07] hibatallahAouadni commented on #21976
Hello @okom3pom

Thanks for the suggestion, I don't know if it's a good idea like @matks said, but the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-18 14:08] hibatallahAouadni commented on #21978
Hello @georgelouk

Thanks for the suggestion, it seems a good idea. The Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-18 14:10] georgelouk commented on #21978
I have the JavaScript function ready if you want to adapt it.

[2020-11-18 14:15] hibatallahAouadni commented on #21978
Hello @georgelouk

If you have already fixed it on your end, please do send us a pull request!
And fill the description and how to test the PR, like the screenshot below:

![image](https://user-images.githubusercontent.com/23308427/99541049-a12d1000-29b0-11eb-9c62-944930ab892a.png)

(1) => Improvement
(2) => mention this ticket (#21978)
Thanks!

[2020-11-18 14:27] hibatallahAouadni commented on #21974
Yes, please enable the debug mode, then change the status order and let's if there's a bug.

[2020-11-18 14:34] ballashop commented on #21974
Hi @hibatallahAouadni
debugging found no errors! :(
I don't know whether to be happy or not!

[2020-11-18 14:35] PierreRambaud opened #21979 "Logo, favicon and stores icon are not displayed in the 1.7.7.0-RC.1"
#### Describe the bug

Since the latest changes on 1.7.7.x, themes are broken after an upgrade.

For example in the classic theme we now have:
[code]
When it should be
[code]

#### Expected behavior

We should be able to reach `logo`, `stores_icon`, `favicon` without having to put the `_PS_IMG_` constant before.

#### Steps to Reproduce

Steps to reproduce the behavior:

Use a theme that is not th

[2020-11-18 14:36] georgelouk commented on #21978
@hibatallahAouadni sorry misunderstanding.
I don't have implemented at PrestaShop, i have implemented it at another project, so the JS function that does the job is ready and i can provide it.

[2020-11-18 14:43] hibatallahAouadni commented on #21974
Hello @ballashop

Could you please follow my steps in the screen record below:

https://drive.google.com/file/d/1HN87QR3_2ci9PF-xy32Nf5GCGx2UEzXx/view

Please check and feedback.
Thanks!

[2020-11-18 14:44] okom3pom commented on #21979
@PierreRambaud you don't have to use an other theme juste skip update theme during install it's easier for test :)

[2020-11-18 14:49] khouloudbelguith commented on #21979
Hi @PierreRambaud, @okom3pom,

I manage to reproduce the issue with the 177x branch
![image](https://user-images.githubusercontent.com/16067358/99545313-8b6e1980-29b5-11eb-9e43-be7bfbd7a1b0.png)

Ok with PS1768
![image](https://user-images.githubusercontent.com/16067358/99545370-9b85f900-29b5-11eb-8444-8e04e33b1fa8.png)

Thanks!

[2020-11-18 14:49] okom3pom commented on #21979
All credits to @micka-fdz  for this issue

A test : https://cloud.ee.wtf/index.php/s/qjpHzsQzWeSE5pB

[2020-11-18 14:57] micka-fdz commented on #21979
Thanks @okom3pom for credits and @PierreRambaud for your issue and PR. You rocks!

[2020-11-18 15:05] photinia73 opened #21982 "Upgrade from PS 1.7.6.8 to PS 1.7.6.9 downgrades blockreassurance module version"
**Describe your problem**
Ufter updating PS to 1.7.6.9 version the blockreassurance module was repkaced by its previos version (without URL).
Then it ask the update in the BO
After updating I saw that in the DB tables ps_psreassurance and ps_psreassurance_lang was replaced with default ((
I restored them from backup, but this

My site https://old.te.com.ua this is the clone of https://te.com.ua/uk

[2020-11-18 15:09] ballashop commented on #21974
Hi @hibatallahAouadni
Unfortunately it didn't work :(
Thanks

[2020-11-18 15:09] matks commented on #21982
This might indicate that, upon upgrade, native modules are restored to the version of the ZIP.
If prestashop1.7.6.9.zip contains v4.1.1 but your shop uses v5.0.0, the module would replace it?

To be verified

[2020-11-18 15:13] Roomsmaniia opened #21983 "Wrong display in customer order"
#### Describe the bug

In the order page of a customer the Messages / status / payment are displayed one below the other

#### Expected behavior

The blocks should be grouped not one below the other

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO
2. Click on Orders> orders
3. Click on a customer order
4. See error

**Screenshots**

![image](https://user-images.githubusercon

[2020-11-18 15:15] photinia73 commented on #21982
No. In BO it look like
![image](https://user-images.githubusercontent.com/50954519/99548484-5ebfff00-29c1-11eb-8f2d-8805b164bf64.png)

and inside module
![image](https://user-images.githubusercontent.com/50954519/99548641-89aa5300-29c1-11eb-9ae7-4478415fd2ff.png)

[2020-11-18 15:18] photinia73 commented on #21982
But after updating this module rollback to the version without URL , unfortunately I didn`t pay attantion 4.1.0 or 4.0.1 or 4.1.1
And it erase the tables in the DB ((

[2020-11-18 15:20] photinia73 commented on #21982
This is not a critical problem if you have backup )), but take a time and some nerves ))

[2020-11-18 15:20] hibatallahAouadni commented on #21982
Hello @matks

Thanks for your issue. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Please edit your issue, that we help us to investigate your problem.

Thanks!

[2020-11-18 15:28] hibatallahAouadni commented on #21983
Ping @PrestaShop/prestashop-core-developers easy fix, just remove this line [#L272](https://github.com/PrestaShop/PrestaShop/blob/2b0f98244576c1809dc82a07cb587bb29cfde0f1/src/PrestaShopBundle/Resources/views/Admin/Sell/Order/Order/Blocks/View/products.html.twig#L272)
It caused by rebase while merging the branch 1.7.7.x  ;-)

[2020-11-18 15:29] #21819 closed, assigned to nobody

[2020-11-18 15:31] photinia73 commented on #21982
Corrected. I find in the my Theme in Modules blockreassurance/view/hook/....tpl may be the problem from this case....

[2020-11-18 15:32] PierreRambaud commented on #11119
I don't think it's a good idea to add it since we are against the override system and will be removed in the future.

[2020-11-18 15:34] PierreRambaud commented on #12524
We should be able to add hooks for the job, it should be enough, what do you think?

[2020-11-18 15:36] hibatallahAouadni commented on #21982
@photinia73 so the problem is not a PrestaShop Core bug but it's from your side, is that so?

[2020-11-18 15:37] PierreRambaud commented on #12368
I don't think it's needed any more, Classes are really different :thinking:

[2020-11-18 15:41] photinia73 commented on #21982
I am not shure... I made the changes in the Theme and will update PS on the main site (not clone for test). After this I will know exactly

[2020-11-18 15:41] PierreRambaud commented on #12149
Hi, regarding the code, you only need to use the `fields_form_override` :thinking:

[2020-11-18 15:50] hibatallahAouadni commented on #21982
ok! So, please check and feedback.
Thanks!

[2020-11-18 15:58] PierreRambaud commented on #21945
@hibatallahAouadni Are you able to reproduce, we need to be sure the problem come from the PrestaShop core and not the APC/APCU configuration :)

[2020-11-18 15:59] PierreRambaud commented on #12772
Should be fixed. PIng @NeOMakinG

[2020-11-18 16:13] hibatallahAouadni commented on #21945
@PierreRambaud I didn't manage to reproduce the issue

[2020-11-18 16:19] jolelievre commented on #21706
Closed by #21721

[2020-11-18 16:19] #21706 closed, assigned to jolelievre

[2020-11-18 16:28] khouloudbelguith opened #21987 "[Multistore] - BO - Order page - An alert "Error! There are not enough products in stock." is displayed when updating the product quantity"
#### Describe the bug

"Share available quantities to sell" option is enabled, "All shops" is selected, in the BO > Orders > Order page > when we try to update the product quantity => an alert "Error! There are not enough products in stock." but the Available quantity > 0

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable Multishop Context.
2. Go to BO > Advanced Parameters > Mu

[2020-11-18 16:42] NeOMakinG commented on #12772
Not yet because scss var `$local-font: true;` is missing inside the core (will be fixed when https://github.com/PrestaShop/PrestaShop/pull/18396 will be finished)

[2020-11-18 16:43] matks opened #21989 "Improving upgrades tests"
We need to test automatically the upgrade process every night

Examples of issues we could have catched earlier with such tests: 🦀
- https://github.com/PrestaShop/PrestaShop/issues/20013
 - https://github.com/PrestaShop/PrestaShop/issues/21948

## Current situation 🌍

The [autoupgrade](http://github.com/prestashop/autoupgrade) module has multiple tests:
- phpunit test
- phpstan checks
- acceptance

[2020-11-18 16:48] khouloudbelguith opened #21990 "[Multistore] - BO - Order page - All shops selected - cannot return products"
#### Describe the bug

"All shops" is selected, in the BO > Orders > Order page > when we try to return products => An exception is displayed
![image](https://user-images.githubusercontent.com/16067358/99559255-de030200-29c4-11eb-9eca-948fc19f5806.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

Enable Multishop Context.
Create a new shop `ShopA` related to the `Default` Group
Crea

[2020-11-18 16:52] khouloudbelguith commented on #21990
Related to https://github.com/PrestaShop/PrestaShop/issues/21905

[2020-11-18 16:54] matks commented on #21989
ping @PrestaShop/prestashop-core-developers @PrestaShop/qa-automation

[2020-11-18 16:58] khouloudbelguith opened #21991 "BO - Order page - when deleting all products - the total invoice is NOK"
#### Describe the bug

BO - Order page - when deleting all products - the total invoice is NOK

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create order from the FO with only one product
2. In the Documents tab > generate an invoice
3. Try to delete the product
4. In the Documents tab => the total is not updated / invoice => nok
![image](https://user-images.githubusercontent.com/

[2020-11-18 17:00] khouloudbelguith commented on #21991
Related to https://github.com/PrestaShop/PrestaShop/issues/21903

[2020-11-18 17:20] TemKaSD commented on #20519
SOrry

[2020-11-18 17:23] jolelievre commented on #21991
Is it really related to #21903 ? Cancel and delete product are two different actions which do not have the same consequences
So in this issue what was done delete (with the trash icon) or cancel (with the cancel button when merchandise return is enabled)?

[2020-11-18 17:39] matks commented on #20519
Hi there,

Not having an issue fixed immediately (or in a fixed timeframe) does not mean that it won't be fixed, or that we don't care. It doesn't mean that the issue is NOT important either. It just means that other issues have been considered, for whatever reason, _more_ important, so they were (or are being) tackled first. There's an immense amount of work to be done (1900 issues right now, and

[2020-11-18 17:40] #21629 closed, assigned to PierreRambaud

[2020-11-18 17:57] marionf commented on #21588
I close the issue as it's fixed in the MBO module
I think we will need to do a new release of the module @atomiix ?

[2020-11-18 17:57] #21588 closed, assigned to atomiix

[2020-11-18 18:17] jolelievre commented on #21991
Ok I understand why it was related, because there was the same mistake on invoice totals I fixed both issues in the same PR anyway

[2020-11-18 19:05] duvalsoft commented on #17681
That seem like be related with this issue:
https://github.com/PrestaShop/PrestaShop/issues/11379

Basicaly , do you have more that one carrir with the same name?

[2020-11-18 19:18] photinia73 commented on #21982
Of cource

[2020-11-18 19:39] viglu opened #21995 "Method validateOrder automatically send order confirmation email"
#### Updated issue content

After reviewing my payment gateway ; it is easier to generate the order reference by my own and then passing it to validateOrder.

Therefore my PR #24357.

The Workflow for the customer with my payment gateway Digicash (https://github.com/viglu/paymentdigicash) is
1. Customer select payment Digicash
2. Customer is redirected to a dedicated payment page. In the backgroun

[2020-11-18 20:52] Arman-Hosseini commented on #21995
Hey @viglu, It sounds good!

If it's very necessary, you can **override valideOrder** method as a quick way and put all the code without send email section, otherwise i can work on it next week.

[2020-11-18 23:54] Akaru78 commented on #12149
It's not working with last version

[2020-11-19 00:43] cakir59 opened #21997 "Prestashop Order Status Message"
I want to show a special message on the order history page based on the order status. But I couldn't find their shortcode. For example, if the order placed is "preparing", I want to show the message that your order is being prepared on the order history page. I want it not to write anything if it is on the way or is delivered or canceled. How can I get the order status in tpl file?

I try

[2020-11-19 06:42] Nesta78 opened #21998 "[Multistore] Very slow query maybe due to ps_stock_available"
Hi,
I'm on multistore and when i change of shop, it is very very slow ...
I enabled profiling and I see a huge amount of queries.
In table stress part, i see 14365 stock_available.
Is it normal ? I think maybe this is what causing the issue ?

And in "Double" I see

14331 | SELECT SUM(quantity) FROM `ps_stock_available` WHERE (id_product = XX) AND (id_product_attribute = XX) AND (id_shop = XX) AND

[2020-11-19 07:27] hibatallahAouadni commented on #21995
Hello @viglu

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-19 07:31] hibatallahAouadni commented on #21997
Hello @cakir59

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help (**for free**) in the [community forums](https://www.prestashop.c

[2020-11-19 07:31] #21997 closed, assigned to nobody

[2020-11-19 07:37] hibatallahAouadni commented on #21998
Hello @Nesta78

You need to **downgrade your PHP version to 7.2**, because PS1.7.6.7 is not compatible with PHP 7.3 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/))

Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report** (we need clear steps

[2020-11-19 07:37] #21998 closed, assigned to nobody

[2020-11-19 08:35] fest73 opened #21999 "Bug fix with check usedKeys"
#### Describe the bug

I use webp photo generation and stack next to jpeg file. That is, I always have two files on the server. xxxx.jpg and xxxx.jpg.webp. The second time I added the menu thumbnail to the category, I ran into such a problem that it started creating a file with index 1, although it should have created a file with index 0

#### Steps to Reproduce

Steps to reproduce the behavior:

[2020-11-19 09:00] matks opened #22002 "Dead JS dependency in admin-dev/filemanager/dialog.php"
#### Is your feature request related to a problem?

The very old code `admin-dev/filemanager/dialog.php` has an option that rely on 2 JS scripts that are no longer there.

https://github.com/PrestaShop/PrestaShop/blob/develop/admin-dev/filemanager/dialog.php#L216

[code]

https://dme0ih8comzn4.cloudfront.net/js/feather.js => dead
http://feather.aviary.com/js/feather.js => dead

So this option cann

[2020-11-19 09:04] Daaaaad opened #22003 "Contactform confirmation mail problem"
Hello,

When confirmation email is activated in contactform module configuration:

<img width="1349" alt="Capture d’écran 2020-11-19 à 10 00 14" src="https://user-images.githubusercontent.com/167037/99644329-169aee00-2a4e-11eb-9b13-5038f72d64bf.png">

Some variables are not converted:

<img width="558" alt="Capture d’écran 2020-11-19 à 10 01 43" src="https://user-images.githubusercontent.com/1

[2020-11-19 09:05] atomiix commented on #21588
@marionf yes!

[2020-11-19 09:13] hibatallahAouadni commented on #22002
Hello @matks

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-19 09:17] hibatallahAouadni commented on #22003
Hello @Daaaaad

Please edit your issue report, **you must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

Thanks!

[2020-11-19 09:39] hibatallahAouadni commented on #21999
Hello @dariusakafest

It's not a bug, you didn't click on delete button to delete the first thumbnail as you can see in the attached screen record below:

https://drive.google.com/file/d/1QSwnQ1etP2pMzkSiQ_G7AARZ299cwVh2/view

So, if you didn't delete the thumbnail, the system just add another one with index **id_category-1**.
So, I close it.

Thanks!

[2020-11-19 09:53] hibatallahAouadni commented on #21995
Ping @PrestaShop/prestashop-core-developers wdyt?

[2020-11-19 09:54] khouloudbelguith opened #22004 "BO - Order page - An error is displayed when decreasing the gifted product quantity "Could not find the product in cart, meaning Order and Cart are out of sync""
#### Describe the bug

In the BO > Orders page > Order details page > An error is displayed when decreasing the gifted product quantity "Could not find the product in the cart, meaning Order and Cart are out of sync"

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a cart rule "free gift demo_12" without code
![image](https://user-images.githubusercontent.com/16067358/99645729

[2020-11-19 09:56] hibatallahAouadni commented on #22003
Could you please check if your issue is similar to this one #16563

Thanks!

[2020-11-19 09:58] hibatallahAouadni commented on #21688
Hello @grzegorzgit ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-19 09:58] #21688 closed, assigned to nobody

[2020-11-19 10:00] hibatallahAouadni commented on #21686
Hello @grzegorzgit ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-19 10:00] #21686 closed, assigned to nobody

[2020-11-19 10:04] jolelievre commented on #22004
Actually in this case since there is no other product in the order the quantity will be 0, the cart rule can't apply on an empty cart/order I guess that's where the bug comes from

[2020-11-19 10:12] zenotds opened #22005 "Validate scripts in CMS page"
In a previous project with version 1.7.5 i overrode the Validate.php class to allow for scripts in the content of a cms to be passed as valid.

`class Validate extends ValidateCore
{
    function isCleanHtml($html)
    {
        return true;
    }

}`

Basically passing any content as valid..

I did the same on a new 1.7.6.9 project but no matter what, when i save the page i always get a validatio

[2020-11-19 10:14] matks commented on #22005
Hi @zenotds my guess is that the CMS BO page was migrated to Symfony in 1.7.6 so it's not the same code that performs the validation.

However your modification is very dangerous because it has disabled all HTML validation everywhere in your shop, which means some dangerous content could be passes in inputs, leaving your shop vulnerable.

The right place for questions is the Slack channel 😉  https

[2020-11-19 10:14] #22005 closed, assigned to nobody

[2020-11-19 10:19] #19408 closed, assigned to NeOMakinG

[2020-11-19 10:24] zenotds commented on #22005
Thanks for the quick response.
I know my iteration of override is dangerous, but i'm on a local env and i was just trying to figure out which file does what.

I imagine something has radically changed between .5 and .6 as i found reference to the same isCleanHtml function in js files and other places..

will try asking for help on slack... It's just a pity the official documentation and forums are

[2020-11-19 10:29] dariusakafest commented on #21999
@hibatallahAouadni In fact, I don't have an image on the server. He will have to load it with index 0, but since the regular expression searches by an entry and not by the end of the path, such a problem arises!

[2020-11-19 10:30] dariusakafest commented on #21999
@hibatallahAouadni Please check carefully

[2020-11-19 10:32] hibatallahAouadni commented on #21999
@dariusakafest could you please attach a screen record, thanks!

[2020-11-19 10:33] zzzZZZzzz9 opened #22007 "Cart discount applied to reduced items (although disabled) if there are other items in the cart"
#### Describe the bug

Cart discount for category X is applied to reduced items - although this is disabled - as soon as other items are in the cart.
1) Only reduced item from category X in the cart -> discount is not applied with error message that it is not valid.
2) Reduced item from X and normal item from X in the cart -> discount is applied to both items
3) Reduced item from X and normal item

[2020-11-19 10:58] Robin-Fischer-PS opened #22008 "BO - Order page - Adding a product on empty order : Invoice NOK"
#### Describe the bug

When I add a product on an empty order (for example, an order with one product, the product is deleted, and a new product is added), the tax block in the generated invoice is NOK : It only contains the Shipping tax and not the Product tax

#### Expected behavior

Tax block should also contain the product tax.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Cre

[2020-11-19 11:03] naveensrinivas-in opened #22009 "Prestashop Forum Signup Verification Not Received!"
I have been trying to join the Prestashop community forum to ask my questions but unfortunately, I am unable to receive verification emails at all. I have tried changing multiple emails but no good luck.

Please help me resolve this.

#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Repro

[2020-11-19 11:08] hibatallahAouadni commented on #22007
Hello @zzzZZZzzz9

I didn't manage to reproduce your issue with PS1.7.6.7, see the attached screen record below:

https://drive.google.com/file/d/14gK8UgEEXQRRYcNKJ1rEQAFP5L_lD1GL/view

Please check and feedback.

Thanks!

[2020-11-19 11:12] zzzZZZzzz9 commented on #22007
Hi @hibatallahAouadni

Thanks for checking. Pease apply a discount to the mug and exclude discounted items from the voucher. Then check with 1) only mug in the cart (voucher rightfully denied for discounted item, see my first screenshot) and 2) with mug and additional item in the cart (voucher wrongfully applied to discounted item, see my screenshot 2).

[2020-11-19 11:17] hibatallahAouadni commented on #22009
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.
You need to contact forum@prestashop.com or [contact](https://www.prestashop.com/forums/contact/)

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Th

[2020-11-19 11:17] #22009 closed, assigned to nobody

[2020-11-19 11:22] viglu commented on #21995
An other approach is to add another parameter to validateOrder, like order_ref = null.
And in validateOrder do something like

if ($order_ref == null) {
            do {
                $reference = Order::generateReference();
            } while (Order::getByReference($reference)->count());
else {
            $reference = $order_ref;
}

With this solution nearly no work has do be done.
For me sid

[2020-11-19 11:40] MatShir opened #22010 "Delete all the products shouldn't change the status"
#### Describe the bug

When I delete all the products, the status is changed to canceled.

#### Expected behavior

When I delete all the products, the status remains the same.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Open an order
2. Delete all the products
3. Status change to canceled

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your

[2020-11-19 12:03] jordiweblidera opened #22011 "When the order status is changed in the webservice, the OrderHistory instance is duplicated"
#### Describe the bug

When the order status is changed by WebService to the same one that is configured, an OrderHistory instance of the same order status is generated again:
![imagen](https://user-images.githubusercontent.com/49748656/99661867-bfecde80-2a64-11eb-92d5-c4eae0983479.png)

#### Expected behavior

Do not duplicate the OrderHistory instance

#### Steps to Reproduce

As the `setCurrent

[2020-11-19 13:04] SimonGrn commented on #22005
Good news, this is an Open Source project, which means you can contribute and help fixing mistakes !

[2020-11-19 13:41] matks commented on #18647
## Status update: RC 1 is faulty 🚫

Some important issues have been reported.

These items have been moved into the [1.7.7 Kanban](https://github.com/PrestaShop/PrestaShop/projects/7) and are currently being fixed.

[2020-11-19 13:48] Progi1984 commented on #21948
Fixed by #21975

[2020-11-19 13:48] #21948 closed, assigned to PierreRambaud

[2020-11-19 13:51] eternoendless commented on #18647
Note that only issues labeled "Must-have" will be fixed for 1.7.7.0

[2020-11-19 14:08] hibatallahAouadni commented on #22011
Hello @jordiweblidera

I managed to reproduce your issue with PS1.7.6.9, PS1.7.7.0-rc.1+build.4 but on develop I couldn't reproduced, see the attached screen record below:

https://drive.google.com/file/d/1SADc95lrxwgMeMy3rkzucIp8WshUBTK_/view

It seems the problem has been fixed on devlop.
Please check and feedback.

Thanks!

[2020-11-19 14:13] sequoiafactory opened #22014 "Customer comments not displayed"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-11-19 14:15] ttoine opened #22015 "[EPIC] - Issues with credit slips"
#### In order to fix issues with credit slips, some important issues have to be fixed

Below is a list of issues related to credit slips:

### BUGS

- [ ] #18319
- [ ] #16826
- [x] #15892
- [x] #9854
- [ ] #32998
- [x] #33890

## Fixed

### BUGS

- [x] #22186
- [x] #22216
- [x] #25715

------

## Additional information

Except problems with the use of the software itself, it has also an impact on

[2020-11-19 14:16] crishnakh opened #22016 "Wrong values on ps_tabs table after first language change/disable in BO"
#### Describe the bug

Wrong translate sidebar names

#### Expected behavior

The sections on the sidebar keeps wrong after change the default language.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Fresh install on Portuguese lang.
2. Add Spanish lang in the backoffice
3. Inactive portuguese lang and change the lang of the backoffice's user to spanish.
4. Check the sidebar backof

[2020-11-19 14:34] atomiix commented on #21630
@PrestaShop/product-team I tried something to fix this issue but as discussed with @eternoendless it's far from optimal and it should not be solved that way. So, to summarize what's happening:

The way we can edit email translations by modifying the email template through *Improve > International > Translations* is only partially working. Because we're in a WYSIWYG editor and email templates can't

[2020-11-19 14:39] #22014 closed, assigned to nobody

[2020-11-19 14:40] hibatallahAouadni commented on #22014
Hello @sequoiafactory

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, w

[2020-11-19 14:42] MatShir commented on #21995
Hi @viglu, is the validateOrder triggered by a type of status or when the merchant's client finishes the checkout?

[2020-11-19 14:59] Progi1984 commented on #22010
Fixed by #21994

[2020-11-19 14:59] #22010 closed, assigned to nobody

[2020-11-19 14:59] Progi1984 commented on #21991
Fixed by #21994

[2020-11-19 14:59] #21991 closed, assigned to jolelievre

[2020-11-19 14:59] Progi1984 commented on #21903
Fixed by #21994

[2020-11-19 14:59] #21903 closed, assigned to jolelievre

[2020-11-19 15:03] hibatallahAouadni commented on #22016
Hello @crishnakh

Don't change the translation manually from the database, it's dangerous to manipulate the database, just follow these steps:

1. BO > **IMPROVE** > **International** > **Translations**

![image](https://user-images.githubusercontent.com/23308427/99682181-42829780-2a7f-11eb-9d19-83b47e3b784e.png)

2. In **Modify translations block**, choose **Back office translations** as **Type o

[2020-11-19 15:07] crishnakh commented on #22016
Hi @hibatallahAouadni  thanks for the advice.

1. I tried as you say at first, but the translations were correct.
2. Then i tried to reinstall language, still all correct in the translations tab.
3. All the translations were ok, but the sidebar names still remain wrong ;) the only way to change the translations was editing it in the database.

Try to reproduce the steps as i commented.

[2020-11-19 15:19] barbosatrix opened #22017 "Split order on two with same order reference"
####
Some orders split in two with the same ORDER ID

#### Expected behavior

Do not split the order.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. It happens randomly.
2. We do not use specific carriers by product

**Screenshots**

![Screenshot_1](https://user-images.githubusercontent.com/15943150/99680883-878cd680-2a4b-11eb-878c-a1860e801cec.jpg)

Pedido 775
![pedido775](https:/

[2020-11-19 15:24] #21983 closed, assigned to NeOMakinG

[2020-11-19 15:26] hibatallahAouadni commented on #22016
Hello @crishnakh

I just install PS1.7.6.7 on Portuguese lang, then I add Spanish lang in the backoffice, and change the lang of the backoffice's user to spanish (See the screenshot below)

![image](https://user-images.githubusercontent.com/23308427/99685664-1e28ba00-2a83-11eb-8df9-e185cae14259.png)

I just checked and all the menu is in Spanich (I translate every menu on translate google).
What's

[2020-11-19 15:27] jordiweblidera commented on #22011
Lo siento. Acabo de ver que el bug ya estaba corregido en `develop`. Cierro la incidencia y el PR.

[2020-11-19 15:27] #22011 closed, assigned to nobody

[2020-11-19 15:32] crishnakh commented on #22016
Thats really strange. Don't worry, don't know why my lateral menú still remain in portuguese. I think you can close the issue!. Thanks @hibatallahAouadni

[2020-11-19 15:35] hibatallahAouadni commented on #22016
Hello @crishnakh

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

We will close this issue.

Thanks!

[2020-11-19 15:35] #22016 closed, assigned to nobody

[2020-11-19 15:45] hibatallahAouadni commented on #22017
Hello @barbosatrix

This bug only happen when we use specific carriers by product. See bug #9594

So, I can't reproduce it! Could you please try again to reproduce the issue and list clear steps.

Thanks!

[2020-11-19 15:46] matks commented on #22008
Should be fixed by https://github.com/PrestaShop/PrestaShop/pull/22018/files

[2020-11-19 15:51] #21531 closed, assigned to sowbiba

[2020-11-19 16:02] viglu commented on #21995
validateOrder is triggered when client has finished the payment, when the service prodiver says: payment ok, after that customer is redirected to order confirmation

[2020-11-19 16:20] khouloudbelguith commented on #22017
Hi @barbosatrix,

Thank you for your report.
We have an [Epic](https://github.com/PrestaShop/PrestaShop/issues/15491) about the multi carriers problem.
Could you please check if your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/15304#issuecomment-526137500 also.

Thank you!

[2020-11-19 16:34] hibatallahAouadni commented on #22007
Hello @zzzZZZzzz9

Thanks for the clarification, I manage to reproduce the issue with PS1.7.6.7 and PS1.7.7.0-rc.1+build.4 but it seems been fixed on develop, see the attached screen record below:

https://drive.google.com/file/d/1QCFNZniyGGqpIzTgsSA7AZrQijHPAPtX/view

Please check and feedback.

Thanks!

[2020-11-19 17:08] LouiseBonnard commented on #21978
Hi @georgelouk, and thanks @hibatallahAouadni. Could you tell me which version of PrestaShop do you use? If you go to the Shop Parameters > Product Settings page and set the 'Force update of friendly URL' option to 'Yes', then updating the name of your product (even in Greek) should automatically update the friendly URL.

<img width="800" alt="Capture d’écran 2020-11-19 à 18 07 29" src="https://

[2020-11-19 17:11] amydaynes opened #22021 "Drop downs not working in CMS plus hidden content"
**Describe the bug**
Many drop downs on the Add New Product page are unusable. They are already expanded and the options are unclickable.

**Expected behavior**
I should be able to click the drop-down list to bring up the options and select them.

**Steps to Reproduce**
Go to New Product, try and select the product type (can't see if this is the correct name, I'm guessing) dropdown to select an op

[2020-11-19 17:16] matks commented on #22021
Hi if your BO look like this:

<img src="https://user-images.githubusercontent.com/74337334/98890434-b834a500-247a-11eb-89e4-b0996c143d6f.png">

It's probably because you use a php version too high like php7.3 or php7.4 . Latest prestashop version 1.7.6.9 supports php7.2 maximum

[2020-11-19 17:52] hibatallahAouadni commented on #22021
Hello @Insynco

Like @matks mention above, the problem is with your PHP version. Please downgrade your PHP version to 7.2.

And please, next time when you open issue, write the additional information (PrestaShop version and PHP version).

Please check and feedback.

Thanks!

[2020-11-19 17:57] Insynco commented on #22021
Hi @hibatallahAouadni and @matks
That has fixed the issue. Thank you so much for your help.
I will be sure to include this information next time. Apologies.

[2020-11-19 17:58] #22021 closed, assigned to nobody

[2020-11-19 18:11] #21136 closed, assigned to nobody

[2020-11-19 18:40] CJH297 commented on #18647
Is a release anticipated before the month end? I'm one of those mentioned by 8ele8 as having an ISP that will cease to permit use of php 7.2 - that is, if am still using 7.2 after community support ends, I have a large invoice to pay for 'enhanced support' to keep it running (it will be automatically charged for a year, and is expensive). I understand that I could use the beta version, but the lac

[2020-11-19 18:49] Daaaaad commented on #18647
@CJH297 By curiosity: What's your ISP? Those rules seems very strict to me 🤔

[2020-11-19 19:00] CJH297 commented on #18647
1&1 (now Ionos). I had this problem once before - I had a domain registered and a php attached to it by default, but only used the domain for forwarding. No website attached. I had a big bill when that php was decommissioned because they were now supporting the old version, which cost extra. I argued my way out of it because I was not using the php and couldn't be. It was a struggle and not one I

[2020-11-19 19:27] okom3pom commented on #18647
Php 7.2 end on Inos in Mars 2021

[code]

[2020-11-19 19:28] simonvik commented on #18647
We will at one.com remove php 7.2 when it reaches EOL.

[2020-11-19 20:12] CJH297 commented on #18647
Thanks okom3pom - that sounds useful if it applies. I have searched Ionos and cannot find this on the English site, though; nothing about extended support for 7.2 being free for a period that I have found. I hope it will apply if the release is not ready

[2020-11-19 21:10] lukapaunovic commented on #12667
Have you tried reproducing with Memcached in place too?

[2020-11-20 04:10] beniwal commented on #20339
I created a solution for this issue.

![image](https://user-images.githubusercontent.com/437314/99756887-30066d80-2b14-11eb-8483-ba8b37e5bea5.png)

![image](https://user-images.githubusercontent.com/437314/99756917-4ad8e200-2b14-11eb-8689-bb6cfe79264d.png)

![image](https://user-images.githubusercontent.com/437314/99756958-5cba8500-2b14-11eb-8546-e29670260b55.png)

[2020-11-20 07:31] VidarPc commented on #18618
Hi,

It’s me again.

I put the three croon jobs in the Cpanel croon jobs setting at SiteGround and got these errors in my e-mail this morning:

Job 1:

/home/racingho/public_html/modules/ps_facetedsearch/ps_facetedsearch-clear-cache.php: line 1: ?php: No such file or directory

/home/racingho/public_html/modules/ps_facetedsearch/ps_facetedsearch-clear-cache.php: line 3: require_once: command not f

[2020-11-20 07:33] VidarPc commented on #18618
Hi again, I am replying with the report from the e-mail's I got from SiteGround for the croon jobs that were supposed to run out last night.

I put the three croon jobs in the Cpanel croon jobs setting at SiteGround and got these errors in my e-mail this morning:

Job 1:

/home/racingho/public_html/modules/ps_facetedsearch/ps_facetedsearch-clear-cache.php: line 1: ?php: No such file or directory
/

[2020-11-20 07:44] metacreo commented on #12667
Issue not easy to reproduce
PS1.7.X (apache24-mpm_event)+(php-fpm 7.2 or 7.3).
error_reporting = E_ALL
display_errors = On
admin > Advanced Parameters / Performance
Click (Clear Cache) wait
In "Debug mode" section
switch to "Debug mode YES" and click "Save"
switch to "Debug mode NO" and click "Clear Cache"
switch to "Debug mode YES" and click "Save"
click "Clear Cache"
click "Save" into "Smarty" s

[2020-11-20 08:04] Daaaaad commented on #22003
Hi @hibatallahAouadni,

No that was not related to uppercase characters... BUT the v4.3.0 upgrade seems to fix the problem 😉

[2020-11-20 08:06] hibatallahAouadni commented on #21999
Ping @PrestaShop/product-team what do you think? is this the normal behavior or is it a bug?

[2020-11-20 08:08] hibatallahAouadni commented on #22003
@Daaaaad Good to hear! So we can close this issue?

[2020-11-20 08:13] Daaaaad commented on #22003
@hibatallahAouadni Yes 👍

[2020-11-20 08:13] #22003 closed, assigned to nobody

[2020-11-20 08:22] morange opened #22023 "emails with placeholder"
#### Describe the bug
In our shop, orders with empty e-mails or with e-mails with placeholder texts are sent to the customer.

#### Expected behavior
A complete e-mail with the customer name for the respective process (order with details of bank details, cancellation, shipping, contact form, etc.).

#### Steps to Reproduce

Steps to reproduce the behavior:

1. With several visitors (these were alr

[2020-11-20 08:28] zzzZZZzzz9 commented on #22007
That looks about right in the final stage.

In your second step (reduced mug plus poster) the discount should not be applicable either (and not come out as 0), right?

[2020-11-20 08:33] georgelouk commented on #21978
Hi @LouiseBonnard
I'm using version 1.7.6.8 and with force update friend url to YES didn't work for me. I've saved, i've modified the title but nothing. I also tried English version of backend instead of Greek, but didn't added the greek characters at the friendly url (check screenshot).

But even if it works i was actually talking to automatically transform greek characters to latin characters in

[2020-11-20 08:39] #21979 closed, assigned to PierreRambaud

[2020-11-20 08:43] florine2623 commented on #22023
Hi @morange ,
I can't reproduce your issue with the same configuration as yours.

Please check if all your files have been updated correctly. You can see changed or missing files in Advanced Parameters > Informations. Or is your used 1-click upgrade, you can check the log file of the module your_admin > autoupgrade > tmp > log.txt

I'll close your issue as it is not reproducible.
Feel free to chec

[2020-11-20 08:43] #22023 closed, assigned to nobody

[2020-11-20 08:48] LouiseBonnard commented on #21978
Okay @georgelouk, thanks a lot for your explanation, I'll just edit the title of this feature request to make it clearer. But if you can provide the JS function that worked for another project, please share it here, I'm sure it will help other Greek users. ;-)

[2020-11-20 08:54] georgelouk commented on #21978
@LouiseBonnard Ok i will provide it. I wrote that title because i didn't know that it can automatically show greek chars at friendly url. I use presta from version 1.4 and never show that and actually all the e-shops i work are in greek lang.

[2020-11-20 09:05] benjaminroveri commented on #9592
For information only: some modules use the carrier id, so after each update, they dont't work properly, until you update the carrier on the module config.

[2020-11-20 09:08] PierreRambaud commented on #12742
The problem must be fixed when the Product page will be correctly migrated.
@matks can you confirm?

[2020-11-20 09:10] PierreRambaud commented on #11893
Hi and sorry for the delay, we have a lot of things to do :sweat_smile:

I think the 3000 products should not be displayed on the same page, or with a pagination / infinite load.
@PrestaShop/product-team wdyt?

[2020-11-20 09:11] PierreRambaud commented on #12149
Could you provide me a really quick example in a module in order to reproduce the issue? :)

[2020-11-20 09:13] matks commented on #12742
Hi @Bossman1337 unfortunately the Product page was built a long time ago on a model unique, and is unlike other Symfony pages. This is why the generic hook strategy for SF pages is not applicable to this one 😢 . There are other hooks specific to this page.

[2020-11-20 09:40] marionf commented on #11893
On brands and categories pages in the front-office, the number of products displayed are already limited by a pagination system (on classic theme):

Category:

![capture d'écran_2863](https://user-images.githubusercontent.com/13449658/99784646-6811ae80-2b1c-11eb-8733-e3d57bf49111.png)

Brand:

![capture d'écran_2862](https://user-images.githubusercontent.com/13449658/99784675-752e9d80-2b1c-11eb-8c

[2020-11-20 09:40] #11893 closed, assigned to nobody

[2020-11-20 09:46] DevSTG commented on #21945
@hibatallahAouadni did you try to reproduce th issue on PHP version: 5.6.x ?

[2020-11-20 09:49] PierreRambaud commented on #12933
Hi, if the feature interest a lot of theme developers, it can be done.
Feel free to create a pull request :)

[2020-11-20 09:57] #21778 closed, assigned to nobody

[2020-11-20 10:04] PierreRambaud commented on #13945
Isn't a little bit complicated. You are thinking about 3 mails when you will have to do it for 70 mails.
The system must be reusable easily:

[code]

Templates are already extendable,  and if you have.
[code]

You force the user to use 3 parameters when maybe only one is needed for this shop.
You are also unable to chain mails.

Don't forget the mail system must be easy to use like:
[code]

I don'

[2020-11-20 10:04] Hlavtox commented on #22017
@barbosatrix change ORDER ID to ORDER REFERENCE in post title and body, this is confusing ;-)

[2020-11-20 10:06] hibatallahAouadni commented on #19291
Hello @elboletaire

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-20 10:12] PierreRambaud commented on #12702
Hi and sorry for the delay.

I'm not sure assigning the `$layout` to `assignGeneralPurposeVariables` is the right solution, it will generate and consume resources for something that will no be used.

If I understand what you need, it's only because you want to know which layout name you load?
Otherwise, you can use hooks, retrieve the smarty instance, and put the needed variable inside :thinking:

[2020-11-20 10:15] PierreRambaud commented on #13672
Hi and sorry for the delay.

This is something related to the doofinder module, you should see with them for more information.
If you think the problem also exist with a fresh install, feel free to reopen the issue.

Kind regards

[2020-11-20 10:15] #13672 closed, assigned to nobody

[2020-11-20 10:28] PierreRambaud commented on #13473
Yes, we must have only one place :)

[2020-11-20 10:28] DevSTG opened #22025 "Smarty variable set in hookActionProductSearchAfter not accessible in minature product template on pages with pagination"
#### Describe the bug

If I set a Smarty variable in hookActionProductSearchAfter it is accessible in `themes/classic/templates/catalog/_partials/miniatures/product.tpl` template (or extending templates in child theme) only on first page of category product list, on subsequent pages need to refresh page (F5). Pagination issue?

#### Expected behavior

Smarty variable accessible on all pages of cat

[2020-11-20 10:29] morange commented on #22023
Hello florine2623,
thank you for your replay.

Yes, i'm using an 1-click install. In the logfile i see a lot of entries, but no error line.

Do you have an idea how i can fix it?

Many thx, Steffen

[2020-11-20 10:30] PierreRambaud commented on #18861
Yes, do it :+1:

[2020-11-20 10:30] hibatallahAouadni commented on #22007
@zzzZZZzzz9 yes I believe so!

Let's ask the product team, ping @PrestaShop/product-team this issue has been fixed on develop as you can see in my screen record, but the problem is not fully resolved like @zzzZZZzzz9 mentioned above.

Could you please check, should I open a new issue about this behavior?

Thanks!

[2020-11-20 10:31] PierreRambaud commented on #21989
Agreed

[2020-11-20 10:37] PierreRambaud commented on #21938
@hibatallahAouadni If you're able to reproduce the problem it's a bug and the module needs to be improved.

@Nakira If you have the solution, feel free to open a pull request on the module. :)

[2020-11-20 10:41] PierreRambaud commented on #21864
Could you please provide us an example (zip containing what you did)?

[2020-11-20 10:43] SD1982 opened #22026 "BO - ORDER / the focus of the button changes when you click quickly"
#### Describe the bug

In create order after adding a product, if you click quickly, the focus change between the "up" arrow and the "down" arrow

#### Expected behavior

The focus should stay on the selected button

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO / order / create order
2. Add a product
3. Try to quickly update the product quantity
4. See error

**Screenshot

[2020-11-20 10:46] PierreRambaud commented on #14983
@adu42 If we change the directory structure and put public assets and private directories containing codes and dependencies, we will have a bad time with an upgrade, it's not possible right now.
About the PCI DSS, it's not needed since the project doesn't store any credit card information, and about the ps_checkout account, everything is outside the PrestaShop module.

[2020-11-20 10:46] PierreRambaud commented on #14983
I'm closing it since PrestaShop has nothing to do here :)

[2020-11-20 10:46] #14983 closed, assigned to nobody

[2020-11-20 10:50] florine2623 commented on #22025
Hello @DevSTG ,

Is it possible to provide the module that you created ?

Thanks!

[2020-11-20 10:52] PierreRambaud commented on #14086
PrestaShop already provides tools to create releases and allow admins to play with themes/modules.
We can't create a custom puppet, chef, ansible, or Deployer scripts for all use cases. People having PrestaShop in production are the best to improve the documentation or purpose custom repositories with what they need.

I'm in favor of closing this issue.

[2020-11-20 10:55] Progi1984 commented on #14086
I approve. This issue is not an issue. It's a way. We must provide tools for helping developers to deploy a shop from the sources. Actually, we do that. If developers have needs, they must create specific tickets.

[2020-11-20 10:58] PierreRambaud commented on #14336
@PrestaShop/product-team Tell us what behaviour you need, and we will do it :)

[2020-11-20 10:59] #14086 closed, assigned to nobody

[2020-11-20 11:00] #21831 closed, assigned to NeOMakinG

[2020-11-20 11:00] PierreRambaud commented on #14411
Yes it is safe, we can remove whatever we want for timezone :)

[2020-11-20 11:03] PierreRambaud commented on #14854
@LouiseBonnard Not yet. We must decide what we will do about this issue :)

[2020-11-20 11:04] PierreRambaud commented on #14885
If the bug is fixed with the new version, we can close this issue. :)

[2020-11-20 11:10] PierreRambaud commented on #14855
Hi, you're already able to generate a module based on https://validator.prestashop.com/generator
Seems the community has already tools to do the job :)

[2020-11-20 11:10] #14855 closed, assigned to nobody

[2020-11-20 11:24] DevSTG commented on #22025
Yes, it's really simple module it only registers a hook and sets Smarty variable - there is only 1 file: `stgtestsearchfilter.php`
[code]
Please remember you need to add code: `{if isset($hookActionProductSearchAfterTest)}TEST OK!{/if}` in your `themes/classic/templates/catalog/_partials/miniatures/product.tpl` file

I just noticed that my Smarty variable is not accessible in `themes/classic/templ

[2020-11-20 11:52] khouloudbelguith opened #22029 "BO - Order page - when adding a product which has an ecotax to an old order, the base price is NOK"
#### Describe the bug

The ecotax is enabled, In the BO > Orders > old order details page > when we try to add a product which has an ecotax, the base is NOK, so the total is NOK, the invoice is NOK

The Edit of a product with Ecotax is NOK too.

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Go to BO > International > Taxes > Enable "Use ecotax"
![image](https://user-images.githubu

[2020-11-20 12:23] zuk3975 commented on #19524
@jolelievre i don't think we can close it, its only command handler migrated, its far from end :sweat_smile:

[2020-11-20 12:43] matteolavaggi commented on #11893
On brands and categories pages in the front-office, the number of products displayed are already limited by a pagination system (on classic theme):

==> So why it take crazy amount of time to be executed ?

[2020-11-20 13:14] hibatallahAouadni commented on #14885
Hello,

I didn't reproduce it with PS1.7.6.9 and ps_linklist 3.2.0 as you can see in the attached screen record below:

https://drive.google.com/file/d/1EflzaMoaSHGqzHRccTT8oHxZlRRWZXPU/view

I close this issue.

Thanks!

[2020-11-20 13:14] #14885 closed, assigned to nobody

[2020-11-20 13:30] jf-viguier commented on #14855
We have started something here https://github.com/friends-of-presta/fop_console/pull/13
WIP, any help apreciated.

[2020-11-20 13:31] Daaaaad opened #22030 "No logo on invoice PDF"
#### Describe the bug

Hello, on a fresh install of PrestaShop 1.7.6.5 (local using Docker) the shop logo is not displayed on PDF invoices.

#### Expected behavior

Product images are correctly displayed if I check this option:

<img width="898" alt="Capture d’écran 2020-11-20 à 14 30 44" src="https://user-images.githubusercontent.com/167037/99805531-feee6300-2b3c-11eb-9df1-df73fe056326.png">

B

[2020-11-20 13:41] matks commented on #22029
Hu @khouloudbelguith in your invoice I see that there is 2 lines
- 1st line: this is the product you added
- 2nd line for "demo_8"

It seems the 2nd line is wrong too ? 🤔  I see the tax included is equal to tax excluded, although tax rate is supposed to be 20%/

[2020-11-20 13:47] Robin-Fischer-PS commented on #22029
@matks The second line has not "tax incl." column, it's only Unit Price and Total (both Tax excl.).

[2020-11-20 13:48] PierreRambaud commented on #11893
You should check with the modules you installed.
I tried with a thousand products and it takes 200ms to load the page.

[2020-11-20 13:48] florine2623 commented on #22030
Hi @Daaaaad ,

I can't reproduce your issue on PS 1.7.6.5.
The option you showed is for product images not the logo.
On my case both logo and product images are displayed :
![Capture d’écran 2020-11-20 à 14 47 51](https://user-images.githubusercontent.com/16019289/99807216-77562380-2b3f-11eb-9b61-30a7a8c60424.png)

![Capture d’écran 2020-11-20 à 14 45 36](https://user-images.githubusercontent.

[2020-11-20 13:48] #22030 closed, assigned to nobody

[2020-11-20 13:49] khouloudbelguith commented on #22029
Hi @matks,

The demo_8 from the BO
![image](https://user-images.githubusercontent.com/16067358/99807206-732a0600-2b3f-11eb-9f15-4a085e262aa1.png)

Thanks!

[2020-11-20 13:49] matks commented on #22029
I am asking about the _invoice_ 😄 . This:

<img src="https://user-images.githubusercontent.com/16067358/99796842-7799f300-2b2e-11eb-9f29-27350ca8cfc9.png">

[2020-11-20 13:52] PierreRambaud commented on #14553
There are already a lot of anti-spam protections modules: https://addons.prestashop.com/en/429-website-security-access

Having it inside the Core could be a problem because of maintainability and updates. The release process of a module is always faster, easier and can be available in a lot of PrestaShop versions :)

[2020-11-20 13:52] #14553 closed, assigned to nobody

[2020-11-20 13:54] matteolavaggi commented on #11893
TRy with one hundred thousand , 1k product is nothing !

Il giorno ven 20 nov 2020 alle ore 14:48 GoT <notifications@github.com> ha
scritto:

[2020-11-20 13:57] sousousm opened #22031 "bug prestashop checkout"
#### Describe the bug

Bonjour, impossible d'utiliser prestashop checkout.

#### Expected behavior

Je suis bien connectée à mon compte prestashop checkout mais je n'arrive pas à lier paypal correctement.  Lorsque le compte est lié, ce n'est pas mon e-mail qui apparaît mais un e-mail inconnu!

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'prestashop checkout'
2. Click on 'co

[2020-11-20 13:57] matks commented on #22029
@khouloudbelguith my bad I am really tired, there is no issue

[2020-11-20 13:59] PierreRambaud commented on #11893
Not sure the PrestaShop Core is optimized for 100 000 products, if you have a lot of products in your shop, please contact a professional to help you to optimize your shop, and if problems come from the Core, feel free to reopen the issue or create a pull request :)

[2020-11-20 14:02] florine2623 commented on #22031
Hello,

This platform is for PrestaShop solution bugs only.

If you have an issue with PS Checkout please contact the support of PS Checkout directly through the module !

Thank you, I will close your issue.

[2020-11-20 14:02] #22031 closed, assigned to nobody

[2020-11-20 14:03] PierreRambaud commented on #14544
Hi @Quetzacoalt91 and really sorry for the delay.
You're right, some features need to be allowed by default whereas the installation of modules and themes should be disabled!

[2020-11-20 14:04] PierreRambaud commented on #14897
As @matks a huge work is planned for the API. I'm closing this issue :)

[2020-11-20 14:04] #14897 closed, assigned to nobody

[2020-11-20 14:06] PierreRambaud commented on #13046
I'm closing this issue since @Quetzacoalt91 answer you with a link to the documentation :)

[2020-11-20 14:06] #13046 closed, assigned to nobody

[2020-11-20 14:08] PierreRambaud commented on #15193
I agree we shouldn't change the mode if it's not mandatory.

[2020-11-20 14:32] PierreRambaud commented on #14729
Yes, also you're refering to another language. We are using PHP: https://www.php.net/manual/en/datetime.format.php
I'm closing this issue. Thanks

[2020-11-20 14:32] #14729 closed, assigned to nobody

[2020-11-20 14:37] matthieu-rolland commented on #21902
I didn't manage to reproduce the issue, following exactly your steps:

<img width="1007" alt="Capture d’écran 2020-11-20 à 15 31 07" src="https://user-images.githubusercontent.com/1784781/99811517-935cc380-2b45-11eb-9694-6505201d12ed.png">

I tried in multishop as well just in case, no difference...

As seen with @khouloudbelguith it seems like it could have been fixed by this PR:  #21994

[2020-11-20 14:40] Robin-Fischer-PS commented on #22029
This issue also happens when editing a product with Ecotax (Prices are displayed OK during Edit, but the Ecotax is added once the Edit validated, it shouldn't).

[2020-11-20 14:47] hibatallahAouadni commented on #9828
Hello @marionf

I manage to reproduce the issue with PS1.7.6.9, PS1.7.7.0-rc.1+build.4 and develop, see the attached screen record below:

https://drive.google.com/file/d/12s9Q9zbNHXyMEoeSh9SE1Qmp6qV-0ed_/view

Thanks!

[2020-11-20 14:54] Progi1984 commented on #22008
Fixed by #22018

[2020-11-20 14:54] #22008 closed, assigned to matks

[2020-11-20 15:05] LouiseBonnard commented on #14411
It's great news, thanks @PierreRambaud, let's remove the obsolete timezone _US/Pacific-New_ then!

[2020-11-20 15:10] hibatallahAouadni commented on #18203
Hello @MatShir

What's this improvement's status? is it **`TBS`** or **`ToDo`**?

Thanks!

[2020-11-20 15:35] Daaaaad commented on #22030
Hi @florine2623,

I know for the option... That's only to show you that product images are displayed but not shop logo 😉

The logo present in your screenshot is not the default PrestaShop 1.7.6.5 logo 🤔 Have you changed it?

Are you testing locally on a mac?

[2020-11-20 15:38] PierreRambaud commented on #14895
Yes, it's a problem. :sweat_smile:
Maybe don't send an int but a string, or isPrice should not check only string :thinking:

[2020-11-20 15:48] PierreRambaud commented on #16792
PrestaShop already provides a modern way to change the PrestaShop and website in mails.
https://devdocs.prestashop.com/1.7/modules/concepts/mail-templates/

[2020-11-20 15:48] #16792 closed, assigned to nobody

[2020-11-20 15:56] hibatallahAouadni commented on #16004
Hello,

I managed to reproduce the issue with PS1.7.6.9, PS1.7.7.0-rc.1+build.4 and develop, see the attached screen record below:

https://drive.google.com/file/d/11OSBXUhE2Y2Svu0HgIO3K0Gsf3zhgBIb/view

@PrestaShop/product-team what we should choose as status for this issue? **`ToDo`** or **`TBS`**?

Thanks!

[2020-11-20 16:09] hibatallahAouadni commented on #10459
Hello,

I managed to reproduce the issue with PS1.7.7.0-rc.1+build.4, see the attached screen record below:

https://drive.google.com/file/d/1MQ_rXiz0gZ1mDYiW0rggF8EKjo1CNcmQ/view

Thanks!

[2020-11-20 16:13] marionf commented on #22007
@hibatallahAouadni Yes, please create a new issue to explain exactly what is not working and close this one if it's partially fixed.

[2020-11-20 16:14] khouloudbelguith commented on #21902
Hi @matthieu-rolland,

thank you!

Yes, it is fixed :smile:
https://drive.google.com/file/d/1ApdSVK-zV-XMXnMhHRpElChkn9yaBOEU/view?usp=sharing

Thanks!

[2020-11-20 16:14] #21902 closed, assigned to matthieu-rolland

[2020-11-20 16:20] PierreRambaud commented on #16702
Hi and really sorry for the delay, we are really busy with many other issues.

If I correctly understand what you are trying to do, is using the correct shop in the admin depending on the URL?
I manage to reproduce if I'm right :sweat_smile:
![image](https://user-images.githubusercontent.com/1462701/99822453-86df6780-2b53-11eb-89a6-60e1b68b790a.png)

[2020-11-20 16:24] PierreRambaud commented on #16661
Afaik, it's because some data need to be refreshed and unfortunately, we are not using an API or a front with reactive properties, so we have to rebuild it manually which is consuming time and can include risk. The best way to handle it is:

- GET the form
- Submit in POST
- Everything is OK, Redirect to Get the Form.

By the way, the Order page has been migrated with the 1.7.7.0 (which is coming

[2020-11-20 16:24] #16661 closed, assigned to nobody

[2020-11-20 16:27] PierreRambaud commented on #16629
I'm not able to reproduce the issue, I need more detail to be able to reproduce it.

[2020-11-20 16:34] PierreRambaud commented on #16624
Hello everyone,

at it says in the [devdoc](https://devdocs.prestashop.com/1.7/modules/creation/good-practices/#dos-and-donts):

- Create your own database tables, do not alter PrestaShop’s.
- Don’t edit the SQL structure of PrestaShop tables.

Kind regards

[2020-11-20 16:34] #16624 closed, assigned to nobody

[2020-11-20 16:43] matks commented on #22029
I thought that `$product->price` contained the ecotax but no. So when Khouloud does this
[code]

What happens in database is
- product->price = 5.83 (without taxes)
- product->ecotax = 5
and consequently `product->unit_price` is the sum of these two so we have (outside of database, this is computed)
- product->unit_price_without_taxes = 10.83 (unit = with ecotax included)
- product->unit_price_wit

[2020-11-20 16:45] hibatallahAouadni opened #22033 "[BO] "Import a localization pack" select is without a search input neither style"
#### Describe the bug

We use to have an input search in the **Localization pack you want to import** select with PS1.7.7.0 and with previous versions, but on the develop branch, the whole style and functionality has been changed to the worst

#### Expected behavior

The same style and functionality of this select, like we use to have with PS1.7.7.0

#### Steps to Reproduce

1. BO > **IMPROVE** >

[2020-11-20 17:20] prestascott commented on #21797
Hello everyone,

Thank you @okom3pom for your request.

Here are my user flow and design proposition:

![newuserflow](https://user-images.githubusercontent.com/54888056/99829714-edb54e80-2b5c-11eb-9f1b-8b18c22f3eec.jpg)

**STEP 1**
- In the “Conditions” tab (when the merchant creates a discount voucher), he enters the name of the customer (John Doe) who will benefit from it then he indicates dates

[2020-11-20 17:24] LouiseBonnard commented on #14336
Hi all! We allow the homepage URL to be rewritten so editing this field should work. If not, it is a bug.

As to know if it is a good practice, I will check. In case it is not recommended at all, perhaps we should study the possibility of disabling this feature for the index page.

[2020-11-21 04:36] TamasFelix commented on #12452
Hello, i have the same issue
DevTools failed to load SourceMap: Could not load content for /modules/revws/views/js/front-1_1_0.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE
DevTools failed to load SourceMap: Could not load content for /themes/core.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE
[https://www.kiwigym.ro/sanatate-incheieturi/univers

[2020-11-21 08:28] juraj1000 opened #22035 "Duplicated information about tracking"
#### Describe the bug
There is duplicated information about track number in one screen. It takes only space and it is not necessary to see it twice.

#### Expected behavior
Remove whole section "Click the following link...." also with url "https://www....." for track number. The user shouldn't see directly the url link on the screen. Tracking number is displayed down at right corner and it is suff

[2020-11-21 09:58] madkot opened #22036 "[BUG] SpecificPrice calculated for customer groups instead of default_group_id"
#### Describe the bug

I'm not sure if it is a bug or just PS logic, but it is not clear at al.
Calculation of specific price rule uses customer default group, but (in my opinion) should use a list of assigned groups to customer instead.

#### Expected behavior

\SpecificPrice::getSpecificPrice should use id list of user assigned groups instead of $id_group (customer default group id).

#### Steps

[2020-11-21 10:18] catlynx commented on #21910
Hello @hibatallahAouadni

Thanks for the screen video,
The bug persists, I checked my web server parameters and I did an update. I tried several installations, but no way.

I will do other test and I will be back if something new comes up.

[2020-11-21 10:49] Novaslash opened #22037 "Home, 404 error at the end of the installation"
Hello,

First of all, please excuse me for my English.

I am using Prestashop version 1.7.6.8.

After working locally on my personal theme, I decided to send everything to the server first without my theme.

The installation went without a hitch, but while the administration seems to be running smoothly, the store does not. Indeed, from the reception, the link remains blocked on "https://dnoi.fr/s

[2020-11-21 11:08] pks891618 opened #22038 "can we customise the prestsahop 1.7 stocks dashbaord ?"
Prestashop 1.7.6.8

Can we customize  /stocks/ grid by adding more columns?

how can we override src folder

[2020-11-21 11:12] SimonGrn commented on #22037
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-21 11:12] #22037 closed, assigned to nobody

[2020-11-21 11:12] SimonGrn commented on #22038
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-11-21 11:12] #22038 closed, assigned to nobody

[2020-11-21 13:17] madkot commented on #10420
I have same problem with product description PS 1.7.6.8, php 7.2, memcached enabled
after update description it not refresh on product for a some time (1min - ?).

[2020-11-21 15:33] thierry-laval opened #22039 "Envois d'un email de notification au vendeur et au client"
#### Describe the solution you'd like

Lorsque un avis est emis sur la boutique ce serait bien qu'un email soit envoyé aux client pour le remercier.

Lorsque un avis est emis sur la boutique ce serait bien que l'administrateur recoive un email pour l'avertir.

Lorsque un client poste un avis avec 5 etoiles, seulement 3 etoiles sont mises sur le front de la boutique.

[2020-11-21 16:36] SimonGrn commented on #22039
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**. Your issue **MUST BE** written in English.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can pro

[2020-11-21 16:36] #22039 closed, assigned to nobody

[2020-11-21 17:03] evahyw opened #22040 "Call to undefined method PrestaShop\PrestaShop\Adapter\MailTemplate\MailPreviewVariablesBuilder::trans()"
#### Describe the bug

Hi
I was testing all emails themes and found that all themes worked except for " new-order(ps_emailalerts)", in all 3 themes (classic, modern and my personalised theme) that I installed on my website, it shows a page that says:

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this err

[2020-11-21 17:08] thierry-laval commented on #22039
Hello, so yes I write in English if you want but points out that we are in France and that prestashop is French ... But either :-)
There is no problem !
A suggestion ... That of being able to receive an email notifying the administrator that a notice has been posted by a customer ...
And that of ensuring that an email is also sent to the customer to thank him for his opinion ...

The rest is good

[2020-11-21 17:11] thierry-laval opened #22041 "Notice"
#### Is your feature request related to a problem?

the customer posts a notice and does not receive a thank you email

When a notice is posted, the store administrator does not receive an email to warn him

#### Describe the solution you'd like

A clear and concise description of what you'd want to happen.

#### Alternatives you've considered

Be able to receive an email that notifies the adminis

[2020-11-21 18:01] SimonGrn commented on #22039
What makes you think "we are in France" ? Maybe you are physically, but Github is hosted in the USA. Everything in this repository is written in English, the [PrestaShop documentation](https://devdocs.prestashop.com/) is written in English, our own [communication](https://build.prestashop.com/) is written in English, because the product is used by people all around the world.

You're confusing the

[2020-11-21 18:27] thierry-laval commented on #22039
Well, you're in Lyon, it's not in France.
And sorry but ... https://fr.wikipedia.org/wiki/PrestaShop
Whatever :-) let's be nice ...

You are upset.
This was not my point and I just wanted to ask for a missing function ... Useful to everyone :-)

I have no problem but where should I write to point out an important missing function?
Sorry you don't like it but I assure you that this function would b

[2020-11-21 18:50] num47 opened #22042 "Does not work with the "www" before domain name."
Hello,

I have freshly installed Prestashop in a subfolder of my domain. I have use https://www.mydomain.com/prestashop to check about it. But, after installing few modules in the prestashop the Product Comments section stoped showing any comment. But, it was showing the number of the comment/s and the summarized ratings. I could write a review but if i was trying to submit the review then it was

[2020-11-21 19:01] SimonGrn commented on #22039
Again, what does that have to do with anything ? We're on Github, not in my house.

Yes, this is the french version of the article on Wikipedia. So what ? [This is the english version](https://en.wikipedia.org/wiki/PrestaShop), what does that have to do with anything ?

You use the correct template and fill it, like you did with #22041.

I don't have to "like it" or not, this is not how Open Sourc

[2020-11-21 20:07] SimonGrn commented on #22042
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-21 20:07] #22042 closed, assigned to nobody

[2020-11-21 21:14] juraj1000 opened #22043 "Incorrect order of email templates in Translation"
#### Describe the bug
There are unsorted email templates in Translation in BO. It is quite confusing to find the "correct" email template if you want to edit it.

#### Expected behavior
The email templates should be sorted alphabetically.

#### Steps to Reproduce
1. Go to BO
2. Choose International > Translations
3. Fill values:
- Type of translations: Email translations
- Select the type of email

[2020-11-21 22:12] matks opened #26098 "v4.0.0 not compatible with PS 1.7.7.0 : "cancel product" fails with error message"
As found by @SD1982,
- when ps_googleanalytics v4.0.0 is used with PS 1.7.7.0 with new migrated Order page
- if merchandise return is enabled, which allows to cancel products
- if you perform "cancel product" action on an order you get this error message

<img src="https://user-images.githubusercontent.com/40635814/99063464-d991b000-25a4-11eb-8612-eb023a263b49.png">

When this message is being exp

[2020-11-21 22:17] matks commented on #22040
Hey, thanks for the detailed bug report 😉

[2020-11-21 22:48] matks commented on #22038
As mentioned by @SimonGrn these questions will indeed find a lot better answer in the Slack channel 😉 come to ask it => [here](https://github.com/PrestaShop/open-source/tree/master/slack)

[2020-11-21 22:55] HartLarsson opened #22044 "productcomments v4.2.0 - Unexpected token o in JSON at position 1"
#### Describe the bug

I've updated the Product comments to v4.2.0 and when i enter in any prroduct page the function paginateComments(page) show up a console error:

`VM341:1 Uncaught SyntaxError: Unexpected token o in JSON at position 1
    at JSON.parse (<anonymous>)
    at Object.success (bottom-65b1e2380.js:formatted:17208)
    at u (bottom-65b1e2380.js:formatted:1364)
    at Object.fireWith

[2020-11-22 07:36] num47 commented on #22044
I have faced this types of problem as well. i found a temporary work around for my problem. All i had to change is the "www" from the domain. As in "https://www.yourdomain.com/" to "https://yourdomain.com". See if this works for you. If not then you are probably facing something different than i was.

[2020-11-22 12:30] lacell75 commented on #21982
After updating PS to 1.7.6.9 version, block reassurance is broken in my side also. I have seen that the table have been renamed (ps_reassurance to reassurance), please see screenshots attached
![reassurance_BDD_rename](https://user-images.githubusercontent.com/33258660/99903755-bd89bf00-2cc6-11eb-961b-b83c3238b603.png)
![reassurance_broken](https://user-images.githubusercontent.com/33258660/999037

[2020-11-22 13:14] matks commented on #21982
@lacell75 Would this be an accurate description of your issue ?

Steps to reproduce the behavior:

1. Install PS 1.7.6.8
2. Upgrade blockreassurance module to latest version v5.0.0
3. Upgrade PrestaShop to PS 1.7.6.9
4. Module blockreassurance has been downgraded to v4

Can you confirm?

[2020-11-22 13:31] lacell75 commented on #21982
Yes I confirm.

[2020-11-22 14:30] evahyw commented on #22040
Thank you for your comment, I hope some one could help me out with this issue.
Have a nice day

[2020-11-22 15:52] neonVoice commented on #12308
I encountered the same problem with 1.7.6.8 version, my russian currency symbol `₽` was displaying as an `empty box` or `box with question mark`, i tried all default fonts from tcpdf fonts folder `\vendor\tecnickcom\tcpdf\fonts` where you needed to change font name in `\classes\pdf\PDFGenerator.php` file in `$font_by_lang` variable for your ISO, howevery in my situation only this list of fonts dis

[2020-11-22 17:10] photinia73 commented on #21982
You are right. After upgrade to 1.7.6.9 module blockreassurance have new tables (( And these tables have no fields Link, Description etc…  I think this is not only my problemMy version of blockreassurance is 4.1.1 Do  blockreassurance 5.0.0 have thr same DB fields as v 4.1.1? link, description possibilities?   З повагоюКричмарівська Світлана От: Fabien CELLIERОтправлено: воскресенье, 22 ноября 202

[2020-11-22 18:35] menno-maakt commented on #20059
I've been experiencing this exact issue in 1.7.6.6, along with an inadvertent switching to maintenance mode. I updated to 1.7.6.8, issue went away.

But! Then it came back in 1.7.6.8! Also switched back to maintenance mode by itself. Weird. I did a full diff between the online version and a fresh download and no files had been changed. Twig templates were fine. Very strange.

I got it going again

[2020-11-22 19:36] Carlos007007cmca commented on #12132
Hi guys,

i think am having the same error in version 1.7.6.9,  PHP verison 7.2

when i try to finalize the order process the error came up:

(1/1) UndefinedFunctionExceptionAttempted to call function "idn_to_ascii" from the global namespace.
--
in Mail.php line 898
at MailCore::toPunycode('c_cesar007@hotmail.com')in Mail.php line 323
at MailCore::send(3, 'bankwire', 'A aguardar tranferência bancá

[2020-11-22 19:41] C00SEVEN opened #22047 "CHECKOUT ERROR module/ps_wirepayment/validation"
Am getting this error after upgrade, and now am stuck!
in last step on checkout process after i select the payment and proceed this error 500 came up.

#### Additional information

* PrestaShop version: 1.7.6.9
* PHP version: 7.2

This is what show up in debug mode:

(1/1) UndefinedFunctionExceptionAttempted to call function "idn_to_ascii" from the global namespace.
--
in Mail.php line 898
at Mail

[2020-11-22 22:28] TecnoHands opened #22048 "Dont is a bug I need info for cookie and dont found it anywere Prestashop-xxxxxxxxx"
Hi, I dont found info in anywere and I need to know the reason for this cookie in Prestashop 1.7.7 to acomplish the Cookie Policy of the AEPD Very thanks.

https://cookiepedia.co.uk/cookies/PrestaShop-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx (Cookie pro gave that info)

bout this cookie:

This cookie is owned by PrestaShop, an open source e-commerce solution. It helps to provide themes using a web templat

[2020-11-23 07:42] SimonGrn commented on #22048
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-11-23 07:42] #22048 closed, assigned to nobody

[2020-11-23 08:11] matks commented on #22048
@TecnoHands As explained on [this page](https://devdocs.prestashop.com/1.7/faq/i-need-help/),

"If you are a developer and you think there is a missing item in the Developer documentation, consider creating an issue on the [Documentation Repository](https://github.com/prestashop/docs). This will help us discuss what to do to improve it."

😉

[2020-11-23 08:43] hibatallahAouadni commented on #22035
Hello @juraj1000

What you mentioned above, it's not a bug. That's the normal behavior!
But if you sugguest to improve this behavior, please open a new issue as feature request (like the screenshot below)

![image](https://user-images.githubusercontent.com/23308427/99942623-43ae1000-2d70-11eb-911b-12d5d26f7c6b.png)

Thanks!

[2020-11-23 08:43] #22035 closed, assigned to nobody

[2020-11-23 08:54] yvan02 opened #22049 "Broken selects in BO after fresh install"
Prestahsop version : 1.7.6.9
PHP Version : 7.4.12

Hi,

A lot of the BO's select input are broken for me on a fresh install of 1.7.6.9 : there is a a missing space in the tag structure between the tag's name and the id property resulting in broken forms and unability to change settings :

`<selectid="form_stock_pack_stock_management" name="form[stock][pack_stock_management]" class="custom-select">

[2020-11-23 08:58] PierreRambaud commented on #21945
We are not supporting PHP 5.6 anymore.

[2020-11-23 08:58] SimonGrn commented on #22049
Your PHP version is too high. Please follow the [requirements ](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)and downgrade to PHP 7.2.

Thank you, I close this issue.

[2020-11-23 08:58] #22049 closed, assigned to nobody

[2020-11-23 09:10] hibatallahAouadni commented on #22036
Hello @madkot

Could you please check if your issue is similar to this one #13705?

Thanks!

[2020-11-23 09:24] hibatallahAouadni commented on #22040
Hello @evahyw

I didn't manage to reproduce your issue with PS1.7.6.8, see the attached screen record below:

https://drive.google.com/file/d/1CGTt1F58lsVXOQUnBpQzbLFZPhoBYK-u/view

About PhpPsInfo, that's weird! normaly, all you need to do is **Type in the login and password if prompted (use prestashop for both).** Could you please check your server configuration?

Please check and feedback.

Tha

[2020-11-23 09:38] LouiseBonnard commented on #11053
A duplicate issue (https://github.com/PrestaShop/PrestaShop/issues/19291) has the same request to reinforce WS security by adding an authorization layer. So I close this one and keep the other open so that we can all stay focus at the same place, feel free to comment on the other one. :-)

[2020-11-23 09:38] #11053 closed, assigned to nobody

[2020-11-23 09:43] DevSTG commented on #21945
It's quite important news, I think I shouldn't be able to install PS if my PHP version is not supported.
Anyway, can you confirm PHP version affects APC cache?

[2020-11-23 09:50] PierreRambaud commented on #21945
@DevNet Here's the [PHP Compatibility Chart](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart).
I'm not able to reproduce the problem with the latest PHP version. Unfortunately, we will not spend time testing all PrestaShop versions with old PHP versions if everything is working well on latest releases :)

[2020-11-23 09:50] hibatallahAouadni commented on #22041
Hello @thierry-laval

We are aware of this issue (feature), it is already in our debug backlog. This issue is a duplicate of #17837.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-11-23 09:50] #22041 closed, assigned to nobody

[2020-11-23 09:51] hibatallahAouadni commented on #22041
Duplicate of #17837

[2020-11-23 09:56] keosite opened #22050 "DISCOUNT ERROR invalid date_to field"
I can't save a period for discounts in Cart Rules and Catalog Price Rules.

In Backoffice when I change date by clicking on the date calendar and save this error appears :
"The date_to field is invalid."

It work only if I don't change the valid period of the discount.

#### Additional information

* PrestaShop version: 1.7.6.8
* PHP version: 7.3.22

[2020-11-23 09:57] khouloudbelguith commented on #18940
Hi @6xthFNGR,

Sorry for the late response.
We are aware of this issue, it is added to our bug roadmap.
Your issue is a duplicate of #16132.
So, I close this ticket, feel free to open a new one when needed.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-11-23 09:57] #18940 closed, assigned to nobody

[2020-11-23 09:57] khouloudbelguith commented on #18940
Duplicate of #16132

[2020-11-23 10:03] thierry-laval commented on #22041
Thank a lot, have a nice day

[2020-11-23 10:04] DevSTG commented on #21945
@PierreRambaud The chart you provided suggests that my PS version 1.7.6.x seems to be ok with my PHP version 5.6.x, so maybe the chart should be updated?

[2020-11-23 10:06] hibatallahAouadni commented on #22043
Hello @juraj1000

What you sugguest above is an improvement! so could you please change your request template to feature template.

Thanks!

[2020-11-23 10:10] SimonGrn commented on #22050
Hello,

Your PHP version is too high. Please follow the [requirements ](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)and downgrade to PHP 7.2.
**Please follow the template when you create an issue.**

Thank you, I close this issue.

[2020-11-23 10:10] #22050 closed, assigned to nobody

[2020-11-23 10:29] keosite opened #22051 "DISCOUNT ERROR invalid date_to field"
#### Describe the bug

I can't change a period for discounts in Cart Rules and Catalog Price Rules.

#### Expected behavior

Change validity period of discounts.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Discounts
2. Create or edit a Cart Rule or Catalog Price Rule
3. Change the validity period of the rule by clicking on the date calendar
4. Save
5. See er

[2020-11-23 10:31] PierreRambaud commented on #21945
Not it is, but we are now working on 1.7.7.x and develop branches only. There will be no update on 1.7.6.x branch.

[2020-11-23 10:34] matks commented on #22029
**After very heavy discussion** with @eternoendless @marionf @jolelievre @Progi1984 and many more we found many more questions and issues about the use of ecotax in this BO page and in PrestaShop in general, too much to be handled in 1.7.7 at this stage of the release. We will even need deep exploration of the topic to correctly handle it.

[2020-11-23 10:39] hibatallahAouadni commented on #22044
Hello @HartLarsson

I didn't manage to reproduce your issue with PS1.7.6.7 and ProductComments v4.1.0, see the attached screen record below:

https://drive.google.com/file/d/10w33uGHJZqm7tLk4q_ql3wvgCtXpcyc_/view

As you can see in the screen record above, I upgraded my ProductComments version from 4.1.0 to 4.2.0, and all approved comments are well displayed.
Could you please provide your ProductC

[2020-11-23 10:44] hibatallahAouadni commented on #22047
Hello @Carlos007007cmca

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information

[2020-11-23 10:44] #22047 closed, assigned to nobody

[2020-11-23 10:52] hibatallahAouadni commented on #22051
Hello @keosite

I didn't manage to reproduce your issue with PS1.7.6.8, see the attached screen record below:

https://drive.google.com/file/d/10VwvA_afKTyJiqzH8YQTxEqRKKzgchKE/view

Please check and feedback.

Thanks!

[2020-11-23 10:54] hibatallahAouadni commented on #21695
Hello @Aidam-puk ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-23 10:55] hibatallahAouadni commented on #21718
Hello @spelagp ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-23 10:55] #21718 closed, assigned to nobody

[2020-11-23 11:14] fest73 opened #22052 "Attributes for combination are incorrectly selected"
#### Describe the bug

It turned out that the attributes for the combinations were not loaded correctly, i chose one and in fact the system said that I chose another

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create many combinations for products
2. Create specific prices
https://prnt.sc/vocaap
3. After adding a discount, I saw that I added a discount to another combination
htt

[2020-11-23 11:20] SimonGrn commented on #22051
Hello,

Please think about following the template (I specifically asked you to not do that [here](https://github.com/PrestaShop/PrestaShop/issues/22050#issuecomment-732060623)).
We need at least more information about your exact steps and some screenshots.

[2020-11-23 11:32] Estou-presta commented on #15033
thank you guys for this solution, you saved me

[2020-11-23 11:46] morange commented on #22023
Hello @florine2623,

i found at the forum an tip for that problem. :) It seems so that mails with capital letter are the problem.

Do you know that problem and have maybe an fix for that?

Many thx, Steffen

[2020-11-23 12:45] hibatallahAouadni commented on #22052
Hello @dariusakafest

This issue has been fixed with PS1.7.6.9, see the attached screen below:

https://drive.google.com/file/d/15_lQoI9XwK69LKKNzTzxnvEZM8tRZm0i/view

I'm closing this issue.

Thanks!

[2020-11-23 12:45] #22052 closed, assigned to nobody

[2020-11-23 13:26] Spir opened #22056 "ps_facetedsearch: hide products that are not in stock"
#### Describe the bug

**Faceted search should not return unavailable products by default.**
Once a user change the filters the results displayed shows some product that are no longer available. There is the possibility to add a filter option to hide unavailable product but most of the time customer don't see it. Customers are complaining. Also they have to go to the product page to see it's not a

[2020-11-23 13:32] matks commented on #22056
Hi @Spir it is probably not related to your bug report but be careful: PS 1.7.6.8 is not 100% compatible with php7.3 😉  you might want to downgrade your PHP version

[2020-11-23 13:38] Spir commented on #22056
Yes you are right I should downgrade. I tought I had the last version when checking the requirement.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

[2020-11-23 13:38] hibatallahAouadni opened #22057 "Cart discount applied to reduced items (although disabled)"
#### Describe the bug

Creating a voucher applicable only on products belongs to selected category and doesn't apply on products on sale. if we add the voucher in cart whose contain only the product sale, an error message popup (That's **OK**) but if the cart contain another product doesn't belong to the selected category, we can apply the voucher (**NOK**) instead the value of discount is 0 (**OK

[2020-11-23 13:42] hibatallahAouadni commented on #22007
Hello @zzzZZZzzz9

Your issue is solved, so I'm closing this issue.
@marionf I open a new issue for the other bug #22057

Thanks @zzzZZZzzz9 for reporting this bug to us!

[2020-11-23 13:42] #22007 closed, assigned to nobody

[2020-11-23 13:45] khouloudbelguith commented on #22007
Duplicate of #19090

[2020-11-23 13:59] matks commented on #21982
v5.0.0 has the same global behavior than v4.1.1 (same database structure) plus some bug fixes and new features, you can see changelog here https://github.com/PrestaShop/blockreassurance/releases

[2020-11-23 14:06] PierreRambaud commented on #15396
Since #11125 has been merged, we don't have to use protected instead of private right now.
Feel free to reopen if you think it's really mandatory.

[2020-11-23 14:06] #15396 closed, assigned to nobody

[2020-11-23 14:08] hibatallahAouadni commented on #19090
Hello,

This issue has been partially fixed with PS1.7.7.0-rc.1. I open a new issue for the minor problem that still persist #22057
So, I close this issue.

Thanks!

[2020-11-23 14:14] matks commented on #14086
Well we do provide docker images 😅  it's a bit the same idea

[2020-11-23 14:14] hibatallahAouadni commented on #22056
Hello @Spir

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #16952.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-11-23 14:14] #22056 closed, assigned to nobody

[2020-11-23 14:15] hibatallahAouadni commented on #22056
Duplicate of #16952

[2020-11-23 14:17] PierreRambaud commented on #14086
It's not the same, you can't compare a docker image with an infrastructure automation tool or a configuration management tool.

[2020-11-23 14:20] matks commented on #14086
@PierreRambaud what I mean is that "providing docker images" is something that is not necessarily needed from PrestaShop that helps people run it in production. And an infrastructure automation tool is also not necessarily needed from PrestaShop and it helps people run it in production.

But anyway we never succeeded to find the time to work on this topic 😢  so I agree to close it

[2020-11-23 14:22] marionf commented on #19090
@hibatallahAouadni

Just tested on 1.7.7.x branch and this issue doesn't seems fixed

1. I created a cart rule of 10% and excluded discnouted products
2. I added to products in my cart: Hummingbird printed sweater, Size S (discounted) and Mug The best is yet to come (not discounted)

![capture d'écran_2865](https://user-images.githubusercontent.com/13449658/99973140-bbdffa00-2d9f-11eb-848a-2b27588

[2020-11-23 14:23] PierreRambaud commented on #14086
@matks False, we use all our docker images for our CI :thinking:

[2020-11-23 14:27] PierreRambaud commented on #16229
We prefer don't change what provides the Tools class and focus our efforts on the migration.
I'm closing this issue, we will do it with the migration process.

[2020-11-23 14:27] #16229 closed, assigned to nobody

[2020-11-23 14:27] hibatallahAouadni commented on #19090
Hello @marionf

Could you please check the screen record attached below:

https://drive.google.com/file/d/1wzBKm-ltqVdo35Cihv34lgFMQSxHR8ha/view

Please check and feedback.
Thanks!

[2020-11-23 14:30] demperador opened #22058 "Error displaying discounts in table product discount"
Hello,

There is an issue when placing discounts based on purchase quantity. I have attached an image within this post as I think is pretty self explanatory. In my example, the product has 3 discounts:

Purchase 1 unit = 10% off
Purchase 2 units = 20% off
Purchase 3 units = 30% off

As soon as the customer adds 2  units to the cart, you can see that the discount in the cart does not match the one

[2020-11-23 14:32] marionf commented on #19090
That's another issue, you added a condition in the cart rule and selected a category: #22057
Here, there is still the issue described by @khouloudbelguith in [this comment](https://github.com/PrestaShop/PrestaShop/issues/19090#issuecomment-679971538) with a cart rule with "exclude discounted products" enabled and no conditions

[2020-11-23 14:45] muyncky commented on #14086
It would be great if the PrestaShop Team tries some of the technologies for deployment and write a blog about it. Or even better, if some of the deployment tools are proven valuable, it could be included in the docs. The docs can be used as a suggestion, as this is done other external tools:
- testing tools
- migration tools
- benchmark tools

[2020-11-23 14:50] Progi1984 commented on #22004
Fixed by #22013

[2020-11-23 14:50] #22004 closed, assigned to jolelievre

[2020-11-23 14:54] ramwebkul opened #22060 "Cart Rules: Need Tax incl/excl config for percentage discount also"
**Describe the bug:**
- The Catalog Price Rules can be created with percentage discount, and the Tax incl/Excl option is available for percent as well. Please check:
![image](https://user-images.githubusercontent.com/53465735/99976577-9f58b780-2dc9-11eb-9271-8980f6c01270.png)

- In Cart Rule, the Tax excl/incl option is not available for percentage type:
![image](https://user-images.githubusercont

[2020-11-23 14:57] Progi1984 commented on #14086
@muyncky We are opened to contributions so don't hesitate to contribute to our documentation.

[2020-11-23 14:59] hibatallahAouadni commented on #21982
Hello @photinia73

Following your steps with PS1.7.6.8, here's what I got (see the attached screen records below):

https://drive.google.com/file/d/1M3Kkr6kXzdsehRWLmBTTn2ad_EzaCI08/view

After the upgrade:

https://drive.google.com/file/d/1MI1AwMBotvAGCJQO60lRCLhd7seAFL_-/view

It's weird! in Modules Manager it's mentionned that the Customer reassurance module is v5.0.0, then when we click on Con

[2020-11-23 15:00] PierreRambaud commented on #14086
I already worked with puppet, ansible and chef, all of them have advantages and disadvantages, it depends if you're familiar with json (DSL Puppet), Ruby (Chef), or Yaml (for ansible), and also if you want to add tests on it (rspec tests, or serverspecs tests).

We already prepare a benchmark article (afaik).

[2020-11-23 15:03] PierreRambaud commented on #16208
@PrestaShop/prestashop-maintainers What do you think about adding metadata in modules, and if present (will be mandatory in the next major) check it before loading the moduleµ?

[2020-11-23 15:05] Progi1984 commented on #16208
Which metadata do you think ?

[2020-11-23 15:12] PierreRambaud commented on #16184
Just notice something but the cUrl extension is mandatory :thinking:
Is it really needed to use the NativeHttpClient whereas curl is available?

[2020-11-23 15:12] photinia73 commented on #21982
Exactly! З повагоюКричмарівська Світлана От: Hibatallah AouadniОтправлено: понедельник, 23 ноября 2020 г. в 16:59Кому: PrestaShop/PrestaShopКопия: photinia73; MentionТема: Re: [PrestaShop/PrestaShop] prestashop 1.7.6.9 blockreassurance module problem (#21982) Hello @photinia73Following your steps with PS1.7.6.8, here's what I got (see the attached screen records below):https://drive.google.com/fil

[2020-11-23 15:13] matks commented on #21982
This might be because PrestaShop "does not know" that module version was downgraded. I think actually what happens is that the upgrade process has replaced the source code files, but has not applied a "proper" downgrade process.

[2020-11-23 15:17] PierreRambaud commented on #16451
PIng @matks any news?

[2020-11-23 15:19] matks commented on #16451
@PierreRambaud Nothing.

It is likely I will never have time to work on this so the only way for it move forward is that someone else gets it 😅

[2020-11-23 15:21] PierreRambaud commented on #16451
@matks What do you think of adding hooks in the Cart where @jf-viguier want?

[2020-11-23 15:22] hibatallahAouadni commented on #21982
Hello @photinia73 ,

Well then, it's confirmed! Thanks @matks
I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2020-11-23 15:23] PierreRambaud commented on #15973
Hi, afaik it's the desired behaviour, the action is needed in order to access to the cart :thinking:
But if you think it's a bug we or you can create a pull request to fix it.

[2020-11-23 15:25] Timotcho commented on #11577
Hi everyone,
I just see ur topic and i'm very interrested about it, i have the same issus, i want to redirect the user after his registration like Nayithu, http://mywebsite.com/connexion?create-account=1 and after he submit the register form i want to redirect him to http://mywebsite.com/my-account, how can i do that please ?? i just test the line Khouloudbelguith send on the the top but it don't

[2020-11-23 15:29] muyncky commented on #14086
@Progi1984 I have posted an issue #17011. Once this is solved, as promised before, I'm going to provide an elaborate documentation on how to deploy with Deployer.

I think Deployer could be a good tool, because it is the only tool written in php. It makes the learning curve less steep. Deploying Laravel with Deployer is flawless.

@PierreRambaud For me Puppet and Ansible seem rather abstract, sear

[2020-11-23 15:31] PierreRambaud commented on #18044
It's a nice idea.
Adding a tool that is able to compare the database structure and tell if:
 - fields are here with the right type & length
 - fields shouldn't be there
 - all tables are present

[2020-11-23 15:41] juraj1000 commented on #22035
Hello @hibatallahAouadni,
still I think it is a bug. As I wrote, there is duplicated information in one screen/ But there is also visible whole URL link "https://www....." and it is not correct from UI perspective. The URL link should be hidden because it is not readable for the users. Could you check it once again with your colleagues?

[2020-11-23 15:43] PierreRambaud commented on #17011
Did you try to remove cache after deploying?

[2020-11-23 15:52] PierreRambaud commented on #14086
Haha, I understand about the obscure world the automation is :sweat_smile:
But I'm not a huge fan of using PHP for deploying, but I understand backend developers like the same technology as they learned back in days.

[2020-11-23 15:53] khouloudbelguith commented on #10420
Hi!

This issue is currently closed, can you open a new one with more information about your configuration.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thank you!

[2020-11-23 16:01] juraj1000 commented on #22043
Hello @hibatallahAouadni,
I think it can't be feature request. If there is the list of email templates with more items and the list is not sorted alphabetically then the user is confused. How should he find any email template? From my point of view it is a bug because this unsorted list  doesn't fit UI requirements.

[2020-11-23 16:04] PierreRambaud commented on #15873
These variables are only used for email, the `$data` is not used elsewhere :thinking:
I don't even know why we have to build this array if we don't pass this condition: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/PaymentModule.php#L671

[2020-11-23 16:17] PierreRambaud commented on #15535
HI and sorry for the delay.

Could you provide us an example? (Something like a module we can easily install and test)

[2020-11-23 16:19] HartLarsson commented on #22044
have you checked the console for errors too?

with 4.1.0 no problem at all

[2020-11-23 16:24] photinia73 commented on #21982
I would be glad to do something useful, but I`m not developer (( Thank you!  З повагоюКричмарівська Світлана От: Hibatallah AouadniОтправлено: понедельник, 23 ноября 2020 г. в 17:22Кому: PrestaShop/PrestaShopКопия: photinia73; MentionТема: Re: [PrestaShop/PrestaShop] prestashop 1.7.6.9 blockreassurance module problem (#21982) Hello @photinia73 ,Well then, it's confirmed! Thanks @matksI’ll add this

[2020-11-23 16:31] PierreRambaud commented on #17352
I don't see any reason to do it. Our modules are also compatible with old PrestaShop instances. This is why we keep the compatibility with PHP 5.6 when it's possible.

[2020-11-23 16:31] #17352 closed, assigned to nobody

[2020-11-23 16:37] PierreRambaud commented on #18411
I think it's a bug. The search is not working well :sweat:

[2020-11-23 16:39] PierreRambaud commented on #17893
@matks DO IT!

[2020-11-23 16:44] PierreRambaud commented on #17303
Why not, but PrestaShop is not designed to be included as a package, it's an application :)

[2020-11-23 16:44] PierreRambaud commented on #17303
PIng @eternoendless Could you confirm :)

[2020-11-23 16:46] PierreRambaud commented on #17930
I don't think it's a bug, it's because the SpecificPrice method needs computeExtraConditions which is protected.
They decided to do it because of the bad pattern (usage of Singleton & static everywhere :sweat: )

[2020-11-23 16:46] #17930 closed, assigned to nobody

[2020-11-23 16:49] PierreRambaud commented on #17516
There is a nofollow on numbers but prev & next are correctly settled.
We are waiting for SEO experts and Product team to decide what we have to do :)
@PrestaShop/product-team

[2020-11-23 16:56] hibatallahAouadni commented on #22044
Hello @HartLarsson

As you can see in the screenshot bleow, there's no errors in the console and the comments are well displayed.

![image](https://user-images.githubusercontent.com/23308427/99991332-30716380-2db5-11eb-926a-e2f42c429d3c.png)

Please check and feddback.

Thanks!

[2020-11-23 16:59] hibatallahAouadni commented on #22043
Hello @juraj1000

It's a PrestaShop limitation, we refrence those limitations as improvements.
Ping @matks wdyt?

thanks!

[2020-11-23 17:20] micka-fdz commented on #17131
Hello. Any news about breadcrumb remove when there are more than 2 depths?

I agree with @Hlavtox and @NeOMakinG, we need to keep breadcrumb everywhere.
Some users/merchants don't have reflex to click on the logo to back to homepage.

Please consider our arguments.

[2020-11-23 18:07] Arman-Hosseini opened #22065 "[BO] Moving the default page after the permission profile"
#### Describe the issue

Profiles can access pages that are selected in the ACL.
On the employee page, when an employee wants to be created, first profile should be selected, then the default page should be selected according to the profile.

PR is avaliable here #22034

#### Expected behavior

 In fact, the selection of the default page should be after selecting the profile.

#### Steps to Reprod

[2020-11-23 18:18] jlmora commented on #17516
Thanks for your answer.

I hope your SEO team appreciates the importance of being able to choose whether the links to paged are follow or no follow in some strategies.

About next and prev are not taken in consideration by Google same time ago.

Saludos.

#———
# Juan Luís Mora Blanco.
# Conóceme aquí -> https://juanluismora.es/
#___

El 23 nov 2020, a las 17:50, GoT <notifications@github.com> escr

[2020-11-23 18:28] HartLarsson opened #22066 "Add "Disable on Desktop" on Modules management"
#### Is your feature request related to a problem?

On PS 1.7.x is possible to hide a module only on Mobile devices, while on PS 1.6 was possible to specify also Mobile, Tablet and Desktop

#### Describe the solution you'd like

Should be great to have at last the Disable on Desktop option.

#### Additional context

on 1.6 branch
![image](https://user-images.githubusercontent.com/16102074/10000032

[2020-11-23 18:30] jolelievre commented on #18647
## Status update: Stable version has been built! 🏗️

We finished fixing the last must-have bugs today, so we were finally able to build the expected stable build version. The build is now in the hands of our QA team who will perform long campaign tests on this, hopefully, final build!!

This campaign usually takes from 4 to 5 days, so if everything is right and no new critical bugs are found then

[2020-11-23 18:35] hibatallahAouadni commented on #22035
Ping @PrestaShop/product-team what do you think about @juraj1000 suggestion? Is it a bug or improvement ?

Like @matks used to said

That's I why I said it's an improvement not a bug.

[2020-11-23 18:41] muyncky commented on #17011
@PierreRambaud

Yes.

`run('cd {{deploy_path}}/shared/var/ && rm -rf *');` is responsible for removing the /var folder. Emptying cache/warmin up with Symfony cli also doesn't work. Using `Tools`-class to empty various things doesn't either.

The thing is with language cache files is that emptying is not a problem, the [filling seems to fail](https://github.com/PrestaShop/PrestaShop/issues/17011#is

[2020-11-23 19:24] HartLarsson commented on #22044
thank you for your reply i will check better why i've this problem on my side and let you know :)

[2020-11-23 20:31] LukasK13 commented on #15004
The issue still persists on 1.2.0

[2020-11-24 03:36] #16208 closed, assigned to nobody

[2020-11-24 03:37] #16184 closed, assigned to nobody

[2020-11-24 04:32] letwang opened #22067 "When the module is upgraded and the module only has logo.png, an infinite loop error occurs."
## Describe the bug
When the module is upgraded and the module only has logo.png, an infinite loop error occurs.
[code]
#### Additional information
* PrestaShop version: 1.7.6.8
* PHP version: 7.4

[2020-11-24 04:37] letwang opened #22068 "When the module is upgraded, the override folder in the module will not be overwritten to the override under the root directory."
#### Describe the bug

When the module is upgraded, the **override folder in the module** will not be overwritten to the **override under the root directory**.
This led to the invalidation of the override file upgrade, and eventually the module function could not be used normally, and the customer complained.

#### Expected behavior

When the module is upgraded, the **override folder in the module

[2020-11-24 07:53] Carlos007007cmca commented on #12132
hey guys am having the same issue in version 1.7.6.9!

It was supposed to be fixed in later versions!

[2020-11-24 07:58] SimonGrn commented on #22067
Hello,

**Please follow the template when reporting an issue**. Please also provide an example of a module with only logo.png.

PrestaShop 1.7.6.8 is only [compatible up to PHP 7.2](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart).
Please downgrade and try again.

[2020-11-24 07:59] SimonGrn commented on #22068
Hello,

**Please follow the template when reporting an issue**. Please also provide an example of a module with an override folder.

PrestaShop 1.7.6.8 is only [compatible up to PHP 7.2](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart).
Please downgrade and try again.

[2020-11-24 08:25] hibatallahAouadni commented on #22066
Hello @HartLarsson

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-24 08:29] hibatallahAouadni commented on #22065
Hello @Arman-Hosseini ,

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- steps to reproduce (detailed and clear)
- PrestaShop version (source)
- PHP version
- debug mode report
- PHP error logs
- screenshots
- ...

You don't know how to get this information? Please read the following article: [How to create a bug report](http://bui

[2020-11-24 09:06] hibatallahAouadni commented on #22060
Hello @ramwebkul

Are you asking to have a select (**tax included** / **tax excluded**) for the **Percent (%)** like the **Amount**?

![image](https://user-images.githubusercontent.com/23308427/100072435-889f7880-2e3c-11eb-85bd-512a00200056.png)

If so, what you suggested is an improvement and not a bug.
Please check and feedback.

Thanks!

[2020-11-24 09:15] kpodemski commented on #22044
Hello @HartLarsson

You probably have an override for list-comments.js file in your theme, could you check this?

[2020-11-24 09:18] gennaris opened #22069 "Saving virtual product attachment is modifying product price if a specific price is set on the product"
#### Describe the bug

When using virtual products, retail price is getting modified during attachment save
if there is a specific price set on the product.

#### Expected behavior

We expect the price remain the same , this is quite major issue as it messed up a lot of product prices in one of
our customer shop.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a "virtual prod

[2020-11-24 09:22] hibatallahAouadni commented on #22058
Hello @demperador

Could you please check of your problem is similar to #15835
Please check and feedback.

Thanks!

[2020-11-24 09:40] hibatallahAouadni commented on #22069
Hello @gennaris

I didn't manage to reproduce your issue with PS1.7.6.9, see the attached screen record below:

https://drive.google.com/file/d/1tFkj7ZqIIQ_AbYezKaSqNM10mCeqtkQO/view

Please check and feedback.

Thanks!

[2020-11-24 09:44] gennaris commented on #22069
@hibatallahAouadni
Since the save attachment is performed with an AJAX request, you need to refresh the page to see the updated (wrong) price.

[2020-11-24 09:59] LouiseBonnard commented on #14336
So! I've just checked with our SEO Project Manager and there is no contraindication to rewrite the homepage URL, this is a bug, it should be enabled. I'll write the specifications and set this bug report as _to do_, thanks @khouloudbelguith and @PierreRambaud!

[2020-11-24 10:02] jolelievre commented on #14941
Hi @Bonobomagno

sorry I forgot about your request, we recently provided an example module that explains how to handle multi lang via Doctrine with PrestaShop. This is only one way to do it so consider this example as a proposition not a convention or a forced way to handle this feature.

https://github.com/PrestaShop/example-modules/tree/master/demodoctrine

This example is only usable with versi

[2020-11-24 10:02] #14941 closed, assigned to jolelievre

[2020-11-24 10:13] hibatallahAouadni commented on #21866
Hello @Tarraga

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #17161.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-11-24 10:13] #21866 closed, assigned to nobody

[2020-11-24 10:13] demperador commented on #22058
Hello @hibatallahAouadni

Perhaps it is similar but not exactly the same. In our case we do not work with taxes and in the case #15835 I do not know why they set a discount to 0€.

Regards.

[2020-11-24 10:13] hibatallahAouadni commented on #21866
Duplicate of #17161

[2020-11-24 10:25] hibatallahAouadni commented on #22058
Hello @demperador

I beleive it's the same, if we fix these two issues #15866 & #15835 your problem will be resolved.
Please check and feedback.

Thanks!

[2020-11-24 10:27] eternoendless commented on #11119
Thanks for your suggestion @dennispw but the override system is progressively going away, so we're not going to implement this feature as requested. IMO themes shouldn't override behavior, at best they could be bundled with a module that does the overriding itself (and by that I mean [service override](https://devdocs.prestashop.com/1.7/modules/concepts/services/)).

[2020-11-24 10:27] #11119 closed, assigned to eternoendless

[2020-11-24 10:44] hibatallahAouadni commented on #22069
Hello @gennaris

I managed to reproduce your issue with PS1.7.6.9, PS1.7.7.0-rc.1 and develop, see the attached screen record below:

https://drive.google.com/file/d/1P2LCeSldQUWF7qzcWETPUcQtDrZhuyJP/view

**PS: to avoid this problem, all you need is to click on Save button as shown in the screen record 1.10**

Thanks for the report, I’ll add this to the debug backlog so that it’s fixed.
If you ha

[2020-11-24 10:46] LouiseBonnard commented on #22035
I agree with @hibatallahAouadni, it's an improvement. It might be a bad UI practice to have this information duplicated in a plaintext link but it is the current expected behavior... So let's turn this issue into an improvement in order to suggest a different behavior!

[2020-11-24 10:46] PierreRambaud commented on #17011
Are you sure you need to remove the `var` directory in the `shared` one?

[2020-11-24 11:23] tomduebaeck opened #22070 "IQITReviews"
Hi, the Iqitreviews module has a bug, the name on product pages show the code!

I fixed by changing the code in the php file:

From:
 ->setTitle('<span class="iqitreviews-title float-left">'. $this->trans('Reviews', [], 'Modules.Iqitreviews.Iqitreviews') . '</span> <span class="iqitreviews-nb">(' . $assign['snippetData']['reviewsNb'] . ')</span>')

to:
                ->setTitle( $this->trans('Rev

[2020-11-24 11:32] muyncky commented on #17011
@PierreRambaud

Emptying `var` should removable at any time. It contains cached translations and configs.

It is an environment specific folder, and therefor is not part of the versioned files. So, moving it to `writable_dirs` is not an option.

[2020-11-24 11:35] rdy4ever commented on #12132
Hi @Carlos007007cmca
This was fixed in 1.7.5.1.
If you experience this issue in 1.7.6.9, your shop might have the `Mail.php` class overriden. Check inside `/override/classes/` if `Mail.php` is present. Also, you may have a module installed that overrides this class.

[2020-11-24 12:07] SimonGrn commented on #22070
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-11-24 12:07] #22070 closed, assigned to nobody

[2020-11-24 12:09] SimonGrn commented on #22070
You need to contact the module developer directly. This is not the proper place for a third party module.

[2020-11-24 12:15] hibatallahAouadni commented on #22025
Hello @DevSTG

Sorry for the late response. But, we are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #18109.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-11-24 12:15] #22025 closed, assigned to nobody

[2020-11-24 12:15] hibatallahAouadni commented on #22025
Duplicate of #18109

[2020-11-24 12:25] tomduebaeck commented on #22070
Thanks. Tried and it is impossible Sendt fra min Galaxy
-------- Oprindelig besked --------Fra: "Simon G." <notifications@github.com> Dato: 24.11.2020  13.10  (GMT+01:00) Til: PrestaShop/PrestaShop <PrestaShop@noreply.github.com> Cc: tomduebaeck <tom@duebaeck.dk>, Author <author@noreply.github.com> Emne: Re: [PrestaShop/PrestaShop] IQITReviews (#22070)
You need to contact the module developer dire

[2020-11-24 12:25] rblaurin commented on #10356
I think it is a great improvement, but it would be mandatory to have an automatic fallback to jpg for unsupported browsers (Safari).

[2020-11-24 12:26] Hlavtox commented on #22066
IMHO, I think this is kinda obsolete. Shouldn't everything be responsive these days?

[2020-11-24 12:34] hibatallahAouadni commented on #22035
Thanks @LouiseBonnard :)
@juraj1000 I believe you have to open a new issue as feature request like I mentioned above.
Thanks in advance.

[2020-11-24 12:54] khouloudbelguith opened #22071 "BO - Order details - In the info block - The shipping is not refreshed after adding a product"
#### Describe the bug

In the BO > Orders > Order detail page > when adding a product to an empty order, the Shipping is not updated in the info block
![image](https://user-images.githubusercontent.com/16067358/100095883-78e35c80-2e5b-11eb-9081-32e481e618ec.png)
When we refresh the page => ok
![image](https://user-images.githubusercontent.com/16067358/100096046-bf38bb80-2e5b-11eb-9b8a-6fb8b11f6f80

[2020-11-24 12:58] SimonGrn commented on #22070
Since this is a module developed by someone from the community, we have absolutely no power here, sorry.

Maybe try to insist ?

Good luck.

[2020-11-24 12:58] matks commented on #22070
If this is a module you bought on addons.prestashop.com there should be a link on their Marketplace page.

[2020-11-24 12:59] bm-services opened #22072 "After upgrade to 4.2.0 comments not displayed and Fatal Error"
#### Describe the bug

After upgrade to 4.2.0 module "productcomments", comments are not displayed and a popup says that we can't post new comment.

#### Steps to Reproduce

1. Upgrade module productcomments on 4.2.0
2. Go to the front office product view
3. Try to post a comment or try to read comments
4. See error

#### Additional information

* PrestaShop version: 1.7.6.3
* PHP version: 7.2

Fa

[2020-11-24 13:01] tomduebaeck commented on #22070
Thanks. Was just trying to help others as i already fixed the problem on my shopSendt fra min Galaxy
-------- Oprindelig besked --------Fra: "Simon G." <notifications@github.com> Dato: 24.11.2020  13.59  (GMT+01:00) Til: PrestaShop/PrestaShop <PrestaShop@noreply.github.com> Cc: tomduebaeck <tom@duebaeck.dk>, Author <author@noreply.github.com> Emne: Re: [PrestaShop/PrestaShop] IQITReviews (#22070)

[2020-11-24 13:02] tomduebaeck commented on #22070
Part if warehouse themeBut guys, no worries. I fixed it, was just trying to help others Sendt fra min Galaxy
-------- Oprindelig besked --------Fra: Mathieu Ferment <notifications@github.com> Dato: 24.11.2020  13.59  (GMT+01:00) Til: PrestaShop/PrestaShop <PrestaShop@noreply.github.com> Cc: tomduebaeck <tom@duebaeck.dk>, Author <author@noreply.github.com> Emne: Re: [PrestaShop/PrestaShop] IQITRevi

[2020-11-24 13:23] hibatallahAouadni commented on #22072
Hello @bm-services

I didn't manage to reproduce your issue with PS1.7.6.3, see the attached screen record below:

https://drive.google.com/file/d/1-acdq6HwPa0UwMMbkCrF_VE5Li-175ch/view

As you can see in the screen record the ProductComment module was v4.1.0 and I upgrade it to v4.2.0 [time: **2:00**], and everything works perfectly.
Please check and feedback.

Thanks!

[2020-11-24 13:38] Progi1984 commented on #17044
@matks : As you can see in PS_Checkout : https://github.com/PrestaShopCorp/ps_checkout/blob/master/.github/workflows/build-release.yml, Build Release can do the job ;)

[2020-11-24 13:42] PierreRambaud commented on #17011
Yes I know about the `var` directory, I mean:
[code]

Are you sure `{{deploy_path}}/shared/var/` is the right path?

[2020-11-24 13:46] khouloudbelguith commented on #21267
Hi!

Other steps to reproduce the issue:

1. Create order from the FO with only one product
2. In the Shipping steps " choose a carrier with fees (not free)"
3. Delete the product
4. Click on the Carriers Tab
5. See error
![image](https://user-images.githubusercontent.com/16067358/100102381-d085c600-2e63-11eb-8dbc-6c9d45a947a1.png)

Thanks!

[2020-11-24 13:48] matks commented on #17044
@Progi1984 not exactly 🤔  https://github.com/PrestaShopCorp/ps_checkout/blob/master/.github/workflows/build-release.yml a set of scripts / command lines that, when run in GitHub Action environment, build a ZIP release. This cannot be used by a PHP developer to simply build a ready-for-prod ZIP archive on its localhost and it depends on the GA environment.

For example yesterday I wanted to build a

[2020-11-24 13:52] PierreRambaud commented on #16428
Already fixed by #21009

[2020-11-24 13:58] matks commented on #21989
POC https://github.com/PrestaShop/autoupgrade/pull/354

I'm trying to do this
1. download latest build from nightly (example https://storage.googleapis.com/prestashop-core-nightly/2020-11-24-1.7.7.x-prestashop_1.7.7.0.zip)
2. move file to admin-dev/autoupgrade/download/prestashop.zip
3. launch CLI upgrade using channel `archive`

[2020-11-24 14:13] PierreRambaud commented on #19182
Hi everyone,
COuld you provide us a module in order to reproduce the problem?

[2020-11-24 14:18] PierreRambaud commented on #19217
Hi @WebHelpers64 ,

Since we had no news from you for more than 30 days, I'll close this pull request. Feel free to reopen or open another one if you think it's still relevant.

Thanks!

[2020-11-24 14:18] LouiseBonnard commented on #10356
@rblaurin, Safari 14 now supports WebP images. ;-)

https://developer.apple.com/documentation/safari-release-notes/safari-14-release-notes

[2020-11-24 14:20] #19217 closed, assigned to nobody

[2020-11-24 14:27] prestascott commented on #17131
Hello everyone,

Ok, I see. It seems that you really want to show breadcrumbs no matter how many levels there are.
Then I consider your arguments and I decide to leave them as you want since it's not an issue. :)

[2020-11-24 14:28] NeOMakinG commented on #21741
Looks fixed

[2020-11-24 14:28] #21741 closed, assigned to nobody

[2020-11-24 14:29] PierreRambaud commented on #18991
I think there are more things than just a small service as an example :thinking:
Should we remove the register step?
What about hook position with this system?

[2020-11-24 14:34] rblaurin commented on #10356
Great! this makes things easier. I think the fallback is not that mandatory then, but it would be useful for old devices...

[2020-11-24 14:37] muyncky commented on #17011
That is a way too, I guess cleaner. I also tried this manually, it doesn't solve the translation issue. This is not the issue.

This part is the issue:
[code]

After removing the var or cache is emptied, these files are put there, and they are not used/not correct.

[2020-11-24 14:37] mowcixo commented on #15873
That's right @PierreRambaud it makes no sense. I don't have the time right now to make a PR to aproach this, so maybe it shouldn't be marked as "waiting for author" as the improvement has been confirmed.

[2020-11-24 14:39] PierreRambaud commented on #18703
After several tries, I'm not able to reproduce.
[code]

[2020-11-24 14:43] LouiseBonnard commented on #16428
Bad timing, it is fixed but the message previously validated (https://github.com/PrestaShop/PrestaShop/issues/16428#issuecomment-584697861) has not been taken into account... I reopen this issue and set it as an _improvement_ instead. Hopefully, someone could take it as a good first issue. :-)

[2020-11-24 14:45] PierreRambaud commented on #18932
@LouiseBonnard Everything is possible.
We can add a checkbox and I think the @Hlavtox fix is right, there is nothing complicated here :)

[2020-11-24 14:46] jolelievre commented on #16840
Hi @Hlavtox,

I'm gonna give a little more context just to be sure we're on the same page.

First `Product::getQuantity` uses the cart as a parameter for a good reason (most of the time), it needs the cart so that it can substract its quantity to the actual stock quantity (we could call it the virtual stock). The reason is that as long as a cart has not been ordered its quantities are not substrac

[2020-11-24 14:50] PierreRambaud commented on #18921
Thanks for your suggestion @didacrios  but the override system is progressively going away, so we're not going to implement this feature as requested. IMO You should have a look on the devdoc to implement your own controller: https://devdocs.prestashop.com/1.7/modules/concepts/controllers/

[2020-11-24 14:50] #18921 closed, assigned to nobody

[2020-11-24 15:04] PierreRambaud commented on #18973
Source maps (.map files) are only useful for development/debugging. They help map compressed files to their original source code. They are only used by the development toolbar so their presence or not should have no impact on your shop's performance.

Unfortunately, we are still not able to reproduce on the latest release. If you are working in a development environment, I recommend you to use Pre

[2020-11-24 15:04] #18973 closed, assigned to nobody

[2020-11-24 15:11] Hlavtox commented on #18932
@PierreRambaud I tried it and it could not be done this way, unfortuantely. :(

$this->context->employee is empty when accessing it in that file...

[2020-11-24 15:15] Progi1984 commented on #21358
@khouloudbelguith Sorry : But I just tried (with the latest version of develop branch) and no problem

![image](https://user-images.githubusercontent.com/1533248/100112431-80146580-2e6f-11eb-9f4b-6dfcdd32010e.png)
![image](https://user-images.githubusercontent.com/1533248/100112468-8c98be00-2e6f-11eb-8473-4738ccd0fdfb.png)

[2020-11-24 15:34] PierreRambaud commented on #18541
Since we are not able to reproduce and as @bodi000 says, you can regenerate emails in Admin>Design>Email theme >Generate emails. I'm closing this issue.

[2020-11-24 15:34] #18541 closed, assigned to nobody

[2020-11-24 16:19] PierreRambaud commented on #18520
Hi @elburgl69
If you need this change in the ps_customtext module, feel free to open a pull request :)

[2020-11-24 16:19] elboletaire commented on #19182
I won't be able to do so during some weeks, but you can follow the steps described in the issue. Shouldn't be too hard.

[2020-11-24 16:36] SD1982 opened #22078 "BO - Logs - Filters / The filter by employee does not work"
#### Describe the bug

The logs filter by employee has not effect

#### Expected behavior

Every filters should work correctly

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO and add 1 or more employee
2. Login to BO with the previously created employee and make enough actions to generate some logs
3. Logout with the employee and login with the admin account
4. Go to Advanc

[2020-11-24 16:46] khouloudbelguith commented on #21358
Hi @Progi1984,

Yes, it is ok now
![image](https://user-images.githubusercontent.com/16067358/100125273-e358c480-2e7c-11eb-8c1f-ef7ebd10c511.png)

I will close the issue.
Thank you!

[2020-11-24 16:46] #21358 closed, assigned to Progi1984

[2020-11-24 16:54] hibatallahAouadni commented on #20396
Hello @SD1982

I managed to reproduce the issue with PS1.7.6.5 and develop, see attached screenshot (develop) below:

![image](https://user-images.githubusercontent.com/23308427/100126273-0768d580-2e7e-11eb-84c5-f2283923e073.png)

Thanks!

[2020-11-24 17:03] Hlavtox commented on #16840
@jolelievre Let's take it from a different end. I think we mean the same thing, but you are too technical for me... :-)

In all versions of Prestashop, **product_quantity** column contains the quantity of products ordered.

In PS 1.6 (and 1.7 after my mod), **product_quantity_in_stock** contained the quantity of products in stock **at the time of ordering**. This allows the merchant to know, if ev

[2020-11-24 17:05] Hlavtox opened #22080 "Product quantity badge logic is different on migrated order page"
# Describe the bug

The quantity badge is not following the same logic in 1.7.7.0: I have 2 products with 2 items, in 1.7.6.x it only shows the badge for the first product, in 1.7.7.0 it shows for both products.

#### 1.7.6
![176](https://user-images.githubusercontent.com/6097524/100127473-6ed35500-2e7f-11eb-9aa1-4448b627c2c3.JPG)
#### 1.7.7
![177](https://user-images.githubusercontent.com/6097524

[2020-11-24 17:15] Hlavtox opened #22081 "The search results are ordered by id_product and not by the search_term's weight"
### Describe your bug
I have 14 products contains the term "BFG 611", in FO, when I made a search with this term, the results are no ordered by the search term's weight but with id_product.

### The expected behavior
The results are ordered by the search term's weight.

### Steps to reproduce

1. BO > SELL > Catalog > Products
2. Add 14 products (or just 8) products with these names in order below

[2020-11-24 17:56] jolelievre commented on #21875
Solution might have influence or fix this issue https://github.com/PrestaShop/PrestaShop/issues/21775

[2020-11-24 18:03] SimonGrn commented on #22080
Hello,

I'm not sure I understand the issue here. The page was migrated, and the design slightly changed, but the data seems to be correct ?
Is there a problem with the new badge ?

Thank you.

[2020-11-24 18:05] Hlavtox commented on #22080
@SimonGrn No, but what is the logic of the badge, if it behaves differently on both versions?

[2020-11-24 18:13] SimonGrn commented on #22080
It's showing 2 in both versions, right ?
Are you saying that the interface should never evolve, never change ?

I'm genuinely curious as to why this is a deal big enough to deserve an issue. This is a real question.

[2020-11-24 18:16] SimonGrn commented on #22080
Oh so you mean that the badge now shows in both lines (in 1.7.7.0) instead of the first one only (in 1.7.6.9) ? It wasn't clear, could you please elaborate by editing your issue ?

Thank you.

[2020-11-24 18:18] Hlavtox commented on #22080
@SimonGrn Edited. I was testing some logic between versions and stumbled upon it. Just curious of the logic behind it, nothing more.

PS: I have email notifications enabled for comments. :-)

[2020-11-24 18:22] SimonGrn commented on #22080
The thing is I didn't understand what you were talking about because it's not written anywhere in your issue. Nowhere you mention the problem is that the badge is not showing for both the lines like before so I was just comparing screenshots and wondering wth was I missing 😅
That's why I asked you to edit the body to make it more clear, but I'll do it directly.

Thank you.

[2020-11-24 18:32] icemansparks commented on #18647
Unfortunately, his will still be a walk on knife's edge for some of us whose hosters like one.com will just remove PHP 7.2 on 30th of november for good.

[2020-11-24 18:32] Hlavtox opened #22083 "Not-in-stock banner on migrated order edit"
ping @TristanLDD

#### Is your feature request related to a problem?
Alert which appears at the top, when products from order are not in stock is taking huge amount of space.

#### Describe the solution you'd like
We could simply display yellow badge under "available" quantity in the product list and maybe make a legend somewhere in the bottom and explain what it means.

#### Screenshots
![before]

[2020-11-24 18:43] Hlavtox commented on #20991
@LouiseBonnard Too specific requirement, closing this ;-)

[2020-11-24 18:43] #20991 closed, assigned to nobody

[2020-11-24 18:48] Peetz0r commented on #12689
Same issue here. I just opened a shop in the Netherlands, and the first feedback I got was about the space.

[2020-11-24 18:50] Hlavtox opened #22084 "Add quick summary box to migrated order view page"
#### Is your feature request related to a problem?
Critical order information is scattered on order page.
Everything is in different place, some in the page header and some of it available under some tabs.

#### Describe the solution you'd like
Add a quick summary box with basic information about the order, so the merchant immediately knows what he is looking at.

#### Screenshot
![order basic inf

[2020-11-24 19:02] Hlavtox opened #22085 "Idea for BO - Introduce basic and advanced UI mode"
Just a quick idea, maybe it's nonsense, but try to think about it.

**What if we introduced two interface modes for backoffice?**

One default mode for beginner employees, new merchants or older people. One advanced mode for people who use Prestashop for some time, know where to click and don't want to click and scroll through crap.

The advanced mode would have help buttons hidden, it would have

[2020-11-24 20:11] evahyw commented on #22040
Hi

Hi thank you for your reply.

I created another website and tried the procedure, il worked on that new website.
Maybe I have touched some code I shouldn't have for my first website?
Which file could be affected to cause " called an undefined method named "trans" of class" error?
Is there any possibility that I just reset the new_order theme? maybe by copying all the files that contain codes re

[2020-11-24 21:11] KminekMatej commented on #15499
I can confirm this error happening on Prestashop 1.7.6.8. Request
**GET**: _api/images/products/31_
**Headers**:
_["Authorization: Basic ABCABCABC","Io-Format: JSON","Content-Type: text\/xml; charset=utf-8"]_

Error is triggered on
https://github.com/PrestaShop/PrestaShop/blob/64e72caf510dea1ab1678d1fe0c7e00d42a543ac/classes/webservice/WebserviceOutputJSON.php#L127
`            $this->content[$par

[2020-11-25 04:50] matwong56 opened #23747 "[ps_emailalerts] Cannot send test email for layout new_order"
I installed but cannot receive the order notification, after that tried to send test email from email theme, but it doesn't work
got error msg "Cannot send test email for layout new_order"

Any idea what to do?

Thanks!

[2020-11-25 08:16] khouloudbelguith opened #22086 "BO - Order page - The characters limit is wrongly calculated when choosing a predefined message"
#### Describe the bug

In the BO > Orders > Order details page > Messages block, the characters limit is wrongly calculated when choosing a predefined message

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Open any order
2. In the Message block, choose a predefined message
3. See error the characters limit is not decreasing
![image](https://user-images.githubuse

[2020-11-25 08:19] reanim8ed commented on #14703
On order validation the same `updatePhysicalProductQuantity` method is run twice:
In `/classes/order/OrderHistory.php:414`
And in `/classes/PaymentModule:545`

[2020-11-25 08:22] hibatallahAouadni commented on #22080
Hello @Hlavtox

As @SimonGrn mentioned above, we need to know if this is the normal behavior or it's a bug.
Ping @PrestaShop/product-team could you please explain to us, is this the new wanted behavior or it's a bug (regression)?

Thanks!

[2020-11-25 08:24] hibatallahAouadni commented on #22081
Hello @Hlavtox

I didn't manage to reproduce your issue with PS1.7.7.0 RC1, I have three product with refrence **"pro_"**, see the screenshot below:

- BO

![image](https://user-images.githubusercontent.com/23308427/100200462-f01dfc80-2efe-11eb-9723-f91b767b5254.png)

- FO

![image](https://user-images.githubusercontent.com/23308427/100200739-5276fd00-2eff-11eb-9a83-b5c82ee9eea5.png)

Please check

[2020-11-25 08:28] hibatallahAouadni commented on #22083
Hello @Hlavtox

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-25 08:30] hibatallahAouadni commented on #22084
Hello @Hlavtox

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-25 08:33] hibatallahAouadni commented on #22085
Hello @Hlavtox

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

PS: Could you please edit your issue to fit the feature template, thanks!

[2020-11-25 08:47] PierreRambaud commented on #19182
It's not about complexity, but time, we have a lot of things to do, and can't create modules/themes each time someone had a bug, this is why we need a quick example to be able to reproduce easily and quickly :)

[2020-11-25 08:49] PierreRambaud commented on #18932
I'm sure it's not complicated, the employee is not available when we are outside the admin directory, but we can change id if needed.

[2020-11-25 08:56] PierreRambaud commented on #17011
@muyncky Could you provide me a full example of the recipe you use, the way you build, and how you deploy?
I need to know if the problem comes from the Deployer process or if it's a Core's problem :(

[2020-11-25 09:02] PierreRambaud commented on #15873
I create pull request #22087 to improve performance, but I don't see any reason to add a custom hook when you can use `actionEmailSendBefore`.
If you agree, you can close this issue :)

[2020-11-25 09:05] #15873 closed, assigned to PierreRambaud

[2020-11-25 09:05] hibatallahAouadni commented on #22040
Hello @evahyw ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or

[2020-11-25 09:05] #22040 closed, assigned to nobody

[2020-11-25 09:14] khouloudbelguith commented on #13061
Hi @marionf,

This issue is not fixed in the 1770stablebuild1
![image](https://user-images.githubusercontent.com/16067358/100206716-ff08ad00-2f06-11eb-990c-9ec5cd2bec8f.png)

We should re-open the issue.

Thanks!

[2020-11-25 09:17] Tattiii opened #22088 "Orders are not syncing with Ebay"
Orders on Ebay are stopped syncing with Prestashop. Catalogue syncs with no problem.
There was a notification, that authentication token has expired.
New token has been generated, but problem with syncing is still there.

What else needs to be done?
Thanks

[2020-11-25 09:20] PierreRambaud commented on #17044
But it's specific to each module.
Sometimes you have package.json, not placed in the same directory, a composer.json or not, tests directories, commands inside package.json & composer.json but not the same or with the same name, etc.
Adding one more tool and we all know that we already have too many tools, will add work for us. We will have to manage it, make sure dependencies are updated and it's

[2020-11-25 09:21] Roomsmaniia opened #22089 "Display of the customization product when there is a reduced product in the invoice"
#### Describe the bug

The display of the customization part is not very readable when another product is in reduction

#### Expected behavior

The customization part should be on one line to be more readable

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO
2. Buy a customizable product and a discounted product
3. Go to BO > Make payment accepted for the order
4. Go to FO >

[2020-11-25 09:27] muyncky commented on #17011
**Recipe**

[code]

There is nothing to build in terms JavaScript libraries.

**Deployment**

I run `dep deploy {{env}}`, like `dep deploy dev` or `dep deploy prod`.

[2020-11-25 09:30] Quetzacoalt91 commented on #17044
Actually it does.
If you look at the workflow for a given commit, you will find in the artifacts the module ZIP. In the case of a GitHub release, this ZIP is copied in the release attachments.

[2020-11-25 09:32] matks commented on #17044
But it's already being (wrongly) done. 😄

1. Consider all our native modules. How many of them are specific? I dare say that 75% of them will be fine with a simple `composer install`.

2. Today, everytime we push to branch `master` the Addons Cron checkouts the last commit, does `composer install` and `zip` and pushes this to Addons API. This is what merchants download. We can quite simply do bett

[2020-11-25 09:36] SimonGrn commented on #22088
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-11-25 09:36] #22088 closed, assigned to nobody

[2020-11-25 09:37] SimonGrn commented on #22088
Hello,

you need to contact the module developer directly.

[2020-11-25 09:42] matks commented on #17044
Indeed 😉  thanks I did not watch closely enough!

[2020-11-25 09:42] damianobertuna commented on #21982
Hi everybody, watch this video where I explain how to have again the module working:
[](https://youtu.be/o5zNZTV4D1A)

As I said it's not a solution for the bug, but a tip to have again the module working on the website.

[2020-11-25 09:43] kpodemski commented on #17044
It would be great to have an official tool for this, right now in my daily work I'm using grunt which is great for this kind of tasks, this is an example config: https://gist.github.com/kpodemski/eb424775dc3b3bc796677cd654e20535

it's not perfect but it's simple and does the job, also it's fully compatible with github actions :)

[2020-11-25 09:45] hibatallahAouadni commented on #22089
Hello @RomainBocheux

I managed to reproduce your issue with PS1.7.7.0-rc.1, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/100210406-3e38fd00-2f0b-11eb-87a2-9d54e8ee5a26.png)

I’ll add this to the debug backlog so that it’s fixed.

Thanks!

[2020-11-25 09:49] MatShir commented on #22080
Hi@Hlavtox,
We receive a lot of feedback from our merchants on preparation issues. Indeed, their carts of different products is in most cases products with only one quantity. And a single highlighted line was confusing, so for any product with a quantity greater than or equal to 2, PrestaShop highlights them. We hope that with the new design and color, merchants will be helped in their daily life.

[2020-11-25 09:50] Hlavtox commented on #22080
@MatShir OK, so it works as it should now ;-) Closing @hibatallahAouadni

[2020-11-25 09:50] #22080 closed, assigned to nobody

[2020-11-25 09:51] PierreRambaud commented on #18492
Hi everyone,
After several tries, I'm not able to reproduce, if I change the domain and use www, I'm still able to see images.

[2020-11-25 09:54] ballashop commented on #21974
Dear @hibatallahAouadni
when the order has been delivered, the status is changed, so I would ask you to close this issue since the problem is solved, honestly we have not done anything. Perhaps a temporary bug of something that is beyond of comprehension at the moment.
Thanks a lot for your support.
Balla

[2020-11-25 09:56] Hlavtox commented on #22081
@hibatallahAouadni I updated the issue description. :-)

It finds everything, but look what I search for and what order are the results.

[2020-11-25 10:03] SimonGrn commented on #21938
Hello,

we don't have enough context. We need more guidance, and an example in the form of a module.
@Nakira we need more information from your side.

Thank you.

[2020-11-25 10:07] PierreRambaud commented on #17044
I let you decide, but don't forget we have already too many things to do, we are already overworked :/

[2020-11-25 10:09] Progi1984 commented on #17044
@matks Build release Workflow is currently implemented (or setup or installed) at each pass of Presthubot. (https://github.com/PrestaShop/presthubot/blob/master/src/App/Service/PrestaShop/ModuleChecker.php#L56)

[2020-11-25 10:14] PierreRambaud commented on #16954
Hi @fukawi2 and sorry for the delay.

It has been added because it was easy and all fields can be surrounded by a CDATA.

Not sure it's a good idea to add complexity in the legacy code because of human readers.

[2020-11-25 10:15] SD1982 opened #22091 "BO - Logs / the name and first name variables are not interpreted in the logs email"
#### Describe the bug

the name and first name variables are not interpreted in the logs email

#### Expected behavior

The varibles should be interpreted

#### Steps to Reproduce

Steps to reproduce the behavior:

PS => The SMTP parameters should be correctly set

1. Go to Advanced parameters / logs
2. Set the "minimum security level" to 1
3. Make some action to generate log ( try to import a loc

[2020-11-25 10:21] ets-soft commented on #18492
hi @PierreRambaud I think the issue may has been fixed in later versions.

[2020-11-25 10:23] PierreRambaud commented on #16949
Since the file is generated, I don't see any reason to keep formatting :thinking:

[2020-11-25 10:30] hibatallahAouadni commented on #21974
@ballashop Good to know, you're welcome!

[2020-11-25 10:31] matks commented on #17044
We dont have to do it now, the question is rather whether we should do it (I think YES) 😄 .

We have other topics like this: for example _we know we need to build a new Webservice_ because of current one age and limitation. We have this planned for ... 3 years ? and I'm not sure we'll do it before 2022 or 2023. But we keep the topic in the backlog :)

[2020-11-25 10:31] PierreRambaud commented on #18492
So I'm closing the issue :)  Thanks @ets-soft

[2020-11-25 10:31] #18492 closed, assigned to nobody

[2020-11-25 10:31] Robin-Fischer-PS opened #22092 "In Shop Parameters > Search > Tag, Edit list of product KO"
#### Describe the bug

When editing the list of product linked to a tag in BO > Shop Parameters > Search > Tag, and removing only one product, all linked product are removed.

#### Expected behavior

Only the selected product should be removed from the tag.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shop Parameters > Search > Tag
2. Add a tag with several product lin

[2020-11-25 10:34] NeOMakinG commented on #19587
@Progi1984 I began the implementation, but some routes doesn't have pack informations on products
- Order confirmation
- Invoice I think this will be different..

Also @prestascott I would need some help about designing it, can't find a nice way :(

[2020-11-25 10:35] ballashop opened #22094 "Problem with enabling CacheMemcached, the cache does not clear"
Dear staff,
we asked to the server support to enable cache memcached, but when we try to clear the cache, the site didn't response as we guess.
I'd like to ask you if this cache is compatible and how can we clear manually from PresaShop if is possibile.
We didn't receive any error message from debug.
Does the memcached cache empty normally?
like the smarty one?
Thanks a lot.
Balla

How to enable t

[2020-11-25 10:39] PierreRambaud commented on #19011
What do you think if we improve the documentation or internal tools to be able to retrieve common services, front services and admin services?

[2020-11-25 10:42] hibatallahAouadni commented on #22094
Hello @ballashop

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).
Feel free to create a new issue if you can provide further information, we wi

[2020-11-25 10:42] #22094 closed, assigned to nobody

[2020-11-25 10:46] LouiseBonnard commented on #22084
Hi @Hlavtox, thanks a lot for all your improvement ideas! Since the page has just been revamped, it's likely your suggestions won't all be addressed in the next few months as other topics have been prioritized. But be sure we did take them into account! We'll also wait for other feedback to decide if this page should be improved in a second chapter, and how. ;-)

[2020-11-25 10:48] prestascott commented on #22083
Hello everyone,

Thanks for your report @Hlavtox!

I understand that the warning alert seems big and can even more be bigger. For this case, we case use the same warning alert component but the expandable version like this:
![image](https://user-images.githubusercontent.com/54888056/100217433-bc999d00-2f13-11eb-81ef-aa6447a211bc.png)

In the table, we can also change the color into red in the quan

[2020-11-25 10:48] SD1982 commented on #22026
@hibatallahAouadni

[2020-11-25 10:53] hibatallahAouadni commented on #21176
Hello @ProstageSL

I didn't manage to reproduce your issue with PS1.7.6.7, even when **the customer only buys a virtual product where no shipping applies** (like you mentioned above), see the attached screen record below:

https://drive.google.com/file/d/191Jt0DNm2Nn3gR7kmlpU-wLq7SpRpCiA/view

As you can see, I can edit the customer page and see all infos about the client, also, the last order wit

[2020-11-25 10:56] keosite commented on #22051
Hello,

Thank you for your responses.
I'm sorry I don't understand what I'm doing wrong with the template.

Here a screenshot when the error appears
![Capture d’écran 2020-11-25 à 11 50 21](https://user-images.githubusercontent.com/74903139/100218277-d38cbf00-2f14-11eb-934a-4162788aa695.png)

When I change the date of the period the date format changes from
2020-11-25 11:00:00
to
2020/11/25 11:5

[2020-11-25 10:57] hibatallahAouadni commented on #21875
related to #21775

[2020-11-25 11:09] SimonGrn commented on #22051
Can you please provide a screenshot of the calendar you're using ? As I see here the format is indeed invalid, probably because you didn't use the PrestaShop calendar but a browser calendar, which will then override the format by using your local format.

[2020-11-25 11:13] damianobertuna opened #22095 "Products not correctly indexed for frontend search"
#### Describe the bug

If a product is created disabled and then you activate the product clicking in the right row of the products list, the product is not indexed by PrestaShop. While if you activate the product entering in the product edit page, it is correctly indexed by PrestaShop.

#### Expected behavior

Clicking on the "Active" link the product should be indexed.

#### Steps to Reproduce

[2020-11-25 11:15] marionf commented on #22026
@SD1982 Cold you please add the severity ?
Is it a regression compared to 1.7.6.9 ?

[2020-11-25 11:21] ballashop commented on #22094
Dear @hibatallahAouadni
ok, I do some more detailed local server tests to possibly replicate the problem, thanks a lot.
Balla

[2020-11-25 11:23] hibatallahAouadni commented on #22095
Hello @damianobertuna

We are aware of this issue, it is already fixed in the last patch PS1.7.7.0 rc1.

Thanks!

[2020-11-25 11:23] #22095 closed, assigned to nobody

[2020-11-25 11:26] #21969 closed, assigned to nobody

[2020-11-25 11:26] matteolavaggi commented on #21969
Have you try to set SSL on all page in the shop configuration, before go to front office. -> thanks need to do that for every store!

[2020-11-25 11:29] hibatallahAouadni commented on #22026
I will do it @marionf ;-)

[2020-11-25 11:33] hibatallahAouadni commented on #22095
Duplicate of #9663

[2020-11-25 11:37] hibatallahAouadni commented on #22026
Hello @SD1982

I manage to reproduce the issue only with PS1.7.7.0-rc.1 and develop, it means that only occured with the new migrated order page, so it's a regression.

Thanks!

[2020-11-25 11:40] SD1982 commented on #22026
Hi @marionf  yes it's a regression because in 1.7.6.9 the buttons were not laid out the same way it was side by side so the mouse cursor could not hover over the two buttons simultaneously

[2020-11-25 11:47] khouloudbelguith opened #22096 "Multicurrencies - BO - Order page - Incorrect Product's total when it is in a category discount for the customer Group"
#### Describe the bug

This issue occurs only with a different currency than the default one.
A customer Group has a discount category for example 50% for the Art category
![image](https://user-images.githubusercontent.com/16067358/100217285-95db6680-2f13-11eb-9d5b-924206987557.png)
In the BO > Orders > Order page > when we Update a product(which is in the category discount) => the product's price

[2020-11-25 11:59] willgo34 opened #22097 "Cannot add Iframe"
#### Describe the bug

I allowed iframes in my parameters and turned off htmlpurifier but I cannot add youtube videos

#### Expected behavior

A video should be added to my description

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'parameter'
2. Turn on allow iframe / deactivate HTMLpurifier
3. Add a youtube video to a description
4. See error

**Loom**

https://www.loom.com

[2020-11-25 12:33] hibatallahAouadni commented on #22097
Hello @willgo34

Could you please check if your issue is similar to this one #18917
Please check and feedback.

Thanks!

[2020-11-25 12:56] keosite commented on #22051
Here is the calendar I use

![Capture d’écran 2020-11-25 à 13 53 13](https://user-images.githubusercontent.com/74903139/100230309-dc39c100-2f25-11eb-95f6-2b5e0c503bda.png)

Even if I change the date by writing the number, without using the calendar, the format changes.

[2020-11-25 13:09] SimonGrn commented on #22051
What browser and version do you use ? Do you have any extensions ? What is your OS and what language do you use ?

[2020-11-25 13:30] juraj1000 opened #22098 "Duplicated tracking information on the screen"
#### Is your feature request related to a problem?
There is duplicated information about tracking number in one screen. It takes only space and it is confusing to see it twice. Also it is not correct from UI perspective to see directly the url link on the screen.
I reported it as the bug #22035 but it was declined because according to PS team it is a new feature.

#### Describe the solution you'd

[2020-11-25 13:33] Hlavtox commented on #18932
@PierreRambaud If it's not complicated, good.

BUT, we need to be careful when we do it, because there are some pieces in the code that detect if it's BO or FO by this variable `if (isset($this->context->employee))`. I had a module that added empty Employee object to **$this->context->employee** and it fucked up half of the system, payment modules didn't work etc... 😄

[2020-11-25 13:34] keosite commented on #22051
I use :
- Google Chrome v.87.0.4280.67
- I don't have any extension
- OS : maOS Catalina 10.15.7
- Language : french

But it don't work with Firefox, Opera browsers too and with windows 10.

When I add a specific price in a product, it works but the calendar don't look the same as the calendar in discounts page :
![Capture d’écran 2020-11-25 à 14 29 01](https://user-images.githubusercontent.com/

[2020-11-25 13:44] hibatallahAouadni commented on #22098
Hello @juraj1000

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-25 13:47] SimonGrn commented on #22051
It seems something is interfering with the `date` field and blocking the PrestaShop calendar. What is your Front-Office theme ? Do you use a module that use custom `datepicker` elements and thus could interfere with the official one ?
This is kind of a weird thing, honestly since we're absolutely not able to reproduce it (even when changing browsers and stuff) I'm afraid the issue might lie in you

[2020-11-25 13:47] #22051 closed, assigned to nobody

[2020-11-25 13:54] keosite commented on #22051
All right, thank you for your responses, I'll look into it.

I use avenira theme, I will look for extensions

[2020-11-25 14:23] PierreRambaud commented on #18619
There is more problem than just missing hook with these commands:

![image](https://user-images.githubusercontent.com/1462701/100239470-b9150e80-2f31-11eb-9638-ccd3804ff7a1.png)

https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Resources/config/services/core/grid/grid_definition_factory.yml#L101 `getUri` could not be called in `CLI` context.
Same here: https://github.com/

[2020-11-25 14:25] willgo34 commented on #22097
Hello, thanks but it's a sugestion for a feature in #18917.  For my case it's bug.

[2020-11-25 14:25] khouloudbelguith commented on #12308
Hi!

I manage to reproduce the issue with PS1.7.7.0finalbuild1
![image](https://user-images.githubusercontent.com/16067358/100240069-6f78f380-2f32-11eb-977c-3d372fd98ffe.png)

Thanks!

[2020-11-25 14:26] PierreRambaud commented on #18619
Two possible way:
 - Remove usage of `getCurrentRequest` in services which is returning null in CLI context
 - Try to create a fake request context in CLI context

[2020-11-25 14:58] PierreRambaud commented on #16420
Since we have the `except_pages` I see reasons to don't have to `only_on_pages` :+1:

[2020-11-25 15:04] PierreRambaud commented on #21995
It seems legit to be able to generate your own order reference then use the validate order method without sending the mail :+1:

[2020-11-25 15:08] PierreRambaud commented on #21316
I agree the current system is not really appropriate.

Afaik, the image name is not important (not anymore), we could create apache rewrite rule in order to integrate the date_upd inside the path, wdyt?

[2020-11-25 15:10] PierreRambaud commented on #16124
I confirm this is a bug, we shouldn't insert in the database the path of the image. Part of PrestaShop installation must be controlled by the PrestaShop Core itself, not inside an SQL field.

[2020-11-25 15:13] PierreRambaud commented on #15764
Hi and really sorry for the delay @maofree .
You're right, we should add these microdata fields as it is recommended.

[2020-11-25 15:16] PierreRambaud commented on #15554
Hi @maofree and sorry again for the delay.
You're right, as your screenshots demonstrate it there are errors with the new system.
We don't have an easy and quick solution, but we are open to pull request :+1:

[2020-11-25 15:24] maofree commented on #15554
thansk

[2020-11-25 15:28] squinquis opened #22104 "Wrong amount paid"
#### Describe the bug

All is in the title, I have 2 orders that are overpriced. The orders were in "payment error" even though we received the payment.
Example : The total is 56.90 € and the customer paid 57.90 €. Taxes are correctly configured it seems to me.

#### Expected behavior

Pay the right price.

#### Steps to Reproduce

No idea unfortunately. I have 2 orders with this error (not the sa

[2020-11-25 15:30] khouloudbelguith opened #22105 "BO - Order page - Details modal for carts - the Refresh button is not working"
#### Describe the bug

In the BO > Orders > Add new Order page > Search a customer > choose it > Open the details for a cart > the refresh button doesn't work.
![image](https://user-images.githubusercontent.com/16067358/100247474-ae12ac00-2f3a-11eb-8d0c-cb7dc1035dcf.png)

PS 1768 => the refresh button doesn't exist
![image](https://user-images.githubusercontent.com/16067358/100248007-4577ff00-2f3b

[2020-11-25 15:33] hibatallahAouadni commented on #22097
Hello @willgo34

I didn't manage to reproduce your issue with PS1.7.6.7, see the attached screen record below:

https://drive.google.com/file/d/14ZETr3HbDtDTC5tUFmBJXs5y5Ina8K0X/view

Please check and feedback.

PS: even when i deactivate HTMLpurifier, the video is well displayed in the product page FO

Thanks!

[2020-11-25 15:35] PierreRambaud commented on #15267
Oh my bad, really sorry for the delay and sorry for introduced this bug :sweat:
I create a pull request to fix it.

[2020-11-25 15:36] MatShir commented on #21493
@PierreRambaud @PululuK since there is no long term viable solution here. I suggest closing this issue. The specs will be updated. Don't hesitate to exchange on the slack open-source and create a new issue if you have a new idea. Cheers! :)

[2020-11-25 15:36] #21493 closed, assigned to nobody

[2020-11-25 15:44] PierreRambaud commented on #13573
I see only one file where the Smarty_Autoloader is registered :thinking:
![image](https://user-images.githubusercontent.com/1462701/100249860-54f84780-2f3d-11eb-97e8-db314558d0f0.png)
I try to sniff what happened in the bootstrap.php, but it's never loaded :thinking:

[2020-11-25 15:53] hibatallahAouadni commented on #22104
Hello @squinquis ,

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep

[2020-11-25 15:53] #22104 closed, assigned to nobody

[2020-11-25 16:01] zuk3975 opened #22108 "Invalid $number parameter: "" cannot be interpreted as a number"
#### Describe the bug
error appears when entering Admin `Sell > Catalog > Products` while in all shop context

#### Expected behavior

no error.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. ( have multiple shops available) Select "All shops" context in top right corner
2. got to Sell > Catalog > Products.
3. **EDIT** Click on any product (to open edit page)
4. See error (screensh

[2020-11-25 16:04] Robin-Fischer-PS opened #22109 "BO > Create Order : No limitation on quantity when out of stock"
#### Describe the bug

In BO > Orders > Add new order : For a product with a "Deny out of stock order" behavior, it is possible to add more product than available (only by editing quantity). The total are however OK : Only the available quantity is counted for Total, Discount, Shipping...

There is also an error message displayed.

Once the order is created, only the available quantity is in the o

[2020-11-25 16:15] PierreRambaud commented on #18932
:scream: Ok so it's maybe not a good first issue :sweat:

[2020-11-25 16:23] PierreRambaud commented on #21806
I agree with @rdy4ever :+1:

[2020-11-25 16:24] PierreRambaud commented on #21788
Afaik, we should add and use it like it's used in the CartPresenter.

[2020-11-25 16:26] zuk3975 commented on #22108
**Edit** same when shop group is selected

[2020-11-25 16:26] hibatallahAouadni commented on #22081
Hello @Hlavtox

I just created products with the names that you provide above, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/100254221-4fe9c700-2f42-11eb-9036-90b92ee5c887.png)

I made a search by BFG 611 in BO and I have these results, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/100254545-bcfd5c8

[2020-11-25 16:29] PierreRambaud commented on #17044
We can go further with this and create 10k issues only with features requests but as @SimonGrn and others already said, we should also focus on what we can do and what has priority.
About the API, it's a mandatory requirement for the next major, maybe before, a lot of people are waiting for it whereas this tool is not. It's like the StarterTheme, even if it's needed for the community, we were not

[2020-11-25 16:41] Hlavtox commented on #22081
@hibatallahAouadni You probably have it at the top because you put it to product reference.

I just reproduced it with completely unmodified 1.7.7.0 RC1.

![Bez názvu](https://user-images.githubusercontent.com/6097524/100256700-5fb6da80-2f45-11eb-8123-3292db80705f.jpg)
![products](https://user-images.githubusercontent.com/6097524/100256707-60e80780-2f45-11eb-9660-1db626620337.JPG)

[2020-11-25 16:45] hibatallahAouadni commented on #22108
Hello @zuk3975

I didn't manage to reproduce your issue with develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/100257085-d18f2400-2f45-11eb-97e5-34ed1273c00e.png)

Please check and feedback.
And could you please provide more infos to reproduce it.

Thanks!

[2020-11-25 16:49] khouloudbelguith opened #22110 "Multistore - BO - Order page - An unexpected error occurred when adding a product with customization"
#### Describe the bug

When multishop is enabled, a new shop is created => Customized products are imported in the second shop but without customization as reported [here](https://github.com/PrestaShop/PrestaShop/issues/18919)
This issue will occur a problem in the Add new Order page
![image](https://user-images.githubusercontent.com/16067358/100257057-c9cf7f80-2f45-11eb-918e-6643c12b5f96.png)

##

[2020-11-25 16:51] hibatallahAouadni commented on #22081
Hello @Hlavtox

Even in the FO search bar, the results are well displayed with the wanted order.
Please see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/100257891-b83aa780-2f46-11eb-928c-f7e7403b5336.png)

Please check and feedback.
Thanks!

[2020-11-25 17:01] MatShir commented on #21838
@khouloudbelguith exactly!
@sowbiba, continue to look for flaws, like if @khouloudbelguith was not enough :smile:

[2020-11-25 17:01] #21838 closed, assigned to nobody

[2020-11-25 17:03] zuk3975 commented on #22108
My bad I did not write full path.
The error appears when you click on one of products from list.

(btw are you sure you use latest develop branch, because I've just updated it and I see different "status" (screenshot bellow) in list :man_shrugging: )

![Screenshot from 2020-11-25 18-50-40](https://user-images.githubusercontent.com/31609858/100259429-e02f0880-2f50-11eb-8459-c1c65e74fa52.png)

[2020-11-25 17:25] Hlavtox commented on #22081
@hibatallahAouadni The order is random, you have it correct just by accident. :-) Delete all products and add them in the order from my screenshot and they will be wrong. The system just doesn't do any sorting by relevance.

[2020-11-25 17:26] PierreRambaud commented on #21427
Unfortunately, we don't support Twig 2 yet as you can see here: https://github.com/PrestaShop/PrestaShop/blob/develop/composer.json#L122

So if you use composer update you will update dependencies and the composer.lock file. The problem with this is, PrestaShop is an application which is working with specific dependencies and not a package.

[2020-11-25 17:26] #21427 closed, assigned to nobody

[2020-11-25 17:26] PierreRambaud commented on #21427
I'm closing this issue since we have nothing to do here.

[2020-11-25 17:29] 6xthFNGR opened #22111 "Log of Contact Form / Contact Form IP Saving"
Hello,

#### Is your feature request related to a problem?

I receive Spam by the Contact Form in the Webshop. Sadly, all Captcha Addons do charge money and this feature is not integrated.
If you like to add some Captcha System that would be great.
In the meantime, I just wanted to check the logs of the PS for the IP for the Spamer. PS does not save this level of log, and you can not set it to do

[2020-11-25 17:34] 6xthFNGR commented on #19042
Hello, you labed it NMI - but just try to reproduce it by yourself please to add many tags, and double some of them, too see that there is an issue.

Thanks

[2020-11-25 17:39] MatShir opened #22112 "Migrate "International > Translations > Email translations (Body) ""
Part of Symfony migration project

- [ ] add feature to redirect to the email body translator in Email Theme section (TBS)

[2020-11-25 17:43] denys202 opened #22113 "displayAfterProductThumbs hook content is duplicated after adding a product in the cart"
#### Describe the bug

After the PS 1.7.7 beta 2 release, a new bug appeared on product page, after adding a product in cart and closing the modal, the content of the hook in question is appended to the current state

#### Expected behavior

The content of the hook displayAfterProductThumbs should be replaced if changed and not appended.

#### Steps to Reproduce

Steps to reproduce the behavior:

[2020-11-25 17:59] Lathanao commented on #22081
Hello,
I'm not sure 100% but,

If "BFG 611-XXX" is in top result, it's because pages titled "BFG 611-XXX" are weightier.

If you check extractKeyWords() method, in comment, you have:
            // foreach word containing hyphen, we want to index additional word removing the hyphen
            // eg: t-shirt => tshirt

You have mention that you set "Search inside words" to YES, so, for:
title like

[2020-11-25 18:03] Hlavtox commented on #22081
@Lathanao Hi!

The keywords it searches are this:
[code]
All words have the same weight, I am searching only in the name field. Other fields are either empty or have different data.

[2020-11-25 18:09] Hlavtox commented on #22113
@denys202 Open themes/classic/templates/catalog/_partials/product-cover-thumbnails.tpl and move {hook h='displayAfterProductThumbs'} above the last </div>. It will fix it.

I will make a PR.

[2020-11-25 18:10] Lathanao commented on #22081
I did not mention because the trick with hyphen concerne only 611 and 611-XXX.
I'm not sure 100%, if you check in find(), you could get the SUM(weigth), you should get different value (product 611-XXX will be highter).

[2020-11-25 18:23] Lathanao commented on #22081
Could you try to execute something like that:
[code]

You should to get the weight of '611' by products.

[2020-11-25 18:28] ProteanCode commented on #20921
Is this going to be adressed in 1.7.7.x stable ?

[2020-11-25 18:51] SimonGrn commented on #22111
Hello,

thanks for your issue. AFAIK we already had this kind of discussion, you can find it [here](https://github.com/PrestaShop/PrestaShop/issues/21650). The conclusion was to **not** implement a specific system inside the Core itself.

I let it open if anyone has something to add to the conversation, maybe ?

[2020-11-25 18:56] salvacal opened #22115 "Amount at BO/Orders is the double of the total_spent order"
I found an issue at BO/Orders/ViewOrder/View Full Details
In this page I found that customer Orders and total spent is exactly the double of the order or real payment received. The issue is that the total value of the order does not correspond to the total spent payment, it is always double. This would means that the total_spent variable is read twice. This only happens with PayPal and Cash on del

[2020-11-25 19:15] SimonGrn commented on #22115
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-25 19:15] #22115 closed, assigned to nobody

[2020-11-25 19:55] 6xthFNGR opened #22116 "Contact Form 4.3.0 Agreement Checkbox in Frontend has broken translation"
#### Describe the bug

Fresh installed PS 1.7.6.9, with Contact Form Updated to 4.3.0 and Contact Information 3.3.0

The standard Translation for the Contact Form Checkbox is wrong in german.
The Checkbox text has no sense in german, but it looks not like a fake dummy text - or does it :D ?

![ps_contact_form_issue_german_translation_frontend](https://user-images.githubusercontent.com/64662500/100

[2020-11-25 20:00] 6xthFNGR opened #22117 "Module Contact Information Configure Settings Display Email Adress On/Off not working"
#### Describe the bug

PS 1.7.6.9 and Contact Information Module in Version 3.3.0 allows you to enable or disable the email adress showing on the website: I guess its hooked into the contact form, which has the contact information on the left, and to the footer box.

If you disable to show them, they still appear in both locations.

#### Expected behavior

- Clearly, a working switch. Or a better

[2020-11-25 20:08] salvacal opened #22118 "Amount at BO/Orders is the double of the total_spent order"
**Describe the bug**

I found an issue or a bug at BO/Orders/ViewOrder/View Full Details from v1.7.6.8
In this page I found that customer Orders and total spent is exactly the double of the order or real payment received. The issue is that the total value of the order does not correspond to the total spent payment, it is always double. This would means that the total_spent variable is read twice.

[2020-11-25 20:40] mateusz-szafraniec opened #22119 "Maintenance mode not working as expected"
#### Describe the bug

Maintenance message isn't shown when shop is accessed via domain name (without any suffix in url).
User can see oridinary 503 error like this:
"Service Unavailable
The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later."
instead message configured in backend.

#### Expected behavior
Display maintenanc

[2020-11-25 21:00] karpoj23 commented on #21206
I see that it is solved in develop branch... with this code:

[code]

but to solved this problem in 1.7.6.7... do you have a solution? I have tried the change and remove cache but it is not working...

[2020-11-25 21:16] Hlavtox commented on #22083
@prestascott That would be a solution also, but I think it's not **that** important for a merchant to see immediately.

What is important, for example, is that the merchant received different payment amount than the order - **You received XXX instead of XXX**. The red box in Payment section you see in one of my screenshots.

[2020-11-25 21:24] Hlavtox opened #22120 "Change the way prestashop saves payment information"
#### Is your feature request related to a problem?
When you click payment details on admin order page, there are 4 lines with card details.
There are also 4 columns in **ps_order_payment** table - card_number, card_brand, card_expiration, card_holder.

- I newer saw those fields filled in.
- They are present for all payment methods like bankwire, cash on delivery, paypal etc.

#### Describe the so

[2020-11-25 23:46] Hlavtox opened #22121 "Allow merchant to quickly see unfinished orders"
#### Is your feature request related to a problem?
The purpose of a merchant when he goes to **BO > Orders** is (in 99% of cases) to finish, send, check orders, which are not done yet.

It is very difficult to see a complete list of unfinished orders, or get their number. To check them, you must filter orders by their status, one by one. First check orders _In preparation_, then check orders with

[2020-11-25 23:57] 6xthFNGR commented on #22111
Hello,

the other topic is missing solutions like OpenCaptcha https://pypi.org/project/open-captcha/#history

Anyway - the Captcha was just one part of the Q:
The server level does not help within features of PS - to log 100% every Server Action and read it out of this mess of data would be a) not too less work and b) users do not have access to that kind of log lever on their web servers! This de

[2020-11-26 03:03] fukawi2 commented on #16954
Hi @PierreRambaud, I've since changed jobs since opening this GH issue. It's no longer relevant to me. You can close if it's not something you want to implement.

[2020-11-26 07:18] JevgenijVisockij commented on #19552
I will solve this when I simplify the MaintenanceType. The way I see it at the very least you should be able to provide current IP from form type instead of needing to get it from twig. Having default value could also work.

[2020-11-26 08:01] hibatallahAouadni commented on #22111
Hello @6xthFNGR

Thanks for your improvement idea but I'm afraid we will decline it. Even if CAPTCHA systems are very efficient to fully protect stores from spamming, it has been decided a few years ago not to offer this feature natively because it could complicate the installing and setting process.

However, if we decided not to integrate it to 300,000 stores in order to keep them performant, ma

[2020-11-26 08:01] #22111 closed, assigned to nobody

[2020-11-26 08:13] PierreRambaud commented on #16954
Thank you @fukawi2 and sorry again for the delay :sweat:

[2020-11-26 08:13] #16954 closed, assigned to nobody

[2020-11-26 08:21] hibatallahAouadni commented on #22121
Hello @Hlavtox

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-26 08:23] hibatallahAouadni commented on #22120
Hello @Hlavtox

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-26 08:43] hibatallahAouadni commented on #22119
Hello @mateusz-szafraniec

I didn't manage to reproduce your issue with PS 1.7.6.9, see the attached screen record below:

https://drive.google.com/file/d/14jpUK3E9qc-2Gs936Pz8uEE3M_fz6Brd/view

Please check and feedback.

Thanks!

[2020-11-26 09:04] hibatallahAouadni commented on #22118
Hello @salvacal

It seems that your issue is not a PrestaShop core bug.
If your module is PayPal Official, please contact support team on [Addons](https://addons.prestashop.com/fr/contactez-nous?id_product=1748)

We will close this issue.

Thanks!

[2020-11-26 09:04] #22118 closed, assigned to nobody

[2020-11-26 09:45] hibatallahAouadni commented on #22116
Hello @6xthFNGR

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #20526.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: you can change the content in the GDPR module, see the attached screenshot below (follow the steps):

![image](https://user-images.githubusercontent.com/23308427/100334699-6b051700-2fd4-11eb-85c3-40

[2020-11-26 09:45] #22116 closed, assigned to nobody

[2020-11-26 09:45] hibatallahAouadni commented on #22116
Duplicate of #20526

[2020-11-26 10:02] Roomsmaniia opened #22123 "No unit of value for the txt files attached to a product"
#### Describe the bug

The file attached to a product has no unit of value

#### Expected behavior

The file attached to a product has a unit of value

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > catalog > Products
2. Click on a product > go to option > Attached files
3. Attach a **txt** file `(*.txt)` to the product
4. Preview product
5. Click on attachments
6. See er

[2020-11-26 10:08] khouloudbelguith opened #22124 "BO - Order page - The shipping block is not instantly updated when updating the Address"
#### Describe the bug

In the BO > Orders > Add new Order page, The shipping block is not instantly updated when updating the Address.

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Install PS with English language & France country (The United States country is not displayed by default)
1. Go to BO => Orders => Add new order page for "John Doe", choose him.
2. Select the address "M

[2020-11-26 10:15] mateusz-szafraniec commented on #22119
Strange...
How to pinpoint this issue?

When i comment out line no 722 in classes/controller/FrontController.php
[code]
Maintenanse screen is shown, but with HTTP 200 not 503.

Server is running on Ubuntu 18.04/20.4 (no matter) and Apache with FPM

[2020-11-26 10:28] hibatallahAouadni commented on #22081
Hello @Hlavtox

Thanks for the clarification, I did manage to reproduce your issue with PS1.7.6.9 and PS1.7.7.0-rc.1, see the attached screenshots below:
### - 1.7.7.0_rc.1:

![image](https://user-images.githubusercontent.com/23308427/100339206-db626700-2fd9-11eb-8782-1b4b6ad25d24.png)

**Results:**

![image](https://user-images.githubusercontent.com/23308427/100339248-ea491980-2fd9-11eb-9ddf-cd91

[2020-11-26 10:38] SD1982 opened #22125 "BO - Modules - Modules catalog / The recommended modules list is not complete after a addons marketplace login"
#### Describe the bug

If we login to the addons marketplace the list of recommended modules only contains a few items

#### Expected behavior

The recommended modules list should be complete

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO / Modules / Modules catalog
2. Check the number of recommended modules ( ~ 150 )
3. Login in the addons marketplace
4. Check the number

[2020-11-26 10:42] SD1982 commented on #22125
Ping @hibatallahAouadni :+1:

[2020-11-26 10:46] PierreRambaud commented on #22119
HI, @mateusz-szafraniec I'm also with Apache and PHP FPM, and I'm not able to reproduce the issue.
Make sure you don't have a custom 503 handle in your apache configuration. It's maybe why it can't be reached properly.

[2020-11-26 10:54] mateusz-szafraniec commented on #22119
It was a "ProxyErrorOverride On" option enabled in Apache.
Shame on me.
Thanks for help!

[2020-11-26 10:55] SimonGrn commented on #22119
Thank you @PierreRambaud !

I close this issue.

[2020-11-26 10:55] #22119 closed, assigned to nobody

[2020-11-26 11:07] hibatallahAouadni commented on #22123
hello @RomainBocheux

I didn't manage to reproduce your issue with PS1.7.7.0-rc.1 and develop, see the attched screen record and screenshot below:

**- 1.7.7.0-rc.1:**

https://drive.google.com/file/d/1BUQLuOxtbJu4sgdEhJsvzeFP1moxU3Wm/view

**- develop:**

![image](https://user-images.githubusercontent.com/23308427/100343571-d1436700-2fdf-11eb-90ad-a38f7035aa40.png)

Please check and feeedback.

T

[2020-11-26 11:26] hibatallahAouadni commented on #22117
Hello @6xthFNGR

We are aware of this issue, it is already fixed with PS1.7.7.0-rc.1. This issue is a duplicate of #20294.

Thanks!

[2020-11-26 11:26] #22117 closed, assigned to nobody

[2020-11-26 11:27] hibatallahAouadni commented on #22117
Duplicate of #20294

[2020-11-26 13:23] hibatallahAouadni commented on #22113
Hello @denys202

I managed to reproduce your issue only with PS1.7.7.0-rc.1, it worked normally with PS1.7.6.9 , see the attached screen records below:

**- 1.7.7.0-rc.1:**

https://drive.google.com/file/d/1Vp3WN5M9busKAKK-ySEYgGmX78Z5fU_B/view

**- 1.7.6.9:**

https://drive.google.com/file/d/1t6_diYPsFBedZDWRC6n7Ijx5nm3WOAfo/view

PS: In my case, I add to the content presta photo.

I’ll add this

[2020-11-26 13:43] 6xthFNGR commented on #22111
You are freaking annoying me that you close the whole Topic because you only read what you like "Captcha"!
Heck - the proposal to use a Captcha System was a totally second storyline in here!

Reopen the ticket and focus on whats the Titel and the other 2 missing Features!

[2020-11-26 13:50] hibatallahAouadni commented on #22123
Thanks to @RomainBocheux

I was able to reproduce the issue with PS1.7.7.0-rc.1 and PS1.7.6.9, see the attached screen record below:

https://drive.google.com/file/d/1Ax2Xmi3A-uPqGfkPcu1ujPqfvj5IIY45/view

I created 5 files (png, jpg, pdf, csv, txt) and I attached them to the product, as you can see in the attached screenshot below, the units of the attached files are all well displayed except the

[2020-11-26 14:05] SimonGrn commented on #22111
Hello,

please remember the Code Of Conduct. You're talking to real humans here.

The topic was closed because we already talked about this. If you want to talk about 2 different things, open 2 differents feature requests.

Please remember that we don't **have to** accept everything, and our time is limited.
If a feature is really important for us, you can contribute to this open-source project, b

[2020-11-26 14:18] 6xthFNGR opened #22127 "Log of Contact Form / Contact Form IP Saving"
Thanks to the arbitrariness of SimonGrn I am supposed to do his work and reopen a ticket, that was already open before. https://github.com/PrestaShop/PrestaShop/issues/22111

I will open this ticket again and again if he continues to claim it is about Captcha Systems when it clearly was just ONE PROPOSED SOLUTION!

Here you go:

Hello,
#### Is your feature request related to a problem?

I receive

[2020-11-26 14:23] PierreRambaud commented on #13071
The field used for this is `out_of_stock` as you can see here:https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Product.php#L272
So you need to use this endpoint: https://devdocs.prestashop.com/1.7/webservice/resources/stock_availables/

[2020-11-26 14:25] SimonGrn commented on #22127
Hello,

please think about our Code of Conduct.
We do not accept tickets written with such a tone of voice.

I'm closing this ticket, please open a new one, following the template and not harassing people fixing the software you're using for free.

Thank you.

[2020-11-26 14:25] #22127 closed, assigned to nobody

[2020-11-26 14:25] PierreRambaud commented on #13070
As you can see in this documentation, the position is a field in the API: https://github.com/PrestaShop/docs/tree/master/src/content/1.7/webservice/resources
So if you update it via API you must provide the position value, otherwise, it's lost.

[2020-11-26 14:32] matks opened #22128 "Allow merchants to collect (and monitor) IP for logs and for contact form"
Hello,

**Is your feature request related to a problem?**

I just wanted to check the logs of the PS for the IP for the Spammer. PS does not save this level of log, and you can not set it to do so.

The contact form itself does not log the IP of users too, it would be interesting to gather IP from contact form users.

**Describe the solution you'd like**

 - Extend the Log Feature for logging cont

[2020-11-26 14:33] matks commented on #22111
Hi @SimonGrn  @6xthFNGR

In order to make the atmosphere a little bit more friendly I helped a bit 😉  I submitted the idea of @6xthFNGR (which is quite relevant) in https://github.com/PrestaShop/PrestaShop/issues/22128 and removed the parts that could be harsh

Let's now discuss calmly on https://github.com/PrestaShop/PrestaShop/issues/22128 😄

[2020-11-26 14:47] hibatallahAouadni commented on #22128
Hello @matks & @6xthFNGR

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-26 15:43] hibatallahAouadni commented on #19042
Hello @6xthFNGR

I manage to reproduce the issue with **PS1.7.6.5** and **PS1.7.6.9**, see the screen reocrd below (mode debug activated):

https://drive.google.com/file/d/1eEyYrtu_h3WuS_Hu6UcZEh__mwfNRB7F/view

While with **PS1.7.7.0**, it only display an error message and do not redirect you to the error page, see the screen record below:

https://drive.google.com/file/d/1oSwIR_9y8Ge_o3nzyRzZf33