[2019-04-04 10:04] PierreRambaud opened #13195 "Check pricing tab /test/campaigns/full/02_product/04_create_virtual_product.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55547481-af41f600-56d1-11e9-89a3-4bf4fba6eb32.png)

[2019-04-04 10:04] elmanu13 commented on #13178
Hi @khouloudbelguith

The #9983 is related to the discount prices not taken into account in the dashboard graph for sales and profits, do you think it's the same base problem ?
In the example I put, there is no discount in my sales, and the graph is at zero. If it was the same problem, the graph should show all the sales, even the discounted ones.

Anyway, I trust you if you think the same files a

[2019-04-04 10:04] PierreRambaud opened #13196 "Specific price: Date /test/campaigns/full/02_product/04_create_virtual_product.js"
**Screenshots**
![image](https://user-images.githubusercontent.com/1462701/55547549-d1d40f00-56d1-11e9-9d73-69cd4cedec18.png)

[2019-04-04 10:08] PierreRambaud opened #13197 "Errors in E2E tests"
**Describe the bug**
Exemple of errors:
- `TypeError: Cannot read property 'split' of undefined`
- `Error: element ("(//button[@class="close"])[1]") still not visible after 90000ms`
- `AssertionError: Expected File was not find in the folder /tmp/tmp.IbhG7IULsb/: expected false to be true` => if download file is not available in headless mode, just don't execute this kind of tests in headless mode

[2019-04-04 10:10] #9611 closed, assigned to nobody

[2019-04-04 10:12] #9610 closed, assigned to nobody

[2019-04-04 10:14] marionf commented on #10544
Thank you @matks we closed them :)

[2019-04-04 11:01] khouloudbelguith commented on #13169
@corsik, you have to comment on the parts
"  /* if ($order_carrier->sendInTransitEmail($order)) {
                                $customer = new Customer((int) $order->id_customer);
                                $carrier = new Carrier((int) $order->id_carrier, $order->id_lang);

                                Hook::exec('actionAdminOrdersTrackingNumberUpdate', array(

[2019-04-04 12:13] #11879 closed, assigned to jolelievre

[2019-04-04 12:13] #12722 closed, assigned to matks

[2019-04-04 12:16] marionf commented on #13156
Duplicate of #10600

[2019-04-04 12:17] marionf commented on #13156
Hello @shaluwebkul

Your issue is a duplicate, please follow the issue mentionned above

[2019-04-04 12:17] #13156 closed, assigned to nobody

[2019-04-04 12:44] eternoendless commented on #13107
Closed via #13158

[2019-04-04 12:44] #13107 closed, assigned to nobody

[2019-04-04 12:49] didi-2018 opened #13202 "Can not use "hmtlFields" in changing address format"
Hi,
I am using PS 1.7.5.1 and I just wanted to change the layout of addresses here:

![image](https://user-images.githubusercontent.com/44971218/55556651-5df13100-56e8-11e9-85c9-516a2e58e188.png)

and I wanted to choose "htmlFields"

![image](https://user-images.githubusercontent.com/44971218/55556726-86792b00-56e8-11e9-8c46-2afbea0f53f1.png)

but I can not choose it. I get an error message with i

[2019-04-04 13:16] matks commented on #10193
This page needs an Helper card and an Empty State: https://github.com/PrestaShop/PrestaShop/issues/10434

[2019-04-04 13:27] khouloudbelguith commented on #13202
Hi @didi-2018,

I manage to reproduce the issue with PS:1.7.5.1.
This issue is added to our bug roadmap.

Thanks!

[2019-04-04 13:48] zhoudin opened #13204 "Uncaught PHP Exception ICanBoogie\CLDR\NoTerritoryData"
**Describe the bug**
Uncaught PHP Exception ICanBoogie\CLDR\NoTerritoryData: "Territory data is missing."

**To Reproduce**
Steps to reproduce the behavior:
    1,Background Management
    2,Localization
    3,currency
    4,Adding currency
    5,"500"" errors in adding currency

**Screenshots**
CRITICAL21:03:23 | request | Uncaught PHP Exception ICanBoogie\CLDR\NoTerritoryData: "Territory data is

[2019-04-04 13:49] Ksawery88 opened #13205 "shortening the description of the category in prestashop 1.7"
hey, he wants to shorten the description of the category to 500 characters I want the read more button to appear

in the file /themes/classic/templates/catalog/listing/category.tpl is:

[code]

In prestashop 1.6, read more is standard when the description is too large. How should I do this on prestashop 1.7?

[2019-04-04 13:53] finex commented on #9932
Hi, I confirm the bug is reproducible on the old 1.7.2.2 either. Does the fix by @seisnet solve the problem? Is it safe to apply or does it needs further testing?

Thanks!

[2019-04-04 14:11] itisco commented on #13153
Hello,
I added the 2 following lines in the
themes/classic/catalog/_partials/product_details.tpl file :

$product.quantity : {$product.quantity}<br>
$product.quantity_all_versions : {$product.quantity_all_versions}

and i have the following result on the product page :

$product.quantity : 7
$product.quantity_all_versions : -13

The issue is that we have more than "-13" product in stock (we have 1

[2019-04-04 14:19] ebonit commented on #13020
I found that the reason why this code was as it is is that all modern controllers use the new-theme templates.

When I use my code as described above, the backoffice breaks on all modern controllers. The only way I can use my own custom backoffice templates is when I set the default value of the 2nd parameter of the constructor to 'mytheme' instead to 'default'
[code]
For now I created a override

[2019-04-04 14:24] khouloudbelguith commented on #13151
Hi @WilfredChong,

The format "abc.com" is not accepted in the "Friendly URL" field.
I attached a video record.
https://drive.google.com/file/d/1XztyUfAaokK3yz4GK1V8UZd_6A-ZfGgh/view
Thanks!
I close the ticket, feel free to open a new one when needed.

[2019-04-04 14:24] #13151 closed, assigned to nobody

[2019-04-04 14:27] #12962 closed, assigned to nobody

[2019-04-04 14:30] eternoendless commented on #13173
Fixed via #13199

[2019-04-04 14:30] #13173 closed, assigned to matks

[2019-04-04 14:39] khouloudbelguith commented on #13204
Hi @zhoudin,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2019-04-04 14:41] WilfredChong commented on #13151
I create it through the web server, it successful created when using POST method, but when using PUT method it returns link_rewrite not valid.

 And sorry I didn't mention that I am using Prestashop version 1.6

[2019-04-04 14:42] marionf opened #13206 "Add tiny mce to migrated pages"
**Describe the bug**
Add tiny mce like before to migrated pages:
- Add/edit categories
- Add/edit CMS page
- Add/edit brands

**Additionnal information**
PrestaShop version: develop
PHP version: N/A

[2019-04-04 14:42] khouloudbelguith commented on #13153
@itisco, your problem is solved?

[2019-04-04 14:46] khouloudbelguith commented on #13151
@WilfredChong, as you can see here: the maintenance of PrestaShop 1.6 is extended to June 2019 for security and critical bugs.

[2019-04-04 14:57] khouloudbelguith commented on #13205
Hi @Ksawery88,

Could you please provide us some screenshots about your issue.

Thanks!

[2019-04-04 15:08] marionf commented on #13202
![capture d'écran_1306](https://user-images.githubusercontent.com/13449658/55566604-53409700-56fc-11e9-878e-6354de88ab73.png)

[2019-04-04 15:09] marionf commented on #10605
Issue related to this page: https://github.com/PrestaShop/PrestaShop/issues/13202

[2019-04-04 15:12] darkf3d3 opened #13207 "Apply free shipping voucher crashing the entire website"
PS version: 1.7.4.2
PHP 7.1

Create a voucher from AdminCartRules
Set minimum amount to 45€ (tax included) (shipping excluded)
From the Action tab flag to yes FREE SHIPPING and nothing else (no amount or percentage discount).
Then go on front office, add a product to the cart, and add the voucher code to the cart.
At this point you shouldn't see any confirmation or error message about the added vo

[2019-04-04 15:24] khouloudbelguith commented on #13207
Hi @darfk3d3,

I did not manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1swr85XkuqzL0LtKT-arktXQ0vUHKA-s0/view

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - ap

[2019-04-04 15:27] Codencode commented on #13148
I think I understood the cause of the problem.
My problem is caused by using an alias to define the root of the project
eg:
Alias "/prestashop" "D:/cms/Prestashop/Site/"
<Location / prestashop>
Options All
Require all granted
</ Location>

where D:/cms/Prestashop/Site/ is the path to the root and "prestashop" is the alias

If I try the site on a server in production the problem doesn't occur.

Tha

[2019-04-04 15:31] #12791 closed, assigned to nobody

[2019-04-04 15:33] khouloudbelguith commented on #13148
Hi @Codencode,

I close the ticket, feel free to open a new one when needed.

[2019-04-04 15:33] #13148 closed, assigned to nobody

[2019-04-04 15:49] khouloudbelguith commented on #13178
Hi @elmanu13,

I don't have the same result as you.
I attached a video record.
https://drive.google.com/file/d/1S6UoSczFwtt2qFG3DILmu4DCPF38LiLG/view

Could you please add a video record to reproduce your issue.

[2019-04-04 15:56] darkf3d3 commented on #13207
Debug mode doesn't show any error, and also chrome console. After clicking on the button to add the voucher, timeout error it's showed.
This is what I have into server error log:
![errorlog](https://user-images.githubusercontent.com/42684711/55569143-52f6ca80-5701-11e9-8813-7c379457524f.png)
There's a public prestashop demo where i can test this? I lookead at the Prestashop demo linked on PS websi

[2019-04-04 16:32] tlhuillier commented on #10278
I often have the same issue, and I would do that also for widgets.
I'm not found of the prefix, but a reserved parameters in which you would pass an array.

[code]

lets say you have multiple variants of your newsletter block, you could pass a variable to the template to delegate some layout logic inside the template.
[code]

[2019-04-04 18:55] elmanu13 commented on #13178
Hi @khouloudbelguith

You don't have the same results because the products you selected have zero sales.
You need to have sales to have graphs ;-)
https://drive.google.com/file/d/1qDmhNFmmfmipiIUJhSI3CZinqGsXpJo8/view

[2019-04-04 21:37] WilfredChong commented on #13151
You mean the Prestashop is updating?

[2019-04-04 21:51] WilfredChong commented on #13151
Do I need to inform them about this issue?

[2019-04-05 05:09] IvoRabush opened #13210 "Multistore with Share available quantities - Stock Management Reserved quantity"
**Describe the bug**
When you have a Multistore shop and you enable the "Share available quantities to sell", The Reserved Quantity in Stock management is always 0 doesn't matter the order state (in process, completed, cancelled, refund, ...) or payment status.

If I disable the "Share available quantities to sell" then when creating an order, the stock management behavior goes back to normal whil

[2019-04-05 07:13] Ksawery88 commented on #13205
I mean, I have a long text and I want to shorten it. To make the read more button appear.

![text](https://user-images.githubusercontent.com/49279333/55610295-ea503200-5782-11e9-980a-54ae79d0129c.jpg)
Prestashop 1.6 is standard. How should I do this on prestashop 1.7?

[2019-04-05 07:16] PeeyushAgrawal opened #13211 "The product doesn't get add to cart after deleting product customisation"
**Describe the bug**
The product doesn't get added to cart in the below situation.
Suppose a product is created with customization(with at least one required field) without any combinations. Now from the front end, we have added the customization and add the product to cart. In this case, the product will get added to cart. Now delete the customization fields from the back office and save the prod

[2019-04-05 07:20] PierreRambaud commented on #12613
Look like this one is outdated:
![image](https://user-images.githubusercontent.com/1462701/55610819-04d6db00-5784-11e9-86f2-ddc6a7b53607.png)

[2019-04-05 07:21] imartin1983 opened #13212 "I have a dream: Order reference to Order ID"
Hey there,

I just came through the weird fact, that PS is generating alphabetic reference number and sends them in the confirmation emails to the customer. An order is also idetified with alphanumeric reference in order history and invoices. Instead of sending the order ID number, that is NUMERIC. Now, imagine you call the shop support and say you have the order ORKNSLBAKSJ not the order ORKNSLBA

[2019-04-05 07:29] marionf opened #13214 "CLDR issues"
**Describe the bug**
CLDR issues: https://docs.google.com/spreadsheets/d/1iNvJlw8ZizkjcqYVxVq1oGyGHRC5kK1Gh-sTjt-WcHE/edit?usp=sharing

**Additionnal information**
PrestaShop version: develop
PHP version: N/A

[2019-04-05 07:35] khouloudbelguith commented on #12820
Hi @juank2808,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-05 07:35] #12820 closed, assigned to nobody

[2019-04-05 07:36] khouloudbelguith commented on #12819
Hi @pedluis,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-05 07:36] #12819 closed, assigned to nobody

[2019-04-05 07:37] khouloudbelguith commented on #12801
Hi @MiguelOlmos392,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-05 07:37] #12801 closed, assigned to nobody

[2019-04-05 07:40] matks commented on #13212
Hello @imartin1983,

Nice dream ! Reporting this issue is the first step to make it true 😄however I think you are missing some informations here.

Not using the numerical Order ID is actually made on purpose, because 1) this order is generated by mysql and 2) if someone knows we use the Order ID, he can actually guess other customers' order IDs and try to steal from you or from other customers usi

[2019-04-05 07:59] #10052 closed, assigned to Quetzacoalt91

[2019-04-05 08:09] vcopleutre commented on #9686
Hi everybody,
The issue can be related to line 995 (Presta 1.6.17) in AdminProductsController.
The Product method addCombinationEntity takes a list of shops id with `$id_shop_list` as a parameter.
When the method is called in AdminProductsController, `$id_shop_list` is set to `array()`.

Therefore addAttribute method (called in Product class in the method addCombinationEntity) use only the context

[2019-04-05 08:09] imartin1983 commented on #13212
Hey matks,

I see your point. I agree security is key here.

But let's take ecommerce big boys - Amazon. It uses a randomly generated order numbers like 203-2791526-1249120 which serves for tracking primarily. Most big commerce uses random numeric order IDs. So there is no chance of guessing a random number order ID string, unless you're using explicitly sequential order IDs. But even if there is

[2019-04-05 08:10] khouloudbelguith commented on #13211
Hi @PeeyushAgrawalWebkul,

I manage to reproduce the issue with PS:1.7.5.1
This issue is added to our bug roadmap.

Thanks!

[2019-04-05 08:12] matks commented on #13212
That looks better indeed ;) but as you can see there's still the `-` parts which make it a not fully numerical ID 😉. Also it's still painful to spell this on the phone 😅.

So using amazon-like order numbers would be a relevant suggestion, what do you think ?

I'm pinging Product Management team to discuss it  @PrestaShop/prestashop-product-team

[2019-04-05 08:15] imartin1983 commented on #13212
Yes, an ID like Amazon sounds good. They should have some experience with ecommerce. A product manager will make my dream come true...sounds good!

[2019-04-05 08:16] khouloudbelguith commented on #9686
Hi @vcopleutre,

About your code suggestion, would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-04-05 08:17] vcopleutre commented on #9723
I updated this issue, if some people can dig into it it would be nice !
https://github.com/PrestaShop/PrestaShop/issues/9686
Regards

[2019-04-05 08:17] #12659 closed, assigned to tomlev

[2019-04-05 08:17] PeeyushAgrawal commented on #13211
Hello @khouloudbelguith

Thanks,

I have a solution for this bug and will raise PR soon.

[2019-04-05 08:18] matks commented on #13212
However I'm still wondering what reason the banks will be able to tell you about not accepting alphanumeric numbers 😛. I hope it's not "sorry, the database field can only accept numbers".

[2019-04-05 08:19] khouloudbelguith commented on #13211
@PeeyushAgrawalWebkul, about your code suggestion, would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-04-05 08:29] PeeyushAgrawal commented on #13211
@khouloudbelguith

Yes, I'll make a pull request on GitHub but can't be raised with branch develop.
Actually, I have already raised a pull request on this branch which is pending #12033 and also has raised one more pull request on branch 1.7.5.x which is also pending #12683

Please review these and get approve this so that I can raise a new pull request on develop branch  (https://github.com/Prest

[2019-04-05 08:33] mrttahd commented on #9659
Hello,
I have the same problem(PrestaShop 1.7.5.1). Any news?

[2019-04-05 08:39] ttoine commented on #13212
would it be difficult to let the end user choose the kind of ID they want, using some simple formula or parameters, and let a good default one in the configuration ?

[2019-04-05 08:51] PierreRambaud commented on #13040
FYI: https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation#Customized_error_messages

If we want to customize these messages we must use custom tooltips instead of browser tooltips :/

[2019-04-05 08:56] khouloudbelguith commented on #13178
Hi @elmanu13,

No graph for me.
I attached a screenshot.
![Capture du 2019 04 05 09 52 32](https://user-images.githubusercontent.com/16067358/55616072-ed4e2100-5788-11e9-99a5-82f33accb12f.png)

I manage to reproduce the issue with PS:1.7.5.1.
This issue is added to our bug roadmap.

Thanks!

[2019-04-05 09:02] itisco opened #13215 "Partial refund with Paypal not refunded on paypal"
**Describe the bug**
When you want to partially refund an order paid by paypal, you indicate the product you want to refund and check at the bottom the Refund by paypal button but the payapl account is not refunded. While it is with a total refund.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an order PAID WITH PAYPAL you want to partially refund
2. Click on Partial refund button at

[2019-04-05 09:02] marionf commented on #10017
I close it as CLDR has been merged for 1.7.6

[2019-04-05 09:02] #10017 closed, assigned to colinegin, MatShir

[2019-04-05 09:03] itisco commented on #13153
Hi,
no, the issue is not solved because there is still the "-13" quantity indicated while I need to know that there are still 23 products availlable

[2019-04-05 09:18] marionf commented on #12725
Can't reproduce anymore

[2019-04-05 09:18] #12725 closed, assigned to PierreRambaud

[2019-04-05 09:30] marionf commented on #13040
@PierreRambaud Can we scroll top like on FO: https://drive.google.com/open?id=1La-bCF0SnW9Mr7umt6pbm-pcNUcw6N5V ?

[2019-04-05 09:31] PierreRambaud commented on #12613
My bad, I tried the wrong url :trollface:

[2019-04-05 09:32] matks commented on #13087
Hi @123monsite-regis you're right there's way too much `getLanguages()` functions in prestashop right now. More than 2 actually.

[2019-04-05 10:17] lelethered commented on #12687
hi, any update on this bug fixing?
thanks on update

[2019-04-05 10:20] morghy1992 commented on #12687
@lelethered I am still waiting too.
Still having a lot of problems with Search Console not good for SEO.

[2019-04-05 10:21] PierreRambaud commented on #13040
@marionf I'm on it!

[2019-04-05 10:33] khouloudbelguith commented on #13210
Hi @IvoRabush,

I manage to reproduce the issue with PS:1.7.5.1.
This issue is added to our bug roadmap.

Thanks!

[2019-04-05 10:46] khouloudbelguith commented on #9659
Hi @mrttahd,

Sorry, not yet.

[2019-04-05 11:41] IvoRabush commented on #13210
Hi,

Thank you.

I did a research and this is what is happening exaclty when share available quantities is enabled: in the DB table, it sets the shop_id = 0. But the query to update the reserved quantity in the StockManagement class is trying to update by context shop_id and it fails to update.

Kind Regards,
Ivo R.

[2019-04-05 12:01] marionf commented on #10053
@eternoendless & @tomlev is it done with CLDR ? Can it be closed ?

[2019-04-05 12:33] eternoendless commented on #11847
It's not a "bad character". Those files are based on the official CLDR data, which means that that character is the one the Unicode consortium understands as the standard negative character for negative numbers for the Swedish locale.

The actual problem here is not that sign, but using numbers formatted according to the current locale in form fields. While it _looks_ nice, it **doesn't work** bec

[2019-04-05 12:47] vincent-dp opened #13220 "1.7 AdminImportController::productImport() should be compatible"
After few imports of products, When I go into adminpanel/imports and I chose a file and then proceed, I go this warning (I'm in debug mode)

Bellow that main warning I have those:

I really don't know how to reproduce it, but I'm stuck and can't import. Because if I turn off debug mode, it only import one product out of 4K at a time.

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP ver

[2019-04-05 13:05] khouloudbelguith commented on #13205
Hi @Ksawery88,

I will consider this as a suggestion.
@colinegin, @marionf, what do you think?

[2019-04-05 13:09] #12613 closed, assigned to nobody

[2019-04-05 13:20] mauweb commented on #9783
this bug creates big problems for me too with the message on the orders ... I use fastbay and I always have problems because I don't see the messages prestashop 1.7.5.1

[2019-04-05 13:36] khouloudbelguith commented on #13220
Hi @vincent-dp,

Could you please check with your host and feedback.

Thanks!

[2019-04-05 13:39] vincent-dp commented on #13220
What would you want me to check?

Edit:
The problem only occurs when I'm in 'All Shops' mode

[2019-04-05 13:42] khouloudbelguith commented on #13153
@marionf, could you please try to reproduce the issue, in my case I could not reproduce it.

[2019-04-05 14:00] marionf commented on #13153
Hello,

Despite our several trials, we could not reproduce your issue with the provided information and with classic template
It seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards.

[2019-04-05 14:00] #13153 closed, assigned to nobody

[2019-04-05 14:04] khouloudbelguith commented on #13207
Hi @darfk3d3,

With carrier not free, I did not manage to reproduce your issue.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve yo

[2019-04-05 14:04] #13207 closed, assigned to nobody

[2019-04-05 14:21] khouloudbelguith commented on #13215
Hi @itisco,

Have you tried to contact the agency who develops the Paypal module? As it comes from a module update, I don't think we can do something before their feedback.

[2019-04-05 14:21] #10063 closed, assigned to Quetzacoalt91

[2019-04-05 14:27] matks commented on #13007
Hi @PrestaEdit, I guess it happens there: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/ObjectModel.php#L746

Indeed `update_fields` seems only used in multishop usecase. I've been able to track this change back to https://github.com/PrestaShop/PrestaShop/commit/84d1e57ad968bb6fd81ba22ac6e4ef40d5efbeee#diff-3a9696437ae9aa19d7b202bbefbe87daR519 and the commit message clearly states

[2019-04-05 14:33] PrestaEdit commented on #13007
Hi @matks ;

Surely. But it could be usefull to get it work on single shop too, if you want to update only a field for example :)

[2019-04-05 14:33] #13128 closed, assigned to nobody

[2019-04-05 14:44] khouloudbelguith commented on #13220
@vincent-dp,

Could you please try the following steps:
1. check if the following file does exist,
YourStoreRoot/classes/controller/Controller.php
If it exists please try to rename it to Controller.php.del, maybe this file is not implemented correctly.
2. Clear cache.

[2019-04-05 14:48] matks commented on #13007
OK, I see the idea now.

Actually ... shouldn't it be a default behavior 😄? Like "if I update only field foo of my product, then `update()` only updates SQL field foo, and nothing else" ? Being able to force which fields to update can be useful, but an extended feature (outside of this issue's scope i'd say) would be "ObjectModel must be able to track which fields have been updated, and only perfo

[2019-04-05 15:12] PierreRambaud commented on #12178
The PR doesn't fix the issue.
We still don't have `sw` language. Should we be able to download this language?

[2019-04-05 15:17] PierreRambaud commented on #12178
@colinegin @eternoendless @marionf Need your feedback here.

[2019-04-05 15:25] #13214 closed, assigned to nobody

[2019-04-05 15:32] marionf commented on #12178
Maybe it's better to remove it from the list if not available, wdyt ?

[2019-04-05 15:36] PierreRambaud commented on #12178
I agree, but I'm not the one who chose :)

[2019-04-05 15:40] colinegin commented on #12178
@LouiseBonnard for you ! :)

[2019-04-05 15:42] Quetzacoalt91 commented on #13068
Fixed by #13223

[2019-04-05 15:49] LouiseBonnard commented on #12178
I also had difficulties when trying to import the Australian, Guiana, Kenya and Nigeria localization packs on Machine Shuffle version 1.7.5.1. Let's remove it from the list, it is useless from a language point of view as it only contains English (US) and Swahili (TZ) - whose translation does not exist in the software anymore...
🙄

[2019-04-05 15:56] NewNelson opened #13224 "Problem with Prestashop for save and stay"
Hello,
I have a problem on Prestashop when I want to "save and stay" a product on Firefox since yesterday but also on Chrome for 2 years.

Someone can help me.

Damien

[2019-04-05 15:58] khouloudbelguith commented on #13224
Hi @NewNelson,

What is the exact version of PS did you used?

Thanks

[2019-04-05 16:00] NewNelson commented on #13224
Hi khouloudbelguith,

![image](https://user-images.githubusercontent.com/49316747/55640827-b3067300-57cc-11e9-8e95-2ac7f8af1343.png)

Thanks

[2019-04-05 16:09] khouloudbelguith commented on #13224
@NewNelson, consult this link: http://forge.prestashop.com/browse/PSCSX-9042
As you can see here: the maintenance of PrestaShop 1.6 is extended to June 2019 for security and critical bugs.
Your bug isn’t critical or a security issue, that’s why I close it.

Thanks!

[2019-04-05 16:09] #13224 closed, assigned to nobody

[2019-04-05 16:31] khouloudbelguith commented on #13074
Hi @ryandanthony,

I manage to reproduce the issue.
I noticed that the proxy only appears after the installation and restart of the container.
I also noticed that "IP Maintenance" takes the @ of the load balancer, but it does not work with the @
of the load balancer.

[2019-04-05 17:05] taniacr opened #13225 "Multishop: product visible in search results in FO"
Despite the fact that the product is in a category that shoudn't be visible in a shop, It's presented in search results and, clicking in the breadcrum I can list all products from such category.

1. Activate Multistore and create Shop A and Shop B
2. Create Category in All Shops context
3. Create Product in All Shops context
4. Edit Category and deselect Store A
5. Go to Store A's Front Office.
6.

[2019-04-05 17:24] taniacr commented on #13225
Tried what's described in the documentation:

Categories: A product can only appear in a given category of a shop if it has been associated with this category in that shop's context. In other words: if shop A and shop B have the C category in common, you can associate the P product to the C category for the A shop's context, and P will not appear in category C on shop B.

Meaning, in Shop A contex

[2019-04-05 21:36] amtriorix opened #13226 "htaccess : Optimized the rewrite rules in .htaccess with proper regex for simplification and speed"
When I study the .htaccess that is generated in a multistore, I noticed:

1) conditions in rewrite rules do not respect perfectly PCRE, such as the lack of escaping slashes
2) seo friendly product url/cat url and fancyboxs limits to .jpg image format only
3) rewrite rules can be reduced a lot
4) most likely there is no need to always use a RewriteCond %{HTTP_HOST} followed by the
    main url of t

[2019-04-05 22:11] zhmedia commented on #9783
Here is a quick fix for anyone that can't wait for a real solution:

Open the file **/controllers/admin/AdminOrdersController.php** and change the following (around line 1864 on PS 1.7):

`'messages' => CustomerThread::getCustomerMessagesOrder($order->id_customer, $order->id),`

To:

`'messages' => array_merge(CustomerThread::getCustomerMessagesOrder($order->id_customer, $order->id), Message::getM

[2019-04-05 22:47] barbara2402 commented on #9542
Hi Khouloud
[20190406_003148.mp4.zip](https://github.com/PrestaShop/PrestaShop/files/3049881/20190406_003148.mp4.zip)
Same issue: my server has memcached installed but I'm not able to add the server, I attached a video
thank you for your help

[2019-04-06 07:58] banan44 commented on #12896
Ok, the issue seems to be resolved. I have updated some option, reseted the modules and deactivated and activated again inoices and from that point it started to count PayPal transactions. Thanks for the help.

[2019-04-06 07:58] #12896 closed, assigned to nobody

[2019-04-06 09:37] mauweb commented on #9783
perfect zhmedia
thank you so much

[2019-04-07 10:09] WilfredChong commented on #13151
Hello? anyone?

[2019-04-07 13:58] flexcodenet commented on #12588
Hi,
Same issue with Ps 1.7.5.0.

Thanks.

[2019-04-08 07:06] Ksawery88 commented on #13205
@khouloudbelguith
 are you able to help me with this problem?

[2019-04-08 07:29] khouloudbelguith commented on #12837
Hi @nexinet,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-08 07:29] #12837 closed, assigned to nobody

[2019-04-08 07:51] vincent-dp commented on #13220
Hello, Thank you for answering.
Now I have a 500 error. Weird thing is, if I set dev_mod to true, I can access both my front and back, if I set it to false, I get a 500 on both of them.
Now, I got this error :

 Did you forget a "use" statement for "Symfony\Bundle\FrameworkBundle\Controller\Controller"?

Even if I rename controller back to controller.php

[2019-04-08 07:53] vincent-dp commented on #13220
I have cleared var/cache folder, now I can access my back office again. But still, if I remove the debug mode, I got a 500.. :(

[2019-04-08 08:11] PierreRambaud commented on #12178
Localization pack list came from: http://api.prestashop.com/rss/localization.xml
We don't have anything to do on the Core!

[2019-04-08 08:26] matks opened #13227 "Display "tax included" or "tax excluded" if cart contains no taxeable items ?"
In https://github.com/PrestaShop/PrestaShop/pull/13047/commits/381b85c33cd93114c10b7bea453d4412f46f17cd we hide the "tax included" or "tax excluded" part from the cart summary if taxes have been disabled in the backoffice.

Question is: what if taxes are enabled *but* customer has put in his carts products that have no tax configured, and are being shipped with a shipping method which has no tax t

[2019-04-08 08:32] matks opened #13228 "CartPresenter computes tax information only if PS_TAX_DISPLAY is enabled and tax amount is badly computed"
## Strange condition to compute cart tax data

In `PrestaShop\PrestaShop\Adapter\Presenter\Cart\CartPresenter::present($cart, $shouldSeparateGifts = false)`, we compute an array `$subtotals` with one key `tax` ONLY if configuration PS_TAX_DISPLAY is enabled.
`if (Configuration::get('PS_TAX_DISPLAY')) {`

See https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Presenter/Cart/CartPrese

[2019-04-08 08:38] khouloudbelguith commented on #13225
Hi @taniacr,

Do you have the same problem as in #9940?

Thanks!

[2019-04-08 08:41] colinegin commented on #12178
Should i remove it from the kanban then ?

[2019-04-08 08:55] taniacr commented on #13225
I'll try to reproduce the problem and let you know.

I realized that duplicating products also generates a few problems with the images. Do you want me to open a new thread about that or I can include in this one?

[2019-04-08 08:58] khouloudbelguith commented on #13151
Hi @WilfredChong,

The maintenance of PrestaShop 1.6 except for security and critical bugs.

Thanks!

[2019-04-08 09:04] khouloudbelguith commented on #13225
@taniacr, yes if it's another problem.

[2019-04-08 09:13] PierreRambaud commented on #12178
No, we still corrected the warning  and improve errors messages :)

[2019-04-08 09:15] #12743 closed, assigned to nobody

[2019-04-08 09:15] #12913 closed, assigned to YeLnatSs

[2019-04-08 09:27] khouloudbelguith commented on #13226
@PrestaShop/prestashop-core-developers, what do you think?

[2019-04-08 09:37] khouloudbelguith commented on #13220
Hi @vincent-dp,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prest

[2019-04-08 09:48] #13039 closed, assigned to mickaelandrieu

[2019-04-08 09:48] khouloudbelguith commented on #13227
@colinegin, what do you think?

[2019-04-08 09:49] khouloudbelguith commented on #13228
@colinegin, what do you think?

[2019-04-08 09:53] marionf commented on #10013
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13047

[2019-04-08 09:53] #10013 closed, assigned to marionf, colinegin

[2019-04-08 09:54] marionf commented on #9698
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13047

[2019-04-08 09:54] #9698 closed, assigned to nobody

[2019-04-08 09:55] khouloudbelguith commented on #13205
Hi @Ksawery88,

It's normal behavior in PrestaShop 1.7, it's not a problem.

Thanks!

[2019-04-08 10:03] matks commented on #13151
You are using an old version of prestashop (PS 1.6), which is under extended maintenance. This means that only critical bugs and security bugs are fixed for PS 1.6 (in order to keep it as stable as possible) . Your issue seems fixed in the latest PrestaShop version (1.7).

[2019-04-08 10:06] marionf opened #13229 "Promo code during checkout and order button"
**Describe the bug**
1) Try to add a promo code during checkout, try to open and close it
The effect is jerky

2) The "order" button is stuck to the frame

![capture d'écran_1323](https://user-images.githubusercontent.com/13449658/55716239-c5fc8b80-59f6-11e9-9e16-cd92edcec689.png)

3) When you have promo code highlighted and you arrive on the checkout you have 2 links: "Have a promo code ?" and "C

[2019-04-08 10:28] khouloudbelguith opened #13230 "Overlap between description and category image in the Front Office"
**Describe the bug**
Try to add a description and an image for a category in the Back office and then display them in the front office.

**Screenshots**
![category](https://user-images.githubusercontent.com/16067358/55717526-66e84800-59f1-11e9-84b6-282260ab66cd.png)

**Additionnal information**
PrestaShop version: 1.7.5.1

[2019-04-08 10:29] bbdebo opened #13231 "The Employee does not exist, or the password provided is incorrect."
I have been using the same email and password to log on my prestashop back office. Since yesterday, It can’t not access the back office, I have the following error message : The Employee does not exist, or the password provided is incorrect.

However I have not changed the password, or anything else.
Also I have clicked on Reset password, but I have not received any email. Seems my account is not

[2019-04-08 10:51] khouloudbelguith commented on #13231
Hi @bbdebo,

What is the exact version of PS did you used?

Thanks!

[2019-04-08 10:52] bbdebo commented on #13231
I don't know unfortunately.

[2019-04-08 11:43] bbdebo commented on #13231
Cant you still help me please ? I am desperate :(

[2019-04-08 11:53] sarjon commented on #12925
How about replacing sidebar menu building with https://symfony.com/doc/master/bundles/KnpMenuBundle/index.html in new layout?

[2019-04-08 11:55] matks commented on #12925
That's an interesting idea, but we need to maintain compatibility with previous theme features, especially modules hooking and tab management.

[2019-04-08 11:58] sarjon commented on #12925
Yep, it would still build menu from database Tabs (both modules and core).

[2019-04-08 12:09] matks commented on #13231
Hi @bbdebo,

If you have modified nothing on your shop (no configuration changed, no file changed, no server update ...) this should not happen. You should check with your hosting provider if anything was changed on your server, this is probably the reason behind it. If your hosting provider did some changes on the server, he should be able to fix/revert them.

Please note that this github reposit

[2019-04-08 12:34] eternoendless commented on #12068
This should be fixed by making the table scroll horizontally

[2019-04-08 13:10] matks commented on #12160
There's some duplicate php classes too

[2019-04-08 13:41] khouloudbelguith commented on #9542
Hi @barbara2402,

You need to modify your files like in the PR: https://github.com/PrestaShop/PrestaShop/pull/10201/files

Thanks!

[2019-04-08 13:49] itisco commented on #13215
Ok,
I just contacted Paypal.

Cordialement,
[image: Animation Itis]

Jean-Philippe BEAUVE
Chef de projet
65, rue du Bourbonnais 69009 LYON
09 72 11 89 24 | 08 05 69 20 06
www.itis-commerce.com
Téléchargez ma VCard !

Le ven. 5 avr. 2019 à 16:21, khouloudbelguith <notifications@github.com> a
écrit :

--
*Venez rencontrer PrestaShop au PSConnect à Lyon le 16 avril*
COMMENT
DÉVELOPPER VOS VENTES ?

<

[2019-04-08 14:16] marionf commented on #9773
![capture d'écran_1326](https://user-images.githubusercontent.com/13449658/55730995-aa56ac80-5a19-11e9-9002-1e3cadcc5662.png)

![capture d'écran_1327](https://user-images.githubusercontent.com/13449658/55731000-ad519d00-5a19-11e9-8e11-e1d934ddc3d8.png)

[2019-04-08 14:22] marionf commented on #13230
I can reproduce it on 1.7.5.1

![capture d'écran_1329](https://user-images.githubusercontent.com/13449658/55731377-66b07280-5a1a-11e9-9843-cfd82c3ab958.png)

But not on develop branch

![capture d'écran_1328](https://user-images.githubusercontent.com/13449658/55731409-7465f800-5a1a-11e9-9689-9ddaa67b5ec5.png)

So I close it

[2019-04-08 14:22] #13230 closed, assigned to nobody

[2019-04-08 14:23] marionf commented on #13230
Duplicate of #9979

[2019-04-08 14:24] marionf commented on #13230
It's fixed by https://github.com/PrestaShop/PrestaShop/pull/11495

[2019-04-08 14:24] colinegin commented on #11263
Follow this PR : https://github.com/PrestaShop/blockreassurance/pull/18

[2019-04-08 14:29] marionf opened #13240 "Tax excl label remains on product page when all taxes are disabled"
![capture d'écran_1326](https://user-images.githubusercontent.com/13449658/55730995-aa56ac80-5a19-11e9-9002-1e3cadcc5662.png)

![capture d'écran_1327](https://user-images.githubusercontent.com/13449658/55731000-ad519d00-5a19-11e9-8e11-e1d934ddc3d8.png)

[2019-04-08 14:30] marionf commented on #9773
Please follow https://github.com/PrestaShop/PrestaShop/issues/13240

[2019-04-08 14:30] #9773 closed, assigned to nobody

[2019-04-08 14:47] #12401 closed, assigned to nobody

[2019-04-08 14:53] #12178 closed, assigned to PierreRambaud

[2019-04-08 15:00] khouloudbelguith commented on #13215
@itisco, waiting for your feedback.

[2019-04-08 15:38] jsuarez commented on #9867
Hi, i have the same problem, some fixes?

[2019-04-08 15:57] centoasa opened #13243 "exclusive cart rules"
Prestashop 1.7.5.1 on debian
The current cart rules state that there is at least one product of those selected in the rule, ie if I have in the cart 1 product of the rule and others that have no rules, the rule is applied.
Is there not the possibility of having the rule exclusively for the selected product? That is, if I select a certain brand, product or category for the rule, I would like the ru

[2019-04-08 16:16] marionf opened #13244 "Notice when an order contains a free gift"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Cart rule
2. Create a cart rule to offer a free gift
3. Go in FO and order a product & the free gift
4. See the order in BO

**Screenshots**
![capture d'écran_1330](https://user-images.githubusercontent.com/13449658/55739854-3670d000-5a2a-11e9-9976-6090fcfc

[2019-04-08 16:35] softweb-dev opened #13245 "Debug issue on ps_legalcompliance PS 1.7.5.1"

[2019-04-08 17:04] barbara2402 commented on #9542
thank you! it works now

[2019-04-08 17:10] jolelievre opened #13247 "Currency missing language infos after fresh installation"
**Describe the bug**
After a fresh install from `1.7.6.x` branch when I try to access the front I get an exception:

![Capture d’écran 2019-04-08 à 18 41 14](https://user-images.githubusercontent.com/13801017/55742829-fa8d3900-5a30-11e9-86c0-dc738d7ae908.png)

**To Reproduce**
I clone the project and switched to the `1.7.6.x` branch then I performed a CLI installation with these parameters:

[co

[2019-04-08 18:36] sklepgdansk opened #13248 "prestige_fashion version 1.1.2"
Hello, I have a problem with the motive
prestige_fashion version 1.1.2 did not load the upper image instead, I read in a photo from the previous classic template, there is an error at the entrance to each page

ERROR THROWN OBJECT TEXT STATUS PARSERERROR.

I am asking for help from my side, I installed everything in turn, I uploaded themes on other pages and there were no mistakes Tomasz Osinski

[2019-04-08 19:38] kpodemski commented on #13248
This is not a place to report issues with custom themes, you should contact theme author.

[2019-04-08 21:37] bbgjyb commented on #12418
Hello,
Sorry. I'm back now. No solution since that time. I'm so disappointed...
I would like you to get an eye directly in my system.

[2019-04-09 07:16] khouloudbelguith commented on #13245
Hi @softweb-dev,

Thanks to adding a short description of your issue and add steps to reproduce it in a new comment.

[2019-04-09 07:30] khouloudbelguith commented on #13248
Hi @sklepgdansk,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you on it.
Thanks!
I close the ticket, feel free to open a new one when needed.

[2019-04-09 07:30] #13248 closed, assigned to nobody

[2019-04-09 07:56] ninefingersodnd commented on #13140
This has to do with an extra id in the configuration_lang table in DB. When removed it works again!

[2019-04-09 08:08] khouloudbelguith commented on #13140
Hi @ninefingersodnd,

Thanks for your feedback.
I close the ticket, feel free to open a new one when needed.

[2019-04-09 08:08] #13140 closed, assigned to nobody

[2019-04-09 08:16] khouloudbelguith commented on #9867
Hi @jsuarez,

Sorry, not yet.

[2019-04-09 08:25] khouloudbelguith commented on #12418
Hi @bbgjyb,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestasho

[2019-04-09 08:27] jolelievre opened #13249 "Create currency has no names nor symbols"
**Describe the bug**
I go to "International > Localization > Currencies" page in the Back office.
I try to create a new currency, select it and set a rate, then click save
The currency is added I can see it in the back office and in the database
However is localized info (in `currency_lang`) are empty (name and symbol)
The numeric_iso_code is also missing (and I'm not sure about the precision but

[2019-04-09 08:32] #10612 closed, assigned to zuk3975

[2019-04-09 08:32] marionf commented on #13074
@PrestaShop/prestashop-core-developers wdyt ?

[2019-04-09 09:00] khouloudbelguith commented on #13243
Hi @centoasa,

I did not manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1KwLjrR2-ubpB4tbhq3J2Ba5uAdVRzIMZ/view

Thanks to check and feedback.

[2019-04-09 09:02] matks commented on #12360
Fixed by https://github.com/PrestaShop/prestashop-ui-kit/pull/59

[2019-04-09 09:02] #12360 closed, assigned to nobody

[2019-04-09 09:28] centoasa commented on #13243
In my case, I would a cart rules only to have free shipping only for a single brand.
If I select "free shipping" button, and select one of "apply discount" also for 0%, the rule will not saved.
https://nimb.ws/t6yJA7
see also my video to explain better: https://nimb.ws/dSREfQ

[2019-04-09 09:49] matks commented on #13226
Hi @amtriorix thank you for sharing this huge work 😉 it's going to take some time to review and test it properly against all usecases as you can guess

Just a few answers:

We have unfortunately a lot of users using a shared hosting environment (and we agree that this is not a secure environment) and we need to address their needs too. PrestaShop objective is to allow anyone to open a e-shop anywh

[2019-04-09 09:58] khouloudbelguith commented on #13243
@centoasa, the percentage value must be greater than 0 otherwise no discount.

[2019-04-09 09:59] centoasa commented on #13243
this is right @khouloudbelguith ! But how can I have cart rule only for free shipping, only for a single brand or product?

[2019-04-09 10:06] ghost commented on #12085
Hello,
Same problem width a fresh installation of Prestashop 1.7.5.1 and module listlink version 3.0.2 'Class "PrestaShop\Module\LinkList\Controller\Admin\Improve\Design\LinkBlockController" does not exist.'
I had installed the version 2.1.6 and it works ... but there is no solution with the latest version of listlink ?
Regards

[2019-04-09 10:07] marionf commented on #13247
I can't reproduce with a "normal" install, it's jsut in CLI mode ?

[2019-04-09 10:11] marionf commented on #13247
Edit: I well have the issue when I install in English and France country

[2019-04-09 10:15] khouloudbelguith commented on #13243
@centoasa, I attached a video record.
https://drive.google.com/file/d/1Nqv1zLS_wBU8FD0KwBG9s2UQ8RfsNhCB/view

Thanks to check and feedback.

[2019-04-09 10:39] jf-viguier opened #13252 "Traffic stats should ignore search engine crawlers"
**Describe the bug**
Search engine crawlers like googlebot generate a lots of traffic that is recorded as visits and page visits. This increase the traffic PKI artificially.
Search engine bots should be ignore or recorded separatly than real visitors.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to a real backoffice shop in production.
2. Compage Google Analytics and Prestashop visits m

[2019-04-09 10:40] centoasa commented on #13243
@khouloudbelguith
Try this scenario: courier not free, but for a fee (you choose the rate); product that can be shipped only through this paid carrier; shopping cart rule for this product; then add to the cart this product and another randomly chosen one, obviously that does not belong to any cart rule. You will see, however, that the cart will be free, because the current "cart rule" issue is: "a

[2019-04-09 12:07] ghost commented on #13170
Hi @centoasa ,

We need more info to better understand your need.
In which case do you want to apply this supplement? What is the goal of this supplement? (boost sales, increase mean basket value, easier stock management, ...)

[2019-04-09 12:22] jf-viguier commented on #13252
Some bots or scrapers can use regular user agent (chrome ou firefox) and should be excluded from the traffic.

[2019-04-09 12:25] matks commented on #13252
Idea: the system we'll use to handle this should be configurable, so that people can expand the regular "blacklist" we're going to sketch. We will provide a standard blacklist of known user-agents and IPs to exclude, and people can then look in their server logs and expand it when they recognize another bot pattern.

[2019-04-09 12:44] jf-viguier commented on #13252
Everything in Prestashop should be customisable to fit specific country/context/marchant needs.

[2019-04-09 12:45] centoasa commented on #13170
it's very simple: some suppliers apply this tax on the minimum order, so I have to transfer this amount to the customer. It would be easy to increase the selling price, but on search engines and price comparators you would be very high. Instead, by applying an additional cost below a minimum amount, the customer could be encouraged to increase the quantity purchased. That is if I have to pay 5 eur

[2019-04-09 13:22] khouloudbelguith commented on #13243
@centoasa, I manage to reproduce the issue with PS:1.7.5.1
I attached a video record.
https://drive.google.com/file/d/1_mDZYQuLeXCdrl6gDemEzqHlYp49NB6y/view
This issue is added to our bug roadmap.

Thanks!

[2019-04-09 13:31] flexcodenet commented on #12588
Any solution for this bug?

[2019-04-09 13:33] ghost commented on #13170
Ok, I understand.

It is possible to set a "Minimum purchase total required in order to validate the order"
It is not exactly what you are looking for but combined with a banner it could work.

I also found a module on the Addons Marketplace that does exactly what you are looking for (check PS version compatibility) :
https://addons.prestashop.com/en/registration-ordering-process/29149-small-quant

[2019-04-09 13:35] ghost commented on #13170
"Minimum purchase total required in order to validate the order" is accessible in Shop Parameters>Order Settings

![Capture d’écran 2019-04-09 à 14 53 15 (2)](https://user-images.githubusercontent.com/47456895/55804654-0c2c1a80-5add-11e9-9ca7-4a208efa14c6.png)

[2019-04-09 13:36] khouloudbelguith commented on #12588
Hi @flexcodenet,

Sorry, not yet.

[2019-04-09 13:38] centoasa commented on #13170
Thanks for your time @samuel-pires
Mine was a suggestion for future.

[2019-04-09 14:20] matlopes commented on #13099
Bug was solved by the module developper. He should issue a module update soon.

[2019-04-09 14:39] sarjon commented on #12585
ping @matks as a reminder. ^^

[2019-04-09 14:39] khouloudbelguith commented on #13252
Hi @marionf,

I can not reproduce the problem with my site locally.
Could you please try to reproduce it from your side.
Thanks!

[2019-04-09 15:54] khouloudbelguith commented on #12845
Hi @piupiu09,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-09 15:54] #12845 closed, assigned to nobody

[2019-04-09 16:13] LouiseBonnard commented on #10434
Here is the doc with the wording: https://docs.google.com/document/d/1e_yu6f3Eq1c430k-a2QA9WLZwbwRSPsIeM_jhp09Jdg/edit

[2019-04-09 16:31] marionf opened #13254 "Test E2E to test the migration of permission page"
**Describe the bug**
We need E2E tests to test this PR: https://github.com/PrestaShop/PrestaShop/pull/12428

[2019-04-09 16:50] marionf commented on #13174
@manfield you can delete the order_conf.html and order_conf.txt templates in the email/_lang_ folder

[2019-04-09 16:52] #13017 closed, assigned to nobody

[2019-04-09 16:52] #12848 closed, assigned to eternoendless

[2019-04-09 16:55] manfield commented on #13174
Sure it is a workaround, though many people - not so skilled - won't find this solution easily.
Why don't you add a toggle in configuration? I think it is a cleaner way.

[2019-04-09 17:21] centoasa commented on #9542
@khouloudbelguith it's normal when I add memcached server, my exported files, like google sitemap or channelpilot, are taken very slowly and go into error 503?
instead without add memcached server, all goes well!

[2019-04-09 22:54] didi-2018 opened #13255 "Left and Top Shop-Menu is shown twice if access "Menu" -> "Payment" PS 1.7.5.1"
If I access the payment settings in left menu the left menu and the top menu is shown twice in payment window:

![image](https://user-images.githubusercontent.com/44971218/55840252-1e34aa00-5b2b-11e9-88b6-02599ab6a52b.png)

It seams like prestashop wants to open the "Modules" -> "Modules Catalogue" too

![image](https://user-images.githubusercontent.com/44971218/55840389-88e5e580-5b2b-11e9-96ef-fe

[2019-04-10 03:24] nuonveyo commented on #10640
you have to make sure that "extension=php_intl.dll" is enable in php.ini

[2019-04-10 07:14] mdw230 opened #13257 "Specific price table not change by clicking an nother combination"
**Describe the bug**
Specific price table not change by clicking an nother combination

![price2](https://user-images.githubusercontent.com/49470290/55857316-1564c800-5b6d-11e9-8173-9c1b76683600.jpg)
![price3](https://user-images.githubusercontent.com/49470290/55857322-172e8b80-5b6d-11e9-885d-475384344c73.jpg)
After change the combinations the specific prices table are not correctly shown
![price4

[2019-04-10 07:27] khouloudbelguith commented on #12857
Hi @mrabsinthe,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-10 07:27] #12857 closed, assigned to nobody

[2019-04-10 07:28] khouloudbelguith commented on #12858
Hi @IranDec,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-10 07:28] #12858 closed, assigned to nobody

[2019-04-10 07:45] khouloudbelguith commented on #13255
Hi @didi-2018,

I did not manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1QrAS1AnzYQI6vLdcHK0eX1enxNqQNTN1/view
Can you tell me the language and the country selected at the installation of your shop?

Thanks!

[2019-04-10 07:57] pawan120391 opened #13258 "Khmer Language not appearing in delivery Slip, instead shows [][][][][][] bracket"
Hi,

Khmer language is not appearing in Delivery Slip PDF, instead it shows [][][][][] brackets, which is unreadable, please suggest the suitable font or how can I fix this to be able to generate PDF in Khmer(Cambodian) language

[2019-04-10 08:15] matks opened #13259 "Missing SEO previews on migrated pages"
**Describe the bug**
Add SEO preview to migrated pages:
- [x] Catalog > Categories > Add new / edit category https://github.com/PrestaShop/PrestaShop/pull/13132
- [x] Design > Pages > Add new / edit page https://github.com/PrestaShop/PrestaShop/pull/13132

Check what has been done for https://github.com/PrestaShop/PrestaShop/pull/9444

[2019-04-10 08:19] khouloudbelguith commented on #13258
Hi @pawan120391,

What is the exact version did you used?
Could you please add a screenshot.

Thanks!

[2019-04-10 08:19] #10566 closed, assigned to zuk3975

[2019-04-10 08:28] marionf opened #13260 "Name of uploaded image not displayed in browse fields"
**Describe the bug**
The name of the uploaded image is not displayed in browse fields

**To Reproduce**
Steps to reproduce the behavior:
1. Go to for example category edit page
2. Click on Browse for category cover
3. Select an image
4. The name of the uploaded image isn't displayed

**Screenshots**
![capture d'écran_1332](https://user-images.githubusercontent.com/13449658/55863652-42b87280-5b7b-1

[2019-04-10 08:29] #12755 closed, assigned to MatShir

[2019-04-10 08:35] centoasa opened #13262 "AH01630: client denied by server configuration"
Prestashop 1.7.5.1 on debian 9.8 php 7.2.17, mod_pagespeed installed, memcached installed.
my error_log have many entries like: `[authz_core:error] [pid 2045:tid 140513881618176] [client 37.10.95.106:37306] AH01630: client denied by server configuration: uri /img/x100asait-logo-1534233635.jpg.pagespeed.ic.pU-Ok95SSs.webp, referer: https://www.100asa.it/it/armadi-rack/37186-patton-1001mp2mpe-staffa

[2019-04-10 08:40] marionf opened #13263 "Generate button on add webservice isn't here anymore"
**Describe the bug**
Generate button on add webservice isn't here anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced parameters > Webservice
2. Click on Add a webservice key
3. The generate button isn't here anymore

**Screenshots**

![capture d'écran_1335](https://user-images.githubusercontent.com/13449658/55864593-17cf1e00-5b7d-11e9-9bfe-b8a92b30313b.png)

![capture d'é

[2019-04-10 08:43] didi-2018 commented on #13255
Hi @khouloudbelguith  my installation is in german and I am in germany

[2019-04-10 08:51] khouloudbelguith commented on #13257
Hi @mdw230,

I manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1EKXILE_E-2Mzp7Xlq8xBiZxNWhj6vBnC/view
This issue is added to our bug roadmap.

Thanks!

[2019-04-10 09:10] mbadrani opened #13265 "After Installation warning message "memcache:connect() error""
**Describe the bug**
After a successfull installation when you try to access to the front office page you can see this kind of error (capture attached)

**To Reproduce**
Steps to reproduce the behavior:
1. Install a Prestashop on 1.7.6.x branch
2. After successfull installation go to Front Office
3. An error message is diplayed (capture below)

**Screenshots**
![image](https://user-images.githubus

[2019-04-10 09:32] khouloudbelguith commented on #13255
@didi-2018, I checked with a fresh installation PS:1.7.5.1, Germany country, German language, and everything is OK.
I attached a video record.
https://drive.google.com/file/d/1aBcpLQNVPdfUskJyvWMrUcf_J279SNz-/view
Could you please clear cache, check your shop with another browser and feedback.

[2019-04-10 09:38] khouloudbelguith commented on #13262
Hi @centoasa,

Here's the PR: #10347 to solve the issue.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-04-10 09:38] khouloudbelguith commented on #13262
Duplicate of #10347

[2019-04-10 09:39] didi-2018 commented on #13255
@khouloudbelguith In your videos you always go first to modules but I do not. I only go to payments -> payment settings but NOT to modules. In that second menu prestashop wants to open the modules themselves. Cache is always clear and disabled at the moment. I have the same behavior with other browsers. Can you explain me how to make a video like yours? I like to show you in a video too. Thanks a

[2019-04-10 09:43] khouloudbelguith commented on #13255
@didi-2018, just add the extension "Screencastify - Screen Video Recorder" to your browser to record videos.

[2019-04-10 09:47] centoasa commented on #13262
I'm sorry but my /translation/cldr/ .htaccess ahev already
`<IfModule mod_authz_core.c>
    Require all granted
</IfModule>`
but as said on #10352 it didn't solve for me

[2019-04-10 09:48] khouloudbelguith commented on #9542
Hi @centoasa,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-04-10 09:52] didi-2018 commented on #13255
@khouloudbelguith, thanks! I maked a video:
https://drive.google.com/file/d/12KxMiP3pCA51S2BhXiz_R1L2q4YWdG_j/view

[2019-04-10 10:07] khouloudbelguith commented on #13255
@didi-2018, it worked well for me.
I attached a video record.
https://drive.google.com/file/d/1qZe3PCP_dvqUgQp2wCqCBqtgAJLeSll6/view

[2019-04-10 10:09] #12658 closed, assigned to tomlev

[2019-04-10 10:13] khouloudbelguith commented on #13255
@didi-2018, despite our several trials, we could not reproduce your issue with the provided information.
I close the ticket, feel free to open a new one when needed.
 Thanks!

[2019-04-10 10:13] #13255 closed, assigned to nobody

[2019-04-10 10:16] matks commented on #13263
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13264

[2019-04-10 10:16] #13263 closed, assigned to nobody

[2019-04-10 10:20] didi-2018 commented on #13255
@khouloudbelguith , okay it is not such a big problem for me cause I can access all payment modules from Modules Section ;-)

[2019-04-10 10:35] Matt75 commented on #13255
Can you try to disable module ps_mbo ?
I looks like the ajax request performed in hook displayAdminEndContent on this page inject bad content in the page.

[2019-04-10 10:46] khouloudbelguith commented on #13262
@centoasa, try with this solution: add a directory rule to your main apache config file "/etc/apache2/apache2.conf"
[code]
Thanks to check and feedback

[2019-04-10 10:53] centoasa commented on #13262
@khouloudbelguith thanks, but it already present!

[2019-04-10 10:58] khouloudbelguith commented on #13262
@centoasa, could you please check with your host and feedback.

[2019-04-10 10:59] centoasa commented on #13262
maybe similar to #11423?

[2019-04-10 11:51] marionf commented on #13265
Can't reproduce on 1.7.6.x branch
Do you have it also on 1.7.5.1 version ?

[2019-04-10 12:50] matks opened #13268 "Require specific access rights for some routes"
We have added a `SecurityAnnotationLinterCommand` in https://github.com/PrestaShop/PrestaShop/pull/13200. It looks for routes which do not have `@AdminSecurity` configured.

You can run it using command `php ./bin/console prestashop:linter:security-annotation`

Now we need to go through the list and check for each route whether they are secured by a different mechanism (not `@AdminSecurity`) or if

[2019-04-10 13:02] #11010 closed, assigned to sarjon

[2019-04-10 13:40] marionf opened #13270 "Currency list isn't the same as in 1.7.5.1"
**Describe the bug**
Currency list on 1.7.6.x isn't the same as 1.7.5.1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International > Localization > Currencies
2. Click on Add new currency
3. Look the list

For example, in 1.7.5.1 I had ZMW
In 1.7.6.0, I don't have it anymore but I have ZWD, ZWL, ZWR

![capture d'écran_1345](https://user-images.githubusercontent.com/13449658/55883620

[2019-04-10 13:44] khouloudbelguith commented on #13262
@centoasa, try to disable the mod_pagespeed and check.

[2019-04-10 13:44] didi-2018 commented on #13255
@Matt75 , Thanks that was it! I disabled ps_mbo and the issue is gone! :-D GREAT!

@khouloudbelguith , please open it again and notice that bug with module ps_mbo. Thanks!

[2019-04-10 13:49] marionf opened #13271 "Can't import united states localization pack"
**Describe the bug**
Can't import united states localization pack

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International > Localization
2. Select united states and click on import
3. See error

**Screenshots**
![capture d'écran_1348](https://user-images.githubusercontent.com/13449658/55884378-43b3c900-5ba8-11e9-8f15-3ab1cf7a7c52.png)

**Additionnal information**
PrestaShop versi

[2019-04-10 13:51] Quetzacoalt91 commented on #13271
Could be a duplicate of https://github.com/PrestaShop/PrestaShop/issues/13247

[2019-04-10 13:57] madsoliver commented on #13131
Yeah.. This is more like a 2000 dollars _standard_ issue ;-)

[2019-04-10 14:32] mickaelandrieu commented on #13265
Problem solved, this bug happens only if you have the memcached PHP extension enabled but not the memcached software.

This is not something we will try to fix, as it's really really really really uncommon!

[2019-04-10 14:32] #13265 closed, assigned to mickaelandrieu

[2019-04-10 14:36] Quetzacoalt91 commented on #13270
Please check again @marionf, I found it on my shop:

![Capture d’écran du 2019-04-10 15-32-16](https://user-images.githubusercontent.com/6768917/55887940-6349f200-5ba6-11e9-89fc-dc68d7d2c2b5.png)

Note the list may be not ordered properly.

[2019-04-10 14:58] sarahdib opened #13274 "Can't change customer group"
**Describe the bug**
Can't change customer group

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Customers>Customers
2. Click on Edit a customer
3. Change the default group by another one than customers group and save
4. Edit the same customer the default group will be customers group even if this group is not selected
**Screenshots**
<img width="1280" alt="Capture d’écran 2019-04-10

[2019-04-10 15:01] khouloudbelguith opened #13275 "Overlap between From and To with the Help part of the orders page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ''Orders" page.
2. Click on "Help"
3. Adjust resolution to 1455px of width

**Screenshots**
![Capture du 2019 04 10 15 54 14](https://user-images.githubusercontent.com/16067358/55889972-d1dc7f00-5ba9-11e9-97e3-128bb4e526e4.png)

**Additionnal information**
PrestaShop

[2019-04-10 15:08] colinegin commented on #12991
Hello @PrestaShark, thanks for your idea and PR !
It's a nice improvement, I think we can review your code and test it.

We'll keep you posted.

Have a nice day !

[2019-04-10 15:13] #10560 closed, assigned to sarjon

[2019-04-10 15:14] colinegin commented on #13228
@matks is there anything I should specify here ? Should it be done in 1.7.6 ?
Is this a bug or an improvement ?

[2019-04-10 15:15] matks commented on #13228
No, the question is rather whether this is for 1.7.6 or does it go into the backlog

[2019-04-10 15:17] colinegin commented on #13228
Well i think this should be solved within the project Price & taxes (2nd round), with other rounding issues. What do you think ?

[2019-04-10 15:18] matks commented on #13228
Good idea 😄

[2019-04-10 15:22] Quetzacoalt91 commented on #12991
Does the UX team want to have a look at this?

[2019-04-10 15:24] colinegin commented on #13228
Alright then, I put it into 1.7.7 backlog !

[2019-04-10 15:29] mbadrani opened #13276 "16_file/01_create_view_edit_delete_bulk_action_file.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:29] mbadrani opened #13277 "15_design/4_positions/1_change_position_unhook_transplant_module.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:29] mbadrani opened #13278 "15_design/1_theme_catalog/1_check_addons_theme.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:30] mbadrani opened #13279 "14_discount/3_check_vouchers_in_FO.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:30] mbadrani opened #13280 "14_discount/2_check_discount_in_FO.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:30] mbadrani opened #13281 "14_discount/1_create_edit_delete_cart_rule_in_BO.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:30] mbadrani opened #13282 "13_employee/1_employee.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:33] colinegin opened #13283 "Theme Customization module"
A few issues need to be fixed (for 1.7.6 mostly) :

- [x] https://github.com/PrestaShop/ps_themecusto/issues/9
- [x] https://github.com/PrestaShop/ps_themecusto/issues/10
- [x] https://github.com/PrestaShop/ps_themecusto/issues/7

Find the module repo here : https://github.com/PrestaShop/ps_themecusto

[2019-04-10 15:35] mbadrani opened #13284 "12_shop_parameters/3_patch_onboarding.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:35] mbadrani opened #13285 "12_shop_parameters/2_patch_open_all_menu_links.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:35] mbadrani opened #13286 "12_shop_parameters/1_enable_and_disable_shop.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:35] mbadrani opened #13287 "11_international/translation.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:35] mbadrani opened #13288 "11_international/3_taxes/1_create_edit_delete_tax_rule_in_BO.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:35] mbadrani opened #13289 "11_international/2_locations/2_create_edit_activate_restrictions_country.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:35] mbadrani opened #13290 "11_international/2_locations/1_create_edit_delete_bulk_action_zone.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:35] mbadrani opened #13291 "11_international/1_localization/5_geolocation_ip_address.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:35] mbadrani opened #13292 "11_international/1_localization/4_create_edit_delete_live_exchange_rate_currency.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:39] mbadrani opened #13293 "11_international/1_localization/3_advanced.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:39] mbadrani opened #13294 "11_international/1_localization/2_local_units.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:39] mbadrani opened #13295 "11_international/1_localization/1_import_localization.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:39] mbadrani opened #13296 "10_module/7_discover_module.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:39] mbadrani opened #13297 "10_module/6_check_notifications.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13298 "10_module/5_check_addons_catalog_page.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13299 "10_module/4_sort_module.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13300 "10_module/3_search_module.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13301 "10_module/2_cross_selling_module.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13302 "10_module/1_Zip_module.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13303 "09_customer/customer_settings/2_create_customer_in_FO.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13304 "09_customer/customer_settings/1_create_edit_delete_customer.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13305 "09_customer/addresses/1_create_edit_delete_address.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13306 "08_stocks/4_update_product_quantity.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13307 "08_stocks/3_check_order_movement.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13308 "08_stocks/2_single_product_quantity.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13309 "08_stocks/1_group_of_product_quantity.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13310 "07_manufacturer/2_create_brand_address.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13311 "07_manufacturer/1_create_manufacturers.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13312 "06_catalogbulkaction/catalogbulkaction.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13313 "05_feature/1_create_edit_delete_feature.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:40] mbadrani opened #13314 "04_attribute/2_create_attribute.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:41] mbadrani opened #13315 "04_attribute/1_create_edit_delete_attribute_value.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:41] mbadrani opened #13316 "03_category/1_create_edit_delete_category.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:41] mbadrani opened #13317 "02_product/18_display_each_kind_of_product.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:41] mbadrani opened #13318 "02_product/17_display_all_product.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:41] mbadrani opened #13319 "02_product/16_filter_by_categories_in_catalog_page.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:41] mbadrani opened #13320 "02_product/15_buttons_in_header_product_page.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:41] mbadrani opened #13321 "02_product/14_options_in_catalog_page.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:41] mbadrani opened #13322 "02_product/13_navigate_between_catalog_pages.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:41] mbadrani opened #13323 "02_product/12_edit_check_demo_product_in_BO.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:42] mbadrani opened #13324 "02_product/11_delete_product.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:42] mbadrani opened #13325 "02_product/10_buttons_in_footer_product_page.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:43] mbadrani opened #13326 "02_product/09_check_shopping_cart.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:43] mbadrani opened #13327 "02_product/08_filters_in_catalog_page.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:43] mbadrani opened #13328 "02_product/07_next_and_previous_page.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:43] mbadrani opened #13329 "02_product/06_pack_stock.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:43] mbadrani opened #13330 "02_product/05_check_default_product_sort.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:43] mbadrani opened #13331 "02_product/04_create_virtual_product.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:43] mbadrani opened #13332 "02_product/02_create_pack_of_product.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:43] mbadrani opened #13333 "02_product/01_create_standard_product.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:46] JBarbozacom commented on #9992
It´s been a YEAR, and this issue can´t be fix? Please just doit o take it off and ask the people to buy a module, but this is a lack of respect to the PrestaShop Community

[2019-04-10 15:50] centoasa commented on #13262
changed server, with ubuntu 18.4 (php 7.2.17) without mod_pagespeed and memcached: all seems without this error.

[2019-04-10 15:53] mbadrani opened #13334 "01_orders/16_credit_slip_PDF.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:53] mbadrani opened #13335 "01_orders/15_print_delivery_slip.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:53] mbadrani opened #13336 "01_orders/14_print_the_invoice_order.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:53] mbadrani opened #13337 "01_orders/13_generate_pdf_by_status.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:53] mbadrani opened #13338 "01_orders/12_generate_pdf_by_date.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:53] mbadrani opened #13339 "01_orders/11_credit_slips_options.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:53] mbadrani opened #13340 "01_orders/10_check_credit_slip.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:53] mbadrani opened #13341 "01_orders/09_delivery_slips_pdf_and_options.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:53] mbadrani opened #13342 "01_orders/07_export_shopping_carts.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:54] mbadrani opened #13343 "01_orders/06_delete_shopping_carts.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:54] mbadrani opened #13344 "01_orders/05_create_order_without_account.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:54] mbadrani opened #13345 "01_orders/04_check_adding_product_to_cart_with_unavailable_quantities.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:54] mbadrani opened #13346 "01_orders/03_create_account_from_checkout_FO.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:54] mbadrani opened #13347 "01_orders/02_create_order_in_FO.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:54] mbadrani opened #13348 "01_orders/01_create_order_in_BO.js"
This issue is about E2E tests automation migration from Selenium to Puppeteer.

[2019-04-10 15:54] khouloudbelguith commented on #13262
@marionf, what do you think?

[2019-04-10 15:55] matks commented on #9992
Hi there, did you see the huge work being done on this topic on https://github.com/PrestaShop/ps_facetedsearch/pull/52 ? Your comment looks like you did not check.

Also please note that not having an issue fixed immediately (or in a fixed timeframe) does not mean that it won't be fixed, or that we don't care. It doesn't mean that the issue is NOT important either. It just means that other issues

[2019-04-10 15:56] marionf commented on #13270
Yes, you are right, I well have ZMW :)

We need to decide if we want to keep old currencies that were not there before and maybe reorder the list

[2019-04-10 15:58] sergiogarciadisenoweb commented on #9594
hi @COCOPOT , can fix your problem? i have same issue with 1.7.5.0 version. in some orders the order split in 2 orders with 1 sec diference. the orders have same reff. not all orders, aprox 1%

[2019-04-10 16:01] khouloudbelguith commented on #9594
Hi @sergiogarciadisenoweb,

Sorry not yet.
Thanks for your understanding and your patience.

[2019-04-10 16:19] Josh979 commented on #9992
Glad to see this was finally taken care of! However after coming across what seemed to be bug after bug in the current release I ended up getting frustrated and switching to Magento months ago.

[2019-04-10 16:20] matks commented on #10186
This page should be reworked in order to use CQRS

[2019-04-10 16:38] COCOPOT commented on #9594
Hi, @sergiogarciadisenoweb ,
The problem is not solved but I am sure at 99% that it´s a problem with Paypal module. I am dealing with this error every day, I have to modify orders´amount in database to fix quantities, and the error is always with orders made with Paypal module.
I wrote to Paypal official module developers to explain the problem and gave them access to our BO store so they can see

[2019-04-10 16:39] Klemart3D commented on #9992
Magento has more issues than PrestaShop but less PR

![Magento vs PrestaShop](https://user-images.githubusercontent.com/7419525/55896995-f2afcf00-5bbf-11e9-9fca-0d90ad7c16d6.jpg)

[2019-04-10 16:46] Quetzacoalt91 opened #13350 "Migrate data from PS 1.6 modules when installing 1.7 ones (1st batch)"
As discussed with the product team, upgrading to PS 1.7 requires to install new modules.

During this process, we should migrate the data from the previous module (the similar one built for 1.6) before uninstalling it. Then, the new module will install itself and retrieve the details from the previous module. (See as reference: https://github.com/PrestaShop/ps_customtext/pull/13)

We start here wi

[2019-04-10 16:52] Josh979 commented on #9992
All fluctuating numbers aside, the apparent lack of urgency regarding major issues such as this one was what caused me to look elsewhere. And to be honest, I'm glad I did. I have had almost zero issues with Magento.

[2019-04-10 16:59] khouloudbelguith commented on #12869
Hi @centoasa,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-10 16:59] #12869 closed, assigned to nobody

[2019-04-10 18:52] matks commented on #9992
@Klemart3D @Josh979 Please be aware that we use github as a project management system so we have some 400 issues which are actually feature requests / to-be-done tasks, not bugs ^^ you can use the labels to have a deeper view. I dont know for Magento, might be the same.

Sorry about that, indeed first 1.7 versions had a lot of issues (meaning: bugs). However to ensure this does not happen again, w

[2019-04-10 19:16] Belyce32 commented on #12421
Hi !!!
Anybody to help me to delete the name of my website in the previous posts ?????
Should I contact an administrator ? Please, can someone answer me ?

[2019-04-11 06:54] IvoRabush opened #13352 "Module dev: Override Class definition - bug when uninstall"
**Describe the bug**
Incorrect uninstall of a module when overriding Class definition array. The whole definition array is not deleted, only the first line of the definition declaration is deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Crete a module
2. Create an override of any Prestashop Core Class
3. Override the **$definition array** by adding a new property. See the print scre

[2019-04-11 07:39] khouloudbelguith commented on #12915
Hi @MSG47,

Sorry for the late response.
We'll first try to reproduce it and we'll come back to you if we need more information.

[2019-04-11 07:44] sarjon commented on #10434
@LouiseBonnard we need access to it.

[2019-04-11 07:44] idnovate opened #13354 "Product price returned in request when a search is done when customer group can't see prices"
**Describe the bug**
Product price is returned in search results, even if customer group can't see prices.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure customer group as `Show prices: No`
![image](https://user-images.githubusercontent.com/15104724/55939594-6db7ca80-5c3e-11e9-956b-6417b5d503ca.png)

2. Product price is not displayed. Search a product:
![image](https://user-images

[2019-04-11 07:49] LouiseBonnard commented on #10434
@sarjon, oops, my bad, it should be fine now. :-)

[2019-04-11 07:52] tomlev commented on #13348
lol @mbadrani could you be less descriptive please ?
So details give me headaches !!!

[2019-04-11 07:58] centoasa opened #13355 "import 5 products per time"
prestashop 1.7.5.1 on ubuntu 18.4 (php 7.2.17)
I just can't understand why until a few weeks ago (I don't remember exactly) I imported the same csv / xlsx file more quickly, without these skips every 5 products. Now it imports 5 products at a time, as you can see in the video. Surely it's not a bug, but mine is just curiosity. Perhaps there is something to change in prestashop or in the configurat

[2019-04-11 08:03] mbadrani commented on #13348
lol @tomlev giving descriptions for 72 new issues could take a little time, step by step myfriend

[2019-04-11 08:04] marionf commented on #13005
Edit: V1.1.2 is available in BO when you install the module and no upgrade available, while the last version available on github is v1.1.3

[2019-04-11 08:07] sarjon commented on #10652
@matks I think this can be closed as SQL Manager is using new Form system.

[2019-04-11 08:13] khouloudbelguith commented on #13355
Hi @centoasa,

Could you please send me your file CSV to test it.

Thanks!

[2019-04-11 08:14] tomlev commented on #13348
please do not create such issue here
public accessed issue should have enough details to understand what it is about

[2019-04-11 08:15] centoasa commented on #11105
just found this row just after clear cache:
`[Thu Apr 11 10:12:53.772891 2019] [proxy_fcgi:error] [pid 44501:tid 139946274846464] [client 79.7.101.116:51866] AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught Error: Class 'Tools' not found in /var/www/vhosts/100asa.it/httpdocs/classes/db/Db.php:794\nStack trace:\n#0 /var/www/vhosts/100asa.it/httpdocs/config/alias.php(48): DbCore->escape('

[2019-04-11 08:17] mbadrani commented on #13348
@colinegin & @eternoendless wdyt ? Can you give an answer to tom?

[2019-04-11 08:25] centoasa commented on #13355
attached
[grandstream1104.xlsx](https://github.com/PrestaShop/PrestaShop/files/3067653/grandstream1104.xlsx)

[2019-04-11 08:28] ttoine commented on #13348
I agree: issues must have an understandable description or it is useless to create it.

[2019-04-11 08:30] jolelievre commented on #13005
And I confirm that the v1.1.3 (available here https://github.com/PrestaShop/psgdpr/releases/tag/v1.1.3) works on 1.7.6, we just need to update addons platform.

[2019-04-11 08:33] centoasa commented on #13262
sorry, but with this new server configuratio (ubuntu 18.4, php 7.2.17 without mod_pagespeed and memcached) back again this issue:
`[Thu Apr 11 10:29:06.645154 2019] [authz_core:error] [pid 44501:tid 139945368860416] [client 2.239.18.43:55998] AH01630: client denied by server configuration: /var/www/vhosts/100asa.it/httpdocs/img/yealink, referer: https://www.100asa.it/it/telefoni/863-yealink-t23g-g

[2019-04-11 08:36] khouloudbelguith commented on #13354
Hi @idnovate,

I manage to reproduce the issue with PS:1.7.5.1.
This issue is added to our bug roadmap.

Thanks!

[2019-04-11 08:42] #10652 closed, assigned to sarjon

[2019-04-11 08:44] khouloudbelguith commented on #13355
@centoasa, could you please specify the names of the columns.

[2019-04-11 09:24] sarahdib opened #13358 "Support link is not displayed properly in the order confirmation"
**Describe the bug**
Support link is not displayed properly in the order confirmation when we use the bank wire module

**To Reproduce**
Steps to reproduce the behavior:
1. Add a product to the cart
2. Create an account or log in
3. On the payment step choose bank wire
4. Validate
5. The link to contact the support is not correctly display

**Screenshots**
1.7.5.X version :
<img width="1274" alt="

[2019-04-11 09:29] idnovate commented on #13354
Same problem if you disable `Show price` at product configuration:

![image](https://user-images.githubusercontent.com/15104724/55946382-f178b380-5c4c-11e9-8150-d1a72f063174.png)

![image](https://user-images.githubusercontent.com/15104724/55946403-fa698500-5c4c-11e9-8d4f-ded5563a71ed.png)

![image](https://user-images.githubusercontent.com/15104724/55946449-08b7a100-5c4d-11e9-8770-0987b7227f51.pn

[2019-04-11 09:40] khouloudbelguith commented on #13352
Hi @IvoRabush,

Could you please try with these steps:
1. Delete the category class that is created under the override folder.
2. Give the right 755 to the category class created in the module.
3. Install uninstall your module.

Thanks for check and feedback.

[2019-04-11 09:40] Prestaworks opened #13360 "Minify HTML"
**Is your feature request related to a problem? Please describe.**
Prestashop will not get high scores on Google Pagespeed due to the html not being minified. Every whitespace/linebreak counts as an node in the DOM and this makes the count go up in the thousands and that gives a bad score on Pagespeed tests. This will have an effect on the ranking on Google and need to be addressed.

**Describe th

[2019-04-11 09:41] kpodemski commented on #13352
This will not help, it's an issue with override mechanism not permissions

[2019-04-11 09:45] sarahdib opened #13361 "Syntaxe error in merchandise return"
**Describe the bug**
when we want to access to the merchandise return to validate or not syntaxe error appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate the option merchandise return in Customer services Tab
2. Make a command test
3. Change the order status to "delivered"
4. Go to FO ask for a return
5. Go to BO click on the order you want to validate the return
6. See the syn

[2019-04-11 09:51] khouloudbelguith commented on #13360
@PrestaShop/prestashop-core-developers, what do you think?

[2019-04-11 09:53] jolelievre commented on #13348
Even a small generic description is better than nothing, there isn't even a proper name..
What's this issue about? Migrating to puppeteer? Fix a bug related to the test? Fixing selectors in the test? Moving the test files to another folder?

Nobody knows what it's about.. It gets even worse when you look at https://github.com/PrestaShop/PrestaShop/projects/9 which only contains a bunch of issues w

[2019-04-11 10:23] mbadrani commented on #13348
Yes thanks @jolelievre it's planned we are currently updating all our 72 issues

[2019-04-11 10:46] centoasa commented on #13355
attached
[test1104.xlsx](https://github.com/PrestaShop/PrestaShop/files/3068207/test1104.xlsx)

[2019-04-11 10:53] MiiiMaaa opened #13364 "Multishop - wrong Logo in other shop"
**Describe the bug**
When I create a new multistore in Prestashop 1.6 and upload the logos, in other shops are wrong logos.
See on this site: http://forge.prestashop.com/browse/PSCSX-9243

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Preferences' > 'Themes'
2. Add Logo file for 'Logo', 'Invoice', ...

**Screenshots**
http://fs5.directupload.net/images/171114/9e8jrcdi.jpg

**Addition

[2019-04-11 11:00] khouloudbelguith commented on #13352
Hi @IvoRabush,

I manage to reproduce the issue with PS:1.7.5.1.
I attached a screenshot.
![removeoverride](https://user-images.githubusercontent.com/16067358/55952366-5930fd80-5c51-11e9-959b-1fab180d4d6f.png)
This issue is added to our bug roadmap.

Thanks!

[2019-04-11 11:44] #13180 closed, assigned to mbadrani

[2019-04-11 11:44] #13181 closed, assigned to mbadrani

[2019-04-11 11:44] #13182 closed, assigned to mbadrani

[2019-04-11 11:44] #13183 closed, assigned to mbadrani

[2019-04-11 11:44] #13184 closed, assigned to mbadrani

[2019-04-11 11:44] #13185 closed, assigned to mbadrani

[2019-04-11 11:44] #13186 closed, assigned to mbadrani

[2019-04-11 11:44] #13187 closed, assigned to mbadrani

[2019-04-11 11:44] #13188 closed, assigned to mbadrani

[2019-04-11 11:44] #13190 closed, assigned to mbadrani

[2019-04-11 11:44] #13191 closed, assigned to mbadrani

[2019-04-11 11:44] #13192 closed, assigned to mbadrani

[2019-04-11 11:44] #13193 closed, assigned to nobody

[2019-04-11 11:44] #13194 closed, assigned to mbadrani

[2019-04-11 11:44] #13195 closed, assigned to mbadrani

[2019-04-11 11:44] #13196 closed, assigned to mbadrani

[2019-04-11 11:44] #13197 closed, assigned to mbadrani

[2019-04-11 11:59] marionf commented on #13310
@mbadrani could you please close the issues if it's done ?

[2019-04-11 12:16] rokaszygmantas opened #13365 "Export is not working in Brands and Brands addresses lists"
**Describe the bug**
List export action for Brands and Brands addresses does nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Brands & Suppliers
2. Click on grid actions (wrench icon), then on "Export" https://prnt.sc/naj1qf
3. It reloads the page and does nothing. Same for addresses grid, which is below in the same page.

**Additionnal information**
PrestaShop versio

[2019-04-11 12:36] matks commented on #13360
It make sense 👍 although it would ignore modules and hooks blocks as they would be out-of-scope.
If possible, let's use something that plugs on Smarty rather than a JS tool. This will make it easier to use for themes developer. 🤔

@Prestaworks do you feel like trying to do a PR for it ? 😄

[2019-04-11 12:38] #13361 closed, assigned to sarahdib, Quetzacoalt91

[2019-04-11 12:45] melmelimel commented on #12687
I'm also waiting for an answer... I have more than 9000 Errors due to this issue. Any update or fix?

[2019-04-11 13:09] thomasharko commented on #12085
Thomas,
Going back to 2.1.6 and removing cache works also for me.
Regards

[2019-04-11 13:11] khouloudbelguith commented on #13364
Hi @MiiiMaaa,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in extended maintenance mode until June 30, 2019.
Thanks for your understanding!

[2019-04-11 13:11] #13364 closed, assigned to nobody

[2019-04-11 13:32] eternoendless commented on #13360
I think HTML minification is pretty much useless if your web server has compression enabled. Furthermore, a server module will be much more efficient at compressing than a PHP script.

See https://httpd.apache.org/docs/2.4/mod/mod_deflate.html

To me this is a no go.

[2019-04-11 13:32] #13360 closed, assigned to nobody

[2019-04-11 13:40] Prestaworks commented on #13360
@eternoendless What do mod_deflate have to do with minification and removal of line breaks? Did you not read the initial message before closing the request?

[2019-04-11 13:47] ghost commented on #12085
It's works for me too but i think it's not a real good issue ...
Regards

[2019-04-11 13:52] khouloudbelguith commented on #13355
@centoasa, did you use a specific module or activate an option (which is in red rectangle)?

![test](https://user-images.githubusercontent.com/16067358/55962696-517d5300-5c69-11e9-88f3-ee77b993bcaa.png)

[2019-04-11 13:54] centoasa commented on #13355
previously I saved the columns of my interest that I saved in the scheme that I named grandstream (red box)

[2019-04-11 13:58] mbadrani commented on #13310
@marionf I will when it will be merged

[2019-04-11 13:59] jolelievre commented on #12085
Hello,
sadly this doesn't solve the problem with the version3. I tried to reproduce the bug again without success.
Here's what I did:
- download the 1.7.5.1 version of prestashop from the website
- install new shop
- go to "Design > Link widget"
- it works fine (of course this is the version2 which is integrated with PS 175)
- got to module manager
- upgrade the module using the "Upgrade" button
-

[2019-04-11 14:03] eternoendless commented on #13360
I read too fast, my mistake. But even then, I can't see any HTML minification tests anywhere: https://developers.google.com/speed/pagespeed/insights/?hl=fr&url=http%3A%2F%2Ffo.demo.prestashop.com%2Fen%2F

[2019-04-11 14:06] Prestaworks commented on #13360
@eternoendless it shows up when the amount of html elements grov, the default template do not suffer from this but if you would add a lot of modules and plugins the amount of elements will ofcourse grow, and when a linebreak is counted it will stack up quickly.

It was a nice feature in 1.6, did it really cause issues for anyone?

[2019-04-11 14:08] eternoendless commented on #13360
Maybe [this](https://www.modpagespeed.com/doc/filter-whitespace-collapse) would help?

[2019-04-11 14:10] Prestaworks commented on #13360
Yes probobly, but that is not available on all hosts and it do from time to time cause other issues also.

[2019-04-11 14:20] sarahdib opened #13368 "bug with the report on productcomments"
**Describe the bug**
When a comment is reported once and treat like not abusif.
if the comment is reported a second time and refresh the module productcomments page the second report is deleted before we can check it.

**To Reproduce**
Steps to reproduce the behavior:
1. Comment a product with an account
2. Report the comment with another
3. Go to modules manager -> product comments module
4. Clic

[2019-04-11 14:23] eternoendless commented on #13360
IMO doing it on the PHP side would degrade performance, not improve it, because it would involve post-processing every request.

[2019-04-11 14:25] Prestaworks commented on #13360
Yes performance is important, I do believe the old code was built around running minify on the output from smarty? so the cached (compiled) templates where minified and that was not so heavy on the performance?

[2019-04-11 14:26] Pipeze opened #13369 "[1.6.1.23] Property "unit_price_ratio" does not set itself via webservice"
All is in the title, I can set any product property via the webservice except "unit_price_ratio" which is set to 0.000000 in any case.
I can only affect this via the backoffice but I need to use the webservice...

Possible duplicate of #9922 but not on the same version. Any fix ?

Library: PSWebServiceLibrary.php
PrestaShop version: 1.6.1.23
PHP version: 7.0

[2019-04-11 14:40] khouloudbelguith commented on #13355
@centoasa, I did not manage to reproduce the issue with PS:1.7.5.1.
I used another file because yours is in the Italian language (we do not have the same names of categories ...)
I attached the CSV file and a video record.
https://drive.google.com/file/d/17mwWXEeEns4jAeX6A48KqKnA_uoLrxQw/view
[test_file.xlsx](https://github.com/PrestaShop/PrestaShop/files/3069180/test_file.xlsx)

Thanks to check a

[2019-04-11 14:48] tomas862 commented on #13260
Hi @marionf ,

Not sure I fully understand the problem but:

1. If comparing previous PrestaShop version 1.7.5 , for instance if you try to upload any image on categories form and after that you go to edit page again the input will remain empty.

as in 1.7.5 the same behavior is applied in this version as well and I think almost every form in PrestaShop does not store uploaded file name on any edi

[2019-04-11 14:50] centoasa commented on #13355
the result is almost identical to mine, even for you the import goes to step of 5/7 products; in addition I use the "Use the product reference as a keyword" flag
https://nimb.ws/6BnwxY
oh well, maybe I remember correctly, but before I import/updated many more products in one step

[2019-04-11 14:59] khouloudbelguith commented on #13355
@centoasa, with option "Use product reference as key" enabled.
I attached a video record.
https://drive.google.com/file/d/15-csWN7XfYUaAlGqX6HC0e_nuw7u2MiH/view

[2019-04-11 15:05] centoasa commented on #13355
I do other import tests and check. @khouloudbelguith  you can close this ticket, in case I write again. Thank you very much.

[2019-04-11 15:08] jf-viguier commented on #11631
The main issue is that the add to cart action errors returned by the CartController are not managed or displayed.
You're talking here of the out of stock error but there can be many more.

First step : I've made a PR to avoid display add to cart confirmation when an error occured :
https://github.com/PrestaShop/ps_shoppingcart/pull/41

Second step :
There is this PR that manage errors in a modal :

[2019-04-11 15:14] khouloudbelguith commented on #13369
Hi @Pipeze,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in extended maintenance mode until June 30, 2019.
Thanks for your understanding!

[2019-04-11 15:14] #13369 closed, assigned to nobody

[2019-04-11 15:26] marionf commented on #13260
Hey @tomas862

Yes, it was about 2. but you are right, it's working !
Thanks for looking :)

[2019-04-11 15:26] #13260 closed, assigned to nobody

[2019-04-11 15:28] netdrag commented on #11914
Got the same problem.

php ./bin/console debug:container | grep prestashop.module.link_block is returning nothing.
reinstalling didn't help.

[2019-04-11 15:30] khouloudbelguith commented on #12894
Hi @PrestaSafe,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-11 15:30] #12894 closed, assigned to nobody

[2019-04-11 15:31] MiiiMaaa commented on #13364
This is very annoying, because already since 2017 there is this problem in Prestashop. We have built a multishop system, which we can not easily update to 1.7.
We'll probably have to look for a completely new system.

Von: khouloudbelguith [mailto:notifications@github.com]
Gesendet: Donnerstag, 11. April 2019 15:12
An: PrestaShop/PrestaShop
Cc: MiiiMaaa; Mention
Betreff: Re: [PrestaShop/PrestaShop

[2019-04-11 15:34] khouloudbelguith commented on #12898
Hi @TemKaSD,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-11 15:34] #12898 closed, assigned to nobody

[2019-04-11 15:59] marionf commented on #11631
I just tested: https://github.com/PrestaShop/ps_shoppingcart/pull/41

The modal isn't displayed anymore if the product is out of stock and the product page is not refreshed.
So, it's like add to cart button didn't do anything, but the product is anyway added to the cart

Video: https://drive.google.com/file/d/1HF5gts5RwANbmQ4zeTWCr38wao0lsSbg/view?usp=sharing

I just tested also: https://github.co

[2019-04-11 16:09] slupostrupek opened #13371 "Position of module - hooks - can't unhook"
Hooks sometimes? are broken and can't be unhook. After unhook for the first reload of page it's correctly gone but after second reload its coming back.

**To Reproduce**
1. Go to  position and unhook module like featured products from homepage
3. Reload homepage - hook is gone
4. Reload homepage again - featured products come back

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP versio

[2019-04-11 16:24] ntiepresta opened #13373 "Id changed in Team page"
Describe the bug
In B.O > Advanced Parameters> Team page, id  "employee info icon"  changed.  This change broken the automatic test.

Team Page
The employee info icon changed from id = " #employee_info" to id = " #header-employee-container ".

Thanks!

[2019-04-11 16:26] jf-viguier commented on #11631
Tell we what's your prestashop version, I'll try to stick to it

[2019-04-11 16:33] marionf commented on #11631
I was on 1.7.6.x branch

[2019-04-11 16:49] jolelievre commented on #11914
When you go in `modules/ps_linklist` does the vendor folder contain `autoload.php` and `composer` folder. If not you need to run `composer install`
Then manually remove the cache and retry `rm -fR var/cache/*`

[2019-04-11 16:49] jolelievre commented on #11914
When you go in `modules/ps_linklist` does the vendor folder contain `autoload.php` and `composer` folder. If not you need to run `composer install`
Then manually remove the cache and retry `rm -fR var/cache/*`

[2019-04-11 16:49] ghost commented on #9650
@Flower7C3 great work!! can we submit this for a test/merge?
It works here in 1.7.5.1

[2019-04-11 16:52] jolelievre commented on #12085
When you go in `modules/ps_linklist` does the vendor folder contain `autoload.php` and `composer` folder. If not you need to run `composer install`
Then manually remove the cache `rm -fR var/cache/*` and retry

[2019-04-11 16:59] jolelievre commented on #13283
Seems like the first two issues are ok (no need to fix anything)
The last one already has a linked PR, should we do a QA for this one and merge it?

[2019-04-11 17:50] athigb commented on #12026
Thank you very much.
I had the same problem!!!
Everything is fine now!!!!!!!

[2019-04-11 18:38] Pipeze commented on #13369
Hi @khouloudbelguith,

Thank you for the answer, is there any way to get some support ?

[2019-04-11 20:41] netdrag commented on #11914
Yes it contains the files. I installed the module through the module manager in prestashop.
Server is nginx with php 7.0. I started with prestashop 1.7.1 and am now on prestashop 1.7.5.1 but have that problem only on one installation. all others work as expected.

[2019-04-12 06:58] jf-viguier opened #13374 "Out of stock product is still added to the cart"
**Describe the bug**
Add to cart an out of stock product (order refused) return an error but the product is still added to the cart

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product page
2. Change quantity to zero without reloading
3. Add the product to the cart
4. See errror in the chrome inspector

**Screenshots**
see screenshot
http://creabilis.com/tmp/addtocartbug.jpg

**Ad

[2019-04-12 07:33] Ksawery88 commented on #13205
but will it be solved? There will be a button to read more, how the content is too big.

[2019-04-12 07:36] khouloudbelguith commented on #13355
Hi @centoasa,

Thanks for your feedback.
I close the ticket, feel free to open a new one when needed.

[2019-04-12 07:39] Quetzacoalt91 opened #13376 "Migrate data from PS 1.6 modules when installing 1.7 ones (2nd batch)"
As discussed with the product team, upgrading to PS 1.7 requires to install new modules.

During this process, we should migrate the data from the previous module (the similar one built for 1.6) before uninstalling it. Then, the new module will install itself and retrieve the details from the previous module. (See as reference: https://github.com/PrestaShop/ps_customtext/pull/13)

These modules ha

[2019-04-12 08:23] khouloudbelguith commented on #13374
Hi @jf-viguier,

I did not manage to reproduce the issue with PS:1.7.5.1 and 1.7.6.x develop branch.
I attached a video record.
https://drive.google.com/file/d/1tvzj7WKJkE3GxvmmTDQcMqsU2RDw3sA6/view

Thanks to check and feedback.

[2019-04-12 08:29] khouloudbelguith commented on #13369
Hi @Pipeze,

I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

[2019-04-12 08:48] khouloudbelguith commented on #13371
Hi @slupostrupek,

I did not manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1S2XeAQmVrv-hrPZdqlT3NWld2b5HyAOB/view

Did you use the template by default of Prestashop?

[2019-04-12 09:20] mbadrani opened #13377 "Error 500 when trying to access to FO page in french"
**Describe the bug**
For my case I've installed a simple shop with language: english and country: France and after successfully installed the shop, I've tried accessing to the home page /fr by changing the language in french.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your home page
2. Click on language and set french
3. See error

**Screenshots**
![image](https://user-images.gith

[2019-04-12 09:29] matks commented on #13377
Looks like a duplicate of https://github.com/PrestaShop/PrestaShop/issues/13247

[2019-04-12 09:31] khouloudbelguith commented on #13377
Hi @mbadrani,

Your ticket is a duplicate of #13247
So, I close it.
Thanks!

[2019-04-12 09:31] #13377 closed, assigned to nobody

[2019-04-12 09:32] mbadrani commented on #13377
yes definitely

[2019-04-12 09:32] khouloudbelguith commented on #13377
Duplicate of #13247

[2019-04-12 09:41] marionf commented on #13257
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9872
This issue will be fixed in 1.7.6.0

[2019-04-12 09:41] #13257 closed, assigned to marionf

[2019-04-12 09:46] khouloudbelguith commented on #13136
Hi @javierVP,

Does your problem is solved?

[2019-04-12 09:50] marionf commented on #13352
@PrestaShop/prestashop-core-developers wdyt ?

[2019-04-12 09:55] marionf commented on #13262
Don't know, let's ask to @PrestaShop/prestashop-core-developers

[2019-04-12 10:05] jolelievre commented on #13249
Hi @tomlev can you check that this fixes another issue in the Product price
When you wan to add a specific price, you have a select box which can contain either percentage or price type
Currently the price type is empty because it uses `currency->getSymbol()`, can you please check that your fix also fixes this issue?

[2019-04-12 10:30] eternoendless commented on #13360
The compiled templates _could_ be minified but the inserted content won't, unless it's post-processed and stored in cache as well.

Again, a quick google search didn't show any results advocating for removing whitespace for performance, which leads me to think it's a non-issue. If PageSpeed is complaining about  too big a number of nodes, I think the problem is probably related to your theme being

[2019-04-12 10:44] matks opened #13379 "[SF Migration] Choose 1 way to use translator into Form Types"
We currently have 3 ways to use translation capabilities in Form Types:

1) injecting Translator manually
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Form/Admin/Improve/Design/Pages/CmsPageType.php#L72
2) extending TranslatorAwareType
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Form/Admin/Catalog/Category/AbstractCategoryType.php#L49
3)

[2019-04-12 10:44] matks commented on #13379
Ping @sarjon @tomas862 @jolelievre for feedback

[2019-04-12 10:49] sarjon commented on #13379
I'd go for `injecting Translator manually`, because:
1. When using `TranslatorAwareType` we often need to inject additional dependencies, thus we have to configure parent constructor everytime and define `TranslatorAwareType` arguments in same order for child type.
2. `injecting Translator manually` make dependency explicit.
3. When using `TranslatorAwareTrait` we still have to "manually" inject i

[2019-04-12 11:03] scolink opened #13380 "Adding to cart very slow"
Hello,

I have a store, where i have 67 products, but i have around 500.000 cart rules, i know its alot of cart rules, but i really need them.

Im facing a problem when customer try to add products to the cart is very slow, probably some tests i made takes 40 a 60 seconds to add product to the cart, and when customer have for example 400 products in the cart, to add more products is more slower ad

[2019-04-12 11:07] jolelievre commented on #13379
I'd remove the trait for sure, we already had a long debate about trait uses with the team and the final idea was to get rid of them and favor constructor injections.

That said between `TranslatorAwareType` and manual injection I'm not sure, the parent definition is useful but not really clear when you read the services definition, and you also sometimes get additional dependencies that you don't

[2019-04-12 12:19] marionf commented on #13283
Pr is ok for me :)

[2019-04-12 12:55] rblaurin opened #13386 "Email address in uppercase"
**Describe the bug**
When a customer register his/her email address in uppercase, the confirmation email doesn't work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new account in front office, entering your email address in uppercase (i.e. KHOULOUDBELGHITH@PRESTASHOP.COM)
2. Go to your inbox and see the confirmation email. You will see something like HELLO {FIRSTNAME}

[2019-04-12 13:12] jf-viguier commented on #13374
Your test is wrong, your product has to be in stock before adding it to the cart :
Change quantity to 4
Go to a product page in front
Change quantity to zero without reloading
Add the product to the cart
See errror in the chrome inspector

[2019-04-12 13:35] khouloudbelguith commented on #13386
Hi @rblaurin,

I manage to reproduce the issue with PS:1.7.5.1 and PS:1.7.5.0
I attached a screenshot.
![1386](https://user-images.githubusercontent.com/16067358/56041232-290c5c00-5d30-11e9-99b1-0f14aab3459c.png)

With PS:1.7.4.4=>OK
This issue is added to our bug roadmap.

Thanks!

[2019-04-12 13:36] matks commented on #13364
@MiiiMaaa in incoming release 1.7.6 we have migrated "Theme&Logo" page to Symfony and reworked the code in that page, including how Multishop is handled. We restarted it from scratch and gave it a new implementation.

This might have solved your issue, would you check it ?

[2019-04-12 13:53] PierreRambaud commented on #13262
What version of apache are you using?
Can you show us your apache and you virtualhost configuration?

[2019-04-12 13:54] marionf commented on #9959
I reopen it, as it's not completely fixed

Between -3,00€ and "New", we should have 10px spacing

![Capture d’écran 2019-04-12 à 15 49 44](https://user-images.githubusercontent.com/13449658/56042212-d5534000-5d3a-11e9-8a47-d6fdc8f60d9f.png)

Here, "Pack" and "new" are still superimposed

![Capture d’écran 2019-04-12 à 15 50 23](https://user-images.githubusercontent.com/13449658/56042343-1f3c26

[2019-04-12 13:54] PierreRambaud commented on #13262
This can maybe help you to understand why it fails: https://linux.101hacks.com/unix/client-denied-by-server-configuration/

[2019-04-12 13:55] khouloudbelguith commented on #13374
@jf-viguier, could you please add a video record.

[2019-04-12 13:59] khouloudbelguith commented on #13380
Hi @scolink,

What is the exact version of PS did you used?

Thanks!

[2019-04-12 14:06] tomlev commented on #13249
do you have issue number please ?
Maybe it could be checked in QA phase ?

[2019-04-12 14:07] scolink commented on #13380
Hello @khouloudbelguith  sorry i forget to say the ps version 1.6.0.14

[2019-04-12 14:17] centoasa commented on #13262
Server version: Apache/2.4.29 (Ubuntu)
Server built:   2019-04-03T13:22:37
maybe I understood: the error refer to a folder that does not exist! I don't understand why Prestashop wants to save the images in that folder. In any case I have just created it, and it seems that the error has disappeared. I continue to monitor the situation, in case I let you know.

[2019-04-12 14:28] khouloudbelguith opened #13388 "Typo in German translation"
**Describe the bug**
Typo in German translation: "Aretikel"

**To Reproduce**

Install the shop with the German language then select a category and delete it

**Screenshots**
![branch1 76 0](https://user-images.githubusercontent.com/16067358/56044655-966fbb00-5d37-11e9-94a3-b3fa1fde3d43.png)

**Additionnal information**
PrestaShop version: 1.7.6.x

[2019-04-12 14:29] matks commented on #13388
@LouiseBonnard looks like a translation issue, can you confirm ?

[2019-04-12 14:29] jolelievre commented on #13249
I didn't want to create an extra issue (since it's the same origin as this one) but Marvine saw it while fixing another issue on this page
Validate it in QA seems appropriate

[2019-04-12 14:37] marionf commented on #13374
Related to https://github.com/PrestaShop/PrestaShop/issues/11631

[2019-04-12 14:39] LouiseBonnard commented on #13388
Indeed, I've had a look at the German translation project on Crowdin and fixed it. It should be solved in a couple of days. ;-)

[2019-04-12 14:49] jf-viguier commented on #13374
@khouloudbelguith : -1 is and out of stock quantity : use 4 or 5 and u'll see.

[2019-04-12 14:53] taniacr commented on #13225
Hi @khouloudbelguith ,

Yes, I had the same problem.
In my Shop A the product is a "product with combinations". When I switch to Shop B, stays as a "Simple Product" and i'm not able to change it.

[2019-04-12 14:56] khouloudbelguith commented on #13225
Hi @taniacr,

Your ticket is a duplicate of #9940
So, I close it.
Thanks!

[2019-04-12 14:56] #13225 closed

[2019-04-12 14:56] khouloudbelguith commented on #13225
Duplicate of #9940

[2019-04-12 15:03] taniacr commented on #13225
My issue is about the product being visible or not in the FO, not with the combinations that I assume it looks like a different problem.
They both happen in Multistore but how are they duplicate?

[2019-04-12 15:06] marionf commented on #13386
It's also visible on 1.7.6.0 with new email templates

![capture d'écran_1382](https://user-images.githubusercontent.com/13449658/56047255-51eb1c00-5d45-11e9-90e7-d5cc4b7d6704.png)

[2019-04-12 15:32] khouloudbelguith commented on #13225
@taniacr, this issue is currently closed, can you open a new one with more information about your configuration.
Thanks!

[2019-04-12 15:37] khouloudbelguith commented on #12923
Hi @sewingau,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-12 15:37] #12923 closed, assigned to nobody

[2019-04-12 15:40] #13068 closed, assigned to Quetzacoalt91

[2019-04-12 19:28] go-sudo commented on #12667
HI @khouloudbelguith I contact plesk support and after their investigation it's a matter of prestashop
AH01071: Got error 'PHP message: PHP Fatal error: Uncaught Error: Class 'Tools' not found in /var/www/vhosts/ffff.ma/httpdocs/classes/db/Db.php:794\nStack trace:\n#0 /var/www/vhosts/ff.ma/httpdocs/config/alias.php(48): DbCore->escape('configuration', false)\n#1 /var/www/vhosts/fff.ma/httpdocs/con

[2019-04-12 19:30] go-sudo opened #13389 "Enable PrestaShop users to choose to either use memcached for backoffice, frontoffice, or both"
#### Is your feature request related to a problem?
When I activate memcached on my website some modules ares stopped like newsletter( mails still in progress and cant' send them) so I dont want cache my backend only frontend

#### Describe the solution you'd like
Enable PrestaShop users to choose to either use memcached for backoffice, frontoffice, or both

---
Hello I need you help to diable the

[2019-04-12 20:03] mygitaccount2 opened #13390 "ps_orders colum curent_state not updated after ps_orders_history modification"
Hi Dear comunity,

i have to put my hand in ps_orders_history and remove manually all wrongfully posted order status,  that a very bad module did.

but now, my order list statuses are not updated they still have the old status while the order page itself is 100% accurate.

i pin point the issue where the "current_state" status is not update in ps_orders.
i dont think it is a bug as i updated the t

[2019-04-13 09:06] vjnunez commented on #12456
Hey guys! im experiencing the same issue and need to apply the recent patch to solve this (im developing a carrier module with extra fields in that step). How should i proceed? Is it safe to use the 1.7.6.x branch and update my prestashop entirely? Right now im on the latest stable release 1.7.5.1.

[2019-04-13 09:19] vjnunez commented on #12456
@teemumantynen did you find a workaround for 1.7.5? i would appreciate it so much! it would save me from doing the tedious PS upgrade and all the implications.

[2019-04-13 09:26] centoasa commented on #13355
With smarty cache enabled (and template recompile if updated) my import stuck at 99%, server goes down and in the error_log I'll:
`[Sat Apr 13 11:08:42.580903 2019] [proxy_fcgi:error] [pid 13187:tid 140340237416192] [client 79.7.101.116:54040] AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught Error: Class 'Tools' not found in /var/www/vhosts/100asa.it/httpdocs/classes/db/Db.php:794\nStac

[2019-04-13 16:44] jsuarez commented on #9564
how to fix the error about ....ps_authorization_role' doesn't exist???

[2019-04-13 18:04] roja45 opened #13392 "Can't translate field in overriden template for third party module template"
#### Describe the bug
Create a custom module with a template that has translatable text-
Override the template using the standard procedure for altering a template for a third-party theme.
Add a new text field to the new template for the theme.
Field does not appear anywhere inthe back office for translation.

Like #19229 i started to test module translations and found that all module translations

[2019-04-13 19:20] mrabsinthe commented on #9599
1.7.5.1 and the situation is still the same. These email subject lines are related to order status emails:
bankwire
cheque
employee_password
newsletter
order_canceled
order_conf_cart_rules
order_conf_product_list
outofstock
payment_error
payment
preparation
refund
shipped
voucher_new

That's quite a lot especially when you're unable to make friendly email subject for transaction emails! Because if

[2019-04-13 21:21] qtheuret opened #13394 "`order_discounts` not available via WebServices"
**Describe the bug**
I have a connector Odoo <-> PrestaShop worked with PrestaShop 1.6.x. I tried to upgrade the connector to work with 1.7.x versions of PrestaShop, but with 1.7.x versions, the `order_discounts` is not available via WebServices, so my connector doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Advanced Parameters > WebServices`
2. Create a new key
3. In t

[2019-04-13 21:41] pppplus opened #13395 "webservice add order do not call 'actionUpdateQuantity'"
**Describe the bug**
When I do order with webservice, quantities of products are not updated

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version: 7.2

I think it was ok on 1.7.5.0, because, I've done a lot of tests.
I just see my stock do not decrease with webservice orders.

[2019-04-13 21:41] AdriCruz opened #13396 "Bug customer optin is empty"
Hello, when a client tries to register and does not click on the offer checkbox of the partners, the error that appears is attached. I do not want it to appear or be mandatory. I have looked for a way to repair it but I have not found it.

![imagen](https://user-images.githubusercontent.com/43041205/56085511-c35dc400-5e44-11e9-8a6c-0efceafeb7b6.png)

I have modified the customerformatter file to r

[2019-04-13 22:54] mygitaccount2 commented on #13390
anyone please .?

[2019-04-14 01:27] #13114 closed, assigned to nobody

[2019-04-14 08:35] BenTen opened #13397 "Duplicate product without image"
In Prestashop 1.5 (1.6?), it was possible to duplicate products without image.
Why this useful function has been remove from PS 1.7?

---

When you duplicate a product page with images, images are duplicate too.
In PS 1.5, it was possible to duplicate with or without image.

![Capture du 2019-04-15 15-57-55](https://user-images.githubusercontent.com/16067358/56143106-d7fea100-5f97-11e9-818c-4da388

[2019-04-14 09:27] BvdPutten opened #13398 "Installation failed 1.7.5.1, no error message"
Installation process stopped with an error at 45%
php7.1, Prestashop 1.7.5.1
![image](https://user-images.githubusercontent.com/35196091/56090884-39474700-5ea8-11e9-9e23-8b12530e2146.png)

[2019-04-14 12:57] stoltzsp opened #13399 "Positions - Internal Server Error"
Following a Fresh install of v1.7.5.1, "Designs/Positions" results in 500 Internal Server Error.

Server information Linux #1 SMP Wed Mar 20 07:36:02 EDT 2019 x86_64
Server software version: Apache
PHP version: 7.1.28
Memory limit: 256M
Max execution time: 300
Upload Max File size: 128M
info_outline Database information
MySQL version: 10.2.22-MariaDB-cll-lve
MySQL engine: InnoDB

[2019-04-14 19:12] matks commented on #10393
I have been searching for a while now and I'm afraid I've got bad news. I was looking for a replacement for Google Geocoding API, which would be "good enough" and - most importantly - could be used without a API Key. I could not find one.

I could find a great number of geocoding services with a free plan but that required a signup to work. This cannot work if we want to ship the feature like this

[2019-04-14 20:23] slupostrupek commented on #13371
was build on default of prestashop, but i don't think thats related issue.
index.tpl
`
{extends file='page.tpl'}
    {block name='page_content_container'}
      <section id="content" class="page-home">
        {block name='page_content_top'}{/block}
        {block name='page_content'}
          {block name='hook_home'}
            {$HOOK_HOME nofilter}
          {/block}
        {/block}
      </s

[2019-04-14 22:40] rblaurin commented on #13398
Are you connected over Proxy with authentication?
https://github.com/PrestaShop/PrestaShop/issues/12721#

[2019-04-14 22:47] mygitaccount2 commented on #13390
here is a screenshot that will help a bit

https://www.screencast.com/t/VepHk0xxJ

thx

[2019-04-15 03:54] nrcjea001 opened #13400 "Changing order status from payment accepted to cancelled leads to product out of stock"
1. Make a purchase via bank transfer or bank wire.
2. Change order status to payment accepted.
3. Change order status to cancelled.

You will receive an email stating that "unknown" product is out of stock.

**Additional information**
PrestaShop version: 1.7.5.1

**Screenshot**
![Untitled](https://user-images.githubusercontent.com/26452178/56106672-6b61b300-5f53-11e9-8358-2f3250cc552a.png)

[2019-04-15 07:43] nirav-nanda commented on #9684
hello,
i have a issue with faceted search in ver 1.7.5.0 ,  faceted search is not showing in brands page.
is there any hook that i need to put manually,?

https://shreemahavir.in/brands
![faceted search](https://user-images.githubusercontent.com/48481734/56115033-1d16d900-5f80-11e9-8a88-6e4c1047cd9b.png)

[2019-04-15 07:44] marionf opened #13401 "Error when selecting some languages at first step of the installer"
**Describe the bug**
Try to select for example Italy, Espagnol or Deutsh at the first step of the installer
You will see the error below, but if you refresh the page it disappear and the installation is completed with success

![capture d'écran_1383](https://user-images.githubusercontent.com/13449658/56115151-0a41db80-5f63-11e9-9f08-5ba6f791217b.png)

I don't have it in French or English

**Additi

[2019-04-15 08:05] tomas862 commented on #12585
I have crazy but rather quite good and simple idea we can implement here.

We can choose 2 option which is mentioned here https://github.com/PrestaShop/PrestaShop/issues/12585#issue-410665476 but rather when enforcing everyone to add custom hooks inside every template we can hide implementation here: https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Resources/views/Admin/T

[2019-04-15 08:06] khouloudbelguith commented on #13397
Hi @BenTen,

It's possible to duplicate a product without an image with PrestaShop 1.7.
I attached a video that shows the duplication of a product without an image with version 1.7.5.1.
https://drive.google.com/file/d/1WoOVhECwyiGrcG-XkJBnm_WUu6tTTNR2/view

Thanks for check and feedback.

[2019-04-15 08:14] BenTen commented on #13397
Hello,
Thank you for your reply.
I mean, duplicate a product page with image.

When you duplicate a product page with images, images are duplicate too.
In PS 1.5, it was possible to duplicate with or without image.

[2019-04-15 08:16] khouloudbelguith commented on #13389
Hi @go-sudo,

To disable the Memcached: go to BO => Configure => Advanced Parameters => Performance.

Thanks for check and feedback.

[2019-04-15 08:24] khouloudbelguith commented on #13397
@BenTen, it's possible to duplicate a product with an image with PrestaShop 1.7.
I attached a video record.
https://drive.google.com/file/d/1xHd9Dta-l0_L8xCzsj5ARkrMnubYzmN5/view

Thanks for check and feedback.

[2019-04-15 08:35] khouloudbelguith commented on #13396
Hi @AdriCruz,

What is the exact version of PS did you used?
Did you use the default template by Prestashop?

Thanks!

[2019-04-15 08:41] matks commented on #12585
@tomas862 this is sneaky 😄but indeed it solves the issue of making sure everybody puts the required hook.

Only thing I'm worried about is performance overheard. I'd like us to analyze it (maybe we need a POC) to make sure the additional processing there is not too expensive for template rendering. Because this hook is going to be called *everywhere* we use `form_rest()`

[2019-04-15 08:48] AdriCruz commented on #13396
Hello, the bug also remains if you activate the classic template.

The exact version is 1.7.5.1

[2019-04-15 08:48] khouloudbelguith commented on #13399
Hi @stoltzsp,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-04-15 08:50] khouloudbelguith commented on #13396
@AdriCruz, could you please try to clear cache from your project and your navigator and feedback.

[2019-04-15 09:04] AdriCruz commented on #13396
I just did it and it remains the same, I attach all the errors that appear!

![Screenshot_2019-04-15](https://user-images.githubusercontent.com/43041205/56120345-39117f00-5f6e-11e9-98a8-54028b96c59d.png)

[2019-04-15 09:25] #13271 closed, assigned to nobody

[2019-04-15 09:26] Quetzacoalt91 commented on #13249
May I close this issue @marionf?

[2019-04-15 09:32] marionf commented on #13249
Yes :)

[2019-04-15 09:32] #13249 closed, assigned to tomlev

[2019-04-15 09:32] #13247 closed, assigned to tomlev

[2019-04-15 09:51] khouloudbelguith commented on #13400
Hi @nrcjea001,

Your ticket is a duplicate of #9641
So, I close it.
Thanks!

[2019-04-15 09:51] #13400 closed, assigned to nobody

[2019-04-15 09:52] khouloudbelguith commented on #13400
Duplicate of #9641

[2019-04-15 10:03] khouloudbelguith commented on #13390
Hi @mygitaccount2,

What is the exact version of PS did you used?

Thanks!

[2019-04-15 10:08] khouloudbelguith commented on #13398
Hi @BvdPutten,

Do you have an issue similar to #12721?

Thanks!

[2019-04-15 10:09] #9732 closed, assigned to PierreRambaud

[2019-04-15 10:09] #9992 closed, assigned to PierreRambaud

[2019-04-15 10:09] #9880 closed, assigned to PierreRambaud

[2019-04-15 10:09] #9978 closed, assigned to PierreRambaud, TristanLDD

[2019-04-15 10:10] #10010 closed, assigned to PierreRambaud

[2019-04-15 10:11] go-sudo commented on #13389
Hi
What I meant to say is that I want to disable the MEMCACHED to cache the backend of website.

[2019-04-15 10:22] khouloudbelguith commented on #13394
Hi @qtheuret,

I manage to reproduce the issue with PS:1.7.5.1.
This issue is added to our bug roadmap.

Thanks!

[2019-04-15 10:22] BvdPutten commented on #13398
No, I never reached the stage mentioned. It seems that I need to disable server caching.
Varnish Cache need to be disable on my hosted server configuration. Unable to do that (now), so I think Presta is a nogo for me.

[2019-04-15 10:29] khouloudbelguith commented on #13395
Hi @pppplus,

Could you please provide me your script to test with it.

Thanks!

[2019-04-15 10:48] khouloudbelguith commented on #13389
@go-sudo, thank you to tell me what is your exact problem?

[2019-04-15 10:50] khouloudbelguith commented on #13371
Hi @slupostrupek,

Did you use the template by default of Prestashop?

Thanks!

[2019-04-15 10:51] AdriCruz opened #13405 "Bug in the discount"
Hello, when I enter a discount coupon in the cart does not show the discount. The discount is applied to the total price but I have to refresh the page so that the discount amount appears. The same thing happens when I delete the discount, I have to refresh the page so that it is permanently deleted. How can it be done automatically?

It happens exactly in the original theme, I have deleted cookie

[2019-04-15 11:23] #13270 closed, assigned to tomlev

[2019-04-15 12:52] #13274 closed, assigned to sarahdib, matks

[2019-04-15 12:57] marionf opened #13406 "Exception on catalog prices rules page"
**Describe the bug**
Exception on catalog prices rules page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Discounts > Catalog prices rules
2. See error

**Screenshots**
![capture d'écran_1387](https://user-images.githubusercontent.com/13449658/56134386-c664cb80-5f8e-11e9-8212-fc2fa8137380.png)

**Additionnal information**
PrestaShop version: 1.7.6.x
PHP version: N/A

[2019-04-15 13:05] khouloudbelguith commented on #13405
Hi @AdriCruz,

I did not manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1diiYyA5ItZ4biqPNq6dhkRYROaiU1ySt/view

Thanks for check and feedback.

[2019-04-15 13:23] khouloudbelguith commented on #13355
@PrestaShop/prestashop-core-developers, what do you think?

[2019-04-15 13:25] khouloudbelguith commented on #13355
related to #12667

[2019-04-15 13:37] matks opened #13408 "Integrate and document hooks for Identifiable Object forms"
For the new hooks introduced in Identifiable Object forms, we need to:
- update the list of available hooks on devdoc: https://github.com/PrestaShop/docs/blob/master/src/content/1.7/modules/concepts/hooks/list-of-hooks.md
2) update the list of available hooks in configuration https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/data/xml/hook.xml
3) add update script to register them i

[2019-04-15 13:54] khouloudbelguith commented on #13392
Hi @roja45,

Could you please send me the code that allows the translation of your text.

Thanks!

[2019-04-15 14:08] Quetzacoalt91 commented on #13406
Fixed by #13409

[2019-04-15 14:22] roja45 commented on #13392
[testtranslation.zip](https://github.com/PrestaShop/PrestaShop/files/3080577/testtranslation.zip)
[testtranslation-theme.zip](https://github.com/PrestaShop/PrestaShop/files/3080579/testtranslation-theme.zip)
![Annotation 2019-04-15 092159](https://user-images.githubusercontent.com/19314911/56140188-09f41100-5f60-11e9-89ed-9b254c86bae7.png)

[2019-04-15 14:25] roja45 commented on #13392
I've created an example module for you, it will add some text to the product page.

Add the testtranslation.zip to the modules directory, and install.  Copy the testtranslation-theme.zip to the classic theme modules directory.

The theme template loads, and you can see the additional text in that template on the product page, but as in the screenshot, this text does not appear for translation.

Th

[2019-04-15 14:41] BenTen commented on #13397
I mean:
Duplicate from product with images to product without image.

[2019-04-15 15:00] khouloudbelguith commented on #13392
@marionf, @colinegin, what do you think to add this option for version 1.7?
![Capture du 2019-04-15 15-57-55](https://user-images.githubusercontent.com/16067358/56142989-93730580-5f97-11e9-84da-6920f6200c99.png)

[2019-04-15 15:02] khouloudbelguith commented on #13397
@marionf, @colinegin, what do you think to add this option for version 1.7?
![Capture du 2019-04-15 15-57-55](https://user-images.githubusercontent.com/16067358/56143106-d7fea100-5f97-11e9-818c-4da388207cbd.png)

[2019-04-15 15:16] AdriCruz commented on #13405
It fails me in both places, by chance you know where it is hosted, in what file does that automatic change function? To know where I have the exact fault!

[2019-04-15 15:33] rokaszygmantas commented on #12585
@matks I've created a PR with the idea that @tomas862 suggested (hook in form_rest), it doesn't seem to affect performance and allows to render the form fields nicely from modules :slightly_smiling_face:

[2019-04-15 15:35] khouloudbelguith commented on #13405
@AdriCruz, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.

[2019-04-15 20:47] go-sudo commented on #13389
When I activate memcaced on my website some modules ares stopped like newsletter( mails still in progress and cant' send them)  so I dont want cache my backend only frontend
i found this on forum but I dont know if that works
https://www.prestashop.com/forums/topic/335988-backoffice-pages-dont-refresh-after-any-modification/?tab=comments#comment-1883775

[2019-04-15 21:02] pppplus commented on #13395
Hi, yes it's possible.
But difficult to use for you I think, because the script is only for me.

Is it possible to send it privatly ?

[2019-04-15 23:52] rblaurin commented on #10739
@khouloudbelguith, there is another situation: There IS a carrier, but it is from a module that needs a Zip Code to determine the order shipping cost.
The module will return "false" on getOrderShippingCost if no zip code is provided, so "Free!" will be shown in the cart.

[2019-04-16 04:31] stoltzsp commented on #13399
Server setup/Config:
Linux/Apache hosted server (hostking)
Prestashop:   1.7.5.1

[Edited by Khouloud]
note this is a clean prestashop install - for purposes of testing 1.7.5.1 (not a production server).

The problem can be recreated by accessing:  Design/Positions

[2019-04-16 04:57] nirav-nanda opened #13413 "how to prevent duplicate reference no. / sku entry in product creation in prestashop 1.7"
hi,

i have a issue with product duplicating , as ecommerce store we have large amount of products to list on site, so we wants that the system to prevent saving of any new product entry that already have the exact same name or reference﻿ no./ SKU added before.

also prestashop let us to create duplicate categories, attributes and features also.  its so tedious to search and confirm every time bef

[2019-04-16 06:17] matteolavaggi opened #13414 "Multiple Duplicated Cart in Back Office"
**Describe the bug**

There is multiple cart entry for the same cart (exact value and near time stamp)
![DUPLICATECART](https://user-images.githubusercontent.com/24798703/56186566-10e25880-6020-11e9-95ce-340ba3d9c4b4.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or scre

[2019-04-16 07:21] gennaris opened #13416 "BO / Minor : Number of modules to update in notification icon is different from the actual modules detected"
**Describe the bug**

Number of modules to update in notification icon
is different from the actual modules detected

**To Reproduce**
Problem appeared after upgrading a website from 1.7.4.3 to 1.7.5.1 with oneclick upgrade.
Clearing cache / cookie / config/XML files did not helped.

**Screenshots**
https://www.screencast.com/t/1YQ7WGtCZF

**Additionnal information**
PrestaShop version: 1.7.5.1
PH

[2019-04-16 07:29] PrestaEdit opened #13417 "Canonical redirection on module controllers"
**Describe the bug**
While you hook a module into the moduleRoutes hook and enable the rewriting, no canonical redirection are done on theses specifics controllers.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the free PsGPRD module, as example
2. Go to your shop with this URL: example.com/module/psgdpr/gdpr
3. And check this one: example.com/index.php?controller=gdpr&fc=module&mo

[2019-04-16 07:30] prestamodule opened #13418 "Canonical redirection on module controllers"
**Describe the bug**
While you hook a module into the moduleRoutes hook and enable the rewriting, no canonical redirection are done on theses specifics controllers.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the free PsGPRD module, as example
2. Go to your shop with this URL: example.com/module/psgdpr/gdpr
3. And check this one: example.com/index.php?controller=gdpr&fc=module&mo

[2019-04-16 07:31] PrestaEdit commented on #13417
Bad account, sorry.

[2019-04-16 07:31] #13417 closed, assigned to nobody

[2019-04-16 07:33] #13406 closed, assigned to Quetzacoalt91

[2019-04-16 07:36] marionf opened #13419 "Customized feature are not saved"
**Describe the bug**
Customized feature are not saved

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products
2. Edit a product
3. Click on Add a feature, select a feature and fill the "customized value" field
4. Click on Save & refresh the page, it's not saved

**Screenshots**
![capture d'écran_1396](https://user-images.githubusercontent.com/13449658/56190734-290ba500-602b-

[2019-04-16 07:56] khouloudbelguith commented on #13414
Hi @matteolavaggi,

Did you use the template by default of Prestashop?

Thanks!

[2019-04-16 08:12] khouloudbelguith commented on #13413
@marionf, @colinegin, what do you think?

[2019-04-16 08:21] ghost opened #13420 "Some products' thumbnails don't appear in dropdown when creating a new pack of products"
**Describe the bug**
In Catalog>Products>Add a new **pack of products**, when searching for products to add to the pack, some product's thumbnails don't appear in the dropdown displaying the list of products.
A broken image icon is displayed instead of the thumbnail.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog>Products>Add a new product, select pack of products
2. Search fo

[2019-04-16 08:28] marionf commented on #10818
I can't reproduce with PrestaShop 1.7.5.1

![capture d'écran_1397](https://user-images.githubusercontent.com/13449658/56194007-43954c80-6032-11e9-9ad1-5662c341378e.png)

![capture d'écran_1398](https://user-images.githubusercontent.com/13449658/56194062-66bffc00-6032-11e9-90f6-400cd9ced374.png)

[2019-04-16 08:28] #10818 closed, assigned to nobody

[2019-04-16 08:30] khouloudbelguith commented on #13399
Hi @stoltzsp,

This is a public space.
You can provide me the credentials of your shop by email.
My address mail: khouloud-belguith.ext@prestashop.com
Let's be safe!

[2019-04-16 08:42] marionf commented on #13420
Duplicate of #9976

[2019-04-16 08:42] #13420 closed, assigned to YeLnatSs

[2019-04-16 08:56] marionf opened #13421 "Can't create a pack"
**Describe the bug**
Can't create a pack

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products > New product
2. Select pack of product
3. Search an existing product
4. Nothing is found

**Screenshots**
![capture d'écran_1399](https://user-images.githubusercontent.com/13449658/56195972-4134f180-6036-11e9-937b-0fdf7425494a.png)

**Additionnal information**
PrestaShop version

[2019-04-16 08:59] khouloudbelguith commented on #13399
@stoltzsp, you have to make sure that the line "define('_PS_JQUERY_VERSION_', '1.11.0');" is defined in "defines.inc.php"

Thanks to check and feedback.

[2019-04-16 08:59] matks commented on #13413
@nirav-nanda So it would be like an option you could switch On and Off in the BO, and the option would be "Accept product with identical SKUs" ?

[2019-04-16 09:01] matks commented on #12392
😭

[2019-04-16 09:03] ghost opened #13422 "Border of notification counter appears in tabs even when empty"
**Describe the bug**
On the pages using a tab system with notifications on it, we can see a small white line in the tab when the notification-counter is empty. It is the notification-counter border.

It should not appear if the counter is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules > Module Manager
2. See the white line on the first tab

**Screenshots**
![Capture d’e

[2019-04-16 09:54] matks opened #13423 "[SF Migration] Introduce unit tests for BO theme"
We need to introduce a setup for unit tests for the javascript code written for the new BO theme.

@PierreRambaud I think you have experience on this ?

[2019-04-16 09:54] khouloudbelguith commented on #13395
Hi @pppplus,

My address mail: khouloud-belguith.ext@prestashop.com

Thanks!

[2019-04-16 10:03] marionf opened #13424 "productoutofstock email firstname and lastname var not displayed"
**Describe the bug**
productoutofstock email firstname and lastname var not displayed

**To Reproduce**
Steps to reproduce the behavior:
Make sure modern email templates are configured
1. Go to Catalog > Products > edit a product
2. Click on the second tab and define a "low stock level"
3. Order this product in FO to have a stock < low stock level
4. See productoutofstock email received

**Screens

[2019-04-16 10:30] khouloudbelguith commented on #13416
Hi @gennaris,

I did not manage to reproduce the issue when upgrading from PS: 1.7.4.3 to PS: 1.7.5.1 via the 1-Click Upgrade v4.7.0 - by PrestaShop.
I attached a screenshot.
![1751](https://user-images.githubusercontent.com/16067358/56202428-e9e55000-603a-11e9-9098-f2c6adca9839.png)

Thanks for check and feedback.

[2019-04-16 10:45] khouloudbelguith commented on #13418
Hi @prestamodule,

I manage to reproduce the issue with PS:1.7.5.1.
This issue is added to our bug roadmap.

Thanks!

[2019-04-16 12:04] marionf opened #13426 "Can't drag & drop and disable categories"
**Describe the bug**
Can't drag & drop and enable/disable categories

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Categories
2. Try to drag and drop or disable a category
3. It doesn't work
4. It works if you rebuild assets

**Additionnal information**
PrestaShop version: 1.7.6.x
PHP version: N/A

[2019-04-16 12:12] eternoendless opened #13427 "Disable statslive by default"
Per @toutantic and @ttoine's request, the module `statslive` should be disabled by default on new installs.

[2019-04-16 12:25] gennaris commented on #13416
Hi @khouloudbelguith ,
yes I also upgraded some other sites with no issues,
this is only happening on this particular website.
Let me know if I can provide some additional details to troubleshoot the problem.

[2019-04-16 12:39] ttoine commented on #13427
Based on feedback from many agencies and freelancers.
Thanks @eternoendless

[2019-04-16 12:39] sarahdib opened #13428 "Private comment in Order"
**Describe the bug**
when we add a private note on the order the message is not saved (only on order page. The private note is save when we add it on the customer informations page).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to order and display an order
2. Add a private comment il the customer section of the order
3. Refresh the page or click on the name of the customer to see the

[2019-04-16 13:09] Quetzacoalt91 commented on #13427
Might be related to https://github.com/PrestaShop/PrestaShop/issues/13252

[2019-04-16 13:14] marionf commented on #13053
Not fixed on SQL Manager page

![capture d'écran_1402](https://user-images.githubusercontent.com/13449658/56212445-5459b880-605a-11e9-9b1b-3eaa74351f6b.png)

[2019-04-16 13:17] khouloudbelguith commented on #13389
Hi @go-sudo,

It seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
You should check your host.
I close the ticket, feel free to open a new one when needed.

[2019-04-16 13:26] matks commented on #13426
@marionf Should be fixed on 1.7.6.x now

[2019-04-16 13:39] Quetzacoalt91 commented on #13421
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13431

[2019-04-16 13:40] marionf commented on #13426
Yes, thank you :)

[2019-04-16 13:40] #13426 closed, assigned to matks

[2019-04-16 13:41] jnvgi opened #13432 "Product title considered as blank so I can't update my product"
Hello,

I have a kind of annoying bug. I have products with combinations, i wanna update the quantity for each combination and when I do so i got an error message under my product title "This value should not be blank."
Sometimes the modification goes through, most of the time i stay stuck there.
Of course my product title is not empty.

Note that I upgraded this website from 1.5 to the last versi

[2019-04-16 13:54] marionf opened #13433 "New order_conf email isn't correctly displayed"
**Describe the bug**
New order conf email isn't correctly displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Order a product and change the order status to payment accepted
2. Check the order conf mail received

**Screenshots**

![capture d'écran_1405](https://user-images.githubusercontent.com/13449658/56215378-def0e680-605f-11e9-9f70-484d4fae8844.png)

![capture d'écran_1404](https:/

[2019-04-16 13:55] khouloudbelguith commented on #13432
Hi @jnvgi,

Could you please try to upgrade your PHP version to 7.1, clear cache from your shop and your navigator, check and feedback.

Thanks!

[2019-04-16 13:58] jnvgi commented on #13432
I contacted my hosting provider to find out why the PHP vesion doesn't match the configuration i chose. Will keep you posted as soon as they reply (OVH tends to be veeeery slow since a few years...)

[2019-04-16 14:00] khouloudbelguith commented on #13432
@jnvgi, waiting for your feedback!

[2019-04-16 14:28] khouloudbelguith commented on #13392
Hi @roja45,

I manage to reproduce the issue with PS:1.7.5.1.
This issue is added to our bug roadmap.

Thanks!

[2019-04-16 14:50] rblaurin opened #13436 "session.save_path﻿﻿ problem"
**Describe the bug**
I am not sure I should call it a bug or a feature request.
There is an issue with session.save_path, specially in cPanel+EasyApache envirornments, when the user gets a "nothing friendly" error if session.save_path is not writable. It is, of course, a server configuration issue, but I think PrestaShop should check it, as it is very common:
https://www.prestashop.com/forums/topi

[2019-04-16 14:57] matthieumota commented on #11105
Same error only on local machine (macOS) when debug is enabled.

`[Tue Apr 16 16:52:49.070106 2019] [proxy_fcgi:error] [pid 5517:tid 123145576771584] [client 127.0.0.1:59670] AH01071: Got error 'PHP message: PHP Warning:  Uncaught Symfony\\Component\\Debug\\Exception\\ContextErrorException: Warning: require(/Users/matthieu/Code/Sites/site.com/var/cache/dev/ContainerDyst13w/getRouting_LoaderService

[2019-04-16 15:02] roja45 commented on #13392
Is there any workaround as this is a pretty fundamental issue, and I'd argue not 'minor'?
If you want to use a third party theme, with any custom module, and you want to use a different language (i.e. a fairly large percentage of users of Prestashop), you can't fully translate your site.

[2019-04-16 15:04] wikao2 opened #13437 "Installing Prestashop 1.7.5.x with PHP 5.6 fails"
**Describe the bug**
I had the same issue of L3o-pold 1 month ago (https://github.com/PrestaShop/PrestaShop/issues/12779)
By changing of PHP version (v5.6.40 -> v7.0) I have found a solution and I passed the cap of 12%.
Right now, at 23% of installation process, I have an another issue. I have the error :

Do you know what to do to fix it ?
**Is it due to the fact**, as L3o-pold, **I can not activ

[2019-04-16 15:05] khouloudbelguith commented on #13437
Hi @wikao2,

Could you please try to upgrade your PHP version to 7.1.

Thanks!

[2019-04-16 15:07] Quetzacoalt91 commented on #13437
This could be related to a connectivity issues we currently have on *.prestashop.com.

Would you mind trying again in a few minutes?

[2019-04-16 15:12] marionf opened #13438 "Can't access to BO because of psaddonsconnect when addons.prestashop.com is down"
**Describe the bug**
Can't access to BO because of psaddonsconnect when addons.prestashop.com is down
Module version 1.0.1

**Screenshots**

1.7.6.0

![capture d'écran_1407](https://user-images.githubusercontent.com/13449658/56221521-b15d6a80-606a-11e9-95ed-5362b7546702.png)

1.7.5.1

![capture d'écran_1408](https://user-images.githubusercontent.com/13449658/56221560-bd492c80-606a-11e9-9846-4bb3ef

[2019-04-16 15:18] matteolavaggi commented on #13414
Yes, original classic theme

[2019-04-16 15:23] marionf commented on #13438
FYI @MatShir & @samuel-pires

[2019-04-16 15:24] matks commented on #13438
It's api-addons.prestashop.com that is the culprit here 😉

[2019-04-16 15:30] wikao2 commented on #13437
@khouloudbelguith
I switched to PHP v 7.2 but it did not fix the problem

[2019-04-16 15:38] khouloudbelguith commented on #13437
@wikao2, it could be a problem of a network which is not available, as described in this issue: #10456 Thanks to checking again & feedback.

[2019-04-16 15:43] khouloudbelguith commented on #13414
@matteolavaggi, could you please try with this PR: #9076.
Thanks for check and feedback.

[2019-04-16 15:48] khouloudbelguith commented on #13436
Hi @rblaurin,

We'll first try to reproduce it and we'll come back to you if we need more information.

Thanks!

[2019-04-16 16:05] danirios93 commented on #12456
@vjnunez did you manage to fix this? I got the same behavior. Thanks

[2019-04-16 17:02] vjnunez commented on #12456
no, im still waiting for someone to help me out with that :(

[2019-04-16 17:57] smag-dev opened #13441 "Module same category duplicate the current product"
In the product single, module same category duplicate the current product!

In my debugs the problem is the comparation type:
$idProduct is integer;
$rawProduct['id_product'] is string;

![Screenshot from 2019-04-16 18-41-05](https://user-images.githubusercontent.com/14795225/56232281-4f0b6680-6078-11e9-92fd-9fa324f838d6.png)
![Screenshot from 2019-04-16 18-41-49](https://user-images.githubusercon

[2019-04-16 20:40] PierreRambaud commented on #13436
`session.save_path` depends on the environment.
If this one is empty, you must have properly configure your server.
https://www.php.net/manual/en/session.configuration.php#ini.session.save-path

As I read, this problem came from cPanel and not PrestaShop, we can't test if the directory is writable if we can't get it :D

[2019-04-16 20:41] simonfoilen opened #13442 "Installation failing with wrong error message when does not have SELECT priviliege on database"
**Describe the bug**
When using the installer, if the mysql user has admin and write privileges, but not reading one, the installation is failing, but with a useless error message. We wasted hours before figuring out the actual issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a mysql database with a user with all the permission, but SELECT
1. Go through the installation wizard

Cur

[2019-04-16 21:13] ma0dubois commented on #9652
@khouloudbelguith

Hi,

I've same problem.
Why close this issue ?

ps: my shop is in 1.7.5.1 version

[2019-04-16 21:25] rblaurin commented on #13436
Thanks for the clarification, @PierreRambaud
As I said, I know it's a server issue, and not PrestaShop. But it would be good if there was a way to test it from PrestaShop, as it is a very common server issue.
So, no way to avoid this exception in PrestaShop side?

[2019-04-16 21:42] manfield opened #13443 "ps_facetedsearch: filtering features"
**Describe the bug**
_Feature_ type filters don't appear on frontend.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure one or more product assigning features to it (you may use demo products)
2. Create a filter template on the ps_facetedsearch module using _feature_ as filter type for some category (or all, or one...it does not change the result)
![Module Manager • Ipertiles 2019-04

[2019-04-16 21:42] lapitskiy commented on #10353
i have same problem 1.7.5.1, if i change quantity
this **not**:
- seo url
- cache
- cookies

![Скриншот 2019-04-17 00_41_12](https://user-images.githubusercontent.com/7946611/56246029-8f370d00-60a9-11e9-8bba-338735d2c360.png)

[2019-04-16 22:20] lapitskiy opened #13444 ""an error occurred while processing your request" prestashop 1.7"
i see this error when try _change quantity_
![Скриншот 2019-04-17 00_41_12](https://user-images.githubusercontent.com/7946611/56247598-fce53800-60ad-11e9-87da-90ffcd56710d.png)
an error occurred while processing your request

cache off (set Force compilation)
cache clear (and var/cache)
cookie clear (test another browser)
url rewriting - off
combination - off
multilang - off

error network
![Скрин

[2019-04-17 01:16] danirios93 commented on #12456
@vjnunez
For the moment I just added this javascript code and it works. Howvever price of the courier only updates when pressing continue button, not a big issue thought.

<script type="text/javascript">
$('#js-delivery').attr('id', 'js-delivery-blocked');
</script>

[2019-04-17 01:56] danirios93 commented on #12456
@vjnunez
Solved by editing the core.js file (This fix allows to still update prices on live site -ajax- before pressing continue)

themes/core.js in line 161:
[code]

[2019-04-17 06:21] matteolavaggi commented on #9652
LOL, this is tipically :P issue present in the last 4 software relase :P closed....

[2019-04-17 06:31] Prestaworks opened #13445 "BO: Tiny MCE editor do not work for all resolutions on manufacturers"
**Describe the bug**
When resolution on the device is low, the tinyMCE editor will not work well, the icons will not scale down with the box and on some resolutions the language selector will place itself above the icons making it impossible to upload or edit images.

**To Reproduce**
1. Click edit on a manufacturer in BO
2. Scale down the browserwindow.

**Additionnal information**
PrestaShop ver

[2019-04-17 06:34] vjnunez commented on #12456
Thanks @danirios93! Im gonna try that.

On 17 April 2019 at 03:56:42, danirios93 (notifications@github.com) wrote:

@vjnunez <https://github.com/vjnunez>
Solved by editing the core.js file

themes/core.js in line 161:

- .replaceWith(e.preview),(0,r.default)(".js-cart-payment-step-refresh")+
.replaceWith(e.preview),(0,r.default)(".anytextyouwant")

—
You are receiving this because you were mention

[2019-04-17 06:37] matteolavaggi commented on #13414
Applied the change and it seems to work. I wonder why there isn't a simple patch release system due to the huge amount of bugs on prestashop features present in every new release! Making a release upgrade to fix operating bugs is complicated, often impossible as well as making little sense!
Compared to other platforms where mainly security bug fixes are released, prestashop has an infinite number

[2019-04-17 06:46] dazhbog commented on #13211
I think I am having the same issue.

Firstly, the cart is not working as @PeeyushAgrawalWebkul mentioned. I deleted the required customization field and I can't add the product as expected. However, if I duplicate the buggy product, the customization becomes enabled for the duplicated product. That means that something is not getting cleared correctly in the original listing?

However, the duplica

[2019-04-17 07:15] wikao2 commented on #13437
@khouloudbelguith
How and where can I "replace the current PHP with asynchrone JS code" as ttoine said as a solution ?

[2019-04-17 07:39] go-sudo commented on #13389
Hi

I think you should add this on feature because it worth nothing to cache the backend (back office) of the website
Regards

[2019-04-17 07:39] khouloudbelguith commented on #12948
Hi @jes6mac,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-17 07:39] #12948 closed, assigned to nobody

[2019-04-17 08:00] khouloudbelguith commented on #13389
@marionf, @colinegin, what do you think?

[2019-04-17 08:09] khouloudbelguith commented on #13414
Hi @matteolavaggi,

This solution has been migrated since version 1.7.4.x.
PrestaShop is an open source, community project. If you find that any issue is important for you, it is important to have it fixed ASAP, then you can invest in having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try it on your own. The most important thing is to share that by subm

[2019-04-17 08:16] khouloudbelguith commented on #13436
@PrestaShop/prestashop-core-developers, what do you think?

[2019-04-17 08:20] matks commented on #9652
Hi, this issue has been identified and fixed by PR https://github.com/PrestaShop/ps_categoryproducts/pull/6. This is why we closed the issue. The issue is not linked with prestashop version but with module version, so please check your module version, clear the cache accordingly (see comments up there). It should solve the issue in your case.

If you still encounter this issue, there might a 2nd b

[2019-04-17 08:35] khouloudbelguith commented on #13441
Hi @aguia10,

Could you please add steps to reproduce your issue in a new comment.

Thanks!

[2019-04-17 08:42] khouloudbelguith commented on #13211
Hi @dazhbog,

This issue is added to our bug roadmap

Thanks!

[2019-04-17 08:47] PeeyushAgrawal commented on #13211
Hello @khouloudbelguith

Thanks,

I have a solution regarding this issue but I can't raise pull request with branch develop.
Actually, I have already raised a pull request on this branch which is pending #12033 and also has raised one more pull request on branch 1.7.5.x which is also pending #12683

Please review these and get approve this so that I can raise a new pull request on develop branch (

[2019-04-17 08:55] eternoendless commented on #13437
Hi @wikao2

This is not related to OPcache, which is not required for running PrestaShop. OPCache just improves performance.

Did you try again to rule out the platform issues that we had yesterday?

[2019-04-17 08:59] pppplus commented on #13395
Ok, I prepare the files, and send them in a few minutes.
Thanks

[2019-04-17 09:13] Thorfy commented on #12667
Hi, have the exactly same pb on my shop, i have 2 fresh shops on same serveur:
1.7.5.0 -> no error
1.7.5.1 -> error
And i have multishop actived (with 2shops, 1 no b2b, 1 b2b)

(i have plesk too)

[2019-04-17 09:15] centoasa opened #13447 "allow ordering out-of-stock"
Prestashop 1.7.5.1 on debian php 7.2.17
Please see here https://nimb.ws/nSykKN
Only with "allow ordering our-of-stock" YES (arrow 1) on product there are labels (arrows 2-3)
Instead, whe allow ordering is NO, there are no labels (arrows 2-3)
Thank you

[2019-04-17 09:27] #13421 closed, assigned to Quetzacoalt91

[2019-04-17 09:27] #13053 closed, assigned to nobody

[2019-04-17 09:43] johstrom commented on #11428
Hi, I am having the exact same issue. I have tested to download the child theme, renamed it and uploaded it again - with the same error as shown above. I have Prestashop 1.7.5.1.

Can it be some kind of folder permission issue?

With kind regards,
 - Johan.

[2019-04-17 09:46] khouloudbelguith commented on #13443
Hi @manfield,

Your ticket is a duplicate of #9736
So, I close it.
Thanks!

[2019-04-17 09:46] #13443 closed, assigned to nobody

[2019-04-17 09:47] khouloudbelguith commented on #13443
Duplicate of #9736

[2019-04-17 09:53] matks opened #13448 "[SF Migration] Harmonize controller grid search action"
We have a generic and reusable [searchGridAction](https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/CommonController.php#L335) in CommonController but some Controllers use their own `searchAction` rather than the reusable one.

For each Controller which has a custom searchAction, check if there is a valid need/reason for it, else make it use the generic `s

[2019-04-17 09:57] marionf opened #13449 "Help isn't displayed on add customer page"
**Describe the bug**
Help isn't displayed on add customer page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Customers > Add a new customer
2. Click on Help
3. It's loading ....

**Screenshots**
![capture d'écran_1414](https://user-images.githubusercontent.com/13449658/56278584-ca1b5e00-6106-11e9-8dfb-49c266775b83.png)

![capture d'écran_1415](https://user-images.githubusercontent.co

[2019-04-17 10:04] marionf commented on #13424
@LouiseBonnard Do you think we should remove lastname and firstname as this email is sent to the merchant ?
Or should we keep theme ?

[2019-04-17 10:06] khouloudbelguith commented on #13445
Hi @Prestaworks,

I manage to reproduce the issue with PS:1.7.5.1 with a resolution 590px  x 981px.
I attached a screenshot.
![13445](https://user-images.githubusercontent.com/16067358/56279851-cf75aa00-6100-11e9-9832-93c3e1c56ddd.png)

This issue is added to our bug roadmap.

Thanks!

[2019-04-17 10:08] marionf commented on #10541
Issue on supplier page: http://github.com/PrestaShop/PrestaShop/issues/13445

[2019-04-17 10:09] matks commented on #13438
We have this error message in DEV environment only because of one of my PRs: https://github.com/PrestaShop/PrestaShop/pull/12959/. Previous behavior (and this is what still happens in PROD environment) would just skip when one resouce could not be downloaded, no matter what would happen in the code later because of this failed download.

Now we get a beautiful error that crashes immediately 😁 so w

[2019-04-17 10:11] matks commented on #10541
@marionf This is not related to the migration, this is an old bug of TinyMCE. TinyMCE is not responsive. TinyMCE does not care. TinyMCE is wild 👹 .

[2019-04-17 10:15] manfield commented on #13443
Hi, it is not exactly the same issue, but if you meant that the module needs a deep rework that will solve also this issue, ok.
The issue you mentioned as original of this duplicate takes in consideration other filter types actually.
Cheers!
M

[2019-04-17 10:22] marionf opened #13450 "Old admincustomer URL in notifications"
**Describe the bug**
Old admincustomer URL in notifications

**To Reproduce**
FYI you can enable/disable notifications in Advanced parameters > Administration
1. Create a new customer in FO
2. Click on the bell > Customers

**Please note this should be fixed on legacy AND on symfony pages**

**Screenshots**
![capture d'écran_1416](https://user-images.githubusercontent.com/13449658/56280798-44e6780

[2019-04-17 10:27] colinegin commented on #12560
@samuel-pires should we fix it or disable the module ?

[2019-04-17 10:29] marionf commented on #10582
Don't forget to change the link in notifications part for legacy and symfony pages

![capture d'écran_1418](https://user-images.githubusercontent.com/13449658/56281234-6ac04c80-610c-11e9-874f-057ae332caa8.png)

[2019-04-17 10:30] khouloudbelguith commented on #13443
@manfield, sorry it's a duplicate of #9736.

[2019-04-17 10:32] marionf commented on #10556
Don't forget to change the link in notifications part for legacy and symfony pages

![capture d'écran_1419](https://user-images.githubusercontent.com/13449658/56281422-dbffff80-610c-11e9-8e78-744257b709e6.png)

[2019-04-17 10:33] Quetzacoalt91 commented on #13438
So, are we required to do anything?
Should the module display an error message instead?

[2019-04-17 10:42] khouloudbelguith commented on #13447
@marionf, @colinegin, what do you think?

[2019-04-17 10:46] tlukowskia opened #13452 "Delivery time"
**Describe the bug**
I want to add delivery time when product is out of stock.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'product'
2. Click on 'shipping'
3. Scroll down to 'delivery time'
4. Nothing happend

**Screenshots**
http://prntscr.com/nd50h3 what i get?
http://prntscr.com/nd50rh

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: 7.2

[2019-04-17 10:47] khouloudbelguith commented on #13416
Hi @shakaran,

It seems that your issue is not a PrestaShop's core bug.
I close the ticket, feel free to open a new one when needed.

Thanks!

[2019-04-17 10:47] #13416 closed, assigned to nobody

[2019-04-17 10:55] khouloudbelguith commented on #11428
Hi @johstrom,

This issue is currently closed, can you open a new one with more information about your problem.
Thanks!

[2019-04-17 11:03] Codencode opened #13453 "Field "id_lang" in emailsubscription table"
In the e-mail database table the id_lang field must be entered to store the language of the user (guest) who registers to the newsletter.

Thanks!

[2019-04-17 11:33] manfield commented on #13443
Hi, sorry. The issue you mentioned is still not pertinent to mine.
Thanks
M

[2019-04-17 12:01] marionf commented on #13447
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/12630

[2019-04-17 12:04] marionf commented on #13447
Hello @centoasa

Your issue is a duplicate, please follow the issue referenced.
This has been fixed for 1.7.6.0

[2019-04-17 12:04] #13447 closed, assigned to nobody

[2019-04-17 12:06] matks commented on #10434
@TristanLDD On Invision, in project "Empty States BO" there is no screen for the Categories empty state.

[2019-04-17 12:14] MatShir commented on #13438
We are currently working on quick specs with the stakeholders of the module. Modules Team will implement the circuit breaker on it.

[2019-04-17 12:14] matks opened #13455 "Migrate "Catalog > Brand & Suppliers > View supplier" page"
Part of Symfony migration project
Type: page

## Status

Todo:
- [x] Migrate page https://github.com/PrestaShop/PrestaShop/pull/13515

## Check-List (copied from #13989)

### App layer
#### Controller / routing
- [ ] All controller actions are migrated and protected with `@AdminSecurity` annotations when eligible and `@DemoRestricted` annotations when eligible
- [ ] All links targeting this page a

[2019-04-17 12:20] ghost commented on #12560
@colinegin we should fix it.
Especially if we want to improve it later to add more information during the onboarding.

[2019-04-17 12:22] matks opened #13456 "Migrate "Quick access" page"
Part of Symfony migration project
Type: page

Legacy URL: `/admin-dev/index.php?controller=AdminQuickAccesses`

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2019-04-17 12:22] matks opened #13457 "Migrate "Search" page"
Part of Symfony migration project
Type: page

Legacy URL: `/admin-dev/index.php?controller=AdminSearch`

- [ ] Multistore header: [Specs](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[2019-04-17 12:25] TristanLDD commented on #10434
@matks, oops, my bad, it should be fine now. :-)

[2019-04-17 12:40] colinegin commented on #12560
Ok, i add it to the to do column then.

[2019-04-17 12:49] wikao2 commented on #13437
@eternoendless
Do you want to talk about the connectivity issues that Quetzacoalt91 mentioned yesterday?
I just try again, but it still does not work in PHP v 7.0
It goes quickly from 12-13% to 24-25%, then it runs for almost 1 minute and there again error
_Warning: Invalid argument supplied for foreach ()_

You say that this is not related to OPCache, maybe, (very surely even) but when L3o-pold (

[2019-04-17 12:51] LouiseBonnard commented on #13424
Hi @marionf, let's keep the formula _Hi {firstname} {lastname},_ so that all of the PrestaShop core emails can start the same, even if sent to the merchant. :-)

[2019-04-17 13:05] khouloudbelguith commented on #13453
Hi @Codencode,

What is the exact version of PS did you used?

Thanks!

[2019-04-17 13:06] ttoine commented on #13437
Could you please provide more information about your hosting ? your provider and the plan you are using, Apache version, Mysql version, configuration information of the server if any is provided ?

[2019-04-17 13:07] LouiseBonnard opened #13459 "PS 1.7.6.x - Add header to the core contact.html email"
**Describe the bug**
Core contact.html email needs to get the same header phrase than all of the other core emails, that is to say _Hi {firstname} {lastname},_ - right before writing _Message from a PrestaShop customer_.

**To Reproduce**
1. Go to Design > Email Theme
2. In the last frame (Email themes), click on the search icon to display all modern themes
3. Select the contact email, click on th

[2019-04-17 13:10] khouloudbelguith commented on #13442
Hi @provirus,

Try to remove ./app/Resources/translations/en-US/en-US.zip and retry. Look like something goes wrong during download.

Thanks!

[2019-04-17 13:10] centoasa commented on #13447
Apply the fix, now works fine!

[2019-04-17 13:11] simonfoilen commented on #13442
The issue is not about the download. The issue was that the database had no "SELECT" grants...

[2019-04-17 13:11] TristanLDD commented on #13229
I've seen with @YeLnatSs for the expected behavior :
![Capture d’écran 2019-04-17 à 15 08 16](https://user-images.githubusercontent.com/27484094/56290257-0e1c5c00-6123-11e9-9eb6-2bd81e21227a.png)

[2019-04-17 13:17] khouloudbelguith commented on #13443
Hi @manfield, with the steps you gave me I got this result (see screenshot).
![Capture du 2019 04 17 14 15 02](https://user-images.githubusercontent.com/16067358/56290658-854df200-611b-11e9-9995-ebe7fa22c2a7.png)

[2019-04-17 13:22] manfield commented on #13443
Sure, the effect is that you don't have _feature_ filters, as well you don't have attribute group filter in some circumstances or other filter type. (Different bugs, same aspects but not necessarily the same meaning).
Though the issue is related to _feature_ filter and my description gives a hint more to developers that will fix this issue.
If you think the number of issues opened on ps_facetedsea

[2019-04-17 13:33] khouloudbelguith commented on #13452
Hi @tlukowski,

I did not manage to reproduce the issue with PS:1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/14FsFCsmOmjn2xHtJZGih8lNYmcXWOtyw/view

Thanks for check and feedback.

[2019-04-17 13:42] khouloudbelguith commented on #13444
Hi @lapitskiy,

Your ticket is a duplicate of #10178
So, I close it.
Thanks!

[2019-04-17 13:42] #13444 closed, assigned to nobody

[2019-04-17 13:42] khouloudbelguith commented on #13444
Duplicate of #10178

[2019-04-17 13:47] lapitskiy commented on #10178
**i have same problem**
i see this error when try change quantity
_an error occurred while processing your request_
this issue #9390 did't help

cache off (set Force compilation)
cache clear (and var/cache)
cookie clear (test another browser)
url rewriting - off
combination - off
multilang - off

![Скриншот 2019-04-17 01_16_47](https://user-images.githubusercontent.com/7946611/56292676-47a79400-61

[2019-04-17 13:51] Codencode commented on #13453
Hi @khouloudbelguith,
sorry, I rephrase the request:

In the table of the emailsubscription database the id_lang field should be inserted in order to register the language of the user (guest) who registers for the newsletter. This does not depend on the version of prestashop, but depends on the ps_emailsubscription module.

Thanks!

[2019-04-17 13:55] khouloudbelguith commented on #13443
@manfield, in #9684: all of these issues related to the pending facetedsearch are added to our bug roadmap.
Thanks for your understanding!

[2019-04-17 14:11] khouloudbelguith commented on #13442
@provirus, could you try to install Prestashop in another host, check & feedback.

[2019-04-17 14:15] simonfoilen commented on #13442
why? I don't understand. It looks like you want to troubleshoot what was already troubleshooted.
All that is needed is a fix in the error message. Most likely, there is an SQL exception that is catched (due to missing SELECT permission) and only an unrelated error is displayed.

Just granting SELECT was enough to fix and the installation is going thru. Nothing, but a code fix about the error messa

[2019-04-17 14:15] manfield commented on #13443
Thank you @khouloudbelguith , no problem at all

[2019-04-17 14:19] matks commented on #13442
@khouloudbelguith This is rather a feature request than a bug as the root cause is diagnosed 😉

[2019-04-17 14:24] simonfoilen commented on #13442
Not at all. A bug means the code is doing something wrong ; a feature request is asking for some feature that does not exist.

The bug here is that the error message has nothing to do with the installation problem. If the error were: "SQL error: cannot query the database" or "SQL error: cannot select" or anything else related to SQL, that would be fine. Currently, it is showing: "cannot install th

[2019-04-17 14:28] khouloudbelguith commented on #12667
Hi @Thorfy,

Waiting for the response of the developers (#13355).

Thanks!

[2019-04-17 14:39] wikao2 commented on #13437
We are in shared hosting at Infomaniak
PHP: 7.0 (before 5.6.40)
Apache: 2.4.34
MySQL (not sure): 5.6

Offer: web

I can give you more infos about PHP info, but there are (too) many

[2019-04-17 14:39] ttoine commented on #13442
It's really related to Khouloud's answer: in most cases, with this error message, her solution solves the problem. The error message describes the issue factually: there has been an error during the installation of the language.

In this case, the problem is about the bad configuration of MySQL. So, to solve this problem, a new in the installer must be developed, that would check before the instal

[2019-04-17 14:43] simonfoilen commented on #13442
If you want to add a new pre check, yes that is a new feature.

If you want to display the right error on the web page or at the bare minimum log the SQL exception, that is a bug fix.

I was suggesting the bug fix route since that is the fastest and easiest: you should already have that exception and instead of swallowing it, you should just log it as it should be already doing (because swallowing

[2019-04-17 14:53] khouloudbelguith commented on #13395
Hi @pppplus,

Thank you, we received your e-mail.
We will try to reproduce it and we will come back to you if we need more information.

[2019-04-17 14:57] khouloudbelguith commented on #13442
@PrestaShop/prestashop-core-developers, what do you think?

[2019-04-17 14:58] matteolavaggi commented on #13414
No, bug still here. Fix is a fetch work around not a save workaround, so not work :
![image](https://user-images.githubusercontent.com/24798703/56298182-fe584400-6131-11e9-9439-8a84935c96a7.png)

[2019-04-17 14:59] matks opened #13462 "[SF Migration] Allow injection of extra variables inside twig"
Usecase: developers can override twig templates in order to modify a page display. For example if I prefer flat design over material design, I can re-style my BO with my design preference.

What happens if, while re-styling one template, I want to display an additional information using a variable that was not passed to Twig by the Controller ? As Symfony controllers are not overridable in PS 1.7,

[2019-04-17 14:59] marionf opened #13463 "Error when importing some pack"
**Describe the bug**
Error when importing some pack

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International > Localization
2. Select Malaysia, Norway, Pakistan, Paraguay or Panama
3. Click on Import
4. See error

**Screenshots**
![capture d'écran_1425](https://user-images.githubusercontent.com/13449658/56298286-2c3d8880-6132-11e9-8911-772155e10e39.png)

**Additionnal information*

[2019-04-17 15:01] khouloudbelguith commented on #13437
Hi @wikao2,

are you trying to install the shop behind a proxy server?
It could be a problem & it will be stopped by the proxy filters.
Thanks!

[2019-04-17 15:03] Codencode commented on #13453
My solution
https://github.com/PrestaShop/ps_emailsubscription/compare/master...Codencode:patch-1

[2019-04-17 15:07] mickaelandrieu commented on #13462
Good idea @matks

=> https://stackoverflow.com/a/20353103

it sums up all possible solutions :-)

[2019-04-17 15:09] ttoine commented on #13437
could you please enable PHP 7.2 on your hosting?
@khouloud, this is a share hosting, there is no proxy.

[2019-04-17 15:14] wikao2 commented on #13437
@khouloudbelguith
No I did not install the shop behind a proxy server.
In fact, we already have a shop running with Prestashop 1.6.1.5.
We bought on Addons a module to migrate from Prestashop 1.6.1.5 to Prestashop 1.7.5.1
A support person of this module told me to create a folder at the root of the site, to put the Prestashop 1.7.5.1 files (downloaded from Prestashop's website), to create a databa

[2019-04-17 15:24] ghost commented on #10349
Hi everyone,

Is this issue still relevant?
We need more info

Thanks

[2019-04-17 15:28] marionf commented on #13463
Can't reproduce :(

[2019-04-17 15:28] wikao2 commented on #13437
@ttoine
I have enable PHP 7.2, I even drop the Prestashop 1.7.5.1 data base to have a clean version, but it still does not work, sorry. I'm still stuck at 23% with the same error

[2019-04-17 15:34] khouloudbelguith commented on #13437
@wikao2, for upgrading your shop, you can use the 1-click upgrade module of PrestaShop: https://github.com/PrestaShop/autoupgrade/releases/tag/v4.7.0

Thanks!

[2019-04-17 15:47] marionf commented on #13463
Reproduced with Norway, Pakistan, Paraguay, Panama, Malaysia

[2019-04-17 15:47] marionf commented on #13463
![capture d'écran_1428](https://user-images.githubusercontent.com/13449658/56301838-e6d08980-6138-11e9-9b27-1a8c0be67d24.png)

[2019-04-17 15:52] Thorfy commented on #12667
Thx for answer @khouloudbelguith

however, I can not reproduce the pb anymore.
Just after manually fully cleaning the var/cache/  folder and switch debug mod in true

it may be a corrupted cache, i don't know

[2019-04-17 15:53] sarahdib commented on #13463
Reproduce with norway, pakistan, paraguay, panama & malaysia

[2019-04-17 15:56] ttoine commented on #13437
did you check the read and write rights on the installation folder? what is your hosting provider expecting for a CMS ?
BTW, using "migration pro" is a good idea if you are using a shared hosting. The migration process is very smooth and well adapted to low budget/performance servers.

if I understand well, you have already a 1.6 shop running on the same hosting, right?
in this case I would try to

[2019-04-17 16:01] MisteryPresta commented on #10349
Yes It is solved by modification of CSS file
https://www.prestashop.com/forums/topic/637071-classic-theme-ps1742-and-safari/

[2019-04-17 16:16] stof commented on #12432
We have 2 entry points for the routing component: matching and url generation. We need to evaluate how each use case would happen:

- what would a deprecated route mean for URL matching ? We cannot trigger deprecations in the client sending us the HTTP request. I'm not sure what deprecating a route should mean for the matching
- for URL generation, I see 2 separate use cases:
    - renaming routes

[2019-04-17 16:24] dazhbog commented on #13211
Hi @khouloudbelguith,

Thank you for your message.

I just noticed that even though the duplicated product I made (that had the customization bug) was working on my same machine that I created it (cookie issue?) It could not be added to cart on a fresh session with no cookies.

Do you think this is the same issue? Why would cookies in some sessions allow a product to be added and in some not?

Do

[2019-04-17 16:38] matks commented on #12432
Hi @stof thank you for asking

**Our need is on URL generation, "renaming routes, deprecating the old name" and being able to use aliases for route names would indeed solve our need.**

We just want to update a route name but since we follow SemVer we want to make sure that this change would be retro-compatible so generating an URL using the old name would still be possible.

In routing configurat

[2019-04-17 17:03] #13064 closed, assigned to jolelievre

[2019-04-17 20:36] juchems commented on #9890
Are we really to modify that many files to use our CDN effectively or is there another work around that is generally accepted?

[2019-04-17 21:31] jf-viguier commented on #11631
I've done it https://github.com/jf-viguier/ps_shoppingcart/tree/patch-1

[2019-04-17 21:32] jf-viguier commented on #13374
Have you reproduced the error ?

[2019-04-18 04:27] ghost commented on #11057
The correct instruction
go to www folder in terminal (where ps files)
run command: curl -O https://getcomposer.org/composer.phar
run command: php composer.phar install
then in web go to www.website.com/install-dev

[2019-04-18 06:38] sarjon commented on #13463
Hi @sarahdib and @marionf, I was able to import all packs successfully. :thinking:

[2019-04-18 07:35] tlukowskia commented on #13452
What did i wrong?
https://drive.google.com/file/d/1-8FpjWFU1aRXE76gMQjULreAy8xTxDlm/view?usp=sharing

[2019-04-18 07:50] wikao2 commented on #13437
After browsing through various forums on the Internet about the problem I'm experiencing, I've already changed the rights (recursively) Presta1751 files and subfolders to 755
Otherwise, actually, I already have a shop running Prestashop 1.6.1.5. It works "relatively" well in PHP 7.1. "Relatively" because I have some problems with a "homemade" module developed by the previous webmaster. However, it

[2019-04-18 08:16] matks commented on #12540
ping @eternoendless this is the discussion about multi-shop system

[2019-04-18 08:22] marionf commented on #13463
I can reproduce it right now with some other localizations: Germany, France, Italia, Spain ...

[2019-04-18 08:33] sarjon commented on #13463
All of these are working fine for me. :confused:

[2019-04-18 08:34] khouloudbelguith commented on #13414
Hi @matteolavaggi,

In my case, I did not manage to reproduce the issue with PS1.7.5.1.
But this issue exists in PS1.7.2.4 => PS1.7.3.4.
You should edit your file in the core like this fix https://github.com/PrestaShop/PrestaShop/pull/9076/files
These PR fixes duplicate carts in the back office.
After applying this patch, when you try to add some product to the cart, in the BO, this shopping cart

[2019-04-18 08:42] matks commented on #13365
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13466

[2019-04-18 08:42] #13365 closed, assigned to matks

[2019-04-18 08:44] matks commented on #13463
This bug looks lovely to fix ❤️

[2019-04-18 09:01] TristanLDD opened #13467 "New theme & logo page - Design fixes"
- When uploading a PrestaShop theme that contains the theme configurator module, the bloc that links to the module doesn't display correctly :
![Capture d’écran 2019-04-17 à 16 40 56](https://user-images.githubusercontent.com/27484094/56347641-031a0800-61c5-11e9-92f3-28eb7fd53f98.png)
It looked like this in legacy :
![Capture d’écran 2019-04-18 à 10 41 13](https://user-images.githubusercontent

[2019-04-18 09:13] matks commented on #13414
Hi, do you mean in comparison with [magento](https://github.com/magento/magento2) and their 1085 issues ? Or [cinnamon](https://github.com/linuxmint/cinnamon) with their 857 issues ? Also issues can be feature requests or bug reports, be wary of that.

Basically, since magento, prestashop, cinnamon are widely used systems, yes there is a very large number of bugs reported. The more users you have,

[2019-04-18 09:44] wikao2 commented on #13437
(_Small precision that may be important_) In step "System Compatibility", in addition to the message about PHP Accelerator, I had a warning "_ICU system package and the intl PHP extension_ ". However, it's the same problem as with "_PHP Accelerator_" (OPCache), being in shared hosting, I can not "_upgrade the ICU system package and the intl PHP extension_".
I specify that because my problem during

[2019-04-18 09:48] jordiweblidera opened #13468 "Multistore - Categories and products can be browsed (using URL) even when not assigned to a shop - it should not be possible"
**Describe the bug**
When a multi-store is created, if it is indicated that one or more categories can not be accessed from the second store, it does not block the front office access to products or categories.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a fresh-install of PrestaShop.
1. Click on _Shop Parameters_ > _General_.
1. Scroll down to _Enable Multistore_ and activate th

[2019-04-18 10:02] marionf opened #13469 "Calendar not displayed correctly on customers page"
**Describe the bug**
Calendar not displayed correctly on customers page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Customers > Customers
2. Click on date filter
3. See error

**Screenshots**
![capture d'écran_1431](https://user-images.githubusercontent.com/13449658/56353495-caccf680-61d1-11e9-92d7-6e30514da7f6.png)

**Additionnal information**
PrestaShop version: 1.7.6.x
PHP versi

[2019-04-18 10:52] Quetzacoalt91 commented on #13401
See https://github.com/PrestaShop/PrestaShop/pull/13471

[2019-04-18 12:09] sarjon opened #13473 "Reorganize Validation code in Core"
Currently, there are 2 related namespaces at the top of `src/Core`:
* `Core\Validation`
* `Core\ConstraintValidator`

I'd suggest merging `ConstraintValidator` into `Core\Validation` and have validation related stuff in single place.

[2019-04-18 12:09] sarjon commented on #13473
@matks wdyt?

[2019-04-18 12:23] rdy4ever commented on #13399
You should delete this comment ASAP. **Never give up admin login on public pages.**
@khouloudbelguith I think you should edit/delete the comment. It's been public for 2 days now.

[2019-04-18 12:28] marionf opened #13474 "Can't close helper card on CMS page"
**Describe the bug**
Can't close helper card on CMS page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Design > Pages
2. Click on Close
3. It's not closed

**Screenshots**
![capture d'écran_1432](https://user-images.githubusercontent.com/13449658/56358813-15556f80-61e0-11e9-9bfa-d9c5b9c3f0fb.png)

**Additionnal information**
PrestaShop version: 1.7.6.x
PHP version: N/A

[2019-04-18 12:31] wikao2 opened #13475 "Part of the BO is in English, the other in French"
**Describe the bug**
I just installed Prestashop 1.7.5.1 locally and when I go in the B.O, I have a part in English (as the left side menu). The rest, the content, the central part, is in French.

I went to Advanced Settings> Team, on my account, it's in French

After searching the forum Prestashop, I found similar topics where it was answered to go in International> Localization and import the Fr

[2019-04-18 12:47] eternoendless opened #13476 "Some native modules wordings do not have domain"
**Describe the bug**
When I grep usage of `$this->l(` in the `modules` directory, I see that many native modules are missing the use of domain.

In those cases, either:

- The translation is not working
- The translation is handled by the legacy translation system (if there are translations in the module's `translations` directory)
- The translations have been extracted into the `messages` domain

[2019-04-18 13:17] ttoine commented on #13437
ok so your installation fails during the installation of the languages, and you need the intl PHP extension for that.
you can not enable that by yourself, but this is something to ask to the support of your hosting provider. they will be able to tell you if they can do it or what is the workaround on their platform.

[2019-04-18 13:19] matteolavaggi commented on #13414
Hi dear, maybe start thinking that there is some problem in the actual relase plan, patch system and update procedure, is the first step for a future BETTER prestashop, dont think?

ITs an inifinite discussion but there is some problem:

1) its not accettable that some CORE function has bug in a 1.7.5 release of an ecommerce! Function like the core cache handle, or the cart handle, or the default

[2019-04-18 13:20] khouloudbelguith commented on #13475
Hi @shakaran,

what is the exact language/country did you installed this shop?
In the BO, what is the exact language used by your employee?
Thanks!

[2019-04-18 13:20] matteolavaggi commented on #13414
I've apply for this fix, is a write fix or a read fix? it correct the way how BO access the data or the way how data is saved so i know if need to expect old cart duplicate disappear or take it in test for new cart.
Thanks

[2019-04-18 13:24] khouloudbelguith commented on #13414
@matteolavaggi, this fix will be applied on new carts.
Thanks!

[2019-04-18 13:27] khouloudbelguith commented on #13399
Hi @rdy4ever, thanks a lot for your feedback.
@stoltzsp, I deleted the access note.
Let's be safe!
Thanks!

[2019-04-18 13:28] sarahdib opened #13478 "Message with gift wrapping option in order not display in back office"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the back office-> Shop Parameters -> Orders settings
2. Enable the option Offer gift wrapping
3. Go to the front office and make an order
4. Return to the back office and see that in the shipping part the message is not display.

**Screenshots**
![Capture d’écran 20

[2019-04-18 13:31] ttoine commented on #13437
ping @khouloudbelguith could you please try an to install the 1.7.5.1 with "intl" PHP extension disabled? and check what is the issue with the ICU system package ?

[2019-04-18 13:32] ghost opened #13479 "Automatically assign a "default" image to a product combination"
### Is your feature request related to a problem? Please describe.
Currently, when creating combinations for a product, no images are assigned to the combinations.
You have to manually select which image to assign to each combination.
And the combinations don't have a "default" image.

Why is it a problem?
* If you don't assign an image to a combination, its thumbnail is broken anywhere it should

[2019-04-18 13:38] khouloudbelguith commented on #13437
Hi @ttoine,

I will check & feedback.
Thanks!

[2019-04-18 13:48] khouloudbelguith commented on #13437
@ttoine, I cannot complete the install of the PrestaShop 1.7.5.1 when "intl" PHP extension disabled.
![image](https://user-images.githubusercontent.com/16067358/56365472-dc6dc880-61e8-11e9-86cf-cd926a6d645a.png)
PS: I tried with PHP5.6.40
Thanks!

[2019-04-18 13:53] wikao2 commented on #13475
I just found the solution for those who have the same problem as me.

You have to go to International> Translations and in the section "Add / Update a language" click on the "Add or Update language" button

It grinds a moment then the page is recharged with everywhere in French.

I hope it would help.

Have a nice day ;)

[2019-04-18 13:53] #13475 closed

[2019-04-18 13:55] ttoine commented on #13437
thanks :-)
could you please confirm that this also the case with 1.7.4, or if this is a regression ?

[2019-04-18 14:00] khouloudbelguith commented on #13475
@wikao2, thanks for your feedback.
Feel free to open a new when needed.
Thanks!

[2019-04-18 14:01] wikao2 commented on #13437
@khouloudbelguith
And if you try not by disabling the extension INTL but with an "old" version of ICU (52.1 in this case) ?

[2019-04-18 14:05] ghost commented on #10349
Hello,

We decided to close this issue.

* A fix has already been done before, it seems that the problem only happens on some old Safari versions.
But we don't know which ones and we can't reproduce it.

* We checked the numbers, iPhones 4 and 5 only represent 4% of the iPhone market shares (Statista 2018) this percentage is even lower if we only count the ones still using old Safari versions.

If

[2019-04-18 14:06] #10349 closed, assigned to nobody

[2019-04-18 14:57] #12976 closed, assigned to tomlev

[2019-04-18 14:58] #13244 closed, assigned to tomlev

[2019-04-18 15:02] khouloudbelguith commented on #13374
@jf-viguier, yes I manage to reproduce the issue with PS1.7.5.1.
![image](https://user-images.githubusercontent.com/16067358/56370480-307daa80-61f3-11e9-9c2e-3348832d1317.png)
It is added to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-04-18 15:25] marionf commented on #13229
@TristanLDD

Do you have recommendations about the order button that is stuck to the frame ?

[2019-04-18 15:26] khouloudbelguith commented on #13395
Hi @pppplus,

When I tried with your file, I have these errors.
[code]
Thanks to check & feedback.

[2019-04-18 15:49] ttoine commented on #13437
@wikao2 could you please provide the same screenshot than Khouloud ? so we could see the warnings and the state of the "next" button

[2019-04-18 15:50] khouloudbelguith commented on #10226
Hi @Chebe2,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-18 15:50] #10226 closed, assigned to nobody

[2019-04-18 15:51] khouloudbelguith commented on #12954
Hi @Integraelec,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-18 15:51] #12954 closed, assigned to nobody

[2019-04-18 15:52] jf-viguier commented on #13374
ok great.

[2019-04-18 15:53] khouloudbelguith commented on #12930
Hi @amtriorix,

Any news about your issue?
Thanks!

[2019-04-18 16:01] TristanLDD commented on #13229
I checked with @YeLnatSs for the button, it's fixed ;)

[2019-04-18 16:01] khouloudbelguith commented on #13437
@wikao2, I tried with an "old" version of ICU 52.1 & it is OK.
I attached a video record
https://drive.google.com/file/d/1sGO-88ezqb97Wz_ISPKHqAjsb0ppZfMq/view
@ttoine, I tried with PS1.7.4.4 & intl disabled, I have a green validation.
The installer now check the intl extension with this PR https://github.com/PrestaShop/PrestaShop/pull/11937
Thanks!

[2019-04-18 16:05] matks commented on #11545
This issue is still true and needs to be fixed for 1.7.6

[2019-04-18 16:09] matks commented on #11545
In order to fix it, we need to apply https://github.com/PrestaShop/PrestaShop/pull/13125 for the Categories page

[2019-04-18 16:12] matks commented on #10747
This is fixed by the page migration. @marionf do you want to check ?

[2019-04-18 16:14] matks commented on #11540
This is fixed by the page migration. @marionf do you want to check ?

[2019-04-18 16:16] matks commented on #11546
This is fixed by the page migration. @marionf do you want to check ?

[2019-04-18 16:22] khouloudbelguith commented on #13452
@tlukowski,

In my case with PS1.7.5.1, it is OK
![image](https://user-images.githubusercontent.com/16067358/56375787-5b213080-61fe-11e9-8d75-861fee8647bb.png)
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't yo

[2019-04-18 16:53] khouloudbelguith commented on #13468
Hi @shakaran,

I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-04-18 17:00] khouloudbelguith commented on #13211
@dazhbog, so did you create from the BO a duplicate for this product, the issue is not reproduced with it in the FO?
Thanks!

[2019-04-18 17:06] khouloudbelguith commented on #13398
Hi @BvdPutten,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

[2019-04-18 17:09] khouloudbelguith commented on #13396
Hi @AdriCruz,

Could you please navigate to your BO => Customers => page => click on " Set required fields for this section" & provide me the exact list displayed & which option is checked?
Thanks!