[2020-05-21 12:29] JayWilliams74 commented on #19209
??

[2020-05-21 12:52] zuk3975 commented on #18721
Failed to reproduce on 1.7.7.x

[2020-05-21 12:57] elboletaire opened #19252 "Webservice associations setter is being called with empty values when emptying cart rows via webservice"
#### Describe the bug

The only way to get an empty cart (without entirely removing it) is by sending an xml with the `associations/cart_rows` fields empty, like so:

[code]

If you try to send the `associations` without that empty `<cart_rows/>` you won't be able to empty the cart. So far so good. The problem is that, when sending such xml, even though it works removing the cart_rows, you'll get

[2020-05-21 13:19] avionicom commented on #18941
Hello, I've the same @BERNARD-EMMANUELLE issue. PS 1.7.6.5 and module 4.1.1.
Following last upgrade, noticed that no icons where shown. So tried to restore the module and also uninstall and reinstall again. The icons are now shown, but are different from the original ones and also the colour is not anymore black, but a rose one. What happened?

[2020-05-21 13:19] ChineseNorris commented on #18700
Hey,

would like to solve this problem ASAP. I've been haunted from this issue since 1.5 and 1.6 and see little improvement from prestashop in this matter.

For this concurrency issue I think it's best if there is a stock check function doing it for every checkout step process, because the first barrier is when the product is added to the basket and you proceed to checkout.
For instance:

We take

[2020-05-21 13:44] ChineseNorris commented on #10762
Would like to follow and support the idea of "holding" the 5 minutes reserved stock while processing the payment, and check the stock right before the payment step.

Another idea is to force payments addons to send a stock check and throw a payment error if the stock is not available anymore, would help with this concurrency issue a lot.

[2020-05-21 13:59] avionicom commented on #18941
![immagine](https://user-images.githubusercontent.com/2458781/82566342-0deb5d00-9b7c-11ea-9c9a-4028fbdf1add.png)

[2020-05-21 14:02] avionicom commented on #18941
I noted in database that have both tables: ps_psreassurance (image posted) and also ps_reassurance

[2020-05-21 14:03] avionicom commented on #18941
![immagine](https://user-images.githubusercontent.com/2458781/82566656-86521e00-9b7c-11ea-881c-e8c7c0583d47.png)
this is ps_reassurance table, probably related to the old module version 3.0.1?

[2020-05-21 14:14] IranDec commented on #18700
Hi,
I think another solution is a reservation stock system like this module for each basket or check stock availability in each step or make a reservation stock for all basket are waiting for a response from payment getaway and after sometimes if systems didn't get any response then the reservation stock will be back to the main stock.
https://addons.prestashop.com/en/stock-supplier-management/217

[2020-05-21 14:51] JayWilliams74 commented on #19209
I have saved as it was and I got the following debug info.
![The slug ROLE_MOD_TAB__READ is invalid (500 Internal Server Error) - Google Chrome 21_05_2020 15_46_22](https://user-images.githubusercontent.com/65467851/82571204-85b88800-9b7a-11ea-9d7b-9a66c964a4fc.png)

[2020-05-21 16:16] Quetzacoalt91 commented on #19244
On previous versions of PS 1.7, even if jQuery was always loaded, having the method `addJquery` allowed us to order the load of JS files at our convenience.

We saw an impact on modules having their own jQuery version coupled with noConflict. The objective is to make sure they load a jQuery version compatible with their additional libraries and leave the core one untouched.

Now that method is not

[2020-05-21 17:09] Tattiii opened #19253 "Error upgrading Ebay module"
Modules->Module Catalogue-> EBAY Module - > Upgrade->

ERROR! Exception thrown by module Ebay on our upgrade. Error sent by addons.You may need to be logged

![Error Ebay](https://user-images.githubusercontent.com/65728344/82585620-31b79e80-9b8e-11ea-8b49-5916de5bd3a3.PNG)

* PrestaShop version: 1.7.6
* PHP version: N/A

[2020-05-21 18:53] shelve71 opened #19254 "content of unit price field translation"
Hello,
someone can help me how to translate the content Price per unit description field (i mean per kilo, per liter,..) ?

Switching the language is not possibile change content of the field,

Thanks.
Antonio

screenshoot: https://prnt.sc/sl9i2i

[2020-05-21 19:31] JarLob opened #19255 "About CSRF to RCE bug chain in Prestashop v1.7.6.4 and below"
Just wonder if it was ever disclosed to you https://stazot.com/prestashop-csrf-to-rce-article/

[2020-05-21 20:39] FredPeng commented on #17815
This method helped me. Thanks. After I changed the inconformities and it start to install modules.

[2020-05-21 21:31] matks commented on #19255
Hi @JarLob yes multiple people including the author of this article disclosed it to us but we do not consider it a threat.

The article says it's a "Critical CSRF to RCE bug chain". We consider it not critical at all because, in order for this attack to be successfull, it needs:
- attacker must identify someone (= the victim) who has access to the Back-Office (= is able to login) AND at the time o

[2020-05-21 21:31] alfonsolr09 commented on #19254
https://prnt.sc/slc43z

you mean only this back office translation?

[2020-05-21 21:50] shelve71 commented on #19254
no, i mean the frontoffice content.
I write the content of this field in backoffice but how i can traslate it in forntoffice ?

Thanks.

[2020-05-21 22:17] JarLob commented on #19255
Thank you for the comments. I didn't verify the findings, just read the article.
Is there a link to previous discussion to avoid repeating the same arguments?

Even if the chain is broken because of the secret directory name, any reason there is no CSRF protection? There is nothing unusual to be logged-in. Although CSRF attacks involves some social engineering luring people into specially crafted

[2020-05-21 22:30] alfonsolr09 commented on #19254
automatically appears when entering a price

https://prnt.sc/sld299
https://prnt.sc/sld2k6

[2020-05-22 01:04] go-sudo opened #19256 "Acces information page page issue CPU is fully"
Hi,

I try to access this page but it keeps loading and I get 505 error message so I edit the Nginx and Apache as it described on the knowledge
but I still can't access
https://domaine.com/backoffice/index.php/configure/advanced/performance/?_token=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

https://drive.google.com/file/d/1Ma6BJm2bYgC1PygVf2WzkFk-p2P-jzbC/view

Regards

the Plesk support repl

[2020-05-22 06:24] Progi1984 commented on #18809
Fixed by #18902

[2020-05-22 06:24] #18809 closed, assigned to jolelievre

[2020-05-22 06:56] florine2623 commented on #19253
Hi @Tattiii ,
You need to be logged in your Addons account to be able to upgrade any modules.
Click on button "Connect To Addons marketplace"
Thanks!

[2020-05-22 06:56] #19253 closed, assigned to nobody

[2020-05-22 07:01] #19245 closed, assigned to nobody

[2020-05-22 07:03] florine2623 commented on #19254
Hi @shelve71 ,
@alfonsolr09 has the right answer :)
Thanks!

[2020-05-22 07:03] #19254 closed, assigned to nobody

[2020-05-22 07:11] florine2623 commented on #19250
Hi @javierVP ,

Your issue seems to be the same as https://github.com/PrestaShop/PrestaShop/issues/18251#issuecomment-605089128
Could you check and let me know ?
Thanks!

[2020-05-22 07:16] florine2623 commented on #19247
Hi @alfonsolr09 ,
Could you regenerate your images ?
Design > Email Settings > Regenerate product thumbnails

Please check and let me know.

[2020-05-22 07:16] pibrom commented on #19219
I think this is a bug.
I managed to work around the problem by adding a line in PaymentModule Override
$amount_paid = $cart_total_paid field control;

[2020-05-22 07:16] JarLob commented on #19255
As I thought, CORS doesn't stand in the way. There is no even a need to rewrite the PoC. Of course browser claims *"Cross-Origin Request Blocked: The Same Origin Policy disallows **reading** the remote resource"* But the network request is sent, you can see it in a Web Proxy:
[code]
The only thing between attacker and XSS as I understand is the secret directory name. I'm not so familiar with Prest

[2020-05-22 07:22] alfonsolr09 commented on #19247
Email settings?
Does it have something to do with the images in the email?

[2020-05-22 07:22] florine2623 commented on #19234
Hi @Betafer ,
Your issue is the same as https://github.com/PrestaShop/PrestaShop/issues/18890
The solution has been given.
I will close this issue!

[2020-05-22 07:22] #19234 closed, assigned to nobody

[2020-05-22 07:24] florine2623 commented on #19247
I meant "Design > Image Settings > Regenerate product thumbnails".
I'm sorry.

[2020-05-22 07:26] alfonsolr09 commented on #18890
@florine2623 thats a bug or a php error?

[2020-05-22 07:27] alfonsolr09 commented on #19247
I did it yesterday and it's still bad

[2020-05-22 07:31] LouiseBonnard commented on #19219
Hi @pibrom, thank you for this information, we still need to reproduce your issue on our end to qualify it but feel free to create a pull request to share your fix!

[2020-05-22 07:31] alfonsolr09 commented on #19247
I'm going to try again, yesterday I regenerated all of them.  Which one should I select to regenerate only the specific models?

[2020-05-22 07:55] pibrom commented on #19219
It's not a fix, it's a tinkering!
I couldn't find the code that was used to validate an order placed via the webservice.

[2020-05-22 07:56] florine2623 commented on #19093
Again, this issue is relate to your module page cache. The problem does not come from PrestaShop core.
Please uninstall your module or contact the developer of that module.
I will close your ticket. Thank you for understanding.

[2020-05-22 07:56] #19093 closed, assigned to nobody

[2020-05-22 07:58] PierreRambaud commented on #19255
Hi @JarLob

PrestaShop admin directory is not predictable, only admins know the real path, and it differs on each PrestaShop installation.

This kind of attack is the same as sending a virus that working on only one computer and hoping the target is connected with admin access and have rights to execute it.

It's a simple javascript scenario that anybody is able to create on all websites.
We allow

[2020-05-22 08:14] LouiseBonnard commented on #16904
It's here, the Franc CFA has reached its end, cf. https://www.lemonde.fr/afrique/article/2020/05/21/la-france-acte-officiellement-la-fin-du-franc-cfa-en-afrique-de-l-ouest_6040339_3212.html.

[2020-05-22 08:15] JarLob commented on #19255
Anti CSRF token is also essentially just a random unpredictable value. But the difference it is tight to a session (i.e. different for every user), while the random directory name is constant and global to all users of the same PrestaShop deployment. Yes as long as it is not leaked or brute-forced it is ok. But this is the difference - it is a weaker protection. I don't understand the resistance o

[2020-05-22 08:31] PierreRambaud commented on #19255
The CSRF token in forms is valid and working well otherwise the framework Symfony has a real problem :sweat_smile: .
The scenario opens the page, retrieves the token and uses it in the next page like puppeteer, the browser or any End to End tools does. Building a user scenario is not a 0-day.

Also that the vector require very very very targeted attack. If you fall victim of such attack you will b

[2020-05-22 08:35] PierreRambaud commented on #10784
@evmimagina Could you tell us more about the PrestaShop bug? :)

[2020-05-22 08:39] #19248 closed, assigned to nobody

[2020-05-22 08:42] JarLob commented on #19255
The scenario opens the page, retrieves the token and uses it in the next page like puppeteer, the browser or any End to End tools does. Building a user scenario is not a 0-day.

You got it wrong. It retrieves anti CSRF token in the second stage to upload the zip file because it has the protection. In the first stage there is no CSRF protection to upload the svg.

You just denied the existence of o

[2020-05-22 08:43] florine2623 commented on #19209
When I said to run the query :
[code]
You should have run it directly on the SQL tab of PHPMyAdmin, not create it manually.

I advise you to do a rollback. If correcting an error generates another one, you might have to correct a bunch of errors before you get your shop working properly.

You can let our team do the migration, please contact the support team of PrestaShop [here](https://addons.pre

[2020-05-22 08:43] #19209 closed, assigned to nobody

[2020-05-22 08:49] burakgit opened #19258 "Contact Form Multiple Clicks Lots Of same mails 1.7.6.4"
#### Is your feature request related to a problem?

Double, twice or lots of clicks generates lots of same emails from the panel, button should be disabled.

#### Describe the solution you'd like

disabled button.

Version 1.7.6.4
Different Theme not classic.

[2020-05-22 08:51] matks opened #19259 "[EPIC] Product page - Rework - tech tasks"
# Summary of technical tasks for Product page

Will replace #14405

---
All issues mentioned in this EPIC are listed here:

- [x] #19261
- [x] #19281
- [x] #19123
- [ ] #31737

**Improvements**
- [x] #22930
- [ ] #27048

---
## Fixed

- [x] #19266
- [x] #19267
- [x] #19280
- [x] #19620
- [x] #19265
- [x] #19264
- [x] #14405
- [x] #19262
- [x] #19962
---
## Overview

The Product page rework is a hu

[2020-05-22 08:52] PierreRambaud commented on #19255
My bad, I was thinking about the theme upload.

For the upload.php, yes there is no CSRF token, it's an old dependency we plan to remove in the future.

But anyway, even if we add a CSRF token here (which can break many parts of the backend because this dependency sucks), the problem is still the same, you will be able to add a new step for the scenario and you'll still able to upload a file.

It'

[2020-05-22 08:53] LouiseBonnard commented on #13838
Hey @prestamodule, thanks for your report. Since this is a duplicate of #16477 (soon-to-be fixed by #18787), I close this issue so that we can all focus on one issue instead of multiple duplicates. Feel free to follow up on #16477, or reopen this one if need be. :-)

[2020-05-22 08:53] #13838 closed, assigned to nobody

[2020-05-22 09:01] matks commented on #19255
Hi, don't worry we are not offended 😄.

We are not resisting, it's just that when we look at the attack, and how most shops are run and maintained, we don't think it would be a major threat. We might be wrong, but we asked multiple people specialized in security and they agree for that. We do not say it's not a threat, we say when compared to lot of other threats it's a really minor one.

If someo

[2020-05-22 09:06] matks opened #19261 "Product page - tech task - Explore in-depth current Product page code to identify potential complex behaviors we need to migrate"
Related to https://github.com/PrestaShop/PrestaShop/issues/19259

[2020-05-22 09:07] matks opened #19262 "Product page - tech task / decision - Decide for a structure for reworked Product page"
Decide what pages / tabs / components share a FormType, what pages / tabs / components are sub forms, decide which controller actions are shared, which ones are independent …

https://github.com/PrestaShop/PrestaShop/issues/19259

[2020-05-22 09:07] sugata94 opened #19263 "Order: some articles are not taken into account -> sum is not correct"
Host: OVH
Prestashop 1.7.6
Database: MYSQL v.5.6
----------------------------------

Context:
-----------
Do an order by adding some articles to the cart and pay (whatever the payment).

Expected:
------------
The order's total amount shall be the sum of the articles prices and the transport fees (computed according to the articles weight).

Result:
---------
When paying, not all of the articles a

[2020-05-22 09:08] matks opened #19264 "Product page - tech/product task - Explore reworked Product page modules hooking capabilities"
Related to https://github.com/PrestaShop/PrestaShop/issues/19259

[2020-05-22 09:09] matks opened #19265 "Product page - tech task - Introduce into reworked Product Page the multistore checkboxes"
Related to https://github.com/PrestaShop/PrestaShop/issues/19259

[2020-05-22 09:11] shelve71 commented on #19254
yes, actually when entering a price appear "por Kilo", but only for all languages.
I need to have "por kilo" for a language and "per chilo" for another language.

How to change translation when language changes ?

[2020-05-22 09:11] matks opened #19266 "Product page - tech task - Warehouse management in Product page ? Explore"
Related to https://github.com/PrestaShop/PrestaShop/issues/19259

I found in current Product page some code related to warehouse management, which is a feature removed from PrestaShop during 1.6 -> 1.7 rework.

We must analyze this code to confirm that it is dead code and can be removed.

[2020-05-22 09:14] JarLob commented on #19255
@PierreRambaud I understand the dependency argument. May I suggest having a documented plan when you are going to drop the support for it?

Regarding finding another way... When you have XSS you have the user's rights to perform any action. As I said I don't know what is this `'Products Edit' permission` just make sure this "upload zip with php" doesn't cross the role permission boundaries. Findin

[2020-05-22 09:14] matks opened #19267 "Product page - tech task - Use a Javascript Store to be able to submit partial update requests"
For Update requests, we need a frontend Store system (see ExtJS maybe).

This Store must manage a data model and handles the data lifecycle: storage, data structure, data loading and persistence.

The Store tracks user interactions and flag modified inputs as “dirty” (modified). When user hits “save”, it will requires the store to persist all “dirty” data and submit them as a PATCH request.

Relat

[2020-05-22 09:16] matks commented on #14770
@marionf @MatShir Does this issue relates also to the top bar ? with the product name and the dropdown to choose the type of Product ?

[2020-05-22 09:20] florine2623 commented on #19263
Hi @sugata94 ,
I can't reproduce your issue.
What are the exact steps to reproduce your issue ?
Thanks!

[2020-05-22 09:23] JarLob commented on #19255
It is not that involving as you imagine. The hardest part would be getting the directory name.

C'mon guys, people are building business on PrestaShop. Is it your official statement, that a really motivated hacker will get into PrestaShop anyway?

You cannot protect from phishing, i.e. a web site looking as the original one or fake email asking to reset password. But you can protect users from bei

[2020-05-22 09:23] LouiseBonnard commented on #19229
Hi all, thanks for your feedback! Indeed, the two blocks in the footer you mentioned are related to the **My Account Block** and **Contact Information** modules.

You can just enable or disable them, or unhook them in _Design > Positions_, you cannot really modify their information - but note that your contact information is the one entered in the _Shop Parameters > Contact > Stores_ page of the b

[2020-05-22 09:24] javierVP commented on #19250
also disable the native prestashop modules option and it did not work either

[2020-05-22 09:37] LouiseBonnard commented on #19227
Okay, thanks guys, I guess this is for the product team. ;-)

[2020-05-22 09:45] JorgeNogueiraLFMPro opened #19269 "Add Cart don't update"
Hi,

I have a problem in my cart.
When I click the add to cart button, the units added to the cart do not appear at the top of the page. It only appears after refreshing the page or if we change the page.

Steps to reproduce the behavior:

1. Go to product page
2. Click on add cart
3. look to cart on top the page
4. Not update the units on cart

![Add_cart](https://user-images.githubusercontent.co

[2020-05-22 09:51] sugata94 commented on #19263
Hi @florine2623 ,

Thanks for the quick answer!
Hereunder I will try to give you more details.

I go on the website: https://passion-sport.org
I do an order as a user (create your own account if needed!):
- Add "Veste - Taille : 170cm- Couleur : Rouge"
- Add "Short Sambo Adulte - Taille : XL (56-58)- Couleur : Rouge"
- Add "Chaussures sambo adulte - Taille : 44"
Total amount is 109.00€ + transport

[2020-05-22 09:56] sugata94 commented on #19263
Note: The same issue can be reproduced when paying by card.

[2020-05-22 10:05] Progi1984 commented on #18842
Fixed by #18975

[2020-05-22 10:05] #18842 closed, assigned to Progi1984

[2020-05-22 10:08] florine2623 commented on #19269
Hi @JorgeNogueiraLFMPro ,
In Module Shopping cart, Ajax option should be activated :
![Capture d’écran 2020-05-22 à 12 07 23](https://user-images.githubusercontent.com/16019289/82656978-e43a4080-9c24-11ea-8019-b26d7f912419.png)
Thanks!

[2020-05-22 10:08] #19269 closed, assigned to nobody

[2020-05-22 10:14] matks opened #19271 "Advanced security confirmation - verify user identify for sensible actions"
#### Is your feature request related to a problem?

Some actions in the Back-Office are sensible. Uploading a theme, installing a new module, creating new authorized users, creating an API key ... they could be used for malicious people.

We could imagine some paranoid scenarii where the SuperAdmin lets his session opened to get a coffee and a nasty (unhappy intern) comes behind him and gives hims

[2020-05-22 10:18] sugata94 commented on #19263
This behaviour is reproductible from the back-office:
- Create an order
- ....
- Pay

The received email for the customer is correct, but the created order in the back-office is not.

[2020-05-22 10:19] florine2623 commented on #19258
Hi @burakgit ,

Using theme Classic PS 1.7.7.0, when clicking multiple times on Send button, the message is only sent once.
If you are using another theme, please contact directly the developer of the theme !
Thanks!

[2020-05-22 10:19] #19258 closed, assigned to nobody

[2020-05-22 10:25] matks commented on #19255
What we say is that, in order to be used, this attack requires a combination of conditions to be met and this combination is too large to make it a major threat 😉.

For example, if I want to hack the shop my-awesome-shop.com I need
- to find the random directory admin path => maybe by asking a laid-off unhappy employee
- to find a current employee who is logged in the Back-Office
- to make him vis

[2020-05-22 10:27] Eva-F opened #19272 "[HelperList idea] list_skip_actions and remove_onclick"
it is possible to remove onclick event when the "id" is in list_skip_actions ?

something like that:

**/classes/helper/HelperList.php:**
[code]

and
[code]
and
**admin.../themes/default/template/helpers/list/list_content.tpl**
[code]

[2020-05-22 10:31] florine2623 commented on #19252
Hi @elboletaire ,
I will ping our dev team, please stay tuned!
Thanks!

[2020-05-22 10:32] florine2623 commented on #19252
Hi @PrestaShop/prestashop-core-developers ,
Could you take a look at @elboletaire 's issue please ?
Thanks!

[2020-05-22 10:42] florine2623 commented on #19256
Hi @go-sudo ,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots

Thanks!

[2020-05-22 11:01] Quetzacoalt91 opened #19273 "Syntax error in SQL upgrade file"
#### Describe the bug

Upgrading to PS 1.7.7.0 triggers an error in a SQL command. Fortunately the concerned query is not critical as it only add hooks descriptions in the database.

#### Expected behavior

All SQL queries must be understandable and runnable.

#### Steps to Reproduce

Install the autoupgrade module.

* Use the "Local archive" channel and store the zip file of PrestaShop 1.7.7.0-be

[2020-05-22 11:09] Eva-F commented on #19272
I am sorry  for the wrong repository -  I didn't notice...
Thanks for transferring
![ps1](https://user-images.githubusercontent.com/3242659/82661898-30897e80-9c2d-11ea-9d7e-704ddad092ad.png)

HelperList enables in BO to remove actions ( like a view, edit, etc)
and enables as well as to add "onclick" events(as default)  to the rows that redirects the row either to 'view' or 'edit'  action.
But redi

[2020-05-22 11:24] rdy4ever commented on #19271
Great idea, but I have the feeling the kind of SuperAdmin that leaves his session open and leaves for coffe might also have his password saved in the browser.

[2020-05-22 11:44] Betafer commented on #18890
The problem is present in prestashop 1.7.6.5 with PHP 7.2

[2020-05-22 12:15] oriolpiera opened #19276 "No combinations in BO after upgraded from 1.7.5.0 to 1.7.6.5"
#### Describe the bug

Product Combinations empty in BO, but I can see in FO. (all products)

#### Expected behavior

List of Combinations in Product page, tab Combinations

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Catagol
2. Click on Products
3. Click on Combinations tab
3. Scroll down
4. No combinations

**Screenshots**

If applicable, add screenshots or screen recordi

[2020-05-22 12:28] florine2623 commented on #19271
Hi @PrestaShop/prestashop-product-team ,

Can this feature be implemented ?

Thanks!

[2020-05-22 12:37] florine2623 commented on #19263
Thanks for the detailed steps.
I still can't manage to reproduce such issue.
I tried in my local shop in PS 1.7.6.5, everything works fine. I have the correct total price in BO and no added products.

Do you have any cart rules that might offer products to certain customer ? (even if YES, the total amount in the order should be correct :/ )
Are you using any overrides ?
If yes, disable them via FT

[2020-05-22 12:46] #19105 closed, assigned to nobody

[2020-05-22 12:49] go-sudo commented on #19256
host : contabo

CPUIntel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz (4 core(s))VersionPlesk Obsidian v18.0.26_build1800200410.18 os_CentOS 7OSCentOS Linux 7.8.2003 (Core)Key numberPLSK.06078869.0005System Uptime:3 day(s) 03:12 | CPU | Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz (4 core(s)) | Version | Plesk Obsidian v18.0.26_build1800200410.18 os_CentOS 7 | OS | CentOS Linux 7.8.2003 (Core) | | System Upti

[2020-05-22 13:04] florine2623 commented on #19204
Please take a look at your conversion_rate in ps_currency. They should not be the same.
For example in my case, I have :
![Capture d’écran 2020-05-22 à 14 59 47](https://user-images.githubusercontent.com/16019289/82670451-71898f00-9c3d-11ea-8a2d-ad92926de073.png)

You can go to International > Localization > Currencies > Edit your exchange rate manually
![Capture d’écran 2020-05-22 à 15 01 33]

[2020-05-22 13:07] matks commented on #19271
That would be solved by using 2-factor authentication. Then he needs to also leave his phone unlocked on the desk 😄.

We will not be able to bundle 2FA inside PrestaShop because it requires an external service (mostly a SMS sender) however we can provide hooks that would enable people to plug-in modules to enable the 2FA.

[2020-05-22 13:10] fest73 opened #19278 "Bug fix remove_from_cart_url"
#### Describe the bug

Can not delete product from cart with customization

#### Expected behavior

Delete product from cart

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create product with customization
2. Add in cart
3. Delete from cart

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional information

* PrestaShop

[2020-05-22 13:12] florine2623 commented on #19247
You can select all Product images to regenerate.
Clear cache from Advances Parameters > Performance and try again

Does it only happen with that product (that has been duplicated) and the product "model" ?
What are the differences between these 2 products and the others from your shop ?

[2020-05-22 13:19] alfonsolr09 commented on #19247
with the duplicate product of the wrong product it was solved (automatically).
now the error continues with the first wrong product.  the difference is none, I have reviewed the database and everything is exactly the same as the others except name, description, price and little else

[2020-05-22 13:19] florine2623 commented on #19278
Hi @dariusakafest ,

Could you specify the version of PrestaShop you are using ?
With PS 1.7.6.5, removing a customizable product from cart has no issue.
Please check my screen record :
https://drive.google.com/file/d/1OJafbu2zNEnrID51-D0optB3FUlG7njX/view

Thanks!

[2020-05-22 13:20] alfonsolr09 commented on #19254
Probably this, but select another languaje

[2020-05-22 13:20] kpodemski commented on #19271
Good luck to all agencies and developers with this kind of security measures.

[2020-05-22 13:21] alfonsolr09 commented on #18890
in version 1.7.6.4 it also exists.  what should i do to fix it?  or will it be fixed in a later version of prestashop?
@florine2623

[2020-05-22 13:30] matks commented on #13943
Idea from @PierreRambaud : use Javascript events

## Today

[code]

## Tomorrow

[code]

## Summary of new implementation

This new implementation does 2 things
- it uses Javascript events as a similar mechanism as PrestaShop PHP hooks to enable modules to customize the behavior, passing objects by reference, either the Grid or other elements => quite easy to add
- it requires the Grid to be first

[2020-05-22 13:30] matks commented on #13943
@NeOMakinG please tell us what you think

[2020-05-22 13:31] matks commented on #13943
ping @PrestaShop/prestashop-core-developers because everybody's opinion is a nice thing 😊

[2020-05-22 13:32] matks commented on #19271
I promise, not by default 😄. Merchants will need to enable this in this BO (like B2B option) to see it.

We are aware that if you use this option, you will be prompted for your password or something else a lot of times, which can frustrate users very quick ...

[2020-05-22 13:33] florine2623 commented on #19256
This is a server error. It does not come from PrestaShop core.

If you are using PHP 7.3, please downgrade to 7.2.
Here's he compatibility chart :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

I advise you to put this file in the root of your website and go to yourwebsite.com/php_info.php
[php_info.php.zip](https://github.com/PrestaShop/PrestaShop/files/4668279/php_i

[2020-05-22 13:36] JorgeNogueiraLFMPro commented on #19269
Hi,

We performed the update and activation of the module, but it still doesn't
work.

*Jorge Nogueira*
Apoio a Direção Comercial
Commercial Support
jorge.nogueira@lfmcorporate.com

florine2623 <notifications@github.com> escreveu no dia sexta, 22/05/2020
à(s) 11:08:

--

[2020-05-22 13:39] matks opened #19280 "Product page - tech task - Data synchronization and prices computation in the browser"
Some data is duplicated, sometimes directly (same data on 2 tabs), sometimes indirectly on the page (same data but displayed differently on 2 tabs).
So when data 1 is updated, related data 2 must be updated accordingly. Currently there are some issues linked to that.

For example if you modify VAT included price, the VAT excluded must be updated too.

Goal: build a pluggable system that we can use

[2020-05-22 13:40] florine2623 commented on #19247
Could you try to delete the image et reupload it ?

[2020-05-22 13:42] matks opened #19281 "Product page - tech task - Improve Category tree widget to handle huge number of categories"
On 1st tab you can link a product to multiple categories and there is a category tree to choose the target categories. It probably breaks when there are too many categories.

Goal: check current categories widget and see how it can scale when given thousand of categories input data.

[2020-05-22 13:49] zuk3975 commented on #13943
Looks pretty simple and its nice to keep the same principle as in php.
Just wonder if this brings any issue later, if we want to keep this convention when/if using vue.js?

[2020-05-22 13:53] matks commented on #13943
I think for Vue we can keep the idea of using events (I think different Vue files can communicate through events) but the implementation will be different

[2020-05-22 13:56] alfonsolr09 commented on #19247
I did it yesterday and it's still the same

[2020-05-22 14:29] go-sudo commented on #19256
HI @florine2623
I switch to 7.2
2020-05-22 16:10:34 | Error | 41.249.240.xx| 500 | GET /admin/index.php/configure/advanced/system-information/?_token=xxxxxxxxxxxxxxxxxxxxxxxxx
 HTTP/1.0
php info https://bit.ly/3gkmZlZ
-- | -- | -- | -- | --

2020-05-21 18:18:57	Warning	2.139.241.62		AH01071: Got error 'PHP message: PHP Warning: "continue" targeting switch is equivalent to "break". Did you mean to

[2020-05-22 14:44] amaurigabriel opened #19283 "Inconsistency in the exibition of products with combinations having minimal quantities"
HI!

I opened a bug report, which got closed because I didn't understood what more information were you askind from me.

https://github.com/PrestaShop/PrestaShop/issues/18209

I think the old thread is no longer being monitored, so I will copy the description. I am really sorry if it is considered as a duplicate...

==========================
What more information do you need from me about this is

[2020-05-22 15:02] matks commented on #15528
@PrestaShop/prestashop-qa I have checked this issue and it seems fixed with the migration of Edit an Order page. Could you confirm ?

[2020-05-22 15:03] GTriber opened #19284 "Direct Links on dashboard stats"
As the prestashop statistics aren't accurate. Need an advice.

I am using Google Analytics and all seems fine there.

At prestashop stats i see same statistics plus "Direct Links".

I.e

I have 100 visits on Google Analytics from some sources. On presta i see that 100 and sources plus 3200 from "Direct Links".

Is there any way to disable / hide Direct Links ones?

[2020-05-22 15:04] florine2623 commented on #19250
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev) ?

[2020-05-22 15:06] florine2623 commented on #19276
Hi @oriolpiera ,
I upgraded my PS 1.7.5.0 to PS 1.7.6.5 using 1-click upgrade v4.10.1 and I couldn't reproduce the issue. My combinations are all here.
Did you have any errors during the upgrade apart from ps_current_lang ?
Thanks!

[2020-05-22 15:07] florine2623 commented on #19246
Hi @PrestaShop/prestashop-core-developers ,

Can one of you try to reproduce the issue please ? :)
Thanks!

[2020-05-22 15:52] florine2623 commented on #19284
Hi @GTriber ,
Are you talking about Stats > Visitors online ?
![Capture d’écran 2020-05-22 à 17 51 27](https://user-images.githubusercontent.com/16019289/82685699-e87e5200-9c54-11ea-9775-599f7a1f67b5.png)
Natively, no you can't hide that. You would need some custom code for that feature.
Thanks!

[2020-05-22 15:54] PululuK opened #19285 "[BO][IMPROVIMENT][BACKUP CONTROLLER]"
1 - Go to BO > Advanced Params > Databases > Backups
2 - Create a backup

## Is your feature request related to a problem?

* 1 - **Done in #19286** Use icon download instead of eyes (to remain consistent with the other controllers (see SQL management for example)
![backup-icon](https://user-images.githubusercontent.com/16455155/82685342-54ac8600-9c54-11ea-925c-8387172a0955.png)

* 2 - **Done in #

[2020-05-22 15:58] LouiseBonnard commented on #19145
Hi there, you're right, the wording is mixed up in the theme between the _Specials Block_ module and the _Prices Drop_ page - it is supposed to be more or less the same but it combines 1/ special prices like products benefit from specific prices as well as 2/ special prices like when products are on sale. So the wording needs to be studied to be more accurate and then harmonized.

[2020-05-22 16:10] florine2623 commented on #19283
Hi @amaurigabriel ,

Sorry your issue has been closed unintentionally.

Indeed your issue seems to be linked to https://github.com/PrestaShop/PrestaShop/issues/14744
So it is a duplicate.
For now, it is in our debug roadmap.

As the issue is a duplicate, I will close it.

Thanks for your understanding !

[2020-05-22 16:10] florine2623 commented on #19283
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/14744

[2020-05-22 16:13] florine2623 commented on #19285
Hi @PululuK ,

Thanks for the recommandation !
The product team will be answering your request.
Thanks!

[2020-05-22 16:14] florine2623 commented on #19285
Hi @PrestaShop/prestashop-product-team ,

@PululuK has some great ideas on Database backup in BO.
Could you take a look please ?

Thanks!

[2020-05-22 16:59] Bi11fx opened #19287 "Which files / folders not required for a live backup"
Hey guys, I just want to know which files / folders not required to backup the shop, such as var/cache....

[2020-05-22 17:16] Betafer commented on #18890
If you can fix it it would be better.
Thanks

[2020-05-22 17:52] alfonsolr09 commented on #18890
Ping @florine2623

[2020-05-22 20:33] matks commented on #19255
@JarLob I modified the title of this issue to "About CSRF to RCE bug chain in Prestashop v1.7.6.4 and below" so it will be more easily foud by people searching about it and also in order not to scare people reading the title 😄

I close this issue as I think we are done with it but you can reopen it if needed

[2020-05-22 20:33] #19255 closed, assigned to nobody

[2020-05-22 20:35] PululuK commented on #19255
👀

[2020-05-23 00:29] Amit-Kumar-Tiwari-Webkul opened #19288 "Subject fields appear blank in email translation"
#### Describe the bug

Subject's translation is not displayed in the input field when I saved it from the email translation section

#### Steps to Reproduce

1) Install a module which contains email (a mails folder inside the module).
2) To translate the email subjects in any language go to the International > Translations > Email translations like this screenshot https://prnt.sc/sm3ntw
3) Select

[2020-05-23 08:05] TaccCZ commented on #19204
Thank you for answer.
I tried to adjust the currency conversion for the base table "ps_currency" which is now correct:
![image](https://user-images.githubusercontent.com/37780517/82725373-cfb97f00-9cdc-11ea-83c8-d4ebe2383fc3.png)

But for the 1st multistore I use two currencies (CZK + EUR) and for the 2nd multistore I only want EUR where I have exchange rate 1, because CZK in the 2nd multistore ca

[2020-05-23 11:55] go-sudo commented on #19256
HI @florine2623
Any update please

[2020-05-23 12:06] zuk3975 commented on #19266
this is what I've got:
1. There is WarehouseDataProvider in ProductController which gets the warehouses if `PS_ADVANCED_STOCK_MANAGEMENT` is truthy. (which by default is FALSE)
___
2. There is a twig template with a warehouse combination form `form_warehouse_combination.html.twig` which is rendered inside `form_shipping.html.twig` on following conditions
[code]
___
So to see the warehouse combinat

[2020-05-23 12:16] GTriber commented on #19284
@florine2623 Hello,

Yes about that.  Seems it possible could be fixed by my ISP.

Not a big deal tho :)

Thank you..
Have a wonderful weekend.

[2020-05-23 12:16] #19284 closed, assigned to nobody

[2020-05-23 15:09] emilieatelier commented on #18761
You know what, yesterday I contacted a company who will help me with my prestashop because their are different problem that i have to repair. I hope that they will help me

[2020-05-23 15:09] emilieatelier commented on #18624
You know what, yesterday I contacted a company who will help me with my prestashop because their are different problem that i have to repair. I hope that they will help me

[2020-05-23 18:11] Joel-cardenas commented on #10640
Thanks!!!!!! You are the best.

[2020-05-23 19:14] xlkiller commented on #15743
Same Probleme only with the last Line Module Translation.

Editor load for all Module Translation but not for the last.

Screenshot: https://ibb.co/tQj2zDp

[2020-05-23 20:47] burakgit commented on #19258
@florine2623
any change commit ? for this. i couldnt download 1.7.7.0 beta from https://www.prestashop.com/en/previous-versions. It gives network fault, any version couldnt be dowloaded.

[2020-05-23 21:36] ChineseNorris opened #19290 "Webservice - Authentification not working"
#### Describe the bug

After fresh install and enabling webservice the authentification keeps popping up

#### Steps to Reproduce

Just install latest prestashop version and rebuild .htaccess from friendly URLS

#### Additional information

* PrestaShop version: 1.7.6.5
* PHP version: 7.2.31

#### Solution
You have to manually add this sentence in your .htaccess

`RewriteEngine on

RewriteRule .*

[2020-05-23 22:33] The-Land-Lord commented on #19166
Update about the problem.
The origin of the problem is the theme. If I change and use the default theme, works fine, but if you select the theme that we have chosen for the store, no works. I thought that the issues only affected the approval of the store by the client, not the administration .....

[2020-05-24 06:59] sugata94 commented on #19263
Thanks for your time.

Did you just create an order and validate it by paying?
I didn't put any rules.
I will try to update to PS 1.7.6.5.

[2020-05-24 10:23] go-sudo commented on #19256
HI @khouloudbelguith any update please

[2020-05-24 10:27] elboletaire opened #19291 "Improve Webservice Security: Add login flow and user scope permissions"
#### Problem

With the current webservice implementation, no one should directly use that for developing a frontend app directly connecting to prestashop webservice. Basically because there's only one way to authenticate to the api and, once authenticated, you can do whatever has been enabled in that api key. This brings us many problems:

- We don't have a proper API login method. Users can only

[2020-05-24 10:28] elboletaire commented on #19291
BTW, this bot auto-comment is pretty useless.

[2020-05-24 11:17] ChineseNorris opened #23745 "[ps_emailalerts] specify foreach Merchant Notification an admin mail"
Hey,

#### Is your feature request related to a problem?

I've noticed that the module does allow multiple e-mails, but don't let you choose what is sent to each e-mail.
One, or more e-mails for stock and another different one for new orders.
I'm not really into this module but can help with some code if I knew where to edit the files.

#### Describe the solution you'd like

1. Download ps_emailal

[2020-05-24 15:39] elboletaire commented on #19256
Are you sure you properly downgraded and there's no other file affecting your current php version? Because that warning you shared above is a PHP 7.3 one. It does not happen if you have PHP 7.2, which makes me think that you haven't properly downgraded PHP 7.3 to 7.2.

[2020-05-24 17:17] Progi1984 commented on #16904
@LouiseBonnard 1.7.8 ?

[2020-05-24 20:18] irvine48 opened #19292 "[backoffice] rewriteRule not working on fresh install."
#### Describe the bug

Fresh install 1.7.6.5, rewriteRule not working as aspect, backoffice always need to remove /index.php from url manually to make all work.

#### Expected behavior

Load any page without redirect to access denied page.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Fresh install, delete install folder.
2. Login into admin console.
3. Click any link to reproduce

[2020-05-24 21:29] iliankirov commented on #14887
Hello! And I meet this problem a lot of times, trying to install my theme. It caused, that the steps I do was wrong. I installed the theme without problems, following the steps from this video:

https://www.youtube.com/watch?v=LuI-ynLYlGY

[2020-05-25 05:30] jonasburneika opened #19293 "Missing displayOrderConfirmation for GoogleAnalytics and FB Pixel"
#### Describe the bug

In Classic Theme displayOrderConfirmation hook is missing. This hook is very important for Orders Conversion ratings. Please inform your modules providers that this hook is no available or please add this hook to a template.

#### Expected behavior
To have all the needed hooks for order conversions monitoring.
#### Steps to Reproduce
Initiate Google Analytics code with conve

[2020-05-25 05:37] jonasburneika commented on #19293
my Pull request: https://github.com/PrestaShop/ps_googleanalytics/pull/53

[2020-05-25 07:23] #18624 closed, assigned to nobody

[2020-05-25 07:26] #18761 closed, assigned to nobody

[2020-05-25 07:56] simulbeni opened #19294 "reset Password issue when email address have capital letters"
I came across a very strange issue that customers receving empty emails like this screenshot.

Email Id was : Tre*******@P****P***B*****C****.com
![Annotation 2020-05-25 132408](https://user-images.githubusercontent.com/437314/82791328-295fac00-9e8b-11ea-8edf-0ac6261109b5.jpg)

We need to save all emails in small caps.

[2020-05-25 08:02] florine2623 commented on #19247
Can you send me an export of that product only via sql. I will try to upload it in my store to see what is going on.

[2020-05-25 08:05] alfonsolr09 commented on #19247
How can I export only that product?

[2020-05-25 08:05] florine2623 commented on #19256
@go-sudo ,
Could you make sure PHP version used is 7.2 ?

@elboletaire is right !

Thanks!

[2020-05-25 08:09] florine2623 commented on #19263
Yes I did.
Have you checked the overrides ?
Did you put debug mode ON ?

Thanks!

[2020-05-25 08:33] marionf opened #19295 "Linklist - Add multistore header"
As a merchant I want to be able to switch between contexts when I have many stores, so I can choose the store(s) I want to configure and easily see which store I am configuring

[Specifications of multistore header](https://github.com/PrestaShop/prestashop-specs/blob/7e820f30347fe69ccd3db5a99ab02ef6f7bbdd54/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

[Specs for ps_linkl

[2020-05-25 08:33] marionf opened #19296 "Linklist - Add multistore shop association block"
As a merchant, I want to be able to select one or many stores when I create or edit a block, so that I can display it on the store(s) of my choice

When a new block is added, the merchant can choose to which shop(s) the block will be associated thanks to the “shop association block” component.
The specifications of this block are described in the [multistore general specs](https://github.com/Prest

[2020-05-25 08:35] marionf opened #19297 "[EPIC] Multistore 1.7.8 - Linklist module & BO page CMS"
All the issues realted to Linklist module & BO page CMS with Multistore

## BUGS

- [x] #9795 - Linklist - Compatible multistore **`must have`**

## IMPROVEMENTS
- [x] #18965 - Position column should be displayed only in a specific store context when the multistore is enabled **`must have`**

## FEATURES
- [x] #19295 - Linklist - Add multistore header **`must have`**
- [x] #19296 - Linklist - Add

[2020-05-25 08:36] PrestaEdit commented on #19244
@Quetzacoalt91 As addJquery do nothing more than throw an error, you can call this method where you want, it will change nothing at all.

[2020-05-25 08:39] marionf commented on #19283
@florine2623 We can close this issue if it's a duplicate

[2020-05-25 08:40] marionf commented on #19187
@florine2623 we can close this issue if there is nothing to do on our side

[2020-05-25 08:40] matks commented on #19287
Hello @8i11y,

Please be aware that this bug tracker should be used to report issues only. 😉
This is a support question. You can try to contact our support. I'll close this issue.

Thanks for your understanding!

[2020-05-25 08:40] #19287 closed, assigned to nobody

[2020-05-25 09:05] sam-pires commented on #19273
Hello,
this issue is not tracked, even tough the PR has been reviewed.
Can we have some status please? 🙂

[2020-05-25 09:31] NeOMakinG commented on #13943
With vue we'll probably use an EventBus as it's recommended to do, but this is the same principle and can be done easily when we'll need it, but grids will be implemented using vue to it will be different.

For the moment, this looks fine to me :)

[2020-05-25 09:32] LouiseBonnard commented on #18810
We have just checked with @marionf and the cart total is correct, and so is the 'Réduction(s)' line. On the contrary, the amount of the second cart rule should be computed based on the new cart total:

1. first cart rule applies to the cart total = **4,20€** for **cart total of 42€**
2. second cart rules should be **3,78€** instead of 4,20€ because the **cart total is now 37,8€**

And this is what

[2020-05-25 09:36] marionf opened #19300 "Multistore - Add new header on already migrated pages"
As a merchant I want to be able to switch between contexts when I have many stores, so I can choose the store(s) I want to configure and easily see which store I am configuring

[Specs header](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

This header should be displayed on all pages already migrated

As specified

[2020-05-25 09:46] SD1982 commented on #15528
Hi @matks I have tested to reproduce on the 1.7.7.x branch and yes the issue seems to have been fixed

[2020-05-25 09:52] Gstieven commented on #19214
I'm not sure since the ticket indicates that the bug occurs from 2 articles
and involves other aspects. But yes it seems basically very linked.

Le mer. 20 mai 2020 à 18:47, LouiseBonnard <notifications@github.com> a
écrit :

[2020-05-25 09:57] #15528 closed, assigned to MatShir

[2020-05-25 10:00] lamaji opened #19301 "product indexing decrease every time I make changes"
#### Describe the bug

The auto indexing does not working.

#### Expected behavior

When I add/edit some products, the number of indexing products decrease by 2, 10 or more..

**Screenshots**
![image](https://user-images.githubusercontent.com/17889279/82802178-60779280-9e76-11ea-9d5f-5d252d050a61.png)

#### Additional information

* PrestaShop version: 1.7.6.1
* PHP version: 7.3.14

[2020-05-25 10:01] Gstieven commented on #19214
I'm not sure since the ticket indicates that the bug occurs from 2 articles and involves other aspects. But yes it seems basically very linked.

[2020-05-25 10:05] marionf opened #19302 "Multistore - Add a colorpicker on add new shop page"
As a merchant, I want to be able to select a color for my shop, so I can see easily in the header which shop is selected

add new shop page: controller=AdminShop

[Specs for the colorpicker](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/advanced-parameters/multistore/multistore.md#shop)

[2020-05-25 10:05] marionf opened #19303 "Multistore - Add a colorpicker on add new shop group page"
As a merchant, I want to be able to select a color for my shop group, so I can see easily in the header which shop group is selected

add new shop group page: controller=AdminShopGroup

[Specs for the colorpicker](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/advanced-parameters/multistore/multistore.md#shop-group)

[2020-05-25 10:11] marionf opened #19304 "[EPIC] Multistore - Messages"
## Colorpicker

## Multistore header
- [x] #19602 **`nice to have`**

## Messages (must have)

### Warning
- [ ] #23741  **`must have`**

### Header & checkboxes informations messages

### Disabled field
- [ ]  #19356 **`nice to have`**

### "Add new” actions only enabled in a specific shop context

### “Add new” pages without shop association block

### The page can be displayed only in all shops

[2020-05-25 10:14] florine2623 commented on #19247
Go to your products page
Export your products
Open the export and only leave the line regarding the product
Example :
[product_2020-05-25_120905.xlsx](https://github.com/PrestaShop/PrestaShop/files/4676681/product_2020-05-25_120905.xlsx)
With the file I will be able to import it to my test shop.

[2020-05-25 10:16] florine2623 commented on #18941
Hi @avionicom ,
Yes, ps_reassurance table is related to the old version.

The rose color is the color attributed to these icon.
If you want to change them, you need to go to the Appearance tab :
![Capture d’écran 2020-05-25 à 12 15 53](https://user-images.githubusercontent.com/16019289/82803875-92422680-9e81-11ea-9166-bf858fe9fccb.png)
Thanks!

[2020-05-25 10:32] SD1982 commented on #19184
hi @zuk3975 yes it seems that you have find another behaviour but it seems you don't have totally the same parameters than mine ( i forgot to notify this one )

**Your screenshot**
![capture d'écran_23](https://user-images.githubusercontent.com/40635814/82804669-f87b7900-9e82-11ea-9d75-405b1c71ade8.png)

**My screenshot**
![capture d'écran_22](https://user-images.githubusercontent.com/40635814/828

[2020-05-25 10:40] cdcvince commented on #19123
Yes, but you will always need 1 line per combination in DB to handle the stock, even if you have an ERP to manager these combinations. You cannot do a request to your ERP to know the stock of the chosen combination when the user select it.

[2020-05-25 10:43] jolelievre commented on #13943
Are we not using an `EventBus` already?

Anyway if this needs to be integrated, maybe we can refactor our current event management so that it relies on `EventBus` as well, this will make legacy events work the same seemlessly but still extend their scope (aka also listen to new events), wdyt?

Aside from that @matks I also agree with this idea. And regarding the doc about modern module and webpack

[2020-05-25 10:57] alfonsolr09 commented on #19247
This???

[2020-05-25 11:02] alfonsolr09 commented on #19247
This
https://drive.google.com/file/d/1F2h7jyzAT8ntn43xONOzz0wXD7mkzjQz/view?usp=drivesdk

[2020-05-25 11:03] alfonsolr09 commented on #19247
I think its the same

https://drive.google.com/file/d/1F5zvE12NpyIAP2OYnzASQAqWxn9-0uwa/view?usp=drivesdk

[2020-05-25 11:09] alfonsolr09 commented on #19247
Not all product settings appear in this file, are you sure it will work for you?

[2020-05-25 12:01] clotaire202 commented on #11622
For guys followings this thread, Paypal Official module and @COCOPOT feedbacks are not the same issue. Paypal Module publish a fix one year ago.

So please consider 202 don't have fix the original issue. @marionf solution seem have the good idea: split the discount between the 2 orders

[2020-05-25 12:07] Max84 opened #19305 "[webservice][1.7.7.0 beta1] PHP notice with webservice on php7.4"
#### Describe the bug
A php notice is displayed into webservice response, so XML is broken and webservice becomes KO.
The error is:
 [PHP Notice #8] Trying to access array offset on value of type null (C:\xampp2\htdocs\prestashop-1.7.7b1\classes\webservice\WebserviceOutputBuilder.php, line 716)

#### Expected behavior
I should get XML without PHP Notice

#### Steps to Reproduce
You can use the PSW

[2020-05-25 12:15] marionf opened #19306 "Multistore - Advanced Parameters > Administration - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:17] marionf opened #19307 "Multistore - Advanced Parameters > Email - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:29] marionf opened #19308 "Multistore - Advanced Parameters > Team > Employees - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:29] marionf opened #19309 "Multistore - Advanced Parameters > Database > SQL Manager - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs.md#specific-settings-drop-down-only-from-178)

[2020-05-25 12:30] marionf opened #19310 "Multistore - Advanced Parameters > Database > Backup - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:30] marionf opened #19311 "Multistore - Advanced Parameters > Logs - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:31] marionf opened #19312 "Multistore - Advanced Parameters > Webservice - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:31] marionf opened #19313 "Multistore - Shop Parameters > General > General - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:32] marionf opened #19314 "Multistore - Shop Parameters > General > Maintenance - Add specific settings dropdown"
## Log
24/03/2021 - Blocked by multistore header #23292

## Description

As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-25 12:32] marionf opened #19315 "Multistore - Shop Parameters > Order Settings - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:33] marionf opened #19316 "Multistore - Shop Parameters > Product Settings - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:34] marionf opened #19317 "Multistore - Shop Parameters > Customer Settings > Customers - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:34] zuk3975 commented on #19281
I've generated categories, assigning them to random parents. Here is what I found (numbers of categories - behavior):
 - < 400 - loads and works fine.
- **500** - reaches php memory limit if its less than 128mb. (raised the memory limit to _512mb_ to proceed). By the way the list is already huge, and from this number it would make sense to avoid expanding every category tree.
- 1500 - loads up fin

[2020-05-25 12:34] marionf opened #19318 "Multistore - Shop Parameters > Customer Settings > Groups - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:35] marionf opened #19319 "Multistore - Shop Parameters > Contact > Stores - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:35] marionf opened #19320 "Multistore - Shop Parameters > Traffic & SEO > SEO & URLs - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:36] marionf opened #19321 "Multistore - Shop Parameters > Search > Search - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:37] marionf opened #19322 "Multistore - International > Localization > Localization - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:37] marionf opened #19323 "Multistore - International > Localization > Geolocation - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:38] marionf opened #19324 "Multistore - International > Location > Countries - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:38] marionf opened #19325 "Multistore - International > Taxes > Taxes - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:39] marionf opened #19326 "Multistore - Shipping > Preferences - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:39] marionf opened #19327 "Multistore - Design > Theme & Logo > Theme & Logo - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:41] marionf opened #19328 "Multistore - Design > Email Theme - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:41] marionf opened #19329 "Multistore - Design > Image Settings - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:42] marionf opened #19330 "Multistore - Customer Service > Customer Service - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:43] marionf opened #19331 "Multistore - Customer Service > Merchandise Returns - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:43] marionf opened #19332 "Multistore - Orders > Invoices - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:44] marionf opened #19333 "Multistore - Orders > Credit Slips - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 12:44] zuk3975 commented on #19184
hmm it needs further investigation if you want to separate issues and see how its really behaving in one or another situation.
Anyway to sum up, the bug seems to be related with tax excluded/included config and it sometimes duplicates the cart rules and sometimes doesn't show "discounts" tab in the summary block.

[2020-05-25 12:44] marionf opened #19334 "Multistore - Orders > Delivery Slips - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-25 13:09] colinegin commented on #19246
Hello @rolige, is your issue a regression of 177 or a bug that was already existing in previous versions of 1.7 ?

[2020-05-25 13:19] PululuK opened #19336 "[Modules] productcomments row clicking action in moderate and comment list not work"
#### Describe the bug

module productcomments row clicking action in moderate and comment list not work

#### Expected behavior

These two lists are not editable. So you can deactivate the click action, to prevent people from clicking on it.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Modules > productcomments
2. Click on moderate or comment row list

#### Additional

[2020-05-25 13:30] matks commented on #19290
Hi @ChineseNorris I tried to reproduce this issue but I cannot reproduce the bug.

1) I enable webservice
2) I enable friendly URL, this modifies the .htaccess
3) I try to reach API endpoint http://MY_KEY@localhost/api and it works

[2020-05-25 13:32] matks commented on #19290
@ChineseNorris could you provide detailed steps on how to reproduce it ? maybe there's something I missed :)

[2020-05-25 13:33] matks commented on #19291
This is a welcome message 😊useless but friendly !

ping @PrestaShop/prestashop-core-developers to answer this question/suggestion

[2020-05-25 13:48] matks commented on #19292
Hi @irvine48 I tried to reproduce your issue but I could not.

See the following video:
https://drive.google.com/file/d/1boD7A7iuSfpzfpWZS0KEwaPoN3Sdazqp/view
- I install fresh 1.7.6.5
- I remove install folder, login into BO
- links work as expected

I am running php7.2 . PS 1.7.6 is not compatible with php7.3 but I dont think this is the root of the issue. Could you check again on your side ? It

[2020-05-25 13:55] jolelievre commented on #19291
Hi @elboletaire

I agree with you that these WebServices should not be used in front production for all the reasons you mentioned. Or only for simple use cases like read operations. But for now the way it's implemented doesn't allow advanced permissions nor login feature.

I think it is more designed (as you said) as a middleware for ERP or any other third party software that would need to interac

[2020-05-25 13:57] irvine48 commented on #19292
I will try again, since i new to this structure, i feedback later, i test again in a minute.

*Do this framework use rewriteRule as route?

[2020-05-25 13:58] JayWilliams74 commented on #19209
This is NO GOOD to me!!!
I am not a Software Programmer!!
I this that as a SOFTWARE SUPPORT you should get an understanding of level of knowledge! I purposely Left a response for over 24hrs, then followed it by a Double ? to see if I was going to get a response to my request to confirm if I was doing the right thing. Yet had no response so I had to go with what I thought!

I was using PRESTASHOP's

[2020-05-25 14:03] JayWilliams74 opened #19337 "Prestashop support"
*****************************************************
TIME CRITICAL RESPONSE REQUIRED!!!!!
*****************************************************************8

#19209 - CLOSED without being RESOLVED!!!!
FAILURE of @florine2623 to RESOLVE ISSUE

I this that as a SOFTWARE SUPPORT you should get an understanding of level of knowledge! I purposely Left a response for over 24hrs, then followed it by a D

[2020-05-25 14:05] matks commented on #19209
@JayWilliams74 You are mistaken. On this github repository there is no software support. This is an open source project.

I think the reason why you seem angry is that you are mistaken: again this github repository is not free a software support area, but a bug tracker.

You can find help
- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https:

[2020-05-25 14:06] matks commented on #19337
@JayWilliams74 I have explained everything here https://github.com/PrestaShop/PrestaShop/issues/19209#issuecomment-633588885

This is a bug tracker, not a support area. Consequently I close this issue.

[2020-05-25 14:06] #19337 closed, assigned to nobody

[2020-05-25 14:16] eternoendless commented on #19291
This is an issue we're aware of. We'd like to build a front office API which basically would allow you to do everything the FO does right now but through an API.

Right now it's not our priority to work on this project (our resources are limited), but we are in contact with some people who are interested in making this thing a reality. We'd like to collaborate and build it together with interested

[2020-05-25 14:16] elboletaire commented on #19291
Agree. Plus there are some inconsistency issues in the current Webservice, plus everything is being properly integrated and using the symfony core; there are many reasons to revamp the entire Webservice, yes.

As said, I did something to (more or less) fix the security issues for my client, so it's not something I need, but is something I do think prestashop should have properly designed and imple

[2020-05-25 14:36] CIMEOS commented on #19110
Sorry for this late response.
Hi @LouiseBonnard, thanks for your reply!
I forgot to mention that B2B client mode is disabled. Most targeted customers are private individual, that's why we detect companies accounts regarding VAT number only. We did not define a "Company" group for customers.

@LouiseBonnard I think this is a **code issue** since an override of Cart.php getOrderTotal solved it.
![Ca

[2020-05-25 14:53] matks commented on #19244
@Quetzacoalt91 FYI  am working on porting `addCss()` and `addJS()` functions for Symfony controllers in https://github.com/PrestaShop/PrestaShop/pull/19277

As for `addJQuery()`, the phpDoc says
[code]

So if we use `addJQuery()` to attempt to make the 2 lists identical (1.7.6 and 1.7.7) we will have jQuery included twice ?

[2020-05-25 14:56] eternoendless commented on #19224
Hey @Kioob, thanks for the head up. I've requested an update to our release manager so that the autoloader optimization is performed on the project's modules.

Regarding the documentation, I'm not sure I understand what you expect it to say. Why not consider submitting a pull request?

[2020-05-25 15:15] jmmotos opened #19340 "Cart Rule Problem"
Hello, I have tried to put a discount for a category in my store using the Cart Rules and creating it with the following parameters (see image) and the problem is that in the summary of the order and therefore in the final price a discount of 10% but in the price with taxes. That is, if I sell a laptop for € 121, when using the discount it leaves me at € 100 instead of starting from the price with

[2020-05-25 15:15] zuk3975 opened #19341 "Refacto Order shipping recomputing to avoid duplication cart and firing inappropriate hook"
#### Describe the bug

When editing address through order view page, after saving the address, a "updateQty" method is invoked and therefore the hook `actionCartUpdateQuantityBefore` is fired. This is wrong time to fire this hook, so apparently something is wrong (some form is being submitted which shouldn't or whatever, haven't explored it yet).

#### Expected behavior

Above-mentioned hook shoul

[2020-05-25 15:17] #11625 closed, assigned to PierreRambaud, TristanLDD, colinegin

[2020-05-25 15:19] #14715 closed, assigned to nobody

[2020-05-25 15:35] eternoendless commented on #19243
Unfortunately removing this dependency would be a breaking change, so we can't do it until the next major (unless we're forced to for some reason).

[2020-05-25 15:45] Rolige commented on #19246
To be honest I’m not sure if it’s a regression or not, which is clear is that this bug didn’t exist in the previous stable release.

[2020-05-25 15:47] marionf commented on #14770
@matks Yes, the top bar with product name, product type, language selector, buttons: sales / product list / help and also to the footer bar: preview, delete, online / offline, save, duplicate, go to catalog and add new product

[2020-05-25 15:47] matks commented on #19243
## Possible workarounds
- remap classes autoload by using custom autoloader so another new class can do the job
- put file with same namespace and name inside the core but content is different

Only the file location would change.

## Possible reasons to justify the BC
- probably a waste of CPU as a single-file library is not worth it
- package is maintained by a single developer and does not seem

[2020-05-25 16:21] ChineseNorris commented on #19290
@matks  Strange, maybe this is from a server configuration issue? However the .htaccess is always regenerated by Prestashop from friendly URLS, the only option that works is by adding the rewrite:
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

I'm not really an expert in .htaccess configuration, but that line solves the issue.
I try to reach API from the link you suggested but same

[2020-05-25 16:31] colinegin commented on #19197
Hello @6xthFNGR ,

I've just tested it, and you can actually remove customer messages with bulk action.
But it is true that it could still be improved, for instance with message status changed with bulk.
(same as in the order page).

[2020-05-25 16:43] colinegin commented on #19198
It seems that there are 2 bugs here :
- SEO preview is not working for the home category
- display issue when saving the home category - there are several options IMO when we save the root category :
1/ remove the banner with the breadcrumb
or
2/ show the same breadcrumb as when the user is on the category level 1 listing
or
3/ show the category level 1 listing (same as when you click on Categorie

[2020-05-25 17:45] sotirisa opened #19342 "Analytics doesn't track right"
#### Describe the bug

After installing the analytics module and after running for some days bounce rate is close at zero and that is wrong. I think that something has to do with the plugin. Because I install the code manually and the bounce rate was normal but I can not track my purchases like that.

#### Expected behavior

Bounce rate is 30-40% in most sites. I saw this also in p.s 1.6 but I tho

[2020-05-25 18:38] sugata94 commented on #19263
Yes I checked the cart rules. There was an old one for free shipping.
I migrated succesfuly to PS 1.7.6.5 but nothing changed!

I turned on debug mode.
I have an error when I create an order about missing email template ("new_order").
Nevertheless the order is completed: a complete mess!
The last command I got 9 articles listed, but I put only 3 articles in my cart.
BTW I looked in the cart after

[2020-05-25 18:58] Matt75 commented on #18500
Fixed with ps_mbo v2.0.0

[2020-05-25 19:00] Matt75 commented on #14698
I think this is fixed in ps_mbo v2.0.0

[2020-05-25 19:01] Matt75 commented on #17124
Fixed with ps_mbo v2.0.0

[2020-05-25 19:10] Matt75 commented on #13110
Should be fixed by https://github.com/PrestaShop/PrestaShop/pull/18554

[2020-05-25 21:37] Alexandr-Vall commented on #15152
Tell me, the wording indicated in the topic can be expected in version 1.7.7

[2020-05-26 02:29] emflomed17 opened #19344 "Table of the Confirmation Order Email is not displayed correctly"
#### Describe the bug

The order confirmation email is not displayed correctly.

#### Expected behavior

The table with the summary of the order should be displayed correctly

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a new order.
2. Open the confirmation order email
3. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your p

[2020-05-26 03:49] arouiadib commented on #19090
Hello guys,

In 1.7.7.x, the calculation is correct.
![image](https://user-images.githubusercontent.com/23559010/82858491-f14c7d80-9f0b-11ea-9e86-1a05e608cf82.png)

Thanks

[2020-05-26 04:16] wxiaoguang commented on #15358
It is a smarty bug, please upgrade the smarty to the latest one:

https://github.com/smarty-php/smarty/blob/master/CHANGELOG.md

[3.1.35] - 2020-04-14

* fix errors that occured where isset was replaced with null check such as https://github.com/smarty-php/smarty/issues/453

[2020-05-26 07:18] pjlarsson opened #19345 "Displays incorrect in backend"
#### Displayed incorrectly

The fields are cutted on the left side in the product settings.

#### Expected behavior

I want to see the whole row.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Catalog/Products
2. Click on a product
3. Scroll down...
4. See error

**Screenshots**

![Skjermdump_052620_090028_AM](https://user-images.githubusercontent.com/65942796/82871246-9037a0

[2020-05-26 07:40] matks commented on #17131
So great to see people contributing together on this topic 😊

[2020-05-26 07:50] NeOMakinG commented on #13943
I think that if events aren't sent to vue components yet, this is not needed for the moment, at the time we send events to Vue components, we'll need to add an EventBus to our event system

[2020-05-26 07:51] Quetzacoalt91 commented on #19244
And this is because of this "nothing" we encounter issues. Previously, even if jQuery would be anyway included, we could chose its position in the assets list. This would allow modules to order the list, so they can add their own scripts relying on it.

I should be included only one time. PrestaShop filters redundant assets.

https://github.com/PrestaShop/PrestaShop/blob/3112ecde59959ab42fa6ee9ea2

[2020-05-26 08:22] matks commented on #19290
OK, I have found something weird 😅

With Firefox, if I try to reach endpoint `http://MY_KEY@localhost/api` it works
But with Chrome, `http://MY_KEY@localhost/api` does not work

However it happens both with current codebase and your suggestion. Your suggestion does not make Chrome work.

How do you reach API endpoint ? Browser HTTP request ? cURL client like Postman ? or CLI cURL ?

There is defin

[2020-05-26 08:23] hassan-1985 opened #19346 "ps_themecusto module keeps loading for ever on fresh 1.7.6.5"
### Describe the bug

ps_themecusto module keeps loading for ever!

The problem is that this "pages customization" is not functioning at all (circle 2 in the attached pic). It seems the module is still loading for ever (circle 1 in the attached pic).

I cannot customize the pages, when put the crosser on the menu or slider or whatever, nothing is changing (circle 3 in the attached pic).

Please he

[2020-05-26 08:40] ChineseNorris commented on #19290
That's definetly odd, I'm approaching the API with firefox, I haven't even been able to begin with the API 😅
I haven't tested yet with cURL or CLI.
I agree that there is something to be fixed and it's being really hard to identify

[2020-05-26 08:47] tsarnow commented on #19130
Hi @florine2623, the problem is not the screen function.
The problem happens if some extension for example runs the following php code (as mentioned in the ticket as well):

`$product = new Product($id_product, false, $this->context->language->id);
$product->update();`

We used the extension `advanced seo` which get called every page reload and these guys used the mentioned code above. This behavi

[2020-05-26 08:59] sarahdib commented on #19090
@kenlog Thank you for the report I manage to reproduce the issue
You can see in my screenshot the value of the cart rule is not the same that the one in the cart. The total is correct only the display is not correct

<img width="1141" alt="Capture d’écran 2020-05-26 à 10 50 45" src="https://user-images.githubusercontent.com/3034677/82881252-bfeda500-9f3f-11ea-8e24-bd276fe81790.png">

[2020-05-26 09:00] PierreRambaud opened #19348 "Remove useless token in URL"
#### Is your feature request related to a problem?

The URL contains token which is currently useless. The value never changes and only depends on the customer and not on the session.
Since you can simply retrieve the `_token` value in the page source, you can build request from it.

#### Describe the solution you'd like

Two solutions:
- Make the token updated on each request to generate a new on

[2020-05-26 09:01] chunpat opened #19349 "MacOS Mojave 10.14.4 install"
#### Describe the bug
i want to use PrestaShop in my MacOS Mojave 10.14.4 by git clone。but php-fpm.log show the message。
[code]

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings

[2020-05-26 09:06] marionf commented on #17124
@PrestaShop/prestashop-qa Could you check if it's well fixed with ps_mbo v2.0.0 and close this issue if it is ?

[2020-05-26 09:07] marionf commented on #9722
@PrestaShop/prestashop-qa Could you check if this issue is fixed with ps_mbo v2.0.0 and close it if it is ?

[2020-05-26 09:07] marionf commented on #14698
@PrestaShop/prestashop-qa Could you check if it's well fixed with ps_mbo v2.0.0 and close this issue if it is ?

[2020-05-26 09:07] marionf commented on #18500
@PrestaShop/prestashop-qa Could you check if it's well fixed with ps_mbo v2.0.0 and close this issue if it is ?

[2020-05-26 09:11] matks commented on #19290
@PierreRambaud I believe `.htaccess` is like an open book for you, would you please help us ?

[2020-05-26 09:11] Progi1984 commented on #17600
@LouiseBonnard PR for TranslationFiles :heavy_check_mark:  : https://github.com/PrestaShop/TranslationFiles/pull/10

[2020-05-26 09:26] colinegin commented on #19098
Hello @arouiadib and @Matt75 ,

after discussing with @matthieu-rolland we think that the best way to fix this would be to prevent merchants from deleting an order status which is used in at least one order.
If there is at least one order with the order status, when the merchant will try to delete it, he will get an error message.

We think this is easier than applying a soft delete we can cause s

[2020-05-26 09:39] mahdimedia opened #19350 "Round mode and Round typ"
I use Bahrain currency
Are three decimal places

Round mode and Round typ
It does not work forever and there is no effect

I want to round the number up next even value

![gpjDPV](https://user-images.githubusercontent.com/2321818/82884916-1b725f80-9f4d-11ea-81ab-14cf019bb0be.png)

![tQ5RSB](https://user-images.githubusercontent.com/2321818/82885221-8754c800-9f4d-11ea-8ce5-5e8baca0f5ec.png)

[2020-05-26 10:05] arcofins opened #19351 "BO - View of an order - Wrong name of product in the list"
#### Describe the bug

In my back office, when i click on a order, i have sometimes some wrong names displayed on the screen. The reference is the good one but the name of the product is not good.

#### Expected behavior

I want to see the good product name on the product list (content of an order)

#### Steps to Reproduce

Steps to reproduce the behavior:

On y back office, i go on the order view

[2020-05-26 10:07] arcofins commented on #19351
![Capture d’écran 2020-05-26 à 11 55 51](https://user-images.githubusercontent.com/65950828/82888344-7c983400-9f49-11ea-8880-b0d819f77ad3.png)

New screenshot with some explanation

[2020-05-26 10:19] jolelievre commented on #19291
Hi again @elboletaire

I would be curious about how you managed a safe auth for front, is it a sublayer of the current Webservice API? If you are willing to maybe this could be a feature to add through a PR. Maybe not something perfect like a total refacto, but at least an improvement for front uses?

[2020-05-26 10:31] jolelievre commented on #19199
@LouiseBonnard indeed a it's a bug that needs to be fixed, I'm not sure it's this complicated either Ideally it just requires to check the feature is enable in a controller and redirect to a 404 if needed

@clotaire202 I'm not sure there is such a threat from a security point of view since user shouldn't be able to access critical information anyway, but maybe I'm minimizing the problem

If there'

[2020-05-26 10:41] LokeshVarman opened #19352 "Class not found exception"
Sorry, Since i am new to this. Please help me .Thanks in advance

![image](https://user-images.githubusercontent.com/30750553/82891510-7ca92b80-9f6b-11ea-9c52-442847b5f6da.png)

[2020-05-26 10:54] Matt75 commented on #19098
@colinegin I don't understand, you means not use flag `deleted` ? Or not display OrderState with flag `deleted` in OrderState dropdowns ?

For example with PrestaShop Checkout, when a merchant uninstall the module, OrderState created by the module are flaged as deleted so they should not be in OrderState dropdowns but Order passed should work as before. Goal is to not let Merchant to use a flagged

[2020-05-26 11:42] sam-pires commented on #17131
hi @clotaire202,

Sorry for the delay to answer you.

- Cart => No breadcrumbs, as it is the beginning of the purchase funnel, there needs to be as less "distraction" possible.
- Notfound => No breadcrumbs, it is a common practice to not let breadcrumbs on this page.

[2020-05-26 11:53] marionf opened #19353 "Multistore - Advanced Parameters > Administration - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/multistore

[2020-05-26 11:55] marionf opened #19354 "Multistore - Advanced Parameters > Email - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 11:55] marionf opened #19355 "Multistore - Advanced Parameters > Team > Employees - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 11:56] marionf opened #19356 "Multistore - Advanced Parameters > Database > SQL Manager - Disable field"
As specified in the [multistore specials cases specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-of-pages--fields-for-specific-case-4-if-a-group-or-a-specific-shop-is-selected-some-fields-are-disabled-and-dont-have-checkboxes-allowing-to-enable-them), if a group or a specific shop is selected, some fields are disabled and don’t have ch

[2020-05-26 11:57] marionf opened #19357 "Multistore - Advanced Parameters > Database > Backup - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 11:57] marionf opened #19358 "Multistore - Advanced Parameters > Logs - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 11:57] marionf opened #19359 "Multistore - Advanced Parameters > Webservice - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 11:59] colinegin commented on #19098
Alright, thanks for your feedbacks.

After further discussion with @matthieu-rolland and @MatShir, we actually changed our mind :)  the best solution we have found is :
- flag the order status as deleted
- leave it visible in the order status droplist (with (deleted) displayed) the status deleted until another one is selected
- once another one is selected, remove it from the droplist so that it c

[2020-05-26 12:02] marionf opened #19360 "Multistore - Shop Parameters > General > General - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:26] marionf opened #19362 "Multistore - Shop Parameters > General > Maintenance - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:26] marionf opened #19363 "Multistore - Shop Parameters > Order Settings - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:27] marionf opened #19364 "Multistore - Shop Parameters > Product Settings - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:27] marionf opened #19365 "Multistore - Shop Parameters > Customer Settings > Customers - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:27] marionf opened #19366 "Multistore - Shop Parameters > Customer Settings > Groups - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/b912faba2d354ec41851fd37b5c97e89350a3b79/

[2020-05-26 12:28] marionf opened #19367 "Multistore - Shop Parameters > Contact > Stores - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/b912faba2d354ec41851fd37b5c97e89350a3b79/

[2020-05-26 12:29] marionf opened #19368 "Multistore - Shop Parameters > Traffic & SEO > SEO & URLs - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:29] marionf opened #19369 "Multistore - Shop Parameters > Search > Search - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/b912faba2d354ec41851fd37b5c97e89350a3b79/

[2020-05-26 12:29] sarahdib commented on #19294
Hello @beniwal

Thank for reporting this issue.

Could you indicate which prestashop version you found this in order to try to reproduce ?

Thank you

[2020-05-26 12:30] marionf opened #19370 "Multistore - International > Localization > Localization - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:30] marionf opened #19371 "Multistore - International > Localization > Geolocation - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:31] marionf opened #19372 "Multistore - International > Location > Countries - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:31] marionf opened #19373 "Multistore - International > Taxes > Taxes - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:31] marionf opened #19374 "Multistore - Shipping > Preferences - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:32] marionf opened #19375 "Multistore - Design > Theme & Logo > Theme & Logo - Remove multistore toggle"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

Checkboxes are already implemented on this page for the following fields:
- Header logo
- Mail logo
- Invoice lo

[2020-05-26 12:32] marionf opened #19376 "Multistore - Design > Email Theme - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:32] sarahdib commented on #19301
Hello @arradijamal

PrestaShop 1.7.6 isn't compatible with php 7.3
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Please try to downgrade to php 7.2 and check again.

I close this issue, feel free to open a new issue if the problem is still there after downgrading your php version.

Thank you

[2020-05-26 12:33] marionf opened #19377 "Multistore - Design > Image Settings - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/b912faba2d354ec41851fd37b5c97e89350a3b79/

[2020-05-26 12:33] #19301 closed, assigned to nobody

[2020-05-26 12:33] marionf opened #19378 "Multistore - Customer Service > Customer Service - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/b912faba2d354ec41851fd37b5c97e89350a3b79/

[2020-05-26 12:34] marionf opened #19379 "Multistore - Customer Service > Merchandise Returns - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:34] DianaButkute opened #19380 "FO - Product - If a pack contains customizable product I cannot customize it when I add pack to cart"
#### Describe the bug

Creating the product pack and adding the product which has customization like text (as example I am selling the t-shirt and client can write custom text on the t-shirt). After the product select into the BO I do not see the inputs where can I insert my custom values.

#### Expected behavior

The customization fields (text or files) should appear into the BO when creating pac

[2020-05-26 12:34] marionf opened #19381 "Multistore - Orders > Invoices - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:34] marionf opened #19382 "Multistore - Orders > Credit Slips - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:34] marionf opened #19383 "Multistore - Orders > Delivery Slips - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs

[2020-05-26 12:42] cedricfontaine commented on #19124
With the hook displayAdminLogin we have implemented our own oAuth2 authentication system. We still rely on Prestashop employee table but authentication is managed outside. It works well for us.

[2020-05-26 12:43] shawe commented on #17770
@caos30 I bypassed problems like this removing all inside var/cache

[2020-05-26 12:54] colinegin commented on #18526
ping @TristanLDD, what's the status of the empty state ?

[2020-05-26 12:55] sarahdib commented on #19340
Hello @jmmotos
Could you send us a screenshot of the tab action and the display of the cart rule in the cart in order to understand better the issue.

Thank you

[2020-05-26 13:23] elboletaire commented on #19291
I don't think this should be added to the core code because what I've done is adding an additional layer of security to the current webservice. Now my client app has two api keys defined in the webservice:

- The old one, with all the required permissions for the frontend app, only used internally by my module.
- The new one, only giving permissions to my "proper api" module (that's its name, yes.

[2020-05-26 13:25] sarahdib commented on #19344
Hello @emflomed17

I didn't reproduce the issue
<img width="566" alt="Capture d’écran 2020-05-26 à 15 20 34" src="https://user-images.githubusercontent.com/3034677/82905733-83807000-9f64-11ea-9fdc-d09fcd240827.png">
This is the email sent using a PrestaShop 1.7.6.4 & Php 7.1

Did you change the template ?

[2020-05-26 13:25] Quetzacoalt91 commented on #19293
Hi @jonasburneika,

The hook `displayOrderConfirmation` actually exists on the classic theme. It is being displayed here https://github.com/PrestaShop/PrestaShop/blob/36b4b18d5927de38cb879ed5f757b4eccf6ebf46/themes/classic/templates/checkout/order-confirmation.tpl#L30-L32

And sent by the controller via a variable:
https://github.com/PrestaShop/PrestaShop/blob/36b4b18d5927de38cb879ed5f757b4eccf6eb

[2020-05-26 13:26] colinegin commented on #19341
@sarahdib is it a regression ?

[2020-05-26 13:27] marionf opened #19386 "Multistore - Shop parameters > Traffic & SEO > Referrers - Add checkboxes"
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/b912faba2d354ec41851fd37b5c97e89350a3b79/

[2020-05-26 13:27] marionf opened #19387 "Multistore - Shop parameters > Traffic & SEO > Referrers - Add specific settings dropdown"
As a merchant, I want to be able to see if a parameter has a different value for another store when I am in "all shops" context or in a group context, so I can know to which stores the change I am making will be applied

[Specs specific settings dropdown](https://github.com/PrestaShop/prestashop-specs/blob/9783996765a46d3d7197e4f7cd7098ffb7e37ff2/content/1.7/back-office/multistoregeneralspecs.md#s

[2020-05-26 13:32] sarahdib commented on #19345
Hello @pjlarsson

PrestaShop 1.7.6.4 isn't compatible with php 7.3 and php 7.4 you should downgrade your php to 7.2.

I close this issue. If the problem is still there when you downgrade php feel free to open a new issue in order to try to reproduce.

Thank you

[2020-05-26 13:32] #19345 closed, assigned to nobody

[2020-05-26 13:37] sarahdib commented on #19346
Hello @hassan-1985

I didn't reproduce the issue, you can see my screenrecord.
https://drive.google.com/file/d/1p0Pz6Eq-sYu_JOC6_0pQF57jHZ9q7SoT/view

Which module version did you use ?

Thank you

[2020-05-26 13:38] pjlarsson commented on #19345
Thanks Sarah, It worked! :)

[2020-05-26 13:41] tomazpu opened #19388 "Payment module order status email template generation"
#### Is your feature request related to a problem?

Yes, we are creating a custom order status. The order status needs a custom email template. But we found no "module" way of generating an email template that we are able to use for the order status email.

We see that the functionality is in PrestaShop -> https://devdocs.prestashop.com/1.7/modules/concepts/mail-templates/add-a-layout-from-module

[2020-05-26 13:42] sarahdib commented on #19349
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

Thanks for your understanding!

[2020-05-26 13:42] #19349 closed, assigned to nobody

[2020-05-26 13:45] sarahdib commented on #19350
@mahdimedia

Could you provide me more information :
PrestaShop Version :
Php Version :

Thank you

[2020-05-26 13:48] sarahdib commented on #19352
Hello @LokeshVarman

Please could you explain the step to reproduce and your prestashop version ?

Thank you

[2020-05-26 13:53] LokeshVarman commented on #19352
Prestashop 1.7.5.6

[2020-05-26 13:57] jonasburneika commented on #19293
Hi, @Quetzacoalt91 thanks for your explanation. It seems correct, but I have maybe 3 separate projects with this error. That customer had complained about not seeing GA and FB pixel conversions. After adding directly hook to .tpl file, conversions were registered.

I will look deeper into this.
Thx again, @Quetzacoalt91

[2020-05-26 14:18] Progi1984 commented on #16842
Fixed by #17502

[2020-05-26 14:18] #16842 closed, assigned to nobody

[2020-05-26 14:18] #9692 closed, assigned to NeOMakinG, khouloudbelguith

[2020-05-26 14:26] Quetzacoalt91 commented on #19293
On our side we used the module with the classic theme, and orders are reported properly (interface on the screenshot is written in French, but shows the created orders).

![image](https://user-images.githubusercontent.com/6768917/82912237-bf1b3a00-9f64-11ea-9520-bccdce1f4b72.png)

If you're using the classic theme on the 3 shops, you should check the module is properly registered on the hook "disp

[2020-05-26 14:38] Progi1984 commented on #16904
@LouiseBonnard After discussion with @PrestaShop/prestashop-core-developers, I can remove from localizationPacks the FranckCFA in these two files. But the "Eco" currency is not actually defined in CLDR so I can't add it.

Ok with that ?

[2020-05-26 15:03] Progi1984 commented on #19193
Relative PR on core & LocalizationFiles : https://github.com/PrestaShop/LocalizationFiles/pull/2

[2020-05-26 15:09] drwebbe commented on #13354
When in catalog-mode, prices are still being shown in the search-results dropdown

[2020-05-26 15:13] SD1982 opened #19393 "CART RULE - cart rule is applied even when you disabled"
#### Describe the bug

If a Cart rule for cheapest product is created but not enabled and if a second cart rule is created and enabled the first one is displayed and enabled in the FO

#### Expected behavior

The cart rule must not be applied and displayed if not enabled

#### Steps to Reproduce

Steps to reproduce the behavior:

- [ ] Test1
1. Go to the BO => Catalog => Discounts => Create a new

[2020-05-26 15:26] matks commented on #19305
@Max84 thank you for feedback 😉

We really need tests for webservice 😭

[2020-05-26 15:32] LouiseBonnard commented on #16904
Let's wait for the 1.7.8. @sowbiba told me yesterday that the _Eco_ should definitely replace the _Franc CFA_ next September but it might be delayed. Without further information, I suggest we keep it as is for version 1.7.7 and include this change in the next minor version. :-)

[2020-05-26 15:36] rriempie opened #19394 "After upgrade from 1.7.5.1 to 1.7.6.5 i can't view some customers from backend"
Hi,

After upgrade from 1.7.5.1 to 1.7.6.5 i can't view some customers from backend and some customers are having problems logging in or can't login at all. I used the 1-click-upgrade module and did get some errors and did not completely finish.

I finished the upgrade manually and everything is working now except i can't view the customers from the backend and get an error.

Unexpected error: [Pr

[2020-05-26 15:44] MatShir commented on #18526
The design is done, we are waiting for the wording to have the final results. @Junebyun @LouiseBonnard 😉

[2020-05-26 15:46] clotaire202 commented on #19199
We are agree that there is an issue and that's probably not critical. Access to a none authorized page without possibility to exploit something... We wait for the security guru to know the severity level.

I've just added the PR to fix it in case it should be fixed quickly.

[2020-05-26 15:53] colinegin commented on #18526
Can you share the design in the issue description please ?

[2020-05-26 15:59] marionf opened #19396 "Multistore - Order > Order - Disable add new button in all shops or in a group context and add message on hover"
Currently, the button  “Add new order” is enabled in all shops or in a group context and a message is diplayed when you click on it "You have to select a shop before creating new orders."

To avoid frustration, we should inform the merchants earlier

As specified in the [multistore specials cases specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspe

[2020-05-26 16:01] mahdimedia commented on #19350
PrestaShop Version : 1.7.7 and 1.7.6
Php Version : 7.1

[2020-05-26 16:14] marionf opened #19397 "Multistore - Customers > Customers - Disable add new button in all shops or in a group context and add message on hover"
Currently, the button  “Add new customer" is not displayed in all shops or in a group context without more informations for the merchant who doesn't know why

To avoid frustration, we should inform the merchants earlier

As specified in the [multistore specials cases specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-of-pages-for-specif

[2020-05-26 16:15] MatShir commented on #18526
@TristanLDD I will let you edit the description with the Invision link with the final result :)

[2020-05-26 16:20] sowbiba commented on #16904
I will let you know if it happens

[2020-05-26 16:51] c4chale opened #19398 "combination->setAttributes not working with multiple attributes"
### Describe the bug

I am creating a combination using the new Combination() method and adding the attributes with `setAttributes($attributes_id);`

When I set `$attributes_id` with an id only it works as aspected yet I am trying to combine 2 attributes and the, as shown in the screenshot 1, it only shows one (the first one inputted).

### Expected behaviour

The combination should have both attr

[2020-05-26 16:52] emflomed17 commented on #19344
Hi @sarahdib thanks for replying!

No, I did not update the template but there other people working in the website.

Could you share me the template of your order confirmation email? O would like to replace mine.

[2020-05-26 17:27] arouiadib commented on #19090
@sarahdib , thank you for your time.
About the second part (your second red rectangle), the problem is fixed today after the merge of #17502 (Although it is not the problem originally mentioned by @kenlog; as you can see from original picture taken when still voucher were displayed as percent, while today, vouchers are dispayed as amounts).

I think @kenlog is talking about the first part (your fi

[2020-05-26 17:41] VegaRaveloOscar commented on #12042
Buenas tardes, me ha pasado lo mismo al migrar mi tienda. ¿Pudiste solucionarlo? Gracias

[2020-05-26 18:58] pmartin-webimpacto commented on #14889
This is in my opinion it's a : Must Have.

I'm thinking also on an JWT Authenticated API,   and Endpoints to GET the Current Logged User Data.  Examples:
  - /api/user  (returns MY Logged customer data)
 -  /api/user/address  (return MY Logged customer data) .

[2020-05-26 21:34] gadnis commented on #18698
Hi @PierreRambaud and everyone! could you tell if prestashop has sync queue events helper like Laravel has (if you familliar with it).

I mean is there functionality to queue any event to db and later trigger it using php?

[2020-05-26 22:53] RomanD85 commented on #19136
Hi,
I have the same problem as @lmatab .
Can you help me with that?

[2020-05-27 05:44] beniwal commented on #19294
my version is 1.7.62

[2020-05-27 06:07] juraj1000 opened #19401 "Back office => Payment => Preferences => Error"
Hello,
I want to change payment preferences on the back office but the page generates the error:

Internal Server Error
The server encountered an internal error or misconfiguration and was unable to complete your request.
Please contact the server administrator, [no address given] and inform them of the time the error occurred, and anything you might have done that may have caused the error.
More

[2020-05-27 06:31] hassan-1985 commented on #19346
Hi Sarahdib,
I used this https://github.com/PrestaShop/ps_themecusto,

[2020-05-27 06:36] Progi1984 commented on #16904
@LouiseBonnard I move this issue to "Blocked" column waiting for more informations.

@sowbiba Thanks ;)

[2020-05-27 06:42] Progi1984 commented on #19199
@PierreRambaud If it's ok for you, the PR can go to the QA Hands ;)

[2020-05-27 06:57] flavius commented on #15332
@PrestaShop/prestashop-core-developers Thanks for the nice history recap. So how would you like to move forward?

[2020-05-27 07:15] zuk3975 commented on #19341
By the way, the Address form should be opened in modal, not a new page. (same behavior as in order create page), isn't it? (because now it seems to be forgotten. It opens up in a new page)

[2020-05-27 07:49] prestascott commented on #19198
Hi everyone,

Currently the breadcrumb seems separated from its category because of 2 different blocks.
IMO, we shouldn’t remove the banner with the breadcrumb but go for @colinegin  second proposition. Breadcrumb should appear above the list so the user knows where he is. First thing to do is to put the breadcrumb and the list in the same block to have a better reading.

Wdyt?

[2020-05-27 08:00] marionf commented on #18820
Hello,
Since we had no news from you for more than 30 days, I close this issue. Feel free to open another one if you can provide more details.
Thank you!

[2020-05-27 08:00] #18820 closed, assigned to nobody

[2020-05-27 08:01] marionf commented on #18815
Hello,
Since we had no news from you for more than 30 days, I close this issue. Feel free to open another one if you can provide more details.
Thank you!

[2020-05-27 08:01] #18815 closed, assigned to nobody

[2020-05-27 08:03] marionf commented on #18846
Hello,
Since we had no news from you for more than 30 days, I close this issue. Feel free to open another one if you can provide more details.
Thank you!

[2020-05-27 08:03] #18846 closed, assigned to nobody

[2020-05-27 08:04] marionf commented on #18760
Hello,
Since we had no news from you for more than 30 days, I close this issue. Feel free to open another one if you can provide more details.
Thank you!

[2020-05-27 08:04] #18760 closed, assigned to nobody

[2020-05-27 08:16] marionf commented on #19082
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.
Feel free to open another one if you can provide more details.

Best regards.

[2020-05-27 08:16] #19082 closed, assigned to nobody

[2020-05-27 08:26] PierreRambaud commented on #19199
This one needs to target the 1.7.7.x branch. As it says, seeing an unauthorized page is a security issue. Even if it's minor.

[2020-05-27 08:34] PierreRambaud commented on #18698
@gadnis AFAIK, PrestaShop doesn't have a similar system, but having a queue will become mandatory for many reasons.
1. Can stack emails and use a retry system
2. Having a history of email sent
3. Can resend emails if needed
4. Make page faster to execute

[2020-05-27 08:35] marionf commented on #19305
@PrestaShop/prestashop-core-developers Could you try to reproduce this issue ?

[2020-05-27 09:11] Progi1984 commented on #12982
@colinegin The PR is actually gone in QA. ;)

[2020-05-27 09:11] marionf commented on #19351
Hello @arcofins

This is not a bug, this can happen if you have many languages installed
The name of the product in the order corresponds to the language used by your customer when ordering
Maybe you are not using the same language as your customer and maybe the product name is different depending on the languages

[2020-05-27 09:11] #19351 closed, assigned to nobody

[2020-05-27 09:17] marionf commented on #19380
Hello @DianaButkute

Are you talking of the back-office or front-office ?
In BO, it's normal as you should configure the customizable field in the customizable product and not in the pack

[2020-05-27 09:26] PierreRambaud commented on #19290
Hi @matks and @ChineseNorris
I found many problems here:
1. The htaccess is not automatically regenerate when editing the Webservice configuration
![image](https://user-images.githubusercontent.com/1462701/83001985-c7c74b00-a00c-11ea-864b-312e73ba3192.png)
2. The HTTP_AUTHORIZATION is only added in CGI mode (https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Tools.php#L2602)
But yes, it

[2020-05-27 09:31] Progi1984 commented on #19199
Thanks @PierreRambaud

[2020-05-27 09:35] matks commented on #19290
So looks like we have to do 3 PRs:
- one to make sure .htaccess is re-generated when we modify 1 setting related to webservice configuration
- one to rename this "Enable CGI Mode" setting to something better
- one to fix this configuration, following @ChineseNorris suggestion

Am I right ?

[2020-05-27 09:38] eramirezprotec opened #19403 "After updating to 1.7.7.0, my module stopped working"
#### Describe the bug

After updating from 1.7.6.5 to 1.7.7.0, my module stopped working.

#### Expected behavior

My module uses the following hooks:

- backOfficeHeader
- actionAdminControllerSetMedia
- displayAdminProductsExtra
- actionProductSave
- actionProductDelete

The last three are not working.

I already uninstalled and installed the module and deleted the cache. It's still not working.

[2020-05-27 09:39] Progi1984 commented on #18831
Fixed by #18875

[2020-05-27 09:39] #18831 closed, assigned to Progi1984

[2020-05-27 09:45] marionf commented on #19388
Hello @tomazpu

You can create a new template directly in the folder /mails/_language_
And after you can select this template in the order status

Regards

[2020-05-27 09:45] #19388 closed, assigned to nobody

[2020-05-27 09:53] arcofins commented on #19351
You're the best!

Thanks a lot

Le mer. 27 mai 2020 à 11:11, marionf <notifications@github.com> a écrit :

--
*François DESROZIERS*
Gérant

*Le Clown Bar*
*114, rue Amelot *
*75011 Paris*
*01 43 55 87 35*

*Nos vins sont sans chimie et notre cuisine sans artifice.*

[2020-05-27 10:07] tomazpu commented on #19388
Hi @marionf,

Is this the module way of creating an email template? So if I understand correctly:

my_module_name/mails/en/my_email_order_state_template

I need a way of doing this with a module, not directly in the shop.

Best Regards

[2020-05-27 10:16] zuk3975 commented on #19341
I've found the reason. Command handlers (ChangeOrderDeliveryAddressHandler and ChangeOrderInvoiceAddressHandler) which are executed to update the address of order are calling $cart->refreshShippingPrice() which inside calls the updateQty() method and that triggers the hook.
So anyway, first we `need to make sure its a regression` (if it was called in 1.7.6 too, then this strange behavior should st

[2020-05-27 10:22] zuk3975 commented on #14405
Related combinations discussion #19123

[2020-05-27 10:25] armeniovganga commented on #15343
Work for me Thanks

[2020-05-27 10:27] Junebyun commented on #18526
@MatShir @TristanLDD here's the empty state for the order list page 😃

**Manage your orders**
_Find all your orders on this page and access their main information in one click: check the cart total, the payment method, the shipping details, or if it comes from a new client. You can even update the status from the listing!_

[2020-05-27 10:40] ChineseNorris commented on #19290
Yep, that seems to fix the issue. However if you activate or deactivate CGI mode for PHP, you have to regenerate the .htaccess manually by changing some parameter in SEO & Urls.

[2020-05-27 11:09] crc30 opened #19405 "Unable to save product, post error 504"
#### Describe the bug
When we update the products only with combinations, post request show error 504
When turn on dev mode result in green success message confirmation but products are not updated after a refresh we cant see the modification in any fields

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'product with combinations'
2. Click on 'save'
3. See error

**Screenshots

[2020-05-27 11:27] DragoshDX opened #19406 "PS 1.7.6.4 setAllowAnonymous method not found on AdminSearchController"
#### Describe the bug

Hello.
While trying to rebuild the search index manually, I get:

Attempted to call an undefined method named "setAllowAnonymous" of class "AdminSearchController".

Doesn't matter if I choose to rebuild the whole index or just add the missing products (obviously the same issue is with the cron URL)

Go to Shop Parameters > Search and hit any rebuild index link. It should giv

[2020-05-27 11:50] matks commented on #19406
Strange, function `isAnonymousAllowed ` has been added in 1.7.6.2 https://github.com/PrestaShop/PrestaShop/pull/15855

[2020-05-27 11:52] matks commented on #19406
@DragoshDX I can see the function in the codebase for tag 1.7.6.4 : https://github.com/PrestaShop/PrestaShop/blob/1.7.6.4/classes/controller/AdminController.php#L4860

Can you check again on your shop ? Maybe someone modified the core code of prestashop so it's not up-to-date with github ?

[2020-05-27 12:20] marionf commented on #19398
Hello @PrestaShop/prestashop-core-developers Could you try to reproduce this issue ?

[2020-05-27 12:40] clotaire202 commented on #17131
@sam-pires last PR added cart breadcrumb into backend code. The theme could show or not the breadcrumb on cart page.

According to [this previous list](https://github.com/PrestaShop/PrestaShop/issues/17131#issuecomment-627948224) all breadcumb are now defined.

[2020-05-27 12:46] marionf commented on #19394
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.

![capture d'écran_2627](https://user-images.githubusercontent.com/13449658/83020496-da4f7d80-a028-11ea-8070-525366ebc284.png)

![capture d'écran_2628](https://user-images.githubusercontent.com/13449658/83020484-d58ac980-a028-11ea-9f8d-249f85a2bbac.png)

I invite you to contact our support team: ht

[2020-05-27 12:46] #19394 closed, assigned to nobody

[2020-05-27 12:47] sam-pires commented on #15440
See #17131 for all the rework on breadcrumbs

[2020-05-27 12:47] #15440 closed, assigned to nobody

[2020-05-27 12:49] marionf commented on #19401
Hello,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- php error logs
- apache error log
- javascript console log
- screenshots
...

You don't know how to get this information? Please read the following article:
http://build.prestashop.com/ho

[2020-05-27 12:54] marionf commented on #19403
@PrestaShop/prestashop-core-developers Could you try to reproduce this issue ?

[2020-05-27 13:04] Junebyun commented on #19142
- [ ] **Orders** > **Orders** - _Status_ (canceled, delivered etc...)

- [ ] **Customers** > Customers - Enabled (Yes / No)

Field: Enabled (Yes / No)
Notification : The status has been successfully updated.

- [ ] **Customers** > **Customers** - _Enabled_ (Yes / No)

Field: Enabled (Yes / No)
Notification : The status has been successfully updated.

- [ ] **Customer Service** > **Merchandise Retu

[2020-05-27 13:05] Junebyun commented on #19142
@LouiseBonnard list is updated! 😃

[2020-05-27 13:10] marionf commented on #19405
Hello,

Despite our several trials, and as you can see in the screenrecord below, we could not reproduce your issue with the provided information on the last 1.7.7 version.

https://drive.google.com/open?id=1Peq0LfXMJd9lc-i2EhgZkIul_mF8Ed5w

I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards.

[2020-05-27 13:10] #19405 closed, assigned to nobody

[2020-05-27 13:11] valentin-anamorphik commented on #15503
Same problem

[code]

[code]

[2020-05-27 13:13] madsoliver opened #19408 "Hook for modifying TinyMce"
It would be useful to alter the `tinySetup(config)` function.

Maybe add a (PHP)-hook somewhere to assign a JS-variable: `tinyMceOverrides` so one can do something like this:

    function hookTinyMceConfigDefault(&$config){
          $config['toolbar1' = "code,colorpicker,bold,italic,underline,strikethrough,blockquote,link,align,bullist,numlist,table,image,media,mysuperspecialtoolbarmagictrick";

[2020-05-27 13:14] LouiseBonnard commented on #19142
Great work, thanks @Junebyun, do not hesitate to complete the list directly in my comment with the 'Edit' button, it will allow us to get the overview of all the wordings used:

<img width="734" alt="Capture d’écran 2020-05-27 à 15 10 53" src="https://user-images.githubusercontent.com/32565890/83022796-58f9ea00-a02c-11ea-845c-85c7dffabd5b.png">

[2020-05-27 13:23] marionf commented on #19388
Sorry, I can't help you to create a module. You should ask this kind of questions on [the forum](https://www.prestashop.com/forums/)

[2020-05-27 13:25] marionf commented on #19408
@PrestaShop/prestashop-core-developers WDYT of this improvement ?

[2020-05-27 13:35] Junebyun commented on #19142
😮 Done!

[2020-05-27 13:38] MatShir commented on #18803
Hi @alfonsolr09,
Could you share us more about the context of the needs? Have you or your customer forgotten a product in the order? How do you proceed exactly and can you describe the steps you occur with your client?

The more information you share, the easier it will be for us to understand the need and prioritize it :smile:

Just be carefully, legally, your client should not have 2 different v

[2020-05-27 13:47] MatShir commented on #19132
@Caleydon Nice catch, IMO the best solution will be to have the page displays with a tax or without tax depending on the customer group, like B2B business could display without tax and B2C with tax included for example

[2020-05-27 13:59] alfonsolr09 commented on #18803
-I explain a little.

A customer buys an item, processes the order and pays for it.
Call me that same afternoon to add another item to your order, I add it, but you cannot pay for that item from that same order without generating a new one.

 - I tell you another example, with the same functionality but applied in another way.

An older client who does not know how to pay online, tells me that he

[2020-05-27 14:04] marionf opened #19410 "Multistore - Customer service > Order message > Add new order message - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

This is specified in the [multistore specia

[2020-05-27 14:11] marionf opened #19412 "Multistore - Design > Images settings > Add new image type - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

This is specified in the [multistore specia

[2020-05-27 14:13] marionf opened #19413 "Multistore - International > Locations > States > Add new state - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

This is specified in the [multistore specia

[2020-05-27 14:16] marionf opened #19414 "Multistore - International > Taxes > Taxes > Add new tax - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

This is specified in the [multistore specia

[2020-05-27 14:17] marionf opened #19415 "Multistore - Shop parameters > Customer settings > Titles > Add new title - Add information message"
Currently, this page doesn't have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

This is specified in the [multistore spec

[2020-05-27 14:22] marionf opened #19416 "Multistore - Shop parameters > Traffic & SEO > SEO & URLs > Add new page - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

This is specified in the [multistore specia

[2020-05-27 14:24] marionf opened #19417 "Multistore - Shop parameters > Traffic & SEO > Search engines > Add new search engine - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

This is specified in the [multistore specia

[2020-05-27 14:26] marionf opened #19418 "Multistore - Shop parameters > Search > Search > Add new alias - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

This is specified in the [multistore specia

[2020-05-27 14:28] marionf opened #19419 "Multistore - Shop parameters > Search > Tags > Add new tag - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

This is specified in the [multistore specia

[2020-05-27 14:30] marionf opened #19421 "Multistore - Advanced parameters > Team > Profiles > Add new profile - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

This is specified in the [multistore specia

[2020-05-27 14:31] marionf opened #19422 "Multistore - Advanced parameters > Database > SQL Manager > Add new SQL query - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

This is specified in the [multistore specia

[2020-05-27 14:33] marionf opened #19423 "Multistore - Advanced parameters > Database > DB Backup > Create a new backup - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

This is specified in the [multistore specia

[2020-05-27 14:55] marionf opened #19424 "Multistore - Design > Position - Do not display content and update message in all shops or in a group context"
Currently, this page isn't working in all shops or in a group context
The current information message is "If you want to order/move the following data, please select a shop from the shop list."

To avoid bad behaviors and for a better understanding, we should display ONLY the information message in these contexts and update the current message for the following one:
"Note that this page is availab

[2020-05-27 14:58] #18549 closed, assigned to Progi1984

[2020-05-27 14:58] marionf opened #19425 "Multistore - Payment > Payment methods - Do not display content and update message in all shops or in a group context"
Currently, this page isn't working in all shops or in a group context
The current information message is "You have more than one shop and must select one to configure payment."

To avoid bad behaviors and for a better understanding, we should display ONLY the information message in these contexts and update the current message for the following one:
"Note that this page is available in a single sh

[2020-05-27 15:01] marionf opened #19426 "Multistore - Payment > Preferences - Update message in all shops or in a group context"
Currently, this page isn't working in all shops or in a group context
The current information message is "You have more than one shop and must select one to configure payment.."

For a better understanding, we should update the current message for the following one:
"Note that this page is available in a single shop context only. Switch context to work on it."

This is specified in the [multistore

[2020-05-27 15:04] PierreRambaud commented on #19408
Look a good idea :+1:

[2020-05-27 15:07] PierreRambaud commented on #19403
Duplicates of #19246

[2020-05-27 15:07] PierreRambaud commented on #19246
It must be in the 1.7.7.x since it a regression, it was working on the previous version regarding #19403

[2020-05-27 15:19] marionf commented on #19408
@PierreRambaud Could you update the labels ?
Is there something to specify or is it ready to be developed ?

[2020-05-27 15:20] Progi1984 commented on #17480
@micka-fdz PR merged : PrestaShop/ps_emailalerts#43

[2020-05-27 15:22] Robin-Fischer-PS opened #19427 "Back-Office Notifications not displayed on migrated page and when showing only messages"
#### Describe the bug

On develop only :
- On BO, notifications are not displayed on migrated pages.
- Also, when only "Show notifications for new messages" is selected, notifications are not displayed

#### Expected behavior

Notifications should always be displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Have an environment with new orders, new customers and new messages
1

[2020-05-27 15:25] Matt75 commented on #19246
Can be reproduced with https://github.com/Matt75/testhookdisplayadminproductsextra

[2020-05-27 15:29] #10723 closed, assigned to Progi1984

[2020-05-27 15:29] #18938 closed, assigned to Progi1984

[2020-05-27 15:33] jf-viguier commented on #19179
@sowbiba any news here ?

[2020-05-27 16:39] Gionny996 opened #19430 "Add states to the United Kingdom localization pack"
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'International'
2. Click on 'Localization'
3. Select United Kingdom in "Localization pack you want to import"
3. Import States
4. Go to 'location>states'
5. Nothing States for United Kingdom

**Screenshots: https://prnt.sc/sovu00**

* PrestaShop version: 1.7.6.1
* PHP version:  7.3.18

[2020-05-27 16:47] colinegin commented on #19098
FYI @matthieu-rolland and @MatShir you can find detailed specifications of the improvement here : https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/shop-parameters/order-settings/Order%20Setting%20%3E%20Statuses%20Page.md

[2020-05-27 16:57] PierreRambaud commented on #19408
ping @NeOMakinG it's up to you to define the best way to customize TinyMce :wink:

[2020-05-27 17:12] JorgeNogueiraLFMPro opened #19432 "Module ps_shoppingcart don't work"
Hi,

I have a problem in my cart.
When I click the add to cart button, the units added to the cart do not appear at the top of the page. It only appears after refreshing the page or if we change the page.
In Module Shopping cart, Ajax option i have activated.

![image](https://user-images.githubusercontent.com/49063138/83051149-7dae8b80-a045-11ea-8aee-f0bcdfb93096.png)

Steps to reproduce the beha

[2020-05-27 20:49] go-sudo commented on #19256
Hi @florine2623 I added the php info with my previous answer https://bit.ly/3gkmZlZ

[2020-05-27 20:54] go-sudo commented on #16135
Hello
It's not recommended to install Prestashop from Plesk  or upload ZIP from file manager, I uploded the files with FTP and everything works correctly
Regards

[2020-05-27 21:14] arouiadib commented on #19432
Hi @JorgeNogueiraLFMPro ,
thank you for your time, could you please tell if it is similar to https://github.com/PrestaShop/PrestaShop/issues/16665?

the drive link doesn't work for  me. Thanks in advance

[2020-05-27 21:22] PululuK opened #19435 "[BO][IMPROVIMENT] Add and stay button in Module position form"
## Is your feature request related to a problem?

Add a "Save and Stay" button in Module position form.

## Describe the solution you'd like

In some context, it is tedious to hook a module on several positions. Add a "Save and Stay" button in Module position form.

### > Before

![and-sty](https://user-images.githubusercontent.com/16455155/83072342-e3633d80-a06e-11ea-9a09-22ef007712ac.png)

### >

[2020-05-27 22:46] Gipielle commented on #15427
I got this error with prestashop 1.7.6.5:

[2020-05-27 16:46:53] php.INFO: User Deprecated: Tools::displayPrice() is deprecated since version 1.7.6.0. Use PrestaShop\PrestaShop\Core\Localization\Locale::formatPrice() instead. {"exception":"[object] (ErrorException(code: 0): User Deprecated: Tools::displayPrice() is deprecated since version 1.7.6.0. Use PrestaShop\\PrestaShop\\Core\\Localization\\L

[2020-05-28 06:30] juraj1000 commented on #19401
Hello,
I'm sending detail information:

- how to reproduce: BO =>Payment => Preferences
=> and the system displays error:

**This page isn’t working**
xxx.com is currently unable to handle this request.
HTTP ERROR 500

- log files
[prod.log](https://github.com/PrestaShop/PrestaShop/files/4693608/prod.log)
[dev.log](https://github.com/PrestaShop/PrestaShop/files/4693610/dev.log)

- configuration in

[2020-05-28 06:47] tomazpu commented on #19388
Hi @marionf,

sorry but, I think you need to know as PrestaShop if the shop framework for the modules allows adding templates for order states. According to my research and looking at the PrestaShop code it's not, as the Order Status view only looks for templates in the root PrestaShop mail folder. This is a big issue for us as we ship are module we have no access to write something into the root

[2020-05-28 06:48] thbl opened #19436 "Prestashop 1.7.6.5 - order_conf email is missing variables (BUG)"
When creating my own Order Status, and applying an existing email template to it, when the email is sent, there is missing information.

Steps to reproduce :
- BO : Create new order status, choose option Send Mail and chose template
- FO : Place an order
- BO : Change order status with your newly create status
- Mail received with missing variables
![Capture d’écran 2020-06-01 à 16 31 44](https:

[2020-05-28 06:54] olecorre commented on #19179
I'm faced with the same problem as @jf-viguier

[2020-05-28 07:00] Matt75 commented on #19388
Hi,

Yes you can send mail with your module, sorry about lack of documentation, we work to improve it.
So create your template :
my_module_name/mails/en/my_email_order_state_template.txt
my_module_name/mails/en/my_email_order_state_template.html

Then on your module install/upgrade add or create your custom OrderState : https://github.com/PrestaShop/paymentexample/blob/5304fec4e4c5e888ae4bc9d68e6b

[2020-05-28 07:21] matks commented on #15427
This message tells you that you are using a function that is [deprecated](https://en.wikipedia.org/wiki/Deprecation#Software_deprecation) and you should use something else: `PrestaShop\PrestaShop\Core\Localization\Locale::formatPrice()`

[2020-05-28 07:50] tomazpu commented on #19388
Hi @Matt75,

thank you very much!

Best Regards

[2020-05-28 08:01] florine2623 commented on #19435
Hi @PululuK !
Thanks for the request :)
Please stay stuned.

[2020-05-28 08:02] florine2623 commented on #19435
Hi @PrestaShop/prestashop-product-team ,

Can this feature be implemented in Module position form ?

Thanks!

[2020-05-28 08:03] NeOMakinG commented on #19408
@onklmaps does it has to alter the whole config, like if the var exist, take the var, else take the default config used in prestashop? I'll need some helps for the backend part @PierreRambaud :p

[2020-05-28 08:08] Gipielle commented on #15427
Hello, but the classes/Tools.php is prestashop 1.7.6.2 standard file

[2020-05-28 08:09] JorgeNogueiraLFMPro commented on #19432
Hi,

Not similar to #16665.

Look now the video.

https://drive.google.com/open?id=1Cr93h0JhQIcyPwfAc5ygHiCg6tXVjlQU

[2020-05-28 08:14] matks commented on #15427
Yes, it stays there in order to help you migrate 😉

The idea is the following:
1) People use Tools
2) We need to modify Tools behavior, so we create a new class that works better: Locale
3) We add this deprecation message to tell people "Stop using tools, use Locale !"
4) People who use Tools see the message and modify their code to use Locale
5) When every people using Tools have stopped using it

[2020-05-28 08:20] florine2623 commented on #18855
Hi @hasanshaker
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2020-05-28 08:20] #18855 closed, assigned to nobody

[2020-05-28 08:23] florine2623 commented on #19432
Hi @JorgeNogueiraLFMPro ,
Can you enable debug mode and add a product to cart ?
Let me know if there are any errors ?
Also, what theme are you using ?
Thanks!

[2020-05-28 08:29] florine2623 commented on #19136
Hi @RomanD85 ,
Make sure you are using PHP 7.2 if you are installing PrestaShop 1.7.6.5.
Here's the compatibility check : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Also I can't reproduce the issue.
Please check with your host as the error might come from there.
Thanks!

[2020-05-28 08:32] florine2623 commented on #19256
Ok, thanks !
When you go back to your Information Page, what error do you have now ?

[2020-05-28 08:37] matks commented on #19256
Multiple people noticed indeed that Information or Performance BO pages are slow lately

[2020-05-28 08:38] florine2623 commented on #19344
Hi @emflomed17 ,
Your issue seems to be the same as : https://github.com/PrestaShop/PrestaShop/issues/18790#issuecomment-618902253
Please follow the steps there !

[2020-05-28 08:39] JorgeNogueiraLFMPro commented on #19432
Hi,
I enable the debug mode but when i click on the add to cart button nothing happens, it stays on the product page and shows no error. It's like the button doesn't have a defined path.

Theme: child_classic Version 1.0.0

[2020-05-28 08:40] florine2623 commented on #19352
Hi @LokeshVarman ,
Please share the exact steps so we can reproduce the issue to help you.

If you need personalized help, please contact the support at PrestaShop : https://addons.prestashop.com/en/388-support
Thanks!

[2020-05-28 08:41] florine2623 commented on #19432
Can you check the console of your browser also ?

[2020-05-28 08:43] JorgeNogueiraLFMPro commented on #19432
Look the image.

![image](https://user-images.githubusercontent.com/49063138/83119441-a24b4780-a0c7-11ea-846b-6a045a9e5ae7.png)

[2020-05-28 08:46] florine2623 commented on #19340
Hi @jmmotos ,
If your tries are ok, I will close this issue then. Feel free to reopen another one if needed.
Thanks!

[2020-05-28 08:46] #19340 closed, assigned to nobody

[2020-05-28 08:50] florine2623 commented on #19401
Hi @juraj1000 ,
Could you enable debug mode please and go back to the page with error ?
BO > Advanced Parameters > Performance > Debug Mode : YES

Or in file /config/defines.inc.php, change
`define('_PS_MODE_DEV_', false);`
to
`define('_PS_MODE_DEV_', true);`

Thanks!

[2020-05-28 09:10] florine2623 commented on #19263
Can you screenshot the error you have regarding the missing template ?
You can check in /var/logs/

I think it's best if you contact the support and provide them with all the info of BO and FTP, so it would be easier to find the root cause of your issue.
Thanks!

[2020-05-28 09:14] florine2623 commented on #19436
Hi @thbl ,
What version of PrestaShop are you using ? PHP version ?
Can you detail the exact steps to reproduce your issue ?
Thanks!

[2020-05-28 09:16] thbl commented on #19436
@florine2623
php 7.2 prestashop 1.7.6.5
steps alrady descriped in link

[2020-05-28 09:44] matks commented on #19179
@jf-viguier Putting this small logic inside Product will make the Product ObjectModel grow bigger and it contains already 7000 lines of code 😅

Maybe we can find another way to enable you to customize this behavior ?

I see the logic we discuss about comes from `public function processProductCustomization($product, $data)` is called in `public function formAction($id, Request $request)`:
[code]

S

[2020-05-28 09:44] jmmotos commented on #19340
Ok at this moments. Sorry for inconveniences and a lot of thanks for all.

En 28 de mayo de 2020 10:46:47 florine2623 <notifications@github.com> escribió:

[2020-05-28 09:47] olecorre commented on #19179
For my case, I set up a module allowing to personalize the product, I control if a personalization field exists and if it does not exist, I would like to create it automatically except that it is not possible.

[2020-05-28 09:48] SD1982 commented on #19001
Fixed by #19338

[2020-05-28 09:48] #19001 closed, assigned to nobody

[2020-05-28 09:59] eramirezprotec commented on #19403
I don't think this ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/19246. In that ticket, there is only one problem being mentioned: the displayAdminProductsExtra hook not working.

But this ticket also mentions that there are two more hooks not working: actionProductSave and actionProductDelete.

@PierreRambaud

[2020-05-28 10:09] florine2623 commented on #19346
Hi @hassan-1985 ,
I can't reproduce your issue on fresh install 1.7.6.5 with module ps_themecusto v1.0.10.
Do you have any error on console ?
What happens when you enable DEBUG mode ?
Thanks!

[2020-05-28 10:11] #18304 closed, assigned to atomiix, khouloudbelguith

[2020-05-28 10:12] MatShir commented on #18803
Thanks for your explanation @alfonsolr09,

For this part, I recommend you to create a manual order and share the link or send it by email that is located at the bottom of the page as you can see on the screenshot below.
![Capture](https://user-images.githubusercontent.com/43613217/83126749-923c6380-a0d9-11ea-9cbc-29764c01c4b1.PNG)

Here, I see the missing feature to finish your order. It looks dur

[2020-05-28 10:15] MatShir commented on #17081
@JevgenijVisockij, be careful on your migration PR, there is a Pr for the https://github.com/PrestaShop/PrestaShop/issues/19199 that will be merged for the 1.7.7 very soon.
thanks @LouiseBonnard

[2020-05-28 10:17] florine2623 commented on #19350
Hi @mahdimedia ,

What exactly is the issue here ?
How can I reproduce it ? Please share the steps !
Thanks!

[2020-05-28 10:18] juraj1000 commented on #19401
Hi,
I switched on the debug mode and then I clicked BO > Payment > Preferences, but the system generated only blank page without any information.
Then I switched off the debug mode and I clicked again BO > Payment > Preferences and now it works !!! It is strange.

[2020-05-28 10:20] florine2623 commented on #19247
Yes it will work, in the import feature, you can choose to ignore some column if they are not needed.
I can't reproduce your issue again :/
When you recreate entirely this product from scratch, do you have this issue ?

[2020-05-28 10:24] florine2623 commented on #19430
Hi @Gionny996 ,
First, please downgrade to PHP 7.2. Here's the compatibility chart of PrestaShop :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Second, in the xml file for the UK, there aren't any states available.
You can check that in /localization/gb.xml
You can add them manually for now.
Thanks!

[2020-05-28 10:25] florine2623 commented on #19430
Hi @PrestaShop/prestashop-product-team ,

Do you think it is possible to add the states for the UK in PS ?
@Gionny996 's issue is present of PS 1.7.6.5 and PS 1.7.7 beta.

Thanks!

[2020-05-28 10:30] florine2623 commented on #19401
Ok good news then if it work! Can this issue be closed ?

[2020-05-28 10:34] dvitcompte commented on #16067
Hello everyone.

The problem is still there,
tested on PrestaShop 1.7.6.3 1.7.6.4 and 1.7.6.5, with ps_facetedsearch module in versions 3.4.1 and 3.5.0
Any update or information ?

PrestaShop version: 1.7.6.3 1.7.6.4 and 1.7.6.5
Faceted search version: 3.4.1 and 3.5.0
PHP version: 7.2.22 and 7.2.31

Regards,

[2020-05-28 10:37] florine2623 commented on #19432
Can you deactivate module nrt popup newsletter ?
As well as deactivate your overrides. Folder `override` becomes `_override`.

[2020-05-28 10:42] florine2623 commented on #19272
Hi @PrestaShop/prestashop-core-developers ,
Is it possible that you take a look at @Eva-F 's issue ?
Thanks!

[2020-05-28 10:45] MatShir commented on #14775
- Use a constant for decimal precision for ecotax computation #18861

[2020-05-28 10:49] MatShir commented on #19179
What the customizable flag of a product allows to do? Add new label and input for a custom product?
To understand the priority of this issue.

[2020-05-28 11:00] MatShir commented on #18751
Before adding to the ToDo column, we need to check if it impacts or can be solve during the migration of the product page.

[2020-05-28 11:18] MatShir commented on #14752
If more people show interest for this feature, here the option to consider:
- Order the status with an index on the order status page. I will sort by the merchant priority the label on the label listing on the order view page and the order listing page.
- Add a new parameter to hide the status on the back-office. This one can be tricky for the user experience and to implement.
- Find a way for the

[2020-05-28 11:28] JorgeNogueiraLFMPro commented on #19432
I activated the module and overrides. And the page stops working.

![image](https://user-images.githubusercontent.com/49063138/83136043-b51d4680-a0de-11ea-8827-29e3187f4890.png)

[2020-05-28 11:48] MatShir commented on #14763
new issue to prioritize: https://github.com/PrestaShop/PrestaShop/issues/18636

[2020-05-28 11:49] olecorre commented on #19179
The flag allows to know if the product has customization fields or not. In the BO of the product file if you manually add a customization field, the flag is modified.
If I add a customization field via a module and therefore a book, it is deleted because the processing of customization fields is done afterwards. Forcing the flag in the module is the same, cancelled.

[2020-05-28 11:53] jakub-swierk commented on #14025
Some hosting providers define root directory same as ps root directory.

In this situation:

In `defines.inc.php`
[code]
So `$currentDir` is equal to `/config`.

[code]

After that, the `_PS_ROOT_DIR` and `_PS_CORE_DIR_` is equal to `/`.
Because of that we have situation where `getUriFromPath` is removing slashes from url:

[code]

[2020-05-28 11:58] matks commented on #19403
Reopening then

Thank you for testing the beta !

[2020-05-28 11:59] onklmaps commented on #19408
@NeOMakinG Like you say sounds like the best way (if the var exist, take the var, else take the default config) 😃

[2020-05-28 12:00] matks commented on #18647
It would be great to be able to track the reported issues for beta and update this issue with the number of bugs to be fixed before RC1 😄

[2020-05-28 12:02] MatShir commented on #19430
@LouiseBonnard should we add it to this epic - https://github.com/PrestaShop/PrestaShop/issues/17564 ?

[2020-05-28 12:09] zuk3975 commented on #18751
the form field for combinations doesn't have a default value, so it is not submitted and therefore issues "undefined index".
This shouldn't be hard to fix if its only enough to provide default value or a "isset/empty" check.

[2020-05-28 12:10] clotairer opened #19439 "displayAdminOrderTabLink and displayAdminOrderTabContent not available"
#### Describe the bug

We create a test module to show that displayAdminOrderTabLink and displayAdminOrderTabContent  are not available.

![image](https://user-images.githubusercontent.com/52157233/83138854-b86aff00-a0eb-11ea-8626-da84588ac56c.png)

The tab cannot be displayed.

[This code always return 0](https://github.com/PrestaShop/PrestaShop/blob/6cd77a56c5c7705589185c8ce5709f109c5b54af/src/P

[2020-05-28 12:12] MatShir commented on #18762
We should do the same when we are on the checkout, it's a nice improvement.

[2020-05-28 12:13] matks commented on #19439
Function `hookCount()` has a bug which is why it is not usable for now.

Bugfix is on the way https://github.com/PrestaShop/PrestaShop/pull/19216

[2020-05-28 12:14] florine2623 commented on #19432
Can you enable debug mode ?
Advanced Parameters > Performance > Debug mode YES

Or in config/defines.inc.php
`define('_PS_MODE_DEV_', false);`
becomes
`define('_PS_MODE_DEV_', true);`

[2020-05-28 12:19] clotaire202 commented on #19439
I confirm your PR #19216 fix our bug

Thank you

[2020-05-28 12:27] eternoendless commented on #18647
IMO that's what the [kanban](https://github.com/PrestaShop/PrestaShop/projects/7) is for.

[2020-05-28 12:27] JorgeNogueiraLFMPro commented on #19432
Done!

[2020-05-28 12:30] DragoshDX commented on #19406
Looks like you are right, but my AdminController file simply doesn't have that method...
It may be before we added our code to git and I can't see any changes to see if someone might have intentionally deleted the method.

Maybe it will get fixed when we upgrade to 1.7.7 which I plan for 2020.

Anyway, if this is just me and the method is there, I guess we can close this?

[2020-05-28 12:35] matks commented on #19406
You can easily add the method again into the code 😄 it's a small one. It's intented to allow unauthenticated users to use BO controllers (for example cron jobs).

If your file has been changed, the Upgrade Assistant will detect it and flag it as a blocking item for the upgrade. It compares file checksums to find this.

Yes indeed.

If you need further help, it might be easier on the Slack channel

[2020-05-28 12:35] #19406 closed, assigned to nobody

[2020-05-28 12:56] florine2623 commented on #19432
Ok, do you have access to your page now ? What is the error shown ?

[2020-05-28 12:57] #19439 closed, assigned to nobody

[2020-05-28 12:57] #18707 closed, assigned to nobody

[2020-05-28 12:58] JorgeNogueiraLFMPro commented on #19432
I can't acess yto my page now.

![image](https://user-images.githubusercontent.com/49063138/83144437-3f6ba780-a0eb-11ea-9659-a0fb5dcedce7.png)

[2020-05-28 13:01] MatShir commented on #9576
When the user opens an empty product page, PS fulfil mandatory inputs has the price at 0 and so on. But the context is changed, they are not added, strange.

[2020-05-28 13:06] florine2623 commented on #19432
Can you go into your module folder and comment module psograph ?
`psographe` becomes `_psograph`

[2020-05-28 13:11] JorgeNogueiraLFMPro commented on #19432
Done!

[2020-05-28 13:15] rdy4ever opened #19440 "Replace "defunct" material-design-icons"
#### Is your feature request related to a problem?

[material-design-icons project](https://github.com/google/material-design-icons) was pretty much abandoned by Google. Even though new icons were added in the font, the github project (and npm package) was abandoned years ago.

#### Describe the solution you'd like

Replace the library with [Material Design Icons DX](https://github.com/jossef/mate

[2020-05-28 13:23] LouiseBonnard commented on #19430
Hi @Gionny996 and @MatShir, yep, you can only add them manually in the back office. By default, states are added to the code only for countries whose address format requires states for deliveries. Like for India, cf. https://github.com/PrestaShop/PrestaShop/pull/15627.

It does not seem to be the case for Great Britain so we probably won't do it on our end but if you ever feel like improving this

[2020-05-28 13:24] jf-viguier commented on #19179
@matks the customizable flag is not extracted from the POST array.
I confirm : if my customization module set his own custom fields (other POST fileds), this code remove the just created custom fields from database.

[2020-05-28 13:25] alfonsolr09 commented on #19247
how to initialize the product from scratch?

[2020-05-28 13:26] jf-viguier commented on #19179
For me, the customizable flag has to be in a Product ObjectModel method that can be changed by a hook or an override.

[2020-05-28 13:27] Borgas commented on #18930
@Progi1984 maybe was a issue with Firefox
Uninstalled and fresh install of firefox and no issues with BO recovery acess

Closed!

[2020-05-28 13:29] florine2623 commented on #19432
so ? How's the page ? is it working ?

[2020-05-28 13:29] zuk3975 opened #19441 "Require product name field in object model"
#### Describe the bug

Product object model field "name" is not required. It was probably made to allow creating "ghost" product in product creation.

#### Expected behavior

Make name required in object model.
This would introduce BC break. The main question if its worth it, or custom validation should be added to AddProductHandler (being migrated for product page in 1.7.8) instead to avoid the B

[2020-05-28 13:30] JorgeNogueiraLFMPro commented on #19432
Page it's working. But button no.

[2020-05-28 13:30] florine2623 commented on #19247
I meant recreate the same product, without duplicating it.
You can go directly to your Product page in the BO and add a new product with the same info manually.

[2020-05-28 13:31] zuk3975 commented on #19441
@matks, @eternoendless, @jolelievre ?

[2020-05-28 13:34] florine2623 commented on #19432
Did you do a migration or is it a fresh install ?

[2020-05-28 13:35] JorgeNogueiraLFMPro commented on #19432
New installation.

[2020-05-28 13:41] Progi1984 commented on #19273
Fixed by #19274

[2020-05-28 13:41] #19273 closed, assigned to Quetzacoalt91

[2020-05-28 13:57] florine2623 commented on #19432
If you have a module Group Inc, comment it.
![Capture d’écran 2020-05-28 à 15 56 45](https://user-images.githubusercontent.com/16019289/83150698-de989b00-a0fb-11ea-8613-e94ef1d3799f.png)

[2020-05-28 13:57] colinegin commented on #12682
@MatShir has this issue been fixed with the migration of create order page ?

[2020-05-28 13:58] colinegin commented on #15458
ping @jolelievre do you know what is the status of this issue ?

[2020-05-28 14:02] Progi1984 commented on #19199
Fixed by #19395

[2020-05-28 14:02] #19199 closed, assigned to nobody

[2020-05-28 14:06] JorgeNogueiraLFMPro commented on #19432
Yes i have this module.

[2020-05-28 14:11] florine2623 commented on #19294
Hi @beniwal ,
I managed to reproduce your issue with PS 1.7.6.5. On PS 1.7.7 beta this issue is solved.
So I would advise you to wait for the release of PS 1.7.7 stable and upgrade.
Here's the release article of PS 1.7.7 Beta :
https://build.prestashop.com/news/prestashop-1-7-7-0-beta-release/

_On 1.7.6.5, with capital letters on email address :_
![Capture d’écran 2020-05-28 à 16 05 36](https:/

[2020-05-28 14:11] #19294 closed, assigned to nobody

[2020-05-28 14:13] florine2623 commented on #19432
Then comment it and go back to your page please

[2020-05-28 14:14] clotairer opened #19442 "Generated voucher not displaying in the cart summary for a customer"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Vouchers that were generated by the module are not displayed in the cart summary.

![image](https://user-images.githubusercontent.com/52157233/83151826-56b39080-a0fd-11ea-90ae-178a225665fd.png)

In voucher settings, setting "Highlight" is enabled

![image](https://user-images.githubusercontent.com/5

[2020-05-28 14:14] florine2623 commented on #19440
Hi @rdy4ever ,
Thanks for the recommendation, please stay tuned as I ping our product team.
Thanks!

[2020-05-28 14:15] JorgeNogueiraLFMPro commented on #19432
Look the erros

![image](https://user-images.githubusercontent.com/49063138/83152799-1ef51a80-a0f6-11ea-82ab-41e4df73c0aa.png)

[2020-05-28 14:16] florine2623 commented on #19440
Hi @PrestaShop/prestashop-core-developers ,

@rdy4ever would like to have a new library available in PS to use new icons, is this possible ?

Thanks!

[2020-05-28 14:17] Progi1984 commented on #18930
Thanks @Borgas :)

[2020-05-28 14:17] #18930 closed, assigned to nobody

[2020-05-28 14:48] rdy4ever commented on #19440
Actually, it's the same library, just updated.

[2020-05-28 15:00] PierreRambaud commented on #19408
@onklmaps @NeOMakinG Agreed! But maybe use `var defaultTinyMceConfig` to be less generic in the variable name :)

[2020-05-28 15:10] matks commented on #19441
I agree with this. I think integrity is more important that the small BC break it will create.
But @eternoendless decision is needed

[2020-05-28 15:16] florine2623 commented on #19432
Have you deactivate the module groupinc ? If no, please do it.

Also, this is a bug tracker platform, not a support platform. If you need personalized help, please contact the support here : https://addons.prestashop.com/en/388-support
Thanks!

[2020-05-28 15:17] clotaire202 commented on #19442
The PR is published. We just add a check to verify if voucher code is defined or not. If the voucher is not defined then, the voucher is now in 1.7.7 automatically applied and the highlight is not necessary.

[2020-05-28 15:17] florine2623 commented on #19436
Does the email address of the customer receiving this contain capital letters ?
It might be linked to : https://github.com/PrestaShop/PrestaShop/issues/19294
Please check and let me know

[2020-05-28 15:25] Progi1984 commented on #19440
Ping @NeOMakinG

[2020-05-28 15:29] florine2623 commented on #19442
Hi @clotaire202 ,
I have managed to reproduce the issue, it is indeed a regression.
Thanks for the PR !

[2020-05-28 15:30] daghb commented on #18647
Is there a beta docker image available? Which tag should I pull?

[2020-05-28 15:30] matks commented on #19179
Good news ! After checking more thoroughly I found that the class in charge, `PrestaShop\PrestaShop\Adapter\Product\AdminProductWrapper` , is actually a Symfony service ! Its ID is `prestashop.adapter.admin.wrapper.product`

And you can override or decorate Symfony services as much as you want 😄 https://devdocs.prestashop.com/1.7/modules/concepts/services/#override-an-existing-symfony-service

So,

[2020-05-28 15:32] matks commented on #18647
We have a `beta` image in the hub 🤔 but I did not check what it does
https://github.com/PrestaShop/docker

[2020-05-28 15:33] k0lv opened #19444 "PrestaShop Cleaner (pscleaner) - "Delete catalog" is not working."
1. Open "PrestaShop Cleaner" module
2. "I understand that all the catalog data will be removed without possible rollback: products, features, categories, tags, images, prices, attachments, scenes, stocks, attribute groups and values, manufacturers, suppliers..." - select YES.
3. Click button "Delete catalog".
4. Message "Please read the disclaimer and click "Yes" above". Click "OK".
5. Nothing hap

[2020-05-28 15:34] daghb commented on #18647
Thanks, @matks - I'll try that one out. I guess it will be too early to ask what the upgrade paths are from a 1.7.6.1 docker image?

[2020-05-28 15:41] MatShir commented on #19111
Hi @okom3pom,
It is a nice improvement. It is shared to the team but meanwhile, the project is open source so if anyone you know or anyone who see the issue can do Pull Request (http://doc.prestashop.com/display/PS16/Contributing+code+to+PrestaShop?).

[2020-05-28 15:47] florine2623 commented on #19444
Hi @k0lv ,
I managed to reproduce this issue in 1.7.7.0, with ps_cleaner 2.0.0.

This is a regression, in PS 1.7.6.5, when choosing to delete the catalog, it works correctly.

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-05-28 15:52] jf-viguier commented on #19179
@matks I already know this but I'm in Prestashop 1.7.3 for one of my customer and It seems that service decoration is for 1.7.5+.
Anyway, I've created this issue because this 2 sql requests should not be in this wrapper.

[2020-05-28 15:53] thbl commented on #19436
@florine2623
No the issue is that if you change ordre status in BO that send a "order_conf" email all vairables shows as variables etc.{total_products}....
But if customer places order and mail i send from the front end action variables are resolved correct and show info they contain

[2020-05-28 16:06] colinegin opened #19445 "[EPIC] - Rounding issues"
This Epic groups all issues related to rounding problems in the software.
There seems to be inconsistencies in how prices are calculated and rounded in at least the following page :
- product page BO (price settings)
- quickview FO
- cart summary FO
- order summary FO
- order confirmation (FO + mail to customer and staff)

Situation is explained here : #17161 and here: #17045

## BUGS
- [ ] #9981

[2020-05-28 16:12] florine2623 commented on #19436
I can't reproduce your issue on PS 1.7.6.5, please check my screenshot after changing order status :
![Capture d’écran 2020-05-28 à 18 11 01](https://user-images.githubusercontent.com/16019289/83166079-ababd280-a10e-11ea-81c1-5d5e36dc054e.png)

[2020-05-28 16:13] thbl commented on #19436
@florine2623  did you make a new ordre status and give it email template of order_conf ?

[2020-05-28 16:14] colinegin commented on #9815
![image](https://user-images.githubusercontent.com/35263827/83166324-0a714c00-a10f-11ea-8666-2ea23d763321.png)

[2020-05-28 16:28] matks commented on #17131
@clotaire202 Big thanks to all your team for all the bug reports and bug fixes for 1.7.7 😄

If you want to chat, remember we have now a Slack https://github.com/PrestaShop/open-source/tree/master/slack

[2020-05-28 16:35] marionf opened #19446 "Fatal error on Design > Theme & logo > Page configuration"
#### Describe the bug

Fatal error on Design > Theme & logo > Page configuration, seems to be a regression on 1.7.7.x

#### Expected behavior

No exception

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Design > Theme & logo > Page configuration
2. See error

**Screenshots**

![capture d'écran_2629](https://user-images.githubusercontent.com/13449658/83168562-f24efc00-a111-11e

[2020-05-28 16:55] colinegin commented on #17769
Hi guys,

just for your information, I just created a new EPIC dedicated to rounding issues. You can find it here : https://github.com/PrestaShop/PrestaShop/issues/19445

Have a nice evening ;)

[2020-05-28 18:55] arouiadib commented on #19432
I see the problem now with your video.

I have installed a fresh 1.7.6.5 and can't reproduce it. The top of the page is refreshed correctly via AJAX with the number of total units.

Thanks.

[2020-05-28 20:43] matks commented on #19446
From the error we can see it comes from ps_themecusto

However we dont know if ps_themecusto is wrong OR 1.7.7 code makes it crash

[2020-05-28 20:59] emflomed17 commented on #19344
I could solve it.

Apparently my file was corrupted during the installation. I overwrite the file with a new one.

[2020-05-28 20:59] #19344 closed, assigned to nobody

[2020-05-28 21:14] Matt75 opened #19447 "AdminModules : Call to a member function isUsingNewTranslationSystem()"
#### Describe the bug

### /var/log/dev.log
[2020-05-28 23:02:58] php.CRITICAL: Call to a member function isUsingNewTranslationSystem() on boolean {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Call to a member function isUsingNewTranslationSystem() on boolean at /var/www/html/controllers/admin/AdminModulesController.php:1419)"} []
[2020-05-28 23:02:58]

[2020-05-28 21:33] neich78 commented on #15106
I have same issue in PS 1.7.6.4. Many of the statistics appear to 0. The most important info is "best customers" that does not show any data.
I have reseted all stats modules, change php version (now have PHP 7.3.17), etc, with no result.
![Captura de pantalla 2020-05-28 a las 23 30 20](https://user-images.githubusercontent.com/11721870/83195977-63ef7000-a13b-11ea-9f80-2fce7ecd7943.png)
Thanks

[2020-05-29 05:27] sobirul commented on #19327
Do you need a  professional #logo for your business?
Contact me anytime.

[2020-05-29 07:07] Gipielle commented on #19168
Similar issue in FrontOffice in prestashop 1.7.6.5
/classes/Product.php:2921
that takes 450ms and checks 11833600 rows

[2020-05-29 07:11] #9583 closed, assigned to eternoendless

[2020-05-29 07:13] Gipielle commented on #10393
Bug still present in prestashop 1.7.6.5

[2020-05-29 07:14] Gipielle commented on #19168
This is the query:
SELECT SQL_NO_CACHE p.*, product_shop.*, stock.out_of_stock, IFNULL(stock.quantity, 0) as quantity, pl.`description`, pl.`description_short`, pl.`available_now`, pl.`available_later`,
IFNULL(product_attribute_shop.id_product_attribute, 0) id_product_attribute,
pl.`link_rewrite`, pl.`meta_description`, pl.`meta_keywords`, pl.`meta_title`,
pl.`name`, image_shop.`id_image` id_image

[2020-05-29 07:25] matks commented on #10393
It's fixed in incoming version 1.7.7 because we removed the map 😄

After checking thoroughly we could not find a good alternative to Google Maps. Moreover as @colinegin we are not sure this is widely used. Some people might find it useful if they deliver locally but then modules can easily hook themselves into one of the Order page hook to put this, and it solves the issue about the API key.

[2020-05-29 07:30] Gipielle commented on #10393
How can i remove the map in prestashop 1.7.6 ?

[2020-05-29 07:39] matks commented on #10393
Just delete the related code I think 🤔 is it harming your shop ?

[2020-05-29 07:44] Robin-Fischer-PS opened #19451 "Exception on FO on subcategories pages"
#### Describe the bug

On FO, when trying to access subcategories pages (Best Sales, New Products, or Search), there is an Exception.

#### Expected behavior

It should work :stuck_out_tongue:

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO, then Prices drop or New products or Best sales or make a search (and press Enter, do not use autocompletion search)
2. See error

**Sc

[2020-05-29 07:52] matks commented on #18882
Hi ! I just realized this modifies a migrated page in the BO 😅 .

So I was surprised to read

So I just installed a PS 1.7.5 instance to see what the page looked like before the migration. Here it is:
<img width="1231" alt="Capture d’écran 2020-05-29 à 09 50 36" src="https://user-images.githubusercontent.com/3830050/83235332-ffabcb00-a191-11ea-9faa-73995d861b50.png">

So "The migration of the ad

[2020-05-29 07:53] matks commented on #18882
This being said, that does not mean this improvement (and huge work by @PululuK) is not welcomed !

@MatShir do you agree with all new changes ?

[2020-05-29 07:54] PierreRambaud commented on #19168
Thanks for details @Gipielle

[2020-05-29 07:56] LouiseBonnard commented on #19435
Hi everyone, sure, it'd be great for the user experience, thanks! I add it to the migration issue so that it can be done when migrating the page, cf. #10568.

I think the easier is to add a _save and stay_ button on this page, I can't find this kind of button on the Symfony pages but the @PrestaShop/prestashop-designers told me it could be done. ;-)

[2020-05-29 08:02] florine2623 commented on #18906
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-05-29 08:02] #18906 closed, assigned to nobody

[2020-05-29 08:03] florine2623 commented on #18905
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-05-29 08:03] #18905 closed, assigned to nobody

[2020-05-29 08:03] florine2623 commented on #18889
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-05-29 08:03] #18889 closed, assigned to nobody

[2020-05-29 08:08] PululuK commented on #18882
I completely agree with you @matks , it is indeed an improvement.
I expressed myself poorly, my sincere apologies I did not want to devalue your beautiful work.

As you can see this page is not consistent with the rest of the migrated pages, that's why I had the impression that it was not finished.

Thank you and Sorry.

[2020-05-29 08:12] matks commented on #18882
Eyh eyh eyh 😅 no no no don't be sorry I was not angry !

I was actually worried I did a mistake (especially because the page was migrated in 1.7.6 so ... if I did a mistake, it's been almost 1 year it's there, unfixed) that is why I just wanted to correct the statement.

You did a big work on this page 👍 thank you so much

[2020-05-29 08:48] florine2623 commented on #19446
Hi @marionf & @matks ,
I managed to reproduce the issue with PrestaShop version 1.7.7.0.
I’ll add this to the debug roadmap so that it’s fixed.
Thanks!

[2020-05-29 08:50] sam-pires commented on #18829
As we haven't had any more info to reproduce or identify the problem in details we are closing the issue.

Thanks

[2020-05-29 08:50] #18829 closed, assigned to nobody

[2020-05-29 08:53] florine2623 commented on #19432
@arouiadib Thanks for your feedback !

@JorgeNogueiraLFMPro what bout you ? Did you deactivate module groupeinc ?Is it a possibility to fresh install a shop ?

[2020-05-29 08:55] juraj1000 commented on #19401
Hi,
today morning I have the same issue, there is again HTTP ERROR 500

[2020-05-29 08:58] sarahdib commented on #17124
Problem solved with ps_mbo
<img width="1247" alt="Capture d’écran 2020-05-29 à 10 54 30" src="https://user-images.githubusercontent.com/3034677/83241538-43570280-a19b-11ea-882d-5ad5182f5a87.png">

[2020-05-29 08:58] #17124 closed, assigned to matthieu-rolland

[2020-05-29 09:02] MatShir commented on #19113
@okom3pom The payment tab is only to enter positive because is to track the client payment.
But If you want to generate a credit slip to correct an amount on the invoice, you can do it by pressing a partial refund and select the wanted amount.

[2020-05-29 09:02] sarahdib commented on #9722
this bug is not fixed by ps_mbo 2.0.0
https://drive.google.com/file/d/15pRh6e-c3oqYxOS7U1GFbRltNfbZRba1/view

[2020-05-29 09:06] colinegin commented on #19129
Hello @florine2623 do you reproduce this problem ?

[2020-05-29 09:10] Matt75 commented on #19401
Can you check in var/logs on your FTP if you have some logs about ERROR or CRITICAL ?

[2020-05-29 09:17] colinegin commented on #18498
Should we close this issue @SD1982 as you no longer reproduce it ?

[2020-05-29 09:27] Progi1984 commented on #19246
Fixed by #19452

[2020-05-29 09:27] #19246 closed, assigned to nobody

[2020-05-29 09:27] florine2623 commented on #19204
@TaccCZ ,
Even after changing your currency rate you still face the same issue ?

[2020-05-29 09:37] sarahdib commented on #14698
The problem is fixed with ps_mbo v2.0.0

[2020-05-29 09:37] #14698 closed, assigned to nobody

[2020-05-29 09:39] sarahdib commented on #18500
Problem fixed with ps_mbo v2.0.0

[2020-05-29 09:39] #18500 closed, assigned to nobody

[2020-05-29 09:51] sarahdib commented on #18887
Fixed by ps_mbo v2.0.0

[2020-05-29 09:51] #18887 closed, assigned to sarahdib

[2020-05-29 09:56] juraj1000 commented on #19401
Hi,
I switched it to debug mode without caching and there was created this debug log:
[dev.log](https://github.com/PrestaShop/PrestaShop/files/4701009/dev.log)

There was not any log  if debug mode was switched off

[2020-05-29 10:02] ChineseNorris opened #19454 "Stock unstable when editing a product and having a sale in the meantime"
#### Describe the bug

Stock is updated when product is modified and active

#### Expected behavior

Product description and combinations should be in different tabs

### Specs

A warning will be displayed on the top of the input:
"We advise you to modify the quantity directly in the [1]Catalog > Stocks[/1] section of the back office to avoid stock imbalance." in Admin.Notifications.Warning.
The l

[2020-05-29 10:17] javierVP commented on #19250
but before the update, because the error takes me out in the module when updating.

[2020-05-29 10:22] florine2623 commented on #18869
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-05-29 10:22] #18869 closed, assigned to nobody

[2020-05-29 10:26] florine2623 commented on #19220
Hi @Llorx ,
Can you make sure you are using PHP 7.2 max ?
Thanks!

[2020-05-29 10:27] florine2623 commented on #19250
I don't understand, can you specify more ?

[2020-05-29 10:28] javierVP commented on #19250
I mean if I should delete those folders before doing the installation, because the error removes it when I am updating.
 

[2020-05-29 10:50] Matt75 commented on #19401
### You have a server configuration issue : open_basedir restriction in effect

You should contact your hosting provider and provide following logs :

### Related logs
[2020-05-29 11:49:42] php.DEBUG: Warning: file_exists(): open_basedir restriction in effect. File(/home/html/composer.json) is not within the allowed path(s): (/etc/apache2/scripts:/home/html/q10.sk:/home/html/q10.sk:/usr/share/php)

[2020-05-29 11:14] Robin-Fischer-PS commented on #19129
Hi @colinegin @olecorre ,

The "Add a discount" is now correctly translated in French on 1.7.7.x branch (I also checked some other missing translations : They are now OK).

So this issue is fixed :)

[2020-05-29 11:14] #19129 closed, assigned to LouiseBonnard

[2020-05-29 12:06] florine2623 commented on #19130
Hi @tsarnow ,
Thanks for the clarification! The problem comes from an external module ?

[2020-05-29 12:44] florine2623 commented on #19342
Hi @sotirisa ,

Could you specify what version of the module you are using ?
What theme are you using ?
Also, can you check if the module is hooked on all of these hooks ?
Design > Positions > Show by Google Analytics
![google_analytics](https://user-images.githubusercontent.com/16019289/83260884-cdfb2a00-a1ba-11ea-9a30-23057ec0944a.png)

Please check and let me know!

[2020-05-29 12:58] florine2623 commented on #19214
Hi @Gstieven ,
I would advise you to keep an eye on https://github.com/PrestaShop/PrestaShop/issues/18319. That issue is already in our roadmap. Once it is fixed, your issue will certainly be fixed as well.
For now, i will close your issue as it is a duplicate.
Thanks!

[2020-05-29 12:58] florine2623 commented on #19214
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/18319

[2020-05-29 12:58] #19214 closed, assigned to nobody

[2020-05-29 13:04] marionf opened #19457 "Multistore - Catalog > Stocks > Stocks - Update message in all shops or in a group context"
Currently, this page isn't working in all shops or in a group context
The current information message is "You can't manage your stock in this shop context: select a shop instead of a group of shops."

For a better understanding, we should update the current message for the following one:
"Note that this page is available in a single shop context only. Switch context to work on it."

This is specif

[2020-05-29 13:04] matks commented on #19224
I can confirm that this optimization is now being done on PrestaShop modules being distributed through Addons API (when they have a Composer setup).

As for 3rd-party modules, it is up to the vendor.

[2020-05-29 13:05] sotirisa commented on #19342
Hi, and thank you for the response.
The version of the module is 3.2.0.
My theme is the [warehouse ](https://themeforest.net/item/warehouse-responsive-prestashop-16-theme-blog/3178575)theme.
and the module is hooked in all these hooks.

I have also seen it on other sites with another theme.

[2020-05-29 13:06] florine2623 commented on #19454
Hi @ChineseNorris ,
I managed to reproduce the issue in both PS 1.7.6.5 and PS 1.7.7.0 following your steps.

I will ping our product team to get their point of view on your request.
Please stay tuned !
Thanks!

[2020-05-29 13:06] marionf opened #19458 "Multistore - Catalog > Stocks > Mouvements - Update message in all shops or in a group context"
Currently, this page isn't working in all shops or in a group context
The current information message is "You can't manage your stock in this shop context: select a shop instead of a group of shops."

For a better understanding, we should update the current message for the following one:
"Note that this page is available in a single shop context only. Switch context to work on it."

This is specif

[2020-05-29 13:09] florine2623 commented on #19454
Hi @PrestaShop/prestashop-product-team ,

@ChineseNorris is having stock issues when editing a product and having a sale during the same time. His request is to turn off the product while doing changes.

Is this something that can be done ?

Thanks!

[2020-05-29 13:16] marionf opened #19459 "Multistore - Catalog > Products > Add / edit - Update message when a group is selected"
Currently, this page isn't working in a group context
The current information message is "You can't add or edit a product in this shop context: select a shop instead of a group of shops."

For a better understanding, we should update the current message for the following one:
"Note that this page is available in a single shop or in all shops context. Switch context to work on it."

This is specifi

[2020-05-29 13:32] hybitu opened #19460 "(1/1) ContextErrorException Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"?"
Hello!

I have a fresh installation of Prestashop 1.7, my theme is classic, I traied to diactivate the subscription module, but when I reloaded the backed of my prestashop I get this error:

[localhost.zip](https://github.com/PrestaShop/PrestaShop/files/4702022/localhost.zip)

The module said it needed to be upgraded but I selected deactivate it, I guess it was the thing that triggered the error,

[2020-05-29 13:37] florine2623 commented on #19460
Hi @almajime ,
Please make sure the version of PHP is compatible with the version of PrestaShop :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
If you are using 1.7.6.5, PHP version should be 7.2 max.
Thanks!

[2020-05-29 13:37] #19460 closed, assigned to nobody

[2020-05-29 14:12] dangelion opened #19462 "Registration form in Confirmation order page not working"
Hi, after placing an order I got the usual Confirmation order page with success message and so on. At the bottom of the page there's the registration form ("Save time on your next order, sign up now").

I've some questions and problems.

First of all: **the registration form doesn't work**, after submit the form it brings me to the login page without any messages of success or failure. Then I logi

[2020-05-29 14:30] florine2623 commented on #19462
Hi @dangelion ,

Thanks for the report. I managed to reproduce the issue on both PS 1.7.6.5 and PS 1.7.7.0.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

FYI - Steps to reproduce :
- Place an order as guest customer
- When order is complete, scroll down to Registration form
- Fill th

[2020-05-29 14:39] florine2623 commented on #19462
Hi @PrestaShop/prestashop-product-team ,
Is it possible to get your knowledge on the 2 questions @dangelion asked regarding the optimization of the Registration Form ?

Thanks!

[2020-05-29 14:46] florine2623 commented on #19342
There is a current rework being done on that module that might fix your issues.
But, we've tested this module a few weeks ago and had nothing out of the ordinary regarding bounce rates.

For now, I will close your issue, please keep an eye on our upgrade of that module.
Thank you for your understanding !

[2020-05-29 14:46] #19342 closed, assigned to nobody

[2020-05-29 14:48] dangelion commented on #19462
Thanks for answer @florine2623 Unfortunately I've not fixed that, I think it's a huge issue that needs to be solved. Waiting for progress on this

[2020-05-29 14:51] florine2623 commented on #19250
I would advise you to roll back to a previous version in order to get rid of all the errors first. You can do that with your manual back-up or directly with your host.
On my test shop, I can't reproduce your issue. You might have some external modules/theme that conflict with the module 1-click upgrade.

[2020-05-29 14:57] okom3pom commented on #19111
Hi @MatShir

I understand your way but it's not compatbile whith law

[2020-05-29 15:11] matks commented on #19111
We've discussed this before 😅 in https://github.com/PrestaShop/PrestaShop/issues/19113#issuecomment-629200129

PrestaShop is not here to enforce the law. PrestaShop enables merchants to do a wide range of actions, it's the merchant responsibility to follow the rules that apply to his shop. And these rules change with countries.

We have checked this with a lawyer to be sure 😄

[2020-05-29 15:12] matks commented on #19460
Indeed the message "Warning: "continue" targeting switch is equivalent to "break" ..." is usually prompted when using php7.3

[2020-05-29 15:36] Progi1984 commented on #18284
A part of the issue has been fixed by @PululuK in #19449.

[2020-05-29 15:36] MatShir commented on #19113
@okom3pom Have you try to add a discount, I might solve your pb ?

[2020-05-29 16:03] TaccCZ commented on #19204
Dear @florine2623 ,
yes, if i change currency to "normal" currency rate, for all tables: ps_currency + ps_currency_shop, here is the same issue in second shop. So I turned off price filter... because it lists meaningless amounts and it just confuses customers.

[2020-05-29 16:07] #19283 closed, assigned to nobody

[2020-05-29 16:08] #19187 closed, assigned to nobody

[2020-05-29 18:34] TemKaSD opened #19463 "PHP 7.4: Using array_key_exists() on objects is deprecated"
Deprecated: array_key_exists(): Using array_key_exists() on objects is deprecated. Use isset() or property_exists() instead in /src/Adapter/EntityMapper.php on line 99

Deprecated: array_key_exists(): Using array_key_exists() on objects is deprecated. Use isset() or property_exists() instead in /var/www/partlada/classes/module/Module.php on line 330

[2020-05-29 18:48] #18283 closed, assigned to nobody

[2020-05-29 20:01] TemKaSD opened #19464 "PHP 7.4: Notice: Trying to access array offset on value of type null"
Bug: https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/catalog/_partials/category-header.tpl#L33

$category.image == NULL

for fix

{if $category.image != NULL && $category.image.large.url}

[2020-05-29 20:54] xprojects-de commented on #16617
Hallo zusammen,

ich bin auch bei ALL-Inkl und konnte ein bisschen mehr rausfinden. Der Fehler tritt jedenfalls bei mir immer an der selben Stelle in den PHP-Scripten auf wenn ich den contao/install-Path aufrufe (nach Login!):

_**ssh-xxx@xxx:/www/htdocs/xxx$ cat errorlog.txt
[29-May-2020 22:25:13 Europe/Berlin] PHP Fatal error:  Allowed memory size of 268435456 bytes exhausted (tried to allocate

[2020-05-29 21:16] srn87 opened #19465 "Prestashop debug mode"
I am using a translator since my English is very basic if something is not understood they tell me, I am experiencing problems with prestashop, in which I activated the debug mode in the backoffice because I want to reproduce another error that the system is producing but I will look at it In another post and it turns out that I get the screen that I attach, it does not allow me to access the back

[2020-05-29 21:32] major200322 opened #19466 "install Erreur prestashop 1.6"
[PrestaShop] Fatal error in module file :../modules/gsitemap/gsitemap.php:
Uncaught Error: Call to undefined method Gsitemap::trans() in .../public_html/modules/gsitemap/gsitemap.php:47

#### Expected behavior
Installing module

* PrestaShop version: 1.6.1.24
* PHP version: 7.4

[2020-05-29 21:37] Gipielle commented on #19168
I got this only in home page...

[2020-05-29 21:41] #19466 closed, assigned to nobody

[2020-05-29 21:41] major200322 commented on #19466
min version  1.7 :'(

[2020-05-29 21:54] PululuK opened #19467 "[FO][CUSTOMER][FORMS] Code issues and Wrong error messages"
##  FO issue
Steps to reproduce the behavior:

1. Go to FO > Customer form
2. Try to exceed the maximum size of a field (there is no max length, you can put anything in it)
3. Submit the form
4. See error (The error message is mixed French and English.). Ex.:  _Le champs last name est trop long. (Longeur maximale : 255)_

![capture](https://user-images.githubusercontent.com/16455155/83311265-fca2f

[2020-05-29 21:56] Matt75 commented on #19465
Hi

We released a new version of ps_mbo module this morning to fix this issue, you can download it here : https://github.com/PrestaShopCorp/ps_mbo/releases/latest

This issue is due to cache not well cleared, after applying the new version of ps_mbo module please clear your cache by delete folders `dev` and `prod` in `var/cache`

Sorry for this issue, we tested this version very long time before r

[2020-05-29 23:05] srn87 commented on #19465
Hi @Matt75 i clear the folder that i you said, then i need to install this ps_mob like a normal module in backoffice of prestashop?

[2020-05-29 23:15] srn87 commented on #19465
i
![mododebug3](https://user-images.githubusercontent.com/66142800/83312570-a8960c80-a20a-11ea-9e50-53b214a60736.png)
Attached what appeared to me after installing what you told me

[2020-05-29 23:30] srn87 opened #19469 "Prestahop checkout not work"
I am on the main screen of the native module of prestashop checkout of paypal and I try to log in with my paypal account, when I click on it it stays in the same place, it does not advance to any other side.

![paypalproblem](https://user-images.githubusercontent.com/66142800/83313111-b187dd80-a20c-11ea-95dd-37986ac79cec.png)

PD:
I have not put the data clearly for security measure but when I put

[2020-05-29 23:36] Matt75 commented on #19465
This is due to template cache not updated.

If you are in production it can be useful to enable maintenance mode to avoid concomitant access to cache when cleaning or warmup.

You can do that with this SQL Query on MySQL (use phpmyadmin for example)
`UPDATE ps_configuration SET value = 0 WHERE name = "PS_SHOP_ENABLE"`

You should unzip new module version of ps_mbo then upload it with ftp software