[2020-05-11 14:27] sam-pires commented on #19057
Hello @6xthFNGR,

Thanks for the feedback 👍

Just to understand a bit better the use case, are you trying to modify the html/css of a particular page or to implement theses modifications to all content pages?

Moreover, when you add the CSS, you are using the TinyMCE editor?

[2020-05-11 15:01] 6xthFNGR commented on #19057
Hello,

sorry for not making this more clear:
When I was referring for "Pages" I am only talking about
Back Office - Menu - Improve - Design - Pages

I want to add my custom made CSS/HTML into the source code of the TinyMCE with the feature of TinyMCE to display the source code, but for example my "<style type="text/css">" is getting removed.
When I researched on this topic, I saw some Topics in t

[2020-05-11 15:03] atomiix commented on #19061
Hi @Max84

Thanks for your feedback. Could you provide detailed steps to reproduce the issue and screenshots so we can better identify you demand? Thanks.

[2020-05-11 15:08] atomiix commented on #19062
Hi @Sandeep-singh97

Thanks for your feedback. However I'll close this issue because index rebuilding **should** requires BO login for safety reasons.

[2020-05-11 15:08] #19062 closed, assigned to nobody

[2020-05-11 15:26] atomiix commented on #19064
Hi @doeselschnecke

Thanks for your contribution. Though, I get the same behavior whatever the language I set for the front-end. @PrestaShop/prestashop-product-team do you know what's the expected behavior?

[2020-05-11 15:32] Robin-Fischer-PS opened #19075 "BO - Bad redirection when trying to access Orders when unauthorized"
#### Describe the bug

When an employee cannot access the orders pages, and when his default page is "orders", but try to access it via URL, there is an infinite redirection to orders.

#### Expected behavior

Redirection should target any page this user has access to.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. With Admin, go to BO > Advanced Parameters > Team > Add new Employe

[2020-05-11 15:42] sickboards opened #19076 "Credit Slips / Vouchers of missing products fails"
Prestashop cannot handle generating vouchers and credit slips it seems.
If I can't find a product and want to create a credit slip for a product I say generate voucher.
What happens? The products are restocked (while the tick box was not ticked), no voucher is created
If I set a specific amount the credit slip shows the original amount
And if I create a voucher and link it to an account it does no

[2020-05-11 16:18] atomiix commented on #19076
Hi @sickboards

Thanks for your feedback. Could give us more information on how to reproduce precisely and on which version of PrestaShop/PHP you are facing this issue? Thanks

[2020-05-11 16:32] Robin-Fischer-PS opened #19077 "BO - No access to employee's profile when not an admin"
#### Describe the bug

When an employee has a profile without the following permission : _Advanced Parameters > Team > Employee_ (so when he's not an admin, since no non-admin users should access this page), he cannot access his user profile.

#### Expected behavior

User profile should always be accessible, no matter which permission the user has.

#### Steps to Reproduce

Steps to reproduce the

[2020-05-11 16:45] colinegin commented on #19043
@onklmaps @atomiix can you confirm this behaviour is already present in 1.7.6 ?

[2020-05-11 16:47] colinegin commented on #19056
What do you think about it @marionf ?

[2020-05-11 16:48] colinegin commented on #19059
@atomiix did you reproduce this bug ? If yes, then you can just label it as bug and put it in the backlog, no need for our opinion !

[2020-05-11 16:53] Sandeep-singh97 commented on #19062
How can I set rebuild search index cron using easy cron??

[2020-05-11 16:54] colinegin commented on #19040
@atomiix can you add label related to what it refers to ? BO / FO, Categories, etc.
I'm not sure I understand the need with the current description.

[2020-05-11 18:43] msaustral opened #19079 "Access denied for Catalogue -> Stock Manager for a non Admin user"
Hi, when you add any non super admin profile to an employee user, then give full access to Stocks manager, it give an access denied error when you log in with that employee user and try to access Stocks section.

1.- create a new user
2.- place ir on a not super admin profile
3.- enable all permission for Catalogue -> stocks
4.- access the back office with that user employee`s
5.- click on Catalog

[2020-05-11 18:48] 01park commented on #18790
Hi,

I have the same issue, I added the two files to the mail/language/

But not changed. What im I doing wrong?

[2020-05-11 18:51] PululuK commented on #19079
Maybe related to that : https://github.com/PrestaShop/PrestaShop/issues/19077

[2020-05-11 19:05] msaustral commented on #19079
Hi PululuK, in this case it only the stocks section and to show it no need to have permitios to user profiles.

[2020-05-11 23:21] linuxatico opened #19081 "Inconsistent emails translation result"
#### Describe the bug
On Translation page, when choosing to translate emails of child_theme, when clicking on "Save & Stay", we are redirected to the email translation page of classic_theme.

#### Expected behavior

When clicking on "Save & Stay", we should remain on the same page.

#### Steps to Reproduce

- Have a child theme installed
- Go to International > Translations
- Choose to translate e

[2020-05-11 23:59] BenTen opened #19082 "When change address shipping fee is rounded"
When I change the address of a customer on a order page, the shipping fee paid is rounded.
15.94 EUR become 16.00 EUR

Note that my default currency is JPY

If I change a price on the carrier page, the shipping fee will rounded from this new price.
(Even if the shipping fee is twice more than before, the shipping fee paid by customer need to stay the same)

The invoice of front office and PDF beco

[2020-05-12 00:01] go-sudo opened #19083 "Cache issue"
#### Describe the bug

My clients keep claims that the website is not correctly loaded
and when I check my php log I found this error message

mod_fcgid: stderr: PHP Notice: Undefined property: Smarty::$smarty in /var/www/vhosts/dddgggg.com/httpdocs/vendor/smarty/smarty/libs/Smarty.class.php on line 1354, referer: https://ddddd.com/

`2020-05-11 22:31:25	Warning	160.176.159.90	mod_fcgid: stderr: P

[2020-05-12 05:15] Sandeep-singh97 opened #19084 "How set rebuild search index cron job using easy cron?"
How set rebuild search index cron job using easy cron?
Please help me.
 PrestaShop version: 1.7.6.1
* PHP version: 7.1.33

[2020-05-12 07:09] sarahdib commented on #19051
@PrestaShop/prestashop-core-developers I think this subject it's for you.

[2020-05-12 07:22] Hlavtox commented on #19064
@doeselschnecke What's wrong with this? This is how Prestashop is behaving since forever.

[2020-05-12 07:36] doeselschnecke commented on #19064
It’s super easy to fix it though. I’ve made a pull request #19050, it only has to be merged into the current branch. I’ve been using git for a while, but GitHub is new to me. I’m not sure if I have to something with the pull request or if an admin has to approve it for merging

[2020-05-12 07:50] mickaelandrieu opened #19085 "There is no hook(s) on the Product form Page to alter the form the right way"
#### Describe the bug

self described

#### Expected behavior

We want to be able to alter the form using the form builder directly and not having to override the services

#### Additional information

* PrestaShop version: 1.7+
* PHP version: N/A

[code]

[2020-05-12 08:18] atomiix commented on #19040
@colinegin From what I understand it's when in the FO you click on "Clothes" for instance, then you'll have subcategories on the left : Men - Women, and all products from those categories in the main part. What @Natthew99 would like to achieve is having all those products separated by the subcategory they belong to.

[2020-05-12 08:27] sarahdib commented on #19070
hello @6xthFNGR

a) it's indicated when you submit the logo that if there is no logo for email, the shop logo will be used
<img width="1278" alt="Capture d’écran 2020-05-12 à 09 38 10" src="https://user-images.githubusercontent.com/3034677/81652783-8fccdf00-9434-11ea-954c-a99010cc5496.png">
This is not an issue but an improvement
@PrestaShop/prestashop-product-team what do you think about add an

[2020-05-12 08:33] colinegin commented on #19064
Hello @doeselschnecke ,

indeed, the order confirmation email shows the delivery address and the billing address. Why is it a problem for you ?

[2020-05-12 08:40] atomiix commented on #19043
@colinegin yes this behaviour is present in 1.7.6 because in order to get the delivery slip, your order status should be "shipped".

[2020-05-12 08:55] sarahdib commented on #19072
Hello @6xthFNGR

In the 1.7.7. this feature request is already done :
<img width="1278" alt="Capture d’écran 2020-05-12 à 10 35 00" src="https://user-images.githubusercontent.com/3034677/81661549-8f384680-943c-11ea-86f7-bdd6b13ed608.png">

I select 4 orders and in bulk action canceled the all 4 orders and it's working
https://drive.google.com/file/d/1HxTjJ3opECfJqt5RXg824T6aZ1PHWMWv/view

[2020-05-12 09:03] marionf commented on #19056
The problem is that the catalog price rules page is only available in all shops context.
This page should also have groups & single shop contexts.
Then, in the context, the employee should only see the stores for which he has been authorized when his profile has been created.

[2020-05-12 09:08] doeselschnecke commented on #19064
It shows it TWICE. Look on the screenshot attached above. After Germany is the customers name and address again. It's a bug in the classic email template.

[2020-05-12 09:15] colinegin commented on #19064
Indeed, you're right ! I did not read all the address until the end.
We should fix this bug, do you know if this is a regression of it has been like that in previous versions too ?

[2020-05-12 09:18] shelve71 opened #19087 "Attribute not in combination"
Hi,
i need to assign at a product an attribute with two options like "Kind of printing: 'Matt Varnish' or 'Gloss Varnish'" but i can't understand how to do in prestashop. I tried with combinations but it is not good for me because i have problems to manage the stock. For example if i have in stock 10 T-Shirt black and 5 T-Shirt Red, when i assign the attribute "Kind of printing" they became 4 comb

[2020-05-12 09:27] doeselschnecke commented on #19064
I don't know if it's a regression or if has been like this in earlier versions, too. I assume, that it is a regression, maybe caused by switching to PHP 7 or due to changing to a new system or so. I've been using PrestaShop for about a month now, but really like the coding style.

I don't know if it was working in earlier versions, but it seems like it did. The text only version was probably gener

[2020-05-12 09:36] LouiseBonnard commented on #18809
Hey guys, I could not find some strings mentioned in the issue description. I noted them as 'pas trouvé', aha, can I let you check?

[2020-05-12 09:37] silicon755 commented on #18955
No, I did not

[2020-05-12 10:03] Sandeep-singh97 commented on #19084
Please help....

[2020-05-12 10:05] kenlog opened #19090 "Wrong cart rule amount in FO when "Exclude discounted products" is enabled"
#### Describe the bug

When applying a cart rule with "exclude discounted products" enabled, the amount of the cart rule line isn't ok
It takes into account all products instead of only not discounted products
But the total and the discount line are OK

#### Steps to Reproduce

1. I created a cart rule of 10% and enabled "exclude discounted products"
2. I added two products in my cart: Hummingbird

[2020-05-12 10:06] sarahdib commented on #17430
@LouiseBonnard In 1.5 this configuration is issued for shop name in footer and highlight the title
<img width="573" alt="Capture d’écran 2020-05-12 à 12 04 02" src="https://user-images.githubusercontent.com/3034677/81671070-d7f5fc80-9448-11ea-940f-8bc69dbd68ab.png">

[2020-05-12 10:10] sarahdib commented on #16634
@kmorgen I will close this issue since your log indicate that all is good. Please contact our merchant success team in order to help you with this problem.

[2020-05-12 10:10] #16634 closed, assigned to nobody

[2020-05-12 10:11] sarahdib commented on #18585
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-12 10:11] #18585 closed, assigned to sarahdib

[2020-05-12 10:13] sarahdib commented on #18593
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-12 10:13] #18593 closed, assigned to nobody

[2020-05-12 10:15] #18609 closed, assigned to nobody

[2020-05-12 10:17] #18643 closed, assigned to nobody

[2020-05-12 10:26] sarahdib commented on #18762
@salvacal it's not a bug but an improvement of the create account process.

@PrestaShop/prestashop-product-team what do you think about that ? when a user click on create account from a product page, after the registration the customer is redirected to the product page instead of the account page.

[2020-05-12 10:34] sarahdib commented on #18793
@Leous88
You can create employee with restriction.

First you create a profil : http://doc.prestashop.com/display/PS17/Profiles
Second you can add permission : http://doc.prestashop.com/display/PS17/Permissions
and then create an employee with his new profil : http://doc.prestashop.com/display/PS17/Employees

If you need more help to create or configure an employee, please contact our merchant suc

[2020-05-12 10:34] #18793 closed, assigned to nobody

[2020-05-12 10:49] sarahdib commented on #18852
@LouiseBonnard yes like in permission page maybe

[2020-05-12 10:50] #18856 closed, assigned to nobody

[2020-05-12 11:00] norbertlaza opened #19091 "Email Subject is not translated"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Open  'ps_reminders.php'
`Mail::Send(
                    (int)$email['id_lang'],
                    'followup_1',
                    Mail::l(
                        'Your cart and your dis

[2020-05-12 11:55] florine2623 commented on #18768
Hi @Hlavtox ,
Sorry for taking so long to answer. I'll ping our dev team, they will give you an answer.
Thanks!

[2020-05-12 11:56] florine2623 commented on #18768
Hi @PrestaShop/prestashop-core-developers ,
@Hlavtox is having issues with Google Sitemap, is there something we can do ?
Thanks a lot!

[2020-05-12 11:58] Hlavtox commented on #18768
@florine2623 No worries 🌹 It's few seconds to disable these pages from sitemap, but I think we can completely hide it from the list, if it's blocked anyway. What do you think?

[2020-05-12 12:02] florine2623 commented on #18941
Hi @BERNARD-EMMANUELLE ,
These are the files of your Reassurance module.
Is there a way you could screenshot the table ps_psreassurance in your database directly ?
Thanks!

[2020-05-12 12:11] florine2623 commented on #18891
Hi @RodrigoHornos ,
I can't reproduce your issue.
Could you attach a screen record please ?
Thanks.

[2020-05-12 12:15] florine2623 commented on #18881
Hi @shelve71 ,
What I'm trying to say is that having 1050 combinations might not be ideal.
I don't know how your products are constructed.
For example, if you have **color** and **size** attributes, instead of having 1 product with those 2 combinations, you could have _one product in blue_ with combination of sizes and _one product in red_ with combinations of sizes.
I don't know if that's clear ?

[2020-05-12 12:19] LouiseBonnard commented on #18852
@sarahdib, what do you mean?

[2020-05-12 12:26] florine2623 commented on #19087
Hi @shelve71 ,
Actually this is normal.
If you have one product of each 2 combinations, you have 2 products.
- Product in Matt Varnish
- Product in Gloss Varnish

If you have one product with 4 combinations (Matt Varnish, Gloss Varnish, Red and Blue), you have 4 products.
- Product in Matt Varnish in Red
- Product in Matt Varnish in Blue
- Product in Gloss Varnish in Red
- Product in Gloss Varnish

[2020-05-12 12:28] florine2623 commented on #19085
Hi @mickaelandrieu ,
Thanks for the request !
I'll let the dev team know about this !

[2020-05-12 12:29] florine2623 commented on #19085
Hi @PrestaShop/prestashop-core-developers ,

@mickaelandrieu has a request regarding the Product form Page. Is that something that can be implemented ?

Thanks!

[2020-05-12 12:31] colinegin commented on #19064
@atomiix did you check if this was working differently before 1.7.6 ? Did you also check with PHP version < 7.3 ?
Indeed FYI @doeselschnecke , PrestaShop 1.7.6.5 is not compatible with PHP 7.3

[2020-05-12 12:32] florine2623 commented on #19083
Hi @go-sudo ,
What rights do you have on the cache folders ?
You could also delete cache directly from the FTP.
Thanks

[2020-05-12 12:39] matteolavaggi opened #19093 "Back Office order detail trow 500 erro when NOT in debug mode"
#### Describe the bug

Try to open a order detail from customer account login generate a 500 error

#### Expected behavior

Open details

#### Steps to Reproduce

Steps to reproduce the behavior:

www[20171]: PHP Fatal error:  Uncaught Error: Cannot use object of type Product as array in /var/www/htdocs/www.sixrace.it/modules/ps_viewedproduct/ps_viewedproduct.php:186#012Stack trace:#012#0 /var/www

[2020-05-12 12:41] colinegin commented on #19029
Hello @prestamodule, thanks for the feedback.
Indeed, we have introduced a change in product thumbnails in 1.7.7 following this issue : https://github.com/PrestaShop/PrestaShop/issues/12241. As you can see it was very demanded (topwatchers label).

Could you explain in more details in which situations you need to customize the thumbnail ?
Which modules need this ?

Thanks !

[2020-05-12 12:43] matteolavaggi commented on #19093
I dont tink is a ps_viewedproduct related issue. Try to disable it with no luck.

In debug mode the order datail page work with no problem

[2020-05-12 12:46] PrestaEdit commented on #19029
Advanced Search 4 use it. And more: Products by Attributes.

[2020-05-12 12:48] PeNov opened #19094 "Custom image type is deleted after upgrade"
**A)**	Custom image type is deleted after upgrade from 1.7.6.4 to 1.7.6.5.

**Steps to Reproduce:**
1. Before upgrade PS 1.7.6.4 go to the Design - Image Settings and add new image type:
For example: different_colour_variant, 50px x 50px for product
![before_1764](https://user-images.githubusercontent.com/38213520/81692454-b6077480-945e-11ea-8f52-b1e82c5cc084.JPG)
2. Upgrade to PS 1.7.6.5
3. go to

[2020-05-12 12:53] prestamodule commented on #19029
Hey @colinegin, it may be a very demanded "feature", but we are not complaining about this.

First, using static call to Product class to retrieve the cover doesn't allow any contributor/developer to change this behaviour without overriding core files (which you want to completely disallow on 1.7, using Symfony services).
So, we are complaining about this.

Despite making a big regression here (th

[2020-05-12 12:56] florine2623 commented on #19091
Hi @norbertlaza ,
Thanks for the recommandation. Please stay tuned !

[2020-05-12 12:57] florine2623 commented on #19091
Hello @PrestaShop/prestashop-core-developers ,

In both PS 1.7.6.5 and 1.7.7, I could not manager to translate the title of the emails of ps_reminder :
![Capture d’écran 2020-05-12 à 14 50 56](https://user-images.githubusercontent.com/16019289/81693814-c3256300-9460-11ea-9ad2-42245c05a8ad.png)
Can this feature be implemented ?

Thanks !

[2020-05-12 12:59] florine2623 commented on #19093
Hi @matteolavaggi ,
After disabling the module ps_viewedproduct, what error do you have with debug mode on ?
Please check and let me know!

[2020-05-12 13:16] matteolavaggi commented on #19093
The same error so is not related to that 500 problem, i cant see any other php error related using the id order url to filter log

[2020-05-12 13:31] doeselschnecke commented on #19064
Thanks. Good to know. I read somewhere that it's compatible with PHP 7.2 and 7.3.

I'm currently using 7.2 though. The duplicate addresses are shown on PHP 7.2, too. The old HTML Tag looks like it was used back in PHP 5.5 times (just an assumption).

[2020-05-12 13:50] thalassa-web opened #19095 "FacetedSearch module performance"
#### Describe the bug

The product update method take between 0.5 and 5 s to finish.
I put some logs when a hook take more than 0.2 seconds and I have something like this :
[code]
When updates are done manually in the B.O. it is not a big deal BUT when it is a batch, for example update 200 products (it is not s big) it take 4 minutes to finish …

#### Expected behavior

In batch mode (see Module.p

[2020-05-12 14:02] florine2623 commented on #18933
Hi @01park ,
Did you use 1-click upgrade to upgrade your website ?
If yes, there's a log file, you can see on there if any errors occurred during migration.
Thanks

[2020-05-12 14:11] Scippy commented on #14663
Hi, I ran into the same problem during a clean installation, from zero.
Prestashop ver.1.7.6.5 on Windows IIS with PHP 7.2

[2020-05-12 14:23] arvanus commented on #19051
Hi, just to update this issue, I tried to do this "fix" at the reverse proxy, so I would not tweak PrestaShop installation itself, for the majority of simple websites it could successfully replace "http"  for "https", but not for PS (no ideia why), but when I changed directly at .htaccess it worked

Note: if devs need more details, I can disable the "fix" and pass every source of "mixed content".

[2020-05-12 14:25] Robin-Fischer-PS opened #19096 "Export cart only on the displayed page, not all pages"
#### Describe the bug

In BO > Orders > Shopping Carts, when there is a lot of cart and pagination is active, when trying to export carts, only the displayed page of the pagination is exported, instead of all carts.

#### Expected behavior

All carts should be exported (all carts corresponding to the applied filters, if any).

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO

[2020-05-12 14:42] florine2623 commented on #19079
Hi @msaustral ,
I managed to reproduce your issue in both PS 1.7.6.5. and PS 1.7.7.
I will let our dev team know about this.

Thanks!

[2020-05-12 14:55] mickaelandrieu commented on #14173
It's not.

[code]

[code]

PrestaShop 1.7.6.5.

[code]

[2020-05-12 15:01] Max84 commented on #19061
Hi @atomiix
I did a mistake, during my test, my default language was wrong.
You can close this feature request. Prestashop has already it.
Thanks.

[2020-05-12 15:01] #19061 closed, assigned to nobody

[2020-05-12 15:13] jolelievre commented on #19015
This issue has been re-scoped to 177 Because adding access to core entities is considered a new feature not a bug fix

And if it had been integrated in next 176 patch it would mean only the last patch version allows to use the core entities, which really reduces the version compatible and highlights even more the fact that it is a feature and not a bug fix

[2020-05-12 15:25] florine2623 commented on #19090
Hi @kenlog ,
Thanks for reporting this issue.
I managed to reproduce the issue on both PS 1.7.6.5 and PS 1.7.7.
I'll let our dev team know about it.
Please stay tuned, thanks !

[2020-05-12 15:26] Robin-Fischer-PS opened #19097 "Automatically check for module updates does not work"
#### Describe the bug

In Advanced Parameters, the "Automatically check for module updates" option does not seems to work.
When installing an old version of a module, when this option is disabled, the updates are still displayed for this module.

#### Expected behavior

Updates should not be displayed when option is disabled.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Bo

[2020-05-12 15:36] florine2623 commented on #19094
Hi @PeNov ,

I could not managed to reproduce your issue.
I upgraded from PS 1.7.6.4 to 1.7.6.5 with module 1-click upgrade v4.10.1
![Capture d’écran 2020-05-12 à 17 28 53](https://user-images.githubusercontent.com/16019289/81713936-ccb9c580-9476-11ea-820f-705e1f4d2db8.png)

Image setting still exists :
![Capture d’écran 2020-05-12 à 17 33 36](https://user-images.githubusercontent.com/16019289

[2020-05-12 15:53] florine2623 commented on #19081
Hi @linuxatico ,
This is a public platform, please be mindful when you send private information.

I followed that :
![Capture d’écran 2020-05-12 à 17 49 45](https://user-images.githubusercontent.com/16019289/81716147-58ccec80-9479-11ea-9388-b9813999751b.png)
After clicking on Save & Stay :
![Capture d’écran 2020-05-12 à 17 52 05](https://user-images.githubusercontent.com/16019289/81716201-6682

[2020-05-12 15:57] florine2623 commented on #19093
Could you try to comment the module directly from your FTP  and try again ?
`ps_viewedproduct` becomes `_ps_viewedproduct`
Please try and let me know !

[2020-05-12 16:29] linuxatico commented on #19081
Hi @florine2623 ,
The problem is that in url1 I see the mails from the child theme and in the second one the mails from the parent theme.
Since it seems that my Prestashop installation takes **correctly** in consideration only child theme emails (child theme is active) for me is actually impossible to translate emails via the backend panel: Every time I make a "save and stay" I have to go back and

[2020-05-12 16:35] go-sudo commented on #19083
Hi @florine2623

I'm on a vps , which folders shoud I remove please could you specify just to not do anything wrong
Regards

[2020-05-12 20:17] roja45 opened #19098 "Undefined index Notice error in debug mode when deleting a custom order status"
#### Describe the bug

This is issue #16657, which has already been raised, and closed, though I think there is an issue here.
The problem comes if an order status has been removed (or as in the original bug report the mapping between order status has not been completed correctly).

I think you can also recreate this by creating an order using paypal for example, and then uninstalling the paypal m

[2020-05-12 21:05] Matt75 commented on #19098
This is a bug from module PayPal in this case, a module should never delete an `OrderState`, on module uninstall, `OrderState` should be marked as deleted **and not removed from the database**.
There a `deleted` field on table ps_order_state for this to preserve integrity of passed orders

This issue should be sent to 202 e-commerce

[2020-05-12 21:13] roja45 commented on #19098
**Read the steps to reproduce,** you can recreate this error using just Prestashop.  If what you are saying regarding order states is true, then deleting an order state should presumably set this flag, and not delete itself.

[2020-05-12 21:37] HartLarsson commented on #11548
PS 1.7.6.5 i still experiencing the same problem too

[2020-05-12 21:37] jansanto opened #19099 "select boxes are broken in 1.7.6.3"
`<selectid="import_theme_import_from_ftp" name="import_theme[import_from_ftp]" class="custom-select"><option value="">-</option><option value="abcd.zip">abcd.zip</option>      <small class="form-text">This selector lists the Zip files that you uploaded in the '/themes' folder.</small>
    </selectid="import_theme_import_from_ftp">`

[2020-05-12 21:38] cedricfontaine opened #19100 "Reserved stock updated even if no payment happened"
Reserved stock is based on order status.

Query seems to be the following :
WHERE
                os.shipped != 1 AND (
                    o.valid = 1 OR (
                        os.id_order_state != :error: AND
                        os.id_order_state != :canceled:
                    )
                )

But we have status related to the payment system : Waiting for payment. It means that the

[2020-05-12 22:00] Matt75 commented on #19098
Native OrderState have a hidden field `unremovable` in ps_order_state table to unsure merchant cannot delete this OrderState.
Customized OrderState should be marked as deleted if orders passed with it instead of removed from database 👍
Can you modify your bug report with this scenario instead of using a module ? Thanks

[2020-05-12 23:16] CristianDeluxe commented on #18523
<img width="1440" alt="Captura de pantalla 2020-05-13 a las 1 15 29" src="https://user-images.githubusercontent.com/156531/81754789-4ec9de80-94b7-11ea-8fe8-28fe13227158.png">
Same here with PrestaShop v1.7.6.5 Stable

[2020-05-13 00:07] NoZTurn commented on #12773
I add a new suggestion.

Now, if you want to do replace an image, you have to delete an image and then upload a new one, then accociate the new uploaded image to the its related combinations.

So I suggest if we can add an option in a proper process, that upload and replace a specific image with a new one, this is better than delete an image and upload a new one, espcially in the case that one ima

[2020-05-13 00:09] PeNov commented on #19094
Hello Florine2623,
yes, I used 1-click upgrade module v.: 4.10.1

**Server log during upgrade - until now:**
[server_log.txt](https://github.com/PrestaShop/PrestaShop/files/4618963/server_log.txt)
1-click upgrade log:
[1click_log.txt](https://github.com/PrestaShop/PrestaShop/files/4619011/1click_log.txt)

Server info:  Linux 1 SMP Wed Apr 29 12:54:11 CEST 2020 x86_64
Apache/2.4.25 (Debian)
Verze P

[2020-05-13 01:40] karamanh opened #19101 "Wrong language identifier, shop is gone!"
Under Localization > Advanced, I changed Language Identifier to something wrong I guess, and now my shop is gone. I've been looking in the database but could not found anything. There's a lot of tables  related to languages, but I could not find anything that would affect this.
Version: 1.7.6.5
Thanks in advance,
//Hasan

When you enable debug mode if you see the error message:
public_html/vendor/

[2020-05-13 04:33] Sandeep-singh97 commented on #19084
Hi,
 How to set rebuild search index cron job using easy cron ?
PrestaShop version: 1.7.6.1
PHP version: 7.1.33

[2020-05-13 06:30] kpodemski commented on #19101
Look for the PREFIX_language table.

[2020-05-13 06:56] Progi1984 commented on #18523
I may have a clue.
It seems that getVersion can return false if there are no servers.

Extension : https://pecl.php.net/package/memcached
Repository : https://github.com/php-memcached-dev/php-memcached
Source : https://github.com/php-memcached-dev/php-memcached/blob/master/php_memcached.c#L2816
Test : https://github.com/php-memcached-dev/php-memcached/blob/master/tests/experimental/getversion.phpt

[2020-05-13 06:57] Progi1984 commented on #18776
The problem is relative to GDPR module.

[2020-05-13 07:08] Progi1984 commented on #18523
I reproduce the error.

1. Install Memcached extension (On ubuntu, `sudo apt-get install php7.2-memcached`)
2. In database, add a memcached server (`INSERT INTO ps_memcached_servers ( ip, port, weight)
VALUES('127.0.0.1', 12345, 1);`)
3. Go to Configure > Advanced Parameters > Performances

[2020-05-13 07:21] Progi1984 commented on #18523
The problem seems exist since version 1.7.0.x in accordance with the code and since [its implementation](https://github.com/PrestaShop/PrestaShop-1.6/blob/1.6.1.0/classes/cache/CacheMemcached.php) in 1.6.1.0

[2020-05-13 08:12] jolelievre commented on #18647
The beta build has been validated by QA team, it should be available really soon now...

[2020-05-13 08:31] PululuK commented on #18647
Good job guys. Thank you !

[2020-05-13 08:40] colinegin commented on #18526
I just came accross this issue. Is it really necessary ? I guess in 99% cases, there won't be empty order listings, because merchant cannot remove orders.
Wdyt @MatShir ?

[2020-05-13 08:52] LouiseBonnard commented on #18999
Hi there, it looks like a duplicate of #19043. I close this one so that we can all focus on #19043, thanks!

[2020-05-13 08:52] #18999 closed, assigned to nobody

[2020-05-13 09:13] colinegin commented on #19082
Hello @BenTen ,

Thanks for your feedback.

About your first issue, it's related to the fact that there is no decimal associated with the JPY currency. So even though the carrier price is set up to 15.94, the front office will actually show the closest round price, which is 16.

About your second issue, i did not manage to reproduce it with an order with "Payment accepted" status. Could you give m

[2020-05-13 09:16] colinegin commented on #19101
Hello @Peytuk ,

and thanks @kpodemski for your help !

Could you check the PREFIX_language table and tell us if it is working well again ?

Thanks

[2020-05-13 09:18] benimrumuzum opened #19104 "Cat. select, delete, import..."
nothing is working, check screenshots in attach
<img width="1250" alt="Schermafbeelding 2020-05-13 om 11 13 51" src="https://user-images.githubusercontent.com/65281695/81794637-5e731280-950b-11ea-974f-ea32a93cdea6.png">
<img width="1269" alt="Schermafbeelding 2020-05-13 om 11 15 57" src="https://user-images.githubusercontent.com/65281695/81794642-5fa43f80-950b-11ea-99d8-07dccd509012.png">

[2020-05-13 09:21] colinegin commented on #19095
Thanks for your feedback @thalassa-web.
What do you think about it @PierreRambaud and @marionf ?
Is it possible not to index the faceted search when updating products in batch ?

[2020-05-13 09:25] BenTen commented on #19082
The Carrier price is set in JPY but when the customer pay with an other currency (here EUR), the carrier price is convert (here 15.94).

[2020-05-13 09:26] colinegin commented on #19099
Hello,

Could you please provide us with more info? We need more details to understand your problem and see if we reproduce it:

- host

- server setup and configuration

- PrestaShop version (source)

- debug mode report

- PHP error logs

- apache error log

- Javascript console log

- screenshots

 ...

You don't know how to get this information? Please read the following article:

http://build

[2020-05-13 09:38] PierreRambaud commented on #19095
@colinegin I don't think there is something relevant in the hook to define if we are in batch context or not.
But I also think we can improve the code to make it faster.

[2020-05-13 09:39] PululuK opened #19105 "Change product status in the BO search results"
#### Describe the bug

You cannot change the product status in the BO search results when you click on enable / disable.

#### Steps to Reproduce

Steps to reproduce the behavior:

1 - Go to BO
2 - Search for a product in the search bar
3 - In the results table, click on the enable (✔️) or disable (❌) icon
4 - You are redirected to the product page, but the product status is always the same

**Scr

[2020-05-13 09:45] as-sviluppo commented on #9998
Hi,
same problem with 1.7.6.5.

Have you got any news?

[2020-05-13 09:50] augustinejenin opened #19106 "Purchasing not working in mobile broswer in prestashop v 1.5.0.17"
#### Describe the bug

Purachasing is working fine in PC. When taking in mobile it dowsnt not work. when add to cart it takes to a blank page and confirmd order button takes to 404 page.

#### Expected behavior

We need the product purchase should be also work in mobile browser too.

#### Steps to Reproduce

Steps to reproduce the behavior:

Take in mobile broswer
1. Go to ' http://www.quesoslarra

[2020-05-13 09:52] 6xthFNGR commented on #19070
Hey @sarahdib

a) yes, it is a feature request - tho the "Send Email as Text" Feature is useless if you attach a picture again, so this shouldnt have come up in the first place.

c) yes, I explained the Menu which I took and that I changed my Email "Templates". But only some of them are saved (3) but most of them are resettet (all other).

Ty

[2020-05-13 09:52] colinegin commented on #19100
Hello @cedricfontaine ,

Thanks for your feedback.
So, what you mean is to consider the "waiting for payment" status not a valid status and thus not block the product stock ?
But what if the payment needs a few days to be validated (take the example of "waiting for wire payment"), it means that there is a risk that the product is OOS when the payment gets valid.
What do you think ?

[2020-05-13 09:54] 6xthFNGR commented on #19072
@sarahdib:
Well, it isnt working for me :P What should I say?

[2020-05-13 10:10] colinegin commented on #19104
Hello @benimrumuzum ,

Unfortunately I cannot reproduce your problems, as you can see on my screenshots (tested on 1.7.6.5).

[2020-05-13 10:15] #19104 closed, assigned to nobody

[2020-05-13 10:34] colinegin commented on #19106
Hello @augustinejenin, thanks for your feedback.

Unfortunately, PrestaShop 1.5 is has not been maintained for a few years already.
If you are looking for support to fix your issue, you can check all options here : https://addons.prestashop.com/fr/388-support or contact a sales person to see what's the best option for your need.

Thanks !

[2020-05-13 10:34] #19106 closed, assigned to nobody

[2020-05-13 10:43] Peytuk commented on #19101
Hello there @kpodemski @colinegin
I've checked the table, but I'm not sure which one I edited by mistake, `language_code` or `iso_code`. They seem both correct to me. The problem is with the Turkish language by the way.
![image](https://user-images.githubusercontent.com/38075062/81802690-37264080-951f-11ea-893a-ef2d00207343.png)

[2020-05-13 10:54] jolelievre commented on #18647
The 1.7.7.0 Beta 1 is officially available:

https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.7.0-beta.1

Thanks to all the contributors for this release 😉 Waiting for your feedback ^^

[2020-05-13 11:04] Firefox86 commented on #9998
Nothing... it's a huge problem and I'm not sure that Joomla 4.x will fix this BIG issue (I capitalize hoping I will be listened by the Team). I'm really about to test woo...

[2020-05-13 11:41] roja45 commented on #19098
Bug report uses the prestashop only scenario, you can see this in the steps to reproduce section.

Prestashop allows the the order state to be deleted, irrespective of whether someone should or shouldn't delete a custom order state, they can.

The problem then is one of three things;
1) Prestashop shouldn't allow the order state to be delete (if in use),
2) Prestashop should mark it as deleted and

[2020-05-13 11:51] cedricfontaine commented on #19100
Yes, there is a risk. But there is also a risk to not sold the product if the payment never go through. We have a case of a product with 69 reserved quantities because of this.
On large website it could be very problematic.

[2020-05-13 12:06] colinegin commented on #19105
Hello @PululuK,

I note it as an improvement, as I don't think it was expected that you could modify the status directly from the search listing. Clicking on any element of the search line will actually just open the product page.
But it could be a nice improvement, i just want to make sure that it is ok for the UX team.
Ping @TristanLDD @prestascott what do you think about this improvement ?

[2020-05-13 12:07] Progi1984 commented on #18533
Fixed by #18884

[2020-05-13 12:07] #18533 closed, assigned to matthieu-rolland

[2020-05-13 12:08] Progi1984 commented on #18763
Fixed by #19063

[2020-05-13 12:08] #18763 closed, assigned to matthieu-rolland

[2020-05-13 12:15] colinegin commented on #18867
What do you think about it @PrestaShop/prestashop-core-developers ?

[2020-05-13 12:26] clotaire202 commented on #17131
Hi

I've check all front controller. Here is my reports.

* /index.php?controller=Index > homepage : breadcrumb not mandatory
* /index.php?controller=Address > address edition : OK
* /index.php?controller=Addresses > addresses list : OK
* /index.php?controller=Auth > auth log and sign in : OK
* /index.php?controller=Cart > cart summary : not defined
* /index.php?controller=Cms > CMS page : OK
* /i

[2020-05-13 12:39] Cameros-agency opened #19110 "Tax incl. is mentioned in cart for B2B customers"
#### Describe the bug

Hello,
We're having an issue on Prestashop 1.7.6.5 with cart total. The shop is located in France. It seems like Prestashop always calculate total with taxes even if customer has an adress with VAT number and is located in a EU country.
For example, you can see in this picture a cart where customer has an german address  without VAT number. Taxes are included regarding taxes

[2020-05-13 12:55] colinegin commented on #18942
Hello @fbsoft ,

Thanks for getting back to us. As you found where the error is coming from, I close the issue but feel free to open a new one if needed.

Thanks !

[2020-05-13 12:55] #18942 closed, assigned to nobody

[2020-05-13 13:00] colinegin commented on #18768
Yes you are right @Hlavtox , but what I don't understand is why these pages are blocked from bots in robots.txt.

[2020-05-13 13:03] Progi1984 commented on #18955
Could you do it ? I think that fix the problem.

[2020-05-13 13:05] colinegin commented on #19072
The good news is that this feature had already been requested, so we implemented it in 1.7.7.
The beta version has been released just a few hours ago, so you can already test it (be careful not to use it in production) and see if this is what you were looking for ! The final PrestaShop 1.7.7 should be released in a few weeks, so you just need a bit of patience :-D

[2020-05-13 13:07] ghost opened #19111 "When you select a predefined message auto check the input"
#### Is your feature request related to a problem?

When you select a predefined message.

The << show customer box >> should be checked

[2020-05-13 13:09] rdy4ever commented on #19101
Hi @Peytuk
What do you mean by "gone"? Where do you get the error? In the TO or in the BO? What's the error? You should enable [debug mode](https://www.prestashop.com/forums/topic/575132-how-to-enable-debug-mode-on-prestashop-17-and-older-versions-turn-on-error-reporting-blank-page/) for a detailed error.

[2020-05-13 13:12] rdy4ever commented on #19101
Also, you could try to set English as active and default, to see if you can regain access to to shop

[2020-05-13 13:15] 6xthFNGR commented on #19072
@colingein
Why do you close this topic?
Reopen it as it is NOT solved!
Yo ureplied to just one part of it, and it wasnt even the mayor part!

This is not the first time some mod. closes some topic that is NOT solved, so I get quite upset about this.

Thanks

[2020-05-13 13:20] colinegin opened #19112 "[EPIC] - Order statuses"
This epic centralizes all ideas, feedbacks and feature requests related to how Prestashop manages order statuses and what are the possible configurations.
It will be filled in step by step.

## BUGS
- [x] #26860
- [x] #30872
- [ ] #32743

**ORDER STATUS BO PAGE**

- [x] #25651

## IMPROVEMENTS

**ORDER STATUS BO PAGE**

- [x] #14752
- [x] #19100
--> one solution could be to add a checkbox in the o

[2020-05-13 13:22] ghost opened #19113 "Payment can be negative"
#### Describe the bug

Payment can be negative, normaly it's forbiden to edit an invoice but if it's allow we need to add a négative payment.

#### Additional information

* PrestaShop 1.7
* PHP 7.
![facture](https://user-images.githubusercontent.com/5064590/81817829-84a9aa00-952d-11ea-89ba-2e7c08d7c5d0.png)
2

[2020-05-13 13:24] Hlavtox commented on #19101
@Peytuk Change iso_code of turkish language to **tr-TR**

[2020-05-13 13:25] okom3pom commented on #19113
And normaly an ( avoir compta en français ) have to be generate.

[2020-05-13 13:30] colinegin commented on #13838
ping @PierreRambaud as you are working on compatibility with PHP 7.4 ;)
I have put the issue in the 178 kanban

[2020-05-13 13:37] colinegin commented on #19100
Your improvement idea is interesting but we need to take into account all use cases.
I've added the issue to the Order statuses epic so that we can study it more indepth.

Thanks !

[2020-05-13 13:40] colinegin commented on #15534
Great !

[2020-05-13 13:47] colinegin commented on #18953
@PrestaShop/prestashop-core-developers are you able to reply to @pks891618 's question ?

Thanks !

[2020-05-13 13:50] Hlavtox opened #19114 "Remove meta keywords from Prestashop"
I think having meta keywords field everywhere is not needed, because they are not used for **more than 10 years**.

They have absolutely no effect for SEO and search engines ignore them. No point of keeping this ancient relict in the UI. 😄

[2020-05-13 13:54] colinegin commented on #18946
Hello @go-sudo ,

did you change anything in the configuration of "payment accepted" or "processing in progress" statuses ?

[2020-05-13 14:28] colinegin commented on #19114
Hello @Hlavtox ,

Thanks for your feedback.

your issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/11144.
I close this issue, so that we can keep working on the other issue.

Do not hesitate to consult the EPIC related to all SEO improvements : #18402

Thanks !

[2020-05-13 14:28] #19114 closed, assigned to nobody

[2020-05-13 14:29] colinegin commented on #19114
Duplicate of #111444

[2020-05-13 14:31] colinegin commented on #19111
Hello @okom3pom ,

Thanks for your message, but could you give us more details about it ?
Is this in the order page or in the customer service page ?

[2020-05-13 14:50] colinegin commented on #19098
Hello @roja45 ,

indeed i manage to reproduce this issue by creating a custom order status.
I think the best solution is number 2 as suggested by @Matt75, so that merchant can still "remove" status that they no longer use.

About your third point, what do you think @PrestaShop/prestashop-core-developers about @roja45 's comment ?

[2020-05-13 15:05] florine2623 commented on #19084
Hi @Sandeep-singh97 ,

You can contact directly the support at PrestaShop to get personalized help :
https://addons.prestashop.com/en/388-support
I will take care of your request !

Thanks!

[2020-05-13 15:05] colinegin commented on #19113
Hello @okom3pom ,

Thanks for your feedback, could you give me more details about the steps you've followed to get this error message ?
I've added manually a payment in the order, and I got a successful update message.

Thanks !

[2020-05-13 15:05] #19084 closed, assigned to nobody

[2020-05-13 15:19] Progi1984 commented on #18844
Fixed by #19058

[2020-05-13 15:19] #18844 closed, assigned to sowbiba

[2020-05-13 15:22] colinegin commented on #19082
I've just tested it again by setting a new carrier price at 15.94 JPY, with a customer paying in euros, and from what I can see the price is correctly converted (as you can see on the screenshot)
![image](https://user-images.githubusercontent.com/35263827/81831947-3b158b00-953e-11ea-9b6a-dde3704c75c6.png)

Am I missing something ?

[2020-05-13 15:29] colinegin commented on #19098
I've also noted that after changing the order status (with a native one) from the order listing, if I try to go to the order page, I get this error :
![image](https://user-images.githubusercontent.com/35263827/81832856-47e6ae80-953f-11ea-907e-7a6cab029f59.png)

Is it related ?
ping @matthieu-rolland

[2020-05-13 16:16] colinegin commented on #18978
ping @florine2623 for paid support.
I close this issue, i let you reply to @GTriber

[2020-05-13 16:16] #18978 closed, assigned to nobody

[2020-05-13 16:16] #19000 closed, assigned to nobody

[2020-05-13 16:17] LouiseBonnard commented on #19070
Hi there, thanks @6xthFNGR and @sarahdib! I agree with the first point. By definition, plain text emails should not display any picture. Regarding the other points, let's wait for the @PrestaShop/prestashop-core-developers to answer. :-)

[2020-05-13 16:19] colinegin commented on #18971
I close this issue as we cannot reproduce your issue.
Feel free to open a new one if you have more information to share with us.

[2020-05-13 16:19] #18971 closed, assigned to nobody

[2020-05-13 16:44] colinegin commented on #19072
As you can imagine, the error is human, so please stay cool, we are doing our best !
As you were talking about feature request, I did not see that you were also talking about a bug. Each issue needs to refer to a single bug or improvement so that we can better handle it.

About your bug, I've just tested it, and it seems to be working on my side : https://drive.google.com/file/d/1izEc9-SLkKfCbbMeQ

[2020-05-13 16:46] colinegin commented on #19029
What do you think about it @PrestaShop/prestashop-core-developers ?

[2020-05-13 16:56] 6xthFNGR commented on #19072
Hello @colinegin
I see your video and that you could not reproduce such behaviour.
I tried it again, with exactly the same "test orders" which are already written in PS.
It worked.
I tried my later orders again - which worked aswell.

This is an odd behaviour, as I did tested it several times the day I posted the issue (like mentioned, checking the boxes before using bulk action, and checking it a

[2020-05-13 17:08] clotairer opened #19117 "Missing translations display suppliers & brands on Shop > settings page BO"
#### Describe the bug

Missing translations display suppliers & brands on Shop.

![image](https://user-images.githubusercontent.com/52157233/81842643-9fd7e200-954c-11ea-84f9-d376f6e332cb.png)

#### Expected behavior

Should be translated in french.

#### Additional information

* PrestaShop version: 1.7.7.0
* PHP version: N/A

[2020-05-13 17:47] jolelievre commented on #19029
Maybe we can see if the modif that was made in the template can be done in PHP, maybe in the ProductLazyArray:
https://github.com/PrestaShop/PrestaShop/blob/4505c0b24efeff28422f2063af2fc21fc6bfeb4d/src/Adapter/Presenter/Product/ProductLazyArray.php#L593-L609

I don't know fully the behaviour of `actionGetProductProperties` after that, but that's an idea, maybe the Presenter is a better option, thi

[2020-05-13 17:50] Peytuk commented on #19101
Hi there @rdy4ever
The error I get is HTTP ERROR 500
Console output is: Failed to load resource: the server responded with a status of 500 ()

Hi @Hlavtox I've already tried tr-tr, tr-TR, tr, TR (just to make sure) none of them seem to work.

[2020-05-13 17:52] rdy4ever commented on #19101
That's a generic server error. You need to enable debug mode in order to display a more detailed error. See how to enable it: https://www.prestashop.com/forums/topic/575132-how-to-enable-debug-mode-on-prestashop-17-and-older-versions-turn-on-error-reporting-blank-page/

[2020-05-13 17:56] kpodemski commented on #19029
IMHO it's a good change but it needs to be possible to change this behavior. I wrote about this here:
https://github.com/PrestaShop/PrestaShop/pull/15748

You shouldn't make a call to `Product` from your template file if you have entire `ProductPresenter` available...

[2020-05-13 18:01] Peytuk commented on #19101
@rdy4ever I just enabled debug mode and this is the output:
Fatal error: Class 'Smarty_Internal_Undefined' not found in /home/toy4geek/public_html/vendor/smarty/smarty/libs/sysplugins/smarty_internal_extension_handler.php on line 168

I'll be googling at the same time, but I wanted to share with you, maybe I get a quicker guidance here.

And below are the lines starting from 167, I'm not deep into

[2020-05-13 18:04] kpodemski commented on #19101
Use `tr-tr`, after that delete `/var/cache/prod` and `/var/cache/dev`

If this still doesn't help i'm not sure if you only modified language ;)

[2020-05-13 18:10] rdy4ever commented on #19101
This is how your row should look like for Turkey:
![image](https://user-images.githubusercontent.com/12268701/81848671-2648ef80-955e-11ea-9890-0ba7ea404353.png)

[2020-05-13 18:12] Peytuk commented on #19101
@kpodemski Hi,
I just removed both folders, still getting the same error. I submitted a ticket to my hosting provider. I am 100% sure I did not change anything else. Actually I did not have any chance to change anything, the second I changed the parameter I show above, the page refreshed and HTTP 500 ERROR.

@rdy4ever thy appear to be same
![image](https://user-images.githubusercontent.com/3807506

[2020-05-13 18:13] rdy4ever commented on #19101
I think you should set English as active.

[2020-05-13 18:16] Peytuk commented on #19101
@rdy4ever I am just going to set active in English row to 1 and 0 for the Turkish row am I right?

[2020-05-13 18:17] rdy4ever commented on #19101
Yes, just to try

[2020-05-13 18:19] Peytuk commented on #19101
@rdy4ever nope.. Not working.

[2020-05-13 18:21] rdy4ever commented on #19101
Then something else might be wrong. Don't you have any backup to restore?

[2020-05-13 18:25] rdy4ever commented on #19101
OH, and just one mre thing to make sure. I know it's dumb but it happened to me once: you might wanna check you're editing the right database (in case you may have more, maybe one used for tests or whatever). Just make sure the db you're editing is the same one defined in `app/config/parameters.php`

[2020-05-13 19:35] Laimonas-Mituzas commented on #18927
For testing puposes installed 1.7.6.1 on local. Added Lithuanian language in Localisation. Switched profile to Lithuanian language. And in BO menu we have not translated "Module manager", see in picture https://prnt.sc/sg86hw
In Crowdin for 1.7.6 folder we have https://prnt.sc/sg8a81
as traslation wa made a year ago
link https://crowdin.com/translate/prestashop-official/35096/en-lt#q=module+manage

[2020-05-13 19:59] 6xthFNGR opened #19118 "Feature Request: Multiple System Feature for Environments like Old-Backup, Live, Backup-Live, Testing with Synchronisation between them"
Hello,

as User of PS I dislike the "simple" maintenance Feature.
I rather would prefer a System like the "big players" got, with multiple Servers or Environments, so your Shop is always accessible without any loss of data between them.

The usual Shop system is the "main live system" in my thoughts, so when maintenance is activated, you can redirect for another IP.
I could set up a copy of the Li

[2020-05-13 21:06] prestamodule commented on #19029
@jolelievre We are defining a specific `id_product_attribute` on each product before providing the full product array to `ProductSearchResult->setProducts()` method.
This behaviour works fine since PrestaShop 1.7.0.
On PrestaShop 1.6, we were defining a specific `id_image` & `id_product_attribute`

[2020-05-13 22:14] BenTen commented on #19082
1/ Set your shop in JPY
2/ Made an order in Eur
3/ Change the address of the customer in BO (by order page)

See the price rounded on shipping parts.

[2020-05-13 22:25] melriksdesign opened #19119 "Null Values for Decimal Fields in layered_price_index"
After I updated the faceted search module this error still persisted.  This fixed it.

Symptoms --------------------------
- I couldn't add combinations or save other product edits when products had combinations.
- I received the red "couldn't save" error notification.

Debug Error ------------------------
The sql error was this
***************************
You have an error in your SQL syntax; che

[2020-05-14 07:01] Progi1984 commented on #18900
Fixed by #18993

[2020-05-14 07:01] #18900 closed, assigned to sowbiba

[2020-05-14 07:28] florine2623 commented on #19117
Hi @clotaire202 ,
Thanks for the report :)
This will be fixed !

[2020-05-14 07:35] florine2623 commented on #19118
Hi @6xthFNGR ,
Thanks for the recommandation, you request will be analyzed!
Thanks!

[2020-05-14 07:35] florine2623 commented on #19118
Hi @PrestaShop/prestashop-core-developers ,

Is this something that could be implemented ?

Thanks!

[2020-05-14 08:09] okom3pom commented on #19111
Hello @colinegin

It's a feature.

When we select a predefined message i think for all merchand is better if the box << show to customer >> is auto checked, because sometimes employees forget to check the box.

![test1](https://user-images.githubusercontent.com/5064590/81909484-f6840100-95ca-11ea-9edb-ae49c48c2ba8.png)
![test2](https://user-images.githubusercontent.com/5064590/81909499-fb48b500-95

[2020-05-14 08:14] florine2623 commented on #19081
Hi @linuxatico ,
Alright, thanks, it is very clear now !
This will be added to our roadmap.

Have a child theme installed
Go to International > Translations
Follow the video : https://drive.google.com/file/d/1GIELmq5BwTRb4oClbF08AM1H5e0J2dgA/view

After clicking on "Save & Stay", you can see that the page is redirecting the to Translations page of the classic theme, instead of the child_theme.

Th

[2020-05-14 08:26] gosrl opened #19120 "VAT not charged on some orders"
#### Describe the bug

VAT is not charged on some orders. For what I know (from a customer feedback), the problem happens in the checkout phase, when choosing a payment method (indipendently from the payment method).

In fact, the customer landed on the product and the price was Incl. VAT (170,00 € - which should activate free shipping), but changed in the checkout phase to 158,34 €:

- Price of p

[2020-05-14 08:35] okom3pom commented on #19113
Hello @colinegin .

Step 1 i have an order with a confirmed payment and an invoice

![step1](https://user-images.githubusercontent.com/5064590/81910667-88403e00-95cc-11ea-81a9-72f6a008ae25.png)

Step 2  i edit the price of a product

![step2](https://user-images.githubusercontent.com/5064590/81910791-b02fa180-95cc-11ea-836d-5fb1db3f3686.png)

Step 3 i have a bad amount an a bad invoice

![step3](h

[2020-05-14 08:43] Progi1984 commented on #18914
Fixed by #19032

[2020-05-14 08:43] #18914 closed, assigned to atomiix

[2020-05-14 08:43] Progi1984 commented on #18893
Fixed by #19032

[2020-05-14 08:52] TristanLDD commented on #19105
Indeed, today's behavior is weird and it would be a nice improvement to be able to change status from the search results. We'll have to wait for the migration of this page to make any changes but we'll definitely keep that in mind. Thanks for the report @PululuK

[2020-05-14 08:54] florine2623 commented on #19110
Hi @CIMEOS ,

You can add a new tax rule and apply it to your product.

For example "No Tax for EU", your FR tax is activated while other EU countries are not :
![Capture d’écran 2020-05-14 à 10 49 24](https://user-images.githubusercontent.com/16019289/81913788-ba539f00-95d0-11ea-9923-d27526a0130b.png)
In the product page :
![Capture d’écran 2020-05-14 à 10 51 37](https://user-images.githubuse

[2020-05-14 08:58] LouiseBonnard commented on #18991
Hi @zulus and @matks, thanks for your comments and explanations! It is a great idea indeed, although it might have an impact on our modok system. @PierreRambaud, would it require some changes?

[2020-05-14 09:01] nataliatebar opened #19121 "Module 1-Click Upgrade with proxy"
We try to run the module behind a proxy, but we have seen that the conection of the module is made directly by url, not pass through the proxy.

We use PrestaShop version 1.7.4.0, and we try to upgrade to version 1.7.6.5. We have PHP version 7.1.

[2020-05-14 09:02] florine2623 commented on #19119
Hi @melriksdesign ,

I'm using v3.5.0 of module Faceted Search and PS 1.7.6.5/ PS 1.7.7.0 and can't reproduce your issue. I can save products with combinations.
Glad to hear that you could fix it manually.
You might have had some overrides. You could check by disabling the overrides and try to save again your products with combinations.

As you succeeded in fixing your issue, I will close it.
Feel

[2020-05-14 09:02] #19119 closed, assigned to nobody

[2020-05-14 09:05] florine2623 commented on #19120
Hi @gosrl ,
Can you check your tax rules ?
International > Taxes > Tax rules
Maybe some tax rules are enabling **no tax** for in certain countries.
Thanks!

[2020-05-14 09:08] eternoendless commented on #19029
I don't know the specifics of this bug but looking at the [change](https://github.com/PrestaShop/PrestaShop/commit/79753f45c60ee641763c476ef34d5d61d61ae8a6) it looks like something that would be best done by adding a property in the presented  product, then using that property in the template.

[2020-05-14 09:11] florine2623 commented on #19121
Hi @nataliatebar ,
I don't think using a proxy is an issue for upgrading your website with 1-click upgrade module.
You might need to check the configuration of your proxy.

@PrestaShop/prestashop-core-developers
Could you confirm my statement ?
Thanks!

[2020-05-14 09:19] matks commented on #17081
According to @JevgenijVisockij user can also edit on this page, so I modify the name of the page.

[2020-05-14 09:20] matks commented on #17081
According to @JevgenijVisockij this page could benefit, through migration, of small UX improvements
=> to be seen with @MatShir and @TristanLDD

[2020-05-14 09:26] florine2623 commented on #19111
@okom3pom thanks for the details !
Please stay tuned.

[2020-05-14 09:27] fabio-zetaweb commented on #12896
Hello,

I've a similar problem. But in my case Invoice are regularly generated, nevertheless there is an error on the statistics, infact they reveal 12 orders instead of 11 (real order numbers).

I'm using v1.7.6.3 (no order managment modules active).

![orders](https://user-images.githubusercontent.com/56585945/81917592-af4f3d80-95d5-11ea-8489-e5bec8bd8f8b.jpg)

![dashtrends](https://user-images.

[2020-05-14 09:27] florine2623 commented on #19111
Hi @PrestaShop/prestashop-product-team  ,

The customer would like the message box in an order page to be checked automatically.
Is this a relevant improvement ?

Thanks!

[2020-05-14 09:35] PrestaEdit opened #19122 "Productcomments error with product as array"
#### Describe the bug

With productcomments v4, the hookDisplayProductListReviews trying to handle a ProductLazyArray but never check if the params it not an array (as it could be used with modules). So, the $product->getId() throw an error.

#### Expected behavior

Firsly, check that $params['product'] is not an array with an existing ID inside it.

#### Steps to Reproduce

Steps to reproduce the

[2020-05-14 09:55] matks opened #19123 "Product page - Combinations generator"
As discussed with @zuk3975, @eternoendless, @jolelievre, @MatShir

Combinations generator can generate thousand or even millions of combinations. This operation requires a huge amount of processing and we expect it to crash a lot of servers.

So it's must be done in a way that preserve the server resources.

### Technical spec

When BO user decides, from the UI, to generate combinations.

1) Javas

[2020-05-14 09:55] matks commented on #19123
Linked to https://github.com/PrestaShop/PrestaShop/issues/14773

[2020-05-14 09:57] florine2623 commented on #19113
Hi @okom3pom ,
Thanks for the details !
I think the issue here is that the shipping price has been changed after you modified the price of a product. It went from 2€ to 7€.
So the issue isn't that you can't add a negative price, am I right ? Could you confirm ?
I have managed to reproduce the same issue on my test shop.
Thanks!

[2020-05-14 09:58] okom3pom commented on #19113
No i tried with an other order an no shipping.

[2020-05-14 09:58] W4U-TOURS commented on #14752
@Hlavtox
For those who are interested like me, can you specify the 5 lines of code please.
Thank you

[2020-05-14 10:00] matks opened #19124 "[SF Migration] Use Symfony components for authentication instead of legacy system"
We should use Symfony to authenticate user instead of legacy system.

@rokaszygmantas already implemented it into https://github.com/PrestaShop/PrestaShop/pull/13733

However
- we must check nothing has changed at session & cookie level to ensure compatibility with legacy pages
- we must try, when possible, to keep old login system functional because some modules use it to bypass authentication (e

[2020-05-14 10:00] matks commented on #12953
After discussing with @eternoendless it has been decided to modify the scope of this issue. This issue will keep legacy authentication system but use migrated Symfony controller and Twig template. Another issue will handle the switch between legacy authentication system and Symfony authentication system https://github.com/PrestaShop/PrestaShop/issues/19124

[2020-05-14 10:02] okom3pom commented on #19113
Yes the issue is :

We can't add a negative price.

[2020-05-14 10:06] florine2623 commented on #18940
Hi @6xthFNGR ,
Beta version is out now, you can try it !

Please stay tuned regarding this issue.
Thanks

[2020-05-14 10:06] matks commented on #19124
We expect to deliver this for 1.7.8 along with the migration of the display of the page (see https://github.com/PrestaShop/PrestaShop/issues/12953) but we'll take all the time needed for it, don't worry 😄

[2020-05-14 10:11] hadjedjvincent commented on #19029
I would really suggest to revert the mentioned commit into the issue https://github.com/PrestaShop/PrestaShop/commit/79753f45c60ee641763c476ef34d5d61d61ae8a6, first, so the module ecosystem is not broken if 1.7.7 get released with it.
Then, let everyone think about the best way to achieve this without breaking everything, and still allow modules to change the behaviour.
We must keep a simple way t

[2020-05-14 10:11] eternoendless commented on #19123
@matks the mysql storage could be considered a form of event sourcing :)

[2020-05-14 10:14] CIMEOS commented on #19110
Hello @florine2623 ,
Thank you for your reply !
You're right but you did your test as an individual, not as a company. Here are more information about our issue.

A tax rule with 20.00% tax for EU country is defined in back-office. This tax is applied to every customer in those countries. However, if the customer is a company (i.e. has a VAT number) we noticed that product prices in cart are taxes

[2020-05-14 10:25] matthieu-rolland commented on #19098
Yes it's probably related @colinegin , it seems like a good idea to mark the status as deleted instead of removing it from DB as @Matt75  said, actually there's a field "deleted" in **ps_order_state**.
@roja45 is also right when he says that the code is dodgy, a verification should be made on the existence of id_order_state in the array.

I'll have a look at it soon, thank you !

[2020-05-14 10:28] florine2623 commented on #19122
Hi @PrestaEdit ,

Could you specify the PS version you are using ?

On PS 1.7.6.5 and PS 1.7.7.0, using module productcomments v4.0.1, I could not reproduce your issue. I have also installed cross-selling in v2.0.0.

I successfully made an order.

Do you have screenshots of your error ?

Thanks!

[2020-05-14 10:30] PrestaEdit commented on #19122
Hi @florine2623 ,

Every PS 1.7 version ; it's not the cross-selling module but the "Cross Selling On Cart", by Presta-Module. It's the one I've in example, but there is surely so many others as it.

[2020-05-14 10:33] #13890 closed, assigned to matks, TristanLDD, MatShir

[2020-05-14 10:34] Peytuk commented on #19101
Thank you all, this is how I solved the problem.

Inside config.inc.php I commented out:
[code]
Then i was able to reach my site again, I set the default language from drop down list under Localization, and did not touch anything in the Advanced section. Everything is working now.

[2020-05-14 10:35] Peytuk commented on #19101
Thank you all, this is how I solved the problem.

Inside config.inc.php I commented out:
[code]
Then i was able to reach my site again, I set the default language from drop down list under Localization, and did not touch anything in the Advanced section. Everything is working now.

@rdy4ever @kpodemski @Hlavtox @colinegin

[2020-05-14 10:38] #19101 closed, assigned to nobody

[2020-05-14 10:58] gosrl commented on #19120
Hello,
country is always Italy, we only accept orders from this country.

Now I've explicitly set VAT 22% for all provinces of Italy, and see if this solves the issue.

Also, in those cases when we had this error, VAT was not applied to shipping costs.

Strange thing is the VAT was properly applied on some orders and not applied on other orders. For sure, it has happened 2 times for orders to be s

[2020-05-14 11:07] DelecroixQuentin opened #19128 "SQL performance improvement in WebserviceRequest"
#### Describe the bug

https://github.com/PrestaShop/PrestaShop/blob/develop/classes/webservice/WebserviceRequest.php#L1734

`(Validate::isFloat(pSQL($filterValue)) ? 'LIKE' : '=')`
The ternary condition is inverted, it uses a `LIKE` statement instead of a `=` statement for int and float and uses a `=` statement for strings.

By the way, is it useful to use a `LIKE` statement here ?
Since in line

[2020-05-14 11:53] FrancescCommerce21 commented on #12519
solved here: https://www.prestashop.com/forums/topic/320713-update-image-legend-and-position-with-web-service/

[2020-05-14 12:10] nataliatebar commented on #19121
Hi @florine2623,
We use another modules and all connect without problems for update... We detect that the module 1-Click try to connect to the url directly, so I thought it was from the code part where you try to connect through the proxy.

Thanks in advance,

[2020-05-14 12:25] colinegin commented on #10583
Hello @matks and @zuk3975 can we close this issue now or is there still work to be done on it ?

[2020-05-14 12:37] LouiseBonnard commented on #18927
Hi @Laimonas-Mituzas, thank you very much for the detailed explanation! I know what you're talking about! Indeed, translations for the _Module Manager_ string were not retrieved so far. It has been fixed and will be released in PrestaShop 1.7.7, cf. https://github.com/PrestaShop/PrestaShop/pull/17986. Also, there are known issues to the menu translation that this [PR](https://github.com/PrestaShop

[2020-05-14 12:37] #18927 closed, assigned to nobody

[2020-05-14 12:43] colinegin commented on #14995
Are you still working on this issue @jolelievre or should we put in back in the to do column ?

[2020-05-14 12:46] Progi1984 commented on #18959
Fixed by #19039

[2020-05-14 12:46] #18959 closed, assigned to atomiix

[2020-05-14 12:48] colinegin commented on #12982
Hello @sowbiba what's the status of this issue ? Are you still working on it ?

[2020-05-14 12:48] colinegin commented on #17177
Hello @prestascott @NeOMakinG , is there anything left to do here ?

[2020-05-14 12:53] NeOMakinG commented on #17177
Except deploying it to NPM after getting it tested by the QA with a brut path, nothing

[2020-05-14 12:54] NeOMakinG commented on #17177
See this : https://github.com/PrestaShop/PrestaShop/pull/17253

(need a rebase btw)

[2020-05-14 13:00] olecorre opened #19129 "On BETA 1.7.7, order page not full translate"
#### Describe the bug

In the details of a command, there are still some untranslated terms in French
“Add a discount“
from
Validated orders placed...

#### Steps to Reproduce

Install Prestashop 1.7.7.0 in french langage

**Screenshots**

![Capture d’écran 2020-05-14 à 14 56 12](https://user-images.githubusercontent.com/2854750/81937069-627a5f80-95f3-11ea-9004-55a3b4218d8d.png)

#### Additional

[2020-05-14 13:03] tsarnow opened #19130 "unit_price_ratio will be reset to zero when Product constructer is called with $full = false and product.update() is called"
#### Describe the bug

The unit_price_ratio in table product will be reset to zero in php when a product is load via the Product constructor with the parameter `$full = false` and updated afterwards.

#### Expected behavior

The field unit_price_ratio shouldn't be overwritten because the product wasn't fully loaded.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Catalog > Ar

[2020-05-14 13:17] Caleydon opened #19131 "Wrong Favicon's ALT text in BO"
#### Describe the bug

Wrong Favicon's ALT text in BO (Design > Theme & Logo). Nothing crucial ;)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Design > Theme & Logo
2. Right-click on favicon image in the upload part and see the wrong ALT text "Invoice logo". It should be "Favicon image" or something like this.

See the video: https://vimeo.com/418440686/e5af815c73

#### Add

[2020-05-14 13:31] Hlavtox commented on #14752
@W4U-TOURS Ok, here you go.

### 1 Add database column
Go to your SQL manager and run this, change prefix if needed:
`ALTER TABLE 'ps_order_state' ADD 'hide_admin' tinyint(1) unsigned NOT NULL DEFAULT '0';`

### 2 Open classes/OrderState.php.
This will add it to OrderState definition and change the function called. It's an optional parameter added to the function so if anything other uses it, it w

[2020-05-14 13:39] Caleydon opened #19132 "Different shipping costs in the order history page (FO)"
#### Describe the bug

There are different shipping costs in the order history page (FO) when order is placed with tax. In the subtotal table is shipping cost correct with tax. But in the next table is cost without tax.

The problem is in the getShipping funcion, in the file
src/Adapter/Presenter/Order/OrderDetailLazyArray.php

#### Steps to Reproduce

Steps to reproduce the behavior:

1. made cle

[2020-05-14 13:41] colinegin commented on #17713
Hello @MauroKali ,

Are you able to make a PR to add this error message ?

Thanks !

[2020-05-14 14:08] kmorgen opened #19134 "Wrong Carrier listing for international non logged-in Visitors (Geolocation)"
**PROBLEM (tested both in PS 1.6.1.24 and PS 1.7.6.5 and PS 1.7.8):**
The carrier shown prior to login (Visitors) are based on the Carriers with values for the Shop Default Country (as defined in Localization menu). NOT based on the Carriers defined for the IP detected country/zone. The carrier shipping prices are the correct localized value though - but the carrier list itself are wrong filtered,

[2020-05-14 14:13] cdcvince opened #19135 "Add hook "displayAfterTitle" in the theme"
**Problem**
We need a hook at the very top of the page, before all the loading of js and css, for example for A/B test or analytics modules.

**Solution**

Add directly after "</title>" in the file _themes/classic/templates/_partials/head.tpl_ the code :
[code]

[2020-05-14 14:15] NeOMakinG commented on #19135
ping @PrestaShop/prestashop-core-developers wdyt ?

I don't know if this is already existing

[2020-05-14 14:17] LouiseBonnard commented on #16575
Might be fixed on Crowdin, cf. https://github.com/PrestaShop/PrestaShop/pull/16576#issuecomment-628665479. Let's wait for the right translation and check if it solves this problem.

[2020-05-14 14:19] Progi1984 commented on #18447
Fixed by #19086

[2020-05-14 14:19] #18447 closed, assigned to Progi1984

[2020-05-14 14:40] techguydev opened #19136 "Error after installing in public server"
#### Describe the bug

I have followed the installation process as suggested, everything seems to work just fine, the process ends and then when I try to visit the front-end  it says:

[code]

[2020-05-14 14:54] colinegin commented on #17657
Has it been done already ? Is it on the develop branch ?

[2020-05-14 15:02] PierreRambaud commented on #19135
Hi,
What kind of changes do you need to do on your template? There are hooks for stylesheets and javascript, there are also `actionFrontControllerSetVariables` and `actionFrontControllerAfterInit`. Could you tell us more about what you wanted to do?

[2020-05-14 16:23] matks commented on #18835
I planned to change the value but if you ask, I guess it's because, as a theme/module developer you'd like to be choose what you want to display ?

So maybe a new variable would be nice indeed 😄

[2020-05-14 16:25] Lucasoil opened #19141 "Can´t upgrade via one click upgrade. the screen turns white and nothing happens. the same is when I try to go to customer support"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-05-14 17:19] LouiseBonnard opened #19142 "[WIP] Harmonize the wording for the 'Status' column in tables"
#### Is your feature request related to a problem?

I realized that there was an inconsistency with the name of a column in the tables of the back office. Indeed, there are a lot of different wordings to designate the same online/offline column.

It would be more user friendly to pick the most accurate wording and have it harmonized throughout the back office pages and with the related fields or t

[2020-05-14 17:24] MatShir opened #19143 "Wrong the calculation on a cart rule applied to a specific product with a discount higher than the value of the product"
#### Describe the bug

When I add a cart rule applied to a specific product with a discount greater than the value of the product, the invoice and the discount total are wrongly calculated. The cart rule bases the discount on the total of the order instead only to base it to the price of the specific product.

#### Expected behavior

Calculate the discount base on the specific price and NOT base o

[2020-05-14 17:28] MatShir commented on #19143
related to https://github.com/PrestaShop/PrestaShop/issues/18379.
The flag has a minor since the merchant have to put an amount greater than the value of the product.

[2020-05-14 19:06] Caleydon opened #19144 "Different global font-size on order history page (BO)"
#### Describe the bug

Order history page (BO) has defined global font 2px smaller than on other pages. Tested on clean PS installation.

#### Steps to Reproduce

See on the video: https://vimeo.com/418580145/d0a0dbbc4c

#### Additional information

* PrestaShop version: 1.7.7 beta 1
* PHP version: 7.2

[2020-05-14 20:05] Caleydon opened #19145 ""Prices drop" page mislabeled title"
#### Describe the bug

"Prices drop" page mislabeled title. “Prices drop” doesn’t mean “On sale”. The product On sale does not have to have a reduced price. It’s two different types of promotion. The page should be correctly titled as “Prices drop”.

Edit the getListingLabel function in the file /controllers/front/listing/PricesDropController.php in order to fix the issue.

![prices-drop-page](htt

[2020-05-14 20:18] Caleydon opened #19147 "Remove Google+ share button in the ps_sharebuttons module"
Please remove support already terminated Google+ social network in the ps_sharebuttons module.

![ps_sharebuttons](https://user-images.githubusercontent.com/2806752/81981428-945de700-9630-11ea-9f1a-54747cd49d5d.png)

#### Additional information

* PrestaShop version: 1.7.7 beta 1
* PHP version: 7.2

[2020-05-14 20:32] 6xthFNGR opened #19148 "Feature request: Implement regular "Content" Editor into the Categorie Pages Edit Options"
Hello,

In BO > Menu > Improve > Design > Pages > Click "Add a Category"
I want this part :
![Capture d’écran 2020-05-15 à 11 45 11](https://user-images.githubusercontent.com/16019289/82046876-13473400-96b2-11ea-805a-ccc147871f08.png)
With TinyMCE Editor :
![Capture d’écran 2020-05-15 à 11 46 10](https://user-images.githubusercontent.com/16019289/82046896-1a6e4200-96b2-11ea-8932-149d0f6eec21.p

[2020-05-14 20:37] PululuK commented on #19147
Hi @Caleydon
See https://github.com/PrestaShop/ps_sharebuttons/pull/29

[2020-05-14 20:41] kpodemski opened #19151 "Remove cache on module ps_sharebuttons"
Please remove cache from this module. This is useless:

https://github.com/PrestaShop/ps_sharebuttons/blob/master/ps_sharebuttons.php#L145

There is nothing to cache, and because of complexity of cache key we have thousands more files of cache worth nothing...

[2020-05-14 21:43] Caleydon opened #19149 "Credit slip numbering need reset each year + other invoicing improvements"
It’s missing feature.... Please rework Credit slip numbering. Right now the Credit slip number is inthe ffact database table ID of the slip record. It’s not allow reset numbering each year or other numbering manipulation. It’s a big issue for an accountants. So Credit slips generated by PrestaShop can’t be used in the business accounting.

Then the ability to reset the Credit slip numbering and ab

[2020-05-15 04:02] JSMOnline opened #19150 "Contact Block not showing correctly on website"
#### Describe the bug

We needed to update phone number. I went into the 2 contact modules we have installed (Contact block v1.4.1 - by PrestaShop and Contact information block v1.2.1 - by PrestaShop) and updated to the correct number. I clicked save.
When checking the website, the number has not updated. I have done hard refresh and had others check but it's still the old number.
It is now the co

[2020-05-15 06:22] matteolavaggi commented on #19093
Same problem also with directory name changed

[2020-05-15 06:47] Caleydon commented on #19150
Did you clean PrestaShop's cache in Advanced Parameters > Performance?

[2020-05-15 06:48] zuk3975 commented on #10583
**There are still some low priority improvements that could be made** (for example carts/orders list could be paginatable, also checklist of this issue is not fully checked yet), but I don't know when its planned to happen. **What was planned for 1.7.7 is finished.**

[2020-05-15 06:49] Caleydon commented on #19147
Sorry for duplicate issue.

[2020-05-15 06:49] #19147 closed, assigned to nobody

[2020-05-15 06:52] emilieatelier commented on #18761
![image](https://user-images.githubusercontent.com/63663739/82020436-5c36c280-9689-11ea-9ce0-444ab37e3b11.png)

voila

[2020-05-15 06:53] emilieatelier commented on #18624
@sarahdib yes of course, and i uninstall and install again and nothing change

[2020-05-15 07:32] Progi1984 commented on #19077
Fixed by #19089

[2020-05-15 07:32] #19077 closed, assigned to matthieu-rolland

[2020-05-15 07:32] florine2623 commented on #19141
Hi @Lucasoil ,
I can't help you if you don't describe more your issue.
What version of PS are you using ?
What happens when you enable debug mode ?
Also, if you need custom help, you can contact the support [here](https://addons.prestashop.com/en/388-support).
Thanks!

[2020-05-15 07:40] zuk3975 commented on #19123
@matks, this is really huge scope (bigger than it might seem at first), so to make it clear:

To have that "just a list of combinations to generate" means already to generate all the possible combinations (without any domain logic, just numbers). That number can grow up to billions of combinations very fast, so unless its also done in separate ajax requests it will be a killer. To generate all com

[2020-05-15 07:52] Lucasoil commented on #19141
Hi,

The PS version is 1.7.6.2

Nothing happens when I enable debug mode.

Från: florine2623 <notifications@github.com>
Skickat: den 15 maj 2020 09:33
Till: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Kopia: Lucasoil <jani@lucas-oljor.se>; Mention <mention@noreply.github.com>
Ämne: Re: [PrestaShop/PrestaShop] Can´t uppgrade via one klick uppgrade. the screen turns white and nothing happe

[2020-05-15 07:53] florine2623 commented on #19150
Hi @JSMOnline ,
With the theme you are using, there's probably another module to change. I advise you to contact directly the developer of the theme.
Or you can contact the support [here](https://github.com/PrestaShop/PrestaShop/issues/19141).
Thanks!

[2020-05-15 07:53] #19150 closed, assigned to nobody

[2020-05-15 07:59] toutantic commented on #19124
An important requirement is to make sure that we make it easy for a module to replace the authentification system with an external system. For example to integrate with an SSO system.
But I guess the standard symfony component will make that easier.

[2020-05-15 08:02] florine2623 commented on #19145
Hi @Caleydon ,
Thanks for the report.
Please stay tuned !
Thanks!

[2020-05-15 08:07] florine2623 commented on #19129
Hi @olecorre ,
Thanks for the report ! I managed to reproduce this issue.
This will be added to our roadmap.
Thanks!

[2020-05-15 08:09] JSMOnline commented on #19150
I am not sure which settings to change – can you advise please?

From: Gabriel Schwardy <notifications@github.com>
Sent: Friday, 15 May 2020 2:48 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: JSM Online <JSM.Online@jasonsigns.com.au>; Author <author@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Contact Block not showing correctly on website (#19150)

Did you clean Pre

[2020-05-15 08:11] florine2623 commented on #19145
Hi @PrestaShop/prestashop-product-team ,

Should this page title be changed on future versions ?

Thanks!

[2020-05-15 08:17] florine2623 commented on #19131
Hi @Caleydon ,
Thanks for the report, please stay tuned !

[2020-05-15 08:20] florine2623 commented on #19136
Hi @lmatab ,
I can't reproduce your issue.
Is this a live shop or a localhost shop ? Make sure the URL you are looking into is correct.
Please add screenshot of the folders and the site, if there are any errors please send them.
Thanks!

[2020-05-15 08:20] colinegin commented on #18003
Any news @v4lux ?

[2020-05-15 08:23] florine2623 commented on #19141
Please answer via GitHub, answering by email is not ideal on GitHub issues.

What do you mean "nothing happens" ? It is still white, is there an error appearing, does the module works ?
Do you have an error when opening the console ?
Check your log file and search for any "Fatal Error".

Please check and let me know!

[2020-05-15 08:38] Progi1984 commented on #19075
Fixed by #19103

[2020-05-15 08:38] #19075 closed, assigned to sowbiba

[2020-05-15 08:40] florine2623 commented on #19132
Hi @Caleydon ,
This is not a bug, the page is showing delivery fee tax incl. and tax excl. :
![Capture d’écran 2020-05-15 à 10 37 07](https://user-images.githubusercontent.com/16019289/82030190-60b6a780-9698-11ea-9416-746ca571524d.png)
Thanks!

[2020-05-15 08:42] Caleydon commented on #19145
Maybe you don't understand the issue. The Page title, Meta description and URL is defined correct in Shop Parameters > Traffic & SEO. It's "Prices drop". But the H1 title and page breadcrumb is defined in the code - see getListingLabel function in the file /controllers/front/listing/PricesDropController.php. And there is defined as "On sale".

[2020-05-15 08:44] jonasburneika commented on #13892
@khouloudbelguith I had the same issue with Features import and problem are with Feature name or value containing special characters like Ø, °C, and Feature and Feature Class name has validation isGenericName. After removing validation rule I could import values.
`  'name' => array('type' => self::TYPE_STRING, 'lang' => true, 'validate' => 'isGenericName', 'required' => true, 'size' => 128),`

You

[2020-05-15 08:45] Progi1984 commented on #17657
It's a `WIP` from my side :)

[2020-05-15 08:48] PululuK commented on #19123
Add https://github.com/PrestaShop/PrestaShop/issues/18949 please !

[2020-05-15 08:49] Caleydon commented on #19132
I know but why? On the one page is under same label different value? It should be added inc. tax and excl. tax labels. But is there any good reason display customer who place the order with tax, shipping cost without tax?

[2020-05-15 08:50] jolelievre commented on #19123
Indeed it seems it won't be easy ^^ So I think we should keep the simple case in mind for now (manageable through one request) and the pagination. We'll tackle with the million combinations later

[2020-05-15 08:51] colinegin commented on #10583
Wdyt @MatShir @matks ?
I think we should create a new issue if there are some improvements to be done, to be able to close this "master" one.

[2020-05-15 08:58] florine2623 commented on #18761
It seems like you have files missing, in another issue you said that you upgraded your shop. That probably is why it's not working properly anymore.
Please check the log file of that upgrade and check for "fatal error".
Or send me the log file if you don't know how to read log files.
Thanks!

[2020-05-15 09:03] florine2623 commented on #18624
Hi @emilieatelier ,
Please check in the log file if you had any errors during the upgrade.
Or send me the log file. You can find it in your_admin/autoupgrade/tmp/log.txt
Thanks

[2020-05-15 09:07] florine2623 commented on #19122
Hi @PrestaEdit ,
Ok thanks for the details.
But I can't reproduce your issue. Could you send me the error ? Or a screenshot ?
Thanks!

[2020-05-15 09:09] MatShir commented on #10583
The issues are already created, the list is in this [epic](https://github.com/PrestaShop/PrestaShop/issues/17598). Since this page is migrated and accessible from the BO, we can close it. we can work on the improvements and bugs directly on the version kanban.

[2020-05-15 09:09] #10583 closed, assigned to MatShir

[2020-05-15 09:09] florine2623 commented on #19128
Hi @DelecroixQuentin ,
Thanks for your suggestion.
I will ping our dev team to let them know.
Please stay tuned !

[2020-05-15 09:12] florine2623 commented on #19128
Hi @PrestaShop/prestashop-core-developers ,

Could you take a look at @DelecroixQuentin ? It might be interesting :)

Thanks!

[2020-05-15 09:13] Lucasoil commented on #19141
Hi,
![2020-05-15](https://user-images.githubusercontent.com/65353764/82033501-1c79d600-969d-11ea-95fd-e82656d4d983.png)

[2020-05-15 09:15] Lucasoil commented on #19141
As you can see the the page is blank when I try to klick on 1-klick uppgrade or go to customer service page

[2020-05-15 09:18] florine2623 commented on #19093
Can you send a screenshot of the error with debug mode ?

[2020-05-15 09:20] PrestaEdit commented on #19122
Hi @florine2623 ,

There is.

![572](https://user-images.githubusercontent.com/2631425/82034177-20f2be80-969e-11ea-9530-6705054993a4.png)

[2020-05-15 09:23] florine2623 commented on #19149
Hi @Caleydon ,

In total you want these 4 features :
- Be able to reset Credit Slip number every year
- Add current year automatically in Credit Slip number
- In a Credit Slip, display the invoice number related
- In Multishop, be able to set an identifier in Credit Slip number
example :
store 1 : CS1-XXX
store 2 : CS2-XXX

Can you confirm ?

[2020-05-15 09:34] florine2623 commented on #19120
Hi @gosrl ,
If you want VAT to be applied in shipping cost, you need to set it in the carrier configuration :
![Capture d’écran 2020-05-15 à 11 33 26](https://user-images.githubusercontent.com/16019289/82035572-f73a9700-969f-11ea-8f8f-99f1b400e161.png)
Thanks!

[2020-05-15 09:47] gosrl commented on #19120
Hello florine,
thank you for your answer.

The VAT has always been present in the carrier configuration:

![image](https://user-images.githubusercontent.com/65334261/82036394-256ca680-96a1-11ea-8a19-376acb7705a5.png)

Somehow VAT was removed in the checkout page. I asked to 2 of the customers and:
- the first one told me the price was already without VAT when he landed on the product page
- the se

[2020-05-15 09:47] florine2623 commented on #19148
Hi @6xthFNGR ,
Do you mean you want this part :
![Capture d’écran 2020-05-15 à 11 45 11](https://user-images.githubusercontent.com/16019289/82036911-bfccea00-96a1-11ea-9e82-ea709a51f001.png)
Like that ?
![Capture d’écran 2020-05-15 à 11 46 10](https://user-images.githubusercontent.com/16019289/82036936-c52a3480-96a1-11ea-8473-01afa0e14e24.png)
Thanks!

[2020-05-15 09:57] florine2623 commented on #19113
Could you explain why you would want to add a negative amount on an order ?

[2020-05-15 10:02] florine2623 commented on #19144
Hi @Caleydon ,
Thanks for the report, please stay tuned !

[2020-05-15 10:05] florine2623 commented on #19151
Hi @PrestaShop/prestashop-core-developers ,

Could you take a look at @kpodemski 's request ?
Is it relevant ?

Thanks!

[2020-05-15 10:08] florine2623 commented on #19152
Hi @soullivaneuh ,

Could you specify your issue with steps to reproduce ou screenshots ?
What version of PS are you using ? What version of ps_sharebuttons ?

Thanks!

[2020-05-15 10:10] colinegin commented on #19129
FYI @LouiseBonnard

[2020-05-15 10:13] 6xthFNGR commented on #19148
Hello @florine2623

yes :)

THanks

[2020-05-15 10:15] jherry commented on #17137
Be aware that when installing a new version of a module, if there is a PHP cache (opcache), the upgrade file is not executed (/upgrade/upgrade-vx.x.x.php) and may cause damages if this treatment is important (new table in database for exemple). So the fact that the module can be upgraded must be visible. I will try to create an issue for this but I need to check if it's not already done.

[2020-05-15 10:18] florine2623 commented on #19141
Please change your admin folder for security reasons. This is a public platform.

Are you sure debug mode is on ?
**For 1.7**
Advanced Parameters > Preferences > Debug Mode ON
**For 1.6**
In config/defines.inc.php
Change
`define('_PS_MODE_DEV_', true);`
to
`define('_PS_MODE_DEV_', true);`

Also, open console look for error.

[2020-05-15 10:28] florine2623 commented on #19120
Thanks for the details.
- Can you check if the fisrt customer is in a customer group that display the tax ?
Shop Parameters > Customer Settings
![Capture d’écran 2020-05-15 à 12 26 23](https://user-images.githubusercontent.com/16019289/82040774-649df600-96a7-11ea-955d-47101e6364af.png)
- Regarding the second, the tax might not be activated for that customer in that province/state.

[2020-05-15 10:33] narciscotaie-smart2pay opened #19156 "Wrong price on discounted products"
#### Describe the bug

A shopping cart with a product with discound has a different total price when I increase the quantity.

#### Expected behavior

The total price should be product's price x quantity.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install prestashop 1765
2. Open the browser  and go to the shop front page
3. Search for "HUMMINGBIRD PRINTED T-SHIRT", notice it co

[2020-05-15 10:41] toutantic commented on #19123
Now that you have defined the problem solution will be easy ;)
We must avoid cartesian product ! We should never generate a list of all the possible combinations (Unless we want to stress test the system).
There is no need to paginate the creation of combinations because we should not create all of them in the first place.
One way of dealing with it is to use an overriding system.
You have a defau

[2020-05-15 10:59] okom3pom commented on #19113
Because it's the law and to have good statistics.

Otherwise it's VAT fraud

[2020-05-15 11:16] okom3pom commented on #19113
En français :

On ne peut pas envoyer une facture de 100 € par exemple.

Faire une remise de 20 €  sans générer un avoir.

Ca voudrait dire que le client va récupérer la TVA sur 100 € alors qui'il a payé que 80 €  il devrait récupérer la TVA sur 80€ et pas sur 100 €
En cas de contrôle d'un client le marchand risque gros. C'est pareil en Belgique je ne connais pas les règles des autres pays mais je

[2020-05-15 11:44] florine2623 commented on #19148
Hi @PrestaShop/prestashop-core-developers ,
What do you think about that improvement ? Can this be done ?
Thanks!

[2020-05-15 11:51] zuk3975 commented on #19123
If most merchants doesn't edit combinations, it makes sense. And those who does, would be able to create some manually(?) (I doubt anyone edits millions combinations anyway).
However It would mean **massive breaking changes** in FO and BO :exploding_head:

[2020-05-15 11:55] florine2623 commented on #19156
Hi @narciscotaie-smart2pay ,

First, please change your PHP version to 7.2. PHP 7.3 is not compatible with PrestaShop 1.7.6.5.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

This is actually not a bug.

Here's the calculation :
**Discount 20%**
28.68 * 0.80 = 22.944
**2 items**
22.944 * 2 = 45.888
**Rounding of 45.888**
45.89

Thanks!

[2020-05-15 11:55] #19156 closed, assigned to nobody

[2020-05-15 12:11] florine2623 commented on #19130
Hi @tsarnow ,
I couldn't reproduce your issue.
Please check my screen record :
https://drive.google.com/file/d/1MqnsWPt0pfmgAaqfDnh-TktlxRY9I7Yv/view
Thanks!

[2020-05-15 12:11] matks commented on #19113
I remember another discussion on this topic. It was about whether or not people should be allowed to manually modify invoices once created.

**Basically this can be linked to the bigger question "Should PrestaShop enforce or not laws for every country ?"**

If I remember correctly (@PrestaShop/prestashop-product-team can correct me if I'm wrong) we checked with a lawyer to be sure about whether or

[2020-05-15 12:19] eternoendless commented on #19123
Yep, the proposal makes sense but won't work with the existing model.

[2020-05-15 12:19] kpodemski commented on #19151
@sam-pires all issues, even those related to modules should be created in main repo?

[2020-05-15 12:21] Progi1984 commented on #18618
Fixed by PrestaShop/ps_facetedsearch#169

[2020-05-15 12:21] #18618 closed, assigned to nobody

[2020-05-15 12:26] florine2623 commented on #19122
Could you check Design > Positions > Search for module Product comment and see it is hooked on displayProductListReviews like so :
![Capture d’écran 2020-05-15 à 14 26 30](https://user-images.githubusercontent.com/16019289/82050250-17765000-96b8-11ea-81f7-083b22cddcc0.png)
Thanks!

[2020-05-15 12:27] Progi1984 commented on #19151
@kpodemski Affirmative

[2020-05-15 12:28] sam-pires commented on #19151
@kpodemski, yes it is better.
We still have some issues related to modules, in the modules' repos. But to be able to manage the issues in the development boards/kanban, they have to be on the main repo.

So we are progressively disabling issues submission on all modules repos and transfer existing issues to the main repo. As @Progi1984 did this morning with this one 🙂

Instead of having the issues

[2020-05-15 12:28] PrestaEdit commented on #19122
Of course, is it. If not, it will not throw this error.

The error is that the $params['product'] is handled as a LazyArray, but it's not everytime the case.

[2020-05-15 12:29] kpodemski commented on #19151
@sam-pires good choice, i remember my frustration with issues (and PRs) open in modules for years ;)

[2020-05-15 12:31] Progi1984 commented on #19148
@florine2623 It is a decision taken by @PrestaShop/prestashop-product-team but it's doable.

[2020-05-15 12:31] kpodemski commented on #19151
@Progi1984 for the record, few weeks ago i cleaned cache folder from over 2GB of cache files for sharebuttons module :P

in getWidgetVariables we're not doing anything "heavy", Configuration is cached by default etc.

[2020-05-15 12:34] gosrl commented on #19120
They are all Tax Incl.
Thank you

[2020-05-15 12:38] muyncky commented on #19123
@zuk3975 nice! That is called a [combinatorial explosion](https://en.wikipedia.org/wiki/Combinatorial_explosion)!

Maybe break the process once it takes too long. Let's say your 1 minute in with adding combinations:
1. Break the script and say "max server capacity reached, continue doing your next batch".
2. The combinations so far are created, won't be attempted again
3. Repeat process.

Problem

[2020-05-15 12:58] florine2623 commented on #19120
I still can't reproduce your issue with all the details.
You might need to look into the overrides.

[2020-05-15 12:59] florine2623 commented on #19122
When disabling cross selling on cart module, do you face the issue ?

[2020-05-15 13:01] PrestaEdit commented on #19122
No ; but it's quite normal.

I say you than this module use a product list with an array of products ; it's work great. The fact is that this specific hook of productcomments think we already sent a LazyArray. It's not the case. This module is an exemple, but it could be done on a lot of them.

[2020-05-15 13:10] LouiseBonnard commented on #19129
Hello @olecorre, thanks a lot for your report! You're right, French translation has not reached 100% on Crowdin yet, this is why some new wordings are still in English. It should be fully available by the weekend, I'll check next week. ;-)

[2020-05-15 13:42] jf-viguier commented on #19123
In my opinion, having thousand of combinaisons for a single product is a non sense and means that the product has to be restructured.

[2020-05-15 13:46] florine2623 commented on #19134
Hi @kmorgen ,

- When a customer is logged in, the carriers displayed are the ones the customer can use.
- When a customer is not logged in, the carriers are only displayed when an address has been submitted in the purcahse tunnel.

Hope it helps.
Thanks!

[2020-05-15 13:51] florine2623 commented on #18943
When you disable your overrides, do you still have this issue ?

[2020-05-15 13:55] Matt75 commented on #18003
Refund process on PrestaShop Checkout has been rewrite in v1.4.0
This issue will now not occur with our module.

[2020-05-15 13:58] baldemir commented on #19035
@marionf thank you for taking time to check it. But what i mean by synchronization is not synchronizing the carts on login. Assume you have two sessions with same account on your mobile and on your desktop. When you add item to cart on mobile, I'm expecting to see it on desktop too. It is what happens on popular e-commerce websites. But I don't see this behaviour on PrestaShop.

[2020-05-15 14:13] matteolavaggi commented on #19093
Hi, thanks but read my issue post, when debug mode is enabled the order detail page work with no problem

[2020-05-15 14:37] florine2623 commented on #19122
@PrestaEdit ok thanks for clearing that up. These 2 modules are not compatible then.
I will ping our dev team.
Please stay tuned.

[2020-05-15 14:39] florine2623 commented on #19122
Hi @PrestaShop/prestashop-core-developers ,

@PrestaEdit is having issues in having 2 modules working together. (One from PrestaShop, other from Presta-Module)
Is there something that can be done on our end ?

Thanks!

[2020-05-15 15:06] florine2623 commented on #19150
Clear cache of your website in Advanced Parameters > Performances

Again, this is not a core issue, you can contact the support for help :
https://addons.prestashop.com/en/388-support

[2020-05-15 15:11] florine2623 commented on #19132
Hi @PrestaShop/prestashop-product-team ,

In the Customer Account > Order History > Details
Some fields are not clear enough : _Shipping & Handling_ and _Shipping Cost_ have different prices. One is Tax incl and the other tax excl, it should be mentioned somewhere.
![Capture d’écran 2020-05-15 à 10 37 07](https://user-images.githubusercontent.com/16019289/82065855-ece3c180-96ce-11ea-85b4-cfd5480

[2020-05-15 15:16] Matt75 opened #19161 "Confirmation button on Checkout should be disabled if Terms and conditions are not approved"
#### Describe the bug

On checkout, with PaymentOption of type Binary, I don't approve Terms and conditions but I can validate my order.

#### Expected behavior

On checkout, if Terms and conditions is not approved, all confirmation buttons should be disabled.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install a payment module with a PaymentOption of type Binary.
For example :

[2020-05-15 15:21] Matt75 commented on #19098
Can be reproduced with module [Payment Example v2.0.0](https://github.com/PrestaShop/paymentexample/pull/14)

1. Install module Payment Example v2.0.0
2. Make an Order with PaymentOption Pay Offline
3. Order is created with a custom OrderState from module
4. Go to Module Manager and reset module
5. Custom OrderState previously created by module is marked as deleted
6. Go on FO > Account > Order Hi

[2020-05-15 15:35] Matt75 commented on #19161
Should be fixed in this function of Core JS : https://github.com/PrestaShop/PrestaShop/blob/03032d6adb19836240047b5658988f1e64c823ee/themes/_core/js/checkout-payment.js#L84

Possible buttons :
1. `button[type="submit"]` ([module Payment Example v2.0.0](https://github.com/PrestaShop/paymentexample/pull/14))
2. `input[type="submit"]`
3. `input[type="image"]` ([module Atos](https://addons.prestashop.

[2020-05-15 15:45] florine2623 commented on #19110
Hi @CIMEOS ,
Thanks for the clarification !
I did manage to reproduce this on my PS 1.7.6.5.
Price for customers :
![Capture d’écran 2020-05-15 à 17 39 33](https://user-images.githubusercontent.com/16019289/82069122-2e766b80-96d3-11ea-93b3-7c8cc4fb39fd.png)
Price for B2B customers :
![Capture d’écran 2020-05-15 à 17 40 11](https://user-images.githubusercontent.com/16019289/82069151-37673d00-96

[2020-05-15 15:50] florine2623 commented on #19093
Try to deactivate your module pagecache and et me know the outcome.

[2020-05-15 15:50] kmorgen commented on #19134
With Geolocation the detected country is prefilled, and thereby enough to give international non logged-in visitors the correct prices, tax and carriers - as it is supposed to. But the bug is the carriers list includes the BO Shop Default Country carriers too as mentioned. You can verify it according to described.

[2020-05-15 16:11] marionf commented on #19035
It works if you enable the option to redisplay cart at login

1. Enable the option redisplay cart at login
2. Login to your account in a browser
3. Login to your account in another browser or in private navigation
4. Add a product to your cart in browser 1
5. Refresh the page on browser 2
6. The product added to the cart in browser 1 is also in your cart in browser 2

See the screenrecord below: h

[2020-05-15 16:26] baldemir commented on #19035
When I try with a new user everything worked as expected. I think in my first try it didn't work because of existing carts before changing settings. Thank you very much @marionf for your time!

[2020-05-15 20:59] muyncky commented on #19123
@jf-viguier In my opinion thousands of combinations should possible.

I gave one example of a printable product that can only have specific width and heights and need to be defined.
Widths (15): `[20 cm, 30 cm, 40 cm, 50 cm, 60 cm, 70 cm, 80 cm, 90 cm, 100 cm, 110 cm, 120 cm, 140 cm, 150 cm, 160 cm, 200 cm]`
Heights (15): `[20 cm, 30 cm, 40 cm, 50 cm, 60 cm, 70 cm, 80 cm, 90 cm, 100 cm, 110 cm, 12

[2020-05-16 01:51] kekkopaciello opened #19162 "Compile Error Prestashop"
Fatal Compile Error: Symfony\Component\Debug\DebugClassLoader::loadClass(): Failed opening required '/web/htdocs/www.pacielloantichita.it/home/vendor/composer/../../src/Core/Group/Provider/DefaultGroups.php' (include_path='/web/htdocs/www.pacielloantichita.it/home/vendor/pear/pear_exception:/web/htdocs/www.pacielloantichita.it/home/vendor/pear/console_getopt:/web/htdocs/www.pacielloantichita.it/ho

[2020-05-16 02:07] dali-rajab commented on #17725
May be we should add another script to https://github.com/PrestaShop/PrestaShop/blob/develop/Makefile which add this missing `{PREFIX}_image_type` entries.

[2020-05-16 03:49] go-sudo commented on #19083
hi @florine2623 any news please

[2020-05-16 06:54] Akron99 commented on #13872
The bug has been around longer: (https://www.prestashop.com/forums/topic/622965-register-javascript-17-inline/)

I think it is caused by an incorrect line in the StylesheetManager and JavascriptManager Class (Both are malfunctioning).
In the addInlinedStyleContent and addInlinedJavascriptContent method file_get_contents($item[**'path'**])
correctly: file_get_contents($item[**'uri'**])

[2020-05-16 09:12] PululuK commented on #19123
Hi @matks

We can use batch generation by creating groups of combinations.
Consider the following case where you want to generate combinations :

**_Taille_** : `[S, M]`
**_Couleur_** : `[Orange, Bleu, Vert]`

![Capture du 2020-05-16 10-10-56](https://user-images.githubusercontent.com/16455155/82114538-96719400-975d-11ea-84df-90eb0647ca97.png)

If we use the current system we will get `(Nb element

[2020-05-16 11:09] 6xthFNGR opened #19164 "Feature Request: Language Selector Block selectable Language Flags and Sorting"
Hello,

many people like to add small Flag Icons next to the Language in the Language Selector Block.
There are several manuals in the PS Forum and other blogs, stating how to modify PS 1.6 and PS 1.7.
Like: https://www.themebooster.com/prestashop-tutorials/prestashop-1-7-and-1-6-display-language-flags/
or
https://www.prestashop.com/forums/topic/342578-how-to-add-flags-on-languages-block-for-ps-16

[2020-05-16 12:23] gabrielobleite commented on #18928
Still need to be done?

[2020-05-16 15:11] gabrielobleite commented on #18916
Hi, have created a PR to solve that issue:
https://github.com/PrestaShop/PrestaShop/pull/19165

Hope that is good.

[2020-05-16 16:27] The-Land-Lord opened #19166 "Problem with second combination"
I have a problem with combinations.

I can see attributes, create combinations, but when I return to these combinations when they are created, the second one is not modifiable and the stock field disappears.
 Another curious fact is that if you allow the second combination to be eliminated, but if you go back into the product, the combination that was in position 3 and that after deleting the prob

[2020-05-16 18:04] wahono77 opened #19167 "Faceted search modules slider got problem for high value price"
Faceted search modules slider got problem for high value price, it's maximum max slider range is 999999

After I change table ps_layered_price_index, it's OK
- price_min and price_max from DECIMAL (11, 9) to FLOAT

regards

[2020-05-16 19:36] Gipielle commented on #19134
I can confirm this problem on ps 1.7.6.5 and below versions 1.7.6.x

[2020-05-16 19:48] Gipielle opened #19168 "Improve the performance when you have many rows in ps_cart and ps_connections"
Hello,

I enabled the profiler in prestashop 1.7.6.5 and i see in
AdminCarts i have this query:

[code]

that takes 890ms and checks 11022223236 rows from
`/classes/controller/AdminController.php:3295`

Is it normal ?

PrestaShop version: 1.7.6.5
PHP version: 7.2.30

[2020-05-16 19:59] alfonsolr09 commented on #18968
apparently uninstalling google chrome and installing it again it solves

[2020-05-16 19:59] alfonsolr09 commented on #18951
why?

[2020-05-16 20:03] alfonsolr09 commented on #18944
test scenario no, if you want I can give you access to my website so you can see the error

[2020-05-16 20:06] alfonsolr09 commented on #18950
@Progi1984 are there any news?

[2020-05-16 20:07] alfonsolr09 commented on #18823
I still think that idea is great, the image is worth a thousand words

[2020-05-16 20:08] alfonsolr09 commented on #18802
@colinegin if you can tell me which file should i modify and i will try

[2020-05-16 20:35] alfonsolr09 opened #19170 "Design > Positions - wrong checkbox display"
#### Describe the bug

icons are not positioned well

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to design
2. Click on positions
3. See error

**Screenshots**

<img src="https://image.prntscr.com/image/rQCOxVabR2GXuj_QotsM4g.png" />

#### Additional information

* PrestaShop version: 1.7.7.0
* PHP version: 7.2

[2020-05-16 20:38] alfonsolr09 commented on #18801
How is the topic going?

[2020-05-16 20:39] alfonsolr09 commented on #18803
@marionf How is the topic going?

[2020-05-16 20:41] alfonsolr09 commented on #19170
I also add that I like this page more as it is in the current version of prestashop 1.7.6.4 having a background to distinguish

[2020-05-16 22:07] JayWilliams74 opened #19171 "Modules & Services"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

When I click on the menu option for Modules & Services within my Admin menu I would expect that it gives me a list of all the Modules and Services that I have to customise my store.

This is what it did up to me trying to install a number of free modules that I downloaded from the Prestashop Marketp

[2020-05-17 06:08] burakgit commented on #14516
so @freeman78ita ,
what happened to fix this ?

@khouloudbelguith it is very bad,
if i create a new customer there should be a option which enables, disables specific prices, if it cant, catalog prices must ovverride the specific price.

[2020-05-17 06:57] Matt75 commented on #19171
You have a module on your server not compatible with your PrestaShop version.

With PrestaShop 1.6, module can’t use namespace in main `Module` class due to an [eval](https://github.com/PrestaShop/PrestaShop-1.6/blob/21284d2ff48245cdcb343f41e545d8b629cec4bb/classes/module/Module.php), `eval` cannot read php file who use a `use` instruction.

In class `Module` we have to use Fully qualified namespa

[2020-05-17 07:07] AsifJoiya1 opened #19172 "Unauthorized interventions"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-05-17 07:56] mklimkiew commented on #19148
IMHO this improvement is absolutelly essential. Now the only thing you see on category page is a list of sites. This is poor for SEO.

To make CMS more logical you need some content on the Category page. And the list of nested sites should be an option.

[2020-05-17 08:37] mklimkiew opened #19173 "Feature request: Product Availibility easily turn on/off"
BO > Catalog > Products

In the BO on the Products page you can turn on/off visibility of the product quite easily.

If shop is not using quantity management then it would be useful to have option to quckly turn on/off **product availibility**.
Now if I run out of stock I need to make a lot of clicks to turn off product availibility. And after the stock is again up I need to once again make a lot

[2020-05-17 09:09] thbl commented on #12452
i have the same issue

[2020-05-17 09:54] freeman78ita commented on #14516
Nothing......it's a very basic thing. Now for example under covid we would love to set up let's say a category "t-shirt" with 30% off that override specific prices and we can't set it.
I hope they will release this soon. I'm going to start playing with the code myself if i have time and contribute if i can.

[2020-05-17 10:28] JayWilliams74 commented on #19171
Hi Matt

I did what you suggested and looked through each of the modules and found that It was potentially Netreview & Mailchimp that were at fault. As soon as I deleted both folders I have access to Modules again.

Many Thanks!

[2020-05-17 10:30] karensenna commented on #19171
k

On Sun, May 17, 2020, 6:29 AM JayWilliams74 <notifications@github.com>
wrote:

[2020-05-17 10:31] JayWilliams74 commented on #19171
Thank you for the resolve..
Issue Closed

[2020-05-17 10:31] #19171 closed, assigned to nobody

[2020-05-17 10:48] 6xthFNGR opened #19174 "CacheAPC unexpected behaviour - User can not trigger "Clear Cache" in BO"
#### Describe the bug

If Cache is cleared with the BO Feature, Cache APC is untouched and remains the same.

#### Expected behavior

Obvously, Clear Cache means Clear every cache to the User,
so please upgrade the Clear Cache Feature so it includes the missing parts

#### Steps to Reproduce

- Go for your BO - Menu - Configure - Advanced Parameters - Performance - Caching and activate CacheAPC.
-

[2020-05-17 10:56] karensenna commented on #19174
[https://github.com/telekom/scale/projects/1#card-27804864https://github.com/telekom/scale/compare/v0.0.17...v0.0.16https://github.com/telekom/scale/compare/v0.0.17...v0.0.16]()

[2020-05-17 10:56] karensenna commented on #19174
1

[2020-05-17 10:57] karensenna commented on #19174
![received_353191262325775](https://user-images.githubusercontent.com/47072524/82142625-b9f31800-980b-11ea-971b-d86f501a4131.jpeg)

[2020-05-17 10:59] 6xthFNGR commented on #18939
I think this issue could maybe have been due to CacheAPC,
as the Bug cleared itself without intervention, this would make sense to me:
#19174

Thanks

[2020-05-17 13:06] amitkumar32 commented on #9522
hi my name is amit kumar and i am a angular web devepolerand i want to work on this issue

[2020-05-17 13:10] karensenna commented on #9522
k

On Sun, May 17, 2020, 9:06 AM amit kumar <notifications@github.com> wrote:

[2020-05-17 13:20] boutanes opened #19175 "Property Address->id_city is empty"
[PrestaShopException]
Adresse de la propriété-> city est vide.
à la ligne 944 dans les classes de fichiers / ObjectModel.php

939.}
940.
941. $ message = $ this-> validateField ($ field, $ this -> $ field);
942. if ($ message! == true) {
943. if ($ die) {
944. lever une nouvelle PrestaShopException ($ message);
945.}
946. return $ error_return? $ message: faux;
947.}
948.}

[2020-05-17 14:17] longerzoom opened #19176 "I would like to see my admin area like this"
Is your feature request related to a problem?
I want to pay attention to the inconvenient location of the block in orders

![b2dac8ecfe02](https://user-images.githubusercontent.com/1009343/82889835-a3f00080-9f4b-11ea-80bc-bdad8a9d187e.jpg)

Many people were grateful to you. Thank

[2020-05-17 14:55] emilieatelier commented on #18761
@florine2623 where i cand find the log file of this upgrade?

[2020-05-17 14:55] emilieatelier commented on #18624
The same question that in the other issu, where i can find it?

[2020-05-17 15:19] wapmorgan opened #19177 "Can not install in docker (nginx + fpm)"
#### Describe the bug

Can not install prestashop (develop) in docker (nginx + fpm) configuration.

#### Expected behavior

A working configuration.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Git clone Prestashop
2. Go to `docs/docker/nginx_fpm/`
3. Change nginx port to 8081
4. Up project `docker-compose up`
5. Point browser to few pages and **see errors**:

- / - 403 Forbidden

[2020-05-17 15:23] wapmorgan commented on #19177
Also, tried `./prestashopCli.sh`:
[code]
And that fails too with different errors: `vendor/` is empty at most cases

[2020-05-17 17:29] burakgit commented on #14516
There is a paid module, but my country is not supporting Paypal. So i am waiting.. it is so important to the " Disable/enable specific prices for selected groups.

[2020-05-17 17:35] freeman78ita commented on #14516
which module? I think this should be not managed by a plugin but as a native feature.

[2020-05-18 06:30] clotaire202 commented on #19161
We already have a similar problem on stripe official module. It's a little tricky to retrieve if the checkbox is check. [JS use DOM id](https://github.com/202-ecommerce/stripe_official/blob/develop/_dev/js/payments.js), and it's not very good.

It could be nice to "emit" Prestashop javascript event to catch if all conditions are OK to enable the Submit button.

[2020-05-18 07:31] Progi1984 commented on #18950
We are waiting for @TristanLDD ;)

[2020-05-18 07:34] Progi1984 commented on #18944
Without being able to reproduce your bug, we cannot try to fix. Could you try to find the scenario in a local new installed PrestaShop ?

[2020-05-18 07:35] PierreRambaud commented on #18802
@alfonsolr09 If you're not a developer, don't think it's a good idea to touch the code :thinking:
You need to be patient and wait for someone to create a pull request, or if you can't wait, you can pay a developer or an agency to do it for you.

[2020-05-18 07:40] alfonsolr09 commented on #18802
I'm not a developer, but I have a local store where I test.
if you tell me which file should i touch i can try

[2020-05-18 07:45] Progi1984 commented on #18968
@alfonsolr09 Thanks. So we can close this issue ?

[2020-05-18 07:58] alfonsolr09 commented on #18968
I think yes thanks

[2020-05-18 08:00] Progi1984 commented on #18968
Thanks ;)

[2020-05-18 08:00] #18968 closed, assigned to nobody

[2020-05-18 08:15] cdcvince commented on #19135
I need a place to execute JS code before everything else, basically for loading A/B test ok analytics code for performance etc ...

I am the developper of a best seller module on Prestashop, and during installation of the module, the tpl file is modified to add this hook.

This is not a good practice, and having this hook in the core theme like "displayAfterBodyOpeningTag" would be much better.

[2020-05-18 08:21] hitinder commented on #13939
I have the same TTFB issue with my store on v1.7.5.1

Is there anything I can do to reduce the **Add to cart**?

![TTFB](https://user-images.githubusercontent.com/9841229/82190202-5b0bcc80-98f9-11ea-9f7c-9f928184786a.png)

TIA,
Hitin

[2020-05-18 08:23] LouiseBonnard commented on #17193
Hi @sam-pires, @Progi1984, then what would be the best solution?

[2020-05-18 08:32] Progi1984 commented on #17193
@LouiseBonnard It needs to be specified by @PrestaShop/prestashop-product-team

[2020-05-18 08:36] LouiseBonnard commented on #18653
@Progi1984 and @matks, except for the multiple avatar management that needs to be discussed, are those steps okay for you?

[2020-05-18 08:44] carlosul opened #19178 "Deleting a product with customization"
When deleting a product with a customization it only deletes de customization in the first try, leaving the product in the cart but without the customization. The client needs to delete the product two times to fully remove it from the cart.

The customization in the product is mandatory and the product shouldn't be able to be added without it.

#### Expected behavior

When a client deletes a prod

[2020-05-18 08:48] PierreRambaud commented on #18802
We shouldn't know exactly which files need to be modified, otherwise we already done a pull request :)

[2020-05-18 08:50] jf-viguier opened #19179 "The customizable flag of product should be settable by a module"
#### Describe the bug

The customizable flag is set in AdminProductWrapper after any hook, the wrapper is not overridable. So a module with customization features cannot set this flag by itself
let's see here :
https://github.com/PrestaShop/PrestaShop/blob/03032d6adb19836240047b5658988f1e64c823ee/src/Adapter/Product/AdminProductWrapper.php#L704

#### Expected behavior
The customizable flag should

[2020-05-18 08:51] Progi1984 commented on #18653
No problem for me ;)

[2020-05-18 09:07] cdcvince commented on #19123
It's a good idea, but how do you handle the stock ? I mean if a specific variant is sold, you have to decrement this specific stock, so at the end, you need one row by combination.

[2020-05-18 09:10] florine2623 commented on #19175
Hi @boutanes ,
You need to change the address format in the country configuration.
International > Locations > Edit the country > Add City :
![Capture d’écran 2020-05-18 à 11 09 30](https://user-images.githubusercontent.com/16019289/82195094-1e8ba100-98f8-11ea-80e9-3d162c4fd9a3.png)
Thanks!

[2020-05-18 09:10] #19175 closed, assigned to nobody

[2020-05-18 09:15] florine2623 commented on #19170
Hi @alfonsolr09 ,
I can't reproduce your issue :
![Capture d’écran 2020-05-18 à 11 14 20](https://user-images.githubusercontent.com/16019289/82195599-cacd8780-98f8-11ea-955f-c748e8cf032e.png)
What screen resolution are you using ?
Thanks!

[2020-05-18 09:19] #19005 closed, assigned to nobody

[2020-05-18 09:19] florine2623 commented on #19172
Could you please provide us more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots
You don't know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-cr

[2020-05-18 09:27] florine2623 commented on #19178
Hi @carlosul,
I couldn't manage to reproduce your issue, please check my screen record :
https://drive.google.com/file/d/1M4gt3Dn2me9a1xLdkM8cL8hrTIn_8HBf/view
Are you using any modules for the cart ?
If yes, please deactivate the overrides and try again
Thanks!

[2020-05-18 09:40] florine2623 commented on #19166
Hi @The-Land-Lord ,
When you enable debug mode, do you see any error ?
When you open your console, do you have errors ?
Please check and let me know!

[2020-05-18 09:44] florine2623 commented on #19162
Hi @kekkopaciello ,
Is this a fresh install ?
What version of PrestaShop are you using ?
Please check and let me know!

[2020-05-18 09:48] carlosul commented on #19178
Hi! I'm using Prestashop's cart module.
I think that you are using a combination. My problem occurs with customizations from "Options" of the product page. I have a text customization.

Thanks!

[2020-05-18 09:58] LouiseBonnard commented on #16610
Done by #71, I close this issue, thanks @prestascott and @NeOMakinG!

[2020-05-18 09:59] #16610 closed, assigned to nobody

[2020-05-18 10:03] sam-pires commented on #19014
is this a regression ?

[2020-05-18 10:07] sowbiba commented on #19164
Thanks for your suggestion @6xthFNGR
I will let @PrestaShop/prestashop-product-team take a look at the need and come back to you asap

[2020-05-18 10:13] florine2623 commented on #19178
Sorry, my bad. Here's another screen record : https://drive.google.com/file/d/12OBQmBWVkqtGBFvjk_pFaVGp3C-izc2Z/view
I can't reproduce your issue in neither PS 1.7.6.4 or PS 1.7.7.0.
Can you check the overrides folder please ?

[2020-05-18 10:15] florine2623 commented on #18624
In your FTP in path :  your_admin/autoupgrade/tmp/log.txt

[2020-05-18 10:15] florine2623 commented on #18761
In your FTP in path : your_admin/autoupgrade/tmp/log.txt

[2020-05-18 10:17] florine2623 commented on #18561
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-05-18 10:17] #18561 closed, assigned to nobody

[2020-05-18 10:17] florine2623 commented on #18620
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-05-18 10:17] #18620 closed, assigned to nobody

[2020-05-18 10:21] sowbiba commented on #19167
Thanks @wahono77 for your report

Please follow our bug report template https://github.com/PrestaShop/PrestaShop/issues/new?template=bug_report.md to help us reproduce it

[2020-05-18 10:39] boutanes commented on #19175
merci

[2020-05-18 11:15] sowbiba commented on #19173
Thanks @mklimkiew for the suggestion

If I understand well, you want the ON/OFF feature available when you edit a product but in the listing page ?

![Capture d’écran de 2020-05-18 10-59-43](https://user-images.githubusercontent.com/7426640/82207005-b25d6d00-98f8-11ea-971f-697f3b3795a4.png)

I will let @PrestaShop/prestashop-product-team study your request and come back to you asap

[2020-05-18 11:27] The-Land-Lord commented on #19166
Hi @florine2623 ,

thanks for your response. I don't see errors in console or debug mode when I see the combinations, but, if I try to activate the product or change any values in the combinations  there are a error:

![image](https://user-images.githubusercontent.com/64405332/82200168-fbb0bb00-98fe-11ea-9cdb-fd6c78dc8dd0.png)
![image](https://user-images.githubusercontent.com/64405332/82200383-34

[2020-05-18 12:12] #18920 closed, assigned to matthieu-rolland

[2020-05-18 12:13] #18987 closed, assigned to matthieu-rolland

[2020-05-18 12:14] LouiseBonnard commented on #18776
@lolath-presta, can you please have a look at this issue?

[2020-05-18 12:15] sowbiba commented on #19174
@karensenna
this time you will get a simple reminder of our Code of conduct and your message will be deleted

https://github.com/PrestaShop/open-source/blob/master/code-of-conduct/code-of-conduct-en.md

Thank you for reading it and respect it when you write on PS issues

[2020-05-18 12:27] LouiseBonnard commented on #19059
@atomiix, did you reproduce it? is it a bug?

[2020-05-18 12:35] marionf commented on #17845
@PrestaShop/prestashop-qa
@SimonGrn
Auto tests will need to be updated

[2020-05-18 12:38] LouiseBonnard commented on #18450
We need to create a Jira ticket to have this checked with the platform team.

[2020-05-18 12:42] sam-pires commented on #19173
Thanks for the feedback @mklimkiew 👍 it will be taken into account for a rework on the product list page.
What you want is to make the product unavailable but still visible, right ?

I have a couple of questions to better understand your needs:
- Why don't you set stocks for your product?
- How long is the period of time between the moment you have no stock and make the product unavailable and the

[2020-05-18 12:46] LouiseBonnard commented on #13838
Hi @prestamodule, can you confirm that PR #17337 solves your issue?

[2020-05-18 12:48] boubkerbribri commented on #17845
@marionf Thank you for the alert, we will keep an eye on this issue

[2020-05-18 12:48] LouiseBonnard commented on #16891
@matks, do you already know who will be in charge at Invertus?

[2020-05-18 12:48] florine2623 commented on #19175
You're welcome !

[2020-05-18 12:58] PierreRambaud commented on #13838
@colinegin if this issue is related to PHP 7.4, it's a duplicate of #16477

[2020-05-18 13:11] elboletaire opened #19182 "Can't create webservice specific management classes for modules"
#### Describe the bug

Thanks to the new hook added in #5531, we can now define custom webservice endpoints for our modules, but there's a caveat: if you want to use a custom management class for your service, you won't be able to place it in your module folder, [due to how this class is being called in `WebserviceRequest.php`](https://github.com/PrestaShop/PrestaShop/blob/849d82a2a8d7c206f1da3ac0

[2020-05-18 13:25] sowbiba commented on #19174
Thanks for the report @6xthFNGR

The bug is reproduced on 1.7.6.5 and 1.6.1.24

https://drive.google.com/file/d/1llZZMYsK8iPj1aclAk1dOW1APGGzm1dj/view
https://drive.google.com/file/d/1arrHCvedt2BlDoimWhtZKsSCa2v6e0l1/view

[2020-05-18 13:32] grizado commented on #19017
Any news on the files to be edited with the above code?
Thank you.

[2020-05-18 13:33] matteolavaggi commented on #19093
Same problem, cache is not used in login page for user.

[2020-05-18 13:34] matteolavaggi commented on #19093
Why in debug mode work?

[2020-05-18 13:40] sowbiba commented on #19176
Thanks for your time

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots
You don't know how to get this information? Please read the following article:
http://build.prestasho

[2020-05-18 13:42] eternoendless commented on #19176
@longerzoom Can you please clearly explain the problem in english?

[2020-05-18 13:57] longerzoom commented on #19176
Hey, eternoendless.
I have shown this location in the image quite well in the new version of PS1.7.7.0.
What I saw in 1.7.7.0 upset me more than impressed.
I want to have a function to change the discount for each item. Not a general discount.
I want my template to look like the one I made in Photoshop...
Sorry about my Russian to English translator.

[2020-05-18 13:57] PierreRambaud commented on #19135
This is something you should be able to do by extending smarty blocks.
https://www.smarty.net/docs/en/language.function.block.tpl

Not sure it's a good idea to add hooks for one use case. Otherwise we will have to do it for `title`, `body`, `html` and all other html tags :thinking:

[2020-05-18 14:00] matks commented on #19085
Product page rework is scheduled for 1.7.8 and is expected to be done following other similar Add/Edit page structure 😉so the standard form builder and data handler hooks will be usable.

https://devdocs.prestashop.com/1.7/modules/sample-modules/grid-and-identifiable-object-form-hooks-usage/

[2020-05-18 14:01] LouiseBonnard commented on #19110
Hi there, thanks @florine2623 and @CIMEOS! I'm not sure to understand where does the issue comes from: is it a code issue or a wording issue?

I understand that, when in a B2B context, the FO product page does not mention '_TTC_' (✅) while the checkout mentions '_(tax incl.)_' (❎). It should be '_(tax excl.)_' instead.

If the code is right, it just displays the wrong string (only the string needs

[2020-05-18 14:03] SD1982 opened #19184 "BO - Order detail - Voucher is displayed multiple time"
Be aware of the EPIC - BO - Display and update error on cart rule in the order #19594 to solve this issue

#### Describe the bug

When creating an order from the BO if a cart rule authorizing several uses per user is added and then we add products to this order from the BO a new line of vouchers is added for each product added

#### Expected behavior

For one voucher we should have only one displa

[2020-05-18 14:09] sowbiba commented on #19179
Thanks for the report @jf-viguier
I forward the subject to the @PrestaShop/prestashop-product-team and they will come back to you asap

[2020-05-18 14:11] sam-pires commented on #18450
Here is the issue in the Platforms team's Jira: http://forge.prestashop.com/browse/PLFS-2424 (PS employees only)

[2020-05-18 14:14] sam-pires commented on #18450
Waiting for the Platforms team to work on the API on their side before continuing working on it

[2020-05-18 14:14] florine2623 commented on #19093
What do you mean "cache is not used in login page" ?
If there is an issue with the page cache module, you should contact the dev of that module directly.

[2020-05-18 14:16] SD1982 commented on #19014
No this behaviour was already present in 1.7.6

[2020-05-18 14:21] atomiix commented on #19059
@LouiseBonnard, yes, I reproduced it and yes it's a bug. I didn't try with 1.7.5 though.

[2020-05-18 14:26] florine2623 commented on #19166
Thanks for the screenshots. As you said, this error in your screenshot occurs when you try to update a product with no quantity. When you edit a combination using the "pen" can you modify the quantity ?
Are you using any module for your combinations/products ?
If yes try to disable all overrides and let me know.
`overrides` folder becomes `_overrides`

[2020-05-18 14:41] JayWilliams74 opened #19187 "CSV Import"
#### Describe the bug
I have been trying to upload my product file into Prestashop without any success. However the file that I am working on is not necessarily in the same order or same headings as the expected file even though I know you can map the columns!

So I tried using the column headings and copy-paste the relevant info into the columns and tried again and got the same result that it wou

[2020-05-18 14:51] florine2623 commented on #19072
Hi @6xthFNGR ,
It is possible that the request did not go through entirely.
You can check your log file to see if there are any fatal errors.
Thanks!

[2020-05-18 14:57] florine2623 commented on #19187
Hi @JayWilliams74 ,
Sorry but we don't do any support on PS 1.6.
For that, please contact the support team here :
https://addons.prestashop.com/en/388-support

Also, please keep in mind that this is a public platform, you should not be showing your back-office url. Please change it.

Thanks for your understanding !

[2020-05-18 15:01] thbl commented on #12452
php 7.2 prestashop 1.7.6.5
@khouloudbelguith @eternoendless could you look more into this ?

[2020-05-18 15:02] florine2623 commented on #19082
Hi @BenTen ,
I followed your steps, and I couldn't reproduce your issue.
The order has been made :
![Capture d’écran 2020-05-18 à 17 01 32](https://user-images.githubusercontent.com/16019289/82228337-49421d80-9929-11ea-8579-b44c480b1c01.png)
After changing the address via BO :
![Capture d’écran 2020-05-18 à 17 01 16](https://user-images.githubusercontent.com/16019289/82228346-4d6e3b00-9929-11e

[2020-05-18 15:07] Matt75 opened #19189 "Add a JavaScript event when Terms and conditions are approved"
#### Is your feature request related to a problem?

In checkout process in payment step, add a [Javascript Event](https://devdocs.prestashop.com/1.7/themes/reference/javascript-events/) when customer approve Terms and conditions to help payment modules to know if they can process to payment or not.

For modules [PrestaShop Checkout](https://github.com/PrestaShopCorp/ps_checkout), [Stripe](https://

[2020-05-18 15:12] matks commented on #19189
Looks good 👍
ping @NeOMakinG

[2020-05-18 15:13] Matt75 commented on #19161
Ping @NeOMakinG

[2020-05-18 15:24] 6xthFNGR opened #19190 "Bulk Action "Assign to a new Zone" for Translation - Locations - States is not appearing if selected"
#### Describe the bug

If you go for your BO - Menu  Improve - Translation - Locations - States and select Bulk Action - "Assign to a new Zone", the site refreshes but is not displaying the desired Bulk Action afterwards.

This only applies to the States Menu.

Doing the same action for the Countries does work as expected.

Feature Request: Instead of choosing Bulk Action - Assing to a new Zone -

[2020-05-18 15:25] florine2623 commented on #19168
Hi @Gipielle ,
What exactly is the issue here ? Can you provide screenshots ?
I'm not sure I understand.
What error do you have ?
Thanks!

[2020-05-18 15:37] LouiseBonnard commented on #19129
It should be all translated now, I've finished the translation on Friday night. All the strings mentioned have been translated into French. Can you please check and confirm? If a string remains untranslated at this point, it is a bug!

[2020-05-18 15:45] florine2623 commented on #18816
Hi @Borgas ,
Sorry for taking so long to answer.
I managed to successfully import products with combinations in my test shop.
On your file, you are using one product ID by combination. That is not right, you should have something similar to this doc :
[combinations_import.xlsx](https://github.com/PrestaShop/PrestaShop/files/4645156/combinations_import.xlsx)

Please check and let me know.

[2020-05-18 15:50] matthieu-rolland commented on #19098
So, to sum up:

The bug breaks (at least) 3 pages:

- the order history page in FO (exception)
- the Order detail page in BO (exception)
- the order listing page in BO (no exception, but the state is not given).

To fix that, the idea is to change the order status hard delete into a soft delete, setting the "deleted" value to 1. So that the status can be retrieved in DB even after it has been dele

[2020-05-18 15:57] florine2623 commented on #19190
Hi @6xthFNGR ,
Thanks for your report !
I did manage to reproduce this issue on both PS 1.7.6.5 and PS 1.7.7.0.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-05-18 15:59] micka-fdz commented on #19096
Hello, I think the problem is not only about carts.

It seems that the following are impacted : customers, categories, manufacturers, suppliers, abandoned carts... See https://github.com/PrestaShop/PrestaShop/issues/16328

[2020-05-18 15:59] runningz opened #19192 "Product link on customer thread don't link properlly"
#### Describe the bug

When i click on product link on customer thread, the link gos to product list instead of the product details.

#### Expected behavior

Open product detail backoffice page

#### Steps to Reproduce

Steps to reproduce the behavior:

1- Add a customer question from order history page, for a purchased product.
2- In backoffice, open customer service and open the recent thread.
3

[2020-05-18 16:07] qcoupat commented on #19042
Hello,

I have the same problem when I try to change the title or meta of a page, or move a page from one category to another, I have the same issue: [PrestaShop\PrestaShop\Core\Domain\CmsPage\Exception\CmsPageException code 0]

It worked with many other pages but some are impossible to move or change ...
I tried changing the titles, in the 3 different languages, but still won't work.

I tried man

[2020-05-18 16:20] florine2623 commented on #19192
Hi @runningz ,

Thanks for the report !
I managed to reproduced this issue on both PS 1.7.6.5 and PS 1.7.7.0.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-05-18 16:25] nenowasaleh opened #19193 "Swahili language is not available in the back office"
#### Describe the bug

Hi,
I've translated into Swahili language the strings of PrestaShop and I've uploaded it
Unfortunately when I try to add it to my installed PrestaShop I receive the following message:
"Sorry this language is not available".

#### Expected behavior

I expect to be able to download the just translated language.

#### Steps to Reproduce

* PrestaShop version: 1.7.6
* PHP versio

[2020-05-18 17:56] runningz commented on #19192
Fixed on https://github.com/PrestaShop/PrestaShop/pull/19191

[2020-05-18 18:18] 6xthFNGR opened #19197 "Feature request: No real Bulk Actions for Customer Service Messages available, yet, Bulk Action is displayed"
#### Is your feature request related to a problem?

If you go for your BO - Menu - Sell - Customer Service, your bulk action does only include to select all or deselect all, thats it.
But you can not do anything, by selecting or deselecting all. You need more Features to work in bulk.

#### Describe the solution you'd like

Bulk Actions like Change Status would be great, so I can open, close, pend

[2020-05-18 18:24] 6xthFNGR opened #19198 ""Root Categorie": SEO Preview in EDIT Menu not working, BO Categorie Page misses content after saving "Root Categorie""
#### Describe the bug

Go for your BO - Menu - Sell - Catalog - Catogries and click EDIT for the "root Categorie" (displayed above the Categorie List).
The SEO Preview is not working.

Also, when you save the settings, you get redirected to the Categorie List again, but he does not load the "root categorie" above the list. Also, it seems quite laggy if smth is changed there, as the sites is build

[2020-05-18 18:24] shelve71 commented on #19087
Hi,
the problem is that i sell customized products.

I have in stock only these 2 (not personalized) products:
10 Products Red
5 Products Black

With an extra cost, i can personalize the products in stock with "Matt Varnish" or "Glossy Varnish".

How i can manage in prestashop this case ?

Thanks.
Antonio

[2020-05-18 18:28] shelve71 commented on #18881
Hi,
thanks, it is clear now!

Antonio

[2020-05-18 18:31] 6xthFNGR commented on #19017
I would still appreciate if @florine2623 would reopen this issue, as @Hlavtox sadly did not provided the link yet. For PS Team its maybe solved with 1.7.7, but simply stating the file directories would bring immidiatly hotfix for users, and like you can see, others are interessted alot! Its a fundamental problem at the moment, as non PS Shop has good SEO because of this! Meaning, PS Shops lack beh

[2020-05-18 19:09] evmimagina commented on #10784
Hi,

Any findings? @maxtorete , you when you said it Works, you mean the website but not the /admin site, true? any findings?

Regards,

[2020-05-18 19:30] mklimkiew commented on #19173
Yes that is right. This way it will be faster to manage products.

If run shop with low number of products it is easier not to use stocks.

In my case it is 5-10 days.

[2020-05-18 21:22] 6xthFNGR commented on #19161
Could this Topic not be flagged as minor? EU Shops are getting suited at court if they do not comply with the GDPR, or with their need to clear for Terms and Condtions! PS is literally not safely usable by this bug - just because it works, does not mean it works legally!

[2020-05-18 21:25] 6xthFNGR commented on #19190
Hello,
thanks for your reply.
This bug is NOT major as there is for example #19161 "Confirmation button on Checkout should be disabled if Terms and conditions are not approved" which play a way more signifcant role!

Please change this to minor, and the other to major.
Thanks

[2020-05-18 21:29] 6xthFNGR commented on #19173
"Why don't you set stocks for your product?"

Digital Products. I do not want to add fake stocks and check them regularly.
Custom Products, that are manufactured upon request. You dont need fake stocks either.

[2020-05-18 22:12] linuxatico commented on #11342
Hello,
too bad I've completely forgotten to reply this thread long ago, sorry for that.
Anyway, no: I've not tried to implement it by myself, is this ever going to make it to the next step?

[2020-05-18 23:22] carlosul commented on #19178
Sorry I was using a custom code for adding the customization to the cart automatically.
There was a bug with this implementation, now it's fixed thanks!

p.d. It would be nice to be able to add customizations automatically to cart. I think this is a big UX flaw.

[2020-05-19 05:30] mickaelandrieu commented on #19085
Hi @matks,

I'm aware of your roadmap: migration of Product page was planned in 1.7.4, 1.7.5, 1.7.6, 1.7.7 and now 1.7.8...

In the meantime, what is the cost of providing the Hook I suggest ? :) Once the page is migrated it can be aliased to the new ones as it provides a form builder.

Also, 1.7.7 release was 1 year of work: it sounds arsh (to me) to ask people to wait for one more year to be all

[2020-05-19 06:41] Progi1984 commented on #17131
@sam-pires A new PR for this EPIC : #19195

[2020-05-19 06:41] Hlavtox commented on #19017
@grizado @6xthFNGR I am in the same position of you. I had to fix many bugs in PS for myself or pay somebody to do it. So next time, just accept it as it is and do it yourself.

Do not worry, microdata is helpful, but it will definitely not hurt your positions in search engines. The competition is just better. :-)

Put the code I gave you to head.tpl and delete all inline microdata from product-pr

[2020-05-19 06:45] Hlavtox commented on #17131
@clotaire202 Hi, what is this page?  _/index.php?controller=OrderFollow > Only "Address > Your account" without the third level of the breadcrumb_

Can you send a screenshot? :-)

[2020-05-19 06:57] clotaire202 commented on #17131
@Hlavtox

Here you'll found a screenshot.

![image](https://user-images.githubusercontent.com/52157233/82294515-93b9ad80-99ae-11ea-8cbb-6438ae065976.png)

We could find after my account the third level "merchandise return"

[2020-05-19 07:09] Gipielle commented on #19168
Hello,
it is not really an error, but perhaps a performance defect.

I was wondering if it is normal for that query to check so many lines.

Perhaps it should be optimized so that it uses the database less.

[2020-05-19 07:11] Hlavtox commented on #17131
@clotaire202 Thanks!!! Never used this part of Prestashop.

@Progi1984 @nprokopenko202 Guys, can you add this to the breadcrumb PR? OrderFollowController 🚀

[code]

[2020-05-19 07:48] NeOMakinG commented on #19161
Gonna looks at this in some days, dont worry @6xthFNGR

[2020-05-19 07:49] NeOMakinG commented on #19189
Taking this when I've some times after the API implement of wishlist module

[2020-05-19 08:04] matks commented on #19085
This is mean. Please remember we follow a [Code of Conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md) here in order for everybody to feel at ease and able to work together in the very best environment. It seems you are trying to convince me to do something (merge the PR to insert this hook) but being mean will actually do the opposite: I will ignore you, following [

[2020-05-19 08:05] clotaire202 commented on #17131
@Hlavtox

To be perfectly OK, and follow the same breadcrumb as order, we should add the return number when we
![image](https://user-images.githubusercontent.com/52157233/82301004-ec417880-99b7-11ea-9128-9e5b3d0c10ff.png)

@nprokopenko202 could you please add this on PR ?

[2020-05-19 08:21] sarahdib commented on #19177
@PrestaShop/prestashop-core-developers can you check this issue :) ?

[2020-05-19 08:25] sarahdib commented on #19182
@PrestaShop/prestashop-core-developers can you check this issue :) ?

[2020-05-19 08:25] clotairer opened #19199 "Return page should not be avalaible if returns is disabled"
#### Describe the bug

You could access to the return page in front office even if this feature is not enable.

#### Expected behavior

Return page should not be avalaible if Enable returns is set to no

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO      Customer Service > Merchandise Returns
2. Set "enable return " to "no"
3. Go to https://yourshop.tld/index.php?controlle

[2020-05-19 08:34] clotairer opened #19200 "Return tab on order BO page has no "tracking number" + wrong wording"
#### Describe the bug

On the "merchandise return" tab on an order, the label of tracking number is just the "return ID"

It should be :
* Column label: Return number
* Value: #RE000001 (if prefix is set to RE)

An improvement: have a link to edit the "return" (there is a link from a return to an order but not in the other way)

**Screenshots**

![image](https://user-images.githubusercontent.com/5

[2020-05-19 08:36] nprokopenko202 commented on #17131
@clotaire202 Yes, I'll do it

[2020-05-19 08:42] cdcvince commented on #19135
It is already done for the body tag (and it's very useful) in the file layout-both-column.tpl :

[code]

Also, the title tag is remarkable since it's the first instruction of a html page, and it's unique.

With your solution of extending smarty block, how do you proceed in a clean way with a module? If the file has already been extended?

[2020-05-19 08:58] mickaelandrieu commented on #19085
This is not.

I wont contribute anymore, enjoy your day.

++

[2020-05-19 08:58] #19085 closed, assigned to nobody

[2020-05-19 09:22] #19064 closed, assigned to nobody

[2020-05-19 10:03] PierreRambaud commented on #19201
Hi @Gamesh
I transfer this issue to the main repository.
I manage to reproduce it without docker or anything else. If a have an empty prefix, it fallbacks to `ps_`

[2020-05-19 10:36] sarahdib commented on #19198
Hello @6xthFNGR

Could you send me a screen record ? I can't reproduce the issue.

Thank you :)

[2020-05-19 10:39] 6xthFNGR commented on #19198
Seems like you could reproduce it...

[2020-05-19 10:42] 6xthFNGR commented on #19198
![Screenshot from 2020-05-19 12-37-55](https://user-images.githubusercontent.com/64662500/82317122-19008a80-99ce-11ea-9cba-70c2b1dd1ccc.png)
![Screenshot from 2020-05-19 12-38-00](https://user-images.githubusercontent.com/64662500/82317127-1aca4e00-99ce-11ea-9e37-1c5648760ec3.png)

[2020-05-19 10:49] #18591 closed, assigned to nobody

[2020-05-19 10:49] #15704 closed, assigned to nobody

[2020-05-19 10:49] #15702 closed, assigned to nobody

[2020-05-19 10:49] #14755 closed, assigned to nobody

[2020-05-19 10:49] #14693 closed, assigned to nobody

[2020-05-19 10:49] mickaelandrieu commented on #14693
Sorry for your time @marionf

[2020-05-19 10:49] #14443 closed, assigned to nobody

[2020-05-19 10:49] #14441 closed, assigned to nobody

[2020-05-19 10:49] #14160 closed, assigned to nobody

[2020-05-19 10:50] #13501 closed, assigned to nobody

[2020-05-19 10:50] #12873 closed, assigned to nobody

[2020-05-19 10:50] #11593 closed, assigned to TristanLDD, colinegin, prestascott

[2020-05-19 10:50] #11524 closed, assigned to nobody

[2020-05-19 10:50] #10314 closed, assigned to nobody

[2020-05-19 10:52] #12738 closed, assigned to nobody

[2020-05-19 10:58] sarahdib commented on #19198
@PrestaShop/prestashop-product-team could you check this ? A better way to display that we are in Root category ?

[2020-05-19 11:20] #18881 closed, assigned to nobody

[2020-05-19 11:39] sarahdib commented on #19197
@PrestaShop/prestashop-product-team What do you think about this improvement ?
Improve bulk action in customer service by adding other action than delete.

[2020-05-19 11:42] sarahdib commented on #18595
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-19 11:42] #18595 closed, assigned to nobody

[2020-05-19 11:43] sarahdib commented on #18667
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-05-19 11:43] #18667 closed, assigned to nobody

[2020-05-19 11:48] chrisvanberg commented on #9662
Hello everyone, I had to manually fix multiple of my customer shop with the solution provided by @CurciRoberto

I saw that the Issue was marked for 1.7.6.0 and then it was never merged. I could make the PR if it's useful

[2020-05-19 11:50] TaccCZ opened #19204 "Faceted search does not work properly in a Multistore"
#### Describe the bug

In the case of using a multistore and a multicurrency, the facet navigation incorrectly displays the price in the second multistore.

#### Expected behavior

In the first e-shop I use CZK (main - the exchange rate is 1) EUR (secondary - the exchange rate is calculated). https://www.strojni-pily.eu/4-pasove-pily-na-kov-rucni - everything works properly.
In a second e-shop, I

[2020-05-19 12:10] #19014 closed, assigned to nobody

[2020-05-19 12:18] Heine76 opened #19207 "Products redirection only working on Mobile device"
Hie,
 I'm here to be helped because i met an issue with ps_category products.
All items in the box are not clickable on PC but the redirection still working on a mobile device.

I don't know why and i would a solution for this.
May someone helps me ?

Steps to reproduce the behavior:
1. Going randomly on a product, for example " https://thevapingbar.fr/resistances/473-670-resistances-qf-skrr.html#

[2020-05-19 12:58] mpulido73 commented on #11000
YES. YOU ARE RIGHT!
Check if your password contains a '%' char.
Change the pwd and check again. Problem solved!

[2020-05-19 13:38] JayWilliams74 opened #19209 "Upgrade to 1.7.6.5"
#### Describe the bug

I have just upgraded from 1.6 to v 1.7.6.5 and when I go into my admin page I get an error 500 message. (See screenshot Below)

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

![An Error Occurred_ Internal

[2020-05-19 13:43] #19192 closed, assigned to nobody

[2020-05-19 13:43] #18478 closed, assigned to matthieu-rolland

[2020-05-19 13:49] xmovu commented on #12452
Damn, this just happened again, nothing was changed. Just stopped working.

[2020-05-19 14:29] toutantic commented on #19123
Default stock value should be 0. And you only create a row when you have stock for a specific combination.
And if you really have a huge number combinations with stocks behind you probably have a tool like an ERP dedicated to manage this kind of complexity.

[2020-05-19 14:58] florine2623 commented on #19087
Hi @shelve71 ,

For that you need a module like that one : https://addons.prestashop.com/en/combinaisons-customization/19536-product-options-bundles-and-customization.html
In the description it says : "The price will be automatically calculated based on the customization made by your customer."
It seems to fit your need.
What your are asking is not possible natively.

These are support questions,

[2020-05-19 14:58] #19087 closed, assigned to nobody

[2020-05-19 15:10] #9769 closed, assigned to nobody

[2020-05-19 15:11] florine2623 commented on #19209
Hi @JayWilliams74 ,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- PrestaShop version (source)
- debug mode report
- screenshots
- if you are using 1-click upgrade or another tool

Thanks!

[2020-05-19 15:16] florine2623 commented on #19207
Hi @Heine76 ,
This is a theme related issue. It has nothing to do with PrestaShop core.
I would advise you to contact the developer of the theme directly. If you bought the theme through Addons, you can contact the dev of the theme through your Addons account.
I will close this issue, thanks for understanding !

[2020-05-19 15:16] #19207 closed, assigned to nobody

[2020-05-19 15:23] JayWilliams74 commented on #19209
Hi
I was going from 1.6.1.24 to 1.7.6.5 using 1-click upgrade
I cannot gain access to anything within Prestashop Admin to run any Debug Mode

[2020-05-19 15:35] mauweb commented on #9662
it would be comfortable because it doesn't work 100%

[2020-05-19 15:46] xmovu opened #19211 "Prestashop Ajax Cart is broken"
Hi there guys,

I have been battling this for hours. Happened twice, had to restore the site a bunch of times.
Ajax isn't working in the cart:

1 - Try to add https://pluto.pt/covid-19/33-pack-1000-mascaras-cirurgicas-3-camadas.html to the cart, nothing happens but if you refresh the page it's there.

2 - Go to the cart: https://pluto.pt/carrinho?action=show delete a product from the cart, nothing

[2020-05-19 15:49] atomiix commented on #19059
@LouiseBonnard, just tested with 1.7.5.2 and I reproduce the bug!

[2020-05-19 15:58] clotairer opened #19212 "Create product an forget the feature with a customized value generate troubles"
#### Describe the bug

If you create a new product, and you forget to select a feature but add a value, the product is created but the feature cannot be edited or deleted

#### Expected behavior

An error should be throw if a feature is not selected.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Catalog > Products
2. Click on "New products"
3. Fill in a title
4. Click on "Ad

[2020-05-19 16:08] Gstieven opened #19214 "Credit slip total tab in HTML Template doesn't use the right data for display"
#### Describe the bug

My problem seems to be linked to #16826 and #18319

Credit slip PDF generation seems to be pretty messy. It uses both order and order slip data to generate PDF in HTML Template. More specifically, in the total tab, the total is based on the order total (total_paid_tax_incl), which is not just read in database but recomputed dynamically in the HTMLTemplateOrderSlipCore class.

[2020-05-19 16:15] PierreRambaud commented on #19177
Hi everyone.
AFAIK, we need to clean this directory, many parts of it are outdated :disappointed:

[2020-05-19 16:25] xmovu commented on #19211
Fixed, Shiptimize issue.
If you enable debug on it, it'll stop ajax cart.

[2020-05-19 16:25] #19211 closed, assigned to nobody

[2020-05-19 16:35] clotairer opened #19215 "Cannot remove cart rules on cart if there is no code generated"
#### Describe the bug

Remove a cart rules from the cart summary is not enable if the cart rule have any code generated.

#### Expected behavior

If we consider the cart rules cannot be removed, the remove button should be hidden.
If we consider the cart rules can be removed, it shoud be work...

We don't know exactly what's expected?

#### Steps to Reproduce

Steps to reproduce the behavior:

1.

[2020-05-19 20:15] LouisAUTHIE opened #19217 "Add/modify data in one of the Blocks in the Admin Customer View"
#### Describe the bug

I would like to add some data generated by my module in the first Block on the Backoffice/Admin Customer View Page => The personal_information block. But the only hook I found is the displayAdminCustomers one. But its position is not the one I want to use do display my data. What can I do if I don't just want to override the twig of this block in my module by putting an Ajax

[2020-05-19 22:56] cesar-cardinale opened #19218 "Problem with URL Friendly and product's images url"
#### Describe the bug

I used a module named Migration Pro to migrate all products from a Magento 1.9 in my Prestashop 1.7.6.4. Everything work fine, but I think there is a bug here, in the url of the images of the product, so everywhere in Front-Office (categories, product page ..), the url generated is 'http://website.com/idproduct-home_default/.jpg', the name of the product is missing juste bef

[2020-05-19 23:26] pibrom opened #19219 "webservice create order set total_paid_real with shipping fees"
#### Describe the bug

When I try to create an order with Prestashop webservice, with products ans shipping cost, I 've got an issue on total_paid_real value, that is required, but unkown without method of calculation of shipping costs.
It result the création of my order with a status 'Payment error', because there is a difference between what is stored in the order_payment table and in the orders

[2020-05-19 23:58] Llorx opened #19220 ""Cannot read property 'replace' of undefined" when deleting a category"
Easy:
- Install PrestaShop 1.7.6.5. All default (I've selected spanish).
- Go to categories and try to delete one.
- Error:
![image](https://user-images.githubusercontent.com/702490/82389811-5bad7b80-9a3d-11ea-9a83-7382795c4c05.png)
![image](https://user-images.githubusercontent.com/702490/82389818-62d48980-9a3d-11ea-8257-8e2aac1b1866.png)

Even the doprdowns are not working:
![image](https://femt

[2020-05-20 07:33] LouiseBonnard commented on #19193
Hi @nenowasaleh, thanks for your issue (and Swahili translation)! I can reproduce this bug, the Swahili language is part of both Kenya and Tanzania localization packs but I cannot succeed in adding it via the International > Translations section of the back office.

When I import the Kenya localization pack, I get a success message but I cannot find the Swahili in the Languages listing. When I imp

[2020-05-20 07:46] LouiseBonnard commented on #19199
Hello @clotaire202, thank you for this improvement idea! Let's wait for a PM to study it. :-)

[2020-05-20 07:49] LouiseBonnard commented on #17081
Hey guys, interesting feedback linked with the merchandise returns page: #19199.

[2020-05-20 07:51] clotaire202 commented on #19199
It's a security issue too.

[2020-05-20 07:55] LouiseBonnard commented on #19199
Okay, thanks @clotaire202, perhaps I should classify this issue as a critical bug then? @PrestaShop/prestashop-core-developers, could you please have a look at it?

[2020-05-20 08:01] Knut33 opened #19222 "Cant update-edit a product if use negative value on product combination price impact after first save"
On version 1.7.6.5
When adding a product combination that has a negative price impact you can save it, But on edit you get error, "Cant Save" on save.
After deleting the combination line with negative price impact you can edit and save the product again.

* PrestaShop version: 1.7.6.5
* PHP version: 7.3

[2020-05-20 08:11] LouiseBonnard commented on #19200
Hi again @clotaire202, thanks for opening this issue, I managed to reproduce it. I'll let the product team know about it so that it can be specified and rewrote if need be.

@MatShir, do you think it could be part of the #17598 EPIC?

[2020-05-20 08:14] Kioob opened #19224 "Handling of Composer/Autoload for modules."
#### Describe the bug

Without proper classmap-cache initialization, for each module, the autoload code is dramatically slow.

Actually, on our deploiement with 69 modules installed, Composer\Autoload\ClassLoader::findFileWithExtension() is called 8000 per PHP hit ; which is useless and can be terribly slow on some setup.

I had to execute  "composer dump-autoload --optimize --no-dev --classmap-au

[2020-05-20 08:18] matks commented on #19224
Thanks for opening the issue, let's see what we can do about that 👍

[2020-05-20 08:19] linuxatico opened #19225 "Attributes import missing"
#### Describe the bug

In the "attributes" section there is a button for "import", but if I click on it, on the later section there is no possibility to import this specific entity.
The url associated to the button is:

#### Expected behavior

To have the capability of importing attributes as for categories, products, etc.

#### Steps to Reproduce

1. Go to 'Catalog -> Attributes and functions'
2.

[2020-05-20 08:21] NeOMakinG opened #19226 "FrontController names in modules hook-exceptions are wrong spelled with a dash"
#### Describe the bug

Go to back-office, chose an arbitrary module (ps_emailsubscription for example), and try to make this module disappear from the displayFooterBefore hook in some Core FrontController which have a $php_self thant contain a dash (exeple : 'my-account').

--

#### Expected behavior

you should go to your front-office (after clearing the cache), navigate to the desired Core Front

[2020-05-20 08:36] LouiseBonnard commented on #19218
Hello @cesar-cardinale, thanks for your issue, have you tried to contact the Migration Pro support? It seems to be related to the module rather than to the PrestaShop core... @PrestaShop/prestashop-core-developers, can you confirm?

By the way, I fixed the link to your screenshot because it was wrong, it works fine now. :-)

[2020-05-20 08:39] #18517 closed, assigned to nobody

[2020-05-20 08:46] nenowasaleh commented on #19193
Hi, LouiseBonnard,
thank for you reply.
So what can I do?
I'm translating PrestaShop but I'm not able to see this translation in my installed PrestaShop 1.7.6
Greetings

[2020-05-20 08:51] LouiseBonnard commented on #18382
Dear @ianronald, since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can provide more details, thank you very much!

[2020-05-20 08:52] #18382 closed, assigned to nobody

[2020-05-20 08:54] matks opened #19227 "When ps_emailalerts is installed from Addons directly, the translated emails are not provided"
#### Describe the bug

When a merchant installs PrestaShop, he chooses a country.
The right email templates for module ps_emailalerts are downloaded for the locales related to this country.

When a merchant installs a new language pack, the right email templates for module ps_emailalerts are downloaded for the locales related to this country.

**But** if you start with a PrestaShop instance **with

[2020-05-20 08:56] LouiseBonnard commented on #19193
Dear @nenowasaleh, thanks for your quick reply! You might need to add the language to the last file mentioned. But let's wait for a dev to answer before, just to make sure it is the only step missing to be able to retrieve this language in PrestaShop.

@PrestaShop/prestashop-core-developers, can you confirm that the Swahili language needs to be added to _all_languages.json_ file?

[2020-05-20 08:56] The-Land-Lord commented on #19166
Hi,

in the overrides folder, there are subfolders that contains the same file index.php withe the same code:

header("Expires: Mon, 26 Jul 1997 05:00:00 GMT");
header("Last-Modified: ".gmdate("D, d M Y H:i:s")." GMT");

header("Cache-Control: no-store, no-cache, must-revalidate");
header("Cache-Control: post-check=0, pre-check=0", false);
header("Pragma: no-cache");

header("Location: ../");
exit

[2020-05-20 08:57] matks opened #19228 "PS 1.7.6.5 fresh install for France, I get 2 locales installed: French and Finnish"
#### Describe the bug

When I install new instance of PS 1.7.6.5 and I choose "France" country, my shop is setup with 2 locales installed: French and Finnish.

#### Expected behavior

Only French locale should be installed.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install new 1.7.6.5 shop, choose "France" country
2. Go into BackOffice
3. Open "my profile" page by clicking on

[2020-05-20 09:00] Progi1984 commented on #19193
@LouiseBonnard A documentation page exist : [https://devdocs.prestashop.com/1.7/development/internationalization/activate-a-language-in-prestashop/#update-required-json-configuration-files-in-the-prestashop-project](https://devdocs.prestashop.com/1.7/development/internationalization/activate-a-language-in-prestashop/). And yes, you need ;)

[2020-05-20 09:02] north-sun opened #19229 "Changing titles of the Module "Contact Information" translation is not updating"
#### Is your feature request related to a problem?
I'm using standard theme and I would like to modify footer.
There are 4 block and in 2 of them I can modify everything including titles, but rest 2 I can't modify title. In the block "your account" I can't modify anything in block "store information" I can't modify the title. I thought I found field to change in translations but it was not effecti

[2020-05-20 09:07] LouiseBonnard commented on #19220
Dear @Llorx, thanks for this issue! Does this bug concern the category or the employee page? All dropdown selectors are broken?

[2020-05-20 09:09] eternoendless commented on #16555
This feature is being retro-specified before refactoring: https://github.com/PrestaShop/prestashop-specs/pull/120

[2020-05-20 09:10] florine2623 commented on #19145
After checking with our team, this is not a mislabeled title .
If you need to change the title of the page as you desire, you can do it directly on the Traffic & SEO page.

I think what you mean is that you want a new feature that allow you to have a page a price drop ?
- On sale : products that you had put a certain amount of sale on
- Price Drop : You decreased the price of a product without is

[2020-05-20 09:22] LouiseBonnard commented on #10912
Dear @lacrm and @feyromain, the pull request #15171 fixing this issue is still in progress, could you please have a look at it and address last comments so that it can be merged? Many thanks!

[2020-05-20 09:22] sam-pires commented on #18700
The expected behaviors around stocks availability need to be specified.
- How long does a product stay out of stock when selected by a customer?
- What happens when 2 customers put the same product in their cart at the same moment?
- ...

[2020-05-20 09:24] Caleydon commented on #19145
You didn't understand the point of this issue. On the "Prices drop" page are products with special price and on On sale. Please look at image. I hope you will understand now.

![on-sale-vs-special-price](https://user-images.githubusercontent.com/2806752/82429559-68a58b80-9a8c-11ea-9c96-17f9d4b727f2.png)

[2020-05-20 09:25] sam-pires commented on #16656
@Progi1984 Needs to be done on localization file and then report it on PrestaShop

[2020-05-20 09:26] LouiseBonnard commented on #19121
Hi @nataliatebar, thanks for your reply. @PrestaShop/prestashop-core-developers, what do you think?

[2020-05-20 09:29] sam-pires commented on #18460
@PierreRambaud  A similar bug has been fixed by a PR recently, to be checked, might be related

[2020-05-20 09:29] Kioob commented on #19128
I add some background, the resulting query will be much more faster with this fix :
[code]

Current : 87164 lines analyzed.

[code]
With the fix : only 6 lines analyzed.

[2020-05-20 09:36] sam-pires commented on #18715
@LouiseBonnard to be reproduced again, since 1.7.7 beta release it should work

[2020-05-20 09:36] LouiseBonnard commented on #19178
Hi @carlosul, since it is fixed, I close this issue. Feel free to reopen if need be, thanks!

[2020-05-20 09:36] #19178 closed, assigned to nobody

[2020-05-20 09:38] LouiseBonnard commented on #19168
Thanks @Gipielle! @PrestaShop/prestashop-core-developers, any idea?

[2020-05-20 09:43] sam-pires commented on #15534
expected behaviors/modifications must be defined and specified

[2020-05-20 09:48] sam-pires commented on #16891
FYI - Need to use `form_widget`, not `form_rest` (remark from @eternoendless, to ping if more info needed about that)

So it is also necessary to correct pages already modified.

[2020-05-20 09:52] LouiseBonnard commented on #19229
Dear @north-sun, could you please provide us with more info? We need more details to understand how we can reproduce your issue: your PrestaShop version, screenshots, etc.

You don't know how to get this information? Please read the following article: http://build.prestashop.com/howtos/misc/how-to-create-bug-report. Many thanks!

[2020-05-20 09:56] Darmona commented on #18776
Bogue Ticket in Performance Squad : http://forge.prestashop.com/browse/EPERF-47

[2020-05-20 09:58] sam-pires commented on #19059
@atomiix, can you give us more info about the problem.
And what other improvements these issues highlights so that we can write it down and define cases if needed.

[2020-05-20 10:10] florine2623 commented on #19209
Go to you file config/defines.inc.php :
Change this :
`define('_PS_MODE_DEV_', false);`
To :
`define('_PS_MODE_DEV_', true);`

[2020-05-20 10:15] florine2623 commented on #19222
Hi @Knut33 ,
PS 1.7.6.5 in not compatible with PHP 7.3, please change it to 7.2 and try again.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Thanks!

[2020-05-20 10:16] JayWilliams74 commented on #19209
Thank you...

![https___euphoric-nights uk_store_store_admin_ - Google Chrome 20_05_2020 11_14_29](https://user-images.githubusercontent.com/65467851/82434791-4cedb580-9a8b-11ea-9061-d2d8d1eea9af.png)
![https___euphoric-nights uk_store_store_admin_ - Google Chrome 20_05_2020 11_14_01](https://user-images.githubusercontent.com/65467851/82434801-4f500f80-9a8b-11ea-95a8-f4092344cb10.png)

[2020-05-20 10:23] LouiseBonnard commented on #19225
Hi @linuxatico, thank you for raising this issue! Indeed there is no import button on the 'Features' page while there is one on the 'Attributes' page - which redirects to the Advanced Parameters > Import page but this option is unavailable in the 'What do you want to import?' drop-down selector.

@PrestaShop/prestashop-product-team, what do you want: remove the import button on the 'Attributes' pa

[2020-05-20 10:25] Knut33 commented on #19222
Hi
I changed to PHP-versjon: 7.2.31-1, Still same problem with using  negative value on product combination,  price impact. ERROR "You cant update settings"

[2020-05-20 10:25] eternoendless opened #19230 "Notify when a module registers to a hook but implements no hook listener"
Following #15702

#### Is your feature request related to a problem?

When a module registers to a hook using `$this->registerHook()`, no check is performed to make sure that said module implements a hook method to listen to those hooks. This could happen for example when there's a typing mistake in the hook name.

#### Describe the solution you'd like

In debug mode, throw an exception like this

[2020-05-20 10:26] florine2623 commented on #19215
Hi @clotaire202 ,

On PS 1.7.7.0 this feature has changed.
When a cart rule is set for a specific customer, he won't be able to remove it :
![Capture d’écran 2020-05-20 à 12 24 25](https://user-images.githubusercontent.com/16019289/82435663-e5d4fe80-9a94-11ea-801a-6dbaa8d6d3b8.png)
If a cart rule has a generated code, the removal is possible :
![Capture d’écran 2020-05-20 à 12 25 31](https://u

[2020-05-20 10:31] clotaire202 commented on #19215
It's clear, themes need hide the "trash" button if promo code has no code.

Thank you for your precision.

I close !

[2020-05-20 10:31] #19215 closed, assigned to nobody

[2020-05-20 10:34] Knut33 commented on #19222
Yes! this fixed the problem, wrong PHP in use.

[2020-05-20 10:37] florine2623 commented on #19212
Hi @clotaire202 ,

I could not reproduce the issue on neither PS 1.7.6.5 nor PS 1.7.7.0.
Here's the screen records :
On PS 1.7.6.5
https://drive.google.com/file/d/1bh_XwyJ9OZfJYB1XDWEQlXJ2V-q_FqZf/view
On PS 1.7.7.0
https://drive.google.com/file/d/1VbI21A41pq5g-Df0VTW3kbVb8-j8iIql/view

What version of PHP are you using ?

Thanks!

[2020-05-20 10:45] LouiseBonnard commented on #19212
Hi there, I manage to reproduce this issue on PS 1.7.7: https://drive.google.com/file/d/1pC-bGS-RQksX6Qpn7SM_D7iFBoXgXg1_/view

[2020-05-20 10:56] GTriber opened #19232 "Prestashop dashboard stats"
Hi there,

Is there a way to place Google Analytics or Facebook pixel instead of Prestashop dashboard stats?

I have been struggling with no near accurate stats from PS. Not sure what they are counting to be honest.

Google Analytics / Facebook pixel show me good stats.

Would like to implement to the back office dashboard.

Tried to fix Prestashop with some guides but no luck. While Google Analyt

[2020-05-20 11:01] taoufiqaitali opened #19233 "quantity field in product page show 0 when minimal quantity =0"
#### Describe the bug

when minimal_quantity =0 it show 0 in quantity field on product page

#### Expected behavior

show 1 when minimal quantity =0

**Screenshots**

![image](https://user-images.githubusercontent.com/22837086/81834499-86c13800-9530-11ea-9bf1-ca11e9d372bf.png)
![image](https://user-images.githubusercontent.com/22837086/81834572-a193ac80-9530-11ea-93f4-8f0d58edcb4b.png)

---
This c

[2020-05-20 11:15] Betafer opened #19234 "Order message problem"
On prestashop 1.7.6.5 when I receive a message in the order, for example in French, the result is the following:

Bonjour
J&#039;ai suivi vos instructions
C&#039;est juste une demande de devis pour le moment.
Je suis revendeur et doit faire une cotation &agrave; mon client.
Je passerai commande quand lui-m&ecirc;me m&#039;aura command&eacute;.
Faites svp un bon prix revendeur et vue la quantit&eac

[2020-05-20 11:28] florine2623 commented on #19234
Hi @Betafer ,
What exactly is your issue here ?
Thanks!

[2020-05-20 11:32] florine2623 commented on #19233
Hi @taoufiqaitali ,
Having the minimal quantity set to 0 means that a customer can buy 0 product. That's why 0 is shown in the front.
If you don't want 0 to be shown you can set it at 1 or any other quantity that matches your need.
Thanks.

[2020-05-20 11:32] #19233 closed, assigned to nobody

[2020-05-20 11:40] florine2623 commented on #19232
Hi @GTriber ,
Indeed if you need very accurate data, you can use external modules.
It is not possible natively to replace your Dashboard page entirely by Google Analytics or Facebook Pixel. The only way to get the info needed would be to get customized code.
For that you can contact one of PrestaShop's partner agencies : https://www.prestashop.com/en/partners
Thanks!

[2020-05-20 11:40] #19232 closed, assigned to nobody

[2020-05-20 11:44] florine2623 commented on #19217
Hi @WebHelpers64 ,
I will transfer your question to our dev team, play stay tuned.
Thanks!

[2020-05-20 11:44] florine2623 commented on #19217
Hi @PrestaShop/prestashop-core-developers ,

Could you take a look at @WebHelpers64 's question ?

Thanks a lot.

[2020-05-20 11:46] cesar-cardinale commented on #19218
I just send them a ticket on the support, waiting for their answer.
I don't think it's a problem related to the module but more related on the wrong generation of the image and now I can't reset that link rewrite on the images url.

[2020-05-20 11:48] taoufiqaitali commented on #19233
Hi @florine2623
but customer cant by the product we can just uncheck "available for order option"
if we use the minimal quantity as you said, it have no sense to buy 0 quantity

[2020-05-20 11:55] LouiseBonnard commented on #16575
It's all fixed thanks to the Crowdin translation, @Gamesh! I close this issue and the related PR then. :-)

[2020-05-20 11:55] #16575 closed, assigned to LouiseBonnard

[2020-05-20 12:04] LouiseBonnard commented on #19227
Hi @matks, thanks for your issue! Can you confirm that the problem comes from the module and not from the core?

[2020-05-20 12:13] Progi1984 commented on #18913
Fixed by #18923

[2020-05-20 12:13] #18913 closed, assigned to matthieu-rolland

[2020-05-20 12:14] Progi1984 commented on #18443
Fixed by #18456

[2020-05-20 12:14] #18443 closed, assigned to sarahdib, sowbiba

[2020-05-20 12:14] Progi1984 commented on #18433
Fixed by #18456

[2020-05-20 12:14] #18433 closed, assigned to sarahdib, sowbiba

[2020-05-20 12:15] #19008 closed, assigned to nobody

[2020-05-20 12:24] cesar-cardinale commented on #19218
Okay, I wrote a script who set
`$product->link_rewrite[$lang] = Tools::link_rewrite($product->name[$lang])`
 and now everything work.

[2020-05-20 12:24] #19218 closed, assigned to nobody

[2020-05-20 12:46] clotaire202 commented on #17131
@Progi1984 > Thank you !

@Hlavtox,

@nprokopenko202 and I will supply a second PR according to your suggestion and these pages:

* /index.php?controller=OrderFollow > Only "Address > Your account" without the third level of the breadcrumb
* /index.php?controller=Cart > cart summary : not defined
* /index.php?controller=PageNotFound > : not defined
* /index.php?controller=OrderReturn > : not defin

[2020-05-20 12:46] matks commented on #19227
@LouiseBonnard The issue comes either from the Core or from Addons.
Someone needs to understand how translated emails are downloaded in the 2 usecases where it works, and see if it's the Core or it's Addons that is responsible for the logic "OK, this module ps_emailalerts is being downloaded by a Finnish user so I will deliver to him the module AND the translated emails for Finland".

If it's the

[2020-05-20 12:57] Junebyun commented on #17546
Both options are very good but I think that for a broad public the first option is better. "New condition" is clear and understandable, it might be redundant but it will avoid confusions and translation ambiguities.
If pawn shops or second-hand stores need more classification for describing a products' condition they are free to add and customize more condition options.

[2020-05-20 13:03] #18894 closed, assigned to nobody

[2020-05-20 13:05] florine2623 commented on #19176
Hi @longerzoom ,

You want a new feature that allows you to change the discount for each product in the order page ?

Keep in mind that if you need some custom code for your own liking, this is not the place. You can contact a PrestaShop partner agency : https://www.prestashop.com/en/experts
Thanks!

[2020-05-20 13:23] matks commented on #19128
Well, looks like the mistake is obvious thanks to @DelecroixQuentin and @Kioob insights. Would you be willing to do a PR to modify this ? This would credit you as contributors. If I do the PR, you will not be credited.

[2020-05-20 13:23] PierreRambaud commented on #19135
@cdcvince You are right these hooks are already in the templates.
Feel free to create a pull request, we will be glad to merge it :)
Don't forget to edit the hook.xml file and the SQL file to be sure they have a description :)

[2020-05-20 13:26] jolelievre commented on #19227
As a workaround until the bug is fixed, is it possible to update the language? Maybe it will reinstall the missing mail templates then?

[2020-05-20 13:31] PierreRambaud commented on #18460
I confirm that I don't manage to reproduce the issue with latest version of PrestaShop. (1.7.7.x & develop branches)

[2020-05-20 13:33] PierreRambaud commented on #11625
Is it still needed? I see the issue is in Done since June 2019 :thinking:

[2020-05-20 13:38] florine2623 commented on #19209
You have a missing table in your shop : YOUR_PREFIX_currency_lang.
If one missing table occurred, it is possible that there are multiple issue your upgrade.
Can you check you upgrade log file ?
your_admin/autoupgrade/tmp/log.txt
If you have fatal error, please send the file.

[2020-05-20 13:38] DelecroixQuentin commented on #19128
Hi @matks,

I will do the PR this week asap. Thanks !

[2020-05-20 13:40] matks commented on #19224
ping @Quetzacoalt91 you might be interested

[2020-05-20 13:44] Borgas commented on #18816
Hi @florine2623
Products with combination are in same ID
This is a "complex" excel that i have.
Maybe "cleaning" the products in file, that don´t have combinations?
This construction worked in 1.7.6.0
![Capturar](https://user-images.githubusercontent.com/54105234/82453425-69e4b180-9aa8-11ea-90ee-168909515539.JPG)

[2020-05-20 13:49] florine2623 commented on #19222
I can't reproduce your issue.
Please check my screen record :
https://drive.google.com/file/d/1Q7TtN-PHeQ87mf8qkxjXtrYg6BDBFCey/view
I tried editing and saving the changes multiple times.

[2020-05-20 13:52] sterzuccio opened #19237 "Problem during the first installation of PrestaShop 1.7.6.5"
During the first installation of PrestaShop I get this error:

<img width="649" alt="Schermata 2020-05-20 alle 15 51 07" src="https://user-images.githubusercontent.com/14995053/82454171-baacd800-9ab1-11ea-9310-41715430cfb2.png">

During the first installation I had a first problem with pelago module and I downgraded from v2.2.0 to v2.1.1, after doing the downgrade I received this problem.

PrestaS

[2020-05-20 14:04] nenowasaleh commented on #19193
Hi, @Progi1984 and @LouiseBonnard
thank you very much.
I 've modified the json configuration.
But I didn't understand what to do about i18n.prestashop.com ;((

I appreciate your help

[2020-05-20 14:08] The-Land-Lord commented on #19166
More information about my problem.

I can change quantity value in stocks module:

![image](https://user-images.githubusercontent.com/64405332/82455995-edf06680-9ab3-11ea-99ab-389c7718bc6c.png)

But in the product-combinations module
it is not visible

[2020-05-20 14:26] Betafer commented on #19234
Hello:

here you can see the problem:

<img width="471" alt="Schermata 2020-05-20 alle 16 26 21" src="https://user-images.githubusercontent.com/5024055/82458175-a7e8d200-9ab6-11ea-9b41-535d61338197.png">

[2020-05-20 14:29] florine2623 commented on #19237
Hi @sterzuccio ,
You should use PHP 7.2 for PrestaShop 1.7.6.5 :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Please check and let me know.

[2020-05-20 14:41] Gazi96 opened #19240 "ps_emailsubscription integration with mailchimp module"
Hello,

I would like to suggest, that ps_emailsubscription should be integrated with mailchimp. It will be great feature, because now emails from prestashop goes to mailchimp audience, but from this module not.
I know, that I can export and import emails with this module, but I have emails automation with
a discount code and these emails should be send to client immediately.

Kind regards
RG

[2020-05-20 14:44] sterzuccio commented on #19237
@florine2623 I changed the compose.lock file using the version 1.7.6.5 downloaded from the site and the installation was successful. However, I will now try to do a new installation using your advice and let you know.

[2020-05-20 14:46] mschiele opened #19241 "Category.php -> searchByPath: support using same category names under different hierarchy"
#### Is your feature request related to a problem?
When importing non existing categories via e.g. csv import as a string, searchByPath does not properly resolve all levels if we reuse a category name under a different hierarchy.

To resolve this, the signature of searchByPath needs to be extended to pass idParentCategory.

[2020-05-20 14:54] matks commented on #19240
There is already multiple Mailchimp modules available on Addons marketplace 😉
https://addons.prestashop.com/en/search?id_category=0&search_query=mailchimp

We cannot release a free module connected to Mailchimp because it would not be fair for the people selling the modules now on marketplace (between a free module and a module you need to buy, people would immediately use the free) and they are p

[2020-05-20 14:55] #19222 closed, assigned to nobody

[2020-05-20 15:08] florine2623 commented on #19204
Hi @TaccCZ ,
I could not manage to reproduce your issue in PS 1.7.6.5 and faceed_search 3.5.0:
first shop :
![Capture d’écran 2020-05-20 à 17 03 35](https://user-images.githubusercontent.com/16019289/82462678-2bf18880-9abc-11ea-9273-b23a79de7a77.png)

second shop :
![Capture d’écran 2020-05-20 à 17 04 03](https://user-images.githubusercontent.com/16019289/82462691-30b63c80-9abc-11ea-92ad-ea599

[2020-05-20 15:17] PierreRambaud commented on #19168
It's a performance issue when you have many rows in `ps_cart` and `ps_connections`

[2020-05-20 15:20] eternoendless opened #19242 "Refactor Translation storage component"
## Quickmap

See below for details

- [x] https://github.com/PrestaShop/PrestaShop/issues/23761 Introduce structure
- [x] https://github.com/PrestaShop/PrestaShop/issues/23762 Make a single provider for Core translations which have the same logic. Add all other Providers. Introduce ProviderFactory.
- [x] https://github.com/PrestaShop/PrestaShop/issues/23764 Restore initial component
- [x] https://

[2020-05-20 15:24] #19228 closed, assigned to nobody

[2020-05-20 15:25] grizado commented on #19017
@Hlavtox Thank you very much.
By "and the rest" you mean all productxxx.tpl existing in "/public_html/themes/classic/templates/catalog/_partials"?

[2020-05-20 15:41] operator2010 commented on #19229
- There is also a bug in footer colum 4 with the German translation -> Its called "SHOP-EINSTELLUNGEN" instead of "Kontakt" per Default
- the Colum headlines 3 and 4 has smaller font-size

[2020-05-20 15:53] north-sun commented on #19229
Thank you for your reply. I'm using version 1.7.6.5.
In the screenshot with blue arrows I'm showing fields I can't change.
First 2 blocks in the footer I can change as I want but this 2 not.

Thank you!

![Screenshot 2020-05-20 at 17 47 26](https://user-images.githubusercontent.com/65652765/82467903-80980200-9ac2-11ea-88f1-54d88742b016.jpg)

[2020-05-20 15:57] north-sun commented on #19229
I must admit I've noticed same problem. Headlines 1 and 2 are 18 px, 3 and 4 are 16 px.
<img width="280" alt="Screenshot 2020-05-20 at 17 57 20" src="https://user-images.githubusercontent.com/65652765/82468685-66125880-9ac3-11ea-84a3-d7fb7a41a105.png">
<img width="246" alt="Screenshot 2020-05-20 at 17 57 29" src="https://user-images.githubusercontent.com/65652765/82468690-67438580-9ac3-11ea-9834-d

[2020-05-20 16:02] PierreRambaud commented on #13838
I confirm it's a duplicate of #16477 and it's fixed in #18787

[2020-05-20 16:11] LouiseBonnard commented on #19219
Dear @pibrom, thank you for this issue. Can you please indicate if this is a bug or an improvement of the webservice? Many thanks in advance!

[2020-05-20 16:16] TaccCZ commented on #19204
Thanks for the reply, but I may have misidentified the issue. there are two currencies on the first e-shop. Everything is alright.
![image](https://user-images.githubusercontent.com/37780517/82470613-dcb05580-9ac5-11ea-8866-a5eda26eb262.png)

There is one currency in the second e-shop and it is bad in the slider. It looks like from the first e-shop where € is converted back to € in the second e-sh

[2020-05-20 16:23] LouiseBonnard commented on #19241
Hi @mschiele, thanks for the feedback! Could you please provide us with more information? We need more details to fully understand this issue:

- PrestaShop version (source)
- screenshots
- expected behavior
- etc.

You don't know how to get this information? Please read the following article: http://build.prestashop.com/howtos/misc/how-to-create-bug-report, thank you.

[2020-05-20 16:23] matks opened #19243 "Remove Shudrum/ArrayFinder (not compatible 8.1) and use Symfony/PropertyAccess instead"
https://github.com/Shudrum/ArrayFinder is being used in PrestaShop classes Theme and PhpParameters.

However this dependency is maintained by a single person (so if he decides to abandon the project, it will go stale) and contain a single PHP class (it seems a bit overkill to have a Composer dependency with a single class in it). https://github.com/symfony/property-access seems to provide the same

[2020-05-20 16:25] zalexki opened #19244 "[1.7.7-beta.1] [BO] order of js loaded from module has been modified"
#### Describe the bug

@Quetzacoalt91 found out that the order of JS on the back office has been modified and can break some jquery migration compatibility scripts of a module.

This is in the configuration page of the module in the BO.

1.7.7 order ->
[code]

1.7.6 order ->

[code]

#### Expected behavior

Keep same order, i guess 🤔

#### Additional information

* PrestaShop version: 1.7.7-beta.1

[2020-05-20 16:30] LouiseBonnard commented on #19240
Hi @Gazi96, thanks a lot for your improvement idea! Since no change is required here, I close this issue. Feel free to reopen it if need be. :-)

[2020-05-20 16:30] #19240 closed, assigned to nobody

[2020-05-20 16:33] JayWilliams74 commented on #19209
[log.txt](https://github.com/PrestaShop/PrestaShop/files/4658126/log.txt)

As requested

[2020-05-20 16:38] piccarda opened #19245 "Shopping cart issues"
**Describe the bug**
I use Prestashop with those informations:
Server Information Linux #1 SMP Tue Oct 9 18:14:47 EEST 2018 x86_64
Server software: Apache
PHP version: 7.3.18
PrestaShop version: 1.7.6.5
Current theme: classic

I have a problem with my shopping cart: it worked fine for some time, then started giving an issue on checking out with a customer without any address. When I’m on the check

[2020-05-20 16:46] florine2623 commented on #19209
Can you check your PHP version ? Should be 7.2 max.
Could you also delete all cache ?

[2020-05-20 16:47] LouiseBonnard commented on #19214
Dear @Gstieven, thank you for creating this issue! We can reproduce it but we still need some information: could you please let us know what is the difference with PR #18319? Or is it a duplicate? Thanks in advance!

[2020-05-20 16:54] JayWilliams74 commented on #19209
HI Florine
Yes php is 7.2

[2020-05-20 16:54] Quetzacoalt91 commented on #19224
We chose not to force the classmap authoritative parameter on every module because the composer documentations says there might be side effects.

From https://getcomposer.org/doc/articles/autoloader-optimization.md:

But on previous tests on PS Ready, we managed to gain ~25% of execution time if we forced this mode on all modules, even the ones we do not own.

I would consider recommending this mo

[2020-05-20 16:55] JayWilliams74 commented on #19209
Google Crome cashe cleared

[2020-05-20 17:00] florine2623 commented on #18816
I've tried with a piece of your CSV file, it works well :
![Capture d’écran 2020-05-20 à 18 57 54](https://user-images.githubusercontent.com/16019289/82474817-e5a42580-9acb-11ea-80ba-282fb3d5c50e.png)
The file I used :
[22.xlsx](https://github.com/PrestaShop/PrestaShop/files/4658257/22.xlsx)
I did it for your product 6066, i just changed it with my own ID 22.

Please try again and let me know!

[2020-05-20 17:01] florine2623 commented on #19237
Ok if it works, I close this ticket !

[2020-05-20 17:01] #19237 closed, assigned to nobody

[2020-05-20 17:04] Gipielle commented on #19168
I have 3366 rows in ps_cart and 722037 rows in ps_connections

[2020-05-20 17:06] florine2623 commented on #19209
Cache from PrestaShop not from Google !
Can you delete folders `/dev` and `/prod` from `/var/cache` ?

If that does nothing, you will need to create manually that table running that query on PHPMyAdmin:
[code]

Thanks!

[2020-05-20 17:23] Rolige opened #19246 "The modules tab doesn't appear in the product editor"
#### Describe the bug

After install a module using the hook "displayAdminProductsExtra" the module doesn't appear in the module tab in the product editor because the modules tab doesn't appear.

#### Expected behavior

The modules tab in the product editor should appear after install the module using the hook "displayAdminProductsExtra".

#### Steps to Reproduce

1. Install a module using the hoo

[2020-05-20 18:26] JayWilliams74 commented on #19209
I am not an experienced programmer so not truely sure if i am doing this correctly.
![phpadmin page](https://user-images.githubusercontent.com/65467851/82483060-abd51e00-9acf-11ea-9b27-538bc8fa2e58.jpg)

[2020-05-20 19:07] elboletaire commented on #19182
Now I'm realizing that, maybe, instead of the new param that I've added, the already existing `class` param could be used, as it's not being used as long as you define the `custom_management` to  `true`.

[2020-05-20 19:48] maxtorete commented on #10784
I finished that project long time ago, and finally as we didn't want to hack with PrestaShop core we moved to local database.

So I'm sorry but I can't remember if /admin was working or not, but I far as I can remember, I think both were working fine with @Bettelstab hack. I think I didn't make any changes to /vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php, only /classes/db/DbPDO.

[2020-05-20 20:15] jocel1 commented on #18835
Yes I'm thinking about backward compact where I guess a few themes already handle this issue :)

[2020-05-21 00:52] alfonsolr09 commented on #19245
firts, your php version is not compatible with your prestashop version
look

<img src="https://image.prntscr.com/image/-JEn6thUS4ie0VfTAPM6jg.png" />

[2020-05-21 00:53] alfonsolr09 commented on #19245
I don't think that's the problem, but if you can try to downgrade a version and check

[2020-05-21 00:54] alfonsolr09 commented on #19234
the same happens with the accents in the messages that clients send through the web contact

[2020-05-21 01:04] alfonsolr09 opened #19247 "product image error when sharing"
#### Describe the bug

I have completely modified a product. Now when I copy the link and paste it, for example, on WhatsApp, the image does not load as it does on other products.

I have duplicated this product and the same is still happening with the duplicate.

with other products it shows well and even if I modify them completely, the new image shows.

but with that product of the video specif

[2020-05-21 06:16] Betafer commented on #19234
Ok, it's a bug

[2020-05-21 07:03] evmimagina commented on #10784
I see, thanks @maxtorete for your reply.
I've finally managed to make it work (there's a bug on prestashop's code).

[2020-05-21 07:17] dgonzalez360 opened #19248 "Module override not working with child themes"
#### Describe the bug

It's not possible to override a module template within a child theme. The template files override works fine but the module templates got mixed up. It seems that the smarty cache use the latest version of the theme (Parent or child).

Let's say you have theme A wich is a parent of Theme B . you have an override for module ps_emailsubscription on Theme A (Parent) and you also

[2020-05-21 07:21] Gazi96 commented on #19240
I know, that there are a lot of mailchimp modules, I use one of these, but
I would like to suggest, that ps_emailsubscription should be integrated
with mailchimp modules, because now only emails from prestashop goes to
mailchimp audience.

śr., 20 maj 2020 o 18:30 LouiseBonnard <notifications@github.com>
napisał(a):

[2020-05-21 07:39] matteolavaggi commented on #19093
@florine2623 thanks for your answer but this discussion seem that have the only goal to fill empty page.

1) i've try to disable page cache module and report above that the problem is not related to cache module
2) page cache module does not chache personal page of logged in users

Why this bug ONLY happen in debug mode? is something related to prestashop error handling i can suspect, when debug m

[2020-05-21 07:46] matteolavaggi commented on #19093
There is NO PHP erro rlog entry, only web server 500 error:
naws01 nginx: T=0.959 [93.39] [www.sixrace.it] [-] 500 "GET /it/index.php?controller=order-detail&id_order=1472 HTTP/2.0" "https://www.sixrace.it/it/cronologia-ordini" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36" "-" UT="0.960"

[93.39.] [www.sixrace.it] - - "GET /it

[2020-05-21 08:34] Matt75 commented on #19248
Can you test with PrestaShop 1.7.7 beta?
It should be fixed with https://github.com/PrestaShop/PrestaShop/pull/14727 & https://github.com/PrestaShop/PrestaShop/pull/13804

[2020-05-21 08:34] piccarda commented on #19245
Solved!
I found the solution on a similar post.

"Solved! Not a Prestashop problem, but a wrong translation in theme, these two:
**Connected as [1]%firstname% %lastname%[/1].
Not you? [1]Log out[/1]**
in the translation there was a blank spaces between / and 1"

I found the same problem even if we are using classic theme.

Thanks
Piccarda

[2020-05-21 08:49] Bujj commented on #12915
Hello,
Was this solved? i am facing the same issue with version 1.7.6.5
Kindly Assist

[2020-05-21 08:49] dgonzalez360 commented on #19248
It seems to be working fine on 1.7.7 beta, however I can't use it on production yet.

I have created an override for classes/controller/FrontController.php with the fix https://github.com/PrestaShop/PrestaShop/pull/13804/commits/7a03159ed7b6d3df5e867cdfe44c05ce07bbf3b7#diff-a5aacc71d32391733634cc71652c7bc7 and it's working fine.

Thank you for your help !

[2020-05-21 09:21] DelecroixQuentin commented on #19128
PR done: #19249

[2020-05-21 10:40] javierVP opened #19250 "Error actualización de 1.7.5.1 a 1.7.6.5"
Tengo mi prestashop 1.7.5.1 con el módulo 1-clic versión 4.10.1 y la versión de php 7.2

Y este es el error que me muestra el módulo:

[INTERNAL] /var/www/vhosts/manzanosmoda.es/httpdocs/src/PrestaShopBundle/PrestaShopBundle.php line 64 - Error: Class 'PrestaShopBundle\DependencyInjection\Compiler\OverrideTwigServiceCompilerPass' not found #0 /var/www/vhosts/manzanosmoda.es/httpdocs/vendor/symfony

[2020-05-21 10:41] javierVP commented on #19250
Subo el archivo log.txt
[log.txt](https://github.com/PrestaShop/PrestaShop/files/4661970/log.txt)

[2020-05-21 11:49] zuk3975 commented on #19184
followed the steps and I see different behavior.
![Screenshot from 2020-05-21 14-47-04](https://user-images.githubusercontent.com/31609858/82556279-176fc780-9b72-11ea-9116-3c1838d1d89b.png)

The discount is shown single and I don't even see the "discounts" :sob: