[2020-02-04 15:41] khouloudbelguith commented on #17471
@ballashop, waiting for your feedback.

Thanks!

[2020-02-04 15:49] arditec commented on #17411
@khouloudbelguith,

Ok, "ps_guest" is currently empty.

In this database there are two different table prefixes "acd_" and "acs_". Can the problem be related to this?

Thanks

[2020-02-04 15:49] khouloudbelguith commented on #17490
@omar2886,

Can you confirm these steps:
1. Allow ordering of out-of-stock products " enabled
2. A product has a quantity=5
3. Order this product with quantity=10 (order status= On backorder)
4. change the status to shipped
5. add stock using the stock tab on the product page

Thanks!

[2020-02-04 15:49] ballashop commented on #17471
@khouloudbelguith
amazing, online I can't find this module, I don't understand why!!!
I tried with:
comment, commenti (italian language), renew, recensioni.
I also synced to the marketplace but no term can find this module, I find it incredible.
can I copy the folder from the local server to the remote server?
Thanks for your support.

[2020-02-04 15:51] khouloudbelguith commented on #17411
@arditec, how did you get different prefix?
Did you make new install with the same database, you just changed the prefix?

Thanks!

[2020-02-04 15:52] khouloudbelguith commented on #17471
@ballashop, you can search with the tech name of this module.
Try with this `productcomments`.

Thanks!

[2020-02-04 15:54] tdavidsonas88 commented on #13462
Actually using the _dispatchRenderingWithParameters_  is capable to return a array:
dashproducts -> array (
  'exVar1' => 'testvar1',
)
Just it's key is a module name by default

[2020-02-04 15:57] ballashop commented on #17471
I tried but didn't work!
<img width="1093" alt="Schermata 2020-02-04 alle 16 54 16" src="https://user-images.githubusercontent.com/28685316/73761527-47d05900-476f-11ea-9274-f1f7947d0ca7.png">
<img width="1125" alt="Schermata 2020-02-04 alle 16 54 30" src="https://user-images.githubusercontent.com/28685316/73761549-4ef76700-476f-11ea-9506-e0db3d069baf.png">
<img width="1129" alt="Schermata 2020-02-

[2020-02-04 15:59] Progi1984 commented on #16646
Fixed in #17444

[2020-02-04 15:59] #16646 closed, assigned to NeOMakinG

[2020-02-04 15:59] khouloudbelguith commented on #17471
@ballashop, what is the exact version of this shop?

Thanks!

[2020-02-04 16:00] espacious commented on #17429
Yes should be that one.
Also my theme has the theme.yml intact.
But you are testing on 1.7.6.3, we are on 1.7.6.2 if matters.

[2020-02-04 16:01] khouloudbelguith commented on #17429
@espacious, yes tested with PS1.7.6.2 & it is ok as I said previously.

Thanks!

[2020-02-04 16:01] ballashop commented on #17471
@khouloudbelguith
1.7.6.3
Thanks

[2020-02-04 16:02] khouloudbelguith commented on #17471
@ballashop, check that the module is not installed.
Search it in the Module manager page.

Thanks!

[2020-02-04 16:06] ballashop commented on #17471
@khouloudbelguith
is not installed online:

<img width="1420" alt="Schermata 2020-02-04 alle 17 03 57" src="https://user-images.githubusercontent.com/28685316/73762361-65ea8900-4770-11ea-9415-1f1e47d97e2d.png">

and this is the local site:

<img width="1448" alt="Schermata 2020-02-04 alle 17 04 51" src="https://user-images.githubusercontent.com/28685316/73762448-8286c100-4770-11ea-9543-d73c6f0ea31

[2020-02-04 16:07] omar2886 commented on #17490
After doing so the result is:
5 Stock, 10 Reserved & -5 Available
Now I think where could be the problem. Over the last years we had reconfigured the order statuses and as I can see now there is no status that considers the order as "shipped". So even when marked as delivered, the ASM system won't change a thing as it only seems to react to the "shipped" characteristic of an order status.
Even if

[2020-02-04 16:08] arditec commented on #17411
@khouloudbelguith,

I do not know, this prestashop it was not installed by us...

Thanks

[2020-02-04 16:08] khouloudbelguith commented on #17471
@ballashop, try to compress the productcomments module & upload it in the second shop.

Thanks!

[2020-02-04 16:09] khouloudbelguith commented on #17411
@arditec, in your file Project_folder/app/config/parameters.php, check the exact prefix used in your case.

Thanks!

[2020-02-04 16:11] arditec commented on #17411
@khouloudbelguith,

'database_prefix' => 'acd_'

Thanks

[2020-02-04 16:13] khouloudbelguith commented on #17411
@arditec, `acd_` this is the prefix used in your case.

Thanks!

[2020-02-04 16:14] khouloudbelguith commented on #17411
@arditec, in your database, all tables are doubled?

Thanks!

[2020-02-04 16:15] omar2886 commented on #17490
Now I remember why I don't have order statuses with the "shipped" option assigned, because that condition closes automatically the payments on open orders and generates the invoice, which I don't want, because many orders are sent with credit or COD, so we prefer entering manually the payments so we can control when & how they were done.

[2020-02-04 16:16] khouloudbelguith commented on #17490
@omar2886,

How manually? edit from the database manually?

Thanks!

[2020-02-04 16:18] omar2886 commented on #17490
There is a payment block in the orders where you can add payments with this info:
date - payment method - transaction ID - amount paid

[2020-02-04 16:22] arditec commented on #17411
@khouloudbelguith,

I think all native prestashop tables are duplicated. "acd_" has some more

Thanks

[2020-02-04 16:22] ballashop commented on #17471
@khouloudbelguith
ok, I compress the productcomments folder then I uploaded by BO the zip file:

<img width="676" alt="Schermata 2020-02-04 alle 17 10 41" src="https://user-images.githubusercontent.com/28685316/73763678-0db48680-4772-11ea-9bb0-f2e672b93c2f.png">

now I have it into the online site.

<img width="1382" alt="modulo caricato" src="https://user-images.githubusercontent.com/28685316/737

[2020-02-04 16:31] khouloudbelguith commented on #17490
@omar2886, and the status of those orders?
Thanks!

[2020-02-04 16:33] khouloudbelguith commented on #17471
@ballashop, I will close the issue.
Feel free to open a new one when needed.

Thanks!

[2020-02-04 16:33] #17471 closed, assigned to nobody

[2020-02-04 16:35] ballashop commented on #17471
@khouloudbelguith
TOP! thanks a lot.

[2020-02-04 16:35] khouloudbelguith commented on #17411
@arditec, I think those duplicated tables have an effect on your performance.

Thanks!

[2020-02-04 16:39] omar2886 commented on #17490
The non paid orders? they could just normal statuses like "shipped" (but not considered on PS system as really shipped) or "unpaid" so we can keep track of non paid orders that have been delivered.
Anything else, if the order has been shipped, paid and delivered, the final status would be "Delivered", but this status wouldn't be considered for the PS system as delivered as well, we can from now on

[2020-02-04 17:18] jf-viguier commented on #17449
Because id category 9 already exists : write $category->save(); instead of ->add

[2020-02-04 17:26] colinegin commented on #17295
Seems nice !

[2020-02-04 18:50] supermikey commented on #17487
Hi and thank you for helping out!

I installed a fresh version of ps 1.7.6.3 & ps_faceted 3.4.1
Now everything works as it should!

[2020-02-04 19:40] ballashop opened #17500 ""homepage configuration" and "advanced customization" are not shown into the Theme & Logo > Theme"
**Describe the bug**
Hi,
after we update from 1.6.1.24 to 1.7.6.3, **homepage configuration** and **Advanced Customization** are not shown into the Theme & Logo > Theme
Instead, in a local clean installation there are.

**To Reproduce**

1. Click on Theme & Log

**Online**

<img width="1202" alt="Schermata 2020-02-04 alle 20 36 18" src="https://user-images.githubusercontent.com/28685316/73780076-1

[2020-02-04 20:09] MarcelRoos commented on #17488
![telaprestashop](https://user-images.githubusercontent.com/60578212/73781057-641fc600-476e-11ea-9e0f-89f7e981051c.jpg)
as the image in mine does not translate. The installation was done through Softaculous. I've reinstalled several times.

[2020-02-04 20:34] deyviparra commented on #9998
Hi @khouloudbelguith any news about this Bug ?

[2020-02-04 22:59] arouiadib commented on #17428
My bad, the points I have mentioned the last month are incorrect.
After a second reading of source code, I have found that almost all the list is implemented.
*  database column exists (product_reduction  =
    -1 if cheapest product
    -2 for selected products
    0 for whole order

*  persistence and retrieval from database is already implemented for BO.
*  For front office retrieval and tests

[2020-02-04 23:03] arouiadib commented on #16842
Hello @MatShir ,
Thank you for the specs, they removed some of the confusion. But in current code these specs are respected (unlike in code source of 1.7.6.2  and as tested by @khouloudbelguith). The result is formatted as an amount but the problem comes from the calculation.

I have created a PR but I would love to get community feedback about some points that I am confused to add:

1-  The calcu

[2020-02-05 03:52] dtwfung opened #17503 "Images do not showing AFTER Login"
PS 1.7.6.1, images do not show AFTER login. Before login (either mobile, PC), all images are working normally.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://cop9gun.com/prshop175/en/eski/548-tactical-boot-black.html '
2. You can see all images showing properly
3. Login to "testing@gmail.com" (password is password)
4. All images cannot display with same link in step 1 ('https

[2020-02-05 06:22] #17487 closed, assigned to nobody

[2020-02-05 07:47] espacious commented on #17429
@khouloudbelguith @qtrompeau i think i found the problem.
Disabling the "ModSecurity" in my Cpanel resolves the issue.
I suggest to reenable "ModSecurity" once you finished translating.
Or better is there a way to disable joust part of "ModSecurity" ?

[2020-02-05 07:55] khouloudbelguith commented on #17500
Hi @ballashop,

You need to install the `ps_themecusto` module.
![image](https://user-images.githubusercontent.com/16067358/73821822-10a48b00-47f5-11ea-9ba4-5201f165b9e1.png)
https://drive.google.com/file/d/1oYMMKZiPDPag8gytVFgULeyEYLi-slnF/view
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-05 07:56] ballashop commented on #17500
@khouloudbelguith
thanks, I'll check soon and I'll let you know.

[2020-02-05 08:01] khouloudbelguith commented on #17503
Hi @dtwfung,

Thanks to navigate to your BO => Design => Image Settings page => scroll down & click on the "Regenerate thumbnails" button.
![image](https://user-images.githubusercontent.com/16067358/73822297-08008480-47f6-11ea-9036-9d10e2a23ed8.png)

Thanks to check & feedback.

[2020-02-05 08:03] khouloudbelguith commented on #17487
@supermikey, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-02-05 08:04] khouloudbelguith commented on #17489
@davideapvd, can we close this issue as a duplicate of #9586?

[2020-02-05 08:12] ballashop commented on #17500
Hi,
the module it was installed, I tried to uninstall but I've got the first problem:
the italian text say:
I don't have a permission to uninstall the ps_themecusto module:

<img width="271" alt="Schermata 2020-02-05 alle 08 58 14" src="https://user-images.githubusercontent.com/28685316/73822608-c1f7f080-47f6-11ea-9d1a-dd50327b97f5.png">

then I tried again:

<img width="298" alt="Schermata 2020-0

[2020-02-05 08:17] khouloudbelguith commented on #17490
@omar2886,

What do you think to create a new order status similar to shipped or just edit this status & uncheck this option
`Send an email to the customer when his/her order status has changed.` & check this option `Hide this status in all customer orders.` then change all your old orders with this option.

It could be a solution in your case to consider that your order are really shipped.

Thank

[2020-02-05 08:18] khouloudbelguith commented on #17500
@ballashop, you need to clear cache manually by deleting all the folder into var/cache (prod & dev).

Thanks!

[2020-02-05 08:23] khouloudbelguith commented on #9998
Hi @deyviparra,

Sorry, not fixed yet.
Thanks!

[2020-02-05 08:25] khouloudbelguith commented on #17488
@MarcelRoos, the employee's language in your case is Portuguese?
![image](https://user-images.githubusercontent.com/16067358/73823828-5c593380-47f9-11ea-9eda-c707a34abd7f.png)

Thanks!

[2020-02-05 08:27] ballashop commented on #17500
Ok,
I did with the cache, I delete al content inside:
var/cache/dev
var/cache/prod

In module manage:

<img width="1156" alt="Schermata 2020-02-05 alle 09 24 19" src="https://user-images.githubusercontent.com/28685316/73823819-57947f80-47f9-11ea-96bc-992cd3007310.png">

Do I activate the module?
Or do you suggest me to uninstall and install again?
Thanks a lot.

[2020-02-05 08:32] khouloudbelguith commented on #17500
@ballashop, yes, you need to enable it.

Thanks!

[2020-02-05 08:35] davideapvd commented on #17489
hello @khouloudbelguith if I understood correctly starting from https://github.com/PrestaShop/PrestaShop/issues/9586#issuecomment-570958876 then yes, feel free to close this one as duplicate, I'll subscribe to the other and test the fix for my scenario when it will be released. thanks

[2020-02-05 08:37] khouloudbelguith commented on #17489
@davideapvd, thanks for your feedback.
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-05 08:37] #17489 closed, assigned to nobody

[2020-02-05 08:37] khouloudbelguith commented on #17489
Duplicate of #9586

[2020-02-05 08:38] ballashop commented on #17500
@khouloudbelguith
Ok,
I delete the cache by BO, but "Theme & Logo" has disappeared from the menu:

![theme](https://user-images.githubusercontent.com/28685316/73824799-169d6a80-47fb-11ea-9ae4-28ab7645b0b3.gif)

I'm going to crazy!
Any suggestions to show it again?
Thanks for your support.

[2020-02-05 08:40] khouloudbelguith commented on #17500
@ballashop, after deleting cache from the BO => Advanced Parameters => Performance page => theme & Logo is not displaying anymore in the menu?

Thanks!

[2020-02-05 08:43] ballashop commented on #17500
@khouloudbelguith
yes.
Now I tried to open information page in BO, but I've got this advice:
Forbidden
You don't have permission to access this resource.Server unable to read htaccess file, denying access to be safe.
Thanks for your support.

[2020-02-05 08:46] khouloudbelguith commented on #17500
@ballashop, it could be a permission issue on your server.
Thanks to check the permission on your server.

[2020-02-05 08:46] ballashop commented on #17500
I apologize, the problem is given by the folder renamed by the ISP, I did not know that they were working on the site, I had not been notified.
I'm so sorry.
I'll let you know.
Thanks a lot for your support.

[2020-02-05 08:47] khouloudbelguith commented on #17500
@ballashop, thanks!
Waiting for your feedback.

[2020-02-05 09:14] ballashop commented on #17500
Hi @khouloudbelguith
Ok, now I can operate on the website.

Yes is not displaying!
Any suggestion?
Thanks for your support.

[2020-02-05 09:19] khouloudbelguith commented on #17500
@ballashop, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-02-05 09:19] rdy4ever opened #17504 "Disabled products are visible with wrong token or no token at all"
**Describe the bug**
Disabled products are visible with wrong token or no token at all

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog and disable a product
2. Click on Preview
3. Copy URL and open an Incognito window to make sure you're not logged in as admin and all cookies are cleared.
4. Change the token in the URL to whatever, or even remove it, or remove all query paramet

[2020-02-05 09:23] Guttio1 opened #17505 "Can't Save any preferences"
I need to enable the "Allow iframe on HTML fields"  i turn on and save and
apparently it was save, but no. There's no error showed
https://i.imgur.com/2dnQtUF.png

[2020-02-05 09:29] ballashop commented on #17500
@khouloudbelguith
ok I'm going to reed it, thanks a lot.
I'll let you know asap.

[2020-02-05 09:34] khouloudbelguith commented on #17505
Hi @Guttio1,

I did not manage to reproduce the issue with PS1.7.6.3
I attached a screen record
https://drive.google.com/file/d/1eSZGMRZ3l7lPIQjiffttWCHzpw_690tn/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache

[2020-02-05 09:35] khouloudbelguith commented on #17500
@ballashop, thanks!
Waiting for your feedback.

[2020-02-05 09:49] mauweb opened #17506 "dni not editable in bo"
** Describe the bug **
(nation Italy ... I don't know if the problem is also for other nations)
the tax code field (dni) even if it is present in the "address format" but is set to "not mandatory" in the BO customer form the form for any modification does not appear
if set "mandatory" appears.
In the FO everything is ok

** To Reproduce **
1. go to BO: international - locality - country
2. require

[2020-02-05 10:05] khouloudbelguith commented on #17504
Hi @rdy4ever,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.2 & PS1.7.6.3 & the branch 1.7.7.x.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-02-05 10:13] ballashop commented on #17500
@khouloudbelguith
ok, I've read the article, thanks a lot.
I sent a message to ISP about php error log, about the debug, at the moment it is always active.
What do I have to add here?
Thanks a lot for your support.

[2020-02-05 10:13] dtwfung commented on #17503
As regenerate all thumbnails will cause timeout, do you know whether Only "home-default" type I have to regenerate ?

[2020-02-05 10:23] khouloudbelguith commented on #17503
@dtwfung, you can select the format "large_default"
![image](https://user-images.githubusercontent.com/16067358/73833245-f3c68280-4809-11ea-8e26-d94e9b2c5848.png)

Thanks!

[2020-02-05 10:44] khouloudbelguith commented on #17500
@ballashop, the debug mode report if there are exceptions & the PHP error log.

Thanks!

[2020-02-05 10:48] ballashop commented on #17500
@khouloudbelguith
Can I send you via email some images?
I don't know if there are some information that show sensible data.
Can I?
Thanks a lot.

[2020-02-05 10:55] ballashop commented on #17500
@khouloudbelguith
could be useful, thanks
![debug](https://user-images.githubusercontent.com/28685316/73835783-4c981a00-480e-11ea-9c5f-d16b7a300fd4.png)

[2020-02-05 10:57] khouloudbelguith commented on #17506
Hi @mauweb,

In the BO => International => locations => countries page => when the option "Do you need a tax identification number?" is enabled, did you tried to update the address & click save?, because, it is ok with PS1.7.6.3.
I attached a screen record
[AwesomeScreenshot-2020-2-5-1580899894850.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4159067/AwesomeScreenshot-2020-2-5-158089989

[2020-02-05 11:01] khouloudbelguith commented on #17500
@ballashop,

My address mail: khouloud.belguith@prestashop.com
Let's be safe!

No!, there is no information in the screenshot.

Thanks!

[2020-02-05 11:07] ballashop commented on #17500
@khouloudbelguith
I sent you two images, the php error log doesn't show error.
Thanks for your support.

[2020-02-05 11:10] khouloudbelguith commented on #17500
@ballashop, I sent you an email.

Thanks!

[2020-02-05 11:25] colinegin commented on #11588
@khouloudbelguith @ilyasovivan thanks for your feedbacks.
So if I understand we still have 2 different issues with address formats with cyrillic characters.
Do you know if these issues occurred before already ?

[2020-02-05 11:33] khouloudbelguith commented on #11588
@colinegin, in fact,
The issue reproduced is that there is no Prestashop validation with address formats with Cyrillic characters before `@` for example `погода@test.ru`.
There is only browser validation now.
In the branch 1.7.7.x, if we remove the browser validation => there is no exception displayed comparing previous versions, but always there is no Prestashop validation because the customer wi

[2020-02-05 11:53] omar2886 commented on #17490
Thanks! that was a smart solution, works! I now have to deal with some Error 500 I'm getting when filtering orders_list for orders from past years. I'll contact my programmer to check on the logs to see what is happening

[2020-02-05 11:53] #17490 closed, assigned to nobody

[2020-02-05 12:14] tdavidsonas88 commented on #17085
@Robin-Fischer-PS not able to replicate the bug with the latest 1.7.7.x branch: When adding a "Free Shipping" voucher on an order (NOT created by checking the "Free Shipping" on the page), and then, checking the "Free Shipping" option on the order, the Shipping price is deducted twice.

[2020-02-05 12:17] 01park opened #17507 "Date of birth has no limitation"
<img width="558" alt="Screenshot 2020-02-05 at 12 22 53" src="https://user-images.githubusercontent.com/46492443/73841488-b286a080-4812-11ea-99f1-192ece969635.png">

When customer is entering a date of birth when creating an account. It's possible to enter the year 0001 - 0002 - 1710 etc

I would be nice if this was limited to the 19th century.

Now we have a customer thats  2018 years old :)

[2020-02-05 12:24] 01park commented on #14479
Hi, no I don't have this module installed.

But I do have another store and the same issue with super-admin profile. Very strange.

[2020-02-05 12:38] khouloudbelguith commented on #17341
Hi,

@01park reported also in this ticket: https://github.com/PrestaShop/PrestaShop/issues/17507, I would be nice if this was limited to the 19th century.

Thanks!

[2020-02-05 12:38] khouloudbelguith commented on #17507
Hi @01park,

This issue should be fixed fixing this issue: #17341.
Your ticket is a duplicate of #17341
So, I close it.
Thanks!

[2020-02-05 12:38] #17507 closed, assigned to nobody

[2020-02-05 12:38] khouloudbelguith commented on #17507
Duplicate of #17341

[2020-02-05 12:41] khouloudbelguith commented on #17490
@omar2886, Great!
Feel free to open a new one when needed.

Thanks!

[2020-02-05 12:42] khouloudbelguith commented on #14479
@01park, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2020-02-05 13:07] HamzaElghanoui opened #17508 "Access denied into /admin123/index.php?controller=AdminTabs&token=xxx… #17501"
**Describe the bug**
Menu tab not exists And then Access direct to the link get error access denied

**To Reproduce**
Steps to reproduce the behavior:
1. See error
![image](https://user-images.githubusercontent.com/50219389/73844096-2a0efc80-4820-11ea-9a70-4dfe0b1dcaae.png)

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
Pr

[2020-02-05 13:12] #17508 closed, assigned to nobody

[2020-02-05 13:13] khouloudbelguith commented on #17508
Hi @HamzaElghanoui,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15048

Thanks!

[2020-02-05 13:13] khouloudbelguith commented on #17508
Duplicate of #15048

[2020-02-05 13:35] matks commented on #17295
See https://github.com/PrestaShop/PrestaShop/pull/17509/

[2020-02-05 13:47] idnovate commented on #17295
Sorry I did the change at https://github.com/PrestaShop/PrestaShop/pull/17296/files#diff-4dd59963e40fe140a0670e109663ef85 but I mixed commits :confounded:

Not sure if it should be displayed before or after `unit_price` and which should be the `type`...

[2020-02-05 13:52] ballashop commented on #17500
@khouloudbelguith,
to make sense about this issue, I removed the site's sensitive path and copy the errors you reported to me :

1. [2020-02-04 22:42:08] php.CRITICAL: Fatal Compile Error: Container4xd1p04\appDevDebugProjectContainer::load(): Failed opening required '_projectPath/var/cache/dev/Container4xd1p04/getRouting_LoaderService.php' (include_path='_projectPath/vendor/pear/pear_exception:_pr

[2020-02-05 13:54] castellinosoftware commented on #15273
Hi.
I make some test on hook actionBeforeSubmitAccount.
I tried to register it in a module and I found some issues.

The correct hook name is actionSubmitAccountBefore (as reported in the hook list at https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/) but there is an alias (in the table ps_hook_alias) named actionBeforeSubmitAccount.
The right hook name (actionSubmitAccountB

[2020-02-05 13:58] khouloudbelguith commented on #17500
@ballashop, thanks!
Waiting for your feedback.

[2020-02-05 14:14] matks opened #17511 "Clean LegacyHookSubscriber description"
There is a lot of data about hooks inside class phpDoc of [LegacyHookSubscriber](https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/LegacyHookSubscriber.php). It should be put in a better location (hook.xml or devdocs) and the class should be cleaned.

[2020-02-05 14:20] sam-pires commented on #17428
No worries 🙂
Thank you @arouiadib for your help on the regression!

I'll close this issue then

[2020-02-05 14:20] #17428 closed, assigned to nobody

[2020-02-05 14:21] khouloudbelguith commented on #17511
Ping @PrestaShop/prestashop-core-developers what do you think?

[2020-02-05 14:26] jolelievre commented on #17511
Yes we just saw this with @matks It's only some PHPDoc to remove

[2020-02-05 14:41] BenTen commented on #14479
I mean, in the BO, in **Design > Positions** page, you can see hook.
If you search "_actionProductUpdate_" and check the box "Display non-positionable hooks", you will see all modules hook to this position.

Which modules can you see? Could you make a screenshot of them (or just copy/past)?

[2020-02-05 14:43] matks opened #17512 "Deprecate, if relevant, the HookManager"
With @jolelievre we have explored the code and it looks like
- in 1.7.0 version the class [HookManager](https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/HookManager.php) was created to wrap legacy `Hook::exec()` calls
- but it was replaced in 1.7.1 by HookDispatcher / [LegacyHookSubscriber](https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/LegacyHookSubscriber.php)

[2020-02-05 14:46] matks opened #17513 "Implementation of hooks in Symfony page is not complete"
In [LegacyHookSubscriber](https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/LegacyHookSubscriber.php) implementation, `Hook::exec()` is called but **we cannot pass all possible arguments.**

Hook::exec() can receive:
- $hook_name,
- $hook_args
- $id_module
- $array_return
- $check_exceptions
- $use_push
- $id_shop
- $chain

But current LegacyHookSubscriber allows control of only th

[2020-02-05 14:48] 01park commented on #14479
<img width="1485" alt="Screenshot 2020-02-05 at 14 47 47" src="https://user-images.githubusercontent.com/46492443/73852091-82e19380-4826-11ea-8b3c-c37028b95112.png">

Hi Ben, this is what I see.

[2020-02-05 14:50] matks commented on #17295
Then let's keep your PR 😉 so you'll get the mentions (and the glory !). I'll close mine.

[2020-02-05 14:51] BenTen commented on #14479
@01park Is there only 5? It's like your screenshot is cut. (sorry)

[2020-02-05 14:54] 01park commented on #14479
One more module which I do not use. Could this be blocking it?

[2020-02-05 14:54] danielgasser commented on #15878
Does anyone have a fix for this? This is a really annoying bug! And I find it alarming that this bug is labeled as "Minor". I mean, not being able to add products to a cart is everything else than minor isn't it?

[2020-02-05 14:56] idnovate commented on #17295
No problem

[2020-02-05 14:59] BenTen commented on #14479
@01park What's the name of this module?
If you don't use it, try to deactivate (or uninstall it) and check if the indexing works.

[2020-02-05 15:04] alex4102 opened #17514 "Possible security issue"
Hello,

I would like to share a Prestashop 1.7.5.2 has been hacked by this guy : https://www.youtube.com/watch?v=9xwTRT2GXgo

Site hacked : https://petitefriture.com/priv8.html

Do you know if this security issue is already patched in new verison of Prestashop ?

[2020-02-05 15:21] MatShir commented on #16842
Thanks a lot for your contribution @arouiadib

If a cart has 3 products with 2 same products as the cheapest, it applies the discount only for one of the cheapest products. So, the discount is based on the unit price taxe inclueded of the cheapest product.

From the test, it seems that you can apply the cheapest product for a cart that has only one product. A case that should happened, I will make

[2020-02-05 15:21] matks commented on #17514
Hi @alex4102, thank you for the warning.

The youtube video is 1 year old. In the video, nothing indicates how the hacker defaced these websites, so there is no reliable way to link the video with a vulnerability (the video could even be fake).

In the Youtube comments, someone mentions https://www.exploit-db.com/exploits/45964 which refers to CVE [CVE-2018-19126](https://nvd.nist.gov/vuln/detail/

[2020-02-05 15:22] 01park commented on #14479
No way, I disabled this and now it works!!!

Ben thank you so much!!!

[2020-02-05 15:23] khouloudbelguith commented on #14479
@01park, As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-05 15:23] #14479 closed, assigned to nobody

[2020-02-05 15:27] alex4102 commented on #17514
I agree with you, but the link between the page of "hacked by" with link of this youtube channel with a video tutorial to hack Prestashop.

The website has been hacked last week.

Just notice it is possible to be a new security issue.

[2020-02-05 15:27] BenTen commented on #14479
@01park  Could you tell me the name of the module  please, I have the same issue but for my part I can't find the wrong module. Maybe I have the same.

[2020-02-05 15:27] 01park commented on #14479
I stopped using this module because it's related to another problem we have with Prestashop. Its about the product features. When one value gets updated, this value is not updated over all fields of languages. I opened a ticket for this last year, but looks like doesn't have a priority.

This said, my search is working again. Thank you for your help.

[2020-02-05 15:33] tdavidsonas88 commented on #17085
@matks done some research on bug 'file name is not displayed in migrated when adding file for a custom product'.
1. this bug repeats not only in this products page but also in other migrated pages like: admin-dev/index.php/sell/attachments/new/
2. I was confused that in our migrated pages we have this bug but on https://cdn.rawgit.com/PrestaShop/prestashop-ui-kit/master/index.html#forms
3. The cod

[2020-02-05 15:34] matks commented on #17514
The timeslot would match the discovery of the [PHPUnit vulnerability](https://build.prestashop.com/news/critical-security-vulnerability-in-prestashop-modules/) which happens through modules.

Without more informations, there is nothing we can do. I performed a quick search and it seems there is no other information about this hacker on prestashop social networks. We'll keep watch but right now the

[2020-02-05 15:39] sharkooon commented on #12689
Any updates about this?

[2020-02-05 15:40] BenTen commented on #14479
@01park  Could you tell me the name of the module  please, I have the same issue but for my part I can't find the wrong module. Maybe I have the same.

[2020-02-05 15:41] 01park commented on #14479
The module is named: Multiple Features

[2020-02-05 15:44] 01park commented on #14479
Btw this is the other case: #13751

Any chance this will be solved?

[2020-02-05 15:48] khouloudbelguith commented on #14479
@01park, It is not fixed yet.
It is added to our bug roadmap.

Thanks!

[2020-02-05 15:53] mauweb commented on #17506
thanks khouloudbelguith for the reply.
I'll explain better why this isn't the problem.

I would like the "dni" field to be displayed in customer edit even if "Do you need a tax code?" It is "disabled"

[2020-02-05 16:13] khouloudbelguith commented on #17506
@mauweb, thanks for these clarifications.
This issue is fixed in the next major version PS1.7.7.0.
https://drive.google.com/file/d/116nrEq597uvySxIbjxoAzGZqEUqLdy79/viewhttps://drive.google.com/file/d/116nrEq597uvySxIbjxoAzGZqEUqLdy79/view
Since it is fixed, I will close the issue.

Thanks!

[2020-02-05 16:13] #17506 closed, assigned to nobody

[2020-02-05 16:15] mauweb commented on #17506
great thank you very much khouloudbelguith

[2020-02-05 16:26] jolelievre commented on #17513
I guess we should add the missing field into the `PrestaShopBundle\Service\Hook\HookEvent` class
In LegacyHookSubscriber we won't use `($event instanceof RenderingHookEvent)` any more but rather `$event->returnArray()` (and `RenderingHookEvent` could have this parameter set to true either forcefully or by default)

[2020-02-05 16:34] matks commented on #17085
@tdavidsonas88

Warning: https://cdn.rawgit.com/PrestaShop/prestashop-ui-kit/master/index.html#forms might not be up-to-date

It looks like we better ask for help the UI Kit Manager @NeOMakinG

[2020-02-05 16:41] khouloudbelguith commented on #17512
pING @PrestaShop/prestashop-core-developers

[2020-02-05 17:03] MatShir commented on #15971
The lastest remaining point is 5. The typo of the value of an order considered as paid is still small.
See in the screenshot below.

![download (3)](https://user-images.githubusercontent.com/43613217/73864198-859db200-4841-11ea-8e44-317a1e17d7ab.png)

[2020-02-05 17:10] jlmora opened #17516 "NoFollow problems in paginations."
**Describe the bug**
Bug:
1. You are pointing to paginated links with rel = “nofollow”.
2. In paginations canonicals always point to first (zero) page.
3. In paginations next/prev tag has and error. Next is pointing to self.

With this set up a bot will have problems to read paginated content and following products.

I recommend not to use nofollow in links, point canonical to self and not to use

[2020-02-05 17:22] matks commented on #17514
Closing until further answer, I think we solved the topic for now (and I hope it's nothing bigger 😬 )

If you have something more precise, feel free to reach out to security@prestashop.com 😉

[2020-02-05 17:22] #17514 closed, assigned to nobody

[2020-02-05 17:23] matks commented on #17007
Still waiting for Legal team POV 😅 I'm afraid without confirmation, we'll have to update all files again

[2020-02-05 17:24] PululuK commented on #17514
Hi @matks
Are you afraid of something ?
Prestashop is not stable and mature enough ?
I don't really know if it encourages or discourages community ... Why not open a discussion on this subject with the community ?
Take a look here : https://www.techrepublic.com/article/do-bug-bounties-help-open-source-security/
You may be interested

[2020-02-05 17:28] matks opened #17517 "Disable Symfony debug bar for web acceptance tests"
Today, web acceptance tests use `this.pageObjects.boBasePage.closeSfToolBar();` to close the Symfony debug bar.

The SF debug bar should not be enabled for web acceptance, making it easier for QA team to run tests.

[2020-02-05 17:28] eternoendless commented on #17469
I think the most important part is this:

- There SHOUld be be ONE root directory by section, with one or more subdirectories per page (if there's more than one).
- There SHOULD be ONE bundle per page (not section), per previous point
- There should be AT MOST one pagemap per page (pages inside a a section COULD share the same pagemap if it makes sense)
- There will probably not be too many files

[2020-02-05 17:39] matks commented on #17514
This article explains why a bug bounty does not replace a penetration test. We actually already have security audits (which involve penetration tests), the idea is to add a bug bounty, not replace security audits by a bug bounty.

I read this article and if I am not wrong, we are not the usecase this article refers to.

We would be foolish to think that we will, one day, reach a level of quality w

[2020-02-05 17:44] PululuK commented on #17514
@matks I'm going to get rich then !  😂
I partially agree with this.
Thank you for your responsivenes

[2020-02-05 18:27] HartLarsson commented on #14031
ps_reminder need many fixes:
1) cron path is wrong
2) email templates must be renamed to "ps_reminder_#"
3) no subject found when try to translate/edit a mail template:

![image](https://user-images.githubusercontent.com/16102074/73871097-84728200-484d-11ea-9fca-c3f4456a1a04.png)

[2020-02-05 18:37] Cedricdelcroix opened #17519 "Total amout of orders by client multiply by 1 000 000 in dashboard"
Hello,
The total amount of orders by client is multiply by 1 000 000 in the dashboard.

![image](https://user-images.githubusercontent.com/6152553/73871837-dd8ee580-484e-11ea-9709-4654f9504b7e.png)

[2020-02-05 20:50] HamzaElghanoui commented on #15048
Thanks @khouloudbelguith I make a pull request for this issue and waiting for merge https://github.com/PrestaShop/PrestaShop/pull/17501

[2020-02-05 22:55] PrestaShark commented on #17503
I have the same issue at 1.7.6.1 on asian sever.
Notice that image link gets additional chars

https://cop9gun.com/prshop175/5281-home_default-r2DrNZuUz0/5ku-optima-doctor-vortex-mount-for-glock-pistol.jpg

When -r2DrNZuUz0 was removed image apear

https://cop9gun.com/prshop175/5281-home_default/5ku-optima-doctor-vortex-mount-for-glock-pistol.jpg

Any security breach?

[2020-02-05 23:08] PrestaShark commented on #17503
When do You notice that issue? Let me guess CPanel? Any errors on BO when debug mode is ON?

[2020-02-05 23:19] PrestaShark commented on #17503
Its watermark module fault...
Uninstall it . lol

[2020-02-05 23:37] jolelievre commented on #17469
Seems good, so it would look like something like this?
[code]

What about components that may be common between multiple pages? Should we have a `components` folder? Or at the root of the section?

Should all the page mapping be in a single common file? Or only the one transversal to multiple pages, and so each page would have its own page-map with only the one necessary for this page (possibly in

[2020-02-05 23:38] jolelievre commented on #17469
We should also have a convention form file names, in order page there is mix between dash style and camel case file names

[2020-02-05 23:45] jolelievre commented on #17469
Regarding the component subfolders in page folder, in `order/view` and `order/create` we have 10+ different files/components Is it acceptable or could we divide them when we reach too many files?
I think the product page for example will probably have even more different components/files

Also where should we put tools or components that might be transversal to multiple sections (grids, forms, ...

[2020-02-05 23:47] Hlavtox opened #17521 "[IMPROVEMENT] Backoffice language improvements/bugs"
**Scenario**
I have a store which sells only in different country or language. To be specific, we are a Czech company having a separate store on Slovak domain, for Slovakia market.

The language of the store is Slovak, the language of BO is set to Czech.
To do this, I have both Czech and Slovak languages installed, but only Slovak is active.

![Výstřižek](https://user-images.githubusercontent.com/

[2020-02-06 00:19] #17488 closed, assigned to nobody

[2020-02-06 00:51] fyndpriser commented on #17083
Try the below commands.
update ps_product_shop SET date_upd = "2020-02-03 07:59:28";
update ps_product SET date_upd = "2020-02-03 07:59:28";

OR

update ps_product_shop SET date_add = "2020-02-03 07:59:28";
update ps_product SET date_add = "2020-02-03 07:59:28";

[2020-02-06 03:37] dtwfung commented on #17503
Alright, it seems the watermark module is faulty... I tried regenerate images but NO filename with has key generated,
![imp-p-dir](https://user-images.githubusercontent.com/11907298/73903528-51bf9c80-48d4-11ea-8a18-11ef31291fe1.jpg)

[2020-02-06 07:34] khouloudbelguith commented on #17037
Hi @froncare,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-06 07:34] #17037 closed, assigned to nobody

[2020-02-06 07:43] centoasa opened #17523 "Disable cache, CPU 100%"
Prestashop 1.7.6.3 on 10.1.43-MariaDB-0ubuntu0.18.04.1 - Apache
If I disable cache, my cpu goes at 100% and site crash. Error log is empty.
![2020-02-06 (2)](https://user-images.githubusercontent.com/5500935/73916151-2aa9a080-48bd-11ea-983d-2135db784ba8.png)

[2020-02-06 08:03] khouloudbelguith commented on #17516
Hi @jlmora,

Thanks for your report.
Isn't similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/13737?

Related to: https://github.com/PrestaShop/PrestaShop/issues/9503

Thanks!

[2020-02-06 08:06] khouloudbelguith commented on #17523
Hi @centoasa,

You can follow these steps:

- `Never recompile template files`: this option is to be chosen for maximum performance.
- `Cache enabled (YES)`: makes pages fastest.
- `Smart cache for CSS (YES)`: brings together in a single file, compresses and caches CSS files.
- `Smart cache for Javascript (YES)`: brings together in a single file, compresses and caches JS files.
- `Apache Optimizat

[2020-02-06 08:13] centoasa commented on #17523
Thanks @khouloudbelguith all done!
but if I disable only the cache, cpu goes at 100% and afterabout 1 min site goes down.

[2020-02-06 08:18] khouloudbelguith commented on #17523
@centoasa,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-02-06 08:22] khouloudbelguith commented on #17517
Ping @PrestaShop/prestashop-core-developers

[2020-02-06 08:26] khouloudbelguith commented on #17519
Hi @Cedricdelcroix,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/h

[2020-02-06 08:30] khouloudbelguith commented on #17521
Hi @Hlavtox,

Thanks for your report.
Isn't the same issue reported here:
https://github.com/PrestaShop/PrestaShop/issues/16626#issuecomment-560309227

Thanks to check & feedback.

[2020-02-06 08:32] khouloudbelguith commented on #17488
@MarcelRoos, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-02-06 09:12] MaMouT514 opened #17524 "Bug with features in product page"
Hi,
I've found a bug the in admin product page edition, in features section :
_If you don't choose a feature but you put something in the "customized value", that will create a ghost feature.
After that, on each save (automatic or not), you will have another ghost and it's impossible to remove them.
There is no alert on creation/edition with empty feature with customized value._

Have a good day

[2020-02-06 09:14] jlmora commented on #17516
No.

[2020-02-06 09:14] khouloudbelguith commented on #17524
Hi @MaMouT514,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9680
So, I close it.
Thanks!

[2020-02-06 09:14] #17524 closed, assigned to nobody

[2020-02-06 09:15] khouloudbelguith commented on #17524
Duplicate of #9680

[2020-02-06 09:18] MaMouT514 commented on #17524
Oops ... I checked before but it looks like I haven't been good.

[2020-02-06 09:25] colinegin commented on #15971
@tomas862 do you prefer that we create another issue with price display issue so that we can close this one ?

[2020-02-06 09:27] colinegin commented on #11588
So I guess we should fix what's left to be done.
@PierreRambaud do you have an idea on how to fix it ?

[2020-02-06 09:28] khouloudbelguith commented on #17503
Hi @dtwfung,

I did not manage to reproduce the issue with PS1.7.6.2 & PS1.7.6.3 & the Watermark module v2.0.0.
https://drive.google.com/file/d/1YHfheuuDbgH6rLHKfq05be97BuKFG5_x/view
Feel free to open a new one when needed.

Thanks!

[2020-02-06 09:40] dtwfung commented on #17503
Have you select the option "Logged in customers can see images without watermark" in Watermark module, check image of any old products when login ?

[2020-02-06 09:47] sam-pires opened #17525 "SEO live previews don't work on Safari desktop"
**Describe the bug**
SEO live previews don't work properly on Safari desktop.
Instead of displaying the meta-title, URL and meta-description,  it only displays the URL.

![Capture d’écran 2020-02-06 à 08 50 28](https://user-images.githubusercontent.com/25405887/73923763-ae6a8980-48cb-11ea-9593-9fe28eada676.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Design > Pages > Create a

[2020-02-06 09:50] ballashop commented on #17500
Hi @khouloudbelguith
the ISP found a problem about menu item "Theme & Logo", they wrote:
"the problem was generated by the module ps theme custom uninstalling it the theme and logo items reappeared."
In fact the menu reappears but in an incorrect position!
In the photo, the right menu is a local test, the left one is the "no production" site test online![theme-e-logo](https://user-images.githubuse

[2020-02-06 10:34] khouloudbelguith commented on #17500
@ballashop, so can you confirm these steps to reproduce the issue:
1. Upgrade shop from ps1.6.1.24 to PS1.7.6.3 using the 1-click upgrade v4.10.1
2. Uninstall the ps_themecusto module
3. Install it again
 => check the menu?

Is it?

Thanks!

[2020-02-06 10:39] ioweb-gr commented on #13389
Hi,
let me notice that on prestashop 1.7.5.2 this is a huge issue with caching on the backend. I'm trying to change product SEO URLs and with memcached enable although the product saves the new URL, cache is not invalidated. Thus the product URL stays the same as before.

So my use case is this:

- Enable memcahed
- Edit a product in backend
- Change the SEO url
- Save the product
- In the JSON Re

[2020-02-06 10:39] khouloudbelguith commented on #17503
@dtwfung, yes!
I attached a screen record
https://drive.google.com/file/d/1JQIm_7zOvLAhn6ndkdAYTvWO3yOh8fkW/view

Thanks to check & feedback.

[2020-02-06 10:56] ballashop commented on #17500
Hi @khouloudbelguith
About your question, very close to what you wrote but honestly we have done many and many more operations I'm so sorry that I didn't explain all of them.
Due to the many errors received, every action taken, it was to resolve them:
when the error concerned permissions, action was taken to resolve user's DB tables.
When the problem was about the theme we bought, we uninstalled i

[2020-02-06 10:58] khouloudbelguith commented on #17525
Hi @sam-pires,

I used os => OS+X => os_version=High+Sierra => browser=>Safari & browser_version=>11.1

I have the same issue with PS1.7.6.0 & PS1.7.6.3 & Version 11.1.2 (13605.3.8)
With PS1.7.5.2, the SEO preview doesn't exit => so it is a regression.
![image](https://user-images.githubusercontent.com/16067358/73930773-681b2780-48d7-11ea-93d5-da387e946641.png)

It is ok in my case with PS1.7.6.0

[2020-02-06 11:10] khouloudbelguith commented on #17500
@ballashop, in my case, I did not manage to reproduce the issue with PS1.7.6.3 after an upgrade from PS1.6.1.24 using the 1-click upgrade v4.10.1.
https://drive.google.com/file/d/1TXenju1vy-CKv1Oc-V83dTfUh7nGM_QE/view
After the upgrade, the ps_themecusto is well installed.
Did you try to re-install the ps_themecusto again & check if the issue is fixed?

Thanks!

[2020-02-06 11:18] Matt75 opened #17527 "PHPdoc of class LinkCore is wrong"
**Describe the bug**
PHPdoc of class LinkCore is wrong, it cause errors when running PHPStan on a module and cause wrong autocompletion in PHPStorm

**To Reproduce**
Steps to reproduce the behavior:
1. Run PHPStan on a module
2. For example : `Parameter #6 $idShop of method LinkCore::getModuleLink() expects null, int given.`

**Additional information**
PrestaShop version: All
PHP version: All

[2020-02-06 11:18] Matt75 commented on #17527
https://github.com/PrestaShop/PrestaShop/pull/17510

[2020-02-06 11:19] ballashop commented on #17500
@khouloudbelguith
I tried to find it in module manage:

<img width="915" alt="Schermata 2020-02-06 alle 12 16 27" src="https://user-images.githubusercontent.com/28685316/73932408-8a627480-48da-11ea-8408-83bb43bca7db.png">

and in module catalogue:

<img width="911" alt="Schermata 2020-02-06 alle 12 16 08" src="https://user-images.githubusercontent.com/28685316/73932424-977f6380-48da-11ea-9aad-04f4

[2020-02-06 11:29] khouloudbelguith commented on #17516
Click on inspect element at paginated inlink.
See error.

I have the same behavior with Ps1.7.6.3 & PS1.7.5.2
![image](https://user-images.githubusercontent.com/16067358/73932357-7454b400-48da-11ea-8ff8-c91ff5f5043e.png)

Click on inspect element to see html header.
Search for canonical and next.
See errors.

The `rel=canonical` exists in the html header (reproduced with PS1.7.6.3 & PS1.7.5.2)
![i

[2020-02-06 11:38] ballashop commented on #17500
@khouloudbelguith
really sorry, I found it, I forgot that I renamed the ps_themecusto folder.
I'm going to re-install it.
I'll let you know.
Thanks for your support.

[2020-02-06 11:40] khouloudbelguith commented on #17500
@ballashop, thanks!

https://github.com/PrestaShop/ps_themecusto/releases
[ps_themecusto.zip](https://github.com/PrestaShop/PrestaShop/files/4164840/ps_themecusto.zip)

Waiting for your feedback.

[2020-02-06 11:46] ballashop commented on #17500
Hi @khouloudbelguith
I tried to install, I've got the same error:

<img width="278" alt="Schermata 2020-02-06 alle 12 44 40" src="https://user-images.githubusercontent.com/28685316/73934395-98b28f80-48de-11ea-9d79-609d25c1e5a0.png">

<img width="291" alt="Schermata 2020-02-06 alle 12 44 57" src="https://user-images.githubusercontent.com/28685316/73934374-8fc1be00-48de-11ea-9cbb-b7e8c394f141.png">

[2020-02-06 11:48] ballashop commented on #17500
@khouloudbelguith
When I tried to activate, I've got this warning:

<img width="274" alt="Schermata 2020-02-06 alle 12 47 49" src="https://user-images.githubusercontent.com/28685316/73934551-f8109f80-48de-11ea-971c-7013652fa5c3.png">

[2020-02-06 11:49] dtwfung commented on #17503
In my case, I select Home-default and large-default only.
According to watermark module, it requests me to regenerate thumbnail. Have you do it in your case ?
When you inspect image url, are they refer same jpg, I meant e.g. login customer view 2577-large_default-r2DrNZuUz0.jpg (with hashed key) and other view 2577-large_default.jpg ?

Thx again

[2020-02-06 11:54] khouloudbelguith commented on #17500
@ballashop, could you please try to uninstall the ps_themecusto module with rmoving the folder module & try to install it by uploading this
[ps_themecusto.zip](https://github.com/PrestaShop/PrestaShop/files/4164914/ps_themecusto.zip)

Thanks!

[2020-02-06 12:00] ballashop commented on #17500
@khouloudbelguith
ok I'll let you know.
Thanks a lot.

[2020-02-06 12:02] khouloudbelguith commented on #17503
@dtwfung,
It is ok
https://drive.google.com/file/d/1qyGzLxsmGk-7eto34J8wY2G8X78MAmZ4/view

Thanks!

[2020-02-06 12:03] khouloudbelguith commented on #17500
@ballashop, waiting for your feedback.

Thanks!

[2020-02-06 12:06] PrestaShark commented on #17503
@dtwfung notice that @khouloudbelguith use higher version of Prestashop 1.7.6.2 and .3 instead of .1 in Your case. Try to upgrade store. Also try to switch PHP version to 7.2 if possible.

[2020-02-06 12:20] ballashop commented on #17500
@khouloudbelguith
I downloaded the zip file from your link
I delete the ps_themecusto folder form modules one
I cleaned the cache inside PS
I uploaded the ps_themecusto.zip
I cleaned the cache inside PS
I logged out form BO
I cleaned the browser cache
I logged in BO
the arrangement of the menu items is as before, the only difference, the item has been added "advanced personalization"

<img width="

[2020-02-06 12:22] khouloudbelguith commented on #17500
@ballashop, Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]

Thanks!

[2020-02-06 12:24] jlmora commented on #17516
Thanks, the only problem I see in your case is the nofollow link to pagination.

[2020-02-06 12:26] khouloudbelguith commented on #17516
@jlmora,

I'm using the theme by default Classic.

Thanks!

[2020-02-06 12:27] jlmora commented on #17516
We are using Warehouse theme.

[2020-02-06 12:28] khouloudbelguith commented on #17516
@jlmora, so, it could be a theme issue.
Thanks to check with the theme author & feedback.

[2020-02-06 12:30] jlmora commented on #17516
No, in other case i see jus now we are using Classic.

How can i send you a private test with domains? i can not make it publics.

[2020-02-06 12:31] ballashop commented on #17500
@khouloudbelguith
I' really sorry but I don't know how do that.
Can you please tell me how or show me a guide?
Thanks a lot.

[2020-02-06 12:32] khouloudbelguith commented on #17516
@jlmora,

My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2020-02-06 12:33] khouloudbelguith commented on #17500
@ballashop, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2020-02-06 12:39] dtwfung commented on #17503
Can you check the image path and filename of the cloth BEFORE and AFTER LOGIN, see if they are different ...Thx.
My environment has refer different filename (the filename under img/p directory...
Thx again

[2020-02-06 12:54] ballashop commented on #17500
@khouloudbelguith
I did, nothing has changed :(
You have other suggestions?
Thanks for your support.

[2020-02-06 12:58] sam-pires commented on #17525
Thank you @khouloudbelguith 🙂

[2020-02-06 13:20] eternoendless commented on #17516
ping @PrestaShop/prestashop-product-team

[2020-02-06 13:26] Gaja-A opened #17529 "This Combination Does Not Exist For This Product. Please Select Another Combination."
Hi,

I am using PS version 1.5. In product page, I have the following error for some products (not for all) - "**This Combination Does Not Exist For This Product. Please Select Another Combination.**" I don't know what to do. I have set a combination (Sizes) and also assigned a default combination but it is not visible in front.

I have gone through more forums related to this issue but I found no

[2020-02-06 13:31] zuk3975 commented on #17282
- `Add required fields validation` in SetRequiredFieldsForAddressCommand - #17526

- `fix showing not found customers and rerender after change customer` in customer-manager.js - #17325

- `move to private method` in AddCartRuleToOrderHandler - #17348

[2020-02-06 13:40] khouloudbelguith commented on #17529
Hi @Gaja-A,

This is an old version PrestaShop.
We only support PrestaShop 1.7.

I will close the issue, feel free to open a new one when needed.

Thanks for your understanding!

[2020-02-06 13:40] #17529 closed, assigned to nobody

[2020-02-06 13:44] khouloudbelguith commented on #17500
@ballashop, Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-02-06 13:44] #17500 closed, assigned to nobody

[2020-02-06 13:47] ballashop commented on #17500
Ok @khouloudbelguith ,
thanks a lot for your support.

[2020-02-06 13:52] PrestaShark commented on #15137
Bump. Allow use faceted search module in Manufacturer, Supplier, Search results pages would be very nice addition to every store features. Consider that. Thanks! :)

[2020-02-06 13:58] Progi1984 commented on #17504
@PrestaShop/prestashop-product-team Hi, Is it the good behavior that a disabled product is accessible on the frontoffice from an anonymous user (but with a parameter in URL `?preview=1`) ?

[2020-02-06 14:29] khouloudbelguith commented on #17516
Hi @PrestaShop/prestashop-product-team @jolelievre,

As discussed with @jlmora, the issue reported & reporuduced is:

Other issues are related to the custom theme

Thanks!

[2020-02-06 14:33] khouloudbelguith commented on #17503
@dtwfung, @PrestaShark,

I tried with PS1.7.6.1 & PHP7.1 & it is OK
https://drive.google.com/file/d/1yXW9w7EuLHLvwmis9UaAT1DddRNGpD17/view

Thanks!

[2020-02-06 14:39] jlmora commented on #17516
Thanks!

Can you ping here theme author or I need to contact directly?

[2020-02-06 14:43] khouloudbelguith commented on #17516
@jlmora, As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-06 14:45] matks commented on #13652
I close as I think it's insignificant

[2020-02-06 14:45] #13652 closed, assigned to nobody

[2020-02-06 15:03] jlmora commented on #17516
Thanks!

I will contact directly. About nofollow I await for your feedback.

[2020-02-06 15:09] dtwfung commented on #17503
I tried to use PHP 7.2 but error when login to PS BO.
Back to PHP 7.1,  the URL path is different with customer login and logout.
When customer login, there is hashed key in the path ==> https://cop9gun.com/prshop175/497-home_default-**r2DrNZuUz0**/element-seemore-railway-reflax-sight-yellow.jpg
See attached pictures.

Really want to know what is URL in your environment, before login and after log

[2020-02-06 15:14] khouloudbelguith commented on #17503
@dtwfung,
After login
![image](https://user-images.githubusercontent.com/16067358/73950053-96aaf980-48fb-11ea-9ff8-031e0047cfbf.png)
Before login
![image](https://user-images.githubusercontent.com/16067358/73950136-b2ae9b00-48fb-11ea-8e41-775d4410b273.png)

Thanks!

[2020-02-06 15:21] PrestaShark commented on #17503
@dtwfung this is very interesting case.
Have the same in my customer from Bangladesh. Let me guess? Error is "SessionHandler::gc(): ps_files_cleanup_dir: opendir(/var/cpanel/php/sessions/ea-php72) failed: Permission denied (13)" and You are using CPanel?

[2020-02-06 15:29] khouloudbelguith commented on #17503
@dtwfung, @PrestaShark,

This is a permission issue in the server.

Thanks!

[2020-02-06 15:32] PrestaShark commented on #17503
Thats why GC library can't do anything.

[2020-02-06 15:37] #17527 closed, assigned to nobody

[2020-02-06 15:44] TucoSalamanca opened #17536 "How can i remove the discount percentage from product list?"
Hello so for some reason i have the discount percentage shown twice and i suspect this is because i run custom theme and 1 its from the original and 1 is from the custom theme

On the attached picture you'll see what im talking about, im trying to remove the red percentage(top-right one) so it will only display the gray one(top-left one).

I've tried tweaking around in product.tpl with little succ

[2020-02-06 15:53] khouloudbelguith commented on #17536
Hi @TucoSalamanca,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-06 15:53] #17536 closed, assigned to nobody

[2020-02-06 15:58] Robin-Fischer-PS commented on #17085
@tdavidsonas88 Here is a screenrecord for reproducing this bug :
When adding a "Free Shipping" voucher on an order (NOT created by checking the "Free Shipping" on the page), and then, checking the "Free Shipping" option on the order, the Shipping price is deducted twice.

https://drive.google.com/file/d/1sXSULMDGfz1TMAAqY0noKBKomAXnT41W/view?usp=sharing

On the record, the shipping price is deduce

[2020-02-06 16:11] Progi1984 commented on #17374
Fixed by PrestaShop/ps_themecusto#20

[2020-02-06 16:11] #17374 closed, assigned to atomiix

[2020-02-06 16:33] khouloudbelguith commented on #17503
@dtwfung, any news?

Thanks!

[2020-02-06 16:36] Progi1984 commented on #17197
Fixed by #17448

[2020-02-06 16:36] #17197 closed, assigned to atomiix

[2020-02-06 16:45] #11281 closed, assigned to NeOMakinG

[2020-02-06 16:46] Progi1984 commented on #11281
Fixed by #17133

[2020-02-06 16:53] matks commented on #15971
We would like to create another issue indeed. As we just fixed item 4, we would be very happy to close this one to ackowledge the work 😄

[2020-02-06 17:33] rdy4ever commented on #17504
Hi @Progi1984
This is clearly a bug :)

[2020-02-06 17:46] colinegin commented on #17504
I confirm a disabled product should never be accessible on front office, whatever type of "user" you are, except for preview which I guess is only usable with a specific token. Wdyt @Progi1984 ?

[2020-02-06 19:47] nicoladze commented on #17219
@khouloudbelguith

Sorry for the long time, I had not receive your answer in my email box.

I did what you have asked for but :
No error or red request in Network tab
Console tab : 1 verbose : [Violation] 'setTimeout' handler took 63ms - main.bundle.js:253

[2020-02-06 22:17] ProteanCode commented on #17258
Why Tools::setCookieLanguage is so complex?

According to MDN

I cannot understand this code at all
https://github.com/PrestaShop/PrestaShop/blob/6195e42cfeb10036f1845d3319ec2159b5284e4a/classes/Tools.php#L572

This should be as simple as "if language has not been manually set by user, then iterate over languages in HTTP_ACCEPT_LANGUAGE header for finding first possible. If none matched, return de

[2020-02-06 22:28] ProteanCode commented on #17258
The Tools::getValue('isolang') returns "something" but it should not.

I have no idea how the $_GET array contains data like isolang and id_lang. My web browser did not sent this data

[code]

[2020-02-06 23:04] ProteanCode commented on #17258
At some point I got a HTTP_ACCEPT_LANGUAGE starting from "en-PL" which does not seems to be a real thing.
At other point it just starts from "pl".

Even if I get the correct iso code I am not seeing the page in that language

[2020-02-06 23:22] ProteanCode commented on #17258
Sometimes the HTTP_ACCEPT_LANGUAGE is not set

[2020-02-07 00:52] ProteanCode commented on #17258
getLanguageByIETFCode works wrong.

It fetches languages from ps_lang table which can be modified by user in admin panel (/index.php/improve/international/languages).

My web browser (Brave, a Chrome-based one) is sending my HTTP_ACCEPT_LANGUAGE as "pl", not "pl-PL" and I did not have a "pl" value in "language_code" column of "ps_lang" table.

I updated all the "ga-GA" and "pl-PL" fields into "ga"

[2020-02-07 02:20] dtwfung commented on #17503
Yes, I'm using CPanel ! Anything I can do ?!

[2020-02-07 02:21] dtwfung commented on #17503
Yes, I'm using CPanel ! Anything I can do ?!

[2020-02-07 03:00] dtwfung commented on #17503
I just tried to test this case on another fresh installation (PS 1.7.6.1, PHP 7.1). This installation are on the same platform as above installations, using Cpanel.
https://cop9gun.com/prshopupd/home-accessories/20-customizable-mug.html (Login account setting are same.)
Before Login & after login, ALL images show properly.
Difference are I REGENERATE ALL images ALL in one goal (Much few products t

[2020-02-07 03:00] #17503 closed, assigned to nobody

[2020-02-07 06:53] aalonzi opened #17538 "product-variants not change"
**Describe the bug**
If product has different combinations of variants, eg:
Size S Color Red
Size S Color Green
Size M Color Green
Size M Color Black

when you change from Size S to Size M, on frontend, the Color variant menù not change.

**To Reproduce**
Steps to reproduce the behavior:
1. Create product with two attributes (eg Size and Color) and some different variants
2. Go on frontend and see

[2020-02-07 07:44] tdavidsonas88 commented on #17085
Thank you @Robin-Fischer-PS, I take this issue now.

[2020-02-07 07:58] khouloudbelguith commented on #17062
Hi @ENsports,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-07 07:58] #17062 closed, assigned to nobody

[2020-02-07 08:00] khouloudbelguith commented on #17042
Hi @Hlavtox,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-07 08:01] khouloudbelguith commented on #17503
@dtwfung, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-02-07 08:04] khouloudbelguith commented on #17538
Hi @aalonzi,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/17457 to fix the issue.
It will be available in the next patch PS1.7.6.4.
Your ticket is a duplicate of #17437
So, I close it.
Thanks!

[2020-02-07 08:04] #17538 closed, assigned to nobody

[2020-02-07 08:05] khouloudbelguith commented on #17538
Duplicate of #17437

[2020-02-07 08:06] 5-digits opened #17539 "ContextErrorException in ImageRetriever.php"
**Steps**
--
1. Install the prestashop project .
2. Choose [ fr ] language
3. finish installing without any problem
4. by moving to the home page, i got this error

Something went wrong,  in ImageRetriever.php line 274
--

ContextErrorException
Notice: Undefined offset: 0
in ImageRetriever.php line 274
at ImageRetriever->getNoPictureImage(object(Language))in FrontController.php line 1518
at FrontC

[2020-02-07 08:09] khouloudbelguith commented on #17539
Hi @5-digits,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade y

[2020-02-07 08:12] khouloudbelguith commented on #17258
@ProteanCode,
Did you make any changes in the URLs or did you use a custom module?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-02-07 08:18] khouloudbelguith commented on #17219
@nicoladze, could you please provide the exact expressions set in your case to test them.

What is the exact country used?
What is the exact address format of this country? (you can check it in the BO => International => Locations => countries => country detail page)
In the BO => Customers => Addresses page => have you any required fields ?

Thanks!

[2020-02-07 08:19] ProteanCode commented on #17258
I will try to reproduce the bug on fresh prestashop instance, but I will take on this later (like 9PM CET)

[2020-02-07 08:19] khouloudbelguith commented on #17258
@ProteanCode, thanks!
Waiting for your feedback.

[2020-02-07 08:35] grzegorzgit opened #17540 "Assigning states to zone in bulk is not working."
**Describe the bug**
In menu: "International > Locations > States"    assigning multiple states to zone (bulk action) doesn't do anything, only refreshes the page without any change or any new inputs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'International > Locations > States'
2. Select few states
3. Scroll down to bottom, to button 'bulk actions'
4. Choose "assign to a new zon

[2020-02-07 08:37] khouloudbelguith commented on #17540
Hi @grzegorzgit,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9971
So, I close it.
Thanks!

[2020-02-07 08:37] #17540 closed, assigned to nobody

[2020-02-07 08:37] khouloudbelguith commented on #17540
Duplicate of #9971

[2020-02-07 08:49] grzegorzgit opened #17541 "No states available in "states" choosing field in Tax rule creation."
**Describe the bug**
Creating a new tax rule for USA, there are no states listed in the states select field. Only available is "all states"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'International > Taxes > Tax rules'
2. Click on 'add new tax rule'
3. You can choose the country, eg. United States
4. You can not choose a state, only "all" is available.

**Screenshots**
If applicab

[2020-02-07 08:54] PeeyushAgrawal opened #17542 "On virtual product, the delivery time shouldn't display."
**Describe the bug**
When we set the "Delivery time of in-stock products", the delivery time get also display on the virtual product page. As we know that virtual product can't ship, so the delivery time shouldn't display on the virtual product page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Products setting' in shop parameters tab on the BO and set "Delivery time of in-stock pr

[2020-02-07 09:15] khouloudbelguith commented on #17541
Hi @grzegorzgit,

I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.3.
You can Select only one state or more.
![image](https://user-images.githubusercontent.com/16067358/74016392-aaee0580-4992-11ea-97cb-84ca8c216660.png)
![image](https://user-images.githubusercontent.com/16067358/74016409-b17c7d00-4992-11ea-9afd-b03f4599f5a0.png)
Could you please provide us with more info? We need m

[2020-02-07 09:28] ytilotti opened #17544 "Bad attributes in the table PREFIX_category_shop"
**Describe the bug**
The attribute of id_category and id_shop is not UNSIGNED.
An error is occured when using relationnel model.
Need to add this request in install :
`ALTER TABLE `PREFIX_category_shop` CHANGE `id_category` `id_category` INT(11) UNSIGNED NOT NULL, CHANGE `id_shop` `id_shop` INT(11) UNSIGNED NOT NULL;`

**Additional information**
PrestaShop version: 1.7.6.3
PHP version: N/A

[2020-02-07 09:36] khouloudbelguith commented on #17542
Hi @PeeyushAgrawalWebkul,

Thanks for your report.
I manage to reproduce the with PS1.7.5.2 & PS1.7.6.3 & the branch 1.7.7.x.
![image](https://user-images.githubusercontent.com/16067358/74018135-a4ad5880-4995-11ea-89d9-13e49ae37a49.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Th

[2020-02-07 09:37] PeeyushAgrawalWebkul commented on #17542
@khouloudbelguith I have a solution for this and will create the PR soon.

[2020-02-07 09:48] LouiseBonnard opened #17546 "Optimize the product condition wording to avoid mistranslation"
**Is your feature request related to a problem? Please describe:**

In the back office, you can add the condition of your product in the 'Options' tab.

<img width="407" alt="Capture d’écran 2020-02-06 à 17 55 55" src="https://user-images.githubusercontent.com/32565890/73959676-f6100600-4909-11ea-83c5-7d3cc069619c.png">

<img width="535" alt="Capture d’écran 2020-02-07 à 10 47 25" src="https:/

[2020-02-07 10:02] Progi1984 commented on #17504
@colinegin Thanks for the answer.

[2020-02-07 10:07] colinegin commented on #17376
@eternoendless @PierreRambaud any news about @NeOMakinG 's comment ?

[2020-02-07 10:11] colinegin commented on #15934
@matthieu-rolland @jolelievre what's the status of this issue ?

[2020-02-07 10:24] khouloudbelguith opened #17548 "Migrated page - If you filter and there's no results, we don't show the filters anymore"
**Describe the bug**
Go to any page migrated to Symfony and try to filter where there are no results, we don't show the filters anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Categories page
2. Filter by inexistent filter for example filter by an `id=16` or `name=unvailable`
3. See error: the table category_grid_table is disappeared, not displayed anymore, we

[2020-02-07 10:32] MatShir opened #17549 "The fields in the BO address form must be optional."
Customer address form in BO now should always render all fields as optional, only requiring the first name, last name, address1, country and city.

[2020-02-07 10:37] matks commented on #17376
@eternoendless must tell us whether we can upgrade TinyMCE version in **migrated pages** . This would create a small BC but would fix a lot of issues related to TinyMCE, and as pages get migrated, this would fix them.

[2020-02-07 10:37] khouloudbelguith commented on #17544
Hi @yneet,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.3.
![image](https://user-images.githubusercontent.com/16067358/74022530-040f6680-499e-11ea-9e4e-94d112e264f0.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-02-07 10:43] tdavidsonas88 commented on #17085
The easiest suggestion to solve this bug is to disable Free Shipping (Yes/No) button if the user already added the discount voucher with free shipping. If you have a better offer please let me know.

[2020-02-07 10:47] MatShir commented on #17032
#17526

[2020-02-07 10:48] yneet commented on #17544
I know how fix it but don't know where. Add a file on this directory https://github.com/PrestaShop/PrestaShop/tree/develop/install-dev/upgrade/php or update https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/upgrade/sql/1.7.7.0.sql ?

[2020-02-07 10:51] #15184 closed, assigned to NeOMakinG

[2020-02-07 10:52] khouloudbelguith commented on #17544
@yneet, you can follow our documentation: https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/

Thanks!

[2020-02-07 10:52] MatShir opened #17550 "[EPIC] Address field in the BO form"
The layout of the address form for changing or adding an address is defined by the country configuration with the first name, last name, first address and country information that are required to create a new address.

Many optional fields can be added to the form but cannot be flagged as required from the country configuration with the exception of postcode, state and tax identification number.

[2020-02-07 10:53] matks commented on #15184
Will be fixed by the release of productcomments module

[2020-02-07 10:56] matks commented on #17085
I like this solution (simple and efficient), but we need PM confirmation. @MatShir ?

[2020-02-07 10:58] yneet commented on #17544
@khouloudbelguith it was not my question :). There is multiple possibilities to do this fix :
- add a file in https://github.com/PrestaShop/PrestaShop/tree/develop/install-dev/upgrade/php
- update https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/upgrade/sql/1.7.7.0.sql
- update https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/data/db_structure.sql

[2020-02-07 11:00] MatShir opened #17551 "The typo of the value of an order considered as paid is still small."
The green style of the value when an order is considered as paid is still small.
See in the screenshot below.

![download (3)](https://user-images.githubusercontent.com/43613217/73864198-859db200-4841-11ea-8e44-317a1e17d7ab.png)

_Originally posted by @MatShir in https://github.com/PrestaShop/PrestaShop/issues/15971#issuecomment-582508738_

[2020-02-07 11:10] grzegorzgit commented on #17541
Hey, thx for quick response.
I have found what the problem really is. In console theres error
![image](https://user-images.githubusercontent.com/24461669/74024669-a3365d00-49a2-11ea-9617-9ef2341ff0e7.png)
which is this code:
![image](https://user-images.githubusercontent.com/24461669/74024727-be08d180-49a2-11ea-9abc-7c80d71ad3e6.png)

[2020-02-07 11:16] matks commented on #17469
Looks good 👍

I suggest a component folder, common to all section, possibly with subfolders in it if necessary.

I suggest a single common file as these files will probably be shared with QA team. This way it's simple and efficient for them to get them all.

Not mapped to a controller I think, too brittle.

@PierreRambaud @NeOMakinG what is the norm for file names ?

I think if we have too many fi

[2020-02-07 11:21] khouloudbelguith commented on #17541
@grzegorzgit,

Did you make a switch to jQuery 3.4 manually?

Thanks!

[2020-02-07 11:33] grzegorzgit commented on #17541
Yes, I wanted to solve the Chromium Lighthouse error "Includes front-end JavaScript libraries with known security vulnerabilities.". I got back to jQuery 1.1 and the states are there.

[2020-02-07 11:36] gatto64it commented on #17345
Hi ,

(**".quickview .product-variants** .page-product:not(.modal-open) .row .product-variants").replaceWith(e.product_variants),

if you check this code above in core.js you can see that there is a typo...a coma is missing after .product-variants

so it should be

**(".quickview .product-variants,** .page-product:not(.modal-open) .row .product-variants").replaceWith(e.product_variants),

[2020-02-07 11:50] iriarh opened #17552 "Backoffice product catalog search bar not working"
Hi there ....
Today i noticed that the upper product catalog bar in the backoffice is not working and the reset button is replaced by a "save & refresh" button also the position row has arrows instead of buttons
I did a prestashop update and tried to reset some modules relevant to the catalog to no avail.
I attach a photo of the tab and rows ...
![2020-02-07_12-56-49](https://user-images.githubuse

[2020-02-07 12:30] iriarh commented on #17552
I solved the issue ..it was a glitch in the product bulk filter action..

[2020-02-07 12:31] #17552 closed, assigned to nobody

[2020-02-07 12:37] khouloudbelguith commented on #17541
@grzegorzgit, thanks for your feedback.
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-07 12:37] #17541 closed, assigned to nobody

[2020-02-07 13:55] khouloudbelguith opened #17553 "In the Module Catalog page - The Menu "process-icon-dropdown" is not well displayed on mobile"
**Describe the bug**
When using a mobile, in the Module Catalog page - The Menu "process-icon-dropdown" is not well displayed.

**To Reproduce**
Steps to reproduce the behavior:

1. Use a mobile
2. Go to BO => Module Catalog page
3. Click on the Menu button
![image](https://user-images.githubusercontent.com/16067358/74034955-9d984180-49b9-11ea-9c2b-45f71582ea03.png)
4. See error
![image](https://u

[2020-02-07 13:59] khouloudbelguith commented on #17553
@NeOMakinG :slightly_smiling_face:

[2020-02-07 14:19] MatShir opened #17557 "Update wording and doc Addresses page"
Bc of #17549

[2020-02-07 14:33] LouiseBonnard commented on #10619
Hi @sowbiba, we've just made up our minds with @MatShir, we will keep the second option. Could you please apply it to the related PR, #17215? Many thanks!

[2020-02-07 14:39] prestamodule opened #17560 "Some product information are lost or altered using a simple ObjectModel save"
**Describe the bug**
When using `save()` method on a product object, there are some issues

**To Reproduce**
Into a module, or anywhere in a file...
Use this simple code snippet:

[code]

After the save(), unit price value displayed into BackOffice is reset to 0.

Now, if you are using this code snippet:

[code]

After the save():
* unit price value displayed into BackOffice is reset to 0.
* price

[2020-02-07 15:11] #14821 closed, assigned to NeOMakinG

[2020-02-07 15:17] Robin-Fischer-PS opened #17563 "Bad display in categories page when sorting data"
**Describe the bug**
When sorting a tab which has bulk action and position selector, the display of the tab is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Categories
2. Sort the tab (for example, by ID)
3. Bulk action checkbox display is not OK

**Screenshots**
![pr17547 bad display](https://user-images.githubusercontent.com/55688534/74041027-2a94c800-49c5-11ea-9ce8-d241362

[2020-02-07 15:20] khouloudbelguith commented on #17560
Hi @prestamodule,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2.
https://drive.google.com/file/d/1oGN0-ycdvMiu5wCUmR7YjzJtLd61KYjr/view
I used this script
[code]
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

Related to: https://github.com

[2020-02-07 15:26] LouiseBonnard commented on #17384
Hi @khouloudbelguith, @maofree, I agree: if void, the caption should at least set the product name as the alt attribute of the image. Note that the caption may change in case of multiple languages, so might the alt attribute, depending on the browsing language. :-)

[2020-02-07 15:27] khouloudbelguith commented on #17563
Hi @Robin-Fischer-PS,

I have the same issue with 1.7.7.x branch.
![image](https://user-images.githubusercontent.com/16067358/74041844-b529f700-49c6-11ea-9830-316b63cf7621.png)
I’ll add this to the debug roadmap.

Thanks!

[2020-02-07 15:55] LouiseBonnard opened #17564 "[EPIC] Localization packs rework - further improvements"
Since the information in localization packs is not automatized yet, this issue is here to gather all the tasks to do for the next PrestaShop versions (starting from 1.7.8) in order to update as much localized data as possible.

## Localization packs
- [ ] #19430
- [ ] #10012
- [x] #12252
- [x] #11061
- [x] #29550

## New supported languages

## Update tax rates
- [ ] Investigate to automate tax ra

[2020-02-07 16:11] #17548 closed, assigned to nobody

[2020-02-07 16:19] nicoladze commented on #17219
@khouloudbelguith

You have already tested them and provided me with a video

- I used Switzerland

- Address format in the BO => International => - - Locations => countries => Switzerland

firstname lastname
company
vat_number
address1
address2
postcode city
Country:name
phone

- No required fields in the BO => Customers => Addresses page

[2020-02-07 16:26] khouloudbelguith commented on #17219
@nicoladze, I tried again & I did not manage to reproduce the issue with PS1.7.6.3 & PS1.7.6.1.
https://drive.google.com/file/d/1mdbgBoBOdW2R561pbvAOxI3c6VWkppC8/view
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to con

[2020-02-07 16:26] #17219 closed, assigned to nobody

[2020-02-07 16:28] nicoladze commented on #17219
@khouloudbelguith

I just put "-" in the phone field and it worked, just like it was a required field while it was not one.

[2020-02-07 16:32] matks commented on #17314
No answer, so we update all filers following our usual system. See https://github.com/PrestaShop/PrestaShop/pull/17565

[2020-02-07 16:36] khouloudbelguith commented on #17219
@nicoladze, Phone field is empty in my case & it is OK.

Thanks!

[2020-02-07 22:06] ProteanCode commented on #17258
Seems to work just fine on localhost with basic template on dockerized instance even proxied through nginx. I will need to check for more

[2020-02-07 23:53] ProteanCode commented on #17258
I really don't like the design of Prestashop codebase, I had to read through debug_backtrace just to see that `override` word in a path.

So from what I see the plugins may override the core prestashop classes, one of these classes is `Dispatcher.php` and it has indeed been overriden. This explains why I could not rely on `setRequestUri` method in core Dispatcher.

I can see that setRequestUri is

[2020-02-08 00:00] ProteanCode commented on #17258
The **x13links** module has been removing the isocode from URL, I had to disable its variable (`SEOURL_REMOVE_DEFAULT_ISO`) by switching a field in admin panel.

@khouloudbelguith You gave me that tip in very first comments, but I was not able to understand how important it is for language autodetecting. Now everything makes sense

[2020-02-08 00:00] #17258 closed, assigned to nobody

[2020-02-08 06:11] kokemartinez commented on #10300
we found this error  in the vertion 1.7.6.3 but in the file

in the line 166 i try to fix it but. does not work

someone knows how to fix it?

[2020-02-08 10:33] Cedricdelcroix commented on #17519
Informations sur votre serveur Linux info 3.0 #1337 SMP Tue Jan 01 00:00:00 CEST 2000 all GNU/Linux Linux info 3.0 #1337 SMP Tue Jan 01 00:00:00 CEST 2000 all GNU/Linux Linux info 3.0 #1337 SMP Tue Jan 01 00:00:00 CEST 2000 all GNU/Linux

Version de PHP : 5.6.40

Version de PrestaShop : 1.7.5.0

host: 1and1

no php errors
no apache errors
no javascript errors

[2020-02-08 16:43] khalidzuhd opened #17570 "Bugs - prestashop 1.7.6.3"
Hello
I installed the current script install we add
But the software bugs I found are much greater than the experience itself
Where I found login problems
Adding products in the basket is not completed
The process of changing the properties of the customer's address is not done correctly
Many additions collapse ...

[2020-02-08 17:05] didi-2018 opened #17571 "Token Error Message on site Design -> Template & Logo 1.7.6.3"
Hi,

if I go to **Design -> Template & Logo** I get the following token error message at the end of the site:

![image](https://user-images.githubusercontent.com/44971218/74089060-60a57b00-4a9d-11ea-896c-67f1f24fba36.png)

PS 1.7.6.3
PHP 7.2.1
Server: nginx/1.14.0

[2020-02-08 17:06] khalidzuhd commented on #17571
SSL

[2020-02-08 18:01] didi-2018 commented on #17571
@khalidzuhd  SSL is always on and on all pages

[2020-02-08 18:26] beforcom commented on #14957
Hi, i have the same problem on 1.7.4.2 with an overide on validateOrder function on PaymentModule.php

Have you got an idea please ?

[2020-02-08 19:07] GTriber opened #17572 "Autoupdate fails to update module 1.7.5.1 to 1.7.6.."
Autoupdate fails to update module 1.7.5.1 to 1.7.6

Tried to 1.7.6.0 / 3

It fails at classes/controller/FrontController.php line 353 - Trying to get property 'logged' of non-object

Probably is some module issue but i had disable other non prest modules before update.
I have located FrontController.php line 353 file but lines dont have numbers, so cant find 353 one sadly

PHP version: 7.2.

Any a

[2020-02-08 19:47] gwyneblaidd opened #17573 "ProductAssembler class assigns wrong product attributes in multistore website (from another shop) - have a solution"
Hi guys!

I have faced a problem with some module (not really important which - it utilizes PS function) when a shop in a multistore missed showing prices for some products (multistore website). Quick debug showed it's connected with the wrong product_attribute that belongs to the product from another shop (the same product, but another shop). The product is shared among shops but each shop has it

[2020-02-08 21:21] jajarom opened #17574 "The cart does not load with the active cart rule"
**Describe the bug**
After updating to 1.7.6.3, the cart does not load with the active cart rule active, only if a code is set.
If not completed to apply automatically, the page loading and loading.

Error got :
PHP Fatal error:  Allowed memory size of 385875968 bytes exhausted (tried to allocate 12288 bytes) in /home/dual34/public_html/classes/CartRule.php on line 614

**To Reproduce**
Steps to r

[2020-02-08 21:36] khalidzuhd opened #17575 "remove postcode city crash the adding address"
hello
my trying to edit my site to remove many address fields  and add another ..
when i remove postcode city  i cant add any address do the users
![image](https://user-images.githubusercontent.com/1392266/74092338-f1df1680-4aca-11ea-8671-6d8b21c63cc5.png)

try it buy your self

![image](https://user-images.githubusercontent.com/1392266/74092341-04f1e680-4acb-11ea-915f-efb874f1ea66.png)

[2020-02-09 03:39] kingjc666 commented on #13397
Come on guys, duplicate without images is aviable since 1.4 at least.
Its very annoying for stores with alot of similar products and different images.
Right now i have to duplicate product, delete the old images and add the new ones. Since i want to change only the images and the color to a duplicated product, i dont want to create it from scratch and fill in all the descriptions and metatitles ag

[2020-02-09 11:33] shivakadakol opened #17576 "settings Test your email configuration"
![error](https://user-images.githubusercontent.com/25544349/74101232-a32e8c80-4b5d-11ea-8177-f2b01bc83089.png)

**Describe the bug**
i have configuring email to prestashop application but always i m getting error
Error: Please check your configuration

Connection could not be established with host mail.k5techno.com [Connection refused #111]

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2020-02-09 12:56] LINUX3932 commented on #17570
Same. When I click 'add to cart' the 'cart (1)' widget vanishes - it shows up again if i refresh the page.

[2020-02-09 14:44] matks commented on #17570
Hi there,

Sorry to hear that you are disappointed in PrestaShop. Indeed there are known bugs in PrestaShop, most of them are listed on this github (see https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aopen+is%3Aissue+label%3ABug). We are aware of it and working to fix them.

However developer time is limited, and when the amount of issues opened in a certain timeframe exceeds the amount of

[2020-02-09 20:34] ITProfeska commented on #13674
Hello,

can we reopen this case ? I've got the same issue.

Regards
Slavo

[2020-02-09 20:54] didi-2018 commented on #13255
@Matt75 @khouloudbelguith  I have exactly the same problem with PS 1.7.6.3
![image](https://user-images.githubusercontent.com/44971218/74109757-7478dc00-4b86-11ea-9c86-76beafe0549f.png)

and module **ps_mbo** is again the trouble maker :-(
by disabling this module the issue is gone

[2020-02-09 21:06] Nerque commented on #13531
I have the same problem.
I read that it might be a server problem, but it doesn't make sense.
PHP version 7.2.27
Prestashop 1.7.6.2

[2020-02-09 21:24] didi-2018 commented on #17571
the trouble maker is module **ps_mbo**

the same trouble maker as in my ticket **[#13255](https://github.com/PrestaShop/PrestaShop/issues/13255)**

I can not imagine that nobody else have that troubles with that module!?

[2020-02-10 01:07] BenTen commented on #13397
@kingjc666 For the "Copy of", you can modify \src\Adapter\Product\AdminProductDataUpdater.php

from
`	public function duplicateProduct($productId, $namePattern = 'copy of %s')`
to
`	public function duplicateProduct($productId, $namePattern = '%s')`

It's not clean because you need to modify core file but it works.

source: https://www.prestashop.com/forums/topic/925299-removing-copy-of-from-duplic

[2020-02-10 07:51] khouloudbelguith commented on #17112
Hi @ajejebrazorf01,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-10 07:51] #17112 closed, assigned to nobody

[2020-02-10 07:53] khouloudbelguith commented on #17113
Hi @BudrysLP,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-10 07:53] #17113 closed, assigned to nobody

[2020-02-10 07:54] khouloudbelguith commented on #17258
@ProteanCode, thanks for your feedback.
Feel free to open a new one needed.

Thanks!

[2020-02-10 08:05] khouloudbelguith commented on #17572
Hi @GTriber,

What is the exact version of the 1-click upgrade did you use?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`.

Thanks!

[2020-02-10 08:10] khouloudbelguith commented on #17574
Hi @jajarom,

It is a size problem.
Thanks to check your configuration in the `php.ini` file & try to increase them

[code]

Thanks!

[2020-02-10 08:16] GTriber commented on #17572
Hi @khouloudbelguith

Using version v4.10.1 ( tried with reinstall this module ) No luck.

As for log i only saved "classes/controller/FrontController.php line 353" error. As i need it to recover 1.7.5.1, so website could work in week, so log file is empty :(

No clue what to do as im not technical person. In debug mode i dont have any serious issues ( few translations only ).

If log is need it i

[2020-02-10 08:20] khouloudbelguith commented on #17576
Hi @shivakadakol,

First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to

[2020-02-10 08:55] khouloudbelguith commented on #17575
Hi @khalidzuhd,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15428 to fix the issue.
It is fixed in the PS1.7.7.0.
Your ticket is a duplicate of #9812
So, I close it.
Thanks!

[2020-02-10 08:55] #17575 closed, assigned to nobody

[2020-02-10 08:55] khouloudbelguith commented on #17575
Duplicate of #9812

[2020-02-10 09:03] khouloudbelguith commented on #17572
@GTriber,

We need to retrieve the error log in order to find out what's wrong.
Waiting for your feedback.

Thanks!

[2020-02-10 09:32] matks commented on #17314
The same question is valid for all native modules. When we do release them, do we need to update all license headers ?

[2020-02-10 09:34] #17198 closed, assigned to atomiix

[2020-02-10 09:35] #17205 closed, assigned to atomiix

[2020-02-10 09:49] khouloudbelguith commented on #17571
Hi @didi-2018,

I did not manage to reproduce the issue with PS1.7.6.3 & Nginx 1.14.0.
https://drive.google.com/file/d/1L_1y_agkZUISuoVphS5SGDd7IhU1P66a/view
I used the ps_mbo module v1.1.1.
But it could be similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/15592#issuecomment-534950199

Thanks to check & feedback.

[2020-02-10 09:59] #17194 closed, assigned to nobody

[2020-02-10 10:06] khouloudbelguith commented on #17573
Hi @gwyneblaidd,

Thanks for your report.
I think the issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/9664.
Is it?

Thanks to check & feedback.

[2020-02-10 10:06] Hlavtox commented on #17042
@khouloudbelguith Can you please reopen this and ping someone from the core team?

I am 100% sure it has nothing to do with my employees. I think it's not very clever to pretend the bug is not there. The software should work for EVERYONE.

[2020-02-10 10:09] khouloudbelguith commented on #17573
Could be related to this: https://github.com/PrestaShop/PrestaShop/issues/9686

[2020-02-10 10:13] khouloudbelguith commented on #17042
Hi @Hlavtox,

I re-opened the issue.

I need to reproduce this issue.
Thanks to provide the exact steps to get ghost employees created.

Thanks!

[2020-02-10 10:16] Hlavtox commented on #17042
@khouloudbelguith I don't know, but I have 9 Prestashop 1.7.6.2 installs and it happened on every single one of them.

I am currently searching in modules, if any module does something with employees.

[2020-02-10 10:17] khouloudbelguith commented on #17042
@Hlavtox, thanks!
Waiting for your feedback.

[2020-02-10 10:19] matks commented on #17314
Done in https://github.com/PrestaShop/PrestaShop/pull/17579 for year 2020. Hopefully we'll have an answer soon for the modules 😄

[2020-02-10 10:19] #17314 closed, assigned to matks, sam-pires

[2020-02-10 10:27] marionf commented on #17082
@jolelievre yes, 1.7.8

[2020-02-10 10:34] didi-2018 commented on #17571
@khouloudbelguith thanks for answering. What should I exactly check? I use ps_mbo Version 1.1.1 too

[2020-02-10 10:43] khouloudbelguith commented on #17571
@didi-2018, try to check this fix: https://github.com/PrestaShop/PrestaShop/issues/15592#issuecomment-534950199
Thanks to enable the HTTPS variables in your server, clear cache, check & feedback.

[2020-02-10 11:07] khouloudbelguith commented on #17519
@Cedricdelcroix, I did not manage to reproduce the issue with PS1.7.5.0 & PS1.7.6.3.
https://drive.google.com/file/d/1JdJ3yq64UzJIuz-Mc07wYXyLmxynFQ9X/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

[2020-02-10 11:09] khouloudbelguith commented on #13531
Hi @Nerque,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-02-10 11:14] khouloudbelguith commented on #13255
Hi @didi-2018,

In my case, it is ok with PS1.7.6.3  & ps_mbo module.
https://drive.google.com/file/d/15Tf5JGXJVryteZZY0hMqw28I3D9fNh7o/view

Thanks!

[2020-02-10 11:15] khouloudbelguith commented on #13674
Hi @ITProfeska,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-02-10 11:24] marionf commented on #9845
@khouloudbelguith Could you check if it's fixed with the migrated page with 1.7.7.x and close it if it's fixed ?

[2020-02-10 11:26] didi-2018 commented on #17571
@khouloudbelguith add this: **SetEnvIf X-Forwarded-Proto "https" HTTPS=on** to htaccess in PS main folder? If yes it brings nothing sorry :-(

[2020-02-10 11:29] khouloudbelguith commented on #9845
Hi @marionf,

This issue is blocked by this issue: https://github.com/PrestaShop/PrestaShop/issues/17032.
In the New Addresses page => Required Fields cannot be selected.

Thanks!

[2020-02-10 11:31] khouloudbelguith commented on #17571
@didi-2018, thanks to provide me your PHP info file.
You can follow this link: https://mediatemple.net/community/products/dv/204643880/how-can-i-create-a-phpinfo.php-page

Thanks!

[2020-02-10 11:36] khouloudbelguith commented on #14957
Hi @beforcom,

You need to check this override is provided by which module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-10 11:43] didi-2018 commented on #17571
@khouloudbelguith  can I send you link to my .php file as private message? Maybe it contains sensible datas. But I do not know how to send private message 🙈

[2020-02-10 12:00] gwyneblaidd commented on #17573
hi @khouloudbelguith!

I am not sure its similar to #9664, in my case it's rather taken wrong product shop-dependent data, but it can be linked to this via the wrong cache_attribute that is in that table, so script can take wrong default combination (from another store) and user can get an error cause we can't to have 2 default combinations per store. And every time it could try to set default com

[2020-02-10 12:30] didi-2018 opened #17584 "Error in the console: Failed to load `product_page.css` Or `translations.css` net::ERR_ABORTED 404 (Not Found)"
We must use Nginx to reproduce the issue
**Steps to reproduce the issue:**
1. Go to the BO => Products page => Edit any product
2. See an error in the console
`1?_token=RrNvR8AZ34e…ngn-vjT5ZNpQtAI:171 GET http://127.0.0.1:8081/admin-dev/themes/new-theme/public/product_page.css?1.7.6.3 net::ERR_ABORTED 404 (Not Found)`
![image](https://user-images.githubusercontent.com/16067358/74235768-0b9d7b00-4c

[2020-02-10 12:42] colinegin commented on #17124
ping @matthieu-rolland

[2020-02-10 12:55] khouloudbelguith commented on #17571
@didi-2018,
You can provide me the .php file by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2020-02-10 13:02] khouloudbelguith commented on #17584
Hi @didi-2018,

This is a fresh install PS1.7.6.3?
In the release 1.7.6.3, this file doesn't exist
https://github.com/PrestaShop/PrestaShop/tree/1.7.6.3/admin-dev/themes/new-theme/public
In which page, this error is displayed?
There are some steps to follow to get this error? or just open Back office?

Thanks!

[2020-02-10 13:08] #17403 closed, assigned to nobody

[2020-02-10 13:10] didi-2018 commented on #17584
@khouloudbelguith

**yes** fresh 1.7.6.3 install

on product page in back office

[2020-02-10 13:11] didi-2018 commented on #17571
@khouloudbelguith  Email sent ;-)

[2020-02-10 13:14] Dupflo opened #17585 "ERR_TOO_MANY_REDIRECTS"
I moved my website on a new hosting server. I have access to the BO but unfortunately I am not able to display the front office.

The error : ERR_TOO_MANY_REDIRECTS

SSL is enable
I tried to remove cache from var (dev and prod)
Disabling and enabling simplify links.
Changed missings values http:// to https:// on the database

I did everything I found on Google to fix this but without success

Redi

[2020-02-10 13:20] colinegin commented on #17124
We need to test if this issue also occurs without MBO.

[2020-02-10 13:24] sam-pires commented on #17525
Did some research, Safari 10 global coverage represents 0,02% according to caniuse.

![Capture d’écran 2020-02-10 à 14 22 01](https://user-images.githubusercontent.com/25405887/74153362-c0706300-4c10-11ea-9d9a-c808ff7be9c9.png)

Keep me posted on the source of the bug.

[2020-02-10 13:25] colinegin commented on #17045
We cannot work on this for 1.7.7 as we lack deeper study. This needs to be studied and prioritized for 178.

[2020-02-10 13:33] GTriber commented on #17572
@khouloudbelguith adding log
[log.zip](https://github.com/PrestaShop/PrestaShop/files/4181051/log.zip)

[2020-02-10 13:36] colinegin opened #17586 "Extract catalog for PS 1.7.7"
We need to extract wording catalog for PrestaShop 1.7.7 to unblock a few issues in the blocked column.

[2020-02-10 13:40] khouloudbelguith commented on #17585
Hi @Dupflo,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/mi

[2020-02-10 13:50] khouloudbelguith commented on #17584
@didi-2018, it is ok in my case
https://drive.google.com/file/d/18LfXQHOMAhwaxva3fwY11_vBxU5ZSlQe/view
What is the exact language/country did you use during the install?
Did you download the PrestaShop release from our official link?

Thanks!

[2020-02-10 13:52] khouloudbelguith commented on #17571
@didi-2018, it is ok in your case
![image](https://user-images.githubusercontent.com/16067358/74155440-e566d500-4c14-11ea-8df2-665a27fe52f0.png)
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-02-10 13:53] Dupflo commented on #17585
Host: Linux #1 SMP Wed Aug 14 08:29:59 EDT 2019 x86_64
Php version : 7.2.27
No debug mod report
No php error
No apache error
No javascript error

I don't know how you can reproduce it since it came from a special case ... I migrate from another server. I have access to backoffice

[2020-02-10 13:57] khouloudbelguith commented on #17124
Hi @colinegin,

In the branch 1.7.7.x
It is ok after uninstalling the ps_mbo module.
https://drive.google.com/file/d/1e8zHQGU991eu5s1EDubVXAegyI6xWKaG/view

Thanks!

[2020-02-10 13:57] colinegin commented on #16650
Waiting for this final issue to be merged before starting making full tests for 1.7.7 release.
cc @SimonGrn @Robin-Fischer-PS @sarahdib

[2020-02-10 13:59] khouloudbelguith commented on #17585
@Dupflo,

Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2020-02-10 14:01] didi-2018 commented on #17584
@khouloudbelguith  installed "Deutsch" (german) during install. Yes dowload from official Presta site

[2020-02-10 14:19] jolelievre commented on #15934
It's done, but it needs to be rebased I'm on it

[2020-02-10 14:24] Dupflo commented on #17585
I did but not work

[2020-02-10 14:27] khouloudbelguith commented on #17584
@didi-2018, it is ok in my case with a fresh install using Nginx
I just have an error similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/17038 (related to the gamification module).
Did you install any custom module or custom theme?

Thanks!

[2020-02-10 14:30] khouloudbelguith commented on #17585
@Dupflo,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this w

[2020-02-10 14:30] didi-2018 commented on #17571
@khouloudbelguith  I sent you error log in email ;-)

[2020-02-10 14:37] khouloudbelguith commented on #17571
@didi-2018, I just sent you an email.
Thanks!

[2020-02-10 14:39] khouloudbelguith commented on #17572
@GTriber, The upgrade is stopped when upgrading your modules.
Did you disable non-native modules before the upgrade?

Thanks!

[2020-02-10 14:40] GTriber commented on #17572
@khouloudbelguith  Yes i did.

[2020-02-10 14:45] khouloudbelguith commented on #17573
@gwyneblaidd, so can you confirm steps to reproduce the issue:
1. Enable Multistore context
2. Create a second shop
3. Create a product P1 in all shops
4. Create some combinations for P1 in the first shop
5. Create other combinations for P1 in the second shop

The problem occurs in this case because in ProductAssemblerCore::addMissingProductFields() function is not adapted for getting product attr

[2020-02-10 14:46] khouloudbelguith commented on #17572
@GTriber, did you used which option?
- In the autoupgrade configuration page?
- On the Performance page?

Thanks!

[2020-02-10 14:48] GTriber commented on #17572
@khouloudbelguith

I used 1-click upgrade

[2020-02-10 14:55] khouloudbelguith commented on #17572
@GTriber, thanks to provide me the list of modules installed in your case
![image](https://user-images.githubusercontent.com/16067358/74160475-c1f45800-4c1d-11ea-8937-845decde722f.png)

Thanks!

[2020-02-10 15:05] Maofree opened #17587 "statsorigin module doesn't show data"
Hi
I've seen that the statsorigin module on 8 websites works only on one website, the others it is not present any data in the order pages (below there is an image of the website where it works well)
on prestashop 1.6.x it worked well always, now just in one site

can you check on some sites that you can get the accesses?
thanks

**Screenshots**
![1](https://user-images.githubusercontent.com/65323

[2020-02-10 15:16] didi-2018 commented on #17571
@khouloudbelguith my host provider needs more information, please.

[2020-02-10 15:17] didi-2018 commented on #17585
@Dupflo  have you enabled SSL? This happens at my PS if SSL in PrestaShop is disabled. Please check it.

[2020-02-10 15:19] khouloudbelguith commented on #17585
@didi-2018, similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/10482?

Thanks!

[2020-02-10 15:22] didi-2018 commented on #17585
@khouloudbelguith YES exactly like this ticket #10482 !

[2020-02-10 15:23] didi-2018 commented on #17584
@khouloudbelguith NO just installed fresh PS 1.7.6.3 and product_page.css is missing. I have send you an email with login details for my fresh install, there you can check please :)

[2020-02-10 15:24] khouloudbelguith commented on #17585
@Dupflo, any news?

Thanks!

[2020-02-10 15:32] Dupflo commented on #17585
SSL is enable

[2020-02-10 15:32] Dupflo commented on #17585
@khouloudbelguith

<img width="1244" alt="Capture d’écran 2020-02-10 à 16 31 57" src="https://user-images.githubusercontent.com/39828779/74163648-f61e4780-4c22-11ea-92a3-ff11d40a0f65.png">

[2020-02-10 15:35] khouloudbelguith commented on #17585
@Dupflo, could you please try to disable SSL mode, check & feedback.

Thanks!

[2020-02-10 15:37] GFcreative opened #17588 "Adding customer's email address to Shipping Slips or Invoices"
In any Prestashop site when you go under existing orders and click into one - to the right side of the screen you'll see the customer's email address. But if you print a delivery slip or view the invoice the email is not there. Is there a way to get Prestashop to include this info? Any help is appreciated.

[2020-02-10 15:42] didi-2018 commented on #17585
and SSL "on all pages" too?

![image](https://user-images.githubusercontent.com/44971218/74164589-46e27000-4c24-11ea-9047-a6b3fb1a4311.png)

[2020-02-10 15:44] Dupflo commented on #17585
Yes !

[2020-02-10 15:44] Dupflo commented on #17585
Same ...

[2020-02-10 15:45] didi-2018 commented on #17585
@Dupflo Browser Cache and Cookies deleted?

[2020-02-10 15:47] Dupflo commented on #17585
Yes..

[2020-02-10 15:47] Dupflo commented on #17585
Check here https://maillotsdemarseille.com

[2020-02-10 15:48] marionf commented on #17212
@colinegin the issue is in FO, so not related to the migration of BO product page

[2020-02-10 15:49] TristanLDD commented on #17177
New corrections to do :

- [ ] Use #36A41 color on "Read more" button in alerts

- [ ] Change markup on toolboxes to display the new design

- [ ] Add the new design on all alertboxes + add the appearance effect

[2020-02-10 15:50] khouloudbelguith commented on #17585
@Dupflo, in this link https://maillotsdemarseille.com
SSL is still enabled.
You are using https & not http.

Thanks!

[2020-02-10 15:51] Dupflo commented on #17585
Ok I disabled for you again, please check

[2020-02-10 15:53] khouloudbelguith commented on #17585
@Dupflo, in your BO => Shop Parameters => Traffic & seo page => "Set shop URL", your shop domain is updated.

Thanks!

[2020-02-10 15:58] marionf commented on #9809
Hello @Janoush
Your request is different from this issue, you are talking about product's customization while this issue is about back-office product page performance
Could you please create a new issue ?

[2020-02-10 16:00] khouloudbelguith commented on #17571
@didi-2018, I did not manage to reproduce the issue in your shop.
It is OK, there is no token error.
I sent you a screen record by email.

Thanks!

[2020-02-10 16:00] tameroski commented on #14957
I've got the exact same issue as @yannicka on a 1.7.5.1
No override on PaymentModule.php
Occurs only when checking "Free shipping" on an order placed via the backoffice.

[2020-02-10 16:03] khouloudbelguith commented on #17588
Hi @GFcreative,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2020-02-10 16:03] #17588 closed, assigned to nobody

[2020-02-10 16:04] marionf commented on #15430
Duplicate of #14003

[2020-02-10 16:05] didi-2018 commented on #17571
@khouloudbelguith  yes the token problem is gone. And have you checked this [#17584](https://github.com/PrestaShop/PrestaShop/issues/17584) during your login? This is still there.

[2020-02-10 16:08] khouloudbelguith commented on #17571
@didi-2018, so can we close this issue?

Thanks!

[2020-02-10 16:11] didi-2018 commented on #17571
@khouloudbelguith  I like to check if it is related to one of the other Presta Modules. Please keep it open till tomorrow. Is it okay?

[2020-02-10 16:12] khouloudbelguith commented on #17584
@didi-2018, I have the same issue with PS1.7.6.0 & PS1.7.6.2 & PS1.7.6.3 using Nginx.
But this issue is fixed in the next release 1.7.7.0
I attached a screen record
https://drive.google.com/file/d/17cqH7c9vPXxmFHEDMFGleAnsYzqTtJSa/view

Thanks to check & feedback.

[2020-02-10 16:13] khouloudbelguith commented on #17571
@didi-2018, okay!
Waiting for your feedback.

[2020-02-10 16:18] Dupflo commented on #17585
<img width="1560" alt="Capture d’écran 2020-02-10 à 17 18 05" src="https://user-images.githubusercontent.com/39828779/74167954-52846580-4c29-11ea-8d55-b9d25db9e856.png">
@khouloudbelguith  Yes

[2020-02-10 16:19] khouloudbelguith commented on #17585
@Dupflo, after disabling the SSL try to regenerate the file .htaccess again

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2020-02-10 16:23] khouloudbelguith commented on #17587
Hi @maofree,

Thanks for your report.
Sorry but we don't need the access, we must first try to reproduce your issue.

The screenshot provided is from the BO => stats page?

Thanks!

[2020-02-10 16:24] colinegin commented on #17212
Sorry i misread the issue :)
I put it in the 178 kanban then !
Thanks

[2020-02-10 16:24] marionf opened #17590 "Empty option in template compilation's select of performances page"
**Describe the bug**
The first option of the template compilation's dropdown in performance page is empty

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced parameters > Performances
2. Click on 'Template compilation' dropdown

**Screenshots**
![capture d'écran_2296](https://user-images.githubusercontent.com/13449658/74168547-38975280-4c2a-11ea-864a-f63dfd080b65.png)

**Additiona

[2020-02-10 16:25] Dupflo commented on #17585
Done but not working

[2020-02-10 16:29] maofree commented on #17587
hi
the above image is from an order page, instead below it is from the statistic page
![2](https://user-images.githubusercontent.com/653230/74168832-9f1c7080-4c2a-11ea-9757-7aa584e7ec78.png)

instead from the other website there are no data
![3](https://user-images.githubusercontent.com/653230/74168972-d68b1d00-4c2a-11ea-9c69-b22103c17825.png)

[2020-02-10 16:30] khouloudbelguith commented on #17585
@Dupflo, in your database => table ps_configuration, thanks to check the value of `PS_SSL_ENABLED` & `PS_SSL_ENABLED_EVERYWHERE`
![image](https://user-images.githubusercontent.com/16067358/74169078-020e0780-4c2b-11ea-8782-14963fffa02f.png)

Thanks!

[2020-02-10 16:36] khouloudbelguith commented on #17587
@maofree, in my case, I did not manage to reproduce the issue with PS1.7.6.3 & PS1.7.6.2 and the `statsorigin` module 2.0.2.
![image](https://user-images.githubusercontent.com/16067358/74169559-c9baf900-4c2b-11ea-83fc-cde9ca9ddb89.png)
![image](https://user-images.githubusercontent.com/16067358/74169567-ccb5e980-4c2b-11ea-9a6e-03d93e7af3b6.png)
We need to retrieve the PHP error log and the debug m

[2020-02-10 16:43] didi-2018 commented on #17571
@khouloudbelguith  I found the trouble maker, it is a NON-Prestashop Module. You can close it. Sorry 🙈

[2020-02-10 16:45] khouloudbelguith commented on #17571
@didi-2018, thanks!
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-10 16:45] #17571 closed, assigned to nobody

[2020-02-10 16:51] Dupflo commented on #17585
Value cas NULL, I put 0 then

[2020-02-10 16:56] khouloudbelguith commented on #17585
@Dupflo,

I moved my Project to a new domain without errors.
1. I made a backup for my files & my database
2. I uploaded my store's files to your new server
3. I imported the old store's database to the new server
4. In file /app/config/parameters.php, I configured my PrestaShop site.
4.1. DB_SERVER: database's server;
4.2. DB_NAME: Name of the database from step 5;
4.3. DB_USER: User associated w

[2020-02-10 17:00] Dupflo commented on #17585
I did same than you

[2020-02-10 17:00] MatShir commented on #17557
The doc will be updated, no need for wording after all

[2020-02-10 17:01] #17557 closed, assigned to LouiseBonnard, MatShir

[2020-02-10 17:04] GTriber opened #17591 "Product comments v10.0.0 - from PrestaShop"
**Describe the bug**
I have updated Prestashop 1.7.5.1 to 1.7.6.3. Installed Product comments v10.0.0 - from PrestaShop
But they are not there, not on product page.
I went to configuration, set everything On. Cleaned cache, same thing.

**Additional information**
PrestaShop version: 1.7.6.3
PHP version: 7.3

[2020-02-10 17:04] ravloony opened #17592 "Tax rules not being applied"
**Describe the bug**

In my site, certain tax rules are not being applied.

The site is in Austria, and I have a setup where
- DE customers have 2 different tax rules: Standard DE 19% and Foodstuff DE 7%
- FR customers have 2 different tax rules: Standard FR 20% and Foodstuff FR 5.5%
- AT customers have 2 different tax rules: Standard AT 20% and Foodstuff AT 10%
- All other customers from the EU a

[2020-02-10 17:34] Dupflo commented on #17585
I have access to my admin panel ...

[2020-02-10 17:42] MatShir commented on #17085
I recommended disabling the input and putting it as uneditable, I find it better rather hide the fields.
Like in the screenshot below:

![image](https://user-images.githubusercontent.com/43613217/74174449-43ef7b80-4c34-11ea-9362-20258920a0f1.png)

@tdavidsonas88 Do you think you will be able to do it easily? So if I deleted a cart with free shipping in a new order, it will enable the toggle and vi

[2020-02-10 17:44] didi-2018 commented on #17591
@GTriber have you checked the hooks of module? The module should be hooked in the following hooks:

![image](https://user-images.githubusercontent.com/44971218/74175073-646c0580-4c35-11ea-9d82-d19a069a614f.png)

If not, hook it there.

[2020-02-10 17:46] didi-2018 commented on #17584
@khouloudbelguith  I can check if 1.7.7 is avaible ;-)

[2020-02-10 18:22] gwyneblaidd commented on #17573
@khouloudbelguith, I don't have some specific steps on how you can reproduce this problem. This problem I detected under developing some custom module (I am a developer) and faced the problem when ProductAssembler returns data for some product from another shop, so I was debugging why it happens. If you revise code I sent you will see that ProductAssembler gets lang product data and stock per shop

[2020-02-10 21:16] ITProfeska opened #17593 "Errors to upgrade from 1.7.6.2 to 1.7.6.3"
Hi

today I've tried to upgrade from 1.7.6.2 to 1.7.6.3

using the 1-click upgrade module the updating is stopped when it tries to upgrade the database

"Error during database upgrade. You may need to restore your database.
Error updating translations"

site are multi-languages

[2020-02-10 22:14] AxisNL opened #17594 "1.7.6.3 admin dropdowns not working (clean install)"
I just installed prestashop for the first time, and I must say I am impressed! However, in the admin section, all dropdowns are broken. Everywhere I look (for example shop parameters > general, the dropdown lists for 'round mode' for example, does not allow me to select anything.

I've tried chrome/firefox/safari on mac, and chrome on windows, same behaviour everywhere. This kind of makes the cont

[2020-02-10 22:31] johanmeer opened #17595 "No bankwire payment method possible on 1 shop, other shops work fine (multistore)"
Hi, since a while we facing a issue on one of one of 6 shops. On one the bankwire paymentmethod is not working anymore. On the other sites it is working fine.

Debug is showing this:
![Schermafbeelding 2020-02-10 om 23 23 40](https://user-images.githubusercontent.com/47300140/74196206-09e69f80-4c5d-11ea-89ed-fe58fada526e.png)

Already tried to switch theme, that is not working. Also reset the bank

[2020-02-10 23:05] AxisNL commented on #17594
Hmm.. I downgraded to php 7.2.27, and now everything seems to work find.

[2020-02-11 08:02] khouloudbelguith commented on #17068
Hi @LSClaire,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-11 08:02] #17068 closed, assigned to sarahdib

[2020-02-11 08:06] khouloudbelguith commented on #17591
Hi @GTriber,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade yo

[2020-02-11 08:14] khouloudbelguith commented on #17593
Hi @ITProfeska,

What is the exact version of the 1-click upgrade did you use?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2020-02-11 08:16] khouloudbelguith commented on #17594
Hi @AxisNL,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
That's why you need to do

[2020-02-11 08:16] #17594 closed, assigned to nobody

[2020-02-11 08:16] PierreRambaud commented on #17469
About naming, if we have VueJs components, we should use the Vue naming conventions  (eg: `CustomerForm.vue`, `Router.vue`) and otherwise `customer-finder.js`.
All components should be outside `pages` because a components must be reusable, or will be reusable (that the principe of a component).

[2020-02-11 08:35] khouloudbelguith commented on #17595
Hi @johanmeer,

Could you please try to re-install the ps_wirepayment module with removing the folder  `modules/ps_wirepayment`, clear cache, check & feedback.
Also, you have an error with the `supercheckout` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to hel

[2020-02-11 09:25] khouloudbelguith commented on #17592
Hi @ravloony,

In the BO => International => Localization => Default country is `Austria`?
![image](https://user-images.githubusercontent.com/16067358/74222835-9d4bbf00-4cb5-11ea-9370-853a4acb678e.png)

In the BO => Products detail page => Prices Tab => the Tax selected is for DE customers or for `FR customers`, is it?
=> if your country by default is `Austria`, this is a normal behavior => becaus

[2020-02-11 10:10] AxisNL commented on #17594
Thank you! The strange thing is that all check pages are green, and everything looks fine. I would expect the admin page to at least warn me somehow that I am running on an unsupported PHP version ;)

[2020-02-11 10:11] khouloudbelguith commented on #17584
@didi-2018, 1.7.7.0 is not available yet.
But you can download the latest build 1.7.7.x from [Nightly builds](https://storage.googleapis.com/prestashop-core-nightly/2020-02-11-1.7.7.x-prestashop_1.7.7.0.zip) where test reports are available here: https://nightly.prestashop.com/

Thanks!

[2020-02-11 10:14] MatShir commented on #16226
@matks I just find out this issue.
It is fixed or going to be fixed during the migration?

[2020-02-11 10:17] khouloudbelguith commented on #17585
@Dupflo,

https://github.com/PrestaShop/PrestaShop/issues/17585#issuecomment-584219622
In your database => table ps_configuration, thanks to change the value of `PS_SSL_ENABLED` to `1` and `PS_SSL_ENABLED_EVERYWHERE` to `1`.

Now try to Rename the old file to .htaccess_old & Disable friendly URL &Enable friendly URL, clear cache from your shop & your browser & check.

Thanks!

[2020-02-11 10:32] LouiseBonnard commented on #10848
Hi @khouloudbelguith and @NadiaCamard, since it is related to all modules and already raised by PR #10846, I close this issue. Feel free to re-open it if need be!

[2020-02-11 10:32] #10848 closed, assigned to nobody

[2020-02-11 10:37] LouiseBonnard commented on #10846
@colinegin and @marionf, any news about it? Can we manage this bug globally?

[2020-02-11 10:39] Hlavtox opened #17596 "Voucher not rounded correctly, if added from order admin"
**Conditions**
Currency - Czech Koruna, Kč, precision 0. (Precision need to be set in the database).
Decimal places in PS settings - 0.

**Bug description**
Order something through FO, apply a 15% discount voucher. Everything is rounded to whole numbers.

Order something through FO, do not apply anything. Order will be rounded to whole numbers.
Go to backoffice, edit the order, add the 15% discoun

[2020-02-11 10:41] LouiseBonnard commented on #16428
Hi @lichesser, thanks for raising this issue! Do you already know the error message you would like to read here? We could think about something better, indeed. :-)

[2020-02-11 10:54] tdavidsonas88 commented on #17085
@MatShir Plan to submit solution PR today

[2020-02-11 10:56] khouloudbelguith commented on #17573
@gwyneblaidd, At the step5 => we have an exception as reported here: https://github.com/PrestaShop/PrestaShop/issues/9664
I added this code
[code]
after this line: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.3/controllers/front/ProductController.php#L315

In the FO, in the product details page, I have this exception
![image](https://user-images.githubusercontent.com/16067358/74230854-87de9

[2020-02-11 10:58] marionf opened #17597 "Remove search fields when listing are empty"
**Describe the bug**
Remove search fields, search button, labels and bulk checkbox when listing are empty

Already migrated pages:
- [x] Catalog > categories
- [x] Catalog > monitoring
- [x] Catalog > brands
- [x] Catalog > suppliers
- [x] Catalog > files
- [x] Customers > customers
- [x] Customers > addresses
- [x] Customer service > order messages
- [x] Design > pages (categories & pages)
- [x]

[2020-02-11 11:02] marionf commented on #17597
@matks can we do it at once or does it require going through all the pages ?

[2020-02-11 11:06] MatShir opened #17598 "[EPIC] Order Pages, a new start"
After the redesign of the Order Page with the implementation of new features, we receive feedback and idea to improve it in future versions.

This epic will centralize the feedback from bug to improvement.

## Specified features
- [ ] #17225
- [x] #14754
- [x] #17903
- [x] #14752

**tax subject**
- [ ] #20821
- [ ] #15954
- [ ] #20817
- [x] #18307
- [x] #16129
- [x] #20977
- [ ] #20178

**About th

[2020-02-11 11:07] khouloudbelguith commented on #17596
Hi @Hlavtox,

Thanks for your report.
The first part of feature #[10052](https://github.com/PrestaShop/PrestaShop/issues/10052) is almost done which the implementation of the CLDR (the data needed to manage a maximum of currencies), Check the PR #10455

It's planned to remove the number of the decimal parameter in Shop parameters > General, as you can see here: #12223
And it's also planned to add

[2020-02-11 11:14] didi-2018 commented on #17584
@khouloudbelguith okay, thank you!

I have the same issue with same path but /translation.css under international -> translation

[2020-02-11 11:21] Webgaict opened #17599 "Error http 500 on page module"
Good morning when I try to enter the modules page it gives me 500 server error and if I activate the debug mode it gives me this error (attached)
How can I proceed?

Thanks for help.
![error](https://user-images.githubusercontent.com/56969939/74232391-f8d37800-4cc8-11ea-9fd9-185b253dbb4c.png)

[2020-02-11 11:27] tameroski commented on #14957
Just an important update : this is also happening in the shop if a Free shipping voucher is used by a customer.
The customer goes through the payment process, but the order is not placed ! I just got a customer that was billed, and there's no corresponding order in the backoffice.
Here's the error in the logs :

[code]

[2020-02-11 11:28] LouiseBonnard opened #17600 "Add Kurdish as a new supported language"
**Is your feature request related to a problem?**
It is not a bug, but a default parameter to update.

**Describe the solution you'd like**
For the 1.7.8 version, following recent activity on Crowdin, it would be nice to add Kurdish (`ku-IQ`) as a new supported language in PrestaShop.

**Why?**
Some languages are available in Crowdin for translation but not available in PrestaShop because of a low

[2020-02-11 11:32] khouloudbelguith commented on #17599
Hi @Webgaict,

You have an issue with the `blockcontact` module.
If you are using this one: https://github.com/PrestaShop/blockcontact, this module is compatible with PS1.6 and it has been remade for PrestaShop 1.7: https://github.com/PrestaShop/ps_contactinfo

Thanks to check & feedback.

[2020-02-11 11:36] Webgaict commented on #17599
Hi,
I use version 1.7.5.1 so do I have to upload those files to the ps_contactinfo folder?

[2020-02-11 11:36] gwyneblaidd commented on #17573
@khouloudbelguith

instead of this - PRODUCT_ID_HERE_OF_THAT_CREATED_PRODUCT in the code put the real product id, you have created in the prev steps.
 it should be smth like:

`$assembler->assembleProduct(array('id_product' => 123)),`

if the product you have created has id 123.

About exception it could be, I didn't have an exception as I created product attributes with a script, directly putting

[2020-02-11 11:50] khouloudbelguith commented on #17599
@Webgaict, you need just to remove the folder `modules/blockcontact`.
Now, you can access to the BO => Module Catalog page => search for the `ps_contactinfo` & install it if not installed.

Thanks!

[2020-02-11 12:04] khouloudbelguith commented on #17584
@didi-2018, thanks for your feedback.
I manage to reproduce the issue with 1.7.7.x branch & PS1.7.6.3 & PS1.7.6.0 & PS1.7.6.1 & PS1.7.6.2.
https://drive.google.com/file/d/1pRR3H5gbtfdbgSWTLi7oAOhbcUYogxXt/view
![image](https://user-images.githubusercontent.com/16067358/74235306-fb38d080-4cce-11ea-8e99-85312bf7bda3.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fix

[2020-02-11 12:10] Hlavtox commented on #17596
@khouloudbelguith Thank you, but I went through the PR's and there is nothing changed in the code.

The new Symfony order admin is also using the same, bad, code: https://github.com/PrestaShop/PrestaShop/blob/7633be8294d90148d2bdfe3fd1c2d403e72ec91b/src/Adapter/Order/CommandHandler/AddCartRuleToOrderHandler.php

I have searched PS's code for other usage of ps_round function, and you either use `_P

[2020-02-11 12:24] khouloudbelguith commented on #17596
@Hlavtox, in the next major release, the Order page is migrated to Symfony.
https://github.com/PrestaShop/PrestaShop/projects/3
We are still working on it.

Thanks!

[2020-02-11 12:26] Oanaalexandramihai opened #17601 "500 Internal Server Error"
Hello,

I have presta 1.7.5.1, and when I try to move a module I receive the error 500 and log me out from my shop. Can anybody help me? Thank you!

![Screenshot 2020-02-08 at 17 18 13](https://user-images.githubusercontent.com/60925508/74236552-1f4ddf00-4cda-11ea-91fe-5e25b19da2de.png)
![Screenshot 2020-02-08 at 17 16 47](https://user-images.githubusercontent.com/60925508/74236567-2bd23780-4cda-1

[2020-02-11 12:38] tdavidsonas88 commented on #17085
@matks In the middle of implementing the disable solution found out it is not that simple and many .js files need to be changed. Not even started to implement vice versa solution for not to allow the voucher with free shipping added if free shipping is already enabled. Now it seems to me that throwing exception from the backend could be easier - just would need some creative ideas how to handle ex

[2020-02-11 13:14] khouloudbelguith commented on #17601
Hi @Oanaalexandramihai,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howto

[2020-02-11 13:22] astartav opened #17602 ""An error occurred while processing your request" on product page on quantity or combination change"
**Describe the bug**
Changing combinations or quantity on product pages results in "An error occured while processing your request".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to product page on frontend (for example, https://udevices.shop/en/uecg/26-121-uecg.html)
2. Click on combination (for example, color) or change quantity
3. See red error "An error occured while processing your

[2020-02-11 13:31] khouloudbelguith commented on #17602
Hi @astartav,

If you are using Nginx make sure you enable the `mod_rewrite`.
This issue occurs when `mod_rewrite` is not enabled on your server.

The main issue if you try to enable the "Friendly URL", it is enabled but you have a message "`URL rewriting (mod_rewrite) is not active on your server, or it is not possible to check your server configuration. If you want to use Friendly URLs, you must

[2020-02-11 13:31] #17602 closed, assigned to nobody

[2020-02-11 13:31] khouloudbelguith commented on #17602
Duplicate of #10178

[2020-02-11 13:35] Flower7C3 opened #17603 "Cart rule restrictions wrongly saved when 40+ cart rules"
**Describe the bug**
Unable to save selected cart rule restrictions.

**To Reproduce**
Steps to reproduce the behavior:
**PS**: You should have more than 40 cart rules to reproduce the issue

1. Go to BO, Catalogue, Cart Rules
2. Add new rule
3. Check restrictions and move 1 restriction to left
4. Save
5. Edit this rule
6. Multiple restrictions on left

**Screenshots**
Remove 1 restriction
<img wi

[2020-02-11 13:47] matks commented on #17597
@marionf It can be done in a single step when modifying the global system.

By the way, there was an attempt to do this task in https://github.com/PrestaShop/PrestaShop/pull/17456 however I had to revert it in https://github.com/PrestaShop/PrestaShop/pull/17547 because it broke e2e tests 😄 .

The issue was that there are 2 ways to have an empty listing:
- no data in this page (ex: credit slips pag

[2020-02-11 13:48] khouloudbelguith commented on #17603
Hi @Flower7C3,

I did not manage to reproduce the issue with PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/1G8zmvyy0hsvrpbROSCf20PcdMmyim0Ne/view
Thanks to check & feedback.

[2020-02-11 14:03] Flower7C3 commented on #17603
I am using PS 1.7.6.2. During the weekend I am planning to update to 1.7.6.3 so maybe the problem will disappear or it is caused by some module.

I will back later with info.

[2020-02-11 14:05] grzegorzgit opened #17604 "During combinations import text with === breaks the import"
**Describe the bug**
When importing CSV (.ods or .xls also) with combinations, if the in the column "Value (Value:Position)*" any cell contains === then the import breaks, showing false message that "Attribute -> name" is wrong (as in picture below). Also it doesn't stop at any specific position, just breaks randomly (not at the row that includes ===).

I had problem cause one of my cells had a co

[2020-02-11 14:13] marionf commented on #17597
Ah yes, nice catch !

Good news if it can be done in a signle step, I add it for the 1.7.8

[2020-02-11 14:18] khouloudbelguith commented on #17603
@Flower7C3, thanks!
Waiting for your feedback.

[2020-02-11 14:30] jolelievre commented on #15820
Closed by https://github.com/PrestaShop/PrestaShop/pull/17211

[2020-02-11 14:30] #15820 closed, assigned to matthieu-rolland, jolelievre

[2020-02-11 14:31] Robin-Fischer-PS commented on #16650
@MatShir Could you add in the spec that "The functionality is only available when merchandise return is activated" ? Thanks !

[2020-02-11 14:39] lichesser commented on #16428
Hi @LouiseBonnard,

I have no specific error message in mind.

Maybe something along the lines of

`File upload failed. Maybe the file is too large. Try checking the configuration for post_max_size and upload_max_filesize`

As I'm unfamiliar with the code base and how this plays together with the symfony validation code it's unclear to me if this case can even be "nicely" handled with the current

[2020-02-11 14:45] jf-viguier opened #17606 "displayBanner hook is missing"
**Describe the bug**
displayBanner hook is missing in database and in hook.xml

**Additional information**
PrestaShop version: 1.7.*
PHP version: 7.2

[2020-02-11 15:34] khouloudbelguith commented on #17606
Hi @jf-viguier,

Thanks for your report.
I have the same issue with PS1.7.6.3 & PS1.7.5.2
![image](https://user-images.githubusercontent.com/16067358/74251343-4a412e80-4cec-11ea-9574-9f67876d13ae.png)
With PS1.6.1.24, it is not missing
![image](https://user-images.githubusercontent.com/16067358/74251401-5f1dc200-4cec-11ea-9b72-007efac5a932.png)

I’ll add this to the debug roadmap.

Thanks!

[2020-02-11 15:38] jf-viguier commented on #17606
Thanks @khouloudbelguith can you paste here the hook part in hooks.xml of PS1.6.1.24 ?

[2020-02-11 15:40] khouloudbelguith commented on #17606
@jf-viguier,

https://github.com/PrestaShop/PrestaShop/blob/1.6.1.24/install-dev/data/xml/hook.xml

Thanks!

[2020-02-11 15:41] GTriber commented on #17572
I have manage to solve it.
 I manually disable all modules ( non prestashop ones ).  Error still was but updating went till the end.

Module that appears was cause the issue is called google-merchant-center ( wasnt up to date i think ).
Thank you for help.

Have a great week.

[2020-02-11 15:41] LouiseBonnard commented on #16428
In your opinion, could the following error message apply here?

 _Your uploaded file might exceeds the upload_max_filesize and the post_max_size directives in php.ini, please check your server configuration._ in _Admin.Notifications.Error_

@PrestaShop/prestashop-core-developers, any information to share about it?

[2020-02-11 15:43] Progi1984 commented on #16847
I reopen it because I cherry pick the PR for 1.7.8.

[2020-02-11 15:43] jf-viguier commented on #17606
The hook is not there, I guess it's a module that have created the hook in database with registerHook

[2020-02-11 15:43] GTriber commented on #17591
@didi-2018 @khouloudbelguith

Hook and changing PHP did the job!!!

I had other outdated module hooked in that place. Wish i have both but sadly i cant.

Thank you so much :)

[2020-02-11 15:49] khouloudbelguith commented on #17604
Hi @grzegorzgit,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/74252810-76f64580-4cee-11ea-8527-85a6d4493b2a.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-02-11 15:51] khouloudbelguith commented on #17591
@GTriber, thanks for your feedback.
Since it is fixed, I will close the issue.

Thanks!

[2020-02-11 15:51] #17591 closed, assigned to nobody

[2020-02-11 15:53] PierreRambaud commented on #17606
As I said in your pull reuqest, the hook should be created by the module and not the Core :thinking:

[2020-02-11 15:55] khouloudbelguith commented on #17606
@jf-viguier, it is the Banner block module.
![image](https://user-images.githubusercontent.com/16067358/74253259-26cbb300-4cef-11ea-8dcf-d43118dd72ae.png)

@PierreRambaud said, if we install a module that create the `displayBanner` hook, it will be displayed.

Thanks!

[2020-02-11 15:55] jf-viguier commented on #17606
@PierreRambaud I don't understand, the hook is launched in header.tpl in the core classic theme. We have modules that uses that hook : it has to be in the database and hooks.xml.

[2020-02-11 15:56] khouloudbelguith commented on #17572
@GTriber,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the moduke author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-11 15:56] #17572 closed, assigned to nobody

[2020-02-11 16:06] khouloudbelguith commented on #17573
@gwyneblaidd, after adding this code, I have a new exception in the FO
![image](https://user-images.githubusercontent.com/16067358/74254385-adcd5b00-4cf0-11ea-9571-51f4a3250857.png)

Thanks to check & feedback.

[2020-02-11 16:43] tdavidsonas88 commented on #17085
Looks like was able to finish one part of the solution today: for disabling the toggle. However would like to do more testing tomorrow and also finish the part with not allowing to add "Free Shipping" if there is cart rule with the free shipping already.

[2020-02-11 16:44] matks commented on #17085
I'm actually worried it took 1 day, in my mind it's not supposed to be too hard 😅 . Can you push a draft PR with your code so we can check it ?

[2020-02-11 16:47] matks commented on #16226
@MatShir once Order page is finished, it should be quite easy to apply the fix as it's a small change. We just need to locate all date display fields.

[2020-02-11 17:02] ravloony commented on #17592
That is strange to me. I would expect selecting a different tax rule to apply it to the price in the BO. And I just checked on demo.prestashop.com and that is the behaviour I observe. Every tax rule when selected is applied to the price accordingly.

To your question, the tax rule selected by default in the pricing tab in the back end is `AT Standard rate (20%)`. But the user with the cart has an

[2020-02-11 17:07] LouiseBonnard commented on #16627
Having another text block right in a category page, right under the list of products, to display a longer description of the category seems to be a common practice, actually. And it sure is useful for SEO purposes. What do you think, @prestascott and @TristanLDD?

[2020-02-11 18:00] Noido commented on #15499
@dsukeeper same error do you have a solution ?

[2020-02-11 18:37] go-sudo opened #17609 "Backend notification delay"
Hello

I did upgrade my PS to 1.7.6.3 i was facing an error with mysql connection when the upgrade has finished.

so I changed the password and replace it on setting file and it works now

I noticed that orders and new customers notification are coming in delay

Even when I check the orders menu and reply to my customers the notification come after that.

Version de PrestaShop : 1.7.6.3
Version de

[2020-02-11 20:39] ravloony commented on #17592
I found (or rather understood) the problem. As I supposed there was a problem with our shop data: there should only be 2 tax rule groups (in our case) - standard and food stuff, and the actual taxes are attached to them.
I attached the FR and DE taxes via the `ps_tax_rule` table and now it works again.
As to why this happened now, without (afaik) us changing the tax rules - some mysteries are not

[2020-02-11 20:39] #17592 closed, assigned to nobody

[2020-02-11 21:55] gwyneblaidd commented on #17573
@khouloudbelguith
what you are passing into  $order_products, it should contain product id. And from your exception message, it's empty or null.

[2020-02-11 21:56] ITProfeska commented on #17593
[log.txt.zip](https://github.com/PrestaShop/PrestaShop/files/4188647/log.txt.zip)

[2020-02-12 04:25] Seb33300 opened #17610 "Update translations not working"
I installed Prestashop with french translations but my customers are receiving emails in english.
When I check in `International > Translations > Edit translations` I can see that french translations for emails are not fully translated in french.

So I did  `International > Translations > Add / Update a language > Update french`.
But translations are still partially in english.

PrestaShop version

[2020-02-12 07:53] matteolavaggi commented on #17468
I've make a simple test in php.
Redirect and cookie are right handled by the server. Problem is in prestashop

https://www.sixrace.it/test.php

Here you can check an external domain redirect, and cookies still here. Also session.

[2020-02-12 08:04] krasnycz commented on #17320
Well I installed clean 1.7.6.3 and compared db scheme with my production. It is same.

When I try access Currency or Languages in the BO it simply trying to use non-exist column "id_log" from ps_currency or ps_lang tables.

[2020-02-12 08:04] khouloudbelguith commented on #17592
@ravloony, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-02-12 08:07] ITProfeska commented on #17593
hi,

I guess Ive got the latest version of the 1-click upgrade, how can I check is ?

Regards

[2020-02-12 08:16] matteolavaggi commented on #17468
There is no many info here
`

2020-02-10 23:37:19.406 | naws01
-- | --
www[27128]: PHP 8. TaxCalculator->getTaxesName() /var/www/htdocs/www.sixrace.it/classes/Product.php:4979
2020-02-10 23:37:19.406 | naws01
www[27128]: PHP 8. TaxCalculator->getTaxesName() /var/www/htdocs/www.sixrace.it/classes/Product.php:4979
2020-02-10 23:37:19.405 | naws01
www[27128]: PHP 1. {main}() /var/www/htdocs/www.sixra

[2020-02-12 08:17] tdavidsonas88 commented on #17085
@matks Already created a normal PR, finished this morning. It took a bit more 1 hour less than one day. Your guidance helped me a lot :slightly_smiling_face:

[2020-02-12 08:23] jf-viguier commented on #17606
@PierreRambaud I disagree. The hook is launched in the core, it's in the doc and should be created by the core.
We don't use prestashop banner modules, we use our own banner module with is a modern widget module that don't have hardcoded hooks but can be hooked to any hook in positions bo menu.
This hook has to be in the database & hooks.xml, otherwise it will not be in the list of this bo page.

[2020-02-12 08:24] khouloudbelguith commented on #17609
Hi @go-sudo,

What does the exact error occur?

How long is the delay?

Thanks!

[2020-02-12 08:30] krasnycz commented on #17320
Well I found the issue. Something is creating record in the ps_admin_filter where controller and action coumn is empty and in filter content is

{"limit":50,"orderBy":"id_lang","sortOrder":"ASC","filters":[],"filter_category":"","filter_column_id_product":"","filter_column_name":"smart","filter_column_reference":"","filter_column_name_category":"","filter_column_price":"","filter_column_sav_quanti

[2020-02-12 08:38] khouloudbelguith commented on #17610
Hi @Seb33300,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/16294 to fix the issue.
It is fixed in PS1.7.6.3
Your ticket is a duplicate of #16273
So, I close it.
Thanks!

[2020-02-12 08:38] #17610 closed, assigned to nobody

[2020-02-12 08:38] khouloudbelguith commented on #17610
Duplicate of #16273

[2020-02-12 08:57] #16650 closed, assigned to matthieu-rolland

[2020-02-12 08:58] matteolavaggi commented on #17468
Prestashop reset cookies:

After redirect back:
![image](https://user-images.githubusercontent.com/24798703/74318751-19113e80-4d7e-11ea-8a00-d7b125d1e5e2.png)

Before redirect back:
![image](https://user-images.githubusercontent.com/24798703/74318836-3c3bee00-4d7e-11ea-9556-30d3a14c2ed6.png)

[2020-02-12 09:08] matteolavaggi commented on #17468
PHPSESSID Before redirect to gateway payment:

dhgpo7t9l6m1tlefr49d6gvn3h
After:
![image](https://user-images.githubusercontent.com/24798703/74319631-8c678000-4d7f-11ea-86f3-78408843ae54.png)

Can be this the problem?

[2020-02-12 09:10] khouloudbelguith commented on #17320
@krasnycz, thanks to provide me a screenshot from your table `ps_admin_filter` and also the structure of this table.
![image](https://user-images.githubusercontent.com/16067358/74319775-c89ae080-4d7f-11ea-8be5-a57b3a4428f2.png)
![image](https://user-images.githubusercontent.com/16067358/74319790-d51f3900-4d7f-11ea-981b-123c495091da.png)

Thanks!

[2020-02-12 09:17] matteolavaggi commented on #17468
This only happen under PS checkout process. Other redirect form other platform or php stand alone code its ok

[2020-02-12 09:23] PierreRambaud commented on #17584
FYI, I reproduce both errors on Nginx and Apache. It's not depending on the http service:
[code]

[2020-02-12 09:23] khouloudbelguith commented on #17593
@ITProfeska,

You can check the version in the [`Project_Folder/modules/autoupgrade/config.xml`](https://github.com/PrestaShop/autoupgrade/blob/master/config.xml#L5)

The upgrade of your Database is not done.

This is could be a permissions issue, related to some Apache rules or a size problem when moving old databases.
You must be careful with some options in the `statsdata` module because storin

[2020-02-12 09:26] tameroski commented on #14957
For the record : the issue still exists after disabling all overrides and all non-prestashop modules in the performance options.

@yannicka : did you finally manage to fix this issue ? I'd be curious to find out how, if you don't mind. Thanks.

[2020-02-12 09:29] khouloudbelguith commented on #14957
@tameroski,

The options do not work in the PS1.7.6
as reported here:
#14596
#9965

Thanks!

[2020-02-12 09:39] colinegin commented on #17412
@LouiseBonnard as it is a good first issue maybe we should not put in the backlog for 178 but let the new contributors handle it, wdyt ?

[2020-02-12 09:41] krasnycz commented on #17320
https://nimb.ws/clgO7P
https://nimb.ws/qeuHo1

[2020-02-12 09:45] prestascott commented on #16608
ping @eternoendless, wdyt?

[2020-02-12 09:46] diegoparoni opened #26107 "Prices hidden from visitors but visible in the source code of the page because of module"
The module does not check if prices are hidden from visitors and publishes the price in the source code of the page:
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var MBG = GoogleAnalyticEnhancedECommerce;
    MBG.setCurrency('EUR');
    MBG.add({"id":"20",.(...) "price":"2,95\u00a0\u20ac"},'',true);
  });
</script>

[2020-02-12 09:46] tdavidsonas88 commented on #17085
@MatShir Well if you delete the cart then it is not possible to create new order from the deleted cart. And if you create the order with the cart then it is not allowed to delete the cart. Maybe I don't understand something?

[2020-02-12 09:55] colinegin commented on #16665
Fixed by #17074

[2020-02-12 09:57] maofree commented on #17587
hi
I think in that log there are any informations about this module, it is installed on 10 sites and only in 1 it works, that module has a table in DB and it adds info from customers and then put them in that table. That website has the same theme, modules and php and prestashop's version of the others,
I can give you the access of one site to understand why it does not load the information into t

[2020-02-12 09:59] khouloudbelguith commented on #17320
@krasnycz, thanks to run this SQL command

```ALTER TABLE `ps_admin_filter` CHANGE `filter_id` `filter_id` VARCHAR(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL;```

Thanks!

[2020-02-12 10:06] Robin-Fischer-PS opened #17615 "Error when canceling last product of an order"
**Describe the bug**
When using the "Cancel product" functionality, if all products are canceled (in one or multiple times), there is an error showing, even if the cancellation is OK. The error prints "An error occurred while attempting to delete the product X".

This is present in Legacy 176, Legacy 177 and Migrated page 177.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate merchand

[2020-02-12 10:27] weddingtextile commented on #17318
Very strange behavior. Within a week, the table increases to 100M, then decreases in size to 10M.
Before that, every few days I manually deleted the table when it increased to 150-200M.
I’m still watching.

[2020-02-12 10:40] PierreRambaud commented on #17606
Ohh I understand (Sorry, little bit tired :sweat_smile: )
My bad, at least I learnt something new today !
I validate your pull request :)

[2020-02-12 10:52] colinegin commented on #13880
This issue needs to be tested with the new migrated order page. If it is not fixed, it should be fixed in 178.

[2020-02-12 10:53] khouloudbelguith commented on #17615
Hi @Robin-Fischer-PS, @matthieu-rolland,

The Message is not clear.
It should be like this for example
`An error occurred while changing order status, or we were unable to send an email to the customer.`
![image](https://user-images.githubusercontent.com/16067358/74328474-47971580-4d8e-11ea-8273-662d881c9519.png)

In the BO => Adanavced Parameters => Email => if you configure the Email section =>

[2020-02-12 11:04] khouloudbelguith commented on #17318
@weddingtextile, so the issue is not reproduced again?

Thanks!

[2020-02-12 11:19] zuk3975 commented on #17549
https://github.com/PrestaShop/PrestaShop/pull/17526

[2020-02-12 11:23] jf-viguier commented on #17606
Thanks @PierreRambaud take care of you.

[2020-02-12 11:25] khouloudbelguith commented on #17587
@maofree, thanks for your feedback.

I will invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

But in my case, I need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Thanks!

[2020-02-12 11:29] davideapvd commented on #16913
to anyone reading this long issue and not figuring out the fix: either disable geolocation or download the geolite db into /app/Resources/geoip/GeoLite2-City.mmdb , recently maxmind changed this file distribution policies.

[2020-02-12 11:38] khouloudbelguith commented on #17468
@matteolavaggi, I tried with PS1.7.6.0 & PS1.7.6.2 & a custom payment module & it is ok
https://drive.google.com/file/d/1xlev5wv4GFUjA2sQsU5lMQwkR-Kuzny_/view
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our

[2020-02-12 11:42] maofree commented on #17587
trust me all those data are not necessary
to check why this module on the 1.7 has problem it is necessary to stay in front of the site and check if the module log the sources. The module has little code

[2020-02-12 11:46] go-sudo commented on #17609
Hello

between 2 and 4 hours and for some orders it does not show even after 24 hours

Regards

[2020-02-12 11:50] khouloudbelguith commented on #17573
@gwyneblaidd, I attached a screen record
https://drive.google.com/file/d/1d9x9lOkCiQFWwP9mK0koVUkCf417wlaJ/view

Thanks to check & feedback.

[2020-02-12 11:51] khouloudbelguith commented on #17609
@go-sudo,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-02-12 11:58] Robin-Fischer-PS commented on #17615
Hi @khouloudbelguith ,

The main problem here is that this message should not appear at all : There should not be an error when doing a cancellation !

[2020-02-12 11:59] khouloudbelguith commented on #17587
@maofree, I tried with three different servers & it is OK
I attached a screen record
https://drive.google.com/file/d/1yWcbMzbTUSattoKZv0DFPHAgldD6jcfK/view

Thanks to check & feedback.

[2020-02-12 12:09] didi-2018 commented on #14678
@khouloudbelguith  how can I disable IP Check in classes/Cookie.php? I am facing the same problem. But do not know where to disable?

[2020-02-12 12:29] go-sudo commented on #17609
Hello @khouloudbelguith

I appreciate your help and here is the apache and nginx errors log

[apache.txt](https://github.com/PrestaShop/PrestaShop/files/4192045/apache.txt)

Regards

[2020-02-12 12:40] marionf opened #17618 "Error variable doesn't exist when editing a product quantity for an order"
**Describe the bug**
Error when editing a product quantity for an order

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the migrated order listing
2. View an order in "awaiting payment"
3. Edit the product quantity
4. Click on Save
5. See 500 error in the console

**Screenshots**
![capture d'écran_2315](https://user-images.githubusercontent.com/13449658/74335782-3acdee00-4d9d-11ea-83d2

[2020-02-12 12:55] maofree commented on #17587
can you see inside any real websites?

[2020-02-12 13:17] khouloudbelguith commented on #17587
@maofree, you can check with this shop also

BO: https://unable-waste.machine-shuffle.prestashop.net/admin-dev
`email=demo@prestashop.com `& `password=prestashop_demo`

tHANKS!

[2020-02-12 13:22] khouloudbelguith commented on #14678
Hi @didi-2018,

You can comment this condition: `&& (!isset($this->_content['remote_addr']) || $this->_content['remote_addr'] == ip2long(Tools::getRemoteAddr()) || !Configuration::get('PS_COOKIE_CHECKIP'))`
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Cookie.php#L240

Thanks!

[2020-02-12 13:26] matteolavaggi commented on #17468
Hi, thanks for your feedback, but i think you wrong read some information:

1) issue is not related to paypal module. Is related to EVERY checkout payment gateway redirection (read above, i've just write it 2 times)
2) issue is not related to "hosting" because i've make a test over wordpress and over php file (under the same website root folder), and this both work.

Is something related to the wa

[2020-02-12 13:26] marionf opened #17619 "When editing an address in an order, you are redirect to the new customer page instead of edit one"
**Describe the bug**
When editing an address in an order, you are redirect to the new customer page instead of edit one

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Orders > orders
2. Click on View
3. Click on edit address for shipping or invoice
4. You see the add address page instead of edit address page and the page is empty instead of having the customer infos

**Screenshots**
h

[2020-02-12 13:36] khouloudbelguith commented on #17609
@go-sudo,

You have these errors:

You should check your host.

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2020-02-12 13:42] krasnycz commented on #17320
Well it did not help. But the error is different:

An exception occurred while executing 'INSERT INTO ps_admin_filter (employee, shop, controller, action, filter, filter_id) VALUES (?, ?, ?, ?, ?, ?)' with params [4, 1, "", "", "{\"limit\":50,\"orderBy\":\"id_currency\",\"sortOrder\":\"asc\",\"filters\":[]}", "currency"]:

SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '4-1-

[2020-02-12 13:47] khouloudbelguith commented on #17320
@krasnycz, on the same page? Languages page?
You have duplicated data in your table `ps_admin_filter` for the `id=4`.

Thanks!

[2020-02-12 14:01] thequickmick opened #17621 "Create new Multishop (Subshop), no Payment in Frontend because carrier restrictions are not set when creating a new shop"
**Describe the bug**
Make a new Subshop (Mainshop is final), all Payments are active. No Payments in Frontend! MUST Reset the module(s) !!!
All Data are Gone! But Modules now Work in FO ...
But you must insert all the data again...  Thats a Problem, if you have more tha 20 Shops or so and want to make a new one...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO > Payment > Preferenc

[2020-02-12 14:12] maofree commented on #17587
also this one is not a real website
however when I find some time I'll check by myself
the module is simple, it must only to check the sources and add them in the db, so which kind of php code or javascript errors should I need to see in a log?
those websites are on different hostings
I thought it was easier to verify

[2020-02-12 14:25] khouloudbelguith commented on #17587
@maofree, you should have PHP errors in the logs, for example, fatal errors or critical errors.

Thanks!

[2020-02-12 14:25] alexberanger opened #17622 "Uploaded files errors are not returned (classes/Uploader.php, L345)"
**Describe the bug**
The $_FILES errors are not returned by the validate() method inside the Uploader class.

**To Reproduce**
Steps to reproduce the behavior:
1. In a PHP script, instantiate the uploader with an input (type "file") name as main parameter
2. Then, call $uploader->process(...), with the path to a file as main parameter
3. The uploader will fire its upload() method
4. The upload() m

[2020-02-12 14:39] matteolavaggi commented on #17468
@khouloudbelguith can you re open this issue please? We have some developer (prestashop developer) mail that say "its a just known issue", so dont think need to be addressed and fixed if possible?

[2020-02-12 14:42] khouloudbelguith commented on #17468
@matteolavaggi, I just re-opened the issue.

Clearing session after redirection to the shop is a known issue?

Thanks!

[2020-02-12 14:50] tameroski commented on #14957
After banging my head several times against my desk, i came to the conclusion that this problem is linked to [that other one](https://github.com/PrestaShop/PrestaShop/issues/10903#issuecomment-438573882).
After disabling a cart rule having a minimum amount and shipping included, everything went back to normal in my shop.
Thanks Khouloud for your help in here btw.

[2020-02-12 14:50] matteolavaggi commented on #17468
No, the possibility to have this problem on redirect back. 2 different dev asnwer to us this by email.

I've make other test, with other PS installed on the same server there is no problem.

So there is some override / configuration / module that cause the problem!

The absurd thing is that modules are "verified and approved" by prestashop team before allow to be published in the marketplace ...

[2020-02-12 14:55] khouloudbelguith commented on #14957
@tameroski, #10903 is added to our bug roadmap.

Thanks!

[2020-02-12 14:58] khouloudbelguith commented on #17468
@matteolavaggi, you need to manually disable the module one by one & check.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-12 14:59] #17468 closed, assigned to nobody

[2020-02-12 15:02] nesrine3ayadi opened #17623 "Bug in select cover image product"
Hello,
I use Prestashop 1.7.6.0, I have a problem in product detail: i can not change cover image.
The right form which supposed to be shown on th right does not exist
Morever, i have this errors on console !
Any help please ??

![image](https://user-images.githubusercontent.com/11909333/74347207-05cb9680-4db1-11ea-8116-9b1dc9f9e0df.png)

[2020-02-12 15:03] matteolavaggi commented on #17468
................................. Wich module? On 2020 there is no tool to debug module issue .. module are approved and "tested"  (and sell) by Prestashop Team, but when some one has problem in compatibilty with the core noone have the tool to debug it... bha .. i'm loosing my time here ^^ thanks

[2020-02-12 15:04] Progi1984 commented on #15934
Fixed by #16287

[2020-02-12 15:07] khouloudbelguith commented on #17468
@matteolavaggi, sorry but modules are tested by our Product module team and not PrestaShop core team.
Here, we support issues in the PrestaShop Core & not Prestashop module provided on the Market place.

Thanks for your understanding!

[2020-02-12 15:07] omar2886 commented on #17490
Hi @khouloudbelguith , after doing what you suggested in +12.000 orders, I've noticed that by only checking those options you said, now there is a lil problem as this new status does not consider the order as validated + allow pdf download + consider order as paid... so now it has affected many other statistics as for example if I open a customer account that may have many orders on already delive

[2020-02-12 15:09] khouloudbelguith commented on #17490
Hi @omar2886,

Please be aware that this bug should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).

Thanks!

[2020-02-12 15:09] khouloudbelguith commented on #17623
Hi @nesrine3ayadi,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/mis

[2020-02-12 15:24] khouloudbelguith commented on #17621
Hi @thequickmick,

First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to

[2020-02-12 15:24] nesrine3ayadi commented on #17623
Version de PrestaShop : 1.7.6.0
Version de PHP : 7.2.27
Version du logiciel serveur : Apache
Version de MySQL : 5.5.64-MariaDB
Informations sur votre serveur Linux #1 SMP Tue Aug 14 21:49:04 UTC 2018 x86_64

I dont have acces to Server, i just can access to BO and FTP files
Is that enough for you ?

[2020-02-12 15:24] krasnycz commented on #17320
I know. But when I delete the data currency/language works. However when I access the page 2nd time it again generates the error and page is not accessible. And duplicate data are there again.

[2020-02-12 15:26] krasnycz commented on #17320
The problem are these data https://nimb.ws/5xPfmD

Once in the table pages are not accesible. When deleted the pages works on first view only.

[2020-02-12 15:27] khouloudbelguith commented on #17623
@nesrine3ayadi,
You need to enable debug mode in your store and debug request which is sent for product edit in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. edit product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response" or

[2020-02-12 15:30] khouloudbelguith commented on #17622
Hi @alexberanger,

Could you please provide the exact script PHP used to test it.

Thanks!

[2020-02-12 15:33] khouloudbelguith commented on #17320
@krasnycz, could you please try to delete the table `ps_admin_filter` & re-upload it again from a fresh install PS1.7.6.3.

Please make sure you have a backup of your database & your files.

Thanks!

[2020-02-12 15:35] nesrine3ayadi commented on #17623
![image](https://user-images.githubusercontent.com/11909333/74349953-4b8a5e00-4db5-11ea-89e7-f9f3dc4518c7.png)
![image](https://user-images.githubusercontent.com/11909333/74350054-71affe00-4db5-11ea-9c4b-83d45b95f4ab.png)
![image](https://user-images.githubusercontent.com/11909333/74350075-7c6a9300-4db5-11ea-9820-4cdf21ead4c5.png)

So ?

[2020-02-12 15:40] khouloudbelguith commented on #17623
@nesrine3ayadi, you have an error 500 in your console
Click on the Network tab
![image](https://user-images.githubusercontent.com/16067358/74350707-5f828f80-4db6-11ea-8802-ae3157320002.png)

 you should see the error message in "Response" or "Preview" tab

Thanks!

[2020-02-12 15:43] nesrine3ayadi commented on #17623
![image](https://user-images.githubusercontent.com/11909333/74350980-c86a0780-4db6-11ea-839c-55930570417a.png)

[2020-02-12 15:46] khouloudbelguith commented on #17623
@nesrine3ayadi, thanks to provide me all the exception displayed.

Thanks!

[2020-02-12 15:49] nesrine3ayadi commented on #17623
![image](https://user-images.githubusercontent.com/11909333/74351450-6c53b300-4db7-11ea-89dd-2366ed383184.png)
![image](https://user-images.githubusercontent.com/11909333/74351491-75dd1b00-4db7-11ea-8c25-61f60847f89f.png)
![image](https://user-images.githubusercontent.com/11909333/74351531-81304680-4db7-11ea-9810-9a8ee21b608c.png)
![image](https://user-images.githubusercontent.com/11909333/7435157

[2020-02-12 15:52] khouloudbelguith commented on #17449
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17450

[2020-02-12 15:52] khouloudbelguith commented on #11289
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17450

[2020-02-12 15:58] khouloudbelguith commented on #17623
@nesrine3ayadi, this issue occurs with the `posstaticblocks` module.
![image](https://user-images.githubusercontent.com/16067358/74352395-b8532780-4db8-11ea-8467-a2be2930946c.png)
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-12 15:58] #17623 closed, assigned to nobody

[2020-02-12 16:07] azralth opened #17625 "npm run build failed"
Hi all,

i try to make an npm run build but i get this error  :
Failed at the prestashop-classic-dev-tools@1.0.0 build script.

I'm not an expert with node and webpack. npm run watch is working great but now i want to add my project in production server. Any help will be great.

The webpack config :
[code]
Package json :
[code]

[2020-02-12 16:10] khouloudbelguith commented on #17625
Hi @azralth,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).

Thanks!

[2020-02-12 16:10] #17625 closed, assigned to nobody

[2020-02-12 16:11] azralth commented on #17625
My bad,

i try to this platform.
Thanks

[2020-02-12 16:14] noione opened #17626 "Display color attribute without combinations"
Hello,

Is it possible to display the colors attribute without generating combination

For example, if I have 10 sizes + a choice yes or no, that gives me 20 different combination / prices. If I add a variation of 10 colors, this will make 200 variations but with the same 20 prices.

The problem is that the colors are identical for all my products and it has no impact on the price, except for the

[2020-02-12 16:17] noione commented on #17626
On the products page with more than 1 attribute (front office) only the attribute which is in the first position of the "Attributes and features" is shown.

I have changed the order from the BO and if another attribute is placed at the first position, the changes are reflected on the product page (front office) but only one is shown.

[2020-02-12 16:20] matteolavaggi commented on #17468
Its a cookie same site issue. @khouloudbelguith what are the PS dev team reccomandation for cookies same site directive you can read here:

A cookie associated with a cross-site resource at http://www.facebook.com/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review

[2020-02-12 16:23] #17449 closed, assigned to nobody

[2020-02-12 16:24] #11289 closed, assigned to nobody

[2020-02-12 16:25] khouloudbelguith commented on #17468
@matteolavaggi, here's a document about cookies
[250518_COOKIE_POLICY_FR (1).pdf](https://github.com/PrestaShop/PrestaShop/files/4193407/250518_COOKIE_POLICY_FR.1.pdf)

Thanks!

[2020-02-12 16:27] krasnycz commented on #17320
After clean install this table is empty. I emptied the table on staging and also noticed that clean 1.7.6.3 install also has unique filter_id so I adjusted the settings of the table. All seems to be fine now.

[2020-02-12 16:33] morghy1992 opened #17627 "Problem ContextErrorException"
Hello everyone,
hope you can help me.
I notice with Debugmode that I have this issue.
What should I do?
Attached photo of the problem.
PS version: 1.7.5

<img width="1295" alt="Schermata 2020-02-12 alle 17 25 31" src="https://user-images.githubusercontent.com/47249256/74355899-c0fa2c80-4dbd-11ea-9ed5-7e6aa26ac135.png">

[2020-02-12 16:35] khouloudbelguith commented on #17626
Hi @noione,

You can create an attribute named "All colors" => I think, it could be a solution.
But, you don't have only the impact on price, you have quantity.
I think it is normal to have the combinations `S- yes- black` & `S- yes- green` with different quantities.
Is it?

I think your combinations are not correctly generated.
Then, in the right column, you should select all your combinations (f

[2020-02-12 16:38] khouloudbelguith commented on #17320
@krasnycz, Great!
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-12 16:38] #17320 closed, assigned to nobody

[2020-02-12 16:44] khouloudbelguith commented on #17627
Hi @morghy1992,

It is a theme issue.
![image](https://user-images.githubusercontent.com/16067358/74356785-39152200-4dbf-11ea-889c-9cf65fddcf96.png)
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-12 16:44] #17627 closed, assigned to nobody

[2020-02-12 16:55] noione commented on #17626
Hi @khouloudbelguith
Thank you for your suggestion,

I don't manage quantity, it's not a problem

I've already tried that, when i generate the combination as you mentionned, i'm having more than 300 combinations on only one product.
I juste need to display the color attribute without being related to the other attribute Size & Yes/No because my database will be really heavy and product page loadin

[2020-02-12 16:56] matks commented on #17089
So it seems that there is 3 bugs not done

🔴 **Not reproduced**

🔴 **Not reproduced**

🔴 **Waiting for PM confirmation**

[2020-02-12 16:57] khouloudbelguith commented on #17626
@noione, no it is not possible.

You will have this problem: https://github.com/PrestaShop/PrestaShop/issues/17626#issuecomment-585285229
So your combinations are not correctly generated.

Thanks!

[2020-02-12 17:49] ROGPreez opened #17628 "Cant install in shop"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2020-02-12 17:50] leup commented on #16770
Any news on this please ? Is the roadmap visible anywhere ?

[2020-02-12 17:51] ROGPreez opened #17629 "Cant install in shop - 1.7.4.3"
Hi there, i was looking forward to using this module, but it doesen't seems to work on mu 1.7.4.3 store?

Have you any fixes?
Try to install through modules on admin page.

[2020-02-12 17:51] #17628 closed, assigned to nobody

[2020-02-12 18:23] aromadebebe opened #17630 "The detail of the page is an Error 505 that arose after the cache was emptied from the store administrator."
El detalle de la página es un Error 505 que surgió a partir de que se vació el caché desde el administrador de la tienda. Solicité ayuda a soporte técnico del servicio de hosting y sólo me orientaron para hacer el archivo error_log.php para identificar dónde estaba sucediendo dicho error.

La chica que me atendió me mandó estos enlaces:
https://www.hostinger.es/como/estoy-recibiendo-el-error-inter

[2020-02-12 19:03] z72diego opened #17631 "1-Click Upgrade From 1.7.6.1 to 1.7.6.3 not working"
Hi, just tried to upgrade, two times, from 1.7.6.1 to 1.7.6.3 using the 1-Click upgrade module but no luck... here is the log:

[2020-02-12 19:05] z72diego commented on #17631
Upgrade log:
[upgrade_log.txt](https://github.com/PrestaShop/PrestaShop/files/4194494/upgrade_log.txt)

[2020-02-12 19:09] elrosi commented on #14455
Hi,

I have the same error after updating from 1.5.7.2 to 1.6.7.3

[2020-02-12 20:06:00] request.CRITICAL: Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Undefined class constant 'MODULE_NAME'" at /nfsmnt/hosting2_1/6/7/67dcd3ea-4121-4281-af0b-7c0e35976080/profidiet.net/web/modules/ps_linklist/src/Form/LinkBlockFormDataProvider.php line 294 {"exception":"[object] (S

[2020-02-12 19:30] JossVans commented on #15921
Hello its could be great for SEO , and it could be imnpruved than the url address  instead the # symbol ;)

[2020-02-12 20:34] IsaacVe opened #17632 "Faceted Search - The price filter is not working when using a non default currency"
**Describe the bug**
When you search for a currency that is not the default, the price filter does not work.

**Screenshots**
With the default currency it works
![image](https://user-images.githubusercontent.com/17584143/74374681-dca90700-4dac-11ea-9ea4-20fa3cf71b53.png)
But when switching to another currency it doesn't work anymore
![image](https://user-images.githubusercontent.com/17584143/74374

[2020-02-12 22:23] noione commented on #17626
@khouloudbelguith
Is there any way to change the product-variants tpl or the classe Product to display the color attribute ?
Thank you

[2020-02-12 23:01] lgomez2 commented on #17437
I have the same problem after update to 1.7.6.3. Price is not refreshed when I change the combination. What I must do to solve this problem? I don't know what files I must replace.

[2020-02-13 02:38] arouiadib commented on #16842
Hi @MatShir,

I have the same question but this time about the last two remaining  types: "Specific product" and "Selection of products". Is the calculation based on unit price like in the case of "cheapest product".

You can look [at this draft](https://github.com/PrestaShop/prestashop-specs/blob/7e022bf6cf27e3e4c9a34298fd3a9c2ad022f6ff/core/front-office/cart%20rules%20calculations.md) to see mor

[2020-02-13 03:42] LordMarZ opened #17635 "Category Change in product"
Hello guys, i have found an issue, maybe you know how to fix it

i have change the main category in some products on my website, and now those products are not showing

just like this one:
https://darksidebros.com.uy/superheroes/thanos-gold-infinity-gauntlet-mini-replica-13cm.html

i have rebuilt the search index and clear cache (from BO and FTP) but still cant get the product to show.

the produc

[2020-02-13 05:49] Precisionlasers opened #17637 "Issue after upgrading from 1.6.1.24 to 1.7.6.3"
We upgraded from 1.6.1.24 to 1.7.6.3. Once the upgrade was finished this message came up:
![image](https://user-images.githubusercontent.com/60999413/74404641-1427ba00-4e66-11ea-8ecd-72ce8ee847d0.png)

With a note that it was switching to the default theme. Aside from this everything was working fine. I loaded a new theme in around 20 minutes after the upgrade had finished. From there the dashboar

[2020-02-13 07:57] alexberanger commented on #17622
Hi @khouloudbelguith,

I can just provide a very little fragment of script from a module I'm working on. I hope it can help you.

I also suggested a potential fix (lines 11 to 15)
 in the script I attached to this message.
Tell me if you need more informations.

[file-upload-script.zip](https://github.com/PrestaShop/PrestaShop/files/4197097/file-upload-script.zip)

[2020-02-13 08:04] khouloudbelguith commented on #17166
Hi @PrestaShark,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-13 08:04] #17166 closed, assigned to nobody

[2020-02-13 08:06] khouloudbelguith commented on #17629
Hi @ROGPreez,

What is the exact module do you need to install it?

Thanks!

[2020-02-13 08:08] khouloudbelguith commented on #17630
Hi @aromadebebe,

Please, send your request in English.
English is the norm on the GitHub
Thank you!

[2020-02-13 08:15] #10298 closed, assigned to NeOMakinG

[2020-02-13 08:16] Progi1984 commented on #10298
Fixed by #16543

[2020-02-13 08:19] khouloudbelguith commented on #17631
Hi @z72diego,

Thanks for your report.
As you can see in your log file, there are no errors during the upgrade.
The files are well upgraded
The Database is well upgraded
During the upgrade of your modules, the upgrade is just stopped.
What is the exact version of the 1-click upgrade did you use?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don'

[2020-02-13 08:29] bm-services commented on #11105
Some news about this problem:
it happens when there are a lot of request on a website: clear cache action are not terminated when new requests are launched and cache files aren't regenerated and their regeneration are blocked so: ERROR 500.

We found source of the problem in Symfony:
vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/Dumper/PhpDumper.php

`@@ -1132,7 +1132,7 @@ EOF;

[2020-02-13 08:40] bm-services commented on #11105
This problem is maybe linked with this Symfony issue:
https://github.com/symfony/symfony/issues/25654

More precisely:
https://github.com/symfony/symfony/issues/25654#issuecomment-356894100

[2020-02-13 08:43] khouloudbelguith commented on #17632
Hi @IsaacVe,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.3 & ps_facetedsearch v3.4.1.
https://drive.google.com/file/d/1MX0cuTCW01ACRmXB75MnVG_Fj_NRnBOT/view
What is the exact version `ps_facetedsearch` did you use?
Could you please try to configure it by editing the template & rebuilding the entire price index & building attributes & features indexes & clearing th

[2020-02-13 09:08] Azeus1980 commented on #9966
Hi, has anyone found a solution to this problem? This is a big problem for us because all our customers have loyalty discounts that combine with gifts and it is a bit of a disaster in the baskets ...  Thx

[2020-02-13 09:11] khouloudbelguith commented on #17635
Hi @LordMarZ,

Thanks for your report.
In the BO => Catalog => Product details page => Options Tab => what is the Visibility of your Product?
![image](https://user-images.githubusercontent.com/16067358/74418755-2ba47a00-4e49-11ea-9a28-acdda775734d.png)

Thanks!

[2020-02-13 09:14] khouloudbelguith commented on #17637
Hi @Precisionlasers,

What is the exact version of the 1-click upgrade did you use?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following artic

[2020-02-13 09:18] khouloudbelguith commented on #17626
@noione, Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2020-02-13 09:18] #17626 closed, assigned to nobody

[2020-02-13 09:40] MatShir commented on #17437
Hi @lgomez2,
I'm happy to say that the patch 1.7.6.4  that fixe the issue will be released at the beginning of March.
If you really can't wait, you can find the solution #17457 in the file changed tab but it is still in test.

[2020-02-13 09:42] Progi1984 commented on #17242
Fixed in #17433

[2020-02-13 09:42] #17242 closed, assigned to Progi1984

[2020-02-13 09:54] MatShir commented on #17085
Hi @tdavidsonas88, sorry I meant the cart rule

[2020-02-13 09:57] PeeyushAgrawal opened #17639 "While Prestashop handling web service request, debug mode is working in reverse manner"
**Describe the bug**
while requesting prestashop web service if there is any error and debug mode is disabled then still error is shown in the response and when the debug mode is enabled then it doesn't show that error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['prestashop/classes/webservice/WebserviceRequest.php'](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/we

[2020-02-13 09:59] Progi1984 commented on #17590
Fixed by #17612

[2020-02-13 09:59] #17590 closed, assigned to Progi1984

[2020-02-13 10:20] khouloudbelguith commented on #17622
Hi @alexberanger,

Thanks for your feedback.
I tried with your script, but there is no error returned before & after the fix.
[code]
I attached a screen record
https://drive.google.com/file/d/1znqO8KRFkeHmnOfdIEzw6-z-EcprfftS/view

Thanks!

[2020-02-13 10:30] khouloudbelguith commented on #16770
Hi @leup,

Sorry, not fixed yet.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-02-13 10:31] khouloudbelguith commented on #14455
Hi @elrosi,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-02-13 10:47] khouloudbelguith commented on #17639
Hi @PeeyushAgrawalWebkul,

I tried with PS1.7.6.3
I added this line `$this->xyz = $params['xyz'];` before this: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/webservice/WebserviceRequest.php#L239

When debug mode is disabled, I have error 500
When debug mode is enabled, I have this exception
![image](https://user-images.githubusercontent.com/16067358/74426967-9a3c0480-4e56-11ea-9c2

[2020-02-13 10:52] roditi3811 opened #17644 "Uncaught Exception: Kernel Container is not available in /Adapter/ContainerFinder.php:77"
**Describe the bug**
This error appears only in backoffice, when browsing the modules or orders pages.
I see it appears when installing a clean PS v1.7.6.3 downloaded from the official site, so it looks like the error is straight from PS?
The error appears even if I completely delete the default payments modules.
Is there any way of knowing who exactly is producing this error?

**To Reproduce**
St

[2020-02-13 10:56] khouloudbelguith commented on #17644
Hi @roditi3811,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade

[2020-02-13 10:58] roditi3811 commented on #17644
Oh....I understand, thanks for the fast reply.

[2020-02-13 10:58] #17644 closed, assigned to nobody

[2020-02-13 11:03] khouloudbelguith commented on #17644
@roditi3811, thanks!
Feel free to open a new one when needed.

Thanks!

[2020-02-13 11:05] surajkumar-webkul commented on #17639
@khouloudbelguith
Please put `$this->xyz = $params['xyz'];` it anywhere after this line https://github.com/PrestaShop/PrestaShop/blob/develop/classes/webservice/WebserviceRequest.php#L498 where custom error handler has been already set up.
For example, put that code at [this line](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/webservice/WebserviceRequest.php#L513)

[2020-02-13 11:06] roditi3811 commented on #17644
Sure, no worries.

[2020-02-13 11:38] yourizuring opened #17646 "Blank page while trying to open manage profile"
**Describe the bug**
Ap page builder works fine without themes, but doesn't work when the themes are installed at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Module Manager
2. Click on Ap Page Builder
3. Click on Manage Profile
4. See the blank page.

**Screenshots**
![image](https://user-images.githubusercontent.com/47860706/74430674-aa0b1700-4e5d-11ea-98b4-3d9ad65098d4.png)

[2020-02-13 11:42] khouloudbelguith commented on #17639
@PeeyushAgrawalWebkul, no error founded in this case.
https://drive.google.com/file/d/1DLGoesxjHdbIQV4PvSh49OePZuPIVMrj/view

Thanks!

[2020-02-13 11:42] zuk3975 opened #17647 "Addresses relation with country settings"
Addresses form fields (customer, brands, suppliers) depends from Country settings (**AddressFormat**) in `International>Locations>Countries` .
e.g. Supplier field DNI should be rendered only if country setting "Do you need a tax identification number?" is "YES". Other fields like Address2, post_code, phone etc. are also configurable.
Furthermore some of those fields can also be configured in `Cata

[2020-02-13 11:43] khouloudbelguith commented on #17646
Hi @yourizuring,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-13 11:43] #17646 closed, assigned to nobody

[2020-02-13 11:52] MatShir opened #17648 "[ORDER PAGE] Prev/Next order button"
Missing part of the order page migration and redesign project.

**User Storie**

As a merchant, I want to go to the next order without leaving the page.

**Detailed specification**
On the action bar button, add the arrow next prev on the left
![image](https://user-images.githubusercontent.com/43613217/74432693-3ff37180-4e5f-11ea-82f3-5488c6d6a802.png)

WIP specs to update it
https://invis.io/YKTGG

[2020-02-13 12:01] z72diego commented on #17631
Hi @khouloudbelguith yes, it stops when it reaches the modules update, i don't understand why. In the log attached there is an error:

Alert detected during install.
[INTERNAL] /var/www/vhosts/distribuidorademafer.com.ar/httpdocs/classes/controller/FrontController.php line 353 - Trying to get property 'logged' of non-object

[2020-02-13 12:06] LordMarZ commented on #17635
Hello there, visibility is everywere, as it was before changing category

thanks!

[2020-02-13 12:06] z72diego commented on #17631
1-Click Upgrade v4.10.1

[2020-02-13 12:16] Emiliotorrecilla commented on #17437
hi @MatShir,
I have the same error as Lgomez2.
I update to 1.7.6.3 and all my products with combinations don´t update price.
I have changed core.js and added "," and followed the steps outlined in #17457 .
Please, any other solution for this problem?

[2020-02-13 12:24] sroubekog commented on #17437
Hi @Emiliotorrecilla you can try to use this, it works for me. Unpack it and copy file to /themes/
[core.zip](https://github.com/PrestaShop/PrestaShop/files/4198254/core.zip)

[2020-02-13 12:50] khouloudbelguith commented on #17635
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-cre

[2020-02-13 12:52] sharkooon commented on #15781
Well i think there should be an option to disable embed images when emails are sending.

[2020-02-13 12:52] khouloudbelguith commented on #17631
@z72diego, do you have some custom module installed?
Your issue seems similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/17572

Thanks to check & feedback.

[2020-02-13 13:50] andrewww78 commented on #14632
You are genius !!! Thank you very much for this post! Now finally I can enter: selected modules. Best wishes!

P.S.
Currently: Presta 1.7.6.3, this error has occurred with me, since version 1.7.4.4>

[2020-02-13 13:53] Emiliotorrecilla commented on #17437
Hi @sroubekog,
I have tried it but doesn´t work for me.
The following error appears in the console:
"Error in source mapping: request failed with status 404"
"Resource URL: Mysite / themes / core.js"
"URL source mapping: core.js.map"
![imagen](https://user-images.githubusercontent.com/61007998/74441630-784f7b80-4e70-11ea-8d8f-9bf2502b7e29.png)

[2020-02-13 14:11] #12908 closed, assigned to nobody

[2020-02-13 14:12] #17504 closed, assigned to nobody

[2020-02-13 14:19] khouloudbelguith opened #17653 "Monitoring page - The title List of products without description is not correct"
**Describe the bug**
In the BO => Catalog => Monitoring Page, the title "List of products without description " is not correct.
It should be like this: "List of products without description **and** summary" if this is the wanted behavior
Ping @PrestaShop/prestashop-product-team what do you think? what is the exact behavior in this case, display all products without description **and** summary or d

[2020-02-13 14:21] LINUX3932 opened #17654 "ppxo_paypal_legacy_gettoken_initxo when user close dialog before load ?"
When user closes the [PayPal] dialog pop up before it fully loads, the paypal buy button no longer works unless the page is refeshed by the user.

The error reported is **ppxo_paypal_legacy_gettoken_initxo**

Issue referenced in [this post](https://github.com/paypal/paypal-checkout-components/issues/681#issuecomment-402312665)

PrestaShop version: 1.7.6.3
Current theme in use: classic

[2020-02-13 14:22] khouloudbelguith commented on #17653
Ping @nesrineabdmouleh

[2020-02-13 14:24] matthieu-rolland commented on #17615
Here the issue appears when the email is not configured.

The problem comes from the legacy code, it calls several functions that return false if something goes wrong, but we don't know what went wrong.

It would need to be refactored, with proper exceptions, so that we can differentiate errors, but then we would have to take our modifications into account everywhere the involved methods are calle

[2020-02-13 14:32] khouloudbelguith commented on #17654
Hi @LINUX3932,

Did you use this module: https://addons.prestashop.com/en/payment-card-wallet/46347-prestashop-checkout-built-with-paypal.html?

Thanks!

[2020-02-13 14:37] LINUX3932 commented on #17654
Module used:
PayPal v5.1.1 - by PrestaShop.

Many thanks

[2020-02-13 14:40] MatShir opened #17655 "[ORDER PAGE] Display correction"
Go through in the missed display and see what could be improved

## Part 1
**ORDER VIEW**

Need a dev back on these issues :

- [x] Empty rectangle below the tabs (status, transport...)

- [x] The stock location is displayed in cancel, partial, standard and return products while none of the products have a stock location. It should only display it if only one of them has a stock location.

- [x] T

[2020-02-13 14:44] MatShir opened #17656 "[CREATE ORDER] Display correction #2"
Review the missed display and see what could be improved.
**CREATE ORDER**

- [x] The button to unfold the old baskets and control is reversed.
- [x] The file name is not displayed after selecting the file.

[2020-02-13 14:46] khouloudbelguith commented on #17654
@LINUX3932,

As it's not a module provided by the Prestashop Core team, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it: https://addons.prestashop.com/en/contact-us?id_product=1748
Thanks!

[2020-02-13 14:46] #17654 closed, assigned to nobody

[2020-02-13 14:53] Robin-Fischer-PS commented on #17615
Yep @matthieu-rolland , that's right ! Having a message only saying "We were unable to send an email to the customer" instead of, for example, "Your shop has suffered a critical error and must be annihilated, or we were unable to send an email to the customer" would be really useful for our tests :smile:

[2020-02-13 14:56] matthieu-rolland commented on #17615
haha yes...   I was more thinking about the reverse situation, for example:

`An error occurred while changing order status, or we were unable to send an email to the customer`

Just by reading this you can't really be sure if it's really because you have no email configuration, or because there was actually an issue.

[2020-02-13 14:58] matks opened #17657 "Provide useful data attributes into Link Widget hook list for puppeter tests"
PR https://github.com/PrestaShop/PrestaShop/pull/17477 has broken some puppeeter tests because they used the hook ID selectors. Modifying the hook list has modified the `<li>` IDs generated from hook list. Basically if we modify the order of items in hook.xml file, it changes the IDs 😄

The puppeeter tests should not rely on such generated IDs which can change often. Instead Link Widget should pro

[2020-02-13 14:58] matks commented on #17657
Critical because it breaks nighthly tests

[2020-02-13 15:00] SimonGrn commented on #17657
I think I love you

[2020-02-13 15:05] matthieu-rolland commented on #17615
so as seen with @MatShir I'll change the error message.

[2020-02-13 15:09] Sifaso opened #17658 "Having CSS Issues with tv_electronic_electron_1_7_v1 theme purchased on Prestashop"
I am having many css files inside public_html/themes/tv_electronic_electron_1_7_v1/assets/css that is confusing me.
Inside  all_theme_custom_1_1.css, I saw the first and second color I applied through the back office of my prestashop.

Please I need help on how I can change the mega menu color, font-size, cart icon and account sign in icon color. All are on the header. I also want to change the fo

[2020-02-13 15:27] LordMarZ commented on #17635
i have fixed it.

the error started happening when i changed the main category for a lot of products. meaning the links changed

i have a "friendly urls" module, i had to clear the modules cache in order to fix all the new urls to the products that changed category

thanks for your help and sorry for taking your time, sometimes an answer leads to another way to fix it.

have a nice day and keep up

[2020-02-13 15:30] SD1982 commented on #15934
This PR : [#16287 ](https://github.com/PrestaShop/PrestaShop/pull/16287) seems to have corrected the described bug in this issue but another scenario reproduces the error.

Step to reproduce :

- Go to Internationalisation > Localization > Currencies
- Add a new currency (for example USD)
- Go back to the currencies list and delete the newly created currency
- Download the "added and deleted" curr

[2020-02-13 15:33] khouloudbelguith commented on #17658
Hi @hostsifa,

As it's not the default theme, provided by Prestashop "tv_electronic_electron_1_7_v1", we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-13 15:33] #17658 closed, assigned to nobody

[2020-02-13 15:37] sroubekog commented on #17437
@Emiliotorrecilla There is a chance you have some problem in your template, try to switch it to default classic template. My core.js is from 1.7.6.3 and I just add changes guys suggest in #17457, nothing else.

[2020-02-13 15:54] khouloudbelguith commented on #17635
@LordMarZ, thanks for your feedback.

As it's not a provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-13 15:54] #17635 closed, assigned to nobody

[2020-02-13 15:56] z72diego commented on #17631
Yes, i have a few ones. Anyway it's rare. Prestashop Core should be updated with no problems although I have installed any module.. Even before updating, I selected "disable non-native modules". I will try manually disabling the non-native modules and try to update.

[2020-02-13 16:06] khouloudbelguith commented on #17631
@z72diego, thanks for your feedback.
This option is not working in PS1.7
![image](https://user-images.githubusercontent.com/16067358/74453672-ff0d5400-4e82-11ea-8686-92e2f741a70d.png)
as reported here:
https://github.com/PrestaShop/PrestaShop/issues/9965

Waiting for your feedback.

[2020-02-13 16:09] jolelievre commented on #15934
Nice catch @SD1982 !!
But since it's another scenario I suggest creating a new issue, something like "Importing a currency from a localization pack duplicates a currency in database when previously deleted"

Indeed this is another feature related to localisation pack so it doesn't use the new handlers used in the dedicated form

[2020-02-13 16:17] SD1982 commented on #15934
ping @khouloudbelguith