[2020-08-11 10:35] ngodefroy commented on #20528
Hello @matks ,

I was able to reproduce the issue with PrestaShop version 1.7.7.x & 1.7.6.7

[2020-08-11 10:52] khouloudbelguith commented on #20495
@marekjedrzejewski, could you please provide us clear steps to reproduce the issue
1. which language/country did you used during the install?
2. What is your language by default?
3. What is your employee's language?
4. did you add some other language?

Thanks!

[2020-08-11 11:11] khouloudbelguith commented on #20510
@Hlavtox, thanks!
@prestaforum, we aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15224
So, I close it.
Thanks !

[2020-08-11 11:11] #20510 closed, assigned to nobody

[2020-08-11 11:11] khouloudbelguith commented on #20510
Duplicate of #15224

[2020-08-11 11:13] marekjedrzejewski commented on #20495
I used docker-compose up after cloning prestashop develop branch, which comes with english and has everything set up already.
I also tested with https://github.com/PrestaShop/docker and set up polish then, issue was still there.

Polish.

I did, as can be seen throughout my comments. Only for testing purposes though. Nothing more done with them.

The easiest way to test it is to docker-compose up

[2020-08-11 11:21] khouloudbelguith commented on #20536
Hi @Hlavtox,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-08-11 11:28] khouloudbelguith commented on #20535
Hi @Hlavtox,

Thanks for your report.
Is it your issue similar to this: https://github.com/PrestaShop/PrestaShop/issues/14210

With PS1.7.6.7., I have an empty box selected
![image](https://user-images.githubusercontent.com/16067358/89892120-7c1d4a00-dbd6-11ea-8811-3bd1cd0990c7.png)

![image](https://user-images.githubusercontent.com/16067358/89892100-7162b500-dbd6-11ea-9ae8-c6c37d1aa7b7.png)

Tha

[2020-08-11 11:51] tvorgul opened #20541 "Incorrect prices shown for customized products on the Order confirmation page"
Description :
If you have products with customizations in your order, their prices on order confirmation page are 0.

Expected behavior :
Prices should be shown correctly for each product in the order.

Steps to Reproduce:

1. Add a customized product to the cart (ex Customizable mug in default PrestaShop)
2. Go to checkout and place a order
3. Check order details on the order confirmation page.
4

[2020-08-11 12:39] khouloudbelguith commented on #20541
Hi @tvorgul,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15171 to fix the issue.
Your ticket is a duplicate of #10912
So, I close it.
Thanks!

[2020-08-11 12:39] #20541 closed, assigned to nobody

[2020-08-11 12:39] khouloudbelguith commented on #20541
Duplicate of #10912

[2020-08-11 12:42] ngodefroy commented on #20527
@marionf  I used a cart rule without a code

[2020-08-11 12:50] juraj1000 commented on #20113
Hi @MatShir,
yes, it could be possible to change format for every country in PS. But I can see 2 issues in your proposal:
- every customer would have to use the format with country code in his postal code in address, I expect it will be confusing for  customers because they usually use it without country code as a local postal code
- we sell our products to all countries in the world, it means we'

[2020-08-11 12:50] khouloudbelguith commented on #20498
Ping @PrestaShop/prestashop-product-team @PrestaShop/prestashop-core-developers

[2020-08-11 12:51] PululuK commented on #20498
ping @matks  @jolelievre  @eternoendless

[2020-08-11 12:58] juraj1000 commented on #20287
Hi @matks,
yes, the title can be modified as you did it

[2020-08-11 13:06] kpodemski commented on #20498
I'd like to follow this idea with yet another one, let us disable execution of dynamic hooks with something like:

`Configuration::set('PS_DISABLE_ACTION_HOOKS', 1);`

For the original idea by @PululuK - i like it and +1 for it

[2020-08-11 13:09] matthieu-rolland commented on #19956
I close this issue until a clearly reproducible scenario is defined.

[2020-08-11 13:10] marionf commented on #20527
Weird, I tried to reproduce it on 1.7.7.x and the cart rule is well automatically added to the cart

https://drive.google.com/file/d/14eMZhgEFnl4OI_h7AHIAsqAFFobanBXl/view?usp=sharing

Are you sure the total available and total available per user of your cart rule isn't reached ?

[2020-08-11 13:35] SD1982 opened #20542 "BO - Order detail / Total products price is not correctly calculated in specifics conditions"
#### Describe the bug

In BO order detail the total product price of an order is not correctly recalculated after adding a discount

#### Expected behavior

The total should be correctly recalculated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create 2 products with the following parameters :
                  product n°1 => 10€ taxes included
                  product n°2 => 15

[2020-08-11 13:39] matks commented on #20467
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20492

[2020-08-11 13:39] #20467 closed, assigned to atomiix, matks

[2020-08-11 13:48] ngodefroy commented on #20531
Hello @jonpontet ,

I was able to reproduce the issue with PrestaShop version 1.7.7.x I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2020-08-11 14:03] khouloudbelguith commented on #20542
Hi @SD1982,

It is ok with PS1.7.6.7.
![image](https://user-images.githubusercontent.com/16067358/89906812-25226f80-dbec-11ea-86e4-95d10a25d1eb.png)

Thanks!

[2020-08-11 14:03] #20531 closed, assigned to nobody

[2020-08-11 14:05] ngodefroy commented on #20531
Duplicate of #12814

[2020-08-11 14:25] khouloudbelguith commented on #20495
@marekjedrzejewski, since it is similar, I need to close this ticket.
Your ticket is a duplicate of #13024
So, I close it.
Thanks!

[2020-08-11 14:25] #20495 closed, assigned to nobody

[2020-08-11 14:25] khouloudbelguith commented on #20495
Duplicate of #13024

[2020-08-11 14:27] khouloudbelguith commented on #13024
Hi!

As reported by @marekjedrzejewski, you can use his custom module to test this issue.

[langtest.zip](https://github.com/PrestaShop/PrestaShop/files/5057501/langtest.zip)

Could be fixed by https://github.com/PrestaShop/PrestaShop/pull/20537

Thanks @marekjedrzejewski

[2020-08-11 14:33] ngodefroy commented on #20527
As discussed with @marionf it's not an issue in this case, thus, Im closing it.

[2020-08-11 14:33] #20527 closed, assigned to nobody

[2020-08-11 14:46] khouloudbelguith commented on #19916
Hi @roberto3211,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-11 14:46] #19916 closed, assigned to nobody

[2020-08-11 14:47] khouloudbelguith commented on #16984
Hi @enriquetortola,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-11 14:47] #16984 closed, assigned to nobody

[2020-08-11 15:05] ngodefroy opened #20545 "[FO] [INVOICE] display of "quantité" is not correctly aligned"
#### Describe the bug

On an pdf invoice, "Quantité" is not correctly aligned with the columns

#### Expected behavior

Quantité should be written instead of "Quantit
é"

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO and create an order
2. Go to the BO => go to the detail of the previously created order
3. Generate the invoice for this order
4. See error

**Screenshots**

[2020-08-11 15:12] khouloudbelguith commented on #20545
Hi!

I manage to reproduce the issue with PS1.7.6.7.

Thanks!

[2020-08-11 15:15] matks commented on #20452
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20477

[2020-08-11 15:15] #20452 closed, assigned to Progi1984

[2020-08-11 15:22] khouloudbelguith commented on #19013
Hi @SD1982,

This issue is fixed during the migration.
It is fixed in the next release 1.7.8.0.
![image](https://user-images.githubusercontent.com/16067358/89915850-2d33dc80-dbf7-11ea-9f11-efe37a84c0d9.png)

Thanks!

[2020-08-11 15:22] #19013 closed, assigned to nobody

[2020-08-11 15:28] khouloudbelguith commented on #17759
Hi @sharkooon,

This issue is fixed during migration.
It is fixed in the next release 1.7.8.0.
![image](https://user-images.githubusercontent.com/16067358/89916577-0fb34280-dbf8-11ea-99b5-0c520fc4ca57.png)

Thanks!

[2020-08-11 15:28] #17759 closed, assigned to nobody

[2020-08-11 15:30] SD1982 commented on #20533
Hi @marionf I haven't try to reproduce with #20145 but i can check it if the PR is ready for QA :+1:

[2020-08-11 15:37] SD1982 commented on #20542
Hi @khouloudbelguith do you add the discount and then edit the product price or edit the product price and after add the discount ?
Because in 176 when i try to reproduce i can't because after editing a product price the "add a discount" button is not present on my side so i can't add the second discount
![2020-08-11_17-36](https://user-images.githubusercontent.com/40635814/89917610-476eba00-dbf9-

[2020-08-11 15:40] khouloudbelguith commented on #20542
@SD1982,

Just refresh the page, it should be displayed

Thanks!

[2020-08-11 15:44] matks commented on #20485
I reopen this issue as there is one missing piece => this PR https://github.com/PrestaShop/PrestaShop/pull/20547

[2020-08-11 15:57] eternoendless commented on #19242
Unfortunately this refactor is taking too long and will have to be bumped for 1.7.8 in order to unblock 1.7.7

[2020-08-11 16:08] marionf commented on #20536
Ping @MatShir

[2020-08-11 16:12] Hlavtox commented on #20535
@khouloudbelguith The white box is a matter of template, ok.

The bigger question is still in, there is a mess in it, I think.

There are sort ways in BO that are not available in FO anywhere and so on.

[2020-08-11 16:12] marionf commented on #20295
Duplicate of #20254

[2020-08-11 16:12] #20295 closed, assigned to nobody

[2020-08-11 16:33] jolelievre commented on #20533
I tested it, the PR #20145 fixes this issue

[2020-08-11 17:19] jonpontet commented on #20531
@ngodefroy ah sorry for the duplication - I did not find this bug when looking before submitting this.

[2020-08-11 17:25] jonpontet commented on #12814
This is "still" outstanding right ?

Be great to get this "minor" bug that has large ramifications for so many ...fixed !

I see a lot of chatter but very little movement :(

[2020-08-11 17:29] jolelievre commented on #20542
I confirm that the PR https://github.com/PrestaShop/PrestaShop/pull/20145 also fixes this bug :)

[2020-08-11 18:17] roberto3211 commented on #19916
Thanks to everyone.
I share here the solution I found to help anyone with the same issue.
My service Provider have a software Firewall which was blocking the port I was trying to use.
The detection software "open port finder" showed the port open and it was confusing me, but when I asked to my provider they confirmed they had to modify the firewall configuration.

[2020-08-11 18:19] marionf commented on #20533
I removed this issue of the kanban to keep only the EPIC: https://github.com/PrestaShop/PrestaShop/issues/20161 as the same PR fixes all the issues

[2020-08-11 18:19] marionf commented on #20542
I removed this issue of the kanban to keep only the EPIC: https://github.com/PrestaShop/PrestaShop/issues/20161 as the same PR fixes all the issues

[2020-08-11 18:20] marionf commented on #20010
I removed this issue of the kanban to keep only the EPIC: https://github.com/PrestaShop/PrestaShop/issues/20161 as the same PR fixes all the issues

[2020-08-11 18:20] marionf commented on #19490
I removed this issue of the kanban to keep only the EPIC: https://github.com/PrestaShop/PrestaShop/issues/20161 as the same PR fixes all the issues

[2020-08-11 18:22] marionf commented on #20161
I added the must-have label as the PR fixes many major regressions

[2020-08-11 19:25] kont-ta-prova opened #20548 "Issue with adding new language - Maltese"
#### Describe the bug

Unable to load the translation modules for a newly added language, Maltese.

#### Expected behavior

Translation modules load and I'm able to translate the platform into Maltese. Other languages work properly (for example, Polish)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Click on International -> Localisation -> Languages -> Add New Language

2. Fill in

[2020-08-12 07:19] syffs opened #20550 "javascript prestashop.cart goes undefined after quantity update"
#### Describe the bug

javascript `prestashop.cart` goes undefined after quantity update from cart.

#### Expected behavior

`prestashop.cart` should update according to cart content on cart update.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to any prestashop 1.7.6.3 shop (I haven't tested below, which doesn't mean it's working)
2. Add a product to cart
3. From cart, with de

[2020-08-12 07:48] khouloudbelguith commented on #20550
Hi @syffs,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/17074 to fix the issue.
Your ticket is a duplicate of #16665
So, I close it.
Thanks !

[2020-08-12 07:48] #20550 closed, assigned to nobody

[2020-08-12 07:48] khouloudbelguith commented on #20550
Duplicate of #16665

[2020-08-12 07:58] sebastian-marinescu commented on #17172
Hi @Leo-pold-02,

did you figure out where the

error was coming from and do you maybe have a solution to this?

[2020-08-12 08:12] khouloudbelguith commented on #20535
@Hlavtox, thanks for your feedback.
Ping @PrestaShop/prestashop-product-team what do you think?
Can we add the missing order methods in the FO?
![image](https://user-images.githubusercontent.com/16067358/89991569-4fc00700-dc84-11ea-84fe-8e095759c0a0.png)

Thanks!

[2020-08-12 08:25] matks commented on #20520
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20524

[2020-08-12 08:25] #20520 closed, assigned to matks

[2020-08-12 08:35] NeOMakinG commented on #9919
What about this one ? I remember fixing the list/product page problems where you change combination/colors and it update wrong products by adding a more precise selector, but there was a bug somewhere that needed to be investigated by a backend dev (where we had a 500 on a http request), but I doubt this is relevant and maybe it's not here anymore!

[2020-08-12 08:41] marionf commented on #20535
Hello @Hlavtox

The default order option selected in the BO corresponds to the "relevance" option in FO (selected by default when you opens a category in FO)
So, if you select for exemple "Product add date" in your BO, your products in categories in FO will be sorted this way when "relevance" is selected.
But your visitors can choose to sort products another way (by name or price)
Product date, br

[2020-08-12 08:47] khouloudbelguith commented on #20548
Hi @john-bonello,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.7.
I create the exact language
![image](https://user-images.githubusercontent.com/16067358/89994247-24d7b200-dc88-11ea-9ce1-753fa397f530.png)

I updated the file `app/Resources/all_languages.json`
[code]

When I'm trying to update the Maltese language, I have an exception
![image](https://user-images.githubuser

[2020-08-12 08:49] NeOMakinG commented on #18837
@PrestaShop/prestashop-qa This should be tested since the smarty upgrade on 1.7.7 and develop branch, in order to close this issue!

[2020-08-12 08:50] Hlavtox commented on #20535
@marionf Thats not true! Relevance is position inside of category. The sort you get when loading the page is the one from BO.

First image is when loading page (product quantity order) and the second one is relevance (product position order).

![D0D98CA1-5F66-4AC4-9671-E9C28D9C7C1D](https://user-images.githubusercontent.com/6097524/89995077-513ffe00-dc89-11ea-82dc-dca81b81f9b6.png)

![8251774F-E99

[2020-08-12 09:03] NeOMakinG commented on #20535
@marionf you sure that product add date and product brand doesn't make sense at all in FO ?

I mean, as an user, I could be interested about sorting products by brands or by added date in order to see recents products or even sorter by brands to search for a specific brand or juste sort it !

There is another problem on the "added date", we never show the added date on product pages, sorting by it

[2020-08-12 09:08] marionf commented on #9919
I can't reproduce this issue on 1.7.7.x, @khouloudbelguith could you try to reproduce it on 1.7.7.x ?

[2020-08-12 09:26] NeOMakinG commented on #20372
@matks you sure ?

It seems that https://github.com/PrestaShop/PrestaShop/pull/20381/files doesn't touch ps_linklist at all!

[2020-08-12 09:28] matks commented on #20372
Yes I'm sure 😄

https://github.com/PrestaShop/PrestaShop/pull/20381/ has nothing to do with this issue. A past mistake probably linked them together. The solution is in https://github.com/PrestaShop/ps_linklist/pull/102

[2020-08-12 09:45] marionf commented on #20535
You're right, sorry I missed that

About the brand, this is possible to search by brand through faceted search module

Unless if you call this option "News"

Anyway, I think there is a study to do on this topic !

[2020-08-12 09:48] khouloudbelguith commented on #18837
Hi @nico159, @NeOMakinG,

It is fixed in the 1.7.7.x branch.
I attached a screen record
https://drive.google.com/file/d/1EYXmI4-AMWXEzU02LQamVqJIn6AVuBMi/view?usp=sharing
I will close the issue since it is fixed.

Thanks!

[2020-08-12 09:48] #18837 closed, assigned to nobody

[2020-08-12 09:51] PierreRambaud commented on #20109
Maybe, I will have a check :)

[2020-08-12 09:52] PierreRambaud commented on #20372
We decided to fix the code in both side, in the module and in the Core :)

[2020-08-12 09:56] khouloudbelguith commented on #15358
Hi @rvalery,

It is fixed in the 1.7.7.x branch.
I attached a screen record
https://drive.google.com/file/d/1EYXmI4-AMWXEzU02LQamVqJIn6AVuBMi/view?usp=sharing
Your ticket is a duplicate of #18837
So, I close it.
Thanks !

[2020-08-12 09:56] #15358 closed, assigned to nobody

[2020-08-12 09:57] khouloudbelguith commented on #15358
Duplicate of #18837

[2020-08-12 10:08] khouloudbelguith commented on #9919
Hi @marionf,

No, I manage to reproduce the issue with 1.7.7.x branch.
I attached a screen record
https://drive.google.com/file/d/1RmI6AndFP9OhVyHPNHyb69Qxg8BP504W/view?usp=sharing

Thanks!

[2020-08-12 10:11] khouloudbelguith commented on #19040
Hi @Natthew99,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-12 10:11] #19040 closed, assigned to nobody

[2020-08-12 10:19] rvalery commented on #15358
That is a good news, I will update to 1.7.7.x to test it.
Thanks !

[2020-08-12 10:46] sarahdib opened #20552 "When reseting ps_customersignin the module isn't hooked anymore in FO"
#### Describe the bug

When reseting ps_customersignin the module isn't hooked anymore in FO

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'the BO -> module manager
2. Search ps_customersignin
3. Click on reset
4. Go to FO
5. See that the module isn't hooked anymore

**Screenshots**

https://drive.google.com/file/d/1YLSILr3OnNyAj4mGjCC2aoxqdokuwDBz/view

#### Additional info

[2020-08-12 10:57] khouloudbelguith commented on #20552
Hi @sarahdib,

I manage to reproduce the issue with PS1.7.6.7, develop branch, and ps_customersignin v2.0.2.
![image](https://user-images.githubusercontent.com/16067358/90007582-49895500-dc9b-11ea-9303-90a88699dd79.png)

Related to: https://github.com/PrestaShop/PrestaShop/issues/16968

Thanks!

[2020-08-12 11:50] #20428 closed, assigned to Progi1984

[2020-08-12 12:19] NeOMakinG commented on #9919
Thanks @khouloudbelguith.

Just created 2 PR for this, one is for 1.7.7.x, the other is for develop (as the selector system changed between these 2 versions)

[2020-08-12 12:25] matks commented on #20485
Fixed in the Core thansk to https://github.com/PrestaShop/PrestaShop/pull/20547

[2020-08-12 12:25] #20485 closed, assigned to matks

[2020-08-12 12:51] #20534 closed, assigned to matthieu-rolland

[2020-08-12 13:07] Robin-Fischer-PS opened #20557 "Free Shipping voucher value not updated in Create Order on BO"
#### Describe the bug

In create order on BO, when there is a free shipping voucher added, it's value is not modified when the carrier is changed.

#### Expected behavior

Free shipping voucher value should be updated each time the carrier is modified.

This was OK on 1.7.6.7.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Discount > Create a discount with Free

[2020-08-12 13:12] matks commented on #18945
Fixed by https://github.com/PrestaShop/PrestaShop/pull/12578

[2020-08-12 13:12] #18945 closed, assigned to eternoendless

[2020-08-12 13:37] denishpatel21 opened #20558 "inovice issue on 1.7.6.7 after migrating data from 1.5"
I'm having issue with invoice. It's not adding product tax details in tax tab like shipping tax details. It was working ok on 1.5 version. Also in the product tab tax rate repeating multiple times. Can you please help me to figure it out. Does is there wrong configuration or any other issue.

Also I have just noticed that customer placed order with multiple items via PayPal free module. I have rec

[2020-08-12 13:46] khouloudbelguith commented on #20558
Hi @denishpatel21 ,

Thanks for your report.
What is the exact tool did you use to make the upgrade from PS1.5 to PS1.7.6.7?

Thanks!

[2020-08-12 13:47] khouloudbelguith commented on #20558
@denishpatel21, If your module is PayPal Official, please contact support team on Addons : https://addons.prestashop.com/en/contact-us?id_product=1748
Thank you!

[2020-08-12 13:56] khouloudbelguith commented on #20557
Hi @Robin-Fischer-PS,

I manage to reproduce the issue with 1.7.7.x branch
![image](https://user-images.githubusercontent.com/16067358/90023723-59616300-dcb4-11ea-9c6c-0fab1d63cbfb.png)

It is ok with PS1767

Thanks!

[2020-08-12 14:11] denishpatel21 commented on #20558
I found issue with bank wire transfer also. I have noticed with test order and found that it shows only one product on order confirmation page + back office order page and in invoice as well. But the total amount shows with all total of all added products in the cart. i have received email and in that it showing all ordered products.

[2020-08-12 14:14] PierreRambaud commented on #20109
@Hlavtox Can you check my pull request, is it what you need?

[2020-08-12 14:20] khouloudbelguith commented on #20558
@denishpatel21, What is the exact tool did you use to make the upgrade from PS1.5 to PS1.7.6.7?

Thanks!

[2020-08-12 14:29] Robin-Fischer-PS opened #20560 "Error in create order when disabling free shipping"
#### Describe the bug

In BO > Create order, when an order has a free shipping voucher manually entered, if you try to uncheck the "free shipping" button in the Shipping block, an error is displayed.
If the free shipping button is set to ON again, a second free shipping voucher is created.

#### Expected behavior

When toggling OFF the free shipping button, no error should be displayed, and the vo

[2020-08-12 14:39] denishpatel21 commented on #20558
i had migrated data on fresh setup with https://addons.prestashop.com/en/data-migration-backup/32298-prestashop-migrator-safely-upgrade-prestashop-to-17.html this module but I don't it because of this module. As issue start from the order confirmation page.

[2020-08-12 14:42] compagniadelmontale opened #20561 "Backoffice doesn't work after ugrade to 1.7.6.7"
Hi to everyone,
my
Prestashop version is 1.7.6.7 from 1.7.6.4
php 7.2.32

after upgrade I can't get in to back office.
the log in page is reloading every time without any error.

- I cleaned manually the cache.
- cancelled cookies and browser cache
- debug mode no error

front office works perfectly, I don't know what I can do.

I tried to read old issues about this, but no solutions found!
![DOPO

[2020-08-12 14:43] Hlavtox commented on #20109
@PierreRambaud You're the man!!! Works 🚀

[2020-08-12 14:49] Hlavtox commented on #20535
@marionf @NeOMakinG

Another thing. @dgonzalez360 added a sorting by sales to faceted search https://github.com/PrestaShop/ps_facetedsearch/pull/172, but this order is missing from BO list of sort orders. What if an user wants to select it by default? He cannot. We need to unify it and make it configurable.

[2020-08-12 14:50] Hlavtox commented on #20535
Ping @matks @eternoendless @marionf

What if we do it like this?

![sorting](https://user-images.githubusercontent.com/6097524/90030034-db08bf00-dcbb-11ea-87c3-55d05cd6874c.JPG)

[2020-08-12 14:52] khouloudbelguith commented on #20561
Hi @compagniadelmontale,

Did you use a custom module for example `pagespeed` module?
Your issue seems to be similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/14371#issuecomment-509956780

THanks!

[2020-08-12 14:54] denishpatel21 commented on #20558
I have found below error log in backoffice after ordering multiple products.
Frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart

[2020-08-12 15:01] khouloudbelguith commented on #20558
@denishpatel21,

This is a different issue as reported here: https://github.com/PrestaShop/PrestaShop/issues/9866

I did not manage to reproduce the issue with PS1.7.6.7.
![image](https://user-images.githubusercontent.com/16067358/90031256-4ef79700-dcbd-11ea-9ba4-8903cbbbcae3.png)
![image](https://user-images.githubusercontent.com/16067358/90031009-0809a180-dcbd-11ea-88ee-56744611dda2.png)

It mus

[2020-08-12 15:01] #20558 closed, assigned to nobody

[2020-08-12 15:22] eternoendless commented on #18647
## Status update

Over 130 PRs have been merged to 1.7.7.x since Beta 1 was built. Even though quite a lot of bugs have been fixed (particularly in the Orders page), new bugs keep popping up, so we're still not 100% confident about the branch's stability.

Since Beta 1 is now three months old, we have decided to issue a second beta build that contains all fixes merged since. This will give us more

[2020-08-12 15:24] Hlavtox commented on #19956
@matthieu-rolland @matks @Progi1984 @jf-viguier

1. Add this to cart.
2. Refresh page and see the output. No is_gift=true anywhere.
http://test.trendo.cz/art/5-today-is-a-good-day-framed-poster.html

[2020-08-12 15:45] #17716 closed, assigned to nobody

[2020-08-12 15:45] matks commented on #17716
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17712

[2020-08-12 15:54] matks commented on #20498
This will stay true, the 3000 times will be performed. However following your suggestion you aim to be able to use an early `return;` statement to make these 3000 calls less expensive.

But this will shutdown _all_ action hooks. @PululuK usecase is rather "I know I am going to perform action A (action A is, here, a massive product import) and I know modules B, C and D do not care about this action

[2020-08-12 15:57] matthieu-rolland commented on #19956
@Hlavtox I'm not familiar with this feature, but it just does work when I debug in the backend, whether it is in the cart, or on the product page, without doing anything special. Am I missing something obvious? I'm reopening the issue, I'll take the time time to debug this (could you tell me where exactly do you call `$this->context->cart->getProductsWithSeparatedGifts()` from ? )

<img width="465

[2020-08-12 16:11] matthieu-rolland commented on #19956
@hlavtox, about your second capture, where does it come from ?

I don't have this in my codebase, on 1.7.7:

<img width="798" alt="Capture d’écran 2020-08-12 à 18 10 37" src="https://user-images.githubusercontent.com/1784781/90039615-2d031200-dcc7-11ea-8e5a-44cfe5b6eb88.png">

(`classes/Cart.php:767`)

[2020-08-12 16:13] matthieu-rolland commented on #19956
@Hlavtox see this commit:

https://github.com/PrestaShop/PrestaShop/commit/9d5c1e04bdcba22b84671e3c167bbe86f4401d51

Your 1.7.7 might not be up to date.

[2020-08-12 16:15] matthieu-rolland commented on #19956
@Hlavtox it seems like your 1.7.7 is not up to date, your second capture does not match the code of this method on 1.7.7:

https://github.com/PrestaShop/PrestaShop/blob/4ad2a245ad117db10eeec696537b6808d5666a03/classes/Cart.php#L767

[2020-08-12 16:23] lexmagnus opened #20562 "Problems on install"
#### Describe the bug

I'm getting error during prestashop installation: "Trying to access array offset on value of type null". I don't change the code.
I already try 3 differents releases. In previous step of configuration I tried connect to DB and says that connection is ok.

#### Expected behavior

I expected a successfully installation

#### Steps to Reproduce

Steps to reproduce the behavior:

[2020-08-12 16:40] Hlavtox commented on #19956
@matthieu-rolland I will confirm with the latest code and let you know. But if its fixed - good!

[2020-08-12 16:42] matthieu-rolland commented on #19956
yeah, right

[2020-08-12 16:50] daghb opened #20563 "Official beta/rc docker image wanted"
#### Is your feature request related to a problem?

Yes. I use Prestashop 1.7.6.x with the official docker image and would love to work with 1.7.7.x. However, I cannot find a supported beta version on docker.

#### Describe the solution you'd like

For every version, regardless of whether it is an official release, a beta, a release candidate or whatever, there should exist a tested docker image w

[2020-08-12 17:28] PierreRambaud commented on #20563
Hi @daghb
This is a good suggestion, we will do it with the next beta :+1:

[2020-08-12 17:33] #20310 closed, assigned to NeOMakinG

[2020-08-12 19:34] SimonGrn commented on #20562
Hello,

PrestaShop 1.7.6.x is only compatible with PHP 7.2 maximum. You need to downgrade your PHP version.
You can check the requirement [here](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/).

I close this issue, thanks for your understanding.

[2020-08-12 19:34] #20562 closed, assigned to nobody

[2020-08-12 19:35] daghb commented on #20563
Thanks, that made my day!

[2020-08-12 20:26] Hlavtox opened #20564 "[1.7.7] $cart_presenter->present($cart, true) - wrong totals"
### Steps to Reproduce

1. Make product A with price 100 CZK.
2. Make product B with price 20 CZK.
3. Make a cart rule that gives product B as a gift to all orders.
4. Add product A to cart. You will get product B automatically.
5. Add product B to cart normally.
6. Output content of this somewhere on the website.
[code]
or change `'cart' => $this->cart_presenter->present($this->context->cart),` t

[2020-08-12 20:28] #16486 closed, assigned to nobody

[2020-08-12 20:30] Hlavtox commented on #19956
@matthieu-rolland @matks Fixed in current 1.7.7 code! You were right. 🚀

[2020-08-12 20:30] #19956 closed, assigned to nobody

[2020-08-13 07:28] ks129 opened #20566 "Tools not found when running PrestaShop with Docker for Mac"
#### Describe the bug

When trying to run PrestaShop develop branch with Docker for Mac, then I get:
[code]
this error is not showing in Linux. Tools.php exist in classes folder.

#### Expected behavior

Should install PrestaShop successfully.

#### Steps to Reproduce

Steps to reproduce the behavior:

Docker for Mac version: 2.3.0.4

1. Run `docker-compose up` in `develop` branch in Mac (Docker f

[2020-08-13 07:58] marionf commented on #16486
Hello @Hlavtox is this issue fixed ?

[2020-08-13 08:04] marekjedrzejewski commented on #13024
Fix in #20537 was very naive and breaks if there is more than one string. To test this it's best to add some more strings, to have more robust solution.

[2020-08-13 08:35] sarahdib commented on #20564
Hello,

I try with the 1.7.7.x branch and I didn't reproduce :
<img width="1163" alt="Capture d’écran 2020-08-13 à 10 33 08" src="https://user-images.githubusercontent.com/3034677/90112583-7b102800-dd50-11ea-82e2-0fc95eaf47bb.png">

It seems that your issue is fixed. I close this issue feel free to open a new one if you reproduce this again.

Thank you!

[2020-08-13 08:36] sarahdib commented on #20566
@PrestaShop/prestashop-core-developers Could you check please this error on docker for mac ?
Thank you :)

[2020-08-13 08:41] Hlavtox commented on #20564
@sarahdib You did not reproduce it.

[2020-08-13 08:41] Hlavtox commented on #20564
Ping @matks @eternoendless

[2020-08-13 08:42] sarahdib commented on #19810
@Hlavtox
could you check the [issue](https://github.com/PrestaShop/PrestaShop/issues/15223#issuecomment-523980939) mentionned by @khouloudbelguith ?
Thank you :)

[2020-08-13 08:48] sarahdib commented on #20146
@Fredcor13

This issue is a duplicate of #15062

I close this issue since there is a fix available, feel free to open a new one if it's needed.

Thank you :)

[2020-08-13 08:48] #20146 closed, assigned to nobody

[2020-08-13 08:49] matks commented on #13943
We need to allow module developers to be able to put JS files like
[code]
very easily. Without having to setup a webpack config.

[2020-08-13 08:50] sarahdib commented on #20317
Hello

Since we had no news from you. I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you :) !

[2020-08-13 08:52] Hlavtox commented on #19810
@sarahdib @khouloudbelguith The issue has the same cause, but was not fixed. Actually, this issue was introduced by fixing the related issue.

[2020-08-13 08:56] jf-viguier commented on #20564
Why closing it so fast ?

[2020-08-13 09:04] eternoendless commented on #20564
@jf-viguier it's part of the normal procedure we use to avoid having too many non reproductible issues open.

That said, looks like there was a mistake when trying to reproduce, we're investigating.

[2020-08-13 09:05] jf-viguier commented on #20564
Don't forget $shouldSeparateGifts to true

[2020-08-13 09:06] matks commented on #20564
When a bug is reported, the QA team attempts to reproduce it. Here it could not be reproduced.

This does not mean the conversation ends there
- a closed issue can still be discussed
- if new items are added and the bug can be reproduced we can re-open the issue

"The issue is closed" does not mean "this topic is closed" 😄  . Conversation and exploration can continue.

It's simply the only way to

[2020-08-13 09:08] Hlavtox commented on #16486
@marionf No, realized it was already open when I made a new one.

[2020-08-13 09:10] sarahdib commented on #20564
@Hlavtox sorry I check with a member of the core team :)

[2020-08-13 09:12] marionf commented on #16486
You mean it's a duplicate ?

[2020-08-13 09:26] PierreRambaud commented on #13943
It's not possible because `@components` and paths are related to the `admin-dev/themes/new-theme` directory, you can't mix something that is not in the same environment.

By the way, the best way to allow people to reach our components and extensions is to do it is something like this:
[code]

[2020-08-13 09:37] matks commented on #13943
No worries, I did not mean _exactly_ it to be look like this.

What I wanted to mean is: "if module developer does not use any custom JS (so he uses onyl JS components already available in prestashop then he should be able to enable them with a single JS file, no dedicated webpack config"

[2020-08-13 09:39] matthieu-rolland commented on #20564
I managed to reproduce this issue on 1.7.7, using the same values as @Hlavtox :

<img width="418" alt="Capture d’écran 2020-08-13 à 11 38 09" src="https://user-images.githubusercontent.com/1784781/90119164-83b92c00-dd59-11ea-8ae7-4ed97d7fd3f6.png">

[2020-08-13 09:39] khouloudbelguith opened #20568 "BO - Orders page - Cannot add a pack product when "Decrement products in pack only." option is selected"
#### Describe the bug

In the BO => Order => Order details page => when we try to add a pack ("Decrement products in pack only." is selected) => an exception is displayed in the console

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Catalog => Products page => Create a pack with "Decrement products in pack only." is selected
![image](https://user-images.githubuserconten

[2020-08-13 09:45] matthieu-rolland commented on #20564
@sarahdib the same issue exists on 1.7.6, it's not a regression.

[2020-08-13 10:07] khouloudbelguith commented on #18237
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20145

[2020-08-13 11:34] willgo34 opened #20572 "Bug reorganize product"
Hello, I found a bug  on 2 of my prestashop :
If you try to reorganize products it doesn't work anymore.
This video will show you the problem : https://www.loom.com/share/330da75251b14a319c7c4937953fa869
Do you have the same problem ?

[2020-08-13 11:36] khouloudbelguith opened #20573 "BO - Orders page - Wrong rounding price displayed in the Editing product interface"
#### Describe the bug

In the BO => Order page => a wrong rounding price displayed in the Editing product interface

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a `ProductA` with 10 euro tax included
2. Create an order with the last product created and generate an invoice `invoice1`
3. In the BO => Order details page => Edit the `ProductA`'s price = 100 euro tax included
4

[2020-08-13 11:57] sarahdib commented on #20572
@willgo34

Please don't delete the template when you submitting an issue.

I close this issue, feel free to open a new one using the original template.

Thank you

[2020-08-13 11:57] #20572 closed, assigned to nobody

[2020-08-13 12:00] sarahdib commented on #20572
Duplicate of #15291

[2020-08-13 12:05] NeOMakinG commented on #13943
I'm not against permitting it, but which real front-end developer would not use a compiler ?

I would not recommend to use the code @PierreRambaud sent before without any compiler because it will be compatible with only latest modern browsers versions, and not using this syntax is a bit painfull too.

I think we should educate developers about this, at least by providing a webpack configuration th

[2020-08-13 12:14] ngodefroy opened #20574 "JQMIGRATE is deprecated in console appears multiple times"
#### Describe the bug

When I navigate on the FO with an open console, I can see multiple JQMIGRATE is deprecated mentions

#### Expected behavior

Update the Jquery functions related

#### Steps to Reproduce

Steps to reproduce the behavior:

1. On the FO, open your console and go throug the website
==> The mentions of JQMIGRATE appears

**Screenshots**

![Capture d’écran 2020-08-13 à 13 53 43]

[2020-08-13 12:18] jonpontet commented on #14836
Be great to get this fixed guys - we too have the same issue with our FR store (which has just the 1 language!)

I have to edit manually robots.txt - if I press the button to re-create, everything is lost !

[2020-08-13 12:21] matks commented on #13943
There are a lot of module/theme developers in PrestaShop community that are more interested on back-end stuff so they "just want to know where I need to put my JS" and get done with it. This does not mean there are no front-end developers who love compilers, but we need to address both profiles 😄  needs.

Also the core of my idea is: I expect most modules that add some custom JS not too exotic to

[2020-08-13 12:24] jonpontet opened #20575 "Alternate link hreflang exposes Ugly URLs by modules"
#### Describe the bug

We have just upgraded to 1.7.6.5. We have a 1 store, 1 language setup.

We correctly have our alternate link tag rendered in the HEAD for each page, however for every page that isn't a product or the homepage, the value is the ugly (not pretty) permalink URL.

We do not want this URL to be seen by Google (or anyone) - we want the pretty permalink URL instead as I am sure eve

[2020-08-13 12:27] willgo34 opened #20576 "Reorganize products"
#### Describe the bug

When you try to reorganize products in a category and change the way the are appearing, when you click on save, a bug do dot save your modifications

#### Expected behavior

When you change the order of products, you can save and apply the new organisation

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Catalog->Product'
2. Click on 'Filter by category'

[2020-08-13 13:03] matks commented on #20478
It seems this issue is actually a duplicate of https://github.com/PrestaShop/PrestaShop/issues/19842 which is already fixed

[2020-08-13 13:05] #20478 closed, assigned to nobody

[2020-08-13 13:06] 8ternity commented on #16004
@LouiseBonnard @Progi1984 Im sorry to write again, but i have problem reported with French customers that some importants parts are not translated in French. Here in Canada, in Quebec, we have the French Office Law that are obligated to offer to Quebec's residents a website available in French. Since i report the problem last year, i do need that you focus on resolving this issue and find a soluti

[2020-08-13 13:27] khouloudbelguith opened #20577 "BO - Orders page - When updating a product, we can't change the invoice selected"
#### Describe the bug

The order has several invoices, when we try to update a product and change the invoice selected => nothing happens

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add a product1 to cart and proceed checkout
2. Go to BO => Orders => Edit the last order created
3. Generate an invoice
4. Add a new product2 with creating a new invoice
5. Edit the product2
6. try t

[2020-08-13 13:28] matks opened #20578 "In French installer, bottom link "Contactez-nous" returns a 404 page when clicked"
#### Describe the bug

In French installer, bottom link "Contactez-nous" returns a 404 page https://www.prestashop.com/fr/contact-us when clicked

#### Expected behavior

Link returns a valid page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PrestaShop, select French as installer language
2. See link "Contactez nous" in the bottom (see screenshot)
3. Click link
4. You rea

[2020-08-13 13:28] matks commented on #20578
Tested on PS 177 but I guess same for develop

[2020-08-13 13:32] khouloudbelguith commented on #20577
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/18721

[2020-08-13 13:32] #20577 closed, assigned to nobody

[2020-08-13 13:32] lmeyer1 opened #20579 "Unable to switch template for a single store in a multistore setup"
#### Describe the bug

In a multistore installation, I go to *Appearance - Themes*, click on *Use this theme*, and I get a Error 500.
Nevertheless, the theme is switched for the current store, but on the FO, it displays incorrectly due to incoherent CSS.

The log has these details:
[code]

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable multistore, configure 2 stores.
2. Insta

[2020-08-13 13:37] yannicka opened #20580 "Incorrect amount with wire payment (always at 0)"
#### Describe the bug

Since I've updated the module, the amount to pay is always at 0.

The problem seems to come from this commit: https://github.com/PrestaShop/ps_wirepayment/pull/21/files

This line is strange because it subtracts the total by itself.

![image](https://user-images.githubusercontent.com/22885898/90140085-875cab00-dd79-11ea-8492-168f32cd447b.png)

#### Expected behavior

Get the

[2020-08-13 14:17] matks commented on #20505
@elboletaire
I tried with the following test module:
[code]

It works fine 🤔  and your work-around works fine too.

Would it be possible
- to retry after clearing Symfony cache (especially the dumped container) ?
- to retry on a fresh 1.7.7.x instance ?

[2020-08-13 14:25] ebonit opened #20582 "Clearing the cache results in a blank page"
#### Describe the bug

After a clean install I go to the backoffice and set it to debug in menu performance. Then I immediately do a clear cache. That gives me a blank page. The frontend still works.

when I remove the var/cache/dev directory on the commandline, all works fine again.

#### Expected behavior

the backoffice keeps working.

#### Steps to Reproduce

Steps to reproduce the behavior:

[2020-08-13 14:28] ebonit commented on #20582
this is the content of the not remover cache dir

![Schermafbeelding 2020-08-13 om 16 26 51](https://user-images.githubusercontent.com/13302588/90146910-eb836d00-dd81-11ea-8646-4a1c6927eff8.png)

[2020-08-13 14:36] delphinelefevre opened #20583 "CSRF token invalid when trying to add a product"
I'm trying to add a product.
But i keep getting this message: The CSRF token is invalid. Please try to resubmit the form.
Some fields can not be blank he says, but they aren't.
What can I do to fix this?

[2020-08-13 14:53] PierreRambaud commented on #13943
What a shame :disappointed: Regarding this kind of comments, what not doing the same thing with PHP, continue to support the override like before because it's easier?

You should start to think about different profiles we have, and front-end developers are more important for the front-end, than back-end developers who don't want to take the effort to understand what they are trying to change.

A m

[2020-08-13 15:04] hfezvcksks commented on #20582
Prestashop 1.7.6.* requires a php version between 5.6 and 7.2: https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

I hope that helps

[2020-08-13 15:04] angerangel opened #20585 "Bug on aspect reserch: forbidden initial char on Features"
Hello,
I just discovered the following bug:

If you give a name starting with minus sign to a feature, for example "**-10/+50°C**",  it will not work the filter on the colum of aspect research in the frontend.
If you click on that feature on the frontend, it will not filter, it just refresh the page with no effects.
If you use a space before the minus sign all work well, for example:  " -10/+50°C"

[2020-08-13 15:08] matks commented on #13943
Let's not do gate-keeping 😄  everybody is welcome !

I am aware what I am suggesting does not comply with modern Javascript best practices. I am rather suggesting a system where people _integrate_ their code inside something bigger (prestashop) and indeed that create multiple issues
- one cannot build modules assets without the module being inside the `modules` folder
- it totally depends on Prest

[2020-08-13 15:14] matks commented on #13943
I am willing to bet that I will find modules with webpack configuration in production :trollface:

Don't be like [this guy](https://phpunit.readthedocs.io/en/9.3/installation.html#webserver). Let's acknowledge that current software world has lot of senior developers and lot of junior developers. And lot of good developers, senior or junior, and lot of bad developers, senior or junior.

**We know p

[2020-08-13 15:16] SimonGrn commented on #20576
Hello,

as stated by @sarahdib on your precedent issue (#20572), this is a duplicate of #15291.
I will close this issue.

[2020-08-13 15:16] #20576 closed, assigned to nobody

[2020-08-13 15:17] SimonGrn commented on #20576
Duplicate of #15291

[2020-08-13 15:21] sarahdib commented on #20575
@PrestaShop/prestashop-product-team Could you check this SEO issue ?

[2020-08-13 15:24] ebonit commented on #20582
with php7.2 The issue remains but is somewhat better. When I do a clear cache with debug enabled I receive an exception instead of a php error stack in the php error log

 (1/1) FatalErrorException

Compile Error: require(): Failed opening required '/home/usoa/domains/unitedseeds.ericbb.nr1net.corp/public_html/var/cache/dev/ContainerBrrykux/removed-ids.php' (include_path='/home/usoa/domains/united

[2020-08-13 15:27] SimonGrn commented on #20583
Dear @delphinelefevre ,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2020-08-13 15:27] #20583 closed, assigned to nobody

[2020-08-13 15:27] ebonit commented on #20582
Server information Linux #1 SMP Tue Jan 28 14:11:45 UTC 2020 x86_64

Server software version: Apache/2

PHP version: 7.2.27

Memory limit: 128M

Max execution time: 30

Upload Max File size: 64M

[2020-08-13 15:28] sarahdib commented on #20580
@yannicka
The problem is fixed with the last version of the module and prestashop.
<img width="1048" alt="Capture d’écran 2020-08-13 à 17 27 24" src="https://user-images.githubusercontent.com/3034677/90154322-4620c700-dd8a-11ea-8ca6-395fa3892a95.png">

I close this issue feel free to open a new one if you reproduce this issue with the last version.

Thank you :) !

[2020-08-13 15:28] #20580 closed, assigned to nobody

[2020-08-13 15:29] PierreRambaud commented on #13943
This means you need to change the Core code to integrate modules, not the opposite. And because modules are separated app, and webpack configuration is not in production, you can't think like that. You should think about features, not code, the "how" is something different. And like any other things we are trying to implement in the Core, we shouldn't take an ugly shortcuts.

This is why we are ta

[2020-08-13 15:34] ebonit commented on #20582
and finally I tried php 7.1 That seems to have solved this issue.
clearing the cache works as expected. no errors in teh error_log and no thrown exception.

Server information Linux #1 SMP Tue Jan 28 14:11:45 UTC 2020 x86_64

Server software version: Apache/2

PHP version: 7.1.33

Memory limit: 128M

Max execution time: 30

Upload Max File size: 64M

[2020-08-13 15:46] ebonit commented on #20582
with PHP5.6 I keep running into permission problems. for instance all directories are 755 but php5.6 expects them to be 777
this applies to the var/cache directories and the var/logs dirs. probably more..

PHP version: 5.6.40

[2020-08-13 15:51] PierreRambaud commented on #20566
If someone with a OSx can have a check :sweat_smile:

[2020-08-13 16:18] ngodefroy opened #20587 "[FO] can't change color of a product: only the url changes"
# Describe the bug

On a product page, when I change the color of an article, it doesn't change the color on the front, only the url changes

#### Expected behavior

On a product page, when I change the color of an article, I expect to see the color of that article to change to what I set.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to product page and choose a product (a tsh

[2020-08-13 16:29] matks opened #20588 "Module ps_emailalert: bad management of PS16 module uninstall"
#### Describe the bug

In theory, when ps_emailalert module (last version) is installed, if the old equivalent module mailalerts, is installed on the target shop, then the old mailalerts module is uninstalled (to avoid having 2 versions of the same module installed together).

According to @sarahdib tests and my tests this does not work.

#### Expected behavior

Theory should become practice.

Exp

[2020-08-13 16:33] matks commented on #20588
When the 2 usecases above are solved, a 3rd usecase will be available for implementation:

1. when ps_emailalert module (last version) is installed
2. if mailalerts is installed on the target shop
3. then ps_emailalert, while being installed, will attempt to uninstall module mailalerts
4. _if this uninstall of mailalerts fails_ then ps_emailalert install process should stop: the module should not

[2020-08-13 17:14] kpodemski commented on #20575
I have the same issue in my module, i needed to delete `alternative_langs` property by having additional code in my `ModuleFrontController`, the issue is that my module has some dynamic rewrites and parameters, it's not possible for PrestaShop to get a valid alternative URL language

i was thinking about adding a little fallback to `Link::getLanguageLink`, like this one:

[code]

thanks to this, w

[2020-08-13 17:31] kpodemski commented on #20498
@matks

my idea is not to change behavior of solution suggested by @PululuK - it's just another idea for similar issue, sometimes we just want to avoid situation where all dynamic hooks like `actionSomething` are fired. This:

is what i think is ok as part one, but part two would be to have possibility to turn off them completely for a moment

yes, but that's not a case, from what i understand @Pu

[2020-08-13 20:10] James7004 opened #20590 "optin is required"
Hi I have turn this off in my back office and still seem to be having issues
when customers try and check out it come up with

Error optin is required

[2020-08-14 07:05] compagniadelmontale commented on #20561
unfortunately, I don't have pagespeed module.

[2020-08-14 07:21] SimonGrn commented on #20590
Dear @James7004
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-08-14 07:21] #20590 closed, assigned to nobody

[2020-08-14 07:38] #20484 closed, assigned to NeOMakinG

[2020-08-14 07:49] khouloudbelguith commented on #18721
Hi @marionf,

After a discussion with @SD1982, this issue is regression.
It is ok with PS1.7.6.7.
https://drive.google.com/file/d/1IGjkzlGjghCsEk_xO-tR8vghjNnq2wFs/view?usp=sharing

Thanks!

[2020-08-14 08:04] SimonGrn commented on #20582
rmdir(/home/usoa/domains/unitedseeds.ericbb.nr1net.corp/public_html/var/cache/dev/): Directory not empty.

This looks like a permissions problem. Apache is under which user ? And is your directory under the correct user ?

[2020-08-14 08:15] SimonGrn commented on #20585
Hello,
thank you for your issue. Would you be so kind as to use the correct template and not delete everything, please ?
We need precise steps and screenshots.

Thank you for your understanding.

[2020-08-14 08:27] khouloudbelguith commented on #20579
Hi @lmeyer1,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.7.
I used this theme: https://github.com/prestarocket-agence/classic-rocket
I attached a screen record
https://drive.google.com/file/d/1MJ46mIplzlczXxrjztuez1jujY0y0n7N/view?usp=sharing
The FO is well displayed
![image](https://user-images.githubusercontent.com/16067358/90229616-7e6ee680-de18-11ea-8bba-5db3a

[2020-08-14 08:38] khouloudbelguith commented on #20582
Hi @ebonit,

I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
https://drive.google.com/file/d/1cKwQxCkAU6ZvlMNsdAarVWL1g2XqiD1E/view?usp=sharing
@SimonGrn said it could a permission issue or could be similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/11105#issuecomment-585609734
Also, you can follow this comment: https://github.com/PrestaShop/P

[2020-08-14 08:48] lmeyer1 commented on #20579
Thank you for your answer.
Actually there are two bugs interleaving.
- The display of `classic-rocket` in a multistore environment. I filed a separate bug [here](https://github.com/prestarocket-agence/classic-rocket/issues/181)
- The Error 500

As of the error 500 related to Prestashop Core, I reproduced it yesterday several time, but today I'm not able to reproduce.

[2020-08-14 08:48] #20579 closed, assigned to nobody

[2020-08-14 08:49] khouloudbelguith commented on #20561
@compagniadelmontale, Here are some things you can try :

1/ Clear your browser cache and your cookies

2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table

3/ Manually clear smarty cache: remove all files from /var/cache/

4/ Disable the IP check in classes/Cookie.php (this can cause many issues with dynamics IP)
=>You can comment this condition: `&& (!isset($this->_content['

[2020-08-14 08:58] khouloudbelguith commented on #20579
@lmeyer1, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-08-14 09:03] khouloudbelguith commented on #19810
Hi @Hlavtox,

I did not manage to reproduce the issue with PS1.7.6.7 and ps_facetedseach v3.5.0.
I attached a screen record
https://drive.google.com/file/d/1ZG6hWkoTUandczit_7f1RCz7V52V2Sb4/view?usp=sharing

Thanks to check and feedback.

[2020-08-14 09:09] guil182 commented on #14744
Hi @khouloudbelguith,

One year and after a fresh install of 1.7.6.7.....always the same issue and no one assigned on it ..

Regards

[2020-08-14 09:20] khouloudbelguith commented on #14744
Hi @guil182,

Sorry, not fixed yet.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-08-14 09:39] compagniadelmontale commented on #20561
1/ Clear your browser cache and your cookies - **DONE**

2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table **EXISTS**

3/ Manually clear smarty cache: remove all files from /var/cache/ **DONE**

 4/ Disable the IP check in classes/Cookie.php (this can cause many issues with dynamics IP) **AFTER COMMENT I GET A BLANK PAGE BOTH IN BO THAN IN FO**

 5/ Into the path /PROJECT_FO

[2020-08-14 09:55] khouloudbelguith commented on #20561
@compagniadelmontale,

Thanks for your feedback.
If this solution is not working => uncomment this line and try to clear cache manually by deleting all the folder into var/cache (prod & dev).

Thanks to check and feedback.

[2020-08-14 09:59] compagniadelmontale commented on #20561
Tried again, but nothing change.

[2020-08-14 09:59] compagniadelmontale commented on #20561
Tried again, but nothing change.

[2020-08-14 10:07] khouloudbelguith commented on #20561
@compagniadelmontale, could you please check this [solution](https://github.com/PrestaShop/PrestaShop/issues/20079#issuecomment-655625901)

Thanks!

[2020-08-14 10:36] Robin-Fischer-PS opened #20594 "Wrong cart rules discount on FO when using alternative currency"
#### Describe the bug

On FO, when adding a cart rule on an order placed in a currency other than the default currency, the sum displayed in the cart is wrong. I think it's converted two times instead of one : For example, a discount of 1€ should be displayed as "151,69 DZD" (1x151,69), but it's displayed "23.009,86 DZD" (1x151,69x151,69).

It was OK in 1.7.6.7.

The invoice is however OK.

#### E

[2020-08-14 10:45] #20568 closed, assigned to atomiix

[2020-08-14 11:41] khouloudbelguith opened #20595 "BO - Customers / Wrong redirection after canceling the creating of a new address from the customer detail page"
#### Describe the bug

After canceling the creating of a new address from the customer detail page we are redirected to the addresses list instead of the customer detail page

#### Expected behavior

We should be redirected to the customer detail page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Customers => Customers
2. Select any customer and go to the customer detail pag

[2020-08-14 11:41] khouloudbelguith commented on #20595
Related to https://github.com/PrestaShop/PrestaShop/issues/19912

[2020-08-14 12:29] ced--ced opened #20596 "Carrier tracking number missing in "in_transit" email with webservice"
#### Describe the bug

When the carrier tracking number is updated on orders by webservice, the "in_transit" email is sent but the link {follow} includes the carrier url without the tracking number.

When it is updated manually in the admin, the url is complete with the tracking number.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create an order.
2. Insert the tracking number to

[2020-08-14 12:42] matks commented on #19842
Module released https://github.com/PrestaShop/ps_emailalerts/releases/tag/v2.2.1 => bug fix has been delivered

[2020-08-14 12:42] matks commented on #20478
Module releases => bugfix has been delivered https://github.com/PrestaShop/ps_emailalerts/releases/tag/v2.2.1

[2020-08-14 12:45] ngodefroy opened #20597 "Modify the wording "Define the ecotax ..19,6%" to 20%"
#### Describe the bug

On the Tax Options page (International>taxes>tax options) under the ecotax label, the wording should be modified.
It's currently "Define the ecotax (e.g. French ecotax: 19.6%)." while it should be updated to 20%.
When You select inside the list "FR Taux standard (20%) it could bring confusion.

#### Expected behavior

 (e.g. French ecotax: 19.6%)." should be e.g. French ecot

[2020-08-14 13:17] #20372 closed, assigned to PierreRambaud, khouloudbelguith

[2020-08-14 13:55] khouloudbelguith commented on #20596
Hi @ced--ced,

Thanks for your report.
I tried to update the order status and the tracking using WS, but I didn't receive any `Package in transit` mail as reported here: https://github.com/PrestaShop/PrestaShop/issues/13912
I used this script
[code]
I well received the `Shipped` mail.

I'm blocked by this [issue](https://github.com/PrestaShop/PrestaShop/issues/13912) I cannot reproduce your issue.

[2020-08-14 14:34] eternoendless commented on #20498
Regarding the original request: "I want to be able to tell which fields were updated when the hook is called", it'd certainly be a useful feature, but it's impossible to implement right now.

As far as I know, ObjectModel does not have field-level persistence status tracking (for lack of a better way to describe it). This means that when you update a model, we have no way to tell which or its prop

[2020-08-14 15:21] ngodefroy opened #20600 "[BO] [TAXES] Ecotax list doesnt appear after clicking on the buttons ecotax NO/YES"
#### Describe the bug

When I go into international>taxes>tax options, I see "Use ecotax" with a "NO" and "YES" button.
If I click on yes while it was on no, the list doesnt popup: I need to click on save button a first time to make it appear.
Moreover, I don't understand why the list give us different rates which doesnt reflect the amount of the ecotax but the VAT?

#### Expected behavior

The ec

[2020-08-14 15:32] kpodemski commented on #20498
My idea was to do something like:

`Configuration::set('DISABLE_DYNAMIC_HOOKS', 1)`

then perform some actions, then fire loadConfiguration, thanks to this dynamic hooks are only disabled for a period of time we need.

Of course this is something for advanced users and specific cases only, but I had to do it in many client projects, while importing new products, perform other heavy changes on cata

[2020-08-15 03:39] samvado opened #20602 "import not working"
my import page looks like this, I can not use any of the pull down menus

I have win10 on a i7 with 12 gb ram and everything else works just fine
I use xampp latest version

![Clipboard01](https://user-images.githubusercontent.com/44218159/90304580-edab1000-ded6-11ea-9c36-f766814eda6f.jpg)

[2020-08-15 05:30] Alexanderlaiho commented on #17468
Hi, Someone has a problem with SameSite cookies, the webpay payment gateway tells me that in prestashop I must leave the values ​​in none, but I don't know where the changes are made .. now the client makes the payment but since more than two minutes have passed the transaction cancels and creates a reverse payment.

[2020-08-15 11:17] WartoWiedziec commented on #19508
I have the same problem. After enabling PHP version: 7.1.33 statsvisits module does not work and in error.log I see information as below:
[15-Aug-2020 11:55:14 Europe / Warsaw] PHP Warning: Invalid argument supplied for foreach () in /modules/statsvisits/statsvisits.php on line 196
![statsvisits - PHP 7 1 33](https://user-images.githubusercontent.com/6594124/90311282-91a5b300-def9-11ea-8fa3-e6d4f9

[2020-08-15 15:03] Nachopresta commented on #19296
Hi, I'm new in github and I don't really  know yet how github works, sorry for my daring... I'm suffering a problem with my prestashop 1.7 multistore which I have identified here, the linklist module doesn't work in multistore environment. After working for more than 2 months updating my prestashop 1.6 to 1.7, when I was about to finish after many many problems I have suffered this new problem whi

[2020-08-16 14:39] SimonGrn commented on #20602
Dear @samvado
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-08-16 14:39] #20602 closed, assigned to nobody

[2020-08-16 14:51] compagniadelmontale commented on #20561
I tried, but I have both tables in my database.

[2020-08-17 07:28] Eva-F opened #20604 "Wrong display in BO - php 7.4"
I had a similiar problem as reffered in the issue https://github.com/PrestaShop/PrestaShop/issues/19345#

![ps20](https://user-images.githubusercontent.com/3242659/90368649-aeadc380-e06a-11ea-904e-45786dda265f.png)

(Missing space between "select" and "id" )

It is caused by different result of "preg_match_all"  function (php 7.4) in compile twig sources
instead of empty result of second parenthes

[2020-08-17 08:06] khouloudbelguith commented on #20604
Hi @Eva-F,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade your

[2020-08-17 08:06] #20604 closed, assigned to nobody

[2020-08-17 08:10] khouloudbelguith commented on #17468
Hi @Alexanderlaiho,

On this GitHub repository there is no software support. This is an open source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Thanks for your understanding!

[2020-08-17 08:14] matks commented on #17468
@khouloudbelguith is right, this is no place for such discussion 😉  however here's a small link that might help you https://github.com/PrestaShop/PrestaShop/issues/17468

[2020-08-17 08:24] khouloudbelguith commented on #20561
@compagniadelmontale,  try to open your shop in an incognito browser.
You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.
Thanks to check and feedback.

[2020-08-17 08:25] matks opened #20605 "Module GDPR does not hide adresses in 1.7.7 Order page"
⚠️ 🔴 🚀

**Only step needed to close this issue: validate release https://github.com/PrestaShopCorp/psgdpr/pull/105 of GDPR module**

<hr>
<hr><hr><hr><hr><hr><hr><hr>

⚠️ After further exploration, **this bug is actually a symptom** of a bigger problem : **GDPR module is not compatible with PS 1.7.7**
=> see module issue https://github.com/PrestaShopCorp/psgdpr/issues/103

### Describe the bug

Pr

[2020-08-17 08:26] khouloudbelguith commented on #19711
Hi @jf-viguier,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-17 08:26] #19711 closed, assigned to atomiix

[2020-08-17 08:27] khouloudbelguith commented on #19608
Hi @demperador,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-17 08:27] #19608 closed, assigned to nobody

[2020-08-17 08:29] khouloudbelguith commented on #19954
Hi @Hlavtox,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-17 08:29] #19954 closed, assigned to nobody

[2020-08-17 08:30] khouloudbelguith commented on #19953
Hi @Hlavtox,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-17 08:30] #19953 closed, assigned to nobody

[2020-08-17 08:32] matks commented on #20605
Note : there is a bugfix available for both the Core (target 1.7.7.x) and the module

[2020-08-17 08:42] compagniadelmontale commented on #20561
nothing happen! everything like before

[2020-08-17 08:48] khouloudbelguith commented on #20561
@compagniadelmontale,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com

[2020-08-17 08:54] prestascott commented on #16567
@MatShir Yes, issue is done by #16599 so we can close this issue.

[2020-08-17 08:54] #16567 closed, assigned to prestascott

[2020-08-17 09:00] prestascott commented on #20431
Hi everyone,

Thank you for your report @01park.
Yes, it's a good idea ! Like @MatShir, it's now common and a standard to have this behavior on mobile. We have already thought about this for the Classic Theme. 👍

[2020-08-17 09:06] Eva-F commented on #20604
thx for infos

[2020-08-17 09:09] compagniadelmontale commented on #20561
Prestashop version is 1.7.6.7 from 1.7.6.4
php 7.2.32
server Unix with Apache
no error reported

[2020-08-17 09:11] ngodefroy commented on #9919
TEST OK for the error message but I still have the article picture not changing when I choose color.
This specific issue is raised on https://github.com/PrestaShop/PrestaShop/issues/20587, thus, I close this issue.

https://drive.google.com/file/d/1aOaY9aNdZgXN_YcR_oHHmG8zxlcfXZua/view

[2020-08-17 09:11] #9919 closed, assigned to NeOMakinG

[2020-08-17 09:14] MatShir commented on #20113
Okay, I see! it is to have the possibility to display in the addresses of the customers in the BO (order pages, address pages, customer ) with the following code CC-NNNNNN (C=Country iso code and N=Postal code) in the address by a general option

Is this constraint coming from your carrier?
We may have to make a pass on the standard of the other carriers just in case.

[2020-08-17 10:45] khouloudbelguith commented on #19508
Hi all!

Here's the PR: https://github.com/PrestaShop/statsvisits/pull/3 to fix the issue.ap.
This ticket is a duplicate of #11758
So, I close it.
Thanks !

[2020-08-17 10:45] #19508 closed, assigned to Progi1984

[2020-08-17 10:45] khouloudbelguith commented on #19508
Duplicate of #11758

[2020-08-17 10:45] ced--ced commented on #20596
Hi @khouloudbelguith,

The email is sent when the tracking number is updated, not when the order status is changed.

Thanks

[2020-08-17 10:45] rehanrida opened #20607 "hi, i installesd my presta store latest version but it has error with products ,no image is uploading and no also product prices,tax,quantity they all merged up.and with modules not showin my purchased modules"
hi, i installesd my presta store latest version but it has error with products ,no image is uploading and no also product prices,tax,quantity they all merged up.and with modules not showin my purchased modules

[2020-08-17 10:47] khouloudbelguith commented on #20596
@ced--ced,

Yes, I'm trying to update the tracking number via WS.
`$xml->order->shipping_number = 22; //tracking number`

But there is no email sent.

Thanks!

[2020-08-17 10:48] khouloudbelguith commented on #20607
Hi @rehanrida,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be g

[2020-08-17 10:48] #20607 closed, assigned to nobody

[2020-08-17 11:41] khouloudbelguith commented on #20561
@compagniadelmontale,

I did not manage to reproduce the issue.
I attached a screen record
https://drive.google.com/file/d/1sswHfuEd41S7dE3dHa4yGTUC0xRid82V/view?usp=sharing
it could be something went wrong with your update and don't have some of the database columns that were added for 1.7.6.7
The solution is to check if there are missing columns in your database schema.
You can find the full sch

[2020-08-17 11:59] compagniadelmontale commented on #20561
in the first post I attached the screenshot and the installer log everything seems the same.

I also tried to reload the folders content as suggested in other post.

[2020-08-17 12:16] prestascott opened #20608 "[EPIC] - Theme Classic"
PrestaShop Theme Classic redesign on desktop and mobile versions.

## Features
- [ ] PrestaShop/hummingbird#502
- [ ] PrestaShop/PrestaShop#19587
- [ ] PrestaShop/PrestaShop#22098
- [ ] PrestaShop/PrestaShop#22157
- [ ] PrestaShop/PrestaShop#19229
- [x] PrestaShop/PrestaShop#24107
- [x] PrestaShop/PrestaShop#24153
- [ ] PrestaShop/PrestaShop#25350
- [ ] PrestaShop/PrestaShop#26730
- [ ] PrestaShop

[2020-08-17 12:18] matks commented on #20607
We use GitHub issues only to discuss about bugs in the PrestaShop project and new features.

If you have questions about using PrestaShop, you might find the answer here:
- User's guide: http://doc.prestashop.com/display/PS17/User+Guide
- Developer documentation: https://devdocs.prestashop.com/

If you need help with your shop or third-party modules, please consider the PrestaShop Company support

[2020-08-17 12:27] compagniadelmontale commented on #20561
I noticed that in the table structures there is a small difference:

`CREATE TABLE `prefixaccessory` (
  `id_product_1` int(10) UNSIGNED NOT NULL,
  `id_product_2` int(10) UNSIGNED NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;`

in your structure there is always this line:

` KEY `accessory_product` (`id_product_1`, `id_product_2`)`

could be a problem?

[2020-08-17 12:48] ngodefroy commented on #17122
Hello @marketiweb85 @MatShir I can see the page number, however the mention "page" doesn't appears as stated in the https://github.com/PrestaShop/PrestaShop/issues/17122.
If the mention page isn't mandatory then its OK for me.
![Capture d’écran 2020-08-17 à 14 41 51](https://user-images.githubusercontent.com/69145330/90397408-14fd0b00-e098-11ea-973c-55d41eb65f93.png)

[2020-08-17 12:49] prestascott commented on #20316
Hi everyone,

Thanks @Hlavtox for your report.
Your point of view is really interesting!

LEFT IMAGE
We have discussed about this sticky menu and its content internally. In fact, 'Help' and 'Recommended module' buttons aren't really required on mobile version so it can be removed.

CENTER IMAGE
I agree with you, we can put the 'Add new product' where you said.

RIGHT IMAGE
We're also planning to c

[2020-08-17 12:55] Hlavtox commented on #20316
@prestascott That were just a few points I stumbled upon mate. 👍

Do you have some EPIC for this? I think it would be good to go through all BO and just make a list of optimizations/tweaks.

I also noticed there are some px units in CSS and it's making some weird things, when you have your displays scaled.

[2020-08-17 13:07] khouloudbelguith commented on #20561
@compagniadelmontale, your previous PrestaShop 1764, is it a fresh install or an upgrade also from a previous version?

Thanks!

[2020-08-17 13:11] shikotakcom commented on #12949
I have the same problem. this bug has not been solved yet.

[2020-08-17 13:14] MatShir commented on #17122
@ngodefroy You can't reproduce the issue?

[2020-08-17 13:18] ngodefroy commented on #17122
@MatShir  just reproduced it.
forgive me for the last pic I updated, i Wasnt on the second page ^^
![Capture d’écran 2020-08-17 à 15 17 39](https://user-images.githubusercontent.com/69145330/90400556-f1888f00-e09c-11ea-9462-80d710d0ee23.png)

[2020-08-17 13:20] #20432 closed, assigned to khouloudbelguith

[2020-08-17 13:21] MatShir commented on #20432
thanks @PululuK

[2020-08-17 13:24] shikotakcom opened #20609 "can not delete product images"
![product image](https://user-images.githubusercontent.com/48174981/90401131-c3ae4500-e0b2-11ea-9ec8-ccf17f431881.jpg)
When I copy a product I can not delete the previous product image.
At first it seems that images delete but when I back the new product, the images of both product has been show.

* PrestaShop version: 1.7.5.0
* PHP version: 7.1

[2020-08-17 13:27] shikotakcom opened #20610 "copy a product without images"
we had an option in Prestashop 1.6 that we can select copy a product without images. Please add this option to Prestashop 1.7 too.
Thank you

[2020-08-17 13:43] khouloudbelguith commented on #20609
Hi @shikotakcom,

I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
https://drive.google.com/file/d/1y9-naklYvG43D_RphRThmheFV5-j4ijG/view?usp=sharing
Thanks to check and feedback.

[2020-08-17 13:44] khouloudbelguith commented on #20609
@shikotakcom, please in the next time follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thanks for your understanding!

Thank you

[2020-08-17 13:48] khouloudbelguith commented on #20610
Hi @shikotakcom,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13397
So, I close it.
Thanks!

[2020-08-17 13:48] #20610 closed, assigned to nobody

[2020-08-17 13:48] khouloudbelguith commented on #20610
Duplicate of #13397

[2020-08-17 14:04] compagniadelmontale commented on #20561
it is an upgrade, I started to use Prestashop from 1.7.1 always without problem.

[2020-08-17 14:05] compagniadelmontale commented on #20561
now I am a little bit frustrated, because I continue to receive orders but I can not manage them.

[2020-08-17 14:06] khouloudbelguith commented on #20561
@compagniadelmontale, What is the exact version of the 1-click upgrade did you use to make an upgrade from PS1.7.6.4 to PS1.7.6.7.?

Thanks!

[2020-08-17 14:19] prestascott commented on #19527
Hi everyone,

Thank you @Eva-F for your report.

In my interviews I found out that merchants wanted to choose which columns they wanted to export.
Here are some quotes from them:
- _"We never export what we want"_
- _"An interface or a step before export to select columns we want to export"_

This is the reason why I request to show a modal after clicking on 'Export' which allows users to choose w

[2020-08-17 14:58] rehanrida commented on #20348
SQL query:

CREATE TEMPORARY TABLE `INNODB_SYS_SEMAPHORE_WAITS` (
  `THREAD_ID` bigint(21) UNSIGNED NOT NULL DEFAULT 0,
  `OBJECT_NAME` varchar(4000) DEFAULT NULL,
  `FILE` varchar(4000) DEFAULT NULL,
  `LINE` int(11) UNSIGNED NOT NULL DEFAULT 0,
  `WAIT_TIME` bigint(21) UNSIGNED NOT NULL DEFAULT 0,
  `WAIT_OBJECT` bigint(21) UNSIGNED NOT NULL DEFAULT 0,
  `WAIT_TYPE` varchar(16) DEFAULT NULL,
  `

[2020-08-17 15:00] rehanrida opened #20611 "i downloaded presta store version 1.7.6.7 and it has some errors"
SQL query:

CREATE TEMPORARY TABLE `INNODB_SYS_SEMAPHORE_WAITS` (
  `THREAD_ID` bigint(21) UNSIGNED NOT NULL DEFAULT 0,
  `OBJECT_NAME` varchar(4000) DEFAULT NULL,
  `FILE` varchar(4000) DEFAULT NULL,
  `LINE` int(11) UNSIGNED NOT NULL DEFAULT 0,
  `WAIT_TIME` bigint(21) UNSIGNED NOT NULL DEFAULT 0,
  `WAIT_OBJECT` bigint(21) UNSIGNED NOT NULL DEFAULT 0,
  `WAIT_TYPE` varchar(16) DEFAULT NULL,
  `

[2020-08-17 15:08] khouloudbelguith commented on #20611
Hi @rehanrida,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be g

[2020-08-17 15:08] #20611 closed, assigned to nobody

[2020-08-17 15:23] matks commented on #12949
If you read the above comments, you'll see there was no bug (and consequently there was no needed solution). The weird behavior came from 3rd party module jscomposer which is outside of this repository scope.

[2020-08-17 16:22] khouloudbelguith commented on #20561
@compagniadelmontale, have any special configuration in your shop.
I need all details to reproduce the issue.
Did you use the Multishop context for example?
Have you any custom modules?

Thanks!

[2020-08-17 16:42] jolelievre opened #20612 "Improve error message when adding product in existing invoice"
#### Describe the bug

In BO, in order view page, when I add a product that already exists in an order I get this error:
`This product is already in your order, please edit the quantity instead.`

This is fine, but when I have multi invoice and I add the product to an invoice that already contains the product I get the same error message, whereas I should get this error message:
`This product is a

[2020-08-17 17:37] HartLarsson commented on #11115
PS 1.7.6.7
I've the same problem:

![image](https://user-images.githubusercontent.com/16102074/90426183-fe1ede80-e0c0-11ea-91d7-48d991712060.png)

[2020-08-17 17:52] Amit-Kumar-Tiwari-Webkul opened #20613 "Wrong validation while uploading product image more than defined size limit."
#### Describe the bug
Wrong validation while uploading product images more than the defined size limit.

#### Expected behavior

It must produce proper validation along with its unit.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Advanced parameters and check product image upload size limit https://prnt.sc/u14x0j (currently 2 MB).
2. Now go to the Admin Product page and uplo

[2020-08-17 18:12] HartLarsson opened #20615 "Order of 2 product where one product have no carrier available for shipping"
#### Describe the bug

If a customer from USA order a product "A" that have no carrier configured to send in USA during the checkout, at step 3 will be warned with a prompt like "no carrier is presend for shipping".
All is fine, but if the customer add another product "B" that as a carrier able to ship it in USA, all the order composed by A and B will be finalized with a strange calculation (order

[2020-08-17 18:31] damianobertuna commented on #14414
This module solves the problem:
https://addons.prestashop.com/en/customer-administration/49706-transform-guest-account-to-customer-account.html

You can suggest to your guest buyers to turn their account into a customer account when they arrive to the order confirmation page. They will find a button by clicking on which they can turn their account into a customer one.

[2020-08-17 18:34] damianobertuna commented on #10122
With this module you can suggest to your guest buyers to turn their account into a customer account when they arrive to the order confirmation page. They will find a button by clicking on which they can turn their account into a customer one.

https://addons.prestashop.com/en/customer-administration/49706-transform-guest-account-to-customer-account.html

[2020-08-17 18:58] compagniadelmontale commented on #20561
I don't use multishop, but I I use some custom modules.
is there any way to disable custom modules via database?

[2020-08-17 19:06] markopolo2002 commented on #10122
This is why we moved to woocommerce, every problem in Prestashop seems to involve having to pay for the solution, yet we've been running woocommerce for other a month and have functionality that I didn't believe was possible, all without spending a dime, no glitches, bugs or issues with customers making payments or creating accounts, regretted HAVING to move away from Prestashop but since I have I

[2020-08-17 19:38] HartLarsson commented on #20615
i think i've  found the problem and a fix in cart.php

[code]

with removing

`count($packages) == 1 &&`

now all products will be checked to have an available carrier.
The best things will be to have a error message that show witch products has no carrier for that address available.

I've temporary fixed with this error message:

![image](https://user-images.githubusercontent.com/16102074/9043699

[2020-08-17 21:02] vlskrbek commented on #20036
Please review this and plan it to fix this. As this is missing.
I thought that Prestashop have the field for weight or size but it has not. So you cannot simply write the numbers to features and filter by it. This is missing in prestashop. A lot of products has such a property. I understand that not all of them but even this is very needed.
Please consider that to develope it.
If you want some hel

[2020-08-17 22:12] WartoWiedziec commented on #19508
Hi all,

Thank you, it’s working now 😊

Pozdrawiam/ Best regards
BW

From: khouloudbelguith <notifications@github.com>
Sent: Monday, August 17, 2020 12:46 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: WartoWiedziec <wartowiedziec@onet.eu>; Comment <comment@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] statsvisits error on line 176 (#19508)

Hi all!

Here's the PR: Pre

[2020-08-17 22:25] denoll opened #20617 "An error occurs during installation"
During installation, the following error occurs and the installation process is terminated.
ERROR:
psgdpr1: Unable to install module "psgdpr", Tab-> name property is 70 characters long. Must be between 0 and 64 char.

[2020-08-18 06:53] SimonGrn commented on #20617
Dear @denoll
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be gl

[2020-08-18 06:53] #20617 closed, assigned to nobody

[2020-08-18 08:21] khouloudbelguith commented on #20615
Hi @HartLarsson,

Your ticket is a duplicate of #15491
So, I close it.
Thanks!

[2020-08-18 08:21] #20615 closed, assigned to nobody

[2020-08-18 08:21] khouloudbelguith commented on #20615
Duplicate of #15491

[2020-08-18 08:38] khouloudbelguith commented on #20613
Hi @Amit-Kumar-Tiwari-Webkul,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.7, PS1.7.5.1, and 177x branch.
![image](https://user-images.githubusercontent.com/16067358/90490128-868f9480-e13e-11ea-8c1e-f0b7059205b3.png)
I’ll add this to the debug roadmap.

Related to: https://github.com/PrestaShop/PrestaShop/issues/15183
Thanks!

[2020-08-18 08:47] khouloudbelguith commented on #20561
@compagniadelmontale, you can disable the module by renaming the folder.
You cand find your custom module into the path /`PrestaShop_folder/modules/custom_module`, try to rename it `custom_module_old`.

Thanks!

[2020-08-18 09:21] HartLarsson commented on #20615
my case is not covered by the ticket you suggested.

[2020-08-18 09:23] MatShir commented on #11115
Hi @HartLarsson,
It should be fixed in 1.7.7. Thanks for sharing.

[2020-08-18 09:28] Alexandre17220 commented on #11115
@MatShir  Where do you find information about this ?

[2020-08-18 09:31] MatShir commented on #20575
If you have only one language why you would have an alternative link? But this might be another issue from your module.

If these modules receive a wrong URL from the core, we should improve this behavior.
@kpodemski if you think you have found the solution, don't hesitate to do a PR, the maintainers will be happy to discuss it with you on it.

[2020-08-18 09:33] Alexandre17220 commented on #11115
1.7.7.0 beta change log : - #15514: Add condition to avoid duplicate invoice line. (by @FlorentinGarnier)

Invoice line in invoice, not duplicate invoice.. I think

[2020-08-18 09:36] MatShir commented on #11115
Hi @Alexandre17220
If you check up on the thread, you can see thank the PR https://github.com/PrestaShop/PrestaShop/pull/19139 has close the issue.
![image](https://user-images.githubusercontent.com/43613217/90496928-bd69a880-e146-11ea-9690-c4cb962bb81c.png)

[2020-08-18 09:41] prestascott commented on #20035
Hi everyone,

Thank you @NoZTurn for your report.

Implementing hover features is really smart. However, we should only be able to replace the image cover by clicking on the current image cover and not on the others.

This improvement is really interesting and I think we should mix your idea and ideas from issue #12773 like adding bulk actions in order to delete few images at the same time for exa

[2020-08-18 09:42] bertoferrero opened #20619 "Carriers filters for payments"
#### Describe the bug

The original code didn't work properly if the context cart had a multicarrier choice. It took the context carrier using the $context->cart->id_carrier property which is blank on multi-carrier carts. The new code gets the full selected carriers list, then iterates it ignoring the repeated ones and creating the final subquery.
It works properly for both situations (multi-carri

[2020-08-18 09:42] prestaquality commented on #20619
Linked fix: https://github.com/PrestaShop/PrestaShop/pull/17019

[2020-08-18 09:46] Alexandre17220 commented on #11115
The problem is not in this function in cart, but is in this ugly function  :[11115](https://github.com/PrestaShop/PrestaShop/issues/11115#issuecomment-466052440)

[2020-08-18 10:02] ethercreation opened #20621 "Export customer in admin - error email"
#### Describe the bug

In the customer administration page, during the proposed export, it is the first name that arrives in the email box.

#### Expected behavior

#### Steps to Reproduce

#### Additional information

* PrestaShop version: 1.7.x
* PHP version: N/A

[2020-08-18 10:04] MatShir commented on #11115
Hi @PierreRambaud?
Do you think the problem will persist despite your correction from what @Alexandre17220? What do you think about @Alexandre17220's concerns?
The problem might come from both parts.

[2020-08-18 10:04] ethercreation commented on #20621
Correction in  src/prestashopBundle/Controller/admin/sell/customer/customerController.php Line 662 replace firstname by email

[2020-08-18 10:07] HartLarsson commented on #11115
i hope the upgrade from 1.7.6.7 to 1.7.7 will be possible wthout too many problems :)

[2020-08-18 10:09] bertoferrero opened #20623 "setCurrentState to the same id_order_state"
#### Describe the bug

It happens at every webservice PUT request for updating any order field. The order_state is reprocessed without checking if the order already has the state, sending the state's email and triggering all related hooks.

#### Expected behavior

If the order already has the requested state, avoid to execute the setCurrentState's body

#### Steps to Reproduce

Create an order sta

[2020-08-18 10:46] khouloudbelguith commented on #20615
@HartLarsson,

The FO issue is reported here: https://github.com/PrestaShop/PrestaShop/issues/9998#issue-353170013
The BO issue is reported here: https://github.com/PrestaShop/PrestaShop/issues/15304#issuecomment-526137500

All those issues are reported in this Epic: https://github.com/PrestaShop/PrestaShop/issues/15491

Thanks!

[2020-08-18 11:00] khouloudbelguith commented on #20619
Hi @prestaquality,

Thanks for your report.
Following these steps: https://github.com/PrestaShop/PrestaShop/pull/17019#issuecomment-635959725
I manage to reproduce the issue with PS1.7.6.7.
In the payment step all payments appear => **NOK**
1. In the BO, The Wire payment is not available for "My carrier"
![image](https://user-images.githubusercontent.com/16067358/90505086-57831e00-e152-11ea-84f9-2

[2020-08-18 11:13] khouloudbelguith commented on #20621
Hi @ethercreation,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15880 to fix the issue.
Your ticket is a duplicate of #15875
So, I close it.
Thanks!

[2020-08-18 11:13] #20621 closed, assigned to nobody

[2020-08-18 11:13] khouloudbelguith commented on #20621
Duplicate of #15875

[2020-08-18 11:28] khouloudbelguith commented on #20623
Hi @prestaquality,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.7 and the 177x branch.
![image](https://user-images.githubusercontent.com/16067358/90507693-987d3180-e156-11ea-9d64-779887981f47.png)
I’ll add this to the debug roadmap.

Thanks!

[2020-08-18 11:28] compagniadelmontale commented on #20561
I don't have any custom_module folder.
I just use third party modules.

[2020-08-18 11:31] khouloudbelguith commented on #20561
@compagniadelmontale, a `custom_module` is just an example.
It is the name of the module that you are using.

Thanks!

[2020-08-18 11:32] prestaquality commented on #20623
Thank you for your quick testing. I created a pull request for solving this but I don't know how to officialy link this issue to it https://github.com/PrestaShop/PrestaShop/pull/20622

[2020-08-18 11:35] JBWModules opened #20625 "eMail Preview - wrong value in {total_products}"
#### Describe the bug

When using the email preview or send test email function from Design->Email themes->modern->order_conf the variable {total_products} is filled with the number of products in the order instead of the total product amount (when real order is placed it's working fine)

#### Expected behavior
Show the total product amount as in real order confirmation

#### Steps to Reproduce

S

[2020-08-18 11:37] khouloudbelguith commented on #20623
@prestaquality, Done :smile:
Thanks!

[2020-08-18 11:48] khouloudbelguith commented on #20625
Hi @JBWModules,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.7 and 1.7.7.x branch.
![image](https://user-images.githubusercontent.com/16067358/90509105-19d5c380-e159-11ea-8d51-28607327a51a.png)

In the received email => OK
![image](https://user-images.githubusercontent.com/16067358/90509200-3a9e1900-e159-11ea-98ec-4ccb79a76772.png)

I’ll add this to the debug roadmap so th

[2020-08-18 11:49] khouloudbelguith commented on #20625
Hi @PrestaShop/prestashop-product-team, What do you think? it should be fixed in which version.
Thanks!

[2020-08-18 12:09] Alexandre17220 commented on #11115
see this :  [11115](https://github.com/PrestaShop/PrestaShop/issues/11115#issuecomment-466388153)

[2020-08-18 12:10] HartLarsson commented on #15304
i found a temp fix for undeliverability of one or more products doing that: https://github.com/PrestaShop/PrestaShop/issues/20615#issuecomment-675072842

[2020-08-18 12:11] khouloudbelguith commented on #20542
Hi!

Other steps to reproduce the issue:
1. Create an order with a product which has a price of 10 euro for example
2. Go to BO > Orders > Order details page > edit the product price with 100 euro
3. Add a discount
4. see error => total products incorrect / Total incorrect

![image](https://user-images.githubusercontent.com/16067358/90511403-afbf1d80-e15c-11ea-8093-54acc4190cbe.png)

Thanks!

[2020-08-18 12:29] compagniadelmontale commented on #20561
I tried to rename the customs module folder, but nothing change.

can I give you FTP access (in private) to check if something is wrong?

[2020-08-18 12:43] prestascott commented on #19471
Hi everyone,

Thank you @gadnis for your report.

This might be a nice feature but we didn't encounter this need from our merchants yet... First, we need to identify use cases for this feature so that way it can be useful. But for the moment, it's not required.

Sorting columns like we currently have is enough for our users.

[2020-08-18 12:45] khouloudbelguith commented on #20561
@compagniadelmontale,

On this GitHub repository there is no software support. This is an open-source project.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/3

[2020-08-18 12:45] #20561 closed, assigned to nobody

[2020-08-18 12:46] marionf commented on #20625
@khouloudbelguith Is it a regression of the 1.7.6 ?

[2020-08-18 12:53] khouloudbelguith commented on #20625
@marionf, in fact, the theme email is a new feature for PS1.7.6.
With PS1.7.5, it doesn't exist.

Thanks!

[2020-08-18 13:03] khouloudbelguith commented on #18576
Related to: https://github.com/PrestaShop/PrestaShop/issues/19792

[2020-08-18 13:12] khouloudbelguith commented on #18576
Hi @SD1982,

The exception is not reproduced any more, the discounts is ok
![image](https://user-images.githubusercontent.com/16067358/90516903-f31d8a00-e164-11ea-87d0-3f1add76cc07.png)

The problem is that "Free shipping can be applied multiple times"

Thanks!

[2020-08-18 13:12] khouloudbelguith commented on #19792
Hi all,

This ticket is a duplicate of #18576
So, I close it.
Thanks!

[2020-08-18 13:12] #19792 closed, assigned to nobody

[2020-08-18 13:12] khouloudbelguith commented on #19792
Duplicate of #18576

[2020-08-18 13:37] Juranville commented on #9589
Hi Khouloudbelguith, Hi everyone,

I have a very similar problem with my Prestashop. Every time someone signs in, a cart is created, even if no product was added. Please note that sometimes several empty (or not) baskets are created for a single user. Is there anyone who's come up with a solution?
![Capture d’écran 2020-08-18 à 15 33 03](https://user-images.githubusercontent.com/69855024/90519566-

[2020-08-18 13:40] denoll commented on #20617
I don't need it, it's your system, I just pointed out the error to you. Try installing prestashop, and you will understand where and what the error is.It occurs when installing on any server and on any hosting.

[2020-08-18 13:42] LiviaButtons opened #20627 "Out of Stock mail notifications inconsistent between paid & free order"
#### Describe the bug
When allowing purchase of out-of-stock items, the notifications are inconsistent between free and paid items.

- **on purchasing out-of-stock item (or free item+shipping costs):**
   - status changes from: awaiting payment, out of stock (non-paid), payment accepted, out of stock (paid)
![image](https://user-images.githubusercontent.com/42958830/90518341-f1ed5c80-e166-11ea-8d5

[2020-08-18 13:48] SimonGrn commented on #20617
Hello,
this is not about if we need your report or not, it's about respecting the people in front of you. We cannot work with your report as it's lacking all the details... we don't even know what version you're using, hence my answer. We have a template, yet you decided to delete everything ?

Please be respectful.

Thank you for your understanding.

[2020-08-18 14:00] prestascott commented on #18950
Hi everyone,

Thank you @alfonsolr09 for your report.

I agree with you, this bottom sticky menu is really big and we discussed about redesigning it in order to make this smaller.

**Idea 1:** By putting the menu where you suggested, I'm afraid it will be too condensed. We must keep things simple to ensure a good UX.

**Idea 2:** This one is interesting. We had pretty much the same idea about givi

[2020-08-18 14:04] khouloudbelguith commented on #9589
Hi @Juranville,

Sorry, this issue is not fixed yet.

Thanks!

[2020-08-18 14:05] alfonsolr09 commented on #18950
I think 22"
Asus vx228

[2020-08-18 14:16] edensh89 opened #20630 "Multistore - second store redirect to first store"
I created multistore
Main store - plantoflife.com
second store - www.polfinest.com

When open polfinest.com (without www) it redirect to plantoflife.com

I changed polfinest url to be without www but it get into loop and doesn't work.
Same happened when I changed the main url to be with www.

I also added the following to the htaccess but still doesn't work.

<IfModule mod_rewrite.c>
RewriteEngine

[2020-08-18 14:23] khouloudbelguith commented on #20630
Hi @edensh89,

On this github repository there is no software support. This is an open source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Thanks for your understanding!

[2020-08-18 14:23] #20630 closed, assigned to nobody

[2020-08-18 14:27] NoZTurn commented on #20035
@prestascott thanks for your attention, the ultimate wanted feature is an image replacement while its combination and color id remains unchanged,and hover feature is only one feasible method on the aspact of myself, if you can mix other ideas to achieve image replacement function, that's also very well.

[2020-08-18 14:31] matks commented on #20605
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/20628

[2020-08-18 15:07] khouloudbelguith commented on #20627
Hi @LiviaButtons,

Can you please confirm these steps:
About the not free product.
1. Add this product to cart
2. complete checkout
3. go to BO => Orders => order details page
4. we have two status "Awaiting check payment" and "On backorder (not paid)"
![image](https://user-images.githubusercontent.com/16067358/90529370-ee140700-e173-11ea-9f28-26b55df28cd2.png)

I have those emails `order_conf`, `

[2020-08-18 15:24] matks commented on #18592
I had a look at the code in charge of overrides today. I wanted to see if a quick bug fix was possible.

There is a huge pile of code inside methods such as `Module::addOverride($classname)` or `Module::removeOverride($classname)` which do a mix of [Reflection](https://www.php.net/manual/en/book.reflection.php), raw file copy and parsing.

The logic is very complex as it aims to support multi-over

[2020-08-18 15:36] ksaandev commented on #20563
So there is be a docker image for beta 2 announced in https://build.prestashop.com/news/coreweekly-33-2020/ ?

[2020-08-18 15:39] LiviaButtons commented on #20627
Hi @khouloudbelguith, thanks for the quick response.

I think I should have specified, in this case it's specifically for when a product is "paid" for. I'm doing test purchases, so I'm aiming for a status of "On backorder (paid)", aka the client paid but the product is out of stock.

So, it's when the client completes the payment (or you run a test payment with status "paid"), that you get the fol

[2020-08-18 15:50] khouloudbelguith commented on #20627
@LiviaButtons,

How can I reproduce it (status changed **automatically**)? did you use a custom configuration?

Thanks!

[2020-08-18 15:56] khouloudbelguith opened #20631 "BO - Order page - a resize window issue in the discount block"
#### Describe the bug

In the BO => Order => Order details page, the discount is not displayed correctly
![image](https://user-images.githubusercontent.com/16067358/90536015-cc1e8280-e17b-11ea-99d0-602aa1d5bd9f.png)
![image](https://user-images.githubusercontent.com/16067358/90536073-df315280-e17b-11ea-8698-6c6a89196192.png)

#### Expected behavior

It should be well displayed

#### Steps to Repro

[2020-08-18 15:59] LiviaButtons commented on #20627
@khouloudbelguith complete a purchase (can be refunded later), or in this case - configure Mollie payment with a test API, and upon payment set the status to paid. Sorry, should've made that more clear.

So, choose any payment method during checkout:
![image](https://user-images.githubusercontent.com/42958830/90536517-71395b00-e17c-11ea-9d8b-4a28645e468f.png)

Then, in test mode using Mollie, choo

[2020-08-18 16:14] khouloudbelguith opened #20632 "BO - Products page - Incorrect wording when we try to delete a related product, a product feature..."
#### Describe the bug

In the BO => Catalog => Products page => Product details page => when we try to delete a related product, a product feature, a product brand, a product image, a product combination and bulk delete product combinations, a customization field, a virtual product associated file, a product in a pack, a specific price we have an incorrect wording

![image](https://user-images.git

[2020-08-18 16:15] arirangz opened #20633 "Currency sign too close from price on invoice"
#### Describe the bug

When opening an invoice, the currency sign is covering the price (see screenshot attached).

#### Expected behavior

To have a bit more space between the currency signe and the price

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Orders
2. Click on Invoice
3. See the invoice

**Screenshots**
![Capture d’écran 2020-08-18 à 17 55 25](https://user-images

[2020-08-18 16:15] khouloudbelguith commented on #20632
This issue is reported by @SimonGrn
Ping @LouiseBonnard @Junebyun

Thanks!

[2020-08-18 16:19] khouloudbelguith commented on #20627
@LiviaButtons,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them and feedback.

[2020-08-18 16:20] gadnis commented on #19471
@prestascott actually I can't remember now, this post was almost 3 months ago 😁  Probably you are right, if user use filters, the multiple sorting is not required.. well maybe in a very rare scenarios.

What I really miss in prestashop is filtering by 'greater than number',
example: filters quanty by ">0". But this is other topic 😁.

So this topic probably can be closed.. 😁

[2020-08-18 16:22] khouloudbelguith commented on #20633
Hi @arirangz,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.7.
![image](https://user-images.githubusercontent.com/16067358/90539087-b1e6a380-e17f-11ea-976a-b81a25b451e2.png)

I attached a screenshot, thanks to check and feedback.

[2020-08-18 16:26] khouloudbelguith opened #20635 "BO -Orders page - Unclear alert when when adding more than 254 characters in the cart rule name"
#### Describe the bug

In the BO => Order details page => when we try to add a cart rule which has more than 254 characters in the cart rule's name, an unclear alert displayed

#### Expected behavior

Correct text: "**_Cart rule name is invalid. It must be between 0 and 254 chars._**" in _Admin.Notifications.Error_

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Order de

[2020-08-18 16:27] khouloudbelguith commented on #20635
Ping @PrestaShop/prestashop-product-team  what do you think?

Thanks!

[2020-08-18 16:31] arirangz commented on #20633
Hi @khouloudbelguith,

Thanks for your feedback.

Do you have an idea where it can come from then? I didn't override any pdf template.

Thanks

[2020-08-18 16:32] prestaforum commented on #15224
If someone has a bugfix it would be great 👍

[2020-08-18 16:32] jolelievre commented on #18647
You will be pleased to know that the Beta 2 has been built and is currently being tested by the QA team ^^

[2020-08-18 16:37] khouloudbelguith commented on #20633
Hi @arirangz,

On this github repository there is no software support. This is an open source project.
You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Thanks for your understanding!

[2020-08-18 17:35] arirangz commented on #20633
thanks @khouloudbelguith,

It's probably not a support demand but a bug even if you can't reproduce the issue. The version you are testing is maybe a fresh install and not an upgraded version.

I think it's still interesting for you to know that this issue can happen on upgraded prestashop so it could be fixed for other people. Maybe some templates or css are not updated correctly during prestasho

[2020-08-18 18:31] Amit-Kumar-Tiwari-Webkul opened #20636 "Carrier field in invoice must not be displayed if order contains only virtuals products"
#### Describe the bug
The Carrier field in the invoice must not be displayed if an order is virtual i.e if all products of an order are virtual.
https://prnt.sc/u1sfdh

#### Expected behavior

The carrier string must not be displayed in the invoice.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to the front end and add one or more than one virtual product in the cart.
2. Make a

[2020-08-18 22:41] jesusemarquezz commented on #18099
This is My Video Problem [Video](https://streamable.com/z9gg95)

[2020-08-19 00:38] msaustral commented on #20528
Hi, this issue is affecting many customers with local payment methode, as the credit card processor return a non valide error.

we have try a workaround before redirect you card processor:

`<script type="text/javascript">
     document.cookie = 'SameSite=None; Secure';
 </script>`

but it does not work as there are 3 cookies and no name is given to set the Samesite to None

Please can you help us

[2020-08-19 00:41] msaustral commented on #15878
Hi this happen to one of our customer after updating the Customer Reassurance module to v. 5.0.0, try to disable it

[2020-08-19 06:33] danielgasser commented on #15878
This installation does not have that module installed

[2020-08-19 07:27] matks commented on #20498
If you submit a PR to provide this feature I dont see any reason to reject it 😊 . if it's useful for you, it's useful for other people and people not interested into this setting do not have to use it.

If I got it right, what @eternoendless pointed out is that there is no way currently to compute the `fields_updated` part without doing it manually. If we were using an ORM like [Doctrine](https://

[2020-08-19 07:29] PierreRambaud commented on #20563
Yes we will do it :)

[2020-08-19 08:12] matks commented on #20587
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20556

[2020-08-19 08:12] #20587 closed, assigned to NeOMakinG

[2020-08-19 08:13] MatShir commented on #20635
@Junebyun Could you provide us the most relevant wording? Thanks :)

[2020-08-19 08:21] Junebyun commented on #20632
Hi @khouloudbelguith I managed to reproduce the issue and indeed the wording is not correct! It should be modified to:
 "_**Are you sure you want to delete this?**_" in _Admin.Notifications.Warning.

[2020-08-19 08:31] MatShir commented on #19471
Thanks @gadnis, the issue will be reopened if more users are interested.

[2020-08-19 08:31] #19471 closed, assigned to nobody

[2020-08-19 08:34] tao0103 opened #20639 "upgrade from 1.7.5.2 to 1.7.6.7 failed"
use 1 click extension to upgrade prestashop,but can't enter BO. The error:

(1/1) ClassNotFoundExceptionAttempted to load class "Repository" from namespace "PrestaShop\PrestaShop\Core\Cldr".Did you forget a "use" statement for e.g. "PrestaShop\PrestaShop\Core\Localization\Currency\Repository" or "PrestaShop\PrestaShop\Core\Localization\Locale\Repository"?
--
in AdminController.php line 1949
at Adm

[2020-08-19 08:35] SimonGrn commented on #20639
Dear @tao0103
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be g

[2020-08-19 08:35] #20639 closed, assigned to nobody

[2020-08-19 08:37] PierreRambaud commented on #11115
Wasn't mine, I just backport someone's pull request and fix tests :sweat_smile:
But I totally agree about the usage of `SELECT (MAX(`number`) + 1)` which is a very bad idea :/

[2020-08-19 08:39] Junebyun commented on #20635
@MatShir I found a string in _Admin.Notifications.Error_: "_**The length of property %1$s is currently %2$d chars. It must be between %3$d and %4$d chars.**_" I think we can use this one, wdyt?

[2020-08-19 09:12] LiviaButtons commented on #20627
Hi @khouloudbelguith, seems you're right. It actually makes sense, since the issue only occurs when there's a payment.... Thanks for looking into it! Will take it up with Mollie.

[2020-08-19 09:28] MatShir commented on #11115
Okay thanks for your input. We will say that the first PR backported by @PierreRambaud is the first part to solve this issue. I will reopen this issue. @Alexandre17220 If you think you have found the right solution, do not hesitate to make a Pull Request. We will be happy to review it.

[2020-08-19 09:32] ngodefroy opened #20640 "[BO][ORDER][PRODUCTS] In some screen size, the base price is not visible"
#### Describe the bug

When I settle my screen to different size, the base price info are not readable.

#### Expected behavior

The responsive screen should adapt itself to the page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Under BO>Order, Go to a client order
2. Open you console to be able to modify the screen sizes
3. verify responsive is on, then set your screen to 932x155

[2020-08-19 09:32] MatShir opened #20641 "Duplicate order reference for different order 1/2"
#### Describe the bug

The function orderExists() from Cart.php has been modified in order to use only the cache when the order exists, avoiding the issue with duplicated orders.
**Screenshots**

[2020-08-19 09:46] jonasburneika commented on #20254
Hello, @Matks @Laimonas-Mituzas here is my PR: https://github.com/PrestaShop/blockreassurance/pull/56

[2020-08-19 09:55] mrabsinthe commented on #10122
@damianobertuna the module advertised is no way a solution to the problem, guest buyers can still create multiple accounts.

[2020-08-19 10:00] PierreRambaud commented on #13016
We should add an option in the backoffice to configure the admin URL and front URL, it's the easiest and best way to do it.

[2020-08-19 10:06] PierreRambaud commented on #17300
We also keep in mind PrestaShop is an application and not a library, we are building a zip containing all our dependencies, if we consider people are able to change Symfony's packages versions, it will be impossible for us to support everything at the same time :sob:

I'm in favor of closing this issue, we will increase dependencies when it will be possible and needed.

[2020-08-19 10:12] PierreRambaud commented on #17117
Since your description link the source code of the develop branch, I can't compare if everything is ok right now :sweat_smile:

I update the description of this PR with the @finlanderid one

[2020-08-19 10:13] mvorisek commented on #10929
@matks then we are ready, right?

[2020-08-19 10:14] PierreRambaud commented on #17351
I'm closing this because we will not update this dependency.
Kind regards

[2020-08-19 10:14] #17351 closed, assigned to nobody

[2020-08-19 10:14] PierreRambaud commented on #10929
I'm closing this because we will not update this dependency.
Kind regards

[2020-08-19 10:14] #10929 closed, assigned to nobody

[2020-08-19 10:16] mvorisek commented on #17117
@PierreRambaud updated link - https://github.com/PrestaShop/PrestaShop/blob/ec37517d944d6679aca9ae61e2a83ef24f6a427f/classes/Tools.php#L377 (replaced develop with the latest commit hash at the time writing the description)

the issue is still present and `X-Forwarded-For` can be easily spoofed

[2020-08-19 10:21] mvorisek commented on #10929
@PierreRambaud please reopen, current Guzzle is EOL and it is not even receiving security updates and we should update asap

[2020-08-19 10:29] eternoendless commented on #12970
I think it would be interesting to add these options in a new page (let's say "Security") in Configure > Advanced Parameters.

ping @PrestaShop/prestashop-product-team

[2020-08-19 10:33] dariusakafest commented on #20496
@khouloudbelguith I created a front controller file in my payment module, where I need a basket to get payment methods, I don't need to create it in the database.

[2020-08-19 10:36] eternoendless commented on #20301
I'm not too familiar with smarty internals, but I think this is exactly what setCompileId does (it changes the directory where the compiled templates are put on).

In my view this could be fixed by #20033

[2020-08-19 10:56] SimonGrn commented on #20641
Is this fixed by the linked PR ?

[2020-08-19 11:00] Hlavtox commented on #20641
Duplicate references are nothing new, huh? It happened to me on 1.6. Solved it like this.

[code]

[2020-08-19 11:20] kmorgen commented on #9714
So how to easily solve this when still on latest PS 1.7.6.7 release?

Not possible to edit under currency yet, and also no files to manually edit under /translations/cldr

[2020-08-19 11:40] PierreRambaud commented on #20229
We plan to implement #12970 with a part about the CSP configuration.
I'm closing this one, feel free to follow the other issue, I will do my best to discuss about configuration as soon as possible.

[2020-08-19 11:40] #20229 closed, assigned to PierreRambaud

[2020-08-19 11:43] PierreRambaud commented on #20301
https://github.com/PrestaShop/PrestaShop/pull/20033#discussion_r472829713 should be enough

[2020-08-19 12:05] #20641 closed, assigned to nobody

[2020-08-19 12:05] MatShir commented on #20641
Close by #19139

[2020-08-19 12:18] MatShir commented on #9714
To edit the currency's display through the back-office, you will have to wait for 1.7.7 (still in the beta phase).
Otherwise, you can edit directly the file, you can find [subject](https://www.prestashop.com/forums/topic/996665-how-to-change-currency-symbol-solved/) in the forum.

[2020-08-19 13:43] ks129 commented on #20566
Solved this by upgrading Docker Compose version.

[2020-08-19 13:43] #20566 closed, assigned to nobody

[2020-08-19 13:43] grzegorzgit opened #20642 "[BO] Cannot add a product when creating a new order"
#### Describe the bug
In back office I cannot add a new order. The product search is not working. The ajax sent during typing in product search doesn't include id_currency.

#### Expected behavior

Searching for products to add them to the order should display the searched products.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Orders
2. Click on 'Add new order'
3. Search an

[2020-08-19 13:44] #17122 closed, assigned to nobody

[2020-08-19 13:50] eternoendless commented on #10929
Unfortunately updating it will break everything (including circuit breaker and an unknown but probably high number of modules). We can't do this until the next major.

[2020-08-19 14:05] matks commented on #20333
Renaming the title to follow latest items in the discussion

[2020-08-19 14:15] Robin-Fischer-PS opened #20643 "Cannot create order on BO when customer cart/order history is empty"
#### Describe the bug

On BO > Orders > Create order, when the selected customer has no previous cart or order, the cart/order list display a "Loading" message, and the rest of the page is not loaded, so I cannot create an order with this customer.

#### Expected behavior

If there is no cart and order for a customer, we should not have an "infinite loading", but instead an empty list, maybe with

[2020-08-19 14:28] SimonGrn commented on #20642
Hello,

I'm not able to reproduce your issue :
![image](https://user-images.githubusercontent.com/49909275/90647595-c470e380-e238-11ea-87f0-c4b44d20fdc7.png)

My installation is a fresh one, with these settings:
- country France
- language English

I can add a product without trouble :
![image](https://user-images.githubusercontent.com/49909275/90647703-e2d6df00-e238-11ea-8740-bec392a3a242.png)

Y

[2020-08-19 14:40] grzegorzgit commented on #20642
Hi,
no I don't have any module that could play with the currency. And the currency problem doesn't exist elsewhere, just in that place.

[2020-08-19 14:44] beyondsagency commented on #19297
UP

[2020-08-19 14:45] SimonGrn commented on #20642
Do you see any incompatibility in the "Advanced Parameters > Information" page ? Is this a fresh install or an upgrade ?
I see you're using a test environment, judging by your domain name.

Sadly, if we're not able to reproduce your problem, you might want to check in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-sour

[2020-08-19 15:33] arouiadib commented on #19473
Hi guys,

Any news about this issue?

[2020-08-19 16:04] kmorgen commented on #9691
This seem to still be an issue on PS 1.7.6.7 ??

[2020-08-19 16:15] matks commented on #9691
A fix (see https://github.com/PrestaShop/PrestaShop/pull/12892) was provided to fix this issue. We have verified that, with a standard usecase, it works.

There might be other issues with same symptoms 😉  if other usecases are found. Same observable behavior, different root causes

[2020-08-19 16:45] matks opened #20645 "French translation for test email is bad - bad encoding"
#### Describe the bug

When using "send me a test email" from Email BO page (if you want to test your SMTP parameters for example), if BO is using French, the message which is sent is quite weird:

- title: "Message de test -- PrestaShop" => OK
- content: `Ceci est un e-mail test, votre serveur est pr&ecirc;t pour envoyer des e-mails.` => what's that 😆  ? looks like "prêt" is badly encoded

#### E

[2020-08-19 19:14] mvorisek commented on #10929
When is next major expected? Can we upgrade and polyfill Guzzle 5?

[2020-08-19 20:19] SimonGrn commented on #20645
Hello,
could you add a screenshot maybe ? Because your message ended correctly when you pasted it, ironically 😄

[2020-08-20 07:15] matks commented on #20645
Here we go 😄

![Capture d’écran 2020-08-20 à 09 14 30](https://user-images.githubusercontent.com/3830050/90728670-98e80a80-e2c5-11ea-99d7-e281a78e264e.png)

Now I'm wondering, maybe the issue comes from gmail 😛

[2020-08-20 08:14] SimonGrn commented on #20645
Could you please try with an Outlook SMTP server maybe ?

[2020-08-20 08:17] MatShir opened #20648 "[Combinations tab] - Combinaison List 1/2"
As a merchant I want to be able to manage my products with combinations.

Here is the list of the elements of combinations tab:

* **Search attributes**: I can search and select any existing attribute’s value by typing the value or the attribute’s private name \([issue 12440](https://github.com/PrestaShop/PrestaShop/issues/12440)\).
I can also choose all the values of an attribute at once by typin

[2020-08-20 08:19] MatShir opened #20649 "[Combinations tab] - Combinaison Edit 2/2"
**Edit combinations**:

Edit combination now opens a modal, see mockups here: https://invis.io/3RWZILBJWQH#/414747859_Edit_Comb-_Modale_Top

* **Quantity**: This field is not displayed if stock management is disabled in Shop parameters &gt; Products settings.
The quantity of the combination is displayed in front-office if the option “Display available quantities on the product page” in Shop parame

[2020-08-20 08:26] ngodefroy commented on #20643
TEST OK
https://drive.google.com/file/d/1dB8QJoufX3yZloUxkvVCjJ-Xqu12J7Cr/view

[2020-08-20 08:39] #20643 closed, assigned to atomiix

[2020-08-20 08:47] skellatore commented on #13669
Still no update on this? how do you avoid the hammering the getOrderShippingCost calls?

[2020-08-20 08:59] ngodefroy opened #20651 "[BO][CREATE AN ORDER] Errors in console"
A clear and concise description of what went wrong.

In BO, Open the console. Add a new order and see the errors in console

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. In BO, open your console and Go to Order>Create Order> Create a new customer or select existing customer and click on "details"
==>See the errors in console

**Screens

[2020-08-20 09:28] PululuK opened #20652 "HelperForm field label not work in switch type"
## Describe the bug

HelperForm field label not work in switch type. Labels are always **YES** or **NO**, even when we define another one.

![image](https://user-images.githubusercontent.com/16455155/90752081-41529a80-e2d7-11ea-9d58-2f56bc8a71fa.png)

## Expected behavior

![image](https://user-images.githubusercontent.com/16455155/90752199-62b38680-e2d7-11ea-9a59-0690032b8c3d.png)

## Steps to Re

[2020-08-20 09:37] mioversolna opened #20654 "Can't import bulk products"
I can't import my products if I load a file and click import my system is giving 500 Internal Server Error

[2020-08-20 09:40] matks commented on #20645
Microsoft stuff ? 😱

[2020-08-20 10:13] eternoendless commented on #10929
My best guess is 2022 (1.7.9 is due in 2021).

I don't think it's possible, but if you manage to update Guzzle AND provide a polyfill that manages to maintain existing code working without touching it, I will take my hat off and merge your PR. This of course includes working out the dependency hell, because external dependencies are locked to Guzzle 5.

[2020-08-20 11:37] SimonGrn commented on #20654
Dear @keremkutlu1234
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2020-08-20 11:37] #20654 closed, assigned to nobody

[2020-08-20 12:41] MatShir commented on #20648
**Improvement**

- [ ] Allow check all in product combinations #18949

[2020-08-20 12:58] MatShir commented on #16102
Hi @elboletaire,
I can understand your frustration but the product page is currently been migrated to the framework Symfony. So there is a long list of major issues and more important than this one but we are going to rewrite this behavior anyway so let's do it right. The priority settled by the team does not depend only on the severity of the issues but also on the product roadmap, on pending pro

[2020-08-20 13:44] trovaweb1 opened #20657 "Overview Activity not Loading and not showing orders in control panel dashboard"
Hi,

i'm trying to solve this issue that on BO dashboard i cannot see any statistics about orders and selling. As you can see in the screenshots i have several orders on these days but they not appear on dashboard.

---------------------------------------------------------------------------------------

Informazioni sul server Linux #1 SMP Tue Mar 17 23:49:17 UTC 2020 x86_64

Versione software del

[2020-08-20 14:05] SimonGrn commented on #20657
Hello,

PrestaShop 1.7.6.5 is not compatible with PHP 7.3. You can check the compatibility [here](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/).
Please downgrade your PHP version and come back if you still experience the issue.

Thanks.

[2020-08-20 14:05] #20657 closed, assigned to nobody

[2020-08-20 14:05] Quetzacoalt91 commented on #14854
Exactly, and this would be even better if the relation between a triggered hook and the class to call could be set by the services definition file (like we do with SF events).

[2020-08-20 14:07] awitkutarahil opened #20659 "Product availability date is displayed even if it's in the past"
#### Describe the bug

Product availability date is useful to tell customers when a given product will be available. But it's displayed even if it's in the past.

#### Expected behavior

If product availability date is in the past, hide it. I will submit a Pull Request.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to a product page in BO
2. Add a product availability date, sel

[2020-08-20 14:09] trovaweb1 commented on #20657
Changed PHP version to 7.1.33 and still get the issue

[2020-08-20 14:20] SimonGrn commented on #20659
Hello, thank you for your issue.
I reproduce it with PrestaShop 1.7.8 (`develop`) and PHP 7.2 :
![image](https://user-images.githubusercontent.com/49909275/90783978-0a917a00-e301-11ea-8bc0-027fe3ea48a5.png)

@PrestaShop/prestashop-product-team what do you think ? Is it working as intended ?

[2020-08-20 14:37] marionf commented on #20659
Hello @awitkutarahil
This seems like a good idea and can save merchants from removing each availability date when it is reached

[2020-08-20 14:38] MatShir commented on #19678
Hey @Lathanao,
It seems a lot of work to have 410 which does not differ a lot from a 404. Does It mean we will have to save all the URL of the deleted product and to check if they have exists to flag the redirection as 410 instead of 404? I don't know if we save then. Does it have much more impact on SEO?

[2020-08-20 14:43] SimonGrn commented on #20657
Hello,
I am not able to reproduce your issue:
![image](https://user-images.githubusercontent.com/49909275/90786724-34986b80-e304-11ea-8802-ca22adcb63b5.png)

![image](https://user-images.githubusercontent.com/49909275/90786736-3b26e300-e304-11ea-80bc-df786ba85b6c.png)

You may have a module interfering with the dashboard.
We use GitHub issues only to discuss about bugs and new features in the Pres

[2020-08-20 14:50] matks commented on #20573
This will be hard to fix.

The data is being badly stored when we submit it. So when merchant enters 100.00, what is being stored in database is 99.996000 in order detail SQL column `unit_price_tax_incl`.

So issue happens at this step

This issue is unseen until you try editing the product because this is rounded for display. So 99.996 is stored, but in every place where we display it we round it

[2020-08-20 14:50] matks commented on #20573
Next step is to find why 99.996000 was put inside database instead of 100.000000 when merchant submitted the product A new price.

[2020-08-20 15:09] Lathanao commented on #19678
Ahah, good question about the SEO! People who have tried should not be many.
It's just that there is a right code to apply in the case a product in definitely discontinued.
It is just a suggestion.

[2020-08-20 15:42] matks commented on #12970
And in this new page, maybe add a tab "handle my sessions data" ; see https://github.com/PrestaShop/PrestaShop/issues/20084 😉

[2020-08-20 15:59] kwaun opened #20662 "Allow a clean installation with no demo shop configured"
Hi.

#### Is your feature request related to a problem?

Sometimes when I install PS I do not want the demonstration data so I have to delete it.

#### Describe the solution you'd like

IMHO a check box with "Do not install the demo shop" would be nice when installing PS.

#### Alternatives you've considered

I know right that there is a good official addon that removes the demo data (it leaves so

[2020-08-20 16:04] kwaun commented on #20662
Yeah.

[2020-08-20 16:06] #20662 closed, assigned to nobody

[2020-08-20 16:07] eternoendless commented on #20662
This has been fixed in #19694 for 1.7.7

[2020-08-20 16:09] SimonGrn commented on #20662
My mistake, I wrote this totally wrong: you **NEED* debug mode to be able to see the checkbox. I updated my comment.

[2020-08-20 16:09] trovaweb1 commented on #20657
Trying to disable modules or use the option "disable non-native modules" could help to reproduce the issue for me?

[2020-08-20 16:27] MatShir commented on #19454
Since the field could be used by modules, we will put a warning message on the top of the field with a link redirecting to the stock page. We might remove the short ut input in the basic tab.

The core problem will be solved since the quantity value won't be saved if the merchant does not touch it. But a nice warning, we bring awareness to the merchant. @Junebyun Let's find the perfect wording!

[2020-08-20 17:20] fkomaralp opened #20663 "Why HelperForm doesn't supports add custom attributes?"
#### Is your feature request related to a problem?
Yes.

#### Describe the solution you'd like

I can't create a form with custom attributes with using HelperForm class. Like `data-url` or someting like that.

#### Alternatives you've considered

I was writing a plugin and this plugin have some overrides. I was need to override customer address form on BO. Adding some stuff like district selectbox

[2020-08-20 18:30] golenkova-ferrero commented on #20254
Hello! Does anyone have a solution for Prestashop 1.7.6.1? I had to switch the reassurance module off, because after an update it broke, half of the product page simply disappeared... Many thanks from Barcelona!

[2020-08-20 18:56] ChineseNorris commented on #19454
Thanks @MatShir , I think this is a nice solution and can work as well

[2020-08-20 22:46] msaustral commented on #20528
Hi everyone, I am sharing some research from the cople of days:

This isuse is affecting all PS installation WW, this is due that on the new Chrome V80, if the cookie have not set the samesite attribute it plase it as Lax.

The main issue on PS is that on the line 379 of the class Cookie.php

` return setcookie($this->_name, $content, $time, $this->_path, $this->_domain, $this->_secure, true);`

y

[2020-08-20 22:47] msaustral commented on #20528
sorry i miss this:
i found this post to allow to add the samesite attibute using any PHP version but i did not find the way to make it work
[https://github.com/ovunctukenmez/SameSiteCookieSetter](url)

[2020-08-20 23:21] leonardomlisboa commented on #17468
@Alexanderlaiho Hi, I'm from Chile and I still haven't been able to find a solution. Have you found something for webpay?

[2020-08-21 07:29] matks commented on #20254
@golenkova-ferrero 2 pull requests with bug fixes have been submitted
- https://github.com/PrestaShop/blockreassurance/pull/56
- https://github.com/PrestaShop/blockreassurance/pull/55
They have not been validated yet though

[2020-08-21 07:31] matks commented on #20528
You'll be interested in https://github.com/PrestaShop/PrestaShop/pull/20601 I think

[2020-08-21 08:00] #20594 closed, assigned to atomiix

[2020-08-21 08:05] jolelievre commented on #20573
I just checked with PR #20145 the bug is still present, however indeed since the PR modifies a lot of things regarding the order edition it's safer to wait for it to be merged And I prefer not to fix the issue in the same PR as it would delay its merge even longer

[2020-08-21 08:09] jolelievre commented on #20573
Regarding the bug it's indeed a precision problem, I didn't look into detail but it kind of makes sense The submitted/saved price (tax excluded) is 83.33 with 20% tax added it results 99.996...
So the problem might come from the front input which has a too little precision

[2020-08-21 08:14] jolelievre commented on #18721
I also tried it even with the branch from https://github.com/PrestaShop/PrestaShop/pull/20145 which modifies a lot of things regarding order editing and multi invoice The bug is still present

[2020-08-21 08:27] khouloudbelguith commented on #20636
Hi @Amit-Kumar-Tiwari-Webkul,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.7 and the 177x branch.
![image](https://user-images.githubusercontent.com/16067358/90869662-d23d7a80-e398-11ea-85d6-f9bde60a0623.png)
I’ll add this to the debug roadmap.

Thanks!

[2020-08-21 08:28] khouloudbelguith commented on #20636
Related to https://github.com/PrestaShop/PrestaShop/issues/13782

[2020-08-21 08:32] Alexanderlaiho commented on #17468
@leonardomlisboa si quieres mandame un correo ya que por aca dijeron que no era para ver ese thema... mi correo es igual pero gmail.. slds

[2020-08-21 08:36] NeOMakinG commented on #20522
@ngodefroy it looks like it was wanted, as you can access to this page by opening the menu and by clicking there :

![image](https://user-images.githubusercontent.com/14963751/90870592-1aa96800-e39a-11ea-9c81-0c8dc5948437.png)

The icon is intentionally hidden, wdyt @PrestaShop/prestashop-product-team ?

[2020-08-21 08:49] NeOMakinG commented on #20631
How would you want to fix this @PrestaShop/prestashop-product-team ?

![image](https://user-images.githubusercontent.com/14963751/90871549-89d38c00-e39b-11ea-9fb1-ad9d100e01d9.png)

I can make the whole table scrollable like on this screen

[2020-08-21 08:50] khouloudbelguith commented on #20645
Hi @matks,

I manage to reproduce the issue with develop branch(1780),
But it is added to our debug roadmap.
Your ticket is a duplicate of #15469
So, I close it.
Thanks !

[2020-08-21 08:50] #20645 closed, assigned to nobody

[2020-08-21 08:51] khouloudbelguith commented on #20645
Duplicate of #15469

[2020-08-21 08:51] khouloudbelguith commented on #15469
Same issue with frensh translation
![image](https://user-images.githubusercontent.com/16067358/90872029-462d5200-e39c-11ea-992e-c1344d0a43d5.png)

[2020-08-21 09:16] #20400 closed, assigned to nobody

[2020-08-21 09:17] #20627 closed, assigned to nobody

[2020-08-21 10:40] 01park opened #20665 "Multiple track and trace numbers"
#### Is your feature request related to a problem?

Its possible that items are shipped separate, or that you ship a part of the package now and the other half when in stock. They are many reasons to think about why a to add multiple track and trace would be a good improvement.. With multiple track and trace numbers this makes is more clear to the customer that they will receive more than one pack

[2020-08-21 11:07] khouloudbelguith opened #20666 "BO - Orders page - Allow the creation of order when the address is considered as soft deleted."
#### Describe the bug

In the BO => Orders => Add new Order page, Delivery and Invoice has the same address selected, when weupdate the delivery address and create the order, there is an error "The invoice address with id "2" cannot be used because it is deleted" because the invoice address is soft deleted

#### Expected behavior

Allow the creation of an order when the address is soft deleted

##

[2020-08-21 11:18] #17300 closed, assigned to eternoendless

[2020-08-21 11:58] khouloudbelguith opened #20667 "BO - Orders page - Vouchers block - Free shipping line is not added when a cart rule "Free shipping for a carrier selection" is applied"
#### Describe the bug

In the BO => Orders => New Order page, the "free shipping" line is not added to the Vouchers block when a cart rule "Free shipping for a carrier selection" is  applied

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Catalog => Discounts page
2. Create a cart rule Free shipping with a carrier selection "My carrier"
![image](https://user-images.githu

[2020-08-21 12:58] Hlavtox opened #20669 "Allow merchants to easily configure, what data do they want to see in BO"
#### Is your feature request related to a problem?

One of the first things I do for every client is customizing order list and product list. They do not care about some information and they want some extra information.

Example - orders: removing new client, removing country, adding carrier
Example - products: adding manufacturer. adding mpn

#### Describe the solution you'd like

- User could cl

[2020-08-21 13:40] khouloudbelguith opened #20670 "BO - Orders page - increment/decrement button doesn't work when we try to add a product out of stock (allow order)"
#### Describe the bug

In the BO => Orders page => New Order page => when we try to add an out of stock product with allowing order, the increment/decrement button doesn't work

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Catalog => Products page
2. Add a product with quantity <= 0 with allow order selected
3. Go to BO => Orders => New Order page
4. Add the last produ

[2020-08-21 14:42] khouloudbelguith opened #20671 "BO - Orders page - An exception is displayed when we try to add a customized product"
#### Describe the bug

In the BO => Orders => New Order page => an exception is displayed when we try a customized product
![image](https://user-images.githubusercontent.com/16067358/90902466-ce2b5000-e3cc-11ea-8074-b2a29588293e.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Catalog => Products page
2. Create a product with **minimal quantity > 1** and with a **cus

[2020-08-21 15:11] rauleburro opened #20672 "ERROR: for prestashop-git Cannot create container for service prestashop-git: status code not OK but 500 (Whe i run docker-compose up))"
#### Describe the bug

I clone the repo and run ```docker-compose up``` but the container launch an error:
[code]

#### Expected behavior

Run the container

#### Steps to Reproduce

Steps to reproduce the behavior:

Run ```docker-compose up```

#### Additional information

* PrestaShop version: 1.7.7.x
* Docker Desktop for windows: 2.3.0.4

[2020-08-21 15:20] #20672 closed, assigned to nobody

[2020-08-21 15:28] khouloudbelguith opened #20674 "BO - Order page - Vouchers block/ summary block - Voucher line is not removed when changing a carrier in the cart rule's selection - Total vouchers not removed from summary block also"
#### Describe the bug

In the BO =>  Orders => New Order page, the voucher line is not removed when changing a carrier in the cart rule's selection.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Catalog => Discounts page
2. Create a cart rule with a **code** with a carrier selection "177 carrier Pick

[2020-08-22 18:04] bvellacott opened #20676 "checkCreatePrivilege must check for priviledges for both InnoDB and MyISAM"
Google Cloud SQL doesn't support MyISAM, so the create checks fail and installation is blocked.

Solution: Check for create privilege using InnoDB engine also in the methods at:

https://github.com/PrestaShop/PrestaShop/blob/develop/classes/db/DbPDO.php#L362
and
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/db/DbMySQLi.php#L404

[2020-08-23 11:39] domaingood opened #20677 "Improvement [SEO & URLs] - Removes Ids & Numbers from your Store URLs"
#### Is your feature request related to a problem?

Remove IDs from URLs.
This PrestaShop removing IDs from URLs & SEO friendly URL module can remove IDs from these types of URL.

- Product url
- Category url
- Blog category url
- Blog post url
- CMS url
- CMS category url
- Manufacturer url
- Supplier url

This module has a feature to make you be able to choose pages to remove IDs, which makes th

[2020-08-23 14:25] AhmddQ opened #20678 "Bug in the Admin Panel"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-08-23 18:12] artaban opened #20679 "Activating / Deactivating Product from product listing resets unit_price_ratio to 0"
#### Describe the bug

When the product is activated / deactivated from the product listing page, the `unit_price_ratio` is reset to 0

#### Expected behavior

The `unit_price_ratio` would be kept

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Set unit price for a product to 10
2. Go to product listing page
2. Click on check / cross icon to activate / deactivate product
3. Navigate

[2020-08-23 18:31] rozwell opened #20682 "Deleting languague fails with open_basedir restriction in effect"
#### Describe the bug

Unable to delete a language because it fails on .htaccess and index.php files from PS_MODULE_DIR due to lack of testing whenever the path is actually a directory or not with open_basedir restriction in effect.

#### Expected behavior

Error should not be thrown, language shall be deleted.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to International => L

[2020-08-23 19:20] SimonGrn commented on #20678
Dear @AhmddQ
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be gl

[2020-08-23 19:20] #20678 closed, assigned to nobody

[2020-08-23 19:23] domaingood commented on #20677
New feature request. All users Dont want to show IDs from URLs
https://www.prestashop.com/forums/topic/458524-prestashop-1610-remove-ids-from-urls/
https://www.prestashop.com/forums/topic/293775-remove-id-from-url-of-category-product/

Why dont make More powerful SEO URL Like Magento and Wordpress.

[2020-08-24 07:52] muyncky commented on #14086
@mcdado in my opinion the process _should_ be like this:

1. Place the module locally/in git
2. Define the module in `theme.yml`
3. Deploy & activate theme (and thus enabling the module, which means installing it if not installed, however this function is still buggy in version `1.7.6.x`)
4. Module will be installed on deployment and create overrides

**To extends this idea**
Of course we still ha

[2020-08-24 08:01] NeOMakinG commented on #20682
@PrestaShop/prestashop-product-team should this be in the 177 scope or develop ? Feel free to change the PR description with the right answer!

[2020-08-24 08:12] khouloudbelguith commented on #20676
Hi @bvellacott,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14402 to fix the issue.
Your ticket is a duplicate of #12675
So, I close it.
Thanks!

[2020-08-24 08:12] #20676 closed, assigned to nobody

[2020-08-24 08:12] khouloudbelguith commented on #20676
Duplicate of #12675

[2020-08-24 08:29] khouloudbelguith commented on #20677
Hi @domaingood,

Thanks for your report.
We have an example module: SEO expert: https://addons.prestashop.com/en/seo-natural-search-engine-optimization/16939-seo-expert.html

Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-08-24 08:30] mcdado commented on #14086
Hmm interesting idea! It would be nice to allow configuration trough deployment, but I think it should be an installation-time thing and that's it. Because in many cases it's unreasonable to change all settings through yml files and deployment.

I'll look into defining modules in theme.yml, thank you for the tip!

[2020-08-24 08:35] khouloudbelguith commented on #20679
Hi @artaban,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10792
So, I close it.
Thanks!

[2020-08-24 08:35] #20679 closed, assigned to nobody

[2020-08-24 08:35] khouloudbelguith commented on #20679
Duplicate of #10792

[2020-08-24 08:36] khouloudbelguith commented on #10792
Hi!

This issue will be fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/20680
Thanks to @artaban!

[2020-08-24 08:57] NeOMakinG commented on #20631
It looks good, but it means that you wont see end columns until you scroll :/

[2020-08-24 09:11] Quetzacoalt91 commented on #14086
Hi there,

You may use the command `php bin/console prestashop:module configure <module name> [<YML file path>]` to configure your modules from yml files, it seems it may cover your needs.

See https://devdocs.prestashop.com/1.7/modules/testing/resources/#configuration for more details.

[2020-08-24 09:31] khouloudbelguith commented on #20682
Hi @rozwell,

Have you this exception when deleting a language?
![image](https://user-images.githubusercontent.com/16067358/91027956-129d3280-e5fd-11ea-87a3-5852f755a5c0.png)
![image](https://user-images.githubusercontent.com/16067358/91028005-234da880-e5fd-11ea-99e8-fa18fffa1f97.png)

Thanks!

[2020-08-24 09:34] khouloudbelguith commented on #20419
Hi @01park,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

THanks!

[2020-08-24 09:34] #20419 closed, assigned to nobody

[2020-08-24 09:34] khouloudbelguith commented on #20438
Hi @pro8181,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-24 09:34] #20438 closed, assigned to nobody

[2020-08-24 09:35] khouloudbelguith commented on #20437
Hi @ericyau028;

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-24 09:35] #20437 closed, assigned to nobody

[2020-08-24 09:37] ajejebrazorf01 commented on #20252
Hello everyone, news?

[2020-08-24 10:04] marionf commented on #20682
@NeOMakinG We need to reproduce the issue before, make sure it's not a regression and qualify it
The version mentionned here is the affeted version, not the version where the issue will be fixed

[2020-08-24 10:18] khouloudbelguith commented on #20682
@marionf, @NeOMakinG,

I followed these steps:
set the open_basedir value (ex open_basedir = '/var/www/html/Prestashop')
Try to delete a language
I have this exception
![image](https://user-images.githubusercontent.com/16067358/91033516-c6a1bc00-e603-11ea-9374-e536afd55960.png)
I just reload the page
I have this error
![image](https://user-images.githubusercontent.com/16067358/91033543-d1f4e780-e6

[2020-08-24 10:33] pouzarm commented on #10479
Error still note resolved... 1.7.3.0 is ok .. but at least 1.7.5.0 and higher version (including 1.7.7.0 beta) still not working... (doesn't matter what PHP used)

Changing value to 3 is still only fix.

[2020-08-24 10:34] eduardob1978 opened #20685 "Problem with modules page"
#### Describe the bug
Error 500 when entrered the module page

#### Expected behavior

see the modules page

#### Steps to Reproduce

Steps to reproduce the behavior:

click on modules
appeared error 500 page
**Screenshots**

![Captura de pantalla 2020-08-24 12 06 35](https://user-images.githubusercontent.com/57547778/91034757-ce626000-e605-11ea-8a62-fae853d89c70.png)

#### Additional information

[2020-08-24 10:37] khouloudbelguith commented on #20651
Hi @ngodefroy, @marionf,

This issue isn't similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/18776?

Thanks!

[2020-08-24 10:39] khouloudbelguith commented on #20685
Hi @eduardob1978,

You have an issue with the `adyenofficial` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-08-24 10:39] #20685 closed, assigned to nobody

[2020-08-24 10:43] muyncky commented on #14086
@Quetzacoalt91 that is great!

[2020-08-24 11:09] khouloudbelguith opened #20686 "BO - Orders page - Order Message is not saved after creating a new order from BO"
#### Describe the bug

In the BO => Orders => New Order page => when we add an order message => in the order page there is no message displayed
![image](https://user-images.githubusercontent.com/16067358/91038037-62362b00-e60a-11ea-9cb9-e11aad0e89f0.png)
![image](https://user-images.githubusercontent.com/16067358/91038113-872a9e00-e60a-11ea-9b7d-36875f09f570.png)

#### Expected behavior

It was ok

[2020-08-24 11:29] rozwell commented on #20682
Hi @khouloudbelguith,
Yes, that's the issue, just in my case it was failing on `.htaccess` file first, then `index.php`.

[2020-08-24 11:31] khouloudbelguith commented on #20682
@rozwell, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.7 and 177x branch.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-08-24 11:39] rozwell commented on #20682
@khouloudbelguith, I've already send a pull request for it #20681 :)

[2020-08-24 11:44] khouloudbelguith opened #20687 "BO - Orders page - "Send an email to the customer with the link to process the payment." doesn't work"
#### Describe the bug

In the BO => Orders page => Add new order page => In the summary block, the button `Send an email to the customer with the link to process the payment.` doesn't work, we have an error in the console
![image](https://user-images.githubusercontent.com/16067358/91040922-5c8f1400-e60f-11ea-9145-d9c62095e552.png)

#### Expected behavior

It was ok with PS1.7.6.7
![image](https://

[2020-08-24 12:58] LouiseBonnard commented on #14001
On hold, waiting for the merge of the UI kit.

[2020-08-24 13:13] PierreRambaud commented on #20582
Duplicate of #11105

[2020-08-24 13:13] #20582 closed, assigned to nobody

[2020-08-24 13:17] PierreRambaud commented on #11105
For everyone who's concerned by this bug. If you can have the time to try this fix https://github.com/PrestaShop/PrestaShop/pull/20689 and tell us if it's better :)

[2020-08-24 14:12] LouiseBonnard commented on #20612
Hej @jolelievre, okay for the wording _This product is already in the invoice #%number%, please edit the quantity instead._, localized in _Admin.Notifications.Error_, thank you.

[2020-08-24 14:31] jonpontet commented on #20575
@MatShir re: "If you have only one language why you would have an alternative link? But this might be another issue from your module."

Your logic is sound, but it is actually recommended best practice from Google - I'll find the link.

And PrestaShop IS doing it, so how about we do it correctly ?!

[2020-08-24 14:32] khouloudbelguith opened #20690 "Discounts - Incorrect total with Free gift + Percent discount cart rule"
#### Describe the bug

The total Order is incorrect when he have two cart rules = free gift and a percent discount

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Catalog => Discounts => Cart rule page
2. Create a cart rule Percent discount 50%
![image](https://user-images.githubusercontent.com/16067358/91055866-83f0db80-e625-11ea-9864-fad6c64ccd79.png)
3. Create a secon

[2020-08-24 14:33] khouloudbelguith commented on #20690
Maybe related to this https://github.com/PrestaShop/PrestaShop/pull/16724

[2020-08-24 14:40] jolelievre commented on #20690
The problem seems to be that the gift cart rule is applied on each product in 177, and only one time on 176

[2020-08-24 14:41] Hlavtox commented on #11105
@PierreRambaud Applied to all our 9 shops and cache cleared fine on all of them. Before, half would be OK, half would white-page. Soooo... promising? :-)

Just plz check that it didn't fuckup anything else and also clears theme/assets/cache etc. :-D 🚀

[2020-08-24 14:43] Hlavtox opened #20691 "When creating category, select all groups by default"
#### Is your feature request related to a problem?

When me or an employee is creating a category, we often forget to check our extra customer groups. Then a customer is complaining that he cannot enter some specific category.

#### Describe the solution you'd like

When creating new category, select all customer groups by default, not just the 3 original ones.

#### Additional context

I think th

[2020-08-24 14:47] khouloudbelguith commented on #20691
Hi @Hlavtox,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-08-24 14:52] LouiseBonnard commented on #20526
Nice catch! GDPR module displays two lorem ipsum texts by default when the user enables consent request messages for both Contact form and Newsletter subscription modules. See the screenshot below.

It should be _I agree to the terms and conditions and the privacy policy._ (with a final point at the end of the message) for the four messages. Or even a placeholder text but then a check is necessary

[2020-08-24 15:06] PierreRambaud commented on #11105
Yes, we will do it :)

[2020-08-24 15:35] ngodefroy opened #20694 "[BO][Attributes] Add new attributes button displayed 2x times"
#### Describe the bug

In the BO, I access the Attributes & Features Page.
I can see two buttons "Add new Attributes" (in different places) each redirecting to the same page

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Attributes & Features
2. Clicl on Attributes
3. Check the two different "add new attrib

[2020-08-24 16:09] Sinepel commented on #20578
I think it's the same problem on other languages.
Example: https://www.prestashop.com/de/contact-us should be https://www.prestashop.com/de/kontakt

`Contact-us` is hard-coded :'(

Should we make a `getContactLink` function in `InstallControllerHttp` with isocode link mapping? By default, return to EN if no isocode?

[2020-08-24 16:23] LouiseBonnard commented on #20632
@Junebyun, I would even be more precise and write _Are you sure you want to delete this related product?_, what do you think? Localize it in _Admin.Notifications.Warning_ sounds perfect. ;-)

[2020-08-24 19:19] domaingood commented on #20677
He  @khouloudbelguith
SEO expert is SEO Modules It,s add Meta tag for SEO. But SEO-Friendly URL Structure is other things its must have All CMS in 2020.I dont know why Prestashop missing like this Must have Feature in Buit-in.All Other CMS Like WordPress Magento
& Open Cart have this feature from starch many friends recommend other shopping cart Fpr SEO-Friendly URL Structure. They move to other s

[2020-08-24 19:25] domaingood commented on #18402
Add Task For SEO Removes Ids & Numbers from your Store URLs https://github.com/PrestaShop/PrestaShop/issues/20677

[2020-08-24 20:01] Gipielle commented on #12009
I have similar problem with php 7.2.33 and ps 1.7.6.6, sometimes customers tells me that cart show free shipping but we don't have any free shipping option

[2020-08-24 20:15] Hlavtox commented on #20677
@domaingood Having IDs in URL has absolutely ZERO effect on SEO. If you are not selling, do not blame Prestashop. 👍

[2020-08-24 20:51] msaustral commented on #20528
Hi Matks, if we apply this to Cookie.php the bachoffice does not open, any idea?

`
if (Configuration::get('PS_SSL_ENABLED') == 0){

            return setcookie($this->_name, $content, $time, $this->_path, $this->_domain, $this->_secure, true);
        }else{
            if (PHP_VERSION_ID < 70300) {
                return setcookie(
                    $this->_name,
                    $content,

[2020-08-24 21:45] ilyassw opened #20695 "SMTP"
Hi,
Prestshop version 1.7.6.7
I posted about my issue on presta forum but i didn't get an answer , so i hope i  will get one here .
I have problem setting up SMTP with port 587 and port 465 , if i use port 25 i can send and receive email without any issue ! note that port 25 is open on amazon light sale as well as port 587 and 465 ... but whenever i try port 587 encrypt ssl i get this error :

  E

[2020-08-25 07:03] BrunoGonc-lab opened #20696 "Internal Server error"
When I try to open the **Modules**>**Modules and Services** or **Payment**>**Payment Methods**, I get a _500 Internal Server Error_.

Last night I updated Paypal but everything was working well. I don't know if it's the reason for this error.

![image](https://user-images.githubusercontent.com/61451077/91142619-610c0900-e6b1-11ea-9119-618351c5a16a.png)

* PrestaShop version: **v1.7.1.2**
* PHP ver

[2020-08-25 07:12] baldemir opened #20697 "Change order of discounts"
Hi,

Thank you for putting great work on this project. I have a concern about Catalog Price Rules. Let's say I want to apply 10% discount on all products. So I created a price rule for this and it works as expected. When I wanted to apply a 50% discount for "Category 1" and created a price rule for "Category 1" products in "Category 1" still has 10% discount. So it doesn't work as I expected.

If

[2020-08-25 07:38] Junebyun commented on #20632
@LouiseBonnard yes, sounds good to me! :)

[2020-08-25 07:59] khouloudbelguith commented on #20697
Hi @baldemir,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #20185
So, I close it.
Thanks!

[2020-08-25 07:59] #20697 closed, assigned to nobody

[2020-08-25 08:00] khouloudbelguith commented on #20697
Duplicate of #20185

[2020-08-25 08:08] khouloudbelguith commented on #20696
Hi @BrunoGonc-lab,

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configurat

[2020-08-25 08:11] khouloudbelguith commented on #20695
Hi @ilyassw,

The information for these fields, SMTP, should be provided by your web host: mail domain name, SMTP server, SMTP user, etc. Make sure to transcribe exactly what your web host provides you with.
On this github repository there is no software support. This is an open source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing softwar

[2020-08-25 08:11] #20695 closed, assigned to nobody

[2020-08-25 08:24] marionf commented on #20694
Hello @ngodefroy
This is the wanted behavior on legacy pages, anyway this is not the case anymore with migrated pages and will be automatically fixed with the migration, so I close this issue

[2020-08-25 08:24] #20694 closed, assigned to nobody

[2020-08-25 08:27] jolelievre commented on #20677
Hi @domaingood,

I'm not sure removing those extra IDs will have **significant** impact on your SEO, the purpose of a friendly URL is (mostly) to:
- be more descriptive for the user
- contain keywords for search engine
- represent a folder structure (category parent, ...)

PrestaShop already meets those needs, the presence of the ID is only here to allow fetching the matching product and combinati

[2020-08-25 08:32] madsoliver opened #20700 "Make Module manager notifications/flash messages last longer"
Make a module return false on install, try to install to get a error notification / flash message.
It works, but it shows for to short amount of time - no time to read if there is important information.

Should be longer, or better lasting forever until you close it with an x.

![Screenshot 2020-08-25 at 10 27 15](https://user-images.githubusercontent.com/30602638/91151696-4d1ad400-e6be-11ea-8ecf-

[2020-08-25 08:36] ilyassw commented on #20695
Hi ,
I am not sure why you are closing this ticket ? The SMTP is not working on prestashop 1.7.6.7 ! don't just close this ticket like that ? yes i do have SMTP details ! but prestashop still give error mentioned above ! Error: Please check your configuration

Connection could not be established with host smtp.mydomain.com [ #0]

I still think this need to be resolved here i am afraid , it has to

[2020-08-25 08:42] ilyassw opened #20701 "SMTP"
Hi,
Prestshop version 1.7.6.7
I posted about my issue on presta forum but i didn't get an answer , so i hope i will get one here .
I have problem setting up SMTP with port 587 and port 465 , if i use port 25 i can send and receive email without any issue ! note that port 25 is open on amazon light sale as well as port 587 and 465 ... but whenever i try port 587 encrypt ssl i get this error :

Erro

[2020-08-25 08:53] khouloudbelguith commented on #20701
Hi @ilyassw,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
https://drive.google.com/file/d/1iilctyY__itql95dako5OFYWtOLlI9nM/view?usp=sharing
This is a custom configuration issue.
You need to check your host.
Please, On this github repository there is no software support. This is an open source project.
You can find help

- on PrestaSho

[2020-08-25 08:53] #20701 closed, assigned to nobody

[2020-08-25 08:53] khouloudbelguith commented on #20701
Duplicate of #20695

[2020-08-25 08:56] ngodefroy opened #20702 "[BO][PRODUCTS] [COMBINATIONS] [BULKS ACTIONS] Error message & in console when editing"
#### Describe the bug

In the BO, products>combinations, When I do a bulk action on multiple products, I get a message error and an error in console and im not able to edit the quantity/price in this mode.

#### Expected behavior

Being able to make bulk actions on multiple products

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Products > Combinations Click on the Bulk actio

[2020-08-25 08:56] khouloudbelguith commented on #20695
@ilyassw,

This github repository is not free a software support area, but a bug tracker.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Thanks for your understanding!

[2020-08-25 08:58] khouloudbelguith commented on #20700
Hi @onklmaps,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2020-08-25 09:14] ilyassw commented on #20701
Cool thanks ! That make sense .

[2020-08-25 09:22] ttoine commented on #20677
I am not a SEO expert, but I post content on the web since 1998 and since the origins of the web, the very important basic is having a unique URL that works over time. That's actually why having the ID in the URL is a bonus for SEO, because it is then sure that URLs are unique AND working to go to the good product page even if there are a few changes like page title, ...

The main use cases:
* if

[2020-08-25 09:51] khouloudbelguith commented on #20702
Hi @ngodefroy,

I think this issue is related to `max_inpput_vars`.
You need to increase it to 5000 as recommended.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2020-08-25 10:01] PierreRambaud commented on #11105
Could you use the new commit, it uses the cache:clear command instead of cache:pool:prune. It takes more time but looks good :)

[2020-08-25 10:07] Hlavtox commented on #11105
@PierreRambaud Also works, but takes a lot longer. With the original PR, it took like 1 second, now it takes 10

[2020-08-25 10:38] idnovate opened #20705 "Cart rule with carrier restriction is not applied automatically"
#### Describe the bug

Cart rule with carrier restriction is not applied automatically if default carrier is selected

#### Expected behavior

Cart rule should be applied in the cart automatically without changing carrier selection

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a cart rule with carrier restriction and free shipping:

![image](https://user-images.githubuserco

[2020-08-25 10:43] idnovate opened #20706 "Update shipping fees after selecting a carrier"
#### Describe the bug

The shipping fees don't have the same behaviour depending on the actions you take. They don't display the same amount always. When you update the page the shipping rates change.

#### Expected behavior

Display the correct amount always. Refresh shipping rates when a new carrier is selected.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a cart rule wi

[2020-08-25 10:50] khouloudbelguith commented on #20705
Hi @idnovate,

Thanks for your report.

This issue occurs due to this issue: #9688
We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9688
So, I close it.
Thanks !

[2020-08-25 10:50] #20705 closed, assigned to nobody

[2020-08-25 10:50] khouloudbelguith commented on #20705
Duplicate of #9688

[2020-08-25 11:01] khouloudbelguith commented on #20706
Hi @idnovate,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/15458#issuecomment-529451147
So, I close it.
Thanks!

[2020-08-25 11:01] #20706 closed, assigned to nobody

[2020-08-25 11:01] khouloudbelguith commented on #20706
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/15458#issuecomment-529451147

[2020-08-25 11:02] khouloudbelguith commented on #20706
Hi @idnovate,

You can follow this epic for more details: https://github.com/PrestaShop/PrestaShop/issues/13823

Thanks!

[2020-08-25 11:08] khouloudbelguith commented on #15525
Same issue with 1770beta2build1
![image](https://user-images.githubusercontent.com/16067358/91167318-0f28aa80-e6d4-11ea-91ca-38db61825b15.png)

[2020-08-25 11:17] khouloudbelguith commented on #13243
Same issue with PS1770beta2build1
![image](https://user-images.githubusercontent.com/16067358/91168055-40ee4100-e6d5-11ea-92e4-240940ec4661.png)
=> Save
![image](https://user-images.githubusercontent.com/16067358/91168086-52374d80-e6d5-11ea-8fae-84e9af6233ec.png)

Thanks!

[2020-08-25 11:21] khouloudbelguith commented on #17603
Hi!

Same issue with 1770beta2build1

[2020-08-25 11:36] khouloudbelguith commented on #19090
Hi!

As commented [here](https://github.com/PrestaShop/PrestaShop/issues/19090#issuecomment-633900555), I have the same issue with PS1.7.7.0beta2build1
![image](https://user-images.githubusercontent.com/16067358/91169626-f7ebbc00-e6d7-11ea-84c8-e1199b477992.png)
![image](https://user-images.githubusercontent.com/16067358/91169656-01752400-e6d8-11ea-8e3e-5fd4e125adfb.png)

Thanks!

[2020-08-25 11:38] mvorisek opened #20708 "AbstractCommand should not use exec for calling another php"
`AbstractCommand` and `Upgrade`/`Refresh` child classes use currently system/shell to invoke

commands to php apps that use Symfony Console like `doctrine:cache:clear-metadata` can/should be included directly instead of using `exec`

using `exec` was introduced lately, in past, install (using web or cli) did not require `exec` (nor `proc_open`)

if this is not a bug, than it is a feature request,

[2020-08-25 11:39] khouloudbelguith commented on #17665
Hi!

Same behavior with 1770beta2build1
![image](https://user-images.githubusercontent.com/16067358/91169874-5749cc00-e6d8-11ea-8bb7-1ddc590764a3.png)
![image](https://user-images.githubusercontent.com/16067358/91169898-63358e00-e6d8-11ea-8f66-4b6497cc972b.png)

Thanks!

[2020-08-25 11:41] khouloudbelguith commented on #20708
Hi @mvorisek,

Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-08-25 11:49] mvorisek commented on #16736
@khouloudbelguith please reopen

issue still present when installing from CLI using NTS PHP, steps to replicate remains:

Warning: is_file(): open_basedir restriction in effect. File(C:\xxx\ps_php8\ps_17_php8\app/Resources/views/C:/xxx/ps_php8/ps_17_php8/mails/themes/modern/core/account.html.twig) is not within the allowed path(s): (C:\xxx\ps_php8)

[2020-08-25 11:56] mvorisek opened #20709 "Install fails with open_basedir and NTS PHP on Windows"
related with previous issue https://github.com/PrestaShop/PrestaShop/issues/16736

## how to replicate
issue present when installing from CLI using NTS PHP with `open_basedir` set, steps to replicate:

1. download NTS PHP for Windows (ex https://windows.php.net/downloads/releases/php-7.4.9-nts-Win32-vc15-x64.zip )
2. clone the latest PrestaShop develop and run composer install
4. install from CLI

[2020-08-25 12:08] khouloudbelguith commented on #20709
Hi @mvorisek,

This issue is fixed in the 177x branch.
Could you please try to reproduce the issue in the 177x branch, check and feedback.

Thanks!

[2020-08-25 12:13] PierreRambaud commented on #11105
@Hlavtox Yes, but I check about themes, assets, etc and the first one was not clearing it all. Right now it really clear the whole cache directory, but a little more properly :)

[2020-08-25 12:21] BrunoGonc-lab commented on #20696
Hi @khouloudbelguith,

I enabled Debug Mode and at the **Module and Services** I get this:

Here's the page with the error.
[Error Log.zip](https://github.com/PrestaShop/PrestaShop/files/5123639/Error.Log.zip)

The javascript console doesn't show more than the 500 Internal Server Error.

Thank you so much

[2020-08-25 12:26] mvorisek commented on #20709
this isssue is related to the previous one, but the issue is different and also the output is different

reproduced now on `1.7.7.x`, so at least `1.7.7.x` and `develop` is affected

[2020-08-25 13:00] LouiseBonnard commented on #20548
Hello, PrestaShop does not support the Maltese language yet but to do so, your `app/Resources/legacy-to-standard-locales.json` file must also be completed. Note that, for now, there is no Maltese translation available for PrestaShop but you can start translating the software into Maltese if you feel like it via [Crowdin](https://crowdin.com/project/prestashop-official). :-)

[2020-08-25 13:01] khouloudbelguith commented on #20709
@mvorisek, Thanks for your feedback.
I need to prepare a similar environment to reproduce the issue.
I will check and feedback.

Thanks!

[2020-08-25 13:01] radekml commented on #14950
I have the same problem in Prestashop 1.7.6.4. The uploaded photos are 1500 x 1500 px resolution. Changing JPG quality and compression to 100 does not change anything. @vincentsuperscale did not respond and the topic was closed, but rather nothing was solved.

Each picture in a white background has ugly noises visible on some screens, especially when you look at the screen at an angle or if you dr

[2020-08-25 13:47] NeOMakinG commented on #15108
It looks like I can't reproduce it on develop :

![image](https://user-images.githubusercontent.com/14963751/91182284-443ff780-e6ea-11ea-9c4f-3ac83a3182fe.png)

wdyt @marionf  ?

[2020-08-25 14:11] marionf commented on #15108
Same, I can't reproduce on 1.7.7.x

![capture d'écran_2778](https://user-images.githubusercontent.com/13449658/91184997-8fa7d500-e6ed-11ea-94c3-217e77566709.png)

I close the issue as we can't reproduce it

[2020-08-25 14:11] #15108 closed, assigned to nobody

[2020-08-25 14:13] ngodefroy commented on #20702
Thank you, after increasing max_input_cars, it worked, thus I close the issue :)

[2020-08-25 14:13] #20702 closed, assigned to nobody

[2020-08-25 14:39] matthieu-rolland opened #20712 "actionProductCancel hook not triggered on standard refund"
#### Describe the bug
In 1.7.6, the **actionProductCancel** hook was triggered from the BO order page, when clicking on the button "cancel product", "standard refund" or "cancel product". In 1.7.7 it is triggered only when clicking on "cancel product".

#### Expected behavior
The **actionProductCancel** hook should be triggered on all kinds of cancellation / refunds.

#### Steps to Reproduce

Perf

[2020-08-25 14:41] khouloudbelguith commented on #20696
@BrunoGonc-lab,

You have an issue with the `paygreen` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-08-25 14:41] #20696 closed, assigned to nobody

[2020-08-25 14:54] eternoendless commented on #16475
This way we could have a full OSL repository.

This could be desirable at a given point in time but it's blocked by other difficulties:

- Theme versioning
- Theme upgrading
- Synchronization between Core repo and Theme repo

As for TinyMCE, including it with NPM would still mean that we'd be distributing it in the release package. As far as I understood the idea was to remove it completely from t

[2020-08-25 15:25] marionf commented on #20640
@TristanLDD what do you think ?

[2020-08-25 15:34] ttoine commented on #16475
About TinyMCE: an other possibility is to have a dedicated repo with our modifications (if there are still any), so it would be clear that it is in LGPL and that the modifications we maintain for our needs are also in LGPL. Then, manage that piece of code as a dependency with composer or any equivalent system for TinyMCE techno would be ok. (we do that already with Guzzle, if I am not wrong, and i

[2020-08-25 15:42] marionf commented on #20700
Hello @onklmaps
It seems a good idea, do you feel to [make a pull request](https://github.com/PrestaShop/PrestaShop/tree/develop) to fix that ?

Thank you!

[2020-08-25 15:45] NeOMakinG commented on #20640
I would say, having the price input upper the label on a bigger media query, but waiting for @TristanLDD advice

[2020-08-25 16:40] madsoliver opened #20715 "Add $delta_quantity to hookActionUpdateQuantity()"
I am trying to update product stock in an external api. Using the hookActionUpdateQuantity($params)  I only get the qty after the change. But the external API requires me to make the stock change in either negative or positive change - in other words, how much the stock should change with and not the result after the change. I am surprised to see that there are no $params['previous_qty] and $param

[2020-08-25 20:47] guil182 commented on #14744
Hi @khouloudbelguith,

In PrestaShop/themes/_core/js/product.js

Replace l 175 : `eventType === 'updatedProductCombination' ? $quantityWantedInput.attr('min') : $quantityWantedInput.val(),`

by

`eventType === 'updatedProductCombination' ? 1 : $quantityWantedInput.val(),`

And I think it will be ok.

Can you give the information please to a developer ?

Regards

[2020-08-25 21:30] RonaldoPontual opened #20718 "Problems about integration between PrestaShop 1.7.6.7 and MercadoPago 4.1.1"
#### Describe the bug

Mercado Pago's check out system gives you trouble in finalizing your payment. I can't simulate payment using either a credit card or a bank slip.

The PM module is not listed in the PrestaShop payment methods.

#### Expected behavior

The system is expected to perform the checkout

#### Steps to Reproduce

When trying to perform payment tests

**Screenshots**

![1](https://u

[2020-08-26 02:25] AlexisFAR commented on #17468
@Alexanderlaiho you need modify classes/Cookie.php

return setcookie($this->_name, $content, $time, $this->_path,
            $this->_domain. '; SameSite=None',
            $this->_secure,
            true);

![image](https://user-images.githubusercontent.com/70247496/91247995-98b29980-e721-11ea-9900-f7818226ba6a.png)

to include SameSite=None with this change the cookie PrestaShop-XXXXXXXXXX
Cons

[2020-08-26 06:43] PierreRambaud commented on #20708
Hi, Could you tell us more about where this exec is? I only see one in DatabaseDump.php

[2020-08-26 06:53] mvorisek commented on #20708
@PierreRambaud in https://github.com/PrestaShop/PrestaShop/blob/9317b06b346c8ed1b022b02de6d1c1636380992b/src/PrestaShopBundle/Install/Install.php#L327

generally everywhere, where `AbstractCommand\AbstractCommand` is used - instead of invoking these commands thru shell, we should invoke the commands from the same process, which should we possible when the target libs use Symfony Console

[2020-08-26 07:30] mvorisek commented on #20709
@khouloudbelguith can you please prioritize this issue and get someone looked into it?

[2020-08-26 07:34] jordiweblidera opened #20719 "When I activate the invoice and create one for a previous order, it generates a double invoice"
#### Describe the bug

When I activate the invoice and create one for a previous order, it generates a double invoice

#### Expected behavior

Only one invoice per order

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Disable invoice
2. Create an order
3. Change order state to Payment accepted
4. Enable invoice
5. Go to order and generate invoice
6. Press download invoice, it genera

[2020-08-26 07:35] khouloudbelguith commented on #20709
Ping @PrestaShop/prestashop-core-developers can you check this issue in the meantime, I will prepare such environment.

Thanks!

[2020-08-26 07:39] khouloudbelguith commented on #14744
Hi @guil182,

Thanks for your feedback.
Can you try to create a PR: https://github.com/PrestaShop/PrestaShop with your correction.
https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/

Thanks!

[2020-08-26 07:59] sarahdib commented on #20718
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using a third-party modules, please contact the developper of the module.

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

Thank you!

[2020-08-26 07:59] #20718 closed, assigned to nobody

[2020-08-26 08:03] sarahdib commented on #20715
@PrestaShop/prestashop-core-developers could you check this ?

[2020-08-26 08:22] eternoendless commented on #20715
Yes that's right, just use `snake_case` in arguments naming to maintain style consistency. Here's where you should add it: https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Stock/StockManager.php#L192

[2020-08-26 08:25] guil182 commented on #14744
Hi @khouloudbelguith,

It's the first time I done it. I hope it's ok.
https://github.com/PrestaShop/PrestaShop/pull/20720

Regards

[2020-08-26 08:27] khouloudbelguith commented on #14354
Hi @Uff182,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/20715
So, I close it.
Thanks!

[2020-08-26 08:27] #14354 closed, assigned to nobody

[2020-08-26 08:28] khouloudbelguith commented on #14354
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/20715

[2020-08-26 08:31] jf-viguier commented on #20164
@Mch0 is thinking about a fondation for a future visual builder, it should be great.

[2020-08-26 08:32] awitkutarahil opened #20722 "There is no easy way to find out if a voucher presented by CartPresenter provides free shipping"
#### Is your feature request related to a problem?

On Front Office, there is no easy way to find out if a voucher presented by CartPresenter provides free shipping or not. I suggest adding this little property as a boolean in the presented voucher object.

#### Describe the solution you'd like

Add the missing property into the object. See Pull Request https://github.com/PrestaShop/PrestaShop/pul

[2020-08-26 08:43] eternoendless commented on #10094
Some of them have been implemented or implemented partially:

- There's no `getTranslator()` but there's `trans()`(
- There's no `getShop()` but there's `getContextShopId()`
- There's no `getLocale()` but there's `getContextLocale()`
- There's no `getCurrency()` but it can be retrieved through `getContext()->currency`
- There's no `getEmployee()` but it can be retrieved through `getContext()->empl

[2020-08-26 08:56] ngodefroy opened #20723 "[BO][ATTRIBUTES & FEATURES] Filtrer by position not working"
#### Describe the bug

Under Attributes & Features> Attributes & Features, When I filter the search by a specific position, I get no result or no corresponding results

#### Expected behavior

Filter by position should give me the expected results

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Attributes & Filters
2. Click on Attributes or Features
3. Filter by position only

[2020-08-26 08:59] matks commented on #20708
@mvorisek I am sorry but, like @PierreRambaud, I fail to understand this issue. I have been looking for `exec()` statements in both the Core code and the autoupgrade module, I cant find one.

Are we talking about https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Service/Command/AbstractCommand.php#L81 ?

If I get it correctly, you see "exec warnings" when running these com

[2020-08-26 09:02] roncarino commented on #13721
Hi @insology, I saw you made some configuration in your nginx inside vagrant homestead. Can you let me know where this config file is? I have kinda the same problem and I wanted to try your solution but I am having hard time finding where that config file is.... thanks!

[2020-08-26 09:03] mvorisek commented on #20708
@matks yes, for ex. for Doctrine ORM, we should mimic:

https://github.com/doctrine/orm/blob/2.7/bin/doctrine.php#L69

ie. call

ConsoleRunner https://github.com/doctrine/orm/blob/2.7/lib/Doctrine/ORM/Tools/Console/ConsoleRunner.php

directly

[2020-08-26 09:04] eternoendless commented on #15943
Can this be enabled in dev mode and disabled in prod mode?
Do the deprecation messages only appear if the deprecated functions are used? In that case, we must update our usage of deprecated functions.

[2020-08-26 09:08] eternoendless commented on #16243
![image](https://user-images.githubusercontent.com/1009343/91284618-70ac5000-e78c-11ea-9ea2-d192376d8e2a.png)

Sounds like this should be changed ASAP

[2020-08-26 09:33] ngodefroy commented on #20723
This page will be migrated in symfony on next version thus I close the issue.

[2020-08-26 09:33] #20723 closed, assigned to nobody

[2020-08-26 09:43] eternoendless commented on #17370
Yep, just do it
Transferring this issue to the appropriate project

[2020-08-26 09:47] eternoendless commented on #17511
Done here: https://github.com/PrestaShop/docs/pull/661

@matks can we consider this one done?

[2020-08-26 09:47] eternoendless commented on #17512
@matks what's the status on this?

[2020-08-26 09:48] matks commented on #17511
Yes indeed.

[2020-08-26 09:48] #17511 closed, assigned to nobody

[2020-08-26 09:58] eternoendless commented on #18629
We'll progressively get rid of *Core legacy classes as they are replaced in the Core. This, however, will take a long time.

I'm closing this issue because it's a known architecture problem that we're aware of and will be progressively be fixed.

[2020-08-26 09:58] #18629 closed, assigned to nobody

[2020-08-26 11:12] sarahdib commented on #20719
Hello @jordiweblidera

Despite our efforts, we were not able to reproduce your issue with the provided information.
[IN000021 (1).pdf](https://github.com/PrestaShop/PrestaShop/files/5129422/IN000021.1.pdf)
![image (1)](https://user-images.githubusercontent.com/3034677/91296895-a574d300-e79d-11ea-9473-417ce6546ac6.png)
![image (2)](https://user-images.githubusercontent.com/3034677/91296899-a73e9680

[2020-08-26 11:12] #20719 closed, assigned to nobody

[2020-08-26 11:19] khouloudbelguith commented on #19096
Ping @PrestaShop/prestashop-product-team what do you think? it is a ug or a wanted behavior?

Thanks!

[2020-08-26 11:25] Hlavtox opened #20725 "Version number of upraded module does not change until refresh"
#### Describe the bug

1. Go to modules page.
2. Click upgrade button on some module.
3. Version number does not change.

#### Additional information

* PrestaShop version: 1.7.6.2
* PHP version: 7.2

[2020-08-26 11:35] davidglezz opened #20726 "BO Product page for large catalogs"
Currently the product edit page is very slow (on mid to big catalogs) because all the elements of related entities are loaded instead of implementing a search / selector widget (example, select one or more from this huge list of all attachments).

Currently loaded:
- Complete category tree
- All Brands
- All Features
- Values: Only values of selected feature.
- Carriers (there are usually not many

[2020-08-26 11:47] PierreRambaud commented on #20709
Hi,
`C:\xxx\ps_php8\ps_17_php8\app/Resources/views/C:/xxx/ps_php8/ps_17_php8/mails/themes/modern/core/account.html.twig `
regarding the generated path, it looks like something went wrong. Does it happen only on Windows?
Also, you need to take in consideration PHP 7.4.9 is not supported yet.

[2020-08-26 11:51] matks commented on #20725
I could add to this bug:

1. Go to modules page.
2. Install some module.
3. After installation is complete, use search bar to "search" for this module you cant find it. You must refresh first.

Basically the page does not refresh upon action completion.

One easy and dirty way to fix it would be ... to force refresh 😅  😋

[2020-08-26 11:52] Hlavtox commented on #20725
@matks That's what I was thinking, but you could have some bulk module actions in progress :-D

[2020-08-26 11:56] PierreRambaud commented on #15943
We should be able to use: https://github.com/jquery/jquery-migrate/blob/master/src/migratemute.js

[2020-08-26 11:58] mvorisek commented on #20709
@PierreRambaud I think yes as paths are combined very differently on other platforms in php interpreter and it is maybe even related with https://github.com/php/php-src/pull/5001

My best guess is:
- it is reproducible on any Windows with NTS PHP
- it may be presented in 1.7.7.x as well

as 7.4 is expected to be supported very soon, I think the issue should be traced and fixed, help wanted

[2020-08-26 12:03] khouloudbelguith commented on #20725
Hi @Hlavtox,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16066
So, I close it.
Thanks!

[2020-08-26 12:03] #20725 closed, assigned to nobody

[2020-08-26 12:04] khouloudbelguith commented on #20725
Duplicate of #16066

[2020-08-26 12:10] khouloudbelguith opened #20727 "BO - Shopping carts page - an exception ids displayed - statistics"
#### Describe the bug

In the BO > Orders > Shopping carts, the Statics are not OK

![image](https://user-images.githubusercontent.com/16067358/91298028-92fb9900-e79f-11ea-9e05-a7deab294012.png)
![image](https://user-images.githubusercontent.com/16067358/91298428-4e243200-e7a0-11ea-9221-000fe5b93a51.png)

If you click on the `Abandoned Carts` link => an exception is displayed
![image](https://user

[2020-08-26 12:13] PierreRambaud commented on #20708
AFAIK, the `exec` / `passthru` / `system` are required for upgrade (MySQL dump as example).
Also, this is already what we are doing with the AbstractCommand.php.
I didn't manage to reproduce your issue.
![image](https://user-images.githubusercontent.com/1462701/91302161-52ebe480-e7a6-11ea-9b19-b77c4d6202bf.png)

[2020-08-26 12:21] mvorisek commented on #20708
Please confirm, that you tried using latest `develop`.

Please confirm, your test reached https://github.com/PrestaShop/PrestaShop/blob/9317b06b346c8ed1b022b02de6d1c1636380992b/src/PrestaShopBundle/Install/Install.php#L327

[2020-08-26 12:28] jordiweblidera opened #20728 "When I activate the invoice and create one for a previous order, it generates a double invoice"
#### Describe the bug

When I activate the invoice and create one for a previous order, it generates a double invoice

#### Expected behavior

Only one invoice per order

#### Steps to Reproduce

Steps to reproduce the behavior:
*I used the [prestashop official demo](http://demo.prestashop.com/)*

1. **IMPORTANT**: Disable invoice
2. Create an order
3. Change order state to Payment accepted
4. Ena

[2020-08-26 12:31] jordiweblidera commented on #20719
Hi @sarahdib,
I've opened another issue #20728

Regards,
Jordi

[2020-08-26 12:51] sarahdib commented on #20722
@PrestaShop/prestashop-product-team  could you check this improvement ?
Thank you !

[2020-08-26 13:15] mark-alexandre opened #20730 "You may be not allowed to download this module (v1.7.6.7)"
Hi,

I'm working on a company and we have a dozen of Prestashop websites. In several of them, some of the plugins can't be upgraded, with an error message saying :

`You may be not allowed to download this module.
`

The strange thing behind it is that most of the plugins were upgraded successfully. But some others just fails with this exact same generic message. And in these plugins, there are se

[2020-08-26 13:15] Max84 opened #20731 "Product_suppliers aren't filled throw webservice"
#### Describe the bug
Add or update a product throw webservice with id_supplier and supplier_reference filled.
Only product table is filled and product_supplier table isn't filled. This is a problem because database schema isn't repected like a product's update into backoffice.

#### Expected behavior
product_supplier table must be filled too.

#### Additional information
PrestaShop version: 1.7.7

[2020-08-26 13:17] matks commented on #20730
@mark-alexandre Can you tell us what is the current version of the module and, if you know it, the "version you want to upgrade to" ?

[2020-08-26 13:18] johanlantz opened #20732 "Spam customers even when re-captcha is implemented"
#### Describe the bug
I am on 1.7.6.4 and I have added the Google re-captcha script on both the signup page and the account creation at checkout and it seems to work, at least I am not able to click continue to register a new customer without completing the re-captcha challenge.

The issue is that I still get one or two spam customers registered per day. The email addresses are valid but names are

[2020-08-26 13:18] PierreRambaud commented on #20708
I confirm for both questions.
And I also confirm the mysqldump command is called in DatabaseDump.php

[2020-08-26 13:18] matks commented on #20731
Hi ! this might be related/duplicate of https://github.com/PrestaShop/PrestaShop/pull/20198 and https://github.com/PrestaShop/PrestaShop/issues/20094

[2020-08-26 13:25] Max84 commented on #20731
Hi @matks
I'm not sure. These issues tell the problem is product table isn't updated. Here, product table is updated and the product supplier isn't updated.

I suggest to update Product addWs() and updateWs() in order to use addSupplierReference() in order to update too product supplier table.

I see it only with webservice, I don't get this issue with BO.

What do you think about?

[2020-08-26 13:25] matks commented on #20732
ReCAPTCHA will prevent quick spam on your website. Unfortunately there is services that use humans to solve ReCAPTCHA challenges in 10 seconds so these services can still spam you.

See https://anti-captcha.com/ for example

Basically reCAPTCHA cannot protect you from humans.

You might be able to filter some more using IP address whitelist. If you see IPs coming from a country you dont do busines

[2020-08-26 13:28] mark-alexandre commented on #20730
Sure. In the website I'm currently working on, there are 2 fails :

- CM-CIC P@iement : v3.1.0 -> v4.2.0
- SEO Expert : v3.1.13 -> v4.0.0

[2020-08-26 13:41] matks commented on #20730
@mark-alexandre Did you subscribe to the Addons option that allow you to benefit from major module updates ?

From https://addons.prestashop.com/en/content/1-faq

[code]

[2020-08-26 13:43] mark-alexandre commented on #20730
That's a very good question, and I have to ask my company for this. I'm going to reply when I have the answer.

[2020-08-26 14:11] matks commented on #20666
PR is here https://github.com/PrestaShop/PrestaShop/pull/20734

[2020-08-26 14:18] fest73 opened #23322 "psgdpr1: Unable to install module "psgdpr", Tab-> name property is 70 characters long. Must be between 0 and 64 char."
psgdpr1: Unable to install module "psgdpr", Tab-> name property is 70 characters long. Must be between 0 and 64 char.

[2020-08-26 14:25] sarahdib commented on #20728
Hello,

Despite our efforts, we were not able to reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop core bug but most likely a server configuration.
https://drive.google.com/file/d/18-16ZsdfV2gh-ylz0Udy-jkBa_XI12uS/view

Thank you!

[2020-08-26 14:25] #20728 closed, assigned to nobody

[2020-08-26 14:25] maofree commented on #20090
hi
the problem shown by this ticket is that the Tools::link_rewrite doesn't remove the strange characters
if you seen in the title there is an " but it is not a regular, it is an oblique apex
it should be removed by that function

bye

[2020-08-26 14:36] #20732 closed, assigned to nobody

[2020-08-26 14:43] matks commented on #20726
Hi ! We are indeed aware that Product page has such limitations. We have scheduled scoped improvements for incoming versions.

PrestaShop 1.7.8 will feature, at least, an advanced management of Combinations data. Today it is not paginated at all, if you have 10,000 combinations they are all loaded. 1.7.8 will bring pagination and related features (sort, filter, bulk updates). See https://github.co

[2020-08-26 14:46] matks commented on #20732
@johanlantz we closed the issue because we believe unfortunately there is no solution inside the software 😞

The solution can come from server configuration / services (like fail2ban or IP filtering) or modules (like reCAPTCHA). Solutions fit for your usecase. But the PrestaShop software itself cannot solve this topic for good.

[2020-08-26 14:52] NeOMakinG commented on #20574
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/15943

Closing, thanks!

[2020-08-26 14:52] #20574 closed, assigned to nobody

[2020-08-26 14:54] NeOMakinG commented on #15943
it looks like deprecated messages appears even if we don't use these functions, tried to find a "delegate" function use on FO core and classic files, couldn't find anything

BTW, we should maybe check every deprecated messages, in order to be sure we don't use any function that is deprecated!

[2020-08-26 15:05] ngodefroy commented on #10682
Hello @khouloudbelguith

I could not reproduce on the 1.7 beta version.

Can I close the issue?

https://drive.google.com/file/d/1nyVzU6m4cLYp3l3wf24LCo3ajiAZf1Pt/view

Thank you

[2020-08-26 15:34] davidglezz commented on #12907
1. Maybe add a config switch "Do not update 'date_upd' on change position." default true.
2. On bulk delete, only opdate at end. (I think there is an open issue "Batch delete products is too slow" but I can't find it....)
3. As matks says, I think it is best to do it in batches of 100, 250, 500 or 1000. It would be necessary to measure what would be a good value.

rename issue to "Low performance

[2020-08-26 15:38] maofree commented on #20090
it is necessary to use this code

`        $beta_name = htmlentities($beta_name, ENT_QUOTES);
        $beta_name = str_replace(array('&rdquo;', '&ldquo;'), '&quot;', $beta_name);
        $beta_name = html_entity_decode($beta_name);`

[2020-08-26 15:47] matthieu-rolland commented on #15943
Definitely, maybe we can plan this for 1.7.8 ?

Because we will upgrade jquery to the next minor version. Dealing with these deprecations is probably not urgent for 1.7.7, and we're short on time for the 1.7.7 release...

[2020-08-26 15:49] khouloudbelguith commented on #18893
Hi @atomiix,

This issue is reproduced in only one shop in my case 1770beta2build1.
![image](https://user-images.githubusercontent.com/16067358/91326070-32328780-e7c4-11ea-8bb1-5859aa3a7ae0.png)
Also reproduced by @sarahdib and @SD1982
Here's my configuration
![image](https://user-images.githubusercontent.com/16067358/91326287-732a9c00-e7c4-11ea-9bf2-4ba121a92ed5.png)

I will re-open the issue.

T

[2020-08-26 15:58] marionf commented on #19096
Duplicate of #19527

[2020-08-26 15:58] #19096 closed, assigned to nobody

[2020-08-26 15:59] khouloudbelguith commented on #10682
HI @ngodefroy,

Yes it is ok with 1770beta2 :heavy_check_mark:
related to this: https://github.com/PrestaShop/PrestaShop/issues/16851

Thanks!

[2020-08-26 15:59] #10682 closed, assigned to nobody

[2020-08-26 16:02] marionf commented on #20731
As it concerns the 1.7.7, we need to ensure if it's not a regression compared to 1.7.6
@khouloudbelguith @sarahdib

[2020-08-26 16:15] Sinepel commented on #20715
@eternoendless @onklmaps
Hello, can I do the PR? I also have this need at the moment :)
Thanks !

[2020-08-26 16:19] eternoendless opened #20739 "Upgrade the latest Symfony LTS version"
#### Is your feature request related to a problem?

PrestaShop is currently based on Symfony 3.4 LTS which will become EoL late 2021, that's a little more than a year from now.

![Screenshot 2020-08-26 at 18 06 05](https://user-images.githubusercontent.com/1009343/91328420-3d3ae700-e7c7-11ea-8b54-eb603df0b8c1.png)

_Source: [Symfony releases](https://symfony.com/releases)_

Since 1.7.8 is due for

[2020-08-26 16:20] eternoendless commented on #20739
The first step is analyzing what needs to be done in order to be able to run on Sf 4.4

If the task seems too complex, we can postpone this for 1.7.9

[2020-08-26 16:37] diegogalmarini commented on #9866
Has anyone found how to correct the problem?

[2020-08-26 16:51] eternoendless commented on #20715
I suppose the first one to do it wins 😛

[2020-08-26 16:54] PierreRambaud commented on #20709
I don't have Windows, I'm not the one who will be able to help you :sweat_smile:

[2020-08-26 16:55] Slews opened #20740 "Accessing Symfony services through webservice call"
Hello,

I am working on a module which declare its own services.

The module needs to call a service on actionObjectOrderCarrierUpdateAfter hook call.

So, according to the Prestashop documentation (https://devdocs.prestashop.com/1.7/modules/concepts/services/#accessing-your-services), we use:

`$yourService = $this->context->controller->getContainer()->get('your_company.your_module.front.your_ser

[2020-08-26 17:09] LocalHeroPro commented on #12231
The same error still appear in 1.7.7.x.

[2020-08-26 17:28] #20708 closed, assigned to nobody

[2020-08-26 21:09] Robin-Fischer-PS opened #20743 "Bulk deletion on Return order statuses KO"
#### Describe the bug

On BO > Parameters > Statuses, the deletion via Bulk Action of return statuses is not working. It was OK in 176.

Standard deletion is OK.

#### Expected behavior

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shop Parameters > Order Settings > Statuses
2. Add a return status (if there is only the default one)
3. Select the status, bulk action, and