[2019-12-04 12:38] storygram commented on #16676
we updated with the help of 1-Click Upgrade

[2019-12-04 12:38] storygram commented on #16676
can i give you ftp access data for verification?

[2019-12-04 12:47] khouloudbelguith commented on #10122
Hi @marco-polacco,

Sorry not yet.

Thanks!

[2019-12-04 12:49] khouloudbelguith commented on #16676
@storygram,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-12-04 12:52] storygram commented on #16676
this? *ERROR* v1.7.6.2 2019/12/04 - 10:51:13: Invalid category vars at line 388 in file classes/Link.php

[2019-12-04 12:56] khouloudbelguith commented on #16676
@storygram, did you use the module Megamenu?

Thanks!

[2019-12-04 13:07] storygram commented on #16676
No,just this ps_emailalerts

[2019-12-04 13:12] khouloudbelguith commented on #16676
@storygram,
The Schema of URLs is updated in your case?
By default, we have like this:
![image](https://user-images.githubusercontent.com/16067358/69727495-f37f7c00-1122-11ea-82de-58e168b09c0b.png)
Thanks!

[2019-12-04 13:16] storygram commented on #16676
https://guides.github.com/features/mastering-markdown/

[2019-12-04 13:16] storygram commented on #16676
![seo](https://user-images.githubusercontent.com/58422218/70145559-0c4edb00-16a9-11ea-8212-a44e1a08ef54.jpg)

[2019-12-04 13:17] khouloudbelguith commented on #16676
@storygram, issue closed?
Is it fixed?

Thanks!

[2019-12-04 13:18] storygram commented on #16676
no,no work

[2019-12-04 13:18] storygram commented on #16676
https://www.ambientdecor.ro/  no work :(

[2019-12-04 13:21] khouloudbelguith commented on #16676
@storygram, can you try to enable the Debug Move using an FTP client (for instance the free Filezilla tool) to edit the config/defines.inc.php file. Find the following line in the file:

`define('_PS_MODE_DEV_', false);`

… and change it to:

`define('_PS_MODE_DEV_', true);`

Thanks!

[2019-12-04 13:25] storygram commented on #16676
PrestaShopException]
Invalid category vars
at line 388 in file classes/Link.php

[2019-12-04 13:25] storygram commented on #16676
I get another error, enter the site

[2019-12-04 13:27] storygram commented on #16676
![seo](https://user-images.githubusercontent.com/58422218/70146328-a06d7200-16aa-11ea-8b9d-f73771efb71a.jpg)

[2019-12-04 13:30] khouloudbelguith commented on #16676
@storygram, it is a `homefeatured` module issue.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-12-04 13:32] storygram commented on #16676
what is the problem module?

[2019-12-04 13:34] storygram commented on #16676
now I get HTTP ERROR 500 again

[2019-12-04 13:49] khouloudbelguith commented on #16676
@storygram,
![image](https://user-images.githubusercontent.com/16067358/70147753-34d4d600-16a5-11ea-8842-6339feb515a5.png)
It could be incompatible with PS version, you need to check the module author.
Thanks!

[2019-12-04 13:52] storygram commented on #16676
and do I have to get in touch with the installer theme installer?

[2019-12-04 13:55] OneDotIT commented on #16676
Hello,
The 500 is presented at the homepage, for example the inner-pages are working
https://www.ambientdecor.ro/produse-noi

I could see version 1.7.6.2 is the upgrade, but from which version did you update ? it might give as a clue.

I did a search about homefeatured https://github.com/PrestaShop/homefeatured, and it is the older version of ps_featuredproducts https://github.com/PrestaShop/ps_fe

[2019-12-04 13:56] khouloudbelguith commented on #16676
@storygram, you need to contact the module author
As I see, it is provided by `Prestahero`

Thanks!

[2019-12-04 13:57] storygram commented on #16676
from this version PrestaShop 1.7.5
v2.4.1 ,
I also changed the theme compatible with this version

[2019-12-04 13:59] storygram commented on #16676
from here I bought the theme https://addons.prestashop.com/en/3-templates-prestashop

[2019-12-04 14:04] khouloudbelguith commented on #16617
@rss9090, here's the Apache configuration file
[apache2.conf.zip](https://github.com/PrestaShop/PrestaShop/files/3922194/apache2.conf.zip)
Thanks!

[2019-12-04 14:05] khouloudbelguith commented on #16676
@storygram, You should contact the module author via your addons.prestashop.com account.

Thanks!

[2019-12-04 14:05] #16039 closed, assigned to rokaszygmantas, NeOMakinG, TristanLDD, MatShir

[2019-12-04 14:05] storygram commented on #16676
ok,Thanks very much

[2019-12-04 14:08] khouloudbelguith commented on #16676
@storygram, I will close the issue, since it is not a PrestaShop module.
Thanks!

[2019-12-04 14:11] Hlavtox opened #16682 "Product is added to cart with customization, when it should not"
**To Reproduce**
1. Set up an optional customization field on a product.
2. Go to this product in FO.
3. Customize it, save it, add it to cart.
4. Hit continue shopping.
5. Product page will refresh, saved customization will disappear visually.
6. Add the product to cart again. It should be added without customization, but it is added WITH the previous customization.

**The cause**
The input field

[2019-12-04 14:31] khouloudbelguith commented on #16682
Hi @Hlavtox,

I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2.
https://drive.google.com/file/d/15zJmLlV8TMc3OZLVZLIGhYBZ-Z4oFm-p/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-12-04 14:43] sirius82 opened #16683 "Logo doesn't appears in pdf"
Hello,

Logo is correctly added in admin for order and mails. But doesn't display in PDF (order, ..). It seems that {logo_path} in pdf -> header.tpl doesn't work. If I get the link to the logo manually (https://name_of_website/img/name_of_logo.jpg) in thie tpl, it's ok, the logo is displayed.

PS 1.7.5.2

Thanks

[2019-12-04 15:16] Hlavtox opened #16684 "Specific prices show "- 0 CZK" discount flag in product lists"
**To Reproduce**
1. Make a customer group 4. Make a customer, put him this group. Log in as this customer.
2. Set up a specific price for a product, as shown on a screenshot below. All currencies, all countries, just for user group 4.
3. Go to a category, where this product is assigned. See "-0 CZK" discount flag.

**Additional information**
PrestaShop version: 1.7.6.2

**Images**
![specific](http

[2019-12-04 15:30] khouloudbelguith opened #16685 "Add a new currency doesn't work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install PS1.7.7 (develop branch)
2. Go to the BO => International => Localisation => Currencies Tab
3. Add a new currency (example: MAD) => it is ok for the first time
4. Try to add a new currency again =>
5. See error
6.
![image](https://user-images.githubusercontent.com/

[2019-12-04 15:31] khouloudbelguith commented on #16685
Ping @boubkerbribri

[2019-12-04 15:31] lordchukz commented on #13468
Also interested in the solution to this.

Thanks.

[2019-12-04 15:42] jolelievre opened #16686 "When I Install a new Language currency_lang values are not correctly set"
**Describe the bug**
During installation the `currency_lang` values are not correctly set.

**To Reproduce**
I already have two languages in my shop (French, English), and two currencies (Euro, Dollar). And I have customization on one of them (let's say Euro).
If I install a new Language the currency_lang for the new Language are correctly added in the database, but their value are incorrect. They

[2019-12-04 15:54] khouloudbelguith commented on #16685
Hi,

If we try to clear cache from the performance cache & we try to add a new currency => Ok
But always => at the second time => nok.

Thanks!

[2019-12-04 15:59] jolelievre opened #16688 "Implement Grid for JavaScript"
**Is your feature request related to a problem? Please describe.**
As discussed in this PR https://github.com/PrestaShop/PrestaShop/pull/16150
It would be nice to have a Grid javascript implementation, the PHP Grid component was designed to be language agnostic and is generic enough to be used as a base input for a javascript implementation.

**Describe the solution you'd like**
Today we have a tw

[2019-12-04 16:07] Progi1984 commented on #16688
A first implementation could be the block "Orders > Product" in the backoffice.

[2019-12-04 16:08] Hlavtox opened #16689 "contact form module - set send mails ON by default"
Just spent 30 minutes by searching for a cause, why there is no emails sent when using contact form on contact page. Finally realised it was turned off in module settings.

What is the main purpose of a contact form? I think it's to send email to the merchant. At least this is how it was until 1.7.

**I think the default setting should be to send email both to customer and to merchant.**

PrestaSh

[2019-12-04 16:22] khouloudbelguith commented on #16689
Hi @Hlavtox,

It is a module that should be configured.
There are two options should be enabled.
Previously, we added an option to let merchants decide whether they still want the contact form to send a confirmation message or not. By default, PrestaShop 1.7 won’t send confirmation messages any more.
You can follow this link for more details: https://build.prestashop.com/news/fighting-against-spam

[2019-12-04 16:23] khouloudbelguith commented on #16688
Ping @PrestaShop/prestashop-core-developers

[2019-12-04 16:24] colinegin commented on #10762
Here is a solution that Axome gave us :

- when customers reach the payment step, re-check stocks again (already done on the classic theme)
- when customers proceed to the payment, bank modules should be in "authorization" mode only : this allows to validate if the purchase is possible or not (the customer has virtually proceeded to the payment on the bank or payment platform).
- When returning to

[2019-12-04 16:29] khouloudbelguith commented on #16684
Hi @Hlavtox,

I think it is the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/16633.
Thanks to check & feedback.

[2019-12-04 16:38] Hlavtox commented on #16684
@khouloudbelguith No no it's different.

Just try to reproduce it as I said and you will see.
- Create another customer group. Go to FO, register on the store as customer. Go to BO, add customer to this group and set his default group to this group.
- Create product. Set price to 200. Assign it to some category.
- Create a specific price to this product, for customers from the group you created. F

[2019-12-04 16:40] mg2812 commented on #16680
Thank you for your replay.
I did new clean installation of Prestashop 1.7.6.2 and have the same error.
Php error log:
[04-Dec-2019 19:21:00 Europe/Moscow] PHP Warning:  file_put_contents(D:\OSPanel\domains\ps1762.ru/var/cache/prod\cacert.pem): failed to open stream: No such file or directory in D:\OSPanel\domains\ps1762.ru\classes\Tools.php on line 2118

After I close tab in Chrome and tried insta

[2019-12-04 16:43] khouloudbelguith commented on #16680
@mg2812, it is a permission issue.

Thanks to check the permissions of your files.

Thanks!

[2019-12-04 16:46] khouloudbelguith commented on #16683
Hi @sirius82,

It is the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/15088
As you can see the PR is closed: https://github.com/PrestaShop/PrestaShop/pull/15109 because of self signed certificate (Not working with TCPDF).
Thanks to check & feedback.

[2019-12-04 16:54] mg2812 commented on #16680
Thank you! Which permissions you mean. I try to install to localhost.
![screen_2](https://user-images.githubusercontent.com/7617391/70163071-dec95800-16cf-11ea-9773-fc116c0c624b.JPG)

[2019-12-04 17:02] khouloudbelguith commented on #16684
@Hlavtox, I attached a screen record
https://drive.google.com/file/d/1QHPjVgKh-qgyjrluZuemghUFn2K--hpG/view
Thaks to check & feedback.

[2019-12-04 17:07] khouloudbelguith commented on #16680
@mg2812, thanks to check the permission section in our official documentation: http://doc.prestashop.com/display/PS17/Installing+PrestaShop
![image](https://user-images.githubusercontent.com/16067358/70164083-d9b0dc80-16c0-11ea-808b-d67cb745f410.png)

Thanks!

[2019-12-04 17:11] deshiloh opened #16692 "Add product doesn't work"
Hi !
I have a problem when i want to create a new product.
When i submit the form only with title, the page is refresh and i have no confirmation message that said that the product was created, and the product is not created. When i try the second time it works.

What could possibly go wrong ?

Thanks

[2019-12-04 17:14] khouloudbelguith commented on #16692
Hi @deshiloh,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-12-04 17:33] deshiloh commented on #16692
Thanks and sorry for that ^^

Server : Apache/2.4.7 (Ubuntu)
PHP : 5.6.20-1+deb.sury.org~trusty+1
MySQL : 5.5.47-0ubuntu0.14.04.1
Prestashop version : 1.6.1.6

When the dev mode is set to false i have to error message in logs etc.
When the dev mode et set to true : i have the js error message :

`VM1896 jquery.validate.js:2 Uncaught TypeError: Cannot read property 'settings' of undefined
    at Fu

[2019-12-04 18:05] colinegin commented on #16509
After discuting with @Robin-Fischer-PS we have decided to rollback the new behaviour that has been introduced in 1760 (PR #13887) to enable merchants to disable partners offers in the BO even though this is a required field.

[2019-12-04 18:29] colinegin commented on #16578
@MatShir what do you think of this issue ?

[2019-12-04 19:17] colinegin commented on #10541
Can we close this issue @matks ?

[2019-12-04 19:18] colinegin commented on #10581
Can this issue be closed @matks ?

[2019-12-04 19:26] Carlo-Vernetti opened #16694 "Email alert"
I don't get a warning email when someone signs up on my site.
I've got PS 1.7.5.2
thank you

[2019-12-04 21:00] presciak commented on #14595
I can't update my presta correctly in a multistore (many currencies and many languages)
PHP version 7.2
Prestashop 1.7.5.2
I have disabled all modules not from prestashop
I have updated 1 clik update to the latest version.
The update process has passed correctly. No error showed up. Everything went fine.
After updating, I have login to backoffice
When I do this, I get an error 500 (when I tried th

[2019-12-04 22:28] pppplus commented on #14322
Some news about this problem ?
I think all versions are affected.

[2019-12-05 00:15] fra93ita commented on #16669
Ok now template show correct value, but problem still occur, it mess up with price when i switch between combinations:
![screen1](https://user-images.githubusercontent.com/11248632/70192624-9ffdc700-16fc-11ea-920f-a73482a400f2.PNG)
![screen2](https://user-images.githubusercontent.com/11248632/70192655-bb68d200-16fc-11ea-9e72-ee8935c92763.PNG)

[2019-12-05 01:02] rss9090 commented on #16617
@khouloudbelguith
Thank you for the file provided but following parts of the config missing

# Include list of ports to listen on
Include ports.conf

# Include module configuration:
IncludeOptional mods-enabled/*.load
IncludeOptional mods-enabled/*.conf

# Include generic snippets of statements
IncludeOptional conf-enabled/*.conf

# Include the virtual host configurations:
IncludeOptional sites-en

[2019-12-05 08:05] storygram commented on #16676
Hi,
I have configured SMTP Server, the client receives email notification, but I do not receive, what needs to be changed?

[2019-12-05 08:11] khouloudbelguith commented on #16694
Hi @Carlo-Vernetti,

By default, if a new customer is registered, the employee will receive a notification in his BO by enabling this option in the BO => Advanced Parameters => Administration page
![image](https://user-images.githubusercontent.com/16067358/70215619-271f5f00-173e-11ea-98a1-c2ac2b561ccc.png)
But receiving an email, you can check our addons Market place: https://addons.prestashop.com

[2019-12-05 08:11] #16694 closed, assigned to nobody

[2019-12-05 08:14] khouloudbelguith commented on #16676
@storygram,
- did you use the ps_emailalert? what is the exact version?
- Test your email configuration is well working? did you receive an email test?

Thanks!

[2019-12-05 08:18] khouloudbelguith commented on #16270
Hi @Alexsmart78,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-05 08:18] #16270 closed, assigned to nobody

[2019-12-05 08:19] khouloudbelguith commented on #16240
Hi @jul-m,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-05 08:19] #16240 closed, assigned to nobody

[2019-12-05 08:20] khouloudbelguith commented on #16276
Hi @elrosi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-05 08:20] #16276 closed, assigned to nobody

[2019-12-05 08:28] khouloudbelguith commented on #16669
@fra93ita,

In your case,
1. first combinations => discount =40% => final price = 21.16-40%= 12.70
2. second combination => discount=20% => final price = 7.33-20%= 5.87

What is the exact problem with prices?

Thanks!

[2019-12-05 08:29] khouloudbelguith commented on #14322
Hi @pppplus,

Sorry not yet.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-12-05 08:32] khouloudbelguith commented on #14595
Hi @presciak,

What is the exact version did you use after the upgrade? PS1.7.6.1? or PS1.7.6.2?
What is the exact version of the 1-click upgrade did you use? 4.10.0?

Thanks!

[2019-12-05 08:33] pyp31 opened #16695 "Error in form_shipping.html.twig"
**Describe the bug**
At line 156 of the file /src/PrestaShopBundle/Resources/views/Admin/Product/ProductPage/Forms/form_shipping.html.twig :
[code]
to work it is necessary to replace":" by" /"
[code]
**To Reproduce**

this error appeared in the BO product management
with advanced stock management activated

**Additional information**
PrestaShop version: 1.7.6.2
PHP version: 7.2

EDITED by @matks:

[2019-12-05 08:34] pppplus commented on #14322
Yes, I know, and I try to find where it is...
But I do not find !

So, if you have information, I can test and propose something

[2019-12-05 08:38] leccyril commented on #14595
For me when i add this problem i deleted USD.. os i reinstalled it, activated it, then put first EURO, then deactivated USD, and deletetion. and it was ok.

Maybe it installed some test orders or some data linked to the currency not available.... but i am sure it is nothing really "blocking" if you reinstall USD (it is the base currency used with orders tests)

@khouloudbelguith your very active i

[2019-12-05 08:42] khouloudbelguith commented on #16692
@deshiloh,

I did not manage to reproduce the issue with PS1.6.1.24 & PS1.7.6.2.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only cr

[2019-12-05 08:42] #16692 closed, assigned to nobody

[2019-12-05 08:47] storygram commented on #16676
the email configuration works, I could not install ps_emailalert receive the error in the image, now I have installed Email alerts
v2.1.1 - by PrestaShop

[2019-12-05 08:47] storygram commented on #16676
![11](https://user-images.githubusercontent.com/58422218/70218971-b2075600-174c-11ea-8577-b017c50ef2cf.jpg)

[2019-12-05 08:49] #9618 closed, assigned to NeOMakinG

[2019-12-05 08:53] khouloudbelguith commented on #16676
@storygram, this module is installed from the Module Catalog page (option 1) or by uploading this module via the "install a module" button (option2)?
![image](https://user-images.githubusercontent.com/16067358/70219389-060e3c80-1745-11ea-9744-4fa4fdfaffef.png)

Thanks!

[2019-12-05 09:00] storygram commented on #16676
![11](https://user-images.githubusercontent.com/58422218/70219831-360e0d80-174e-11ea-92bf-cc8a3e40e925.jpg)

here I send my email? I want to receive an email notification when I receive a new order

[2019-12-05 09:09] khouloudbelguith commented on #16676
@storygram, yes!
It should work.
It is ok in my case.
![image](https://user-images.githubusercontent.com/16067358/70220766-5f776b00-1747-11ea-8d51-2c33d7036cea.png)

Thanks!

[2019-12-05 09:11] storygram commented on #16676
to me it does not work :(

[2019-12-05 09:14] khouloudbelguith commented on #14595
@khouloudbelguith, thanks for your feedback.
In fact, yes, you are right, there is a workaround to fix this issue.
But those issues are fixed partially in PS1.7.6.1 & totally in PS 1.7.6.2.
PRs to fix those issues:
- https://github.com/PrestaShop/PrestaShop/pull/15643
- https://github.com/PrestaShop/PrestaShop/pull/15173
- https://github.com/PrestaShop/PrestaShop/pull/15036

Thanks!

[2019-12-05 09:14] matks commented on #10581
No it's not finished, I need to go through the checklist to make sure everything is right

[2019-12-05 09:14] matks commented on #10541
No it's not finished, I need to go through the checklist to make sure everything is right

[2019-12-05 09:42] #16116 closed, assigned to nobody

[2019-12-05 09:45] khouloudbelguith commented on #16676
@storygram, the email address in your case
![image](https://user-images.githubusercontent.com/16067358/70223648-5341dc80-174c-11ea-9bb5-36a0bb997f44.png)
, is it the same for your address employee?

Thanks!

[2019-12-05 09:51] storygram commented on #16676
![11](https://user-images.githubusercontent.com/58422218/70224238-9bb1c800-1755-11ea-9c44-c6ece83b7cfa.jpg)

[2019-12-05 09:54] khouloudbelguith commented on #16676
@storygram, not this address mail
Employee address mail.
![image](https://user-images.githubusercontent.com/16067358/70224466-9c466080-174d-11ea-9d1e-dd91847e7e52.png)

Thanks!

[2019-12-05 10:00] khouloudbelguith commented on #16695
Hi @pyp31,

Thanks for your report.
Can you please add steps to reproduce the issue in a new comment.
In your BO => Shop Parameters => Product Settings page => is there any exception after enabling "stock management"?

Thanks!

[2019-12-05 10:30] khouloudbelguith commented on #16617
@rss9090, those lines are missing in your case? isn't?
In my config file, they are added.
Thanks!

[2019-12-05 11:05] storygram commented on #16676
![11](https://user-images.githubusercontent.com/58422218/70229930-dde00700-175f-11ea-876e-a69ff0ed7fcc.jpg)

[2019-12-05 11:08] storygram commented on #16676
is the same as in  ps_emailalert

[2019-12-05 11:09] khouloudbelguith commented on #16676
@storygram, it is the same.
I will re-open the issue.
I tried with PS1.7.6.2 & PS1.7.6.1 & ps_emailalert module v2.1.1 & it is OK.
New order mail is well received.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-

[2019-12-05 11:32] sadlig opened #16701 "PrestaShop 1.7.6.2 was not fully compatible with PHP 7.2"
**Describe the bug**
As mentioned [here](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements) it's recommended to use PHP 7.2 for PrestaShop versions 1.7.5 ~ 1.7.6.

Unfortunately the Console component is not compatible with this version.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Terminal
2. Place yourself in the PrestaShop directory `cd /p

[2019-12-05 11:56] IvoRabush opened #16702 "Shop Context in Admin Panel is wrong on Multistore shop"
**Describe the bug**
When the multistore is active, the Shop Context in the admin panel is wrong. It always returns the shop from the main domain.

**To Reproduce**
1. Activate the multistore future
2. Set the 1st store domain to example.com
3. Set the 2nd (and every next store) the domain example.com and Virtual URL 'VU/'
**example:** 2nd store is for Bulgaria, so I set the Virtual URL to 'bg/'
!

[2019-12-05 12:18] Hlavtox commented on #16689
@khouloudbelguith Thank you for the link.

Personally, I dont think the best way to fight against spamming is to turn off emails and replace the message with (hidden). The first thing I did was to delete this piece of code.

So, the dev team thinks the workflow should be like this?
- user contacts you using contact form (and in default settings, he doesnt know if the message arrived)
- you reply f

[2019-12-05 12:19] Dupflo commented on #16556
Yes

[2019-12-05 12:19] #16556 closed, assigned to nobody

[2019-12-05 12:24] Dupflo opened #16703 "The Attribute-> name property is empty."
Hello,

I am very stuck on the last importation of my sheets... I want to export this sheet as product variants

[importvariants.xlsx](https://github.com/PrestaShop/PrestaShop/files/3926778/importvariants.xlsx)

Here is what I got... The Attribute-> name property is empty.

![image](https://user-images.githubusercontent.com/39828779/70235164-9d35bd00-1762-11ea-8089-a700b6556182.png)

![image](http

[2019-12-05 12:35] Progi1984 commented on #16502
Merged with #16690

[2019-12-05 12:35] #16502 closed, assigned to LouiseBonnard

[2019-12-05 12:39] khouloudbelguith commented on #16556
@Dupflo, thanks!
Feel free to open a new one when needed.

Thanks!

[2019-12-05 12:59] mg2812 commented on #16680
Thanks! But I try to install Prestashop 1.7.6.2 on my own computer with Windows 10. I am use Openserver with Apache + PHP 7.1 + MySQL-5.6, all files and folders are writeable. Prestashop 1.7.0.5 install without problem. Any ideas?

[2019-12-05 13:15] matks commented on #16701
@sadlig I just tried, and there is no issue on my 1.7.6.2 install 😮. Can you tell us from php logs what exact Exception is being thrown ? Is it a fresh 1.7.6.2 install or a shop that underwent some modifications ?

I'm using php7.2.10

[2019-12-05 13:21] khouloudbelguith commented on #16701
Hi @sadlig, @matks,

It is ok also, in my side
![image](https://user-images.githubusercontent.com/16067358/70238790-4cc25d80-176a-11ea-8418-b38337e10af8.png)
I'm using PHP 7.2.10
It is OK with PHP 7.2.22 also.

Thanks!

[2019-12-05 13:23] khouloudbelguith commented on #16680
@mg2812, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Give the right permissions & try to re-install again.
Thanks to check and feedback.

[2019-12-05 13:25] sadlig commented on #16701
@matks This is not a new installation, it's a store I upgraded from 1.7.5 to 1.7.6.2

[2019-12-05 13:27] khouloudbelguith commented on #16701
@sadlig, what is the exact version did you use before the upgrade?
What is the exact version of the 1-click upgrade did you use?
Have you any errors during the upgrade?

Thanks!

[2019-12-05 13:32] sadlig commented on #16701
@khouloudbelguith No error during upgrade. My previous PrestaShop version was 1.7.5.2 and I'm using 1-Click upgrade v4.10.0

[2019-12-05 13:33] khouloudbelguith commented on #16689
@Hlavtox, thanks for your feedback.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-12-05 13:35] pyp31 commented on #16695
there is no exception in
BO => Shop Parameters => Product Settings page =>

exception is in
 BO => Catalog => Product when you select a product or add a new product

error is in debug
Template "@PrestaShop/Admin:Product/ProductPage/Forms/form_warehouse_combination.html.twig" is not defined.

[2019-12-05 14:02] khouloudbelguith commented on #16701
@sadlig, I did not manage to reproduce the issue with PS1.7.5.2 & with PS1.7.6.2 after an upgrade from a previous version
I attached a screen record
https://drive.google.com/file/d/16Q_CzlfqL07jwaC0X-7NeY7wA8HG2hqD/view
Thanks to check & feedback.

[2019-12-05 14:07] mg2812 commented on #16680
Thanks! I did everything. All permissions right. Tha same error!!!
![70137551-37343180-169f-11ea-9ab5-6975dec9c644](https://user-images.githubusercontent.com/7617391/70242287-a1250780-1781-11ea-9db7-2a963391980a.jpg)

I check https://github.com/PrestaShop/PrestaShop/issues/14812 also, but no found any solutions.

[2019-12-05 14:10] khouloudbelguith commented on #16695
@pyp31, I did not manage to reproduce the issue with PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/109DpTn1KJG3874yhMFVbQyNtMOp1274j/view
PS: Stock management is enabled by default.

Thanks!

[2019-12-05 14:14] khouloudbelguith commented on #16680
@mg2812, we need to retrieve errors in your file `/Project_folder/var/logs/` path.
Thanks!

[2019-12-05 14:16] Hlavtox commented on #16684
@khouloudbelguith I am sorry for bothering you. The problem is in the template, not PS core.

I am using https://github.com/PrestaShop/classic-rocket and there is a bug in a template. In classic theme, the code for displaying these flags are wrapped in `{if $product.has_discount}`. This condition is missing in classic-rocket. @prestarocket

![classic](https://user-images.githubusercontent.com/6097

[2019-12-05 14:19] Hlavtox commented on #16684
@prestarocket made a PR https://github.com/PrestaShop/classic-rocket/pull/119

[2019-12-05 14:21] sadlig commented on #16701
@khouloudbelguith thanks for your screencast, I've just tested on a fresh install, it works fine.
I will investigate why it does not work for my shop. Is it possible that a module causes an error at this level?

[2019-12-05 14:22] khouloudbelguith commented on #16701
@sadlig, you need to check your PHP logs to find the exact Exception.

Thanks!

[2019-12-05 14:23] khouloudbelguith commented on #16684
Hi @Hlavtox,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme, they are the only ones to help you with it.
Thanks!

[2019-12-05 14:23] #16684 closed, assigned to nobody

[2019-12-05 14:27] Hlavtox commented on #16684
@khouloudbelguith On one side, yes.

But on the other side, you took the theme under your wings and it's in your repo... :-)
https://build.prestashop.com/news/prestashop-in-2019-and-beyond-part-2-pain-points

[2019-12-05 14:28] madsoliver opened #16706 "Stock manager will not show combinations with "-" in name"
When I create an attribute group named like this: "Example-name", the stock manager combination GUI is broken, where only the portion behind the "-" is shown. See screenshot.

![Screenshot 2019-12-05 15 25 58](https://user-images.githubusercontent.com/30602638/70243903-d0cd1300-1773-11ea-9e4e-91f43e5b4ee5.png)
![Screenshot 2019-12-05 15 27 17](https://user-images.githubusercontent.com/30602638/702

[2019-12-05 14:33] khouloudbelguith commented on #16684
@Hlavtox, you need to create an issue in the theme repository.
https://github.com/PrestaShop/classic-rocket/issues
Thanks!

[2019-12-05 14:34] mvorisek opened #16707 "BO link excl. /index.php/ in path"
Currently the PS BO link looks like:
[code]
but `index.php` is well known as "redundand" and it may be misleading even in this context where it can not be normally stripped (as the following character after `index.php` is `/` and not `?`)

consider changing the URL generator and routing to format excl. the `/index.php/` part in the path like:
[code]

Currently there is also an issue as the default

[2019-12-05 14:35] mvorisek commented on #16631
I am reopening this issue as there is another closely related issue.

If you log in thru the web form it directs you to `http://localhost/subdir/admin-dev/index.php?controller=AdminDashboard&token=...`.

But if the `index.php` is removed, i.e. using server autoindex feature (like: `http://localhost/subdir/admin-dev/?controller=AdminDashboard&token=...`) the links in the BO change from:
- `http://l

[2019-12-05 14:43] khouloudbelguith commented on #16703
Hi @Dupflo,

I tried with your first file,
You have incorrect lines at the end of the files
For example "Colonne 1"
![image](https://user-images.githubusercontent.com/16067358/70245068-c6ac1400-1775-11ea-8ebf-2f16bcd8e353.png)
![image](https://user-images.githubusercontent.com/16067358/70245108-d6c3f380-1775-11ea-8c76-397be71911b3.png)
I tried with the first lines & they are well imported
[com.xls

[2019-12-05 14:45] matks commented on #16701
Your screenshot indicates an exception thrown from class `Db` at line 302. This line is:
[code]

So it seems your shop was unable to find out the php extensions needed to connect to mysql.
Maybe check your php.ini for php7.2 ?

[2019-12-05 14:53] #16667 closed, assigned to nobody

[2019-12-05 14:53] ebonit opened #16709 "add order from backoffice MissingMandatoryParametersException"
When I try to add an order from the backoffice in PS1.7.6.2 after upgrading from ps1.7.5.2 I receive a MissingMandatoryParametersException

Symfony\Component\Routing\Exception\MissingMandatoryParametersException:
Some mandatory parameters are missing ("customerId") to generate a URL for route "admin_customers_view".

  at vendor/symfony/symfony/src/Symfony/Component/Routing/Generator/UrlGenerator.

[2019-12-05 14:54] colinegin commented on #15400
Version 1.1.0 available ! Thanks everyone !

[2019-12-05 14:54] #15400 closed, assigned to nobody

[2019-12-05 14:57] ebonit commented on #16709
I also receive this when I disable all external modules and overrides. My shop is multistore.
PS1.7.6.2
PHP7.1
mysql  Ver 15.1 Distrib 10.2.11-MariaDB

[2019-12-05 14:59] Cyrilnel opened #16711 "order validated but without products"
Hello,
I have a problem when creating orders.
A customer can place an order normally on my website and validate it when the order arrives on the BO we do not have the details of the products ordered.
I have looked in my cart, I have the details of the products ordered with the right order reference.
I can't find the source of the problem because there have been no changes on my website.

PrestaSho

[2019-12-05 14:59] Daxtermania commented on #13394
Solved in

https://github.com/PrestaShop/PrestaShop/pull/16710

[2019-12-05 15:04] khouloudbelguith commented on #16706
Hi @onklmaps,

I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2
![image](https://user-images.githubusercontent.com/16067358/70246926-c7927500-1778-11ea-9cf4-006ff35f1d2c.png)
![image](https://user-images.githubusercontent.com/16067358/70246961-d711be00-1778-11ea-8764-c8ad5ac81533.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if yo

[2019-12-05 15:07] khouloudbelguith commented on #16711
Hi @Cyrilnel,

I did not manage to reproduce the issue with PS1.7.6.2.
![image](https://user-images.githubusercontent.com/16067358/70247216-4e475200-1779-11ea-9a96-dc83867a3fbb.png)

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-pr

[2019-12-05 15:07] #16711 closed, assigned to nobody

[2019-12-05 15:13] khouloudbelguith commented on #16709
Hi @ebonit,

I did not manage to reproduce the issue with PS1.7.6.2 after an upgrade from PS1.7.5.2 using the 1-click upgrade v4.10.0.
https://drive.google.com/file/d/1IgYGEDmapeqvIH1DLhd4_YFzLS61w0Ma/view
Have you any errors during the upgrade?

Did you disable those options in the BO => Advanced Parameters => Performance page?
![image](https://user-images.githubusercontent.com/16067358/70247707-

[2019-12-05 15:25] Hlavtox opened #16713 "[IMPROVEMENT] Add stock information to order detail"
**Hi guys, I made this modification on our store, I thought you and other merchants may be interested in this too. Lets start:**

**The situation**
During our years in ecommerce, there was a million situations, where we argued with the customer in this style.
Customer (3 days after order): Where is my goods I have ordered?
Us: The stock information on the product was "On special order - 10 days".

[2019-12-05 15:25] khouloudbelguith commented on #16702
Hi @IvoRabush,

The "Admin URL issue" is fixed with this PR: #9450 as described in this [ticket](http://forge.prestashop.com/browse/BOOM-3607.
Thanks to check & feedback.

[2019-12-05 15:35] khouloudbelguith commented on #16713
Hi @Hlavtox,

We have already some improvement in the FO to add the stock alert as described here: https://github.com/PrestaShop/PrestaShop/issues/14572#issuecomment-510024804 & here: https://github.com/PrestaShop/PrestaShop/issues/16386#issuecomment-553851735
Your improvement is to add this information in the Emails sent to the customer.
I think it could a great idea, but it is should be an optio

[2019-12-05 15:37] mg2812 commented on #16680
Php error logs:
[05-Dec-2019 16:48:51 Europe/Moscow] PHP Warning:  file_put_contents(F:\OSPanel\domains\ps1762.ru/var/cache/prod\cacert.pem): failed to open stream: No such file or directory in F:\OSPanel\domains\ps1762.ru\classes\Tools.php on line 2118
[05-Dec-2019 16:57:09 Europe/Moscow] PHP Warning:  PDO::query(): MySQL server has gone away in F:\OSPanel\domains\ps1762.ru\vendor\doctrine\dbal\l

[2019-12-05 15:37] Hlavtox opened #16715 "[IMPROVEMENT] Flush var/cache automatically after moving prestashop install"
**Why I opened this**
I was moving my Prestashop install from a test subdomain to a live folder and had a little bit of trouble with cache.

I couldn't access some page in admin due to cache issues, than I tried to delete the cache by FTP, but there are thousands of files and it started to cache itself again in the middle of the process. Then it started the caching to the original folder I moved i

[2019-12-05 15:44] ebonit commented on #16709
I tried disabling non prestashop modules but after I save this stays on NO as in your example. I'll try to disable them manually instead.

[2019-12-05 15:44] khouloudbelguith commented on #16715
Hi @Hlavtox,

To move a Project to a new domain without errors, we need to follow these steps:
1. made a backup for my files & my database
2. upload the store's files to the new server
3. import the old store's database to the new server
4. In file /app/config/parameters.php, configure the my PrestaShop site.
4.1. DB_SERVER: database's server;
4.2. DB_NAME: Name of the database from step 5;
4.3. D

[2019-12-05 15:45] Hlavtox commented on #16713
@khouloudbelguith Yes, that will be nice improvements. I did it as one of the first mods. It's just a template modification.

The problem I specified in the first post is, there is no way to retrieve this information from the order object AFTER ordering. There are lots on informations saved to OrderDetail, like quantities, references, prices etc., but the stock information is missing.

**Product l

[2019-12-05 15:46] khouloudbelguith commented on #16709
@ebonit, those two options don't work in Prestashop as reported here:

- https://github.com/PrestaShop/PrestaShop/issues/9965
- https://github.com/PrestaShop/PrestaShop/issues/14596

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-12-05 15:48] Hlavtox commented on #16715
@khouloudbelguith Exactly, because it takes incredibly long to delete it by an FTP client.

And if somebody tries to open the FO or BO, you can start again and the cache is a mix of old cache and new cache and it does all kinds of weird stuff.

[2019-12-05 15:51] ebonit commented on #16709
I was to quick :-)
I disabled the non native modules manually and now my add order does not throw that error. So it must be a custom module that is the cullprit.

[2019-12-05 15:59] khouloudbelguith commented on #16709
@ebonit, you need to disable one by one, clear cache, check to find the exact module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-12-05 15:59] #16709 closed, assigned to nobody

[2019-12-05 16:00] khouloudbelguith commented on #16715
@Hlavtox, ok thanks for these clarifications.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2019-12-05 16:06] khouloudbelguith commented on #16680
@mg2812, could you please check if the connection to MySQL and re-establish it if needed.
You can follow this link [PHP:mysqli_ping](https://www.php.net/manual/en/mysqli.ping.php) for info on that.
Also, it could be a problem in `max_allowed_packet` in the `my.ini/my.cnf` file
Try to increase it & restart the MySQL service once you are done, you can follow this link: https://dev.mysql.com/doc/refm

[2019-12-05 16:11] Dupflo commented on #16703
@khouloudbelguith

I update it and still not working ...
[variants.xlsx](https://github.com/PrestaShop/PrestaShop/files/3927880/variants.xlsx)

[2019-12-05 16:21] khouloudbelguith commented on #16631
@mvorisek,
The first URL provided: `http://localhost/subdir/admin-dev/index.php?controller=AdminDashboard&token=`, it is the URL of the Dashboard page.
I removed the `index.php` from the URL => the dashboard page is reloaded again with this URL: `https://prestashop.tn/ps/ps_17/admin-dev/?controller=AdminDashboard&token=`
I navigated to the Information page which has the URL: `https://prestashop.tn

[2019-12-05 16:24] Dupflo commented on #16703
I did my best to update with only what I needed and still not working..
[importvariants.xlsx](https://github.com/PrestaShop/PrestaShop/files/3927951/importvariants.xlsx)

[2019-12-05 16:29] khouloudbelguith commented on #16631
@mvorisek, we should close one of these issues: #16631 & #16701 Thay are similar.
Thanks!

[2019-12-05 16:29] Dupflo commented on #16703
Looks like color is not imported

[2019-12-05 16:30] khouloudbelguith commented on #16707
Hi @mvorisek,

In my case, the URL of the information page is `https://prestashop.tn/ps/ps_17/admin-dev/configure/advanced/system-information/?_token=`, there is no `index.php`, this page is migrated to Symfony, it is different from the dashboard page.

No, it is well worked in mu case

I attached a screen record
https://drive.google.com/file/d/10NDib4mj7WG4HCHiH3pxsym-qbi63-8F/view

Thanks to che

[2019-12-05 16:43] rss9090 commented on #16617
@khouloudbelguith
In your archive file there is an only apache2.conf file. Missing files should be added to archive from/with the corresponding folders.

[2019-12-05 16:45] khouloudbelguith commented on #16617
@rss9090, so, do you need to provide you the other files?
Thanks!

[2019-12-05 16:51] pyp31 commented on #16695
I guess it's because I use a module that uses this file maybe wkwarehouse.
in all cases this file contains an error ( typing), we have to replace  : by /

https://drive.google.com/open?id=1k-LbH_YwMIEIa6HxDDHs1EYdBp6bVk76

Regards

[2019-12-05 16:58] khouloudbelguith commented on #16695
@pyp31, As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-12-05 17:00] mg2812 commented on #16680
I did all your recomedation. Increase max_allowed_packet from 32M till 256M. But the same error!
PHP error logs the same:
[05-Dec-2019 19:24:58 Europe/Moscow] PHP Warning:  file_put_contents(H:\OSPanel\domains\ps1762.ru/var/cache/prod\cacert.pem): failed to open stream: No such file or directory in H:\OSPanel\domains\ps1762.ru\classes\Tools.php on line 2118
Thanks

[2019-12-05 17:06] khouloudbelguith commented on #16703
@Dupflo, I think, that there is aline not good.
As I said I tried with this file
[com.xlsx](https://github.com/PrestaShop/PrestaShop/files/3928133/com.xlsx) & it is ok

thanks to try to import the combinations of the 25 first products, check & feedback.

[2019-12-05 17:08] khouloudbelguith commented on #16680
@mg2812, what is the exact language/country did you use during the install?
Did you download the zip folder from the official site? https://www.prestashop.com/en/previous-versions

Thanks!

[2019-12-05 17:23] Dupflo commented on #16703
It works ... so somme value in my full document are wrong, which column do you think can be wrong according to the error ?

[2019-12-05 17:26] Klemart3D commented on #14202
I tried your module by making `id_custom` param not mandatory by replacing:

`'rule' => 'my-custom-route/' . $dynamic_prefix . '/{id_custom}'`

with:
`'rule' => 'my-custom-route/' . $dynamic_prefix . '{/:id_custom}'`

After module installation, any route is created in `ps_configuration`. Is it normal and linked to this issue?

[2019-12-05 17:38] crishnakh commented on #16436
Wow! a lot time with this problem.  Never imagine that the uppercase email was the problem.

[2019-12-05 17:44] ziezo opened #16718 "Changing shipping cost of a non-validated order should update shipping cost on invoice"
PrestaShop allows changes to "non-validated" orders, i.e. orders that do **not** have any status with "Consider the associated order as validated" in the status history. Any changes to a "non-validated" order are reflected on the attached invoice.

However, the changes to shipping cost with setting "Recalculate shipping costs after editing the order" are not reflected on the attached invoice. Corr

[2019-12-05 18:04] mg2812 commented on #16680
Yes, I downloaded from prestashop.com. Country: Russia, language: Russian, English.
I use two shops with Prestashop 1.6.1. Never have problem with install. Also I no have problem and  error with Prestashop 1.7.5 install.

[2019-12-05 18:25] presciak commented on #14595
My PS is 1.7.5.2
before upgrade prestashop i did update to 4.10.0

[2019-12-05 18:31] presciak commented on #14595
I have many currencies
I have already tried to turn currencies on and off in various ways
I left only dollars or only Euro
nothing helped

[2019-12-05 18:39] presciak commented on #14595
I tried to update to version 1.7.6.0 and 1.7.6.1 as well as 1.7.6.2
each time the update process proceeded correctly
in versions 1760 and 1761 after logging into the panel there was a white screen
in version 1762 it shows me error 500 right away

[2019-12-05 18:51] rss9090 commented on #16617
@khouloudbelguith
sure

[2019-12-05 19:36] mg2812 commented on #16680
I did new clean installation of Prestashop 1.7.5.2  Everything is OK. After  I tried upgrade to 1.7.6.2 be 1-Click upgrade module. I have nevt error:
[INTERNAL] H:\OSPanel\domains\ps1762.ru\src\Core\Data\Layer\AbstractDataLayer.php line 198 - PrestaShop\PrestaShop\Core\Data\Layer\DataLayerException: Unable to write into "ru-RU"" (data layer : "PrestaShop\PrestaShop\Core\Data\Layer\AbstractDataLaye

[2019-12-05 20:25] jf-viguier commented on #16451
Any news here ?

[2019-12-05 22:03] Dupflo opened #16719 "Facets not display on price-drop.tpl and new-products.tpl"

[2019-12-05 23:08] mvorisek commented on #16631
@khouloudbelguith Thank you for the videos!

https://github.com/PrestaShop/PrestaShop/issues/16701 is different, it should resolve not adding "index.php" by default (added for example when you log in).

This issue is related with unsual but fully valid server config. Here is complete analysis:
https://bit.ly/365NHZj

![image](https://user-images.githubusercontent.com/2228672/70281600-c0408b00-17bb

[2019-12-05 23:20] bernardochitas commented on #15037
Thank you for the insert ps_connections query.

Now when I try to check open carts menu there's this crash:

[PrestaShopException]
Invalid address #16
at line 472 in file classes/Address.php

467.             // if an id_address has been specified retrieve the address
468.             if ($id_address) {
469.                 $address = new Address((int) $id_address);
470.
471.                 if (!

[2019-12-05 23:26] mvorisek commented on #16631
So the only problematic variables are:
- `DOCUMENT_ROOT`, used only in https://github.com/PrestaShop/PrestaShop/blob/33684a3828f66e3a0e91ed53a8239813dcef41dd/classes/helper/HelperOptions.php#L64 and it's usage should be replaced
- `PHP_SELF` is used on several places, regex `(?<!\$|->|\$properties\['|HOMEPAGE_)php_self`:
![image](https://user-images.githubusercontent.com/2228672/70282498-3645f180-

[2019-12-06 07:25] IvoRabush commented on #16702
Prestashop Version 1.7.5
I'm not calling the method getAdminBaseLink.

I'm changing the shop context and when I call the methods Context::GetContext()->shop->id in order to get the currect shop context. Doesn't matter on which Shop context I am, it gives the shop from the current URL  - this is wrong !

![image](https://user-images.githubusercontent.com/32366618/70303734-04a64800-1809-11ea-893c-ee

[2019-12-06 08:09] khouloudbelguith commented on #16202
Hi @matteolavaggi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-06 08:09] #16202 closed, assigned to nobody

[2019-12-06 08:11] khouloudbelguith commented on #16217
Hi @creartlab,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-06 08:11] #16217 closed, assigned to nobody

[2019-12-06 08:12] khouloudbelguith commented on #15054
Hi @MatShir,

Any news about this issue?

Thanks!

[2019-12-06 08:15] #10766 closed, assigned to nobody

[2019-12-06 08:39] Max84 opened #16720 "RFC 2616 and Webservice"
**Describe the bug**
RFC 2616 tells http headers are case insensitive and should be in lower-case.
I suggest to change PSWS-Version variable to psws-version because some load balancers and proxies convert http headers to lowercase and programming language are case sensitive. It can break some development

**To Reproduce**
Just open the webservice API and check header to see it in camel case.

**Ad

[2019-12-06 08:40] khouloudbelguith commented on #16718
Hi @ziezo,

Thanks for your report.
I as I said before, I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2
In the Order details:
![image](https://user-images.githubusercontent.com/16067358/70308302-3a4c3080-180b-11ea-9756-1208332cdc84.png)
In the invoice, shipping is not recalculated

![image](https://user-images.githubusercontent.com/16067358/70308351-594ac280-180b-11ea-9b08-3146c692780f.

[2019-12-06 08:41] khouloudbelguith commented on #16637
Hi,

Since this issue is closed, similar issue re-opened here: https://github.com/PrestaShop/PrestaShop/issues/16718

Thanks!

[2019-12-06 08:42] khouloudbelguith commented on #16718
Related to: #12394

[2019-12-06 08:46] khouloudbelguith commented on #16719
Hi @Dupflo,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-12-06 08:46] #16719 closed, assigned to nobody

[2019-12-06 08:46] Dupflo commented on #16703
I got it ! Finally after looking for some empty space

[2019-12-06 08:46] #16703 closed, assigned to nobody

[2019-12-06 09:08] khouloudbelguith commented on #16703
@Dupflo, great!
Feel free to open a new one when needed.

[2019-12-06 09:23] khouloudbelguith commented on #16702
@IvoRabush, as described in this PR: https://github.com/PrestaShop/PrestaShop/pull/9450
The current behavior in PrestaShop is:

_The URLs in the left column keep the one in your address bar, even when you select a specific shop, and even if you have a subfolder installation instead of a domain one Perform the same check on the domain/address of another shop_

So, when you select another shop, it d

[2019-12-06 09:31] khouloudbelguith commented on #15037
Hi @bernardochitas,

This issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/11416 as reported here: https://github.com/PrestaShop/PrestaShop/issues/9782

Thanks!

[2019-12-06 09:43] khouloudbelguith commented on #16451
@jf-viguier, we are still waiting for our dev's response.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2019-12-06 09:45] Max84 commented on #16720
In fact RFC 2616 was remplaced by RFC 7231 see here: https://www.rfc-editor.org/rfc/rfc7231.txt

And this is an extract :

`RFC 7231             HTTP/1.1 Semantics and Content            June 2014

   The type, subtype, and parameter name tokens are case-insensitive.
   Parameter values might or might not be case-sensitive, depending on
   the semantics of the parameter name.  The presence or abse

[2019-12-06 09:56] khouloudbelguith commented on #14595
@presciak,
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
If you can’t access your dashboard, you can still enable the Debug Move using an FTP client (for instance the free Filezilla tool) to edit the config/defines.inc.php file. Find the following line in the file:

`define('_PS_MODE_DEV_', false);`

… and change it to:

`define('_PS_MODE_DEV_',

[2019-12-06 09:57] khouloudbelguith commented on #16436
Hi @crishnakh,

Fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/16550

Thanks!

[2019-12-06 10:07] #16273 closed, assigned to atomiix, jolelievre

[2019-12-06 10:33] marsaldev commented on #16451
Hi @jf-viguier,
what about 'actionCartSave' or 'actionCartUpdateQuantityBefore'?
Have you tried with these hooks?

[2019-12-06 10:42] khouloudbelguith commented on #16680
@mg2812, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-12-06 10:43] khouloudbelguith commented on #16680
PS: I tried to install PS1.7.6.2 with PHP7.1.33, with Russian language & Russia country => OK, no problem.

Thanks!

[2019-12-06 11:04] MatShir commented on #15054
Hi @khouloudbelguith,
As @eternoendless said, the "accounting" system is not the right solution but the need for this functionality is clearly there. That would be a reason not to have your FO customized for fear of making a bad invoice.
Anyway, we must wait for the final integration of the CLDR on the 177 to add any more feature to the price management.

I will edit the original and the name to h

[2019-12-06 11:20] khouloudbelguith opened #16723 "This payment method is not available - Using a Billing address ( not available for payment method) differs from shipping address"
**Describe the bug**
Issue reproduced by @Robin-Fischer-PS :)
An error is displayed in the FO "This payment method is not available" after validation an order when using a Billing address ( not available for payment method) differs from shipping address

**To Reproduce**
Steps to reproduce the behavior: you must have two countries enabled (France & united states)
1. Go to BO => Payment => Preferen

[2019-12-06 11:26] IvoRabush commented on #16702
@khouloudbelguith
I saw the commit, I compared the classes/link.php class I had and it's the same. no difference.
Still the issue is there.

Can you please test this print on your setup and see if the shop context will change when you change the shop context in the admin panel ?

![image](https://user-images.githubusercontent.com/32366618/70319838-edc51d00-182b-11ea-9aa2-5a86e9a07000.png)

echo "T

[2019-12-06 11:32] jf-viguier commented on #16451
@marsaldev My concern is to intercept voucher code : discount_name.
It's called in Cartcontroller updateCart() method : no hook is fired here. Nor actionCartSave nor actionCartUpdateQuantityBefore

[2019-12-06 11:34] khouloudbelguith opened #16725 "Error - Unclear alert when adding a profile's name more than 32 chars"
**Describe the bug**
 Unclear alert when adding a profile's name more than 32 chars

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Advanced Parameters => Team => Profiles
2. Create a profile with a name more than 32 chars
3. Save
4. See error

With PS1.7.5.2, it was very clear
![image](https://user-images.githubusercontent.com/16067358/70320110-2eb93380-1824-11ea-92c1-2e272efabe

[2019-12-06 11:36] khouloudbelguith commented on #16725
This is a critical issue because it breaks the automatic test.
Related to https://github.com/PrestaShop/PrestaShop/issues/16514

[2019-12-06 11:36] khouloudbelguith commented on #16725
Ping @boubkerbribri

[2019-12-06 11:39] MatShir opened #16726 "[EPIC] B2B"
This Epic relates all the issues around the B2B behaviours.

## Features
- [x] #15054

## Bugs
- [ ] #14979

**Bugs related to the webservice**
- [x] #15380
- [ ] #14903
- [x] #19605

## Fixed
- [x] #27761
- [x] #27784
- [x] #23544

[2019-12-06 11:50] khouloudbelguith commented on #16720
Hi @Max84,

So, the parameter value should in the minimal case as described in this screenshot?
![image](https://user-images.githubusercontent.com/16067358/70321202-02eb7d00-1827-11ea-8f0c-c4bd87eee72d.png)

Thanks!

[2019-12-06 11:54] marsaldev commented on #16451
@jf-viguier
You're right, but to be precise, you could intercept it only if the cart rule give a product as a gift, because the _updateCart_ method call _addCartRule_ or _removeCartRule_ (if you go behind methods, you'll discover that _actionCartSave_ is called in case of a gift).
And in those two method the edit are done directly in the db, sorry, old heritage :)

Effectively, a new hook that int

[2019-12-06 11:58] khouloudbelguith commented on #16702
@IvoRabush, I have this exception when changing the shop context.
![image](https://user-images.githubusercontent.com/16067358/70321620-0e8b7380-1828-11ea-8bb3-05f6f570d314.png)

Thanks!

[2019-12-06 12:02] khouloudbelguith commented on #16631
@mvorisek, thanks for these clarifications.

So, how can I reproduce the issue?, in my case, it is OK.

Thanks!

[2019-12-06 12:08] IvoRabush commented on #16702
@khouloudbelguith  instead of the **echo** can you then try the looger again in the same file just after the **@date_default_timezone_set(Configuration::get('PS_TIMEZONE'));**

$logger = new FileLogger();
$logger->setFilename(_PS_ROOT_DIR_ . '/var/logs/' . date('Ymd') . '_shop_context_check.log');
$logger->logInfo('START ...');
$logger->logInfo("TIME ZONE : " . date_default_timezone_get());
$logge

[2019-12-06 12:16] IvoRabush commented on #16702
After you change the shop context few times, check the **SHOP ID** value in the log, you will see that it's the same doesn't matter which shop context you are.

After that, change the log filename to '_shop_context_check_url_change.log' and on your browser change the URL from domain.com/adminXXXXXX to domain.com/**VIRTUAL-URL**/adminXXXXXX and see the difference in the log, the **SHOP ID** will be

[2019-12-06 12:19] mg2812 commented on #16680
[log.txt](https://github.com/PrestaShop/PrestaShop/files/3932130/log.txt)
Attached log.txt
Thanks!

[2019-12-06 12:31] ghost opened #16728 "SMTP problem"
I try to send emails via SMTP. I set up all config in setting and when i make Email config test its works well but when i go to Design -> Email Theme -> send a test mail i get "Cannot send test email for layout layout_name"

PrestaShop version: 1.7.6.1
PHP version: 7.2

[2019-12-06 13:08] khouloudbelguith commented on #16728
Hi @simon12q,

I did not manage to reproduce the issue with PS1.7.6.2 & PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/70325134-95911980-1831-11ea-85b7-c0cef3b3fe8e.png)
The information for these fields, SMTP, should be provided by your web host: mail domain name, SMTP server, SMTP user, etc. Make sure to transcribe exactly what your web host provides you with.

Thanks to c

[2019-12-06 13:16] jf-viguier commented on #16451
Yes indeed. I've done an override in my module for now but it's not the way it should be.
Prestashop recommends to ask for missing hook (cf build) instead of overriding, that's what I've done.

For the record, I don't use cart rule in my module I use my own gift card system.

[2019-12-06 13:18] #15828 closed, assigned to matks

[2019-12-06 13:25] Max84 commented on #16720
Not at all, your fields must be case sensitive.
I only talk about the http header "PSWS-Version" sent by webservice. You can see it with an html inspector (with Firefox, maybe Chrome).

![image](https://user-images.githubusercontent.com/6622400/70326190-2e289900-1834-11ea-80df-3371903bf7a5.png)

[2019-12-06 13:29] TeapotJames opened #16994 "Controller paths in sitemap XML - causing 404 errors in Search Console"
Is anyone else getting controller paths in the output of their XML file?

If I visit the XML output file - https://www.angelalangford.com/1_en_0_sitemap.xml I can see the following paths…

https://www.angelalangford.com/index.php?controller=product
https://www.angelalangford.com/index.php?controller=category
https://www.angelalangford.com/index.php?controller=cms

These paths are giving me 404 err

[2019-12-06 13:30] Max84 commented on #16720
You've add the "bug" tag. For me, it's not really a bug, but an improvement.
I don't know if it is important for you.

[2019-12-06 13:36] khouloudbelguith commented on #16720
@Max84, thanks for these clarifications.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-12-06 13:42] Darmona commented on #15400
YOUHOUUUUUU !
[image:
https://docs.google.com/uc?export=download&id=1SDWdzk43EBlEVbSwVoAWdbeN8GdcMHjN&revid=0B-u6WWK29W9ZZWlyaTAwMG1FZWRBNXhFdGNZUERMRmxaZlBjPQ]

Alexandre Darmon

Product Manager Modules @ PrestaShop

t: +33 (0)1 40 18 30 04

alexandre.darmon@prestashop.com

<https://addons.prestashop.com/en/payment-card-wallet/46347-prestashop-checkout-built-with-paypal.html?utm_source=signature&

[2019-12-06 13:47] khouloudbelguith commented on #16702
@IvoRabush, new exception
![image](https://user-images.githubusercontent.com/16067358/70327489-30d8bd80-1837-11ea-8fdf-65e23ca68b1f.png)
![image](https://user-images.githubusercontent.com/16067358/70327533-48b04180-1837-11ea-999e-0dc0e66a38b6.png)

Thanks!

[2019-12-06 14:11] mvorisek commented on #16631
@khouloudbelguith see the analysis/image in https://github.com/PrestaShop/PrestaShop/issues/16631#issuecomment-562359088 . For simple test use nginx with PHP CGI, set `root` and place data in directory like in the analysis.

This issue is presented also on linux, just replace the `C:` with any linux path.

[2019-12-06 14:22] IvoRabush commented on #16702
Remove the PS_ROOT_DIR and the point, let it be like this $logger->setFilename('/var/logs/' . date('Ymd') . '_shop_context_check.log');

[2019-12-06 14:37] khouloudbelguith commented on #16702
@IvoRabush, I have this error
`Directory /var/logs is not writable`
All permissions are good
![image](https://user-images.githubusercontent.com/16067358/70330661-4998a180-183e-11ea-9af9-d6128014c7f0.png)

Thanks!

[2019-12-06 14:42] sam-pires opened #16730 "Missing chart in Shop Search stats for new employees"
**Describe the bug**
The pie chart in the _Shop Search_  tab in the Stats page does not appear on BO of a new employee.
Even with all permissions enabled or with the SuperAdmin profile.

**To Reproduce**
Steps to reproduce the behavior (a shorter way probably exists):
1. Go to 'Team'
2. Create a new profile with all permissions enabled
3. Create a new employee, assign it the new profile you create

[2019-12-06 14:44] parpotosis commented on #9932
Hi,
the fix #15399 (ticket #9932) is going to be compatible with previous versions of Prestashop (1.7.x)?

Many Prestashop users won't be able to update to the last version (1.7.7) due to technical reason such as incompatibilty of theme or modules but they need this fix and have been waiting it for several months.

Thanks

[2019-12-06 14:49] khouloudbelguith commented on #16680
@mg2812, this issue is probably related to your server.
PHP Warning: file_put_contents(H:\OSPanel\domains\ps1762.ru/var/cache/prod\cacert.pem): failed to open stream` and the CLDR cache that is only in the cache

it looks like a problem related to your env, either of permission, or the path point where it should be, or lack of space.

Thanks!

[2019-12-06 15:12] mg2812 commented on #16680
Thanks! But how can I fix this problem? How I told you error only witn 1.7.6 ver. Early ver. 1.7.5 install without errors. Also during installation process Prestashop 1.7.6  check system configuration and haven't error.
Thanks!

[2019-12-06 15:21] khouloudbelguith commented on #16680
@mg2812, thanks to check if you have enough space on your server.

Thanks!

[2019-12-06 15:25] khouloudbelguith commented on #16730
Hi @sam-pires,

It is a regression.
With PS1.7.5.2 => OK
https://drive.google.com/file/d/18F9hBYhAImbneipqXKZYyY96El1n55Uu/view
I have the same issue with PS1.7.6.0 & PS1.7.6.2.
I’ll add this to the debug roadmap.
Thanks!

[2019-12-06 15:27] PierreRambaud commented on #16328
The problem must be the same with Categories, Manufacturers and Suppliers :thinking:

[2019-12-06 15:46] khouloudbelguith commented on #16631
@mvorisek, Here is the PHP info file of my environment
[phpinfo().pdf](https://github.com/PrestaShop/PrestaShop/files/3932909/phpinfo.pdf)
To reproduce the issue, I need to edit the `$_SERVER['DOCUMENT_ROOT']` or all variables in your screenshot
My path is : `/var/www/html`
Thanks!

[2019-12-06 15:49] mg2812 commented on #16680
Thanks! I have enough spase 32Gb. I think something wrong with path, but how fix it?

[2019-12-06 15:57] mvorisek commented on #16631
@khouloudbelguith Edit your nginx config with `location` matching some subdirectory like `/ps/` (see `REQUEST_URI` in my examples) and have `root` directive poiting to some subdirectory not names `ps`.

If you want, you to install PS in `var/www/html`, copy PS data there, so that the main directory is like `var/www/html/prestashop`. In nginx setup `var/www/html/prestashop` as a `root` and make the

[2019-12-06 15:59] khouloudbelguith commented on #16617
@rss9090, all files attached:

[conf-available.zip](https://github.com/PrestaShop/PrestaShop/files/3932967/conf-available.zip)
[mods-enabled.zip](https://github.com/PrestaShop/PrestaShop/files/3932968/mods-enabled.zip)
[ports.conf.zip](https://github.com/PrestaShop/PrestaShop/files/3932969/ports.conf.zip)
[sites-available.zip](https://github.com/PrestaShop/PrestaShop/files/3932970/sites-available.

[2019-12-06 16:02] khouloudbelguith commented on #16680
@mg2812, here's a [tuto](https://www.youtube.com/watch?v=cANFwuJqdgM&t=1s) to install PrestaShop step by step.

Thanks!

[2019-12-06 16:27] MatShir commented on #16653
@LouiseBonnard
A suggestion about the name of the button, since the button affects only the products and the other button is called "Cancel products" and "Return products". We could rename it "Refund products". And then change the partial refund as the refund button.
WDYT?

Wdty @matthieu-rolland as well now that you know everything about them? :wink:

[2019-12-06 16:32] khouloudbelguith commented on #16631
@mvorisek, so I need to edit the Nginx configuration file?
[default.conf.zip](https://github.com/PrestaShop/PrestaShop/files/3933082/default.conf.zip)
example here: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist

Thanks!

[2019-12-06 20:15] fra93ita commented on #16669
Price start from 29.90 and 17.90 not 21 or 7.3, and refreshing that page/changing combos(exactly when Page is loaded, on fronoffice obv) , lower the price more and change it permanentely on the database

[2019-12-06 21:04] mvorisek commented on #16631
Yes, edit the nginx config to make it working with subdirectory to produce the variables like in the analysis.

I have isolated the issue and it is solely here (I checked every occurence of the problematic variables all PS code plus complete vendor dir):
https://github.com/symfony/symfony/blob/4a9926aa6847c4f578752ef928e5fab6f3acb58c/src/Symfony/Component/HttpFoundation/Request.php#L1766

To repli

[2019-12-06 21:12] mvorisek commented on #16631
Reported: https://github.com/symfony/symfony/issues/34866

[2019-12-06 22:05] presciak commented on #14595
I don't have access to the dashboard
What I sent is from debug mode
I turned on PHP exec () before upgrading
In the store I sometimes have one currency assigned to many countries. for example,
Spain and Slovakia have Euro, but they have completely different subdomains.

[php_error.txt](https://github.com/PrestaShop/PrestaShop/files/3934184/php_error.txt)

[2019-12-06 22:49] onklmaps commented on #15054
Please keep in mind also in the process of finding a good sollution that tax calculation in the cart/checkout MUST be done with the highest precision allowed by the currency, not more, not less. Regardless if one chooses to cut of decimals in product price display.

Let's say I want to remove decimals in FO product prices and a product is priced to 11 tax included. Then in checkout this should be

[2019-12-07 00:36] #16497 closed, assigned to nobody

[2019-12-07 06:27] mamunhosen opened #16732 "second level pagination doesn't work in back office"
**Describe the bug**
A clear and concise description of what the bug is.
There is a bug in all second level pagination in prestashop 1.7.4.2. For example in categories tab more than 100 categories I have and this level pagination works fine. If I click one of the category that has 50 subcategories and in this level pagination doesn't work. if I click on next button it redirects to parent page pagi

[2019-12-07 11:09] dtwfung commented on #15348
I have tried once again. For refund WHOLE order, I have selected all products in the order and then click refund. The process seems completed since NO message showed me, at least order status should change...
What I found is
1. The order amount had refunded in PayPal (I have to login and check there.)
2. In PS, I have to check in the logs in PS' paypal configuration.

Then, I have to change the or

[2019-12-07 17:43] Mindfield-Studio commented on #14703
Hi,

Just a "stupid" question: Why updating physical & reserved stock when it's already supposed to be updated in Payment process, Order History, and Admin Order Controller ?

So, I'm testing without this "update" by commenting this in "StockRepository":

`
    public function getData(QueryParamsCollection $queryParams)
    {
//        $this->stockManager->updatePhysicalProductQuantity(
//

[2019-12-07 18:13] Gamesh opened #16734 "DB_PREFIX is ignored in docker container"
**Describe the bug**
DB_PREFIX is completly ignored if set to `''` (empty string) or `null` or `~` and always fallsback to `ps_`

**To Reproduce**
1. Add  `DB_PREFIX: ''` to docker-compose.yaml
2. spin it up

**Screenshots**
<img width="274" alt="image" src="https://user-images.githubusercontent.com/171747/70378847-f3a32700-192d-11ea-9b08-5d432ef8640e.png">

**Additional information**
PrestaShop v

[2019-12-07 18:13] jusurb opened #19201 "DB_PREFIX is ignored in docker container"
**Describe the bug**
DB_PREFIX is completly ignored if set to `''` (empty string) or `null` or `~` and always fallsback to `ps_`

**To Reproduce**
1. Add  `DB_PREFIX: ''` to docker-compose.yaml
2. docker-compose up -d
3. Check prestashop DB, all tables should be without `ps_` prefix

**Screenshots**
<img width="274" alt="image" src="https://user-images.githubusercontent.com/171747/70378847-f3a3270

[2019-12-08 00:15] Mindfield-Studio commented on #14703
So, I found another solution:
Keeping the last update date in cache, and executing "updatePhysicalProductQuantity" when the last update every 30 mins (if stock page is loaded).

[2019-12-08 04:51] DotJoshJohnson commented on #15053
Just in case this is still an issue for anyone, the problem is that Dropzone (the file upload control used by PrestaShop here) is being configured to only accept files with a type of "application/zip". Some environments, however, will use a different MIME type. Chrome 78 on Windows 10 (1909), for example, uses application/x-zip-compressed. Pasting the snippet below into the browser console just be

[2019-12-08 06:31] IvoRabush commented on #16702
Hello @khouloudbelguith ,

The defines.inc.php is loaded after config.inc.php on your PS version, that's why the _PS_ROOT_DIR is not defined.
``
Here you are the code for the logger, it should work now:
$logCurrentDirectory = `dirname(__FILE__);`
$logPSRootDirectory = realpath($logCurrentDirectory.'/..');

$logger = new FileLogger();
$logger->setFilename($logPSRootDirectory . '/var/logs/' . date('

[2019-12-08 16:13] Hlavtox opened #16735 "[Faceted search] Price filter not working properly - filters by tax excl. price"
**Describe the bug**
Faceted search price filter is not working. It filters the product by a price without tax.
Screenshot is self explanatory.
**Steps to reproduce the issue**
1. In the BO => Shop Parameters => Customer Settings => Groups Tab, set "Price display method" to Tax excluded"
2. Create 3 products:
2.1 Product1: Price HT= Price TTC = 1790 (No tax)
2.2 Product 2 & 3: Price HT = 1690, Pri

[2019-12-08 18:39] fra93ita commented on #16669
I've tested a clean install, with default theme, and i don't get any errors, everythings wors as it should; so probably i have to explore the error on the theme (maybe after the update to 1.7.5 theme broke)

[2019-12-08 20:31] mvorisek opened #16736 "Installer is consistently failing with NTS PHP on Windows"
**Describe the bug**
When PHP uses only 1 thread, i.e. CGI or CLI, it should produce exactly the same output with TS AND NTS build, right?

But after days of trouble shooting I finally find the issue with PrestaShop installer. The issue is NTS PHP on Windows.

The PrestaShop install always fail with NTS PHP (with error Template "C:\wamp64\www\ps\mails\themes\modern\core\account.html.twig" is not d

[2019-12-08 22:29] matks commented on #16523
⚠️ Dont forget to register these new hooks in database and in the devdocs !

[2019-12-08 22:37] fra93ita commented on #16669
OK the problem it's only mine so we cannot consider it a bug; btw  if i do use the catalog price rules, setting the start price within the rule, everything works; if i choose "Leave the initial price" price starts messing on combination changing or page refresh

[2019-12-08 23:05] 900i commented on #15536
Hi,
I have the same problem on the with the guest tracking page. After I insert the order number and the email address and I press send, it goes to the home page. Even if I don’t fill out the email and the address and I press send it has the same behavior.

Does anyone knows which is the problem?

Thanks!

[2019-12-08 23:10] 900i opened #16737 "Guest tracking page not working"
Hi,
I have the same problem with the guest tracking page. After I insert the order number and the email address and I press send, it goes to the home page. Even if I don’t fill out the email and the order number and I press send it has the same behavior.

Does anyone knows which is the problem?

Thanks!

**Additional information**
PrestaShop version: 1.7.6.2
PHP version: N/A

[2019-12-09 05:23] TamasFelix opened #16738 "Price after saving 1.7.6.1"
Hi, After I added a product and set the price with taxes 205RON and wholesale price 31,49RON, I save the product.
![1](https://user-images.githubusercontent.com/50567469/70409121-4f1b0500-1a53-11ea-8d60-c8d4593f5653.JPG)
After saving, the price changes to, price with taxes 204.999999RON and wholesale price 31,490000.
![2](https://user-images.githubusercontent.com/50567469/70409202-a15c2600-1a53-11

[2019-12-09 07:14] corsik opened #16739 "Viewed Products"
**Describe the bug**
The names of the viewed products in Russian, in the user’s card are displayed in the wrong encoding.

**Screenshots**
![image](https://user-images.githubusercontent.com/1533248/71972277-a22bd780-320c-11ea-9c8e-cd1b9ad5459f.png)

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.1.21

[2019-12-09 07:57] madsoliver opened #16740 "Make it possible to edit one-and-one field in Product "all-shops" context"
On 1.6 `multistore > back-office   > all shops> Product edit`, one would have to mark a checkbox for each field one would like to edit.
When for example editing the `Name` field, and clicking  `Save`, only the name field would be updated across all shops.

Nowadays on `1.7.6.1`, doing the same product edit, you have no such checkboxes, and therefore update **all fields** when you only wanted to up

[2019-12-09 08:15] khouloudbelguith commented on #16302
Hi @JBWModules,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-09 08:15] #16302 closed, assigned to nobody

[2019-12-09 08:16] khouloudbelguith commented on #16313
Hi @RogerComte,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-09 08:16] #16313 closed, assigned to nobody

[2019-12-09 08:36] khouloudbelguith commented on #16732
Hi @mamun-hosen,

The Category page in the PS1.7.6 was migrated to Symfony.
So, a lot of issues are fixed.
The second level pagination in the categories page is well working.
I attached a screen record
https://drive.google.com/file/d/1rRYkku8YJILoyrAifLklINMVY1-yXHEC/view
Thanks to check & feedback.

[2019-12-09 08:40] matteolavaggi opened #16741 "PS 1.7.6.1 Bank Wire account detail not sent in email"
**Describe the bug**
The email customer receive has empty field for bank account details:

Titolare del conto: {bankwire_owner}Dettagli sull'account: {bankwire_details}Dettagli sulla banca: {bankwire_address} | Titolare del conto: {bankwire_owner}Dettagli sull'account: {bankwire_details}Dettagli sulla banca: {bankwire_address} | Titolare del conto: {bankwire_owner}Dettagli sull'account: {bankwire_

[2019-12-09 09:22] matteolavaggi commented on #16741
Try to manual edit the mails template to avoid this error:

Edit

bankwire.html
bankwire.txt

in both EN and IT folder:

Removed the variable placeholder and insert the account information in html:
![image](https://user-images.githubusercontent.com/24798703/70423382-a928c400-1a6d-11ea-98da-41b892563c71.png)

Same for TXT

![image](https://user-images.githubusercontent.com/24798703/70423396-b219958

[2019-12-09 09:35] khouloudbelguith commented on #16328
Same with Categories & Manufacturers pages.

[2019-12-09 09:36] khouloudbelguith commented on #16725
Nightly is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/16727

[2019-12-09 09:37] colinegin commented on #10511
@matks it seems that this issue is done, can we close it ?

[2019-12-09 09:40] colinegin commented on #10548
Hello @matks , it seems that this issue has been done, can we close it ?

[2019-12-09 10:07] khouloudbelguith commented on #16735
Hi @Hlavtox,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.2 & ps_facetedsearch v3.4.0.
Steps to reproduce the issue:
1. In the BO => Shop Parameters => Customer Settings => Groups Tab, set "Price display method" to Tax excluded"
2. Create 3 products:
2.1 Product1: Price HT= Price TTC = 1790 (No tax)
2.2 Product 2 & 3: Price HT = 1690, Price TTC = 2028 (Tax =20%

[2019-12-09 10:09] khouloudbelguith commented on #16735
Ping @PierreRambaud

[2019-12-09 10:14] khouloudbelguith commented on #16737
Hi @900i,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9650#issuecomment-415056057
So, I close it.
Thanks!

[2019-12-09 10:14] #16737 closed, assigned to nobody

[2019-12-09 10:14] khouloudbelguith commented on #16737
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9650

[2019-12-09 10:18] khouloudbelguith commented on #16738
Hi @TamasFelix,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12078
So, I close it.
Thanks!

[2019-12-09 10:18] #16738 closed, assigned to nobody

[2019-12-09 10:19] khouloudbelguith commented on #16738
Duplicate of #12078

[2019-12-09 10:44] netdrag commented on #16741
I have the same problem on 1.7.6.2

[2019-12-09 10:46] khouloudbelguith commented on #16739
Hi @corsik,

I manage to reproduce the issue with PS1.7.6.0 & PS1.7.6.2.
Steps to reproduce the issue:
1. Add the Russian language
2. Edit the language employee to Russian
3. Add some product with a Russian name for example (СВИТЕР С КОЛИБРИ)
4. Go to the FO, sign in with Customer C & add this product to cart
5. Go to the BO => Customer => View this customer
6. Check the Viewed Products section
![

[2019-12-09 10:55] netdrag commented on #16741
Matteo check the mails folder in your theme. you have to replace it there or have to regenerate the emails through the prestashop backend.

[2019-12-09 10:55] mdacweb opened #16743 "Countries & Carriers Restrictions - Payment preferences"
**Describe the bug**
Countries and carriers restrictions in payment preferences don't work. Prestashop doesn't save changes. No error messages are displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Payment" and "preferences"
2. Check countries and/or carrier restrictions
3. Save settings
4. Setting are not applied

Since all payments are disable for every carriers, there aren'

[2019-12-09 10:58] khouloudbelguith commented on #16740
Hi @onklmaps,

We are aware of this issue, it should be specified by our product Team.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9833#issuecomment-415159319
So, I close it.
Thanks!

[2019-12-09 10:58] #16740 closed, assigned to nobody

[2019-12-09 10:58] khouloudbelguith commented on #16740
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9833

[2019-12-09 11:05] Hlavtox commented on #16735
@khouloudbelguith @PierreRambaud

You edited the bug description, but I meant something completely different....

1. You have VAT 21% set up. Every product has this VAT. You have "Enable VAT in price filter" set to ON in faceted search.

2. You make 3 products:
A - 121 EUR incl. VAT
B - 221 EUR incl. VAT
C - 321 EUR incl. VAT

3. You go to FO you set price filter to 0 EUR - 205 EUR.

4. It will sh

[2019-12-09 11:07] khouloudbelguith commented on #16743
Hi @mdacweb,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/16a6CpCcC0YxvYmlPeQsPSacjLEbndYI1/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - a

[2019-12-09 11:11] colinegin commented on #16715
Hello @PrestaShop/prestashop-core-developers what do you think ?

[2019-12-09 11:22] matteolavaggi commented on #16741
I've solved creating a new template and assign it to order state.. BTW it is absurd to always have to find workarounds to solve bugs or shortcomings of prestashop.

ISSUE on missed bank information in template is not solved yet, i've override the template email for every language but its a painjob

[2019-12-09 11:39] NeOMakinG commented on #16602
This component is already a part of the UI Kit, but only refactored pages benefits of the uikit, did some adjustement anyway on the PR behind

[2019-12-09 12:23] mamun-hosen commented on #16732
Hi @khouloudbelguith

Thanks for your response.
So I need to upgrade the system from 1.7.4 to 1.7.6 to fix the issue?? right??

[2019-12-09 12:46] khouloudbelguith commented on #16732
@mamun-hosen, yes!
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-12-09 12:46] #16732 closed, assigned to nobody

[2019-12-09 13:06] simon12q commented on #16728
@khouloudbelguith ok but now try test via Design -> Email Theme -> Email Themes -> modern
For example 'account' layout -> Send a test email
![test email faild](https://i.imgur.com/ATa0Xsr.jpg)

[2019-12-09 13:16] khouloudbelguith commented on #16741
Hi @matteolavaggi, @netdrag,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.2.
![image](https://user-images.githubusercontent.com/16067358/70437277-83aab300-1a8b-11ea-9a4d-c8ecc731ff11.png)
![image](https://user-images.githubusercontent.com/16067358/70438455-27955e00-1a8e-11ea-86c2-cc9aaa79e86a.png)
I have only this issue: https://github.com/PrestaShop/PrestaShop/issues/13386, i

[2019-12-09 13:24] zuk3975 commented on #10583
todo: Order view has a button "Create an order form this cart". Which redirects to create new order page and loads cart by id.

[2019-12-09 13:25] khouloudbelguith commented on #16728
@simon12q, it is well working if SMTP is well configurated.
https://drive.google.com/file/d/1p8TDKUydNeIkMqboYzUcGWETJBZyEjId/view

Thanks!

[2019-12-09 13:27] khouloudbelguith commented on #15536
@900i, Duplicate of #9650

[2019-12-09 13:28] khouloudbelguith commented on #16669
Hi @fra93ita,

Thanks for your feedback.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-12-09 13:28] #16669 closed, assigned to nobody

[2019-12-09 13:29] PierreRambaud commented on #16715
We already have a `Clear Cache` button is the BO
![image](https://user-images.githubusercontent.com/1462701/70439329-0c2b5280-1a90-11ea-8bad-4fde75ec835a.png)

More if you copy all your directories into a new one (with FTP) be sure to don't copy the var/cache directory.
I think this behaviour is useless and will consume memory for a very very small part of Prestashop's users.

[2019-12-09 13:30] khouloudbelguith commented on #16736
Hi @mvorisek,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

I will try to prepare

[2019-12-09 13:32] simon12q commented on #16728
@khouloudbelguith ok thank you.
SMTP looks ok becouse "Test your email configuration" works well for me but other not.
So probably it is some problem with my server.

[2019-12-09 13:32] #16728 closed, assigned to nobody

[2019-12-09 13:35] khouloudbelguith commented on #16728
@simon12q, you are welcome!
Feel free to open a new one when needed.

Thanks!

[2019-12-09 13:36] Hlavtox commented on #16715
@PierreRambaud You mean the button that doesn't work? 😄

[code]

Execution time will not even be measurable and memory... and like 60 bytes?

[2019-12-09 13:45] khouloudbelguith commented on #14595
Hi @presciak,

As I can see in your log file.
You have an issue similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/15503#issue-492425592
It is a module's issue.

Thanks!

[2019-12-09 14:06] PierreRambaud commented on #16715
@Hlavtox If you want to check if the directory isn't the same, you need to do a checksum on the directory content. If as me you configure your preproduction like your production server (and every other system administrator), the path remains the same.
Maybe it's time to simply don't copy the `var/cache` directory when playing with FTP :thinking:

[2019-12-09 14:10] khouloudbelguith commented on #16735
@Hlavtox, thanks for the feedback.
It is ok with PS1.7.6.2 & PS1.7.5.2 & ps_facetedsearch v3.0.4.
https://drive.google.com/file/d/161WdDLHz1P0DFFNv-Wry7FBfdaGIISnl/view

Thanks!

[2019-12-09 14:27] khouloudbelguith commented on #16702
@IvoRabush, thanks for your feedback.
The first test, I changed between shops & I have this log file
[20191209_shop_context.log](https://github.com/PrestaShop/PrestaShop/files/3940071/20191209_shop_context.log)
The second test, I added this virtual URL to the link, I have this log file
[20191209_shop_context_url_prefix.log](https://github.com/PrestaShop/PrestaShop/files/3940092/20191209_shop_conte

[2019-12-09 14:35] khouloudbelguith commented on #15348
Hi @dtwfung,

So, did you follow these steps:
1. Click on "Return products"
2. Select all products
3. Click on the Return products

As described in the screenshot?
![image](https://user-images.githubusercontent.com/16067358/70443864-37ff0600-1a99-11ea-8735-5f61731a4548.png)

In my case, I have this alert "The discount was successfully generated."
![image](https://user-images.githubusercontent.com/

[2019-12-09 14:42] Prestaworks opened #16744 "AdminSpecificPriceRule clears smarty cache on every page load."
**Describe the bug**
AdminSpecificPriceRule controller has the following code
[code]

this code runs on every page load of that controller and cause the smarty cache to be rebuilt. the part Tools::clearSmartyCache(); needs to have a condition so it only gets rebuilt if needed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the AdminSpecificPriceRule in the backoffice.

**Additional in

[2019-12-09 14:46] IvoRabush commented on #16702
@khouloudbelguith I was coorect, if you check the first log, you will only see Shop ID 1 which is the shop without virtual URL. In short you changed the shop context but it always return Shop ID 1.

In the second test you changed the admin URL amd then in the log you can see Shop ID q amd Shop ID 2.

[2019-12-09 15:06] metineren opened #16745 "LC_CTYPE & Turkish Language"
**Describe the bug**
If setlocale is set to LC_CTYPE variable tr_TR, some of the Turkish characters are different from the en_US definition of PHP's strtolower or strtoupper method.

This character change affects the autoloader configuration of some vendor packages. Smarty for example.

This definition causes Smarty-like Vendor packages to fail to find the classes the autoloaders want to load.

en

[2019-12-09 15:07] khouloudbelguith commented on #16702
Hi @IvoRabush,

Thanks for these clarifications.
Ping @jolelievre what do you think?

The "Admin URL issue" is fixed with this PR: #9450 as described in this [ticket](http://forge.prestashop.com/browse/BOOM-3607.
Thanks!

[2019-12-09 16:41] Hlavtox commented on #16735
@khouloudbelguith https://eshop-teka.cz/464-granitove-drezy?q=Cena-K%C4%8D-2955-5547&order=product.price.desc

See for yourself. Set price range to something. Set sorting to **Cena, od nejdražších** (from the most expensive) and you will see.

[2019-12-09 16:50] Hlavtox commented on #16715
@PierreRambaud I didn't mean content comparing. Just if the path is the same.

I had the dev install on a subdomain, then I just swapped the folder names.

Nevermind, if you think it's useless, you can close it.

[2019-12-09 17:02] NeOMakinG commented on #16605
Should we do this improvement on the UI Kit breadcrumb or on the theme.css one ?

[2019-12-09 17:21] PierreRambaud commented on #16715
@Hlavtox I'm sorry but I think yes, it will cost memory, because the data must be stored somewhere, and to be properly executed, it must check the checksum of the directory, not only the path (more because of integration / preproduction / production logic).

[2019-12-09 18:11] Hlavtox opened #16749 "Asset registering by theme.yml is not working"
Tried to register a custom CSS using the documentation.
https://devdocs.prestashop.com/1.7/themes/getting-started/asset-management/

Added the code to theme.yml
![Výstřižek](https://user-images.githubusercontent.com/6097524/70460901-ae126580-1ab7-11ea-9fb9-cd4fc52cbee8.JPG)

File exists
http://eshop-teka.cz/themes/trendo/assets/css/colors.css

**But it's not loading. Tried to completely delete the

[2019-12-09 18:13] kpodemski commented on #16749
Have you tried to delete folders in /config/themes/? these are cached .yml files

[2019-12-09 18:19] Hlavtox commented on #16749
@kpodemski Then the store stops working. Tried to delete cache but still the same error :-/

![not working](https://user-images.githubusercontent.com/6097524/70461271-938cbc00-1ab8-11ea-8908-1eea28edb0d2.JPG)

[2019-12-09 20:34] kpodemski commented on #16749
@Hlavtox it's not normal behavior :) .yml files have nothing to do with loading catalog files

[2019-12-09 21:02] presciak commented on #14595
I see the php_error link on my post

When I make updates, I disable all modules not from prestashop (remove from ftp)

[2019-12-09 23:30] Hlavtox commented on #16749
@kpodemski When I put back the json file, the site started working just fine.

Strange... 🤷🏽‍♂️

[2019-12-10 02:09] dtwfung commented on #15348
Yes, the message is just pop up. When,the discount message pop up, the refund should be completed in paypal, should the status change to "refunded" automatically.

Thx again

[2019-12-10 06:57] Emmanuel974 commented on #16619
Hi thank you.

[2019-12-10 07:31] Hlavtox commented on #16749
@kpodemski I added it manually to the json file and it works! ;-) Thank you

[2019-12-10 07:31] #16749 closed, assigned to nobody

[2019-12-10 08:21] khouloudbelguith commented on #13558
Related to https://github.com/PrestaShop/PrestaShop/issues/10087

[2019-12-10 08:22] khouloudbelguith commented on #16749
Hi @Hlavtox, @kpodemski,

We have an improvement added to our bug roadmap about the theme.json to be deleted when cache is cleared: #13558
Thanks!

[2019-12-10 08:34] khouloudbelguith commented on #15348
@dtwfung, but Refunded status should be updated only if you have all your products, isn't?
If you just refunded one specific product?

Thanks!

[2019-12-10 08:37] khouloudbelguith commented on #14595
@presciak, thanks to provide me a screenshot about your table ps_currency.
![image](https://user-images.githubusercontent.com/16067358/70512851-bbb80180-1b30-11ea-8f91-42ec62a53e2d.png)

Thanks!

[2019-12-10 08:59] sanctusmob opened #16751 "Update Specific Price Rule Via Api Does not Trigger apply Rule To Product"
I am updating a price rule by changing only the "FROM" and "TO" date via Web Service. After this does not Trigger the apply Rule To Product so the table specific_price to be updated.

The specific price rule
`"2"	"Happy Hours"	"1"	"0"	"0"	"0"	"1"	"-1,000000"	"12,000000"	"1"	"percentage"	"2019-12-10 20:55:00"	"2019-12-11 08:55:00"`

two of the product with the specific price

[code]

the date value

[2019-12-10 09:15] khouloudbelguith commented on #16745
Hi @metineren,

Thanks for your report.
What the exact error after importing/exporting the Turkish language.
It is ok in my case.
https://drive.google.com/file/d/1AB2lghTsP9T6zSwTbL5-7q3BEW8tg8FV/view
The classic theme exported in Turkish
[classic.tr-TR (1).zip](https://github.com/PrestaShop/PrestaShop/files/3943950/classic.tr-TR.1.zip)

Thanks to check & feedback.

[2019-12-10 09:19] dennispw commented on #13558
I'm curious, what changes to the `theme.yml` (post theme installation) would be taken into effect with this method? Would it be realistic to have it update "everything" or would it primarily be to add new CSS/JS assets?

[2019-12-10 09:40] khouloudbelguith commented on #16751
Hi @sanctusmob,

I did not manage to reproduce the issue with PS1.7.6.2
I used this script
[code]
https://drive.google.com/file/d/1aBMnIQ44c0mB8_sZ5zfBDK2UclfKQ1-S/view

Thanks to check & feedback.

[2019-12-10 09:44] metineren commented on #16745
Hi @khouloudbelguith ,

Your server configuration may prevent php from changing the LC_CTYPE parameter in the setlocale function.

can you try this code;

<?php
$current_ctype = setlocale(LC_CTYPE, 0);
setlocale(LC_CTYPE, 'tr_TR.UTF-8', 'tr_TR.utf8');
$changed_ctype = setlocale(LC_CTYPE, 0);

echo '<pre>';
echo $current_ctype.PHP_EOL; // Return C
echo $changed_ctype.PHP_EOL; // Return tr_TR.UTF-8

[2019-12-10 09:49] khouloudbelguith commented on #16745
@metineren,

I have this result
[code]

Thanks!

[2019-12-10 09:52] metineren commented on #16745
Then the server's LC_CTYPE parameter prevents you from entering it. In general, changing this parameter is not prohibited on servers.

If your server allowed to modify LC_CTYPE, you would be able to see the error I mentioned.

[2019-12-10 10:02] sanctusmob commented on #16751
I am updating a price rule aka resource specific_price_rules. In web interface Admin --> Catalog -->      Discounts --> Catalog Price Rules.
When updating a Catalog Price Rule from WebUI this also updating the specific price from products where they are in the rules of the "Catalog Price Rule".
When you do the same via web service does not.

[2019-12-10 10:12] Speedycobra opened #16752 "Tax included price shows wrong price (excluded price)"
**Describe the bug**
Tax included price shows wrong price (excluded price)
I have applied tax rule IVA ES 21% on my shop. But on front office, tax is not applied. Even I have set tax included price to show from backofficec. Can anyone help me?
In the back office there is 131.404958 as tax excl. and 158.999999 as tax incl. but it shows me  131.404958 as tax incl.

**Screenshots**
![tempsnip](https:

[2019-12-10 10:35] khouloudbelguith commented on #16752
Hi @Speedycobra,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Please downgrade you

[2019-12-10 10:43] PeeyushAgrawal opened #16753 "On delete, the lang table data is not getting delete in multistore environment"
**Describe the bug**
While deleting the data of any object from a shop (for example shop2) the lang table data for that shop is not getting deleted, because of code issues in the delete function of the object model class.
For example, there are 3 shops - let's create a product in all shop context - it will create product in all 3 shops.
Now delete the product from the shop 2 context (not a default

[2019-12-10 10:46] Speedycobra commented on #16752
Hi @khouloudbelguith
have downgraded to PHP version: 7.2.25 and still get the same results !!

[2019-12-10 10:57] khouloudbelguith commented on #16752
@Speedycobra, the tax rule `IVA ES 21%` is applied to all countries?

Thanks!

[2019-12-10 11:11] Speedycobra commented on #16752
@khouloudbelguith
no it is not .. have several tax rules active

[2019-12-10 11:12] Emmanuel974 opened #16754 "ps_facedsearch enabled: Product in wrong category"
Hi,
When faced search module is enabled with View sub categories products OK, the products and category are mix
You know this issue ?

Best regards,

Chrome
PS 1.7.5.2
PHP 7.0.33-0+deb9u3 (cli)
ps_facedsearch v3.4.0

[2019-12-10 11:26] khouloudbelguith commented on #16754
Hi @Emmanuel974,

The button "Show products from subcategories" is here to only display products that are in the "Main category" not the latest one.
Otherwise where it should be displayed if you have this:
![image](https://user-images.githubusercontent.com/1462701/58570390-2dd19480-8238-11e9-8d30-98d955a13485.png)
![image](https://user-images.githubusercontent.com/1462701/59031604-70145a80-8864-11

[2019-12-10 11:27] coteclic commented on #9680
Is this problem resolved? Because I have the same and it's pretty urgent !

[2019-12-10 11:28] coteclic commented on #9680
If yes, how to resolve it ?

[2019-12-10 11:29] khouloudbelguith commented on #16752
@Speedycobra, in your BO => International => Taxes => Tx rules page => when you edit this Tax rule, is it enalbled for all countries?
![image](https://user-images.githubusercontent.com/16067358/70525928-b6ff4780-1b48-11ea-8a5d-d136ab2f8f04.png)

Thanks!

[2019-12-10 11:37] Speedycobra commented on #16752
@khouloudbelguith  no it wasent ... but it is now and still same results
![Skärmklipp5](https://user-images.githubusercontent.com/33927215/70526401-c5019800-1b49-11ea-89c2-8cacc864fb21.JPG)

[2019-12-10 11:39] mvorisek commented on #16736
Issue isolated, see https://bugs.php.net/bug.php?id=78939 .

The different results acrosss TS and NTS PHP builds are an issue related with PHP reproducible with single `file_exists` call.

The issue here itself is related with PrestaShop installer, as it tries to operate on "C:data/ps_dev/ps_17/mails/themes/modern/core/account.html.twig" path and after the issue in PHP is fixed, I expect that the

[2019-12-10 11:51] khouloudbelguith commented on #16744
Hi @Prestaworks,

Thanks for your report.
The Catalog price rule in the PS1.7.7 version was migrated to Symfony
Here's the new controller: https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/Sell/Catalog/CatalogPriceRuleController.php
Thanks to check & feedback.

[2019-12-10 11:53] khouloudbelguith commented on #16752
@Speedycobra, did you use the module VAT number?

Thanks!

[2019-12-10 11:54] khouloudbelguith commented on #9680
Hi @coteclic,

Sorry, it is not fixed yet.

Thanks!

[2019-12-10 11:59] Speedycobra commented on #16752
@khouloudbelguith no I havent ... if European VAT number Module is what you are reffering too

[2019-12-10 12:02] khouloudbelguith commented on #16753
Hi @PeeyushAgrawalWebkul,

I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/70527938-54f51100-1b4d-11ea-8d74-e01a110fb151.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-12-10 12:04] PeeyushAgrawalWebkul commented on #16753
Hello @khouloudbelguith

Yes, I have already fixed it, I'll create a PR soon and also will update you.

Thanks

[2019-12-10 12:04] khouloudbelguith commented on #16752
@Speedycobra, are you navigating into the FO as a visitor/guest or customer?

Thanks!

[2019-12-10 12:06] Speedycobra commented on #16752
@ I have tried both ways logged in as customer and as guest / visitor no changes

[2019-12-10 12:09] khouloudbelguith commented on #16735
@Hlavtox, prices are not displayed in your case & it is still loading
![image](https://user-images.githubusercontent.com/16067358/70528322-393e3a80-1b4e-11ea-881e-e661a86fe843.png)

Thanks!

[2019-12-10 12:43] khouloudbelguith commented on #16752
@Speedycobra,
Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-12-10 12:50] Speedycobra commented on #16752
@khouloudbelguith
an email is sent with link and login

Thanks!

[2019-12-10 12:54] khouloudbelguith commented on #16752
@Speedycobra, I just received the email.
I will check & feedback.

[2019-12-10 13:13] khouloudbelguith commented on #16752
@Speedycobra, in your case, only visitors can see
Included Taxes = 0Euro, Geolocalisation enabled
If Geolocalisation is disabled => Included Tax <>0
Customers => Included Tax <>0

Thanks!

[2019-12-10 13:20] Speedycobra commented on #16752
@khouloudbelguith
Thank you for help !!

[2019-12-10 13:21] #16752 closed, assigned to nobody

[2019-12-10 13:43] khouloudbelguith commented on #16752
@Speedycobra,

Thanks!
Feel free to open another one when needed.

[2019-12-10 13:51] jonasburneika commented on #10908
I have it on 1.7.5.1 my sql code: https://www.codepile.net/pile/K9GbMrvx

[2019-12-10 14:04] khouloudbelguith commented on #16745
@metineren, I tried to change my configuration
![image](https://user-images.githubusercontent.com/16067358/70535936-30556500-1b5e-11ea-8b6c-00c963860a87.png)
But it seems ok when Importing the Turkish language.

Thanks!

[2019-12-10 14:18] metineren commented on #16745
Hi @khouloudbelguith ,
Can you retest the code I sent in the previous message?

[2019-12-10 14:20] khouloudbelguith commented on #16745
@metineren, it is the same
`C C`

Thanks!

[2019-12-10 14:29] PierreRambaud commented on #16735
I'm not able to reproduce on your website :(

[2019-12-10 14:30] metineren commented on #16745
@khouloudbelguith ,
Looks like your change didn't really apply.

The Turkish language case conversion is different from the English language.
EG: Lowercase to Uppercase: i > İ, ı > I
EG: Uppercase to Lowercase I > ı, İ > i

LC_CTYPE  for character classification and conversion, for example strtoupper()

You can see: https://www.php.net/manual/en/function.setlocale.php

Smart' s autoloader search c

[2019-12-10 14:30] idnovate commented on #11660
How is going to be multistore managed?

I mean, currently is not possible to define a different configuration for the same currency for each store - mainly currency rate, which is the only thing that can be configured.
So, you can note define a currency rate of `1` for _store 1_ and `1.1` for _store 2_, for example.

Has it been planned in this development?

[2019-12-10 14:31] khouloudbelguith commented on #16751
@sanctusmob, I attached a new screen record
https://drive.google.com/file/d/1LcnMqLu1ahf6KSBF0BD6G5S8jC_2fRmu/view
Thanks to check & feedback.

[2019-12-10 14:34] khouloudbelguith commented on #16745
@metineren,
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-12-10 14:54] sanctusmob commented on #16751
I see you are testing in 1.7.6.2. I am in 1.7.5.1.
So is already fixed. Thank you.

[2019-12-10 14:54] #16751 closed, assigned to nobody

[2019-12-10 14:56] Perfecticus opened #16760 "[WS] Currency translatable fields empty in webservice 1.7.6.1"
**Describe the bug**

When listing currencies using the web service, the translatable fields are empty.

Also when updating currencies using web service, the translatable fields are cleared/emptied even if no **name** or **symbol** element is present (removed from xml).

This has implications when doing patch-work using external services.
For example loading existing currency data, re-populating c

[2019-12-10 14:57] metineren commented on #16745
I' am sended a mail contain test hosting informations

[2019-12-10 15:02] khouloudbelguith commented on #16751
@sanctusmob, thanks for your feedback.
Feel free to open another one when needed.

[2019-12-10 15:26] Dirdmaster commented on #12915
I'm facing the same issue on 1.7.5.2 every time I'm switching colors it takes up to 3713ms to make the switch...
Any updates on this issue or any solution to fix it?

Thanks!

[2019-12-10 15:37] Hlavtox commented on #16735
@PierreRambaud https://youtu.be/BX2WD3Jt4qo

See the video, the max price is set to 5547 Kč and you can see products that cost 6590 Kč.

[2019-12-10 16:01] PierreRambaud commented on #16735
I was talking about the infinite loop :sweat_smile:

[2019-12-10 16:54] khouloudbelguith commented on #16745
@metineren, thanks!
I will check and feedback.

[2019-12-10 18:15] rss9090 commented on #16617
@khouloudbelguith
Thank you for config files provided. Have you tried to clear cache (debug mode enabled) on this webserver configuration on a Prestashop 1.7.6.2?

[2019-12-10 18:37] Hlavtox commented on #16735
@PierreRambaud Ok mate, misunderstading 🍻

@khouloudbelguith You have some f**ked up computer, it scared me. 😂😂 It's working fine for everyone till now.

Can you have a look on why it's not working? I didn't do any big modifications to PS. Strange 🤷🏽‍♂️

[2019-12-10 18:39] Nexus6ITA opened #16762 "1.7.6 product-customizations not recording & lost when order placed by customer"
When client adding fields in custom product text, add to cart it's ok
but when customer placed AND PAY THE ORDER PRODUCT CUSTOMISATION IS LOST
NOT SHOWING ON BACK OFFICE not in customer order history, - not in email order_conf, for customer and merchant order
in BO line product have no customisation line !!! no information about this custom and it not appears on the Email
how to resolve it?
thank

[2019-12-10 18:41] Hlavtox commented on #16749
@khouloudbelguith So you think it will fix even this issue with the error? If so, good!!!

Do you think it would work when I deactivate and activate the theme again? I didn't want to do it, because it changes the active hooks.

[2019-12-10 18:46] Hlavtox commented on #16735
@PierreRambaud I have some inner feeling that it worked fine during testing, but I am not sure 🤔

Tommorow, I will check if it takes specific prices into account.

Do want admin access to check it on my store?

[2019-12-10 19:40] jolelievre commented on #11660
Hello @idnovate,

as far as I know it's not planned in the version 177. I don't know if this feature is planned in the next version.

Although I wonder in which context this can be useful, the exchange rate is not something that should depend on the store it is a global national value so it seems logical to me that the value is the same on every store.

[2019-12-10 21:38] BenTen commented on #11660
Could you tell that to paypal, I guess they don't know that ^^'

[2019-12-10 22:17] presciak commented on #14595
![ps_currency](https://user-images.githubusercontent.com/53096552/70573888-20ac3f80-1ba3-11ea-9c93-f0509560701d.png)

[2019-12-11 01:38] dtwfung commented on #15348
I see. Thx for your help.

[2019-12-11 01:38] #15348 closed, assigned to nobody

[2019-12-11 06:39] Emmanuel974 commented on #16754
Hi,
Thank you.
Have you an older addon version with button price and not slider price please ?
Best regards,

[2019-12-11 07:13] rss9090 commented on #16617
Also as far as I can see from your config files to handle .php files you use
[code]
In my case I used config below, also in my case there is no difference to get an error to use TCP socket or UNIX socket
[code]

[2019-12-11 07:24] rss9090 commented on #16617
@khouloudbelguith
Alternative configurations:
1. Using mpm_prefork  + mod_php (non-threaded)  - no error
2. Using mpm_worker + mod_fcgid - no error

[2019-12-11 07:49] idnovate commented on #11660
AFAIK the exchange rate depends on the default currency. You could have 2 stores, each one with a different default currency, so the exchange rate would be different:

Store 1:
- USD (default currency)
- EUR -> exchange rate 0,90

Store 2::
- GBP (default currency)
- EUR -> exchange rate 1,18

[2019-12-11 08:28] BlackKerio opened #23746 "[ps_emailalerts] Add ActionProductUpdate hook also to send email"
Unfortunately, when you update the product using the API webservice, no mail is sent. Actual hooks are only triggered by a change in BO. I suggest you add Hook ActionProductUpdate.

[2019-12-11 08:34] fmipsylone commented on #9855
Hello @marionf,

I am on PrestaShop 1.7.5.1, I am in France and I have the same issue with a bad excluded price calculation as soon I complete the 'ecotax (all tax included)' field.

I think that this field does not correspond to the ecotax named as 'eco-participation' in France and must not be used (may be this must be mentioned somewhere).

May be all my following reply just apply to France but

[2019-12-11 08:40] khouloudbelguith commented on #16760
Hi @Perfecticus,

Thanks for your report.

I manage to reproduce the issue with PS1.7.6.2 & PS1.7.6.0
![image](https://user-images.githubusercontent.com/16067358/70603937-ede06680-1bf7-11ea-8487-aa25d70d1b92.png)
With PS1.7.5.2, it was ok
![image](https://user-images.githubusercontent.com/16067358/70603982-06e91780-1bf8-11ea-9e98-5d8fb2bd12f1.png)
It is a regression.

I tried to update currency us

[2019-12-11 09:11] khouloudbelguith commented on #16762
Hi @Nexus6ITA,

I did not manage to reproduce the issue with PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/1d8HOALQbE0LUsSTrQVDdKNb8dggzzRYH/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apa

[2019-12-11 09:15] khouloudbelguith commented on #16350
Hi @cd2500,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-11 09:15] #16350 closed, assigned to nobody

[2019-12-11 09:16] khouloudbelguith commented on #16322
Hi @maofree,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-11 09:16] #16322 closed, assigned to nobody

[2019-12-11 09:16] khouloudbelguith commented on #16342
Hi @flavi1,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-11 09:16] #16342 closed, assigned to nobody

[2019-12-11 09:19] khouloudbelguith commented on #15348
@dtwfung, thanks for your feedback.

[2019-12-11 09:40] khouloudbelguith commented on #16754
@Emmanuel974, an old version of ps_facetedsearch?
https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v2.2.1
[ps_facetedsearch.zip](https://github.com/PrestaShop/PrestaShop/files/3949582/ps_facetedsearch.zip)
Thanks to check & feedback.

[2019-12-11 10:23] khouloudbelguith commented on #16745
@metineren, I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2.
https://drive.google.com/file/d/1ZDVCjZPQArVqofjSIoFLiQRSPg13yRY5/view
I used my local, it is well configured.
Thanks a lot for your help!
I have this fatal error
`Fatal error: Uncaught Error: Class 'Smarty_Internal_Undefined' not found in /projet/1762tr/vendor/smarty/smarty/libs/sysplugins/smarty_internal_extension_handler.ph

[2019-12-11 10:39] netdrag commented on #16741
I have to try. I tried to put our details hardcoded in the email template folder. but regenerating the email templates generated emails with the placeholder. Because we have another issue, with the logo being gigantic in outlook only.

[2019-12-11 10:43] metineren commented on #16745
I have already pull request for this errors. https://github.com/PrestaShop/PrestaShop/pull/15991

[2019-12-11 10:44] khouloudbelguith commented on #16741
@matteolavaggi, what is the exact version of your module bank wire?
Does this issue occur only with outlook?

Thanks!

[2019-12-11 11:18] khouloudbelguith commented on #16631
@mvorisek,

I have this result:
[code]

Aldo, when using this test `var_export($_SERVER);`
I have this output
`array ( 'HOME' => '/var/cache/nginx', 'PHP_MD5' => '', 'DEV_USERNAME' => '', 'PHP_URL' => 'https://secure.php.net/get/php-7.2.10.tar.xz/from/this/mirror', 'SUPERVISOR_GROUP_NAME' => 'php-fpm', 'GPG_KEYS' => '1729F83938DA44E27BA0F4D3DBDB397470D12172 B1B44D8F021E4E2D6021E995DC9FF8D3EE5AF27F

[2019-12-11 11:20] khouloudbelguith commented on #16745
With develop branch, after successful install
BO =>
![image](https://user-images.githubusercontent.com/16067358/70617267-808cff80-1c10-11ea-82b4-4068fef1b46e.png)

Thanks!

[2019-12-11 11:25] rdy4ever opened #16767 "Implement Sitelinks Searchbox schema"
**Is your feature request related to a problem? Please describe.**
Implement Sitelinks Searchbox schema

**Describe the solution you'd like**
Google Search can expose a search box scoped to your website when it appears as a search result. This search box is powered by Google Search. However, if you wish to power this search box with your own search engine, or if you want search results also to inc

[2019-12-11 11:32] khouloudbelguith commented on #16767
Hi @rdy4ever,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-12-11 11:47] mvorisek commented on #16631
But your server root is matching the request root.

Change your config to serve PrestaShop under `scheme://host/test/` from root `/var/www/html/1762/`
.

The variables should be then like:
[code]

Notice:
- request URL path "/test/" is not longer matching the PrestaShop folder name
- the missing `1762/` in the `SCRIPT_NAME` and `PHP_SELF`, these paths are relative to the web server root, not the r

[2019-12-11 11:49] khouloudbelguith commented on #14595
@presciak, this table is from a previous version PS1.7.5
![image](https://user-images.githubusercontent.com/16067358/70619063-87b60c80-1c14-11ea-85d0-65f26d582039.png)
It is not a table from PS1.7.6
![image](https://user-images.githubusercontent.com/16067358/70619132-a6b49e80-1c14-11ea-9c92-9107226b6f73.png)

What is your exact ps version?

Thanks!

[2019-12-11 11:51] PierreRambaud commented on #16735
Unfortunately I'm sorry, I'm not able to do a support task and don't have time to do it  :disappointed:

[2019-12-11 11:59] jolelievre commented on #11660
You're right it does depend on the default currency, I didn't think about that use case where you have different default currencies This is worth testing and if needed add some feature to deal with this

[2019-12-11 12:03] shorrog opened #16769 "PayPal Module Sandbox fails"
Prestashop 1.7.6.2, PHP 7.2.5

I configured the standard "PayPal v5.0.3 - by PrestaShop" module to be in Sandbox mode on my development environment
I tested a refund to a customer. The refund was generated on the customers real account. ie even though in Sandbox the refund was generated.
![image](https://user-images.githubusercontent.com/16224215/70619993-08253f00-1c0e-11ea-88dc-efe9075c8bb9.png)

[2019-12-11 12:05] khouloudbelguith commented on #16735
@Hlavtox, Is this your issue?
![image](https://user-images.githubusercontent.com/16067358/70620106-ac12e880-1c16-11ea-9b4b-d9251775622b.png)
You have a filter between `4 561 Kč - 5 338 Kč`
But the products displayed have prices 6 590 Kč & 6 190 Kč?

Thanks!

[2019-12-11 12:07] khouloudbelguith commented on #16769
Hi @shorrog,

Thanks for your report.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
https://addons.prestashop.com/en/contact-us?id_product=1748
Thanks!

Best regards, Khouloud

[2019-12-11 12:07] #16769 closed, assigned to nobody

[2019-12-11 12:09] khouloudbelguith commented on #16749
@Hlavtox, you need just to delete the json file to fix your issue now.

Thanks!

[2019-12-11 12:11] khouloudbelguith commented on #12915
Hi @Dirdmaster,

Sorry not yet.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-12-11 12:17] muyncky commented on #16657
Thanks!

[log.txt](https://github.com/PrestaShop/PrestaShop/files/3950221/log.txt)

Possibly, but removing `order_history` records is a bit too far fetched in my opinion. Plus, there should always be a initial payment status. Later the module (custom made) makes the order "complete".

All done.

[2019-12-11 12:38] thomashulin85 opened #16770 "A partial refund does not reduce the sales for the day"
Bonjour,

Un de mes clients se plaint car il effectue des remboursements partiels sur certaines commandes qui génèrent des avoirs, mais le CA ne baisse pas ni dans le dashboard ni dans les statistiques.

---
#### Describe the bug

One of my clients complains because he makes partial refunds on certain orders which generate credits, but the sales does not drop either in the dashboard or in the stat

[2019-12-11 13:12] khouloudbelguith commented on #16657
@muyncky, as I can see in your log file, the ps_order_history is well saved
`[2019-10-12 10:44:18] ps_order_history table has been saved.`
And the database successfully updated.
`[2019-10-12 10:45:02] Bijwerken database geslaagd`
So, `order_history` records are not deleted during the upgrade.

Thanks!

[2019-12-11 13:42] colinegin commented on #9769
Related to PR : 15614

[2019-12-11 13:51] khouloudbelguith commented on #16770
Hi @thomashulin85,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.2.
![image](https://user-images.githubusercontent.com/16067358/70626715-3a8e6680-1c25-11ea-9415-dbacec6218c1.png)
![image](https://user-images.githubusercontent.com/16067358/70626780-57c33500-1c25-11ea-8d47-e942adc3d2b5.png)
![image](https://user-images.githubusercontent.com/16067358/70626871-7c1f1

[2019-12-11 14:10] jcaubame commented on #9795
Hi, I'm using prestashop 1.7.2.4 and I'm searching for a fix for it to. It's been a while this issue is opened and it's strange that no fix exist. Nobody use multistore? Or nobody use ps_linklist? Or someone have fix it and don't share it? I'will work on that fix and keep you informed if it's working.

[2019-12-11 14:30] colinegin commented on #9769
Hello @khouloudbelguith can you confirm the following PR #15614 should fix this issue ?

[2019-12-11 14:34] Klemart3D opened #16773 "Can't edit carrier if new range values are inferior to previous range in carrier wizard"
**Describe the bug**
On fresh install of PS 1.7.6.1, I can't add a new range of weigh or price if this new range have values inferiors of previous range.

My issue is similar but not a duplicate of #16521 because in my case I can't click to "Finish" button because it's disabled:

![finish](https://user-images.githubusercontent.com/7419525/70629173-d7530300-1c29-11ea-8245-03ca4f6d5e44.png)

**To Re

[2019-12-11 14:35] Hlavtox commented on #16749
@khouloudbelguith I tried to do it after @kpodemski advice, but it threw the error I posted above. 🤷🏽‍♂️ Finally, I added the strings to the compiled json file and it started working.

[2019-12-11 14:36] Hlavtox commented on #16735
@khouloudbelguith Yeeeees, that is exactly why I started this issue. :)

[2019-12-11 14:41] colinegin commented on #9565
Hello @khouloudbelguith do you reproduce it with the last version of PrestaShop (the customer page being migrated to SF) ?

Thanks !

[2019-12-11 14:51] #10044 closed, assigned to nobody

[2019-12-11 15:11] khouloudbelguith commented on #9769
Hi @colinegin,

Yes!
We will have a message added in the checkout process in the order_history detail page
![image](https://user-images.githubusercontent.com/16067358/70633468-e7baac00-1c30-11ea-817d-e0918db1ca7c.png)

Thanks!

[2019-12-11 15:13] khouloudbelguith commented on #16735
@Hlavtox, in my case, it is OK
Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-12-11 15:19] khouloudbelguith commented on #9565
Hi @colinegin,

Yes, it is fixed
https://drive.google.com/file/d/1zrtV-DbWSWKq23JDlNrvVlmNTouwiqkx/view
I will close the issue.

Thanks!

[2019-12-11 15:19] #9565 closed, assigned to nobody

[2019-12-11 15:29] colinegin commented on #9565
Great thanks !

[2019-12-11 15:30] khouloudbelguith commented on #16773
Hi @Klemart3D,

Thanks for your report.

This is a red alert, you cannot continue editing ranges with incorrect information.
So, following your steps is normal behavior to have this alert => we don't have permission to edit this ranges like that.
You need to correct the ranges before continuing to edit the carrier.

You need just to edit the ranges like that
![image](https://user-images.githubuser

[2019-12-11 15:40] khouloudbelguith commented on #16631
@mvorisek, Could you confirm this error?
 edited my /etc/nginx/sites-available/default.conf file like this

[code]
When I navigate to the BO => Advanced Parameters => Performances
I have this error
![image](https://user-images.githubusercontent.com/16067358/70635798-cd82cd00-1c34-11ea-8f6a-d04a36479a03.png)
https://drive.google.com/file/d/1UKD-XgCyq92VhFTVMil5CeRm30Uue-c8/view

Thanks!

[2019-12-11 15:47] colinegin commented on #14533
What do you think of this issue @NeOMakinG ?

[2019-12-11 15:48] mvorisek commented on #16631
Yes and I already reported and provided a PR to Symfony. I expect they will merge the PR in the next 3.4.x build/release. This issue should wait until the PR in Symfony is merged and then a PR to update the `composer.lock` of this project should be submitted.

[2019-12-11 15:53] mvorisek commented on #16736
The related Symfony PR should be merged in the next Symfony release.

Hovewer the root cause of this/PrestaShop issue is the use of absolute name/path which is deprecated in Symfony and in Symfony 4.0 or higher the support for absolute names is removed.

Please verify.

Help wanted to fix the absolute name/path.

[2019-12-11 15:57] TaccCZ opened #16774 "BUG - ps_facetedsearch (bad type for property)"
**Describe the bug**
In some cases, the "faceted search" module assigns a "color" type to the property filter. Here is video: https://www.loom.com/share/163badb13031443b8bf348418bb7189f

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Fronted'
3. Scroll down to 'filters'
4. See error in some categories

**Screenshots**
![image](https://user-images.githubusercontent.com/37780517/7063722

[2019-12-11 16:06] fmipsylone opened #16777 "With an ecotax subject to a tax, the amount of ecotax is continuously decreased on each product update"
**Describe the bug**
From the BO, in a shop with an ecotax allowed and setup with a tax to apply on it, the amount of ecotax on a product form is recalculated on each update, subtracted by the amount of the tax applied to the ecotax. This leads to an ecotax amount who decrease on every product update action.

**To Reproduce**
Firstable: From the BO, Enable ecotax and setup a tax to apply on it
1.

[2019-12-11 16:13] Klemart3D commented on #16773
Hi @khouloudbelguith,

Thanks for your answer.

What is incorrect? My ranges are not overlapping...

I read [the official doc](http://doc.prestashop.com/display/PS17/Carriers#Carriers-Panel2:Shippinglocationsandcosts) but I didn't found any comment about right or wrong way to add a new range. Where is it wrote?

In my real case (not simple test case above), I have a carrier with 30 ranges for each

[2019-12-11 16:29] marionf commented on #9845
@sarahdib @Robin-Fischer-PS
When you will test the migrate add / edit customer address page, could you please check if this issue is solved ?

[2019-12-11 16:35] colinegin commented on #14376
@PierreRambaud is there an issue stating what's left to be done in the classic theme to close this issue ? Maybe @NeOMakinG could work on it :)

[2019-12-11 16:49] lukaslau opened #16779 "Minor bug in Cache class"
Hello,

classes/Cache.php, line 462
```if (isset($this->sql_tables_cached[$table][$key])) {```
to
```if (isset($this->sql_tables_cached[$table][$key]) && isset($this->sql_tables_cached[$table][$key]['count'])) {```

[2019-12-11 17:00] #15941 closed, assigned to nobody

[2019-12-11 17:29] khouloudbelguith commented on #16774
Hi @TaccCZ,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them and feedback.

[2019-12-11 20:37] Hlavtox opened #16780 "Unable to enter degrees that come after a name - lastname dot validation"
**Describe the bug**
Customers are unable to enter their degree which is written after the last name.
Example - Ph.D.

**Additional information**
PrestaShop version: 1.7.6.2

[2019-12-11 21:32] zapto commented on #9884
So this module doesnt work with 1.7? Tried to install with no luck.

[2019-12-11 21:54] eternoendless commented on #12051
@Progi1984 we can use Big.js for that https://github.com/MikeMcl/big.js

[2019-12-12 07:07] ShaimyWinda opened #16781 "Redirect 404 when i change id product in URL"
Hello,

I have a issue. When I change in URL, the product id, I get a 404 error because attribute id is empty.

Exemple :
I have this URL https://fr.preprod.moondreamwebstore.fr/rideau-occultant-total/rideau-100-occultant-dream-vieux-rose-mc343-745-3273.html
When i change the number 745 (product id) in 15 (other product id), i have a 404

https://fr.preprod.moondreamwebstore.fr/rideau-occultant-to

[2019-12-12 07:46] khouloudbelguith commented on #16364
Hi @Webgaict,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-12 07:46] #16364 closed, assigned to nobody

[2019-12-12 08:08] khouloudbelguith commented on #16781
Hi @ShaimyWinda,

Did you use any custom module to change the Shema of URLs?
By default, in the BO => Shop Parameters => Traffic & SEO page, the Route to products => `{category:/}{id}{-:id_product_attribute}-{rewrite}{-:ean13}.html`
![image](https://user-images.githubusercontent.com/16067358/70694016-f51e7780-1cbe-11ea-9975-41f18fe073c0.png)

Thanks to check & feedback.

[2019-12-12 08:11] ShaimyWinda commented on #16781
Hi @khouloudbelguith,

My route is : {category:/}{rewrite}-{id}-{id_product_attribute}.html
I have to keep this because my company wants it.

Thanks

[2019-12-12 08:20] khouloudbelguith commented on #16781
@ShaimyWinda, okay thanks!
About your second product with friendly URL =`rideau-occultant-uni-beige-coquille-mc634`, if you click on the Preview button from the BO, it redirects to 404 also?
![image](https://user-images.githubusercontent.com/16067358/70694714-90fcb300-1cc0-11ea-8030-3bbe9ba433bc.png)
Thanks!

[2019-12-12 08:23] khouloudbelguith commented on #9884
Hi @zapto,

Here's the module cloned from GitHub: https://github.com/PrestaShop/vatnumber
[vatnumber.zip](https://github.com/PrestaShop/PrestaShop/files/3954593/vatnumber.zip)

PS: this issue is not fixed yet.

Thanks!

[2019-12-12 08:27] ShaimyWinda commented on #16781
@khouloudbelguith Yes i have error 404

Thanks!

[2019-12-12 08:34] khouloudbelguith commented on #16779
Hi @zapper,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
In the meantime, could you provide steps to reproduce the issue due to this bug?

Thanks!

[2019-12-12 08:42] TaccCZ commented on #16774
Hi @khouloudbelguith
I switched the template to the "classic" version, and the bug is still there. So there will be a problem with the module or prestashop and not custom template.

![image](https://user-images.githubusercontent.com/37780517/70696307-b6d78700-1cc3-11ea-8a38-34a546cc7000.png)

[2019-12-12 08:51] khouloudbelguith commented on #16773
@Klemart3D, in our official doc

To create another range = click the "Add new range" button. PrestaShop will add a new column of zone fields. **Start again by fixing** the **lower** and **upper** limits of this range, then filling the prices per zone.

So, in your case, you need to re-create the lower & the upper limits from the beginning.
 https://drive.google.com/file/d/1SGlIQpwSiv2xxG5cDtWiIkae

[2019-12-12 08:55] khouloudbelguith commented on #16781
@ShaimyWinda, Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2019-12-12 09:03] mrabsinthe opened #16783 "BO Customer Service improvement - add attachments to message, resize window"
Currently I'm unable to reply to a customer and attach a printscreen, invoice or any other document to my reply. It would be great improvement if that is possible.
Next, I would like to have the opportunity to use pre-defined messages/replies. Can they be loaded from Order Messages section?
Manually resizing message window would also help to see whole message when it is over 6 lines long.
What do

[2019-12-12 09:18] ShaimyWinda commented on #16781
@khouloudbelguith  I've done the steps and I still have the error

Thanks

[2019-12-12 09:24] khouloudbelguith commented on #16736
Hi @mvorisek,

I tried to install PrestaShop with Window 10 & it is OK (php NTS dowloaded)
![image](https://user-images.githubusercontent.com/16067358/70698498-ebe5d880-1cc7-11ea-8f8c-fd6cb91d56d9.png)
Here's my configuration
[phpinfo().pdf](https://github.com/PrestaShop/PrestaShop/files/3954858/phpinfo.pdf)
I tried to install with CLI on windows, but I have issues.
![image](https://user-images.gi

[2019-12-12 09:28] khouloudbelguith commented on #16774
@TaccCZ, I did not manage to reproduce the issue with PS1.7.6.2 & ps_facetedsearch v3.4.0.
![image](https://user-images.githubusercontent.com/16067358/70699868-15076880-1cca-11ea-9e25-56fa3f346e91.png)
You can check this [shop](http://fluent-finger.machine-shuffle.prestashop.net/en/2-home)
This shop is time-limited.

Thanks!

[2019-12-12 09:29] khouloudbelguith commented on #16781
@ShaimyWinda, this issue occurs, only with this product?

Thanks!

[2019-12-12 09:30] ShaimyWinda commented on #16781
@khouloudbelguith No, All products

Thanks

[2019-12-12 09:35] rdy4ever commented on #16780
Yes, that's intended behaviour. Prestashop had spam problems with boots using urls instead of names to register accounts. Like Firstname: "buyviagra.cz". So the decission was made to not validate any names that look like URLs. In your case, "Ph.D" looks lika a URL. "Ph. D"  (mind the space) would work. But why what kind of snob would use his academic title to register an account on a webshop, afte

[2019-12-12 09:35] TaccCZ commented on #16774
@khouloudbelguith, thank you for the demo version but there are only demo products with few features and categories. So the error may not occur here.
As I wrote and described in the video, it does it randomly while browsing the web. It is as if the module had misspelled the attribute. Just look at the pages I posted and here you can clearly see what's going on.

Thank you very much for your help.

[2019-12-12 09:38] matks commented on #14533
@colinegin Full answer has already been given by @eternoendless and @mickaelandrieu . There is nothing we can do to address these issues on Classic Theme because doing so would break compatibility with all existing themes ... and anger the whole community doing themes for prestashop.

I think we should put this issue in PrestaShop 8 (prestashop next) kanban.

[2019-12-12 09:41] matks commented on #13943
Reopening 😛github closed this but the main issue is still there although it's less painful now

[2019-12-12 09:48] matks commented on #16749
Thank you @kpodemski

[2019-12-12 09:48] khouloudbelguith commented on #16783
Hi @mrabsinthe,

Thanks for your report.

Ping @PrestaShop/prestashop-product-team what do you think of those improvements?
1. Can attach a file to a message
2. Have a predefined message in the Customer Service page
3. Resize the message windows

Thanks!

[2019-12-12 09:51] khouloudbelguith commented on #16781
@ShaimyWinda,

if you disable the friendly URL, this issue occurs again?

thanks!

[2019-12-12 09:54] khouloudbelguith commented on #16780
Hi @Hlavtox, @rdy4ever,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13599 to forbid URLs to be added in customer names
It fixes this issue: https://github.com/PrestaShop/PrestaShop/issues/13524

Thanks to check & feedback.

[2019-12-12 09:55] ShaimyWinda commented on #16781
@khouloudbelguith
I just tested it, I don't have any mistakes.
However, I had a blank page with this link: https://fr.preprod.moondreamwebstore.fr/index.php?id_product=15&id_product_attribute=0&rewrite=rideau-occultant-uni-beige-coquille-mc634&controller=product

Then there was a redirection to this link:
https://fr.preprod.moondreamwebstore.fr/index.php?id_product=15&rewrite=rideau-occultant-uni-

[2019-12-12 09:57] Hlavtox commented on #16780
@rdy4ever Hi, yes, it was done to prevent these hundreds of bot registrations which put www.hshssgsj.js to their names.

I discovered this during migration from 1.6, when I was going through the log and doing/fixing some stuff manually.

Believe it or not, there are a few customers, that put PhD after their name, even when ordering stuff from internet. 😄

[2019-12-12 10:02] rdy4ever commented on #16780
If it were up to me, I would add a rule to automatically strip academic degrees and display a message like "We don't need that for your order. Thanks anyway."

[2019-12-12 10:02] Hlavtox commented on #16780
@rdy4ever 😂😂😂

[2019-12-12 10:05] rdy4ever commented on #16780
On a more serious note, there are no single letter TLDs, so I guess we could allow a dot before only one letter followed by a space.

[2019-12-12 10:08] Hlavtox commented on #16780
@rdy4ever Hmmm, but in our country, it's written as “Ph.D.” 😬

[2019-12-12 10:12] Hlavtox commented on #16773
@Klemart3D

Don't you see the ranges are overlapping?
And I don't think Prestashop has a magic ball  so it knows which range to select. Or what do you expect it to do, when the product weighs 0.2 kg?

[2019-12-12 10:13] khouloudbelguith commented on #16774
@TaccCZ, as you can see in this screenshot
![image](https://user-images.githubusercontent.com/16067358/70703362-47b45f80-1cd0-11ea-9e07-57b47f964d31.png)

The module is overridden by your theme
In my case, I tried to add some feature & it is OK
http://fluent-finger.machine-shuffle.prestashop.net/en/2-home
Thanks!

[2019-12-12 10:17] dnatabar opened #16785 "Webservice Product Bundles with Combinations"
**Describe the bug**
There is no reference to any specific combination for a product in a product bundle.
Sample output:
[code]
The first two products (those with ID: 2), is added with a specific combination in the package, but that is nowhere to be found from this output, only the "base product" ID and the quantity of it.

This means that product bundles is not supported by the webservice, as you

[2019-12-12 10:23] khouloudbelguith commented on #16780
@Hlavtox, here's the improvement added to PS1.7.7 about the customer creation:
https://github.com/PrestaShop/PrestaShop/issues/14157#issue-454770372

Thanks!

[2019-12-12 10:25] PierreRambaud commented on #14376
@colinegin there is only this issue. Only the collapse  and buttons alignments have been done.

[2019-12-12 10:30] dvitcompte commented on #11234
Hello everyone.

The issue is still there on PretaShop 1.7.6.2

I created a defines_custome.inc.php file, then I wanted to disable the debug mode in the BO, but it kept enabled...
Delete the file and the BO is working properly.

Any news regarding this strange issue ?

Best regards,

[2019-12-12 10:31] HeineFr opened #16786 "Prestashop 1.7.5.2 inexistant Gapi module?"
On my dashboad when i click the link "Link to Google Analytics account"
(URL is : https://www.domain.fr/adminxxxxxxxx/index.php?controller=AdminModules&token=XXXXXXXXXXXXXXXXXXX&install=gapi )
The link bring me to module manager with no more info.

I tried to install the google analytics module ( ps_googleanalytics ) but that dont allow me to get info like should do the API module.

I've contacted

[2019-12-12 10:52] guirou62 opened #16787 "getCategories returns a category many times in the multishop context"
**Describe the bug**
I needed to use getCategories in a module I created but when I used getCategories, some categories appeared between 1 and 4 times (I'm working on a multishop). To not have this problem and to select only one time categories in my actual shop, I just needed to add a condition : cl.id_shop (because, thanks to LEFT JOIN you made, you can select the language but you can't select t

[2019-12-12 10:53] mvorisek commented on #16736
Did you run the installer with native NTS Win32 PHP?

Can you please download https://windows.php.net/downloads/releases/php-7.2.25-nts-Win32-VC15-x64.zip and retry?

It is also important to run the PHP CLI from cmd/PowerShell with cwd changed to something like `C:/xxx` (but not `C:/` only or other drive letter (not tested)). See the PHP issue for more info.

[2019-12-12 11:03] khouloudbelguith commented on #16631
@mvorisek, thanks for your feedback.
I have the same issue with PS1.7.5.2.
Ping @matks, @PrestaShop/prestashop-core-developers what do you think of this error: https://github.com/PrestaShop/PrestaShop/issues/16631#issuecomment-564602008

Thanks!

[2019-12-12 11:06] Klemart3D commented on #16773
Hi @khouloudbelguith, thanks for your answer. I read what you wrote but it's not written we have to insert values upper than previous (last) range inserted, I think it missing in doc to really understand how carrier wizard works.
In some projects I have some carriers with tens of weight ranges and hundreds of zones with DIFFERENT prices for each (so I can't use "All" cell shortcut to set column pr

[2019-12-12 11:09] khouloudbelguith commented on #16466
Same issue with clicking on this link: `Link to your Google Analytics account` => redirection to the Module Manager page, The ps_googleanalytics is not installed.
https://drive.google.com/file/d/1NIwqoNSuc4kpWCumypgrJRIJ6X5HFBKO/view

Thanks!

[2019-12-12 11:16] khouloudbelguith commented on #16773
@Klemart3D, for now, you cannot add a range between two ranges.
You can only add a new range at the left & this new range cannot be reordered.
![image](https://user-images.githubusercontent.com/16067358/70707749-36238580-1cd9-11ea-99a2-75489597eb39.png)

Thanks!

[2019-12-12 11:21] colinegin commented on #14533
Thanks @matks , i've put it in the dedicated kanban.

[2019-12-12 11:24] khouloudbelguith commented on #16787
Hi @guirou62,

Thanks for your report.
Could you please add steps to reproduce the issue in a new comment.
Is it similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/9821#issuecomment-517601039?

Thanks!

[2019-12-12 11:37] khouloudbelguith commented on #16785
Hi @dnatabar,

Did you use a custom module for Product bundles or, it is just a product with Pack type?
![image](https://user-images.githubusercontent.com/16067358/70708874-d11d5f00-1cdb-11ea-92fc-c05ae695b9b8.png)

What is the exact link sent to get this product?

Thanks!

[2019-12-12 12:11] DanDBX commented on #15700
Any updates?

[2019-12-12 12:41] guirou62 commented on #16787
Hi @khouloudbelguith

You're welcome.
Honestly, I don't have any step because I used this function directly in a module I have created. (I wanted a list of every categories in a shop => `$categories = Shop::getCategories($id_shop,false);`)
I think my patch can correct the issue you mentionned

[2019-12-12 12:45] khouloudbelguith commented on #16787
@guirou62, Could you please provide me your custom module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-12-12 12:46] matks commented on #16631
Thanks for doing this 👍

@khouloudbelguith as @mvorisek said this is likely to be an issue on Symfony. Once Symfony is updated we should use the latest version and the bug will be gone without any modification of prestashop code

[2019-12-12 13:18] khouloudbelguith commented on #16736
@mvorisek,

Yes! & it is well configured as you can see in my screenshot
![image](https://user-images.githubusercontent.com/16067358/70715283-3ed08780-1cea-11ea-8d1f-f4590e526728.png)

Thanks!

[2019-12-12 13:27] Klemart3D commented on #16773
@khouloudbelguith, I understand but system must be improved.

[2019-12-12 13:28] mvorisek commented on #16736
![image](https://user-images.githubusercontent.com/2228672/70715430-90791200-1cea-11ea-9e7f-f10a656f8caa.png)
here it seems that you have used MinGW and the paths there do not start with `C:`. The issue has been identified in PHP and it is only presented when native Windows paths are used, i.e. paths starting with drive letters like `C:/`.

So please:
1. open WIndows command line (`cmd.exe`)
2. na

[2019-12-12 13:33] mvorisek commented on #16477
Yes, the latest stable release of PHP is 7.4. It will be great if PrestaShop can be compatible with it in the upcoming `1.7.7` release. Comment also added to https://github.com/PrestaShop/PrestaShop/pull/13761

Migration guide:
https://www.php.net/manual/en/migration74.php

[2019-12-12 13:56] Emmanuel974 commented on #16754
Yes thank you very much.

See you,

[2019-12-12 13:56] #16754 closed, assigned to nobody

[2019-12-12 14:09] khouloudbelguith commented on #16754
@Emmanuel974, you are welcome!
Feel free to open a new one when needed.

Thanks!

[2019-12-12 14:13] khouloudbelguith commented on #16773
@Klemart3D, thanks for your feedback.
So, can we close this issue & can you create a new improvement to describe your suggestion:
1. Add a range between two ranges
2. Re-order ranges

Do you agree with that?

Thanks!

[2019-12-12 14:17] globox91 opened #16788 "Module installation, disable not yet installed module on exception"
**Describe the bug**
`In "importModuleAction" (\PrestaShopBundle\Controller\Admin\Improve\ModuleController::importModuleAction)`
there is a line that disables module on any thrown Exception.
To disable a module, I need an access for a "configure" action on that module
`(\PrestaShop\PrestaShop\Adapter\Module\AdminModuleDataProvider::isAllowedAccess)`
To get info about my permissions for a module, P

[2019-12-12 14:32] khouloudbelguith commented on #16736
@mvorisek, unfortunately same issue
![image](https://user-images.githubusercontent.com/16067358/70720694-907e0f80-1cf4-11ea-9189-91b481bae534.png)

Thanks for your help!

[2019-12-12 14:42] khouloudbelguith commented on #16788
Hi @globox91,

What is the exact name of this module?
Do you have an exception during the installation of this module?
Thanks to provide me a screenshot.

Thanks!

[2019-12-12 14:46] globox91 commented on #16788
It's "BNP Parisbas - Mercanet", but it's really irrelevant, cause, as I mentioned above, any module can throw an Exception during any moment of the install process :)

You need a screenshot of an Exception itself? o_O

[2019-12-12 14:49] khouloudbelguith commented on #16777
Hi @fmipsylone,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10026
So, I close it.
Thanks!

[2019-12-12 14:49] #16777 closed, assigned to nobody

[2019-12-12 14:50] khouloudbelguith commented on #16777
@fmipsylone, Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thanks!

[2019-12-12 14:50] khouloudbelguith commented on #16777
Duplicate of #10026

[2019-12-12 14:57] mvorisek commented on #16736
You have used `install_cli.php` in you screenshot and I later too... Retry with `index_cli.php`.

[2019-12-12 14:57] mvorisek commented on #16736
@khouloudbelguith You have used `install_cli.php` in you screenshot and I later too... Retry with `index_cli.php`.

[2019-12-12 14:58] khouloudbelguith commented on #16788
@globox91, so, during the install of your module which fails with an exception, you have a wrong alert
"You are not allowed to disable the module"? this error is wrong?
Have you tried to contact the module author about this issue?

Thanks!

[2019-12-12 15:03] globox91 commented on #16788
Yep, instead of an Exception message, I'm failing to disable the module and get message about that :)

Nope, I haven't, cause it's not an issue with the module - it still tries to display the correct Exception message. But Presta interrupts this with "disable" operation, which cannot be executed on a non-installed module ^^

[2019-12-12 15:15] eternoendless commented on #16477
@mvorisek PHP 7.4 will probably not affect PrestaShop itself, but it may affect one of its upstream dependencies. So while 1.7.7 _may_ work well with 7.4, we won't officially support it until we have verified that all upstream dependencies support it as well (we'll do that for 1.7.8).

In practice, this means that you are free to try and run 1.7.7 with 7.4, but if it turns out that something doesn

[2019-12-12 15:18] jf-viguier commented on #15060
Any news here ?

[2019-12-12 15:20] khouloudbelguith commented on #16788
@globox91, Could you please provide me the module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-12-12 15:22] globox91 commented on #16788
Done :)

[2019-12-12 15:24] mvorisek commented on #16477
@eternoendless I understand, but it is ok to test with PHP 7.4 prior 1.7.8? If yes, tehn the #13761 PR can target for PHP 7.4.

[2019-12-12 15:25] khouloudbelguith commented on #16736
@mvorisek, new issue
![image](https://user-images.githubusercontent.com/16067358/70724946-d38fb100-1cfb-11ea-9800-a595878afc18.png)
The OpenSSL extension is well configurated.

Thanks!

[2019-12-12 15:26] globox91 commented on #16788
But I can easily imagine it will be installed without errors cause Exception is being thrown because of my shop config error :)

But as I said, I cannot see that Exception message due to Presta logic

[2019-12-12 15:27] globox91 commented on #16788
Step 1 of "To Reproduce" should be "Try to install any module"

I'll fix that

[2019-12-12 15:28] khouloudbelguith commented on #16788
@globox91, thanks!
I will check & feedback.

[2019-12-12 15:31] mvorisek commented on #16736
@khouloudbelguith I have never faced a similar issue.

Try to:
- copy the PHP to somewhere in the `C:` drive, change cwd to it and then run php from there to use libraries from this folder
- pass an absolute path to the "index_cli.php" file

[2019-12-12 15:33] khouloudbelguith commented on #16788
@globox91, it is well installed
https://drive.google.com/file/d/1roXQ81-7xfR2shPA7pHiRgIvGCTYia8R/view

Thanks!

[2019-12-12 15:34] khouloudbelguith commented on #16787
@guirou62, I just received the email.
I will check & feedback.

[2019-12-12 15:38] marionf opened #16790 "Be able to create an order status by shop"
In multistore context, when you create an order status it's created for all shop

![capture d'écran_2193](https://user-images.githubusercontent.com/13449658/70725946-94faf600-1cfd-11ea-8d80-8dff78a62da7.png)

The merchant should also be able to create an order status by shop in a multistore context

[2019-12-12 15:43] khouloudbelguith commented on #16787
@guirou62, I don't have duplicated categories for example "clothes"
https://drive.google.com/file/d/1vj5dwMUbwwfmc7zU5VQGyeHmz6r-vjJ6/view

Thanks!

[2019-12-12 16:02] globox91 commented on #16788
All you need to check this bug report is to throw any Exception in any modules' "install" method :)

For example, you can try on this module too.
You will not see the message of your Exception

[2019-12-12 16:44] ibrahimfsasmaz commented on #14911
Hello,

I have the same problem I upgraded with 1 click upgrade from prestashop 1.7.5.1 to 1.7.6.2 stable.
"catalog>categories" , "catalog>discount>create new cart rule" and some other links are not working..
Is there any fix pls ?

[2019-12-12 16:54] ibrahimfsasmaz commented on #14911
Is there a way to return 1.7.5.1 without loosing the new order coming at the moment to the 1.7.6.2 version pls ?
Or is there a way to make a fresh installation and add all existing orders, themes and settings on the new fresh installation pls ?

[2019-12-12 17:32] LouiseBonnard commented on #16133
Hi @jannyba and @khouloudbelguith, this can be handled in the Design > Link Widget section of your back office. Edit the concerned block to select what links you want to display. ;-)

[2019-12-12 18:39] matteolavaggi opened #16792 "Remove email Prestashop branding"
Maybe is not the right place but there isn't a setting available in back office (!!)

Make a backup

Go in ssh on root folder of your prestashop web site

find . -mindepth 1 -maxdepth 2 -type f -exec sed -i 's/prestashop.com/\NEWWEBISTE/g' {} \;
find . -mindepth 1 -maxdepth 2 -type f -exec sed -i 's/PrestaShop/\NEWWEBSITENAME/g' {} \;

Apply this command ONLY in /mails and /themes/yourthemse/mails

[2019-12-12 19:14] faranm opened #16793 "Upgrade from 1.6 to 1.7.6.2 gives issues with tables"
Hi,

After upgrading from Prestashop 1.6 to 1.7.6.2 i got this error,

[PrestaShopDatabaseException]
Table 'nasiha_dk_db.nsps_translation' doesn't exist

I run on PHP 7.2.25.
<img width="1194" alt="Frontpage" src="https://user-images.githubusercontent.com/38395467/70741604-f205a480-1d1b-11ea-8cf2-5d9f29eec118.png">
<img width="1440" alt="Upgrade" src="https://user-images.githubusercontent.com/3839

[2019-12-12 19:38] ibrahimfsasmaz commented on #14911
Could you pls help me
every time that I upgrade I am in trouble

[2019-12-12 19:59] presciak commented on #14595
I cannot access the back office after the upgrade.
I can't do anything about it yet.
The photo is from PHPMyAdmin from version 1752
I am working on a test domain to create the problem again. I can't have my shop turned off during the holiday season

[2019-12-12 20:24] presciak commented on #15505
There is a way to update PS to version 1762

1. Before upgrading, we switch to the default template
2. Go to FTP -> modules
3. We change the name of the modules to another one (e.g. we add "_" to the name):
_jxblog
_jxblogcomment
_jxblogpostposts
_jxblogpostproducts
_jxfeaturedposts

4. The update does not release errors.

Of course, we lose functionality from the modules with the changed name.

[2019-12-12 21:45] ibrahimfsasmaz commented on #15247
hello,
I have the same error but the Faceted search does not upgrade, I am having the error message below

Faceted search
Faceted search
v2.2.1 by PrestaShop

    Overview
    Additional information
    Features

Split up navigation on your catalog pages, add a block displaying filters to help your visitors picture the category tree and browse your store easily.
Free
Made by PrestaShop Made by Pre

[2019-12-12 22:58] ibrahimfsasmaz commented on #13938
I have the same problem with exact same errors

I upgraded prestashop 1.7.5.1 to 1.7.6.2 and has several broken links...
faceted search does not upgrade with our without clean cache even manual installation does not work..

I do not know how to fix the table and fields missing DB after 1-click upgrade...

Need help pls

[2019-12-13 00:16] beniwal commented on #10737
Hi,

This issue is still there. Once you add a image and click again on that image it gives error.

Thanks

![image](https://user-images.githubusercontent.com/437314/70759267-d924df80-1d6b-11ea-9853-998d45256738.png)

[2019-12-13 00:46] ibrahimfsasmaz commented on #14911
I guess I have exact same problem, how can I find the missing tables or columns pls ? is there a quick way

[2019-12-13 06:42] dnatabar commented on #16785
I use the "pack" type as is default for Prestashop.
In my case, the exact link is
http://localhost:20080/presta/api/products/357

The sample output in original report is a child of the associations element from the response.

[2019-12-13 07:51] ShaimyWinda commented on #16781
Hi @khouloudbelguith
Have you seen my last message?
Thanks !

[2019-12-13 08:06] khouloudbelguith commented on #9874
Hi @samuel-pires,

Can we remove the NMI label? or this issue needs more information?

Thanks!

[2019-12-13 08:06] khouloudbelguith commented on #16384
Hi @presmobic,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-13 08:06] #16384 closed, assigned to nobody

[2019-12-13 08:07] khouloudbelguith commented on #16311
Hi @sickboards,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-13 08:07] #16311 closed, assigned to nobody

[2019-12-13 08:11] khouloudbelguith commented on #16438
Hi @FabricioBottassi,

Your issue is incomplete, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-13 08:11] #16438 closed, assigned to nobody

[2019-12-13 08:21] khouloudbelguith commented on #16781
@ShaimyWinda, as you can see in your link: `https://fr.preprod.moondreamwebstore.fr/index.php?id_product=15&id_product_attribute=0&rewrite=rideau-occultant-uni-beige-coquille-mc634&controller=product`

the `id_product_attribute=0`, this is incorrect, so that's why you have a redirection.
Could you please try to delete all the combinations for this product & regenerate them again.

Thanks to check

[2019-12-13 08:27] Majusek opened #16794 "Redirect 301 in multistore"
**Describe the bug**
I have three domains in shop:
domena2.fr
domena3.es
donena4.com

I need make a redirection from:
domena3.es to domena2.fr <- it's ok. In redirection checker I see 301.

But when I set redirection in htaccess for product which looks like that:
Redirect 301 https://www.domena3.es/category/1-product https://www.domena2.fr/category-new/1-product-new

In redirect checker I see:
301

[2019-12-13 08:31] presmobic commented on #16384
what is your ticket?

Vào Th 6, 13 thg 12, 2019 lúc 15:07 khouloudbelguith <
notifications@github.com> đã viết:

[2019-12-13 08:39] ShaimyWinda commented on #16781
@khouloudbelguith I delete one combination and generate, The attribute id does not exist

![Capture](https://user-images.githubusercontent.com/25744417/70786238-798afc00-1d8c-11ea-950a-159d21459d3c.JPG)

Thanks

[2019-12-13 08:42] khouloudbelguith commented on #16788
@globox91, I tried with this module, is not compatible with PS1.7
[v4.6.4-chronopost.zip](https://github.com/PrestaShop/PrestaShop/files/3959820/v4.6.4-chronopost.zip)
I have an exception during the install & it is not wrong
https://drive.google.com/file/d/1TEx0gMHOzOZHWTZ1UCXW7tvfvHJg7_Z9/view

Thanks to check & feedback.

[2019-12-13 08:56] ibrahimfsasmaz opened #16795 "Broken links after 1.7.5.1 upgrade to 1.7.6.2"
Hi,

I upgraded my Prestashop 1.7.5.1 to 1.7.6.2 with 1-click upgrade v4.10.
After the upgrade I have faced several 500 error pages at the backend, like Catalog>categories or catalog>discounts>create new rule etc..
And when I have taken the site to debug mode I got errors at the frontend too.

I searched around forums and tried to upgrade "faceted search module "but could not because I have taken

[2019-12-13 09:07] CallejaMotos opened #16796 "Brand filter faceted search overwritting features as filter 1.7.6.2"
**Describe the bug**
After 1.7.6.2 release, brand default filter from faceted search native module is overwritting custom features product filters.
In my case, I have brand default filter and my own feature filter (Filter_by_feature). If I select one value from this custom filter, it will still show all brand values even there is no products in them.

**To Reproduce**
Steps to reproduce the behavi

[2019-12-13 09:10] khouloudbelguith commented on #16796
Hi @CallejaMotos,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Please downgrade yo

[2019-12-13 09:12] CallejaMotos commented on #16796
Hi @khouloudbelguith,
very glad to heard you.
I will do it right now and get back to leave my comments.

[2019-12-13 09:15] khouloudbelguith commented on #16795
Hi @ibrahimfsasmaz,

This issue is fixed previously as reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/14617
As a Provisional solution thanks to try with this SQL query

Thanks to check & feedback.

[2019-12-13 09:17] khouloudbelguith commented on #16794
Hi @Majusek,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed, that’s why I close it

[2019-12-13 09:17] #16794 closed, assigned to nobody

[2019-12-13 09:22] CallejaMotos commented on #16796
It is not the solution.
Actually, I am thinking I have my local version with 1.7.6.1 with same php version and works perfect. It has been after upgrade to 1.7.6.2

[2019-12-13 09:31] sam-pires commented on #9874
Hello @khouloudbelguith,

Yes we can remove it :)

By the way, I changed my GitHub account, so if you need to ping me use @sam-pires and not @samuel-pires anymore 🙂

[2019-12-13 09:35] khouloudbelguith commented on #16792
Hi @matteolavaggi,

Please be aware that this bug tracker should be used to report issues ONLY related to PrestaShop core. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-12-13 09:39] khouloudbelguith commented on #16793
Hi @faranm,

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Can you access to the Back Office?
Thanks to check and feedback.

[2019-12-13 09:48] khouloudbelguith commented on #14595
@presciak,  thank you!
This issue is currently closed, can you open a new one with more information about your new configuration & after the new test.

Thanks!

[2019-12-13 10:07] globox91 commented on #16788
And I managed to successfully install it :D

![изображение](https://user-images.githubusercontent.com/56883311/70791180-a698d800-1da7-11ea-8816-fdf727647720.png)

Okey, let's stick to this module.
I'll update the bug description: you will receive it if the Exception is thrown before "parent::install()" call.
In "mercanet" module it's called right in the end of the "install" method.
And in "chronop

[2019-12-13 10:23] khouloudbelguith commented on #16785
@dnatabar, thanks for these clarifications.
I don't think it is a bug, but it could be an improvement?
We have the same behavior as PS1.6 & PS1.7.
![image](https://user-images.githubusercontent.com/16067358/70793110-edcc9c00-1d9a-11ea-9fc4-440ffc78a220.png)
What do you think?

Thanks!

[2019-12-13 10:24] TaccCZ commented on #16774
@khouloudbelguith , thank for reply, but it is not about theme, a wrote I tried it on the basic template see. contribution above. And if it was a template, why in one column (for the same filter) everything was ok, and in the other not?
On the video you can see: https://www.loom.com/share/db49008521ea4b9c8b206648e4082f01
that the same filter behaves fine in one category and not in the other. Also

[2019-12-13 10:25] khouloudbelguith commented on #15247
@ibrahimfsasmaz, the issue created here: https://github.com/PrestaShop/PrestaShop/issues/16795

[2019-12-13 10:27] khouloudbelguith commented on #13938
@ibrahimfsasmaz, the issue created here: https://github.com/PrestaShop/PrestaShop/issues/16795

Thanks!

[2019-12-13 10:29] khouloudbelguith commented on #10737
Hi @benwallis,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thanks!

[2019-12-13 10:33] khouloudbelguith commented on #14911
@ibrahimfsasmaz, the issue created here: https://github.com/PrestaShop/PrestaShop/issues/16795

[2019-12-13 10:35] benwallis commented on #10737
I'm not @beniwal ...

Anyway, as I mentioned above it's a known issue in TinyMCE and Chrome.

Prestashop needs to use an updated version of TinyMCE - this specific issue was fixed in TinyMCE 4.5.6 https://www.tiny.cloud/docs-4x/changelog/#version456-march302017

Latest version of TinyMCE is 5.1

See here: https://github.com/tinymce/tinymce/issues/3611#issuecomment-298427206
TinyMCE commit fixing t

[2019-12-13 10:36] khouloudbelguith commented on #16384
@presmobic, this issue: #16384 is closed because there is no news for more than 30 days.

Thanks!

[2019-12-13 10:38] khouloudbelguith commented on #16781
@ShaimyWinda, ok as I understand, did you delete an attribute? or an attribute value?
The last combination has no information about the attribute selected.

Thanks!

[2019-12-13 10:45] presmobic commented on #16384
it is not our module

Vào Th 6, 13 thg 12, 2019 lúc 17:36 khouloudbelguith <
notifications@github.com> đã viết:

[2019-12-13 10:46] khouloudbelguith commented on #16796
@CallejaMotos, what is the exact version of the ps_facetedsearch module did you use?
is it v3.4.0?

Thanks!

[2019-12-13 10:51] ShaimyWinda commented on #16781
@khouloudbelguith You just had to wait, attribute ID is displayed. But despite everything, I still have a 404 error.
Thanks

[2019-12-13 11:01] kazzo commented on #13531
I Have exactly the same issue.
So I see the broblem isn't solved, decide to continue thread.

when I disable friendly URLs related products show up.

In phppsinfo got all green except yellow PHP version, mine is 5.6.38 but it shouldn't matter cause required is 5.6 (Ortezjan got 7.2 and problem also occurred).
I have in phpinfo mbstring set as above except oniguruma version it not appears in mine.

[2019-12-13 11:01] CallejaMotos commented on #16796
@khouloudbelguith for both (live and local): v3.4.0

[2019-12-13 11:18] LouiseBonnard commented on #16133
But the sitemap part is weird, I'll look into it and keep you posted!

[2019-12-13 11:20] khouloudbelguith commented on #16788
@globox91, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/70795755-d85a7080-1da0-11ea-9585-74b5f8907db2.png)
To reproduce the issue, you need to upload the module from the Back office
If we copy the folder module into the path Project_Folder/modules/ & we try to install it from the BO => Modul

[2019-12-13 11:33] khouloudbelguith commented on #16774
@TaccCZ, the wrong style for the checkbox is provided by which theme file?
You need to check your project folder, in which file, you can find the class
![image](https://user-images.githubusercontent.com/16067358/70797407-bf53be80-1da4-11ea-97a5-55289a578f4a.png)

Thanks!

[2019-12-13 11:40] sam-pires opened #16797 "Misplaced asterisk in Link Widget Add/Edit page"
**Describe the bug**
An asterisk to mark a mandatory field is misplaced in the Link Widget Add/edit page.

It is located at the bottom of the page in the middle of nowhere.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Link Widget'
2. Click on 'Add or Edit'
3. Scroll down to the bottom of the page
4. See the asterisk

**Screenshots**
https://drive.google.com/file/d/1mF5S7XZsJFDuSoaf

[2019-12-13 12:06] Dupflo opened #16798 "{shop_name} is not updated"
Hello,

I am using Prestashop 1.7.6 and I changed the name of the shop because of a wrong display but the old one is still appeared...

Here is the change
![image](https://user-images.githubusercontent.com/39828779/70799162-296e6280-1da9-11ea-8d1f-186f699f1714.png)

Database is updated well

![image](https://user-images.githubusercontent.com/39828779/70799187-3b500580-1da9-11ea-86ea-d7537f31cb4e.p

[2019-12-13 12:10] kazzo opened #16799 "Related Products miniatures and names not displays in BO"
**Describe the bug**
I Have exactly the same issue as in #13531.
When I disable friendly URLs related products show up.
In phppsinfo got all green except yellow PHP version, mine is 5.6.38 but it shouldn't matter cause required is 5.6 (Ortezjan got 7.2 and problem also occurred).
I have in phpinfo mbstring set as above except oniguruma version it not appears in mine.
I have no access to PHP log bu

[2019-12-13 12:14] Dupflo commented on #16798
Got it name on ps_shop was not updated

[2019-12-13 12:14] #16798 closed, assigned to nobody

[2019-12-13 12:43] khouloudbelguith commented on #10737
@benwallis, @beniwal,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/16583 to fix the issue.
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/11011

[2019-12-13 12:46] khouloudbelguith commented on #16781
@ShaimyWinda, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-12-13 12:46] matteolavaggi commented on #16792
i've not choose report bug but ask for a feature. The option to remove PS
branding is a feature. Thanks

Il giorno ven 13 dic 2019 alle ore 10:35 khouloudbelguith <
notifications@github.com> ha scritto:

--
cordialmente,
*FATTURAZIONE ELETTRONICA B2B*
Il nostro codice destinatario (alcuni lo chiamano “codice SDI”) è il
seguente: *M5UXCR1*

Matteo Lavaggi
CEO

ufficio +390245071999

[image: PrestaS

[2019-12-13 12:56] khouloudbelguith commented on #16799
Hi @kazzo,

Thanks to proide me information about your server.
You can find it in the BO => Advanced Parameters => Information.
When debug mode enabled, is there any exception displayed?
Thanks!

[2019-12-13 13:15] khouloudbelguith commented on #16796
@CallejaMotos, It will help us if you can attach a screen record.
You are using two filters
1. A custom feature filter
2. A brand filter by ps_facetedsearch

Thanks!

[2019-12-13 13:18] khouloudbelguith commented on #16797
Hi @sam-pires,

What is the exact version of the link Widget module did you use?
If it is v3.0.3, you need to upgrade it, it is not the last version.

Thanks to check & feedback.

[2019-12-13 13:21] khouloudbelguith commented on #16798
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/16499

[2019-12-13 13:31] CallejaMotos commented on #16796
Ok.
I attach images.
Information:

Categoría => my custom feature filter
Precio => Pirce default filter
Marca => Brand default filter

I select some value from Categoría (Baterías)

![first_img](https://user-images.githubusercontent.com/55249202/70803636-d1d5f400-1db4-11ea-968d-7c10ed9c55f3.png)

As you can see, Brand default filter doesn't change, all brand values are displayed.

But, if I select

[2019-12-13 13:33] khouloudbelguith commented on #16792
@matteolavaggi,
We have a template for improvements, so, I thought that it is just a workaround.
![image](https://user-images.githubusercontent.com/16067358/69816206-365f5380-11f8-11ea-93cb-31590adf3db2.png)
Since it is a request for a new feature, I will re-open the issue :)
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2019-12-13 13:33] #15298 closed, assigned to PierreRambaud

[2019-12-13 13:34] #16523 closed, assigned to matks

[2019-12-13 13:38] khouloudbelguith commented on #16796
@CallejaMotos, thanks!
Your custom feature filter is provided by a custom module?

Thanks!

[2019-12-13 13:41] CallejaMotos commented on #16796
no
@khouloudbelguith
I am working in classic theme, only one free module installed:
homecategoriez-last_1.3-1.7
https://github.com/zapalm/homecategoriez
Thanks for your help

[2019-12-13 13:43] khouloudbelguith commented on #16796
@CallejaMotos, so the feature filter is provided by the ps_facetedsearch module also? isn't?

Thanks!

[2019-12-13 13:47] CallejaMotos commented on #16796
That's right. Sorry if I explained wrongly.
I am working only with facetedsearch module like this:

- I create the feaure filter (not attribute)
- I upload products with this features from .csv import:
Feature:Value:Position

Categoria:Filtro Aire:5

[2019-12-13 14:00] khouloudbelguith commented on #16735
@Hlavtox, I checked your shop again.
I have a question about the product price
![image](https://user-images.githubusercontent.com/16067358/70805100-76a60080-1db8-11ea-8a55-50a6f8dae45e.png)
I checked this product in the BO
Price Tax included = 6590 Kč> Price Tax excluded = 5446,281000Kč > filter searched = 5330Kč
So, in this case, the problem is not "filtered by Tax excluded".
The filter by Tax ex

[2019-12-13 14:21] kazzo commented on #16799
Sorry. I forgot.
Server Information: Linux #192-Ubuntu SMP Fri Sep 13 12:02:50 UTC 2019 x86_64
Server software version: PHP version: 5.6.38
Memory limit: 1024M
Maximum running time: 120
Maximum file size for upload: 128M
MySQL version: 10.1.43-MariaDB
MySQL engine: InnoDB
MySQL driver: DbPDO

No exceptions are displayed.
Thanks

[2019-12-13 15:59] khouloudbelguith commented on #16799
@kazzo, the` Server software version` is empty.
I need to know your exact server software.

Thanks!

[2019-12-13 16:06] matks commented on #16048
🆙
Is there something I can do to make this issue go forward ?

[2019-12-13 16:09] matks opened #16802 "Demo navbar "hide/show" button prevents user to use menu in mobile view"
**Describe the bug**
On PS demo demo.prestashop.com, the navbar "hide/show" button prevents user to use menu in mobile view because it appears on top of it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://demo.prestashop.com using a mobile device
2. Try to use the left top menu, its cannot be done because of the "hide/show" button

**Screenshots**
<img width="188" alt="Capture

[2019-12-13 16:12] khouloudbelguith commented on #16796
@CallejaMotos, I did not manage to reproduce the issue with PS1.7.6.2 & ps_facetedsearch v3.4.0.
I attached a screen record
https://drive.google.com/file/d/1L5y3BZUNsi7TPH96Dz6klmPu5TtXYfvt/view
Thanks to check & feedback.

[2019-12-13 16:19] kazzo commented on #16799
Arrrgh! I lost it during paste
Server software version: Apache/2
Sorry!

[2019-12-13 16:25] khouloudbelguith commented on #16802
Hi,

Ping @Quetzacoalt91 what do you think?

Thanks!

[2019-12-13 16:31] khouloudbelguith commented on #16799
@kazzo, the employee language is the same default language?
if no, your employee language is disabled?

Thanks!

[2019-12-13 16:35] LouiseBonnard commented on #16653
@MatShir, I'm afraid the wording itself is not enough to make the user understand all the actions induced by the button. I think there is a bigger UX rework to do, including both design and wording) and it is clearly too late to be part of the 1.7.7 scope...

Let's keep it iso for 1.7.7 and start working on it for 1.7.8, I'll schedule a meeting when you get back to share my notes. ;-)

[2019-12-13 16:35] khouloudbelguith commented on #16736
@mvorisek, finally issue solved, but another error during the install
![image](https://user-images.githubusercontent.com/16067358/70815998-db6c5580-1dce-11ea-83cb-a25595d76514.png)
Only when using CLI, this issue occurs.

Thanks!

[2019-12-13 16:41] kazzo commented on #16799
Polish is shop default.
Employee language is Polish.
Polish is the only enabled language (English is disabled).
Thanks!

[2019-12-13 16:46] antho-girard opened #16803 "Multistore - Shared carts not working with different domain names"
**Describe the bug**
With a shop group configured with "Share orders" and "Share customers" to Yes, you cannot start a purchase in shop A and complete it in shop B if shop A and B have different domain names.
It's working fine with two subdomains of the same domain, or with two virtual URLs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a shop group with "Share order" and "Share cus

[2019-12-13 16:52] sam-pires commented on #16797
I was in v3.0.3 and upgraded it 👍

Though in v3.0.4 the asterisk is not displayed at all however the "name" field is required.
see screenshot if let empty.

![Capture d’écran 2019-12-13 à 17 48 05](https://user-images.githubusercontent.com/25405887/70817165-4dde3500-1dd1-11ea-88c9-595a2b9a7e91.png)

[2019-12-13 16:56] antho-girard opened #16804 "Multistore - Share customers and orders in the default shop group"
**Is your feature request related to a problem? Please describe.**
You cannot share orders and customers in the default group.
It's even more complicated if you switched "Share quantities" to Yes.

**Describe the solution you'd like**
We should be able to share customers and orders without having to create a new shop group.

**Describe alternatives you've considered**

**Additional context**
I was

[2019-12-13 17:04] khouloudbelguith commented on #16736
Hi @mvorisek,

Now, it is OK
And the issue is well reproduced
![image](https://user-images.githubusercontent.com/16067358/70817936-f17c1500-1dd2-11ea-8598-9680ecacb809.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-12-13 17:43] gennaris commented on #14354
I guess they should have some network problem :-)

[2019-12-13 18:12] titoih commented on #16796
@khouloudbelguith
something weird in here: check my brand filter sort and yours
mine, is sorted (looks like) by brand ID
yours, by name
I didn't change a line of code, I am just importing .csv files, and local is perfect as you do in your recording
It seems like this filter is doing something wrong over the others, with no control
just to let you know, I have more than 20.000 categories
I really a

[2019-12-13 18:14] CallejaMotos commented on #16796
@khouloudbelguith
something weird in here: check my brand filter sort and yours
mine, is sorted (looks like) by brand ID
yours, by name
I didn't change a line of code, I am just importing .csv files, and local is perfect as you do in your recording
It seems like this filter is doing something wrong over the others, with no control
just to let you know, I have more than 20.000 categories
I really a

[2019-12-13 18:31] faranm commented on #16793
I have done the upgrade manually by following this guide:
https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/

Reason why I have done it manually is because I could not access the back office. My web host have upgraded the PHP server to 7.2 and after that I could not access the back office in PS 1.6. The front worked perfectly.

I have cleared the the cache by deleting the folder

[2019-12-13 18:50] QueeNFrisk opened #16805 "Decimals issue with no solution yet v-1.7.6.2"
I have a problem and i don't know if is a bug.
The problem it's on currency decimals.

![image](https://user-images.githubusercontent.com/11914764/70820734-fd4de400-1d9e-11ea-921c-89e49be608ef.png)

Real Price is "**$1,122.51**" (MXN)

I see in forums the same problem and possible solution and i did tried but isn't works:
I have "_main--es-ES--numbers_" file but not exist
![image](https://user-ima

[2019-12-13 19:26] mvorisek commented on #16736
khouloudbelguith@ Great job!

I have already submited a PR to Symfony (see link above) and it has been reviewed today, so I expect it to be merged in the next Symfony 3.4 release.

Btw. this issue in PS is mainly due to usage of absolute template name/path which has been already deprecated in the Symfony `3.4` and in later versions of Symfony the support for absolute paths has been removed. I am n

[2019-12-13 19:27] mvorisek commented on #16736
@khouloudbelguith Great job!

I have already submited a PR to Symfony (see link above) and it has been reviewed today, so I expect it to be merged in the next Symfony 3.4 release.

Btw. this issue in PS is mainly due to usage of absolute template name/path which has been already deprecated in the Symfony `3.4` and in later versions of Symfony the support for absolute paths has been removed. I am n

[2019-12-13 19:31] cedricfontaine commented on #9866
I think that the problem is that cookie->id_cart is not unset in the ValidateOrder function and so in the next page FrontController is trying to access a cart validated as an order.

[2019-12-13 20:12] ibrahimfsasmaz commented on #16795
hello,

I tried but nothing change I am getting the same errors

[2019-12-13 20:15] ibrahimfsasmaz commented on #16795
![Screen Shot 2019-12-13 at 23 14 44](https://user-images.githubusercontent.com/58822578/70829314-6add2d00-1dfe-11ea-8e89-646ff1f65c38.png)

[2019-12-13 20:26] ibrahimfsasmaz commented on #16795
I still display these errors below at debug mode

![Screen Shot 2019-12-13 at 23 25 05](https://user-images.githubusercontent.com/58822578/70829920-0327e180-1e00-11ea-962b-781b739ec629.png)

![Screen Shot 2019-12-13 at 23 24 48](https://user-images.githubusercontent.com/58822578/70829927-07ec9580-1e00-11ea-81ed-558ca7bfaa45.png)

[2019-12-13 20:30] eternoendless commented on #16477
I'm not sure I understand you @mvorisek

As I said, you can always test PHP 7.4 at your own risk. We won't target PHP 7.4 compatibility for 1.7.7 because it is out of scope for that version -- we have to stop adding things at some point. We are currently holding #13761 off until after feature freeze (ie. after all "must have" features have been merged) so that any regressions it may cause won't bl

[2019-12-13 20:42] ibrahimfsasmaz commented on #16795
the upgrade does not work for the faceted search too

![Screen Shot 2019-12-13 at 23 36 49](https://user-images.githubusercontent.com/58822578/70830828-2a7fae00-1e02-11ea-9ef2-2ce32e2cef7b.png)

[2019-12-13 21:25] matks commented on #10541
Closing to make it more clear, I will not forget

[2019-12-13 21:25] #10541 closed, assigned to zuk3975

[2019-12-13 21:28] matks commented on #10581
Closing to ease project management, I will take care of the todo-list

[2019-12-13 21:36] #10551 closed, assigned to RaimondasSapola

[2019-12-13 22:57] ghost opened #16808 "Localisation issues"
**Describe the bug**
1. PS Installer bug: changing the language don't change country name translation.

2. Shop bug:  changing the language don't change country name translation.

**To Reproduce**
Just start an installer on a clean server and change the language or change the language later using admin interface (yes corresponding language pack was downloaded in case of admin interface)
**Screensh

[2019-12-14 07:29] lordchukz opened #16810 "Multistore configuration - 2nd shop shows products from other shops"
Hi everyone, I need an advice/help in multistore configuration
![Screen Shot 2019-12-14 at 08 04 29](https://user-images.githubusercontent.com/36967295/70845184-caadf500-1e4b-11ea-8e00-0eb6589c0323.png)
 on prestashop, hopefully this is the right place to be to get a valid response.

I decided to create a multishop environment for my site’s categories since it’s growing and I would love to improve

[2019-12-14 10:14] cesarfierro opened #16811 "Product page does not show 'instead of %price%' when pack components price is >= 1000 euros"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2019-12-14 10:30] cesarfierro commented on #16811
Prestashop 1.7.6.1
B2B enabled.

Product page does not show 'instead of %price%' when pack components price is >= 1000 euros

To reproduce just create a pack with the sum of the prices of its components be less than 1000 euros.
Go to the front office and click on the product, you will see the 'instead of' label under the price.
Now increase the price of any component so that the total sum is great

[2019-12-14 11:06] kenlog commented on #16449
@khouloudbelguith In conclusion I preferred to update the latest version 1.7.6.2 by migrating the data.

[2019-12-14 11:06] #16449 closed, assigned to nobody

[2019-12-14 11:21] kenlog opened #16812 "Customer management backend [PHP Notice] Undefined index: _route"
Hi I am getting the following notice: `PHP Notice:  Undefined index: _route in /../src/PrestaShopBundle/Controller/Admin/CommonController.php on line 121`

I think it has to do with the paginator.

**Additional information**
PrestaShop version: 1.7.6.2
PHP version: 7.3.12

[2019-12-14 16:26] flopez1977 opened #16814 "bug: Cart cannot be loaded or an order has already been placed using this cart"
Hello, everybody.
In a PS 1.6.2.4 (good also happened in the 1.6.1.4 and that's why we tried to update the latter to see if it was solved but we remain the same)
In too many occasions when we are making a manual order, when putting a product (it is not any concrete this is random), we get the error that
"Cart cannot be loaded or an order has already been placed using this cart" we tried a thousand

[2019-12-14 18:47] ibrahimfsasmaz commented on #16795
hello ,

is there professional service pls ? Someone can pls fix it for me ?

[2019-12-15 10:17] Noido opened #16816 "PS1.7.6.1 Pagination Ajax problem back history"
Hi PS got a bug, when category got pagination we can click different page 1 2 3 etc but when we go in page 2 for sample and then click back button of navigator page is not reloaded

See here for sample :

https://demo-sixtrone.dev-sixtrone.com/8-accessoires-de-maison

Thanks

[2019-12-15 11:28] krystian-3c commented on #16529
Same with PS1.7.6.2
There are no errors in apache error log.
It is not correlated with specific country/language.
Permissions seems ok.
It could have something to do with the fact that it is running on Ubuntu on Windows  - it is developer instance not a production one (https://www.microsoft.com/store/productId/9N9TNGVNDL3Q).

![install](https://user-images.githubusercontent.com/12048630/70861977-3

[2019-12-15 12:03] iriarh opened #16817 "Translation changes are not saved"
After the latest update i cannot do any translation to my theme or default theme..
When i change something and press save i get a message that it is saved/updated but when i refresh the field is empty again...
I have already contacted the theme developer and has confirmed that it is not a theme issue as the same happens with my default translations forntoffice or backoffice
Can this be a file/fold

[2019-12-15 20:38] matks commented on #14462
1st implemention in PR https://github.com/PrestaShop/PrestaShop/pull/16820
When this one has been validated, I will enable it on all targeted pages.

[2019-12-15 22:18] matks commented on #9962
Fixed by migration of the page https://github.com/PrestaShop/PrestaShop/pull/13903

[2019-12-15 22:18] #9962 closed, assigned to nobody

[2019-12-16 06:48] dnatabar commented on #16785
Could definitely be an improvement then.
As it is now, Product Bundles are not usable at all with variances/combinations unless you manually make the products in the admin area.

Thanks =)

[2019-12-16 07:50] ShaimyWinda commented on #16781
Hi @khouloudbelguith
I hope you had a good weekend.
I looked in the logs and I don't see any errors ... It's strange

Thanks

[2019-12-16 07:56] khouloudbelguith commented on #16343
Hi @Arnaldo405,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-16 07:56] #16343 closed, assigned to nobody

[2019-12-16 07:58] khouloudbelguith commented on #16449
@kenlog, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-12-16 08:08] khouloudbelguith commented on #16817
Hi @iriarh,

Thanks for your report.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source): Prestashop version before upgrade & after upgrade
 - What is the exact version of the 1-click upgrade did you use?
 - debug mode report
 - PHP error logs
 - apache error log
 - javascri

[2019-12-16 08:25] khouloudbelguith commented on #16799
@kazzo, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.6.2.
https://drive.google.com/file/d/1JgVToOE7KiftaBm6onfGjomxI5elDZan/view
Could you please navigate to your BO => Design => Image Settings page => Click on the "Regenerate thumbnails" button, check & feedback.

[2019-12-16 08:38] khouloudbelguith commented on #16803
Hi @antho-girard,

I did not manage to reproduce the issue with PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/1nv6a8TbEpMocldodXTT8z3AqRAlNDVNr/view
Thanks to check & feedback.

[2019-12-16 09:11] khouloudbelguith commented on #16797
@sam-pires, about this issue, this is a behavior added to ps_linklist: The block name must be set in all language to be created.
I just create an improvement about this previously: https://github.com/PrestaShop/ps_linklist/issues/58
Thanks to check & feedback.

[2019-12-16 09:25] Arnaldo405 commented on #16343
Good morning, I received your message of closing the issue. Unfortunately I can't find the tabel via Filezilla which is the only way I can access the database. Via the F3 function in Filezilla it is not to find. So my problem hasn't solved yet. With kind regards, ArnaldoTastov Verzonden vanaf mijn telefoon van Huawei Mobile-------- Oorspronkelijk bericht --------Onderwerp: Re: [PrestaShop/PrestaSh

[2019-12-16 09:28] khouloudbelguith commented on #16804
Hi @antho-girard,

Thanks for your reporT.
The options "Share customers" & "Share orders" cannot be enabled after a new install PS because you have registered customer (John DOE) & orders by default.
You have two solutions to enable those options for the default Group:
1. Install the ps_clean module, it will help to remove your catalog, orders & customers
2. Mode debug is enabled => during the ins

[2019-12-16 09:29] yannicka opened #16822 "The price range slider seems not to see all specific prices"
**Describe the bug**

The price range slider seems not to see all specific prices (only the first specific price seems to be taken into account):

1. The highest price displayed is incorrect

2. When we move the cursor of the slider, the product is filtered, because only the lowest price is considered

**To Reproduce**

1. Create a category

2. On this category, create a product (50 € tax excl.)

[2019-12-16 09:34] Uff182 opened #19221 "Fatal error when importing an order"
Hello,
I'm developing a module to import orders from an external marketplace. When ps_emailalerts is installed on PS 1.7.6.0/1, I get a FatalError during the order validation procedure.
The problem does not occurr when an order is performed on the standard website, only when I try to import it from backoffice from the marketplace.
PHP: 7.2.25

<b>Fatal error</b>:  Uncaught Symfony\Component\Debug\

[2019-12-16 09:34] damianobertuna commented on #15023
Hi,

the problem is still present, I read in this page that is not possible anymore to use addJQuery:
https://devdocs.prestashop.com/1.7/modules/core_updates/1.7.6

But if I try to load a js file (that uses jQuery) in a module I'm developing, I have an error in the console ("JQuery is not defined").

It's not clear how to solve this problem.

Regards.

[2019-12-16 10:01] khouloudbelguith commented on #16736
@mvorisek, I have the same issue with PS1.7.6.0
![image](https://user-images.githubusercontent.com/16067358/70897623-49916200-1ff3-11ea-90a5-582aeaad2766.png)
It was ok with PrestaShop1.7.5.2
![image](https://user-images.githubusercontent.com/16067358/70897687-675ec700-1ff3-11ea-837f-120c74381274.png)

So, it is a regression.

Thanks!

[2019-12-16 10:03] Klemart3D opened #16823 "Improve carrier wizard"
**Is your feature request related to a problem? Please describe.**

From PS 1.6 to last PS 1.7, carrier wizard remains very painful to use when carriers have a lot of ranges, zones and different prices for each cell. The principal problem is when we have to add a new range that is not necessarily the last, we have to reorder all ranges manually by copy/past data.

**Describe the solution you'd lik

[2019-12-16 10:04] Klemart3D commented on #16773
Hi @khouloudbelguith,

Thanks for your answer.

1. It not only "between" two range, it's also to create a new range before the first (see attached below).
2. Right, a reorder system will be very useful!

I've created a Feature request #16823, so you can close this ticket.

![overlapping-first-range](https://user-images.githubusercontent.com/7419525/70896271-b5260000-1ff0-11ea-9658-0f2343f9eb3a.png

[2019-12-16 10:15] antho-girard commented on #16803
Hi @khouloudbelguith

Thanks for your feedback.
Domain names of the shops are the same in your screen record.
Here is an example: https://drive.google.com/file/d/1HxnNC4IRoJdUiyLaPzoHTz0Qnj2n4uoY/view

It may be a cookies-related issue as virtual URLs with one domain is working properly.

Thanks,

[2019-12-16 10:25] khouloudbelguith commented on #16822
Hi @yannicka,

I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.2 & ps_facetedsearch v3.4.0.
![image](https://user-images.githubusercontent.com/16067358/70899297-a8a4a600-1ff6-11ea-8cae-9736c2792f51.png)
![image](https://user-images.githubusercontent.com/16067358/70899356-c114c080-1ff6-11ea-8f35-14a0f01ee9ec.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already f

[2019-12-16 10:25] khouloudbelguith commented on #16822
Ping @PierreRambaud

[2019-12-16 10:27] loicleng opened #16824 "Prestashop webservice POST and PUT issue"
Hello everyone,

I'm facing an issue since a while now while trying to send POST or PUT request to Prestashop Webservice from another website developed with PHP framework Phalcon.
Here is the code i'm using to initialize my provider following this example https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Http/Client :
[code]

Here is the code i'm using to send the request :
[code]

[2019-12-16 10:30] #16246 closed, assigned to atomiix

[2019-12-16 10:30] Swanlefta opened #16825 "Error 500 - upgrade 1.7.4.3 to 1.7.6.2"
Hello, I am asking you today because I am at an impasse.
After doing the update to 1.7.2.6 I get an error 500, after activating the debug I end up with a more complete error detail, can you direct me a little and help me find a solution for fix that.

Thank you in advance for your help. 🙏
(sorry for my bad English, I'm French)

Error :

<img width="1076" alt="Capture d’écran 2019-12-12 à 15 52 30"

[2019-12-16 10:39] colinegin opened #16826 "Credit slips with generated vouchers are not correct in accounting"
This issue has been described by a french agency. We need more details about this accounting issue, if you have any more information, please comment and we will edit the issue !

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

When processing a partial refund on an order (and creating a credit slips) and generating

[2019-12-16 11:01] khouloudbelguith commented on #16805
Hi @P41N3ST,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Please downgrade your PH

[2019-12-16 11:05] khouloudbelguith commented on #16808
Hi @rss9090,

Have you the same issue with this ticket: #12168?

Thanks!

[2019-12-16 11:08] khouloudbelguith commented on #16812
Hi @kenlog,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrade your

[2019-12-16 11:12] khouloudbelguith commented on #16825
Hi @Swanlefta,

What is the exact version of the 1-click upgrade v4.10.0?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-12-16 11:18] khouloudbelguith commented on #16773
@Klemart3D, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-12-16 11:18] #16773 closed, assigned to sam-pires

[2019-12-16 11:19] khouloudbelguith commented on #16823
Hi @Klemart3D,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-12-16 11:21] khouloudbelguith commented on #16814
Hi @flopez1977,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed, that’s why I close

[2019-12-16 11:21] #16814 closed, assigned to nobody

[2019-12-16 11:24] Mduclain opened #16827 "Can't use Title 1 2 3 in text editor, presta 1.7.6.1"
Hi,
In admin/product page, when I format text with Title 1 2 3 and save, my text is notre in title 1 2 3 but in paragraph

[2019-12-16 11:34] sam-pires commented on #16823
Hello @Klemart3D,

Thanks for the feedback 👍
Indeed this is a frustrating behavior.

We initially planned to migrate the Carriers page on Symfony in 1.7.7 and fixing bugs, but do a rework in the following version.
But we had to postpone the migration to 1.7.8.
That might give us more time to improve some parts of the Carrier page in 1.7.8 in addition to the migration and bug fix, we have to look i

[2019-12-16 11:36] #16825 closed, assigned to nobody

[2019-12-16 11:36] Swanlefta commented on #16825
Problem solved, ty

[2019-12-16 11:44] mvorisek commented on #16736
@khouloudbelguith The issue is with `/mails/themes/modern`. If you delete this folder, the installation will also pass on 1.7.6.x.

But the source of the issue is - as described above - the usage of absolute template path / name:

So the code where the absolute path is created needs to be isolated and changed to a relative one.

[2019-12-16 12:03] Maofree opened #16829 "Error in mails/it/order_customer_comment.html"
Hi
I found an error in the file
mails/it/order_customer_comment.html
it is written firstrname instead of firstname
it is necessary to remove the "r" after first

the english version is ok
bye

**Screenshots**
![2](https://user-images.githubusercontent.com/653230/70905444-2ae79700-2004-11ea-80ef-b0ae1a673b2a.png)

**Additional information**
PrestaShop version: 1.7.6.2
PHP version: 7.2

[2019-12-16 12:11] khouloudbelguith commented on #16825
@Swanlefta,

Thanks for your feedback.
Feel free to open a new one needed.

[2019-12-16 12:44] kazzo commented on #16799
I've already done it and it not solves the problem.
When I add related product it wors fine via ajax, but when leave editor and back to edit, related product name is for example (ref:00267) - there's no product name and image name is ".jpg", so I got 404.
Thanks!

[2019-12-16 12:55] Hlavtox commented on #16735
@khouloudbelguith @PierreRambaud

Sorry, I am getting confused. The thing we know is, that it **just does not work.**

**Basic problem**
You set price filter to MIN 3142, MAX 6985.
You see products that cost 7 990 Kč - WRONG
You don't see products that cost 3 690 Kč - WRONG

**Specific prices + using VAT in filter**
User should always filter by the prices he is seeing in the store.
Does he enter V

[2019-12-16 13:19] colinegin commented on #16336
@LouiseBonnard could you detail what should happen and is not working currently ?
And what should be the impact of fixing this ?

[2019-12-16 13:23] colinegin commented on #13880
In stand-by waiting for the order page to be fully migrated.
We need to check if the issue is still present once all order PRs have been merged.

[2019-12-16 13:30] TaccCZ commented on #16774
Hi @khouloudbelguith,
I don't think it's a style that uses "facet_color". Because now I have tried to completely delete these modified styles from the template so that it does not insert "facet_color" and uses the style from the "classic" template, ie the basic prestashop template.

This will use your style in the file "\ modules \ ps_facetedsearch \ views \ templates \ front \ catalog \ facets.tp

[2019-12-16 13:42] antho-girard commented on #16804
Hi @khouloudbelguith

Thanks for these two solutions.
I think the first one can be helpful when we're in the development process (for agencies).
I'll check the second one this afternoon. It looks great for a fresh install but I think the issue will remain for shops that have been running for a while.

Thanks,