[2021-02-26 08:49] florine2623 commented on #23415
Hello @costads ,

In PS 1.7.7.1, multistore mode, PHP 7.3, I can't reproduce your issue. I still see all out-of-stock product for the store :

Multistore mode, no shop selected :
![Capture d’écran 2021-02-26 à 09 46 06](https://user-images.githubusercontent.com/16019289/109277455-a56e9200-7817-11eb-92f2-55960c45b04e.png)

Multistore mode, when a specific store is selected :
![Capture d’écran 20

[2021-02-26 08:49] #23415 closed, assigned to nobody

[2021-02-26 09:06] marionf commented on #23412
It's a good idea @matks we could add an information message in the BO with a link to the documentation
And could explain in what are the alternatives:
- easycron
- setting a cron tasks through the hosting provider ? But maybe this needs some dev in the shop ?

Let me know if you see other solutions that we could add in the doc ?

[2021-02-26 09:11] hibatallahAouadni commented on #23311
Hello @jf-viguier

Could you please provide steps to reproduce the issue and your GDPR version.

Thanks in advance.

[2021-02-26 09:15] yiannis54 commented on #16952
For anyone that need a quick fix for the specific issue, you can follow the solution from the forum https://www.prestashop.com/forums/topic/1021601-bug-faceted-search-doesnt-filter-products-with-attributes-stock-0/?tab=comments#comment-3298966

This worked great for me, as I'm not using the "Show the number of matching products".

[2021-02-26 09:20] hibatallahAouadni commented on #22144
Related to #9752

[2021-02-26 09:23] hibatallahAouadni commented on #13698
Duplicate of #19281

[2021-02-26 09:23] #13698 closed, assigned to nobody

[2021-02-26 09:24] Morerice opened #23421 "Create checkout_session_data property"
#### Is your feature request related to a problem?

Currently there is no functionality to retrieve/update the `ps_cart.checkout_session_data` field except to update it directly from the database as done in the `OrderController::saveDataToPersist` and `OrderController::restorePersistedData` functions:

[code]

#### Describe the solution you'd like

A property to retrieve/update this field.

#### A

[2021-02-26 09:39] prestascott commented on #23102
Hello @NeOMakinG,

There is just 2 small changes to do in this PR. It's not about the responsive itself but about providing better UX on mobile. Change the background-color when an option is clicked/tapped on mobile. Because the light background represents the hover, and there's no hover on mobile.

![my account (1)](https://user-images.githubusercontent.com/54888056/109283027-9212f500-781e-11eb-8

[2021-02-26 09:44] boubkerbribri opened #23422 "[BO] - Can't download Credit slip"
#### Describe the bug

An exception is displayed when trying de download a credit slip from credit slip page

#### Expected behavior
NO exception
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create order
2. Change status to payment accepted then shipped in BO
3. Go to view order page in BO and add partial refund
4. Go to Credits slips page
5. From table download credits slip
6. Se

[2021-02-26 09:44] hibatallahAouadni commented on #23313
Ping @PrestaShop/product-team friendly reminder :wink:

[2021-02-26 09:50] boubkerbribri opened #23423 "[BO] - Warning displayed on Feature value page"
#### Describe the bug

A alert danger is displayed when trying to access Feature values page

#### Expected behavior

No exception

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Catalog Attributes and features
2. Click on Features tab
3. View a features to see values
4. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/48441421/109284555-482b0e80-

[2021-02-26 09:54] florine2623 commented on #23421
Ping @PrestaShop/prestashop-core-developers ,

Could you check this feature request please ?
Thanks !

[2021-02-26 10:15] atomiix commented on #23394
@hibatallahAouadni with the [`ps_qualityassurance`](https://github.com/PrestaShop/ps_qualityassurance) module, you can add this:
[code]
to the `actionCustomerGridQueryBuilderModifier` hook and then follow step 2 & 3, you should be able to reproduce the error.

[2021-02-26 10:30] florine2623 commented on #23401
Hi @kmorgen ,
Can you send a screenshot of Carrier tracking url in BO Order page in previous version of PS (1.7.6.8), and current version of PS (1.7.7.2) ?

[2021-02-26 10:38] arirangz opened #23424 "Product Out of stock email : Missing product name and firstname/lastname"
#### Describe the bug
When checking the option "Send me an email when the quantity is below or equals this level" on a product, when a client order a product below the low level, the email alert we are getting (as admin) doesn't have the product name neither firstname.lastname (see screenshot).

#### Expected behavior

Have the product name..

#### Steps to Reproduce

Steps to reproduce the behavi

[2021-02-26 10:39] jf-viguier commented on #23311
Go to your account on front, download personal data and see that there is no Invoice and Order slip data.
It's an old issue, I don't know if it ok for now. Keep me informed.

[2021-02-26 10:42] florine2623 commented on #23424
Hi @arirangz ,

PrestaShop 1.7.6.5 is not available with PHP 7.3. Please check this link for more info :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2021-02-26 10:42] #23424 closed, assigned to nobody

[2021-02-26 10:44] arirangz commented on #23424
@florine2623 Sorry it was just a mistake. I double checked and we are with php 7.2.

Could you please re-open the ticket?

Thanks

[2021-02-26 10:46] vzlatev commented on #19604
Hello,

I can confirm the problem and use case is really logical. Low level option "allow order" on specific products should override the higher level general configuration.

[2021-02-26 10:49] boubkerbribri opened #23426 "[BO] Can't access view customer page"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO customers page
2. Create new customer
3. Click on view customer
4. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/48441421/109290897-81677c80-7828-11eb

[2021-02-26 10:59] kmorgen commented on #23401
You do not know where the Carrier tracking URL's are located in BO?

Well here are some screenshots then:

PS 1.7.6.8:
![Order-details-tracking-PS1768](https://user-images.githubusercontent.com/4300688/109291903-e1125780-7829-11eb-8abd-ff411bb6b695.jpg)

PS 1.7.7.2:
Order details:
![Order-details-tracking-PS1772](https://user-images.githubusercontent.com/4300688/109291970-f4252780-7829-11eb-966a-2

[2021-02-26 11:03] juraj1000 opened #23427 "Upgrade error form 1.7.6.9 to 1.7.7.2"
#### Describe the bug
I did upgrade from 1.7.6.9 to 1.7.7.2 and I got warning and error messages:

 [WARNING] SQL 1.7.7.0 1146 in ALTER TABLE `ps_connections` CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci: Table 'q10_testpp.ps_connections' doesn't exist
[WARNING] SQL 1.7.7.0 1146 in ALTER TABLE `ps_connections_page` CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci: Table '

[2021-02-26 11:06] #23352 closed, assigned to nobody

[2021-02-26 11:10] boubkerbribri opened #23428 "[BO] Warning display on create carrier page"
#### Describe the bug

An alert danger with a warning is displayed on create carrier page

#### Expected behavior

No alert displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO carrier page
2. Click on create carrier page
3. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/48441421/109291995-ff785300-7829-11eb-85e6-5adec1535f19.png)

####

[2021-02-26 11:15] florine2623 commented on #23427
Hello @juraj1000 ,
I can't reproduce your issue.
After upgrading my shop from 1.7.6.9 to 1.7.7.2, I haven't encounter any errors. Please check the screenshot :
![Capture d’écran 2021-02-26 à 12 11 36](https://user-images.githubusercontent.com/16019289/109293479-220b6b80-782c-11eb-963c-f367a4612636.png)

If you have questions about using PrestaShop or third-party modules, or if you need help with

[2021-02-26 11:15] #23427 closed, assigned to nobody

[2021-02-26 11:19] florine2623 commented on #23420
Hi @jajarom ,

After upgrading my shop from PS 1.7.6.9 to 1.7.7.2, I did not encounter the same issue as you did.

Upgrade went well :
![Capture d’écran 2021-02-26 à 12 11 36](https://user-images.githubusercontent.com/16019289/109293873-b249b080-782c-11eb-9d07-2c134d9c0779.png)

When refreshing the site and login back to my upgraded shop 1.7.7.2, my categories in my product sheet displays correc

[2021-02-26 11:19] #23420 closed, assigned to nobody

[2021-02-26 11:30] boubkerbribri commented on #23428
Same error on BO > shop parameters -> Order setting -> statuses -> new order return status

![image](https://user-images.githubusercontent.com/48441421/109295103-7879a980-782e-11eb-91e7-46588806d8ad.png)

[2021-02-26 11:43] boubkerbribri opened #23429 "[FO - checkout page] Error on payment step"
#### Describe the bug

An error is displayed in checkout payment step when final Summary is enabled

#### Expected behavior

Final summary looks fine

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO shop parameters order setting
2. Enable final summary
3. Go FO and add product to cart
4. Go to checkout step
5. Set customer information and addresses information too
6. Chosse

[2021-02-26 12:04] boubkerbribri opened #23430 "[BO] Warning display after creating Store (or view it)"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO -> shop parameters -> contact -> Store
2. Click on New Store
3. Fill **all inputs** in form and click on save
4. Edit the store, see errors

**Screenshots**

![image (3)](https://user

[2021-02-26 12:23] hibatallahAouadni commented on #23326
Hello @artizch

Could you please provide steps to reproduce and screenshots, please.

Thanks!

[2021-02-26 12:26] md2158 opened #23431 "Call to a member function compile() on null"
#### Describe the bug

Upgraded from 1.7.3.4 to 1.7.7.2 and now can't access to advanced setting, showing this error:
Call to a member function compile() on null. What's wrong?

**Screenshots**

![image](https://user-images.githubusercontent.com/13145310/109299989-fc3f9000-7846-11eb-913e-5575186ffee0.png)

#### Additional information

* PrestaShop version: 1.7.7.2
* PHP version: 7.2

[2021-02-26 12:42] boubkerbribri opened #23432 "[BO] Warning displayed on multistore add new shop page"
#### Describe the bug

A warning is displayed on Multistore -> add new shop page

#### Expected behavior

No warning

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Activate multistore on Shop parameters -> General
2. Go to Advanced parameters -> Multistore
3. Click on 'Add new shop'
4. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/48441421/109300733

[2021-02-26 13:01] florine2623 commented on #23431
Hello @merick2158 ,

PrestaShop version 1.7.3.6. does not exists, so I can't reproduce your issue.
So I close it.
Thanks

[2021-02-26 13:01] #23431 closed, assigned to nobody

[2021-02-26 13:10] camlafit opened #23433 "Uprade Process : Prevent error on SQL existing row"
#### Describe the bug

Updating from 1.6 in some case, process update broke during SQL insertion, because some date are yet present.

#### Expected behavior

As use case, some modules provide 1.6 and 1.7 compatibility. In this case could enable some hook only present in 1.7 version. If we update from 1.6, we could broke process on different step as at https://github.com/PrestaShop/PrestaShop/blob/

[2021-02-26 13:16] camlafit commented on #23433
Note : partially done with bdb65673dcafc0fcd8899d137431a62d165487bf

[2021-02-26 13:19] boubkerbribri opened #23434 "[BO] Error when creating new currencies"
#### Describe the bug
Error on create some official currencies

#### Expected behavior

Currency created

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to International currencies
2. Click on Add new currency
3. Choose official currency like (ADB Unit of Account (XUA), Algerian Dinar (DZD), Moroccan Dirham (MAD)) works with some currencies
4. See error

**Screenshots**

![image]

[2021-02-26 13:26] merick2158 commented on #23431
@florine2623 sorry, correct version is 1.7.3.4

[2021-02-26 13:31] sowbiba commented on #23418
Please take a look at https://github.com/PrestaShop/PrestaShop/pull/23417#issuecomment-786642535
Thanks

[2021-02-26 13:37] hibatallahAouadni commented on #22796
Hello @HartLarsson

I just installed a new shop with Italian language and yet I didn't manage to reproduce your issue :confused:
See the attached screen record below:

https://drive.google.com/file/d/18Wj8oCAs5E1yrtQ5V8v4ah-ARTleBjZL/view

Please check and feedback.
Thanks!

[2021-02-26 13:38] jajarom commented on #23420
Maybe from a celan 1.7.6.9.
Any other suggestions?
With an 3rd module i can modify the stock and the informations of any products.

[2021-02-26 13:44] florine2623 commented on #23433
Hello @camlafit ,

On step 2, are you talking about PS native module or external module ?
Thanks

[2021-02-26 13:45] papich06 commented on #22634
Hello,
I asked the developer he told me must see with prestashop because it is based on the classic theme

maybe in the update of prestashop?

@matks  do you read the terms and conditions of a site by uploading them to a site?

Likewise, on the product sheet it is more pleasant to see the pdf and download it if necessary, isn't it?

[2021-02-26 14:04] florine2623 commented on #23399
Hi @ant0nioli ,

I can't reproduce your issue with PS 1.7.7.0, PHP 7.3. Please check my screen record : https://drive.google.com/file/d/1jZfQeVtBRZUr25qu0N7hIsraN2KAfnAe/view

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for he

[2021-02-26 14:04] #23399 closed, assigned to nobody

[2021-02-26 14:16] camlafit commented on #23433
hello @florine2623

In our use case, It's related to an external module

[2021-02-26 14:16] florine2623 commented on #23401
Hello,

Thanks.
In previous PS version, there was no link on the tracking number :
example in PS 1.7.6.5 :
![Capture d’écran 2021-02-26 à 15 13 38](https://user-images.githubusercontent.com/16019289/109310836-54759280-7845-11eb-9614-55673a9e1182.png)
In PS 1.7.7.0 :
![Capture d’écran 2021-02-26 à 15 15 13](https://user-images.githubusercontent.com/16019289/109310939-70793400-7845-11eb-9d91-7c7

[2021-02-26 14:18] md2158 opened #23436 "Call to a member function compile() on null"
#### Describe the bug

Upgraded from 1.7.3.4 to 1.7.7.2 and now can't access to advanced setting, showing this error:
Call to a member function compile() on null. What's wrong?

**Screenshots**

![image](https://user-images.githubusercontent.com/13145310/109311301-b4286980-7856-11eb-9bcd-66c832508fcd.png)

#### Additional information

* PrestaShop version: 1.7.7.2
* PHP version: 7.2

[2021-02-26 14:24] e-gaulue opened #23437 "Trouble to translate multiple occurence of the same string in the same domain"
#### Describe the bug

Translation is said to be validated. You've got the green popup right up the screen. But if you leave and come back or if you try to see the result you see translation has not changed.

#### Expected behavior

I don't know. Translation to be dealt or one unique field if ever the same string is twice in the domain.

#### Steps to Reproduce

Steps to reproduce the behavior:

1

[2021-02-26 14:28] hibatallahAouadni commented on #23311
Hello @jf-viguier

Thanks for your clarification!
Yes, I reproduce the issue with PS1.7.4.1 and PS1.7.7.1, see the attached PDF below.
[personalData-2021-02-26.pdf](https://github.com/PrestaShop/PrestaShop/files/6050170/personalData-2021-02-26.pdf)

But I think it's not a bug, it's an improvement and good one :wink:
Thanks again for the suggestion, the Product Team will take a look.
Please stay tu

[2021-02-26 14:32] hibatallahAouadni commented on #23324
Hello @HartLarsson ,

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please ke

[2021-02-26 14:32] #23324 closed, assigned to nobody

[2021-02-26 14:34] hibatallahAouadni commented on #23433
Hello,

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep in mind tha

[2021-02-26 14:37] camlafit commented on #23433
Hello

We talk about process to upgrade to 1.7 not to maintain 1.6. I don't understand why this issue should be close.
All other SQL queries about ps_hooks use IGNORE statement, this PR respect existing SQL

This PR as any impact and allow user to use maintained version on some use case.

[2021-02-26 14:45] hibatallahAouadni commented on #23433
Hello @camlafit

It's recommended to unisntall all the modules hose not compatible with 1.7 before updating.

It's not clear if you're talking about the modules that are compatible with both version?
Could you please provide an exemple?

Thanks!

[2021-02-26 14:51] JoryHogeveen commented on #18777
Hi @matks

More info about HS codes and EORI numbers here: https://www.prestashop.com/en/blog/brexit-vat

So, alongside the VAT module for the Brexit, these type of info is also important regarding the Brexit. Magento and other systems are already implementing these type of codes so I believe Prestashop shouldn't be lagging behind.

[2021-02-26 14:55] hibatallahAouadni commented on #23312
Hello @maofree

Did you encounter this issue only with PS1.6.1.20? do you still encounter the same issue?
Please check and feedback.

Thanks!

[2021-02-26 14:58] florine2623 commented on #23437
Hi @e-gaulue ,

I managed to reproduce the bug in PS 1.7.7.2, 1.7.6.7 and 1.7.5.2.
When editing multiple fiels, every fiels of translation isn't saved after refreshing the page.
Before :
![Capture d’écran 2021-02-26 à 15 42 13](https://user-images.githubusercontent.com/16019289/109315747-2430f280-784b-11eb-9c27-99918f7233ef.png)

After :
![Capture d’écran 2021-02-26 à 15 45 23](https://user-im

[2021-02-26 15:01] kmorgen commented on #23401
Hello

Previous versions always had link on tracking number. Even PS 1.6 :-)
However the tracking link will of course only appear, if the URL is set for each particular carrier. So maybe was not set in the PS 1.7.6.5 store carrier you used.

Here is a screenshot from another PS 1.7.6.5 store too (this also have link and opens in new browser tab):
![Order-details-tracking-PS1765](https://user-image

[2021-02-26 15:06] camlafit commented on #23433
Hello

When a module is uninstalled, all hooks declared in database remain. Then uninstall before any module doesn't change ps_hooks table content. In our test we have set autoupgrade to disable any non standard module.

I do a grep on our server and found some plugins using at least once hook in this list displayBeforeBodyClosingTag|displayAfterBodyOpeningTag|validateCustomerFormFields|displayCar

[2021-02-26 15:08] florine2623 commented on #23436
Hello @merick2158 ,

I updated my shop from 1.7.3.4 to 1.7.7.2, the upgrade was successful and I have access to all pages of Advanced Parameters tab.
![Capture d’écran 2021-02-26 à 16 02 52](https://user-images.githubusercontent.com/16019289/109317174-bbe31080-784c-11eb-8c8c-e12e38c3372e.png)
![Capture d’écran 2021-02-26 à 16 03 46](https://user-images.githubusercontent.com/16019289/109317192-

[2021-02-26 15:08] #23436 closed, assigned to nobody

[2021-02-26 15:28] sakurakary opened #23438 "prestashop 1.7 search block isnt work"
only find a few or none of the products active, the indexation has been done several times but still is not searching products (active and visible for search)

[2021-02-26 15:29] florine2623 commented on #23438
Hello @sakurakary

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-02-26 15:29] #23438 closed, assigned to nobody

[2021-02-26 15:51] camlafit commented on #23433
I detect also a crash on update process on same file with

[code]

But any notice on debug

[2021-02-26 15:52] hibatallahAouadni commented on #23433
Hello @camlafit

After discussing your issue with @atomiix it seems valid.
I will reopen the issue :wink:

Thanks!

[2021-02-26 16:09] azralth opened #23439 "Can't go back when navigate from category product page."
Hi,
On a fresh installation of PrestaShop, with demo product installed :
- Go to category Home (http://mydomain.com/2-home)
- Click on page 2
- Click on prev button from navigator.
- Nothing happend, can't get my product from page 1

If we go on page 2 or 3 or 4 and right after i want to go back with the prev button of chrome or firefox, the page won't reload the product.

Here a short video to re

[2021-02-26 16:16] florine2623 commented on #23439
Hi @azralth ,

I reproduced your issue on PS 1.7.7.2, 1.7.6.7 and 1.7.5.2.
I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2021-02-26 16:33] hibatallahAouadni commented on #23314
Hello @nrcjea001

Thanks for your issue!
I reproduce this issue with PSGDPR v1.2.1 and PS1.7.7.2 when Multistore context is enabled and only with Store2, see screenshot below:

![image](https://user-images.githubusercontent.com/23308427/109327305-79273580-7858-11eb-81ef-96e899b76755.png)

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you thin

[2021-02-26 16:42] hibatallahAouadni commented on #23315
Hello @Rizzen59

Since we had no news from you for more than 2 years, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

PS: I didn't manage to reproduce the issue too wih PS1.7.7.2 and GDPR v1.2.1 :wink:

Thanks!

[2021-02-26 16:42] #23315 closed, assigned to nobody

[2021-02-26 16:52] hibatallahAouadni commented on #23316
Hello @jflaque

Since we had no news from you for more than 1 year, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-02-26 16:52] #23316 closed, assigned to Nakahiru

[2021-02-26 16:54] florine2623 commented on #23401
I was able to reproduce the issue with PrestaShop version 1.7.7.2. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

[2021-02-26 17:32] maofree commented on #23312
Hi @hibatallahAouadni
yes sure the problem continues to be present

![1](https://user-images.githubusercontent.com/653230/109334343-e4750580-7860-11eb-820a-6c7181b82a90.png)

the id is gdpr_consent

[2021-02-26 17:54] hibatallahAouadni commented on #23317
Hello @loulou2852

Sorry for the late response :sweat:
Do you stil encounter the same issue with GDPR v1.2.1
Please check and feedback.

Thanks!

[2021-02-26 17:56] ant0nioli commented on #23399
Hi @florine2623 thank you for your reply.

Actually something weird just happened.

To reproduce exactly what you did in your video, I disabled the **Order Notifications on the Favicon module** and activated back the **Advanced Parameters > Administration > Show notifications for new messages** that is the configuration I was using before submitting the issue.

When I saved this configuration I go

[2021-02-26 17:56] frankmasio opened #23440 "Image slider ignores changes after upgrade"
#### Describe the bug
After a upgrade from 1 click upgrade. From v1.7.6.7 to 1.7.7.2, I configure the  Image slider (v3.1.0 - by PrestaShop). Originally i had 3 images. I removed one. and added a new image. View my shop FO, nothing has changed. it completely ignores any changes?

#### Expected behavior
It should of changed the image slider removing the first image and show the added image.

#### S

[2021-02-26 18:12] hibatallahAouadni commented on #23318
Hello @maofree

It seems the issue has been fixed, I upgraded GDPR v1.1.0 with PS1.7.4.1 to GDPR v1.2.1 without any error.
See the attached screen record below:

https://drive.google.com/file/d/1tA5UzYARTQ4-tXXvIqL1DjwiCeAEE356/view

I close this issue cause it's fixed :wink:
PS: thanks @pablopolyte for the fix :tada:

Thanks!

[2021-02-26 18:12] #23318 closed, assigned to nobody

[2021-02-26 18:23] hibatallahAouadni commented on #23319
Hello @lesept12

Sorry for the late response :sweat:
I didn't manage to reproduce your issue with PS1.7.7.2 and GDPR v1.2.1, see the attached screen record below :

https://drive.google.com/file/d/1lhibkcXZ_MPLDM-Zm7MkvAA0N8qBO0VE/view

I close the issue :slightly_smiling_face:
Thanks!

[2021-02-26 18:23] #23319 closed, assigned to nobody

[2021-02-26 18:23] kpodemski commented on #23398
I suggest to upgrade to 1.7.7 and just have it fixed as it should be :)

[2021-02-26 18:25] hibatallahAouadni commented on #23326
Duplicate of #23319

[2021-02-26 18:25] #23326 closed, assigned to nobody

[2021-02-26 19:02] hibatallahAouadni commented on #23416
Related to #9550

[2021-02-26 19:22] tiagondelgado opened #23442 "Error when resetting module blockreassurance."
#### Describe the bug
I cant reset or delete module blockreassurance, when i try reset or unistall, i get this error:

Exception thrown by module blockreassurance on reset. Error when resetting module blockreassurance. The hook id #19 does not exist in database

Why i want remove that? I can add\edit text (left fields)

#### Expected behavior

Delete or reset

#### Steps to Reproduce

Steps to rep

[2021-02-26 19:46] hibatallahAouadni commented on #23424
Hello @arirangz

I didn't manage to reproduce the issue with PS1.7.6.5 and MailAlerts v2.2.1, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/109347582-aaf9c580-7873-11eb-904c-e38b9ca5b5d3.png)

Thanks!

[2021-02-26 19:51] hibatallahAouadni commented on #23431
Hello @merick2158

Could you please check these issues #10655 & #10176.
It seems similar to yours, you may find some answers could help you to solve your issue :wink:

Thanks!

[2021-02-26 19:57] hibatallahAouadni commented on #23320
Hello @LouiseBonnard

Thanks for the suggestion, the UX Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team & @PrestaShop/ux-team I think we have a wording mission :wink:

[2021-02-26 19:59] hibatallahAouadni commented on #23322
Hello @dariusakafest

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #20519.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: Thanks @evgenij-sobolev :wink:

Thanks!

[2021-02-26 19:59] #23322 closed, assigned to nobody

[2021-02-26 20:00] hibatallahAouadni commented on #23322
Duplicate of #20519

[2021-02-26 20:06] hibatallahAouadni commented on #23323
Hello @ijzershop

Sorry for the late response and thanks for your issue!
I reproduce your issue with PS1.7.7.2 and GDPR v1.2.1, see the attached screenrecord below:

https://drive.google.com/file/d/1mG0SdUi-azEGmyRNMK2mBbSjmD89YlqJ/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

[2021-02-26 20:16] hibatallahAouadni commented on #23321
Hello @tbores

Since we had no news from you for more than 2 years, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

PS: I didn't manage to reproduce the issue with PS1.7.7.2 and GDPR v1.2.1 on Firefox v86.0 (see the attached screenshot below)

![image](https://user-images.githubusercontent.com/23308427/109

[2021-02-26 20:16] #23321 closed, assigned to nobody

[2021-02-26 20:36] hibatallahAouadni commented on #21030
Hello @sarahdib & @Progi1984

It seems the PR https://github.com/PrestaShop/ps_customtext/pull/46 has been merged :tada:
So shall we close this issue as **`Fixed`**?

Thanks!

[2021-02-26 21:17] matks commented on #22634
That is a lazy developer 😆 "PrestaShop must do it because my theme is based on their theme". No. A theme developer can extend our work in any way, including adding a PDF viewer.

But that being aside, your feature request is about adding it in Classic Theme 😉 . I am a developer, I do not take decisions like this. We need to wait for @PrestaShop/product-team and @PrestaShop/ux-team who decide Prest

[2021-02-26 21:24] matks commented on #23412
easycron or other CRON services, I think we can find a few. Maybe we can ask @kpodemski if he has any recommendation?

[cron](https://en.wikipedia.org/wiki/Cron) "is a time-based job scheduler in Unix-like computer operating systems". Almost every Unix-like server has this capacity, although not every hosting provider allow its customer to access and configure it. We could quite simply provide an

[2021-02-26 22:17] costads commented on #23416
Well, it does that on both my domains running 1.7.6.1. I just created a new user, and sent a message, and after a couple of minutes the bubbles appeared, both in BO, and at the tab in the browser without me touching Chrome at all. It has been like that for as long as i remember.
It was the very first thing I noticed in 1.7.7.1 that was annoying.

This is a screenshot taken after a few minutes, wit

[2021-02-26 22:25] jeckyl commented on #23412
Hi,

1. I don't think it's Prestashop's backoffice's job to promote third party companies since they could disappear and the links would become obsolete or turn into a dubious site.
2. Putting the links back as they have always been presented on this page would be enough to separate the core from the module, which I offer as a free module for all uncorrected 1.7 versions.
3. The idea of recalling

[2021-02-26 22:47] kpodemski commented on #23412
I believe we could create some kind of Cron Handler like WordPress has, where you can schedule tasks and run them not in background but when someone is visiting - for example back-office.

I agree partially with @jeckyl that maybe it's not best to promoted third party services in back-office **but** link to documentation should be available, and then in docs we could create detailed instruction (i

[2021-02-26 22:58] jeckyl commented on #23412
The choice was made to modify with version 1. 7 the management of the exchange rate update by forcing the use of the cronjob module. Years later, a new team took the decision to remove the cronjob module for good reasons, but did not remember the link with the exchange rate management, It is therefore necessary to imagine that the implementation of a link to a documentation that would be likely to

[2021-02-27 03:44] costads commented on #23415
So, what you are saying is that there's a bug in the 1.7.6.1 upgrader to 1.7.7.1?
It was working fine before I upgraded, which I did without errors with the 1-click upgrade module.

[2021-02-27 06:31] ks129 commented on #10185
I try to migrate this.

[2021-02-27 06:49] jajarom commented on #20332
form.js?1.7.7.2:634 Uncaught TypeError: Cannot read property 'onSave' of undefined
    at send (form.js?1.7.7.2:634)
    at HTMLButtonElement.<anonymous> (form.js?1.7.7.2:853)
    at HTMLButtonElement.dispatch (jquery-3.4.1.min.js:2)
    at HTMLButtonElement.v.handle (jquery-3.4.1.min.js:2)

What do you think?

[2021-02-27 07:01] qualityangel commented on #23378
Both commented issues are not the same as mine. I do not have a black page, it is only redirecting to itself. when i remove the token, i'm loggend in, but when i am going to products etc. i have been redirect to login again. When i remove cookies in chrome it works for 30 minutes.

[2021-02-27 08:00] arirangz commented on #23424
Hello @hibatallahAouadni

Thanks for your reply.

Your email is referring to Mail Alert module but my issue is with the core email :
mais/en/productoutofstock

You will see that it's not the same alert. Your alert comes from the mail alert module but my alert comes from the core system.

Please see bellow how the core email looks like. You will see there is no product name in it :
` Hi {firstname}

[2021-02-27 08:07] arirangz commented on #23424
@hibatallahAouadni  I also check in the twig template in:
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/mails/themes/modern/core/productoutofstock.html.twig

As you can see, there is no product in the template.

But I can see this has been solved in 1.7.7 : https://github.com/PrestaShop/PrestaShop/blob/1.7.7.x/mails/themes/modern/core/productoutofstock.html.twig

[2021-02-27 11:41] stefann-sasori commented on #19656
I solved it by setting 777 chmod to img folder

[2021-02-27 13:20] matks commented on #23412
I was indeed thinking of a link to the documentation, not writing a message into the Back Office directly. The Back Office code is immutable, so people with old versions will have it forever. But a link to https://doc.prestashop.com/ or https://devdocs.prestashop.com/ can always be updated.

The documentation that is available inside the 1.7 Back Office (it can be expanded on the right) can be upd

[2021-02-27 13:24] jeckyl commented on #23412
Maybe just quote several of them in the doc but not in the backoffice directly, it's just on this point that I was reacting.

[2021-02-27 14:19] juliemoynat opened #23444 "[Accessibility] Default theme: form fields not associated to their label make them impossible to fill for blind users"
#### Describe the bug

A lot of forms in the default Prestashop theme have form fields not associated to their label so it's making them impossible to fill for blind users. **It's a huge accessibility problem.**

As a result, a lot of Prestashop shops do not have accessible forms because the default theme is a model for developers…

#### Expected behavior

Associate form fields to their label. It'

[2021-02-27 14:56] Jajcjusz commented on #14754
How to integrate this in 1.6.2.4?

[2021-02-27 17:50] Guisardo commented on #10018
Hi there, I was having the same issue that @PierreRambaud mention and I'd solved it by setting the filter by stock at the code if it was not filter by the user and if the show unavailable is off. Hope it helps!

[2021-02-27 19:39] frankmasio commented on #23440
this is not a slider issue

the slider module was a theme module that seemed hidden and took searching with grep at the console to find it.

and its all find.  I still have warnings mentioned above so take note ?

[2021-02-27 20:01] novallis opened #23445 "Attribute in Multistore -Admin wrong"
Attributes in Multistore are not assigned to specific shop. Bug known at least from April 2020. See:

https://www.prestashop.com/forums/topic/1021118-multistore-different-attributes-for-shops-issue/

Prestashop 1.7.7.2

[2021-02-27 20:46] matks commented on #23444
Hi @juliemoynat in PR https://github.com/PrestaShop/PrestaShop/pull/23353/ (which has been merged in `develop` so you cannot see this on demo.prestashop.com), we use `aria-label`. Is that a suitable replacement for the use of `for` and `id` ?

[2021-02-27 22:12] mnick73 opened #23446 "Create customer account only with "-" sign"
#### Describe the bug

In version 1.7.7.2 you can create a customer account using only the "-" sign for the first and last name.

#### Expected behavior

I think a minimum of 3 characters is required.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. **BO**>**SELL**>**Customers**>**Customers**
2. Click on **Add new customer** button
3. Set **-** as **First name** and as **Last name**

[2021-02-27 22:12] matks commented on #22728
Will be done thanks to https://github.com/PrestaShop/phpstan-prestashop/pull/11 and https://github.com/PrestaShop/phpstan-prestashop/pull/9

[2021-02-27 22:14] matks commented on #23446
Hi @mnick73 there are many ways to create a customer in PrestaShop, can you describe which way you followed? In the `Steps to Reproduce` part

It would be best to simply complete the template 😉 so we have all the needed information

[2021-02-27 23:10] jeckyl commented on #23444
https://www.w3.org/WAI/tutorials/forms/labels/#using-aria-label
https://www.w3.org/WAI/tutorials/forms/labels/#using-aria-labelledby

Thanks @juliemoynat with your feedback regarding this crucial point in modern development.

personally, I never got used to using the for="" option because I always included my input in the label in order to save resources by reducing the source code, certainly a re

[2021-02-27 23:36] ricardoceci opened #23447 "MultiStore With Multi Currency Exchange Rate Manual Update"
#### Describe the bug

When you have multistore enabled, and different stores with different Default Currency, once you update the exchange manually in any store, it overrides the other stores exchange rate.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:
Let's say we have 3 Stores:
All Shops in Localization says that

[2021-02-27 23:56] djbuch commented on #22017
This problem is real !! Not depending on carriers but on an other problem.

We are currently having this issue (random) with three web sites from our customers.

It appears after investigation that it seems to be linked with address changes, when a customer already has something in his cart and changes the delivery address after and adds some other products, it sometimes creates this bug...

Could

[2021-02-28 05:31] mnick73 commented on #23446
hello,

I used the simple way on prestashop live demo site. See attached file,
[steps.zip](https://github.com/PrestaShop/PrestaShop/files/6056291/steps.zip)
 record with steps recorder.

[2021-02-28 09:43] juliemoynat commented on #23444
Hi @matks, I've read the PR and there is only two fields concerned by it if I read correctly so we can't consider that this PR fix my ticket. ;-)

I do not recommend the use of `aria-label` for several reasons:

- The first rule of ARIA is ["No ARIA is better than bad ARIA"](https://www.w3.org/TR/2019/WD-wai-aria-practices-1.2-20191218/#no_aria_better_bad_aria). If there is an HTML element for tha

[2021-02-28 14:35] forkyboy opened #23448 "Upgrade from 1.7.7.1 to 1.7.7.2 Error during database upgrade"
Hi

during the Upgrade from 1.7.7.1 to 1.7.7.2 using the 1 click upgrade version  4.12.0
MySQL version: 5.7.33
PHP version: 7.3.26-1

the file upgrade went well,
but when updating the DB it failed and roll back, this happened on the live PS and the dev PS, i can't quite figure out what happend.

here is the log

`[2021-02-24 09:44:47] Updating database schema...
[2021-02-24 09:44:47] 09:44:47 ERRO

[2021-02-28 17:29] seederp2p opened #23450 "TTFB over 1.0 seconds for 1.7.7.1 and 1.7.7.2"
Hi,

I'm having a TTFB with no less than 1.0 seconds (sometimes 2.0s or 3.0s). I run my prestashop on a VM with apache and mysql. This server is a dedicated server, so there are no other "shared" workloads there.  My VM has 32 cores and 32gb of RAM.

I already tried lots of things on the server side (changed Apache MPM, tried different values, etc).
I also tried to disable Prestashop modules do th

[2021-02-28 18:20] matks commented on #23450
Hi @seederp2p, "Performance is a subjective topic" as mentioned in https://build.prestashop.com/news/performance-and-prestashop/ so I'm afraid we wont be able to help you boost the perf of your server without looking at it. It's like trying to repair a phone but you cannot touch it. Someone needs to look at it closely, and this person needs to be paid.

So the only thing we can provide you:
- this

[2021-02-28 18:20] #23450 closed, assigned to nobody

[2021-02-28 18:40] seederp2p commented on #23450
Hi @matks I can't agree with you.

If you can point me a shop with 1.7.x.x with a TTFB < 1sec I would appreciate. I mean a real shop... not a demo, not a stripped down version of PS. Not a baby shop, a real shop!

If in the same server I can provide a wordpress with arround 400/500ms of TTFB and PS is higher 1 second or more it tells me that there's something with PS.

Of course we can do the easi

[2021-02-28 19:11] photinia73 commented on #23286
Yes. And if I wouldn`t looking for another error, I wouldn`t found this one...

[2021-02-28 19:27] kpodemski commented on #23450
I just checked two stores, two of them have TTFB < 1s

jezykiobce.pl
resibo.pl

[2021-02-28 19:50] seederp2p commented on #23450
Hi @kpodemski Thank you for your feedback.

Polish servers look great in terms of TTFB ;) However my store has a better overall loading speed according to GTMetrix.

I already created a topic on official. Without any reply: https://www.prestashop.com/forums/topic/1043773-how-to-get-the-best-performance/

Cheers

[2021-02-28 20:27] matks commented on #23450
@seederp2p I dont assume it's a server problem. What I however assume is that we will not able to find out the root of the issue without being able to access and modify your server settings. Do you think I can simply "troubleshoot" your shop by thinking very hard? 😄 Performance issues can be fixed by tracking and monitoring many metrics, and trying many things. So opening a github issue is pointle

[2021-02-28 20:32] matks commented on #23450
@seederp2p An expert in PrestaShop once told me, when he troubleshoots a shop, the very first things he checks is this:

1. Disable all modules. See if it helps. If yes, issue come from one module. Issues can also come from bad modules caching system, especially Smarty cache.
2. Disable the FO theme. See if it helps. If yes, issue come from the theme.
3. Check MySQL indexes, look for SQL tables wi

[2021-02-28 20:36] matks commented on #10185
@ks129 Good luck 😅 but we discussed this before: when you migrate this page to Symfony, you'll find many more items to do. This is a titan work.

1. Recreate dashboard page to Symfony
2. Big change: dashboard is usually the 1st page a logged in BO user visits. It used to be a legacy page, now it's a Symfony page. Might create unexpected issues.
3. All the modules hooked on this page will look bad

[2021-02-28 21:02] matks commented on #23447
Related to https://github.com/PrestaShop/PrestaShop/issues/12025

[2021-02-28 21:11] seederp2p commented on #23450
Yeah, I can confirm that I already did all the steps ;)

[2021-02-28 21:57] alfonsolr09 commented on #23259
Not the same. I mean google merchant center
@hibatallahAouadni

[2021-02-28 22:06] e-gaulue commented on #23299
Sorry,

There is so much ways to open an issue from github that Prestashop Team doesn't look to be informed sometimes we just don't get the template. It's what is happening when you use the tool "Reference in new issue" from a line in a github code page.

<img width="305" alt="Capture d’écran 2021-02-28 à 22 30 10" src="https://user-images.githubusercontent.com/4291874/109434226-9143b400-7a14-11eb

[2021-03-01 08:22] hibatallahAouadni commented on #23444
Hello @juliemoynat

What you suggest it's not a bug but it's an improvement and a good one.
Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , I agree with @juliemoynat that using the `for` and `id` combination for `label` and form fields is the more robust way to have accessible form fields, wdyt?

[2021-03-01 08:37] hibatallahAouadni commented on #23424
@arirangz glad to hear :tada:

[2021-03-01 09:06] hibatallahAouadni commented on #23446
Hello @mnick73

I just edit your issue description, could you please confirm the steps to reproduce are right.
Please check and feedback.

Thanks!

[2021-03-01 09:14] hibatallahAouadni commented on #23442
Hello @tiagondelgado

I didn't manage to reproduce your issue with PS1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/18bmz6MusvgoKsLMFZWUe45wmR_njurZA/view

Your error displayed that you have a missing hook, did you override the module?
Please check and feedback.

Thanks!

[2021-03-01 09:16] mnick73 commented on #23446
hello,

it is correct description.

thank you

[2021-03-01 09:34] hibatallahAouadni commented on #23448
Hello @forkyboy

**Please respect and follow the provided template to submit a complete bug report** and fill all the blocks :wink:

I didn't manage to reproduce your issue with the module **1-Click Upgrade** while upgrading my shop 1.7.7.1 to 1.7.7.2 without any problems, see the attached screen record below:

https://drive.google.com/file/d/1mjcfCss2RoRQURoRu5PNkOfRdhm8BCHq/view

Please check an

[2021-03-01 09:36] hibatallahAouadni commented on #23445
Hello @novallis

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-03-01 09:36] #23445 closed, assigned to nobody

[2021-03-01 09:45] Hlavtox commented on #23446
Be careful!! :D I personally know several asian people with names/surnames just 2 characters long, and apparently even 1 letter names exist. 👍
https://www.quora.com/Are-there-any-last-names-family-names-that-are-only-one-letter

[2021-03-01 09:46] matks commented on #23446
Very nice point 😄

[2021-03-01 09:56] Hlavtox commented on #23387
@hibatallahAouadni Ok, imagine you are expanding and expanding your product portfolio. Suddenly, you get to a point where the amount of products in categories is attacking thousands. The whole store slows down.

So you start organizing your products to big categories like **Sport & Outdoor**.
In this category, there are winter sports, fitness, camping stuff, cyclist stuff, ball sports, tennis stuf

[2021-03-01 09:57] mnick73 commented on #23446
a dynamic condition can be the solution. if one of the name fields contains one letter, the other must contain at least three.

[2021-03-01 09:59] Hlavtox commented on #23446
@mnick73 So what if my name is **Li E**?

[2021-03-01 10:04] mnick73 commented on #23446
@Hlavtox it is not ok to be able to register someone by name  --

[2021-03-01 10:06] Hlavtox commented on #23446
@mnick73 That's true, but we must keep **-** enabled, because some names contain it.

[2021-03-01 10:10] matks commented on #23446
I think I can find someone named Xu Li 😅

[2021-03-01 10:12] mnick73 commented on #23446
@Hlavtox  agree
@matks  agree

[2021-03-01 10:13] gennaris opened #23453 "Perform order status update with webservice does not trigger "stock movement" quantity deduction"
#### Describe the bug

Using webservices to update order status with the "**order_histories**" resource toward a shipped order
does not trigger the stock movement update (Catalog > Stocks) to deduct quantities.

#### Expected behavior

I expect the correct stock movement being registered (the same behaviour that happens when manually updating order status through backoffice).

#### Steps to Reprod

[2021-03-01 10:45] hibatallahAouadni commented on #23446
Hello everyone,

Thanks guys for the backup @matks @Hlavtox :rocket:
Well @mnick73 I think you're convinced now :sweat_smile:
So, I close the issue :wink:

Thanks!

[2021-03-01 10:55] mnick73 commented on #23446
I'm not convinced.
I'm agree with

-keep - sign
-accept first name or  last name with single letter

but
it is not ok to be able to register someone by name -- or AA  and so on.

thanks anyway

[2021-03-01 11:20] hibatallahAouadni commented on #23440
Hello @frankmasio

I just edit your issue description, could you please check it if it's correct.
And please next time **FOLLOW THE PROVIDED TEMPLATE TO SUBMIT A COMPLETE BUG REPORT**.
Please check and feedback.

Thanks!

[2021-03-01 11:21] #19362 closed, assigned to matthieu-rolland, marionf, Robin-Fischer-PS

[2021-03-01 11:31] hibatallahAouadni commented on #23446
Hello @mnick73

I agree with you :wink:
So, what you suggest is to improve the validation, is that so?
If so, I will reopen the issue as an improvement :wink:
Please feedback.

Thanks!

[2021-03-01 11:35] hibatallahAouadni commented on #23453
Hello @gennaris

Thanks for the detailed issue :clap:
Could you please check this issue #15976 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-01 11:38] mnick73 commented on #23446
Yes.

Thanks!

[2021-03-01 11:42] gennaris commented on #23453
Not really, in #15976 it is requested to expose all properties of the **ps_stock_available** table in webservice.

My problem is related to NOT writing stock movement (the table involved is **ps_stock_mvt**, although there is interaction with **ps_stock_available** too) when changing order state with WS.

The most typical scenario in which the bug I reported occurs is with third party integrations

[2021-03-01 11:45] hibatallahAouadni commented on #23446
Hello @mnick73

Ok, done :wink:
Thanks for the suggestion, the Developer Team will take a look.
Please stay tuned !

Ping @PrestaShop/prestashop-core-developers do you think it's a doable to add some extra validation on these fields **First name** and **Last name** when creating a customer in BO?

[2021-03-01 11:48] hibatallahAouadni commented on #23163
Hello @dandumit ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-01 11:48] #23163 closed, assigned to nobody

[2021-03-01 11:49] hibatallahAouadni commented on #23172
Hello @Fossil68 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-01 11:49] #23172 closed, assigned to nobody

[2021-03-01 11:50] hibatallahAouadni commented on #22756
Hello @ibrahimfsasmaz ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-01 11:50] #22756 closed, assigned to nobody

[2021-03-01 11:51] hibatallahAouadni commented on #23189
Hello @Flower7C3 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-01 11:51] #23189 closed, assigned to nobody

[2021-03-01 11:51] hibatallahAouadni commented on #23178
Hello @marketingmedia ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-01 11:51] #23178 closed, assigned to nobody

[2021-03-01 11:53] tiagondelgado commented on #23442
Hello, fix that using:

- Open the file /ROOT/classes/Hook.php
- find the function "getNameById"
- add "return true;" before the line
$cache_id = 'hook_namebyid_' . $hook_id;

now, the only problem is missing "Description field".

![image](https://user-images.githubusercontent.com/2129617/109493652-b839ce80-7a84-11eb-8529-3a1ae88a8ab3.png)

[2021-03-01 12:02] mmursalov opened #23454 "Clear Cache issue after upgrade 1.7.7.1 to 1.7.7.2"
Hi,

Performed upgrade using 1-Click Upgrade tool and it was successful. However, every time I clear the server cache via Admin, all Product images in the Front page gets corrupted. I can get them back if I regenerate, but the issue reappears if I clear the cache again.

Did not have this issue in the earlier release.

Any thoughts?

Thanks.

[2021-03-01 12:13] hibatallahAouadni commented on #23442
Hello @tiagondelgado

That's odd! I just uninstall and reinstall the module and the description field is well displayed:

![image](https://user-images.githubusercontent.com/23308427/109495505-a7db2100-7a8f-11eb-87cc-97b0039e14f3.png)

find the function `getNameById`
add `return true;` before the line `$cache_id = 'hook_namebyid_' . $hook_id;`

Did you undo your changes after installing the module?

[2021-03-01 12:51] forkyboy commented on #23448
Hello @hibatallahAouadni hibatallahAouadni

I found out the faulty 3rd party module and corrected the issue.

Question, I now need to redo the upgrade in order to upgrade the DB but now i cant because the files are already updated,
can you let me know how to relaunch the upgrade from scratch or how to upgrade the DB ?

[2021-03-01 12:58] loulou2852 commented on #23317
Hello @[**hibatallahAouadni**](https://github.com/hibatallahAouadni)

**I'm not working for this company anymore.**

**I don't know if it was corrected or not.**

**Regards**

[2021-03-01 12:58] #23317 closed, assigned to nobody

[2021-03-01 12:59] hibatallahAouadni commented on #23454
Hello @mmursalov

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-03-01 12:59] #23454 closed, assigned to nobody

[2021-03-01 13:13] prestascott commented on #22801
Hello,

I reopened this issue because I forgot to add my mockups. Also because there is some adjustments to do on @NeOMakinG's PR.

As you can see on this screenshot below, alerts don't have the same padding left and right than the container above. Alerts must be aligned.
![Capture d’écran 2021-03-01 à 14 06 49](https://user-images.githubusercontent.com/54888056/109501240-a0b81100-7a97-11eb-9de2

[2021-03-01 13:22] MAramex opened #23455 "Invalid Security Token"
Hello everyone,

Here is Mohammad from Aramex support team, we are facing an issue and we need your assist.
In our shipping module “Aramex Shipping Module” we are facing an invalid security token problem,
this issue occurs in Prestashop 1.7.7.0 & 1.7.7.1.
We tried couple of solutions from our side but the problem still exist, we also checked whether
there is a change in the token but there is not.

[2021-03-01 13:30] e-gaulue opened #23456 "Add a way to truncate string in twig as we could under smarty"
#### Is your feature request related to a problem?

No integrated function to truncate in twig. Was included in smarty.

#### Describe the solution you'd like

The u filter is part of the StringExtension which is not installed by default. Install it first:
`composer require twig/string-extra`

Then, use the twig/extra-bundle on Symfony projects or add the extension explicitly on the Twig environme

[2021-03-01 13:32] MassimoGS3 opened #23457 "Logger Issue"
#### Describe the bug

Prestashop Log page stop to work ex

#### Expected behavior

The log page stopped working unexpectedly

#### Steps to Reproduce

I can't reproduce the step for this bug

**Screenshots**

![image](https://user-images.githubusercontent.com/76114491/109503744-ef1adf00-7a9a-11eb-8425-9064a9d017dc.png)

#### Additional information

* PrestaShop version: 1.7.5.2
* PHP version: 7.2

[2021-03-01 13:41] seederp2p opened #23459 "Admin Order Edit - Changing Carrier - Not showing all carriers"
Hi!
#### Describe the bug
So I upgraded from 1.7.6.9 to 1.7.7.1 and I just noticed that when I try to change an order that was made on the previous version, only 2 carriers are shown at the admin order page -> carriers -> edit.

All the new ones show all the carriers it's supposed to show.

#### Steps to Reproduce

1. Make an order with 1.7.6.9.
2. Upgrade to 1.7.7.1
3. Try to change the carrier o

[2021-03-01 13:47] hibatallahAouadni commented on #23447
Hello @ricardoceci

Could you please check this issue #17663 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-01 13:47] hibatallahAouadni commented on #17663
Related to #12025

[2021-03-01 13:52] hibatallahAouadni commented on #23455
Hello @MAramex

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-03-01 13:52] #23455 closed, assigned to nobody

[2021-03-01 13:52] #23423 closed, assigned to kpodemski

[2021-03-01 13:52] e-gaulue commented on #23456
`string-exrta`  is the tool we need but Prestashop still support PHP 7.1 that string-extra doesn't.

So here is another alternative: dzango/twig-truncate-bundle: https://packagist.org/packages/dzango/twig-truncate-bundle

Another solution would be to create a new twig extension, but it looks it already exists.

Regards,

[2021-03-01 13:57] hibatallahAouadni commented on #23457
Hello,

I didn't manage to reproduce your issue. And it seems you need help with your shop, so please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Thank you

[2021-03-01 13:57] #23457 closed, assigned to nobody

[2021-03-01 14:01] madsoliver opened #23460 "AdminAccesses select-boxes greyed out if not found in database"
#### Describe the bug
For some modules checkboxes in `AdminAccessController` are `disabled` and therefore not possible to select:

![Screenshot 2021-03-01 at 14 54 24](https://user-images.githubusercontent.com/30602638/109507338-ec21ed80-7a9e-11eb-959d-9f449f98c10d.png)

This can be any modules, also native ones like `ps_faceted_search`.

#### Expected behavior
All checkboxes should be selectable.

[2021-03-01 14:06] obeba commented on #22386
Hello after a fresh 1.7.7.2 install, import all old order, it's impossible to open old orders.

[https://www.pharmadiff.eu/bug_ancienne_commande_prestashop.jpg](url)

The problem is solved when I comment:

foreach ($history as $item) {
            $statuses[] = new OrderStatusForViewing(
                (int) $item['id_order_history'],
                (int) $item['id_order_state'],

[2021-03-01 14:09] madsoliver opened #23461 "Modules showing up as blank rows in AdminAccessController for deleted modules"
I don't know what has caused it, if the modules were deleted without being uninstalled, or what happened, but in many PrestaShop installations I have seen the following: blank lines in `AdminAccessController`, and if you turn on debug, you get undefined indexes: `id_module` and `name`.

![Screenshot 2021-03-01 at 14 54 15](https://user-images.githubusercontent.com/30602638/109507777-5d61a080-7a9f-

[2021-03-01 14:09] frankmasio commented on #23440
thank you yes

[2021-03-01 14:17] hibatallahAouadni commented on #23456
Hello @e-gaulue

Thanks for the suggestion, the Developer Team will take a look.
Please stay tuned !

Ping @PrestaShop/prestashop-core-developers  , what do you think, is it doable?

[2021-03-01 14:34] matks commented on #23446
Yes, you'll find some rules already implement in https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/ConstraintValidator/CustomerNameValidator.php

But I dont know if it's really interesting to _block_ people who want to register as `-` . I mean... if they really want to input something with no sense, it's their problem 😅  ?

And it's an `improvement` indeed, not a bug. It would be a bu

[2021-03-01 14:44] Progi1984 opened #23462 "Migrate tests-legacy directory to tests directory"
- [x] Migrate create-test-db command
  - #25843
- [x] Migrate `phpunit-legacy` (Tests: 948, Assertions: 3219) => :wave:
  - #24095
  - #24121
  - #24188
  - #25127
  - #25238
- [x] Migrate `phpunit-admin` (Tests: 155, Assertions: 275) => :wave:
  - #25238
- [x] Migrate `phpunit-sf` (Tests: 25, Assertions: 104) => :wave:
  - #25127
- [x] :x: Migrate `phpunit-endpoints` (Tests: 16, Assertions: 31)
-

[2021-03-01 14:51] hibatallahAouadni commented on #23460
Hello @onklmaps

Could you reproduce the issue with any native modules?
Please check and feedback.

Thanks!

[2021-03-01 14:55] hibatallahAouadni commented on #23461
Hello @onklmaps

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **YOU MUST FOLLOW THE TEMPLATE TO SUBMIT A COMPLETE BUG REPORT**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-03-01 14:55] #23461 closed, assigned to nobody

[2021-03-01 14:56] hibatallahAouadni commented on #23460
Related to #23461

[2021-03-01 14:56] prestascott commented on #23320
Hey everyone!

@LouiseBonnard Which content in the front office can be duplicated by enabling both installed modules? Do you have a screenshots so I can see what it looks like please? ^^

If there's still some duplicated contents, we must prevent users by using correct wording in GDPR module's page and Data Privacy module's page.

[2021-03-01 15:02] hibatallahAouadni commented on #23448
Hello @forkyboy

Ping @PrestaShop/prestashop-core-developers could someone please answer @forkyboy questions :pray:

[2021-03-01 15:18] #23403 closed, assigned to PierreRambaud

[2021-03-01 15:20] hibatallahAouadni commented on #23440
Hello @frankmasio

You can edit your issue description and title by yourself :wink:
I didn't manage to reproduce your issue with PS1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/1tfwlTQ2mDEOCz12umTwUaM_Tk4v7HDA2/view

Please check and feedback.
Thanks!

[2021-03-01 15:27] matks commented on #23462
Hi @Progi1984 what does it mean "Migrate tests-legacy directory to tests directory" ?

You can find in https://github.com/PrestaShop/PrestaShop/blob/develop/tests-legacy/README.md the reason why we have `tests-legacy` and `tests`. We wanted to keep them split. Do you want to merge them? 😄

[2021-03-01 16:45] onklmaps commented on #23460
Hi,
Yes, I had this problem with ps_faceted_search.

[2021-03-01 16:54] hibatallahAouadni commented on #23460
Hello @onklmaps

Thanks for your feedback.
So, could you please edit your issue description following the template :wink:

Thanks!

[2021-03-01 17:26] matks opened #23465 "Release 1.7.7.3"
This issue tracks the status of the PrestaShop 1.7.7.3 release

### Information

Q                                    | A
-----------------------|---------------
**Type**                        | Patch version
**Estimated build**  | 2021-03-22
**Estimated release**  | 2021-04-05
**Milestone** | [1.7.7.3](https://github.com/PrestaShop/PrestaShop/milestone/71)
**Kanban** | [1.7.7.3](https://github.c

[2021-03-01 18:30] atomiix commented on #23448
@forkyboy you need to rollback and do the upgrade again.

[2021-03-01 19:15] hibatallahAouadni commented on #23459
Hello @seederp2p

I didn't manage to reproduce your issue. I upgraded my shop 1.7.6.9 to 1.7.7.1 after creating another carrier and new order. After the upgrade, I edit my Order and I change the carrier (all available carriers are well displayed), see the attached screen record below:

https://drive.google.com/file/d/1UAFAEdv4znjTmbybYRQrnpHZXotlbNGg/view

Please check and feedback.

Thanks!

[2021-03-01 19:17] seederp2p commented on #23459
Hi!

I can see that.

However the two common things here is:
1 - Date : everything before the upgrade don't show all the carriers
2 - The carriers :  the ones I can see on those orders are only the "free shipping" ones. If I change them to paid it won't appear anymore.

[2021-03-01 19:18] hibatallahAouadni commented on #23448
Hello everyone,

Thanks @atomiix for your quick reply :rocket:
@forkyboy could you please rollback and upgrade, then check if you still encounter any issue.
Please check and feedback.

Thanks!

[2021-03-01 19:21] hibatallahAouadni commented on #23459
Hello @seederp2p

Thanks for your quick feedback.

In my case, I can see all carriers, whether free or paid. It seems you issue related to some third module or an override.
Please check and feedback.

Thanks!

[2021-03-01 19:26] seederp2p commented on #23459
Hi!
Well I just disabled all overrides and non native modules, and I get the same behaviour.

[2021-03-01 19:34] hibatallahAouadni commented on #23312
Hello @maofree

So, to reproduce the issue, I need to override the GDPR module as follow:

1. add a `div`
2. Set its `id=gdpr_consent`
3. Set its `class=gdpr_consent_88`
4. FO> Contact page
5. See error

If these are the steps, so the problem is related to override the module not in the module, is that so?
If not, then I didn't manage to reproduce the issue with PS1.7.7.2 and GDPR v1.2.1, see the

[2021-03-01 19:37] hibatallahAouadni commented on #23378
Hello @qualityangel

Which was your previous version? cause you seems you mistaped :sweat_smile:
Did you encounter any errors or warnings while upgrading?
Please check and feedback.

Thanks!

[2021-03-01 19:47] hibatallahAouadni commented on #23459
Hello @seederp2p

Unfortunally the PS options **Disabled non PrestaShop modules** and **Disabled all overrides** is not working :sweat:
You can check these issues #14596 & #9965

So, you need to disabled (comment) all your override manually and to disabled all you non PS modules one by one (**BO**>**IMPROVE**>**Modules**>**Module Manager**).
Please check and feedback.

Thanks!

[2021-03-01 19:49] hibatallahAouadni commented on #23299
Hello @e-gaulue

Thanks for your feedback.
Could you please edit your issue's description and then notify me to reopen the issue :wink:

Thanks!

[2021-03-01 19:55] seederp2p commented on #23459
Ok.

What would be the best way to disable the overrides?

[2021-03-01 20:22] seederp2p commented on #23459
Ok.

I just disabled all non native modules and deleted overrides.

Same thing.

Can you enlighten me, what kind of query does prestashop to show the carriers? I find it very odd that only free carriers show up.

[2021-03-01 21:06] hibatallahAouadni commented on #23459
Hello @seederp2p

Could you please provide a screen record showing your carriers and the Order.

Thanks!

[2021-03-01 21:25] forkyboy commented on #23448
@atomiix  thx,

what if i wait for the next upgrade 1.7.7.3 ? will the DB will be upgraded ? or do i need to rollback to 1.7.7.1 before ?

[2021-03-02 00:14] costads opened #23468 "New message/order/customer notification bubble not updated live"
### Describe the bug
New message/order/customer notification bubble is not updated live, without refreshing the browser

### Expected behavior
I expected a notification bubble number on either a new message/customer/order without refreshing the browser like in 1.7.6 and previous years versions.

### Steps to Reproduce
Open frontpage of BO, and notice the notification bubbles does not update the nu

[2021-03-02 00:43] Marcelozippo opened #23469 "when I use the search engine, with some words I get error 500"
Hello when I use the search engine, with some words I get error 500.
I share video, also in the video is the debug screen.
https://drive.google.com/file/d/1GZCCqvZ7-WWt84zpIWVhr8hMn5l4zYTI/view
PHP 7.3
1.7.7.2
Maria 10.3
VPS
cpanel with engintron
warehouse
https://www.cotillonunpocoloco.com/

Thanks

[2021-03-02 08:26] hibatallahAouadni commented on #23448
Hello @forkyboy

I think @atomiix meant that you need to rollback and upgrade again to 1.7.7.2
@atomiix correct me if I'm wrong :wink:

Thanks!

[2021-03-02 08:30] forkyboy commented on #23448
the reason im asking is because a lot of work was done since the failled DB upgrade and i rather not rollback and loose all this work,

so if i could wait 1.7.7.3 and upgrade then, that will be good, i just need to know if it will update the DB properly.

[2021-03-02 08:35] hibatallahAouadni commented on #23468
Hello @costads

Could you please check this [comment](https://github.com/PrestaShop/PrestaShop/issues/23399#issuecomment-786800719) it may resolve your issue.
Please check and feedback.

Thanks!

[2021-03-02 08:36] atomiix commented on #23448
@forkyboy if you wait for 1.7.7.3, the database upgrade will only migrate from 1.7.7.2 to 1.7.7.3, it won't migrate from 1.7.7.1

[2021-03-02 08:42] forkyboy commented on #23448
@atomiix  thank you,

is there a way to achieve a rollback without loosing all work/order that were done after the failled DB upgrade ?

[2021-03-02 08:51] carlfriedrich commented on #18938
@Progi1984 So would you accept a merge request to fix this in 1.7.7.x?

[2021-03-02 09:02] hibatallahAouadni commented on #23469
Hello @Marcelozippo

I tried make a search on your web site and it works, see the attached screen record below:

https://www.awesomescreenshot.com/video/2918158?key=ba7cff4f2c25d97672fe6316cee23c49

And please next time **follow the provided template to submit a complete bug report**.
It seems your issue is random and not related to PS Core.

So, I close the issue cause we use GitHub issues only t

[2021-03-02 09:02] #23469 closed, assigned to nobody

[2021-03-02 09:24] simbus82 commented on #22758
Hi @Dar-us-Salam, how did you upgrade ICU?

In standard servers with CPanel, changing the default ICU of php 7.3 (icu 4.x) is impossibile, it is tied to the system and it is needed a new compile of php (that can't be done so easely in a production server).

I don't understand why Prestashop 1.7.7.x need an ICU that can't be found "standard" in PHP 7.3 and PHP 7.2, the only ICU supported is in PHP

[2021-03-02 09:26] PierreRambaud commented on #23456
Afaik, you're able to add it to your module and register these twig extensions.
Otherwise, I'm not sure it should be included in the Core if we don't need it :thinking:

[2021-03-02 09:40] simbus82 commented on #22989
I have a PHP 7.3 with old ICU and php 7.4 with supported ICU.

It's a standard CPanel/Cloudlinux server with the famous PHP Selector and EasyApache 4.
PHP 7.3 is compiled with an ICU <4.6, why Prestashop did this thing?
90% of PHP 7.x early adopter have ICU <4.6.

And this in not mentioned in requirements, and we don't see any warning during installation.

Now i have a shop with 1.7.7.1 that i can

[2021-03-02 09:40] #22435 closed, assigned to NeOMakinG

[2021-03-02 09:41] atomiix commented on #23448
@forkyboy as the purpose of a rollback is to get back to state **before** the upgrade happened, I guess there is no easy way to do so.

[2021-03-02 09:42] NeOMakinG commented on #23444
Hello @juliemoynat and finally, thanks for creating this issue :)

I'm currently working on it and here is a list of which inputs doesn't have any accessible labels :

- Login form inputs could have a for + id combination instead of aria-label
- Register form inputs could have a for + id combination and some are even missing aria-labels such as password and checkboxes
- Checkout forms got aria lab

[2021-03-02 09:42] simbus82 commented on #22300
I have a PHP 7.3 with old ICU and php 7.4 with supported ICU.

It's a standard CPanel/Cloudlinux server with the famous PHP Selector and EasyApache 4.
PHP 7.3 is compiled with an ICU <4.6, why Prestashop did this thing?
90% of PHP 7.x early adopter have ICU <4.6.

And this in not mentioned in requirements, and we don't see any warning during installation.

Now i have a shop with 1.7.7.1 that i can

[2021-03-02 09:47] matks commented on #17412
ping @JevgenijVisockij I guess it can be embedded in the migration of the page ? 😉

[2021-03-02 09:47] forkyboy commented on #23448
What about upgrading the DB manually ? @atomiix   i cant find the changes made with DB in the changelog, can you enlight me on that ?

[2021-03-02 09:48] Progi1984 commented on #21030
@hibatallahAouadni OK for closing

[2021-03-02 09:48] #21030 closed, assigned to kpodemski

[2021-03-02 09:49] jeckyl commented on #23444
What is the justification for not using input inclusion or code for="" ?

[2021-03-02 09:57] NeOMakinG commented on #23444
Where did you see that we'll not use for + id combination ? I wrote that we'll implement it !

[2021-03-02 10:02] jeckyl commented on #23444
![Screenshot_2021-03-02 Fix classic theme images width, accessibilty and some lighthouse improvements by NeOMakinG · Pull Req](https://user-images.githubusercontent.com/595633/109631842-aae51880-7b46-11eb-8f74-b65cf9ede298.png)

I'm just reading the code you're giving us

[2021-03-02 10:05] Nesta78 opened #23470 "Multistore wrong email recipient"
#### Describe the bug

Hi,

I'm using Multistore mode.
I setup several emails contacts (1 for each shop). But when a customer send a message from order details, the email is received at the wrong recipient ==> It's always sent to the main shop email address.
#### Expected behavior

The order message sent by the customer should arrive to the email address setted up in BO.
#### Steps to Reproduce

S

[2021-03-02 10:06] NeOMakinG commented on #23444
@jeckyl Yes that a previous PR, I'll modify it ;)

[2021-03-02 10:07] hibatallahAouadni commented on #23444
@NeOMakinG so shall we change the issue label to **`To Do`** or do we need the PM approval?

[2021-03-02 10:07] Morph21 opened #23472 "500 Internal Server Error - when trying to fetch currencies from API"
#### Describe the bug

I called an API endpoint "api/currencies?output_format=JSON&display=full"

Which resulted in HttpStatus code: 500. Response body message looks like that:

[code]

Full url was hidden by me for security reasons.

#### Expected behavior

I expect that this endpoint will work. (If you drop the output_format parameter then the response body don't have any errors and status code

[2021-03-02 10:09] NeOMakinG commented on #23444
@hibatallahAouadni I don't think PM approval is needed as it doesn't change any visible behavior and shouldn't break anything, we can put the To Do label!

[2021-03-02 10:14] hibatallahAouadni commented on #23472
Hello @Morph21

Could you please check these issues #18865 & #16760 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-02 10:15] MAramex opened #23474 "Invalid Security Token"
#### Describe the bug
I'm currently facing "Invalid Security Token" issue, this problem arise whenever I try to use a shipping module functionalities,
this module functionalities are located in the order page and when I try to use them this issue occur.

#### Expected behavior
The expected behavior is to be able to use this module to create shipments for the orders without getting the "Ivalid Secu

[2021-03-02 10:16] matks commented on #22300
@simbus82

Do you have official informations about this ? Because ICU 4.6 was released in 2011. 10 years ago. I am very surprised you say 90% of PHP 7.x early adopter have ICU <4.6.

We rely on INTL_IDNA_VARIANT_UTS46 which is a constant used by PHP. See the details on https://www.php.net/manual/en/function.idn-to-ascii.php . Previous constant INTL_IDNA_VARIANT_2003 has been deprecated.

Today, an

[2021-03-02 10:25] atomiix commented on #23448
You can see the SQL scripts in `install-dir/upgrade/sql/` but there's also a doctrine migration so you'd have to check if there has been changes in entities between 1.7.7.1 & 1.7.7.2.

[2021-03-02 10:38] Morph21 commented on #23472
Hello @hibatallahAouadni

I don't see how these issues are similar to mine.
I'm getting errors with different status code, caused in different files (WebserviceOutputJSON.php vs PSWebServiceLibrary.php)

And I'm getting the result which I want which is in currencies in response body. But also I'm getting status code 500 which I'm not getting while parameter output_format=JSON is not there.

[2021-03-02 10:44] JevgenijVisockij commented on #17412
Of course, I see no reason it couldn't be

[2021-03-02 10:48] Morph21 commented on #23472
I looked into that code and it's possible that this bug was fixed in this commit: https://github.com/PrestaShop/PrestaShop/commit/6c9decc5c9c0b8f43ad10b057ebd088646001447

I will close this issue if it will happen to be true (once a client of mine will upgrade his version)

[2021-03-02 11:06] onklmaps commented on #23460
Hi @hibatallahAouadni 🙂

Edited.

[2021-03-02 11:08] hibatallahAouadni commented on #23470
Hello @Nesta78

Could you please edit your issue description **following the provided template to submit a complete bug report**. Follow these steps to find the template:

1. Click on **New issue** button

![image](https://user-images.githubusercontent.com/23308427/109639615-af61ff00-7b4f-11eb-9568-1f2c3780b6e1.png)

2. Click on the **Get Started** of **Bug Report**

![image](https://user-images.g

[2021-03-02 11:08] hibatallahAouadni commented on #23474
Hello @MAramex

Could you please edit your issue description **following the provided template to submit a complete bug report**. Follow these steps to find the template:

1. Click on **New issue** button

![image](https://user-images.githubusercontent.com/23308427/109639615-af61ff00-7b4f-11eb-9568-1f2c3780b6e1.png)

2. Click on the **Get Started** of **Bug Report**

![image](https://user-images.g

[2021-03-02 11:15] Nesta78 commented on #23470
Sorry, must be ok now ?

[2021-03-02 11:19] madsoliver opened #23477 "No access to AdminQuickAccess for non-superadmin and not possible to give access through AdminAccess"
#### Describe the bug

An employee that is not superadmin is not able to access `AdminQuickAccess`.
![Screenshot 2021-03-02 at 12 12 57](https://user-images.githubusercontent.com/30602638/109640446-c7864e00-7b50-11eb-8f4c-4b971af954f8.png)

Setting permissions for the employee profile is not possible since there is no  `AdminQuickAccess` selectable in `AdminAccess`. Probably because it is not a no

[2021-03-02 11:20] MAramex commented on #23474
Hello,

Can you please check now.

Thank you
From: Hibatallah Aouadni <notifications@github.com>
Sent: Tuesday, March 2, 2021 1:09 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: Mohammad AlJamal (JO) <MohammadAlJama@aramex.com>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Invalid Security Token (#23474)

External email: avoid to open links or attachm

[2021-03-02 11:21] MAramex commented on #23474
Hello,
All done can you check it now please.
Thank you.

[2021-03-02 11:23] PierreRambaud commented on #23474
The problem probably come from your `Click Prepare Shipment (one of the module functionalities).` the module generate URL without considering the token in the URL (I think)

[2021-03-02 11:31] hibatallahAouadni commented on #23472
Hello @Morph21

I didn't reproduce it with PS1.7.6.7 and PS1.7.7.2, see the attached screenshots below:

###  1.7.6.7
![image](https://user-images.githubusercontent.com/23308427/109642212-f4d3fb80-7b52-11eb-8d73-69931d66ebb3.png)

### 1.7.7.2
![image](https://user-images.githubusercontent.com/23308427/109642245-ff8e9080-7b52-11eb-8edc-e28ce852d00f.png)

I only reproduce it with PS1.7.5.2, it means

[2021-03-02 11:31] #23472 closed, assigned to nobody

[2021-03-02 11:33] seederp2p commented on #23459
FYI yesterday I upgraded to 1.7.7.2 but this issue is still present.

All the orders older than 27 of february only show free carriers.

[2021-03-02 11:34] hibatallahAouadni commented on #23472
Edit: I think it has been fixed while migration, see the attached screenshot below:

### 1.7.6.1
![image](https://user-images.githubusercontent.com/23308427/109642712-9eb38800-7b53-11eb-8b18-883044f9c5d4.png)

Thanks!

[2021-03-02 11:37] hibatallahAouadni commented on #23459
Hello @seederp2p

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a related to your store.

We will close this issue.

If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [comm

[2021-03-02 11:37] #23459 closed, assigned to nobody

[2021-03-02 11:52] qualityangel commented on #23378
We have upgraded from 1.7.7.1 with no errors in the upgrade. It seems a caching problem. after same time this week, it seems more en more less that it happens.

[2021-03-02 12:25] Morph21 commented on #23472
Thank you for your help. Keep up the good work :)

[2021-03-02 14:03] hibatallahAouadni commented on #23477
Hello @onklmaps

I tried to grant such permission to other groups but it seems there's no `QuickAccess` option in **BO**>**CONFIGURE**>**Advanced Parameters**>**Team**>**Permissions**>**Logistician**. So, it's normal to have that **Access denied** message.

It'll be better if we ask the Product Team if we could add this feature as an improvement :wink:

Ping @PrestaShop/product-team can we add the

[2021-03-02 14:05] onklmaps commented on #23477
@hibatallahAouadni agreed 👍

[2021-03-02 14:06] maofree commented on #23312
Hi
check better what I have written
the inpunt ID are right, the problem is on another div

id="gdpr_consent" of the container of that input
it should follow the same rule of the input select by you

![2](https://user-images.githubusercontent.com/653230/109660050-b0535a80-7b68-11eb-8237-95e3ee3336a0.png)

[2021-03-02 14:15] Julievrz opened #23479 "Harmonize the wording for notifications"
#### Is your feature request related to a problem?

The wording for notifications (new orders, messages, customers) is different depending on the page the user is on.

#### Describe the solution you'd like

I would like to harmonize the wording following @prestascott's [idea](https://github.com/PrestaShop/PrestaShop/pull/22519#issuecomment-788020413):

Delete 'New' and 'Latest' to keep only 'Order

[2021-03-02 14:27] hibatallahAouadni commented on #23312
Hello @maofree

Thanks for your feedback!
Yes, I reproduce the issue with PS1.7.7.2 and GDPR v1.2.1, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/109661017-d1687b00-7b69-11eb-826e-5cac77c996e8.png)

But I can't tell if this issue impacted any of the functionality of the module.
Ping @PrestaShop/prestashop-core-developers any idea?

[2021-03-02 14:44] Progi1984 commented on #23372
Fixed by #23388

[2021-03-02 14:44] #23372 closed, assigned to NeOMakinG

[2021-03-02 14:45] costads commented on #23468
Thanks for the tip, but I tried that without luck.

[2021-03-02 14:48] hibatallahAouadni commented on #23299
Hello @e-gaulue

Thanks for your issue.
I reproduce the issue with PS1.7.7.2 and PS1.7.6.7, see the attached screen record below:

https://drive.google.com/file/d/1MmAE2lUzaVI6DZZ87YCdKXi5j6tRXUhq/view

I think it's not a bug, it's an improvement and good one :rocket:
Let's ping the Product Team, stay tuned!

Ping @PrestaShop/product-team I think it'll be better if we could add an error message sa

[2021-03-02 15:04] #23402 closed, assigned to PierreRambaud

[2021-03-02 16:01] e-gaulue commented on #23456
Here is my experience:

I used to follow Prestashop team advice regarding working around Prestashop through modules, but it was an important break. So I decided to work directly on the core. With 1.5, it was hard to maintain (with three ways merge), so for a long time, I did work directly with the core when it was really helpful and with modules otherwise. Then Prestashop has moved to git and work

[2021-03-02 16:16] seederp2p opened #23481 "Admin Order Edit - Changing Carrier - Not showing all carriers if you remove associated Cart"
Hi!

### Steps to Reproduce

1. Delete a cart that is associated with a order
2. Try to change the carrier of that order.
3. You won't see all carriers.
4. You'll get carriers that are FREE shipping.

There are LOTS of paid modules that remove old carts. So I think the behaviour of this feature should be to allow the admin to change the carrier for whatever carrier he wants and NOT validate anythi

[2021-03-02 16:49] #23233 closed, assigned to sowbiba

[2021-03-02 16:57] matks commented on #23456
Hi @e-gaulue you're right to raise this point. This is indeed a very gray area.

When we accept a contribution inside the project, this means many things:
- we accept and value the contribution and its author
- we accept to maintain the new behavior for the future

This is why sometimes we reject some contributions. Each Pull Request in the project that was not planned, each suggestion for a contr

[2021-03-02 17:03] etsmes opened #23482 "Decimals of prices are always zero"
#### Describe the bug

The decimals of the prices are shown wrong, it only shows two zeros, but in the database it is fine.

For example, in the database I have a shipping cost of 2,47 €, if we add 21% VAT it results in 2,99 €. But on the web, in the shopping cart, shows 2,00 €

The same thing happens in the 3 languages ​​that I have configured.
It happens with the prices of the products. With the

[2021-03-02 18:05] Shoprunners commented on #20156
Hi,
as stated out by matks, unit_price_impact entry is not really userfriendly and if you want to use it as it is, you should create a Excel table with some formulars...
BUT: there is a bug in the code as well:

Class "Product", method "getProductProperties"
around row 4950

replace
`  if (0 != $combination->unit_price_impact && 0 != $row['unit_price_ratio']) {

            $unitPrice = ($row['pri

[2021-03-02 19:31] etsmes commented on #23482
I have temporarily fixed it by forcing the formatPrice function of locale.php

return number_format($number, 2, ',', '.').' €';

[2021-03-02 22:02] e-gaulue commented on #23299
Hi all,

I wouldn't call that an `improvement`, or all the validation tests in this code are useless:
https://github.com/PrestaShop/PrestaShop/blob/0e493eaa715fc16ac8de4e924bc691cfaa78f6f6/controllers/admin/AdminProductsController.php#L2533-L2535
https://github.com/PrestaShop/PrestaShop/blob/0e493eaa715fc16ac8de4e924bc691cfaa78f6f6/controllers/admin/AdminProductsController.php#L909-L911
https://gi

[2021-03-02 22:03] md2158 opened #23484 "Customer registration error"
#### Describe the bug

Customer registration has a bug. If a new customer registered, the page goes to an infinite loop. The console network shows the post request as pending, while customer data already saved in the database.  But if a customer already exists it responds immediately. I had tested this in the default PrestaShop theme.

#### Steps to reproduce

1. Go to create a new customer/user p

[2021-03-02 22:35] e-gaulue commented on #23456
Hi @matks,

I know all that, and I totally agree with you. So, with this in mind, the best solution is to wait Prestashop to stop support PHP 7.1 and 7.2 and then to add `twig/string-extra` if it's not yet included in twig. It looks to be an important package, directly documented in the twig official documentation (v>=2.12.1).

Regarding the fact to have code not always useful, it needs to be disc

[2021-03-03 00:16] shortymc opened #23485 "Création de produits vide"
Franchement ce bug est insupportable.
J'espère que vous allez vite le régler car il décridibilise prestashop
 Des produis vides apparaissent sur la page d'accueil et il est impossible de les enlever.
Et ce bug persiste versions après versions.

https://www.prestashop.com/forums/topic/997748-bug-cr%C3%A9ation-produits-vides/

[2021-03-03 08:14] matks commented on #23485
Bonjour, si ce bug vous est insupportable, alors vous ne verrez pas de problème à payer un professionnel pour le corriger et soumettre un correctif à ce projet opensource ? Je pense que c'est la manière la plus efficace de le corriger.

Par ailleurs je suis désolé mais sur ce repository GitHub, nous devons utiliser l'anglais afin que les utilisateurs de PrestaShop du monde entier puissent particip

[2021-03-03 08:14] #23485 closed, assigned to nobody

[2021-03-03 08:17] hibatallahAouadni commented on #23468
Hello @costads

I didn't reproduce your issue with PS1.7.7.1 and PS1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/1BxjAu-USWaz-qgf1Z24IiZcWSyejd55a/view

After a minute the notification appeared :wink:
Please check and feedback.

Thanks!

[2021-03-03 08:17] matks commented on #23485
@shortymc Je suis désolé mais sur ce repository GitHub, nous devons utiliser l'anglais afin que les utilisateurs de PrestaShop du monde entier puissent participer. Je ferme cette issue, n'hésitez pas à en réouvrir une en anglais en suivant le modèle pour les bugs : https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md

[2021-03-03 08:19] kpodemski opened #23486 "Wrong cover image for product in block wishlist"
#### Describe the bug

Block wishlist has wrong cover images for products added to wish list

#### Expected behavior

We should see cover respecting selected combination

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install blockwishlist v2.0.0 (dev branch)
2. composer install
3. yarn
4. Add T-shirt white to wishlist
5. Add T-shirt black to wishlist
6. See that cover images are wr

[2021-03-03 08:23] hibatallahAouadni commented on #23378
Hello @qualityangel

Exactly, cause I upgraded my shop 1.7.7.1 to 1.7.7.2 and I didn't encounter this issue.
Well, it seems your issue is not related to PS Core. So, we need to close the issue :wink:

Thanks!

[2021-03-03 08:23] #23378 closed, assigned to nobody

[2021-03-03 08:31] valentin-anamorphik commented on #23398
It's complicated to update PrestaShop !

Maybe a solution without updating ?

@PrestaShop/prestashop-core-developers @PrestaShop/prestashop-maintainers

[2021-03-03 08:37] matks commented on #23398
It can be complicated but it is necessary to benefit from essential deliverables such as security issue patches and php compatibility increase 😉

If you want to venture into the world of "modifying my PS 1.7.6 to benefit from bugfixes from PS 1.7.7 without updating" you can but I will close this issue 😉  as we use GitHub issues only to discuss about bugs and new features for the PrestaShop project

[2021-03-03 08:37] #23398 closed, assigned to nobody

[2021-03-03 08:42] valentin-anamorphik commented on #23398
This issue is not a bug ???? 😂

[2021-03-03 08:45] hibatallahAouadni commented on #23481
Hello @seederp2p

Could you please provide your PS version? was it 1.7.6.7 or 1.7.7.1?

Thanks!

[2021-03-03 08:46] matks commented on #23398
@valentin-anamorphik this issue is fixed on PS 1.7.7 😉  https://github.com/PrestaShop/PrestaShop/issues/9932

[2021-03-03 08:51] valentin-anamorphik commented on #23398
@matks Thank you to release a version with bug...

[2021-03-03 08:53] matks commented on #23398
@valentin-anamorphik I think you dont understand how a massive software like PrestaShop evolves 😄  . No worries, a lot of people are confused.

Everything is explained here https://m.signalvnoise.com/software-has-bugs-this-is-normal/

[2021-03-03 09:01] valentin-anamorphik commented on #23398
I understand perfectly !!

But PrestaShop 1.7.6 has many bug ...

[2021-03-03 09:02] matks commented on #23486
Isn't it the same topic that https://github.com/PrestaShop/PrestaShop/issues/21389 ? 😄  but for the module ?

[2021-03-03 09:17] MAramex commented on #23474
Thanks @PierreRambaud and @hibatallahAouadni for you support,
I tried to compare the tokens before and after clicking the button and they appear to be the same,
just to make sure is this issue only related to the token? or could it form something else
thank you

[2021-03-03 09:19] matks commented on #23398
If you want less bugs in PrestaShop, the best way is to contribute to the project, helping to make it better.

PrestaShop is an open source, community project. If you find that PrestaShop has issues, then you can _invest_ into having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try doing it on your own. The most important thing is to share that fix with

[2021-03-03 09:24] hibatallahAouadni commented on #23482
Hello @etsmes

Please edit your issue description **following the provided template to submit a complete bug report**.

Thanks!

[2021-03-03 09:29] hibatallahAouadni commented on #23484
Hello @merick2158

Could you please provide clear and concise steps to reproduce your issue.

Thanks!

[2021-03-03 09:34] hibatallahAouadni commented on #23486
Hello @kpodemski

Thanks for your issue and your PR :rocket:
I manage to reproduce the issue with 1.7.7.2 and wishlist v2.0.0, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/109785050-0200f100-7c0c-11eb-90bb-e24dc0ff9a69.png)

Thanks!

[2021-03-03 09:36] fakihi commented on #23378
Hi,

I had the same issue when upgrading from 1.7.6.3 to 1.7.7.2.
**Steps to reproduce:**
1. Upgrade Prestashop from 1.7.6.3 to 1.7.7.2
2. Open backoffice admin
3. Enter correct login and password
4. Click login button
**Result:** The user is redirected to the admin login page
**Expected result:** The user is redirected to the admin dashboard

Workaround: downgrade to a version prior to 1.7.7.2

N

[2021-03-03 09:42] seederp2p commented on #23481
Sorry 1.7.7.2

[2021-03-03 09:58] merick2158 commented on #23484
Steps to reproduce:

1. Go to create a new customer/user page.
2. Fill the form and submit it.
3. Page will infinite load and in the console network will show post request pending. But the data already saved in database

[2021-03-03 10:00] hibatallahAouadni commented on #23470
Hello @Nesta78

I didn't reproduce your issue with PS1.7.7.2 and PS1.7.6.7, see the screen record below:

https://drive.google.com/file/d/1lmDJWBHD8ncahjgimhmnS3QOVfs9BKVg/view

Please check and feedback.
Thanks!

[2021-03-03 10:04] etsmes commented on #23482
thanks for answering. I have edited the ticket following the template

[2021-03-03 10:05] etsmes commented on #23482
thanks for answering @hibatallahAouadni . I have edited the ticket following the template

[2021-03-03 10:07] hibatallahAouadni commented on #23460
Hello @onklmaps

Thanks for editing your issue :clap:

This can be any modules, also native ones like `ps_faceted_search`.

Well, if you don't manipulate your DB, you will have all your checkbox enabled:

![image](https://user-images.githubusercontent.com/23308427/109789330-86ee0980-7c10-11eb-89e7-f7b358f8824a.png)

Why you need to remove these rows??
Please check and feedback.

Thanks!

[2021-03-03 10:14] hibatallahAouadni commented on #23474
Hello @MAramex

Well, I have no idea. Maybe @PierreRambaud could give you hint to solve the issue.
But your issue is not related to PS Core, so I close the issue :wink:

PS: even when the issue is closed, we will answer your question if we could help you :slightly_smiling_face:

Thanks!

[2021-03-03 10:14] #23474 closed, assigned to nobody

[2021-03-03 10:16] Julievrz commented on #22992
Esperanto is finally available in the BO. ✨

[2021-03-03 10:20] onklmaps commented on #23460
Hi @hibatallahAouadni  🙂

I didn't. But I don't know the underlying reason that those rows was deleted/never inserted.
Deleting them manually was just a way to reproduce the problem.
Considering #23420, it's clear that the listing of checkboxes gets it's input from ´ps_module_access´ without validating it.

**This issue:** If (for some reason or another) the module in question does not have the ro

[2021-03-03 10:45] costads commented on #23468
Yeah, that's strange. I don't suppose single/multishop could change the way the notification is working?
I don't guess it has anything to do with PHP versions etc, as I have 1.7.6.1 running on other domains on that server which is working fine.

Also no errors anywhere, not even in Chrome debug.
Do you have any ideas?

[2021-03-03 10:49] hibatallahAouadni commented on #23460
Hello @onklmaps

Deleting them manually was just a way to reproduce the problem.

I see :thinking: it's a quite confusing that there's those rows was deleted/never inserted in `ps_module_access`  for some module.
Well, thanks for your solution nad I hope it helps people who face this problem.
Till then, I think we can close the issue cause we do not know the real reason that trigger the issue :win

[2021-03-03 10:49] #23460 closed, assigned to nobody

[2021-03-03 10:55] #14173 closed, assigned to matks

[2021-03-03 10:56] Morerice opened #23491 "Create translation fallback when variable interpolation fails"
#### Is your feature request related to a problem?

Currently if a merchants updates a translation which includes a number variable interpolations (`%s`, `%d` etc.) with a translation which does not include the same number of variable interpolations, the following vsprintf warning is displayed:

`Warning: vsprintf(): Too few arguments in /var/www/html/classes/Translate.php on line 271`

#### Descr

[2021-03-03 11:17] TemKaSD opened #23493 "Undefined index: reduction_with_tax"
Hello.

Error:

![image](https://user-images.githubusercontent.com/6318282/109797261-f55cb700-7c64-11eb-8c5b-92f2ae86a21b.png)

reduction_with_tax set in line 131 in the condition

`if ($this->specificPrice['reduction_type'] == 'amount') {`

need set reduction_with_tax after

`            } else {
                $this->specificPrice['real_value'] = $this->specificPrice['reduction'] * 100;`

[2021-03-03 12:01] alfonsolr09 opened #23495 "Added slide expiration date"
https://github.com/PrestaShop/ps_imageslider/pull/59

**PierreRambaud commented 1 hour ago**
Hey I think it's a good idea, but could you please create an issue on https://github.com/PrestaShop/PrestaShop/issues/new/choose
IN order to be sure the behavior is ok :)

[2021-03-03 12:01] alfonsolr09 commented on #23495
@PierreRambaud

[2021-03-03 12:41] Hlavtox opened #23496 "Provide an add-to-cart button for product lists"
#### Is your feature request related to a problem?

Several clients want to have an add to cart button with a quantity input on product lists, so clients can add it to cart without opening the product page.

Adding the button and even the quentity input itself is easy, but a problem arises when you have backorder disabled. Then we face a simmilar problem as in https://github.com/PrestaShop/PrestaS

[2021-03-03 12:45] hibatallahAouadni commented on #23495
Hello @alfonsolr09

Ok I see that @PierreRambaud ask you to create a new issue.
But I need to reproduce it before. So, please edit your issue description **following the provided template to submit a complete bug report**.

Thanks!

[2021-03-03 12:49] alfonsolr09 commented on #23495
you have to change the files of the PR and check

[2021-03-03 13:09] khouloudbelguith opened #23497 "[UI-KIT] - BO - Modules page - Th exception modal is not well displayed"
#### Describe the bug

In the BO > Modules > Module Manager page or Module Catalog page > when we try to install (with uploading) an invalid module => the exception is not well displayed
![image](https://user-images.githubusercontent.com/16067358/109810239-9463bd80-7c29-11eb-94fa-2145f2601d38.png)

#### Expected behavior

In the PS1772 => ok
![image](https://user-images.githubusercontent.com/16067

[2021-03-03 13:09] hibatallahAouadni commented on #23491
Related to #16421

[2021-03-03 13:11] Progi1984 opened #23498 "GithubActions - Use ubuntu-latest as base"
#### Is your feature request related to a problem?

After #23490, we move from Ubuntu 20.04 to Ubuntu 18.04

#### Describe the solution you'd like

We should use latest version of Github Actions for avoiding technical debt.

[2021-03-03 13:51] hibatallahAouadni commented on #23496
Hello @Hlavtox

But we already have this option:

![image](https://user-images.githubusercontent.com/23308427/109815416-e7407380-7c2f-11eb-895c-c85cbce233eb.png)

I may misunderstand you but could you please explain to me.
Thanks!

[2021-03-03 13:55] PierreRambaud commented on #23495
The aim of an issue is to explain what you're trying to do and why you need this change or this feature.
Please explain us :)

[2021-03-03 14:00] kpodemski commented on #23495
My proposition would be to add:

`date_from` `date_to` to slider module, this would allow you to display banners for a specific time period.

What do you think?

[2021-03-03 14:07] hibatallahAouadni commented on #23286
Hello @photinia73

Could you please check the attached screen record below:

https://drive.google.com/file/d/1IL9KpsjcALqfDCp9jg_dP93_ICKnlOb8/view

As you can see, when I upgrade my `BlockReassurance` module to the latest released version, I got v4.1.1 :confused:
While in November 2020, I could upgrade my module to v5.0.0 (see the first attached screen record in my [comment](https://github.com/Pr

[2021-03-03 14:12] hibatallahAouadni commented on #23387
Hello @Hlavtox

I can see what you mean :wink:
But in reality, the system doesn't display 15000 products on one pile when you open **Sport & Outdoor** (for exmple).
Cause, there's pagination and it will only display 20 (or 12 in my case) products :wink:

![image](https://user-images.githubusercontent.com/23308427/109817976-cd546000-7c32-11eb-9eeb-1a2a001a809d.png)

Please check and feedback.
Thank

[2021-03-03 14:13] alfonsolr09 commented on #23495
You know how to do it?

[2021-03-03 14:15] alfonsolr09 commented on #23496
i think @Hlavtox mean this
![image](https://user-images.githubusercontent.com/62474824/109818476-5075b600-7c33-11eb-9bcb-7e8e1cdcf7dd.png)

[2021-03-03 14:15] hibatallahAouadni commented on #23495
Hello @alfonsolr09

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #12991.
Please subscribe to the issue mentioned above.

Thanks!

[2021-03-03 14:15] #23495 closed, assigned to nobody

[2021-03-03 14:16] hibatallahAouadni commented on #23495
Duplicate of #12991

[2021-03-03 14:16] hibatallahAouadni commented on #12991
Ping @alfonsolr09

[2021-03-03 14:18] alfonsolr09 commented on #23495
thats true... but nothing was done

[2021-03-03 14:20] #23015 closed, assigned to NeOMakinG, TristanLDD, prestascott

[2021-03-03 14:20] Hlavtox commented on #23496
@hibatallahAouadni @alfonsolr09 Exactly ;-)

![Uploading add to cart.JPG…]()

[2021-03-03 14:23] alfonsolr09 commented on #23496
but if a product have cominations.... what?

[2021-03-03 14:23] alfonsolr09 commented on #23496
the idea is so good

[2021-03-03 14:24] Hlavtox commented on #23496
Then change it to "Select variant", like it was in 1.6 :-)

[2021-03-03 14:24] PierreRambaud commented on #23286
It's maybe a problem with addons API, you can download the module here https://github.com/PrestaShop/blockreassurance/releases and then install it

[2021-03-03 14:26] PierreRambaud commented on #12832
Is this problem still present in the latest release?

[2021-03-03 14:28] alfonsolr09 commented on #23496
its a very good idea

[2021-03-03 14:32] hibatallahAouadni commented on #23495
@alfonsolr09 just attach your PR to the issue #12991

[2021-03-03 14:37] hibatallahAouadni commented on #23496
Hello @Hlavtox & @alfonsolr09

But when we hover the product, it won't display the **add to cart** button, it will only display the product combinations and a link **Suick view**:

![image](https://user-images.githubusercontent.com/23308427/109821377-338eb200-7c36-11eb-9a29-7370ecde984c.png)

@Hlavtox the photo that you use is from 1.6 :sweat_smile:

![add to cart](https://user-images.githubuserco

[2021-03-03 14:40] alfonsolr09 commented on #12991
https://github.com/PrestaShop/ps_imageslider/pull/59
@hibatallahAouadni

[2021-03-03 14:41] Julievrz commented on #23349
Here are my wording suggestions:

Technical name | To be defined by developers
-- | --
Display name | Statistics
Short description in the BO | Enrich the 'Stats' section of your back office and get a better understanding of your store’s performance.
Overview | Enrich the 'Stats' section of your back office and get a better understanding of your store’s performance.
Additionnal information | Use th

[2021-03-03 14:41] alfonsolr09 commented on #23495
I already did, check it

[2021-03-03 14:43] hibatallahAouadni commented on #23495
done :wink: thanks!

[2021-03-03 14:54] Borgas opened #23500 "PDF - Delivery slip not printing carrier"
Hi

Prestashop Version tested 1.7.7.2 (i´m using 1.7.6.5 and facing this issue)

Fresh Install

In delivery slip, the pdf it´s not printing the carrier.

tpl file as table for carrier, but is not showing/printing

![Capturar](https://user-images.githubusercontent.com/54105234/109823823-2ff82c80-7c30-11eb-8041-913ec7468fe4.JPG)
![Capturar](https://user-images.githubusercontent.com/54105234/10982397

[2021-03-03 14:57] qualityangel commented on #23378
Thanks Fakihi, this is the precise issue that we also have.

[2021-03-03 15:03] Borgas commented on #23161
I´m sorry for late reply

Error shows AFTER update CORE modules

[2021-03-03 15:09] fakihi commented on #23378
@matks @hibatallahAouadni I'd suggest reopening this issue.
Not reproducing the issue in your specific environment does not mean that the issue does not exist. ;)

[2021-03-03 15:11] hibatallahAouadni commented on #23493
Hello @TemKaSD

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-03-03 15:11] #23493 closed, assigned to nobody

[2021-03-03 15:13] hibatallahAouadni commented on #23491
Hello @Morerice

Could you please check this issue #16421 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-03 15:16] qualityangel commented on #23378
I agree! This issue is not from only the latest version, i have had it before.

[2021-03-03 15:17] hibatallahAouadni commented on #23185
Hello @caro43 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-03 15:17] #23185 closed, assigned to nobody

[2021-03-03 15:21] matks commented on #23378
@fakihi What is the point of reopening an issue that we cant reproduce?

Being able to reproduce an issue is the 1st step to debug it and fix it. If we reopen the issue but we cannot reproduce, then it will just stay forever open 😉  . It's useless.

We keep issues open when they are items we can work on. An issue we can reproduce is the 1st item we need to fix it. A feature idea we understand it t

[2021-03-03 15:22] #23486 closed, assigned to kpodemski

[2021-03-03 15:35] hibatallahAouadni commented on #15319
Ping @PrestaShop/product-team friendly reminder!

[2021-03-03 15:44] khouloudbelguith commented on #12832
Hi @PierreRambaud,

I did not manage to reproduce the issue with PS1772
It is ok :heavy_check_mark:
I attached a screen record
https://drive.google.com/file/d/1ctkaTenZuonN3qiAyxiS9uhbG6tadeqr/view?usp=sharing

Since it is not reproduced, I will close the issue.

Thanks!

[2021-03-03 15:44] #12832 closed, assigned to nobody

[2021-03-03 15:45] hibatallahAouadni commented on #23453
Hello @gennaris

I didn't manage to reprodcue your issue with PS1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/1XoBMqbSjL04U4K3S3vnt1Ua5usST4yNt/view

Please check and feedback.
Thanks!

[2021-03-03 15:47] Hlavtox commented on #21105
@marionf @NeOMakinG

This is easy to implement and extremely important, I think it should definitely be in the template as standard. :-) Me personally, when shopping online, the stock availability is the number 1 option by which I choose where to order from.

And regarding the wording, this field should display **product.available_later** text, which you set in product settings. Every product has

[2021-03-03 15:54] Hlavtox commented on #21105
@NeOMakinG You can just add this under product price like I do on my stores. It works, looks nice and requires no template modification. 👍  See https://eshop-franke.cz/459-stojankove-se-sprchou?order=product.name.asc

[code]

[2021-03-03 15:59] Hlavtox commented on #10356
This needs to be done carefully using `<picture>` with proper fallback sources for older browsers.

[2021-03-03 16:04] hibatallahAouadni commented on #23500
Hello @Borgas

Could you please edit your issue description **following the provided template to submit a complete bug report**.
Please edit and notify me.

Thanks!

[2021-03-03 16:05] pollat opened #23501 "[1.7.3.3] HTTP ERROR 500 when I access to catalog or module menu items without debug mode"
I just migrate my website on the new hosting and all frontoffice is ok, but on the backoffice if I try to access on some menu items, I get HTTP 500 ERROR: if I active debug mode all backoffice menu items work without errors.
On debug mode I doesn't get any error.

#### Additional information

* PrestaShop version: 1.7.3.3
* PHP version:7.1

[2021-03-03 16:10] hibatallahAouadni commented on #23501
Hello @pollat

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and config

[2021-03-03 16:18] NeOMakinG commented on #21105
Thanks for your feedback

@prestascott since we already added labels, wdyt of @Hlavtox messages ?

[2021-03-03 16:19] Borgas commented on #23500
Hi @hibatallahAouadni

Fresh install of 1.7.7.2 - File delivery-slip.shipping-tab.tpl missing (pdf folder)

[2021-03-03 16:24] PululuK opened #23504 "Add module infos in config page"
## Is your feature request related to a problem?

Currently the only way to get the version and author of the module is on the modules listing.
If you are in the module configuration page and you want to know the version and the author, you have to come back to the listing.

## Describe the solution you'd like

Display the version and author of the module in the configuration page.

![Capture d’éc

[2021-03-03 16:24] Hlavtox commented on #21105
@prestascott @NeOMakinG Flags (labels) could be a good way to display this, but it only for the bad information, and with limited space.

I think it is very good to also display that everything is good and how many pieces are in stock. So that's why I would go for a permanent space under product price to display this.

[2021-03-03 16:24] hibatallahAouadni commented on #23468
Hello @costads

Sorry but I have no idea why it's not working with you :confused:

I have to close the issue cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. And i seems your is not related to Core PS (it may related to your host), if you need help with your shop, please consider one
of our [support plans](https://www.prestashop.com/support).

Alter

[2021-03-03 16:24] #23468 closed, assigned to nobody

[2021-03-03 16:25] hibatallahAouadni commented on #23161
Hello @Borgas

Even when I update all my native modules, I don't reproduce the issue, see the attached screen record below:

https://drive.google.com/file/d/1LkwmlJXHsdhbfOEfvIpNFuJAchGVHVxy/view

Please check and feedback.
Thanks!

[2021-03-03 16:28] Hlavtox commented on #21105
The biggest czech ecommerce store with 45k orders per day:
![Výstřižek](https://user-images.githubusercontent.com/6097524/109837793-d3a00780-7c45-11eb-9c34-e6f53813eac6.JPG)

[2021-03-03 16:28] khouloudbelguith opened #23506 "FO - An exception is displayed when when selecting a language with incorrect data - ps_linklist"
#### Describe the bug

This issue is reproduced with ps_linklist v4.0.0 only which is compatible with min PS1770
 When we create a language with incorrect data, An exception is displayed when selecting  this language

#### Expected behavior

FO should be well displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

0. check that the module ps_linlist is v4.0.0, if no try to upgrade th

[2021-03-03 16:31] Hlavtox commented on #23077
@matks I think that would be exactly what AdminPatterns page did in the past. So, should I close this? :-) I think it would be good if you put it somewhere to the documentation - **"All the available form input types and their respective options are shown in our example module here"**

[2021-03-03 16:33] Borgas commented on #23161
@hibatallahAouadni

Fresh Install in 1.7.7.2 - only one module to update (Link Widget)

See error:

![Uploading 1.JPG…]()

[2021-03-03 16:39] fakihi commented on #23378
@matks,
I thought that the purpose of these bug reports was to give you user feedback from a wider set of environments and conditions, so that you can improve Prestashop. I must have been mistaken.
Thank you very much for your contribution Mathieu. :)

[2021-03-03 16:43] #16715 closed, assigned to nobody

[2021-03-03 16:44] PululuK opened #23508 "Add duplicate products in Hook product duplicate after"
## Is your feature request related to a problem?

Currently it is difficult to know the IDs of the recently created products during a duplication.
Some modules need this information, for example to copy their data to duplicate products.

## Describe the solution you'd like

The following hooks, must return the Ids of the new products created after the duplication  :

[code]

[2021-03-03 16:45] hibatallahAouadni commented on #23504
Hello @PululuK

That's literally a good improvement. I was hoping someone will open it :tada:
Thanks for your issue and your PR.

Ping @PrestaShop/product-team as you know the only way to get the version and author of the module is on the modules listing, so it'll be perfect if we could add these infos in the module itself :pray:

[2021-03-03 16:49] matks commented on #23077
We can close it, and indeed when we are done building this module, we'll be able to mark this in every relevant part of the doc 😉

[2021-03-03 17:03] marionf commented on #23412
Than you everyone for your feedbacks :)

It seems a good idea to mention in the documentation different alternatives and quote third services (not only easycron) as an example, we could even explain in a sentence that these services are completely independent of PrestaShop.

Maybe rather in the [devdoc](https://devdocs.prestashop.com/) than in the [user doc](https://doc.prestashop.com/) as it seem

[2021-03-03 17:16] LeffdePeff opened #23509 "tst"

[2021-03-03 17:42] hibatallahAouadni commented on #23508
Hello @PululuK

Thanks for your issue and your PR :rocket:
The Developer Team will take a look. Please stay tuned !

Ping @PrestaShop/prestashop-core-developers , I just checked his PR to understand better the issue and it seems this hook doesn't return the duplicated products ids. So, I think it's better to implement his solution, do you agree?

PS: could you please change your issue title cause

[2021-03-03 18:05] hibatallahAouadni commented on #23077
@matks @Hlavtox I'm closing this issue :wink:

[2021-03-03 18:05] #23077 closed, assigned to nobody

[2021-03-03 18:09] gennaris commented on #23453
Hi @hibatallahAouadni ,
thank you for your time.

Problem is not related to Stock tab, but on "Movements" tab,
In fact, **ps_stock_available** is correctly updated, **ps_stock_mvt** is not.

If you check again your test order (the one you updated through webservice) ,
you will notice the missing movement.

See this image for better explanation :

![2021-03-03_19-06-12](https://user-images.githubus

[2021-03-03 18:14] hibatallahAouadni commented on #23453
Hello @gennaris

No, there's no missing movement, see the attached screenshot below (see the date):

![image](https://user-images.githubusercontent.com/23308427/109852074-aa3aa800-7c54-11eb-809c-651382c9d499.png)

Please check and feedback.
Thanks!

[2021-03-03 19:01] #23509 closed, assigned to nobody

[2021-03-03 19:44] Anidatte commented on #23334
I think it's not solved (sadly...) I don't know if it's bug or feature, but in my case it looks like intended behaviour of search engine, but I don't know, why there's no option to enable search by any word just like in the previous versions of PS 1.7.x. In my case, it doesn't work "bad"... but it's different. I wish I could just have an option to enable search by any word typed in the search box.

[2021-03-03 21:28] ced--ced opened #23511 "Cannot create attributes"
#### Describe the bug

I cannot create attributes to products in 1.7.7.0.

#### Expected behavior

For attributes to be created.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to a product in the admin.
2. Go to the attributes tab.
3. Select the chosen attributes and click on Generate button.
4. Green message is given: the attributes are created.
5. Click on the general Save but

[2021-03-03 21:56] Kerami82 commented on #9589
I have the same problem :(. Please find answer how to fix it :(

[2021-03-03 22:59] hibatallahAouadni commented on #10216
Hello @marionf

I think we need to close this issue cause it's a kind of duplicate to #10504 (see this [comment](https://github.com/PrestaShop/PrestaShop/pull/11196#issuecomment-453149700)).
What do you think? shall we close it?

Thanks!

[2021-03-03 23:02] hibatallahAouadni commented on #10504
Ping @matks what is the status of this issue?

[2021-03-03 23:21] bullmade opened #23512 ""pagesnotfound" module is not working"
#### Describe the bug

The module "pagesnotfound" which is part of the statistics is not working for PrestaShop 1.7. We have tested on multiple installations (1.7.7.0, 1.7.6.5, 1.7.6.3) and they are all not working.

I assume the module is outdated (last release 2017), but then it should either be fixed or removed. The former is obviously preffered.

#### Expected behavior

Should log 404 hits.

#

[2021-03-03 23:44] hibatallahAouadni commented on #11342
Hello @linuxatico

Sorry for the late response :sweat_smile:
This issue is already in our debug roadmap, so could you please create a PR to fix the issue.

Thanks in advance.

[2021-03-03 23:45] yayolius opened #23513 "actionAdminOrdersListingFieldsModifier Hook is broken in 1.7.7"
I was informed that a custom module that i created stopped working in 1.7.7, started to check and the problem seems to be that the hook is simply not been called after the redesign of the Orders View.

There is nothing in this version release doc that points to it: https://devdocs.prestashop.com/1.7/modules/core-updates/1.7.7/

There are also people in stackoverflow (https://stackoverflow.com/ques

[2021-03-04 00:05] hibatallahAouadni commented on #12005
Hello @jolelievre

If this issue will be fixed with this #11880, so shall we close this one as a duplicate?

Thanks!

[2021-03-04 00:08] PululuK opened #23514 "Add category products number in BO list"
## Is your feature request related to a problem?

It would be interesting to have the number of products in a category.
For example, this can be an indicator to know whether or not we can delete a category.

## Describe the solution you'd like

Add category products number in BO list.

1 - Go to _**BO > Category > List**_
2 - See the new column **_Products_** (number of products for in category)

[2021-03-04 00:11] hibatallahAouadni commented on #23514
Hello @PululuK

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2021-03-04 04:08] rblaurin commented on #18089
I can confirm this issue when upgrading to 1.7.7.2 if you have a module using doctrine/annotations and a table with  numeric field. If you ping the core team they can confirm there is a problem with the regex pointed by @vincenttouzet.

[2021-03-04 07:24] chithraongithub opened #23516 "500 error"
When i click any category or brands form megamenu or from anywhere else it leads to  500 error.

when i check it on debug mode, it showing so many errors on 4-5 modules i'm using. There is so many warning in all module , i updated modules which i'm using in our store .But still the problem exist there. Debug error changes for each run.

I checked on the log file. There showing only one error :Inva

[2021-03-04 07:24] chithraongithub commented on #23516
please help in this

[2021-03-04 07:32] gennaris commented on #23453
Hi @hibatallahAouadni
You screen shows "Employee edition" as movement type but as far as I can see - If an order is getting updated through a status change,  the stock movement type should be "**Customer order**" as per my previous screenshot.

So your stock movement was probably triggered by a backoffice product save / update AFTER the status getting updated and not by the order status change.

T

[2021-03-04 07:59] florine2623 commented on #23516
Hi @chithraongithub ,
Your issue comes from your module kbrelatedproducts.
Please deactivate it or contact the developer of the module.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.

[2021-03-04 07:59] #23516 closed, assigned to nobody

[2021-03-04 08:02] chithraongithub commented on #23516
But for the next run after deactivating this module, it will shows error of different module. deactivating all modules which showing errors , then the debug mode will show errors of smarty template and cache files error.
 But on log file the error is the same (Invalid product vars at line 161 in file classes/Link.php)

[2021-03-04 08:10] florine2623 commented on #23512
Hi @bulldesign ,

I can't reproduce your issue 1.7.7.0 and 1.7.7.2.
Pages not found module is enabled, I have access to the not pages in statistics :
![Capture d’écran 2021-03-04 à 09 03 02](https://user-images.githubusercontent.com/16019289/109930946-82852780-7cc8-11eb-8536-735adb0a3b6c.png)
![Capture d’écran 2021-03-04 à 09 05 36](https://user-images.githubusercontent.com/16019289/109931220-

[2021-03-04 08:10] #23512 closed, assigned to nobody

[2021-03-04 08:11] matks commented on #23512
Hi @bulldesign, just like @florine2623 I dont reproduce.

1. Install PS 1.7.7
2. Go to FO, visit pages that dont exist like `/aa` or `/abb`
3. I can see the logs correctly registered in my MySQL database
![Capture d’écran 2021-03-04 à 09 10 14](https://user-images.githubusercontent.com/3830050/109931734-7d74a800-7cc9-11eb-8457-60c40063dda7.png)
4. Go to BO, open Statistics page, make sure you ar

[2021-03-04 08:13] TomanDesign commented on #23258
I had the same problem and followed the steps below:

- changed enabled parameter 0 to 1 in ps_tab table for ps_linklist module
- updated prestashop engine from 1.7.7.1. to 1.7.7.2
- reset Link List module
- update option appeared, so I did it
- enabled the Link List module

Problem disappeared

[2021-03-04 08:14] florine2623 commented on #23511
Hello @ced--ced ,

I can't reproduce your issue. Please see my screen record :
https://drive.google.com/file/d/1P62urPGA-TKQg56AacAKJHrfYW9L8zmm/view

If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel]

[2021-03-04 08:14] #23511 closed, assigned to nobody

[2021-03-04 08:17] florine2623 commented on #23513
Hello @yayolius ,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-03-04 08:17] #23513 closed, assigned to nobody

[2021-03-04 08:24] matks commented on #23513
Hi @yayolius every time a Back Office page is migrated from PrestaShop legacy framework to Symfony, all the hooks related to the legacy architecture are modified, replaced by new hooks related to Symfony architecture.

The hook `action{Controller}ListingFieldsModifier` is available in all legacy admin controllers, so everytime a Back Office page is not powered anymore by it, they cease to function

[2021-03-04 08:24] NeOMakinG commented on #21105
I agree, but I'm not alone to decide on this, PM and UX are needed :)

[2021-03-04 08:35] onklmaps commented on #16302
Hi,

Can you reopen this?

**I am struggling with the same and here comes my explaination as well:**
How can I assign js-variable before inserting javascript in `head`? I am struggling with undefined js-variable since the js-variables assigned with `Media::addJsDef() `comes **after** the script i register with `registerJavascript()`

[code]
Result:
[code]
But I need:
[code]

[2021-03-04 08:42] marionf commented on #10216
@hibatallahAouadni it's not a duplicate as the other issue is for the migration
This one is a problem on the permission page that we should fix during the migration of the page
We should keep this issue open until it's fixed

[2021-03-04 08:51] ballashop opened #23517 "We found suspicious file ".listing" into the Prestashop 1.7.6.9 core"
Dear staff
we found a suspicious files called **.listing**, I wanted to ask you if these files are part of the Prestashop 1.7 core.
Thanks for any replying.
Balla

[2021-03-04 08:56] matks commented on #23517
Hi @ballashop you can find the official 1.7.6.9 ZIP there https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.6.9. You can open the ZIP to compare with your shop.

Although some files are added by the install process, I dont think there is `.listing` files that should be there. I think you're safe to remove them.

[2021-03-04 09:02] PierreRambaud commented on #10504
The migration PR has been rebased #12428 we are still working on it afaik

[2021-03-04 09:09] ballashop commented on #23517
Hi @matks,
thanks a lot for your message.
I'll let you know.
Balla

[2021-03-04 09:26] MatShir commented on #21105
Indeed, it is a nice suggestion @Hlavtox, but the PR link to the issue had already back and forth with the review. Better to finish what have been started. Your feature request has to be review as well, so IMO let's go with this feature as it is now. @Hlavtox you could create a new issue with your request :)

[2021-03-04 09:37] prestascott commented on #21105
Good idea @Hlavtox but we should keep it optional. I trust you that the biggest czech e-commerce generates 45k orders a day, no doubt. But not all e-commerce wants to show quantity availability.

[2021-03-04 09:51] TGD001 commented on #23258
@TomanDesign
I confirm your procedure. Problem disappared after module reset.

[2021-03-04 10:03] atomiix commented on #23312
Hi @hibatallahAouadni, yes that's an issue, IDs must be unique per page

[2021-03-04 10:05] hibatallahAouadni commented on #23312
Thanks @atomiix :relaxed:

[2021-03-04 10:11] hibatallahAouadni commented on #23258
Thanks @TomanDesign :rocket:
So resetting the module solve the issue :tada:

[2021-03-04 10:12] hibatallahAouadni commented on #10504
Thanks @PierreRambaud :relaxed:

[2021-03-04 11:21] ced--ced commented on #23511
@florine2623,

The problem is there on 2 websites I have on 2 different hosting!!!!

Googling in the Prestashop forums, others have had the problem as well but with no solution.

It's a bit hesty from you to close this post so quickly without digging any further!!!

If you can't, can someone else in the Prestashop tech team can?

[2021-03-04 12:43] matthieu-rolland commented on #14766
This issue can be closed, we were still discussing how the feature would be implemented, since then the PR was merged in the end of 2019.

[2021-03-04 12:44] #14766 closed, assigned to nobody

[2021-03-04 12:55] #23437 closed, assigned to nobody

[2021-03-04 13:28] hibatallahAouadni commented on #23481
Hello @seederp2p

How did you delete a cart whose already validated by an Order?? You can't do that:

![image](https://user-images.githubusercontent.com/23308427/109970809-c9d5dd00-7cf5-11eb-9030-6ab7891364b6.png)

Please check and feedback.
Thanks!

[2021-03-04 13:32] seederp2p commented on #23481
There are paid modules (at addons.prestashop.com) that allow that.

Also, it's not documented that you can't get rid of carts associated with orders.

So yes, if you assume that you can't delete at the backoffice and that's it, then there's not a problem.

[2021-03-04 13:32] hibatallahAouadni commented on #23484
Hello @merick2158

I didn't reproduce your issue with PS1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/1pN16Ja-lenuPIykICk60ptpcO6x46avf/view

It seems your issue is related to some third-party modules.
Please check and feedback.

Thanks!

[2021-03-04 13:43] hibatallahAouadni commented on #23482
Hello @etsmes

Thanks for your feedback.
I didn't manage to reproduce your issue with PS1.7.7.2 and it seems your issue is similar to this one #22653
Could you please check your **Round mode** and **Round type**:

![image](https://user-images.githubusercontent.com/23308427/109972575-c4799200-7cf7-11eb-81c1-f373aed816ff.png)

And check your **Decimals**:

![image](https://user-images.githubusercont

[2021-03-04 13:44] hibatallahAouadni commented on #23286
Thanks @PierreRambaud I will try to reproduce the issue :wink:

[2021-03-04 13:50] etsmes commented on #23482
Sorry, it is not working

<img width="167" alt="Captura" src="https://user-images.githubusercontent.com/19926260/109973641-f6d7bf00-7cf8-11eb-91b0-9480adb21792.PNG">

[2021-03-04 13:51] hibatallahAouadni commented on #23481
Hello @seederp2p

You need to contact the module Developer.
So, I close the issue cause it's not related to PS Core :wink:

Thanks!

[2021-03-04 13:51] #23481 closed, assigned to nobody

[2021-03-04 13:53] hibatallahAouadni commented on #23482
Hello @etsmes

Could you please make a screenshots (like the ones that I attached above).

Thanks!

[2021-03-04 13:58] etsmes commented on #23482
<img width="490" alt="Captura" src="https://user-images.githubusercontent.com/19926260/109974578-01468880-7cfa-11eb-8d89-74014a4a237b.PNG">

<img width="517" alt="Captura2" src="https://user-images.githubusercontent.com/19926260/109974582-01df1f00-7cfa-11eb-95b7-377da6c06b05.PNG">

[2021-03-04 13:59] etsmes commented on #23482
if it can help, and as I said in the first message:

I can temporarily fix it by forcing the formatPrice function of locale.php
return number_format($number, 2, ',', '.').' €';

[2021-03-04 14:04] marionf opened #23521 "Linklist - Make the listing multistore compliant"
As a merchant I want to be able to see a list of my blocks according to the context selected, so I can easily manage my blocks

[Specifications of the listing](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs.md#actions-in-the-lisitngs-grids)

[Specs for ps_linklist module](https://github.com/PrestaShop/prestashop-specs/blob/master/modules/ps_linklist.m

[2021-03-04 14:13] matks commented on #23511
Hi @ced--ced this is not @florine2623 role to find out what exact setting or environment configuration is needed to find out why it does not work for you.

The problem can be observed on your server, then something on your server / shop setup is responsible for showing it. We are not going to try random server configurations to maybe find the issue.

**We are not here to help**. When you report a

[2021-03-04 14:23] florine2623 commented on #23500
Hi @Borgas ,

You can see here the official files in PS 1.7.6.5 :
https://github.com/PrestaShop/PrestaShop/tree/1.7.6.5/pdf
![Capture d’écran 2021-03-04 à 15 21 01](https://user-images.githubusercontent.com/16019289/109977572-3d2f1d00-7cfd-11eb-8b0e-df5520883ab7.png)

There's no delivery-slip.shipping-tab.tpl

The carrier is specified on top of the document :
![Capture d’écran 2021-03-04 à 15

[2021-03-04 14:26] #23500 closed, assigned to nobody

[2021-03-04 14:35] #23400 closed, assigned to PierreRambaud

[2021-03-04 14:36] khouloudbelguith opened #23523 "FO - Product page - An exception is displayed in the product page"
#### Describe the bug

This issue is detected during the test of this PR: https://github.com/PrestaShop/PrestaShop/pull/23405
When we are logged in the FO with a new customer created from the FO (account page) or BO, an exception is displayed on the Product details page
This reproduced with PHP7.4
PHP7.1 => OK

#### Expected behavior

The product page should be well displayed

#### Steps to Reprod

[2021-03-04 14:50] christianHMK opened #23524 "Date setting with order confirmation"
After the order has been placed, the customer receives a confirmation by email, here is under {date} Y-m-d H: i: s. It would be good to show the date here as just. Or optionally to store a {date2} which only contains the date and could then also be included in other confirmations. Many Thanks.

[2021-03-04 15:12] florine2623 commented on #23524
Dear @christianHMK ,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-03-04 15:12] #23524 closed, assigned to nobody

[2021-03-04 15:33] jf-viguier opened #23526 "BO / Cart rule / Improve product selection"
#### Is your feature request related to a problem?

On a large catalog, product and category selection is messy on cart rule condition tab :
- Fancy box is too small
- If an item is too long to fit in the select, there is no way to see the end : no horizontal scrollbar

![Capture d’écran 2021-03-04 à 16 59 40](https://user-images.githubusercontent.com/16019289/109992204-53dc7080-7d0b-11eb-8552-f

[2021-03-04 15:55] marionf commented on #21284
If color fields for order status / order return status are mandatory and not filled, we should specify the error message.
Or we can also not make them mandatory but save the default color (#ffffff)

[2021-03-04 16:03] florine2623 commented on #23526
Ping @PrestaShop/product-team ,

In BO > Discounts > Cart Rules > Add new cart rule > Go to Condition tab,
when category/product name is too long, the user can't see the whole title :
![Capture d’écran 2021-03-04 à 16 59 40](https://user-images.githubusercontent.com/16019289/109992204-53dc7080-7d0b-11eb-8552-f3489765029d.png)

What do you think we can implement to make it more visible ?

[2021-03-04 16:47] diegofrancesco opened #23529 "Error 500 after discount coupon for free shipping applied on cart"
**Describe the bug**

I get an error after applying a discount coupon to the cart, but only if the coupon gives free shipping. When I apply the coupon, nothing seems to happen. Then if I update the browser tab or click on the site I have a blank page.
All other types of coupons do not generate errors.

In debug mode I see the error:

<img width="1037" alt="http error" src="https://user-images.gith

[2021-03-04 16:56] mkdgs opened #23530 "Desactivated category still display in breadcrumbs"
#### Describe the bug

On a page of product with a categories path, deactivate one category.
The category still display in breadcrumbs

#### Expected behavior

The category must not appear in breadcrumb

#### Steps to Reproduce

1. Create a path of categories, add thoses to a product.
2. Show the product, with the path of breadcrumbs
3. Deactivate one category in this path
4. Clear all cache
5. Th

[2021-03-04 17:08] florine2623 commented on #23529
Hello @diegofrancesco ,

I can't reproduce your issue in PS 1.7.2.4.

If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

Thank you

[2021-03-04 17:08] #23529 closed, assigned to nobody

[2021-03-04 17:14] florine2623 commented on #23530
Hello @mkdgs ,

I was able to reproduce the issue with PrestaShop version 1.7.7.2. I’ll add this to the debug backlog so that it’s fixed.
![Capture d’écran 2021-03-04 à 18 12 15](https://user-images.githubusercontent.com/16019289/110002154-62c82080-7d15-11eb-9ce0-9ab5578adce0.png)
![Capture d’écran 2021-03-04 à 18 12 22](https://user-images.githubusercontent.com/16019289/110002165-6491e400-7d1

[2021-03-04 17:18] florine2623 commented on #19758
Thanks all.
I'm closing this issue since I don't have any news from the original author of this request.

[2021-03-04 17:18] #19758 closed, assigned to nobody

[2021-03-04 18:02] cmauro commented on #20332
@imballo I have a question. I will ptry to perform the update directly from the directory in the 1-CLick Upgrade Module, chossing "local directory" that is related with /admin/autoupgrade/latest/. Here will be decompressed Prestashop 1.7.7.2 so, what index.php files I have to delete? The index.php in this directory called src belongs to new installation or in the actual presta that i have installe

[2021-03-04 18:26] hibatallahAouadni commented on #23161
Hello @Borgas

Could you please check this [comment](https://github.com/PrestaShop/PrestaShop/issues/23258#issuecomment-790416810) it may help you to resolve your issue.
Please check and feedback.

Thanks!

[2021-03-04 18:28] hibatallahAouadni commented on #23334
Hello @Anidatte

Could you please attach a screen record showing the issue.

Thanks!

[2021-03-04 18:44] nateBitworks opened #23532 "PrestoChango UPS module not charging enough on certain products."
#### Describe the bug
When a customer orders certain products the Presto Changeo UPS module configures the wrong price, almost 2/3 what the UPS charges.
A clear and concise description of what went wrong.

#### Expected behavior
Charge correct shipping
Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to centrevilletrailer.com
2. Search

[2021-03-04 18:49] jf-viguier commented on #23526
@florine2623 I've posted a PR that solve the two issues.

[2021-03-04 19:24] fdonnet commented on #14533
classic-rocket project seems a little bit dead since end of 2020 and it's sad.
Only here to say that it can be great to have a new version for 1.7.8, clean, simple, seo oriented etc. As a mini prestashop dev (3 shops online), I always perfer to start with the classic theme.

A lot of market themes are even worse (maybe 2 or 3 big players with good themes to propose and good practices => exaggerati

[2021-03-04 21:27] claireb25 commented on #22784
Hi @malcek, did you find a solution to your issue ? I'm having the same problem here..

[2021-03-04 22:18] merick2158 commented on #23484
Assalmu alaikum @hibatallahAouadni.
Thanks for your support. It was because of an error in my email server. Solved, thanks!

[2021-03-04 22:18] #23484 closed, assigned to nobody

[2021-03-05 06:57] florine2623 commented on #23532
Hello @nateBitworks ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forum

[2021-03-05 06:57] #23532 closed, assigned to nobody

[2021-03-05 08:19] Hlavtox commented on #23496
@hibatallahAouadni Yes the photo was from 1.6. You can take it as an inspiration... 😛

[2021-03-05 08:59] Hlavtox opened #23533 "Add an option to keep inactive products enabled"
## Is your feature request related to a problem?

When you disable a product, these are options of we can do with them.
- 404
- 410
- 301 product redirect
- 302 product redirect
- 301 category redirect
- 302 category redirect

None of these options tell the customer what happened, why they cannot reach the page or why they are not shown the product they clicked on on google. 404 is something like

[2021-03-05 08:59] #14676 closed, assigned to marionf

[2021-03-05 09:22] Julievrz commented on #23412
Hi @marionf, I agree with you, I think it should be in the devdocs and not in the user doc. We can still add a link to the devdoc in the userdoc for tech-savvy merchants if necessary.

[2021-03-05 09:33] Hlavtox opened #23534 "Wrong definition of Schema.org availability for out-of-stock products."
#### Describe the bug

Structured data availability (used by search engines to display rich snippets in results) is defined in ProductLazyArray.

[code]

Preorder should not be there, OutOfStock should be used instead.

Source: https://support.google.com/merchants/answer/6324448?hl=en

#### Expected behavior

[code]

#### Steps to Reproduce

1. FO, in the product page template, put {$product.seo_a

[2021-03-05 09:36] delecluse commented on #23334
Le problème est résolu merci !

Provenance : Courrier<https://go.microsoft.com/fwlink/?LinkId=550986> pour Windows 10

De : Hibatallah Aouadni<mailto:notifications@github.com>
Envoyé le :jeudi 4 mars 2021 19:28
À : PrestaShop/PrestaShop<mailto:PrestaShop@noreply.github.com>
Cc : delecluse<mailto:thibault4608@outlook.com>; Mention<mailto:mention@noreply.github.com>
Objet :Re: [PrestaShop/PrestaShop

[2021-03-05 09:39] florine2623 commented on #23533
Hi @Hlavtox ,
Thanks for your feature suggestion !
Please stay tuned.

[2021-03-05 09:39] florine2623 commented on #23533
ping @PrestaShop/product-team ,
What do you think ? Could this be implemented ?
Thanks !

[2021-03-05 09:45] Julievrz commented on #19142
WIP

[2021-03-05 09:55] mathieuhen opened #23535 "Orders brothers (with same reference)"
Hi,

Sometimes we have an order that splits into 2 orders (brothers, with same reference).
After analysis, we realize that these are the orders whose cart has the delivery_option column with 2 values.
Why 2 values in this column (as in the picture below) ?
How to prevent this?

![Capture](https://user-images.githubusercontent.com/43207184/110099111-3b1e9a00-7da1-11eb-8753-1dfb2196a3b1.PNG)

[2021-03-05 10:03] micka-fdz commented on #22017
Hi @hibatallahAouadni, can you reopen this issue?

I also have this random issue with several clients and I've found the same thing as @djbuch.

[2021-03-05 10:04] Morerice commented on #23491
It's related to #16421 but that issue is more related to being able translate strings which contain an escaped percentage, such as `10% discount`, whereas mine is about creating a fallback option which is used if the number of parameters does not match the number of specifiers. This is only mentioned once in the penultimate comment of that issue.

[2021-03-05 10:08] florine2623 commented on #23534
Ping @PrestaShop/prestashop-core-developers ,

Could you take a look at this please ?
Thanks!

[2021-03-05 10:09] florine2623 commented on #23535
Hello @mathieuhen ,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-03-05 10:09] #23535 closed, assigned to nobody

[2021-03-05 10:13] mathieuhen commented on #23535
Thank you for reply @florine2623!
But I never said it was a bug. I'm just asking in which cases we have 2 values in this column and how to avoid it? (if there is an option in admin for example ?)

[2021-03-05 10:31] MatShir commented on #23235
@Julievrz Could you check the wording for this issue ?
@TristanLDD Here it is the first delivery and expected for the feature flag from the @matks comment. We will need your advice for the next iteration to enhance the experience :)

[2021-03-05 10:41] hibatallahAouadni commented on #23534
Hello @Hlavtox

Could you please check this issue #23199 it seems similar to yours :wink:
Please check and feedback.

Thanks!

[2021-03-05 10:57] matks commented on #23456
I dont understand why you say we forget some people do that 🤔  ?

But what thing that is true: this git repository has, in our opinion, only one purpose: that is to generate the ZIP we build and release. This repository purpose is to store the _source code_ that aims to build a deliverable item: the PrestaShop ZIP file.

You might be interested in [this article](https://dev.to/matks/why-should-i-c

[2021-03-05 11:05] oalija opened #23536 "Could not find control by type: button on create or edit Product"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

When try create or edit Product, summary and description fields not show for javascript error "Uncaught Error: Could not find control by type: button"

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to create or edit product
2. See error

**Screenshots**

![imagen](https://user-ima

[2021-03-05 11:36] khouloudbelguith opened #23537 "BO - The gamification icon is not displayed after disabling all notifications"
#### Describe the bug

In the BO > Advanced Parameters > Administration page, when we disable all notifications (new orders, new customers, new messages), the icon of the gamification module is not displayed anymore with errors in the console

#### Expected behavior

It should be displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Advanced Parameters > Administratio

[2021-03-05 11:37] Robin-Fischer-PS opened #23538 "Wrong Multistore context displayed in migrated page Shop Parameters > Order Settings > Order Status"
#### Describe the bug

With Multistore ON : On the migrated Shop Parameters > Order Settings > Order Status page (http://localhost/psdevelop/develop/admin-dev/index.php/configure/shop/order-states/), the context displayed in the header should be always "All shops". Currently, the context can be modified by shop and group of shop (but the actions are in fact made in all shops context, it's just the

[2021-03-05 11:48] florine2623 commented on #23536
Hello,

I can't reproduce your issue in PS 1.7.8.0 :
Edit product :
![Capture d’écran 2021-03-05 à 12 46 49](https://user-images.githubusercontent.com/16019289/110111587-dcf9b300-7db0-11eb-85e2-2ba574ecc368.png)
Create Product :
![Capture d’écran 2021-03-05 à 12 47 55](https://user-images.githubusercontent.com/16019289/110111688-04508000-7db1-11eb-9087-29c16dc481f1.png)

[2021-03-05 11:48] #23536 closed, assigned to nobody

[2021-03-05 13:33] hibatallahAouadni commented on #22017
Hello @djbuch & @micka-fdz

This is not just random bug :wink: this bug is already in our debug backlog see this [comment](https://github.com/PrestaShop/PrestaShop/issues/15304#issuecomment-526137500).
We close this issue cause it's a duplicate.
Related to #9594

Please subscribe to the issue mentioned above.
Thanks!

[2021-03-05 13:36] hibatallahAouadni commented on #23334
Hello @delecluse

That's great :tada: So, I close this issue cause ih been fixed and it's not related to PS Core.
Thanks for your feedback.

PS: please next time use English :wink: English is the norm on GitHub.

Thanks!

[2021-03-05 13:36] #23334 closed, assigned to nobody

[2021-03-05 13:43] hibatallahAouadni commented on #23491
Hello @Morerice

So you're talking about this #16168 ?
Please check and feedback.

Thanks!

[2021-03-05 13:52] kpodemski commented on #23538
@matthieu-rolland

I think you need to see this, this is related to your PR I guess 🤔
https://github.com/PrestaShop/PrestaShop/pull/23292/

[2021-03-05 14:12] hibatallahAouadni commented on #23496
Hello @Hlavtox

ok :sweat_smile: thanks for your suggestion.
The Product Team will take a look. Please stay tuned !

Ping @PrestaShop/product-team , @Hlavtox propose if we could add the **Add to cart** button and the **quantity** input to the displayed products in the Product list, wdyt?

### 1st proposal:

![image](https://user-images.githubusercontent.com/23308427/110125778-fd7f3880-7dc3-11eb-90

[2021-03-05 14:27] florine2623 commented on #23482
Hello @etsmes ,
I can't reproduce your issue on 1.7.7.2 as you can see in the screenshots below :
![Capture d’écran 2021-03-05 à 15 25 31](https://user-images.githubusercontent.com/16019289/110128512-2654fd00-7dc7-11eb-9bb8-c9a9585ace49.png)
![Capture d’écran 2021-03-05 à 15 25 46](https://user-images.githubusercontent.com/16019289/110128522-294fed80-7dc7-11eb-8bf0-30bb7f3b8087.png)

In my tes

[2021-03-05 14:27] #23482 closed, assigned to nobody

[2021-03-05 14:43] nateBitworks opened #23556 "Presto Change bug"
#### Describe the bug
When a customer orders certain products the Presto Changeo UPS module configures the wrong price, almost 2/3 what the UPS charges.
A clear and concise description of what went wrong.

#### Expected behavior
Charge correct shipping
Explain what you expected to happen instead.

#### Steps to Reproduce
Steps to reproduce the behavior:

1. Go to centrevilletrailer.com
2. Search f

[2021-03-05 14:49] Julievrz commented on #23235
Hi @MatShir

I think we should only write 'Experimental product page' for the label and replace 'Yes/No' with 'Enabled/Disabled'

This way, we can avoid the help text, which is a bit redundant in my opinion.

However, maybe we could add a piece of information* next to the 'Feature flags' labels to explain what it is to the user and why they should (or should not) enable them/what is at stake?

*li

[2021-03-05 14:52] florine2623 commented on #23453
Hello @gennaris ,
The mouvement is saved with Customer Order :
![Capture d’écran 2021-03-05 à 15 51 38](https://user-images.githubusercontent.com/16019289/110131699-b9436680-7dca-11eb-8a33-600540bf464e.png)

![Capture d’écran 2021-03-05 à 15 50 32](https://user-images.githubusercontent.com/16019289/110131601-9b760180-7dca-11eb-8e22-867a5e4953dd.png)

[2021-03-05 15:46] jf-viguier opened #23540 "BO / Cart rule / titles not neutralized"
#### Describe the bug

Minor display and security issue : title are not neutralized on product or category selection.

#### Expected behavior

Product or category should be displayed correctly.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to category
2. Add a category named with a " like Art et "essai
3. Add a category restriction to a cart rule
4. See error : title is truncat

[2021-03-05 16:04] florine2623 commented on #23540
Hello @jf-viguier ,

I can't reproduce your issue on develop, I tried multiple combinations :
![Capture d’écran 2021-03-05 à 17 03 01](https://user-images.githubusercontent.com/16019289/110140777-bcdbeb00-7dd4-11eb-8d46-d2846bf8b461.png)
![Capture d’écran 2021-03-05 à 17 01 13](https://user-images.githubusercontent.com/16019289/110140787-bf3e4500-7dd4-11eb-9dd0-58775a8b0125.png)
![Capture d’é

[2021-03-05 16:04] matks commented on #16695
Hi @marketiweb85 I have checked and you're right 😉  would you submit a PR with your fix to be credited?

@khouloudbelguith PS_ADVANCED_STOCK_MANAGEMENT is an option that comes from PS 1.6 . In PS 1.7 we cannot activate it, but if a shop upgrades from PS 1.6 to PS 1.7.7 it might have this option enabled.

So I think here we can accept the following steps:

1. Install PS 1.7.7
2. Open MySQL base, in

[2021-03-05 16:34] PierreRambaud commented on #23540
I manage to reproduce the issue. I complete the PR the be sure all data are correctly escaped. Thanks you @jf-viguier :wink:

[2021-03-05 16:44] PierreRambaud commented on #14533
I think a lot of frontend developers are waiting for a new theme that includes best practices and is able to be updated :roll_eyes:

[2021-03-05 16:56] hibatallahAouadni commented on #23540
Hello @jf-viguier

I manage to reproduce the issue with PS1.7.6.7, PS1.7.7.2 and develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/110147352-df253700-7ddb-11eb-9cd8-a73d8ca3999d.png)

Thanks for your issue and your PR :rocket:

PS: thanks @PierreRambaud for reproducing the issue :wink:

[2021-03-05 17:17] jf-viguier opened #23544 "Prestashop core shouldn't depends on vatnumber archived module"
#### Describe the bug

There is code in the core that relay on vatnumver module to exclude vat on B2B.
https://github.com/PrestaShop/PrestaShop/blob/f6caa1cacfbfb326dce35ad643deedb354d65cf2/classes/helper/HelperForm.php#L305
it's required to replace this test by a hook or something more generic to be answered by other modules.

The Configuration::get('VATNUMBER_MANAGEMENT') or VATNUMBER_COUNTRY ar

[2021-03-05 18:37] hibatallahAouadni commented on #23533
Hello @Hlavtox

I like the idea to display the disabled product with a message clearing the situation.
But what if we had more than 100 disabled product? :thinking:

Ping @PrestaShop/product-team I think it'll be better if the product is disabled, we add another option for the merchant to choose if he want to display the product wih a link to the parent category, wdyt?

[2021-03-05 18:52] Hlavtox commented on #23533
@florine2623 @hibatallahAouadni We can also add a switch for default behavior - 404 or keep enabled.

The same as we do for backorders - “default as in ps settings” or manually specify in product settings. :)

[2021-03-05 19:09] Kerami82 commented on #9589
It's unbelievable. Yesterday I reinstalled the prestashop store. I installed clean from the beginning step by step. I only transferred products and categories (No customers, no carts). After that, I made myself a test client. For this customer, saving the cart works all time. The basket is restored each time. Today I am register another client and the baskets are not working again ..... : /. I don

[2021-03-05 20:50] Kerami82 commented on #9589
I found what indirectly causes that the basket is not remembered. I check database and differences .In the ps_cart table, the value of id_guest column is not set to "1" for the cart. When I manually changed the last cart entry, this cart started to be restored after logging in. Unfortunately, when a new cart is created for a given customer, the id_guest value is still set to "0". Maybe someone can

[2021-03-05 20:54] Art3c opened #23545 "How to manually upgrade of the DB from 1.7.6.9 to 1.7.7.2."
Hi,

i still have the same problems that i cant upgrade ma PS. Still the same error. We it comes to the point that the upgrade of the DB should start it throws a error.

Upgrade problem to Prestashop 1.7.7.1 Cannot declare class PrestaShopBundle\Entity\Tab #22775

Is there any option to upgrade the DB manually? Both other options are crap. Lose all the store and seat up a new one with clean instal

[2021-03-05 21:18] Art3c commented on #22248
@hibatallahAouadni
hi, is this the problem of the update?

![slika](https://user-images.githubusercontent.com/75488263/110174627-aa77a680-7e00-11eb-8c63-12a700dcc04e.png)

[2021-03-05 22:32] maofree commented on #23259
Hi @alfonsolr09
don't pass to google merchant center a csv or a xml with combinations, the same for facebook shop (in this mode you reduce the click cost)

go into product-details.tpl and check if you ahve this code:

`    {if isset($product.reference_to_display)}
      <div class="product-reference">
        <label class="label">{l s='Reference' d='Shop.Theme.Catalog'} </label>
        <span item

[2021-03-05 23:01] alfonsolr09 commented on #23259
i do with official module

[2021-03-05 23:04] alfonsolr09 commented on #23259
where is the place where i have to write te ean13 ??

[2021-03-06 00:06] hibatallahAouadni commented on #15878
Related to #22711
Even when the issue mentioned above has been fixed on develop branch but I still manage to reproduce this issue on develop branch :sweat:

[2021-03-06 00:18] hibatallahAouadni commented on #23149
Hello @8i11y

Could you please check this issue #16168 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-06 00:33] hibatallahAouadni commented on #22248
@Art3c could you please check this issue #21206 it may help you solving your problem

[2021-03-06 01:41] hibatallahAouadni commented on #12611
Hello everyone,

This issue is getting worse with PS1.7.7.2, when the second shop is selected and we try to access to one of the quick access links, the page refreshes with the right URL but it display the dashboard.

See the attached screen recording below to better understand the issue:

https://drive.google.com/file/d/1547u22jjaYOr43wa_UeCSV-1WFp3DlWi/view

Thanks!

[2021-03-06 01:49] hibatallahAouadni commented on #12653
Ping @PrestaShop/product-team what's the status of this issue? is it **`To Do`** or still need specifications?

[2021-03-06 02:01] hibatallahAouadni commented on #12772
Ping @PrestaShop/prestashop-core-developers could you pelase specify the status of this issue :pray:
Thanks in advance.

[2021-03-06 07:21] Art3c commented on #22248
@hibatallahAouadni
No, it does help :( the problem is present in PHP 7.0 - 7.3. I tried it :(

[2021-03-06 07:51] gennaris commented on #23453
@florine2623 @hibatallahAouadni

This is weird since the problem has been reported to me by a customer and it was reproducible by me on a base 1.7.2 installation. Maybe I am missing something here ?

I made a video recording as well on a clean PS 1.7.7.2 to show you what happens to me :

https://drive.google.com/file/d/1voqvG1YIF3oY1DVz24Ae2wukQ0OViIii/view

The order is set as "shipped" using the

[2021-03-06 10:04] SharakPL commented on #14533
@PierreRambaud Webpack config upgrade would be a good start. It should run on node 14, webpack 4/5 and newest sass. I've been working on my own config, but end up with multiple jquery instances in my files. It's already in `core.js`, right? I can't set it so I could use jquery code but without bundling jquery.

[2021-03-06 10:36] brunopacory commented on #23412
HI, I am new and not sure to be at the right place here but I have 2 first questions :
- Is there any mean to contact directly Prestashop for any problem we can have ?
- I have got problem with mutli store automatic currency update using native PS cron module, with a trouble on 2 of my items which have different prices according to the size : working good on all shops in 2 currencies each, except

[2021-03-06 11:45] #23256 closed, assigned to nobody

[2021-03-06 12:51] wilva commented on #23544
VAT calculation is an essential component, so I would welcome it if it was moved to core.

As it stands, it now only shows up as archived, without any indicators of why it was archived and what is the future plan on this IMO core feature.

[2021-03-06 13:23] jaleo commented on #22215
I have experienced the same issue. It must have been problems updating from version 1.6 to 1.7. This is the battery of SQL queries that I used for resolving it. (Perhaps some unnecessary. Based on @DelosTR  and @abdullacm ones)
`
UPDATE ps_order_detail SET id_order_invoice = '0' WHERE id_order_invoice IS NULL;
UPDATE ps_order_detail SET product_reference = '' WHERE product_reference IS NULL;
UPDAT

[2021-03-06 15:02] maofree commented on #23259
hi
go into
templates/catalog/_partials/product_details.tpl
and add this code inside the {block name='product_reference'}

`    {if isset($product.ean13)}
      <div class="product-ean13">
        <label class="label">{l s='Ean code' d='Shop.Theme.Catalog'} </label>
        <span itemprop="gtin">{$product.ean13}</span>
      </div>
    {/if}`

[2021-03-06 15:04] alfonsolr09 commented on #23259
Ok, i say on BO where is the place ??

[2021-03-06 15:06] maofree commented on #23259
the microdata are in the front-office, so you need to donwnload this file of your theme and the upload it again on your server
nothing to do in the BO

[2021-03-06 15:09] alfonsolr09 commented on #23259
I know, i mean where i have to write the ean13 of the products?

[2021-03-06 15:09] alfonsolr09 commented on #23259
in which box?

[2021-03-06 15:12] maofree commented on #23259
![1](https://user-images.githubusercontent.com/653230/110211372-9a120b00-7e96-11eb-90d4-e1e61ab8a2b9.png)

in you have combinations also in the single combination, the default combination should have the ean13 of the option step

[2021-03-06 15:16] alfonsolr09 commented on #23259
Ok, and one more question.
I don't have the ean13 in any product, why did google accept most of the products but rejected some of them??
89% accept and 11% reject

[2021-03-06 15:17] alfonsolr09 commented on #23259
The reason that google gives me is that an ean13 must be specified

[2021-03-06 15:19] maofree commented on #23259
usually because they are not correct, the ean13 are provided by the manufacturers of the products

[2021-03-06 15:21] alfonsolr09 commented on #23259
I do not have ean13 in any product and many products accepted them

[2021-03-06 15:24] maofree commented on #23259
I can't help you from here because I cannot see the errors of google merchat center
normally it is written the motive of this refuse.
if the product has a ean13 you must set it, if not it is necessary only
id
reference
brand
google category

[2021-03-06 15:28] alfonsolr09 commented on #23259
I checked that none of my products have ean13. but i don't know why i reject some products. you can help?

[2021-03-06 15:30] maofree commented on #23259
send me an email look at my github profile

[2021-03-06 17:38] jeckyl commented on #23544
Hi,
As the management of European VAT does not concern the rest of the world, it seems to me preferable to keep this in the form of a module.

[2021-03-06 19:29] 8i11y commented on #16168
Hallo, I could reproduce this issue also in german language....

[2021-03-06 19:44] costads opened #23547 "Multistore monitoring problem"
#### Describe the bug
'List of products without combinations and without available quantities for sale'

is always 0 when a shop in multistore is selected. I have to switch to 'All shops' to see products in that table.

#### Expected behavior
I expected to see my out of stock products, like I could in 1.7.6 and previous years versions.

#### Steps to Reproduce
Select a Shop in multistore mode.

1.

[2021-03-06 20:46] matks commented on #23544
@wilva You will find the answer here https://build.prestashop.com/news/focusing-on-essential-modules/

[2021-03-06 20:49] matks commented on #23412
Hi @brunopacory I think you'll find answers on https://devdocs.prestashop.com/1.7/faq/i-need-help/

[2021-03-06 21:03] matks commented on #23545
Hi @Art3c there is no clear explanation of how to do the upgrade manually, the process is too complex.

I can however show you where to look to find it.

You will find the complete explanation of what is performed by the autoupgrade module in the documentation https://devdocs.prestashop.com/1.7/development/upgrade-module/ .

See the list of steps https://devdocs.prestashop.com/1.7/development/upgr

[2021-03-06 21:03] #23545 closed, assigned to nobody

[2021-03-06 23:20] wilva commented on #23544
Thank you @matks that's useful.
Of course I'm not happy with the decision, but the decision has been made.
Somehow I doubt that I can convince you guys at Prestashop that it is essential, at least for European shops.
I do understand the need for being able to focus on core functionality.

Those notes mention that there are compatibility issues with 1.7, do you also happen to know what those issues

[2021-03-06 23:44] costads commented on #23468
I have just installed a fresh copy of PS 1.7.7.2 which is stock, and it is still not working (icon only on chrome tab)
I have also tried Chrome on my work- and homecomputer, and lastly my Chromebook. All the same, icon on tab only.

Then I tried on my Edge browser, and it seems to work just fine there, and last one I tried is Opera, which didn't work either.

Can you see from the screenshot of the

[2021-03-07 02:39] alfonsolr09 commented on #23259
why is all this not already included in prestashop?

[2021-03-07 13:34] Kaktusodlarn opened #23548 "Manual order creation - search for proudcts not working"
#### Describe the bug

When creating a manual order in BO the search of products fails with a 500 error, same result both with both product name and product reference.

#### Expected behavior

Search using product namne or reference should return a result

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to orders -> new order
2. Choose customer
3. Search a product
4. Searching for

[2021-03-07 13:48] Kaktusodlarn opened #23549 "Problem open historic orders from before upgrade to version 1.7.7.2"
#### Describe the bug

On the order tab in BO it is not possible to open some of the historic orders from before the upgrade to version 1.7.7.2. It fails with a 500 error

#### Expected behavior

Expected result is that the historic order open.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to orders -> new order
2. Click on any historic order either the magnifying glass or the

[2021-03-07 14:03] haveyougotanypets opened #23550 "Webservice API currently does not allow update of Product Image Caption / Legend"
### Describe the Bug

Product Image caption/legends can not be retrevied or updated using the webservice API.

### Expected Behaviour

HTTP GET to https://example.com/api/images/products/x (x being the ID of the product) should return product image data with the caption. Ideally as an element attribute.

HTTP UPDATE to https://example.com/api/images/products/x/y should allow the caption/legend to

[2021-03-07 17:34] jeckyl opened #23551 "How to precisely inform about PHP compatibility when installing or using Prestashop?"
#### Is your feature request related to a problem?

The French community must have exceeded the ten thousand times to repeat and remind the PHP version compatibility range for version 1.7 of PrestaShop, which means that people can install PrestaShop on servers not offering the right version of PHP or with hosters forcing the use of bad versions of PHP.

#### Describe the solution you'd like

It wo

[2021-03-07 19:02] LarsGMortensen opened #23552 "Danish language error: Indkøbsindkøbskurv (shoppingshoppingcart)"
#### Describe the bug

In the Danish translation of the current version of Prestashop, there are quite a few occurances of "indkøbsindkøbskurv" (note that "indkøbs" is written twice). Directly translated to English, this means "shoppingshoppingcart" and the extra "indkøbs" (shopping) is every bit as redundant as it would be in English. The correct Danish word for "shoppingcart" is simply "indkøbsk

[2021-03-08 07:58] NeOMakinG commented on #14533
Didn't we update it to be compatible with node 12 (LTS) some months ago? I think yes

But this is a good thing to do as node 14 is now LTS too

[2021-03-08 07:59] NeOMakinG commented on #12772
#18396 is not merged yet, so it's in progress!

[2021-03-08 08:15] matks commented on #23552
Hi @LarsGMortensen PrestaShop translations are done through an open Translation project https://crowdin.com/project/prestashop-official .

If you think you have found a mistake, we would be very happy to welcome your suggestion, could you please submit the needed change into the project? This will help us go through the proofreading process.

We cannot really verify if your report is true or wrong

[2021-03-08 08:25] matks commented on #23551
Hi @jeckyl I think this issue is somehow similar to https://github.com/PrestaShop/PrestaShop/issues/20842 which has been fixed in `develop` through https://github.com/PrestaShop/PrestaShop/pull/20843 what do you think?

[2021-03-08 08:26] matks commented on #23549
It sounds similar to https://github.com/PrestaShop/PrestaShop/issues/23336

[2021-03-08 08:50] PierreRambaud commented on #12772
It has been merged now :)

[2021-03-08 08:58] NeOMakinG commented on #12772
It should be fixed then, when rebuilding assets

[2021-03-08 09:21] jeckyl commented on #23551
This correction brings a solution during installation.
On the other hand it does not seem to support information for users who install locally or when their host changes their PHP version.

[2021-03-08 09:25] hibatallahAouadni commented on #23544
Hello @jf-viguier

Yes that's totally true.

Ping @PrestaShop/prestashop-core-developers is it safe to use an archived module in PS Core?

[2021-03-08 09:35] PrestaEdit opened #23555 "Carrier restrictions on products and checkout/order confirmation"
#### Describe the bug

Having a product A and product B.
We set the available carrier for product A to be the X.
We set the available carrier for product B to be the Y.

Adding A and B on cart.
On the carrier step, we only see one carrier (like the Y) choice.

Choose it and process the payment.
On the confirmation page, we see only one order (with product A, carrier X) and nothing about the other

[2021-03-08 09:45] hibatallahAouadni commented on #23548
Hello @Kaktusodlarn

I didn't manage to reproduce your issue with PS1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/1YhH-lP7qiWnXzkoYOaVztrxAXolx466m/view

Please check and feedback.
Thanks!

[2021-03-08 09:51] hibatallahAouadni commented on #23549
Hello @Kaktusodlarn

Could you please check this issue #23336 it seems similar to yours..
Please check and feedback.

PS: Thanks @matks :rocket:

Thanks!

[2021-03-08 09:54] hibatallahAouadni commented on #23551
Hello @jeckyl

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2021-03-08 10:06] Morerice commented on #23491
Hi @hibatallahAouadni

Thanks for reaching out. Again, #16168 is related to it but there is no mention of a fallback in it.
The following is an example of a solution which I think helps to understand the issue:

* Create a third parameter `fallback` in `checkAndReplaceArgs` which defaults to an empty string
* Do not cast the return value of `isSprintfString` and return the number of occurences
* I

[2021-03-08 10:07] hibatallahAouadni commented on #23552
Hello @LarsGMortensen

I reproduce your issue with PS1.7.6.7 and PS1.7.7.2, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/110306181-d318bf80-7ffd-11eb-8769-4e8b55c07bab.png)

That's true but we can verify with translate google :sweat_smile:

![image](https://user-images.githubusercontent.com/23308427/110306371-09563f00-7ffe-11eb-9ef4-2f13fe150b2a.p

[2021-03-08 10:15] Kaktusodlarn commented on #23548
Did you also try with pack Products and Products with one or more attributes?
Does the error message give you any indication of the origin of the problem?

Thank you!

[2021-03-08 10:16] hibatallahAouadni commented on #23550
Hello @haveyougotanypets

Thanks for your issue but could you please edit your issue description **following the provided template to submit a complete bug report**. And please fill in all the blocks.

![image](https://user-images.githubusercontent.com/23308427/110307738-8a620600-7fff-11eb-95b8-ebd84d2dcbce.png)

Please edit and notify me.

Thanks!

[2021-03-08 11:00] #23120 closed, assigned to Prestaworks

[2021-03-08 11:06] hibatallahAouadni commented on #23556
Hello @nateBitworks

Thanks for your issue :clap:

Well, it seems your issue related to the **Presto Changeo UPS** module, and AFAIK this module is not native.
So, you need to contact the module developer to fix your issue.

And you have already opened this issue #23532 and we have already told you that you need help with your store.
I close this issue cause it's not related to PS Core.

Thanks!

[2021-03-08 11:06] #23556 closed, assigned to nobody

[2021-03-08 11:06] hibatallahAouadni commented on #23556
Duplicate of #23532

[2021-03-08 11:10] ghost opened #23558 ""Expand all" button not working in the back office"
#### Java-script error when trying to close categories tree
When trying to close a category folder, the folder does not close. An error will be displayed.
This issue can be seen in module ps_facetedsearch

#### Steps to reproduce the behavior:

1. Go to module ps_facetedsearch
2. Click on button **Add a new template**
3. In the Categories option click the button "Expand All"
4. Try to close an cat

[2021-03-08 11:15] Prestaplugins opened #23559 "hook "actionObjectOrderDetailUpdateAfter" not executed on "Partial Refund" action or "Return product" action"
#### Describe the bug

When a partial refund, or product return is made from the order detail page, I think all the necessary hooks should be called on the OrderDetail object, since it is updated by these actions.
Actually, only the "productCancel" hook is called.

#### Expected behavior

I hope to have all the object updated by these actions properly calling their own update hooks.

#### Steps to

[2021-03-08 11:15] SharakPL commented on #14533
Actually it does seem to work on Node 14, but...

1. `42 vulnerabilities (18 low, 8 moderate, 15 high, 1 critical)` hardly looks like a good config, especially that it still uses Webpack 2 (last stable is [5.24.x](https://github.com/webpack/webpack/releases))
2. Needs a fix #23557 to enable Windows development
3. Can't be updated
[code]

[2021-03-08 11:42] khouloudbelguith opened #23562 "[swedish language] BO - Product page - Negative specific price cannot be saved with an exception"
#### Describe the bug

This issue is reported previously [here](https://github.com/PrestaShop/PrestaShop/pull/23137#issuecomment-776657793)
The Swedish language is selected, In the BO > Catalog > Product details page, when we try to update a specific price with negative impact, an exception is displayed

#### Expected behavior

We should have a clear alert as in English `Invalid price/discount amo

[2021-03-08 12:02] onklmaps commented on #23460
Ok, I will try to figure out what the root cause is and reply here if found. I  hope it is possible to reopen this ticket if root cause is found / issue is reproducable?

[2021-03-08 12:38] Diegocanet opened #23563 "Error whit the Search bar module"
Describe the bug

En mi página puedo ver la barra de búsqueda pero no puedo escribir nada, al hacer click no sucede nada. Ya he desintalado e instalado varias veces el módulo pero el problema persiste, fue de un momento a otro ya que al principio funcionaba bien

Expected behavior

Use the search bar without problems

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'https://lam

[2021-03-08 12:50] hibatallahAouadni commented on #23547
Hello @costads

I didn't manage to reproduce your issue with PS1.7.7.2, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/110323621-21858880-8015-11eb-97b7-b95f5e44834a.png)

Please check and feedback.
Thanks!

[2021-03-08 13:08] costads commented on #23547
Well, I don't know what to say. All i know is that I have been using PS for years and never had this problem untill 1.7.7.
The changes I did with the code above fixed my problem in both my running shop, and test install.

I must do something in a special order or something, since only I seem to have this problem on both my old, and a new install. Did you create the new costads product in shop_id 1

[2021-03-08 13:26] matks commented on #23544
Hi @hibatallahAouadni ; not it's not safe to use an archived module in the Core 😊  . I guess it's not an issue, but it definitely is not clean.

We need to perform a little cleaning of the code to remove all code related to vatnumber module now that it has been removed.

[2021-03-08 13:27] hibatallahAouadni commented on #23555
Hello @PrestaEdit

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9594.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-03-08 13:27] #23555 closed, assigned to nobody

[2021-03-08 13:27] hibatallahAouadni commented on #23555
Duplicate of #9594

[2021-03-08 13:27] matks commented on #23508
@hibatallahAouadni it's a great idea

[2021-03-08 13:29] PrestaEdit commented on #23555
Ouch'.

[2021-03-08 13:33] matks commented on #23446
Hi @hibatallahAouadni from a developer POV there is no issue to block people who use `-` as firstname.

However, I dont know if it's a good investment.

Every time we add a new feature in the Core, whether it's something complex (like the Fuzzy Search) or something very simple like this (block people using `-`  as firstname) we add some code into PrestaShop. Over years, the quantity of code grows

[2021-03-08 13:35] hibatallahAouadni commented on #23453
Hello @gennaris

May be your code is wrong, so could you please try to edit the order by Postman, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/110328346-8a6fff00-801b-11eb-9950-5c2f540f39a3.png)

Please check and feedback.
Thanks!

[2021-03-08 13:37] hibatallahAouadni commented on #12772
Fixed by #18396

[2021-03-08 13:37] #12772 closed, assigned to NeOMakinG

[2021-03-08 13:38] matks commented on #23547
On-premise software is a very unreliable science 😄  dont worry, it happens regularly.

Some module installed? Some FO theme? Some integrations?

[2021-03-08 13:39] matks commented on #20354
🆙  @NeOMakinG 😉

[2021-03-08 13:41] hibatallahAouadni commented on #23460
@onklmaps ofc we will reopen this ticket if root cause is found and the issue is reproducable :wink:

[2021-03-08 13:43] matks commented on #20134
Hi, it seems we didn't manage to reproduce the issue, although we use standard htaccess file :/ .

I'm afraid we have no other ideas about how to reproduce your issue. There must be something in your shop / setup / server that makes the issue observable, and without it we cannot confirm this issue.

I close this issue. It does not mean this discussion is over 😉  you can reopen another issue with m

[2021-03-08 13:43] #20134 closed, assigned to nobody

[2021-03-08 13:44] matks commented on #17228
Ping @jolelievre wdyt? I think it would be great to allow mail themes to have parent/children system, to be able to benefit from parent theme and only customize what you need.

Do you think it would be doable?

[2021-03-08 13:46] wilva commented on #23544
Hi,

@matks you said:
"We need to perform a little cleaning of the code to remove all code related to vatnumber module now that it has been removed."

But that means that the plugin will no longer function ??
Am I misunderstanding that? Is core another product perhaps?

So it would not matter if I would spent time on keeping the plugin up-to-date, the VAT functionality is dead.

[2021-03-08 13:47] ldeprestashop commented on #23446
You can limit name to 3 char min

Exemple : Cambodge, "Y" is a first name.

The only rule (for length) is 1 char min

[2021-03-08 13:47] costads commented on #23547
No, I made a brand new stock install to eliminate any modules, themes, overrides,  etc. :)
Then I enabled Multistore, added a new shop in same shop group, enabled share stock, added a new product under id_shop 1 with 0 in stock, and then noticed it was not listed in monitoring.

[2021-03-08 13:48] ldeprestashop commented on #23446
Add new rules for block "-" don't add any value.

[2021-03-08 13:49] hibatallahAouadni commented on #23508
Ok! We have @matks approval, I will change the label to **`To Do`** :tada:

[2021-03-08 13:52] ldeprestashop commented on #23446
We will think about ratio code complexity vs value added

for this feature I think there is no value but as @matks  indicates we add complexity (for an almost null value gain)

[2021-03-08 13:52] hibatallahAouadni commented on #23544
Thanks @matks for the clarification :wink: changed to an improvement

[2021-03-08 13:59] hibatallahAouadni commented on #23547
Hello @costads

Yes, as you can see in the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/110331090-e8eaac80-801e-11eb-8429-440e6519f738.png)

Please check and feedback.
Thanks!

[2021-03-08 14:00] matks commented on #23544
What will be removed from the Core can be moved into a module 😉  . If some hooks are missing, they can be added.

If someone is willing to maintain a VatNumber module, we will be happy to discuss with him and provide the needed extension points for this module (and any other VAT module) to function.

But keeping hardcoded statements in the core related to an archived module is not good.

[2021-03-08 14:06] hibatallahAouadni commented on #23544
@matks So, shall we change the label to **`To Do`**?

[2021-03-08 14:08] wilva commented on #23544
Mathieu, thanks for you swift reply.

Understood.

As mentioned earlier, I am willing to spent time to maintain the VAT plugin.
But admittedly I know more about C++ and a number of other programming languages than I do about php and the Prestashop framework. I do not expect that to be a real problem though.

[2021-03-08 14:12] costads commented on #23547
I mean in the table ps_stock_available.

When I add a new product as id_shop 1 (ShopA or ShopB) , the row is added as id_shop 0 in the ps_stock_available table.
Should it not be either added in the DB as id_shop 1 or maybe both id_shop 0 and 1 at the same time?

[2021-03-08 14:14] ChazyTheBest commented on #18547
@eternoendless Is "a lot of work" something that some PRs can't solve?

[2021-03-08 14:21] tomablan commented on #20354
Didn't change my mind, I'm still doing an override to include SVG with a PHP code :)

[2021-03-08 14:31] matks commented on #18547
The needed work to support php8 is actually a lot more than some PRs.

Here are the parts I can think of:
- for each of our php composer dependency, check that it supports php8 too, if not we need to upgrade this dependency and make sure all the code relying on this dependency is updated too
- find in PrestaShop codebase all code statements not php8 compliant, fix them
- have QA team run a full no

[2021-03-08 14:36] Prestaplugins opened #23565 "Add the custom fields to the customer registration form when creating a new customer from the order form in admin"
#### Is your feature request related to a problem?

When creating an order from admin, and creating a new customer from that page, the standard customer form is displayed without taking in account any modules using the "additionalCustomerFormFields" hook, which allows to add new custom fields to the registration form.

#### Describe the solution you'd like

It would be nice to include that fields

[2021-03-08 15:10] Leenwt commented on #22057
Fix for this is on line 1236 of CartRule.php.
Swap $order_total and $basePriceForPercentReduction around
Original Code:

                // set base price on which percentage reduction will be applied
                $basePriceForPercentReduction = $basePriceForPercentReduction ?? $order_total;
                $reduction_value += $basePriceForPercentReduction * $this->reduction_percent / 100;

Cha

[2021-03-08 15:17] hibatallahAouadni commented on #23558
Hello @crezzur

Thanks for reporting this issue.
I reproduce this issue only with FacetedSearch v3.7.0 and I didn't manage to reproduce it with v3.5.0, see the attached screen record below:

https://drive.google.com/file/d/15bHqbwdmkQ6m07Nrx6m8X2ebQILzrNy9/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do

[2021-03-08 15:18] ghost opened #23567 "Use the correct protocol in install.txt"
#### Is your feature request related to a problem?

Use the correct protocol in install.txt

#### Describe the solution you'd like

Use the correct protocol in install.txt , it is better to use https instead of http

[2021-03-08 15:19] #23540 closed, assigned to jf-viguier

[2021-03-08 15:24] PierreRambaud commented on #23558
I see you're not using the same PrestaShop version for Faceted Search v3.5.0, could you please retry with the same PrestaShop version you test for the v3.7.0?

[2021-03-08 15:25] matks commented on #23344
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/23127/files

[2021-03-08 15:36] crezzur commented on #23558
**Prestashop version 1.7.7.2**
ps_facetedsearch 3.5.0 option not working
ps_facetedsearch 3.7.0 option not working

[2021-03-08 15:38] NeOMakinG commented on #14533
Updating webpack seems to be a good thing to do yes 😆

What can't be updated?

[2021-03-08 15:39] Hlavtox commented on #23534
@hibatallahAouadni Simmilar point in code, but different problem

[2021-03-08 15:58] hibatallahAouadni commented on #23558
Hello @crezzur

PS1.7.7.2 & `ps_facetedsearch` 3.5.0 => NOK
PS1.7.7.2 & `ps_facetedsearch` 3.7.0 => NOK

PS1.7.6.7 & `ps_facetedsearch` 3.5.0 => OK
PS1.7.6.7 & `ps_facetedsearch` 3.7.0 => OK

So the issue is not related to the module `ps_facetedsearch` but to PS Core.
Thanks @PierreRambaud for the clarification :rocket:

Thanks!

[2021-03-08 16:15] matks commented on #20354
Hi @tomablan the feature request "being able to include a SVG File from outside the `template` folder" is good I add it "To Do".

Feel free to submit a Pull Request if you know how to solve this topic.

[2021-03-08 16:25] #23497 closed, assigned to NeOMakinG

[2021-03-08 17:14] Hlavtox opened #23569 "Add AND/OR behavior to faceted search checkbox filters"
#### Is your feature request related to a problem?

I am unable to add a "functions" filter to my products. Imagine I want to sell computer displays for example.
- You assign **Connection** feature to your display with values **HDMI**, **displayPort**, **VGA**, **DVI**
- You enable faceted search.
- You go to a category as a customer and want to buy a display, that has both **HDMI** and **displayP

[2021-03-08 18:06] SharakPL commented on #14533
`npm update` in /themes/classic/_dev/ throws an error quoted above

[2021-03-08 18:18] jf-viguier commented on #23544
@matks it's not clear : I hope that you will not remove the code that remove vat.
Imo you could keep VATNUMBER_* configuration variables (it's not module dependent) and calculation or add a new hook/override to manage this.

[2021-03-08 19:22] hibatallahAouadni commented on #23559
Hello @Prestaplugins

Could you please provide a screen record or screenshot of the issue.

Thanks!

[2021-03-08 19:24] hibatallahAouadni commented on #23563
Hello @Diegocanet

Please send your request in English. English is the norm on GitHub.

Thank you

[2021-03-08 19:24] #23563 closed, assigned to nobody

[2021-03-08 19:29] hibatallahAouadni commented on #23565
Hello @Prestaplugins

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , is it doable to take in account any modules using the "additionalCustomerFormFields" hook while creating a customer from BO>Orders>Orders>Create an Order?

[2021-03-08 21:08] ShaimyWinda commented on #12300
Hi, i try this solution but doesnt work. I already delete cache

Can you help please ?

Thanks

![image](https://user-images.githubusercontent.com/25744417/110382226-e0b06280-805a-11eb-8032-5165b59a09df.png)

[2021-03-08 21:36] mullerpetr76 opened #23570 "[WS] [POST/PUT] Carts - id_customization is not propaged to DB"
#### Describe the bug

id_customization is not propagated into DB via webservice/API POST or PUT /carts request

#### Expected behavior

Once I put correct id (not 0) into id_customizaiton, into POST or PUT request to endpoint /carts, this id should be stored into DB.

#### Steps to Reproduce

## 1. Create a cart:
- **method: POST**
- **body:**

[code]
## 2. Create a customization
- **method: POST

[2021-03-08 21:36] matks commented on #23567
Fixed by https://github.com/PrestaShop/PrestaShop/pull/23566

[2021-03-08 21:36] #23567 closed, assigned to nobody

[2021-03-08 23:57] futurehousestore opened #23571 "Cannot save product after deleting language"
#### Describe the bug

I had 2 languages EN-US and EN-GB after changing the default language from EN-US to EN-GB and deleting EN-US I am not able to save changes of any product. I had a look at previous related issues and solutions but nothing has helped.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a second language
2. Switch the default language to the new one
3. Remove

[2021-03-09 02:29] Pinwheel29 opened #23572 "Prestashop 1.7.7+ Attribute Combination Pricing Bug"
#### Describe the bug

I create 3 Attribute groups: Packaging, Size, Color.  Packaging has two attributes with prices.  The other attributes have no impact on pricing. They are all set to 0.00.   The price works correct on the cart if I choose the first one of each group. 1. Packaging, 1 size, 1 color. If I choose any other combination the price goes back to the original sale price without the pac

[2021-03-09 04:25] costads opened #23573 "New message/order/customer notification bubble not updated live"
### Describe the bug
New message/order/customer notification bubble is not updated live, without refreshing the browser.

### Expected behavior
I expected a notification bubble number on either a new message/customer/order without refreshing the browser like in 1.7.6 and previous years versions.

### Steps to Reproduce
Open frontpage of BO, and notice the notification bubbles does not update the n

[2021-03-09 07:22] Pinwheel29 commented on #23572
I have found that attribute does not work if I only add one price. The rest are base price. Still with different combo's the price does not change. Only does it change in that scenario if I pick the first attribute of packaging, first attribute of size and first attribute of color. Choose anything else and the price will not calculate the package attribute.

[2021-03-09 07:49] jordiweblidera opened #23574 "Can't translate a child theme in PrestaShop 1.7.7.2"
#### Describe the bug

After installing a PrestaShop with version 1.7.7.2 and installing a child theme, the child theme cannot be translated.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install a fresh 1.7.7.2
2. Create a child theme (https://devdocs.prestashop.com/1.7/themes/reference/template-inheritance/parent-child-feature/)
3. Go to International > Translations
4. Try to tr

[2021-03-09 08:11] Julievrz commented on #23552
Hi @hibatallahAouadni
I agree with @matks, the best thing to do is to go on Crowdin and suggest this translation. @LarsGMortensen Please do not hesitate to contact me on Crowdin (https://crowdin.com/profile/julievrz) if you have any questions!

[2021-03-09 08:16] Webbrent commented on #23302
This problem persists even though upgraded to the 1.7.2.2 version of Prestashop.

[2021-03-09 08:25] md2158 opened #23575 "Upgraded to 1.7.7.2 version and can't access Shop Parameters and Advanced Parameters."
#### Describe the bug

Upgraded to 1.7.7.2 version and can't access Shop Parameters and Advanced Parameters. Getting these errors:
Call to a member function compile() on null
Undefined class constant 'Doctrine\Common\Collections\Expr\Comparison::STARTS_WITH'

Please help, how to solve this?

**Screenshots**

![image](https://user-images.githubusercontent.com/13145310/110440397-a8943880-80c9-11eb-8

[2021-03-09 08:28] #23572 closed, assigned to nobody

[2021-03-09 09:01] #23574 closed, assigned to nobody

[2021-03-09 09:01] hibatallahAouadni commented on #23574
Duplicate of #15268

[2021-03-09 09:04] hibatallahAouadni commented on #22057
Hello @Leenwt

Could you please make a PR (Pull Request).

Thanks!

[2021-03-09 09:07] Leenwt commented on #22057
Just dumped the code here due to current work commitments might help someone out will do a pr when I get 5 mins or someone else is welcomed to do it!

[2021-03-09 09:10] Prestaplugins commented on #23559
How could I provide a screenshot of something that is not called ?
The order_detail table is updated in database when you return or refund a product, so I just think the actionObjectOrderDetailUpdateAfter hook should be called on those actions (and so the actionObjectOrderDetailUpdateBefore too).

[2021-03-09 09:17] #23552 closed, assigned to nobody

[2021-03-09 09:21] hibatallahAouadni commented on #23559
Hello @Prestaplugins

Please enable the debug mode and open the Symfony bar, then when it suppose to call the hook, just take a screenshot (like this one):

![image](https://user-images.githubusercontent.com/23308427/110448008-1720c880-80c1-11eb-9f6f-09102f34f236.png)

I just need to confirm the list of called hooks :wink:

Please check and feedback.
Thanks!

[2021-03-09 09:36] hibatallahAouadni commented on #23573
Hello @costads

Originally posted #23468

Even when I installed Danish language, I didn't reproduce the issue.
See the attached screen record below:

https://drive.google.com/file/d/1xCawTsxsbTToCRqWWKoMMqPglt3y0pI7/view

It's not related to the language :wink: You just need to wait a minute or two and then the bubble will be displayed.

Please check and feedback.
Thanks!

[2021-03-09 09:42] hibatallahAouadni commented on #23571
Hello @futurehousestore

I didn't manage to reproduce the issue with PS1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/1Eo9ILd9bgzQG71swmqs5HipUvipnay5U/view

Please check and feedback.
Thanks!

[2021-03-09 09:52] jordiweblidera commented on #23574
Sorry, I tried to find before without luck :(. Thanks ;)

[2021-03-09 09:57] hibatallahAouadni commented on #23569
Hello @Hlavtox

That's will be great if we could add this feature in the FacetedSearch module.
Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , how about we add a new filter in **BO**>**Module Manager**>**Faceted Search**>**Edit template** named **Filter behavior** with the proposed values:

- AND (all checked values must match)
- O

[2021-03-09 10:11] flexcodenet opened #23576 "[BO] - Navbar menu - missing css"
#### Describe the bug

Navbar menu in back office disappears if other modules in their code have css with class d-none. Layout use bootstrap class, but it is not used in this view. So d-md-block don't work.

#### Expected behavior

If we use class from bootstrap in view, it should be included in the view.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Admin DashBoard.
2. Chec

[2021-03-09 10:19] costads commented on #23573
Ah, I think I know what is making the problem appear.
I just tried to send 5 messages when I left BO on dashboard, and all went through fine
Then I left BO at orders page and sent 5 new messages, and all 5 were missing the yellow bubble.

Also, I am waiting long enough I guess. I get the bubble at the browser tab, and I can also see in the modal parenthesis that the message went through after a co

[2021-03-09 10:24] #22801 closed, assigned to NeOMakinG

[2021-03-09 10:26] merick2158 commented on #23575
The previous version was 1.7.3.4.

[2021-03-09 10:27] #23523 closed, assigned to PierreRambaud

[2021-03-09 10:32] matks commented on #23571
@futurehousestore see https://github.com/PrestaShop/PrestaShop/issues/22215

[2021-03-09 10:44] hibatallahAouadni commented on #23576
Hello @flexcodenet

Could you please **follow the provided template to submit a complete bug report** and provide steps to reproduce the issue.

Could you please provide more details about your issue, is there any Front-end breaks??
Please check and feedback.

Thanks!

[2021-03-09 10:46] hibatallahAouadni commented on #23559
Hello @Prestaplugins

Glad to hear :tada:
And thanks for your feedback!

[2021-03-09 10:46] #23559 closed, assigned to nobody

[2021-03-09 10:54] hibatallahAouadni commented on #23571
Hello @futurehousestore

Thanks for your feedback!
@matks thanks for the hint :wink:

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #22611.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-03-09 10:54] #23571 closed, assigned to nobody

[2021-03-09 10:55] hibatallahAouadni commented on #23571
Duplicate of #22611

[2021-03-09 11:07] flexcodenet commented on #23576
#### Describe the bug

Navbar menu in back office disappears if other modules in their code have css with class d-none. Layout use bootstrap class, but it is not used in this view. So d-md-block don't work.

#### Expected behavior

If we use class from bootstrap in view, it should be included in the view.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Admin DashBoard.
2. Chec

[2021-03-09 11:07] costads commented on #23573
Thanks :)

Could you reproduce it?
I can reproduce it on both my running shop, my test shop, and both in Chome and Edge.

[2021-03-09 11:07] flexcodenet commented on #23576
@hibatallahAouadni done

[2021-03-09 11:12] flexcodenet commented on #23576
Frontend work correct. Just BO.

[2021-03-09 12:20] futurehousestore commented on #23571
Thanks, guys I managed to solve the problem with the viewing orders using @javierrojas10 method from issue #22215 but the main problem regarding saving products still exist. I'm still unable to save the changes.

[2021-03-09 13:05] flexcodenet commented on #23576
Hello @hibatallahAouadni
Yes 1.7.7.2, and 1.7.7.1 too. But I reported the problem in the latest version because I think it will be better and it doesn't matter.

#22250 - This is something else, these reports are not helping. I gave an example of the problem from the official demo store.

There is also an error in your screenshot.
As you can see, you have two classes: d-none and d-md-block.

The f

[2021-03-09 13:21] #22217 closed, assigned to NeOMakinG

[2021-03-09 13:57] Bahwaimongars opened #23577 "Back office - Jquery error"
**Describe the bug**

When i go to back office, direct in my Dashboard i go this error and in all pages from back office too :

Products
Categories
...

So i cant add products, images .... when i click, nothing happen

I changed nothing since 1 week and this appears.

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Go to dashboard ( inspect tools and errors show up )
2. In all pages e

[2021-03-09 14:18] merick2158 commented on #23575
Upgraded 1-Click upgrade module and it works. Really strange that the upgrading module itself making errors.

[2021-03-09 14:18] #23575 closed, assigned to nobody

[2021-03-09 14:24] Braian70 opened #23578 "error en categoria , uso mucho entre diferente productors -categorias"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'productos'
2. Click on 'filtrar por categorias'
3. Scroll down to 'elegir categoria, sale bien , si quiero cambiar otra categoria , otra vez tengo que abrir categoria uno a uno '
4. See

[2021-03-09 14:25] PierreRambaud commented on #23569
Everything is doable when you take time to do it