[2020-01-15 14:44] krasnycz commented on #17185
1-Click v4.10.1. I uninstalled and removed the module. Did clean install of the module.

Log attached.

[log.txt](https://github.com/PrestaShop/PrestaShop/files/4065392/log.txt)

[2020-01-15 14:45] khouloudbelguith commented on #17117
Is it the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/14020?

Thanks!

[2020-01-15 14:46] darylstone commented on #17118
Hi @khouloudbelguith,

I see, might be related to the same issue though. I did just do a fresh installation and tried it out.

**1. Stock Management enabled & allow ordering of out-of-stock products**
1.1. Works sometimes but not always using slow 3G network.
1.2 Using opera GX network limit with 64-124kb/s it never works.

**2. Stock management disabled**
Same issue, doesn't work for me.

Could y

[2020-01-15 14:49] PierreRambaud commented on #17117
@mvorisek You're right, this headers shouldn't be used when it's not under a trusted proxy, like Symfony does.

[2020-01-15 14:49] zuk3975 commented on #17032
I think this is related https://github.com/PrestaShop/PrestaShop/issues/9845

[2020-01-15 14:50] mvorisek commented on #17117
The desc. of #14020 is horrible, so maybe :) If PS is behind Cloudflare or other CDN, that's where the `X-Forwarded-For` headers makes sense. but otherwise it can be trusted. Maybe there can be a list of most common CDN like the `PS_GEOLOCATION_WHITELIST` list or this list can be maybe used itself for it.

[2020-01-15 15:10] khouloudbelguith commented on #17117
@mvorisek, thanks!
@PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-01-15 15:10] khouloudbelguith commented on #14020
Duplicate of #17117

[2020-01-15 15:10] #14020 closed, assigned to nobody

[2020-01-15 15:33] matks commented on #17007
OK, we want to follow `have one license file for all and change the date only here`
So we'll contact PrestaShop legal team

[2020-01-15 15:33] khouloudbelguith commented on #17118
@darylstone, I tried again with PS1.7.6.2 & it is ok.
I attached a new screen record
https://drive.google.com/file/d/1RNM4ZdnlkCVDqzElSP0-6qDPSqFrhK7O/view
Thanks to check & feedback.

[2020-01-15 15:40] marionf opened #17188 "Token invalid when trying to edit a translation"
**Describe the bug**
Token invalid when trying to edit a translation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO > international > translations
2. Select a translation type and a language (no matter which one)
3. Click on edit
4. See the page invalid token

**Screenshots**
![capture d'écran_2274](https://user-images.githubusercontent.com/13449658/72447506-bb58f900-37b5-11ea-97e5

[2020-01-15 15:50] khouloudbelguith commented on #17185
The options do not work in the PS1.7.6
![image](https://user-images.githubusercontent.com/16067358/72447578-e3485c80-37b5-11ea-90b5-37fe4a22a963.png)
as reported here:
https://github.com/PrestaShop/PrestaShop/issues/14596
https://github.com/PrestaShop/PrestaShop/issues/9965

About your issue, could you please provide me a screenshot from your table ps_currency & the structure of this table.

Thank

[2020-01-15 15:52] khouloudbelguith commented on #17158
Hi @jf-viguier,

Thanks for your report.
Could you please provide the exact override did you use?

Thanks!

[2020-01-15 16:01] khouloudbelguith commented on #17172
@Leo-pold-02,

Yes!

About this problem, in your table "ps_specific_price" you have a duplicated `id_specific_price` where id_product = 2.

You need to try with this sql command: `select * from ps_specific_price where id_product = 2` & check if you have some recordings.

Thanks!

[2020-01-15 16:03] khouloudbelguith commented on #16987
@01par,

What is the exact solution did you find?
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-01-15 16:12] marionf opened #17189 "Undefined method when trying to add a language or a pack"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO > International > Translations
2. Select a language to add
3. Click on "Add or edit a language"
4. See error

Steps to reproduce the behavior:
1. Go to BO > International > Localisation
2. Select a localization pack
3. Click on "Import"
4. See error

However, the

[2020-01-15 16:24] PierreRambaud commented on #17189
![image](https://user-images.githubusercontent.com/1462701/72451226-e6dee200-37bb-11ea-9e6d-baa8cba6d10e.png)
Do you run `composer install` before switching branch? :)

[2020-01-15 16:28] marionf commented on #17189
Indeed, I forgot that :sweat_smile:
Thx !

[2020-01-15 16:28] #17189 closed, assigned to nobody

[2020-01-15 16:30] LouiseBonnard opened #17193 "Modify the way users access MaxMind GeoIP service"
**Is your feature request related to a problem? Please describe:**

MaxMind has changed its policy and now requires users who want to enable geolocation on their PrestaShop store to register an account before being able to download the data.

MaxMind's new system requires to:

1. create a user account, in the "create an account form" you must explain what you intend to use the MaxMind GeoIP data f

[2020-01-15 16:34] krasnycz commented on #17185
![image](https://user-images.githubusercontent.com/15078106/72452069-35d94700-37bd-11ea-9aaf-b46501efabfd.png)

![image](https://user-images.githubusercontent.com/15078106/72452096-47baea00-37bd-11ea-8fc8-97354f81bb7e.png)

[2020-01-15 16:35] khouloudbelguith commented on #17068
Hi @LSClaire,

I found those errors in your log:

In your php.ini file, Try to increase:

[code]
Also, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).

Thanks to check & feedback

[2020-01-15 16:37] Fabuloops opened #17194 "Change JQuery targeting of add-to-cart form by native targeting"
**Is your feature request related to a problem? Please describe.**

I would like to put the button "add-to-cart" outside of the form. The form's submitting still work's if you add "form" attribute in the button element... but the JS function "add-to-cart" prevents me from doing it

**Describe the solution you'd like**

The solution is to change this line
```let $form = $(event.target).closest('for

[2020-01-15 16:38] LouiseBonnard commented on #17137
@TristanLDD, @prestascott, what do you think about this suggestion?

[2020-01-15 16:41] finlanderid commented on #17117
@mvorisek

Up yours.  My description in #14020 is comprehensive and precise.  Your lack of English language usage/comprehension does not make my description "horrible."

[2020-01-15 16:43] darylstone commented on #17118
Hi @khouloudbelguith

thank you, that's funny. :))
I just tried on your demo and it doesn't work for me. Curious why it doesn't work for me but works for you. :))) I'm able to reproduce that also on my laptop and smartphone. Strange.

I will do more tests and get back to you. :)

[2020-01-15 16:47] realloyalist commented on #9927
I discovered where the issue is and a workaround fix. The issue is in the core.js file and has to do with the event listeners that eventually trigger the toggleOrderButton() function. None of the current event listeners get triggered with a free order and no terms box. Something must be added to trigger the toggleOrderButton() function for free orders. A more detailed explanation and temp fix can

[2020-01-15 16:49] prestascott commented on #17137
Hi @Hlavtox,

Thank you for your feedback, we are currently on it and a label can be a workaround for this button text replacement.

Thanks!

[2020-01-15 16:51] khouloudbelguith commented on #17118
@darylstone, thanks!
Waiting for your feedback.

[2020-01-15 16:52] khouloudbelguith commented on #17194
Hi @Fabuloops,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-01-15 16:52] marionf commented on #9689
It's fixed with the migrated page: https://drive.google.com/file/d/1qFrDpGJBjpKyHuxN9O9TGW_tfZ2J4cUb/view?usp=sharing

[2020-01-15 16:52] #9689 closed, assigned to nobody

[2020-01-15 16:56] marionf commented on #11176
@khouloudbelguith
Could you check if this issue is fixed on `1.7.7.x` branch with the migrated page ?
URL of the page: `/admin-dev/index.php/sell/orders/orders/5/`

[2020-01-15 17:11] gadnis opened #17195 "Module: ps_facetedsearch. Only default category products is listed"
**Bug**
Only default category products is listed when using ps_facetedsearch module. Product must be listed in the category no matter it is its default category or not.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable the module
2. Go to ps_facetedsearch module preferences. Set `Show products from subcategories` to NO
3. Go to Catalog > Products. Pick one product add it to two differen

[2020-01-15 17:20] k0lv commented on #17171
@khouloudbelguith , no I have not added it manually. It is a part of off-the-shelf PS configuration:
![image](https://user-images.githubusercontent.com/59282576/72455736-05e57000-37cc-11ea-825a-85a163c21d65.png)

[2020-01-15 17:21] mvorisek commented on #17117
@finlanderid Do not take it personally. I am also non-native English speaker. I read half the description and I was reading something like "requiring && operator truth" etc. which is code description which can be much easily read when linked (at least for programmers) and the issue itself is described shortly in 1, 2 sentences.

[2020-01-15 17:24] eternoendless commented on #17161
We should never perform operations on amounts which have already been rounded up, except in very specific conditions: that there's a setting that controls when rounding is performed (either when calculating subtotal for each cart row, or for the grand total).

Logically, tax calculation should be calculated and stored separately, and not inferred from rounded up results. By this I mean that we sho

[2020-01-15 17:44] Tomicapo commented on #16029
So, this is going to be fixed on v 1.7.7? Is there something I can do now with 1.7.6?

[2020-01-15 17:48] Hlavtox commented on #17161
I think you should get a lawyer for this topic, this is nonsense 👍

[2020-01-15 18:07] MatShir commented on #16389
@Robin-Fischer-PS could you explicit the steps we can't really reproduce it ?

[2020-01-15 18:15] 01park commented on #16987
I will send you my gsitemap
[gsitemap.zip](https://github.com/PrestaShop/PrestaShop/files/4066597/gsitemap.zip)

[2020-01-15 20:54] photinia73 opened #17196 "Faseted search error"
Sorry, Close this pls

[2020-01-15 23:58] j0r1s commented on #17153
hi @khouloudbelguith !

Thanks for your attention.

Done, still getting the redirection chain.

My bad, you're right, it's `ps_shoppingcart` module I'm using, but I don't think it's related either since the same bug happens when I disable the `ps_shoppingcart` module via the back-office (even after running `rm -rf var/cache/*`).

Let me know if I can do anything else to help further troubleshootin

[2020-01-16 01:19] CatchMeZZo commented on #16353
I know that... the question is how long it takes to release the update!

[2020-01-16 08:17] khouloudbelguith commented on #16793
Hi @faranm,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-16 08:17] #16793 closed, assigned to nobody

[2020-01-16 08:22] marionf commented on #16353
1.7.6.3 should be available next week

[2020-01-16 08:22] khouloudbelguith commented on #17195
Hi @gadnis,

We are awre manage to reproduce the issue, it should be specified by our product team.
Your ticket is a duplicate of #14003
So, I close it.
Thanks !

[2020-01-16 08:22] #17195 closed, assigned to nobody

[2020-01-16 08:22] khouloudbelguith commented on #17195
Duplicate of #14003

[2020-01-16 08:23] #17196 closed, assigned to nobody

[2020-01-16 08:28] khouloudbelguith commented on #17153
@j0r1s, You need to enable debug mode in your store and debug request which is sent for product add to cart in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. add the product to cart
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Res

[2020-01-16 08:30] khouloudbelguith commented on #16987
@01park, thanks!
But, would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/gsitemap
It is more easy for our developer to review your code.
Thank you!

[2020-01-16 08:34] marionf commented on #14417
Fixed for the summary with the migrated page

[2020-01-16 08:34] #14417 closed, assigned to nobody

[2020-01-16 08:58] marionf opened #17197 "Empty columns on orders tab when creating an order"
**Describe the bug**
Columns "products" and "state" are empty on orders tab when creating an order

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO > Orders > Add a new order
2. Select a customer with existing orders (pub@prestashop.com)
3. Click on "orders" tab
4. See "products" and "state" columns are empty

**Screenshots**
![capture d'écran_2282](https://user-images.githubusercont

[2020-01-16 09:03] marionf opened #17198 "Dropdown with combination not automatically displayed while creating an order"
**Describe the bug**
Combination not automatically selected while creating an order

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO > order > add new order
2. Select a customer
3. Search a product with combination like "framed poster"
4. The dropdown to select the combination isn't displayed, it appears if you select another product with combinations

**Screenshots**
![capture d'écr

[2020-01-16 09:06] 01park commented on #16987
Hi,

I don't know what it means to make a pull + the fix I applied I found here on Github to. I believe it was Quetzacoalt91 who fixed it.

[2020-01-16 09:08] colinegin commented on #10025
@khouloudbelguith you are correct, I've just tested the difference between 1.6 and 1.7.
The option "disable ajax cart" does not work on the ps_shopping cart module, as it does not bring the user to the shopping cart page after adding a product to the cart.

[2020-01-16 09:18] marionf commented on #9876
It's fixed with the migrated page create an order.
Deleted currencies are not displayed anymore

[2020-01-16 09:18] #9876 closed, assigned to nobody

[2020-01-16 09:18] khouloudbelguith commented on #16987
@01park, Issue fixed by this PR: https://github.com/PrestaShop/gsitemap/pull/106? is it?

Thanks!

[2020-01-16 09:20] 01park opened #17199 "Best Sales with limited amount of products"
Would it be possible to limit the amount of products shown on the best sales page.

What I see now is that all products that have been sold are on the list offering over, in my case, 100 pages of best sale items.  Limiting this to lets say 1 page or 25 items would be for me enough. No reason to show over 2500 products here.

Commentators basically see my whole list of products that are being sold.

[2020-01-16 09:21] khouloudbelguith commented on #17185
@krasnycz, thanks for your feedback.
About the last currency `CZK` which have id_currency=4, did  you delete this currency before or after the upgrade?

![image](https://user-images.githubusercontent.com/16067358/72509888-c01abd00-3848-11ea-9030-e451bf03d8f9.png)
Could you please try to re-import the Czech pack with selecting the currency symbol, check & feedback.
![image](https://user-images.gith

[2020-01-16 09:23] azitafomo opened #17200 "Hreflang Tags with Errors-no return tags(one language website)"
I have error which is related to no return tags and as
![Capture](https://user-images.githubusercontent.com/57670369/72510602-f9f6be00-385e-11ea-8e46-a3d940780701.JPG)

 my website has only one language a friend told me me to delete this lines from: head.tpl
{block name='head_hreflang'}
    {if isset($urls.alternative_langs)}
      {foreach from=$urls.alternative_langs item=pageUrl key=code}

[2020-01-16 09:28] marionf commented on #13782
@khouloudbelguith Could you check if it's fixed with the migrated page on 1.7.7.x branch ?

[2020-01-16 09:36] khouloudbelguith commented on #17199
Hi @01park,

Thanks for your report.
In fact, in the BO => Shop Parameters => General page => we have only Enable/Disable `Display best sellers` option.
![image](https://user-images.githubusercontent.com/16067358/72512105-d9713880-384b-11ea-9d1f-f732e61446e6.png)
Ping @PrestaShop/prestashop-product-team what do you think?
Related to https://github.com/PrestaShop/PrestaShop/issues/17136

Thanks!

[2020-01-16 09:46] khouloudbelguith commented on #11176
Hi @marionf,

It is OK with PS1.7.7.x & Windows & os_version=10 & browser=IE & browser_version=11.0.
![image](https://user-images.githubusercontent.com/16067358/72513339-420ce500-384d-11ea-8dab-867603a357f5.png)
I will close the issue since it is fixed.
THanks!

[2020-01-16 09:46] #11176 closed, assigned to nobody

[2020-01-16 09:50] LouiseBonnard commented on #16029
It should be frozen in a few weeks, @Tomicapo. Meanwhile, you can still have a look at PR #16334 to get the fix. :-)

[2020-01-16 09:54] 01park commented on #16987
Yes, I believe that's the one.

[2020-01-16 09:57] khouloudbelguith commented on #17200
Hi @azitafomo,

What is the exact version PrestaShop did you use?
Could you please add steps to reproduce the issue in a new comment.

Thanks!

[2020-01-16 10:03] BenTen commented on #17114
Sorry I forgot to write, it's 1.7.5.0

[2020-01-16 10:12] matks commented on #10621
@MatShir Warning: while poking around with @sowbiba we found that enabling one checkbox shows an additional input in the form at the end, with a "preview" button. But we did not understand what it does.

[2020-01-16 10:13] eternoendless commented on #14844
Closing this as duplicate of #16482

[2020-01-16 10:13] #14844 closed, assigned to nobody

[2020-01-16 10:19] eternoendless commented on #17161
I agree, this is why I'm calling for a formal specification.

The subject of the missing or extra 1 cent is unclear to me. I said about rounding prices up to avoid very small prices to be rounded down to 0:

<img width="1208" alt="Screenshot 2020-01-16 at 11 18 55" src="https://user-images.githubusercontent.com/1009343/72516456-00cb0400-3852-11ea-85f7-0351119036fe.png">

[2020-01-16 10:20] khouloudbelguith commented on #13782
Hi @marionf,

It is OK with PS1.7.7.x
![image](https://user-images.githubusercontent.com/16067358/72516521-193b1e80-3852-11ea-8b1c-dff770c78244.png)
Since it is fixed, I will close the issue.

Thanks!

[2020-01-16 10:20] #13782 closed, assigned to nobody

[2020-01-16 10:22] khouloudbelguith commented on #16987
@01park, since it fixed, I will close the issue.
PS: a new release for the gsitemap is not released yet.

Thanks!

[2020-01-16 10:22] #16987 closed, assigned to nobody

[2020-01-16 10:27] khouloudbelguith commented on #17114
@BenTen, Can you please add steps to reporduce the issue in a new comment.

Thanks!

[2020-01-16 10:30] eternoendless commented on #11125
Basically presenters build elements that will be passed on to Smarty templates and/or to the `prestashop` js object (after filtering). So as I understand it this would allow modules to enrich these objects.

I can't see any reason not to do this, other than a small performance hit.

[2020-01-16 10:38] Hlavtox commented on #17161
@eternoendless In prices approaching zero, thats questionable, but you cannot just say “lets round tax up”, because you like it that way.

[2020-01-16 10:42] jf-viguier commented on #11125
Yes it is, we simply wants to add attributes to product, cart, cart detail, ...

[2020-01-16 10:48] khouloudbelguith commented on #17171
@k0lv, about this https://github.com/PrestaShop/psgdpr/issues/57
The module team is on it. They will have a look at all the open issues.
Ping @Quetzacoalt91 what do you think of this issue?

Thanks!

[2020-01-16 10:54] marionf commented on #13782
Thank you @khouloudbelguith !

[2020-01-16 11:00] k0lv commented on #17171
Hello, @khouloudbelguith . Thank you for the response.

Sorry, but I still did not get a response for my question. - Is it a normal practice to allow Search engines to index `*/module/*` route.

Can please somebody comment:
A) Does it works as expected? [ `*/module/*` indexation is necessary for the good SEO ]
, or
B) this is an issue - security breach, as Search engine is indexing PrestaShop inte

[2020-01-16 11:03] Robin-Fischer-PS commented on #16389
@MatShir Noob ! Here is a screenrecord with the scenario :
https://drive.google.com/file/d/1TW7vfJj6kCLtcCmuWvqeqx5hIPaHGG-e/view?usp=sharing

[2020-01-16 11:09] khouloudbelguith commented on #16741
Hi @PeNov,

I tried with PS1.7.6.2 & it is OK.
I attached a screen record
https://drive.google.com/file/d/13fgCUWx1czgB3ITbaYcD6HnUN8gWJPe5/view
Thanks to check & feedback.

[2020-01-16 11:12] khouloudbelguith commented on #17171
@k0lv, Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2020-01-16 11:13] jf-viguier commented on #17158
Add subtitle to product_lang table and use this Product.php override :
[code]

[2020-01-16 11:16] khouloudbelguith commented on #16920
Hi @stephR,

I did not manage to reproduce the issue with PS1.7.6.2, it is OK
https://drive.google.com/file/d/1JmVvZa6ZLtvt7xPNR4VXpYk60bOLPE0i/view
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support t

[2020-01-16 11:16] #16920 closed, assigned to nobody

[2020-01-16 11:32] marionf opened #17205 "Customization field not automatically displayed while creating an order"
**Describe the bug**
Customization field not automatically displayed while creating an order

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO > order > add new order
2. Select a customer
3. Search a product with customization field like "personnalisable mug"
4. The product is automatically selected but the customization field isn't displayed, it appears if you select another product

[2020-01-16 11:50] ruifox commented on #17170
@khouloudbelguith,

One of the shops has this info (if I could find the problem on this one, probably I can fix the others):

**Informação do servidor** Linux #1 SMP Fri Oct 18 17:15:30 UTC 2019 x86_64
**Versão do software do servidor**: Apache
**Versão do PHP**: 7.2.26
**Limite de memória:** 128M
**Versão do MySQL:** 5.5.64-MariaDB
**Versão do PrestaShop**: 1.7.5.2
**URL da loja:** http://delipro

[2020-01-16 11:54] zuk3975 commented on #17089
https://github.com/PrestaShop/PrestaShop/pull/17206

[2020-01-16 11:56] cd2500 opened #17207 "Import prices by product combination referencen PS 1.7. not possible anymore"
Why isn't possible anymore to update prices of combinations on PS 1.7. via combination reference and product ID ?
I think this was possible with PS 1.6. (but I'm not 100% sure, as I'm an Presta Store Manager user).
Now we have the problem, that prices of combinations cannot be managed anymore via csv mass import.
If I import prices with product_id as and combination reference, the product _id is i

[2020-01-16 12:07] NerDifades opened #17208 "Problems with the search engine by reference (using dots)"
**Describe the bug**
Hello, we find out that you cannot search in frontoffice by reference if the reference has points.
For example:
We have a product with this reference: MJ.700. When you look for this product using the reference in the frontoffice, the product it is not shown. Eventhough, if you look for "700" it does appear.
We try any combination in section "Search" of Prestashop but nothing s

[2020-01-16 12:17] marionf opened #17209 "No result found with the search in FO after importing a new language"
**Describe the bug**
No result found with the search in FO after importing a new language

**To Reproduce**
Steps to reproduce the behavior:
1. Install 1.7.7 in French + France
2. Go in BO > International > Loclization
3. Import the pack united kingdom (or another one)
4. Go in FO and select English GB
5. Search "mug"
6. No products are found while it should

**Screenshots**
![capture d'écran_2289

[2020-01-16 12:19] Leo-pold-02 commented on #17172
Hi @khouloudbelguith

Ok under firefox, no red errors in network but purple ones:
Here they are 404 and 400:
![Bildschirmfoto 2020-01-16 um 13 02 14](https://user-images.githubusercontent.com/57262480/72523878-05e37f80-3861-11ea-9b83-53ed5c7f359d.jpg)
![Bildschirmfoto 2020-01-16 um 13 01 59](https://user-images.githubusercontent.com/57262480/72523879-05e37f80-3861-11ea-9cab-48254b2ef764.jpg)
![Bil

[2020-01-16 12:31] marionf commented on #17209
Finally, no problem I forgot to rebuild the index

[2020-01-16 12:31] khouloudbelguith commented on #17170
Hi @ruifox,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-01-16 12:31] #17170 closed, assigned to nobody

[2020-01-16 12:31] #17209 closed, assigned to nobody

[2020-01-16 12:36] khouloudbelguith commented on #17208
Hi @NerDifades,

I did not manage to reproduce the issue with PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/1St5PAenGKKyFbtznJ9LcfwhaneB5BhN5/view
In fact, this issue is fixed in the PS1.7.5.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/9353 as reported previously
http://forge.prestashop.com/browse/BOOM-4148

Thanks to check & feedback.

[2020-01-16 12:38] go-sudo opened #17210 "Search function also doesn't work"
Version de PrestaShop : 1.7.6.2
Thème actif : classic

The search function also doesn't work

Please see image:

- my site: http://prntscr.com/qnyuy1 -> http://prntscr.com/qnyv2s
- This is Prestashop default: http://prntscr.com/qnyvgm -> http://prntscr.com/qnyvl3

I Re-build the entire index again and always the same issue

the search function also doesn't work

Regards

[2020-01-16 12:39] 01park commented on #15169
Hi,

Im still having this issue with 1.7.6.2. Maybe you can help with:

How to get the PHP file your asking for or,

Do I need to have a certain PHP extension installed to make the work?

[2020-01-16 12:45] khouloudbelguith commented on #15169
Hi @01park,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-01-16 12:49] matteolavaggi commented on #16741
But we have this bug in our shop ^^

Il giorno gio 16 gen 2020 alle ore 12:09 khouloudbelguith <
notifications@github.com> ha scritto:

--
cordialmente,
*FATTURAZIONE ELETTRONICA B2B*
Il nostro codice destinatario (alcuni lo chiamano “codice SDI”) è il
seguente: *M5UXCR1*

Matteo Lavaggi
CEO

ufficio +390245071999

[image: PrestaShop]
www.pineappleitaly.com/pineapplegroup

*PINEAPPLE® S.r.l.*
Capi

[2020-01-16 12:50] 01park commented on #15169
Hi @khouloudbelguith

I don't understand where to get the error log files from. Do I need to get them by SSH?

[2020-01-16 12:56] khouloudbelguith commented on #17210
Hi @go-sudo,

About the search which returns extra results => we are awre of this issue, please follow this tikcet: https://github.com/PrestaShop/PrestaShop/issues/14350

In my case, I did not manage to reproduce the issue with PS1.7.6.2
https://drive.google.com/file/d/13Nt9XzwK3Q3IMo9EmGdke0J4KxVPzPoI/view
It could be similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/10530
B

[2020-01-16 12:59] khouloudbelguith commented on #15169
@01park, To turn on the Debug mode on PrestaShop 1.7, follow these steps:

1. Got to Advanced Parameters > Performance
2. In the Debug Mode section, set “Debug Mode” to “Yes”.
3. Click the “Save” button.

You can find logs in the path `/Project_Folder/var/logs/`.

Thanks!

[2020-01-16 12:59] j0r1s commented on #17153
@khouloudbelguith, I already did so, debug mode is enabled but the only response I get is a 302 redirection, there are no error nor content :

![image](https://user-images.githubusercontent.com/35805130/72527036-1e0acd00-3868-11ea-8bb6-627238e0a68a.png)
![image](https://user-images.githubusercontent.com/35805130/72527068-311d9d00-3868-11ea-8910-02a24e46b769.png)
![image](https://user-images.github

[2020-01-16 13:00] krasnycz commented on #17185
Well it works fine. The problem is if you have delted language in the database! Can I simply remove deleted language from the database?

[2020-01-16 13:00] khouloudbelguith commented on #16741
@matteolavaggi, it could be similar to this issue: #13386, it is reproduced only when Email address in uppercase.
Which fixed in the next version PS1.7.7.0

Thanks to check & feedback.

[2020-01-16 13:03] sam-pires commented on #9751
Hi,

I checked with the Addons team.
This feature is not needed anymore.
I close the issue.

[2020-01-16 13:03] #9751 closed, assigned to nobody

[2020-01-16 13:05] khouloudbelguith commented on #17185
@krasnycz, no, let's be safe.
But this issue will be fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/16287 as reported here: https://github.com/PrestaShop/PrestaShop/issues/15934
Since, it is fixed, I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-16 13:05] #17185 closed, assigned to nobody

[2020-01-16 13:09] PierreRambaud commented on #17194
Hi,
Buttons don't have `form` attribute. It should be use with the `data` (`data-form` maybe).

[2020-01-16 13:11] 01park commented on #15169
Where do I find this?
"You can find logs in the path /Project_Folder/var/logs/."

Is this in file management?

[2020-01-16 13:19] khouloudbelguith commented on #17153
@j0r1s, Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2020-01-16 13:20] khouloudbelguith commented on #15169
@01park, your Project folder PrestaShop: https://github.com/PrestaShop/PrestaShop/tree/develop/var/logs

Thanks!

[2020-01-16 13:24] khouloudbelguith commented on #17172
@Leo-pold-02,

When the debug mode is enabled

1. See your red request information in Network tab (error500)
2. click on it, you should see the error message in "Response" or "Preview" tab

Thanks!

[2020-01-16 13:28] PeNov commented on #16741
Hello,

tested email address are without uppercase.
PS 1.7.4.2 - works
PS 1.7.6.2 - does not works

Thank you
Best regards
PN

[2020-01-16 13:30] 01park commented on #15169
<img width="423" alt="Screenshot 2020-01-16 at 13 29 41" src="https://user-images.githubusercontent.com/46492443/72529011-4bee1280-3864-11ea-846e-22ecafc0006f.png">

Is this what your looking for, I found it in var/logs

[2020-01-16 13:38] Leo-pold-02 commented on #17172
Thanks.

A respons for one error 400 is (seems to be the duplicate entry that i cant find in the database (what could i have done wrong???)
I get that entry if i want to assign a differnt or extra category
:
{"error":["Duplicate entry \u002759-0-0-0-2015-12-19 00:00:00-2016-01-31 00:00:00-1-0-0-0-0-1-1\u0027 for key \u0027id_product_2\u0027\u003Cbr \/\u003E\u003Cbr \/\u003E\u003Cpre\u003EINSERT IN

[2020-01-16 13:41] khouloudbelguith commented on #17207
Hi @cd2500,

I did not manage to reproduce the issue with PS1.7.6.2
I attached a screen record
https://drive.google.com/file/d/1EhAVYFOLjMJ4A0bxIv_8de-fPdRD2aCd/view
The option: `Use product reference as key` is enabled
First, I used this csv file for the creation
[com.csv.txt](https://github.com/PrestaShop/PrestaShop/files/4071512/com.csv.txt)
The I updated the prices & the quantity & re-import t

[2020-01-16 13:44] khouloudbelguith commented on #17172
@Leo-pold-02, about this error

This a permission issue on your server, it is not a PrestaShop problem.
You need to contact your host about it.

Thanks to check with him & feedback.

[2020-01-16 13:44] khouloudbelguith commented on #15169
@01park, yes!

Thanks!

[2020-01-16 13:45] Leo-pold-02 commented on #17172
Ok thanks i will check with them. And about the error 400 issue? any idea how to fix that duplicate entry?

[2020-01-16 13:46] khouloudbelguith commented on #16741
@PeNov, PS1.7.6.2, is it a fresh install or an upgrade from a previous version?
What is the exact language used by your customer in the FO& the exact language used by the employee in the BO?

Thanks!

[2020-01-16 13:47] 01park commented on #15169
so what exactly  do you need? with file?

Question can I delete all these files? incl. dev. log and prod.log.

Second piece of information, when I clear cache, the same thing happens. browser becomes non responsible until the cache is emptied

[2020-01-16 13:49] khouloudbelguith commented on #15169
@01park, thanks to provide me `dev.log` & `prod.log`.

Thanks!

[2020-01-16 13:53] 01park commented on #15169
<img width="1128" alt="Screenshot 2020-01-16 at 13 53 13" src="https://user-images.githubusercontent.com/46492443/72530598-9a50e080-3867-11ea-8615-5f5fc8a6eb83.png">

[2020-01-16 13:54] 01park commented on #15169
im now getting this error with debug mode on
do you know what this is?

[2020-01-16 13:54] PrestaShark commented on #14516
Bump

[2020-01-16 13:58] khouloudbelguith commented on #17172
@Leo-pold-02, about the 400 issue, I did not manage to reproduce the issue with PS1.7.6.2 after an upgrade from PS1.6.1.24 using the 1-click upgrade v4.10.1. It seems that this issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

I wi

[2020-01-16 13:58] #17172 closed, assigned to nobody

[2020-01-16 14:05] Leo-pold-02 commented on #17172
Also is there a chance that the error 500 permisions issue is due to teh update? Mabe a table in the database leads to a folder that is not existant anymore in 1.7.? (i  could not find this folder: opendir(/tmp/phpfpmsessions/) on the FTP)

Thanks

About the duplicate error.
Just so i get it right, in the database / myPhp i click on "SQL"
Enter: select * from ps_specific_price where id_product = 2

[2020-01-16 14:08] khouloudbelguith commented on #17172
@Leo-pold-02,

You need to check your host about this file, it is related to your server configuration.

It returns me 0 Data

As I said before, since I cannot reproduce the issue, you need to contact our support team.

Thanks for your understanding!

[2020-01-16 14:13] khouloudbelguith commented on #15169
@01park, it seems that this issue ir related to the ps_newproducts module
![image](https://user-images.githubusercontent.com/16067358/72531828-92e30480-3872-11ea-9d41-7668d9360b35.png)

What is the exact version of the ps_newproducts did you use?
In the meantime, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2020-01-16 14:13] atomiix commented on #17089
@Robin-Fischer-PS I can't reproduce this one

[2020-01-16 14:13] PeNov commented on #16741
- both eshops are upgraded from 1.7.4.2 to 1.7.6.2.
- customers use Czech language
- BO language is Czech

[2020-01-16 14:22] 01park commented on #15169
Im using version 1.01 new products.

No sure if this has anything to do with it, but I recently applied this fix:

https://github.com/PrestaShop/PrestaShop/pull/14558

[2020-01-16 14:33] khouloudbelguith commented on #15169
@01park, could you please try to remove this fix, clear cache & check if you have the same issue.

Thanks!

[2020-01-16 14:34] khouloudbelguith commented on #15486
@nrcjea001, it is OK with PS1.7.6.2
I attached a screen record
https://drive.google.com/file/d/1FURBX8o7zH43xdyO3jdvm-JqvHH44KDl/view

Thanks!

[2020-01-16 14:38] j0r1s commented on #17153
Done !

I've noticed that everytime I change Friendly Urls configuration in back-office I get an Error 500 (that is not caught by symfony nor logged in OVH error logs).

After reloading the page I still get the flash message that the configuration has been updated and I checked that the `.htaccess` file had been regenerated :
`cat .htaccess`
[code]

Cleared cache and retried, same redirection chai

[2020-01-16 14:43] khouloudbelguith commented on #17153
What is the exact error?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2020-01-16 14:51] PierreRambaud commented on #12035
Not sure we can change the behavior of this method because of this pull request: https://github.com/PrestaShop/PrestaShop/pull/6785

[2020-01-16 14:56] khouloudbelguith commented on #17158
@jf-viguier, thanks for your feedback.

https://github.com/PrestaShop/PrestaShop/blob/85f982c4feb7d5f88f8f4532ab6f46cdd8255ba1/classes/Product.php#L4024
It should be pl.* instead of fixed list of pl.something attribute.

Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-01-16 15:01] khouloudbelguith commented on #17107
Hi @By-oussef,

Your ticket is a duplicate of #17136
So, I close it.
Thanks !

[2020-01-16 15:01] #17107 closed, assigned to nobody

[2020-01-16 15:01] khouloudbelguith commented on #17107
Duplicate of #17136

[2020-01-16 15:07] khouloudbelguith commented on #17158
@jf-viguier, as discussed with our developer, it is an improvement more than a bug.
So, we thought about an alternative solution that you could offer them.

Thanks!

[2020-01-16 15:12] matthieu-rolland commented on #17158
hi @jf-viguier !

We are not sure object models should be overriden like this. We'll try to suggest a better alternative 👍

[2020-01-16 15:25] khouloudbelguith commented on #17111
Hi @davidglezz,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-01-16 15:26] MoschiMa commented on #9600
Good morning, at all,
I don't speak good English (I speak mainly FR), I use Deepl to try to explain the problem to you and not knowing if it's the right channel to explain the problem to you.

I'm on Prestashop 1.7.6.1, online site, Premium Theme, in production since the beginning of the year 2020

The prestonBot solution solved the problems concerning the calculation of the Ecotax on products and

[2020-01-16 15:34] 01park commented on #15169
I tried to putting things back, but doesn't seem to, only making things worse.

I'll wait until 1.7.7 comes out any idea when this will happen?

Regarding the issue what this is all about.

php.INFO: User Deprecated: Implementing "Symfony\Component\HttpKernel\DataCollector\DataCollectorInterface" without the "reset()" method is deprecated since Symfony 3.4 and will be unsupported in 4.0 for class

[2020-01-16 15:36] jf-viguier commented on #17158
@matthieu-rolland seriously ? I override objets models since years like that.
It's in the doc https://devdocs.prestashop.com/1.7/modules/concepts/overrides/#overriding-a-class
We can discuss if column should be in a separate mysql table by the issue is the same : we need a way to extends the mysql query, maybe by adding a hook.

[2020-01-16 15:39] khouloudbelguith commented on #15169
@01park,

It is not an error, it is a just a PHP information.

We are still working in the PS1.7.7.0.
You can follow our Project: https://github.com/PrestaShop/PrestaShop/projects/7
Since, I cannot reproduce the issue, It seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-suppor

[2020-01-16 15:39] #15169 closed, assigned to nobody

[2020-01-16 15:56] khouloudbelguith commented on #17105
Hi @al699,

Sorry for the late response.
Do you still have the same issue?

Thanks!

[2020-01-16 16:02] soulardromain opened #17212 "Wrong sort price and/or product limit/offset on listing page"
**Describe the bug**
On category page (without ps_facetedsearch), search page, manufacturer page, supplier page, new products page, prices drop page:
When sort by low price, a product of second page (without its reduction) should be on the first page (with its reduction)

Steps to reproduce the issue:
1. Disable ps_facetedsearch module
2. Edit the Product "Hummingbird printed sweater" => specific

[2020-01-16 16:02] matthieu-rolland commented on #17158
@jf-viguier

We can't use a wildcard in this query, the reason is that wildcards are very costly in sql queries, and if we were to had a wildcard in this sql query, then we would have to do it everywhere, because we can't know in advance what objectModels will be overriden by users.

If you add a field to an ObjectModel then you will have to override every queries that are supposed to return your

[2020-01-16 16:09] khouloudbelguith commented on #17104
Hi @Kharabet,

I manage to reproduce the issue with PS1.7.6.2 & the ps_categoryproducts module v1.0.4.
![image](https://user-images.githubusercontent.com/16067358/72541420-c9c11680-3882-11ea-85be-4c35010e338f.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Related to: https://git

[2020-01-16 16:20] cd2500 commented on #17207
Oh I see, I was using product_ID as reference and my exported product csv, does not have column "Attribute". The problem is that you cannot use the standard product export file, because not all fields are available. With this you cannot import combination prices. If you try, it will import the combinations as new product, although product_id is available.
[import  combinations.csv.txt](https://git

[2020-01-16 16:21] khouloudbelguith commented on #17212
Hi @soulardromain,

I did not manage to reproduce the issue with PS1.7.6.2.
The ps_facetedsearch is disabled
I attached a screen record
https://drive.google.com/file/d/1lQc-9K7AMO6qkz0jOUTk-mkI75REa_Dy/view
Thanks to check & feedback.

[2020-01-16 16:27] khouloudbelguith commented on #17207
@cd2500, you are trying products or combinations?
The file attached is not a combination import but it is a products import.
Thanks to check & feedback.

[2020-01-16 16:28] gadnis commented on #14003
@marionf @PierreRambaud
So is it going to be fixed or it is not an issue?

[2020-01-16 16:32] jf-viguier commented on #17158
There is no other way now to have extra fields available in front and in back.
Just try to add a product field in a module and tell me.
Prestashop has to be as customizable as possible, thanks.

[2020-01-16 16:35] cd2500 commented on #17207
Combinations

[2020-01-16 16:35] jf-viguier commented on #17158
Check this article from @nenes25 https://www.h-hennes.fr/blog/2017/10/19/prestashop-1-7-ajouter-des-champs-produit/

[2020-01-16 16:38] khouloudbelguith commented on #17207
@cd2500, this file
[import.combinations.csv.txt](https://github.com/PrestaShop/PrestaShop/files/4072425/import.combinations.csv.txt) is not for combinations import, it is for a product import.
In the BO => Advanced Parameters => Import page => you can find some examples.
![image](https://user-images.githubusercontent.com/16067358/72544101-0989fd00-3887-11ea-96e9-a8d2ba4484ba.png)

Thanks!

[2020-01-16 16:48] Fabuloops commented on #17194
Hi,

You don't need to put a `form `attribute on your button to have this attribute set in native javascript  element. This attribute always target the form if the button is inside the form. But if the button is outside, you can target with a form attribute on the button.

https://www.w3schools.com/tags/att_form.asp

With this feature we will be able to add the `add-to-cart` button where we want.

[2020-01-16 17:05] soulardromain commented on #17212
Hi,

In your video, the bug is present:
Just before you go to second page, see price of last product ($22.68).
On the second page, the price of the first product is $21.54

[2020-01-16 17:21] matthieu-rolland commented on #17158
Ok @jf-viguier , I understand your concern, we will come back to you in this PR shortly.

[2020-01-16 17:32] MarioGamboa opened #17218 "Prestashop exception"
In our webpage, www.mayans.com , when a customer tries to sign in as a visitor to buy a hammock, when they proceed to checkout to order as a guest, they try to fill in all of their information, but when they get to "Addresses", after filling everything out, the click on continue and a "PrestaShop Exception" error page shows up. How can we fix it?

Steps to reproduce the behavior:
1. Go to www.maya

[2020-01-16 17:46] j0r1s commented on #17153
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

As stated before, I have nothing in OVH error logs.
No error logs neither in Prestashop back-office, the error 500 is not caught by Prestashop framework, it's a generic error 500 from Chrome :
![image](https://user-images.githubusercontent.com/35805130/72547033-1fe68780-388c-11ea-8cde-38db121102b9.p

[2020-01-16 17:54] MatShir commented on #10621
Hi, @matks and @sowbiba new specs of the page have been provided check it on https://github.com/PrestaShop/prestashop-specs/pull/83. If you find missing or unclear behaviors don't hesitate to comment on the PR or DM me.

[2020-01-16 18:32] maofree commented on #16865
also Gravcms has an option do add or not the default language in the urls

![1](https://user-images.githubusercontent.com/653230/72552271-ce8fc580-3896-11ea-98a2-0ddbb78923f1.png)

[2020-01-16 20:53] nenes25 commented on #17158
@jf-viguier i ve faced the same issue with attribute in cart as you can see here
https://www.h-hennes.fr/blog/2018/04/24/recuperer-des-informations-personnalisees-dans-le-panier/

I ve already think about a generic hook to alter dbQuery objects but it will needs lot of changes.
But in some case it could be usefull

[2020-01-16 21:04] k0lv commented on #17171
Thank you @khouloudbelguith . I am sorry for the off-topic.

Then I believe, my question is answered [here](https://stackoverflow.com/questions/59772354/prestashop-robots-txt-and-module-path-indexing) (`/module/` path is used in some FO modules, no need to block it in the robots.txt).

I do not see any need to keep this issue open, so closing it. Specific PSGDPR issue will be further investigated

[2020-01-16 21:04] #17171 closed, assigned to nobody

[2020-01-16 21:21] musicpanda commented on #17153
I wrote some time ago a manual how to debug Ajax:
https://www.prestashop.com/forums/topic/994407-how-to-debug-ajax-errors-jqxhr-unexpected-token-technical-error/

[2020-01-16 21:47] nicoladze opened #17219 "Unclear error while creating a brand's address"
I encounter an error when I add a new address to a brand.

Steps to reproduce :
1 - Go to Catalog -> Brands & Providers
2 - Click on Add a new brand's address
3 - Create it
4 - Save
See error : "Une erreur inattendue s'est produite. [PrestaShop\PrestaShop\Core\Domain\Address\Exception\AddressException code 0]"

**Screenshots**
![Error](https://user-images.githubusercontent.com/47031957/72565405-0d

[2020-01-16 23:14] j0r1s commented on #17153
Thanks @musicpanda !

Maybe someone with more Prestashop knowledge could help me debug the headers since I'm getting no Response since it's a 302 :

Response headers :
[code]

Request headers :
[code]

Query string parameters:
[code]

[2020-01-17 07:18] NerDifades commented on #17208
Hi @khouloudbelguith,
Thanks for the help! So it could be the theme? We are using Warehouse.
Maybe the issue is that all our products has similar references (always starting with MJ.)? It could be that in our products we also use MJ in the titles?
I'll send you our website so you could see it: https://mjcorse.com/

Thanks again!

[2020-01-17 08:52] zuk3975 commented on #17089
me too

[2020-01-17 09:00] khouloudbelguith commented on #17208
@NerDifades, As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2020-01-17 09:06] zuk3975 commented on #17089
@Robin-Fischer-PS I guess the following is also a bug:
- When adding the same product (identical to one that already exists in order) the quantity should be increased instead of adding new product row.

[2020-01-17 09:10] khouloudbelguith commented on #16844
Hi @Micdales,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-17 09:10] #16844 closed, assigned to nobody

[2020-01-17 09:29] matks commented on #17044
@Quetzacoalt91 POC is now quite advanced. I think the best place for it would be in https://github.com/PrestaShop/php-dev-tools repository. Wdyt ? Shall I make a PR ?

[2020-01-17 09:30] khouloudbelguith commented on #17153
@j0r1s, The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.

Yes, you can find some log files in the path `/var/logs`

This issue could be due to 3rd party modules. if you are using 3rd party modules, try disabling

[2020-01-17 09:31] Robin-Fischer-PS commented on #17089
@zuk3975

For the first question, I agree with you, but it's more a question for product team, I'm going to check that with them.

For the second one, I expressed myself poorly : It's the highlighted shipping block in this screenshot that should not appear after creating a new invoice. But I checked with @atomiix , and he's already on it !
![create order shipping block](https://user-images.githubu

[2020-01-17 09:35] zuk3975 commented on #17089
* > New bug : On pagination, when I have 8 product, if I add a 9th product, it will be added on the bottom of page 1, AND on page 2 (the sum below the product block is still OK)

https://github.com/PrestaShop/PrestaShop/pull/17220

[2020-01-17 09:38] MatShir commented on #17089
hey @zuk3975, it depends if it is the same development time. If it is then it would be great. It totally makes sense to add the quantity but it also considered to be a new feature since we want to feature freeze soon, we don't want any delays. Bc you need to check if the product has the same price, same combination and so on.

[2020-01-17 09:44] khouloudbelguith commented on #17219
Hi @nicoladze,

I did not manage to reproduce the issue with PS1.7.6.2.
I tried to set fields similar to yours, but it is OK.
I attached a screen record
https://drive.google.com/file/d/1BI0l_P7PYey9brU8bgrWAWtPh7UcuI_d/view
Thanks to check feedback.

[2020-01-17 09:45] khouloudbelguith commented on #17219
Related to:
https://github.com/PrestaShop/PrestaShop/issues/16725
https://github.com/PrestaShop/PrestaShop/issues/16514

[2020-01-17 09:54] khouloudbelguith commented on #17218
Hi @MarioGamboa,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/16514
So, I close it.
Thanks !

[2020-01-17 09:54] #17218 closed, assigned to nobody

[2020-01-17 09:54] khouloudbelguith commented on #17218
Duplicate of #16514

[2020-01-17 09:56] khouloudbelguith commented on #17218
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9888

[2020-01-17 09:58] khouloudbelguith commented on #17171
@k0lv, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-01-17 10:16] PierreRambaud commented on #17194
Oh, never used this form attribute :open_mouth:
So yes, we can change the button behavior :+1:

[2020-01-17 10:17] khouloudbelguith commented on #17102
Hi @Onliste,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-17 10:17] #17102 closed, assigned to nobody

[2020-01-17 10:30] khouloudbelguith commented on #17212
@soulardromain, sorry, you are right.
Yes, I have the same issue with PS1.7.5.2 & PS1.7.6.2 but this issue is fixed using the faceted search module as described here: https://github.com/PrestaShop/PrestaShop/issues/10010#issuecomment-467024493

Thanks to check & feedback.

[2020-01-17 10:39] khouloudbelguith commented on #17103
Hi @Kharabet,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2 & the ps_categoryproducts module v1.0.4.
https://drive.google.com/file/d/1o_BLxcsp3ZJDf-oUsAXA4ukc7vywfCt9/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-01-17 10:40] khouloudbelguith commented on #17103
Related to:
https://github.com/PrestaShop/PrestaShop/issues/9919
https://github.com/PrestaShop/PrestaShop/issues/15150
https://github.com/PrestaShop/PrestaShop/issues/17104

Thanks!

[2020-01-17 10:44] khouloudbelguith commented on #17095
Hi @francct,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

Thanks for your understanding!

[2020-01-17 10:44] khouloudbelguith commented on #17095
Related to: https://github.com/PrestaShop/PrestaShop/issues/12253

[2020-01-17 10:49] soulardromain commented on #17212
The faceted search is only on category page but this bug is also present in search page, manufacturer page, supplier page, new products page, prices drop page.
And maybe some people don't use the faceted search on category page.

[2020-01-17 10:55] khouloudbelguith commented on #17212
@soulardromain, thanks for your feedback.
Steps to reproduce the issue:
1. Disable ps_facetedsearch module
2. Edit the Product "Hummingbird printed sweater" => specific price = 50%
![image](https://user-images.githubusercontent.com/16067358/72607059-232b5300-39 20-11ea-8c5a-af1fc545e4f5.png)
3. Go to the FO => Home page
4. sort by price from low to high
5. Go to the next page
6. See error

https:/

[2020-01-17 11:03] khouloudbelguith commented on #17038
Hi @msaustral,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/gamification
Thank you!

[2020-01-17 11:09] MatShir commented on #16582
You can't add negative value to the payment method. To balance an overdue by the clients, it is recommended to make a credit slip.

[2020-01-17 11:11] TristanLDD commented on #17089
Yes, confirmed!

[2020-01-17 11:20] Quetzacoalt91 commented on #17044
I kept your builder in my todo list so we can discuss about it, indeed. Can you give me some time until the end of next week so I can provide a feedback?

[2020-01-17 11:21] matks commented on #17044
Take all the time you need 😊

[2020-01-17 11:26] #9607 closed, assigned to nobody

[2020-01-17 12:00] j0r1s commented on #17153
[code]
And nothing after the 13th of January when I (the website have been in debug mode for more than one week):
[code]

I've disabled all non Prestashop modules from the admin, manually cleared cache and retried, I got an error 500 when adding a product to cart :
![image](https://user-images.githubusercontent.com/35805130/72606228-7f8d7300-391e-11ea-85d7-7d87cb448779.png)

It's not the first tim

[2020-01-17 12:08] musicpanda commented on #17153
You shouldn't remove an override of an active module. That is bound to give problems. Instead you should disable the module.

Did you try disabling pretty urls and deleting .htaccess?

Your initial image showed /en/ directories involved in the redirect. That raises the question how many language you have installed in the old and new configurations

[2020-01-17 12:12] j0r1s commented on #17153
The module was already disabled in back-office.

Yes many different times

Two languages on both, it's always been like that.

[2020-01-17 12:19] Fabuloops commented on #17194
thank you, it's will be very useful =)

[2020-01-17 12:19] musicpanda commented on #17153
"The module was already disabled in back-office."
Try uninstalling it. Sometimes modules stay partially active when just disabled.

[2020-01-17 12:34] Terezabt opened #17222 "Prestashop - Sale Prices not showing - Multi-Store"
Hi,

I have a e-commerce store in prestashop 1.6.1.4 and groups for 2 clients with diferrent prices.
The problem is that when i make a percentage sale for example to 30%  the plataform don't assume anything and nothing is showed on front page.

Also have multi-store and in the other store everything works fine.

Need help .
P.s: Already change theme anda nothing appens.
So i assume is the prestash

[2020-01-17 12:39] j0r1s commented on #17153
I've renamed the override to its original name but now it's working for some reason. I still get the redirection chain on the add to cart action.

(I'm constantly manually clearing cache)

[2020-01-17 12:43] musicpanda commented on #17153
Did you also delete class_index.php when you emptied the cache? Without doing that Prestashop will still try to read the override even if it isn't there.

[2020-01-17 12:49] j0r1s commented on #17153
[code]

I always `rm -rf var/cache/dev` but the error 500 isn't happening, Prestashop must have been reading the override when it shouldn't have but I don't think it's related to the initial problem.

[2020-01-17 12:52] matks commented on #16736
@mvorisek thanks for the PR https://github.com/symfony/symfony/pull/34915 😉
On our side, @Progi1984 is still working on this issue to fix it 😉

[2020-01-17 12:54] soulardromain commented on #17212
I have created a pull request : #16698

[2020-01-17 13:03] PierreRambaud commented on #17111
Agree with the problem, same problem already appeared with faceted search months ago :)

[2020-01-17 13:04] madsoliver opened #17223 "Redirects and other issues in /sell/orders/orders/new when adding address, customer, showing order/product details etc"
When I add a new order using the new controller i constantly get kicked out when doing the following tasks:

1. ✅ After creating new customer from orders/new, I get redirected to customer list, not a new order #17090
2. ✅ After creating new voucher from orders/new, I get redirected to voucher list, not a new order #18146
3. Also when clicking "Details" for a customer, a cart or a previous order, i

[2020-01-17 13:13] madsoliver opened #17224 "Add order_confirmation/Initial-order-status to the list over "statuses" to be able to resend order_conf email"
The "initial" order status, the one using email template `order_conf` should be at the top of the status list, with a button to resend order_conf email.
![Screenshot 2020-01-17 13 43 09](https://user-images.githubusercontent.com/30602638/72614652-1bc17500-3933-11ea-81a6-3249811dfc76.png)

`/orders/orders/{order-id}/view`

PS 1.7.7.x

@colinegin @marionf

[2020-01-17 13:15] madsoliver opened #17225 "Edit the shipping price"
#### Is your feature request related to a problem?
Sometimes we want to create an order in BO and we can't use any shipping price which is defined in BO, we've to use an individual shipping price. But it is not possible to edit the shipping price in BO.

#### Describe the solution you'd like
The shipping price should be possible to edit and change.

#### Additional context
BO > Orders > Orders > d

[2020-01-17 13:24] khouloudbelguith commented on #17222
Hi @Terezabt,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed, that’s why I close i

[2020-01-17 13:24] #17222 closed, assigned to nobody

[2020-01-17 13:25] khouloudbelguith commented on #17153
@j0r1s,

As it's not the a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.

Could you please provide me a screenshot from your Schema of URLs section
![image](https://user-images.githubusercontent.com/16067358/72615521-34cb2580-3935-11ea-96d4-9540149d76e5.png)

Th

[2020-01-17 13:47] j0r1s commented on #17153
![image](https://user-images.githubusercontent.com/35805130/72616723-d05d9580-3937-11ea-97a4-cfb35e44a950.png)

I had an error on this form initially, there was 'disable-this-rule-hash' in faceted_filter field, I've instead put the required parameters in the field to validate the form (and enable / disable friendly urls). But again, it's working on another host.

[2020-01-17 13:52] mvorisek commented on #16736
@matks Thank you for the info.

@Progi1984 The only subject to fix is to use relative paths for templating across the whole PrestaShop project only. It is important, as `3.4` Symfony version will be fixed by my PR in next `3.4` Symfony release, but following versions of Symfony has no support for absolute paths at all.

[2020-01-17 13:55] krystian-3c commented on #16529
The problem is related to mounted files permissions.
It's convenient to use mounted drives, so here is a solution:
https://www.turek.dev/post/fix-wsl-file-permissions/
Remember to restart (relogin) your Windows.

[2020-01-17 13:57] krystian-3c commented on #16680
@mg2812 try https://github.com/PrestaShop/PrestaShop/issues/16529#issuecomment-575635077

[2020-01-17 13:57] khouloudbelguith opened #17226 "Order page - The Choose button for the custom doesn't work when creating a new order"
**Describe the bug**
In the branch 1.7.7.x, in the BO => Orders => new order page (Migrated page): `/admin-dev/sell/orders/orders`
When we set a customer, the choose button doesn't work
![image](https://user-images.githubusercontent.com/16067358/72617476-51695c80-3939-11ea-947f-51fc53efe635.png)
https://drive.google.com/file/d/1fJZmUN7nlCi6QcSBFsmjjuzud_-fVDkK/view

**To Reproduce**
Steps to repro

[2020-01-17 13:57] krystian-3c commented on #14812
@vallka try https://github.com/PrestaShop/PrestaShop/issues/16529#issuecomment-575635077

[2020-01-17 14:01] CallejaMotos opened #17227 "Faceted Search template edition not working with more than 25.000 categories"
**Describe the bug**
Unable to save all categories in faceted search filters.
Number of categories: more than 25.000 (auto parts website)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules / Module Manager
2. Click on faceted search **Configure** button (v3.4.1)
3. Click on **Edit** (from template)
4. Check All
5. Save => (not work, doesn't save none category)

Note 1: if I do it

[2020-01-17 14:06] marionf commented on #16810
Hello @lordchukz

Unfortunately, there is no such option basically with PrestaShop to do that
You should look if there is such a module on our marketplace: https://addons.prestashop.com/

[2020-01-17 14:06] #16810 closed, assigned to nobody

[2020-01-17 14:10] nicoladze commented on #17219
@khouloudbelguith

I have seen your video, but in my case, even if I fulfill all the * fields
with an A, I got the same error.

What does this error means? Because it's not clean at all.

Regards

Le ven. 17 janv. 2020 à 10:44, khouloudbelguith <notifications@github.com>
a écrit :

[2020-01-17 14:11] jijijou opened #17228 "Email template generated in parent theme not in child theme"
Hello,

In case of using child theme, it's not possible to generate the email template in the child theme. Only in parent theme . It's would be great that we can choose the child theme into generator.

@jolelievre , @mickaelandrieu has sent me your account for this issue ;)

Thanks a lot

[2020-01-17 14:32] matks commented on #17223
I added bug numbers

Bugs 1, 4 and 5 will be fixed by https://github.com/PrestaShop/PrestaShop/pull/17090

[2020-01-17 14:33] khouloudbelguith commented on #17223
Hi @onklmaps,

Same issue with the branch 1.7.7.x
https://drive.google.com/file/d/1JqAJP2gZC5yYdHvaaCJDwGP4oHOv0ENv/view
In progress (https://github.com/PrestaShop/PrestaShop/pull/17090)

Will be fixed later

Blocked by this issue: https://github.com/PrestaShop/PrestaShop/issues/17226

All modals are in progress

Blocked by this issue: https://github.com/PrestaShop/PrestaShop/issues/17226

[2020-01-17 14:33] markopolo2002 commented on #17148
Hello, sorry for the delay in replying, was away for a few days :)
Originally, I updated manually, copied all files, etc, ran /install/upgrade/upgrade.php and got:

Managed to log into the backend and had to replace the ps_access table as per most people, then access was good but then couldn't update listings that had attributes, etc and still couldn't log in as a customer or register a new accoun

[2020-01-17 14:37] khouloudbelguith commented on #17224
Hi @onklmaps,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team @matks what do you think of this improvement?

Thanks!

[2020-01-17 14:45] khouloudbelguith commented on #17225
Hi @onklmaps,

Thanks for your report.
Ping Thanks for your report.
Ping @PrestaShop/prestashop-product-team @matks what do you think of this improvement?

Thanks!

[2020-01-17 14:47] khouloudbelguith commented on #17228
Hi @jijijou,

Thanks for your report.
Ping @jolelievre what do you think?

Thanks!

[2020-01-17 15:02] khouloudbelguith commented on #17227
Hi @CallejaMotos,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16652
So, I close it.
Thanks!

[2020-01-17 15:02] #17227 closed, assigned to nobody

[2020-01-17 15:03] khouloudbelguith commented on #17227
Duplicate of #16652

[2020-01-17 15:32] jf-viguier commented on #17228
Yes, we need a parent/child system for email templating too.

[2020-01-17 17:08] weddingtextile opened #17230 "Сannot edit order when choosing payment option "Cash on delivery""
**Additional information**
PrestaShop version: 1.7.6.2
PHP version: 5.6.38
Cash on delivery version: 1.0.6

[2020-01-17 17:20] weddingtextile commented on #16845
The table ps_layered_filter_block is growing fast (100-200 megabytes per day).
Faceted search version is 3.4.1

[2020-01-17 17:46] MatShir commented on #15820
- The total of the refund should be limited by the total of the order.
- Refund a product is limited to the total of the product multiplied by the quantity selected

Legal advice required to see if when you refund with a voucher, you have to generate a credit slip. Also, if it is allowed to refund with a voucher?

[2020-01-17 18:27] MarioGamboa commented on #9888
So I just have to wait for you guys to fix it? Or is there something I can do?

[2020-01-17 19:44] TucoSalamanca opened #17231 "Product page not showing all attributes"
So i have the following problem when adding attributes to products, if i add color attribute it shows up on product page and everything is ok, if i continue to add size attributes it replaces the color attribute and its only showing the size selection (the color attributes are not showing anymore), any ideas how to fix it?

Im running custom theme on prestashop 1.7.6.0

here is product-variant.tpl

[2020-01-18 03:51] lordchukz commented on #16810
Thanks @marionf, unfortunately there is no module on Addons for this need.

Kind regards.

[2020-01-18 11:20] mauweb opened #17234 "activation/deactivation newsletter ps_emailsubscription"
** Describe the bug **
I went from prestashop 1.7.5.2 to 1.7.6.2
now in customer modification the BO does not show the activate / deactivate newsletter subscription button, I tried to reset the module but nothing, I tried to uninstall and reinstall it but nothing.
the version of ps_emailsubscription is v2.5.1

** To Reproduce **
Steps to reproduce the behavior:
1. Go to 'customers'
2. Click on 'ed

[2020-01-18 13:47] CatchMeZZo commented on #9780
Is there any prospect of success? THe fix from @kandiaga not work! This is so poor that ps ignor the problems of this module for so long...

[2020-01-18 21:06] matks opened #17236 "I try to update prestashop from 1.7.6.1 to prestashop 1.7.6.2 and I get error"
**AUTHOR: @Marcelozippo**

**Describe the bug**
I try to update prestashop from 1.7.6.1 to prestashop 1.7.6.2 and I get the following error, I have updated 1Click to the latest version.

|Información del servidor Linux #1 SMP Wed Aug 14 08:29:59 EDT 2019 x86_64
Versión del software del servidor: Apache
Versión PHP: 7.2.26
Límite de memoria: 1024M
Tiempo máx. de ejecución: 600
Tamaño máx. para la s

[2020-01-19 13:38] Hlavtox commented on #17225
Yeah, that was missing and we always used a module to add this functionality.

We need/would be nice:
- Change shipping price
- Change payment type
- Resend order confirm
- Change customer (not only edit the order's one)

Already have:
- Change carrier
- Change discounts
- Change products
- Change addresses

[2020-01-19 13:40] Hlavtox commented on #17224
@khouloudbelguith We already have this topic

https://github.com/PrestaShop/PrestaShop/issues/14754

[2020-01-19 20:22] sabueXo opened #17237 "PrestaShop Checkout nothing happens clicking on create account"
Hi,

Im trying to activate PrestaShop Checkout but when I fill email and password and crlick on cnreate account or log in, nothing happens.

![image](https://user-images.githubusercontent.com/60075674/72687758-55e07180-3b01-11ea-8530-6b4d9ba01f5e.png)

PrestaShop version: 1.7.5.2
PrestaShop Checkout: v1.2.9
PHP version: 7.1.29

[2020-01-20 05:17] go-sudo commented on #17210
Hello

I let you know that on new website the function works correctly

![image](https://user-images.githubusercontent.com/11594433/72700582-88fc2280-3b4c-11ea-852d-6e796675835d.png)

with same PS version

Regards

[2020-01-20 06:30] Lumyo opened #17239 "1click upgrade fails from 1.6.1.24 to 1.7.6.2"
**Describe the bug**
When trying to upgrade prestashop using the 1click upgrade module (v4.10.1), the upgrade fails before the update of the DB.
I tried upgrading to 1.7.0.0 and 1.7.1.0 and those failed also but with different errors

You can see the upgrade log here
[log.txt](https://github.com/PrestaShop/PrestaShop/files/4084717/log.txt)

**Screenshots**
![upgradePrestashop](https://user-images.

[2020-01-20 08:39] matteolavaggi opened #17240 "Errore nei sistemi PayPal [10525] Invalid Data Ulteriore messaggio di errore: This transaction cannot be processed. The amount to be charged is zero."
Payment amount request was sent t "0" for many gateway (paypal - credit card - stripe)

PS 1.7.6.1
PHP 7.2

AFter checkout we get: Errore nei sistemi PayPal
[10525] Invalid Data
Ulteriore messaggio di errore: This transaction cannot be processed. The amount to be charged is zero.

[2020-01-20 08:41] matteolavaggi commented on #17240
The redirect function of the gateway payment (paypal or credit card), with error code, make user LOGOUT from store.
Login
Place an order
Select paypal
Redirect back with errore (no value sent to paypal)
https://www.sixrace.it/it/module/paypal/error?error_code=10525&error_msg=Invalid+Data&msg_long=This+transaction+cannot+be+processed.+The+amount+to+be+charged+is+zero.

Customer is logged out from p

[2020-01-20 08:45] matteolavaggi commented on #17240
![image](https://user-images.githubusercontent.com/24798703/72711483-6e847200-3b69-11ea-8d98-1aa4d7faf917.png)
![image](https://user-images.githubusercontent.com/24798703/72711498-7512e980-3b69-11ea-81b3-f5d263b48c03.png)
![image](https://user-images.githubusercontent.com/24798703/72711519-7a703400-3b69-11ea-9412-db54ccb1396f.png)
![image](https://user-images.githubusercontent.com/24798703/7271155

[2020-01-20 09:09] Betafer commented on #17240
I think because if you remove Paypal commission the amount is negative 3,4% + 0,35€

[2020-01-20 09:13] matteolavaggi commented on #17240
i've tryed also with 10€, same error.

After the redirect to the website , customer are also logged out from the shop

[2020-01-20 09:38] matteolavaggi commented on #17240
i've updated paypal to last release and setup in-site payment, now i get this error in BO:

Notice alla linea 1090 nel file /var/www/htdocs/www.sixrace.it/modules/paypal/paypal.php
[8] Trying to get property 'paid' of non-object

[2020-01-20 09:51] matks commented on #17226
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17232 and https://github.com/PrestaShop/PrestaShop/pull/17229

[2020-01-20 09:51] #17226 closed, assigned to matks

[2020-01-20 10:07] PierreRambaud commented on #16421
I think the main problem with this regex is we can't have the string we want.

We can't have `Uninstall %s`, `Uninstall %%%%%%%` or even `Uninstall this program 10%`.
Is it mandatory to have this kind of (useless) check?

Related to https://github.com/PrestaShop/PrestaShop/issues/16168#issuecomment-554333612

[2020-01-20 10:23] Robin-Fischer-PS opened #17242 "Support link is not displayed properly in the order confirmation in Arabic"
**Describe the bug**
Support link is not displayed properly in the order confirmation in Arabic

**To Reproduce**
Steps to reproduce the behavior:
1. Make an order while logged in Arabic
2. On the confirmation page, check the support link, which is not displayed properly

**Screenshots**
![1763 support link broken](https://user-images.githubusercontent.com/55688534/72718927-28360f80-3b77-11ea-9f5c

[2020-01-20 10:29] sarahdib commented on #17242
related to #13358

[2020-01-20 10:47] sarahdib commented on #17237
Hello @sabueXo

Thank you for your report.

@v4lux can you check this ?

[2020-01-20 11:36] Lolamycompanero opened #17244 "Etat de commande"
Unable to update order status.

**Describe the bug**
A clear and concise description of what the bug is: ****When for example we want to change the status of the order to cancel it ect .. no updates do this.****

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...**orders**'
2. Click on '
**update status**....'
3. Scroll down to '**change state**....'
4. See error, **no update**

**Scr

[2020-01-20 11:47] Robin-Fischer-PS opened #17245 "FO in Arabic should be RTL"
**Describe the bug**
The FO should be in RTL when in Arabic (and other RTL language too).

**To Reproduce**
Steps to reproduce the behavior:
1. On BO, install Algeria localization pack
2. Go on FO, change language to Arabic
3. Display is still Left To Right instead of Right To Left

It was OK on 1760, 1761, 1762.

**Screenshots**
In 1.7.6.2
![image (5)](https://user-images.githubusercontent.com/55

[2020-01-20 13:20] jolelievre commented on #15820
Update about this feature, as discussed with @MatShir
- restock checbox is always displayed but is preselected (checked when order is delivered)
- prefill amount inputs in partial refund (empty at start, filled when the quantity is changed, it takes into account the product price and the max allowed amount)
- manage a max amount of refunding on server side (if you post 1000euros, but the price of

[2020-01-20 13:22] Progi1984 commented on #17245
@Robin-Fischer-PS Hi, Have you followed the process for generating stylesheet : https://devdocs.prestashop.com/1.7/themes/reference/rtl/#stylesheet-generation?

[2020-01-20 13:22] jolelievre commented on #15820
Technical update:

Since the credit slip is optional we may refund procucts but no OrderSlip will be generated, the problem is that this table/object is used to determine the refunded amount, so without credit slip we don't have this information

The OrderDetail contains all the refund informations except for the amount, so a new column refunded_amount should be added

[2020-01-20 13:40] matks opened #17247 "How to handle RTL assets for Classic Theme"
QA team just finished testing the 1.7.6.3 release, and found one issue: [front-office, when browsed in Arabic, should be displayed right-to-left but isn't](https://github.com/PrestaShop/PrestaShop/issues/17245)

This will be fixed, however this raises the following question:
How should we handle RTL assets for Classic Theme ?

If we store them using github, it is easier for developers to checkout

[2020-01-20 13:41] matks commented on #17247
ping @eternoendless @NeOMakinG @Progi1984

[2020-01-20 13:45] Robin-Fischer-PS commented on #10250
I reopened the issue since this bug appears again on 176 and on develop.

[2020-01-20 14:03] matks commented on #10250
Confirmed, same issue as before

[2020-01-20 14:04] sarahdib commented on #17230
Hello @weddingtextile

Please can you use the template with all steps in order to help you

Thank you

[2020-01-20 14:11] sarahdib commented on #17231
Hello @TucoSalamanca

Do you have the problem is in front office or back office ?

Thank you

[2020-01-20 14:37] eternoendless commented on #17247
There are some questions we need to look answers for:

1. When I install the shop in an RTL language, should RTL assets be automagically created or should I be asked before?
2. When I upgrade the shop, should they be regenerated? Normally assets are ignored if found. Should I be asked if I want to regenerate them?
3. If I install a new theme and I have an RTL language installed, should I be asked

[2020-01-20 14:37] #17245 closed, assigned to matks

[2020-01-20 14:38] matks commented on #17247
Additional topic:
- we must decide whether or not we **store in git** the generated RTL assets
- if we decide "no", although they are not into github, should they be shipped into the ZIP archive ?

[2020-01-20 14:39] Marcelozippo commented on #17236
Hi, I solve the problem by unzipping with cpanel and updating prestashop manually with "default directory"

Thank you

[2020-01-20 14:40] Marcelozippo commented on #17236
Thank @matks

[2020-01-20 14:42] #17236 closed, assigned to nobody

[2020-01-20 14:45] slupostrupek opened #17250 "Adding to cart quantity out of stock"
1. Go to product page
2. Write number which is out of stock like 9999 and FAST click add to cart before button will change to disabled.
3. See window 'Product successfully added to your shopping cart' which is false. Product wasn't added.

There should be error.

**Additional information**
PrestaShop version: 1.7
![sagw3ahas](https://user-images.githubusercontent.com/9866119/72735312-d94ea100-3b9b

[2020-01-20 14:49] sarahdib commented on #17234
Hello @mauweb

In 1.7.5.2 there isn't an activation/deactivation button for newsletter in the customer page
<img width="1280" alt="Capture d’écran 2020-01-20 à 15 42 51" src="https://user-images.githubusercontent.com/3034677/72735407-0d29c680-3b9c-11ea-82e7-e2525b738859.png">

It's the same in 1.7.6.2
<img width="1269" alt="Capture d’écran 2020-01-20 à 15 43 09" src="https://user-images.github

[2020-01-20 14:50] matks commented on #10250
I checked the Arabic language translation packs
http://i18n.prestashop.com/translations/1.7.6.0/ar-SA/ar-SA.zip
http://i18n.prestashop.com/translations/1.7.6.2/ar-SA/ar-SA.zip
http://i18n.prestashop.com/translations/1.7.6.3/ar-SA/ar-SA.zip
http://i18n.prestashop.com/translations/1.7.7.0/ar-SA/ar-SA.zip

In file Install.ar-SA.xlf
[code]

The `</a>` missing in arabic translation is the issue. It see

[2020-01-20 14:57] catamofe opened #17252 "Problem with the logo on the invoice"
Hi
**Describe the bug**
I already put the logo in the logo/theme menu. But it doesn't work for the invoices and emails. The invoice doesn't show the logo.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'orders'
2. Click on 'one order'
3. download the invoice
4. The invoice doesn't show the logo, and it is on the "appereance", "theme/logo" section

**Screenshots**
If applicable, add scr

[2020-01-20 15:07] matks commented on #10250
OK, this is because the fix was only on 1.7.4 crowdin database, and not on 1.7.5 nor 1.7.6 databases

@LouiseBonnard can you confirm that
- the translation is OK on crowdin for 1.7.4
- the translation has still the issue "missing </a>" on 1.7.5 and 1.7.6 (and then fix it) ?

[2020-01-20 15:19] TristanLDD commented on #16608
As seen with @NeOMakinG, the BO uses the wrong bootstrap component for modules cards and actually uses bootstrap's cards for content blocks. So using them now would be a little bit complicated as we would have to fix a few classes first.

@eternoendless About MBO, do you mean that MBO won't ever be able to support design improvements or updates ?

[2020-01-20 16:10] PierreRambaud commented on #11588
Should be ok now :)

[2020-01-20 17:26] colinegin commented on #15971
Is there anything left to do here ?

[2020-01-20 17:28] matks commented on #15971
Yes, it's not finished but will be finished in feature freeze (bug fixes + adjustments)

[2020-01-20 17:36] LouiseBonnard commented on #10250
I have copied the right translation from the 1.7.4 branch and pasted it in the other catalogs, but I would gladly like to have a native speaker's feedback before. I'll ask the Arabic translators community to review it tomorrow. :-)

[2020-01-20 17:50] matks opened #17256 "Outdated social network links in the installer"
**Describe the bug**
When install is finished, the installer displays multiple social network buttons to share the good news. According to the code in it, I think they are all outdated

- twitter "share" button works but refers to a VIMEO movie that does not exist anymore
- did not try facebook
- google+ is dead
- in pinterest "share button" code I see we provide the link http://img-cdn.prestashop

[2020-01-20 17:52] eternoendless commented on #17256
I'd suggest removing them altogether.

[2020-01-20 18:05] ProteanCode opened #17258 "Prestashop ignores accept-language request header"
**Describe the bug**
Prestashop ignores the accept-language header even if the option to detect language from browser has been choosen.

I have 2 language packs there, PL and GB

The shop url is https://arcanastones.com/ and it always load in GB language

**To Reproduce**
Steps to reproduce the behavior:
1. Install any working extension that allows you to manipulate accept-language, this one works

[2020-01-20 19:14] Maofree opened #17259 "Error with ps_emailalerts"
Hi
it is necessary to edit the line 205 in ps_emailalerts.php

it is necessary to remove the condition count($email) > 0

so this line
} elseif (!empty($email) && count($email) > 0) {
becomes
} elseif (!empty($email)) {

bye

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/72751908-1d07d180-3bc1-11ea-9ef1-2e539220d08c.png)

**Additional information**
PrestaShop version: 1.7.6

[2020-01-20 20:01] sotirisa opened #17260 "Debug Mode 500 error"
Hi, in my prestashop 1.7.6.1 I have on the debug mode and I have this message:
![image](https://user-images.githubusercontent.com/54579601/72753944-fea8d280-3bce-11ea-8d06-afc3ed5c900a.png)

When I tried to make the debug mode of my site crashes and I get an Internal server error.

Do you know why this keeps happening to my site?

[2020-01-20 20:15] iberotecno commented on #11348
Please, give us the way to export/import custom translations of themes/modules. I manually edited a lot of words at the BO. If I want to build a new site with the same template/modules actually I need to manually translate all the words another time. This is time consuming and frustrating without an export/import option.

[2020-01-20 20:45] khalidzuhd opened #17261 "in RTL Discount number in product not showing well (classic)"
in RTL Discount number in product not showing well (classic)
in v 1.7.6.2 rtl homepage product discount its in wrong place (orange color )

![image](https://user-images.githubusercontent.com/1392266/72757283-3d8f5600-3bd8-11ea-84a0-74dffd131459.png)
![image](https://user-images.githubusercontent.com/1392266/72757333-5992f780-3bd8-11ea-85de-72b8a92c6cda.png)

[2020-01-20 20:50] khalidzuhd opened #17262 "in RTL logo size is not fixed size please fix it"
in rtl when i add logo (big size ) its change page style
![image](https://user-images.githubusercontent.com/1392266/72757543-e938a600-3bd8-11ea-81f8-a1dbc7d27774.png)

in category in menu need fixed <when i press on category its show sub cat and show over logo and other things
![image](https://user-images.githubusercontent.com/1392266/72757578-040b1a80-3bd9-11ea-91a3-7c504bf6e9f4.png)

[2020-01-20 20:53] khalidzuhd opened #17263 "2 feature in classic theme ( category)"
can you add category  image in menu ? (icon if possible )
![image](https://user-images.githubusercontent.com/1392266/72757388-7e876a80-3bd8-11ea-9406-a22d148a02e4.png)

can you add sub category images in main  category ?
![image](https://user-images.githubusercontent.com/1392266/72757443-a4147400-3bd8-11ea-8c91-2b79ca07c862.png)

fix brand page and make it more stylish .

classic rocket dose not s

[2020-01-20 21:06] khalidzuhd opened #17264 "new pruduct>drcounts<new arrived not working in RTL"
![image](https://user-images.githubusercontent.com/1392266/72757663-3ddc2100-3bd9-11ea-926e-56156bd23866.png)
![image](https://user-images.githubusercontent.com/1392266/72757736-6b28cf00-3bd9-11ea-9715-df0e8ad8dd3e.png)

![image](https://user-images.githubusercontent.com/1392266/72757683-4af91000-3bd9-11ea-8770-6a4b8039138e.png)
![image](https://user-images.githubusercontent.com/1392266/72757755-7

[2020-01-21 00:18] BenTen commented on #14479
Sadly, I have the same issue.
@01park did you found a solution?

[2020-01-21 01:19] demeldoo opened #17265 "htaccess"
hi, is it possible that prestashop 1.7 is ignoring the rules written after the last # ? which is left there so the code will be preserved =?

[2020-01-21 07:37] soyes opened #17266 "Duplicated orders from the same cart"
We have found a bug which allows to create duplicated orders from the same cart. In order to check if the shop has this kind of problem, you can execute the following MySQL query:

SELECT
	id_order,
	GROUP_CONCAT(id_order),
	count(id_cart),
	GROUP_CONCAT(reference),
	date_add
FROM ps_orders
GROUP BY id_cart
HAVING COUNT(id_cart) > 1
ORDER BY `ps_orders`.`id_order` DESC

In the following screenshoo

[2020-01-21 07:52] khouloudbelguith commented on #16874
Hi @8ternity,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-21 07:52] #16874 closed, assigned to nobody

[2020-01-21 07:53] khouloudbelguith commented on #16873
Hi @romain-le-mercier,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-21 07:53] #16873 closed, assigned to nobody

[2020-01-21 07:54] khouloudbelguith commented on #16817
Hi @iriarh,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-21 07:54] #16817 closed, assigned to nobody

[2020-01-21 08:01] khouloudbelguith commented on #17266
Hi @soyes,

Thanks for your report.
What is the exact version of PrestaShop did you use?
Your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/11115#issuecomment-466335070? is it?

Thanks to check & feedback.

[2020-01-21 08:02] khouloudbelguith commented on #17265
Hi @demeldoo,

Please be aware that the bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2020-01-21 08:08] sarahdib commented on #17244
Hello @Lolamycompanero

I didn't reproduce the issue using PrestaShop 1.7.6.1 :
https://drive.google.com/file/d/1nM1xOW_tUHFwz931UBwif5LS-1lB4nVW/view

Do you have an error ?
The debug mode is activate ?

Thank you

[2020-01-21 08:10] KGabson commented on #12418
Hello,
After I had the same issue. I tryied with DEV mode "on" and i have this php error :

[code]

I have checked files on github. Indeed I don't see any method called getDefaultCountryId in my files. Any idea ?

[2020-01-21 08:13] sarahdib commented on #17250
Hello @slupostrupek

In order to try to reproduce the issue can you give us the complete version of PrestaShop ?

Thank you

[2020-01-21 08:13] khouloudbelguith commented on #17240
Hi @matteolavaggi,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com:  [account](https://addons.prestashop.com/en/contact-us?id_product=1748), they are the only ones to help you with it.
Thanks!

[2020-01-21 08:13] #17240 closed, assigned to nobody

[2020-01-21 08:15] PeNov commented on #17225
Hello,
I agree with Hlavtox, such functions would be great.

[2020-01-21 08:17] soyes commented on #17266
Hi @khouloudbelguith ,

We have found the problem from 1.5.6.2 until 1.7.5.0. We haven't tested it in 1.7.6.X versions yet.
I think that it has many similarities with the ticket you link.

[2020-01-21 08:18] sarahdib commented on #17252
Hello @catamofe

PrestaShop 1.7.5.2 is not compatible with PHP version 7.3 can you try to switch to an older version of PHP.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thank you

[2020-01-21 08:22] sarahdib commented on #17259
Hello @maofree

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2020-01-21 08:23] gennaris commented on #14354
Ping @khouloudbelguith - Any news ?

I have recently returned to the problem because I would like to solve it, I also tried these two "save-related" hooks

**actionProductAttributeUpdate
actionObjectProductUpdateAfter**

and the problem is always the same, the returned quantity is always the one BEFORE the product update and there's no way to intercept new combination quantities during a product s

[2020-01-21 08:29] khouloudbelguith commented on #14354
@PrestaShop/prestashop-core-developers friendly reminder :)

[2020-01-21 08:33] khouloudbelguith commented on #17260
Hi @sotirisa,

Are you using any third-party module?
There must be a module currently implementing the config file on its own, are you maybe able to find the string anywhere else in the main folder/subfolders?

Thanks to check & feedback.

[2020-01-21 08:56] 01park commented on #14479
Hi,

No, I don't have any solution to solve this is issue, but I can confirm that I tested this problem this weekend on a single shop store and also here it doesn't work. Maybe we need to install a PHP extension for this option, but what one I don't know. I was hoping someone from PS could help with this.

[2020-01-21 09:12] marionf commented on #9730
@khouloudbelguith Could you try to reproduce the issue with the last version of facetedsearch ?

[2020-01-21 09:24] khouloudbelguith commented on #17264
Hi @khalidzuhd,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.2
I attached a screen record
https://drive.google.com/file/d/1qqR2k8Ea6fGr1KYjK3lU9ec3TWvR_vQr/view
When English is selected => New products page are well displayed?
What is the exact version of PS1.7 did you use?

Thanks!

[2020-01-21 10:04] khouloudbelguith commented on #17263
Hi @khalidzuhd,

Using the Classic theme:
* If I upload a cover image after the category thumbnail, it erases the thumbnail.
* If I upload a thumbnail image after the cover image, the thumbnail image, in the FO is not displayed.
* If I delete the "Category Cover Image" the "Category thumbnail" is deleted too.
* If I try to add a thumbnail image, in the FO, it is not displayed

In fact, we will off

[2020-01-21 10:11] Robin-Fischer-PS opened #17268 "DNI and Postal code not added when creating a supplier"
**Describe the bug**
When creating a supplier, if DNI and Zip/postal code are filled, these fields will not be filled in the created supplier.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Supplier, create a new supplier
2. Fill the DNI and Zip/postal code fields and create
3. Open the supplier : DNI and Zip/postal code fields are empty
4. Edit the supplier, add again DNI and Zip cod

[2020-01-21 10:12] mkplastimex opened #17269 "Incorrect net-gross price display"
Good morning,
I have a problem with the PRESTA 1.6 store.

Store address: www.mkplastimex.pl

After importing products into the store, the correct prices appear:

https://zapodaj.net/images/0757f5704b0f5.png

Other prices appear in the online store:

https://zapodaj.net/images/e654975f4a9d4.png

Regards

[2020-01-21 10:27] mauweb commented on #17234
ottimo grazie mille

[2020-01-21 10:31] onklmaps commented on #14754
Commenting on this:
The most cases my clients has asked me "how do i resend" order_conf to customer, it is when the customer has mis-spelled his/her email.
Therefore: 1. Adding option to change email-address from order view and then 2. resend order_conf.

That would be great :)

[2020-01-21 10:33] onklmaps commented on #17225
Common problem: customer miss-spelled email, want to change, then get the order_conf again.

[2020-01-21 10:37] khouloudbelguith commented on #17262
Hi @khalidzuhd,

What is the exact version did you use of PrestaShop?
What are the exact `Width` & `Height` of your image?
Is it the issue that the menu is hiding the logo?
Same behavior with a no RTL language
![image](https://user-images.githubusercontent.com/16067358/72797951-52a0cf00-3c42-11ea-8891-bf186c08d6df.png)

Thanks!

[2020-01-21 10:41] khouloudbelguith commented on #17269
Hi @mkplastimex,

It is OK with PS1.7.6.2
https://drive.google.com/file/d/1CNcaouY8cW-pnwtamjXCpZNwzLXI7c1G/view

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stabil

[2020-01-21 10:41] #17269 closed, assigned to nobody

[2020-01-21 10:47] Maros4444 opened #17270 "DNI number issue"
Hello,

I am using prestashop 1.7.1.1. I'm having trouble with Slovakia VAT number in creating a new customer account - when a customer enters an VAT in any format in the VAT field, they receive an invalid format notification. The only way to get around this is to leave this field blank (I set this VAT field to optional) and then enter its VAT number in address creation. Can you help me in this wa

[2020-01-21 11:09] khouloudbelguith commented on #17261
Hi @khalidzuhd,

Thanks for your report.
I have the same issue with PS1.7.6.2 & PS1.7.6.1
![image](https://user-images.githubusercontent.com/16067358/72798787-179f9b00-3c44-11ea-890c-4fdf75e79003.png)
It is OK with 1.7.7.x branch (next version PS1.7.7.0)
![image](https://user-images.githubusercontent.com/16067358/72800117-e4aad680-3c46-11ea-9c32-aa0a99508ee2.png)
Since, it is fixed, I will close t

[2020-01-21 11:09] #17261 closed, assigned to nobody

[2020-01-21 11:11] khouloudbelguith commented on #17268
Hi @Robin-Fischer-PS,

I have the same issue with 1.7.7.x branch.
With PS1.7.6.2, in the supplier page, when France country is selected, the zip code field is displayed by default.
![image](https://user-images.githubusercontent.com/16067358/72799578-d8724980-3c45-11ea-8d0c-c71da5ffc57a.png)
=> well saved => regression
The `dni` field in the not displayed by default when France is selected.
But it

[2020-01-21 11:16] khouloudbelguith commented on #17268
`Spain` is the second top country where visitors came from, so I will change the severity from Minor to Major.

Thanks!

[2020-01-21 11:38] Progi1984 commented on #16569
Fixed in #17180

[2020-01-21 11:38] #16569 closed, assigned to zuk3975

[2020-01-21 11:38] #10125 closed, assigned to NeOMakinG

[2020-01-21 11:43] khouloudbelguith commented on #17270
Hi @Maros4444,

Thanks for your report.
This issue occurs when creating a new address country and not a new customer account? is it?
![image](https://user-images.githubusercontent.com/16067358/72802225-93511600-3c4b-11ea-8443-b12e3e58e554.png)

Did you use this module: https://github.com/PrestaShop/vatnumber?

Thanks!

[2020-01-21 11:59] khouloudbelguith commented on #17239
Hi @Lumyo,

I did not manage to reproduce the issue with PS1.7.6.3 (just released in a few hours) after an upgrade from PS1.6.1.24 using the 1-click upgrade v4.10.1.
I attached a screen record
https://drive.google.com/file/d/1vuFcJdj1nNl8-bvEuQVqZEAju75QelUz/view
The log attached, is it when using PHP7.0 or PHP7.3, because PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7

[2020-01-21 12:13] slupostrupek commented on #17250
All versions from 1.7.0

[2020-01-21 12:28] Lumyo commented on #17239
The attached log was from the php 7.0 attempt.
But the error was exactly the same when attempting with 7.3

I've just made another attempt updating to 1.7.6.3 using PHP 7.2.26, and again, I've got the exact same error, as the one at the end of the attached log in my original message.

[code]

[2020-01-21 12:41] lukaslau opened #17271 "Performance issue when deleting products"
Hello,

I have a shop with nearly 100k products and I had to delete almost half of it. What I saw was even deleting 10 products takes forever (30 seconds).

After some digging I found out that the main issue with performance comes from Product class cleanPositions function product field date_upd date update action.

Does it really have to update products date_upd field?
Commenting out this date_up

[2020-01-21 12:57] khouloudbelguith commented on #17250
Hi @slupostrupek,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15623 to fix the issue.
It is fixed in the next version PS1.7.7.0.
Your ticket is a duplicate of #13374
So, I close it.
Thanks!

[2020-01-21 12:57] #17250 closed, assigned to sarahdib

[2020-01-21 12:57] khouloudbelguith commented on #17250
Duplicate of #13374

[2020-01-21 13:06] Lumyo commented on #17239
@khouloudbelguith

Okay, I've finally managed to do the upgrade.
I found out in my log, that the php module RegisterListenersPass.php from where the error was coming, was also present in the module "mdstripe" i had installed

`[2020-01-20 07:23:37] modules/mdstripe/vendor/symfony/event-dispatcher/DependencyInjection/RegisterListenersPass.php added to archive. 4137 files left.`

I've uninstalled th

[2020-01-21 13:06] #17239 closed, assigned to nobody

[2020-01-21 13:07] Maros4444 commented on #17270
This issue occurs when a customer tries to create an account with filling an VAT field number - after he clicks to create an account, he will get "invalid format" notification.
![attachment1](https://user-images.githubusercontent.com/60134271/72806175-e9768700-3c54-11ea-820b-9ffca5ca3c93.png)

The same happens when he creates an account without entering a number and then clicks on his account - he

[2020-01-21 13:08] khouloudbelguith commented on #17239
@Lumyo, thanks for your feedback.

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-01-21 13:09] khouloudbelguith commented on #17271
Hi @zapper,

Your ticket is a duplicate of #12907
So, I close it.
Thanks!

[2020-01-21 13:09] #17271 closed, assigned to nobody

[2020-01-21 13:10] khouloudbelguith commented on #17271
Duplicate of #12907

[2020-01-21 13:18] jf-viguier commented on #16451
@khouloudbelguith why the waiting for author label still there ?

[2020-01-21 13:22] khouloudbelguith commented on #17234
Hi @mauweb,

Thanks!
As @sarahdib said, This button (enable/disable) `newsletter subscription` is directly in the module ps_emailsubscription or in the BO => Customers list page.
![image](https://user-images.githubusercontent.com/16067358/72808203-58ee7580-3c59-11ea-9135-6d9dc8040d55.png)

I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-21 13:22] #17234 closed, assigned to sarahdib

[2020-01-21 13:23] khouloudbelguith commented on #16451
@jf-viguier, label removed.

Thanks!

[2020-01-21 13:36] khalidzuhd commented on #17264
1.7.6.2

[2020-01-21 13:42] khouloudbelguith commented on #17270
@Maros4444, thanks for your feedback.
B2B is enabled in your case.
In my case, I did not manage to reproduce the issue with PS1.7.6.3.
I attached a screen record
 https://drive.google.com/file/d/1iWgRGwPvHW08CtgCm4pmDAHloQ6fFz3M/view
Thanks to check & feedback.

[2020-01-21 13:54] Maros4444 commented on #17270
@khouloudbelguith so is there any way to fix my issue? I have tried everything, issue still occurs.

[2020-01-21 14:04] khouloudbelguith commented on #17270
@Maros4444, Your issue is it similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/9884?

Thanks!

[2020-01-21 14:06] khouloudbelguith commented on #17264
@khalidzuhd,

1. When English is selected => New products page are well displayed?
2. In the Back office => Shop Parameters => Product Settings => what is the exact number of "Number of days for which the product is considered 'new'"
![image](https://user-images.githubusercontent.com/16067358/72809838-bcc66d80-3c5c-11ea-9951-2231c2afb4cf.png)
3. Do you have new products created less than "Number o

[2020-01-21 14:08] ttoine opened #17274 "Remove the dependency to Google Font in the BO"
**Describe the bug**
If PrestaShop has to be installed on a private network with no access to the web, it will not have a mean to access to Google Font:
For text style and some icons, there are two sans-serif fonts in the BO:
https://fonts.google.com/specimen/Ubuntu
https://fonts.google.com/specimen/Open+Sans

**To Reproduce**
relative to #10456

**Additional information**

- Check with default sa

[2020-01-21 14:10] marionf commented on #17075
It seems a good idea :+1:

[2020-01-21 14:12] jolelievre commented on #15458
@LedCloud I tried to reproduce the bug, but when I'm in the cart and try to add the discount I get an error message telling me that I must select a carrier before using this voucher

So to reproduce your issue I need to go the the checkout tunnel, select another carrier, then use the voucher in the payment step, and then go back to the carrier step

Or did I miss something in the voucher creation?

[2020-01-21 14:17] khalidzuhd commented on #17264
![image](https://user-images.githubusercontent.com/1392266/72812001-6c094180-3c69-11ea-9a8e-7cabefd50e78.png)
![image](https://user-images.githubusercontent.com/1392266/72812076-8511f280-3c69-11ea-8dd7-e424d99d5f82.png)
english and arabic theme classic

[2020-01-21 14:17] jolelievre commented on #16841
A related problem on the BO page https://github.com/PrestaShop/PrestaShop/issues/17119

[2020-01-21 14:19] khouloudbelguith commented on #9730
Hi @marionf,

I did not manage to reproduce the issue with PS1.7.6.3 & ps_facetedsearch v3.4.1.
https://drive.google.com/file/d/1yipH0qX8V33FSpRbiRqFWqmEp23-wU5G/view
I will close the issue.

Thanks!

[2020-01-21 14:19] #9730 closed, assigned to nobody

[2020-01-21 14:22] khouloudbelguith commented on #17264
@khalidzuhd, this is another issue reported here: https://github.com/PrestaShop/PrestaShop/issues/17261
It is different, in this ticket: we are working on your new products page issue.

Thanks!

[2020-01-21 14:27] khouloudbelguith commented on #17274
Hi @ttoine,

Is it the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/12772?

Thanks!

[2020-01-21 14:34] ttoine commented on #17274
It's a different issue: in #12772 this is a "material" icon problem.
here, this will have an impact on text look'n feel, plus, fonts include a few icons and other special characters that might be used in the BO.

I am curious to know if #16209 fixed this issue or not.

[2020-01-21 14:34] ttoine commented on #12772
relative to #10456

[2020-01-21 14:48] khouloudbelguith commented on #17274
Ping @PrestaShop/prestashop-product-team @PrestaShop/prestashop-core-developers

[2020-01-21 14:49] matks opened #17275 "Gather in the same location all example modules"
We have multiple example modules (for different purposes) in multiple locations 😅 .

https://github.com/sarjon/demo-grid-module
https://github.com/sarjon/orderhooks
https://github.com/friends-of-presta/demo-cqrs-hooks-usage-module
https://github.com/friends-of-presta/products
https://github.com/friends-of-presta/masterclass
https://github.com/friends-of-presta/customers

We should gather them at a

[2020-01-21 14:57] NeOMakinG commented on #17177
Not refreshing on toggles on product list is not doable without backend works on it and it's pretty huge, you should speak about it with core team, I did put the toggles instead of checks and crosses anyway.

[2020-01-21 14:58] khouloudbelguith commented on #17258
Hi @ProteanCode,
I did not manage to reproduce the issue with PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/1QJdmSx-IcQOPNrGKVy1z3kF8d6XrWHnV/view
In your case, when GB is selected => the language is not added to the URL like this for example: `http://prestashop.test/ps/1763/gb/`

It is Ok with PL language.
Did you make any changes in the URLs or did you use a custom module

[2020-01-21 14:59] khouloudbelguith commented on #17258
Simlar issue: https://github.com/PrestaShop/PrestaShop/issues/10744

[2020-01-21 15:01] khouloudbelguith commented on #17275
Ping @eternoendless @PrestaShop/prestashop-core-developers

[2020-01-21 15:03] khouloudbelguith commented on #17266
@soyes, thanks for your feedback.
Your ticket is a duplicate of #11115
So, I close it.
Thanks!

[2020-01-21 15:03] #17266 closed, assigned to nobody

[2020-01-21 15:03] khouloudbelguith commented on #17266
Duplicate of #11115

[2020-01-21 15:06] khouloudbelguith commented on #17265
@demeldoo, thanks for your feedback.
I just re-opened the issue.
Could you please add steps to reproduce the issue in a new comment?

Thanks!

[2020-01-21 15:07] Robin-Fischer-PS opened #17276 "Free Shipping voucher not deleted after creating an order on BO"
**Describe the bug**
When creating an order on BO, if the merchant select the "Free shipping" option, then unselect it, a voucher is created. Since it's not used, the customer can see this voucher on FO in the "Voucher" section, and it can be used, because the "Total available" is still at "1".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO page "Create order"
2. On the form, selec

[2020-01-21 15:08] demeldoo commented on #17265
thank you, i tested this with some rewrite rule after the commenct or
redirect... it will not work, only when i move the rewrite rule or redirect
above the comment (last)

On Tue, 21 Jan 2020 at 16:06, khouloudbelguith <notifications@github.com>
wrote:

[2020-01-21 15:09] matks commented on #16628
@Hlavtox What about the hook `displayWrapperBottom` ?  It's displayed under all sections.

https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/layouts/layout-both-columns.tpl#L92

It seems to be in the perfect location.

![Capture d’écran 2020-01-21 à 16 07 28](https://user-images.githubusercontent.com/3830050/72816380-547d8900-3c68-11ea-92bd-67cddafd6220.png)

[2020-01-21 15:12] ocaste opened #17277 ""The CSRF token is invalid. Please, try to resubmit the form""
Hi, sorry cause my English;

I'm working on 1.7 prestashop  version, when going to Custom page, all the page seems somthing going wrong cause can see all page correctly.

Creating a new product, this error ocurred: "The CSRF token is invalid. Please, try to resubmit the form"
![Captura de pantalla 2020-01-17 a las 15 17 04](https://user-images.githubusercontent.com/60144911/72816617-be962e00-3c68-

[2020-01-21 15:16] marionf opened #17278 "blockreassurance not hooked on footer and header by default"
**Describe the bug**
blockreassurance not hooked on footer and header by default

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install of PS
2. Go to Module manager, search blockreassurance and configure it
3. Click on 'Display' tab
4. Select above header or below header and above footer or below footer
5. Go in FO homepage, you don't see it because it's only hooked on displayReassur

[2020-01-21 15:25] khouloudbelguith commented on #17277
Hi @ocaste,

You need to increase the max_input_vars from 1000 to 15000 in your PHP configuration, this is a limitation of PHP which - by default - can manage only 1000 fields.

Thanks to check & feedback.

[2020-01-21 15:29] marionf commented on #9730
Thank you @khouloudbelguith

[2020-01-21 15:36] catamofe commented on #17252
Hello @sarahdib,

Thanks for your answer. I went back to php version 7.2 and it doesn't work either. I emptied cache and erase cookies also.
Any other idea?

Thanks

[2020-01-21 15:57] marketiweb85 commented on #16695
If you want to reproduce this bug:
in table ps_configuration, PS_ADVANCED_STOCK_MANAGEMENT value 1

If you go to a product page then the include is called.

You have this error :
CRITICAL: Uncaught PHP Exception Twig\Error\LoaderError: "Template "@PrestaShop/Admin:Product/ProductPage/Forms/form_warehouse_combination.html.twig" is not defined."

Because the link is false, the link should be :
@Pres

[2020-01-21 15:58] matks opened #17280 "Replace MediaServerConfiguration validateConfiguration() with native php7.3 validation"
Following this `@todo`:

[code]

https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Media/MediaServerConfiguration.php#L90

Now is the time 😃

[2020-01-21 16:00] khouloudbelguith commented on #17280
Ping @PrestaShop/prestashop-core-developers

[2020-01-21 16:04] khouloudbelguith commented on #17252
Hi @catamofe,

Thanks for your feedback.
SSL is enabled in your BO?
If yes, I think your issue is similar to this: https://github.com/PrestaShop/PrestaShop/issues/15088
As you can see here: https://github.com/PrestaShop/PrestaShop/pull/15109#issuecomment-522501213
It is a self signed certificate.
Thanks to check & feedback.

[2020-01-21 16:05] matks opened #17282 "Finish @todo in 1.7.7 migrated code"
We put some `@todo` in 1.7.7 migrated code to be handled later.

Later is now 💪 !

For each `@todo`, we must
- [remove it if irrelevant
or
- fix it
or
- answer it
or
- [create an issue about it

### TODO List

**In BO Theme JS:**
- [x] js/pages/order/create/customer-manager.js
- [x] js/pages/order/message/order-view-page-messages-handler.js

**In Adapter namespace:**
* [x] src/Core/Domain/Address/

[2020-01-21 16:07] khouloudbelguith commented on #16695
Hi @marketiweb85,

in table ps_configuration, PS_ADVANCED_STOCK_MANAGEMENT value 1

But this is will be incorrect, we cannot edit the database to reproduce an issue.
We need to find the exact steps to reproduce the issue from the BO or FO.

Thanks!

[2020-01-21 16:12] marketiweb85 commented on #16695
As you wish, but this is just a typo. The person wanted to write / and wrote :

[2020-01-21 16:22] LedCloud commented on #15458
I believe you did. How could the free delivery voucher applied before you haven't selected the address or maybe even haven't specified one?

[2020-01-21 16:32] AlexOtero32 opened #17283 "Combinations not saving sometimes in 1.6"
**Describe the bug**
When I am generating combinations, they create fine, but when I try to modify them to adjust the reference number and EAN13, sometimes it saves on the first try, other times it takes a few tries, other times doesn't work at all.
The error logs and debug mode don't throw any error messages.
We had an issue this week where some IDs in the database were offset (some products were

[2020-01-21 16:33] khouloudbelguith commented on #17265
@demeldoo, in the Back Office => Shop Parameters => Friendly URL is enabled?
The `htaccess` file is generated automatically.
Did you edit this `htaccess` file?

Thanks!

[2020-01-21 16:33] khouloudbelguith commented on #17283
Hi @AlexOtero32,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed, that’s why I clos

[2020-01-21 16:33] #17283 closed, assigned to nobody

[2020-01-21 16:34] demeldoo commented on #17265
Yes . Seo is on , was generated by presta and I them added some rules, only
the server is openspeed , not Apache or nginx in my case

On Tue 21. Jan 2020 at 17:33, khouloudbelguith <notifications@github.com>
wrote:

[2020-01-21 16:35] matthieu-rolland commented on #17280
The current validation method has a method stating:

However I don't think this method should be removed, because the **FILTER_VALIDATE_DOMAIN** filter constraint alone is not sufficient, we still need the IP check that is done by the current **isValidDomain** method.

I think we should just add the **FILTER_VALIDATE_DOMAIN** constraint to the **isValidDomain** method.

[2020-01-21 16:36] khouloudbelguith commented on #17265
@demeldoo, what are the exact rules added.
This code in your case is ignored?

Thanks!

[2020-01-21 16:38] khouloudbelguith commented on #17256
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-01-21 16:43] LouiseBonnard commented on #17256
It is handled by @TristanLDD's project to redesign the installer - but it must be prioritized. :-)

[2020-01-21 16:46] mishkop commented on #16624
Hi - similar problem here when upgrading to 1.7.6.3 from 1.7.4.2:
I have got this warning after upgrade:

SQL 1.7.6.2 1136 in INSERT INTO `ps_category_lang` SELECT `entity`.`id_category`, 1, `entity`.`id_lang`, `entity`.`name`, `entity`.`description`, `entity`.`link_rewrite`, `entity`.`meta_title`, `entity`.`meta_keywords`, `entity`.`meta_description` FROM `ps_category_lang` entity LEFT JOIN `ps_c

[2020-01-21 16:50] khouloudbelguith commented on #17210
@go-sudo, so, can we close the issue?

Thanks!

[2020-01-21 16:51] PierreRambaud commented on #17275
We could add them in the documentation like it's done for Rubygems
https://guides.rubygems.org/run-your-own-gem-server/
GemInABox and Gemirro came from the contributors code

[2020-01-21 16:51] khouloudbelguith commented on #17224
@Hlavtox, yes!
Thanks!

[2020-01-21 16:52] khouloudbelguith commented on #17224
Hi @onklmaps,

Your ticket is a duplicate of #14754
So, I close it.
Thanks!

[2020-01-21 16:52] #17224 closed, assigned to nobody

[2020-01-21 16:53] khouloudbelguith commented on #17224
Duplicate of #14754

[2020-01-21 16:57] khouloudbelguith commented on #17219
@nicoladze, could you please provide the exact expressions set in your case to test them.

Thanks!

[2020-01-21 17:23] matks commented on #14462
@marionf it seems "International > Localization > Currencies" page has no bulk delete action, probably because legacy page did not have bulk delete action too. Shall we introduce one ?

[2020-01-21 17:30] marionf commented on #14462
Well seen @matks
We will leave this page without checkboxes, I removed it from the list

[2020-01-21 17:48] marketiweb85 commented on #17122
Thanks @khouloudbelguith

It's not the same issue. The problem is in FrontController function getAlternativeLangsUrl()

[2020-01-21 17:51] demeldoo commented on #17265
RewriteRule ^en/sony-lis1489erpc-battery-for-sony-xperia-acro-s-new-oem/
/sony-lis1489erpc-battery-for-sony-xperia-acro-s-new-oem.html [L,R=301]

On Tue, 21 Jan 2020 at 17:36, khouloudbelguith <notifications@github.com>
wrote:

[2020-01-21 19:13] josegarvinvictoria commented on #17231
I am experiencing the same problem. On the products page with more than one attribute (front office) only the attribute that is in the first position of the "Attributes and features" page of the products (back office) is shown.

I have changed the order from the back office and if another attribute is placed as the first, the changes are reflected on the product page (front office) but only one is

[2020-01-21 20:56] TaccCZ opened #17289 "Combination / Attributes - bad refresh at product detail"
**Describe the bug**
After upgrade from 1.7.6.2 to 1.7.6.3 products attributes bad refresh at product detail. If i click to any attribute, other attributes cant refresh. After full reload in browser, attributes show ok.
Look on video:
https://www.loom.com/share/e1d847ad226a46df93db0c0bf298395a
another:
https://www.loom.com/share/b6f74599e8814dcc9ce61436bb3d4c54

**To Reproduce**
Steps to reproduce

[2020-01-21 21:08] catamofe commented on #17252
It doesn't work, but I create a banner and put it with url of the image.
Thanks

[2020-01-22 06:18] TucoSalamanca commented on #17231
Thanks for your reply!

Only in front office, back office is showing all attributes just fine and i can edit them & change stock for each of them etc.

[2020-01-22 06:28] TucoSalamanca commented on #17231
This is how my back office looks with more attributes, everything looks fine
https://imgur.com/a/HQJPoGs
And this is how front office looks with all the attributes from the picture above
https://imgur.com/a/73cTObX

From 3 attributes Size / color / canvas size its only showing the first one, not the other two.

Now if i remove some and the back office looks like this
https://imgur.com/a/2RgwvoS
(r

[2020-01-22 06:56] Hlavtox commented on #17270
@khouloudbelguith He is talking about DNI field, not VAT field. In Slovakia, they have the names a bit different.

@Maros4444 If you write VAT field, everyone means the tax number - Slovakian “IČ DPH” field.

[2020-01-22 07:06] MarcoConv commented on #17097
Hi,
Thanks for your feedback.

It is not about the registration in this field. I mean the checkbox at the customer registration form.

![image](https://user-images.githubusercontent.com/59735886/72872639-217dd880-3cee-11ea-9631-e71714f14077.png)

[2020-01-22 07:52] khouloudbelguith commented on #16895
Hi @amarmib2,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-22 07:52] #16895 closed, assigned to nobody

[2020-01-22 07:55] khouloudbelguith commented on #16870
Hi @Jojo-Kaly,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-22 07:55] #16870 closed, assigned to nobody

[2020-01-22 07:56] khouloudbelguith commented on #16907
Hi @azralth,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-22 07:56] #16907 closed, assigned to nobody

[2020-01-22 08:16] idnovate opened #17290 "Cart not refreshed when adding voucher with a gift product"
**Describe the bug**
If you create a voucher with a free gift, when you add it in the checkout page the cart is not refreshed.

**To Reproduce**
1. Create a cart rule with a gift product and with a coupon code

![image](https://user-images.githubusercontent.com/15104724/72876686-5d696b80-3cf7-11ea-8e92-09722333220d.png)

![image](https://user-images.githubusercontent.com/15104724/72876702-68bc9700

[2020-01-22 08:26] khouloudbelguith commented on #17289
Hi @TaccCZ,

I did not manage to reproduce the issue with PS1.7.6.3 after an upgrade from PS1.7.6.2 using the 1-click upgrade v4.10.1.
I attached a screen record
https://drive.google.com/file/d/1wK1oFAYDXrozFd1qieBIIVxAgBZYoFtf/view
Have any errors during the upgrade?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tm

[2020-01-22 08:43] khouloudbelguith commented on #17290
Hi @idnovate,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.2 & PS1.7.6.3 & branch 1.7.7.x.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-01-22 09:04] NeOMakinG commented on #17177
So, the activate/desactivate action should be done with this issue : https://github.com/PrestaShop/PrestaShop/issues/10631 , gonna do it when the list system will be migrated to a grid one !

[2020-01-22 09:09] Maros4444 commented on #17270
@Hlavtox @khouloudbelguith Sorry guys, I meant DNI field, not VAT.

[2020-01-22 09:20] khouloudbelguith commented on #17270
@Maros4444, B2B is enabled in your case? is it?
![image](https://user-images.githubusercontent.com/16067358/72881009-40856600-3d00-11ea-8e8f-55a8a396737e.png)

It is this field "the Identification number"?
![image](https://user-images.githubusercontent.com/16067358/72880939-22b80100-3d00-11ea-8aa4-b3950d1be42b.png)
In my case, it is OK with PS1.7.6.3 when creating new customer & updating customer

[2020-01-22 09:24] marionf commented on #17040
Reopened as it's not fixed for 1.7.7 but for develop

[2020-01-22 09:30] sarahdib commented on #16779
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-22 09:30] #16779 closed, assigned to nobody

[2020-01-22 09:41] khouloudbelguith commented on #17097
@MarcoConv, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.52 and  ps_emailsubscription v2.5.1 & v2.3.0.
In fact, when creating a new customer from the "Create an account" or Checkout page with selecting this option "Sign up for our newsletter", emails "verification email" & "confirmation email" are not sent.
They are sent only when subscribing from the `submitNew

[2020-01-22 09:57] khouloudbelguith commented on #17231
Hi @TucoSalamanca,

Your combinations are not correctly generated.
Then, in the right column, you should select all your combinations (from your 1 group and click on "Generate" => for example in this product, you have some combination like: `Culoare -Rosu`, `Culoare - Alb`,...
I have to close this ticket because, in the combination list, every combination needs to have the same attributes as the o

[2020-01-22 09:57] #17231 closed, assigned to sarahdib

[2020-01-22 09:59] khouloudbelguith commented on #17252
@catamofe, so, can I close the issue?

Thanks!

[2020-01-22 10:21] jolelievre commented on #16650
@colinegin There is a slight difference between the feature in #16150 and this one, the first is just product removal (like an edition), the second one is more advanced and deals with product refund, restock, ... It's more like a refund than a delete

[2020-01-22 10:23] khouloudbelguith commented on #17122
@marketiweb85, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2 & branch 1.7.7.x.
![image](https://user-images.githubusercontent.com/16067358/72886086-77ac4500-3d09-11ea-9eb3-bdf00cd83a64.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Related to

[2020-01-22 10:24] khouloudbelguith commented on #17122
@marketiweb85, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2 & branch 1.7.7.x.
![image](https://user-images.githubusercontent.com/16067358/72886086-77ac4500-3d09-11ea-9eb3-bdf00cd83a64.png)

Ping @PrestaShop/prestashop-product-team what do you think?
Related to #13737

Thanks!

[2020-01-22 10:29] Maros4444 commented on #17270
@khouloudbelguith Yes, I have enabled B2B mode.

This is info about our test server (it is the same as live version)
- server setup and configuration:
![config](https://user-images.githubusercontent.com/60134271/72886057-68c59280-3d09-11ea-8927-a5941bf81bfc.png)

- error logs:
[fpm-php.log](https://github.com/PrestaShop/PrestaShop/files/4096549/fpm-php.log)

- console log:
![console](https://user-

[2020-01-22 10:30] shnslmz commented on #15247
BTW,
You can solve this issue, by doing "reset this module" basically.

[2020-01-22 10:39] khouloudbelguith commented on #17270
@Maros4444,

You have these errors:

It may be easier to check if the connection to MySQL and re-establish it if needed, you need to check your host for more details.

Could you please try to clear the cache manually by deleting all the folder into app/cache (prod & dev).

You need to update your php.ini file as recommended, you need to check your host for more details.
Thanks to check and feedbac

[2020-01-22 10:49] TaccCZ commented on #17289
Dear  @khouloudbelguith,
here is zipped log: https://drive.google.com/file/d/1mC4rhE4jnCPdriM4sxf10J9cl_7WBFTy/view?usp=sharing

I didn't see any upgrade errors. I returned from the backup version of PS 1.7.6.2 and on this version everything works fine. If I upgrade to 1.7.6.3 again, the bug will reappear.

Thank you for you help.

[2020-01-22 10:59] idnovate opened #17295 "Add displayProductPriceBlock hook in cart-detailed-product-line.tpl"
**Is your feature request related to a problem? Please describe.**
Hook `displayProductPriceBlock` is executed almost always that product price is displayed except on `/themes/classic/templates/checkout/_partials/cart-detailed-product-line.tpl`

**Describe the solution you'd like**
Add hook

`{hook h='displayProductPriceBlock' product=$product type="unit_price"}`

after the price is displayed at `

[2020-01-22 11:06] khouloudbelguith commented on #17095
Hi @francct,

I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2.
In the BO => Shop Parameters => Traffic & SEO page, if the "Redirect to the canonical URL" =
1. 302 / 301 Moved Temporarily => there are many redirections
1.1 http://domain.com/
1.2 https://domain.com/
1.3 https://domain.com/en/

https://drive.google.com/file/d/1ae22RVD-xdBqz2mZkKwjH3oqzMVuG_gk/view

2. No redirection (you m

[2020-01-22 11:11] marionf commented on #16932
Reopened, as it's a regression it should be fixed on 1.7.7.x instead of develop

[2020-01-22 11:19] nicoladze commented on #17219
@khouloudbelguith

You already tested it in your video.
But you did it on 1.7.2; as stipulated, I work with 1.7.1
Could you please test it on 1.7.1 to check if it occurs and then I will know if it is fixed on 1.7.2?

Also, can you tell me what does this error mean?

[PrestaShop\PrestaShop\Core\Domain\Address\Exception\AddressException code 0]

Regards

[2020-01-22 11:25] khouloudbelguith commented on #17295
Hi @idnovate,

Thanks for your report.
So, do you suggest to replace this line: https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/checkout/_partials/cart-detailed-product-line.tpl#L61
by this
`{hook h='displayProductPriceBlock' product=$product type="unit_price"}`?

Thanks!

[2020-01-22 11:28] khouloudbelguith commented on #17295
PR: https://github.com/PrestaShop/PrestaShop/pull/17296

[2020-01-22 11:39] khouloudbelguith commented on #17289
@TaccCZ, in your log file, `all files upgraded` & `Database upgrade OK`.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the foll

[2020-01-22 11:47] khouloudbelguith commented on #17219
@nicoladze, I could not reproduce your issue with the provided information using PS1.7.6.1.
https://drive.google.com/file/d/15pRqvxyUCE7MW96eHt0b-_3FaAdHSAFn/view
You need to enable debug mode in your store and debug request which is sent for Brand address save in your browser, using DevTools, so:

1. enable debug mode
2. go to the Brand address page
3. open up developer tools
4. go to Network tab

[2020-01-22 11:52] khouloudbelguith commented on #17265
@demeldoo, so, you need to make a redirection of the URL: `en/sony-lis1489erpc-battery-for-sony-xperia-acro-s-new-oem/` to this URL
`/sony-lis1489erpc-battery-for-sony-xperia-acro-s-new-oem.html` with `301 Moved Permanently`? is it?

Thanks!

[2020-01-22 12:23] Maros4444 commented on #17270
@khouloudbelguith

Yes, we know about first two errors - they are no longer up-to-date as they are from the time of the prestashop migration to the new server.

Last error - we will resolve the last error with our provider, but I think that this error has nothing to do with the DNI problem.

We also tried a one click upgrade, after which many things didn't work, but the issue with the DNI field wa

[2020-01-22 12:24] mvorisek opened #17298 "Remove forgotten branches"
This issue is feature request solely to improve git readability.

Remove branches like `master`, `1.7.6.0-beta` and if possible also the feature branches like `LouiseBonnard-patch-4` - create a PR from them instead.

[2020-01-22 12:31] karopka opened #17299 "ps_facetedsearch 3.4.0 upgrade to 3.4.1"
Prestashop 1.7.6.2
ps_facetedsearch 3.4.0

I'm trying to upgrade facetedsearch to 3.4.1 version. System says that upgrading successfully finished, but ather refreshing the page, module version is still 3.4.0 and asking for upgrade.

[2020-01-22 12:34] mvorisek opened #17300 "Upgrade all packages to the latest versions - mainly Symfony and Twig"
This is a feature request to upgrade all packages to the latest versions.

It is important as custom modules or other custom code is currently limited by the PrestaShop old dependencies like `symfony/symfony` 3.4 or `twig/twig` 1.x.

TODOs:

- [x] SOLVED/MERGED create PR for "prestashop/blockreassurance" and "prestashop/productcomments" to support Symfony 4.x and 5.x (currently these packages requ

[2020-01-22 12:48] mvorisek commented on #17300
`csa/guzzle-bundle`: reported https://github.com/csarrazi/CsaGuzzleBundle/issues/258

[2020-01-22 12:50] mvorisek commented on #17300
`guzzlehttp/cache-subscriber`: archived project - https://github.com/guzzle/cache-subscriber , can this dependency be removed/replaced?

[2020-01-22 12:52] TaccCZ commented on #17289
Hi,
**1. Server setup and configuration:**
Server information Linux #1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64
Server software version: Apache/2.4.25 (Debian)
PHP version: 7.2.26-1+0~20191218.33+debian9~1.gbpb5a34b
Memory limit: 512M
Max execution time: 600
Upload Max File size: 250M
MySQL version: 10.1.41-MariaDB-0+deb9u1
MySQL server: localhost
MySQL name: devstrojnipily_4
MySQL user: de

[2020-01-22 12:52] mvorisek commented on #17300
`guzzlehttp/log-subscriber`: not directly required by PrestaShop

[2020-01-22 12:54] mvorisek commented on #17300
`prestashop/blockreassurance`: it requires https://github.com/guzzle/cache-subscriber which is deprecated

[2020-01-22 12:57] khouloudbelguith commented on #17300
Hi @mvorisek,

Thanks for your report.
Ping @matks @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-01-22 13:01] mvorisek commented on #17300
`prestashop/translationtools-bundle`: it requires `twig/twig` < 3.0 in the `composer.json`.

[2020-01-22 13:04] mvorisek commented on #17300
`friendsofphp/php-cs-fixer`: requires `php-cs-fixer/diff` < 2.0 which is fine (internal CS fixer dependency), IGNORE

[2020-01-22 13:11] khouloudbelguith commented on #17299
Hi @karopka,

Could you please check the version of your module in this file
Project_Folder/modules/ps_facetedsearch/config.xml
https://github.com/PrestaShop/ps_facetedsearch/blob/master/config.xml#L5

Thanks to check & feedback.

[2020-01-22 13:19] khouloudbelguith commented on #17298
Hi @mvorisek,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-01-22 13:23] TaccCZ commented on #17289
Here:
![image](https://user-images.githubusercontent.com/37780517/72897519-6e7ba200-3d22-11ea-8dce-054ea97e8197.png)
same in PS 1.7.6.2 and 1.7.6.3

[2020-01-22 13:26] khouloudbelguith commented on #17270
@Maros4444, I think this issue is similar to this: http://forge.prestashop.com/browse/BOOM-2754 fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/7856 (it is closed & replaced by this PR: https://github.com/PrestaShop/PrestaShop/pull/7898)

Thanks to check & feedback.

[2020-01-22 13:26] demeldoo commented on #17265
yes, excatly, basic the second url includes full path but i cutted it
out... , so yes

On Wed, 22 Jan 2020 at 12:52, khouloudbelguith <notifications@github.com>
wrote:

[2020-01-22 13:27] khouloudbelguith commented on #17289
@TaccCZ, your second language is English? is it?

Thanks!

[2020-01-22 13:28] mvorisek opened #17303 "Submit Prestashop to Packagist"
Submit `prestashop/prestashop` package to Packagist, so that PrestaShop can be installed like:

[code]

or if some libs from PrestaShop are needed, so it can be added to some other project like:
[code]

[2020-01-22 13:28] TaccCZ commented on #17289
Yes, I filled in the second line "name" and "symbol" in EN adminstration no longer error. However, the problem with loading combinations in product detail is still not resolved.

[2020-01-22 13:34] khouloudbelguith commented on #17289
@TaccCZ, You need to enable debug mode in your store and debug request which is sent for product edition in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. edit the product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response" or

[2020-01-22 13:40] khouloudbelguith commented on #17303
Hi @mvorisek,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-01-22 13:51] sam-pires commented on #17303
Hi
I'll ping @PrestaShop/prestashop-core-developers.
Wdyt guys?

[2020-01-22 13:56] ttoine commented on #17303
I like the use case.

[2020-01-22 14:02] sotirisa commented on #17260
Hi after the update to 1.7.6.3 all is ok now thank you.

[2020-01-22 14:02] #17260 closed, assigned to nobody

[2020-01-22 14:13] #16841 closed, assigned to atomiix

[2020-01-22 14:13] #17119 closed, assigned to nobody

[2020-01-22 14:14] khouloudbelguith commented on #17260
@sotirisa, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-01-22 14:14] marionf commented on #17040
Fixed on 1.7.7.x by: https://github.com/PrestaShop/PrestaShop/pull/17291

[2020-01-22 14:14] #17040 closed, assigned to jolelievre

[2020-01-22 14:18] khouloudbelguith commented on #17289
@TaccCZ, try to click on this error
![image](https://user-images.githubusercontent.com/16067358/72900224-c79a0480-3d27-11ea-8645-dd2e4c5eb373.png)
you should see the error message in the "Response" or "Preview" tab.
![image](https://user-images.githubusercontent.com/16067358/72901640-6aec1900-3d2a-11ea-8019-475b68deba18.png)

Thanks!

[2020-01-22 14:21] catamofe commented on #17252
yes thank you

[2020-01-22 14:22] matks commented on #17303
It might require to do a little more steps than just submitting to packagist 🤔 I think `composer require` and `composer create-project` have different behaviors

[2020-01-22 14:26] khouloudbelguith commented on #17252
@catamofe, thanks!
Feel free to open a new one when needed.

Thanks!

[2020-01-22 14:26] #17252 closed, assigned to sarahdib

[2020-01-22 14:26] mvorisek commented on #17303
Yes, the goal is to be able to:
- install PrestaShop by composer
- add prestashop to some other project to use PrestaShop libs. I tried today, but found out PrestaShop is not at Packagist at all...

[2020-01-22 14:31] TaccCZ commented on #17289
It is only addthis plugin, if I disable it, same problem:
https://www.loom.com/share/b3f449a70fe9455a9424f7ed294c222f

[2020-01-22 14:32] khouloudbelguith commented on #17265
@demeldoo, try to use this line:
`RewriteRule ^en/sony-lis1489erpc-battery-for-sony-xperia-acro-s-new-oem$ /sony-lis1489erpc-battery-for-sony-xperia-acro-s-new-oem.html [L,R=301]`

Thanks to check & feedback.

[2020-01-22 14:38] khouloudbelguith commented on #17289
@TaccCZ, this issue occurs only when a friendly URL is enabled?
Could you please try to disable friendly URL, clear cache, check & feedback.

[2020-01-22 14:38] weddingtextile commented on #17230
![01 Confirm order](https://user-images.githubusercontent.com/44600313/72903231-8c063700-3d35-11ea-82bb-3cc2f9c6e29c.png)
![02 Order part1](https://user-images.githubusercontent.com/44600313/72903249-93c5db80-3d35-11ea-9d4f-77cbb115f339.png)
![02 Order part2](https://user-images.githubusercontent.com/44600313/72903258-988a8f80-3d35-11ea-94a8-008c77392148.png)
![02 Order part3](https://user-images.

[2020-01-22 14:46] weddingtextile commented on #17230
![02 Order part5](https://user-images.githubusercontent.com/44600313/72903583-25cde400-3d36-11ea-8b6a-4027f82755a0.png)

Documents "Delivery slip" and "Invoice" are automatically created!!!!
Therefore I cannot edit the order.

[2020-01-22 14:51] TaccCZ commented on #17289
I disabled friendly URL, no change
https://www.loom.com/share/1e65af17e6db46a09059d3f882f26d79

[2020-01-22 14:53] khouloudbelguith commented on #17230
@weddingtextile, when ordering with the COD payment, the status generated is `Processing in progress`.
In the BO => Shop Parameters => Order Settings => Stuses Tab => if you edit this status, you can see that:
1. Set the order as paid => is selected so => the invoice is generated
2. Show delivery PDF => is selected so => the Delivery slip is generated => so, it is not possible to edit the order.

[2020-01-22 14:56] khouloudbelguith commented on #17289
@TaccCZ, did you check if you have some overrides or some custom modules not compatible with the new version PS1.7.6.3?

Thanks to check & feedback.

[2020-01-22 15:02] khouloudbelguith commented on #17295
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2020-01-22 15:05] weddingtextile commented on #17230
Thanks!
It's helped.

[2020-01-22 15:07] khouloudbelguith commented on #17230
@weddingtextile, you are welcome!
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-22 15:07] #17230 closed, assigned to sarahdib

[2020-01-22 15:29] matks commented on #16471
POC started https://github.com/PrestaShop/PrestaShop/pull/17297

[2020-01-22 15:36] khouloudbelguith commented on #16741
@matteolavaggi, @PeNov, I did not manage to reproduce the issue with PS1.7.6.3 after an upgrade from PS1.7.4.2 using the 1-click upgrade v4.10.1.
I attached a screen record
https://drive.google.com/file/d/1uC7KWqi1p_UEC0FI0trl2Izo0QlUJpVe/view
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but mos

[2020-01-22 15:36] #16741 closed, assigned to nobody

[2020-01-22 15:39] TaccCZ commented on #17289
I checked overrides, nothing here. All modules disabled. But the same problem...

[2020-01-22 15:42] weddingtextile commented on #17230
Why new order didn't create with status "Awaiting Cash On Delivery validation"?

[2020-01-22 15:43] zuk3975 commented on #17268
Sorry, re-checked. Seems like legacy page just didn't have DNI field. Post code was a mistake in handler. Fixed in #17305
According to legacy Supplier and brand addresses wasn't dependant from Customer->addresses->required fields.

[2020-01-22 16:11] khouloudbelguith commented on #17289
@TaccCZ, I found this error `Primary script unknown\n` is related to your server.
Are you using PHP-FPM?
It is almost always related to a wrongly set SCRIPT_FILENAME.
So, could you please check with your host & feedback.

[2020-01-22 16:12] HartLarsson commented on #15268
there is a plan to fix this child theme bug in 1.7.6.x version?

thanks

[2020-01-22 16:18] khouloudbelguith commented on #17230
@weddingtextile, the COD module accepts cash on delivery payments.

Thanks!

[2020-01-22 16:21] TaccCZ commented on #17289
@khouloudbelguith , i will check the server. But this "problem" is reported to me version 1.7.6.2 and everything works fine. So I don't think this will be the case. Both versions 1.7.6.3 and 1.7.6.2 are on the same server with the same configuration.
Version 1.7.6.2 - https://www.strojni-pily.eu/ works fine.

[2020-01-22 16:21] mathieuhen commented on #17266
Hi.
I have also dupplicate orders but not with the same reference.
The orders are created at the same exact time.
Orders created with ps_wirepayment module.

But I can't reproduce always this issue.

I enabled DEBUG_MODE in abstract class PaymentModuleCore.
And I added a log to the front controller of the validation in the module ps_wirepayment.

And there are logs below:

![Capture](https://user-

[2020-01-22 16:22] khouloudbelguith commented on #17153
@j0r1s, could you please try to change the "Route to category which has the "selected_filter" attribute for the "Layered Navigation" (blocklayered) module" from `{id}-{selected_filters}-{rewrite}` to
`{id}-{rewrite}{/:selected_filters}`, clear cache, check & feedback.
![image](https://user-images.githubusercontent.com/16067358/72912358-cf63a400-3d3b-11ea-9b6c-2ffff40fdaad.png)

Thanks!

[2020-01-22 16:24] khouloudbelguith commented on #17266
Hi @mathieuhen,

Please follow this comment: https://github.com/PrestaShop/PrestaShop/issues/11115#issuecomment-466335070

Thanks!

[2020-01-22 16:29] mathieuhen commented on #17266
Seriously ? This comment ?

[cid:image001.png@01D5D149.673C23B0]

I don’t understand !

[cid:image002.png@01D5D149.673C23B0]<https://www.therightmove.marketing/>
Mathieu Henry   E-commerce Technical Manager
www.therightmove.marketing<https://www.therightmove.marketing/>
t: +32 (0) 474 58 30 47  | m: mathieu.henry@therightmove.be<mailto:mathieu.henry@therightmove.be>

De : khouloudbelguith <notific

[2020-01-22 16:32] khouloudbelguith commented on #17266
@mathieuhen, this issue is closed as a duplicated of this issue: https://github.com/PrestaShop/PrestaShop/issues/11115, that's why this issue is closed.

Thanks for your understanding!

[2020-01-22 16:34] mathieuhen commented on #17266
Hi, but it’s not the same issue.

I have not the same reference for duplicate orders.

I have just dupplicate orders.

[cid:image001.png@01D5D14A.2CE57D00]<https://www.therightmove.marketing/>
Mathieu Henry   E-commerce Technical Manager
www.therightmove.marketing<https://www.therightmove.marketing/>
t: +32 (0) 474 58 30 47  | m: mathieu.henry@therightmove.be<mailto:mathieu.henry@therightmove.be>

[2020-01-22 16:38] khouloudbelguith commented on #17266
@mathieuhen, this issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-01-22 16:44] Klemart3D opened #17308 "Missing translation in french for template compilation"
**Describe the bug**
It missing some translations in French.

**To Reproduce**

Steps to reproduce the behavior:
1. Install last Prestashop (1.7.6.3) in french
2. Go to "International" > "Traductions" and update french language
3. Clear cache
4. Go to "Paramètres avancés" > "Performances" and see "Compilation des templates" values not translated.

Symfony profiler says missing this translations (s

[2020-01-22 16:45] matks commented on #17298
I removed branches that looks unnecessary, however
- not sure about `1.7.6.0-beta`, need @eternoendless confirmation
- not sure about `master` branch, dont want to break some github workflow linked to it 😅

[2020-01-22 16:52] khouloudbelguith commented on #17308
Hi @Klemart3D,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.6.2 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/72915006-e0aeaf80-3d3f-11ea-8164-a6fd3acfac01.png)
I’ll add this to the debug roadmap so that it’s fixed.
Ping @LouiseBonnard, it could be fixed in the Crowdin?

Thanks!

[2020-01-22 17:02] LouiseBonnard commented on #17308
Hi @khouloudbelguith, @Klemart3D, I've just checked and it looks like the string disappeared from the translation catalog after version 1.7.2. It is only included in the 1.7.2 catalog, cf. the following screenshot, while it should also appear in all later translation branches.  It is a bug, ping @PrestaShop/prestashop-core-developers.

<img width="598" alt="Capture d’écran 2020-01-22 à 17 56 53"

[2020-01-22 17:23] mvorisek commented on #17298
I understand, but it is 3 years old... Tagged by `1.7.2.0` .git tag which is also part of the `develop` history, so if needed, it can be restored anytime. :)

[2020-01-22 18:00] leup opened #17309 "Missing space between attributes in the product name string when using the dash separator"
Hello !

A tiny bug, may be.

### Describe the bug

On the "My orders" page, we have the product name displayed with the attributes appended to it, a combination.

If you take a look at the screenshot you'll see the full name is

**Caraco Georgia - Taille 1- Texture: Oro**

_Problem is,_ when using the dash ("-") as a separator and the combination has multiple attributes (here Size and Color) then

[2020-01-22 19:20] TaccCZ commented on #17289
@khouloudbelguith, I guess I found the mistake that makes it.
File: themes/core.js.
When you rewrite this file from the previous version 1.7.6.2 to the new 1.7.6.3, everything works as it should. The files are different in data.
So there must be a bug.

[2020-01-22 20:16] didi-2018 opened #17310 "Can not access different shop sections after Upgrade 1.7.5.1 -> 1.7.6.3"
Hi,

I upgraded from 1.7.5.1 to 1.7.6.3 and I can not access the following shop sections:

catalog -> categories
catalog -> brands & suppliers
customers -> customers
design -> sites
international -> localisation -> language
international -> localisation -> currencies

I get 500 ERROR.

This I found in   advanced settings -> informations:
missing files (33):
vendor/composer/installers/src/Composer/

[2020-01-22 21:11] procent85 commented on #16460
Hello,
the problem still exists in version 1.7.6.3 @Progi1984

In changelog of 1.7.6.3 I found:
"Dashboard - customer link not working 1.7.6.1 "

[2020-01-23 03:41] karopka commented on #17299
<version><![CDATA[3.4.1]]></version>
but it's still asks me to update:
![image](https://user-images.githubusercontent.com/18676256/72954923-95ce7f80-3db3-11ea-8f59-8b4f30bc9100.png)

[2020-01-23 07:34] beniwal commented on #14627
Hi

I can still see the issue remains there and fake customers are being created. 1.7.6.1 and .1.7.6.2.

Please give some permanent solution for this.

Thanks

[2020-01-23 07:47] khouloudbelguith commented on #16910
Hi @pnshurba,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-23 07:47] #16910 closed, assigned to nobody

[2020-01-23 08:28] khouloudbelguith commented on #17309
Hi @leup,

I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.3 & branch 1.7.7.x.
There is no space between the 1 and the dash in:
1. the FO => order-confirmation page
![image](https://user-images.githubusercontent.com/16067358/72967800-712dd400-3dc2-11ea-9cb3-66c7b3106807.png)
2. The BO => Order details page
![image](https://user-images.githubusercontent.com/16067358/72967821-7d199600-3dc2-

[2020-01-23 08:33] marionf opened #17311 "Error while trying to preview or view an order of a deleted customer"
**Describe the bug**
Error while trying to preview or view an order of a deleted customer

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO > Customers > Customers
2. Delete John Doe
3. Go on the migrated order list
4. Try to click on the preview, nothing is happening
5. Try to view the order
6. See errors

**Screenshots**
**Error in the console after clicking on the preview**
![captu

[2020-01-23 08:34] rokaszygmantas commented on #17138
I'm on it :slightly_smiling_face:

[2020-01-23 08:35] marksull commented on #14627
@beniwal you have to by a module with captcha

[2020-01-23 08:36] khouloudbelguith commented on #17310
Hi @didi-2018,

Thanks for your report.
What is the exact version of the 1-click upgrade did you use?
This issue was fixed in the last version PS1.7.6.1 with this PR: https://github.com/PrestaShop/PrestaShop/pull/14620 as reported here: https://github.com/PrestaShop/PrestaShop/issues/14617
Here's a provisional solution:

`ALTER TABLE `ps_admin_filter` ADD `filter_id` INT NOT NULL ;`

Thanks to che

[2020-01-23 08:51] Maros4444 commented on #17270
@khouloudbelguith, changing validate from isSiret to isGenericName in classes/Customer.php worked for me.

-   changed from:       'siret' => array('type' => self::TYPE_STRING, 'validate' => 'isSiret'),
                       to:        'siret' => array('type' => self::TYPE_STRING, 'validate' => 'isGenericName'),

This change means that the customer can enter any values ​​in this field (without ve

[2020-01-23 08:52] khouloudbelguith commented on #17299
@karopka, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
In my case, it is OK: https://drive.google.com/file/d/151Ki7Yy48xzmnBucmKHcN9iz1_c_zLpk/view
Thanks to check and feedback.

[2020-01-23 08:53] khouloudbelguith commented on #17270
@Maros4444, thanks for your feedback.
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-23 08:53] #17270 closed, assigned to nobody

[2020-01-23 08:58] mathieuhen opened #17312 "Duplicate orders with ps_wirepayment module"
Hi,

We have sometime duplicate orders when we use the ps_wirepayment module.
But not every time.

I place orders with a clean browser each time and as a guest customer.
And once in a while (between 1/5 or 1/10), we have duplicate orders (with the same id_cart but different reference).

I enabled the debug mode in the class PaymentModuleCore and I added a log to the front controller of the validat

[2020-01-23 09:00] khouloudbelguith commented on #16460
Hi @procent85,

This issue fixed in the module with this PR: https://github.com/PrestaShop/dashproducts/pull/19.
A new release of the `dashproducts` module not released yet.

Thanks!

[2020-01-23 09:06] khouloudbelguith commented on #17312
Hi @mathieuhen,

Thanks for your report.
Did you see the Mailchimp module? if yes, what is the exact version used?

Thanks!

[2020-01-23 09:11] karopka commented on #17299
1. I cleared cache manually.
2. I disabled opcache and cleared cache manually.
3. I disabled opcache, purged cache on cloudflare and cleared cache mannually.

I don't want to reinstall module because afraid to lost settings.
Nothig helps.

Does this bug will prevent me to future upgrades?

[2020-01-23 09:18] mathieuhen commented on #17312
Hi,

no, the mailchimp module is not installed.
Is there a possible link with this issue ?

[2020-01-23 09:30] khouloudbelguith commented on #17312
@mathieuhen, Previously, we have this issue: http://forge.prestashop.com/browse/BOOM-5486 with Mailchimp Version1.1.3., but it is fixed.

Thanks!

[2020-01-23 09:31] matks opened #17314 "Update license headers for 2020 for PS 1.7.7"
I write this issue so we dont forget about it. We need to update all license headers for 2020 (right now, they are set for 2019).

However we might change how we handle dates into license headers, see https://github.com/PrestaShop/PrestaShop/issues/17007.

So we need to
- wait for answer for https://github.com/PrestaShop/PrestaShop/issues/17007 to come up
- then apply this answer for 1.7.7

This i

[2020-01-23 09:31] matks commented on #17007
Legal team of PrestaShop is on the topic, waiting for the answer

[2020-01-23 09:32] khouloudbelguith commented on #17299
@karopka,

no, it is just a cache issue.

You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

Thanks!

[2020-01-23 09:34] matks commented on #14627
As @marksull said 😄 the permanent solution is to use a captcha module. You'll find more informations [here](https://build.prestashop.com/news/fighting-against-spamming-again/).

[2020-01-23 09:41] karopka commented on #17299
I had tried it. Also I had tried to open admin page in incognito mode, to clear cache. I had disabled cache subsystems at the prestashop, at the server, at the cloudflare. I had tried to delete cached files manually. It is no helps.

Let it be.

[2020-01-23 09:45] khouloudbelguith commented on #17299
@karopka, thanks for your feedback.

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thanks!

[2020-01-23 09:45] #17299 closed, assigned to nobody

[2020-01-23 09:51] Daaaaad opened #17315 "Impossible to change default attribute"
**Describe the bug**
Default attribute is not saved correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to catalog > products in admin
2. Click on combinations/attributes tab (Assuming you already have multiple attributes)
3. Try to change default attribute by checking second radio button
4. Default attribute is not set to second attribute

(In ajax save, "attribute_default" is set

[2020-01-23 10:02] khouloudbelguith commented on #17315
Hi @Daaaaad,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/m

[2020-01-23 10:16] matks commented on #17138
@eternoendless I need the "all example modules" repository we discussed about, to host all of our example modules 😄

[2020-01-23 10:17] matks commented on #17138
Linked to https://github.com/PrestaShop/PrestaShop/issues/17275

[2020-01-23 10:18] Daaaaad commented on #17315
Hi @khouloudbelguith,

I think you have everything in hand to reproduce the error :
- There are no errors in PHP error log nor javascript console (I would have reported them)
- I already specified the version of PrestaShop and already have addressed the problem (see my capture)

[2020-01-23 10:28] mathieuhen commented on #17312
Ok, but we don't have mailchimp module.
Do you have another idea ?
Or do you know what the module Mailchimp did before the fix ?

[2020-01-23 10:32] khouloudbelguith commented on #17315
@Daaaaad, in my case, I did not manage to reproduce the issue with PS1.7.6.3
I attached a screen record
https://drive.google.com/file/d/18PZI1kvmqiVxq8MKllDvp97Mf0k80iuA/view
You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab

[2020-01-23 10:34] Madstudiobcn opened #17316 "Faceted filter never show results"
Hi,
We have an issue with the prestashop 1.76.2 version and the faceted filter.
When you click on a link on the faceted item link, the loader appears but never show the result page.
On the console only have this.
tp https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en.xh-S9KbEGSE.O/m=client/rt=j/sv=1/d=1/ed=1/am=wQc/rs=AGLTcCNaUSRWzhd71dAsiMVOstVE3KcJZw/cb=gapi.loaded_0:117

We contact with

[2020-01-23 10:35] khouloudbelguith commented on #17312
@mathieuhen,
About this error:
`Frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart` in the logs page => it is different => issue reported here: https://github.com/PrestaShop/PrestaShop/issues/9866

What is the exact version of the ps_wirepayment module did you use?

Thanks!

[2020-01-23 10:40] superskyman100 opened #17317 "[Improvement] Display all thumbnails for all combinations, only the main image is changed when selecting a combination"
**Improvement**: I need to show all variations images on the product page FO.
When the customer changes the combination, only the main image is changed.

There is a solution provided here: https://www.prestashop.com/forums/topic/963580-showing-thumbnails-for-all-combinations/

**Describe the bug**

BIG problem to correctly associate product color combinations with pictures without ruining customer

[2020-01-23 10:41] khouloudbelguith commented on #17316
Hi @Madstudiobcn,

I did not manage to reproduce the issue with PS1.7.6.2 & ps_facetedsearch v3.4.1.
I attached a screen record
https://drive.google.com/file/d/1_EsjhbwMiacqhVxqxYSL8_Ss6bhDLfBV/view
Could you please try to re-install the module by removing the old module during the uninstall & try to configure it by editing the template & rebuilding the entire price index & building attributes & f

[2020-01-23 10:45] weddingtextile opened #17318 "The table ps_layered_filter_block is growing fast"
**Describe the bug**
The table ps_layered_filter_block is growing fast (100-200 megabytes per day).
I have to clean the table every day.
This happened after updating PrestaShop from 1.7.4.3 to 1.7.6.2.

**Additional information**
PrestaShop version: 1.7.6.2
PHP version: 5.6.38
MySQL version: 5.7.13-6-log
Faceted search version: 3.4.1

[2020-01-23 10:49] khouloudbelguith commented on #17317
Hi @superskyman100,

Thanks for your report.
I think your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/12241
Which fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/15748 in the next version PS1.7.7.0.

Thanks to check & feedback.

[2020-01-23 10:57] krasnycz opened #17320 "Languages and localization unaccessible due to filter_id"
I have an issue after upgrade from 1.7.5.0 multistore to 1.7.6.2/3. Whole update goes fine however I am unable to access Languages and Languages in Localization. I get the following error:

An exception occurred while executing 'SELECT t0.id AS id_1, t0.employee AS employee_2, t0.shop AS shop_3, t0.controller AS controller_4, t0.action AS action_5, t0.filter AS filter_6, t0.filter_id AS filter_id_

[2020-01-23 10:59] khouloudbelguith commented on #17289
@TaccCZ, but in my case, I did not manage to reproduce the issue with PS1.7.6.3 after an upgrade from PS1.7.6.2 using the 1-click upgrade v4.10.1.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/16852 added to PS1.7.6.3 & modifying `themes/core.js`.

Thanks!

[2020-01-23 11:03] khouloudbelguith commented on #17320
Hi @krasnycz,

Thanks for your report.
This issue was fixed in the last version PS1.7.6.1 with this PR: https://github.com/PrestaShop/PrestaShop/pull/14620 as reported here: https://github.com/PrestaShop/PrestaShop/issues/14617
Here's a provisional solution:

`ALTER TABLE `ps_admin_filter` ADD `filter_id` INT NOT NULL ;`

I will close this issue as a duplicate of https://github.com/PrestaShop/Pres

[2020-01-23 11:07] TaccCZ commented on #17289
@khouloudbelguith
Thanks for the answer, I don't know what caused it. Maybe he is testing on a small sample of data. I have 4 types of combinations, you tested on 2 types (basic + color combinations).

But the error must be in core.js, since the older version of PS everything works normally.

Thank you

[2020-01-23 11:08] krasnycz commented on #17320
This seems to fix the currencies page. However languages still gives:

An exception occurred while executing 'SELECT l.* FROM ps_lang l ORDER BY id_currency asc LIMIT 50 OFFSET 0':

SQLSTATE[42S22]: Column not found: 1054 Unknown column 'id_currency' in 'order clause'

[2020-01-23 11:09] didi-2018 commented on #17310
@khouloudbelguith  thanks for your answer. I used Version 4.10.1
![image](https://user-images.githubusercontent.com/44971218/72979439-9cbbb900-3dd8-11ea-9d8e-3d82328e8e65.png)

I insert column "filter_id" but now I get the following issue:

![image](https://user-images.githubusercontent.com/44971218/72979626-09cf4e80-3dd9-11ea-8d6c-a8a521662ebb.png)
![image](https://user-images.githubusercontent.c

[2020-01-23 11:09] khouloudbelguith commented on #17289
Ping @NeOMakinG what do you think?
This PR: https://github.com/PrestaShop/PrestaShop/pull/16852 is related to this issue reported by the @TaccCZ.

PS: in my case => OK.

Thanks!

[2020-01-23 11:12] JorgeNogueiraLFMPro opened #17321 "Error 403 - Zendesk"
Hi,

We are having trouble saving the Zendesk module settings. We have already spoken with the developers of the module which they say the problem is not theirs but the Prestashop's. Can you see what's going on?

I put all the data from the Zendesk account and when I save it, the following error appears:

Steps to reproduce the behavior:
1. Go to 'modules/zendesk'
2. Click on 'configuration'
3. Co

[2020-01-23 11:16] khouloudbelguith commented on #17310
@didi-2018, you have an override causing this issue
![image](https://user-images.githubusercontent.com/16067358/72980091-186a3580-3dda-11ea-9ac4-6c9b9ade710b.png)

It is not a PrestaShop issue, please contact the module author which installs this override.

Thanks to check & feedback.

[2020-01-23 11:18] khouloudbelguith commented on #17320
@krasnycz, thanks to provide a screenshot from the table ps_cuurency & ps_currency_lang.
PS: in my case, I did not manage to reproduce the issue with PS1.7.6.3 after an upgrade from PS1.7.5.1 using the 1-click upgrade v4.10.1.
https://drive.google.com/file/d/1JutVHUjSHft-WUuqW4ZOTuSFzok3lE9l/view
Thanks!

[2020-01-23 11:18] didi-2018 commented on #17310
![image](https://user-images.githubusercontent.com/44971218/72980073-1011fa80-3dda-11ea-89a3-0c3aa813bd5e.png)
![image](https://user-images.githubusercontent.com/44971218/72980115-2c159c00-3dda-11ea-8510-dfc76a76d31f.png)

![image](https://user-images.githubusercontent.com/44971218/72980158-523b3c00-3dda-11ea-93a4-acf4228bdbd4.png)
![image](https://user-images.githubusercontent.com/44971218/729802

[2020-01-23 11:21] didi-2018 commented on #17310
I added this mail.php a long time ago. This is a tipp from prestashop forum to get all mails as a copy.

[2020-01-23 11:21] khouloudbelguith commented on #17310
@didi-2018, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

PS: in my case, I did not manage to reproduce the issue with PS1.7.6.3 after an upgrade from PS1.7.5.1 using the 1-click upgrade v4.10.1.
https://drive.google.com/file/d/1JutVHUjSHft-WUuqW4ZOTuSFzok3lE9l/view

You need to edit this file, it is c

[2020-01-23 11:22] krasnycz commented on #17320
The strange is that in the https://github.com/PrestaShop/PrestaShop/blob/1.7.6.3/install-dev/data/db_structure.sql there is no "CREATE TABLE for PREFIX_lang.

ps_lang https://nimb.ws/0L6yNX
ps_currency https://nimb.ws/CMnTWV
ps_currency_lang https://nimb.ws/r1hVGi

[2020-01-23 11:23] didi-2018 commented on #17310
@khouloudbelguith  you will find the log in my first message called "log.txt"

[2020-01-23 11:26] khouloudbelguith commented on #17320
@krasnycz, symbols of the second & the third currencies are missing in all languages
![image](https://user-images.githubusercontent.com/16067358/72980795-8ebb6780-3ddb-11ea-8604-b5497b25a4b5.png)

Thanks to edit this table `ps_currency_lang` & add all symbols.

Thanks to check & feedback.

[2020-01-23 11:28] khouloudbelguith commented on #17321
Hi @JorgeNogueiraLFMPro,

As it's a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com [account](https://addons.prestashop.com/fr/contactez-nous?id_product=23617), they are the only ones to help you with it.
Thanks!

[2020-01-23 11:28] #17321 closed, assigned to nobody

[2020-01-23 11:34] gennaris commented on #14354
FYI - I also found this hook **actionObjectStockUpdateAfter** in ps_hook table,
but it looks like is never executed in core source code.

I am not sure if it is a 1.6 leftover (because of removed ASM) or something new ?

[2020-01-23 11:34] khouloudbelguith commented on #17310
@didi-2018,  thanks to provide a screenshot from the table ps_cuurency & ps_currency_lang.

Thanks!

[2020-01-23 11:36] khouloudbelguith commented on #17318
Hi @weddingtextile,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-01-23 11:42] khouloudbelguith commented on #17148
@markopolo2002, could you please provide me a screenshot from the `structure` of your table `ps_customer`

![image](https://user-images.githubusercontent.com/16067358/72981713-bf9c9c00-3ddd-11ea-8128-bbac00342f0a.png)

Thanks!

[2020-01-23 11:44] didi-2018 commented on #17310
@khouloudbelguith
![image](https://user-images.githubusercontent.com/44971218/72981801-f83c7580-3ddd-11ea-8916-2a694aa53766.png)

![image](https://user-images.githubusercontent.com/44971218/72981842-0ab6af00-3dde-11ea-87fd-43b807bbfa7c.png)

[2020-01-23 11:48] khouloudbelguith commented on #17310
@didi-2018, as you can see in this screenshot
![image](https://user-images.githubusercontent.com/16067358/72982027-6ed97300-3dde-11ea-9b88-9e02ae2bbae9.png)
symbols & names of all currencies are missing in the first language (id_lang=1).
Thanks to edit this table `ps_currency_lang` & edit those missings.

Thanks to check & feedback.

[2020-01-23 11:51] markopolo2002 commented on #17148
As requested, looks pretty similar :)
![ps_customer_structure](https://user-images.githubusercontent.com/59839150/72982304-aba16c00-3dd6-11ea-8ba2-67c7e369f57f.PNG)

[2020-01-23 11:57] didi-2018 commented on #17310
@khouloudbelguith  nothing happens.
![image](https://user-images.githubusercontent.com/44971218/72982684-ee1b7680-3ddf-11ea-832b-a10e13805b85.png)

categories:
![image](https://user-images.githubusercontent.com/44971218/72982412-4c942500-3ddf-11ea-99ab-5113f9be817c.png)

brands & suppliers:
![image](https://user-images.githubusercontent.com/44971218/72982442-62094f00-3ddf-11ea-8009-5fc0911e8d3b.pn

[2020-01-23 11:58] khouloudbelguith commented on #17148
@markopolo2002, did you use any custom module to create an account or signing in?
Thanks to check if you have some overrides, they could be not compatible with PS1.7.6.2.

Thanks!

[2020-01-23 11:58] krasnycz commented on #17320
Well I tried it before. Now again. It did not help.

[2020-01-23 12:04] markopolo2002 commented on #17148
As far as I am aware, we have never used any additional means of creating or logging into an account at all, we've always left the registration and sign in process as it came by default, as for overrides, I believe we've always had these disabled, and even then I wouldn't be 100% sure how or when to use overrides in any event.

[2020-01-23 12:06] didi-2018 commented on #17310
@khouloudbelguith  this I found in table admin_filter:

![image](https://user-images.githubusercontent.com/44971218/72983241-1c4d8600-3de1-11ea-9dd1-5f5701a4755d.png)

[2020-01-23 12:08] khouloudbelguith commented on #17320
@krasnycz, thanks to navigate to the BO => International => Translations => update all your languges.
![image](https://user-images.githubusercontent.com/16067358/72983375-6c2c4d00-3de1-11ea-860c-c2bb38e716ca.png)

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2020-01-23 12:08] khouloudbelguith commented on #17310
@didi-2018, thanks to navigate to the BO => International => Translations => update all your languges.
![image](https://user-images.githubusercontent.com/16067358/72983375-6c2c4d00-3de1-11ea-860c-c2bb38e716ca.png)

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2020-01-23 12:09] khouloudbelguith commented on #17148
@markopolo2002,

Did you disable the overrides from the BO => Advanced Parameters => Performance page?
![image](https://user-images.githubusercontent.com/16067358/72983439-91b95680-3de1-11ea-98c9-b915f5593025.png)

Thanks!

[2020-01-23 12:12] markopolo2002 commented on #17148
Yes, but I can't be sure when we disabled them if they come enabled by default, but this would have been long before the upgrade as when we went to disable them before updating on the advice given in the prestashop forums, we noticed they were already disabled and would likely have done this some time ago, as I say we have no reason to use these or a great deal of understanding what they would be

[2020-01-23 12:14] khouloudbelguith commented on #14479
@01park, It is ok with PS1.7.6.3
https://drive.google.com/file/d/1PprJWQh-L55hxc65DM0NsjtV2YEVCcAF/view

Thanks!

[2020-01-23 12:18] khouloudbelguith commented on #17148
@markopolo2002, the `Disable override button not working` is not working in PrestaShop as reported here: https://github.com/PrestaShop/PrestaShop/issues/14596
So, please check if you have any override manually in all folders: https://github.com/PrestaShop/PrestaShop/tree/develop/override

Thanks!

[2020-01-23 12:21] krasnycz commented on #17320
All languages updated. Cache cleared manually. Same result.

See complete error at https://nimb.ws/0jXtJk

Where can I see PREFIX_lang table structure? It is not included in the sql file.

[2020-01-23 12:22] Hlavtox commented on #16840
@PrestaShop/prestashop-core-developers Any update? Or am I missing something?

[2020-01-23 12:22] didi-2018 commented on #17310
@khouloudbelguith  languages are updated and var/cache/prod and var/cache/dev are deleted but nothing happens. still no access

[2020-01-23 12:23] markopolo2002 commented on #17148
As I say, I'm not familiar with what overrides are or what they are used for therefore I'm not entirely sure what it is I'm looking for, would it be easier for me to list what I find in those folders?
Thanks

[2020-01-23 12:24] Hlavtox commented on #16628
@matks Hi, it could work, but wouldn't look too nice if the left column is longer than the category content.

There was this hook in 1.6, I think it wouldn't hurt to add it back...

[2020-01-23 12:27] Gaja-A opened #17324 "error in translation when using a theme other than classic in Prestashop 1.7.6.0"
Hi,

I use the Prestashop 1.7.6.0 and custom theme. I have a problem with the back office translations on my site which is in multiboutique. The translation is not working for my custom theme (i.e., not classic).

I saw the old ticket (https://github.com/PrestaShop/PrestaShop/pull/14962) and with the help of this, I had also checked my code where everything seems to be normal but still I can't edi

[2020-01-23 12:32] markopolo2002 commented on #17148
Additionally, I upgraded directly to 1.7.6.2, is that bug still relevant for that version?

[2020-01-23 12:46] didi-2018 commented on #17310
@khouloudbelguith  what do you think should I do a new update and deinstall autoupgrade module first and install new before upgrade?

[2020-01-23 12:58] mvorisek commented on #12461
Before PrestaShop 1.7.7.0 is released, make sure, all dependencies incl. dev were tested against PHP 7.3. And add this issue to the 1.7.7.0 milestone.

[2020-01-23 13:14] markopolo2002 commented on #17148
OK, still not entirely sure if its relevant, but I went through the list at https://github.com/PrestaShop/PrestaShop/tree/develop/override and compared them to our own folder structure and note that we have the following additional files present:
override/classes/customer.php
override/classes/dispatcher.php
override/classes/link.php
override/classes/validate.php
override/classes/controller/FrontCo

[2020-01-23 13:19] markopolo2002 commented on #17148
AND lo and behold, editing override/classes/customer.php was showing:

edited 32=>60 and log in successful !!

[2020-01-23 13:20] arkadiusz-kozub opened #17327 "ps_emailalerts has problems with same products and different customizations"
When client orders same product (same id and attribute_id) couple of times, but each time provides different customization, module ps_emailalerts combine all customizations and puts it to each posision in {items} table. It looks like that:

![image](https://user-images.githubusercontent.com/60222171/72987039-d648f000-3de9-11ea-9976-4b168b0b3d5b.png)

I know - it's different language, but i think i

[2020-01-23 13:24] khouloudbelguith commented on #17148
@markopolo2002, Great!
It is not a Prestashop issue, I will close the ticket, feel free to open a new one when needed.

Thanks!

[2020-01-23 13:24] #17148 closed, assigned to nobody

[2020-01-23 13:31] khouloudbelguith commented on #17327
Hi @arkadiusz-kozub,

We are aware of this issue, it is added to our debug roadmap.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Your ticket is a duplicate of #16551.
So, I close it.
Thanks!

[2020-01-23 13:31] #17327 closed, assigned to nobody

[2020-01-23 13:31] khouloudbelguith commented on #17327
Duplicate of #16551.

[2020-01-23 13:42] khouloudbelguith commented on #17324
Hi @Gaja-A,

Your issue is fixed with PS1.7.6.1 with this PR: https://github.com/PrestaShop/PrestaShop/pull/14962
Your ticket is a duplicate of #14733
So, I close it.
Thanks !

[2020-01-23 13:42] khouloudbelguith commented on #17324
Duplicate of #14733

[2020-01-23 13:45] khouloudbelguith commented on #17320
@krasnycz, thanks to edit those currencies EUR & PLN in the `ps_currency` table.
![image](https://user-images.githubusercontent.com/16067358/72989629-ed3e1100-3dee-11ea-8331-d59259c64077.png)

Thanks!

[2020-01-23 13:46] khouloudbelguith commented on #17310
@didi-2018, As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.

Thanks!

[2020-01-23 13:48] matks commented on #17321
There might be an issue in PrestaShop code, however
- we have no access to the Zendesk module, so we cannot test it
- "they say it's an issue in prestashop" is very vague and very unclear
- module developers are supposed to create modules that work with prestashop 😅 how come they build and sell something that does not work ? it's very strange to say that (maybe they mean something customized into

[2020-01-23 13:52] didi-2018 commented on #17310
@khouloudbelguith  so you do not have any idea what causes the errors? I always make updates on a fresh shopcopy.

I have just done a new upgrade with deinstall autoupgrade and install fresh and upgrade stopped at upgrading presta modules and logged me out. After login the same problems as before. No column "filter_id" insert and all the rest

[2020-01-23 13:56] khouloudbelguith commented on #17310
@didi-2018, in my case, I did not manage to reproduce the issue, but it could be the problem related to some overrides added in your case or some custom module.

Thanks!

[2020-01-23 13:57] leup commented on #17309
Thanks @khouloudbelguith you did a way better issue report than mine !

For the record, we have fixed the issue on our part by overriding the Cart class but by hardcoding the separator so... not a great way to do it.

I would gladly make a pull request to fix this, but I am not sure what would be the correct way to deal with this issue.

Check if the separator is a dash and add an extra space befo

[2020-01-23 14:36] krasnycz commented on #17320
I tried to to add currency symbols and laos iso code and change precision prior opening this ticket. I tried it again now but it did not help :(

Same error persists.

[2020-01-23 14:49] didi-2018 commented on #17310
@khouloudbelguith  all not-presta-modules are disabled before update, all overrides are disabled, Mail.php is deleted.

Now "id_log" is not found

![image](https://user-images.githubusercontent.com/44971218/72994635-bcaea500-3df7-11ea-99ad-0ce427fc3667.png)

[2020-01-23 14:49] jf-viguier commented on #13252
I've suggested a pr, discussion here https://github.com/PrestaShop/PrestaShop/pull/17322

[2020-01-23 14:57] Madstudiobcn commented on #17316
Hi @khouloudbelguith,
thanks for your answer, I already did that, I uninstall the module and downloaded the last one, created a new template for search, clean faceted cache, and also clean the prestashop cache.

I am share this screen record to illustrate the problem, in the video you can see that the result page not load, well you can leave this 24h, is endless.
The results link if you copy and p

[2020-01-23 15:01] mathieuhen commented on #17312
Ok, the error

is not the same issue.
But it seems not resolved ?

We use the last version of the ps_wirepayment module : v2.0.4.

[2020-01-23 15:03] khouloudbelguith commented on #17310
@didi-2018,

Those options are disabled from the BO => Advanced Parameters => Performance page?
![image](https://user-images.githubusercontent.com/16067358/72995854-e963bc00-3df9-11ea-9e34-ccf1561544e1.png)

Thanks!

[2020-01-23 15:04] didi-2018 commented on #17310
@khouloudbelguith  YES excactly!

[2020-01-23 15:09] khouloudbelguith commented on #17320
@krasnycz, could you please try to navigate to the BO => International => Localization page => import the:

- Czech republic pack
- Poland pack
- Germany pack
- Slovakia pack

![image](https://user-images.githubusercontent.com/16067358/72996219-a1916480-3dfa-11ea-9878-140a13887184.png)

Thanks!

[2020-01-23 15:12] khouloudbelguith commented on #17310
@didi-2018, The options do not work in the PS1.7.6
as reported here:
https://github.com/PrestaShop/PrestaShop/issues/14596
https://github.com/PrestaShop/PrestaShop/issues/9965
So, please check if you have any override manually in all folders: https://github.com/PrestaShop/PrestaShop/tree/develop/override

Thanks!

[2020-01-23 15:14] khouloudbelguith commented on #17312
@mathieuhen,

Yes, not resolved yet.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-01-23 15:14] t3nd0 commented on #9866
Hi @cedricfontaine did you find any solution? I have the same problem during an order purchasing via Atos Worldline payment method. Order is created with status "Paiement accepté", a confirm email is correctly sent but customer get an error notice on his confirm/recap page, because of $params['order']->valid = 0.

[2020-01-23 15:15] khouloudbelguith commented on #17316
@Madstudiobcn, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-01-23 15:28] didi-2018 commented on #17310
@khouloudbelguith  all override files removed and all third party modules manually deactiveted and still the same.

SQLSTATE[42S22]: Column not found: 1054 Unknown column 'id_log' in 'order clause'
 what does it mean?

[2020-01-23 15:36] didi-2018 commented on #17310
@khouloudbelguith what I saw before a few days is there are no more numbers shown for modules that should be updated. notification_counter does not work anymore in my 1.7.5.1 and after update a module there appears everytime the presta notice:

![image](https://user-images.githubusercontent.com/44971218/72998544-4c575200-3dfe-11ea-97d7-71ad15089902.png)

but module are updated. This a have since a

[2020-01-23 15:40] khouloudbelguith commented on #17310
@didi-2018, your upgrade was stopped when upgrading PrestaShop modules.
It could be related to this issue.

Did you make any changes before this? did you install any modules?

Thanks!

[2020-01-23 15:49] didi-2018 commented on #17310
@khouloudbelguith in the mean time a maked new update and it does not stop.

I installed a module for a video tab in FO and one for alt tags. But if I disable them, the problem is still there. And I always do a lot in my shop. I can not say it happened with installing something. One day it was like now is.

[2020-01-23 15:50] 01park commented on #14479
I updated to 1.7.6.3 on both stores, but made no difference.

Is there any server settings that has to be active for this to work?

[2020-01-23 16:03] Gaja-A commented on #17324
Hi @khouloudbelguith,

I tried the steps and commits mentioned in those tickets but nothing works for me ? I still have the error.

Thanks !

[2020-01-23 16:03] khouloudbelguith commented on #17310
@didi-2018, did you delete any currency before?
Your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/17185

Thanks!

[2020-01-23 16:10] khouloudbelguith commented on #17324
@Gaja-A,

with PS1.7.6.0, we cannot translate a Back office or modules when using a theme other than classic
#15133 fixed with this PR: #15139
#14733 fixed with PR: #14962

They are fixed in the PrestaShop v1.7.6.1.
Thanks!

[2020-01-23 16:10] khouloudbelguith commented on #14479
@01park, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-01-23 16:10] krasnycz commented on #17320
Same results :(

[2020-01-23 16:12] didi-2018 commented on #17310
@khouloudbelguith  no I did not delete any currency. You can look at the database screenshot I have sent you today. Only three currencies and all are active.

[2020-01-23 16:15] khouloudbelguith commented on #17310
@didi-2018, multistore is enabled?

Thanks!

[2020-01-23 16:16] khouloudbelguith commented on #17320
@krasnycz, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2020-01-23 16:18] krasnycz commented on #17320
[log.txt](https://github.com/PrestaShop/PrestaShop/files/4104047/log.txt)

Can you tell me what is correct ps_lang db structure?

[2020-01-23 16:18] ddevigne opened #17332 "Emails sent in reverse order"
**Describe the bug**
In my module, in `hookActionOrderHistoryAddAfter()`, when the current status is `payment accepted`, I need to change it to a custom status (`license generated`) by calling `OrderHistory::addWithemail()`.
When I do so, the status history is correct (in right order) but the emails associated to each of these statuses are sent in reverse order.

This is due to a core issue:
`Orde

[2020-01-23 16:20] khouloudbelguith commented on #17332
Hi @ddevigne,

Could you please provide me your custom module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2020-01-23 16:22] DonGyno commented on #14643
Hi,
I had the same problem but I found the cause simply. The problem appears when there are no commands in the database (deletion of test data). When adding an order, the problem does not appear.

Prestashop developers, it would be good to check if the variable is well initialized and it is not null before generating a template!

Thanks

[2020-01-23 16:33] Progi1984 commented on #12461
@mvorisek During the Feature Freeze, our QA Team will check support PHP 7.1, 7.2 & 7.3.

Milestone added.

[2020-01-23 16:34] Progi1984 commented on #12461
Merged in #13761

[2020-01-23 16:34] #12461 closed, assigned to PierreRambaud

[2020-01-23 16:36] didi-2018 commented on #17310
@khouloudbelguith no I do not use multistore

[2020-01-23 16:41] khouloudbelguith commented on #14643
Hi @DonGyno,

It is Ok after deleting all orders with the module psclean.
https://drive.google.com/file/d/1CvZ1AicPruGiJJa_QS-UCcbwsNN-n3PQ/view

Thanks!

[2020-01-23 16:42] khouloudbelguith commented on #17310
@didi-2018, Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-01-23 16:42] #17310 closed, assigned to nobody

[2020-01-23 16:44] khouloudbelguith commented on #17320
@krasnycz, the structure of `ps_lang`
![image](https://user-images.githubusercontent.com/16067358/73004633-f25b8a00-3e07-11ea-865b-9a9106d93dc5.png)

Thanks!

[2020-01-23 17:16] cedricfontaine opened #17333 "Free shipping voucher changes taxes total on product"
We created a voucher for free shipping (with no coupon code) after a specific amount.
Our store is displaying all the prices tax excluded (in Canada).
Order total and total paid is correct, but on the invoice, tax breakdown is wrong.

In order->getProductTaxesDetails method, it will split the total_shipping_tax_excl from all the product unit price to calculate the tax breakdown. And will try to re

[2020-01-23 17:52] F3D0RAM opened #17335 "Webservice - Trying to get property of non-object - StockManager.php"
When I make a change in an order via webservice by means of a put request, the server offers error 500 with the following log:

[PHP Notice #8] Trying to get property of non-object (/..../classes/stock/StockManager.php, line 1107)\nPHP message:
[PHP Notice #8] Trying to get property of non-object (/..../classes/stock/StockManager.php, line 1110)\nPHP message:
[PHP Notice #8] Trying to get property

[2020-01-23 17:52] sabueXo commented on #17237
Hi, any info about this?

Thanks!

[2020-01-23 18:10] maofree commented on #17259
hi
I've done some tests and to solve this problem it is necessary to remove the count(..)

[2020-01-23 18:22] itsmillertime65 commented on #12501
@marionf I see that this was removed from In progress, so does this mean it will be fixed in 1.7.7? Any way I can get this code and manually fix it for our PrestaShop site earlier? We have received many emails from customers saying they have not been able to find certain flavors of our products via search. These flavors are set up as combinations of a product and with the cover image not changing

[2020-01-23 18:58] Maofree opened #17336 "ps_emailalerts error on the installation phase, wrong iso mail folder"
Hi
I get a problem with a site that I manage
when I install the ps_emailalerts module inside its mails folder, there is "en" folder, but should be "it"
it is strange because there is only one language
it happens only in this site, the other are ok

thanks

Steps to reproduce the issue
1. Fresh install PS with Italian language & Italy country
2. Install the ps_emailalerts module
3. Check the folder

[2020-01-23 19:18] SharakPL commented on #11155
@PrestaShark it's not the reason for this. You import database through phpmyadmin? From first page (top level, out of any database) you have access to Variables tab. There you should find variable `init_connect` if its value is `set names utf8` or empty (then it depends on other variables) then you can import your sql file properly, but if its value is for example `set names latin1` then you'll ha

[2020-01-23 22:00] rmilecki commented on #13838
I can reproduce this exception using 1.7.6.2 release with "Debug mode" enabled. Line number is just a bit different there:
[code]
That points to the following code:
[code]
"Debug mode" is required in my case as it seems to enable `E_NOTICE` errors reporting.

The problem is that `$val['id_order_state']` is `NULL`. It results in above code looking like:
[code]
which causes `Notice:  Undefined index

[2020-01-23 22:44] rmilecki commented on #13838
This bug has been partially fixed by the commit 9c9dac676283 ("Fix DuplicateOrderCartHandler context needs customer, add behat tests, improve exception message display in dev mode"). That change adds:
[code]
which may result in slightly better:
[code]
That works well with PHP up to 7.3 but not with PHP 7.4. It's because PHP 7.4 doesn't allow things like `null['foo']` anymore:
[code]

[2020-01-23 23:25] Daaaaad commented on #17315
My bad @khouloudbelguith, sorry... I was mistaken:

On FO when you choose a combination, the URL change and contains the chosen combination ID. That was the reason why I could not see default attribute change.

Have a great weekend! ;)

[2020-01-23 23:35] demeldoo commented on #17265
yes, seems to work this way

On Wed, 22 Jan 2020 at 15:32, khouloudbelguith <notifications@github.com>
wrote:

[2020-01-24 06:24] superskyman100 commented on #17317
Hello,

I've tried the code it's not working as expected, the thumbnails on product page are only showing the product associated to the color, and not all the variations. The problem is that Prestashop is only showing up the images associates to the selected combinations.

It's not good for the customer experience, cause the customer cannot DIRECTLY/IMMEDIATELY see ALL the variations images on the

[2020-01-24 08:33] khouloudbelguith commented on #17333
Hi @cedricfontaine,

I followed these steps:
1. Create Tax1=20% & Tax2=10%
2. Create a tax rule one after another with Tax1 & Tax2
3. Create a cart rule with free shipping with Minimum amount  =12 Tax included
4. Create a product with this Tax rule created (Tax excluded = 20 euro => Tax included = 26.4 Euro)
5. Go to to the the BO => Orders => Invoices => Enable "tax breakdown"
6. Go to the FO =>

[2020-01-24 08:52] khouloudbelguith commented on #17336
Hi @maofree,

I did not manage to reproduce the issue with PS1.7.6.3 (Czech language) & ps_emailalerts v2.1.1.
I attached a screen record
https://drive.google.com/file/d/1Xkvq7zJRTJdY9GEfUQlXbz0lUkbCa0Mq/view
Did you installed your module from the Module Catalog page?

Thanks!

[2020-01-24 09:12] khouloudbelguith commented on #17335
Hi @F3D0RAM,

I did not manage to reproduce the issue with PS1.7.6.3
https://drive.google.com/file/d/1e8QRA8WQoPkrDI9_KgdR0MrnrTqDaHX-/view
I used this script
[code]

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

[2020-01-24 09:12] #17335 closed, assigned to nobody

[2020-01-24 09:19] #16584 closed, assigned to nobody

[2020-01-24 09:26] ghost opened #17338 "Upgrade should not enable disabled modules"
1) Install Prestashop
2) Disable any FO module (ex. blockreassurance)
3) Make PS upgrade
4) Disabled module is enabled in FO...

Thanks!

[2020-01-24 09:35] khouloudbelguith commented on #17317
@superskyman100, so you need to show all variations images on the product page.
When the customer changes the combination, only the main image is changed.

Ping @PrestaShop/prestashop-product-team what do you think of this improvement? or `reorder images for a product combination` could be a solution also.

Thanks!

[2020-01-24 09:43] khouloudbelguith commented on #17265
@demeldoo, Great!
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-24 09:43] #17265 closed, assigned to nobody

[2020-01-24 09:50] khouloudbelguith commented on #17237
Ping @v4lux friendly reminder :)

[2020-01-24 09:56] khouloudbelguith commented on #17259
Hi @maofree,

Also, Here's the PR: PrestaShop/ps_emailalerts#18 to fix the issue.
Your ticket is a duplicate of PrestaShop/ps_emailalerts#16
So, I close it.
Thanks!

[2020-01-24 09:56] #17259 closed, assigned to nobody

[2020-01-24 09:56] khouloudbelguith commented on #17259
Duplicate of https://github.com/PrestaShop/ps_emailalerts/pull/18

[2020-01-24 09:57] maofree commented on #17336
hi
yes I did it from Module Catalog page

[2020-01-24 10:04] rdy4ever commented on #17338
Hi @PrestaShark
I remember I had this issue a while back, and it turned out it wasn't the upgrade itself doing this but the theme. After upgradade, the theme configuration file (theme.yml) is reapplied. If those modules are listed in `modules_to_hook` section, then they are reenabled. This is, of course a bug - because only modules listed in `to_enable` should be enabled - but I remember I traced

[2020-01-24 10:05] Gaja-A commented on #17324
Hi @khouloudbelguith,

Infact, we already have the same code as like in the ticket https://github.com/PrestaShop/PrestaShop/pull/14962 but it doesn't works. So I tried to do with https://github.com/PrestaShop/PrestaShop/pull/15139, where I modified all the files as mentioned in that ticket but still have the same error ?

Thanks !

[2020-01-24 10:09] NereoEgeo opened #17339 "Reorder Product from previous order when not available"
Hello,

in the 1.7.6.1 PS version, when I was trying to reorder a product from a previous order in my account menu, if the product was not more available (Behavior when out of stock Deny orders), Prestashop showed the available products in the cart and for that one not more available you would get a notice.
Now, in the 1.7.6.2 if I try to do the same, Prestashop sends you directly in the home page

[2020-01-24 10:13] superskyman100 commented on #17317
Yes. That's the state of art.
That's very weird no one ever reported this problem on PS 1.7...

[2020-01-24 10:17] khouloudbelguith commented on #17339
Hi @NereoEgeo,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9660
So, I close it.
Thanks !

[2020-01-24 10:17] #17339 closed, assigned to nobody

[2020-01-24 10:18] khouloudbelguith commented on #17339
Duplicate of #9660

[2020-01-24 10:19] eternoendless commented on #17256
So I went ahead and created a PR to remove them 😉

[2020-01-24 10:25] eternoendless commented on #17298
Done!

[2020-01-24 10:25] #17298 closed, assigned to eternoendless

[2020-01-24 10:27] eternoendless commented on #17298
For information:

- The `master` branch hasn't been used for years (the default branch for this repo is `develop`)
- The `1.6.1.x` branch is now obsolete because of https://github.com/PrestaShop/PrestaShop-1.6

[2020-01-24 10:31] khouloudbelguith commented on #17338
Hi @PrestaShark, @rdy4ever,

I did not manage to reproduce the issue with PS1.7.6.3 after an upgrade from PS1.7.6.2 using the 1-click upgrade v4.10.1.
I attached a screen record
https://drive.google.com/file/d/1PIAV9l-FPLr3QN_kZxr5vG58J5H_IjRN/view
Thanks to check & feedback.

Related to: https://github.com/PrestaShop/PrestaShop/issues/11873

[2020-01-24 10:39] khouloudbelguith commented on #17336
@maofree, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.3 & ps_emailalerts v2.1.1.
Steps to reproduce the issue
1. Fresh install PS with Italian language & Italy country
2. Install the ps_emailalerts module
3. Check the folder /Project_Folder/modules/ps_emailalerts/mails => `it` folder exists => OK
4. Uninstall the ps_emailalerts module with removing the folder
5. C

[2020-01-24 10:42] khouloudbelguith commented on #17315
@Daaaaad, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-24 10:42] #17315 closed, assigned to nobody

[2020-01-24 10:47] Fixmetal commented on #16995
I think we have ~12000 products. Numbers are big but not that big.
Thanks

[2020-01-24 10:50] khouloudbelguith commented on #16995
@Fixmetal, thanks to check if this PR: https://github.com/PrestaShop/gsitemap/pull/127 is fixing your issue?

Thanks!

[2020-01-24 10:50] NereoEgeo commented on #17339
thank you and sorry for the duplicate

[2020-01-24 10:51] julycmoi opened #17341 "birthday date to 'xx-xx-0000' erreur 500"
**Describe the bug**
if a customer create one account and change the birthday date to 'xx-xx-0000', th account is validate but when he want go to "account> informations " he have a error "500 Server Error" and he can't do an order (he can't go to url :/commande => "500 Server Error" )

if a customer change his birthday date in the account>information page with this value ('xx-xx-0000') he have the

[2020-01-24 10:58] Fixmetal commented on #16995
I may be wrong but it seems to me that #127 is merged in dev branch only...or am I misreading this?

[2020-01-24 11:02] khouloudbelguith commented on #16995
@Fixmetal, not this PR: https://github.com/PrestaShop/PrestaShop/pull/127
You need to check this one: https://github.com/PrestaShop/gsitemap/pull/127, it is a fix into the gsitemap module, only one file changed: https://github.com/PrestaShop/gsitemap/pull/127/files

Thanks!

[2020-01-24 11:08] khouloudbelguith commented on #17341
Hi @julycmoi,
Thanks for your report.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2.
https://drive.google.com/file/d/1kdzb13_fQghM70B7C7RWG8UMZRPfrwNV/view
![image](https://user-images.githubusercontent.com/16067358/73064719-24b9c580-3ea2-11ea-8755-60dd5366a0ab.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can

[2020-01-24 11:16] khouloudbelguith commented on #17324
@Gaja-A, I did not manage to reproduce the issue with PS1.7.6.3 & PS1.7.6.1.
It is fixed.
I attached a screen record
https://drive.google.com/file/d/16riTYgpDjHNNDYSlqb8E374VncdTdEmh/view
Thanks!

[2020-01-24 11:17] sarahdib commented on #17024
@MatShir I think it's necessary because when the change is applied if the default setting is a , and you change it to . it's not very visible that the default setting was restore.

[2020-01-24 11:21] Matt75 commented on #17237
Better to contact PrestaShop Checkout support team https://addons.prestashop.com/contact-form.php?id_product=46347

OR  support-checkout-download@prestashop.com

[2020-01-24 11:25] khouloudbelguith commented on #17237
Hi @sabueXo,

As @Matt75 said, you should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-01-24 11:25] #17237 closed, assigned to nobody

[2020-01-24 12:23] Bredamcguigan opened #17344 "Maximum execution time of 45 seconds exceeded"
I am trying to upgrade from 1.7.4.3 to 1.7.6 using 1 click upgrade. I have tried this on other sites in the past and I always have problems. I have changed the folder permissions to those recommended. I get this error:
I have tried on many sites to get this working, I increased the max timeout on php.ini and I still get this error:
public_html/modules/autoupgrade/classes/UpgradeTools/FilesystemAda

[2020-01-24 12:42] ghost opened #17345 "Product attributes combination not working in 1.7.6.3"
Hi,
Found HUGE bug in product attribute combination... :(
Fresh install 1.7.6.3,
PHP 7.2.11,
Classic theme

**1) Setup Hummingbird printed t-shirt product as below**
![1](https://user-images.githubusercontent.com/8243273/73069739-ccd58b80-3eae-11ea-8d72-2eccf7b3b2f7.jpg)

**2) Setup - do not show unavailable product attributes on product page**

**3) Go to product and notice that black color in S

[2020-01-24 12:47] PrestaShark commented on #17317
@superskyman100 https://github.com/PrestaShop/PrestaShop/issues/17345 the same issue?

[2020-01-24 13:07] LouiseBonnard commented on #10250
UPDATE: no answer from the Arabic translating community for now, but if there is an issue for the Arabic, I suggest you check the install wizard in Persian and Hebrew as well. Both languages are right-to-left. ;-)

[2020-01-24 13:15] rmilecki opened #17346 "PaymentModule: confusing e-mails order for a new order"
**Describe the bug**
When placing an order most users (customers) expect to receive order confirmation e-mail followed by status update e-mails. PresaShop first sends e-mail about order state and then e-mail confirming is has been placed.

**To Reproduce**
Steps to reproduce the behavior:
1. Place an order in FO
2. Check received e-mails

First **expected** e-mail: `order_conf`
First **received**

[2020-01-24 13:15] rmilecki commented on #17346
Code responsible for sending e-mails for a new order can be found in `PaymentModule.php` in the `validateOrder()`. First it sends e-mail related to the order state:
[code]
and **later** it sends e-mail confirming an order:
[code]
Unfortunately I'm not experienced enough with PrestaShop code to fix it on my own.

[2020-01-24 13:17] rmilecki commented on #17346
I **think** it's not a duplicate of #17332 (unless I'm wrong) but they may be related. It may be worth to consider both issues while fixing any of them.