[2018-11-06 08:26] khouloudbelguith commented on #11274
@wgsol2018, I did not manage to reproduce your issue after upgrade from 1.7.2 to 1.7.4.3 using the 1-click upgrade 4.4.0.
Could you please try to replace the `ps_configuration_lang` table in the Database with the one from clean PS1.7.4.3 installation.
Thanks to check & feedback.

[2018-11-06 08:27] khouloudbelguith commented on #11267
@jcmy31, have you tried to contact the module author about this issue?
Thanks!

[2018-11-06 08:32] khouloudbelguith commented on #11273
Hi @mehdi-ghezal,

Thanks for your report.
@eternoendless, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2018-11-06 08:34] khouloudbelguith commented on #11234
Hi @mehdi-ghezal,

Could you please provide your config/defines_custom.inc.php file to test with it.
Thanks!

[2018-11-06 08:34] WS-NL commented on #11274
Thanks for your fast reply

We will try your solution later today and give feedback.

[2018-11-06 08:38] khouloudbelguith commented on #11271
Hi @TecnoHands,

We are aware of this issue.
It is added to our bug roadmap.
Your ticket is a duplicate of #9667
So, I close it.
Thanks!

[2018-11-06 08:38] khouloudbelguith commented on #11271
Duplicate of #9667

[2018-11-06 08:38] #11271 closed, assigned to nobody

[2018-11-06 08:42] khouloudbelguith commented on #11274
@wgsol2018, thanks!
Waiting for your feedback.

[2018-11-06 08:47] jcmy31 commented on #11267
The problem does not come from the module, I can go to the page positions, I can unregister a module, but when I click on the link to graft a new module, I can not access the same page if it is to graft a prestashop module.

[2018-11-06 08:47] AndreyOgleznev commented on #11238
@khouloudbelguith
I wouldn't say so. That's 50/50. In my PS 1.6 configuration the orders were done with the single currency and I can prove it. In your configuration that may be different if you say so.

[2018-11-06 08:48] khouloudbelguith commented on #11272
Hi @TecnoHands,

As it's not a native module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account https://addons.prestashop.com/en/contact-us?id_product=25758, they are the only ones to help you with it.
Thanks!

[2018-11-06 08:48] #11272 closed, assigned to nobody

[2018-11-06 08:50] khouloudbelguith commented on #11267
@jcmy31, could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

- Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this wi

[2018-11-06 08:52] khouloudbelguith commented on #11238
@AndreyOgleznev, because you are using only the PayPal module, have you tried to check if you have the same behavior if you use another payment method, like cash on Delivery?
Thanks!

[2018-11-06 08:54] khouloudbelguith commented on #11252
Hi @polaije,

Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to check and feedback.

[2018-11-06 08:57] AndreyOgleznev commented on #11238
@khouloudbelguith
No, I haven't. That's out of my scope.
I just want to be able to keep in my PS 1.7 what I had in PS 1.6 working fine.

[2018-11-06 09:02] khouloudbelguith commented on #9998
@agnesdennetiere, sorry not yet.
It should be specified by our developers.
Thanks!

[2018-11-06 09:04] khouloudbelguith commented on #9905
@kratekk, sorry not yet.
Thanks for your patience & your understanding!

[2018-11-06 09:16] khouloudbelguith commented on #11238
@AndreyOgleznev, in the Payment Preferences page, if you select the `Customer currency` option for Paypal, it will be ok?
![image](https://user-images.githubusercontent.com/16067358/48054204-fc667e00-e1ac-11e8-9e22-e94199b163cd.png)
Thanks to check & feedback.

[2018-11-06 09:23] AndreyOgleznev commented on #11238
@khouloudbelguith
Unfortunately not. I need the payment and the orders to be in my country currency. By adding other currencies I want to let my customers to understand easily how much the price would be in their local currency. Otherwise they have to use some currency exchange calculators in the Internet.

[2018-11-06 09:31] khouloudbelguith commented on #11238
@marionf, what do you think, is it possible to get orders were done with the single currency? ( in the FO, different currencies are enabled).
Thanks!

[2018-11-06 09:33] khouloudbelguith commented on #11250
From this [project](https://github.com/PrestaShop/PrestaShop), did you clone PrestaShop with this line command `git clone https://github.com/PrestaShop/PrestaShop.git`? or did Download it as a zip?
![image](https://user-images.githubusercontent.com/16067358/48055239-67b14f80-e1af-11e8-9b7f-73f37cc50db1.png)
Thanks!

[2018-11-06 09:38] jcmy31 commented on #11267
Thank you very much, I'm going to watch all this.

[2018-11-06 09:39] khouloudbelguith commented on #11267
@jcmy31,

Thanks!
Waiting for your feedback.

[2018-11-06 09:41] khouloudbelguith commented on #11270
Hi @RicRey1988,

This issue is assigned to our developer.
Your ticket is a duplicate of #9513
So, I close it.
Thanks!

[2018-11-06 09:41] khouloudbelguith commented on #11270
Duplicate of #9513

[2018-11-06 09:41] #11270 closed, assigned to nobody

[2018-11-06 09:45] #11141 closed, assigned to mickaelandrieu

[2018-11-06 09:57] Xaotome commented on #9651
Hi !
I have the same problem in Prestashop 1.6.1.20, the issue is also present in others TinyMCE in BackOffice.

Perhaps the problem come from autoresize plugin of TinyMCE ?

[2018-11-06 10:05] khouloudbelguith commented on #9651
Hi @Xaotome,

This issue is added to our bug roadmap.
It will be fixed in the 1.7 version.
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Thanks!

[2018-11-06 10:08] sirion89 commented on #11115
I have the same exact problem, posted it on PS forum aswell https://www.prestashop.com/forums/topic/934098-1742-duplicate-order-code/

![schermata 2018-11-06 alle 10 35 17](https://user-images.githubusercontent.com/5064007/48057382-38e9a800-e1b4-11e8-87f8-0a519211339c.png)

![schermata 2018-11-06 alle 10 35 41](https://user-images.githubusercontent.com/5064007/48057385-3e46f280-e1b4-11e8-80b2-6967

[2018-11-06 10:11] sirion89 opened #11276 "1.7.4.2 Crosseling product detail"
**Describe the bug**
Link to PS forum for BC: https://www.prestashop.com/forums/topic/934110-1742-crosseling-product-detail/

My product detail page has a crosselling product carousel, theme developers told me it's based on PS_CROSSELLING so i'm posting this here.

The issue, at least for what i could understand by testing, is that it has something to do with the template/cache.
Looks like that if

[2018-11-06 10:32] khouloudbelguith commented on #11115
Hi @sirion89,

I used also the COD payment module provided by Prestashop but I did not manage to reproduce the issue.
![image](https://user-images.githubusercontent.com/16067358/48058763-8ddaed80-e1b7-11e8-98a8-a08493ef2482.png)
Have you tried to contact the module author?
You can contact the developer of this module PayPal here: https://www.202-ecommerce.com/en/partners-modules/technical-support/

[2018-11-06 10:34] mehdi-ghezal commented on #11234
The content doesn't really matter as long as you don't put `define('_PS_MODE_DEV_', false)` in the file, the bug happen.

My configuration file

[code]

[2018-11-06 10:37] sirion89 commented on #11115
Hi @khouloudbelguith,

I actually tried more then once to test this on my local env but always failed. I didn't try to contact the author because i feel like that if this thing occour with 3 different payment module i hardly belive it's module's fault. Ofc it could be that they are 3/3 mistaken, but it points me into thinking that is something more deep

[2018-11-06 10:43] khouloudbelguith commented on #11276
Hi @sirion89,

I did not manage to reproduce the issue with the last version 1.7.4.3& the default theme.
I attached a video record.
https://drive.google.com/file/d/1mXVGUpOsc1rd1TlJwk7AAmOX0RkI0Rd3/view
Thanks to check & feedback.

[2018-11-06 10:44] khouloudbelguith commented on #11115
@sirion89, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-11-06 10:49] sirion89 commented on #11276
Mmmm then i suppose it has something to do with my theme/extra module, the stars for example comes from an extra module that hooks into the display to add that part.

Do i have any way to debug what's happening? it's quite freaky that with cache disable everything works. I'm not a PS expert and i never used smarty in my life (i come from symfony). Do you have any idea on where i could find any ext

[2018-11-06 10:50] #11178 closed, assigned to nobody

[2018-11-06 10:54] sirion89 commented on #11115
I can't put my production website in dev mode since most of the page stop working (undefined indexes errors that comes from extra modules that i didn't develop). It doesn't even seem an error, because all the customers report no weird blank pages, everything goes "all right" for them. Except the double order/payment.
I was thinking if it was session-related, i don't really know what those peoples

[2018-11-06 10:54] #11211 closed, assigned to nobody

[2018-11-06 10:59] khouloudbelguith commented on #11276
@sirion89, to get more info?
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-11-06 11:05] khouloudbelguith commented on #11115
So, it hard to reproduce it & it is randomly.
Duplicate order reference for different order is made with the same customer or with a different one?

[2018-11-06 11:11] marionf commented on #11238
Yes, it's possible if you select the currency accordingly to the payment module
This way, you won't be able to pay with this module if you don't have selected the good currency in FO

![capture d ecran_569](https://user-images.githubusercontent.com/13449658/48060699-08f2d280-e1bd-11e8-8264-033a530b7add.png)

[2018-11-06 11:11] sirion89 commented on #11115
All from different customers, i just checked online. Even with different dates but they all share the same issue

[2018-11-06 11:11] BilalDr opened #11277 "[EPIC] Wishlist module integration on PrestaShop 1.7 versions"
**Description update**

Add a native module to core features making it possible for merchants to have wishlists on their own websites.

Here is a detailed user story view that will be addressed for the development of the new wishlist module which will be available on versions >1.7.6.

### Feature 1 : Add to favorites

- [x] #18779 - US 1 - Add an item to a wishlist
- [x] #18780 - US 2 - See my sav

[2018-11-06 11:15] sirion89 commented on #11276
Debug mode: since it's something i could reproduce on my local env where i can even go with xDebug i can tell you that i couldn't find any difference with debug mode enabled
PHP error log: i use MAMP PRO, and there are no errors in my logs
Apache log: nothing weird there
Javascript log: using chrome inspector i have nothing wrong in my console, i even disabled JS/inspect page source. The HTML is s

[2018-11-06 11:22] khouloudbelguith commented on #11276
Hi @sirion89,

Thanks!
Waiting for your feedback.

[2018-11-06 11:23] khouloudbelguith commented on #11115
@sirion89, could you please provide me the COD module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2018-11-06 11:27] Maofree opened #11278 "remove a button from ps_customtext"
Hi
in the configuration page of the module ps_customtext you should remove that button "return to the list"
it is not necessary on this module
Also the name "Blocco CMS" should be replaced by "Text Block"

bye

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/48061457-4d7f6d80-e1bf-11e8-8456-36b43c43a69f.png)

**Additionnal information**
PrestaShop version: 1.7.4.3
PHP version

[2018-11-06 11:38] AndreyOgleznev commented on #11238
@marionf Thank you. I think that would be an option for me if there was a proper message on that.
Something like "Dear customer, please select RUB as a currency in order to make payment. PayPal or a bank can automatically convert your local currency into rubles. PayPal or a bank may take a small fee for currency conversion."
If the customer sees the existing message "Unfortunately, there is no pay

[2018-11-06 11:38] dineshbadrukhiya commented on #11216
@khouloudbelguith any update for PR?

[2018-11-06 11:40] khouloudbelguith commented on #11216
@dineshbadrukhiya, I did not make a PR yet.
Thanks for your understanding.
Would you be willing to make a pull request on GitHub with your code suggestion?

[2018-11-06 11:43] khouloudbelguith commented on #11278
Hi @maofree,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.3 & the ps_customtext v4.1.0 - by PrestaShop.
The button "return to the list" just refresh the page.
We will see how to fix it.
Thanks!

Related to: #10848

[2018-11-06 11:49] dineshbadrukhiya commented on #11216
Okay Np @khouloudbelguith . I will open PR in a free time.

[2018-11-06 12:01] sirion89 commented on #11115
Ok, sent by email

[2018-11-06 12:41] khouloudbelguith commented on #11115
@sirion89, No, I didn't receive any mail!
Thanks to check.

[2018-11-06 12:52] marionf commented on #11238
Yes, you can change it in your translations

[2018-11-06 13:09] AndreyOgleznev commented on #11238
@marionf I'd love too. But where (or how) can I find it in traslations?

[2018-11-06 13:14] khouloudbelguith commented on #11238
@AndreyOgleznev, Thanks to navigate to your BO => IMPROVE => International => Translations => MODIFY TRANSLATIONS
-Set "Type of translation" => Themes translations
-Select your theme
-Select your language
-Click on Modify
In Theme => Checkout you need to modify your expressions
![image](https://user-images.githubusercontent.com/16067358/48066578-4f046200-e1ce-11e8-8c52-73099a2846d7.png)
Thanks!

[2018-11-06 13:29] AndreyOgleznev commented on #11238
@khouloudbelguith Great! Thank you! it works!
I think I can now enable multiple currencies!

[2018-11-06 13:31] khouloudbelguith commented on #11238
@AndreyOgleznev, THanks for your feedback.
I close the issue, feel free to open a new one when needed.
@marionf, thanks!

[2018-11-06 13:31] #11238 closed, assigned to nobody

[2018-11-06 13:50] marionf opened #11281 "Page isn't reloaded in FO when you change combination"
**Describe the bug**
Page isn't reloaded in FO when you change combination

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product with combination in FO
2. Change combination
3. The URL change but the page isn't reloaded
4. If you click on previous buttons, you are back to the previous page instead of previous combination

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP

[2018-11-06 13:52] RicRey1988 commented on #9513
I think the case they closed me is not the same as this, but I will comment, I tried to update the store in different ways, but with the version of stable module 4.4.0 that is the official one, but unfortunately it keeps throwing that error that I showed in the ticket that I opened, since here they work with the module version 4.0.0 and I with the 4.4.0

https://github.com/PrestaShop/PrestaShop/is

[2018-11-06 14:13] #10962 closed, assigned to nobody

[2018-11-06 14:19] kratekk commented on #9905
@khouloudbelguith What is the expected time to resolve this bug?

[2018-11-06 14:58] ballashop commented on #11225
Dear @khouloudbelguith @Quetzacoalt91
the hosting service found this error:
Fatal error: Call to undefined method AdminSelfUpgrade::displayErrors() in xxAdminxxFolderxx/functions.php on line 281
They said that the one click module needs updating, so I clicked on reset (one click module) and I've got this warning:
2 errors
The module can not be installed.
This version of 1-click upgrade requires PH

[2018-11-06 15:09] sirion89 commented on #11276
Looks like i cannot reproduce it either with fresh PS + theme, it must be something to do with something else added later,maybe the star module, ill keep investigating in free times

[2018-11-06 15:12] khouloudbelguith commented on #11276
@sirion89, Okey.
Thanks!

[2018-11-06 15:15] Werbike commented on #10914
Host: OVH , PHP 7.0, Presta 1.7.3.3
Windows 7 , Chrome newest version + cache cleared.

app/logs/ 2 days ago

*ERROR* 	v1.7.3.3	2018/11/01 - 13:19:06: Link to database cannot be established: SQLSTATE[42000] [1203] User werbikepayadmin already has more than 'max_user_connections' active connections at line 120 in file classes/db/DbPDO.php
*ERROR* 	v1.7.3.3	2018/11/01 - 13:19:06: Link to database ca

[2018-11-06 15:21] sirion89 commented on #11115
Sent the email again, if it didn't arrive i guess it's going into spam. I send from @gmail.com

[2018-11-06 15:21] khouloudbelguith commented on #10914
Hi @Werbike,

THe error: Link to database cannot be established: SQLSTATE[HY000] [2002] Connection timed out => you need to check the database link. It is a server issue.
Also, you have an issue with the "sendinblue" module, you need to disable it.
Thanks!

[2018-11-06 15:26] khouloudbelguith commented on #11115
@sirion89, I sent you email, thanks to reply me by sending one.
The spam mail that I receive, I cannot download the zip folder.
Thanks!

[2018-11-06 15:28] sirion89 commented on #11115
Ok i didn't understand what was the problem,i read your email before reading this, sent you another one with WeTransfer

[2018-11-06 15:35] khouloudbelguith commented on #11115
@sirion89, it is ok with this module too.
I created two orders at the same time.
![image](https://user-images.githubusercontent.com/16067358/48074761-f3dc6a80-e1e1-11e8-9e9f-badd208fdb8b.png)
Thanks!

[2018-11-06 15:54] sirion89 commented on #11115
@khouloudbelguith mmm, it's very hard i guess. It happens with more then just one payment method and many other orders just looks fine. It has to be something related to the user-behaviour which make this happen. The sad fact is that we cannot simply call one of our customer preteding that he knows what he did "wrong" to make this issue happen :/

Sidenote: I deleted some of the older answer, just

[2018-11-06 16:00] khouloudbelguith commented on #11225
Hi @ballashop,

Just for your information, we recommend that you run your PrestaShop install on the latest version of PHP. PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 is [compatible with PHP 7.2.](https://github.com/PrestaShop/PrestaShop/pull/8246)
Thanks!

[2018-11-06 16:00] lupitaflowers3 commented on #11250
I clone whit this line  git clone
https://github.com/PrestaShop/PrestaShop.git.
I created a virtual machine with ubuntu and I installed Prestashop without
problem, I think the problem is with windows.

Regards.

On Tue, Nov 6, 2018 at 3:33 AM khouloudbelguith <notifications@github.com>
wrote:

[2018-11-06 16:01] khouloudbelguith commented on #11115
Hi @sirion89,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2018-11-06 16:06] khouloudbelguith commented on #11234
Hi @mehdi-ghezal,

Yes, When I created the file config/defines_custom.inc.php, I'm not able to disable the Debug mode.
https://drive.google.com/file/d/1oQAZ7cD-f0PpNW-z9JeLbrUlU9F1ykI7/view
@marionf, what do you think?
Thanks!

[2018-11-06 16:15] sirion89 commented on #11115
Ty for the time spent, although i'm pretty sure it's related to PS, the guy which started this thread has my same issue, so it's not happening just to me.

Anyways, we will try to monitor this, if any new information helpful for debugging comes out, i will update this thread

[2018-11-06 16:16] khouloudbelguith opened #11283 "Some issues about the "search" of modules if the mbo module is installed"
**Describe the bug**
The `mbo` module is installed, In the BO => IMPROVE => Module Catalog,
The search symbol is displayed in another way
![image](https://user-images.githubusercontent.com/16067358/48072510-f8eaeb00-e1dc-11e8-9fb7-68aad1b3c233.png) => mbo installed
![image](https://user-images.githubusercontent.com/16067358/48077124-f4c3cb00-e1e6-11e8-8a0a-1ac5ad040682.png) => mbo non installed.
T

[2018-11-06 16:19] #10048 closed, assigned to nobody

[2018-11-06 16:25] ballashop commented on #11225
Hi @khouloudbelguith,
yes we know but at the moment we have decided to continue using version 1.6, until the update is available.
Do you think it is enough to switch to the php 5.5 version?
The server assistance service told us that we can.
I'm waiting your kind response.
Thanks a lot.

[2018-11-06 16:26] marionf commented on #11234
No, idea we should ask to a dev @eternoendless

[2018-11-06 16:31] khouloudbelguith commented on #11225
@Quetzacoalt91, what do think?
Thanks!

[2018-11-06 16:32] khouloudbelguith commented on #11250
Hi @lupitaflowers3,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.
Thanks!

[2018-11-06 16:33] ballashop commented on #11225
Hi @khouloudbelguith @Quetzacoalt91
sorry, I meant the php version 5.6 and not the 5.5 that is currently in use.
Thank you so much.

[2018-11-06 16:34] Quetzacoalt91 commented on #11225
Yep, PHP 5.6 is the minimum version which allows you to use the upgrade module. Older versions are not compatible.

[2018-11-06 16:41] ballashop commented on #11225
Hi @Quetzacoalt91 thanks, we upgrading the php to the 5.6 version.
do you think that the error as in this issue may depend on the obsolete version of PHP?
Thanks.

[2018-11-06 17:01] Quetzacoalt91 commented on #11225
It could be, yes. We check the version of PHP at the module installation since the v4.4.0.
I guess it was already installed on your shop, and upgrading the module to the version 4.4.0 made you miss the error. :)

[2018-11-06 18:08] ghost commented on #11269
sorry i couldn't answer, i wasn't at home. So this is a native module of prestashop. It was broken, i deleted it of my shop and now i don't find it anywhere, on my backoffice or the catalog page

[2018-11-06 18:17] Nikito22 opened #11289 "Loosing user's groups access when updating category by webservice"
**Describe the bug**
When updating by web service a category with several groups selected previously by the user, the category **reset to the configured** Visitor, Guest and Customer groups, losing user's ones.

As the Web Service doesn't give access to the category's groups associations, it necessary not to override it in the update.

**To Reproduce**
Steps to reproduce the behavior:
1. In the ba

[2018-11-06 20:27] AJenbo opened #11292 "WS: CDATA not encoded correctly in correctly"
**Describe the bug**
If a description contains a CDATA entry in the description, the produced WS XML is invalid.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a product with the following description:
[code]
2. View that product in WS `/api/products/ID`, giving you:
[code]
This makes the description data end early at the </script> tag.

**Screenshots**
![billede](https://user-images

[2018-11-07 00:09] zaghouss opened #11293 "After updating 1.6.1.22 to 1.7.4.3 Front office / Modules back office Error 500"
Hello,
After updating Prestashop from 1.6.1.22 to 1.7.4.3, front office is not working anymore and some pages on back-end like Modules page.. Error 500

After activating debug mode here's what i have on front-office :

Warning: Declaration of Tools::getPath($id_category, $path = '', $link_on_the_item = false, $category_type = 'products', Context $context = NULL) should be compatible with ToolsCore

[2018-11-07 02:02] BenTen opened #11294 "Multi-languages for States of Country"
Hello,

in PS1.7.4, States of Country are only in "English".

If we set a website in Japanese (for example), the customer will see the state in English when he set his address.

If we translate all states in Japanese, the problem will be the same if the customer choice to set the language in "English".

Why there is not translation option for multilanguage website?

_(the same for product's brand/

[2018-11-07 06:45] WS-NL commented on #11274
Thanks,

After replacing ps_configuration_lang with the one from a clean PS1.7.4.3 installation the maintenance
mode is working but our theme will stop working with some functionality.

We also installed the theme on a clean test shop with PS 1.7.4.3 and installed all the languages needed, afterthat exported ps_configuration_lang again, imported in production shop but without succes, same problem

[2018-11-07 08:03] khouloudbelguith commented on #11293
Hi @zaghouss,

You have some overrides are not compatible with Ps1.7, you have error in the override tools.php, it could be due to a custom module.
Thanks to check and feedback.

[2018-11-07 08:42] hubyhuby opened #11295 "Two Url catategory generation for the same category"
**Describe the bug**
After a fresh install using "simplified url" I get inconsistent routes :

The product route works fine : WEBSITE /le-labo-experience/21-47-rhum.html#/26-degre_alcoolique-20/29-type_de_sucre-sucre_blanc
**but the category route: WEBSITE /le-labo-experience/ does not exist !**
The correct url for the category is **/11-le-labo-experience**

This is a majeor flow for SEO. Since th

[2018-11-07 08:49] Werbike commented on #10914
You mean "13:21:16: Link to database cannot be established: SQLSTATE[42000] [1203] User werbikepayadmin already has more than 'max_user_connections' active connections at line 120 in file classes/db/DbPDO.php" not "SQLSTATE[HY000] [2002] ? Because i don't see the [HY000] [2002] in the logs.
Maybe you know what i should change in DB ? which value (im not a programmist :( )

[2018-11-07 08:52] neich78 commented on #9903
OMG is true, sorry about that. Translation should be "Ordenar" and not "Pedir de nuevo".
Thanks

[2018-11-07 08:55] KHATERSAID opened #11296 "Ps-wirepayment add icon PrestaShop : 1.7.3.0"
Hello
when I want to add a bank transfer icon
it multiplies on other payments
How to solve this problem
thank you
![2](https://user-images.githubusercontent.com/39734318/48120715-3c903400-e273-11e8-8b3d-4b47ab4e69ce.jpg)
![3](https://user-images.githubusercontent.com/39734318/48120716-3c903400-e273-11e8-83c6-0ff98310ce03.jpg)
![1](https://user-images.githubusercontent.com/39734318/48120717-3c90340

[2018-11-07 08:57] PierreRambaud commented on #10914
Everything is write :) You need to increase your `max_user_connections` (https://dev.mysql.com/doc/refman/8.0/en/user-resources.html)

[2018-11-07 08:58] KHATERSAID opened #11297 "Module ps_wirepayment more about no visible PrestaShop : 1.7.3.0"
Hello
I noticed that more about is the same color as the text
the customer does not know he can click on the link to find out more
how to fix this problem
thank you
![5](https://user-images.githubusercontent.com/39734318/48120862-a14b8e80-e273-11e8-8c53-ac00887ac65f.jpg)
![6](https://user-images.githubusercontent.com/39734318/48120863-a1e42500-e273-11e8-9924-b869b667aeda.jpg)

[2018-11-07 09:09] khouloudbelguith commented on #11295
Hi @hubyhuby,

Thanks for your report.
We have just improved the SEO of the category page & the Product page in the PS1.7.5.0.
You can check these PRs:
https://github.com/PrestaShop/PrestaShop/pull/9472
https://github.com/PrestaShop/PrestaShop/pull/9456
Thanks to check & feedback.

[2018-11-07 09:12] marionf opened #11298 "Bad translation of 'Reorder'"
**Describe the bug**
Bad translation of 'Reorder'

In english it's the same word but not in other languages

![capture d ecran_570](https://user-images.githubusercontent.com/13449658/48121554-8c6ffa80-e275-11e8-9e87-55656aa7bfab.png)

![capture d ecran_571](https://user-images.githubusercontent.com/13449658/48121558-8f6aeb00-e275-11e8-8d81-6eff748fa8f8.png)

![capture d ecran_572](https://user-ima

[2018-11-07 09:13] marionf commented on #11298
@LouiseBonnard I think the string is the same in both places

[2018-11-07 09:19] marionf commented on #9903
@neich78 yes you are right, I have created the issue here: #11298

[2018-11-07 09:29] khouloudbelguith commented on #11297
Hi, @said4440,

In the file Project_Folder/themes/Your_Theme/assets/css/theme.css
You need to comment this line
   ` color: inherit;`
In fact, you can replace this
[code]

by this

[code]

Thanks to check & feedback

[2018-11-07 09:38] rdy4ever commented on #11281
Wouldn't reloading the page defeat the purpose of using ajax to change combinations in the first place?

[2018-11-07 09:43] khouloudbelguith commented on #11250
Hi @lupitaflowers3,

I tried to install the develop branch on windows with xampp v3.2.2
It is ok, there is no problem in the installation.
[code]
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thanks!

[2018-11-07 09:52] #11230 closed, assigned to nobody

[2018-11-07 09:55] khouloudbelguith commented on #11296
Hi @said4440,

Because you edited the payment.tpl of your current theme.
You need to edit your module, so you can add the logo.
Please be aware that the forge should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
T

[2018-11-07 09:55] #11296 closed, assigned to nobody

[2018-11-07 10:02] khouloudbelguith commented on #11274
Hi @wgsol2018,

It could a problem of the compatibility of your theme & PS1.7.4.3.
Have you tried to contact the theme author about this issue?
Thanks!

[2018-11-07 10:08] BilalDr commented on #10125
Hi @MathiasReker,
Currently if we write 0 it becomes the minimum quantity for sale specified by the merchants in product page(BO).

If we delete everything and click out of the input, it should display the minimum quantity for sale

If we are editing the input, anything will happened in order to let users write a number (superior or equal to the minimum quantity for sale).

So
1) In product page (

[2018-11-07 10:16] WS-NL commented on #11274
We contacted theme author today.
We updated the theme for compatibility for 1.7.4.3 so it should not be the problem

[2018-11-07 10:16] khouloudbelguith commented on #11289
Hi @Nikito22,

Thanks for your report.
I manage to reproduce the issue with 1.7.4.3 / 1.7.5.0.
I used this script

[code]
After update category via WS, the category has gone back to the standard groups of Visitor, Guest, and Customer.
We will see how to fix it.
Thanks!

[2018-11-07 10:18] khouloudbelguith commented on #11289
Related to: #10069

[2018-11-07 10:36] #11180 closed, assigned to nobody

[2018-11-07 10:40] khouloudbelguith commented on #11294
Hi @BenTen,

Thanks for your report.
After importing the Japan language.
In the FO, the `日本語` is selected; I try to add a new address, all states of the Japan country are displayed in English.
From the BO, States page, we cannot edit a state name with multilanguage.
@marionf what do you think?
Thanks!

[2018-11-07 10:41] disarci opened #11299 "Italian Electronic Invoice from 1st January need 2 fields"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-11-07 10:43] khouloudbelguith commented on #11269
Hi @Mandals44,

You need to navigate to your BO => Modules => Modules & Services=> Selection Tab, search for the ps_customtext, it should be displayed & try to install it.
![image](https://user-images.githubusercontent.com/16067358/48126763-5127f880-e282-11e8-831c-b60a2585f37b.png)

Thanks!

[2018-11-07 10:46] firstred commented on #11230
That is awesome! Thanks @Quetzacoalt91

[2018-11-07 10:46] disarci commented on #11299
Hi,
in Italy we will need to ask to customers two more fields in registration for B2B shops.
1) the new "official" email name as PEC (electronic certificate email)
2) the "official" code number for transmit the invoice to the finance services.

All the italian shops that will generate an invoice to someone with a vat_number need to ask this 2 new fields

France will arrive at this in 2020 (see: Fa

[2018-11-07 10:54] khouloudbelguith commented on #11292
Hi @AJenbo,

When I viewed that product in WS, I found this:
![image](https://user-images.githubusercontent.com/16067358/48127300-ac0e1f80-e283-11e8-99e3-64fcef9d09ee.png)
Thanks to check & feedback.

[2018-11-07 10:56] khouloudbelguith commented on #11299
Hi @disarci,

In our [addons.prestashop.com](https://addons.prestashop.com/en/) you can find a selection of the e-Invoice modules.
Thanks to check & feedback.

[2018-11-07 11:12] khouloudbelguith commented on #11274
@wgsol2018, but you said that after replacing ps_configuration_lang with the one from a clean PS1.7.4.3 installation the maintenance mode is working?

[2018-11-07 11:19] khouloudbelguith commented on #9905
This issue is related to https://github.com/PrestaShop/PrestaShop/issues/9763

[2018-11-07 11:20] efernandesng commented on #15203
@wewew85 Check if you have the `vendor/autoload.php` file on `modules/autoupgrade/`. I resolver similar problem running `composer install` on `modules/autoupgrade/`.
Before I got the follow error
[code]

[2018-11-07 11:52] AJenbo commented on #11292
Looks like the offending shop is running 1.6.1.4 so probably this issue has been fixed in 1.7.4.3?

[2018-11-07 12:24] WS-NL commented on #11274
Yes your right, but i think it should not be a problem right?
If we replace ps_configuration_lang from a clean PS1.7.4.3 some translations are messed up as well.
So this is not the fix how we can get it working for now

We contacted theme author today. Lets see if he have any solution

[2018-11-07 12:27] lilianamc opened #11302 "Clickable product images bigger (kind of popup) on the admin"
It would be nice to have clickable product images bigger (kind of popup) on the admin. Some products have small differences and the product image on the order (admin) is very small. So I have to go to the products page to see what is the product.  Please see image. https://imgur.com/a/DAnIHW0

Thank you very much

[2018-11-07 12:30] grabelle opened #11303 "BO - Delete categories .... very very slow"
Hi,
I have about 1000 categories. For the moment 0 product.
I just tried to delete all the categories ... it takes about 3sec per category (possibly more) ...
I use PHP 7.1 and Mysql 5.7 ....
Prestashop 1.7.4.3 (latest stable)

Is it normal ? I would say no (because it it not possible to wait so long ... )

Thank you all

[2018-11-07 13:12] MathiasReker commented on #10125
@BilalDr yes, and if quantity = "" and we click 'add to cart' the quantity should change to "1"

[2018-11-07 13:12] #11124 closed, assigned to Quetzacoalt91

[2018-11-07 13:14] khouloudbelguith commented on #11302
Hi @lilianamc,

This feature could be added by a custom module.
@marion what do think?
Thanks!

[2018-11-07 13:17] khouloudbelguith commented on #11303
Hi @grabelle,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-11-07 13:22] khouloudbelguith commented on #11274
@wgsol2018, what are those translations?

[2018-11-07 13:29] WS-NL commented on #11274
We use 5 languages on the shop
the translations from a few parts of the backoffice modules from our theme (warehouse theme) are then mixed up
As well the mega menu is not clickable anymore

Dutch - Default
English
France
German
Spain

[2018-11-07 13:33] firstred opened #11304 "`action<AdminControllerName>ListingFieldsModifier` no longer called on Symfony pages"
**Describe the bug**
`action<AdminControllerName>ListingFieldsModifier` is no longer being called on Symfony pages, which makes it impossible for modules to influence how lists are displayed. I know plenty of modules that use these hooks in order to prevent the usage of overrides.
Is there an alternative? If there is, can it be documented, please? If not, what needs to be done to unbork these modu

[2018-11-07 13:33] khouloudbelguith commented on #11274
@wgsol2018,

So it is all about your theme.
We can't do anything before the feedback of your theme author.
Thanks!

[2018-11-07 13:33] firstred commented on #11304
Pinging the migration maestro @mickaelandrieu

[2018-11-07 13:37] BilalDr commented on #11144
Hi everyone and thanks for all those informations.

According to all those element, we all now that Google doesn't use the keywords in meta-keywords and we also know that websites using meta-keywords don't get penalized.

So it could be great to remove them but it's not the priority on SEO for the moment i think.
We will come back on this on a minor version.

[2018-11-07 13:38] matks commented on #10412
The regression is that SF hook system is case-sensitive and legacy hook system is case-insensitive. So what could be done before in legacy pages cannot be done anymore in SF pages. It looks like a regression to me.

[2018-11-07 13:38] khouloudbelguith commented on #11304
Hi @firstred,

Thanks for your report.
Could you please provide us a tuto module to test it.
Thanks!

[2018-11-07 13:39] WS-NL commented on #11274
This is only after we replace the ps_configuration_lang file. If we dont replace after updating everything works fine except disbale maintance mode which is in backoffice. Not front

Lets wait

[2018-11-07 13:40] khouloudbelguith commented on #11274
@wgsol2018, ok thanks!
Waiting for your feedback.

[2018-11-07 13:49] firstred commented on #11304
Here's a quick module. It should dump the AdminLogs queries and crash out on the logs page when successful, but it doesn't do that on 1.7.5+.

[customlisting.zip](https://github.com/PrestaShop/PrestaShop/files/2557557/customlisting.zip)

[2018-11-07 14:02] sarjon commented on #11304
hey @firstred you can take a look at this module https://github.com/sarjon/demo-grid-module of how to modify new lists. :) It may be a bit outdated.

Also, you can check existing docs (some stuff may be outdated :/ ) https://devdocs.prestashop.com/1.7/development/components/grid/

Let me know if you have any more questions. :)

[2018-11-07 14:11] khouloudbelguith commented on #11292
Hi @AJenbo,

With PS1.6, when I go to that product in WS /api/products/ID, giving me:
![image](https://user-images.githubusercontent.com/16067358/48136251-76772f80-e29f-11e8-87ef-43db67fa82b0.png)
Thanks!

[2018-11-07 14:12] jolelievre commented on #11264
hello, this is not really a bug

this happens when you *just* uninstalled the module, because the link in the menu still directs you to the (uninstalled) module
the same problem happens for any uninstalled modules (link widget for instance), because we don't update the menu
And I am not sure we should for performance issues, but it could be a new feature

Anyway when you refresh your page the link

[2018-11-07 14:13] grabelle commented on #11303
Hi, in fact there are no error message ... it ends with a 503 because sooo long.
I see many many sql query . For information I have 1230 categories.
With debug mode, where can I see the log ? (nothing is displayed on the screen)

thanks for your help

[2018-11-07 14:14] khouloudbelguith commented on #11303
@jocel1 what do you think?
Thanks!

[2018-11-07 14:16] vincentbz opened #11305 "Shipping fees per combination"
Salut les poilus !

**Is your feature request related to a problem? Please describe.**
In a product page, there is the possibility to add a specific shipping fee (shipping tab). But when I add combinations to my products, all of them have the same shipping fees, there is no possibility to change the shipping fee per combination.

**Describe the solution you'd like**
As the field "shipping fees" in

[2018-11-07 14:17] grabelle commented on #11303
It takes ~10-15 seconds to delete 1 category ... :-(

[2018-11-07 14:23] firstred commented on #11304
That is awesome! Thanks @sarjon

Let's see if we can get a few real world examples integrated with the new grid component.
Closing this issue, because this looks like a really powerful alternative and there's a sufficient amount of documentation. Great job!

[2018-11-07 14:23] #11304 closed, assigned to nobody

[2018-11-07 14:26] sarjon commented on #10733
@matks i've reviewed your suggestion once again and here's what i came up with:

- **E2E**
- **Integration/**
    - **Test/** actual Integration tests
        - **Core/**
        - **PrestaShopBundle/**
    - **resources/** any static files or anything thats needed for tests
    - **fixtures/** any fixtures if needed
    - **phpunit.xml** phpunit configuration file for Integration tests
    - **bo

[2018-11-07 14:30] khouloudbelguith commented on #11305
Hi @vincentbz,

Thanks for your suggestion.
@eternoendless, @marionf, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2018-11-07 14:54] vincentbz commented on #11305
![deadpool](https://user-images.githubusercontent.com/7567060/48138824-695d3f00-e2a5-11e8-900b-48468cdf70c3.gif)

[2018-11-07 14:58] lilianamc opened #11307 "No carriers available at the checkout just for desktop"
**Describe the bug**
My online store (PS 1.7.4.2) was working well for a month when a message suddenly started to appear at the checkout "No carriers available ..... " I did not move anything, I'm the only one who has access to my site, and I have 6 years of experience with Prestashop.

Few days ago, I noticed something very strange, a client told me that the website was charging her double for th

[2018-11-07 14:58] ballashop commented on #11225
Hi @khouloudbelguith @Quetzacoalt91,
I try to upgrade a php version but the server displayed a database connection error. I have forwarded this error to customer service on the server.
I will keep you updated, thanks.

[2018-11-07 14:59] khouloudbelguith commented on #9583
Hi,

I manage to reproduce the issue finally.
I just comment the line `extension=php_mbstring.dll` in the php.ini
In Orders page, I have this error
![image](https://user-images.githubusercontent.com/16067358/48139125-015b2880-e2a6-11e8-9f78-1bfd53f7bdf0.png)
We will see how to fix it.
Thanks for your help & your understanding!

[2018-11-07 15:10] matks commented on #10733
Looks good 😄 @mickaelandrieu @PierreRambaud any opinion ?

[2018-11-07 15:34] lupitaflowers3 commented on #11250
Ok, thanks for all.
Regards.

On Wed, Nov 7, 2018 at 3:44 AM khouloudbelguith <notifications@github.com>
wrote:

[2018-11-07 15:35] khouloudbelguith commented on #11250
Hi @lupitaflowers3,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thanks!

[2018-11-07 15:35] #11250 closed, assigned to nobody

[2018-11-07 15:44] PierreRambaud commented on #10733
:+1:

[2018-11-07 15:47] PierreRambaud commented on #11305
Totally legit!

[2018-11-07 15:53] khouloudbelguith commented on #11307
Hi @lilianamc,

You need to check Zones if they are checked.
![image](https://user-images.githubusercontent.com/16067358/48142653-754cff00-e2ad-11e8-971b-b16f8ec87c3b.png)
Also, you can check the available carriers in the Product page.
![image](https://user-images.githubusercontent.com/16067358/48142698-8e55b000-e2ad-11e8-8a09-37d1674c23eb.png)
Thanks to check & feedback.

[2018-11-07 15:54] Benla79 opened #11308 "The same cart for all registered customers"
**Describe the bug**
I have a B2B website where people have to login to see the prices. But once they log in, they'll see the previous custmer's cart and if 2 customers are on the website at the same time, they share the same cart... (I tried)
I have installed the "Hide prices easily" module and created a new group category "professionnel" where all logged in customers will belong.

**To Reproduce

[2018-11-07 16:02] khouloudbelguith commented on #11308
Hi @Benla79,

Did you use the MailChimp module?
If yes, thanks to disable it, check & feedback.
Thanks!

[2018-11-07 16:07] Benla79 commented on #11308
Hi @khouloudbelguith,

Yes, I do have the mailchimp module. I disabled it. It still does it. When I add a product in one customer's cart, it appears also in the other cart...
Should I clear the cache?

[2018-11-07 16:11] khouloudbelguith commented on #11308
@Benla79, Yes, please.
Because this issue occurs due to the mail chimp module.
This is a previous ticket: http://forge.prestashop.com/browse/BOOM-5486 about this issue.
Thanks!

[2018-11-07 16:13] Benla79 commented on #11308
@khouloudbelguith
It works!!! Thank you very much.

[2018-11-07 16:14] Benla79 commented on #11308
@khouloudbelguith
Is there a solution to integrate Mailchimp?

[2018-11-07 16:14] khouloudbelguith commented on #11308
@Benla79, great!
I close the issue, feel free to open a new one when needed.

[2018-11-07 16:14] #11308 closed, assigned to nobody

[2018-11-07 16:15] KHATERSAID commented on #11297
hello thank you for your help but this method does not work
![herboriste en ligne - google chrome_4](https://user-images.githubusercontent.com/39734318/48144190-b98dce80-e2b0-11e8-9eaa-db5748eca95b.jpg)
![modules et services herboriste en ligne - google chrome_2](https://user-images.githubusercontent.com/39734318/48144192-ba266500-e2b0-11e8-9066-e6ef3addbb1b.jpg)
![performances herboriste en ligne

[2018-11-07 16:18] TecnoHands opened #11310 "change the install options"
Hi, in install process, when you select spanish language and Argentina country per example prestashop when finish the installation, adding automatic es-AR lang, this language is bad translated, The installer take the parameter of language (in install fase for display the process in spanish, but at the same time he take this option to add the language to the language list in BO), and Country for in

[2018-11-07 16:25] khouloudbelguith commented on #11310
Hi @TecnoHands,

Is that the same issue described in this previous ticket: http://forge.prestashop.com/browse/BOOM-5295?
Thanks!

[2018-11-07 16:30] khouloudbelguith commented on #11297
@said4440, I've not commented it in the custom.css file but into the theme.css file.
![image](https://user-images.githubusercontent.com/16067358/48145193-9ebc5980-e2b2-11e8-9b92-2581b8953042.png)
![image](https://user-images.githubusercontent.com/16067358/48145256-bbf12800-e2b2-11e8-97d9-b791acc42e1c.png)
Thanks!

[2018-11-07 16:40] marionf commented on #11294
Hum yes, I think it should be good
@colinegin what do you think ?

[2018-11-07 16:55] disarci commented on #11299
Hi, yes, and I sell one of this!

Just, I think, that will better to include the same fields in all the customer registration, if every module will insert his fields the future compatibility will be a problem.

[2018-11-07 16:58] khouloudbelguith commented on #11299
@marion what do you think?
Thanks!

[2018-11-07 17:35] ghost commented on #11269
thanks, i finally found it, but when i try to install it, it said that the module isn't compatible with my prestashop's version.
![error](https://user-images.githubusercontent.com/44785290/48149242-edbabc80-e2bb-11e8-9fb3-8a4765d1a5ea.PNG)

[2018-11-07 17:49] lilianamc commented on #11307
@khouloudbelguith I did check all the Zones. It worked :)
Thank you, Thank you, Thank you, Thank you, Thank you, Thank you, Thank you, Thank you, Thank you, Thank you, Thank you, Thank youuuuuuuuuuu.

I made my day !!!!!

[2018-11-07 18:09] jolelievre commented on #11164
@marionf agreed, it doesn't make sense to allow infinite length for a short description even though it is allowed in the database

[2018-11-07 18:18] grabelle commented on #11303
@jocel1 : for information it takes also hours to insert 1000 categories using the webservice (on the same serveur, with good hardware (ssd, 32Go ram, good proc)

Thx for your help.

[2018-11-07 18:27] jolelievre commented on #11164
@marionf @khouloudbelguith The PR is pending and I already updated the doc:
http://doc.prestashop.com/display/PS17/Product+Settings

[2018-11-07 19:00] KHATERSAID commented on #11297
Thank you very much @khouloudbelguith  for the help you have given

[2018-11-07 19:09] jocel1 commented on #11303
Hi @grabelle,

If you add a return at the beginning of Category::regenerateEntireNtree() do you still see this issue?

Thanks,

[2018-11-07 19:13] jolelievre commented on #10412
Is it a regression or a BC break? maybe we want those hooks to be case sensitive, why not introduce this modification in the 1.7 instead of 1.8
Or it could be a "progressive" BC break, what I mean is if legacy hooks remain case insensitive it won't break, but new ones (using the SF Hook service) can be case sensitive, this prevents new hook to be poorly used case insensitively

[2018-11-07 19:44] grabelle commented on #11303
Yes ! It is much much faster : 30s to delete all the category and about 2min30 to insert all (vs 1h40 before).

[2018-11-07 20:30] jocel1 commented on #11303
Thanks for the feedback, so we need to optimize this function! (but I have perhaps a quick fix to speedup the WS)

[2018-11-07 20:43] jocel1 commented on #11303
@grabelle: are you using the webservice in batch mode, with several ids / objects or one by one?

[2018-11-07 21:05] jocel1 commented on #11303
@grabelle: could you try the fix I've just pushed to check if it improves things in your case?

[2018-11-08 02:49] mpittiloni commented on #9809
Hello, do you have any update on this issue? It's starting to be a very important...

[2018-11-08 07:51] damiafrau commented on #11170
Hi,

It happened me again, and after making some different tests, I found the solution. The problem is related to products. If a product has `advanced_stock_management` = 1 in tables ps_product and ps_product_shop, then it can be added to cart, but at time of checkout, PS 1.7 tells you there aren’t enough stock to complete the order.

To solve the problem:

SELECT <https://activeliving.es:2083/cps

[2018-11-08 07:54] khouloudbelguith commented on #11170
Hi @damiafrau,

Thanks for the feedback & for your fix suggestion.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-08 07:54] #11170 closed, assigned to nobody

[2018-11-08 08:03] khouloudbelguith commented on #11297
Hi @said4440,

You are welcome.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-08 08:03] #11297 closed, assigned to nobody

[2018-11-08 08:09] khouloudbelguith commented on #11307
Hi @lilianamc,

You are welcome.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-08 08:09] #11307 closed, assigned to nobody

[2018-11-08 08:09] grabelle commented on #11303
@jocel1 : unfortunately it is again terribly slow. (batchSize is 100) : more than 30min to insert 500 categories.

[2018-11-08 08:11] jocel1 commented on #11303
@grabelle ah, with a batchSize of 100 I can understand it's still slow (but I assume it's a bit faster?)
Next step will be to optimize the function itself then

[2018-11-08 08:11] khouloudbelguith commented on #11269
@Mandals44, what is the exact version of the ps_customtext module, did you tried to install?
Thanks!

[2018-11-08 08:16] grabelle commented on #11303
For 1000 categories : 10 x 100 ... the function will be call 10 times. If I reduce the batchsize to 10 it will be worse I guess (function call 100 times) .... am I wrong ?

[2018-11-08 08:25] grabelle commented on #11303
You could try to remove all index (not the primary key) .... do the many updates... then rebuild the index ? (or use a function that avoid the index to be rebuild).
Or use the load data infile ?

[2018-11-08 09:25] marionf commented on #11264
Will it be possible to reload the page when we click on uninstall ?

[2018-11-08 10:00] jocel1 commented on #11303
@grabelle yes, ideally it would be great to do it in one batch. It's not related to sql index, so removing them would not speedup things a lot @marionf the fix is still WIP, I'd like to optimize the regenerateEntireNtree function itself :)

[2018-11-08 10:05] marionf opened #11315 "Pixels between buttons in helper cards"
**Describe the bug**
We need to put 15 pixels between buttons in helper cards

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > Traffic & SEO
2. We need to have 15px between "Learn more" & "Configure index page" buttons

**Screenshots**
![capture d ecran_591](https://user-images.githubusercontent.com/13449658/48191741-35862600-e346-11e8-8eb0-f21af8e44f4f.png)

**Additio

[2018-11-08 10:07] marionf commented on #11315
Requested by @TristanLDD

[2018-11-08 10:09] marionf commented on #11303
@jocel1 PR #11313 is ready for QA or still WIP ?

[2018-11-08 10:16] jocel1 commented on #11303
@marionf I'll do some extra optimizations in it, so still WIP (there's no WIP tag BTW?)

[2018-11-08 10:18] matks opened #11316 "[SF Migration] Allow devs to choose SF services to be public instead of setting all services to public"
#### Is your feature request related to a problem?
Currently, all PrestaShop Symfony services are public (example: https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Resources/config/services/bundle/controller.yml#L3)

I think this is under-performing for Symfony container behavior. If I'm not wrong, and this needs to be benchmarked to be proved, marking a SF service as tru

[2018-11-08 10:21] marionf commented on #11303
No, I removed the waiting for QA label of the PR and put the issue as in progress :)

[2018-11-08 10:22] jolelievre commented on #11264
Yes it is possible, only it makes you lose your search if you made one
And it slows down the process if you were planning on uninstalling several modules (which doesn't happen every day I think)
But it kind of changes the feature, I don't know if we can decide this kind of changes on our own?

[2018-11-08 10:33] marionf commented on #11264
@colinegin wdyt ?

[2018-11-08 11:47] khouloudbelguith commented on #10800
Hi @fyndpriser,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-08 11:47] #10800 closed, assigned to nobody

[2018-11-08 11:49] khouloudbelguith commented on #10831
Duplicate of #11164

[2018-11-08 11:49] #10831 closed, assigned to nobody

[2018-11-08 11:50] khouloudbelguith commented on #10896
Hi @checkaxon,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-08 11:50] #10896 closed, assigned to nobody

[2018-11-08 11:51] khouloudbelguith commented on #10888
Hi @demeldoo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-08 11:51] #10888 closed, assigned to nobody

[2018-11-08 11:51] tups opened #11317 "Bug on orders created from the back office, with specific prices products"
**Describe the bug**
The unit price change on an order made on the back office does not apply if a product has a specific price on the quantity.

To correct this problem, put the `score` before` from_quantity` in `ORDER BY` as follows:
[https://github.com/PrestaShop/PrestaShop/blob/475d65fbda93403cd1afde0db09764c5295e952c/classes/SpecificPrice.php#L360](url)
[code]

This modification seems to me l

[2018-11-08 11:52] khouloudbelguith commented on #10873
@itroom-agence, any news?
Thanks!

[2018-11-08 11:53] khouloudbelguith commented on #10858
Hi @Benla79,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-08 11:53] #10858 closed, assigned to nobody

[2018-11-08 11:54] khouloudbelguith commented on #10853
Hi @mikecastrodemaria

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-08 11:54] khouloudbelguith commented on #10894
Hi @jmceara,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-08 11:54] #10894 closed, assigned to nobody

[2018-11-08 11:57] pswaab opened #11318 "Smarty cache - force compilation"
Hello,

I'm trying to set up a multi store with 3 shops. One of the problem, before many others, is the cache for modules used in different themes.

For example, shop1 use theme1 with module ps_searchbar and shop2 use theme2 with the same module ps_searchbar. After clearing the cache, shop1 searchbar module shows good but after accessing shop2, the shop1 footer uses the tpl of the theme2 until I c

[2018-11-08 12:00] khouloudbelguith commented on #11318
Hi @pswaab,

Your ticket is a duplicate of #9905
So, I close it.
Thanks!

Best regards, Khouloud

[2018-11-08 12:01] khouloudbelguith commented on #11318
Duplicate of #9905

[2018-11-08 12:01] #11318 closed, assigned to nobody

[2018-11-08 12:04] pswaab commented on #11318
I am sorry!
But can you point me in the direction where I should search fixing this issue?
Looks like it is sharing smarty cached templates and does not look from which theme.
Thanks

[2018-11-08 12:10] khouloudbelguith commented on #11318
@pswaab, you should debug the issue to find the exact problem.
Thanks!

[2018-11-08 12:11] khouloudbelguith commented on #11317
Hi @tups,
Thanks for your report.
I did not manage to reproduce the issue with 1.7.4.4.
https://drive.google.com/file/d/1CUun4Yu5ixTIcxz5ncfPn16BV4SDlqMY/view
In the PS 1.6, the problem exists but as you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6): the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
if your bug isn’

[2018-11-08 12:11] #11317 closed, assigned to nobody

[2018-11-08 14:41] Yoninov opened #11319 "The admin payment preferences page is blank"
Hello,

i am trying to change payment preferences on the back office but the  page doesnt load. Its blank.

Prestashop is 1.7.4.4.
Server information
Linux #1 SMP Tue May 22 10:39:25 EDT 2018 x86_64
Server software version: Apache
PHP version: 7.2.11
Memory limit: 512M
Max execution time: 300
Upload Max File size: 64M
Everything else works like charm

Any idea?

[debug info.txt](https://github.com

[2018-11-08 14:45] marionf commented on #10824
Hello @jgtrescazes

Thanks for diving into this!
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2018-11-08 14:50] khouloudbelguith commented on #11319
Hi @Yoninov,
.
could you please try to disable the welcome module, clear cache, check & feedback.
Thanks!

[2018-11-08 15:07] colinegin commented on #10125
@MathiasReker more precisely, it should add the minimum quantity defined in the product configuration (1 if this is the classic minimum quantity, but if there is a specific configuration, with at least 5 products, it should add 5 products to the cart).

Do you agree ?

[2018-11-08 15:20] eternoendless commented on #9566
I'm told that there are modules which integrate Google's Recaptcha on the contact form. We considered adding a simple custom captcha, but it would have required the Freetype library to work, which isn't necessarily present in most server configurations.

In order to make it harder for spammers to exploit the contact form, we add a single-use token to it, which is valid for 10 minutes after the for

[2018-11-08 15:24] lilianamc opened #11320 "No carriers available at the checkout"
**Describe the bug**
My web site is saying "No carriers available ..... "at the checkout -  I did what @khouloudbelguith told me, please check ticket #11307  - the web site was OK for few hours and suddenly started to appear at the checkout "No carriers available ..... " again :( and now it is happening for mobile and desktop. My sales are stopped :(

**To Reproduce**
Steps to reproduce the behavi

[2018-11-08 15:26] marionf commented on #9583
Hello @iprok
mbstring is required for prestashop

[2018-11-08 15:28] ionuts71 commented on #9901
It is more than a year since this bug was reported.
This function worked in PS 1.6...
When you expect to solve this bug?

[2018-11-08 15:38] MathiasReker commented on #10125
agreee on that @colinegin 👍

[2018-11-08 15:39] colinegin commented on #10125
Great ! Thank you all :)

[2018-11-08 15:40] khouloudbelguith commented on #9901
Hi @ionuts71,

Sorry for the delay, it is added to our bug roadmap.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks for your patience & your understanding.

[2018-11-08 15:43] khouloudbelguith commented on #11320
Hi @lilianamc,

Did you check if the Zones are selected or not again?
Thanks!

[2018-11-08 15:47] lilianamc commented on #11320
Hi @khouloudbelguith
They are still selected - Please see image https://imgur.com/a/3S2EbUa

[2018-11-08 15:48] #11077 closed, assigned to nobody

[2018-11-08 15:48] #11080 closed, assigned to nobody

[2018-11-08 15:51] khouloudbelguith commented on #11320
@lilianamc, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
If you enable the debug mode, is there any exception displayed?
Thanks!

[2018-11-08 15:51] colinegin commented on #11264
Not sure I exactly understand, but in my opinion we should keep the catalog page even though MBO is uninstalled, is this possible @jolelievre  ?

[2018-11-08 15:56] jolelievre commented on #11264
Mmm, I am not sure to understand you either ^^

The native catalog page is always available, when you install MBO the link in the left side menu is replaced by the MBO catalog
So when you uninstall the module this link is no longer valid, but it is still in the menu
You just need to refresh the page for the menu to be updated with the native link

Hence our question, should we refresh the page eac

[2018-11-08 16:01] marionf commented on #10502
The "action" label has been forgotten, can we add it ?

![capture d ecran_595](https://user-images.githubusercontent.com/13449658/48210589-e658e900-e377-11e8-9442-9b3be293f771.png)

![capture d ecran_594](https://user-images.githubusercontent.com/13449658/48210596-eb1d9d00-e377-11e8-9a81-0524155c4ba6.png)

[2018-11-08 16:02] lilianamc commented on #11320
@khouloudbelguith

Please see this images:
https://imgur.com/a/sxd7T9z

https://imgur.com/a/coCwTtz
https://imgur.com/a/009wVTs

[2018-11-08 16:05] Yoninov commented on #11319
Hi @khouloudbelguith,
Thank you, but this is no solution.
See new file report
Regards,
[debug info2.txt](https://github.com/PrestaShop/PrestaShop/files/2562487/debug.info2.txt)

[2018-11-08 16:06] khouloudbelguith commented on #11320
@lilianamc, It looks like a permission error or PHP misconfiguration on your server. From the stack trace you posted, I can tell that PHP is configured to store stores its sessions on /var/cpanel/php/sessions/ea-php56, but it's unable to read from there. It might be that the user on which your web server (or PHP, if you're using fastcgi) needs read/write rights on that directory.
Here's a link tha

[2018-11-08 16:11] iprok commented on #9583
@marionf
Very appreciated because of your answer. The reporter, me and other users who were touched by the issue want just to tell you "Prestashop require mbstring to work. BUT it's not mentioned anywhere: nor in manual, nor in prestashop admin panel - nowhere, so we (prestashop users) get this information only after facing the error. So be so kind just to add to prestashop installation script che

[2018-11-08 16:13] khouloudbelguith commented on #11319
@Yoninov, did you use any 3rd party module?
Thanks!

[2018-11-08 16:22] Yoninov commented on #11319
No this is new instalation and i have instaled only IQIT wharehouse theme, imported products and BG languages pack.
Thanks!

[2018-11-08 16:33] khouloudbelguith opened #11322 "Impossible to translate the "Body" type of email content"
**Describe the bug**
When we try to translate the "Body" type of email content & click "Save", an exception is displayed.
1.7.4.4 => OK.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International =>Translations page
2. Select
2.1 Type of translation => Email translations
2.2 Select the type of email content => Body
2.3 Select your theme => Core / Classic
2.4 Select your language =>

[2018-11-08 16:40] marionf commented on #9583
Yes, you are right, we need to add it in the documentation and check it during installation

[2018-11-08 17:09] khouloudbelguith commented on #11319
@Yoninov, could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

- Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this w

[2018-11-08 17:11] Maofree opened #11323 "Errors on paypal module"
Hi
today I cannot join paypal module to a site
I've removed the module, removed its files, then removed its variables in ps_configuration page and try again a new installation, but I get these errors, 30 minutes before I join in paypal from the module and after the login nothing happen I stay in the account in the main page of paypal without return on the site

**Screenshots**
![11](https://user-i

[2018-11-08 17:12] khouloudbelguith commented on #11323
Hi @maofree,

The Paypal module isn't developed by PrestaShop, but by one of our partner.
You can contact them here: https://support.202-ecommerce.com/fr/support/home

Thanks!

[2018-11-08 17:16] Maofree commented on #11323
the errors are on prestashop's site if you look at the url

[2018-11-08 17:24] masiorama opened #11324 "Add reference parameter in the StockManager sendLowStockAlert method"
Hello there, I need to add a custom parameter (the product reference) in the productoutof stock email body.
My problem is not related to the edit of the templates inside the email folder.
I have to edit the class handling the template parameters in order to get the data on the email's body.

My assumption is that I cannot override and customize it because the file `\src\Core\Stock\StockManager.php

[2018-11-08 17:27] RomanXT opened #11325 "Show wrong quantities in BO product list"
Hello,
There is a problem with the show correct quantity of products showing in BO
It was at prestashop 1.5 and it is still in 1.6
I do not know why it writes two entries in the database, it takes data only where the attributete is 0

![2018-11-06_122040](https://user-images.githubusercontent.com/43031929/48215632-f75b2780-e382-11e8-9762-d9dfca937303.png)
![2018-11-08_181730](https://user-images.g

[2018-11-08 17:28] fullhugo commented on #11268
Tks for your answer,
Unfortunately that don't resolve the problem

[2018-11-08 17:38] RomanXT opened #11326 "Search big many result when reference contains minus"
Hello,
If the product SKU contains a minus, then the search by FO gives you hundreds of results, and the product is one with such an SKU
Exmaple:
Search im my shop one product SKU: PKA-KDS-4040-SET show 175 results
"-" he takes for spaces, then search PKA, KDS, 4040 and SET
I would like to show only product with this SKU
There was no problem with prestashop 1.5

Prestashop 1.6.1.20

[2018-11-08 18:04] lilianamc commented on #11320
Hi, @khouloudbelguith

The debug mode is not showing any exception :)

I have a question regarding to " _try to clear cache manually by deleting all the folder into var/cache (prod & dev)_."
Do you want me to delete the folders (prod & dev) or just the information inside these 2 folders?  Please see image https://imgur.com/a/5Ek7nVR

[2018-11-08 18:06] Yoninov commented on #11319
@khouloudbelguith, this is the report.
![2018-11-08](https://user-images.githubusercontent.com/24920574/48217927-5cb61500-e391-11e8-9de3-8de2ac4215c5.png)
Regards

[2018-11-08 19:28] Maofree commented on #11323
I get the same error from another site, you should inform well about this error

[2018-11-08 19:50] ghost commented on #11269
I finaly found where the problem came from. So i installed prestashop from ovh and they don't give the most updated version of prestashop. So I installed the 1-click upgrade and updated my version and it worked. Thank you so much and good riddance.

[2018-11-08 22:40] MathiasReker opened #11327 "Is it safe to disable mod_security?"
Is it safe to disable mod_security if using latest version of PrestaShop?

**Additionnal information**
PrestaShop version: latest
PHP version: 7.2.x

[2018-11-09 00:39] bmwjoeytsang opened #11329 "[Idea] Change specific price date ranges to DateTime"
**Describe the bug**
We had multiple shop which was running PS1.6 and PS1.7.4.4. I found that in PS1.6, we can click the from date / time and to date / time in product -> Add a specific price. However, In PS1.7, I found we only can select the from date and to date only, but we have some promotion want start at specific time (e.g: 20% discount start at 15:00 and end at 18:00.

Is it PS1.7 not allow

[2018-11-09 01:01] bmwjoeytsang opened #11330 "PS1.7.4.4 BO language in Traditional Chinese, Cannot click the Calendar icon to show the Calendar Window"
**Describe the bug**
If we change the employee language to Traditional Chinese (TW) in BO, there have some error and the calendar windows cannot show up.

**To Reproduce**
Steps to reproduce the behavior:
1. When we goto Products / Category in BO, it will show "Uncaught ReferenceError: file_not_found is not defined". And I checked in the server /js/tiny_mce/langs/tw.js, there is no tw.js file in t

[2018-11-09 02:48] bmwjoeytsang commented on #11330
I changed the ISO code from tw-tw to zh-tw and the problem has been solved. thanks!

[2018-11-09 02:48] #11330 closed, assigned to nobody

[2018-11-09 06:45] dheerajwebkul opened #11331 "Bad design on small screen for module action buttons in V1.7.5.0 beta 1"
**Module List buttons are looking bad**
See my screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Modules -> Module Manager'
2. Click on 'Module Manager Tab'
3. See error

**Screenshots**
![ps-module manager beta test](https://user-images.githubusercontent.com/19220745/48247367-10161c80-e419-11e8-82ca-91633fdfcbee.png)

**Additionnal information**
PrestaShop version: 1.7.5.0 b

[2018-11-09 07:58] khouloudbelguith commented on #11329
Hi @bmwjoeytsang,

Thanks for your report.
Yes, you are right.
In the PS1.6, the available date is allowed to set with the time range
![image](https://user-images.githubusercontent.com/16067358/48250103-755c1480-e3fd-11e8-807a-3db413ea1e9e.png)
But not in the 1.7
![image](https://user-images.githubusercontent.com/16067358/48250119-7f7e1300-e3fd-11e8-824f-d4d92777483e.png)
It is an improvement coul

[2018-11-09 08:02] khouloudbelguith commented on #11269
@Mandals44, thanks for your feedback.
Since it is fixed, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2018-11-09 08:02] #11269 closed, assigned to nobody

[2018-11-09 08:12] khouloudbelguith commented on #11323
Hi @maofree,

Yes, you are right, I have the same issue with Paypal v4.4.2.
But, as it's not a native module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2018-11-09 08:14] Maofree commented on #11323
hi
I know well that company, their assistance is less than 0
I've reported it to them on addons and sending 2 emails
at this moment no answer

[2018-11-09 08:18] tups commented on #11317
Thank you for your checking and your return.

I will override the client, until the 1.7 is stable enough.

[2018-11-09 08:26] khouloudbelguith commented on #11323
@maofree, you can contact them here also: support@202-ecommerce.com
Thanks!

[2018-11-09 08:27] khouloudbelguith commented on #11320
@lilianamc, you need to delete the folders (prod & dev).
Thanks!
Your problem is a server issue as I described above.
You need to contact your host.
Thanks to check & feedback.

[2018-11-09 08:31] khouloudbelguith commented on #11319
Hi @Yoninov,

Thanks for your feedback.
Your configuration is OK.
But, the PHP version in the screenshot is PHP7.1, in the information that you gave to me in the first comment is PHP7.2.
In my case, I did not manage to reproduce the issue with PS1.7.4.4, PHP7.1 / PHP7.2.
Thanks!

[2018-11-09 08:36] khouloudbelguith commented on #11326
Hi @RomanXT,

This issue is fixed in the last version 1.7.5.0, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9336 to solve the issue.
In the PS1.6, here's the same issue: http://forge.prestashop.com/browse/PSCSX-8965
It is not necessary to create another one.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-09 08:36] Maofree commented on #11323
thanks
already done
also to this one contact@202-ecommerce.com

[2018-11-09 08:36] khouloudbelguith commented on #11326
Duplicate of #9336

[2018-11-09 08:36] #11326 closed, assigned to nobody

[2018-11-09 08:55] khouloudbelguith commented on #11325
Hi @RomanXT,

I did not manage to reproduce the issue with PS 1.6.1.23.
For those products, have you created any attributes?
Also, if you enable the debug mode, is there any exception displayed?
You can enable the Debug Move using an FTP client (for instance the free Filezilla tool) to edit the config/defines.inc.php file. Find the following line in the file:

`define('_PS_MODE_DEV_', false);`

…

[2018-11-09 08:55] dreammeup opened #11332 "Disable Supplier in front office"
Hello,

I have the same request very regularly from E-merchants.

Most of them do not want suppliers with back office information to be visible in the front office.

Brands, of course, but not their suppliers.

Also, I think it should be disabled by default, and that an option could enable front-office visibility for those who want it.

[2018-11-09 09:03] Yoninov commented on #11319
Hi @khouloudbelguith
Thank you for your responce, but see again please my php is 7.2.11

If you can give me some advice on this problem?
Thanks in advance!

[2018-11-09 09:04] khouloudbelguith commented on #11332
Hi @dreammeup,

You can navigate to the BO => Shop Parameters => General page, and disable the "Display brands and suppliers" option.
![image](https://user-images.githubusercontent.com/16067358/48253119-cde3df80-e406-11e8-9d97-f021e1c6db10.png)
Thanks to check & feedback.

[2018-11-09 09:15] khouloudbelguith commented on #11319
@Yoninov, yeah, sorry.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-11-09 09:15] dreammeup commented on #11332
Hello, Thanks for the quick answer,

And, yes that's what i am asking for a change :)

For what I know, nobody want to have the supplier in front-office but they do want to have the brands in front-office.

So it should be 2 separate options, and i think that suppliers should be disable by default.

I'm pretty sure if you make a survey, that will be the answer from the E-merchants.

[2018-11-09 09:21] khouloudbelguith commented on #11332
@dreammeup, thanks for your feedback.
@marionf, what do you think of his suggestion?
Is that possible to create two different options?
Thanks!

[2018-11-09 09:24] dheerajwebkul opened #11333 "Module upload pop-up overlapping header(z-index) issue"
**Module upload pop-up hiding with header**
Please check screenshot
Can not remove popup (modal) also, If click on the outer side of modal its not working,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Module -> Module Manager'
2. Click on 'Upload a Module' button
3. See error

**Screenshots**
![module-upload-ps1750-beta1](https://user-images.githubusercontent.com/19220745/48254199-

[2018-11-09 09:28] matks commented on #10757
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10956

[2018-11-09 09:30] #10757 closed, assigned to PierreRambaud

[2018-11-09 09:31] grabelle opened #11334 "* mandatory fields (required fields) ... * Champs requis"
Hi,

Prestashop 1.7.4.4 in the import section, it says "* Champs requis" (in french) but no field has a "*" ...
I guess, It is a translation problem (* removed)
Could you please fix that ?

Thx

[2018-11-09 09:37] khouloudbelguith commented on #11333
Hi @dheerajwebkul,

Here's the PR: #11104 to fix the issue.
Your ticket is a duplicate of #11042
So, I close it.
Thanks!

[2018-11-09 09:37] #11333 closed, assigned to nobody

[2018-11-09 09:37] khouloudbelguith commented on #11333
Duplicate of #11042

[2018-11-09 09:41] matks opened #11335 "PS 1.7.5.0 beta suggests to install PS 1.7.4.4"
**Describe the bug**
When installing PS 1.7.5.0 beta, the following message appears (see screenshot below).

![capture d ecran 2018-11-09 a 10 39 00](https://user-images.githubusercontent.com/3830050/48255038-dd195c00-e40b-11e8-8339-6ef448b5b614.png)

This is because this process checks the latest officiel stable release, and indeed today (2018-11-09) the official latest *stable* release is presta

[2018-11-09 09:44] khouloudbelguith commented on #11331
Hi @dheerajwebkul,

Thanks for your report.
@PierreRambaud, @LouToma, what do you think about the responsive design?
About the position of the tab, in the second one, it's related to #10047.
Thanks!

[2018-11-09 09:45] marionf commented on #11329
Yes, I think it will be nice to add it

@colinegin wdyt ?

[2018-11-09 09:46] khouloudbelguith commented on #11334
Hi @grabelle,

Could you please provide me a screenshot of your issue.
Thanks!

[2018-11-09 09:55] Batsare commented on #9726
Hi, I've solved this problem with overload the CheckoutSessionCore class.

[code]
Sorry for my bad english ! 

Best regards, Batsare

[2018-11-09 10:00] dheerajwebkul commented on #11331
@PierreRambaud

Sorry about my word responsive design, it's responsive. I mean to say bad design.
You should make a drop-down same as previous before V 1.7.5.0.
Just like admin product page design see screenshot:

![product ps175 beta](https://user-images.githubusercontent.com/19220745/48255991-42814300-e434-11e8-9311-bbf78f57791f.png)
![product ps175 beta-1](https://user-images.githubusercontent.

[2018-11-09 10:00] khouloudbelguith commented on #9726
Hi @Batsare,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-11-09 10:05] Batsare commented on #9726
Hi @khouloudbelguith,

Currently,I haven't time, but I will try to do it later.

[2018-11-09 10:07] parmindermca84 opened #11336 "Deprecated: The each() function is deprecated"
**Describe the bug**
PHP Deprecated:  The each() function is deprecated. This message will be suppressed on further calls in prestashop/smarty/sysplugins/smarty_internal_compilebase.php on line 75

**To Reproduce**
Steps to reproduce the behavior:
1. Login to prestashop admin
2. Click on Notification (bell) icon > click to messages and click to any message
3. Error will popup with this error.

**A

[2018-11-09 10:13] grabelle commented on #11334
[FireShot Capture 012 - Importer • Velo Discount_ - http___www.velodiscount.ch_admin18.pdf](https://github.com/PrestaShop/PrestaShop/files/2565438/FireShot.Capture.012.-.Importer.Velo.Discount_.-.http___www.velodiscount.ch_admin18.pdf)

Here is the screencopy

[2018-11-09 10:13] RomanXT commented on #11325
Debug mode shows nothing, all amounts are wrong in products where there are variations.
This is not a new problem, we had the same thing at the Prestashop 1.5
Exmaple:
https://www.prestashop.com/forums/topic/253613-wrong-quantities-in-bo-product-list-catalogue/

![2018-11-09_110820](https://user-images.githubusercontent.com/43031929/48256474-020fce00-e410-11e8-9e81-57c817de49b6.png)
![2018-11-09_1

[2018-11-09 10:17] khouloudbelguith commented on #11324
Hi @masiorama,

Thanks for your report.
This is an improvement request.
It should be specified by our developers.
Related to https://github.com/PrestaShop/PrestaShop/issues/9641
Thanks!

[2018-11-09 10:18] parmindermca84 commented on #11336
This error has been fixed after I replaced this updated file: https://github.com/smarty-php/smarty/blob/master/libs/sysplugins/smarty_internal_compilebase.php

So we can close this issue.

[2018-11-09 10:20] khouloudbelguith commented on #11336
Hi @parmindermca84,

Thanks for your report & your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-09 10:20] #11336 closed, assigned to nobody

[2018-11-09 10:27] ballashop commented on #11225
Hi @khouloudbelguith @Quetzacoalt91
the error is not there anymore but I have not had time to update yet, today there is a new 1.6.1.23.
I have meanwhile changed the php version to 5.6 and updated the one click module.
I hope to be able to backup and update to the latest release soon.
Thanks

[2018-11-09 10:36] khouloudbelguith commented on #11334
@grabelle, thanks for your feedback.
This behavior exists in the PS1.6 and PS1.7.
![image](https://user-images.githubusercontent.com/16067358/48257605-3d5fcc00-e413-11e8-95ba-adca24501f8f.png)

The expression `* Required field ` is displayed under the `Available fields`, but there is no field with the `*` symbol.
It could an improvement.
@marionf, what do you think?
Thanks!

[2018-11-09 10:44] khouloudbelguith commented on #11327
@MathiasReker, what do you want to disable the mod_security in the latest version Prestashop?
Thanks!

[2018-11-09 10:51] khouloudbelguith commented on #11325
Hi @RomanXT,

I did not manage to reproduce the issue, it is OK.
![image](https://user-images.githubusercontent.com/16067358/48258584-b19b6f00-e415-11e8-929f-48bc335f5d24.png)
Thanks!

[2018-11-09 10:51] MathiasReker commented on #11327
A theme (warehouse theme) require mod_security disabled.

[2018-11-09 10:54] khouloudbelguith commented on #11327
@MathiasReker, what is the exact version PrestaShop did you use?

[2018-11-09 10:59] khouloudbelguith commented on #11268
@CrAzYk69, the general speed of the Back Office has been greatly improved (up to 3x faster!) in this PR #8780
It is added to the 1.7.3.1.

[2018-11-09 11:03] MathiasReker commented on #11327
I would like to use 1.7.5.0 (when stable) with warehouse theme. Warehouse theme writes in the docs, that mod_security should be disabled: https://iqitcommerce.ticksy.com/article/13083/

Is this safe?

[2018-11-09 11:05] khouloudbelguith commented on #11327
@eternoendless, @Quetzacoalt91, @PrestaShop/prestashop-core-developers, what do you think?
Thanks!

[2018-11-09 11:12] marionf commented on #11332
I have display brands and suppliers pages at Yes

![capture d ecran_578](https://user-images.githubusercontent.com/13449658/48258774-41411d80-e416-11e8-85cc-fb67a515464a.png)

I have added a supplier

![capture d ecran_580](https://user-images.githubusercontent.com/13449658/48258788-4e5e0c80-e416-11e8-9c38-de26fd95d440.png)

Supplier list module isn't installed

![capture d ecran_581](https://user

[2018-11-09 11:16] dreammeup commented on #11332
Hello,

I think you're wrong.

Because, the supplier pages are listed in the sitemap page, so Google can see them, and index them.

And we don't wan't Google to index them, because the customers (and competitors) will find the page.

So the only way is to disable completely the access to supplier pages.

[2018-11-09 11:18] Maofree commented on #11323
I report you the answer get from 202-ecommerce

Thanks you, there is a problem with your country. This problem comes from Prestashop. We are going to contact directly with them to tell them what's going on with your country, and tell them that is necessary to resolve this problem as soon as possible.

I'm sorry for this inconvenience, but is not from error of our module. It comes from Prestashop D

[2018-11-09 11:20] khouloudbelguith commented on #11323
@maofree, what the exact country that you use?
Thanks!

[2018-11-09 11:21] Maofree commented on #11323
I'm from Italy
but you get the same problem also from France

[2018-11-09 11:22] Maofree commented on #11323
try to speak to Esteban of 202-ecommerce

[2018-11-09 11:25] khouloudbelguith commented on #11323
@maofree, yes I get the same problem with PS1.7.4.4 & the Paypal module v4.4.2 and we have different countries.
https://drive.google.com/file/d/1bBFxX_6QdsLpJ_iVOmdpgG2Em-PwzM8D/view
@marionf what do you think?

[2018-11-09 11:26] Yoninov commented on #11319
@khouloudbelguith  see new debug file.
[debuginfo3.txt](https://github.com/PrestaShop/PrestaShop/files/2565648/debuginfo3.txt)

Thanks!

[2018-11-09 11:29] Maofree commented on #11323
yes the same
if you look at the url it is a sub-domain of prestashop probably it is due from some permissions to paypal from prestashop

the problem is that there is not the permission from paypal and the return not happen on the module

in same cases I get that errors in others I arrive on paypal account and remain on the main page oftheaccount

[2018-11-09 11:37] colinegin commented on #10258
Hello @CArlvJ1N0N8,

Thank you for your patience.

I've been discussing with our UX team, and we have came up with an idea.
We could add in Shop parameters > Order settings the ability to choose between customer language and employee language to download delivery slips and invoices when preparing orders.

What do you think about it ?

Have a nice day,

[2018-11-09 11:39] Werbike commented on #10914
(Today's update)
OVH said that we have to create private database to solve that problem with max users.
Now we're changing our serv Dev to VPS. I'll write more when we finish it.

[2018-11-09 11:39] khouloudbelguith commented on #11319
@Yoninov, what are the payment modules that you installed?
Thanks!

[2018-11-09 11:40] khouloudbelguith commented on #10914
@Werbike, thanks!
Waiting for your feedback.

[2018-11-09 11:45] Yoninov commented on #11319
@khouloudbelguith only two modules
1. Cash on delivery (COD) v1.0.6 - by PrestaShop
2. Bank transfer v2.0.4 - by PrestaShop
Thanks!

[2018-11-09 12:16] masiorama commented on #11324
So what can I do? Make an edit and do a pull request hoping for the best?
Thanks in advance!

[2018-11-09 12:33] CArlvJ1N0N8 commented on #10258
Hello,

This seems perfect to me!

Carl Valcke

4955 Rue de la Randonnée
J1N 0N8 Sherbrooke
QC, Canada
Cellulaire : + 1 819 239 89 40
Domicile : + 1 819 573 23 02
E-mail : carl@valcke.net

Envoyé de mon iPhone

[2018-11-09 12:38] khouloudbelguith commented on #11324
@masiorama,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-11-09 12:45] khouloudbelguith commented on #11319
@Yoninov, did you installed any custom module related to the carriers? any transport module?

[2018-11-09 13:14] Yoninov commented on #11319
@khouloudbelguith I just tested one carrier module /Ekont/ but is currently uninstalled.
Active is only pickup in store.

[2018-11-09 13:19] khouloudbelguith commented on #11319
@Yoninov, it could be an issue, could you please try to remove the folder of this module in Project_Folder/modules
Thanks to check & feedback.

[2018-11-09 13:26] marionf commented on #11334
There are some required fields for Combinations, customers, address, alias and shops.
For products, categories, brands and suppliers only name is required

[2018-11-09 13:30] marionf commented on #11332
@dreammeup

In sitemap module, you should select the pages that you don't want to be include in your sitemap

![capture d ecran_585](https://user-images.githubusercontent.com/13449658/48265115-f29e7e00-e42b-11e8-80c2-721dfb3a80ea.png)

[2018-11-09 13:34] Yoninov commented on #11319
@khouloudbelguith Great!!!

The problem is solved. :)

Thank you very much!

[2018-11-09 13:35] p2rcoder opened #11340 "[Critical] CMS page save empty if words in content have russian (cyrillic) letter 'И' PS 1.7.4.4"
**Describe the bug**
When edit or add cms page content I can't save text which contain russian letter 'И'

**To Reproduce**
try to save 'АБВГДЕЁЖЗКЛМНОПРСТУФХЦЧШЩЭЮЯ' - this work (without 'И')

'АБВГДЕЁЖЗКЛИМНОПРСТУФХЦЧШЩЭЮЯ' - this bug

**Screenshots**
https://www.screencast.com/t/EWtPHpS4E58X - test
https://www.screencast.com/t/P4YU8fEPmn - result

**Additionnal information**
PrestaShop version:

[2018-11-09 13:36] p2rcoder commented on #11340
this is very serious bug because I can't save any text without 'И'

[2018-11-09 13:36] dreammeup commented on #11332
Yes, but i was talking about the sitemap page in front-office : /sitemap
And even if you disable the display everywhere on your website, if the page exist you have a risk that Google find it and index it. So it should be totally disabled, in the sitemap and we should have a 404 error.

[2018-11-09 13:37] khouloudbelguith commented on #11319
@Yoninov, great.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-09 13:37] #11319 closed, assigned to nobody

[2018-11-09 13:39] p2rcoder commented on #11340
need workaround

[2018-11-09 13:41] p2rcoder commented on #11340
DB utf8_general_ci

[2018-11-09 13:45] p2rcoder commented on #11340
in demo 1.7.4.2 its work correct

[2018-11-09 13:59] khouloudbelguith commented on #11340
Hi @p2rcoder,

I did not manage to reproduce the issue with the last version 1.7.4.4.
https://drive.google.com/file/d/1JemCK5OMzEG6KYc7RW2gpmdomarE9cwv/view
Did installed fresh install 1.7.4.4 with Russia country? or did you import the pack localization Russia?
Thanks!

[2018-11-09 14:03] p2rcoder commented on #11340
I installed fresh PS and then template. Work correct after I change collation for this field https://www.screencast.com/t/iaAItwTPoBL to cp1251_general_ci but looks like that this problem at all places on the site... product title https://www.screencast.com/t/mqMcNZumeqV8 (also letter 'И')

[2018-11-09 14:15] davideapvd commented on #10423
@willy2m can you please describe what you do to fix this error? we have a similar error with the same dhlexpress module.
from what I understand the module interates upon product['quantity'] from $cart->getProducts() but when we are in the /order page ['quantity'] contains the product quantities in the warehouse (and we have a lot here). So probably the module should always iterate upon ['cart_quan

[2018-11-09 14:32] #11164 closed, assigned to jolelievre

[2018-11-09 14:45] marionf commented on #9782
@MathiasReker

You can reproduce the issue on 1.7.5.0 if you have an abandonned cart and if you delete the customer's address

[2018-11-09 14:51] LouToma opened #11341 "Module Manager : Module order inside a category and "see more" click"
**Describe the bug**
In module manager page, inside a category I click on "see more". Product order inside the category does change. If I had product 1, product 2, product n. When I click on "see more", i have product n, product n-1, etc.
It would be ideal then to order by A-Z order (by default) as long as product are not accessed. If a product is accessed (defined by the same rules as before in 1

[2018-11-09 14:58] matks commented on #11323
This sub-domain of prestashop is a gateway that performs operations using PayPal API before redirecting you to paypal. It looks like a temporary API failure lead to this issue.

It seems fixed now.

[2018-11-09 15:07] khouloudbelguith commented on #11340
@p2rcoder, could you please try to navigate to your BO => International => Translations => Select the "Russian" language and click on "Add or update a language" button.
Thanks to check & feedback.

[2018-11-09 15:13] colinegin commented on #11264
Sorry I did not get what you meant :)

We discussed with @marionf , do you think it could have a bad impact on performance if we reload a page every time a module (or several ones simultaneously) is uninstalled ?

[2018-11-09 15:31] jolelievre commented on #11264
well it will take a few seconds for the page to be reloaded, is it acceptable?

[2018-11-09 15:46] p2rcoder commented on #11340
I did this - nothing changed. https://www.screencast.com/t/C00gMKz3
I have several sites on this hosting and this DB - it is all OK

[2018-11-09 15:49] #9746 closed, assigned to nobody

[2018-11-09 15:53] Quetzacoalt91 commented on #11264
You may uninstall several modules in a single call, but I would recommend to target 1.7.6.0 for coming back on a page refresh. The ajax requests have been implemented since PS 1.7.

[2018-11-09 15:55] colinegin commented on #11264
Seems a lot if done for every uninstalled module.
Couldn't it be reloaded only when it detects MBO module ?

Otherwise can't we just simply add information on the page instead of the current message which is quite unclear ?

[2018-11-09 15:58] LouToma commented on #11331
I talked about this problem a few weeks ago to @TristanLDD who suggested to put the 2 buttons aside. is it possible to do it ?

[2018-11-09 16:08] linuxatico opened #11342 "Improved image management for avoiding duplicates"
**Is your feature request related to a problem? Please describe.**
I've developed a module for batch import of images for my store products: it scans for image files in a well known directory and cURL them via the Prestashop Webservice API `/api/images/products/` .
Every image has a pattern inside its name that is a substring of one or more product references, that means that more than one product

[2018-11-09 16:10] khouloudbelguith commented on #11340
@p2rcoder, did you check the encoding of your database?

[2018-11-09 16:20] khouloudbelguith commented on #11342
Hi @linuxatico,

Thanks for your suggestion.
@eternoendless, @PrestaShop/prestashop-core-developers what do you think of his suggestion.
Thanks!

[2018-11-09 16:34] grabelle opened #11343 "modifierWsLinkRewrite ... it can't work !"
Hi,
Prestashop 1.7.4.4
In classes/Product.php

**$this->link_rewrite is a string** ... could you explain what will do this code ??? Very strange and couldn't have been tested. Is prestashop 1.7 for production or is it better to wait ? It's just a question ...

    public function modifierWsLinkRewrite()
    {
        foreach ($this->name as $id_lang => $name) {
            if (empty($this->link_re

[2018-11-09 16:42] khouloudbelguith commented on #11343
@grabelle, did you have any issue due to this function?
Could you please add steps to reproduce it.
Thanks!

[2018-11-09 16:48] grabelle commented on #11343
Just imagine that you have 2 languages with id 1 and 2 ...
Product name "PIZZA"
Tools::link_rewrite($name) = "pizza"
$this->link_rewrite[1] = "i";
$this->link_rewrite[2] = "z";

[2018-11-09 16:48] grabelle commented on #11343
$this->link_rewrite must be an array ... not a string. But I guess it will impact other code

[2018-11-09 17:03] khouloudbelguith commented on #11343
ping @eternoendless @PrestaShop/prestashop-core-developers any ideas?
Thanks!

[2018-11-09 17:09] eternoendless commented on #11343
Hi @grabelle

If you look closely at the field declaration [in this piece of code]( https://github.com/PrestaShop/PrestaShop/blob/1.7.4.4/classes/Product.php#L387-L397), you'll notice the `"lang" => true` setting. It indicates that this property is language-dependent.

When the ObjectModel is loaded, it will go fetch this property in the related `_lang` table (`ps_product_lang` in this case) for a

[2018-11-09 17:09] #11343 closed, assigned to nobody

[2018-11-09 17:16] p2rcoder commented on #11340
cp1251_general_ci
and all other sites with the same encoding but they work without such issue
https://www.screencast.com/t/ftMRGHlPN8Lc

[2018-11-09 17:28] grabelle commented on #11343
@eternoendless : Thanks a lot for your explanation and your work.

[2018-11-09 17:40] eternoendless commented on #11327
Hi @MathiasReker, it should be, since the Back Office provides an option to disable it (scroll down the Traffic & SEO page).

Here's a very old, [related commit](https://github.com/PrestaShop/PrestaShop/commit/f5cf54ef3b2147edde59ff1d3bf574d148e43095) for history's sake. It goes way back to 1.5.5...

[2018-11-09 18:25] MathiasReker commented on #11327
I am not unsure how to enable or disable it. I am just a little scared about disable it due to security reasons. Do you think it is a bad idea to disable it or is it safe?

[2018-11-09 21:30] p2rcoder commented on #11340
I changed DB encoding to utf8_general_ci - didn't help

[2018-11-09 21:52] eternoendless commented on #9697
Fixed by #11345

Wordings weren't translatable because they were missing from the catalog due to a bug in our catalog extractor.

[2018-11-09 21:59] p2rcoder commented on #11340
problem present on clean install without any modules and templates...
db encoding: cp1251_general_ci
language during instalation: Russian
country: Belarus
all tables after instalation utf8_general_ci

in DB:
https://www.screencast.com/t/OUhplgZ0
https://www.screencast.com/t/fMmeWziEx7i

this is after clean install

[2018-11-09 22:33] p2rcoder commented on #11340
I have tried to change DB encoding  to utf8_general_ci before install PS - result the same

all charset variables:
https://www.screencast.com/t/6pqON0To

[2018-11-09 23:37] p2rcoder commented on #11340
1.7.3.4 - the same error
1.7.0.0 - all OK, installed without such problem https://www.screencast.com/t/gVYtfSO3u

please help to find workaround

[2018-11-10 01:03] GreatestShowman commented on #11277
Hello, this module don't works at all for prestashop 1.7.5.0, is it normal ?

[2018-11-10 07:20] dheerajwebkul opened #11346 "Menu font size changed on 'Theme & Logo' page"
**Menu font size changed on 'Theme & Logo' page**
On "AdminThemes" Controller, 'Theme & Logo' page, Admin left menu font design changed, Even page font design also changed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Design -> Theme & Logo'
2. Click on 'Theme & Logo' tab
4. See font size of the left menu, its smaller than the default

**Screenshots**
![stats ps175 beta](https://us

[2018-11-10 08:28] BenTen opened #11347 "Impossible to update 1.7.4.4"
Hello,

When I try to update from 1.7.4.3 to 1.7.4.4 with autoupgrade v4.4.1, nothing happen.

All the pre-Upgrade checklist is green, I click on Upgrade button, but the icone on the left top turn infinitly.

**Additionnal information**
PrestaShop version: 1.7.4.3
PHP version: 7.2.11
MySQL: mysqlnd 5.0.12-dev
Apache

[2018-11-10 12:13] dheerajwebkul commented on #10387
I am also facing this issue on V1.7.4.2, not able to install the 1-click upgrade module issue
See screenshot, even after login
![install_error](https://user-images.githubusercontent.com/19220745/48301210-27840100-e510-11e8-8df5-d1842db48037.png)

[2018-11-10 12:30] BenTen opened #11348 "Import a language pack manually"
I can see in the doc [http://doc.prestashop.com/display/PS17/Traductions](http://doc.prestashop.com/display/PS17/Traductions), there is "Importer un pack de langue manuellement" (_Import a language pack manually_)

Where is this section in PS 1.7.4.3?

There is Export but there is not Import.
What's the meaning to Export if we can't Import? (think)

[2018-11-10 18:20] Rolige commented on #11347
Hi @BenTen,

It is very likely that the problem is due to file permissions, try changing it to:
files: `0644`
folders: `0755`

If you don't know how, [here](https://www.rolige.com/en/blog/how-to-assign-the-correct-permissions-to-my-prestashop-files-and-folders-n7) a tutorial.

Regards!

[2018-11-10 18:46] Maofree commented on #11323
hi
yes now it is ok

thanks

[2018-11-10 20:54] novallis opened #11349 "Wrong Categoriy- nleft, nright in Multishop"
Nleft and nright values are wrong created in Multishop

Set all nleft and nrigth values to 0. Open Prestashop -> Shop 1 -> categories. Add new Category. Check values for nleft, nright in database. They are created for Shop 2. Do the same for Shop 2 -> nleft, nright are created for Shop 1.

I think because off this also Breadcrumps are displayed with a mix of categories from Shop 1 and Shop 2

**Ad

[2018-11-10 21:19] novallis commented on #11349
If you add (in the database) the highest nright value from shop 1 to nleft and  nright in Shop 2 all works as expected.

[2018-11-10 21:55] BenTen commented on #11347
Thank you to reply.

- [x] I thought that too, so I change it for:
- the modules folder
- the folder autoupgrade in adminxxx

- [x] I used the [phppsinfo.php by Pierre Rimbaud](https://github.com/PierreRambaud/phppsinfo) too, to check if there is something bad with my environment but it's full green.

- [x] By doubt, I tried to change php 7.2 to 7.1

But finally, the same problem happen.

[2018-11-10 23:38] WS-NL commented on #11274
reply from Warehouse theme :

sorry but your issue is not related to template.

once you replaced ps configuration lang, then you lost entire configuration of your modules, not only the themes one

[2018-11-11 00:03] bonzaii commented on #9959
Issue still exists in 1.7.4.4. Below example is while using "Featured products" module, v2.0.0 on classic theme. Happy to provide more info if required. Also happens on mobile devices.
![image](https://user-images.githubusercontent.com/974886/48307466-fc67d480-e544-11e8-9f93-c0ec7c063a3b.png)

[2018-11-11 02:43] BenTen opened #11350 "Search bar incomplete in BO"
Hello,

The search bar in BO in different for:
- index.php/product/catalog
https://tof.cx/image/VaJs1
- other page (index.php?controller=AdminDashboard for example)
https://tof.cx/image/VaD8V

Only in product, we can select which kind of thing we want search.

**Additionnal information**
PrestaShop version: 1.7.4.3
PHP version: 7.2.11

[2018-11-11 03:10] Rolige commented on #11350
Hi @BenTen,

You just have to press the magnifying glass icon and the categories will appear.

![image](https://user-images.githubusercontent.com/2866694/48308528-d6363a80-e52c-11e8-8a0d-7c6217d73e30.png)

Regards!

[2018-11-11 03:18] Rolige commented on #11347
@BenTen The upgrade module manages everything through Ajax requests, if you have already changed the file permissions and the problem persists, the only way to go deeper into the problem is unfairly inspecting the Ajax requests in the browser console, [here](http://www.techchanging.com/how-to-check-ajax-request-and-response-in-browser/) a tutorial for google chrome.

Regards!

[2018-11-11 06:00] BenTen commented on #11350
.... I didn't notice :/
But why it's not the same everywhere?

[2018-11-11 07:28] BenTen commented on #11347
Here the errors:
https://tof.cx/image/Vacyz

[2018-11-11 08:13] ballashop commented on #11225
Hi @khouloudbelguith @Quetzacoalt91 , unfortunately I still was not able to do the update, the error is similar:
[Ajax / Server Error for action backupFiles] textStatus: "error" errorThrown: "" jqXHR: ""
this time instead of **backupDb** is **backupFiles**.
I have also opened a ticket to the server customer service.
<img width="1452" alt="errore aggiornamento" src="https://user-images.githubuserco

[2018-11-11 08:41] rattala opened #11351 "unable to add attachments to a product \ item section"
**Describe the bug**
Inside the backend is impossible to add any attachment to a product item. The ADD button is disabled.
Tried to pickup .pdf - .jpg - docx -> same behaviour. Try to remove spaces from attachment's name and to shorten name string or description's string -> same result.
found the same issue in previous versions (tagged as "resolved"), look at here:
http://forge.prestashop.com/brow

[2018-11-11 09:23] ballashop commented on #11225
Hi,
I tried to do the update again, this time the system came up to the backup of the DB tables, but it stopped for about 30 minutes on
Database backup: 234 tables left ...
displaying this error:
[Ajax / Server Error for action backupDb] textStatus: "error" errorThrown: "" jqXHR: ""
![errore-backupdb-02](https://user-images.githubusercontent.com/28685316/48311151-cdc91880-e59b-11e8-9096-bb8379b5d4

[2018-11-11 14:17] rdy4ever opened #11352 "Allow themes to override jquery version"
**Is your feature request related to a problem? Please describe.**
I really don't understand the need to force the jquery version regardless of the theme used. The jquery version should have a default but themes should be able to override jquery. This just doesn't make sense, especially when the currently used jquery version has known vulnerabilities.
**Describe the solution you'd like**
I would p

[2018-11-11 14:41] Rolige commented on #11350
Because one is with the new symfony templates and others are not.

[2018-11-11 14:44] Rolige commented on #11347
It seems that the problem is the lack of jQuery, if you are using cache deactivate it as well as all the CCC compressions, this from the performance tab.

[2018-11-11 15:38] BenTen commented on #11347
no Cache | no CCC.
I forgot to say I'm in multishop (but I guess it's not related)

[2018-11-11 18:15] MathiasReker commented on #11352
👍

Btw, why not update jquery to the latest version for 1.7.5.x if it has known vulnerabilities?

[2018-11-11 18:20] kpodemski commented on #11352
It's not good idea. Think about modules and backward compatibility.

[2018-11-11 18:44] MathiasReker commented on #11352
@kpodemski I am not sure what the vulnerabilities are about, but if they are critical I would say safety first.

[2018-11-12 00:20] lilianamc commented on #11320
Hi @khouloudbelguith ,
Thank you very much for your help. It's working ok now.

Regards, Liliana from Colombia.

[2018-11-12 05:46] rbuelund opened #11353 "Product delivery not possible to save on product"
**Describe the bug**
When choose a special delivery company on a product it is not saved. The Green "Settings updated" is showed, but the setting is NOT saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to products
2. Click on Delivery
3. Scroll down to Delivery company and mark one of several
4. Press save
5. Go back to product

**Screenshots**
If applicable, add screenshots or scre

[2018-11-12 07:09] p2rcoder commented on #11340
I moved site to new hosting with php 7.2 - PS installed without such problem

[2018-11-12 08:12] khouloudbelguith commented on #11346
Hi @dheerajwebkul,

Thanks for your report.
These changes are made in this https://github.com/PrestaShop/PrestaShop/pull/8637, so we are able to navigate in the unwrapped menu and we can access any section.
1. At click on a 1st level entry, entries drop down, the background of the global section (entries + subentries) is changed
1.1 Picto of the 1st level entry switch to another color
1.2 Text of

[2018-11-12 08:26] tomlev commented on #10013
please check if PR https://github.com/PrestaShop/PrestaShop/pull/11103 solves this issue

[2018-11-12 08:37] khouloudbelguith commented on #11347
Hi @BenTen,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-11-12 08:46] marionf opened #11354 "Can't install 1.7.5.0 in Persian"
**Describe the bug**
Can't install 1.7.5.0 in Persian

**To Reproduce**
Steps to reproduce the behavior:
1. Try to install Prestashop 1.7.5.0 in Persian

It was workig in 1.7.4.3, maybe it's MBO ?

**Screenshots**
![capture d ecran_602](https://user-images.githubusercontent.com/13449658/48336119-d551f580-e65f-11e8-866b-4f6763ec29af.png)

**Additionnal information**
PrestaShop version: N/A
PHP vers

[2018-11-12 09:00] khouloudbelguith commented on #11350
Hi @BenTen,

@Rolige said, the dashboard page is not migrated to Symfony, it will be migrated in the next versions.
![image](https://user-images.githubusercontent.com/16067358/48336635-1696d500-e661-11e8-9467-2614aa48e51e.png)
But, the product page is migrated to Symfony page, so they have not the same behavior.
![image](https://user-images.githubusercontent.com/16067358/48336888-b7859000-e661-11e

[2018-11-12 09:00] #11350 closed, assigned to nobody

[2018-11-12 09:08] titamrtn opened #11355 "Installation fail: "Cannot download language pack "en""
**Describe the bug**
It is a fresh install of prestashop and i got this error at 23% "Cannot download language pack "en""

**To Reproduce**
Steps to reproduce the behavior:
Just install prestashop 1.7.4.3 with PHP 7.2 (i don't know if it's because of php version)

**Screenshots**
![screenshot from 2018-11-12 12 04 59](https://user-images.githubusercontent.com/5078563/48337167-46e76f00-e673-11e8-90

[2018-11-12 09:10] khouloudbelguith commented on #11348
Hi @BenTen,

You need to navigate to your BO => IMPROVE => International => Translations => scroll down, so you can find the "ADD / UPDATE A LANGUAGE" part, select your language & try to add a language.
![image](https://user-images.githubusercontent.com/16067358/48337405-23b4c380-e663-11e8-9675-b15b0a2f500a.png)
Or you can import a pack localization from the International => Localization page.
Tha

[2018-11-12 09:23] khouloudbelguith commented on #11352
Hi @MathiasReker,

@eternoendless said, unfortunately, we cannot upgrade Bootstrap and jQuery on the classic theme until the next major version. Bootstrap changed their layout system since alpha 6, which is a backward compatibility break that would affect all of the classic's child themes.
If you are concerned about these vulnerabilities, take a look at [Classic-Rocket](https://github.com/PrestaSh

[2018-11-12 09:27] khouloudbelguith commented on #11355
Hi @titamrtn,

I did not manage to reproduce the issue with PS 1.7.4.3 & PHP v7.2.
The installation is ok.
![image](https://user-images.githubusercontent.com/16067358/48338263-7b542e80-e665-11e8-8d1a-6c2735994cdb.png)
But, it could be a problem of a network which is not available, as described in this issue: #10456 Thanks to check again & feedback.

[2018-11-12 09:27] BenTen commented on #11348
Ok for that but how to "Import a language pack manually"?
There is is this option in the doc.

How can I import an export I made before?

[2018-11-12 09:33] khouloudbelguith commented on #11353
Hi @rbuelund,

I did not manage to reproduce the issue with the last version 1.7.4.2 / PHP v7.2.8.
I attached a video record.
https://drive.google.com/file/d/1UlWW4JDfH9-b2_Rop6fxQl6OADkFxZhI/view
Thanks to check & feedback.

[2018-11-12 09:34] Quetzacoalt91 commented on #11347
Hi,

I wouldn't say that jQuery isn't available. Actually, an error in a javascript script (from another module) makes the other unable to run and the upgrade javascript is among them.

I'd rather have a look at the installed modules instead, and disabling them temporarily.

[2018-11-12 09:54] Quetzacoalt91 commented on #11277
Hi,

Yeah, and the objective is to make this module working on 1.7. Thanks to @firstred, that's a work in progress in https://github.com/PrestaShop/blockwishlist/pull/28

[2018-11-12 10:01] titamrtn commented on #11355
Network work fine. But i tried the _"workaround"_ set `.... $is_addons_up = false;` but still have the same result.

[2018-11-12 10:06] khouloudbelguith commented on #11351
Hi @rattala,

I did not manage to reproduce the issue with the last version 1.7.4.4 / PHPv7.2.8.
I used a Google Chrome Version 69.0.3497.81 (Build officiel) (64 bits)
I attached a video record
https://drive.google.com/file/d/1SrxF4QplpjExa-ChPo_54FiYSOZ-yN76/view
![image](https://user-images.githubusercontent.com/16067358/48340498-0ab01080-e66b-11e8-9bde-30b4fd8f4ce8.png)
Thanks to check & feedba

[2018-11-12 10:13] khouloudbelguith commented on #11355
@titamrtn, if you try to enable the debug mode & re-install the shop, is there any exception?
You can enable the Debug Move using an FTP client (for instance the free Filezilla tool) to edit the config/defines.inc.php file. Find the following line in the file:

`define('_PS_MODE_DEV_', false);`
… and change it to:
`define('_PS_MODE_DEV_', true);`
Thanks!

[2018-11-12 10:17] khouloudbelguith commented on #11349
Hi @novallis,

How did you set all nleft and nrigth values to 0?
Manually from the Database?
Thanks!

[2018-11-12 10:32] khouloudbelguith commented on #11320
Hi @lilianamc,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-12 10:32] #11320 closed, assigned to nobody

[2018-11-12 10:34] khouloudbelguith commented on #9959
Hi @bonzaii,

Yeah, we are aware of this issue, it added to our bug roadmap.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2018-11-12 10:42] titamrtn commented on #11355
There is no exception, just a deprecated warning on step 3 :"System compatibility"
[code]

[2018-11-12 10:43] titamrtn commented on #11355
Also i tried download and install ps 1.7.4.4 and i have the same issue

[2018-11-12 10:56] khouloudbelguith commented on #11274
Hi @wgsol2018,

With your previous ps_configuration_lang (don't replace it), could you please try to enter this SQL query.
`INSERT INTO `ps_configuration_lang` (`id_configuration`, `id_lang`, `value`, `date_upd`) VALUES ('277', '1', 'maintenance', '2018-11-12 00:00:00');`
![image](https://user-images.githubusercontent.com/16067358/48343270-3aaee200-e672-11e8-86c2-a112f9fc7c4a.png)
Thanks to check

[2018-11-12 11:09] khouloudbelguith commented on #11355
Hi @titamrtn,

About the `Deprecated: Function create_function() is deprecated in /var/www/html/ps/var/SymfonyRequirements.php`, it is a different issue. Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9409 to solve the issue.
It is fixed in the next release 1.7.5.0.
What is the country/language did you chose during the install?
Thanks!

[2018-11-12 11:14] MathiasReker opened #11356 "How can we deal with known vulnerabilities?"
**Describe the bug**
How can we deal with known vulnerabilities?

How about add X-XXS header?

[code]

And maybe patch the used version against:
https://github.com/twbs/bootstrap/pull/23679
https://github.com/jquery/jquery/pull/2588
https://github.com/jquery/jquery-ui/commit/f2854408cce7e4b7fc6bf8676761904af9c96bde
https://github.com/jquery/jquery-ui/commit/7e9060c109b928769a664dbcc2c17bd21231b6f3

[2018-11-12 11:16] titamrtn commented on #11355
I tried both french and english. Got similar error Cannot download language pack "fr/en". There is no default language pack included in installation? I think it can be good to have default language(maybe english) which can be used when download failed.

[2018-11-12 11:32] marionf commented on #9774
@khouloudbelguith I just tried on 1.7.5.0 and I can't reproduce this issue

[2018-11-12 11:32] #9774 closed, assigned to nobody

[2018-11-12 11:35] khouloudbelguith commented on #10387
@dheerajwebkul, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-11-12 11:38] #11322 closed, assigned to jolelievre

[2018-11-12 11:41] khouloudbelguith commented on #11340
Hi @p2rcoder, It seems that your issue is not a PrestaShop's core bug but most likely a server configuration.
I did not manage to reproduce the issue with Ps1.7.4.4 / language Russian / country: Belarus
Despite our several trials, we could not reproduce your issue with the provided information.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve

[2018-11-12 11:41] #11340 closed, assigned to nobody

[2018-11-12 11:43] khouloudbelguith commented on #11348
@BenTen, this function exists only in the PS1.6
![image](https://user-images.githubusercontent.com/16067358/48345449-5cab6300-e678-11e8-914e-fe385c9364db.png)
In the PS1.7, this function doesn't exist.
@marionf, we should update the documentation Prestashop? or it could an improvement to add in the PS1.7?
Thanks!

[2018-11-12 11:46] khouloudbelguith commented on #11355
@titamrtn, is there any errors in your PHP file log?
Thanks!

[2018-11-12 12:03] titamrtn commented on #11355
Nothing in php and apache2 log

[2018-11-12 12:03] PierreRambaud commented on #11356
It's an idea but you can't force everyone to block a page if the browser "think" it's a XSS.
We need to update dependencies but not now, we can't introduce B/C breaks before 1.8.

[2018-11-12 12:21] jolelievre commented on #11152
I tried a lot of times but could not reproduce it..

[2018-11-12 12:22] jolelievre commented on #11142
I tried a bunch of times but only could reproduce it once.. couldn't reproduce it another time nor try to fix it

[2018-11-12 12:25] MathiasReker commented on #11356
Okay, I understand.

[2018-11-12 12:25] #11356 closed, assigned to nobody

[2018-11-12 12:40] Peterits commented on #10013
Hello the team !
I sell only to professionals and I come to bring you some errors of displays on 1.7.3.x to 1.7.5.x!
In addition to display errors all along the order, in the shopping cart and on the order confirmation, when customer groups are displayed in HT, there is also a display problem in the customer's history and in the detail of the order.
The total amount must always be the subtotal tax

[2018-11-12 13:03] didi-2018 opened #11359 "1.7.4.3 reserved products after creating order slip without "book in stock""
Hi to everybody,

if a costumer sends back a product and an credit-slip was created without choosing "book in stock" (german: "auf Lager buchen")
![image](https://user-images.githubusercontent.com/44971218/48349104-8fa72400-e683-11e8-82e1-03619465abb5.png)

product is set in stock management on status "reserved"

![image](https://user-images.githubusercontent.com/44971218/48349068-70a89200-e683-11

[2018-11-12 13:05] Peterits opened #11360 "Display error when client groups are Tax excluded"
Hello the team !
I sell only to professionals and I come to bring you some errors of displays on 1.7!
In addition to display errors all along the order see [BOOM-2330], in the shopping cart and on the order confirmation, when customer groups are displayed in tax excl., there is also a display problem in the customer's history and in the detail of the order.
The total amount must always be the subt

[2018-11-12 13:05] matks commented on #11356
What about allowing people to enable this ? As an option ?

[2018-11-12 13:14] rbuelund commented on #11353
Actually I can save nothing at all !! The products where imported from Prestashop 1.6.1.20 But I can see that lots of others have problems with saving.. and no errors !! This is really bad !
https://www.prestashop.com/forums/topic/604058-i-cant-save-changes-to-my-products-in-prestashop-17/?page=2

[2018-11-12 13:16] #11229 closed, assigned to jolelievre

[2018-11-12 13:18] khouloudbelguith commented on #11152
@jolelievre, you need to click on the "Reorder" button before Drag & drop some products.
Thanks!

[2018-11-12 13:21] khouloudbelguith commented on #11353
@rbuelund, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-b

[2018-11-12 13:25] khouloudbelguith commented on #11355
@titamrtn, could you try to install Prestashop in another host, check & feedback.
Thanks!

[2018-11-12 13:32] MathiasReker commented on #11356
@matks yes, that could be nice! There could be a section in BO to configure security headers.

Example of output in httacess file:

[code]

It should be possible to select values for each header. Is it overkill since it is easy to hardcode?

[2018-11-12 13:33] novallis commented on #11349
Yes, because breadcrumbs displayed incorrectly (mix form 2 Shops) and i try to recreate nleft, nright

[2018-11-12 13:35] mchbani commented on #9809
Hi
I have the same issue with 1.7.4.4. any update please?

[2018-11-12 13:41] rbuelund commented on #11353
Host is Unoeuro
Prestashop version 1.7.4.4
    Server setup:
        Operating system: Linux linux235.unoeuro.com 2.6.32-954.3.5.lve1.4.58.el6.x86_64 #1 SMP Fri Oct 19 05:28:14 EDT 2018 x86_64
        Type and version of webserver : Apache
        Version of PHP: 7.2.10
        Version of MySQL/MariaDB: 5.7.23-23-log
        Make sure you have emptied PrestaShop’s cache - I did!
    Browser setup:

[2018-11-12 13:41] jolelievre commented on #11152
Yes I know, and I was able to reorder without issues.
Anyway there is an issue related to this feature as well https://github.com/PrestaShop/PrestaShop/issues/10345
Let's see when it will have been merged if you can still reproduce this bug

[2018-11-12 13:42] MathiasReker commented on #11356
doc: https://infosec.mozilla.org/guidelines/web_security

[2018-11-12 13:44] khouloudbelguith commented on #9809
Hi all,

This issue is in progress, it is assigned to our developer.
Thanks for your patience & your understanding!

[2018-11-12 13:48] PierreRambaud commented on #11356
Watch out:

The best way is to secure the core and its dependencies.

[2018-11-12 14:03] MathiasReker commented on #11356
I retract my suggestion before about being able to configure all security headers - it will be overkill.

[2018-11-12 14:11] marionf commented on #11348
@colinegin wdyt ?
In 1.6 it was possible to export and import translations
In 1.7 we can only export (which is I think useless if we can't import it)

[2018-11-12 14:18] khouloudbelguith commented on #11359
Hi @didi-2018,

When you create an order with the ProductA(qty=1), in the stocks page, a product is set in stock management on status "reserved".
![image](https://user-images.githubusercontent.com/16067358/48352788-f4677c00-e68d-11e8-841e-c3c017b12285.png)
In the ps_stock_available table the physical_quantity = quantity + reserved_quantity
But the reserved_quantity represents the quantity of produ

[2018-11-12 14:21] marionf commented on #11332
Instead to have 1 option for brands & suppliers, solution will be to have 2 options:
- 1 for suppliers disabled by default, this way link isn't displayed in /sitemap page
- 1 for brands enabled by default

@colinegin wdyt ?

[2018-11-12 14:22] LouiseBonnard commented on #11298
@marionf, thanks! In Crowdin, the string only exists in the _Admin.Actions_ file and it has been changed ten days ago so that it can mean "Réorganiser" instead of "Commander à nouveau" in both French and French (CA) translation projects. And I can confirm it has been taken into account in Crowdin. Also, to avoid misinterpretation, I have just added a comment for this string on all catalogs in orde

[2018-11-12 14:35] khouloudbelguith commented on #11360
Hi @Peterits,

Thanks for your report.
I manage to reproduce the issue with the PS1.7.4.4.

- Display tax in the shopping cart in enable in the International /Taxes page
- Price groups display is Tax excluded

In the order history, the total is displayed only with tax excluded, it should be more clear.
![image](https://user-images.githubusercontent.com/16067358/48353702-5f19b700-e690-11e8-886c-ecd

[2018-11-12 14:39] marionf commented on #11298
It's all good in French in 1.7.4.3 :)
We will wait for translation in other languages :)

![capture d ecran_605](https://user-images.githubusercontent.com/13449658/48354095-25957b80-e691-11e8-8190-d231a81cfbf8.png)

![capture d ecran_606](https://user-images.githubusercontent.com/13449658/48354099-29c19900-e691-11e8-8845-eaa88800d862.png)

But I still have the problem in 1.7.5.0
@eternoendless is

[2018-11-12 14:41] khouloudbelguith commented on #11353
Hi @rbuelund,

Could you please check those issues:
#9677: you need to check if your product tag field contains " symbol
#9954: you need to check the description of your product
#9717: you need to check if the meta description is more than 255 characters in product
It can be an issue similar.
Thanks to check & feedback.

[2018-11-12 14:46] khouloudbelguith commented on #11349
@novallis, without changing all nleft and nrigth values to 0 from the Database, I did not manage to reproduce the issue with the last version 1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1WPP__OOYZC5VcjMTKpWZDgL4tLyJ2uwH/view
Thanks to check & feedback.

[2018-11-12 14:55] didi-2018 commented on #11359
Hi,
This has nothing to do with an open order, but with it as described above.
Please do the following steps:
1.) go to any shipped order
2.) select: "return product"
![image](https://user-images.githubusercontent.com/44971218/48354706-9e490780-e692-11e8-9b46-f6faaed3e2d2.png)
3.) choose any product of that order
4.) choose "create credit slip"
5.) choose NOT "book on stock"
![image](https://user-

[2018-11-12 15:02] rafzkontorsmobler opened #11361 "1-click upgrade from 1.6 to 1.7 on Prestashop error"
I use 1-click upgrade on Prestashop to upgrade from 1.6 verison to 1.7. But when I want to upgrade there comes an error saying; [Ajax / Server Error for action unzip] textStatus: "error " errorThrown:"temporarily overloaded " jqXHR: "

PrestaShop version: 1.6.1.11
PHP version: 7.0

I have also bought the MigrationPro module.

How do I solve this problem so i can upgrade, or is there another soluti

[2018-11-12 15:04] khouloudbelguith commented on #11361
Hi @rafzkontorsmobler,

What is the exact of the 1-click upgrade did you use?
Thanks!

[2018-11-12 15:09] rafzkontorsmobler commented on #11361
![rrrr](https://user-images.githubusercontent.com/44974760/48355884-51b2fb80-e695-11e8-8644-13ce278a795d.png)

[2018-11-12 15:15] khouloudbelguith commented on #11361
@rafzkontorsmobler, so it is the latest downloaded from addons?
1-click upgrade v4.4.1?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in /autoupgrade/tmp/log.txt
you can find it in the Project_Folder/Admin_folder/autoupgrade/tmp path.
Thanks!

[2018-11-12 15:16] Peterits commented on #11360
Hello, That's exactly it, thanks, if it can be fixed on version 1.7.6.0 at the same time as the command display, it would be cool!
I was able to solve the problem of the orders and the basket by modifying the theme, but I am not on code in the time, but if it can help merchant, it works for the moment, I give you the code:

To add and display the price including tax on the orders and carts of the

[2018-11-12 15:17] Quetzacoalt91 commented on #11361
I guess you're using a shared environment to run your shop. `temporarily overloaded` is written in your error message, which means your hosting proving voluntarily prevent too many "greedy" PHP requests to run on your website.

[2018-11-12 15:43] khouloudbelguith commented on #11360
@Peterits,
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-11-12 15:45] khouloudbelguith commented on #11359
Hi @didi-2018,

Thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1U0MlfeQIzAb74MF2t0Oz3R8E94x8qi0C/view
Thanks to check & feedback.

[2018-11-12 15:51] rbuelund commented on #11353
_tag table:
(65, 1, 'dansk møbeldesign'),
(66, 1, 'hynder'),
(67, 2, 'dansk møbeldesign'),
(68, 2, 'hynder');

Attached _product_lang table:
[xxx_product_lang.zip](https://github.com/PrestaShop/PrestaShop/files/2572567/xxx_product_lang.zip)
No meta_description in the table that is longer than 200 chars

Another thing: If I try to duplicate a product i get this error:

"Oops! An Error Occurred
The

[2018-11-12 16:15] didi-2018 commented on #11359
thanks for testing it! But you are using 1.7.4.4 and I use 1.7.4.3

[2018-11-12 16:17] Peterits commented on #11360
The code is not complete but if it helps!

[2018-11-12 16:18] rbuelund commented on #11353
Is the problem because of the use of æ,ø,å - in the link_rewrite ?? This worked in 1.6.20 - as this is an export from 1.6.20 ???

[2018-11-12 16:18] khouloudbelguith commented on #11353
@rbuelund, if you enable the mode debug, is there any exception displayed?

[2018-11-12 16:19] rbuelund commented on #11353
Did you see the exception further up this thread ?

[2018-11-12 16:20] khouloudbelguith commented on #11353
@rbuelund, we just commented in the same time, I will check & feedback.

[2018-11-12 16:22] khouloudbelguith commented on #11353
@rbuelund, in the BO => Shop Parameters => Traffic & SEO,  in the "SET UP URLS" part, you need to check if the `Accented URL` is enabled?

[2018-11-12 16:24] didi-2018 commented on #11359
I tested it again with "Re-Stock products" and order status "refunded"

Could you please make a test with that informations

[2018-11-12 16:26] rbuelund commented on #11353
Good God! That did the trick.. BUT it would be nice with a Prestashop that gave a little more information about such error, when trying to save a product.. maybe a suggestion for a new feature ;-)

Thank you very much for your help on this...

[2018-11-12 16:31] khouloudbelguith commented on #11353
@rbuelund, in our doc Accented URL => PrestaShop is able to produce URL with special characters, for products with non-ASCII names.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-12 16:31] #11353 closed, assigned to nobody

[2018-11-12 16:36] matks commented on #10502
@marionf I think it will be done in https://github.com/PrestaShop/PrestaShop/pull/11135 but we'll make sure it is indeed :)

[2018-11-12 16:55] khouloudbelguith commented on #11359
@didi-2018, yes when I change the order to the refunded status, the quantity of reserved product will be changed from 0 to 1.
In our documentation, you can find that Reserved stock represents the quantity of products that are currently in an open customer order that has not been shipped yet. In other terms, these products are physically in your storage but are not available for sale anymore => the

[2018-11-12 17:07] didi-2018 commented on #11359
But products which are returned and refunded, should not be reserved again. Reserved for what? A costumer who returns a products do not want to by that product again. Such an order is after return and refund closed. Don´t you think so?

Is there a solution to get all these "reserved" products from returned orders out of that status?

[2018-11-12 18:18] colinegin commented on #11041
Hello @tlhuillier ,

Thanks for your feedback. Unfortunately, it's not easy to move from one URL format to another during minor versions as there are risks to break things down when upgrading.

We will be rethinking the URL format for the next major version. Do not hesitate to share your ideas !
In the meantime, you can find different modules available on the Addons marketplace which enable you to

[2018-11-12 18:27] ballashop commented on #11225
hi @khouloudbelguith @Quetzacoalt91,
we believe that the problem is of the server, the assistance advises us to make backups and update manually. I've always done everything via one click module, do you have any suggestions for that manual?
Thanks

[2018-11-12 22:25] rattala commented on #11351
Hi :-) I checked again and ...now it partly works, maybe a magical update or mess with the browser with the code handling?
But however I can't save the page from which I have updated the attachment list and also it's poor that I can't remove attachments by the GUI interface,..
Please look at here: https://drive.google.com/file/d/1gVb5ZMYn10cDx9kGib48TDY2eCThV0EP/view?usp=sharing
and here:
https://

[2018-11-13 01:36] Rolige commented on #11325
Hi @RomanXT,

I have used PS 1.6 in at least 25+ production stores and I can tell you that the stock works perfectly in a clean store, so the problem must be due to...
- a core modification
- third-party modules
- override file
- or some cron script changing the stock

Try to review these points and you will probably find the problem in your store.

Regards!

[2018-11-13 02:17] BenTen commented on #11347
@Quetzacoalt91 In performance > Debug mode, I disabled non PrestaShop modules and disabled all overrides.
But nothing changed.

[2018-11-13 07:52] khouloudbelguith commented on #11359
@didi-2018, the term reserved in this case is that these products are physically in your storage but are not available for sale anymore, they not be reserved again but they are expired (not in use)
Thanks!

[2018-11-13 07:58] khouloudbelguith commented on #11225
Hi @ballashop, you can follow this link: https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/ for more details about to upgrade Prestashop.
Thanks!

[2018-11-13 08:08] khouloudbelguith commented on #11347
@BenTen, this function doesn't work, you can follow this link: https://github.com/PrestaShop/PrestaShop/issues/9965 for more details.
You need to disable non PrestaShop modules manually.
Thanks!

[2018-11-13 08:14] khouloudbelguith commented on #11351
@rattala, I didn't manage to reproduce the issue, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the foll

[2018-11-13 09:26] Lndaw opened #11363 "Slow product saving"
**Describe the bug**
Saving the product is very slow, takes about 20s.
When the merchant save a product, the saving process is too long.

**To Reproduce**
1. Go to 'Product page'
2. Save the product

**Additionnal information**
PrestaShop version: 1.7.4.2
PHP version: 7.1.23

[2018-11-13 09:28] khouloudbelguith commented on #11363
Hi @Lndaw,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-

[2018-11-13 09:37] #9697 closed, assigned to eternoendless

[2018-11-13 09:41] kpodemski commented on #9697
@eternoendless you sure? have you tried to add new string to translate to this included file?

[2018-11-13 09:46] Lndaw opened #11364 "PS 1.7, wrong shop URL in back-office on subdomain"
**Describe the bug**
A clear and concise description of what the bug is.

One of our customers experience strange behaviour in the shop URL in the back-office, causing problems using the back-office.
The problem only occur on the admin pages that uses the new 1.7 link structure, e.g. the product admin page and the module admin page.
The URL to the product admin page should be
https://boekwinkel.le

[2018-11-13 09:53] khouloudbelguith commented on #11364
Hi @Lndaw,

With fresh install PS1.7.4.2, I did not manage to reproduce the issue.
Could you please navigate to your BO => Shop Parameters => Traffic & SEO, check the SHOP URL:
- Shop domain
- SSL domain
- Base URI

Thanks to check & feedback.

[2018-11-13 10:02] khouloudbelguith commented on #11364
@Lndaw,

Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2018-11-13 10:18] WS-NL commented on #11274
Thanks you very much. It is working now. Finally
One more thing is. when we clear cache, we get a white page,
when we enable debug and clear cache there is no white page, and cache is cleared

[2018-11-13 10:37] khouloudbelguith commented on #11274
Hi @wgsol2018,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-11-13 10:40] khouloudbelguith commented on #11274
@wgsol2018, if you click twice on the Clear cache button => Error 500, we are aware of this issue, it is added to our bug roadmap: https://github.com/PrestaShop/PrestaShop/issues/11105
Thanks!

[2018-11-13 10:50] rahuljj123 opened #11365 "Prestashop Module issue"
**Describe the bug**
When i tried to install prestashop theme it is showing **Cannot install module smartblog. The module is invalid and cannot be loaded.**
I have purchased new theme from prestashop addons and they are not replying.
Please help me out on this, as i have been lacking in this..

Theme link:    https://addons.prestashop.com/demo/FO32068.html

**To Reproduce**
Steps to reproduce the

[2018-11-13 10:59] martinznv opened #11366 "Not possible use direct URL to product combination"
**Describe the bug**
I found weird behavior in 1.7.4.4. with opening direct URL of product combination. It is necessary for Google shopping when sending them products with separate URL. It is necessary when you have URL of "black" combination, shop will display "Black" product choosen.

**To Reproduce**
Steps to reproduce the behavior:
1. Find product with combination. Open it. It will open defaul

[2018-11-13 10:59] khouloudbelguith commented on #11365
Hi @rahuljj123,

The error is NOT caused by PrestaShop. The theme tries to hook a module, it does not provide, not already installed on the shop and which is not available for free on the marketplace.
Our developer made the error messages a little bit clearer with https://github.com/PrestaShop/PrestaShop/pull/9089 and this is the best that he can do.
As it's not the default theme, provided by Pres

[2018-11-13 10:59] #11365 closed, assigned to nobody

[2018-11-13 10:59] kpodemski commented on #11365
Contact theme or module author. It's not issue related to PrestaShop.

[2018-11-13 10:59] antoinemineau commented on #9998
Hi,
any update on this @khouloudbelguith ?
This is a very big issue, I think there is no plugins that fixes this problem too...
If you have an idea on how to fix this, I am interested

[2018-11-13 11:01] rahuljj123 commented on #11365
Yes i know but can u help me out.

[2018-11-13 11:02] rahuljj123 commented on #11365
I am new to prestsahop can u please let me know they are not replying...

[2018-11-13 11:03] khouloudbelguith commented on #9998
@agnesdennetiere, sorry not yet.
@colinegin, @marionf, what you think? this issue should be specified.
Thanks!

[2018-11-13 11:08] khouloudbelguith commented on #11365
@rahuljj123, you need to find the module which causing this issue, in fact, which module the theme tries to hook it.
Thanks!

[2018-11-13 11:10] khouloudbelguith commented on #11366
Hi @martinznv,

Thanks for your report.
I did not manage to reproduce the issue with the last version stable 1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1nrWLpa0n4cKrDMe9thEaw38Vp0pQkJV7/view
Thanks to check & feedback.

[2018-11-13 11:19] rahuljj123 commented on #11365
I deleted that module, but after that another module started showing this error......

[2018-11-13 11:20] khouloudbelguith commented on #11365
@rahuljj123, you need to check all modules one by one.
Thanks!

[2018-11-13 11:20] rahuljj123 commented on #11365
Ohk thanks..

[2018-11-13 11:30] khouloudbelguith commented on #10903
Hi @arisschl,

Sorry for the delay.
I manage to reproduce the issue with the last version 1.7.4.4.
In the Cart rule" details, when "Shipping included" is selected => in FO, in the checkout process,  there are no carriers available for your delivery address.
https://drive.google.com/file/d/1EpoUOhGrSNfHcQm6p9QJ60iP9Tsq_KKf/view
We will see how to fix it.
Thanks!

[2018-11-13 11:32] lvancrayelynghe commented on #11329
This is a major regression (you should add that tag), there are legal constraints in France for sales period (next winter sales should start at 8 in the morning for example)

[2018-11-13 11:33] khouloudbelguith commented on #10526
Hi @amtriorix,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-11-13 11:34] khouloudbelguith commented on #10902
@Falataya, any news?
Thanks!

[2018-11-13 11:35] khouloudbelguith commented on #10923
Hi @remagalot,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-13 11:35] #10923 closed, assigned to nobody

[2018-11-13 11:35] khouloudbelguith commented on #10958
Hi @oldipp,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-13 11:35] #10958 closed, assigned to nobody

[2018-11-13 11:36] khouloudbelguith commented on #10400
Hi @mathieuhen,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-13 11:36] #10400 closed, assigned to nobody

[2018-11-13 11:37] khouloudbelguith commented on #10963
Hi @belpixel,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-13 11:37] #10963 closed, assigned to nobody

[2018-11-13 12:03] johstrom opened #11367 "ContextErrorException after removing products"
**Describe the bug**
I removed 200+ products in one go in the Prestashop backend - after this action everything below the description of the product, i.e. footer hooks etc, is missing on frontend. In debug mode, I got ContextErrorException error. See additional information for whole debug info.

This has now happened for me several times... I can't find a solution to the issue.

**To Reproduce**
S

[2018-11-13 12:46] didi-2018 commented on #11359
so there is no way to see which are reserved for open orders and which are expired. I still do not understand the meaning behind it. What did the programmer think about programming such a thing? Can I change something in the status "refunded" that the product is no longer "reserved"?

I really need a solution to get all these products out of the "reserved" state.

[2018-11-13 13:20] khouloudbelguith commented on #11359
@marionf, what do you think, in our [documentation](http://doc.prestashop.com/display/PS17/Stock+overview), Reserved stock represents the quantity of products that are currently in an open customer order that has not been shipped yet. In other terms, these products are physically in your storage but are not available for sale anymore.
Is that possible to add another term for `products are physical

[2018-11-13 13:25] didi-2018 commented on #11359
I found the solution! ! !
Choose in order status "refunded" the field "set order on shipped"
![image](https://user-images.githubusercontent.com/44971218/48416143-ae72ec80-e74f-11e8-8285-7fc02284d485.png)
And thats it! no more reserved products! hahahaha.....so simple to do :-)))))

[2018-11-13 13:25] colinegin commented on #11294
@LouiseBonnard do you think country states could be added for translation in Crowdin ?

[2018-11-13 13:27] khouloudbelguith commented on #11359
@didi-2018, so can I close the issue? since it is fixed?
Thanks!

[2018-11-13 13:28] didi-2018 commented on #11359
Yes please close it, but as "solved" if it possible

[2018-11-13 13:28] khouloudbelguith commented on #11367
Hi @johstrom,

Could you please try to disable the ps_viewedproduct module & try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-11-13 13:29] khouloudbelguith commented on #11359
@didi-2018, thanks!

[2018-11-13 13:29] #11359 closed, assigned to nobody

[2018-11-13 13:44] marionf commented on #10387
I can install 1click upgrade & theme custo with success on 1.7.3.4 & 1.7.4.4

It must be related to the unavailability of the API, maybe we can add a check of the API answer in BO if we have a 200 or 400/500 like proposed by @matks

[2018-11-13 14:04] #10876 closed, assigned to nobody

[2018-11-13 14:04] johstrom commented on #11367
Hi,
you are completely right - if I remove the cache and disable the ps_viewedproduct module the site work.

But if I enable the module, it still doesn't work, even with the cache removed. I suppose it tries to fetch a deleted product..? Shouldn't the "Empty cache" button in Performance tab release all cache to avoid such?

What do I do to be able to use the module again?

With kind regards,
 - Jo

[2018-11-13 14:14] khouloudbelguith commented on #11367
@johstrom, could you please try to uninstall the ps_viewedproduct module, you need to delete the main ps_viewedproduct folder from /Project_Folder/modules/ & try to install it again.
Thanks to check & feedback.

[2018-11-13 14:28] johstrom commented on #11367
Hi, I uninstalled and deleted the ps_viewproduct folder and installed it again. Same issue, though.

[2018-11-13 14:39] khouloudbelguith commented on #11367
@johstrom, I did not manage to reproduce the issue with PS1.7.4.4 & the ps_viewedproduct v1.1.0 - by PrestaShop.
What the exact version of the ps_viewedproduct module did you use?
Thanks!

[2018-11-13 14:48] IntoTheBlueAt opened #11368 "Checkbox "show condition" always checked when editing product"
**Describe the bug**
When editing an existing product, on the information tab, the checkbox for for "show condition" is always checked, even if it was unchecked before. When saving the product, the "show condition" flag in the database is set to 1 again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "edit product"
2. Click on "information"
3. Scroll down to "show condition" checkbox

[2018-11-13 15:00] khouloudbelguith commented on #11368
Hi @Barbwire,

I did not manage to reproduce the issue with the last version 1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1pb0QsQaUrTcmgvEGlJ-CjNFNaGbs-wxk/view
Thanks to check & feedback.

[2018-11-13 15:08] johstrom commented on #11367
@khouloudbelguith It's ps_viewedproduct v1.1.0 - I just search in the "Selection" tab in Manage installed modules and clicked Install.

[2018-11-13 15:08] Rolige commented on #11368
@Barbwire Maybe your hosting have some kind of cache enabled in MySQL and/or php, if so, this behavior is completely normal and the changes have no immediate effect.

Try clearing the cache from the performance tab.

[2018-11-13 15:10] marionf commented on #9795
The issue when I enable multistore, whatever if I select a specific shop or "all shop", I have as many links as shops and as many "Content pages" is solved by https://github.com/PrestaShop/ps_linklist/pull/48

It stays this issue with linkwidget when multistore is enabled:
If I choose a specific shop, the link will appear only for this shop in FO.
If I choose "all shop", the link will appear for a

[2018-11-13 15:16] IntoTheBlueAt commented on #11368
Hello, thank you for your quick reply!
It seems to be caused by the fact that I imported all my products (directly to database) from an old store (PS1.6). If I manually uncheck and save or vice versa in BO it works as expected.

![grafik](https://user-images.githubusercontent.com/10073297/48422588-44fada00-e75f-11e8-8f63-66b31e9a0626.png)

Sorry for the german interface :-)

[2018-11-13 15:24] khouloudbelguith commented on #11368
Hi @Barbwire,

You can find the full schema for 1.7.4.4 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.4.4/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2018-11-13 15:28] khouloudbelguith commented on #11367
@johstrom, after some tests, I manage to reproduce the issue.
**Steps to reproduce the issue**

1. Install the ps_viewedproduct module
2. Configure it
3. Go to the Catalog => Product page => Select all products & click on the Delete action
4. Create a new product
5. Click on preview => an exception is displayed.

![image](https://user-images.githubusercontent.com/16067358/48425337-e9cbe600-e764-11

[2018-11-13 15:30] Elsximplets opened #11369 "Shopping cart is not working properly"
**Describe the bug**
The add to cart button behaves differently depending on whether you are adding items or packs (managed with Advanced pack 5)
The following buttons do the action they should do but do not refresh the page automatically:
Add to cart in product page (simple article) direct link: https://elsximplets.cat/tasses/45-tassa-quins-pebrots.html
-Icon to add to cart on top of miniature of

[2018-11-13 15:33] IntoTheBlueAt commented on #11368
Hello @khouloudbelguith
Thank you for leading me into the right direction, it is definitely a problem caused from the data import.
I will close the issue as there is none :-)
Thank you and have a nice day!

[2018-11-13 15:33] #11368 closed, assigned to nobody

[2018-11-13 15:40] khouloudbelguith commented on #11368
@Barbwire, you are welcome.
Feel free to open a new one when needed.
Thanks!

[2018-11-13 16:02] khouloudbelguith commented on #11369
Hi @Elsximplets,

I did not manage to reproduce the issue with PS1.7.5.0beta1 / PS1.7.4.4
I attached a video record.
https://drive.google.com/file/d/1JFVZZMC0V6NNXPy3gfdWlPcZYO8KDsJQ/view
Thanks to check & feedback

[2018-11-13 16:23] bluants opened #11370 "Prestashop and Ajax Add to Cart"
**Describe the bug**
Prestashop and ajax cart
When I click on "add to cart" button there is no action on the page. The cart icon in the header does not update to show the product added  (if I refresh the page, products are in the cart).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://bluants.com/home/22-1040-tax-prep-for-individuals.html'
2. Click on 'Add to Cart'
3. Scroll up

[2018-11-13 16:32] marionf commented on #11367
1. Enable module viewed product
2. Go on FO and click on many products
3. Delete a viewed product
4. Click on a product in FO and see exception

![capture d ecran_613](https://user-images.githubusercontent.com/13449658/48427928-2d751e80-e76a-11e8-9f59-10adb290924f.png)

[2018-11-13 16:46] khouloudbelguith commented on #11370
Hi, @bluants,

![image](https://user-images.githubusercontent.com/16067358/48428519-7bd6ed00-e76b-11e8-94f6-5cc964c6622f.png)
It is an error from another module, you need to disable custom modules one by one, check, clear cache & feedback.

[2018-11-13 16:51] marionf commented on #10903
@khouloudbelguith I can't reproduce the issue, I see all carriers with a cart rule with shipping included

https://drive.google.com/file/d/1aDjGgAX2O_rGw5LMXZZe3dq6gafBPMI-/view?usp=sharing

[2018-11-13 16:58] khouloudbelguith commented on #10903
@marionf, can you please check if you have the issue when the cart rule is created without any code?
![image](https://user-images.githubusercontent.com/16067358/48429378-4f23d500-e76d-11e8-9102-e4d544cae9db.png)
Thanks!

[2018-11-13 17:01] matks commented on #11191
First POC here: https://github.com/PrestaShop/PrestaShop/pull/11371

[2018-11-13 17:02] Peterits opened #11372 "Problème Dropdown employee in BO"
Hello the team !
Problème Dropdown employee in BO
In news pages symfony:

 - Orders:
                - Invoices
                - Delivery Slips

 - Catalog:
                 - Products
                 - Stock management

 - Modules:
                   - Module manager
                   - Modules catalog

 - Design:
                - Themes Catalog
                - Positions

 - Shipping:

[2018-11-13 17:06] khouloudbelguith commented on #11372
Hi @Peterits,

Here's the PR: #11104 to fix the issue.
Your ticket is a duplicate of #11042
So, I close it.
Thanks!

[2018-11-13 17:06] #11372 closed, assigned to nobody

[2018-11-13 17:06] khouloudbelguith commented on #11372
Duplicate of #11042

[2018-11-13 17:15] bluants commented on #11370
Thank you for your response. That worked perfectly. I found the module that
was causing the problem. Thank you again!

On Tue, Nov 13, 2018 at 11:46 AM khouloudbelguith <notifications@github.com>
wrote:

--
<http://www.bluants.com>
Visit us: www.bluants.com
Call us:1-800-550-3997

[2018-11-13 17:34] marionf commented on #10903
Same thing

https://drive.google.com/file/d/11__YnsWpRoDhoy-nQCUDDV_z55vvKilt/view?usp=sharing

[2018-11-13 17:58] WS-NL commented on #11274
This is not fixing the clear cache white page,
strange thing is when debug is enabled we can clear cache

[2018-11-13 18:16] tengav opened #11373 "Edit Product 1.7.4.4"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
If we go to the backend on products to edit or create new, we get an Error 500 loading also takes forever.

We have to say that we have nearly 90000 items in the shop and lots of attachments to PDF documents

It just seems that too many MySQL queries are being produced and it

[2018-11-13 20:02] #11232 closed, assigned to nobody

[2018-11-13 20:45] ballashop commented on #11225
Hi @khouloudbelguith,
sorry form my late, thanks a lot for the link.
I'm going to read.
Thanks again.

[2018-11-13 22:31] naps1saps opened #11374 "Major forum issues missing form elements"
I can't find any way to report this other than here.

I am trying to update my question on the forum or post a new question and the message box is missing in every browser I try.  I cannot access the the site menu on my phone the button does nothing but I think I'm logged in.  There is something seriously wrong.  I click reply and it says required form missing.  I try to edit but there is no box t

[2018-11-13 23:05] V41F commented on #15203
@efernandesng @Quetzacoalt91
I did it. Now everything is down. Front show error 500. Back office I can not load. pls help me. I deleted all files from FTP and upload my backup and nothing change:-(((((

[2018-11-14 06:32] titamrtn commented on #11355
I got  same result in another host. I also tried in another computer with same config. Still have the same error.

[2018-11-14 07:34] BenTen commented on #11347
I think I found the issue.

When we deactivate Notifications in "Advanced Parameters", the first error javascript happen for a line:
_(for my part, only "new order" was activate, so the first error was for the line):_
`  var show_new_customers = ;`
of
[code]
Anyway, I activated the three notifications, the Autoupgrade seems work fine.

**Conclusion: I can't upgrade if the notifications are not act

[2018-11-14 07:47] khouloudbelguith commented on #11370
Hi @bluants,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-14 07:47] #11370 closed, assigned to nobody

[2018-11-14 08:04] khouloudbelguith commented on #11374
Hi @naps1saps,

We have made a major upgrade of the forum (+ default theme), you can follow this [link](https://www.prestashop.com/forums/topic/937296-maintenance-of-the-forums/) for more details.
About your issue, l will transfer it.
Thanks!

[2018-11-14 08:09] khouloudbelguith commented on #10903
Hi @marionf,

Steps to reproduce the issue
1. Create cart rule
1.1 without code
1.2 In the condition Tab "Minimum amount 100 EUR & Shipping included
1.3 In the actions tab, apply any action => Apply a discount
2. Go to FO, add to cart a product which price = 70 EUR < 100 EUR (must be < 100 EUR) => so the cart rule is not applied
3. Complete your order => in step 3: SHIPPING METHOD => Unfortunately

[2018-11-14 08:14] titamrtn commented on #11355
Hi @khouloudbelguith ,

Is there any way to download language pack manually and skip this part of installation?

[2018-11-14 08:17] khouloudbelguith commented on #11373
Hi @tengav,

We are aware of this issue and we are working on it.
Now, this issue is in progress, it is assigned to our developer Jocelyn Fournier, he is working on it.
Thanks for your patience!
Your ticket is a duplicate of #9809
So, I close it.
Thanks!

[2018-11-14 08:17] #11373 closed, assigned to nobody

[2018-11-14 08:17] khouloudbelguith commented on #11373
Duplicate of #9809

[2018-11-14 08:23] khouloudbelguith commented on #11225
Hi @ballashop,

You are welcome!
So, can I close this issue?

[2018-11-14 09:06] khouloudbelguith commented on #11347
Hi @BenTen,

Thanks a lot for your feedback.
I manage to reproduce the issue with the 1-click upgrade v4.4.1.
When we disable Notifications in "Advanced Parameters" ( any option), an error is displayed in the console &we cannot do the upgrade, the click action on the "Upgrade PrestaShop now!" just scroll the page to the top.
![image](https://user-images.githubusercontent.com/16067358/48471401-1ed3

[2018-11-14 09:10] marionf opened #11375 "Changing primary domain name no longer reindexes simplified URLs"
**Describe the bug**
Changing primary domain name no longer reindexes simplified URLs
Clearing cache doesn't change anything

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > SEO&URLs
2. Enable simplified URLs
3. Change the shop domain
4. Go to FO & you will see you have 404 errors for images
5. Try to empty cache in advanced parameters > Performance
6. Go to FO & you w

[2018-11-14 09:17] khouloudbelguith commented on #11355
Hi @titamrtn,

Try to remove ./app/Resources/translations/en-US/en-US.zip and retry. Look like something goes wrong during download.
Thanks!

[2018-11-14 09:27] titamrtn commented on #11355
There is no ./app/Resources/translations/en-US/ directory. the only directory is /app/Resources/translations/default

[2018-11-14 09:33] ballashop commented on #11225
Hi @khouloudbelguith,
can I re-open if I didn't find a solution?
Thanks a lot.

[2018-11-14 09:34] khouloudbelguith commented on #11225
@ballashop, that's ok, this issue is still open.
Waiting for your feedback.

[2018-11-14 09:40] ballashop commented on #11225
Hi @khouloudbelguith,
thanks, about the link you wrote before, there is a paragraph that I didn't understand well.
I mean this: Note about `vendor` folder.
honestly I did not understand which folder refers to the "vendor" one.
I ask you the courtesy to give me directions please.
Thanks.

[2018-11-14 09:44] khouloudbelguith commented on #11274
Hi @wgsol2018,

Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

and then turn off both caches and then try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to check and feedback.

[2018-11-14 09:50] khouloudbelguith commented on #11225
@ballashop, you can find the vendor folder under you Project_Folder/vendor.
![image](https://user-images.githubusercontent.com/16067358/48474568-1cc0b900-e7fb-11e8-8fb8-bd0c7bf2ddce.png)
Thanks!

[2018-11-14 09:55] khouloudbelguith commented on #11355
@titamrtn, are you trying to install the shop behind a proxy server?
It could be a problem & it will be stopped by the proxy filters.
Thanks!

[2018-11-14 09:57] Quetzacoalt91 commented on #15203
You should enable the dev mode to have more details on the actual issue. :)

[2018-11-14 10:04] ComonSoft commented on #9700
Hi, this bug was present in 1.6 versions. According to me this is not a minor issue, because it has a sad effect to customer, accounting and IRS.

[2018-11-14 10:04] ballashop commented on #11225
Hi @khouloudbelguith
I didn't find this folder, we don't have any "vendor" folder into the main project path.
Maybe is it in the update package?
I'm waiting your kind response.
Thanks

[2018-11-14 10:18] khouloudbelguith commented on #11225
@ballashop, yes, this folder exists only in the PSv1.7, it doesn't exist in the PS1.6.
Thanks!

[2018-11-14 10:19] khouloudbelguith commented on #9700
@ComonSoft, this is a list of issues added to our bug roadmap.

[2018-11-14 10:32] ballashop commented on #11225
Ok, thanks, but we need to update to a latest version of 1.6
from 1.6.1.20 to 1.6.1.23
WE are not ready to change to 1.7 sorry.
That paragraph is not useful for updating version 1.6, is'n it?
Thanks

[2018-11-14 10:42] khouloudbelguith commented on #11225
@ballashop, There are two ways to upgrade PrestaShop1.6:

- Automatic
- [Manual](http://doc.prestashop.com/display/PS16/Manual+update)

For more information you can follow this documentation: http://doc.prestashop.com/display/PS16/Updating+PrestaShop
Thanks!

[2018-11-14 10:45] ballashop commented on #11225
Ok, but the link you wrote before:
https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/
is it just for 1.7?
Thanks

[2018-11-14 10:53] khouloudbelguith commented on #11225
ping @Quetzacoalt91

[2018-11-14 10:56] Quetzacoalt91 commented on #11225
Yes, these explanations are also valid on PrestaShop 1.6 and older versions.

[2018-11-14 10:59] ballashop commented on #11225
hi, @Quetzacoalt91 @khouloudbelguith,
thanks I'm going to try.
I will contact you as soon as I have more info.
Thanks a lot

[2018-11-14 11:01] khouloudbelguith commented on #11225
@ballashop, Thanks!
Waiting for your feedback.

[2018-11-14 11:01] dheerajwebkul opened #11379 "Multiple carriers with same name & delay key will not be display"
**Describe the bug**
If two carriers with the same name and transit time (delay) then only one carrier display when we edit product for assign carrier, This is because we are creating the key with name and delay which can be same for multiple carriers. See this code

Code: https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Form/Admin/Product/ProductShipping.php#L71

Some sh

[2018-11-14 11:06] ballashop commented on #11225
the local upgrade test with MAMP was successful by one click module, which means that the problem lies with the online server.
Thanks

[2018-11-14 11:11] khouloudbelguith commented on #11379
Hi @dheerajwebkul,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.4 / PS1.7.5.0beta1.
https://drive.google.com/file/d/17O9oZ72YwPubtC8B6a-yxrGNaCwL-Wnt/view
We will see how to fix it.
Thanks!

[2018-11-14 11:13] khouloudbelguith commented on #11225
@ballashop, so in your local, the issue is solved?

[2018-11-14 11:20] ballashop commented on #11225
HI @khouloudbelguith @Quetzacoalt91,
at this point I think so.
thanks for your patience.

[2018-11-14 11:22] khouloudbelguith commented on #11225
@ballashop, It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-14 11:22] #11225 closed, assigned to nobody

[2018-11-14 11:42] dheerajwebkul commented on #11379
Thanks @khouloudbelguith

This is because it displays by Symfony ChoiceType
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Form/Admin/Product/ProductShipping.php#L147

And ChoiceType will render key as a text.

So it looks like to change the way we display.

[2018-11-14 11:54] johstrom commented on #11367
Looking forward to a solution to this. @khouloudbelguith : I got a thread notification with the question "do you need to delete all your products to a have a fresh shop?" from you, but I can't find it here.

The answer to that is: not at the moment, but yes, I have had that need earlier, and will have it in the future. I used the original PS Cleaner module to accomplish this, but got this issue wi

[2018-11-14 12:32] khouloudbelguith commented on #11367
Hi @johstrom,

The issue is added to our bug roadmap, we will see how to fix it.
Also, the PS Cleaner module is a solution to delete your products, customers,...
Thanks!

[2018-11-14 12:38] khouloudbelguith commented on #11379
@dheerajwebkul, Would you be willing to make a pull request on GitHub with a code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-11-14 12:43] dheerajwebkul commented on #11379
@khouloudbelguith Yes, I can,

I think we have to add one more unique key to display like because displaying the same name is not feasible, we can append any id with it.

PS1750 Beta (Pick-up in store) - 1
PS1750 Beta (Pick-up in store) - 2

But I don't think PrestaShop will accept it :(, May they can fix this is a more better way

[2018-11-14 13:56] matks opened #11383 "[SF Migration] Checklist "Migrate a BO page to Symfony""
1) Get assigned the right Issue from [the migration Kanban](https://github.com/PrestaShop/PrestaShop/projects/3)
2) Read specs if there are some, look at the page (outside: how it behaves in the browser, inside: read the code) to find usecases, behaviors, hooks being displayed
3) Perform the migration. Split the page in several Pull Requests (example: one Pull Request for the listing, one Pull Req

[2018-11-14 14:24] BenTen opened #11387 "Issue after install 1.7.4.2 to 1.7.5.0"
From 1.7.4.2, I tried to install 1.7.5.0 with the archive [beta 1 of github](https://github.com/PrestaShop/PrestaShop/releases).
I put in the folder admin/autoupgrade/download/

I choose local archive in the upgrade module and selected the archive.

After install, the module told me it was impossible to upgrade the database.

When  I return to my shop, I was in 1.7.4.4 and Debug mode Deactivate.
I

[2018-11-14 14:26] marionf opened #11388 "Installation of module in Carriers page"
**Describe the bug**
Try to install Mondial relay or Chronopost in Carrier page
The module isn't installed and you are redirected to Module Catalog page because errors are not displayed in legacy pages
Should be solved when the carrier page will be migrated

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Delivery > Carriers
2. Click on install for Mondial Relay or Chronopost
3. You are

[2018-11-14 14:28] marionf commented on #11388
This issue happens because Mondial Relay and Chronopost can't be installed

![capture d ecran_619](https://user-images.githubusercontent.com/13449658/48489245-e5660280-e822-11e8-9492-54e57cb7c780.png)

![capture d ecran_618](https://user-images.githubusercontent.com/13449658/48489246-e5660280-e822-11e8-9cd1-d977afc88e3e.png)

The error should be displayed on Carrier page and I shouldn't be redirec

[2018-11-14 14:29] khouloudbelguith commented on #11387
Hi @BenTen,

We have some issues when upgrading to the PS1.7.5.0beta1.
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #11142
So, I close it.
Thanks!

[2018-11-14 14:29] #11387 closed, assigned to nobody

[2018-11-14 14:29] khouloudbelguith commented on #11387
Duplicate of #11142

[2018-11-14 14:43] matks opened #11389 "[SF Migration] Improve form theme"
Type: tech-issue

Todo:
- [x] Improve form theme https://github.com/PrestaShop/PrestaShop/pull/13875
- [ ] [SF Migration] Allows a module to add a field to a form, customize the rendering, choose where it appears, all of this easily #13876

As stated by @mickaelandrieu: for now, the developers are forced to override the view when they add a simple form field to configuration pages. With a consiste

[2018-11-14 14:43] matks commented on #10602
Form theme issue: https://github.com/PrestaShop/PrestaShop/issues/11389

[2018-11-14 14:44] marionf commented on #10585
Issue on Carrier page: #11388
If it can be solved during page migration it will be good, otherwise we will do it later

[2018-11-14 14:50] eternoendless commented on #11352
As @kpodemski said, we cannot upgrade jQuery to the next major version right now because of the compatibility issues that would create with current themes and modules, which depend on its current behavior. We will upgrade it on the next major version of PrestaShop.

On your @rdy4ever's idea of making jQuery overridable:

While at first it may seem nice for flexibility, in the end it would be prett

[2018-11-14 14:52] marionf commented on #11298
It's all good also in 1.7.5.0 so PR #11328 can be closed

[2018-11-14 14:52] #11298 closed, assigned to nobody

[2018-11-14 15:03] naps1saps commented on #11374
Appears it was resolved overnight.  I didn't see any notifications of maintenance so maybe pass on to include a banner during major maintenance tasks :)On Nov 14, 2018 12:04 AM, khouloudbelguith <notifications@github.com> wrote:Hi @naps1saps,
We have made a major upgrade of the forum (+ default theme), you can follow this link for more details.
About your issue, l will transfer it.
Thanks!

—You a

[2018-11-14 15:05] #11374 closed, assigned to nobody

[2018-11-14 15:13] Rolige commented on #11347
Hi @BenTen,

Try this...

In the file: `/classes/controller/AdminController.php`

Change this:
[code]

To this:
[code]

Clear cache and check if fix the issue.

[2018-11-14 15:14] shahin0x opened #11392 "wrong translation in admin panel (Persian-fa)"
Hello
Translation of fifth item of SELL section(Stats) is correct in AdminNavigationMenu.xlf file, but panel shows translation of "States" instead of "Stats"

[https://i.postimg.cc/j5w7sxVk/stats.jpg](url)

`File: classes/lang/KeysReference/TabLang.php:113</note>
      </trans-unit>
      <trans-unit id="b8464cdd84b5f068ad72bf5c4f32163d" approved="yes">
        <source>States</source>
        <tar

[2018-11-14 15:23] khouloudbelguith commented on #11347
Hi @Rolige,
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-11-14 15:28] khouloudbelguith commented on #11392
Hi @shahin0x,

Thanks for your report.
What is the exact language did you use? did you installed your shop with which language/country?
Thanks!

[2018-11-14 15:41] Rolige commented on #11347
@khouloudbelguith to be honest I have not tested my fix suggestion, if @BenTen or you can corroborate it, I gladly to send the PR.

[2018-11-14 15:45] shahin0x commented on #11392
Persian Language (fa)

[2018-11-14 16:35] khouloudbelguith commented on #11392
Hi @shahin0x,

Thanks for your feedback.
I manage to reproduce the issue with PS1.7.4.4.
The `Stats` is showed `استان ها` which is wrong.
![image](https://user-images.githubusercontent.com/16067358/48497043-a7bda580-e833-11e8-8b78-3076815d3842.png)
@LouiseBonnard what do you think? it could be fixed in Crowdin
Thanks!

[2018-11-14 16:38] LouiseBonnard commented on #11392
@khouloudbelguith, it can not because it is all right in Crowdin, then I guess that it is a bug... I asked @shahin0x to open an issue on GitHub to see it fixed.

[2018-11-14 16:41] khouloudbelguith commented on #11392
@LouiseBonnard thanks!
@marionf, what do you think?

[2018-11-14 16:46] mrabsinthe opened #11395 "rror: Access to undeclared static property:"
**Describe the bug**
HTTP 500 Internal Server Error in BO

**To Reproduce**
Steps to reproduce the behavior:
1. enable Debug mode
2. create a DB backup
3. select any db backup using a checkbox on the left
3. using Bulk actions - click Delete selected
4. click OK
5. Error: Access to undeclared static property: PrestaShopBackup::$definition

**Screenshots**
![screenshot_2018-11-14 error access to un

[2018-11-14 16:56] #11112 closed, assigned to jolelievre

[2018-11-14 17:20] sitte opened #11396 "Add total_shipping_tax_excl and total_shipping_tax_incl in email data in /classes/PaymentModule.php"
**Is your feature request related to a problem? Please describe.**
No way to use total shipping tax excl in order_conf email.

**Describe the solution you'd like**
In Shop where everything is tax excluded its inconsistency

**Describe alternatives you've considered**
overriding is not easy/imposible and total_shipping_tax_excl and total_shipping_tax_incl are right in class

**Additional context**

[2018-11-14 17:22] khouloudbelguith commented on #11395
Hi @mrabsinthe,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.4.
But I did not manage to reproduce in the PS1.7.5.0.
So the issue will be fixed in the next release 1.7.5.0.
https://drive.google.com/file/d/1INoq8TEbxmIN1O4xC99HMQrp_CRTH8ww/view
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-14 17:22] #11395 closed, assigned to nobody

[2018-11-14 17:23] philoupin commented on #10853
Hi @khouloudbelguith ,

I have the same issue after upgrading PS 1.7.4.2 to 1.7.4.4
I have compared all DB tables and there are no tables which I am missing. Any idea how to track down the issue? If TWIG is not up to date, then is there a way to update it?

Many thanks for your help!
P.

[2018-11-14 17:24] khouloudbelguith commented on #11396
Hi @sitte,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-11-14 17:31] sitte commented on #11396
it's my first pull, I hope it's properly prepared: https://github.com/PrestaShop/PrestaShop/pull/11397

[2018-11-14 17:31] rdy4ever commented on #11352
Hi, @eternoendless
I was thinking that by separating jquery from core.js, two things would happen:
1. In most use cases, all themes and modules would still be able to rely on the default jquery 2.2.4 included in js/jquery folder by default. Nothing changes here.
2. If a theme developer makes his theme using a higher jquery version than the default, he just has to include it in it's theme_name/js/j

[2018-11-14 17:48] philoupin commented on #10786
Hi @scoreggino,

do you recall which tables were different? I am in the same situation and I seem to have all tables here that are in the PS 1.7.4.4 distribution....

many thanks!
P.

[2018-11-14 18:07] shahin0x commented on #11392
i found problem. its in database ps_tab_lang table.
![ps_tab_lang](https://user-images.githubusercontent.com/45041106/48502635-427aac00-e855-11e8-8cef-43686ea5992c.jpg)

[2018-11-14 18:14] shahin0x commented on #11392
it happens just if the default language be Persian. in case of installing Persian language manually, translation appears correctly

[2018-11-14 22:57] ProBackup-nl opened #11398 "The buggy Noto Sans font files need to be updated to Version 2.001"
**Describe the bug**
Version 2.000;GOOG;noto-source:20170915:90ef993387c0 of the Noto Sans font contains bugs. Among them [the Noto backtick bug](https://github.com/googlei18n/noto-fonts/issues/736). The font bug was introduced in PrestaShop with aa7ea39, see https://github.com/PrestaShop/PrestaShop/pull/6875, which included version 1.04

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2018-11-15 07:49] khouloudbelguith commented on #11398
Hi @ProBackup-nl,

I did not manage to reproduce the issue with the last version 1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1UsmnSox4u1BM0Po9kdSDwbSnsCu0EHr7/view
Thanks to check & feedback.

[2018-11-15 07:52] khouloudbelguith commented on #11392
@shahin0x, thanks for this clarifications.

[2018-11-15 08:06] khouloudbelguith commented on #10853
Hi @philoupin,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-11-15 08:11] WS-NL commented on #11274
Thanks,

This is not working.
same issue

[2018-11-15 08:45] khouloudbelguith commented on #11274
Hi @wgsol2018,

In the Advanced Parameters => Performance page, "Disable all overrides" option is enabled or disabled?
If yes, is enabled, try to disable, check & feedback.
Thanks!

[2018-11-15 08:49] philoupin commented on #10853
Hi @khouloudbelguith,
thank you very much for your help. I have just sent you the log.txt by mail, let me know if you did not get it. I repeat here again what I wrote for others who might encounter the same problem:

I have tried to install a completely new/clean PS 1.7.4.4 and then tested the newly **installed** DB with my own upgrdated PS 1.7.4.4 and I go the same error. When I tried to use the

[2018-11-15 09:03] khouloudbelguith commented on #10853
Hi @mikecastrodemaria,

No, I didn't receive any mail yet.
Did you use any custom module could cause this issue?
Thanks!

[2018-11-15 09:06] marionf commented on #11331
@TristanLDD can you provide asap a mock-up or specify margin ?

[2018-11-15 09:17] philoupin commented on #10853
Okay, I will reply again to the email notification of your post I received from github. I would prefer not to post the log publicly. It is possible that the problem is caused by a module, however,don't have anything "custom", just official modules.

[2018-11-15 09:23] khouloudbelguith commented on #10853
Hi @philoupin,

You can provide me the log by email.
My address mail: khouloud.belguith@prestashop.com
Thanks!

[2018-11-15 09:39] Gionny996 commented on #10786
@philoupin I have your same problem

[2018-11-15 09:41] philoupin commented on #10786
I am currently getting help in this thread which apparently treats the same issue: https://github.com/PrestaShop/PrestaShop/issues/10853

[2018-11-15 09:41] ballashop opened #11399 "Double order with the same transaction ID (paypal payment method)"
**Describe the bug**
Dear staff,
we receive two identical order with the same transaction ID.
Orders have a gap, one from the other, of a few seconds!

order 1 - 14/11/2018 18:46:08
order 2 - 14/11/2018 18:46:13

We contacted the customer, he had no problems during the transaction.
We have forwarded the same request to the server service and to PayPal one.
Have you ever had a similar problem?
Than

[2018-11-15 09:48] Gionny996 commented on #10853
Anche io ho lo stesso identico problema, non penso che sia causato da un modulo, però posso mandarti anche io tutti i moduli che ho attivi, ma penso più che altro che sia dovuto all'aggiornamento dalla versione 1.7.4.2 alla 1.7.4.3

[2018-11-15 09:49] khouloudbelguith commented on #10853
@Gionny996, thanks to update your comment in English.

[2018-11-15 09:50] Gionny996 commented on #10853
I also have this problem, but it happens to me in the item "buy-sell tools"

[2018-11-15 09:52] TristanLDD commented on #11331
Hi,

We should keep the 2 buttons on large screens and go back to the 1.7.4 display on small screens when the design breaks:

![capture d ecran 2018-11-15 a 10 42 46](https://user-images.githubusercontent.com/27484094/48544558-22ce9c80-e8c4-11e8-9329-91ed8becdd85.png)

[2018-11-15 09:53] khouloudbelguith commented on #10853
@Gionny996, did you made also an upgrade? from which PS version? what is the exact version of the 1-click upgrade did you use?
Thanks!

[2018-11-15 09:53] philoupin commented on #10853
I have tried to replace some folders of my PS 1.7.4.4 updated installation with the clean new installation of 1.7.4.4 which does not show this error. So far no success. I have replaced these folders:
app
classes
controllers
modules
src
themes
tools
vendor

So I guess the problem (or the solution) lies not in these folders unless it is a combination of things. Can't the error be tracked down with t

[2018-11-15 09:56] dheerajwebkul commented on #11331
@TristanLDD exactly, which I explained in my last reply in another way :)
https://github.com/PrestaShop/PrestaShop/issues/11331#issuecomment-437310156

Thanks

[2018-11-15 10:03] Gionny996 commented on #10853
I have updated twice from 1-click upgrade, once on the official website, once again on the trial one. But on both sides it gives me the same error. But I'm interested in solving on the test site, the version is 1.7.4.4.

[2018-11-15 10:04] Gionny996 commented on #10853
@philoupin in previous tickets they solved and the error that was in the db.

[2018-11-15 10:07] khouloudbelguith commented on #10853
@Gionny996, thanks to check in your side if you have any missing columns in your Database.

[2018-11-15 10:11] Gionny996 commented on #10853
Which columns should I check?

[2018-11-15 10:13] Gionny996 commented on #10853
can I send you some screen with all columns?

[2018-11-15 10:15] dineshbadrukhiya opened #11400 "Can't configure a linklist module"
**Describe the bug**
Can't configure a linklist module

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  Module manager > Link List
2. Click on 'Configure'
3. Internal server 500 error

**Screenshots**

![screenshot-localhost-2018 11 15-15-44-28](https://user-images.githubusercontent.com/40850057/48546079-61c51800-e8ed-11e8-873e-8fba6f65c8b8.png)

**Additionnal information**
PrestaShop

[2018-11-15 10:15] philoupin commented on #10853
I will again install a clean 1.7.4.4 DB and diff the structure with my DB. I will post the result here.

[2018-11-15 10:16] khouloudbelguith commented on #10853
@Gionny996 you can find the full schema for 1.7.4.4 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.4.4/install-dev/data/db_structure.sql
Thanks!

[2018-11-15 10:17] dheerajwebkul commented on #11331
@marionf and @TristanLDD
I have also one doubt, What is the difference between these two design, why you changed the design in V1.7.5.0

You have split the button and add "Other" with the arrow, V1.7.4 just don't have "Other", I think V1.7.4 is the best design

See this screenshot,

![download 4](https://user-images.githubusercontent.com/19220745/48546216-cbddbd00-e8ed-11e8-9fa0-0ee73e0b468d.png)

[2018-11-15 10:18] ProBackup-nl commented on #11398
@khouloudbelguith Which Noto fonts are installed on your machine locally?

In case the "Noto Sans Regular" is there, remove/disable it. Otherwise the local font takes priority.

Here two images from Firefox 60.3.0esr & 1.7.4.4 to show that the issue is there:
![presta-admin-product](https://user-images.githubusercontent.com/515451/48547229-6f1cdb00-e8ca-11e8-84aa-a84be19768fa.png)
![product-previe

[2018-11-15 10:19] khouloudbelguith commented on #11399
Hi @ballashop,

I did not manage to reproduce the issue with 1.6.1.23 & the PayPal module v3.11.6.
I created two orders at the same time with different customers, but the orders are successfully created without errors.
![image](https://user-images.githubusercontent.com/16067358/48546292-44ca1e00-e8c8-11e8-9ddf-6a3b7845850b.png)
Are there any errors in your log file?
Thanks!

[2018-11-15 10:21] Gionny996 commented on #10853
Excuse me, now what should I check?

[2018-11-15 10:22] philoupin commented on #10853
@Gionny996 forget comparing that "by hand" with your installation, you will never find all the differences. I will do a diff here and let you know the result.

[2018-11-15 10:23] Gionny996 commented on #10853
Thanks

[2018-11-15 10:26] khouloudbelguith commented on #11400
Hi @dineshbadrukhiya,

I did not manage to reproduce the issue with PS1.7.5.0beta1 & the Link Widget module v2.1.5 by PrestaShop.
I attached a video record.
https://drive.google.com/file/d/10HcodFkHvxRXmUrwcYJ8iFaswJHGPf8-/view
What is the exact version of the link widget module did you use?
Thanks!

[2018-11-15 10:29] khouloudbelguith commented on #10853
Hi @mikecastrodemaria,

[code]
In your log file, I found that the upgrade was done successfully.

[2018-11-15 10:32] dineshbadrukhiya commented on #11400
I'm using Link List  module v2.1.5.

[2018-11-15 10:34] khouloudbelguith commented on #11400
@dineshbadrukhiya, could you please try to uninstall this module, delete the link widget module folder, clear cache, check & feedback.
Thanks!

[2018-11-15 10:37] ballashop commented on #11399
Hi @khouloudbelguith,
thanks to reply me, yes, we have a mailchimp error.
"MailChimp error: A cart with the provided ID already exists in the account. url:..."
How can I send you a log file?
Is it possible in private mode?
Thanks

[2018-11-15 10:37] dineshbadrukhiya commented on #11400
Okay. I will update you.

[2018-11-15 10:40] grabelle opened #11401 "Admin - Product supplier"
Hi,
I have created one supplier in the BO.
I can't see on the product sheet (any tabs) the field to specify the supplier ... where is it ?
Thanks for your help.

Prestashop 1.7.4.4

[2018-11-15 10:41] khouloudbelguith commented on #11399
@ballashop, so this issue occurs due to the mail chimp module?
This is a previous ticket: http://forge.prestashop.com/browse/BOOM-5486 about this issue.
Thanks to check & feedback.

[2018-11-15 10:42] khouloudbelguith commented on #11400
@dineshbadrukhiya, thanks!
Waiting for your feedback.

[2018-11-15 10:45] dineshbadrukhiya commented on #11400
After uninstalling not able to access module manager page.

![test](https://user-images.githubusercontent.com/40850057/48547856-933fe280-e8f1-11e8-962e-03dd92c45359.png)

[2018-11-15 10:46] ballashop commented on #11399
Thanks @khouloudbelguith,
I'm going to contact the module Mailchimp developer.
I return to write soon what they told me
Thanks

[2018-11-15 10:48] khouloudbelguith commented on #11401
Hi @grabelle,

You can find it, in the BO => Catalog => Products => product page => Options Tab => scroll to the buttom of the page & you can find it.
I attached a video record.
https://drive.google.com/file/d/1TxboQCb_3-as47rEPzolOldQ6I-FwZNg/view
Thanks to check & feedback.

[2018-11-15 10:49] khouloudbelguith commented on #11399
@ballashop, thanks!
Waiting for your feedback.

[2018-11-15 10:55] khouloudbelguith commented on #11400
@dineshbadrukhiya, it is ok in my case.
https://drive.google.com/file/d/1_BPh2wf4CnJGMmajP4FX8UXllWIglwe3/view
Could you please try to remove the ps_linklist module folder into your path Project_Folder/modules/
Thanks!

[2018-11-15 10:55] dineshbadrukhiya commented on #11400
Hello @khouloudbelguith
I have uninstalled and cleared cache. After re-installing it facing error as in screenshot below.

![screenshot-localhost-2018 11 15-16-23-57](https://user-images.githubusercontent.com/40850057/48548495-16ae0380-e8f3-11e8-96a0-39b78c100e84.png)

[2018-11-15 10:57] khouloudbelguith commented on #11400
@dineshbadrukhiya, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-11-15 11:01] dineshbadrukhiya commented on #11400
@khouloudbelguith I did it manually.

[2018-11-15 11:02] Quetzacoalt91 commented on #11347
Hi, this will be done in the module, I found out these variables are also defined in it: https://github.com/PrestaShop/autoupgrade/blob/900017bd5831becde0e55cfd5fd4191ed20533e1/views/templates/main.twig#L2-L7

[2018-11-15 11:08] khouloudbelguith commented on #10853
Hi,

Could you please try to compare the file /Project_folder/src/PrestaShopBundle/Twig/LayoutExtension.php with the original [file](https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Twig/LayoutExtension.php)
Thanks!

[2018-11-15 11:14] khouloudbelguith commented on #11400
@dineshbadrukhiya, yes you are right.
I uninstalled the ps_linklist v 2.1.5 & I installed the new version ps_linklist v3.0.0, but I have an exception in the configuration page.
![image](https://user-images.githubusercontent.com/16067358/48549356-d9844a00-e8cf-11e8-8fab-3f803bdb011c.png)
@jolelievre @marionf what do you think?
Thanks!

[2018-11-15 11:17] philoupin commented on #10853
@khouloudbelguith
I have compared the DB structure. I have some extra tables which seem to be from modules.
The only true difference is here:

[code]

in my DB  it was `delay` varchar(**128**) DEFAULT NULL

I have changed that in the DB, cleared cache and no change.
I will send you the full diff file by email.

[2018-11-15 11:17] Gionny996 commented on #10853
@khouloudbelguith Excuse me, now what should I check?

[2018-11-15 11:19] khouloudbelguith commented on #10853
@philoupin, @Gionny996, have you compared the file /Project_folder/src/PrestaShopBundle/Twig/LayoutExtension.php with the original [file](https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Twig/LayoutExtension.php) ?
Thanks!

[2018-11-15 11:20] BilalDr opened #11402 "[EPIC] Create addons redirection block for specific modules"
In order to help merchants have access to premium modules, we need to add "addons redirection block"
it looks like this :
![image](https://user-images.githubusercontent.com/40759259/48549156-43502400-e8cf-11e8-9586-4724e91f7e3d.png)

it should appear at the bottom of the following modules :

- [x] #11277 - Wishlist module
- [x] #11210 - Watermark module
- [x] #11263 - Reassurance module
- [x] #115

[2018-11-15 11:24] philoupin commented on #10853
I have compared /Project_folder/src/PrestaShopBundle/Twig/LayoutExtension.php with the original [file](url
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Twig/LayoutExtension.php) there are no differences.

As I wrote above, i have already replaced the whole src/ folder and it made no difference.

[2018-11-15 11:35] WS-NL commented on #11274
We dont have this enabled
We know you have to disable this feature after update.

[2018-11-15 11:50] Gionny996 commented on #10853
I also compared LayoutExtension.php and I did not find any differences

[2018-11-15 12:13] shahin0x opened #11403 "wrong element direction in RTL back-office"
**Describe the bug**
according to the images, direction of pointing element is not correct
1) arrow of popover box when click on help box
2) direction of arrow in stocks page when quantity is changing

**To Reproduce**
issue#1
1. Use RTL Language( e.g Persian) as BO language
2. Go to Catalog -> Products
3. Click on New Product
4. Click on one of help-box

issue#2
1. Use RTL Language( e.g Persian)

[2018-11-15 12:14] dineshbadrukhiya opened #11404 "It is impossible to change the position of blocks in linklist module"
**Describe the bug**
It is impossible to change the position of blocks in linklist module by drag & drop. The new positions of blocks are not saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Link List Module > Configure
2. Drag & drop blocks
3. Shows successfully updated.
4. After refreshing page changes will reverted.

**Additionnal information**
PrestaShop version: 1.7.4.3

[2018-11-15 13:07] khouloudbelguith commented on #11404
Hi @dineshbadrukhiya,

Here's the PR: https://github.com/PrestaShop/ps_linklist/pull/48 to solve the issue.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9950
So, I close it.
Thanks!

[2018-11-15 13:07] #11404 closed, assigned to nobody

[2018-11-15 13:08] khouloudbelguith commented on #11404
Duplicate of #9950

[2018-11-15 13:11] Quetzacoalt91 commented on #11347
Will be fixed by https://github.com/PrestaShop/autoupgrade/pull/190

[2018-11-15 13:25] khouloudbelguith commented on #10853
@philoupin, @Gionny996, the `mbo` module is installed in your shops? if yes, thanks to remove it, check & feedback.
It could be a problem.
Thanks!

[2018-11-15 13:25] #11335 closed, assigned to nobody

[2018-11-15 13:29] khouloudbelguith commented on #11403
Hi @shahin0x,

Thanks for your report.
I manage to reproduce issues with 1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/48555911-c4fd7d00-e8e2-11e8-968c-5e25ed143368.png)
![image](https://user-images.githubusercontent.com/16067358/48555919-c7f86d80-e8e2-11e8-908a-6f4cbf66eccb.png)
We will see how to fix it.
Thanks!

[2018-11-15 13:39] philoupin commented on #10853
There seems to be no module by than name. "MBO", yes?

[2018-11-15 13:41] khouloudbelguith commented on #10853
@philoupin, the tech name of this module is `ps_mbo`.
Thanks!

[2018-11-15 13:42] khouloudbelguith commented on #11274
Hi @wgsol2018,

Are there any errors in your log file?
Thanks to past it here.

[2018-11-15 13:42] philoupin commented on #10853
Nothing like that inside the PS installation

[2018-11-15 13:46] jolelievre commented on #11400
this is strange indeed, I'm gonna look into it
which version of PrestaShop are you using? 1.7.5.0.beta1 ? and version 3.0.0 of the module?
also are in debug mode or prod mode?

[2018-11-15 13:52] khouloudbelguith commented on #11400
Hi @jolelievre,

I checked the issue with PS1.7.5.0beta1 & the ps_linklist v3.0.0.
Thanks!

[2018-11-15 14:00] khouloudbelguith commented on #11398
Hi @ProBackup-nl,

I only find the "Noto Sans Regular" in the `svg` files.
Thanks!

[2018-11-15 14:38] dineshbadrukhiya commented on #11400
Hi @jolelievre
I had tried with PS 1.7.5.0 beta 1 and ps_linklist v3.0.0 & v2.1.5 in the debug mode.

[2018-11-15 14:42] kratekk commented on #9763
is it fixed?

[2018-11-15 14:47] khouloudbelguith commented on #9763
Hi @kratekk,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2018-11-15 15:25] ProBackup-nl commented on #11398
@khouloudbelguith
Which OS are you using? Or/and which fonts are installed in that OS/user account?

[2018-11-15 15:34] khouloudbelguith commented on #11398
@ProBackup-nl,
![image](https://user-images.githubusercontent.com/16067358/48563301-4dd0e480-e8f4-11e8-9d69-d1c7b9e444af.png)
Thanks!

[2018-11-15 15:36] khouloudbelguith commented on #10853
Hi @marionf,

I did not manage to reproduce the issue with PS1.7.4.4 after upgrade from 1.7.4.3 using the 1-click upgrade module.
what do you think? can you try to reproduce the issue?
Thanks!

[2018-11-15 15:38] kratekk commented on #9763
Hi @khouloudbelguith  I will try to look at it myself.
Can you tell me in which files this setting can occur?
Which one controller or class can it be?

[2018-11-15 15:42] khouloudbelguith commented on #9763
Hi @kratekk,

You need to debug the issue to find a solution.
If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2018-11-15 15:42] philoupin commented on #10853
Hi @marionf and @khouloudbelguith
as I mentioned earlier, I encounter the same error on a leftover installation of this same shop which is on PS 1.7.4.2.
It seems we just didn't notice it before.

[2018-11-15 16:01] #11341 closed, assigned to nobody

[2018-11-15 16:01] #10838 closed, assigned to jolelievre

[2018-11-15 16:07] Alenici opened #11409 "Can't update to 1.7.4.4"
**Describe the bug**
When updating the version from 1.7.3 to 1.7.4.4 by 1Click update, the procedure fails with the follwing error:

Tools14.php line 1399 - Out of memory (allocated 75288576) (tried to allocate 66904096 bytes)
PrestaShopBundle/Translation/PrestaShopTranslatorTrait.php line 57 - vsprintf(): Too few arguments

I already increased the allocated memory until 2048MB but the problem sti

[2018-11-15 16:13] khouloudbelguith commented on #11409
Hi @Alenici,

Thanks for your report.
What is the exact version of the 1-click upgrade did you use?
Thanks!

[2018-11-15 16:21] Quetzacoalt91 commented on #11409
Also, what language have you selected?

[2018-11-15 16:29] #10836 closed, assigned to nobody

[2018-11-15 16:36] shahin0x commented on #11403
I found two more problems @khouloudbelguith
Check boxes are in Catalog -> Products
![catalog](https://user-images.githubusercontent.com/45041106/48567257-dca02a00-e911-11e8-99ca-5dbc85e00320.jpg)

[2018-11-15 16:38] khouloudbelguith commented on #11403
@shahin0x, thanks!
I have the same issue with PS 1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/48567438-4eba4400-e8fd-11e8-9933-a6a9c9235a40.png)

[2018-11-15 16:50] shahin0x commented on #11403
these will be fixed in next version of PS? @khouloudbelguith

[2018-11-15 16:54] khouloudbelguith commented on #11403
Hi @shahin0x,

Our developer team should discuss & decide about the fix version.
Thanks for your understanding!

[2018-11-15 16:57] shahin0x commented on #11403
Thanks to you and to your developer team.

[2018-11-15 17:20] BilalDr commented on #11332
Hi everyone,

Currently, if we disable brands and suppliers in the page Shop parameter > General, we haven't access to those page in front office even with link of those page we end up with a 404.
But we can't manage brands and suppliers separatly.

So, as you said @marionf,

- A merchants should be able to configure the display of suppliers and brands separatly with two enable/disable button in t

[2018-11-15 17:42] ProBackup-nl commented on #11398
@khouloudbelguith In your screencast I did see 127.0.0.1 localhost, so my guess your client OS is Debian. I am no Debian user. According to [debian fonts docs](https://wiki.debian.org/Fonts), to view the installed fonts, output the listings of these folders:

[code]

or search with something like:
~~$ fc-match -s noto~~
~~$ fc-match -s sans~~

[2018-11-15 18:15] Alenici commented on #11409
Hello,
the 1-click upgrade version is 4.4.1.
About the language, i'm using italian language only.
I tried also a manual backup and running 1-click upgrade without backup option but still getting the same error.

[2018-11-15 18:18] jolelievre commented on #11400
Hi @khouloudbelguith @dineshbadrukhiya
I was able to reproduce the two bugs, the route one is indeed linked to the Router cache, the class generated for the router is not aware of the module routing file so it does not update itself
It is linked to another issue as well on upgrade https://github.com/PrestaShop/ps_linklist/issues/52
I'm gonna try to fix this issue in the module

About the other bug

[2018-11-15 18:54] Gionny996 commented on #10853
I have upgrade from 1.7.4.2 to 1.7.4.3 and then was start the problem. After some days i have upgrade from 1.7.4.3 to 1.7.4.4 and the problem is present yet

[2018-11-15 19:56] zenerry opened #11412 "FO combination jumps bug, still here"
**It might be the same, of the old #9390 bug **
I've just installed PS 1.7.5.0 Beta 1 and tryed what I've been looking forward to, of this release and it still doesn't work properly.

The feature from "product configuration" panel:
[SPANISH] "Mostrar productos con atributos no disponibles en la página de producto "
I think it is in ENGLISH: "Display unavailable product attributes on the product pa

[2018-11-15 20:57] masiorama commented on #11324
Ok, I'll try to make a modification and a PR.

[2018-11-15 21:14] weddingtextile opened #11413 "Shipping cost is not recalculated when changing currency in the order"
**Describe the bug**
If you change the currency in the order, the cost of delivery is not recalculated based on the exchange rate.

**Additionnal information**
PrestaShop version: 1.7.4.3

[2018-11-15 21:27] Rolige commented on #11413
Hi @weddingtextile,

I think this is a particular error in your store, I have tested and I'm not able to reproduce the error.

Try turning on the debug mode in **Advanced Parameters > Performance** and open the console of your browser to see if it gives you an error that helps you to find a solution.

[2018-11-15 22:14] channeld opened #11414 "Payment and Shipping backend gateway error"
I have PS 1.7.3.3
All in backend work fine except when clicking to:
A. Payment Methods and Payment Preferences
B. Shipping Preferences
C. Shipping Carriers

Backend shows like loading forever and eventually shows a gateway error.

I tried turning off overrides and non-PS modules. Nothing. Cleaned cache, etc. Still nothing.
All max limits and memory settings are top.

Can't figure out what is going

[2018-11-15 23:38] Gionny996 commented on #10853
@khouloudbelguith in the modules folder I do not have any ps_mbo module

[2018-11-15 23:54] Gionny996 commented on #10853
I disabled all the modules without any success

[2018-11-16 06:36] ProBackup-nl commented on #11398
@khouloudbelguith When upgrading these font files, is it best to change the name or keep the identical file name?

[2018-11-16 07:39] khouloudbelguith commented on #11414
Hi @channeld,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas