[2019-03-07 15:07] khouloudbelguith commented on #12801
Hi @MiguelOlmos392,

You have an error 404 on your console
![image](https://user-images.githubusercontent.com/16067358/53966169-ea610180-40f2-11e9-80f9-cdf3b2a62791.png)
Could you please check in your Project file that you have not an override of this controller `AdminCustomers`.
Thanks to check & feedback.

[2019-03-07 15:08] Quetzacoalt91 commented on #12780
In my opinion, data retrieved via POST or GET is totally unrelated to the hook feature. As the checkout funnel has changed on PS 1.7, I'm not surprised to read you cannot retrieve data this way.

The only reliable source of data in a hook can be found in the `$param` variable of the method, or eventually the `Context` content.

[2019-03-07 15:11] MatShir opened #12825 "CB - Page Login - call native.xml in Admin controller"
## Context
The API call is used for PrestaShop Marketplace in your Back Office module and Recommended Modules. This call is joined with #12826 and #12831 for the generation of the modules.

This calls will not use anymore with the PrestaShop Marketplace in your Back Office module new recommendation systems.

**The calls should be removed from the core of the new MBO version is ready before the 1.7

[2019-03-07 15:13] MatShir opened #12826 "CB - Page Login - call native_all.xml in AdminController"
## Context
The API call is used for PrestaShop Marketplace in your Back Office module and Recommended Modules. This call is joined with #12825 and #12831 for the generation of the modules.

This calls will not use anymore with the PrestaShop Marketplace in your Back Office module new recommendation systems.

**The calls should be removed from the core of the new MBO version is ready before the 1.7

[2019-03-07 15:16] MatShir opened #12827 "CR - Page Login/Dashboard - Blog RSS feed API"
This call gets the a xml files containing a list of articles with the corresponding links to the blog. These articles are displayed on the Dashboard in the "PrestaShop news" block.

![Capture d’écran 2019-03-26 à 12 08 32](https://user-images.githubusercontent.com/47456895/54994738-4ec20300-4fc5-11e9-919e-27a1bae5b697.png)

## Current behavior

**When is the call made?**
Asynchro

**At which fre

[2019-03-07 15:20] MatShir opened #12828 "Circuit Breaker - Page Dashboard - Asynchronous Calls for Gamification JSON files"
**Context**
The API call is used for the generation of
- partner module advices in the dasboard :
![image](https://user-images.githubusercontent.com/35263827/84800988-e498e200-affe-11ea-8e62-ad677ce96e25.png)

- badges in the gamification module :
![image](https://user-images.githubusercontent.com/35263827/84800932-cd59f480-affe-11ea-9513-c333d6d0f9ac.png)

## Call info

**When is the call made?**

[2019-03-07 15:45] MiguelOlmos392 commented on #12801
Hello @khouloudbelguith , there is no override of that controller, but I did not find it in the controllers/admin folder, there were several files missing, I uploaded the missing ones from a Prestashop installer, now it does not show error 404 but the problem is not solved

[2019-03-07 15:51] khouloudbelguith commented on #12801
@MiguelOlmos392, I think that there is still something missed.
Because the customer is found but not shown
![image](https://user-images.githubusercontent.com/16067358/53969512-38790380-40f9-11e9-8076-ee464682b45d.png)
Thanks!

[2019-03-07 16:01] ced--ced commented on #12777
I have the same problem with the pack quantity resetting itself to 0.

Presta 1.7.5.1 ltr

[2019-03-07 16:07] MatShir opened #12830 "CB - Page Login/Dashboard - call for Tips & Updates section"
**Context**
Every time the Dashboard page is loaded, a call to the Addons API is made to get the "weekly advice" plus a link to the Addons website. (The link sends to a list of modules related to the advice)

The Weekly advice is displayed on the Dashboard, in the "Tips & Updates" section once the user is connected to Addons.

Tips can be changed every week or not (few weeks without new advice)

T

[2019-03-07 16:07] MiguelOlmos392 commented on #12801
I'm trying to find out the problem, this problem is burning my brain...

[2019-03-07 16:08] MatShir opened #12831 "CB - Page Login - must_have.xml API call in AdminController"
## Context
The API call is used for PrestaShop Marketplace in your Back Office module and Recommended Modules. This call is joined with #12825 and #12826 for the generation of the modules.

This calls will not use anymore with the PrestaShop Marketplace in your Back Office module new recommendation systems.

## Call info

**When is the call made?**
After the Login Page - Asynchro

**At which frequ

[2019-03-07 16:09] khouloudbelguith commented on #12801
@MiguelOlmos392, you can find some logs in your Project_Folder/var/logs
Thanks!

[2019-03-07 16:22] glictevo opened #12832 "Product image position not updatable in multishop [1.6.1.23]"
Description : On a multistore PrestaShop, when you manage the images of a product in the BO, you can't change the images positions if one of them is not in the default shop

Steps to reproduce the behavior:
1. Install PrestaShop 1.6.23
2. Go to Preferences > General > enable multistore
3. Go to Advances parameters > Multistore
4. Create a new store group with all the basic settings
5. Create a new

[2019-03-07 16:24] MatShir opened #12833 "CB - Page Login - List modules call API for Recommended Modules"
## Context
The API calls the Recommended Modules at the Login Page from Prestashop API

## Call info

**When is the call made?**
After the Login Page

**At which frequency is it made?**
Every 24h or when not in the cache

**Cache expiration frequency**
24h

**What URL or API endpoint does it call?**
http://api.prestashop.com/xml/tab_modules_list_17.xml

## Behavior
The API calls must be handled by

[2019-03-07 16:25] nowaja opened #12834 "Pass Cookie from JS to PHP"
**Describe the bug**
When Cookie is set with Javascript then it is not possible to read it in PHP code from `context->cookie` object. It can be read from superglobal array $_COOKIE, but that's forbidden in module Validator.

**To Reproduce**
1. Set cookie in template with JS:
[code]

2. In PHP try to load a value with superglobal array
3. Try to load cookie from Context class:
[code]

Am I missing

[2019-03-07 16:33] khouloudbelguith commented on #12834
Hi @nowaja,

Please be aware that this bug tracker GitHub should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-03-07 16:49] nowaja commented on #12834
@khouloudbelguith I set cookie but I'm not able to retrieve it back. Looks like a big issue to me :( I actually tried forum at first and I was told that it's not possible and it's a bug.

[2019-03-07 16:52] khouloudbelguith commented on #12832
Hi @glictevo,

Thanks for your report.
I manage to reproduce this issue with PS1.6.1.23.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops,

[2019-03-07 16:56] khouloudbelguith commented on #12834
@nowaja, thanks for these clarifications.
Could you please provide me the exact template js & PHP file I need to edit it & add your code line?
Thanks!

[2019-03-07 16:57] Peter4661 commented on #11939
add the strings listed above to dispatcher.php file results in 500 error in BO and FO.

Below is my current dispatcher.php file

[dispatcher.txt](https://github.com/PrestaShop/PrestaShop/files/2942389/dispatcher.txt)

[2019-03-07 17:02] khouloudbelguith commented on #12777
Hi @ced--ced,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/15Agupg_ZouXmhPFp-7OX3A5GL2RHZUpD/view
Did you installed your shop with which language/ country?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-03-07 17:17] nowaja commented on #12834
@khouloudbelguith I updated the initial post. Thanks a lot.

Just to clarify why I need to do this JS+PHP thing. We have Facebook plugin which stores user facebook id into cookie and then sends the user facebook id (with some more data) from PHP to other system. I believe that's pretty usual situation.

[2019-03-07 17:23] matks opened #12835 "We can make Logs page fail with a bad URL"
**Describe the bug**
Logs BO page can be broken if we toy with the GET filter parameters.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO Logs page, URL should be something like `http://localhost/admin-dev/index.php/configure/advanced/logs/`
2. Perform a filter search, for example filter logs on the word "Back", the URL should be something like
`http://localhost/admin-dev/index.php/

[2019-03-07 17:57] rblaurin commented on #12043
@colinegin, I think the default value in BO is 480 hours, while the constant number in AdminController.php is 900 seconds (15 minutes), right? Do you think the BO default value should be changed? What do you think would be a good default value for cookie lifetime?

[2019-03-07 22:21] qadeeralvi commented on #9566
Hi,
I can't send a message through contact us form. When first time clicks on send button I got following error  " An error occurred while sending the message, please try again. "

And surprisingly when clicking again on send button with same email and message then it sends email without any error and email delivered as well.

I googled and tried many different solutions, uninstall the contact for

[2019-03-08 00:09] kpodemski commented on #9513
@Quetzacoalt91 any ETA on this issue? literally every single update is broken because of this, do you need some help to solve this issue?

[2019-03-08 02:20] rblaurin commented on #11305
What about keeping the page shipping unmodified and add a field "Impact on shipping fees ($)" in combinations?

[2019-03-08 05:19] nexinet opened #12837 "Obbligatory address field dissapears"
**Describe the bug**
Into----> BO ---> address----> set up obbligatory field ----> i set up some field to be obbligatory to be filled by customer, I refresh FO and it is ok obbligatory field are there.
AFter few minutes the obbligatories field return as default automatically and the field I wanted obbligatory become again optionally alone.
What is a bug?
**To Reproduce**
Steps to reproduce the beh

[2019-03-08 06:52] oskarna commented on #12814
It is different situation, @khouloudbelguith

[2019-03-08 07:56] khouloudbelguith commented on #12837
Hi @nexinet,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/12_XZAPLOQb5BN0aEDIwCKnpnlkyXQ0y7/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript conso

[2019-03-08 08:08] khouloudbelguith commented on #12835
Hi @matks,

Same issue with PS1.7.5.1 & PS1.7.5.0.
![image](https://user-images.githubusercontent.com/16067358/54015596-710ff000-4180-11e9-87bd-b4f763d20f87.png)
In the PS1.7.4.4, we don't have the same behavior.
Thanks!

[2019-03-08 08:13] khouloudbelguith commented on #12451
Hi @infinity-web-italy,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-08 08:13] #12451 closed, assigned to nobody

[2019-03-08 08:13] khouloudbelguith commented on #12455
Hi @Ned201,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-08 08:13] #12455 closed, assigned to nobody

[2019-03-08 08:14] khouloudbelguith commented on #12466
Hi @ClaudioSagaris,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-08 08:14] #12466 closed, assigned to nobody

[2019-03-08 08:15] khouloudbelguith commented on #12462
Hi @morghy1992,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-08 08:15] #12462 closed, assigned to nobody

[2019-03-08 08:17] khouloudbelguith commented on #12469
Hi @lilyrose78,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-08 08:17] #12469 closed, assigned to nobody

[2019-03-08 08:17] khouloudbelguith commented on #12472
Hi @thbl,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-08 08:17] #12472 closed, assigned to nobody

[2019-03-08 08:32] khouloudbelguith commented on #12834
Hi @nowaja,

Thanks for these clarifications.
After applying these modifications.
I have this error
![image](https://user-images.githubusercontent.com/16067358/54017017-03b28e00-4185-11e9-99e2-4732864cf434.png)
Thanks to check & feedback.

[2019-03-08 09:14] khouloudbelguith commented on #12814
@oskarna,

I have the same behavior described by @oskarna.
After canceling the order, in the Product list page, we have a different quantity
![image](https://user-images.githubusercontent.com/16067358/54019203-e54f9100-418a-11e9-8a02-1486a5fb3ccf.png)
![image](https://user-images.githubusercontent.com/16067358/54019234-fbf5e800-418a-11e9-86d1-e952f8ff6160.png)

In fact when we delete the combinati

[2019-03-08 09:22] VorobiovM opened #12839 "Invoice differs in mail and BO"
**Describe the bug**
Invoice sent by mail and one downloaded through Orders in BO or Order History in FO as a registered user differs.

**To Reproduce**
Steps to reproduce the behavior:
1. Override classes/pdf/HTMLTemplateInvoice.php
2. Assign some new variables to smarty
3. Change pdf/invoice.tpl to include new variables
4. Confirm order in FO
5. Get email invoice (first screenshot) and BO invoic

[2019-03-08 09:29] khouloudbelguith commented on #12839
Hi @VorobiovM,

The difference between those invoices, the language, the first is in English & the second is in Romanian.
Is it?
Thanks!

[2019-03-08 09:46] jherry commented on #11939
You attached your core Dispatcher file (native),  only the override must be fixed.

[2019-03-08 09:56] MaduPRS opened #12840 "Prestashop Category order problems"
Hi,

I would like to move the position of my main categories but when I am using the arrows of position in the right, it saves it but it doesn't appear in my site so i would like to know if you have a solution for this issue pls.

Thank You

[2019-03-08 10:01] Quetzacoalt91 commented on #9513
Unfortunately I can't provide any ETA. We currently have a to do list for PS 1.7.6 and it appears the tests are broken on the latest PR on the autoupgrade repository, which could make the module subject (= replacing the 1.6 modules by their 1.7 equivalent) more important.

The permission issue is known, and we will accept any help from somebody who have some insights to share to make the permissio

[2019-03-08 10:15] khouloudbelguith commented on #12840
Hi, @MaduPRS,

I did not manage to reproduce the issue with PS1.7.5.1 & the ps_mainmenu module v2.1.1.
I attached a video record.
https://drive.google.com/file/d/1G4RvVZJ1p5RugPEAU636S98oI3nf8auL/view
Thanks to check & feedback.

[2019-03-08 10:28] MatShir commented on #10548
Don't forget to hide the "Recommended Modules" button

[2019-03-08 10:28] MatShir commented on #10547
Don't forget to hide the "Recommended Modules" button

[2019-03-08 10:48] ghost commented on #12773
@PrestaShop/prestashop-core-developers Would it be quick/easy to implement the ctrl+select option and allow bulk actions on the product page?

[2019-03-08 11:02] ghost commented on #12653
Hi @centoasa,

Thanks for your feedback 👍

We reviewed your feature idea and decided to not implement it.

Here is the reason:

Regarding the product status after the import (enabled/disabled), we already have 2 configuration levels :
- a default behavior => products are enabled
- a configuration option => the "Active (0/1)" column to set status individually or in bulk

Your feedback is totally le

[2019-03-08 11:04] seederp2p commented on #9658
I also have the same problem.

Not fixed yet?

1.7.5.1

[2019-03-08 11:08] khouloudbelguith commented on #9658
Hi @seederp2p,

Here's a PR: https://github.com/PrestaShop/PrestaShop/pull/12103 to fix the issue
This ticket is a duplicate of #9726
So, I close it.
Thanks!

[2019-03-08 11:08] #9658 closed, assigned to nobody

[2019-03-08 11:08] khouloudbelguith commented on #9658
Duplicate of #9726

[2019-03-08 11:09] ghost commented on #12653
Also @centoasa,

We are planning to do a deeper rework on the import feature later this year. And we keep your feedback to add it to our research map.

I am also looking for frequent import users to interview in order to get as many feedback as possible.
Would you be interested in participating in this kind of interview/discussion?

Let me know so we can get in touch 👍

[2019-03-08 11:12] seederp2p opened #12842 "Wrong Address Layout when Printing Order"
With my version 1.7.5.1, when I print an order I get the address with a wrong layout like:

Name of the Person Address Zip Code etc etc etc

Instead of

Name
Address
etc.

On the backoffice the address appears correctly. Only when I print it is wrong.

Additionnal information
PrestaShop version: 1.7.5.1
PHP version: PHP 7.0.33-0ubuntu0.16.04.1

[2019-03-08 11:14] centoasa commented on #12653
Thanks @samuel-pires
Bue as I said, I've already default activation status for product on OFF https://s.nimbusweb.me/share/2640257/ximz98et8sxptulqo94u
and, when I import a large file of about 93k rows, it's a little diffucult to add a coloumn for "active"
So, sometimes, when I updates listing price or qty, I add about 300 or more products ans I've to disable them manually. I hope I'm clear.

[2019-03-08 11:24] khouloudbelguith commented on #12842
Hi @seederp2p,

In the BO => Orders => Order details => I click on "Print" order
I have this file
[Orders _ Order LBCTGKRZT from John DOE • 1751ttt.pdf](https://github.com/PrestaShop/PrestaShop/files/2945579/Orders._.Order.LBCTGKRZT.from.John.DOE.1751ttt.pdf)
Have you a wrong layout with this?
![image](https://user-images.githubusercontent.com/16067358/54026143-2a7cbe80-419d-11e9-9804-cc297b8884f1

[2019-03-08 11:26] ghost commented on #12653
Ok, so you set the "Default activation status" to no, but per default when you import a list of products (creation or update) the products are automatically enabled anyway... Right?

[2019-03-08 11:27] centoasa commented on #12653
It's right!

[2019-03-08 11:29] hamzanatek commented on #10678
Hi @alejoasotelo, @khouloudbelguith

you need to respect the best practice and not make changes directly in core files.
i suggest to use something like :

`public function hookActionProductAdd($params)
    {
        /**
         * @var $attribute Symfony\Component\HttpFoundation\ParameterBag
         */
        $attribute = $params['request']->attributes;
        $oldId = $attribute->get('id');

[2019-03-08 11:36] seederp2p commented on #12842
No!

But I found the problem. Somehow on my database, ps_address_format, there was no breaks between address elements.

[2019-03-08 11:40] nexinet commented on #12837
Hi.
I see your video and it works like mine.
the problem is after some time spent on backoffice automatically turns as default you can check mine video at min. 1.05 after some time spent on backoffice it turns in default....
please check the entire video...
https://drive.google.com/file/d/10w9YrsIy7XAEgFOUqh_UEDiiJP3T78EA/view?usp=drivesdk

informations:
Informazioni sul server Linux #48-Ubuntu SM

[2019-03-08 11:45] ghost commented on #12653
Ok, I see.

The "Default activation status" only applies to manual product creation (in catalog > products > new) and does not apply to creation through import, that is why.
I understand it creates confusion and it is not convenient is your situation.

We have to think about the possibility of making this setting apply to both manual creation and creation through import.

We will have to do some r

[2019-03-08 12:51] nowaja commented on #12834
Hi @khouloudbelguith,

I tried it one more time and it works for me. Did you delete your cache after code updates?

[2019-03-08 12:53] pvechi opened #12843 "Rolledback from 1.7.5 to 1.7.4.4 from hosting backup and get ServiceNotFoundException"
Updated store from Prestashop 1.7.4.4 to 1.7.5.1 successfully using latest version of 1-Click Upgrade.  The upgrade went well.

We then updated the template but found a bug, so we had to rollback to 1.7.4.4.  We did this using our hosting backup files which we rolled back on other occasions and updates with success.

After rolling back from the server backups, the FO works fine.

The back office w

[2019-03-08 12:56] matks commented on #12843
This is actually a Symfony service configured into the ps_linklist module: https://github.com/PrestaShop/ps_linklist/blob/master/config/services.yml#L26

Did your update upgrade your modules too ? Maybe you have the upgraded ps_linklist module although you went back to 1.7.4.4.

[2019-03-08 12:58] MaduPRS commented on #12840
Hi

I tried but in my site nothing changed, do we have a limit of category numbers ?
Thank you for the reply

[2019-03-08 13:03] pvechi commented on #12843
Thanks for your quick reply. The link block module we updated manually from Installed Modules > Updates.  We updated together with the 1-Click auto update suggested under the updates notices under Modules prior to going to 1.7.5.1.  The updates were carried out after the backups.

[2019-03-08 13:15] pvechi commented on #12843
I see that the config folder for ps_linklist has a date similar to when the module was upgraded.  Could that be the cause?

[2019-03-08 13:18] khouloudbelguith commented on #12843
Hi @pvechi,

What is the exact version of the module ps_linklist did you use now?
Thanks!

[2019-03-08 13:21] khouloudbelguith commented on #12840
@MaduPRS, How many categories in the menu you have?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-03-08 13:24] decom-media commented on #12737
Hi Matt,

Thanks for the module – would be really amazing work if this would fix my problem, but, cannot upload the module because of “wrong zip format of the module” – I even tried to unpack and repack it, but, same error.

Please let me know any suggestions.

Thanks
Thomas

From: Matt75 [mailto:notifications@github.com]
Sent: Thursday, 7 March 2019 15:39
To: PrestaShop/PrestaShop
Cc: tom75; Ment

[2019-03-08 13:25] khouloudbelguith commented on #12842
@seederp2p, so your issue is fixed?
Thanks!

[2019-03-08 13:27] MaduPRS commented on #12840
8
I am going to read the link

[2019-03-08 13:27] pvechi commented on #12843
Hi @khouloudbelguith and @matks,
I think I fixed the problem.  I checked all the backups and none of them have the ps_linklist/config folder. But even though I restored the backup the folder remained in the module's directory.  After removing that folder, I was able to access the BO.  So problem is solved and thanks for pointing us in the right direction here.  Seems to be the hosting's restore ba

[2019-03-08 13:35] khouloudbelguith commented on #12840
@MaduPRS, thanks!
Waiting for your feedback.

[2019-03-08 13:36] khouloudbelguith commented on #12843
@pvechi, thanks for your feedback.
You are welcome!
Since it is fixed, I close the issue, feel free to open a new one when needed.
THnaks!

[2019-03-08 13:36] #12843 closed, assigned to nobody

[2019-03-08 13:37] mowcixo opened #12844 "Webservice is letting create customers with same email"
**Describe the bug**

When you create two customers with same email from webservice, it doesn't throw any error. Then when you try to login with one of two customers, the login form fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a customer with foo@bar.com email using webservice endpoint.
2. Create another customer with foo@bar.com email using webservice endpoint.
3. Go to log

[2019-03-08 13:38] khouloudbelguith commented on #12737
Hi @tom75,

Thanks to check with this zip folder
[fixconfigurationlang.zip](https://github.com/PrestaShop/PrestaShop/files/2946000/fixconfigurationlang.zip)
I cloned it from GitHub & it is successfully installed.
Thanks!

[2019-03-08 13:40] khouloudbelguith commented on #12834
@nowaja, I cleared the cache.
Now, I have this
![image](https://user-images.githubusercontent.com/16067358/54031835-273efe00-41b0-11e9-8a72-6973a10ec976.png)
Thanks to check & feedback.

[2019-03-08 13:43] khouloudbelguith commented on #12754
Hi @watou,

I checked today this link [robots.txt testing tool](https://www.google.com/webmasters/tools/robots-testing-tool) & it is not blocked today.
![image](https://user-images.githubusercontent.com/16067358/54032099-ef848600-41b0-11e9-891b-98829147c184.png)

Thanks!

[2019-03-08 13:45] nowaja commented on #12834
@khouloudbelguith yes that's it. You can see that Cookie object DOES NOT contain previously set cookie with name "testcookie" and value "testvalue"...

[2019-03-08 13:46] MaduPRS commented on #12840
What do you need exactly ?

[2019-03-08 13:47] piupiu09 opened #12845 "Does the SEO keywords are taken into account on the Prestashop platform?"
We are actually working on the SEO of our website, on the SEO tab of the the products, this means including keywords on the Title, description and keywords tags and I was informed, that apparently the Prestashop platform does not  take these modifications into account these, for improving the SEO of the website, therefore no need to add them then? Is this right?

Thank you for your help

[2019-03-08 13:47] decom-media commented on #12737
Thanks- that module works, but, still the same error after repairing – I had the following which needed repair:

PS_INVOICE_LEGAL_FREE_TEXT
PS_INVOICE_FREE_TEXT

After clicking repair I did get the messages for each has been fixed, but, even after refreshing the module still shows that both are still on error and need to be fixed…

From: khouloudbelguith [mailto:notifications@github.com]
Sent: Fri

[2019-03-08 13:50] pvechi commented on #12843
Thank you.

[2019-03-08 13:52] watou commented on #12754
Your robots.txt file does not block itself which is correct.  Your robots.txt file should block all search results pages from being crawled. If it doesn't then there would be a problem with your configuration. I don't think you have that config problem. The problem in this report is that search pages can be indexed and should instead suppress their being indexed.

[2019-03-08 13:58] khouloudbelguith commented on #12840
@MaduPRS, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Having 8 categories is not a problem.
Thanks!

[2019-03-08 14:02] khouloudbelguith commented on #12844
Hi @mowcixo,

Yes I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
I used this script

[code]
Which I can create two customers with same informations successfully.
But, in Fo, I have an error in FO.
![image](https://user-images.githubusercontent.com/16067358/54032823-fb714780-41b2-11e9-9bef-36bbe14216cb.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixe

[2019-03-08 14:03] MaduPRS commented on #12840
https://pastebin.com/Aaid0602

[2019-03-08 14:04] MatShir opened #12846 "Hide Recommended Modules on Edit/Add Pages after migration"
**Is your feature request related to a problem? Please describe.**
On edit and add pages, the button Recommended Module redirects to the Catalog Module even when the marchert has full fill some informations. It is prefereable to hide the button for the user experience and since the presence of the button on the edit and add pages is not really revelant.

**Describe the solution you'd like**
To hid

[2019-03-08 14:06] Matt75 commented on #12737
Humm interesting maybe due to multishop, I tested it by myself but I cannot reproduce the same corrupted database.
As you don't know how export correctly your data... (In sql format it will be more readable)

Did you try to fix on all your shops by switch between them as you can see on provided screenshot ?
Maybe I need to handle better multishop.

But now we know your problem come from `PS_INVOIC

[2019-03-08 14:06] khouloudbelguith commented on #12840
@MaduPRS, you have an error with the `an_brandslider` module.
Have you tried to contact the module author?
Thanks!

[2019-03-08 14:17] khouloudbelguith commented on #12845
Hi @piupiu09,

I attached a video record.
https://drive.google.com/file/d/1Z0YfqV9X2urgDPbyLJWolOiq4UmYAR2c/view
Thanks to check & feedback.

[2019-03-08 14:24] decom-media commented on #12737
Well, no problem to export as sql, just did not know that you want me to export as sql, also not sure now if the attached sql files will be available for you when I reply and include them by email, just let me know if I need to upload on git directly.

I did exactly as you mentioned, one shop, switching to the other one and same again

From: Matt75 [mailto:notifications@github.com]
Sent: Friday, 8

[2019-03-08 14:29] khouloudbelguith commented on #12834
@nowaja, thanks for these clarifications.
I manage to reproduce the issue with ps1.7.5.1 & PS1.7.4.4.
The Cookie object does not contain the set cookie.
![image](https://user-images.githubusercontent.com/16067358/54034319-db438780-41b6-11e9-84b5-92edaf95106c.png)
ping @eternoendless, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-03-08 14:32] MaduPRS commented on #12840
https://drive.google.com/file/d/1aNeSex4ZtNVU6RVa95UYB0-jlfHR9NNQ/view?usp=sharing

[2019-03-08 14:35] Matt75 commented on #12737
You have to it to us by Github because by email we don't receive attachment, screenshots etc
Thanks

[2019-03-08 14:36] khouloudbelguith commented on #12837
@nexinet, in my case, it is OK.
https://drive.google.com/file/d/1gmHgsqdQuEVX4tHuDTYpI3qmW4NqtXg4/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-03-08 14:38] khouloudbelguith commented on #12840
@MaduPRS, you need to change the position of these categories from the ps_maimenu module not from the categories page.
You need to navigate to your BO => Modules => Module Manager page => search for the ps_maimenu & click on configure, then try to change the position of the categories.
Thanks!

[2019-03-08 14:42] khouloudbelguith commented on #12754
@watou, thanks!
So, the problem is reproduced in this screenshot
![image](https://user-images.githubusercontent.com/16067358/54035050-b7814100-41b8-11e9-9d0b-7540f80aa3e5.png)
Is it?
Thanks!

[2019-03-08 14:48] MaduPRS commented on #12840
I tried but it doesnt change anything
Thanks, Do you want a video ?

[2019-03-08 14:51] MatShir opened #12848 "CR - Page Dashboard - Asynchronous Calls for Gamification CSS files"
## Current behavior

The gamification JSON file (see [#12828](https://github.com/PrestaShop/PrestaShop/issues/12828)) is called and stored in cache every 24 hours, or when not in the cache.
The JSON file refers to several CSS files that are called to adapt dynamically the style of the gamification.
Currently, 49 calls are made to get these CSS files. All of these 49 CSS files are empty

**When is

[2019-03-08 14:52] khouloudbelguith commented on #12840
@MaduPRS, have you a module named `amegamenu`?
Thanks!

[2019-03-08 15:09] MaduPRS commented on #12840
<img width="440" alt="capture d ecran 2019-03-08 a 16 09 30" src="https://user-images.githubusercontent.com/48350712/54036696-915da000-41bc-11e9-9a2f-0522cc61a3db.png">

I only have this one

[2019-03-08 15:11] MaduPRS commented on #12840
When i change tabs in this one it changes categories too

[2019-03-08 15:12] Baptoun opened #12849 "To optimize Prestashop plugin"
Hi there,

**Issue**
Our Carts Guru plugin need to be optimized. No big deal, the code just has to be simpler and clearer.

**Solution**
We are looking for a PHP developer & Prestashop expert to assist us on this. Of course, we can speak together about the benefits.

Best,

[2019-03-08 15:19] watou commented on #12754
No, the problem is not reproduced. The image above shows that search pages are blocked from crawling, and this is correct.  What is incorrect is that search pages can still be indexed when links to them are encountered, but there is no instruction in search pages to not index them.  Google quite rightly complains about this (the subject of this issue).  The proposed fix in #12817 would change that

[2019-03-08 15:35] khouloudbelguith commented on #12849
Hi @Baptoun,

Please be aware that this bug tracker GitHub should be used to report issues only.
Thanks for your understanding!

[2019-03-08 15:35] #12849 closed, assigned to nobody

[2019-03-08 15:36] Matt75 commented on #12737
I made a little update of the module to be sure missing lines will be added in ps_configuration_lang
[fixconfigurationlang.zip](https://github.com/PrestaShop/PrestaShop/files/2946402/fixconfigurationlang.zip)

[2019-03-08 15:42] khouloudbelguith commented on #12840
@MaduPRS, the ps_maimenu is replaced in your case by this module which is developed by your theme.
Son, you can change the position of categories throw this module.
Thanks!

[2019-03-08 16:13] khouloudbelguith commented on #12754
@watou, thanks a lot for your feedback.
I attached a screenshot
![image](https://user-images.githubusercontent.com/16067358/54040364-72afd700-41c5-11e9-8c5f-d221f65d83f9.png)

Thanks to check & feedback.

[2019-03-08 16:23] MaduPRS commented on #12840
Thank you very much for your help, i will be recontacting you this Monday because i have another problem

[2019-03-08 16:23] watou commented on #12754
Your screenshot exactly shows this issue. Now if my PR #12817 had been applied, the page would not have been indexed.  Would PrestaShop and SEO experts agree that this is a correct approach?

[2019-03-08 16:26] khouloudbelguith commented on #12840
@MaduPRS, thanks!
I close this issue, feel free to open a new one when needed.
Thank you!

[2019-03-08 16:26] #12840 closed, assigned to nobody

[2019-03-08 16:29] khouloudbelguith commented on #12754
@watou, thanks a lot for your help.
Your PR should be tested by our QA team.
Thanks!

[2019-03-08 17:38] MatShir opened #12851 "[EPIC] Make PrestaShop resilient regarding external services"
PrestaShop's core must be able to work even when the server cannot make requests to external service.
The Circuit Breaker is the technical solution to handle the different cases requests and responses from external services.

### Login & Dashbord Page

### Installer
- [ ] #10456 - Installer - call API for Modules, translations, and other information

## Fixed

### Login & Dashbord Page
- [x] #1282

[2019-03-08 19:24] jcarloscid commented on #12085
I had the same problem on a installation. Key thing is that I was migrating a PS 1.6 shop into PS 1.7.5, and that means that I was copying the data from the old database to the brand new PS 1.7.5 installation.
Problem started after upgrading the module to version 3.0.2.
As the module didn't work, I made the changes needed directly on the ps_link_block* tables (remember this was a copy of the old s

[2019-03-09 07:16] VorobiovM commented on #12839
Hi @khouloudbelguith,

Sorry for the late reply. The language difference is also a minor problem. The main one is that there is an entire table missing in the invoice with legal information required by the bank.

[2019-03-09 09:32] RomSunZ opened #12852 "Cart for registered customer from different browsers"
**Describe the bug**
For registered customer if you add product to cart when is logged off and then log in you loose your previous cart.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to your account
2. Add some products to cart
3. Log off from your account
4. Add some products to cart
5. Log in again to your account
6. Open your cart - there will be only the products from step 4, bu

[2019-03-09 10:31] ced--ced commented on #12777
Hi @khouloudbelguith,

Here is a video of the problem I have: https://www.useloom.com/share/64d310f3537247d7a878fdd14a6ea127

I didn't install the site but I think it was installed with French / France.

I guess the PHP error log is to retrieve from the server, but where do I find the debug mode report?

Thanks

[2019-03-09 10:47] rdy4ever commented on #12852
I do believe that this is not a bug, but intended behaviour.

[2019-03-09 10:55] rdy4ever commented on #12845
[Google does not use the keywords meta tag in web ranking](https://webmasters.googleblog.com/2009/09/google-does-not-use-keywords-meta-tag.html) for over 10 years (and probably no other search engines).  So, yes, regarding the keywords field you really should not bother anymore.
However, title and meta description do work as intended (if the theme has no issues).

[2019-03-09 12:14] PatrykMakowski opened #12853 "Incorrect product price in backoffice "Catalog" product list with multistore feature."
**Describe the bug**
Product price in admin controller "sell/catalog/products" is incorrect for current shop context.
At product list price is always from ps_product table (in multistore should be ps_product_shop i think)

**To Reproduce**
Steps to reproduce the behavior:
1. Enable multistore and create another shop. Eg. Shop A and Shop B.
2. Change product price only at Shop A.
3. Switch to Shop

[2019-03-09 12:22] decom-media commented on #12737
The error is still the same – but, at least there is now just one problem left, the second seems to be fixed:

PS_INVOICE_LEGAL_FREE_TEXT – is still marked as having problem in your module, but, PS_INVOICE_FREE_TEXT is now fixed (as your module is telling me)

Should I upload now the sql files from before using your last module update or the current export – will upload them then on github

From:

[2019-03-09 14:15] Matt75 commented on #12737
Yes please upload on Github the export results of theses queries 👍

[code]

And

[code]

It can be very useful to better understanding 👍

[2019-03-09 14:23] decom-media commented on #12737
here are the results

[sqlexport.zip](https://github.com/PrestaShop/PrestaShop/files/2948463/sqlexport.zip)

[2019-03-09 14:32] Matt75 commented on #12737
Ok you can execute this query to fix it

[code]

As the value is NULL and no lines are associated in ps_configuration_lang.

[2019-03-09 15:36] decom-media commented on #12737
Fantastic, seems that the problem is solved, the link is working again, can create again an invoice pdf – looks fine ..

but, as I was checking now also the other links, I realized that there is another problem with the credit slips as well (did not have to use them since I updated), just clicking on the link results in following error message:

Bad SQL query
Column 'id_order' in where clause is a

[2019-03-09 15:39] Matt75 commented on #12737
As the new problem seems different, you can create another issue. Please provide the details of the error with logs etc in order to help us to reproduce

[2019-03-09 16:26] decom-media commented on #12737
Ok, thanks again!

From: Matt75 [mailto:notifications@github.com]
Sent: Samstag, 9. März 2019 16:40
To: PrestaShop/PrestaShop
Cc: tom75; Mention
Subject: Re: [PrestaShop/PrestaShop] "Invoices"-Link results in HTTP 500 Internal Server Error (#12737)

As the new problem seems different, you can create another issue. Please provide the details of the error with logs etc in order to help us to reprodu

[2019-03-09 19:36] grabelle opened #12854 "Price not visible on the front"
Hi,
I use a connector to import my product on prestashop (1.7.5.1). I don't see the price on the site until I simply make a "save" on the product sheet (without making any changes) ... the problem is that I won't edit each product  by hand ;-).

Thanks a lot
Guillaume

[2019-03-09 20:40] grabelle commented on #12854
I found that the show price was not ok in the table "ps_product_shop" ...
it 's ok now.

[2019-03-09 20:40] #12854 closed, assigned to nobody

[2019-03-09 22:56] lpoczatek commented on #9924
Hi guys,
I've made fix for me in another way. I overrided one file.

[code]

[2019-03-10 02:53] Pixep commented on #16989
Here is a pending modification to address the issue: https://github.com/Pixep/gsitemap/commit/95f5ab24d3e19dc44350f496f83bc50fd5ea5c4f

Blocked by PrestaShop/gsitemap#107 , will get rebased then.

[2019-03-10 04:24] RomSunZ commented on #12852
It is wrong behaviour. As a registered customer I want to see my cart in any browser

[2019-03-10 11:48] morghy1992 opened #12856 "Price Problem with combination 1.7.5"
Hello everyone,

I use PS 1.7.5 and everything was working fine until yesterday.
I have products with combinations but after I changed some prices to all my products now is showing the price: Impact on price (tax excl.) and not the Impact on price (tax incl.)

For example I have this product that you can choose your size to get different price. If I put the price with tax included it showing the p

[2019-03-10 12:58] mrabsinthe opened #12857 "Gift wrapping wrongly displayed in cart"
**Describe the bug**
I believe that this is a bug simply because I believe that the Gift wrapping should NOT be displayed in cart if GiftWrappingPrice = 0. In some countries it is not possible to display product or service with 0 price (or free).
I think that logic tells to display price only if GiftWrappingPrice != 0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO / Order setting
2

[2019-03-10 14:08] seederp2p commented on #12842
Yes.

TY

[2019-03-10 14:08] #12842 closed, assigned to nobody

[2019-03-10 17:40] unreviewed commented on #9664
Steps to reproduce the issue with the last version 1.7.5.1 :

1. Enable Multishop
2. Create two shops Shop A and shop Shop B
3. All shops selected multistore context => create a standard product => save => OK
4. Try to edit combinations multistore context, => save => SAVE ERROR RED
5. Shop A selected => edit the product created => OK => Click on save => green alert OK
6. Shop B selected => edit th

[2019-03-10 17:42] unreviewed commented on #9664
Also this error when trying to save.
POST http://mysite/index.php/sell/catalog/products/20?_token=FLhiYgOQ-k1IqJct1YKTv-kq9W03QMwgpopN8vcDwBc 500 (Internal Server Error) main.bundle.js:313

[2019-03-10 18:03] IranDec commented on #12777
Hi @khouloudbelguith
Thanks for your followup.
Friendly URL and Accented URL both of them are enabled, and there isn't any difference between both product.
for second problem I create new issue
https://github.com/PrestaShop/PrestaShop/issues/12858

[2019-03-10 18:11] IranDec opened #12858 "can't modify the product and I get error can't saving Prestashop 1.7.5.1 and 1.7.6.2"
Hi @khouloudbelguith
for followup my second problem from my last issues, I create these issues.
https://github.com/PrestaShop/PrestaShop/issues/12777

PrestaShop 1.7.5.1 rtl (Persian language panel )

Friendly URL and Accented URL both of them are enabled, and there isn't any difference between both product.

[2019-03-10 18:41] unreviewed commented on #9664
Found a fix that works for me,

Fix for me in PS 1.7.5.1

Table ps_attribute_group rename field "is_color_group" to anything you like > Save >

Then rename the field back to "is_color_group"

Not sure why this works, I assume it is related to a bad index.

[2019-03-10 21:55] unreviewed commented on #9664
Spoke to soon. Something else is going on. Problem is back and repeating the rename of "is_color_group" dosen't work. So only work around is to do all editing multiple times/once for each shop.﻿

[2019-03-10 21:57] kpodemski commented on #12834
It's normal behavior, Cookie class handle PrestaShop Cookie, not $_COOKIE variable, @nowaja you should really ask on the forum how to work with Cookie class as this is not an issue :)

I suggest you to:
- ask for help on the forum
- analyze Cookie.php class

[2019-03-11 07:54] khouloudbelguith commented on #12477
Hi @Redparkerdoz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-11 07:54] #12477 closed, assigned to nobody

[2019-03-11 07:55] khouloudbelguith commented on #12434
Hi @LinkOfLight,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-11 07:55] #12434 closed, assigned to nobody

[2019-03-11 07:55] khouloudbelguith commented on #12474
Hi @elcolibri,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-11 07:55] #12474 closed, assigned to nobody

[2019-03-11 07:56] khouloudbelguith commented on #12508
Hi @luigimassa,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-11 07:56] #12508 closed, assigned to nobody

[2019-03-11 08:14] nowaja commented on #12834
@kpodemski I already did that and i've been told that it is an issue and I should create it here :D Now I'm confused.

[2019-03-11 08:17] khouloudbelguith commented on #12852
Hi @RomSunZ,

Thanks for your report.
I manage to reproduce this behavior with PS1.7.5.1 & PS1.7.4.4.
But, it could be an improvement issue.
@marionf, @colinegin what do you think?
Thanks!

[2019-03-11 08:20] khouloudbelguith commented on #12853
Hi @PatrykMakowski,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/54109465-06a8bb00-43df-11e9-8a12-7ddd9de702c6.png)
![image](https://user-images.githubusercontent.com/16067358/54109506-22ac5c80-43df-11e9-93a9-e0f9f144ae08.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have alrea

[2019-03-11 08:27] khouloudbelguith commented on #12834
Hi @nowaja,

I pinged our developers on this issue to analyze this problem.
Thanks!

[2019-03-11 08:35] khouloudbelguith commented on #12856
Hi @morghy1992,

Thanks for your report.
In the BO => Products details page => Combination Tab => You have "impact on price" tax excluded
![image](https://user-images.githubusercontent.com/16067358/54110042-9c911580-43e0-11e9-8542-8b6f5978a1b7.png)
I you click to edit on combination => You have two options
1. Impact on price (tax excl.)
2. Impact on price (tax incl.)

![image](https://user-images.

[2019-03-11 08:55] Quetzacoalt91 opened #15193 "Remove use of chmod from the project"
_Originally posted by @PierreRambaud in https://github.com/PrestaShop/autoupgrade/pull/289_

[2019-03-11 08:58] khouloudbelguith commented on #12857
Hi @mrabsinthe,

Thanks for your report.
In your BO => Shop Parameters => Order Settings => YOu have enabled the action "Suggest gift-wrapping to customers" with a free price.
![image](https://user-images.githubusercontent.com/16067358/54111217-a700de80-43e3-11e9-88bb-92d1cd9b9310.png)

If this information is not displayed in the FO, it will be confusing for the customers and for them there is an

[2019-03-11 09:07] mrabsinthe commented on #12857
What I'm trying to say is that we can certainly enable it in BO and display in FO with the following for eaxple: "I would like to have my order gift wrapped for free." It is than not necessary (and in some countries not possible) to list in in a/cart summary, b/ order confirmation c/ invoice as FREE item. I think that easy ON/OFF switch in BO "Display in cart summary/invoice" would do the job.

[2019-03-11 09:18] colinegin commented on #10013
This issue should be fixed by the rework we are currently doing on the front office to have a better split of all prices. Please follow #12743

[2019-03-11 09:25] feyll opened #12859 "BO notifications disappeared | new customer - new order - new message"
Hello everyone,

I noticed a few days ago that the module that shows notifications in the BO of new customers, new orders or messages has disappeared. The usual bell icon for notifications is gone.

Someone can kindly tell me the name of the module indicated so that you can re-download it and hook it to the BO header.

Debug mode has no problems in BO or FO, I tried to create new user, make a new

[2019-03-11 09:25] colinegin commented on #9604
@marionf , it has been removed on all pages, not just on symfony pages, right ?
What happened with this footer when you were on small screens or mobile ?

The new customer profile reintroduces links to training, documentation, etc. so it doesn't seem necessary in my opinion. What do you think @TristanLDD ?

[2019-03-11 09:33] khouloudbelguith commented on #12857
@mrabsinthe, so you need only to change the label "Free" to "I would like to have my order gift wrapped for free."?
![image](https://user-images.githubusercontent.com/16067358/54113617-fb5a8d00-43e8-11e9-91ab-91aadbee6ae5.png)
Thanks!

[2019-03-11 09:35] ghost opened #12860 "Uncheck the sub-category in the back office, but always check the sub-category in the front-end category"
Hello i'm facing a little bug with prestashop 1.7.5.1 version. When you unchecked the sub-category in main category in the Back office. The sub-category still display in front end.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog'
2. Click on 'products'
3. Select a product
4- Unchecked main category in ex

[2019-03-11 09:42] TristanLDD commented on #9604
Same as @colinegin, I don't recommend to put the footer back, it takes a lot of space and the links should be dispatched in more relevant areas.

[2019-03-11 09:44] khouloudbelguith commented on #12859
Hi @feyll,

I did not manage to reproduce the issue with PS1.7.5.0 & the ps_faviconnotification module v1.0.0.
I attached a video record.
https://drive.google.com/file/d/1BTi1iglZeu5K1OsaapSVAGCyR72wbukN/view
Thanks to check & feedback.

[2019-03-11 09:45] mrabsinthe commented on #12857
No, I need the option to hide the line completely but keep the gift wrapping selection box available.
![wrapping_hide](https://user-images.githubusercontent.com/31688689/54114467-cbac8480-43ea-11e9-9df7-9d15c15f99d1.png)

[2019-03-11 09:55] ghost opened #12861 "Remove the ps_legalcompliance module from the .zip"
The **ps_legalcompliance modules** is in the .zip but not installed, it is an exception. To manage it more easily we decided to remove it from the folder ant to push it with the API.

The module has to be removed from the .zip and pushed by the API instead.
Default state: not-installed

[2019-03-11 10:03] khouloudbelguith commented on #12858
Hi @IranDec,

With PS1.7.5.1, when Persian language panel is selected:
1. Friendly URL is enabled
1.1 if Accented URL is disabled => in the product page detail => SEO tab => Friendly URL will be empty =>
![image](https://user-images.githubusercontent.com/16067358/54115479-ccdeb100-43ec-11e9-9dda-daa13ac1ae26.png) => `http://0.0.0.0:8001/en/27-.html`

1.2 if Accented URL is enabled => in the produc

[2019-03-11 10:14] khouloudbelguith commented on #9664
Hi @unreviewed,

I manage to reproduce the issue with PS1.7.5.1 also.
![image](https://user-images.githubusercontent.com/16067358/54116250-a6217a00-43ee-11e9-96f8-99ad2efc3046.png)
It is not fixed yet.
We are aware of this issue, it is added to our bug roadmap, If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-03-11 10:25] khouloudbelguith commented on #12777
Hi @ced--ced,

Thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1Gw0Y3iYkdBCxcJJ5GBwlXNr6W1gRs6tE/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report

[2019-03-11 10:50] PatrykMakowski opened #12862 "Cant save product with a lot of combinations on shared hosting"
**Describe the bug**
I have problem with saving product that has a lot of combinations. Problem is over 1000 active combinations per product.  Maybe this isnt a prestashop bug, but its very unoptimized solution and most shared hostings have problem with saving product When we have 1000 combinations, then button "Save" on product backoffice sending ajax request with **14000** variables. PHP max_inp

[2019-03-11 10:54] khouloudbelguith commented on #12862
Hi @PatrykMakowski,

Thanks for your report.
We are aware of this issue and we are working on it.
No, this issue is in progress, it is assigned to our developer Jocelyn Fournier, he is working on it.
Thanks for your patience
Your ticket is a duplicate of #9809
So, I close it.
Thanks!

[2019-03-11 10:54] #12862 closed, assigned to nobody

[2019-03-11 10:54] khouloudbelguith commented on #12862
Duplicate of #9809

[2019-03-11 10:58] Pliciweb opened #12863 "Cart rules issue with taxes"
**Describe the bug**
Apply cart rules generate a tax include price lower than tax exclude price in back office if customer is supposed to be tax exempt.

**To Reproduce**
Steps to reproduce the behavior:
1. Install fresh lasted 1.6 version of Prestasop : 1.6.1.23
2. Go to Price Rules -> Cart rules -> Add new cart rule
![bug_1_informations](https://user-images.githubusercontent.com/1949479/54118751

[2019-03-11 11:06] khouloudbelguith commented on #12842
Hi @seederp2p,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-03-11 11:12] khouloudbelguith commented on #9924
Hi @lpoczatek,

Would you be willing to make a pull request on GitHub with a code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
https://github.com/PrestaShop/ps_mainmenu
Thank you!

[2019-03-11 11:29] khouloudbelguith commented on #12085
Hi @jcarloscid,

Thanks for your feedback.

So, to reproduce the issue, I need to delete a page cms before updating the module?

Thanks!

[2019-03-11 11:31] khouloudbelguith commented on #12845
Hi,

@rdy4ever, thanks for your feedback.
@piupiu09, did you use the default theme PrestaShop?
Thanks!

[2019-03-11 11:39] feyll commented on #12859
Hello, thanks for your reply. You are always kind and helpful.
I installed the form you indicated to me but I still do not see the little bell with the notifications, I checked and is correctly hooked to the BO header.
I see notifications only in my browser favicon.
I have deleted the browser cache but it is not visible anyway.

![Cattura](https://user-images.githubusercontent.com/27018255/5412135

[2019-03-11 11:44] khouloudbelguith commented on #12859
@feyll, thanks for your feedback.
Could you please navigate to the BO => Advanced Parameters => Administration, in the bottom of the page, you need to check if all the "Notifications" options are disabled, if yes you need to enable them.
![image](https://user-images.githubusercontent.com/16067358/54121687-6dd46880-43fb-11e9-9dcb-78a20fb89764.png)
Thanks to check & feedback.

[2019-03-11 11:46] feyll commented on #12859
Yes, all the notifications are activated, but the notification bell still can not be seen.
![Screenshot (71)](https://user-images.githubusercontent.com/27018255/54121824-bbe96c00-43fb-11e9-8ee2-ecb461e40414.png)

[2019-03-11 11:53] khouloudbelguith commented on #12859
@feyll, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/ho

[2019-03-11 11:59] khouloudbelguith commented on #12863
Hi @Pliciweb,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1fA24gLx-cBS7rsOkKKviIskHm1QUguTo/view
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2019 for security and critical bugs.
Your bug isn’t crit

[2019-03-11 11:59] #12863 closed, assigned to nobody

[2019-03-11 12:01] khouloudbelguith commented on #12857
@mrabsinthe, as I said in my last comment.
If we hide completely this option, it will be confusing for the customer => it is not a good improvement to add.
This is a custom need, so you can hide it by editing the your theme.
Thanks!

[2019-03-11 12:01] IranDec commented on #12858
Hi, @khouloudbelguith
thanks for followup my problem
friendly URL is enabled  & Accented URL is enabled.
but in some of my product page, I can't edit them and get an error.
this problem just accurate in Persian panel, when I use the English panel everything works fine.
for example, I have an error in this product :
https://irandec.com/لوستر-کریستالی/-670لوستر-مهتاب-تنه-استیل.html

[2019-03-11 12:31] feyll commented on #12859
Java not have a error.
Nor have a error log apache and php
This too much thing is causing me many problems.
It was always visible and since I moved to 1.7.5.0 it has disappeared.
Something so irrelevant creates such big problems.
**Prestashop: 1.7.5.0
PHP: 7.1**

PS: the module you made me install I had never seen before, what was the old module that ran the notification bell?

![Screenshot (72)](

[2019-03-11 12:41] khouloudbelguith commented on #12858
@IranDec, You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. save product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response" or "Previ

[2019-03-11 12:49] feyll commented on #12859
Inspecting the element I see that this is hooked to the BO header

This is a second store with the same problem, this second store is hosted in my main directory but it is a new installation from the one I showed you before, but also in this shop the doorbell is gone.

![Cattura2](https://user-images.githubusercontent.com/27018255/54125149-8006d480-4404-11e9-8dd3-862da2b8b5ae.PNG)

[2019-03-11 12:58] khouloudbelguith commented on #12859
@feyll, first could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Second, `canapath.it_ftplog` is it the log from your server?
Did you delete `prestafraud` module from your ftp?
Third, this issue occurs only when you install ps_faviconmodule? or before that?
Thanks!

[2019-03-11 13:00] jcarloscid commented on #12085
I haven't tried to reproduce the issue, so I cannot guarantee the effect.
I'd better copy the ps_link_block* tables from a shop on version 1.6 after removing the CMS page on that shop. That is more close to what I have experienced.

Regards.

[2019-03-11 13:07] khouloudbelguith commented on #12860
Hi @manouxep,

You need to navigate to your BO => Modules => Module Manager => search for the ps_facetedsearch module => click on configure button => Disable the "Show products from subcategories" option & save.
![image](https://user-images.githubusercontent.com/16067358/54126075-fc9ab280-4406-11e9-9258-b4d0ef4ecc2e.png)
Thanks, I close the issue, feel free to open a new one when needed.
Thank you

[2019-03-11 13:07] #12860 closed, assigned to nobody

[2019-03-11 13:10] khouloudbelguith commented on #12085
@jcarloscid, thanks for your feedback.
ping @jolelievre what do you think?
Thanks!

[2019-03-11 13:13] colinegin opened #12865 "Behat cart tests"
Refactor cart tests using Behat

[2019-03-11 13:13] colinegin commented on #12865
#12634

[2019-03-11 13:45] khouloudbelguith commented on #12839
Hi @VorobiovM,

did you use a custom template for your email? provided by your theme?
Because with the default template, the invoice provided doesn't contain this section.
![image](https://user-images.githubusercontent.com/16067358/54128382-3d48fa80-440c-11e9-9da1-bd8f58cecfe3.png)
 Thanks !

[2019-03-11 13:50] VorobiovM commented on #12839
Hi @khouloudbelguith

I use the default theme (classic) with some modifications. As you can see in both pictures, text with a link is still generated in the invoice, but variables in a table are not. Also as you mentioned earlier emailed invoice is of the wrong language.

[2019-03-11 13:54] khouloudbelguith commented on #12839
@VorobiovM, you have the issue described in the screenshot
![image](https://user-images.githubusercontent.com/16067358/54128920-6a49dd00-440d-11e9-9132-adb73e53f24c.png)
By default this section doesn't exist in the template by default, did you added it?
Thanks!

[2019-03-11 13:55] VorobiovM commented on #12839
@khouloudbelguith, yes I added it myself.

[2019-03-11 13:57] khouloudbelguith commented on #12839
@VorobiovM, so this issue is not related to the PrestaShop core, you have to check your code.
It seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks

[2019-03-11 13:57] #12839 closed, assigned to nobody

[2019-03-11 14:02] makritos opened #12866 "No shipping methods available"
Hi all,
I'm trying to find my issue.
I've set up different provinces associated to a zone; then I've configured new delivery associated to this zone.
When I reach delivery method on checkout process I've always have the message "Unfortunately there's no carrier available for your address"

I've read here for some fixes about related issues but did not work for me.

[e.g: #9932](https://github.com/

[2019-03-11 14:07] khouloudbelguith commented on #12866
Hi @makritos,

If PrestaShop Carriers Are Not Available At Checkout, you need to check:

1. Carrier Is Inactive: PrestaShop carrier status is the first thing you should consider
Incorrect Zone Assign or Country Disabled: Zone association is among the first things to check if a created carrier does not show for a specific shopper. When configuring PrestaShop carrier you are supposed to assign it to

[2019-03-11 14:16] makritos commented on #12866
Thanks for reply @khouloudbelguith. I've checked all your tips.

1. Carrier is active, zone is active and all provinces (all active) are assigned to this zone.
2. Carrier is allowed to all customer groups.
3. Ranges are specified based on total amount so weight are not significant.
4. Based on point 3, I'm not using package dimensions.

If you need more info about my config, please ask for it =)

[2019-03-11 14:27] zell9999 opened #12867 "Impossible remove Specific price using csv"
Hello,

As you know Prestashop has a function to import products through csv files. (Advanced Parameters->Import)

  -If you import a product using .csv file and you put "25" (for example) in csv column "Discount percent", then works fine. A 25% discount is applied to the product. (see Step 1 file)
  -Now, if you want to remove the discount and you put "0" in csv column "Discount percent", doesn't

[2019-03-11 14:36] khouloudbelguith commented on #12866
@makritos, you don't need to follow these steps to reproduce your issue as described in this issue
https://github.com/PrestaShop/PrestaShop/issues/9932#issuecomment-467397790, is it?
If no, do you have any cart rule applied in the FO?
Thanks!

[2019-03-11 14:58] khouloudbelguith commented on #12867
Hi @zell9999,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
I tried with those two files.
[no_discount.txt](https://github.com/PrestaShop/PrestaShop/files/2952758/no_discount.txt)
[yes_discount.txt](https://github.com/PrestaShop/PrestaShop/files/2952759/yes_discount.txt)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on yo

[2019-03-11 15:10] makritos commented on #12866
Hi again @khouloudbelguith you're right, I don't need to follow this steps. I haven't got any cart rule applied.

The weird of all of this is that when I set free delivery on my carrier it shows correctly on front but if switch again to not free, disappears and get the red of the death message.

[2019-03-11 15:11] khouloudbelguith commented on #12866
@makritos, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.

[2019-03-11 15:23] centoasa opened #12869 "index button on search module"
Prestashop 1.7.5.1 on debian
This button https://s.nimbusweb.me/share/2647953/rf1t1ibql6xhza6y0m1k doesn't works.
I'm explain better: with this button flagged or unflagged, after edit or add product, the index doesn'r change until click on link "add product to idnex" or "rebuild index"

[2019-03-11 15:41] Quetzacoalt91 opened #12870 "Implement CQRS on CommonController::notificationsAction()"
Following review on #12708 and #10131, CQRS should be implemented in CommonController::notificationsAction()

_Originally posted by @Quetzacoalt91 in https://github.com/PrestaShop/PrestaShop/pull/12708_

[2019-03-11 16:08] unreviewed opened #12871 "Stock management - Multistore"
In Multistore Set "Share available quantities to sell" =>YES

Go to Catalog > Stocks
In All Shops context you receive notification,
"You can't manage your stock in this shop context: select a shop instead of a group of shops."

All stores are now set to share inventory, the ONLY way to manage inventory should be In the context of "All Shops" because it no longer make sense to edit inventory by sto

[2019-03-11 16:20] mickaelandrieu opened #12873 "Technical debt of the Translations in PrestaShop"
# Translations system

We need to support the management of the translations of the external modules in the Back Office.
For the native modules, translations come from the core Xliff files and domains so we have introduced the support of legacy translation files from PrestaShop 1.6-.

Doing that, we have identified a lot of mistakes or code smell in the current implemntation of the translation sys

[2019-03-11 16:28] feyll commented on #12859
@khouloudbelguith
Yes, this is server error log.
I canceled prestafraud because it gave me errors on the site. I have little trafico at the moment and very few purchases so I chose to delete it, because there is some problem if I canceled prestafraud?

Yes, this is server error log.
I canceled prestafraud because it gave me errors on the site. I have little trafico at the moment and very few purch

[2019-03-11 16:42] unreviewed commented on #12871
Additional info.

As mentioned trying to add or update stock quantity with All Shops” context ends with error.

Switching to single shop context allows stock addition without error flag, however very nasty error is entered into Table: ps_stock_available

Here is image showing clean/empty table before using combination bulk edit in single store context:
![Capture1](https://user-images.githubusercon

[2019-03-11 16:42] unreviewed commented on #12871
Here is image about to add 100 to sample product "1",
![Capture2](https://user-images.githubusercontent.com/2993190/54140977-88124480-4403-11e9-9b8d-168476598efd.JPG)

[2019-03-11 16:43] unreviewed commented on #12871
Update is reported as successful, however see final image of Table: ps_stock_available

1. All stock is assigned to id_shop_qroup > 1
All stock is set to be shared so it should not be assigned to a shop group.

2. Nasty bug, see field id_stock_available > 308
No value assigned to id_product_attribute
COMPLETELY WRONG quantity "800" where did that come from?
![Capture3](https://user-images.githubus

[2019-03-11 16:44] eternoendless commented on #9566
@qadeeralvi read [this](https://github.com/PrestaShop/PrestaShop/issues/9566#issuecomment-437033362)

[2019-03-11 16:50] morghy1992 commented on #12856
@khouloudbelguith thank you for your replay.
I fixed it was only a problem linked to countries.

[2019-03-11 17:22] #12754 closed, assigned to khouloudbelguith

[2019-03-11 17:22] #12861 closed, assigned to Quetzacoalt91

[2019-03-11 17:24] #9764 closed, assigned to nobody

[2019-03-11 18:42] Maofree opened #12875 "Meta title and Meta description in the category pages have different limit values"
hi
why the size of Meta title and Meta description of categories are different from those of products?
I think the right size are those of products, the classic 70 and 160
all pages have the same rules so there are no differences between categories or products or homepage

bye

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/54148848-44d0c980-4435-11e9-8254-6352bfcbca87.png)

[2019-03-11 19:10] unreviewed commented on #12871
Bulk edit quantity in Stock Management

Start with empty database tables,
![Capture1](https://user-images.githubusercontent.com/2993190/54150789-1bee0b80-4418-11e9-8791-99a3722a1036.JPG)

[2019-03-11 19:10] unreviewed commented on #12871
Add 100 to all products.
![Capture4](https://user-images.githubusercontent.com/2993190/54150822-32946280-4418-11e9-82bc-16eb1787da4e.JPG)

[2019-03-11 19:11] unreviewed commented on #12871
Prestshop shows all is well,

![Capture5](https://user-images.githubusercontent.com/2993190/54150852-4344d880-4418-11e9-97c1-bb7d318ddc6a.JPG)

[2019-03-11 19:12] unreviewed commented on #12871
Database table shows many entry’s no atrib_ID and amounts not related to current inventory.

![Capture6](https://user-images.githubusercontent.com/2993190/54150959-7c7d4880-4418-11e9-9fa9-e56a1ccdd10b.JPG)

[2019-03-11 19:17] unreviewed commented on #12871
I assume the the rows without id_product_attribute is a total of each id_product

[2019-03-11 21:26] fall-en opened #12876 "list of products with combinations but without available quantities for sale"
In catalog monitoring/LIST OF PRODUCTS WITH COMBINATIONS BUT WITHOUT AVAILABLE QUANTITIES FOR SALE it is showing a product that have combination and available quantities for sale.

Steps to reproduce the behavior:
1. Create a product with 1 combination
2. in FO sell few time this product
3. In BO delete the combination (because the product combination it is no more available)
4. Set new combinatio

[2019-03-11 21:29] qadeeralvi commented on #9566
Hi @eternoendless
Thanks for your reply.  I am getting the same error even after installed reCAPTCHA.  Please check the following link for error.
https://www.useloom.com/share/6c5cfc4f33a14e2497d208dfc885e12b

I need the solution of this problem, I tried many different things but the error is constant.  Let me know if you can help me.

[2019-03-11 21:51] mowcixo opened #12877 "Webservice is letting create addresses without state for countries with states"
**Describe the bug**
When you create an address from the webservice, you are able to create it without a state id. That produces an error when you try to make an order using that address, and also when you try to edit the address from the BO.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an address from the webservice, withou specifying the id_state and choosing a country with state

[2019-03-12 00:06] mariusherea commented on #12452
Same problem, in Safari only

[2019-03-12 07:30] mateuszstompor commented on #12452
@mariusherea in my case the problem disappeared when I upgraded php version to 7.1

[2019-03-12 08:17] khouloudbelguith commented on #12876
Hi @fall-en,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12814
So, I close it.
Thanks!

[2019-03-12 08:17] #12876 closed, assigned to nobody

[2019-03-12 08:17] khouloudbelguith commented on #12876
Duplicate of #12814

[2019-03-12 08:32] khouloudbelguith commented on #12877
Hi @mowcixo,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
I used this script

[code]

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-03-12 08:34] morghy1992 opened #12879 "Invoice PS 1.7.5 The server returned a "500 Internal Server Error"."
Hello,
I received on my website my first order from a customer but when I go to see the invoice it opens a new page and it says The server returned a "500 Internal Server Error".

Here the screenshot of the error
<img width="1358" alt="Schermata 2019-03-12 alle 09 34 08" src="https://user-images.githubusercontent.com/47249256/54185786-26f17c00-44aa-11e9-939f-4b4f7b113d16.png">

could you help me t

[2019-03-12 08:44] khouloudbelguith commented on #12869
Hi @centoasa,

No, it is working well.
If you enable this feature, the products will be indexed in the search automatically when they are saved. If the feature is disabled, you will have to index products manually.
I attached a video record.
https://drive.google.com/file/d/1pq3_Qn4_Agt1fSooc0NKlo0B0EfUxykr/view
Thanks to check & feedback.

[2019-03-12 08:47] khouloudbelguith commented on #12879
Hi @morghy1992,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prest

[2019-03-12 08:53] khouloudbelguith commented on #12856
Hi @morghy1992,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-03-12 08:53] #12856 closed, assigned to nobody

[2019-03-12 09:02] colinegin commented on #9959
#12872

[2019-03-12 09:12] khouloudbelguith commented on #12859
@feyll, if you enable debug mode, there is no exception displayed in your BO?
Thanks!

[2019-03-12 09:14] morghy1992 commented on #12879
Hi @khouloudbelguith

Sure here the information:

- Hotst: siteground
- Prestashop Versione: 1.7.5
- Debug mode report active and there are no errors.

I went to see the log files and there are not errors.

[2019-03-12 09:32] khouloudbelguith commented on #12875
Hi @maofree,

The Title tag and especially the Meta Description are two important elements for the SEO.
Now, the recommended the maximum size for the meta description was often between 150 and 160 characters max.
On computers, Title tags will now display on up to 70-71 characters where we could now add between 50 and 60 characters for full display in Google results.
So, on the product page, it is

[2019-03-12 09:36] jolelievre commented on #11518
Two PRs linked to this issue https://github.com/PrestaShop/PrestaShop/pull/12564 and https://github.com/PrestaShop/productcomments/pull/26
Waiting to be reviewed before QA

[2019-03-12 09:37] khouloudbelguith commented on #12879
@morghy1992, The 500 Internal Server Error can be very frustrating because it is such a vague error. there are actually several different issues that can cause the 500 error message to appear.
We need PHP error logs. If you don't have it, you should ask your hosting provider.
Thanks for your understanding!

[2019-03-12 09:39] khouloudbelguith commented on #10313
Hi @nbexiga,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-12 09:39] #10313 closed, assigned to nobody

[2019-03-12 10:05] feyll commented on #12859
Hi @khouloudbelguith
Not error to enable debug mode.

[2019-03-12 10:08] khouloudbelguith commented on #12859
@feyll, could you please provide the credentials of your shop to check it.
This is a public space.
You can provide me the access by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

[2019-03-12 10:20] Marwazeinoo88 opened #12885 "cURL error: Resolving timed out after 5000 milliseconds"
**Describe the bug**
Hi, this morning i'm getting 500 (Internal Server Error) on front office! On debeug mode i find the forward error 👍

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'my website front page'
2. See error

**Screenshots**
I’ve attached a screenshot of it as well.
![Capture](https://user-images.githubusercontent.com/43037924/54191665-ad13bf80-44b6-11e9-95c1-2d7068384673

[2019-03-12 10:21] khouloudbelguith commented on #12871
Hi @unreviewed,

"You can't manage your stock in this shop context: select a shop instead of a group of shops."

Yes, you are right, but this is the behaviour adpted in this page.
![image](https://user-images.githubusercontent.com/16067358/54191770-de8c8b00-44b6-11e9-8980-c82d882e67b8.png)
You can follow our documentation: http://doc.prestashop.com/display/PS17/Stock+overview

This new stock manag

[2019-03-12 10:21] #12871 closed, assigned to nobody

[2019-03-12 10:21] khouloudbelguith commented on #12871
Duplicate of #10274

[2019-03-12 10:27] khouloudbelguith commented on #12885
Hi @Marwazeinoo88,

Your issue is related to the `hicarouselspack` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-03-12 10:27] #12885 closed, assigned to nobody

[2019-03-12 10:39] Marwazeinoo88 commented on #12885
@khouloudbelguith But the module was working just fine for more than 6 months...I only got this error this morning! the 3 months of support are over long ago..

[2019-03-12 10:41] khouloudbelguith commented on #12885
@Marwazeinoo88, you have some issues with file instagaram.php file & hicarouselspack.php file.
I'm sorry, but as I said before, As it's not a module provided by Prestashop, we can't do anything with this.
Thanks for your understanding!

[2019-03-12 10:48] khouloudbelguith commented on #12687
Hi all,

I manage to reproduce the issue with PS1.7.5.1.
![image](https://user-images.githubusercontent.com/16067358/54194425-83f62d80-44bc-11e9-8d5c-189cff713fe1.png)
![image](https://user-images.githubusercontent.com/16067358/54194467-9d977500-44bc-11e9-9aa8-c76224a4a365.png)
I tried with this shop: http://presta1and1.com/prestashop_1.7.5.1/index.php
I’ll add this to the debug roadmap so that it

[2019-03-12 10:53] watou commented on #12687
I think there are a number of templates and modules that add structured Product data to miniature products that appear in listings, and I frankly don't have the resources to properly scope and test a full and proper fix.  I _believe_ the proper implementation of a fix is to remove all schema.org/Product and related information from all product listing pages, but how to do that properly and test it

[2019-03-12 10:55] makritos commented on #12866
I'm gathering all info and post here soon.

[2019-03-12 10:56] khouloudbelguith commented on #12866
Hi @makritos,

Thanks!
Waiting for your feedback.

[2019-03-12 10:57] morghy1992 commented on #12879
@khouloudbelguith I found the error logs here the text :

[09-Jul-2018 17:44:40 Europe/Rome] PHP Fatal error:  Uncaught  --> Smarty: unable to write file /home/gelitaly/public_html/app/cache/prod/smarty/cache/17/1/1/1/2/2/10/ac/ea/1b/wrt5b4382e86758e7_08208806 <--
  thrown in /home/gelitaly/public_html/vendor/prestashop/smarty/sysplugins/smarty_internal_write_file.php on line 46
[19-Jul-2018 19:51

[2019-03-12 10:57] feyll commented on #12859
@khouloudbelguith
Hi, I sent you an email.
Thanks for the support.

[2019-03-12 10:59] khouloudbelguith commented on #12859
@feyll, I did not receive your email yet.
Thanks to check & feedback.

[2019-03-12 11:04] Maofree commented on #12875
hi
yes I know that, but in the category pages it is written 255 and 512

[2019-03-12 11:05] feyll commented on #12859
@khouloudbelguith :)
![Screenshot (75)](https://user-images.githubusercontent.com/27018255/54195484-126bae80-44bf-11e9-9b82-8e2587345ab1.png)

[2019-03-12 11:06] khouloudbelguith commented on #12879
@morghy1992, since 07-Feb-2019, the only issue that you have

thrown in /home/gelitaly/public_html/vendor/smarty/smarty/libs/sysplugins/smarty_internal_templatebase.php on line 177

This issue is related to your theme, as reported in this ticket: #12409, have you tried to contact your theme author about this error in your log file?
THanks!

[2019-03-12 11:08] khouloudbelguith commented on #12875
@maofree, yes.
I pinged our develop @matks to check if we will consider the recommended maximum length for the meta title & meta description for a category during the migration: #10194.
Thanks!

[2019-03-12 11:08] morghy1992 commented on #12879
@khouloudbelguith thank you for the answer.
I didn't contact the theme author.
I am going to send an email and see if can be fixed :)

[2019-03-12 11:09] feyll commented on #12859
I don't understand why now my shop 1 backoffice is in error 500. Yesterday when I turned off the PC I worked quietly. Today when I turned on the PC and entered BO shop I got an error 500.
If active debug mode error 500 disappears and BO works correctly.
Very puzzled by this.
Let's hear from you via email

[2019-03-12 11:09] khouloudbelguith commented on #12859
@feyll, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-03-12 11:10] khouloudbelguith commented on #12879
@morghy1992, thanks!
Waiting for your feedback.

[2019-03-12 11:12] eternoendless commented on #12586
See https://github.com/PrestaShop/ADR/blob/master/0002-mixed-use-of-composer-and-zip-modules.md

[2019-03-12 11:18] feyll commented on #12859
@khouloudbelguith i resend, please check.
Thanks

[2019-03-12 11:19] khouloudbelguith commented on #12859
@feyll, I just received the email.
I will check & feedback.

[2019-03-12 11:22] tlukowskia opened #12886 "PRESTA 1.6.17 Controller not found"
**Describe the bug**
Several days ago everythink works well but when i wanted to change cms sites i have a problem. Changed debug mode to true but i don't have more errors. Caan u help me?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'admin'
2. Click on 'preferences -> cms'
3. And i have problem like this http://prntscr.com/mwrh2n

**Screenshots**
http://prntscr.com/mwrh2n

**Additi

[2019-03-12 11:23] khouloudbelguith commented on #12859
@feyll,
About your first shop, it is OK.
![image](https://user-images.githubusercontent.com/16067358/54196380-8f982300-44c1-11e9-8ddc-71e8c5405093.png)

About your second shop, I have error 500, I cannot check it.
![image](https://user-images.githubusercontent.com/16067358/54196409-a474b680-44c1-11e9-909f-455d9506e1be.png)
Thank to check & feedback.

[2019-03-12 11:30] khouloudbelguith commented on #12886
Hi @tlukowski,

I did not manage to reproduce the issue with PS1.6.1.23.
![image](https://user-images.githubusercontent.com/16067358/54196734-6b891180-44c2-11e9-96cf-093333d07111.png)
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-p

[2019-03-12 11:30] #12886 closed, assigned to nobody

[2019-03-12 11:33] feyll commented on #12859
Thanks, I'm checking but the bell isn't visible on my side yet.
I deleted cache from browser and from var / cache folder I scrapped all the folders.
![Screenshot (76)](https://user-images.githubusercontent.com/27018255/54196967-08e44580-44c3-11e9-83ab-c6f40206b635.png)

PS: if active debug mode error 500 disappears. But how is it possible that error 500 occurs overnight?

[2019-03-12 11:36] khouloudbelguith commented on #12859
@feyll, I think it is a cache problem.
Try to run those command to clear cache.
[code]

Thanks!

[2019-03-12 11:50] feyll commented on #12859
@khouloudbelguith
Excuse my trivial question, where can I launch these commands?

[2019-03-12 12:33] jacket commented on #12763
Thanks for sharing your investigation @khouloudbelguith.

We found that the issue affects PS1.6.x only. The code in PS 1.7 has been rewritten to image URLs are retrieved using one of the methods of the Image core class.

Do you think a fix might be released for PS1.6? If not, we'll try and can create a workaround to override the Image class method.

[2019-03-12 12:38] mariusherea commented on #12452
I am using php 7.3. To fix the problem, I created empty  .map files and now Safari stopped complaining about it.

[2019-03-12 12:38] colinegin commented on #12456
Hello all,

After discussion with the UX & dev team, here are what we plan to develop.

The main difference vs current behaviour is that the user will always have to click on "Continue" to go from Step X to Step X+1, no matter if :

- he/she goes in the different steps for the first time
- he/she went to the step X and decided to go back to X-1 or X-2 to check or modify the information stored.

Th

[2019-03-12 13:07] khouloudbelguith commented on #12452
Hi @mariusherea,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Thanks!

[2019-03-12 13:08] khouloudbelguith commented on #12763
@jacket, sorry.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be accepted in the `1.6.1.x`

[2019-03-12 13:08] #12763 closed, assigned to nobody

[2019-03-12 13:09] #9604 closed, assigned to nobody

[2019-03-12 13:14] colinegin commented on #12811
@eternoendless @PrestaShop/prestashop-core-developers what do you think ?

[2019-03-12 13:17] khouloudbelguith commented on #12859
@feyll, into the path of your project folder, with a terminal.
Thanks!

[2019-03-12 13:39] centoasa commented on #12869
thank you so much @khouloudbelguith I'm testing again and let you know if updates happens

[2019-03-12 13:41] khouloudbelguith commented on #12869
@centoasa, thanks!
Waiting for your feedback.

[2019-03-12 13:44] makritos commented on #12866
Here is all info I've gather at this moment.

- Server info: Linux #1 SMP Debian 4.9.130-2 (2018-10-27) x86_64 / Apache Server
- PHP Version 7.0.30
- Prestashop 1.7.5.1
- SQL: 10.1.37-MariaDB-0+deb9u1
- Host: http://www.elitepublicidad.com/ (you can do some tests if you want)

Then show you some screen captures about backend configs:

Active zones. Zone Península is the new one.
![Captura de panta

[2019-03-12 13:46] hongkongtheo opened #12887 "Prestashop : contact module, no customers message redirected to my mail box"
**Describe the bug**
Since few weeks i have no more redirected messages coming from the module "contact". The module "contact" doesn't redirect customers messages to my mail box. When customers send message, the message appears in the admin but it is not redirected to my mail.  (I re-installed the module, nothing change).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to module 'contact'

[2019-03-12 13:48] francoispeyret opened #12888 "#BO - Translations search : menu items active or not"
**Navigation items disabled in translation controller**
When you do a search in translations (BO). Items of navigation aren't allways enabled and don't affect interface..
![Capture d’écran de 2019-03-12 14-43-32](https://user-images.githubusercontent.com/15829643/54204868-74cfa980-44d5-11e9-9ceb-87b0e9347cd4.png)

**My solution**
When item is not enabled hide it a little with opacity
![Capture d’é

[2019-03-12 13:49] jacket commented on #12763
OK, thanks for your help @khouloudbelguith!

[2019-03-12 13:54] khouloudbelguith commented on #12866
Hi @makritos,

In your second screenshot, the zone of Espana is Europe.
![image](https://user-images.githubusercontent.com/16067358/54205213-2bcc2500-44d6-11e9-9c3d-c200f201667f.png)
But, in the carrier page, Europe is not selected.
![image](https://user-images.githubusercontent.com/16067358/54205264-51592e80-44d6-11e9-834e-3766be05059c.png)
In the FO, you have an address with the country Espana
!

[2019-03-12 14:01] khouloudbelguith commented on #12887
Hi @hongkongtheo,

I did not manage to reproduce the issue with PS1.6.1.23.
![image](https://user-images.githubusercontent.com/16067358/54205859-78fcc680-44d7-11e9-9eac-53428967c576.png)
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical o

[2019-03-12 14:01] #12887 closed, assigned to nobody

[2019-03-12 14:06] tomlev commented on #11172
@khouloudbelguith could you please check if this issue occurs in 1.7.3.x versions ?
Just to know if this is a regression in the 1.7.4.0 cart refact or not

[2019-03-12 14:35] khouloudbelguith commented on #12888
Hi @francoispeyret,

Thanks for your suggestion.
Yes, I think, it is a good idea.
@marionf, @colinegin what do you think?

@francoispeyret, would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-03-12 14:48] hongkongtheo commented on #12887
i just come here to ask because the customer service tell me to do it  :-)
so it means that for now nobody will care this non critical bug ?
..never.... ? or after june ?
or you know who else i can ask ?

[2019-03-12 14:57] khouloudbelguith commented on #12887
@hongkongtheo, If you need help, you can ask on the Forum (https://www.prestashop.com/forums/) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-03-12 15:03] francoispeyret commented on #12888
@khouloudbelguith yes. Soon, i guess

[2019-03-12 15:08] francoispeyret commented on #12888
Hi @khouloudbelguith,

Yes. Soon, i guess.

[2019-03-12 15:08] khouloudbelguith commented on #11172
HI @tomlev,

No, I did not manage to reproduce the issue with PS1.7.3.4.
I attached a video record.
https://drive.google.com/file/d/1Yn4ho6X2wzTTxzUs-ghzK3xoj5fc5c_s/view
Thanks!

[2019-03-12 16:27] ghost commented on #17107
Hi @By-oussef,

Can you give us more information about your request? Thanks

[2019-03-12 16:28] bmagneCesi commented on #12300
Hi @eternoendless,

I tryed to add it mannually into the database but I can't find it in the BO...anything else to do in order to make it works ?

[2019-03-12 16:47] PrestaSafe opened #12894 "Server overload on image generation after update"
**Describe the bug**
After upgrade a PrestaShop 1.7.4.2 to 1.7.5.1 the serveur is overload when i tried to go on a product page or a category page, it seems to generate all the images (on front office).
If a rename the img root folder by img- the category / product page is displayed.

It's the second time i've seen it, and in the same case upgrade 1.7.4.X to 1.7.5.X
at first i thought it was a hac

[2019-03-12 16:57] morghy1992 commented on #12687
@khouloudbelguith thank you for letting us know. I still have same problem I could't find any solution.
Hope to resolve the issue soon.

[2019-03-12 17:10] feyll commented on #12859
@khouloudbelguith Thank you and sorry for my ignorance. I explained to you in the email my misadventure
![Cattura3](https://user-images.githubusercontent.com/27018255/54220604-136a0380-44f2-11e9-97e0-807c09297da4.PNG)
.

I was able to launch your codes but this responds with error. **php -d memory_limit=-1 ./bin/console cache:clear --env=prod**

[2019-03-12 17:11] khouloudbelguith commented on #12859
@feyll you need to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-03-12 17:16] khouloudbelguith commented on #12894
HI @PrestaSafe,

I tried with PS1.7.5.1, I have more than 500 products, the query time is 0.31 ms.
I attached a video record.
https://drive.google.com/file/d/1p3gjKuDFstp9VlUfiSsyNBXtE1s9TelY/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-03-12 17:32] PrestaSafe commented on #12894
Thanks, but my probleme is when i'm on the front office.
Did you tried to regnerate all of images ?

Thanks

[2019-03-12 17:56] mariusherea commented on #12452
Hello @khouloudbelguith,
That's.... good to know :) Thank you.

[2019-03-12 18:13] ghost opened #12895 "[WIP] CR - Page Login - call nativeAll.xml in Admin controller"
## Current behavior

**When is the call made?**

**At which frequency is it made?**

**Why is it used for?**

## Expected behavior

**At which frequency should we call the API?**

**What should happen if the API is super slow?**

**What should happen if the API is down?**

**How many time should we try to call?**

[2019-03-12 18:15] #12895 closed, assigned to nobody

[2019-03-12 18:58] feyll commented on #12859
@khouloudbelguith
Hi, I now have error 500. I deleted folders from **public_html/inrosso-canapa-light/var/cache**

Also on site 2, error 500 occurred after I deleted folders from **public_html/var/cache**
This happened as soon as the prod and dev folders were deleted.
Please what action should I take to learn about the nature of this error?
To fix do I need to restore the prod and dev folders in t

[2019-03-12 19:40] banan44 opened #12896 "Stats does not show the real numbers"
Hello, I have problems with Stats since the day 1 (I installed PS somewhere around 1.7.2 version). Both Stats section and the stats widgets on Dashboard are showing various numbers not related to the real life.

Stats section shows "no module installed" on the left side. I do not know how to solve it. Also take a look at the period selected and the number of orders. These numbers are different. I

[2019-03-12 21:22] TemKaSD opened #12898 "Charset database not specified for table ps_layered_category ?"
Hello. Maybe need charset database?
![Screenshot_1](https://user-images.githubusercontent.com/6318282/54237014-bd807480-4560-11e9-864d-1e14f297866e.jpg)

[2019-03-12 21:29] Flower7C3 opened #12899 "stocks categories filter"
**Describe the bug**
Categories filter is stocks screen searches by name not id. In addition categories are ordered by _id_parent_ not _position_.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO / Catalogue / Stocks
2. Click on *Advanced filters*, select *Filter by categories*.
3. Select category which name occurs in other subcategory.
4. Both categories will be searched.

**Screens

[2019-03-13 04:53] VorobiovM opened #12901 "Make carrier name multilingual"
**Is your feature request related to a problem? Please describe.**
Many Prestashop e-commerce's uses local carriers, that may have different names depending on the language.

**Describe the solution you'd like**
Add the ability to localize courier name. This feature was first proposed by [PSCSX-8505] back in 2016.

Here are the specs for the localization.

## Specs

Page: Shipping > Carriers > Add

[2019-03-13 07:50] khouloudbelguith commented on #12894
Hi @PrestaSafe,

Thanks for updating the issue.
@jolelievre created a PR: https://github.com/PrestaShop/PrestaShop/pull/12337 to fix this issue: https://github.com/PrestaShop/PrestaShop/issues/12207
It is fixed in the PS1.7.5.1.
Is it similar to your issue?
Thanks!

[2019-03-13 07:55] khouloudbelguith commented on #12896
Hi @banan44,

Thanks for your report.
In your Dashboard page, could you please check if the "Demo mode" option is disabled.

"Demo mode" => This mode displays sample data so you can try your dashboard without real numbers.
![image](https://user-images.githubusercontent.com/16067358/54262108-b2801100-456d-11e9-8471-4a573aa3cdc4.png)
Thanks to check & feedback.

[2019-03-13 08:02] khouloudbelguith commented on #12901
Hi @VorobiovM,

Thanks for your suggestion.
Yes, it could be a good improvement to have a carrier name in Back Office is translatable Multilanguage
![image](https://user-images.githubusercontent.com/16067358/54262522-a6488380-456e-11e9-9e6f-1c90862436a6.png)
@marionf, @colinegin what do you think?
Thanks!

Previous ticket on forge: http://forge.prestashop.com/browse/BOOM-4699

[2019-03-13 08:04] PrestaSafe commented on #12894
@khouloudbelguith yes it seems to be the same things, but not in the same place.
I've not this probleme when i change combination, it makes 500ms to change it on a good server (is it long ?)
In my customer template, the combinations are loaded on category page so it make sense.

I think the problem is linked to the upgrade process. i haven't this probleme on the previous version (1.7.4.3) and it w

[2019-03-13 08:13] florine2623 commented on #9998
PS Version : 1.7.5.0

Steps to reproduce the bug :
1 - Create a carrier for Belgium
2 - Add a product only delivered in Belgium in the cart
3 - When adding my French address in the checkout process, I can’t continue (I have an error message: No carrier can deliver to this address => correct)
4 - But if I add a product deliverable in France in the same cart, I can process to checkout => which is in

[2019-03-13 08:21] khouloudbelguith commented on #9998
Hi @florine2623,

Thanks for your feedback.
I have the same issue with PS1.7.5.1.
![image](https://user-images.githubusercontent.com/16067358/54263541-5919e100-4571-11e9-9087-62ac855c9874.png)

Thanks!

[2019-03-13 08:22] khouloudbelguith commented on #12859
@feyll,
The prod and dev folders in the two var/cache directories are cache folders.
You don't need to restore them.
But it could be permission issue of the /var/cache/ folder.
Thanks to check & feedback.

[2019-03-13 08:33] feyll commented on #12859
@khouloudbelguith
Hi, thanks for your suggestion.
In fact now the permissions are set this way
in **public_html/var/cache
folder 1dev permissions 775
folder 1prod permissions 775
folder prod permissions 777**

the permissions are set this way
in **public_html/ingrosso-canapa-light/var/cache
folder 1prod permissions 777
folder prod permissions 777**

Would you advise me to set **755** permissions f

[2019-03-13 08:36] khouloudbelguith commented on #12898
Hi @TemKaSD,

Thanks for your report.
I have the same issue with PS1.7.5.1.
The collocation of the table ps_layered_category.
The most "standard" table is that defaulted by phpMyAdmin, is "latin1_swedish_ci".
It corresponds perfectly to ISO-8859-1.
Thanks to check & feedback.

[2019-03-13 08:46] makritos commented on #12866
Thanks for the reply @khouloudbelguith but still not working. One appointment about this; if I switch on free delivery for my carrier, delivery options appear...

[2019-03-13 08:56] khouloudbelguith commented on #12866
@makritos, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-03-13 08:59] khouloudbelguith commented on #12859
@feyll, Some hosts might require you to use CHMOD 777, although it is not recommended for anything more than a one-time need.
If you have to use CHMOD 777 in order to install PrestaShop, make sure to switch to a safer setting (for instance, 775 for folders and 664 for files) once you are done installing.
Read your host's documentation carefully.
About the notification bell, in my case, with your s

[2019-03-13 09:13] feyll commented on #12859
@khouloudbelguith
chrome version 73.0.3683.75

Thack for you tips

[2019-03-13 09:22] khouloudbelguith commented on #12899
Hi @Flower7C3,

About your first note, yes, you are right the categories are not ordered by position.
About your issue:

I did not manage to reproduce the issue
I created three categories with contains the same name => But it is OK.
The search is done only by the category selected.
I attached a video record.
https://drive.google.com/file/d/1GELwNOr6GwHLtAwoTbFbVphMO9xoeo9V/view
Thanks to check & f

[2019-03-13 09:28] khouloudbelguith commented on #12859
@feyll, I tried with Google Chrome Version 73.0.3683.39 (Official Build) (64-bit) & your shop & it is OK.
I sent you the video record via email.
THanks!

[2019-03-13 09:40] khouloudbelguith commented on #12894
@PrestaSafe, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-03-13 09:41] khouloudbelguith commented on #12520
Hi @Crolug,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-13 09:41] #12520 closed, assigned to nobody

[2019-03-13 09:42] khouloudbelguith commented on #12526
Hi @Neilerua75,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-13 09:42] #12526 closed, assigned to nobody

[2019-03-13 09:42] khouloudbelguith commented on #12502
Hi @morghy1992,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-13 09:42] #12502 closed, assigned to nobody

[2019-03-13 09:50] makritos commented on #12866
There's nothing on error on PHP log, promise. I'm afraid...

[2019-03-13 09:53] khouloudbelguith commented on #12866
@makritos, could you please provide the credentials of your shop to check it.
This is a public space.
You can provide me the access by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

[2019-03-13 10:19] khouloudbelguith commented on #12866
@makritos, I just received the mail.
I tried to navigate to FO,
I have this
![image](https://user-images.githubusercontent.com/16067358/54271453-d2b9cb00-4581-11e9-9c6d-60b03cf2a813.png)
Can I allow it manually?
Thanks!

[2019-03-13 10:24] makritos commented on #12866
Mmmm, sorry I’m going to change it now.

[2019-03-13 10:26] makritos commented on #12866
Check again =)

[2019-03-13 10:29] morghy1992 commented on #12879
@khouloudbelguith Hi, i have contacted the author theme and he said it error core of my prestashop.

Could you help me to fix it?

[2019-03-13 10:34] khouloudbelguith commented on #12879
@morghy1992, did you check the author theme about the invoices issue or this error [PHP Fatal error: Uncaught --> Smarty: 0():Missing '$template' parameter <--
thrown in /home/gelitaly/public_html/vendor/smarty/smarty/libs/sysplugins/smarty_internal_templatebase.php on line 177] ?
Thanks!

[2019-03-13 10:38] morghy1992 commented on #12879
@khouloudbelguith
the author knows about the invoice issue and also about error PHP.
He said is not the template error but of prestashop.

[2019-03-13 10:42] khouloudbelguith commented on #12879
@morghy1992, when generating the invoice & debug mode is enabled, is there any exception displayed?
Thanks!

[2019-03-13 10:45] morghy1992 commented on #12879
@khouloudbelguith I enabled the debug mode and it let me see the invoice, if I unable the debug mode give me 500 error

[2019-03-13 10:48] khouloudbelguith commented on #12879
@morghy1992, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-03-13 10:57] morghy1992 commented on #12879
@khouloudbelguith Can be this the problem?

<img width="692" alt="Schermata 2019-03-13 alle 11 56 42" src="https://user-images.githubusercontent.com/47249256/54273887-182cc700-4587-11e9-8e5e-c10b4cef3ce9.png">

[2019-03-13 11:02] Matt75 commented on #12879
I thinks problem come from override `override/classes/pdf/HTMLTemplateInvoice.php` made by your module named `Ap Booking`
Did you use that : https://apollotheme.com/products/ap-booking-prestashop-module ?

Try to disable this module and override and feedback

[2019-03-13 11:03] khouloudbelguith commented on #12866
@makritos, I found this problem.
This issue occurs due to the genei module.
![image](https://user-images.githubusercontent.com/16067358/54274027-6641ca80-4587-11e9-9de8-1b70c84b5202.png)
As it's not the default module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thank

[2019-03-13 11:03] #12866 closed, assigned to nobody

[2019-03-13 11:09] morghy1992 commented on #12879
@Matt75  Hi Matt, thank you for your answer.
I tried and now give me this error
<img width="1123" alt="Schermata 2019-03-13 alle 12 09 10" src="https://user-images.githubusercontent.com/47249256/54274634-dbfa6600-4588-11e9-953a-db65ac028511.png">

[2019-03-13 11:12] Matt75 commented on #12879
Please disable override too
Advanced Parameters -> Performance -> Disable all overrides

[2019-03-13 11:14] morghy1992 commented on #12879
Hi @Matt75 is already disable
<img width="585" alt="Schermata 2019-03-13 alle 12 14 16" src="https://user-images.githubusercontent.com/47249256/54274902-938f7800-4589-11e9-81a7-8723f808d4f6.png">

[2019-03-13 11:16] khouloudbelguith commented on #12879
@morghy1992, @Matt75, just about the "Disable non PrestaShop modules" does not work reported in this ticket: #9965
Thanks!

[2019-03-13 11:18] Matt75 commented on #12879
I am pretty sure whole problem come from this module try to contact the developer

[2019-03-13 11:19] morghy1992 commented on #12879
@khouloudbelguith ok what you suggest to do ?  I leave disable or unable ?

[2019-03-13 11:20] morghy1992 commented on #12879
@Matt75 I contacted the developer he said is a problem of core prestasho :(

[2019-03-13 11:26] khouloudbelguith commented on #12879
@morghy1992, but the "ApbookingOrder" class is provided by this module & not PrestaShop Core.
Thanks!

[2019-03-13 11:29] Krapulat opened #12905 "Problem URL rewrites in admin with nginx and Prestashop 1.7.5.1"
In Prestashop 1.7.5.1 + nginx, when I click in some pages inside backoffice it redirects to homepage. The problem appears with URLs with slashes like: /admin/index.php/sell/catalog/products/?_token=xxx or /admin/index.php/improve/international/localization/?_token=xxx

However, with URLs like: /admin/index.php?controller=AdminCategories&token=xxx or /admin/index.php?controller=AdminPsMboModule&tok

[2019-03-13 11:31] morghy1992 commented on #12879
@khouloudbelguith if I delete the cache (var/cache (prod & dev) as you ask me
do you think I can resolve the problem ?

[2019-03-13 11:52] makritos commented on #12866
Wow! I really appreciated your help.

[2019-03-13 12:04] musaffar-patel opened #12906 "JS error prevents the launch of the module configuration. Prestashop 1.7.5.0"
This problem occurs in the back office when editing a product in Prestashop 1.7.5.  Active modules under the 'Modules' tab are unable to launch due to a JS error produced by Prestashop.

Screen shot of the error attached.
![screenshot](https://user-images.githubusercontent.com/44204668/54277527-07c91c00-4588-11e9-8fad-49aaa224311f.jpg)

It seems it is related to the text which is entered into the

[2019-03-13 12:28] bertoferrero opened #12907 "Low performance on great catalogs"
**Describe the bug**
On great catalogs, it's a big kick in the eggs of the database.
In each delete action I had, for example, 4900 products to process just to update de date_upd

**Steps To Reproduce**

1. Setup a shop with 50 000 products which are in the same category
2. Delete 100-200 products from catalog using bulk delete feature
3. See error > you will see the real speed of product delete p

[2019-03-13 12:32] kpodemski commented on #12907
what? you're deleting one product, why would you want to update the rest?

[2019-03-13 12:45] matks commented on #12875
Hi @khouloudbelguith, yes, modifying the length of the fields is very easy and can be done when we migrate the page. However it would be good to double-check the impact on this field as SEO remains a shady area. For me, I know I'm bad at it 😛.

I consequently add this item to the issue todo-list for the page.

[2019-03-13 12:52] bertoferrero opened #12908 "Static function called as self"
**Describe the bug**
If you call cleanPositions as self::cleanPositions PHP will not call the overrided version of cleanPositions.

**Additionnal information**
PrestaShop version: 1.71x
PHP version: N/A

[2019-03-13 12:54] bertoferrero commented on #12907
I'm not sure if the line has been saved... I mind the bucle on Product::cleanPositions:
[code]

Into our shop, total takes the value 4000 approx, so, the update query will be executed 4000 times

[2019-03-13 12:55] bertoferrero commented on #12907
CleanPositions is called from deleteCategories who is called from delete()

[2019-03-13 13:00] bertoferrero commented on #12907
I fixed this replacing it with this code:
[code]

[2019-03-13 13:37] matks commented on #12908
Hi @prestaquality, can you explain a bit more your usecase ? What class are you overriding ?

[2019-03-13 14:02] mbadrani commented on #9640
Fixed in this PR https://github.com/PrestaShop/PrestaShop/pull/10253

[2019-03-13 14:08] bertoferrero commented on #12908
Sorry :)
It is inside of Product class, all calls to product::cleanPositions are made with self:: instead of static::. Because of this php will never call the override version of cleanPositions

[2019-03-13 14:15] #9640 closed, assigned to nobody

[2019-03-13 14:28] ghost commented on #12901
Hi @VorobiovM,

Thanks for you feedback 👍

Just to be sure, what you would like is to have is a dropdown menu on the "Carrier name" line with your different localizations?
Like in the picture below :

![Capture d’écran 2019-03-13 à 15 22 44](https://user-images.githubusercontent.com/47456895/54286706-9cda0e00-45a4-11e9-89de-f58958b2cd14.png)

[2019-03-13 14:50] eternoendless commented on #12846
Done for MBO in https://github.com/PrestaShop/ps_mbo/pull/87

Needs to be done in the core as well.

[2019-03-13 15:02] MubarakIssop opened #12909 "Cannot Edit Products"
****************************
DO NOT disclose security issues here, contact security@prestashop.com instead!
****************************
-->

**Describe the bug**
Hi, I have been using my Prestashop back office for a few years since it has been passed on to me by the developer. I have not had any problems so far until today. Yesterday i did a bulk import of products and now i cannot edit products.

[2019-03-13 15:20] matks commented on #10504
Aaaand another 😄 https://github.com/PrestaShop/PrestaShop/issues/12656

[2019-03-13 15:38] TristanLDD opened #12910 "[CLASSIC THEME] UI improvements"
List of several UI improvements on the classic theme :

**General :**

- Change the grey background color to #F6F6F6 on every page

- Add a fade-in / fade-out animation on menu hover

**Product page :**

- Change the "zoom" hover on large product image:
![Capture d’écran 2019-03-12 à 12 09 47](https://user-images.githubusercontent.com/27484094/54195758-cf5e0b00-44bf-11e9-96b3-ddf8ecaa45b9.png)

[2019-03-13 15:50] Marwazeinoo88 commented on #12885
Thank you anyway! the error has disappeared suddenly as it came suddenly...Never know if it is presta bug or a hosting server issue!

[2019-03-13 16:10] mowcixo opened #12911 "When you edit a specific price in BO and you close the modal with ESC, you cannot scroll anymore in the product form"
**Describe the bug**
When you edit a specific price in BO and you close the modal, you cannot scroll anymore in the product form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product form that has specific prices.
2. Click on any specific price edit button.
3. Close the modal.
4. You will not be able to scroll anymore in the product form.

**Additionnal information**
PrestaShop ve

[2019-03-13 16:20] matks commented on #12755
Hi ! The migration for 1.7 is focused on migrating backoffice pages. Rewriting the frontoffice, including this customer registration form into something (Symfony ? we're not sure yet 😃as it is less relevant for the FO than for the BO) will be done later, at least in 1.8 .

However

I think this is the real culprit: if you are able to modify the form fields you should be able to modify their order,

[2019-03-13 16:36] ysvahn commented on #12667
Hey @pppplus , I have the same exact error that I fixed by using @mickaelandrieu temporary workaround.

Are you using Plesk by any chance ? It could be some broken reference in classes somewhere I believe.

EDIT: I could not reproduce it with Debug Mode on, I had to turn it off to get the errors.

[2019-03-13 16:49] pppplus commented on #12667
No, I use Directadmin.

[2019-03-13 16:50] TristanLDD opened #12913 "[CLASSIC THEME] New design for 'Add to cart' confirmation popup"
UI modifications on the 'Add to cart' confirmation popup

Mockups: https://invis.io/7BQZL32SCRY#/352006191_Modale

Preview:
![Capture d’écran 2019-03-13 à 17 48 33](https://user-images.githubusercontent.com/27484094/54298078-63130280-45b8-11e9-919f-aaee011278c6.png)

[2019-03-13 16:51] rblaurin commented on #12755
I totally agree. And the same with address form, I forgot to mention.

[2019-03-13 17:41] VorobiovM commented on #12901
Hi @samuel-pires,

Yes, a dropdown will be perfect.

[2019-03-13 17:48] #11315 closed, assigned to YeLnatSs

[2019-03-13 19:21] banan44 commented on #12896
Thank you for your reply. Yes, the Demo mode is disabled. The orders that are showed in the graph widget were paid by other payment module I am using. Orders paid by PayPal are not showed on graph.

[2019-03-13 19:22] Flower7C3 commented on #12899
@khouloudbelguith in Your example categories have different name. In my customer's store there are structure like this:
* Root (1)
  * Books (2)
    * Kids (3)
    * Adults (4)
  * Movies (5)
    * Kids (6)
    * Adults (7)

So when I want to filter by category **Kids** (id 4, in Root/Books) it also filters by **Kids** (id 6, from Root/Movies).

[2019-03-13 20:37] MSG47 opened #12915 "Price and product (attributes) loading performance issue - pls help"
Hi Guys,
So the situation is the following I have products with multiple combinations:
Four Attributes with the following number of values:
1)	- 19 values
2)	- 8 values
3)	- 8 values
4)	- 3 values

So ~3600 combination per product, with 30 products now that gives me >100000 rows. each with different price. I do load them from CVS file (take ages, but works😉), however - when going to the Product on

[2019-03-13 22:10] go-sudo opened #12916 "Hello I need your help please when i try to clear cache i get on backend ERRO 500 and php side"
Hello

I need your help please when i try to clear cache i get on backend ERRO 500 and php side

https://playstore.ma/phpinfo.php

https://playstore.ma/phpps.php
prestashop
prestashop

Version de PrestaShop : 1.7.5.1

[code]

[2019-03-14 00:29] TemKaSD opened #12917 "Please add link for breadcrumb ADMIN CP"
Hello. Need add link.

![Screenshot_1](https://user-images.githubusercontent.com/6318282/54323233-09581a00-4644-11e9-993b-491f7dddf686.jpg)

[2019-03-14 07:10] sarjon opened #12918 "Make Core services context independent"
I've been thinking context data injection into services (injecting context language, employee, shop & etc into constructor), it's basically the same as injecting Request object.

Example:
[code]

I think that context data should come from "outer" layers (e.g. controllers, console), that way, our Core services become context independent.

[2019-03-14 07:11] sarjon commented on #12918
@matks here's an issue. :)

[2019-03-14 07:32] khouloudbelguith commented on #12536
Hi @protorp,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-14 07:32] #12536 closed, assigned to nobody

[2019-03-14 07:33] khouloudbelguith commented on #12534
Hi @guigplt,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-14 07:33] #12534 closed, assigned to nobody

[2019-03-14 07:46] khouloudbelguith commented on #12911
Hi @mowcixo,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1UHKd--M1pMMaBy0Zqa4O2nuB5IbD1CKo/view
Thanks to check & feedback.

[2019-03-14 07:52] khouloudbelguith commented on #12909
Hi @MubarakIssop,

There is already an issue for 1.6: http://forge.prestashop.com/browse/PSCSX-9042
It wasn't necessary to create a new one.
So, this one can be closed
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

[2019-03-14 07:52] #12909 closed, assigned to nobody

[2019-03-14 07:55] mowcixo commented on #12911
Hi @khouloudbelguith, sorry for the leak of details. It only happens when you click on the modal's overlay or press ESC key, not when you click any button on the modal.

[2019-03-14 07:55] morghy1992 commented on #12879
Hi, @khouloudbelguith I contacted the author theme and he said that I should contact the author module.
Now the problem is that I never bought or installed this module. Why I have this problem now? I do not want to pay for something never installed or want it.

Please could you help me? I need to send the invoice to my customer.

[2019-03-14 08:00] khouloudbelguith commented on #12879
Hi @morghy1992,

Sorry, but as it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-03-14 08:00] #12879 closed, assigned to nobody

[2019-03-14 08:06] khouloudbelguith commented on #12905
Hi @Krapulat,

I did not manage to reproduce the issue with PS1.7.5.1 & the Server software version: nginx/1.14.0 & PHP7.2.10.
I attached a video record.
https://drive.google.com/file/d/1d3RuM_6PeTT3_8ipsVCIn0eFoYF84CX-/view
here's my nginx configuration
[code]
I created from this file https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.con

[2019-03-14 08:36] khouloudbelguith commented on #12911
@mowcixo, thanks for these clarifications.
Yes, when I click on "ESC" key from the keyboard, I cannot scroll anymore in the product form.
Issue reproduced with PS1.7.5.0 & PS1.7.5.1
https://drive.google.com/file/d/1ZERU0BO8OTDTwFXrnOidtP2HHPIxNTyA/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a

[2019-03-14 08:44] MubarakIssop commented on #12909
Hi,

The thread that you have provided in the last email does not actually contain any answers if this issue was every fixed or not and how it was fixed. Was it ever fixed? I feel like I chose a developer for my store that chose Prestashop and just handed it over to me. Prestashop has so many glitches and bugs I feel like he has made the worse decision going with Prestashop and worse part is that

[2019-03-14 08:46] khouloudbelguith commented on #12906
Hi @musaffar-patel,

here's the PR: #11923 to fix the issue.
It is fixed in the next release PS1.7.5.1.
Your ticket is a duplicate of #11911
So, I close it.
Thanks!

[2019-03-14 08:46] #12906 closed, assigned to nobody

[2019-03-14 08:47] khouloudbelguith commented on #12906
Duplicate of #11911

[2019-03-14 08:56] khouloudbelguith commented on #12916
Hi @go-sudo,

Your ticket is a duplicate of #12667
So, I close it.
You can follow this [comment](https://github.com/PrestaShop/PrestaShop/issues/12667#issuecomment-466330421) for temporary fix.
Thanks!

[2019-03-14 08:56] #12916 closed, assigned to nobody

[2019-03-14 08:56] khouloudbelguith commented on #12916
Duplicate of #12667

[2019-03-14 09:05] khouloudbelguith commented on #12917
Hi @TemKaSD,

Can you explain a bit more your usecase?
Do you need to add a link to which page?
Thanks!

[2019-03-14 09:11] khouloudbelguith commented on #12915
Hi @MSG47,

Thanks for your report.
About the blank page in the BO when editing a product, We are aware of this issue and we are working on it.
No, this issue is in progress, it is assigned to our developer Jocelyn Fournier, he is working on it.
Thanks for your patience
Your issue is a duplicate of #9809
About the slow performance, in the FO, have you the same issue reported in this ticket: #12894

[2019-03-14 09:23] khouloudbelguith commented on #12667
Hi @pppplus,

Could check with your host, if there are some functions for security are blocked?
Thanks!
Because, I said before, despite our several trials, we could not reproduce your issue with the provided information.
Thanks for your understanding!

[2019-03-14 09:23] Krapulat commented on #12905
Hello @khouloudbelguith,

I've copied the nginx configuration server and it happens the same problem. I'm using varnish but I have this line to not cache the site:

    if (req.http.host == "prestashop_site.com") {return (pipe);}

I've recorded a video to show the problem: https://drive.google.com/file/d/1ofqwZX9ym9zWuXu8g2-pdcJ8tzolw52V/view

[2019-03-14 09:27] khouloudbelguith commented on #12905
@Krapulat, you have an issue with your configuration.
With symfony pages, you have redirection to the home page, thanks to follow this [link](https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf#L55) for the correct redirection.
Thanks!

[2019-03-14 09:29] JulienBerlinger opened #12919 "Free Shipping anyway 1.7.5.1"
**Describe the bug**
Trying to resolve the shipping registration process. I added / deleted carriers, means of payment. price brackets, weight slices. Transform "France" into "FRANCE" or "EUROPE". But still the same problems, "Free shipping" (under conditions)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'fleurdeparfum.fr'
2. Click on 'try to buy something'
3. Scroll down to 'Select

[2019-03-14 09:40] khouloudbelguith commented on #12919
Hi @JulienBerlinger,

I have this issue when I try to navigate to your shop.
![image](https://user-images.githubusercontent.com/16067358/54346501-74eeb700-4645-11e9-86d1-ce2cf8f6e4c1.png)
Thanks to provide the access.

[2019-03-14 09:40] khouloudbelguith commented on #12919
@JulienBerlinger, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Thanks to downgrade your version PHP

[2019-03-14 09:45] khouloudbelguith commented on #12909
@MubarakIssop, in fact, this issue http://forge.prestashop.com/browse/PSCSX-9042 is not fixed yet.
But, as I said the maintenance support for PrestaShop 1.6 ended in October 2018, which is now in extended maintenance mode until June 30, 2019.
During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs will be fixed.
Thanks for your understanding!

[2019-03-14 09:49] khouloudbelguith commented on #12896
@banan44, thanks for your feedback.

During this period, did you generate any new invoices?
for this module `dashtrends`, it is necessary to regenerate invoices so the statistics will be displayed.
Thanks!

[2019-03-14 09:56] MubarakIssop commented on #12909
Sir,

This IS a critical bug! How am I supposed to add new products or edit any existing products on our website. I have a team that lists products for us and they not cannot do their work. My website is at a standstill, how is this not a critical issue??? The thread you provided a link to has comments from April 2018. You are telling me it has nearly been a year and there is no solution? So shall

[2019-03-14 10:10] khouloudbelguith commented on #12875
Hi @matks,

Thanks for your feedback.
@maofree, your issue will be fixed, it is added in this ticket: #10194.
I close this issue, please follow #10194.
Thanks!

[2019-03-14 10:10] #12875 closed, assigned to nobody

[2019-03-14 10:17] khouloudbelguith commented on #12866
@makritos, you are welcome!
Thanks!

[2019-03-14 10:18] Krapulat commented on #12905
@khouloudbelguith I've tried this line but It doesn't work:

    location /admin_dir/ {                                  # [REQUIRED EDIT] the name of your admin directory
        if (!-e $request_filename) {
            rewrite ^/.*$ /admin_dir/index.php last;   # [REQUIRED EDIT] the name of your admin directory
        }
    }

I also tried this one without luck:

    location ~ /(international|

[2019-03-14 10:22] ttoine commented on #12909
Hello, the short term solution in your case is to restore a backup from before your bulk import.

But I don't really understand: your website is still not in production, after 2 years of development?

[2019-03-14 10:23] khouloudbelguith commented on #12905
@Krapulat, it could be another problem, but I'm sure, it is on the config file.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-03-14 10:34] MubarakIssop commented on #12909
Hi,

Unfortunately I forgot to back up before doing the import. In this case, is there no solution?

I mean the website is Live and in production, but we still have a lot of products to add on to it. We are constantly changing our inventory and have around 2000 more lines to add on but with this issue my staff are completely stuck with their work and cannot do anything, I have had to send them hom

[2019-03-14 10:40] Peterits commented on #12743
Hello, I made some modifications for the display of groups with the excluded tax, also works with tax groups included
Modification to solve the display of the detail to pay and the customer history with HT groups in 1.7.5.x, if it can be useful for 1.7.6.x

Display error when client groups are Tax excluded in history

![History-customer](https://user-images.githubusercontent.com/44966543/54349247-

[2019-03-14 10:41] Krapulat commented on #12905
@khouloudbelguith There is no error messages in php or nginx logs.

And with debug mode on, when I try to access to this admin pages I get:

    [Debug] This page has moved
    Please use the following URL instead: http://domain.com/index.php

[2019-03-14 10:42] khouloudbelguith commented on #12743
@Peterits, thanks for your code suggestion.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-03-14 10:43] khouloudbelguith commented on #12905
@Krapulat, yes as I said, there is a redirection to the home page forced by your config.
Thanks!

[2019-03-14 10:48] Krapulat commented on #12905
@khouloudbelguith By "your config" do you mean nginx configuration? Or Prestashop configuration?

[2019-03-14 10:48] Peterits commented on #12743
Yes, I want but I do not know how to do it !!

[2019-03-14 10:51] khouloudbelguith commented on #12905
@Krapulat, no your nginx configuration.
In the file /etc/nginx/sites-available/default.conf you must write your own rules as we do for Apache. You must not use a rewrite where you don't need it.
More because it's an example and you can customize this part by everything you want.
Thanks!

[2019-03-14 10:55] khouloudbelguith commented on #12743
@Peterits, Thanks to follow this documentation: https://github.com/PrestaShop/PrestaShop/tree/develop#contributing to make your pull request.
Thanks!

[2019-03-14 11:02] Krapulat commented on #12905
@khouloudbelguith The same nginx configuration works fine with Prestashop 1.7.4.4 but not In Prestashop 1.7.5.1... I'll continue checking what's wrong.

[2019-03-14 11:04] khouloudbelguith commented on #12905
@Krapulat, no, in my case in well working as described in my last screen-record.
Thanks!
Waiting for your feedback.

[2019-03-14 11:14] Casper-O commented on #11522
https://github.com/PrestaShop/PrestaShop/blob/1.6.1.x/controllers/admin/AdminOrdersController.php#L1337

This is the line that cause the issue, what solved it for me was that i changed to the code to the following
`} elseif ((float)Tools::getValue('discount_value') <= 0) {`

To this:

`} elseif ((float)Tools::getValue('discount_value') <= 0 && Tools::getValue('discount_type') != 3) {`

My guess is

[2019-03-14 11:17] khouloudbelguith commented on #12908
Hi @prestaquality,

Thanks for your report.
I created the file Product.php into the path /Projetc_Folder/override/classes/Product.php

[code]
This function is call after deleting a product from a category.
I tried to delete a product, but no effect.
I manage to reproduce this issue with PS1.7.5.1 & PS1.7.4.4.
Ping @eternoendless @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-03-14 11:25] Peterits commented on #12743
I'm going to try

[2019-03-14 11:39] khouloudbelguith commented on #12899
@Flower7C3, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/54354121-2269c680-4656-11e9-977e-23b67122f53e.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-03-14 11:44] JulienBerlinger commented on #12919
Ho ok sorry,
But where are you ?
Regards
Julien

Le jeu. 14 mars 2019 10:41 AM, khouloudbelguith <notifications@github.com>
a écrit :

[2019-03-14 11:46] rdy4ever commented on #12901
I'm in on this too. Sometimes, you don't want to disclose the carrier name, and you would preffer to be something like "Express delivery" - that needs to be translated.
Also - the "Pick-up in store" delivery method needs to be translated.

[2019-03-14 11:49] khouloudbelguith commented on #12919
@JulienBerlinger, now it is OK.
![image](https://user-images.githubusercontent.com/16067358/54354646-7c1ec080-4657-11e9-8f15-e94aa5056ece.png)
I will check & feedback.
Did you downgrade your PHP version?
Thanks!

[2019-03-14 11:52] JulienBerlinger commented on #12919
Please to check everything you need from BO.

I am right now in a train and my wifi is really bad I can't do anything for
now.
[Edited by Khouloud]
Best regards
Julien

Le jeu. 14 mars 2019 12:44 PM, Julien Berlinger <julienberlinger@gmail.com>
a écrit :

[2019-03-14 11:53] JulienBerlinger commented on #12919
No the PHP is that I said in the ticket... I don't remember exactly.

Le jeu. 14 mars 2019 12:49 PM, khouloudbelguith <notifications@github.com>
a écrit :

[2019-03-14 11:55] khouloudbelguith commented on #12919
@JulienBerlinger, I edited your comment.
This is a public space.
Let's be safe!

Thanks!

[2019-03-14 11:59] bertoferrero commented on #12908
It is simple, you have to modify deleteCategory and deleteCategories. Just replace self::cleanPositions by static::cleanPositions

[2019-03-14 11:59] khouloudbelguith commented on #12919
@JulienBerlinger, yes your PHP version is PHP 7.3.0.
![image](https://user-images.githubusercontent.com/16067358/54355283-f8fe6a00-4658-11e9-826f-8a1ecd98a566.png)
You need to downgrade your PHP version
Thanks!

[2019-03-14 12:02] khouloudbelguith commented on #12919
@JulienBerlinger, there is something strange, When I'm logged to your shop, the shop is replaced to just a catalog, so I cannot add any product to cart, because it is not displayed.
![image](https://user-images.githubusercontent.com/16067358/54355455-7033fe00-4659-11e9-86ad-edf4a9693c0b.png)
Thanks!

[2019-03-14 12:03] khouloudbelguith commented on #12908
@prestaquality, Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-03-14 12:15] davenir commented on #10387
Same issue here on V1.7.5.0
I've tried clearing the cache to no avail.

[2019-03-14 12:44] Anthony-Kiiru commented on #11355
This video has the fix (a hack!) https://www.youtube.com/watch?v=_rVxHGdzSeY
Just remember to remove the comments after successful installation :)

[2019-03-14 13:21] khouloudbelguith commented on #12907
Hi @prestaquality,

I did not manage to reproduce the issue with PS1.7.5.1.
I have more than 4000 products.
I attached a video record.
https://drive.google.com/file/d/1cD-hsJ7V6QDl4JBZ6xWAyaw4pwN_2a0n/view
When I delete a product, only 51 requests created.
![image](https://user-images.githubusercontent.com/16067358/54360116-6c59a900-4664-11e9-9c4c-ca2ca19b6bbd.png)
Thanks to check & feedback.

[2019-03-14 13:24] JulienBerlinger commented on #12919
B to B is activated and connected are disable to order. You can change it
if you need.
Best regards
Julien

Le jeu. 14 mars 2019 1:02 PM, khouloudbelguith <notifications@github.com> a
écrit :

[2019-03-14 13:31] khouloudbelguith commented on #12919
@JulienBerlinger, No, I disabled B2B, but always the same issue on FO.
![image](https://user-images.githubusercontent.com/16067358/54360774-e3dc0800-4665-11e9-9700-94a5c67738ce.png)

Thanks!

[2019-03-14 13:37] JulienBerlinger commented on #12919
I'm sorry my client is searching and trying to change every since two weeks.
I have contacted him to tell to stop it.
You can now activate it and change groups as you want.
Thanks a lot.
Julien

Le jeu. 14 mars 2019 2:32 PM, khouloudbelguith <notifications@github.com> a
écrit :

[2019-03-14 13:53] ghost commented on #12901
Thank you both for your feedback. We'll look into it !
Do not hesitate if you have more info about this feature.

It is always good for us to know how you use a feature and in which context 👍

[2019-03-14 13:53] sewingau opened #12923 "Error 500 when selecting 'shipped' on order status. 1.7.5.1"
**Describe the bug**
after updating to 1.7.5.1,,,,,,,,,updating order status (shipped, )takes me to an error 500 screen.
The task is completed when I go back to orders. If I select bulk actions, I go to error 500 screen and only 1 action has been performed when I get back to orders.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '..orders.'
2. Click on '.select order box or open singl

[2019-03-14 13:54] ghost commented on #12901
@rdy4ever,  when you say "Pick-up in store" delivery method has to be translated, are you talking about the "transit time" field?    (see image)
It automatically adapts to the shop's language, though it might be not translated in in all languages yet (see Crowdin https://crowdin.com/project/prestashop-official)

![Capture d’écran 2019-03-14 à 14 45 00](https://user-images.githubusercontent.com/4

[2019-03-14 13:56] khouloudbelguith commented on #12923
Hi @sewingau,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-03-14 14:00] rdy4ever commented on #12901
Yes. But wouldn't it be better if "Pick-up in store" would be the name of the carrier (shipping method)?

[2019-03-14 14:01] Integraelec opened #12924 "PrestaShopException Invalid address #72"
PrestaShopException is created when going to Orders / shopping carts in BO. Invalid address #72
at line 439 in file classes/Address.php

![Capture](https://user-images.githubusercontent.com/48558437/54362765-c76cab00-4626-11e9-9f52-c1cad2b6b105.JPG)

[2019-03-14 14:04] ghost commented on #12901
Makes sense, we'll look into it.

[2019-03-14 14:04] khouloudbelguith commented on #12924
Hi @Integraelec,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11416 to fox the issue.
It is fixed in the PS1.7.5.0.
Your ticket is a duplicate of #9782
So, I close it.
Thanks!

[2019-03-14 14:04] #12924 closed, assigned to nobody

[2019-03-14 14:04] khouloudbelguith commented on #12924
Duplicate of #9782

[2019-03-14 14:11] khouloudbelguith commented on #12919
@JulienBerlinger, have you tried to contact the theme author about this issue?
Thanks!

[2019-03-14 14:31] JulienBerlinger commented on #12919
The theme author is me, and it's just a copy of classic theme... I have
tried to change it for restart with the classic theme... but same issue. I
have read a lot of ticket on forums about this problem.
I have called Prestashop this morning and they tell to contact you.
You are my last chance.

When you tell me to undergrade PHP, you means from hosting plateforme right
? Could you tell what php ve

[2019-03-14 14:38] jf-viguier commented on #10678
It seems that this commit solve the issue : https://github.com/PrestaShop/PrestaShop/commit/6655cab883dcec1cae6f2dd58087fae1fc7e268b#diff-31a3a3e02b67c2e9064868bd3841ceab

But this fix is not included in 1.7.5.1. Is it planned for the next release ?

[2019-03-14 14:38] khouloudbelguith commented on #12919
@JulienBerlinger, yes, on your server, you need to change the version PHP.
Thanks to downgrade your PHP version, check & feedback.

[2019-03-14 14:49] PierreRambaud commented on #10678
hey @hamzanatek, @khouloudbelguith was talking to @eternoendless which is the lead dev of this project, so if even the Core team can't touch core files to add a feature, what can we do? :sob:

[2019-03-14 14:59] nsorosac commented on #9659
Any news from the PrestaShop team? This is an important feature :+1:

[2019-03-14 15:11] jf-viguier commented on #10678
Yes indeed ! It should be great that every core team member mention it in their github profiles.

[2019-03-14 15:22] matks opened #12925 "[SF Migration] Get rid of legacy layout for twig-rendered pages"
# Overview

Currently, migrated pages rendered by Twig do rely on a Smarty layout:
- it's being called in [twig layout template](https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Resources/views/Admin/layout.html.twig#L25)
- the bridge between Twig and Smarty is handled by [Twig LayoutExtension](https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Twi

[2019-03-14 15:23] matks commented on #12925
Thanks @rokaszygmantas for the exploration 👍

[2019-03-14 15:23] khouloudbelguith commented on #9659
@nsorosac, yes, the same issue occurs with PS1.7.5.1.
![image](https://user-images.githubusercontent.com/16067358/54368976-615b4480-4675-11e9-8352-6734df189766.png)
This issue is added to our bug roadmap. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-03-14 15:25] matks commented on #12925
Important: although the previous BO theme (a.k.a "default" theme) and the new BO theme ("new-theme") are being rendered using the same php code for controllers, there are 2 different smarty layouts. So we can remove the new layout without breaking the not-migrated-yet pages.

The layout to target is https://github.com/PrestaShop/PrestaShop/blob/develop/admin-dev/themes/new-theme/template/layout.tp

[2019-03-14 16:24] matks commented on #12743
@Peterits I also like https://github.com/firstcontributions/first-contributions it's a very good tutorial from lot of opensource people themselves on how to make pull requests 😉

[2019-03-14 16:33] PierreRambaud commented on #10678
It's an open source project and for some we are also working on other projects.
And it's already defined :wink:
![image](https://user-images.githubusercontent.com/1462701/54374302-1d6d3d00-467f-11e9-999e-a078f63fe3ca.png)
![image](https://user-images.githubusercontent.com/1462701/54374316-2bbb5900-467f-11e9-84b8-e3b34eff4062.png)

And @khouloudbelguith is in product team:
![image](https://user-ima

[2019-03-14 17:28] matks commented on #10623
Fixed by https://github.com/PrestaShop/PrestaShop/pull/12163

[2019-03-14 17:31] #10622 closed, assigned to rokaszygmantas

[2019-03-14 17:36] jf-viguier commented on #10678
Thanks for the answer but I don't have the "Member of something" in any of your profiles. Maybe it's not a public information or I do I have to activate something in github ?

[2019-03-14 18:03] eternoendless commented on #12300
@bmagneCesi I think that adding it in the database won't make it available in the BO but will make it available when you're using it in your code.

Just make sure to clear the translator cache in `/var/cache/<env>/translations` once you have finished doing your edits.

Also remember that domains in the database are stored without dots (eg. `Admin.Actions` -> `AdminActions`)

[2019-03-14 18:28] MSG47 commented on #12915
Hi @khouloudbelguith

Thanks for your prompt answer!

So - I do consider two issue (perhaps related, however)
1.	Performance:

a.	Slow performance when selecting (clicking on) the product from the category / product list on the front office
b.	Very slow price updates when changing the values of attributes (very similar as on the image I shared and that was previously reported by the other user)

A

[2019-03-14 19:11] banan44 commented on #12896
I do not generate invoices on Prestashop. I have a separate invoicing system provided by a accountant company that do my taxes. So the problem is still not fixed because orders paid by other Payment modules are shown correctly. I only do not see orders paid by PayPal module.

[2019-03-14 19:50] hamzanatek commented on #10678
@jf-viguier im just giving the code that can be used before including the commit 6655cab in the Prestashop core. and in my point of view there's no need to make a change in the code because the old product ID exists in the request :)
and by the way im not a member of Prestashop core ;) I'm just trying to help

[2019-03-14 19:55] akiyamaSM commented on #10678
Thanks @hamzanatek!! I have applied your code and it works like a charm. And as you said you don't even need to reach to the core.

[2019-03-14 20:10] smarmie commented on #10387
Somehow it seem I cannot +1 the OP, so same issue for me.

[2019-03-14 21:39] ghost opened #12929 "Invoice date on wrong order status"
Hi,
Noticed something going wrong with my invoices dates.

I configured my invoices to be available when the order is "shipped".

But the date on the invoice is the date of the previous order status which is "being prepared".

I uncheck "order confirmed", "order payed" and "order shipped" for this status and checked those three for the "shipped" status.

Does anyone have any idea what it can be ca

[2019-03-14 21:46] banan44 commented on #12896
To be honest, besides stats section and the graph, all dashboard widgets are not working properly. Traffic widget always shows the same numbers. When I click on 'Link to your Google Analytics account' od redirects me to Module manager. Google Analytics module is already configured.

![traffic](https://user-images.githubusercontent.com/48493952/54393378-4d7e0580-46aa-11e9-9cb9-8f38a9cb9dbd.JPG)

I

[2019-03-14 22:39] amtriorix opened #12930 "PS 1.7.5.1 does not install properly using unix sockets. Doctrine threws an SQLSTATE[HY000]"
Clean install of prestashop 1.7.5.1.

Use sockets, like:
1) unix:/tmp/mysql.sock

Test connection to database works.
Proceeding in install threws an error due to wrong $DSN format.

Problem is found in: src/PrestaShopBundle/Install/Install.php

L: 127 public function generateSettingsFile(

Creates a wrong app/config/parameter.php file.

Patched solutionfor file: src/PrestaShopBundle/Install/Instal

[2019-03-14 22:48] TemKaSD commented on #12917
@khouloudbelguith breadcrumb should have links rather than text, I can't go back to the module settings.

[2019-03-14 22:51] go-sudo commented on #12667
Hello
In my case I have the same issue on 3 websites hosted on my VPS.

[2019-03-14 23:10] jorgelopezowd commented on #12085
Hello, I have same error, cant fixit

![image](https://user-images.githubusercontent.com/3943186/54397410-5f4cb200-4684-11e9-8533-79ca197fe754.png)

[2019-03-15 07:30] khouloudbelguith commented on #12551
Hi @sirius82,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-15 07:30] #12551 closed, assigned to nobody

[2019-03-15 07:37] khouloudbelguith commented on #12930
Hi @amtriorix,

Could you please provide us the exact error displayed in your case.
Thanks!

[2019-03-15 07:38] grigorevlad opened #12932 "Filtering products with color combination should show search results with default color combination image"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When filtering through products using color combination, if i select color "BLUE" for example the filtered products should show default  image for that combination.

Right now if the default image of a product is for "RED" color combinatio

[2019-03-15 07:46] khouloudbelguith commented on #12932
Hi @grigorevlad,

Your ticket is a duplicate of #12501
So, I close it.
Thanks!

[2019-03-15 07:46] #12932 closed, assigned to nobody

[2019-03-15 07:46] khouloudbelguith commented on #12932
Duplicate of #12501

[2019-03-15 07:52] khouloudbelguith commented on #12667
Hi @go-sudo,

The three websites are hosted on the same server?
Thanks!

[2019-03-15 08:09] dennispw opened #12933 "Add the possibility to save current theme configuration"
**Is your feature request related to a problem? Please describe.**
The new method for creating themes and the ability to set everything up with the `theme.yml` file is great. It has alot of flexibility combined with the new widget based system. However, it would be really great if one could regenerate the `theme.yml` somehow.

Let's say I start out making a theme. I make my changes, add a few hook

[2019-03-15 08:15] khouloudbelguith commented on #12929
Hi @SylvainSG,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1Ea7Z0VO1GMI5l3CZO4nJMBPr8EUYOTow/view
Thanks to check & feedback.

[2019-03-15 08:23] khouloudbelguith commented on #12896
Hi @banan44,

About the `dashgoals` module (Forcast widget) doesn't work, we are aware of this issue, reported in this ticket: #9662.
About the `dashtrends` module (Dashboard widget), as I said before, it is necessary to regenerate invoices so the statistics will be displayed, if you don't regenerate an invoice for an order, it will not be taken in consideration for the statistics.
Thanks!

[2019-03-15 09:09] khouloudbelguith commented on #12933
Hi @dennispw,

Thanks for your report.
Yes, It could be an improvement issue.
@marionf, @colinegin what do you think?
In my case, after some modifications ( edit layout, edit positions), I tried to export the theme & import this theme to another shop but the changes are not saved.
I attached a video record.
https://drive.google.com/file/d/1y6ha6kynxQ5e1Lo-gJc6LXETDOFZsT3n/view
Thanks!

[2019-03-15 09:24] ghost commented on #12929
Hi @khouloudbelguith ,

Thanks so much I'll try those settings. I noticed you checked invoice when status is "payment accepted" (I did not) but the invoice date is "being prepared" date.
Does it have anything to do with others statuts settings ?

So what will the invoice be released before it's being prepared ?

[2019-03-15 10:09] khouloudbelguith commented on #12929
@SylvainSG, what is the exact status did you use in your case?
1. At first, the order is created with which status => which options are selected for this status?
2. You change the order status to "Processing in progress", which options are selected for this status?
3. You change the order status to "shipped" => an invoice is generated? is it? with the date of the step2? that's the problem?
Thanks!

[2019-03-15 10:17] khouloudbelguith commented on #12917
Hi @TemKaSD,

Thanks for these clarifications.
I have the same issue with PS1.7.5.1 & PS1.7.4.4.
For example, in the module's configuration page, we have a text for the breadcrumb
![image](https://user-images.githubusercontent.com/16067358/54424571-7b4b6480-4713-11e9-9c16-76cbe6dbbde0.png)
It could be an improvement to issue to replace this text by a link like the stocks page
![image](https://user

[2019-03-15 10:17] PierreRambaud commented on #12639
Close, we revert to an old webpack version.

[2019-03-15 10:17] #12639 closed, assigned to PierreRambaud

[2019-03-15 10:25] #10623 closed, assigned to tomas862

[2019-03-15 10:26] matks commented on #12639
@PierreRambaud I think `npm run watch` neither 🤔

[2019-03-15 10:29] PierreRambaud commented on #12639
I also add a `npm run dev` alias when I revert. `dev` command was introduce with webpack 4

[2019-03-15 10:37] ghost commented on #12929
@khouloudbelguith, thanks for the quick reply!
here is a screenshot of the global status screen https://www.dropbox.com/s/r7fekcm2yic37v7/Global.png?dl=0

1. The order is created with "payment accepted", do not want an invoice, here are the options selected https://www.dropbox.com/s/2uy93dfyk9jz4ku/1.png?dl=0

2. The order changes to "processing in progress". Do not want an invoice at the step, he

[2019-03-15 10:42] PierreRambaud commented on #10504
@matks #11547

[2019-03-15 10:43] matks commented on #10504
_left github_

[2019-03-15 10:47] khouloudbelguith commented on #12915
Hi @MSG47,

Thanks for your feedback.

About the issue 2.a) => it is in progress, this is not something we can easily fix.
@jocel1, may help you to get more details about the ETA for its resolution
Thanks for your understanding!

About 1.a) In the BO => Shop Parameters => Product Settings page => Pagination section, how many "Products per page" you have?

About 2.b) the issue #12207 is fixed with

[2019-03-15 11:11] Marcin-J-PL commented on #12636
@khouloudbelguith
I think that product should have add and edit permission as one checkbox, because some product properties like features or categories need existing product and they can not be set when adding.

[2019-03-15 11:33] TemKaSD commented on #12917
Yes, all levels except the current one.

[2019-03-15 11:38] simonedidio opened #12937 "[PrestaShopException] vat number"
During order (in address tab) users that use old browser view error 500 on monitor.
`[PrestaShopException]

La proprietà Address->vat_number è vuota.
at line 944 in file classes/ObjectModel.php

939. }
940.
941. $message = $this->validateField($field, $this->$field);
942. if ($message !== true) {
943. if ($die) {
944. throw new PrestaShopException($message);
945. }
946. return $error_return ? $mes

[2019-03-15 12:36] khouloudbelguith commented on #12937
Hi @simonedidio,

Here is the PR: https://github.com/PrestaShop/PrestaShop/pull/8435 to solve the problem.
It is fixed in the previous version 1.7.3.0.
You can follow this ticket: [BOOM-2989](http://forge.prestashop.com/browse/BOOM-2989).
Your ticket is a duplicate of #8435
So, I close it.
Thanks!

[2019-03-15 12:36] #12937 closed, assigned to nobody

[2019-03-15 12:37] khouloudbelguith commented on #12937
Duplicate of #8435

[2019-03-15 12:46] khouloudbelguith commented on #12929
@SylvainSG, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.1.

The date of the invoice created is the same date of the changement of the order status to "Processing in progress".
But, in our case the invoice is generated in another date: "the date of shipping".
![image](https://user-images.githubusercontent.com/16067358/54432070-75ac4980-4728-11e9-9488-2fdf85b8f38b.p

[2019-03-15 13:35] matks commented on #12918
I ❤️ this, and this should enable us to use _any Symfony service registered for PrestaShop_ from the CLI

[2019-03-15 13:37] ghost commented on #12929
Thanks @khouloudbelguith ,

I found a possible solution. Would you try this please ?

https://ivan.ramos.name/blog/error-fecha-de-factura-en-prestashop

[2019-03-15 13:59] khouloudbelguith commented on #12929
@SylvainSG, thanks for your feedback.
This solution overrides class Order.php.
Thanks!

[2019-03-15 14:52] Peter4661 commented on #11939
Dear Jérôme,

Thank you for your advice. I added the line ( in bolt (**) below)  to /override/classes/Dispatcher.php
This resulted in 500 error in front and backoffice.

In the Apache error log, this error:
Backend fatal error: PHP Parse error:  syntax error, unexpected '...' (T_ELLIPSIS), expecting ']' in /home/deb115780/domains/derks-wielersport.nl/public_html/override/classes/Dispatcher.php on

[2019-03-15 15:00] Peter4661 commented on #11939
With your instructions, the  /override/classes/Dispatcher.php looks like this:

class Dispatcher extends DispatcherCore
{
protected function __construct(SymfonyRequest $request = null)
    {
        [...]
        parent::__construct($request);
        [...]
    }
    [...]
	/*
    * module: prettyurls
    * date: 2019-03-01 12:05:29
    * version: 2.2.2
    */
    protected function __construct()

[2019-03-15 16:04] khouloudbelguith commented on #12915
@MSG47, I created more than 4500 products & for almost product, I have more than 14 combinations.
In the FO, when I try to change the combination, the price is not displayed slowly.
I attached a video record.
https://drive.google.com/file/d/1w2LY0z9dz0qZR4DieDuKrefxzXSjYA-1/view
Thanks!

[2019-03-15 17:21] MSG47 commented on #12915
Hi @khouloudbelguith,

Thanks a lot and appreicate the test you have made!

Regarding 1b (the slow update of price when changing) - I believe it is because apart from the significant number of combinations in total you in your example have relatively not much per product - and I have ~350 (see attached)

![przyklad](https://user-images.githubusercontent.com/48532848/54449570-b74feb00-474e-11e9-8e4

[2019-03-15 17:40] banan44 commented on #12896
But how can I do that? I do not used Prestashop invoice. Orders paid by other payment modules do not require to regenerate invoices. These orders are present on the graph. I do not see just PayPal orders. There seems to be a problem with PayPal module. Or prestashop do not consider PayPal as a payment module or something.

[2019-03-15 17:40] Matt75 commented on #12577
@khouloudbelguith This problem occur when `AdminCarrierWizardController::processRanges()`throw a `PrestaShopException` and response of ajax request is html instead of json so javascript fail and show the popup.

To reproduce the problem, with a fresh install :
1. Edit the carrier named "My Carrier"
2. Toggle the Billing method to `According to total price.` or `According to total weight.`
3. Save

[2019-03-15 18:39] fundup commented on #12577
If someone like me is in trouble facing client and explaining that you can't update a carrier... Here is a trick to manually upate it.
Step 1 : create a new Carrier with new parameters.
Step 2 : in DB _carrier find your old Carrier with his ID and note the id_reference, then put 0 on deleted column.
Step 3 : in DB _carrier find your new Carrier created and set id_reference with the old one.

Defin

[2019-03-15 18:47] mpittiloni commented on #9809
Hello, any updates?

[2019-03-15 18:48] centoasa opened #12942 "gdpr module"
prestashop 1.7.5.1 on debian-php 7.2.16
in gdpr module now this is new issue:
Notice alla linea 545 nel file /var/www/vhosts/100asa.it/httpdocs/modules/psgdpr/psgdpr.php
[8] Trying to get property 'displayName' of non-object

Notice alla linea 546 nel file /var/www/vhosts/100asa.it/httpdocs/modules/psgdpr/psgdpr.php
[8] Trying to get property 'name' of non-object

[2019-03-15 18:56] pks891618 opened #12943 "Prestashop language selector not switching to default language"
I am using prestashop 1.7.5 in multistore.

For one store i have enabled french and nl language.

nl is the default language.

When first time access the website  .nl automatically loaded .And after selecting the fr the store switched to the fr language. Now if again i am trying to the nl then its not working.

[2019-03-15 19:21] jointsystems opened #12944 "Database ID and Name of product overwritten when importing similar products with CSV"
<!-
**Describe the bug**
A clear and concise description of what the bug is.

Briggs and Stratton's price list has over 100k items that are in constant flux. When attempting to import products with similar names differing by one number or letter the database overwrites the existing product.For instance one model number is 19J137-0008-F1 whereas there is a sister product with a different sized cran

[2019-03-16 01:25] amtriorix commented on #12930
ERROR [console] Error thrown while running command "prestashop:schema:update-without-foreign".

Message: "An exception occured in driver: SQLSTATE[HY000] [2002] php_network_getaddresses: getaddrinfo failed: hostname nor servname provided, or not known" ["exception" => Doctrine\DBAL\Exception\ConnectionException { …},"command" => "prestashop:schema:update-without-foreign","message" => "An exception

[2019-03-16 08:41] Peter4661 commented on #11939
We found the cause of our problem.  Issue was caused by malfunction of module which rewrites URL to pretty url.

[2019-03-16 12:53] JulienBerlinger commented on #12919
Hello,
I would like to thanks you.
Everythings seems to works perfectly from now !
So enormus Thanks for all

Do we need  to stay in debug mode ?

Thanks a lot for all you've done !
Best Regards
Julien

Le jeu. 14 mars 2019 12:55 PM, khouloudbelguith <notifications@github.com>
a écrit :

[2019-03-16 14:59] feyll commented on #12859
@khouloudbelguith Hello, here I am. I still haven't solved the bell problem in the chrome browser. Now I'm using Chrome Dev and it seems to be fine.
I want to ask for a clarification please. You advised me to set the folders to 775 and 664.
Up to now I thought that the correct set was 755 and 644, how come your suggestion is different from the information I know?
Which is wrong and which is correc

[2019-03-16 15:46] thomasharko commented on #12085
Bonjour,
Same error, on fresh install, error only visible on one website of two configured identically on the same server.

![link_list_error](https://user-images.githubusercontent.com/39236275/54477749-ddd35c00-480a-11e9-89ba-8caa1fa39a79.jpg)

Thanks

[2019-03-16 16:28] jointsystems commented on #12944
19J137-0007-F1 is imported successfully  and appears in product list but disappears after 19J137-0008-F1 is imported.  19J137-0008-F1 when you go to edit 19J137-0008-F1 it contains UPC of 19J137-0007-F1.  When 19J137-0007-F1 is reimported using long vendor part # as name when searched in products using ID when edit is chosen ID 19J137-0007-F1 now appears with 19J137-0008-F1 name.
![19J137-0007-F1

[2019-03-16 22:58] Alexxxxis commented on #12009
Hi @khouloudbelguith

Thank's a lot !!! PHP 7.2 and it works great !

Many thanks !

[2019-03-17 01:09] ghost commented on #11172
Still present in 1.7.5.0

seems like this is broken.

too late for me to dig more, but seems like
new CartRule wipes the $results table in:

`foreach ($result as &$row) {
            $row['obj'] = new CartRule($row['id_cart_rule'], (int) $this->id_lang);
            $row['value_real'] = $row['obj']->getContextualValue(true, $virtual_context, $filter);
            $row['value_tax_exc'] = $row['obj'

[2019-03-17 08:57] cesarfierro opened #12947 "product-availability-date is always US format in Spanish language"
Hello

Prestashop 1.7.5.1

At the front office, product page always shows the product-availability-date in US format (yyyy-mm-dd) instead of dd-mm-yyyy.

Regards
Cesar

[2019-03-17 11:22] go-sudo commented on #12667
HI @khouloudbelguith

Yes,

[2019-03-17 12:55] jes6mac opened #12948 ""display edit" mention appear in purchase process"
**Describe the bug**
When in then end of purchase process "display edit" mention appear in middle of French text.

**Screenshots** : https://prntscr.com/mx21ct

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version: 7.2.16

[2019-03-18 07:27] khouloudbelguith commented on #12545
Hi @futurehousestore,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-18 07:27] #12545 closed, assigned to nobody

[2019-03-18 07:29] khouloudbelguith commented on #12582
Hi @web-centre,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-18 07:29] #12582 closed, assigned to nobody

[2019-03-18 07:53] khouloudbelguith commented on #12942
Hi @centoasa,

We are aware of this issue.
Your ticket is a duplicate of https://github.com/PrestaShop/psgdpr/issues/47
So, I close it.
Thanks!

[2019-03-18 07:53] #12942 closed, assigned to nobody

[2019-03-18 07:53] khouloudbelguith commented on #12942
Duplicate of https://github.com/PrestaShop/psgdpr/issues/47

[2019-03-18 07:57] khouloudbelguith commented on #12947
Hi @cesarfierro,

We are aware of this issue, it is added to our bug roadmap.
Your ticket is a duplicate of #9591
So, I close it.
Thanks!

[2019-03-18 07:57] #12947 closed, assigned to nobody

[2019-03-18 07:57] khouloudbelguith commented on #12947
Duplicate of #9591

[2019-03-18 08:02] khouloudbelguith commented on #12667
Hi @go-sudo,

Thanks for your feedback.
Could you please provide us with more info:
 - host
 - server setup and configuration
 - PrestaShop version (source), in which language/country did you installed your shop?

Thanks!

[2019-03-18 08:04] jherry commented on #11939
OK, because "[...]" just mean there can be some code here, you must not add it to the code ;-)

[2019-03-18 08:07] khouloudbelguith commented on #12859
Hi @feyll,

Giving files or folders a "write permission" is called "doing a CHMOD 755" or "a CHMOD 775", depending on the host.
For more information, you can follow our documentation: http://doc.prestashop.com/display/PS17/Installing+PrestaShop
About your bell problem, despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a Pre

[2019-03-18 08:07] #12859 closed, assigned to nobody

[2019-03-18 08:11] khouloudbelguith commented on #12919
Hi @JulienBerlinger,

Thanks for your feedback.
When in debug mode, you can choose to lessen the impact of certain features on PrestaShop, in order to best pinpoint where an error comes from.
So, if you don't have issues, you can disable it.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-03-18 08:11] #12919 closed, assigned to nobody

[2019-03-18 08:19] khouloudbelguith commented on #12948
Hi @jes6mac,

I did not manage to reproduce the issue with PS1.7.5.1. & PHP7.2.14 and the classic theme provided by PrestaShop.
![image](https://user-images.githubusercontent.com/16067358/54516277-b4c3e000-495e-11e9-9097-55fb7a5c02e4.png)
Did you use the classic theme?
Thanks!

[2019-03-18 08:22] khouloudbelguith commented on #12577
Hi @Matt75,

Thanks a lot for your feedback & your fix.
Thank you!

[2019-03-18 08:48] khouloudbelguith commented on #12943
Hi @pks891618,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1muMAyPzOzmFnnzJFhufay9Q06NZRZiEl/view
Thanks to check & feedback.

[2019-03-18 09:11] jes6mac commented on #12948
Hi,

Thanks to your reply,
I use a theme I bought on Prestashop Addons. The developer said me that this issue is related to Prestashop…

[2019-03-18 09:15] khouloudbelguith commented on #12948
@jes6mac, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/

[2019-03-18 09:28] khouloudbelguith commented on #12944
Hi @jointsystems,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1Du_EsWTTbRsAMcWHcdtk4LmDgdmoe7BP/view
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1

[2019-03-18 09:28] #12944 closed, assigned to nobody

[2019-03-18 09:37] tomas862 commented on #12540
Got a real example of how this stuff might be implemented: although done it on purpose in not reusable way in order to just demonstrate the idea - after some discussions I will be able to refactor it and split the behaviors. Everything in Form type is done with private methods but the idea is to move that part to decorator services etc...

1. First part - decorating the form type with extra shop r

[2019-03-18 09:38] tone87 opened #12949 "Can't delete product image in BackOffice"
**Describe the bug**
When i try do delete a product image the browser "lock" the page  and the image not delete.
in console of browser not show any message .
in debug mode not show any message.
i tried different browser but the problem it's the same

i updated version with 1-Click Upgrate module from version 1.7.4.2 to 1.7.5.1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any product

[2019-03-18 09:43] khouloudbelguith commented on #12949
Hi @tone87,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Thanks to downgrade your version PHP, check & feedback.

[2019-03-18 10:00] tone87 commented on #12949
i tried to downgrate php version to 7.2.16 now , but problem it's the same . i cleared cache from backoffice and browser too.
[ice_video_20190318-105525.zip](https://github.com/PrestaShop/PrestaShop/files/2977416/ice_video_20190318-105525.zip)

[2019-03-18 10:02] marionf opened #12950 "Action texts are white on hover"
**Describe the bug**
Action texts are white on hover

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any migrated page with action buttons
2. Hover the action text
3. You don't see the text because it's white

**Screenshots**
![capture d'écran_1156](https://user-images.githubusercontent.com/13449658/54522351-4aff0280-496d-11e9-9afb-8fb6630ca814.png)

Should be like this
![capture d'écr

[2019-03-18 10:13] #11873 closed, assigned to Quetzacoalt91

[2019-03-18 10:22] khouloudbelguith commented on #12949
@tone87, your screen record cannot be opened.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the followin

[2019-03-18 10:56] KHATERSAID opened #12951 "bug change state shipped back-office prestashop 1.7.3.0"
Hello
in the back office when I change the status of the order to shipped status when I click to display the Template does not display completely
can you help me

merci
![2](https://user-images.githubusercontent.com/39734318/54525437-86e99600-4974-11e9-96c7-786695843af5.png)
![1](https://user-images.githubusercontent.com/39734318/54525438-86e99600-4974-11e9-990f-f332979dfe36.png)

[2019-03-18 11:07] khouloudbelguith commented on #12951
Hi @said4440,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1EZclmbuxmQH96Vl1n3_l2HYn2-tcozNN/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apac

[2019-03-18 11:16] colinegin commented on #12852
Hello,

Thank you for your idea ! To be honest, I think there is no correct answer, both behaviours seem to be used on top ecommerce websites. I need to discuss about it with the rest of the product team.

Thank you for your understanding !

[2019-03-18 11:54] khouloudbelguith commented on #12915
@MSG47, thanks for your feedback.
For the 1.a, I tried with 9 products per page & I have more than 500 pages.
For the 1.b, I have more than 260 combinations with different prices & it is OK.
I attached a video record.
https://drive.google.com/file/d/161HXhZ2JTW1IVTHl7AQDuZaL7xzaiz5d/view
Thanks to check & feedback.

[2019-03-18 12:15] Tomskor commented on #12694
We have with this same problem, find some solution but on my theme this not working:

https://www.prestashop.com/forums/topic/956810-google-analytics-error-either-offers-review-or-aggregaterating-should-be-specified/

[2019-03-18 12:40] Amulliez commented on #12772
Hi @khouloudbelguith

I have the same problem since 2 days in front office and back office on Prestashop 1.7.5.0.
How can I fix this problem ?

Thanks you !

[2019-03-18 12:48] khouloudbelguith commented on #12772
Hi @Amulliez, this issue occurs only when there is no connection.
If your connection is ok, so, you have a different issue, it could be in your address ip.
You need to check the issue with your host the issue.

[2019-03-18 12:51] tone87 commented on #12949
the bug it's maded by external module "jscomposer" when it's disabled works again.. i close the bug report.

[2019-03-18 12:51] #12949 closed, assigned to nobody

[2019-03-18 12:54] khouloudbelguith commented on #12949
@tone87, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-03-18 13:20] khouloudbelguith commented on #12896
Hi @banan44,

I did not manage to reproduce the issue with PS1.7.5.1 & the PayPal module v4.4.2
I attached a video record
https://drive.google.com/file/d/1zbD0Vx3iQngZgFzM2GuxTox0k0VJ9EmB/view
Thanks to check & feedback.

[2019-03-18 13:20] colinegin commented on #10366
Hello,

Thanks a lot for your feedback, and please excuse the delay.

This project is on our roadmap, you can follow our progress on the public roadmap available on Github.
In the meantime, I put this issue on "To do" with a "PWA" label, we've share it on the PrestaShop uservoice, you can vote for the idea here : http://feedback.prestashop.com/forums/387864-prestashop-1-7-x. We prioritize projects

[2019-03-18 13:25] colinegin commented on #12617
Hello,

I've just reviewed your problem with the core team, you're right, the fix has been implemented on 1.7.5.0, but this does not fix the issue for stores which have already deleted addresses and upgrade to the last version. We need to handle the case when the address has already been deleted.

@PrestaShop/prestashop-core-developers @eternoendless what do you think would be the best way to hand

[2019-03-18 13:53] Amulliez commented on #12772
Hi @khouloudbelguith

This issue is solved, a connection issue was. present

Thanks you !.

[2019-03-18 13:58] khouloudbelguith commented on #12772
@Amulliez, thanks!

[2019-03-18 14:00] said4440 commented on #12951
host = lws www.lws.fr
server setup and configuration = see picture
PrestaShop version (source) 1.7.3.0
debug mode report =see picture
PHP error logs =see picture
apache error log=see picture
javascript console log=see picture
[debug mode report.txt](https://github.com/PrestaShop/PrestaShop/files/2978467/debug.mode.report.txt)
[PHP error logs.txt](https://github.com/PrestaShop/PrestaShop/files/2978

[2019-03-18 14:16] KHATERSAID commented on #12951
I solved the problem
I cleaned PHP sessions in the php configuration of my host
thank you

[2019-03-18 14:17] khouloudbelguith commented on #12951
@said4440, thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-03-18 14:17] #12951 closed, assigned to nobody

[2019-03-18 14:50] rblaurin commented on #11210
WIP? ;)

[2019-03-18 14:54] matks opened #12952 "Migrate "Catalog > Brand & Suppliers > Brands > View brand" page"
Type: page

Part of Symfony migration project
Todo:
- [x]  Migrate page https://github.com/PrestaShop/PrestaShop/pull/12926

Hidden, can be accessed through `/admin-dev/index.php/sell/catalog/brands/1/view`

[2019-03-18 14:55] matks opened #12953 "Migrate login page"
Type: page

Todo:
- [ ] Migrate page https://github.com/PrestaShop/PrestaShop/pull/13733
- [ ] Provide a suitable replacement for removed hook `actionAdminLoginControllerSetMedia` (see below)
- [ ] Provide relevant hooks to allow customization of the auth process (ex: enable - without dirty hacks) a reCAPTCHA protection on both frontend and backend), see below
- [ ] Improve how the admin directory

[2019-03-18 14:58] khouloudbelguith commented on #12930
Hi @amtriorix,

Thanks for these clarifications.
I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1yFkorBA2EnTyVn8aJH4yF_ciiJW0YUvH/view
Thanks to check & feedback.

[2019-03-18 14:59] matks commented on #11210
Hi @rblaurin this is very nice work you've done here, but in 2 weeks we reach Feature Freeze period for PS 1.7.6 so it's going to get some time before we can review as we have very little time remaining. Thank your for understanding 🙏

[2019-03-18 15:04] amtriorix commented on #12930
Hello,

This is normal because you do not use in your settings,
the socket in your database
settings but the host:port of your mysql server.

You need to use the unix socket at /tmp/mysql.sock

Best regards,

Jurgen

DEBO Jurgen
T: +32 (0)9
M: +32 (0) 4 9191 9999

________________________________
From: khouloudbelguith <notifications@github.com>
Sent: Monday, March 18, 2019 3:59 PM
To: PrestaShop/

[2019-03-18 15:06] rblaurin commented on #11210
Sure! Thanks for the feedback 👍

[2019-03-18 16:02] #11596 closed, assigned to jolelievre

[2019-03-18 16:03] matks commented on #11596
@kermorgant PR is merged ;)

I think we can close this issue after I rename it "Part 1", and we'll have another issue for next release

[2019-03-18 16:12] khouloudbelguith commented on #12930
@amtriorix, thanks for your feedback.
So, in step 5: System configuration: in the Database server address, I should not use the host:port of my mysql server?
I should set `unix:/tmp/mysql.sock`?
Thanks to provide me the exact configuration.
Thanks!

[2019-03-18 16:18] amtriorix commented on #12930
Hello,

Yes, when using sockets it is standard unix:/tmp/mysql.sock in Your setup.
In your php.ini You only set the default socket, but PS takes of course the settings You
fill in. When You use host:port, you do not connect through sockets but through IP.

Best regards,

Jurgen

________________________________
From: khouloudbelguith <notifications@github.com>
Sent: Monday, 18 March 2019 17:13:18

[2019-03-18 16:25] khouloudbelguith commented on #12930
@amtriorix, thanks for these clarifications.
I tried with it but, the connection test doesn't work
![image](https://user-images.githubusercontent.com/16067358/54545826-badbb000-49a2-11e9-8fdb-916f65324873.png)
![image](https://user-images.githubusercontent.com/16067358/54545854-c9c26280-49a2-11e9-9a4e-209dc0bc6114.png)
I tried with this command: `mysql -h 127.0.0.1 -P 3306 -u root -p` & it is ok.

[2019-03-18 16:42] Integraelec opened #12954 "Elementor editor will not load"
When loading elementor editor for building or viewing a built page. Box will Pop up saying "Page Not found". But the page is showing on the live site.
![image](https://user-images.githubusercontent.com/48558437/54547021-2ea99880-4962-11e9-9721-9cee5fa61714.png)

[2019-03-18 16:45] khouloudbelguith commented on #12954
Hi @Integraelec,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- PrestaShop version
- The issue on FO / BO
- In which page, have you this issue?
- Steps to reproduce the issue
Thanks!

[2019-03-18 16:49] amtriorix commented on #12930
Hello,

Most likely your mysql server is not setup to use sockets.

You need to check if there is a socket.

Please verify the conf settings of your mysql server (like my.cnf):
See /etc, /usr/local/etc, /usr/local/etc/mysql or /var/db/mysql/ for
this file

So here you comment out the IP and PORT where the server is listening
and you enable a socket to listen.

[mysqld]
#bind-address           = 12

[2019-03-18 16:52] matks commented on #12577
@fundup this is now fixed in `develop` branch and will be shipped with PS 1.7.6 thanks to the work of @Matt75 in https://github.com/PrestaShop/PrestaShop/pull/12946

[2019-03-18 16:53] #12577 closed, assigned to nobody

[2019-03-18 17:00] khouloudbelguith commented on #12930
@amtriorix, thanks for these clarifications.
I tried with this `mysql --socket=/tmp/mysql.sock` & I have this error `ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/tmp/mysql.sock' (2)`
In my file /etc/mysql/my.cnf, I edited these lines
[code]
Thanks!

[2019-03-18 17:17] Integraelec commented on #12954
Thank you for quick response.. See my reply below.

From: khouloudbelguith [mailto:notifications@github.com]
Sent: Monday, March 18, 2019 9:46 AM
To: PrestaShop/PrestaShop
Cc: Mark Baker; Mention
Subject: Re: [PrestaShop/PrestaShop] Elementor editor will not load (#12954)

Hi @Integraelec<https://github.com/Integraelec>,

Could you please provide us with more info? We need more details to understa

[2019-03-18 17:26] khouloudbelguith commented on #12954
@Integraelec, IQT Elementor editor, is it a module/theme?
Thanks!

[2019-03-18 17:33] Integraelec commented on #12954
I believe yes, Question:

1.       Is our Prestashop version the latest? 1.7.2.2

2.       Has there been a resent automatic update?

3.       Could the module we have be non-compatible with the current version?
[cid:image001.png@01D4DD75.DAF071D0]

From: khouloudbelguith [mailto:notifications@github.com]
Sent: Monday, March 18, 2019 10:28 AM
To: PrestaShop/PrestaShop
Cc: Mark Baker; Mention
Subje

[2019-03-18 18:26] servidiomarco opened #12955 "Undefined index: title_global"
**Describe the bug**
Undefined index: title_global when clicking on any product.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
<img width="848" alt="Screen Shot 2019-03-18 at 19 25 19" src="https://user-images.githubusercontent.com/21959141/54553947-9dfba880-49b3-11e9-9489-1bd1ca2931f0.png">
**Additionnal

[2019-03-18 18:55] Integraelec commented on #12954
Here is the page view on here you access the elemntor – Visual Page builder.

[cid:image001.png@01D4DD81.8851F820]

From: khouloudbelguith [mailto:notifications@github.com]
Sent: Monday, March 18, 2019 10:28 AM
To: PrestaShop/PrestaShop
Cc: Mark Baker; Mention
Subject: Re: [PrestaShop/PrestaShop] Elementor editor will not load (#12954)

@Integraelec<https://github.com/Integraelec>, IQT Elementor e

[2019-03-19 00:03] petterenge commented on #10500
Any idea when this will be fixed ?  Its still not working in version 1.7.4.3
The problem is very annoying when you have a large line of attributes like in clothing sizes.
The product list looks very bad and unprofessional with a list of more than 30 selections on the i.e size attribute.

Petter

[2019-03-19 07:40] khouloudbelguith commented on #12955
Hi @servidiomarco,

This issue occurs due to the `nrtcustomtab` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-03-19 07:40] #12955 closed, assigned to nobody

[2019-03-19 07:58] khouloudbelguith commented on #12954
Hi @Integraelec,

No, the latest version PrestaShop is PS1.7.5.1, you can download it from our official link: https://www.prestashop.com/en/previous-versions

Yes, you can use this module: https://addons.prestashop.com/en/data-migration-backup/5496-.html
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to cha

[2019-03-19 08:05] khouloudbelguith commented on #10500
Hi @petterenge,

We are currently working on a big refactoring of the ps_facetedsearch module.
It will be available soon.
Thanks for your understanding!

[2019-03-19 09:03] juraj1000 opened #12957 "Fatal error for Chcek update"
Hello,
after upgrade to the release 1.7.5.1 the system generates fatal error after pressing the button "Check update":

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Module Manager
2. Click on Configure for any module, e.g. Bank transfer
3. Click on Check update
4. See error

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us

[2019-03-19 09:09] khouloudbelguith commented on #12957
Hi @juraj1000,

This issue occurs due to the `inixframe` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-03-19 09:09] #12957 closed, assigned to nobody

[2019-03-19 09:14] marionf commented on #12625
Can't reproduce on 1.7.5.1

[2019-03-19 09:14] #12625 closed, assigned to nobody

[2019-03-19 09:23] caith-h opened #12958 "Product Condition Variable not available in the Checkout"
**Describe the bug**
While customizing the Cart Layout, I noticed that the $product.condition variable exists, but is always blank.
After tinkering around, and trying to understand the how the presenters work, it seems that this variable should already be filled 😕

Now I'm stuck because I can't add it to the presenters, since it is already there, but I can't use it since it's always empty.

**Temp

[2019-03-19 09:41] #12865 closed, assigned to tomlev

[2019-03-19 10:18] dennispw commented on #12933
For clarity, I believe the following parts are the most "crucial":

[code]

Either way, regenerating the entire `theme.yml` would be *really* great but for obvious reasons it's not very realistic. But the above should be the most crucial parts, at least in our case.

[2019-03-19 10:22] alizeegtd commented on #10640
I installed php-intl extension and I still have the problem, how can I check my configuration?

[2019-03-19 10:31] khouloudbelguith commented on #10640
Hi @alizeegtd,

This issue is currently closed, can you open a new one with more information about your configuration.
Thanks!

[2019-03-19 10:38] khouloudbelguith commented on #12958
Hi @blu3nh,

Thanks for your report.
I tried your steps.
In the cart page, I found the result of the print_r attached in the pdf file.
[Cart.pdf](https://github.com/PrestaShop/PrestaShop/files/2982852/Cart.pdf)
Thanks to check & feedback.

[2019-03-19 10:53] Klemart3D commented on #10600
I don't think it's a duplicate.
 #10290 ticket talking about allowing .png format for favicon upload (only).
This ticket talking about allow SVG format file globally in PrestaShop, specially for picture file or thumbnail upload for a product (when we've got Symfony error: "product.svg: This file is not a valid image" in PS v1.7) or for categories or modules like _ps_banner_, _ps_imageslider_ or _b

[2019-03-19 11:01] dennispw commented on #10600
This would be a great addition.

[2019-03-19 11:04] khouloudbelguith commented on #10600
Hi @Klemart3D,

Thanks for your feedback.
Yes, I tried to import an SVG image with PS1.7.5.1, but I have an issue.
![image](https://user-images.githubusercontent.com/16067358/54601312-05ab0580-4a3f-11e9-82c2-02e55b3ded6e.png)
@marionf, @colinegin what do you think? it could an improvement issue to accept SVG image.
Related to #10290

Thanks!

[2019-03-19 11:07] molearnik opened #12961 "New Token Handling to prevent CSRF"
**This feature request is related to current CSRF tokens implementation**
PrestaShop tokens are supposed to help to prevent CSRF.
However, there are some deviations from good practices in PrestaShop implementation of CSRF tokens.

- The tokens are reusable and they last practically "forever". Tokens are derived from customer id, password and page (PHP script name). Good practices say the tokens sh

[2019-03-19 11:08] caygri commented on #10600
it's impossible because prestashop use an old framwork who not supported

[2019-03-19 11:09] caith-h commented on #12958
Hi, maybe I should have specified that the print_r returns quite a few values...
As mentioned earlier, what we're looking for is the **condition** variable contained within.
![Screenshot_6](https://user-images.githubusercontent.com/16308256/54601544-8ec23c80-4a3f-11e9-941b-d82c1fb07f05.jpg)

{$product.condition} returns nothing, though it should return 'new' or 'used'
the reason I mentioned the {$

[2019-03-19 11:14] khouloudbelguith commented on #12961
Hi @molearnik,

Thanks for your report.
@eternoendless, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-03-19 11:14] molearnik commented on #12961
Seems to be related to [pull 5862](https://github.com/PrestaShop/PrestaShop/pull/5862)

[2019-03-19 11:22] khouloudbelguith commented on #12958
@blu3nh, thanks for your feedback.
So I added a product with New Flag to the cart.
![image](https://user-images.githubusercontent.com/16067358/54602278-8408a700-4a41-11e9-9c96-15b433c9ff49.png)
In the FO => Cart page => I have this ` [condition] => Array ( [type] => method [value] => getCondition ) [embedded_attributes]` => The condition is emty => this is the exact issue?
Thanks!

[2019-03-19 11:44] Matt75 opened #12962 "Problem with missing lang entries in Configuration"
Hi,

I see on Core Weekly a problem in case of multishop with this https://github.com/PrestaShop/PrestaShop/pull/12666

I tested with a **multishop** and **multilang** instance
[code]
id_lang | iso_code
------------ | -------------
1 | fr
2 | de
[code]
id_shop | id_shop_group | name
------------ | ------------- | -------------
1 | 1 | Shop1
2 | 1 | Shop2
[code]
id_lang | id_shop
------------ | ---

[2019-03-19 11:49] PierreRambaud commented on #12961
Not talking for all core developers, but agreed :+1:

[2019-03-19 12:33] caith-h commented on #12958
yes, that is the exact issue.

[2019-03-19 12:53] khouloudbelguith commented on #12958
@blu3nh, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
With PS1.7.4.4, I have this return attached in the pdf file.
[Cart_1.7.4.4.pdf](https://github.com/PrestaShop/PrestaShop/files/2983361/Cart_1.7.4.4.pdf)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us

[2019-03-19 13:55] khouloudbelguith commented on #12606
Hi @jsuarez,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-19 13:55] #12606 closed, assigned to nobody

[2019-03-19 13:56] khouloudbelguith commented on #12614
Hi @mark-appn,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-03-19 13:56] #12614 closed, assigned to nobody

[2019-03-19 14:01] Integraelec commented on #12954
Thank you for the guidance. I’ll make the updates and test prior to going live.
Appreciate the quick response.
Rgds,
Mark

From: khouloudbelguith [mailto:notifications@github.com]
Sent: Tuesday, March 19, 2019 12:59 AM
To: PrestaShop/PrestaShop
Cc: Mark Baker; Mention
Subject: Re: [PrestaShop/PrestaShop] Elementor editor will not load (#12954)

Hi @Integraelec<https://github.com/Integraelec>,

1.

[2019-03-19 14:05] khouloudbelguith commented on #12954
@Integraelec, so can I close the issue?
Thanks!

[2019-03-19 15:43] #11959 closed, assigned to nobody

[2019-03-19 15:54] berarma commented on #12461
I think those messages mean the composer.json file in Prestashop has to be updated. There's no problem in Doctrine itself, it's requiring PHP 7.x so it would work with PHP 7.3.

[2019-03-19 16:06] marionf opened #12969 "Discount line not always removed during checkout"
**Describe the bug**
When I delete a discount during checkout, the line isn't removed in step 1, 2 and 3
Founded by @YeLnatSs

**To Reproduce**
https://drive.google.com/file/d/1y8fTLMJ-NNIhOs6jxH49U1pQq0Q4dNLU/view?usp=sharing

**Additionnal information**
PrestaShop version: 1.7.4.4, 1.7.5.1
PHP version: N/A

[2019-03-19 16:52] khouloudbelguith commented on #12930
Hi @amtriorix,

I solved the issue with this command `mysql --socket=/tmp/mysql.sock`, now it is OK.
![image](https://user-images.githubusercontent.com/16067358/54625287-47ec3b00-4a6f-11e9-83a2-3a87f5375861.png)
But when I try to test the database connection, I always have the same issue
![image](https://user-images.githubusercontent.com/16067358/54625483-ad402c00-4a6f-11e9-9d8f-03b5dc5af913.png)

[2019-03-19 17:02] PierreRambaud commented on #9978
Also fixed in facetedsearch module. WIthout having to change Core css.

[2019-03-19 17:13] #10264 closed, assigned to tomlev

[2019-03-19 17:14] matks commented on #10264
Fixed by https://github.com/PrestaShop/PrestaShop/pull/12965 however since this topic can be larger than what we thing, feel free to open other issues if you find other bugs related to virtual products. This bug, reported and diagnosed, is fixed so the issue can be closed.

[2019-03-19 17:24] molearnik opened #12970 "Configurable Response Headers"
**This feature request is for implementing recommended Secure Response Headers at SW level**

PrestaShop websites should use [certain HTTP response headers](https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#tab=Headers) to increase the overall security. Citation from [OWASP Secure Headers Project](https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#tab=Main) _Once set, these HT

[2019-03-19 17:35] matks commented on #12846
@MatShir Looks like "on which page do we display 'recommanded modules' button" is controlled by configuration file `config/xml/tab_modules_list.xml` . This is where it is put for caching, but the source is probably somewhere else.

[2019-03-19 21:58] matks commented on #12461
Be careful: php7.3 removed/broke several php behaviors possible in php7.1 and php7.2 . The fact that a library requires PHP7.x does not mean it is compatible with php7.3, for each dependency this must be analyzed either by ourselves or by the dependency maintainer (and I'd say, both checks are even better).

For doctrine/dbal here, it's fine (we know this thank to its [CI status](https://travis-ci

[2019-03-19 22:10] jorgevrgs opened #12972 ""product.show_price" doesn't work when disable price for groups"
**Describe the bug**
When I select catalog mode or hide prices in guest group, products continue showing prices.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop Parameters -> Product settings
2. Click on Catalog mode On.
3. Open your shop.
4. See product prices. That happen when you get Group Feature disabled on performance settings.

**Screenshots**
** If applicable, add screensh

[2019-03-19 22:53] lukaszwojcik1990 opened #12973 "Navbar-toggler faceted navigation"
Hello,
In the module facet navigation, prestashop 1.7, how do you change the lists with attributes closed by default ? And you have to press a button to expand?

an example category where I would like the navigation list to be closed (works on a computer) - https://daars.pl/kolumny-107

greetings

[2019-03-20 03:04] rblaurin commented on #9540
Maybe it was fixed by #12965?

[2019-03-20 08:18] PierreRambaud commented on #12461
Yes, the composer.json file needs to be updated but we can't remove the PHP5.6 for now, this is why we can't be compliant with 7.3 for the next release.
As @matks said, we also need to check if nothing's broken, when you need the latest Symfony patch added BC breaks, we must be careful -_-

[2019-03-20 08:45] MarineCARTSGURU opened #12975 "Hello I am working with Carts Guru, we are a native Prestashop Module and we have a problem. The users cannot let a review on our page... Actually we do not find the way to. My email : marine@carts.guru Thanks"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-03-20 09:24] berarma commented on #12461
That's what I was guessing. Dependencies have been frozen for some time because of that requirement but PHP5.6 has already reached EOL. I hope it's dropped soon if not already.

Thanks.

[2019-03-20 09:27] ced--ced commented on #12777
Hi @khouloudbelguith,

I have made a new video with the debug mode on. The problem is still there: https://www.useloom.com/share/a67945dc1ea947f89a0d1354f6373a4e.

Host: DigitalOcean from Cloudways
Config: PHP7.1, MySQL5.5
Prestashop 1.7.5.1
Logs are attached

Thanks

[apache_prestashop-170674-493492.cloudwaysapps.com.access-log.txt](https://github.com/PrestaShop/PrestaShop/files/2987385/apache_pr

[2019-03-20 09:56] marionf opened #12976 "Behat test free shipping and new regression"
Consider that we want to have free shipping from 150 €
There are 2 ways to do that:

- First way
1) Create a carrier with ranges depending on the total price
2) First range >= 0€ and < 150€: carrier price 5€
3) Seconde range >= 150€ and < 1000€: carrier price 0€
4) Create a product with price 151€ tax included
5) Create a 10% voucher
6) Add the product to the cart and apply the 10% voucher
7) Your

[2019-03-20 09:58] marionf commented on #9540
Yes, it's fixed on develop branch

[2019-03-20 09:59] #9540 closed, assigned to marionf

[2019-03-20 10:01] bm-services commented on #9585
+ 1 ! We have the same problem on 1.7.4.3 !
The module ps_reminder/followup is unusable in french.

[2019-03-20 10:46] marionf commented on #10544
Issues related to this page:

- [x] #9611
- [x] #9610

[2019-03-20 10:48] marionf commented on #10542
Issue related to brands address list:
- [x] #11082

[2019-03-20 12:17] pks891618 commented on #12943
@khouloudbelguith  thanks for your response.

Please check the below recorded video

https://drive.google.com/file/d/1FgeKJ5gwclrf6zj8-XPRX-tT1F3JZaxO/view

Thanks

[2019-03-20 12:28] pks891618 opened #12977 "Prestashop 1.7.5 performance tab functionalities not saving data"
I am using prestashop 1.7.5 multistore. I have tried to enable the below options ,but these options are not saved into the database and they are still remaning as No.

Please check the attached video. Also when enabling the memcache thats also not saving in to the database

 Smart cache for CSS
Smart cache for JavaScript
Apache optimization

https://drive.google.com/file/d/1dGYn1IeLJn4Vn-M03Ws3u3X

[2019-03-20 12:40] elmanu13 commented on #10723
Any news ont this one ?
I don't want my sales guy to see the other's orders, and I use a module to filter this, but the notification favicon is not concerned. Even if I disable the new order notifications I have a number on the bell, and it shouldn't be.

Thanks !

<img width="463" alt="Capture d’écran 2019-03-20 à 00 12 54" src="https://user-images.githubusercontent.com/32092528/54684842-abc93f

[2019-03-20 13:01] andreepi opened #12978 "Bloc paiement"
Le bloc paiement ne fonctionne pas. Inactif.

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![image](https://user-images.githubusercontent.com/48160466/54686011-8984f080-4b18-11e9-8523-18c595e7262c.png)

**Additionnal information**
PrestaShop version: 1.6.1.18
PHP version: N/A

[2019-03-20 13:07] andreepi opened #12979 "Bloc paiement"
**Describe the bug**

Bloc complètement inactif.
Réinitialisation faite sans succès

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

![image](https://user-images.githubusercontent.com/48160466/54686410-82aaad80-4b19-11e9-891a-483b4c2ba9dc.png)

**Additionnal information**
PrestaShop version: 1.6.1.18
PHP version: N/A

[2019-03-20 13:27] marionf commented on #12979
Hello @andreepi

Your issue is a duplicate of #12978 so I close it.

Regards

[2019-03-20 13:27] #12979 closed, assigned to nobody

[2019-03-20 13:33] marionf commented on #10192
@matks Can we close it ?

[2019-03-20 13:42] marionf opened #12980 "Errors not correctly displayed on many migrated pages"
**Describe the bug**
When many languages are installed, errors are not correctly displayed on migrated **add/edit SEO page** and **add/edit Contact page**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International > Localization
2. Import a localization pack
3. Click on Shop parameters > Traffic & SEO > SEO & URL > Add a page
4. Fill all fields in all languages with a bad characters

[2019-03-20 13:43] marionf commented on #12980
@matks FYI

[2019-03-20 13:48] matks commented on #10192
🎉

[2019-03-20 13:51] matks commented on #12975
Hi @MarineCARTSGURU ,

Thanks a lot for your reporting.
But, this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-03-20 13:51] #12975 closed, assigned to nobody

[2019-03-20 13:58] djodjo3 opened #12982 "Application healthcheck"
**Is your feature request related to a problem? Please describe.**
More often than not, we need to make sure that a specific PrestaShop instance is healthy and working as expected, that it is accessible, can connect to the DB and generally able to serve as expected.
Thing is, if we want to check a given instance (in HTTP) status (accessing a given page), we'll be redirected to the shop's main doma

[2019-03-20 14:02] andreepi commented on #12978
Bonjour,

J'ai vu votre réponse mais je n'ai pas compris.

Le #12978 est-il toujours en cours car je n'ai pas eu de réponse ?
Merci

[2019-03-20 14:15] Tomskor opened #12983 "ERROR 500 in BO in one tab 1.7.5.1"
Have problem with one tab in BO, when I trying to open this tab, get error 500. Have screen with debug mode.

This is tab from courier integration module with list of shipment.

![screencapture-tomskor-pl-admin850kwyszj-index-php-2019-03-20-15_11_10](https://user-images.githubusercontent.com/42567245/54691006-dd94d280-4b22-11e9-9e8a-906a8749c76f.jpg)
![screencapture-tomskor-pl-admin850kwyszj-index

[2019-03-20 14:16] PierreRambaud opened #12984 "Centralized users data"
We want to provide a scallable application.
And because we're able to add images, files, store translations, mails, etc. We must centralized these data into one directory.

Example:
If you want to use Amazon S3 / Google FileStore / GlusterFs or anything else to store your data
You need to define many `exports` in your nfs configuration. Sometimes mixin php files and images because sometimes develo