[2019-07-09 08:56] breizoreol commented on #14416
This modification requires modifications in two different repositories

PR for the contact info module:
https://github.com/PrestaShop/ps_contactinfo/pull/13

Pr for prestashop's theme:
https://github.com/PrestaShop/PrestaShop/pull/14539

Note that it could be possible to make this optional, making it configurable in the back office module administration page.

[2019-07-09 09:04] webmak commented on #12998
@khouloudbelguith here is my pull request to fix it https://github.com/PrestaShop/PrestaShop/pull/14540 but you should consider more globaly you exeptions hanlder politic

[2019-07-09 09:12] khouloudbelguith commented on #14447
Hi @fred1code,

I did not manage to reproduce the issue with PS1.7.6.0.rc2.
https://drive.google.com/file/d/18Rae4ImHm3ybar_gt8alool8ay8984n1/view
As I said before, this is probably a temporary network issue, and if you restart the install it should be fine now.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-07-09 09:12] #14447 closed, assigned to nobody

[2019-07-09 09:27] matks opened #14541 "[SF Migration] Make it easy to add a Bundle to PrestaShop Symfony"
Type: tech-issue

There are dozen of wonderful Bundles for Symfony out there
- https://symfony.com/doc/current/bundles.html
- https://symfony.com/blog/the-30-most-useful-symfony-bundles-and-making-them-even-better
- https://packagist.org/packages/symfony/

However if a PrestaShop developer wants to use one, he must modify:
- a configuration YAML file
- add the Bundle in AppKernel
Which will result

[2019-07-09 09:39] khouloudbelguith commented on #12998
@webmak, I tried to import an incorrect file, but I don't have any exception.
![image](https://user-images.githubusercontent.com/16067358/60877422-b1b66d80-a235-11e9-8f3b-c873a9ae01fb.png)

Thanks!

[2019-07-09 09:41] webmak commented on #12998
@khouloudbelguith you can try to import category with id rewrite and set parent id to not existed category and it should reproduce

[2019-07-09 09:41] khouloudbelguith commented on #14538
Hi @sunnyvsrainy,

Thanks for your report.
Yes, I tried with your module with PS1.7.5.2 & PS1.7.6.0rc2.
It is displayed in the Other category.
But, when I tried to install other modules Like Paypal & COD, they are well displayed in the Payment category
![image](https://user-images.githubusercontent.com/16067358/60876287-80d53900-a233-11e9-9c10-c6dccd2fb39d.png)
In fact, the modules are retrieved v

[2019-07-09 09:41] #14538 closed, assigned to nobody

[2019-07-09 09:44] khouloudbelguith commented on #12998
@renatox57, yes, I tried to import a csv file with incorrect id for the Parent category.
I used this file.
[categories_import.csv.txt](https://github.com/PrestaShop/PrestaShop/files/3372349/categories_import.csv.txt)

Thanks!

[2019-07-09 09:46] omar2886 commented on #14493
Thanks @khouloudbelguith it was indeed a cache thing!!

[2019-07-09 10:09] khouloudbelguith commented on #14534
@photinia73, about the left menu, in fact, The Category Tree module always displays the latest visited category with default settings.
We are aware of this issue, you can follow this issue: https://github.com/PrestaShop/PrestaShop/issues/10763
Thanks!

[2019-07-09 10:21] Quetzacoalt91 opened #14544 "Review demo mode limitations"
**Is your feature request related to a problem? Please describe.**
The official demo of PrestaShop will allow each user to have its own ephemeral shop.
Some limitations could be reviewed in order to let them do more changes on the shop, as they won't impact the other users anymore.

**Additional context**
So far I found the current features are disabled on demo shops:

* Modifying employee permiss

[2019-07-09 10:30] khouloudbelguith commented on #14544
ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-09 10:41] ProBackup-nl opened #14546 "Bo-query also search for BO settings page titles, like Geolocation"
**Is your feature request related to a problem? Please describe.**
After 3 days of not using BO Geolocation, I forget how to get to the Geolocation settings. I thought let me search for "geo" in the search field in top. The result are 5 moldules to purchase. Grrr, not what I need.

**Describe the solution you'd like**
I want to see a result to the BO International > Localization > Geolocation-list

[2019-07-09 10:53] khouloudbelguith commented on #14546
Hi @ProBackup-nl,

Thanks for your report.
Yes, I have the same behavior with PS1.7.5.2 & PS1.6.0.rc2.
![image](https://user-images.githubusercontent.com/16067358/60882536-065ee600-a240-11e9-8767-208cb4def8f4.png)

ping @colinegin, @marionf what do you think?

Thanks!

[2019-07-09 10:56] omar2886 opened #14547 "Add employee info on the PaymentPanel when payment is registered"
Hi,
How can we do in BO order page to include the name of the employee who adds manually a payment in formAddPaymentPanel? just the same way in "table history-status" registers for each status change who changed it.
I think it's an interesting option to better control who adds payments when you have many authorized employees that can do so.
Thanks!

[2019-07-09 11:09] khouloudbelguith commented on #14537
Hi @cboillat,

I did not manage to reproduce the issue with PS1.7.6.0rc2 & PS1.7.5.1.
IP Geolocalisation is enabled in the shop.
I'm visiting the website from "France" & The default country is France.
I have a specific price on the France country
![image](https://user-images.githubusercontent.com/16067358/60883453-27283b00-a242-11e9-9c5e-ef2141645a4e.png)
On the FO, when I m not logged, the price

[2019-07-09 11:18] khouloudbelguith commented on #14547
Hi @omar2886,

Thanks for your report.
This is could be an improvement added to the order page after the migration to Symfony: #13878.
Ping @colinegin @marionf what do you think can we add the employee name in the Payment section?
![image](https://user-images.githubusercontent.com/16067358/60883994-a9fdc580-a243-11e9-835d-2406d09aa7e8.png)

Thanks!

[2019-07-09 11:19] siomosp opened #14548 "Product customization field fixed price"
Hi,
please add at Product customization field,  option to add a fixed price, and or weight
Now it can be done only by a module
Thanks
Panagiotis

[2019-07-09 11:23] khouloudbelguith commented on #14548
Hi @siomosp,

What is the exact module did you use to add this feature?
Can you please provide us a screenshot about this field fixed price from the Back office?

Thanks!

[2019-07-09 11:40] khouloudbelguith commented on #14281
@frankymartinES, In my case, I did not manage to reproduce the issue.
https://drive.google.com/file/d/1VVs4bLqqzO_cr-A6eiKO1rjwUrKyvCaA/view
But, in your shop: https://sps-sport.com/351-balonmano?q=Marca-Mizuno
The product MIZUNO WAVE LIGHTNING Z5 has a combination by default this one: https://sps-sport.com/zapatillas-unisex/4180-32121-mizuno-wave-lightning-z5.html
And not this one: https://sps-sp

[2019-07-09 11:51] marionf opened #14549 "Improve the stock location field in the product page"
When you create a new product, invalid characters for the stock location field are: **<>;={}**
If you enter an invalid character and save, you have an error "The location field in invalid" displayed.

![capture d'écran_1742](https://user-images.githubusercontent.com/13449658/60885950-09160700-a251-11e9-8b3b-34776edd499a.png)

When you save, if the stock location field contains an invalid character

[2019-07-09 11:52] ProBackup-nl opened #14550 "A quicker way to add Whitelisted IP ranges"
**Is your feature request related to a problem? Please describe.**
Adding IP ranges in [BO] Geolocation "Whitelisted IP addresses", like for Googlebot, Bingbot, Twitterbot, MSNBot, Applebot, etcetera is a lot of work.

**Describe the solution you'd like**
`66.249.64.0~66.249.95.255`
or
`66.249.64.0-66.249.95.255`
instead of current:
[code]
And note that this is only for 1 range. I need to describe

[2019-07-09 11:57] frankymartinES commented on #14281
Hi @khouloudbelguith you must see the product MIZUNO WAVE LIGHTNING Z5 (red/black ref: V1GA190062), because there are more products with that name but diferent colors. In product page you are changing the product, not color combination, it is a new module I have installed yesterday.

You have to focus in the product MIZUNO WAVE LIGHTNING Z5 (red/black ref: V1GA190062)
No error: https://sps-voleibo

[2019-07-09 12:25] nielsverhoeven84 commented on #14446
@khouloudbelguith When can we expect a fix for this issue?

[2019-07-09 12:33] PrestaShark commented on #14536
Im must say that native CMS function works very well despite to lack of good category URL router!
Both native support of cms featured image and dates could improve SEO.

Prestashop was used few times as pure CMS webpage without any purchase options. In that case lack of native search in cms pages may also occour...

[2019-07-09 12:34] khouloudbelguith commented on #14550
Hi @ProBackup-nl,

Thanks for your report.
Ping @colinegin, @marionf what do you think?
Is it possible to replace the Whitelisted IP addresses to IP ranges?
![image](https://user-images.githubusercontent.com/16067358/60888237-3b723500-a24e-11e9-8719-cb58310feb34.png)

Thanks!

[2019-07-09 12:35] ProBackup-nl opened #14553 "Better default Contact Form anti spam design"
**Is your feature request related to a problem? Please describe.**
Within 2 days after lifting the geolocation country block, the first [FO] contact form spam message arrived from talkwithcustomer.com aka liveserveronline.com.

**Describe the solution you'd like**
I do want better form spam handling: for example css hidden form fields that required specific values.

1. duplicate attack detection
O

[2019-07-09 12:36] khouloudbelguith commented on #14446
Hi @nielsverhoeven84,

This issue is added to our bug roadmap.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-07-09 12:43] khouloudbelguith commented on #14281
@frankymartinES, In your second shop, could you please provide me a screenshot from your Product page "MIZUNO WAVE LIGHTNING Z5" => Combination Tab.

Thanks!

[2019-07-09 12:51] khouloudbelguith commented on #14553
Hi @ProBackup-nl,

Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-09 13:05] PrestaShark commented on #14536
Also META Keywords are deprecated from ten years ->
https://webmasters.googleblog.com/2009/09/google-does-not-use-keywords-meta-tag.html
But that field can be used as TAGS for CMS pages to group CMS pages by them like HEALTH, WEALTH, RECIPES or so.

[2019-07-09 13:27] khouloudbelguith commented on #9587
Hi,

I did not manage to reproduce the issue with PS1.7.6.0rc2 & ps_legalcompliance module v3.0.2.
https://drive.google.com/file/d/1vUrOUMlMk-DATkK-Q0yv-UtRqD-CzBFH/view
I close the issue.
Thanks!

[2019-07-09 13:27] #9587 closed, assigned to nobody

[2019-07-09 13:53] khouloudbelguith commented on #9645
Hi,

I did not manage to reproduce the issue with PS1.7.6.0rc2 & ps_legalcompilance v3.0.2.
In the Credit slip, the shipping cost is displayed with Tax included which is incorrect.
Invoice:
![image](https://user-images.githubusercontent.com/16067358/60893559-061f1480-a259-11e9-948d-f51c451eb38d.png)

Credit slip:
![image](https://user-images.githubusercontent.com/16067358/60893651-36ff4980-a259-11

[2019-07-09 13:53] #9645 closed, assigned to nobody

[2019-07-09 14:05] khouloudbelguith opened #14554 "The alert "Unfortunately, there is no payment method available." is not displayed in the checkout page"
**Describe the bug**
After disabling all the Payment modules, the alert "Unfortunately, there is no payment method available." is not displayed on the checkout page.
![image](https://user-images.githubusercontent.com/16067358/60894454-9a3dab80-a25a-11e9-8ad5-23dbbf155d62.png)

![image](https://user-images.githubusercontent.com/16067358/60894494-b2152f80-a25a-11e9-85f6-6bd6c0bc0a71.png)

**To Repro

[2019-07-09 14:09] khouloudbelguith commented on #9646
Hi,

I have the same issue with PS1.7.6.0rc2 & the `contactform` module v4.1.1.

Thanks!

[2019-07-09 14:12] cboillat commented on #14537
Hi @khouloudbelguith,

Thanks for your answer and the time you've taken to test.

I think I found a small part of my problem. To make things better, I changed the value "Set the country according to the browser language" to "No" under "Localisation".

But there's still a problem that you should be able to reproduce too. Try to access your shop from a VPN as if you were in Switerland and you'll see

[2019-07-09 14:13] MathiasReker opened #14555 "Wrong place of currency on second language"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
See screenshots. If I enable second language "kr." moved in front of the price.

**Screenshots**
![3](https://user-images.githubusercontent.com/26626066/60895042-30c29a80-a264-11e9-85fb-8ba618bc9961.png)
![1](https://user-images.githubusercontent.com/26626066/60895044-315b310

[2019-07-09 14:18] marionf commented on #14554
@khouloudbelguith

I well have it both on 1.7.5.2 and 1.7.6.0 RC2

![capture d'écran_1744](https://user-images.githubusercontent.com/13449658/60895525-1e952c00-a265-11e9-8fd7-8ee768f15986.png)

[2019-07-09 14:20] marionf commented on #14554
@sarahdib Can you try to reproduce it ?

[2019-07-09 14:23] khouloudbelguith commented on #14554
@marionf, I have the same issue on the machine shuffle (Ps1.7.5.2)
Could you please check with this link: http://talented-connection.machine-shuffle.prestashop.net/en/
Thanks!

[2019-07-09 14:27] MickaelJN opened #14556 "Calculation of VAT details with card rules are wrong"
**Describe the bug**
Calculation of VAT details with card rules are wrong
First with a card rule, prestashop can't offer the delivery... In reality it make a reduction on total of product without tax.
Second : if product vat is 10% and delivery 20%, prestashop make wrong calculation of vat to delivery, product and total of the order.
All the invoices are illegals !!

**To Reproduce**
Product with

[2019-07-09 14:30] marionf commented on #14554
On machine shuffle yes, but I can't reproduce on localhost 1.7.5.2 & 1.7.6.0RC2

[2019-07-09 14:44] khouloudbelguith commented on #14555
Hi @MathiasReker,

I tried o import the Denmark pack, In the FO, when English is selected & DKK kr is selected.
I have this:
![image](https://user-images.githubusercontent.com/16067358/60897650-5b125900-a260-11e9-85c6-4a417d64f5e6.png)

What is the exact Language/country did you used during the install?

Thanks!

[2019-07-09 14:49] MathiasReker commented on #14550
@ProBackup-nl  why would you want to whitelist all those IPs?

[2019-07-09 14:54] MathiasReker commented on #14555
@khouloudbelguith Exacly! Thats the problem. The second language displayed wrong. Danish should be like this format: 1.000,00 kr.

If you install only 1 language then there are no problem. The problem exist from language 2+

[2019-07-09 15:02] frankymartinES commented on #14281
@khouloudbelguith , if I click in the first option I send you before (https://sps-voleibol.com/busqueda?controller=search&s=lightning+z5) the product page opened is the good one;
https://sps-voleibol.com/zapatillas-unisex/4182-32151-mizuno-wave-lightning-z5.html#/309-tallas-42
![captura3](https://user-images.githubusercontent.com/50448058/60899607-0c1df100-a26b-11e9-96ec-f31f13579f12.jpg)

But if

[2019-07-09 15:09] khouloudbelguith commented on #14555
@MathiasReker, thanks for these clarifications.
We will check & feedback.

[2019-07-09 15:15] PierreRambaud commented on #14555
It's not a bug, when you're running in english, it takes the english currency format, not the danish one.
This mean if you have `$10.00` and you switch to danish currency, it takes the english CLDR currency, and use the danish currency symbol => `kr10.00`

[2019-07-09 15:16] frankymartinES commented on #14281
@khouloudbelguith Could I try to reindex all the products in the "Search" section (
advanced parameters)?

[2019-07-09 15:17] PierreRambaud commented on #14555
Same if you're in french, you have `25,61 €` and if you switch to USD you have `28,72 $` because it's the French currency format :)

[2019-07-09 15:23] khouloudbelguith commented on #14281
@frankymartinES, Do you need to Re-build the entire index in the Search page?
![image](https://user-images.githubusercontent.com/16067358/60901412-cf9bc680-a265-11e9-9d19-fad9aa89f9cf.png)

Thanks!

[2019-07-09 15:27] MathiasReker commented on #14555
@PierreRambaud The price is: `23,90 kr.` and my languege is danish. Then I want to translate my website to english and still show the price in `kr.`. Then it will look like this: `kr.23.90`

[2019-07-09 15:28] PierreRambaud commented on #14555
This is what I said, if you're in english, you must display currencies in english format :thinking:

[2019-07-09 15:31] MathiasReker commented on #14555
But what if I want to show everything is kr. (DKK)?

[2019-07-09 15:33] frankymartinES commented on #14281
Could be a solution? Now all my products are indexed but maby that action can be usefull. What do you think?

[2019-07-09 15:37] khouloudbelguith commented on #14556
Hi @micboss71,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #11492
So, I close it.
Thanks!

[2019-07-09 15:37] #14556 closed, assigned to nobody

[2019-07-09 15:38] khouloudbelguith commented on #14556
Duplicate of #11492

[2019-07-09 15:38] jolelievre commented on #14555
If you try to display with Euros with English language you will see that the € symbol is before the number:

![Capture d’écran 2019-07-09 à 17 25 39](https://user-images.githubusercontent.com/13801017/60901716-b64b4800-a26e-11e9-80ce-e9cb31b0cb82.png)

So this is the expected behavior of the CLDR, if you want more details you can check the english CLDR data in `localization/CLDR/core/common/main

[2019-07-09 15:39] khouloudbelguith commented on #14281
@frankymartinES, you need to rebuild the entire index, clear cache & check the issue again.

Thanks!

[2019-07-09 15:46] ProBackup-nl commented on #14550
@MathiasReker I want the webshop only available for the Netherlands (Geolocation), the scope is even more local: 30 zip codes out of 4000. Thus my offering is very local. Though still want to be found in Google and other locally used search engines (not Yandex or Baidu).

[2019-07-09 15:49] SimonGrn opened #14559 "Image not displayed in example data in "About" CMS page"
**Describe the bug**
An image in the "About" CMS page is not displayed. The "src" attribute is not correct if we install Prestashop in a folder without URL rewriting (it seems to be written as `../img/cms/cms-img.jpg` and thus breaks when in a subfolder).

**To Reproduce**
Steps to reproduce the behavior:
1. Install Prestashop 1.7.6 in a subfolder (country FR, language EN)
2. Go to the "About" pag

[2019-07-09 15:54] khouloudbelguith commented on #14559
Hi @SimonGrn,

I have the same issue with PS1.7.5.2 & PS1.7.6.0rc2.
I’ll add this to the debug roadmap so that it’s fixed.
Thanks!

[2019-07-09 15:55] MathiasReker commented on #14555
The currency format should be related to the currency and not to the language. Don't you agree? 😕

[2019-07-09 16:01] razvypp opened #14561 "prestashop 1.7.6 payment accepted status error"
Bad encoding when changing status to Payment Accepted, instead of redirect i get: GIF89a�����,D;

https://snag.gy/eH4Jmp.jpg

[2019-07-09 16:02] khouloudbelguith commented on #14561
Hi @razvypp,

What is the exact payment module did you use?
Thanks!

[2019-07-09 16:09] PierreRambaud commented on #14555
No, consider what CLDR do, it's related to a language.

[2019-07-09 16:09] khouloudbelguith commented on #14554
Hi @marionf,

Re-installing the shop 1.7.6.0rc2 & clear cache from the shop in Machine shuffle => the issue doesn't exist anymore.
I close the issue.

Thanks!

[2019-07-09 16:09] #14554 closed, assigned to nobody

[2019-07-09 16:13] jolelievre commented on #14555
No it seems logical that it depends on the language If you speak arabic for example, no matter which currency you are paying with you still want the website to be displayed in LTR. Switching to $ doesn't mean you want to switch your website display.

It's the same principle here (at least it seems to be the CLDR unicode point of view), the important is what language and what country you are from.

[2019-07-09 16:16] khouloudbelguith commented on #14537
@cboillat, I tried with another country & it is OK.
https://drive.google.com/file/d/1L15JeLwqqu9Yyy5yMV55UoHsKld_0z1p/view
Thanks!

[2019-07-09 16:23] razvypp commented on #14561
It is the same when I change to Canceled order.
I am using cash on delivery module (codwfeeplus) here is the exact link: https://filebin.net/xj0h9s2oekl8jen0

[2019-07-09 16:30] frankymartinES commented on #14281
@khouloudbelguith I have rebuilted the entire index and clen cache but the error continue. You can see that the error must be in the faceted module because when I desactive the module the error disapear.
https://sps-uhlsport.com/13-zapatillas-unisex?page=2
![captura5](https://user-images.githubusercontent.com/50448058/60906528-9ff5ba00-a277-11e9-969a-5c405a60fb38.jpg)

[2019-07-09 16:38] MathiasReker commented on #14555
Interesting, I did not know that. 😄 But it sounds legit.

[2019-07-09 16:40] MathiasReker commented on #14555
Thanks for the explanation ! :)

[2019-07-09 16:40] #14555 closed, assigned to nobody

[2019-07-09 16:42] SimonGrn commented on #14561
Are you sure this is not related to this module you're using ? The module has been updated for PS 1.7.6.0 24 days ago, are you using the latest version ?

(Also please think about following the issue template, it's made this way to help us help you ;-) )

[2019-07-09 16:44] #14549 closed, assigned to nobody

[2019-07-09 16:44] #14445 closed, assigned to nobody

[2019-07-09 16:45] #14483 closed, assigned to nobody

[2019-07-09 16:45] #14477 closed, assigned to nobody

[2019-07-09 16:45] #14463 closed, assigned to nobody

[2019-07-09 18:34] siomosp commented on #14548
Hi @khouloudbelguith ,
it is a feature request for the next releases of Prestahop.
I am asking to add this feature at Prestahop core.
( I use this module https://addons.prestashop.com/en/sizes-units/19389-dynamic-product-price.html
but i think at most product there is no need for a module, if at PS core was the option to add static price and weight to customization fields)
Thanks!

[2019-07-09 22:20] luisagreda10 opened #14565 "Contácte a un técnico de hosting detectó este error Uncaught Error: Class 'SmartBlogLink'"
We were trying to upload a template several times and I throw that limiting size did not allow upload, it was modified and added the subject, but when you add the subordinate website fell. I need support for the same please.

The technician answered this and told us to contact you:

thrown in /home/zhiyunte/public_html/modules/smartblogaddthisbutton/smartblogaddthisbutton.php on line 134
[09-Jul-2

[2019-07-10 06:58] cboillat commented on #14537
@khouloudbelguith I did exactly the same as you and it worked like in your video.

But as soon as I enabled the Geolocalisation by IP (and accessing the website from Switzerland), the product main price became 120 euro (which is correct) and the discount table remains with the "italy" prices (not correct).

[https://drive.google.com/file/d/1nuXnLYeHArGfQ2mcldWekh0PLNzkj4Fz/view?usp=sharing](url)

[2019-07-10 07:37] khouloudbelguith commented on #14129
Hi @renochost,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-10 07:37] #14129 closed, assigned to nobody

[2019-07-10 07:37] khouloudbelguith commented on #14121
Hi @josejecas,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-10 07:37] #14121 closed, assigned to nobody

[2019-07-10 07:38] khouloudbelguith commented on #14122
Hi @ballashop,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-10 07:38] #14122 closed, assigned to nobody

[2019-07-10 07:39] khouloudbelguith commented on #14077
Hi @stefano-sgambati,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-10 07:39] #14077 closed, assigned to nobody

[2019-07-10 07:39] khouloudbelguith commented on #14097
Hi @matteolavaggi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-10 07:39] #14097 closed, assigned to nobody

[2019-07-10 07:41] ballashop commented on #14122
Ok, unfortunately I haven't solved yet, but I'll try again soon, waiting for 1.7.6.
Thanks a lot.

[2019-07-10 07:50] khouloudbelguith commented on #14565
Hi @luisagreda10,

The `smartblogaddthisbutton` module is perhaps incompatible with your PrestaShop version.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-07-10 07:50] #14565 closed, assigned to nobody

[2019-07-10 07:52] khouloudbelguith commented on #14561
@razvypp, I tried to use your module with PS1.7.6.0RC2 & I don't have any issue after changing the order's status to payment accepted.
I attached a screen record
https://drive.google.com/file/d/1NFm5WjzWE62gLeoQ5WbnuQcTR5pAMcCJ/view
Thanks to check & feedback.

[2019-07-10 07:55] breizoreol commented on #11144
Hello @marionf, should we still do this ticket given BilalDr's last comment?

[2019-07-10 07:57] khouloudbelguith commented on #14548
@siomosp, thanks for your feedback.
ping @marionf, @colinegin what do you think?

Thanks!

[2019-07-10 08:03] khouloudbelguith commented on #12888
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/12997 to add this feature.

[2019-07-10 08:03] #12888 closed, assigned to TristanLDD

[2019-07-10 08:06] MarouaniALA commented on #14371
@khouloudbelguith thanks for your support the problem caused by pagespeed module of prestashop

[2019-07-10 08:08] khouloudbelguith commented on #14371
Hi @MarouaniALA,

Thanks for your feedback.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-07-10 08:08] #14371 closed, assigned to nobody

[2019-07-10 08:35] Allthejam opened #14566 "The auto emails dont work properly"
The system isn't sending emails to clients I get the email telling me they have made a purchase but they are not getting any email with a receipt or instructions on how to pay, if they select to pay by Bitcoin or bank transfer they should get the email with the banking instructions, but they get nothing so I can not trade right now.

I run 3 sites and 1 is working perfectly and the other 2 don't,

[2019-07-10 09:02] khouloudbelguith commented on #14566
Hi @Allthejam,

Thanks for your report.
Could you please navigate to your Back office => Advanced Parameters => E-mail, try to " Test your email configuration" by sending a test email.
Thanks to check & feedback.

[2019-07-10 09:06] khouloudbelguith commented on #14281
@frankymartinES, thanks for your feedback.
In my case it is OK => there is no issue.
Ping @PierreRambaud what do you think of this issue?

Set that combination as default
Go to the product list and see the product, the default combination is not showed (price is the clue to know the error)
Click on the product and see that not open the default combination.
If I disable the faceted search module ev

[2019-07-10 09:22] kernig opened #14568 "Can't upload module via backend"
**Describe the bug**
When you try to install a module it shows an error: "1G" is not a valid maximum size.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Module Manager'
2. Click on 'Upload Module'
3. Select your module to start upload
4. See error

**Additionnal information**
PrestaShop version: 1.7.5.2
PHP version: 7.2

This is caused by the PHP setting upload_max_filesize, which i

[2019-07-10 09:31] matks commented on #13981
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13983

[2019-07-10 09:31] #13981 closed, assigned to nobody

[2019-07-10 09:33] khouloudbelguith commented on #14568
Hi @kernig,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, thi

[2019-07-10 09:46] khouloudbelguith commented on #14537
@cboillat, when you access the website from Switzerland.
In the FO => Your account  => Addresses, when you try to add an address, what is the exact country displayed by default when Geolocalisation by IP is enabled & disbled?
![image](https://user-images.githubusercontent.com/16067358/60959306-e2fb7000-a2ff-11e9-87ff-3cca089da6eb.png)

Thanks!

[2019-07-10 09:49] frankymartinES commented on #14281
Hi @khouloudbelguith , sorry but in your video I can see the issue prefectly. Check it again please!!
In the first part of your video you can see that after click in the black product and open the product page, you change to red color and the combiantion opened is the 40.5 size and the default combination is the 42 size.
And also in the third part you can see in the product list that the red color

[2019-07-10 09:50] cboillat commented on #14537
@khouloudbelguith
when Geolocalisation by IP is enabled -> France
when Geolocalisation by IP is disabled -> Italie

[2019-07-10 10:08] khouloudbelguith commented on #14537
@cboillat, thanks for your feedback.
So, when the Geolocalisation by IP is enabled => error (incorrect specific price).
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-10 10:10] kernig commented on #14568
Hi @khouloudbelguith,

thank you for your quick response.
You are right, the script marks the G values red.
In the PHP documentation it says "PHP allows shortcuts for byte values, including K (kilo), M (mega) and G (giga)." so in my opinion presta should be able to handle that :-)

[2019-07-10 10:13] khouloudbelguith commented on #14568
@kernig, could you please provide me a screenshot about your PHP's information for your server that you have just uploaded.

Thanks!

[2019-07-10 10:23] bm-services opened #14570 "Translations: Priority to apply module translations files in theme"
**Describe the bug**
When we translate modules in theme, translations is not applied because modules translations replace module translations are in theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy modules/marketplace/translations/fr.php in themes/classic/modules/marketplace/translations/fr.php
2. Edit translations
3. Translations are not applied

**Additionnal information**
Prest

[2019-07-10 10:26] khouloudbelguith commented on #14570
Hi @bm-services,

Thanks for your report.
Isn't the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/14470.
It is fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/14507
Thanks to check & feedback.

[2019-07-10 10:32] khouloudbelguith commented on #14281
@frankymartinES, I just created a product following your steps & it is OK.
https://drive.google.com/file/d/1zy2xDr6MK-wIWg3s8OH5VK69vGdn1JmV/view
In your Back office => Shop Parameters => Product Settings => "Quantity discounts based on" is setted to "Combinations?
![image](https://user-images.githubusercontent.com/16067358/60962520-5dc78980-a306-11e9-9750-69ab9c86124b.png)

Thanks!

[2019-07-10 10:57] kernig commented on #14568
![prestaresult](https://user-images.githubusercontent.com/17124093/60963807-1d6e0880-a312-11e9-9013-4ec22b0294d8.png)
@khouloudbelguith
if you need more details, just let me know.

[2019-07-10 11:11] PankajAdhikari opened #14571 "Product page loading very slow on prestashop version 1.7.5"
In loading single product page very slow , few days ago is was working but now there is  some issue
plz reply

[2019-07-10 11:12] khouloudbelguith commented on #14571
Hi @PankajAdhikari,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.p

[2019-07-10 11:13] omar2886 opened #14572 "PS 1.7.x FO Cart.tpl availability notice!"
Hi,
I remember in PS 1.6 that before proceeding to check-out, customers can first see the complete cart and there was a sign clearly marking for each product wether it was in stock or not.
Now in PS 1.7 we only see in the cart (photo, title, qty, price and delete button). In the entire checkout process customer can't explicitly see wether all products are actually available in stock or not. I'm ha

[2019-07-10 11:20] khouloudbelguith commented on #14568
@kernig, Thanks for your feedback.
Ye, I tried with 1G with my server & it not accepted.
![image](https://user-images.githubusercontent.com/16067358/60965114-efd29080-a30c-11e9-879e-b05920db7c3a.png)
Ping @PrestaShop/prestashop-core-developers what do you think about his suggestion?

Thanks!

[2019-07-10 11:24] frankymartinES commented on #14281
@khouloudbelguith I have setted to Cambinations the "Quantity discounts based on" option but the error still here. I think that is not the problem because before update the "faceted search module" the error did not exist.
You did the test in PS 1.7.6, I have PS 1.7.4.4 and tha error appear after update the module, maby you are working in a new installation.
I think the problem could be the databas

[2019-07-10 11:36] khouloudbelguith commented on #14572
Hi @omar2886,

Thanks for your report.
With PS1.6, in the shopping cart page, the Availability is displayed

![image](https://user-images.githubusercontent.com/16067358/60965954-1396d600-a30f-11e9-8817-3910990b5664.png)
But in the PS1.7 => NO
![image](https://user-images.githubusercontent.com/16067358/60966017-34f7c200-a30f-11e9-9590-8f057b048e34.png)

@marionf, @colinegin what do you think? can w

[2019-07-10 11:48] omar2886 commented on #14572
it's really important and relevant! also in the product page, for those labels they used to be highlighted with a bg color, now they're not, which makes it even less obvious for customers.
To have a temporary solution I'm trying to allocate the tpl of the product page in FO so I can manually add a bg color to "form_stock_oos_allowed_backorders_2" but can't find it, can you help me please?
Thanks!

[2019-07-10 11:52] Demax81 opened #14573 "Prestashop duplicates the customer's address and indicates that there is no carrier"
Hello,

I have encountered a Prestahsop problem that I have not been able to solve.

I have installed Prestashop 1.7 on different websites and with different versions of Prestashop 1.7 and the same thing happens in all of them.

When a new customer makes a purchase and writes his address, he impatiently clicks the continue button several times.

This, what it does, is to keep several copies of the

[2019-07-10 12:11] cboillat commented on #14537
@khouloudbelguith Yes indeed. But why the main price change correctly and not the discount table price ? Because if I enable Geolocalisation by IP, the main price is 120 (which is correct) and the discount table price for 50 pieces is 20 (which is wrong, that's the italy price).

[2019-07-10 12:17] bm-services commented on #14570
I don't think that is the same problem because our problem is in back office in an admin controller of a bought module.
Can my fix agree?

[2019-07-10 12:25] khouloudbelguith commented on #14572
@omar2886, If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-07-10 12:31] PierreRambaud commented on #14568
It's normal because 1G is not a supported value by Symfony.
An issue has already been created https://github.com/PrestaShop/PrestaShop/pull/10892

[2019-07-10 12:32] #14504 closed, assigned to PierreRambaud

[2019-07-10 12:33] #14559 closed, assigned to marionf

[2019-07-10 12:37] khouloudbelguith commented on #14281
Hi @frankymartinES,

I tried with PS1.7.4.4 & the ps_fecetedsearch before & after the upgrade.
I attached a screen record
https://drive.google.com/file/d/1O5wMqBQaX0sY2t6jXWbCEnyyUCT0SEoq/view

Thanks!

[2019-07-10 12:39] khouloudbelguith commented on #14568
@PierreRambaud, thanks for your feedback.
@kernig, you should not use G with upload_max_filesize.
I close the issue, Feel free to open a new one when needed.

Thanks!

[2019-07-10 12:39] #14568 closed, assigned to nobody

[2019-07-10 12:42] khouloudbelguith commented on #14537
@cboillat, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2019-07-10 12:43] kernig commented on #14568
@khouloudbelguith, thanks for verifying it.
@PierreRambaud, thank you. Didn't see it, when opening this issue.
I already posted it in the symfony repository and they asked me to send a pull request.
I'm not sure if it would be better to wait for the next symfony update in prestashop or if there should be a seperate fix for the meantime. If they implement it in 3.4 does presta get it with the next

[2019-07-10 13:12] khouloudbelguith commented on #9932
Hi all,

This issue occurs also following these steps:
1. Go to FO
2. Create a new customer
3. add some products to the cart => process to the checkout page
4. Add new address
5. Click several times on the continue button

"Unfortunately, there are no carriers available for your delivery address." is displayed
https://drive.google.com/file/d/12SsSiVsqcR2SyeuwLR0vgbPbq3PHeYFr/view
The issue reprodu

[2019-07-10 13:13] khouloudbelguith commented on #14573
Hi @Demax81,

Thanks for your report.
We are aware of this issue, it is added to our debug roadmap.
I added your steps in a new comment: https://github.com/PrestaShop/PrestaShop/issues/9932#issuecomment-510054925
Your ticket is a duplicate of #9932
So, I close it.
Thanks!

[2019-07-10 13:13] #14573 closed, assigned to nobody

[2019-07-10 13:13] khouloudbelguith commented on #14573
Duplicate of #9932

[2019-07-10 13:22] Archikawa opened #14575 "Product sorting doesn't work."
**Describe the bug**

When activating the ps_facetedsearch, the frontend sorting capabilities (price low-to-high and price-high-to-low) are abolutely not ordered by price.

When not activating the module the sorting works fine.

Current stack:
ps_facetedsearch v3.1.0
Theme: Z.One 2.4.2
Prestashop 1.7.5.2

**To Reproduce**
Just visit super.albarsana.com which is my live shop and play around. Now th

[2019-07-10 13:23] cboillat commented on #14537
@khouloudbelguith
I checked the console in Chrome on the product page -> no error
I enabled debug mode -> nothing special
And find attached my apache error log from 10.07.2019
[mps.toggle.ch-2019-07-10_15-17-35-error.log](https://github.com/PrestaShop/PrestaShop/files/3377655/mps.toggle.ch-2019-07-10_15-17-35-error.log)

[2019-07-10 13:28] Allthejam commented on #14566
Hi, and yes I have done that many time now and every time I get the email, it's not the problem, the problem is that the clients do not get an email.
For example,
A client makes a purchase and chooses to pay by either Bank Transfer or Bitcoin, this is great they make the purchase I get an email telling me that they have made the purchase but they receive NO email with instructions on how to pay, a

[2019-07-10 13:44] tom75 commented on #14561
@razvypp - why you are using this module, is there any advantage to the prestashop cash on delivery module which is already included?

[2019-07-10 13:45] 202-ecommerce opened #14577 "PrestaShop Console : Theme command improvements"
Starting from PrestaShop 1.7.6 we can enable theme in console. The problem is that we need to install the theme first. Using the backoffice for installation is not suitable as we want to do all steps in console. If we just unzip the theme in themes directory, some important actions will not be executed, for example, installation of the modules from theme dependencies.
So it will be great to have t

[2019-07-10 13:46] khouloudbelguith commented on #14575
Hi @Archikawa,

After the upgrade of the ps_facetedsearch module, could please try to follow these steps:

1. Go to BO => Module Manager page => configure the ps_facetedsearch module
2. Click on `Rebuild entire price index`, `Build attribute index` & `Clear cache`
3. Try to force a refresh of the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on the FO.

Thanks to chec

[2019-07-10 13:49] khouloudbelguith commented on #14566
@Allthejam, could you please navigate to the BO => Shop Parameters => Order Settings => Statuses Tab & check for each status if "Send email to customer" is enabled.
![image](https://user-images.githubusercontent.com/16067358/60974352-de47b380-a321-11e9-8683-b3b631c82a27.png)

Thanks!

[2019-07-10 13:52] Archikawa commented on #14575
Done, but same result :(

More data: PHP 7.2 could this be influencing?

If you are online give me a ping and I can deactivate the module in my shop so you can check "before and after" style.

I remain online

[2019-07-10 14:02] khouloudbelguith commented on #14570
@bm-services, thanks for your feedback.
In my case, I did not manage to reproduce the issue with PS1.7.6.0rc2.
I tried with the `contacform` module.
I copied `/modules/contactform/translations/fr.php` to `/themes/classic//modules/contactform/translations/fr.php`
In the BO => Translations page => when I select the module `contacform` to translate it.
The translation is successfully applied.
https:/

[2019-07-10 14:05] Allthejam commented on #14566
Yes I have everything on,
![2019-07-10_160401](https://user-images.githubusercontent.com/52738920/60975537-7054b980-a32c-11e9-86b1-e8ca9ba77b85.jpg)

I have created a new account to test for myself again and its all still the same
![2019-07-10_160319](https://user-images.githubusercontent.com/52738920/60975614-89f60100-a32c-11e9-9431-680be629019b.jpg)

[2019-07-10 14:08] bm-services commented on #14570
This problem not occurs when I translate by back office interface because back office interface replace file in www/modules/my_module/translations/fr.php so the problem doesn't exist.
My problem exists when I want to create a translation file in: www/themes/classic/modules/my_module/translations/fr.php
This way allows to override translations to avoid erasement when I upgrade modules.

[2019-07-10 14:09] khouloudbelguith commented on #14575
@Archikawa, no, it is not a PHP version issue.
I'm using PHP version 7.2.13  & it is OK.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get

[2019-07-10 14:15] khouloudbelguith commented on #14577
Hi @202-ecommerce,

Thanks for your improvement & PR.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-10 14:15] Archikawa commented on #14575
Ok @khouloudbelguith I will try to gather all this info (will take me some time as I'm not an expert)
I will ask also for collaboration of my hosting services. Get back to you asap. Thanks for supporting!

Screenshots provided
![with_psfacetedsearch](https://user-images.githubusercontent.com/52740680/60976395-e73e8200-a32d-11e9-84c5-12a23bd576b4.PNG)
![without_psfacetedsearch](https://user-images.

[2019-07-10 14:22] khouloudbelguith commented on #14570
@bm-services, thanks for these clarifications.
ping @eternoendless, @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-10 14:33] khouloudbelguith commented on #14575
@Archikawa, thanks!
Waiting for your feedback.

[2019-07-10 14:51] khouloudbelguith commented on #14566
@Allthejam, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/mis

[2019-07-10 14:59] khouloudbelguith commented on #14537
@cboillat, in your log file, you have some warnings about the `jxproductsslider` module & some error in the cache.
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-07-10 15:01] Archikawa commented on #14575
Here what I got @khouloudbelguith

[PS-Console.txt](https://github.com/PrestaShop/PrestaShop/files/3378100/PS-Console.txt)
php error log empty :(

I don't know exactly how to gather useful data for you. Seems more like a logical error (I was a programmer but too, too many tears ago) There is no excepton, nor a crash in the php log and the firefox console shows everything is fine...

A remote sessi

[2019-07-10 15:04] frankymartinES commented on #14281
@khouloudbelguith so I have not solution for that problem. How I could to go back to old version of the faceted module?

[2019-07-10 15:27] marionf commented on #11144
@breizoreol Maybe we should ask the opinion of SEO experts to be sure it's not usefull anymore and if it's we need to list all back-office pages where there are meta keywords fields.
@colinegin what do you think ?

[2019-07-10 15:43] khouloudbelguith commented on #14281
@frankymartinES, you can check in this link the releases of the ps_facetedsearch module https://github.com/PrestaShop/ps_facetedsearch/releases
Also, you need to run composer install inside it.

Thanks!

[2019-07-10 15:45] khouloudbelguith commented on #14575
@Archikawa,
Could you please try to enable debug mode in your store and debug request which is sent by sorting by price in your browser, using DevTools, so:

1. enable debug mode
2. go to the FO => Category page
3. open up developer tools
4. go to Network tab
5. Sort by price
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error messag

[2019-07-10 16:00] frankymartinES commented on #14281
@khouloudbelguith Could you explain how to do it please? Sorry for all your time waste in this issue. Thanks again

[2019-07-10 16:06] khouloudbelguith commented on #14281
@frankymartinES, you are welcome!
For example, you need to download the release v2.2.1.
1. You need to follow this link: https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v2.2.1
2. Click on the Source code (zip) link: https://github.com/PrestaShop/ps_facetedsearch/archive/v2.2.1.zip. =>  zip file will be downloaded.
3. Unzip this file.
4. Run the command  `composer install`  inside the f

[2019-07-10 16:06] Archikawa commented on #14575
No error at all @khouloudbelguith sorry.

I attach a few infos to see if it helps, let me know where to search for more info that provides value.

![snapshot](https://user-images.githubusercontent.com/52740680/60985194-5374b200-a33d-11e9-9f6c-0a7963d4f501.PNG)
[code (as per firefox console).txt](https://github.com/PrestaShop/PrestaShop/files/3378406/code.as.per.firefox.console.txt)
[network-inspec

[2019-07-10 16:18] frankymartinES commented on #14281
@khouloudbelguith  Sorry, but I did not do it before, so Could you explain me how to do step 2?

[2019-07-10 16:18] frankymartinES commented on #14281
Sorry, I mean step 4

[2019-07-10 16:19] khouloudbelguith commented on #14575
@Archikawa, Did you installed the ps_facetedsearch from Back office => module catalog page or did make an upgrade of this module from a previous version?

Thanks!

[2019-07-10 16:21] Archikawa commented on #14575
Since I started the configuration of the shop till today, it upgraded itself at least twice (the auto-upgrade feature embedded in the prestashop BO)

[2019-07-10 16:24] khouloudbelguith commented on #14281
@frankymartinES, Composer is a tool for dependency management in PHP. It allows you to declare the libraries your project depends on and it will manage (install/update) them for you.
Using console command, you need to run composer install
![image](https://user-images.githubusercontent.com/16067358/60986522-8ddb5080-a337-11e9-9a01-380daeb2a021.png)

Thanks!

[2019-07-10 16:25] khouloudbelguith commented on #14575
@Archikawa, could you please try to reset the ps_facetedsearch module, clear cache, check & feedback.
Thanks!

[2019-07-10 16:44] Archikawa commented on #14575
@khouloudbelguith

You mean de-install and re-install?

[2019-07-10 19:05] ReGi00 commented on #13575
I confirm this resolution.
The shipping cost was shown incorrectly and after changing the field shipping external in the database to 0 for carier everything works correctly
Thanks

[2019-07-10 20:20] centoasa opened #14580 "error after upgrade to 1.7.6.0"
ubuntu 18.4
upload zip into admin/autoupgrade, after all upgrade I've this error
https://nimb.ws/SdoxMU
attached the admin/autoupgrade/tmp
[log.txt](https://github.com/PrestaShop/PrestaShop/files/3379254/log.txt)
Now accessing on admin, always...
Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error oc

[2019-07-10 21:04] pantle commented on #10264
I **NOW** have 1.7.5.2  and in `/classes/Cart.php` I found `if ($virtual && $type == Cart::BOTH) {` in line 1910
I changed line 1911 into `$type = Cart::BOTH;`

TESTING AT THE TIME BEEING!!!

As long as I can see it works. Even checked both: Voucher for virtual and voucher for normal product together in the same cart and it worked for me.

Thanks for now @nziria  !

[2019-07-10 21:09] ProBackup-nl opened #14581 "$allProductsLink links to a 404 page"
**Describe the bug**
The "All products" link on the homepage return a 404 error message

**To Reproduce**
Steps to reproduce the behavior:
1. Have `0` 'Categories' and only `2` 'Products'
2. Have 'root' category renamed to a fancy name
3. Set root category 'Displayed=no'
4. The homepage "all products" hyperlink points to "/nl/2-fancy-name"
5. That returns a 404

**Screenshots**
![Categories • `t Z

[2019-07-10 22:19] banobazaar commented on #13001
Hi khouloudbelguith
I am facing similar issue.

I am going through an issue and tried too many solution available over the internet and the forum but nothing is working.
When ever order is created, email do not works. rather its gives 500 internal error. when I disable the email option, order works fine but auto email don't.
Test email works fine and received as well.
I am hosting @Go Daddy
domain

[2019-07-10 22:56] banobazaar opened #14582 "Email Notifications not working for customers and orders in Prestashop 1.7.5.2"
hi khouloudbelguith
I am going through an issue and tried too many solutions available over the internet and the forums but nothing is working. When ever order is created, email alters to customer and admin do not works. rather its gives 500 internal error. (http://banobazaar.com/en/module/ps_cashondelivery/validation) when I disable the email option, order works fine but email notification don't.

[2019-07-10 23:47] DerPapst commented on #13942
Hey, i'm currently working on a module too and i've decided it would be a good idea to go use the "new" translation system.
I have 2 questions that i'm not able to figure out by digging through the code.

1: How do i create the xlf files? Everything i've tried with `./bin/console translation:update` gave me error messages.
2: I've created a xlf file by hand and placed it in `./app/Resources/transl

[2019-07-11 04:45] dineshbadrukhiya opened #14583 "1-Click Upgrade v4.9.0"
**Describe the bug**
1-Click Upgrade v4.9.0 doen't showing latest release PrestaShop 1.7.6 stable to upgrade

**Screenshots**
![1](https://user-images.githubusercontent.com/40850057/61022721-bcebd380-a3c4-11e9-82dc-ada8fe125f2b.png)

**Additional information**
PrestaShop version: 1.7.5.2
PHP version: N/A

[2019-07-11 06:25] Wykett commented on #10841
Hi @khouloudbelguith, I know this item is pretty long time ago but since it's still an issue for me, with Prestasho v1.7.5.2, do you have any news?
I tried what @jgtrescazes did, but not working for me, even if I did that in src/Adapter/Presenter/Cart/CartPresenter.php
and not in
src/Adapter/Cart/CartPresenter.php as this one is empty

Thank you, stucked with this problem since 1 week, nothing I s

[2019-07-11 06:55] harm-smits opened #14584 "Better Product Features"
**Is your feature request related to a problem? Please describe.**
There are a number of problems with the current feature system as far as I can see.

1. Products with a great amount of features become very, very unclear. It is very hard to distinguish the features form one another as the list does not have any way of grouping features together. So you end up with this situation where you can not

[2019-07-11 07:27] matks commented on #14583
Hi @dineshbadrukhiya there's a small delay between the 1.7.6.0 release and its availability in the autoupgrade 😉

The delay is usually of 24 hours

[2019-07-11 07:33] PierreRambaud commented on #14577
Good idea :+1:

[2019-07-11 07:42] khouloudbelguith commented on #14580
Hi @centoasa,

Did you make an upgrade to PS1.7.6.0 using the 1-click upgrade v4.9.0? using the `Local archive` mode?
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-07-11 07:46] centoasa commented on #14580
I had to use the local archive because, even now, PS tells me that my version 1.7.5.2 is still the most up to date.
First of update I've manually delete var/cache/prod folder.

[2019-07-11 07:49] marionf commented on #14518
Hello @omar2886

If you have a product with quantity <= 0 but you allow order of out of stock product, we can say that your product is "in stock" because you sell it.
If we only take into account the quantity and not the behavior chosen when the product is out of stock, a product with a quantity <= 0 will not be displayed when your customers will check "in stock", while they can order it. That mea

[2019-07-11 08:02] ghost opened #14585 "Typo in official devdocs"
Hi.
There is no **updateFaces** event in the entire Prestashop 1.7...
Mentioned in https://devdocs.prestashop.com/1.7/themes/reference/javascript-events/

There is **updateFacets** event! ;)

**This can be misleading**

PS. Funny is that also BELVG mention about "updateFaces" in https://belvg.com/blog/comparing-javascript-in-prestashop-1-7-and-1-6.html

[2019-07-11 08:04] khouloudbelguith commented on #14581
Hi @ProBackup-nl,

Thanks for your report.
I have the same issue when disabling the "Home" category with PS1.7.5.2 & PS1.7.6.0.
But this is normal behavior, because in this case, `"/nl/2-fancy-name"` the route of the Home category `{id}-{rewrite}`, this category is disabled & not active.
So, this page will not be displayed.
If you enable this category, it will be well displayed.

Thanks to check &

[2019-07-11 08:06] PrestaShark commented on #14585
I will leave it in right place https://github.com/PrestaShop/docs

[2019-07-11 08:06] #14585 closed, assigned to nobody

[2019-07-11 08:08] khouloudbelguith commented on #14580
@centoasa, there's a small delay between the 1.7.6.0 release and its availability in the autoupgrade.
The delay is usually 24 hours.

So, you just make a back up to the last version PS1.7.5.2?
Thanks!

[2019-07-11 08:11] khouloudbelguith commented on #14582
Hi @banobazaar,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug

[2019-07-11 08:14] centoasa commented on #14580
@khouloudbelguith I'm using 1.7.5.2 restored from a previous backup.
have you seen the log? why the last error
`[2019-07-10 19:48:09] [INTERNAL] /var/www/vhosts/100asa.it/httpdocs/config/bootstrap.php line 87 - require_once(): Failed opening required '/var/www/vhosts/100asa.it/httpdocs/var/cache/prod/appParameters.php' (include_path='/var/www/vhosts/100asa.it/httpdocs/vendor/pear/pear_exception:/v

[2019-07-11 08:19] khouloudbelguith commented on #14580
@centoasa, you just have those errors previously: https://github.com/PrestaShop/PrestaShop/issues/13355#issuecomment-498961164
It is a Symfony cache.
You need to remove the cache manually & refresh the Back office page & the FO.

Thanks!

[2019-07-11 08:21] jolelievre commented on #14580
Hi @centoasa
Maybe you can try running this command `rm -fR ./var/cache/* && ./bin/console cache:clear --env=prod && ./bin/console cache:clear`
This will remove your cache and perform a warmup of the Symfony cach (including the appParameters.php file), if it doesn't work it might be because of a permission problem preventing you from writing (be careful your user and the server user have compatibl

[2019-07-11 08:24] Quetzacoalt91 commented on #14580
Also check the permission on the folder are correct. By calling some commande from a terminal, you may get the wrong user and PHP won't be able to read / modify on the cache.

[2019-07-11 08:27] khouloudbelguith commented on #10264
Hi @pantle,

This issue is fixed in PS1.7.6.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/12965 to fix the issue.

Thanks!

[2019-07-11 08:29] khouloudbelguith commented on #13001
@banobazaar, issue created here: #14582.

[2019-07-11 08:30] khouloudbelguith commented on #14582
@banobazaar, as reported here: https://github.com/PrestaShop/PrestaShop/issues/13001#issuecomment-510252412
This issue is occurred due to php-intl extension.
Could you please try to install it, it is required.
Thanks to check and feedback.

[2019-07-11 08:41] centoasa commented on #14580
@jolelievre my /var/cache/ directory have 777 and remigio/psacln

[2019-07-11 08:43] khouloudbelguith commented on #14584
Hi @harm-smits,

Thanks for your report.

About this issue, we are aware of this issue, it is added to our bug roadmap: https://github.com/PrestaShop/PrestaShop/issues/13751

Ping @marionf @colinegin what do you think of his suggestion? is that possible to add another Tab page for grouping features together?

Thanks!

[2019-07-11 08:45] khouloudbelguith commented on #14149
Hi @sunnyvsrainy,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-11 08:45] #14149 closed, assigned to nobody

[2019-07-11 08:46] khouloudbelguith commented on #14095
Hi @AminPersis,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-11 08:46] #14095 closed, assigned to nobody

[2019-07-11 08:47] khouloudbelguith commented on #14105
Hi @damiankalka,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-11 08:47] #14105 closed, assigned to nobody

[2019-07-11 08:48] khouloudbelguith commented on #14069
Hi @Lucascetii,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-11 08:48] #14069 closed, assigned to nobody

[2019-07-11 08:49] khouloudbelguith commented on #14136
Hi @photinia73,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-11 08:49] #14136 closed, assigned to nobody

[2019-07-11 08:50] khouloudbelguith commented on #13678
Hi @YourStylesas,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-11 08:50] #13678 closed, assigned to nobody

[2019-07-11 08:50] damiankalka commented on #14105
???

[2019-07-11 08:52] khouloudbelguith commented on #14105
@damiankalka, I 'm just waiting for your feedback about my last comment & there is no response for more than 30 days.

I attached a video record.
https://drive.google.com/file/d/1lU3FJj40srlRvq4wJoC-zHARcyJz9zvz/view
Same behavior with PS1.7.6.0beta1 & PS1.7.5.2
Thanks to check & feedback.

[2019-07-11 08:53] Archikawa commented on #14575
@khouloudbelguith sorry I didn't get your point yesterday. Now i did.

I will reset the module in the next hour, clear cache and come back to you with the results

[2019-07-11 08:57] khouloudbelguith commented on #14575
@Archikawa, yes you can uninstall the module by removing the folder & install it again or by clicking on the reset button.
![image](https://user-images.githubusercontent.com/16067358/61037103-549bf280-a3c2-11e9-9e6c-108f0c58a2a7.png)

Thanks!

[2019-07-11 08:58] tameroski commented on #13939
Hey @Spacetronik , your shops seams quite fast now, how did you manage to fix all that ?

[2019-07-11 09:00] khouloudbelguith commented on #10841
@jgtrescazes, this issue is fixed in the PS1.7.6.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13684 to fix the issue.

Thanks!

[2019-07-11 09:40] dineshbadrukhiya commented on #14583
Okay.  @matks
"PrestaShop 1.7.6 is also available through the 1-Click Upgrade module." This is mentioned in the [http://build.prestashop.com/news/prestashop-1-7-6-0-available/](url) blog, that's why I have just checked it.

[2019-07-11 09:53] omar2886 commented on #14518
When you have a catalog of +10k produtcs and only a few percentage is actually available in stock (because we are not Amazon) then this feature is important.
That's why there are different labels for this cases (In stock, no stock but can order & no stock can't order). These labels help define the type of availability of products in 3 possible scenarios. But when it comes to filtering, what really

[2019-07-11 09:58] matthieu-rolland opened #14588 "Improve search mechanism, allow mistakes in search word"
**Is your feature request related to a problem? Please describe.**

This feature request is related to this issue:
https://github.com/PrestaShop/PrestaShop/issues/12407

**There are two problems with the product search mechanism:**

Search words are stored in a table called 'search_word':

1/ Our word length in the search_word table is fixed, so looking for a product whose name is longer than its

[2019-07-11 09:59] colinegin commented on #14393
Hello @khouloudbelguith,
if i'm correct, this is a duplicate of this issue : https://github.com/PrestaShop/PrestaShop/issues/14054

There's a PR to fix this issue !

[2019-07-11 10:02] #14054 closed, assigned to marionf, MatShir

[2019-07-11 10:02] khouloudbelguith commented on #14393
Hi @colinegin,

Yes, It is a duplicate.
@sdwebdesign, your ticket is a duplicate of #14054
So, I close it.
Thanks!

[2019-07-11 10:02] #14393 closed, assigned to nobody

[2019-07-11 10:03] khouloudbelguith commented on #14393
Duplicate of #14054

[2019-07-11 10:04] marionf commented on #14518
Thank you for your feedback @omar2886
What do you think if we add a filter, so we will have:
- In stock: Product with quantity > 0
- Not available: Product with quantity <= 0 and deny order of out of stock product checked
- Out of stock but available for order: Product with quantity <= 0 and allow order of out of stock checked

[2019-07-11 10:05] breizoreol commented on #12407
I fixed this issue by increasing the maximum search word's length in database and in the code.
This is not ideal, so I created a feature request suggesting a more complete solution:

https://github.com/PrestaShop/PrestaShop/issues/14588

[2019-07-11 10:07] khouloudbelguith commented on #14588
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-11 10:11] omar2886 commented on #14518
I can't talk in the name of all merchants but at least I may say that a filter option to see products out of stock and that can't be purchased won't make any sense.
- One feature for sure would be that "In Stock" should stand for products with stock > 0
- The other filter can just be "out of stock" for the rest of the cases

[2019-07-11 10:11] LouiseBonnard opened #14589 "Wording seems to be off translation"
**Describe the bug**
Currently, there are a few wordings in the back office that are not available in the Crowdin translation files. It means that translations are missing in some parts. It seems that the "Browse" button is related to the Symfony migration. See screenshots.

**To Reproduce**
1. Go to the Categories, Import, Modules and Theme pages
2. Change the back office language for a non-Engli

[2019-07-11 10:13] beniwal commented on #9779
I am facing this issue and most time it comes when we have specific prices.

Any solution for this?

![prices](https://user-images.githubusercontent.com/437314/61042812-34296380-a3d5-11e9-841f-9dc8a6a800ae.PNG)

[2019-07-11 10:15] khouloudbelguith commented on #9779
Hi @beniwal,

Sorry not yet.
It is added to our bug roadmap.
Thanks for your understanding!

[2019-07-11 10:21] beniwal commented on #9779
If any idea or roadmap to fix this issue i can contribute to it with fixing because i have to fix it any how before i make my website live.

[2019-07-11 10:25] khouloudbelguith commented on #14589
Hi @LouiseBonnard,

I have the same issue with PS1.7.6.0.
In the PS1.7.5.2
1. The category page is OK => it is not migrated to Symfony.
2. The Module Manager page => same issue with PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/61043444-320fd680-a3ce-11e9-94f3-f8302443fe74.png)
3. The import page => NOKwith PS1.7.5.2
![image](https://user-images.githubusercontent.com/16067

[2019-07-11 10:29] Archikawa commented on #14575
Hi @khouloudbelguith may be we found something finally... reset fails
![O_o](https://user-images.githubusercontent.com/52740680/61043844-8e2b2880-a3d7-11e9-9095-b114fa8eddbd.PNG)

[2019-07-11 10:30] khouloudbelguith commented on #9779
@beniwal, You can make a pull request on GitHub with a code suggestion:
https://github.com/PrestaShop/PrestaShop/tree/develop
If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-07-11 10:38] khouloudbelguith commented on #14583
Hi @dineshbadrukhiya,

You can now upgrade to 1.7.6 with the module.
![image](https://user-images.githubusercontent.com/16067358/61044362-65ebfb80-a3d0-11e9-9217-73578be7422b.png)

Thanks!

[2019-07-11 10:38] #14583 closed, assigned to nobody

[2019-07-11 10:45] Archikawa commented on #14575
@khouloudbelguith it somehow did a re-init but there was a default template. After deleting the template, I created a new one. Then:
- cleared server cache
- Rebuilt price index
- Built attributtes and features
- Clear cache (module)

Problem is still there (sigh)

You can try for instance at: https://super.albarsana.com/71-higiene-bucal?order=product.price.asc

[2019-07-11 11:03] khouloudbelguith commented on #14575
@Archikawa, could you please try to navigate to your BO => Advanced Parameters => Performance => Enable the "Disable all overrides" option, Save, clear cache, check & feedback.

Thanks!

[2019-07-11 11:12] jolelievre commented on #14580
Using 777 rights is not a good practice, because it lets anyone read/write/access your folder
That said it should work now if you ran the command, do you still have the issue?

[2019-07-11 11:13] Archikawa commented on #14575
Hi @khouloudbelguith I have it like this by default

[2019-07-11 11:15] khouloudbelguith commented on #14575
@Archikawa, it is Enabled?
![image](https://user-images.githubusercontent.com/16067358/61046607-823e6700-a3d5-11e9-9d80-588c4fe827f2.png)

Thanks!

[2019-07-11 11:15] Archikawa commented on #14575
@khouloudbelguith yap. Shouldn't?

[2019-07-11 11:19] Archikawa commented on #14575
btw @khouloudbelguith sorting alphabetically works perfect.
(idk if this helps)

[2019-07-11 11:22] khouloudbelguith commented on #14575
@Archikawa, by enabling this option you are disabling all classes and controllers overrides.
@Archikawa, try to disable it, clear cache, check & feedback.

Thanks!

[2019-07-11 11:32] Archikawa commented on #14575
Done @khouloudbelguith Disable overrides set to "NO"
Cleared cache (performance tab)
Rebuilt, built, clear cache (module)
Same behaviour

Should I send you the code running on my server? Would this help anyhow?

[2019-07-11 11:34] khouloudbelguith commented on #14575
@Archikawa, could you please check if your current theme is overriding the ps_facetedsearch module?

Thanks!

[2019-07-11 11:40] Archikawa commented on #14575
@khouloudbelguith negative. Already checked with Theme developers (Z.One)

There is barely anything in the override folder of my installation. Only two elements at:
- classes/order (order.php)
- controllers/front (CmsController.php)

Rest of folders only the index.php file

[2019-07-11 11:43] Archikawa commented on #14575
@khouloudbelguith I extracted in a 7z file the module code running on my server.

It is 2MB. Shall I attach it here?

[2019-07-11 11:50] Bettelstab opened #14590 "Cache invalidation seems not to work"
I use memcached.
After a product is cached, any modification in the backoffice, like changing price or other features, is persisted in the database but does not invalidate the cache, so it's not reflected in neither frontoffice nor backoffice afterwards.

Steps to reproduce the behavior:
1. Setup memcached with Prestashop
2. Create a product
3. Look at it in frontoffice
4. Change properties in bac

[2019-07-11 12:20] khouloudbelguith commented on #14575
@Archikawa, you need to attach your ps_facetedsearch module here?
Yes, you can.

Thanks!

[2019-07-11 12:24] razvypp commented on #14561
I cannot find the prestashop cash on delivery module for prestashop 1.7.6

[2019-07-11 12:31] centoasa commented on #14580
@jolelievre run command, with -bash: ./bin/console: Permission denied

[2019-07-11 12:43] Archikawa commented on #14575
Ok. Thanks @khouloudbelguith !
Here you have the code runing in my server. May be you can see something in the files although the code is huge...

I have a prestashop installation provided by hosting provider. It was a 1.7.xx, (4.x???) then via 1-click upgrade, upgraded to 17.5.2

I got notifications in the BO of upgrades of ps_facetedsearch (at least twice). There was no info on the upgrades but

[2019-07-11 12:43] matks commented on #10412
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14249

[2019-07-11 12:43] #10412 closed, assigned to sarjon

[2019-07-11 12:56] marionf commented on #11630
@netraagal Could you please tell us if you have the need for new hooks ?

[2019-07-11 13:03] davidglezz opened #14591 "Error upgrading to 1.7.6 with php 5.6"
Upgrading from 1.6.0 to 1.7.6 (php 5.6):
**PHP Fatal error: Call to a member function get() on null in /var/www/html/install/upgrade/php/ps_1760_copy_data_from_currency_to_currency_lang.php on line 55**

Sorry, I did not have time to try it in a fresh prestashop.
I was able to update up to 1.7.5.2, but not up to 1.7.6.

Steps to reproduce the behavior:
1. From old PrestaShop version (1.6.0.x by ex

[2019-07-11 13:04] centoasa commented on #14590
Same issue #10420
Please read this document too https://devdocs.prestashop.com/1.7/scale/optimizations/#7-prestashop-settings (for me was helpful)

[2019-07-11 13:09] khouloudbelguith commented on #14590
Hi @Bettelstab,

In my case, I did not manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.1.
I attached a screen record
https://drive.google.com/file/d/1zKJ0scK5qw_lonh7Lq6lHsPmF8GD0h60/view
Thanks to check & feedback.

[2019-07-11 13:29] khouloudbelguith commented on #14575
@Archikawa, I tried with the module attached and it is OK on my shop.
I attached a screen record
https://drive.google.com/file/d/1JuQWYU_STpr2-KMJfjaWkWdnN71QJ9R0/view

Thanks!

[2019-07-11 13:41] #13633 closed, assigned to nobody

[2019-07-11 13:43] jolelievre commented on #14580
No need to change the permission if it is 644 you can call it with php instead: `php ./bin/console cache:clear`
It's actually safer to do it this as it should work on most environments (I'm just just to execute this script directly)

[2019-07-11 13:47] khouloudbelguith commented on #14591
Hi @davidglezz,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

Thanks!

[2019-07-11 13:47] banobazaar commented on #14582
thank you khouloudbelguith for your details response.

I have re0installed PS from scratches and started debugging every step ...here debug means which  configuration settings is effecting the process). I think its cash on delivery module which is not settled properly …. give me some time. I will let you know about same soon.

[2019-07-11 13:49] khouloudbelguith commented on #14582
@banobazaar, thanks!

Waiting for your feedback.

[2019-07-11 14:09] Bettelstab commented on #14590
@centoasa
My settings are as described. My database is not on the same machine, nor is my memcached server. What did solve your issue in the end?

@khouloudbelguith
Thanks for investigating! What makes me think this is because of memcached is that, after rebooting the cache server, everything is updated as intended.
I checked again and in fact, description, reference and summary are all updated, w

[2019-07-11 14:11] khouloudbelguith commented on #14590
@Bettelstab, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-11 14:15] Archikawa commented on #14575
Then @khouloudbelguith if there are no overrides, where can it be the issue? Theme?

[2019-07-11 14:20] centoasa commented on #14580
@khouloudbelguith do you suggest upgrade to 1.7.6.0 via oneclick 4.9 or local archive? what's the better for ensure better results?

[2019-07-11 14:23] khouloudbelguith commented on #14580
@centoasa, in my case, I tried to upgrade to PS1.7.6.0 using the local archive & the 1-click upgrade v4.9.0.
In the two cases, the upgrade is well done.
In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.
Thanks!

[2019-07-11 14:33] PeeyushAgrawalWebkul commented on #14429
Hello @khouloudbelguith ,

Yes, I'll provide a test module soon.

Thanks!

[2019-07-11 14:36] khouloudbelguith commented on #14429
@PeeyushAgrawalWebkul, thanks!

Waiting for your feedback.

[2019-07-11 14:37] azralth opened #14594 "Notice Brands listing page"
Hi,

I just installed à fresh prestashop 1.7.6, add à manufacturer and when i go on brands listing page (aka manufacturer) i have this notice
![manufacturer](https://user-images.githubusercontent.com/552339/61059901-17ebed80-a3fa-11e9-9fb9-50472818c8fe.png)

Thanks for your help

[2019-07-11 14:44] cboillat commented on #14537
@khouloudbelguith, I disabled the jxproductsslider and deleted the cache under var/cache (prod+dev). Style the same problem. Main price is correct but table discount is wrong.
Here is the new log :
[log2.log](https://github.com/PrestaShop/PrestaShop/files/3382568/log2.log)

[2019-07-11 14:51] khouloudbelguith commented on #14594
Hi @azralth,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.0 fresh install
I attached a screen record
https://drive.google.com/file/d/1w_740vu-Auzjsy8PMsmAo7v9rq81RZPl/view
Thanks to check & feedback.

[2019-07-11 14:52] khouloudbelguith commented on #14591
@davidglezz, could you please provide me the exact steps (step by step) that you followed to make the manual upgrade to PS1.7.6.0.

Thanks!

[2019-07-11 15:20] attractive opened #14595 "Price specification not found for currency: "EUR" - 1.7.6.0"
**If i click orders - error 500.  I set price - PL - polish zloty**

Price specification not found for currency: "EUR"

`PrestaShop\PrestaShop\Core\Localization\Exception\
LocalizationException
in src/Core/Localization/Locale.php (line 171)
    public function getPriceSpecification($currencyCode)    {        $currencyCode = (string) $currencyCode;        $priceSpec = $this->priceSpecifications->ge

[2019-07-11 15:26] netraagal commented on #11630
@marionf nah I don't think, I will probably continue to override the module, even if it means copy/paste whole functions.
The modifications done are too much to simply code it with a hook.
Thank anyway :)

[2019-07-11 15:26] #11630 closed, assigned to nobody

[2019-07-11 15:31] khouloudbelguith commented on #14595
Hi @attractive,

Thanks for your report.
What is the exact language/country did you used during the install PS1.7.6.0.
Did added a product to your order which has a specific price as an amount?
In my case, I did not manage to reproduce the issue with PS1.7.6.0
Thanks!

[2019-07-11 15:34] centoasa commented on #14580
:-(
step to reproduce my issue-->debian 9.9 with php 7.2.20-->
login into colsole as root;
run via console rm -fR ./var/cache/*
php ./bin/console cache:clear --env=prod
php ./bin/console cache:clear
cache cleared OK
upgrade via oneclick 4.9, at the end of upgrade, when was to upgrade database.....
[INTERNAL] /var/www/vhosts/100asa.it/httpdocs/config/bootstrap.php line 87 - require_once(): Failed o

[2019-07-11 15:36] attractive commented on #14595
Sorry, my mistake - if i clik orders in admin panel

[2019-07-11 15:36] khouloudbelguith commented on #14580
@centoasa, after having this error, did you tried to clear cache manually?

Thanks!

[2019-07-11 15:39] centoasa commented on #14580
@khouloudbelguith yes, sure, many times, but nothing. Issue remain.

[2019-07-11 15:39] samuel-pires commented on #10846
Hey @colinegin @marionf

Should we fix this one in the 1.7.7?
It's minor but pretty annoying.

[2019-07-11 15:39] khouloudbelguith commented on #14595
@attractive, yes, your issue in the Back.
I need the exact steps to reproduce the issue.
We need more details to understand how we can reproduce your issue:
- Language/country during the install
- Did you import any pack from the Localization Page
- The product added to your order has a specific price

Thanks!

[2019-07-11 15:43] banobazaar commented on #14582
khouloudbelguith my name is Naeem :)

Can  you share step by step guideline (if available) for cash on delivery setup.  I dont want risk all thechanges i have made from last three hours.

[2019-07-11 15:46] khouloudbelguith commented on #14582
@banobazaar, This module?
![image](https://user-images.githubusercontent.com/16067358/61065388-6e0d6080-a3fb-11e9-874a-cee61c5e0b4a.png)
Thanks!

[2019-07-11 15:49] banobazaar commented on #14582
yes this one …. do we have step by step guide lines available

[2019-07-11 15:49] khouloudbelguith commented on #14537
@cboillat, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-07-11 15:52] glictevo opened #14596 "Disable override button in performance page is not working"
**Describe the bug**
The button to disable overrides is not working properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a fresh PrestaShop
2. Add an override, for example for classes/CMS.php, override the __construct() function and add an echo 'hello'; followed by a die();
3. Delete the class_index in /var/cache/prod/class_index.php
4. Put yes on the disable overrides in the pa

[2019-07-11 15:55] khouloudbelguith commented on #14582
@banobazaar, you just need to click on the "install" button & it will be installed on your shop.
Thanks!

[2019-07-11 15:58] banobazaar commented on #14582
ok let me chk.
is there any shipment/carrier/else settings associated with COD?

[2019-07-11 16:02] banobazaar commented on #14582
wow its worked...………
I think your its was some installation issue previously....
new installations worked fine...………..

one is for sure.... khouloudbelguith you are pure genius ….
thank you so much

[2019-07-11 16:02] #14582 closed, assigned to nobody

[2019-07-11 16:05] matks commented on #13989
Add "Add/Edit controllers must catch global Exception in order to handle ModuleErrorException"

[2019-07-11 16:06] khouloudbelguith commented on #14582
@banobazaar, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-07-11 16:19] khouloudbelguith commented on #14596
Hi @glictevo,

Thanks for your report.
I have the issue with PS1.7.5.2 & PS1.7.6.0.
https://drive.google.com/file/d/12XsF7JDWlAsYbBL9ptPYW25T0Yh_WOsK/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Related to #9965
Thanks!

[2019-07-11 16:22] khouloudbelguith commented on #14580
Ping @Quetzacoalt91, @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-11 16:27] SharmPRO commented on #14336
Hi, i think that make editable url_rewrite will conflict with url '/' used by default somewhere

[2019-07-11 16:50] rflorent commented on #14575
Hi, same issue on two different installation 1.7.5.2 !
I even got some product that don't belong to the category or to a child of the category...
Some years after launching the 1.7, is it still on development ?

[2019-07-11 17:11] ldarake opened #14597 "Button spin up in product page not work"
**Describe the bug**
This bug make when I click the button spin up in product page, if product have a minimum quantity configured.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to next link 'https://ginetom.es/es/sillas-de-plastico/255-86731-silla-hosteleria-paris.html#/84-color_plastico-burdeos'
2. Click on quantity button spin up

**Screenshots**
![image](https://user-images.githubuse

[2019-07-11 17:20] Quetzacoalt91 commented on #14580
That's weird because when we check the concerned file, we see:

[code]

The file is supposed to be generated if it does not exist or if it is older than the parameters.php. This means the PHP cannot access the file, although it exists.

[2019-07-11 18:14] 01park commented on #13428
I just upgrade to the 1.7.6 version and now when I write a private note; for example before saving. After saving it adds strange characters to the text

![Screenshot 2019-07-11 at 19 13 16](https://user-images.githubusercontent.com/46492443/61074629-0b728f80-a410-11e9-8074-820151496806.png)

![Screenshot 2019-07-11 at 19 13 34](https://user-images.githubusercontent.com/46492443/61074638-10cfda00-a

[2019-07-11 18:56] Bettelstab commented on #14590
PHP error log seems unrelated:
[code]

[2019-07-11 18:56] cboillat commented on #14537
@khouloudbelguith access sent ;-)

[2019-07-11 20:03] eternoendless commented on #14570
@bm-services If I understand right:

1. You want to customize a module's translation
2. You want to distribute that translation with your theme

And the problem is that the core gives precedence to the module's translations over the theme's, so you you want this to be the other way around: make the theme's translation have precedence over the module's. Is that so?

It makes sense to me, because th

[2019-07-11 21:21] crisnelyn commented on #14595
I have the exact same problem.

I upgraged Prestashop from 1.7.5 to 1.7.6 and everything was smooth, no error during the upgrade

The front end is working, the back end is working but except for the order tab

Each time I click on "Orders" I have an error 500

I put debug mode and now I have:

CRITICAL23:19:00 | php | Uncaught Exception: Price specification not found for currency: ""
-- | -- | --

[2019-07-11 21:23] Flower7C3 commented on #14499
The problem was, that one context has more JS files loaded than other. I have just updated to PS 1.7.6.0 and problem gone.

[2019-07-11 21:25] Archikawa opened #14598 "Invoice number doesn't roll back when an order is cancelled"
**Describe the bug**
When a sopping cart is cancelled the invoice numer doesn't roll back. This causes legal issues and invoices must be created manually to bypass it

**To Reproduce**
Create an order -> Invoice Nr. 0001
Create a shopping cart. Go checkout. Do all stuff and before payment abort process. Empty cart. leave.
Create an order -> Invoice Nr 0003

**Screenshots**
If applicable, add scree

[2019-07-11 22:51] banobazaar opened #14599 "Whatsapp Chat @ product level"
Can any one help me how can I add chat box with prestashop for WhatsApp/facebook/Instagram

Second question is how can to get social login

[2019-07-11 22:59] banobazaar opened #14600 "Disappear fileds"
How can I reduce optional fields from customer and addresses forms.

[2019-07-12 04:01] dheerajwebkul opened #14602 "Theme & Logo page 'Explore more' card design have scroll on small screen"
**Describe the bug**
Please check the screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Design -> Theme & Catalog' page
2. You can see the scroll as in the screenshot for normal screen

**Screenshots**
![download (2)](https://user-images.githubusercontent.com/19220745/61101532-beca9b00-a487-11e9-802b-b0b0cfe77b2a.png)

This should have a proper responsive small card for a sma

[2019-07-12 05:25] TamasFelix opened #14603 "I want to activate on a Cache-Controller from PrestaShop 1.7.1"
I'm working on a site, it's about https://www.kiwigym.hu
I want to activate on a Cache Controller, but I do not know which files to exclude from the setting.
Does anybody know what files should not be cached?

Thanks

[2019-07-12 07:04] azralth commented on #14594
Hi,

Thanks for your report.

I did the exact same thing  with no more success. I forgot to tell that the notice only appear when the debug mode is enable.
Maybe the problem was my local environment and because of the 1.7.6 develop version i'm working on ...

[2019-07-12 07:05] matks commented on #14416
I like that. @marionf wdyt ? We can create a "todo" issue in ps_contactinfo module to add this option

[2019-07-12 07:09] bm-services commented on #14570
Hello @eternoendless,
Yes, we want to override modules translations in theme.
For me, change priority in classes/Translate.php can be made like this:
Replace this:
`$filesByPriority = array(
                // Translations in theme
                _PS_THEME_DIR_ . 'modules/' . $name . '/translations/' . $iso . '.php',
                _PS_THEME_DIR_ . 'modules/' . $name . '/' . $iso . '.php',

[2019-07-12 07:12] marionf opened #14604 "When writing a private note strange characters are adding in the text"
I just upgrade to the 1.7.6 version and now when I write a private note; for example before saving. After saving it adds strange characters to the text

![Screenshot 2019-07-11 at 19 13 16](https://user-images.githubusercontent.com/46492443/61074629-0b728f80-a410-11e9-8074-820151496806.png)

![Screenshot 2019-07-11 at 19 13 34](https://user-images.githubusercontent.com/46492443/61074638-10cfda00-a

[2019-07-12 07:12] marionf commented on #13428
Hello @01park I created a new issue with your comment as this one is closed

[2019-07-12 07:22] Archikawa commented on #14575
We're testing in paralel with Theme developer. Keep you posted @khouloudbelguith

[2019-07-12 07:24] rdy4ever commented on #14599
Hi.
You could use something like this: https://whatshelp.io/
And if you want it only on the product pages, add the code for the widget just in `templates/catalog/product.tpl`

[2019-07-12 07:26] kpodemski commented on #14599
Look for modules at addons.prestashop.com

[2019-07-12 07:31] Archikawa commented on #14598
Seen related issues to this topic, when an order is cancelled. I close the issue here and monitor other issues in this area

[2019-07-12 07:31] #14598 closed, assigned to nobody

[2019-07-12 07:35] rdy4ever commented on #14598
Hi @Archikawa
I think this is intended behaviour. Once an invoice number is issued, it should not get reused, even if you cancel the order. Legally, you just need to write "CANCELLED" over it (it would've been nice if Prestashop added this kind of watermark automatically for canceled invoices) and submit both invoices (for ex. INV-0001 and INV-0001 canceled) to your accountant for processing. If P

[2019-07-12 07:38] Archikawa commented on #14598
Yes @rdy4ever ! I spent some time last night reading and comparing the issues and I totally agree with you. That's why I closed the issue :)
I will try to configure as you say to issue the invoice at a certain status that reflects better the situation and doesn't interere with tests.
Thank you very much!

[2019-07-12 07:41] khouloudbelguith commented on #14092
Hi @Harincka,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-12 07:41] #14092 closed, assigned to nobody

[2019-07-12 07:41] khouloudbelguith commented on #14158
Hi @davidguestforce,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-12 07:41] #14158 closed, assigned to nobody

[2019-07-12 07:43] khouloudbelguith commented on #14604
@marionf, I have the same issue with PS1.7.6.0 fresh installation
![image](https://user-images.githubusercontent.com/16067358/61111287-24675900-a481-11e9-8e70-8cc91d97354c.png)

Thanks!

[2019-07-12 07:50] khouloudbelguith commented on #14597
Hi @ldarake,

I did not manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2 & the default classic theme.
https://drive.google.com/file/d/1ZpmYZE646_ItPgtUOioZWIVGk5Y1tmOG/view
Did you use a custom theme?
Have you tried to contact the theme author about this issue?

Thanks!

[2019-07-12 07:53] marionf commented on #14416
@matks @breizoreol
We are waiting for more informations from Bruno (as this issue was brought up by him) before the validation of the two PRs

[2019-07-12 07:57] marionf commented on #14595
Hello @attractive

Is it a fresh install of PS 1.7.6 or did you make an upgrade ?

[2019-07-12 07:59] khouloudbelguith commented on #14599
Hi @banobazaar,

You can find in our Market place Addons a lot of modules.
You can follow this link: https://addons.prestashop.com/en/search?search_query=chat&id_category=459&
Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (ht

[2019-07-12 07:59] #14599 closed, assigned to nobody

[2019-07-12 08:06] khouloudbelguith commented on #14600
Hi @banobazaar,

About the Options of the customer, you can disable "Ask for birth date" & "Enable partner offers" fields, by navigating to the BO => Shop Parameters => Customer Settings Page.
![image](https://user-images.githubusercontent.com/16067358/61112649-3eef0180-a484-11e9-83ea-aeb359f69e82.png)

About the Options of the Address, you need to navigate to your BO => International => Locations

[2019-07-12 08:06] #14600 closed, assigned to nobody

[2019-07-12 08:09] PierreRambaud commented on #14604
Done with https://github.com/PrestaShop/PrestaShop/pull/14605 Don't forget to clear your browser cache because of javascript files

[2019-07-12 08:14] ayladt opened #14606 "Webservice Api Prestashop 1.6 The field "date_upd" is dynamic. It is not possible to filter GET query with this field."
A customer of us has a prestashop 1.6 ecommerce, and doesn't want migrate to Prestashop 1.7 (I know that the support ends soon) by the moment  .
When using Prestashop Api, two errors occur:
The first error occurs filtering orders / api / orders /? Filter [current_state] = 2 " The field "current_state" is dynamic. It is not possible to filter GET query with this field."

    It's solved modifying W

[2019-07-12 08:21] rufusmaika opened #14607 "Unable to login in backoffice"
Hi.
I am trying to login in my backoffice and after inserting the credentials it disappears the credentials input window but does not go to the backoffice.

Error log in the server is showing the following:
++++++++++++++
2019-07-12 00:17:41.174864 [NOTICE] [19757] [96.44.172.43:59703:HTTP2-47] [STDERR] PHP Fatal error: Uncaught Symfony\Component\Debug\Exception\FatalThrowableError: Cannot use obj

[2019-07-12 08:27] khouloudbelguith commented on #14602
Hi @dheerajwebkul,

With a window size is more than 1149px * 928px, There is no scroll.
![image](https://user-images.githubusercontent.com/16067358/61113906-259b8480-a487-11e9-8aa8-f274835c96da.png)

What is the exact size of your window?

Thanks!

[2019-07-12 08:30] khouloudbelguith commented on #14607
Hi @rufusmaika,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically,

[2019-07-12 08:49] dheerajwebkul commented on #14602
Hello @khouloudbelguith ,

My window size is 1301x591
But its occurs sometimes because 'Live from PrestaShop Addon' block appears in the right side,
As you can see the above screenshot the left block has spaces that's why card have scroll.

It comes sometimes only.

![AwesomeScreenshot-download-2-2019-07-12-14-07-98](https://user-images.githubusercontent.com/19220745/61115414-06651d00-a4b0-11e9-97

[2019-07-12 08:50] khouloudbelguith commented on #14606
Hi @ayladt,

I did not manage to reproduce the issue with PS1.6.1.24 & PS1.7.6.0.
I used those filters:
1. http://shop.com/api/orders/?display=full&filter[current_state]=6
2. http://shop.com/api/products/?display=full&filter[date_upd]=[2019-07-10,2019-07-11]&date=1

Thanks to check & feedback.

[2019-07-12 08:57] khouloudbelguith commented on #14602
@dheerajwebkul, I did not manage to reproduce this issue (white space).
![image](https://user-images.githubusercontent.com/16067358/61115780-1ae2ee80-a48b-11e9-893f-1be557ac5d18.png)

But it seems to be similar to this issue: #14301 which is fixed with this PR: #14401.
Did you use the last version PS1.7.6.0?

Thanks!

[2019-07-12 08:59] Varindien commented on #12757
Hi @maviteknoloji ,

i see that issue is closed  but just to notify this is a server issue configuration. Ask your provider to modify path of "session.save_path" in WHM. Prestashop has no right here for security reason.

most of time it will be modified with "/tmp" folder

regards

[2019-07-12 09:02] ihrewebagentur commented on #14580
I had the same error in the logs after new installation of 1.7.6.
I could solve the problem with the following steps:
- delete symfony cache in console
- set rights 777 to var/cache

Then Backoffice and Frontend worked immediately.

[2019-07-12 09:06] khouloudbelguith commented on #14595
@crisnelyn, in my case, I did not manage to reproduce the issue after upgrade from PS1.7.5.2 to PS1.7.6.0 using the 1-click upgrade v4.9.0.

Thanks!

[2019-07-12 09:07] idnovate opened #14608 "Different data in 'ps_currency' table when upgrading to PS 1.7.6"
**Describe the bug**
Different data in 'ps_currency' table when upgrading to PS 1.7.6.
- different `precision`
- `name` is not set
- `numeric_iso_code` is not set

**To Reproduce**
Steps to reproduce the behavior:
Scenary 1
1. Install PS 1.7.6
2. Check table `ps_currency`

![image](https://user-images.githubusercontent.com/15104724/61116470-ccd2e880-a494-11e9-9eb9-f0fa3621f2a6.png)

Scenary 2
1. I

[2019-07-12 09:11] khouloudbelguith commented on #14575
@rflorent, the last version stable of PrestaShop is release, it is PS1.7.6.0.
@Archikawa, thanks a lot.
Waiting for your feedback.

[2019-07-12 09:13] khouloudbelguith commented on #14594
@azralth, thanks for your feedback.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-07-12 09:13] #14594 closed, assigned to nobody

[2019-07-12 09:19] khouloudbelguith commented on #14499
@Flower7C3, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-12 09:19] #14499 closed, assigned to nobody

[2019-07-12 09:27] nsorosac commented on #11152
Hi @marionf

This bug is not fixed, we can reproduce on 1.7.5.x and 1.7.6.x

You can easily reproduce it on the official demo backoffice :-(
https://demo.prestashop.com/

[2019-07-12 09:29] 01park commented on #14604
Thank you, this worked

[2019-07-12 09:31] khouloudbelguith commented on #14608
Hi @idnovate,

Thanks for your report.
I have the same issue with the `ps_currency` table.
Fresh installation PS1.7.6.0
1. The name is empty
![image](https://user-images.githubusercontent.com/16067358/61118032-c726d400-a48f-11e9-8c60-02afb76114a6.png)

2. After upgrade from PS1.7.5.2 to PS1.7.6.0
![image](https://user-images.githubusercontent.com/16067358/61118110-f5a4af00-a48f-11e9-922e-998324a71

[2019-07-12 09:34] khouloudbelguith commented on #14595
ping @marionf, I think, this issue could be related to this: https://github.com/PrestaShop/PrestaShop/issues/14608
What do you think?

[2019-07-12 09:37] matks opened #14610 "[SF Migration] Apply new migration improvements"
Quite often, after migrating several pages to Symfony we find new and better ways to handle pages migration matters.

For example first listing pages were using `PrestaShopBundle:Admin\Common:searchGrid` but recent listing pages do not use anymore.

We need to perform some update processings to make sure all pages, no matter when they were migrated, use and rely on the same mechanisms and helpers.

[2019-07-12 09:42] Hlavtox opened #14611 "Problem with clearing cache in BO"
I think cache clearing is not working as it should. When I click on "Clear cache" in BO > Performance, it gives me a white page.

After reloading a page, the page shows up saying, that cache has been cleared, but I think it's not cleared completely.

**Additional information**
PrestaShop version: 1.7.6 final
PHP version: 7.1

[2019-07-12 09:47] khouloudbelguith commented on #14611
Hi @Hlavtox,

Some server disables `putenv` because of security reasons.
Your issue is not a PrestaShop's core bug but most likely a server configuration problem.
We have updated the Symfony version, this new version uses the `Putenv` function
You should contact your host provider, they are the only ones to help you with it.

Thanks to check with your host and feedback.

[2019-07-12 09:49] Hlavtox commented on #14611
[12-Jul-2019 11:48:51 Europe/Prague] PHP Fatal error:  Uncaught Error: Class 'Tools' not found in /srv/www/eshop-teka.cz/public/new/classes/db/Db.php:794
Stack trace:
#0 /srv/www/eshop-teka.cz/public/new/config/alias.php(47): DbCore->escape('configuration', false)
#1 /srv/www/eshop-teka.cz/public/new/config/alias.php(52): pSQL('configuration')
#2 /srv/www/eshop-teka.cz/public/new/classes/Configura

[2019-07-12 09:55] khouloudbelguith commented on #14611
@Hlavtox, seems to be similar to this issue: #11105, is it?

Thanks!

[2019-07-12 10:00] marionf commented on #11152
Hello @nsorosac

I can't reproduce this issue as you can see in the screerecord below:

https://drive.google.com/file/d/1_hmxGAJnape7dh6ljUKSv94fuW7x04T8/view?usp=sharing

[2019-07-12 10:03] khouloudbelguith commented on #11152
@nsorosac, @marionf, in my case, it is OK also
https://drive.google.com/file/d/1-f-3Mr9lnOr4CL7Bh6devuq_jNE-hSTL/view
Thanks!

[2019-07-12 10:07] khouloudbelguith commented on #14590
@Bettelstab, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Could you please try to run those command lines to remove the cache also:

[code]

Thanks to check & feedback

[2019-07-12 10:08] dheerajwebkul commented on #14602
@khouloudbelguith

Yes, I have tested it on PS1.7.6.0.

Currently, I can not also reproduce also sometimes it comes only.

[2019-07-12 10:12] marionf commented on #10540
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)

[2019-07-12 10:13] marionf commented on #10550
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)

[2019-07-12 10:14] marionf commented on #10546
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)

[2019-07-12 10:14] khouloudbelguith commented on #14602
@dheerajwebkul, I tried with the http://demo.prestashop.com/#/en/back & it is OK.
Thanks!

[2019-07-12 10:15] Archikawa commented on #14575
Hi @khouloudbelguith unfortunately nothing found :( Theme doesn't interfere with product listing. Developer points I am using multistore and this could important informatioon for you.
Another thing that didn't mention is that some products belong to more than one category (having one of these as main category, obviously). Is this relevant?

[2019-07-12 10:17] frankymartinES commented on #14281
Hi @khouloudbelguith finally I have bak to old version of the module and everithing is working fine again. It means that the problem come from the update of the module. Thanks for your help and time!!!

[2019-07-12 10:33] khouloudbelguith commented on #14575
@Archikawa, thanks for your feedback.
I tried with the Multishop context, but it is OK.
Yes in my case, I have some products have more than one associated category and no issue reproduced.

https://drive.google.com/file/d/1acyNk9Kmj867ni_dczIvYPgl9X47TS0y/view
Thanks!

[2019-07-12 10:38] khouloudbelguith commented on #14603
Hi @TamasFelix,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-07-12 10:38] #14603 closed, assigned to nobody

[2019-07-12 10:42] crisnelyn commented on #14595
@khouloudbelguith
![error1](https://user-images.githubusercontent.com/52802415/61122586-de26ef80-a4aa-11e9-9302-280b45675b74.jpg)
![error3](https://user-images.githubusercontent.com/52802415/61122587-de26ef80-a4aa-11e9-9890-2bf0fa7376d3.jpg)
![error4](https://user-images.githubusercontent.com/52802415/61122589-debf8600-a4aa-11e9-888b-b6b44de4a1fe.jpg)

[2019-07-12 10:45] davidglezz commented on #14591
Steps to reproduce
[code]

PHP Fatal error:  Call to a member function get() on null in /var/www/html/install/upgrade/php/ps_1760_copy_data_from_currency_to_currency_lang.php on line 55

[2019-07-12 10:49] khouloudbelguith commented on #14595
@crisnelyn, could you please navigate to your BO => International => Localization page => Import the "France" pack, clear cache, check & feedback.

Thanks!

[2019-07-12 10:53] khouloudbelguith commented on #14561
@razvypp, you need to navigate to your BO => Modules => Module Catalog => search for "COD" & install it.
https://drive.google.com/file/d/1TEhkw7XfVREqVTwOiGdCUt74o2TZxWyG/view

Thanks!

[2019-07-12 11:06] rufusmaika commented on #14607
Hi.

I have already did it and nothing looks outside of the normal or recommended.
Please check it yourself.

https://www.poleposition-pt.com/phppsinfo.php

[2019-07-12 11:09] Quetzacoalt91 commented on #14591
I removed the Autoupgrade label the module is not concerned by this issue. We talk about a manual upgrade.

[2019-07-12 11:09] khouloudbelguith commented on #14607
@rufusmaika, yes, it seems OK.
Could you please try to restart your server, clear cache, check & feedback.

Thanks!

[2019-07-12 11:10] crisnelyn commented on #14595
@khouloudbelguith thank you for trying to help me, I did what you asked and I cleared the cache but I am having the same problem

Screenshots with without debug mode:

![cleared cache](https://user-images.githubusercontent.com/52802415/61124080-a621ab80-a4ae-11e9-9fac-9eb34304471a.jpg)
![error](https://user-images.githubusercontent.com/52802415/61124082-a6ba4200-a4ae-11e9-9073-a55f4789c21b.jpg)
![

[2019-07-12 11:11] 01park opened #14614 "1.7.6 dashboard many decimals in amounts"
After updating to 1.7.6 from 1.7.5.2 I discovered that the amount of additionals decimals in the dashboard and stats are in some cases more than 2.

<img width="186" alt="Screenshot 2019-07-12 at 12 08 21" src="https://user-images.githubusercontent.com/46492443/61124056-d3199280-a49d-11e9-8efd-ecde75c6b392.png">

<img width="125" alt="Screenshot 2019-07-12 at 11 53 44" src="https://user-images.git

[2019-07-12 11:16] JustasBelevicius opened #14615 "Rounding not applied to product.regular_price variable"
**Describe the bug**
When discount is applied to a price with a number far behind the decimal range, the shop front shows the regular price as the un-rounded number

**To Reproduce**
Steps to reproduce the behavior:
1. Create a product with a price with taxes set to 59.000001
2. Add a 6 eur discount
3. See the product.regular_price variable in the product page. (I assume this should be used to sho

[2019-07-12 11:18] nsorosac commented on #11152
Not for me :-(

https://drive.google.com/file/d/1oT9FHMjdQOwaRowOsH3lZteIAvQ3BMJC/view

[2019-07-12 11:22] khouloudbelguith commented on #14595
@attractive, could you please check the table `ps_currency` & feedback.
![image](https://user-images.githubusercontent.com/16067358/61124756-b2ead300-a49f-11e9-9486-0811a5b5397d.png)

Thanks!

[2019-07-12 11:24] MathiasReker commented on #14607
The problem is that you use PHP 7.3.7 :) Downgrade to 7.2.x

[2019-07-12 11:25] nsorosac commented on #11152
I have new information about this:

- Bug with Google Chrome 75.0.3770.90 (with or without extensions)
- No bug with Firefox (without extensions)

[2019-07-12 11:26] MathiasReker commented on #14607
![php](https://user-images.githubusercontent.com/26626066/61124944-ad45bb00-a4a8-11e9-9108-a5b261cd9189.png)

[2019-07-12 11:28] 01park commented on #14595
Im having the same issue with multistore - upgrade from 1.7.5.2 to 1.7.6

I can not switch to one store - error 500

<img width="1050" alt="Screenshot 2019-07-12 at 12 27 10" src="https://user-images.githubusercontent.com/46492443/61125013-7a97c480-a4a0-11e9-99f9-cb02613392db.png">

[2019-07-12 11:29] khouloudbelguith commented on #14607
@MathiasReker, thanks for your feedback.
@rufusmaika, yes, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible wi

[2019-07-12 11:30] khouloudbelguith commented on #14595
@01park, could you please check you also the ps_currency table.

Thanks!

[2019-07-12 11:36] 01park commented on #14595
Hi khouloudbelguith,

<img width="1016" alt="Screenshot 2019-07-12 at 12 35 54" src="https://user-images.githubusercontent.com/46492443/61125409-a6677a00-a4a1-11e9-96fe-3683c046f778.png">

I don't see anything strange with this

[2019-07-12 11:38] khouloudbelguith commented on #14595
@01park, I think the issue is related to https://github.com/PrestaShop/PrestaShop/issues/14608

THanks!

[2019-07-12 11:47] rufusmaika commented on #14607
Hi @khouloudbelguith
I have restarted the server, cleared the cache the cache manually on the prestashop and on my browser and tried a different browser. Issue remains.

@MathiasReker I have another shop and it is running 7.3.7 and runs goods. I have changed this shop to 7.2.20  but issue remains.

[2019-07-12 11:53] 01park commented on #14614
I fixed this problem by changing in PS_currency the decimals to 2, instead of 6. Now it showing correct in dashboard.

<img width="435" alt="Screenshot 2019-07-12 at 12 52 23" src="https://user-images.githubusercontent.com/46492443/61126283-f6dfd700-a4a3-11e9-9abe-fc4054987fb9.png">

[2019-07-12 11:54] khouloudbelguith commented on #14614
Hi @01park,

Thanks for your report.
I did not manage to reproduce the issue with fresh installation PS1.7.6.0 & PS1.7.6.0 after upgrade from PS1.7.5.2
![image](https://user-images.githubusercontent.com/16067358/61125442-bf702b00-a4a1-11e9-8f71-a886e33b8729.png)

Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-12 11:54] #14614 closed, assigned to nobody

[2019-07-12 11:55] khouloudbelguith commented on #14607
@rufusmaika, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-12 12:08] khouloudbelguith commented on #14615
Hi @JustasBelevicius,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1mIAD3YHTgpG3qrvXI7tN2uPSmhdzqwrP/view

Thanks to check & feedback

[2019-07-12 12:15] khouloudbelguith opened #14616 "It is impossible to change position of products into a category in the catalog > product page (only the first time is OK)"
**Describe the bug**
It is impossible to change the position of products into the catalog => product page.
After Drag & drop => Click on "Save & Refresh" button => The green alert "Products successfully sorted." is not displayed.
The new positions of products are not saved.
Only the first time is ok, but after some tests, this action is not possible
Checked with FireFox & Google Chrome.

Issue rep

[2019-07-12 12:16] Hlavtox commented on #13002
Guys this needs to be solved, I would say it's a major business mistake for everybody.

As soon as you set SOME KIND of group restrictions and the user belongs to that group. The voucher gets shown to him. If you don't set group restrictions = enable it for everybody, he doesn't see it. Group restrictions shouldn't do anything with the voucher visibility.

@marionf Good point, should be like this.

[2019-07-12 12:16] khouloudbelguith commented on #11152
@nsorosac, thanks for your feedback.
Issue created: https://github.com/PrestaShop/PrestaShop/issues/14616

Thanks!

[2019-07-12 12:25] rufusmaika commented on #14607
Hi @khouloudbelguith

The error lof that i posted on post #1 is the server log.
I have enabled the debug mode but does not show any error.

[login.mov.zip](https://github.com/PrestaShop/PrestaShop/files/3386388/login.mov.zip)

[2019-07-12 12:27] Bettelstab commented on #14590
@khouloudbelguith Sure :) Clearing cache folders manually didn't change the behavior. Executing the other commands returns the following output:

[code]
Not sure if that worked as intended. No visible effect to me at least. I also tried to clear Opcache without success.

Strangely, when I first tried today with my test article (after rebooting Memcached yesterday night for another reason) it just

[2019-07-12 12:28] 01park commented on #14595
Hi,

For me I have access to the store again, that gave the error 500. What I did was activate/deactivate EUR for this specific store and saved. Problem solved

[2019-07-12 12:31] centoasa commented on #14580
My Prestashop 1.7.5.2 say still my version is update!
https://nimb.ws/EpoQZt

[2019-07-12 12:35] lutek commented on #10387
[code]
module: ps_facetedsearch (v3.0.5 -> v3.1.0)
prestashop: 1.7.5.2

[2019-07-12 12:35] nsorosac commented on #11152
Thank you @khouloudbelguith !

[2019-07-12 12:36] yoss55 opened #14617 "1054 Unknown column 't0.filter id' in 'field list when i upgrade 1.7.5.2 TO 1.7.6"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2019-07-12 12:37] yoss55 commented on #14617
HI,
WHEN I UPGRADE V1.7.5.2 TO 1.7.6 I HAVE THIS ERROR :1054 Unknown column 't0.filter id' in 'field list.
AND I CAN'T ACCESS TO THE PRODUCT AND EMPLOYEE.
Please help me

[2019-07-12 12:44] matks commented on #10552
@zuk3975 1st step done, now come the others 😄
Also we need to go through the checklist to be sure we forgot nothing

[2019-07-12 12:48] khouloudbelguith commented on #14617
Hi @yoss55,
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2019-07-12 12:54] khouloudbelguith commented on #14595
@01park, thanks!
@attractive, can you please try the solution proposed by @01park & check if the issue is solved?

Thanks!

[2019-07-12 12:59] khouloudbelguith commented on #14590
@Bettelstab, You need to have a module called pdo_mysql. You need to check if the extension is enabled and loaded via `php -m` and `phpinfo()`

Thanks!

[2019-07-12 12:59] JustasBelevicius commented on #14615
It seems to be a problem with my setup. I will try to check the integrity of my files, maybe some of them are overridden.

Thanks for help!

[2019-07-12 13:02] JustasBelevicius commented on #14615
Could it be that my core files are modified? I am getting this in 1-Click upgrade module:
[code]

If that's the case, should I reinstall the CMS or can I just grab these files from one of the branches (which one?) and replace them?

[2019-07-12 13:04] Bettelstab commented on #14590
Sorry, it's installed of course. I just had to use `php7`.
[code]
But no effect. :(

[2019-07-12 13:07] crisnelyn commented on #14595
![ps_currency](https://user-images.githubusercontent.com/52802415/61130094-8f835080-a4be-11e9-9254-d4d1a23ee5bd.jpg)

[2019-07-12 13:08] khouloudbelguith commented on #14615
@JustasBelevicius, you can check the Override folder in a fresh install PS1.7.6.0.
https://github.com/PrestaShop/PrestaShop/tree/1.7.6.0/override

Thanks!

[2019-07-12 13:10] khouloudbelguith commented on #14595
@crisnelyn, could you please try to Disable/Enable the Euro currency & feedback.

[2019-07-12 13:13] 01park commented on #14595
And change precision to 2

[2019-07-12 13:21] crisnelyn commented on #14595
@khouloudbelguith I cannot Disable/Enable the EUR currency because it is the default currency... What I can do it to add a new currency, make it the default one but then I need to manually edit the price of 6000 products... so it is not feasible

My problem is solved thanks to @01park - I didnt change precision to 2 but I got inspired

I added a new currency "USD" and I disabled it, now there is n

[2019-07-12 13:23] yoss55 commented on #14617
hi,
this is the log :
[2019-07-12 08:09:31] Migrating old setting file...
[2019-07-12 08:09:31] parameters file already exists!
[2019-07-12 08:09:31] Finished...
[2019-07-12 10:09:31] <div class="upgradeDbOk">[OK] SQL 1.7.6.0 SET SESSION sql_mode = ''</div>
[2019-07-12 10:09:31] <div class="upgradeDbOk">[OK] SQL 1.7.6.0 SET NAMES 'utf8'</div>
[2019-07-12 10:09:31] <div class="upgradeDbOk">[OK] SQL

[2019-07-12 13:26] TristanLDD commented on #14496
Hi @MockoB , thank you for your suggestion which I totally agree with. Every numeric input field should open the numeric keyboard on mobile.
@PrestaShop/prestashop-core-developers I think this is pretty easy to implement right?

[2019-07-12 13:29] khouloudbelguith commented on #14617
@yoss55, what is the exact version PHP did you use?

[2019-07-12 13:30] khouloudbelguith commented on #14595
@attractive, any news?

Thanks!

[2019-07-12 13:31] yoss55 commented on #14617
PHP 7.0.33

[2019-07-12 13:33] 01park commented on #14595
crisnelyn , the reason I change the persion to 2 is in my dashboard and stats some numbers also had 6 decimals, by editing this to 2 this was solved.

[2019-07-12 13:36] Quetzacoalt91 commented on #14617
Hello, I had this issue with the upgrade module, as reported in https://github.com/PrestaShop/autoupgrade/issues/298

Did you upgrade the module before starting an upgrade? The last version is v4.9.0

[2019-07-12 13:37] yoss55 commented on #14617
yes i upgrade to V4.9.0

[2019-07-12 13:40] khouloudbelguith commented on #14607
@rufusmaika, did you installed any modules before this issue occurs?

Thanks!

[2019-07-12 13:42] khouloudbelguith commented on #14590
Hi @Bettelstab,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-07-12 13:42] #14590 closed, assigned to nobody

[2019-07-12 13:43] marionf commented on #14518
We can also change the wording and replace "in stock" by "available"

[2019-07-12 13:48] yoss55 commented on #14617
this the message
An exception occurred while executing 'SELECT t0.id AS id_1, t0.employee AS employee_2, t0.shop AS shop_3, t0.controller AS controller_4, t0.action AS action_5, t0.filter AS filter_6, t0.filter_id AS filter_id_7 FROM ps_admin_filter t0 WHERE t0.employee = ? AND t0.shop = ? AND t0.controller = ? AND t0.action = ? LIMIT 1' with params [1, 1, "employee", "index"]:

SQLSTATE[42S22]: C

[2019-07-12 13:55] rufusmaika commented on #14607
@khouloudbelguith , no. Nothing.
I checked some orders by 12:39pm and managed to login.
This morning i was trying to login and this issue was happening.
No server updates were done or any modules installed.
This is strange. Nothing was done and this happens.

[2019-07-12 14:00] centoasa commented on #14580
@jolelievre login into console as root, after your suggested commands, folder prod have root/root user/group permission
Is this right or wrong?

[2019-07-12 14:05] khouloudbelguith commented on #14607
@rufusmaika, could you please change the Default page of your employee manually.
You need to edit your database, table `ps_employee`, change the value of the `default_tab` to 4.

PS: before any modification, thanks to make a backup of your database.
Thanks!

[2019-07-12 14:10] jolelievre commented on #14580
You shouldn't use this command as root (actually you should *never* login as root unless you need to install things on your server and know exactly what you're doing) Because it will generate your cache files with root ownership and then your server is unable to access or modify them

I don't know about your server settings so I can't be sure but you should use either a user which has the same gro

[2019-07-12 14:11] omar2886 commented on #14518
I'm not sure if I follow you but, the thing here is not a matter of wording rather than proper filtering. Main thing is that it should be an option to filter available products with positive stock ("In stock" products).
Then if you think that other filtering won't be necessary I can't tell, in my case it would be enough to just have a filter for my customers to be able to only see the available pr

[2019-07-12 14:22] centoasa commented on #14580
When delete /var/cache/prod folder manually, it recreate with user/group of the server (not root).
So I've do it.
Thanks @jolelievre

[2019-07-12 14:25] cartomatica73 commented on #13939
follow

[2019-07-12 14:28] Allthejam commented on #14566
Hey,

1. Hosted - on One.com
2. Server setup - PHP version 7.3
Web server
nginx/1.14.0
Database client version: libmysql - mysqlnd 5.0.12-dev - 20150407 - $Id: 3591daad22de08524295e1bd073aceeff11e6579 $
PHP extension: mysqliDocumentation curlDocumentation mbstringDocumentation
PHP version: 7.2.17-0ubuntu0.18.04.1

Database server
Server: blu-pharma.com.mysql (blu-pharma.com.mysql.service.one.com v

[2019-07-12 14:31] Quetzacoalt91 commented on #14591
As we reproduce the issue, we could find easily find the root cause. Here is a fix for that: https://github.com/PrestaShop/PrestaShop/pull/14620

[2019-07-12 14:32] rufusmaika commented on #14607
@khouloudbelguith
I have restored the files from yesterday backup and managed to put it to work.
Although this is very strange stuff to happen.
Please close the ticket.

[2019-07-12 14:34] ldarake commented on #14597
Thanks @khouloudbelguith,

I use default theme with a child to make the eshop.

You can reproduce the issue in this link 'https://ginetom.es/es/sillas-de-plastico/255-86731-silla-hosteleria-paris.html#/84-color_plastico-burdeos'

Best regards

[2019-07-12 14:38] Bettelstab commented on #14590
Fine. I'll try to reproduce it with a fresh local installation next to see what happens. Thanks for investigating.

[2019-07-12 14:40] khouloudbelguith commented on #14607
@rufusmaika, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-12 14:40] #14607 closed, assigned to nobody

[2019-07-12 14:45] cartomatica73 opened #14621 "Checkout/logout problem, redirect to homepage PS 1.7.4.3"
**Describe the bug**
When you logout in the FrontOffice as a customer, by logging in again and placing a product in the cart, when you checkout, you are redirected to the homepage, I also tried a new local install of 1.7.5.1.

I tried to disable the cache and select always recompile the template, disable the geolocation and disable checking the IP address of the cookie.

This is a problem for cust

[2019-07-12 14:45] khouloudbelguith commented on #14566
@Allthejam, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrade your version PHP

[2019-07-12 14:46] marionf commented on #14518
@omar2886

There have been different returns on this subject before: https://github.com/PrestaShop/PrestaShop/issues/13139
This is why we decided to include in the "in stock" filter not only products that have a quantity > 0 but also products qith a quantity <= 0 but that are available for orders.

The only way to satisfy everyone would be to add an option in the module to choose if "in stock" tak

[2019-07-12 14:47] khouloudbelguith commented on #14621
Hi @cartomatica73,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - A clear description of the exact issue
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the

[2019-07-12 14:48] khouloudbelguith commented on #14597
@ldarake, have you the same issue with the Classic theme?

Thanks!

[2019-07-12 14:52] cartomatica73 commented on #14621
forgive me, he had not saved the changes

[2019-07-12 14:53] khouloudbelguith commented on #14621
@cartomatica73, it is OK.
Waiting for the information.

Thanks!

[2019-07-12 14:54] Allthejam commented on #14566
Not good news, but changing it has not solved the problem in fact 1 of the sites I have is running PHP 7.1 and always has been so now I'm really stuck because the site I have that's all working correctly has been running on PHP 7.3,

The site that I was testing with you, I have modified it through 7.1, 7.2, 7.3 and a beta 7.4 and nothing there made a difference so I ruled out the PHP as an issue.

[2019-07-12 14:55] sarahdib commented on #10383
@jf-viguier @eternoendless @PierreRambaud

With @marionf we found some error

https://drive.google.com/file/d/1Os0sltAg8CGIatdmsvfO9WNuDkHtCX4n/view

 1- When you have two shop (shop A and shop B)
When we are In shop A context
-> add new carrier
-> set up the information in first tab and click on next
-> Multistore Tab : all shops (all chackbox) are selected instead of shop A only(see the behavior

[2019-07-12 15:01] breizoreol commented on #14146
there's this linter that seems nice: https://github.com/asm89/twig-lint

Unfortunately it shows some files as broken in our twig views when it shouldn't, some legit twig features are not recognized:
https://github.com/asm89/twig-lint/issues/33

[2019-07-12 15:02] khouloudbelguith commented on #14566
@Allthejam, did you use the PHP's mail() function or SMTP parameters?

Thanks!

[2019-07-12 15:04] Allthejam commented on #14566
PHP's mail() function

Wasn't sure about the settings for SMTP

[2019-07-12 15:07] khouloudbelguith commented on #14566
@Allthejam, did you checked your spam, it could be received in the spam.
Thanks!

[2019-07-12 15:08] omar2886 commented on #14518
@marionf
Then I don't see where is the problem, both filters can be implemented together to satisfy all demands, despite I don't see the point of having those 2 filters when there are usually just those 2 possibilities to be filtered. I try to explain it from my point of view.
In most of the cases a customer may only want to filter to see the immediate available stock, "In stock" products (qty > 0

[2019-07-12 15:10] Allthejam commented on #14566
That was the 1st this we checked, its an error in PS remember the image I sent showing the error message, it's just not sending any messages to clients or today it's not even sending me the test email anymore
![2019-07-12_171022](https://user-images.githubusercontent.com/52738920/61138527-f9542800-a4c7-11e9-892e-1b095816dc67.jpg)

[2019-07-12 15:15] khouloudbelguith commented on #14566
@Allthejam, this is a server configuration server, you need to check with your host.
This option is recommended by default. In the event that this does not work, then use the SMPT option.

Thanks!

[2019-07-12 15:23] cartomatica73 commented on #14621
Describe the bug
When you logout in the FrontOffice as a customer, by logging in again and placing a product in the cart, when you checkout, you are redirected to the homepage, I also tried a new local install of 1.7.5.1.

I tried to disable the cache and select always recompile the template, disable the geolocation and disable checking the IP address of the cookie.

This is a problem for customer

[2019-07-12 15:24] jcpaybox commented on #14608
Hi, reproduced the bug when passing from 1.7.5.1 to 1.7.6.0.
This is breaking the Paybox/e-transactions payment module which uses the numeric iso code.

[2019-07-12 15:26] ldarake commented on #14597
Hi @khouloudbelguith,

I have trying it a few minutes ago and now work right. The problem is fixed.

Thank you for you support

[2019-07-12 15:26] TristanLDD commented on #14388
Hi @siomosp, thank you for your feedback, we are currently working on the order page and this problem has been signaled by several merchants. We will do our best to address it as soon as possible.

[2019-07-12 15:27] StoreCommanderDev opened #14622 "Order Invoice wrong ecotax"
**Describe the bug**
Amount of ecotax in Order invoie can be wrong.
SQL request in OrderInvoice->getProductsDetail() is wrong.

**To Reproduce**
In database
1. ps_order_detail : look at ecotax column (example : 0,50)
2. in back office, set new ecotax of product (example: 0,99)
3. Go to Order in back office and click on "View invoice"
4. On product line, under Unit Price column, you can see the eco

[2019-07-12 15:31] khouloudbelguith commented on #14597
@ldarake, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-12 15:31] #14597 closed, assigned to nobody

[2019-07-12 15:31] TristanLDD commented on #14448
@Pierre  I can't see any text editor when I go to the category page on 1.7.6 (it's a simple text field) is there something I'm missing here ?
![Capture d’écran 2019-07-12 à 15 49 43](https://user-images.githubusercontent.com/27484094/61140024-ee4ec700-a4ca-11e9-9f7f-d686b0415bd6.png)

[2019-07-12 15:37] khouloudbelguith commented on #14621
@cartomatica73, Here are some things you can try :

1/ Clear your browser cache and your cookies

2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table

3/ Manually clear smarty cache: remove all files from /var/cache/

4/ Disable the IP check in classes/Cookie.php (this can cause many issues with dynamics IP)

5/ Into the path /PROJECT_FOLDER/classes/controller/AdminController.

[2019-07-12 15:48] PierreRambaud commented on #12998
Since the pull request is not closed, I reopen the issue (https://github.com/PrestaShop/PrestaShop/pull/14540)
Are you still unable to reproduce @khouloudbelguith ?

[2019-07-12 15:53] Allthejam commented on #14566
Can I only use the email account setting for outgoing mail that I used to create the account?
Because
Error: Please check your configuration

Expected response code 250 but got code "550", with message "550 5.7.1 Username info@xxxxxxx-xxxxxx.com and sender blxxxxx2xx8@gmail.com doesn't match "

I think you'll get it.

[2019-07-12 15:58] khouloudbelguith commented on #14622
Hi @StoreCommanderDev,

So, your exact issue is about editing the ecotax of a product after generating an invoice.
The new ecotax is not changed in your invoice or is incorrect?
I attached a screen record
https://drive.google.com/file/d/1JwybPNLWvJECyVRC2NKaqFfYkkt6OLzE/view
Thanks!

[2019-07-12 16:03] khouloudbelguith commented on #14566
@Allthejam, could you please try to change it, check & feedback.

[2019-07-12 16:06] khouloudbelguith commented on #14537
@cboillat, thanks for your feedback.
I just received your email.
I will check & feedback.

Thanks!

[2019-07-12 16:09] glictevo commented on #14596
Hello,

I've made a few researches.
The bug started at 1.7.3.0 (migration of the AdminPerformance page to Symfonym I don't know if it is linked)

However, I tested in 1.7.2.5, overrides are deactivated when switching the button to "Yes", however when deleting the cache by hand or with the "Empty cache" button in AdminPerformance controller, when the cache is regenerated, the bug is present and ove

[2019-07-12 16:11] PierreRambaud commented on #14146
I'm sad that it look like we can't create rules on this tool :/

[2019-07-12 16:26] colinegin commented on #9812
Hello @khouloudbelguith do you still reproduce this issue ?

[2019-07-12 16:28] eternoendless commented on #13360
I don't have a definite answer about this as this was done before me, but my guess is that it probably wasn't working well (probably for the reasons I stated above).

This is about performance, not UX :wink:

[2019-07-12 16:36] Allthejam commented on #14566
Where do I find and change the sender address?

[2019-07-12 16:48] idnovate commented on #14608
And many others payment modules :worried:

[2019-07-12 16:49] Archikawa commented on #14575
It's ok @khouloudbelguith I see you local installation works but in my case, a real productive shop hosted in a normal provider (ionos) is behaving, at least, strange. And only with prices. Alphabetically works great.
Do you have a way to trace what the module is doing? A version that can log the result of the database query and make a dump to understand what happens? I could try install it.
I mea

[2019-07-12 20:16] kibiribi opened #14623 "mailalerts 3.7.0 module doesn't send order notification for ver. PrestaShop 1.7.4.4"
**Describe the bug**
MailAlerts v3.7.0 installed on PrestaShop ver. 1.7.4.4
All notifications are enabled - screen - https://www.screencast.com/t/P2s8KvjH
There are no errors, warning, 500 erros. Site works without problem.
When order was completed:
- Customer gets PrestaShop notifications
- 3 Backend admins (admin email = store domain)  didn't get any order confirmation message
SMTP, PHP works we

[2019-07-12 21:26] MockoB commented on #14571
Maybe not related, but I noticed same behaviour on the final release of 1.7.6.0. With product comments module installed the loading time of the product page takes way too long. Without it, the page loads perfectly fast.
Clean installation, php 7.3, just the demo products, no reviews, logged as guest.

[2019-07-12 21:29] zell9999 commented on #14615
Hi, I have the same issue with prices,

In 1-click update I have this:
Original version of PrestaAhop:
 40 file modifications have been detected, including 39 from core and native modules:

SOURCE FILES (39)
admin/autoupgrade/index.php
admin/autoupgrade/backup/index.php
classes/PaymentModule.php
img/cms/cms-img.jpg
img/favicon.ico
img/logo.jpg
img/404.gif
override/index.php
override/classes/Smarty

[2019-07-13 02:08] Marko-fin opened #14624 "Prestashop Backoffice does not load most of items after upgrade 1.7.5.2 - 1.7.6"
**Describe the bug**
After upgrading from 1.7.5.2 to 1.7.6 using 1-click-upgrade most of Backoffice items do not load, this is majority of items in Backoffice sidebar menu. After clicking eg. Catalog - Products, Products page is loaded, but content shown is empty, just blank page without anything.

My shop is in maintenance mode, and when opening the shop Frontend, I can see all how it was also in

[2019-07-13 07:35] sdwebdesign commented on #14617
Same issue. The sql upgrade file is missing the important  PREFIX_admin_filter ADD COLUMN filter_id.
 After I added this column manuel to databse, the admin page Languages is working fine (no 500 error missing column)

[2019-07-13 08:30] Attiro76 opened #14625 "Prestashop update error 1.7.5.2 to 1.7.6"
Hello everyone, I got an error while trying to 1-Click update my prestashop:

07:41:26 ERROR [console] Error thrown while running command "prestashop:schema:update-without-foreign". Message: "Unknown database type json requested, Doctrine\DBAL\Platforms\MySqlPlatform may not support it." ["exception" => Doctrine\DBAL\DBALException { …},"command" => "prestashop:schema:update-without-foreign","messa

[2019-07-13 09:40] indusone opened #14627 "Spam registrations continue on Prestashop 1.7.6"
Hi,,
There was a patch before which had slowed down the spam, though it wasnt 100% gone. Now it seems to have discovered new vulnerabilities and spam is happening in a big way.

[2019-07-13 10:18] Peter4661 opened #14628 "Feature request: addWebP image format"
WebP is a modern image format that provides superior lossless and lossy compression for images on the web. Using WebP, webmasters and web developers can create smaller, richer images that make the web faster.

WebP lossless images are 26% smaller in size compared to PNGs. WebP lossy images are 25-34% smaller than comparable JPEG images at equivalent SSIM quality index.

https://developers.google.c

[2019-07-13 10:20] matks commented on #14627
Hi @indusone thanks for the feedback. Can you tell us more about it ? Is that the same spam strategy like before: it creates a lot of fake customer accounts, with firstnames and/ore lastnames are URLs ?

[2019-07-13 10:39] indusone commented on #14627
Not sure about the URL's , but for me its the same as before, with a lot of junk first names and last names like these

![image](https://user-images.githubusercontent.com/3143014/61170563-8d85c400-a588-11e9-8e90-ad5e69c26edf.png)

[2019-07-13 10:46] Matt75 commented on #14627
It’s not the same behavior, they use allowed pattern so we can’t block them with standard validation.
You should install a captcha : http://build.prestashop.com/news/fighting-against-spamming/

[2019-07-13 11:14] indusone commented on #14627
Why not add presta;s own captcha for this? Its a simple solution isnt it?

[2019-07-13 11:19] Matt75 commented on #14627
Because it’s an external service, you have to choose your service provider.

For example Recaptcha : you have to create an account, create an API key and make a configuration to use them with your domain etc...

That’s why it’s optional and provided as PrestaShop Module.

[2019-07-13 11:20] indusone commented on #14627
ok thanks for quick replies.

[2019-07-13 11:22] Jerome08 commented on #14386
Hello
i confirm i can not change this value:
u can see here
https://drive.google.com/open?id=1NYtW1sSnBwRFDkvZ_xVWakO46FpMx9Ms
one information usefull, i can change this value with a module of importing products
i use this one : https://addons.prestashop.com/fr/import-export-de-donnees/19091-catalogue-de-produits-csv-excel-dimportation.html

but directly in prestashop, i can no modify, even if i c

[2019-07-13 11:32] marksull commented on #14627
They should have a free module that provides captcha capability because it's an essential requirement these days for Prestashop to be functional. But, it's not in their vested interest to do so because so many captcha modules are sold through addons...

[2019-07-13 11:33] indusone commented on #14627
I installed eicaptcha solution, and it works good. Thanks.

[2019-07-13 12:11] johanlantz commented on #10387
This happens to me as well on a clean install of 1.7.6.0 trying to install the productcomments module.

[2019-07-13 12:14] Matt75 commented on #14627
@marksull there are free community modules and paid modules.

No need to provide a native module as you have already a lot a choice available for this needs.

We have to save our time to focus on PrestaShop migration and bug fixes. Our backlog is already big ;)

Thanks for understanding ;)

[2019-07-13 12:22] Marko-fin commented on #14624
I have restored whole /var/www/prestashop folder from tar.gz. Version is back to 1.7.5.2 and all works again normally.

Here is advanced - information

Server information
Server information Linux #1 SMP Debian 3.16.59-1 (2018-10-03) x86_64
Server software version: Apache
PHP version: 5.6.40-0+deb8u4
Memory limit: 512M
Max execution time: 300
Upload Max File size: 50M

Database information
MySQL ve

[2019-07-13 13:22] Hlavtox opened #14629 "URL rewrite rules invalid after install in Czech language"
**Whats wrong**
Authentication and sitemap rewrite rules are invalid in Czech language.
They contain spaces and special characters. Cannot be saved when opened.

**Solution**
Change "authentication " to "prihlaseni".
Change "sitemap" to "mapa-stranek".

**Additional information**
PrestaShop version: 1.7.6 final

[2019-07-13 13:26] ghost opened #14630 "Wrong tax exclusive prices update 1.7.5.2 to 1.7.6.0"
Price ex vat column in admin, dutch language with € wrong display.  From 1.7.5.1 to 1.7.6.0.
issue invoice product prices excl. vat / tax

![image](https://user-images.githubusercontent.com/2944981/61172291-82c83080-a582-11e9-9fa2-abd59acec683.png)

![Schermafbeelding 2019-07-13 om 15 26 44](https://user-images.githubusercontent.com/2944981/61172300-a4291c80-a582-11e9-9c30-85a14ea1d1d9.png)

For e

[2019-07-13 13:28] ghost opened #14631 "missing Email Theme tab after update 1.7.5.1 to 1.7.6."
No new tab in admin after update 1.7.5.1 to 1.7.6.
 Clean install works fine!

[2019-07-13 15:44] kibiribi commented on #14623
The problem was that I have RU-lang PrestaShop but MailAlerts module was in English. 

So all settings (backend and server was ok) but this module couldn't find Prestashop backend default language (in my case it was Russian). I've created folder ru, and copied English files to this folder and translated to Russian. Order notifications were run without problem 

**### This is real BUG from the side

[2019-07-13 15:57] tuhingr opened #14632 "after update 1.7.4.4 to 1.7.6 then module page get error 500"
I can not enter module page. getting error 500
I attached Screen shot with Dev mode
Whats wrong? please help!

**Additional information**
PrestaShop version: 1.7.6
PHP version: 7.3.2
![Screenshot_4](https://user-images.githubusercontent.com/24760582/61173698-a312e200-a5b8-11e9-8d66-bc9b07f7d912.png)

[2019-07-13 16:10] matks commented on #14632
Hi, PrestaShop 1.7 does not support php7.3, neither 1.7.4.4 nor 1.7.6.0 . The error messages come from this.

Next version of PrestaShop will support php7.3, but not the current one. You need to use php7.0, php7.1 or php7.2 .

[2019-07-13 17:36] tuhingr commented on #14632
Already change PHP version, but no luck
![Screenshot_6](https://user-images.githubusercontent.com/24760582/61174793-17548200-a5c7-11e9-82ca-cf273b2205ba.png)

[2019-07-13 18:37] banobazaar commented on #14599
don't we have some freeware available over web?

[2019-07-13 18:38] Maofree opened #14633 "Emails files are not completely translated on prestashop 1.7.6"
Hi
I've upgraded from 1.7.5.2, all is ok except the email files
I've seen that the emails files are not completely translated
I've already updated the translations from back-office
it happens for many translations like italian, spanish ...

bye

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/61175341-e156d400-a5ad-11e9-8a80-d298ad303f33.png)

**Additional information**
Prest

[2019-07-13 21:23] kpodemski commented on #14615
Similar issue for me after an upgrade from 1.7.5.2 to 1.7.6.0, here's screenshot:
![image](https://user-images.githubusercontent.com/2137763/61176681-3ce08c00-a5c5-11e9-96b0-16e2f0048619.png)

[2019-07-13 23:19] banobazaar opened #14634 "Add blocks for ads @ home page"
I want to add blocks for ads on my home page. using 1.7X

please guide me procedure how can I add.

thanks
Naeem

[2019-07-13 23:24] banobazaar opened #14635 "how can I change color product border"
please guide me a way so I can change color product border as explain in picture.

in picture there are two products tagged with 1 and 2 (edited in paint brush)
![abc](https://user-images.githubusercontent.com/52763446/61177458-38c96400-a5ef-11e9-8ad4-1298648ab697.png)

i want my product to be displayed with yellow back ground as tagged 2.

[2019-07-14 09:31] ebaubau opened #14636 "Product discounts depending on quantity showing incorrect prices"
If i set some specific price for a product in the BO, the price shown in front End on the table is different fro the one used to calculate the amount to pay

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'bo' in 'Catalog Price Rules'
2. Insert 2 rules for the same product for quantity 1 and 2
3. Go to front end, select the product and choose 2 pieces
4. See error

**Screenshots**
see

[2019-07-14 13:39] daresh opened #14637 "the same object on both Customer Update Before and After Hooks"
When updating customer, the same object is passed to both hookActionObjectCustomerUpdateBefore and hookActionObjectCustomerUpdateAfter hooks, so it's not possible to detect changes in customer data.

**To Reproduce**
1. Go to any customer in back office
2. Edit the default group
3. Examine the hooks in debug mode, the Customer object has the same data on Before and After hooks. (to examine the hoo

[2019-07-14 13:57] Hlavtox opened #14638 "Order message display/saving problem in BO"
**Describe the bug**
Order message is badly displayed in order admin - with encoded characters. Example: `Testovac&iacute; pozn&aacute;mka`

**Cause**
In 1.7.6, message is saved to database like `Testovac&iacute; pozn&aacute;mka`.
In 1.6.1, it's saved without encoding `Testovací poznámka`.

I think it's the only field, that's saved like that. Will you fix the saving or the display? :-)

**Possible

[2019-07-14 14:04] Hlavtox opened #14639 "Convert Guest to Customer from BO not working"
**Describe the bug**
Conversion of guest to customer on backoffice -> order view page is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Make order as a guest.
2. Go to BO->Orders->Order
3. Click on "Convert guest to customer"
4. Guest is still a guest.

**Additional information**
PrestaShop version: 1.7.6

[2019-07-14 15:59] Maofree opened #14640 "on 1.7.6 rounds errors in the FO and BO for some products"
Hi
look in the product list from the back-end, you can see many decimals
the same problem happen in the from office when some product are added to the cart
I show you this problem on 3 sites, one is on the clean site with classic theme

I think the problem is not in the theme but in the php files,
{$product.price} gives in some cases too much decimals

in the backoffice I cannot set 279€ (with 22%

[2019-07-14 16:14] indusone commented on #14627
I hope the spammers also order a thing or 2 from the store, then i wont mind them too much :)

[2019-07-14 16:27] maofree commented on #14640
the problem come out from this function that you have changed

Tools::displayPrice()

the problem is from this
return $locale->formatPrice($price, $currencyCode);

I think the problem come from here
Number/Formatter.php

![1](https://user-images.githubusercontent.com/653230/61186327-32290400-a664-11e9-942f-a43813d18449.png)
![2](https://user-images.githubusercontent.com/653230/61186328-32290400-a6

[2019-07-14 17:03] Hlavtox opened #14641 "FO>Customer>Personal info requires current password, why?"
**Describe the bug**
1. Login in FO.
2. Go to your account, personal info.
3. Now, to save the form, even when not chaging the password, it wants the current password.

**Additional information**
PrestaShop version: 1.7.6

[2019-07-14 17:09] Hlavtox commented on #14376
Happens to me also. iOS 12.3.1 Safari.

- Price slider is initially displayed, when it should be hidden.
- Arrows are badly displayed
- Labels next to checkboxes are off after expanding.

#14377 is also connected to this.

![IMG_5150](https://user-images.githubusercontent.com/6097524/61186862-88994100-a66a-11e9-8d3d-d68117884e98.PNG)
![IMG_5151](https://user-images.githubusercontent.com/6097524/61

[2019-07-14 17:36] Archikawa commented on #14575
Hi again @khouloudbelguith If i disable the faceted search the sorting by price works perfectly. There's no other thing to prove the wrong behaviour of the product sort by price. Faceted search, somehow is messing the result of the query or getting an error that is not catched.

[2019-07-14 17:40] Hlavtox commented on #9659
1.7.6 final still not working. Important feature for debugging the speed...

[2019-07-14 20:25] banobazaar opened #14642 "back office is too slow to load in PS 1.7X"
currently back office too slow to load in PS 1.7.5.2.

I am trying since morning but unable to get through.

how can I resolve this issue.

[2019-07-14 20:34] LocalHeroPro opened #14643 "Broke sending/preview e-mail template from admin panel"
**Describe the bug**
I have some errors in fresh install on updated 1.7.6.x , when I try to send or view email template from admin panel.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to : admin panel > design > email theme
2. on Email Themes tab click preview icon (on classic or modern version) > click on HTTP or try to send test message.

**Screenshots**
![image](https://user-images.g

[2019-07-14 20:53] matks commented on #14640
Thank you for the very accurate report @maofree ! 👍 We're going to investigate this issue.

Can you tell us which countries, currencies and languages you use for these sites ? It would be a great help

[2019-07-14 21:34] maofree commented on #14640
Hi
Italy, euro and italian

[2019-07-14 23:53] mariusherea opened #14644 "1.7.6 & 1-click upgrade 4.9.0 - FO Error 500"
I had PS 1.75.2. I installed the 1-click upgrade 4.9.0 and ran the upgrade to 1.7.6.
After upgrade, the BO seemed fine but the FO is not working anymore. Error 500.

 AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught InvalidArgumentException: "1.0E+15" cannot be interpreted as a number in /vendor/prestashop/decimal/src/Number.php:466\nStack trace:\n#0  /vendor/prestashop/decimal/src/Numb

[2019-07-15 06:11] cartomatica73 commented on #14621
1. Then deleting the browser cache, it works again, but if I repeat the operation described in the first post, the same thing happens

2. Check PS_SHOP_DOMAIN (www.mydomain.com) and PS_SHOP_DOMAIN_SSL (www.mydomain.com) in ps_configuration table, they are the same and therefore, I deduce everything ok

3. I always clean the cache manually, but this doesn't solve the problem, even if I disable the

[2019-07-15 07:05] Daniel-Informax opened #14646 "Tax breakdown error on multiple tax rules"
**Describe the bug**
When you create a tax rule using multiples taxes (no matter if you combine then or aply one after another), and then activate the tax breakdown on the invoice, the tax base for the taxes on the invoice pdf arent displayed right.

It is tested on Prestashop 1.7.5.2 version.

[2019-07-15 07:07] SharakPL commented on #14533
@tlhuillier The reason for bad quality of classic theme is simple and quite understandable: it's just bussiness. If classic were good enough less people would consider buying a theme from prestashop. That's fair considering it's free. The only thing I can't understand is why would anyone use **alpha** or even beta packages in production. It's been 1.5 years since stable Bootstrap 4 was released. I

[2019-07-15 07:11] sdwebdesign commented on #14640
Related to #14630

[2019-07-15 07:13] sdwebdesign commented on #14630
Also in front-end wrong tax excl. display.
![Schermafbeelding 2019-07-15 om 09 12 43](https://user-images.githubusercontent.com/2944981/61200158-d2247300-a6e0-11e9-9987-d561a183ee57.png)

[2019-07-15 07:16] mariem-abid commented on #14203
Hi @go-sudo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-07-15 07:16] #14203 closed, assigned to nobody

[2019-07-15 07:17] StoreCommanderDev commented on #14622
Hi @khouloudbelguith !
Your screen record show exactly what the problem is.
Edit ecotax After generate invoice change the ecotax on the product line in the invoice.

Thank you for you information about PHP version. But actually I don't have any problems with php 7.3.1 and Prestashop 7.6

[2019-07-15 07:17] mariem-abid commented on #14164
Hi @silviu25,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-07-15 07:17] #14164 closed, assigned to nobody

[2019-07-15 07:18] mariem-abid commented on #14177
Hi @Hintergedanke,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-07-15 07:18] #14177 closed, assigned to nobody

[2019-07-15 07:24] mariem-abid commented on #14642
Hi @banobazaar,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prest

[2019-07-15 07:42] ArteInfoRM commented on #14343
![image](https://user-images.githubusercontent.com/41371761/61201440-ce92eb00-a6e4-11e9-80ec-4fa570656a89.png)

[2019-07-15 07:53] Quetzacoalt91 commented on #14617
This column will be added again in https://github.com/PrestaShop/PrestaShop/pull/14647

[2019-07-15 07:59] mariem-abid commented on #14635
Hi @banobazaar,

In the theme.css file which is under your project folder/ themes / classic / assets / css / theme.css add  the background-color style.

Thanks for check and feedback.

[2019-07-15 08:02] maofree commented on #14630
hi
also in tax incl.
look at my post

bye

[2019-07-15 08:04] colinegin commented on #10387
Hello @johanlantz,

Thanks for your feedback. Could you give us more details about your issue ? What is the error message you get when trying to install this module ?

[2019-07-15 08:23] mariem-abid commented on #14639
Hi @Hlavtox,

I manage to reproduce the issue with PS:1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1cjdjRzln25uB95buabFjZkbYmvtWia-a/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-15 08:27] breizoreol commented on #14146
I found this one which seems great:

https://github.com/allocine/twigcs

It allows to make our own rule set, this library mainly cares about twig code formatting.

And for the indentation issue, there is this TWIG prettifier, which is to be installed as a github application:

https://unibeautify.com/docs/language-twig.html#docsNav
https://github.com/apps/unibeautify-ci

[2019-07-15 08:32] JustasBelevicius commented on #14611
When is this going to be fixed? My site cannot function. Is enabling `putenv` fix the issue for now?
Any help is highly appreciated

[2019-07-15 08:34] flyman30 opened #14648 "Bank payment modules are in error with version 1.7.6.0"
Hello, I was in
Prestashop version 1.7.5.2
Debian Server 3.16.51-3
Apache
Php 5.6.36
MySql 10.0.32-MariaDB-0 + deb8u1
E-transaction payment module

Update to 1.7.6.0 successful but the card payment module An error appears when trying to pay:

https://tpeweb.e-transactions.fr/cgi/MYchoix_pagepaiement.cgi
Protection error.
We regret not being able to give a favorable answer to your request for payme

[2019-07-15 08:38] mariem-abid commented on #14641
Hi @Hlavtox,

I manage to reproduce the issue with PS:1.7.5.2. and PS:1.7.6.0
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-15 08:42] mariem-abid commented on #14628
Hi,
@Peter4661, Thank you for your report.
@colinegin , @sarahdib , what do you think?

[2019-07-15 08:47] NicolasSogeti opened #14649 "Database acces with SSL"
Hello,
i need to access to my database with SSL.
The only information i found about it is this ticket https://github.com/PrestaShop/PrestaShop/issues/10784 . But i don't like the answer, the only way seems to hack prestashop core.
This ticket was opened on October 2018, have you make some evolution on Prestashop to allow your community to configure SSL access ? Have you planned to do it ? Is there

[2019-07-15 08:50] Amulliez commented on #14624
Hello @Marko-fin

I have exactly the same problem after upgrading from 1.7.5.2 to 1.7.6 using 1-click-upgrade. I hope we will have answers quickly.

[2019-07-15 08:55] Quetzacoalt91 commented on #14624
Hi,

This issue is caused by a old version of the autoupgrade module. There is currently a conflict between the twig versions included by the core and the module.

As you cannot upgrade the module, you can instead safely remove it by deleting the folder `modules/autoupgrade`. You will recover your BO immediately.

As this issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/1363

[2019-07-15 08:55] #14624 closed, assigned to nobody

[2019-07-15 08:59] Spacetronik commented on #13939
HI we fixed it by case, earlier we turn off all module and nothing change but this time we check some functions with RODO and Cookies module and one function in this module was wrong and do this problem couple monts and many many hours was wasted

[2019-07-15 09:03] demperador commented on #14608
Hello! I have had the exact same issue after upgrading from 1.7.5.2 to 1.7.6.0. In fact, we use a module developed by @idnovate and now orders do not update their status. Is there any solution at least by updating the field values numeric_iso_code to 978 and precision to 2 instead of 0 and 6 respectively? Thanks

[2019-07-15 09:06] idnovate commented on #14608
@demperador Which module?

[2019-07-15 09:07] JustasBelevicius commented on #14611
Although in var/logs latest log file I am getting:
[code]
I have checked my db information and passwords, and they're correct

[2019-07-15 09:10] demperador commented on #14608
Pago con tarjeta Redsys
v3.6.8 - de idnovate
When a payment is made, Redsys accepts the payment but I receive the following error: Error (-1 Server returned HTTP response code: 500 for URL: http://centrobell.com/index.php?fc=module&module=redsys&controller=ipn).

[2019-07-15 09:12] idnovate commented on #14608
@demperador Please contact us at https://addons.prestashop.com/es/contacte-con-nosotros?id_product=6492 to fix the problem meanwhile

[2019-07-15 09:18] ghost opened #14650 "Recommended Retail Price (RRP)"
Hi.
Please add native RRP price to 1.7
http://nemops.com/prestashop-rrp-price/

Like NIKE CATALOG PRICE is 499 (manufacturer suggested retail price)
Our PRICE is 399

Thanks!

[2019-07-15 09:20] PrestaShark commented on #14650
One of my customer also want to make catalog rules based on that RRP price so this field should be integrated in pricing logic.

[2019-07-15 09:32] mariem-abid commented on #14638
Hi @Hlavtox,

I manage to reproduce the issue with PS:1.7.6.0
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-07-15 09:37] mariem-abid commented on #14649
Hi @NicolasSogeti,

Sorry, not yet.
Your ticket is a duplicate of #10784
So, I close it.
Thanks!

[2019-07-15 09:37] #14649 closed, assigned to nobody

[2019-07-15 09:38] mariem-abid commented on #14649
Duplicate of #10784

[2019-07-15 09:40] mariem-abid commented on #14634
Hi @banobazaar,

You can find in our Market place Addons a lot of modules.
You can follow this link: https://addons.prestashop.com/en/search?search_query=chat&id_category=459&
Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (ht

[2019-07-15 09:40] #14634 closed, assigned to nobody

[2019-07-15 09:46] 01park commented on #14604
Sorry, bring this back up. But the problem is not 100% solved.

When I first update the private not. Everything is saved and looks fine, but when I change the not to status shipped, then all notes get mixed up again and it shows strange characters.

[2019-07-15 09:49] mariem-abid commented on #14625
Hi @Attiro76,

What is the exact version of the 1-click upgrade module that used?

Thanks!

[2019-07-15 09:53] PierreRambaud commented on #14146
Let's try with this is you want. You can create a pull request here: https://github.com/PrestaShop/php-coding-standards

[2019-07-15 10:00] mariem-abid commented on #14643
Hi @LocalHeroPro,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrading your ve

[2019-07-15 10:08] Quetzacoalt91 commented on #14617
I was going to add it again, but did you complete the upgrade process? Doctrine is supposed to add it.

[2019-07-15 10:18] kpodemski commented on #13939
Which module for RODO did you use?

[2019-07-15 10:33] mariem-abid commented on #14636
Hi @ebaubau,

I did not manage to reproduce the issue with PS:1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1H7-XMOaIZiBujHPXGp5J7kKsHV99srMn/view

Thanks for check and feedback.

[2019-07-15 10:36] cartomatica73 commented on #13939
can you illustrate your solution?

[2019-07-15 10:48] Hlavtox opened #14651 "Delete icon next to gift products"
**Describe the bug**
A trash/delete icon is shown in cart sumamry next to products, that have been given for free as a gift.

PS: I think the severity of these two issues should be much higher. What's more important, migration of a BO page or a nonsense that customer sees? eg. #10766 #13002

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a cart rule, that gives a product for free as gi

[2019-07-15 10:50] hacchus opened #14652 "Vouchers with carrier restrictions don't apply on time"
If you create a voucher that has carrier restrictions, it won't be applied unless you proceed to the payment step during checkout or manually change carrier selection during the "Shipping Method" step.

**To Reproduce**

1. Have two carriers setup with different costs and none of them free
2. In carrier preferences select "Default Carrier" as "Best Price"
3. Create a voucher for free shipping, wit

[2019-07-15 10:58] mariem-abid commented on #14637
Hi @daresh,

I did not manage to reproduce the issue with PS:1.7.6.0
When you use these hooks?

[2019-07-15 11:00] daresh commented on #14637
Hi!

Right, you need to have some module attached to both those hooks.

[2019-07-15 11:03] mariem-abid commented on #14637
@daresh, that's what I already did and it works well.

[2019-07-15 11:06] daresh commented on #14637
On my fresh installation of 1.7.6, I see the same id_group_default on both hooks in the customer object, even after I change the group in the customer form. For example I change the default group of the customer from ID 3 to ID 4. But in the hooks parameters, in Customer object I see ID = 4 in both hooks.

[2019-07-15 11:19] Allthejam commented on #14566
Solved the problem for now anyway I think.

The email address on the CMS/Stores page has to be the same as the sender's address in the advanced parameters/email page, and once you get the correct SMTP info from the host it works, now it's just a case of settings on the individual payment gateway installed.

Thank you for all your assistance.

[2019-07-15 11:31] Dupflo opened #14653 "appParameters.php not found on new server"
Hello,

I am trying to transfer my Prestashop 1.7.5 website on my new server and I got this issue bellow

**Fatal error: require_once(): Failed opening required '/var/www/clients/client0/web1/web/var/cache/dev/appParameters.php' (include_path='/var/www/clients/client0/web1/web/vendor/pear/pear_exception:/var/www/clients/client0/web1/web/vendor/pear/console_getopt:/var/www/clients/client0/web1/web/

[2019-07-15 11:33] ebaubau commented on #14636
Hi Mariem, to get the error it is necessary to insert a rule for quantity 1.
If you do this you will see the error when you choose quantity 2.

[2019-07-15 11:34] mariem-abid commented on #14644
Hi @mariusherea,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks for check and feedback.

[2019-07-15 11:37] frankymartinES opened #14654 "Stock text in product page NOT change"
Hi, I have found an issue in product page about the stock info of any combination.
To reproduce the error you need to do:
1.- Go to product page
https://noeshoponline.com/cinturones/185-774-test.html#/5-color-gris/32-talla-unica
You will see stock info "Disponible - ¡Recíbelo en 24/48 Horas!"  It is OK!!!
2.- Change color producto and you will see that the stock info NOT change. It is a fail, beca

[2019-07-15 11:46] mariem-abid commented on #14632
HI @tuhingr,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2019-07-15 11:49] Hlavtox opened #14655 "Faceted search filter visibility when no products appliable"
Faceted search should hide or grey out the options in filters, which are not appliable to any product. Or there should be an option like in 1.6. There is no point of having million of choices. It should bring the user to tight selection of products, with less and less options.

**Example**
You have following filters
_Material_
`Steel`
`Glass`

_Steel look_
`Polished`
`Brushed`

_Glass look_
`Nice`

[2019-07-15 11:50] mariusherea commented on #14644
I have deleted both prod and dev folders in /var/cache.
I did again the upgrade with 1-click upgrade 4.9.0.
Result....

AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught InvalidArgumentException: "1.0E+15" cannot be interpreted as a number in /home/public/vendor/prestashop/decimal/src/Number.php:466\nStack trace:\n#0 /home/public/vendor/prestashop/decimal/src/Number.php(72): PrestaShop\\

[2019-07-15 11:51] mariem-abid commented on #14654
Hi @frankymartinES,

I did not manage to reproduce the issue with PS:1.7.6.0
Could you please check with the default template provided by PrestaShop.

[2019-07-15 11:51] mariusherea commented on #14644
Btw, all non-prestashop modules and overrides  are disabled

[2019-07-15 11:53] frankymartinES commented on #14654
I am going to contact before the theme developers because could be a theme error. Thanks

[2019-07-15 11:54] mariusherea commented on #14644
`

(2/2) LocalizationExceptionInvalid $number parameter: "1.0E+15" cannot be interpreted as a number
--
in Formatter.php line 108
at Formatter->format(1000000000000000.0, object(Price))in Locale.php line 155
at Locale->formatPrice(1000000000000000.0, 'RON')in Tools.php line 776
at ToolsCore::displayPrice(1000000000000000.0, object(Currency))in PriceFormatter.php line 55
at PriceFormatter->format(1

[2019-07-15 11:54] Hlavtox opened #14657 "Faceted search bad currency format - thousands separator"
**Describe the bug**
Price amount in faceted price filter has a different format then the store. It contains comma instead of space as a **THOUSAND SEPARATOR**.

Language: Czech
Currency: Kč (CZK)

Store: 1 000 Kč
Filter: 1,000 Kč

**Screenshots**
![currency](https://user-images.githubusercontent.com/6097524/61214301-e039ba00-a707-11e9-850f-e7f437bffe7d.PNG)

**Note**
Achieved zero decimals by cha

[2019-07-15 11:55] mariusherea commented on #14644
(2/2) LocalizationExceptionInvalid $number parameter: "1.0E+15" cannot be interpreted as a number
--
in Formatter.php line 108
at Formatter->format(1000000000000000.0, object(Price))in Locale.php line 155
at Locale->formatPrice(1000000000000000.0, 'RON')in Tools.php line 776
at ToolsCore::displayPrice(1000000000000000.0, object(Currency))in PriceFormatter.php line 55
at PriceFormatter->format(1000

[2019-07-15 11:55] mariem-abid commented on #14653
Hi @Dupflo,

Could you please try to clear cache manually: go to your Prestashop installation directory and delete the content of the following folders: cache/smarty/compile, cache/smarty/cache.

[2019-07-15 11:57] mariem-abid commented on #14654
@frankymartinES, waiting for your feedback.

[2019-07-15 12:02] Spacetronik commented on #13939
<img width="1920" alt="PKBR" src="https://user-images.githubusercontent.com/50950394/61214781-23e0f380-a709-11e9-962d-38761c89afdc.png">
This module but not rememeber function becouse it do it my friend and he is on holiday

[2019-07-15 12:02] Hlavtox opened #14658 "Faceted search bad product count/message when no products are found"
**Describe the bug**
Bad product count is shown when no products are found in faceted search.

**Current behavior**
![product count](https://user-images.githubusercontent.com/6097524/61214661-c77dd400-a708-11e9-8b37-d5151e45743b.PNG)

**Desired behavior**
![desired](https://user-images.githubusercontent.com/6097524/61214790-280d1100-a709-11e9-9ab4-20c7e3b71f68.PNG)

**Additional information**
Pres

[2019-07-15 12:08] mariem-abid commented on #14631
Hi @sdwebdesign,

I did not manage to reproduce the issue after the upgrade from PS:1.7.5.1 to PS:1.7.6.0 using the module 1-click upgrade V4.9.0
I attached a screenshot
![AwesomeScreenshot-email-2019-07-15-13-07-19](https://user-images.githubusercontent.com/36841537/61215057-9bab2000-a701-11e9-8453-fa7371be284e.png)

Thanks for check and feedback.

[2019-07-15 12:12] tlhuillier commented on #14533
@SharakPL
Good points.

The classic theme being free doesn't mean it shouldn't be exemplary.
When a usual merchant buys a theme on Addons, it's not the code that he will look at, only the FO demo and screenshots anyway.
But for the sake of the community, if we wan't more quality themes (and thus happier merchants), we need to have a solid Classic theme.

[2019-07-15 12:12] mariem-abid commented on #14657
Hi @Hlavtox,

Which country is selected for the installation of your shop?

[2019-07-15 12:21] Hlavtox commented on #14518
@marionf

@omar2886 is definitly right. You want the availability filter to filter out products, you can order right now and the store has them in stock.

Your proposed solution is correct and should be implemented.
In stock: Product with quantity > 0
Out of stock but available for order: Product with quantity <= 0 and allow order of out of stock checked
Not available: Product with quantity <= 0 a

[2019-07-15 12:27] mariem-abid commented on #14651
Hi @Hlavtox,

I did not manage to reproduce the issue with PS:1.7.6.0
I attached a video record.
https://drive.google.com/file/d/1HAHMzT8zARZv8VnvItONebqWo8OL5lrN/view

Thanks for check and feedback.

[2019-07-15 12:27] Hlavtox commented on #14657
@mariem-abid Czech Republic

[2019-07-15 12:29] Hlavtox commented on #14651
@mariem-abid Remove the voucher code, set quantity to 999999 and you will see the error.

Scenario: Dear customers, a free gift for all orders over 100 EUR!

[2019-07-15 12:34] Hlavtox commented on #10682
@marionf Still not fixed on 1.7.6.

Also, I think there should be option to select page product count like in Product list.

[2019-07-15 12:41] samuel-pires commented on #14157
Hi @LouiseBonnard,

We just discussed this issue with Pablo, he says it might be better to indicate below the fields the **valid** characters instead of the forbidden ones.

In this case only letters and "." followed by a space are valid.

And in the error message indicates the invalid characters.

Wdyt?

[2019-07-15 12:51] mariem-abid commented on #14629
Hi @Hlavtox,
I manage to reproduce the issue with PS:1.7.6.0
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-07-15 13:06] Himanshu-bishtt opened #14659 "Error in gift wrapping option in PS 1.7.2"
Hi,
I am using Prestashop 1.7.2 and PHP - 5.6.40

As you can see in the image when I am trying to enable gift wrapping, I am getting an error says "Assign a valid page if you want it to be read."
Why is this error happening?

Please help us,
Thanks

![Screenshot from 2019-07-15 18-27-07](https://user-images.githubusercontent.com/52812453/61218202-19395500-a72f-11e9-9899-ebb9ca3dbd36.png)
![Screens

[2019-07-15 13:07] mickaelandrieu commented on #14533
Hi,

Most of the themes on Addons are already based on the Classic theme, so updating bootstrap 4 to the latest (we all want to do that, believe me), will break **every theme** on the market place first, then will break every website once they use the auto-upgrade feature.

Simply said: the core team can't do that before the next major release *but* you can rely on the community theme  *[classic-r

[2019-07-15 13:22] mariem-abid commented on #14655
@colinegin, @sarahdib, what do you think?

[2019-07-15 13:26] marionf commented on #14630
Hello @sdwebdesign
Thanks for reporting this issue. It is a duplicate of #14640, please follow this issue.

[2019-07-15 13:26] #14630 closed, assigned to nobody

[2019-07-15 13:29] mariem-abid commented on #14659
Hi @Himanshu-bishtt,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.

[2019-07-15 13:42] LouiseBonnard commented on #14157
Indeed, it seems clever regarding the number of forbidden characters, aha! In this case, I'd write _Only letters and the dot (. or 。) character are allowed._ localized in _Admin.Orderscustomers.Help_ but I'm still wondering about the Chinese dot character, it looks a bit weird when mentioning it.
🤔

[2019-07-15 13:43] mariem-abid commented on #14657
@Hlavtox, I did not manage to reproduce the issue with PS:1.7.6.0
I attached a video record
https://drive.google.com/file/d/1p8p4etxnYsx6RN9N3MAn8WQPpgc9nYRg/view

Thanks for check and feedback.

[2019-07-15 13:45] mariem-abid commented on #14658
Hi @Hlavtox,

I manage to reproduce the issue with PS:1.7.6.0
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-07-15 13:48] mariem-abid commented on #14648
Hi @flyman30,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-07-15 13:51] mariem-abid commented on #14646
Hi @Daniel-Informax,

Thanks to add steps to reproduce your issue in new comment.

[2019-07-15 13:52] koalabang opened #14660 "problem with attributs product PS 1.7.5.2"
**Describe the bug**
Hi ,I have a problem with the attributs on my products. When I select an attribute on a product I am permanently positioned on the default attribute. The rewrite of url does not work towards the new attribute. Do you have an idea ?

You can test this product :

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://rf-market.fr/casquette-tactique/192-17-casquette-

[2019-07-15 13:54] mariem-abid commented on #14650
@colinegin, @sarahdib, what do you think?

[2019-07-15 13:55] tuhingr commented on #14632
Prestashop Version: 1.7.6 stable - (1.7.6.0)
Debug Mode Report: Screenshot Attached
host ( check attached file
![Screenshot_3](https://user-images.githubusercontent.com/24760582/61221508-78e92d80-a73a-11e9-9273-12e9cb32798a.png)
)
server setup and configuration  (check attached file)
PHP err_log:
[15-Jul-2019 19:11:22 Asia/Dhaka] PHP Warning: count(): Parameter must be an array or an object that i

[2019-07-15 14:00] mariem-abid commented on #14660
Hi @koalabang,

I did not manage to reproduce the issue with PS:1.7.6.0
Could you please check with the default template provided by PrestaShop.

[2019-07-15 14:00] tuhingr commented on #14632
Prestashop Version: 1.7.6 stable - (1.7.6.0)
Debug Mode Report: Screenshot Attached
host ( attachedl)
server setup and configuration  (attached)
PHP err_log:
[15-Jul-2019 19:11:22 Asia/Dhaka] PHP Warning: count(): Parameter must be an array or an object that implements Countable in /home//public_html/modules/codazonmegamenupro/classes/MenuHtml.php on line 96
[15-Jul-2019 19:11:24 Asia/Dhaka] PHP W

[2019-07-15 14:01] tomas862 opened #14661 "Missing images in migrated lists"
**Describe the bug**
For migrated lists which has image column images are not being displayed (see 1 screenshot)

**To Reproduce**

Your shop must be running as subdomain - e.g **http://localhost/PrestaShop/** or **http://yourdomain.com/my-inner-domain**

**Screenshots**
1.

![Screenshot (9)](https://user-images.githubusercontent.com/17051250/61221460-3d8e3500-a721-11e9-8d1d-95436d5cc3a0.png)

**A

[2019-07-15 14:02] koalabang commented on #14660
Hi @mariem-abid , with the default template i have the same issue.

[2019-07-15 14:06] omar2886 commented on #10875
This solution would be very useful actually. In the meantime, the searchbox at the top of the page can also search for EAN and give you the product as result, the only problem is that users with "salesman" permission won't have access to it, wouldn't it be faisable to give them access to this searbox? they won't get any results for things they don't have permission anyway, am I wrong?

[2019-07-15 14:07] blahapeta opened #14662 "Cannot install product comments module"
Cannot install Product Comments module

**To Reproduce**
Steps to reproduce the behavior:
1. Go to modules->module catalog->Product Comments
2. Click on Install
4. See error

DEBUG:
Exception thrown by module productcomments on install. Column count doesn\'t match value count at row 1INSERT IGNORE INTO `ps_product_comment_criterion` VALUES (\'1\', \'1\', \'1\')

Firefox developer console:
{"produc

[2019-07-15 14:16] msautral commented on #14045
Hi last week we erase a product that has a discount and mark as an offer and it was still showing on the front end on the special offer until we clean the cache.

[2019-07-15 14:19] colinegin commented on #10846
We should first check if this is something we can manage globally or if this fix should be done in every module.

[2019-07-15 14:27] Hlavtox commented on #14657
@mariem-abid I am talking about the thousands separator. Make a product with a price over 1000,00 and you will see the error

[2019-07-15 14:36] mariem-abid commented on #14662
Hi @blahapeta,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2019-07-15 14:45] marionf commented on #14658
@Hlavtox
Version 3.1.0 doesn't exists, the last one is 3.0.7, can you please tell us what is your version ?
Thank you

[2019-07-15 14:49] marionf commented on #14658
In 3.0.7 version, if you have 0 products for a feature value, this feature value isn't displayed as a filter

[2019-07-15 14:56] mariem-abid commented on #14652
Hi @hacchus,

A cart rule without "code", the free shipping is not be applied.
Thanks for check and feedback.

[2019-07-15 15:01] marionf commented on #14638
Hello @Hlavtox
Your issue seems to be a duplicate of #9726
Could you please take a look at this issue ?

[2019-07-15 15:01] flyman30 commented on #14648
Host: Ikoula.fr
URL test site: http://116044hpv114002.ikexpress.com
Prestashop 1.7.6.0
Debian Server 3.16.51-3
Apache
Php 7.1.17
MySql 10.0.32-MariaDB-0 + deb8u1
E-transaction payment module

the currency is missing in the basket data transmission

De : mariem-abid <notifications@github.com>
Envoyé : lundi 15 juillet 2019 15:49
À : PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc : flyman3

[2019-07-15 15:03] mariem-abid commented on #14633
Hi @maofree,

Do you have made the update translations before or after the upgrade?

[2019-07-15 15:05] Hlavtox commented on #14658
I guess it does? :-)

![faceted](https://user-images.githubusercontent.com/6097524/61226444-b8a41b00-a722-11e9-830c-12fca7bf0607.PNG)

[2019-07-15 15:05] maofree commented on #14633
After

[2019-07-15 15:10] marionf commented on #14651
Hello @Hlavtox

Your issue is a duplicate of  #9757, so I close it.
Please follow this issue.

[2019-07-15 15:10] #14651 closed, assigned to nobody

[2019-07-15 15:11] mariem-abid commented on #14627
Hi @indusone,

Thanks for your feedback.
I close the ticket, feel free to open a new one when needed.

[2019-07-15 15:11] #14627 closed, assigned to nobody

[2019-07-15 15:17] mariem-abid commented on #14661
ping @PrestaShop/prestashop-core-developers

[2019-07-15 15:25] mariem-abid commented on #14658
@marionf, also I tested with the version 3.1.0

[2019-07-15 15:27] marionf commented on #14658
You're right, my bad I didn't see it

[2019-07-15 15:30] mariem-abid commented on #14660
@koalabang, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop

[2019-07-15 15:39] mariem-abid commented on #14636
@ebaubau, I did not manage to reproduce the issue with quantity 1.
I attached a video record
https://drive.google.com/file/d/1ckzUn-GDcII21yrsmKUAybeNka1P_UmH/view

Thanks for check and feedback.

[2019-07-15 15:52] fraria76 opened #14663 "Template \account.html.twig is not defined (it's a bug ?)"
Hi everyone,

I have this configuration:

WINDOWS SERVER 2019 with IIS 10
MySQL 8.0.16.0
PHP 7.2.16
PHPMYADMIN 4.9.0.1
Prestashop  1.7.6.0

I performed a new installation and at 23% appear a error message:

1: Template "C:\inetpub\wwwroot\XXXXXX\mails\themes\modern\core\account.html.twig" is not defined.

I specific than before I has Prestashop  v1.7.5.2 (with the same versions of MySQL, PHP, PHPM

[2019-07-15 16:05] eternoendless commented on #14533
First of all, I fully agree with you @tlhuillier. The classic theme has not been receiving enough love -- in part due to the fact that we have had no fulltime front developers in the team for a while now. Please don't hesitate to send pull requests! Just try and make them small so that they can be merged quickly.

@SharakPL I wish it was like that, but it's not. This has been explained several tim

[2019-07-15 16:06] Adyku commented on #14657
Hello,
I have a pretty similar issue, I am getting 6 decimals, instead of just 2.

[2019-07-15 16:23] tlhuillier commented on #14533
@eternoendless
Thanks for the clarifications, you made it very clear.

[2019-07-15 19:14] Hlavtox opened #14666 "Faceted search availability filter not showing up"
**Describe the bug**
Enable filter for product availability. Go to FO, filter is not there.

**Additional information**
PrestaShop version: 1.7.6 final
Faceted search version: 3.1.0

[2019-07-15 19:21] LocalHeroPro commented on #14643
PHP7.2 and PHP7.1 the same.

[2019-07-15 19:40] blahapeta commented on #14662
Hi @mariem-abid ,
i have solved it.

Problem was in my database. There was one extra row in my table. After removing it i was able to install module.

ALTER TABLE ps_product_comment_criterion DROP COLUMN id_shop;

I had Mypresta product comment module i installed previously. It probably altered this db table.
https://mypresta.eu/modules/advertising-and-marketing/free-product-reviews-comments.html

[2019-07-15 20:30] UMTR opened #14667 "Upgrade 1.7.6 Error"
I tried to upgrade Prestashop 1.7.5.2
to Prestashop 1.7.6
PHP Version 7.0.33
Software Version Apache

After upgrade I could view home page and catalog pages but when I tried to view a product page, I would get the following shown in Debug mode:

"Fatal error: Access level to ProductController::$quantity_discounts must be protected (as in class ProductControllerCore) or weaker in /override/controll

[2019-07-15 22:05] Marko-fin commented on #14624
Thanks!

Renamed backup restored 1.7.5.2 version to temporary to something else, and restored renamed prestashop-176 folder to prestashop. Renamed modules/autoupgrade -> modules/_autoupgrade

All is loading fine now.

[2019-07-16 06:04] centoasa commented on #14580
why still today my prestashop 1.7.5.2 is show aas "product update"?
https://nimb.ws/Aq9Qr5

[2019-07-16 06:32] Daniel-Informax commented on #14646
1-  Create 2 taxes
2- Create one tax rule using these taxes (one after another)
3- Assign this tax rule to a product and buy it
4- Activate the tax breakdown on invoice
5- Change the invoice.tax-tab.tpl to show allways the  base price
6- Create an order buying this product
7- Print the invoice
8- You can check the invoice tax base price is wrong

![tax_error1](https://user-images.githubusercontent

[2019-07-16 06:35] sarjon commented on #14480
Hmm, should there be a way to set up multistore (enable feature, set up fixutres) during behat tests?

[2019-07-16 07:08] khouloudbelguith commented on #14663
Hi @fraria76,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.0 stable version.
What is the exact Language/country did you used during the install?

Thanks!

[2019-07-16 07:17] khouloudbelguith commented on #14667
Hi @UMTR,

Thanks for your report.
You have some issues with an override of your file `ProductController`.

This override is not compatible with PS1.7.6.0, if it is added by a module, you need to check the module author about this issue.
For a quick fix, you need to rename this file and clear cache manually by deleting all the folder into var/cache (prod & dev).
Your issue is not a PrestaShop's co

[2019-07-16 07:17] #14667 closed, assigned to nobody

[2019-07-16 07:21] khouloudbelguith commented on #14662
Hi @blahapeta,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-07-16 07:21] #14662 closed, assigned to nobody

[2019-07-16 07:35] tapandagr commented on #11548
@khouloudbelguith ps 1.7.4.4 Ι try to fix greek encoding issue in customer message

/admin/themes/default/template/controllers/customer_threads/helpers/view

I add custom classes to check if something happens, the file is being saved as expected file permissions are ok but nothing changes :/

Moreover, on order confirmation, no email is being sent. Changed to SMTP (with wrong credentials on purpos

[2019-07-16 07:44] khouloudbelguith commented on #14623
Hi @kibiribi,

I followed these steps
1. install PS1.7.6.0
2. Import the package Russian
3. Install the module mailalert v3.7.0
4. Go to the FO => Select the Русский language
5. Add some product to the cart => complete order

=> I have a New order mail
![image](https://user-images.githubusercontent.com/16067358/61275407-cea6ef80-a7a5-11e9-848a-df6563b7753d.png)

It is just received in the English

[2019-07-16 07:48] khouloudbelguith commented on #14666
Hi @Hlavtox,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.0 & the ps_facetedsearch module v3.1.0.
I attached a screen record
https://drive.google.com/file/d/1KN6q4FdB6BpvGIqqRNY5ozQ4kdBA61C-/view
Thanks to check & feedback.

[2019-07-16 07:49] xxrestlessx opened #14669 "Facebook pixel - prestashop"
Hi!

We have an issue with Facebook Ads and Prestashop. We reinstalled Facebook pixel and it's not working correctly. We can't retarget 100% of views, purchases and add to cart. The error is shown in catalogs. Anyone know what is going on? Is this fault of prestashop?

[2019-07-16 07:56] khouloudbelguith commented on #14643
Hi @LocalHeroPro,

Thanks for your feedback & your report.
I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1_cuzUYMzyh2WByAjRgAKKixaPpyi2OAz/view
Could you please navigate to your BO => International => Translations => "Add / Update a language" => Select the Polish language and click on "Add or update a language button" button.

Th

[2019-07-16 07:59] khouloudbelguith commented on #14669
Hi @xxrestlessx,

As it's not a module provided by the Prestashop core, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
https://addons.prestashop.com/en/contact-us?id_product=27646
Thanks!

[2019-07-16 07:59] #14669 closed, assigned to nobody

[2019-07-16 07:59] Messenger83 commented on #14657
Hi,
same issue here: 6 decimals instead of 2. I've been digging for hours in the php and js files without finding a way to fix the issue.

[2019-07-16 08:06] khouloudbelguith commented on #14657
Hi all,

This issue occurs after an upgrade from PS1.7.6.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14664 to fix the issue.
Your ticket is a duplicate of #14608
So, I close it.
Thanks!

[2019-07-16 08:06] khouloudbelguith commented on #14657
Duplicate of #14608

[2019-07-16 08:17] marionf commented on #14661
Hi @tomas862
Your issue seems to be a duplicate of #14374 ?

[2019-07-16 08:18] khouloudbelguith commented on #14648
Hi @flyman30,

In your shop, I did not manage to reproduce the issue using "Payer par chèque".
https://drive.google.com/file/d/1TtGjTaBz8zRAlsmzPpH_WFPedVv0xLUn/view
About the other payment modules, have you tried to contact the module's author about this issue, if you need an update for those modules for the new release PS1.7.6.0?

Thanks to check with them & feedback.

[2019-07-16 08:23] khouloudbelguith commented on #14632
Hi @tuhingr,

You have some issues with the `codazonmegamenupro` module & `inixframe` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-07-16 08:23] #14632 closed, assigned to nobody

[2019-07-16 08:39] flyman30 commented on #14648
Yes I joined the provider of the payment module by credit card, we found that if we do a new installation of a shop in 1.7.6.0, the banking module works!
On the other hand by updating version 1.7.5.2 -> 1.7.6.0 the module displays the security error (in fact PBX_DEVISE: 0 is zero in the transmission of the basket)

De : khouloudbelguith <notifications@github.com>
Envoyé : mardi 16 juillet 2019 10:

[2019-07-16 08:41] flyman30 commented on #14648
In debug mode i have this,

`[PrestaShopDatabaseException]
Table 'boutique.ps_aninstagram' doesn't exist

SELECT m.`id_insta`, m.`position`
            FROM `ps_aninstagram` m
            WHERE m.`id_shop` = 1
            AND `active` = 1
            AND m.`id_shop` = 1
            GROUP BY m.`id_insta`

at line 769 in file classes/db/Db.php
764.         if ($webservice_call && $errno) {
765.

[2019-07-16 08:52] khouloudbelguith commented on #14648
@flyman30, this issue occurs due to the `aninstagramfeed` module.
Have you tried to contact the module author about this issue?

Thanks!

[2019-07-16 08:54] Quetzacoalt91 commented on #14648
The original issue may be related to https://github.com/PrestaShop/PrestaShop/issues/14608.

When we upgrade to 1.7.6.0, prices are displayed with 6 decimals, which could explain why payment modules can't work after an upgrade.

[2019-07-16 08:59] samuel-pires commented on #14650
Hello @PrestaShark,

Thanks for the feedback, we'll study it 👍

Can you give me more info about the cart rule your customer wants to create?

[2019-07-16 09:14] samuel-pires commented on #14628
Thanks for the feedback @Peter4661!

@PrestaShop/prestashop-core-developers, what do you think about it? Is it something you have already discussed/considered in the team?

[2019-07-16 09:21] Klemart3D commented on #14617
Same issue when upgrading from 1.7.5.2 to 1.7.6.0 with  1-Click Upgrade 4.9.0 and PHP 7.2.
Upgrade process finished successfully.
BO page error are: products, category, brands, customers, cms pages, taxes, contacts, seo url, emails, employees, sql-requests, logs and webservice.

![Column not found: 1054 Unknown column 't0.filter_id' in 'field list'](https://user-images.githubusercontent.com/741952

[2019-07-16 09:23] khouloudbelguith commented on #14646
Hi @Daniel-Informax,

Thanks for your report & your feedback.
Isn't similar to this issue: #9920?

Thanks!

[2019-07-16 09:23] PrestaShark commented on #14650
Hi @samuel-pires thanks for Your time.
It's quite "simple". He wants to create catalog discount based on that RRP price (manufacturer price) instead of prestashop final price.

So RRP is 499zł and he want to be able to make 30% discount from this price to get 349zł.
This kind of catalog rule will be **VERY** usefull for retailers to manage seasonal SALE offers.

Also this rule should have top prio

[2019-07-16 09:26] yoss55 commented on #14617
Hi ,
i resolved the problem
the issue :
when you look you’re module clik upgrade you see 4.9.0 but in fact you have the version 4.7.0

you must to restore you’re backup and you uninstall the module clik upgrade you downlode the module at prestashop you install it

you make the permission 777 after you upgrade and everithing it’s gone be ok !

Le 16 juil. 2019 à 11:21, Klemart3D <notifications@gith

[2019-07-16 09:34] Klemart3D commented on #14617
Do you have a floating red star on SEO & URL page?
![red-star](https://user-images.githubusercontent.com/7419525/61283532-96131000-a7bd-11e9-888b-24c6b733bba2.png)

[2019-07-16 09:36] PierreRambaud commented on #14628
Duplicate of #10356

We all agreed webp must be supported. Maybe for 1.7.7, or if you're able to help us and create a pull request :)

[2019-07-16 09:36] #14628 closed, assigned to nobody

[2019-07-16 09:36] yoss55 commented on #14617
YES i had it
you have the same problem like me !

Le 16 juil. 2019 à 11:35, Klemart3D <notifications@github.com<mailto:notifications@github.com>> a écrit :

Do you have a floating red star on SEO & URL page?
[red-star]<https://user-images.githubusercontent.com/7419525/61283532-96131000-a7bd-11e9-888b-24c6b733bba2.png>

—
You are receiving this because you were mentioned.
Reply to this email direct

[2019-07-16 09:40] 01park opened #14672 "Backoffice quick search - email / customer view redirect to customer page"
I noticed that when using the BO search for a customers name or on email adres. After finding the result and clicking on the found customer. When clicking on view, it doesn't open the page with the customer, but redirects to the customer page with all customers where you have to look once again for the customer your searching for. This was not the case in previous versions

PrestaShop version:1.7.

[2019-07-16 09:43] khouloudbelguith commented on #14617
Hi @yoss55, @Klemart3D,

I did not manage to reproduce the issue with PS1.7.6.0  fresh install & after an upgrade from PS1.7.5.2
In fact, this issue is fixed in the last version of PS1.7.6.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14220 to fix the issue which is reported here: https://github.com/PrestaShop/PrestaShop/issues/14205

Thanks!

[2019-07-16 09:46] khouloudbelguith commented on #14672
Hi @01park,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1vE4EEX2cdDq3aN-frkaSFQ4Bbnch59wt/view
Thanks to check & feedback.

[2019-07-16 09:53] tomas862 commented on #13943
@matks fake PR here https://github.com/friends-of-presta/demo-cqrs-hooks-usage-module/pull/4 regarding the problem.

[2019-07-16 09:55] PrestaShark commented on #14650
Main problem in many stores is that "Final Price" is "floating" price.
At begining that price is near "manufacurers price" but in time this price is manually changed by staff (altered).

When they want to create sale offers then sometimes sales below price may occour... Retail Price will be savior in that cases IMO.

[2019-07-16 09:58] 01park commented on #14672
Hi,

Sorry, I probably was not clear

<img width="1292" alt="Screenshot 2019-07-16 at 10 57 33" src="https://user-images.githubusercontent.com/46492443/61285332-a7a5e900-a7b8-11e9-9850-a41bdb78c1ee.png">

Im talking about this search option

[2019-07-16 10:01] PrestaShark commented on #14650
![discount](https://user-images.githubusercontent.com/8243273/61285587-81387b80-a7c1-11e9-9e57-8bf718f74e35.png)

[2019-07-16 10:04] colinegin commented on #11299
Hello @disarci,

Since we have had no news for a few months, I will close this issue.
Feel free to re-open it or write a new issue if needed !

Have a nice day,

Coline

[2019-07-16 10:04] #11299 closed, assigned to colinegin

[2019-07-16 10:05] 01park commented on #14672
<img width="1789" alt="Screenshot 2019-07-16 at 11 00 10" src="https://user-images.githubusercontent.com/46492443/61285772-74178e80-a7b9-11e9-85c0-479a22bac909.png">

<img width="1784" alt="Screenshot 2019-07-16 at 11 00 35" src="https://user-images.githubusercontent.com/46492443/61285844-8d203f80-a7b9-11e9-9b2b-6f58c44f5b29.png">

<img width="1752" alt="Screenshot 2019-07-16 at 11 01 25" src="htt

[2019-07-16 10:05] Klemart3D opened #15187 "Missing "markbaker/matrix/classes/src/functions/adjoint.php""
**Describe the bug**
During autoupgrade from PS 1.7.5.1 to 1.7.6.0 an error 500 appears.

**Upgrade environment (please complete the following information):**
 - Version you started from: 1.7.5.1
 - Version you upgrade to: 1.7.6.0
 - Way of upgrade: Web
 - Step concerned: upgrade code

**Displayed log**
[code]

**Expected behavior**
A clean install without error 500.

**Server (please complete the

[2019-07-16 10:06] colinegin commented on #12136
Hello @disarci,

Since we have had no news for a few months, I will close this issue.
Feel free to re-open it or write a new issue if needed !

Have a nice day,

Coline

[2019-07-16 10:06] #12136 closed, assigned to colinegin

[2019-07-16 10:09] khouloudbelguith commented on #12411
Hi @johanlantz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-16 10:09] #12411 closed, assigned to nobody

[2019-07-16 10:09] khouloudbelguith commented on #12519
Hi @lewis2413,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-16 10:09] #12519 closed, assigned to nobody

[2019-07-16 10:10] khouloudbelguith commented on #12983
Hi @Tomskor,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-16 10:10] #12983 closed, assigned to nobody

[2019-07-16 10:11] Hlavtox commented on #14666
@khouloudbelguith https://drive.google.com/file/d/16IYAtpvPofv5NE5caBQU0zv8D9dOhVHJ/view

[2019-07-16 10:11] khouloudbelguith commented on #13205
Hi @Ksawery88,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-16 10:11] #13205 closed, assigned to colinegin

[2019-07-16 10:12] MEGA911 opened #14674 "ContextErrorException jxsecuritypanel.php"
**Describe the bug**
We don't have access to the Back-Office : ERREUR 500 => Only on mode debug and when i stay on regular mode I have a big bug on the front and vice versa

**To Reproduce** Active the debug mode via FTP : defines.inc.php
Steps to reproduce the behavior:
1. Go to 'https://www.march-lab.com'
2. Click on 'women or men'
4. See error

**Screenshots**

(1/1) ContextErrorExceptionWarnin