[2021-03-09 14:37] #23168 closed, assigned to JevgenijVisockij

[2021-03-09 14:42] hibatallahAouadni commented on #23577
Hello @Bahwaimongars

Is this a fresh install? or did you upgrade lately?
Please check and feedback.

Thanks!

[2021-03-09 14:44] hibatallahAouadni commented on #23578
Hello @Braian70

Please send your request in English. English is the norm on GitHub.

Thank you

[2021-03-09 14:44] #23578 closed, assigned to nobody

[2021-03-09 14:44] hibatallahAouadni commented on #23280
Hello @Delota ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-09 14:44] #23280 closed, assigned to nobody

[2021-03-09 14:45] hibatallahAouadni commented on #23267
Hello @riga75 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-09 14:45] #23267 closed, assigned to nobody

[2021-03-09 14:48] hibatallahAouadni commented on #23575
Glad to hear :tada:
Thanks for your feedback!

[2021-03-09 14:53] Braian70 commented on #23578
Describe the bug
A clear and concise description of what went wrong.

Expected behavior
Explain what you expected to happen instead.

Steps to Reproduce
Steps to reproduce the behavior:

Go to 'products'
Click on 'filter by categories'
Scroll down to 'choose category, it works fine, if I want to change another category, again I have to open category one by one'
See error ： Before category is expan

[2021-03-09 15:09] #22897 closed, assigned to NeOMakinG

[2021-03-09 15:12] NeOMakinG commented on #23577
Did you mean : 1.7.7.1?

[2021-03-09 15:15] #23397 closed, assigned to NeOMakinG

[2021-03-09 15:17] hibatallahAouadni commented on #23571
Hello @futurehousestore

As I mentioned above I didn't manage to reproduce your issue with the provided informations.
So, could you please provide more infos to help me reproducing the issue.
When, I'll be able to reproduce, then, I will reopen the issue :wink:

Thanks!

[2021-03-09 15:22] Braian70 opened #23580 "Keep the category tree expanded"
#### Is your feature request related to a problem?

After applying a filter by category in the BO product list, if you wan to change the filter for another category you have to click on each category to open the tree.

#### Expected behavior
Keep the category tree expanded to the selected category

#### Steps to Reproduce

1. Go to Catalog > products
2. Click on 'filter by categories'
3. Choose ca

[2021-03-09 15:54] MatShir commented on #23396
@PierreRambaud are the specification okay to you ?

[2021-03-09 16:13] PierreRambaud commented on #23396
@MatShir It's up to you to tell me if specifications are ok :wink:

[2021-03-09 16:21] hibatallahAouadni commented on #23570
Hello @mullerpetr76

Just to make sure, in the first step you create a customization for a product (with this blank schema WS):

[code]

And for the cart, did you use this blank schema:

[code]

Please check and feedback.

PS: it will be better if you could provide the request body that you used :wink: (for creating the customization or the cart)

Thanks!

[2021-03-09 16:45] hibatallahAouadni commented on #23580
Hello @Braian70

Could you please explain more this point :pray:
Please check this screen record below and tell me where the issue exactly:

https://drive.google.com/file/d/1-isPYV2KCQtdr9CvzkaS5QDJ0KTmDzhV/view

PS: I know it shows 1.7.7.2 in my screen record, but it's ok, I just need to figure out the issue :wink:

Thanks!

[2021-03-09 16:59] prestascott commented on #23504
Hi @PululuK, this is a nice improvement!

I'm just not sure about the module infos' position in Config Page. It's low-key because it's under the container/card, but what happens if the container/card is way to big and exceed the web waterline? The infos will be "hidden".

I think we can put the infos next to the module's name so they will be available anytime! Like this:
- Banner - v2.1.1 - by **P

[2021-03-09 17:51] mullerpetr76 commented on #23570
Many thanks for feedback.
1) Created cart
POST /carts
Body:
<?xml version="1.0" encoding="UTF-8"?>
<prestashop xmlns:xlink="http://www.w3.org/1999/xlink">
    <cart>
        <id_address_delivery>8</id_address_delivery>
        <id_address_invoice>8</id_address_invoice>
        <id_currency>3</id_currency>
        <id_customer>5</id_customer>
        <id_guest></id_guest>
        <id_lang>1</id_lan

[2021-03-09 19:40] Braian70 commented on #23580
Thank you for answering.
I always work with a lot of category, if I choose the category that I want, then I want to choose another category, I have to select from the beginning, so I waste a lot of time, before with 1.6, chosen category continues to maintain panel.

Example: enter category iphone 11 case, I need 4 click, okay, now I want to enter iphone x case, again 4 click, before in 1.6 categor

[2021-03-09 21:30] bullmade opened #23586 "Redesign of backoffice header and backoffice menu"
## Redesign suggestion

I've really waited a long time for PrestaShop to redesign the not-so-pretty header and the even uglier navigation (sorry). But no progress so far, so i made a decent mockup myself.

### Design
![image](https://user-images.githubusercontent.com/16975198/110540262-8c72b480-8126-11eb-80b5-56c41983bff3.png)

Design can be seen in a browser here (not interactive, just an image):

[2021-03-09 21:55] bmcarvalho opened #23588 "Uncaught Exception: Variable "severity Message" does not exist"
#### Describe the bug

After upgrading to 1.7.7.2 everytime some one logs in to backoffice email is sent to owner reporting error log

![image](https://user-images.githubusercontent.com/80357797/110543298-0a808c80-8122-11eb-8f72-2b94d98c7058.png)

Severity should be 1-5 and not 127

when debuging and trying to accces log agains i get the following error

Variable "severityMessage" does not exist.

[2021-03-09 21:56] PululuK opened #23589 "Add module overrides informations BO/Addons"
## Is your feature request related to a problem?

Modules containing overrides are quite delicate, currently the only way to know if a module contains overrides or if it has been overridden, is to go to FTP.
There is a good job that has been started here https://github.com/PrestaShop/PrestaShop/pull/21375 by @unlocomqx, But this is not enough.

## Describe the solution you'd like

It would be inte

[2021-03-09 22:03] matks commented on #23589
Hi @PululuK addons.prestashop.com is outside of the scope of the project.

That being said... modules soldon addons.prestashop.com are strongly **discouraged** to have overrides I think? So is there really a need?

[2021-03-09 22:11] PululuK commented on #23589
Hi @matks
I recently discussed with @eternoendless regarding modules containing overrides on addons (yes I do sometimes buy modules containing overrides on addons). I know that this is not related to the open-source project, but I put it case even to bring up the information, otherwise I can remove this part in my issue.

[2021-03-09 23:39] costads commented on #23573
I just tried it on the official demo as well. Dashboard is working fine, orders is not.
I tried to check a lot of pages in BO, and the only common thing I can find is that bubbles are working on URLs ending with:
token=xxxxxxx
Bubbles are not working on URLs with this token:
?_token=xxxxxxx

Just a wild guess, I don't know:)

![github2](https://user-images.githubusercontent.com/67175129/110553167-

[2021-03-10 03:58] chenhaichen1002 opened #23591 "404 appears on product img"
When I upload photos through the background.
Found that the photo shows 404.
His address is wrong, it will be displayed as /.jpg
Can you help confirm or repair
I have tried to clear the cache, but to no avail

![スクリーンショット 2021-03-03 103759](https://user-images.githubusercontent.com/45970452/110574723-08a9de00-81a1-11eb-9df6-8b1352d6a3d5.jpg)

[2021-03-10 08:27] hibatallahAouadni commented on #23586
Hello @bulldesign

Thanks for the design and the specifications :clap: :rocket:
Let's ping the Product Team :wink: Stay tuned!

Ping @PrestaShop/product-team @PrestaShop/ux-team we have new design proposal, enjoy it :wink:

[2021-03-10 09:00] hibatallahAouadni commented on #23588
Hello @bmcarvalho

Could you please provide your previous PrestaShop version and the 1-click upgrade module version.
Cause I just check with three shops and I didn't encounter your issue:
- 1.7.7.0 upgraded to 1.7.7.2: no problem
- 1.7.6.4 upgraded to 1.7.7.2: no problem
- 1.7.4.1 upgraded to 1.7.7.2: no problem

![image](https://user-images.githubusercontent.com/23308427/110603496-5d405f80-8187-1

[2021-03-10 09:04] #23526 closed, assigned to jf-viguier

[2021-03-10 09:13] bulldesign commented on #23586
Nice 👍
I updated the post with some other alternative versions, one which is focused on the Quick Access menu.

[2021-03-10 09:17] madsoliver opened #23592 "Sorting issue on Stock and Movement pages"
#### Describe the bug
Sorting alphabetically does not work on `Stock and Movements Pages`.
Please see screenshot:
![Screenshot 2021-03-10 at 10 04 45](https://user-images.githubusercontent.com/30602638/110604770-b8268680-8188-11eb-82db-c32ac3475af0.png)

#### Expected behavior
Compared to the same listing under `Catalog>Products` you can see the sorting for the same product how it's supposed to be

[2021-03-10 09:30] hibatallahAouadni commented on #23589
Hello @PululuK

Thanks for the suggestion, I don't know about `modules sold on addons.prestashop.com are strongly discouraged to have overrides` but what I do know for sure is that a lot of merchants are having many issues that I cannot reproduce due to **Disable the overrides** button not working (#14596).
IMHO, I think it'll be great to add this feature (if we can), to help merchants know the re

[2021-03-10 09:31] bmcarvalho commented on #23588
Good morning

Always using last stable version

Updated from 1.7.7.0 (last stable ) to 1.7.7.2

1 click upgrade : V 4.12.0

best regards

Bruno Carvalho

[2021-03-10 09:40] Maofree opened #23593 "Problems with the hidden steps of the default checkout"
Hi
the checkout with hidden steps was a bad decision, sa I reported in the past, because it is much better to have that opened like with the checkout sold on Addons.
today I have spoken with an agency specialized on seo and ads and the report that the default checkout is a wrong decision due to the "continue" button that create a page reload. So this problem send 3 page view and in some cases it c

[2021-03-10 09:43] #23591 closed, assigned to nobody

[2021-03-10 09:50] #20463 closed, assigned to sowbiba

[2021-03-10 09:56] hibatallahAouadni commented on #23592
Hello @onklmaps

I don't think that the product list in **Stock and Movements** pages are sorted alphabetically, it seems to me that they're sorted by the products ids. See the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/110610538-a0520100-818e-11eb-822d-988f8d3f8a37.png)

---
### Product page sorted by id

![image](https://user-images.githubusercontent.

[2021-03-10 10:00] hibatallahAouadni commented on #23588
Hello @bmcarvalho

As I mentioned above I upgraded my shop from 1.7.7.0 to 1.7.7.2 and I didn't encounter your issue.
Did you encounter any issue while upgrading?

Thanks!

[2021-03-10 10:01] onklmaps commented on #23592
@hibatallahAouadni Please check my screenshots for selected sorting: alphabetically for both of them 👍

[2021-03-10 10:20] bmcarvalho commented on #23588
good morning

During the update process no issue. started to receive the log emails on the first log in after the update

correction updated from 1.7.7.1  to 1.7.7.2.

now all shop just crashed. will try to restore last backup and update again

Best Regards

Bruno Carvalho

[2021-03-10 10:30] Hlavtox commented on #23569
I think it would be a good addition.
- I want to sell gas grills. I want to add functions filter - temp gauge, side heater, electric flame start. I can't.
- I want to sell laptops. I want to add ports filter - hdmi, dvi, vga. I can't.
- I am making a food store and I want to have allergies filter - without lactose, without gluten. I can't.

[2021-03-10 11:12] hibatallahAouadni commented on #23593
Hello @maofree

Thanks for your suggestion :wink:
Originally posted #15406

Ping @PrestaShop/product-team I think @maofree make it crystal clear that the strategy of the default checkout hidden steps has a lot of flaws and it would be better if we could replace it, so wdyt?

[2021-03-10 11:54] brunopacory commented on #23412
Hi, My version is 1.6. Nothing in the documentation about my specific problem. Anyone to assist regarding both of my questions ?

[2021-03-10 12:49] lordchukz opened #23595 "Vatnumber module"
Hi,

I know this module has been archived, but still hope I can get support for it.

Needing to exempt vat for European Union customers, I searched the whole web unfortunately not being able to find a configuration solution.

Luckily I came up with the Vatnumber ( https://github.com/PrestaShop/vatnumber ) module but to my disappointment it does not work on my prestashop version.

Actually, when I

[2021-03-10 13:37] hibatallahAouadni commented on #23595
Hello @lordchukz

I'm really sorry but as you know this module has been archived and it’s no longer maintained :confused:
But you still can fork it if you need it for your shop.
Also let us know if you are voluntary to maintain this module.

Sorry again, I cannot provide support. So if you need help, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, yo

[2021-03-10 13:37] #23595 closed, assigned to nobody

[2021-03-10 14:06] cbatista8a opened #23596 "Login to the BO don't work"
don't login with my credentials after clean install and show me only the name of my shop [screenshot](https://drive.google.com/file/d/1W55T44ABSZDpzflFzk4Hp_xvQjeCkRCt/view?usp=sharing).

The Front work normally

Prestashop: 1.7.7.2
PHP: 7.3.24
MySQL: 8.0
Server: Apache

[2021-03-10 15:11] NeOMakinG opened #23598 "Some responsive issues on module modal and payment methods tabs"
#### Describe the bug

Modal on module page is out of shape

Modal cross on module page should be at top right on 16px

Tabs should be collapsed to the border of the modal

![image](https://user-images.githubusercontent.com/14963751/110650793-23894c00-81bb-11eb-9d1b-fd25ea2cca33.png)

#### Additional information

* PrestaShop version: develop

[2021-03-10 15:24] hibatallahAouadni commented on #22262
Hello everyone,

As I mentioned above I couldn't manage to reproduce the issue (see my [comment](https://github.com/PrestaShop/PrestaShop/issues/22262#issuecomment-754539103)).
For people who are still stuck with this issue, you have three solutions provided by our beloved contributors:

### 1st solution by @Stampa-Stampa

Check your port, if it's not working => change it :wink:

### 2nd solution

[2021-03-10 15:24] #22262 closed, assigned to nobody

[2021-03-10 15:35] hibatallahAouadni commented on #23596
Hello @cbatista8a

I think you may need to reinstall your shop cause it seems you miss something while installing, and check if you encounter any warning or error while installing.

Sorry but I have to close this issue cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need

[2021-03-10 15:35] #23596 closed, assigned to nobody

[2021-03-10 15:50] Seb33300 opened #23600 "Customer can register with invalid email"
#### Describe the bug

The registration form allow customer to enter invalid email addresses.
For example, if you try to register using the email `test@email`, it works.

#### Expected behavior

Registration form should display an error message.
A valid email address should be `test@email.com`.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to account creation form
2. Fill the f

[2021-03-10 15:53] hibatallahAouadni commented on #23588
Hello @bmcarvalho

Even when I upgrade my shop from 1.7.7.1 to 1.7.7.2 I didn't encounter your issue:

![image](https://user-images.githubusercontent.com/23308427/110657291-02c3f500-81c1-11eb-80fb-e1bed8a745c7.png)

Please check and feedback.
Thanks!

[2021-03-10 16:29] hibatallahAouadni commented on #23600
Hello @Seb33300

Could you please check this issue #22131 you may find your answer :wink:
This issue is a duplicate of #22131.

Thanks!

[2021-03-10 16:29] #23600 closed, assigned to nobody

[2021-03-10 16:29] hibatallahAouadni commented on #23600
Duplicate of #22131

[2021-03-10 16:52] hibatallahAouadni commented on #23600
Hello @Seb33300

I think you misunderstood, @matks said that:

It doesn't mean that the issue will be fixed with PS1.7.7.0, but it means that's the intended behavior:

- **demo@prestashop** is a valid mail :wink:

_PS: please read the comments on that issue to better understand._

Thanks!

[2021-03-10 17:12] matks commented on #23600
Confirmed. @Seb33300 You can add more validation rules in your shop to reject `test@email` but in the Core we must handle all possible usecases and not restrict usages. So we must accept `test@email`.

[2021-03-10 17:23] hibatallahAouadni commented on #23573
Hello @costads

Thanks for digging deeper :clap:

Bubbles are not working on URLs with this token: `?_token=xxxxxxx`

Yes, I think that's the case too :sweat_smile:

With **Dashboard** page, I didn't manage to reproduce the issue, see the attached screen record below:

https://drive.google.com/file/d/1xCawTsxsbTToCRqWWKoMMqPglt3y0pI7/view (from 0:35)

With the **Order** page, I reproduce the issue

[2021-03-10 17:42] alejandrocastanon commented on #9967
Same issue on 1.7.6.9
@Tobal66 , I've tried your fix without luck

[2021-03-10 17:49] hibatallahAouadni commented on #23517
Hello @ballashop

Any news about your issue?

Thanks!

[2021-03-10 21:22] nojus297 commented on #22288
Hello!
May I revive this?
I recently had the same issue while upgrading prestashop `1.7.6.8` to `1.7.7.0`, with the errors saying exactly the same.
I also noticed a change in vendor directory structure, which seems to have caused the problem. For comparison:
[code]
[code]
thus the `TacticianBundle.php` file is nested deeper down in later release, and php cannot find it anymore as it is moved to `s

[2021-03-10 21:31] hibatallahAouadni commented on #23580
Hello @Braian70

What you suggest is an improvement and not a bug :wink:
You suggest to adopt the same structure of Categories tree that we use to have with PS1.6:

![search_cat_1 6](https://user-images.githubusercontent.com/23308427/110697248-5f88d500-81ec-11eb-949e-aac97308bc72.png)

But, I notice that with PS1.7.7.0 and PS1.7.7.2, when we select a category to search and then we reopen the categ

[2021-03-10 21:39] hibatallahAouadni commented on #23491
Hello @Morerice

Thanks for your feedback and you suggestion!
The Product Team will take a look, please stay tuned :wink:

Ping @PrestaShop/product-team @Morerice suggest to create a translation fallback to solve this kind of issue (#16168, #16421), wdyt?

[2021-03-10 21:52] agostinofiscale commented on #22565
Should I ping anyone? @khouloudbelguith

[2021-03-10 22:00] hibatallahAouadni commented on #23548
Hello @Kaktusodlarn

At first I encountred some cache issue while searching for product (pack) and after enabling the **Debug Mode**, the issue is gone. And just to be sure, I disabled the **Debug Mode** and I didn't encounter the cache issue again:

https://drive.google.com/file/d/1VjGrwwhJa-FWn95yx8ZoiTuSvl1IxPfl/view

So, I tried searching a pack product and a product with combinations and it w

[2021-03-10 22:06] hibatallahAouadni commented on #23547
Hello @costads

Thanks for your feedback!
I didn't manage to reproduce the issue, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/110704453-433d6600-81f5-11eb-84a6-9d7b8c84085b.png)

Please check and feedback.
Thanks!

[2021-03-10 22:48] hibatallahAouadni commented on #23534
Hello @Hlavtox

So we should delete these lines:

[code]

Cause the PreOrder definition is:

(originally posted [here](https://support.google.com/merchants/answer/6324448?hl=en))

It seems to me this issue is an improvement more than a bug :wink:
Let's see with the Product Team, stay tuned!

Ping @PrestaShop/product-team I think it'll be better if we only assign the **`PreOrder`** value to the `$s

[2021-03-11 02:06] afterglow93 commented on #14816
Hi,

I didn't managed to reproduce issue on PS 1.7.6.8 but i still have this issue also.
It seems to be related to theme (unexpected error on variable).

Something pretty strange also, when cacheApc is enabled, ps_mainmenu keep enabled, but the menu completely disappear ?
When disabled, menu come back, but disable itself randomly.

How can we change this ? Something turn it to disabled in core or

[2021-03-11 06:54] ipehimanshu opened #23603 "How to by pass login authentication into 1.7.X version"
Hello

i want to by pass authentication for user and auto login based on email or customer id,
so any one please help me achieve that logic,
I am new to prestashop.

Thanks in advance.

[2021-03-11 08:09] florine2623 commented on #23603
Hello,

We are not going to tell you how to do so for security reasons.

Thanks.

[2021-03-11 08:09] #23603 closed, assigned to nobody

[2021-03-11 08:13] #23102 closed, assigned to NeOMakinG

[2021-03-11 09:28] khouloudbelguith commented on #23592
Hi @onklmaps,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9629
So, I close it.
Thanks!

[2021-03-11 09:28] #23592 closed, assigned to nobody

[2021-03-11 09:28] khouloudbelguith commented on #23592
Duplicate of #9629

[2021-03-11 09:28] matks commented on #23544
Without doing an extensive summary of all the code we are talking about, I cant answer accurately. But the target for this issue will be:

**After we have done the cleaning, there must be no logic in PrestaShop that depends on VatNumber module being installed**.

However _every feature currently provided by a combination of the Core and the VatNumber module installed should be achievable by instal

[2021-03-11 09:34] nesrineabdmouleh opened #23604 "[BO] - Order page - No pagination when we add 9 products to cart"
#### Describe the bug

On BO > Orders > Order page, when we edit an order and add some products in the list to have 9 products, the 9th product is not displayed.

#### Expected behavior

We should have 2 pages in the table when the selected items per page are 8.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'BO > Orders''
2. Choose an order from the list
3. Add 9 products to

[2021-03-11 09:42] matks commented on #22565
Hi @agostinofiscale it looks like `pSQL()` does something wrong for me 🤔 .

There must be a way to store characters like `<` and `>` in SQL in a safe way? Like escape them?

[2021-03-11 09:50] matks commented on #22288
Hi @nojus297 you are right.

In PrestaShop 1.7.6, [thephpleague/tactician-bundle](https://github.com/thephpleague/tactician-bundle) v0.4.1 was used.
In PrestaShop 1.7.7, [thephpleague/tactician-bundle](https://github.com/thephpleague/tactician-bundle) v1.2.0 is used.

However this change should be handled by Composer. There might be some composer cache so your shop still looks for old directory.

[2021-03-11 09:54] matks commented on #19627
As mentioned, closed as duplicate of https://github.com/PrestaShop/PrestaShop/issues/14527

[2021-03-11 09:54] #19627 closed, assigned to nobody

[2021-03-11 09:55] matks commented on #19262
Decision has been made. Documentation will be written.

[2021-03-11 09:55] #19262 closed, assigned to nobody

[2021-03-11 09:56] matks commented on #17937
@marionf We did not observe this issue since a long time so I think we can close it. There is no more value to do it.

[2021-03-11 09:56] #17937 closed, assigned to nobody

[2021-03-11 10:01] khouloudbelguith opened #23605 "BO - Merchandise Returns - The help button is NOK"
#### Describe the bug

In the Migrated page `Merchandise Returns`, the help button is NOK
Some errors are displayed in the console
![image](https://user-images.githubusercontent.com/16067358/110769805-e1164c80-8258-11eb-9373-d1594f898fc0.png)

#### Expected behavior

The help modal should be well displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > admin-dev/index.ph

[2021-03-11 10:10] khouloudbelguith opened #23606 "BO - Merchandise Returns - Cannot save Merchandise return (RMA) options"
#### Describe the bug

In the BO > Merchandise Returns migrated page, In the `Merchandise return (RMA) options`, we cannot save any option, it is not possible to enable Merchandise return and we can't change the `Time limit of validity` and `Return prefix` values

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > admin-dev/index.php/sell/customer-service/merchandise-return/

[2021-03-11 10:21] khouloudbelguith opened #23609 "BO - Multistore - Merchandise Returns - An exception is displayed when we select a shop"
#### Describe the bug

Multistore enabled, In the BO > `admin-dev/index.php/sell/customer-service/merchandise-return/` page when we select a shop, an exception is displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable Multistore Context
2. Create a new shop
3. In the BO > Select All shops
4. BO > `admin-dev/index.php/sell/customer-service/merchandise-return/` page (All sho

[2021-03-11 10:27] khouloudbelguith opened #23610 "BO - Multistore - Merchandise Returns - The Multistore block & checkboxes are not displayed when selecting a shop"
#### Describe the bug

Multistore enabled, In the BO > admin-dev/index.php/sell/customer-service/merchandise-return/ page when we select a shop, The multistore block and checkboxes are not displayed

#### Expected behavior

![image](https://user-images.githubusercontent.com/16067358/110772979-84b52c00-825c-11eb-9baa-ac681f32c8f5.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. E

[2021-03-11 10:59] jf-viguier commented on #23544
OK, sounds good to me

[2021-03-11 11:20] tswfi opened #23612 "Visibility settings for features"
#### Is your feature request related to a problem?

As a merchant I sometimes want to save some extra information to products just for me.

Features is a nice way to add information to products but they are always visible for customers also.

#### Describe the solution you'd like

Setting for feature so that is not shown in storefront but only as a extra information for the merchant.
Perhaps a set

[2021-03-11 12:43] nojus297 commented on #22288
Hi and thanks for the reply.

Update: I tried to rollback using the autoupgrade tool, which failed also but at least reverted the files. After that I reverted the database using manual backup and the shop was working again in `1.7.6.8`.
I then cleared the cache using the button in back office and changed default language of the site to English, as reported earlier by **RayKoni**.

Then I tried upg

[2021-03-11 12:48] papich06 commented on #22634
@matks Thanks for your reply
Would you know how to do this pdf display?
I would like @prestashopteam  to answer because for the RGPD it would be clearer and more efficient to display the PDF of the technical sheets on the product page but also for the general conditions for creating an account or order

[2021-03-11 12:51] florine2623 commented on #23612
Hello @tswfi ,

Thanks for the suggestion.
Could you also provide a mock-up of what it would look like ?
Thanks!

[2021-03-11 13:15] wilva commented on #23544
Turns out that there are actually issues with the VAT module and 1.7.7.2.
It still adds vat even after adding a valid VAT number, I was sure I had tested it, but seems I somehow missed that.
I then looked at what changed in core between my last correct working version 1.7.6.9 and 1.7.7.2 and that brought back memories of me working on accounting software for a client over a decade ago.

Made me re

[2021-03-11 13:26] tswfi commented on #23612
![image](https://user-images.githubusercontent.com/1352132/110793454-4ed46f80-827d-11eb-96b9-9ccc2dd7a4b8.png)

but with the nice `x` and `checkmark` icons

![image](https://user-images.githubusercontent.com/1352132/110793675-93600b00-827d-11eb-8b58-527f85608460.png)

normal settings form for the feature.

And if type is "html textarea" the product editing:
![image](https://user-images.githubuserc

[2021-03-11 13:34] axome-lbelguendouz commented on #9818
Hi,

Same issue with PS1.7.7

Any idea ?

Thanks!

[2021-03-11 14:35] jf-viguier commented on #23544
@wicaksono can you explain what issues are you talking with 1.7.7 ?

[2021-03-11 14:51] Bahwaimongars commented on #23577
Sorry you can close,
webmaster error.

He use provider optimisation ( compress all files ) >_<

ty

[2021-03-11 15:06] #23577 closed, assigned to nobody

[2021-03-11 15:14] matks commented on #23235
@Julievrz @MatShir I just did this. Does this look good?

![Capture d’écran 2021-03-11 à 16 13 54](https://user-images.githubusercontent.com/3830050/110809060-de315100-8284-11eb-8ef1-c76d8fc86c1b.png)

[2021-03-11 15:23] florine2623 commented on #23612
Ping @PrestaShop/product-team ,

@tswfi is suggesting a new feature to add to the BO, what do you think ?

Thanks!

[2021-03-11 15:28] matks commented on #23235
@eternoendless How did you plan the `description_wording` and `description_wording_domain` fields to work? Are they a translation key and a translation domain?

If yes, our 1st Feature Flag will be Product Page V2 feature flag. So the data will look like this:
# name: "Product Page V2"
# state: false
# description_wording	"Beta Product Page V2"
# description_wording_domain "Admin.Product.Catalog"

[2021-03-11 15:48] wilva commented on #23544
Not sure what @wicaksono has to do with this thread, so I am assuming you mean me instead as my github name also starts with "wi".

It is what I said "It still adds vat even after adding a valid VAT number". Let me elaborate a bit.

IOW, a customer puts an item in the cart, goes to sign up, adds their company address -including a valid VAT number- and the price that is charged still includes VAT.

[2021-03-11 16:04] #23479 closed, assigned to NeOMakinG

[2021-03-11 16:12] #10910 closed, assigned to nobody

[2021-03-11 16:13] #11316 closed, assigned to nobody

[2021-03-11 16:15] matks commented on #12540
Topic now in the smart hands of @matthieu-rolland . No need to keep this issue, there are other issues open.

[2021-03-11 16:15] #12540 closed, assigned to nobody

[2021-03-11 16:18] matks commented on #13682
Ping @zuk3975 and @jolelievre I think the current SQL structure of stock_available is not stable enough so we can alter it?

[2021-03-11 16:19] matks commented on #13828
Added to https://github.com/PrestaShop/PrestaShop/issues/10586

[2021-03-11 16:45] matks commented on #23235
@eternoendless If what I understood above is right, your plan is to insert the description_wording into Crowdin so that Core Translation files contain the translations, right?

[2021-03-11 20:11] amoutiers commented on #20739
I'm not a Prestashop developer, but a PHP one, mainly Drupal. I came across this repo to help a friend with his online store.

If you have API changes, you must bump your next release to 1.8.0

I agree with updating to SF 5.3 (release in May) and provide Interface Wrapper will be your best scenario.

[2021-03-11 20:18] futurehousestore commented on #23571
Solved. I needed to regenerate webservices key for a module that syncs products from Prestashop to Dolibarr. I just wish the Prestashop error message would at least give a clue what is wrong instead of saying that the settings cannot be saved.

[2021-03-11 21:25] Ideoclic opened #23618 "Ecotax BO + Invoice"
#### Describe the bug

Problem calcul ecotax Invoice + ecotax BO !

#### Expected behavior

When calculating the price on the invoice, this is wrong! I take this product as an example (Screenshot),  normally the price should be tax excluded and not VAT in BO for product..

**Screenshots**

![produit](https://user-images.githubusercontent.com/80488574/110856384-dd65e280-82b7-11eb-88cf-d882834aa084.

[2021-03-11 22:09] dialt0n3 commented on #23396
I would really like to see this implemented
and am ready and waiting to beta test this
i need DKIM enabled ASAP

[2021-03-12 05:28] jose2344 opened #23619 "reporte de version no compatible"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-03-12 07:56] madsoliver opened #23620 "Create an order from this cart leads to ambiguous order page with no customer selected"
#### Describe the bug
In `Orders > Shopping Carts` then open an _abandoned_ (or *Non ordered*) cart **that has a customer connected to it**.
Inside the cart click the following button: `Create an order from this cart`
![Screenshot 2021-03-12 at 08 29 51](https://user-images.githubusercontent.com/30602638/110908064-96efa280-830e-11eb-8dac-3182eeb7b1cf.png)

**Clicking this leads you to a page with

[2021-03-12 08:05] florine2623 commented on #23619
Hello,
Please send a complete request in English. English is the norm on GitHub.

Thank you

[2021-03-12 08:05] #23619 closed, assigned to nobody

[2021-03-12 08:20] matks commented on #20739
We are rather targeting SF 4 instead of SF 5. We think jumping from SF 3 to SF 4 will introduce less BC breaks than SF 3 to SF 5 🤔  but I did not verify this.

I see why you say that 😄  but it's not that simple.

Also [in theory SemVer says that bumping Symfony version is not a BC break](https://semver.org/#what-should-i-do-if-i-update-my-own-dependencies-without-changing-the-public-api) but I dis

[2021-03-12 08:26] florine2623 commented on #23618
Hello @Ideoclic ,
If you want the product to show without tax, you should choose "No tax" :
![Capture d’écran 2021-03-12 à 09 26 09](https://user-images.githubusercontent.com/16019289/110913125-06689080-8315-11eb-8e31-26919fafe19c.png)
![Capture d’écran 2021-03-12 à 09 26 00](https://user-images.githubusercontent.com/16019289/110913140-09638100-8315-11eb-9d14-f04111f8d17f.png)

Please check an

[2021-03-12 08:32] Ideoclic commented on #23618
My invoice : I want taxe

![ApplicationFrameHost_V99XXnINuI](https://user-images.githubusercontent.com/80488574/110913742-cb1a9180-8315-11eb-947f-6378a76948cd.png)

[2021-03-12 08:56] florine2623 commented on #23618
I can't reproduce your issue :
![Capture d’écran 2021-03-12 à 09 52 59](https://user-images.githubusercontent.com/16019289/110916130-c3a8b780-8318-11eb-831a-eaa806fd8b95.png)

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of ou

[2021-03-12 08:56] #23618 closed, assigned to nobody

[2021-03-12 09:01] Ideoclic commented on #23618
For you is it normal that 17.85x3 = 53.56?

[2021-03-12 09:31] Julievrz commented on #23235
Thanks @matks
A few suggestions: Replace 'Experimental Feature' with 'Experimental **f**eature'
Replace 'Yes/No' with 'Enabled/Disabled'

[2021-03-12 09:34] matks commented on #23618
Hi @Ideoclic actually, yes, it can happen that 17.85x3 = 53.56 .

It might sound crazy 😄  but it's because what is actually stored in your shop is not 17.85 .

17.85 is likely what is displayed to you because only 2 decimals are shown. But in the database, we store a lot more decimals are they are needed for accurate computations.

Here is an example.

If your product price is actually 17.854€ bec

[2021-03-12 09:39] matks commented on #22971
Indeed, it will be added automatically.

I already investigated it, and I found nothing 😬  so ... I dont think I will get different results by doing the same 😅  ?

What is likely to happen is
- on your environments the issue appears
- on my environment the issue cannot be seen

Unless you shop your computer / server to me I dont see how I can explore this topic 😉  this is why I said

[2021-03-12 09:50] hibatallahAouadni commented on #23206
Hello @tom75 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-12 09:50] #23206 closed, assigned to nobody

[2021-03-12 09:55] florine2623 commented on #23620
Hi @onklmaps ,

The issue is fixed in develop branch, please check my screen record :
https://drive.google.com/file/d/1VjTw-yYmsFe5KoLf1QmzDpIlqceB0eqG/view

Please check and feedback

[2021-03-12 09:55] #14731 closed, assigned to eternoendless, marionf

[2021-03-12 09:56] Ideoclic commented on #23618
Hey !

I understand your point of view, and how can we only have 2 decimal when adding a product? Because for this product is 17.33333

[2021-03-12 10:06] Julievrz commented on #23235
Discover new PrestaShop features before their official release.

Are you sure you want to enable this experimental feature?

[2021-03-12 10:07] florine2623 commented on #23439
Issue is fixed in 1.7.8.
https://drive.google.com/file/d/1a8f7uggSs-OTyEPZVwKxSRCIPh6uArDs/view

[2021-03-12 10:07] #23439 closed, assigned to nobody

[2021-03-12 11:27] agostinofiscale commented on #22565
Hi @matks, it could be a good solution, there is already a function called bqSQL() to escape backticks before call pSQL() but how can we choose which characters to let use?

[2021-03-12 11:31] hibatallahAouadni commented on #23571
Hello @futurehousestore

Could you please open a new issue as a feature and suggest to improve the error message in this step.

Thanks in advance!

[2021-03-12 12:02] eternoendless commented on #23235
That's right. The way I see it, it should work pretty much the same way as the menu as implemented [here](https://github.com/PrestaShop/PrestaShop/pull/18082) (Maybe that will motivate you to merge that PR already 😛 ), except that the translated wordings don't need to be stored in a `_lang` table.

The name should be an identifier, best use the slug pattern, like `product_page_v2` if you will.

I

[2021-03-12 13:14] Julievrz commented on #23235
Hi @matks,

When looking at the wording of this issue and after discussing the potential risks of feature flags with @eternoendless , I think it is important to warn the users about the risks of enabling such features. I first suggested adding a tooltip next to the ‘Experimental features’ label, but I am now wondering if it is enough. Maybe a warning message would be more appropriate:

**Warning m

[2021-03-12 13:22] hibatallahAouadni commented on #9522
Hello @khouloudbelguith

I didn't manage to reproduce the issue with PS1.7.6.7 and PS1.7.7.2, see the attached screen record below:

https://www.awesomescreenshot.com/video/3041951?key=92a5c28e4c63cca1828756f38f66b818

I close this issue cause it has been fixed.

Thanks!

[2021-03-12 13:23] #9522 closed, assigned to nobody

[2021-03-12 14:14] ballashop commented on #23517
Hi @hibatallahAouadni,
sorry for my deley.
I have no news about it, I deleted the files as suggested by @matks.
Thanks a lot.
Balla

[2021-03-12 14:55] hibatallahAouadni commented on #23517
Hello @ballashop

Thanks for your feedback!
So, I close this issue :wink:

Thanks!

[2021-03-12 14:55] #23517 closed, assigned to nobody

[2021-03-12 15:08] crezzur commented on #23558
Pull request made to resolve issue https://github.com/PrestaShop/PrestaShop/pull/23625

[2021-03-12 15:42] ballashop opened #23626 "Allow multiple purchase as combination with quantity relation"
#### Is your feature request related to a problem?

Hi, at the moment it is not possible to sell multiple products in the same product schede on PrestaShop.
At the most it is possible to indicate a minimum product purchase but not a multiplex of them.
I'll explain better:
I can create an attribute named Quantity to use as a combination:
<img width="306" alt="Schermata 2021-03-12 alle 15 25 16" src

[2021-03-12 16:11] crishnakh commented on #15004
Hi, my problem was related to the config folder of the theme. And the theme.yml file inside.
I created a really basic file for my theme and now I can see it. I think it's a problem of the theme... it's not ready to the last version of prestashop.

My PST version was 1.7.7.2 .

[2021-03-12 16:11] crishnakh commented on #14887
Hi, my problem was related to the config folder of the theme. And the theme.yml file inside.
I created a really basic file for my theme and now I can see it. I think it's a problem of the theme... it's not ready to the last version of prestashop.

My PST version was 1.7.7.2 .

[2021-03-12 16:16] florine2623 commented on #23626
Hello @ballashop ,

I will ping the product team regarding your first suggestion.
Regarding the impact on Package Dimension, please open a new issue about it. These are 2 separate features.

Thanks

[2021-03-12 16:17] florine2623 commented on #23626
Ping @PrestaShop/product-team ,

What do you think about this ?
At the moment, linking stock quantity in combination on product sheet isn't possible through Attributes nor Specific Prices.

Thanks!

[2021-03-12 16:31] eternoendless commented on #23235
I disagree with suggesting people to put the shop in maintenance mode. People shouldn't activate experimental features in production, regardless of whether the shop is or not accessible, unless they know exactly what they are doing.

I think we can keep part of this idea though. When the user clicks on "Save" after enabling a feature, they get a confirmation message:

With 2 exit buttons:

- ‘Enab

[2021-03-12 16:41] Julievrz commented on #23235
@eternoendless Thanks for your feedback! Your wording suggestion for the confirmation message looks good to me! I will modify my comment. 😃

[2021-03-12 19:03] hibatallahAouadni commented on #23612
Hello @tswfi

I think what you are suggesting is this:

![image](https://user-images.githubusercontent.com/23308427/110981981-40af4d80-8368-11eb-9782-12e20ad0bdd6.png)

I don't know if it's needed but I think you can add it yourself by overriding the features :wink:
Well let's see the point of view of the product team, stay tuned!

Ping @PrestaShop/product-team @tswfi suggests adding a new attribu

[2021-03-12 19:03] hibatallahAouadni commented on #23558
Thanks @crezzur for your PR :tada:

[2021-03-12 19:11] KORCHID opened #23628 "Bug get Fields"
#### Describe the bug

some attributes return the default declared value
#### Expected behavior

For example `show_condition` return 0 always
#### Steps to Reproduce

My temporary solution:

1.  add a new function to `ProductCore`
[code]

2. call the function in `__construct`
`            $this->show_condition = $this->getShowCondition($id_product);
`
**Screenshots**

![Capture du 2021-03-12 16-49

[2021-03-12 19:36] tswfi commented on #23612
Term "status" sounds more like totally on/off.
"Visibility in SF" is the setting I'm after.
Yes I am aware that overriding or writing totally new feature is a possibilty, but I think adding new attributes to products is pretty basic core functionality for a webshop framework.

[2021-03-12 21:26] hibatallahAouadni commented on #23620
Hello @florine2623 & @onklmaps

As @onklmaps said, you need to wait 3 to 6 seconds till the cart shows and the customer is not displayed.
**Expected behavior**: the customer must be displayed along with the selected cart.

I manage to reproduce the issue with PS1.7.6.7, PS1.7.7.2 and develop. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you

[2021-03-12 21:32] hibatallahAouadni commented on #23628
Hello @KORCHID

Could you please provide steps to reproduce the issue and not steps of your solution :wink:
For your PR, you need to fill the provided table with your PR informations., for exemple:
For Category? => CO (it means the change is in the Core files)
For Fixed ticket? => #23628 (this issue id)
Please check and feedback.

Thanks!

[2021-03-13 11:04] julgarut commented on #12832
Hi, i change the code for this:
![image](https://user-images.githubusercontent.com/80578144/111027995-f8d60800-83f3-11eb-8cfa-a8fca3ed9988.png)

But it gives me the following error "An error occurred while attempting to move this picture."

 Do you know why?

[2021-03-13 12:07] wilva commented on #23544
FWIW, ran more tests and can now say that the problem was introduced in 1.7.7.0
Which tracks it down a little more.
Then I looked at what changed between 1.7.6.9 and 1.7.7.0, but there's soo many changes..
Tried a few ways on isolating where to look, but no success and I have no idea on where to look for patching this.

Starting to feel like that jumping ship and building a new shop is easier :*(

[2021-03-13 12:57] fedeanimation commented on #23291
Hi @hibatallahAouadni

I tried to deactivate the theme and setup the default, but the problem si still there.

I don't know I to solve ti front-end problem

[2021-03-13 13:53] matks commented on #23235
FYI for now I focus on
- implement the data model (with Doctrine)
- implement the BO page, which displays 1 switch per existing feature flag
- implement the logic which allows to enable/disable flags from the BO page using the switches and a "submit" button

When I'm done with these 3 tasks, I hope that wording and interface will be frozen so I can deliver them 😄 .

[2021-03-13 14:49] wilva commented on #23544
The problem appears to be that function getTaxCalculator in class VATNumberTaxManager in VATNumberTaxManager.php of the VatNumber module no longer gets called.
I have no idea why that is the case.

[2021-03-13 15:17] davidglezz commented on #14533
Igor Stępień (@Oksydan) wrote in slack this good compilation of main issues with classic theme:

Hi,
I think it is worth to write it outside of replay to start discussion on my point on view.
1. Let’s start with frameworks - first mistake with classic was using bootstrap 4.0.0 alpha w/o providing updated in later prestashop releases.
With new theme/rework we should make sure that dependencies stay

[2021-03-13 16:35] BenTen opened #23631 "Total shipping different when delete product in an other tab"
Hello,

A customer report a (maybe) bug.

#### Additional information

* PrestaShop version: 1.7.5
* PHP version: 7.2

[2021-03-13 20:15] Rus-Design opened #23632 "Wrong rewrite url on category page"
#### Describe the bug

If I add my text to the link (for example, /test) on the category page, error 404 should appear, but instead the link is overwritten and the product filter is included. nothing is happening on the page at this moment.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to category page and ad

[2021-03-13 20:57] ang3lx opened #23633 "fix escape in ps_1771_update_customer_note()"
#### Describe the bug

error on PS update when in note field there is "
“[ERROR] PHP 1.7.7.1 / * PHP: ps_1771_update_customer_note (); * /”

#### Expected behavior

`html_entity_decode($note['note'])`
fix with
`html_entity_decode(pSQL($note['note']))`

#### Steps to Reproduce

1. install ps 1.7.7.1
2. create user with note that contains quote/double quote
3. update prestashop to latest
4. got erro

[2021-03-14 09:44] SharakPL commented on #14533
@davidglezz [node-sass](https://github.com/sass/node-sass) is depreciated so it's best to switch to recommended [sass package](https://github.com/sass/dart-sass)

[2021-03-14 10:40] Oksydan commented on #14533
@SharakPL you are right, changing to dart-sass is quite easy. Few lines of code in webpack config.

[2021-03-14 11:36] hibatallahAouadni commented on #23291
Hello @fedeanimation

I think it's just a cache problem :confused: did you try to refresh the page?
Please check and feedback.

Thanks!

[2021-03-14 11:38] mullerpetr76 commented on #23570
any news please?

[2021-03-14 13:55] 4itsoft opened #23635 ""Re-display cart at login" bug in 1.7.7.2"
#### Describe the bug
The "Re-display cart at login" option no longer works in 1.7.7.2

#### Expected behavior
The "Re-display cart at login" option works

#### Steps to Reproduce
The steps I reproduced:
1. Clean Prestashop installation 1.7.7.2
2. Activate option in BO
3. Create test account, add product to cart, disconnect and reconnect to account. The basket no longer exists.

**Screenshots**

F

[2021-03-14 14:07] 4itsoft opened #23636 "Carrier interval BUG in 1.7.7.2"
#### Describe the bug
Couriers are not displayed correctly depending on the interval set in the BO.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO and set new interval for Prestashop carrier (http://prntscr.com/10le197)
2. Verify checkout in FO. "Prestashop" carrier The Prestashop courier is displayed to me, although the total order is not in its range (screenshot: http://

[2021-03-14 20:30] RicRey1988 opened #23637 "Problem after update ps 1.7.6.8 to 1.7.7.2"
#### Describe the bug

after updating prestashop from 1.7.6.8 to 1.7.7.2 it presents me with a bug, in some pages such as orders, modules, performance does not load well so the options cannot be used. "look at attached image"

#### Steps to Reproduce

Steps to reproduce the behavior:

1) update ps 1.7.6.8 to 1.7.7.2
2) check that it does not load the pages correctly from orders, modules, performan

[2021-03-14 21:38] hibatallahAouadni commented on #23631
Hello @BenTen

I didn't manage to reproduce the issue issue with PS1.7.7.2, PS1.7.5.2 and PS1.7.4.1, see the attached screen record below:

https://drive.google.com/file/d/1zhdXNNkHa1c6NNobVCdlCtAnOhhbirPs/view

Could you please check his order in BO and feedback.

Thanks!

[2021-03-14 21:48] hibatallahAouadni commented on #23632
Hello @Rus-Design

I didn't manage to reproduce the issue with PS1.7.7.1 and PS1.7.7.2, see the attached screen record below:

https://www.awesomescreenshot.com/video/3057657?key=b1ba88d41fb86ec479a6a933f31e8551

Please check and feedback.
Thanks!

[2021-03-14 21:49] fedeanimation commented on #23291
Try to clear cache, incognito and new browser I still have the problem

[2021-03-14 21:49] hibatallahAouadni commented on #23166
Hello @conderus ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-14 21:49] #23166 closed, assigned to nobody

[2021-03-14 21:50] hibatallahAouadni commented on #23345
Hello @MHostinato ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-14 21:50] #23345 closed, assigned to nobody

[2021-03-14 21:51] hibatallahAouadni commented on #19743
Hello @mamoot64 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-14 21:51] #19743 closed, assigned to nobody

[2021-03-14 21:53] hibatallahAouadni commented on #23329
Hello @alfonsolr09 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-14 21:53] #23329 closed, assigned to nobody

[2021-03-14 21:54] hibatallahAouadni commented on #19198
Hello @6xthFNGR

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #15420.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-03-14 21:54] #19198 closed, assigned to nobody

[2021-03-14 21:54] hibatallahAouadni commented on #19198
Duplicate of #15420

[2021-03-14 21:55] hibatallahAouadni commented on #23355
Hello @mmystery ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-14 21:55] #23355 closed, assigned to nobody

[2021-03-14 22:00] hibatallahAouadni commented on #23291
Hello @fedeanimation

Could you please make a screen record following my steps (shown in my screen record above).

Thanks!

[2021-03-14 22:03] hibatallahAouadni commented on #23633
Hello @ang3lx

Could you please create a PR (Pull Request) with your fix and edit your issue **following the provided template to submit a complete bug report** (fill all the blocks: steps to reproduce, PS version, PHP version, describe the bug, ...).

Thanks!

[2021-03-14 22:19] 4itsoft commented on #23635
Fix:

Class/Cart.php

    /**
     * Last abandoned Cart.
     *
     * @param int $id_customer Customer ID
     *
     * @return bool|int Last abandoned Cart ID
     *                  false if not found
     */
    public static function lastNoneOrderedCart($id_customer)
    {
        $sql = 'SELECT c.`id_cart`
                FROM ' . _DB_PREFIX_ . 'cart c
                WHERE NOT EXISTS (SELE

[2021-03-14 22:53] hibatallahAouadni commented on #23637
Hello @RicRey1988

I didn't manage to reproduce your issue, see the attached screen record below:

https://drive.google.com/file/d/1Tlo5TlAucvGjq0cAv2tzCBbBsp5ECI8x/view

Please check and feedback.
Thanks!

[2021-03-14 23:07] RicRey1988 commented on #23637
I discovered the module that produces the error, what version of jquery could I put in it to make it compatible with ps 1.7.7.2?

[2021-03-14 23:27] fest73 opened #23638 "Bug with color column"
#### Describe the bug

When you making fields_list in controller, you can to add property color, where the name of key in array. When you have key in array as "color", it is ok, but when you have seting other value, will be bug.

Steps to reproduce the behavior:

1.  Make simple controller
2. Add to fields_list column with color, where value != color
3. Test it

#### Additional information

* Pres

[2021-03-14 23:28] hibatallahAouadni commented on #23637
Hello @RicRey1988

Thanks for your feedback!

Well, you need to contact the module developer and ask about the JQuery version :wink:
I close this issue cause it's not related to PS Core :slightly_smiling_face:

Thanks!

[2021-03-14 23:28] #23637 closed, assigned to nobody

[2021-03-14 23:40] nassssima commented on #22353
I have the same pb !!! Plzzzzz help.

PS1.7.7.0 work only with php7.3

And my  provider said "We have ICU version 4.21. with PHP 7.3 and below and ICU 68.2 with PHP 7.4."

So if I need ICU > 4.2 i must swish to php7.4 (where PS don't work)

I fixed the BO issues with the solution "INTL_IDNA_VARIANT_UTS46  to    intval(INTL_IDNA_VARIANT_UTS46)"

But still have pb FO  (costumer login), I'm really st

[2021-03-15 00:41] Web2FixOy commented on #15187
Notice the capitalized names are important in Linux based systems while in windows development environments the error may not occur!
Temporary solution:
A temporary fix is to rename folders "functions" to "Functions" as well as "operations" to "Operations" .

Hope this helps!

[2021-03-15 02:42] 4ngeluxpunk opened #23639 "Error update version Multistore"
Hello good evening, I am having an error when updating a Multistore, I have carried out all the steps to update the main store, it updates me without problems but the virtual store gives me an error: "Trying to get property 'precision' of non-object" the Prestashop version I am using is 1.7.7.1 and PHP 7.2. Greetings.

![Error](https://user-images.githubusercontent.com/22511504/111097842-49428800-

[2021-03-15 03:53] NeroAdvents opened #23640 "WebTestCase error - PageVoter should implement VoterInterface"
PRESTASHOP 1.7.4

Hello,

I've encountered an issue doing some functional tests on some of my PrestaShop modules.
[code]

Here is the content of my functional test.

[code]

I really need help on this :/ Thanks for the help !

[2021-03-15 04:08] Rus-Design commented on #23632
Hi @hibatallahAouadni
you do not need to create a new category.
just look at these links:
https://addons.prestashop.com/ru/431-data-migration-backup/test
https://rus-design.com/demo-1-7/en/3-clothes/test

case in file/classes/Dispatcher.php line 136

[2021-03-15 05:20] iShamsah opened #23641 "1-click update error 1.7.6.x to 1.7.7.x"
i am running php 7.3 prestashop 1.7.6.9
when i use 1-click upgrade i get a connection timeout while upgrading the database ..
and the upgrade stops ..
and i have to restore the backup ..

how could i fix this issue and upgrade to 1.7.7 .. ??

[2021-03-15 08:14] fedeanimation commented on #23291
Hello @hibatallahAouadni

here the screen record [screenrecord](https://drive.google.com/file/d/10jggMqJfzJIxvNQ1OuMnbi__D7zwbPpo/view?usp=sharing)

[2021-03-15 08:15] zuk3975 commented on #13682
from quick glance it might seem like something wrong happened and stock_available wasn't deleted? (so some kind of bug, or maybe product wasn't deleted using object model?).
Because as you can see here https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Product.php#L1195
Product::delete() should take care of deleting every entry in stock_available with specified product id.

[2021-03-15 08:42] hibatallahAouadni commented on #23641
Hello @iShamsah

You need to downgrade your PHP version to 7.2 cause PrestaShop 1.7.6.9 is not compatible to PHP 7.3 (see our system [requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)).
I close this issue cause it's not a PS Core bug.
Please next time when you create an issue, **respect and follow the provided template to submit a co

[2021-03-15 08:42] #23641 closed, assigned to nobody

[2021-03-15 08:45] hibatallahAouadni commented on #23640
Hello @NeroAdvents

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-03-15 08:45] #23640 closed, assigned to nobody

[2021-03-15 08:46] hibatallahAouadni commented on #23639
Hello @4ngeluxpunk

Please send your request in English. English is the norm on GitHub.

Thank you

[2021-03-15 08:46] #23639 closed, assigned to nobody

[2021-03-15 08:54] khouloudbelguith opened #23642 "ps_facetedsearch - BO - an exception is dipslayed when we check update"
#### Log

- [ ] Investigation to understand where the problem come from
- [ ] Fix it

#### Describe the bug

In the BO > ps_facetedsearch configuration page, when we click to check update => en exception is displayed

#### Expected behavior

Redirection to the module manager page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to back-office -> Modules -> Module manager and searc

[2021-03-15 09:06] khouloudbelguith opened #23643 "ps_facetedsearch - BO - New filters template - an error is displayed in the console when we click save"
#### Describe the bug

In the BO > ps_facetedsearch configuration page, we try to edit a template or add a new temple, when we click save after any action (select category, change the status of filter, change limit, change size, drag & drop filter), an error is displayed in the console

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to back-office -> Modules -> Module manager and

[2021-03-15 09:20] mrabsinthe opened #23644 "Duplicate minus sign on discount value in cart"
#### Describe the bug

There is a duplicate minus (-) sign in front of value in cart.
The value of discount changes.

#### Expected behavior

There should be just one: - $10.99 instead of --$10.99

#### Steps to Reproduce

Create discount coupon, enter in cart.

**Screenshots**

![duplicate sign](https://user-images.githubusercontent.com/31688689/111130777-e553aa00-8577-11eb-94e9-3738eb911b4e.png)

[2021-03-15 09:24] khouloudbelguith opened #23645 "ps_facetedsearch - FO - The block allowing multiple filters in the "displayLeftColumn" is not displayed"
#### Describe the bug

In the FO > when we select a filter and clear it after, the block allowing multiple filters in the "displayLeftColumn" is not displayed.
![image](https://user-images.githubusercontent.com/16067358/111129885-e33d1b80-8576-11eb-8bae-a37062dadba3.png)
![image](https://user-images.githubusercontent.com/16067358/111129900-e801cf80-8576-11eb-90d1-b4cbc5ff5f52.png)
When we refresh

[2021-03-15 09:38] khouloudbelguith commented on #19810
Hi!

I have a similar issue following these steps:

1. Fresh install PS1769, 177x, develop (1780)
2. ps_facetedsearch module is installed
3. Go to FO > Home category page
4. Sort by price from high to low
5. See error

![image](https://user-images.githubusercontent.com/16067358/111133092-69a72c80-857a-11eb-9360-52399f1c7fee.png)

I checked with ps_facetedsearch v3.6.0, v3.7.0, v3.7.1

Thank you!

[2021-03-15 09:38] hibatallahAouadni commented on #23635
Hello @4itsoft

I didn't manage to reproduce your issue with PS1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/1gm3bLk0GrA9EYe0dKSdjmCLT5XfXXHss/view

Please check and feedback.

_PS: Please next time, **respect and follow the provided template to submit a complete bug report** (as you can see I just edit your issue description)._

Thanks!

[2021-03-15 09:43] marekjedrzejewski opened #23646 "Pack products decremented instead of being reserved"
#### Describe the bug

If product is a pack with option to decrement products only, or both, products stock is decremented instead of showing as reserved when order is placed.

#### Expected behavior

I'd expect to see pack items as reserved on stock page instead of decremented from the total pool.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add pack of products with 'decrement

[2021-03-15 09:58] RHermant opened #23647 "Wrong tax breakdown with an offered product and different tax rates"
#### Describe the bug

The amount of the offered product is deducted proportionally from all the totals in the taxes details on the invoice, not only from the line of the corresponding tax rate.

#### Expected behavior

The amount of the offered product should only be deducted from the corresponding tax rate line.

**Screenshots**

<img width="669" alt="capture-2021-03-15-10 45 01-AM" src="https:/

[2021-03-15 10:16] RHermant opened #23648 "Wrong sales total in the dashtrends module in back-office"
#### Describe the bug

The sales total does not take in account the discounts, it only uses the products total. So the amount displayed on the back-office is wrong and does not match with the amounts paid (without shipping charges).

Here it is the query in the file AdminStatsController.php, in the function getTotalSales :
[code]

#### Expected behavior

The module should deduct the discounts from

[2021-03-15 10:54] hibatallahAouadni commented on #23648
Hello @RHermant

Could you please provide steps to reproduce the issue.
Please notify me when you add the steps :wink:

Thanks!

[2021-03-15 10:56] hibatallahAouadni commented on #23647
Hello @RHermant

Could you please provide steps to reproduce the issue.
Please notify me when you add the steps :wink:

Thanks!

[2021-03-15 11:18] hibatallahAouadni commented on #23644
Hello @mrabsinthe

I didn't manage to reproduce the issue with PS1.7.7.0, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/111145440-89455180-8588-11eb-8da2-3c84fd8336e3.png)

Please check and feedback.
Thanks!

[2021-03-15 12:25] mrabsinthe commented on #23644
Thank you, I have been also able to see it working correctly - in Chrome. The issue with duplicate minus sign seems to be in Firefox, Edge and also Samsung mobile browser. I tested in private mode and discovered another glitch. When I first enter code for 10% discount (order without shipping), the price is displayed correctly, ie. -£3.48. As soon as I enter another coupon for free shipping, the di

[2021-03-15 13:40] hibatallahAouadni commented on #13087
Hello @matks

What's the status of this issue? is it **`To Do`** or need more specs?

Thanks in advance!

[2021-03-15 14:04] 4ngeluxpunk commented on #23639
@hibatallahAouadni Ok, edited the text to English, please open the topic again. Greetings.

[2021-03-15 14:06] hibatallahAouadni commented on #23639
Sorry @4ngeluxpunk but you need to edit the issue description **following the provided template to submit a complete bug report**.

[2021-03-15 14:14] ghost opened #23651 "Improve wording << Install demo products >>"
#### Is your feature request related to a problem?

When you install a new shop you can select  << Install demo products >> but it's not only the products it's all demo data ( category, suplier, manufacturer, order  and more ... )

The best wording is << Install demo data  >> ?

#### Describe the solution you'd like

Change the wording

#### Additional context

![install-without-data-min](https://

[2021-03-15 14:18] 4ngeluxpunk opened #23652 "Error update version Multistore from PS1.6"
#### Describe the bug

Hello good evening, I am having an error when updating a Multistore, I have carried out all the steps to update the main store, it updates me without problems but the virtual store gives me an error: "Trying to get property 'precision' of non-object" the Prestashop version I am using is 1.7.7.1 and PHP 7.2. Greetings.

#### Expected behavior

I would like to know the exact e

[2021-03-15 14:50] pppplus commented on #21268
Bug is present in the module 5.0
The version of PS doesn't matter !!

Big bug is on file
/modules/blockreassurance/classes/ReassuranceActivity.php on line 190

=> str_replace(__PS_BASE_URI__, _PS_ROOT_DIR_ . DIRECTORY_SEPARATOR, $item['custom_icon'])
Very big bug....

Replace ALL occurence "/" (__PS_BASE_URI__)  by _PS_ROOT_DIR_  in $item['custom_icon']
If custom icon is like that : /modules/block

[2021-03-15 15:00] bartoll opened #23653 "The controller AdminPsMboModule is missing or invalid"
#### Describe the bug

I got an error in admin panel when I clicked on menu Improve -> Modules -> Modules Catalog

#### Expected behavior

I think that correct page here should be prestashop marketplace.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Prestashop is installed in version 1.7.7.1
2. Try to update Prestashop to 1.7.7.2 version according to this steps https://devdocs.pre

[2021-03-15 15:13] PrestaEdit opened #23654 "Issue with Tab::enablingForModule() while context language is not the default one"
#### Describe the bug

**Context**

- Language FR installed ;
- Language ES installed ;
- Language FR disabled ;
- Language ES as default ;
- Broswer in French; employee profile set with FR language.

**Needs**

- Add a Tab with an [] of names. No issues.
- Use of Tab::enablingForModule('module_name') to enable the tabs.

**Issues**

- The method enablingForModule() call the Tab::getCollectionFrom

[2021-03-15 15:23] eternoendless commented on #9818
This one should be fixed in 1.7.8 by #19242

In the meantime you can edit your theme's translations directly on the db: https://github.com/PrestaShop/PrestaShop/issues/9818#issuecomment-494015561

[2021-03-15 15:24] eternoendless commented on #9818
Duplicate of #19242

[2021-03-15 15:24] #9818 closed, assigned to nobody

[2021-03-15 15:41] eternoendless commented on #13392
IMO all weird translation behavior should be fixed by #19242 in 1.7.8

[2021-03-15 15:46] matks commented on #10431
The module https://github.com/PrestaShop/cronjobs is no more part of the open source project. It is now a repository from the PrestaShop company https://github.com/PrestaShopCorp/cronjobs

So we can close this issue as we are no longer in charge of the module.

[2021-03-15 15:46] #10431 closed, assigned to nobody

[2021-03-15 16:15] matks commented on #10096
Hi @NeOMakinG as this issue has been there for 2 years and does not seem critical, can I suggest we close this? I think Classic Theme has some tasks a lot more important 😄  so this issue might stay open for years.

[2021-03-15 16:22] matks commented on #10091
It looks like this issue is actually multiple developer feature ideas or improvements

1. Provider modules and themes developer a way to know "on this webpage, JS library A or JS framework B is already loaded" (so I dont know to load it if I use it in my module)

Related to `addCSS` and `addJS`

2. Do not `escape` (what does this mean?) headers "so people dont add assets with HTML"  (what does thi

[2021-03-15 16:25] matks commented on #21268
Hi @pppplus I'm sorry but I dont understand both the bug you talk about and what you do in the code.

If you want to help, please report a new github issue and fill the template 😉  without that, we cannot understand what you are talking about. It's clear for you but it's not for us 😄  that is why we need a complete bug report

[2021-03-15 16:33] hibatallahAouadni commented on #23651
Hello @okom3pom

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , I think this improvement is kind of a **must have**, wdyt? shall we change the wording?

[2021-03-15 16:34] pppplus commented on #21268
Hi
This command is stupid :
str_replace(PS_BASE_URI, PS_ROOT_DIR . DIRECTORY_SEPARATOR, $item['custom_icon'])
It replaces all / in the icon path, by PS_ROOT_DIR

We should replace only first one :
My icon is : /modules/blockreassurance/views/img//reassurance/pack1/payment.svg
The function has to replace only first /
So, with
preg_replace('#'.PS_BASE_URI.'#', PS_ROOT_DIR . DIRECTORY_SEPARATOR, $ite

[2021-03-15 16:35] hibatallahAouadni commented on #23654
Hello @PrestaEdit

Thanks for the provided details :clap:
But could you please provide steps to reproduce :sweat_smile:

Thanks!

[2021-03-15 16:37] PrestaEdit commented on #23654
It’s need a module or some codes, you can do it, for sure. Really, it’s not possible to give specific steps, it’s more a deep issue with code.
It’s take already a lot of time for me to make the diagnostic, the bug report and change my working way, there.
Le 15 mars 2021 à 17:35 +0100, Hibatallah Aouadni ***@***.***>, a écrit :

[2021-03-15 16:44] hibatallahAouadni commented on #23653
Hello @bartoll

Could you please provide your MBO module version.
And it seems your issue is a duplicate of this one #11264 could you please check it and feedback.

Thanks!

[2021-03-15 16:54] hibatallahAouadni commented on #23638
Hello @dariusakafest

Thanks for your issue and your PR!

Ping @PrestaShop/prestashop-core-developers could someone please help me to reproduce the issue :pray:

[2021-03-15 17:00] matks commented on #21268
To report an issue on github, you follow the link https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md and fill in the template 😉

[2021-03-15 17:01] NeOMakinG commented on #10096
Ok, let's close this, if someone really wants it in this theme, feel free to comment and we'll discuss about it

[2021-03-15 17:01] #10096 closed, assigned to nobody

[2021-03-15 17:09] Gaja-A opened #23655 "Is there any way to resend new_order mail template ?"
Hi,

I need to add a feature to the back office order page, like resend email.

When I click a button, I need to resend the **new_order** email template to the merchant. Is it possible to do this ?

Can anyone help me to solve this ?

_PS version: 1.7.6.5_

Thanks,
Gaja

[2021-03-15 17:09] grzegorzgit opened #23656 "Add possibility to edit cart content, cart amounts by hook"
#### Is your feature request related to a problem?

Each product has a Tax Rule assigned, to calculate the tax based on the customer's location. But some customers are tax-exempt, and the tax calculation cannot depend only on their location. Right now PS can calculate tax only based on the location, and there is no way (no method in Product.php nor Cart.php), and there is no hook that allows to tu

[2021-03-15 17:24] hibatallahAouadni commented on #23636
Hello @4itsoft

As you can see in this screenshot below, you choose **Applythe cost of the highest** for **out-of-range behavior** option, so it's not a bug, it's the wanted behavior:

![image](https://user-images.githubusercontent.com/23308427/111194042-11dce580-85bb-11eb-98ed-2238e0ed81c6.png)

If you want to disable the carrier, just choose **Disable the carrier** for **out-of-range behavior**

[2021-03-15 17:24] #23636 closed, assigned to nobody

[2021-03-15 17:49] PierreRambaud commented on #23654
Could you please provide us a module as example.
We will not reverse-engineer something without a way to reproduce it easily.

[2021-03-15 18:08] PierreRambaud commented on #23638
Hey, we are sorry but we will not take time to reproduce something like that.
People from the community must provide modules or code to help you to reproduce the issue, otherwise we will spend all our work time trying to reproduce issues.
If you can't reproduce it, please ask for more information, or a module to help you :wink:

[2021-03-15 18:09] pppplus commented on #21268
Sorry, I misunderstand your request !
Why put a new report, it's the same one !

I just reported what I change to solve THIS bug : blockreassurance PHP fatal error

[2021-03-15 19:40] kpodemski commented on #10091
Hey @matks

Ad 1. I'm not sure if it's worth it, as a module developer I'm trying to have "Troubleshooting" section where customer can disable for example Slick.js or other third party libraries which might be included in theme, we do have `registerStylesheet` on the back-end side but I'm not sure how we want force people to register scripts via `theme.yml` etc. we can write it as one of the "Best

[2021-03-15 19:47] amoutiers commented on #20739
Bumping to SF >= 5.2 and you get PHP8. And that's less work to get into 5.4 LTS after.

[2021-03-15 20:22] Oksydan commented on #10091
IMO

Ad. 1. There is no way we will be able to make it works properly. Multiple libraries with various version it will be nightmare to match it.
Ad. 3. AssetsVersion might be good solution and "Clear cache" is perfect action for it. I think we might need another method or just extend existing one.

[code]
theme.yml assets loading should match changes to registerJavascript, registerStylesheet. Pers

[2021-03-15 20:25] Hlavtox commented on #10091
@kpodemski

Combined and compresset assets already generate under unique name, if you regenerate them properly with "Clear Cache" button.

It already works this way if I'm not wrong. Combined css is made for every unique set of css files. For homepage, category, product, cms page etc. It only packs the files that are included in that controller.

Only thing I see wrong on 1.7 is that it does not r

[2021-03-15 20:28] Oksydan commented on #10091
@Hlavtox
Yes, but the problem is if your don't want file to be included in CCC. It will be faster to load 4 files with 100kb than one with 400kb. If file is not included in CCC, it don't have unique name.

[2021-03-15 20:29] Hlavtox commented on #10091
If you register it only on controllers you want, it won't be included in the compressed assets anywhere else.

[2021-03-15 20:32] Oksydan commented on #10091
Yes, for really small files like 3kb css file it will be better to combine with other smaller files.

[2021-03-15 20:34] Hlavtox commented on #10091
Maybe, but if you have huge assets like this, you have other problems I think. My websites based on classic-rocket load a single 50 kB CSS file and 80 kB of JS. :-)

[2021-03-15 20:35] Hlavtox commented on #23655
@Gaja-A Use this: https://github.com/PrestaShop/PrestaShop/issues/14754#issuecomment-623364507

[2021-03-15 20:39] Oksydan commented on #10091
Well not every wesite are that simple. Some of them requires more js/css for specific pages and custom mechanics.

[2021-03-15 20:50] Oksydan commented on #10091
Btw. To be clear, that was only example. You are talking about gziped files I'm not.

[2021-03-15 20:52] Hlavtox commented on #10091
@Oksydan Of course man. I know in theory, that with HTTP/2 it could be faster to load these files simultaneously. Do you think excluding some assets would make a measurable difference? 💡

[2021-03-15 20:52] Gaja-A commented on #23655
@Hlavtox Thanks for your reply. I will try it.

Is it possible to send a mail to the merchant instead of sending it to the customer ?

[2021-03-15 20:55] Hlavtox commented on #23655
@Gaja-A Yes, just change $this->context->customer->email after Mail::Send( to 'your@email.com' and are done :)

[2021-03-15 20:55] Oksydan commented on #10091
Yes, every ms in page load time matters.

[2021-03-15 21:17] kpodemski commented on #10091
These days CCC is a wrong choice in my opinion, especially that metrics related to blocking CSS and JS are more important today. I give you an example using configuration from `CCC` but of course `assets` as overall should have dedicated one for versioning.

Thanks for your input @Oksydan

[2021-03-15 22:07] bartoll commented on #23653
@hibatallahAouadni

There is no "ps_mbo" module version in new Prestashop 1.7.7.2 (downloaded zip from github release).
In older version I can see "2.0.1" version of "ps_mbo" module.

I can't find any relation with #11264 because I don't know what update script really does (php install/upgrade/upgrade.php).
I have just upgrade Prestashop and met this error.

[2021-03-15 22:09] bartoll commented on #23653
Pay attention for my not standard step number 2.
I assume that this path was not tested.

[2021-03-15 23:00] iShamsah commented on #23641
i have downgraded the php version to 7.2
still having the same issue ..

This request takes too long to process, it is timed out by the server. If it should not be timed out, please contact administrator of this web site to increase 'Connection Timeout'.

[2021-03-16 07:55] okom3pom commented on #23648
It's possible it's fixed her :

https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+author%3A%40me+is%3Aclosed

I think i update all stats modules

[2021-03-16 08:04] okom3pom commented on #23648
Oups not this one

[2021-03-16 08:34] matks commented on #10091
Hi everyone so it seems only the topic number 3 is valuable. I consequently rename and rescope this issue for topic 3 only :)

[2021-03-16 08:42] okom3pom commented on #23651
To complete it's for harmonize with : https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/migration/#preparing-the-destination-shop

[2021-03-16 08:54] matks commented on #10091
So it seems 2 topics are discussed:

- the initial topic "how to automatically refresh optimized assets (CCC) when source assets change" which is a developer tool that makes development on PrestaShop easier

- strategy for optimal loading of assets on FO

About the strategy for optimal loading of assets on FO, I am not a frontend expert (but @NeOMakinG is) but if I am not wrong this is a topic tha

[2021-03-16 09:07] hibatallahAouadni commented on #23638
Hello @dariusakafest

Could you please provide clearer steps to reproduce.
Thanks @PierreRambaud for your quick reply :wink:

Thanks!

[2021-03-16 09:08] Hlavtox commented on #10091
@matks If you wanted to stretch it to this extreme, we can make a one core compressed asset file for all controllers and then small "incremental" files for specific controllers. But I think that effort is not worth it.

The initial page load speed is the most important for conversions. If the user is intrested in your page and follows the link, another 50 kB bundle for other controller type is not

[2021-03-16 09:33] zuk3975 opened #23658 "Define Core/File & Core/Image responsibilities (REMINDER ISSUE)"
This is a reminder issue to improve the code and perception of Core/File and Core/Image.
Currently we have these directories mixed up, without clear responsibilities and conventions.
We should investigate and decide how we control them and maybe clear up some conventions.
For example, Core/File should be responsible for any system-file related stuff, meaning that Image would also reuse some parts

[2021-03-16 09:35] MatShir commented on #23651
That makes sense, WDYT @Julievrz ? 😄

[2021-03-16 09:48] Julievrz commented on #23651
I agree, it does make sense and this will improve the wording consistency. 👍

[2021-03-16 09:48] hibatallahAouadni commented on #23655
Hello @Gaja-A

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or i

[2021-03-16 09:48] #23655 closed, assigned to nobody

[2021-03-16 10:18] Oksydan commented on #10091
@Hlavtox
You have to take in count that prestashop is not only about classic and rocket-theme. Developers are making complex ecommerce stores with it and code splitting is one of the major optimization method.

[2021-03-16 10:22] Hlavtox commented on #10091
@Oksydan I fully understand it, but they need to start in the beginning. What features so big can a ecommerce store have on one single controller, that needs hundreds of kBs of assets?

And it can be optimized. Take for example this module - https://addons.prestashop.com/en/blog-forum-new/25908-blog.html, for 150 EUR, it loads 0,5 MB of crap. I gutted/optimized it and it now loads 4 kB and still w

[2021-03-16 10:23] hibatallahAouadni commented on #23656
Hello @grzegorzgit

Thanks for the suggestion!
So, you suggest to create another hook to edit the cart content, is that so?

Are you sure? did you check the [list of hooks ](https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/)?
Please check and feedback.

Thanks!

[2021-03-16 10:26] hibatallahAouadni commented on #23652
Hello @4ngeluxpunk

Thanks for respecting the template :clap:
What was your PrestaShop version before upgrade? and did you use the **1-click upgrade** module to upgrade? if so, what was this module version?
Please check and feedback.

Thanks!

[2021-03-16 10:38] hibatallahAouadni commented on #23641
@iShamsah I think you need to contact your host.

[2021-03-16 10:43] Hlavtox opened #23659 "Display stock label in product listings"
## Is your feature request related to a problem?

Continuing discussion opened here - https://github.com/PrestaShop/PrestaShop/issues/21105#issuecomment-789812102

For me, the biggest selling argument when choosing where I will order my product from is **IF I WILL HAVE IT TOMMOROW** = the **stock information**. This absolutely crucial information is missing from the product list.

We are running o

[2021-03-16 10:49] iShamsah commented on #23641
contact my host provider about what .. ??
it’s on a private dedicated server

[2021-03-16 10:49] Oksydan commented on #10091
@Hlavtox
For example advanced product configurators.
We can also use something small like leaflet for map only for contact page and stores page. Why we have to combine it in mian bundle?? Prestashop CCC will create separate cache bundle for it and user will be forced to download everything AGAIN on that page.

[2021-03-16 11:00] khouloudbelguith opened #23660 "FO - Shopping cart page & shopping cart-modal - A product with Color combination is not well displayed"
#### Describe the bug

In the FO > when we add a product with a color combination to the cart, in the shopping cart page & in the shopping cart-modal, this product is not well displayed
![image](https://user-images.githubusercontent.com/16067358/111297384-da6b4900-864d-11eb-90bb-76f19890974d.png)
![image](https://user-images.githubusercontent.com/16067358/111297910-75fcb980-864e-11eb-848d-88ac47b0

[2021-03-16 11:02] hibatallahAouadni commented on #23646
Hello @marekjedrzejewski

Could you please check this issue #9671 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-16 11:18] hibatallahAouadni commented on #23659
Hello @Hlavtox

Thanks for the suggestion, and it's a good one :clap:
Please stay tuned !

Ping @PrestaShop/product-team , what do you think about adding the stock availability in FO product list? IMHO, I think it'll be super useful to the merchant and his customers.

[2021-03-16 11:48] Hlavtox opened #23662 "Add alternative category name"
## Problem

Usually, the names of categories deeper in the tree are a "specifications" of something above. Usually, the tree looks something like **Hardware > Screws > Torx**.

The category name is **Torx**. This is good for category block, menus, subcategories etc. But if this name shows up in the H1 of the page, it's not very good for seo and people. :-(

What would be better is, if we could dis

[2021-03-16 12:16] gfhfghfgjfgj opened #23663 "arama"

[2021-03-16 12:16] gfhfghfgjfgj commented on #23663
<input type="text" name="s" value="" placeholder="Kataloğumuzu arayın" aria-label="Arama">

[2021-03-16 12:16] #23663 closed, assigned to nobody

[2021-03-16 13:18] matks commented on #23641
@IAmWebSA about this

[2021-03-16 13:20] grzegorzgit commented on #23656
Hi @hibatallahAouadni,
yes I've checked the hooks list, hook actionCartSave looks like could allow modifying cart content, but it doesn't. The same with actionCartSummary, this one should replace cart with the array returned in the module's function for handing this hook, but it doesn't.

Do you know about any hook that I should check, that you know that supposed to allow update the cart?

The eas

[2021-03-16 13:41] iShamsah commented on #23641
php max execution time is set to 3600
even it i increase higher
i get the same error

[2021-03-16 14:08] jf-viguier opened #23664 "Support two fields with 'type' => 'categories' in HelperForm"
#### Describe the bug

It's impossible to have two or more fields of type "categories" in an HelperForm : the js interactivity (check all, ...) in the second one target the first one.

#### Expected behavior

Support two fields without bug

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create or complete an helperForm with 2 fields of type "categories"
2. Load the controller
3. Cli

[2021-03-16 14:19] hibatallahAouadni commented on #23662
Hello @Hlavtox

Thanks for your suggestion!
As far as I understand, you're sugesting to add a new attribute for Category **name_alternative** which will be displayed only here:

![image](https://user-images.githubusercontent.com/23308427/111323450-2d52f980-866a-11eb-89ba-2e217d7d2f71.png)

Is that so? if so, I think this feature is not a necessary but I have to ping the Product Team to decide :win

[2021-03-16 14:37] Hlavtox commented on #23662
@hibatallahAouadni Yes, and also a default name for usage in meta title.

[2021-03-16 14:40] pineappledev48 opened #23665 "Cant login with credential after a ps 1.7.7.2 installation"
#### Describe the bug

After installation the credential provided during installation are not right to login in back office

#### Expected behavior

Expect to login in backoffice with credential provided during installation

#### Steps to Reproduce

1. Install PS 1.7.7.2
2. Complete installation
3. Remove Install folder
4. Open backoffice page
5. Try to login with credential
6. Prestashop throw an

[2021-03-16 15:50] hibatallahAouadni commented on #23570
Hello @mullerpetr76

Sorry for the late response, but I encountered a blocking issue with Postman :confused:
Now, I followed your steps and here's what I got:

## 1. Create a cart:
- **method: POST**
- **body:**

[code]
- **Result:**
[code]
## 2. Create a customization
- **method: POST**
- **body:**
[code]
- **result:**
[code]
### As you can see the customization value is not saved => NOK

## 3. A

[2021-03-16 16:07] hibatallahAouadni commented on #23632
Hello @Rus-Design

Could you please provide clearer steps to reproduce the issue.
Cause I need to reproduce it on my side not just with your shop :wink:

Thanks!

[2021-03-16 16:08] mullerpetr76 commented on #23570
Hi @hibatallahAouadni
thanks for confirming the bug.
I am not able to fix it.
I will wait for the bug fix.
Many thanks!
Petr

[2021-03-16 16:19] hibatallahAouadni commented on #23291
Hello @fedeanimation

It seems I don't have access to view your screen record :sweat_smile: I just sent you a request access.
Please accept it :pray:

Thanks!

[2021-03-16 16:27] hibatallahAouadni commented on #23665
Hello @pineappledev48

Did you use the same email that you submit while installing?
Please check and feedback.

Thanks!

[2021-03-16 16:33] hibatallahAouadni commented on #23664
Hello @jf-viguier

Thanks for your issue!
Could you please provide a module to test the issue, or clearer steps to reproduce the issue.

Thanks in advance!

[2021-03-16 16:35] ruchus opened #23666 "Wrong scope in Link Widget"
#### Describe the bug

When i check or uncheck content pages as "About us" or "Legal notice" from the Link Widget in a Shop scope (Store2 in this example).... it affect to all stores and always the same link pages are shown on footer for all stores.

![imagen](https://user-images.githubusercontent.com/6729380/111345505-a445bd80-867d-11eb-8f0a-48b09bb746a2.png)

#### Expected behavior

The pages ch

[2021-03-16 17:01] hibatallahAouadni commented on #23664
Hello @jf-viguier

Thanks for the clarification (in Slack)!
So, to reproduce the issue, we need to duplicate this field in `/controllers/admin/AdminShopController.php`:

[code]
In my case, I changed the name to **categoryBox2**:

![image](https://user-images.githubusercontent.com/23308427/111349605-909c5600-8681-11eb-85e5-21aed1b338a1.png)

1. BO>CONFIGURE>Advanced Parameters>Multistore
2. Click o

[2021-03-16 17:06] hibatallahAouadni commented on #19649
Hello @thalassa-web ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-16 17:06] #19649 closed, assigned to nobody

[2021-03-16 17:07] hibatallahAouadni commented on #23358
Hello @IvoRabush ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-16 17:07] #23358 closed, assigned to nobody

[2021-03-16 17:08] hibatallahAouadni commented on #23339
Hello @PrestaEdit ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-16 17:08] #23339 closed, assigned to nobody

[2021-03-16 17:09] hibatallahAouadni commented on #18687
Hello @cedricfontaine ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-16 17:09] #18687 closed, assigned to nobody

[2021-03-16 17:11] hibatallahAouadni commented on #23389
Hello @dariusakafest ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-16 17:11] #23389 closed, assigned to nobody

[2021-03-16 17:12] hibatallahAouadni commented on #23336
Hello @FredBrockstedt ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-16 17:12] #23336 closed, assigned to nobody

[2021-03-16 17:13] hibatallahAouadni commented on #23229
Hello @ahtokren ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-16 17:13] #23229 closed, assigned to nobody

[2021-03-16 17:34] jf-viguier commented on #23664
Thanks for the screenshots @hibatallahAouadni

[2021-03-16 17:59] marekjedrzejewski commented on #23646
Doesn't seem the same. The one mentioned is about incorrect number of packs, mine is about items in pack not being reserved while order is being processed. If standard item is ordered, while order is not shipped, items appear as reserved, if the same item is part of a pack, which has option to decrement base products, the products that are part of it are substracted from available pool of items in

[2021-03-16 19:03] HartLarsson commented on #23404
if the currency are updated automatically only by the cronjob module not available anymore on 1.7 version how we can do that job? Manually every day?

![image](https://user-images.githubusercontent.com/16102074/111365106-5f785180-8692-11eb-8bc1-08411655e1a0.png)

if we purchase another module for cronjob will not enable the currency update so we need to push the UPDATE button every day manually??

[2021-03-16 19:07] jeckyl commented on #23404
You can get my free module to k,ow the cron url https://www.prestashop.com/forums/topic/1043726-free-module-know-the-url-to-call-to-update-the-currency-exchange-rate-on-prestashop-17/

You can use a free cron module for that https://www.prestatoolbox.com/free-prestashop-modules/115-crontab.html

[2021-03-16 19:23] pineappledev48 commented on #23665
Obviously dear, this is a code bug i can't figure out with PHP 7.3 an ps
1.7.7

Il Mar 16 Mar 2021, 17:27 Hibatallah Aouadni ***@***.***> ha
scritto:

[2021-03-16 19:30] HartLarsson commented on #23324
was a typo the version of PS is 1.7.6.7

[2021-03-16 19:34] HartLarsson commented on #22796
Please add a second English language.
There are KEY problem as shown by @JBWModules  for translations

[2021-03-16 19:41] Rus-Design commented on #23632
https://www.awesomescreenshot.com/video/3082967?key=681ed7c9a484d41e16a7c3f72bcf3f23
go to the category page and just add slash and any word to the url

[2021-03-16 22:08] seederp2p opened #23669 "PS 1.7.7.2 - Changing Country from Address leads to Shipping exploit"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce
To reproduce:

1 - Create an account.
2 - Create your first address with a country that has zones / states and select a specific zone / state (Country A)
3 - Change you address to a different country that has NO zones / states (Co

[2021-03-16 23:39] 4ngeluxpunk commented on #23652
Very kind to answer, compared to the previous version it is 1.6.1.18, and I have not used the 1-click upgrade module but the migration pro module.

It is worth mentioning that in another multi-store I have had no problem updating with the same module.

Greetings.

[2021-03-17 08:23] #19963 closed, assigned to Progi1984, NeOMakinG

[2021-03-17 08:32] matks commented on #23404
The cronjobs module is only a mean to automatically refresh live exchanges, badly explained in the interface (this will be fixed). As mentioned by @jeckyl any other cron module can do the job, and you don't need to use a module ; you can also use a crontab. You can see an example here https://www.prestashop.com/forums/topic/1012820-solved-create-a-cronjob-to-auto-update-exchange-rate/

[2021-03-17 09:02] hibatallahAouadni commented on #23324
@HartLarsson I think it's a duplicate of this one #22880 :wink:

[2021-03-17 09:05] hibatallahAouadni commented on #22796
Hello @HartLarsson

As you can see in my screen record, I already have the English language installed.
Please check and feedback.

Thanks!

[2021-03-17 09:24] khouloudbelguith commented on #23664
Hi @jf-viguier, @hibatallahAouadni,

I think this issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/9701

Thank you!

[2021-03-17 09:30] jacob-v-dam opened #23670 "Invalid argument supplied ProductLazyArray json encode"
#### Describe the bug

PHP crashes with the following warning:
[code]

The products do not have any attachments attached. If i check the value of `$this->product['attachments]` it is null.

#### Expected behavior

Create an json encoded string

#### Steps to Reproduce
- Add products without attachments to the cart
- Try to create an json string with the cart presenter

[code]

#### Additional info

[2021-03-17 09:31] hibatallahAouadni commented on #23632
Hello @Rus-Design

Thanks for the clarifications!
I was able to reproduce the issue with PS1.7.4.1, PS1.7.6.7 and PS1.7.7.2. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2021-03-17 09:55] hibatallahAouadni commented on #23670
Hello @jacob-v-dam

Thanks for your issue!
But, could you please make the steps to reproduce clearer :sweat_smile:

Thanks!

[2021-03-17 10:05] hibatallahAouadni commented on #23666
Hello @ruchus

It seems your issue is similar to this one #9795 (please check this [comment](https://github.com/PrestaShop/PrestaShop/issues/9795#issuecomment-438300155))
Please check abd feedback.

Thanks!

[2021-03-17 10:12] jacob-v-dam commented on #23670
Hope this makes it clear?

[2021-03-17 10:23] hibatallahAouadni commented on #23669
Hello @seederp2p

Following your steps, I didn't manage to reproduce the issue with PS1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/1Qp_iRW4B3y1qpJr0ZdS_0-QF9tPwuKmc/view

Please check and feedback.
Thanks!

[2021-03-17 10:29] seederp2p commented on #23669
Hi!

The workflow is not correct.

1 - Create account.
2 - Create an Italian (or other) address and chose a state.
3 - Save the address (Important).
4 - Edit the existing address and change the country to france.
5 - Make an order
6 - Check the shipping price
7 - Check the address at the backoffice.

[2021-03-17 10:36] ks129 opened #23671 "Add GHA Annotations to CI"
#### Is your feature request related to a problem?

To make it easier to find out where exactly CI is failing, we should add GitHub Annotations to some CI jobs (PHPStan, ESLint, and maybe more).

#### Describe the solution you'd like

We should add formatters to lint runs and output them using `::error` or `::warning`.

#### Alternatives you've considered

Another solution for this is using matche

[2021-03-17 10:43] jf-viguier commented on #23664
No, it's a database issue I guess

[2021-03-17 11:32] Hlavtox commented on #10091
@Oksydan I get your point, but we would need to completely change the way the assets are included. Then we could make a base asset bundle that is loaded on all pages, and incremental bundles for controller-specific resources.

Right now I think there is no way to know what module XY will include and when... :(

[2021-03-17 11:38] ryukuroha opened #23673 "Products images bug"
#### Describe the bug

Heyy well while adding products on prestashop it always ends up not showing in the shop any solutions? tnx!!
ps : i'm sure it's not a network problem
#### Expected behavior

the pics to show up

**Screenshots**
![22](https://user-images.githubusercontent.com/79607558/111461515-85294900-86da-11eb-9a81-e993316ba35d.png)
![eroor1](https://user-images.githubusercontent.com/79607

[2021-03-17 11:43] Hlavtox commented on #23673
@ryukuroha PS seems to have a problem with generating thumbnails for this image.

- Try to upload the image in different format.
- Check your error logs. Is there anything?
- Try to go to img/p/XXXXX/ and check if there are all thumbnails generated.
- Try to disable and enable friendly URLs, maybe there is a problem with htaccess file.

[2021-03-17 12:08] ryukuroha commented on #23673
all 3 first are checked i guess its the thacces file that cause this prob do u have any idea on how to fix it thanks in advance!!!

[2021-03-17 12:20] ryukuroha commented on #23673
it was really an htaccess file problem it's all solved now thank u so much!!

[2021-03-17 12:53] Progi1984 commented on #23265
Fixed by #23601

[2021-03-17 12:53] #23265 closed, assigned to atomiix

[2021-03-17 13:38] herneygr11 opened #23676 "Faceted Search - The price filter is not working when using a non default currency (PEN - S/)"
#### Describe the bug

When you search for a currency that is not the default, the price filter does not work
example : PEN - S/.

#### Screenshots

PEN symbol if it  #works
![Captura de pantalla de 2021-03-17 08-32-23](https://user-images.githubusercontent.com/51766595/111475717-638c8980-86fb-11eb-9124-f62306087e87.png)

S / symbol does not work
![Captura de pantalla de 2021-03-17 08-28-11](https

[2021-03-17 13:51] pineappledev48 opened #23677 "Prestashop 1.7.6.9 404 url rewrite on apache 2.4 ubuntu 20.04 pgp 7.2"
Url rewrite with ps 1.7.6.9 and ubuntu 20.04 with apache 2.4 not work, server answer 4040 not found

#### Expected behavior

Able to navigate also with url rewrite condition

#### Steps to Reproduce

1. Install prestashop 1.7.6.9 with php7.2 and apache 2.4
2. Install mod rewrite
3. Enable url rewrite in BO
4. Navigate to homepage
5. Prestashop redirect to /it/ (predefinite language) but show a 404

[2021-03-17 13:57] hibatallahAouadni commented on #23673
Hello @ryukuroha

Thanks to @Hlavtox efforts your problem solved :tada:
And because it's not a PS Core bug, I close this issue :wink:

PS: Thank you so much @Hlavtox :superhero:

Thanks!

[2021-03-17 13:57] #23673 closed, assigned to nobody

[2021-03-17 13:59] hibatallahAouadni commented on #23676
Hello @herneygr11

Could you please provide steps to reproduce the issue.

Thanks!

[2021-03-17 14:21] herneygr11 commented on #23676
Hello @hibatallahAouadni

Yes.

1. Internalization -> Localization
2. Import a localization package (Perú)
3. Currency (Sol Peruano)
4. Check filter

Thanks!

[2021-03-17 15:15] khouloudbelguith commented on #10585
Hi @matks, @marionf,

This issue https://github.com/PrestaShop/PrestaShop/issues/11388 cannot be fixed in this PR: https://github.com/PrestaShop/PrestaShop/pull/20737 because it is blocked by this issue: https://github.com/PrestaShopCorp/ps_mbo/pull/105

Thank you!

[2021-03-17 15:33] hibatallahAouadni commented on #23644
Hello @mrabsinthe

That's totally odd, even when I follow your steps, I didn't manage to reproduce the issue on FireFox:

![image](https://user-images.githubusercontent.com/23308427/111494137-83916c80-873e-11eb-9515-f611886d5832.png)

Please check and feedback.
Thanks!

[2021-03-17 15:51] atomiix commented on #23376
Fixed by #23584

[2021-03-17 15:51] #23376 closed, assigned to atomiix

[2021-03-17 15:56] hibatallahAouadni commented on #21014
Hello @Markus-Gurkcity

Did you try to upgrade your shop from 1.6.0.1 to 1.6.1.24 and then to 1.7.7.2?
Please check and feedback.

Thanks!

[2021-03-17 15:59] ioniks commented on #21014
In MySQL 5.7 alter ignore is not compatible, the only solution is to use MySQL 5.6.

[2021-03-17 16:13] ruchus commented on #23666
Hello @hibatallahAouadni

Yes is the same. Sorry.

Thanks,

[2021-03-17 16:28] hibatallahAouadni commented on #23653
Hello @bartoll

Could you please check the **ps_mbo** module is installed or not on your shop, and I bet that it's not installed.
And that's what cause your issue :wink:
This issue is not related to upgrade (whether is manual or auto). About the issue #11264 is not fully fixed, cause the part of redirection is still not fixed yet (see the issue #22740).
Please check and feedback.

Thanks!

[2021-03-17 16:29] hibatallahAouadni commented on #23666
Hello @ruchus

Thanks for your feedback!
So, I close this issue cause it is already in our debug backlog. This issue is a duplicate of #9795.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-03-17 16:29] #23666 closed, assigned to nobody

[2021-03-17 16:29] hibatallahAouadni commented on #23666
Duplicate of #9795

[2021-03-17 16:51] hibatallahAouadni commented on #23652
Hello @4ngeluxpunk

You may need to contact the **migration pro module** developer to see the problem.

---
I didn't manage exactly your issue, but I encountred another problem, see my attached screen record below:

https://drive.google.com/file/d/1pFaYGuYZ-zrkwXN2D0DixpV77ilBpq8P/view

https://drive.google.com/file/d/1efq4nO7qyT2FvPzyenrXamxq3t4vTMaK/view

I encountered an error 500, and when I e

[2021-03-17 17:00] AzTeK23 opened #23682 "Bug Mail Alerts v2.2.2 - Impossible de mettre à jour les paramètres / impossible to update the settings"
Bonjour / Hello

**Description du bug - bug description**

Depuis la dernière mise à jour du module "Mail alerts par Prestashop" (v2.2.2), nous obtenons le message "impossible de mettre à jour les paramètres" lors de l'édition d'une page / fiche produit. La désactivation du module suffit à reprendre la main sur les modifications des fiches produits.

La mise à jour des informations s'effectue néan

[2021-03-17 17:01] hibatallahAouadni commented on #23665
Hello @pineappledev48

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug. If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [p

[2021-03-17 17:01] #23665 closed, assigned to nobody

[2021-03-17 17:15] lyordey opened #23683 "The spinner is not displayed on the product quantity field and the thumbnails clicks are not operating"
A javascript error in the theme.js file of the classic theme creates a missfunction of the product quantity spinner and clicks of the thumbnails.

The spinner is not rendered on the product page and the it's not possible to select a picture by clicking on its thumbnail.

PrestaShop version: 1.7.7.2 #

[2021-03-17 17:34] mrabsinthe commented on #23644
How exactly did you create that discount? Is it value of £15.43 or is it some percentage? Because if the voucher is in specific amount (Actions->Apply a discount->Amount), all is OK. The issue is when the discount is in percentage as mentioned. Create new cart rule and select Apply a discount - Percent (%) and type 10 in Value box. See below:
![Screenshot_2021-03-17 Cart Rules Edit Test Discount %

[2021-03-17 20:38] Massi-X commented on #22628
I'm sorry but I didn't have time to check it (nor I have now). If I can I will try to find the clue

[2021-03-17 21:15] pineappledev48 commented on #23665
O_o I'm 100% sure is an error related to some php extension miss that
prestahop are not smart enough to check ... Btw if you think is close :) go
on and close ^^ wo need to login on backoffice :)

Il Mer 17 Mar 2021, 18:01 Hibatallah Aouadni ***@***.***> ha
scritto:

[2021-03-17 23:36] kpodemski commented on #10091
@Hlavtox

actually if we would decide to deprecate `addCss` and `addJs`, I think we could see which module trigger `registerStylesheet` or `registerJavascript` and put its name somewhere, solution should be similar to what WordPress offers for developers, where we can easily replace some popular jQuery libraries etc. but it's always job of the developer to keep things clear, with proper naming etc

[2021-03-18 01:09] joecoolio66 opened #23743 "[ps_emailalerts] Module v2.2.2 crashes with PrestaShop < 1.7.6"
#### Describe the bug
Module v2.2.2 crashes with PrestaShop < 1.7.6

#### Steps to Reproduce

Steps to reproduce the behavior:

1. On PS 1.7.5.2, upgrade ps_emailalerts to 2.2.2
2. Attempt to make an order on FO
4. See error

We upgraded this afternoon and immediately noticed that 500 errors were happening in our shop.  Customers couldn't make orders... payment was coming in but orders were not cr

[2021-03-18 06:36] Markus-Gurkcity commented on #21014
Hi, I tried to uprgade from version 1.6.1.24 to 1.7.7.0

[2021-03-18 06:38] #23677 closed, assigned to nobody

[2021-03-18 07:49] #23428 closed, assigned to nobody

[2021-03-18 08:10] florine2623 commented on #23683
Hello @lyordey ,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-03-18 08:10] #23683 closed, assigned to nobody

[2021-03-18 08:29] Hlavtox commented on #23496
@hibatallahAouadni There is even a related PS setting that wasn't removed. People who started 1.7 back then really wanted to kill Prestashop with it. 🙄

![addtocart](https://user-images.githubusercontent.com/6097524/111595321-4d9ac980-87cc-11eb-9d64-2483a8f6cf2d.JPG)

[2021-03-18 08:48] florine2623 commented on #23676
Hi @herneygr11 ,

I can't reproduce your issue using PS 1.7.7.2, module faceted_search v.3.7.1.
![Capture d’écran 2021-03-18 à 09 48 09](https://user-images.githubusercontent.com/16019289/111598007-0e21ac80-87cf-11eb-99fd-efb552c3a6ff.png)

Please check my screen record :
https://drive.google.com/file/d/1i0cXBKAGym1Qcs2wGtdC_MUf-LOsw4gu/view

If you need help with your shop, please consider one

[2021-03-18 08:48] #23676 closed, assigned to nobody

[2021-03-18 08:57] fedeanimation commented on #23291
Hi @hibatallahAouadni
Sorry sorry  🙏 You have the access now

[2021-03-18 09:05] florine2623 commented on #23669
Hello,

I followed your steps in your second message but can't reproduce the issue, please check my screen record :
https://drive.google.com/file/d/1Xzf1m9pM0PggOvW0-l_VD-_pBhvPCngQ/view

The address is the correct one as chosen by the customer and the shipping price is the same as in step 3 or order process.

if you need help with your shop, please consider one of our [support plans](https://www.

[2021-03-18 09:05] #23669 closed, assigned to nobody

[2021-03-18 10:18] florine2623 commented on #23682
Hello @AzTeK23 ,

I manage to reproduce your issue in 1.7.5.2 with Mail Alert module V.2.2.2.
![Capture d’écran 2021-03-18 à 11 07 06](https://user-images.githubusercontent.com/16019289/111609975-213a7980-87db-11eb-8cfc-3a5ab46c7aec.png)

But this bug is fixed in 1.7.7.2 as you can see from my screen record :
https://drive.google.com/file/d/1fjOxbRnc3MIkolV52BFVBMxMEk6cSnCi/view

You can update

[2021-03-18 10:18] #23682 closed, assigned to nobody

[2021-03-18 10:24] florine2623 commented on #23418
Hi @josemariagomezroncero ,
Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-03-18 10:24] #23418 closed, assigned to nobody

[2021-03-18 10:42] Progi1984 commented on #22790
@micka-fdz As said by @PierreRambaud `Monaco has nothing related to France, even if the VAT is the same thinking` so it needs to be managed like any other country zone. And it's why, we ask you to add the Monaco localization pack in your PR.

[2021-03-18 10:48] florine2623 commented on #23646
Hello @marekjedrzejewski ,

Indeed, your issue isn't exactly the same as #9671.

In _develop_, when choosing "Decrement both" :
- the pack is reserved (only the pack is considered in purchase)
- the product are decremented automatically (but not reserved)

After my purchase of **1 pack** containing _5x mugs 'the adventure begins" + 5x 'affiche encadrée'_
We're going from :
![Capture d’écran 2021-

[2021-03-18 11:18] florine2623 commented on #23644
Hi @mrabsinthe ,

_why is price of your product £29.84 and mine £34.80 in vanilla?_
-> the currency is different

I create my cart rules like you showed in your message.
I can't reproduce the issue in neither Chrome, Safari, nor Firefox.

![Capture d’écran 2021-03-18 à 12 12 58](https://user-images.githubusercontent.com/16019289/111617776-da04b680-87e3-11eb-9010-cf1b0fd06611.png)

Minus sign is

[2021-03-18 11:19] #23644 closed, assigned to nobody

[2021-03-18 11:26] florine2623 commented on #21014
Hello @Markus-Gurkcity ,
You should be using MySQL 5.6.
Can you check this article : https://dev.mysql.com/worklog/task/?id=7395

Thanks

[2021-03-18 11:44] florine2623 commented on #23550
Hello @haveyougotanypets ,
Thanks for your suggestion.
I will ping PS Product team to get their insight on that feature !
Please stay tuned.

[2021-03-18 11:45] florine2623 commented on #23550
Ping @PrestaShop/product-team ,

What do you thing about @haveyougotanypets 's improvement ?

He wants the caption of image to be added in Webservice.
This is what it looks like now :
![Capture d’écran 2021-03-18 à 12 43 15](https://user-images.githubusercontent.com/16019289/111621069-ceb38a00-87e7-11eb-86c7-9b98b9a6f0a6.png)
In the future, the caption could be added :
![Capture d’écran 2021-03

[2021-03-18 11:46] dpodwaln opened #23686 "usage of theme.yml use_parent_assets"
#### Describe the bug

It seems to `use_parent_assets: true` in assets section of theme.yml doesn't work at all. \PrestaShop\Core\Addon\Theme\Theme::__construct using array_merge overwrites all parent values and there is not any place in the code where `use_parent_assets` will be checked and implement some action or I'm missing something.

#### Expected behavior

Using `use_parent_assets: true` in

[2021-03-18 11:51] mrabsinthe commented on #23644
Jumped to soon may I ask? I would expect that you would be more interested to see why you cannot duplicate this bug...? Assuming that this bug is related to a server configuration...? If you notice in my video, free shipping has a higher priority, it is ABOVE the 10% discount. Now, please change priorities of those cart rules so the free shipping will be ABOVE the 10% discount. Perhaps we'll be on

[2021-03-18 12:40] haveyougotanypets commented on #23550
Hi all

It might also be worth adding in the functionality to adjust the display
order of the photos while you are at it. Ideally another attribute with the
order number could be a good way to implement this.

Kind regards,
Richard Smith

On Thu, 18 Mar 2021, 11:46 florine2623, ***@***.***> wrote:

[2021-03-18 12:56] florine2623 commented on #23686
Hello @dpodwaln ,

Thanks for your issue but could you please edit your issue description following the provided template to submit a complete bug report. And please fill in all the blocks.

![Capture d’écran 2021-03-18 à 13 55 32](https://user-images.githubusercontent.com/16019289/111629470-9dd85280-87f1-11eb-8d89-0a796ae947e8.png)

Please edit and notify me.

Thanks!

[2021-03-18 13:19] florine2623 commented on #23670
Hello @jacob-v-dam ,
Which file are you modifying ?
Is it src\Adapter\Cart\CartPresenter.php ?

[2021-03-18 13:27] matks commented on #23192
Sorry for late answer, the documentation is https://devdocs.prestashop.com/1.7/modules/concepts/services/

[2021-03-18 14:11] jacob-v-dam commented on #23670
I did not modify any file. In my module I required to present the cart to store it for later use.

This is just what i ran:
[code]

[2021-03-18 14:43] adalbertusgabriel commented on #9589
We have the same problem, and we have made few tests.

Our developer observations below:

Module: "Data mining for statistics" must be present and active in PrestaShop.
Settings like:
- Save page views for every customer (PL: Zachowaj wyświetlenia strony dla każdego klienta)
- Save global page views (PL: Zapisz globalne wyświetlenia strony)
- Add-on detection (PL: Wykrywanie wtyczek)
May stay deac

[2021-03-18 14:49] kmorgen commented on #17810
Seems that the e-mail **SUBJECT** on mails from the Mail Alert module (V2.2.2) is also not translatable.

[2021-03-18 14:53] NeOMakinG commented on #23496
@prestascott I think we need you a bit there :)

[2021-03-18 15:41] mrl22 opened #23690 "WebService Shipped Emails do not contain tracking_number, but admin Shipped emails do."
#### Describe the bug

When we receive requests through the API/Webservice to update the tracking_number and order_state to SHIPPED for an order, it gets updated correctly but the shipped email has a blank tracking number. If I go into the admin and click "RESEND" on the shipped status or change the status to something else and back again, the shipped email contains the tracking number.

#### Expe

[2021-03-18 15:59] florine2623 commented on #23190
Hello @joaolago1113 ,

I reproduced your issue with the steps provided in PS 1.7.7.1, 1.7.6.9 and 1.7.5.2.
Please check my screen record :
https://invertus.atlassian.net/servicedesk/customer/portal/12/PRESTA-352

I am taken directly to the step 4 payment method yes. But I don't see any link between the cart issue and the _payment method selected twice by buyer_.
Could you explain ?

[2021-03-18 16:05] marekjedrzejewski commented on #23646
When choosing decrement product only it works in even weirder fashion - pack is reserved, but the number is incremented by number of ordered products (ex. stock was 3, 2 was ordered, now 'physical' is 5, 'available is 3, 2 reserved) and products getting decremented without going through 'reserved' as with 'decrement both'.

[2021-03-18 20:43] matks commented on #23235
@eternoendless @Julievrz Update: this is what I have now

![Capture d’écran 2021-03-18 à 17 17 13](https://user-images.githubusercontent.com/3830050/111695084-fbd95a00-8832-11eb-8ff1-7a8edde93124.png)
<img width="697" alt="Capture d’écran 2021-03-18 à 21 43 20" src="https://user-images.githubusercontent.com/3830050/111695091-fda31d80-8832-11eb-9f4c-27c99b95e0d1.png">

[2021-03-18 22:51] seederp2p commented on #23669
Hi!

It would be nice that instead of closing github tickets with little care to detail, at least some effort was made because the fact that you can't reproduce something on a brand new installed store doesn't mean that a specific version doesn't have a problem and doesn't mean that there's a module or override that is breaking everything. Closing every single "non reproducable" ticket with the su

[2021-03-18 23:38] dialt0n3 commented on #9866
Still present in 1.7.7.1

[2021-03-18 23:46] dialt0n3 commented on #23586
I dig it

[2021-03-19 07:58] #19612 closed, assigned to NeOMakinG

[2021-03-19 08:06] PierreRambaud commented on #23332
I create a first pull request, but since the HTML structure is broken for years, I'm not sure it will fix everything :(

[2021-03-19 08:49] hibatallahAouadni commented on #23367
Hello @tmsio ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-19 08:49] #23367 closed, assigned to nobody

[2021-03-19 08:50] hibatallahAouadni commented on #23364
Hello @01design ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-19 08:50] #23364 closed, assigned to nobody

[2021-03-19 09:13] 01design commented on #23364
Hi

thanks for your answer, I didn’t’ have time to answer, I will get back to the theme developper to find a solution too this issue, but thanks you have been very reactive, which isn’t the case of the French Team,

All the best

Yvan

	Yvan Lagarrigue
	60, avenue du Mont Alban
	06300 Nice
	T. (+33) 6 60 82 01 15
	***@***.***

[2021-03-19 09:22] #18780 closed, assigned to nobody

[2021-03-19 09:22] #18781 closed, assigned to nobody

[2021-03-19 09:22] #18779 closed, assigned to nobody

[2021-03-19 09:22] #18783 closed, assigned to nobody

[2021-03-19 09:22] #18782 closed, assigned to nobody

[2021-03-19 09:23] #18784 closed, assigned to nobody

[2021-03-19 09:23] #18785 closed, assigned to nobody

[2021-03-19 09:24] #18786 closed, assigned to nobody

[2021-03-19 09:28] eternoendless commented on #23235
@matks it looks good but the wordings are off. I highlighted the wordings that you need to replace in bold italics.

Also, don't forget about the warning message (the one on the "i" icon) and the description for the new product page.

[2021-03-19 09:56] PierreRambaud commented on #20748
I'm not sure it's a bug :thinking: You reset or reinstall a module, the position is automatically set at the end, nothing mean when you install/reset these modules your theme want to be set at position X.

[2021-03-19 10:12] Hlavtox opened #23697 "Page title is not working on checkout page"
### Describe the bug

Page title entered in SEO & URL settings is not taken into account on order/checkout page. Shop name is displayed instead.

### Expected behavior

Page title should work and contain the title, as on all other controllers.

### Cause
This is how OrderController.php presents itself to Prestashop:
[code]
Then, in classes/controller/FrontController.php it uses **checkout** as a p

[2021-03-19 10:22] Julievrz commented on #23235
Here is a recap of the wording for this page:

**Name of the page:** 'Experimental features' in Admin.Navigation.Menu

**Name of the section:** 'Experimental features' in Admin.Advparameters.Feature

**Label:** 'Experimental product page' in Admin.Advparamets.Feature
**Toggle button's wording:** 'Enabled'/'Disabled' in Admin.Global
**Help message:** **to be determined** @MatShir what information d

[2021-03-19 10:45] Progi1984 commented on #22611
Fixed by #22677

[2021-03-19 10:45] #22611 closed, assigned to atomiix

[2021-03-19 11:01] hibatallahAouadni commented on #23192
Thanks @matks

[2021-03-19 11:12] mrl22 commented on #23690
Hello

After further investigation by adding a lot of logging to Prestashop code, I can see that the Order State change Email is being sent before the Tracking Number is stored in the database.

Does the order in which the XML DOM elements exist in the API call effect this? I have noticed that <order_state> is before <tracking_number>

[2021-03-19 12:20] iTEEECH opened #23699 "Carrier not displayed"
#### Describe the bug

I added a weight on my product. Then I add a carrier with rate conditions according to the weight. When I go as a customer in my cart to validate my order, the carrier with tariff conditions does not appear. I must to select Europe to display my carrier. If I select France, it's not working.

#### Expected behavior

That we can add carriers with weight or rate conditions and

[2021-03-19 12:34] mrl22 commented on #23690
I have found this issue and will close the report. I have found that WebserviceRequestCore::fetch loops through each field and actions one by one. If <tracking_number> is after <order_state> the tracking number is saved to the database after the state is changed and email is sent.

[2021-03-19 12:34] #23690 closed, assigned to nobody

[2021-03-19 12:36] kenlog opened #23700 "Incorrect attribute order"
#### Describe the bug

For example if I have a size attribute and I change the order based on the number in an increasing way like 36, 36.5, 37, 37.5, 39, 40 ... this is not maintained but I get 37.5, 36.5, 40, 36, 37, 39...

**Screenshots**
![taglia](https://user-images.githubusercontent.com/11728231/111780688-04c03f00-88b8-11eb-8321-9d17a41a4dec.png)

#### Additional information

* PrestaShop ve

[2021-03-19 12:45] #23699 closed, assigned to nobody

[2021-03-19 13:13] Dreimus opened #23701 "Custom Upload Product Fields"
Hello there,

The main backoffice product form does not currently allows FileType  because the ajax process serialize data which does not handle uploaded files.

https://github.com/PrestaShop/PrestaShop/blob/develop/admin-dev/themes/default/js/bundle/product/form.js#L637

I suggest to switch from serialization to formData handling to allow FileType to be added as custom fields.

[2021-03-19 13:15] florine2623 commented on #23697
Hello @Hlavtox ,
I was able to reproduce the issue with PrestaShop version develop, 1.7.7 and 1.7.6. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2021-03-19 13:26] filippodicostanzo commented on #19807
I have the same issue.
For fix it just add the this line in this file: src\Core\Export\FileWriter\ExportCsvFileWriter.php

`$exportFile->fwrite($bom=( chr(0xEF) . chr(0xBB) . chr(0xBF) ));`

This is the complete class:

[code]

[2021-03-19 13:27] #11277 closed, assigned to lolath-presta

[2021-03-19 13:53] florine2623 commented on #23700
Hi @kenlog ,
I can't reproduce your issue in PS 1.7.7.2 :
In BO :
![Capture d’écran 2021-03-19 à 14 30 57](https://user-images.githubusercontent.com/16019289/111787925-d6def880-88bf-11eb-8b1e-d7acf91ac86a.png)

In product page front :
![Capture d’écran 2021-03-19 à 14 51 47](https://user-images.githubusercontent.com/16019289/111790600-a8aee800-88c2-11eb-816a-5d0ab65c26c8.png)

In category page

[2021-03-19 14:07] florine2623 commented on #23701
Ping @PrestaShop/prestashop-core-developers ,

What's your opinion on that ?

Thanks!

[2021-03-19 14:09] Progi1984 commented on #23287
Fixed by #23694

[2021-03-19 14:09] #23287 closed, assigned to atomiix

[2021-03-19 14:22] florine2623 commented on #23670
Ok @jacob-v-dam ,

Are you talking about web services ?
If so, could you provide the JSON schema that you used to create the cart ?

Thanks!

[2021-03-19 14:58] hibatallahAouadni commented on #22790
Hello everyone,

I changed this issue status to **`To Do`** as an improvement to add the **Monaco** localization pack.

Thanks!

[2021-03-19 15:09] hibatallahAouadni commented on #23291
Hello @fedeanimation

I didn't see any error in your screen record, it works like a charm!

![image](https://user-images.githubusercontent.com/23308427/111801584-63dc7e80-88cd-11eb-8ee7-77abb7d196fe.png)

So, where's the problem???
Please check and feedback.

Thanks!

[2021-03-19 15:23] dirtyFerret opened #23704 "Wrong discounts in cart with combinaisons and specific prices"
#### Describe the bug

When a specific price or more apply to combinaisons, combined quantity works fine for displayed prices, but the discount is wrong in the cart.

#### Steps to Reproduce

I made a test with two specifics prices but actually one is enought.
Steps to reproduce the behavior:

1. Install presta 1.7.7.0
2. Create a product with combinaisons
3. Add two specific prices with min units

[2021-03-19 15:35] florine2623 commented on #10855
Hello,

After upgrading from 1.6.1.21 to 1.6.1.24 and from 1.6.1.24 to 1.7.4.3, I couldn't reproduce your issue :
![Capture d’écran 2021-03-19 à 15 40 01](https://user-images.githubusercontent.com/16019289/111805129-0ba77b80-88d1-11eb-9919-e94567da5285.png)
![Capture d’écran 2021-03-19 à 15 52 33](https://user-images.githubusercontent.com/16019289/111805137-0ea26c00-88d1-11eb-8ec6-6588d0657435

[2021-03-19 15:35] #10855 closed, assigned to nobody

[2021-03-19 15:50] florine2623 commented on #23704
Hello @dirtyFerret ,

It seems like your issue is related to : https://github.com/PrestaShop/PrestaShop/issues/15463 ?
Can you check and feedback ?

Thanks!

[2021-03-19 15:55] bastouf commented on #9757
This solution works for me (PS 1.7.6.8). Thanks a lot @Hlavtox

[2021-03-19 16:12] dirtyFerret commented on #23704
@florine2623 Yes indeed ! Seems that this issue haven't been fixed yet..

[2021-03-19 16:12] #23704 closed, assigned to nobody

[2021-03-19 16:16] patricecarrier opened #23705 "Avis Clients / No comments appears"
#### Describe the bug

• CommentProduct module configured and no comments appears on my product page.
• When i click on "write recommandations" and i submit form, it show me modal error instead of modal ok.
• Recommandations are effective in administration.
• the link on read comments (#product-comments-list-header id) doesn't work

#### Steps to Reproduce

Steps to reproduce the behavior:

https:

[2021-03-19 16:16] florine2623 commented on #23704
Duplicate of #15463

[2021-03-19 16:25] florine2623 commented on #23705
Hi @patricecarrier ,

You need to downgrade your version of PHP to 7.2 :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Are you using product comment module from PrestaShop or from your template ?
https://addons.prestashop.com/en/undownloadable/9144-product-comments.html

Thanks!

[2021-03-19 16:33] patricecarrier commented on #23705
Hello,

The module is prestashop module.

Ive changed version Php in 7.2 but nothing change.

Thanks for your return (quickly as soon as possible)

[2021-03-19 17:14] PululuK commented on #23701
Hi @florine2623 @Dreimus

I will just add some details to help @PrestaShop/prestashop-core-developers  and QA team !

## Context

Some modules use the follows hooks to add custom fields in product catalog form.

- displayAdminProductsExtra
- displayAdminProductsMainStepLeftColumnMiddle
- displayAdminProductsMainStepLeftColumnBottom
- displayAdminProductsMainStepRightColumnBottom
- displayAdminProd

[2021-03-19 17:21] theodiablo opened #23706 "Product pack quantity wrong when using product variations"
#### Describe the bug

I have a pack of products, which is the same products but with his different variations.
When one of those product variation is out of stock, the pack is still enabled.

#### Expected behavior

The pack should be disabled and display the "Email me when product is back on stock" form I have

#### Steps to Reproduce

Steps to reproduce the behavior:
Using the basic Prestashop

[2021-03-19 17:22] theodiablo commented on #23706
It's been several months now I am experiencing weird behaviours with product packs quantities, now I understand it comes from the use of product variations in the pack, which seems to lead to a wrong calculation of available quantities of the pack.

[2021-03-19 17:29] kenlog commented on #23700
Hi @florine2623 I tried on v1.7.7.2 and the problem is not found

[2021-03-19 18:31] kenlog commented on #23700
I updated to the latest version but found that the bug occurs when the `-` character is present

[2021-03-19 18:31] #23700 closed, assigned to nobody

[2021-03-19 22:52] TecnoHands opened #23708 "Customer Data Privacy module"
#### Describe the bug

The module Customer data privacy are default installed in the version 1.7.7.2
But that module aren't need with the module GDPR installed.
When you uninstall the module Customer Data Privacy this give you one error and don't uninstall

#### Expected behavior

Delete the module without problem

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'modules in pre

[2021-03-19 22:58] TecnoHands opened #23709 "GPDR module or Customer comments dont show GPDR check"
#### Describe the bug

When you write a coment of one product prestashop with GPDR module installed dont show the checkbox with message of data privacy to the client

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install GPDR module and configure the messages
2. Install customer comments
3. (This two modules are installed per default in prestashop 1.7.7.2
4. Click in a product
5. W

[2021-03-20 06:53] RajatYadavIndia commented on #12029
Disable Advanced Stock Managment for the Product or set the stock to zero.

[2021-03-20 08:28] tahsin352 opened #23710 "category api returns name null"
`/prestashop/api/categories?language=1&output_format=JSON&display=full` gives below
[code]
here name is null. how to fix it?

[2021-03-20 14:34] maniot opened #23711 "Error generating invoice"
Ps version 1.7.7.1, When a product has specific price, i'm unable to generate the invoice. Prestashop shows error:
Invalid $number parameter: "" cannot be interpreted as a number [PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException 0]

I managed to generate the pdf for this invoice by editing the database ps_order_detail by deleting the discount.
Best regards
Nicolas

[2021-03-20 14:57] logosur opened #23712 "Index controller not being matched in frontend after upgrading from 1.6.x to 1.7.7.2"
#### Describe the bug

After an (traumatic) upgrade, all categories and custom friendly urls works fine. All except home page, which throws 404 exception.

After a deep research, I've found that Dispatcher isn't matching the url '/' for his regex ( "regexp" => "#^/$#u" ) within getController() method. In fact this is not that it doesn't match, but that '/' route also matches the route regex for "c

[2021-03-20 19:33] nikos83 opened #23714 "Unable to import combinations sizes with the same reference (index) it only import first one"
#### Describe the bug

I want to import product combinations ( sizes and colors). On this combinations each product have reference number (index). Products with the same color have the same reference number. (there is 33 sizes on color1 where every 33 products have the same reference). In my file I have 66 combinations.

From 66 combinations only 2 have been imported.
Imported combination are firs

[2021-03-20 20:11] hibatallahAouadni commented on #23705
Hello @patricecarrier

Did you upgrade your shop lately? If so, could you please check this issue #23218 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-21 00:00] TecnoHands opened #23715 "Dashboard Goals Module doesn't work in presta 1.7.7.2"
#### Describe the bug

In a clean instalation of prestashop 1.7.7.2 when configure the module in the main page of BO this don't show any info.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install prestashop
2. Config the module dashboard goals
3. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/16818257/111888871-438cec80-89bf-11eb-8f70-41a7887f0d18.

[2021-03-21 11:52] MathiasReker opened #23716 "PrestaShop validator bug"
#### Describe the bug

I get this error in PrestaShop validator:  `Module class must extend one of these classes: Module, PaymentModule, CarrierModule`.

I want to extend to `PrestaShop\Module\SecurityPro\Bootstrap`. Then in my Bootstrap file, I want to extend to Module: `class Bootstrap extends Module{}`.

Here is my file:

[code]

The problem is that I want my module to be compatible with both P

[2021-03-21 12:37] rmilecki opened #23717 "New translation system can't handle module names with underscore"
#### Describe the bug

Starting with release 1.7.6, modules can use the new translation system. It requires using following naming schema: `Modules.Nameofthemodule.Specificpart`. [Documentation says](https://devdocs.prestashop.com/1.7/modules/creation/module-translation/new-system/) that for the middle part:

It means the new system can't handle modules named like `mycompany_payments`.

#### Expec

[2021-03-21 12:39] rmilecki commented on #23717
Technically it's possible to use the new system in modules using underscore in a name. E.g.
[code]
but that (`Mycompany_payments`) is against the rules, so there should be some official way for handling that.

[2021-03-21 12:52] patricecarrier commented on #23705
Hey,

Thx hibatallahAouadni for your response.

I take the project after other developper and i don't know when the upgrade has been maked.

**For information:**
Prestashop version : 1.7.6.8
PHP : 7.2
Module comment product version : 4.2.1

I don't find an answer clearly. For the moment issue are not closed.

**To help prestashop Team to resolve this error:**
• It's clearly a conflict between core

[2021-03-21 14:55] Vallekano opened #23718 "Add checkout message from API"
#### Describe the bug

I have been creating orders in different Prestashop installations since time ago but now I would like to add a checkout message to the orders and I cannot find the proper way to do this.

After creating the order in the system I am creating a "customer_thread" setting the "id_order" and the "id_customer". After that, I add a message to this thread.

The thread is created pro

[2021-03-21 16:16] pelleringa commented on #23653
@bartoll . Is this module a Prestashop's native module? (I don't recognize it by this name).
The error says the Controller doesn't exist, but in database there is an entry for this Controller to be loaded. If before the upgrade was working, it is possible that you had this controller in override/controllers/admin?

[2021-03-21 17:05] demeldoo opened #23719 "Tax extempt when company is entered"
Hi can you confirm that when company name is entered without tax then no taxes will be calculated

[2021-03-21 17:21] matks commented on #23653
@pelleringa it's a PrestaShop module that is installed during shop setup

https://github.com/prestashopcorp/ps_mbo

[2021-03-21 17:23] matks commented on #23719
GitHub issues are used to discuss about bugs and new features for the PrestaShop project, not for questions

Follow https://devdocs.prestashop.com/1.7/faq/i-need-help/

[2021-03-21 17:23] #23719 closed, assigned to nobody

[2021-03-21 20:21] md2158 opened #23720 "Installed modules translation error"
#### Describe the bug

I upgraded prestashop to 1.7.7.2 and can't translate installed modules. Getting this error:
'An error has occurred, this module does not exist'

How to solve this?

#### Additional information

* PrestaShop version: 1.7.7.2
* PHP version: 7.1

[2021-03-21 23:07] BElluu opened #23721 "PrestaShop deploy using Ansible."
Hi! I needed to deploy fast PrestaShop so I created Ansible role. It takes about 2 minutes to set up the entire store. Maybe it will be useful to someone.

https://github.com/BElluu/PrestaShop-Ansible

[2021-03-22 07:56] hibatallahAouadni commented on #23697
Hello @Hlavtox

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #10653.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-03-22 07:56] #23697 closed, assigned to nobody

[2021-03-22 07:57] hibatallahAouadni commented on #23697
Duplicate of #10653

[2021-03-22 08:05] hibatallahAouadni commented on #23656
Hello @grzegorzgit

Sorry for the late response.

Ping @PrestaShop/prestashop-maintainers @PrestaShop/prestashop-core-developers could someone please answer @grzegorzgit question :pray:

[2021-03-22 08:09] matks commented on #23721
Awesome !

[2021-03-22 08:10] hibatallahAouadni commented on #23442
Hello @tiagondelgado ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-22 08:10] #23442 closed, assigned to nobody

[2021-03-22 08:11] hibatallahAouadni commented on #23447
Hello @ricardoceci ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-22 08:11] #23447 closed, assigned to nobody

[2021-03-22 08:31] hibatallahAouadni commented on #23440
Hello @frankmasio ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-22 08:31] #23440 closed, assigned to nobody

[2021-03-22 08:32] hibatallahAouadni commented on #23448
Hello @forkyboy ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-22 08:32] #23448 closed, assigned to nobody

[2021-03-22 08:43] grzegorzgit commented on #23656
By "update the cart" I meant of course editing it, right now there are some cart hooks like actionCartSave, but they dont modify the cart content (eg. product price, tax rule). I was hoping  actionCartSummary would do it, but unfortunately it doesn't, parameters returned in this hook don't modify any information in cart object or in cart summary page.

[2021-03-22 08:46] KrzysztofWWW opened #26096 "is this module GA4 compatible?"
Hi,
I've tried using this module with Google Analytics 4. After few days I noticed no ecommerce events are registered. I see that module is still using analytics.js method.
So, is there a way I could use it for registering ecommerce events or should I just move to some paid modules?

[2021-03-22 09:16] hibatallahAouadni commented on #23720
Hello @merick2158

I can't reproduce your issue :confused:
You need to mention the module name and the previous version of your shop.
And try to check if the module exist in the module list **Modules>Module Manager**.
May be your module is not compatible with PS1.7.7.2.
Please check and feedback.

PS: please edit your issue description and add the missing infos and blocks (steps to reproduce, scre

[2021-03-22 09:19] hibatallahAouadni commented on #23718
Hello @Vallekano

Thanks for your issue!
Could you please provide your PrestaShop version and your PHP version, and maybe clearer steps to reproduce :sweat_smile:

Thanks!

[2021-03-22 09:37] prestascott commented on #23496
Hello @Hlavtox,

Thank you for your suggestion, it's a nice idea!

No, I don't think that people who started 1.7 back then wanted to kill Prestashop with this option. It simply because merchants that sell products with a lot of combinations might not want to provide "Add to basket" button and prefer to provide the product details on "Quick View".

Just imagine customers struggling with choosing mo

[2021-03-22 09:52] hibatallahAouadni commented on #23716
Hello @MathiasReker

The Validator is not part of the Open Source Project. It is in no way linked to this repository.

You can contact the Addons team [here](https://addons.prestashop.com/en/contact-us).
You can also contact the Validator team directly through [this email](mailto:validator@prestashop.com).

Thank you for your understanding.

[2021-03-22 09:52] #23716 closed, assigned to nobody

[2021-03-22 09:59] matks commented on #23671
Hi @ks129 we already have GHA annotations for phpstan and eslint if I am not wrong.

So the only missing GHA annotation would be php-cs-fixer, right ?

But it seems PHP CS Fixer does not have this feature https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/5534

[2021-03-22 10:00] hibatallahAouadni commented on #23715
Hello @TecnoHands

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9662.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-03-22 10:00] #23715 closed, assigned to nobody

[2021-03-22 10:32] ks129 commented on #23671
@matks I don't think PHPStan and ESLint have annotations. I can't find them in workflow command arguments and also if my PR PHPStan failed, then this didn't produce annotations.

[2021-03-22 10:37] Progi1984 commented on #23660
Fixed by #23688

[2021-03-22 10:37] #23660 closed, assigned to NeOMakinG

[2021-03-22 10:48] hibatallahAouadni commented on #23709
Hello @TecnoHands

Did you mean by Customer Comment the Module **ProductComment**:

![image](https://user-images.githubusercontent.com/23308427/111978262-054d1580-8b04-11eb-85d4-c987cf6acd36.png)

If so, we are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #16505.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-03-22 10:48] #23709 closed, assigned to nobody

[2021-03-22 10:48] hibatallahAouadni commented on #23709
Duplicate of #16505

[2021-03-22 10:51] hibatallahAouadni commented on #23714
Hello @nikos83

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #12321.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-03-22 10:51] #23714 closed, assigned to nobody

[2021-03-22 10:51] hibatallahAouadni commented on #23714
Duplicate of #12321

[2021-03-22 11:02] hibatallahAouadni commented on #23656
Hello @grzegorzgit

Could you please check this issue #20509 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-22 11:02] Hlavtox commented on #23656
@grzegorzgit I think you can do it quite easily. See how vatnumber module works. I think if you copy and bend it a little, it will do what you want.
https://github.com/PrestaShop/vatnumber/blob/dev/vatnumber.php
https://github.com/PrestaShop/vatnumber/blob/dev/VATNumberTaxManager.php

Something like this, maybe?
[code]

[2021-03-22 11:03] micka-fdz commented on #17137
Hi @prestascott. Any news here?

[2021-03-22 11:09] hibatallahAouadni commented on #23717
Hello @rmilecki

What you're asking about it's no a bug but an improvement :wink:
Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , is there any official way to manage modules using an underscore in their names?

[2021-03-22 11:12] Hlavtox commented on #23496
@prestascott I meant 1.7 as a whole. Lot of useful features were removed and are slowly added back...

Why not just do it the same as it used to be in 1.6. Even woocommerce has it the same. :-)

No combinations or 1? = **Add to cart**
More than 1 combination? = **Select option**

[2021-03-22 11:54] hibatallahAouadni commented on #23710
Hello @tahsin352

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-03-22 11:54] #23710 closed, assigned to nobody

[2021-03-22 12:00] hibatallahAouadni commented on #23711
Hello @maniot

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-03-22 12:00] #23711 closed, assigned to nobody

[2021-03-22 12:12] hibatallahAouadni commented on #23708
Hello @TecnoHands

Thanks for your issue!
I manage to reproduce your issue with PS1.7.7.0 and PS1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/1cCSXZKUiwJReeAYui1txbV_9u2S9uwBJ/view

I didn't reproduce with PS1.7.6.7, so it's a regression.
With PS1.7.7.2, I can't disable and uninstall the module. With PS1.7.7.0, I can disable the module but I can't uninstall it.

I

[2021-03-22 12:29] matks commented on #23496
I just wanted to give some insights about this :)

Although all peope who built 1.7.0 are gone so we cannot be sure, I think in PS 1.7.0 some features were removed in an attempt to make the software simpler and lighter.

If you keep adding feature to a software, and more, and more, and more, the software starts to suffer from [feature bloating](https://www.productplan.com/glossary/feature-bloat/)

[2021-03-22 12:30] maniot opened #23724 "Error on generating invoice"
#### Describe the bug

when an order contains a specific price Prestashop throws an error when trying to generate an invoice in BO order list.
error: Invalid $number parameter: "" cannot be interpreted as a number [PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException 0]

#### Expected behavior
When clicked on icon in order list Prestashop is supposed to generate an invoice pdf
F

[2021-03-22 12:40] matks commented on #23671
@ks129 Here is an example of PR where PHPStan outputs GHA annotations

https://github.com/PrestaShop/PrestaShop/pull/22547/

![Capture d’écran 2021-03-22 à 13 39 49](https://user-images.githubusercontent.com/3830050/111991026-23bb0d00-8b14-11eb-801c-2192eaf52eae.png)

[2021-03-22 13:32] tahsin352 commented on #23710
@hibatallahAouadni I made the above api request and i found the `name` field is always null. how to fix it?

[2021-03-22 13:34] ldeprestashop commented on #18738
This issue is close because we will merge on two modules.

  - #23348
  - #23349

[2021-03-22 13:34] #18738 closed, assigned to nobody

[2021-03-22 13:48] hibatallahAouadni commented on #23710
Check this doc https://devdocs.prestashop.com/1.7/webservice/resources/categories/

[2021-03-22 14:07] tahsin352 commented on #23710
@hibatallahAouadni Yes, I have followed those guide exactly. Please see the attached image. I called the categories api, but name, description, link_rewrite are null. how to fix it?
<img width="897" alt="Screen Shot 2021-03-22 at 8 06 05 PM" src="https://user-images.githubusercontent.com/1106654/112002486-22a4d280-8b4a-11eb-9070-ef3e3b5f0437.png">

[2021-03-22 14:08] hibatallahAouadni commented on #23706
Hello @theodiablo

Could you please check this issue #13769 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-22 14:11] #23651 closed, assigned to NeOMakinG

[2021-03-22 14:41] hibatallahAouadni commented on #23724
Hello @maniot

I didn't manage to reproduce your issue with PS1.7.7.1 and PS1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/1SkKnUbJxz6MTzk0T08h1SMgYCi5eE6Yv/view

Please check and feedback.
Thanks!

[2021-03-22 15:06] hibatallahAouadni commented on #23712
Hello @logosur

I upgrade my shop from 1.6.1.20 to 1.7.7.2 and I didn't encounter any issue besides this one #23277.
See the attached screen record below:

https://drive.google.com/file/d/1_Wst2G92nnRen-Or84UCaKqRsHbkE01O/view

Please check and feedback.
Thanks!

[2021-03-22 15:10] hibatallahAouadni commented on #23700
Hello @kenlog

So why you closed the issue if you still encounter the issue?

Thanks!

[2021-03-22 15:18] Vallekano commented on #23718
Hello @hibatallahAouadni

Sorry, I will try to explain the issue a more.

The issue is happening in a PrestaShop 1.6.0.5, PHP: 5.6.40-0+deb8u7

I have tested the same code today in a Prestashop 1.7.7.2 PHP: 7.3.5 and it is working fine.

The steps to reproduce the issue are:
1. Create an order in the system
2. Use the API to create a customer thread (customer_threads resource) setting this propert

[2021-03-22 15:35] logosur commented on #23712
Hi Hibatallah,

Sure, sorry for the typo! it is 1.7.7.2 hehe

I got even more issues, I had, for example to run this SQL before migration:
UPDATE ps_attribute SET color = '' WHERE color IS NULL;

This is because this error during upgrade:
ALTER TABLE ps_attribute CHANGE color color VARCHAR(32) NOT NULL, CHANGE position position INT NOT NULL DEFAULT '0'
`SQLSTATE[01000]: Warning: 1265 Data truncate

[2021-03-22 15:45] guigplt opened #23726 "ps_facetedsearch special chars in feature value"
#### Describe the bug

Faceted search doesn't work when there are some special chars in feature values.
Example : "-" or "/"

#### Steps to Reproduce

Steps to Reproduce :
1. Create feature value containing "-" or "/"
2. Activate this feature value on faceted search
3. Select this feature value on the front
4. Nothing happens

#### Additional information

* PrestaShop version: 1.7.5.1
* PHP versio

[2021-03-22 15:57] #20552 closed, assigned to nobody

[2021-03-22 16:18] eternoendless commented on #23465
## Status update

The build has been created and submitted today to QA for validation.

[2021-03-22 16:30] hibatallahAouadni commented on #23718
Hello @Vallekano

What you're asking for is a kind of mission impossible :sweat_smile:
Searching for the PR fixing the issue from 1.6.0.5 to 1.7.7.2 :sweat: but I tired my best, I found these two:
- #3745 - [*]WS: Adding Message to the API
- #7833 - Added message delivery information on checkout process
Hope it helps! Well, I have to close this issue :wink:

_**PS:** it will be better if you upgra

[2021-03-22 16:30] #23718 closed, assigned to nobody

[2021-03-22 16:39] hibatallahAouadni commented on #23726
Hello @guigplt

This issue has been fixed with **ps_facetedsearch** v3.7.0 see the issue #16320 and the PR https://github.com/PrestaShop/ps_facetedsearch/pull/275
Could you please upgrade your **ps_facetedsearch** module and check if you still encounter the issue.

Thanks!

[2021-03-22 16:46] khouloudbelguith commented on #23433
Hi @camlafit, @atomiix,

I did not manage to reproduce the issue after an upgrade from PS16124 to PS1772 using the 1-click upgrade v4.12.0.
Steps that I followed:
1. Install 16124
2. Install a module using those hooks
[code]
3. I installed the Product video module also
4. Do an upgrade to PS177 => ok
5. I checked the first module, it is not hooked to those hooks anymore

I attached a screen record

[2021-03-22 16:57] HartLarsson commented on #19635
just a question about EURO -> USD rates:

from prestashop api: http://api.prestashop.com/xml/currencies.xml

![image](https://user-images.githubusercontent.com/16102074/112027818-dbade180-8b37-11eb-81ea-a541893459b4.png)

from ecb: https://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml

![image](https://user-images.githubusercontent.com/16102074/112027893-eec0b180-8b37-11eb-9629-61a7b7dadaf

[2021-03-22 17:12] HartLarsson opened #23728 "Currency source provided by prestashop api aer not the same of ecb"
#### Describe the bug

I've discovered that the exchange rate provided by prestashop api are not correct/the same as actual provided by European Central bank

#### Expected behavior

I expect the same exchange rate

#### Steps to Reproduce

just a question about EURO -> USD rates:

from prestashop api: http://api.prestashop.com/xml/currencies.xml

![image](https://user-images.githubusercontent.com

[2021-03-22 17:13] guigplt commented on #23726
That's the version I have.

[2021-03-22 17:17] theodiablo commented on #23706
@hibatallahAouadni, indeed, it seems to be the same issue. I think in my description I am giving a bit more details, but yes, this is very likely the same root cause!

[2021-03-22 17:19] cdbrkfxrpt commented on #16477
What's the status here? Ubuntu 20.04 ships PHP7.4 as its default, and Ubuntu 20.04 is frankly a very reasonable choice for a new deploy offered by hosting providers I'm aware of as the "default Ubuntu" now. I don't know any numbers off-hand but I would guess it's a close call with Debian 10, which ships PHP7.3.

Is that potentially something that would make you reconsider the prioritization of PHP

[2021-03-22 17:49] eternoendless commented on #16477
@cdbrkfxrpt you can follow the status of this version [here](https://github.com/PrestaShop/PrestaShop/issues/23010).

[2021-03-22 18:40] 8i11y commented on #23286
Have the same Issue.
If you upload a custom image for blockreassurance the descriped error appears on debug mode !!!

[2021-03-22 18:41] akaeu opened #23729 "Login to BO in 1.7.7.2 does not work after upgrade from"
#### Describe the bug
When going to BO after inserting the credential, no login possible.
The link in any broser redirect to https://websitedomanin.com/adminpanel/index.php?controller=AdminLogin&token=609642c69c1650b5c72662a73e2fc41d

In the error log no message appear. After setting debug to TRUE also no message available.

#### Expected behavior

#### Steps to Reproduce

Steps to reproduce the b

[2021-03-22 21:08] merick2158 commented on #23720
Hi @hibatallahAouadni
Upgraded from 1.7.3.4 to 1.7.7.2

Modules work fine, but all modules' translations can't be edited.

[2021-03-22 21:28] matks commented on #19962
Discussion and implementation have been discussed with @zuk3975 , @jolelievre and @MatShir . Will be delivered with Product V2 page.

[2021-03-22 21:28] #19962 closed, assigned to nobody

[2021-03-22 21:32] matks commented on #19633
@LouiseBonnard The benefits of Varnish are large, there is no discussing that 😄 the question is rather prioritization.

@ldeprestashop an example of something hard to prioritize: possibly great benefits but can be time-consuming to do for developers

[2021-03-22 21:34] matks commented on #19121
Hi everybody I dont understand the issue here. I fail to see why the proxy would prevent the 1-click upgrade module to work 🤔

@nataliatebar if I am not wrong you are reporting a bug. Could you please use the Bug Report template https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md to provide us steps we can follow to reproduce it? Without that it's a bit

[2021-03-22 21:38] matks commented on #19118
Hello, sorry for late answer but I think this cannot be done in PrestaShop.

PrestaShop is an application mainly powered by PHP, CSS, JS and HTML. It does not allow us to provide capabilities like Backup, switch between Versions, Enabling or disabling live systems. This would rather been done at the level of the infrastructure you are using, possibly powered by something like [kubernetes](https://

[2021-03-22 21:40] matks commented on #20121
I move this issue to `To Do` as this is needed for webservice. It will be assigned a priority.

[2021-03-22 21:45] matks commented on #19527
Hi, sorry for late answer

Can be done, just needs to be given a priority and assigned to a kanban. It's already what is implemented if I understand.

Can be done, just needs to be given a priority and assigned to a kanban. Needs to be done carefully but nothing scary.

Can be done, needs to be given a priority and assigned to a kanban. Can be tricky depending on the lists because the data in the

[2021-03-22 22:15] maniot commented on #23724
In order to be able to print the invoice i edited the database ps_order_detail for this order and changed the amounts accordingly to orders that didn't have specific prices, after that i was able to generate the invoice correctly.
The site is in multistore. I used the icon in the orders list like in the attached screenshot.
Best regards,
Niek
![screenshot-the-dreamstore com-2021 03 22-23_08_27](ht

[2021-03-23 05:43] hibatallahAouadni commented on #23726
Hello @guigplt

Thank for you feedback!
So your **ps_facetedsearch** version is 3.7.0 and you still encounter this issue? That's odd!
Could you please provide a screenshot or a screen record.

Thanks!

[2021-03-23 05:48] hibatallahAouadni commented on #23729
Hello @akaeu

Could you please provide your previous PrestaShop version (before upgrade) and what was the **1-click upgrade** module version that you used.
Please check and feedback.

Thanks!

[2021-03-23 07:56] ldeprestashop commented on #23465
I has created a Silver request Issue on Equipe Brand Design (EBD) kanban for the visual contents.

https://forge.prestashop.com/browse/EBD-249

[2021-03-23 08:28] hibatallahAouadni commented on #23470
Hello @Nesta78 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-23 08:28] #23470 closed, assigned to nobody

[2021-03-23 08:28] hibatallahAouadni commented on #23387
Hello @Hlavtox ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-23 08:28] #23387 closed, assigned to nobody

[2021-03-23 08:29] hibatallahAouadni commented on #23501
Hello @pollat ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-23 08:29] #23501 closed, assigned to nobody

[2021-03-23 08:34] hibatallahAouadni commented on #23728
Hello @HartLarsson

I didn't manage to reproduce your issue with PS1.7.7.2, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/112116637-c3cb7180-8bba-11eb-8104-01f6488b6001.png)

Click on the **Update** button to update the exchanges rates :wink:
Please check and feedback.

Thanks!

[2021-03-23 08:42] ldeprestashop commented on #19633
I agree @matks : varnish can be a major feature for huge site be we must focus on one direction.

We don't have any ressources for study (and develop) any sides of eCommerce, so we will must make choice for futures releases.

Maybe Varnish on a future release if  we will decide to focus  on huge sites.

It’s very complicate for Product Management to chose one feature because we must give up many o

[2021-03-23 08:56] matks commented on #19633
@ldeprestashop I think we can close this issue for now because we are not likely to implement it soon.

@aecarlosae I close this issue. This does not mean we dont care or we dont think this is interesting, it's rather that we have so much topics to handle, this one cannot reach the top of our pile of things to do. But if you are interested in the topic feel free to invest yourself in it 😉  .

[2021-03-23 08:56] #19633 closed, assigned to nobody

[2021-03-23 09:08] matks commented on #23728
Searching for it

@hibatallahAouadni the rates are changed everyday, I am looking at how they are being gathered

[2021-03-23 09:29] guigplt commented on #23726
Hi,
Yes that's right.

Here is an example :
![image](https://user-images.githubusercontent.com/44002621/112124093-44da3700-8bc2-11eb-8e57-3698702692a1.png)

When I click, the q parameter is not added to the url.

Also I tried to add the feature url :
![image](https://user-images.githubusercontent.com/44002621/112124371-8ff44a00-8bc2-11eb-9936-809eba637cbb.png)

But it's not used in the q parameter

[2021-03-23 09:39] hibatallahAouadni commented on #23706
Hello @theodiablo

Yes you're right :clap: so I will copy and paste your description into that issue :wink: Thanks!
But as you know, I have to close this issue cause it is already in our debug backlog.
This issue is a duplicate of #13769.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-03-23 09:39] #23706 closed, assigned to nobody

[2021-03-23 09:40] hibatallahAouadni commented on #23706
Duplicate of #13769

[2021-03-23 09:40] matks commented on #23717
ping @sowbiba

I think the rule `Only word characters (A-z, 0-9) are supported.` is because of mapping between legacy module format and new format. However if a module uses XLIFF files, it should not be limited to A-z 0-9 ?

Also if name is `mycompany_payments` can we simply decide to ignore the `_` and use `Modules.MycompanyPayments.Specificpart` as a domain?

[2021-03-23 09:40] TheMacros commented on #15420
Hello.
This problem is not soved in 1.7.7.2
![изображение](https://user-images.githubusercontent.com/849023/112125905-95ef2880-8bcc-11eb-8019-402fa7457cdf.png)

[2021-03-23 10:09] nikos83 commented on #22386
I have the same error after update from 1.7.5 to 1.7.7.2
![image](https://user-images.githubusercontent.com/4093704/112128999-3e9a8980-8bc7-11eb-9f8f-314f3101faba.png)
Is that can be fixed by modify something in db ?  From where this $item['employee_lastname'] come from in db?
Comment on this @obeba  suggested helped but is it right solution for this?

[2021-03-23 10:57] matks commented on #19654
Hi everybody, sorry for late answer

Yes this is likely to create bug issues

Same for me, it's hard to build a _reproductible scenario_ without spending a few (maybe more) hours on this topic

I guess the right solution would be to `the cache key must reflect more / all of the function parameters`

That being said, as the issue is hard to reproduce and scope, it will be hard
- to build a _reprodu

[2021-03-23 10:57] #19654 closed, assigned to nobody

[2021-03-23 11:36] jf-viguier opened #23733 "Shop logo width and height are not updated"
#### Describe the bug

SHOP_LOGO_WIDTH and SHOP_LOGO_HEIGHT configuration vars are set in prestashop install, in web service logo update but not in SF Theme controller.
It was there in AdminThemeController before SF migration.
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Note SHOP_LOGO_WIDTH  and SHOP_LOGO_HEIGHT in configuration table
2. Go to theme configuration
3. Change shop l

[2021-03-23 11:51] khouloudbelguith opened #23734 "BO - Orders page - Multi-invoice issue - Customized product cannot be added to multi-invoice"
#### Describe the bug

In the BO >  Order details page, when we have multi-invoices, adding a customized product is NOK.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create an order from BO/FO with a customized product for example "demo_14"
2. Generate an invoice for this order
3. Go to BO > Orders > last order details page
4. Add the same customized product "demo_14" with creati

[2021-03-23 12:04] mrabsinthe commented on #23644
@florine2623 will this remain closed so I have to create a new ticket?

[2021-03-23 12:34] aecarlosae commented on #19633
Ok @matks I'm going to generate a solution and when it is ready, I'll tell you about. Thanks!

[2021-03-23 12:59] dutyhook opened #23735 "Payment method not translated in case of order made from adming page"
PS 1.7.7.2
PHP 7.1

When order is made by customer, then payment method field gets translated in order conformation e-mail and invoice. If similar order is made from Admin panel and chosen language requires translation, the same field is not translated and also status is not translated (while all the rest is translated and/or correct templates are used):

Example of not translate value: Bank trans

[2021-03-23 12:59] matks commented on #19267
Topic discussed, explored and being implemented by the amazing @zuk3975 @jolelievre and @NeOMakinG

[2021-03-23 12:59] #19267 closed, assigned to nobody

[2021-03-23 12:59] matks commented on #19280
Topic discussed, explored and being implemented by the amazing @zuk3975 @jolelievre and @NeOMakinG

[2021-03-23 12:59] #19280 closed, assigned to nobody

[2021-03-23 13:01] matks commented on #9885
Hi everybody this issue has stayed stale for 2 years now and I dont see it going anywhere soon. I think we can safely close it, and if the need behind was important it'll come back.

Else it will stay in this state for many years.

[2021-03-23 13:01] #9885 closed, assigned to nobody

[2021-03-23 13:15] matks commented on #10762
Hi everybody,

I think we can close this issue.

😄

I'm quite sure a large number of people will think I'm crazy when I say that. 😅

_Please let met explain before shouting at me_ 😉

The reason why I say we can close this issue is that _this issue has been actually a global ecommerce issue_ for years. It's not just PrestaShop. I'm quite sur WooCommerce or Magento can have it too.

It has been summ

[2021-03-23 13:20] matks commented on #20026
Hello, sorry for late answer but I dont understand the topic. Is this a code suggestion ? 😅  Then maybe opening a Pull Request is a better way to submit it 😉

[2021-03-23 13:21] matks commented on #12984
Hi @PierreRambaud I think it's a very good idea :) maybe something we can start for PrestaShop 8 when its development begins?

[2021-03-23 13:28] hibatallahAouadni commented on #23735
Hello @dutyhook

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-03-23 13:28] #23735 closed, assigned to nobody

[2021-03-23 13:29] matks commented on #12334
Hi @kpodemski when you said that you were not a PrestaShop maintainer. Now you are one 😄  so... what do you think?

As for me, I have an opinion that I think everybody will dislike 😄 : this issue has been opened 2 years ago, and nothing happened. PrestaShop did not use units for years and few people complained. So I understand that _some people_ would be happy to have this feature inside PrestaSho

[2021-03-23 13:29] #12334 closed, assigned to nobody

[2021-03-23 13:34] matks commented on #11324
Hi, I dont see why there is `waiting for dev` for this issue 😅

I cant find any PR from @masiorama so I guess he could not find time for this topic. No worries 😄  it happens.

I close this issue as nothing else is needed.

[2021-03-23 13:34] #11324 closed, assigned to nobody

[2021-03-23 13:34] hibatallahAouadni commented on #23644
Hello @mrabsinthe

Could you please provide more clearer steps to reproduce the issue, cause with these steps neither @florine2623 nor me could reproduce the issue.
If I reproduce the issue, I will reopen it :wink:

Thanks!

[2021-03-23 13:41] coluccini commented on #16939
Sorry to write over here, but I haven't had any luck on the PS forums… This module should update the listing page meta title and main title (text on the H1 tag) based on the applied filters?

I think that, if you are allowing search engine to index the filtered pages, that each one should have a different title, but I can find a way to do it… The only way is by making code changes?

<img width="70

[2021-03-23 13:42] dutyhook opened #23737 "Payment method field not translated when order is made from admin panel"
#### Describe the bug
When order is made by customer, then payment method field gets translated in order conformation e-mail and invoice. If similar order is made from Admin panel and chosen language requires translation, the same field is not translated and also status is not translated (while all the rest is translated and/or correct templates are used):

Example of not translate value: Bank tra

[2021-03-23 13:47] masiorama commented on #11324
Wow, 2y ago! Sorry, never had the chance to contribute, and I totally forgot about it.

[2021-03-23 13:53] matks commented on #11324
@masiorama No worries, it happens all the time 😉

[2021-03-23 13:58] matks commented on #13682
Thank you @zuk3975

@LucaMozzo it seems the `stock_available` entries for non-existing products are a mistake

If I am correct, ON DELETE CASCADE  works only with tables with the storage engines that support foreign keys so that is InnoDB. Today we support both MyISAM and InnoDB although we are considering to drop MyISAM which would unlock this capability.

But for now, since we support both MyISA

[2021-03-23 13:58] #13682 closed, assigned to nobody

[2021-03-23 14:06] matks commented on #14351
I confirm this is something that should be done for the webservice so I pass it in `To Do`.

However as you can see there has been no development effort on the webservice for 2 years.

This does not mean we dont care, it's rather that we have so much topics to handle, this one cannot reach the top of our pile of things to do for now. And this is likely to stay this way for the coming months.

If y

[2021-03-23 14:11] matks commented on #17753
I confirm this is something that should be done for the webservice so I pass it in `To Do`.

However as you can see there has been no development effort on the webservice for 1 years.

This does not mean we dont care, it's rather that we have so much topics to handle, this one cannot reach the top of our pile of things to do for now. And this is likely to stay this way for the coming months.

If y

[2021-03-23 14:24] seederp2p commented on #9594
Just to confirm, this issue is still present on 1.7.7.2 correct?

I faced this problem on 1.7.7.2 with vivawallet payment, but I don't see the relation with payment method because:

If we add in cart:

Product 1 (which has an available carrier S1)
Product 2 (which has an available carrier S2)
=> In the order checkout STEP 3 it only shows 1 carrier (example: S2) but cart still has 2 products.

It a

[2021-03-23 14:24] hibatallahAouadni commented on #23710
Hello @tahsin352

I didn't manage to reproduce your issue with PS1.7.7.1 and PS1.7.7.2, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/112161262-4409cb00-8beb-11eb-8821-e466808324ae.png)

As you can see the name is well displayed with all installed languages:

[code]
Please check and feedback.

Thanks!

[2021-03-23 14:32] matks commented on #17684
No, we dont have someone who speaks arabic unfortunately 😭

As far as I know, CLDR will not solve this issue.

I think that currently _PrestaShop does not support non-arabic numbers_. It's a limitation of the current software. We can start a project to allow the use of non-arabic numbers in the software but _that would be a gigantic project_ because we need to modify
- every input where you can su

[2021-03-23 14:32] seederp2p opened #23738 "1.7.7.2 - Specific Carriers for each product leads to wrong behavior at check out"
To reproduce:

If we add in cart (order is important):

Product 1 (which has an available carrier Carrier1)
Product 2 (which has an available carrier Carrier2, Carrier3, Carrier 4)
=> In the order checkout STEP 3 it only shows 1 carrier (example: Carrier2) but cart still has 2 products.
It allows to conclude the order and make the payment. At the backoffice you'll see a split order.

If you invert

[2021-03-23 14:41] matks commented on #18768
Hello, sorry for late answer

Well if there is a bug, it has been reproduced by @florine2623 ... then we must add it to the roadmap and plan to fix it 😄  I see no problem here. Just a bug, just some work to do.

@Hlavtox Is that something you could submit a PR for ? 😉

[2021-03-23 14:43] matks commented on #20764
@jolelievre has provided an amazing specification of what to be done so I mark this issue as `To Do`

[2021-03-23 14:48] hibatallahAouadni commented on #23383
Duplicate of #23218

[2021-03-23 14:51] matks commented on #13785
Well I close this issue because I think we will not be able to do it soon

[2021-03-23 14:51] #13785 closed, assigned to nobody

[2021-03-23 14:51] jolelievre commented on #20764
@iibs I think the hook is not present in the list of transplant because it's a "dynamic hook" so its name was not added in the initial hooks fixtures even though it works, it's not viewable in the database either by default until some module registered to it.

I believe that you can implement a `reset` method in your module When this function doesn't exist then the core interprets a `reset` as `un

[2021-03-23 14:54] matks commented on #13573
I close this issue as no progress has been done for 2 years. I dont think I can work on it soon.

[2021-03-23 14:54] #13573 closed, assigned to nobody

[2021-03-23 14:56] matks commented on #20835
Sorry for late answer. Topic confirmed, moved to `To Do` and added to epic https://github.com/PrestaShop/PrestaShop/issues/12851 . I also modified the title.

[2021-03-23 15:00] matks commented on #20127
Hi, sorry for late answer. It looks like this is the same topic / project that https://github.com/PrestaShop/PrestaShop/issues/20333

If we have a single `public/` folder, and only this folder is exposed to the web, everything is solved if I am not wrong?

@ChazyTheBest is it OK if I close this issue as duplicate topic of https://github.com/PrestaShop/PrestaShop/issues/20333

[2021-03-23 15:03] hibatallahAouadni commented on #23705
Hello @patricecarrier

It's the same error in this [comment](https://github.com/PrestaShop/PrestaShop/issues/23383#issuecomment-785063659)
And it's already a duplicate of #23218
So, your shop version was 1.6 and it was upgraded to 1.7.6.8

Well, you won't find it in the Market Place cause it's a native module.
So you need to:
1. Clone the project https://github.com/PrestaShop/productcomments
[code

[2021-03-23 15:03] #23705 closed, assigned to nobody

[2021-03-23 15:03] hibatallahAouadni commented on #23705
Duplicate of #23218

[2021-03-23 15:07] matks commented on #23421
Interesting !

I have found the commit which introduced this checkout_session_data field https://github.com/PrestaShop/PrestaShop/commit/42c6b9b1c01807ad8110cf5697269a7e988db009

@PierreRambaud would it be safe to copy this data which is supposed to be related to session? could it introduce security issue?

[2021-03-23 15:09] matks commented on #23544
Hi, I removed `Waiting for dev` label because there is no need for developer answer.

What needs to be done now is a careful developer exploration to find out all logic statements in PrestaShop that depends on VatNumber module being installed, and decide what to do about them.

[2021-03-23 15:11] matks commented on #23156
Hello @hibatallahAouadni we can label this issue `To Do` and link it to https://github.com/PrestaShop/PrestaShop/issues/13863 epic I think

[2021-03-23 15:13] hibatallahAouadni commented on #23712
Hello @logosur

Could you please check this issue #11629 you may find some answers.
It seems your issue will be fixed if you execute the command mentioned in this [comment](https://github.com/PrestaShop/PrestaShop/issues/11629#issuecomment-444849864).
Please check and feedback.

Thanks!

[2021-03-23 15:16] ChazyTheBest commented on #20127
As long as it is also considered to replace `mod_rewrite` ([which shouldn't be used for this in the first place](https://httpd.apache.org/docs/current/rewrite/avoid.html)) with `FallbackResource`. Unless I'm missing some use case which is not covered by it, I think it'd be a good idea to follow their recommendations.

[2021-03-23 15:20] hibatallahAouadni commented on #23544
Thanks @matks
So, in order not to lose the issue, I added it in **[EPIC] B2B** :wink:

[2021-03-23 15:22] matks commented on #20127
@PierreRambaud I am no expert in httpd config. Can you provide your knowledge about `mod_rewrite` usage?

[2021-03-23 15:23] aestuar commented on #9594
Yes it is! It is a big problem....

[2021-03-23 15:26] hibatallahAouadni commented on #23156
@matks done :heavy_check_mark:

[2021-03-23 15:34] logosur commented on #23712
Hello @hibatallahAouadni,

thank you, yes, you're right, one of my issues is just this one ;)

I'm sorry because I've mixed up some issues in the samme comment it may be confusing.

Regarding this current issue:

_Regarding this 404 error in homepage, could you please go to Dispatcher.php and put a dump($this->routes); at the end of loadRoutes() method ?

This way we could see which order are rout

[2021-03-23 15:41] matks commented on #23656
I'm afraid I have no such knowledge, I am not an expert enough to know this level of details for hooks :(

[2021-03-23 15:45] khouloudbelguith commented on #19200
Hi @PrestaShop/product-team, @Julievrz,

The wording of the "Order return status" is NOK also.
![image](https://user-images.githubusercontent.com/16067358/112174982-23477280-8bf7-11eb-87b5-32fdd1e6bd5d.png)

Thank you!

[2021-03-23 15:49] jf-viguier commented on #23544
Thanks @matks, you are certainly a careful developer

[2021-03-23 15:56] PierreRambaud commented on #23421
Afaik no, sessions data are always stored somewhere (files, db, cache, ram, etc).
If the data is saved in database, why not allowing people to retrieve it if they need it

[2021-03-23 16:17] Julievrz commented on #19200
Oh wow, you're right @khouloudbelguith thanks! Should I open a dedicated issue?

[2021-03-23 16:27] matthieu-rolland opened #23739 "Contextual information messages in multistore context"
Following the [multistore header specifications](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs.md#multistore-header-only-from-178) and the [multistore checkbox specifications](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs.md#checkboxes), we must add two information messages, that are displayed contextua

[2021-03-23 16:31] khouloudbelguith commented on #19200
Hi @Julievrz,

Yes, we can create a new issue or edit this issue (first comment + title) to fix two problems in the same page & the same block.

Thank you!

[2021-03-23 16:33] matks commented on #23421
Feature request validated. The aim is to update Cart ObjectModel to allow to fetch and modify the property

[2021-03-23 16:39] hibatallahAouadni commented on #23286
Hello @kenlog & @PierreRambaud

I tried more than twice to install the module with v5.0.0 or with v4.1.1 and then upgraded it on my shop 1.7.6.8 but in vain:

https://drive.google.com/file/d/1g6SKDGps4ktLlTtjOIDIeXr_2ZK4laTb/view

I'm blocked :confounded: I don't know what is causing the problem on my end.
@PrestaShop/qa-functional could someone please try to reproduce the issue :pray: Thanks in a

[2021-03-23 16:41] hibatallahAouadni commented on #23733
Hello @jf-viguier

You meant changing these attributes values in the configuration table (in the data base)?
Please check and feedback.

Thanks!

[2021-03-23 16:45] hibatallahAouadni commented on #23737
Hello @dutyhook

Could you please check this issue #12308 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-23 16:49] hibatallahAouadni commented on #23738
Hello @seederp2p

As you mentioned :wink: it's not just related it's the same issue.
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9594.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: If you think you fixed it, please do send us a pull request!

Thanks!

[2021-03-23 16:49] #23738 closed, assigned to nobody

[2021-03-23 16:49] hibatallahAouadni commented on #23738
Duplicate of #9594

[2021-03-23 16:56] matks commented on #23544
Thanks @jf-viguier 😄  but I'm afraid I am already under a huge workload. The Product Team will give this topic a priority number and it will be done according to this number. Unless a community contributor wishes to invest his own time in this :)

[2021-03-23 17:02] matthieu-rolland opened #23741 "Multistore: warning before changing context when the form has been modified"
Following the [multistore header specifications](https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/multistoregeneralspecs.md):

Title: "Switch context?"
Body: "Switching context now will discard all unsaved changes."
2 CTA: "Switch context anyway" and "Cancel"
If the user clicks on "Switch context anyway", then modifications are not saved and the context is changed

[2021-03-23 17:07] matthieu-rolland commented on #23741
I'm not sure yet how this will be implemented...

I was thinking about comparing the hash of the concatenated input values, on page load and just before context switching, if the hash is different then the form has been modified.

[2021-03-23 17:17] dutyhook commented on #23737
The issue #12308 is different as this issue does not depend, whether order was made by admin or front end. Also, it is about choice of currency symbol. This should depend on different Prestashop system files.

Here described #23737 is processing issue, where order data variable "payment method" translation is applied correctly if order process is started from frontend, but not correctly if started

[2021-03-23 17:43] jf-viguier commented on #23733
@hibatallahAouadni no, I mean, write values on a paper (sorry for my poor english)

[2021-03-23 18:03] akaeu commented on #23729
Sorry my mistake. I forgot to say the original version . 1.7.2.4 .

1ClickUpgrade version  : 4.12.0

[2021-03-23 18:16] akaeu commented on #23729
And these was my modified files before I click UPGRADE

•	classes/Attachment.php
•	classes/Context.php
•	classes/Product.php
•	controllers/admin/AdminProductsController.php
•	js/jquery/ui/themes/base/minified/jquery-ui.min.css
•	modules/ps_banner/config.xml
•	modules/ps_banner/img/sale70.png
•	modules/ps_banner/ps_banner.php
•	modules/ps_categorytree/ps_categorytree.php
•	modules/ps_facetedsearch/

[2021-03-23 20:36] matks commented on #23743
Bug transferred to main repository

[2021-03-23 20:37] matks commented on #23743
Will be fixed by release 2.3.0 of module ps_emailalerts (PR https://github.com/PrestaShop/ps_emailalerts/pull/81)

[2021-03-23 20:39] matks commented on #23745
Hi @ChineseNorris sorry for late answer, can you explain more what you are talking about ? Sending different email for different recipients?

[2021-03-23 20:39] matks commented on #23746
Hi @BlackKerio would it be possible to help us reproduce this issue by filling this template? https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md

[2021-03-23 20:41] matks commented on #23747
Hi @matwong56 would it be possible to help us analyze this issue by filling the template https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md ?

[2021-03-23 21:13] matks commented on #17158
Hi everybody and sorry for late answer. I fully agree with @matthieu-rolland

Extending an existing ObjectModel to customize its data structure and the SQL structure is _exactly_ what we _dont recommend_ because we believe it brings huge instability into PrestaShop and created a huge trend of issues with upgrade.

**I think allowing the data structure to be extended is one of the main reasons why

[2021-03-23 21:13] #17158 closed, assigned to nobody

[2021-03-23 21:50] ChineseNorris commented on #23745
Hi @matks ,

yes, It's very simple, you can't separate the notifications e-mails for their purposes, for instance if you want to send stock emails to something like stocks@domain.com and new orders to new_orders@domain.com, you can't separate the notifications for different persons/teams

[2021-03-24 00:03] darkf3d3 opened #23750 "1-Click Upgrade v4.12.0 - Upgrade fail"
I'm unable to upgrade from PS 1.7.4.2 to PS1.7.7.2 using 1-Click Upgrade module v4.12.0.

**While running the upgrade, the fist block of the page with upgrade status show:**
   All files upgraded. Now upgrading database...
   Database upgraded.
   Now upgrading your Addons modules...

**But on the second field, at the bottom of the list of updated file i found these error messages:**
Database upgr

[2021-03-24 06:25] arouiadib commented on #17539
One workaround to make the FO accessible (for people who can't resolve the issue using SQL):

BO is still accessible with this bug, so under Design > Image Settings , create an image type with name "home_default" and save.

[2021-03-24 08:20] hibatallahAouadni commented on #23749
Hello @davidglezz

Could you please check this issue #22880 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-24 08:22] matks commented on #23745
@ChineseNorris Ah, I think I understand.

By "separate" you mean "each of them receive _a different email_" (they are not in CC) ? So it would be "one email per recipient"

While today, it's a single mail with multiple recipients, and consequently each recipient can see other recipients?

[2021-03-24 08:24] Julievrz commented on #19200
@khouloudbelguith @hibatallahAouadni I modified the first comment and the title. Thank you :)

[2021-03-24 08:25] hibatallahAouadni commented on #23748
Hello @ibeppo993

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #17810.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-03-24 08:25] #23748 closed, assigned to nobody

[2021-03-24 08:26] hibatallahAouadni commented on #23748
Duplicate of #17810

[2021-03-24 08:28] matks commented on #23748
@hibatallahAouadni ps_emailalerts and mailalerts are 2 different modules 😉

https://github.com/prestashop/mailalerts
https://github.com/prestashop/ps_emailalerts

mailalerts is now archived. I think it was a module for PS 1.6 only. Can I suggest we close https://github.com/PrestaShop/PrestaShop/issues/17810 because the module mailalerts has been archived but we keep this bug report open?

[2021-03-24 08:33] hibatallahAouadni commented on #23745
Hello @ChineseNorris

I just modified your issue by adding some blocks to fill in, so could you please provide steps to reproduce the issue, your PrestaShop version and your PHP version.

Thanks!

[2021-03-24 08:36] ChineseNorris commented on #23745
@matks

By "separate" I mean that for instance warehouse guys should receive stock notifications for re-supply purpose while office team should be receiving the new orders, I think you should be able to separate the e-mail for their specific purpose.

This is great if we are 1 or 2 people team doing everything, but when the e-commerce grows up to 3 or 10 employees it's more difficult to separate t

[2021-03-24 08:42] ChineseNorris commented on #23745
Thank you, I've updated the post with a screenshot where I think you all can relate what I'm talking abut to make things more simpler.

[2021-03-24 09:39] khouloudbelguith opened #23751 "BO - Add new Order page - The gift block is not updated when changing the Address - A cart rule "Discount for a carrier selection" is applied"
#### Describe the bug

In the BO => Orders => New Order page, the gift block is not updated when changing the carrier.
Related to this: https://github.com/PrestaShop/PrestaShop/issues/22243

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Catalog => Discounts page
2. Create a cart rule with a carrier selection "My carrier" with an action "Free gift"
3. Go to BO => Orders

[2021-03-24 09:46] critiks commented on #22386
This error happen when you change your configuration in the admin for country, deliveries, zones. This new configuration modify your adress id et country id. So, all adresses and customers bills appears in error.
Solution is to : delete wrong adresses in Admin > Customer > adress to regenerate them next time with good one IDs.

[2021-03-24 10:18] matks commented on #14541
I close the issue because I am not capable anymore of pushing this topic forward 😭  .

If anybody wishes to invest himself in it, feel free to open a new issue 😉

[2021-03-24 10:18] #14541 closed, assigned to matks

[2021-03-24 10:23] hibatallahAouadni commented on #23750
Hello @darfk3d3

I didn't manage to reproduce your issue with PS1.7.4.2 upgrading to 1.7.7.2, see the attached screen record below:

https://drive.google.com/file/d/1a-NmNAkwtV6ZUVxU91r8_vj95DaOCbAT/view

As you can see, I created two cart rules and two orders with differents currencies and after upgrade, I disabled a one of the currencies and change the order status and I didn't encounter any iss

[2021-03-24 10:29] matks commented on #23750
As @hibatallahAouadni the error clearly indicates in issue in your override `override/classes/Cart.php` .

[2021-03-24 10:32] matks commented on #17158
I just ran into an example that demonstrates exactly the topic https://github.com/PrestaShop/PrestaShop/issues/23750

Error number one
[code]

Error number 2
[code]

**Overrides are a main instability vector for shop upgrades**

[2021-03-24 10:34] hibatallahAouadni commented on #23748
Thanks @matks for pointing to this labels conflict.
So, for the issue #17810 is about **`ps_emailalerts`** with PS1.7 and not **`mailalerts`**, I changed the label in that issue :wink:

And as I discussed with you, @eternoendless and @marionf I'll replace all the labels **`Mailalerts`** with **`ps_emailalerts`** and then delete the label **`Mailalerts`**.

Thanks again @matks :rocket:

[2021-03-24 10:43] hibatallahAouadni commented on #23745
Hello @ChineseNorris

Thanks for your feedback!
So, what you're asking is kind of a new feature :wink: could you please check this issue #22974
It seems similar to yours.
Please check and feedback.

Thanks!

[2021-03-24 10:47] hibatallahAouadni commented on #14183
Related to #17810

[2021-03-24 10:56] hibatallahAouadni commented on #19227
Related to #17810 & #14183

[2021-03-24 11:09] #22150 closed, assigned to PululuK

[2021-03-24 11:11] Hlavtox commented on #23387
@hibatallahAouadni See a real example
https://www.dobracena.cz/570-kuchyn - 8959 products, 5188 ms load time
https://www.dobracena.cz/22-odpadkove-kose - 162 products, 381 ms load time

I think pagination does not help so much, when the time loads 13x slower. 😄 If I was the customer, I would leave the store and shop elsewhere... And this time is on 12 core Ryzen with nVme SSDs, on a common hosting

[2021-03-24 11:17] Hlavtox commented on #9684
@PierreRambaud Add this pls :-) A category with 9k products.

![Výstřižek](https://user-images.githubusercontent.com/6097524/112302052-e634bc00-8c9a-11eb-8a1e-cdc6681088e6.JPG)
![dsdad](https://user-images.githubusercontent.com/6097524/112302053-e6cd5280-8c9a-11eb-9bf5-8e4d5bde72b9.JPG)

[2021-03-24 11:19] darfk3d3 commented on #23750
I didn't think it could be caused by that, because override was disable.
I tried removing that file and it started working.

Since I was using a custom module, and it didn't working correctly after upgrade, I went to themplate page and enabled ps classic theme. Then Prestashop showed and error, but I closed by mistake that page without saving a screen, and now both front office and back office sho

[2021-03-24 11:19] ChineseNorris commented on #23745
@hibatallahAouadni thanks for the link, I was suggesting that I can help making changes to the module if it's possible but would need a little bit of info to do so and upload the features/improvements. However issue #22974 seems more complicated that what I'm trying to do, because he wants to do it from employee profile instead from the module itself

[2021-03-24 11:21] hibatallahAouadni commented on #22150
@MatShir does the @PrestaShop/qa-functional tested the PR? if you're sure that PR #23581 fix this issue, please add the label **`Fixed`** :wink:
Thanks in advance.

[2021-03-24 11:29] hibatallahAouadni commented on #23750
Hello @darfk3d3

That button "Disabled the overrides" is not working #14596, so you should disable all your overriddes manually :confused:

Ouch :confounded: I think you messed up and you despertaly need help with your shop that I'm not abled to afford it.
Please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community for

[2021-03-24 11:29] #23750 closed, assigned to nobody

[2021-03-24 11:30] hibatallahAouadni commented on #23161
Hello @Borgas ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-03-24 11:30] #23161 closed, assigned to nobody

[2021-03-24 11:34] hibatallahAouadni commented on #19479
Hello @kerstar

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #14754.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: Thanks @Hlavtox for the tip :wink:

Thanks!

[2021-03-24 11:34] #19479 closed, assigned to nobody

[2021-03-24 11:34] hibatallahAouadni commented on #19479
Duplicate of #14754

[2021-03-24 11:37] hibatallahAouadni commented on #20316
Duplicate of #22358

[2021-03-24 12:02] BElluu commented on #21884
Hi! I will check that today :)

[2021-03-24 12:26] labsin commented on #12334
I think a separate linked table for units only for the products when needed is enough. The PR used multipliers, just the value that 1 unit represents (multiplier of 0.01 means 1 unit is 0.01m) and a unit name. This could even be implemented as a plugin and isn't a lot of work and doesn't need a float quantities.

I also added a minimum quantity en steps, like you want 300 bolts and they are minimu

[2021-03-24 12:57] khouloudbelguith opened #23753 "As a user, I shouldn't be able to select a shop as default if it doesn't have an URL configured."
#### Describe the bug

In the BO -> Advanced Parameters -> Multistore page -> when we set a shop (without main URL) as a default shop, then if we disable the multistore, the FO can't be displayed.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shop Parameters > General page & Enable multistore
2. Go to BO -> Advanced Parameters -> Multistore page
3. Create a new shop wit

[2021-03-24 13:14] khouloudbelguith opened #23754 "BO - Multistore - The trophy of the gamification module is not displayed after enabling multistore"
#### Describe the bug

AIn the BO > When we enable multishop, the trophy of the gamification module is not displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > General page -> Enable multistore context
2. Select all shops
3. See the error, the trophy of the gamification module is not displayed
![image](https://user-images.githubusercontent.com/16067358/112316174-2603

[2021-03-24 13:19] guigplt commented on #23726
I see there is a new version 3.7.1.
Isn't it fixed in this version ?

[2021-03-24 13:29] matks commented on #23671
Hi @ks129 I'm quite certain that we have GHA annotations for phpstan and eslint 😄  so I close the issue. If however you think I was wrong please tell me, I can reopen the issue.

[2021-03-24 13:29] #23671 closed, assigned to nobody

[2021-03-24 13:35] darfk3d3 commented on #23750
But the website stopped working after I enabled the classis Prestashop theme. I can also restore the plevious template folder.
There's no way to manually enable debug mode without access to back office? For example from database?

[2021-03-24 13:54] matks commented on #9684
@Hlavtox I dont know if it's worth it 😅  .

Let's say we add a bug report "ps_facetedsearch is slow with a category with 9k products".

Then we fix it. Great !

But now we receive a bug report "ps_facetedsearch is slow with a category with 100k products".

Then we fix it. Great !

But now we receive a bug report "ps_facetedsearch is slow with a category with 100k products".

Do you see what I am r

[2021-03-24 14:01] darfk3d3 commented on #23750
I just managed to enable debug mode using config/defines.inc.php, but the error showed are the same of error log:
Fatal error: Uncaught Symfony\Component\Yaml\Exception\ParseException: A YAML file cannot contain tabs as indentation at line 69 (near " - ps_shoppingcart"). in /var/www/vhosts/miosito.it/httpdocs/vendor/symfony/symfony/src/Symfony/Component/Yaml/Parser.php:202 Stack trace: #0 /var/www

[2021-03-24 14:03] Hlavtox commented on #9684
@matks I get your point, we cannot scale indefinitely, but I think these are just design flaws that shows their roots only in "bigger" environment. Otherwise, even if the category has 100k products, only filters should be affected... and a count of total products. It's still only 1 page of products. :-)

I want _(and also don't want because I like PS)_ for our company to end up in a point in time,

[2021-03-24 14:28] khouloudbelguith opened #23755 "BO - Cart rules - No alert displayed when enabling/disabling with bulk action without selection"
#### Describe the bug

In the BO > Catalog > Discounts > Cart rules page => when we try to Enable/Disable with bulk action without selecting one element, the page is just refreshed without alert
#### Expected behavior

An alert should be displayed `You must select at least one element to enable/disable.`

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Discounts

[2021-03-24 14:42] khouloudbelguith opened #23756 "BO - Cart rule page - Validation message not displayed when Enable/Disable cart rules by bulk action"
#### Describe the bug

There is no validation message when Enable/Disable

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Discounts > Cart rules page, you have more than 2 cart rules
2. Select a cart rule
3. Try to enable/disable selection with bulk action
4. See error: no Green alert is displayed

#### Additional information

* PrestaShop version: 1773build1, 1

[2021-03-24 14:49] nfacciolo commented on #20505
Same problem after install directly 1.7.7.2

This works:
`PrestaShop\PrestaShop\Adapter\SymfonyContainer::getInstance()->get('twig');`

This render "You have requested a non-existent service "twig"":
`$this->get('twig');`