[2018-11-16 07:43] khouloudbelguith commented on #11412
Hi @zenerry,

This is a different issue.
This issue occurs because the "Display unavailable product attributes on the product page" option is disabled in the Shop Parameters / Product Settings page.
We are aware of this issue.
Your ticket is a duplicate of #9667
So, I close it.
Thanks!

[2018-11-16 07:43] #11412 closed, assigned to nobody

[2018-11-16 07:43] khouloudbelguith commented on #11412
Duplicate of #9667

[2018-11-16 07:52] khouloudbelguith commented on #11413
Hi @weddingtextile,

I did not manage to reproduce the issue either.
I attached a video record: https://drive.google.com/file/d/1yty0GaXSl1EwTUyetxWnDBVRQ1Q9Rbl1/view
To provide us with more info you can follow this article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-11-16 08:07] khouloudbelguith commented on #11398
@ProBackup-nl, I tried with this` fc-match -s noto` I get :

[code]
Thanks to check & feedback.

[2018-11-16 08:08] sunisasiangto opened #11415 "Bug on Admin CustomerThreads (Single page)"
**Dear Community,**

I'm one of the developer who work with prestashop for long time - since version 1.4-1.7
I just got a small bug and fix it by manually many times, i think now is the time to report this bug.

I got the problem that alphabet letter show looks not correct on Admin CustomerThreads (Single page),
But the CustomerThreads list displayed correctly. Example these danish letter : æ, ø,

[2018-11-16 08:19] khouloudbelguith commented on #11415
Hi @sunisasiangto,

Could you please check this PR: https://github.com/PrestaShop/PrestaShop/pull/9080, it fixes Punycode problem when the register.
It is fixed in the PS1.7.4.0.
Thanks to check & feedback.

[2018-11-16 08:42] khouloudbelguith commented on #11409
Hi @Alenici,

Thanks for your feedback.
I did not manage to reproduce the issue after upgrade from 1.7.3.4 to 1.7.4.4, using Itlay country / Italian language & using the 1-click upgrade v4.4.1.
![image](https://user-images.githubusercontent.com/16067358/48609203-b3b87d00-e983-11e8-9518-2603db5f142f.png)
Can you please provide us the log of your upgrade? It can be found in the log.txt file, availab

[2018-11-16 08:47] ProBackup-nl commented on #11398
@khouloudbelguith I don't trust the `fc-match -s noto` output, there is no noto there. Would you like to try `fc-list`?

[2018-11-16 08:50] khouloudbelguith commented on #11398
@ProBackup-nl, I tried with` fc-list` & I have this:
[code]

Thanks!

[2018-11-16 08:54] Gionny996 commented on #10853
@philoupin have you solved?

[2018-11-16 09:01] philoupin commented on #10853
@Gionny996 I would definitely let you know here, when I solve it :)
My next planned step is to take a brand new installation of PS 1.7.4.4. and one by one replace the folders of my upgraded installation of PS 1.7.4.4 and see at what point I hit the error. Of course I will use my old database (which is running with the upgraded PS 1.7.4.4) also with the new clean install. But I will not get to that

[2018-11-16 09:03] weddingtextile commented on #11413
Strange, the problem disappeared.
The problem was 100% and it occurred on several orders.
I don’t know if it will help to find the problem, but the only thing that was changed in the system is that the Handling charges (Shipping/Preferences) set and saved $ 1.5, after which the value was again changed to 0.

[2018-11-16 09:12] Gionny996 commented on #10853
but the problem is in the Database, right?

[2018-11-16 09:15] weddingtextile commented on #11413
![carrier1](https://user-images.githubusercontent.com/44600313/48612189-e321b680-e990-11e8-90f5-47bfc27d7310.jpg)
![carrier2](https://user-images.githubusercontent.com/44600313/48612190-e321b680-e990-11e8-8d02-fc7de7a701ac.jpg)

[2018-11-16 09:22] ProBackup-nl commented on #11398
@khouloudbelguith Thanks, you definitely haven't got the Noto Sans font installed. My guess is that your doesn't support the (font hinting?) feature. My guess is that when you surf to the [Google Noto Specimen page](https://fonts.google.com/specimen/Noto+Sans), scroll down to "Styles", and insert an example like "`t", will also display different then:
![48518712-c0957d80-e86a-11e8-908e-cc38702a8f9

[2018-11-16 09:25] philoupin commented on #10853
Well, if I use my own database with a new clean installation of PS 1.7.4.4 then I don't encounter the problem, the page "Modules&Services" loads without a problem. Maybe you can try the same thing, you are encountering the problem at a different point, right?
I have compared the database structure of a clean install with the structure of my DB and the only difference was in the table "prstshp_carr

[2018-11-16 09:25] khouloudbelguith commented on #11398
@ProBackup-nl, I checked the link that you provided to me & it is ok.
![image](https://user-images.githubusercontent.com/16067358/48612679-fd0bcb00-e989-11e8-88b9-d6eb9c4f83a5.png)
Thanks!

[2018-11-16 09:26] philoupin commented on #10853
If it is in the database, then I don't understand why the previous posters didn't say where in the database??

[2018-11-16 09:28] weddingtextile commented on #11413
Initially, the currency in the order was a dollar. Then the currency was changed to hryvnia, as a result, the value of Shipping cost did not change, but the currency sign changed to UAH.
Now I can not reproduce the problem.

[2018-11-16 09:38] khouloudbelguith commented on #11413
@weddingtextile, I checked again the issue, but I did not manage to reproduce the issue.
https://drive.google.com/file/d/1d0_QP28CFWhxjwsaJ1YAbRkcSyuN_ryv/view
Since you can't reproduce it either, I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-16 09:38] #11413 closed, assigned to nobody

[2018-11-16 09:42] Alenici commented on #11409
Hi @khouloudbelguith
thanks for your kind reply.
The log file is here attached.
Thanks again
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2588717/log.txt)

[2018-11-16 09:47] khouloudbelguith commented on #10853
Hi,

I checked also an old upgrade from 1.7.3.2 to 1.7.4.2, but I did not manage to reproduce the issue either.
[1-Click Upgrade _ 1-Click Upgrade • 1732.webm.zip](https://github.com/PrestaShop/PrestaShop/files/2588732/1-Click.Upgrade._.1-Click.Upgrade.1732.webm.zip)
Thanks!

[2018-11-16 09:50] ProBackup-nl commented on #11398
@khouloudbelguith
Your system is not capable of showing this bug. I tried Opera on Windows XP, Edge on Windows 10, Safari 9.1.3 on Mac OS X 10.9.5. These do not show the bug.

On the other hand: Mac OS X 10.9.5 + Opera 49.0, Firefox 60.0.3esr, Chrome 66.0.3359.139, Chrome Canary 66.0.3345.0 and Firefox developer 64.0b9 all do suffer from this issue.

[2018-11-16 09:54] channeld commented on #11414
Hi. Thank you for your prompt reply.

Here they are.
Server information Linux #1 SMP Wed Sep 26 15:12:11 UTC 2018 x86_64
Server software version: Apache
PHP version: 5.6.38
Memory limit: 256M
Max execution time: 600
Upload Max File size: 25M

Database information
MySQL version: 10.1.37-MariaDB
MySQL server: localhost
MySQL engine: InnoDB
MySQL driver: DbPDO

allow_url_fopen = On
allow_url_include

[2018-11-16 09:56] Gionny996 commented on #10853
@philoupin so the problem is caused from some files

[2018-11-16 09:57] khouloudbelguith commented on #11414
Hi @channeld,

Did you use any custom carrier module?
Thanks!

[2018-11-16 10:02] channeld commented on #11414
I have 2 modules uploaded
1. Is DHL module (through Prestashop)
2. FAN courier module provided by them.

But the problem is with Payments section too.

[2018-11-16 10:03] channeld commented on #11414
I deactivated the modules but nothing. same error.

[2018-11-16 10:04] philoupin commented on #10853
@Gionny996 not possible to say for sure, that it is really in the files. It could be a combination of file and database that produces the error and it could also be that the actual mistake is in the DB, but that it only produces an error when a certain file is present. Somebody here said it was in the DB, but nobody said what it was, so maybe we are in fact having a different issue?

I think using

[2018-11-16 10:04] ghost opened #11418 "Security breach on order?"
Yesterday someone was able to set specific price (-200%, -140% etc) on selected products to place free order on Prestashop 1.6 store. Order was placed on... mobile phone... (checked logs and xiaomi redmi x4 apear...)

[2018-11-16 10:08] channeld commented on #11414
I also saw this (near the end) but don't know how to cross check
https://www.prestashop.com/forums/topic/177710-solved-please-please-help-500-internal-error-on-payment-modules/

[2018-11-16 10:08] khouloudbelguith commented on #11398
Hi @ProBackup-nl,

Thanks for this clarifications.
I manage to reproduce the issue with PS1.7.5.0beta1 os: OS X & os_version=El Capitan browser=Opera browser_version=49.0
In BO
![image](https://user-images.githubusercontent.com/16067358/48614959-d486cf80-e98f-11e8-98ce-85fa1f93f654.png)
In FO:
![image](https://user-images.githubusercontent.com/16067358/48614979-e0729180-e98f-11e8-907f-ddef9febabfb

[2018-11-16 10:08] ProBackup-nl commented on #11398
The version 1 of the default theme included font files is large: 11 MiB.
The new 2.001 with hinting converts to a mere: 5.8 MiB.

[code]

Version 2.001 after FontPlop.app version 1.2 (1.3 doesn't include SVG creation):
[code]

[2018-11-16 10:09] ProBackup-nl commented on #11398
@khouloudbelguith I have got new font files ready. When you give me exact GIT commands I might be able to supply them as a patch.

[2018-11-16 10:12] khouloudbelguith commented on #11398
@ProBackup-nl, would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!
You can follow this documentation: https://github.com/PrestaShop/PrestaShop/tree/develop#contributing to make your pull request.

[2018-11-16 10:12] matks commented on #11418
Dear @PrestaShark, can you please contact security@prestashop.com so we can explore this security issue with you ?

[2018-11-16 10:14] #11418 closed, assigned to nobody

[2018-11-16 10:14] channeld commented on #11414
I also saw that in the log
[Thu Nov 15 18:51:56.366937 2018] [core:alert] [pid 99713:tid 47329724319488] [client 10.20.46.116:58600] /home/mostycom/public_html/.htaccess: </IfModule> without matching <IfModule> section, referer: https://mosty.com/eshop/admin123/index.php?controller=AdminPaymentPreferences&token=[]
[Thu Nov 15 18:51:56.366847 2018] [core:alert] [pid 99713:tid 47329724319488] [clien

[2018-11-16 10:16] channeld commented on #11414
hm weird... it changes the code

![image](https://user-images.githubusercontent.com/5381252/48615364-647d4700-e999-11e8-8153-ec921954baa7.png)

[2018-11-16 10:16] ProBackup-nl commented on #11398
@khouloudbelguith I am willing to, but usually git does not do what I want it to do. Need some guidance there. BTW: why to /develop and not to /1.7.4.x tree. It is a bugfix.

[2018-11-16 10:16] khouloudbelguith commented on #11414
@channeld, if you enable the debug mode, there are no exceptions displayed??
Could you please try to disable custom payment module & try to clear cache manually by deleting all the folder into app/cache (prod & dev).
Thanks to check and feedback.

[2018-11-16 10:20] khouloudbelguith commented on #11398
@ProBackup-nl, unfortunately, we only accept security fixes or regression from 1.7.4.0 on this branch to be focused on the 1.7.5.0 version, as described here: https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/#target-branch
Thanks!

[2018-11-16 10:24] khouloudbelguith commented on #11409
@Quetzacoalt91, what do you think?
In his log file, he has this error also : `[INTERNAL] /home/mhd-01/www.sitename.com/htdocs/src/PrestaShopBundle/Translation/PrestaShopTranslatorTrait.php line 57 - vsprintf(): Too few arguments`
Thanks!

[2018-11-16 10:30] matks commented on #10733
After discussing it further, here's a plan:
1) rename `tests` into `legacy-tests`, exclude `E2E` and `Selenium`
2) so we get a new empty folder Unit and a new empty folder Integration
3) new `tests/Unit` folder should only accept true unit tests: full-mocked dependencies
4) new `tests/Integration` folder should welcome component-based tests using behat

[2018-11-16 10:30] channeld commented on #11414
checking something... I found an error log that relates to /ifmodule and I show this
https://www.prestashop.com/forums/topic/294043-htaccess-problem/

[2018-11-16 10:44] khouloudbelguith commented on #11414
Hi @channeld,

The root htaccess ("/home/mostycom/public_html/.htaccess") is being called. I don't know where that .htaccess comes from; if you didn't create it someone or something did it. This htaccess is the problem, it doesn't come from the Prestashop. Your problem, whatever is the source of it, should be corrected by the one who created the htaccess. It might be your host provider or your dev

[2018-11-16 10:44] Quetzacoalt91 commented on #11409
The error is obviously this one:
`
[2018-11-06 11:46:07] [INTERNAL] /home/mhd-01/www.sitename.com/htdocs/modules/autoupgrade/classes/Tools14.php line 1400 - Out of memory (allocated 75288576) (tried to allocate 66904096 bytes)
`

You should update your PHP configuration to increase the `memory_limit` value.

[2018-11-16 10:50] channeld commented on #11414
but there is not there.

[2018-11-16 11:00] channeld commented on #11414
That htaccess was removed and is not there.
cleaning cache manually

[2018-11-16 11:02] khouloudbelguith commented on #11414
Hi @channeld,

That's the error : `10.20.46.116:58600] /home/mostycom/public_html/.htaccess: without matching section`, that you have in your log file.
Thanks!

[2018-11-16 11:03] channeld commented on #11414
Cache cleaned manually. Tried the call Payment preferences. Same.

[2018-11-16 11:05] khouloudbelguith commented on #11414
@channeld, could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2018-11-16 11:06] khouloudbelguith commented on #10922
Hi @lozaria,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-16 11:06] #10922 closed, assigned to nobody

[2018-11-16 11:07] channeld commented on #11414
Same.

[2018-11-16 11:07] khouloudbelguith commented on #10966
Hi @123monsite-regis,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-16 11:07] #10966 closed, assigned to nobody

[2018-11-16 11:07] channeld commented on #11414
this is the file

# ~~start~~ Do not remove this comment, Prestashop will keep automatically the code outside this comment when .htaccess will be generated again
# .htaccess automaticaly generated by PrestaShop e-commerce open-source solution
# http://www.prestashop.com - http://www.prestashop.com/forums

<IfModule mod_security.c>
SecFilterEngine Off
SecFilterScanPOST Off
</IfModule>

<IfModule mo

[2018-11-16 11:08] khouloudbelguith commented on #11414
@channeld, could you please check the error with your host, it could be a server issue.
Thanks to check with them & feedback.

[2018-11-16 11:09] khouloudbelguith commented on #11006
Hi @maartenaalbers,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-16 11:09] #11006 closed, assigned to nobody

[2018-11-16 11:10] khouloudbelguith commented on #11013
Hi @mnahygiene,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-16 11:10] #11013 closed, assigned to nobody

[2018-11-16 11:18] zenerry commented on #9667
Hi folks,

what version do you think this bug will be solved? I'm kind of desperate with this, and I can't find a temporary code correction for my 1.7.3.4 or 1.7.4.4.

Thanks mate.

[2018-11-16 11:20] channeld commented on #11414
they are checking and yet not finding something. I am on a dedicated server.

[2018-11-16 11:28] khouloudbelguith commented on #9667
@zenerry, sorry for the delay, it is not fixed yet.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks for your understanding!

[2018-11-16 11:30] khouloudbelguith commented on #11414
Is your Prestashop really installed in "/home/mostycom/"? There's no public HTML or whatever else? You might not be looking to the right .htaccess.
Thanks to check & feedback.

[2018-11-16 11:38] kratekk commented on #9763
Hi @khouloudbelguith I found the solution. Propably :)
The problem occurs when the module's tpl file is not inside in the directory (views/templates):
`'modules` / name_of_module / views / templates / hook / tplfile.tpl'`
When it is left alone in the directory:
`'modules` / name_of_module / tplfile.tpl'`
Then problem occur.

In my case the problem appeared in the module: ps_customtext.
My sollutio

[2018-11-16 11:44] channeld commented on #11414
Hi. The eshop is in public_html/mosty.com/eshop folder. There is only 1 htaccess in there.

[2018-11-16 11:46] channeld commented on #11414
eeeer sorry.. .meaning mosty.com/public_html/eshop

[2018-11-16 12:03] channeld commented on #11414
It is driving me crazy. I run other PS sites and never encountered such an issue.

[2018-11-16 12:14] channeld commented on #11414
Hosting set all limits to the top in the dedicated, even timeouts and still the same error persists only in these 2 sections, I have removed payment and shipping modules. nothing.

[2018-11-16 12:29] Alenici commented on #11409
Hi @Quetzacoalt91
thanks for your comment.
It was the first thing i did... I have increased the memory limit value until very high value but still have the same error and always at the same level (allocated 75288576 tried to allocate 66904096 bytes)

[2018-11-16 13:02] ProBackup-nl commented on #11398
@khouloudbelguith Commit directly to "develop" or create a new branch and then start a PR?

[2018-11-16 13:03] khouloudbelguith commented on #11414
@channeld, in the folder public_html, to show the cached files, you can run this command `ls -al` or you can type with your keyboard, `ctrl+h`.
Because the .htacces is a cached file which has a problem under  `/home/mostycom/public_html`
Thanks!

[2018-11-16 13:05] matks commented on #11415
@sunisasiangto Thank you for reporting this bug and how you fix it 😉 it's great to hear you have been using PrestaShop for long. You probably have more useful feedbacks from all those years, feel free to tell us more, either in github or you can come discuss with us on https://gitter.im/PrestaShop/General

[2018-11-16 13:05] khouloudbelguith commented on #11398
@ProBackup-nl, as a good practice, you need to create another branch from `develop`.
Thanks!

[2018-11-16 13:08] khouloudbelguith commented on #9763
Hi @kratekk,

Thanks for your fix suggestion & thanks for your feedback.

[2018-11-16 13:09] channeld commented on #11414
I just try this... I move all modules to a temp folder. Then payment/shipping works. Now I move them in 1 by 1 to see which causes the issue.

[2018-11-16 13:10] kratekk commented on #9763
@khouloudbelguith  I see that this solution does not bring benefits.
After next clear the cache, the problem returns

[2018-11-16 13:13] khouloudbelguith commented on #11414
@channeld, okay thanks!
Waiting for your feedback.

[2018-11-16 13:18] channeld commented on #11414
they say t looks like there is no .htaccess under /home/mostycom/public_html
and I really can't find one. why you say there is?

[2018-11-16 13:19] khouloudbelguith commented on #11414
@channeld, that's what I saw in your log error.
Thanks!

[2018-11-16 13:20] Quetzacoalt91 commented on #11409
What value is currently set? You could probably set en unlimited value while you upgrade your shop. :)

[2018-11-16 13:20] channeld commented on #11414
ah. that is old info

[2018-11-16 13:33] ProBackup-nl commented on #11398
@khouloudbelguith
It looks like the PR is only in my fork, was this PR made correctly or not?
https://github.com/ProBackup-nl/PrestaShop/pull/1

[2018-11-16 13:34] khouloudbelguith commented on #11398
@ProBackup-nl, you need to push your branch in the remote of Prestashop.
Thanks!

[2018-11-16 13:45] Alenici commented on #11409
The default value is 256M and the last try was 2048M... seems it needs not over than 145M so it's already more over the necessary. I will try tonight setting a higher value and I will let you know if it worked or not. Thanks for now

[2018-11-16 13:53] kratekk commented on #9763
The temporary solution of this problem:
Changing of function inside all modules from:

`public function renderWidget($hookName = null, array $configuration = [])
    {
            if (!$this->isCached($this->templateFile, $this->getCacheId('ps_socialfollow')))  {
                $this->smarty->assign($this->getWidgetVariables($hookName, $configuration));
            }
        return $this->fetch($

[2018-11-16 13:55] khouloudbelguith commented on #9763
@kratekk, would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-11-16 13:59] kratekk commented on #9763
@khouloudbelguith  No, because it is a temporary solution. Not to the permanent. That's how I managed the need for the moment. Sorry, but I don't have time to analyze it more

[2018-11-16 14:01] ProBackup-nl commented on #11398
@khouloudbelguith https://github.com/PrestaShop/PrestaShop/pull/11419 is there. Github is still difficult to use for me, with these having to do things twice workflows.

[2018-11-16 14:02] khouloudbelguith commented on #11398
@ProBackup-nl, thanks for your fix.

[2018-11-16 14:10] #11375 closed, assigned to PierreRambaud

[2018-11-16 14:18] channeld commented on #11414
I found the problem at a 1st level. I moved all modules from root Modules folder to a temp file and slowly placed them back by checking these 2 sections.
The sections worked. So I placed modules back (standard ps modules, plus 6 of the theme).
As I added the modules one by one semed like the backend needed more time for the Payment/Shipping sections to load each time they were clicked. At some poi

[2018-11-16 14:21] khouloudbelguith opened #11420 "A wrong button is displayed in Payment methods - COD -"
**Describe the bug**
After installing the COD module provided by PrestaShop, in the BO => Payment => Payment Methods page, the COD is displayed with the button "Configure" which is wrong (The COD module doesn't have a configure page), when we click on this button, an exception displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the COD module provided by PrestaShop
2. Go to BO

[2018-11-16 14:23] khouloudbelguith commented on #11414
Hi @channeld,

Could you please try to increase the `max_execution_time` in your php.ini file.
Thanks to check & feedback.

[2018-11-16 14:30] channeld commented on #11414
that is max_execution_time = 600 already.

[2018-11-16 14:32] khouloudbelguith commented on #11414
@channeld, have you tried to contact the theme author about this issue?
Because those modules decrease the performance of your shop.
Thanks!

[2018-11-16 14:32] channeld commented on #11414
allow_url_fopen = On
allow_url_include = Off
asp_tags = Off
display_errors = Off
enable_dl = Off
file_uploads = On
max_execution_time = 600
max_input_time = 60
max_input_vars = 10000
memory_limit = 256M
post_max_size = 128M
session.gc_maxlifetime = 1440
session.save_path = "/var/cpanel/php/sessions/ea-php56"
upload_max_filesize = 25M
zlib.output_compression = Off
register_globals = Off
magic_quote

[2018-11-16 15:27] #9782 closed, assigned to tomlev

[2018-11-16 15:32] marionf commented on #10853
@khouloudbelguith

I can't reproduce either

[2018-11-16 16:33] Quetzacoalt91 commented on #11420
Fixed by #11421

[2018-11-16 16:37] khouloudbelguith commented on #11414
Hi @channeld,

Could you please try to contact the theme author ( provided of those modules) about this issue & feedback.
Thanks!

[2018-11-16 16:42] khouloudbelguith commented on #10445
Hi @twazerty,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-16 16:42] #10445 closed, assigned to nobody

[2018-11-16 16:43] khouloudbelguith commented on #11016
Hi @arsonists,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-16 16:43] #11016 closed, assigned to nobody

[2018-11-16 16:44] khouloudbelguith commented on #11002
Hi @technovijay,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-16 16:44] #11002 closed, assigned to nobody

[2018-11-16 16:44] khouloudbelguith commented on #10243
Hi @CArlvJ1N0N8,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-16 16:44] #10243 closed, assigned to nobody

[2018-11-16 18:57] ndldigitalsolutions opened #11422 "Multistore | Product quantity for all shops"
PrestaShop version: 1.7.5.0

To simulate the probem:

1. Enable multistore option
2. Create two shops that share quantities in a group
3. Create a product for All Shops
4. Create combinations for this product
5. Try to update quantities of all combination.

Prestashop returns an error, changes only one combination at a time.
To change the quantities of all combinations, I have to click on save mul

[2018-11-16 19:27] ndldigitalsolutions commented on #11422
I solved the problem like this:

remove line 142 from /src/PrestaShopBundle/Entity/Repository/StockManagementRepository.php
and line 1029 from /classes/shop/Shop.php

I do not think it's the best way, but it's not a mistake anymore

[2018-11-16 23:06] zenerry commented on #11412
You're right its the same issue of #9667 .
Is my other reply, you told me the solution may come earlier if I make a "pull request". I'm very new in gitHub, and I don't see clearly how to do it. I don't want to create a messy or confusing request.
Could you please help me?
Thanks.

[2018-11-17 00:45] mortenhartvig opened #11423 "Apache mod_pagespeed has issues with webp image rewrite"
I have a recent apache webserver with mod_pagespeed enabled.
When i have filters enabled, that rewrites images to the webp format, there are some places, where images breaks (403 - no access granted to the image file), among other weird behavior.

I have no idea if this is a general issue with mod_pagespeed, or maybe i am missing some important files (due to me having everything versioned by git,

[2018-11-17 00:48] mortenhartvig commented on #10356
I have success using webp images (created with mod_pagespeed - apache module). Although i had issues with the existing Prestashop .htaccess files. - see my #11423

[2018-11-17 00:50] mortenhartvig commented on #10356
@rdy4ever - Thats why you would use something like mod_pagespeed for the next few years, that handles exactly that problem (by sending webp only when supported) :)

[2018-11-17 10:56] diseniarte commented on #9697
Hope soon can be fixed, i try the code above and didn't work for me

[2018-11-17 11:17] philoupin commented on #10853
@khouloudbelguith @marionf @Gionny996
I have a folder called "addons_catalog" inside "admin/themes/new-theme/template/controllers/" of my upgraded installation of PS 1.7.4.4. This folder "addons_catalog" is not present in a new clean install of PS 1.7.4.4. When I delete this folder (it only contains one file "content.tpl") my error goes away, I can access "Modules & Services" without problems. Iss

[2018-11-17 12:54] johstrom opened #11425 "Discount Total doesn't work"
**Describe the bug**
Though I set round up  total in settings, Prestashop doesn't round up the total in cart after applied discount. See screen captures below.

If I set zero decimals, it is shown correct, but only in "visible data" - when going to the checkout the total is still with decimals.

**To Reproduce**
Steps to reproduce the behavior:
1. Store/Settings and choose to round total.
2. Set u

[2018-11-17 14:35] Digit-89 opened #11426 "Menu not showing during order process"
**Describe the bug**
Main menu not showing during order process.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the official demo : http://fo.demo.prestashop.com/en/order
2. If needed put something in the cart and proceed to checkout

**Screenshots**
http://www.mediafire.com/view/wudz2tyaaqnkyn6/Capture.PNG

**Additionnal information**
PrestaShop version: 1.7.4.4 non modified

[2018-11-17 14:52] psydomin commented on #11426
I strongly believe that that is the intended behaviour. The objective is to remove any distraction while checking out and increase the conversion rate.

[2018-11-17 14:57] rdy4ever opened #11427 "dateofdelivery doesn't work"
**Describe the bug**
The native module dateofdelivery doesn't work. I've installed it on a fresh 1.7.5.0-beta (as well as my shop on 1.7.4.3), configured it but it just doesn't show the estimated date of delivery in the order page, in $hookDisplayBeforeCarrier, as it should.

**To Reproduce**
Steps to reproduce the behavior:
1. Install dateofdelivery module and configure it for one carrier
2. Go t

[2018-11-17 17:20] Rolige commented on #11425
Hi @johstrom,

Before I had to make similar adjustments like the one you need, but I think that for some reason at the moment they are not possible from the configuration of the back office, bbut you can achieved by changing a language file, [here](https://stackoverflow.com/questions/52145202/prestashop-unit-price-decimal-configuration/52150781#52150781) I leave the solution we have done.

Don't f

[2018-11-17 17:25] Rolige commented on #11426
As @psydomin said, this is not an error, it's done so with the purpose of removing all distractions from the checkout process, keeping only the essentials.

Regards!

[2018-11-17 17:38] zenerry commented on #9667
Could somebody help me creating or teaching me how to create a "Pull Request" for this issue?
I'm very new to GitHub, and I don't want to mess it up.

Thanks!

[2018-11-17 20:36] ComonSoft commented on #9928
Hi, as this issue is critical effectively,  we have a fix for 1.6.x. But the code is the same to change in 1.7.x. We'll make a pull request for that.
https://www.prestashop.com/forums/topic/633030-16117-incorrect-invoice-tax-details/#comment-3021257

[2018-11-18 00:17] alouimohamedhabib commented on #11355
Hello
I actually faced same issue running Prestashop from docker container based on **docker-compose** file which it self cause issues at the beginning of containers setup
Ps version 1.7.4.4,  second refresh and program run correctly
Something is unstable!

[2018-11-18 06:52] antonioreyna commented on #10312
i have the same issue its a clean install of newest release

[2018-11-18 07:31] costinyo commented on #9625
Hello, please at least give us a workaround to fix this issue. I have romanian language set for my show and I only use this language for now. How can I make it work with it?
If the customer refreshes the page, the text customization is not saved but the image customization is saved. Please let me know how can I fix it.
Thank you

[2018-11-18 14:42] jocel1 commented on #11303
@grabelle I've just updated my patch to try to speed the regenerateEntireNtree function, could you give it a try?

[2018-11-18 16:02] KristianI commented on #10312
My issue was that I used nginx. Presta shop is preconfigured for Apache.

[2018-11-18 16:11] centoasa commented on #11105
also for me this issue, on 1.7.4.4, debian with php 7.2.11
error after clear cache is:
Fatal error: require_once(): Failed opening required '/var/www/vhosts/100asa.it/httpdocs/var/cache/dev/appParameters.php' (include_path='/var/www/vhosts/100asa.it/httpdocs/vendor/pear/pear_exception:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/console_getopt:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/pear-

[2018-11-18 16:29] johstrom commented on #11425
Hi @Rolige ,
Yeah, I have noticed this "fix" earlier - but it does only fix the visual appearance, not the underlying numbers itself, it seems. Though I in cart have zero decimals when altering the language file, the checkout still counts on the underlying numbers that ain't rounded.

This seems to be a bug in Prestashop. I can alter the visual aspect, but I can't alter the real numbers... Then it

[2018-11-18 16:52] vlskrbek opened #11428 "Upload child theme failed 1.7.4.3"
**Describe the bug**
In Prestashop 1.7.4.3 there is a function to download child theme, customize it and them upload it. But there as an failed upload even I try the theme without changes. See the pictures.

**To Reproduce**
Steps to reproduce the failed upload of child theme:
1. Go to Design -> Theme & Logo -> Advanced Customization
2. Click on Download Theme - there will be downloaded for exampl

[2018-11-18 17:28] jocel1 commented on #11303
Blackfire profiling of the regenerateEntireNtree function call with 10000 categories in the DB:
https://blackfire.io/profiles/compare/17ff2742-04a6-4e1a-b923-93039daa61c4/graph

[2018-11-18 18:31] jocel1 opened #11429 "ps_mainmenu slow with a lot of categories"
**Describe the bug**
ps_mainmenu is calling recursively generateCategoriesMenu which is doing a candir(_PS_CAT_IMG_DIR_); for each calls. This call should be moved in the module constructor

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a shop with 10000 categories, try to load the prestashop shop home page

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2018-11-18 18:41] #11429 closed, assigned to jocel1

[2018-11-18 18:41] jocel1 commented on #11429
moved in the ps_mainmenu module

[2018-11-19 01:46] BenTen opened #11430 "png to jpg Module Block Reassurance 3.0.1"
Hello,

When I upload a custom icone (.png) with a transparent background in BO, the image is display as a .jpg in FO.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Setting of the module v3.0.1
2. Upload a .png
3. Go to the FO
4. see a .jpg without transparent bg

**Additionnal information**
PrestaShop version: 1.7.4.4
PHP version: 7.2

[2018-11-19 03:05] Rolige commented on #11430
Hi @BenTen,

You can keep the transparency of a `.png` image by specifying such a configuration in:
**BO > Design > Image Settings > Images Generation Options > Image format**

![image](https://user-images.githubusercontent.com/2866694/48684072-b2e73d00-eb75-11e8-8df3-4cea7b4c3b8d.png)

Regards!

[2018-11-19 06:55] #11430 closed, assigned to nobody

[2018-11-19 07:46] khouloudbelguith commented on #11422
Hi @ndldigitalsolutions

We manage to reproduce the issue, it is fixed in the next release 1.7.5.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9145 to solve the issue.
So, I close it, please follow #9145
Thanks!

[2018-11-19 07:46] #11422 closed, assigned to nobody

[2018-11-19 07:48] khouloudbelguith commented on #11422
Duplicate of #9145

[2018-11-19 08:25] khouloudbelguith commented on #11426
Hi @Digit-89,

The design of the checkout page in PrestaShop 1.7 is different from other pages, it does not have footer, just a logo in its header. It is an improvement to let customers do nothing, but checkout.

To make the checkout page have the same header and footer as other pages, you need to edit the `\themes\your-theme\templates\checkout\checkout.tpl` file.

1. Replace this code

`{include

[2018-11-19 08:25] #11426 closed, assigned to nobody

[2018-11-19 08:39] khouloudbelguith commented on #11427
Hi @rdy4ever,

Thanks for your report.
Yes, we are aware of this issue.
I checked with PS 1.7.5.0beta1 & PS1.7.4.4 & the `dateofdelivery` module v2.0.1, it doesn't work.
In FO, the module does not work, it does not display delivery time according to the module Date of delivery but according to what has been defined in the Transporters tab.
@BilalDr what do you think, it is a native module?
Thanks!

[2018-11-19 08:57] #11420 closed, assigned to nobody

[2018-11-19 09:04] marionf commented on #10853
Despite our several trials, we could not reproduce your issue with the provided information.

[2018-11-19 09:04] #10853 closed, assigned to nobody

[2018-11-19 09:07] grabelle commented on #11303
@jocel1 : Hi, I'll try by tomorrow. Thanks a lot.

[2018-11-19 09:14] matks commented on #9667
Hi @zenerry, there is a awesome guide for this : https://github.com/firstcontributions/first-contributions 😉 I think it will be a great help

Also do not be afraid of "messing it up", we'll help you getting it right

[2018-11-19 09:18] khouloudbelguith commented on #11428
Hi @vlskrbek,

Could you please follow these steps:
1. Go to Design -> Theme & Logo -> Advanced Customization
2. Click on Download Theme - there will be downloaded for example file "child_classic.zip"
3. Go to your Downloads folder
4. Unzip the file "child_classic.zip"
5. Rename the unzipped file to child_classic to child
6. Try to zip this folder child to child.zip
7. Go to Design -> Theme & Logo

[2018-11-19 09:20] Alenici commented on #11409
Hello @khouloudbelguith and @Quetzacoalt91,
happy monday for you all.
I increased the memory limit until 12800 and 25600 but still have exactly the same error.
Here attached the log file
i don't know what to think about  it...
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2594526/log.txt)

[2018-11-19 09:21] 123monsite-regis commented on #9889
@ttoine ,
we talk last week about this, maybe team has a point of view about this question :

a more precise description is available on an issue merged with this issue : https://github.com/PrestaShop/PrestaShop/issues/11126

on Admin product controller near, https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/ProductController.php#L523 the response seems no

[2018-11-19 09:41] mrabsinthe opened #11431 "Unable to edit email subjects"
**Describe the bug**
It is not possible to edit and customize majority of email subjects.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Intl/Translations/Email translations/Body/ core or classic
2. Click on Core emails - any email - No Subject was found for account in the database.
3. Scroll down to module emails, select ps_emailalerts for example, any email -> subject is displayed -

[2018-11-19 09:45] #11116 closed, assigned to nobody

[2018-11-19 09:49] khouloudbelguith commented on #11425
Hi @johstrom,

Thanks for your report.
 The removal of decimals from the currency doesn't work in the PS1.7.
We have an issue in our bug roadmap: https://github.com/PrestaShop/PrestaShop/issues/10017
Also, we have a different rounding problem, it is an issue should be specified & fixed by our developers, you can follow this issue: #9779
Thanks to check & feedback.
Thanks!

[2018-11-19 09:52] khouloudbelguith commented on #11431
Hi @mrabsinthe,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9599
So, I close it.
Thanks!

[2018-11-19 09:52] #11431 closed, assigned to nobody

[2018-11-19 09:52] khouloudbelguith commented on #11431
Duplicate of #9599

[2018-11-19 10:00] khouloudbelguith commented on #11412
Hi @zenerry,

You can follow this link: https://github.com/firstcontributions/first-contributions to help you.
Thank you.

[2018-11-19 10:02] khouloudbelguith commented on #11216
@dineshbadrukhiya, thanks for your fix.

[2018-11-19 10:06] khouloudbelguith commented on #11355
Hi @alouimohamedhabib,

Did you use this solution https://github.com/PrestaShop/PrestaShop#docker-compose to deploy PrestaShop?
Thanks!

[2018-11-19 10:29] marionf commented on #11367
PR: https://github.com/PrestaShop/ps_viewedproduct/pull/10

[2018-11-19 10:30] khouloudbelguith commented on #11423
Hi @mortenhartvig,

The mod_pagespeed is enabled, `X-Mod-Pagespeed: 1.13.35.2-0`.
![image](https://user-images.githubusercontent.com/16067358/48701157-26c52c00-ebee-11e8-9464-09e89716ee0d.png)
When I try to upload a webp image, I have a red alert
I attached a video record
https://drive.google.com/file/d/1VEN9BGaroXe0cY0pKrIwejnltSPlNo7A/view
Thanks to check & feedback.

[2018-11-19 10:32] khouloudbelguith commented on #10356
Hi @mortenhartvig,

The mod_pagespeed is enabled.
In the product page, when I try to upload an image, I have an exception
I attached a video record.
https://drive.google.com/file/d/1IQsYO1jWOUynEJAfQVjV-Zshoi2RMEgc/view
Thanks!

[2018-11-19 10:33] mrabsinthe commented on #9599
That way you have no control which emails subjects you're translating, there are only 24 email subjects - therefore some core emails are missing. Also, you have no control over native module subjects such as ps_emailalerts and finally in order to fight spam, order # or {firstname} must be supported.

[2018-11-19 11:11] BilalDr commented on #11427
Hi @rdy4ever,
Indeed, the module [dateofdelivery ](https://github.com/PrestaShop/dateofdelivery) doesn't work on Prestashop 1.7.5 beta and 1.7.4.3.
It's a native module and it needs to be reworked to come back on Prestashop software.

[2018-11-19 11:21] Gionny996 commented on #10853
@philoupin all right, is solved also for me

[2018-11-19 11:22] Gionny996 commented on #10853
I have another problem in the courier section in the Back Office, can I always write here?

[2018-11-19 11:25] Maofree opened #11432 "Strange shopping carts, with many quantity of products"
Hi
A my customer has a strange problem with shopping carts
it was present on the past 1.6.x and it is also present on the new 1.7.4.4

almost every day displays trolleys with many products and sometimes even manages to reproduce it by itself. This happens only a few times, I have never been able to reproduce it however as you can see even different customers reproduce the error finding a cart full

[2018-11-19 11:47] khouloudbelguith commented on #10853
@Gionny996, no you need to create another issue.
Thanks!

[2018-11-19 11:51] Gionny996 opened #11433 "courier image error"
when I change courier and load the logo, I do not load the image, but it does not give me no error, in fact when I do "end" tells me that everything is successful and in the folder img / tmp also loads the image

[2018-11-19 11:54] #11366 closed, assigned to nobody

[2018-11-19 12:47] Maofree commented on #11432
with other sites that I manage I don't get this problem.
I can give you the access to this site

[2018-11-19 13:11] khouloudbelguith commented on #11433
Hi @Gionny996,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2018-11-19 13:14] khouloudbelguith commented on #11432
Hi @maofree,

Your issue is so difficult to reproduce it, in your case it random.
But, when the issue occurs, is there any error in your log file?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-11-19 13:15] marionf commented on #11253
@khouloudbelguith @Caleydon
I tried with prestashop 1.7.4.3 and 1.7.5.0 and I have the same behavior:
I add English language
I edit translations for main menu module
In /modules/ps_mainmenu/translations I just have index.php and no en.php or fr.php
Translations are well saved, so seems there is no issue here

[2018-11-19 13:18] Caleydon commented on #11253
Please try with the module ps_faviconnotificationbo
https://github.com/PrestaShop/ps_faviconnotificationbo/releases

[2018-11-19 13:21] Maofree commented on #11432
in the log I see many 301 redirect of some bot

VelenPublicWebCrawler (velen.io)
Mozilla/5.0+(compatible; UptimeRobot/2.0; http://www.uptimerobot.com/)
or google bot

I don't know it is due from them
in some cases those shopping cart are due from some customers also from the shopkeeper

the site is this
http://www.kasa-store.com

[2018-11-19 13:21] marionf commented on #11253
I have the same behavior with this module
I edit translations
In /modules/ps_faviconnotificationbo/translations I just have index.php and no en.php or fr.php
But translations are well saved in database table translation

[2018-11-19 13:21] Gionny996 commented on #11433
the problem is caused by some module, in fact if you rename the module folder in module_del, after the problem no longer occurs. The problem is that I do not know what module it is

[2018-11-19 13:28] khouloudbelguith commented on #11433
@Gionny996, it is probably a transport module, when the debug mode, there are no exceptions displayed, you need to rename all folder module one by one, clear cache & check if the error happens again.
Thanks!

[2018-11-19 13:48] khouloudbelguith commented on #10312
Hi @KristianI, @antonioreyna,

If you are running a Nginx server on your shop, you may need to configure your virtual host for running properly with PrestaShop. We provide an example here: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist
Thanks!

[2018-11-19 13:55] khouloudbelguith commented on #11432
@maofree, they are robots, did you generate the robots.txt file?

Generating the robots.txt file: A robots.txt file allows you to block robots and other automated software that browse the Web to find more pages to add to their company's server. You will want to give full access to some robots, like those of Google or Yahoo !, while others will have to find closed doors, such as spam robots, conten

[2018-11-19 14:03] Maofree commented on #11432
yes it is present
if this problem can be reproduced by the owner I think it is due from something else, however it is strange

[2018-11-19 14:17] BilalDr commented on #11305
Hi everyone,
it's a big subject,
So you wanted to add shipping fees for each combinations.

Currently without combinations we can define shipping fees
on the panel shipping > shipping fees section.
If we have combinations, the shipping fee defined is setted for every combinations.

For your idea,
Firstly,
On the page shipping, add an alert next to Shipping fees input
![shippingfees-alerte](https:/

[2018-11-19 14:30] mickaelandrieu commented on #10412
Even if it was not intended, I want this to be case sensitive. So if we "fix" this behavior now, the same people will complain when we will change it again in 1.8: is it worth now we have this behavior since 1.7.0?

Let's sum up the situation here:

1. In 1.6.1.x hooks were case insensitive: note this behavior was probably *not intended* as it is documented nowhere and not described in docs (I've

[2018-11-19 14:32] khouloudbelguith commented on #11432
@maofree, did you use any custom module to secure your shop from such this attack?

[2018-11-19 14:34] mickaelandrieu commented on #11220
ping @eternoendless any chance this zip archive to be corrupted on the server? I don't see how a specific language pack can create bugs in the core...

[2018-11-19 14:56] alouimohamedhabib commented on #11355
In my case i used both the docker-compose file from downloaded zip und from github repo https://github.com/PrestaShop/docker

[2018-11-19 15:08] Maofree commented on #11432
@khouloudbelguith it is not sure that it is due from this
He does not use any security module
I'll check in the next days

[2018-11-19 15:09] EV-soft opened #11434 "Add zip-backup of files."
Enhancement: Add zip-backup of files, in release 1.7.x
There is a database backup function, but none for file backup.
It would be nice if there was an option to backup certain folder content,
eg. current theme, or the complete installation.
I have a php file (SnapFiles.php) that does this, which may be beneficial to others.
Best if the feature could be built into PrestaShop.

[SnapFiles.zip](https

[2018-11-19 15:11] khouloudbelguith commented on #11253
Hi,

This only occurs when the template uses the smarty extends function from within the BO.
The Ips_faviconnotificationbo module has no template but uses HelperForm, no template, no extends.
I tried with another custom module
[translationbug (1).zip](https://github.com/PrestaShop/PrestaShop/files/2595826/translationbug.1.zip)
Thanks!

[2018-11-19 15:23] khouloudbelguith commented on #11434
Hi @EV-soft,

Thanks for your suggestion.
About the theme, in your BO => Design => Theme & Logo, you can export your current theme.
![image](https://user-images.githubusercontent.com/16067358/48716351-779d4a80-ec17-11e8-8a90-fe0710b753bc.png)
Thanks to check & feedback.

[2018-11-19 15:38] khouloudbelguith commented on #11432
Hi @maofree,
Thanks!
Waiting for your feedback.

[2018-11-19 15:56] EV-soft commented on #11434
Yes - Export works to create a zip file, but it can only be used with ftp connection, and it's hard to find!

[2018-11-19 16:02] khouloudbelguith commented on #11434
@EV-soft, ok thanks for this clarifications.
@eternoendless, @PrestaShop/prestashop-core-developers what do you think about his suggestions.
Thanks!

[2018-11-19 16:12] khouloudbelguith commented on #11409
@Alenici, it is the same error as before `Out of memory (allocated 75288576) (tried to allocate 66904096 bytes)`
Thanks!

[2018-11-19 16:15] rbuelund opened #11435 "By default, select the payment method if only one available"
**Note: improvement description edited by Louise B. on October 14th**

**Is your feature request related to a problem?**

As you see in the attached image, the payment method is not elected as default and the customer has to make two ticks to continue - annoying!

![image](https://user-images.githubusercontent.com/1399437/48719790-9521e280-ec1e-11e8-9966-7d480131e4b3.png)

**Describe the solution

[2018-11-19 16:24] khouloudbelguith commented on #11435
Hi @rbuelund,

Thanks for your report.
@marionf, what do you think?
It could be an improvement just by adding a Default Payment method, so when there is one payment method, it will be always selected.
Like the carriers, what do you think?
Thanks!

[2018-11-19 16:28] rbuelund commented on #11435
Yes exactly - but would each payment method then have to be modified to achieve this ? Bambora is a  payment module I have installed.

[2018-11-19 16:53] khouloudbelguith commented on #11435
@rbuelund, no I don't think that each payment method has to be modified to achieve this, it is an improvement on the core of PrestaShop.
Thanks!

[2018-11-19 17:00] rbuelund commented on #11435
Is it in any way possible to do this as a hack, so that I can change it manually now ?

[2018-11-19 17:03] khouloudbelguith commented on #11435
@rbuelund, this improvement should be specified by our developers before.
Thanks!

[2018-11-19 17:06] matrixino commented on #11351
This is happening to me too. The problem is that in the BO, where you assign the downloads to product (the file list), the list starts with id 0. While in the DB the attachment table starts with id 1. So there is a discrepancy of 1 in the IDs.

NVM: The problem is that there is no entry in attachment_lang for some attachment. Not sure how that happended.

[2018-11-19 17:15] TristanLDD commented on #11331
@dheerajwebkul

The choice was made to split those buttons after taking note that several users were not familiar with that particular behavior, so we decided to highlight the main action and make secondary actions more affordable.

But, considering the very bad rendering of these buttons on average screen size, I agree with you and I'll say let's go back to the previous design with dropdown butto

[2018-11-19 17:34] slupostrupek opened #11436 "Secure Key Missmatch - deleted carts"
Sometimes cart secure key is differ then customer secure key.

**To Reproduce**
1. Don't know how, but it started happen when i deleted all carts.
2. Maybe old cookies from users have something to it

**Additionnal information**
PrestaShop version: since 1.7.3, still happens on 1.7.4
PHP version: 7.1

[2018-11-19 17:39] LouiseBonnard commented on #11305
@BilalDr, how about: _Need specific shipping fees? Go to the combination tab to precise/edit/change it!_

[2018-11-19 18:43] jolelievre commented on #10412
I fully support @mickaelandrieu on this one ^^
I agree with the idea that hook are case insensitive in 1.6 is very likely an unwanted side effect, so we shouldn't try to stick to it so badly
Yes it can be considered a BC break, and yes we have really cold feet on BC breaks

But I think this one is ok and should be accepted (compared to ProductLazyArray it certainly has less impact)

[2018-11-19 18:44] LinkOfLight opened #11438 "Offer module dont work"
The offer module dont work in my store, i upload the products whit the "in offer" in 1 and the special offert module and offer pague dont work, and i need for black friday D:

![image](https://user-images.githubusercontent.com/9163980/48727793-82fe6f00-ec33-11e8-832d-6acf13d1b4fc.png)
![oferta](https://user-images.githubusercontent.com/9163980/48727810-8abe1380-ec33-11e8-9feb-659169dbef74.PNG)

[2018-11-20 08:23] dineshbadrukhiya opened #11440 "Categories not translate on module manager page in the BO"
**Describe the bug**
I think this is wrong translation of "Natif" string on module manager page in the BO. If I'm not wrong "Natif" is french word, It should be "Native" in English language.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'BO > Module Manager'
2. See the listed Category.

**Screenshots**
![natif](https://user-images.githubusercontent.com/40850057/48760228-5a29b880-eccb

[2018-11-20 09:26] Peter4661 commented on #11098
We have this error on our live site, not on our dev site, which runs on the same server.

Both files /translation/cldr/ .htaccess: have the same content.
Order deny,allow
Allow from all

I changed content of .htaccess file on live site, did not solve the issue.

Server log:
[Tue Nov 20 09:08:15.496811 2018] [authz_core:error] [pid 1010862:tid 140538667788032] [client 217.62.77.185:50305] AH01630:

[2018-11-20 10:08] Peter4661 commented on #11098
Found this explanation: https://httpd.apache.org/docs/2.4/upgrading.html

I'm not expert in this field. Over to you.

[2018-11-20 10:29] Alenici commented on #11409
Yes @khouloudbelguith , i've got it also... seems it's not actually related to the memory_limit value.. so.. how to fix it? any suggestion or idea? have a nice day!

[2018-11-20 10:42] manfield commented on #9687
Hi @khouloudbelguith, this merge request:
https://github.com/PrestaShop/PrestaShop/pull/11256

is not yet assigned. Just to make you know ;)

[2018-11-20 10:55] colinegin commented on #11294
We need to think more about this idea as it may be risky for 2 reasons :
- it would include a lot of new translation strings in Crowdin (for each existing state)
- it may be difficult for translators to translate in their own language every country states

[2018-11-20 11:02] ma0dubois opened #11443 "Cannot get employee from context in consol mode"
**Cannot get employee from context in consol mode**
When using the Symfony console, I try to install a module from the command: `php bin / console prestashop:module install MYMODULE`

But an error occurs, there is no employee in the context in console mode.
So suddenly in the method "getAdminTokenLite", there is an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to in console mode

[2018-11-20 11:05] colinegin commented on #11329
Thank you for your feedback @Benoth , I agree with you it is an important feature that we should add back to specific prices. I need to discuss with the team see if we can add it to our 1.7.6 roadmap, we will keep you updated.

[2018-11-20 12:12] Peter4661 commented on #11098
Cont.

Changed back /translation/cldr/ .htaccess to:
Order deny,allow
Allow from all

No error in web log (anymore) regarding "client denied by server configuration" !
Error in front office is persistant.

Tested also with PHP-versie: 7.1.22, PHP-version: 7.0.32, PHP-version: 5.6.38,

[2018-11-20 12:15] titamrtn opened #11445 "New module not in backend list"
**Describe the bug**
I create a new module following the tutorial [here](https://devdocs.prestashop.com/1.7/modules/creation/) .
I just change name. And when i go to backend i don't see module in list
this is : /modules/openflex/openflex.php
[code]

**To Reproduce**
Steps to reproduce the behavior:
Follow this [tutorial](https://devdocs.prestashop.com/1.7/modules/creation/)

**Additionnal informat

[2018-11-20 12:43] dennispw commented on #10478
Just look at this, this is the compiled CSS that is used both for modules such as `ps_featuredproducts` as well as the regular product list:
[code]

[code]

The selectors when using these methods is *really* out of hand. Either refractor the classic SCSS to use much, much simpler selectors or lift them out to the seperate modules so unused CSS isn't loaded. (Such as disabled modules)

[2018-11-20 12:59] NickyBass commented on #9536
I actually have this issue, the issue happen if you choose to allow order of out of stock products, in that case the filter doesn't appear.

[2018-11-20 13:20] BenTen commented on #11294
If I believe the BO, there are not so much country with States.
[code]
Only Japan has a different writing system.

[2018-11-20 13:56] colinegin commented on #11342
Hello @linuxatico ,

Thanks for your idea ! You're right, it's an issue we have, but we need to discuss more in depth about the solution with the core team. We will come back to you as soon as possible.

Coline

[2018-11-20 14:03] #11398 closed, assigned to nobody

[2018-11-20 14:28] jordytr971 commented on #11323
Hi, I have the same issue since more than 5 month please someone can help me ?

Thankyou in advance

[2018-11-20 14:56] tanzo opened #11449 "Discounts based on quantity show incorrect product price"
**Describe the bug**
When we set one or more specific price with quantity major than 1 in front-office the product price goes to 0(zero)

**To Reproduce**
Steps to reproduce the behavior:
1. Install PrestaShop
2. Create a new product (without combination)
3. Set a price, save
4. Create new specific price with from quantity major than 1
5. Go in frontoffice and change the quantity wanted

**Screens

[2018-11-20 15:36] LanmanGroup commented on #11323
If you turn ON Sandbox mode the problem still appears.

**EDIT:  If you come back after the error and retry, now works good**
...but persist the problem that the module doesn't update PAYPAL_%_SANDBOX configuration﻿

[2018-11-20 15:45] matks opened #11450 "Upgrade button is shown and does not behave correctly for composer-installed module"
**Bug reported by twitter (https://twitter.com/SebBareyre/status/1060570874552565760)**

**To Reproduce**
Here is the transcript from our discussion on Gitter
[code]

![drfnnqywkai1io3](https://user-images.githubusercontent.com/3830050/48784713-82bdac80-ece3-11e8-8b63-a6d1ae13586b.jpg)

So here are the things to do IMO:
- investigate why the "Upgrade" button is displayed although the user is not l

[2018-11-20 15:55] marionf commented on #11323
It's a failure of PayPal API not due to PrestaShop
The only thing we can do is to display an error message more clear

[2018-11-20 15:58] #11396 closed, assigned to nobody

[2018-11-20 16:01] LouiseBonnard commented on #11294
@BenTen, thanks for the comment! Currently, there are no less than 324 states mentioned in the back office and I'm not that sure it is useful to have them all within the translation catalog... perhaps a targeted translation, available inside the back office for anyone who needs it, would be more appropriate? We will see what we can do about it and get back to you as soon as possible. ;-)

[2018-11-20 16:17] #11216 closed, assigned to nobody

[2018-11-20 16:22] vlskrbek commented on #11428
Hi,

thank but unfortunately I have got the same result.

My question. If you try it it works or not on your environment?
Best Regards

[2018-11-20 16:39] Quetzacoalt91 commented on #11445
Hi @titamrtn,

I just tested your code and the module appears properly on the module catalog.

![capture du 2018-11-20 16-36-51](https://user-images.githubusercontent.com/6768917/48788431-b9df8e00-ece2-11e8-92f5-463fead8d2c3.png)

Note the modules ready to be installed are visible on the module catalog, while the installed modules are on the module manager.

Regards

[2018-11-20 16:53] BilalDr commented on #11435
Hi @rbuelund
Thanks for this idea !
If we have one payment method it will be automatically selected.
We will work on it.

[2018-11-20 16:55] andreic96 opened #11451 "Full Price indexer crashes the server"
**Describe the bug**
I have issues getting the right number of products of a specific manufacturer, so I am trying to run price indexer on almost 10k products, as I see it to resolve this problem. After I run the full indexer it crashes my server with a 503.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'module page/run from console'
2. Click on 'Full price indexer'
3. Wait till it c

[2018-11-20 16:58] jordytr971 commented on #11323
So what we can do about it ?

[2018-11-20 18:02] ttoine commented on #11323
Question: could this be related to a TLS issue with PHP and Paypal? [Other CMS have the same issue](https://www.google.fr/search?q=problem+paypal+tls+php&oq=problem+paypal+tls+php&aqs=chrome..69i57.6480j0j1&sourceid=chrome&ie=UTF-8).

[2018-11-20 19:49] demperador opened #11452 "product combination not created in shop B in multistore environment"
**Describe the bug**
I have a multistore environment shop where shop A has different prices from shop B. Both share the same stock quantity and differ in customers.

When a product is created as "All shops" with combinations, combinations are seen as All Shops and as shop A but it is hidden nor seems to be created in the backoffice of shop B. However if a SQL is executed, it is registered in both

[2018-11-20 23:54] pg4al opened #11453 "Not sending e-mails. mail() function not working"
PrestaShop: version 1.7.4.4
Actual theme: warehouse
Información del servidor Linux #1 SMP Thu Aug 23 19:33:51 MSK 2018 x86_64
Versión del software del servidor: Apache/2.4.6 (CentOS) OpenSSL/1.0.1e-fips mod_fcgid/2.3.9 PHP/5.6.37
Versión PHP: 5.6.37
Límite de memoria: 512M
Tiempo máx. de ejecución: 300
Tamaño máx. para la subida de archivos: 64M
Módulo PageSpeed para Apache instalado (mod_instaweb

[2018-11-21 05:34] titamrtn commented on #11445
Hi @Quetzacoalt91 ,
I use PS 1.7.4.4

In modules catalog when i search it redirect me to [addons.prestashop.com](http://addons.prestashop.com)
![screenshot_2018-11-21 catalogue de modules bookdepo](https://user-images.githubusercontent.com/5078563/48820927-1c2ea200-ed68-11e8-9eec-220eb97da19f.png)

And my module isn't in modules and services
![screenshot_2018-11-21 gerer les modules installes book

[2018-11-21 06:23] dineshbadrukhiya opened #11454 "Unnecessary spaces on header of the checkout page"
**Describe the bug**
We need to improve design of checkout page header in classic theme by removing unnecessary spaces

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Checkout page on FO'

**Screenshots**
![header-checkoutpage-prestashop](https://user-images.githubusercontent.com/40850057/48822727-0a5af800-ed84-11e8-961f-95b4f42cf171.png)

[2018-11-21 07:50] khouloudbelguith commented on #11436
Hi @slupostrupek,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pre

[2018-11-21 08:03] khouloudbelguith commented on #11438
HI @LinkOfLight,

Thanks for your report.
What is the exact name of the offer module? is it provided by PrestaShop?
Thanks!

[2018-11-21 08:09] khouloudbelguith commented on #11440
Hi @dineshbadrukhiya,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0beta1.
@LouiseBonnard what do you think? it could be fixed in Crowdin?
Thanks!

[2018-11-21 08:34] khouloudbelguith commented on #11443
HI @ma0dubois,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1te6El6r2aU-2PP-EtwlChoBsf39KT6jC/view
You can follow this [documentation](https://devdocs.prestashop.com/1.7/modules/testing/)
Thanks to check & feedback.

[2018-11-21 08:35] marionf commented on #11440
The issue is categories are not translated

I use French and all categories are in English

![capture d ecran_644](https://user-images.githubusercontent.com/13449658/48828708-bbf02e00-ed70-11e8-94a3-62d23f734a44.png)

[2018-11-21 08:36] marionf commented on #11440
@loutoma FYI

[2018-11-21 08:38] #11400 closed, assigned to jolelievre

[2018-11-21 08:46] khouloudbelguith commented on #11454
Hi @dineshbadrukhiya,

Thanks for your report & for your PR.
Thanks!

[2018-11-21 08:58] marionf commented on #11142
Hi everyone,
Do you think we should close this one as can't reproduce ?

[2018-11-21 09:09] khouloudbelguith commented on #11453
Hi @pg4al,

After upgrade from 1.7.3.4 to 1.7.4.4 using the 1-click upgrade v4.4.1, I checked the "Send test Email", the new customer Email and all are working good.
To configure PrestaShop to send emails to your customers, we strongly advise you that you consult your web host to determine which settings to use for this feature. The options are:

- Never send e-mails. Keep this setting for testing

[2018-11-21 09:13] LouiseBonnard commented on #11440
Dear all, I can't find the translation key corresponding to it within the Crowdin catalog, then I guess that I cannot be solved by changing the translation. Do you think that it is a bug?

[2018-11-21 09:26] Quetzacoalt91 commented on #11142
I'll make another try on Windows, and I'd like to see more people trying with their own environment. If we definitely cannot reproduce before the release of 1.7.5.0, we will close this issue.

[2018-11-21 09:27] ttoine commented on #11323
More information here from Paypal:
https://www.paypal.com/fm/smarthelp/article/why-do-i-need-to-upgrade-my-system-to-tls-1.2-faq3898
Can someone check their server to see if this is the reason of this issue?

[2018-11-21 09:29] khouloudbelguith commented on #11445
Hi @titamrtn,

I tried also with your code & I manage to install the module successfully me too.
I attached a video record.
https://drive.google.com/file/d/10q7u53LSkxCcZfOWQ4PPhXrAgNVJfvnL/view
In BO => Modules => Modules & Services =>  Selection Tab, search for your module.
Thanks!

[2018-11-21 09:36] LinkOfLight commented on #11438
yes, is name in spanish is Bloque de promociones especiales , sorry for the bad english

[2018-11-21 09:49] khouloudbelguith commented on #11452
Hi @demperador,

Thanks for your report.
Have you the same issue with this issue https://github.com/PrestaShop/PrestaShop/issues/9664
Thanks!

[2018-11-21 09:55] khouloudbelguith commented on #11449
Hi @tanzo,

Thanks for your report.
Here's the PR: #8099 to solve the issue.
As there are too many changes in the theme, we can't merge this to prevent breaking other themes.
Thanks!

[2018-11-21 09:55] #11449 closed, assigned to nobody

[2018-11-21 10:07] Maofree opened #11458 "In the combinazion page only few values can be selected"
Hi
in the combination section, the attribute blocks show only limited values
in this case the colors are 177 but only few colors can be selected

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/48833932-c1537580-ed7c-11e8-9ce3-2f9020684009.png)

![2](https://user-images.githubusercontent.com/653230/48834032-05df1100-ed7d-11e8-82d7-c6a192485b1d.png)

**Additionnal information*

[2018-11-21 10:09] Quetzacoalt91 commented on #11445
Yeah, sorry. The module pages have been updated on 1.7.5.0.

You will find your module in "Modules & Services > Selection"

[2018-11-21 10:09] khouloudbelguith commented on #11428
Hi @vlskrbek,

When I follow with the steps that I described in my last comment, it is OK.
I attached a video record.
https://drive.google.com/file/d/19zK2SOWaYq-rWueQNbUpEzaH2Slsco6L/view => OK
But, If I try to upload child theme without renaming it, I have issues.
https://drive.google.com/file/d/1Kc9n7tqz2ASrIXrNMxArj6Vgph6JoNMF/view => NOK
@marionf, what do you think?
Thanks!

[2018-11-21 10:12] Maofree opened #11459 "in the combination page only few attributes are shown"
Hi
in this case a site has 29 attributes but in the product page it is possible to manage only 7 of them and the others?

**Screenshots**
![2](https://user-images.githubusercontent.com/653230/48834492-3ecbb580-ed7e-11e8-9833-90b7be160a01.png)
![1](https://user-images.githubusercontent.com/653230/48834494-412e0f80-ed7e-11e8-990c-0dfb51a9fe0a.png)

**Additionnal information**
PrestaShop version: 1.7

[2018-11-21 10:19] khouloudbelguith commented on #11098
Hi @Peter4661,

This issue is fixed in the next release 1.7.5.0.
Here's the PR:  #10347 to solve the issue.
Thanks for your understanding!

[2018-11-21 10:22] khouloudbelguith commented on #11409
@Alenici, in my case, I did not manage to reproduce the issue.
@Quetzacoalt91, what do you think?
Thanks!

[2018-11-21 10:27] khouloudbelguith commented on #11459
Hi @maofree,

Thanks for your report.
Have you the same issue with this issue: https://github.com/PrestaShop/PrestaShop/issues/9627#issuecomment-415051695?
Did you delete any deleted language?
Thanks to check & feedback.

[2018-11-21 10:33] Maofree commented on #11459
there are 3 languages
italian, english and french
in the past none has been removed

[2018-11-21 10:33] macpes commented on #11323
A update to PrestaShop 1.7.4.4 solved the problem for me.

[2018-11-21 10:40] tanzo commented on #11449
As you wish... But I think that is a serious and annoying bug, I found this pull request: https://github.com/PrestaShop/PrestaShop/pull/8538
That works on a fresh installation and on the default-bootstrap template (without changing nothing in the template), the fix works with and without taxes displaying. We have to improve this little fix, it works only with discount in percentage (or fixed) but

[2018-11-21 10:42] Maofree commented on #11459
I can give you the access to this site if you need it

[2018-11-21 10:48] Quetzacoalt91 commented on #11409
This is clearly something related to the environment, not the upgrade process itself. I would have a look at the PHP config (http://php.net/manual/en/function.phpinfo.php) to make sure the values have been properly applied.

[2018-11-21 10:57] khouloudbelguith commented on #11438
HI @LinkOfLight,

The `Specials block`  Provides information on special offers in a specific block, but in your second image, I see you just enabled the "Display the "On sale!" flag on the product page, and on product listings." option in the product page, but there are no specific prices on this product.
https://drive.google.com/file/d/1oGukLi_fqXHDG_gIwhI9nZECF7y3Yuzr/view
I attached a video rec

[2018-11-21 11:14] khouloudbelguith commented on #11351
@matrixino, did you delete any language?
Are there any errors in your log file? any exception displayed?
Thanks!

[2018-11-21 11:18] marionf commented on #11428
I can reproduce the issue on 1.7.4.3 without renaming
I can't reproduce the issue on 1.7.5.0, it works even without renaming

![capture d ecran_647](https://user-images.githubusercontent.com/13449658/48837709-5870fb00-ed86-11e8-9e8b-858ea50c33a5.png)

So, I guess it's fixed

[2018-11-21 11:20] jocel1 commented on #11303
@grabelle any news? :)

[2018-11-21 11:20] marionf commented on #11428
Hello,

Despite our several trials, we could not reproduce your issue on the last version with the provided information.

Best regards.

[2018-11-21 11:20] #11428 closed, assigned to nobody

[2018-11-21 11:24] khouloudbelguith commented on #11450
Hi @matks,

I manage to reproduce the issue with PS1.7.4.4 & the blockyoutubevideos module.
1. The upgrade button is displayed in the two cases, when I'm logged & I'm not.
2. If I click on the upgrade button, I have a different issue
![image](https://user-images.githubusercontent.com/16067358/48838339-56a83700-ed88-11e8-94fd-3e788014ab27.png)
@marionf, what do you think?
Thanks!

[2018-11-21 11:26] titamrtn commented on #11445
Thanks!

[2018-11-21 11:26] #11445 closed, assigned to nobody

[2018-11-21 11:27] Alenici commented on #11409
@Quetzacoalt91 and @khouloudbelguith many thanks for your kind reply, much appreciated. I checked the  PHP config and it seems ok... do you wanna check it also? May i attach the file here? If i will not fix it, it means i will not update it anymore... not good

[2018-11-21 11:31] jordytr971 commented on #11323
1.7.7.4 ? The lastest version is 1.7.4.4

[2018-11-21 11:36] khouloudbelguith commented on #11458
Hi @maofree,

All the 177 colors are displayed in the left block, but you cannot select some of the colors?
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this inform

[2018-11-21 11:37] khouloudbelguith commented on #11459
@maofree, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
I think this issue is related to #11458
Thanks!

[2018-11-21 11:38] macpes commented on #11323
Sorry, i mean 1.7.4.4. (I have now edited my previous post).

[2018-11-21 11:40] khouloudbelguith commented on #11451
Hi @andreic96,

Did you use the `blocklayered` module to Rebuild entire price index?
![image](https://user-images.githubusercontent.com/16067358/48839097-9ec85900-ed8a-11e8-8eb7-7da96ca9ba31.png)
Thanks!

[2018-11-21 11:48] Maofree commented on #11458
@khouloudbelguith  there are no errors
debug mode with no errors
there are some errors in javascript console
![1](https://user-images.githubusercontent.com/653230/48839370-8d338100-ed8b-11e8-872d-05f8354b27fb.png)

but I think it is not around this problem
the bugs are different

177 colors are set in Color attribute but from product page you can select only few of them not all

[2018-11-21 12:17] Maofree commented on #11459
debug mode no report
php log there are only few things about the front-office around images not found or some redirect

I pass you the access to the back-office

[2018-11-21 12:42] troelsselch opened #11460 "Get product list with tax in webservice"
**Is your feature request related to a problem? Please describe.**
When retrieving products and combinations from the webservice it is possible to get a list (e.g. `/api/products`) or the individual item (e.g `/api/products/1`). However, those two endpoints work differently regarding taxes.

For the individual products you can specify e.g. `/api/products/1?price[price][use_tax]=1&price[price][coun

[2018-11-21 12:46] PierreRambaud commented on #11152
@jolelievre I can reproduce the bug, I will investigate on this issue ;)

[2018-11-21 13:10] matrixino commented on #11351
It is possible but I'm not sure (it's a customer site, we are a agency), but anyway the missing translations are for the only one available lang.
It's also possible that this was caused by deleting a multishop? I know for sure that this shop was a multishop before, one for each country/lang, which was later split in multiple PS installation with a single site on each.

[2018-11-21 13:30] marionf opened #11461 "Exception on theme & logo page"
**Describe the bug**
Exception on theme & logo page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Design > Theme & logo
2. Scroll down
3. See error

**Screenshots**
![capture d ecran_648](https://user-images.githubusercontent.com/13449658/48844375-f8844f80-ed99-11e8-8e63-8adee4514a43.png)

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2018-11-21 13:37] khouloudbelguith commented on #11351
@matrixino, I tried to delete the language with id_language=1, but I did not manage to reproduce the issue either.
I tried also to delete the second shop when multishop is enabled, then I disabled the multishop context, but there's no problem.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

[2018-11-21 13:42] matrixino commented on #11351
Sorry I can't help, this was told to me way later than when it happened, I don't have any logs. We just solved it by adding a title for the default lang in the Catalog->Files section. Never happened again.

[2018-11-21 13:45] khouloudbelguith commented on #11351
Hi @rattala,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2018-11-21 13:45] #11351 closed, assigned to nobody

[2018-11-21 13:49] wokcy opened #11462 "Do not send emails from Cyrillic."
**Describe the bug**
Installed the module "ps_emailalerts", indicated the mail in partially Cyrillic "sales@ариза.рф". Then I place an order, after selecting the payment, an error 500 appears. A test message is also not sent to the mail in Cyrillic "sales@ариза.рф". But if you specify the mail completely in Latin, then the checkout and the test message also work.

Error after choosing payment:
Pro

[2018-11-21 13:54] khouloudbelguith commented on #11462
Hi @wokcy,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9638
So, I close it.
Thanks!

[2018-11-21 13:54] #11462 closed, assigned to nobody

[2018-11-21 13:54] khouloudbelguith commented on #11462
Duplicate of #9638

[2018-11-21 14:07] khouloudbelguith commented on #11460
Hi @troelsselch,

Could you please try with this link: `http://xxxxxx/api/products/?display=full&price[price][use_tax]=1&price[price][country]=3` & feedback.
Thanks!

[2018-11-21 14:21] Maofree commented on #11459
did you get the email with the access to the site?

[2018-11-21 14:21] khouloudbelguith commented on #11459
Hi @maofree,

Yes, I just received the email.
I will check & feedback.
Thanks!

[2018-11-21 14:25] khouloudbelguith commented on #11459
Hi @maofree,

It is the behavior that I expected.
![image](https://user-images.githubusercontent.com/16067358/48847229-52d4de80-eda1-11e8-84c1-b5078d398dec.png)
You have deleted the language of id_language = 1.
This is the whole issue.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10924 to solve the issue.
I close the issue, feel free topen a new one when needed.
Thanks!

[2018-11-21 14:25] #11459 closed, assigned to nobody

[2018-11-21 14:25] khouloudbelguith commented on #11459
Duplicate of #9627

[2018-11-21 14:26] marionf commented on #11461
Maybe to solve in MBO
@alexisvallee can you check that ?
If it's the case I will move the issue in MBO repository

[2018-11-21 14:27] khouloudbelguith commented on #11458
Hi @maofree,

I just found the problem in your shop, you have deleted the language which has id_language = 1.
Here's the PR: #10924 to solve the issue.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-21 14:27] #11458 closed, assigned to nobody

[2018-11-21 14:27] khouloudbelguith commented on #11458
Duplicate of #9627

[2018-11-21 14:57] dineshbadrukhiya commented on #10980
@khouloudbelguith do you think this is a bug or ask right person to look on it? Because if I’m not wrong max_execution_time to 0 needs to run scripts for unlimited time.

[2018-11-21 14:58] LinkOfLight commented on #11438
yeah but, if my provider dont make my the csv whit the discount and make the prices directly we need mark the on sale! and we need the product see in the on sale module, i think is a basic feacture,

thanks

[2018-11-21 15:04] khouloudbelguith commented on #9536
Hi @NickyBass,

Thanks for this clarifications.
If you enable the `Allow ordering of out-of-stock products` option in the Shop Parameters / Product Settings page, it will be a normal behavior that this filter is not displayed.
Thanks!

[2018-11-21 15:05] Quetzacoalt91 commented on #11409
It would be great to show a screenshot of your PHP config page, just for confirmation. Also, you should ask your hosting provider is there is memory limitation of it side about memory consumption.

[2018-11-21 15:13] troelsselch commented on #11460
Hi @khouloudbelguith,

It does work. In order to make it work PrestaShop needs to be fully set up with currencies, exchange rates, taxes, and countries. And then you need to specify all of the following:

[code]

So we can remove this issue, since it was simply a lack of documentation.

Thank you for your help.

[2018-11-21 15:13] #11460 closed, assigned to nobody

[2018-11-21 15:14] khouloudbelguith commented on #10980
Hi @dineshbadrukhiya,

I did not manage to reproduce the issue with PS1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1RZP0xQVruQ0mKtd0qssXFniPIB6kXhZc/view
Thanks!

[2018-11-21 15:21] jolelievre commented on #11152
ok @PierreRambaud but be aware that there is a pending PR on this subject as well https://github.com/PrestaShop/PrestaShop/pull/11279
Can you tell me when you find how to reproduce the bug and where the problem comes from please?

[2018-11-21 15:22] Maofree commented on #11459
hi
thanks
yes now it works with that solution

`        $doctrine = $this->getDoctrine()->getManager();
        $language = empty($languages[0]) ? ['id_lang' => 1, 'id_shop' => 1] : $languages[0];
        $attributeGroups = $doctrine->getRepository('PrestaShopBundle:Attribute')->findByLangAndShop((int) $language['id_lang'], (int) $language['id_shop']);`

is it possible to add it on the 1.7.5 inste

[2018-11-21 15:26] khouloudbelguith commented on #11438
@LinkOfLight, thanks for your feedback.
When we check the option `Display the "On sale!"`, a box shows that the product is on sale, both on the product page and in the text on the product listing. An "On sale" icon will appear under the product.
But this product is not displayed in the list of special offers in a specific block, because there are no discounts on this product.
@marionf, it could be

[2018-11-21 15:29] khouloudbelguith commented on #11459
@maofree, sorry now we can't add to the milestone 1.7.5.0.

[2018-11-21 15:31] Maofree commented on #11459
but it can solve problems in many sites

[2018-11-21 15:35] khouloudbelguith commented on #11459
@maofree, your point makes sense, unfortunately, we only accept security fixes or regression from 1.7.5.0 on this branch to be focused on the 1.7.5.0 version, as described here: https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/#target-branch
The fix will be available in the next minor release, with a beta coming shortly. It will be in consequence available for everybody ready

[2018-11-21 15:37] Maofree commented on #11459
can you do an example of version when it can be fixed?
1.7.5.1 or 1.7.6.0 ?

[2018-11-21 15:44] Alenici commented on #11409
Thanks @Quetzacoalt91
here attached the php screenshot. Since it's longer more than 24 pages i hope the data i selected are enough.
![php01](https://user-images.githubusercontent.com/45073496/48851959-a3056e00-edac-11e8-847d-18a03da095ad.jpg)
![php02](https://user-images.githubusercontent.com/45073496/48851961-a3056e00-edac-11e8-9a1a-9188222885f9.jpg)
![php03](https://user-images.githubusercontent

[2018-11-21 15:49] marionf commented on #11438
It's not legal to display a product as on sale without any discount
It's an obligation to display the original price crossed and the new one.
So, a product can't be displayed in specific block if it's not on sale (have not a specific price or catalog price rule)
For this reason, we can't add in special block products that are display "On sale" without discount

[2018-11-21 15:49] #11438 closed, assigned to nobody

[2018-11-21 15:57] khouloudbelguith commented on #11459
@maofree, 1.7.6.0.
Thanks!

[2018-11-21 16:00] Quetzacoalt91 commented on #11409
Well, the value is properly taken in account. Would you mind disable the memory limit for testing purpose, y setting the value as `-1`? http://www.php.net/manual/en/ini.core.php#ini.memory-limit

Once you're done with this issue, you should bring back the initial value. :)

[2018-11-21 16:22] andreic96 commented on #11451
Hello @khouloudbelguith ,

That's exactly, what I have used. Ran it from admin and also from server through ssh.

[2018-11-21 16:32] #11354 closed, assigned to jolelievre

[2018-11-21 16:32] Webmaster-RPO opened #11465 "Prestashop security configuration error message: impossible to create a new account"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2018-11-21 17:25] jolelievre commented on #11220
So the problem comes from http://i18n.prestashop.com/translations/1.7.5.0/ga-IE/ga-IE.zip which does not exist.
What surprises me even more is that Gaelic is not managed in https://crowdin.com/project/prestashop-official
Which seems to be the source and platform we use to generate our translations.

Furthermore, @khouloudbelguith I tried to install this language in 1.7.4.x branch and I have an err

[2018-11-21 17:43] LouiseBonnard commented on #11220
Hello @khouloudbelguith, why the Gaelic? Is there not a confusion with the Galician being newly available in the installer?

[2018-11-21 17:50] MatShir commented on #11273
Actually, _PS_MODE_DEV_ is used as debugging and development mode. You are right, we should have more error details. It will make sense to have exception variable from the class PrestaShopException instead.
But we can avoid the die function since we don’t really know what will happen if we remove it. It’s shared with our team @eternoendless. Also, don’t hesitate to make a pull request (https://git

[2018-11-21 18:00] Quetzacoalt91 commented on #11331
Fixed by #11466

[2018-11-21 19:16] nnnext commented on #10274
when i switch to a single shop i can update the qty without an error.

[2018-11-21 20:21] Alenici commented on #11409
Hello @Quetzacoalt91
i did it, value -1 and is properly taken in account but...
[INTERNAL] /home/mhd-01/www.sitename.com/htdocs/modules/autoupgrade/classes/Tools14.php line 1400 - Out of memory (allocated 75288576) (tried to allocate 66904096 bytes)...
no way...
The provider said maybe something in prestashop decrease the available memory otherwise the allocated part would have been closed to the

[2018-11-21 21:00] PierreRambaud commented on #11152
I already notice your PR, I will rebase my changes :)
In fact, we found many problems with @marionf and the funny thing about the original bug is: only the first Reorder failed, I need to clear all my filters and session to reproduce :trollface:
Currently don't know why but still investigate :D

[2018-11-21 23:55] Gionny996 opened #11467 "Bug in BO Catalog"
Prestashop 1.7.7.4, when I open any product from the catalog and click on the "recycle bin" to delete a combination of that product, it is not deleted, I am not given any error in debug mode. I click on delete combination and nothing happens, neither an error message nor nothing

[2018-11-22 02:06] sunisasiangto commented on #11415
Thanks - everyone.
I download the patch file of new version and figured out already. It's work :)

[2018-11-22 03:13] BenTen opened #11468 "UndefinedMethodException when confirmation of order"
Hello,

When I try to confirm an order (this one by check), I have an Exception message error.
https://tof.cx/image/kDXUy

Even if there is the error, the order is create in BO.

But when I try to enter in the detail of the order in the BO, I have an other issue
https://tof.cx/image/kDqoC

**Additionnal information**
PrestaShop version: 1.7.4.4
PHP version: 7.2

[2018-11-22 07:37] khouloudbelguith commented on #11451
Hi @andreic96,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

There are several different log data that you can add as a file to your ticket:

Server log:

- Apache: /var/log/apache/apache_error.log
- Nginx: /var/log/nginx/nginx_error.log
- IIS: %SystemDrive%\inetpub\logs\LogFiles

PHP error log:

1. Apache: /var/log/apache/php_error.lo

[2018-11-22 07:38] khouloudbelguith commented on #11465
Hi @Webmaster-RPO,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pr

[2018-11-22 07:49] khouloudbelguith commented on #11220
Hi @jolelievre,

I just tried with 1.7.4.4 & it is ok => https://drive.google.com/file/d/1XPzpGOh8BcnqlTvvynu6Vd6ucYvYipxr/view
But yes with the 1.7.5.0, there is an exception => https://drive.google.com/file/d/1GZ8WlwHQD_wvOH_cbrL5RHNH9jXDeRx4/view
@LouiseBonnard, I just tried to add the Gaelic language.
Thanks!

[2018-11-22 08:20] khouloudbelguith commented on #11467
Hi @Gionny996,

I did not manage to reproduce the issue with PS1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1mO5jTK9MAsJrIW5_07A_mH3xc7Xqyam7/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report /, unfortunately, doesn't exist
 - PHP error logs
 - ap

[2018-11-22 08:22] khouloudbelguith commented on #11415
Hi @sunisasiangto,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

[2018-11-22 08:22] khouloudbelguith commented on #11415
Duplicate of #9080

[2018-11-22 08:22] #11415 closed, assigned to nobody

[2018-11-22 08:27] khouloudbelguith commented on #11468
Hi @BenTen,

Thanks for your report.
Did you use any module something like CODwFreePlusValidation ?
Thanks to check & feedback.

[2018-11-22 08:31] marionf commented on #11440
Same issue with MBO

![capture d ecran_649](https://user-images.githubusercontent.com/13449658/48890578-7481a480-ee39-11e8-9517-cf84b9d5f3c9.png)

[2018-11-22 08:38] BenTen commented on #11468
I use this one to be honest: https://www.prestashop.com/forums/topic/912961-free-module-cash-on-delivery-with-fee-plus-ps-16-17/

I try to uninstall it because I thought it was this plugin, but the problem is the same.

[2018-11-22 08:41] marionf commented on #11220
If it can help you, when I try to import irland pack in International > translations, Gaelic is well imported

[2018-11-22 08:41] khouloudbelguith commented on #11468
@BenTen, this module is the whole problem, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
You need to check also if you have any overrides due to this module.
Thanks to check and feedback.

[2018-11-22 09:04] PierreRambaud commented on #11440
Hi @khouloudbelguith can you reproduce this on the branch 1.7.5.x? I can't reproduce.
F.Y.I someone delete translations key in xliff files, that's why translations are missing :)

[2018-11-22 09:17] khouloudbelguith commented on #11440
Hi @PierreRambaud, with the branch 1.7.5.x, I did not manage to reproduce the issue, there is no category with the "Natif" name, this category doesn't exist anymore in the 1.7.5.x branch.
But the problem described by @marionf exists in the 1.7.5.x.

[2018-11-22 09:24] #11253 closed, assigned to tomlev

[2018-11-22 09:49] Quetzacoalt91 commented on #11409
Now I see a difference between the error I usually (`Allowed memory size of 262144 bytes exhausted`) see and yours (`Out of memory`)... Sorry I missed that during all this time.
https://stackoverflow.com/questions/8808125/random-php-fatal-error-out-of-memory-errors

You should retrieve the current available memory you have from your hosting provider and temporarily increase it if possible. On our

[2018-11-22 09:52] #9687 closed, assigned to nobody

[2018-11-22 09:52] #10893 closed, assigned to nobody

[2018-11-22 09:54] #10345 closed, assigned to jolelievre

[2018-11-22 09:55] jolelievre commented on #11220
@marionf on 1744 or 1750?
@khouloudbelguith whe I look at your video for 1744 I see that you update the language, not install it
I have the same behavior with the update part, but when I try to install from a fresh prestashop installation I have this error:

![capture d ecran 2018-11-22 a 10 48 06](https://user-images.githubusercontent.com/13801017/48895029-6b4a0500-ee44-11e8-8fe0-b2e85c14e869.png

[2018-11-22 09:58] eternoendless commented on #11273
I agree on most of what you say @mehdi-ghezal, except for the option of toggling this mode in the back office, because it's useful for merchants when their shop breaks in production and they need to find out why.

In any case, this is very old behavior and should be changed. I'm in favor of replacing the `die` with an exception so people can have a stack trace. And also, we shouldn't use the trans

[2018-11-22 09:59] marionf commented on #11220
@jolelievre I tried on 1.7.5.x branch

[2018-11-22 10:01] Gionny996 commented on #11467
if you leave me your email I can give you the data to access the BO of the test site and the FTP data

[2018-11-22 10:05] khouloudbelguith commented on #11467
@Gionny996,

My address mail: khouloud.belguith@prestashop.com

Thanks!

[2018-11-22 10:13] khouloudbelguith commented on #11220
@jolelievre, when I tried to install 1744, I couldn't found the Gaelic language in the first step.
I tried to modify my profile to Gaelic, the BO is still in English.
When I tried to edit translations for Gaelic, I have an error
![image](https://user-images.githubusercontent.com/16067358/48896291-8bc78e80-ee47-11e8-8ec9-2e936759218d.png)
& this exception is displayed
![image](https://user-images.g

[2018-11-22 10:13] Quetzacoalt91 commented on #11409
To give more details on what could be the reason, the downloaded package of PrestaShop is stored in RAM before being copied in the file system. Depending on the package you try to use, you can easily reach the memory limit of your server.

I'll have a look to stream the file instead, but on your side, you can download the package you want to upgrade to, copy it in the folder `<admin>/autoupgrade/d

[2018-11-22 10:22] MarekKaliszuk opened #11471 "Can't save & edit combinations - not working on client server PS1.7.3.3"
Hello,

i have same shop on two servers. One is strong vps second is hosted (client server). On my vps server saving combinations is working flawless. On client server  i can't generate and save combinations at all. Here is alert (can't save)  plus some errors in background:

Data posted in background:

[code]
[code]
Response error:

[code]

On screen there are errors in background. I've tested ge

[2018-11-22 10:30] khouloudbelguith commented on #11471
Hi @w0lf1991,

This issue occurs randomly in your case?
After clicking on generate button & the generated combination list is empty if you refresh the page, the list will be displayed?
Because we are aware of this issue: https://github.com/PrestaShop/PrestaShop/issues/9826
Thanks to check & feedback.

[2018-11-22 10:39] khouloudbelguith commented on #11467
@Gionny996, I just received the email.
I will check & feedback.
Thanks!

[2018-11-22 10:40] MarekKaliszuk commented on #11471
I've tested in few situations and it seems  not random:
- old product + old attribute = not working
- old product + new attribute = not working
- new product + old attribute = not working
- new product + new attribute = not working

I have VPS server where it's working normal. On client serwer (not vps powered) - it's not working.

After clicking on generate button - there is still empty list (sho

[2018-11-22 10:43] knekke commented on #11364
Trying to setup a subdomain multistore I ran across the same error.
First of all what is the correct procedure for subdomains?
The help page says:

So if I try it like this and I enter a non-existing subdomain for the shop URLs:

- On hitting "save" I get a 'page not found' error because of the former mentioned double URL
- I go on by correcting the URL and get confirmation that it is set, but I c

[2018-11-22 10:52] khouloudbelguith commented on #11467
@Gionny996, in your console log, you have this error `Failed to load resource: net::ERR_SPDY_PROTOCOL_ERROR` => This is a network error on your side.
When you visit a webpage, your browser sends a request using SPDY protocol. An outdated browser will trigger an old version of SPDY. Since Google only supports the latest version, your request will result in an error.
Your browser will report an ERR_

[2018-11-22 11:01] Gionny996 commented on #11467
what error do you mean? to that of slowness in payment methods and grafting
a form, or the fact that it does not eliminate the combinations?

Il giorno Gio 22 Nov 2018, 11:52 khouloudbelguith <notifications@github.com>
ha scritto:

[2018-11-22 11:03] khouloudbelguith commented on #11467
@Gionny996, when I try to delete a combination in the product page, I have this error `Failed to load resource: net::ERR_SPDY_PROTOCOL_ERROR`
Thanks!

[2018-11-22 11:04] Gionny996 commented on #11467
how can I solve it?

[2018-11-22 11:13] AyLia85 opened #11472 "Catalog/Stocks Wrong sort by reference if product attributes"
If product reference is different by combinations, the sort by refernce in Stock pages is not order by reference.

On clean install
change reference for product demo_1 add _B1 for Black S, _B2 for Black M, _W1 for Whithe S ...

Go to Catalag/Stock
filter on demo_1
and change sort by reference

Order is not correct

![image](https://user-images.githubusercontent.com/45260295/48899482-ff6d9980-ee4f-

[2018-11-22 11:21] Quetzacoalt91 commented on #11361
Hi,

This issue is related to the environment, nothing can be done on the module to prevent this issue to occur. As said in my previous message, please contact your hosting provided to see how to prevent this error to occur.

Closing as "nothing to change".

[2018-11-22 11:21] #11361 closed, assigned to nobody

[2018-11-22 11:21] Quetzacoalt91 commented on #11347
The module has been released, I'm closing this issue.

Regards

[2018-11-22 11:21] #11347 closed, assigned to nobody

[2018-11-22 11:31] khouloudbelguith commented on #11472
Hi @AyLia85,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.4.
In the Stocks page, I searched products by reference "demo_1" => OK
When I try to reorder by reference => NOK.
![image](https://user-images.githubusercontent.com/16067358/48900322-5a07f500-ee52-11e8-8498-aee9c4d3ab68.png)
We will see how to fix it.

[2018-11-22 11:33] khouloudbelguith commented on #11467
@Gionny996, what are the exact steps did you made before this issue occurs?
Did you installed any module?
Did deleted attributes?
Thanks!

[2018-11-22 11:34] Gionny996 commented on #11467
I do not know when the error occurred

[2018-11-22 12:00] Quetzacoalt91 commented on #11142
Upgrade 1.7.4.3 >> 1.7.5.0 went fine on Windows (IIS / PHP FastCGI), but no modules were upgraded during the process. :/

[2018-11-22 12:02] Gionny996 commented on #11467
I try with a new installation of prestashop?

[2018-11-22 12:21] khouloudbelguith commented on #11467
@Gionny996, with fresh installation 1.7.4.4, this issue doesn't exist.
Thanks!

[2018-11-22 13:08] khouloudbelguith commented on #11364
Hi @knekke,

About the multistore URL, in the 1.7.5.0, there are some fixes, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9450
But in the 1.7.5.0beta1, when I try to edit the URL, clicking on save, I'm redirected to the page not found with a double URL, this issue exists also in the PS1.7.4.4. Only when I try to edit the URL of the first shop.
1.7.5.0BETA1 => https://drive.google.c

[2018-11-22 13:12] khouloudbelguith commented on #11471
@w0lf1991, if you enable the debug mode are there any exceptions displayed?
You can enable the debug mode in BO => Advanced Parameters => Performance page.
Thanks!

[2018-11-22 13:20] jolelievre commented on #11364
Hey I will look into it
But first @knekke can you tell me which version you are using?
1.7.4.x or 1.7.5.0? some fixes have indeed been made for multi shop urls, but mainly focused on legacy urls
there might be some issues on symfony urls left, from what you said @khouloudbelguith it seems the bug also exists on 1.7.5, I'm gonna add it to our Kanban

[2018-11-22 13:20] BenTen commented on #11468
I deleted all cache and check overrides but the issue is display again in BO and FO.

But I can see a message in log "Frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart "

[2018-11-22 13:41] Alenici commented on #11409
Hello @Quetzacoalt91
thank you for your help, i think you are right.
Now I have the following error:
Impossibile aprire il zipFile /home/mhd-01/www.sitename.com/htdocs/admin/autoupgrade/download/prestashop_1.7.4.4
[ERROR] Error on extracting archive using PclZip: PCLZIP_ERR_BAD_FORMAT (-10) : Unable to find End of Central Dir Record signature.
Should i extract the archive before uploading it?

Ah,

[2018-11-22 13:43] khouloudbelguith commented on #11468
@BenTen, this log is a different issue, you can follow this issue: #9866
The exception is displayed again, is there any errors?

[2018-11-22 13:53] Quetzacoalt91 commented on #11409
You don't have to. However, the file you uploaded seems to be corrupted. Could you try again downloading / uploading it?

[2018-11-22 14:20] Gionny996 commented on #11467
How can i do for to resolve this problem?

Il giorno Gio 22 Nov 2018, 13:21 khouloudbelguith <notifications@github.com>
ha scritto:

[2018-11-22 14:23] Quetzacoalt91 commented on #11142
Closing until further feedback.

[2018-11-22 14:38] demperador commented on #9664
Hello. I just wanted to add that for my organization it is vital that this keeps working correctly because we do offer a live site and new products will not be accesible for shop B whereas for shop A it will be.

[2018-11-22 14:42] #11331 closed, assigned to Quetzacoalt91

[2018-11-22 15:07] khouloudbelguith commented on #11467
Hi @Gionny996,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2018-11-22 15:07] #11467 closed, assigned to nobody

[2018-11-22 15:08] khouloudbelguith commented on #11048
Hi @wajingdev,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2018-11-22 15:08] #11048 closed, assigned to nobody

[2018-11-22 15:10] khouloudbelguith commented on #11047
Hi @akorsonsky,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-22 15:10] #11047 closed, assigned to nobody

[2018-11-22 15:10] khouloudbelguith commented on #11086
Hi @Aziule,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-22 15:10] #11086 closed, assigned to nobody

[2018-11-22 15:11] khouloudbelguith commented on #11091
Hi @fre2004,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-22 15:11] #11091 closed, assigned to nobody

[2018-11-22 15:16] MathiasReker commented on #11327
Thanks, it is solved :-)

[2018-11-22 15:16] #11327 closed, assigned to nobody

[2018-11-22 15:28] ntiepresta commented on #11199
@jf-viguier,
Could you please provide us with more info? or a video record. We need more details to understand how we can reproduce your issue:
    - host
    - server setup and configuration
    - debug mode report /, unfortunately, doesn't exist
    - PHP error logs
    - apache error log
    - javascript console log
    - screenshots.

Thanks.

[2018-11-22 15:40] jf-viguier commented on #11199
You don't need all of this to reproduce the error
- Go to an order on the backoffice
- Change delivery or invoice address
- Create a new order based on previous order
- See that the suggested addresses are wrong

[2018-11-22 15:47] Alenici commented on #11409
Hello @Quetzacoalt91
you were right, the file was corrupted.
I was running the upgrading but sadly it didn't finish because of timeout of the server and i couldn't save the error message on time... anyhow, the backoffice and frontoffice seems working good, I will check it in all his functions to see if everything still working well.
Just one thing.. the folders <admin>/autoupgrade/download/ and <a

[2018-11-22 16:08] ntiepresta commented on #11199
@jf-viguier
I don't know if we managed to reproduce this  error like you. I asked you provide us with more info for to be sure. Please could you provide us a video record for we can confirm your issue.
I attached a video record.
https://drive.google.com/file/d/1XMSbU58LzIWkuIEUMg_o4xBbdHKjPYGB/view?usp=sharing

If we manage to reproduce this error like you,  your fix (#11201)  does not correct the

[2018-11-22 16:08] Lndaw opened #11474 "Bug on combination"
BUG DESCRIPTION:
- On the product page(s) of products with different variants available, not all variants are displayed.
- The dropdown menus do not contain all possible items to select from.
- Example page: https://anson.ch/de/ventilatoren/638-13790-schallisolierte-luftungsbox-sbr-ibr-ec-erp-2018#/nenndurchmesser-100/
----------------------------------------
STEPS TO REPRODUCE THE BEHAVIOR:
1. Go

[2018-11-22 16:13] khouloudbelguith commented on #11474
Hi @Lndaw,

I followed the link that you provided to me & it is OK in my side.
![image](https://user-images.githubusercontent.com/16067358/48913857-f72a5400-ee79-11e8-8e72-f1035d3617e9.png)
Thanks to check & feedback.

[2018-11-22 16:14] khouloudbelguith commented on #11474
@Lndaw, I can select all the combinations also.
https://drive.google.com/file/d/156eA5yuAdrXn8crvKNASMoNgH7FqJKp6/view
Thanks!

[2018-11-22 16:33] Quetzacoalt91 commented on #11409
I'm glad to see you could move forward in the process.

You can find the complete log at the same place as before, in `<admin>/autoupgrade/tmp/log.txt`. You will be able to know where the process could go before the timeout occurred (I hope the step UpgradeDatabase could ran completely).

In the last steps, the two folder you are mentioning are supposed to be emptied. You can safely delete their c

[2018-11-22 16:36] Lndaw commented on #11474
Hello,

Ok i am going to close this ticket.

Kind regards,

[2018-11-22 16:37] Lndaw commented on #11474
Hello ,

Could you please close this ticket.

Kind regards,

[2018-11-22 16:38] khouloudbelguith commented on #11474
Hi @Lndaw,

I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-22 16:38] #11474 closed, assigned to nobody

[2018-11-22 17:11] MarekKaliszuk commented on #11471
I see no exceptions on debug mode. But i've visited ajax url which is not loading and throwing 500(for product with generated combinations but failing to load in table)

Here are screenshots:
https://ibb.co/kFFrLV
https://ibb.co/dqacSA

[2018-11-22 17:29] jf-viguier commented on #11199
I've seen your video : the adresseeeee is not selected by defaut : that's the bug.
I've made 2 pull requests for this bug, here is the other one that fix the bug in the video https://github.com/PrestaShop/PrestaShop/pull/11200/commits/87c68ceb97e7e5c756dd0f397ad6404ecdb15638

[2018-11-22 23:14] BenTen commented on #11468
Thank you for the other issue.

About this one, after delete cache into var/cache (prod & dev), the exception is displayed again.
The same error than the first post (BO and FO).

[2018-11-23 00:03] jolelievre commented on #11364
hello @khouloudbelguith I was able to reproduce your bug
it seems to happen each time we update a store url informations, wether you update the main one or a subdomain, the modification is saved but the redirection is wrong, this should be fixable

On the other hand I'm not sure this is the exact same problem as @Lndaw I only reproduce the double url after saving a multistore settings, but you hav

[2018-11-23 00:17] jolelievre commented on #11461
I'm not sure it needs to be fixed in MBO, but it's probably linked.
I tried in an install from the branch, with no mbo, and there is no error when you scroll
Is this a feature from mbo? to add the theme catalog under the settings?

[2018-11-23 05:41] rattala commented on #11351
I noticed the same behavior mentioned by Matrix. Hope this helps

Inviato da Libero Mail per iOS

lunedì 19 novembre 2018, 18:06 +0100 da notifications@github.com  <notifications@github.com>:

[2018-11-23 05:57] rattala commented on #11351
Hi, just for info I have no customizations and just configured virtual host the basic minimal way

Inviato da Libero Mail per iOS

mercoledì 21 novembre 2018, 14:45 +0100 da notifications@github.com  <notifications@github.com>:

[2018-11-23 07:52] khouloudbelguith commented on #11468
@BenTen, what is the exact transport & the exact payment method did you use?
Because in your exception, the [module](https://www.prestashop.com/forums/topic/912961-free-module-cash-on-delivery-with-fee-plus-ps-16-17/) is the problem again.
![image](https://user-images.githubusercontent.com/16067358/48932599-17e7bd80-eefd-11e8-95d2-e2cf79ca2cfa.png)

Thanks!

[2018-11-23 08:05] khouloudbelguith commented on #11471
@w0lf1991, your problem is fixed in the 1.7.3.2, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/8948, could you please check your files with the [fix](https://github.com/PrestaShop/PrestaShop/pull/8948/files)
If yes, I advise you to updated your shops to PHP 7 already, why keep a slow version of PHP?
Thanks!

[2018-11-23 08:15] BenTen commented on #11468
Since I remove the plugin, I can't use this method.

When I use "payments by check" the problem is the same than the first post.
Here the screenshot of the error when I pay by check: https://tof.cx/image/koSfU

[2018-11-23 08:34] marionf commented on #11461
@jolelievre Yes, it's a feature of MBO
This is why you don't see the error if MBO isn't installed

[2018-11-23 08:37] khouloudbelguith commented on #11468
@BenTen, what is the exact version of the ps_checkpayment module did you use?
Is it v2.0.4.
If yes, could you please try to uninstall it, remove the ps_checkpayment folder in the Project_Folder/modules/ & try to install it again.
Thanks!

[2018-11-23 08:51] LouiseBonnard commented on #11220
Dear all, Crowdin does not support the Irish Gaelic, only the Scottish Gaelic. So my advice is: add the Irish Gaelic in TranslationFiles (and do not care about Crowdin then) to prevent from any installation issue. If it needs to be listed in Crowdin, well I guess we will have to remove it from the allowed languages list.

[2018-11-23 08:57] tengav commented on #9809
When we fixed that, the problem seems to be longer.
Is there a workarround here?

[2018-11-23 09:13] BenTen commented on #11468
It's 2.0.4 so I uninstalled and removed the folder.
I installed an tried again but, same error happen https://tof.cx/image/kokFw

[2018-11-23 09:20] MarekKaliszuk commented on #11471
Yes i saw 1.7.3.2 before posting bug report. I had fixed files.

Well i would like to use php 7.2 for testing (i have only that version on server) but it's crashing presta pretty hard - BO  500 error, front in pieces. I would like not to update to 1.7.4 on client server. If something go wrong i will be in deep sh*t.

[2018-11-23 09:27] khouloudbelguith commented on #11468
@BenTen, what is the exact carrier did you use?
Did you use any other custom module for the transport for example or any other module to generate invoices?
Thanks!

[2018-11-23 10:48] rafaelcalero commented on #9540
It happens to me. Some news?

[2018-11-23 10:51] sportelli94 opened #11476 "Problem with combination and mouse click on other product"
HELLO,
I HAVE A PROBLEM WITH PRESTASHOP WHEN A PRODUCT HAVE A COMBINATION AND CHANGE A PARAMETRS THEREFORE I DO NOT PROCEED ANY OTHER OPERATION (ES ADDED TO THE CART) AND I GO TO ANOTHER PRODUCT, IN THE BOARD SHOWING THE PRICE EQUAL TO 0.
THE SCREEN IS A EXAMPLE.

THE SITE IS WWW.TRACKDESIGN.NET PLEASE HAVE A TIP?

php version is a 5.6

[2018-11-23 10:52] BenTen commented on #11468
I created different carrier in the native part of Prestashop.
I don't use 3rd part module to generate invoices nor to set carriers.

[2018-11-23 10:53] khouloudbelguith commented on #9540
@matrixino, sorry not yet.

[2018-11-23 10:55] khouloudbelguith commented on #11476
Hi @sportelli94,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pres

[2018-11-23 11:02] khouloudbelguith opened #11477 "It is impossible to Enable/Disable the second shop with the icon status"
**Describe the bug**
When we try to disable / Enable the second shop in the multistore context whith the icon status, a red alert is displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Multistore context in the Shop Parameters => General page
2. Go to Advanced Parameters => Multistore, create a new shop
3. Set an URL to this new shop
4. In the left block, click on the URL link t

[2018-11-23 11:04] sportelli94 commented on #11476
yes,

the version prestashop is 1.7.3.2
server is a apache e mysql on debian
version php 5.6
but in apache2 and in javascript
it's not what mistakes to give you.
it shows me nothing when I go to their logs.
![immagine](https://user-images.githubusercontent.com/45287071/48940424-d1ec2300-ef17-11e8-8c1f-226de30865b2.png)

[2018-11-23 11:04] sportelli94 commented on #11476
but with a reload on page the price reapparance

[2018-11-23 11:04] ntiepresta commented on #11199
@jf-viguier
thanks for you reply.
Your pull request  87c68ce , well resolves the bug in the video.
I attached a video record.
https://drive.google.com/file/d/1xyRYUJWgAKkZp7lLp7ccQceIpt-ox3_m/view?usp=sharing

Thanks

[2018-11-23 11:07] jolelievre commented on #11364
@knekke about your questions, you need to set your domains to target your prestashop folder
all your domains must point to the same PrestaShop installation/folder
And then PrestaShop manages the different urls and is able to detect which store the user needs to see based on the url

[2018-11-23 11:08] jolelievre commented on #11461
Ok I'm gonna fix this bug, no need to move it to the other repo for now

[2018-11-23 11:15] PrestaShark commented on #11476
1) Try to disable SEO Friendly URLS module
2) Try to update PS and Template

[2018-11-23 11:18] khouloudbelguith commented on #11471
ping @mickaelandrieu, what do you think?

[2018-11-23 11:19] khouloudbelguith commented on #11468
Hi @BenTen,

I did not manage to reproduce the issue in my case.
@marionf what do you think?
Thanks!

[2018-11-23 11:20] khouloudbelguith commented on #11476
Hi @sportelli94,

Could you please Navigate to the BO => Shop Parameters => Traffic & SEO and provide a screenshot of the SCHEMA OF URLS.
![image](https://user-images.githubusercontent.com/16067358/47072066-8c8c5580-d1f5-11e8-88ec-7a81af16c08e.png)
Thanks!

[2018-11-23 11:23] ghost opened #11479 "Show price with TAX on backend product list"
Please restore to backend product list prices with TAX column....
This is very annoying complication in B2C businesses, and its cant be fixed by override of src/PrestaShopBundle/ folder

[2018-11-23 11:24] sportelli94 commented on #11476
ok.
it is
![immagine](https://user-images.githubusercontent.com/45287071/48941173-c0584a80-ef1a-11e8-8830-4b29ed22031e.png)

[2018-11-23 11:31] Thinkup commented on #9540
@rafaelcalero , hello i have solved with https://addons.prestashop.com/it/spese-spedizione/7490-freelivery-consegna-gratuita.html
....

[2018-11-23 11:36] PrestaShark commented on #11479
![tax](https://user-images.githubusercontent.com/8243273/48941577-593b9580-ef1c-11e8-8090-beab8a9bbfb6.jpg)

[2018-11-23 11:38] sportelli94 commented on #11476
because you asked me for these parameters. what should I do? I wait for you

[2018-11-23 11:46] Bonobomagno opened #11480 "Unexistent product added on orders. CRITICAL ISSUE"
**Describe the bug**

Some orders have product that dont exist on the prestashop.
There is no record on the db about this products, but still they appeir on the order list on the backend.
The domain is new, never used as a shop.
Order total is still only the sum of  the real products, but this products have a quantity and a price that probably the customer can see.

**Additionnal information**
Pre

[2018-11-23 12:24] MarekKaliszuk commented on #11471
I  have spent few hours on debuging problem. It's looks like releated to database - not presta files.
How i debug problem:
- on my VPS  is a copy of client shop where combinations are working flawless  (dev before production)
- on client server - they're not working at all

So i've copied client shop(production) to my server and created new database (fully exported from client db). And i've notice

[2018-11-23 12:26] Bonobomagno commented on #11480
little info, this happend only on some paypal order.
we are using official module

[2018-11-23 12:40] marionf commented on #11468
The issue seems comes from the module, I can't reproduce it on a fresh install of PrestaShop without added modules.

[2018-11-23 12:40] #11468 closed, assigned to nobody

[2018-11-23 13:01] jf-viguier commented on #11199
ok, I'm happy to contribute.

[2018-11-23 13:24] khouloudbelguith commented on #11479
Hi @PrestaShark,

In back office > catalog > products list:

- Price without tax is interesting in B2B mode.
- Price with tax is interesting in B2C mode (default mode), therefore it should be the default behavior.

@marionf, what do you think, it could an improvement.
Thanks!

[2018-11-23 13:28] khouloudbelguith commented on #11476
@sportelli94,

Thanks for your feedback.
Can you change the SCHEMA OF URLS to the default Shema provided by PrestaShop?
Like described in this screenshot:
![image](https://user-images.githubusercontent.com/16067358/47073013-9911ad80-d1f7-11e8-98ce-f1325816b16b.png)
Also, you need to check if you have some overrides added by a custom module could be a problem.
Thanks!

[2018-11-23 13:31] khouloudbelguith commented on #11480
Hi @Bonobomagno,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Did you use the MailChimp module?
What is the exact version Paypal did you use?
Thanks!

[2018-11-23 13:39] marionf commented on #11479
In 1.6 there was price without tax and price with tax

![capture d ecran_657](https://user-images.githubusercontent.com/13449658/48946300-89d7fb00-ef2d-11e8-8e91-f044910b55a4.png)

In 1.7 there is only price without tax

![capture d ecran_658](https://user-images.githubusercontent.com/13449658/48946317-94929000-ef2d-11e8-92be-d163a3d4c6f2.png)

[2018-11-23 13:47] sportelli94 commented on #11476
i have a modify but check ovveride how how can I control the override
![immagine](https://user-images.githubusercontent.com/45287071/48946506-40d47680-ef2e-11e8-99b9-ce8bc2867a23.png)

[2018-11-23 13:48] khouloudbelguith opened #11482 "The "Add a new" button has no effects in the Monitoring page, just refresh the page"
**Describe the bug**
In the BO => Catalog => Monitoring page, the icon Add a new is displayed, but it has no effect, it  just refreshes the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Monitoring page
2. Click on 'ADD NEW' button => the page will be refreshed.

**Screenshots**
![image](https://user-images.githubusercontent.com/16067358/48946649-afb1cf80-ef2e-1

[2018-11-23 13:50] sportelli94 commented on #11476
because it could be problems of url malfunction with the price variable that is not displayed. what does it has to do with it?

[2018-11-23 13:50] marionf commented on #11482
The add button should be removed

[2018-11-23 13:51] marionf commented on #10552
If during migration we can solve this issue #11482 it will be nice (just a button to remove)

[2018-11-23 13:57] sportelli94 commented on #11476
it's the only problem that
and it would be great to solve it in such a way that we can fix this problem

[2018-11-23 13:59] ghost commented on #11479
![finalprice](https://user-images.githubusercontent.com/8243273/48947271-d113bb00-ef30-11e8-9341-49677f7781e1.jpg)

https://github.com/PrestaShop/PrestaShop/pull/11483 sorry. this is my first pull ;)

[2018-11-23 14:08] ghost commented on #11435
This little piece of code works like a charm

`jQuery(window).load(function(){
	$('#payment-option-2').prop('checked', true);
});`

Set #payment-option-2 as checked by default even its not first in position.

![id](https://user-images.githubusercontent.com/8243273/48947614-fb19ad00-ef31-11e8-939d-a9a73a27fe4d.jpg)

In this example #payment-option-5 was checked by default (paysafecard)

![id3](http

[2018-11-23 14:19] khouloudbelguith commented on #11479
@PrestaShark Thanks for the fix!
Also do not be afraid of "messing it up", we'll help you getting it right

[2018-11-23 14:22] ghost commented on #11479
Need to learn how to merge my file edits in one pull :/

[2018-11-23 14:36] khouloudbelguith commented on #11476
@sportelli94, you can delete this override to check if it the issue happens again.

[2018-11-23 14:42] khouloudbelguith commented on #11471
Hi @w0lf1991,

You can find the full schema for 1.7.3.3 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.3.3/install-dev/data/db_structure.sql
Thanks!

[2018-11-23 14:45] Bonobomagno commented on #11480
Other guystold me that the shop was not so "new". It was new, but some migration happened before coming to prestashop. So, i dunno how, some previous orders were still on the order table. Withouf fk its easy to have orphan records..
 Now i think that this will not happen again :/

[2018-11-23 14:45] #11480 closed, assigned to nobody

[2018-11-23 14:48] khouloudbelguith commented on #11480
@Bonobomagno, thanks for your feedback.

[2018-11-23 14:50] sportelli94 commented on #11476
no. but if disable a ovveride not work the button add to product.
please do you know how to help me?
you can debug you by visiting the site and doing the operations: select a product with conbinations for example itria and make a change of selection of the combinations. successively changed product. poom find 0 euros

[2018-11-23 15:00] khouloudbelguith commented on #11476
@sportelli94, I attached a video record.
https://drive.google.com/file/d/1ar0sDU4ss9f9IbrZvKPB0a3VfBX5em1U/view
Thanks to check & feedback.

[2018-11-23 15:01] #11364 closed, assigned to marionf, jolelievre

[2018-11-23 15:25] sportelli94 commented on #11476
but after a select a combination change a product visual a bug.
please

[2018-11-23 15:42] dineshbadrukhiya commented on #11440
@PierreRambaud there is no category in the drop down list with the “Natif” or “Native”, But as I have shared screenshot, there is Contact Form module listed under “Natif” in 1.7.5.0 Beta 1 version.

[2018-11-23 15:46] marionf commented on #11479
@PrestaShark this is a guide to help you: https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/

[2018-11-23 15:49] khouloudbelguith commented on #11476
@sportelli94, yes, in your shop I have this issue, but in fresh installation PS 1.7.4.4 I did not manage to reproduce the issue.
Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
If the performance page, if you enable the debug mode is there any exception displayed in Front office?
Thanks!

[2018-11-23 15:53] LouToma commented on #11440
@dineshbadrukhiya this module will be moved to the good category when the product sheet is ready, @LouiseBonnard have you had time to work on it ? Then, no module will appear in the category that will not be displayed

[2018-11-23 15:56] khouloudbelguith opened #11485 "Cannot edit the position of a module"
**Describe the bug**
In the BO => Design => Positions page, I try to click on the "EDit" button to edit the position of a module nothing happens, the page is just refreshed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Design => Positions page
2. Click on 'Edit' button for any module
4. See the error, the page is refreshed

**Screenshots**
https://drive.google.com/file/d/17ZRE

[2018-11-23 15:59] sportelli94 commented on #11476
no exception, unfortunately, is displayed in front of the office. ALSO AS YOU SAID NOTHING TO DO DOES NOT ALLOW TO UNDERSTAND WHAT IS THE PROBLEM. SOME DISABLED VARIABLE? DO I HAVE TO FORCE UP THE PAGE UPDATE? ARE YOU CAN DO?

[2018-11-23 16:15] khouloudbelguith commented on #11476
@sportelli94, we just need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
About the override which you cannot delete it, from which module is added?
Have you tried to contact the theme author?

[2018-11-23 16:17] khouloudbelguith commented on #11114
Hi @Leous88,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
THanks!

[2018-11-23 16:17] #11114 closed, assigned to nobody

[2018-11-23 16:26] LouiseBonnard commented on #11440
Yes, it should be okay soon. At least for the categories!

[2018-11-23 16:27] marionf commented on #11440
Contact form appears in "Others" categories on 1.7.5.x
The issue here is the translation of categories in module manager and MBO pages, they are not translated

[2018-11-23 16:28] sportelli94 commented on #11476
but is problem in this variables. the strange thing that concerns only and only
the viarbile of the price. that is all the variables of the price. why this?

where session variables or cookies are managed because it seems more like a problem.

[2018-11-23 16:31] hervecar commented on #10739
I am looking into it and I realize that the function : getDefaultCarrierSelection from /classes/carrier.php is defined but not used. Before the login of the customer (means, no adresses filled), this function should be used.
Today, by default, I don't know yet why, either no carrier is selected (free shipping) or another is used (no chance today it was Chronopost at 16€...).
I entered in this beha

[2018-11-23 16:53] khouloudbelguith commented on #11476
@sportelli94, it is the same problem reported [here](https://github.com/PrestaShop/PrestaShop/issues/11029#issuecomment-433204969) & he solved it by deleting some overrides which is not a PrestaShop problem core.
Thanks!

[2018-11-23 16:56] khouloudbelguith commented on #9490
Hi xavigib,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-23 16:56] #9490 closed, assigned to nobody

[2018-11-23 16:56] khouloudbelguith commented on #11129
Hi @FVolral,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-23 16:56] #11129 closed, assigned to nobody

[2018-11-23 17:29] rbuelund commented on #11435
Perfect solution! Thanks :-)

[2018-11-23 18:35] jolelievre commented on #11461
hello,
this is fixed by https://github.com/PrestaShop/ps_mbo/pull/67 in ps_mbo

[2018-11-23 20:22] falehenrique opened #11487 "Duplicate order in validateOrder"
Hi, I am plugin development for Prestashop 1.6 and 1.7 and I have the same error with duplicate notification orders.
The error does happen when the payment module plugin receive the same notification two times in the same time, so both call execute the function **validateOrder** and because that the order are duplicated.

I saw this problem many forum, this error will be fixed?

My source code:

[

[2018-11-24 01:10] BenTen commented on #11468
There was an OrderInvoice.php in override. I didn't saw it before.
[code]
I delete it and everything is fine now.

Sorry for this ticket.

[2018-11-24 02:14] BenTen commented on #11251
Hello,
Is there some news about this bug?
Japanese can't use Prestashop 1.7, I think the priority need to be more than Standard, no?

Regards

[2018-11-24 02:24] BenTen commented on #11251
Hello,
I fount why we can't delete or modify address in Japanese.

in "Traffic & SEO" there is address and addresses.
The first is when we create an address, the second is to see addresses in "my-account".

But in Japanese there is not plural, so the Friendly url is 住所 for both.

If we change the Friendly url of one, the problem is solved.

[2018-11-24 04:47] hyperians1 opened #11489 "multisites issue cant save prices to product on all shop mode"
**Describe the bug**
when i try to save product price while setting on All shops mode , price is not saves, but when i save it on single shop its saved ok... but not in all shops..
its major because we cnt make global changes on product except from multishop

moreover , when save the product to another shop and try to change settings it affects all shops..

which means i have to upload same produc

[2018-11-24 04:48] hyperians1 commented on #11489
#11488

[2018-11-24 06:34] Nobodaddy commented on #9766
Nope, it's not really the same problem. _AEUC_ is quite messed up and produces far more cache errors. I made a fixed version available for download in the german forum, because the Prestashop team rejected a bugfix for 1.6 at that time: [https://www.prestashop.com/forums/topic/662685-download-aeuc-europ%C3%A4ische-rechtssicherheit-verbessertes-modul-ohne-cachefehler/](https://www.prestashop.com/fo

[2018-11-24 08:31] PierreRambaud commented on #11489
Hi @hyperians1 and thanks for your issue but unfortunately we can't merge your pull request since you're only targeting the 1.6.1.x branch into develop and sadly we can't approve this merge request :)
Make sure your target your fork & branch.
Regards

[2018-11-24 08:34] PierreRambaud commented on #11251
Hi and thanks for the feedback.
Could be a solution to implement https://en.wikibooks.org/wiki/Japanese/Grammar/Nouns => Plurals?
@colinegin I think you must have a check on this issue and tell us if it's important to have plural in Friendly urls or not :)

[2018-11-24 11:35] dineshbadrukhiya opened #11490 "classic theme footer block design improvement"
**Describe the bug**
Contact block has extra spaces in the left side and border compare to other footer columns of classic theme footer. We should remove that extra space for better UX.

**Screenshots**

![footer](https://user-images.githubusercontent.com/40850057/48967722-12789900-f00b-11e8-9541-8bce9ad45199.png)

**Additionnal information**
PrestaShop version: 1.7.4.4

[2018-11-24 15:07] ballashop commented on #11399
Hi @khouloudbelguith,
the problem is no longer presented, very strange, however we have disabled the mailchimp module because it required mysql 5.7. Unfortunately we have an older version 5.0.92 and therefore not compatible. I think you can close that issue.
Thanks a lot.

[2018-11-24 16:53] ballashop opened #11492 "Order displays incorrect information"
**Describe the bug**

Hi,
I have created the cart rule for black friday, the calculation is correct but the display of the order inside the BO and into customer's email, shows incorrect information which creates confusion to buyers.

1 - The display of the order in BO shows errors on the discount and shipping fields
2 - The display of the order that arrives via email shows the same errors

**To Re

[2018-11-24 20:53] stoycho commented on #11355
I have the same problem with installing 1.7.4.4 on Fedora 29 with apache httpd. I think the problem is that the default configuration of SELinux and the new default way of running PHP with FastCGI (php-fpm) are inconsistent. Or I misconfigured the SELinux in some strange unknown to me way.
I did some debugging of the installation of PrestaShop and turns out all the "curl_exec" calls during the ins

[2018-11-24 22:36] PierreRambaud commented on #11355
You can check what is needed to do on "httpd" you can use:
[code]
 or directly:
[code]

[2018-11-24 23:06] elmanu13 opened #11493 "multishop list URL"
**Describe the bug**
When configuring a multishop, on the BO store list (top right menu), when you click on the eye to see your shop, every line goes to the first main shop

**To Reproduce**
1-install a fresh 1.7.5 shop
2-enable multistore
3-create a second store
4-go to backoffice and clic on "all shops" menu, clic on any "eye" button : it's the same URL

**Additionnal information**
PrestaShop ve

[2018-11-25 05:38] dineshbadrukhiya opened #11494 "Category description text shouldn't be below the image"
**Describe the bug**
Category description texts should not be below the image in the classic theme design.

**To Reproduce**

1. Go to 'Category page on classic theme'

**Screenshots**
![category-page](https://user-images.githubusercontent.com/40850057/48975919-5074cc00-f0a2-11e8-9ab1-9302447f7e40.png)

**Additionnal information**
PrestaShop version: 1.7.4.4

[2018-11-25 08:23] mklimkiew opened #11496 "BO Product tabs width problem in polish"
In 'Product edit' section navigation tabs jump to the second line. UL section has fixed width value.
This may be issue in different languages. Tab titles can have diferent lenght in different languages.

Additionaly it causes a wrong display on small screens.

Steps to reproduce the behavior:
1. Go to 'Catalog / Products'
2. Click on any product
3. Product tab "OPTIONS" jump to the second line
4.

[2018-11-25 08:44] stoycho commented on #11355
Thank you very much for the guideline.
I checked those 3 options, and they were already enabled (I suppose by default), but it wasn't enough.
I saw in my /var/log/audit/audit.log that it adds the following lines during the PrestaShop installation:
denied  { name_connect } for  pid=xxxx comm="php-fpm" dest=80 scontext=system_u:system_r:httpd_t:s0 tcontext=system_u:object_r:http_port_t:s0 tclass=tcp

[2018-11-25 11:01] LinkOfLight opened #11497 "Can import anterior price and autocalculate the discount"
**Is your feature request related to a problem? Please describe.**
I think the import page can import anterior Price and calculate discount in the import

**Describe the solution you'd like**
Can Import the anterior Price whit the import page and auto calculate the discout

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've c

[2018-11-25 15:32] PrestaHeroes commented on #9656
Hi, we solved this by 'resetting' the pages not found module as it was not hooked to displaytop.

[2018-11-25 16:15] centoasa opened #11499 "My server ip online"
Prestashop 1.7.4.4
Linux #1 SMP Debian 4.9.110-3+deb9u2 (2018-08-13) x86_64
apache + nginx
php 7.2.12
cloudflare as cdn
My doubt is why my own server ip address is show every time about 100 times on visitor online stats.
Thank you

[2018-11-25 17:40] By-oussef opened #11500 "Update to the latest version of symfony"
Currently Prestashop does not use the latest version of symfony and this poses a problem for our development team. Symfony 4 can significantly improve the performance of a website, it accelerates the web appication.
Is there a road map to update prestashop to the latest version of symfony?
https://symfony.com/4

Thank You for your answer.

[2018-11-25 18:57] MarekKaliszuk commented on #11471
After testing with clean sql schema i've found error:

[code]

Im not sure how to fix it. It shows that  key exist in database. I've search for id_product_attribute 7072 and id_shop 1 - there is one but it belong to totaly different product. SHall i remove this key to get rid off non unique errors?

[2018-11-25 20:24] By-oussef opened #11501 "Update to the latest version of Font Awesome"
**Describe the solution you'd like**
Update to the latest version of Font Awesome because the latest version is 5.5.0 it was released in November 2018.

[2018-11-26 00:36] Falataya opened #11502 "My shop needs 3 minutes to load"
**Describe the bug**
It suddenly takes such a long time for my shop to load that it almost doesn't function any more. The front page takes about 3 minutes, the subpages between 1-2 minutes. My internet connection is good and I've checked with the server provider, there is no issue on their side.

The back office works normally.

I've tried it in Firefox, Chrome and on an Android phone. I've tried

[2018-11-26 01:52] neocarvajal commented on #11355
I have the same problem on Ubuntu 18 with prestashop 1.7.4.4 and php 7.2

![error](https://i.ibb.co/X2GTNvk/Screenshot-from-2018-11-25-21-30-50.png)

[2018-11-26 05:10] BenTen opened #11503 "Order message of order detail not showing in BO"
Hello,

**FO**
After made an order, a customer can add a message in the order detail (from his account).
https://tof.cx/image/kg0zA

**BO**
But If I go in Customer Service > Order Messages, there is not the message.
https://tof.cx/image/kgERz

**To Reproduce**
Steps to reproduce the behavior:
1. Make an order in FO
2. Go in the detail of your order in your account
3. Scroll down to "add a message"

[2018-11-26 08:02] khouloudbelguith commented on #11503
Hi @BenTen,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.4.4.
In FO, after adding a message, in the BO, I get a notification message
![image](https://user-images.githubusercontent.com/16067358/49000406-bff9c280-f159-11e8-82d2-9b16a399076e.png)
If I click on it, I will be redirected to the customer service page
![image](https://user-images.githubusercontent.com/160673

[2018-11-26 08:05] khouloudbelguith commented on #11502
Hi @Falataya,

Could you please try to disable the gamification module, it could be a reason for the slowness of your BO, in fact, the gamification module is updated to a new version 2.2.1.
Also, if your back office email is capitalized but your email on profile.prestashop.com is not, the back office takes a full minute to finish loading.
Thanks to check & feedback.

[2018-11-26 08:07] titamrtn opened #11504 "Menu issue"
**Describe the bug**
When i have long title, for category or page title, the search bar is going down

**To Reproduce**
Steps to reproduce the behavior:
Add long title to category or page title

**Screenshots**
![screenshot from 2018-11-26 11 01 45](https://user-images.githubusercontent.com/5078563/49000566-0b689c80-f16b-11e8-8ff3-2f88c7176147.png)

**Additionnal information**
PrestaShop version:

[2018-11-26 08:12] khouloudbelguith commented on #11500
Hi @By-oussef,

 We decided it would make sense to target Symfony 3.4 instead of 2.8. And as Symfony 3.4 requires PHP 5.5.9+, PrestaShop 1.7.4 will require PHP 5.6+ to run.
You also wonder why we did not jump directly to Symfony 4.0? Here are our answers:

- v4 requires PHP 7.1, which is too big of a jump for many shops right now
- v3.4 has all the new features of v4, but it is an LTS version wher

[2018-11-26 08:12] #11500 closed, assigned to nobody

[2018-11-26 08:28] khouloudbelguith commented on #11504
Hi @titamrtn,

It a normal behavior, when we can add categories, it will be displayed well.
Also, In the BO => Design => Positions page, in the display top hook, the Main menu has the first position but the search bar module is in the second position.
![image](https://user-images.githubusercontent.com/16067358/49001622-8d51c900-f15d-11e8-9375-890656605121.png)
Thanks to check & feedback.

[2018-11-26 08:35] #10948 closed, assigned to PierreRambaud

[2018-11-26 08:35] ewonta opened #11505 "Get the price in the hook"
**Describe the bug**
Get the price in the hook is not possible, an error appears
![image](https://user-images.githubusercontent.com/13940741/49001366-8af76b00-f16d-11e8-9cc0-360daee28fd4.png)

**To Reproduce**
Steps to reproduce the behavior:
1.    use - "hookactionCartSave"
2.    $context = Context::getContext();
       $cart = new Cart($context->cookie->id_cart);
       $total_prod = $cart->getP

[2018-11-26 08:36] marionf commented on #11435
@PrestaShark

Thanks for diving into this!

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2018-11-26 08:49] #11454 closed, assigned to nobody

[2018-11-26 08:53] adipso-jerome opened #11506 "Issue in discount calculation when cumulating cart rules"
Hello,

Here is my bug :

**Describe the bug**
When a shop have 2 reduces like one gift after 100€ and an other 20% gift on order, it might be false when the gift is add to cart before the 2nd discount

**To Reproduce**
Steps to reproduce the behavior:
1. Back : Add a gift for 100€ and more
2. Back : Add another cart rules which give 20% for cart upper than 100€
3. Front : buy for 110€ (more than

[2018-11-26 09:05] #11042 closed, assigned to nobody

[2018-11-26 09:10] adipso-jerome opened #11507 "Cart product change"
Hello,

My problem is when I change price of my product while some customer are paying on bank. They pay the wrong price because Prestashop calculate the cart amount in PaymentModule when order is validate.

**To Reproduce**
Steps to reproduce the behavior:
1. Front : add some product to cart
2. Front : go to cart, follow step and when you should pay, use some bank module who make you leaving the

[2018-11-26 09:11] Quetzacoalt91 commented on #11494
I wonder if it wasn't the expected behavior. Adding a UX review.

[2018-11-26 09:30] sportelli94 commented on #11476
and how can I solve them? eliminating the overrides, however, almost nothing resolves me. on the contrary, the situation worsens. I tried it on a debug server and it gave me worse results.and how can I solve them? eliminating the overrides, however, almost nothing resolves me. on the contrary, the situation worsens. I tried it on a debug server and it gave me worse results.

I have to solve this p

[2018-11-26 09:44] rdy4ever commented on #11502
Hi @khouloudbelguith,
As far as I understand, @Falataya says the BO loads normal, while the FO takes up to 3 minutes to load.
So, probably there are some silent errors in the FO caused by a misbehaving module or maybe a modified template file with a wrong smarty variable or something.
@Falataya, you should **[enable debug mode](https://www.prestashop.com/forums/topic/575132-how-to-enable-debug-mod

[2018-11-26 09:49] khouloudbelguith commented on #11505
Hi @dmitrij1988,

I did not manage to reproduce the issue with PS1.7.4.4.
I used this module
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/2614866/mymodule.zip)
Thanks to check & feedback.

[2018-11-26 10:07] ewonta commented on #11505
Thank you! I found a bug!

[2018-11-26 10:10] #11152 closed, assigned to PierreRambaud

[2018-11-26 10:11] Falataya commented on #11502
I updated and disabeled the gamification module and nothing changed.

Howeve,r @rdy4ever is right, it is the FO that doesn't work.

I also enabled the debug mode, first I disabeled the non-Prestashop modules, checked the changes, and then I disabeled the overrides. However, nothing helps.

Before opening this ticket I already enabled all the CCC options and Cache.

Do you have any other suggestion

[2018-11-26 10:12] khouloudbelguith commented on #11506
Hi @adipso-jerome,

I did not manage to reproduce the issue with PS1.7.4.4 / PS1.7.5.0beta1 &
I attached a video record
https://drive.google.com/file/d/1n9pHv3920RbjY8C6WMjK5VmhMmq3rD4n/view
Also in the BO => Order details, I have 2 discounts applied
![image](https://user-images.githubusercontent.com/16067358/49007598-2556af00-f16c-11e8-9325-a6fe7de67630.png)
Thanks to check & feedback.

[2018-11-26 10:16] khouloudbelguith commented on #11497
Hi @LinkOfLight,

Thanks for your suggestion.
@marionf what do you think, can we add the option "Previous price" into the import page for the Product?
In our case, we have Price tax excluded or Price tax included / Discount amount or Discount percent
![image](https://user-images.githubusercontent.com/16067358/49007823-b29a0380-f16c-11e8-9afd-5a14eee4f296.png)
Thanks!

[2018-11-26 10:20] Falataya commented on #11502
I am not able to understand the .htaccess file, could you take a look if I attached it here?

[2018-11-26 10:24] khouloudbelguith commented on #11502
@rdy4ever, thanks for your feedback.
@Falataya, could you please check your PHP error log file.
About the .htaccess is a configuration file for use on web servers running the Apache Web Server software. When a .htaccess file is placed in a directory which is in turn 'loaded via the Apache Web Server', then the .htaccess file is detected and executed by the Apache Web Server software

To regenerate

[2018-11-26 10:27] khouloudbelguith commented on #11505
@dmitrij1988, Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-26 10:27] #11505 closed, assigned to nobody

[2018-11-26 10:30] LinkOfLight commented on #11497
I know, but our provider gives us the previous price to download the CSV, not the discount, it would be a great improvement to implement that import the previous price and calculate, taking into account the price with VAT included or excluding the discount, thus being able to facilitate to those who We do dropshipping a lot of putting our offers

[2018-11-26 10:33] khouloudbelguith commented on #11476
Hi @sportelli94,

How did you eliminate the overrides?
Did you disable the "Disable all overrides" option in the BO => Advanced Parameters => Performance page?
![image](https://user-images.githubusercontent.com/16067358/49008788-0b6a9b80-f16f-11e8-8171-20bed9256ed8.png)
Thanks!

[2018-11-26 10:38] sportelli94 commented on #11476
yes, but not resolve this problem on the contrary, it made the situation worse as it blocked the addition of the products

[2018-11-26 10:40] khouloudbelguith commented on #11494
Hi @dineshbadrukhiya,

We are aware of this issue, it is added to our debug roadmap.
Thanks for your fix.
Your ticket is a duplicate of #9979
@Quetzacoalt91, I will add the label in the other issue.
So, I close it.
Thanks!

[2018-11-26 10:40] #11494 closed, assigned to nobody

[2018-11-26 10:40] khouloudbelguith commented on #11494
Duplicate of #9979

[2018-11-26 10:41] khouloudbelguith commented on #9979
Fixed by #11495

[2018-11-26 10:51] Falataya commented on #11502
I've done that and there's still no change...

Do I leave the renamed file .htaccess_old as it is now?

[2018-11-26 10:56] khouloudbelguith commented on #11496
Hi @mklimkiew,

I did not manage to reproduce the issue with PS1.7.5.0beta1.
I attached a video record.
https://drive.google.com/file/d/1BOZ2ozFty0tiKOYPRuzpxmk9ioFkmD-D/view
Thanks to check & feedback.

[2018-11-26 10:57] ballashop commented on #11492
Hi,
the developer of the theme has written to us that it is an internal problem to prestashop and not dependent on his template.
Thanks

[2018-11-26 10:59] khouloudbelguith commented on #11476
@sportelli94, to be sure, could you please try to remove all the overrides manually from your project folder.
You can find them in this [folder](https://github.com/PrestaShop/PrestaShop/tree/develop/override)
Thanks to check & feedback.

[2018-11-26 11:04] khouloudbelguith commented on #11502
@Falataya, a new .htaccess is regenerated automatically.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-11-26 11:15] grabelle commented on #11303
Hi @jocel1 , still very long and ends with a 503. You can import a csv file with 1000 fake categories (with the root cat as parent). Sorry for the delay.

[2018-11-26 11:17] sportelli94 commented on #11476
provid at delete a folder manually but not work. HAVE A SAME PROBLEM

[2018-11-26 11:20] khouloudbelguith commented on #11476
@sportelli94, thanks for your feedback.
@marionf, I did not manage to reproduce the issue with PS1.7.4.4 / PS1.7.5.0beta1, what do you think?
Thanks!

[2018-11-26 11:33] Falataya commented on #11502
I tried to follow your instructions to get the PHP error log but couldn't find it. There is no /var folder. I serached for "php_error" accross all files and got no hits.

Where do I look for the debug mode report?

Here's some additional information:
Server: Linux #1 SMP Fri Oct 19 05:28:14 EDT 2018 x86_64
Apache
PHP version 5.6.38
MySQL version 5.6.38-log

[2018-11-26 11:39] khouloudbelguith commented on #11493
Hi @elmanu13,

I did not manage to reproduce the issue with PS1.7.5.0beta1.
I attached a video record
https://drive.google.com/file/d/1F7EOrNy9Z73O1_pF770yGeCAhHLgWODh/view
In the BO => Advanced Parameters => Multistore, select a shop & you can edit the Virtual URL for example.
![image](https://user-images.githubusercontent.com/16067358/49011994-5210c380-f178-11e8-8bcc-42789066fe6f.png)
Thanks to

[2018-11-26 11:43] khouloudbelguith commented on #11490
Hi @dineshbadrukhiya,

Thanks for your report & your fix.

[2018-11-26 11:44] sportelli94 commented on #11476
someone to let me know?

[2018-11-26 11:56] mklimkiew commented on #11496
Try this with different product. I notced this bug in some products, some others are OK.
See attached photos.

If a product has combinations then tab "Quantities" is replaced by "Combinations"
This changes the tab width and makes the last tab to jump to second line.

![ps-1-7-5-0-bug2](https://user-images.githubusercontent.com/45269666/49012744-a3ba4d80-f17a-11e8-9ef9-b424e7bdcdef.jpg)
![ps-1-7-5-

[2018-11-26 12:01] Werbike commented on #10914
We're back with new VPS.
Logs for today:
http://prntscr.com/ln3nff
Problem with max_connections is solved, but we still haven't access to upload/buy any modules...
![image](https://user-images.githubusercontent.com/40056329/49012434-b2543500-f179-11e8-89d7-b661a9a747d3.png)
Here's link to download my record from "Windows Problem Recorder"
https://www.easypaste.org/file/NDPsHSrv/Problem.20181126.12

[2018-11-26 12:17] elmanu13 commented on #11493
Hi @khouloudbelguith,

You are correct, that works in your case and I forgot a small detail : my 2 shops have the same subdomain, but not the same URL.
Shop 1 : myshop.mydomain.com
shop 2 : myshop.shop2.mydomain.com

I tried with a 3rd one : shop3.myshop.mydomain.com
and a 4th on : shop4.mydomain.com

None of them work : the link goes to myshop.mydomain.com

Thanks !

[2018-11-26 12:42] Alenici commented on #11409
Hello @Quetzacoalt91
i checked the log file and i can't get if the database had been upgraded... i afraid it's not even if the site is working well... do you think it's possible to complete the update?
Here attached the log.txt
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2615533/log.txt)

[2018-11-26 12:43] #11503 closed, assigned to nobody

[2018-11-26 12:44] BenTen commented on #11503
There was a delay. I can see it now, sorry.

[2018-11-26 12:50] steffen001 commented on #9656
Hi,
now it works fine ... many thanks (-;
Best regards, Steffen

[2018-11-26 12:51] elmanu13 opened #11511 "stock management with multiple stores"
When we declare 2 or more stores with the option "share the quantities available", there are some unlogical behaviour and little bugs that should be corrected :
1) the Stock page cannot be used if we don't select ONE shop. This page should be available only when we select the GROUP of shops that share quantities, or "all shops" if we have only one group (that shares the quantities). The function w

[2018-11-26 13:03] rbuelund commented on #11435
But this solution cannot be added to the code as it has to be set manual to the correct payment method ??

[2018-11-26 13:11] matks commented on #10412
So, we discussed about this issue with @eternoendless to decide what to do about it for 1.7.5 and 1.7.6

## 1.7.5 : we do nothing

As we are very close to release day and this is no regression from 1.7.4, we prefer not to modify this critical behavior and improve/fix it in 1.7.6 instead.

## 1.7.6

### We keep the 1.6 behavior

As we aim to provide a smooth developer experience for developers who

[2018-11-26 13:17] khouloudbelguith commented on #11492
Hi @ballashop,

Thanks for your report.
I manage to reproduce the issue with PS1.6.1.23 / PS1.7.5.0beta1.
![image](https://user-images.githubusercontent.com/16067358/49016220-ad957e00-f185-11e8-87db-77a280354adc.png)
We will see how to fix it for the version PS1.7.
@marion for the version PS1.6, I don't think is critical
@ballashop as you can see [here](https://www.prestashop.com/en/blog/Maintenan

[2018-11-26 13:24] ballashop commented on #11492
Hi @khouloudbelguith, @marionf
thanks to reply me, I can understand, to fix it, do we have to call a developer?
Or fixed in version 1.7 is reproducible in the version of 1.6?
Thanks a lot.

[2018-11-26 13:27] khouloudbelguith commented on #11489
Hi @hyperians1,

There is already an issue for 1.6: http://forge.prestashop.com/browse/PSCSX-8834
It wasn't necessary to create a new one.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/8158 to solve the issue.
So, this one can be closed
Thanks!

[2018-11-26 13:27] #11489 closed, assigned to nobody

[2018-11-26 13:28] marionf commented on #11476
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards.

[2018-11-26 13:28] #11476 closed, assigned to nobody

[2018-11-26 14:02] Lndaw opened #11512 "This value is not valid."
**Describe the bug**
We have several bugs:
-I can`t update porducts or create it if the product has features. The backoffice shows an error message in each values' feature: "This value si not valid".

-We have installed a module called "Seur". Is a module about delivery products. This module has changed the the backoffice's main menu. Then, the link "transport>preference" has changed and it doesn`

[2018-11-26 14:03] khouloudbelguith commented on #11511
Hi @elmanu13,

About the first issue, it is a normal behavior, you can follow our [documentation](http://doc.prestashop.com/display/PS17/The+multistore+interface) so you can find that the "Advanced stock management" is only available per shop.
About the second issue, we are aware of this issue, you can follow this ticket: https://github.com/PrestaShop/PrestaShop/issues/10274.
I close the issue, fe

[2018-11-26 14:03] #11511 closed, assigned to nobody

[2018-11-26 14:03] khouloudbelguith commented on #11511
Duplicate of #10274

[2018-11-26 14:09] khouloudbelguith commented on #11499
Hi @centoasa,

Your issue is so difficult to reproduce it, in your case it random.
But, when the issue occurs, is there any error in your log file?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-11-26 14:14] khouloudbelguith commented on #11399
Hi @ballashop,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-11-26 14:14] #11399 closed, assigned to nobody

[2018-11-26 14:14] centoasa commented on #11499
It seems now disappear adding my server ip address and 127.0.0.1 into maintenance ip address.
It's not an error so if I enable debug mode I think I can't see nothing.

[2018-11-26 14:15] LDrewes commented on #9866
Hi,
I encounter the same issue on version 1.6 and 1.7. It occurs when a customer **double clicks** on the payment method (1.6) or on the 'order with an obligation to pay' button.
A solution would be to prevent clicking the button twice with javascript/jquery.

To reproduce:
- Place a product in the cart
- Follow the order process
- **Double click** on the order button.

[2018-11-26 14:16] dineshbadrukhiya opened #11514 "Suspicious behaviour found while compiling theme.css file"
I had opened PR #11424 and modified _tinymce.scss file.
Then to compile `admin-dev/themes/new-theme `
I had run command `npm install`
then run `npm run build` to compile the files
But after running this command I got "NODE_ENV" is not recognized as an internal or external command, operable program or batch file.
Then I run command `npm install -g win-node-env`
and compilation done successfully but

[2018-11-26 14:23] Quetzacoalt91 commented on #11409
It is, you can read in your log file:

[code]

[2018-11-26 14:23] eternoendless commented on #11501
Hi @By-oussef

As the Symfony migration moves forward, the Back Office is progressively moving to [Material Icons](https://material.io/tools/icons/?style=baseline). For future proofing, we suggest using Mateerial Icons instead of Font Awesome (which incidentally, is not available on Symfony pages).

Thanks for your understanding

[2018-11-26 14:23] #11501 closed, assigned to nobody

[2018-11-26 14:28] khouloudbelguith commented on #11487
Hi @falehenrique,

I did not manage to reproduce the issue with PS1.6.1.23 & the PayPal module v3.11.6.
I created at the same time two orders with different customers, it is ok, I received two orders with different Ids & different reference.
![image](https://user-images.githubusercontent.com/16067358/49020063-dde21a00-f18f-11e8-9722-99ee4115ed14.png)
Also, with PS1.7.4.4, I did not manage to repro

[2018-11-26 14:31] Alenici commented on #11409
Thank you so much for your help @Quetzacoalt91
I proceed now deleting the two folders content as you told me.
Thanks again

[2018-11-26 14:37] khouloudbelguith commented on #11512
Hi @Lndaw,

If you disable the `seur` module, all these issues disappear?
If you enable the debug mode, is there any exception displayed?
Thanks!

[2018-11-26 14:47] khouloudbelguith commented on #9866
Hi @LDrewes,

For the PS1.7, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9373 to prevent users from double-click on Payment button, it is added in the 1.7.5.0.
But in the 1750beta1, I have this error in my log
![image](https://user-images.githubusercontent.com/16067358/49021217-6cf03180-f192-11e8-995c-b3bf3ed6f4d1.png)
So, it could be another issue.
Thanks!

[2018-11-26 14:50] Falataya commented on #11502
Is there anything else I can do?

Is there any other way to find the PHP error log and the debug mode report?

[2018-11-26 14:55] matks commented on #11514
Thanks for the bug report @dineshbadrukhiya 😄 the first track we can follow is to check on Windows machine whether we can reproduce your behavior

[2018-11-26 15:20] khouloudbelguith commented on #11499
@centoasa, so can I close this issue?

[2018-11-26 15:21] centoasa commented on #11499
@khouloudbelguith Yes, fo now yes.  If you will have updates about this issue, please let us know!

[2018-11-26 15:23] khouloudbelguith commented on #11499
@centoasa, thanks!
I close the issue, feel free to open a new one when needed.

[2018-11-26 15:23] #11499 closed, assigned to nobody

[2018-11-26 15:24] idnovate opened #11516 "Override on install not working if file exists but no error throwed"
**Describe the bug**
When the content in an overriden file is not what PS expects, PS doesn't throw an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install of PS 1.7
2. Get a module that overrides a class, for example `Product`
3. Copy file `/classes/Product.php` into `/override/classes/Product.php` (this has no sense, but some users without enough knowledge do it)
4. Install

[2018-11-26 15:25] mklimkiew opened #11517 "Manufacturer Part Number in product codes"
Manufacturer Part Number is missing in the product codes section.
An additional field in which you can enter the manufacturer's number (digits or letters) will improve the indexing and searching. It will also have a positive effect on SEO.

The Reference (SKU) number is used rather to identify the product internally in the online and stationary store. Practically, it does not have to be visible to

[2018-11-26 15:33] khouloudbelguith commented on #11516
Hi @idnovate,

Thanks for your report.
Could you please try to provide me with an example of such a module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2018-11-26 15:38] LouiseBonnard commented on #11294
Hello all, thanks for studying this suggestion! @BenTen, it is a nice idea but we won't be able to put it into action now, the teams are all focused on other big projects that need to be achieved for the next releases. But I take good note of it, I even write it down as a new feature possibility in the User Voice ([here](http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/361

[2018-11-26 15:39] BilalDr opened #11518 "Customer review module"
Product comments module : Allows users to post reviews.

- [x] [All UX improvement](https://invis.io/KHP9OX9246Q#/333001938_Configure)
- [x] [Addons block](https://github.com/PrestaShop/PrestaShop/issues/11402)

Back office [behaviour ](https://invis.io/KHP9OX9246Q#/333001938_Configure):

1) Merchants are able to configure 4 option in their back office.
 - Choose if they want to add moderation of

[2018-11-26 15:43] idnovate commented on #11516
I attach it here.
[dummymodule.zip](https://github.com/PrestaShop/PrestaShop/files/2616253/dummymodule.zip)

[2018-11-26 15:43] khouloudbelguith commented on #11502
@Falataya, We need PHP error logs. If you don't have it, you should ask your hosting provider.
Thanks!

[2018-11-26 15:44] idnovate commented on #11516
To test it:
- Upload and Install module
- `Product` overriden correctly
- Uninstall module
- Copy file `/classes/Product.php` into `/override/classes/Product.php`
- Clear cache
- Install module
- Installation success message but overriden not done

[2018-11-26 15:57] khouloudbelguith commented on #11355
Hi @neocarvajal,

As I said before, it could be a problem of a network which is not available.
Thanks to check again & feedback.

[2018-11-26 16:00] khouloudbelguith commented on #11507
Hi @adipso-jerome,

Could you provide me a `systempay` module to test with it, I tried with Paypal but there are problems in the configuration of this module.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks

[2018-11-26 16:23] matks commented on #10733
Part 1 has been done: https://github.com/PrestaShop/PrestaShop/pull/11464
Now we have a clean `tests` folder where we can introduce modern testing :) both unit and integration

[2018-11-26 16:25] wouterb038 opened #11520 "Bug found on invoice with discount voucher."
Hello,

The discount codes in 1.7 do not work well. We have created a 10 euro product on a new installation (1.7.4.x or 1.7.5.x). Then we have created a discount code of 100 euros. The calculation does not go well on the invoice.

**To Reproduce**
1) Create product €10.00 excl. VAT (€12.10 incl. 21% dutch VAT).
2) Create a discount voucher of €100 (Action: Discount amout: €100 incl. VAT).
3) Creat

[2018-11-26 16:25] sarjon opened #11521 "Fix controllers that do not follow new rules"
The list of controllers that should be fixed:

`\PrestaShopBundle\Controller\Admin\AddonsController`:
- [ ] Remove direct calls to legacy classes
- [ ] Move to proper location (?)
- [ ] Move to proper location, maybe `Api` since it returns only JSON responses (?)

`\PrestaShopBundle\Controller\Admin\AttachementProductController`
- [ ] Update routes naming
- [ ] Move to proper location, maybe `Api`

[2018-11-26 17:03] LazaroMarin commented on #11512
Hi @Lndaw and @khouloudbelguith
I have disable the Seur module and it has fixed  the problem with the menu "transport->preference".
On the other hand, degub mode doesn't display any exception.

[2018-11-26 17:11] khouloudbelguith commented on #11512
@LazaroMarin, you should contact the module author about this issue https://addons.prestashop.com/en/contact-us?id_product=32140
Thanks!

[2018-11-26 17:21] khouloudbelguith commented on #11496
@mklimkiew, I tried with a product with combinations & it is NOK.
https://drive.google.com/file/d/1bVamAfjPbmWGdMo85HV6GiT5oQEFs6-7/view
@marionf what do you think, is it a normal behavior.
In English, it is ok, only with the Polish language.
Thanks!

[2018-11-26 17:39] khouloudbelguith commented on #11520
Hi @wouterb038,

I manage to reproduce the issue with PS1.7.4.4/ PS1.7.5.0beta1.
The total Discount is correct, but it could be improved,
`if Total discount > total => total discounts =0`.
The block tax is incorrect
![image](https://user-images.githubusercontent.com/16067358/49031549-8a30fa00-f1aa-11e8-8fcf-8c9316a63eba.png)
We will see how to fix it.
Thanks!

[2018-11-26 17:43] khouloudbelguith commented on #11507
Hi @adipso-jerome,

I just received the email.
I will check & feedback.
Thanks!

[2018-11-26 17:59] khouloudbelguith commented on #11516
Hi @idnovate,

Thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.0beta1.
After installing the module in the second time, In the overrides/classes/ the file Product.php is not replaced by the override written by the module.
Thanks!

[2018-11-26 18:01] khouloudbelguith commented on #11507
Hi @adipso-jerome,

The installation of this module is very long, is not finished until now, more than 15 min.
I attached a video record
https://drive.google.com/file/d/1mc9J4bLo-co3-m-UkW_7NOlAVQXbvi5G/view
Thanks to check & feedback.

[2018-11-26 18:05] OhmegaStar opened #11522 "1.6.1.23: After Upgrade from 1.6.1.19 > 1.6.1.23 Unable to Use Add Discount - > free Freight in submitted Order: Error "The discount value is invalid.""
After upgrading from 1.6.1.19 (where the feature was working) to 1.6.1.23 I'm unable to add the discount "Free Freight" to an existing order, the error from the system is "The discount value is invalid."

**To Reproduce**
Create an order whith Freight.

Go to backoffice,
go to order details,
choose to add discount
Name the Discount e.g "Free Freigth Missing"
Choose Type "Free Freight"

Add the Dis

[2018-11-26 18:05] khouloudbelguith commented on #11517
Hi @mklimkiew,

Thanks for your report.
In the BO => Catalog => Products => Options Tab, in the bottom of the page, you can find a block to add the Supplier reference
![image](https://user-images.githubusercontent.com/16067358/49032937-2d374300-f1ae-11e8-927a-f72f888e90b5.png)
Thanks to check & feedback.

[2018-11-26 18:09] mklimkiew commented on #11496
Other languages can be afected as well.
@marionf Try to reduce size of the browser so that it displays like on the tablet/smartphone.
You'll see incorrect behavior - the second line with tabs disappears.

[2018-11-26 18:34] mklimkiew commented on #11517
This is only Supplier reference, not Manufacturer. I think supplier reference number is used more for stock monitoring, not as a part of product description. You can have the same product from different suppliers...

Moreover after adding supplier reference to the product you can not search this product under this entry in Front Office.

MPN should work more similar to EAN or UPC. Just MPN should

[2018-11-26 19:02] Falataya commented on #11502
I asked the hosting provider and they gave me instructions on how to turn Display errors on, before it was off. Then I re-loaded the shop a couple of times. There are still no error logs, when I follow their instructions on where to find them I get this message:

A component of the path file_name does not exist, or the path is an empty string.
path /var/log/httpd/domains/kapa.si.error.log does not

[2018-11-26 20:08] jocel1 commented on #11303
@grabelle weird, do you know how many queries you have with the patch? it should be much lower

[2018-11-26 21:00] Aplastaneitor opened #11523 "Abandoned carts permit selling articles even stock is 0"
**Describe the bug**
If you change the quantity of an article to 0 when the article is in the cart, the abandoned cart reflects that change but the customer is able to finish the order even the quantity is 0.

**To Reproduce**
Steps to reproduce the behavior:
As a customer:
1. Add a product to the cart.
2. Close session or wait 30 minutes so the cart turns to abandoned status.
As a backoffice user

[2018-11-26 22:48] andrewupandabout commented on #11502
Just confirming my BO and FO takes 45 seconds to proceed to any future step. It happened about a week ago without changes. I've been using Prestashop for 4.5 years.

Updated 1.6.1.23 from 1.6.1.17 today - No fix
.htaccess file is clean
Host support says there is no load on server.
Cache is on
Removed stats modules
Removed Google Analytics modules
Removed featured products modules, etc.
No success,

[2018-11-26 23:31] andrewupandabout commented on #11502
Disabled New Products Block - 35 seconds to load Homepage from 42 seconds.

[2018-11-27 03:59] karopka commented on #10993
Do you have any workaround for this to use while prestashop team have other priorities?

[2018-11-27 04:12] karopka commented on #10993
I found a temporary solution. It is necessary to comment out this line in themes/core.js:
`window.scrollTo(0, 0);`
 But you need to remember about it and check after each update of the core.

[2018-11-27 05:42] Falataya commented on #11502
For me that doesn't help...

[2018-11-27 06:11] p2rcoder commented on #11303
is it possible to add this fix to 1.7.5?

[2018-11-27 07:41] khouloudbelguith commented on #11471
Hi @w0lf1991,

Did you use the multishop context?
We have the same issue [here](https://github.com/PrestaShop/PrestaShop/issues/9664)
It is added to our bug roadmap.
Thanks to check & feedback.

[2018-11-27 07:49] khouloudbelguith commented on #10914
Hi @Werbike,

In your log file, you have an issue with the `gsitemap` & the `pshowblog` module, could you please try to disable these modules, could you please try to clear cache manually by deleting all the folder into app/cache (prod & dev).
Indeed, you have a permission denied in /home/webkite/.htaccess, you need to check this issue with your host.
Thanks to check & feedback.

[2018-11-27 08:00] khouloudbelguith commented on #10993
Hi @karopka,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-11-27 08:16] dennispw commented on #10993
@karopka That's basically it. Not optimal by a long shot but it's basically it unfortunately.

Looking at the code it seems to be specifically added when using the _pagination_ and since it's added to the core I have a hard time seeing it will be changed any time soon, even if a pull request is made.

Git blame: https://github.com/PrestaShop/PrestaShop/commit/9245f056eeea3fec376fe7c0fb0e4c620844f1

[2018-11-27 08:26] khouloudbelguith commented on #11523
Hi @Aplastaneitor,

I did not manage to reproduce the issue after upgrade from 1.6 to 1.7.
I attached a video record.
[Nov 27 2018 9_22 AM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/2618925/Nov.27.2018.9_22.AM.webm.zip)
Thanks to check & feedback.

[2018-11-27 08:32] khouloudbelguith commented on #11517
@mklimkiew, thanks for your feedback.
@marionf, @colinegin, what do you think?
Thanks!

[2018-11-27 08:39] rdy4ever commented on #11502
Hi @Falataya
As fas I see, your FO is not working at all right now. Have you made any changes recently? Have you installed or enabled a new module?
I could take a look at your website if you’d like, but I’d need to login in your BO and have access to the ftp to look on your installation files. I would help you free of charge, as I know the feeling of a non working shop and no help, but you’d need

[2018-11-27 08:43] khouloudbelguith commented on #11502
Hi @Falataya,

If you are using a different template which not provided by PrestaShop, it could be a problem, you can check with your theme author about this issue.
As I see in your apache.log file, You are using a lot of modules not provided by PrestaShop also.
Thanks!

[2018-11-27 09:14] khouloudbelguith commented on #11522
Hi @OhmegaStar,

Thanks for your report.
I manage to reproduce the issue with PS1.6.1.23, I cannot add a discount "Free shipping" in the BO => Orders => Order details.
In the PS1.6.1.19 =>OK; 1.7.5.0 => ok

[2018-11-27 09:20] mickaelandrieu commented on #10412
The answer is here: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Hook.php#L773

Long story short: everytime a hook is executed, the information about it is collected and so on displayed in the debug toolbar.

[2018-11-27 09:25] khouloudbelguith commented on #11217
The same issue exists in the BO => Catalog => Categories page.
https://drive.google.com/file/d/1FoarYYgPiGFkkm3u3NxkQGYqvvknhIn_/view

[2018-11-27 09:37] mickaelandrieu opened #11524 "Improve the creation of Kpi"
Looking at the way we create new Kpis views, we always do the same things with the same dependencies on when we implement the interface.

I think we have a good opportunity to introduce a new abstract class using "Template Method pattern" because we only have to create a new Kpi and then this object is rendered.

How about getHelperKpi() : HelperKpiInterface? It's rôle is to return an instance of

[2018-11-27 09:38] Falataya commented on #11502
@rdy4ever, thank you very much for your generous offer. I am indeed pretty desperate. I am now risking to sound totally stupid - but how do I PM you on Github? I can't find that option anywhere.

I am using a theme that was not developed by Presta. I contacted the developer yesterday but he hasn't replied yet.

I am afraid to switch to the default theme because I'm worried that it would be difficu

[2018-11-27 09:52] rdy4ever commented on #11502
@Falataya do you use Skype? You can add me there: []. Or send me an e-mail, altough skype would be a better option.

[2018-11-27 09:52] khouloudbelguith commented on #11502
@Falataya, Please make sure you have the following settings:
In the BO => Advanced Parameters => Performance page
![image](https://user-images.githubusercontent.com/16067358/49073304-6f09cd00-f232-11e8-8395-4d2067dd7691.png)
![image](https://user-images.githubusercontent.com/16067358/49073335-7fba4300-f232-11e8-85bb-6cefefc079a2.png)
Thanks!

[2018-11-27 10:06] Falataya commented on #11502
I've had all these settings exept the Yes at Cache - the caption says this should be only turned on in debug mode. I turned Cache on now but it didn't help.

[2018-11-27 10:07] khouloudbelguith commented on #11493
Hi @elmanu13,

Thanks for this clarifications.
I manage to reproduce the issue with the branch 1.7.5.x / PS1.7.4.4
https://drive.google.com/file/d/1wL_e6B5pInC-xN3-n3aup5rJmgORKPXv/view
We will see how to fix it.
ping @jolelievre what do you think?
Thanks!

[2018-11-27 10:12] khouloudbelguith commented on #11502
Hi @Falataya,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
As it's not the default theme, provided by Prestashop,

[2018-11-27 10:12] #11502 closed, assigned to nobody

[2018-11-27 10:13] wouterb038 commented on #11520
@khouloudbelguith @marionf

Do you have any idea if this bug is solved in 1.7.5.0? or will this most likely be 1.7.6.0?

[2018-11-27 10:15] rdy4ever commented on #11502
@Falataya let's talk on Skype. Maybe we can fix this.

[2018-11-27 10:17] khouloudbelguith commented on #11520
@wouterb038, unfortunately, we only accept security fixes or regression from 1.7.5.0 on this branch to be focused on the 1.7.5.0 version, as described here: https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/#target-branch
Thanks!

[2018-11-27 10:21] marionf commented on #11516
@khouloudbelguith
Is it a regression of 1.7.5.0 or you can reproduce it also with 1.7.4.4 ?

[2018-11-27 10:23] idnovate commented on #11516
It isn't a regression.

[2018-11-27 10:40] khouloudbelguith commented on #11516
@marionf, yes, I manage to reproduce the issue with PS1.7.4.4.

[2018-11-27 10:56] adipso-jerome commented on #11506
Hello @khouloudbelguith ,
Thanks for reply.
I think I didn't explain enough my problem : In my case, the gift should not be here, because the 20% make me go under 100€ and the gift is only for cart upper than 100€.
Do you see the problem?
I think a check is missing on cart after adding a carte_rule, it don't check again other rules or something like that?
Let me know if I'm still not clear.
Thanks

[2018-11-27 11:16] adipso-jerome commented on #11507
Hi @khouloudbelguith,
I don't know what you want to do with the module (without account you can't pay).
Here an exemple with video : https://drive.google.com/open?id=1pd9y_sZP9IGdsMlk2IZVHNVPNa33TsIl
I try with other paiement, it's the same problems. At the end, the customer don't pay the price he expect, but the price in database when he valid the order. Do you see the problem?

[2018-11-27 11:28] Aplastaneitor commented on #11523
Hi @khouloudbelguith,

Thanks for taking the time to try it.
You did exactly what i did but it didn't fail to you. I'll try to reproduce and record it but it is strange because you did it perfect and didn't work as I expected.
I'm very busy this week but i'll try to take a moment to do it and record it.
I had at least two orders (real orders, with real customers I mean) that had this casuistry.
Th

[2018-11-27 13:38] khouloudbelguith commented on #11506
@adipso-jerome, yes you are right.
Steps to reproduce the issue
add to cart product which total > 112 €
add the first discount 20% => total < 100€
add the second cart rule "Gift" => OK => It shouldn't because total < 100€
I attached a video record
https://drive.google.com/file/d/1Qoat6lG5beCCuXR1yyxl7eaj0Lak3YOz/view
We will see how to fix it.
Thanks!

[2018-11-27 13:40] khouloudbelguith commented on #11523
@Aplastaneitor, thanks!
Waiting for your feedback.

[2018-11-27 13:58] khouloudbelguith commented on #11507
@adipso-jerome, I tried to check the issue with a payment method that makes me leave the website.
But in your case, I did not manage to reproduce the issue with PS1.7.5.0
I attached a video record
[Nov 27 2018 2_53 PM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/2620255/Nov.27.2018.2_53.PM.webm.zip)
Thanks to check & feedback

[2018-11-27 14:00] khouloudbelguith commented on #11506
Related to #9586

[2018-11-27 14:29] adipso-jerome commented on #11507
@khouloudbelguith , your video show exactly the problem : you was about to pay your order 36.00€, but when you clicked on "Order with an obligation to pay", you have only 12€ to pay. Its not possible, user should pay 36.00€, not the new price.
Do you see the problem?

[2018-11-27 14:47] #11303 closed, assigned to jocel1

[2018-11-27 14:49] khouloudbelguith commented on #11507
@adipso-jerome, no, I don't think so.
I edited the new price before I confirm the order so, in the order confirmation page, we should have a new price.
Thanks!

[2018-11-27 16:40] khouloudbelguith commented on #11099
Hi @esfahanweb,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-27 16:40] #11099 closed, assigned to nobody

[2018-11-27 16:41] khouloudbelguith commented on #10995
Hi @cgascard,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-27 16:41] #10995 closed, assigned to nobody

[2018-11-27 16:42] khouloudbelguith commented on #11143
Hi @gdebusigne,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-11-27 16:42] #11143 closed, assigned to nobody

[2018-11-27 16:44] adipso-jerome commented on #11507
@khouloudbelguith here a proof with paypal : https://drive.google.com/file/d/1lhYV3bQK-q-e-aVTFBWwPtcxYCHZzJ2u/view?usp=sharing
I paid 34.80 but price of my order is 58.80 ... Prestashop should not take new product price but price when the user click "pay" on step 4
Do you see the problem?

[2018-11-27 16:56] khouloudbelguith commented on #11507
@adipso-jerome, I do not agree with you, the price is changed during the order checkout, in the last steps & it is not finished => so the price should be changed.
@marionf what do you think about this issue? it is a normal behavior or a bug?
Thanks!

[2018-11-27 17:03] matteolavaggi commented on #11186
Hi, any update dear on this way? @jocel1

[2018-11-27 17:03] matteolavaggi commented on #11193
Any update? Good (and usable) support for NGINX is a good goal for PS

[2018-11-27 17:10] matteolavaggi opened #11530 "New created product (imported) not shown in category page, but accessible in search and catalogue PS 1.7.2"
**Describe the bug**
Import some product using PS import function or 3rd part module.
Try to find in category page with no luck.
Product was right created and activated.
filter and search index was updated.
Product are visible trought search and direct url on catalogue, but still not shown in category page

**To Reproduce**
Steps to reproduce the behavior:
1) create new product or import, assing t

[2018-11-27 17:19] khouloudbelguith commented on #11530
Hi @matteolavaggi,

Thanks for your report.
In the BO => Catalog => Products => Product page => Options Tab, could you please check the Visibility of this product is selected to "Everywhere", if not, thanks to select it, save, check & feedback.
![image](https://user-images.githubusercontent.com/16067358/49099107-ebbb9c00-f270-11e8-9ed9-2ae06d205a1b.png)

[2018-11-27 17:42] jocel1 commented on #11186
not yet, the session subject is not an easy one

[2018-11-27 18:42] matteolavaggi commented on #11186
Yes but is an important one :( and this problem still present in the last 6
major release of PS ;)

Il Mar 27 Nov 2018, 18:44 Jocelyn Fournier <notifications@github.com> ha
scritto:

[2018-11-27 18:49] matteolavaggi commented on #11530
Hi dear, naturally all the product has visibility set to anyware

[2018-11-28 08:13] dennispw commented on #10993
@khouloudbelguith I've attached a video to better explain the issue. _Every single click_ tied to the filter, pagination and/or sort order causes a jump to the top.

Demo: [Screen record (.zip)](https://github.com/PrestaShop/PrestaShop/files/2623486/10993.zip)

It's an extremely disruptive pattern. As of right now, there is no proper way to disable this behaviour. The only two options we really ha

[2018-11-28 08:39] khouloudbelguith commented on #10993
@dennispw, Thank you for reporting this issue and how you want to fix it.
Our dev will take into account your suggestions.
Also, If you know how to fix it, you can make a pull request on GitHub with your code suggestion?

[2018-11-28 09:17] khouloudbelguith commented on #11530
Hi @matteolavaggi,

Thanks for your feedback.
In my case, I did not manage to reproduce the issue with PS 1.7.4.3.
I attached a video record
[Nov 28 2018 10_13 AM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/2623694/Nov.28.2018.10_13.AM.webm.zip)
To make sure, thanks to navigate to your BO => CONFIGURE => Shop Parameters => Search => INDEXING => Click on "Add missing products to the in

[2018-11-28 09:35] Werbike commented on #10914
gsitemap was allready on 0 in DB. I've disabled pshowblog and deleted all cache's like you said and it's still the same
I'm wondering which verse in .htaccess should I change to get myself permission.
Thanks

[2018-11-28 09:41] khouloudbelguith commented on #10914
@Werbike, I find it in your log file.
![image](https://user-images.githubusercontent.com/16067358/49142912-21f12e00-f2fa-11e8-82d8-9f9f71b8c616.png)
Thanks!

[2018-11-28 09:49] Comanche-aLike commented on #9665
Hi @khouloudbelguith

thank you for your reply. I will try to solve it reffering to  #10294, but I wonder will this work with 1.7.2.5 prestashop version?

[2018-11-28 09:56] karopka commented on #10993
Yesterday I tried to do it but the file core.js in the dev branch is compressed. It's ok to create pull request with uncompressed file?

[2018-11-28 10:09] khouloudbelguith commented on #10993
@karopka, you can create a PR & our Dev will help you getting it right.
Thanks!

[2018-11-28 10:15] khouloudbelguith commented on #9665
@Comanche-aLike, This PR #10294 is still open, not tested yet & not merged yet.
But, there are small fixes, changes are made only in one file, so you can apply this patch in the version 1.7.2.5 & check if this fix works.
Thanks!

[2018-11-28 10:38] matks commented on #10579
@sarjon Can we migrate the actions of this page or is there a blocking item 😉 ?

[2018-11-28 10:39] matks commented on #10189
Status: need to review https://github.com/PrestaShop/PrestaShop/pull/10774
Does it include the 2 blocks ?

[2018-11-28 10:42] matteolavaggi commented on #11530
Hi dear, i've just done the reindex (product was searchable), my ps version is 1.7.2.4 (the buggy one i think), any idea on how to fix / diagnose? product was 100% visible but not shown in the category (also in backoffice).

Categoryes in BO result "empty"

[2018-11-28 10:44] matteolavaggi commented on #11530
![image](https://user-images.githubusercontent.com/24798703/49146644-ddb65b80-f302-11e8-8dc9-d0e41ad5bd4f.png)

![image](https://user-images.githubusercontent.com/24798703/49146663-e73fc380-f302-11e8-81a0-e4e344d6a1c2.png)

[2018-11-28 10:48] MarekKaliszuk commented on #11471
Well after spending more that 10h on debuging i've created peace of code that cleans database. For some reason on client server  table ps_product_attribute and ps_product_attribute_shop had different id_product for the same attribute.

This code displays differences between tables which causing duplicate key problem AND FIXES wrong id_products in ps_product_attribute_shop table:

[code]

Problem c

[2018-11-28 10:51] Comanche-aLike commented on #9665
@khouloudbelguith  I did the changes and, as for now, it works perfectly. Thank  your help. Have a good day!

Best regards
Comanche-aLike

[2018-11-28 10:52] dennispw commented on #10993
@khouloudbelguith I've added a PR.

[2018-11-28 11:01] khouloudbelguith commented on #11530
Hi @matteolavaggi,

I did not manage to reproduce the issue with PS1.7.2.4 either.
I attached a video record.
[Nov 28 2018 11_57 AM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/2624083/Nov.28.2018.11_57.AM.webm.zip)
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following art

[2018-11-28 11:08] khouloudbelguith commented on #11471
Hi @MarekKaliszuk,

Good work, glad it is solved for you!
About your question, we just manage to reproduce the issue when we have enabled the multishop context like described in this [ticket](https://github.com/PrestaShop/PrestaShop/issues/9664), & I think it is different in your case.
Since it is fixed, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2018-11-28 11:08] #11471 closed, assigned to nobody

[2018-11-28 11:16] matks commented on #10559
Status: needs to review List Actions PR and 1 last comment for KPI blocks

[2018-11-28 11:16] mortenhartvig commented on #10356
@khouloudbelguith Thanks for the update.

Maybe the issue you showed has something to do with the "fileType" file being present in some folders (that has to be allowed too).

We have looked at our mod_pagespeed integration with Prestashop 1.7.x in general. There are some weird behavior for images (even when i changed the .htaccess files), where image resources sometimes returns as a 404 (it looks

[2018-11-28 11:22] khouloudbelguith commented on #10356
Hi @mortenhartvig,

Thanks for your feedback & your fix solution.

[2018-11-28 11:44] Werbike commented on #10914
Ok. I was confused because we don't have that localization in our shop.
This IP comes from OVH servers and it's trying to connect to not existed file (ehh im so confused).
Iv'e also switched `active=0` in our DB for `gsitemap' and 'pshowblog` but its still on in BO. (I was looking for sollution in google but coulnd't find it, how to correctly swithc off modules via phpMyAdmin)

[2018-11-28 11:50] khouloudbelguith opened #11536 "The block action is not well displayed fter installing a module"
**Describe the bug**
In the BO => Modules => Module Catalog => after installing  module, the block action (configure ) is not well displayed.
1.7.5.x => NOK
1.7.5.0beta1 => OK
1.7.4.4 => ok

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Modules => Module Catalog
2. Search for the "Customer follow-up" module for example
3. Install it
4. See error of the block action

**Screenshot

[2018-11-28 11:55] khouloudbelguith commented on #10914
@Werbike, using an FTP client (for instance the free Filezilla tool), in your Project_Folder/modules/ search for those two folders & rename them, `gsitemap` to `gsitemap_old` & `pshowblog` to `pshowblog_old`
Thanks!

[2018-11-28 12:35] Werbike commented on #10914
It works !!
But now i cannot connect with presta addons.
http://prntscr.com/lo1hro
(It's admin account)
When im getting into Team>Permission
![image](https://user-images.githubusercontent.com/40056329/49152579-9a181d80-f313-11e8-81d7-0b09e4d1f290.png)

[2018-11-28 12:38] nrcjea001 opened #11537 "GDPR Compliance Module PS 1.7 - Duplication of Compliant Modules in Multistore"
I have multi store with 2 shops and I have installed the official GDPR compliance module for PS 1.7.

Whenever I enter the module it shows me duplicated compliant modules (in the "personal data management tab") and duplicate checkboxes (in the "consent checkbox customization" tab). I've tried clearing cache and logging in and out to no avail.

It appears to show the information of both shops on on

[2018-11-28 12:38] nrcjea001 opened #23314 "GDPR Compliance Module PS 1.7 - Duplication of Compliant Modules in Multistore"
#### Describe the bug

I have multistore with 2 shops and I have installed the official GDPR compliance module for PS 1.7.

Whenever I enter the module it shows me duplicated compliant modules (in the "personal data management tab") and duplicate checkboxes (in the "consent checkbox customization" tab). I've tried clearing cache and logging in and out to no avail.

It appears to show the informati

[2018-11-28 13:10] khouloudbelguith commented on #10914
@Werbike, the first issue, is not a Prestashop issue, you need to check your credentials and your connection.
About the second issue, is there any exception displayed when the debug mode enabled, is there any errors in your log file because I think it is an issue related to a custom module.
Thanks to check & feedback.

[2018-11-28 13:27] khouloudbelguith commented on #23314
Hi @nrcjea001,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.4.4 / PS1.7.5.0beta1 & the GDPR module v1.1.0.
I attached a video record.
https://drive.google.com/file/d/1IXnGZj5bjmQldT5BfW4HaeIHdXzo9Z2P/view
Thanks to check & feedback.

[2018-11-28 13:45] #10430 closed, assigned to tomlev

[2018-11-28 13:58] khouloudbelguith opened #11538 "When All shop is selected, we cannot change the logo, invoice & Email logo and favicon"
**Describe the bug**
In the BO => Design => Theme & Logo, when All shop is selected, we try to add a logo, invoice & Email logo and favicon, a green alert is displayed "The settings have been successfully updated." but they are not changed.
If we select the first shop, we can see that changes are done.
In the second shop => NOK.

**To Reproduce**
Steps to reproduce the behavior:
Enable multishop c

[2018-11-28 14:14] chicochicaya opened #11539 "Error occured during installation"
![prestashop-error](https://user-images.githubusercontent.com/18226427/49157352-e36e6a00-f31f-11e8-84df-b9d067fef1dd.PNG)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain

[2018-11-28 15:04] khouloudbelguith commented on #11539
Hi @chicochicaya,

Thanks to follow these steps during the installation

1. Set up your database
2. Download Prestashop and extract
3. Upload Prestashop to your server using FTP
4. Change file permissions of all directories to 777 using your FTP software. In Filezilla, this is done by:
5. File permissions >777>tick box to do it for all subdirectories> choose directories only
6. Go to the website i

[2018-11-28 15:23] khouloudbelguith opened #11540 "Design => Pages - Filtering by position causes an exception"
**Describe the bug**
In the BO => Design => Pages page, when we try to filter "PAGES IN CATEGORY" by position an exception is displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Design => Pages page
2. By default, you have more than two pages in the Home category
3. Filter by position
4. See error

**Screenshots**
https://drive.google.com/file/d/16jHobSq0d8i5rNTPezmcf_hOP-

[2018-11-28 15:24] #11493 closed, assigned to jolelievre

[2018-11-28 15:24] colinegin opened #11541 "Incorrect sum in BO & invoice when applying X percentage vouchers"
Hello,

As reported in this issue : [](https://github.com/PrestaShop/PrestaShop/pull/11444), there is a bug in the display of voucher values in the order (in BO) and on the invoice, when several percentage vouchers are applied to the same cart.

The total discount is correct, but the value of each voucher in percentage is incorrect.
This should be fixed.

Thanks !

[2018-11-28 15:25] khouloudbelguith commented on #11217
The same issue exists in the BO => Design => Pages when we try to filter the list of categories by position.
https://drive.google.com/file/d/1T0P_jqUTJpAn0k_l4BGwobCK8arD8ei3/view

[2018-11-28 15:27] matks opened #11542 "[SF Migration] Apply defensive programming ?"
This issue is a follow-up of code review discussion https://github.com/PrestaShop/PrestaShop/pull/11519#discussion_r236702704

The idea is : how far should we push a defensive programming approach to migrated code ?

Full defensive programming: php code should never trust input (so it needs to validate it). This means lot of checks (sometimes redundant) and exceptions throwing.

Half-defensive pro

[2018-11-28 15:27] verybecoming opened #11543 "No access to module"
Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

[2018-11-28 15:27] matks commented on #11542
Please provide your insights 😃 @eternoendless @PierreRambaud @mickaelandrieu @Quetzacoalt91 @jolelievre @tomlev @sarjon

[2018-11-28 15:28] LmobilePortugal opened #11544 "Problema with email notification of orders - Prestashop"
We are contacting you because of problems we have had with notifications to our customers, regarding the orders, the states of them.
For example, customer 000383 placed an order on 27.11.2018 (order no. 456 with the reference YLFIHEJZZ) with payment through ATM, which has a settlement deadline of 3 days from the date of purchase.
On the same day, in the morning, made the payment of the order, whic

[2018-11-28 15:29] khouloudbelguith commented on #11543
Hi @verybecoming,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pre

[2018-11-28 15:29] matks commented on #10285
Status: https://github.com/PrestaShop/PrestaShop/pull/10974/files#r235738277 can be done
Other tasks require a few CRUD pages to be merged so we can have some experience about this system

[2018-11-28 15:33] verybecoming commented on #11543
Host is ionos
prestashop 1.7.4.4
Server information Linux #1 SMP Debian 3.16.56-1~ui80+1 (2018-05-15) x86_64

Server software version: Apache

PHP version: 7.2.12

Memory limit: -1

Max execution time: 50000

Upload Max File size: 64M

Nom d'hôte
db762198941.hosting-data.io

Port
3306
Nom d'utilisateur
dbo762198941
Type et version
MySQL 5.5
![image](https://user-images.githubusercontent.com/454304

[2018-11-28 15:41] matks commented on #10576
Status: latest code review feedbacks

[2018-11-28 15:42] PierreRambaud commented on #11542
There are two situations when data must be checked.

- When you receive data from a user
- When you want to use the data

More when you manipulate object / array, you can't be sure an index or a property exists. Even if you today you have them, tomorrow, someone can remove them :)

[2018-11-28 15:43] marionf commented on #10565
Can we solve this issue during the migration of the page: #11540 & #11546 ?

[2018-11-28 15:44] matks commented on #10193
Status: we can do 2nd PR now 😄

[2018-11-28 15:44] khouloudbelguith commented on #11543
@verybecoming, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2018-11-28 15:47] marionf commented on #10540
Do you think we can solve this issue during the migration: #11217 ?

[2018-11-28 15:49] marionf commented on #10511
Can we solve this issue during the migration: #11217 ?

[2018-11-28 15:49] marionf commented on #11217
@khouloudbelguith
Can you please create an issue by page ?

[2018-11-28 15:50] eternoendless commented on #11220
Since Gaelic is not currently in Crowdin, I think the best would be removing it for now.

[2018-11-28 15:51] khouloudbelguith commented on #11544
Hi @LmobilePortugal,

Thanks for your report.
This issue occurs only when you use which payment module?
Are there any errors in your log file?
What is the exact version of PrestaShop did you use?
Thanks!

[2018-11-28 15:58] khouloudbelguith opened #11545 "It is impossible to filter by position in the Categories page"
**Describe the bug**
In the BO => Catalog => Categories page, when we try to filter by position, the result is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  BO => Catalog => Categories page
2. You have at least more than one category
3. Filter by position
4. See the error, the result is incorrect

**Screenshots**
https://drive.google.com/file/d/1FoarYYgPiGFkkm3u3NxkQGYqvv