[2019-11-11 15:44] khouloudbelguith commented on #16341
@alphaonex86, this is just a deprecation & a warning.
It is not an error.
It couldn't help to understand what's wrong.

THanks!

[2019-11-11 15:45] khouloudbelguith commented on #16152
@piotro9x, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-11-11 15:46] khouloudbelguith commented on #16356
Hi @maofree,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

THanks!

[2019-11-11 15:46] khouloudbelguith commented on #16356
Related to: https://github.com/PrestaShop/PrestaShop/issues/16314

[2019-11-11 15:49] alphaonex86 commented on #16341
Ok, you should have the info. If you need more info, request me.

[2019-11-11 16:01] khouloudbelguith commented on #16354
Hi @8ternity,

UPC (technically refers to UPC-A) consists of 12 numeric digits that are uniquely assigned to each trade item.
But in your case, you have 13 numeric digits.
If you try with this 009520584225 => OK
https://drive.google.com/file/d/1Vo-Ky0JwuxIgHyMM-CKIe78ff8FggmD_/view
Thanks to check & feedback.

[2019-11-11 16:06] khouloudbelguith commented on #16341
@alphaonex86, the issue is related to your server configuration.
This is a config file by default
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf
It is provided by PrestaShop & you should edit it to be compatible with your server.
For example, you should edit the root: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/dock

[2019-11-11 16:14] khouloudbelguith commented on #16337
Hi @samuel-pires,

I have the same behavior as PS1.7.6.2build1 & PS1.7.6.1.
Also, when we create an employee with this permission, the Email theme page cannot be displayed.
This page doesn't exist in the previous version PS1.7.5.2.
So, we don't have the same issue with PS1.7.5.2.

What do you think: it should be fixed in the PS1.7.6.x or develop?

Thanks!

[2019-11-11 16:17] alphaonex86 commented on #16341
Already try, no change, as dev, for me it's linked with php, not http server.

[2019-11-11 16:18] khouloudbelguith commented on #16342
Hi @flavi1,

This issue is fixed in the PS1.7.6.1 with this PR: https://github.com/PrestaShop/PrestaShop/pull/14620 as reported here: https://github.com/PrestaShop/PrestaShop/issues/14591
Thanks to check & feedback.

[2019-11-11 16:27] khouloudbelguith commented on #16311
@sickboards, I tried with this shop: http://snowy-girls.machine-shuffle.prestashop.net/en
I have only some deprecations
https://drive.google.com/file/d/13bzWlxzo7O2UC5FZvXS8UVYR9lHJftrC/view
Thanks to check & feedback.

[2019-11-11 16:33] khouloudbelguith commented on #16341
@alphaonex86, thanks to follow these steps:
0. Enable debug mode
1. Clear cache manually
2. Give the right permissions to your Project_Folder
3. Enable SEO & URL & save
4. check if there is an exception displayed
for example "No route found for "GET /configure/shop/seo-urls/options": Method Not Allowed (Allow: POST)"

THanks!

[2019-11-11 16:33] morghy1992 opened #16357 "Google Customer Reviews 1.7.5 Help"
Hello everyone,

hope you could help me.
I need to add the code snippet to the order confirmation page for Google Customer Reviews.
Could you please tell me where can I find the  order confirmation page and how to add the code?

Thank you

[2019-11-11 16:35] khouloudbelguith commented on #16357
Hi @morghy1992,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-11-11 16:35] #16357 closed, assigned to nobody

[2019-11-11 16:43] morghy1992 commented on #16357
ok i am sorry for the inconvenience

[2019-11-11 16:46] eriknuds commented on #15891
Hi,
I won't be able to test this for a while so lets assume it's ok as it works for @PierreRambaud and we had the same system and symptoms. I have resolved the issue locally by setting the SECLEVEL from 2 to 1 and won't be able to mess with that for a while.

When I get a chance to test I'll reopen the issue if it still doesn't work for me, but don't wait for it;-)

[2019-11-11 16:49] sickboards opened #16358 "Not possible to translate/change the same words in classic translation"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  index.php/improve/international/translations/?lang=en&type=themes&locale=en-US&selected=classic (theme translations, english, classic theme)
2. Search for 'stores'
3. Scroll down to 'navigation'
4. Replace stores with store (in case someone only has one store, I gue

[2019-11-11 18:04] alphaonex86 commented on #16341
1. Done
2. Done
3. Done
4. Get error 500 from log:

Stack trace:
#0 /home/user/Desktop/www/shop.bolivia-online.com/var/cache/dev/Container9yf7poi/appDevDebugProjectContainer.php(1211): require()
#1 /home/user/Desktop/www/shop.bolivia-online.com/var/cache/dev/Container9yf7poi/appDevDebugProjectContainer.php(2005): Container9yf7poi\appDevDebugProjectContainer->load('getAnnotations_...')
#2 /home/use

[2019-11-11 18:32] darylstone commented on #16164
Hi Khoul! Thanks for your reply.

I just checked the report with the id #13698 but actually it is not the same bug. In my case it loads for a while (maybe a 1-2 min.) but it does not crash at all. Just the way how the categories are displayed and expanded makes it difficult to almost not possible to select the categories I want to. Look at the scrollbar on the right. You can scroll almost endless

[2019-11-12 07:21] Majusek opened #16361 "Free shipping as visitor"
Hi I tkink that I have a smiliar problem.

I have a diffrent carriers for diffrent countries.
When client is a visitor (not logged yet) and his localization is diffrent that default countrie set in shop, shipping cost in cart is free.
If client is a visitor (not logged yet) and his localization is the same as default countrie set in shop the shipping cost is correct.

I suppose that the geolocaliz

[2019-11-12 07:49] khouloudbelguith commented on #15907
Hi @Prometheus19,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-12 07:49] #15907 closed, assigned to nobody

[2019-11-12 08:05] khouloudbelguith commented on #16358
Hi @sickboards,

Here's the PR: #15511 to fix the issue.
It is fixed in the next version PS1.7.7.0.
Your ticket is a duplicate of #10701
So, I close it.
Thanks!

[2019-11-12 08:05] #16358 closed, assigned to nobody

[2019-11-12 08:12] khouloudbelguith commented on #16164
Hi @darylstone,

You can follow my comment.
https://github.com/PrestaShop/PrestaShop/issues/13698#issuecomment-491289614

Thanks!

[2019-11-12 08:20] Djolhan commented on #9684
Issue with the hook exception on displayLeftColumn.

Exemple to reproduce :

1 - Add left column on cms page
2 - add an exception in the displayleftcolumn hook to not show on cms page

The module will not disappear. Same way for other pages. Exception wont work.
All prestashop 1.7 version.
Module version v3.4.0 and before that same issue, i don't have the version but on version v2.2.0 it worked co

[2019-11-12 08:23] marionf commented on #9684
Hello @Djolhan

This is a EPIC, please on a new issue here: https://github.com/PrestaShop/PrestaShop/issues/new?template=bug_report.md

[2019-11-12 08:52] khouloudbelguith commented on #16152
Hi @piotro9x,

I just received the email.
I will check & feedback.

Thanks!

[2019-11-12 08:58] khouloudbelguith commented on #16361
Hi @Majusek,

When client is a visitor (not logged yet) and his localization is diffrent that default countrie set in shop, shipping cost in cart is free.
If client is a visitor (not logged yet) and his localization is the same as default countrie set in shop the shipping cost is correct.
I suppose that the geolocalization work correctly, but shop doesn't set shpping cost if default countrie is no

[2019-11-12 09:02] khouloudbelguith commented on #11722
Hi @ladisbot,

Sorry not yet.
PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-11-12 09:07] #13829 closed, assigned to nobody

[2019-11-12 09:08] Djolhan opened #16362 "Faceted search module Issue with the hook exception on displayLeftColumn"
The exception position on the Faceted search module is not working.

**To Reproduce**
Exemple to reproduce (Same way for other pages. it's juste an exemple) :

1 - Go to appearence > theme and logo > Choose the layout > add left column to cms page
2 - Go to position
3 - Search displayleftcolumn,
4 - Edit Faceted search module hook
5 - add cms in exception

The module will not disappear. Exception

[2019-11-12 09:15] telcotronics commented on #12408
y cual fue la solucion xq tengo un lista de problemas y este esta primer fila

[2019-11-12 09:21] 01park opened #16363 "Back office: Viewed products - date is showing product id - not date"
In back office I noticed in the VIEWED products area that the product id is showed instead of the date.

<img width="828" alt="Screenshot 2019-11-12 at 09 19 04" src="https://user-images.githubusercontent.com/46492443/68658765-f6c51600-052d-11ea-9bcb-2d2d4a6510a6.png">

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: N/A

[2019-11-12 09:22] Webgaict opened #16364 "Problem with shipping in 1.7.5"
Hi, how can I exclude a category from free shipping?

[2019-11-12 09:37] samuel-pires commented on #16337
As decided during today's Daily, we'll fix it for 1.7.7

[2019-11-12 09:46] PierreRambaud commented on #15332
Hi and thanks for your suggestion.
We currently plan nothing about adding it. But I'm in favor of adding referential integrity with this kind of database (mysql, pgsql, etc).
ping @eternoendless @matks @jolelievre

[2019-11-12 09:47] khouloudbelguith commented on #16363
Hi @01park,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.2build1 & develop branch.
![image](https://user-images.githubusercontent.com/16067358/68659668-f598e680-0537-11ea-95d7-889c94777edf.png)

With PS1.7.5.2, we have ID & not Date => so it is correct.
![image](https://user-images.githubusercontent.com/16067358/68659693-047f9900-0538-11ea-8fa2-fc0d54acaf71.png

[2019-11-12 09:47] PierreRambaud commented on #15891
Thanks @eriknuds for your feedback.
So feel free to reopen if something's falling again :)

[2019-11-12 09:47] #15891 closed, assigned to nobody

[2019-11-12 09:55] marionf opened #16366 "Free gifts are not added in cart anymore"
1. Create a cart rule with a free gift
2. Add a product to the cart
3. Add the cart rule
4. You don't see the free gift in the cart
5. The discount line isn't displayed
6. The amount of free gift is 0,00€
7. Free gift isn't displayed in the order confirmation and BO order

![capture d'écran_2137](https://user-images.githubusercontent.com/13449658/68661216-e0718700-053a-11ea-8415-d986f25ea9d0.png)

[2019-11-12 10:06] khouloudbelguith commented on #16362
Hi @Djolhan,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

Your module ps_faceteds

[2019-11-12 10:12] khouloudbelguith commented on #16364
Hi @Webgaict,

Are you creating a cart rule Free shipping?
You can add your specific category to the unselected items as a Product restriction.
![image](https://user-images.githubusercontent.com/16067358/68662559-58d94780-053d-11ea-8239-38d3a9626ea5.png)

![image](https://user-images.githubusercontent.com/16067358/68662496-36dfc500-053d-11ea-9642-8dde0ca1dc46.png)

Thanks to check & feedback.

[2019-11-12 10:14] Webgaict commented on #16364
Yes I have already created the cart rule but if I add a product with the category not selected and one with the selected category. I still get free shipping.

[2019-11-12 10:15] Djolhan commented on #16362
hi @khouloudbelguith . I know the compatibility, anyway, working for my tests.

Module was showing on the left column before adding exception.
Display in delivery, legals mentions, etc. But, in my exemple, i talked about cms, but, it's same way on other pages, modules, contact etc. Every where you want to add exception, it's not working.

[2019-11-12 10:19] khouloudbelguith commented on #16366
Hi @marionf,

Did you use the develop branch?
It is OK with me.
I attached a screen record
https://drive.google.com/file/d/1HpunOITAFSx1I7LeX5QNJnHEmq7QpGCa/view
Thanks to check & feedback.

[2019-11-12 10:29] khouloudbelguith commented on #16152
@piotro9x, the Title field is well displayed when editing the block
https://drive.google.com/file/d/1-C8Eem4TAk1OE_UvBZQrS3nnN2lQsLRA/view
But, only I have warnings, related to your cache.
Thanks to check & feedback.

[2019-11-12 10:39] khouloudbelguith commented on #16364
@Webgaict, the only solution is that as described previously.
"Give the rule some generic conditions and a code (so we can test it); then, under restrictions, tick Product selection.
In the “Add a rule concerning” select box, choose categories, then hit add. A new box will appear below, where you can choose the category you want to restrict this voucher too.
Then, in the action tab, if you select

[2019-11-12 10:45] jolelievre commented on #15332
I think it could be great as well, although I don't know why we have no foreign keys for now
Maybe is it because of the modules that can change the database and would me more difficult to deal with with foreign keys? 🤔
Anyway if in some next major version we decide to use Doctrine for all our objects and get rid of the legacy ObjectModel maybe we could introduce FK at this moment, with some nice c

[2019-11-12 10:46] nenes25 opened #16367 "Increase Admin customer Logout time"
**Describe the bug**
Hello,
For one customer i need to increase the logout time in back-office.
This value is hardcoded to 900 in class AdminController.php
( see : https://github.com/PrestaShop/PrestaShop/blob/develop/classes/controller/AdminController.php#L2834 )
In order to do it properly, i want to override the class AdminController.php.
Unfortunately this class implements private methods and t

[2019-11-12 10:49] Allbutfancy opened #16368 "Infinite scroll - Backward button excludes other pages"
Hello you amazing Github people!

**Describe the bug**:

Anybody else had the problem that when you activate the inifiniy scroll on your webshop and scrool down to page two (in the url). Then when someone clicks on a products and wants to go back by using the backward button in their brower, they're sent back to the (inifinity scroll page 2) but they're not able to see the other pages.

**To Repro

[2019-11-12 10:50] khouloudbelguith commented on #16362
@Djolhan, `ps_factedsearch` by default is displayed in the categories page.
So, if you add the category in the exception, in the FO, it will not be displayed.
I attached a screen record
https://drive.google.com/file/d/18RAOxEG8LZ5lG6U6d_BdQBasrpMhgFJT/view
Thanks to check & feedback.

[2019-11-12 10:55] khouloudbelguith commented on #16367
Hi @nenes25,

I think your issue is similar to this issue: #15396 about using protected instead of private.
Thanks to check & feedback.

[2019-11-12 10:56] Djolhan commented on #16362
Seems to work. ok.

[2019-11-12 10:58] khouloudbelguith commented on #16362
@Djolhan, so can I close the issue?

Thanks!

[2019-11-12 10:58] Djolhan commented on #16362
yes, you can, thanks.

[2019-11-12 11:01] khouloudbelguith commented on #16362
@Djolhan, thanks!
Feel free to open a new one when needed.

Thanks!

[2019-11-12 11:01] #16362 closed, assigned to nobody

[2019-11-12 11:04] piotro9x commented on #16152
Yes, but each time you enter block editing, the titles in the editing window disappear and you must re-enter the title for each language. For example, if I had titles in all languages and enter the block edition, then to save all the titles I have to enter them all again. Is this the standard work of this module?
And one more question about the module. Should I have default blocks after reinstalla

[2019-11-12 11:08] khouloudbelguith commented on #16368
Hi @Allbutfancy,

Are you using a custom module to enable the infinity scroll or just you are increasing the product number of products per Page in the BO => Product Settings page?
![image](https://user-images.githubusercontent.com/16067358/68666932-22072f80-0545-11ea-8430-41e949fcad39.png)

Thanks!

[2019-11-12 11:12] nenes25 commented on #16367
Hi @khouloudbelguith ,

You're right, this issue can be related with the use of public/private argument and methods in core classes

My question is,  if it is pertinent or not in this specific case ?
Or if a configuration( or protected class argument ) instead of the hardcoded value will solve the need ?

In my case to suit my needs i had to make change directly in the core class which is the wors

[2019-11-12 11:17] khouloudbelguith commented on #16367
@nenes25, If you have some usecases where you wanted to do something with PrestaShop and you could not because of a private property/function, you can create a Pull Request to make it available, we'll consider the change and if it is relevant we'll change it for the next version. But sometimes we'll keep some things locked as we are afraid of the dangerous mistakes their usage can bring.

Thanks!

[2019-11-12 11:30] khouloudbelguith commented on #16341
@alphaonex86, As you can see in your error log file, there are only cache errors.
Did you use a caching like Memcached or APC?

Thanks!

[2019-11-12 11:46] P1X3L0V4 opened #16369 "Cash on Delivery (COD) missing translation"
**Describe the bug**
Module Cash on Delivery (COD) - ps_cashondelivery has at least one missing translation string visible in the back office despite the fact that it is correctly translated in the International > Translations Manager.

Sting in the backoffice: Cash on Delivery (COD)
Should be (example): Płatność przy odbiorze
(Polish translation)

**To Reproduce**
Steps to reproduce the behavior:

[2019-11-12 11:52] alphaonex86 commented on #16341
Hi, it's default prestashop. No more than change the SEO option.
Then I don't configure and use any cache.

[2019-11-12 11:53] idnovate opened #16370 ""Quantity per user" is not considered for guests orders"
**Describe the bug**
If you create a cart rule with a limit of 1 use per customer, guests customers can use it unlimited

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cart rule

![image](https://user-images.githubusercontent.com/15104724/68669630-4c5beb80-054b-11ea-9a89-37a0c90c4418.png)

2. Make an order **as a guest**. Voucher is applied.
3. Create a new order as a guest, **usin

[2019-11-12 11:56] Allbutfancy commented on #16368
Hello @khouloudbelguith
Thank you for your response! We just decided to go back to pagination due to the loading speed, that might change if we increase it to 100 products.

But thanks once again!
Best regards,

[2019-11-12 11:56] #16368 closed, assigned to nobody

[2019-11-12 12:01] idnovate commented on #16370
Problem is in this code:

https://github.com/PrestaShop/PrestaShop/blob/develop/classes/CartRule.php#L648-L660

What about adding a validation where there is not an ID customer, to check if this rule has been used by the email address?

[code]

[2019-11-12 12:44] khouloudbelguith commented on #16368
@Allbutfancy, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-11-12 12:51] marionf commented on #16366
Yes it was on develop but, I can't reproduce it anymore

[2019-11-12 12:51] #16366 closed, assigned to nobody

[2019-11-12 12:52] khouloudbelguith commented on #16341
@alphaonex86, Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]

Thanks!

[2019-11-12 13:08] khouloudbelguith commented on #16370
Hi @idnovate,

The problem is that the guest account is not transformed into a customer account, it creates a second account.

_So, The problem is that the guest account is not transformed into a customer account, it creates a second account => there is no alert => visitors can do multiple orders with the same mail address => this is the whole issue => it needs to be specified by our developers._

[2019-11-12 13:08] khouloudbelguith commented on #16370
Duplicate of #10122.

[2019-11-12 13:08] #16370 closed, assigned to nobody

[2019-11-12 13:17] azitafomo commented on #10444
Hi

Multiple H1 tags in Hrefs Site audit is one error. It means all my categories and pages are showing one same word twice.

as an example:

tea maker category page [https://20bekhar.com/62-tea-maker] has two same H1: tea maker & tea maker that one of them is for mobile and one h1 for desktop.It is something that I can see in view page source:

<h1 class="shik-cat">tea maker</h1></div></div><div

[2019-11-12 13:20] Webgaict commented on #16364
Can I apply this rule (attached image) only for some categories? Also by changing the code.
![shipping](https://user-images.githubusercontent.com/56969939/68675032-508e0600-0557-11ea-83a0-897c4740693b.png)

[2019-11-12 13:22] Progi1984 commented on #15332
But it's not a good practice to alter a table for a module. The good practice should be to create new tables with foreign keys.

:+1:

[2019-11-12 13:39] alphaonex86 commented on #16341
Done without error.
Bug remain here.

[2019-11-12 13:43] khouloudbelguith commented on #16364
@Webgaict, no this applied only if you have total  > exact price or Weight > exact value.
But you can use a custom module on our add-ons market place
https://addons.prestashop.com/en/
Thanks!

[2019-11-12 13:49] Webgaict commented on #16364
So my free shipping is from € 300 how can I exclude only one category or certain products? With the cart rules it is applied only when there are individual products in the excluded category, if together I put other products it becomes free when it should not be.

[2019-11-12 13:50] jf-viguier commented on #9998
I'm facing this issue too.

[2019-11-12 13:50] jf-viguier commented on #15369
I'm facing this issue too.

[2019-11-12 14:01] khouloudbelguith commented on #16364
@Webgaict, sorry this feature doesn't exist by default in PrestaShop.
But you can find a lot of module in our addons Market place
For example:
https://addons.prestashop.com/en/shipping-costs/46559-advance-free-shipping.html
Thanks!

[2019-11-12 14:14] 8ternity commented on #16354
@khouloudbelguith I do understand. The problem is the UPC is pushed by a integration product catalog. It comes from the manufacturer itself.

[2019-11-12 14:15] khouloudbelguith commented on #16369
Hi @P1X3L0V4,

The issue is fixed with the develop branch (1.7.7.0 version)
https://drive.google.com/file/d/1P9BWXAbAwLzpFJ4KyfdP-btH2QunzT5V/view
Thanks to check & feedback.

[2019-11-12 14:17] khouloudbelguith commented on #16354
@8ternity, so it is not a PrestaShop issue?

Thanks!

[2019-11-12 14:29] khouloudbelguith commented on #16341
@alphaonex86, Despite our several trials, we could not reproduce your issue with the provided information.
https://drive.google.com/file/d/11NoB-EpZlGBcizGyfq8UNFL5OIpYlywT/view
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you sol

[2019-11-12 14:29] #16341 closed, assigned to nobody

[2019-11-12 14:29] MarouaniALA commented on #14351
Any progress on this issue?

Thank you, greetings.

[2019-11-12 14:30] 8ternity commented on #16354
Yes it was if the UPC has 13 digits. It's the original UPC codes provided by Xerox Corporation.

[2019-11-12 14:30] khouloudbelguith commented on #14351
Hi @MarouaniALA,

Sorry, not yet.

Thanks!

[2019-11-12 14:31] khouloudbelguith commented on #16354
@8ternity, so can I close the issue?

Thanks!

[2019-11-12 14:40] #16363 closed, assigned to nobody

[2019-11-12 14:46] 8ternity commented on #16354
@khouloudbelguith No. it's an actual UPC. we must allow 13 digits on UPC codes.

[2019-11-12 14:55] khouloudbelguith commented on #16354
@8ternity, thanks!
Ping @PrestaShop/prestashop-product-team @marionf what do you think of this improvement?

Thanks!

[2019-11-12 14:56] #15834 closed, assigned to atomiix

[2019-11-12 15:00] jf-viguier commented on #15304
Any news here ?

[2019-11-12 15:01] khouloudbelguith commented on #15304
Hi @jf-viguier,

Sorry not yet.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-11-12 15:22] marionf commented on #16354
Hello @8ternity

The UPC-A normally contains only 12 numbers, while the EAN-13 contains 13 numbers
Your reference isn't the UPC but the EAN-13, so you should fill the EAN-13 field

[2019-11-12 15:27] #16354 closed, assigned to nobody

[2019-11-12 15:32] khouloudbelguith commented on #16152
@piotro9x, I don't have access to your shop yet.
Thanks!

[2019-11-12 15:32] MarouaniALA commented on #14351
Hi @khouloudbelguith,

do you have any idea when it will be fixed

Thanks!

[2019-11-12 15:34] piotro9x commented on #16152
Please check now

[2019-11-12 15:34] khouloudbelguith commented on #14351
@MarouaniALA, sorry no.
Thanks for your understanding!

[2019-11-12 15:36] khouloudbelguith commented on #16152
@piotro9x, yes!
Ok

[2019-11-12 15:40] khouloudbelguith commented on #16152
@piotro9x, I tried with a new install & an upgrade of the module.
The blocks by default are not created.
In my case, I did not manage to reproduce the issue.

Thanks!

[2019-11-12 15:44] piotro9x commented on #16152
OK. What about the first part of the question?

[2019-11-12 15:50] khouloudbelguith commented on #16152
@piotro9x, it is only in your case also.
I tried with `blockressurance` & PS1.7.6.1 => OK.
But, in your case, there is no exception displayed can help us to understand what's wrong.

Thanks!

[2019-11-12 15:55] PierreRambaud commented on #15332
@jolelievre It was because of MyISAM which do not support relation keys.

[2019-11-12 16:35] alphaonex86 commented on #16341
Hi,
I wish paid the support to fix, not by hours... (have a fixed price)
The problem is in the core, nginx is officially supported by prestashop, and I use the default prestashop configuration.

[2019-11-12 17:05] 123monsite-regis opened #16377 "Infinite crawl loop on module ps_currencyselector due to repetition of "SubmitCurrency=..&id_currency=..""
**Describe the bug**
Links to other currencies on front office Home Page can lead to infinite crawl loop from search-engines as they generate new urls re-adding : "SubmitCurrency=..&id_currency=.." infinitly.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a french shop , whith at less 2 currencies activated and ps_currencyselector activated
Your shop looks like the screen below :
![

[2019-11-12 17:15] jolelievre opened #16379 "After upgrade to 177 the menu is empty"
**Describe the bug**
After upgrade to 177 the menu is empty, this is linked to the new `Tab::enabled` field that is used to hide menu links when modules are disabled.

**To Reproduce**
Perform an upgrade to 177:
- you need to use the autoupgrade module and build a release archive for 177
- or you can try by upgrading via the command `php install-dev/upgrade/upgrade.php`

**Analysis**
The problem i

[2019-11-12 17:41] Oksydan commented on #14878
@khouloudbelguith PR available

[2019-11-12 17:47] colinegin commented on #16339
Hello @MathildeJoli ,

This is indeed an interesting feature, I add it to the to do list for a future version of this module !
Thanks !

[2019-11-12 17:53] Flower7C3 opened #16380 "Add order from backoffice"
**Describe the bug**
I am unable to add order from Back Office

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sales / Orders'
2. Click on 'Add new order'
3. Select customer
4. Search for product
5. No response - in developers tools I can see error 500

**Stacktrace**

[code]

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.2

Related to #15269

[2019-11-12 17:53] colinegin commented on #15932
@TristanLDD thanks for the information, I would then recommend to leave this feature for a future version as this version is more dedicated to fixing bugs. Is it ok for you @Progi1984 ?

[2019-11-12 18:31] jolelievre commented on #16339
Yep! That's a good idea!

[2019-11-12 19:30] #15752 closed, assigned to jolelievre

[2019-11-12 21:17] TommyLazo opened #16382 "Link List widget 3.0.4 shows No Records Found PrestaShop 1.7.6.1"
The firs time I opened the Link widget it showed 2 items, then I tried to add a new block and it worked only there was no entry that I could modify or delete, so I reset the widget.
After that it showed "No Records Found" , but when I preview the prodpage it shows two default columns, when I add a new block it works  and the third column is visible, but the widget still shows the "No records found

[2019-11-12 21:54] #15920 closed, assigned to nobody

[2019-11-12 21:56] piotro9x commented on #16152
OK, thanks

[2019-11-12 22:09] Arnaldo405 commented on #16343
Hello,
Thank you for your reply.
The version I use is indeed v3.4.0.
I checked the videos you made in the other ticket.
Also checked the tax rates in the products, went to the faceted search module and indexed all and cleared the cache. Also cleared the cache in Advanced.
Then went to the tax rules and taxes, made only the NL 21% tax rate active. Disabled all the others.
The problem however still

[2019-11-12 22:34] julio899 commented on #15690
Excellent Thanks Very Much
======================
in my case i can resolve changing in classes/Tools.php  this to:
[code]

[2019-11-13 05:58] presmobic opened #16384 "Enable product image does not work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Backoffice > Orders > Invoices'
2. Click on 'Enable product image  = Yes'
Product Images is not showing in PDF invoice, Delivery.
When __PS_BASE_URI__ = / -> print PDF -> Product Image does not show
When __PS_BASE_URI__ = /subdirectory -> print PDF -> Product Image

[2019-11-13 07:14] sickboards commented on #16311
Hi, I don't know what else I can say, it works for you but not for me,
good software should work for everyone. I don't know what the difference is, I tried it on multi pc's on my end and the result is the same, maybe it is location-based?
Can't you implement the suggestion offered?

[2019-11-13 07:20] sickboards opened #16385 "Not all carriers are listed under payment preference"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a number of carriers, using different shipping methods (dhl, ups etc)
2. got to payment => preferences at the bottom (with me) only 2 are listed (in store pickup and the first of the UPS carriers)
3. I have to manually add the extra carriers in the database in order

[2019-11-13 07:44] ghost opened #16386 "1.7 Add to cart Customisable product page + product list : no more forbidden (disabled) and give add to cart good wording in the 3 case"
#### Is your feature request related to a problem?

1. In the 1.6, we have a notice for the product availability.
2. With PS1.6, if we focus on a product with the mouse, we can see a button "Customize".
3. With PS1.6, If a product is not out of stock with required customization, the button "Add to cart" is enabled => click on it => an alert is displayed.

_=> But with PS1.7, we don't have all thes

[2019-11-13 07:44] khouloudbelguith commented on #15920
@nateBitworks, feel free to open a new one when needed.

Thanks!

[2019-11-13 07:46] khouloudbelguith commented on #15937
Hi @testforshopify,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-13 07:46] #15937 closed, assigned to nobody

[2019-11-13 07:56] khouloudbelguith commented on #16380
Hi @Flower7C3,

The issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/15643
It is fixed in the PS1.7.6.2.
Your ticket is a duplicate of #15643
So, I close it.
Thanks!

[2019-11-13 07:56] #16380 closed, assigned to nobody

[2019-11-13 07:56] khouloudbelguith commented on #16380
Duplicate of #15643

[2019-11-13 08:07] khouloudbelguith commented on #9481
Hi,

Same issue with PS1.7.6.1.

Thanks!

[2019-11-13 08:08] khouloudbelguith commented on #16377
Hi @123monsite-regis,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9481
So, I close it.
Thanks!

[2019-11-13 08:08] #16377 closed, assigned to nobody

[2019-11-13 08:08] khouloudbelguith commented on #16377
Duplicate of #9481

[2019-11-13 08:26] khouloudbelguith commented on #16382
HI @TommyLazo,

I did not manage to reproduce the issue with PS1.7.6.1 & ps_linklist v3.0.4.
I attached a screen record
https://drive.google.com/file/d/1XZJBve7BK6Tzd_N8o8aSVguI9yZYXboz/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 -

[2019-11-13 08:32] khouloudbelguith commented on #16384
Hi @presmobic,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1AztooBbutegAVFWsCVZud5ezucxxyyz3/view
SSL is enabled in your shop?

Thanks!

[2019-11-13 08:35] khouloudbelguith commented on #16385
Hi @sickboards,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/12379 to fix the issue.
It is fixed in the PS1.7.7.0.
Your ticket is a duplicate of #16094
So, I close it.
Thanks!

[2019-11-13 08:35] #16385 closed, assigned to nobody

[2019-11-13 08:35] khouloudbelguith commented on #16385
Duplicate of #16094

[2019-11-13 08:38] PrestaShark commented on #10356
Bump

[2019-11-13 08:48] Progi1984 commented on #15932
@colinegin As you want ;)

[2019-11-13 08:51] #15889 closed, assigned to nobody

[2019-11-13 08:52] #15234 closed, assigned to Progi1984

[2019-11-13 09:08] micka-fdz commented on #16032
As a front-end developer, it's very annoying to add a new IPv6 address every day when the site is in maintenance mode. I think it's a good idea to add this improvement.

[2019-11-13 09:29] presmobic commented on #16384
Hi, your shop is https://prestashop.com/1761/
So it works, if you install in ROOT, it will not work
https://prestashop.com/1761 -> it works
https://prestashop.com/ -> it does not work

[2019-11-13 09:35] azitafomo commented on #10470
I have same problem: 2 H1 just to set a h1 for the desktop and a h1 for mobile, please help me to fix this problem in the codes
https://20bekhar.com/33-juicer
It is one example

[2019-11-13 09:42] marionf opened #16389 "Product customization not displayed on order view page"
**Describe the bug**
Product customization is not displayed on new order page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FO and order the product "Mug personnalisable"
2. Display the order in BO
3. The customization isn't displayed

**Screenshots**
![capture d'écran_2139](https://user-images.githubusercontent.com/13449658/68751300-a3bc9300-0601-11ea-91f3-8a8bfad7cd80.png)

Legacy

[2019-11-13 09:43] marionf commented on #16389
@MatShir @matks @sarahdib @Robin-Fischer-PS FYI

[2019-11-13 09:48] marionf opened #16390 "Total tax incl is 0,00 on new order page for a customizable product"
**Describe the bug**
Total tax incl is 0,00 on new order page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FO and order the product "Mug personnalisable"
2. Display the order in BO
3. Total tax incl is 0,00

**Screenshots**
![capture d'écran_2144](https://user-images.githubusercontent.com/13449658/68753847-f5ffb300-0605-11ea-8bb7-2c64c2e8e7f5.png)

Legacy

![capture d'écran_2145](ht

[2019-11-13 09:48] marionf commented on #16390
@MatShir @matks @sarahdib @Robin-Fischer-PS FYI

[2019-11-13 09:53] azitafomo commented on #10470
I have same problem: 2 H1 just to set a h1 for the desktop and a h1 for mobile, please help me to fix this problem in the codes
https://20bekhar.com/33-juicer
It is one example, could you please help me in this case that How I can edit it well?

[2019-11-13 09:54] azitafomo commented on #10470
HI
To solve I have same problem: 2 H1 just to set a h1 for the desktop and a h1 for mobile, could you please tell me which file have you changed?

[2019-11-13 09:57] azitafomo commented on #10444
I have same problem: 2 H1 just to set a h1 for the desktop and a h1 for mobile, please help me to fix this problem in the codes
could you tell me the exact work that I should do to solve?

[2019-11-13 09:57] marionf opened #16391 "Missing columns on new order page"
**Describe the bug**
Missing columns on the new order page

**To Reproduce**
Steps to reproduce the behaviour:
1. Edit a product and fill the field stock location
2. Order this product in FO
3. See the order in BO
4. Stock location and Available quantity are missing

**Screenshots**
![capture d'écran_2142](https://user-images.githubusercontent.com/13449658/68752884-5261d300-0604-11ea-9390-6ff70a14

[2019-11-13 09:58] maofree commented on #10470
Hi
remove the second div  containing the second h1
at the first div remove the class "hidden-sm-down"

bye

[2019-11-13 09:59] marionf commented on #16391
@MatShir

Is it wanted to not display these columns ?

[2019-11-13 10:00] khouloudbelguith commented on #16386
Hi @didjou,

In fact, we have 2 behavior about the Availability when The Prout is out of Stock
1. Deny orders => The "Add to cart" button is displayed but disabled => so we cannot click on it
2. Allow Orders => The "Add to cart" button is displayed but Enabled => so we cannot click on it

The demo PrestaShop is not the last version PrestaShop released if you try with a PrestaShop v1.7.6.1

If a pr

[2019-11-13 10:02] azitafomo commented on #10470
Thanks my friend about your help and answer
Could you tell me by removing this part mobile will be have H1 too or no?
And Is it possible for you to tell me the address of this file in server? Should I find category.tpl or something else in classic part?

[2019-11-13 10:11] marionf commented on #16391
To be reproduced when the page will be fully migrated

[2019-11-13 10:12] maofree commented on #10470
hi
it is necessary just one h1, the code is the same for desktop and mobile, css code is used to adapt the pages to the various devices, but the text is the same

check in the last version of classic theme, they have solved this bug, it is in catalog/_partials/category-header.tpl
the theme of addons continue to have this problem and you need to edite only catalog/category.tpl
the problem is not on

[2019-11-13 10:19] khouloudbelguith commented on #16311
@sickboards, what is your exact location?, I can use a fixed location.

Thanks!

[2019-11-13 10:22] marionf opened #16393 "Missing button to display the content of a pack in the new order page"
**Describe the bug**
The button to display the content of a pack in the new order page is missing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FO and order the product "Pack Mug + affiche encadrée"
2. Display the order in BO
3. There isn't the button "Package content" to display the content of the pack

**Screenshots**
![capture d'écran_2147](https://user-images.githubusercontent.co

[2019-11-13 10:23] marionf commented on #16393
@MatShir @matks @sarahdib @Robin-Fischer-PS FYI

[2019-11-13 10:25] khouloudbelguith commented on #16384
@presmobic, no, it is not the exact problem
https://drive.google.com/file/d/1e2yqcKvMNY40iCadqTzQXzJultfTbUi9/view

Thanks!

[2019-11-13 10:27] marionf commented on #16389
To be reproduced when the page will be fully migrated

[2019-11-13 10:27] marionf commented on #16390
To be reproduced when the page will be fully migrated

[2019-11-13 10:27] marionf commented on #16393
To be reproduced when the page will be fully migrated

[2019-11-13 10:28] khouloudbelguith commented on #16343
@Arnaldo405,

This issue is fixed with this PR: https://github.com/PrestaShop/ps_facetedsearch/pull/115 as reported here: https://github.com/PrestaShop/PrestaShop/issues/14657

What is your exact country by default?  if it is the United States, you should enable this country on your Tax rule.

Thanks!

[2019-11-13 10:29] khouloudbelguith commented on #16152
Hi @piotro9x, @eCommerceWhiteKnight,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-11-13 10:29] #16152 closed, assigned to nobody

[2019-11-13 10:31] azitafomo commented on #10470
I am sorry about many questions :)
public_html/templates/catalog/listing/category.tpl
is this file that I can not see h1

{block name='product_list_header'}
    <div class="block-category card card-block hidden-sm-down hrxcenter-block-category">
      {if $category.image.large.url}
        <div class="category-cover">
          <div class="hrxbanner-hover-wrapper">
            <div class="hrxbrann

[2019-11-13 10:34] azitafomo commented on #10470
should I remove this part? but I do not see any h1 here
![00000000](https://user-images.githubusercontent.com/57670369/68755931-8a760f80-061e-11ea-97b2-cc03e4da986b.JPG)

[2019-11-13 10:37] maofree commented on #10470
![1](https://user-images.githubusercontent.com/653230/68755925-93a8b180-0609-11ea-84c9-420c2b363c1c.png)

it is around {$category.name}
search this code in listing folder

attach here the folder in a zip file

[2019-11-13 10:37] maofree commented on #10470
however the codes are different from your site and that file

[2019-11-13 10:38] sarahdib opened #16396 "Currency deleted display in back office add order"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to international -> Localization -> Currencies
2. Create a Currency and delete it
3. Go to Sell -> Orders
4. Create an order
5. You can see the deleted currency, you can use it but the default one is used when the order is validated

**Screenshots**

**Additional inform

[2019-11-13 10:39] azitafomo commented on #10470
Wwoo your language is Persian like me?

[2019-11-13 10:41] maofree commented on #10470
no is your site
https://20bekhar.com/33-juicer

[2019-11-13 10:44] Majusek commented on #16361
Hi @khouloudbelguith

thanks for Your reply.

Your example is very simple. After add this fix is working as on your record.
But if you have more than one coutry / area add in shipping than is the problem.
When You visit Your shop from antoher country than default set in shop than this fix doesn't work.

Best regards

[2019-11-13 10:44] #16396 closed, assigned to nobody

[2019-11-13 10:44] sarahdib commented on #16396
duplicate of #9876

[2019-11-13 10:48] azitafomo commented on #10470
great thank you that you are helping me. I am really in bad situation and I am confused that what is wrong in my site that my website is going back and not be stable in first page. many sites that are working in my job are really not good in content and many many items in hrefs, gtmetrix but they are  in higher position than me.
I will send you the zip now, I am searching in my server.
My friend p

[2019-11-13 10:49] sarahdib opened #16397 "Button "add new cart rules" don't work anymore"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
use /admin-dev/index.php/sell/catalog/catalog-price-rules
Try to add a catalog price rule
See that nothing is happening

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: devlop

PHP version: N/A

[2019-11-13 10:52] presmobic commented on #16384
File: public_html/classes/pdf/HTMLTemplateInvoice.php
Line 210:
$order_detail['image_tag'] = preg_replace(
                        '/\.*' . preg_quote(__PS_BASE_URI__, '/') . '/',
                        _PS_ROOT_DIR_ . DIRECTORY_SEPARATOR,
                        ImageManager::thumbnail($path, $name, 45, 'jpg', false),
                        1
                    );
When
__PS_BASE_URI__ = /
_PS_

[2019-11-13 11:07] khouloudbelguith commented on #16384
@presmobic, my base URI is / & it is well displayed
![image](https://user-images.githubusercontent.com/16067358/68758445-21869b80-060e-11ea-9407-c7f31f6897bb.png)

SSL is enabled in your shop?

Thanks!

[2019-11-13 11:08] azitafomo commented on #10470
[send to help.txt](https://github.com/PrestaShop/PrestaShop/files/3840768/send.to.help.txt)

it is the file :)))

[2019-11-13 11:15] maofree commented on #10470
`    {*<div class="hidden-md-up">
        <h1 class="hrxmobile-view-category-title">{$category.name}</h1>
    </div>*}`

[2019-11-13 11:21] presmobic commented on #16384
SSL is enabled
You can check SRC attribute: /home/u8140p9460/domains/edsmartparts.nl/public_html/img/tmp/product_mini_1038_0.jpg
-> it does not work when PATH is absolute

[2019-11-13 11:26] khouloudbelguith commented on #16384
@presmobic, I think the issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/15088
But as you can see here: https://github.com/PrestaShop/PrestaShop/pull/15109#issuecomment-522501213

It is a problem related to the self-signed certificate.

Thanks to check & feedback.

[2019-11-13 11:57] khouloudbelguith commented on #16361
@Majusek, no I tried with develop branch( the fix is merged)
I followed these steps:
0. France & Spain are enabled
1. Create two Zones France & Spain
2. Edit the Zone for France from Europe to France
3. Edit the Zone for Spain from Europe to Spain
4. Create two carriers no available for Vistors
4.1 the first carrier is only available for France
4.2 the second carrier is only available for Sapin
5.

[2019-11-13 12:17] TaccCZ opened #16398 "Faceted Search - products are displayed in wrong order when sorted by "position""
**Describe the bug**
When I set the product's position in the administration, my settings won't be reflected on the front of the site.
If I disable Faceted Search module, everyhing works fine!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Go to admin panel -> add some products and sort them the way you wish'
2. Click on 'Save it'
3. Go to your shop and category you put products in.

[2019-11-13 12:49] khouloudbelguith commented on #16398
Hi @TaccCZ,

The problem is fixed if we use the icon in the position column. The product is selected and we can change the position and saved and all changes are validated.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14879 to fix the issue.
It is fixed in the PS1.7.7.0.
Since this PR correct the problem it's OK a New issue was created for the second issue: #15291
Your ticket is a

[2019-11-13 12:49] #16398 closed, assigned to nobody

[2019-11-13 12:50] khouloudbelguith commented on #16398
Duplicate of #14616

[2019-11-13 12:51] Arnaldo405 commented on #16343
Hello, The standard country is The Netherlands. I have the Dutch, German and English languages installed. The only active currency is the Euro, which is correct. You see in the faceted search that the amounts have a ',' in the thousands and the cents are after a '.'.  This should be the other way around. Also, there are too many zeros. The prices are therefore mentioned in the US way instead of th

[2019-11-13 13:19] #16280 closed, assigned to PierreRambaud, boubkerbribri

[2019-11-13 13:42] khouloudbelguith commented on #16343
@Arnaldo405,

I tried with PS1.7.6.1 & ps_facetedsearch v3.4.0 & it is OK

In fact, when you're running in English, it takes the English currency format, not the other one.

https://drive.google.com/file/d/1aHMQ88QJ5YdP6wN4cRLnD2FFtj40yhAw/view
Thanks!

[2019-11-13 13:44] globox91 opened #16400 "Customer Reassurance Module, v4.1.1, "Title" and "Description" fields are missing in edit form when main BO langage is disabled"
**Describe the bug**

"Title" and "Description" fields are missing while editing any of the reassurance blocks.
They are hidden because they have html class "inactive".
And that class is added because my selected language for BO is not among my "active" languages (I need this language only for BO, not in FO, so I deactivated it).

Seems like I need to translate my BO to some of the FO languages in

[2019-11-13 13:50] khouloudbelguith commented on #16400
Hi @globox91,

I did not manage to reproduce the issue with PS1.7.6.1 & block reassurance v4.1.1.
https://drive.google.com/file/d/1gaEefcQTCou8uuJtKrzBW0dCfCKJ4iod/view
Your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/16152
But we cannot reproduce the problem so, we closed it.
Thanks to check & feedback.

[2019-11-13 13:59] globox91 commented on #16400
0:10-0:14 - You forgot to deactivate your current BO-language (in this case, German) :)
That's the whole point :)

[2019-11-13 14:03] #16397 closed, assigned to nobody

[2019-11-13 14:07] eternoendless commented on #16356
Everything's possible, provided there's a Pull Request for that 😉

[2019-11-13 14:08] khouloudbelguith commented on #16400
@globox91, yes!
That's the whole issue.
I manage to reproduce the issue with PS1.7.6.1 & the `blockreassurance` v4.1.1.
![image](https://user-images.githubusercontent.com/16067358/68770756-0b390980-0627-11ea-893a-7f80f4867c0a.png)
With `blockreassurance` v3.0.1 => OK
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, pleas

[2019-11-13 14:14] khouloudbelguith commented on #16400
Pingf @Progi1984

[2019-11-13 14:16] colinegin commented on #13791
@sarahdib i don't reproduce this issue with the migrated page, can you confirm ?

[2019-11-13 14:26] colinegin commented on #10549
Hello @zuk3975 , the empty state is missing in the listing when there is no catalog price rule yet, could you add it ? Here is the invision link : https://invis.io/5FRLCBENAS4#/358670484_Catalog_Price_Rules

Thanks !

[2019-11-13 14:29] WorldSellers opened #16401 "authentification error for search cron"
**Describe the bug**
when i test the url of the search engine cron https://www.mysiteweb.com/wsBaOprod/index.php?controller=AdminSearch&action=searchCron&ajax=1&full=1&token=MySuperToKENNN&id_shop=1 with wget or curl,  i have an authentification error. The url is redirected on adminlogin controller and my search engine index is not updated.

**To Reproduce**
try to access on the cron url with wget

[2019-11-13 14:30] colinegin opened #16402 "[Catalog price rule page] Replace "reduction" with "discount""
This issue is following the test of the catalog price rule page (add / edit action)

For more consistency with the discount features, we need to change the word "reduction" which is used both in the catalog price rule list and add / edit with "discount" :

Reduction type ==> Discount type
Reduction with or without taxes ==> Discount with or without taxes
Reduction ==> Discount

Thanks !

[2019-11-13 14:44] khouloudbelguith commented on #16401
Hi @WorldSellers,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15855 to fix the issue.
It fixed in PS1.7.6.2.
Your ticket is a duplicate of #15725
So, I close it.
Thanks!

[2019-11-13 14:44] khouloudbelguith commented on #16401
Duplicate of #15725

[2019-11-13 14:44] #16401 closed, assigned to nobody

[2019-11-13 15:11] teapotdale commented on #13943
any update on this? I cannot find a way without physically copy pasting the files to my module how to compile assets with grid JS extensions

[2019-11-13 15:14] LouiseBonnard commented on #16402
In my opinion, we need to distinguish two things:

- in PrestaShop, discounts stand for both 'cart rules' (= promo codes) and 'catalog price rules' (= reductions), cf. https://github.com/PrestaShop/PrestaShop/pull/13716#discussion_r285951623

- in this case, the reduction type refers to the form of the catalog price rule (= it refers to the form of one of the discount type) and is either an amount

[2019-11-13 15:50] PierreRambaud commented on #13943
We maybe need to add custom hooks event for javascript. As we do in frontend for the catalog.
It will be easier for everyone to add and play with events :thinking:

[2019-11-13 16:02] sickboards commented on #16311
den haag, the netherlands

[2019-11-13 16:11] acer1981 commented on #16298
We have found that our PHP is 5.6 version. We will recheck our problem with PHP 7.1 and will write to you.

 

 
 
--
Евгений Мехтиев
 

[2019-11-13 16:12] TommyLazo commented on #16382
I managed to find a solution to this issue.
The root cause was the language setup, my primary language was set as Lithuanian and english was disabled. But the admin interface was still in English. So when I enabled English and set it as primary language the Link list started to show all the entries.

[2019-11-13 16:12] #16382 closed, assigned to nobody

[2019-11-13 16:14] khouloudbelguith commented on #16311
@sickboards, I tried with this localization & it is OK
https://drive.google.com/file/d/1pjukjecpxLs-ZcOFAGBEiDYd1HIEQr8R/view

Thanks to check & feedback.

[2019-11-13 16:16] khouloudbelguith commented on #16382
@TommyLazo, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-11-13 16:16] colinegin commented on #16402
I agree with you @LouiseBonnard , let's leave it the way it is now (on top of that, it's one issue less to do ;) ) Thanks for your quick answer !

[2019-11-13 16:16] #16402 closed, assigned to nobody

[2019-11-13 16:17] khouloudbelguith commented on #16298
@acer1981, thanks!
Waiting for your feedback.

[2019-11-13 18:10] alphaonex86 commented on #16341
Same bug under Linux debian, clearly bug into the php, then no other way than drop from our datacenter. Cheers,

[2019-11-13 18:24] deadbloger commented on #14003
Well, the main question will it be solved or not?
I spent a day trying to understand what broke my shop. Backed to 2.2.1. It helped but it seems abnormal at PS 1.7.6.1
![faceted](https://user-images.githubusercontent.com/29161107/68792164-e3b06400-065b-11ea-91a6-ea46311d9382.png)

[2019-11-13 21:34] darylstone commented on #13698
Hello guys, is there a way to detect those circular categories? I have about 6k+ categories. Not easy to find circular references if there any exists. :D

[2019-11-13 22:13] Oksydan commented on #16339
@khouloudbelguith PR avalible

[2019-11-13 22:39] Arnaldo405 commented on #16343
Hello,

Thank you!

As you can see in the screenshot both are set on Dutch.

Do I understand that this is not solvable?

With kind regards,

Arnaldo

Tastov
Mistral 2
3893 CZ Zeewolde
The Netherlands

T : +31 (0)36 879 51 98
E : info@tastov.nl
W: https://tastov.nl

Van: khouloudbelguith
Verzonden: woensdag 13 november 2019 14:42
Aan: PrestaShop/PrestaShop
CC: Arnaldo405; Mention
Onderwerp: Re: [Pr

[2019-11-13 23:14] futurehousestore commented on #9503
All the pages from BO -> SEO & URLs are lacking canonical URLs so the issue has to do something with MetaController.php

[2019-11-14 00:46] Majusek commented on #16361
@khouloudbelguith  thanks for your feedback.

I describe my configuration what I have:

1. I'm haveing many Zones. Sometimes zone have a few countries or sometimes zone is representing only one country.
2. To reproduce my configuration you need use three zones, one per country for example France, Spain, Germany.
3. Add three carriers, one will be for France, second for Spain and Germany, third for

[2019-11-14 05:21] jitendra-cygnet commented on #13170
Hi @samuel-pires  I have redirect my cart page to checkout as i have created custom one page checkout.

Now issue is, its not checking minimum order value in my checkout page. i am able to do order.

Prestashop 1.7

I have hide default redirection of cart page as i am not using it

[2019-11-14 07:44] khouloudbelguith commented on #15945
Hi @Hlavtox,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-14 07:44] #15945 closed, assigned to nobody

[2019-11-14 07:50] khouloudbelguith commented on #15947
Hi @frevab,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-14 07:50] #15947 closed, assigned to nobody

[2019-11-14 07:51] khouloudbelguith commented on #15957
Hi @Traineau,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-14 07:51] #15957 closed, assigned to nobody

[2019-11-14 08:09] khouloudbelguith commented on #16361
@Majusek, I have a question:

1. The first carrier for France, is it available for visitors or no?
2. The second carrier for Spain and Germany, is it available for visitors or no?
3. The third carrier for all zones, is it available for visitors or no?
4. In your BO => International => Localization, the option "Set default country from browser language" is enabled or no?

![image](https://user-imag

[2019-11-14 08:11] khouloudbelguith commented on #16343
@Arnaldo405, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-11-14 08:23] khouloudbelguith commented on #16341
@alphaonex86,

we provide an example of configuration here:
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf :)
You must write your own rules, like we do for Apache. You must not use a rewrite where you don't need it.
More because it's an example and you can customize this part by everything you want.
Also, you can follow this comme

[2019-11-14 08:30] khouloudbelguith commented on #14003
Hi @deadbloger,

In my case, I did not manage to reproduce the issue with PS1.7.6.1 & ps_facetedsearch v3.4.0 using the theme by default.
I attached a screen record
https://drive.google.com/file/d/1m-i6czzZSg9QqHA7a-NaH46FJJ1PbuSu/view
Thanks!

[2019-11-14 08:31] 123monsite-regis commented on #9481
thanks @jolelievre for the code proposal on : https://github.com/PrestaShop/ps_currencyselector/pull/11

regards

[2019-11-14 09:08] #9830 closed, assigned to nobody

[2019-11-14 09:10] khouloudbelguith commented on #16343
Hi @Arnaldo405,

I just received the email, I will check & feedback.

Thanks!

[2019-11-14 09:38] hugolin69 commented on #9890
Instead of the modification in the 2 register functions, and CCC, I prefer thoses changes

file: /classes/assets/StylesheetManager.php
function: add

[code]

file: /classes/assets/JavascriptManager.php
function: add

[code]

file: /classes/assets/CccReducer.php
function: reduceCss & reduceJs

[code]

[2019-11-14 09:46] PrestaShark commented on #9780
Module is still completely unusable. Should be disabled from official repository because is not 1.7 compatbile. Thanks!

[2019-11-14 09:48] PrestaShark commented on #9780
Even with removed part of code

`{include file="$tpl_dir./errors.tpl"}`

from login.tpl file user can't login

[2019-11-14 09:57] khouloudbelguith commented on #16343
@Arnaldo405, you have incorrect precision in your table currency.
![image](https://user-images.githubusercontent.com/16067358/68846477-74735800-06cd-11ea-9bae-d546751bb836.png)

For a quick fix, you can run this SQL command on your Database
UPDATE `prstshp_currency` SET `numeric_iso_code` = '978', `precision` = '2' WHERE `prstshp_currency`.`id_currency` = 1;

Thanks!

[2019-11-14 10:09] didjou commented on #16386
Dear khouloudbelguith

Thank you very Much !
Ok for all information you communicated i was know i use customised product since a long time with Prestashop

 the product must stay **available for order**,
 If you **uncheck available for order**, but always visible **out of stock** disappear, but add to cart stay visible ( sometimes, we have good product reference, and this is stupid to deactivated

[2019-11-14 11:35] nicoladze commented on #16353
@khouloudbelguith

I do not know how to provide you with all you have asked (and your link http://build.prestashop.com/howtos/misc/how-to-create-bug-report/ is not helping)

And I have another issue, that is part of this opened issue, in "Options" section of the product sheet, when I fulfill "Montant (HT)" of the supplier part with "519.80", it changes automatically to "519.799999"

Regards

[2019-11-14 11:43] khouloudbelguith commented on #16386
@didjou, thanks for your feedback.

I make a difference between PS1.6 & PS1.7.

**First:**
In the FO => Product listing page
In the 1.6, we have a notice for the product availability
![image](https://user-images.githubusercontent.com/16067358/68853559-8c050d80-06da-11ea-8ab3-d39e2e645a8b.png)
In the PS1.7 => No
![image](https://user-images.githubusercontent.com/16067358/68853604-a4752800-06da-11ea

[2019-11-14 11:52] Arnaldo405 commented on #16343
Hello, Thank you so much! I shall do that. Your help is so much appreciated!! Have a nice day! With kind regards, Arnaldo Verzonden vanaf mijn telefoon van Huawei Mobile-------- Oorspronkelijk bericht --------Onderwerp: Re: [PrestaShop/PrestaShop] Price scroll bar faceted search is in dollars instead of euros (#16343)Van: khouloudbelguith Aan: PrestaShop/PrestaShop Cc: Arnaldo405 ,Mention @Arnaldo

[2019-11-14 11:54] Majusek commented on #16361
Hi @khouloudbelguith thanks for your feedback

1. Yes
2. Yes
3. Yes
4. No

Best regards

[2019-11-14 11:54] khouloudbelguith commented on #16353
@nicoladze,

We are aware of this issue, it is added to our bug roadmap as reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/12078

- _server setup and configuration_ : Go to BO => Advanced Parameters => Information page & Get your configuration
- _PrestaShop version (source)_: the exact version PrestaShop are you using?
- _debug mode report_: Got to Advanced Parameters > Pe

[2019-11-14 11:55] khouloudbelguith commented on #16343
@Arnaldo405, thanks!
So, the issue is fixed?

Thanks!

[2019-11-14 11:57] khouloudbelguith commented on #16361
@Majusek, so, your visitor can see all carriers?
![image](https://user-images.githubusercontent.com/16067358/68855315-45191700-06de-11ea-81c2-a06dd5efe3b8.png)

Thanks!

[2019-11-14 12:40] nicoladze commented on #16353
@khouloudbelguith

- Server :

Informations sur votre serveur Linux #1 SMP Wed May 15 10:40:34 CEST 2019 x86_64
Version du logiciel serveur : Apache
Version de PHP : 7.0.33
Limite de mémoire : 512M
Temps maximal d'exécution : 300
Taille max. pour envoi de fichiers : 128M

- Prestashop :

Version de PrestaShop : 1.7.6.1

- debug mode is activated but I do not know how to get a report

- javascript

[2019-11-14 12:44] khouloudbelguith commented on #16353
@nicoladze, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. save product => check if there are any exceptions displayed

[2019-11-14 12:53] Arnaldo405 commented on #16343
Hello, I just tried to do it, but it wasn't working. I must have done something wrong. My knowledge of SQL is minimal. And I am not familiar with the use of SQL in PS yet. I have planned for the future to educate myself, since I don't have the time for it at the moment. With kind regards, Arnaldo Verzonden vanaf mijn telefoon van Huawei Mobile-------- Oorspronkelijk bericht --------Onderwerp: Re:

[2019-11-14 12:55] alphaonex86 commented on #16341
For now I search just do work the base prestashop as demo. Then I need need write my own rules.
Here the wrong php include call will not be fixed by http server nor customized rule.
You just miss understand how php and http server work.

[2019-11-14 13:04] Majusek commented on #16361
@khouloudbelguith
Sorry, I told you wrong. Visitor is uncheked for third carrier. Third carrier is for all countries.

[2019-11-14 13:08] nicoladze commented on #16353
@khouloudbelguith

I will try to provide you with the PHP error log later (Now, I do not have my IDs to FileZilla)

About the developer tools -> Network

There is no exception and/or error while or once I save the product

Regards

[2019-11-14 13:27] nicoladze commented on #16353
@khouloudbelguith

PS : I had no problem while I was on Prestashop 1.7.2.4, it appears once I updated to 1.7.6.1

[2019-11-14 13:30] #13964 closed, assigned to atomiix

[2019-11-14 13:31] kandiaga commented on #9780
Hi  @PrestaShark ,
 We  have fixed  that  issue  and  make the module  compatible  1.7  please  visit  the official  forum:
https://www.prestashop.com/forums/topic/1003465-free-module-tracking-front-for-17/

[2019-11-14 13:31] khouloudbelguith commented on #16353
@nicoladze,

Thanks!, waiting for your feedback.

[2019-11-14 13:45] kpodemski opened #16409 "Wrong cms page title using CMS::getLinks function"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. multi-store enabled
2. created one cms page, with different title in each store
3. Try to use somewhere CMS::getLinks(), you'll see that page title is always this one from first store, even if you will try to use it on second store

**Additional information**
PrestaShop ve

[2019-11-14 13:55] colinegin commented on #15298
Hello,

i've compared both lists, and here is the comparison table :

**Old categorization | New categorization**

Administration | Administration
Comparison site & Feed management | Trafic & Marketplaces
Slideshows | Design & Navigation
Quick / Bulk update | Administration
Export | Administration
Front office Features | Design & Navigation
Accounting & sales management | Administration
Content Ma

[2019-11-14 13:55] morghy1992 opened #16411 "Module Gives Error googlecustomerreviewssnippet"
Hello,

I download the module : https://github.com/albangonzalez/googlecustomerreviewssnippet

But when I try to upload on PS give me error. I have PS 1.7.5

Do you know why?
Thank you

[2019-11-14 13:56] khouloudbelguith commented on #16361
@Majusek, In my case:
1. Visit shop from France - default country set in shop - as not logged user.
=> the carrier is displayed in France (default country)
2. Visit shop from Spain - not default country - as not logged user.
=>  the carrier is displayed in France (default country)

I attached a screen record
https://drive.google.com/file/d/13VKYvU096Zs8rZ1b436MEV8gJu05EAQ8/view

Thanks!

[2019-11-14 13:59] khouloudbelguith commented on #16343
@Arnaldo405, I checked your table, it is still 6
![image](https://user-images.githubusercontent.com/16067358/68863160-135c7c00-06ef-11ea-90c3-7c9434562208.png)

You need just to change the precision from 6 to 2 & numeric_iso_code to 978 in your Table from PHPmyadmin for example.
https://drive.google.com/file/d/1v52GW4bJ75I5LMC7u2KxbLpLVdRyLk7y/view

THanks!

[2019-11-14 14:01] khouloudbelguith commented on #16411
Hi @morghy1992,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-11-14 14:01] #16411 closed, assigned to nobody

[2019-11-14 14:19] Majusek commented on #16361
@khouloudbelguith  ok, thanks a lot for this testing.

I see that it works for you, but I still have no ideas why it doesn't work for me.

[2019-11-14 14:20] sarahdib commented on #13791
@colinegin In the migrated page the field HT / TTC is not displayed.

[2019-11-14 14:20] khouloudbelguith commented on #16361
@Majusek, it is fixed in the next version PS1.7.7.0.
Thanks!

[2019-11-14 14:21] 23b opened #16412 "Frontend Translation mixed up when switching languages"
This bug is triggered in various ways i will describe a easily reproducible way here:

- Start with a fresh installation of Prestashop 1.7.6.1
- Add 2 or more additional language packs (German and French in my case)
- Create a customer account
- Change customer firstname to a **invalid** one like "John.P" by direct SQL update
- Log in with the Customer on the Frontend
- Switch between the frontend

[2019-11-14 14:33] yannicka opened #16413 "Remove anchor in URL for products"
Is this anchor needed?
https://github.com/PrestaShop/PrestaShop/blob/e136975bf809f89f35fdd59a785806e3e0bf8eab/classes/Link.php#L233

I've replaced this line by:

[code]

And everything seems to be working fine.

This anchor generates a URL that seems longer than necessary. Perhaps this anchor should be removed or an option should be given to enable/disable it globally if necessary (as suggested in

[2019-11-14 14:38] khouloudbelguith commented on #16409
Hi @kpodemski,

I found a bug with PS1.7.6.1, but it is fixed with PS1.7.6.2build1
It is ok with PS1.7.6.2build1.
I attached a screen record
https://drive.google.com/file/d/1fFe79dZkBA_El6dtWm6jbHbLY5O5L-9Z/view
Thanks to check &feedback.

[2019-11-14 14:38] colinegin commented on #13791
Ok sorry I misunderstood the issue. Now I remember : we decided to remove it just like on Cart rules, as this does not make any sense. You do not decide to do 20% reduction with taxes included, you just do 20% reduction on the product price (which is available in ht or ttc according to the store configuration).

[2019-11-14 14:39] marionf commented on #9780
@kandiaga

Could you submit your changes here: https://github.com/PrestaShop/trackingfront/pulls ?

[2019-11-14 14:41] kandiaga commented on #9780
Ok, I will  do.

[2019-11-14 14:45] khouloudbelguith commented on #16413
Hi @yannicka,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-11-14 14:47] yannicka commented on #16413
I'm able to make a pull request with my suggestion, but I think it's too naive. It would be best to have a setting to enable/disable this.

[2019-11-14 14:49] BoutiquesInternet commented on #10026
Hi everyone,

I think the field ecotax rate is useless
![Capture](https://user-images.githubusercontent.com/36631714/68865134-929f7f00-06f2-11ea-9ae8-c184dcff5210.PNG)

Because in the file classes/Product.php line 3427
`$ecotax_tax_calculator = $tax_manager->getTaxCalculator();`
`$price += $ecotax_tax_calculator->addTaxes($ecotax);`

function addTaxes()
`public function addTaxes($price_te)
    {

[2019-11-14 14:59] kpodemski commented on #16409
This fix is not related to back office but to this specific function

[2019-11-14 15:11] PierreRambaud commented on #15506
I'm not sure we can do this fix right now. We don't have the capability to determine if we are in `sl` or `si`
![image](https://user-images.githubusercontent.com/1462701/68869436-70f5c600-06f9-11ea-9e99-048c4faba71f.png)

[2019-11-14 15:16] PierreRambaud commented on #16070
I now understand why they did this: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Media.php#L69

[2019-11-14 15:22] Majusek commented on #16361
@khouloudbelguith  do you know when we could expect new version?

[2019-11-14 15:24] khouloudbelguith commented on #16409
@kpodemski, thanks!
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.2build1.
https://drive.google.com/file/d/1b3ABzdi_SzvMeUxVft1egkgIhE9L78Jy/view
I’ll add this to the debug roadmap.
Thanks!

[2019-11-14 15:27] khouloudbelguith commented on #16361
@Majusek, you can follow our project here: https://github.com/PrestaShop/PrestaShop/projects/7
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-11-14 15:27] #16361 closed, assigned to nobody

[2019-11-14 15:36] marionf opened #16415 "Display issue in the product page when a category has more than 30 chars"
**Describe the bug**
When a category has more than 30 chars (less on a small screen), you need to scrool horizontally in the product page to select the main category

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Category
2. Edit a category with a name with more than 30 chars
3. Go to Catalog > Products
4. Edit a product and see the Category part

**Screenshots**
![capture d

[2019-11-14 15:40] marionf commented on #16415
@TristanLDD

[2019-11-14 15:42] crishnakh commented on #9847
I had this problem in 1.7.5.

This solved the error https://github.com/PrestaShop/PrestaShop/pull/7885

[2019-11-14 15:44] khouloudbelguith commented on #16412
Hi @23b,

Yes, I manage to reproduce the issue with PS1.7.6.1.
But, I cannot edit the firstname from the database manually => this is incorrect behavior.
From the BO / FO, it is impossible to add ta custom with an invalid name.
Editing it manually => this is an insecure way.
![image](https://user-images.githubusercontent.com/16067358/68872169-de0b5a80-06fd-11ea-8cb2-29977ecf342f.png)

How you can

[2019-11-14 15:53] PierreRambaud commented on #15097
@eternoendless @matks Do we plan to remove the legacy system for the 1.7.7?

[2019-11-14 16:06] 23b commented on #16412
I understand that the username will not be able to register like that. Although a customer could be setup like that through migration from a older Prestashop version.

The real problem is that we have an instance which shows the exact same issue without having modified customer names. I have spend several days trying to track down the origin on that instance without avail. The only requirement the

[2019-11-14 16:13] Arnaldo405 commented on #16343
Hello, I changed the query as you told me and placed it back in the database via Filezilla. I don't see any changes, maybe they update it tonight? Or did I do something wrong again?Thanks! With kind regards, Arnaldo Verzonden vanaf mijn telefoon van Huawei Mobile-------- Oorspronkelijk bericht --------Onderwerp: Re: [PrestaShop/PrestaShop] Price scroll bar faceted search is in dollars instead of e

[2019-11-14 16:15] khouloudbelguith commented on #16412
@23b, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
https://drive.google.com/file/d/145kDUL7wa97HLjM-xqtvwvZtoJWNXWnq/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-11-14 16:17] khouloudbelguith commented on #16343
@Arnaldo405, no, you didn't change it.
I just check your table & it is not changed
![image](https://user-images.githubusercontent.com/16067358/68875173-a9e66880-0702-11ea-94be-7e44f17a78a4.png)

Thanks!

[2019-11-14 16:18] PierreRambaud commented on #16293
@matks The reason: https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/Sell/Catalog/SupplierController.php#L134 you build the form without considering you already set a `country_id` will running the request, so it still use the language of the connected user here: https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Form/Admin/Sell/Supp

[2019-11-14 16:22] ziezo opened #16417 "PS1.7.6.1 Quantity discounts not shown for default variant"
The product page /{id_product}-xxx shows the default variant dropdowns but does not show the quantity discounts for the default variant

Only after selecting another variant or changing quantity the quantity discounts are shown, this is after the browser redirects to the variant page /{id_product}-{id_product_attribute}-xxx

[tested on a fresh PS1.7.6.1 instance]
**Steps to reproduce the issue**
1

[2019-11-14 16:28] khouloudbelguith commented on #16417
Hi @ziezo,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record.
https://drive.google.com/file/d/1IoEBkU6GT2qGx5Nhm2cDeNWc-uGGF1fF/view
Thanks to check & feedback.

[2019-11-14 16:31] #15919 closed, assigned to PierreRambaud

[2019-11-14 16:34] nicoladze commented on #16353
@khouloudbelguith

Log from debug mode :

DEPRECATIONS :

User Deprecated: Tools::displayPrice() is deprecated since version 1.7.6.0. Use PrestaShop\PrestaShop\Core\Localization\Locale::formatPrice() instead.

Hide context    Hide trace

[▼
  "exception" => ErrorException {#617 ▼
    #message: "User Deprecated: Tools::displayPrice() is deprecated since version 1.7.6.0. Use PrestaShop\PrestaShop\Co

[2019-11-14 16:41] khouloudbelguith commented on #16353
@nicoladze, did you find only some deprecations?
![image](https://user-images.githubusercontent.com/16067358/68877114-d2bc2d00-0705-11ea-9f52-c7a1eeb2deda.png)

Have you any Errors?

Thanks!

[2019-11-14 16:46] nicoladze commented on #16353
@khouloudbelguith

No Errors, only Info

Matched route "admin_product_catalog".

Hide context

[▼
  "route" => "admin_product_catalog"
  "route_parameters" => [▼
    "_controller" => "PrestaShopBundle\Controller\Admin\ProductController::catalogAction"
    "_legacy_controller" => "AdminProducts"
    "limit" => "last"
    "offset" => 0
    "orderBy" => "last"
    "sortOrder" => "last"
    "_route" =

[2019-11-14 17:01] ziezo commented on #16417
Steps to reproduce:
1) install PS1.7.6.1
2) add quantity discount for product 3 "The best is yet to come' Framed poster" for combination "40x60"
3) browse to http ://xxx.xxx/en/art/3-the-best-is-yet-to-come-framed-poster.html
table quantity discount prices for "40x60" is NOT shown
4) browse to http ://xxx.xxx/en/art/3-13-the-best-is-yet-to-come-framed-poster.html#/19-dimension-40x60cm
table quanti

[2019-11-14 17:26] kpodemski commented on #16409
@khouloudbelguith I've sent pull request already :D thanks

[2019-11-14 18:13] eusxj commented on #12276
Hi @khouloudbelguith,

Thanks for your solution.

[2019-11-15 06:01] jitendra-cygnet opened #16419 "Order with an obligation to pay button disable (on each ajax call) if minimum order value set from admin."
**Describe the bug**
If i set minimum purchase value from admin then it will work with only cart page - in my code i have removed cart page - now the minimum logic is not working with my custom one page checkout module

I want this because - i have removed cart page and i want to set validation in my checkout page - dynamically - for that i want value to be get as variable not as text like above

[2019-11-15 06:37] jitendra-cygnet commented on #16419
I found using this i get value - {$cart.minimalPurchase}

But it will be good if minimal will work on payment button rather then only in cart page

[2019-11-15 07:44] khouloudbelguith commented on #15985
Hi @N-Wouda,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-15 07:44] #15985 closed, assigned to nobody

[2019-11-15 07:44] khouloudbelguith commented on #15989
Hi @Sewforth,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-15 07:44] #15989 closed, assigned to nobody

[2019-11-15 07:53] khouloudbelguith commented on #16419
Hi @jitendra-cygnet,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-11-15 07:53] #16419 closed, assigned to nobody

[2019-11-15 08:44] khouloudbelguith commented on #16417
Hi @ziezo,

Thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.2build1.
When I click on the preview button, we are redirected to this URL: `http://shop.com/category/id_product-friendlyUrl `=> so the table quantity discount for the combination by default is not displayed.

It is not the same behavior with PS1.7.5.2, when we click on the preview button, we are

[2019-11-15 08:59] ziezo commented on #16417
Thanks @khouloudbelguith !

This bug probably also affects other things related to id_product_attribute - such as price, but I did not test this.

I patched ProductController.php as follows. (Next time I'll try a pull request, still have to learn how to do that...)
[code]

[2019-11-15 09:02] dennispw opened #16420 "Theme.yml - Hooks configuration, alternative to except_pages"
**Is your feature request related to a problem? Please describe.**
As an example:
[code]
This will only add the ps_imageslider module to the `displayHome` hook. However, if you go to any other page, category, product, etc. and take a look in the source code you will still see that the CSS/JS for that module is being loaded. Right now we have the option to use the `except_pages` configuration but t

[2019-11-15 09:09] Arnaldo405 commented on #16343
Hello, I also noticed that. The only way to change is via Filezilla,  via my hosting provider er I am not able to reach my site. So I can't use PHPmyadmin. That would make it so much easier to find it. I am searching now where to find the table that needs to adjust. Haven't found it yet unfortunately. Thanks With kind regards, Arnaldo Verzonden vanaf mijn telefoon van Huawei Mobile-------- Oorspro

[2019-11-15 09:20] matks commented on #15097
@PierreRambaud I think the idea was to stop using the legacy system and use the modern translation system.

The strange thing is that the new translation system for modules was actually released in 1.7.6 so I'm wondering why at this time I wrote that we had to wait for 1.7.7 🤔.

But even if it works, it means our answer would be "Eyh, if you want your module name to be able to be displayed with do

[2019-11-15 09:26] khouloudbelguith commented on #16343
@Arnaldo405, your Mysql name is `db337547_sa621229_main` é your table is `prstshp_currency`.

Thanks!

[2019-11-15 09:33] matks commented on #16293
It's strange because we attempted to handle this usecase 🤔see the code below (https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Form/Admin/Sell/Supplier/SupplierType.php#L99):

[code]

If `$options['country_id']` is provided we use it instead. This is how we are supposed to handle dynamic country ID 🤔. Obviously we failed 😅as there's a bug but the solution then looks like

[2019-11-15 09:36] khouloudbelguith commented on #16353
@nicoladze, previously we just reported those issues similar to your problem:
1. https://github.com/PrestaShop/PrestaShop/issues/10792
2. https://github.com/PrestaShop/PrestaShop/issues/15785

Thanks to check & feedback.

[2019-11-15 09:38] matks commented on #13943
@PierreRambaud this is indeed what makes sense. In legacy there was `addCss()` and `addJs()` functions, we might need something similar.

@teapotdale can you explain further what you are trying to do ? I think there are multiple workarounds (however we will also implement something nicer - not a workaround - in the code)

[2019-11-15 09:46] teapotdale commented on #13943
@matks I am building a modern module using the 'grid' component, and adding the JS extensions from the admin theme, the only workaround i have found is using a silly relative path, like this:

`import Grid from '../../../../../../../admin-dev/themes/new-theme/js/components/grid/grid';`

but of course, this only works if the admin theme folder name is 'admin-dev'...

[2019-11-15 09:50] khouloudbelguith commented on #16420
Hi @dennispw,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-product-team what od you think?

Thanks!

[2019-11-15 09:57] khouloudbelguith commented on #16343
@Arnaldo405, thanks!
Waiting for your feedback.

[2019-11-15 10:05] matks commented on #16327
Hi @Leenwt

Unfortunately the very best protection against such spam is a reCAPTCHA. As you have said, even if we forbad URLs to be used as firstname or lastname, "they have just designed the bot to use random characters". Regexp or validation on backend side would be a cat-and-mouse game between us and the bot.

ReCAPTCHA was designed to stop bots from submitting any form. It's the exact solution

[2019-11-15 10:06] matks commented on #16355
Hi @matutin0

Like it was said in #16327, the very best protection against such spam is a reCAPTCHA.

ReCAPTCHA was designed to stop bots from submitting any form. It's the exact solution to use for this specific usecase. Nothing will be more efficient 😉.

[2019-11-15 10:11] matks commented on #16260
So it's like rollback to previous version isn't it ? 😄

It's up to you, but actually this is not a bug. As I said:

On PS 1.7.6 (and probably previous versions too):
If I use ps_shoppingcart v2.0.2, when I order a out-of-stock product, the modal opens and tells me the product has been added to cart successfully => this was wrong and was registered as a bug in #11631.

On PS 1.7.6 (and probably pre

[2019-11-15 10:13] Bonobomagno commented on #11596
What about doctrine events?
Actually the HasLifecycleCallbacks work, but services with doctrine.event_listener tag, don't.
HasLifecycleCallbacks is on some use case, but the miss of service access on the callback, make it too limited.
Any plan to implement it?

[2019-11-15 10:23] jnvsor opened #16421 "Cannot add literal % to translation strings"
**Describe the bug**
Any translation with a literal percent `%%` will fail because it is not an argument but is counted as one in `PrestaShopTranslatorTrait::$regexSprintfParams` and `PassVsprintfValidator::countArgumentsOfTranslation()`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any translatable string
2. Add a literal percent `%%` to it
3. Press save
4. Refresh page
5. String ha

[2019-11-15 11:09] VincentHogendoorn opened #16422 "After Customer Reassurance 4.1.1 update I'm not able to add HTML to the title"
**Describe the bug**
Before we updated the module we added/changed some code to allow HTML markup (like <span>) inside the customer reassurance. Since the update the files have changed so I had to implement the changes again.
I was able to render the pre-added HTML markup that was saved in the database from before the update by adding nofilter but whenever we try to edit/add a new block and hit sa

[2019-11-15 11:18] khouloudbelguith commented on #16421
Hi @jnvsor,

Your ticket is a duplicate of #16168
So, I close it.
Thanks !

[2019-11-15 11:18] khouloudbelguith commented on #16421
Duplicate of #16168

[2019-11-15 11:27] matks commented on #16323
It is not related directly to the BO product page, but @Gamesh suggestions make sense.

@Gamesh indeed SQL schema modifications are done in the folder `install-dev/upgrade`, you can make a PR with your suggestion in 1.7.7.0.sql file as 1.7.7.0 has not been released yet.

@PrestaShop/prestashop-core-developers should'nt we have a full look at all SQL tables and, following @Gamesh idea, add indexes

[2019-11-15 11:30] matks commented on #13943
@PierreRambaud I believe we started using ES Modules for puppeter tests which enable us to not provide the full filepath, am I right ? Would it make sense then to declare an Admin ES Module that prestashop modules could require ?

[2019-11-15 11:32] jnvsor commented on #16421
@khouloudbelguith Is it a duplicate though? The logic for `%%` and `%name%` is different, in that `%%` shouldn't be counted at all when counting arguments in `PassVsprintfValidator::countArgumentsOfTranslation()`.

In fact `PrestaShopTranslatorTrait` has entirely separate regexes for these cases: `$regexSprintfParams` and `$regexClassicParams`.

It seems like this is a bug relating to incorrectly

[2019-11-15 11:34] khouloudbelguith commented on #16422
Hi @VincentHogendoorn,

In my case, with PS1.7.6.1.
I tried with a previous version blockreaasurance v3.0.1 & not ok.
But it was fixed in the major version 4.1.1
I attached a screen record

https://drive.google.com/file/d/1W8l84LdD81FnCVt_Op6a_8PMCnyEO2r2/view
Thanks to check & feedback.

[2019-11-15 11:40] khouloudbelguith commented on #16421
@jnvsor, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & PS1.7.6.2build1.
https://drive.google.com/file/d/1BwBTAF5g7nIo5FWmy0LFuThYQVLwjQ-T/view
I’ll add this to the debug roadmap.
Thanks!

[2019-11-15 11:45] Webgaict opened #16424 "How to modify a product from a database?"
Hello, would it be possible to modify a product from database, description, images, category and prices?
If it is possible how? On which tables should I go to act?

Thanks, for help!

[2019-11-15 11:56] khouloudbelguith commented on #16424
Hi @Webgaict,

Thanks for your report.

- description => Table ps_product_lang
- category => Table ps_product => id_category_default
- price  => Table ps_product

I hope this helps you.
Please be aware that the bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Ove

[2019-11-15 11:56] #16424 closed, assigned to nobody

[2019-11-15 11:57] ttoine commented on #16323
+1 for indexes in tables

[2019-11-15 11:59] teapotdale commented on #13943
@matks that would be work nicely, would this help solve the issue of not knowing what the admin folder is called? Also, do you have any prestashop puppeter tests as an example?

[2019-11-15 12:01] jnvsor commented on #16168
(Continuing from discussion in #16421)

@khouloudbelguith After taking a closer look at this I don't think it's a 5 minute fix.

According to `TranslateCore::checkAndReplaceArgs()` the legacy strings are substituted with `strtr` instead of `vsprintf`, so it makes little sense to apply a `PassVsprintf` constraint to them.

Unfortunately, the way `TranslateCore` checks which type of string it is is

[2019-11-15 12:03] VincentHogendoorn commented on #16422
Hi Khouloud,

Thanks for the quick response. I noticed that I was able to add html markup to the description. Problem was that when you add a class to the code like this:
![Schermafbeelding 2019-11-15 om 12 44 12](https://user-images.githubusercontent.com/36482530/68941859-406c6580-07a7-11ea-92aa-3a04790cbeb0.png)
and save it the field breaks like this and gets worse after every safe to the point

[2019-11-15 12:08] khouloudbelguith commented on #16422
@VincentHogendoorn,

So, in the previous version, you can add HTML only in the core code? is it?

Thanks!

[2019-11-15 12:45] VincentHogendoorn commented on #16422
Yeah I edited the core (which I know is not ideal).

In the $definitions I changed title to TYPE_HTML instead of TYPE_STRING. Which allows for HTML markup.
![Schermafbeelding 2019-11-15 om 13 42 24](https://user-images.githubusercontent.com/36482530/68944310-d99e7a80-07ad-11ea-9499-b28ebec7e79b.png)
But it still breaks when it has classes once you click edit again. You can also see the max is set

[2019-11-15 13:07] Progi1984 commented on #15939
Fixed in PrestaShop/blockreassurance#35

[2019-11-15 13:07] #15939 closed, assigned to Progi1984

[2019-11-15 13:14] khouloudbelguith commented on #16422
@VincentHogendoorn, so it is not a bug in the module, but it could be an improvement.
 Ping @PrestaShop/prestashop-product-team what do you think of this improvement: is it possible to add a description with an HTML code?

Thanks!

[2019-11-15 13:16] Progi1984 commented on #16091
Fixed in PrestaShop/blockreassurance#33

[2019-11-15 13:16] #16091 closed, assigned to Progi1984

[2019-11-15 13:22] jf-viguier commented on #15939
Thanks @Progi1984

[2019-11-15 13:26] PierreRambaud commented on #13943
@matks It would make sense to use `modules aliases` (:wink:)
Since modules aliases depend on the webpack configuration we can have
`import Grid from '@js/components/grid/grid';` instead :)

[2019-11-15 13:27] VincentHogendoorn commented on #16422
MB for misplacing the thread. Here is the list of what I changed to get it working:

In the displayProductBlock.tpl I changed
`<p class="block-title" style="color:{$textColor};">{$block['title']}</p>`
to
`<span class="block-title" style="color:{$textColor};">{$block['title'] nofilter}</span>`

And in the ReassuranceActivity.php I changed $definitions title to TYPE_HTML instead of TYPE_STRING. Whic

[2019-11-15 13:35] Progi1984 commented on #16010
Fixed in PrestaShop/blockreassurance#34

[2019-11-15 13:36] #16010 closed, assigned to Progi1984

[2019-11-15 13:36] Webgaict opened #16427 "Problem with product on 1.7.5"
Hello,
I have a product with 1323 combinations when I try to modify it in any way it gives me the error "Could not update settings" how can I proceed?
Thanks for help!

[2019-11-15 13:39] khouloudbelguith commented on #16427
Hi @Webgaict,

I have an issue similar to your problem reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9809
It is added to our bug roadmap.
Thanks to check & feedback.

[2019-11-15 13:39] lichesser opened #16428 "Improve error message on module installation"
**Describe the bug**

When uploading a module with a large ZIP file in the BO you can get the error message `This value should not be null.`. The message is not helpful and should instead explain the reason and probable causes.

Reason: The upload of the file failed somehow. On a technical side it means `$fileUploaded` is `null` . The relevant code in `ModuleController -> importModuleAction` is ar

[2019-11-15 13:40] #16417 closed, assigned to PierreRambaud

[2019-11-15 13:41] Progi1984 commented on #16417
Merged in #16423

[2019-11-15 13:43] Webgaict commented on #16427
An imminent solution does not exist? Because as far as I can see the problem dates back to about a year ago.

[2019-11-15 13:54] Webgaict commented on #9809
An imminent solution does not exist?

[2019-11-15 14:05] khouloudbelguith commented on #16427
@Webgaict, sorry, it is not fixe yet.
Your ticket is a duplicate of #9809
So, I close it.
Thanks !

[2019-11-15 14:05] #16427 closed, assigned to nobody

[2019-11-15 14:06] khouloudbelguith commented on #16427
Duplicate of #9809

[2019-11-15 14:10] Robin-Fischer-PS opened #16430 "Product pagination not working in BO"
**Describe the bug**
In back office, on product page, the pagination is not working : I cannot change go to next page, or change number of products displayed per page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Product page on BO
2. Try to change number of products displayed per page.

**Screenshots**
https://drive.google.com/file/d/1drtwAVL3WnTchqcJcUEeUxz1zw_Ho69G/view?usp=shari

[2019-11-15 14:11] khouloudbelguith commented on #16430
Same issue with develop branch

[2019-11-15 14:23] khouloudbelguith commented on #16428
HI @lichesser,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.6.1 & PS1.7.6.2build1.
![image](https://user-images.githubusercontent.com/16067358/68950117-cbeff180-07bb-11ea-8d31-46e0bcc2fe4f.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-11-15 14:54] PierreRambaud commented on #15097
I think it's more complicated than that.
For example `$this->trans('Welcome "a', array(), 'Modules.Welcome.Admin');` use the new system, and event if you want, if the string id is not found in the new system, it tries on the legacy one, and the legacy use htmlspecialchars (https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Translate.php#L260) even if you don't need it.

[2019-11-15 14:57] PierreRambaud commented on #16293
You prepare the `SupplierType` for it, but nothing is set in the Controller compared to the edit action https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/Sell/Catalog/SupplierController.php#L323

A solution could be something similar than:
[code]

[2019-11-15 15:16] 23b commented on #16412
Good news. My colleague found a fix by changing the first lines of Context::getTranslator() as follows.
[code]
We trust your judgement whether or not this is a good implementation. But at least it will provide a leg up in finding a proper fix.

[2019-11-15 15:19] khouloudbelguith commented on #16412
@23b, great!

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-11-15 15:27] globox91 opened #16434 "Link List module, v. 3.0.4, created blocks are missing on the "block list" page"
**Describe the bug**

Actually, this bug is really similar to [16400](https://github.com/PrestaShop/PrestaShop/issues/16400).

I have 2 languages installed. One of them is inactive, because I don't need it on my FO. It's just my BO language.
When I create new block, it is inserted into the DB with the active languages only, because in module's "services.yml" there is a query, that searches only fo

[2019-11-15 15:57] khouloudbelguith commented on #16434
Hi @globox91,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & ps_linklist v3.0.4
![image](https://user-images.githubusercontent.com/16067358/68956656-d5338b00-07c8-11ea-9f58-050901b21073.png)
& ps_linklist v2.1.5.
https://drive.google.com/file/d/1AiVGjESJjXr7Qgje7jmYOnfkTDEVUnah/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fi

[2019-11-15 15:58] khouloudbelguith commented on #16434
Related to #16400.

[2019-11-15 17:18] LouiseBonnard opened #16435 "Add BD, BA, CM, MG, and SN localization packs"
**Is your feature request related to a problem? Please describe:**

Among other requests, we have Ambassadors in some countries which are not localized in PrestaShop, let's offer them a nice environment so that their commitment can have more impact on the local community and make PrestaShop goes deeper international!

**Describe the solution you'd like:**

It could be nice to natively provide basi

[2019-11-15 17:24] kodarco opened #16436 "email variables not filled when email address is all capital letters"
I'm having a bizzarre problem with email variables. They are not filled out completely when the customer's email address is spelled all capital letters.
This is for the payment by money order (standard prestashop module) and it refers to cheque.html and txt template, tried on customized and also on default template.
See example, on first image customer's email astralogo... is spelled small letters

[2019-11-15 18:49] 8ternity opened #16437 "SMTP error 5.5.4 with Office 365 on Prestashop 1.7.5.1"
**Describe the bug**
When we test email configuration of SMTP expert configuration on Start TLS with port 587, Prestashop can't send the test email and give this error.

554 5.2.0 STOREDRV.Submission.Exception:SendAsDeniedException.MapiExceptionSendAsDenied; Failed to process message due to a permanent exception with message Cannot submit message.

I can't use PHP Mail() because my provider block

[2019-11-15 20:00] FabricioBottassi opened #16438 "Retira Titulo do email"
boa tarde

alguem sabe mo dizer como tira o nome que aparece na minha loja como ( a minha Loja ) dos contesto do email?

Já fiz de tudo para editar mais não encontrei

![image](https://user-images.githubusercontent.com/57812967/68972064-b386d380-07c9-11ea-8412-c1b7856096ea.png)

[2019-11-15 21:09] symphonytech111 opened #16441 "Faceted search check boxes issue: ticks and x's not showing"
Since upgrading the Faceted Search module in Prestashop, the little ticks in the check boxes are not displayed. Furthermore, the little crosses next to the summary of selected filters (allowing them to be de-selected) is also not showing.

This means that, whilst the faceted filtering is working, it is very confusing to identify what filters are active, and how to de-select them.

Depending on the

[2019-11-15 21:12] SnefIT opened #16442 "Cart does calculate discount rule, until selecting carrier."
**Describe the bug**
When I put some items in my cart, it won't calculate the discount rule. (above € 75,- free shippping). When I add items with a total of above € 75, it still says the ocnfigured shipping costs from the carrier (with kg rules).
When going further in the proces and I (reselect) the default carrier, the discount will be applied.
Seems that the discount rule will only apply correct

[2019-11-15 22:04] SnefIT commented on #16442
Well, it does, when I select that the rule is available for all carriers. Seems to be a nice workaround for me.

[2019-11-16 11:07] sickboards opened #16443 "Product falls from search index after update"
**Describe the bug**
If you update an existing product it is no longer listed in the search index.
And you have to manually 'add missing products to index'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product, any product
2. Click on save
3. Scroll down to the search index page
4. See that one product is missing from the index (the product you just saved)

**Screenshots**
If appli

[2019-11-16 11:24] Webgaict opened #16444 "Add alerts to combinations 1.7.5"
Good morning,
How can I insert advice in the form of an alert on product purchase variants?

Thanks for help!

[2019-11-16 12:21] nicoladze commented on #16353
Yes, it seems to come from the same problem.

I tried to change things step by step and I found that there were no error if there were no default supplier selected and that the problem was already reported here : #15724

[2019-11-16 17:27] satheeshindr commented on #15174
Same Issue. Kindly provide the solutions ASAP.
I have Changed src/PrestaShopBundle/Resources/config/services/adapter/form.yml
from PR: #15030 to fix the issue.
But not worked form me.
Thanks
![1](https://user-images.githubusercontent.com/22688033/68996758-620f3f00-08c4-11ea-9e3c-a887ec28f8d7.jpg)

[2019-11-16 17:53] CBSMarty opened #16445 "Cant activate / deactivate my products on Prestashop 1.7.5"
Hi,
All of a sudden, without any (known) major changes or modules added to the site, my site stopped letting me activate / deactivate my products..

When I click on the button, site starts loading and ends up with what looks to me as a timeout..
I dont have a lot of products, the site is only on its testing fase.. and it has never been an issue before?

![image](https://user-images.githubuserconte

[2019-11-17 01:10] #16437 closed, assigned to nobody

[2019-11-17 01:13] 8ternity commented on #16154
@khouloudbelguith You can't reproduce if you not install version 1.7.5.0 or 1.7.5.1. In version 1.7.6.X, they added new language French Canada, fr-CA which are not correct. But we can't update to 1.7.6.X from the version 1.7.5.1 due to kernel differences.

[2019-11-17 10:35] didjou commented on #16386
Thank You khouloudbelguith, thank you very much to explain better than me !
I still not understanding why we cannot just change add to cart button for custom for product on 1.7.6 and not have all in disabled ,  It still flows, and it's fundamental
Otherwise it makes no sense to propose personalised product
I really stay in the hope that prestashop will finally do something about it

Let me know

O

[2019-11-17 14:00] HartLarsson commented on #15268
any news or fix?

thanks

[2019-11-17 15:22] CBSMarty commented on #16445
I figured out some more:
I Get this error ....

VM350:1 Uncaught SyntaxError: Unexpected end of JSON input
    at Function.parse [as parseJSON] (<anonymous>)
    at Object.error (form.js?1.7.5.1:703)
    at u (main.bundle.js:313)
    at Object.fireWith [as rejectWith] (main.bundle.js:313)
    at i (main.bundle.js:313)
    at XMLHttpRequest.<anonymous> (main.bundle.js:313)

Help anyone?

[2019-11-17 20:14] nicoladze commented on #9793
This problem is still on PS 1.7.6.1; I encountered it a lot when I stay a little longer on a product sheet without saving it and when I finally click on "Go to catalog", the page invalid token appears and everything is to be done again in the product sheet because nothing has been saved.

[2019-11-18 07:36] khouloudbelguith commented on #15992
Hi @gagah666,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

thanks!

[2019-11-18 07:36] #15992 closed, assigned to nobody

[2019-11-18 07:38] khouloudbelguith commented on #15994
Hi @zagalux,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-18 07:38] #15994 closed, assigned to nobody

[2019-11-18 07:38] khouloudbelguith commented on #15997
Hi @CondeCrapula,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-18 07:38] #15997 closed, assigned to nobody

[2019-11-18 07:39] khouloudbelguith commented on #15975
Hi @labibyanes92,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-18 07:39] #15975 closed, assigned to nobody

[2019-11-18 07:40] khouloudbelguith commented on #15998
Hi @IlPizza79,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-18 07:40] #15998 closed, assigned to nobody

[2019-11-18 07:40] khouloudbelguith commented on #16007
Hi @musaffar-patel,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-18 07:40] #16007 closed, assigned to nobody

[2019-11-18 07:41] Allba commented on #16436
Same problem here, didn't notice that the problem was capital letters on the email, i will try to enforce lowercase email submission until their is a proper fix.

[2019-11-18 07:46] khouloudbelguith commented on #16436
Hi @kodarco, @Allba,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13386
So, I close it.
Thanks !

[2019-11-18 07:46] #16436 closed, assigned to nobody

[2019-11-18 07:46] khouloudbelguith commented on #16436
Duplicate of #13386

[2019-11-18 07:47] khouloudbelguith commented on #16438
Hi @FabricioBottassi,

Please, send your request in English.
English is the norm on GitHub
Thank you!

[2019-11-18 08:01] Allba commented on #13386
Its been several months and still not a fix on a serious issue. This prestashop thing starts to sound like a joke, very disappointed.

[2019-11-18 08:03] khouloudbelguith commented on #16441
Hi @symphonytech111,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to down

[2019-11-18 08:26] khouloudbelguith commented on #16442
Hi @SnefIT,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1H9wTMH8JT_pk_bxNy9qH5a3fhuH0VwbY/view
Thanks to check & feedback.

[2019-11-18 08:27] Amulliez opened #16446 "E-mail blocked by spamhaus"
Hi,

Some order confirmations are not received by our teams. In fact, with each order, 5 people must receive this confirmation.

When the problem happens, some people do not receive the order confirmation or all.

We checked with our provider and it seems that spamhaus blocks Prestashop IP addresses:
- 178.33.107.228/32
- 46.105.33.33/32

Do you be aware of these problems?

The Prestashop version

[2019-11-18 08:33] khouloudbelguith commented on #16446
Hi @Amulliez,

You are probably being spammed.
See :

http://build.prestashop.com/news/fighting-against-spamming-again/
http://build.prestashop.com/news/fighting-against-spamming/

[The maintenance of PrestaShop 1.6.1.x is now being performed exclusively by volunteers to fix critical issues only](http://build.prestashop.com/news/1.6.1.x-what-s-next/)
For this reason, we are closing your issue.

Th

[2019-11-18 08:33] #16446 closed, assigned to nobody

[2019-11-18 08:39] khouloudbelguith commented on #16443
Hi @sickboards,

I did not manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/1I3Nmcmf5XtLivftsKs1MgmGx3kj5bisE/view
But, it could be your issue similar to those problems:
1. https://github.com/PrestaShop/PrestaShop/issues/15640 not fixed yet.
2. https://github.com/PrestaShop/PrestaShop/issues/10530 fixed in the PS1.7.6.0.
3. https://github.com/PrestaShop/PrestaShop/issu

[2019-11-18 09:23] mrabsinthe opened #16447 "Media server not being saved to .htaccess on 1.7.6.1"
**Describe the bug**
I already had a media server before upgrading to 1.7.6.1 from 1.7.5.2. When I changed the media server in BO/Performance, I noticed that is is not being saved to .htaccess file. You can see it correctly in BO but not in the .htaccess file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'BO/Performance'
2. Enter URL in Media server #1
3. Save
4. Download and check

[2019-11-18 09:32] khouloudbelguith commented on #16444
Hi @Webgaict,

In your Project_Folder/themes/your_theme/templates/catalog/_partials/product-variants.tpl
After this line
`    {if !empty($group.attributes)}`
You can add this alert
[code]
I hope this helps you.
Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/Presta

[2019-11-18 09:32] #16444 closed, assigned to nobody

[2019-11-18 09:40] matks commented on #15097
By "use the new system" I meant to populate the translation database with the required strings so the system does not fallback on the legacy 😕 but it's not a great answer I'm afraid.

What about a crazy idea ? What about we disable the `htmlspecialchars` in legacy translation system when it's triggered as fallback (and it's default enabled when used directly) ?

[2019-11-18 09:42] #15438 closed, assigned to Progi1984

[2019-11-18 09:42] #9803 closed, assigned to jocel1

[2019-11-18 09:43] matks commented on #9803
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16404

[2019-11-18 09:45] khouloudbelguith commented on #16445
Hi @CBSMarty,

You need to enable debug mode in your store and debug request which is sent for product enable/disable action in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. enable/disable product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error

[2019-11-18 09:50] khouloudbelguith commented on #16386
@didjou, you are welcome!
I just pinged our Product team, they will specify those improvements & decide the exact fix for our Product.

Thanks!

[2019-11-18 09:50] khouloudbelguith commented on #15268
Hi @HartLarsson,

Sorry not yet.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-11-18 09:53] CBSMarty commented on #16445
Hello, yes..

That got me here:

![image](https://user-images.githubusercontent.com/57841996/69042461-8157ba80-09f1-11ea-8859-ee843faeb2e1.png)

But that corresponds to what i already sent .. :/ i have no idea what to do

[2019-11-18 09:56] khouloudbelguith commented on #16445
@CBSMarty, now click on it, you should see the error message in "Response" or "Preview" tab.

Thanks!

[2019-11-18 09:58] khouloudbelguith commented on #16447
Hi @mrabsinthe,

You need to follow these steps to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2019-11-18 09:58] CBSMarty commented on #16445
@khouloudbelguith  nothing shows up.

![image](https://user-images.githubusercontent.com/57841996/69042965-66d21100-09f2-11ea-96b9-ad9746ad6aa3.png)

[2019-11-18 10:02] khouloudbelguith commented on #16445
@CBSMarty, debug mode is enabled?

Thanks!

[2019-11-18 10:03] CBSMarty commented on #16445
@khouloudbelguith  Yes, yes it is..

[2019-11-18 10:05] khouloudbelguith commented on #16445
@CBSMarty, thanks to provide me your log file.
You can find it in this path `Project_Folder/var/logs`.

Thanks!

[2019-11-18 10:05] mrabsinthe commented on #16447
I know it works that way, but I believe that if you add media server url and save, you shouldn't be going to URLs, disable, save, enable and save. Why so many steps to just add media server, don't you think?

[2019-11-18 10:09] CBSMarty commented on #16445
@khouloudbelguith the dev.log file?

[2019-11-18 10:10] khouloudbelguith commented on #16445
@CBSMarty, yes!

Thanks!

[2019-11-18 10:11] CBSMarty commented on #16445
[dev.log](https://github.com/PrestaShop/PrestaShop/files/3858064/dev.log)

[2019-11-18 10:13] PierreRambaud commented on #15097
@matks Could be a solution yes :) wdyt @eternoendless ?

[2019-11-18 10:20] khouloudbelguith commented on #16447
@mrabsinthe, yes, I have the same issue with PS1.7.5.0 & PS1.7.6.1 & PS1.7.6.2build1 & develop branch.
Ping @PrestaShop/prestashop-product-team what do you think?
I think it is a could improvement to add.
When we add a Media server, the .htaccess file should be automatically generated.
Or, just add a warning to regenerate .htaccess is required.

Thanks!

[2019-11-18 10:27] CBSMarty commented on #16445
@khouloudbelguith  any ideas... ?
Im starting to get desperate... I really cant understand what changed and made my products stop working..

[2019-11-18 10:28] sickboards commented on #16443
Hi, it seems pretty similar to https://github.com/PrestaShop/PrestaShop/issues/15640
can you try actually changing something in the product?

[2019-11-18 10:32] kenlog opened #16449 "Admin HTTP ERROR 500, dependency on a non-existent parameter "mail_themes_dir""
Hi, I get the following error when I try to log in to the administrator, did it happen to someone else?

Thanks

Log-file: `The service "prestashop.core.mail_template.theme_folder_catalog" has a dependency on a non-existent parameter "mail_themes_dir". Did you mean this: "themes_dir"?`

PrestaShop version: 1.7.5.2
PHP version: 7.1.33

[2019-11-18 10:32] CBSMarty commented on #16445
this is the only thing that shows on my debug:

![image](https://user-images.githubusercontent.com/57841996/69045457-29bc4d80-09f7-11ea-8f5f-9031d8f6f41b.png)

[2019-11-18 10:40] joejvggithub commented on #13698
Hi,

I looked for circular references as I had this problem with a 1.7.6.1 migration from 1.6.11.1 and found that this snippet in ./src/Adapter/Category/CategoryDataProvider.php is using a while loop to iterate through an array. I changed it to a foreach loop and no more out of memory and categories associated with the product display properly.

    public function getParentNamesFromList($category

[2019-11-18 10:42] khouloudbelguith commented on #16443
@sickboards,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15640
So, I close it.
Thanks !

[2019-11-18 10:42] #16443 closed, assigned to nobody

[2019-11-18 10:42] khouloudbelguith commented on #16443
Duplicate of #15640

[2019-11-18 10:53] khouloudbelguith commented on #16154
Hi @8ternity,

It is ok in my case
https://drive.google.com/file/d/1eTe8mM3_M4K_brgCiqrUl_bi43gb1S4c/view
Thanks!

[2019-11-18 11:01] khouloudbelguith commented on #15174
Hi @satheeshindr,

No, it is fixed for PS1.7.6.1.
https://drive.google.com/file/d/1IVv3GlsxcdyP8RK24ehVIBcD-OCg2kki/view
Thanks!

[2019-11-18 11:12] khouloudbelguith commented on #16449
Hi @kenlog,

Are you using PS1.7.5.2? or did you make an upgrade to PS1.7.6?
Because The mail template generator is a new feature added to PS1.7.6 in this PR: https://github.com/PrestaShop/PrestaShop/pull/12046

Thanks to check & feedback.

[2019-11-18 11:15] colinegin commented on #9584
@LouiseBonnard do you know why this string is not available in romanian ?

[2019-11-18 11:16] khouloudbelguith commented on #16353
Hi @nicoladze,

thanks for your feedback, it is added to our debug roadmap.
Your ticket is a duplicate of #15724
So, I close it.
Thanks!

[2019-11-18 11:16] khouloudbelguith commented on #16353
Duplicate of #15724

[2019-11-18 11:23] khouloudbelguith commented on #16445
@CBSMarty, you have this error:
`php.CRITICAL: Fatal Error: Allowed memory size of 536870912`
In your php.ini file, Try to increase:

[code]
Thanks to check & feedback

[2019-11-18 11:26] kenlog commented on #16449
Hi @khouloudbelguith thanks for the speed of the reply, I tried to perform the automatic update but it doesn't seem to have succeeded, after which it is no longer possible to access the admin panel. I think this update attempt probably altered the db causing the problem.

You are aware of a similar situation and how I could try to get out of it.
Thanks.

[2019-11-18 11:29] CBSMarty commented on #16445
@khouloudbelguith where do i find that?

[2019-11-18 11:29] khouloudbelguith commented on #16449
@kenlog, now your current version is PS1.7.5.2 or PS1.7.6.?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-11-18 11:30] khouloudbelguith commented on #16445
@CBSMarty, this is a configuration in your server.
If you don't have access, you need to contact your host.

Thanks!

[2019-11-18 11:33] CBSMarty commented on #16445
@khouloudbelguith i have access to all my files, but my init.php doesnt look like that, looks like this.

![image](https://user-images.githubusercontent.com/57841996/69049226-abb07480-09ff-11ea-8f4c-dca04a8b53aa.png)

[2019-11-18 11:41] kenlog commented on #16449
@khouloudbelguith current version is PS1.7.5.2 I looked at the log in autoupgrade but last reference dates back to [2019-06-03 10:53:45] does not seem to have written anything else recently. :confused:

[2019-11-18 12:23] LouiseBonnard commented on #9584
Hello there, it might be because the Romanian translation of the string was lacking brackets. I've just fixed it on [Crowdin](https://crowdin.com/project/prestashop-official/ro#), it should work fine now. @rdy4ever, could you wait a couple of days and then confirm here that it is fine on your store as well? Multumesc!

[2019-11-18 12:34] khouloudbelguith commented on #16445
@CBSMarty, no it is not a PrestaShop file.
Thanks to follow this link: https://www.php.net/manual/en/configuration.file.php

[2019-11-18 12:37] khouloudbelguith commented on #16449
@kenlog, did you made the upgrade since when?
In your file: Project_Folder/app/config/config.yml those lines exist:?
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.0/app/config/config.yml#L16
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.0/app/config/config.yml#L17

Thanks!

[2019-11-18 12:47] jf-viguier opened #16451 "[Idea] Add hook on cart update"
I'm developing a cross canal voucher system, not connected to prestashop cart rules. There is no way to hook to ajax cart change. The updateCart of the Cart Controller has no hook.
There is no other usable hook because it's called by postProcess before iniHeader or initContent.

updateCart() manage major actions that could be changed or overrided by modules :
- add/remove a product in the cart
- C

[2019-11-18 12:52] nicoladze commented on #15724
@khouloudbelguith

There is a another error than the one stipulated here.

The purchasing price on "Price" part is also set to the supplier price fulfilled in "Options" part when a default supplier is selected.

[2019-11-18 13:16] khouloudbelguith commented on #16451
Hi @jf-viguier,

Thanks for your report.
In fact, we have those hooks:

- actionObjectProductInCartDeleteBefore: This hook is called before a product is removed from a cart
- actionObjectProductInCartDeleteAfter: This hook is called after a product is removed from a cart
-

In the PS1.7.6, we have added those hooks:

- displayProductActions: This hook allow additional actions to be displayed & tri

[2019-11-18 13:38] khouloudbelguith commented on #16353
The purchasing price on "Price" part is also set to the supplier price fulfilled in "Options" part when a default supplier is selected.

@nicoladze, this issue occurs only when you have a product assigned to a supplier?

Thanks!

[2019-11-18 13:42] didi-2018 commented on #16348
Hi @khouloudbelguith, do got any news?

[2019-11-18 13:42] jf-viguier commented on #16451
My concern is managing custom voucher code not connected to prestashop cart rules.
Ok for actionObjectProductInCartDeleteBefore/After but it's only for deletion.
Other hooks are for display, not action.

[2019-11-18 13:43] khouloudbelguith commented on #16348
@didi-2018, sorry not yet.

Thanks for your understanding!

[2019-11-18 13:50] amroeldewiny commented on #16171
Thanks khouloudbelguith for helping me, i try many ways to install prestashop 1.7 on my macOS
i tried MAMP, Docker, terminal PHP - Mysql,  nothing form this tools working with me . So my last chance it was with
Bitnami MAMP Stack and everything working correctly.

[2019-11-18 13:52] khouloudbelguith commented on #16171
@amroeldewiny, thanks for your feedback.
Since it is ok, I will close the issue.

Thanks!

[2019-11-18 13:52] #16171 closed, assigned to nobody

[2019-11-18 14:08] Oxyde59 opened #16452 "Amount cart rule don't removed from total"
Hi everybody,

I'm on PS 1.7.5 and I use multi shops
I creat my first cart rule for a 200€ discount on a specific product, but I don't undestand why, the discount is displayed, but not remove from the total.
I know the rule is OK, because when I change de discount from amount to a percent one (20% for example), it work fine (displayed and remove)

We already post some help on prestashop forum here

[2019-11-18 14:26] khouloudbelguith commented on #16452
Hi @Oxyde59,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1YunQYYMH6kJZio0TSFmcRP1VssTIObn2/view
Thanks to check & feedback.

[2019-11-18 14:40] NKoonen opened #16453 "invalid customer names"
If a customer does not have a valid name (for example a dot) and you want to change that user's password, it gives the following error in the backend:

If that very same user wants to reset their password through the frontoffice, the users receives a invalid reset link.

**Additional information**
PrestaShop version: 1.7.X
PHP version: 7.2 / 7.3

[2019-11-18 14:45] Oxyde59 commented on #16452
Did u try with multi shops ?
Here is my result :
https://drive.google.com/file/d/1n3IcVOmFHx6XYCxnDLUn4mix5iVAxTnt/view

[2019-11-18 14:45] khouloudbelguith commented on #16453
Hi @NKoonen,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14838 to fix the issue.
It is fixed in the next version PS1.7.7.0.
Your ticket is a duplicate of #14157
So, I close it.

PS: PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can f

[2019-11-18 14:45] #16453 closed, assigned to nobody

[2019-11-18 14:46] khouloudbelguith commented on #16453
Duplicate of #14157

[2019-11-18 14:52] khouloudbelguith commented on #16452
@Oxyde59, yes, it is OK.
https://drive.google.com/file/d/1srNEJP8Y-LtdIuO4zrvNx3EtrtFavBkh/view
Have you tried to contact the theme author about this issue?
Thanks to check with them & feedback.

[2019-11-18 14:52] fabio-zetaweb commented on #9641
hi,

is there a way to turn off outofstock mails on v1.7.6.0?

[2019-11-18 15:31] #11083 closed, assigned to PierreRambaud

[2019-11-18 15:32] matks commented on #11083
@darfk3d3 it's done now 😉 thanks to @PierreRambaud 's work

[2019-11-18 15:35] Klemart3D commented on #10824
Hi, I manage to reproduce this bug from PS 1.7.5.2 to 1.7.6.1.
@jgtrescazes: if you found a way to fix it, can you create a [pull request](https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/)? Thanks!

[2019-11-18 15:37] Oxyde59 commented on #16452
You are wright, i just try on another shop with the classic theme and it work.
I'm going to contact the theme autor, you can close this bug
Thank you !

[2019-11-18 15:38] khouloudbelguith commented on #16452
Hi @Oxyde59,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-11-18 16:03] kenlog commented on #16449
Hi @khouloudbelguith I have checked and the following parameters mail_themes_uri and mail_themes_dir are not present.

[2019-11-18 16:11] khouloudbelguith commented on #16449
@kenlog, now check if this file is displayed in your path
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.0/src/PrestaShopBundle/Resources/config/services/core/mail_template.yml

Thanks!

[2019-11-18 16:14] kenlog commented on #16449
@khouloudbelguith It exists

[2019-11-18 16:17] khouloudbelguith commented on #16449
@kenlog, so that's the problem.
The file, it doesn't exist in the PS1.7.5, it is added during the upgrade, but your file /project_folder/app/config/config.yml is not updated.
Try to add those lines in your file: Project_Folder/app/config/config.yml those lines:
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.0/app/config/config.yml#L16
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.0/app/

[2019-11-18 16:19] kenlog commented on #16449
@khouloudbelguith Added and this is the result: `PHP Fatal error: Uncaught Symfony\\Component\\Yaml\\Exception\\ParseException: A YAML file cannot contain tabs as indentation at line 16 (near "\tmail_themes_uri: "/mails/themes"").`

[2019-11-18 16:23] kenlog commented on #16449
@khouloudbelguith Added and this is the result: `PHP Fatal error: Uncaught Symfony\\Component\\DependencyInjection\\Exception\\ServiceNotFoundException: The service "prestashop.core.currency.grid_data_factory" has a dependency on a non-existent service "prestashop.core.grid.data_provider.currency".`

[2019-11-18 16:24] MatShir opened #16455 "[Order List] Bulk action to open multiple orders in new tabs"
**Is your feature request related to a problem? Please describe.**
To open multiple orders in a new tab with the bulk actions.
**Describe the solution you'd like**
Add "Open in new tabs" in the bulk action list.

If the browser blocks the opening of commands in other tabs, a modal will be displayed to the user to explain how to solve the problem.

[2019-11-18 16:28] khouloudbelguith commented on #16449
@kenlog, during the upgrade to PS1.7.6, you have a problem.
Have you a backup before the upgrade?

Thanks!

[2019-11-18 16:28] MatShir commented on #14736
As discussed with @jolelievre @matks To compleat the feature, we dig out this one #16455 from another bigger issue. It is a "nice to have", so to be done after all the "must" feature (High) are been reviewed & merged before the feature freeze.

[2019-11-18 16:32] kenlog commented on #16449
Yes sure, in the meantime, thank you for your help. @khouloudbelguith

[2019-11-18 16:34] khouloudbelguith commented on #16449
@kenlog, thanks to check & feedback.

[2019-11-18 16:37] nicoladze commented on #16353
Yes, it does when a supplier by default is selected.

When we select one more supplier and put it by default then we deselect it;
so there is one supplier selected and no supplier by default; the error
disappears.

But this a not a long term solution if I want to put a default supplier.

Le lun. 18 nov. 2019 à 14:38, khouloudbelguith <notifications@github.com> a
écrit :

[2019-11-18 16:42] khouloudbelguith commented on #16353
@nicoladze, it is ok in my case.
I attached a screen record
https://drive.google.com/file/d/1z7JliPLyZ-xHGuB066a8NDNM-mfMj4f2/view
Thanks to check & feedback.

[2019-11-18 17:20] CBSMarty commented on #16445
@khouloudbelguith  Hi, i have been trying to figure this out all day..
Now im currently waiting for my host provider to upgrade my service, hopefully this helps.

And I noticed my prestashop is not up to date either. So i will try to update my version after my host has been upgraded.

[2019-11-18 17:41] Matt75 opened #16458 "Module::isRegisteredInHook() not manage multistore"
**Describe the bug**
If multistore enabled and 2 shops configured, result of Module::isRegisteredInHook() is not good

Hook::isModuleRegisteredOnHook() is good thanks to id_shop usage in query

Module developers use this to check if a hook used by the module is been registered but it do not manage multistore, for example in an upgrade script or configuration checker script

**To Reproduce**
Steps

[2019-11-18 18:16] HartLarsson commented on #15395
same problem on 1.7.6.1

[2019-11-18 18:20] HartLarsson commented on #15268
any workaround in the while that will be fixed?
There is a way to bring manually translation to the child theme?

thanks

[2019-11-18 18:51] nicoladze commented on #16353
@khouloudbelguith

To get the error, you have to have more than one supplier listed but you have to select only one supplier and to put it by default also.

[2019-11-18 20:57] mrabsinthe opened #16460 "Dashboard - customer link not working 1.7.6.1"
**Describe the bug**
A link to a customer from dashboard will not open the Information about customer page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard - Last 10 orders
2. Click on any customer name
3. Instead of the selected customer details page, you'll only get general list of customers

I think the correct logic should be to show Information about customer page.

**Ad

[2019-11-18 21:09] symphonytech111 commented on #16441
Many thanks for your reply.

I have downgraded to 7.2; the issue remains.

Best wishes,

Dave

From: khouloudbelguith <notifications@github.com>
Sent: 18 November 2019 08:04
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: symphonytech111 <junk@symphonymusic.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Faceted search check boxes issue: ticks and x'

[2019-11-18 21:25] symphonytech111 commented on #16441
You can also see the issue in action at www.symphonymusic.co.uk

As earlier, I have downgraded to php 7.2 and the issue remains

[2019-11-18 22:41] darfk3d3 commented on #11083
Great news.
To be able to use emoji we have to wait for PS1.7.7. to be released or there's a way to apply the modify also to previous PS versions?

[2019-11-19 02:28] CatchMeZZo commented on #16027
Same issue here!

MySQL-Version 5.7.26-nmm1-log
Apache Server Linux #75-Ubuntu SMP Tue Oct 1 05:24:09 UTC 2019 x86_64
PHP-Version 7.1.30-nmm1

[2019-11-19 04:50] 8ternity commented on #16154
@khouloudbelguith In your log, you have the error qc.js (which is related to the language).

I also found [this problem](http://forge.prestashop.com/browse/BOOM-2959) has similar issue. It's look like the problem are with Date Picker and Jquery fr-CA language with "QC" has iso code. It's the same situation i have. Check your Chrome log, you have the qc.js missing too.

I have more modules which ca

[2019-11-19 07:39] khouloudbelguith commented on #16458
Hi @Matt75,

I have the same issue with PS1.7.6.1 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/69126279-2503a200-0aa8-11ea-87a9-4c3e6cb39455.png)

I’ll add this to the debug roadmap.
Thanks!

[2019-11-19 07:49] khouloudbelguith commented on #16460
Hi @mrabsinthe,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.2build1.
https://drive.google.com/file/d/1sQIxxAZvZsi1MeDaaw5wljNQDlEC7zg3/view
It is ok with PS1.7.5.2, it is a regression.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-11-19 07:51] khouloudbelguith commented on #16460
Related to: https://github.com/PrestaShop/PrestaShop/issues/14672

[2019-11-19 08:00] khouloudbelguith commented on #16154
@8ternity,

Yes, it is added to our bug roadmap.

We are aware of this issue, Date pickers format is not changing based on the user locale.
It is reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/13977

Thanks!

[2019-11-19 08:06] khouloudbelguith commented on #16027
Hi @CatchMeZZo,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-11-19 08:08] khouloudbelguith commented on #11083
Hi @darfk3d3,

Here are the exact files to add this new feature.

Thanks!

[2019-11-19 08:15] khouloudbelguith commented on #16441
@symphonytech111, you are not using the default theme Classic provided by PrestaShop.
Have you tried to contact the theme author about this issue?

Thanks to check with them & feedback.

[2019-11-19 08:24] khouloudbelguith commented on #15395
Hi @HartLarsson,

Issue reported here: #15268.

Thanks!

[2019-11-19 08:28] khouloudbelguith commented on #16353
@nicoladze, Thanks for your feedback.
I attached a new screen record
https://drive.google.com/file/d/1Kq0Q6XSFsxpHxHgqLd_dtv0bLGAmQjT-/view
Thanks to check & feedback.

[2019-11-19 08:29] MariaRobles commented on #9903
It still happening for me the same issue.
I have prestashop 1.7.5
And búsqueda por facetas 3.4.0
Any one knows how to fix it???

[2019-11-19 08:31] khouloudbelguith commented on #16445
@CBSMarty, thanks, waiting for your feedback.

PS: PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible

[2019-11-19 08:33] khouloudbelguith commented on #9903
Hi @MariaRobles,

The problem is fixed if we use the icon in the position column. The product is selected and we can change the position and saved and all changes are validated.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14879 to fix the issue.
It is fixed in the PS1.7.7.0.
Since this PR correct the problem it's OK a New issue was created for the second issue: #15291

Thanks!

[2019-11-19 08:46] MariaRobles commented on #9903
Thanks a lot!

[2019-11-19 09:16] Oxyde59 commented on #16452
I have some news ...
Please could you reopen ?
I could reproduce the problem with the classic theme, so it's not the theme.
We have 2 shops, only one is impacted.
But i forgot to give you a detail : our theme on the impacted shop is on a child_theme

[2019-11-19 09:17] Oxyde59 commented on #16452
Could you test like this with this in first step :  make a child_theme of "classic"

[2019-11-19 09:17] khouloudbelguith commented on #16452
@Oxyde59, thanks to provide me the exact steps to reproduce the issue.

[2019-11-19 09:20] Oxyde59 commented on #16452
1/ make a child_theme of theme "classic" named "child_classic"
2/ switch the shop to this "child_classic" theme
3/ make a amount discount for a product and test as explain before

[2019-11-19 09:38] khouloudbelguith commented on #16452
@Oxyde59, I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2
https://drive.google.com/file/d/1xjFobgmUOSS7BkutJ8WANI-vfUIbOqzO/view
I used this child theme
[childtheme-example.zip](https://github.com/PrestaShop/PrestaShop/files/3863037/childtheme-example.zip)
downloaded from this repository: https://github.com/PrestaShop/childtheme-example

Thanks to check & feedback.

[2019-11-19 09:53] Oxyde59 commented on #16452
Rhaa f*** :(
thanks for trying.
I can reproduce with our shop, but not with a new shop ...
I don't undestand... Where the total of the cart is calcutated ?

[2019-11-19 09:58] khouloudbelguith commented on #16452
@Oxyde59,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thanks!

[2019-11-19 09:58] #16452 closed, assigned to nobody

[2019-11-19 11:01] yannicka opened #16462 "Ecotax is unavailable for combinations"
**Describe the bug**
Ecotax is unavailable for combinations

By displaying the variable `$product` in the loop of the file `/themes/classic/templates/checkout/_partials/order-confirmation-table.tpl` (order confirmation page), the `ecotax` is `"0.000000"` for the combination.

`ecotax` seems to refer to the ecotax of the product and therefore seems to override the one of the combination.

The same

[2019-11-19 11:10] khouloudbelguith commented on #16462
Hi @yannicka,

Since it is a duplicate, I need to close this issue.
But I will edit the oldest report.

Thanks!

[2019-11-19 11:10] #16462 closed, assigned to nobody

[2019-11-19 11:10] khouloudbelguith commented on #16462
Duplicate of #9967

[2019-11-19 11:40] jf-viguier commented on #14855
Its really a good idea @PrestaSafe
@mickaelandrieu ready to give us a help to start something like that ?

[2019-11-19 12:29] lydia1996-23 opened #16463 "problem with instaling npm"
please can you help me i have a bug when i install npm
And here's the result:

npm install -g npm@latestMicrosoft Windows [version 6.1.7600]
Copyright (c) 2009 Microsoft Corporation. Tous droits réservés.

C:\Users\pc>npm install -g npm@latest
npm ERR! code EINVAL
npm ERR! syscall mkdir
npm ERR! path C:\Users\pc\;C:\Program Files\Java\jdk1.8.0_111\npm-2336-8479de8f\
unpack-fe3b0136
npm ERR! errno

[2019-11-19 12:35] darfk3d3 commented on #11083
@khouloudbelguith Thank you!

[2019-11-19 12:52] nicoladze commented on #16353
@khouloudbelguith

I just checked and I do not have the error when I create a new product sheet.
I only have the error when I change things on a previous product sheet (created with a previous version of PS) or when I use the "duplicate" option on a previous one.

[2019-11-19 12:54] MatjeGit commented on #14917
Thanks!!  worked for us.

[2019-11-19 12:55] joesibarani opened #16464 "Ios"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2019-11-19 12:57] yannicka commented on #9967
As described in #16462, ecotax is unavailable for combinations

By displaying the variable `$product` in the loop of the file `/themes/classic/templates/checkout/_partials/order-confirmation-table.tpl` (order confirmation page), the `ecotax` is `"0.000000"` for the combination.

`ecotax` seems to refer to the ecotax of the product and therefore seems to override the one of the combination.

The sa

[2019-11-19 13:02] nicoladze commented on #16353
@khouloudbelguith

It has worked one time but then I came back on my new product sheet and when I clicked on "Go to catalog" and came back to the sheet, the error was there again...

[2019-11-19 13:15] khouloudbelguith commented on #16463
Hi @lydia1996-23,

You can follow this link: https://www.npmjs.com/get-npm
I hope this helps you.
Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understa

[2019-11-19 13:15] #16463 closed, assigned to nobody

[2019-11-19 13:15] CatchMeZZo commented on #16027
Now i know the issue.

This only applies to products that have entered a supplier as a standard!

When you deactivate under supplier the main supplier (radio) and save the product - now you can save the wholesale price.

Thats a PrestaShop 1.7.6.1 BUG!

[2019-11-19 13:19] khouloudbelguith commented on #16464
Hi @joesibarani,

Thanks to add a clear description & the exact steps to reproduce the issue.

[2019-11-19 13:23] khouloudbelguith commented on #16353
@nicoladze, what is the exact previous version did you use?
Did you make an upgrade using the 1-click upgrade module?

Thanks!

[2019-11-19 13:36] khouloudbelguith commented on #16027
Hi @CatchMeZZo,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1Kq0Q6XSFsxpHxHgqLd_dtv0bLGAmQjT-/view
Thanks!

[2019-11-19 13:48] nicoladze commented on #16353
@khouloudbelguith

I was on PS 1.7.2.4 and I did the upgrade with the 1-click upgrade module

[2019-11-19 15:08] lydia1996-23 commented on #16463
hi thank you for your help  , but i could not solve the problem
thank you so much

Le mar. 19 nov. 2019 à 14:16, khouloudbelguith <notifications@github.com> a
écrit :

[2019-11-19 16:43] matks opened #16466 "Bad link to Module Catalog from homepage"
**Describe the bug**
From BO dashboard, I see advertisements for modules. When I click on them am I redirected to my backoffice module catalog on the generic listing page, not on the module I clicked.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO dashboard
2. See the modules advertisement (see screenshot below)
3. Click on advertisement
4. You arrive on standard module catalog pag

[2019-11-19 16:45] acer1981 commented on #16298
Hello,
 
We have updated our PHP to 7.1 version, but the problem still appears.
 
 
Here is our admin area logins:
 
Link:  https://www.hannu.pro/juvw5lnbhvzkuowu
Login:  vilnius@hannu-pro.com
Password: e19460820
 
Looking forward to hearing from you,
Kind Regards,
Eugene

 

 
 
--
Евгений Мехтиев
 

[2019-11-19 17:06] khouloudbelguith commented on #16353
Hi @nicoladze,

I manage to reproduce the issue with PS1.7.6.1 & ps1.7.6.2build1.
Steps to reproduce the issue:
1. Create 3 suppliers
2. Create a product with
2.1 Price = 12 tax included / =10 tax excluded
2.2 Tax =20%
2.3 Price per unit= 10 /ml
2.4 Cost price = 10
2.5 In the Options Tab, select one supplier as a default.
2.6 Price (tax excl.) for the supplier = 10
3. Enable product & Save
4. Go t

[2019-11-19 17:11] khouloudbelguith commented on #16298
Hi @acer1981,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-11-19 17:15] khouloudbelguith commented on #16466
Hi @matks,

I have the same issue with PS1.7.5.2 & PS1.7.6.1 & PS1.7.6.2build1.
https://drive.google.com/file/d/1bqLDvaKaCQzhAKcgax5a_7oWDDT9fgPT/view
I’ll add this to the debug roadmap.
Thanks!

[2019-11-19 17:22] matks commented on #16466
I checked a few others:
- some modules, when I click it works and the module is installed successfully( @PrestaShop/prestashop-product-team is that alright ? I click on a link on dashboard and it installs the module ?!)
- some modules have this behavior

[2019-11-20 07:58] khouloudbelguith commented on #16034
Hi @centoasa,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-20 07:58] #16034 closed, assigned to nobody

[2019-11-20 07:59] khouloudbelguith commented on #16042
Hi @beniwal,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-20 07:59] #16042 closed, assigned to nobody

[2019-11-20 09:35] CBSMarty commented on #16445
Hi @khouloudbelguith

I set my php version to 7.2. However im tryng to update my store via the 1-click upgrade but gives me an error... I can see more people have the same issue with this:
[Ajax / Server Error for action unzip] textStatus: "error " errorThrown:" " jqXHR: " "

[2019-11-20 09:44] khouloudbelguith commented on #16445
@CBSMarty, what is the exact version of 1-click upgrade did you use?

Thanks!

[2019-11-20 09:47] CBSMarty commented on #16445
@khouloudbelguith  v4.9.0

[2019-11-20 09:50] khouloudbelguith commented on #16445
@CBSMarty, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-11-20 09:52] CBSMarty commented on #16445
@khouloudbelguith
[log.txt](https://github.com/PrestaShop/PrestaShop/files/3868494/log.txt)

[2019-11-20 10:00] khouloudbelguith commented on #16445
@CBSMarty, there is no error in this log file, the upgrade just stopped.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-11-20 10:10] CBSMarty commented on #16445
Hi, i read the article but doesnt quite help me..

In my files i cant find any log regarding php.

![image](https://user-images.githubusercontent.com/57841996/69229769-5d79ad80-0b86-11ea-8fa6-5a57b823929a.png)

And my debug mode doesnt show on the 1-click upgrade page

[2019-11-20 10:13] khouloudbelguith commented on #16445
@CBSMarty, your log file is available in this path `Project_Folder/var/logs/`.

Thanks!

[2019-11-20 10:16] CBSMarty commented on #16445
@khouloudbelguith  is it this one?
[dev.log](https://github.com/PrestaShop/PrestaShop/files/3868622/dev.log)

[2019-11-20 10:19] CBSMarty commented on #16445
@khouloudbelguith  here i can see it timesout:

https://gyazo.com/045e4df739c2ad29bce0503f842ddac8

[2019-11-20 10:26] khouloudbelguith commented on #16445
@CBSMarty, you have this error
`php.DEBUG: Warning: set_time_limit(): Cannot set max execution time limit due to system policy {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\SilencedErrorContext: {\"severity\":2,\"file\":\"/customers/9/f/8/cbsracingshop.com/httpd.www/modules/autoupgrade/AdminSelfUpgrade.php`
It is a server issue, you need to forward this error to your host.
I think

[2019-11-20 10:29] CBSMarty commented on #16445
@khouloudbelguith  Ill try that!
However I found this aswell , is this related?

![image](https://user-images.githubusercontent.com/57841996/69231216-fc9fa480-0b88-11ea-8f9a-0db2419ca30c.png)

[2019-11-20 10:35] khouloudbelguith commented on #16445
@CBSMarty, the process of the upgrade is just stoped.
Thanks to check with your host & feedback.

[2019-11-20 10:35] fabio-zetaweb commented on #16038
Hello,

I have the same issue (@Fixmetal) using v1.7.6.1.

1. no error from GET request
8. no error in response (status code 200) and wholestate_price field is filled

**Here are my server data**
server software: nginx/1.14.0
PHP v: 7.1.22
memory limit: 512M
max execution time: 300
max filesize to upload: 256M

Could I contact you in private?

[2019-11-20 10:47] khouloudbelguith commented on #16038
@fabio-zetaweb, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.6.1 using an Nginx server.
https://drive.google.com/file/d/1IVsYmsP0P4a-wVkdrWN0WRqy5PQcwI8v/view
What is the exact type of product? if it a standard product, is it simple or with combinations?

Thanks!

[2019-11-20 10:48] CBSMarty commented on #16445
@khouloudbelguith  they told i cant get access to my php.ini file and change it...
But these are my settings...
Shouldnt it be enough?

PHP safe_mode   Off
PHP memory_limit    4 GB
PHP upload_max_filesize    96 MB
PHP post_max_size  96 MB
PHP max_execution_time 50 seconds
GD Graphics Library      On
MySQL max_user_connections     40
MySQL max_allowed_packet   512MG

[2019-11-20 10:53] CBSMarty commented on #16445
would you say its maybe better to upgrade prestashop manually instead?

Maybe this can fix all my other issues

[2019-11-20 10:54] khouloudbelguith commented on #16445
@CBSMarty, thanks to provide me a screenshot from your BO => Advanced Parameters => Information page.

Thanks!

[2019-11-20 10:56] CBSMarty commented on #16445
@khouloudbelguith  https://gyazo.com/8f99d0009b7352dcb4fab6ecd29cf280

[2019-11-20 11:02] khouloudbelguith commented on #16445
@CBSMarty, your PHP version is still PHP7.3.
![image](https://user-images.githubusercontent.com/16067358/69233626-86517100-0b8d-11ea-8c3e-a284eb8bddb3.png)

This is an incorrect, please downgrade your PHP version.
Also, your memory limit is defined without unity.

For example, check my configuration
![image](https://user-images.githubusercontent.com/16067358/69233666-9bc69b00-0b8d-11ea-9a1d-71dcd4

[2019-11-20 11:04] CBSMarty commented on #16445
I changed my php version again now..

yes i know, thats what i told them, but didnt say anything about it

[2019-11-20 11:05] khouloudbelguith commented on #16445
@CBSMarty, Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this

[2019-11-20 11:17] fabio-zetaweb commented on #16038
Hello,

only a few product are affected, those signaled from my customer are all simple product.

Fabio Di Crescenzo

Zetaweb ADV
via Monte Maiella, 81 - 66026 - Ortona - Ch
Tel./fax: 085 9064145
www.zetaweb.it - fabio@zetaweb.it

[2019-11-20 11:21] CBSMarty commented on #16445
I cant login to see it...

[2019-11-20 11:21] khouloudbelguith commented on #16038
@Fixmetal, I found the exact issue.
The cost price reset to 0 if you activate/deactivate or duplicate products in the BO product list.
If you save a new cost price, then reopen product is always 0
Behavior only on duplicated products.
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10792
So, I close it.
Thanks!

[2019-11-20 11:21] #16038 closed, assigned to nobody

[2019-11-20 11:21] khouloudbelguith commented on #16038
Duplicate of #10792

[2019-11-20 11:23] khouloudbelguith commented on #16445
@CBSMarty, the credentials are:

- `prestashop`
- `prestashop`

Thanks!

[2019-11-20 11:24] nicoladze commented on #16353
@khouloudbelguith

And if you fulfill a different price (tax excl.) for the supplier on Options tab (8€), it will set the cost price in Pricing tab to 8€ instead of the 10€ previously fulfilled.

[2019-11-20 11:25] CBSMarty commented on #16445
yes, didnt work... my site completely broke now

[2019-11-20 11:36] khouloudbelguith commented on #16445
@CBSMarty, it is just a phpinfo file equivalent to the phpinfo() function.
thanks to try with this file
[test.php.zip](https://github.com/PrestaShop/PrestaShop/files/3868968/test.php.zip)

I deleted the credential check.

Thanks!

[2019-11-20 11:41] CBSMarty commented on #16445
Hello, that worked...

https://www.cbsracingshop.com/test.php

But my site now is totally broken...

[2019-11-20 11:45] khouloudbelguith commented on #16445
@CBSMarty, try to remove the previous file phppsinfo.php & clear cache.
Also, as you can see now
![image](https://user-images.githubusercontent.com/16067358/69236250-6ae96480-0b93-11ea-855c-5c297faaa8b3.png)
Thanks to check `memory_limit` value with your host, there is no Unity & try to increase `post_max_size` & the `upload_max_filesize`.

Thanks!

[2019-11-20 11:46] CBSMarty commented on #16445
They wont let, they say its their server configuration

[2019-11-20 11:49] khouloudbelguith commented on #16445
@CBSMarty, could you please provide me again the screenshot from the BO => Advanced Parameters => Information page.

Thanks!

[2019-11-20 11:52] CatchMeZZo commented on #16027
I got it! A new function has been installed secretly in the stock management. Whene you activate a supplier you must enter a wholesale price at the bottom. If not, the wholesale price under the tab "Price" changes automatically to 0. Even if a value has already been entered there.

I am now desperately looking for a solution to deactivate the function or transfer the price that already entered und

[2019-11-20 11:56] khouloudbelguith commented on #16353
@nicoladze, yes, you are right, I just edited the first comment.
https://drive.google.com/file/d/1Gt9uAlYgAgeKI4WMneCyUB5jJBvJA7ij/view
Thanks!

[2019-11-20 11:58] khouloudbelguith commented on #16027
@CatchMeZZo,

I  just reproduced this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16353
So, I close it.
Thanks!

[2019-11-20 11:58] #16027 closed, assigned to nobody

[2019-11-20 11:58] khouloudbelguith commented on #16027
Duplicate of #16353

[2019-11-20 12:02] caygri commented on #15385
any update?

[2019-11-20 12:21] webrdinfo opened #16470 "[1.7.6.1] Erreur 500: Panier avec adresse supprimée"
Prestashop 1.7.6.1

1. Créer un panier, avec une adresse enregistrée
2. Supprimer l'adresse de votre compte
3. Erreur 500 en BO sur la page des paniers, ainsi que sur la page d'édition du client en question

request.INFO: Matched route "admin_customers_view". {"route":"admin_customers_view","route_parameters":{"_controller":"PrestaShopBundle\\Controller\\Admin\\Sell\\Customer\\CustomerController::

[2019-11-20 12:23] CBSMarty commented on #16445
@khouloudbelguith  yes ofc.
https://gyazo.com/0e7e3865220c5ff2412d391687d0f184

[2019-11-20 12:35] eternoendless opened #16471 "Use static analyser to improve code quality"
Let's integrate [PHPStan](https://github.com/phpstan/phpstan) or [Psalm](https://github.com/vimeo/psalm) into our CI to improve code quality.

[EDIT by @Progi1984]
:notebook: Applied
- [x] on `admin-dev/`
  - #24678
- [x]  on `classes/` (445)
  - #25533
  - #25916
  - #26164
  - #26478
  - #26727
  - #26913
- [x]  on `config/` (25)
  - #26479
- [x]  on `controllers/` (799)
  - #26518
  - #26770

[2019-11-20 12:39] ManuBZL commented on #15385
Yes, finally got it working. I activated "cgi mode" in the webservice options. And after several attempts, webservice began to work. Didn't need to change any configuration

[2019-11-20 12:43] margud opened #16472 "Log when creating order"
**Describe the bug**
Every time user created order, prestashop logs warning.

**To Reproduce**
Steps to reproduce the behavior:
1. Create any order
2. Go to BO logs
3. You can see new log every time order is created "Frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart"

**Additional information**
Log is created in FrontController.php init function:

[2019-11-20 12:48] tdavidsonas88 commented on #16472
@margud will test it and let you know about fixing it

[2019-11-20 13:00] khouloudbelguith commented on #16472
Hi @margud,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9866
So, I close it.
Thanks !

[2019-11-20 13:00] #16472 closed, assigned to nobody

[2019-11-20 13:00] khouloudbelguith commented on #16472
Duplicate of #9866

[2019-11-20 13:01] khouloudbelguith commented on #16472
Hi @tdavidsonas88,

If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-11-20 13:09] khouloudbelguith commented on #16445
@CBSMarty, thanks for your feedback.
As I said before

This is the only solution for now because you have time out of the server & the upgrade process is stopped due to the memory_limit.

Thanks!

[2019-11-20 13:10] khouloudbelguith commented on #16471
Ping @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-product-team

[2019-11-20 13:10] WellStraler opened #16474 "Carrier - Ranges are overlapping"
Hi!

I can't access the 2nd page on the "Carrier" page to edit the cost of a shipment.
On top is the error: "Ranges are overlapping"

![image](https://user-images.githubusercontent.com/57994075/69241406-08966100-0b9f-11ea-886f-53d2904674d8.png)

PrestaShop version: 1.6.1.14

[2019-11-20 13:12] khouloudbelguith commented on #16474
Hi @WellStraler,

I did not manage to reproduce the issue with PS1.7.6.1.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in extended maintenance mode until June 30, 2019.

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs can be fixed.

Thanks for your understanding!

[2019-11-20 13:12] #16474 closed, assigned to nobody

[2019-11-20 13:14] CBSMarty commented on #16445
Yea, and they dont want to change it...
So now im just backing up and deleting everything on my site.. And download a new version and start from the beginning again....

[2019-11-20 13:15] ttoine opened #16475 "Remove dependencies from the core repositories."
**Describe the bug**
Currently, a few dependencies are still included in the core repository, instead of having their own repository and/or being managed with a package manager like Composer or NPM.

**To Reproduce**
https://github.com/PrestaShop/PrestaShop/tree/develop/js
The main example is TinyMCE, in LGPL, in our repo in OSL.

**Additional information**
The target is to have only code in OSL i

[2019-11-20 13:16] khouloudbelguith commented on #16445
@CBSMarty, Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

I close the issue, feel free to open a new one when needed.

Thanks!

[2019-11-20 13:16] #16445 closed, assigned to nobody

[2019-11-20 13:21] khouloudbelguith commented on #16470
Hi @webrdinfo,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/1-qiZrC_14IoTMrklfP12XOZwIf4txhFk/view
This issue is fixed previously with this PR: https://github.com/PrestaShop/PrestaShop/pull/11416
as reported here: https://github.com/PrestaShop/PrestaShop/issues/9782

Thanks to check & feedback.

[2019-11-20 13:23] #11172 closed, assigned to matks

[2019-11-20 13:29] jeckyl opened #16476 "Bad shipping costs when $currency_special is used"
**Describe the bug**
When you want to validate an order with a currency other than that of the current context, for example when the payment method supports only one currency, you can force the currency identifier into the variable $currency_special, which allows you to calculate each element on the basis of this new currency.
The calculation of the products is done without any problems, but for t

[2019-11-20 13:33] webrdinfo commented on #16470
Je n'avais pas ce fix sur ma version: https://github.com/tomlev/PrestaShop/commit/3ab074071ab655a79785fd39446668d7ca44ce08#diff-9ce4b21a6757aaa5b15bb51742d096c4

J'ai corrigé, merci

[2019-11-20 13:38] eternoendless opened #16477 "PrestaShop must be compatible with PHP 7.4"
PHP 7.4 is due for release in November 2019.

PrestaShop 1.7.8 should work with PHP 7.4.

[2019-11-20 13:44] matks commented on #16477
This will be especially important since php7.1 support will end on December 1st 2019, so PS 1.7.7 will be compatible only with 2 supported versions (php7.2 and php7.3), which is a very small range.

Source https://www.php.net/supported-versions.php

[2019-11-20 13:50] khouloudbelguith commented on #16476
Hi @jeckyl,

Paypal module is it a good module to reproduce the issue?
With Paypal, we can select only one currency
![image](https://user-images.githubusercontent.com/16067358/69244302-033c1500-0ba5-11ea-8611-8336d51f8146.png)

Thanks!

[2019-11-20 13:54] fabio-zetaweb commented on #16038
hi,

I did not manage to reproduce the issue duplicating another product. Cost price remains as it was and if i change the value it saves changes regularly.

[2019-11-20 14:23] SignalBip commented on #15914
Hello, thanks again for your help.
Here it is: http://signalbip.com/phppsinfo.php

[2019-11-20 15:04] khouloudbelguith commented on #16475
Ping @PrestaShop/prestashop-product-team @PrestaShop/prestashop-core-developers

[2019-11-20 15:05] Eolia commented on #16476
Add the id_curency in the cache_id of getPackageShippingCost() function and it's done ;)
`$cache_id = 'getPackageShippingCost_'.(int)$this->id.'_'.(int)$address_id.'_'.(int)$id_carrier.'_'.(int)$use_tax.'_'.(int)$default_country->id.'_'.(int)$id_zone.'_'.(int)$this->id_currency;`

[2019-11-20 15:06] Klemart3D opened #16481 "Multiselect formField"
Is there a way to create a multiselect form for Customer or Address in front using the "new" [FormField](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/form/FormField.php) object or it must be added?

Previously we were able to use "'multiple' => true" from FormBuilderInterface to create a form with a multiple selection like this:

[code]
But now, this field seems not available or n

[2019-11-20 15:18] khouloudbelguith commented on #16476
@jeckyl, in my case.
I tried to enable the PayPal module for the $ currency.
![image](https://user-images.githubusercontent.com/16067358/69249546-55356880-0bae-11ea-9f88-d8b9462ef768.png)

When I try to create a new order with the € currency, in the last step"Pay with an obligation to pay"
=> error => Transaction refused because of an invalid argument  => not  reproduced.
But, I select $ => ok.

T

[2019-11-20 15:23] khouloudbelguith commented on #16481
Hi @Klemart3D,

In the new release PS1.7.6., we have added a new hook named additionalCustomerAddressFields, this hook add fields to the Customer address form, it returns an array of FormFields to add them to the customer address registration form.
Here's the PR: #9132
I hope this helps you.
Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask o

[2019-11-20 15:24] #16481 closed, assigned to nobody

[2019-11-20 15:36] khouloudbelguith commented on #15914
@SignalBip, I am redirected to an incorrect page.
you need to upload this file: https://github.com/PrestaShop/php-ps-info/blob/master/phppsinfo.php on your server.
For example, download this file & unzip it on your server.
[test.php.zip](https://github.com/PrestaShop/PrestaShop/files/3869983/test.php.zip)
You should upload your file to the exact directory you want to test.
Visit the page in your b

[2019-11-20 15:37] Hlavtox commented on #9757
@jf-viguier @tonspeed @marionf @khouloudbelguith

Just a notice. I tried the proposed fix in #8706.

It fixes the issue and is_gift variable is working properly, BUT it makes the totals total nonsense. See the video: https://drive.google.com/file/d/1cPGuuNIDaG1wg9yq42uIrJuX2dmXm5Z6/view?usp=sharing

[2019-11-20 15:46] jeckyl commented on #16476
@khouloudbelguith it seems that the module refuses any payment when the front office currency does not match the currency selected in the preferences. It's convenient, it avoids any worries. However, you will have to explain to me why this module uses radio buttons more than checkboxes?

@Eolia Thanks to you, but I just tested it and the currency always stays the same when I test $cart->getOrderTo

[2019-11-20 15:52] khouloudbelguith commented on #16476
@jeckyl,

Paypal module is not provided by PrestaShop, you can contact the module author about this in our add-ons market place: https://addons.prestashop.com/en/contact-us?id_product=1748

Thanks!

[2019-11-20 15:54] jeckyl commented on #16476
@Eolia I just finished my test and it doesn't seem to correct the validation of the payment and shipping costs which is always the same.

[2019-11-20 15:55] jeckyl commented on #16476
@khouloudbelguith I will focus on my developments and not deal with the inconsistencies of others.

The fact is that the operation of PrestaShop is in error and that it must be corrected.

[2019-11-20 15:58] khouloudbelguith commented on #16476
@jeckyl, Could you please provide me a demo module to test it & reproduce the issue.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-11-20 16:09] khouloudbelguith commented on #10792
Hi,

The cost price is ok with ps1.7.6.1.
It is ok when we duplicate or disable a product from the product list page or the product details page.
The unit price not ok as always.

Related issue: #16353 just reproduced with PS1.7.6.1 & PS1.7.6.2build1

Thanks!

[2019-11-20 16:12] acer1981 commented on #16298
PHP error log is empty.
 
Also I have set PHP back to 7.1 as 7.3 breaks debugger.
 

 
 
--
Евгений Мехтиев
 

[2019-11-20 16:13] khouloudbelguith commented on #16038
@fabio-zetaweb, yes, you are right, it is fixed with PS1.7.6.1 but, we have a regression reported here:  https://github.com/PrestaShop/PrestaShop/issues/16353
so, in your case, it is related to the supplier price cost which is 0.

Thanks!

[2019-11-20 16:14] khouloudbelguith commented on #16038
Duplicate of #16353

[2019-11-20 16:16] khouloudbelguith commented on #16298
@acer1981, your log file available in this directory `Project_Folder/var/logs/` is empty?

Thanks!

[2019-11-20 16:17] acer1981 commented on #16298
 

 
 
--
Евгений Мехтиев
 

[2019-11-20 16:18] acer1981 commented on #16298
Do you mean these two files? I thought you have told about server PHP log file in the root directory.
 

 
 
--
Евгений Мехтиев
 

[2019-11-20 16:20] khouloudbelguith commented on #16298
@acer1981, there is no attached screenshot.
You need to sign in to GitHub & upload here your files & your screenshots.

Thanks!

[2019-11-20 16:22] acer1981 commented on #16298
Log files

[20190915_exception.log](https://github.com/PrestaShop/PrestaShop/files/3870221/20190915_exception.log)
[dev.log]
(https://github.com/PrestaShop/PrestaShop/files/3870222/dev.log)

[2019-11-20 16:22] acer1981 commented on #16298
Done

 

 
 
--
Евгений Мехтиев
 

[2019-11-20 16:23] eternoendless commented on #14854
Why not use events or pseudo events instead of creating a new thing?

1. Module declares event subscribers
2. Hook dispatcher dispatches the event (and either still tries to call other modules not using events OR a there's a DefaultSubscriber that takes care of that)
3. Profit

Yes, the implementation won't be as easy as 1-2-3 but from a developer point of view it sounds enticing.

[2019-11-20 16:25] Klemart3D commented on #16481
Hi @khouloudbelguith,
Thanks for your answer. My question was not necessarily about CustomerAddress but more globally about front forms like when a customer create an account, so your answser doesn't really help me but thanks anyway.

I created a PR with the lists of allowed known types: https://github.com/PrestaShop/docs/pull/409

Regards

[2019-11-20 16:32] acer1981 commented on #16298
Also I've uploaded "System requirements tool" to our server - it's available here - https://www.hannu.pro/php-ps-info-master/phppsinfo.php

[2019-11-20 16:33] khouloudbelguith commented on #16298
@acer1981, you changed your version PHP from 7.3 to 7.1 at 2019-11-20 16:03:54, is it?
Since this date, you have only some warnings & notice PHP, there is no error.

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-11-20 16:35] jeckyl commented on #16476
@Eolia I don't know if I've already said it, but the result of $params['cart']->getOrderTotal(true, Cart::BOTH); with the new currency makes the same calculation error on shipping costs.

[2019-11-20 16:36] acer1981 commented on #16298
Yes I did, as I noticed that it break PS debugger. Now deleting those folders...give me couple minutes.

[2019-11-20 16:37] jeckyl commented on #16476
@khouloudbelguith I would have to develop a module for you just to test it, which is very time-consuming. I use 2 of my payment modules to test several scenarios, which is not easy because this bug is so huge.
I understand why it was never reported, and that all other payment solutions have preferred to refuse payments that are not in the said currency, which is a pity.

[2019-11-20 16:38] acer1981 commented on #16298
Done.

[2019-11-20 16:39] acer1981 commented on #16298
What's next?

[2019-11-20 16:39] khouloudbelguith commented on #16476
@jeckyl, thanks a lot!
Waiting for your feedback.

[2019-11-20 16:40] khouloudbelguith commented on #16298
@acer1981, the issue still occurs?

Thanks!

[2019-11-20 16:41] acer1981 commented on #16298
Yes.

[2019-11-20 16:43] acer1981 commented on #16298
Chrome console error:

Uncaught SyntaxError: Unexpected token < in JSON at position 0
    at Function.parse [as parseJSON] (<anonymous>)
    at Object.error (form.js?1.7.5.2:703)
    at u (main.bundle.js:313)
    at Object.fireWith [as rejectWith] (main.bundle.js:313)
    at i (main.bundle.js:313)
    at XMLHttpRequest.<anonymous> (main.bundle.js:313)

[2019-11-20 16:44] khouloudbelguith commented on #16298
@acer1981,
You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. save product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response" or "Prev

[2019-11-20 16:46] Eolia commented on #16476
In my paypal version i have add a default currency for the module if the customer's currency not allowed

`
		// Eolia add to force currency if current currency is not accepted by Paypal
		// See https://developer.paypal.com/docs/classic/api/currency_codes/
		$paypal_currencies = array('AUD', 'BRL', 'CAD', 'CZK', 'DKK', 'EUR', 'HKD', 'HUF', 'ILS', 'JPY', 'MYR', 'MXN', 'NOK', 'NZD', 'PHP', 'PLN', '

[2019-11-20 16:48] acer1981 commented on #16298
I know as I'm actually a freelancer :) but it just gives 404 with 404.tpl in response

![Screenshot_2]
(https://user-images.githubusercontent.com/43809060/69259089-5a061680-0bc6-11ea-9f68-a08113e505fd.png)
![Screenshot_3]
(https://user-images.githubusercontent.com/43809060/69259090-5a061680-0bc6-11ea-8496-e64cfc49f4a3.png)

[2019-11-20 16:56] acer1981 commented on #16298
As you see with no youtube embed code the response is 200. Once I've embedded it gives 404.

![Screenshot_4]
(https://user-images.githubusercontent.com/43809060/69259778-73f42900-0bc7-11ea-9eab-1495f5dff7b9.png)

[2019-11-20 16:58] acer1981 commented on #16298
Also server looks suitable.

![Screenshot_5]
(https://user-images.githubusercontent.com/43809060/69259945-bae21e80-0bc7-11ea-91c8-76dd89ccf770.png)

[2019-11-20 16:58] Hlavtox commented on #16283
@khouloudbelguith
Hi, none of these PRs seem to be related.

I don't know how the 'corrupted' entries happen, but adding these two restrictions to the query in controllers/front/CartController.php fix the issue. Have a look on it.

CHANGE FROM:
[code]

CHANGE TO:

[code]

[2019-11-20 17:14] fabio-zetaweb commented on #16353
@khouloudbelguith

Create a product with
2.1 Price = 12 tax included / =10 tax excluded
2.2 Tax =20%
2.3 Price per unit= 10 /ml
2.4 Cost price = 10
2.5 In the Options Tab, select one supplier as a default.
2.6 Price (tax excl.) for the supplier = 10

none of these points other than 2.5 are necessary to reproduce the issue.

[2019-11-20 17:15] acer1981 commented on #16298
And it seems that it's not youtube, its iframe as I have the same result with any iframe:

Example: <iframe src="https://en.wikipedia.org/wiki/Main_Page" width="640" height="480">

"Allow iframes on HTML fields" is enabled.

![Screenshot_6]
(https://user-images.githubusercontent.com/43809060/69261365-157c7a00-0bca-11ea-9956-cfab7048f1f9.png)

[2019-11-20 17:24] matks commented on #12585
Since https://github.com/PrestaShop/PrestaShop/pull/15130/ has been merged (thanks @sarjon !) we have the ability to render **whole form using a single form_rest call in Twig).

Now we need to apply this everywhere 😄

[2019-11-20 17:27] matks opened #16482 "[EPIC] Symfony Forms simplification using PrestaShop Form Theme"
## Documentation

We need to document

- it is now possible to use `form_widget(form)` to render whole symfony forms
- explain why `form_widget()` is so much better (especially the fact it can be used to completely reorder/modify template rendering without template override)
- explain how tu use CustomContentType, when to use it, when not to use it

## Uniformize rendering of all forms

And we nee

[2019-11-20 17:27] matks commented on #12585
Follow up will be done https://github.com/PrestaShop/PrestaShop/issues/16482

I close this now.

[2019-11-20 17:27] #12585 closed, assigned to nobody

[2019-11-20 17:38] jeckyl commented on #16476
I try, but it never changes anything, no matter how hard the currency is forced, it always gives the wrong result
`$old_currency = (int)$params['cart']->id_currency;
                $currency_payment = new Currency(Currency::getIdByIsoCode('EUR'));
                $this->context->currency = (int)$currency_payment;
                $this->context->cart->id_currency = Currency::getIdByIsoCode('EUR');

[2019-11-20 18:16] frevab opened #16483 "Duplicate payments in PS 1.6.1.24"
I have upgrade one of my shop to PS 1.6.1.24 from 1.5.4.1.

Now I get duplicated payments in orders. One payment with with payment transaction refno and one without. The one without has a time stamp which is later.
I cannot find any errors in the error-logs (both in root and in paypal map).
I use PayPal v3.13.1 and  Digiwallet for Prestashop v1.0.0

What can cause this and how can this be fixed?

[2019-11-20 19:10] jeckyl commented on #16476
In 1.6 here is a solution:

 I found something, in validateOrder() the basket is instantiated again
![Capture d'écran 2019-11-20 19 52 18](https://user-images.githubusercontent.com/595633/69269536-86736000-0bd1-11ea-8752-c0454543c53b.jpg)

 So it is impossible to have the right id_currency in the Map.

It is then necessary to force the right id_currency in the context:

![Capture d'écran 2019-11

[2019-11-20 19:52] Hlavtox opened #16486 "Cart presenter totals wrong when shouldSeparateGifts is true"
**Describe the bug**
In order to display cart gifts correctly, CartPresenter->present must be called with shouldSeparateGifts as true. This was proposed in this PR: #8706.

**To test, change bold to true:**
classes/controller/FrontController.php - Line 490 - 'cart' => $this->cart_presenter->present($this->context->cart, **true**),

Now, this works until you put another pieces of the _product you g

[2019-11-20 19:54] PululuK commented on #16481
Hi @Klemart3D

It can help you : https://github.com/PrestaShop/PrestaShop/pull/16485

[2019-11-20 20:33] banan44 opened #16487 "I cannot change the position of pages - no 6 dots button"
Hello,
I want to change the order of pages I have created some time ago. I just noticed I cannot change their order. I do not have these 6 dots that I have to press in order to change the order. Please, take a look at the video I have made showing the problem. What is weird, I am able to change orders of categories. It does not matter if I am in All shops mode or select any shop. Is there any way

[2019-11-20 21:21] 8ternity commented on #16154
@khouloudbelguith OK great. Because my store isn't live yet but in 5-7 days. Did it cause issue with sales and order? Or just for reporting and searching for sales?

[2019-11-21 01:21] Hlavtox commented on #16390
This doesnt work even on front office. Maybe related to this? https://github.com/PrestaShop/PrestaShop/pull/15171 It fixed the issue for me on FO.

[2019-11-21 02:44] Hlavtox commented on #16386
It's relatively easy to add stock informatiom to the product list. Just a template mod, the data is there.

Personally, I would let PS team focus on stuff that is important and still not working correctly - rounding, taxes, calculations etc...

![3355175F-3422-406D-9803-12A56F887C20](https://user-images.githubusercontent.com/6097524/69299469-e76e5880-0c10-11ea-85af-d126563dc231.png)

[2019-11-21 07:34] khouloudbelguith commented on #16058
Hi @ovallepa,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-21 07:34] #16058 closed, assigned to nobody

[2019-11-21 07:35] khouloudbelguith commented on #16057
Hi @xiaoyuan1998,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-21 07:35] #16057 closed, assigned to nobody

[2019-11-21 07:36] khouloudbelguith commented on #16083
Hi @edensh89,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-11-21 07:36] #16083 closed, assigned to nobody

[2019-11-21 08:12] khouloudbelguith commented on #16483
Hi @frevab,

I did not manage to reproduce the issue with PS1.7.6.1 & the Paypal module v5.0.3.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6

[2019-11-21 08:12] #16483 closed, assigned to nobody

[2019-11-21 08:17] khouloudbelguith commented on #16486
Hi @Hlavtox,

Thanks for your report.
Isn't the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/11722?

Thanks!

[2019-11-21 08:28] khouloudbelguith commented on #16487
Hi @banan44,

In your case, you are sorting by ID & not by position
![image](https://user-images.githubusercontent.com/16067358/69320166-ebb26a00-0c40-11ea-92c2-8ff2260a28f5.png)
You need just to sort by position
![image](https://user-images.githubusercontent.com/16067358/69320222-0a186580-0c41-11ea-8514-ea6dc65c98b5.png)
https://drive.google.com/file/d/1abjyCc_sWwuTXOO_ZInCf8jgNO94MgMS/view
I clo

[2019-11-21 08:28] #16487 closed, assigned to nobody

[2019-11-21 08:42] Hlavtox commented on #16486
Hi @khouloudbelguith,

I think its not. They do not have gift separation turned on. But this needs to be done somewhere in the future. I think it's maybe a right time to have gifts working after many years?

Try my suggestions and you will see.

[2019-11-21 08:52] khouloudbelguith commented on #16353
@fabio-zetaweb, about the cost price issue, if you try to create a product with:
1. price = 0
2. cost price = 0
3. in the options tab, select a supplier as a default
4. Price (tax excl) for the supplier = 12
5. Enable product
5. Click on Go to catalog
6. check cost price = 12

https://drive.google.com/file/d/1YUFAyo4sgXPQyJxal46reinpBmMIl0ad/view
Thanks!

[2019-11-21 08:57] yannicka opened #16488 "Invalid "$link" variable on "quickview.tpl""
**Describe the bug**
The `$link` variable in invalid on the `quickview.tpl` template.

- On the product page, `$link` is an instance of `Link` (expected behaviour).
- On the quick view, `$link` is the link to the product.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the file `/themes/classic/templates/catalog/_partials/quickview.tpl`
2. Add `{dump($link)}`
3. Check product page and q

[2019-11-21 09:04] fabio-zetaweb commented on #16353
Yes, you're right! I considered implied points 1 and 2. What happens with more than one suppliers?

[2019-11-21 09:06] khouloudbelguith commented on #16486
@Hlavtox, thanks for your feedback.

What is the exact option enabled in this case? a cart rule option?

Thanks!

[2019-11-21 09:09] khouloudbelguith commented on #16353
@fabio-zetaweb, the price of the supplier by default.

Thanks!

[2019-11-21 09:12] prestascott commented on #16039
@sarjon For the improvement #2, we should keep the "edit" material icon rather than replacing it by "more_vert" because we might expect a button group after clicking on it so it can be confusing.

[2019-11-21 09:12] Hlavtox commented on #16486
@khouloudbelguith

1. Make a product ABC with price 100 including tax.
2. Make a cart rule, unlimited, without code, that gives that product for free if you order over 150.
3. Add like 5 pieces of that product to cart to apply it.
4. You will see the product and gift separated correctly, but totals on the will be wrong.
5. Apply my fixed in point 1, subtotal will be correct. (Even when gift separa

[2019-11-21 09:14] fabio-zetaweb commented on #16353
@khouloudbelguith

Not good... I hope this bug will be solved asap.

[2019-11-21 09:22] khouloudbelguith commented on #16488
Hi @yannicka,

I manage to reproduce the issue with PS1.7.5.2, PS1.7.6.1 & PS1.7.6.2build1.
https://drive.google.com/file/d/1Bg68G7KJqOUhHLNoNKuwlpSjxtpWH84L/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-11-21 09:31] PierreRambaud commented on #16475
Agreed, all dependencies must be managed by Npm / Composer

[2019-11-21 09:41] colinegin commented on #12760
Hello all,

after reviewing this issue, it seems there is a bug indeed with how work thumbnail images with cover images.

As said @khouloudbelguith

- If I upload a cover image after the category thumbnail, it erases the thumbnail and add a new thumbnail with the cover image. (it works well when uploading a thumbnail after the cover image).
- If I delete the "Category Cover Image" the "Category th

[2019-11-21 09:45] #16050 closed, assigned to nobody

[2019-11-21 09:46] #16054 closed, assigned to nobody

[2019-11-21 09:46] #15849 closed, assigned to NeOMakinG

[2019-11-21 09:48] #11102 closed, assigned to Progi1984

[2019-11-21 09:50] khouloudbelguith commented on #16486
@Hlavtox, sorry but this bug is reproduced only if we apply this fix.
with PS1.7.6.1, we don't have gift separation
![image](https://user-images.githubusercontent.com/16067358/69326817-bdd32280-0c4c-11ea-9281-529313b05118.png)

Is it right?

Thanks!

[2019-11-21 10:00] eternoendless commented on #16321
There's already Brazilian Portuguese in it

It's already in that pack

It's already in that pack

Both are already added, should we keep Malaysian and Simplified Chinese?

[2019-11-21 10:00] didjou commented on #16386
dear @Hlavtox, the problem is not showing quantities on product list, ( i know how display it same as availability as i do actually )  but it stay the problem add to cart not enabled for customised product as khouloudbelguith  explain perfectly whit screen shot and difference between 1.6 1 1.7 add to cart what is the most important and not confused the customer as it do today with 1.7

but thank y

[2019-11-21 10:14] ttoine commented on #16475
Is it possible to think about having a dedicated repository for the classic theme, as it has not the same license than the core?
This way we could have a full OSL repository.

[2019-11-21 10:16] Hlavtox commented on #16386
@didjou What is a purpose of that button? It just opens the product, right? And you can customize it there.

Just add something like this to the product list and done:

{if product has customizations}
<a href=productlink>Customize</a>
{else}
<a href=productlink>Details</a>
{/if}

[2019-11-21 10:19] Hlavtox commented on #16486
@khouloudbelguith Yes, but if gifts should be working in this century, I expect this to be enabled in some version in the near future.

This worked correctly in 1.6 for years and in 1.7 it's not.

Can you ping the dev team? I saw something about remake of the calculation code.

[2019-11-21 10:30] khouloudbelguith commented on #16486
@Hlavtox,

So, your issue is not reproduced and the old PR is not merged, it is just closed.

This issue: https://github.com/PrestaShop/PrestaShop/issues/9757 is added to our bug roadmap, so that it’s fixed with a PR reviewed by our devs & tested by QA team.

If this issue is not reproduced, we can close this ticket.
About this issue: https://github.com/PrestaShop/PrestaShop/issues/9757
If you hav

[2019-11-21 10:40] Hlavtox commented on #16486
@khouloudbelguith

My issue is reproduced! The function is not behaving correctly. I can use it in my module and it will not work correctly.

When its not used in front end, it doesnt mean its not there.

Relating #9757 - Thats why I opened this thread. It could fix the gift issue finally. But its not perfect and I wanted to discuss it.

[2019-11-21 10:41] khouloudbelguith commented on #12760
Hi @colinegin,

1.If I upload a thumbnail image after the cover image, the thumbnail image, in the FO is not displayed.
2.I tried to add a thumbnail image, in the FO, it is not displayed
==> if so, this is normal, Classic theme in 1.7 does not use category thumbnails.

Yes, I used the classic theme provided by PrestaShop Version 1.0.0

Thanks!

[2019-11-21 10:45] khouloudbelguith commented on #16486
@Hlavtox,

but to reproduce your issue, we need to apply this fix first: https://github.com/PrestaShop/PrestaShop/pull/8706, which is incorrect, because this fix is not valid.

Thanks to provide me steps to reproduce the issue without applying the PR fix.

Thanks!

[2019-11-21 10:50] khouloudbelguith commented on #16154
@8ternity, the only issue reported is related to the format & not other issues.

Thanks!

[2019-11-21 11:04] khouloudbelguith commented on #16298
@acer1981, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-11-21 11:08] #16333 closed, assigned to nobody

[2019-11-21 11:13] hekep opened #16490 "$cart->orderExists() and duplicate orders"
**Describe the bug**
in `AnyPaymentValidationModuleFrontController`  there is code `if($cart->orderExists())` which returns false, if cart  has no order.  Sometimes payment service provider calls two times the same  `AnyPaymentValidationModuleFrontController` url. The result is that  $cart will have 2 orders, which are dulicate,  created within 1 second.

 I suppose `Cart`  can have only one `Orde

[2019-11-21 11:16] khouloudbelguith commented on #16283
@Hlavtox,
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
In the meantime, I will try to reproduce the issue:
1. What is the exact type of customization? Text or file?
2. Is it required? yes or no?
3. what is the exact version of the ps_shoppingcart module v2.0.2? or 2.0.3?
4. Have only one customization or more

[2019-11-21 11:34] hekep commented on #16490
Releated: https://github.com/PrestaShop/PrestaShop/issues/16483

[2019-11-21 11:49] 202-ecommerce opened #16491 "Reduction error on invoice with amount reduction."
**Describe the bug**
Reduction error on invoice with amount reduction.

**To Reproduce**

1. Prepare a catalog with all following product VAT 20%

Product One: 46.90€
Product Two: 12,50€
Product Three: 12,50€
Product Four: 12,50€

2. Prepare a discount with:
- Information (all in Yes) > partial use: Yes
- Condition : no specific conditions
- Action
    - Free shipping: No
    - Apply a discount: a

[2019-11-21 11:57] Hlavtox commented on #16486
@khouloudbelguith Do we need to do this discussion?

Okay then:
1. Make a module that will show contents of cart.
2. Call CartPresenter->present($cart, true);
3. Echo wrong totals.

[2019-11-21 12:14] khouloudbelguith commented on #16490
Hi @hekep,

Thanks for your report.
What is the exact version of PrestaShop did you use?
With PS1.7.6, we cannot click twice at the button of payment.
![image](https://user-images.githubusercontent.com/16067358/69334966-1958dc80-0c5c-11ea-8c83-73b55db15057.png)

How can I reproduce the issue, did you use a custom module?
Previously, we have a bug when two customers check out concurrently for the s

[2019-11-21 12:19] khouloudbelguith commented on #16491
Hi @202-ecommerce,

Thanks for your report.
Isn't similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/13809#issuecomment-492964528?

Thanks!

[2019-11-21 12:28] ovallepa commented on #16058
Okay.  It's okay.  The solution to the problem I had was time.  For some
reason the changes made did not take effect immediately but after 2 days.
It was strange but it was fixed.  Thank you very much for your help

El jue., 21 de noviembre de 2019 2:34 a. m., khouloudbelguith <
notifications@github.com> escribió:

[2019-11-21 12:52] hekep commented on #16490
We were able to create this issue in production. `AdminCarts` shows "duplicate carts" , with the same ID number, and with different Order numbers.  This is becuase of `LEFT JOIN ...`  and no `GROUP BY` sql query.

It is PrestaShop version: 1.7.3.3. I think https://github.com/PrestaShop/PrestaShop/pull/8752 is not related to this particular issue.

Yes we do have custom payment module, which provid

[2019-11-21 12:55] hekep commented on #16490
Here is an export of  "duplicate carts" with diffent order ID:

![image](https://user-images.githubusercontent.com/1901788/69339831-e23ff680-0c6e-11ea-9cba-a6887784525b.png)

[2019-11-21 13:09] 202-ecommerce commented on #16491
Hi @khouloudbelguith

No, it's not the same bug.
It's due to remaining value on amount discount coupon.

[2019-11-21 13:50] psyray opened #16493 "Reference not listed while using ActionAdminOrdersListingFieldsModifier hook"
**Describe the bug**
While using **ActionAdminOrdersListingFieldsModifier** hook in a module to modify order listing in admin, if an added column has a keyword of a legacy field column, this column is not included in the query field list, so the value is empty for this column.

Eg: in my case I had a **birthlist_reference** column that appear in a column of the admin orders list, so the Prestashop

[2019-11-21 13:58] EdgePhil commented on #11355
Change the PHP version to 7.1 or 7.2 , restart all services. Drop your database and create a new one. Best you restart your system too. Then begin your prestashop installation again.
Hope this helps someone.

[2019-11-21 14:04] khouloudbelguith commented on #16491
@202-ecommerce, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.2build1.
https://drive.google.com/file/d/1eCvfK0duGnUzeuVTl64-e2MFSdC5u04-/view
It is ok with ps1.7.5.2 & ps1.7.5.0
![image](https://user-images.githubusercontent.com/16067358/69344696-1b2c9b00-0c70-11ea-95b1-6b265e1ef2f5.png)
it is a regression.
I’ll add this to the debug roadmap so that it’s fixed.

[2019-11-21 14:10] psyray commented on #16493
PR provided #16494

[2019-11-21 14:10] 202-ecommerce commented on #16491
Thank you.
Yes we identify the origin of the bug and will publish a pull request.

[2019-11-21 14:38] khouloudbelguith commented on #16493
Hi @psyray,

Could you please provide me a demo module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-11-21 14:48] Hlavtox commented on #14650
Just a tip for FO design. This is how I did it. :-)

![frontend](https://user-images.githubusercontent.com/6097524/69348372-6053cb80-0c76-11ea-8710-65b87ca9fa4d.JPG)

[2019-11-21 14:53] #16321 closed, assigned to eternoendless

[2019-11-21 14:54] Hlavtox opened #16497 "Combination EAN is ignored"
**To Reproduce**
Steps to reproduce the behavior:
1. Make a product with attributes. Assign some EAN.
2. Make some attributes. Assign different EANs to them.
3. Go to FO, only the EAN of the base product is visible.

$product.reference_to_display - changing as it should.
$product.ean13 - not changing.

**Additional information**
PrestaShop version: 1.7.6.0

[2019-11-21 14:54] matks commented on #16321
@eternoendless Is this issue fully fixed by https://github.com/PrestaShop/PrestaShop/pull/16489 or is there a few more items to add ?

[2019-11-21 14:56] PrestaShark commented on #14650
Well done. Now please make PR for this improvement :)

[2019-11-21 15:12] khouloudbelguith commented on #16497
Hi @Hlavtox,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1Kz51qLQ03CqMtTB_IpXnUZOy4rBN8JWG/view
Thanks to check & feedback.

[2019-11-21 15:20] colinegin commented on #16466
Hello @matks,

To be honest, this is a reallyyyy weird behaviour, I don't know why some modules are installed when clicking on it, while other modules block just bring you to the Module Catalog page.

What I know is that this list of modules on the dashboard (randomly displayed 2 by 2) are brought by the Gamification module which is installed by default on a PrestaShop store.

IMO, if we were able

[2019-11-21 15:24] khouloudbelguith commented on #16490
@hekep,

in the PS 1.7.5.0 we fixed an issue of a double click on Payment button may be related https://github.com/PrestaShop/PrestaShop/pull/9373

What is the exact version PrestaShop did you use?

Thanks!

[2019-11-21 15:30] psandmore opened #16498 "dynamic update of product and tax prices when editing order in the back office"
**Describe the bug**
After editing order in the back office the products price and tax not dynamically updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure user group to display prices tax excluding.
2. Create and order with any product.
3. Before order shipped, edit the order in the back office. Change quantity or price.
4. Confirm update.
5. The changed total price appears co

[2019-11-21 15:42] muyncky commented on #14086
@matks thanks for opening this subject! This is in reaction to your response on Gitter. I'm struggling to deploy my PrestaShop 1.7.6.x. Well, not a big struggle, everything goes smoothly really, but the translations are not working. It seems that the cache files are not updated/placed correctly. I still need to manually(!) upload 2 files from `var/cache/dev/translations/`. A cache folder! They hav

[2019-11-21 15:44] khouloudbelguith commented on #16498
Hi @psandmore,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15528
So, I close it.
Thanks!

[2019-11-21 15:44] #16498 closed, assigned to nobody

[2019-11-21 15:44] khouloudbelguith commented on #16498
Duplicate of #15528

[2019-11-21 15:48] psyray commented on #16493
Hi,
Here is the [module demo](https://www.easi-services.fr/demo_16493.zip)
It creates a demo_16493 table
The reference is attached to the order id 1, feel free to change in db to an existing order in your environment.
Without my PR : no PS reference is dispalyed,
![image](https://user-images.githubusercontent.com/1230954/69353340-a57bfb80-0c7e-11ea-8a24-78c1f0e9defc.png)

With my PR PS reference i

[2019-11-21 15:48] khouloudbelguith commented on #16298
@acer1981, I just received the email.
I will check & feedback.

[2019-11-21 15:59] khouloudbelguith commented on #16298
@acer1981, this issue occurs before installing the video tab module?
Because I tried to use this module to add a video => similar issue => redirection to an error page.

Thanks!

[2019-11-21 16:03] acer1981 commented on #16298
Just deleted it. the problem still occurs.
 

 
 
--
Евгений Мехтиев
 

[2019-11-21 16:06] khouloudbelguith commented on #16493
@psyray, thanks a lot for your feedback.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1 & PS1.7.6.2build.
![image](https://user-images.githubusercontent.com/16067358/69354944-3d7ae480-0c81-11ea-8a91-944764544255.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-11-21 16:09] khouloudbelguith commented on #16298
@acer1981, module removed manually & not uninstalled? is it?
Because still, Modules Tab is displaying.
![image](https://user-images.githubusercontent.com/16067358/69355221-b8dc9600-0c81-11ea-98f1-da1a40e3aab1.png)

Thanks!

[2019-11-21 16:54] khouloudbelguith commented on #16486
@Hlavtox, thanks for your feedback.
I just created an override of the FrontController.php class

[code]
![image](https://user-images.githubusercontent.com/16067358/69358359-027baf80-0c87-11ea-88b7-9d27a137897f.png)

I manage to reproduce the issue with PS1.7.6.2build1 & PS1.7.6.1 & PS1.7.5.2.
I’ll add this to the debug roadmap.
Thanks!

[2019-11-21 17:01] eternoendless commented on #16321
@matks It depends on @LouiseBonnard 's response

[2019-11-21 17:07] matks commented on #16273
Might be fixed by https://github.com/PrestaShop/PrestaShop/pull/16294

[2019-11-21 17:16] matks commented on #14923
Fixed thanks to the migration in https://github.com/PrestaShop/PrestaShop/pull/16267

[2019-11-21 17:20] #16029 closed, assigned to nobody

[2019-11-21 17:25] Hlavtox commented on #16486
@khouloudbelguith Super, now you see the error. Maybe it's intentionally off.

Now try my fixes.

**/src/Core/Cart/CartRow.php**
Change `$rowData['cart_quantity']` to `$rowData['quantity']` everywhere in the file. 4 times total.
This will fix product subtotal.

**/src/Core/Cart/CartRuleCalculator.php**
The code causing the problem is in this file. If there is a cart rule with free gift, it goes th

[2019-11-21 17:53] ziezo opened #16499 "Incorrect email subject and template variable {shop_name}"
In PS 1.7.6.1 the email subject and template variable {shop_name} display the internal BO name from the "Multishop" settings. It should display the external name from "Contact" settings.

I patched /classes/Mail.php as follows:

[code]
and
[code]

[2019-11-21 18:07] Gipielle commented on #9884
Any news about this error ?

[2019-11-21 22:49] maofree commented on #12508
Hi @khouloudbelguith
why is it not corrected? I see that the last change dates back to 10 months ago. I believe that selling to companies in the EU is now a standard thing, why is it not corrected and placed among the defaults like in version 1.6?

[2019-11-21 23:00] maofree commented on #12508
I tested the module and it works well
I don't need the vat check
however it should be set in the default module like on the 1.6
bye

[2019-11-22 06:20] hekep commented on #16490
PrestaShop version: 1.7.3.3

[2019-11-22 06:27] hekep commented on #16490
What about machine to machine query?

1.  Customer goes to Payment Service provider page
2. Customer returns from Payment Service Provider to  `AnyPaymentValidationModuleFrontController ` with successful payment.
3. Multiple M2M queries can be done  at the same time customer returns to   `AnyPaymentValidationModuleFrontController ` with successful payment.

So we want `id_cart` column to be unique

[2019-11-22 07:24] didjou commented on #16386
Dear @Hlavtox, i have explain and  khouloudbelguith explain perfectly see the difference for add to cart button : for product list and also for product Page, For product Customization, the button is the same as the out of stock with Forbidden
this is not good to sell a product customisable because, seeing a forbidden for customer who's not developper . ....  forbidden it's just i cannot add to car

[2019-11-22 07:36] khouloudbelguith commented on #16081
Hi @jouino16,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!