[2019-02-18 14:37] marionf commented on #12133
@khouloudbelguith Can you verify if it's solved and close this issue if it is ?

[2019-02-18 14:40] khouloudbelguith commented on #12607
@M-Grafix, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-02-18 14:44] M-Grafix commented on #12607
How can I retrieve the PHP error log and the debug mode report ?

[2019-02-18 14:46] khouloudbelguith commented on #12607
@M-Grafix, if you don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
Thanks!

[2019-02-18 14:50] hellodracon opened #12612 "Empty/blank orders in backoffice in PS 1.6.1.6"
Hello, I found a related issue on this but not really (and it's closed) so I'm trying a new post.
In one month, I received two blanks orders. The payment module had no change, and we didn't make any specific change on the Prestashop. Weird thing is that it happened two times, with only one payment option. We did get the payment (as we checked it in the bank logs) but nothing appears well in the or

[2019-02-18 14:59] coriaweb commented on #12605
Of course it's possible, it's the advantage of being a hosting provider. ;)

In a little while I'll send you the data.

Greetings!

[2019-02-18 15:09] M-Grafix commented on #12607
PHP error log : "L’encodage de caractères d’un document dans un cadre n’a pas été déclaré. Le document peut apparaître différent s’il est visionné sans le document qui l’encadre." It means in english : "The character encoding of a document in a frame has not been declared. Can be seen in the document is the frame. "

To have the debug mode report, I have to go to my Advanced Parameters > Performan

[2019-02-18 15:14] khouloudbelguith commented on #12612
Hi @hellodracon,

I did not manage to reproduce the issue with PS1.6.1.23.
What is the exact payment module did you use?
The status of this order is determined?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-02-18 15:19] khouloudbelguith commented on #12611
Hi @elmanu13,

How did you created the quick access?

1. Access to the module page when all shops selected, you added this page to quick access
![image](https://user-images.githubusercontent.com/16067358/52960306-c6828980-3398-11e9-9a11-5944dbbf2059.png)
2. Or did you created access manually from the AdminQuickAccesses page
![image](https://user-images.githubusercontent.com/16067358/52960344-e4e88

[2019-02-18 15:22] khouloudbelguith commented on #12133
@marionf, yes, it is OK.
![image](https://user-images.githubusercontent.com/16067358/52960554-59232880-3399-11e9-83d7-e59356e4099b.png)
Thanks!

[2019-02-18 15:22] #12133 closed, assigned to nobody

[2019-02-18 15:35] web-centre commented on #12609
risolto

[2019-02-18 15:36] khouloudbelguith commented on #12607
@M-Grafix,
If you can’t access your dashboard, you can still enable the Debug Move using an FTP client (for instance the free Filezilla tool) to edit the config/defines.inc.php file. Find the following line in the file:

`define('_PS_MODE_DEV_', false);`

… and change it to:

`define('_PS_MODE_DEV_', true);`

I cannot do anything without having a little more detail in addition to the 500 error
Tha

[2019-02-18 15:38] khouloudbelguith commented on #12609
@web-centre, since it is fixed.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-02-18 15:38] #12609 closed, assigned to nobody

[2019-02-18 15:39] khouloudbelguith commented on #12605
@coriaweb, thanks!
Waiting for your feedback.

[2019-02-18 15:41] mickaelandrieu commented on #9804
You mean something like [that](https://devdocs.prestashop.com/1.7/development/internationalization/translation/translation-domains/)?

[2019-02-18 15:53] ntiepresta opened #12613 "The help message isn't correctly displayed"
**Describe the bug**
In B.O, migrate "Catalog , brand & suppliers, "suppliers" page. the help message is displayed on  the whole page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to B.O, Catalog, Brands & Suppliers(suppliers page)
2. Click on help button
3. See error

**Screenshots**
![help message2](https://user-images.githubusercontent.com/36889855/52961696-d2bc1600-339b-11e9-9a71-d

[2019-02-18 16:06] holle75 commented on #9804
Hi Mickael, to long and technical an article to be understandable to me ;) .... I just know, with 3 languages  in my shop i just barely make it happen (1.7.5). I think what i wrote would make things much easier. Maybe i elaborated whats already written in the article you linked?

Main idea is to have **max minimum of main categories which separate content (the less the better)** and in those categ

[2019-02-18 16:13] coriaweb commented on #12605
I have already sent the data, I hope it will help you do the tests you need.

Any help I can give you will indicate me.

[2019-02-18 16:36] khouloudbelguith commented on #12592
@febestore, thanks a lot for these clarifications.
To reproduce this issue, we need to follow these steps:
1. Go to BO => Shop Parameters => Order Settings => Statuses Tab, edit the `Delivered` status where
1.1 Send an email to the customer when his/her order status has changed. should be checked
1.2 Template => in_transit
![image](https://user-images.githubusercontent.com/16067358/52963842-27ae5b

[2019-02-18 16:39] khouloudbelguith commented on #12605
@coriaweb, thanks a lot, but I didn't receive your email.
My address mail: [khouloud.belguith@prestashop.com](mailto:khouloud.belguith@prestashop.com)
Thanks to check & feedback.

[2019-02-18 16:50] coriaweb commented on #12605
Okay, looking at the follow-up, I realized it's been blocked.

I sent it to you from a personal email.

Greetings!

[2019-02-18 17:04] khouloudbelguith commented on #12605
@coriaweb, no, I don't get any mail yet.
My personal address mail is khouloud.belguiith@gmail.com
My professional address mail: khouloud.belguith@prestashop.com
Thanks!

[2019-02-18 17:04] fabrice-dresscodes commented on #12075
Hey ! I've got the same problem...

I've upgraded from 1.7.4.x to 1.7.5 with 1Click Upgrade.

The column was on DEV database version but when I deploy with GIT to Prod nothing happen even if I've executed on prod the doctrine:schema:update.

location column was not there before I added it manually...

But that SQL was ok :

ALTER TABLE `PREFIX_stock_available`
  ADD `location` VARCHAR(255) NOT NUL

[2019-02-18 17:10] khouloudbelguith commented on #13015
Hi @rouaks,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/gamification
Thank you!

[2019-02-18 17:14] khouloudbelguith commented on #16985
Hi @BenTen,

I did not manage to reproduce the issue with PS1.7.5.0 & the Sitemap 4.1.0.
I attached a video record
https://drive.google.com/file/d/1hzEBB7dMzrV1Rb0q8T_3wleFjZGSko8l/view
Thanks!

[2019-02-18 17:14] mark-app opened #12614 "BO : Special chars in product name will stop saving the product"
**Describe the bug**
If you use a special character in the name of a product name like ° or ® you can't change properties of the product anymore like the linked category.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a product with ° or ® in the name
2. Save it
3. Try to change the category will.
4. Nothing happens. So the category will not change.

**Additionnal information**
Prest

[2019-02-18 17:14] elmanu13 commented on #12611
Hello !!

Option 1 !

Thanks !

Manuel

[2019-02-18 17:15] coriaweb commented on #12605
I've sent it from different sites, I think it's detecting it as spam by carrying strange data.

Check if it reaches the unwanted one.

[2019-02-18 17:17] khouloudbelguith commented on #12614
Hi @mark-app,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1hHsOzm2mhMx2qwmC4EJyJBzoWU3vF4ai/view
Thanks to check & feedback.

[2019-02-18 17:22] khouloudbelguith commented on #12605
@coriaweb, thanks!
I just received the email in spam.
I sent you an email.
Thanks!

[2019-02-18 17:34] LucaMozzo commented on #12580
@matks I'm not aware of PHP API doc generators, but in general do you accept PRs from forks (i.e. if I create a fork and open a pull request will it be considered for review/merge?)? I would be happy to contribute since I see many people having this problem and I'm happy to put something together

@eternoendless thanks for your clarification. I was trying in Postman but it was behaving weirdly (i.

[2019-02-18 17:46] hellodracon commented on #12612
Hi @khouloudbelguith ,

1- I'm using a non official module (Square Official Payment). But everything is quite good with it except these two payments. We got multiple orders everyday and they are all working fine.
2- no status on these orders. Just a "–" as you can see in the first screenshot.
3- How can I give you this informations ? There are other logs than the ones in the backoffice ?

[2019-02-18 18:19] ivordurham commented on #12599
My installation meets all of the requires shown by phppsinfo.php.

The issue is the time that the installation takes. On my development system, the Fast CGI interface had a default execution time limit of 60 seconds although my PHP max_execution_time was 90 seconds. The Fast CGI timeout was the error reported. On a shared hosting package at, say, hostgator.com (where I managed multiple websites),

[2019-02-18 19:09] sebastienhouzet opened #12615 "Admin menu tab not selected for stock"
**Describe the bug**
When you open stocks page on Admin, the menu Catalog is closed.

**To Reproduce**
Install version 1.7.4.0
Connect on Admin, click on Catalog and Stocks.

**Screenshots**
![capture d ecran 2019-02-18 a 20 08 09](https://user-images.githubusercontent.com/2550639/52971770-fd689780-33b8-11e9-92d2-71eec76f0711.png)

**Additionnal information**
PrestaShop version: 1.7.4.0
PHP versio

[2019-02-18 19:54] matks commented on #12580
Yes we accept PRs from forks, actually this is the standard way to contribute to PrestaShop project 😉 we will be very happy to review/merge your contribution

[2019-02-18 22:31] hh-com opened #12616 "You can not sort payment options when using different hooks"
**Describe the bug**
Payment-modules sometimes call more than one payment hook - for example "displayPaymentEU" and "paymentOptions".
In classes\checkout\PaymentOptionsFinder.php we first load displayPaymentEU then the rest of the paymentOptions. displayPaymentEU Payment Modules will always be on the top.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a new PrestaShop.
2. Activate c

[2019-02-19 06:59] Olmanuel commented on #12581
Hy Khouloudbelguith,
host: whogohost
PrestaShop Version: 1.7.5.0

Failed to load resource: the server responded with a status of 500 (Internal Server Error)
26?_token=EUSkXEVwKi5bDnff7Ci-emfSYLTZ-eaf2l3PMHlOBaE:1 Uncaught SyntaxError: Unexpected token < in JSON at position 0
    at Function.parse [as parseJSON] (<anonymous>)
    at Object.error (form.js?1.7.5.0:687)
    at u (main.bundle.js:275)

[2019-02-19 07:26] khouloudbelguith commented on #12616
Hi @hh-com,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9756
So, I close it.
Thanks!

[2019-02-19 07:26] khouloudbelguith commented on #12616
Duplicate of #9756

[2019-02-19 07:26] #12616 closed, assigned to nobody

[2019-02-19 07:44] khouloudbelguith commented on #12615
Hi @sebastienhouzet,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.5.0 & PS1.7.4.4.
When I open the Stocks page on Admin, the menu Catalog is closed, it is not the same behavior with all other pages.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thank

[2019-02-19 07:49] khouloudbelguith commented on #11778
Hi @2TEND,

Without more information, I will close your issue soon.
So, any news? We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks for your understanding!

[2019-02-19 07:53] 2TEND commented on #11778
I've maiking all that you are say. And the module don't working..

Le mar. 19 févr. 2019 à 08:50, khouloudbelguith <notifications@github.com>
a écrit :

[2019-02-19 07:55] khouloudbelguith commented on #11778
@2TEND, did you sent me an email? with this informations?
Thanks!

[2019-02-19 08:07] khouloudbelguith commented on #12611
Hi @elmanu13,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1FL70SZ5JHw0kWt4q1nbCPbi6HnffacCp/view
Thanks to check & feedback.

[2019-02-19 08:13] khouloudbelguith commented on #12581
@Olmanuel, your issue seems to be similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/12517#issuecomment-462280995
Can you please try to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. save product
6. wait for a

[2019-02-19 08:14] khouloudbelguith commented on #13015
Fixed by this PR: https://github.com/PrestaShop/gamification/pull/60
Thanks @rouaks!

[2019-02-19 08:16] LedCloud opened #12617 "BO: If the customer has removed used address, his profile cannot be viewed"
Prestashop 1.7.5.0

I have at least one customer who got one of their previously used addresses removed from DB

That address was used in the history of the orders. Its id is 1946. The actual address ID that customer use is 1949. So in the order history both id of the addresses has been used. But first one is absent. I don't know why, maybe I removed it, I don't quite remember.

So when I try to o

[2019-02-19 08:22] Amulliez commented on #12512
@khouloudbelguith Excusez-moi pour le délai de réponse assez long.
La version des deux modules que vous avez cité précédemment ne sont pas compatibles avec la version Prestashop 1.7. J'ai désinstallé ces modules mais l'erreur est toujours présente.
Oui un module de migration Pro a été utilisé pour effectuer le mise à niveau. Le problème n'est pas survenu juste après la migration mais quelques jour

[2019-02-19 08:28] khouloudbelguith commented on #12512
Hi @Amulliez,

Could you please check if there is something went wrong with your update and don't have some of the database columns that were added for 1.7.5.
The solution is to check if there are missing columns in your database schema.

You can find the full schema for 1.7.5.0 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.0/install-dev/data/db_structure.sql

Also, try to clear cache

[2019-02-19 08:43] Nutripure opened #12618 "Problems with payment information returns"
Hello
we have updated to 1.7.5.0, we are facing problems with validated payment information returns, for paypal and credit cards paiements (systempay Caisse Epargne). Prestashop does not retrieve the validated payment information. This information is clearly visible in the server log. After several attempts, the information goes into fatal error and the order doesn't appear on the back office.

Th

[2019-02-19 08:44] grigorevlad opened #12619 "Hook displayFooterAfter is missing in Design -> Positions (PS 1.7.5.1)"
Hi, the new SP 1.7.5.1 has a hook missing in Design -> Positions. There is no displayFooterAfter.
Any quick fix?

Thanks!

[2019-02-19 09:03] khouloudbelguith commented on #12617
Hi @LedCloud,

I created an address for a customer with id_address = 7, I created two orders with this address( one with status accepted & the other with status "Awaiting check payment", I added some products to the cart, I did not complete my order.
Then, I deleted this address from the Database, when I try to go to the FO => Account page => there is no error, in the FO => OrderHistory => OK.
But

[2019-02-19 09:14] M-Grafix commented on #12607
I've changed what you asked me in my FTP but I don't know what to do now !

Thank U to try to help me but it's quite complicated for me to understand everything !
Maybe I'm gonna asked to a technical support who could do it for me !
I'm quite sure it's a Prestashop issue because it became for no reason when I was creating product !

[2019-02-19 09:19] khouloudbelguith commented on #12607
@M-Grafix, after enabling the debug mode, when you navigate to your BO(create a new product,..), are there any exceptions displayed?
Thanks!

[2019-02-19 09:22] elmanu13 commented on #12611
Hi,

You did reproduce exactly what I describe : when you change the shop, the URL change.
To my point of view, the Back-Office URL should be unique, whatever the number of shops we manage.
What is the point to have 2 BO URL (or more) ? It’s confusing.

Thanks for your feedback

[2019-02-19 09:23] khouloudbelguith commented on #12618
Hi @Nutripure,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-02-19 09:30] M-Grafix commented on #12607
Always white page and nothing in the console (see printsrceen)
![sans titre-1](https://user-images.githubusercontent.com/47738000/53004381-5aa02f80-3431-11e9-8a91-84bd0e043860.jpg)

[2019-02-19 09:35] khouloudbelguith commented on #12611
@elmanu13, thanks for your report.
It could be confusing for some people to be redirected to another URL
This "Admin URL issue" is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/9450 as described in in this [ticket](http://forge.prestashop.com/browse/BOOM-3607).
Thanks to check & feedback.

[2019-02-19 09:35] kpodemski commented on #12617
Addresses should not be deleted from DB directly, there is a flag `deleted` in each row to determin whether address is deleted or not.

[2019-02-19 09:36] LedCloud commented on #12617
The addresses can be deleted not only by running sql request derectly to DB but the addressed could be deleted also from the BO Addresses Controller.

So I insist there should be a message while viewing the customer's profile, not a 500 page.

Besides, the address could be deleted long time ago, before 1.7.5.0. With nowadays behavoir the admin cannot access the customer's profile at all.

[2019-02-19 09:37] khouloudbelguith commented on #12607
@M-Grafix, the blank page cannot help us to understand the issue.
We need php error logs. If you don't have it, you should ask your hosting provider.
Thanks!

[2019-02-19 09:37] LedCloud commented on #12617
yes, they shouldn't, but they could be deleted.

Instead of throwing an exception there should be a warning message.

[2019-02-19 09:42] khouloudbelguith commented on #12617
@LedCloud, about deleting addresses which causing a problem, is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/11416, fixed in the PS1.7.5.0.
Thanks!

[2019-02-19 09:44] ghost opened #12620 "1.7.5 + autoupgrade 4.5.1 = Internal server error"
Clean Prestashop 1.7.5 + Autoupgrade 4.5.1 = Internal server error... when want to access module.

[2019-02-19 09:48] Avalon1617 opened #12621 "Problems with making an Order in my homepage when it is a new costumer"
Hi there,

i tried to make an order with a new account in my Shop. I use the Version prestashop 1.7.5.
If i create an account and then i put something in the shopping cart.
Then i go to check out .
When i try to put an adress in the adress fields, it beginns to load and throws me out of the order page, back to the shopping cart overview and then there stands "No Products in the shopping cart" ...

[2019-02-19 09:49] kpodemski commented on #12620
you will not find any updateDelay string because it's obscured by webpack into core.js

also, internal server error says nothing, you should provide log errors from your server

[2019-02-19 09:50] MatShir commented on #12334
Hi @labsi,

You might not have the technical skills to provide it to Prestashop. But we got your feedback and we have shared the idea at Prestashop Feedbacks (http://feedback.prestashop.com/) to let the community help us to prioritizes all ideas from the community.

Thank you

[2019-02-19 09:53] fundup commented on #12577
Unfortunately your solution doesn't work. I modified carrier_wizard.js, cleared cache.
When I have this error modifying a carrier and I come back all rules are empty. After multiple refresh I'm abel to retrieve rules without explanations ...
I'm totaly lost ...
![capture du 2019-02-19 10-49-48](https://user-images.githubusercontent.com/4673348/53005932-8c66c580-3434-11e9-8ec3-ec1011ee14f1.png)
![c

[2019-02-19 09:53] MatShir commented on #11632
Hi @centoasa ,

We got your feedback and we seem to have a solution.
But with the load of work we have in our hands, we have shared your idea at Prestashop Feedbacks(http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/36889873-price-per-unit-for-product-pack-like-alibaba-marke) to let the community help us to prioritizes all ideas from the community.

Thank you

[2019-02-19 09:54] kpodemski commented on #12334
Hey @colinegin

i don't think PrestaShop will ever decide to accept such a modification because we would need to change database structure and all quantities in INTEGER would become FLOAT

if @eternoendless will give it green light i'll be happy to do such a modification because i already have one working, tho this is a big one, core, BO, front-office, JS...

[2019-02-19 09:59] ghost commented on #12620
[Tue Feb 19 10:57:56.672810 2019] [proxy_fcgi:error] [pid 1187:tid 140337538352896] [client xxxxx] AH01071: Got error 'PHP message: PHP Warning:  Uncaught Symfony\\Component\\Debug\\Exception\\ContextErrorException: Warning: require_once(/home/admin/domains/XXXXXX.pl/public_html/modules/autoupgrade/vendor/autoload.php): failed to open stream: No such file or directory in /home/admin/domains/XXXXXX

[2019-02-19 10:01] kpodemski commented on #12620
your 1.7.5 installation was previously updated from 1.6 maybe?

[2019-02-19 10:01] ghost commented on #12620
Nope. Pure fresh.

[2019-02-19 10:02] kpodemski commented on #12620
cc @Quetzacoalt91

[2019-02-19 10:06] khouloudbelguith commented on #12620
Hi @PrestaShark,

In my case, I did not manage to reproduce the issue with PS1.7.5.0.
The 1-click upgrade is successfully installed
https://drive.google.com/file/d/10css7c52gtcUQ7M8ScrOK__zAmWyiebL/view
The version PS1.7.5.1 will be available for the upgrade today.
Did you installed the upgrade module from the Catalog module page?
Could you please try to clear cache manually by deleting all the fo

[2019-02-19 10:11] fundup commented on #12328
@febestore it would be good to share your solution ...
Thanks

[2019-02-19 10:15] LedCloud commented on #12617
Okay. But what fixed? After updating to 1.7.5.0 there will be not such problem, right?

But how about that I already have it?

Yes, I can fix it with raw sql quest, (I speak about this current case) but I don't think it's a common way and it could be recommended to all users of prestashop. Besides how can I know when it happens again?

I believe there should be **a warning message.** Not even an e

[2019-02-19 10:16] khouloudbelguith commented on #12619
Hi @grigorevlad,

After installing the ps_legalcompilance module which is displayed in the hook displayFooterAfter, When I try to navigate to the BO => Design => Positions page => Click on "Transplant a module",
when I search for a hook, I found the displayFooterAfter hook.
![image](https://user-images.githubusercontent.com/16067358/53007505-ac4bb880-3437-11e9-8fd3-900251bcdab6.png)

I checked wit

[2019-02-19 10:18] khouloudbelguith commented on #12617
@LedCloud, In your case you deleted the address from the database & not from the BO, so the issue occurs, is it?
Thanks!

[2019-02-19 10:22] LedCloud commented on #12617
I'm sure I didn't deleted it with the raw sql request. Perhaps it was done by me in BO. Less probably user did that. I use prestashop since 1.5.some version and I don't know when the address was deleted.

[2019-02-19 10:26] khouloudbelguith commented on #12621
Hi @Avalon1617,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1U7ackG-iKWeGHLGTY2l-wWjfm3OC9UBb/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - ap

[2019-02-19 10:29] khouloudbelguith commented on #12617
@LedCloud, In my case, I did not manage to reproduce the issue with PS1.7.5.0 / 1.7.5.1 when I deleted an address from the BO => Customers => Addresses page.
Thanks!

[2019-02-19 10:33] khouloudbelguith commented on #12612
@hellodracon, have you tried to contact the module author about this issue?
Don't you know how to get this information? Please read the following article:
**Adding logs**
Sometimes you just don’t know what’s wrong: something’s not happening, that’s all.
That’s where log data can be helpful. They keep track of what is happening and allows to trace back to the moment when the issue happens.
There ar

[2019-02-19 10:34] MatShir commented on #11302
Hi @lilianamc,

It is an interesting feature. Just to understand your need, you don't rely on the ref of your product or his name when you do order management?

We got your feedback and we have shared the idea at Prestashop Feedbacks (http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/36890221-zoom-on-product-images-on-the-order-list/) to let the community help us to priorit

[2019-02-19 10:35] LedCloud commented on #12617
You don't understand me. Most of people don't start using prestashop since 1.7.5.0. They upgrade to it. And if they as me have such problem, no matter how they got it, they will see only 500 page without explanation and **without the fix to the DB structure**.

Why not to replace the throunging exception to the message?

Besides if the address doesn't exists, everything works either for BO or FO.

[2019-02-19 10:39] Quetzacoalt91 commented on #12620
It seems you got the module from `git clone`. You need to run `composer install` to get the dependencies and the autoloader.

[2019-02-19 10:42] febestore commented on #12328
Hi!
The solution is very simple. You need to turn off the URL validation.
Go to /classes/Carrier.php

Find: `url' => array('type' => self::TYPE_STRING, 'validate' => 'isAbsoluteUrl'),`
Change to: `'url' => array('type' => self::TYPE_STRING),`

[2019-02-19 10:42] grigorevlad commented on #12619
Ah, great. So it needs a module install in order to show in list as active hooks.
Another thing, 1 Click Upgrade doesn't show new PS 1.7.5.1 in Minor Channel upgrade list.
I'm doing it manually using autoupgrade/download folder.

[2019-02-19 10:43] ckubitza commented on #9884
My problem was fixed with this commit (https://github.com/PrestaShop/PrestaShop/commit/db171a58a8c3a3298edd431bbf4b66d6d010c364), so maybe the original bug is also already addressed, somebody has to check it.

[2019-02-19 10:58] khouloudbelguith commented on #12619
@grigorevlad, The version PS1.7.5.1 will be available for the upgrade today.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-02-19 10:58] #12619 closed, assigned to nobody

[2019-02-19 11:22] khouloudbelguith commented on #12620
@PrestaShark, the issue is fixed?
Can I close the ticket?
Thanks!

[2019-02-19 11:22] #12620 closed, assigned to nobody

[2019-02-19 11:28] sebastienhouzet opened #12623 "Problem on Upgrade native module if no logged on Addons"
**Describe the bug**
If you want to upgrade native module with Admin or CLI, the source code is upgraded but not the version on PREFIX_module table.

**To Reproduce**
Install version 1.7.4.0
On CLI uninstall module ps_facetedsearch
Go on Admin > tabs module > Selection
search ps_facetedsearch
And Install ps_facetedsearch

Version on Admin is 2.1.2 and upgrade to 2.2.1 is propose.

Click on Upgrade

[2019-02-19 11:29] khouloudbelguith commented on #12577
Hi @fundup,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
In our case, we did not manage to reproduce this issue.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-02-19 11:39] IAmWebSA commented on #12576
Hello,

no that is not the same issue. The issue appears only for old products, it calls ajax after Configure button is pressed and instead of switching to the modules section it just states a notification with "Settings successfully updated".

[2019-02-19 12:13] khouloudbelguith commented on #12576
Hi @IAmWebSA,

Could you please provide me with a screen recording of your issue, it will help us to understand the exactly problem.
Thanks!

[2019-02-19 12:22] unicomprocom opened #12624 "Adding a Cart Rule problem - Prestashop 1.7.4.2"
We have a problem with the Cart Rule on Prestashop 1.7.4.2. when we add a cart rule.

Adding to cart does not work when you enable any cart rule and the cart page loads long then we have an "Internal Server Error" problem

We tried to do a debogging, we found that there is a blogging at the line

`if ($ cart_rule-> checkValidity ($ context, false, false)) {`

at line 1554 of the file classes/CartR

[2019-02-19 12:56] marionf opened #12625 "Can't import tanzania localization pack"
**Describe the bug**
There is an exception when you try to import the Tanzania pack

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International > Localization
2. Select Tanzania
3. Click on Import
4. See error

**Screenshots**
Before on 1.7.4.4 there was this error

![capture d ecran_1041](https://user-images.githubusercontent.com/13449658/53016507-153e2b00-344e-11e9-8a3a-72cbb0b2cae

[2019-02-19 13:03] colinegin commented on #12363
It's a great idea !
@LouiseBonnard what would be the alert message according to you ?

[2019-02-19 13:27] Quetzacoalt91 commented on #12626
This issue could be fixed with some changes added in the SQL files, that's why I moved it from the `autoupgrade` repository.

[2019-02-19 13:32] khouloudbelguith commented on #12626
Hi @rblaurin,

Could you please provide me the exact language/country did you used during the installation of your previous PrestaShop.
Because as I said in my previous issue: #12535, I installed fresh PrestaShop 1.7.4.4 French language/ France country, I created a delivery slips => make an upgrade with the 1-click upgrade v4.5.1. => OK => I checked the Orders > Delivery Slips" page & it is OK.
Th

[2019-02-19 13:35] Quetzacoalt91 commented on #12627
Moved from `autoupgrade` repository. The issue is caused by the method `PrestaShopBundle\Install\Upgrade::migrateSettingsFile()` present in the core.

[2019-02-19 13:40] khouloudbelguith commented on #12623
Hi @sebastienhouzet,

About the first issue, I did not manage to reproduce the issue with PS1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/19j3tVGYZoFqOtDsn8McPh4VHIhN_PX4e/view
The version of the module is well updated in the Database.
About the second issue, after clearing cache manually by deleting all the folder into var/cache (prod & dev).
I tried to use this command
`php

[2019-02-19 13:44] khouloudbelguith commented on #12627
Hi @wlauvenberg,

We are of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12413
So, I close it.
Thanks!

[2019-02-19 13:44] #12627 closed, assigned to nobody

[2019-02-19 13:44] khouloudbelguith commented on #12627
Duplicate of #12413

[2019-02-19 13:55] khouloudbelguith commented on #12624
Hi @wajingdev,

What is the exact configuration did you used for this cart rule( with/without code, free shipping/ percent discount,...)?
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know

[2019-02-19 14:05] rblaurin commented on #12626
Hi @khouloudbelguith,

I used Brazil / Brazilian Portuguese in my previous PrestaShop. I made a lot of updates since the first instalation (version 1.2, I think), so I don't know if this issue occurs for something remaining from a previous update, but it crashes only when updating to 1.7.5.
The way to reproduce this error is having a system with no "PS_DELIVERY_PREFIX" key in ps_configuration_lang

[2019-02-19 14:09] Nutripure commented on #12618
Logs in BO are :

PaymentModule::validateOrder - Secure key does not match

PaymentModule.php -> ligne 253

if ($secure_key !== false && $secure_key !=
$this->context->cart->secure_key) {
                 PrestaShopLogger::addLog('PaymentModule::validateOrder -
Secure key does not match', 3, null, 'Cart', (int) $id_cart, true);
                 die(Tools::displayError());

This mistake is generate

[2019-02-19 14:09] khouloudbelguith commented on #12617
@LedCloud, I tried with PS1.7.4.4, I deleted an address when I already have an abandoned cart.
I have an issue in the Shopping cart page as described in this issue: https://github.com/PrestaShop/PrestaShop/issues/9782
I made an upgrade from 1.7.4.4 to PS1.7.5.0 with the 1-click upgrade v4.5.1. => OK.
I try to login to BO => Shopping cart page, I always have the same issue,
![image](https://user-im

[2019-02-19 14:18] khouloudbelguith commented on #12618
Hi @Nutripure,

Could you please check if the cart secure key is different than customer secure key when this issue occurs.
Did you delete carts from the Database?
Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]
You need also to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this

[2019-02-19 14:18] M-Grafix commented on #12607
I succeeded to go to my catalog, I don't know why ! And I quickly made a print screen with the message :
![print screen](https://user-images.githubusercontent.com/47738000/53021445-82a38900-3459-11e9-9088-8bfa1db8116f.jpg)

[2019-02-19 14:22] khouloudbelguith commented on #12607
@M-Grafix, those are just warnings, not errors, some warnings about the maps, related to this: #10393.
What about the other pages => they are well opened?
THanks!

[2019-02-19 14:33] Nutripure commented on #12618
Hello

1. we set up an email to check the secure key. On validated orders, key are the same. On bugged orders, we will verify that keys are differents. this problem only occurs 10% of the orders.

2. we never deleted carts from the database

3. we deleted the cache from Projet_PrestaShop/var/cache/prod (unique folder in cache). what is it suppose to produce ?

thanks!

[2019-02-19 14:33] M-Grafix commented on #12607
I cannot access to other pages like Module, Click Upgrade, Theme, Advanced parameter, etc.

[2019-02-19 14:35] M-Grafix commented on #12607
And the catalog is not accessible again !

[2019-02-19 14:36] khouloudbelguith commented on #12626
@rblaurin, I tried to install PS1.7.0.0. with Brazil / Brazilian, I checked the table "ps_configuration"
![image](https://user-images.githubusercontent.com/16067358/53022562-ba133500-345b-11e9-81b9-e759f410df7f.png)
And the ps_configuration_lang table, the "PS_DELIVERY_PREFIX" key exists
![image](https://user-images.githubusercontent.com/16067358/53022611-d1eab900-345b-11e9-8515-a2b8d0b228aa.png)

[2019-02-19 14:39] khouloudbelguith commented on #12618
@Nutripure, to be sure is not a cache issue, we need to retrieve cache folder manually.
THis issue occurs only with this module "systempay Caisse Epargne", have you tried to contact the module author about this issue?
Thanks!

[2019-02-19 14:40] khouloudbelguith commented on #12607
@M-Grafix, could you please provide me your credentials to access to your BO to test it.
This is a public space.
You can provide me the link by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

[2019-02-19 14:55] khouloudbelguith commented on #12599
Hi @ivordurham,

Thanks for these clarifications.
I tried with nginx, I edited the file /etc/nginx/nginx.conf where I set `fastcgi_read_timeout 120;`
When I tried to install PS1751 for example, I have "504 Gateway Time-out"
![image](https://user-images.githubusercontent.com/16067358/53024071-a1584e80-345e-11e9-982e-ba3b1496a619.png)
But, if I edit the `fastcgi_read_timeout 120;` to `fastcgi_read_t

[2019-02-19 15:06] M-Grafix commented on #12607
Sent ;)

[2019-02-19 15:11] khouloudbelguith commented on #12607
@M-Grafix, I just received your email.
Could you please edit the config/defines.inc.php file. Find the following line in the file:

`define('_PS_MODE_DEV_', false);`

… and change it to:

`define('_PS_MODE_DEV_', true);`

I need debug mode enabled.
Thanks!

[2019-02-19 15:11] Nutripure commented on #12618
Hello
cache folder was removed manually.
this problem occurs for systempay and paypal. So no need to contact the module authors.
The problems occurs in prestashop file PaymentModule
thanks

[2019-02-19 15:12] rblaurin commented on #12626
@Matt75 says in the issue [#12535](https://github.com/PrestaShop/PrestaShop/issues/12535) that it seems to be related to upgrades from previous versions of Prestashop (1.6 he said).
As I mentioned before, I am not sure about what version introduced this deficiency in database. Looking at the SQL upgrade scripts, the only upgrade that seems to change the "PS_DELIVERY_PREFIX" key is to 1.1.0.1.
***

[2019-02-19 15:19] M-Grafix commented on #12607
Ok, done

[2019-02-19 15:24] unicomprocom commented on #12624
Thank you,

For Cart Rule, we have this problem with all config (with/without code, free shipping/ percent discount,...)

this is our config :

the website is hosted by ovh
Apache
PHP : 7.1.25
Memory limit: 512M
Maximum execution time: 300
Max size for sending files: 128M

the debug mode show this message after a a long loading

Internal Server Error
The server encountered an internal error or mis

[2019-02-19 15:27] khouloudbelguith commented on #12607
@M-Grafix, no, in the link that you provided it to me, it is still disabled.
Thanks!

[2019-02-19 15:32] hellodracon commented on #12612
Oh ok sorry, I misread the log things, I thought it was other logs in PS.
I got these errors :

[Sun Feb 17 13:54:26 2019] [error] [client 175.177.5.139] [host www.xxxx.com] AH10149: FastCGI: incomplete headers (0 bytes) received from server "/homez.138/ramdaneckg/xxxx/modules/squareup/validation.php", referer: https://www.xxxx.com/jp/module/squareup/payment
[Sun Feb 17 13:54:26 2019] [error] [cli

[2019-02-19 15:33] khouloudbelguith commented on #12612
@hellodracon, as described in your php log, it is a `squareup` module issue.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-02-19 15:33] #12612 closed, assigned to nobody

[2019-02-19 15:35] hellodracon commented on #12612
Thank you and sorry it wasn't PS related

[2019-02-19 15:41] holle75 commented on #9766
problem still exists in module v3.0.1 and Presta 1.7.5
you can also realize the problem under the pricetag on product pages. Additional text fe "VAT included Shipping excluded - Estimated time to delivery 1-2 month", the "Shipping excluded " part stays in the language one used when switching caching on.

[2019-02-19 15:43] marionf commented on #12599
Let's ask to a dev @PrestaShop/prestashop-core-developers

[2019-02-19 16:02] khouloudbelguith commented on #12618
@Nutripure, thanks for your feedback.
I tried with PS1.7.5.0 & the PayPal module v4.4.2 & it is OK.
@marionf what do you think?
Can you reproduce the issue?
Thanks!

[2019-02-19 16:03] Nobodaddy commented on #9766
Like I said, but they wouldn't listen. This file split in _ps_legalcompliance_ was the wrong tack to avoid caching errors.
:)

[2019-02-19 16:20] Codencode opened #12629 "Ordering discounting products by price (FO)"
When sorting products by price in the front office, if a product has a specific price that greatly lowers the final price, this is displayed on a certain page based on the original price and, then, ordered on that page based on the discounted price.

For example, starting from a clean install:
1. Add a specific price to the product "Pack Mug + Framed poster" id_product: 15 with a discount of 85%;

[2019-02-19 16:29] holle75 commented on #9766
Yup, after spending 2 month now fixing errors, discovering "unlogic" behavior and missing features from (even very old) former versions in Presta 1.7.x, still every day something new and surprising comes up.
.... Or maybe i´m just anal in not willing to be the Admin of a buggy shop?

But hey, finally everything will be alright! .... Just the path to get there .....

And i think (and hope) the impr

[2019-02-19 16:33] khouloudbelguith commented on #12629
Hi @Codencode,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10010
So, I close it.
Thanks!

[2019-02-19 16:33] #12629 closed, assigned to nobody

[2019-02-19 16:33] khouloudbelguith commented on #12629
Duplicate of #10010

[2019-02-19 16:35] viktor-abc opened #12630 "Message "There are not enough products in stock" Prestashop 1.7.5.0"
Hello, I think that in file ... \ src \ Adapter \ Presenter \ Product \ ProductLazyArray.php in line 766:

elseif ($ product ['quantity_wanted']> 0 && $ product ['quantity']> = 0)

was one Bug done. This condition always becomes true if $ product ['quantity'] = 0 because the desired amount always starts with 1. Due to this error, the message "There are not enough products in stock" always appears,

[2019-02-19 16:39] khouloudbelguith commented on #12630
Hi @viktor-abc,

Could you please provide me steps to reproduce the issue in a new comment.
Thanks!

[2019-02-19 16:40] colinegin commented on #11102
#12628

[2019-02-19 16:41] colinegin commented on #11102
#12628

[2019-02-19 17:09] khouloudbelguith commented on #12624
Hi @wajingdev,

About this error:

`Connection reset by peer: mod_fcgid: error reading data from FastCGI server`, it is a server issue, have you tried to contact your host about this?
Thanks to check with them & feedback.

[2019-02-19 17:35] lilianamc commented on #11302
Hi @MatShir ,

Yes, you are right. It 's much easier to click on the image and see it bigger to avoid mistakes.

[2019-02-19 18:33] IAmWebSA commented on #12576
@khouloudbelguith . I have attached the captures with working and not working example. Both captures are from the same shop.
[Captures.zip](https://github.com/PrestaShop/PrestaShop/files/2881447/Captures.zip)

[2019-02-19 18:48] fundup commented on #12577
Unfortunately I don't see any error in my Apache log, and debug mode is not helpfull :( .
I have a local version and server version (exactly the same configuration, same database). In my local version I don't have any trouble.
I was able to reproduce a similar error (saving with 0 as range value and empty price), after checking ajax call in my debug console I have in return (status 200 !!)
La prop

[2019-02-19 18:56] IAmWebSA commented on #12576
After a closer look to the  Firefox  Debug I saw the following:
`Error: Syntax error, unrecognized expression:
### ▷ ✓ Top-Marken ✓ Top-Produkte ✓ Top-Service ✓ Fair und preiswert bei ✓
main.bundle.js:275:78873
error https://www.shop.de/adminXXXXX/themes/new-theme/public/main.bundle.js:275
    tokenize https://www.shop.de/adminXXXXX/themes/new-theme/public/main.bundle.js:275
    select https://www

[2019-02-19 19:20] polo195pl opened #12631 "Cant var_dump in hookdisplayProductExtraContent"
**Describe the bug**
Cant var_dump or print_r in hook displayProductExtraContent. When i try all data didnt show.

**To Reproduce**
Steps to reproduce the behavior:
1. Create basic module add set hookdisplayProductExtraContent($params)
2. in tpl try @var_dump or print_r
3. Dont see anything from this hook

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: 7.0/7.1/7.2/7.3

[2019-02-19 20:29] fundup commented on #12577
After many tries I'm able to save my Carrier (don't know exactly why, I did [this](https://github.com/PrestaShop/PrestaShop/issues/12328#issuecomment-465080680.) .

Well the problem still  appear and it is always with this error : 'property RangeWeight->delimiter1 is empty'.

Steps to reproduce :
- create a carrier with 2 zone and 3 ranges
-  Edit this carrier : disable one zone and add 1 range

Y

[2019-02-20 03:09] agunk31 commented on #10161
![2](https://user-images.githubusercontent.com/47803217/53063340-52f68e80-34f6-11e9-84a6-6ef3a5788150.png)
you have problem in install prestashop , you can try my step
![6](https://user-images.githubusercontent.com/47803217/53063540-0d869100-34f7-11e9-8165-dcd5c255405d.png)
you edit in root C:\xampp\htdocs\prestashop\src\PrestaShopBundle\Install and edit use sublime text
find line 619
![5](https:/

[2019-02-20 03:10] agunk31 commented on #11355
you can read my tutorial in comment this
https://github.com/PrestaShop/PrestaShop/issues/10161#issuecomment-465403165

[2019-02-20 03:52] Akashvastarpara opened #12632 "new string tanslation in custom theme"
I have new string in my theme in the file "mytheme\modules\ps_shoppingcart.tpl" file.
Code in this file is as below:
`<p class="no-item">{l s='There is no item in your cart' d='Shop.Mytheme'}</p>`

I have exported theme in polish language and copy all .xlf file to the mytheme/translations/pl-PL/ folder but still I'm not able to find this string and domain Mytheme in back-office.

I'm using 1.7.5.0

[2019-02-20 07:17] grigorevlad commented on #12619
Hi @khouloudbelguith , thanks for feedback. 1-Click Upgrade module was updated today to 4.6.0 , unfortunately it can't find 1.7.5.1 in minor channel upgrade.
Maybe later, i'll check again.

[2019-02-20 07:29] cperez75 commented on #12409
Hi @khouloudbelguith!

Thans for your answer, as you say it is a theme problem, there is not update yet for 1.7.5 so i must wait...

Thanks again!

[2019-02-20 07:54] Nutripure commented on #12618
Hello
bug is randomized, it doesn't appear systematically.
After deleting the cache, the errors occurs twice that night.
thanks
Florent

[2019-02-20 08:05] khouloudbelguith commented on #12409
Hi @morghy1992,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-02-20 08:05] #12409 closed, assigned to nobody

[2019-02-20 08:10] khouloudbelguith commented on #12619
@grigorevlad, we just published the new release 1-click upgrade v4.6.0, so, the PS1.7.5.1 will be available to upgrade in few hours.
Thanks for your understanding!

[2019-02-20 08:20] khouloudbelguith commented on #12626
Hi @rblaurin,

I tried with an old version 1.6.1.4, before the upgrade I checked the table "ps_configuration" and the ps_configuration_lang table, the "PS_DELIVERY_PREFIX" key exists.
I made an upgrade to PS1.7.5.0 & it is OK.
I attached a video record.
https://drive.google.com/file/d/1MfmIv3OnU2LTHyec8OeHFK5avatxmYQq/view
Despite our several trials, we could not reproduce your issue with the prov

[2019-02-20 08:51] thbl opened #12633 "1-Click Upgrade missing 1.7.5.1"
In PS "1-Click Upgrade" module
Latest official version for minor channel.: 1.7.5 stable - (1.7.5.0)

So not possible to upgrade to the new 1.7.5.1 ?

[2019-02-20 08:52] khouloudbelguith commented on #12631
Hi @polo195pl,

I tried with this module
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/2883752/mymodule.zip)
and it is OK.
I tried with `print_r` & the `var_dump` in the php file
![image](https://user-images.githubusercontent.com/16067358/53078738-2a21c980-34f5-11e9-90c5-d6c6e72bf67c.png)
Thanks to check & feedback.

[2019-02-20 08:59] khouloudbelguith commented on #12633
Hi @thbl,

We just released a new version for the module 1-click upgrade v4.6.0.
So the new version PrestaShop 1.7.5.1 will be available today for the upgrade.
Thanks!

[2019-02-20 08:59] #12633 closed, assigned to nobody

[2019-02-20 09:00] thbl commented on #12633
I have v4.6.0, but it still says
Latest official version for minor channel.: 1.7.5 stable - (1.7.5.0)

[2019-02-20 09:03] khouloudbelguith commented on #12633
@thbl, yes.
the PS1.7.5.1 is not published yet for the upgrade.
It will be available in a few hours.
Thanks for your understanding!

[2019-02-20 09:03] nziria commented on #12468
anyone have this problem? @khouloudbelguith what version of php you have?

[2019-02-20 09:04] PierreRambaud commented on #12599
Yes, you need to change your `fastcgi_read_timeout` because this is specific to nginx.

[2019-02-20 09:04] unicomprocom commented on #12624
Hi,

There is no relationship between the 2 problems according to the supplier.

As I told you, the blogging is at the level of the function "if ($ cart_rule-> checkValidity ($ context, false, false)) {" which is not working. I put a log message in the checkValidity function, and the script does not run this function. I do not now why !

if i comment this code `if ($cart_rule->checkValidity($conte

[2019-02-20 09:07] khouloudbelguith commented on #12468
@nziria, tried with PHP7.0.33 & PHP 7.2.10.
Thanks!

[2019-02-20 09:13] khouloudbelguith commented on #12624
Hi @wajingdev,

It could be something went wrong with your update and don't have some of the database columns that were added for 1.7.4.2
Thanks to check if there are missing columns to your database schema.
You can find the full schema for 1.7.4.2 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.4.2/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2019-02-20 09:27] khouloudbelguith commented on #12577
@fundup, no, I did not manage to reproduce the issue with PS1.7.5.0.
https://drive.google.com/file/d/1j3omt6KC3NykwfWZInLuzEuzoqSlDMrr/view
Thanks!

[2019-02-20 09:28] khouloudbelguith commented on #12328
Hi @febestore,
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Our developers will help you get it right.
Thanks!

[2019-02-20 09:31] marionf commented on #12618
@khouloudbelguith I tried also with paypal and can't reproduce this issue

[2019-02-20 09:31] marionf commented on #12618
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards.

[2019-02-20 09:32] #12618 closed, assigned to nobody

[2019-02-20 09:32] Matt75 commented on #12626
@khouloudbelguith In fact this problem occurs when you have a shop with **only one language** and your PrestaShop come from very old version. Maybe from < 1.5 but I'm not sure
So it seems to be an issue from PrestaShop previous version who impact database and not fixed with upgrade

There are many merchants with similar issue :
- https://github.com/PrestaShop/PrestaShop/issues/12535 (Related to PS

[2019-02-20 09:36] khouloudbelguith commented on #12626
Hi @Matt75,

Thanks for your feedback.
@marionf what do you think?
Thanks!

[2019-02-20 09:41] nziria commented on #12468
anyway i can't resolve this problem. i'm so sad, after that i resolved the coupon code on virtual product i don't understand this type of problem, maybe it's a hosting problem.

[2019-02-20 09:42] unicomprocom commented on #12624
I managed to fix the problem, I deactivated the different non-prestashop modules and some Prestashop modules and I reactivate them.

and as weird there is no problem !

Thank you Khouloud

[2019-02-20 09:42] #12624 closed, assigned to nobody

[2019-02-20 09:43] khouloudbelguith commented on #12468
Hi @nziria,

The only issue which I can reproduce is reported in this ticket: #9667
But it is not your case.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388

[2019-02-20 09:43] #12468 closed, assigned to nobody

[2019-02-20 09:45] khouloudbelguith commented on #12624
@wajingdev, I'm glad that your issue is solved.
Feel free to open a new one when needed.
Thanks!

[2019-02-20 09:57] Quetzacoalt91 commented on #12633
The version 1.7.5.1 is now available for upgrade.

[2019-02-20 09:58] thbl commented on #12633
Thanks

[2019-02-20 10:13] khouloudbelguith commented on #12632
Hi @Akashvastarpara,

I did not manage to reproduce the issue with PS1.7.5.0 & with this custom theme
[mytheme.zip](https://github.com/PrestaShop/PrestaShop/files/2884084/mytheme.zip)
In the file mytheme\modules\ps_shoppingcart.tpl" file.
I added this code
`<p class="no-item">{l s='There is no item in your cart' d='Shop.Mytheme'}</p>`
And I folowed these steps
http://build.prestashop.com/howtos/tr

[2019-02-20 10:17] polo195pl commented on #12631
Well read it my issue again. Add template to this hook and try in var_dump or print_r any variable in template assigned for this hook from module.

[2019-02-20 10:20] khouloudbelguith commented on #12631
@polo195pl, thanks for your feedback.
Could you please provide me a demo module to check the issue.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2019-02-20 10:21] polo195pl commented on #12631
I will write today

[2019-02-20 10:26] khouloudbelguith commented on #12631
@polo195pl, Thanks!
Waiting for your feedback.

[2019-02-20 10:26] khouloudbelguith commented on #12576
Hi @IAmWebSA,

Thanks for your feedback.
In fact, your issue is the same reported here; https://github.com/PrestaShop/PrestaShop/issues/11911#issuecomment-449714318
In the Tab module, if we click on configure => nothing happens for old products only.
About your console log, it is the same error provided by le in this comment: https://github.com/PrestaShop/PrestaShop/issues/11911#issuecomment-44971

[2019-02-20 10:26] #12576 closed, assigned to nobody

[2019-02-20 10:26] khouloudbelguith commented on #12576
Duplicate of #11911

[2019-02-20 10:29] thbl commented on #11944
+1 same problem here

[2019-02-20 10:29] NicolasSmit commented on #10178
I'm also facing this issue on Prestashop 1.7.5.
I've tried to disable and clear the cache, enable / disable friendly urls, but nothing changes.
Here's a thing I've noticed in the console :
![image](https://user-images.githubusercontent.com/18512733/53085238-b7b7e600-3502-11e9-9876-ef2c486c83e0.png)
Product id is different in the request done to the server !
Anyone has an idea ?

[2019-02-20 10:30] khouloudbelguith commented on #12510
Hi @maviteknoloji,

Feel free to open a new one when needed.
Thanks!

[2019-02-20 10:36] IAmWebSA commented on #12576
@khouloudbelguith  You say it is fixed by #11923, but if I use the "new-theme" from github mainline the error still exists. As I see the fix was already merged to Mainline.

So why does it still not work? any other changes needed ?

[2019-02-20 10:42] khouloudbelguith commented on #12576
@IAmWebSA, did make an upgrade to PS1.7.5.1? or did you applied the patch in your code?
Thanks!

[2019-02-20 10:46] colinegin commented on #9639
Hello,

I cannot reproduce this issue with the latest version of the module, so I close this issue.
Do not hesitate to re-open it if you still have the issue !

Have a nice day,

Coline

[2019-02-20 10:46] #9639 closed, assigned to nobody

[2019-02-20 10:47] Olmanuel commented on #12581
@khouloudbelguith , this is the error i saw:

Attempt to call function "iconv_strlen" from namespace "PrestashopBundle\Form\Validator\Constraints"

[2019-02-20 10:51] IAmWebSA commented on #12576
@khouloudbelguith I had replaced the complete folder of the "new-theme" with the one from the github.
So no upgrade to 1.7.5.1 just added new theme

[2019-02-20 10:52] khouloudbelguith commented on #12581
Hi @Olmanuel,

Your iconv.so extension in /etc/php/php.ini is commented out/disabled for some reason.
You need to enable it.
We have already ticket: #10152 about this issue.
Thanks to enable it on your server, check & feedback.

[2019-02-20 10:54] khouloudbelguith commented on #12576
@IAmWebSA, did you copied this folder https://github.com/PrestaShop/PrestaShop/tree/1.7.5.1/admin-dev/themes/new-theme from the PS1.7.5.1 tag?
Thanks!

[2019-02-20 11:06] vincentchu37 opened #12635 "1.7.5.0 -> 1.7.5.1 One Click Upgrade Error"
One Click Upgrade errors out at upgrading database.

**Information from One click upgrade backoffice:**
[Ajax / Server Error for action upgradeDb] textStatus: "error " errorThrown:"Internal Server Error " jqXHR: " {"nextQuickInfo":["Migrating old setting file...","parameters file already exists!","Finished...","

[OK] PHP 1.7.5.1 : \/* PHP:ps_1751_update_module_sf_tab(); *\/<\/div>","[INTERNAL] \/

[2019-02-20 11:12] Olmanuel commented on #12581
@khouloudbelguith , How do i enable iconv.so?

[2019-02-20 11:13] khouloudbelguith commented on #10178
Hi @NicolasSmit,

No, I did not manage to reproduce the issue when a friendly URL is disabled.
https://drive.google.com/file/d/1tkGWrAd-3yqictvK3zD_zkqG47eUFn35/view
Thanks!

[2019-02-20 11:14] khouloudbelguith commented on #12581
@Olmanuel, in your /etc/php/php.ini file, you need to uncomment  `iconv.so`.
Also, you can check with your host.
Thanks!

[2019-02-20 11:24] khouloudbelguith commented on #12635
Hi @vincent8balls,

In my case, I did not manage to reproduce the issue with 1-click upgrade v4.6.0 from PS1.7.5.0 to PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1Ej3bJdkBgCnGotk0_CxH1x5kGfUBeBpV/view
About this error: "AH01071: Got error 'PHP message: PHP Fatal error: require_once(): Failed opening required '/home/shop/webapps/SwatShop/config/defines.inc.php'", it could

[2019-02-20 11:26] marionf commented on #12575
@khouloudbelguith it seems a duplicate of #9647 ?

[2019-02-20 11:32] vincentchu37 commented on #12635
Thanks for the reply. I will give that a shot. What permissions should give for the file? 755?

[2019-02-20 11:36] khouloudbelguith commented on #12575
@marionf, thanks, yes it is a duplicate.
More details in this comment: https://github.com/PrestaShop/PrestaShop/issues/9647#issuecomment-415055253

@damianobertuna, the issue is added to our debug roadmap.
Your ticket is a duplicate of #9647
So, I close it.
Thanks!

[2019-02-20 11:36] #12575 closed, assigned to nobody

[2019-02-20 11:37] khouloudbelguith commented on #12575
Duplicate of #9647

[2019-02-20 11:39] khouloudbelguith commented on #12635
@vincentchu37, could you please try with 775.
I tried with another shop PS1.7.5.0 installed in a server with 7.2.10 & it is OK(successfully upgraded)
Thanks!

[2019-02-20 11:40] IAmWebSA commented on #12576
@khouloudbelguith I used the version from the develop branch.

[2019-02-20 11:42] khouloudbelguith commented on #12576
@IAmWebSA, the fix exists in the PS1.7.5.1 version.
You should use this one.
Or you can download the Stable version PS1.7.5.1 from our official link & copy paste the folder.
Thanks!

[2019-02-20 11:46] Olmanuel commented on #12581
@khouloudbelguith , i did not work with my local host and any point, only my host. where do you suggest i find this with my host? my host etc folder doesnot have a php folder

[2019-02-20 11:53] khouloudbelguith commented on #12581
@Olmanuel, so, you need to check your host provider to enable the iconv.so extension.
Thanks!

[2019-02-20 11:54] khouloudbelguith commented on #12224
Hi @cyjo5,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-20 11:54] #12224 closed, assigned to nobody

[2019-02-20 12:13] Marcin-J-PL opened #12636 "BO Product edit access blocking product add"
**Describe the bug**
When i set Access for product show->ON, add->ON, edif->OFF, employee can't add product because all form is blocked.

**To Reproduce**

1. Go to AdminAccess
2. Edit some Access profile by set show->ON, add->ON, edit->OFF
3. Log out and Log in as emmploye witch have that Access Profile
4. Try add new product.

**Screenshots**
![2019-02-20_1212](https://user-images.githubusercont

[2019-02-20 12:20] Van-peterson opened #12637 "1: Warning: Invalid argument supplied for foreach()"
I had the following error at step 6 while trying to install PrestaShop 1.7.6.* in localhost using Xampp

**Une erreur est survenue durant l'installation...**
Vous pouvez utiliser les liens à gauche pour revenir aux étapes précédentes, ou redémarrer l'installation en cliquant ici.

1: Warning: Invalid argument supplied for foreach()

**Steps to reproduce the behavior:**

1 - Choix de la langue
2 -

[2019-02-20 12:23] Marcin-J-PL opened #12638 "BO multistore - combination product images are not saved per shop"
**Describe the bug**
Combination images don't support multistore.

**To Reproduce**
1. Choose some shop Context
2. Go to product edit -> combinations
3. Change some image select
4. Change shop contex to another it wiil lost own combination image select

**Screenshots**
![2019-02-20_1321](https://user-images.githubusercontent.com/41126332/53091622-b8587880-3512-11e9-9fa8-7a9c9a31458e.png)

**Additi

[2019-02-20 12:33] mateuszstompor commented on #12452
I followed steps which @khouloudbelguith provided but it didn't help at all. Issue still exists. Prestashop 1.7.5.0, default theme.

Edit:
One important note, it only affects Safari browser

[2019-02-20 12:34] Marcin-J-PL commented on #12631
Template should be in Smarty or Twig. In Smarty you shoulde use {$var|@print_r} in Twing i'm not sure.  Also in smarty you can use {debug}

[`PrestaShop DevDocs`](https://devdocs.prestashop.com/1.7/modules/creation/displaying-content-in-front-office/)

[2019-02-20 12:57] viktor-abc commented on #12630
Hello, I have added 2 pictures that I think are self-explanatory.
![out_of_stock_1](https://user-images.githubusercontent.com/47788586/53093228-2a32c100-3517-11e9-895a-ddf1435e42c5.jpg)
![out_of_stock_2](https://user-images.githubusercontent.com/47788586/53093229-2acb5780-3517-11e9-93e9-f3b483481934.jpg)

[2019-02-20 12:58] polo195pl commented on #12631
@marcin-jaworski i know...

[2019-02-20 13:08] khouloudbelguith commented on #12637
Hi @Van-peterson,

Did you clone the project from GitHub?
https://github.com/PrestaShop/PrestaShop
This is not a stable version.
I tried with develop Branch (1.7.6.0 => OK).
I attached a video record.
https://drive.google.com/file/d/1XJPa_LfJYTd373YD77yEpXcPsKG1PV8l/view
Thanks to check & feedback.

[2019-02-20 13:10] Nutripure commented on #12618
After investigating, I found that there is a conflict between the cart number and the order number sent to the paiement module with are not equal when it does bad.

Normally, cart number is set as the order number in the payment module. When the payment is ok, this number is checked in prestashop BO :
 - if cart number and payement number are the same (the two secury keys are also the same), order

[2019-02-20 13:31] marionf opened #12639 "npm run dev isn't working"
**Describe the bug**
npm run dev isn't working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin-dev/themes/new-theme/
2. Launch npm run dev

[2019-02-20 13:32] marionf commented on #12639
@PierreRambaud

[2019-02-20 13:33] espacious commented on #9641
I confirm on 1.7.5.0 if i modify the product description for example, and qty is less or equal 3 i get an email out of stock.
So on EVERY product SAVE i recive a mail out of stock. A bit annoying.

[2019-02-20 13:36] kpodemski commented on #9641
I'll look into this

[2019-02-20 13:36] PeeyushAgrawal commented on #12509
Hello @khouloudbelguith @marionf
Yes, I have a solution for this, I'll create a pull request for this soon.
Thanks

[2019-02-20 13:37] marionf commented on #12626
It can be fixed in the autoupgrade module

[2019-02-20 13:54] LouiseBonnard commented on #12363
@colinegin, @khouloudbelguith, @idnovate, what do you think of the following wording: _Note that if you want to base a quantity discount on a product, it will apply to all of its combinations._, to be localized in _Admin.Shopparameters.Feature_ (unless it will be displayed as a tooltip and then it should be localized in _Admin.Shopparameters.Help_)? Is it clear enough?

[2019-02-20 13:55] jolelievre opened #12640 "[SF Migration] Modern Tabs with symfony routes"
**Is your feature request related to a problem? Please describe.**
The current Tab can only point to a legacy controller using the `class_name` property. So to point to a Symfony route you need to have a `_legacy_link` and use it in the Tab.

Another problem is with the automatic Tabs registering, which uses the `$tabs` property of modules. It only works if the Tab you are creating has a `class_na

[2019-02-20 14:03] idnovate commented on #12363
And what do you think about adding something like "_You can change this behaviour at "Shop Parameters => Product Settings"_"?

[2019-02-20 14:11] khouloudbelguith commented on #12452
@mateuszstompor, what is the exact version PHP did you use? could you please provide us your server setup and configuration
Thanks!

[2019-02-20 14:12] djmassive commented on #12268
Hi @khouloudbelguith, @matks  - i found route to reproduce this error.

1. Install Fresh MAMP
2. Edit /etc/host file and add example 127.0.0.1     presta.dev
3. Edit MAMP/conf/apache/httpd.conf and change:
    a) line 206 AllowOverride None to AllowOverride All
    b) line 575 (remove # before this line) (enable including vhost file)
4. Edit /MAMP/conf/apache/extra/httpd-vhosts.conf and paste:

[2019-02-20 14:15] khouloudbelguith commented on #12638
Hi @marcin-jaworski,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

[2019-02-20 14:28] khouloudbelguith commented on #12630
Hi @viktor-abc,

Thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.5.1 & PS1.7.4.4.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-02-20 14:43] khouloudbelguith commented on #12636
Hi @marcin-jaworski,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

[2019-02-20 14:52] khouloudbelguith commented on #12638
Related to: #9833

[2019-02-20 14:56] colinegin commented on #11315
#12644

[2019-02-20 15:08] Olmanuel commented on #12581
@khouloudbelguith , i am having a bit of difficulty finding this file, is it meant to be on the host's cpanel?

[2019-02-20 15:15] marionf commented on #12636
Hey @matks as you refactored several controllers to use annotations, did you plan to do the product one ?

[2019-02-20 15:20] LouiseBonnard commented on #12363
Well, in this case, I must have misunderstood something... on which page of the back office would this alert be displayed? Are not we already on the Shop Parameters > Product Settings page?

[2019-02-20 15:22] khouloudbelguith commented on #12581
@Olmanuel, yes it could be.
Thanks!

[2019-02-20 15:23] PierreRambaud commented on #12639
Waiting for feedback here: https://github.com/webpack-contrib/mini-css-extract-plugin/issues/147

[2019-02-20 15:30] idnovate commented on #12363
@LouiseBonnard Maybe it's me who misunderstood, but I think the message should appear when you set a specific price:

![image](https://user-images.githubusercontent.com/15104724/53102827-c4e9ca80-352c-11e9-9a3c-490b96be1a08.png)

There's a dropdown which is useless depending in your configuration at _Shop Parameters > Product Settings_

The problem is when a user sets a specific price and chooses

[2019-02-20 15:36] mateuszstompor commented on #12452
I am using php 5.6 with extensions. I attached a file containing list of all I use.
<img width="1346" alt="php-version extension" src="https://user-images.githubusercontent.com/24464340/53102811-bb606280-352c-11e9-93cc-495d5ad945dc.png">
Screenshot with error:
<img width="1680" alt="js-error" src="https://user-images.githubusercontent.com/24464340/53102985-0a0dfc80-352d-11e9-8955-f1287967d8d1.png"

[2019-02-20 15:37] mrabsinthe commented on #12630
I can confirm the bug on my installation of PS1.7.5.1 and the fix works fine! Well done @viktor-abc !

[2019-02-20 15:40] LouiseBonnard commented on #12363
Oh right, both configuration should be related. In this case, I would write _Note that if you want to base a quantity discount on a product, it will apply to all of its combinations. Go in Shop Parameters > Product Settings to modify it._, let me know what you think.

[2019-02-20 15:42] Van-peterson commented on #12637
Thank you a lot @khouloudbelguith
Now I clone the project from GitHub
And I have the develop Branch (1.7.6.0).
It works great, Thank you.

[2019-02-20 15:43] #12637 closed, assigned to nobody

[2019-02-20 15:45] khouloudbelguith commented on #12637
@Van-peterson, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-02-20 15:49] NicolasSmit commented on #10178
Here's a demo :
https://www.useloom.com/share/7db66519ab774e95b776a18b6dc615d2

[2019-02-20 15:51] idnovate commented on #12363
For me it's clear.

[2019-02-20 16:21] ntiepresta commented on #12636
Hi,
The Same behavior  with commercial and translator profile on Ps1.7.5.1 and 1.7.5.0

[2019-02-20 16:26] marionf commented on #12636
@ntiepresta
In fact the profile doesn't matter, it depends on how you configure the permissions for product page
No matter if it's logistician, translator or commercial

[2019-02-20 16:37] khouloudbelguith opened #12648 "Bulk actions don't exist in the currencies page"
**Describe the bug**
In the BO => International => Localization => currencies tab, the Bulk actions don't exist.
It could be an improvement issue to add to the currencies page like the languages page.
Currencies page
![image](https://user-images.githubusercontent.com/16067358/53107766-121e6a00-3536-11e9-8205-4bfeab05e13f.png)

Languages page
![image](https://user-images.githubusercontent.com/16067

[2019-02-20 16:38] khouloudbelguith commented on #12648
ping @marionf @colinegin what do you think?
Thanks!

[2019-02-20 17:00] khouloudbelguith commented on #12452
Hi @mateuszstompor,

In my case, the issue doesn't exist anymore.
I tried with PS1.7.5.0
![image](https://user-images.githubusercontent.com/16067358/53109478-40ea0f80-3539-11e9-95c2-9af83eccf276.png)
![image](https://user-images.githubusercontent.com/16067358/53109500-4fd0c200-3539-11e9-88f9-a0b9b32ebb74.png)
Despite our several trials, we could not reproduce your issue with the provided informati

[2019-02-20 17:00] #12452 closed, assigned to nobody

[2019-02-20 17:02] khouloudbelguith commented on #12631
@polo195pl, I just successfully tried to install your custom module without errors with PS1.7.4.4.
I just sent you an email to get more details.
Thanks!

[2019-02-20 17:07] ntiepresta commented on #12636
@marionf
Thanks for details.

[2019-02-20 17:13] khouloudbelguith commented on #12268
Hi @djmassive,

As I understand, your issue is reproduced only with vhosts.
I tried with Debian 3.16.51-3, I created in the path /etc/apache2/sites-available/ a file projet.conf

[code]
In the file /etc/hosts
I added this line
`127.0.1.1       projet`

I reloaded the apache => now it is ok.
I can install PS1.7.5.0 & PS1.7.5.1 using a vhost.
![image](https://user-images.githubusercontent.com/160673

[2019-02-20 17:26] colinegin commented on #11102
#12646

[2019-02-20 17:51] colinegin commented on #12334
@eternoendless @PrestaShop/prestashop-core-developers what do you think ?

[2019-02-20 18:28] polo195pl commented on #12631
@khouloudbelguith check mail ;)

[2019-02-20 19:29] djmassive commented on #12268
@khouloudbelguith i also try Your vhost - but without success (Require all granted give me 500 error). I also try to make domain like Yours without .dev - doesn't work.

Now I will try to install apache using bower - and try to run without mamp.

Ok. Now I don't understand nothing... on simple apache + php + mysql install using brew - same problem with vhost.

I've reinstall Mac OS and its look, l

[2019-02-20 21:45] jeeece opened #12649 "Quick view doesnt work after upgrade 1.7.5.0 to 1.7.5.1"
Hi,

After upgrading my prestashop from 1.7.5.0 to 1.7.5.1, quick view does not work anymore.

Respose is 500.

![capture](https://user-images.githubusercontent.com/14275975/53126732-1a3fcf00-3561-11e9-9329-4a5533856cd4.JPG)

I dont have this problem on fresh installation 1.7.5.1

[2019-02-20 22:42] rblaurin commented on #11887
This error also occurs if you try to duplicate the product (3rd step) instead of disabling it. (Tested in 1.7.5.1)

[2019-02-20 23:15] LucaMozzo commented on #12580
Perfect, thanks a lot!

[2019-02-20 23:15] #12580 closed, assigned to nobody

[2019-02-21 03:47] fahmiimadd commented on #10640
thanks buddy, its really help

[2019-02-21 07:15] Tomskor commented on #12649
Turn on default theme, and turn off additional modules, may be caused this error.

[2019-02-21 07:27] matteolavaggi opened #12650 "1 Click Upgrade Fail 1.7.2 to 1.7.5"
**Describe the bug**
A clear and concise description of what the bug is.

After Upgrade get this error in console and in PHP Log:

[INTERNAL] /vendor/symfony/symfony/src/Symfony/Bundle/FrameworkBundle/FrameworkBundle.php line 102 - Error: Call to undefined method Symfony\Component\EventDispatcher\DependencyInjection\RegisterListenersPass::setHotPathEvents() #0 /vendor/symfony/symfony/src/Symfony/C

[2019-02-21 07:49] khouloudbelguith commented on #12649
Hi @jeeece,

You need to enable debug mode in your store and debug request which is sent for "Quick view" in your browser, using DevTools, so:

1. enable debug mode
2. go to the Home page
3. open up developer tools
4. go to Network tab
5. Click on Quick view
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response" or

[2019-02-21 08:02] khouloudbelguith commented on #12580
@LucaMozzo, feel free to open a new issue when needed.
Thanks!

[2019-02-21 08:02] khouloudbelguith commented on #12260
Hi @sampsonzak,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-21 08:02] #12260 closed, assigned to nobody

[2019-02-21 08:05] khouloudbelguith commented on #11887
@rblaurin, the issue is not fixed yet, it is added tour bug roadmap.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-21 08:09] khouloudbelguith commented on #12607
Hi @M-Grafix,

As described in your last email.
Your issue is solved ( not a PrestaShop issue).
I close the ticket, feel free to open a new one when needed.
Thanks!

[2019-02-21 08:09] #12607 closed, assigned to nobody

[2019-02-21 08:20] khouloudbelguith commented on #12650
Hi @matteolavaggi,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Did you use the 1-click upgrade v4.6.0?
What is the exact version PrestaShop 1.7.2, did you installed before the upgrade?
Thanks!

[2019-02-21 08:26] jeeece commented on #12649
Hi @khouloudbelguith

Preview tab is blank and i have this on response tab :
//

[2019-02-21 08:31] khouloudbelguith commented on #12649
@jeeece, you should click the red request in the network, which is in your case "Post..... =Product 500"
Then you click on the preview tab.
Did you enable the debug mode? is there any exception displayed?
Thanks!

[2019-02-21 08:51] khouloudbelguith commented on #12631
@polo195pl, thanks for your feedback.
In my case, with your custom module installed in the shop PrestaShop 1.7.4.4, I added the `@var_dump` and `print_r` => they are well displayed.
Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
![image](https://user-images.githubusercontent.com/16067358/53155843-3a5

[2019-02-21 09:24] iramita opened #12651 "fatal error in module file theme"
Hello,
I want to change copyright year in footer, but i have problem error.

[PrestaShop] Fatal error in module file :/home/u392606586/domains/scallopmode.net/public_html/modules/ntthemeeditor/ntthemeeditor.php:
Uncaught Error: Access to undeclared static property: Validate::$field in /home/u392606586/domains/scallopmode.net/public_html/modules/ntthemeeditor/ntthemeeditor.php:807 Stack trace: #0 /

[2019-02-21 09:26] khouloudbelguith commented on #12651
Hi @iramita,

You have an issue with the `ntthemeeditorAs` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-02-21 09:26] #12651 closed, assigned to nobody

[2019-02-21 09:30] Tomskor opened #12652 "ERROR 500 in many BO tabs after upgrade 1.7.5.1"
**Describe the bug**
Can't go to cuz ERROR 500:
- invoices
- module catalog
- payment
- payment preference
- translate
-

**To Reproduce**
Steps to reproduce the behavior:
1. Go to module catalog

**Screenshots**
![screencapture-tomskor-pl-admin850kwyszj-index-php-improve-modules-manage-2019-02-21-10_20_51](https://user-images.githubusercontent.com/42567245/53158084-1d6ba700-35c3-11e9-83b3-d9c1ac0

[2019-02-21 09:33] khouloudbelguith commented on #12652
Hi @Tomskor,

You have an issue with the `inixframe` module.
Could you please try to disable it, clear cache, it could be not compatible with PS1.7.5.1.
Thanks to check & feedback.

[2019-02-21 09:35] Tomskor commented on #12652
@khouloudbelguith how I can disable it, cuz can't enter on modules so I can't manage them
I clear cache from BO thats enough? or I must on ftp delete cache?

[2019-02-21 09:38] khouloudbelguith commented on #12652
@Tomskor, ok.
So, you need to go to your Project_Folder/modules/, search for the `inixframe` folder & try to rename it.
You can clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks!

[2019-02-21 09:42] khouloudbelguith commented on #12605
Hi @coriaweb,

I created an environment with docker that support IPv6 and have a network with Ipv6 enabled.
So, when I run this command: `ip  addr show`

[code]

I created a docker-composer.yml which have only an address IPv6 & a network that enable IPv6
[code]

So, when the container is created, when I run this command: `ip  addr show`

[code]
In the maintenance page, I could check my Adress IP
!

[2019-02-21 09:45] Tomskor commented on #12652
Ok I almost work, propably lost "iniframe" what exactly is this module? becouse I can't find him now, what is does?

[2019-02-21 09:46] khouloudbelguith commented on #12599
In my case, yes I can confirm this when I use `fastcgi_read_timeout 600;` => the shop is successfully installed
Thanks!

[2019-02-21 09:50] khouloudbelguith commented on #12652
@Tomskor,
As I can see in your exception, it is a module named "inixframe"
![image](https://user-images.githubusercontent.com/16067358/53159536-59ecd200-35c6-11e9-8815-54a4552ad9cb.png)

[2019-02-21 09:51] #12599 closed, assigned to nobody

[2019-02-21 10:11] #11019 closed, assigned to nobody

[2019-02-21 10:11] #11558 closed, assigned to nobody

[2019-02-21 10:13] centoasa opened #12653 "Add an option to activate/disable products in bulk in the import process"
Prestashop 1.7.5.1 on debian
I use the import function a lot, to keep products and their quantities up-to-date.
I think it's better to add a button where user can choose whether to enable / disable the products after the import process.

[2019-02-21 10:22] eternoendless commented on #10052
#10455 doesn't completely remove the old library, so this issue is not completely done.

[2019-02-21 10:22] pppplus opened #12654 "JSON.parse: unexpected character at line 1 column 1 of the JSON data + form.js"
**Describe the bug**
Impossible to update product.
Error message :
JSON.parse: unexpected character at line 1 column 1 of the JSON data + form.js
 form.js:703:16

    error /admin9-/themes/new-theme/public/main.bundle.js:313 fireWith /admin9-/themes/new-theme/public/main.bundle.js:313 i /admin9-/themes/new-theme/public/main.bundle.js:313 t /admin9-/themes/new-theme/public/main.bundle.js:313

For s

[2019-02-21 10:24] khouloudbelguith commented on #12654
Hi @pppplus,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2019-02-21 10:30] khouloudbelguith commented on #12653
Hi @centoasa,

In the import page, for all products, we have a column "Active (0/1)".

- If Active == 0 => Product disabled
- If Active == 1 => Product enabled.

![image](https://user-images.githubusercontent.com/16067358/53162286-fc5b8400-35cb-11e9-840d-fd7ed46b6070.png)

So, when we add a button where a user can choose whether to enable/disable the products after the import process, it will be c

[2019-02-21 10:31] centoasa commented on #12653
@khouloudbelguith yeah, it's right!
but if import file doesn't have the "active" column?

[2019-02-21 10:38] nziria commented on #12468
@khouloudbelguith can you access to my site for verify?

[2019-02-21 10:42] khouloudbelguith commented on #12653
@centoasa, when you don't specify the status of the product created in your import file, it will be enabled by default.
Thanks!

[2019-02-21 10:45] centoasa commented on #12653
@khouloudbelguith in fact: this is my improvement request. Let the user choose if products must be enabled or disabled after import.

[2019-02-21 10:46] MathiasReker commented on #12630
Fixed in this PR: https://github.com/PrestaShop/PrestaShop/pull/12655

[2019-02-21 11:01] pppplus commented on #12654
Hi
host : my own server
server : directadmin + php 7.2 + nginx

debug mode  :
https://my url/admin9-/index.php/sell/catalog/products/5307?_token=naOl3dNbZvbmSYxdlx27lH2XfFUfn4DToL7vs7m4MnA

Method
    POST
HTTP Status
    500
IP
    my IP
Profiled on
    Thu, 21 Feb 2019 11:50:40 +0100
Token
    939aa7

PHP logs : nothing
nginx logs : nothing
javascript console log : as written above

[2019-02-21 11:05] khouloudbelguith commented on #12653
@centoasa, that's OK.
@marionf, @colinegin what do you think, can we add an option to disable/enable products after the import?

PS: in the Product Settings page, we have an option "Default activation status", this option is applied only when we create a new product manually via the product page & not from the import page.

Thanks!

[2019-02-21 11:07] pppplus commented on #12654
now, error 400
/admin9-/index.php/sell/catalog/products/4635?_token=ENdBxVtPO6-lCjejNq_hCWJypY7_vZDuPTunW9wt-QM

Method
    POST
HTTP Status
    400

Profiled on
    Thu, 21 Feb 2019 12:05:41 +0100
Token
    751d63

[2019-02-21 11:08] khouloudbelguith commented on #12468
Hi @nziria,

This is a public space.
You can provide me your link by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-02-21 11:19] iramita commented on #12651
thank you @khouloudbelguith, I will contact them

[2019-02-21 11:22] khouloudbelguith commented on #9719
Hi,

This issue is fixed in the next release PS1.7.6.0.
In the PS1.7.6.0, the language page is migrated to Symfony, so the issue doesn't exist anymore.
https://drive.google.com/file/d/1sjTF7ZRMG2pZgm-eQiwUsRN3-xN7KDPD/view
Thanks!

[2019-02-21 11:22] #9719 closed, assigned to nobody

[2019-02-21 11:27] khouloudbelguith commented on #12654
@pppplus, without PHP error log & the debug mode only display an error 500/400, cannot help us to understand the issue.
You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. save product
6. wait for an error, you should see r

[2019-02-21 11:27] pppplus commented on #12654
The problem seems to be in tags.
I've a ° caracter in tags.
If I delete it, no more error.

[2019-02-21 11:28] khouloudbelguith commented on #12654
@pppplus, this issue occurs with old products?
Thanks!

[2019-02-21 11:30] pppplus commented on #12654
I think this bug was not present in 1.7.5.0
On 1.7.5.0, there was a bug in SEO tabs, with "special" caracters.
I suppose something has been changed to work in 1.7.5.0, and now bug is on tags.

[2019-02-21 11:39] khouloudbelguith commented on #12654
@pppplus, I tried with PS1.7.5.0 fresh install & PS1.7.5.1 fresh install ( after upgrade), when I edit a product, in the options Tab, I add this "° c", an exception is displayed.
![image](https://user-images.githubusercontent.com/16067358/53166358-5ca2f380-35d5-11e9-9c17-f140478abe91.png)
You don't have this alert in your case when you click save?
Thanks!

[2019-02-21 11:39] pppplus commented on #12654
@khouloudbelguith : what do you mean by old products ?
Yes, it's products on my store

[2019-02-21 11:41] jeeece commented on #12649
@khouloudbelguith when I activate debug mode, on home page I don't have any debug line on bottom of my page like in back office is it normal ?

[2019-02-21 11:44] pppplus commented on #12654
nope, impossible for me, to add a tag with ° (french language for me)

[2019-02-21 12:00] bilfeldt commented on #12456
@teemumantynen On a side note, might I ask how you are saving any input values you are showing using the `displayCarrierExtraContent` hook? So if you are using this hook to let the customer choose some kind of addon, how do you save the customers selection?

Thanks.

[2019-02-21 12:05] rokaszygmantas opened #12656 "Cannot give permissions to modules pages"
**Describe the bug**
When trying to give employee profile permissions for Module Catalog page, it fails and doesn't save new permissions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO->Advanced parameters->Team->Permissions, select any profile other than super admin.
2. Click on "All" checkbox on the top right of first permissions panel (this one: https://prnt.sc/mo4j76)
3. Wait t

[2019-02-21 12:18] pppplus commented on #12654
sorry, I've readden your message too quickly.
about alert : no, I've nothing, just, a message on top right,
"Impossible de mettre à jour les paramètres"

[2019-02-21 12:35] jeeece commented on #12649
Ok, i think problem don't provide from quick view but the product page! I have this with debug mode activate when i try to going on any product page :
///

[2019-02-21 13:18] khouloudbelguith commented on #12654
@pppplus, did you make an upgrade from PS1.7.5.0?
Before the upgrade, have you some products with tags which have special characters?
In fact, this issue is fixed in ps1.7.5.0: https://github.com/PrestaShop/PrestaShop/pull/10856
Thanks!

[2019-02-21 13:21] musaffar-patel opened #12657 "Cannot Use Form Helper in hook DisplayAdminProductsExtra"
Hi

Occurs in Prestashop 1.7.x

When attempting to use the Helper class form in the "DisplayAdminProductsExtra" hoook smarty returns the following error:

Unable to load template 'file:helpers/form/form.tpl

But the same code will work fine elsewhere *such as in the main getContent method of a module.

Kind Regards
Musaffar

[2019-02-21 13:27] pppplus commented on #12654
Hi
Yes, tags have been sent via import data, from csv files.

So, I suppose tags should not have been accepted, via import menu.

[2019-02-21 13:29] khouloudbelguith commented on #12656
Hi @rokaszygmantas,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #11547
So, I close it.
Thanks!

[2019-02-21 13:29] #12656 closed, assigned to nobody

[2019-02-21 13:30] khouloudbelguith commented on #12656
Duplicate of #11547

[2019-02-21 13:30] tomlev opened #12658 "CLDR unit tests for Azerbaijan/Bulgarian not working"
**Describe the bug**
Some unit tests should be fixed to prevent issues with currency formatting. This issue occurs only in phpunit tests : front office is OK

**To Reproduce**
in tests-legacy/Integration/Core/Localization/LocaleUsageTest.php
uncomment test in provideFormattedPrices() for Bulgaria and Azerbaijani
run testItShouldFormatPrices(): symbols are not present in formatted strings

[2019-02-21 13:35] tomlev opened #12659 "Use CLDR decimals / symbol when installing new currency"
**Is your feature request related to a problem? Please describe.**
When installing a new currency, CLDR is not used yet, so some currencies do not provide expected decimals

**Describe the solution you'd like**
It must be done in LocalizationPack::_installCurrencies()

[2019-02-21 13:49] matteolavaggi commented on #11186
Still  in ToDo :P 4 prestashop installation, different version on different server, all suck opening module page or position hook transplant page ... good job dev team...............................................

[2019-02-21 13:56] khouloudbelguith commented on #12657
Hi @musaffar-patel,

Could you please provide me a demo module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-02-21 14:02] nziria commented on #12468
Resolved,
my file: product.tpl was edited, replaced with default tpl and it simply work

[2019-02-21 14:08] khouloudbelguith commented on #12560
Same issue in the Payment methods page & the Carriers page
https://drive.google.com/file/d/1WFJP_JD6nxKw7R6VWC7cHYNCLZNrhnn0/view?usp=drivesdk
Thanks!

[2019-02-21 14:15] khouloudbelguith commented on #12654
Hi @pppplus,

About the import which shouldn't accept tags with specials characters, we are aware of this issue, you can follow this ticket: #9677
About updating products with PS1.7.5.1 after an upgrade, I did not manage to reproduce the issue.
I attached a video record.
https://drive.google.com/file/d/1I63vy7mAe5wltyvWuugUOsyyC3TZWsmq/view
Thanks to check & feedback.

[2019-02-21 14:15] khouloudbelguith commented on #12649
Hi @jeeece,

Did you the default theme provided by PrestaShop?
Thanks!

[2019-02-21 14:26] Alexandre17220 opened #12660 "[PS 1.7.3.3] duplicate invoice number"
Hi,

I am a developper and my customer have a problem with Prestashop.
In fact, my customer have a big shop and many invoice have same number...
So when I look here :
classes/order/order.php
Function :
setLastInvoiceNumber

I see "SELECT (MAX(`number`) + 1) AS new_number" ..very bad idea if you have many order at the same time..
This problem exists in all version of Prestashop and on all shop over

[2019-02-21 14:34] IAmWebSA commented on #12576
@khouloudbelguith  THnaks for the Link, now it seems to work as I can see.
My mistake I thoguht the dev branch has also the same fixes like the sub branches.

=> CLOSE and verified with theme from 1.7.5.1

[2019-02-21 14:34] khouloudbelguith opened #12661 ""Generate RTL stylesheet" cannot be enabled"
**Describe the bug**
In the BO => Design => Theme & Logo page, in the "Adaptation to Right-to-Left languages" section, when we try to enable the "Generate RTL stylesheet" button & click same, a green alert is displayed but the button is always disabled.
In the FO, the theme is adapted to RTL.
The issue is only with button, it should be enabled but, it is disabled.

**To Reproduce**
Steps to reprod

[2019-02-21 14:41] Quetzacoalt91 commented on #12368
It would be great, because the concerned classes are not released yet. As soon as they are released, we must take care of not breaking the compatibility with other versions.

[2019-02-21 14:57] ntiepresta commented on #12630
Hi,
@khouloudbelguith , this issue doesn't exist on develop branch. Can close it be?
Thanks

[2019-02-21 15:25] khouloudbelguith commented on #12630
Hi @ntiepresta,

Yes, I did not manage to reproduce the issue with develop branch.
https://drive.google.com/file/d/1ldXUoTox8Ixko7foCQs_sIJ3SCN3wWX0/view
Since it is fixed in the next release PS1.7.6.0, I will close the issue.
Thanks!

[2019-02-21 15:25] #12630 closed, assigned to nobody

[2019-02-21 15:26] eternoendless commented on #10052
Related: #12659 and #12658

[2019-02-21 15:39] PierreRambaud commented on #9978
Ping @TristanLDD any idea? What about @rdy4ever suggestion?

[2019-02-21 15:40] khouloudbelguith commented on #12660
Hi @Alexandre17220,

Have you the same issue with this ticket: #11115?
Thanks!

[2019-02-21 15:43] ivordurham commented on #12599
Note: If a user tries to install on a **shared** hosting package, they will not have the option of changing the Fast CGI interface timeout because that will be set by the hosting company. I have to believe that the majority of installations will be on the least expensive hosting packages, which will be shared packages, so closing this because the minority of users can adjust the timeout seems like

[2019-02-21 15:53] Alexandre17220 commented on #11115
the source code is very simple for understand the problem   :

`public static function setLastInvoiceNumber($order_invoice_id, $id_shop)
    {
        if (!$order_invoice_id) {
            return false;
        }

        $number = Configuration::get('PS_INVOICE_START_NUMBER', null, null, $id_shop);
        // If invoice start number has been set, you clean the value of this configuration

[2019-02-21 15:57] khouloudbelguith commented on #11115
Hi @Alexandre17220,

Thanks for your feedback.
Ping @PrestaShop/prestashop-core-developers
Thanks!

[2019-02-21 16:04] khouloudbelguith commented on #12660
Duplicate of #11115

[2019-02-21 16:40] khouloudbelguith commented on #12318
Hi @nicoladze,

You can follow this comment: https://github.com/PrestaShop/PrestaShop/issues/12314#issuecomment-462410864 to fix your issue.
Thanks!

[2019-02-21 16:40] #12318 closed, assigned to nobody

[2019-02-21 16:40] khouloudbelguith commented on #12318
Duplicate of #11909

[2019-02-21 17:32] jeeece commented on #12649
Ok, i've fixed this error. It was a module "pshreflang" which was not compatible with 1.7.5.1. Just disabled it don't fix the issue, but when i uninstall it, that's ok !

[2019-02-21 19:20] infoviaplus opened #12663 "Placeholders displayed instead of real data in mails sent to guest customers (1.7.5.1)"
**Describe the bug**
After upgrading from 1.7.4 branch to 1.7.5.1, guest customers (those without an user account) receive emails with placeholders like {firstname}, {lastname}, {order_name} or {shop_name} instead of real data. Registered users receive well-formed emails.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to 1.7.5.1.
2. Make an order as a guest user.
3. Check the emails

[2019-02-21 20:58] vincentchu37 commented on #12635
Yep. Seems to have fixed it by changing the defines.inc.php file's permissions!

[2019-02-21 21:40] SeSamSeg commented on #12334
Hi

I have this implemented in my shop (not yet published)

I've added a pull request with changes based on 1.7.4.1:
https://github.com/PrestaShop/PrestaShop/pull/12665

![schermafdruk_2019-02-21_22-37-24](https://user-images.githubusercontent.com/1176649/53203400-5d657500-3629-11e9-9784-94c929509e9d.png)
![schermafdruk_2019-02-21_22-34-08](https://user-images.githubusercontent.com/1176649/5320340

[2019-02-21 22:58] NicolasSmit commented on #10178
I fixed the issue by cleaning the cache once again.

[2019-02-22 07:32] khouloudbelguith commented on #12635
Hi @vincentchu37,

Thanks for your feedback.
Since it is fixed, I will close the issue, feel free to open a new one needed.
Thanks!

[2019-02-22 07:32] #12635 closed, assigned to nobody

[2019-02-22 07:35] khouloudbelguith commented on #12649
Hi @jeeece,

Thanks for your feedback.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-02-22 07:35] #12649 closed, assigned to nobody

[2019-02-22 07:42] khouloudbelguith commented on #12257
Hi @bartes1987,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-02-22 07:42] #12257 closed, assigned to nobody

[2019-02-22 07:44] khouloudbelguith commented on #12242
Hi @sts098,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-02-22 07:44] #12242 closed, assigned to nobody

[2019-02-22 08:01] khouloudbelguith commented on #12663
Hi @infoviaplus,

Thanks for your report.
In my case, I did not manage to reproduce the issue with PS1.7.5.1 after upgrade from PS1.7.5.0 with the 1-click upgrade v4.6.0.
This issue occurs only with this language?
Did you use the theme by default of PestaShop?
Did you occurs errors during the upgrade?
Thanks!

[2019-02-22 08:04] khouloudbelguith commented on #10178
@NicolasSmit, thanks for your feedback!

[2019-02-22 08:23] #12660 closed, assigned to nobody

[2019-02-22 08:43] pppplus opened #12667 "Error class 'Tools' not found in /public_html/classes/db/Db.php:794 with NGINX"
**Describe the bug**
Class 'Tools' not found in /public_html/classes/db/Db.php:794
When I ask to clear cache

**To Reproduce**
Performance, Clear Cache

**Solution... waiting for real solution**
line 794 of classes/db/Db.php
change to :                 $string = strip_tags(nl2br($string));
instead of :                $string = strip_tags(Tools::nl2br($string));

I reload all files from /classes an

[2019-02-22 09:03] khouloudbelguith commented on #12667
Hi @pppplus,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.1 (fresh install & after upgrade from PS1.7.5.0)
Did you click on the "Clear cache" button twice?
Thanks!

[2019-02-22 09:09] pppplus commented on #12667
No, only once.
And it do it every times.
I will try on a fresh install today, and will come back.

[2019-02-22 09:10] khouloudbelguith commented on #12667
@pppplus,

Thanks!
Waiting for your feedback.

[2019-02-22 09:20] mickaelandrieu commented on #12667
Hello @pppplus,

[code]

I think it's a good solution: can you create the pull request, please?

Mickaël

[2019-02-22 09:35] eternoendless commented on #11115
[code]

I see, so this is a race condition where two orders may get the same id. Nice find!

[2019-02-22 09:36] Nutripure opened #12669 "Conflict in cart numbers"
Hello

we have updated to 1.7.5.0, we are facing problems with validated payment information returns, for paypal and credit cards paiements (systempay Caisse Epargne). Prestashop does not retrieve the validated payment information. This information is clearly visible in the server log. After several attempts, the information goes into fatal error and the order doesn't appear on the back office.

T

[2019-02-22 09:40] khouloudbelguith commented on #11115
@eternoendless thanks you!
@bm-services, @Alexandre17220, I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-22 09:57] pppplus commented on #12667
no, because nl2br without Tools is not correct in Prestashop.

But... I see also strip_tags, and I think it should be also Tools::strip_tags...

So, probably Tools is not well implemented ?
But if you have no error, maybe something is wrong with my installation.

[2019-02-22 10:17] infoviaplus commented on #12663
Hi:

No errors during upgrade using 1-click plugin version 4.4.0 (previous version of PS was 1.7.4.3).

The theme is a child of default theme.

I can't change the language: it's a production site running.

Don't get me wrong, but I can't see how the front-end theme or the language of the site could be involved taking into account that previously registered users receive correct emails.

Thanks!

P

[2019-02-22 10:22] khouloudbelguith commented on #12669
Hi @Nutripure,

As described in your last issue: #12618,
Me & @marionf, we don't manage to reproduce the issue with PS1.7.5.0 & PayPal module.
So, could you please provide us the exact version PayPal did you & the exact version systempay did you use also?
Did you use some modules to sign in from the FO?
Thanks!

[2019-02-22 10:26] khouloudbelguith commented on #12663
@infoviaplus, the 1-click upgrade v4.4.0 is not the last version released, it is 4.6.0.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following ar

[2019-02-22 10:40] khouloudbelguith commented on #12667
@pppplus, did you make a fresh install PS1.7.5.1?
Did you check it?
Thanks!

[2019-02-22 10:47] Nutripure commented on #12669
Hello
we use Paypal v4.4.2 and systempay v1.11.0. There are up to date.
No additional module is used to log in.
Florent

[2019-02-22 11:23] khouloudbelguith commented on #12669
@Nutripure, thanks for your feedback.
To make sure, did you made an upgrade before from PS1.3 / PS1.4 to PS1.7, or did you installed a fresh install PS1.7.2.4?
To make an upgrade from PS1.7.2.4 to PS1.7.5.0, what the exact tools did you used to do the upgrade?
Thanks!

[2019-02-22 11:26] infoviaplus commented on #12663
I'll try to gather all this information, but in the meanwhile...

In that case I'm afraid there's also a bug with the 1-click-upgrade plugin. Before and after doing the PrestaShop upgrade, version 4.4.0 of the plugin says that is updated (i.e. is the last release):

![imagen](https://user-images.githubusercontent.com/47867445/53239717-026d6580-369d-11e9-8481-e57c1c752724.png)

[2019-02-22 11:29] flexcodenet opened #12670 "Product miniature - smarty variables stopped work"
**Describe the bug**
I've updated prestashop from 1.7.4.3 or 1.7.4.4 to 1.7.5, and later 1.7.5.1.
Now smarty on product miniature don't show nothing. For example:

{if $product.has_discount}{/if} - dont work
{$product.has_discount|@print_r} - display "1"
{$product.id_category_default} - display nothing
{$product.id_category_default|@print_r} - display "1"

File located in "\themes\templatename\tem

[2019-02-22 11:29] khouloudbelguith commented on #12663
@infoviaplus, you need to upgrade it.
![image](https://user-images.githubusercontent.com/16067358/53239893-73ad1880-369d-11e9-8477-7479e5ccfc6f.png)
Or, you can find it in our marketplace
https://addons.prestashop.com/en/data-migration-backup/5496-.html
Thanks!

[2019-02-22 11:32] infoviaplus commented on #12663
Of course I'll upgrade it, but why the 4.4.0 version displays that is the last release therefore marking the point as OK?

[2019-02-22 11:34] iservng opened #12671 "CHECK-OUT ISSUE"
Hello
i installed prestashop version 1.7 on an xampp-server and the check-out process will proceed successfully, and show that the transaction is confirmed. Then i installed prestashop on Hostagator live-server and when you select a product, the check-out process will start by taking your name, address, ... when it gets to payment, and you select the payment-type, then it will show an error page t

[2019-02-22 11:37] khouloudbelguith commented on #12670
Hi @flexcodenet,

Have you tried to contact the theme author about this issue?
Thanks to check with hem & feedback.

[2019-02-22 11:39] khouloudbelguith commented on #12663
@infoviaplus, it is displayed your actual version or your last version?
Thanks!

[2019-02-22 11:39] flexcodenet commented on #12670
I use code from classic theme in miniature. I'm author. I only add new class & css. On 1.7.4.4 work all correct. Problem is smarty return "1" or nothing.

[2019-02-22 11:42] dalens commented on #12164
Hello,
I am sorry for my late answer. I have had some problems with a module
psblog, so I have uninstalled it and don't have it anymore.
Have a nice weekend!

Den tor. 14. feb. 2019 kl. 15.55 skrev khouloudbelguith <
notifications@github.com>:

--
Med venlig hilsen / Best Regards,
*Diana Alenskaja*

[2019-02-22 11:45] infoviaplus commented on #12663
It says "1-click-upgrade plugin is updated (current version is 4.4.0)".

But that's wrong: it isn't updated (4.6.0 is the last release as you said). But the most relevant part of what I'm saying is that the plugin marks the point of the checklist as OK, leading to the usage of an obsolete version of the plugin.

[2019-02-22 11:51] centoasa opened #12672 ""Bad request" error message when using bulk edit quantity with "0""
#### Describe the bug
"Bad request" error message when using bulk edit quantity with "0"

#### Steps to reproduce

1. BO>SELL>Catalog>Stock
2. Try to edit the quantity using the bulk edit with "0"
3. See error > "Bad request" error message is displayed

**Screenshots**

![image](https://user-images.githubusercontent.com/23308427/153583973-f71f2955-f673-469f-8d1f-b1c29b29178b.png)

#### Addtional i

[2019-02-22 12:49] Alexandre17220 commented on #11115
@khouloudbelguith I have fixed it, but my correction cannot used for other environement because my customer don't change increment yearly or do other thing on invoice reference. For correct this for all instance of Prestashop, there is to alter table order_invoice or create a new table with trigger or maybe use a CRON for manage invoice number asynchronously periodically.

[2019-02-22 12:58] Alexandre17220 commented on #11115
for my customer
I have change the auto_increment to max reference+1 :
ALTER TABLE ps_order_invoice AUTO_INCREMENT = <my max reference+1>
I made a override of order class and this
`public static function setLastInvoiceNumber($order_invoice_id, $id_shop) {
        if (!$order_invoice_id) {
            return false;
        }

        $sql = 'UPDATE `'._DB_PREFIX_.'order_invoice` SET number =id_order

[2019-02-22 13:00] Alexandre17220 commented on #11115
@khouloudbelguith  the problem affect the last version of prestashop too..all version not simply 1.7.4.0

[2019-02-22 13:05] khouloudbelguith commented on #12164
Hi @dalens,

Thanks for your feedback.
As it's not the a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-02-22 13:05] #12164 closed, assigned to nobody

[2019-02-22 13:18] Nutripure commented on #12669
It was as fresh instal from 1.7.2.4.

We started with a fresch install of the version "PrestaShop v 1.7.2.4 Stable" and then we
updated directly to the version "PrestaShop v 1.7.5.0 Stable".

We use the official module "1 click Upgrade" which is up to date.

We detected that some carts were allocated to the wong customers, which generates when
the return of payment a difference between the 2 keys)

[2019-02-22 13:25] khouloudbelguith commented on #12671
Hi @iservng,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2019-02-22 13:38] flexcodenet commented on #12670
Hello. I found the problem. Fixed. Please close issue.

I change:
if $product.id_customization =! NULL
to
if $product.id_customization != NULL

[2019-02-22 13:39] khouloudbelguith commented on #12669
@Nutripure, did you use the MailChimp module?
Thanks!

[2019-02-22 13:44] Nutripure commented on #12669
Yes I do.
We use "Mailchimp Integration v1.1.4" and "Mailchimp Sync v3.2.4".
Thanks

[2019-02-22 13:48] khouloudbelguith commented on #12672
Hi @centoasa,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.4; PS1.7.5.1 & develop branch.
![image](https://user-images.githubusercontent.com/16067358/53246418-e4a9fb80-36b0-11e9-9ed1-a5c8014ad8f2.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-22 14:00] AdrianStolarski1988 opened #12673 "A problem with a new added language while he was chosen in FO"
**Describe the bug**
After entered new language in BO, the user who chose this language displays an error (error 500 without disabled debug mode)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Localization > Language
2. Click on add new language and fill required fields like:
 - Name : Spanish
 - ISO code: es
 - Language code: es-ES
 - Date format: Y-m-d
 - Date format (full) : Y-m-d

[2019-02-22 14:00] khouloudbelguith commented on #12669
@Nutripure, the MailChimp Integration is causing this issue.
As described in the previous ticket: http://forge.prestashop.com/browse/BOOM-5486
I manage previously to reproduce the issue, the MailChimp Module added products to new customer's basket by default.
MailChimp isn't developed by PrestaShop.
You should contact the developer here:  https://addons.prestashop.com/en/contact-us?id_product=2695

[2019-02-22 14:00] #12669 closed, assigned to nobody

[2019-02-22 14:03] khouloudbelguith commented on #12670
@flexcodenet, thanks for your feedback.
I close the ticket, feel free to open a new one when needed.
Thanks!

[2019-02-22 14:03] #12670 closed, assigned to nobody

[2019-02-22 14:07] khouloudbelguith commented on #9596
I have the same issue with PS1.7.5.1.
Thanks!

[2019-02-22 14:15] didi-2018 opened #12674 "Can´t access some sections and can´t delete Cache after Upgrade from 1.7.4.4 to 1.7.5.1"
Hi,
I just upgraded from 1.7.4.4 to 1.7.5.1 and I can´t access some sections like Catalog -> Articles. I only can access these sections with enable Debug. But I can only enable Debug in file.
If I want to access some sections I get 500 ERROR. With Debud mode I can access without any error shown.
And I get the following error if I try to delete cache:
![image](https://user-images.githubusercontent.

[2019-02-22 14:17] khouloudbelguith commented on #12674
Hi @didi-2018,

Thanks for your report.
This is a permission issue.
Thanks to edit the permissions access to the folder /Projet_Folder/cache/
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-02-22 14:18] seisnet commented on #9932
Hi,

i have got the same issue on 1.7.2. Debugging code i found different id_address_delivery on my cart_product.

I think there is something wrog on cart->updateAddressId.
This funcion work with $id_address and $id_new_address but if $id_address is wrong cart_product will never by updated.

I override Cart.php modifying code from:

    `$sql = 'UPDATE `'._DB_PREFIX_.'cart_product`
    SET `id_add

[2019-02-22 14:25] khouloudbelguith commented on #12673
Hi @AdrianStolarski1988,

Thanks for your report.
I manage to reproduce the issue with the develop branch.
PS1.7.5.1 => OK.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-22 14:27] Fobe24 opened #12675 "MyISAM is still default engine for DB connection test --> Azure MySQL connection fails"
**Describe the bug**
When deploying Prestashop 1.7.5.1 (docker image) as a Web App in Microsoft Azure and using Azure Database for MySQL, the connection test at the installation setup will fail, because MyISAM is still used and not supported by Azure MySQL (or Google Cloud SQL).

"Got error 1 from storage engine" is returned as an error, which usually means, that MyISAM is used instead of InnoDB.

[2019-02-22 14:27] didi-2018 commented on #12674
I have done that and I get the same Error:
![image](https://user-images.githubusercontent.com/44971218/53248584-52a4f180-36b6-11e9-9768-ec67c28fa189.png)

[2019-02-22 14:34] didi-2018 commented on #12674
I now can access all areas ! Thank you! You can close it please! Have a nice weekend ;-)

[2019-02-22 14:36] khouloudbelguith commented on #12674
@didi-2018, since it is fixed.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-02-22 14:36] #12674 closed, assigned to nobody

[2019-02-22 14:41] khouloudbelguith commented on #12675
Hi @Fobe24,

when using PS in our docker image, this is how we fix it: https://github.com/PrestaShop/docker#during-the-installation-prestashop-cannot-connect-to-mysql---bad-charset

Hope it helps!
Thanks to check & feedback

[2019-02-22 14:51] khouloudbelguith opened #15194 "The auto-upgrade module is indicated as being up to date when it is not"
### Describe the bug
In the configuration page of the `autoupgrade` module, we have a checklist.
When we have an old module, the first checklist is wrong.
We have "The 1-click upgrade module is `up-to-date` (your current version is v4.5.1)" with a right icon, which is wrong, the latest version is 4.6.0, so the module is not up-to-date.
Thanks!

### Screenshots
![image](https://user-images.githubus

[2019-02-22 14:52] khouloudbelguith commented on #15194
ping @Quetzacoalt91

[2019-02-22 14:55] khouloudbelguith commented on #12663
@infoviaplus, thanks for these clarifications.
I just created a new issue in the `autoupgrade` repository: https://github.com/PrestaShop/autoupgrade/issues/282
Thanks a lot!

[2019-02-22 14:58] Quetzacoalt91 commented on #15194
Can you please check your file `config.xml`, and remove all existing `config_<iso_code>.xml`? We rely on these files to check the current version.

On the other side, this test is always green, because we must now handle to different versions of the same module. One for PS < 1.6, and the other for 1.6 & 1.7. We keep the oldest version in production to not prevent PS 1.3 to 1.5 merchants upgrading

[2019-02-22 15:06] khouloudbelguith commented on #15194
Hi @Quetzacoalt91,

I don't have any config_<iso_code>.xml
In my file config.xml, I have this:
[code]
I installed the 1-click upgrade befor the release of v4.6.0., which is v4.5.1.
No, after the release of the new version v4.6.0, in the checklist of this module, it should net be displayed "up-to-date".
What do you think?
Thanks!

[2019-02-22 15:29] #11878 closed, assigned to jolelievre

[2019-02-22 15:40] papich06 commented on #12581
i have the same problem
![capture d ecran 2019-02-22 a 10 26 43](https://user-images.githubusercontent.com/4650270/53252957-6e14fa00-36c0-11e9-8782-d165a2dfaef6.png)
![capture d ecran 2019-02-22 a 10 26 53](https://user-images.githubusercontent.com/4650270/53252978-7a00bc00-36c0-11e9-8f8c-0a55cef10d76.png)
![probleme-prestashop-1 7](https://user-images.githubusercontent.com/4650270/53253013-8c7af5

[2019-02-22 15:42] didi-2018 commented on #12667
I get the same error after Update from 1.7.4.4 to 1.7.5.1

[2019-02-22 15:43] khouloudbelguith commented on #12581
Hi @papich06,

If you enable the debug mode, what is the exact exception displayed?
Thanks!

[2019-02-22 15:43] papich06 commented on #12517
hello,
i have the same template and problem how do you resolve it please can you explain?

[2019-02-22 15:45] papich06 commented on #12581
Hi @khouloudbelguith ,
i activate debug but where i watch bug?

[2019-02-22 15:46] khouloudbelguith commented on #12517
@papich06, in the case of @jhon111, it is a custom module issue, have you the same module installed in your shop, if yes, you need to disable it.
Thanks!

[2019-02-22 15:48] khouloudbelguith commented on #12581
@papich06, when you navigate to your BO => Products page & you try to update a product => any exception is displayed or not?
Thanks!

[2019-02-22 15:53] papich06 commented on #12581
where i check?
![capture d ecran 2019-02-22 a 16 52 46](https://user-images.githubusercontent.com/4650270/53253825-6b1b0900-36c2-11e9-8e2b-aab7d707e803.png)

[2019-02-22 15:55] khouloudbelguith commented on #12581
@papich06,

You can debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. save product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response" or "Preview" tab

Thanks!

[2019-02-22 15:56] ladypixl opened #12676 "Undefined offset in Faceted search module"
**Describe the bug**
I'm using Prestashop 1.7.5 with a PHP 7.2 server.
I created an attribute for my products.
When I try to filter my products by this attribute, the result list is empty (but it shouldn't), and when I disable the filter get a 500 error in the browser console.

I put the Debug mode and I've got this error :

[code]

The URL called to get this trace is this
`http://[url-of-my-shop]

[2019-02-22 16:00] papich06 commented on #12581
@khouloudbelguith
well i have this how to fix it please?
https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Erreurs/JSON_bad_parse

![g](https://user-images.githubusercontent.com/4650270/53254287-5ee37b80-36c3-11e9-96ca-2b6f0576c552.jpg)

[2019-02-22 16:05] didi-2018 opened #12677 "combinations not shown in product sheet after upgrade from 1.7.4.4 to 1.7.5.1"
Hi,

after upgrade from 1.7.4.4 to 1.7.5.1 in product sheet the combinations ar not more shown:

![image](https://user-images.githubusercontent.com/44971218/53254362-820e2b00-36c3-11e9-9add-d290fdd4316c.png)

but they are available for order in FO:

![image](https://user-images.githubusercontent.com/44971218/53254447-ac5fe880-36c3-11e9-8f56-24e3cf3671df.png)

What can I do to fix this?

Using php

[2019-02-22 16:07] khouloudbelguith commented on #12581
@papich06, in the BO => Product page, check the tab option, the tags of this product contain special characters?
Thanks!

[2019-02-22 16:07] jhon111 commented on #12517
You need to contact the developer the problem is in the module ttspecials

[2019-02-22 16:08] khouloudbelguith commented on #12677
Hi @didi-2018,

What is the exact 1-click upgrade did you use?
Have you any errors during the upgrade?
Thanks!

[2019-02-22 16:09] didi-2018 commented on #12677
version 4.6.0
only that cache folder could´nt be emptied

[2019-02-22 16:12] papich06 commented on #12581
@khouloudbelguith  what do you means about special characters?
and if yes how to fix  it?

i have noting in tags but in title
i have this charactères "è" and / in category

[2019-02-22 16:12] khouloudbelguith commented on #12677
@didi-2018, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-02-22 16:17] khouloudbelguith commented on #12581
@papich06, for example, if tag contains a value with **"**, **°**
Thanks!

[2019-02-22 16:18] papich06 commented on #12517
@jhon111 you boought also theme for TemplateTrip Team ?

how can they fix it?

[2019-02-22 16:19] papich06 commented on #12581
@khouloudbelguith  no i don't have this

[2019-02-22 16:24] khouloudbelguith commented on #12581
@papich06, your issue seems to be similar to this ticket:#12654
Thanks to follow this issue.

[2019-02-22 16:25] didi-2018 commented on #12677
this is what I have in log folder:
![image](https://user-images.githubusercontent.com/44971218/53255827-c3540a00-36c6-11e9-8581-5f5555e1c1b1.png)
which one do you need?

[2019-02-22 16:26] khouloudbelguith commented on #12677
@didi-2018, dev.log file & prod.log file, because they are generated today.
Thanks!

[2019-02-22 16:27] didi-2018 commented on #12677
or do you need something from here:
![image](https://user-images.githubusercontent.com/44971218/53255959-15952b00-36c7-11e9-9f3c-cac2e30f0b95.png)

I am sorry but I don´t know what you need

[2019-02-22 16:28] didi-2018 commented on #12677
how can I submit it as file?

[2019-02-22 16:30] khouloudbelguith commented on #12677
@didi-2018, you can follow this link: http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
It will help you to get the right information.
You can attach a file by clicking on this
![image](https://user-images.githubusercontent.com/16067358/53256165-83d9ed80-36c7-11e9-8e77-19b7d26ed27d.png)

Thanks!

[2019-02-22 16:30] didi-2018 commented on #12677
file type is not supported

[2019-02-22 16:31] didi-2018 commented on #12677
[dev.log](https://github.com/PrestaShop/PrestaShop/files/2894852/dev.log)
[prod.log](https://github.com/PrestaShop/PrestaShop/files/2894853/prod.log)

[2019-02-22 16:38] khouloudbelguith commented on #12667
@didi-2018, in my case, it is OK.
I attached a video record.
https://drive.google.com/file/d/1Q-cFBLskGH_QGhJhdVCtxUBbFw5FECEO/view
Thanks!

[2019-02-22 16:51] didi-2018 commented on #12677
And I have other problems too:
![image](https://user-images.githubusercontent.com/44971218/53257369-3743e180-36ca-11e9-84dc-e2b1ef760bd3.png)

![image](https://user-images.githubusercontent.com/44971218/53257436-6a867080-36ca-11e9-8bb9-693f8d95382a.png)

[2019-02-22 16:56] khouloudbelguith commented on #12677
@didi-2018, did you use a different theme?
In your log file, I found the "appagebuilder" module, in a similar [issue](https://github.com/PrestaShop/PrestaShop/issues/12409#issuecomment-465457611), I found that his theme is not yet compatible with PS1.7.5.
Thanks to check & feedback.
About your last screenshot, you need also to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R o

[2019-02-22 17:01] didi-2018 commented on #12677
The curious thing is that there are no problems in my shop copy
![image](https://user-images.githubusercontent.com/44971218/53257909-92c29f00-36cb-11e9-843a-24bfd63e2278.png)
![image](https://user-images.githubusercontent.com/44971218/53257941-a1a95180-36cb-11e9-8bf9-e9af9e37e965.png)
![image](https://user-images.githubusercontent.com/44971218/53257982-c1407a00-36cb-11e9-8c92-8c67860e268a.png)

My

[2019-02-22 17:04] khouloudbelguith commented on #12677
@didi-2018, strange thing.

Try to remove cache

[code]

Thanks!

[2019-02-22 17:04] khouloudbelguith commented on #12676
Hi @etasia79,

What is the exact version ps_factedsearch did you use?
Thanks!

[2019-02-22 17:11] ladypixl commented on #12676
Hi @khouloudbelguith ,
it's the 2.2.1 !

[2019-02-22 17:18] jhon111 commented on #12517
Contact them and explain the problem  they go to help you.

i bought it on addons,they need fix the source code,there is an error in one of the files of the module

[2019-02-22 17:20] didi-2018 commented on #12677
I cleared cache a few times and nothing happens. I think I have to go back to 1.7.4.4

[2019-02-22 18:57] jesusruiz opened #12680 "Installation process does not change to language SPANISH 1.7.5.1"
**Describe the bug**
When starting the installation process, even if the Spanish language is selected, the English language is still used.

**To Reproduce**
Steps to reproduce the behavior:
Start the installation process and select the Spanish language.

**Screenshots**
https://i.imgur.com/sa4DFFm.png

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version: 7.3.1

[2019-02-22 19:06] didi-2018 commented on #12677
I could find out more details:
![image](https://user-images.githubusercontent.com/44971218/53264899-1df86080-36dd-11e9-8170-c99b12c1ac1b.png)

[2019-02-22 19:17] iservng commented on #12671
Hello
To reproduce this particular issues please do the following
1. Go to www.resorts.iservng.com
2. Select a room of your choice
3. Follow the check-out process

Bellow is a snapshot off the last-step of the check-out process.
(a). i have select pay by check
(b) i have selected the ORDER WITH AN OBLIGATION TO PAY check -box

[image: image.png]

(c) So when you click on that button that says "ORD

[2019-02-22 19:25] didi-2018 commented on #12677
I could find out more details. This file makes trouble in line 166
admin/themes/new-theme/public/main.bundle.js
![image](https://user-images.githubusercontent.com/44971218/53265539-cce96c00-36de-11e9-8ec2-d82d129a86c5.png)
![image](https://user-images.githubusercontent.com/44971218/53266076-0b335b00-36e0-11e9-937a-ed397954752f.png)

![image](https://user-images.githubusercontent.com/44971218/53267

[2019-02-22 21:16] pppplus commented on #12667
Hi
I just do a fresh install.
I've done nothing in the installation.

i click on clear cache and I have exactly the same error.

`Fatal error: Uncaught Error: Class 'Tools' not found in /home/my/path/to/public_html/test1751/classes/db/Db.php:794 Stack trace: #0 /home/my/path/to/public_html/test1751/config/alias.php(48): DbCore->escape('configuration', false) #1 /home/my/path/to/public_html/test175

[2019-02-22 22:45] Shark34 opened #12681 "Error BO - Modules section"
Hi !

There is a bug in Module section of PS 1.4.
Many modules are impacted but the first one in my PS is "followup" : see the screenshot attached.
No updates or modifications : it came like that...

Is there a problem from Prestashop directly ?

**To Reproduce**
1. Go to "Module" section
2. See the error
![screenshot_2019-02-22](https://user-images.githubusercontent.com/47904704/53275528-b69dd900

[2019-02-22 23:03] json81 opened #12682 "BO manual order shows wrong shipping price (one product without changes)"
Bug in Back Office manual order. Shipping price will show the wrong amount and the summary will be wrong. When creating the order everything recalculates and shipping cost will be correct according to the chosen carrier.

Can be reproduced in version 1.6.1.23 and 1.7.4.2.

How to reproduce:
1) Create two delivery options with different amounts, none with free shipping (use different amount to see

[2019-02-23 09:20] PeeyushAgrawal commented on #12509
Hello @khouloudbelguith,

Please check, I have created a PR to fix this issue https://github.com/PrestaShop/PrestaShop/pull/12683.

Thanks

[2019-02-23 09:30] Goretsv opened #12684 "Mail domen not work in preference"
My email provider require other mail domen in HELO answer,
but Swiftmailer ignore mail domen in PrestaShop Email setting

PrestaShop version: 1.7.5.1
PHP version: 5.6

[2019-02-23 14:49] psyray commented on #12059
I'm also interested in reading manifest.json file not for webpack encore but pure webpack config.

There's also a way given by @kermorgant in this SO post
https://stackoverflow.com/questions/48258620/module-of-prestashop-and-webpack
It's more a controller module way to load assets contained in a manifest.json file.

Anyway It could be a very good improvement to be able to read manifest.json in a s

[2019-02-23 15:10] Chrisi1321 commented on #9697
I am on 1.7.5.1 and still can not translate the string "no mail alerts yet"

[2019-02-23 16:48] caisik opened #12685 "Prestashop 1.7.5 new install - after order white page, no email to customer"
Hello,

i just install prestashop 1.7.5 few days ago.

I tested to order something. When i comfirm order, just white page show. No email come with order detail.

At order menu when i want to change status order show this error.
Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix

[2019-02-23 17:37] holle75 opened #12686 "Multilanguage shop -> invoices in Admin language"
Well, i´m wondering why somebody has to report it. I´m also wondering why nobody who is using Presta do complain about it. It seems the problem exist since many years.

It is reported here http://forge.prestashop.com/browse/BOOM-4972
and here http://forge.prestashop.com/browse/PSCSX-7924

Why the heck nobody cares about this?

There are three possible logic ways:

1) customers gets his invoices in

[2019-02-23 18:15] watou opened #12687 "classic theme template catalog/_partials/miniatures/product.tpl incorrectly specifies schema.org/Product"
Google Search Console rightly complains about all product listing pages that in some way incorporate `themes/classic/templates/catalog/_partials/miniatures/product.tpl`, because it incorrectly [specifies](https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/catalog/_partials/miniatures/product.tpl#L26) `itemtype="http://schema.org/Product"` for each "miniature" product on

[2019-02-23 18:50] Gx-Estudio commented on #10161
mi solución fue activar:

zlib.output_compression

en el servidor

![image](https://user-images.githubusercontent.com/11979146/53290463-c7456200-3782-11e9-8bef-9e1711a4d516.png)

[2019-02-23 21:16] vhvhvm commented on #12687
Efectivamente me pasa lo mismo en la vervión 1.7.5.0.   se ha corregido para la 1.7.5.1?

[2019-02-23 22:19] axisepm opened #12688 "It is possible to buy items out of stock"
Steps to reproduce:

1) Create two user accounts
2) With one account, add all the stock of one product to the basket, and then close the session
3) Start session with the other account and add all the stock of the same product to the basket.
4) Proceed to checkout and finish the buy process until obtaining the order confirmation
5) Open the first account again and with the basket from step 2, also

[2019-02-24 02:12] joris-ati4 opened #12689 "Discussion about Regex used for Zip Code Validation"
**Describe the bug**
It is not really a bug but more of an issue in order to start a discussion why the Zip Code Validation is written is this way. When using the Zip Code Format validation, Spaces and Hyphens are translated to the next Regex

`
$zip_regexp = str_replace(' ', '( |)', $zip_regexp);
$zip_regexp = str_replace('-', '(-|)', $zip_regexp);
`

This gave me some problems with validation Ca

[2019-02-24 10:08] ChineseNorris commented on #12100
Hello @khouloudbelguith ,

The main problem with stats module is that won't work if invoices are turned off, for instance if you have a shop with an external invoice software.
This fix should be taken as an example for shops with invoice option disabled, since the query to retrieve the data is based on invoice date.

This is not urgent nor critical, but should be at least on the TO-DO list.

Best

[2019-02-24 12:28] PoLun-Wang opened #12691 "Error Warning: ZipArchive::extractTo(): Invalid or uninitialized Zip object on 1.7.4.2"
### Describe the bug
I can't upgrade any module.
When I click "upgrade" button, it will pop up an error message with "Exception thrown by module topbanner on upgrade. Warning: ZipArchive::extractTo(): Invalid or uninitialized Zip object".
In addition, I found out it does not increase any error log after clicking "upgrade" button.

### Additionnal information
**Video:** [https://youtu.be/jNkODHMyoV

[2019-02-24 12:59] AlexanderKosianchuk commented on #10161
I think that issue should be reopen, because problem is really exist at least if use docker containers, that are provided in repo, and solutions above are tricky

[2019-02-24 14:37] eandrei commented on #11436
I have the same problem!
Once in a while some customers call and give me this error.
Today this pissed me off and I debugged and discovered that this happens because of different secure_key on cart.

Now, I checked the database and I had 200 instances with cart secure_key different than customer secure_key. So I had 200 lost orders?

Any solution on this?

[2019-02-24 15:01] go-sudo opened #12692 "Issue Pagination"
**Describe the bug**
Hello
The paggination is not working on my 3 websites
when i click on next page i get this error on console
with or without friendly url

on server side i get this apache error
mod_fcgid: stderr: #4 /var/www/vhosts/playstore.ma/httpdocs/controllers/front/ in /var/www/vhosts/playstore.ma/httpdocs/src/Adapter/Presenter/AbstractLazyArray.php on line 370, referer: https://playstor

[2019-02-24 17:50] johstrom commented on #12584
Hi,
I have cleared the cache manually, but the issue persists.

I also have trouble indexing the products - getting 524 error and my hosting refers this issue also due to:

`User Deprecated: Implementing "Symfony\Component\HttpKernel\DataCollector\DataCollectorInterface" without the "reset()" method is deprecated since Symfony 3.4 and will be unsupported in 4.0 for class "Csa\Bundle\GuzzleBundle\D

[2019-02-24 17:57] LinkOfLight commented on #12528
get 404, i dont know what happend, is only in 1 domain

[2019-02-24 18:46] thierry-laval commented on #10387
I am also facing this issue on V1.7.5.1, not able to install the 1-click upgrade module issue

[2019-02-24 19:24] juslintek commented on #12579
It because you skilled the comment https://github.com/PrestaShop/PrestaShop/issues/12579#issuecomment-463738706 You need to export languages to themes languages directory as .xlf files then this produces conflict. It allows to handle translations only through database.

[2019-02-24 19:36] MathiasReker commented on #12108
Maybe someone who come across this issue, will look for a way to change permissions. Therefor I will share a simple module to do that: https://github.com/MathiasReker/filepermissions :-)

[2019-02-24 19:45] cesarfierro commented on #11166
I have the same issue with a fresh 1.7.5.1 Prestashop install + classic theme.
To reproduce it, just insert any "customer:field" to the address format and try to add a new address at the front office.

[2019-02-24 21:50] Bossman1337 opened #12693 "We need a full completed module for modern pages (Symfony) PS_1.7.5.1"
**Is your feature request related to a problem? Please describe.**
The current documentation isn't clear (https://devdocs.prestashop.com/1.7/development/architecture/migration-guide/forms/)

https://github.com/PrestaShop/PrestaShop/issues/11926 - This isn't the reply i would like either. A) That is for a legacy module B) The Main Forums seem slow/inactive C) Stackoverflow, no one replies as they d

[2019-02-24 22:28] ghost commented on #15205
Any update on this? I am having the exact same problem

[2019-02-25 00:34] mickaelandrieu commented on #12693
You may find some resources here: https://github.com/friends-of-prestashop

But imho, it shouldn't be us (ie the PrestaShop company) but you the developers that should improve the documentation according to your needs 👍

[2019-02-25 07:36] khouloudbelguith commented on #12287
Hi @fujitsuDev,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-02-25 07:36] #12287 closed, assigned to nobody

[2019-02-25 07:38] khouloudbelguith commented on #12279
Hi @tzak902,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-02-25 07:38] #12279 closed, assigned to nobody

[2019-02-25 07:38] khouloudbelguith commented on #12290
Hi @Bakker66,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-02-25 07:38] #12290 closed, assigned to nobody

[2019-02-25 07:39] khouloudbelguith commented on #12312
Hi @pnshurba,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-02-25 07:39] #12312 closed, assigned to nobody

[2019-02-25 07:47] khouloudbelguith commented on #12688
Hi @axisepm,

Thanks for your report.
Did you use a PrestaShop version less than 1.7.3.2?
Because this issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/8752, it is fixed in the PS1.7.3.2.
Thanks to check & feedback.

[2019-02-25 07:53] casperh1nl commented on #12059
Yes, also in newer webpack encores webpack can split more code for faster loading. So yes, now that has to be done like that.

[2019-02-25 07:54] khouloudbelguith commented on #12686
Hi @holle75,

Thanks for your report.
We are aware of this issue, we have come up with an idea.
We could add in Shop parameters > Order settings the ability to choose between customer language and employee language to download delivery slips and invoices when preparing orders.
it is added to our debug roadmap.
Your ticket is a duplicate of #10258
So, I close it.
Thanks!

[2019-02-25 07:54] #12686 closed, assigned to nobody

[2019-02-25 07:55] khouloudbelguith commented on #12686
Duplicate of #10258

[2019-02-25 08:03] khouloudbelguith commented on #12685
Hi @caisik,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
The error 500 cannot help us to understand the exact issue.
About `Putenv`, We have updated the Symfony version, this new version uses the `Putenv` function.
In fact, PrestaShop 1.7 was moved To Symfony 3.4 And PHP 5.6.
For more details, you can follow this link: http://build.prestashop.

[2019-02-25 08:14] khouloudbelguith commented on #12681
Hi @Shark34,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.1 & ps_reminder v2.0.0.
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6): the maintenance of PrestaShop 1.6 is extended to June 2019 for security and critical bugs.
So, the maintenance of PS1.4 is also stopped.
Since I cannot reproduce the issue with the latest v

[2019-02-25 08:14] #12681 closed, assigned to nobody

[2019-02-25 08:21] philipp-hb commented on #12675
Hi,
I got the same problem: connect to the DB works fine, but the I get error 1
In the following serverfault thread, someone has the same problem and fixes it by changing the engine to InnoDB in the file @Fobe24 mentioned: https://serverfault.com/questions/862267/prestashop-google-cloud-sql

[2019-02-25 08:53] Maofree opened #12694 "microdata errors in many pages"
hi
from this tool you can see that there are many errors around microdata of products
https://search.google.com/structured-data/testing-tool#

it is present in the homepage, category pages and product pages but you should check also other pages
the microdata is very important for google

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/53325144-dcd19d80-38e2-11e9-9f23-4a93531c

[2019-02-25 08:56] khouloudbelguith commented on #12680
Hi @jesusruiz,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1s8y7SXDZQLFmnfXyOyBOXZbpm0Dtw2WF/view
Thanks to check & feedback.

[2019-02-25 08:58] khouloudbelguith commented on #12680
@jesusruiz, PrestaShop is not compatible with PHP7.3 yet.
PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4/ PS1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/

[2019-02-25 09:04] khouloudbelguith commented on #12692
Hi @go-sudo,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/16YZoCGf1MFAVOVOUR41CjQPQ7412kBQp/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/ho

[2019-02-25 09:10] Quetzacoalt91 commented on #15205
Hi there,

Nothing new from my side because there's still no trace of `module_settings` in my project.
Can you have look on your side and tell me where you could find it?

[2019-02-25 09:14] Shark34 commented on #12681
Thanks for reply. I can see there is no "config.xml" files in each module folder now.

But as i understand it's a problem with Prestashop (parse XML) not my shop. Someone has changed this function (Prestashop team) and it's very disappoiting because many native modules doesn't work anymore...

Anyway, i've found another way.

[2019-02-25 09:29] matks commented on #11186
Hi there,

Not having an issue fixed immediately (or in a fixed timeframe) does not mean that it won't be fixed, or that we don't care. It doesn't mean that the issue is NOT important either. It just means that other issues have been considered, for whatever reason, _more_ important, so they were (or are being) tackled first. There's an immense amount of work to be done (997 issues right now, and

[2019-02-25 09:29] eternoendless commented on #12694
For future reference: https://schema.org/price

The schema for the product page looks OK in 1.7.5.1, according to spec:

<img width="895" alt="screenshot 2019-02-25 at 10 28 16" src="https://user-images.githubusercontent.com/1009343/53327502-36889680-38e8-11e9-8f0c-8a9a0e8e37ba.png">

[2019-02-25 09:33] khouloudbelguith commented on #12682
Hi @json81,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/53327026-3cca4300-38e7-11e9-8320-a478b3d50ead.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-25 09:34] Maofree commented on #12694
the price attributes are good only in the product pages and only for the main products, but not in the modules like ps_categoryproducts or ps_viewedproduct
not in the product blocks of the homepage and category pages
however should be present some other values, I think now google requests more data for product microdata
it is necessary to fix the miniature tpl

![1](https://user-images.githubuserc

[2019-02-25 09:35] matks commented on #12648
This might be because removing a currency is a very impacting action. It has huge consequences.

[2019-02-25 09:35] fif10 opened #12695 "1.7.5 - Multidomain .htaccess product Images"
**Describe the bug**
After an upgrade (from 1.7.3 to 1.7.5.1) all the products images does not show (404)
If I replace the generated .htaccess with my previous one. it works ...
I tried to regenerate thumbnails

**To Reproduce**
Steps to reproduce the behavior:
1. (upgrade from 1.7.3)
2. Regerate .htaccess (disable and enable pretty url)

**htaccess info **

**In non working (1.7.5.1)**
`
#Domain:

[2019-02-25 09:41] juank2808 opened #12697 "[PrestaShop] Fatal error in module CP_PrestaCraftFormCore Prestashop1.6"
Hi,
I have a client that he has that mistake in prestashop 1.6, when he was installing a some modules, the clients when they prefer make a order and after sing in, they se the error
[**PrestaShop] Fatal error in module CP_PrestaCraftFormCore:
Can't inherit abstract function CP_PrestaCraftFormInterface::render() (previously declared abstract in CP_PrestaCraftFormCore)** i supose that the error is b

[2019-02-25 09:48] khouloudbelguith commented on #12684
Hi @Goretsv,

Could you please provide me more details to reproduce your issue.
In the BO => Advanced Parameters => E-mail => you selected the option "Set my own SMTP parameters (for advanced users ONLY)"
So, you set a mail domain & Swiftmailer ignore mail domain in PrestaShop Email setting.
How did you check that it is ignoring the mail domain?
Thanks!

[2019-02-25 09:48] ghost opened #12698 "#e4e4e4 background on regenerated images"

[2019-02-25 09:50] #12698 closed, assigned to nobody

[2019-02-25 09:51] khouloudbelguith commented on #12697
Hi @juank2808,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6): the maintenance of PrestaShop 1.6 is extended to June 2019 for security and critical bugs.
Your bug isn’t critical or a security issue, that’s why I close it.
Thanks for your understanding!

[2019-02-25 09:51] #12697 closed, assigned to nobody

[2019-02-25 09:54] matks commented on #12697
Also @juank2808 the error is very likely to come from the module as class `CP_PrestaCraftFormCore` is not from the Core project. You probably need to uninstall the module with this class.

To find it, you can try looking for a file `CP_PrestaCraftFormInterface.php` or something similar, and see where it is. It is probably - but I say probably as we cant be 100% sure as it is a module on your clien

[2019-02-25 09:54] eternoendless commented on #11186
The session issue is real, but I'm not sure it's related to the OP's problem. Extreme slowness usually means that the shop cannot access an external resource, and it timeouts.

@matteolavaggi Please verify the following:

1. Your shop is not set in "dev mode" (it may seem a dumb advice but a lot of people use it in production for some reason)
2. Your shop server is able to reach the following serv

[2019-02-25 10:01] didi-2018 commented on #12677
@kouloudbelguith do you have any suggestions?

[2019-02-25 10:06] khouloudbelguith commented on #12695
Hi @fif10,

Before regenerating .htacces, could you please try to navigate to your BO => Design => Images Settings => scroll down => Click on Regenerate thumbnails button.
Thanks to check & feedback.

[2019-02-25 10:08] Goretsv commented on #12684
in mail server log.
To get work mail i must edit host in file AbstractSMTPTransport.php
(my email provider need specific host)

[2019-02-25 10:09] Goretsv commented on #12684
(i have this problem after upgrade from 1.6 to 1.7, in 1.6 work normal)

[2019-02-25 10:09] khouloudbelguith commented on #12677
Hi @didi-2018,

It could be something went wrong with your update and don't have some of the database columns that were added for 1.7.5.1
The solution is to check if there are missing columns in your database schema.
You can find the full schema for 1.7.5.1 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.1/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2019-02-25 10:10] fif10 commented on #12695
Hi

I did already . As mentionned in my post :

4000 products, takes times by the way without way to check progress, by the way
The location of the images changed between v1.7.3 & 1.7.5.1 ?

Regards

[2019-02-25 10:17] didi-2018 commented on #12677
Hi,

this could not be. On weekend I copied shopcopy folder to liveshop domain folder with the same database connected from shopcopy and I get the same errors. I hope you understand my bad english ;-)

[2019-02-25 10:29] MathiasReker commented on #11634
Maybe someone who come across this issue, will look for a way to change permissions. Therefor I will share a simple module to do that: https://github.com/MathiasReker/filepermissions :-)

[2019-02-25 10:29] juank2808 commented on #12697
Oh thanks, problem solved! now i need upgrade from 1.6 to 1.7 but prstashop only gives me the version 1.6.1.23 y need upgrade to the last version :(

[2019-02-25 10:40] khouloudbelguith commented on #12694
Hi @maofree, @eternoendless,

I checked the home page 2, I have the same issue with PS1.7.5.1 & PS1.7.4.4
![image](https://user-images.githubusercontent.com/16067358/53331137-7784a900-38f0-11e9-99e9-660cec40f2a8.png)
With PS1.7.5.1 & PS1.7.4.4 in the ps_categoryproducts section
![image](https://user-images.githubusercontent.com/16067358/53331392-11e4ec80-38f1-11e9-8987-b7caf4433980.png)
With PS1.7

[2019-02-25 10:51] khouloudbelguith commented on #12691
Hi @PoLun-Wang,

We are aware of this issue, it is added to our debug roadmap.
You are not logged in to the "Addons Market place" from your BO.
Your ticket is a duplicate of #11450
So, I close it.
Thanks!

[2019-02-25 10:51] #12691 closed, assigned to nobody

[2019-02-25 10:51] khouloudbelguith commented on #12691
Duplicate of #11450

[2019-02-25 10:53] holle75 commented on #12686
Thank you @khouloudbelguith

[2019-02-25 11:04] khouloudbelguith commented on #12697
@juank2808,

In the autoupgrade configuration page, you need to follow these steps:
![image](https://user-images.githubusercontent.com/16067358/53333197-7efa8100-38f5-11e9-85d3-4410b7718831.png)

Thanks!

[2019-02-25 11:05] matteolavaggi commented on #11186
So where prestashop spent all the money they get from addons selling? Not in proeuct develop, not in bug fix... Very bad project hope it will survive next years but i'm not sure. Is one of the most expensive ecommerce platfrom due to module need for every feature, and the bad supported and buggest one ...

[2019-02-25 11:07] khouloudbelguith commented on #12677
@didi-2018, and this issue occurs only on your live shop, in your shop copy, it is OK?

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You shou

[2019-02-25 11:07] khouloudbelguith commented on #12684
@Goretsv, could you please provide us the exact error in your mail server log?
Did you make some fixes in the AbstractSMTPTransport.php, what is the exact changes?
Thanks!

[2019-02-25 11:08] matteolavaggi commented on #11186
Dev mode is of, this url can be reached. Only the possibility that closing spammy url to the shop can generate trouble is a good way to evaluate the whole project ... i'm very I'm really sorry to have started 2 projects on prestashop. It is not possible that version 1.7.5 has the same problems as 1.7.1 ... an unusable search for example ... while addons sells thousands of modules a day to solve th

[2019-02-25 11:08] juank2808 commented on #12697
no i can't, this is ins spanish but is the same
![imagen](https://user-images.githubusercontent.com/14195668/53333390-0516c780-38f6-11e9-94c6-e3dfc8c17600.png)

[2019-02-25 11:09] matteolavaggi commented on #11186
* api.prestashop.com  THIS can't be pinged from anywhere... italy, uk, france, server, desktop, unix, windows .....

[2019-02-25 11:10] khouloudbelguith commented on #12697
@juank2808, you need to click on the button "More options" first, then select the "Major release, the save.
Thanks!

[2019-02-25 11:17] Goretsv commented on #12684
Log: Expected response code 250 but got code "550", with message "550 Bad HELO - Host impersonating domain name [print-service.ua] "

(i fix for my SMTP setting)
 private function _lookupHostname()
    {
        if (!empty($_SERVER['SERVER_NAME']) && $this->_isFqdn($_SERVER['SERVER_NAME'])) {
            $this->_domain = [savo.in.ua];

[2019-02-25 11:20] khouloudbelguith commented on #12689
Hi @jojotjebaby,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
In the BO => International => Locations => Countries
I edit the Zip/postal code format
![image](https://user-images.githubusercontent.com/16067358/53333911-86228e80-38f7-11e9-9872-b1dfab7b634d.png)
In the FO, I can add a postcode without space successfully.
https://drive.google.com/file/d/1y02i96h

[2019-02-25 11:25] khouloudbelguith commented on #12695
Hi @fif10,

I did not manage to reproduce the issue with PS1.7.5.1 after upgrade from PS1.7.3.3 with the 1-click upgrade v4.6.0.
I attached a video record.
https://drive.google.com/file/d/1Aa2eA-m1Eoc7w1LN_bcDMFq1F848sTku/view
Thanks to check & feedback.

[2019-02-25 11:28] juank2808 commented on #12697
No, i cant again i supose that is by PHP version but if i upgrade to 7.1 for example i cant see nothing
![imagen](https://user-images.githubusercontent.com/14195668/53334302-a99a0900-38f8-11e9-8cd6-696ceae980f0.png)

[2019-02-25 11:30] holle75 commented on #10258
.... might be smart to use DEFINED languages. NOT language of logged in BO user. Neither automatically customer language.
For example one of my shops is based in italy but Admin is using english BO. No one wants to change language of BO to italian to print invoices/documents or send attached invoices in "payment accepted"-eMail in italian? At least in this shop it needs to happen this way.

Some c

[2019-02-25 11:56] ttoine commented on #11186
If you use 1.7.1, you should test and migrate to 1.7.5, and you will see that developers do their work. Its' faster, more stable, and it has many improvements and features required by the community.

If you compare to other e-commerce software, Prestashop is one of the most complete out of the box. If you need more features, it usually means you have a specific business workflow.

You can actually

[2019-02-25 12:19] espacious opened #12700 "Discounts can be combined eaven if cart_rule_restriction is 0"
When adding 2 discounts (Cart rules) and make them NONcompatible one with another, should let a customer use only one discount, but in reality the customer can use both of them.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two cart rules and make them incompatible (see screen)
2. Add a product to cart and try to add both rules/discounts
3. Both discounts are added, but only one sho

[2019-02-25 13:02] PoLun-Wang commented on #12691
Ok, I got it. Thank you.

[2019-02-25 13:17] Darmona opened #12701 "Add ps_faviconnotificationbo in the installer"
The ps_faviconnotificationbo module is included in the PrestaShop zip but not in the installer then not installed.

That would be great to add the ps_faviconnotificationbo module in the installer like other native modules.

[2019-02-25 13:27] matteolavaggi commented on #11186
This is complete not right. 100% not right.

1) upgrade a ps installation is  impossibile, 1click upgrade not work, manual upgrade not work
2) ps is th eonly main project with a compelte miss of dev documentation
3) complete miss for nginx 100% working support (100% mean OUT OF THE BOX, not 5 ours developer work to get 95% working)
4) Complete miss of basic function, like the search (What ridicoul

[2019-02-25 13:50] didi-2018 commented on #12677
thank you for your reply. Test are exactly the same.

Shopcopy:
![image](https://user-images.githubusercontent.com/44971218/53340827-3c8f6f00-390a-11e9-8e62-178ee471cb1f.png)
![image](https://user-images.githubusercontent.com/44971218/53340863-529d2f80-390a-11e9-9d74-719e4f6e4db5.png)
![image](https://user-images.githubusercontent.com/44971218/53340883-62b50f00-390a-11e9-82bf-c1da8d537ad2.png)
![i

[2019-02-25 13:51] khouloudbelguith commented on #12700
Hi @espacious,

Thanks for your report.
You can find in our documentation http://doc.prestashop.com/display/PS17/Cart+Rules that by default, an order can benefit from any number of cart rules.
In fact, if you create a new cart rule, check the compatibility with other cart rules, you can find that all the other cart rules are displayed in the "Combinable cart rules" section.
https://drive.google.co

[2019-02-25 13:51] #12700 closed, assigned to nobody

[2019-02-25 13:51] jesusruiz commented on #12680
Hello, khouloudbelguith:

Thank you for your feedback and the tests you have done ;)

In the video that you have recorded, I understand that the language you have selected is **Spanish from Mexico** (not **Spanish from Spain**), but in any case, I see that the language change correctly in the Spanish (Mexico) language. So I'm going to do other tests of the installation process because maybe the pr

[2019-02-25 13:51] #12680 closed, assigned to nobody

[2019-02-25 13:53] khouloudbelguith commented on #12680
@jesusruiz, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-02-25 14:05] fif10 commented on #12695
Hi

Thanks a lot for your reply
I tried to reproduce and see what could be different on my config.
I finally found, and seems that a bug

In my config I had several url defined in multishop.
So I updated it, to have only one valid url : it is working
But if I add a second url, and, the first one is not selected as main URL , the .htaccess generated does not work for products images.

[2019-02-25 14:08] holle75 commented on #10258
PS. a fast workaround for this << bug/missing logic in attached invoice to "payment accepted"- eMail >> would be amazing.

[2019-02-25 14:10] PierreRambaud commented on #10010
Hey @darslu, as you can see, we plan to integrate it in the 1.7.6 with the new Faceted search module :)

[2019-02-25 14:10] espacious commented on #12700
Yes i understand. But correct me if i'm wrong. I have 1000 Cart Rules and i did:
update ps_cart_rule set cart_rule_restriction = 1
So now all rules should be incompatible with each other. But they are not.
To reassume if i do: "update ps_cart_rule set cart_rule_restriction = 1" Cart Rules are still compatible till i go to the field you mentioned in the video and move all Cart Rules from compatible

[2019-02-25 14:15] khouloudbelguith commented on #12700
@espacious, you can apply this command to update all the carts rule.

UPDATE `ps_cart_rule` SET `cart_rule_restriction` = '1' WHERE `ps_cart_rule`.`id_cart_rule` > 0
![image](https://user-images.githubusercontent.com/16067358/53343259-3a301380-3910-11e9-881c-73826a976407.png)

[2019-02-25 14:23] khouloudbelguith commented on #12059
Hi @psyray,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-02-25 14:30] joris-ati4 commented on #12689
I already made a fix and will open a PR today or tomorrow.

Thanks!

[2019-02-25 14:35] tlhuillier opened #12702 "$layout should be considered a 'general purpose variables' and always assigned."
**Is your feature request related to a problem? Please describe.**
When prestashop core is updating product lists, for example when sorting or filtering,
templates such as `templates/catalog/_partials/products.tpl` are rendered individually during Ajax calls.
See `getAjaxProductSearchVariables()` in `ProductListingFrontController.php`.

Lets say the number of items per row is dependent from your l

[2019-02-25 14:35] khouloudbelguith commented on #12689
@jojotjebaby, thank you!

[2019-02-25 14:38] khouloudbelguith commented on #12702
Hi @tlhuillier,

Thanks for your report.
ping @eternoendless @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-02-25 14:41] khouloudbelguith commented on #12528
Hi @LinkOfLight,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-c

[2019-02-25 14:45] khouloudbelguith commented on #11436
Hi @eandrei,

Did you use the module MailChimp?
Thanks!

[2019-02-25 14:45] rblaurin opened #12703 ""Delete combinations" button not working anymore in 1.7.5.1"
After  upgrade to 1.7.5.1, when I edit a product with many combinations and click the "Delete combinations" button, in Combinations Tab, I get a green message of "Undefined", and the combinations are not deleted.

To reproduce:
1. Go to Catalog > Products
2. Edit a product with many combinations
3. Go to Combinations Tab
4. Click the "Delete combinations" button.

Prestashop Version: 1.7.5.1
PHP V

[2019-02-25 14:50] khouloudbelguith commented on #10161
Hi @AlexanderKosianchuk,

In my case here's what I followed & I installed the PS1.7.5.0 successfully with docker containers, that are provided in the repository.
1. Download the stable version PS1.7.5.0 from this link: https://www.prestashop.com/fr/versions-precedentes
2. Unzip the folder downloaded
3. Into the Project folder, I run `docker-compose up`

=> Two containers are successfully created
1

[2019-02-25 14:53] khouloudbelguith commented on #12703
Hi @rblaurin,

I did not manage to reproduce the issue with PS1.7.5.1 after upgrade from 1.7.5.0 with the 1-click upgrade v4.6.0.
I attached a video record.
https://drive.google.com/file/d/1xpAUNoGP6CyRpMkDuWF7-TVBvwlDg7QX/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop vers

[2019-02-25 14:55] rblaurin commented on #12703
Hi, sorry. I mean the "Delete combinations" button in bulk actions.

[2019-02-25 14:57] colinegin commented on #12591
As discussed, this should be the new tab organization :
Modules
        Module Manager
        Module Catalog

Thanks

[2019-02-25 14:59] khouloudbelguith commented on #12703
@rblaurin, seems ok to me also https://drive.google.com/file/d/1PqJyFF_zE-h5x2NGn0WJWhLW890BfnYs/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-02-25 15:01] khouloudbelguith commented on #12100
Hi @ChineseNorris,

But for the module `dashtrends`, it is necessary to regenerate invoices so the statistics will be displayed.
Thanks!

[2019-02-25 15:11] jf-viguier commented on #12592
Hi all,
I've fixed this bug in this pull request: https://github.com/PrestaShop/PrestaShop/pull/12705
Hope this helps.

[2019-02-25 15:12] agnesdennetiere commented on #9998
Hello,

still no news ?
It is a big problem for carrier which have an extra content (with a date selection for instance)

[2019-02-25 15:13] ttoine commented on #11186
1. Upgrade works well when shops have not been modified with bad overrides or bad modules. Also, when there are a lot of products, the server must be well configured regarding connection timeouts. But you are right, there are many cases where this is difficult to migrate.
2. That's not true: https://devdocs.prestashop.com/ and this is not the worst development doc you can find in open source.
3. l

[2019-02-25 15:17] khouloudbelguith commented on #12671
Hi @iservng,

A blank page & the error 500 cannot help us to reproduce the issue.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Also, I tried to access to your link, I have this
![image](https://user-images.githubusercontent.com/16067358/53347156-cd6d4700-3918-11e9-86df-c1e72af2b82d.png)
Thanks!

[2019-02-25 15:22] khouloudbelguith commented on #12687
Hi @watou,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

Thanks!

[2019-02-25 15:54] khouloudbelguith commented on #12687
Hi,

I tried with this link: https://search.google.com/search-console/about to check PS1.7.5.1 shop, but I need to wait to get details
https://search.google.com/search-console/about
![image](https://user-images.githubusercontent.com/16067358/53349703-fb08bf00-391d-11e9-953c-258d9a9c2965.png)
Thanks!

[2019-02-25 16:03] matteolavaggi commented on #11186
Dear you write about 10 times 1.7.5, but why dev a 1.7.5 if 1.7.4,1.7.3,1.7.2,1.7.1 still has same bug ?!
Really put a new number rear the version solve customer problem??
Answering a new issue with a NMI is not a problem solve approach! Write better code and robusto upgrade structure is a problem solve approach!

And also you (right) write that this is not the bad open source project, right but t

[2019-02-25 16:05] khouloudbelguith commented on #12579
@juslintek,

After removing the all other languages, I navigated to International => Translations => Exported the "Lietuvių kalba (Lithuanian)" language for the classic theme & I moved the "lt-LT" folder into /themes/classic/translations, then I imported the "English", I disabled it, I set English language in Profile Settings as admin language => OK
Thanks!

[2019-02-25 16:06] khouloudbelguith commented on #12697
@juank2808, when you select "Major release" & you save, the version PS1.7.5.1 is not displayed?
Thanks!

[2019-02-25 16:10] khouloudbelguith commented on #12667
Hi @pppplus,

Thanks for your feedback.
Sorry, I tried with another shop 1.7.5.1, but it is OK when I try to delete the cache (PHP7.2 / PHP7.0)
@marionf, what do you think?
Thanks!

[2019-02-25 16:14] khouloudbelguith commented on #12584
Hi @johstrom,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-02-25 16:14] #12584 closed, assigned to nobody

[2019-02-25 16:16] didi-2018 commented on #12667
@khouloudbelguith can you please try again and enable Debug mode first?

[2019-02-25 16:21] #12161 closed, assigned to nobody

[2019-02-25 16:23] khouloudbelguith commented on #12667
@pppplus, it is OK.
I attached a video record.
https://drive.google.com/file/d/1EXLsBN9sIf3SnwgdmOnCFrmo0Was55V6/view
Thanks!

[2019-02-25 16:26] marionf commented on #12667
@khouloudbelguith I can't reproduce it either

[2019-02-25 16:36] khouloudbelguith commented on #12667
Thanks you @marionf!

[2019-02-25 16:42] pppplus commented on #12667
my conf :

Informations sur votre serveur Linux #1 SMP PVE 4.15.18-28 (Tue, 30 Oct 2018 14:27:50 +0100) x86_64
Version du logiciel serveur : Apache/2
Version de PHP : 7.2.15
Limite de mémoire : 512M
Temps maximal d'exécution : 360
Taille max. pour envoi de fichiers : 64M
info_outline Informations sur la base de données

Version de MySQL : 5.5.41-MariaDB
Serveur MySQL : 127.0.0.1
Moteur MySQL : Inn

[2019-02-25 16:48] ghost commented on #12417
Hi @SharakPL
Thanks for the feedback ! That's a good idea.
We will look into which Release roadmap we will be able to add it.
We won't be able to do it for the 1.7.6, as Pierre said we have to update our dependencies first and it will be done later.

We might use this time to ask the community more globally which features they would like to see in the TinyMce editor. Stay tuned 🙂

For the moment,

[2019-02-25 16:54] Quetzacoalt91 commented on #12435
Even if we don't follow the best practice, it looks like the issue is caused by the database created in utf8mb4, and must be converted to utf8.

[2019-02-25 17:30] khouloudbelguith commented on #12676
Hi @etasia79,

I did not manage to reproduce the issue with PS1.7.5.1 & the ps_factedsearch v2.2.1.
I attached a video record.
https://drive.google.com/file/d/1IpbZX_Yy4D9bQs4UQ-Qcgra8fDGPQwur/view
Thanks to check & feedback.

[2019-02-25 17:32] khouloudbelguith commented on #12667
Hi @pppplus,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, th

[2019-02-25 17:39] khouloudbelguith commented on #9998
Hi @antoinemineau,

Sorry not yet.
It should be specified by our developpers.
Thanks!

[2019-02-25 17:43] juank2808 commented on #12697
No, only i can see that the "last" version is the 1.6.1.23 i have tried all things, install a test version in local, and upload the database backup..., and installl 1.6.1.23 in local and i can't cause the PHP version isn't compatible

[2019-02-25 17:44] khouloudbelguith commented on #12697
@juank2808, what is the exact version PHP did you use?
Thanks!

[2019-02-25 17:47] pppplus commented on #12667
![phpinfo](https://user-images.githubusercontent.com/2866100/53357251-bdac2d80-392d-11e9-8fc1-24fece5f11a5.jpg)

[2019-02-25 17:48] khouloudbelguith commented on #12695
@fif10, so before the upgrade, you created for the same shop name more than one URL.
![image](https://user-images.githubusercontent.com/16067358/53357214-acfbb780-392d-11e9-81fc-75bf174e8801.png)
The second URL is the main URL or not?
Did you access to your BO / FO from the second or the first URL?
Thanks!

[2019-02-25 17:56] said4440 commented on #9810
thank you very much for your contribution
for a long time I'm going around in circles with problem

[2019-02-25 17:56] KHATERSAID commented on #9810
thank you very much for your contribution
for a long time I'm going around in circles with problem

[2019-02-25 18:36] juank2808 commented on #12697
i have the 5.6

El lun., 25 feb. 2019 a las 18:44, khouloudbelguith (<
notifications@github.com>) escribió:

[2019-02-25 18:56] juank2808 commented on #12697
i have other question, Does the prestashop update affect the database? now i cant update prestashop but i'm really insecure cause i have make it in a real web

[2019-02-25 19:17] didi-2018 commented on #12677
Hi, my hosting uses "Google PageSpeed Module" on server. After I activated it again everything works now! This is really embarrassing! But maybe it helps someone else.

[2019-02-25 22:22] go-sudo commented on #12692
Hello

I appreciate your help and I provide you this video to explain more the issue

https://drive.google.com/file/d/1AlG9Sm1QzWXXI494G6sCNUjjyzEK73Mg/view

Regards,

[2019-02-25 22:27] #12703 closed, assigned to nobody

[2019-02-26 02:39] iservng commented on #12671
Hello
I want to thank you for reaching out to me. i hosted my prestashop site
with HOSTGATOR and found their service to be very poor, so i cancelled. Now
i have checked prestashop site and found they have an official hosting
partners called 1&1 HOSTING, so am going to host with them to have improved
services. WHAT IS YOUR KIND OPINION SIR ?

On Mon, Feb 25, 2019 at 7:17 AM khouloudbelguith <notifi

[2019-02-26 07:23] fif10 commented on #12695
@khouloudbelguith
Yes, same shop, more than one url (different domains)

Before upgrade (working version / v1.7.3)
https://drive.google.com/file/d/1OxbXE5cjb2op3htIVK2YpsXJxxAEEh4t/view?usp=sharing

After upgrade. (v1.7.5.1)
Not working :
https://drive.google.com/open?id=1ZUiRXsSd2jEOunGwDse1uru7yiv1RUR0

Working :
https://drive.google.com/file/d/1uY6cCmsANstflH25FURMtan1qWoziFCL/view?usp=sharing

[2019-02-26 07:33] khouloudbelguith commented on #12671
Hi @iservng, to understand your issue we need more details, we need to retrieve the PHP error log and the debug mode report.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
Thanks!

[2019-02-26 07:34] khouloudbelguith commented on #12703
@rblaurin, the issue is solved?
Thanks!

[2019-02-26 07:37] khouloudbelguith commented on #12692
@go-sudo, you need to enable debug mode in your store and debug request which is sent for pagination in your browser, using DevTools, so:

1. enable debug mode
2. go to the page
3. open up developer tools
4. go to Network tab
5. Click on the pagination button
6. wait for an error, you should see red request information in Network tab ( error 500 in your screen record => click on it)
7. click on it

[2019-02-26 07:39] khouloudbelguith commented on #12677
@didi-2018, thanks for your feedback.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-02-26 07:39] #12677 closed, assigned to nobody

[2019-02-26 07:47] khouloudbelguith commented on #12697
Hi @juank2808,

Yes, PrestaShop update the Database during the upgrade.
You can find the schema changes from 1.7.5.0 to 1.7.5.1 by looking at this file: https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/upgrade/sql/1.7.5.1.sql

You can find the full schema for 1.7.5.1 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.1/install-dev/data/db_structure.sql

As always, you can u

[2019-02-26 07:59] wordliner commented on #12652
You need to change displayInformation() function from private/protected tu public

[2019-02-26 08:16] febestore commented on #12592
Hello,
You are the real MVP. Everything works after modifications!
Screenshot:
![1](https://user-images.githubusercontent.com/40421616/53397312-1ec41780-39a7-11e9-93e1-a534c03dc14f.JPG)

Thanks!

[2019-02-26 08:19] khouloudbelguith commented on #12652
Hi @Tomskor,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-02-26 08:19] #12652 closed, assigned to nobody

[2019-02-26 08:24] khouloudbelguith commented on #9697
Hi @Chrisi1321,

I tried with PS1.7.5.1 & the Bank transfer module v2.0.4, the order confirmation page is well translated.
![image](https://user-images.githubusercontent.com/16067358/53397795-51224480-39a8-11e9-8eaf-5eb0d251f579.png)

This issue is currently closed, can you open a new one with more information about your configuration.
Thanks!

[2019-02-26 08:36] juank2808 commented on #12697
thanks! now i have the other problem, when i decide update the pestashop version, prestashop gives me a error
![imagen](https://user-images.githubusercontent.com/14195668/53398471-f5f15180-39a9-11e9-88d8-377684fef1f2.png)

have you some idea baout this?

[2019-02-26 08:38] khouloudbelguith commented on #12697
@juank2808, you need to increase the `max_execution_time` in your php.ini file
Thanks!

[2019-02-26 09:19] khouloudbelguith commented on #12667
Hi @pppplus,

I tried with different servers (Nginx / apache ) => OK.
I tried with different versions PHP 5.6 / 7.2 / 7.0 => OK.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thanks!

[2019-02-26 09:26] colinegin commented on #11630
Hello,

we are currently refactoring the faceted search module, tell us if you have the need for new hooks !

Have a nice day,

Coline

[2019-02-26 09:30] colinegin commented on #10226
Hello,

We are currently reworking this module, could you explain us why you would like to display the faceted search on displayLeftColumnProduct ?

Thank you and have a nice day,

Coline

[2019-02-26 09:39] pppplus commented on #12667
Really ??
With this php error :
`Fatal error: Uncaught Error: Class 'Tools' not found in /home/my/path/to/public_html/test1751/classes/db/Db.php:794 Stack trace: #0 /home/my/path/to/public_html/test1751/config/alias.php(48): DbCore->escape('configuration', false) #1 /home/my/path/to/public_html/test1751/config/alias.php(53): pSQL('configuration') #2 /home/my/path/to/public_html/test1751/classes/Co

[2019-02-26 09:41] khouloudbelguith commented on #12667
@pppplus, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-02-26 10:03] christiandouchamps opened #12712 "Superposition de fenêtre 1.7.5.0"
1° Bonjour, nativement quand ont se rend dans 'commande' et en cliquant sur la cliente en descendant ont trouve l'onglet 'paiement' et a droite 'message' or c'est deux fenêtre se superpose à partir du moment ou il y a des informations de paiement et donc je je sais pas y accéder photo ci dessous

2° Comme vous le voyer sur la photo un message en rouge apparait 'Attention 50,88 € payé au lieu de 25

[2019-02-26 10:08] onlinedhlx opened #12714 "Blank screen when editing any product in backend"
**Describe the bug**
A clear and concise description of what the bug is.

When logging into the admin section, enter the catalog and try to edit any product and all i get is a blank white screen

if you need a log on to test this i can provide one

**Additionnal information**
PrestaShop version: 1.7.3.0
PHP version: 5.6.37
MYSQL version : 5.6.41

[2019-02-26 10:12] khouloudbelguith commented on #12695
Hi @fif10,

Thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.5.1 after upgrade from PS1.7.3.3 with the 1-click upgrade v4.6.0.
I attached a video record.
https://drive.google.com/file/d/11AsqUcCktQDLroJuahNWubYfBpEFNUt5/view
I tried to enable & disable friendly URL => it is OK.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod

[2019-02-26 10:17] khouloudbelguith commented on #12712
Hi @christiandouchamps,

About the first issue, we are aware of this issue, you can follow this ticket: #9863.
About the second issue, you just received a double payment => could you please provide the exact status created for this order, then navigate to your BO => Shop Parameters => Order Settings => Status Tab => Search for the status of your order => Click edit => and provide me the exact conf

[2019-02-26 10:18] rblaurin commented on #12703
It is solved, thanks. My mistake.

[2019-02-26 10:19] ttoine commented on #11186
So, I told you already: the most important budget of the company is dedicated to improve the PrestaShop open source project and to finish the migration to Symfony. However, yes, you are right, there was a lot of things to fix. Most of the important things are fixed, and there is a roadmap to finish in order to ease the migration from 1.6 to 1.7. That's how the energy of the employee is used since

[2019-02-26 10:23] khouloudbelguith commented on #12703
@rblaurin, thanks!
Feel free to open a new ticker when needed.
Thanks!

[2019-02-26 10:23] khouloudbelguith commented on #12714
Hi @onlinedhlx,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-cr

[2019-02-26 10:30] onlinedhlx commented on #12714
hi,

here is the screenshot, probably not much help as it is just a blank screen

![screen shot 2019-02-26 at 11 28 20](https://user-images.githubusercontent.com/48013540/53406239-d6fabb80-39b9-11e9-826f-885924039056.png)

gonna see what other info i can get for you

thanks

[2019-02-26 10:31] khouloudbelguith commented on #12714
@onlinedhlx, Thanks!
Waiting for your feedback, because a white page cannot help us to understand the issue.
Thanks!

[2019-02-26 10:35] khouloudbelguith commented on #12684
Hi @Goretsv,

In the BO => Advanced Parameters => Email, I set the `mail domain name`.
I check this value in the Database table ps_configuration & this value is well saved.
I attached a video record.
https://drive.google.com/file/d/1VOsCY3wRrCHTAbfzlXFfKt-f02Wyl4Jd/view
Thanks to check & feedback.

[2019-02-26 10:37] khouloudbelguith commented on #12675
@Fobe24, any news about your issue?
Thanks!

[2019-02-26 10:40] onlinedhlx commented on #12714
not sure what you need from the debug mode, i have turned it on

is there a way to output a report for you?

[2019-02-26 10:42] khouloudbelguith commented on #12714
@onlinedhlx, when you enable the debug mode, are there any exceptions displayed in the products page?
Thanks!

[2019-02-26 10:42] didi-2018 commented on #12677
Hi, no it is not prestashop module. It is a nginx server module! ;-)

[2019-02-26 10:42] onlinedhlx commented on #12714
no there are not...

[2019-02-26 10:43] matks opened #12715 "Helper cards RTL display seems broken"
Although I took care of it in PR https://github.com/PrestaShop/PrestaShop/pull/12128 it seems RTL display of helper cards is broken: the images are not mirrored on `develop` (see spec at https://github.com/PrestaShop/PrestaShop/pull/12128#issuecomment-454352355)

This applies to Helper cards in
- migrated team page `/admin-dev/index.php/configure/advanced/employees/`
- migrated SEO&URL page `/admi

[2019-02-26 10:44] juank2808 commented on #12697
Done! now y havce one more problem sorry
![imagen](https://user-images.githubusercontent.com/14195668/53407174-d19e7080-39bb-11e9-9ab6-37437e68c574.png)

[2019-02-26 10:46] pppplus commented on #12667
Same error after deleting manually  all the folder into var/cache (prod & dev).

[2019-02-26 10:50] onlinedhlx commented on #12714
it all appears fine, just goes to teh white screen when i click on edit product

this has been tried in as many browsers and locations as we can get access too (so all browsers really)

[2019-02-26 10:51] khouloudbelguith commented on #12714
@onlinedhlx, do you have a lot of data for this product?
Thanks!

[2019-02-26 10:51] onlinedhlx commented on #12714
i have asked the server guys for any error reports from their end

thanks :D

[2019-02-26 10:52] onlinedhlx commented on #12714
what do you mean a lot of data? there are a lot of products... each is quite simple

[2019-02-26 10:53] khouloudbelguith commented on #12714
@onlinedhlx, thanks!
A lot of combinations, features,..?

[2019-02-26 10:53] onlinedhlx commented on #12714
no, they are fairly simple

Could it be a disk space issue at the host?

[2019-02-26 10:55] khouloudbelguith commented on #12714
@onlinedhlx,

In your php.ini file, Try to increase:
max_execution_time = 30 (by default is 30, try to increase it)
max_input_time = you need to increase it
memory_limit = 512M

Thanks!

[2019-02-26 10:56] onlinedhlx commented on #12714
where is the php.ini located?

thanks

[2019-02-26 10:56] khouloudbelguith commented on #12697
@juank2808, this error cannot help us to find what's wrong.
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2019-02-26 10:59] khouloudbelguith commented on #12714
@onlinedhlx, on your server, you check with your host provider.
Thanks!

[2019-02-26 11:00] onlinedhlx commented on #12714
that's what i thought, just checking there isn't a prestashop file..

thanks.. will sort that and see if it helps

[2019-02-26 11:10] khouloudbelguith commented on #9932
Hi @marionf,

I manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1nebrb_8mUMf4m2hYsHxaGROBNA5uXyKH/view
@seisnet, Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-02-26 11:23] onlinedhlx commented on #12714
not sure if this is connected but i can't even log into the admin area of site now

![screen shot 2019-02-26 at 12 22 19](https://user-images.githubusercontent.com/48013540/53409479-458f4780-39c1-11e9-98d7-262ae0694515.png)

[2019-02-26 11:27] christiandouchamps commented on #12712
Couleur
X .....Considérer la commande associée comme validée.
Autoriser les clients à télécharger et lire la version PDF de la facture.
Cacher cet état dans la commande pour les clients.
X.....Envoyer un e-mail au client lorsque la commande change d'état.
Joindre la facture PDF à l'e-mail.
Joindre le bon de livraison PDF à l'e-mail.
Marquer la commande associée comme expédiée.
X.....Marquer la com

[2019-02-26 11:29] khouloudbelguith commented on #12714
@onlinedhlx, Could you please try to clear cache manually by deleting all the folder into app/cache (prod & dev).
Thanks to check and feedback.

[2019-02-26 11:33] onlinedhlx commented on #12714
so delete all the subfolders in app/cache dev?

thanks?

[2019-02-26 11:36] khouloudbelguith commented on #12712
@christiandouchamps, this issue occurs only with PayPal module?
Have you tried to contact the module author about this issue?
Thanks!

[2019-02-26 11:36] khouloudbelguith commented on #12714
@onlinedhlx, yes.
dev & prod are cache folders.
Thanks!

[2019-02-26 11:38] onlinedhlx commented on #12714
ok, will delete now..

thanks

[2019-02-26 11:44] Goretsv commented on #12684
In database all correct.
mail domen must be id 422??
i have

1197 | NULL | NULL | PS_MAIL_DOMAIN | mail.print-service.ua | 2016-08-18 09:45:01 | 2019-01-14 09:15:39
-- | -- | -- | -- | -- | -- | --

[2019-02-26 11:51] onlinedhlx commented on #12714
ok, back to being able to log in but still get blank white screen when trying to edit a product ...

[2019-02-26 11:54] onlinedhlx commented on #12714
if i try to browse about the backend i get this sort of error lots..
![screen shot 2019-02-26 at 12 53 47](https://user-images.githubusercontent.com/48013540/53410966-9dc84880-39c5-11e9-9a7d-2d38c1441eec.png)

[2019-02-26 11:55] khouloudbelguith commented on #12714
@onlinedhlx, we need to retrieve the PHP error log provided by your host to understand what's wrong.
About your last screenshot, it is a cache issue as before.
Thanks!

[2019-02-26 11:57] onlinedhlx commented on #12714
ok...
i have asked for php error log, will call later if not received

[2019-02-26 12:02] christiandouchamps commented on #12712
no I do not contact the author it's just a problem of posting because I receive correctly the right amount

[2019-02-26 12:03] christiandouchamps commented on #12712
i need help for my * 1° problem

[2019-02-26 12:05] khouloudbelguith commented on #12684
Hi @Goretsv,

No, I tried with another shop & I have different id
![image](https://user-images.githubusercontent.com/16067358/53411528-006e1400-39c7-11e9-943b-96fc0296c3c1.png)
In your case, the value of "PS_MAIL_DOMAIN" is different from `[savo.in.ua]`
Thanks!

[2019-02-26 12:06] khouloudbelguith commented on #12712
@christiandouchamps, about your first issue, it is added to our bug roadmap, it is not fixed yet.
Your ticket is a duplicate of #9863
So, I close it.
Thanks!

[2019-02-26 12:06] #12712 closed, assigned to nobody

[2019-02-26 12:06] khouloudbelguith commented on #12712
Duplicate of #9863

[2019-02-26 12:07] christiandouchamps commented on #12712
thank s for all
best regard

[2019-02-26 12:08] mbmleone commented on #9917
We are seeing the same problem, even in 1.7.5.1 .
Could anyone please check what causes it and fix it?
If needed we have a demo store available that shows the problem.

[2019-02-26 12:08] Goretsv commented on #12684
I tried many options, this is the last saved option.

[2019-02-26 12:10] khouloudbelguith commented on #12684
@Goretsv, in your case, the PS_MAIL_DOMAIN value is "mail.print-service.ua" or "savo.in.ua"?
What is the difference between those values in your case?
Thanks!

[2019-02-26 12:11] juank2808 commented on #12697
good news! i ave updated the prestashop version haha i'm happy now thaks for your help :)

[2019-02-26 12:13] khouloudbelguith commented on #12697
@juank2808, great!

[2019-02-26 12:17] Goretsv commented on #12684
Because Prestashop always puts domain print-service.ua (root site domen) and ignores any settings, including domain "mail.print-service.ua"
And I cannot use domain print-service.ua, since it is configured on a CloudFlare proxy, and not on my server, and I need to put any domain in which the server IP is specified, since the mail server detects an attempt to spoof the IP and does not accept mail

[2019-02-26 12:25] johstrom commented on #12584
That is strange. I guess that Prestashop is built using the Symfony Framework - and that the "reset()" method is used in the system - and this is deprecated; and that is what is causing the issue. I, and neither my hosting, can't see how that can be a server configuration problem.

Can you confirm that Prestashop uses the Symfony Framework and the "reset()" method as described? Or do you mean that

[2019-02-26 12:34] eandrei commented on #11436
Yes I do!

[2019-02-26 13:16] khouloudbelguith commented on #11436
Hi,

The MailChimp Integration is causing this issue.
As described in the previous ticket: http://forge.prestashop.com/browse/BOOM-5486
I manage previously to reproduce the issue, the MailChimp Module added products to new customer's basket by default.
MailChimp isn't developed by PrestaShop.
You should contact the developer here: https://addons.prestashop.com/en/contact-us?id_product=26957
Thanks

[2019-02-26 13:16] #11436 closed, assigned to nobody

[2019-02-26 13:18] colinegin commented on #12648
So what's your opinion @matks ?

[2019-02-26 13:18] khouloudbelguith commented on #12684
@Goretsv,

What are those exact settings?
Thanks!

[2019-02-26 13:25] Goretsv commented on #12684
With any settings in the database, Prestashop takes as a mail domain, the carne domain of the store

[2019-02-26 13:27] khouloudbelguith commented on #12684
@Goretsv, thanks for your feedback.
But I need to know the exact steps to reproduce the issue in my local.
Thanks!

[2019-02-26 13:27] matks commented on #12648
"With great power comes great responsibility" 😉 you need to decide if you want to allow users to perform a heavy process on bulk, or you would rather have the user click on each language and perform the action for each of them (so we're sure he did not select something by accident).

[2019-02-26 13:32] khouloudbelguith commented on #9917
Hi,

In my case, I did not manage to reproduce the issue with PS1.7.5.1 fresh install & after upgrade from PS1.7.5.0 with the 1-click upgrade v4.6.0.
https://drive.google.com/file/d/1xMshgcde0bbcVX6PkXCzW-4bl2eeXbkL/view
Thanks!

[2019-02-26 13:32] Goretsv commented on #12684
1) Set any mail domain.
2)Send test email
3)Look log mail server (host parameter)

[2019-02-26 13:51] khouloudbelguith commented on #12667
@pppplus, thanks to check your file owner and permissions,
is there classes/Tools.php?

[2019-02-26 14:00] nathino10 opened #12719 "Impossible to edit product"
Hello everybody,

I try here, because i haven't found in others topics. Sorry I'm new here so maybe i will do something in the wrong way.

I'm on PS 1.7.4.4 , and it is impossible to edit products. Categories are ok , but products not. I check with the console, i have these errors (files attached), i don't know how to deal with it to solve.

Thanks for your help

![capture d ecran 2019-02-26 a 14

[2019-02-26 14:02] khouloudbelguith commented on #12719
Hi @nathino10,

You need to enable debug mode in your store and debug request which is sent for product edition in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. Edit a product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Preview"

[2019-02-26 14:12] nathino10 commented on #12719
Hello,

Thansk for your help, i have some things

The first is :
![capture d ecran 2019-02-26 a 15 09 57](https://user-images.githubusercontent.com/39501256/53418768-d58cbb80-39d8-11e9-89a3-90bff87fbfa6.png)
![capture d ecran 2019-02-26 a 15 10 08](https://user-images.githubusercontent.com/39501256/53418782-dd4c6000-39d8-11e9-9c3f-5992e4610583.png)

The second and the third are concerning these fi

[2019-02-26 14:16] khouloudbelguith commented on #12719
@nathino10, if you click on this error:
![image](https://user-images.githubusercontent.com/16067358/53418998-43d17e00-39d9-11e9-98b7-2fc270c7c177.png)
There is nothing in the "Preview" Tab.
When you enabled the debug mode, there are no exceptions displayed when you edit a product?
Thanks!

[2019-02-26 14:20] nathino10 commented on #12719
No, normally i must see something but in this case, i don't have window of debug with databas exception or something like this ..

[2019-02-26 14:22] khouloudbelguith commented on #12719
@nathino10, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-02-26 14:23] axisepm commented on #12688
Hi, I'm stepping in 1.6.18, can this be fixed in 1.6 branch as well? It is causing a lot of trouble in our inventory management and we are receiving a lot of complaints from or customers.

[2019-02-26 14:27] khouloudbelguith commented on #12688
Hi @axisepm,

First of all, thank you for reporting your issue!
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).
During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and se

[2019-02-26 14:27] #12688 closed, assigned to nobody

[2019-02-26 14:40] ReddySk opened #12721 "Path is not defined"
Hello,

While automatic installation of 1.7.5.1 I am getting  stuck on 45%:
**Path not defined: supplemental/codeMappings.**

I am getting the error after I have managed workaround for problem reported here:
https://github.com/PrestaShop/PrestaShop/issues/10161.
I have commented out the language pack downloading and it proceed to this new error.

I am behind Proxy server with authentication. And I

[2019-02-26 14:43] geimsdin commented on #9810
I did try to add it, surely I did mistakes :)

[2019-02-26 14:43] geimsdin commented on #9810
Happy I helped you.

[2019-02-26 14:49] khouloudbelguith commented on #12721
Hi @ReddySk,

Thanks to create a PHP info file & check if you have some functions disabled
![image](https://user-images.githubusercontent.com/16067358/53421516-11764f80-39de-11e9-91a6-be2e5ac3becf.png)
Thanks!

[2019-02-26 15:05] ReddySk commented on #12721
Hi @khouloudbelguith

No disabled assets yet.
![image](https://user-images.githubusercontent.com/16384565/53422691-3e2b6680-39e0-11e9-9a63-b38ad5f37cd2.png)

Thanks

[2019-02-26 15:09] khouloudbelguith commented on #12721
@ReddySk, what is the exact workaround did you made?
What is the exact file?
Thanks!

[2019-02-26 15:21] SharakPL commented on #12417
It's easier to paste directly into tinymce editor with `CTRL+SHIFT+V` like @jolelievre suggested as you get the same effect and skip the notepad step, but it's still PITA to do it this way if you have a lot of content to format

[2019-02-26 15:45] ReddySk commented on #12721
I have edited \src\PrestaShopBundle\Install\Install.php and commented out this code at line 619-633.

[code]

Thanks to that it fixed the problem reported in #10161.

[2019-02-26 15:56] khouloudbelguith commented on #12721
@ReddySk, have you tried to unlock the server connection?
Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exa

[2019-02-26 15:59] nathino10 commented on #12719
I add some informations
----------Server setup and configuration---------------------
Informations sur votre serveur Linux #1 SMP Debian 3.16.51-3 (2017-12-13) x86_64
Version du logiciel serveur : Apache
Version de PHP : 5.6.40-1+0~20190111135457.9+jessie~1.gbp5f42c9
Limite de mémoire : 256M
Temps maximal d'exécution : 120
Taille max. pour envoi de fichiers : 100M

------------------APACHE ERROR L

[2019-02-26 16:21] matks opened #12722 "Provide access to pages Module Updates and Module Alerts pages when upgrading to 1.7.6"
In https://github.com/PrestaShop/PrestaShop/pull/12713 I introduced 2 new roles needed to access pages Module Updates and Module Alerts.

This means that, for a shop that migrates to 1.7.6, since the superadmin rights are granted to him at install process, and this process will not be performed, then *no BO user* will be granted the required rights to access these 2 pages.

The access rights will

[2019-02-26 16:22] matks commented on #12722
See https://github.com/PrestaShop/PrestaShop/pull/12713#issuecomment-467394955

[2019-02-26 16:22] matks commented on #12722
ping @Quetzacoalt91

[2019-02-26 16:27] colinegin commented on #11692
As discussed, this should be the new tab organization :
Modules
Module Manager
Module Catalog

Thanks

[2019-02-26 16:37] khouloudbelguith commented on #12719
@nathino10, the AdminProductsController.php is overrated, which causing the problem.
You need to edit this override if you have added it manually or find which module that overrode this class.
Your issue is not a PrestaShop's core bug but most likely a customization problem.

I will close the issue, feel free to open a new one when needed.
Thanks!

[2019-02-26 16:37] #12719 closed, assigned to nobody

[2019-02-26 16:40] amtriorix opened #12724 "Move location where to include defines_custom.inc.php"
To debug PS you can alter config/defines.inc.php, however config.inc.php does provide
a mechanishm to use config/defines_custom.inc.php as well that is a more elegant solution.

create config/defines_custom.inc.php
[code]

This works for a running PS however this file is not properly read using i
install/index.php using the call init.php.

We see,  defines.inc.php however, is included by init.php,

[2019-02-26 16:49] khouloudbelguith commented on #12724
Hi @amtriorix,

Have you the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/11234?
Thanks!

[2019-02-26 16:54] amtriorix commented on #12724
No, this is to move the location when and where to include properly the custom defines,
so it also works doing install/index.php  Now this file is not read by install/index.php (using install/init.php)

To solve it properly, I propose to call the include in config/defines.inc.php

[2019-02-26 16:58] marionf opened #12725 "Issue when deleting an URL if not allowed"
**Describe the bug**
Issue when deleting an URL if not allowed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced parameters > Team > Employees
2. Create a new employee with logistician profile
3. Go to  Advanced parameters > Team > Permissions > Logistician
4. For Traffic & SEO and SEO & URLs, check only View right
5. Login to the BO with the logistician employee
6. Go to Shop p

[2019-02-26 17:02] tlhuillier opened #12726 "Improve image management for product combination"
**Is your feature request related to a problem? Please describe.**
It is not possible to set the cover image of a product combination, nor reorder images for a product combination.
The only thing you can do is to select what images you want (from the base product images) to display a specific combination.

**Describe the solution you'd like**
I think images need a bit more love in Prestashop in ge

[2019-02-26 17:05] khouloudbelguith commented on #12726
Hi @tlhuillier,

Thanks for your report.
@marionf, @colinegin what do you think?
Thanks!

[2019-02-26 17:08] johanlantz opened #12727 "Installing module dependency from theme fails while normal install is ok"
### Describe the bug
I have a module added as a dependency of my theme that I am developing.
Like this in the yml:
[code]
If I try to install the theme, it says it is not valid for PS1.7. If I upload the theme however, and press Use this theme, it fails with another more specific error complaining that my module is not ok.

The issue is that installing the module on its own through the module mana

[2019-02-26 17:10] marionf commented on #12726
Duplicate of #12241

[2019-02-26 17:12] marionf commented on #12726
@tlhuillier your improvement idea has already been reported here: #12241
You can follow this issue or add comments
Regards

[2019-02-26 17:12] #12726 closed, assigned to nobody

[2019-02-26 17:14] marionf commented on #12241
@tlhuillier suggest also to add the possibility to reorder images

[2019-02-26 17:15] khouloudbelguith commented on #12724
@amtriorix, thanks for these clarifications.
Checked with PS1.7.5.1 & PS1.7.4.4.
I added the new file

config/defines_custom.inc.php

[code]
I try to navigate to the BO => ok => The debug mode is enabled
When I try to re-install this shop => THe debug mode is disabled => so the `defines_custom.inc.php` is not treated.

@amtriorix, would you be willing to make a pull request on GitHub with your cod