[2019-09-19 13:29] mreco commented on #15613
Unfortunately I didn't find anything. Can anyone help me. Unfortunately, I'm not an IT specialist.

[2019-09-19 13:37] khouloudbelguith commented on #15613
@mreco, could you please check those PRs: https://github.com/PrestaShop/PrestaShop/pull/12597
https://github.com/PrestaShop/PrestaShop/pull/13009

Thanks!

[2019-09-19 13:40] matks commented on #9592
Hi, as indicated by @ANSD in his great comment above (https://github.com/PrestaShop/PrestaShop/issues/9592#issuecomment-508716896) this is not a bug. The "when I edit a carrier it actually duplicates it" is a feature. It might have been badly implemented, but this issue is not relevant.

[2019-09-19 13:40] #9592 closed, assigned to nobody

[2019-09-19 13:41] matks commented on #9592
If you have a specific issue related to this, please describe it accurately. For example I think https://github.com/PrestaShop/PrestaShop/issues/9592#issuecomment-415105822 (overlapping ranges with deleted carriers) is one. It might be fixed by https://github.com/PrestaShop/PrestaShop/pull/15615.

[2019-09-19 14:23] matks commented on #15324
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15515

[2019-09-19 14:23] #15324 closed, assigned to PierreRambaud

[2019-09-19 15:03] PierreRambaud commented on #15608
@marionf Can you confirm me that each time you use a facet filter, the pagination must be resetted?

[2019-09-19 15:17] matks commented on #15545
It seems PHP-CS-Fixer is not fully ready yet: https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/4502

We should wait for PHP-CS-Fixer to be ready, then apply it on the whole project

[2019-09-19 15:41] Digit-89 commented on #12734
Thanks for the cache tip, it solve my issue today.

[2019-09-19 15:44] dineshbadrukhiya opened #15620 "Update order status to shipped also updates order as paid with cash on delivery"
While customer order any item with cash on delivery option and once we update order as shipped. I have seen that status of order changes as paid even it’s not confirmed that order is not delivered or paid.

**Additional information**
PrestaShop version: 1.7.6

[2019-09-19 15:50] khouloudbelguith commented on #15620
Hi @dineshbadrukhiya,

In your BO => Shop Parameters => Order Settings => Statuses Tab => Edit the Shipped status & you can check that the "Set the order as paid." option is selected.
![image](https://user-images.githubusercontent.com/16067358/65259867-4c1c1280-dafd-11e9-98fc-587490164ffb.png)

Thanks!

[2019-09-19 15:53] JuanjoSCu opened #15622 "Unable to create new supplier when VAT identification number is mandatory"
If we have the VAT identification number required in countries, a new provider cannot be created.

**To Reproduce**
Go to International -> Locations -> Countries
Edit Spain (España)
Switch "Do you need a VAT identification number?" to yes.
Go to  Catalog -> Brands & Suppliers  -> Suppliers
Add new supplier

![image](https://user-images.githubusercontent.com/40602985/65260182-4119b000-db06-11e9-890

[2019-09-19 16:02] khouloudbelguith commented on #15622
Hi @JuanjoSCu,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & Ps1.7.6.0.
When we enable the "Do you need a tax identification number?" option a "dni" field addded to the address form (not the same behavior at PS1.7.5.2)
In Catalog -> Brands & Suppliers -> Suppliers => Error 500 after creating new supplier
![image](https://user-images.githubusercontent.com/16067358/652609

[2019-09-19 16:04] marionf commented on #15608
@PierreRambaud
Yes, I think it should be the same behavior for price and weight filters as other filters

[2019-09-19 16:12] guigplt commented on #9594
Hi,
Is there a fix for this bug ?

Regards.

[2019-09-19 16:13] Progi1984 commented on #15234
@LouiseBonnard For the "Jammu and Kashmir", do i add it or not ? Thanks for your answer.

[2019-09-19 16:23] pantagru commented on #15608
Looking at your video (https://drive.google.com/file/d/1a3xPVQAjOGm_y6P9du3esWoHebsNQSos/view)
The main difference that I see is that I can choose the style of the filter (check box or radio
button) for region or brand filter, not for price filter.
![Screenshot_2019-09-19 Moduli Servizi • Ciboreat](https://user-images.githubusercontent.com/41157394/65262258-36f9b080-db0a-11e9-804f-bfdbcda5e874.png

[2019-09-19 16:38] Janoush commented on #9809
Any new information about "Large number of product combinations block browser"??? Is fixed yet or not? If not why is fixing takes lot time (about more than one year?). When it comes out 1.7.7? Thanks for reply.

[2019-09-19 16:39] pantagru commented on #15609
I updated the module to the v3.3.0 and nothing change.
![Screenshot_2019-09-19 https ciboreat gammadev it](https://user-images.githubusercontent.com/41157394/65263308-a2dd1880-db0c-11e9-812e-d1e34afd1c97.png)

[2019-09-19 18:33] COCOPOT commented on #9594
I got this fixed. I asked oficial developers of Paypal module to fix it and they did the job. I only got this issue with Paypal module.

Regards,

[2019-09-20 03:46] namkynam commented on #15547
Hi @khouloudbelguith,
The Prestashop site you consider to be the default version 1.7.6.1 does not have any code changes or configuration changes.
All BO settings are the default. I just installed Prestashop 1761 and translated the email. I have this problem on the main site. I installed the Test site with default version to check and it also suffers.

Please help!

[2019-09-20 05:27] BenTen commented on #14474
I have always the bug, I changed the postal code (Mexico for this case) and the shipping became 0.

[2019-09-20 06:18] dineshbadrukhiya commented on #15620
Sorry I haven't checked that.
It's selected. You are right :) @khouloudbelguith

[2019-09-20 06:18] #15620 closed, assigned to nobody

[2019-09-20 06:47] jocel1 opened #15624 "Removal of a customization makes impossible to remove a product from the cart"
**Describe the bug**
Add a customization to a product, remove the customization, put the product into your cart. You'll not be able to remove the product from the cart because will still have an id_customization associated, but no more customized_data

**To Reproduce**
1. Create a product with a customized field
2. In the product page, add a customization, click save.
3. Click once again on save w

[2019-09-20 07:58] khouloudbelguith commented on #15200
Hi @bellamolipaolo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-20 07:58] #15200 closed, assigned to nobody

[2019-09-20 08:04] khouloudbelguith commented on #15196
Hi @drchad2008,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-20 08:04] #15196 closed, assigned to nobody

[2019-09-20 08:04] #15191 closed, assigned to nobody

[2019-09-20 08:05] khouloudbelguith commented on #15191
Hi @powergraf06,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-20 08:06] khouloudbelguith commented on #15189
Hi @rachpat,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-20 08:06] #15189 closed, assigned to nobody

[2019-09-20 08:06] khouloudbelguith commented on #15188
Hi @carras,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-20 08:06] #15188 closed, assigned to nobody

[2019-09-20 08:22] ghost opened #15626 "Search indexing buggy"
PrestaShop 1.7.5.2

Our customers has 1280 products.
All products are indexed when you looking at Settings > Search in the back-end.
When you search in front you see on keyword "keys" 8 results. But there are 70 results.
So the indexing is wrong. We need to push on Reindex everything to let it work again.

This happens once a month. Any idea?

[2019-09-20 08:29] guigplt commented on #9594
Can you tell me when it has been fixed ?
Because I have module version 4.4.5 on Prestashop 1.7.5.1.

And I have this bug on other payment methods :

![image](https://user-images.githubusercontent.com/44002621/65311810-7ae3c880-db91-11e9-9f9b-5492834ae2b6.png)

Regards.

[2019-09-20 08:35] khouloudbelguith commented on #15624
Hi @jocel1,

I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & PS1.7.6.0.
The Customization should not be required.
https://drive.google.com/file/d/1FL1lEjSAhlPImIUr8PPWof_uQa9MoRGb/view
I’ll add this to the debug roadmap.
Thanks!

[2019-09-20 08:37] rrataj commented on #9594
@guigplt What `Round mode` and `Round type` do you have in Shop parameters -> General ? Please try `Round up away from zero, when it is half way there (recommended)` and `Round on each item` settings.

[2019-09-20 08:43] guigplt commented on #9594
Hi,
My configuration is :
![image](https://user-images.githubusercontent.com/44002621/65312734-6ef90600-db93-11e9-8443-4647beb1fcad.png)

I will try Round on each item.
What's the difference ?

Regards.

[2019-09-20 08:49] rrataj commented on #9594
@guigplt This is the first thing you need to check before we start checking other things. Often payment modules and prestashop does not calculate rounding in the same way, and this could lead to these kind of splitting issues as well. It is also written in official PayPal documentation :) Hope it will help you.

[2019-09-20 08:51] khouloudbelguith commented on #15620
@dineshbadrukhiya, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-09-20 08:51] guigplt commented on #9594
Ok thank you for your help !

[2019-09-20 08:53] khouloudbelguith commented on #15626
Hi @sdwebdesign,

Did you update those products, for example, disable them or updating from import page?

Thanks!

[2019-09-20 09:03] sdwebdesign commented on #15626
@khouloudbelguith Nope. Just add new products.

[2019-09-20 09:05] khouloudbelguith commented on #15547
@namkynam, did you installed PrestaShop from our official web Site: https://www.prestashop.com/en/previous-versions?
What is the exact language/country did you use during the install?

Thanks!

[2019-09-20 09:05] Numalama opened #15628 "Error with hookDisplayDashboardToolbarIcons"
I was following the developper documentation of prestashop. ( link: https://devdocs.prestashop.com/1.7/modules/concepts/hooks/use-hooks-on-modern-pages/). But it seems like the hook displayDashboardToolbarIcons is never load/execute.

Like the example say, in a new module:
 1. I have register the hookdisplayDashboardToolbarIcons using `$this->registerHook('displayDashboardToolbarIcons')`

2.  I ha

[2019-09-20 09:09] khouloudbelguith commented on #15626
@sdwebdesign, in your BO => Shop Parameters => Search page, Indexing is enabled or not?
![image](https://user-images.githubusercontent.com/16067358/65314625-97cacc80-db8e-11e9-8dc7-435ffb7b3971.png)
In the BO => Shop Parameters => Product Settings page, "Default activation status" option is enabled or disabled?
![image](https://user-images.githubusercontent.com/16067358/65314716-c3e64d80-db8e-11e9

[2019-09-20 09:11] khouloudbelguith commented on #15609
@pantagru, there is something wrong with your modification `{$product.manufacturer_name}`.
You need to re-check this modification
Thanks!

[2019-09-20 09:14] khouloudbelguith commented on #9809
Hi @Janoush,

We are working on the product page to fix all issues.
https://github.com/PrestaShop/PrestaShop/issues/13891
Thanks!

[2019-09-20 09:15] namkynam commented on #15547
Hi, i installed with the language option in step one of Vietnamese. But the Firefox browser I am using has the default language of English.

Once installed, Prestashop is available in both languages.

I can provide a new database for you to install a completely new version of Prestashop on the cpanel I provided if you feel it is necessary.

Thank you for help!

[2019-09-20 09:34] matks opened #15629 "Bugs for v2.5.0 ps_emailsubscription, when hooked twice or on left column"
This is a summary of what is happening currently with different versions of the module and of prestashop.

## Module v2.3.0

When hooked on central column (ex: hooked on displayFooterBefore), it behaves correctly.

If it is hooked on the left column, the display is very dirty and it useless. You cannot use the "subscribe" button:
![Capture d’écran 2019-09-20 à 11 12 08](https://user-images.githu

[2019-09-20 09:35] matks commented on #15629
Now I'm going to test module v2.5 with PS 1.7.7, then I'll complete this issue

[2019-09-20 09:38] matks commented on #15425
I did a full summary of all possible configurations in https://github.com/PrestaShop/PrestaShop/issues/15629

[2019-09-20 09:51] khouloudbelguith commented on #15628
Hi @Numalama,

Since PrestaShop 1.7.3.0, we have introduced two hooks in the Product Catalog page in order to ease contributions on menus.
- `displayDashboardToolbarTopMenu` to add a new action to the top menu
- `displayDashboardToolbarIcons` to add new icons to the Dashboard block => will be available in every Dashboard modern pages.

For more details, you can follow this link: http://build.prest

[2019-09-20 09:51] #15628 closed, assigned to nobody

[2019-09-20 09:51] matks commented on #15629
## Module v2.5.0, installed on PS 1.7.7

### When hooked on central column (ex: hooked on displayFooterBefore)

Block behaves correctly.

### When hooked on left column (ex: hooked on displayLeftColumn)

Block behaves correctly.

### When hooked in both columns

Block behaves correctly.

### When hooked twice on the central column

Block behaves correctly.

[2019-09-20 09:52] sdwebdesign commented on #15626
@khouloudbelguith thank you!

Indexing = enabled (yes)
Default action status = No

[2019-09-20 09:52] pantagru commented on #15609
Which kind of check could I do if everywhere this code into product.tpl works fine (in home page as well as in other page), except in the category page, If I active the faceted search module? Also if I remove filters from the leftcolumn position, but I have the faceted search module active, in the category page the code doesn't work.
The only way to see the manufacturer code in the category page a

[2019-09-20 09:54] khouloudbelguith commented on #15626
@sdwebdesign, so after creating new products => they are disabled => did you enable them from the product list page?
![image](https://user-images.githubusercontent.com/16067358/65318139-06128d80-db95-11e9-8470-dd17fb7284d4.png)

Thanks!

[2019-09-20 10:35] khouloudbelguith commented on #15609
@pantagru, I think because the `manufacturer_name` not defined.
If you use `{$product.id_manufacturer}` => OK
![image](https://user-images.githubusercontent.com/16067358/65320813-9d2e1400-db9a-11e9-81de-cf9686a0aaeb.png)
I hope this helps you.
Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/),

[2019-09-20 10:35] #15609 closed, assigned to nobody

[2019-09-20 10:52] sdwebdesign commented on #15626
Creating products, the online offline switch in the product edit screen itself. So not change status in that list view.

[2019-09-20 10:54] khouloudbelguith commented on #14474
@BenTen, it is OK in my case also
https://drive.google.com/file/d/1QJ-8xStERray37r9H5R-22yDVc7pdcpx/view
Thanks!

[2019-09-20 10:56] khouloudbelguith commented on #15626
@sdwebdesign, thanks for your feedback.

Are you searching with the product's name?

Thanks!

[2019-09-20 10:57] sdwebdesign commented on #15626
Thanks! Yes.

[2019-09-20 11:33] khouloudbelguith commented on #15626
@sdwebdesign, I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1IuYdU2VaPCiwU0FD2RQUzbc5Xz-DRbGm/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-

[2019-09-20 12:11] JBWModules commented on #15302
Now this is even reported as an error in Google Search Console as there are even empty meta tags added.
![grafik](https://user-images.githubusercontent.com/47666330/65325914-7084f700-dbb0-11e9-99ad-446357cbd53d.png)

[2019-09-20 12:21] JBWModules commented on #15607
Ok, I figured it out. It's not a issue: The message occurs only if you once active the "debug" tab in Firefox. Guess it tries to find and load the map then in preparation of debugging activities but can't find it on the server (what is ok).
Please close this issue and thanks for your efforts.

[2019-09-20 12:37] #15607 closed, assigned to nobody

[2019-09-20 12:38] khouloudbelguith commented on #15607
@JBWModules, thanks for your feedback.
I close the issue, feel free to open a new one needed.

Thanks!

[2019-09-20 12:46] khouloudbelguith commented on #15547
@namkynam, I tried with PS1.7.6.1 (Vietnamese language & United states country).
I changed the employee's language to English.
I tried with Firefox to translate email => OK
https://drive.google.com/file/d/1gigfgzEeRCMHFuxk_F1eAwIRb9s30_ib/view

Thanks!

[2019-09-20 13:30] marionf commented on #15302
Hello @JBWModules

Could you make your pull request on PrestaShop repository ?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2019-09-20 13:33] JBWModules commented on #15302
I tried. It's my first pull request so I hope this will be fine.

[2019-09-20 14:08] ekomot opened #15633 "ContextErrorException in PrestaShop 1.7.6.0 when signing up for a new Customer account"
Hello,
Currently building up www.ekomot.ro based on the PrestaShop 1.7.6.0 platform. Just noticed that when a customer tries to create a new account, after completeting and submitting the sign up form the customer receives an error screen (ContextErrorException) despite the fact the account is actually created.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.ekomot.ro'
2. Click on

[2019-09-20 14:12] matks commented on #15633
@ekomot The error `escapeshellcmd() has been disabled for security reasons` is due to your local PHP config, not PrestaShop.

Functions can be disabled for any reason, security being a common one. escapeshellcmd has a number of serious potential issues, so it looks like it's been turned off for you, causing this error.

See https://github.com/PHPMailer/PHPMailer/issues/966 for workarounds

[2019-09-20 14:45] #15232 closed, assigned to Progi1984

[2019-09-20 15:40] ekomot commented on #15633
Thank you Mathieu. I have discussed with our hosting provider who had confirmed the escapeshellcmd is indeed disabled. He also has enabled it for us and then tried to create an account on ekomot.ro. The site has returned the following error, even with escapeshellcmd active:

(1/1) ContextErrorException

Warning: escapeshellcmd() has been disabled for security reasons

in MailTransport.php line 259

[2019-09-20 15:45] khouloudbelguith commented on #15633
Hi @ekomot,

I tried with your shop & it is OK now
https://drive.google.com/file/d/1fSVfNtOt66_-ZXYErHuo_B35aOko0cF1/view

Thanks to check & feedback.

[2019-09-20 16:46] Didweb opened #15635 "Bug in ps_facetedsearch v. 3.3.0 - Value of an attribute = Value of a feature"
Bug in the **ps_facetedsearch** module. **v3.3.0**

When characteristics and attributes with the same name are created.

The Features do not filter the results well.

**To Reproduce**

-  Create an attribute "color" with value "grey"
-  Create a feature "color" with value "grey"
-  Create a product with combination with attribute grey
-  Create another product with feature grey
-  Go in FO and sel

[2019-09-20 17:35] ekomot commented on #15633
Hi,
Indeed it is working as I changed the email settings from php to smtp. Using php was generating the error even after the hosting provider has changed the security settings.
Many thanks

[2019-09-20 19:50] matks commented on #15633
I'm happy to see it's now solved, but it's really strange that the hosting provider has changed it ... but php is still generating this error 😅you might want to double-check that. To err is human, the hosting provider might have changed the wrong configuration file 😉or maybe he need to restart the server after the modification, to make sure changes are acknowledged.

Anyway, I think we can close t

[2019-09-20 19:50] #15633 closed, assigned to nobody

[2019-09-20 20:16] matks commented on #14541
OK, now I think I made up my mind. I will go for the following:

### On Module side

Provide new functions for Modules, to be called in the `install()` and `uninstall()` steps:
[code]
Example of usage, from a Module:
[code]

These functions will manipulate 2 gitignored files in `app/` folder:
- third_party_bundles.yml
- third_party_bundles.php

Registering a bundle will add a new line into `third_

[2019-09-20 20:16] matks commented on #14541
@mickaelandrieu @zalexki I'd be happy to hear your feedback about this topic and I think you are interested in it 😄

[2019-09-20 20:33] matks commented on #15302
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15632/files

[2019-09-20 20:33] #15302 closed, assigned to nobody

[2019-09-20 20:33] matks commented on #15302
Looks like it was fine indeed 😉 thank you for your contribution !

[2019-09-20 20:34] matks commented on #15624
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15625

[2019-09-20 20:34] #15624 closed, assigned to nobody

[2019-09-20 22:11] omar2886 commented on #15635
Filter by price range shows no products after upgrading to this version, the other wilters work

[2019-09-20 22:13] mickaelandrieu commented on #15593
Hi @eternoendless,

Github provides a script to convert the HCL file to Yaml => https://help.github.com/en/articles/migrating-github-actions-from-hcl-syntax-to-yaml-syntax#about-the-new-yaml-syntax-for-github-actions

Regards,

[2019-09-21 02:00] namkynam commented on #15547
Yes, I have used many websites with Prestashop 1.7.6.x but I have never encountered this error.
This error is unique to the site I sent you.
PHP logs, Apache logs, debug mode, javascript console log are empty.
Could you please check directly on the site I sent you? Or you can use cpanel to install a completely new default version of PS and check.
Please help!

[2019-09-21 04:04] ekomot commented on #15633
Good morning,
Will check again for sure. What was strange was also the fact that whilst generating the error on the sign up page with the command shel disabled the site was sending emails ok from the orders menu, like changing the status of an order the info email to the consumer was sent ok. Anyway...now I noticed another problem...on mobile the site is not listing any product like the categories

[2019-09-21 10:33] AndreaC71 opened #15636 "ps_facetedsearch module. Products not showed if are not in default categories"
In ps_factedsearch module using last version 3.0.0 there is a bug on products showed.

Configuration example: https://prnt.sc/p9190i

If I set NO in "Include products from Subcategories" in the module configuration, the product is not showed in "Partecipazioni Matrimonio" category page even if the product is configured in the product. The reason is that "Partecipazioni Matrimonio" is not default c

[2019-09-21 13:49] PeeyushAgrawalWebkul commented on #14429
Hello @khouloudbelguith @Darmona

As the issue is related to the GDPR module that's why I have raised a pull request on GDPR repository.
Please check - https://github.com/PrestaShop/psgdpr/pull/64

If any changes need to done then please let me know.
Thanks.

[2019-09-21 13:49] gorkavidal opened #15637 "The Total in abandoned cart list is not correct in a multistore/multicurrency situation"
When you have a multistore with differents currencies, and you render the abandonded carts list, if you are in All shops context, the price is showed using the primary currency of the cart store, and the currency symbol is the currency used by the customer when he created the cart.

If you change the context to the store, then its ok.

[2019-09-21 14:53] roja45 opened #15638 "PS 1.7.6.1 breaks module admin controllers list buttons"
This code is new in 1.7.6.1, used to build the parameters for controller list buttons.

It is assuming the table id, is the table name with id_ in front of it.  This is not enforced in the controller, or in the object model classes, where you specify what the table id is.

So this code generates a PHP Notice should your table id be different to table name, and if debug mode is enabled, this cuases

[2019-09-21 23:39] ganiveteria opened #15639 "PS 1.7.6.1 Two states when creating orders with payment by transfer"
We have an issue with the transfer payment in version 1.7.6.1, which we cannot resolve:

When a customer accepts an order with payment by transfer, Prestashop creates a "Waiting for payment by bank transfer" order and then creates another "Payment remotely accepted" situation, leaving it there.

I guess it must be an error of the latest version 1.7.6.1, because in versions before 1.7.6 it did not

[2019-09-22 07:32] JuanjoSCu opened #15640 "By assigning a default supplier the product disappears from the index."
If a product is indexed and we assign a default supplier it disappears from the index, if we reconstruct the index and in the same product we make a preview it also disappears.

**To Reproduce**
Go to Shop Parameters -> Search -> Indexed -> see the number  (indexed product 5000/5000)
Go to Catalog -> Products -> enter an active product without assigned default supplier
Go to Options -> Suppliers
A

[2019-09-22 09:08] FlorentinGarnier commented on #15513
I wrote this little module https://github.com/FlorentinGarnier/fgorderstate
You can test it with a GET request like `http://localhost:8000/module/fgorderstate/webhook?order_id=4302&token=abracadabra&method=task_status_change` the token is really `abracadabra`

[2019-09-22 17:07] PierreRambaud commented on #15636
Duplicate of #14003

[2019-09-22 17:07] #15636 closed, assigned to nobody

[2019-09-22 18:08] fubax commented on #11548
Hello everybody
Excuse me for my English.
I have the same problem with PS 1.7.6 and really can't understand khouloudbelguith solution,but fortunately I solved this  with toggling "mod_security" option on Shop parameters>>traffic
Hope it can help others that may face similar problem

[2019-09-22 19:31] AndreaC71 commented on #14003
I cannot update from v.2 to v.3 due to this problem, when will be solved?

[2019-09-22 22:13] jocel1 opened #15641 "Breadcrumb is not properly computed for home category"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a home category
2. Check the source code.
3. You can see the breadcrumb contains two elements instead of one, and the second is null.

For example on https://demo-prestashop.prestarocket.com/2-accueil
"breadcrumb":{"links":[{"title":"Accueil","url":"https:\/\/demo-pr

[2019-09-23 05:08] Didweb commented on #15635
I have tried to eliminate the filter by prices and have Attributes and Characteristics with the same name produces the error (with the characteristics): It does not show products.

On the other hand, if I change the name of the characteristics if I perform the search.

[2019-09-23 06:51] Prem-lmx opened #15644 "How to remove vatnumber field address page in prestashop1.7"
Hi i'm work the prestashop1.7.5
How to remove vatnumber field address page in prestashop1.7

[2019-09-23 07:30] khouloudbelguith commented on #15140
Hi @Flower7C3,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-23 07:30] #15140 closed, assigned to nobody

[2019-09-23 07:31] khouloudbelguith commented on #15218
Hi @alshira,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-23 07:31] #15218 closed, assigned to nobody

[2019-09-23 07:32] khouloudbelguith commented on #15226
Hi @matteolavaggi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-23 07:32] #15226 closed, assigned to nobody

[2019-09-23 07:32] khouloudbelguith commented on #15124
Hi @fafa0659,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-23 07:32] #15124 closed, assigned to khouloudbelguith

[2019-09-23 07:33] khouloudbelguith commented on #15233
Hi @johanmeer,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-23 07:33] #15233 closed, assigned to nobody

[2019-09-23 07:34] khouloudbelguith commented on #15095
Hi @evsport,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-23 07:34] #15095 closed, assigned to nobody

[2019-09-23 07:59] prestamodule commented on #14765
any news ?

[2019-09-23 08:12] ghost opened #15645 "Prestashop ContextErrorException"
**Describe the bug**
I turn on maintaince mode and get this error. Help me please. What I need to do ?

**To Reproduce**

(1/1)                                     ContextErrorException                                                                  Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"?
--
in UnitOfWork.php line 2636
at ErrorHandler->hand

[2019-09-23 08:16] jolelievre commented on #14765
Hi @prestamodule,
sorry for the delay in my response. Ok, I get what you mean with specific product url and I see how it can be troublesome for the user.

Do you suggest to never use the canonical url of the product in listing then? And instead always use `product.url` in the templates? I wonder if we should have a setting for this behaviour or if we can force it for everyone.

Either way I guess

[2019-09-23 08:17] JBWModules commented on #15641
Duplicate to https://github.com/PrestaShop/PrestaShop/issues/15302

[2019-09-23 08:20] matks commented on #14765
It seems we're going back-and-forth on these SEO topics 😐maybe we should stop forcing one behavior or another one, and provide options to choose the behavior ? Provide a small configuration panel in "Trafic & SEO" BO page to choose which url to use in the listing ?

[2019-09-23 08:23] PierreRambaud commented on #15635
@omar2886 You need to rebuild price indexes.

[2019-09-23 08:26] prestamodule commented on #14765
@matks @jolelievre That could be an option, but as it's a very little modification into the template, and really specific, i don't think that this is necessary (and also, users will have to wait for 1.7.7...).
We do not think that there will be impact on SEO as the canonical URL is already exposed when you are on the product page.

[2019-09-23 08:31] khouloudbelguith commented on #15635
Hi @Didweb,

I manage to reproduce the issue with PS1.7.6.1 & ps_facetedsearch v2.2.1 / v3.0.6 / v3.3.0.
Also the same issue with PS1.7.5.2 & ps_facetedsearch v3.3.0.
https://drive.google.com/file/d/1F2LVf_aBbloEKnzQ1gcn6muaYz9gevC3/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
T

[2019-09-23 08:34] omar2886 commented on #15635
Hi @PierreRambaud & @khouloudbelguith
when rebuilding index it gives me an error, also if I first clear cache (indexation failed). I used to have this same error on a previous version of this module, I think a specific caching folder must be manually erased, but don't remember, can you remind me please?

[2019-09-23 08:34] khouloudbelguith commented on #15645
Hi @deivida19,

What is the exact version PHP did you use?
Is it PHP7.3?

Thanks!

[2019-09-23 08:36] Maofree opened #15646 "Order confirmation email without data"
Hi
I manage 15 websites but only in this case I get this error. In some cases the order confirmation email is without data inside the email.
Upgrading to 1.7.6.1 I thought to solve this problem (on 1.7.6 were missing only the products) instead on 1.7.6.1 all variables are without data
can you check please this type of error because it creates problems to customers?
I can give you the access of thi

[2019-09-23 08:39] khouloudbelguith commented on #15638
Hi @roja45,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15382 to fix the issue.
Your ticket is a duplicate of #15333
So, I close it.
Thanks!

[2019-09-23 08:39] #15638 closed, assigned to nobody

[2019-09-23 08:39] khouloudbelguith commented on #15638
Duplicate of #15333

[2019-09-23 08:47] khouloudbelguith commented on #15646
Hi @maofree,

This issue occurs when entering an email address in uppercase.
We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13386
So, I close it.
Thanks!

[2019-09-23 08:47] #15646 closed, assigned to nobody

[2019-09-23 08:47] khouloudbelguith commented on #15646
Duplicate of #13386

[2019-09-23 08:55] PierreRambaud commented on #15635
The cache is saved in database. Have you try to reinstall the module?

[2019-09-23 08:55] khouloudbelguith commented on #15644
Hi @Prem-lmx,

You need to navigate to your BO => International => Locations => Countries => edit your country => remove the `vat_number` from the Address format.
![image](https://user-images.githubusercontent.com/16067358/65412956-3aca5300-dde8-11e9-9dc4-a11c235d08b4.png)
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-09-23 08:55] #15644 closed, assigned to nobody

[2019-09-23 08:59] ccoltman opened #15647 "Can't add to cart from list/category pages"
**Describe the bug**
Items are added to the cart with 0 quantity if they require customization field.

**To Reproduce**
Steps to reproduce the behavior:
1. Add product to cart which requires customization field.
2. View cart contents.

**Additional information**
PrestaShop version: 1.7.6
PHP version: 7.1

I would like a notification/alert if a product requires customization before adding. Customer

[2019-09-23 09:01] maofree commented on #15646
Hi
this error ie solved?
from that page I see that it is already present

[2019-09-23 09:04] kubiak85 opened #15648 "My prestashop don't use method getLayout() in FrontController"
Hi I have Prestashop 1.7.5.2. My  prestashop don't using getLayout(). I woulde like to change layount in this function. This method  is not called ?

[2019-09-23 09:07] khouloudbelguith commented on #15641
Hi @jocel1,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & the develop branch.
@JBWModules, your PR is merged in develop
![image](https://user-images.githubusercontent.com/16067358/65413567-9f39e200-dde9-11e9-93b6-50bbb3318d59.png)
But, You can see the breadcrumb contains two elements instead of one, and the second is null.
![image](https://user-images.github

[2019-09-23 09:09] omar2886 commented on #15635
@PierreRambaud just did it, had to reconfigure it all, still get the same error during indexation. But! I found out that the filter by price (asc. desc.) works when you have applied first another filter from the facet menu, i.e. if you first filter a brand/condition/availability... then apply the filter by price, it works. Bizarre!
Still buggie and non functional, please release a new upgrade ASAP

[2019-09-23 09:15] maofree commented on #15646
hi
yes th customer has enter an email in uppercase
is there a fix to solve this problem without to wait a new release?

thanks

[2019-09-23 09:17] khouloudbelguith commented on #15647
Hi @ccoltman,

The `Customization` is required or not?
In my case, with PS1.7.6.1 => OK
I attached a screen record
https://drive.google.com/file/d/1kjjHl5QRtl04_S9rLuWM7acmZTnYVNdQ/view
Thanks to check & feedback.

[2019-09-23 09:22] matks opened #15649 "State input disappearing shorly after page is loaded"
On migrated page "Catalog > Brand & Suppliers > Suppliers create/edit action" **migrated** page, the "State" input disappears shortly after page has opened.

This is due to the fact that selected Country has no States, so javascript is supposed to hide this input (so the State drop-down is useless). However javascript loads a bit late and hides it a bit late, which leads to this visual bug.

[2019-09-23 09:23] matks commented on #15649
This issue is part of migration issue https://github.com/PrestaShop/PrestaShop/issues/10541

[2019-09-23 09:24] jolelievre commented on #14765
As @prestamodule I don't think the impact will be huge on SEO, if it's just reverting the change I'm sure we can integrate it in 1762, however if this needs to be managed via a configuration this needs to be validated by the product team
Which is why I'd like an input from them @PrestaShop/prestashop-product-team :)
Also @colinegin maybe we should validate the SEO impact with our SEO consultant.

[2019-09-23 09:24] matks commented on #15649
See video https://drive.google.com/file/d/106r7hStShrJYZw-yLGMxr6ftkKDdwEru/view

[2019-09-23 09:32] khouloudbelguith commented on #15648
Hi @kubiak85,

No, it is called.
If you create an override /override/controllers/front/listing/CategoryController.php with incorrect code, clear cache & in the FO => Go to any category => an exception is displayed.

[code]
![image](https://user-images.githubusercontent.com/16067358/65415328-71ef3300-dded-11e9-8b2b-e9c572e068e3.png)

Thanks to check & feedback.

[2019-09-23 09:56] khouloudbelguith commented on #15640
Hi @JuanjoSCu,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
https://drive.google.com/file/d/1Cgp20IWXFDXev2lcuWyR49te-uXQInBE/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-23 10:01] kubiak85 commented on #15648
@khouloudbelguith thank's

[2019-09-23 10:01] #15648 closed, assigned to nobody

[2019-09-23 10:03] khouloudbelguith commented on #15639
Hi @ganiveteria,

I did not manage to reproduce the issue with PS1.7.6.1 & the Bank transfer module v2.0.4.
https://drive.google.com/file/d/1gPJCn-89IUd6xTU8j-E8pK7y5mZ3XL2E/view
What is the exact version of Bank transfer module did you use?

Thanks!

[2019-09-23 10:13] matks commented on #15629
@marionf : As discussed with @eternoendless :

Module v2.5.1 (with PR PrestaShop/ps_emailsubscription#41 merged), installed on PS 1.7.6
- When hooked on central column (ex: hooked on displayFooterBefore)

Block behaves correctly, like module v2.3 ✅

- When hooked on left column (ex: hooked on displayLeftColumn)

Block behaves correctly although error messages are not highlighted, which is better t

[2019-09-23 10:13] #15629 closed, assigned to nobody

[2019-09-23 10:14] matks commented on #15629
Closing the issue as it is not relevant and there is https://github.com/PrestaShop/PrestaShop/issues/15425 for the bug that will be fixed

[2019-09-23 10:22] khouloudbelguith commented on #15637
Hi @gorkavidal,

I did not manage to reproduce the issue.
In the BO => Orders => Shopping carts => when All shops is selected
The price displayed is correct => same in the FO calculated in the currency selected.
I attached a screen record
https://drive.google.com/file/d/10VlWcAGmou0Jc6u_5v8_0uI8vUFcJbjS/view
Thanks to check & feedback.

[2019-09-23 10:25] khouloudbelguith commented on #15547
Hi @namkynam,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, t

[2019-09-23 10:26] JBWModules commented on #15641
True, it's still wrong in the JS code but with the PRs in development at least it's fixed in the visible part and meta tags relevant for SEO.

[2019-09-23 10:35] khouloudbelguith commented on #15513
@FlorentinGarnier, I tried with your module.
I have an exception when navigating to the URL
![image](https://user-images.githubusercontent.com/16067358/65419231-22613500-ddf6-11e9-93f3-51455212fdbe.png)
Thanks!

[2019-09-23 10:38] khouloudbelguith commented on #15648
@kubiak85, you are welcome!
Feel free to open a new one when needed.

Thanks!

[2019-09-23 10:39] khouloudbelguith commented on #15646
@maofree, sorry not yet.

[2019-09-23 10:45] khouloudbelguith commented on #15633
@ekomot, This issue is currently closed & different, can you open a new one with more information about your configuration

[2019-09-23 10:51] ganiveteria commented on #15639
In our case, we have discovered that it only happens in those orders that there is no stock available but it can be purchased.

In orders with products in stock, it works well, does not generate the incidence.

While the problem is resolved, we have activated "Hide this status in all customer orders" and deactivated the rest of the options in the "Payment remotely accepted" state, so that the inci

[2019-09-23 10:51] protoxide opened #15652 "Bulk action don't work inside States"
**Hi, when you are in backoffice isn't possible to change the bulk option (that work perfectly in Country section, sister page..) after selected states you want to change , always continue to ask same page, and don't permite to select any zone to move.

**To Reproduce**
Hi, when you are in backoffice, you go to international>localization>states
select states you want to change the zone
2. Click on

[2019-09-23 10:55] khouloudbelguith commented on #15652
Hi @protoxide,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9971
So, I close it.
Thanks!

[2019-09-23 10:55] #15652 closed, assigned to nobody

[2019-09-23 10:55] khouloudbelguith commented on #15652
Duplicate of #9971

[2019-09-23 11:02] khouloudbelguith commented on #15639
@ganiveteria, the status is wrong, it should be "On backorder (not paid)".
![image](https://user-images.githubusercontent.com/16067358/65420720-c8fb0500-ddf9-11e9-96ca-488700d89d97.png)
Thanks to navigate to the BO => Shop Parameters => Order Settings page => Statuses Tab & provide me a screenshot.

[2019-09-23 11:03] dennispw commented on #10405
Still present.

[2019-09-23 11:08] dennispw commented on #13957
Any update on this? Even the original ticket on the forge is over **2 years** old.

[2019-09-23 11:10] khouloudbelguith commented on #13957
Hi @dennispw,

Sorry not yet.
There are some major issues to solve before this one.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-09-23 11:18] 01park opened #15653 "Searching for a module in Quicksearch BO links to module catalog"
When searching for a module in BO - Quicksearch the module is found.

When clicking on the module, the module is not opened. Instead redirected to the module catalog.

Prestashop 1.7.6.1

<img width="964" alt="Screenshot 2019-09-23 at 12 14 18" src="https://user-images.githubusercontent.com/46492443/65421698-46c01000-ddfc-11e9-8fe1-8ddaf1b5054f.png">
<img width="1101" alt="Screenshot 2019-09-23 at

[2019-09-23 11:20] ghost opened #15654 "error during upgrade from 1.7.5.2 to 1.7.6.1 | ALTER TABLE ps_tab | Integrity constraint violation"
Executing: ALTER TABLE ps_tab CHANGE id_tab id_tab INT AUTO_INCREMENT NOT NULL
12:29:32 ERROR [console] Error thrown while running command "prestashop:schema:update-without-foreign". Message: "An exception occurred while executing 'ALTER TABLE ps_tab CHANGE id_tab id_tab INT AUTO_INCREMENT NOT NULL':
SQLSTATE[23000]: Integrity constraint violation: 1062 ALTER TABLE causes auto_increment resequenci

[2019-09-23 11:24] khouloudbelguith commented on #15653
Hi @01park,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-23 11:28] ganiveteria commented on #15639
we use the same version

Attached video of when there is stock of the product, then it works well.

https://drive.google.com/open?id=12S9zXai0pY6JA6hfNxm5YG43jjlOX5xM

Attached screen printing requested

![estados](https://user-images.githubusercontent.com/55640010/65421925-51cb6e00-de05-11e9-9f4c-48e776bd5c76.png)

Regards,

[2019-09-23 11:29] khouloudbelguith commented on #15654
Hi @pl2019,

What is the exact version of the 1-click upgrade did you use?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-09-23 11:34] khouloudbelguith commented on #15639
@ganiveteria, as I expected.
By default, the id of the status On backorder is 12 ( in your case "Payment remotely accepted")
Which is wrong.
Did you edit status from the database manually?
Those statuses cannot be deleted from the BO.
![image](https://user-images.githubusercontent.com/16067358/65422461-76701780-ddfe-11e9-8c41-cfa71049b96a.png)

Thanks!

[2019-09-23 11:38] pl2019 commented on #15654
Hi,

1-Click Upgrade
v4.9.0 - z PrestaShop

log.txt is empty

[2019-09-23 11:42] matks commented on #13957
This ticket could be 2 years old, 5 years old, 10 years old, this will change nothing. The roadmap is not a [FIFO](https://en.wikipedia.org/wiki/FIFO) todo-list. The roadmap is actually a backlog in which we enter all items and sort them by priority.

For example if tomorrow you open a ticket about a major bug or feature, it will be done before this ticket although this ticket would be much older.

[2019-09-23 11:44] pl2019 commented on #15654
1-click-upgrade
4.9.0

[2019-09-23 11:45] pl2019 commented on #15654
[upgrade-log.txt](https://github.com/PrestaShop/PrestaShop/files/3641947/upgrade-log.txt)

[2019-09-23 11:56] ganiveteria commented on #15639
We have changed the title in the Backoffice and the link to the out-of-stock template.

Thank you very much for the technical support.

Best regards

[2019-09-23 12:06] #15639 closed, assigned to nobody

[2019-09-23 12:24] khouloudbelguith commented on #15639
@ganiveteria, you are welcome!
Feel free to open a new one when needed.

Thanks!

[2019-09-23 13:10] gorkavidal commented on #15637
Hi @khouloudbelguith,
You need to have two currencies in one of the shops. Then, make the cart in the secundary currency of the shop for example. I attached a screen record so you can see it

https://drive.google.com/file/d/1WE-Ktbc7iCJfH4I4unpfcCUIe6vmg_oi/view?usp=sharing

Thanks to check & feedback.

[2019-09-23 13:17] xiaoyuan1998 opened #15655 "id-product_attribute 301 redirection"
**Describe the bug**

My product url  is :
https://maison-des-meches.fr/body-wave-ondule/15-504-meche-tissage-bresilien-remy-body-wave-100-cheveux-naturels.html

but in the html page, we can find:
in the head part:

link rel="canonical" href="https://maison-des-meches.fr/body-wave-ondule/15-meche-tissage-bresilien-remy-body-wave-100-cheveux-naturels.html"

link rel="alternate" href="https://maison

[2019-09-23 13:21] khouloudbelguith commented on #15655
Hi @xiaoyuan1998,

What is your exact issue?
https://drive.google.com/file/d/1VyRE4u8WkyfBIFdR7G7N4LWhOah3qFyC/view

Thanks!

[2019-09-23 13:28] LouiseBonnard commented on #15234
Hi @Progi1984, this region is currently under an Indian reorganization act that will come into effect on Octobre 31st. And the effect is its division into two parts: Jammu and Kashmir on the one hand, and Ladakh on the other hand. Perhaps we should wait until this date to be sure?

[2019-09-23 13:34] xiaoyuan1998 commented on #15655
hello, i update the issue, could you check it?

[2019-09-23 13:50] khouloudbelguith commented on #15637
@gorkavidal, it is OK
https://drive.google.com/file/d/1nzbjOc2T0umlVcExNRAOxOiyQD-WCg7K/view
![image](https://user-images.githubusercontent.com/16067358/65431450-6ada1c00-de11-11e9-9ebd-2f8c0a43a7c3.png)
![image](https://user-images.githubusercontent.com/16067358/65431473-73325700-de11-11e9-8ac4-75a58fbbc0b5.png)

Thanks!

[2019-09-23 13:59] FlorentinGarnier commented on #15513
Can you try with `WebHook` instead of `webhook` like that `http://localhost:8000/module/fgorderstate/WebHook?order_id=4302&token=abracadabra&method=task_status_change`it's strange it works on my desktop

[2019-09-23 14:01] khouloudbelguith commented on #15654
@pl2019, I did not manage to reproduce the issue after upgrade from PS1.7.5.2 to PS1.7.6.1 using the 1-click upgrade v4.9.0.
You have an issue with table Prefix_tab
Thanks to check the structure of this Table
![image](https://user-images.githubusercontent.com/16067358/65432388-fef8b300-de12-11e9-8e60-3a7617504853.png)

Thanks!

[2019-09-23 14:05] khouloudbelguith commented on #15513
@FlorentinGarnier, when I change order_id from `4302` to `9`.
I don't have any order with id = 4302.
I have this exception
![image](https://user-images.githubusercontent.com/16067358/65432711-9a8a2380-de13-11e9-893b-4c08f9414bf6.png)

Thanks!

[2019-09-23 14:13] khouloudbelguith commented on #15655
@xiaoyuan1998, could you please follow this comment: https://github.com/PrestaShop/PrestaShop/issues/14765#issuecomment-513286211
I think, it is similar.
Thanks to check & feedback.

[2019-09-23 14:22] xiaoyuan1998 commented on #15655
thanks for your reply,
 yes it is similar.
but could you check the socail network module get the  canonical url?  or we should integrate it in #14765

i find the codes in ps_sharebuttons.php :

**$sharing_url = addcslashes($this->context->link->getProductLink($product), "'");**

        if (Configuration::get('PS_SC_FACEBOOK')) {
            $social_share_links['facebook'] = array(

[2019-09-23 14:40] xiaoyuan1998 commented on #15655
i need share:
https://maison-des-meches.fr/body-wave-ondule/15-504-meche-tissage-bresilien-remy-body-wave-100-cheveux-naturels.html

but the button share:
https://maison-des-meches.fr/body-wave-ondule/15-meche-tissage-bresilien-remy-body-wave-100-cheveux-naturels.html

it makes 301

[2019-09-23 14:40] Traineau opened #15657 "Modern email theme translation and generation"
**Describe the bug**
On PrestaShop 1.7.6. I'm discovering the email system, and I don't understand how the modern theme works. For classic theme everything seems good, i can translate it, generate the templates etc...

But for the modern theme, If I want to generate the templates it only propose me to "erase" classic or the core, I can't "erase" the modern theme because he is not showing. And I re

[2019-09-23 14:41] gorkavidal commented on #15637
The primary currency in 1761 shop is TND? The issue is when the cart is not in the primary currency of the shop.

[2019-09-23 14:46] khouloudbelguith commented on #15637
@gorkavidal, Yes!
It is TND.
The Eur is the default currency of the first shop & I tried with TND which is not the primary currency of the shop.
![image](https://user-images.githubusercontent.com/16067358/65435994-4f730f00-de19-11e9-9195-4126805faf58.png)

Thanks!

[2019-09-23 14:50] gorkavidal commented on #15637
But in the 1761 shop, the primary currency has to be Euro, then do a cart in TND, and then there is the problem.

[2019-09-23 14:52] khouloudbelguith commented on #15655
@xiaoyuan1998, thanks for your feedback.
Ping @PrestaShop/prestashop-product-team what do you think?
Can we change the link of share buttons according to the combinations?

Thanks!

[2019-09-23 14:54] khouloudbelguith commented on #15637
@gorkavidal, that's exactly what I have done.
![image](https://user-images.githubusercontent.com/16067358/65436709-767e1080-de1a-11e9-9e5e-a9a45135c90c.png)
But, there is no issue.

Thanks!

[2019-09-23 15:00] gorkavidal commented on #15637
You place a new cart and is not issue? Ok thanks for all. I'll check why is happening.

[2019-09-23 15:01] khouloudbelguith commented on #15657
Hi @Traineau,

Here's a PR to Allow modifying email body contents.
Allow modifying email body contents
https://github.com/PrestaShop/PrestaShop/pull/14809
It will be added in the PS1.7.7.
Also, here's a tutorial for Mail Template in PrestaShop
https://github.com/jolelievre/tuto_mailtemplate

Thanks to check & feedback.

[2019-09-23 15:02] khouloudbelguith commented on #15637
@gorkavidal, yes!
It is OK.

Thanks!

[2019-09-23 15:25] Dupflo opened #15659 "Prestashop 1.7.6 Related Product and Images Thumbnails"
Hello, after update 1.7.6 I am unable to add related product to the product.

![image](https://user-images.githubusercontent.com/39828779/65438780-5bb19900-de26-11e9-9eb0-e8a61740f6ba.png)

When I am trying to select thumbnail for product variante, I also have an issue that does not allow me to see the images.

![image](https://user-images.githubusercontent.com/39828779/65438909-90255500-de26-11e9

[2019-09-23 15:25] Traineau commented on #15657
Oh and by the way I couldn't install the tutorial module you showed me :/

<img width="804" alt="Capture d’écran 2019-09-23 à 17 25 15" src="https://user-images.githubusercontent.com/20043825/65439235-20fc3080-de27-11e9-8c9c-cd0b6feac255.png">

[2019-09-23 15:28] khouloudbelguith commented on #15659
Hi @Dupflo,

I did not manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/1gIehWK6_6CcUyHBrnSxxpdEfsoFOQSYB/view
Hi @,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript con

[2019-09-23 15:33] khouloudbelguith commented on #15657
@Traineau, I attached a screen record.

https://drive.google.com/file/d/1lG4SirGlK2v0xPjQfvXnvz3IFgOnSSl7/view
here's a zip file of this module
[tuto_mailtemplate.zip](https://github.com/PrestaShop/PrestaShop/files/3642905/tuto_mailtemplate.zip)

Thanks!

[2019-09-23 15:38] Dupflo commented on #15659
I just fixed the error of the images because the update just remove small_default ! So my issue is only issue number 1

server setup and configuration : Apache/2.4.25 (Debian),  PHP 7.0.33-0
PrestaShop version (source) : **1.7.6**
debug mode report : **Even on debug mod I don't have access to report the website is working fine**

[2019-09-23 15:38] Traineau commented on #15657
Thanks @khouloudbelguith but as I said, it woks for me as well with the classic theme but not the "modern" one, are you able to do the same with the "modern" theme ?

[2019-09-23 15:52] khouloudbelguith commented on #15657
@Traineau, but modern is not a theme, it is mail template.
So, in the BO, you can see the core & the theme added from the BO => Design => Theme & Logo.

Thanks!

[2019-09-23 16:01] khouloudbelguith commented on #15659
@Dupflo, there is error in the console?
You need to enable debug mode in your store and debug request which is sent for product action in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. add a related product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see

[2019-09-23 16:03] Traineau commented on #15657
Ooooohh okey I was confused between classic theme and classic mail template. I understand now how the whole thing works, and the translation problem I had when changing theme seems to be resolved by https://github.com/PrestaShop/PrestaShop/pull/15139 .

Thanks @khouloudbelguith, closing this sorry for bothering you

[2019-09-23 16:03] #15657 closed, assigned to nobody

[2019-09-23 16:03] ccoltman commented on #15647
Yes I have them required, but from a category / list page it is added with 0 quantity. The products detail page is the **only** place you can add the customization field, but in areas like New Products, or Featured Products, the Add to Cart button exists and malfunctions.

[2019-09-23 16:06] khouloudbelguith commented on #15657
@Traineau, thanks!
Feel free to open a new one when needed.

[2019-09-23 16:06] Dupflo commented on #15659
Thank you ! Here is what I go

![image](https://user-images.githubusercontent.com/39828779/65442581-b8b04d80-de2c-11e9-8e90-60bd257fcf4b.png)

![image](https://user-images.githubusercontent.com/39828779/65442563-b221d600-de2c-11e9-8695-d2e2c908cb33.png)

I got Failed to Load Response Data for both "Response" and "Preview" tab

[2019-09-23 16:12] khouloudbelguith commented on #15659
@Dupflo, you have an error 404.
There is no error displayed in the Preview Tab when you click on the "the error message"?

Thanks!

[2019-09-23 16:14] khouloudbelguith commented on #15647
@ccoltman,

Are you using the click view action?
![image](https://user-images.githubusercontent.com/16067358/65443234-9961f200-de25-11e9-9f7c-e9de69a56764.png)

Thanks!

[2019-09-23 16:25] Dupflo commented on #15659
No error, I got something like my request is find in the database since I can find this code with the debug mod based on my "XL" research

[{"id":"8","name":"Ultra Nuit (XL) (ref: UN_U)","ref":"UN_U","image":"https:\/\/hannahpad.fr\/477-home_default\/serviette-hygienique-ultra-nuit-xl.jpg"},{"id":"9","name":"Super Ultra Nuit (XXL) (ref: SUN_U)","ref":"SUN_U","image":"https:\/\/hannahpad.fr\/515-ho

[2019-09-23 16:50] ccoltman commented on #15647
Ahh I see, it's possible that the theme I'm using adds its own Add to Cart for the category and list pages. Thanks for clarifying this.

[2019-09-23 16:54] FlorentinGarnier commented on #15513
@khouloudbelguith, I have changed filename, Pull the lasts commit from module and for information the bug is present when we remove invoice creation on `payment accepted` state.

I have tested it from docker environment with ps 1.7.7.0 and not with url rewrite.
So the correct url has change,

For exemple : `http://localhost:8001/index.php?fc=module&module=fgorderstate&controller=webhook&order_id=5

[2019-09-23 17:03] jolelievre commented on #15344
Hi @khouloudbelguith and @01park
I tried to reproduce the bug but everything works fine for me on Safari 13 MacOS 10.14

About the first video it seems that the whole page is broken (the elements are not aligned and tinymce editors are not initialized), so it seems an error or some assets not found stopped lots of js scripts.

[2019-09-23 17:13] jolelievre commented on #15657
Hi @Traineau,
indeed as @khouloudbelguith explained there is a difference between the shop theme and the email theme. It's even more confusing because each one has a "classic" theme by default. There's probably room for improvement in this section.

The issue you mentioned #15139 fixed some missing translation in our catalog, which made the new modern theme to have missing translations. However in

[2019-09-23 18:13] 01park commented on #15344
I can confirm that its now working for me with the latest version of Safari 13

[2019-09-23 21:37] lucmski opened #15661 "reactivesearch / facteted search"
Hi Guys,

Hope you are all well !

Do you have some professional faceted search like example above ?

### Screenshots
![alt text](https://github.com/lucmski/twint-search/raw/master/docs/screenshot1.png "Screenshot #1")

![alt text](https://github.com/lucmski/twint-search/raw/master/docs/screenshot2.png "Screenshot #2")

It is based on https://github.com/appbaseio/reactivesearch and elasticsearch

[2019-09-23 22:47] Refe313 opened #15662 "Products Combinations defect"
Hi,

**Describe the bug**

On a fresh new install,

In back-office, product list/product details, the products combination panel (overview and details) show a defect
The "Quantity" field of the 2nd combination row is missing when consulting the product (but creation is ok)
The defect only occurs on the 2nd row, and only on the quantity field, suggesting a broken db2 order when selecting combinatio

[2019-09-23 23:08] Refe313 commented on #15662
I must precise that i use a theme.

The bug does not occurs when using standard one.

Thanks again to all,

Bests regards

[2019-09-24 01:32] namkynam commented on #15547
Hi,
I have attached phpinfo() image
![phpinfo()](https://user-images.githubusercontent.com/19523750/65474382-cb1a9d80-dea5-11e9-8254-34e1e146f99c.png)

[2019-09-24 04:22] Prem-lmx commented on #15644
Thank you for your response..

On Mon, Sep 23, 2019 at 2:26 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-09-24 06:40] Dupflo commented on #15659
Do you think this issue can come from my PHP version ?

[2019-09-24 07:42] marionf commented on #15344
@01park so this issue can be closed ?

[2019-09-24 07:46] Nykolium opened #15663 "Validate.php & customer.php"
**Describe the bug**
in **

** after change line
 ` public static function isCustomerName($name)
    {
        $validityPattern = Tools::cleanNonUnicodeSupport(
            '/^(?:[^!<>,;?=+()\/\\@#"°*`{}_^$%:¤\[\]|\.。]|[\.。](?:\s|$))*$/u'
        );`
Nothing append

Same problem if i would change **custumer.php**
if i change by a other "validity" nothing append .

This change work well on 1.7.4 I

[2019-09-24 07:48] 01park commented on #15344
Yes

[2019-09-24 08:02] ioweb-gr opened #15664 "Invalid cart rules not getting removed from existing carts"
**Describe the bug**
When changing the conditions of a rule that was already applied to a cart. The cart is not updated correctly

**Expected behaviour**
Only the active rules should be applied to cart

**Steps To Reproduce**
1. Create 2 customer groups (e.g. b2b10%, b2b9%)
2. Create 2 cart rules
    10% discount for customer in b2b10% group
    9% discount for customer in b2b9% group
![image](htt

[2019-09-24 08:13] khouloudbelguith commented on #15661
Hi @lucmski,

We have a native module provided by PrestaShop: https://github.com/PrestaShop/ps_facetedsearch.
But also you can also find a lot of modules on our MarketPlace: https://addons.prestashop.com/en/search?id_category=510

Thanks!

[2019-09-24 08:13] #15661 closed, assigned to nobody

[2019-09-24 08:14] idnovate commented on #15640
Problem is that the product words are indexed, but the flag `indexed` from tables `ps_product` and `ps_product_shop` is overriden.

This is the sequence:
[code]
[code]

Value is correctly set to `1`, but then is executed this one:
[code]
[code]

And this one:

[code]
[code]

[2019-09-24 08:21] khouloudbelguith commented on #15662
Hi @Refe313,

Yes, in my case, I tried with PS1.7.6.1 => OK
Have you tried to contact the theme author about this issue?
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2019-09-24 08:25] fraria76 commented on #14663
Hi khouloudbelguith,

I inform you that I solved following the directions of "Alexandr Kamenev" from the prestashop.com forum
https://www.prestashop.com/forums/topic/997625-back-office-problem-with-prestashop-1760/?tab=comments#comment-3153799

Change line 121 in '/src/PrestaShopBundle/Controller/Admin/CommonController.php' file to:

// $routeName = $request->attributes->get('caller_route', $reque

[2019-09-24 08:28] marionf commented on #15635
@omar2886 Your issue seems different of this one, please open a new issue.
@Didweb Can you explain why your characteristics and attributes have the same name ?
I don't see the interest of doing this

[2019-09-24 08:46] khouloudbelguith commented on #15664
Hi @ioweb-gr,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1_N07c3tGzWWZjj22C0ni3-b3QuICMthH/view
Thanks to check & feedback.

[2019-09-24 08:59] ioweb-gr commented on #15664
Let me check also on 1.7.6.1 and get back to you

[2019-09-24 09:00] yannicka opened #15666 "Incorrect amount of ecotax when tax excluded"
**Describe the bug**

The final product price is incorrect when ecotax is enabled and the prices are tax excluded. It's not just a display problem. On the cart, the price is the same as displayed.

Maybe the price is incorrect with other configurations, I haven't tested it.

**To Reproduce**

Steps to reproduce the behavior:

1. Enable ecotax

2. Show prices tax excluded

3. Create a product with:

[2019-09-24 09:06] khouloudbelguith commented on #15664
@ioweb-gr, thanks!
Waiting for your feedback.

[2019-09-24 09:08] DoIB opened #15667 "Category Page : Canonical URL of the product wrong (!= canonical url on the product page)"
The variable Canonical URL of a product on the category page is different of the one on the product page.

Prestashop v 1.7.5.1

[2019-09-24 09:08] #15666 closed, assigned to nobody

[2019-09-24 09:12] Onliste opened #17102 "Private function can't be overrided"
https://github.com/PrestaShop/ps_categoryproducts/blob/84c308c249bfd8ecb710450614c4d291e8799d3a/ps_categoryproducts.php#L327

[2019-09-24 09:17] khouloudbelguith commented on #15667
Hi @DoIB,

We have made some fixes in the next versions PrestaShop.
https://github.com/PrestaShop/PrestaShop/pull/15013
https://github.com/PrestaShop/PrestaShop/pull/13664
https://github.com/PrestaShop/PrestaShop/pull/13009
Thanks to check & feedback.

[2019-09-24 09:17] yannicka commented on #9855
I've the same issue. What could I do?

When will the issue be solved?

[2019-09-24 09:19] lichesser opened #15668 "1-Click-Upgrade 1.7.6.0 -> 1.7.6.1: Module folders contain composer related files"
Hello,

I just did a PS 1.7.6.0 to 1.7.6.1 upgrade with the 1-click-upgrader.

Afterwards almost all module folders contained a new `composer.json` and `composer.lock` file and a `vendor` and `vendor/composer` folder with the same PHP files.
Some module folders also contain a new `Readme.md` file .

Is this expected? As those files are not present in the release zip file?
Can these files be delete

[2019-09-24 09:20] khouloudbelguith commented on #9855
Hi @yannicka,

The issue is added to our bug roadmap with Major severity.

Thanks!

[2019-09-24 09:23] ioweb-gr commented on #15664
Replicated on 1.7.6.1

![2019-09-24_12-18-18](https://user-images.githubusercontent.com/20220341/65499307-0f1d9a80-dec6-11e9-918d-b7482659c6d9.gif)

[2019-09-24 09:25] khouloudbelguith commented on #15668
Hi @lichesser,

Thanks for your report.
What is the exact version of the module 1-click upgrade did you use?
What are those exact modules?
after the upgrade of your shop, those modules are upgraded too?

Thanks!

[2019-09-24 09:27] ioweb-gr commented on #15664
Perhaps the difference is I didn't sign out first. But that's not realistic. The customer won't know when discounts change to sign out. They would always stay signed in during their session

[2019-09-24 09:28] colinegin commented on #11172
Unfortunately, after review of the available PR, we consider it does not fix the bug, so we put back the issue in to do.

[2019-09-24 09:30] #15647 closed, assigned to nobody

[2019-09-24 09:30] colinegin commented on #11352
Duplicate of #13829

[2019-09-24 09:30] #11352 closed, assigned to nobody

[2019-09-24 09:31] ioweb-gr commented on #15664
Noticing a bit further, the discount calculation is also wrong. 19% discount total for this customer should yield 6.7773 not 6.46. Shall I open a second issue for that problem?

[2019-09-24 09:31] khouloudbelguith commented on #15659
@Dupflo,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this w

[2019-09-24 09:33] Dupflo commented on #15659
Thank you I will test and let you know

[2019-09-24 09:33] khouloudbelguith commented on #15547
@namkynam, can you please provide a PDF file of your phpinfo file & also the equivalent to the phpinfo that reports PrestaShop Requirements.

Thanks!

[2019-09-24 09:34] khouloudbelguith commented on #15659
@Dupflo, thanks!
Waiting for your feedback.

[2019-09-24 09:42] Dupflo commented on #15659
@khouloudbelguith here is what I got

![image](https://user-images.githubusercontent.com/39828779/65500980-6caee880-dec0-11e9-98b3-9da17d91fb3c.png)

[2019-09-24 09:44] colinegin commented on #15574
Unfortunately, after reviewing the PR, we have considered it does not fix the issue, so we put it back on the To do column and are going to work on it asap.

[2019-09-24 09:51] DoIB commented on #15667
Look like the default category of the product is not part on the canonical url variable on the product listing.

[2019-09-24 09:56] jf-viguier commented on #15574
ok @colinegin and what's the plan to fix it ?

[2019-09-24 10:13] khouloudbelguith commented on #15513
@FlorentinGarnier, I uploaded a new module after changes.
I tried with a new link, but the same issue.

[fgorderstate.zip](https://github.com/PrestaShop/PrestaShop/files/3646626/fgorderstate.zip)

https://drive.google.com/file/d/1xxMykY1Z1C1TSkw_UEsjsFl0cnTqZgHH/view

Thanks!

[2019-09-24 10:23] khouloudbelguith commented on #15667
@DoIB,

So, you are in the Category page, for example, the default category of the product is not part of the canonical URL variable?
![image](https://user-images.githubusercontent.com/16067358/65503829-a3373400-debd-11e9-89b4-b81c32c16a0f.png)

Thanks!

[2019-09-24 10:23] lichesser commented on #15668
Hello,

- What is the exact version of the module 1-click upgrade did you use?
  - 1-Click Upgrade (`autoupgrade`) module is version: 4.9.0

- What are those exact modules?
  - The list of modules that now have the above mentioned folders and files is too long to reproduce here. Of all modules installed ~70 it seems 65 have those files/folders now.

- after the upgrade of your shop, those modules

[2019-09-24 10:26] matteolavaggi opened #15669 "PS 1.7.6 Virtual Product not work JS button and add to cart no submit product"
**Describe the bug**
Create a new virtual product, assign a file.
Open the product on FO.
Try to play with all the javascript driven button (language, currency) not work.
Try to add to cart, cart are loaded and shown empty.

**To Reproduce**
https://www.sixrace.it/it/manuali/81806-manuale-officina-2015-ktm-450-sx-f-factory-edition.html

**Additional information**
PrestaShop version: 1.7.6.1
PHP ve

[2019-09-24 10:27] lichesser commented on #15668
I also just noticed there now is a `docs` folder in the root directory of the installation and a new `config/services/webservice/` folder which contains some `*.yml` files

[2019-09-24 10:53] DoIB commented on #15667
No. The url of the product on the listing is different of the url of the page (redirection).

When i try to change it with the canonical url in the theme, the url is still wrong.
So when i click on the product, i have a redirect (hurtful for SEO).

The url of the product seems to be always align with the current category.
When we try to change with the canonical url of the product, the variable ca

[2019-09-24 11:05] ioweb-gr commented on #15664
To troubleshoot I traced everything and noticed that the function `CartRule:autoRemoveFromCart` is never executed during checkout reload. So I added temporarily these functions to `FrontController:init` function and `FrontController:postprocess` function
[code]

And as expected my cart rules were refreshed correctly when I reloaded the page. However the solution is not this simple.

Cart rules sho

[2019-09-24 11:06] khouloudbelguith commented on #15664
@ioweb-gr, thanks for your clarifications.
I manage to reproduce the issue.
In fact, after changing the Group access of a customer & return to the FO without logging out => issue reproduced.
https://drive.google.com/file/d/1EYigVCM5f0fd2VAPghcOB9Vyga3Gvs2K/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do s

[2019-09-24 11:13] khouloudbelguith commented on #15668
@lichesser,

This is a normal behavior => here's a PR: https://github.com/PrestaShop/PrestaShop/pull/14953 of adding this folder.

the docs folder exists in PS1.7.6.0 also.
You can download new PrestaShop v1.7.6.0 & check all folders.

About the ps_linklist module, the version downloaded with PS1.7.6.1 & PS1.7.6.0 is v3.0.3.
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/composer.lock#L3969

[2019-09-24 11:20] khouloudbelguith commented on #15669
Hi @matteolavaggi,

I tried with your shop & it is OK
https://drive.google.com/file/d/1lPl89N5B3WNcBwxnWgcyqE9b4AM3rqHz/view

Thanks!

[2019-09-24 11:30] khouloudbelguith commented on #15667
@DoIB, I did not manage to reproduce the issue with PS1.7.6.1.
It is the same Product URL
https://drive.google.com/file/d/1-gYMM7Ex2ZSsSuOGMwbVaQSXFS_rvcq6/view
Can you please navigate to the BO => Shop Parameters => Traffic & SEO => check the Schema of URLs
![image](https://user-images.githubusercontent.com/16067358/65507992-11ccbf80-dec7-11e9-9e34-f8f82aa351e0.png)

Thanks!

[2019-09-24 11:31] matteolavaggi commented on #15669
And also with IE
![image](https://user-images.githubusercontent.com/24798703/65508026-8a377e80-decf-11e9-8036-aa2916d84e7c.png)

[2019-09-24 11:32] matteolavaggi commented on #15669
i'm not able to open language and currency selector and to add product in cart O_O

[2019-09-24 11:35] khouloudbelguith commented on #15669
@matteolavaggi, it is well working on me.
I tried with FireFox v64.0.2.
https://drive.google.com/file/d/1KPy7d_orZnl20j1WePRekSWlW3FLEZEU/view
Thanks!

[2019-09-24 11:39] matteolavaggi commented on #15669
Ok but i've try on 3 different computer, also now on a mac, with same result. Have you reloaded the page 1 time and try again?

I've try to reset the cache related to that page with no change.

Browser cache is cleared , computer changed, operating system changed, browser changed, there is no way to have it working starting from the italian version or france version.

[2019-09-24 11:41] DoIB commented on #15667
Yeah, it's the same schema

[2019-09-24 11:50] pl2019 commented on #15654
CLOSED

[2019-09-24 11:50] #15654 closed, assigned to nobody

[2019-09-24 12:02] DoIB commented on #15667
In some case, you have a product with multiple category but one default category.

The shop seems to display an product url with the current category (in it) on the product listing of the associated category (instead of one an only one url for all the shop). The url need the default category on it (instead of the current category)

[2019-09-24 12:02] DoIB commented on #15667
Otherwise, it's hurtfull for SEO :)

[2019-09-24 12:09] xiaoyuan1998 commented on #14765
i have same issue,  and +  the social network share the bad url without attribute
https://github.com/PrestaShop/PrestaShop/issues/15655

Thanks

[2019-09-24 12:14] TristanLDD commented on #10712
Yes let's use the 500 error page for the moment :)

[2019-09-24 12:17] Refe313 commented on #15662
Hi,

Thanks for your answer,

I'm currently in discussion with the theme creator,

Seems to be a CSS problem

I may link here a description of the resolved issue if i get enough info to be revelant.

Thanks again,

Bests regards,

[2019-09-24 12:34] khouloudbelguith commented on #15654
@pl2019, Greate!
Feel free to open a new one when needed.

Thanks!

[2019-09-24 12:35] juliendombret opened #15670 "Total percentage reduction incorrect on cart"
I have an article with a price including VAT
I apply a promotion of 5%
Total tax is not good

1. Create product with  59.9€ tax incl. (5.5% tax)
2. Create a 5% basket rule for this product
3. Add product to cart
4. See error : 1product : 59.9€ - Reduction : 3€ - Total : 56.91€ (59.9-3=56.91)?

**Screenshots**
![2019-09-24_14h13_29](https://user-images.githubusercontent.com/6337822/65511661-f8803f0

[2019-09-24 12:36] khouloudbelguith commented on #15669
@matteolavaggi, so strange!
Your shop is well working.
I tried with a Mac also => Ok
https://drive.google.com/file/d/1o0o0V7wSOq7pNCd7nUKDyq5OxIa6zexO/view
Thanks!

[2019-09-24 12:46] khouloudbelguith commented on #15667
@DoIB, I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
With PS1.7.5.2
The URL of the product in the category page (the default or no) is the same
![image](https://user-images.githubusercontent.com/16067358/65512523-49d90000-ded1-11e9-9415-1903774327d4.png)
![image](https://user-images.githubusercontent.com/16067358/65512584-6d03af80-ded1-11e9-9fd3-ecab5e690a8e.png)

PS1.7.6.1.

[2019-09-24 12:57] khouloudbelguith commented on #15513
@FlorentinGarnier, thanks!
Now, it is OK.
I tried with the develop branch & Ps1.7.6.1 => Same behavior.
In the payment section => only one line is displayed
![image](https://user-images.githubusercontent.com/16067358/65513451-3169e500-ded3-11e9-98c6-4ad851cac1b3.png)
Which is correct.

Thanks!

[2019-09-24 13:13] khouloudbelguith commented on #15670
Hi @juliendombret,

The method of calcul is not correct in your case.
Total products - discount = 59.9 - 5% = 56.905 => rounded => 56.91
Total od discount = 59.9 - (59.9 -5%) = 2.99 => rounded => 3

Thanks!

[2019-09-24 13:15] khouloudbelguith commented on #15659
@Dupflo, did you installed any custom module before this issue occurs?

Thanks!

[2019-09-24 13:27] Matt75 opened #15671 "Allow employee to choose their own avatar"
**Is your feature request related to a problem? Please describe.**
Since employee cannot choose a theme variation, it becomes hard to know which employee is logged. The only one distinctive element is employee avatar.
![employee-top](https://user-images.githubusercontent.com/5262628/65513261-3e8ad200-dedb-11e9-8984-0fef8c5c4cb1.png)

Currently employee avatar still rely on third party service link

[2019-09-24 13:34] khouloudbelguith commented on #15659
@Dupflo, during the upgrades, are there any errors occurred?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`
Thanks!

[2019-09-24 13:40] khouloudbelguith commented on #15671
Ping @PrestaShop/prestashop-product-team

[2019-09-24 13:51] Dupflo commented on #15659
@khouloudbelguith Here is the log
[log.txt](https://github.com/PrestaShop/PrestaShop/files/3647471/log.txt)

[2019-09-24 13:58] Max84 opened #15672 "Improve webservice with batch processing"
**Is your feature request related to a problem? Please describe.**
Webservice is granular, so, if you want to add or update a lot of data, you've to do an HTTP request for each elements. It can be very very time consuming with large amount of data.

**Describe the solution you'd like**
Webservice XML data are like this:
`<prestashop>
<product></product>
</prestashop>`

So you can send throw one ht

[2019-09-24 14:02] khouloudbelguith commented on #15669
@matteolavaggi, I tried with mobile phone & it is well working
[videoplayback.mp4.zip](https://github.com/PrestaShop/PrestaShop/files/3647573/videoplayback.mp4.zip)
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev) and try to run those command lines to remove the cache:
[code]
Thanks to check and feedback.

[2019-09-24 14:25] khouloudbelguith commented on #15592
Hi @GuimDotCom, @matteolavaggi,

I did not manage to reproduce the issue with Ps1.7.6.1.
https://drive.google.com/file/d/1B6bkjW_zS3hpspVYm-_kIhvuJ_f_ub15/view
Here's my server configuration
![image](https://user-images.githubusercontent.com/16067358/65520378-5f552680-dedf-11e9-8002-06a288539e32.png)
Here's my default configuration
[default.conf.txt](https://github.com/PrestaShop/PrestaShop/files/

[2019-09-24 14:27] khouloudbelguith commented on #15672
Hi @Max84,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-09-24 14:32] jansass opened #15673 "HTML-Entities in Checkout-Form"
In last step of Checkout-Form a client can send a message attached to the order (and attached to client service messages). This form encodes special chars like öäüÖÄÜß to HTML-entities like &ouml; etc. Other forms are not affected, just in cart, last step textarea #delivery_message.

Reproducable with an 1.7.5 and even 1.7.6.1

[2019-09-24 14:35] khouloudbelguith commented on #15673
Hi @jansass,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9726
So, I close it.
Thanks!

[2019-09-24 14:35] #15673 closed, assigned to nobody

[2019-09-24 14:35] khouloudbelguith commented on #15673
Duplicate of #9726

[2019-09-24 14:36] jansass commented on #9726
Yes, bug is known for +12 months now..

[2019-09-24 14:45] matteolavaggi commented on #15669
i've a script that delete the var/cache folder, nginx and apache and mod page speed cache and restart nginx and apache. i've run it with no difference.
Also i've run the command using the console bin and the command you provide to me, with no luck.

I dont use in production the smarty cache NOR the CCC NOR the cache of prestashop due to poor performance so all is disable.

![image](https://user-im

[2019-09-24 14:46] matteolavaggi commented on #15669
FRONT OFFICE AND BACK OFFICE DOWN . on a production website is awesome....

[2019-09-24 14:47] Matt75 commented on #14520
Already fixed 🥳

[2019-09-24 14:47] #14520 closed, assigned to nobody

[2019-09-24 14:47] khouloudbelguith commented on #15669
@matteolavaggi, it could be a permission issue.
You need to give the right permissions to your PrestaShop folder.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-09-24 14:49] matteolavaggi commented on #15669
How i can enable debug mode on a 500 server error ?! its possible that using a prestashop command to clear cache brake down a website .. this is f*** crazy.

[2019-09-24 14:52] khouloudbelguith commented on #15659
[2019-09-13 01:12:16] SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max key length is 1000 bytes" ["exception" => Doctrine\DBAL\Exception\DriverException { …},"command" => "prestashop:schema:update-without-foreign","message" => """  An exception occurred while executing 'CREATE UNIQUE INDEX admin_filter_search_id_idx ON ps_admin_filter (employee, shop, control

[2019-09-24 14:53] matteolavaggi commented on #15669
I'm shocked. The console script you send to me complete delete all the root HTDOCS FOLDER of my web site. !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2019-09-24 14:55] khouloudbelguith commented on #15669
@matteolavaggi, you can edit the file config/defines.inc.php & replace
[code]
By

[code]

Those commands are used to clear the cache.

Thanks!

[2019-09-24 14:56] matteolavaggi commented on #15669
@khouloudbelguith maybe you have not read my answer, the script console file you ask me to run COMPLETE delete the htdocs folder. Remove the prestashop folder and all other folder of other website

[2019-09-24 14:56] ghost opened #15674 "Free shipping for domestic customer"
Hi,
Please consider to allow Free shipping only for domestic customers.
So if store country is set to ex. Poland then additional option in Carrier settings will allow (or not) free shipping only for domestic customers.

Thanks!

[2019-09-24 14:58] khouloudbelguith commented on #15669
@matteolavaggi, those commands are used to clear the cache only.
For more details, you can follow this link: https://symfony.com/doc/3.3/console/usage.html

Thanks!

[2019-09-24 15:03] matteolavaggi commented on #15669
Dear, 1 second before all ok. Launch the command you can see above and the directory root of web server was deleted. Its related, now i need to fix 300GB of data. damn prestashop

[2019-09-24 15:07] khouloudbelguith commented on #15669
@matteolavaggi, all developers use this command, but this is a first time that clearing the cache can delete all folders.
You need to check again what is the exact issue of deleting all these folders.
Or you can check your host about this issue.

Thanks!

[2019-09-24 15:10] matteolavaggi commented on #15669
i will ask my host "hi, maybe you delete the root folder of my server the exact second i run a command on bin console prestashop" ... ok. Thanks a lot. now i need to fix more problem than this virtual product that not work.. hope to get back asap. will never use any other time a prestashop buggy console script in my life.

[2019-09-24 15:13] khouloudbelguith commented on #15669
@matteolavaggi, thanks!
Waiting for your feedback.

[2019-09-24 15:17] Dupflo commented on #15659
It seems looking good

![image](https://user-images.githubusercontent.com/39828779/65525017-1b6a1d80-deef-11e9-9c61-6dc8d30e18ef.png)

[2019-09-24 15:18] matteolavaggi commented on #15669
Maybe you think that you are in right but i will suggest to deeep inspect the 1.7.6.1 console, this is not a fun if there is only 1% of possibility that this script delete the root folder from wich is launched i thinik you need to check 30 times. i've launch the shell script you send to me and after the 2 green confirmation i've open the web page and found the 500 error, and the root folder DELETE

[2019-09-24 15:26] khouloudbelguith commented on #15659
@Dupflo, but you have all these errors related to this table.
[code]
The upgrade is not well working is your case.

Thanks!

[2019-09-24 15:31] guigplt opened #15675 "Faceted search : Availability filter"
Hi,
When I select "In stock" in Availability filter, out of stock products (with allow order configuration) are also displayed.
They should not be displayed, or better, add another value "On order" when stock = 0 and allowed order.

PrestaShop version: 1.7.5.1
PHP version: 7

Regards.

[2019-09-24 15:33] LouiseBonnard commented on #15234
I will as soon as it is enacted, it is not available for now. :-)

[2019-09-24 15:34] khouloudbelguith commented on #15675
Hi @guigplt,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #14518
So, I close it.
Thanks!

[2019-09-24 15:34] #15675 closed, assigned to nobody

[2019-09-24 15:35] khouloudbelguith commented on #15675
Duplicate of #14518

[2019-09-24 15:53] khouloudbelguith commented on #15674
Hi @PrestaShark,

Can you please provide us a description of your issue?
- You need to create a cart rule with free shipping only for a group of customer or you need to add a new option in the BO => Carriers page?

Thanks!

[2019-09-24 16:06] matteolavaggi commented on #15669
[proxy_fcgi:error] [client 127.0.0.1:35564] www.sixrace.it AH01071: Got error 'PHP message: PHP Warning:  require_once(/var/www/htdocs/www.sixrace.it/config/../vendor/autoload.php): failed to open stream: No such file or directory in /var/www/htdocs/www.sixrace.it/config/autoload.php on line 26\nPHP message: PHP Stack trace:\nPHP message: PHP   1. {main}() /var/www/htdocs/www.sixrace.it/index.php:

[2019-09-24 16:19] Dupflo commented on #15659
I finaly found the issue came for **ajax_products_list.php**

line 26 : @trigger_error('Using '.__FILE__.' **to make an ajax call is deprecated since 1.7.6.0 and will be removed in the nex major version. Use a controller instead**.', E_USER_DEPRECATED);

I found on google a version to (credits from https://www.sunnytoo.com/forums/topic/megamenu-product-block#post-52015)

Thank you Prestashop... no

[2019-09-24 16:57] Didweb commented on #15635
@marionf
Initially, my client was not very clear on how to assign characteristics and variety of products.

And provisionally they assume duplicate options. Then notice the strange behavior of the pro faceted seeker. Until I realized that it was because the names were the same.

This may be the case, for example:
Some products have color combinations and other products do not have combinations, th

[2019-09-24 18:10] wzzly commented on #9833
@khouloudbelguith is anyone working on this as far as you know? It's a real problem as I have different prices on all shops.

[2019-09-24 18:14] davidecarnovale commented on #14733
Hi,
I have a similar issue in the front translation. When I try to modify some translation I see this error :

![Schermata 2019-09-22 alle 15 49 30](https://user-images.githubusercontent.com/55761512/65538437-9dfed700-df07-11e9-9573-7a906587d963.png)

I tried to follow the instruction and when try to export the translation I meet 500 ERROR
![Schermata 2019-09-24 alle 20 00 44](https://user-images.

[2019-09-24 18:21] DevAmine opened #15676 "Price slider not working [ps_facetedsearch v. 3.3.0]"
**Describe the bug**
The price slider filter is not working, when I try to filter a specific category using the price slider
It does not refresh the results, the URL gets updated.
When I refresh the page the results shows correctly.

**Additional information**
PrestaShop version: 1.7.4.2
PHP version: 7.0.33
ps_facetedsearch v. 3.3.0

[2019-09-24 20:33] lgfocus opened #15677 "Losing cart after submitting to PayPal"
I have a customer that made an order and has paid thru PayPal.  The store did not receive a receipt from PayPal that the order has been paid for.  Not only do I not have a copy of this in the store, but I have no records of the customer being at the store on that day, no orders and no abandoned cart.  This is the second time this has happened with this customer.

Has this happened to anyone else?

[2019-09-24 20:54] Jtrev94 opened #15678 "White screen with "Testing" text appears when creating a cart rule"
**Describe the bug**
I'm trying to create a new cart rule, but when I save a white screen appears with just "Testing" as response. I activate debug mode and "non native modules" mode; but the problem persists.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog > Cart rules'
2. Click on 'Add new'
3. Fill all the information, with Highlight = No, Partial use = No, No restrictions a

[2019-09-24 21:01] pollat commented on #14733
I have the same bug with translations of backoffice in Prestashop 1.7.6.0

[2019-09-24 21:02] pollat commented on #15268
I have the same bug with translations in Prestashop 1.7.6.0

[2019-09-24 22:42] arkenzos commented on #14733
I have the same bug with translations of backoffice in Prestashop 1.7.6.1

wt., 24 wrz 2019 o 23:01 pollat <notifications@github.com> napisał(a):

--
ENKOM SERWIS - SKLEP KOMPUTEROWY
76-200 Słupsk
Starzyńskiego 6-7/2
Galeria Handlowa Podkowa

email: biuro@enkom.pl
www sklep:  enkom.pl
www serwis: enkom.slupsk.pl
tel:      732-740-430

[2019-09-24 23:11] BombrCZE opened #15679 "I'm getting error 500 while changing the status of one order in the Prestashop 1.7.x"
I'm getting error 500 while changing the status of one order in the Prestashop 1.7.x backoffice. However, when I set _PS_MODE_DEV_ to true it starts working without any error! Any hint?

[2019-09-24 23:41] AxxusWhoami opened #15680 "Apache module detection in latest version (1.7.6.1) 1x7"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Advance configuration > Webservices'
2. Click on '....'
3. Scroll down to '....'
4. Do not detect Apache module mod_auth_basic and doesnt work authentication. I try with another version on the same server with same configurations and its works.

**Screenshots**
If a

[2019-09-25 04:21] levothanhhong opened #15681 "MemCache - Can't select Caching System (All are disabled)"
**Describe the bug**
VPS Server detail:
OS: Centos 7 64bit
PS version: 1.7.6.1
Xampp fo Linux version: 7.2.22 / PHP 7.2.22
Cache System: i'm used command 'yum install memcached' to install cache system
when i check with command 'service memcached status' -> running (-l 127.0.0.1 U 0)/port: 11211

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' Performances'
2. Scroll down to 'Caching'

[2019-09-25 06:45] matteolavaggi commented on #15669
I've restored all the backup, late this morning i will launch again the command on a test machine to diagnose the root cause of the delete problem.

Now still with the same virtual product issue not yet solved.

I've cleared the post for bettere reading of other people.

[2019-09-25 07:11] FlorentinGarnier commented on #15513
@khouloudbelguith , can you try to put state "Payment Accepted" before lauch the link ?

[2019-09-25 07:50] khouloudbelguith commented on #15250
Hi @adu42,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-25 07:50] #15250 closed, assigned to nobody

[2019-09-25 07:50] khouloudbelguith commented on #15251
Hi @yuxiayuzhou,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-25 07:50] #15251 closed, assigned to nobody

[2019-09-25 08:05] khouloudbelguith commented on #15680
Hi @AxxusWhoami,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15385
So, I close it.
Thanks!

[2019-09-25 08:05] #15680 closed, assigned to nobody

[2019-09-25 08:05] khouloudbelguith commented on #15680
Duplicate of #15385

[2019-09-25 08:08] khouloudbelguith commented on #15678
Hi @Jtrev94,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2019-09-25 08:15] sarahdib opened #15682 "Cart rule isn't created when a voucher is added in email subscription"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the back office-> modules-> email subscription
2. Add a voucher
3. Go to Cart Rule
4. See that the Cart rule isn't created

**Additional information**
PrestaShop version: 1.7.6

[2019-09-25 08:26] khouloudbelguith commented on #15681
Hi @levothanhhong,

I did not manage to reproduce the issue with PrestaShop v1.7.6.1.
I followed those links to install Memcached
https://www.itzgeek.com/how-tos/linux/debian/how-to-install-memcached-on-debian-9.html
https://serversforhackers.com/c/installing-php-7-with-memcached
![image](https://user-images.githubusercontent.com/16067358/65582978-48adde80-df76-11e9-9a67-8de829787979.png)

And it

[2019-09-25 08:29] khouloudbelguith commented on #15679
Hi @BombrCZE,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-09-25 08:36] khouloudbelguith commented on #15677
Hi @lgfocus,

I did not manage to reproduce the issue with PS1.7.6.1 & PayPal v4.5.0.
![image](https://user-images.githubusercontent.com/16067358/65583837-d3430d80-df77-11e9-8b7d-f642a0c8751c.png)
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with

[2019-09-25 08:36] #15677 closed, assigned to nobody

[2019-09-25 08:44] khouloudbelguith commented on #15676
Hi @DevAmine,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1 & ps_facetedsearch v3.3.0.
What is the exact language & currency did you use in the FO?
Could you please click on the button "Index all missing prices" & "Rebuild entire price index", clear cache, check & feedback.

[2019-09-25 08:52] namkynam commented on #15547
Hi, can you please get all of phpinfo here: http://hht-group.com.vn/checkfl/PHP-setting.php ?

I dont know how to export it to pdf file.

Thank you!

[2019-09-25 08:53] khouloudbelguith commented on #15513
@FlorentinGarnier, yes I tried with this also & it is OK
In my screen record at 01:23
https://drive.google.com/file/d/19jSda5yKCbI-B1GRJqFSs0oUJm3uvFGi/view
Thanks!

[2019-09-25 08:58] khouloudbelguith commented on #15669
@matteolavaggi, Great!
Your issue is strange!
I tried with the same link provided, but it is OK.
same link provided, but it is OK.
https://drive.google.com/file/d/1n8lZGcaPgT8mROc-fVs32VzJ8AVqKtFl/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-09-25 08:59] khouloudbelguith commented on #14733
Hi @davidecarnovale,
This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2019-09-25 09:00] khouloudbelguith commented on #15268
Hi @pollat,

This issue is added to our bug roadmap.
Thanks for your understanding!

[2019-09-25 09:01] khouloudbelguith commented on #9833
Hi @wzzly,

Sorry not yet.
There are some major issues to solve before this one.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-09-25 09:07] FlorentinGarnier commented on #15513
@khouloudbelguith the state of your order is `awaiting bank wire payment` but in my use case the order state is `payment accepted` that create a payment row without invoice. And when we use the module, create another payment row for making invoice.

https://drive.google.com/file/d/136ClA-DFIVHWSZUuKEbh6o6qxOPPC7Z1/view?usp=sharing

[2019-09-25 09:18] matteolavaggi commented on #15669
`

(1/1) ContextErrorExceptionNotice: Undefined variable: release_date
--
in estimateddelivery.php line 1807
at Estimateddelivery->printProductSpecialDate(object(DeliveryProduct), 'tpl')in estimateddelivery.php line 1677
at Estimateddelivery->showEstimatedDelivery(array('product' => object(ProductLazyArray), 'smarty' => object(SmartyDevTemplate), 'cookie' => object(Cookie), 'cart' => object(Cart),

[2019-09-25 09:20] khouloudbelguith commented on #15513
@FlorentinGarnier,

How did you do that?
According to your screen record, the invoice is enabled on your status: payment accepted
![image](https://user-images.githubusercontent.com/16067358/65587591-04bed780-df7e-11e9-9e76-17496afbeea3.png)

Thanks!

[2019-09-25 09:21] matteolavaggi commented on #15669
`[proxy_fcgi:error] [client 127.0.0.1:42170] www.sixrace.it AH01071: Got error 'PHP message: PHP Notice:  Undefined offset: 4 in /var/www/htdocs/www.sixrace.it/classes/tax/TaxCalculator.php on line 124\nPHP message: PHP Stack trace:\nPHP message: PHP   1. {main}() /var/www/htdocs/www.sixrace.it/index.php:0\nPHP message: PHP   2. Dispatcher->dispatch() /var/www/htdocs/www.sixrace.it/index.php:28\nP

[2019-09-25 09:23] khouloudbelguith commented on #15659
@Dupflo, Thanks for your feedback.
Since it is fixed.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-09-25 09:23] #15659 closed, assigned to nobody

[2019-09-25 09:24] matteolavaggi commented on #15592
The server config you paste is for 1750, maybe is not the one you use for the 1.7.6.1? it has /1750/ path.

I dont tink is a server related issue, because this only happen on product edit, and start after 1.7.6.1 update for me (there is no problem on 1.7.3 and 1.7.4) .

[2019-09-25 09:26] matteolavaggi commented on #15592
This is the url link of product edit:

`https://www.sixrace.it/admin638mhuhr8/index.php/sell/catalog/products/81807?_token=QNDcdHQ7r_JxGOQJRSyLwncXOq5kKYHTE8x71PQhgpo`

And this is the one called:

`https://www.sixrace.it/admin638mhuhr8/index.php/security/compromised?uri=http%253A%252F%252Fwww.sixrace.it%252Fadmin638mhuhr8%252Findex.php%252Fsell%252Fcatalog%252Fproducts%252F81807%253F&_token=YS3dB

[2019-09-25 09:30] khouloudbelguith commented on #15669
@matteolavaggi, you have some errors with the `pagecache` & `estimateddelivery` modules.
As they are not provided by Prestashop, we can't do anything with this.
You should contact the module's author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-09-25 09:34] khouloudbelguith commented on #15592
@matteolavaggi, in your BO => Shop Parameters => General page, the "Enable SSL on all pages" option is enabled?
![image](https://user-images.githubusercontent.com/16067358/65588824-17d2a700-df80-11e9-9e29-8e2714b600ea.png)

Thanks!

[2019-09-25 09:35] guigplt commented on #14518
Hi,
Do you know when this issue will be fixed ?

Regards.

[2019-09-25 09:35] matteolavaggi commented on #15592
Yes the option is enabled, but the first switch is buggy on my installed version:
https://drive.google.com/file/d/1CEPkeTlZlljiwUwAqgolgPsBsu9F4gIm/view

btw web site is full https

[2019-09-25 09:36] BombrCZE commented on #15679
I was cleared a cache but problem is still same :-(

On Wednesday, September 25, 2019, khouloudbelguith <notifications@github.com>
wrote:

--
asistent poslance a náměstka hejtmana Ústeckého kraje
Lukáš Šimčík

[2019-09-25 09:39] khouloudbelguith commented on #15679
@BombrCZE, could you please try to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

Thanks!

[2019-09-25 09:40] khouloudbelguith commented on #15592
@matteolavaggi, need to access to this screen record.
Thanks!

[2019-09-25 09:42] matteolavaggi commented on #15592
![image](https://user-images.githubusercontent.com/24798703/65589508-74868f80-df89-11e9-988f-b20e31f3a9eb.png)
CLick on the test refresh the page but the swith are not shown. BTW site is full https Front and Back

[2019-09-25 09:49] khouloudbelguith commented on #15592
@GuimDotCom, so, in your case, in the BO => Shop Parameters => General => this option SSL is not enabled?
https://drive.google.com/file/d/1PNI1ev8Y36Y1pMEPpwtg_UGCi5pHo-jz/view

Thanks!

[2019-09-25 09:50] FlorentinGarnier commented on #15513
@khouloudbelguith,

I have deactivated Invoice Mail attachement and reproduce the bug.

1. Create an order with status Payment accepted
2. the payment is created
3. Fire the module link and a new payment row with invoice is created.

https://drive.google.com/open?id=1kx4JkcKvMx5pYgOfnRts6LrJpttJEagT

[2019-09-25 09:51] josef-var opened #15683 "Refund products with customization not wokring"
Any order containing a product with customization will not allow refunds with 'An invalid quantity was selected for this product.' error.

Problem is line 943 of AdminOrdersController.php

$customization_quantity should be $customization_quantity['quantity']

[2019-09-25 10:03] matteolavaggi commented on #15592
i think i've fixed the problem.

Is related to the way wich prestashop and php check the connection type. I'm not expert but there is many way to check this, many header and many variables.

My nginx reverse proxy setup (nginx > apache) act as a ssl proxy terminator and setup a lot of variable to make all work great, but they are not enough:

![image](https://user-images.githubusercontent.com/2479

[2019-09-25 10:09] khouloudbelguith commented on #15663
Hi @Nykolium,

It is OK for me with PS1.7.6.1.
I replaced this
[code]
![image](https://user-images.githubusercontent.com/16067358/65591682-d0024e80-df84-11e9-81a8-6878578a19bc.png)

By this
[code]
In the FO, when I try to create a new custom with Firstname & Lastname test123 => It is OK
https://drive.google.com/file/d/1jDVpGrvhVLBzEA4As0kawJEgfzCxDxHT/view

In your BO => Advanced Parameters => Per

[2019-09-25 10:11] khouloudbelguith commented on #15592
@matteolavaggi, Great!
Thanks for your feedback.
@GuimDotCom, any news?

Thanks!

[2019-09-25 10:14] DRFrank89 opened #15684 "Problems with ps_categoryproducts v.1.0.4 ps_viewedproduct v1.2.1"
Hi,
I state that I read **all the proposed solutions** with those who in the past had the same problem as me.

I have two official prestashop modules installed: Products in the same category (**ps_categoryproducts v.1.0.4**) and Block products seen (**ps_viewedproduct v1.2.1**).

Both modules show me the name and price of the **first product only**, the subsequent products have only the image.

Ap

[2019-09-25 10:28] matteolavaggi commented on #15592
This can also be done using mod_rpaf, but seem that there is a bug in the last release that does not accept the config syntax.

https://github.com/gnif/mod_rpaf/issues/58

[2019-09-25 10:46] khouloudbelguith commented on #15513
@FlorentinGarnier, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
Steps to reproduce the issue:

1. Edit the status "Payment acceted" as described in the screenshot
![image](https://user-images.githubusercontent.com/16067358/65593849-4bfe9580-df89-11e9-9bc5-57f94b0591d6.png)
3. Create a new order, the first status created is "Payment acceted" [you can

[2019-09-25 10:47] khouloudbelguith commented on #15513
Related to https://github.com/PrestaShop/PrestaShop/issues/12588

[2019-09-25 10:57] levothanhhong commented on #15681
Hi @khouloudbelguith
Thanks for responding, it seems that this is not a issue of Prestashop
I don't install memcache**d** extension for lampp on CentOS
Thanks & best regards.

[2019-09-25 10:57] #15681 closed, assigned to nobody

[2019-09-25 11:01] khouloudbelguith commented on #15681
@levothanhhong, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-09-25 11:02] Bonobomagno commented on #14541
Making a module mutate core file, are you sure?
Why don't move the bundle file compilation on cache generation/refresh?
(just proc cache refresh on module install, and i think that prestashop actually just do this)

If i didn't missread, module config.yml files are reading in this way. Who care if is slow, if you are doing this only one in a time? This would make easy to remove the bundle on unins

[2019-09-25 11:04] khouloudbelguith commented on #15683
Hi @josef-var,

In the BO => Customer Service =>  Merchandise Returns  => Did you enabled the "Enable returns" option?
Did you used " Return products" or "Partial refund"?
![image](https://user-images.githubusercontent.com/16067358/65595366-91709200-df8c-11e9-866d-7b8d1a2a3334.png)

Thanks!

[2019-09-25 11:09] khouloudbelguith commented on #15547
Hi @namkynam,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-09-25 11:09] #15547 closed, assigned to nobody

[2019-09-25 11:20] matks commented on #14541
@Bonobomagno The idea is good but I'm a bit worried 🤔 because then we "hack" the container cache role.

The cache, if I'm not wrong, is supposed to be a compiled version of the configuration in order to avoid to re-compile it everytime. It's just an optimization capability added on top of the bundle/services resolution system provided by Symfony.

Following your idea, it means transforming the cac

[2019-09-25 11:39] GuimDotCom commented on #15592
The option SSL is enabled and there was no problem in https before upgrade.

Conclusion of @matteolavaggi is what I said in my first post, seems that since last upgrade, Prestashop check $_SERVER['https'] but nginx don't use/send this variable.

[2019-09-25 11:48] matteolavaggi commented on #15669
Only virtual product does not work, same error are shown also on other product page but with no bug on button or add to cart

[2019-09-25 12:11] Nykolium commented on #15663
Hi ,
thx for reply ,
But it doesn't work if only modify **validate.php.**
Have to modify firstname.php (and for me, lastname.php)
Thx for reply.

[2019-09-25 12:16] LouiseBonnard commented on #15406
@rdy4ever, I admit this wording sounds a bit frightening but it might be there for legal purposes... I'll check with the legal team before and let you know! From my point of view, _Place order_ can be a nice alternative. :-)

[2019-09-25 12:17] DevAmine commented on #15676
Hello @khouloudbelguith
The language I am using is French and the currency is MAD (Moroccan dirham)
After selecting a price range the URL gets updated to **?q=Prix-MAD-7915-16905** , When I refresh the page after applying a price filter the results showing correctly.
I have tried to index the price & rebuild the index, clear the cache. It does not solve the problem
Thank you!

[2019-09-25 12:30] FlorentinGarnier commented on #15513
@khouloudbelguith ,

Very good !!!, for information I have managed to reproduce with webservice and the bug appear with WS. I have Tested with your earlier WS code.

Thanks

[2019-09-25 12:36] matks commented on #15574
We go deeper in the code 😉
@PierreRambaud just assigned himself

[2019-09-25 12:38] rdy4ever commented on #15406
@LouiseBonnard I’m pretty sure you cannot force anyone to pay the order just because they use your check-out - legally speaking. Untill the very last moment when they actually pay for the merchandise (cash, card , bank wire, etc) they are at the liberty to default on the payment and/or refuse to receive the order. And if they have any doubt about their rights, that text on the button will only mak

[2019-09-25 12:50] matks opened #15687 "Missing vendor/ folder in .gitignore for native modules"
**Describe the bug**
A lot of native modules such as https://github.com/PrestaShop/ps_wirepayment or https://github.com/PrestaShop/welcome/blob/master/.gitignore do not gitignore the vendor folder. Consequently after a `composer install` the git status of the repo shows unstaged composer files.

**To Reproduce**
Steps to reproduce the behavior:
1. Git clone https://github.com/PrestaShop/welcome
2.

[2019-09-25 12:51] matks commented on #15687
Found by @marionf

[2019-09-25 13:00] khouloudbelguith commented on #15684
Hi @DRFrank89,

I tried with PS1.7.6.1 fresh install & it is OK.
I attached a screen record
https://drive.google.com/file/d/1XFkwj5GC4lhe-GkbDiil_pwp65esCdym/view

Thanks!

[2019-09-25 13:06] JulienNDKgroup opened #15688 "Faceted Search : display "name" instead of "public_name" for attributes filters"
Hi,

The faceted search module is using the column "name" instead of the column "public_name" when we use a attribute as a filter. Is it possible to change it or we have to rename the attribute ?

I declare the issue here because there is no answer on the forum for this [topic](https://www.prestashop.com/forums/topic/999188-faceted-search-display-filter-as-public-name-not-bo-name/) .

Thanks in ad

[2019-09-25 13:12] khouloudbelguith commented on #15676
@DevAmine, It is ok for me
https://drive.google.com/file/d/1FjQBSpkO15hgCYU05m9zcrMJFV1OJtkw/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-09-25 13:13] khouloudbelguith commented on #15663
@Nykolium, no, in my case, I changed only the class validate.php & it is OK.
Thanks!

[2019-09-25 13:15] khouloudbelguith commented on #15592
@GuimDotCom, so it is a server issue.
In my case, I tried with PS1.7.6.1 & it is OK.

Thanks!

[2019-09-25 13:17] matteolavaggi commented on #15592
Is not a "server issue", PS can use multiple system to check if its under https or not. 90% of the modern setup use proxy, maybe is a small improvement that can better handle the compatibility of the next release.

[2019-09-25 13:32] jf-viguier commented on #15574
Thanks @PierreRambaud : you've got all my support.

[2019-09-25 13:33] khouloudbelguith commented on #15688
Hi @JulienNDKgroup,

I manage to reproduce the issue with PS1.7.6.1 & OS1.7.5.2 & ps_facetedsearch v3.3.0.
The public name is not displayed
![image](https://user-images.githubusercontent.com/16067358/65605440-03eb6d00-dfa1-11e9-905b-a7f69bea9207.png)
![image](https://user-images.githubusercontent.com/16067358/65605651-63497d00-dfa1-11e9-99a5-a65aca91786c.png)

I tried with ps_facetedesarch v2.2.1

[2019-09-25 13:36] khouloudbelguith commented on #15592
@matteolavaggi, thanks for your feedback.

Ping @PrestaShop/prestashop-product-team what do you think? can we add this improvement?

Thanks!

[2019-09-25 13:39] matks commented on #15574
<img src="https://centralbay.michiganumc.org/wp-content/uploads/sites/5/2019/06/Brace-Yourselves-X-is-Coming.jpg">

[2019-09-25 13:40] LouiseBonnard commented on #15435
Is there something I've missed in the process to activate a language in PrestaShop? I can see that Tagalog and Uzbek are listed in the two files, yet they are not available in the software (neither through the localization pack nor the International > Translations).
🤔

[2019-09-25 13:53] khouloudbelguith commented on #15669
@matteolavaggi, I tried with another pc & it is Ok on your shop.
It is well working!
The product is well added to the shopping cart & I can switch languages & currencies.
How it could be a prestashop js & it is ok for me?

Thanks!

[2019-09-25 14:00] matks opened #15689 "Change tax rule country setting to "all" is broken and instead of "all" we get "Zimbabwe" value"
**Describe the bug**
In
if you select 1 country that this tax rule group applies to and modifies this country to "all", the result of the operation is that the country gets converted to Zimbabwe instead of "all"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO, International > Tax > Tax rule groups
2. Modify one existing Tax rule group, with only one country impacted
3. Edit the coun

[2019-09-25 14:01] matks commented on #15689
This bug has been found while migrating the page to Symfony by @RaimondasSapola and will be fixed by the migration PR https://github.com/PrestaShop/PrestaShop/pull/15611

[2019-09-25 14:04] arouiadib opened #15690 "file_get_contents_curl unable to load tab_modules_list_17.xml"
In a sudden and unpredictable way, backoffice in my local environement is not accessible and the error is:

I can access the remote file by entering it in browser address bar, so I guess it is not an internet timeout problem.

I tried to delete all the xml files in 'config/xml' and refresh but to no avail. They are regenerated but the error remains. I have also chmod the 'config' directory to 777.

[2019-09-25 14:08] khouloudbelguith commented on #15687
Same issue
![image](https://user-images.githubusercontent.com/16067358/65608559-57ac8500-dfa6-11e9-898e-9928ba868b59.png)

Thanks!

[2019-09-25 14:14] khouloudbelguith commented on #15689
Hi @matks,

I have the same issue with PS1.7.6.1 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/65609161-3730fa80-dfa7-11e9-832c-e418dd5ad894.png)

Thanks!

[2019-09-25 14:19] khouloudbelguith commented on #15690
Hi @arouiadib,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com

[2019-09-25 14:28] matks commented on #15690
How long does it take to load it ? Here the error comes because it does not answer in less than 5 seconds. If on your network, the file com is not reachable in less, the error happens

[2019-09-25 14:32] JulienNDKgroup commented on #15688
Thanks for your fast answer !

I tried to fix it, but it seems to be inside one of the core php file in the module ( Like ps_facetedsearch.php or another one). We don't want to override one of those file just for that because for futures upgrades.

Best Regards

[2019-09-25 14:41] colinegin opened #15692 "[READ ME] - Instructions for using this template"
This project template is set up in List View with sections and four Asana-created custom fields to help you track customer feedback. Most teams use feedback projects when they're launching something new, or trying to figure out what to prioritize next based on customer needs.

We’ve provided some example content in this template to get you started, but you should add tasks, change task names, add

[2019-09-25 14:41] colinegin opened #15693 "[EXAMPLE TASK] - "I'd love if I could zoom in on the email""

[2019-09-25 14:42] colinegin opened #15694 "[EXAMPLE TASK] - "App crashes on Android when I double click""

[2019-09-25 14:50] colinegin opened #15695 "[EXAMPLE TASK] - "The search feature is very useful""
Comment: "Before the redesign, I could easily access the search feature, but now it is hidden, and it's pulling up less relevant results. It seems unusable now."

Customer name: Donna Pescatello
Organization: Apollo Enterprises

[2019-09-25 14:50] Miestre opened #15696 "Change link for all images"
Hello
i used a theme for a new site, but the product images do not load.
where i can change the link for all product images?

![image](https://user-images.githubusercontent.com/55487556/65612365-0bfcda00-dfac-11e9-9989-79074f9a52df.png)

**Additional information**
PrestaShop version: 1.7
PHP version: N/A

[2019-09-25 14:53] ioweb-gr opened #15697 "[Idea] Add an option in the cart rule to Apply discount on the original subtotal or not"
**Improvement**
Apply a discount on the original subtotal is the choice we need. From what I see in other systems this is usually a dropdown which says

Apply on:
[Original Subtotal]
[Subtotal]

**Describe the bug**
I've created two rules that give a discount 8% and 2%. The amount in my cart is 57.35 so the discount should be 5.735  and the total should be calculated as

57.35 - 5.735 = 51.615

On

[2019-09-25 14:53] josef-var commented on #15683
We need to have a negative invoice, which is not possible with partial refund. We always use "Return products". The change in AdminOrdersController.php does solve the problem.

Thank you!

[2019-09-25 14:54] khouloudbelguith commented on #15696
Hi @Miestre,

Can you please try to navigate to the BO => Design => Images Settings => Click on the "Regenerate thumbnails" button, check & feedback.
![image](https://user-images.githubusercontent.com/16067358/65612729-af4def00-dfac-11e9-843d-b5aa065095ca.png)

[2019-09-25 14:54] ioweb-gr commented on #15697
If anyone could point me to where I should begin to debug this I could probably offer more insight to why this is happening.

[2019-09-25 15:02] khouloudbelguith commented on #15683
@josef-var, I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1DEo3ueujG5pVnaAeraPJvwPPKlM-I7XC/view
Thanks to check & feedback.

[2019-09-25 15:07] Miestre commented on #15696
after some time gives me gateway time out, i have 5000 products:

![image](https://user-images.githubusercontent.com/55487556/65613858-86c6f480-dfae-11e9-8a6f-5c32953859f0.png)

[2019-09-25 15:11] Miestre commented on #15696
now the site don´t load

[2019-09-25 15:13] khouloudbelguith commented on #15696
@Miestre, it is a Gateway timeout.
Try to select a type of images & & regenerate this type.
Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks!

[2019-09-25 15:17] khouloudbelguith commented on #15697
Hi @ioweb-gr,

I think it could be a good improvement if we add this option in the cart rule conditions.
What do you think? it is an improvement & not a bug

Thanks!

[2019-09-25 15:18] Miestre commented on #15696
i can´t acess the BO and i cant see the .htacess file

[2019-09-25 15:19] khouloudbelguith commented on #15696
@Miestre,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-09-25 15:22] colinegin commented on #10028
hello @khouloudbelguith ,

do you think we can close this issue ?

[2019-09-25 15:23] #15695 closed, assigned to nobody

[2019-09-25 15:24] #15694 closed, assigned to nobody

[2019-09-25 15:24] #15693 closed, assigned to nobody

[2019-09-25 15:24] #15692 closed, assigned to nobody

[2019-09-25 15:28] colinegin commented on #14698
@khouloudbelguith IMO this issue has been fixed with 1761, can you confirm we can close this issue ?

[2019-09-25 15:29] khouloudbelguith commented on #10028
Hi @colinegin,

Sorry, I don't know, this is an old issue from 2016, maybe we need ask developers or maybe @Quetzacoalt91

[2019-09-25 15:29] colinegin commented on #13160
@LouiseBonnard do you think this is a translation issue ?

[2019-09-25 15:33] khouloudbelguith commented on #14698
Hi @colinegin,

No, I manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/1h0hNpneVqLhk9NLAzHD5JNYrNGUhWC4C/view
Thanks!

[2019-09-25 15:37] colinegin commented on #10762
➤ marionf commented:

Hello @kpodemski
Yes, we are aware of this and we talked about it with @alegout & @rGaillard  when we added stock verification at each step but unfortunately for some technical reasons, we can't add this verification at the last step
@rGaillard if you want specify the technical reasons

[2019-09-25 15:37] LouiseBonnard commented on #13160
@colinegin, the string seems to be part of the GDPR module, therefore it is not foundable in Crowdin since the module comes with its own translations.

[2019-09-25 15:45] colinegin commented on #13160
Thanks ! I've added it to the gdpr repo and close this issue :)

[2019-09-25 15:45] #13160 closed, assigned to nobody

[2019-09-25 15:53] arouiadib commented on #15690
Thank you @matks for this good point, it takes more than 10 seconds. When I searched in code I found that the default curl_timeout is 5. I will try to modify it for dev environement.

Again thanks.

[2019-09-25 15:54] #15690 closed, assigned to nobody

[2019-09-25 15:56] khouloudbelguith commented on #15690
@arouiadib, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-09-25 15:57] arouiadib commented on #15690
@khouloudbelguith Thank you :)

[2019-09-25 16:08] LouiseBonnard commented on #15406
@rdy4ever, @marionf, it turns out we can modify this wording, I've checked the legal team and it is not mandatory; the only requirement is that the client must be aware of his/her obligation to pay but it doesn't have to be written inside the button, it can be displayed in the terms & conditions pages. But that's to be precised on a merchant's side, not ours.

I suggest _Place order_ then! If it s

[2019-09-25 16:13] arouiadib commented on #15690
Here is how I made my dev backoffice work based on discussion above.( This is just a workaround for PS developers working on slow internet connections).

In `classes/Tools.php`, search the two lines:
[code]

and give higher values to `curl_connection_timeout` and `curl_timeout`.

I hope it helps.

[2019-09-25 16:14] maofree commented on #15406
Hi
however this problem on that button can be real but it appears at the end of the stpes, the problem for me is at the begin, because now this checkout has increased the number of customers that finish their registration at the first step adding an account with only name, surname, email and password, without addresses. These steps should be visible to avoid doubts and fears

bye

[2019-09-25 16:21] colinegin commented on #12590
@LouiseBonnard do you think this is a translation issue ? IMO this is the translation we have set for french. What do you think ?

[2019-09-25 16:28] LouiseBonnard commented on #15406
Dear @maofree, thanks for the issue, we did take note of your remark, be sure we will study and discuss it in the next few days, and keep you posted!

[2019-09-25 16:30] colinegin commented on #11388
I can't reproduce this issue. Instead I have a error 500, but then if I refresh i am actually in the configuration page of the module. Do you have the same behaviour @khouloudbelguith ?

[2019-09-25 16:32] ioweb-gr commented on #15697
Keep in mind the discount value is still calculated wrong

[2019-09-25 16:39] LouiseBonnard commented on #12590
@colinegin, not at all because it is correctly translated in Crowdin. I think there is a kind of bug on this entry because I have the string "Module manager" in the Crowdin catalog while I should have the string "Module Manager". And that might explain why it is not translated in the back office.

I remember having seen another remark about it but I can't find where... 🤔

[2019-09-25 16:41] colinegin commented on #9721
It seems there is actually no check of the email password combination. I've logged with a fake email address with no error. Do you reproduce it @khouloudbelguith ?

[2019-09-25 19:06] BombrCZE commented on #15679
I was tried and nothing :-( But today I found out, that I´m getting error
500 only when i change a status on shipped. And I´m getting error 500 when
i want to go on modules in backoffice....

On Wed, Sep 25, 2019 at 11:39 AM khouloudbelguith <notifications@github.com>
wrote:

--
asistent poslance a náměstka hejtmana Ústeckého kraje
Lukáš Šimčík

[2019-09-25 19:06] Nykolium commented on #15663
@khouloudbelguith
sur you are in 1.7.6.1 ?
very strange , because I loose 1 day to search th problem , lol.
I try with safari or chrome cache clear, try to always recompile smarty... idem

And after made a other only for test, new prestashop on NAS,
try change valide no way, finaly seach the character from Dreamwaver an find Firstname.php.
What is the difference ?  I'm curius, i'm sur for you it w

[2019-09-25 19:34] Nykolium commented on #15663
Hum, maybe I use only number no ,alpha character.

[2019-09-25 20:27] photinia73 opened #15699 "tag cellspacing don't work"

[2019-09-25 20:32] photinia73 commented on #15699
I formated table with tag cellspacing. In the BO is OK, but in the FO any effect ((
![image](https://user-images.githubusercontent.com/50954519/65637248-8a796c00-dfec-11e9-93cd-76464c30f398.png)
and FO
![image](https://user-images.githubusercontent.com/50954519/65637284-9b29e200-dfec-11e9-972b-4366c7f5d157.png)
no any space between rows

[2019-09-25 20:57] photinia73 commented on #15699
Find. Work with border-collapse: collapse | separate | inherit
Please close

[2019-09-26 06:57] metineren opened #15700 "psaddonsconnect Module Upgrade action fails"
**Describe the bug**
psaddonsconnect Module Upgrade action fails

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Module Manager > Updates'
2. Click on 'Upgrade psaddonsconnect (Tips and Updates module) Module '
3. See error

**Screenshots**
<img src="https://i.imgur.com/KKnkzQQ.png">

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 5.6

[2019-09-26 07:24] ChMat opened #15701 "[PHP Notice #8] Undefined index: id_image (classes/Product.php, line 6003)"
**Describe the bug**
After updating a product and its combinations through the API (PUT requests all get http 200 success responses), a GET request on that same product returns a http 500 error response.

The error is a notice from Prestashop:

`[PHP Notice #8] Undefined index: id_image ([prestashop root]/classes/Product.php, line 6003)`

Debug mode is off on the Prestashop instance so I should no

[2019-09-26 07:29] #15521 closed, assigned to nobody

[2019-09-26 07:33] khouloudbelguith commented on #15269
Hi @sewingau,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-26 07:33] #15269 closed, assigned to nobody

[2019-09-26 07:35] khouloudbelguith commented on #15204
Hi @okom3pom,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-26 07:35] #15204 closed, assigned to nobody

[2019-09-26 07:37] #15641 closed, assigned to nobody

[2019-09-26 07:38] #15559 closed, assigned to jolelievre

[2019-09-26 07:38] khouloudbelguith commented on #15699
Hi @photinia73,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-09-26 07:38] #15699 closed, assigned to nobody

[2019-09-26 07:38] #15565 closed, assigned to jolelievre

[2019-09-26 07:39] mickaelandrieu opened #15702 "Exception should be thrown when instanciation a module is done if hooks are not right configured"
**Is your feature request related to a problem? Please describe.**

When we register hooks, no checks are done to control the existence of related functions expected by Hook class.

So we can expect a hook to be hooked (lol) while the function is not here (or wrongly named).

**Describe the solution you'd like**

Something like an exception with the following message:

"WrongHookRegistrationExcept

[2019-09-26 07:50] idnovate commented on #15697
Related with https://github.com/PrestaShop/PrestaShop/issues/11722?

[2019-09-26 07:53] ioweb-gr commented on #15697
Reading upon it the symptoms are similar but in that case the OP made a separation for free gifts.  This is a plain discount rule.

[2019-09-26 08:02] andreareyoga opened #15703 "rapid fire bug in checkout address tab give error "no carriers available" and create multiple addresses in DB"
Hello, That's my first issue open here and I hope to do everything right. Please forgive me if I do something wrong!

There is a problem that is driving me crazy: in prestashop 1.7.5.1 checkout, when I create a new address, if I click more than once on "Continue" button, i've got the error "no carriers for the selected address in the carrier's tab.

Here is how to reproduce the issue:

1- Place a

[2019-09-26 08:09] khouloudbelguith commented on #15702
Ping @PrestaShop/prestashop-core-developers

[2019-09-26 08:18] khouloudbelguith commented on #15703
Hi @andreareyoga,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1 & develop branch (PS1.7.7.0).
https://drive.google.com/file/d/1j9CFkzEwn7lh7ufIxglvSgQlUBbU0sDZ/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Related to https://github.com/Presta

[2019-09-26 08:19] mickaelandrieu opened #15704 "Improvement: each column template of grid should wrapped in a Twig block"
**Is your feature request related to a problem? Please describe.**
Twig inheritance system works by overriding the defined `block`(s) of templates we extend.
We can already override the rendering of a Column at Shop, Grid or even Column level, but what if we want to re-use and complete the content of the original Column template ?

We can't because - sadly - we have forgotten to wrap template of e

[2019-09-26 08:19] mickaelandrieu commented on #15704
I will complete the issue late, thanks for your understanding !

[2019-09-26 08:28] andreareyoga commented on #15703
Honestly I don't think I'll have enough skills to solve it on my own... I'll follow the tread and hope will be fixed soon!
Thanks

[2019-09-26 08:51] khouloudbelguith commented on #15701
Hi @ChMat,

I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
I used this script
[code]

Thanks to check & feedback.

[2019-09-26 09:02] khouloudbelguith commented on #15697
Hi @idnovate,

I think your issue is different.
Maybe related with this ticket:https://github.com/PrestaShop/PrestaShop/issues/11541
@ioweb-gr, We are aware of the Round issue PrestaShop as reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9779

Thanks to check & feedback.

[2019-09-26 09:04] ioweb-gr commented on #15697
This cannot be a simple rounding issue.. We're talking about a difference of 1.5Euros in my example.

[2019-09-26 09:05] khouloudbelguith commented on #15700
Hi @metineren,

Could you please try to connect to the Addons Market place, check & feedback.
![image](https://user-images.githubusercontent.com/16067358/65674835-1dde8b80-e045-11e9-90c3-64db6bc36501.png)

Thanks!

[2019-09-26 09:11] khouloudbelguith commented on #15697
@ioweb-gr, in my case, I did not manage to reproduce the issue with PS1.7.6.1.
The discount is well calculated = 5.64.
![image](https://user-images.githubusercontent.com/16067358/65675287-d4427080-e045-11e9-95d5-41d661c9c5db.png)
https://drive.google.com/file/d/18TZBlmr9OKYbvHkFNRiOuPq7mVw-1pqz/view

Thanks!

[2019-09-26 09:13] matks commented on #15396
@mehdi-ghezal About the Cart Presenter:

Unfortunately the people who built it are no longer working on the project, so we will not have the answers for sure, however my guess would be this:

By "locking" the Cart Presenter, you provide one guarantee for 3rd-party themes: "we guarantee the following list of variables will always be available for you to use in your Smarty templates". That's the onl

[2019-09-26 09:15] ioweb-gr commented on #15697
@khouloudbelguith Can you test with setting prices to excl. tax

[2019-09-26 09:18] khouloudbelguith commented on #15679
@BombrCZE, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-09-26 09:20] matks commented on #15702
@mickaelandrieu This would require us to use Reflection on the Module to make sure the right function exists 🤔 when `registerHook(...)` is used, right ?

[2019-09-26 09:21] khouloudbelguith commented on #15697
@ioweb-gr, what is the exact tax rule did you use for your product?
![image](https://user-images.githubusercontent.com/16067358/65676135-45365800-e047-11e9-9e9a-0c81df1893c5.png)
Thanks!

[2019-09-26 09:26] khouloudbelguith commented on #11388
Hi @colinegin,

No, In fact, I have the same behavior reported by @marionf: redirection to module catalog page without any message
https://drive.google.com/file/d/1OqU0sBZ8jZrnb0GQgHUSdxDw-gCNSQ8D/view

Thanks!

[2019-09-26 09:29] khouloudbelguith commented on #9721
Hi @colinegin,

Yes!
I manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/1fkjSYHBoc_llkxJgWV7fQCiiJBnqBvOc/view
Thanks!

[2019-09-26 09:33] LouiseBonnard commented on #15435
Answer: it must be added [here](http://i18n.prestashop.com/translations/1.7.7/available_languages.json) as well!

[2019-09-26 09:35] levothanhhong opened #15705 "Shop alway redirect to old domain - how to change domain of shop"
_**Describe the bug**_
Currently my old domain is disabled,
I have reconfigured a new domain for shop
**And when access to shop by new domain (both Back Office and Front Office), shop alway redirect to old domain and ... opps!!**

_**Additional information**_
PrestaShop version: 1.7.6.1
PHP version: 7.2.22
VPS server: CentOS 7

[2019-09-26 09:39] khouloudbelguith commented on #15705
Hi @levothanhhong,

Could you please navigate to the BO => Shop Parameters => Traffic & SEO page => Set shop URL section & try to change the Shop domain
![image](https://user-images.githubusercontent.com/16067358/65677635-e0c8c800-e049-11e9-896e-d14de6c00c65.png)

Thanks!

[2019-09-26 09:42] levothanhhong commented on #15705
Hi @khouloudbelguith
Currently my old domain is disabled,
So, i can't access to shop (both Back Office and Front Office), because it alway redirect to old domain.

Thanks & best regards.

[2019-09-26 09:43] arafatx commented on #10934
Sorry for commenting on the closed issue but I don't think this issue is fixed. I got the same error again on the latest 1.7.6.1. This happen randomly and I guess @jomdacillo is right this issue perhaps related to prestashop server. If i rename or remove the psaddonsconnect there is no problem connection to Back Office.

[2019-09-26 09:43] PierreRambaud commented on #15574
Hum, I tried many times with 1.7.5 and still have the problem. Seems not to be a regression.
![image](https://user-images.githubusercontent.com/1462701/65677979-d65efc00-e052-11e9-8ff1-3fb040fbd39a.png)

[2019-09-26 09:48] khouloudbelguith commented on #10934
Hi @arafatx,

The notices have been fixed with the v2.0.0 of the module psaddonsconnect.
The last release of this module is v2.1.0.

Thanks!

[2019-09-26 09:50] arafatx commented on #10934
I guess this is random. I just went away from my PC and coming back (refresh the back office page) and it works. Didn't do anything.

[2019-09-26 09:52] khouloudbelguith commented on #15705
@levothanhhong, you need to navigate to your Database, search for the table Prefix_shop_url & change all your settings
![image](https://user-images.githubusercontent.com/16067358/65678580-79137c80-e04b-11e9-83cd-3575689295f4.png)

Thanks!

[2019-09-26 09:55] khouloudbelguith commented on #10934
@arafatx, since the upgrade of the module `psaddonsconnect`, this issue doesn't occur in my case.
Could you please navigate to your BO => Module Manager page & search for the `psaddonsconnect` & check the exact version.
![image](https://user-images.githubusercontent.com/16067358/65678934-1a023780-e04c-11e9-975a-03d585311d01.png)

Thanks!

[2019-09-26 10:06] LouiseBonnard commented on #15567
Hello @colinegin, here is a new suggestion of wording, feel free to challenge it! I tend to synthesize it in order to get things clearer.

**What do you want to do with the products associated with this category?**

- If they have no other category, I want to associate them with the parent category.

- If they have no other category, I want to associate them with the parent category and turn them

[2019-09-26 10:06] BombrCZE commented on #15679
How I said in the tittle, when I enabled debug mode, it start working
without error....

On Thursday, September 26, 2019, khouloudbelguith <notifications@github.com>
wrote:

[2019-09-26 10:09] khouloudbelguith commented on #15679
@BombrCZE, The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.
Could you please provide us the PHP error log?

Thanks!

[2019-09-26 10:12] levothanhhong commented on #15705
Yeah!! thanks @khouloudbelguith
The issue has been resolved,
Best regards.

[2019-09-26 10:12] #15705 closed, assigned to nobody

[2019-09-26 10:12] arafatx commented on #10934
The exact same version 2.1.0. I thought the error message was the same (sorry for this this might be different issue related to CacheStorage):

![cache-storage](https://user-images.githubusercontent.com/4420157/65680238-26f14c00-e089-11e9-9693-12148cfbb4d9.JPG)

Perhaps, I should open a new issue? Sorry and TQ.

[2019-09-26 10:14] khouloudbelguith commented on #15705
@levothanhhong, Great!
Feel free to open a new one when needed.

Thanks!

[2019-09-26 10:16] metineren commented on #15700
Hi again @khouloudbelguith
I connected Addons marketplace, the problem continues.
Module response is "Error sent by Addons. You may be not allowed to download this module."

[2019-09-26 10:18] khouloudbelguith commented on #10934
@arafatx, This issue is currently closed & it seems different, can you open a new one with more information about your configuration

Thanks!

[2019-09-26 10:19] colinegin commented on #15567
Great thanks ! Maybe we should just leave the "Recommended" option, so that merchants easily know what they should do. What do you think ?

[2019-09-26 10:29] rdy4ever commented on #15703
Prestashop acts funny when people rage click buttons. Preventing rage clicking client-side (via javascript) sholud prevent some of these issuses.
I will try to put together a PR for this when I have a little time, it should be a simple solution, just disable the button after first click and re-enable it in case some of the fileds has a validation error.

[2019-09-26 10:50] khouloudbelguith commented on #15700
@metineren, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & `psaddonsconnect` v2.0.0.
https://drive.google.com/file/d/1erF3jvjt36JEZsEzbcqXMGV9mJXVUhYn/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2019-09-26 10:51] jlorquin opened #15708 "Customer order history is empty. Can't download invoice."
Hi,

Order history in customer dashboard shows empty in PS 1.7.6.1 PHP 7.2.22

**To Reproduce**
1. Place an order using dummy customer account.
2. Log in with admin account and check if the order is generated. OK.
3. Log in with customer account and try to download invoice by accesing order history. NOT OK/EMPTY

![image](https://user-images.githubusercontent.com/27868281/65682881-2b534000-e05c-11

[2019-09-26 10:52] andreareyoga commented on #15703
I think will be enough... and will be great!

[2019-09-26 10:54] khouloudbelguith commented on #15708
Hi @jlorquin,

I did not manage to reproduce the issue with PS1.7.6.1.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read th

[2019-09-26 11:01] andreareyoga opened #15709 "Error 500 in guest checkout"
Hello,
I've found an annoying problem in my prestashop website, and I can't find anything in the web that brings me close to a solution...

In my website ( www.reyoga.it/shop/ ), When a user wants to use the "Guest checkout", I have an error 500 that blocks me to to everything.
The funny thing is that, if I enable debug mode to see what's wrong... everything works fine!

It's literally driving me

[2019-09-26 11:04] khouloudbelguith commented on #15663
@Nykolium, the function `Validate::isCustomeName()` has been introduced in PS 1.7.5.2 in order to mitigate spam attacks. You can see it here: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Validate.php#L166

Thanks!

[2019-09-26 11:05] khouloudbelguith commented on #15709
Hi @andreareyoga,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/how

[2019-09-26 11:19] jlorquin commented on #15708
I'm using a VPS server with Plesk Onyx 17.8.11 #68 running on CentOS Linux 7.7.1908 (Core)‬.

Deleted cache and activated debug mode.

APACHE/NGINX/PHP LOG right after pressing f5 in order history.

`

2019-09-26 13:14:27 | Access | 88.9.182.15 | 200 | GET /mi-cuenta HTTP/1.0 |   |   | 11.9 K | Acceso SSL/TLS a Apache
-- | -- | -- | -- | -- | -- | -- | -- | --
2019-09-26 13:14:29 | Access | 88.9.1

[2019-09-26 11:52] andreareyoga commented on #15709
Hello, It seems that it was a server error that was fixed by my hosting, now it does not happen anymore.
I'll close the topic for now.

[2019-09-26 11:52] #15709 closed, assigned to nobody

[2019-09-26 12:15] khouloudbelguith commented on #15709
@andreareyoga, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-09-26 12:31] khouloudbelguith commented on #15708
@jlorquin, there is no error displayed.
Could you please provide me the log file into /PrestaShop/var/logs/
Thanks!

[2019-09-26 12:39] jlorquin commented on #15708
@khouloudbelguith here's the log you requested. Thanks a lot for your time!

`[2019-09-26 14:35:51] doctrine.DEBUG: SELECT name FROM ps_module WHERE active = 1 [] []
[2019-09-26 14:35:51] request.INFO: Matched route "admin_common_notifications". {"route":"admin_common_notifications","route_parameters":{"_controller":"PrestaShopBundle\\Controller\\Admin\\CommonController::notificationsAction","_leg

[2019-09-26 12:45] khouloudbelguith commented on #15708
@jlorquin, thanks for your feedback.
No errors displayed only some warnings.
Have you tried to contact the theme author about this issue?

Thanks!

[2019-09-26 13:13] rdy4ever commented on #15703
Done. The fix is here: #15710
@andreareyoga, as this fix won't probably be merged untill 1.7.7.0, meanwhile I sugeest to handle it in `custom.js` file of your theme (`themes/classic/assets/js/custom.js`). Add this code:
[code]
Then, clear cache and test.

[2019-09-26 13:20] Bonobomagno commented on #14541
My idea was more about: DRY. You can just do the same thing used for module config files, but now you are checking a static function on the module class, or (quicker) the return of a bundleXX.php file inside the module dir.

But there is a really big issue: conflicts.
How to do for let two modules use the same bundle in 2 different version?
Actually, will be better to let prestashop himself handle

[2019-09-26 13:25] danielducu opened #15711 "Order messages, threaded conversation, defective"
Version 1.7.x , checking for the already opened thread in order detail controller fails because no product id is passed to the function getIdCustomerThreadByEmailAndIdOrder() so no check takes place, so only one thread will be generated no matter what product is selected.

Steps to reproduce the issue:
1. Go to the FO => My account => Order History page => Click on details for an order that have m

[2019-09-26 13:25] matks commented on #14541
that's a very good question 🤔 but we have the same issue for composer dependencies
and right now the (bad) answer is "the first to get loaded wins"

this is easy: in the `registerBundles()`, remove duplicates

[2019-09-26 13:29] khouloudbelguith commented on #15711
Hi @danielducu,

Could provide us the exact steps to reproduce the issue in a new comment.

Thanks!

[2019-09-26 13:35] danielducu commented on #15711
Hello,

purchase two difrent products, in the customer area, in order details, send message for each product  and then check in customer support in admin area. Only one thread has been created when it should have been one for each product. The defective thread contains messages but all refer to the same product (first created thread product).

in controllers/front/OrderDetailController.php in func

[2019-09-26 13:52] DRFrank89 commented on #15684
First of all, thanks for the quick reply @khouloudbelguith khouloudbelguith

So we learned that the modules are not bugged, but it is a problem related to my prestashop.
Activating the debug mode and clicking on any product (having both modules mentioned above), I see several lines of errors (I have attached the screens to the message).

If I uninstall the modules and click on a product (always in

[2019-09-26 13:52] khouloudbelguith commented on #15711
@danielducu, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/65694158-4da18980-e06d-11e9-850a-b65b2c93f55c.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-26 13:55] khouloudbelguith commented on #15667
@DoIB, did you use any custom module related to the SEO or URLs?

Thanks!

[2019-09-26 14:02] khouloudbelguith commented on #15684
@DRFrank89, when using the default theme => it is OK in my case.
Have you tried to switch to the theme by default & check if the issue occurs?

Thanks!

[2019-09-26 14:26] PierreRambaud opened #15713 "Make issue required for pull request"
**Is your feature request related to a problem? Please describe.**
Each pull request must be related to an issue. This will help developers to be sure the issue, or the feature is really needed and in case of a bug, has been reproduced.

**Describe the solution you'd like**
Remove the optional note in the GitHub Pull request template

[2019-09-26 14:29] Robin-Fischer-PS commented on #15435
OK for Malagasy.

[2019-09-26 14:34] PierreRambaud commented on #15702
@matks It can be  done after this if / elseif: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Hook.php#L896

The function `isHookCallableOn` a module is already available.

[2019-09-26 14:39] matks commented on #15704
👀

[2019-09-26 14:48] simonswif opened #15715 "No email (order confirmation) to customer when ordering."
Hope You can help!

I use Prestashop 1.7.6.1.

When a customers makes an order, they don't get any order confirmation by email, But I do.

Also, if they send a message through contact-page, I dont get an email alert.
Sure, I can check Backoffice. But I also want an email, when a customer have sent a message.

I have installed mailalert v2.1.1 and it dosen't work.

I have tried the Test-button. And

[2019-09-26 14:57] PululuK commented on #15715
Hello @simonswif

In the **Back office > Advanced parameters > E-mail** you have checked that your mails are going well?

You must also check if there is an email template for the language concerned.

[2019-09-26 14:58] khouloudbelguith commented on #15715
Hi @simonswif,

Thanks to check sending the test email  from the Bo and feedback.

Thanks!

[2019-09-26 15:04] simonswif commented on #15715
I bought a template/theme for my shop and contacted the developer. They said that it is a Prestashop issue.

I also tried to send a screenshot of the informations from BO regarding the email, and they said that it all looked fine.

What to do?

[2019-09-26 15:05] simonswif commented on #15715
Also.. I have contacted my host, and they also said that it looked fine.

[2019-09-26 15:08] DRFrank89 commented on #15684
Testing with the default theme, the two modules work.

By activating debug mode, however, it always finds an error relating to the modules (at least as regards the beginning of the error string).
![error ps_categoryproducts-theme-default](https://user-images.githubusercontent.com/55789019/65700611-3b7d1680-e080-11e9-9f68-b71ca7e2474a.jpg)

[2019-09-26 15:08] marionf opened #15716 ""Add a product" and "Add a new discount" buttons disappear after editing a product in view order page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Order > View an order with "awaiting bankwire payment" status
2. Click on Edit a product and change the quantity
3. Note that there are 2 buttons: Add a product" and "Add a new discount"
4. Click on Update
5. See "Add a product" and "Add a new discount" buttons disap

[2019-09-26 15:09] marionf commented on #15716
@MatShir Maybe this can be fixed during the migration of view order page

[2019-09-26 15:15] khouloudbelguith commented on #15715
@simonswif
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.

[2019-09-26 15:17] #14074 closed, assigned to nobody

[2019-09-26 15:22] khouloudbelguith commented on #15684
@DRFrank89, this exception is provided by your theme

Thanks to Check the issue with your theme author and feedback.

[2019-09-26 15:27] simonswif commented on #15715
I am not much of a coder, and I don't understand PHP and JS very well, but I have attached some screenshots of my informations.

When a customers makes an order, they don't get any order confirmation by email, But I get one.

And then some time later, I get an email (see attached) that the email can not be delevered to the customer.

![kundeservice](https://user-images.githubusercontent.com/558446

[2019-09-26 15:36] PululuK opened #15717 "Wrong combinaison reference in customer account order history"
**Bug description**
After purchasing a product (combinaison), go to the order history on your customer account, in the list of products you will find that the reference shows for the combinaison is that of the parent product.

**how to Reproduce**
Steps to reproduce the behavior:
1. Create a product with combinations (set product reference et combination reference)
2. Order the product combination

[2019-09-26 17:02] Miestre opened #15719 "Migration 1.6 to 1.7"
Hello

I have a theme that we worked on the past (html and css changes)(1.7)

And we have a website on version 1.6. that is online and working.

My question is..what is the best the best approach to migrate all the data(clients, orders, products, modules) from the 1.6 site to the theme 1.7?

Regards

[2019-09-26 17:39] SharmPRO opened #15720 "Missing Db fields after migration from 1.7.5.0 to 1.7.6.1"
missing fields in table:
filter_id in ps_admin_filter
position in ps_lang
position in ps_manifacturer

Any idea?

[2019-09-26 18:04] Bonobomagno commented on #14541
Ofc, i'm suggesting a different way to handle bundle autoloading. Or actually you will have a situation where module A load package P 1.2(but it don't use it as bundle on appKernel) and module B, that use package P 2.0, will add the bundle but it will not work.
Maybe everything will not work. Who knows if 1.x is bundle ready?

[2019-09-26 20:14] matks commented on #14541
Mmmm ... I'm afraid anyway we're screwed 😅

If 2 modules load the same bundle, same version and use it configured the same way, it will work.
But it's more likely that they will load 2 different bundle config (for example API endpoint) 🤔

So for example if module A uses GuzzleBundle with SSL enabled and module B uses GuzzleBundle with SSL disabled, one of them is going to be disappointed 😭

That's

[2019-09-26 21:03] 01park opened #15721 "1.7.6 sort by price - low to high white page"
When sorting price from low too high a white page appears with no results.

The problems is caused by FacetedSearch.

By editing this file:  lines 332-336 in modules/ps_facetedsearch/src/Adapter/MySQL.php

Replacing line 332-336 will solve this issue.

) {
            $joinMapping = $filterToTableMapping[$orderField];
            $orderField = $joinMapping['tableAlias'] . '.' . (isset($joinMapping

[2019-09-26 21:40] mickaelandrieu commented on #15704
Issue completed !

[2019-09-26 23:34] rvalery commented on #9924
Hello,

I ran into the same problem that is described in this topic. I saw the comments and the 2 different solutions that were proposed. None of them seem to have been merged into the master branch of the module, although I have seen some commits for this on the dev branch.

I think I have found a solution for this problem that is simpler than the proposed modifications. I simply initialize the "

[2019-09-27 05:38] Prem-lmx opened #15722 "The product selection cannot be delivered by the available carrier(s): it is too heavy. Please amend your cart to lower its weight."
Hai..
im work on prestashop1.6.23
The order  issue some products only
ples support him..
screenshot:
![image](https://user-images.githubusercontent.com/52959027/65744779-0d96e100-e117-11e9-9b2d-2650ff7bbb9f.png)
waiting for the response....
Thanks..

[2019-09-27 06:46] ioweb-gr commented on #15697
OK I re-setup a 1.7.6.1 instance and the discount calculation issue seems to have been fixed.

[2019-09-27 07:23] DoIB commented on #15667
No SEO module or module associated to category or products.
With the default theme, i have the issue.

The products and category come from an import (migrating Magento to Prestashop).

Could i have something in database scrambling the redirection ?

The issue seems to come from the default category. How to check and correct it ? :)

[2019-09-27 07:35] marionf commented on #15697
@ioweb-gr This issue can be closed ?

[2019-09-27 07:56] ioweb-gr commented on #15697
Well the original problem that multiple discounts cannot be applied on subtotal but only consecutively on the discounted price remains. Perhaps rename the title to better reflect it and leave it open as an important feature request?

[2019-09-27 08:12] idnovate commented on #15697
But this is not a bug but a request ;)

[2019-09-27 08:18] ioweb-gr commented on #15697
I agree this Depends on whether the team wanted it to work like this or not and the merchant's point of view  :) in my eyes it's an issue because the customers will feel that the merchant is scamming them even though they might be wrong.

I asked about this scenario 5 random people at a cafe just to get a rough idea what people would think. They all agreed 8% and 2% means 10% hehe. I bet merchants

[2019-09-27 08:26] idnovate commented on #15697
It has been working this way since the beginning and I don't know of any death until now :v:
But not saying that it should work as you describe ;)

[2019-09-27 08:41] SlashedAsteroid opened #15724 "Default supplier prevents unit pricing from being assigned."
**Describe the bug**
During product configuration if a default supplier has been selected (radio buttons on product options) the item is no longer available for search and unit pricing can not be set leading to no pricing information on the product page.

It does appear to trigger two SQL statements when doing this, one assigning the unit_price_ratio to the required value, immediately followed by

[2019-09-27 08:54] idnovate opened #15725 "Rebuild search index URL and cron"
**Describe the bug**
Rebuild search index URL can not be called from a cron, as it requires a login

**To Reproduce**
Steps to reproduce the behavior:
1. Open rebuild search index URL that appears at `Shop parameters - Search` in a private tab (without login) or in a cron
2. Error. It requires BO login. Index is not rebuilt.

**Additional information**
PrestaShop version: 1.7.6.1

[2019-09-27 08:59] marionf opened #15726 "Missing fields in migrated add/edit customer page when B2B mode is enabled"
**Describe the bug**
When B2B mode is enabled, fields should be added in add/edit customer page:

* Company
* Siret
* APE
* Website
* Outstanding amount
* Maximum payment delay (in days)
* Risk level

Also in customer lisiting, company should be displayed.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Shop parameters > Customer settings & enable B2B
1. Go to Customers > Customers an

[2019-09-27 09:00] SlashedAsteroid commented on #15724
![2019-09-27_09-28-49](https://user-images.githubusercontent.com/12980961/65756726-8ee97600-e10d-11e9-9c15-786044a46f57.png)
![2019-09-27_09-29-33](https://user-images.githubusercontent.com/12980961/65756734-93159380-e10d-11e9-9348-991ab30713f4.png)
![2019-09-27_09-29-36](https://user-images.githubusercontent.com/12980961/65756739-9741b100-e10d-11e9-81bb-ed4ecbd68e70.png)

[2019-09-27 09:00] marionf commented on #15726
@matks FYI

[2019-09-27 09:16] flistefliste opened #15727 "Dashtrends"
**Dashtrends module shows bad _Sales_ amount after upgrading from 1.7.4 to 1.7.6.1**
Before upgrade : _Sales_ tab amount was showing order total paid tax excl. (including shipping and coupons)
After upgrade : Sales tab show only total products tax excl.

**To Reproduce**
1. Update from 1.7.4 to 1.7.6.1  using Autoupgrade 4.9.0
2. Go to dashboard and compare _Sales_ amount to real orders amount (in

[2019-09-27 09:25] yvesattias opened #15728 "Impossible to add combinaisons after delete them"
**Describe the bug**
When I delete a combinaison product and I want to readd after some time the same combinaisons, the system refuse to do it.

I am on a multi-store website.

To resolve, I need to delete all combinaisons for every store, then go to AllStores, recreate all combinaisons and re-enter all prices,etc...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Combinaisons
2. Delet

[2019-09-27 09:46] #15713 closed, assigned to nobody

[2019-09-27 09:54] peorthyr commented on #15385
Good day all.
We are getting this issue on all our websites  that are on a specific hosting (which has already told us that the "mod_auth_basic" is not an option on the plan of the hosted sites.

Since this regression is affecting most (if not all) the websites we are managing, I'd like to understand what we could do, what I understand is that we got 3 options:
1) Downgrade Prestashop to 1.7.5 (wh

[2019-09-27 10:05] dharmendravirasat opened #15729 "Add to cart button not showing in prestashop 1.7.5.1 && this variable return 1 'is_catalog' => (bool) Configuration::isCatalogMode(),"
![image](https://user-images.githubusercontent.com/44469219/65761126-dbe44100-e13b-11e9-8bdb-392775a8cf6b.png)
 I'm only view product page but add to cart option not showing
I'm using multistore and i'm created new shop group & new shop
![image](https://user-images.githubusercontent.com/44469219/65768204-ef98a300-e14d-11e9-9f86-8730478b2e26.png)

you can see every shop catalog value 0;

![image](h

[2019-09-27 10:17] #11496 closed, assigned to Progi1984

[2019-09-27 10:38] Bonobomagno commented on #14541
This is why i suggested using a special module/ unique bundle( like symfony flex recipe) with own configuration/ autoloader installed on a global space.

The module installation can proc this bundle installation.
About config: i don't think is a true problem. Configuration can be "namespaced".
for GuzzleBundle you  can have multiple configuration and every module will call the own service (that de

[2019-09-27 10:55] sarjon opened #15732 "Error handler feature"
Hello community! :wave:

I'd like to start a discussion about more robust error handling in PrestaShop's migrated pages.

## Problem

Currently we dispatch commands/queries from controllers and handle _all_ possible exceptions by wrapping it with `try/catch`.

However, there are a few problems with it that I can see:
1. As a developer I want to see all errors during development (e.g. when debug mo

[2019-09-27 11:11] Bulikus opened #15733 "Error 500 on Suppliers View"
**Describe the bug**
Hello, community!
I Migrated from Prestashop 1.6.1.8 to Prestashop 1.7.6.1 with Prestashop Migrator module (ETS-Soft) to a freshly installed Presta.
Everything seems to work fine, but today I tried to "VIEW" one of my suppliers.
On the supplier's page, after I push "VIEW" button error 500 occurred.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Catalog -> Brands

[2019-09-27 11:12] #9913 closed, assigned to nobody

[2019-09-27 12:32] matks commented on #15344
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15665

[2019-09-27 12:32] #15344 closed, assigned to jolelievre

[2019-09-27 13:15] Robin-Fischer-PS opened #15734 "BO - Border "Your profile" too small in some languages"
**Describe the bug**
In some languages (Russian, Arabic...), in BO User Menu, the border of the "Your Profile" label is too small fort the text (or the text is too long for the border ?).

The border length should be based on the length of the text, and not fixed.

**To Reproduce**
Choose Arabic or Russian Language
Open the User Menu
"Your profile" is over the border

**Screenshots**
![Capture d’é

[2019-09-27 13:34] matks commented on #15732
On this, the solution seems clear: we need a different behavior for DEV and PROD environments.

What is the duplicated code exactly ? I think with `getErrorMessageForException()` and `getErrorMessages()` we have been able to reduce a lot the duplication 🤔 ?

I think `kernel.exception` will block us from rendering the template correctly because the catch will happen outside of the controller . We c

[2019-09-27 13:48] sarjon commented on #15732
This block is the same in every method, it could seem like a small issue, but it is annoying (aka bad DX imo) to copy/paste every time the same code block.

[code]

Maybe, but I'm sure we can find a good way to handle errors be it with event or not. :stuck_out_tongue:

[2019-09-27 13:52] colinegin commented on #14979
Hello @PrestaShop/prestashop-contributors , what do you think of this issue ? Can it be fixed easily ?

[2019-09-27 13:56] colinegin commented on #10005
Hello @khouloudbelguith ,

can you confirm this issue still occurs on 1.7.6.1 ?

Thanks !

[2019-09-27 13:58] matks commented on #14979
@colinegin It requires to explore the queries being done (= needs technical analysis) but it's not an easy pick. PrestaShop is resources-hungry so queries pile up when a lot of data is required.

[2019-09-27 13:59] colinegin commented on #15369
Related to #9998

[2019-09-27 14:29] PierreRambaud commented on #15672
Weird to see that it's not implemented yet.
I'm not an expert in PrestaShop webservices, maybe some people could give us their point.

[2019-09-27 14:57] onkstudio commented on #9682
Hi,

Is there any fix / solution to this problem ?
I have the same issue and can't find a solution...

Thanks a lot.
Nicolas

[2019-09-27 15:13] JuanjoSCu commented on #15640
Rebuild the search index does not work from cron in this version.
If a product is not found, it is not sold if it is not sold, it is CRITICAL, not a minor bug.

https://github.com/PrestaShop/PrestaShop/issues/15725

[2019-09-27 15:13] SlashedAsteroid commented on #15724
After some testing the issue seems to occur when the following controller method is invoked.

Controller: controllers/admin/AdminProductController.php
Method: processSuppliers

From Line: 2542

The product wholesale_price is updated and unit_price_ratio is reset to 0 when $product->update() is called.

[2019-09-27 15:31] marionf opened #15736 "As a user when I select attributes and have results, I want to arrive on the product with these attributes selected"
**Describe the bug**
As a user when I select attributes (through facetedsearch in FO) and have results, I want to arrive on the product with these attributes selected

Example: If I select Red L as filters, when I click on a product I want these attributes selected on the product page instead of the default combination

[2019-09-27 15:32] shawe commented on #15250
Problem also exists on 1.7.6.1 @adu42 @khouloudbelguith

This line is replacing the $templatePath given as parameter:
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Mail.php#L393
Comenting it can read the template file.

The problem maybe was related on how $moduleName is filled outside the foreach.
This problem seems to only affect when a module is trying to send emails with their

[2019-09-27 16:12] rdy4ever commented on #14572
PR here: #15737

[2019-09-27 17:00] colinegin opened #15738 "Incorrect product combination url when a filter is selected"
On front office, in product listings, when you select a combination filter and then choose a product, the product combination url redirection is not the correct one.

Steps to reproduce :
- Go to front office, on a product listing
- click on one combination filter
- click on one related product
--> you end up in the product page with default combination, but not with the combination previously sel

[2019-09-27 21:02] banan44 commented on #14816
Hi @khouloudbelguith this is just an information post. I have disabled Smarty cache after you sent me the last message and since then I do not have any problems with Main Menu module.

[2019-09-27 22:05] banan44 commented on #15539
Hi @mariem-abid no change after update. I have notice I have this problem only with categories where the position of subcategories does not start with 1. Check the screenshot below. The first subcategory starts with 3 instead of 1. Once I move one subcategory, the numbers refresh and when I refresh the page, the positions are correct, start with number 1 and when I move any subcategory to a differ

[2019-09-28 05:08] beniwal commented on #15430
Hi,

I have same issue. We have same products in two different categories. first one is main category and second one is sub category of that main category.

when we select main category as default category than subcategory always empty. When we select subcategory as main category than those products are not appearing in main category.

I did reaserch on this issue. reason is that in where conditio

[2019-09-28 07:57] PeeyushAgrawalWebkul commented on #13211
Hello @khouloudbelguith

The PR https://github.com/PrestaShop/PrestaShop/pull/15739 has been rasied please check.

Thanks.

[2019-09-28 09:03] lichesser commented on #15380
Hy,

same here but even worse. We are exporting > 50k products from our ERP and the update takes about 25 to 35 seconds meanwhile for one product (the math is on you). Is there something I can do to speed up webservice meanwhile until the performance bug is fixed and released?

[2019-09-28 09:25] dharmendravirasat commented on #15729
![image](https://user-images.githubusercontent.com/44469219/65814476-cfc1b780-e1ff-11e9-838a-a70f09e9a25c.png)

i resolve ,
problem is that show price disable

[2019-09-28 09:25] #15729 closed, assigned to nobody

[2019-09-28 12:16] ChMat commented on #15701
Hi @khouloudbelguith

Thanks for the support.

My bad. In order to get more verbose error messages while developing, I just realise I had changed error reporting level to `E_ALL`.

However, there is an issue nonetheless with how `Product::getCoverWs()` works.

- the products I work with have 2 categories, none of which have images at the moment.
- Prestashop `Product::getCoverWs()` function expect

[2019-09-28 12:39] Caleydon opened #15740 "Wrong taxes for customers from other countries"
I installed clean fresh PrestaShop 1.7.6.1. I set Germany as default country of the store.
No additional setting was made expect carriers. The prices were tax included in the PrestaShop settings. No "European VAT number" module were installed (Note: the module takes no effect after installing).

Then I created regular customer account with a few addresses: German, UK, Mexican and Russian.

I added

[2019-09-28 14:56] maofree commented on #15554
Hi
sorry but this solutions gives some errors from the itemprop="url", because they should be the same for each items.
check by yourself using this google's tool
https://search.google.com/structured-data/testing-tool

![1](https://user-images.githubusercontent.com/653230/65818304-a8271b00-e210-11e9-8ea1-753641b2d2ab.png)
![2](https://user-images.githubusercontent.com/653230/65818305-a8271b00-e210-

[2019-09-28 15:56] lichesser commented on #15380
Hy,

it turned out, that only updating a product is taking that long (up to 30 seconds), not the Add action. Maybe there is a massive sql statement triggered when updating, but it's hard to find out, what the real problem could be. Is there a way to debug or log the webservice in any way?

[2019-09-28 17:51] yvgorshkov opened #15741 "Uncaught TypeError: this._addClass is not a function in Product add/edit page"
**Describe the bug**
After updating to 1.7.6.1, the page for adding and editing products stopped working.

**To Reproduce**
Just open the page for adding or editing products and the following error appears in the browser console:

[code]

Tip: If I comment line number 46 in classes/Media.php, where the slider connection is located:

[code]

the form starts working fine. But many others cease to fu

[2019-09-28 19:19] BombrCZE commented on #15679
Where I Can found them?

On Thu, Sep 26, 2019 at 12:10 PM khouloudbelguith <notifications@github.com>
wrote:

--
asistent poslance a náměstka hejtmana Ústeckého kraje
Lukáš Šimčík

[2019-09-28 20:35] matks commented on #15679
It depends on the web hosting, please check in your administration panel provided by your web hosting, there should be some links / buttons to check logs. Maybe in a section "troubleshooting" or "maintenance" or "advanced"

These links might help 😉
- https://stackoverflow.com/questions/5127838/where-does-php-store-the-error-log-php5-apache-fastcgi-cpanel
- https://www.hostinger.com/tutorials/websi

[2019-09-29 08:32] lichesser commented on #15380
Final conclusion after logging mysql:
when doing an update to a product (I don't know if this also happens if you save a product in backoffice) it calls a massive update logic which only sets the position of a product in 'vaps_category_product' to a new position.

Since we have more than 60k products, more than 60k update statements are called on every product update.
So in worst case I have to do

[2019-09-29 10:22] maofree commented on #15554
Hi
I think the solution is here (he explains the motive of these errors)
https://www.endurantdevs.com/blog/values-provided-url-must-point-page-problem-googles-sdtt/

[2019-09-29 11:47] Markosaar commented on #10248
Hi, @khouloudbelguith

Can you tell wich ps version and pull contains fix for this issue?

Best Regards
Marko

[2019-09-29 12:06] lichesser commented on #15733
It looks like your new PrestaShop is missing a currency definition.

Maybe try adding a default currency like described in the following link

https://zemez.io/prestashop/support/how-to/prestashop-1-7-manage-currencies-set-default-one/

[2019-09-29 13:22] lichesser commented on #15380
Final update of our case: if we set position_in_category to null, update is performing like expected.
Don't know what is the case behind the fact, that a position in a category is changed on every update (and of course for every other project within this category).

Regards, L

[2019-09-29 13:42] Bulikus commented on #15733
Unfortunately not. I got three languages and three currencies. And one of them from the beginning was my default currency.

[2019-09-29 19:51] cma93 opened #15742 "Prestashop 1.7.6.1 Validation Error on Using Voucher in Cart"
When add the voucher code in Cart and checkout using Bankwire (don't have any other payment method yet). It gives me an error on shopaddress/module/ps_wirepayment/validation

La proprietà CartRule->quantity_per_user non è valida

The CartRule-> quantity_per_user property is not valid

Thanks.

[2019-09-29 21:11] hitinder opened #15743 "WYSIWYG - Edit HTML Email Template Stops Working After Save"
**Describe the bug**
While editing email if you save it, the WYSIWYG editor won't load; therefore, it is not possible for users to edit emails in the BO after saving an email. None of the emails will work after you save.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'International  >> Translations >> Modify Translations'
2. Click on 'Email translations'
3. Select  'body' as the conte

[2019-09-29 22:07] benoitpetit opened #15744 "Attempted to load class "CacheStorage" from namespace "GuzzleHttp\Subscriber\Cache". Did you forget a "use" statement for another namespace?"
Bonjour, je rencontre un probléme apres un clone de mon projet prestashop, le front office est bien disponible par contre le backoffice apres connexion m'affiche ce message d'erreur.

Hello, I have a problem after a clone of my prestashop project, the front office is available but the backoffice after login displays this error message.

![GitHub Logo](https://i.ibb.co/gvkLwsw/Screenshot-1.png)

av

[2019-09-30 06:43] smartsoftbox commented on #12204
I still have same problem.

**Reproduce**
1. chown -hR www-data:www-data ./prestashop
2. git clone https://github.com/PrestaShop/PrestaShop.git
3. cd prestashop
4. docker-compose up

docker
Docker version 19.03.2, build 6a30dfc

docker-compose
docker-compose version 1.24.1, build 4667896b

\n* Reapplying PrestaShop files for enabled volumes ...
cp: cannot stat '/tmp/data-ps/prestashop/*': No such

[2019-09-30 06:47] andreareyoga commented on #15703
Works perfectly! Thanks!!!!

[2019-09-30 07:22] kermes opened #15745 "Duplicated payments if invoicing after delivering"
There are some situations where you may want to generate the invoice when the buyer has received their purchase and not before. For example with COD payments, you should invoice when you receive the money, not before, in case the customer rejects the package.

In order to do that you need to modify the available order states (or add new ones) that would reflect this workflow.
In this scenario, bec

[2019-09-30 08:26] khouloudbelguith commented on #15717
Hi @PululuK,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/65861455-31029b80-e364-11e9-8526-b89bd830ae10.png)
In the BO it iS oK
![image](https://user-images.githubusercontent.com/16067358/65861491-45df2f00-e364-11e9-9f35-fcfaece7d9c4.png)
I’ll add this to the debug roadmap so that it’s fixed. If you

[2019-09-30 08:28] khouloudbelguith commented on #15281
Hi @Nisarg22,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-30 08:28] #15281 closed, assigned to nobody

[2019-09-30 08:28] khouloudbelguith commented on #14936
Hi @racfalit,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-30 08:28] #14936 closed, assigned to nobody

[2019-09-30 08:29] khouloudbelguith commented on #15280
Hi @rancidio,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-30 08:29] #15280 closed, assigned to nobody

[2019-09-30 08:30] decom-media opened #15746 "On Backorder (paid) Status when stock is >0"
After a customer did place an order, the status of the order is changing a few hours later to "On Backorder (paid)" - even if there are still more items available in stock.

I am getting this error after upgrading to 1.7.6 and still with 1.7.6.1 is the same error, it is not happening on all products. And it did not happen before that upgrade to 1.7.6

After checking to find a pattern, i did realis

[2019-09-30 08:30] khouloudbelguith commented on #15107
Hi @antoniopineapple,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-30 08:30] #15107 closed, assigned to nobody

[2019-09-30 08:31] khouloudbelguith commented on #15294
Hi @t1desarrollo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-30 08:31] #15294 closed, assigned to nobody

[2019-09-30 08:31] khouloudbelguith commented on #15185
Hi @toyser,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-30 08:31] #15185 closed, assigned to nobody

[2019-09-30 08:32] khouloudbelguith commented on #15293
Hi @rezanr,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-30 08:32] #15293 closed, assigned to nobody

[2019-09-30 08:33] khouloudbelguith commented on #15320
Hi @karilobre,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-30 08:33] #15320 closed, assigned to nobody

[2019-09-30 08:37] khouloudbelguith commented on #15719
Hi @Miestre,

Please follow our documentation: https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/, it describes several ways to complete an upgrade of PrestaShop.
In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.
I close the issue, feel free

[2019-09-30 08:37] #15719 closed, assigned to nobody

[2019-09-30 08:43] smartsoftbox opened #15747 "docker compose cp: cannot stat '/tmp/data-ps/prestashop/*'"
docker-compose up

**error message**
Reapplying PrestaShop files for enabled volumes ...
cp: cannot stat '/tmp/data-ps/prestashop/*': No such file or directory

**To Reproduce**
1. chown -hR www-data:www-data ./prestashop
2. git clone https://github.com/PrestaShop/PrestaShop.git
3. cd prestashop
4. docker-compose up

**Additional information**
docker
Docker version 19.03.2, build 6a30dfc
docker-co

[2019-09-30 08:43] smartsoftbox opened #15941 "Docker compose cp: cannot stat '/tmp/data-ps/prestashop/*'"
docker-compose up

**error message**
Reapplying PrestaShop files for enabled volumes ...
cp: cannot stat '/tmp/data-ps/prestashop/*': No such file or directory

**To Reproduce**
1. chown -hR www-data:www-data ./prestashop
2. git clone https://github.com/PrestaShop/PrestaShop.git
3. cd prestashop
4. docker-compose up

**Additional information**
docker
Docker version 19.03.2, build 6a30dfc
docker-co

[2019-09-30 08:52] manel-roman commented on #9652
Hello @khouloudbelguith,

I'm working in a new website and I have the same problem again.

Could you please double check if is there a prestashop bug?

Just for info in case you can reproduce this erros.
I work with only spanish language, euro currency and warehouse template.

Thank you very much.

[2019-09-30 08:54] #14931 closed, assigned to matthieu-rolland

[2019-09-30 08:59] khouloudbelguith commented on #15720
Hi @SharmPRO,

By default, same with PS1.7.5 & PS1.7.6, the position doesn't exist in ps_lang & ps_manufacturer tables
![image](https://user-images.githubusercontent.com/16067358/65863800-bb4cfe80-e368-11e9-9609-48892b15fe93.png)
![image](https://user-images.githubusercontent.com/16067358/65863814-c43dd000-e368-11e9-8fcf-8c985f199174.png)
About the ps_admin_filter table, I did not manage to reprod

[2019-09-30 09:06] #15736 closed, assigned to nobody

[2019-09-30 09:11] khouloudbelguith commented on #15721
Hi @01park,

I did not manage to reproduce the issue with PS1.7.6.1 & ps_facetedesarch v3.3.0.
In the ps_facetedesarch configuration page, could you please try to click on the "Index all missing prices" & "Rebuild entire price index" & "Clear cache" buttons, check & feedback.
https://drive.google.com/file/d/1DjNzmYQaXTAzfkPlpgNfQ1Q7YclBFqNc/view
What is the exact version PrestaShop did you use?
Wh

[2019-09-30 09:15] Vitron1778 opened #15749 "Problem with module ps_newproducts Prestashop 1.7.1.6"
**Describe the bug**
After creating new products they're showing only before updateing page (press F5), after that new products dont show.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create new product'
2. Click on 'Save'
3. Check on the main page 'It works'
4. Press F5
5. New products become unvisible.

**Screenshots**
1. With Proucts - ![image](https://user-images.githubusercont

[2019-09-30 09:16] colinegin commented on #14979
Hello @matks , thanks for your feedback :)
Alright then, i add it to the to do pile, but it won't be prioritized for 1.7.7 as we lack time.

[2019-09-30 09:24] khouloudbelguith commented on #15747
Hi @smartsoftbox,

The best way to have write and read access is to use the same user the container image.

`$ chown -hR www-data:www-data ./PrestaShop`
And everything will work fine.

In your case, you need to check if your folder name is `PrestaShop` or `prestashop`.

Thanks to check & feedback.

[2019-09-30 09:34] khouloudbelguith commented on #15722
Hi @Prem-lmx,

I did not manage to reproduce the issue with PS1.7.6.1.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bug

[2019-09-30 09:34] #15722 closed, assigned to nobody

[2019-09-30 09:36] IlPizza79 commented on #15385
Hi, I've noticed this issue is in "To be tested" step since 3 days... can you please tell us how it's going? Can you tell us when an update will be released? Or at least can you tell us a fix for current Prestashop version? Thanks in advance!

[2019-09-30 09:47] khouloudbelguith commented on #15724
Hi @SlashedAsteroid,

Thanks for your report.
In your case during this step "Go to 'Pricing tab'/'step-2' enter a unit price." did you enter the unity?
![image](https://user-images.githubusercontent.com/16067358/65868178-b8094100-e36f-11e9-8376-b5a97a6371c5.png)

Related to https://github.com/PrestaShop/PrestaShop/issues/10792

[2019-09-30 09:52] PululuK commented on #15717
Hi @khouloudbelguith

This has been fixed here:  https://github.com/PrestaShop/PrestaShop/pull/15706

[2019-09-30 10:04] khouloudbelguith commented on #15725
Hi @idnovate,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.0.
With PS1.7.5.2 => It is OK.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-30 10:05] SlashedAsteroid commented on #15724
Hi @khouloudbelguith,

Yes, the unity field was complete and saving correctly.
I did attempt this with that field both empty and complete to the same result.

[2019-09-30 10:11] khouloudbelguith commented on #15727
Hi @flistefliste,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15114
So, I close it.
Thanks!

[2019-09-30 10:11] #15727 closed, assigned to nobody

[2019-09-30 10:11] khouloudbelguith commented on #15727
Duplicate of #15114

[2019-09-30 10:13] #15425 closed, assigned to matks

[2019-09-30 10:22] matks commented on #15425
Bug fixed on `dev` branch of https://github.com/PrestaShop/ps_emailsubscription/
Release in progress

[2019-09-30 10:28] khouloudbelguith commented on #15728
Hi @yvesattias,

In your case, The UK shop selected is not the first shop? is it?
Your issue seems to be similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/9664

Thanks to check & feedback.

[2019-09-30 10:30] khouloudbelguith commented on #15733
Hi @Bulikus,

This issue occurs after deleting a currency.
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/15486
So, I close it.
Thanks!

[2019-09-30 10:30] #15733 closed, assigned to nobody

[2019-09-30 10:30] khouloudbelguith commented on #15733
Duplicate of #15486

[2019-09-30 10:38] khouloudbelguith commented on #15741
Hi @yvgorshkov,

What is the exact version of the module 1-click upgrade did you use?
Have you any errors during the upgrade?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Did you disable the "Disable non PrestaShop modules" option in the BO => Advanced Parameters => Performance page?
Those options "Di

[2019-09-30 10:48] khouloudbelguith commented on #15742
Hi @cma93,

I did not manage to reproduce the issue with PS1.7.6.1 & ps_wirepayment v2.0.4.
What is the exact version of the module ps_wirepayment did you use?
In the Cart rule page => Condition Tab => what is the exact value of `Total available` & `Total available for each user`?
![image](https://user-images.githubusercontent.com/16067358/65872300-2ce07900-e378-11e9-8c82-a898139ce823.png)

Thanks

[2019-09-30 10:54] cma93 commented on #15742
Thanks for your reply.
Prestashop 1.7.6.1
Module 2.0.4
![Screenshot (5)](https://user-images.githubusercontent.com/34143433/65872704-db40ea00-e389-11e9-8f51-9bba76d42b01.png)

[2019-09-30 10:57] khouloudbelguith commented on #15743
Hi @hitinder,

I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
I attached a screen record
[translation.webm.zip](https://github.com/PrestaShop/PrestaShop/files/3670521/translation.webm.zip)
Thanks to check & feedback.

[2019-09-30 10:58] cma93 commented on #15742
I tired to change this as well. but same response.

[2019-09-30 11:08] khouloudbelguith commented on #15746
Hi @tom75,

In your screenshot provided, the available quantity = 0
![image](https://user-images.githubusercontent.com/16067358/65873408-edfff280-e37a-11e9-88f8-5d652fdbe59e.png)

Thanks to check the quantity of your product again.

[2019-09-30 11:11] tom75 commented on #15746
Yes, but, this is after the purchase – this is the current stock, which is NOW 0, as it was the last item, but, as you can see it has been purchased one time and after that the stock is 0 (otherwise it would be then -1)

From: khouloudbelguith [mailto:notifications@github.com]
Sent: Montag, 30. September 2019 13:09
To: PrestaShop/PrestaShop
Cc: tom75; Mention
Subject: Re: [PrestaShop/PrestaShop] O

[2019-09-30 11:12] khouloudbelguith commented on #15749
Hi @Vitron1778,

You have an issue with the ps_featuredproducts module.
What is the exact version of the module ps_featuredproducts did you use?
This module is overridden by your theme?

Thanks!

[2019-09-30 11:18] sarjon commented on #13878
Things to do:

1. Replace `Tools::displayPrice()` with `Locale::formatPrice()`

[2019-09-30 11:30] cma93 commented on #15742
![WhatsApp Image 2019-09-29 at 5 29 44 PM (1)](https://user-images.githubusercontent.com/34143433/65874677-cb77d480-e38e-11e9-80d0-d117898ea247.jpeg)

here's the error that I receive.

[2019-09-30 11:42] hitinder commented on #15743
Hello @khouloudbelguith,
I am getting "not found" error for the attached file.
Thanks,
Hitin

[2019-09-30 11:43] idnovate opened #15751 "'Total available for each user' in cart rule not considered"
**Describe the bug**
When you offer a product with price 0 as a free gift any record is inserted at table `ps_order_cart_rule`, so the customer can use it another time

**To Reproduce**
Steps to reproduce the behavior:

1. Set a product with price 0
![image](https://user-images.githubusercontent.com/15104724/65875677-0d514c80-e388-11e9-939d-605dbe2f9ae8.png)
1. Create a cart rule limited to 1 use

[2019-09-30 11:53] ProBackup-nl commented on #14581
@khouloudbelguith I pitty that this is closed. A tiny webshop with 2 or 3 products doesn't need any categories. IMO: All product should be disabled without any categories. It is still not too well handling of edges cases here.

[2019-09-30 11:57] idnovate commented on #15751
Record at table `ps_order_cart_rule` is inserted at function `validateOrder()` from `PaymentModule` class, at this line:

[code]

Function `createOrderCartRules()` uses `$cartRulesData = $calculator->getCartRulesData();`.

Function `getCartRulesData()` is at `\src\Core\Cart\CartRuleCalculator.php` and uses `cartRules` information, which is filled at `applyCartRule()`.

Function `applyCartRule()` e

[2019-09-30 12:19] khouloudbelguith commented on #15744
Hi @benoitpetit,

I did not manage to reproduce the issue with the develop branch.
I followed these steps:
1. git clone https://github.com/PrestaShop/PrestaShop.git
2. cd PrestaShop
3. composer install
4. chmod 777 -R /path_to_folder/
5. Install
=> Check FO & BO => OK

tHANKS!

[2019-09-30 12:22] colinegin opened #15752 "[CLDR] Add / Edit currency page (1/3)"
Specs available here : https://github.com/PrestaShop/prestashop-specs/blob/master/core/back-office/Localization-Currencies-List-Add-Edit.md#currency-adding-editing-and-deleting
This User story is related to the EPIC #11660

RAF : 1 day

[2019-09-30 12:23] colinegin commented on #15752
Fixed by the PR #14972

[2019-09-30 12:23] #13254 closed, assigned to nobody

[2019-09-30 12:25] cma93 commented on #15742
I just checked. Order is being placed but I get "500 internal server error" (Debug mode is off).

Any idea what's wrong here?
Thanks.

[2019-09-30 12:27] marionf commented on #13254
Currently, no feasible test (manual or auto)
We must first decide which behavior should be kept to be consistent between all the pages

[2019-09-30 12:30] khouloudbelguith commented on #15751
Hi @idnovate,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-30 12:31] onkstudio opened #15753 "Wrong language displayed on front office in multistore mode"
**Describe the bug**
I have a multistore PS installation configured to display one different language for each store.

Shop 1 : French
Shop 2 : English

But on front-office, if I have each store opened in different tabs of my navigator, each time I refresh one of the store, the other one displays the wrong language after refresh.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a multi

[2019-09-30 12:43] khouloudbelguith commented on #15753
Hi @onkstudio,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9682
So, I close it.
Thanks!

[2019-09-30 12:43] #15753 closed, assigned to nobody

[2019-09-30 12:43] khouloudbelguith commented on #15753
Duplicate of #9682

[2019-09-30 12:56] khouloudbelguith commented on #15742
@cma93, it is Ok in my case.
https://drive.google.com/file/d/19ie8cWURLGsL8tSOFz7YjCC_q-sgArDH/view
Could you please try to re-install the ps_wirepayment module by removing it during the uninstall & clearing the cache.

Thanks!

[2019-09-30 12:59] khouloudbelguith commented on #15743
@hitinder, https://drive.google.com/file/d/1H0-2A6h5SkFTdl20NLDF4jRNxiiiN-Dt/view

Thanks!

[2019-09-30 13:03] khouloudbelguith commented on #15746
@tom75, but your main issue is:

The On Backorder status will be displayed if the stock available of your product is  < = 0 which is your case.

Thanks!

[2019-09-30 13:12] cma93 commented on #15742
same error here
![Screenshot (6)](https://user-images.githubusercontent.com/34143433/65882025-fff28d00-e39c-11e9-8627-64d4412ed7e6.png)

would you like to checkout my environment?

[2019-09-30 13:13] cma93 commented on #15742
I have changed the default location settings as well (if that may cause any problem).

[2019-09-30 13:15] khouloudbelguith commented on #15724
@SlashedAsteroid, I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1296grjYsCLvKahY8574XGt_chiuaK3Ms/view
Thanks to check & feedback.

[2019-09-30 13:16] khouloudbelguith commented on #15742
@cma93, what is the exact action provided by this cart rule (Discount amount, free shipping, gift,...)?

Thanks!

[2019-09-30 13:18] #13211 closed, assigned to nobody

[2019-09-30 13:19] cma93 commented on #15742
![Screenshot (7)](https://user-images.githubusercontent.com/34143433/65882611-08979300-e39e-11e9-8d16-3a79ca98f522.png)

Here you go

[2019-09-30 13:29] #12241 closed, assigned to PierreRambaud

[2019-09-30 13:31] khouloudbelguith commented on #9652
Hi @manel-roman,

It is could be similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/15684

Thanks!

[2019-09-30 13:35] khouloudbelguith commented on #15745
Hi @kermes,

Is it similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/15513?

Thanks!

[2019-09-30 13:44] colinegin commented on #12241
Congrats 👍

[2019-09-30 13:45] khouloudbelguith commented on #10248
Hi @Markosaar,

This issue cannot be reproduced.

Thanks!

[2019-09-30 13:47] tom75 commented on #15746
I think we are not talking about the same, as there is no need to have something on backorder when it is already paid by the customer.

Again:

·         Product A is having 1 item on stock.

·         Customer C is buying and paying for that item

·         Customer C gets the order confirmation and is happy

·         Customer C is getting then a few hours later an email which is telling him/her

[2019-09-30 13:49] khouloudbelguith commented on #15701
@ChMat, thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-09-30 13:49] #15701 closed, assigned to nobody

[2019-09-30 14:13] marionf opened #15756 "Image not correctly resized in FO product listing"
**Describe the bug**
Image not correctly resized in FO product listing

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a product and add the image below as cover.
2. See the product list in FO

Image used :
![Tshirt jaune3](https://user-images.githubusercontent.com/13449658/65883850-23670900-e398-11e9-922f-063b7f02a0de.jpg)

**Screenshots**
Develop branch
![capture d'écran_2027](https:/

[2019-09-30 14:18] khouloudbelguith commented on #15746
@tom75, THanks for these clarifications.
This issue occurs only when using this module https://addons.prestashop.com/fr/paiement-carte-wallet/1748-paypal-officiel.html?

Thanks!

[2019-09-30 14:22] khouloudbelguith commented on #15742
@cma93, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-09-30 14:24] #13497 closed, assigned to matks, jolelievre

[2019-09-30 14:24] tom75 commented on #15746
It looks like there is maybe the connection, as this module is including also “Braintree” which is the creditcard payment option of paypal – and they are doing a payment with additional verification, which is happening after the payment, but, in different time frames later on. And as it was working fine before the upgrade of prestashop 1.7.6 I can tell that normally the second status on a purchase

[2019-09-30 14:24] matks commented on #13497
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14489

[2019-09-30 14:29] khouloudbelguith commented on #15746
@tom75, this module is not provided by the PrestaShop team core.
So, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
https://addons.prestashop.com/fr/contactez-nous?id_product=1748
Thanks!

[2019-09-30 14:29] #15746 closed, assigned to nobody

[2019-09-30 14:37] khouloudbelguith commented on #15539
Hi @banan44,

The problem of the positions is fixed in the PS1.7.7.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14529 to fix the issue.
Your ticket is a duplicate of #14504
So, I close it.
Thanks!

[2019-09-30 14:37] #15539 closed, assigned to nobody

[2019-09-30 14:37] khouloudbelguith commented on #15539
Duplicate of #14504

[2019-09-30 14:39] cma93 commented on #15742
Sent

[2019-09-30 14:41] marionf commented on #15756
Issue related to this PR: https://github.com/PrestaShop/PrestaShop/pull/15748/

[2019-09-30 14:41] khouloudbelguith commented on #15742
@cma93, I just received the email.
I will check & feedback.

[2019-09-30 14:43] dineshbadrukhiya commented on #12241
As the demand is same feature like 1.6 version, Still we needs more improvement for product page.

[2019-09-30 14:46] manel-roman commented on #9652
Thanks for your answer.

So it seems it is a theme issue right?

[2019-09-30 14:54] fdonnet commented on #15080
@khouloudbelguith could you pls reopen this issue. Even with the new version 1.7.6.1 the problem persists and I was forced to roll back to 1.7.5.2.

I can send you the update log if needed.
Regards,
Fabien

[2019-09-30 14:55] khouloudbelguith commented on #9652
@manel-roman, yes!

[2019-09-30 15:06] matks commented on #15622
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15685

[2019-09-30 15:06] #15622 closed, assigned to PierreRambaud

[2019-09-30 15:13] MatShir commented on #14745
#11492

[2019-09-30 15:14] MatShir commented on #14745
#11492

[2019-09-30 15:17] khouloudbelguith commented on #15742
@cma93, In the BO => An alert, is displayed when I try to disable a cart rule
![image](https://user-images.githubusercontent.com/16067358/65892131-aa6ab000-e39d-11e9-94e7-bf7d557b8ee0.png)
Have you any custom module related to the cart rules?
Thanks!