[2020-06-09 08:34] jolelievre commented on #19627
Hello @Wiatrogon

Thank you for your feedback, this is indeed an issue that we noticed An issue has already been created for this https://github.com/PrestaShop/PrestaShop/issues/14527 It goes beyond services only, there are also limitations with Doctrine entities and even autoload files. The limitation is only during the install phase, because the PrestaShop core only scans for services and doctri

[2020-06-09 08:37] sarahdib commented on #19638
Hello @bmihm

in your console you need to do a "make install"

Thank you

[2020-06-09 08:37] Progi1984 commented on #17455
@ttoine Please open a new issue

[2020-06-09 08:37] #19638 closed, assigned to nobody

[2020-06-09 08:48] eternoendless commented on #19130
This is not a bug, the module's implementation is wrong.

Partial updates on an ObjectModel only work well when you specify the exact fields you want to update using `$product->setFieldsToUpdate()`. By default, ObjectModel assumes all the fields are supposed to be updated (which obviously won't yield good results if the object has been partially loaded).

This has been like so since 1.5

I'd reall

[2020-06-09 08:48] #19130 closed, assigned to nobody

[2020-06-09 08:54] bmihm commented on #19638
Hi @sarahdib .
I have a Windows. how to make install?

[2020-06-09 08:55] matks commented on #19638
There's plenty of solutions you can find on Google 😉 example https://stackoverflow.com/questions/32127524/how-to-install-and-use-make-in-windows

[2020-06-09 08:56] bmihm commented on #19638
this is how is look my admin.
![image](https://user-images.githubusercontent.com/64200021/84127555-b8e68c80-aa3f-11ea-96a3-2424d456e626.png)

This is how my shop is looking .

![image](https://user-images.githubusercontent.com/64200021/84127663-d7e51e80-aa3f-11ea-981d-77b1e8eaa3ea.png)

[2020-06-09 09:00] bmihm commented on #19638
why is this now, a few days ago I install the developer version and it's work perfectly.

[2020-06-09 09:03] eternoendless commented on #18956
"This issue cannot be reproduced in 1.7.7.0" --> this means the issue has been fixed. There's nothing more to discuss.

[2020-06-09 09:11] stijnvergote commented on #19640
Hi @matks,

Thank you for your reply.
I'm using the last stable version in production (1.7.6.5) so the hook isn't present yet.
But nice to see that this will be possible in the future!

Is there a solution for 1.7.6.5 or do I wait until 1.7.7 is stable?

Thanks

[2020-06-09 09:13] SD1982 commented on #19285
Hi @PrestaShop/prestashop-product-team I put this issue back in "To do" because points 1 and 2 are done by #19286 but point 3 does not yet have a PR !

[2020-06-09 09:16] eternoendless commented on #19638
https://devdocs.prestashop.com/1.7/development/compile-assets/#build-all-assets-at-once

[2020-06-09 09:19] SD1982 commented on #19285
Hi @PierreRambaud I reopen this issue only points 1 and 2 are dealt with by #19286 there is always point 3 to do !

[2020-06-09 09:37] juraj1000 opened #19643 "Terminology Best sellers/Best sales"
#### Describe the bug

There is used different terminology for the same functionality: Best sellers/Best sales

#### Expected behavior

I expect unified terminology, otherwise it is confusing for a business user

#### Steps to Reproduce

Steps to reproduce the behavior:
1. e-shop FO
2. Scroll down to 'Products' => see link 'Best sales'
3. Click on 'Best sales' => see 'Best sellers'  in the header

[2020-06-09 09:52] matks commented on #19633
Hi @aecarlosae what do you mean by "varnish support" ? Do you mean Edge Side Includes ?

Also I think varnish should be configured on front-office only 🤔 you do not need it for BO, do you ?

[2020-06-09 09:57] Tehnikus commented on #9867
Kind of quick fix workaround until this issue is fixed
Replace existing function in ProductLazyArray.php by this:

`    public function getQuantityDiscounts($id_product) {
        $result = null;
        $sql = new DbQuery();
        $sql->select('*');
        $sql->from('specific_price', 'sp');
        $sql->where('sp.id_product = '.$id_product);
        $sql->where('sp.from_quantity > 1');

[2020-06-09 10:00] juraj1000 opened #19644 "Incorrect information about taxes"
#### Describe the bug
There is used incorrect information about taxes "All prices are mentioned tax excluded". I understand this information that  VAT amount will be added for the prices. It is not correct because I use configuration "Enable tax" = No

#### Expected behavior
There are more different scenarios how e-shop can be configured:

1.  e-shop company is not VAT liable
- prices are without

[2020-06-09 10:30] Tehnikus opened #19645 "Truncate category description in BO"
#### Describe the bug

The description of category in admin category controller in BO is too long.
Such issue is already present and also fix provided, but it is closed and no activity
https://github.com/PrestaShop/PrestaShop/issues/14714

#### Expected behavior

Truncate category description to usable amount of symbols

#### Steps to Reproduce

Steps to reproduce the behavior:
1. Add several cate

[2020-06-09 10:32] Roland29 commented on #14351
Any update on this issue?

Thank you.

[2020-06-09 10:33] stijnvergote commented on #19640
@matks will you also add a hook into ProductListingPresenter?
That would do the job 👍

[2020-06-09 11:01] Matt75 commented on #10929
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/17351

[2020-06-09 11:15] bmihm commented on #17539
Hi.
this issue is work for me also and is in the 1.7.8.0 again.

[2020-06-09 11:26] christiaanderidder commented on #14322
Is there any update on the cause of this issue? I've checked the source code but cannot find any indication as to why the prices are calculated differently.

[2020-06-09 12:02] cadonovan commented on #19632
Hi Sarah You are misunderstanding the concept. Firstly, the dashboard item should be called “Gross Profit” and not “Net Profit” – these have different meanings from an accounting perspective and it is misleading to call it Net Profit. Secondly, the calculation is not about a commission rate paid, but it reflects your profitability rate. If your Average Gross Profit Margin Percentage was 100%, this

[2020-06-09 12:31] thalassa-web opened #19649 "Pack::isInStock - Incorrect value when changing shop context in a script"
#### Describe the bug

In a module I made, I can create/update products stock for some selected shops.
So I made a loop to switch the shop in the context.
But when I tried to get the current stock of a pack, something weird happens.
I use the method Pack::isInStock and if in the first shop I have no quantity, this method always return false for the other shops.

#### Expected behavior

Getting the

[2020-06-09 12:32] ttoine commented on #17455
@Progi1984 I did already, and it's mentioned in this discussion just below your comment.
https://github.com/PrestaShop/PrestaShop/issues/19603
It has been closed already.

[2020-06-09 12:45] Bekazede commented on #19630
Hi @florine2623

Thanks for your message !
On your video, you disable "Show delivery PDF." but you need to have this activate to see the bug.

Unchecked "Show delivery PDF." is the solution i found at this problem for the moment.

Can you try like that ?

[2020-06-09 13:08] sarahdib commented on #19635
@PrestaShop/prestashop-core-developers could you check this issue please :) ?

[2020-06-09 13:21] sarahdib commented on #19636
@juraj1000 you can change the separateur in your combinations by /
Product ABC (Size: X/M - Color: blue/green)

@PrestaShop/prestashop-product-team  What do you think about that ?
Allow customer to configure the attribute separator in the invoice.

[2020-06-09 13:36] Hlavtox opened #19650 "Provide an easy way to display product price without tax"
### Is your feature request related to a problem?
Customer wants to display product prices with and without tax in product lists and on product page.

I have to modify Prestashop core or write a module to do this, because formatted price without tax is not present in **$product**.

There is only **price_tax_exc**, which is the unformatted value (like 404.958678).
Is it possible for you to add **pr

[2020-06-09 13:52] Frankie-IT commented on #19626
Hi @florine2623 ,
I found here in assistance another problem identical to mine of 6 January 2019 that seems not to be solved yet because it is still open https://github.com/PrestaShop/PrestaShop/issues/12170

[2020-06-09 13:57] #18882 closed, assigned to nobody

[2020-06-09 14:04] sirdoy opened #19652 "$carrier.extraContent not showing"
Hi, in the shipping.tpl file there is this part of code:
[code]
but it doesn't display anything.
Is it normal for the variable $carrier.extraContent to display nothing?

[2020-06-09 14:15] NeOMakinG commented on #19611
Reproduced on 1.7.5 and 1.7.6.5, should not be considered as a regression I think, my bad

[2020-06-09 15:02] LouiseBonnard commented on #19636
Hello there, yep, it'd be nice to better distinguish the attribute name from its value. I ping our super Product Content Manager @Junebyun so that she can let us know what she thinks about this wording. ;-)

[2020-06-09 15:08] SD1982 commented on #19288
I was able to reproduce the issue with PrestaShop version develop , 1.7.7.x and 1.7.6.x

I’ll add this to the debug backlog so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you!

[2020-06-09 15:12] Amit-Kumar-Tiwari-Webkul commented on #19288
@SD1982 Hi,
I already send a pull request https://github.com/PrestaShop/PrestaShop/pull/19289 to resolve this issue.
Thanks-

[2020-06-09 15:17] sarahdib commented on #19637
hello @juraj1000

I didn't reproduce
<img width="671" alt="Capture d’écran 2020-06-09 à 17 14 56" src="https://user-images.githubusercontent.com/3034677/84166291-ffa2a980-aa74-11ea-931b-8a6b8d4a29da.png">

Did you re-generate email ?

Thank you

[2020-06-09 15:30] Shoprunners opened #19654 "Product Properties Caching causes errors"
#### Describe the bug

When re-calculating frontend prices due to quantity change in the presence of quantity discounts, prices will not be correctly recalculated due to Product::getProductProperties caching the results with improper cache keys.

Either the cache key must reflect more / all of the function parameters (as would make sense!) or the caching needs to be dropped entirely. But caching s

[2020-06-09 15:41] havkacik commented on #9542
It seems that the issue is still present in 1.7.6.4. Any ideas why is it still occurring? Many thanks for any answers.

![3fd3ln6ht1z8l0z84rz9xn7u3oa7qs7b_anonymized](https://user-images.githubusercontent.com/42381163/84169031-68d7ec00-aa78-11ea-9713-b5933f84d58b.png)

[2020-06-09 15:50] sarahdib commented on #19649
@PrestaShop/prestashop-core-developers could you check ?

[2020-06-09 15:57] KwabeaAtakora opened #19656 "Error on Prestashop Admin Page"
Hi,

I get the error below on my admin page after migrating. The shop works well though.

Notice: tempnam(): file created in the system's temporary directory in /var/www/urban/classes/PrestaShopAutoload.php on line 258

Warning: rename(/tmp/class_index.phpXFECOe,/var/www/urban/var/cache/dev/class_index.php): No such file or directory in /var/www/urban/classes/PrestaShopAutoload.php on line 264

No

[2020-06-09 16:05] #19288 closed, assigned to nobody

[2020-06-09 16:15] juraj1000 commented on #19637
Could you please send me exact info how I could regenerate it?

[2020-06-09 16:17] sofiaulakova opened #19658 "incorrect work ps_facetedsearch"
#### Describe the bug

The multilevel filtering module on my site does not work correctly after the update. The price half-price bar is not displayed on all category pages. Only sometimes in subcategories. What should I do? I don’t understand what the problem is, I am not a programmer and I don’t know where the error is possible. I asked tech support for my topic, they said that they also don’t kn

[2020-06-09 17:20] LouiseBonnard commented on #19558
Okay @Hlavtox, thanks for this information. In which case(s) would a merchant disable tax on his/her store? We'd be interested in studying some examples!

[2020-06-09 17:36] olecorre opened #19659 "1.7.7 beta - Creating a command from the backoffice does not work - JS errors in console - fancybox is not a function"
I have a js error

"TypeError: y(...).fancybox is not a function"

impossible to choose a customer and if I create one, the window does not review on the creation of order

[2020-06-09 19:24] rflorent opened #19661 "Broken theme after 1.7.6.3 update"
#### Describe the bug

Prestashop updated from 1.7.5 to 1.7.6.
The themes/core.js example changes :
1.7.5 => (0,r.default)(".product-prices").replaceWith(e.product_prices)
1.7.6 => (0,r.default)(".quickview .product-prices, .page-product:not(.modal-open) .row .product-prices").replaceWith(e.product_prices)

This changes broke the theme's templates bought on addons market place.
Why using a specifi

[2020-06-09 19:55] aecarlosae commented on #19633
Hi @matks, I mean [Varnish](https://en.wikipedia.org/wiki/Varnish_(software)). It's just an HTTP accelerator for speeding up servers but when it is enabled, Prestashop backoffice automatically ends sessions after some clicks on any link.

I wanna know if PS need some extra configurations in order to work with this server service.

[2020-06-09 20:19] mecene commented on #19641
We have the exact same issue using the Braintree's paypal payment solution.
If the last item is bought using paypal, the order status become "Awaiting for Braintree validation",
once the Brantree validation is confirmed (1-2 hours later) the status changed to "backorder (paid)" and a misleading "Out of stock, waiting for replenishment" email is sent to the customer.

It seems that the braintree pa

[2020-06-09 20:32] matks commented on #19633
AFAIK, PrestaShop does not work out-of-the-box with Varnish but some people succeeded in making it happen ... and sell this knowledge 😉 see https://www.softizy.com/blog/varnish-cache-prestashop-black-friday/ for example

[2020-06-09 20:45] MatShir commented on #19573
**Label when in stock field**
Maximum 255 characters.
If you try to enter more than 255 chars, an error message is displayed

![capture d'écran_1753](https://user-images.githubusercontent.com/13449658/60960631-bd279880-a30a-11e9-8ec5-c9001621c6f4.png)

- [ ] Instead of this, we should have an error under the field: “This value is too long. It should have 255 character or less.”

Prohibited charact

[2020-06-09 20:50] MatShir commented on #19571
### - Issues in **quantities tab** sorted by priority high to low :

**Should-Have**
- [ ] #13147

[2020-06-09 21:11] fabiodc95 commented on #14653
@Dupflo
Hello, I have the same exact issue, how did you solve it?

[2020-06-09 21:23] MatShir opened #19662 "[Virtual Product tab] - Quantity 1/4"
As a merchant I want to be able to manage my virtual products

* **Quantity**: This field is not displayed if stock management is disabled in Shop parameters &gt; Products settings.
When you update the field in virtual product tab, the same field in basic settings tab is updated.
The quantity is displayed in front-office if the option “Display available quantities on the product page” in Shop para

[2020-06-09 21:24] MatShir opened #19663 "[Virtual Product tab] - Stock 2/4"
As a merchant, I want to be able to manage my virtual products

* **Stock location**: This field should not be displayed for a virtual product \([issue 9323](https://github.com/PrestaShop/PrestaShop/issues/9323)\)
* **Low stock level**: You can define value and choose or not receive an email when the product quantity is &lt;= to this value.
* **Send me an email when the quantity is below or equals

[2020-06-09 21:25] MatShir opened #19664 "[Virtual Product tab] - Associated files 3/4"
As a merchant, I want to be able to manage my virtual products

**Associated files ?**: There is two radio buttons: Yes & No. By default, No is checked.
If you check Yes, new fields are displayed:
  * **Browse file**: You can search and upload a file. This field disappears after uploading a file and clicking on save. It’s replaced by “Download file” and “Delete this file” actions, so you can uploa

[2020-06-09 21:27] MatShir opened #19665 "[Virtual Product tab] - Availability preferences 4/4"
As a merchant I want to be able to manage my virtual products.

**Availability preferences, behavior when out of stock:**

This field is not displayed if stock management is disabled in Shop parameters &gt; Products settings.

3 radios buttons:

1\) **Deny orders**: when it’s checked and product quantity is &lt;= 0, in front-office product page and quick view, the message filled in Shop parameters

[2020-06-09 21:29] MatShir commented on #19663
### - Issues related to **virtual product** sorted by priority high to low :

**Nice to Have**
- [ ] #9623

[2020-06-09 21:38] MatShir opened #19666 "[Shipping tab ] - Package dimension 1/4"
As a merchant, I want to be able to manage carriers' information for my products.

Here is the list of the elements of shipping tab:

* **Width**: By default it’s filled with 0.
I set the width, carriers that does not accept products greater than this width are not displayed in front-office.
The dimension unit displayed next to the field is the one defined in International &gt; Localization.
To se

[2020-06-09 21:40] frevab commented on #19575
Since a few days I am receiving an increase quantity of emails from the contact form on our PS webshop that only has some randow charaters as a message. Each day  a few at least. Usually 2 contact form emails with identical email adresses. When I look in the BO customer service messages there is a 2nd message showing to/from  the same email address . What can be the use or mis-use of this ?

![BO]

[2020-06-09 21:41] MatShir opened #19667 "[Shipping tab ] - Delivery Time 2/4"
As a merchant, I want to be able to manage carriers' information for my products.

**Delivery time**: 3 radio buttons:

  1\) **None**: No delivery time is displayed on the product page in front-office
  2\) **Default delivery time**: If the product is in stock, the value filled in Shop parameters &gt; Products settings &gt; “Delivery time of in-stock products” is displayed on the product page in

[2020-06-09 21:43] MatShir opened #19668 "[Shipping tab ] - Shipping fees 3/4"
As a merchant, I want to be able to manage carriers' information for my products.
* **Additional shipping fees**: By default, it’s filled with 0.000000
The amount is added to the total shipping cost according to the carrier selected in front-office.

[2020-06-09 21:44] MatShir opened #19669 "[Shipping tab ] - Available carriers 4/4"
As a merchant, I want to be able to manage carriers' information for my products.

**Available carriers**: Checkbox with all carriers with the id of the carrier, the name and the delay .

By default, all available carriers should be checked and displayed in Frontoffice. If a carrier isn't checked, it's not displayed in front-office.

A bulk action allows to select/unselect all carriers

[2020-06-09 21:44] MatShir commented on #19669
### - Issues in **shipping tab** sorted by priority high to low :

**Improvement**
- [ ] #15377

[2020-06-09 21:50] MatShir commented on #19668
**Additionnal shipping fees**
Decimal field. If you enter something other than numbers and save, a success message "Settings updated" is displayed and 0 stays in the field.

- [ ] Instead of this, we should have an error displayed under the field: “This value is not valid”.

[2020-06-09 21:50] MatShir commented on #19666
**Width, Height, Depth, Weight fields**
Decimal fields. When there is more than 15 numbers, it says "settings updated" and everything after the 15th number is not saved.

- [ ] Instead of this, we should have an error displayed under the field: “This value is not valid”.

If you enter more than 3 numbers after the dot/comma and save, you have a success message "settings updated" but when you refre

[2020-06-09 21:50] MatShir commented on #19667
**Delivery time of in-stock products & Delivery time of out-of-stock products with allowed orders fields**
Maximum 255 characters.
If you try to enter more than 255 chars, an error message is displayed

![capture d'écran_547](https://user-images.githubusercontent.com/13449658/61285115-9c56bb80-a7c0-11e9-8808-9a84c41ddf9e.png)

- [ ] Instead of this, we should have an error under the field: “This v

[2020-06-09 21:52] frevab opened #19670 "Contact form misuse"
Since a few days I am receiving an increase quantity of emails from the contact form on our PS webshop that only has some randow charaters as a message. Each day a few at least. Usually 2 contact form emails with identical email adresses. When I look in the BO customer service messages there is a 2nd message showing to/from the same email address . What can be the use or mis-use of this ?

![BO](h

[2020-06-09 22:02] MatShir opened #19671 "[Pricing tab] - Retail price 1/4"
As a merchant, I want to be able to manage the prices of my products.

Here is the list of the elements of the pricing tab:

* **\(Retail\) price tax excl ecotax included**: "ecotax included" is displayed only if the “ecotax” option is enabled in International &gt; Taxes. Except for a virtual product.
When a value is filled, the price tax incl field is calculated automatically according to the tax

[2020-06-09 22:04] MatShir opened #19672 "[Pricing tab] - Cost price 2/4"
As a merchant, I want to be able to manage the prices of my products.
* **Cost price tax excl**: By default, it’s set to 0.000000
It’s used for margin calculations.
To separate decimals a dot or a comma can be used, both should work no matter the language.

[2020-06-09 22:06] MatShir opened #19673 "[Pricing tab] - Specific prices 3/4"
As a merchant, I want to be able to manage the prices of my products.

**Add a specific price**: You can’t add the same specific price with same conditions twice. If you try, you have an error message “A specific price already exists for these parameters.” and the second specific price isn’t created.
This button opens a form with the following fields :
  * **Currencies**: Dropdown with all the cur

[2020-06-09 22:07] MatShir opened #19674 "[Pricing tab] - Priority management 4/4"
As a merchant, I want to be able to manage the prices of my products.

**Priorities** - Option selector
2 options:
* Default (Displays the configuration settings from the Product Setting page)
* Specific to this product

When Specific to this product is selected
THEN the user can select the order of the condition and displays 4 dropdowns with the 4 options: Shop, Currency, Country, Group.

By defa

[2020-06-09 22:08] MatShir commented on #19671
**Price tax excl & price tax incl fields**
Prices tax incl & excl are decimals fields. If you enter more than 10 numbers before the dot/comma and save, an error is displayed "The price field in invalid"

![capture d'écran_1843](https://user-images.githubusercontent.com/13449658/61810814-60ff6100-ae40-11e9-87e9-5b64a9f439aa.png)

- [ ] Instead of this, it could be good to add an error message under

[2020-06-09 22:08] MatShir commented on #19673
**Starting at**
Integer field. If you enter more than 9 numbers and save, an error message is displayed "No reduction value has been submited."

![capture d'écran_1847](https://user-images.githubusercontent.com/13449658/61873571-92326c80-aee6-11e9-946f-4af80c772ee8.png)

- [ ] Instead of this, we should have an error displayed under the field: “This value is not valid”.

If you enter a number with

[2020-06-09 22:16] frevab opened #19675 "vendor/phpoffice/phpexcel/ can I delete these ?"
In the BO of my shop I can find a liost of changes files.
In this list there are many that start with:

vendor/phpoffice/phpexcel/

What are they for as I don't use any Excel with PS and can I delete them all ?

[2020-06-09 22:22] MatShir opened #19676 "[EPIC] Product List"
## Empty case

## Listing
- [x] #20221 - [BO][PRODUCTS] Add product count filtered **`Nice to have`**
- [x] #10236 - Alt tag empty in product listing BO
- [x] https://github.com/PrestaShop/PrestaShop/issues/27757

**In the header, there is "New product" button allowing to open the form to create a new product**

## Settings wheel

## Bulk actions drop-down
- [ ] #22906 - Mass action -> Stock avail

[2020-06-09 22:24] MatShir commented on #19676
**Must-have**:
https://github.com/PrestaShop/PrestaShop/issues/10792

[2020-06-09 22:30] MatShir commented on #19671
**Must-Have**
- [ ] #9855 ecotax
- [ ] #15044 ecotax
- [x] #10026 ecotax
- [ ] #10030 ecotax
- [ ] #14093 ecotax
-[ ] #/12078

- [ ] #15038 ecotax

[2020-06-09 22:30] MatShir commented on #19673
### - Issues in **price tab** sorted by priority high to low :
**Regression on develop**
- [ ] https://github.com/PrestaShop/PrestaShop/issues/18751#event-3336713500

[2020-06-09 22:32] aecarlosae commented on #19633
Should I add this as a new **Feature Request**?

[2020-06-09 22:41] MatShir commented on #19672
**wording**
- [ ] #18701

[2020-06-09 23:05] MatShir opened #19677 "[SEO tab] - Search Engine Optimization 1/2"
As a merchant, I want to be able to manage my SEO information for my products.

* **SEO preview**: It is a preview of your search engine result, it allows to see how your product page will appear in search engine results.
If the meta title field is empty, the product name is displayed.
If I edit the product name and if there is nothing in the meta title field, it’s displayed directly in the previe

[2020-06-09 23:07] MatShir opened #19678 "[SEO tab] - Redirection page 2/2"
As a merchant, I want to be able to manage my SEO information for my products.

**Redirection when offline**: Dropdown with 5 options:
1\) **Permanent redirection to a category \(301\)**: When my product is offline, I choose a category to redirect to.
This is a "definitive" redirection and therefore this parameter is saved in the browser cache and even when I reactivate the product, the redirectio

[2020-06-09 23:08] MatShir commented on #19677
**Meta title**
Maximum 128 characters.
If you try to enter more than 128 chars and save, you have a success message "Settings updated" and everything after the 128th character is deleted

- [ ] Instead of this, we should have an error under the field: “This value is too long. It should have 255 characters or less.”

**Meta description**
Maximum 512 characters.
If you try to enter more than 512 cha

[2020-06-09 23:08] MatShir commented on #19677
### - Issues in **SEO tab** sorted by priority high to low :

**Should-Have**
- [ ] #14984
- [ ] #15936
- [ ] #17078
- [x] #14054

**Improvement**
- [ ] #14317

[2020-06-09 23:17] MatShir opened #19679 "[Options tab] - Visibility 1/5"
As a merchant, I want to be able to manage the options of my products.

**Visibility**: Drop-down with 4 options. By default, everywhere is selected.

  1\) **Everywhere**: The product is displayed in the catalog \(categories\) and can be found if you search for it.
  2\) **Catalog only**: The product is displayed in the catalog \(categories\) and can’t be found if you search for it.
  3\) **Searc

[2020-06-09 23:18] MatShir opened #19680 "[Options tab] - Condition & References 2/5"
As a merchant, I want to be able to manage the options of my products.

* **Condition**: Drop-down with 3 options: New, Used, Refurbished. By default, New is selected.
* **Display condition on product page**: Checkbox, by default it’s not checked. When checked, the condition is displayed on the product page in front-office.
* **ISBN**: Field, only numbers are accepted. The International Standard B

[2020-06-09 23:18] MatShir opened #19681 "[Options tab] - Customization 3/5"
As a merchant, I want to be able to manage the options of my products.

**Add a customization field**: You can click several times on this button to add multiple customization fields. Fields are displayed on the product page in front-office. When you click on it that opens a form with the following fields:
  * **Label**: Enter the name of the field which is displayed on the product page in front-o

[2020-06-09 23:20] MatShir opened #19682 "[Options tab] - Attached files 4/5"
As a merchant, I want to be able to manage the options of my products.

**Attach a new file**: Button allowing to add files to the product page. When you click on it, a form is opened with the elements below. If you click a second time on it, the form is closed. If you want to add many files, you need to add the first one before adding another one.
  * **Choose files**: You can browse and choose f

[2020-06-09 23:22] MatShir opened #19683 "[Options tab] - Suppliers 5/5"
As a merchant, I want to be able to manage the options of my products.

**Suppliers**: This part is displayed only if you have created and enabled at least one supplier. Indicating the product's supplier is not really important for customers, but it may turn out to be an essential part for the merchant’s internal management, not least when managing stock: the merchant simply needs to know who he b

[2020-06-09 23:24] Dupflo commented on #14653
Sorry mate I remember I just reinstall a copy of the website ...

[2020-06-09 23:32] MatShir commented on #19683
**Supplier reference**
1. If you try to enter more than 65 chars and save, you have an error message: "Unable to update settings"

- [ ] Furthermore, we should have an error under the field: “This value is too long. It should have 65 characters or less.”

Invalid characters are: <>={};

2. If you enter an invalid character and save, you have an error message: "Unable to update settings"

- [ ] Fur

[2020-06-09 23:33] MatShir commented on #19682
**Attach a new file: title**
1. If you try to enter more than 32 chars and save, you have no error or success message, nothing happens and the Add button is disabled. If you refresh the page,  the file has been uploaded but without title.

- [ ] Instead of this, we should have an error under the field: “This value is too long. It should have 32 characters or less.”

Invalid characters are: <>={} (

[2020-06-09 23:33] MatShir commented on #19681
**Label customization field**
1. If you try to enter more than 255 chars and save, you have a success message "Settings updated" but everything after the 255th char isn't saved.

- [ ] Instead of this, we should have an error under the field: “This value is too long. It should have 255 characters or less.”

Invalid characters are: <>

2. If you enter an invalid character and save, you have a succe

[2020-06-09 23:34] MatShir commented on #19679
**Tags**

Maximum 32 characters.
1. If you try to enter more than 32 chars and save, you have a success message "Settings updated" but the tag isn't saved.

- [ ] Instead of this, we should have an error under the field: “This value is too long. It should have 32 characters or less.”

Invalid characters are: <>;=#{} (% shouldn't be invalid, see #15553)

2. If you enter an invalid character and sav

[2020-06-09 23:37] MatShir commented on #19683
### - Issues in **options tab** sorted by priority high to low :

**Nice to Have**
- [ ] #9580

[2020-06-10 04:57] dn1353 commented on #11571
@MatShir
Thank you, Sir,
I found the free and Open Source JavaScript Calendar. (https://fullcalendar.io) that support All localized Dates such as Persian.
I wish we cloud integrate this library to Prestashop 1.7.7.x
![fullcalendar](https://user-images.githubusercontent.com/62265204/84228555-95cde280-aafc-11ea-8dae-40d3f7b3c59b.JPG)

[2020-06-10 06:05] davoud-najjari commented on #11571
Hi, thank you for reply <
but as you know Persian date works with the Jalali calendar that doesn't
exist in the Arabic language. the name of the months in the Persian
language must be translated to Persian as well.
for better understanding please have look at below links :
1- https://www.drupal.org/project/calendar_systems
2- http://babakhani.github.io/PersianWebToolkit/doc/datepicker/example/
tha

[2020-06-10 06:54] Wiatrogon commented on #19627
Thank you @jolelievre :)

[2020-06-10 07:21] Matt75 commented on #19575
Hi @frevab

You should install a captcha module to avoid spam, if you have already one, you should try another more robustly

[2020-06-10 08:01] juraj1000 opened #19684 "PrestaShop Cleaner doesn't clean data"
#### Describe the bug
PS Cleaner didn't clean these data:
- addresses for brands
- stores
- images for stores
- shop contacts
- aliases for search

#### Expected behavior
All data should be cleaned

#### Steps to Reproduce
Run PS Cleaner

* PrestaShop version: 1.7.6.5
* PHP version: 7.1.13

[2020-06-10 08:03] Progi1984 commented on #19440
Ping @eternoendless @PierreRambaud

[2020-06-10 08:14] matks commented on #19633
Well, you can indeed 😊

One note: I think making PS varnish-compliant is easier and more useful on front-office (because lot of customers and you need short response times) than for back-office

[2020-06-10 08:16] matks commented on #19575
@PierreRambaud could it be used to create a registry of existing customers ?

For example, you have a database of 1 million stolen emails, you want to check if they have customer accounts into myshop.com, so you use the contact form to give you an hint whether or not the customer is registered inside this shop ?

[2020-06-10 08:18] TristanLDD commented on #19639
Hello @juraj1000, thanks for your report.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration - PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
...
You don't know how to get this information? Please read the following article

[2020-06-10 08:26] matks commented on #19675
PrestaShop is able to import data from Excel files as well as CSV files which is why it has these files.

Removing these files might break your "Import" page 🤔 however you should check why they appear as "changed"

[2020-06-10 08:30] TristanLDD commented on #19670
Hi @frevab,
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration - PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
...
You don't know how to get this information? Please read the following article: http://build.prestashop.com/

[2020-06-10 08:32] TristanLDD commented on #19656
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration - PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
...
You don't know how to get this information? Please read the following article: http://build.prestashop.com/howtos/misc/

[2020-06-10 08:34] fabiodc95 commented on #13913
Hello @khouloudbelguith  I've the same problem here, but I cannot access to PS Backoffice to force the cache compilation. How can I get the same result using only files and db access?

Thanks

[2020-06-10 09:01] juraj1000 opened #19685 "ISBN and EAN codes are not visible"
#### Describe the bug
We use ISBN and EAN codes for product books. These codes are not visible in the product page also they are not visible in invoices, delivery slips...

#### Expected behavior
We expect that a bussiness user can see these codes if there are filled any values

#### Additional information
* PrestaShop version: 1.7.6.5
* PHP version: 7.1.13

[2020-06-10 09:08] #18523 closed, assigned to Progi1984

[2020-06-10 09:13] TristanLDD commented on #19659
Hi @olecorre, thank you for the report.

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration - PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
...
You don't know how to get this information? Please read the following article:

[2020-06-10 09:18] #19561 closed, assigned to nobody

[2020-06-10 09:23] olecorre commented on #19659
Host : http://preprod17.optimumlight.com (private preprod)
Server : apache with PHP 7.2, no SSL
PrestaShop 1.7.7.0 beta from github
No debug mode
No apache error or PHP error
Screenshots joins

Two JS errors, test with firefox and chrome

<img width="1435" alt="Capture d’écran 2020-06-10 à 11 21 44" src="https://user-images.githubusercontent.com/2854750/84250741-bc941500-ab0c-11ea-90fe-070ca6a8f

[2020-06-10 09:33] #17075 closed, assigned to sarahdib

[2020-06-10 09:38] marionf commented on #19620
@matks @florine2623 Could you add missing labels ? Is it a regression of develop branch ?

[2020-06-10 09:38] Flower7C3 opened #19686 "Multishop listing in BO"
#### Describe the bug

In my opinion when I click on single shop URL, there should be listed URLs only for given shop, not for all.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Back Office' and go to 'MultiShop management'
2. Click on 'shop url'
3. Urls from all shops will be displayed

**Screenshots**
Tree list

![Zrzut ekranu 2020-06-10 o 10 27 43](https://user-images.gi

[2020-06-10 09:40] marionf commented on #19608
@florine2623 Could you add missing labels (bug or improvement, the severity) ?

[2020-06-10 09:40] marionf commented on #19605
@NeOMakinG Could you add the bug label ?

[2020-06-10 09:41] marionf commented on #19575
@florine2623 could you close the issue if there is no change required ?

[2020-06-10 09:43] juraj1000 commented on #19639
Here is the configuration
![image](https://user-images.githubusercontent.com/33311857/84252958-991e9980-ab0f-11ea-8125-c54ce53a89e8.png)

[2020-06-10 09:46] matks commented on #19620
It's an old bug, I think it was always there (but we found it while working on the migration of the page).

[2020-06-10 10:07] TristanLDD commented on #19670
Hi @frevab, thanks for the report.

It seems like your problem is not a PrestaShop core bug, unfortunately I will have to close it. However I would recommend the use of a captcha in this situation.

Thank you.

[2020-06-10 10:07] #19670 closed, assigned to nobody

[2020-06-10 10:13] hitinder opened #19687 "Add to cart is super slow, very high TTFB sometimes reaching to 20 seconds when applying discount codes"
Prestashop v1.7.5.1 becomes extremely slow and takes about 5-10 seconds to add a product to the cart. Wen a coupon/discount code is applied it has reached 25 seconds. Most of the time is taken by TTFB. The slow speed issue starts only for the cart related operations.

**Steps to Reproduce**

1. Go to any category
2. Click on 'Add to cart'
3. Scroll down to 'Click on cart'
4. Apply coupon

**Screen

[2020-06-10 10:27] MatShir commented on #11388
Hey @Matt75,
Do you know if this issue is related to MBO ?

[2020-06-10 10:28] colinegin commented on #9952
Hello @PierreRambaud , do you think there's anything left to do ?

[2020-06-10 10:44] Matt75 commented on #11388
This issue occur when MBO is not installed so it’s a Core issue 👌🚪

[2020-06-10 10:45] KwabeaAtakora commented on #19656
@TristanLDD I ve solved it. I had to set the permissions to directories and files to 777

[2020-06-10 10:45] #19656 closed, assigned to nobody

[2020-06-10 10:46] juraj1000 opened #19688 "Order number as an order reference"
#### Is your feature request related to a problem?
Very often companies want to use value of an order number as "Order Reference" in an invoice. They want to use the Order Reference - without leading zeroes, without any characters, without year (e.g: Order Reference = 1020). It is common that this reference is often used also in bank transfer as a payment reference number which is required for cle

[2020-06-10 10:58] mecene commented on #19641
@lisapowerlifts
I may have found a quick fix for this issue.
The module dynamicaly change the status of the order which triger an email notification.
When a client use Paypal to order an item, the Braintree validation takes up to two hours to confirm the payment and then change the status of the order using the functions "hookDisplayBackOfficeHeader" from braintreeofficial/braintreeofficial.php.
T

[2020-06-10 11:06] lisapowerlifts commented on #19641
Thank you very much! That would mean the problem ist in the Braintree-Module, not with Prestashop?

By changing to <0 one technically disables the if bracket (commenting it out should have the same effect?), since the case <0 never is true.

I guess for a clean solution one would have to rewrite the bracket to only detect products that have been sold too many times...

I just deactivated the mail-

[2020-06-10 11:32] eternoendless commented on #19661
I found the offending change: https://github.com/PrestaShop/PrestaShop/pull/16852 (merged in 1.7.6.3).

@NeOMakinG do you think we could have done it without the `.row` part in the selector?

[2020-06-10 11:39] Progi1984 commented on #19444
Fixed by PrestaShop/pscleaner#45

[2020-06-10 11:39] #19444 closed, assigned to Progi1984

[2020-06-10 11:46] #11011 closed, assigned to NeOMakinG

[2020-06-10 11:47] Progi1984 commented on #17376
@NeOMakinG Could check that #17651 fixes this issue ?

[2020-06-10 11:48] jolelievre commented on #19341
I managed to reproduce the same behaviour with 176 It happens when `Order::refreshShippingCost` because it duplicates the cart, empty it and then refills it with the order products...

We could change the whole `refreshShippingCost` method to avoid duplicating the cart but I'm not sure it's worth the effort right now

[2020-06-10 12:22] #18503 closed, assigned to matks

[2020-06-10 12:57] sam-pires opened #19689 "[EPIC] - FO performance"
This Epic list issues regarding the product page performance in the front-office.

Some of these issues might be related to broader issues impacting the Back-office as well

## BUGS

- [x] #12915
- [ ] #14979
- [ ] #23793
- [x] #26787
- [ ] #14935
- [x] #15181
- [x] #29259

**Initial behavior not clear, need investigation**
- [x] #18606
- [ ] #21661

## Features

**Improvements regarding the categ

[2020-06-10 12:59] MatShir opened #19690 "[EPIC] - Carriers"
All issues related to Carriers

## BUGS

**Major**
- [ ] #18936
- [x] #9688

**Minor**
- [x] #16521
- [x] #13669

**Trivial**
- [x] #27088

## IMPROVEMENT

**New features in Carrier page**

- [x] #12901
- [ ] #13828
- [ ] #19806
- [x] #21078

## Fixed
- [x] #25208
- [x] #11388
- [x] #21640
- [x] #25800
- [x] #22877
- [x] #20023

[2020-06-10 13:05] #19687 closed, assigned to nobody

[2020-06-10 13:13] iqit-commerce opened #19691 "Missing data on product listing with Faceted Search"
#### Describe the bug

When ps_facetedsearch(latest 3,5,0 version) module is enabled in removes some products variable which are normally avaiable for category listigns or others. Also in older version of ps_facetdesearch it was working fine

#### Expected behavior
should return variable value
#### Steps to Reproduce

Add {$product.manufacturer_name} in themes > template name > template > catalog

[2020-06-10 13:19] #13252 closed, assigned to nobody

[2020-06-10 13:20] #19036 closed, assigned to nobody

[2020-06-10 13:35] MatShir opened #19693 "[EPIC] - Payment preferences"
All the issues related to Payement preferences

## BUGS

**Major**

- [ ] #18936 - Can't save when there are too many carriers and payment method

**Minor**

## IMPROVEMENT

[2020-06-10 13:48] #18821 closed, assigned to nobody

[2020-06-10 13:58] MatShir opened #19695 "[EPIC] - Multistore for Carriers"
All the issues related to carriers with Multistore.

## BUGS

**Minor**
- [x] #12732 - When multistore is enabled, all countries are displayed in address instead of only those covered by active carriers
- [ ] #18833 - [Multishop] Cannot disable a carrier for only one shop

**Major**

## IMPROVEMENT

[2020-06-10 14:08] SimonGrn opened #19696 "Fixtures are always installed when using the CLI installer"
## Describe the bug

When you use the CLI installer (`install-dev/index_cli.php`) to install a shop, there is no option to disable the fixtures installation.

#### Expected behavior

There should be a parameter to disable fixture installation when using the CLI install script.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. launch the `install-dev/index_cli.php` with your relevant p

[2020-06-10 15:05] #19575 closed, assigned to nobody

[2020-06-10 15:08] #9582 closed, assigned to nobody

[2020-06-10 15:29] colinegin opened #19699 "[EPIC] - Permissions & Team issues"
### Errors in permissions page

- [ ] PrestaShop/PrestaShop#9572
- [ ] PrestaShop/PrestaShop#41011
- [x] PrestaShop/PrestaShop#10216

### Modules permissions

- [ ] PrestaShop/PrestaShop#9786
- [x] PrestaShop/PrestaShop#9874
- [ ] PrestaShop/PrestaShop#27535
- [ ] PrestaShop/PrestaShop#28308
- [ ] PrestaShop/PrestaShop#29473

### Problems with add / edit permissions and access

- [x] PrestaShop/Pr

[2020-06-10 15:29] #9887 closed, assigned to nobody

[2020-06-10 15:37] #12588 closed, assigned to nobody

[2020-06-10 15:44] guigplt opened #19700 "Recompile CSS with CCC activated"
#### Describe the bug

I have activated Smart cache some months ago to improve performance.
Since I made this, when I clear cache from back office, it takes about 10 minutes to recompile, and the front is unavailable during this time.

So now if I do some modification in tpl files, I clear the cache manually by deleting folder var/cache/prod.

But if I do modifications on css files, it's not recom

[2020-06-10 15:50] sam-pires opened #19701 "[EPIC] - Caching system & Performance"
Issues related to the caching system in PrestaShop.

## Bugs
- [ ] #18171
- [x] #11145
- [ ] #14703
- [x] #17121
- [x] #9793
- [x] #9794
- [x] #25211
- [x] #25808
- [x] #21238
- [x] #29205
- [ ] #29298
- [ ] #29868
- [x] #31727

## Features
- [ ] #13558
- [x] #13389
- [x] #11038
- [x] #19168
- [ ] #19174
- [ ] #13226
- [x] #25683
- [ ] #13749
- [x] #30763

## Fixed
- [x] #22197
- [x] #26772
- [x]

[2020-06-10 15:51] #16595 closed, assigned to nobody

[2020-06-10 15:52] #16589 closed, assigned to nobody

[2020-06-10 15:52] #16594 closed, assigned to nobody

[2020-06-10 15:55] #16599 closed, assigned to nobody

[2020-06-10 16:01] #16600 closed, assigned to nobody

[2020-06-10 16:02] #16604 closed, assigned to nobody

[2020-06-10 16:12] colinegin opened #19702 "Add new UI kit for cards in MBO"
The new ui for cards has been integrated in the core, it would be a nice improvement to add it in MBO too.

See the initial issue here : https://github.com/PrestaShop/PrestaShop/issues/16608

[2020-06-10 16:14] #16608 closed, assigned to nobody

[2020-06-10 16:16] #16587 closed, assigned to prestascott

[2020-06-10 17:27] jf-viguier opened #19705 "Two confidentiality checkbox on customer sign-up"
On a fresh 1.7.7 beta 1 install on php 7.2, there is two checkbox for confidentiality at customer creation time.
Let's see this
![double-confidentialite](https://user-images.githubusercontent.com/16720275/84298857-1669fe80-ab50-11ea-9d0f-f22fb60c66f5.png)

[2020-06-11 05:24] Caleydon opened #19707 "Credit slip numbering need reset each year + other invoicing improvements"
Hi,

I would like to see some new features :
* Be able to reset Credit Slip number every year (_similar feature in Invoice existing_)
* Add current year automatically in Credit Slip number (_similar feature in Invoice existing_)
* In a Credit Slip, display the invoice number related

And lastly :
* In a multistore environment, I would like to be able to identify which multistore the Credit Slip /

[2020-06-11 06:18] NeOMakinG commented on #9699
Probably :)

[2020-06-11 06:36] mrabsinthe opened #19708 "Orders incorrectly counted in Stats dashboard, wrong payment distribution"
#### Describe the bug

There are two parts of this issue:
1/ placed orders are recorded based on the latest status change (shipped) instead of on date of order. If you do not ship daily, this will make a mess in your order statistics. Lets say you have two orders per day and your shipping day is Monday. When you select "Time frame" - Daily, you will not see any orders for Tuesday - Sunday, but you

[2020-06-11 06:57] CIMEOS commented on #19110
Hi @Hlavtox, thanks for your suggestion!
However, vatnumber module is already configured with our "home" country. As you can see in this screenshot.
![VATModuleConf](https://user-images.githubusercontent.com/6168624/84353890-3fc27300-abc0-11ea-855f-5e6d1cb818bd.jpg)

It works perfectly on each product but once you get to the order total, taxes are still included.

[2020-06-11 07:09] matteolavaggi commented on #9599
1.7.4 > 1.7.5 > 1.7.6 > Still same Problem O_O

[2020-06-11 07:41] LouiseBonnard commented on #9716
Hi @marionf, unfortunately, this cannot be fixed in the context of a minor version. Perhaps in the next major version! See #15506 and #16070 to follow up on this topic. I close this ticket so that we can all focus on #16070. :-)

[2020-06-11 07:41] #9716 closed, assigned to nobody

[2020-06-11 07:59] hitinder commented on #19687
My server is a very high config server. We have only installed a theme. Are you saying that theme can cause this issue?

Top 5 Table Stress
[code]

Top 3 ObjectModel instances

[code]

[code]

How do I contact support regarding this?

[2020-06-11 08:05] florine2623 commented on #18816
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-11 08:05] #18816 closed, assigned to nobody

[2020-06-11 08:05] florine2623 commented on #18944
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-11 08:05] #18944 closed, assigned to nobody

[2020-06-11 08:07] florine2623 commented on #19136
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-11 08:07] #19136 closed, assigned to nobody

[2020-06-11 08:08] florine2623 commented on #19276
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-11 08:08] #19276 closed, assigned to nobody

[2020-06-11 08:12] oriolpiera commented on #19276
If someone get there with the same problem, I had no other solution to install a fresh Prestashop and migrate all catalog tables (lucky it wasn't scheme changes).

[2020-06-11 08:16] florine2623 commented on #19554
So the issue comes with that product. I don't know what are the characteristics of that product. So I can't help you. I you need some supervised help, you can contact the support here : https://addons.prestashop.com/en/388-support

I'll close the issue as it is not an PrestaShop core bug but most likely a customization problem.

[2020-06-11 08:16] #19554 closed, assigned to nobody

[2020-06-11 08:32] Progi1984 commented on #19486
Fixed by #19582

[2020-06-11 08:32] #19486 closed, assigned to jolelievre

[2020-06-11 08:41] florine2623 commented on #19637
You need to go to Improve > Design > Email Theme > Generate emails

[2020-06-11 08:44] zapper commented on #12907
This is an old issue but if this feature needed for one PS user why 99% store owners have to have performance decrease by this feature? :)

I think this date_upd thing should be removed or fixed by adding prestashop config (only in configuration table without ability to change in BO) which is set by default to false.

[2020-06-11 08:49] florine2623 commented on #19630
Hi @Bekazede ,
Here's my new screen record : https://drive.google.com/file/d/13IpqoO7uVAWCakbY1uBCDDoM_nuoAzXH/view
I can reproduce the issue.

Please try the following and let me know the outcome :
You are using another payment method, the problem might come from an override. Please check your overrides. You can also disable them to see if it changes anything.
`override` becomes `_override`

Than

[2020-06-11 08:50] Progi1984 commented on #14768
Fixed in #18859 (1.7.7.x / develop).

[2020-06-11 08:58] matks commented on #10509
This one is finished: it only needs the listing to be merged and we can release the 2 pages !

[2020-06-11 09:11] #19505 closed, assigned to nobody

[2020-06-11 09:13] florine2623 commented on #19707
Hi @PrestaShop/prestashop-product-team ,

@Caleydon has 4 new features he would like to add to the Credit Slip page.
What do you think about that ?

Thanks!

[2020-06-11 09:17] Caleydon commented on #19707
The last one feature (custom document ID) should be added into invoice and delivery slip numbering too.

[2020-06-11 09:20] matthieu-rolland commented on #17729
The computing precision has a minimal value of 2, that is to say, even if the display precision of the currency is set to 0, the computing precision will be 2.  Maybe this is the cause of this issue ?

[code]

[2020-06-11 09:22] florine2623 commented on #19700
Hi @guigplt ,
You can delete them manually, just keep the index.php file in the folder.
Thanks!

[2020-06-11 09:22] #19700 closed, assigned to nobody

[2020-06-11 09:33] jf-viguier opened #19711 "Email sending blocked on a non utf8 error returned by swiftmailer on 1.7.7 beta 1"
#### Describe the bug

A non utf8 error returned by swiftmailer generate raise an exception on email sending that block all email sending.
"Malformed UTF-8 characters, possibly incorrectly encoded on swiftmailer error"
The exception should be catched an not block email sending. The issue is not there in 1.7.6

#### Steps to Reproduce

Steps to reproduce the behavior:

1.Go to email configuration
2

[2020-06-11 09:35] florine2623 commented on #19685
Hi @juraj1000 ,
The ISBN and EAN-13 codes are displayed in the product page :
![Capture d’écran 2020-06-11 à 11 28 14](https://user-images.githubusercontent.com/16019289/84369106-aa7ea900-abd6-11ea-8be0-73a24d356837.png)

[2020-06-11 09:37] florine2623 commented on #19685
Hi @PrestaShop/prestashop-product-team ,

The ISBN and EAN-13 codes are not displayed on invoices nor credit slips, should these elements be added on these documents ?

Thanks!

[2020-06-11 09:58] matks commented on #19659
@olecorre I cannot reproduce on Chrome 🤔
I have some errors in Console but not the same as you:
<img width="1432" alt="Capture d’écran 2020-06-11 à 11 54 21" src="https://user-images.githubusercontent.com/3830050/84371823-89b85280-abda-11ea-8bfa-f02070f32136.png">

<img width="1439" alt="Capture d’écran 2020-06-11 à 11 56 17" src="https://user-images.githubusercontent.com/3830050/84371848-9341

[2020-06-11 09:58] matks commented on #19659
(and my chrome error console do not prevent me from creating/choosing customers)

[2020-06-11 10:02] matks commented on #19659
Also other possible "fun" usecase; if you have opened a PrestaShop in the same location (same server, same URL) before with another version, it's possible your browser has put jQuery in cache. In 1.7.7. we updated jQuery version so if your browser tries to open the page with old jQuery version it will break.

Clearing the cache should work in this usecase

[2020-06-11 10:07] florine2623 commented on #19639
Hi @juraj1000 ,
Could you specify the characteristics of each carrier so I can try it on my shop ?

All of the carries should be displayed In BO > Payment > Preferences > Carrier restrictions as long as the carrier exists.

[2020-06-11 10:09] florine2623 commented on #19632
Hi @cadonovan ,
Could you possibly answer via GitHub directly ?
It is not clear when you answer via email.

[2020-06-11 10:18] florine2623 commented on #19705
Hi @jf-viguier ,
In GDPR module, you can choose to display or not this checkbox :
![Capture d’écran 2020-06-11 à 12 17 28](https://user-images.githubusercontent.com/16019289/84373952-98543900-abdd-11ea-9182-d1c373d134d9.png)
Thanks!

[2020-06-11 10:18] #19705 closed, assigned to nobody

[2020-06-11 10:40] MatShir commented on #19499
@matks have you find if the modal address was done and lost in the conflict?

[2020-06-11 11:34] Progi1984 commented on #18526
Fixed by #19597

[2020-06-11 11:34] #18526 closed, assigned to atomiix

[2020-06-11 11:44] guigplt commented on #19700
Hi,
Thanks for your reply.
I have tested it yesterday by deleting only the css cache file concerned, and it worked, the cache file is regenerated when I refresh the page.

[2020-06-11 11:45] florine2623 commented on #19615
Hi @rblaurin ,
I uninstalled gamification module and did the migration with 1-click upgrade successfully.
What kind of error do you have ?

I would advise you to install PS 1.7.7.0 on a subdomain or locally to do your tests.

[2020-06-11 11:59] matks commented on #19499
Nope, nothing done yet

[2020-06-11 12:22] Progi1984 commented on #19549
@colinegin https://caniuse.com/#feat=loading-lazy-attr : 67% of all users.
@matks Thanks for the link

Advantage : if the browser doesn't support it, the image is loaded as usual ;)

[2020-06-11 12:33] matks commented on #17725
Maybe a good idea, wdyt @PierreRambaud ?

[2020-06-11 12:34] matks commented on #17725
Yes we think it's better not to commit assets, see https://build.prestashop.com/news/open-question-not-commiting-assets-anymore/

[2020-06-11 12:37] matks commented on #17725
New occurence of the bug, I reinstall, bug is gone. Like it has been said before, my SQL table `ps_image_type` was empty

[2020-06-11 12:39] matks commented on #17725
Would it be worth it to at least provide a well-described error for developer ?
[code]

wdyt @PrestaShop/prestashop-core-developers

[2020-06-11 12:42] florine2623 commented on #19617
Hi @Pnowfr ,
Could you clear your cache in PrestaShop's BO, as well as your browser cache and try again ?
Thanks!

[2020-06-11 12:44] florine2623 commented on #19711
Hi @jf-viguier ,
I couldn't reproduce your issue with the same error.
I have the following :
![Capture d’écran 2020-06-11 à 14 43 36](https://user-images.githubusercontent.com/16019289/84386628-f5f28080-abf1-11ea-85a6-269caa627cec.png)

Could you tell me what you put as smtp server ?
Thanks!

[2020-06-11 12:48] demperador commented on #19608
Hello,

This error occurs when using the API / Orders to modify the tracking number. We have got a cart rule which is configured as shown in the attached video (cartRuleConfig.zip) that when it is deactivated, the API / Orders works correctly. If it is activated, the API throws the error Trying to get property 'id' of non-object (/var/www/html/classes/CartRule.php, line 754).
[cartRuleConfig.zip](

[2020-06-11 13:02] florine2623 commented on #19482
You can use a module available on Addons in order to do what you want : https://addons.prestashop.com/en/b2b/7923-billing-ht-without-vat-b2b.html#specifications
With B2B mode on, in a certain country, if a customer is a PRO no tax will be shown, therefore the customer will not be paying the tax.
Thanks

[2020-06-11 13:03] #19482 closed, assigned to nobody

[2020-06-11 13:09] juraj1000 commented on #19636
Hi,
the solution with separator / is not suitable. We use attributes as time period from-to, e.g. 2020-2022 or 10-12 for years and months. If there was / as a separator it would look like 2020/2022 or 10/12 and it is not clear that it means period from-to.
Therefore we'd like to have a possibility for configuration of this text. Also take into account that currently it is not possible to use brack

[2020-06-11 13:21] #18469 closed, assigned to nobody

[2020-06-11 13:34] matks opened #19713 "Cannot access Stock BO page for user which is not super-admin on 1.7.6.5 (or translation admin)"
#### Describe the bug

On 1.7.6.5, a user who is not super-admin cannot access "Stock" page EVEN if I give him the necessary rights.

Bug reported by Mads Oliver Jenssen on open source slack

#### Expected behavior

People who have the right access should be able to access the page 😄

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install 1.7.6.5
2. Modify "Logistician' employee pro

[2020-06-11 13:40] rblaurin commented on #19615
Thanks @florine2623

I forgot to mention something that maybe is the reason why you didn't see error messages: My `debug mode` was active.

As I said before, the errors doesn't brake the installation. But some error messages are shown, and as a developer I think they shouldn't.
In other words, I have **successfuly upgraded** to 1.7.7 beta (in a local installation, don't worry), but **with some err

[2020-06-11 13:51] matks commented on #19713
Issue comes from  `PrestaShopBundle\Controller\Api\I18nController::listTranslationAction()` security config  `* @AdminSecurity("is_granted('read', request.get('_legacy_controller'))")`

[2020-06-11 13:52] Jannicknielsen6000 commented on #18905
My brother-in-law just updated his prestashop installation and now the same thing is happening to his shop. i've checked the files, they are all there, where they should be.

[2020-06-11 13:56] PierreRambaud commented on #19713
@matks The real issue is not here :sweat_smile:
The problem is the Stock page requires translations, to retrieve these translations you need to have Translations permissions which is logic.
Otherwise, if you remove this check, anyone is able to retrieve all translations which is a security issue.

As a workaround, he can give translations read access.

[2020-06-11 14:02] Pnowfr commented on #19617
already done, several times, back end and front end
always the same

[2020-06-11 14:17] #16032 closed, assigned to nobody

[2020-06-11 14:39] eternoendless commented on #19713
What does the stock page have to do with the translations page?

[2020-06-11 14:42] HartLarsson opened #19715 "if a Tax is deactivated all the Tax Rules referring it are DELETED"
#### Describe the bug

When you create a Tax and connect also to that tax some Taxrules if you deactrivate the Taxe the taxrules connected are DELETED not deactivated.

#### Expected behavior

Normally a deactivation of a value must follow a deactivation to a derivate/connected rule not a delete.
If a tax is deactivated the Country with tax applied must be deactivated not deleted inside the Tax Ru

[2020-06-11 14:43] matks commented on #19713
There are ajax API calls being fired by Stocks page towards API endpoint `/api/i18n/{page}` and if BO user does not have access to Translation BO page, these API calls are being refused (response is HTTP 302) which make the Stocks page crash

This is a design error in the security of the page.

Also Stocks page crash in a hard way instead of providing some nice error message

[2020-06-11 14:46] eternoendless commented on #19713
Okay, however I can't see any reason to enforce access restrictions for reading translations once the user is logged in.

[2020-06-11 14:49] PierreRambaud commented on #19713
We should add a comment above the API endpoint to explain why there are no access restrictions.
Translations can contain sensitive data (yes already seen people writing private data like email, phone number, etc in translations and it helps for social engineering ^^)

[2020-06-11 14:52] atomiix commented on #18723
Fixed by #19010

[2020-06-11 14:52] #18723 closed, assigned to atomiix

[2020-06-11 14:57] imagicuus commented on #19604
@florine2623 all the information needed is given, right? Can you set the issue on To Do?

[2020-06-11 15:01] #19427 closed, assigned to Progi1984

[2020-06-11 15:06] jf-viguier commented on #19711
@florine2623 your error message is good but you have to use a french os to have an accentuated character in the error message.

[2020-06-11 15:07] colinegin commented on #19079
ping @florine2623 could you test if this is a regression of 1.7.6 ?
Thanks !

[2020-06-11 15:11] florine2623 commented on #19617
You might need to check your overrides on modules.
You can go to your FTP and comment the override folder like so : `_override`
The theme can also be the root of the cause. Have you tried with classic theme of PrestaShop ?

[2020-06-11 15:15] matthieu-rolland opened #19717 "Wrong order total when cancelling a product on an order having cart rules"
#### Describe the bug
There is a bug when canceling a product from an order having cart rules, order total is wrong.

Also this block should not be displayed when canceling a product:
<img width="845" alt="Capture d’écran 2020-06-11 à 15 20 18" src="https://user-images.githubusercontent.com/1784781/84403377-ea10b980-ac05-11ea-9625-58a353259bfc.png">

And the reduction values table is not updated

[2020-06-11 15:17] zuk3975 commented on #19595
There was a discussion about how to handle scenario when merchant adds product with a custom price to order in which  identical product already exists.
So:
1. Our main goal is to merge identical product rows (maybe in 1.7.8 or later, but not for 177)
2. That means we cannot handle different prices for same product

The solution for 1.7.7:
We check if order already has identical product. If it cont

[2020-06-11 15:21] matthieu-rolland commented on #19717
this issue is linked with the product deletion refactor in this issue #18432 , I'll deal with both in the same PR.

[2020-06-11 15:52] florine2623 commented on #19708
Hi @mrabsinthe ,

1) When last updated Order status is Payment Accepted and/or Shipped, the order is marked as placed. That is the case because, when a customer buys a product from you and uses bank wire payment for example, you won't receive the payment nor send the product until you get the payment from the customer. So that order can't be considered as placed yet.

2) I couldn't reproduce your

[2020-06-11 15:52] #19708 closed, assigned to nobody

[2020-06-11 16:00] florine2623 commented on #19711
My shop is in French in the BO :
![Capture d’écran 2020-06-11 à 17 55 41](https://user-images.githubusercontent.com/16019289/84408831-eaf91980-ac0c-11ea-8b65-1967aeda9e99.png)

You might need to take a look on your server side.

[2020-06-11 16:03] dgonzalez360 opened #19719 "Add best sellers to the sort filter inside categories when using ps_facetedsearch"
It would be nice to sort products inside the category by best sellers.

I have made the change and created a pull request, it's available at

https://github.com/PrestaShop/ps_facetedsearch/pull/172

Can this be included in the next releases? What else should I do to include this change?

[2020-06-11 16:11] florine2623 commented on #19715
Hi @HartLarsson ,

Thanks for the report.
I did manage to reproduce the issue in both PS 1.7.6.5 and PS 1.7.7.0.
Here's my screen record :
https://drive.google.com/file/d/1RXQ9tPrPrwv-S9Ilw3uaKXCwY_3OZtQ-/view

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-06-11 17:27] twoex opened #19720 "V1.7.6.5 - Dropdowns, Connections & Error"
Hey everyone,

Did a fresh install and I have noticed some issues with the latest version.. not sure if everyone is experiencing this as well, but I have tried in several browsers & systems and the issue is there (for me)..

The following areas I am seeing with broken drop down lists;

**========= 1. DROP DOWN MENU ISSUES =========**
**[SELL SECTION]**
**[ORDERS]** Invoices :  Invoice Model
**[CAT

[2020-06-11 17:34] jf-viguier commented on #19711
@florine2623 your web server has to be in french, not the backoffice nor your shop.
The error message is returned by the system.

[2020-06-11 18:26] Pnowfr commented on #19617
Thank you for your reply,
It the classic theme thithout overrides. (I try to comment the folder, no change.)
I removed and reinstalled the faceted filter module, same thing.
People in France see the slider but me in Madagascar no...
it's crazy this story

[2020-06-11 18:47] krystian-3c commented on #19618
![image](https://user-images.githubusercontent.com/12048630/84425247-872d1b80-ac21-11ea-9093-d813f0cc1fc3.png)

At the moment I searched for some easy wins with JS.
I removed velocity.js it's used only once and It can be easily replaced with some CSS animation.
I removed, tether, and bootstrap from the bundle and I fetched it from CDN.
I'm also fetching jquery-ui from CDN.

I'm still getting the "

[2020-06-11 19:41] matks commented on #19618
Really cool !

[2020-06-11 21:33] joejvggithub opened #19722 "[BOOM-3566] REVISITED - When a customer edits an used billing address (address used before for order). no shipping methods are available."
I have installed PrestaShop 1.7.6.5 and this bug persists. It is a standard install, no demo data, and no migration. The exact same issue is occurring and I first saw it in 1.7.6.3. We are trying to migrate from 1.6.11.1 and it works. I am dreading this migration as it has failed multiple times ( I am doing an ETL per the PrestaShop 1.7 (with 1.6 for reference) and the database schema so I know wh

[2020-06-11 21:48] juraj1000 commented on #19688
How can I vote for it?

[2020-06-11 22:28] joejvggithub commented on #19722
Addendum:

I failed to mention we did install the demo data with 1.7.6.3 and did not with 1.7.6.5 so that may have something to do with it. I am seeing what a 1.7.6.3 install without demo data amd leaving the configurqation as-is does.

[2020-06-11 23:17] joejvggithub commented on #19722
I just installed 1.7.6.5, 1.7.6.4, and 1.7.6.3 with the demo data. I am not talking about enabling the simulation in Back Office using the slider in the right corner. Every one has this issue. Only thing I did was to change the password for the pub@prestashop client the install puts in. I did get 1.7.6.3 to work with the demo data but configured it that time to match the configuration on my 1.6.11

[2020-06-11 23:44] jose73wrc commented on #19482
@florine2623
view any product with 21% tax
€ 30 + 21% = € 36.3
product without tax 30 €
product with tax € 36.30

carrier without tax 10 €

A tax exempt customer must see:
€ 30 + shipping € 10 = € 40 (tax excluded)

what we really see:
€ 30 + shipping € 10 = € 40
Total taxes included € 46.30

the problem is in the product that for prestashop to calculate without taxes has to meet 3 points:
1 the p

[2020-06-11 23:45] jose73wrc commented on #19482
I have B2B activated

[2020-06-11 23:45] drqp1983 opened #19723 "Logo upload failiure"
When I went to the Theme & logo section and tried to upload theme logos and favicon I clicked save and it sent me to Error screen: The server returned a "500 Internal Server Error".

#### Expected behavior

It should have saved the changes and take me back to the Theme & logo section.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Design'
2. Click on 'Theme & logo'
3. On hea

[2020-06-11 23:50] drqp1983 commented on #19723
What should I do? I already tried uninstalling and installing Prestashop. It did not fix the issue.

[2020-06-12 00:16] joejvggithub commented on #19722
I am looking for my backups of the 1.7.6.3 installation that worked for reference to do the same with 1.7.6.5 and if that resolves this shipping issue then I'll deal with the demo data before I migrate 1.6.1.11 and as I said I am doing it the ETL way as described in the PrestaShop 1.7 Developer Documentation using PrestaSHop Migrator Pro, and EMS SQL Studio for MySQL to synchronize the two databas

[2020-06-12 00:16] #19722 closed, assigned to nobody

[2020-06-12 04:58] augustinejenin opened #19724 "issues after php version upgrde(7.2)"
#### Describe the bug

my prestashop version is 1.6 and we upgrder server php version to 7.2 . now we got soe errors. Is prestashop 1.6 not working with php 7.2? do we need to upgrade prestashop to 1.7?

error:
Warning: count(): Parameter must be an array or an object that implements Countable in /home/..
![presta](https://user-images.githubusercontent.com/26268454/84466646-78814b80-ac97-11ea-8f16

[2020-06-12 07:38] florine2623 commented on #19724
Hi @augustinejenin ,

Prestashop 1.6 is available with PHP 7.1 max. You can check this doc : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

If you need help migrating your site, please contact our support team here : https://www.prestashop.com/en/support

Thanks!

[2020-06-12 07:38] #19724 closed, assigned to nobody

[2020-06-12 07:42] florine2623 commented on #19723
Hi @drqp1983 ,

Please, change your admin link, this is a public space, let's be careful !

Now, what version of PHP are you using ?

Can you enable debug mode and see what error is displayed.
Advances Parameters > Performance > Debug YES
Or manually if you don't have access to that page :
In config/defines.inc.php, change :
`define('_PS_MODE_DEV_', false);`
to
`define('_PS_MODE_DEV_', true);`

Th

[2020-06-12 07:45] LouiseBonnard commented on #19558
Dear @Hlavtox, thank you very much for this precious information! I've studied your answers and checked with the legal team this week and, you're right about that: if the merchant is exempt from VAT, it should not be mentioned in the invoice. So the invoice template should be adapted according to the option selected with the switch button to enable/disable tax.

Read (🇫🇷) more [here](https://cabin

[2020-06-12 07:52] florine2623 commented on #19617
Can you try to comment your module one by one ?
One of your module might have a conflict with ps_facetedsearch

[2020-06-12 07:53] #19201 closed, assigned to PierreRambaud

[2020-06-12 08:11] Gipielle opened #19726 "Missing remove link button in product description editor"
Hello,
in prestashop 1.5 i had a button to remove the links in the product description editor, now in prestahsop 1.7 i have to enter the link and remove the url, it'0s possible to implement the remove link button in ps 1.7 ? How ? Thanks

* PrestaShop version: 1.7.6.5
* PHP version: 7.2

[2020-06-12 08:38] florine2623 commented on #19720
Hi @twoex ,
Thanks for the thorough message !

1. DROP DOWN MENU ISSUES
Can you make sure the system requirement for PrestaShop are met :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

2. CONNECTION ISSUE
Make sure you don't have a firewall that block the connection to Addons

3. DUPLICATING PRODUCT
Here's my screen record to duplicating a product :
https://drive.goog

[2020-06-12 09:01] florine2623 commented on #19726
Hello @Gipielle ,
Here's how to do it :
https://drive.google.com/file/d/1UIpoeDC2gbZO07IlgiJinhzFJGZ24GYw/view

Thanks!

[2020-06-12 09:01] #19726 closed, assigned to nobody

[2020-06-12 09:04] florine2623 commented on #19626
Thanks @Frankie-IT ,
Indeed that issue is already in our debug roadmap. It has the **To Do** tag.
You can keep an eye on that issue.

I'll close yours as it is a duplicate.
Thanks!

[2020-06-12 09:04] #19626 closed, assigned to nobody

[2020-06-12 09:04] florine2623 commented on #19626
Duplicate of #12170

[2020-06-12 09:06] florine2623 commented on #19615
Thanks for the details.
I'll close this issue now !

[2020-06-12 09:06] #19615 closed, assigned to nobody

[2020-06-12 09:37] florine2623 commented on #18953
Hi @pks891618 ,

This is a bug. In the Webservices, the product quantity is always 0 instead of the real quantity.
I manage to reproduce the issue with PrestaShop version 1.7.6.5 and 1.7.7.0
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-06-12 09:38] florine2623 commented on #18953
Hi @PrestaShop/prestashop-core-developers ,

In WebServices, the quantity of the products are not returned.

When displaying `/products?display=full&output_format=JSON`, here's the result :
![Capture d’écran 2020-06-12 à 11 32 42](https://user-images.githubusercontent.com/16019289/84488504-930bf280-aca0-11ea-822b-4855871ccf3c.png)

When in the BO the quantity is not 0
![Capture d’écran 2020-06-

[2020-06-12 09:47] juraj1000 commented on #19639
Hello,

1. create 1st carrier: BO > Shipping > Carriers:
Shipping name: Shipping ABC
Transit time: 7 days
Shipping location: Europe
Price: Allow range for 0 to 1000 € with shipping price 100 €
Out range of behavior: Disable carrier

1. create 2nd carrier: BO > Shipping > Carriers:
Shipping name: Shipping ABC
Transit time: 45 days
Shipping location: Asia
Price: Allow range for 0 to 5000 € with ship

[2020-06-12 10:02] juraj1000 commented on #19637
I regenerated it successfully, thanks. I had to set:

- Select the theme you want to overwrite = classic

- Overwrite templates = Yes

[2020-06-12 10:02] #19637 closed, assigned to nobody

[2020-06-12 10:06] matks commented on #19499
Started working on it ; I think it was never done. I thought we were talking about the "create an order" page, not the "view an order".

No big deal, I can re-apply what I did in "create an order" page.

Working on it now, I have a funny bug. I dont know (yet) why but when I edit the address, it creates a new one instead of modifying the one selected. I have to find if this is a setting I can modi

[2020-06-12 10:57] jolelievre commented on #18953
This issue covers several problems/limitations Maybe they will need to be fixed in separate PRs (maybe not.. ^^)

Regarding:
1. Missing entities count, this is not managed in any API calls but it is indeed a missing feature especially since we have limit/offset feature to perform pagination So it's a **new feature** to add in 178

2. Quantity always 0 is a **bug** maybe it's related the the "full"

[2020-06-12 12:10] Gipielle commented on #19726
Hello,
sorry but maybe I said that badly, i know how to do it, but, with prestashop 1.5 i have only to click to a bottun for disable the link, without enter and delete the url
<img width="335" alt="Schermata 2020-06-12 alle 14 09 41" src="https://user-images.githubusercontent.com/53569015/84501238-78dd0f00-acb6-11ea-886f-38b1e446b3b1.png">

[2020-06-12 12:21] MDWeb-Lille opened #19728 "Email configuration - missing checkboxes on PS 1.7.7.0 beta 1"
#### Describe the bug

The checkboxes are missing in the configuration for sending emails

#### Expected behavior

There should be checkboxes to select either the sending format (HTML, text or both) and also the sending function (mail, SMTP, don't send mail, etc.).

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to back office
2. Click on "Advanced parameters"
3. Click on "E-mail

[2020-06-12 12:31] juraj1000 opened #19729 "The same billing address and delivery address"
#### Describe the bug
If a customer uses the same billing address and delivery address then both addresses are used in an invoice or invoice templates (e.g. new order). It is sufficient to use only billing address in this case. Currently it is a little bit confusing for the customers because majority of them have the same billing and delivery addresses.

#### Expected behavior
Use only billing add

[2020-06-12 12:53] juraj1000 opened #19731 "Original invoice number in credit slip"
#### Describe the bug
If an e-shop company creates a credit slip there must be printed also number of Original invoice in credit slip pdf, it is a legal requirement.

#### Expected behavior
Could you add Original invoice number to the credit slip pdf?

#### Additional information
* PrestaShop version: 1.7.6.5
* PHP version: 7.1.13

[2020-06-12 12:55] matks commented on #19729
Hi @juraj1000 do you have examples of other systems that do only display 1 address ? Because for years I have been shopping online and I have always seen both addresses being displayed, even when they are identical.

I even wonder if it's not mandatory by the law

[2020-06-12 13:09] florine2623 commented on #19728
Hi @MDWeb-Lille ,

There are present :
![Capture d’écran 2020-06-12 à 15 08 26](https://user-images.githubusercontent.com/16019289/84505748-957d4500-acbe-11ea-872e-9745fed02e9a.png)

Can you make sure you follow these system requirements : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2020-06-12 13:11] 20bekharweb commented on #18824
Hi
I am using Prestashop 1.7 and In print order I have an awful design.
please help me to have and invoice order like something that I see in this page. Our language is Persian (RTL). please let me have a file to upload in PDF part of my server to solve this
![Capture](https://user-images.githubusercontent.com/66832909/84505953-daf83d00-acd3-11ea-934f-5309832a9d1a.JPG)

[2020-06-12 13:15] 20bekharweb commented on #10258
Hi
I am using Prestashop 1.7 and In print order I have an awful design.
please help me to have and invoice order like something that I see in this page. Our language is Persian (RTL). please let me have a file to upload in PDF part of my server to solve this
![Capture](https://user-images.githubusercontent.com/66832909/84506343-79849e00-acd4-11ea-8d7d-bbc1b7aa03ee.JPG)

[2020-06-12 13:18] 20bekharweb commented on #9817
Hi
I am using Prestashop 1.7 and In print order I have an awful design.
please help me to have and invoice order like something that I see in this page. Our language is Persian (RTL). please let me have a file to upload in PDF part of my server to solve this
![Capture](https://user-images.githubusercontent.com/66832909/84506629-e5670680-acd4-11ea-99e7-858933ceb591.JPG)

[2020-06-12 13:26] florine2623 commented on #19731
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/19707

[2020-06-12 13:26] #19731 closed, assigned to nobody

[2020-06-12 13:28] florine2623 commented on #19726
We do not do support here. This is a bug report/improvement platform.

If you need customized help, please contact the support : https://addons.prestashop.com/en/388-support

[2020-06-12 13:50] 20bekharweb commented on #9527
Hi
I am using Prestashop 1.7 and In print order I have an awful design.
please help me to have and invoice order like something that I see in this page. Our language is Persian (RTL). please let me have a file to upload in PDF part of my server to solve this

[2020-06-12 14:23] Progi1984 commented on #19696
@SimonGrn I just check on `develop` branch :

[code]
** I have fixtures **

[code]
** I have no fixtures **

[2020-06-12 14:54] eternoendless commented on #19696
@SimonGrn Are you perchance installing in prod mode?

[2020-06-12 15:01] florine2623 commented on #19639
Hi @juraj1000 ,

Here's the PR: #12379 to fix the issue.
It is fixed in the next major release PS1.7.7.0.
Your ticket is a duplicate of #16094

So I'll close the issue.

[2020-06-12 15:01] #19639 closed, assigned to nobody

[2020-06-12 15:15] SimonGrn commented on #19696
Indeed I am.
It's weird to have to specify *all* the steps except `fixtures`to not have them, but I guess this is intended that way.

[2020-06-12 15:15] Progi1984 commented on #18499
Found the problem.

The classic-rocket theme needs a specific module : `ps_searchbarjqauto`. And the API doesn't find it on Addons.

[2020-06-12 15:18] florine2623 commented on #19604
Hi @PrestaShop/prestashop-product-team ,

@imagicuus would like to see an improvement.
With the following options (in Product Settings), even when a combination product is out-of-stock, if it is chosen to allow the orders in the product sheet, a customer should be able to buy that product.

In BO > Advanced Parameters > Product Settings :
Display unavailable product attributes on the product page

[2020-06-12 15:28] eternoendless commented on #19696
How about we added a `--no-fixtures` option as a shortcut?

[2020-06-12 15:47] SimonGrn commented on #19696
You devs know better than me what would be a good option, I'll let you choose 😄
I tried to find some documentation about this script and [found this ](http://doc.prestashop.com/display/PS17/Installing+PrestaShop+using+the+command-line+script) but it doesn't explain what are the steps (also pretty sure the default values are wrong ?).

[2020-06-12 16:17] jeckyl opened #19733 "ps_shoppingcart: the number of products does not update in the basket"
#### Describe the bug

On any version of PrestaShop 1.7, when you add products to the shopping cart and display this cart, if you change the quantity of products, the number of products displayed by the cart in blue n top right is not updated in real time.

#### Expected behavior

Normally, the number of products in the basket must correspond in real time to the number of products in the basket.

[2020-06-12 16:24] jf-viguier commented on #19733
This bug is in 1.7.7 beta 1 too.

[2020-06-12 18:33] drqp1983 commented on #19723
You are right, thank you for pointing it out!!! I'll change it.

Ok, I will check what you instructed.

[2020-06-12 19:12] jeckyl commented on #19733
This bug is already fixed
[https://github.com/PrestaShop/ps_shoppingcart/blob/1.7.0.x-prev/ps_shoppingcart.js](https://github.com/PrestaShop/ps_shoppingcart/blob/1.7.0.x-prev/ps_shoppingcart.js)

[2020-06-12 19:52] Gipielle commented on #19729
Right, @juraj1000 , in ps 1.5 we made a custumization, now in ps 1.7 we use identical address, but will be better to have only one.

[2020-06-12 21:08] drqp1983 commented on #19723
Ok, the php version is 5.6
Here is the erro shown
![image](https://user-images.githubusercontent.com/66806621/84546449-a0d07080-acbe-11ea-9121-e0c35dd10d63.png)

[2020-06-12 23:13] Hlavtox commented on #19729
@matks @florine2623

Out of 4 last invoices I got , 3 have only 1 address.

![2B0C73B4-3359-4B69-AB54-055BD4EB7997](https://user-images.githubusercontent.com/6097524/84553002-f0d92280-ad12-11ea-97f4-1974ce910e63.jpeg)

![34CA9547-93DE-4385-8CA1-CD9E094CBCC4](https://user-images.githubusercontent.com/6097524/84553000-efa7f580-ad12-11ea-8bd4-07855ac6e98b.jpeg)
![380B263B-AB29-41DC-9880-9ED0E9E872DF]

[2020-06-12 23:17] Hlavtox commented on #19110
@CIMEOS I think the issue is with your aftermarket module. 🤔

Try with the Prestashop official vatnumber module and I think it will work fine.

[2020-06-12 23:20] Hlavtox commented on #19719
Hi @florine2623, maybe you can merge it with my feature request? https://github.com/PrestaShop/PrestaShop/issues/17136

@dgonzalez360 I will test the PR and let you know! 🚀

[2020-06-13 09:01] sofiaulakova commented on #19658
*    host:  https://cp.beget.com/  
*  server setup and configuration - PrestaShop version (source): ​​​1.7.6.4
*  Server setup:
*  Operating system  Linux #1 SMP Fri Nov 2 12:51:30 MSK 2018 x86_64 
*  Type and version of webserver (Apache, Nginx, IIS, other).  Apache/2.4.10 (Unix)
*  Version of PHP.  7.1.33
*  Version of MySQL/MariaDB.  5.7.21-20-beget-5.7.21-20-1-log
*  Make sure you have emptie

[2020-06-13 09:16] Akaru78 commented on #15744
This problem i still unresolved. My case was copying full site to another location on this same domain.

[2020-06-13 09:50] didi-2018 commented on #19628
@LouiseBonnard thank you very much ♥ but it is much more than only change from 19% to 16%. If a customer bought an item in June 2020 and returns it in July 2020 the shop has in July 16% tax but the return must be credited with 19%. Have you considered this??

[2020-06-13 11:01] Matt75 commented on #15744
It seems to be a cache issue, can you delete all content in /var/cache ?
This module need an additional check in this case

[2020-06-13 11:19] jeckyl commented on #19733
https://github.com/PrestaShop/ps_shoppingcart/pull/59

[2020-06-13 13:33] ksaandev commented on #19481
Thank you for answering

[2020-06-13 17:46] dasafefe opened #19734 "Selling price on product page"
My shop version is 1.7.6.5.
When we create a new product, the selling price doesn't show up on the product page. Any help to fix it?

[2020-06-13 21:54] ballashop opened #19735 "List of native 1.6 modules available, or not, for 1.7 and how can I migrate a data..."
Dear staff,
we are going to migrate to the 1.7.X version finally.
**Preamble**
we had to migrate to 1.7 and not update, because we tried to update but it didn't work unfortunately.
***
While using 1.6, we activated some native free modules into the module section.
Some of these have implemented useful functions for the management of the e-commerce site, but are no longer available in 1.7.x version

[2020-06-13 22:22] Hlavtox commented on #19717
Hi @matthieu-rolland,

didn't you think about just ditching the old logic and just recalculate the whole order with every change in BO?

I think it will save you an insane amount of hassle. There are so many conditions that you need to check when doing anything with the order...

https://github.com/PrestaShop/PrestaShop/issues/17769

[2020-06-13 23:04] banan44 opened #19736 "[1.7.6.4] Can't open Advanced->Information and perform update"
Hello,
Some time ago I have noticed in my Dashboard a notification that there is an update to 1.7.6.5 available. I went to 1-click upgrade module like I always do when there is a new PS version but this time after a few minutes I got an error:

503 Service Unavailable
The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.

[2020-06-14 03:59] milapparikh commented on #17725
After execute query of, this link solution working fine for me.
https://github.com/PrestaShop/PrestaShop/issues/17725#issuecomment-616215788

[2020-06-14 06:18] matks commented on #19735
For Wishlist module, there is currently a massive rework happening into the `new-module` branch https://github.com/PrestaShop/blockwishlist/tree/new-module

The output of this rework will be a new version of wishlist module, compatible with 1.7

For "loyalty and reward" points I dont know, let's wait for more people answers

[2020-06-14 06:47] ballashop commented on #19735
HI @matks thanks a lot for your reply.
Do you know a link that shows the list of modules no longer used on 1.7?
Thanks a lot.
E.

[2020-06-14 08:12] rudy1976s commented on #16952
I have the same issue on Prestashop 1.7.6.5 and module 3.5.0.
Any news regarding patch or some "do it yourself" workaround to fix it ? This is a very frustrating bug !

[2020-06-14 09:37] Matt75 commented on #19735
New version of wishlist module will keep your previous data. **Please note this new version will be compatible only 1.7.7+**

No new native version for loyalty module but you can find modules on Addons will keep your data from 1.6 : https://addons.prestashop.com/fr/recherche?search_query=Loyalty

All others native modules should be available on 1.7 if I don’t miss one

[2020-06-14 11:52] rdy4ever commented on #19736
AT a firs glace Ițd say you have a problem with file permissions on the server. You need to connect via ftp and change file permissions to 0755 for folders and 0644 for files recursively. Ițd suggest to use Filezilla to do that. [Here's a tutorial](https://help.vodien.com/articles/change-file-permissions-using-filezilla/). Remember to check "Recurse into subdirectories".

[2020-06-14 13:05] alfonsolr09 opened #19737 "you cannot delete a file that has been uploaded to a product"
#### Describe the bug

you cannot delete a file that has been uploaded to a product file

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to options
2. Click on Attached files
3. upload a file
4. Save
5. See error (can´t delete it)

**Screenshots**

<img src="https://image.prntscr.com/image/bauMVvzJRzuevsLZSUKKXg.png" />

#### Additional information

* PrestaShop version: 1.7.6.4

[2020-06-14 13:50] superskyman100 commented on #19024
Ok we tried to fix the problem on our Prestashop 1.7.6.4, it's not working

[2020-06-14 15:36] juraj1000 commented on #19729
Hi @matks,
I think the configuration for one or 2 addresses should solve this issue. Let the e-shop company choose which option is better for business.

[2020-06-14 16:01] Matt75 commented on #19024
@superskyman100 You should make some change to be compatible with 1.7.6, this is made for 1.7.8

[2020-06-14 16:29] juraj1000 commented on #19644
Hello,
I think there are 2 issues

- Terminology
the term "Enable tax" is confusing for me. Would it be possible to substitute "Enable tax" with "Prices with tax included"?
It would be better to use the option Yes/No (don't use No/Yes if there is help text: Select **whether or not** to include tax on purchases). This Yes/No requirement is also valid for other configuration "Display tax in the shop

[2020-06-14 17:25] juraj1000 opened #19739 "Missing specfic references in product detail screen"
#### Describe the bug
There are missing ISBN and EAN codes in detail product page.

#### Expected behavior
If ISBN and EAN codes are filled they should be displayed as Specific references in the section Product details.

**Screenshots**
Product > Options > ISBN and EAN codes are filled
![image](https://user-images.githubusercontent.com/33311857/84599750-aff91f00-ae74-11ea-8eed-7de1271934f1.png)

M

[2020-06-14 17:37] juraj1000 opened #19740 "Incorrect error message in the section payment"
#### Describe the bug
There is an incorrect message in the section Payment if a merchant wants to edit an order item in BO.

#### Expected behavior
No message should be dispalyed.

#### Steps to Reproduce
1. Go to BO > Orders > Orders > select order and display detail screen
2. Scroll down to the section Products and click on button Edit
3. Click on button Update
4. Confirm question Are you sure?

[2020-06-14 17:59] Pnowfr commented on #19617
Hi,
no changes,
but if I deactivate the facet filter module (facetedsearch), sorting by price works correctly.

[2020-06-14 18:27] aycanozarpaci opened #19741 "You have requested a non-existent service "mbo.tab.collection.provider"."
[code]
[ERROR IMAGE](https://prnt.sc/szly1f)

What is problem ? How i can fix this?

Version : 1.7.5.2

[2020-06-14 19:08] Matt75 commented on #19741
Please follow instructions given here : https://github.com/PrestaShopCorp/ps_mbo/releases/tag/v2.0.1

This is a cache issue

[2020-06-14 20:26] simobenso commented on #16929
Hello @khouloudbelguith, I'm facing the same error :

The error concerns the product page :
`PHP message: PHP Warning:  htmlspecialchars() expects parameter 1 to be string, array given in var/cache/prod/smarty/compile/layouts_layout_left_column_tpl/84/9f/0d/849f0d8a7512ed672487a06a045d302b9e5e7c31_2.file.product-style-02.tpl.php on line 40'`

Here is the concerned line on the compiled template :
`

[2020-06-14 21:03] juraj1000 opened #19742 "Manual changes for shipping cost in BO"
#### Describe the bug
Sometimes we want to create an order in BO and we can't use any shipping price which is defined in BO, we've to use an individual shipping price. But it is not possible to edit the shipping price in BO.

#### Expected behavior
The shipping price would be possible to edit and change.

#### Steps to Reproduce
BO > Orders > Orders > detail info > section Shipping > Shipping cost

[2020-06-14 21:57] marcelosi commented on #14979
Hello, is there a solution to this problem?

in my clothing store, the normal is 40/50 online users and the consumption of the 8-core server is minimal (attached image)

At times of new releases, there may be 150/200 users online. For wholesalers, the minimum order is 20 units. At that moment the server consumption shoots up, even collapsing the server with only 12 users with orders of more than 2

[2020-06-14 23:10] mnowakpcgs commented on #14979
What shipping modules do you have?

Although I am in the middle of downgrading to 1.6 which itself has helped
immensely, I did finally find a "fatal flaw". PrestaShop team persued
functionality to be able to split ship orders, but the end result is that
it loops through shipping options for every item in cart. Caching results
from the shipping API helps and the modules mostly all do that, but what

[2020-06-14 23:17] mnowakpcgs commented on #14979
Forgot to mention.. for the excessive queries this may also be the same
problem. Some of the shipping modules cache rates in SQL but not with the
available built in caching functions. So again it loops through shipping
rates for each product in cart and can result in a ton of SQL queries for
the cached results what could easily have been stored in a global variable
instead.

Solving both these iss

[2020-06-15 06:58] mamoot64 opened #19743 "Payment callback error due to locale doesn't validate the order in backoffice"
#### Describe the bug

After a successful payment with Paypal or Stripe (in my case), order isn't confirmed in the backoffice.

#### Expected behavior

Oder must be confirmed and mails automatically sent.

#### Details

Paypal write in this log:
[code]
The getIsoByLocale($locale) method of Language class try to "Validate" the $locale provided.

An exception is thrown because validation failed :
[c

[2020-06-15 07:31] LouiseBonnard commented on #19628
You're welcome, @didi-2018! Unfortunately, we are not able to handle those cases... on our end, we can just update the rates, after that it is the user's responsibility to make sure there is no inconsistency. But it still has to be updated manually by the user so he/she should be aware of this change. :-)

[2020-06-15 07:36] thalassa-web commented on #9879
FYI, the manual procedure to upgrade 1.6 -> 1.7 is not working.
During the execution of the script, I had an error with the ps_translation table.
And the error was … the table did not exist …
I didn't find the sql file which create this table and I had to create it manually with the same structure of a brand new 1.7 installation …
After that table creation the «upgrade.php» script finished and my

[2020-06-15 07:48] thalassa-web opened #19745 "Module::getNativeModuleList or getNonNativeModuleList are always empty"
#### Describe the bug

For a module of mine, I need to get the non native modules list. So I was happy to find a method called getNonNativeModuleList on the Module class.
But when I call it, I have nothing … And I have non native modules installed.
In the code, I see it uses an xml file (/config/xml/modules_list.xml) but this file seems to be inexistant …

#### Expected behavior

Getting the non n

[2020-06-15 08:17] matks commented on #19038
@Veiss fixed in https://github.com/PrestaShop/PrestaShop/pull/19601 😉

[2020-06-15 08:19] joemugen opened #19746 "Wrong payload sent when saving import configuration"
#### Describe the bug

When saving the import configuration, everything seems to be fine but when you're back on this screen later, you will see an "undefined" choice in the select instead the name of your saved configuration.
And when you load it, each fields will be set to `undefined`.

If you look at the network tab and more precisely on the payload sent when you save the configuration, you wil

[2020-06-15 08:20] PierreRambaud commented on #17725
It's maybe due to a wrong dependency in the XML files during the installation?

[2020-06-15 08:28] matthieu-rolland commented on #19734
Hi @dasafefe , I didn't reproduce your issue on 1.7.6.5, however:

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...

You don't know how to get this information? Plea

[2020-06-15 08:44] matthieu-rolland commented on #19736
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...

You don't know how to get this information? Please read the following article: [How to create a bug report](http://

[2020-06-15 08:46] sam-pires commented on #17131
Hi @prestascott,

Can you have a look at this EPIC please? :)

[2020-06-15 09:00] matthieu-rolland commented on #19735
Hi @ballashop , check this out:

https://devdocs.prestashop.com/1.7/modules/introduction/#main-differences-between-1-6-and-1-7-modules

[2020-06-15 09:00] #19735 closed, assigned to nobody

[2020-06-15 09:11] Betafer commented on #9866
Hello, any news about this ?
The problem is also present in PS 1.7.6.5

[2020-06-15 09:11] matthieu-rolland commented on #19737
@alfonsolr09 I didn't reproduce your issue on 1.7.6.4:

To detach the file from the product (so that it doesn't appear on the product page), just uncheck the checkbox.

To delete the file, go to the "Files" page in BO, select the file and delete it.

I close this issue.

[2020-06-15 09:12] #19737 closed, assigned to nobody

[2020-06-15 09:17] thbl opened #19747 "isTablet() and isMobile() doesn't work for some IOS devices"
Using https://www.browserstack.com/

Some devices (like iPad 7) is **NOT** detected as a tablet with prestashop isTablet() function

PS: 1.7.6.5
PHP: 7.2

[2020-06-15 09:20] didi-2018 commented on #19628
Good morning @LouiseBonnard, no you havn´t understoud. I´ll try explain again:

costumer orders 28.06.20 with 19% tax
package is shipped 29.06.20 with 19% tax
tax change 01.07.20 to 16%
customer returns 10.07.20
credit slip must be with 19% cause the customer shipping date was in June with 19%

That is the problem, that prestashop need to handle. There must be a query in prestashop if shipping dat

[2020-06-15 09:27] matthieu-rolland commented on #19739
We are aware of this issue, it is already in our debug backlog.

This issue is a duplicate of #19685

To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you!

[2020-06-15 09:28] #19739 closed, assigned to nobody

[2020-06-15 09:30] matthieu-rolland commented on #19685
Hello @florine2623 , I reproduced this bug on 1.7.7, are you aware of a specific steps that must be done in order for specific references to be displayed in FO product page ?

[2020-06-15 09:47] matthieu-rolland commented on #19740
Hi @juraj1000 , could you please give us more information about the payment method being used ? A capture of the whole page would help, thanx !

[2020-06-15 09:47] colinegin commented on #19079
Thanks @msaustral for warning us !
As this issue is a duplicate of #19713 , I will close it so that we can all focus on the same issue and follow its fix. You can now follow #19713
Thanks !

[2020-06-15 09:47] #19079 closed, assigned to nobody

[2020-06-15 09:48] colinegin commented on #19713
Does @PierreRambaud 's PR fixes this issue ?

[2020-06-15 09:50] matthieu-rolland commented on #19741
@thanx @Matt75 !

[2020-06-15 09:50] #19741 closed, assigned to nobody

[2020-06-15 09:52] thbl commented on #19747
Found it seams to be a problem with IOS13 and up it is also noted as an issue at https://github.com/serbanghita/Mobile-Detect
Cause IOS set safari as desktop mode by default.

could we implant this function some how ?
https://stackoverflow.com/questions/57765958/how-to-detect-ipad-and-ipad-os-version-in-ios-13-and-up

[code]

[2020-06-15 09:58] matthieu-rolland commented on #19742
It seems like this is a feature request rather than a bug. Please re-create this issue as a feature request:  https://github.com/PrestaShop/PrestaShop/issues/new/choose

[2020-06-15 09:58] #19742 closed, assigned to nobody

[2020-06-15 10:20] LouiseBonnard commented on #19628
@PrestaShop/prestashop-core-developers, what do you think?

[2020-06-15 11:02] dariusakafest commented on #19278
I just created a customization using php without any fields.

[2020-06-15 11:02] dariusakafest commented on #19278
@florine2623 I just created a customization using php without any fields.

[2020-06-15 11:34] ballashop commented on #19735
HI @Matt75
thanks a lot, do you know how we can migrate data from 1.6 to 1.7?
@matthieu-rolland
Thanks a lot for the link.

[2020-06-15 11:34] mamoot64 commented on #19743
Seems to be a change of Prestashop API ?
I also have the error on delivery :
[code]

[2020-06-15 11:41] Matt75 commented on #19735
@ballashop modules migrate data automatically

[2020-06-15 11:43] shawe opened #19750 "Bad way of calculate final product price"
#### Describe the bug

Error calculating price for a product, at least for Spain. Prestashop is doing this calc:

[(price+ecotax)-discount] + tax

But here must be calculated this way:

[(price-discount)+ecotax] + tax

Maybe is something with wrong configuration, but we can't found another way to do this.

#### Expected behavior

Is explained on description of the bug. Or must be selectable the wa

[2020-06-15 11:45] ballashop commented on #19735
@Matt75
thanks to reply so fast, unfortunately we had to use a module migration to migrate form 1.6 to 1.7 version. So we need to migrate data in other way then the update one.
If you have any suggestions it would be fantastic, thanks a lot.

[2020-06-15 11:50] SD1982 commented on #19553
Hi @MLE-Coding I have tried to reproduce the issue you describe here but I have not been able to reproduce.
https://drive.google.com/file/d/1BOEbYXFYgagmLMxHLSXvlR-AowpNXecP/view?usp=sharing

[2020-06-15 11:51] Matt75 commented on #19735
You have to check tables used by module in your previous database then export it

[2020-06-15 11:54] ballashop commented on #19735
@Matt75
thanks a lot, I'll check asap.

[2020-06-15 12:00] Progi1984 commented on #19499
Fixed by #19730

[2020-06-15 12:00] #19499 closed, assigned to matks

[2020-06-15 12:14] NeOMakinG opened #19751 "Error 500 when deleting the default category"
#### Describe the bug

After bulk deleting the default Prestashop's categories, an error 500 occured on the frontend. The backend was still working. I found out with the debug mode that it cames from the following file: classes/Link.php
It seems that even after the deletion some data still remains and triggers the "throwError" when the category object is incorrectly formed. After that 1st fix, I h

[2020-06-15 12:29] florine2623 commented on #19685
Hi @matthieu-rolland ,
Thank you, indeed I just tried IN PS 1.7.7.0, the bug appears.
There's nothing special to do in FO in order to get the info displayed.

[2020-06-15 12:49] matthieu-rolland commented on #19745
I reproduced this issue on 1.7.6.x (1.7.6.5) and 1.7.7

The issue comes from the Module.php, the method tries to load `/config/xml/modules_list.xml` but the file doesn't exist.

[2020-06-15 12:57] cadonovan commented on #19632
Hi Sarah You are misunderstanding the concept.

Firstly, the dashboard item should be called “Gross Profit” and not “Net Profit” – these have different meanings from an accounting perspective and it is misleading to call it Net Profit.

Secondly, the calculation is not about a commission rate paid, but it reflects your profitability rate. If your Average Gross Profit Margin Percentage was 100%, th

[2020-06-15 13:19] juraj1000 opened #19753 "Manual changes for shipping cost in BO"
#### Is your feature request related to a problem?
Sometimes we want to create an order in BO and we can't use any shipping price which is defined in BO, we've to use an individual shipping price. But it is not possible to edit the shipping price in BO.

#### Describe the solution you'd like
The shipping price should be possible to edit and change.

#### Additional context
BO > Orders > Orders > d

[2020-06-15 13:19] matks commented on #19098
Might be fixed by https://github.com/PrestaShop/PrestaShop/pull/19581

[2020-06-15 13:27] juraj1000 commented on #19740
Hello,
there is used payment method bank transfer

Here is a new order with the same issue
![image](https://user-images.githubusercontent.com/33311857/84662794-8f849f80-af1c-11ea-9678-f8f9b38026d0.png)
![image](https://user-images.githubusercontent.com/33311857/84662824-9c08f800-af1c-11ea-8fb8-db5dd1425554.png)

[2020-06-15 13:32] matthieu-rolland commented on #19747
hi @thbl , could you describe the exact steps to reproduce your issue, and describe the current behavior on ios 13?

(prestashop's isTablet is a PHP function)

[2020-06-15 13:38] alfonsolr09 commented on #19737
thats perfect!! thankss
:)

[2020-06-15 13:42] Robin-Fischer-PS opened #19754 "Error when installing without debug mode disabled"
#### Describe the bug

When installing PS with debug mode disabled (from git repo, not from a realease zip), there is an error during the install.

On 1.7.6.x and 1.7.7.x branches only, not on develop.

#### Expected behavior

No error during install :stuck_out_tongue:

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PS from git repo (176, 177 but not on develop)
2. Go to BO

[2020-06-15 14:01] NeOMakinG commented on #19440
Opened a PR for this ! @rdy4ever

[2020-06-15 14:17] Progi1984 commented on #19696
Added an option `--fixtures(=0/=1/)` in #19757

[2020-06-15 14:17] matthieu-rolland commented on #19750
We are aware of this issue, it is already in our debug backlog.

This issue is a duplicate of #9855.

To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you!

[2020-06-15 14:17] matthieu-rolland commented on #19750
Duplicate of #9855

[2020-06-15 14:17] #19750 closed, assigned to nobody

[2020-06-15 14:25] florine2623 opened #19758 "Cart rule credit has different behavior after first use by customer"
#### Describe the bug

As a merchant, I create an assigned cart rule with 100€ credit to a specific customer. This cart rule requires no code so it is automatically assigned to that customer.
The customer can use it multiple times until credit is no longer available.
The problem is, once used, the cart rule is not applied automatically anymore, a code is required.
It is sometimes hard for a custom

[2020-06-15 14:35] fest73 opened #19759 "Problem with set accesses by tabs"
#### Describe the bug

When i add tab in section "More", i can not set access in list accesses by tabs

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create tab module in section More
2. Go to accesses by tabs
3. Set access this tab module
4. Update page, access not setted

#### Additional information

* PrestaSh

[2020-06-15 14:52] matthieu-rolland commented on #19746
I didn't manage to reproduce your bug exactly, is the table and its fields correctly filled after uploading the import file and clicking next?

<img width="1187" alt="Capture d’écran 2020-06-15 à 16 51 01" src="https://user-images.githubusercontent.com/1784781/84672169-8699cb00-af28-11ea-8e10-13d98e6ec657.png">

[2020-06-15 14:57] boubkerbribri opened #19761 "[EPIC] Linkchecker errors"
#### Describe the bug

When running linkchecker from UI tests, I found several console or response errors

#### Expected behavior

No error found

#### Steps to Reproduce

Steps to reproduce the behavior:

- [x] #18776 - A. **BO - orders Pages** =>
1. Go to 'BO -> orders or BO -> orders -> add order' page
2. Open console (`F12` in chrome then console tab)
3. See error
![image](https://user-images.

[2020-06-15 15:06] florine2623 opened #19763 "Cart rule amount displayed is different than order amount"
#### Describe the bug

When a customer is using a discount created through a cart rule, the amount displayed in the shopping cart is the total amount of the cart rule instead of the amount of the order

#### Expected behavior

Have the same amount displayed between the cart rule and the total price of the order

#### Steps to Reproduce

Steps to reproduce the behavior:

1. In BO, create a Cart Rul

[2020-06-15 15:08] matks commented on #19761
Also
**BO - orders Pages**
1. Go to 'BO -> orders or BO -> orders -> add order' page
2. Click "create a customer" button to open modal

[2020-06-15 15:09] thbl commented on #19747
@matthieu-rolland
using isTablet() or isMobile() returns false for IOS 13 and up but should return true
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Context.php

[2020-06-15 15:13] boubkerbribri commented on #19761
Thanks matks, we didn't see that because we check only urls (not user scenarios), we will find a way to improve our script.

Error displayed when click on create customer :
![image](https://user-images.githubusercontent.com/48441421/84674665-8c44e000-af2b-11ea-97e8-d7fbbe6a8508.png)

[2020-06-15 15:22] Progi1984 commented on #14412
@marionf I close this issue. @eternoendless has removed share buttons in #17340 (1.7.8).

[2020-06-15 15:22] #14412 closed, assigned to nobody

[2020-06-15 15:26] #17007 closed, assigned to PierreRambaud

[2020-06-15 15:26] matthieu-rolland commented on #19751
Issue reproduced on 1.7.6.5, and also on 1.7.7 (after selecting the first element in the warning modal).

[2020-06-15 15:34] Progi1984 commented on #9708
I think this issue can be closed. The code with `strcmp` for themes has been deprecated since `1.7.5.x` version, and will be removed in the next major version.

[2020-06-15 15:42] matks commented on #19098
I put this issue back in "WIP" because the discussion is going on on the PR

[2020-06-15 15:43] matks commented on #19713
Yes

I update this PR status

[2020-06-15 15:52] matthieu-rolland commented on #19753
@PrestaShop/prestashop-product-team , this is a feature request, I didn't find a duplicate, do you think there is something to be done about this ?

[2020-06-15 16:03] KoreLewi opened #19764 "I can't place the order, with a 100% voucher code"
#### I can't place the order, if i have a 100% voucher code

##### In standard  Prestashop checkout module, i got the error "Please make sure you've chosen a payment method  ", even if my cart value is 0 (eg. i have a 100% discount)

Screeshoot: https://prnt.sc/t07j06

#### Steps to Reproduce

1. Just create a 100% discount code, apply it, and try to place the order.

#### Additional information

[2020-06-15 16:18] PierreRambaud commented on #9708
Feel free to reopen if it's still needed

[2020-06-15 17:20] joemugen commented on #19746
Really? It's weird.
I tried again with the product import file example after a full cache clean and it's still doing the same on Firefox 77.

![bug_import](https://user-images.githubusercontent.com/14120614/84686943-26f9ea80-af3d-11ea-88c2-c7dd45fc56f1.gif)

[2020-06-15 17:31] drqp1983 commented on #19723
Hello, Can you help me fix this issue?

[2020-06-15 17:59] drqp1983 commented on #19723
Hello, apparently I was trying to upload a larger than allowed file. Thank you!! for your help.

[2020-06-15 17:59] #19723 closed, assigned to nobody

[2020-06-15 18:45] sorvant opened #19765 "helpless"
While I am responding customers complaining about their inability to order products I can't stress enough my disappointment in PrestaShop.
🤮

[2020-06-15 19:49] juraj1000 opened #19766 "Incorrect help text for Tax in Tax rules"
#### Describe the bug
There is an incorrect help text for Tax in Tax rules: "Total tax 9%".

#### Expected behavior
There should be explained what the field Tax means.

#### Steps to Reproduce
BO > International > Taxes > New tax rule > Tax > Help text

**Screenshots**
![image](https://user-images.githubusercontent.com/33311857/84699504-ea84b980-af51-11ea-8334-23c4fe236b7a.png)

#### Additional in

[2020-06-15 20:23] juraj1000 opened #19767 "Missing field Company name in configuration parameters"
#### Is your feature request related to a problem?
There is missing the field Company name in shop parameters. There is the field Shop name but often the the Shop name is not the same as the Company name. The Company name has to be printed on the invoice, delivery slip, credit memo... it is legal requirement.
We do not want to use the field Registration number also for company name, because we wan

[2020-06-15 20:39] Ruman-Git commented on #13000
@fededim , Could you fix that problem? I am with the same situation!

[2020-06-15 20:44] matks commented on #19765
I think this issue is useless and does not need further answers.

If you are not happy using PrestaShop, sorry to hear that.

If you need help with your shop or third-party modules, please consider the PrestaShop Company support plans: https://www.prestashop.com/support

If you have questions about a PrestaShop module or theme you have downloaded or bought on the PrestaShop Addons Marketplace, you

[2020-06-15 20:44] #19765 closed, assigned to nobody

[2020-06-15 22:31] juraj1000 opened #19768 "Missing smarty variables for pdf output"
#### Describe the bug
We want to create own layout for pdf invoices, credit slips and delivery slips because standard layout is not suitable. There is an issue if we print configuration data for e-shop company. We want to format data by another way as it is in standard layout (small fonts in the footer, data are concatenated...). We need new smarty variables for e-shop configuration values:

- $sh

[2020-06-16 04:53] davidhardik opened #19769 "Employee Permission not working"
#### Describe the bug

I was trying to give the permission of certain module to the employee but all the modules are visible to all the employee even I remove their permissions.

I created the profile, employee and tried setting up the permissions and when I do that I found that it gives me an error message: "Access denied" or " You don't have permission to access the module"

#### Expected behavi

[2020-06-16 05:01] davidhardik opened #19770 "foreach() during checkout process Prestashop 1.7.6.4"
#### Describe the bug

When I turn on the debug mode while checking out it shows me foreach() error in ProductLazyArray() in the function getAttachements(). And it is happening whenever I turn on the debug mode and go to checkout page.

It is happening in default theme and default installation of prestashop also.

#### Expected behavior

It shouldn't give any error during checkout when debug mode

[2020-06-16 06:47] matteolavaggi opened #19771 "PS_WIREPAYMENT order validation fatal error"
[PrestaShopException]
Errore fatale
at line 1174 in file classes/Tools.php

1169.                 ->getTranslator()
1170.                 ->trans('Fatal error', [], 'Admin.Notifications.Error');
1171.         }
1172.
1173.         if (_PS_MODE_DEV_) {
1174.             throw new PrestaShopException($errorMessage);
1175.         }
1176.
1177.         return $errorMessage;
1178.     }
1179.
ToolsCor

[2020-06-16 06:49] matteolavaggi commented on #19771
![image](https://user-images.githubusercontent.com/24798703/84740798-55fc7480-afae-11ea-8ad3-33516f5ee1b4.png)

[2020-06-16 07:02] matteolavaggi commented on #19771
IT's something related to cloudflare, any idea or suggestions how to improve?

[2020-06-16 07:10] bxpeke opened #19772 "[Ajax / Server Error for action upgradeFiles] textStatus: "error " errorThrown:"Internal Server Error " jqXHR: "."
Got this error if I try the 1-click update module in version 1.4.7.1.
I read some answers on the forum but I must admit some older "solutions" I didn't get at all...

this is the log.txt:

on request...

[2020-06-16 07:45] voxTeam opened #19773 "FeatureValue::addFeatureValueImport create new item instead of finding the good one."
#### Describe the bug

In a specific development (like handmade import) if you want find or create a feature value with FeatureValue::addFeatureValueImport a new feature value is always created.

#### Expected behavior

If the feature value (not custom and in current language) exists, it should be found and not created

#### Steps to Reproduce

Use :
    FeatureValue::addFeatureValueImport($id_fea

[2020-06-16 08:18] colinegin commented on #17295
Fixed by : https://github.com/PrestaShop/PrestaShop/pull/17296

[2020-06-16 08:18] #17295 closed, assigned to nobody

[2020-06-16 08:20] sarahdib commented on #19758
@PrestaShop/prestashop-product-team
What do you think about that ?
Create a voucher without code, with no code require and partial use.
We made a first order the cart rule is automatically apply the first time but the second time a code is generated, if the total amount isn't used.
The improvement is to not use a code for the second time.

[2020-06-16 08:29] colinegin commented on #10556
ping @matks what's left to be tested here ?
I see the only PR open left is targetting 1.7.7.x, should this issue be in the 177 kanban ?

[2020-06-16 08:30] PierreRambaud commented on #19408
@NeOMakinG There is already a PHP hook to change JavaScript settings: `actionAdminControllerSetMedia`

[2020-06-16 08:38] #19713 closed, assigned to PierreRambaud

[2020-06-16 08:39] Progi1984 commented on #19713
Fixed in 176x #19718 & 177x #19716

[2020-06-16 08:44] colinegin commented on #10632
FYI @MatShir i just removed this issue from 178 kanban as we should only have issues in the kanban and not EPICs.

[2020-06-16 08:50] Junebyun commented on #19562
Hi @florine2623 I checked the context of the issue [#19558](https://github.com/PrestaShop/PrestaShop/issues/19558) and to me they are different matters. 19558 issues deals with the fact that if the merchant is exempt from VAT, it should not be mentioned in the invoice. So the invoice template should be adapted according to the option selected with the switch button to enable/disable tax.

The curr

[2020-06-16 09:05] Progi1984 commented on #19754
Ping @PierreRambaud

You asked it there : https://github.com/PrestaShop/PrestaShop/pull/19694#issuecomment-642062354
I do it here ;)

[2020-06-16 09:17] JohnMidity opened #19777 "Product name displayed as N/A in German backoffice"
#### Describe the bug

Shop has default language Deutsch (German), default country Germany. English is disabled. When adding a new product, the product name can only be entered in German, there is no language choice which is fine. But when backoffice users go to Catalog->Products, all product names will be _N/A_, because the English entry for the name field is not entered.

#### Expected behavior

[2020-06-16 09:40] Junebyun commented on #19562
Like @juraj1000 I think that the text _no tax_ should be deleted in the product page if the shop is not VAT tax liable. It will be harmonized with the shopping cart page which does not show the _no tax_ text.

[2020-06-16 09:43] joffd commented on #15187
Hi, I am facing the same error. Debian 9 and PHP 7, on a VPS. It was when I updated from 1.7.5 to 1.7.6.5 using 1-click. No error message during the update

Warning: require(/var/www/prestashop/vendor/composer/../markbaker/matrix/classes/src/functions/adjoint.php): failed to open stream: No such file or directory in /var/www/prestashop/vendor/composer/autoload_real.php on line 61

Fatal error: req

[2020-06-16 09:47] musaffar-patel opened #19779 "PayPal module 5.1.3 discount bug"
HI

It seems when a cart contains a discount voucher in the cart (in ps_cart_rule table), the paypal module only calculates discounts which are based on percentages and not amounts.

Therefore, the value for reduction_percentage must in ps_cart_rule must be set while the value for "reduction_amount" is ignored.  This results in a total without discount being sent over to PayPal for payment collect

[2020-06-16 09:58] juraj1000 opened #19781 "Capital characters in product name"
#### Describe the bug
There is displayed a product name at product detail screen always with capitals "HUMMINGBIRD PRINTED T-SHIRT". The product is defined in catalog with the name "Humming Bird T-Shirt" and it is displayed correctly at all other screens, e.g. homepage.  It is also correctly displayed at pdf output, e.g. invoice, delivery slip... It is incorrect only at product detail and quickvie

[2020-06-16 10:07] MobileStarChart opened #19783 "BO and Store Front shut down due to unknown reason."
Site: https://www.zamonji.com/, debug mode on.
Error
![image](https://user-images.githubusercontent.com/8614425/84761428-f927ab00-affb-11ea-9e05-69f1470d54e3.png)

![image](https://user-images.githubusercontent.com/8614425/84761462-05ac0380-affc-11ea-869a-c284bbedf67d.png)

I really have no idea about those errors, wish someone help, thanks!

[2020-06-16 10:10] sarahdib commented on #19759
Hello @dariusakafest

Could you tell me if this tab the problem is in the BO or FO ?

Thank you

[2020-06-16 10:20] juraj1000 opened #19784 "Capital characters in menu items and categories"
#### Describe the bug
There are incorrectly displayed menu items and categories, sometimes they are converted to capital letters.
- Menu item Clothes
It is displayed as "CLOTHES" but it is defined as "Clothes" in the configuration.
- Category Men
Some times it is displayed as "MEN' and some times it is displayed as "Men" but it is defined as "Men" in the configuration.

It should be always display

[2020-06-16 10:24] sarahdib commented on #19764
Hello @KoreLewi

could you tell me which version 1.7.6 exactly did you use ?

Could you check the restriction in the tab payement -> preferences.

Thank you

[2020-06-16 10:25] beyondsagency commented on #11277
Still no wishlist native on 1.7 after 3 years ?

[2020-06-16 10:27] Matt75 commented on #19779
PayPal module is not provided by PrestaShop, please contact module developer here : https://addons.prestashop.com/contact-form.php?id_product=1748

[2020-06-16 10:28] Matt75 commented on #11277
@beyondsagency

[2020-06-16 10:36] musaffar-patel commented on #19779
Hi

The author of the module in the module list and all licensing headers is named as "Prestashop".  The module itself also contains the following line in the constructor method:

$this->author = 'PrestaShop';

Who is the author if not Prestashop?  Please advise.

Kind Regards
Musaffar

[2020-06-16 10:39] MauroKali opened #19786 "AJAX CART on MOBILE"
Hello,

I have an issue about ajax cart on mobile:

When I add a product I get the message (a product is added, etc) and I see the number of products in the cart. BUT if I click on the cart preview it is not refreshed and I do not see the last product updated.

I need to refresh the page in some way in order to see all the products.

edit: FYI: no errors on console

* PrestaShop version: 1.7.6.4

[2020-06-16 10:40] Hlavtox commented on #19784
@juraj1000 The visibility is better in my opinion.

If you don't want it to be capital, just set **text-transform: none** on the items you dont want to capitalize. It's only a matter of styling and the default template.

[2020-06-16 10:40] Matt75 commented on #19779
It’s a partnership, module developer is @202-ecommerce

[2020-06-16 10:49] musaffar-patel commented on #19779
Hi Matt

Thanks, I've reported the bug to them.

Due to this being an official Prestashop module, it would be helpful if you or another member of the Prestashop team could report the bug to them along with me as this would help expedite the resolution of the bug.   In my my view, this is a serious bug which prevents fixed amount cart rules to be used.

Kind Regards
Musaffar

[2020-06-16 11:01] alx-web opened #19787 "Re-stock products not working"
## Describe the bug

When i click on "Return products" or "Partial refund", i Don't check "Re-stock products", the stock of the product returned doing +1.

The "Re-stock product" checkbox works if the order status is "Delivered"

#### Expected behavior

When i check the box "Re-stock product", the product should doing +1 on the stock.
If i don't check this box the stock of the product should not m

[2020-06-16 11:08] Matt75 commented on #19779
I’ve ping them on my last message, I’m sure they will response soon.

[2020-06-16 11:16] musaffar-patel commented on #19779
Hi

Super! many thanks

Kind Regards
Musaffar

[2020-06-16 11:21] #19553 closed, assigned to nobody

[2020-06-16 11:33] 202-ecommerce commented on #19779
Hi @musaffar-patel

Thank you for this information.

Please to not hesitate to [contact our support team](https://addons.prestashop.com/en/contact-us?id_product=1748) for getting quick response for your specific case. If it's already done, our team will answer you as soon as possible

Best regards
Clotaire for 202 ecommerce

[2020-06-16 11:52] hamus1 commented on #18165
Bonjour,
j'ai remis la version de php comme explique mais le probleme est toujours le meme

[2020-06-16 11:56] Houmeid commented on #18165
Bonjour @hamus1. Dans mon cas, ce qui avait fonctionné c'était une réinitialisation de Php. Genre j'ai supprimé la version 7.3 puis j'ai installé la version 7.2.

[2020-06-16 11:58] Junebyun commented on #19590
@matks text seems fine! I would just modify the last sentence:

_Webservice is enabled. Main entry point is http://localhost:8080/apb
It seems that webservice endpoint is not functional. If you are using httpd/apache2, you need to enalbe URL Rewriting.
To enable URL Rewriting, read [developer documentation](link)_

[2020-06-16 12:03] tvorgul commented on #19779
Hello,

@musaffar-patel Thank you again for this information.
This issue has been already fixed and the version 5.1.4 will be released on addons at the end of this week or by the beginning of next week.

Do not hesitate to use our [official repository](https://github.com/202-ecommerce/paypal) for reporting any issue or contact our [support team](https://addons.prestashop.com/en/contact-us?id_produ

[2020-06-16 12:06] Progi1984 commented on #18525
@marionf Actually, we have an option in CLI :

![image](https://user-images.githubusercontent.com/1533248/84771839-56126980-afda-11ea-9bf7-30c7103d9da6.png)

So an option in Process Install is logical.

[2020-06-16 12:06] rricci34 opened #19789 "Bug in stock quantity update - the quantity is added several times when clicking the Apply button several times"
I noticed a bug with the quantity updates in the stock management.

Indeed, some times on the 1st click we have the impression that nothing is happening, so we are tempted to click a second or a third time.
Watch what is happening, I am attaching a video that will be more telling.

[gestion-stock-bug.zip](https://github.com/PrestaShop/PrestaShop/files/4786428/gestion-stock-bug.zip)

[2020-06-16 12:12] sarahdib commented on #19241
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-06-16 12:12] #19241 closed, assigned to nobody

[2020-06-16 12:12] ikulis opened #19790 "Free shipping discount breaks the tax calculation on invoice"
#### Describe the bug

If the "Free shipping" discount is applied to the order it uses the tax rate from the products instead of the one from shipping.

#### Expected behavior

It should use tax rate from shipping and calculate from it.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make new order with one product tax rate 9% and paid shipping with different tax rate ex.21%.
![imag

[2020-06-16 12:17] sarahdib commented on #19263
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-06-16 12:17] #19263 closed, assigned to nobody

[2020-06-16 12:22] sarahdib commented on #18509
@colinegin what should we do with this issue ?

[2020-06-16 12:25] cutteren commented on #19720
Hi i have the same problem here, thanks to TWOEX for this explanation. Did anybody come up with a solution?  Ive tried in all the browsers available and reinstalled it all so many times now. same problem still.

[2020-06-16 12:30] sarahdib commented on #19346
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-06-16 12:30] #19346 closed, assigned to nobody

[2020-06-16 12:34] arirangz commented on #14979
From my side, I tested with all modules disabled and the issue is the same.

[2020-06-16 12:35] hamus1 commented on #18165
oui, c'est ce que j'ai fait et c'est toujours le meme soucis
![Capture d’écran 2020-06-16 à 1 34 37 PM](https://user-images.githubusercontent.com/55998752/84774813-409b4080-afd6-11ea-8cdf-970d0b7919d7.png)

[2020-06-16 12:37] Progi1984 commented on #18525
@marionf And the PR is here #19791

[2020-06-16 12:51] Houmeid commented on #18165
Essayez alors de passer à php 7.1.x. Généralement d'après ca que j'ai pu lire sur différent forum, ce problème est lié à la version de php que vous avez installé. (quelle est la version de ps que vous utilisez ?) @hamus1

[2020-06-16 12:55] colinegin commented on #19758
@florine2623 The customer is supposed to receive an email with the new code. Why do you say it's not easy to find this code ?

[2020-06-16 12:57] hamus1 commented on #18165
La version de php est 7.2 comme sur la capture d'écran.

[2020-06-16 12:57] sarahdib commented on #19766
@Junebyun could you check this in french it's ok but in english the translation is not ok.

[2020-06-16 13:00] Houmeid commented on #18165
quelle est la version de Prestashop que vous avez installé, vous pouvez le verifier dans le coin supérieur gauche de votre interface d'administration. @hamus1

[2020-06-16 13:02] hamus1 commented on #18165
1.7

[2020-06-16 13:06] musaffar-patel commented on #19779
Thanks, I've forwarded your message to my client who spotted the issue.

All the best for now
Musaffar

[2020-06-16 13:11] Houmeid commented on #18165
Les version 1.7.0 à 1.7.3 de prestashop sont compatibles avec la version 7.1 de php
Les versions 1.7.4 à 1.7.6 sont compatibles avec la version 7.2 de php. @hamus1

[2020-06-16 13:14] ikulis opened #19792 "Free shipping can be applied multiple times"
#### Describe the bug

You can apply the "Free shipping" discount  multiple times on same order.
Might be related to https://github.com/PrestaShop/PrestaShop/issues/19790 .

#### Expected behavior

Free shipping can be applied only once.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make order where the total price is at least 3x the shipping price (which should be more than 0)
![

[2020-06-16 13:19] #12675 closed, assigned to nobody

[2020-06-16 13:20] colinegin commented on #18509
@NeOMakinG is taking care of it, I've just discussed with him

[2020-06-16 13:26] juraj1000 opened #19793 "New text "Not calculated" for shipping"
#### Is your feature request related to a problem?
Sometimes it is necessary to calculate shipping cost manually by a merchant. It is usually the case when total price or total weight is greater than maximum range defined in carriers shipping cost. During the process the customer will place an order without immediate payment, the merchant  calculates shipping cost and contacts the customer via ema

[2020-06-16 13:28] Progi1984 commented on #14410
@LouiseBonnard @Junebyun  Do you think in domain `Install` the string
`'Installing PrestaShop is quick and easy. In just a few moments, you will become part of a community consisting of more than %numMerchants% merchants. You are on the way to creating your own unique online store that you can manage easily every day.'` would be better than
`'Installing PrestaShop is quick and easy. In just a few

[2020-06-16 13:30] matks commented on #14410
I think the string is better but the issue that it will not translated immediately 🤔 so in every installer in a foreign language, it will appear English until it has been translated

It's the same for every new string, however in the installer it's even more important

[2020-06-16 13:32] davidhardik opened #19794 "Barcode of Order ID & Shipping Tracking Number"
#### Is your feature request related to a problem?

I think it is frustrating not to have a barcode placed for shipping number and of Order ID in Delivery slip.

#### Describe the solution you'd like

A way to showcase barcode using the Shipping tracking number given in order and the order ID generated. It is helpful rather than looking for plugins and increasing the load time and processes. So, i

[2020-06-16 13:32] hamus1 commented on #18165
Oui je sais, ma version prestashop est la toute dernière soit 1.7.6 et la j'ai fait l'upgrade de php depuis 7.1 vers la 7.2
J'ai redemarré le pc, le serveur mais le problème persiste

[2020-06-16 13:32] matks commented on #19792
I thought I fixed that in https://github.com/PrestaShop/PrestaShop/pull/18321 🤔

[2020-06-16 13:40] Progi1984 commented on #13646
So no correct solution ?

[2020-06-16 13:40] ikulis commented on #19792
@matks maybe the issue is the `free_shipping` is on 2 places CartRule and OrderCartRule.
The one in OrderCartRule is 0 and the one in CartRule is 1.

[2020-06-16 13:54] NeOMakinG commented on #17376
It looks like #17651 fixed it :)

[2020-06-16 13:54] NeOMakinG commented on #17376
Feel free to open it again if you see the error!

[2020-06-16 13:54] #17376 closed, assigned to NeOMakinG

[2020-06-16 13:59] Progi1984 commented on #18966
Fixed by #19697

[2020-06-16 13:59] #18966 closed, assigned to matks

[2020-06-16 14:00] PierreRambaud commented on #19790
Hi and thanks for your report.

AFAIK, there are many problems with your invoice.

1. Invalid base price calculation
2. Invalid tax calculation

My invoice:
![image](https://user-images.githubusercontent.com/1462701/84783181-3fbfda00-afe9-11ea-8798-47a3cc8e7008.png)

Base price:
![image](https://user-images.githubusercontent.com/1462701/84783371-77c71d00-afe9-11ea-832a-e99cbaa7282b.png)

@colinegi

[2020-06-16 14:12] Progi1984 commented on #12168
Found the solution :
* Copy the file from `install-dev/langs/en/data/country.xml` to `install-dev/langs/<locale>/data/country.xml`
* Translate it.

Ping @LouiseBonnard : Is there any translations for country names ?

[2020-06-16 14:18] LouiseBonnard commented on #12168
@Progi1984, I confirm: country names are not translated.

[2020-06-16 14:24] sarahdib commented on #19767
@PrestaShop/prestashop-product-team what do you think about add the company name in store page ?

[2020-06-16 14:40] Progi1984 commented on #12168
@LouiseBonnard I have the solution. ;)

[2020-06-16 14:43] gagzu opened #19797 "Impossible to log in to Backoffice in PrestaShop 1.7.2.0"
**Error description:** nothing is shown when trying to log in.

We enter user (mail) and password, it tries to log in but nothing happens.
Inspecting browser’s console but no error is shown, nor even a clue to follow.

**Additional information:**
PrestaShop version: 1.7.2
PHP version: 7.1.33
Database client version: libmysql - 5.1.73

**We've tried this:**
- Empty the cache and cookies
- Verified

[2020-06-16 14:45] daresh opened #19798 "No High DPI support in ImageRetriever"
#### Describe the bug

Image retriever only generates low res images.

#### Expected behavior

All images should be generated correctly.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Turn on "Generate high resolution images" option
2. Regenerate all images, make sure the high res images are there
3. Delete thumbnails for one selected image of a product
4. Go to product page
5. Che

[2020-06-16 14:45] StudioAquilon opened #19799 "ps_legalcompliance overwrite $link variable"
**ps_legalcompliance  overwrite $link smarty variable**

ps_legalcompliance/ps_legalcompliance.php
_overwrite_
classes/Link.php

piece of code from ps_legalcompliance.php ( creation of a "smarty" variable named "link" ) :

    public function hookDisplayCheckoutSubtotalDetails($param)
    {
        // Display "under conditions" when the shipping subtotal equals 0
        if ('shipping' === $param[

[2020-06-16 14:46] sarahdib commented on #19769
duplicate of #9874

[2020-06-16 14:47] sarahdib commented on #19769
Hello @davidhardik

Your issue is a duplicate of #9874 you can follow this issue

[2020-06-16 14:47] #19769 closed, assigned to nobody

[2020-06-16 14:48] sarahdib commented on #19768
@PrestaShop/prestashop-product-team & @PrestaShop/prestashop-core-developers
Could you check this improvement ?

[2020-06-16 14:51] matthieu-rolland commented on #19252
@florine2623 I reproduced this error in 1.7.7, I also get this error message:

**You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1. From CartCore->setWsCartRows() Query was : INSERT INTO `ps_cart_product`(`id_cart`, `id_product`, `id_product_attribute`, `id_address_delivery`, `quantity`, `date_add`, `i

[2020-06-16 14:51] sarahdib commented on #19771
Hello @matteolavaggi

Could you give us more information :
- Steps to reproduce
- the exact prestashop version

[2020-06-16 15:01] daresh opened #19801 "Lack of full high DPI support when regenerating images in admin panel"
#### Describe the bug

When setting the option "Generate high resolution images" and generating some image type with "Erase previous images" set to NO, the high resolution images are not generated.

#### Expected behavior

Prestashop should generate missing images without a need to delete all of them.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Have a product with a set of image

[2020-06-16 15:03] NeOMakinG commented on #18509
https://github.com/PrestaShop/PrestaShop/pull/19800

I still added a selector so you'r not forced anymore to use the `.row` class

It doesn't totally resolve this issue but we don't want to restore the big bug we resolved on this patch, people using the "Classic" layout will be fine, others will need to add the new `.product-container` class !

[2020-06-16 15:08] colinegin commented on #16952
Hello @marionf any news on this bug ? Is it planned to work on it ?

[2020-06-16 15:40] ikulis opened #19803 "BUG: If both "CartRule" and "CatalogPriceRule" are applied, order tax rates are gone from invoice"
#### Describe the bug

Making order with both discount code and catalog price discount removed all tax rates.
It may be related to https://github.com/PrestaShop/PrestaShop/issues/19790

#### Expected behavior

The tax rates should stay on the product.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make one product with 9% tax rate (price 1.10)
![image](https://user-images.githubuse

[2020-06-16 15:54] matks commented on #19659
@olecorre I think we found and fixed the issue ! 😄 https://github.com/PrestaShop/PrestaShop/pull/19796

[2020-06-16 15:54] #19659 closed, assigned to nobody

[2020-06-16 15:57] colinegin commented on #19763
Hello @florine2623,

this is weird, I've tested on a 1.7.6.5 and I actually have the same behaviour as on 1.7.7.
![image](https://user-images.githubusercontent.com/35263827/84798027-c29d6080-affa-11ea-91c2-7717d0e44c26.png)

Could you test again on a fresh install please ?

[2020-06-16 15:59] colinegin commented on #19252
ping @florine2623 @matthieu-rolland there are no sufficient labels for us to know if this issue should be fixed in priority.

[2020-06-16 16:00] colinegin commented on #19753
ping @MatShir

[2020-06-16 16:05] matthieu-rolland commented on #19252
@colinegin I just put "minor" as the severity (the issue is that it's not possible to empty a cart via webservice), the issue is not a regression.

[2020-06-16 16:09] sarahdib commented on #19743
@PrestaShop/prestashop-core-developers could you check this ?

[2020-06-16 16:30] sarahdib commented on #19777
@JohnMidity Thank you for your feedback, I reproduce this issue.

[2020-06-16 16:33] sarahdib commented on #19793
@PrestaShop/prestashop-product-team what do you think about this improvement ?

[2020-06-16 16:37] sarahdib commented on #19781
@TristanLDD and @prestascott what do you think about this ?

[2020-06-16 16:39] #19781 closed, assigned to nobody

[2020-06-16 16:40] #19779 closed, assigned to nobody

[2020-06-16 16:43] sarahdib commented on #19784
Hello @juraj1000

You can edit the default template with child theme option.
https://devdocs.prestashop.com/1.7/themes/reference/template-inheritance/parent-child-feature/

Thank you

[2020-06-16 16:43] #19784 closed, assigned to nobody

[2020-06-16 16:46] sarahdib commented on #19797
Hello @gagzu

This is not a bug from prestashop software. Could you contact our support team

Thank you

[2020-06-16 16:46] #19797 closed, assigned to nobody

[2020-06-16 16:47] sarahdib commented on #19783
Hello @MobileStarChart

Could you contact our support team in order to help you solve this.

Thank you

[2020-06-16 16:47] #19783 closed, assigned to nobody

[2020-06-16 16:49] sarahdib commented on #19787
Duplicate of #16869

[2020-06-16 16:50] sarahdib commented on #19787
Hello @alx-web

Thank you for your feedback

This is a duplicate of #16869

[2020-06-16 16:50] #19787 closed, assigned to nobody

[2020-06-16 20:27] alx-web commented on #16869
Hi,

Please could you see my issue that is the same : https://github.com/PrestaShop/PrestaShop/issues/19787

This is a bug because when we click on "Re-Stock product" button it do +1 on the stock even we check box the box or not.

For example if the final customer return a defective product we would like to do a refund but Without restock the product.

I'm available to explain this problem if you

[2020-06-16 21:10] banan44 commented on #19736
@rdy4ever, @matthieu-rolland

Thanks for quick reply to my problem. I have set all folders to 0755 and all files to 0644 using Filezilla. I have cleared var/cache folder. Unfortunately, I still cannot access BO -> Advanced Parameters -> Information page. Still after a while it shows me 503 Service Unavailable.

I have also other Prestashop installment on the same server which I use for testing pur

[2020-06-17 04:43] juraj1000 opened #19806 "Minimum amount for carriers"
#### Describe the bug
There is missing a possibility for definition of minimum amount for carriers if there is used Out-of-range-behavior = Apply the cost of the highest defined range. We defined the carrier with ranges from 200 to 5000 and Out-of-range-behavior with the highest defined range. It works correctly if there is amount > 5000 but if amount < 200 then there is applied the cost from the

[2020-06-17 05:44] juraj1000 opened #19807 "Incorrect currency symbol in stats export CSV files"
#### Describe the bug
We use currency symbol € and there is incorrect symbol in CSV stats files. This issue is in these stats:
- Best categories
- Best vouchers
- Best-selling products

We use Win 10 with MS Excel or Libre office and the result is incorrect in both programs. It seems there are missing BOM characters (EF BB BF) at the beginning of the file.

#### Expected behavior
Correct displayin

[2020-06-17 05:45] Kerami82 commented on #16952
The same problem  :( . Wait for fix.

[2020-06-17 06:23] dasafefe commented on #19734
Resent again as the previous email returned.

-------- Forwarded Message --------
Subject: 	Re: [PrestaShop/PrestaShop] Selling price on product page
(#19734)
Date: 	Wed, 17 Jun 2020 13:05:04 +0800
From: 	acool <cs@acool.global>
To: 	PrestaShop/PrestaShop
<reply@reply.github.com>,
Matthieu Rolland <notifications@github.com>
CC: 	Mention <mention@noreply.github.com>

Hi Matt,

Below please find the

[2020-06-17 06:34] Progi1984 commented on #14410
@matks As each string

@LouiseBonnard I let you decide if I change this string.

[2020-06-17 06:46] pattex1 opened #19808 "Customer always lands on the details of his account, whatever he does..."
Hello everybody,
I have a problem that unfortunately occurs again and again:
Our customers had and still have technical difficulties with the ordering process on our side. Whenever the user is logged in, he always lands on the details of his account, no matter what he wants to call up. Therefore, the order did not work. The problem does not exist with every customer, but with too many. It also see

[2020-06-17 07:41] LouiseBonnard commented on #14410
@Progi1984, I think it'll better indeed! Where would you retrieve this number of active stores?

[2020-06-17 07:43] colinegin commented on #19808
Hello @pattex1 ,

Please, send your request in English.

English is the norm on GitHub

Thank you!

[2020-06-17 07:45] DianaButkute opened #19809 "BO - Product - Standart product - Features"
#### Describe the bug

I want to create some features, one `Customized value` and second two existing ones. And the `Customized value` after the existing ones saving duplicates.
I just create the product then add some features, first of all selecting the feature and setting the`Customized value` of it. Then add the second feature and choose the value from existing ones. Then save the product, refr

[2020-06-17 07:54] Progi1984 commented on #14410
@LouiseBonnard I put in variable. It is more easier to change the variable in code without changing the string in Crowdin.

[2020-06-17 07:56] superskyman100 commented on #16952
You may wait very long, there is ages this problem is reported. I had to buy a module can't rely on hypothetic Prestashop releases.

[2020-06-17 07:56] pattex1 commented on #19808
thanks - and sorry therefore. i translated it

[2020-06-17 07:57] rudy1976s commented on #16952
What module did you choose ? I am very in hurry and I need to fix this issue "yesterday"  :)

[2020-06-17 08:00] LouiseBonnard commented on #14410
Okay so the number is coded, there is no possibility to retrieve it dynamically?

[2020-06-17 08:08] superskyman100 commented on #16952
same reason i choose to buy a module... i use this one, really good  :
https://www.sunnytoo.com/product/easy-filter-module-for-prestashop1-7

I had to ask BEFORE buying if they could make some few integrations so that the module integrate correctly with my design > they did it in 5min.

Support is super efficient and the module is well done (i am not seller hu, just tell you my experience is good

[2020-06-17 08:08] Hlavtox opened #19810 "`ps_facetedsearch`: Sorting by price in faceted search does not work"
Sorting by price in category (with faceted search) does not work.

### How to reproduce it
1. Install 1.7.7 beta 2
2. Install Faceted search 3.6.0
3. For simplicity. Keep only one language. Keep only one currency. Keep only one country active.
4. Make a customer group ID 4.
5. Make 3 products.
-- 5A. Product A, Price 100, 21% tax included.
-- 5B. Product B, Price 150, 21% tax included.
-- 5C. Prod

[2020-06-17 08:09] kpodemski opened #19811 "Product comments module doesn't support multi-store properly"
#### Describe the bug

Well, same story :)

Configuration adapter doesn't take into account multi-store, because of that `productcomments` module won't work properly with few stores with different settings.

I've reported this over a year ago here:
https://github.com/PrestaShop/PrestaShop/pull/12544

#### Expected behavior

If you have few stores:
- Store A
- Store B

settings from each store shou

[2020-06-17 08:12] boubkerbribri opened #19812 "[BO - employees page] - Filter are not working"
#### Describe the bug
Filter are not working on Employees page on BO
#### Expected behavior
Filter should work

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'BO - employees Page'
2. Filter by any column of the grid (id = 1 for example)
3. Click on search
4. See error : Page is refreshed, list of employees is the same, filter column is empty (not filter is applied)

**Screen

[2020-06-17 08:14] colinegin commented on #19786
Hello @MauroKali ,

Thanks for your feedback.
I think this is related to this bug : https://github.com/PrestaShop/PrestaShop/issues/19733
Could you check if this is also happening on desktop ?

Thanks,

[2020-06-17 08:15] SergiuszZ commented on #14978
Hi,
my proposition ;-)
exchange
        if (!Validate::isLanguageCode($locale)) {
            throw new Exception('The locale ' . $locale . ' is invalid');
on
        if ($details = self::getJsonLanguageDetails($locale)) {
            return $details['iso_code'];

[2020-06-17 08:25] JevgenijVisockij commented on #10511
@PrestaShop/prestashop-product-team
Attribute drag and drop is working. But it works only when you are filtering by position. Default filter for attribute page is position, but for attribute values it's id_attribute.

Should I change the default filter of attribute values to position as well?

[2020-06-17 08:28] colinegin commented on #19794
Hello @davidhardik ,

Thanks for your feedback.
So If try to sum up what you just said, you would like the shipping tracking number (+ ID of the order) to be transformed into a barcode that can be scanned ?
When would that code be scanned ? When the shipping is in progress ?
What would be the action followed by this scan ?

Thanks for you reply, this will help us have a better understanding of the

[2020-06-17 08:34] Progi1984 commented on #14410
@LouiseBonnard Is there any API or data anywhere ?

[2020-06-17 08:36] LouiseBonnard commented on #14410
Well, the only one I know is Sandrine. 😁

[2020-06-17 08:40] aestuar commented on #9594
Same here, need also a solution.

[2020-06-17 08:41] colinegin commented on #19789
Hello @rricci34 ,

I manage to reproduce your bug on 1.7.6.5 : [https://drive.google.com/file/d/1IA2GccG0HIqh0Rph0qdeDyoyejk51_XT/view](https://drive.google.com/file/d/1IA2GccG0HIqh0Rph0qdeDyoyejk51_XT/view)
I’ll add this to the debug backlog so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you!

[2020-06-17 08:45] colinegin opened #19813 "[EPIC] - Stock/Movement page issues & improvements"
This EPIC centralizes all issues (mostly bugs) related to Stock and movement pages in Back-office.
Problems related to more global quantity and stock issues are to be done in other EPICs.
--> Product quantity / stock issues : #19846

**Quantity update bugs**
- [x] #9616
- [x] #12672
- [x] #19454
- [x] #19789
- [ ] #16869
- [ ] #23646
- [ ] #20465
- [x] #27866
- [ ] #28713
- [x] #29253
- [ ] #30330

[2020-06-17 08:53] davidhardik commented on #19794
Hi,

Yes delivery slips acts as Shipping Label so it will be used for scanning by Courier or Logistic Partners. Giving the Tracking number helps user track their information on courier partner website. It remains easier for them to receive the delivery slips with order ID & Tracking URL or number so that they can track it whenever they want.

The code will be scanned on the "Processing in Progress

[2020-06-17 08:58] Kerami82 commented on #16952
I know. I had this problem on prestahop 1.6  :(.

[2020-06-17 09:17] rrataj commented on #9594
In general AFAIK there are couple of bug related to splitting orders in PS (We are using 1.7.5.1 and multi warehouse config). There are solutions for most of them, but it's custom code implemented by me and I can't guarantee it's working 100% reliably, so I won't share it at this stage. I'm also not sure anymore what this thread is really about, because I saw multiple bugs mixed up together here.

[2020-06-17 09:37] NeOMakinG commented on #9699
Fixed there https://github.com/PrestaShop/PrestaShop/pull/19814

[2020-06-17 09:39] NeOMakinG commented on #19661
Hey @rflorent

We decided to add a new selector in order to avoid to force theme developers to use the .row class, btw the theme developer will have to update their theme after the release of this selector, because this fix some big bugs on product page and product listing. We decided to not revert that change because it's a bug fix..

Hope you understand and you agree with our choice

Thanks for

[2020-06-17 09:39] #19661 closed, assigned to nobody

[2020-06-17 09:47] rflorent commented on #19661
Hello @NeOMakinG

Thanks for this. I understand, agree and I think the theme developer doesn't do his job.

[2020-06-17 09:58] rdy4ever commented on #19808
Hi @pattex1
Could you provide more details about your shop? You can find them in Advanced->Information. Also, could you provide your shop url so I could take a quick test (as a client)?

[2020-06-17 09:59] Hlavtox opened #19815 "Wrong behavior when changing customer's group"
#### Describe the bug

0. Put {$customer.id_default_group} anywhere in the template to view current customer's group.
0. Create user group with id 4.
1. Go to FO, register a new customer. Log in to this customer.
2. Customer group should be 3.
3. Go to BO, edit this customer and change his default group to 4.
4. Go to FO, you will be logged out, but the customer group in context will still be 4.

[2020-06-17 10:02] rdy4ever commented on #19810
Hi @Hlavtox
I've never had a problem with faceted search sorting by price in any of my stores. Also, I can't reproduce this issue in a new install. So the problem must be with your particular installation/shop. Could you try to switch to the default theme and see if the problem persists?

[2020-06-17 10:18] jolelievre commented on #19803
Thank you @ikulis I'm currently trying to reproduce the issue

[2020-06-17 10:19] sirius82 commented on #9998
hi ! similar issue on PS 1.7.5.2. I have fresh products wich must be delivered by special shipping. These products are associated only with one carrier. If customer buy other products also, the carrier for these products is displayed, not the special fresh carrier. It's a very big problem !!

[2020-06-17 10:31] Junebyun commented on #19766
@sarahdib indeed the translation is not accurate.
In the 1.7.2 version the text was _(Total tax: %s)_ in English and _(Taxe totale : %s)_ in French but since the 1.7.3 and forth the English text was _(Total tax: 9%)_ and _(Taxe totale appliquée)_ in French.

We can either keep:

- _(Total tax: %s)_ in English and _(Taxe totale : %s)_ in French OR

- _**(Total tax applied)**_ in English and _**(Tax

[2020-06-17 10:32] masiorama opened #19816 "[SEO] Not possibile to specify different meta title for different product variants?"
Hello, I am experiencing an issue with PS 1.7.6.4 from the SEO perfspective.
In my store I have a lot of products with variants that at the momento have the very same meta title, which is a SEO issue.

From what I see in the cp there is no way to handle that data field by hand, am I right?

I searched the Issues section before opening this issue but I didn't find this exact problem, so maybe I am

[2020-06-17 10:33] colinegin commented on #19810
Hello @Hlavtox ,

which version of faceted search module are you using ? This seems to be working well with 3.5.0 version, i've just tested it.

Thanks !

[2020-06-17 10:33] pattex1 commented on #19808
Thank you for investigating.
the url is www.fine-liquids.com

Here are the  shop details:

Server information Linux #1 SMP Sat Sep 21 01:19:55 CDT 2019 x86_64

Server software version: Apache

PHP version: 7.2.31

Memory limit: 512M

Max execution time: 1000

Upload Max File size: 256M

Database information
MySQL version: 5.6.41-84.1

MySQL server: 127.0.0.1

MySQL name: zvjyjhmy_estore

MySQL use

[2020-06-17 10:34] rdy4ever commented on #19808
Could you please remove the database details and admin directory name? This is a public space.

[2020-06-17 10:46] rdy4ever commented on #19808
Hi @pattex1
I was able to place a test order on your website (Horia Test). However, your website is very slow and it looks like it's dragging some silenced errors behind. I suspect the theme as a culprit. You should try to place an order while the site is in debug mode ([how](https://www.prestashop.com/forums/topic/575132-how-to-enable-debug-mode-on-prestashop-17-and-older-versions-turn-on-error-r

[2020-06-17 10:52] colinegin commented on #19806
Hello @juraj1000 ,

Thanks for your feedback.
If I understood correctly your point, what you would like is the possibility to add several conditions to the same carrier : one for superior out of range (above the maximum) and one for inferior out of range (below the minimum).
--> with this new feature you could be able to differenciate the behaviour for amount below AND above the range.

Am I corre

[2020-06-17 11:07] Mejdios opened #19817 "Prestashop 1.7.6.3 problem in paypal"
Dear Friend
paypal discount not working prestashop 1.7.6
Thanks for Help

[2020-06-17 11:08] colinegin commented on #19809
Hello @DianaButkute,

Thanks for your feedback.
Actually your issue is a duplicate of #9680, so I'll close this one so we can all focus on the same issue. Please follow #9680, it should be fixed in 178 !

Have a nice day

[2020-06-17 11:08] #19809 closed, assigned to nobody

[2020-06-17 11:13] Matt75 commented on #19817
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/19779

[2020-06-17 11:43] Progi1984 commented on #12168
@LouiseBonnard CLDR has translations so I used it for extractions. A PR is available : #19818

[2020-06-17 12:09] #15890 closed, assigned to matks

[2020-06-17 12:10] #16656 closed, assigned to Progi1984

[2020-06-17 12:24] ikulis commented on #19803
Sure. Let me know if you need any more info.

[2020-06-17 12:24] juraj1000 commented on #19806
Hello @colinegin,
yes, that's correct

[2020-06-17 12:28] colinegin commented on #19772
Hello @bxpeke ,

Thanks for your feedback.
Could you please give us more information to be able to reproduce this problem ?
Is your current PrestaShop version 1.4.7.1 or is it the module's version ?
Note that if you are on PrestaShop 1.4, you will have to use the version 1.X.X of the module to be able to upgrade to the 1.6 version. And then you will be able to use the 2.X.X version to upgrade to t

[2020-06-17 12:29] colinegin commented on #19806
Thanks for your feebdack, I put this idea in our Carrier EPIC so that it can be studied more indepth.

[2020-06-17 12:34] colinegin commented on #19520
Ping @MatShir issue #9680 should be fixed during the development of the tab, as this can be quite frustrating to not be able to delete a feature.

[2020-06-17 12:40] colinegin commented on #19815
Hello @Hlavtox ,

Thanks for your feedback.
I reproduced all your steps on 1.7.6.5 (thanks for the clear explanation by the way), and yes in the end :
- the customer is logged out
- but conditions of the group are still applied and displayed (try for instance with a 50% discount)

I’ll add this to the debug backlog so that it’s fixed. If you have already fixed it on your end or if you think you ca

[2020-06-17 12:46] colinegin opened #19821 "[EPIC] - Customer groups management"
To be completed

## BUGS

- [ ] #13354
- [ ] #21937
- [x] #23244
- [ ] #27674
- [x] #27753
- [ ] #28415
- [ ] #28977
- [x] #29820

## IMPROVEMENTS

**Improvement in Customer groups page**

- [x] #9988
- [x] #21676

**Multistore**

- [x] #19318
- [x] #19366

Follow #19543 for customer / guest account management issues.

## FIXED

### BUGS
- [x] #19815
- [x] #19886
- [x] #21778
- [x] #21847

### IMP

[2020-06-17 12:51] clotairer opened #19822 "Hooks displayAdminOrderTabLink or displayAdminOrderTabContent are displayed with raw HTML"
#### Describe the bug

When you use displayAdminOrderTabLink or displayAdminOrderTabContent, you'll see HTML content.
![image](https://user-images.githubusercontent.com/52157233/84900007-c3410000-b0a9-11ea-9eb8-a086277216ed.png)

#### Expected behavior

Content should be not escape.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install https://github.com/PrestaShop/PrestaShop/file

[2020-06-17 12:56] colinegin commented on #19816
Hello @masiorama ,

Thanks for your feedback.
In Traffic & SEO > SEO & URLs > SEO options, you are able to enable the option "display attributes in the product meta title".

![image](https://user-images.githubusercontent.com/35263827/84900558-92ad9600-b0aa-11ea-9e89-d24a9472aa0d.png)

Did you already try to use this option ?

Thanks for your reply.

[2020-06-17 12:57] colinegin commented on #19817
Hello @Mejdios ,

I close this issue as this is a duplicate of #19779. Please follow this issue.

Thanks !

[2020-06-17 12:57] #19817 closed, assigned to nobody

[2020-06-17 13:08] Houmeid commented on #18165
Je vois, dans ce cas, je vous invite à ouvrir un autre ticket (vu que celui ci est deja cloturé), et à décrire votre probleme plus en détail @hamus1

[2020-06-17 13:08] florine2623 commented on #19770
Hi @davidhardik ,
Could you use PHP 7.2 ?
Here are the system requirements of PestaShop : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2020-06-17 13:15] florine2623 commented on #19807
Hi @juraj1000 ,
I can't reproduce the issue :
![Capture d’écran 2020-06-17 à 15 12 38](https://user-images.githubusercontent.com/16019289/84902467-24b69e00-b0ad-11ea-8f68-15384cef1fc8.png)
![Capture d’écran 2020-06-17 à 15 12 31](https://user-images.githubusercontent.com/16019289/84902479-284a2500-b0ad-11ea-8a89-dc9d24a8abb0.png)
This is not a PrestaShop issue, you need to check the parameters

[2020-06-17 13:17] masiorama commented on #19816
Well, I was not aware of that, and it does solve my problem indeed. Thank you very much!

[2020-06-17 13:17] #19816 closed, assigned to nobody

[2020-06-17 13:20] colinegin commented on #19816
You're welcome, I'm happy I was able to help you ! :)

[2020-06-17 13:24] florine2623 commented on #19773
Hi @voxTeam ,
Could you share the steps to reproduce your issue ?
I will try it on my end !
Thanks!

[2020-06-17 13:32] colinegin commented on #19807
I just discussed with @florine2623 and actually I also reproduce it when using Excel on Windows.
I’ll add this to the debug backlog so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you!

[2020-06-17 13:45] colinegin commented on #19807
Apparently you can configure it in excel :
- in main menu go to Data -> Get External Data -> Import Text File,
- follow steps in wizard - choose the encoding until you will see the correct preview and on the next step choose columns delimiter (delimiters differ from csv to csv files).

[2020-06-17 14:08] colinegin commented on #19793
Hello,

What you would like is get another option "custom price", where you will be able to decide what shipping price should be applied in some specific conditions ?
How would you apply this price to the order ?

[2020-06-17 14:12] colinegin commented on #19822
@matks I've seen your comments on the PR, so you validate the bug ?

[2020-06-17 14:24] Demacri opened #19824 "Wrong content in search field in backend orders panel causes 500 error."
#### Describe the bug

Writing pipe in search field in backend orders panel causes error.

#### Expected behavior

No error.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to orders page in admin panel.
2. Click on the customer search field
3. write something like "aaa|bbb" (the pipe causes the error)
4. See 500 Internal Server Error

**Screenshots**

https://imgur.com/kvfuu5X

[2020-06-17 14:26] Hlavtox opened #19825 "Cannot log out from customer account"
Hi, I encountered an issue, where I couldn't log out of customer's account in FO. You clicked on logout and it just refreshed the page.

It seems to be hosting-provider specific (https://www.wedos.com/), I did not encounter it on other providers.

The fix was to add this to .htaccess:

[code]

Can this be somehow prevented (for the future users)?

#### Additional information

* PrestaShop version:

[2020-06-17 14:29] colinegin commented on #19803
Did you reproduce the bug @jolelievre ?

[2020-06-17 14:34] colinegin commented on #19471
ping @TristanLDD @prestascott what do you think about this feature ?

[2020-06-17 14:36] florine2623 commented on #19792
Hi @ikulis ,

I reproduced your issue in PS 1.7.7.0 with your steps.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

@matks
In #18321, the issue was in the FO, this one occurs in the BO

Thanks!

[2020-06-17 14:36] matks commented on #19822
Yes, it's indeed an issue for modules. What is not clear yet is the solution. We must find something that provides enough freedom while keeping the software secure

[2020-06-17 14:37] matks commented on #19792
But BO and FO are supposed to use the same logic 😅 ...

Anyway if you reproduce, it means there is something to fix 💪

[2020-06-17 14:39] florine2623 commented on #19824
Hi @Demacri

Could you use PHP 7.2 ?
Here are the system requirements of PrestaShop : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Let me know if that fixes your issue.
Thanks!

[2020-06-17 14:40] colinegin commented on #17709
The issue #16969 is a duplicate of this one.

Specs :

If https://github.com/PrestaShop/ps_crossselling is installed too, then we can display the "Customers who bought this product also bought..." block into the shopping cart modal into https://github.com/PrestaShop/ps_shoppingcart/blob/master/modal.tpl#L4

[2020-06-17 14:41] colinegin commented on #16969
This issue is a duplicate of #17709. I close this one in favor of the other one ;)
Thanks !

[2020-06-17 14:41] #16969 closed, assigned to nobody

[2020-06-17 14:44] colinegin commented on #19432
Hello,

your issue seems to be a duplicate of #19733.
Can you confirm this is the same bug you're facing ?

[2020-06-17 14:52] florine2623 commented on #19799
Hi @PrestaShop/prestashop-core-developers ,

@StudioAquilon reports the non-usability of Link object in the Cart.tpl.
Do you thing we need to change the code in order in fit third-party modules ?

Thanks!

[2020-06-17 14:52] Demacri commented on #19824
Changed to 7.2.29 same issue.
It's not really a problem as a customer generally doesn't have a pipe in its name but i wanted to report it cause maybe can cause security issue or something else(?)
Thanks for the support.

[2020-06-17 14:57] florine2623 commented on #19824
This issue has been fixed in PS 1.7.7.0.
![Capture d’écran 2020-06-17 à 16 57 23](https://user-images.githubusercontent.com/16019289/84914206-a3b2d300-b0bb-11ea-803d-e766f93f9e70.png)

You can wait for the release candidate and upgrade your shop :)
I will close this issue.
Thanks!

[2020-06-17 14:57] #19824 closed, assigned to nobody

[2020-06-17 15:02] colinegin commented on #19604
Why don't you choose to display unavailable product attributes if you want to allow orders ?

[2020-06-17 15:03] florine2623 commented on #19720
Hi @cutteren
Try to install PrestaShop with a compatible version of PHP.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Thanks!

[2020-06-17 15:07] florine2623 commented on #19278
@dariusakafest
I'm sorry i don't understand what you mean.
Can you tell me how you created a customization using php without any fields ?
I will follow your steps and try to reproduce the issue.

[2020-06-17 15:09] colinegin commented on #19792
ping @florine2623 can you confirm this is a regression ?
I did not reproduce it on 1765, but if you can try on your side, just to be safe ;)

[2020-06-17 15:11] colinegin commented on #19770
ping @PrestaShop/prestashop-core-developers could you please try to reproduce this issue ?

[2020-06-17 15:13] #19566 closed, assigned to nobody

[2020-06-17 15:26] colinegin commented on #19811
Hello @kpodemski ,

I've followed the steps that you wrote down and I'm not sure to understand where is the problem.
In the shop where I've enabled comments for guests, I can write comments even though I'm not logged --> correct
In the shop where I didn't change the configuration (it uses the configuration done in All shops), I cannot write comments as a guest --> correct

So if I understand corre

[2020-06-17 15:33] florine2623 commented on #19792
It is not a regression for me, I reproduced it in PS 1.7.6.5 too.
Please check my screenshot :
![Capture d’écran 2020-06-17 à 17 32 01](https://user-images.githubusercontent.com/16019289/84918229-9d732580-b0c0-11ea-9fe9-5a245a3c2272.png)

[2020-06-17 15:45] beyondsagency opened #19829 "Refund Shipping after refund all products not working"
### Describe the bug

When we try to refund shipping cost after refund all products it's not working.

#### Expected behavior

We can refund shipping cost after refund all products in previous step.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to an order
2. Refund all products
3. Return to this order
4. Make a new refund with shipping cost
5. See error "The partial refund dat

[2020-06-17 15:45] JorgeNogueiraLFMPro commented on #19432
I disabled the module and the cart still does not update.

I don't have to do a new installation right now.

[2020-06-17 15:46] JorgeNogueiraLFMPro commented on #19432
Hi,

It's not the same bug.

[2020-06-17 16:07] colinegin commented on #19790
There is actually a bug, but it's not exactly what you are explaining @ikulis  :
![image](https://user-images.githubusercontent.com/35263827/84920742-deb90480-b0c3-11ea-83ba-6c635ffdf387.png)

My product price is supposed to be 20€ (tax excluded), but once I apply a free shipping discount, it actually discounts the product price and in the tax detail block the product base price is no longer corre

[2020-06-17 16:23] matks commented on #19811
FYI @marionf did some research about all modules multistore capabilities
Here is what she said about module productcomments https://github.com/PrestaShop/productcomments/pull/52

We can ask here when she's back (she's off this week) what she found exactly

[2020-06-17 16:43] colinegin commented on #19803
I don't reproduce all of your problems, but some of them :
- on FO - it seems correct to me
![image](https://user-images.githubusercontent.com/35263827/84925179-d794f500-b0c9-11ea-92ac-bcaa9d724aec.png)

- on order BO - the discount value is not correct (same on 177 and 1765)
![image](https://user-images.githubusercontent.com/35263827/84925399-1b87fa00-b0ca-11ea-9ae8-4cfd0b2ccdd3.png)

- on the in

[2020-06-17 18:58] ikulis commented on #19790
Looks exactly the same to me. Only in my case tax ended up negative, because `product_price < shipping`.

[2020-06-17 20:23] tarasklymets commented on #14955
Waiting for a decision?

[2020-06-17 20:29] juraj1000 commented on #19807
Hello,
I did it with Data > Get External Data > Import Text File and the result was correct. I had to manually select:
- code page UTF-8
- semicolon as a separator

It means that CSV file is generated without  UTF-8 code page information (BOM characters EF BB BF - see bug description). These characters must be at the beginning of the file if there is used UTF-8 code page. There is necessary to gen

[2020-06-18 02:35] blinkythefirst opened #19832 "getPreviewUrl function generates a wrong URL if the admin language is different then the default language"
Hello,

I'm developing a module to remove the ID from the URL and i ran into an issue with the preview URL.

I tracked down the issue to this function:

https://github.com/PrestaShop/PrestaShop/blob/11057fd1b1acb9b43e0712f1683810c63d151586/src/Adapter/Product/AdminProductWrapper.php#L889-L915

Based on the code, here is an example.

Have a multi-language store. The admin language ($context->langua

[2020-06-18 06:40] juraj1000 commented on #19793
Hello,
there would be the text "Not calculated" in the order, it means shipping costs are not known at the moment. It is the case a merchant has to calculate shipping costs manually and send this information to a customer for confirmation. Please see process description in feature requirement.

[2020-06-18 07:22] bxpeke commented on #19772
hi @colinegin

Yes my current Prestashop version is 1.4.7.1.
I used 1-click upgrade module v4.10.1 , which states it updates from versions  V1.4.0.1 till V1.7.7.0.

where can I find the modules you refer to?

Thanks

[2020-06-18 07:41] matks commented on #19799
@StudioAquilon Hi ! So you say that the issue is that https://github.com/PrestaShop/ps_legalcompliance/ assigns a `$link` Smarty variable, so you (as a 3rd party module developer) cannot use it, right ?

And I guess you suggest https://github.com/PrestaShop/ps_legalcompliance/ uses another variable name ?

I don't understand how this is an issue, you can assign whatever variable you want in Smarty

[2020-06-18 08:00] matks commented on #14146
@NeOMakinG has tried https://github.com/friendsoftwig/twigcs but he has a lot of errors on our Twig code that do look relevant, so another tool that does not fit our needs 😢

[2020-06-18 08:02] NeOMakinG commented on #14146
We should test https://github.com/friendsoftwig/twigcs also!

[2020-06-18 08:10] florine2623 commented on #19617
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
So I'll close this issue.

[2020-06-18 08:10] #19617 closed, assigned to nobody

[2020-06-18 08:17] florine2623 commented on #19658
Hi @sofiaulakova ,
Please answer only via GitHub and not by email.
What exactly does not work ?
What version of ps_facetedsearch are you using ?
How can I test if the bug is present ? Please share the steps to reproduce the bug.

Thanks!

[2020-06-18 08:21] florine2623 commented on #19734
Hi @dasafefe ,

Please answer only via GitHub and not by email.
The version of PHP is not compatible with your version of PrestaShop. PS 1.7.6.5 should be used with PHP 7.2, not 7.3. Please downgrade it and let me know if you still face the issue.
You can also check PrestaShop system requirements here: https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2020-06-18 08:35] florine2623 commented on #19736
Hi @banan44 ,
503 error are server error.
In your log file you have a timeout error. You should contact your hosting provider directly.
Thanks!

[2020-06-18 08:40] #14410 closed, assigned to Progi1984

[2020-06-18 08:47] florine2623 commented on #19772
Hi @bxpeke ,
I would advise you to let our support team to do it.
https://www.prestashop.com/en/support

Going from a version 1.4 to 1.7 requires some knowledge. Also the PHP version won't be compatible after migrating, that might break your website.

The error you're having is a PHP error : `Using array_key_exists() on objects is deprecated`
The PHP version on your hosting provider might not be c

[2020-06-18 08:52] GDM-Pixel opened #19834 "price specification not found for currency "" when checking for SAV with attachnment"
#### Describe the bug

Trying to access a customer message in SAV result in 500 error if there's an attachment to the message

#### Expected behavior

Display message from customer, with attachment

#### Steps to Reproduce

1- Send test message from contact form, with an attachment
2- From Dashboard, try to open the message
3- Error 500

**Screenshots**

See here : https://www.youtube.com/watch?v=

[2020-06-18 09:12] florine2623 commented on #19829
Hi @beyondsagency ,

Indeed the issue is reproducible in PS 1.7.6.5. However this bug has been fixed in PS 1.7.7. I would advise you to wait for the update to take advantage of this feature.
You can follow PS 1.7.7 progress here : https://github.com/PrestaShop/PrestaShop/projects/7

For now, I close your issue.
Thanks!

[2020-06-18 09:12] #19829 closed, assigned to nobody

[2020-06-18 09:12] CIMEOS commented on #19110
@Hlavtox
I don't know why but the official vatnumber module wasn't available in "installed modules" section in back-office, even if I could see it with FTP. I installed 2.1.0 version from[ here](https://github.com/PrestaShop/vatnumber) and now it works! Taxes are not included anymore for foreign business customers. Thanks a lot! I close this issue.

[2020-06-18 09:12] #19110 closed, assigned to nobody

[2020-06-18 09:14] florine2623 commented on #19834
Hi @GDM-Pixel ,
Please check PS system requirements : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Your version of PHP is not compatible with PS 1.7.6.4.
Thanks!

[2020-06-18 09:14] #19834 closed, assigned to nobody

[2020-06-18 09:16] colinegin commented on #10511
Yes I think we should change it as well.
But have you tried using the position field to make a filter ? It does not seem to work.

[2020-06-18 09:25] florine2623 commented on #19644
Hi @juraj1000 ,
The text on the footer is not from PrestaShop Core, you probably have a module that adds this text. Check the Design > Positions and unhook that module.
Thanks

[2020-06-18 09:27] florine2623 commented on #19644
Hi @PrestaShop/prestashop-product-team and @LouiseBonnard ,

@juraj1000 finds it confusing to have entitled the tax option "Enable tax". He prefers something like "Prices with tax included".
What do you think about that ?

Thanks!

[2020-06-18 09:36] matks commented on #19792
Oh, I believe in "Create an order" page it's OK (I just checked), "free shipping" discounts do not stack.

However it might not be wrong in "Edit/view an order" page.

[2020-06-18 09:40] florine2623 commented on #19729
Hi @PrestaShop/prestashop-product-team ,

What do you think about letting the merchant choose if he needs to use a different billing and delivery address ?

Thanks!

[2020-06-18 09:41] eternoendless commented on #19480
Yeah, the commit I mentioned above was added in 1.7.0 beta 1.

Oh rest assured, this won't happen for a long time. I don't expect the next major version to be released before 2022.

[2020-06-18 09:42] matks commented on #19480
Hi @oliversiegel I see the broad issue and indeed it looks nasty indeed. Thanks for the feedback !

I think we'll take this into account when we start a refactoring of the Front-Office however no such work can happen now on a minor PS 1.7 version because it would introduce Breaking Changes very hard to handle for all Themes relying on current implementations.

So it will probably solved in next ma

[2020-06-18 09:45] matks commented on #19792
Yes: confirmed. You can stack "free shipping" discounts in "Edit an order" page 😄

[2020-06-18 09:46] kpodemski commented on #19811
@colinegin @matks

i think that those problems are related to this method:
https://github.com/PrestaShop/productcomments/blob/master/productcomments.php#L63

we should force context of all shops during installation, i didn't have module before, i've installed it in context of one store and because of that settings were messed up

[2020-06-18 09:51] arirangz opened #19839 "Mail Alert: Product name is missing if combination"
#### Describe the bug

When getting mail alert "Product out of stock", the product name is missing for products with combination. It is working fine for product without combination

#### Expected behavior

The product name and combination name should appear in the email

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Edit a product with combination in the backoffice
2. Change the qu

[2020-06-18 09:56] florine2623 commented on #19807
Hi @PrestaShop/prestashop-product-team ,

Do you think something should be done so that a merchant can see the csv file without changing parameters in Excel ?
Normally when you first open a csv file in Excel, there's a window that let's you choose the encoding of the file like so :
![Capture d’écran 2020-06-18 à 11 55 05](https://user-images.githubusercontent.com/16019289/85006629-a7e1fd80-b15a-

[2020-06-18 09:57] florine2623 commented on #19432
@JorgeNogueiraLFMPro ,
Is there another error when you activate debug mode ?

[2020-06-18 10:02] #19189 closed, assigned to NeOMakinG

[2020-06-18 10:03] matks commented on #19189
@Matt75 This is now done for PS 1.7.8 😄 https://github.com/PrestaShop/PrestaShop/pull/19428

How critical is this topic for PS Checkout ?
If it's very critical 👀 there might be a window for backporting this into 1.7.7, you know who to talk to ...

[2020-06-18 10:05] kpodemski commented on #19811
@colinegin @matks

ready, with detailed explanation of the issue

https://github.com/PrestaShop/productcomments/pull/58

[2020-06-18 10:15] colinegin commented on #9629
ping @Junebyun what do you think about it ? What would be the best wording ?

[2020-06-18 10:16] ComonSoft commented on #14703
Hi,
We have the same problem with two sites that have thousands of products and hundreds of thousands of orders. It takes almost 20 seconds to 1 minute! Since the passage in 1.7 we lose orders! Is there at least a fix or solution? The 1.6 was a turbo compared to the 1.7 for this part. Our customer is furious and report to migrate to 1.7!
PS 1.7.6.5 PHP 7.2 Mariadb / debian dedicated server 8 proce

[2020-06-18 10:20] matks commented on #19792
All right, for the record:
- "add an order" page relies on AddCartRuleToOrderHandler whose logic is good which relies on legacy logic to compute the numbers, so when logic was fixed in https://github.com/PrestaShop/PrestaShop/pull/18321 it worked here too
but
- "edit an order" page relies on AddCartRuleToOrderHandler whose logic is bad because it does the computation logic itself so the bugfix htt

[2020-06-18 10:23] matks commented on #19792
And here is a Behat scenario that reproduces (and validates) the wrong behavior to be fixed:
https://github.com/PrestaShop/PrestaShop/compare/1.7.7.x...matks:failing-double-freeshipping-scenario?expand=1
[code]
``

[2020-06-18 10:28] StudioAquilon commented on #19799
Hi,

in the TPL of my module i use the link object method (classes/Link.php, it's a Prestashop class) to get a brand url :
$link->getmanufacturerLink()

Native modules also use this object ( ps_checkpayment/views/templates/hooks/payment.tpl )
$link->getModuleLink()

I do not generate the link object with my module.

[2020-06-18 10:31] kpodemski opened #19842 "ps_emailalerts module not properly installed"
#### Describe the bug

Try to install newest (2.2.0) ps_emailalerts module on clean installation, you'll notice that settings are missing and table in DB is not created

#### Expected behavior

You should be able to install module which is fully working :)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. You need to have **clean** installation
2. Install ps_emailalerts module
3. See

[2020-06-18 10:37] Hlavtox commented on #19110
@CIMEOS You're welcome bro. 🍺

It's not officially supported on 1.7, it works fine though. Just disable the online VIES vat number validation. The validation service can be unavailable and customer's will not be able to save the address. I made a issue for this. https://github.com/PrestaShop/PrestaShop/issues/19634

[2020-06-18 10:47] elboletaire commented on #9972
What's the status on this? I've been redirected from #15839 for the rounding issue and I can't believe is an issue created two years ago, marked as "Major", and no one else cared about it.

[2020-06-18 11:03] kpodemski commented on #19799
@StudioAquilon @matks

well, one of 1.7 good practices is to **not** use global context variables like `$link` (see `url` helper in dev docs), tho i'm surprised that core module uses generic variable name like this, especially that it was common to use `$link` in PS 1.6

IMO this code should be deleted and we should have link thanks to `{url}` helper in template :)

[2020-06-18 11:07] florine2623 commented on #19842
Hi @kpodemski ,

In PS 1.7.6.5 and PS 1.7.7.0, I could install v2.2.0 of ps_emailalerts.
When you say that settings are missing, what exactly is missing ?
Thanks!

[2020-06-18 11:08] kpodemski commented on #19842
@florine2623 all settings are "NO" and you don't have example e-mail in "emails list", do you have this issue?

[2020-06-18 11:10] juraj1000 commented on #19807
Hello,
it is necessary to generate CSV file from PS automatically with correct code page information. In my case the file was generated with code page UTF-8 and it seems it is defined in BO > Advanced Parameters > Database > SQL Manager > Settings > Select your default file encoding = utf-8.
It is required to open output CSV file without any additional actions by a merchant where he should  define

[2020-06-18 11:13] kpodemski commented on #19822
@matks what you mean "secure"? you want to filter something... what comes from module... which is installed by... merchant? if i'd like to do mess in store i have 99999 options to do that if someone is installing my module

[2020-06-18 11:19] Matt75 commented on #19189
@matks Not critical, we manage it for older versions yet

[2020-06-18 11:21] florine2623 commented on #19839
Hi @arirangz ,
I can't reproduce your issue in PS 1.7.6.5 with ps_emailalerts v2.2.0.
Here's a screenshot :
![Capture d’écran 2020-06-18 à 13 17 52](https://user-images.githubusercontent.com/16019289/85014302-49228100-b166-11ea-857d-bf2319a51690.png)
Sorry it's in French, but what's underlined is `the name of the product : the name of the combination`.

In the product page in the BO, all the inf

[2020-06-18 11:30] elboletaire commented on #16102
How is this the most priority must-have issue in front of actual bugs which are there since years ago?

[2020-06-18 11:53] matks commented on #19822
If I follow @PierreRambaud thoughts, I think we must "secure" (= escape) included items that contain user input (mainly to avoid XSS).

So if for example we have a Product Reviews module, the content sent from this module must be escaped 😉 (even in the BO, in the page where admin can monitor the reviews submitted). Here this hook belongs in Order page and there is no clear guideline stating that u

[2020-06-18 11:54] matks commented on #19822
@kpodemski By the way, @PierreRambaud confirmed `|raw` is fine here (see the PR https://github.com/PrestaShop/PrestaShop/pull/19820)

[2020-06-18 11:58] kpodemski commented on #19822
Ok, thanks, tho like i said, securing back office is tricky, i literally can do whatever I want if my module is on the server...

[2020-06-18 12:20] matks commented on #19799
Multiple topics clash here 😛

# ps_legalcompliance should not use variable name `link`

This one is easy to be solved, and indeed following @kpodemski suggestion we could use `{url}` helper.
However doing this will create a Breaking Change 🤔 : any theme using this TPL will fail if we remove `link`.

So the issue in the code is clear, what is unclear is "how to solve it without requiring any theme

[2020-06-18 12:22] colinegin commented on #12615
I don't manage to reproduce this issue.
@florine2623 can you confirm we can close this issue ?

[2020-06-18 12:30] LouiseBonnard commented on #19644
Hi there, thanks for your improvement idea! For the terminology, @Junebyun could let us know what she thinks about it. If we decide to change the wording, it will have to stay consistent with the rest of the software's tone of voice and match all of the behaviors impacted so I think a little study must be done here to get the most accurate wording possible. :-)

[2020-06-18 12:36] florine2623 commented on #19740
@juraj1000 ,
What exactly are you changing on the product section ?
Price ? Quantity ? More or less ?

[2020-06-18 12:36] s427 commented on #14663
I can confirm that I had the same problem with a clean installation, just today.
Prestashop 1.7.6.5 on Windows 10, running Apache 2.4 and PHP 7.3.

My Apache error log only show those messages during that timeframe:

`[Thu Jun 18 14:28:06.422530 2020] [fcgid:warn] [pid 3832:tid 1252] [client 127.0.0.1:62319] mod_fcgid: stderr: PHP Warning:  "continue" targeting switch is equivalent to "break". Did

[2020-06-18 12:42] mvorisek commented on #14663
@khouloudbelguith verify and reopen

[2020-06-18 12:43] colinegin commented on #9744
This issue is a duplicate of #19348, it should be fixed for 178.
I close this issue so that we can all focus on the same issue.
Please follow #19348 .

Thanks !

[2020-06-18 12:43] #9744 closed, assigned to nobody

[2020-06-18 12:44] matks commented on #14663
This is not the same issue.

The error messages you have here come from the fact that PrestaShop 1.7.6 does not run with php7.3 . PS 1.7.7 (next version to be released) is compatible with php7.3 but for PS 1.7.6 you must use php7.1 or php7.2

[2020-06-18 12:45] sofiaulakova commented on #19658
The slider doesn't work on some pages in the categories section. For example, I go to the category of beads and the slider with the price does not work, but if I go to the subcategory of pendants, it shows. And so everywhere in all categories. I attached screenshots in the first message

[2020-06-18 12:46] sofiaulakova commented on #19658
Module version v3. 5. 0

[2020-06-18 12:50] sarahdib opened #19844 "Avatar isn't displayed in log page"
#### Describe the bug
Avatar isn't displayed in log page
Maybe related to : #18622

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > advanced parameters > Logs
2. See error

**Screenshots**
<img width="1280" alt="Capture d’écran 2020-06-18 à 14 33 04" src="https://user-images.githubusercontent.com/3034677/85022014-f7342800-b172-11ea-9a2f-4e675f00cc51.png">

If applicable,

[2020-06-18 12:53] colinegin commented on #12899
Thanks for the feedback @arouiadib.
Indeed I do not manage to reproduce this issue on 1.7.7.x so I think we can close it.
@florine2623 could you please test it just to confirm ?

Thanks !

[2020-06-18 12:55] colinegin opened #19846 "[EPIC] - Products (combination, customized) & Pack stock issues"
This EPIC centralizes issues related to problems in stock and quantities for all types of products.
For issues related to the stock page, please follow #19813.

## BUGS

**Packs**
- [ ] #9806
- [ ] #9814
- [x] #14329
- [ ] #26728

**Customized products**
- [x] #9974
- [ ] #28688
- [ ] #36208
- [ ] #29663
- [x] #30071
- [ ] #31261
- [x] #32233
- [x] #32714
- [ ] https://github.com/PrestaShop/Presta

[2020-06-18 12:55] florine2623 commented on #19825
Hi @Hlavtox ,
I can't reproduce your issue on a PS 1.7.6.2 fresh install. Indeed it must be a server issue.
You can see my screen record here :
https://drive.google.com/file/d/12y0hw7C6mOJeSQyOOtrqiXPJyeIf3QJk/view

Thanks!

[2020-06-18 12:56] florine2623 commented on #19825
Hi @PrestaShop/prestashop-core-developers ,

@Hlavtox is having some issue on the FO when logged in as a customer. He found a way to fix this issue by changing the .htaccess. What do you think about that ?

Thanks!

[2020-06-18 12:57] colinegin commented on #13682
Ping @PrestaShop/prestashop-core-developers what do you think ?

Thanks !

[2020-06-18 12:57] s427 commented on #14663
Yes, it is the same issue. Let me clarify:

I only posted the messages visible in my Apache error log to show that _there is nothing else in it_ (for that timeframe). I was not aware that this was related to PHP 7.3 specifically.

__However__, even if I try a clean PS install with PHP 7.2 (same system), the problem remains:

1. the installation fails (`Template "W:\htdocs\myproject\mails\themes\mo

[2020-06-18 13:02] APerricone opened #19847 "Add possibility to specify id inserting object from webService"
#### Is your feature request related to a problem?

I am adding to our shop management desktop program to prestashop eCommerce, and I want use our id for categories and products.

#### Describe the solution you'd like

I would like a web interface similar to CSV upload, in that case you can specify the id, and the element are added or updated.

#### Alternatives you've considered

Another possibil

[2020-06-18 13:03] mvorisek commented on #14663
I also think this bug need to be reopened.

If I remember correctly this bug is related with relative paths use in PrestaShop and with one of ZTS or NTS PHP for Windows (not rembeb which one).

This bug should be fully fixed once migrated to Symfony 4.0+ where relative paths for templates are not longer supported.

[2020-06-18 13:04] colinegin commented on #13871
ping @MatShir I do not reproduce this issue, can you confirm ?
But I noticed another issue, it seems that you can not add to the maximum quantity available.
Let me give you an example : If I have 2 quantities left and I buy one product, if in BO I try to edit to add the 2nd item I get an error.
![image](https://user-images.githubusercontent.com/35263827/85023414-fc927200-b174-11ea-8385-381249326a9

[2020-06-18 13:12] Hlavtox commented on #19825
@florine2623 Yes, it does not happen on any store hosted on our servers. Only on WEDOS.

But it seems it happens on other providers also.
https://www.prestashop.com/forums/topic/515637-customers-cant-log-out/

[2020-06-18 13:14] colinegin commented on #16869
ping @MatShir what's the status of this issue ?

[2020-06-18 13:16] ksaandev opened #19848 "Allow override of checkoutProcess construction"
#### Is your feature request related to a problem?

I would like to modify the content of `controllers/front/OrderController.php` property `$checkoutProcess` when it is is constructed in `bootstrap()` function but I cannot do it through an override, it's not available.

#### Describe the solution you'd like

Put the logic of construction of `$checkoutProcess` inside a protected function to allow d

[2020-06-18 13:16] ksaandev commented on #19848
I have made a PR https://github.com/PrestaShop/PrestaShop/pull/19830/

[2020-06-18 13:17] clotaire202 commented on #14968
Is this feature always schedule on 1.7.8 ? We are very interesting to manage new translations system on our new 1.7 modules.
Thank you.

[2020-06-18 13:20] Gipielle commented on #19729
If these are the same ...

[2020-06-18 13:22] florine2623 commented on #19832
Hi @blinkythefirst ,

Yu can't remove the IDs of the product URL.
You will have an error like this :
![Capture d’écran 2020-06-18 à 15 21 25](https://user-images.githubusercontent.com/16019289/85025224-66138000-b177-11ea-98c4-beea236d8cc2.png)
Thanks!

[2020-06-18 13:25] florine2623 commented on #19848
Hi @PrestaShop/prestashop-core-developers ,

@ksaandev wants to override `OrderController.php`, he has a PR available. Could you please take a look and test it out ?
Thanks!

[2020-06-18 13:29] arirangz commented on #19839
No problem I am french too :)

Yes the product has a name and combinations:
![Capture d’écran 2020-06-18 à 15 02 19](https://user-images.githubusercontent.com/1193727/85023279-cbb23d00-b174-11ea-9a4e-4f23ee213373.jpg)

I checked the template as I have an override in my theme but the code seems to use the good:
{product} is almost out of stock.

[2020-06-18 13:30] ziegenberg commented on #18928
I'd like to extend the original issue, the original issue title is flexible enough to make this seem possible.

#### Is your feature request related to a problem?

- The phone number provided to front page by module ps_contactinfo is not clickable. Using smartphone it is comfortable that phone number is active, the same as email address.
- The eMail Address should be encoded to be protected agains

[2020-06-18 13:30] colinegin commented on #19813
ping @prestascott @TristanLDD FYI

[2020-06-18 13:36] matks commented on #19590
So I have the ✅ for wording
I am waiting for the ✅ on UX

... but is it still needed ? it's a really small text block, nothing critical

<img src="https://user-images.githubusercontent.com/3830050/82816059-bfe79980-9e9a-11ea-92c4-9d6185efe6f7.png">

[2020-06-18 13:40] kpodemski commented on #19839
@arirangz are you using some import tool for your store? importing from xml, csv or something?

[2020-06-18 13:41] Hlavtox opened #19849 "Faceted search indexing wrong prices and cannot be rebuilt by CRON"
Hi, investigating my issue https://github.com/PrestaShop/PrestaShop/issues/19810 I found out several issues with the price index of Faceted search. The result is, that product sorting is not working at all. Please, this is very important. Price order is the most used one, together with stock available.

### Indexing only takes in effect specific prices
I have a product with following prices with t

[2020-06-18 13:43] arirangz commented on #19839
no we don't have any importing modules and we never imported products from csv

[2020-06-18 13:44] LouiseBonnard commented on #18450
@colinegin and @atomiix, PlatForms ticket has just been noted as _done_, see [here](http://forge.prestashop.com/browse/PLFS-2424).

[2020-06-18 13:47] colinegin commented on #11402
ping @lolath-presta do you confirm it is expected to integrate this block in Wishlist ?

[2020-06-18 13:50] matthieu-rolland commented on #19717
@Hlavtox the issue we have right now is we have a different logic for: updating product quantity, doing a cancel product, and doing a delete product, when in all cases this is a change a quantity. @sowbiba have been working on a service dealing with quantity update and re-calculations of all things needing changement (cart rules update, product weights updates, shipping cost updates, etc...)

[2020-06-18 13:54] arirangz commented on #19839
I don't think this is related but I can see the productcoverage.txt and productoutofstock.txt and not matching with the html. Is this already reported?

[2020-06-18 13:57] florine2623 commented on #19746
Hi @joemugen ,

Thanks for the report.
It is indeed a bug in PS 1.7.7.0, I managed to reproduce it.
The name of the import after being saved is always `undefined` :
![Capture d’écran 2020-06-18 à 15 52 49](https://user-images.githubusercontent.com/16019289/85028954-0a97c100-b17c-11ea-8f4a-66c168f013c2.png)

This is a regression, in PS 1.7.6.5, it was working correctly :
![Capture d’écran 2020-0

[2020-06-18 13:58] colinegin commented on #18450
Amazing !

[2020-06-18 13:59] colinegin commented on #19590
Is it urgent ?
If yes then you can go without UX (Tristan and Scott are off today)
If no, then maybe we can wait for @TristanLDD's opinion who will be back tomorrow.