[2019-07-16 10:14] khouloudbelguith commented on #14674
Hi @MEGA911,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrade your version P

[2019-07-16 10:15] MEGA911 commented on #14674
You need some info to connect at the BO and the FTP ? maybe database
(For information I try to restaure a databse backup but I have the same problem)

[2019-07-16 10:15] khouloudbelguith commented on #14674
@MEGA911, Thanks to downgrade your version PHP, check & feedback.

[2019-07-16 10:16] MEGA911 commented on #14674
ok i test

[2019-07-16 10:18] khouloudbelguith commented on #14674
@MEGA911, thanks!
Waiting for your feedback.

[2019-07-16 10:20] MEGA911 commented on #14674
PHP 7.2
But i can't access to the BO

[2019-07-16 10:25] MEGA911 commented on #14674
ERREUR 500 => I access to the BO only with debug mode

[2019-07-16 10:26] khouloudbelguith commented on #14672
@01park, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.0.
After searching in the BO => click on the "View" button we are redirected to Customer Page instead of the Customer details page.
https://drive.google.com/file/d/1ISksNunvQkZDfFqe2WdsBpXUL5DvyU4p/view
In the PS1.7.5.2 => OK
https://drive.google.com/file/d/1JrgQjayALhSAUngINMfcbsZvyyDMThCH/view

I’ll add this t

[2019-07-16 10:27] wikao2 opened #14675 "How to add several attributes to the same product feature?"
On Prestashop 1.6.x.x, we could add several attributes to the same feature (for example: For the characteristic Size, we could put S, L, XL or XXL).
On Prestashop 1.7.5.1, I do not find how to do it. The only alternative I have found is to create the same feature as many times as I have attributes.
In my example, I end up with 4 features Size with 4 different attributes :
Size : S
Size : L
Size :

[2019-07-16 10:27] khouloudbelguith commented on #14674
@MEGA911,
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-07-16 10:29] Hlavtox commented on #14650
@PrestaShark Since our company uses Prestashop, I always added RRP price to the code manually. I just made it working just fine in 1.7.6, but I don't know about cart rules, that would need much deeper modification...

@samuel-pires @mariem-abid  I also join PrestaShark on this. Would be a nice feature to have by default.

![RRP](https://user-images.githubusercontent.com/6097524/61287488-433d5680-a

[2019-07-16 10:34] Hlavtox commented on #14638
@marionf Yes, it's the same issue. Do you think it can be fixed after year and a half? :-)

[2019-07-16 10:37] khouloudbelguith commented on #14638
Hi @Hlavtox,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9726
So, I close it.

PS:
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-07-16 10:37] #14638 closed, assigned to nobody

[2019-07-16 10:37] khouloudbelguith commented on #14638
Duplicate of #9726

[2019-07-16 10:43] tuhingr commented on #14632
Hello
Issue resolved to edited on public_html/modules/inixframe/InixModule.php
protected function displayInformation($msg)
to
public function displayInformation($msg)

[2019-07-16 10:43] cartomatica73 commented on #14621
however, I believe it is a preblema linked to coockie, how can I delete them automatically when a new login or a logout is made?

Is it correct as an idea according to you?

[2019-07-16 10:45] MEGA911 commented on #14674
Cool  I access to my BO

[2019-07-16 10:47] khouloudbelguith commented on #14621
@cartomatica73, thanks to follow this comment: https://github.com/PrestaShop/PrestaShop/issues/14371#issuecomment-509956780, it could similar to your issue.

Thanks to check & feedback.

[2019-07-16 10:47] khouloudbelguith commented on #14674
@MEGA911, great!

So the issue is fixed?

Thanks!

[2019-07-16 10:49] Hlavtox opened #14676 "Add another scenario for disabled products"
I want to give you an idea what to do with disabled products. I made the modification manually, but it would be nice to have in default PS.

**Current options of what to do with disabled products**
- 404
- 301 product redirect
- 302 product redirect
- 301 category redirect
- 302 category redirect

**My idea**
Add a 6th option - **Show a replacement product**
1. If this option was enabled and id_pr

[2019-07-16 10:50] khouloudbelguith commented on #14675
Hi @wikao2,

Thanks for your report.

Could you please provide me a screenshot about the exact difference between PS1.7 & PS1.6.

Thanks!

[2019-07-16 10:51] monparaashvin opened #14677 "issue with texture property in ps_facetedsearch"
If attribute is set with texture image, it is not display texture image in facet search.

[2019-07-16 10:53] Hlavtox commented on #14657
@khouloudbelguith This is a different issue, isn't it? I have a fresh install of 1.7.6 final.

[2019-07-16 10:54] banobazaar opened #14678 "Admin logouts when any option is selected like order/invoice/modules/settings etc."
I am facing issue for prestashop 1.7X admin login

it logouts when any option is selected like order/invoice/modules/settings etc.

I have to re-login and select menu option again but its logout again.

please help

[2019-07-16 10:56] MEGA911 commented on #14674
Perfect !!
YOU ARE THE BOSS

IT WORKS => BUT know is strangly in the front on retailers we don't have now the google map for the Geolocalisation => Very strange

https://www.march-lab.com/fr/boutiques

[2019-07-16 10:57] khouloudbelguith commented on #14676
Hi @Hlavtox,

Thanks for your report.
ping @colinegin, @marionf what do you think of his improvement?
It could be added to the new Product page feature?

Thanks!

[2019-07-16 10:59] khouloudbelguith commented on #14657
@Hlavtox, could you please check your database => table `ps_currency` & check the precision.

Thanks!

[2019-07-16 11:02] Hlavtox commented on #11207
Whats the point of showing the filter if there is only one product?

[2019-07-16 11:02] MEGA911 commented on #14674
The issue was good but i don't understand why the module store don't display the map
How i can fix this bug ?

[2019-07-16 11:06] khouloudbelguith commented on #14674
@MEGA911, did you use a custom module to display the map on the "stores" page?

Thanks!

[2019-07-16 11:07] MEGA911 commented on #14674
yes =>
Store Locator
v1.6.5 - par BelVG

[2019-07-16 11:08] MEGA911 commented on #14674
https://addons.prestashop.com/fr/international-localisation/6650-localisateur-de-magasin.html

[2019-07-16 11:10] MEGA911 commented on #14674
can i desactive and reactive the module ?

[2019-07-16 11:12] khouloudbelguith commented on #14674
@MEGA911, as it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-07-16 11:12] #14674 closed, assigned to nobody

[2019-07-16 11:13] Hlavtox commented on #14102
@ProBackup-nl Excluding VAT = VAT exempt. Just add your message to it and done.

[2019-07-16 11:16] MEGA911 commented on #14674
Ok THANKS FOR ALL
IT WORKS I DESACTIVE ET REACTIVE THE MODULE

YOU ARE THE BOSS

[2019-07-16 11:20] Hlavtox commented on #14657
@khouloudbelguith It was 0, I set it back to 2 and still the same issue.

THIS IS NOT ABOUT THE DECIMAL POINTS. Do you see the thousands separator? I added it to the text description and issue title.

![teka](https://user-images.githubusercontent.com/6097524/61290485-4556e380-a7cc-11e9-961d-5c85c3ad1201.PNG)

[2019-07-16 11:24] khouloudbelguith commented on #14677
Hi @monparaashvin,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 & the ps_facetedsearch v3.1.0 & ps_facetedsearch v2.2.1.
![image](https://user-images.githubusercontent.com/16067358/61290179-243dc500-a7c3-11e9-885c-12508d814ffe.png)
https://drive.google.com/file/d/1zFVdATMBoasn4DOSU_AKvagvHvU80LB6/view
With PS1.7.5.1 ps_facetedsearch v2.2.1 / ps_facetedsearch v3.1.0 => OK

[2019-07-16 11:34] Shad-Shinoda commented on #14640
I have the same issue with german language and euro currency.
For me, it appears in the cart and product discount table. Didn´t checked the mails yet.
![cart](https://user-images.githubusercontent.com/52961221/61291265-586ab300-a7ce-11e9-80b9-334cbb83a18f.png)

[2019-07-16 11:34] khouloudbelguith commented on #14678
Hi @banobazaar,

1/ Clear your browser cache and your cookies

2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table

3/ Manually clear smarty cache: remove all files from /var/cache/

4/ Disable the IP check in classes/Cookie.php (this can cause many issues with dynamics IP)

5/ Into the path /PROJECT_FOLDER/classes/controller/AdminController.php, replace 900 to 3600 which incr

[2019-07-16 11:39] colinegin commented on #13083
Thanks for your feedback and sorry for the delay.
We have reviewed your idea with our SEO expert, he confirmed your idea is a good practice for SEO.
I add it in our roadmap for 1.7.7 !

Thanks again and have a nice day,

Coline

[2019-07-16 11:47] khouloudbelguith commented on #14657
@Hlavtox, thanks for your feedback.
Yes, I have the same issue with PS1.7.6.0 & PS1.7.5.2 and the ps_facetedsearch v3.1.0.
![image](https://user-images.githubusercontent.com/16067358/61291734-43d6ec80-a7c7-11e9-85f0-a930c70a5883.png)

It should be like this format
`12 345,67 Kč`

With PS1.7.6.0 & ps_facetedsearch v2.2.1 => OK

![image](https://user-images.githubusercontent.com/16067358/61291892-b0

[2019-07-16 11:48] khouloudbelguith commented on #14657
ping @PierreRambaud

[2019-07-16 11:48] colinegin commented on #12852
Nice reminder to you @PrestaShop/prestashop-core-developers :)
what do you think @PierreRambaud ?

[2019-07-16 11:56] jameshellfire opened #14680 "Modern e-mail themes missed PL translations"
Not completed transaltions for modern e-mail templates, for example in PL (Polish).
![image](https://user-images.githubusercontent.com/16944636/61291986-530e6800-a7d0-11e9-8b66-40d30823a84c.png)
![image](https://user-images.githubusercontent.com/16944636/61292459-84d3fe80-a7d1-11e9-8964-f986ef955b99.png)
etc...

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.2

[2019-07-16 11:57] colinegin commented on #11144
Thanks all for your feedbacks !
After a deeper analysis and a discussion with our SEO expert, we have decided to keep metakeywords as they might be useful in some cases. We are going to provide a new global SEO option to be able to enable or disable metakeywords, so that merchants who don't need it can disable it.

[2019-07-16 12:04] khouloudbelguith commented on #14680
Hi @jameshellfire,

Your ticket is a duplicate of #14633
So, I close it.
Thanks!

[2019-07-16 12:04] #14680 closed, assigned to nobody

[2019-07-16 12:04] khouloudbelguith commented on #14680
Duplicate of #14633

[2019-07-16 12:04] colinegin commented on #11207
Hello @dineshbadrukhiya ,

I agree with @PierreRambaud and @Hlavtox, why do you need to display filters if there is only one product in the listing ?

[2019-07-16 12:05] khouloudbelguith commented on #14633
@maofree, thanks for your feedback.
I have the same issue after upgrade from PS1.7.5 to PS1.7.6.0 using the 1-click upgrade v4.9.0.

In fact, in the BO => International => translation =>
- Type of translation => Email translations
- Select the type of email content => Body
- Select your theme => Core
- Select your language => Italian

When we click for example on "Core emails" link => order_conf =

[2019-07-16 12:07] ghost opened #14681 "Add a new product info : Package content"
From @Hlavtox.

Request:
Add a field in the product page to show what accessories are inside the package. (something like short_description)

[2019-07-16 12:08] samuel-pires commented on #14650
Thank you for all the info.

@PrestaShark,
Just to be sure. You customer wants to be able to set the product price - let's call it "Final price" - and the "RRP price" when creating a product.
Then during sales periods, he/she would like to create a cart rule on some products but to apply the discount on the "RRP price" and not on the "Final price". Am I correct?
If so, why would he/she apply it to

[2019-07-16 12:20] jameshellfire commented on #14633
A temporary baypass is: change e-mail templates to classic.

[2019-07-16 12:21] fraria76 commented on #14663
Hi khouloudbelguith,

my installation language is ITALIAN.

I tried both to make a NEW installation Prestashop 1.7.6.0 and UPDATE from 1.7.5.2 but I have problems.

If I make a NEW installation Prestashop 1.7.6.0 at 23% appear a error message:    1: Template "C:\inetpub\wwwroot\XXXXXX\mails\themes\modern\core\account.html.twig" is not defined.

If I make a NEW installation Prestashop v1.7.5.2 the

[2019-07-16 12:28] jlorquin opened #14683 "Error when updating 1.6.0.14 to 1.7.5.2"
Hi there,

I tried to update from 1.6.0.14 to 1.7.5.2 using 1-click module and received several DB errors.

- The installation .zip was copied into /download (I didn't want to update to 1.7.6.0) and selected manually.
- PHP version is 5.6.40 (7.1.x gave errors when accessing the 1-click upgrade module)
- See screenshot for other options:

![](https://iqit-commerce.com/wp-content/uploads/2017/02/up

[2019-07-16 12:39] khouloudbelguith commented on #14633
Hi,

As discussed with @jolelievre, this is a bug & it is a regression.
In fact, In the PS1.7.5.2 is different from PS1.7.6 but emails are well translated.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-16 12:50] colinegin commented on #14550
What do you think about it @PierreRambaud ?

[2019-07-16 13:01] christophedupont commented on #14370
I confirm, I'm experiencing the same behaviour on 1.7.5.2.

[2019-07-16 13:08] wikao2 commented on #14675
Hi @khouloudbelguith

Please find attached screenshots.
![features-on-presta-1 6](https://user-images.githubusercontent.com/48359467/61296956-7854a380-a7db-11e9-9333-3f309cab89e4.jpg)
![features-on-presta-1 7](https://user-images.githubusercontent.com/48359467/61296957-7854a380-a7db-11e9-9d51-570dbb0f5857.jpg)
Is it what you want ?

[2019-07-16 13:23] cartomatica73 commented on #14621
yes I have already read it and I have applied the changes but without results ...
I don't have modules to speed up page performance, which could save cookies

[2019-07-16 13:30] matks commented on #12982
@djodjo3 🆙 😄 ?

[2019-07-16 13:40] SharakPL commented on #14533
@eternoendless lack of flexbox is the most negative part of it 😢 I hope it will be proper way in 1.8 with Vue instead jquery for product, cart and order related components.

[2019-07-16 13:45] Daaaaad opened #14685 "Allow module to include JS either at the top or at the bottom of a page"
In the last version of PS (1.7.5.2+) we can't choose no more if we want JS files to be moved to the end of the page, why?

Because of that the **bpost** carrier module developed by stigmi do not work anymore :/

(The module do not works with javascript code being defered to the end of the page)

Can you help?

[2019-07-16 14:02] christophedupont commented on #14370
Okay so for me it was not prestashop's fault but mine.
I updated an existing prestashop to 1.7.5.2, and an old override of PaymentModule was still there with :
[code]

[2019-07-16 14:22] khouloudbelguith commented on #14683
Hi @jlorquin,

This issue with the upgrade module, as reported in https://github.com/PrestaShop/autoupgrade/issues/298

Did you upgrade the module before starting an upgrade? The last version is v4.9.0

[2019-07-16 14:24] Stephane1874 opened #14686 "Button erase all doesn't work for logs & email pages"
**Describe the bug**

Hello the team,

Go to the advanced settings page> logs, tried to delete the logs, the button does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to advanced settings > logs
2. Click on Delete all
3. See error

**Screenshots**
![supprimer](https://user-images.githubusercontent.com/46202635/61301979-4cd6b680-a7e5-11e9-937c-df6853e94b9f.PNG)

**Additional in

[2019-07-16 14:24] jlorquin commented on #14683
Yes, it's the latest version. (I actually updated all modules before proceeding to PS update)

[2019-07-16 14:25] khouloudbelguith commented on #14370
@christophedupont, thanks for your feedback.
@kandiaga, any news about your issue?

Thanks!

[2019-07-16 14:27] khouloudbelguith commented on #14621
@cartomatica73, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-16 14:38] khouloudbelguith commented on #14675
@wikao2, thanks for these clarifications.
I checked with PS1.7.5.1 & PS1.7.6.0.
In the FO => Product page, the features are well displayed
![image](https://user-images.githubusercontent.com/16067358/61303506-86a4be80-a7df-11e9-8957-137f88b51202.png)
It is not similar to yours.

In the BO, after reloading the product page => the features are displayed in order.
![image](https://user-images.githubus

[2019-07-16 14:38] davidglezz opened #14687 "Wrong params hook DisplayOrderConfirmation"
(1/1) ContextErrorExceptionNotice: Undefined index: objOrder
--

**Received params**
[code]
**Expected params (from documentation**
https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/)
![image](https://user-images.githubusercontent.com/194784/61303011-126e1900-a7e7-11e9-8c04-17c2d5dbb434.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Install module that hooks Displ

[2019-07-16 14:41] davidglezz commented on #14687
The problem is that the documentation is wrong

[2019-07-16 14:46] khouloudbelguith commented on #14666
@Hlavtox, what is the exact behavior is selected when out of stock?
![image](https://user-images.githubusercontent.com/16067358/61304263-d3d56000-a7e0-11e9-9a32-cc7d3e3b0f31.png)
Is it "Deny orders" or "Allow orders"?

Thanks!

[2019-07-16 14:51] khouloudbelguith commented on #14683
@jlorquin, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14620 to fix the issue.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/14617#issuecomment-510884731
So, I close it.
Thanks!

[2019-07-16 14:51] #14683 closed, assigned to nobody

[2019-07-16 14:51] khouloudbelguith commented on #14683
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/14617#issuecomment-510884731

[2019-07-16 15:00] khouloudbelguith commented on #14686
Hi @Stephane1874,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 fresh install & after upgrade from PS1.7.5.
https://drive.google.com/file/d/1kRxIzVAU3WIKNYQ5dxY-wz-sCtMn64yF/view
In the PS1.7.5.1 => OK
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-16 15:04] Slews commented on #14640
The issue occures because the data used to set the maxFractionDigits of the priceSpecification is the precision field of the currency from the database.

[2019-07-16 15:04] jlorquin commented on #14683
So you're saying that I don't have autoupgrade v4.9.0 and that I have to unistall and install it it instead of  updating it?

[2019-07-16 15:12] khouloudbelguith opened #14688 "In the Dashboard page Previous version Prestashop, Newest version is not updated"
**Describe the bug**
In the Dashboard page Previous version Prestashop, Newest version is not updated
**To Reproduce**
Steps to reproduce the behavior:

1. Prestashop old version < 1.7.6.
1. Go to the BO => Dashboard

=> Newest version is not updated

**Screenshots**
![image](https://user-images.githubusercontent.com/16067358/61306261-2fedb380-a7e4-11e9-8fcd-1d33026fb53f.png)
![image](https://user

[2019-07-16 15:15] khouloudbelguith commented on #14580
@centoasa, issue created: https://github.com/PrestaShop/PrestaShop/issues/14688

[2019-07-16 15:19] khouloudbelguith commented on #14683
@jlorquin, your issue is the same reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/14617#issuecomment-510884731 with the same errors in the logs
We have an old PR: https://github.com/PrestaShop/autoupgrade/issues/298
And this is the new PR: https://github.com/PrestaShop/PrestaShop/pull/14620 should be added to PS1.7.6.1.
Thanks!

[2019-07-16 15:24] khouloudbelguith commented on #14644
@mariusherea, your issue seems to be related to this https://github.com/PrestaShop/PrestaShop/issues/14608
Could you please check the table `ps_currency` => `precision` column & feedback.

Thanks!

[2019-07-16 15:25] khouloudbelguith commented on #14566
@Allthejam, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-16 15:25] #14566 closed, assigned to nobody

[2019-07-16 15:28] mariusherea commented on #14644
I found the problem with the help of nice guy on PS forums. In Preferences > Orders, there was a min. amount set to accept an order, 1000000000000000. Once that modified, the error went away. Is not time for other errors :P

[2019-07-16 15:31] lorenzoelwood commented on #9833
Hi,
any good news about this ticket? We haven't  find some news in new releases and so I don't know if it's fixed

Thanks

[2019-07-16 15:36] khouloudbelguith commented on #14386
@Jerome08, I tried with PS1.7.5.1 & it is OK
https://drive.google.com/file/d/1LcFr2nUD64gFb_R9H4dXIliXENjQPN6g/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-16 15:38] khouloudbelguith commented on #14571
@MockoB, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrading your ve

[2019-07-16 15:43] khouloudbelguith commented on #9812
Hi @colinegin,

Yes, I have the same issue with PS1.7.6.0.
https://drive.google.com/file/d/1v2TpEIWQezMQxVENnA069m0-oVzVejQD/view
![image](https://user-images.githubusercontent.com/16067358/61308783-dcca2f80-a7e8-11e9-8e01-68e3718c83b4.png)

Thanks!

[2019-07-16 15:53] fraria76 commented on #14663
Hi khouloudbelguith,

I did a complete new installation test of Prestahop 1.7.6.0 with ENGLISH language: the result is the same.

But now when appear the error at 23%
1: Template "C:\inetpub\wwwroot\XXXXXX\mails\themes\modern\core\account.html.twig" is not defined.

I go on directory C:\inetpub\wwwroot\XXXXX\mails\themes and I delete MODERN directory.

The installation completed successfully.

I a

[2019-07-16 16:04] khouloudbelguith commented on #12998
Hi @PierreRambaud,

Before checking the PR, when we import a CSV file with incorrect data (incorrect Parent category), I have a red alert without exceptions.
https://drive.google.com/file/d/1fGitfaIXBMkL0XizauTInjSDJSHLEoWC/view
![image](https://user-images.githubusercontent.com/16067358/61309819-df2d8900-a7ea-11e9-93c3-71df169a8574.png)
After testing this PR: https://github.com/PrestaShop/PrestaS

[2019-07-16 16:09] khouloudbelguith commented on #14644
@mariusherea, thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-16 16:09] #14644 closed, assigned to nobody

[2019-07-16 16:09] Klemart3D opened #14690 "Attempted to call an undefined method named "buildModuleBaseDomain""
**Describe the bug**
After a fresh update of PrestaShop from PS 1.7.5.1 to 1.7.6.0, I can no more configure any module.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to PS 1.7.6.0
2. Click on 'Configure' of a module (like Bankwire or Checkpayment)
3. Get an error 500 page
4. See in logs error:
[code]

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.2

[2019-07-16 16:11] khouloudbelguith commented on #9833
Hi @lorenzoelwood,

Sorry not yet.

Thanks!

[2019-07-16 16:16] khouloudbelguith commented on #14690
Hi @Klemart3D,

Thanks for your report.
I did not manage to reproduce the issue after an upgrade from PS1.7.5.2 to PS1.7.6.0 using the 1-click upgrade v4.9.0.
https://drive.google.com/file/d/1wKWIxEkCaSlrHMNaYRKlpE828DPsPfJT/view
What is the exact version of the 1-click upgrade did you use?
Could you please try to re-install those modules, clear cache, check & feedback.

[2019-07-16 16:53] koalabang commented on #14660
hi, after upgrade in 1.7.6 it works good.
But i have a new error for webservice, i have an error 401 and on webservice page i have a message :
Please activate the 'mod_auth_basic' Apache module to allow authentication of PrestaShop's webservice
Have you got an idea ?

[2019-07-16 17:30] MockoB commented on #14571
Hi, @khouloudbelguith
I just downgraded and tried if there is any difference.
With php7.2 the product page is still loading slower with product comments module installed, and much faster without it.

[2019-07-16 17:50] jlorquin commented on #14683
Yes but I don't understand the solution well. The English used there is quite bad. One user is saying:

Are you saying that is the solution? The permission 777 has to be applied to what folder exactly?

Thanks!

[2019-07-16 18:35] Jerome08 commented on #14386
ok i have a log in /var/logs
can i send it here? or does it contain some private information?

for debug mode report, i kwow thow to activate debug mode but i don't see how to export it
can i save the page to a pdf file?

Thanks
jerome

[2019-07-16 19:45] jlorquin opened #14692 "Issue after updating to 1.7.5.2"
Hi there,

I updated 1.6.0.14 to 1.7.5.2 and when I click on a product I get the following error in debug mode:

[code]

Update log for SQL part: https://pastebin.com/A0yAquMM

PHP version: 7.1.30

I was having errors when updating as explained in [#14683](https://github.com/PrestaShop/PrestaShop/issues/14683) but managed to finish update as as explained [here](https://github.com/PrestaShop/Presta

[2019-07-16 19:53] mickaelandrieu opened #14693 "Unable to upload png files into Product categories pages"
**Describe the bug**
I wanted to use a png file as product category image but I can't, the file is always converted to jpg file at best.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Back Office, in Sell > Categories
2. Edit a category, upload a png file
3. Save and the message of success
4. Then check the file: well, it's a jpg and the transparency is lost.

![oupsy](https://use

[2019-07-16 20:06] eternoendless opened #14694 "An InvalidArgumentException could be thrown in some circumstances"
**Describe the bug**

PHP automatically expresses very large numbers, or numbers with more than 4 decimal places in scientific notation, as can be seen here: https://3v4l.org/AbYbl

This means that after certain operations, code could attempt to instantiate a `Decimal\Number` using scientific notation numbers (unsupported by the lib right now), resulting in an exception as described in issue #1464

[2019-07-16 20:18] DBBlueDeath opened #14695 "8 digits long image ID goes to 404"
Product images that have 8 digit long IDs return 404 instead of the image. The files are there, but when viewing the site, it returns 404 instead of the image.
The .htaccess rules support 8 digits, so it should work, and if I copy the resolved URL from a htaccess tester, that works, too. (or manually enter the img/p/1/2/3/4/5/6/7/8/12345678-large_default.jpg format)

**To Reproduce**
Method 1:
1.

[2019-07-16 20:31] banobazaar commented on #14678
thank you @khouloudbelguith

[2019-07-16 20:31] #14678 closed, assigned to nobody

[2019-07-16 20:56] banobazaar commented on #14599
i got one very useful and free module for whatsapp. it shows product name automatically on merchant's whatsapp numbers/chat.... https://www.fyazilim.com/

[2019-07-16 20:57] banobazaar commented on #14600
great thanks @khouloudbelguith

[2019-07-16 21:13] DBBlueDeath commented on #14695
I found the reason behind this: Apache can't do more than 9 captures groups, so $10 is interpreted as $1 and a zero in this line:
`RewriteRule ^([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(\-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ %{ENV:REWRITEBASE}img/p/$1/$2/$3/$4/$5/$6/$7/$8/$1$2$3$4$5$6$7$8$9$10.jpg [L]`
Source: https://stackoverflow.com/questions/5848962/rewriterule-using-10-11-12-and

[2019-07-16 21:20] DBBlueDeath commented on #14695
I also found a solution. There might be a better ones, but this works for now.
Replace the line in my previous comment with these:
[code]

[2019-07-16 21:47] SSHawke opened #14696 "Stuck in Maintenance Mode After Update"
**Describe the bug**
After I updated from version 1.7.4.3 to 1.7.6.0 I cannot get the shop out of maintenance mode. The settings show the shop as active, however it is still displaying my maintenance message. I have a multishop. All shops are showing maintenance message. I have emptied cache and I am able to get to the admin panel without issue.

[2019-07-17 00:44] SharakPL commented on #9929
I've been wondering one thing about this for years as it's the same in prestashop 1.6. Why does it say  **Up to...** in You Save column? Clearly it's wrong! It should be **At least...**. In above example €1.60 is the smallest possible amount you save when you get 10+ items, not the highest. WIth 19 items you save €3.04.

[2019-07-17 05:48] sas-adilis opened #14697 "Attempted to call an undefined method named "getLocale" of class "Language"."
HI

This morning,
Surprise my shop is not working with this issue, no reason why.

**Describe the bug**
Attempted to call an undefined method named "getLocale" of class "Language".
Did you mean to call "getLocaleByIso"?

(1/1) UndefinedMethodExceptionAttempted to call an undefined method named "getLocale" of class "Language".Did you mean to call "getLocaleByIso"?
--
in Controller.php line 188
at C

[2019-07-17 06:11] wikao2 commented on #14675
I think it's a problem related to the theme, because actually, when I reload the page (on the BO or on the FO) the features appear in order. However, even if on the FO it appears in order, I always have:
Feature 1 Value 1
Feature 1 Value 2
Feature 2 Value 1
Feature 2 Value 2
If I have multiple values for the same feature, I still have as many rows as values.
I'll ask that with the developer of the

[2019-07-17 06:12] #14697 closed, assigned to nobody

[2019-07-17 07:12] marionf commented on #14677
@khouloudbelguith
I can't reproduce with 1.7.6.0 and faceted search v.3.1.0

![capture d'écran_1764](https://user-images.githubusercontent.com/13449658/61354704-09c32480-a873-11e9-9b5b-5e7cc35e05f9.png)

[2019-07-17 07:14] khouloudbelguith commented on #14229
Hi @maofree,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-17 07:14] #14229 closed, assigned to nobody

[2019-07-17 07:21] khouloudbelguith commented on #14696
Hi @SSHawke,

Thanks for your report.
Did you try to disable the maintenance mode shop by shop?
You need to select your shop in the BO => Disable the maintenance mode & save.
Thanks to check & feedback.

[2019-07-17 07:24] marionf commented on #14677
@sarahdib Can you try to reproduce ?

[2019-07-17 07:39] marionf commented on #14686
Same issue on email page, erase all button doesn't work
But if you select all and delete with bulk action it's working

[2019-07-17 07:50] Klemart3D opened #14698 "Strange round price for modules"
**Describe the bug**
I have some strange module prices displayed on PS 1.7.6.0.
French BO in Euro (€).
Some prices are : 29.990000000000002 € (see screenshot below).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules > Catalog of Modules
2. See strange prices for some modules

**Screenshots**
![module-prices](https://user-images.githubusercontent.com/7419525/61357130-054d3a80-a878

[2019-07-17 07:51] khouloudbelguith commented on #14685
Hi @Daaaaad,

In the PS1.6, in the performance page, we have an option to "Move JavaScript to the end"
![image](https://user-images.githubusercontent.com/16067358/61357299-e0ed6000-a86f-11e9-8c3e-322020bb26dd.png)

In the PS1.7, this option doesn't exist
![image](https://user-images.githubusercontent.com/16067358/61357339-f793b700-a86f-11e9-8005-a9d25d2a845a.png)

Ping @marionf, @colinegin what do

[2019-07-17 07:54] khouloudbelguith commented on #14695
Hi @DBBlueDeath,

Thanks for your report.
For your information: PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will b

[2019-07-17 07:54] #14695 closed, assigned to nobody

[2019-07-17 08:08] JorgeNogueiraLFMPro opened #14699 "Total invoice value error"
Hi,

When I download the pdf file from the invoice, the total is unconfigured, and the value is incorrect. As you can see in the picture.

![image](https://user-images.githubusercontent.com/49063138/61358526-607c2e80-a872-11e9-9c08-cab883b89578.png)

[2019-07-17 08:12] khouloudbelguith commented on #14693
Hi @mickaelandrieu,

I have the same issue with PS1.7.5.1 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/61358680-c7014c80-a872-11e9-9309-2ef6132c44a8.png)
I’ll add this to the debug roadmap.
Thanks!

[2019-07-17 08:23] PrestaShark commented on #14650
For marketing trick like "30% off*"

*from manufacturer recommended retail price ;)
That kind of sale price management would be very efficient like in image example above.
Final price sometimes "floating in time" (altered by staff). Retail price would be something like "fixed price" and creating catalog rules by this price will never impact on sales below costs.

Of course RRP price is not mendato

[2019-07-17 08:26] matks opened #14700 "Polish blockreassurance module"
Before releasing blockreassurance v4, we can give it a few more polishing 😄

Todo list
- [x] Merge css files in 2 files only: for front, one for back (=> can be done using webpack if you want to, in order to keep split files for dev but bundle them for prod)
- [x] Refactor the svg management (https://github.com/PrestaShop/blockreassurance/blob/dev/views/js/front.js#L34)
- [x] The module uses `$thi

[2019-07-17 08:32] #12407 closed, assigned to matthieu-rolland

[2019-07-17 08:34] khouloudbelguith commented on #14698
Hi @Klemart3D,

Thanks for your report.
This issue seems related to https://github.com/PrestaShop/PrestaShop/issues/14608.
Could you please try to replace precision to `2` in the table `ps_currency`, clear cache, check & feedback.

Thanks!

[2019-07-17 08:37] khouloudbelguith commented on #14699
Hi @JorgeNogueiraLFMPro,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howt

[2019-07-17 08:41] Archikawa commented on #14575
Hi, @khouloudbelguith some more screenshots.

- Homepage with featured products (last arrivals) no faceted search, sorting per price ok
![Captura-OK-Homepage](https://user-images.githubusercontent.com/52740680/61360643-249b9600-a87f-11e9-86f7-5a4c1b3ce742.PNG)
- Products per Brand. No faceted search. Sorting per price ok
![Captura-OK-BrandList](https://user-images.githubusercontent.com/52740680/61

[2019-07-17 08:59] JorgeNogueiraLFMPro commented on #14699
Version: 1.7.5.2
Steps:
- My account;
- Order history;
- Download PDF;
Debug report:
![image](https://user-images.githubusercontent.com/49063138/61361454-6e34b280-a878-11e9-94f0-91a03b152cbc.png)

![image](https://user-images.githubusercontent.com/49063138/61362029-66c1d900-a879-11e9-920f-ff7952121ced.png)

![image](https://user-images.githubusercontent.com/49063138/61362048-6e817d80-a879-11e9-848

[2019-07-17 09:00] sarahdib commented on #13879
Hello @sarjon

I found a missing block and bad display of taxe apply for customer group.

![image](https://user-images.githubusercontent.com/3034677/61361418-c4a5ef00-a880-11e9-854f-12e35945a346.png)

![image](https://user-images.githubusercontent.com/3034677/61361476-d8515580-a880-11e9-933a-0dab3fdbbef3.png)

[2019-07-17 09:02] khouloudbelguith commented on #14692
Hi @jlorquin,

Thanks for your report.
In my case, I did not manage to reproduce the issue with PS1.7.5.2 after upgrade from PS1.6.1.2.4.
https://drive.google.com/file/d/1IQ6viiNyPLQ7kxg2Nvv8wcRGSTkJ0ynF/view
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
After enabling debug mode in your store and thanks to debug request which is sent for add

[2019-07-17 09:12] khouloudbelguith commented on #14699
@JorgeNogueiraLFMPro, if your download the invoice from the back office the total is well displayed?

Thanks!

[2019-07-17 09:20] marionf commented on #14676
Hello @Hlavtox

Why displayed the disabled product ?
The final result is the same as a permanent or temporary redirection to a product, customers are invited to click on the replacement product. But you can lose them if they don't click on it. What doesn't happen with the 301 or 302 redirection.

[2019-07-17 09:21] khouloudbelguith commented on #14575
@Archikawa, I make some tests with your shop & I found an error in the console when sorting by price.
![image](https://user-images.githubusercontent.com/16067358/61363719-67a83a00-a87c-11e9-9a8c-c7c248a803ed.png)
This issue is occurred by your theme.
Thanks to check with your theme author & feedback.

[2019-07-17 09:21] JorgeNogueiraLFMPro commented on #14699
@khouloudbelguith  in BO the invoice total is correct.

[2019-07-17 09:24] khouloudbelguith commented on #14675
@wikao2,
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-07-17 09:24] #14675 closed

[2019-07-17 09:26] khouloudbelguith commented on #14386
@Jerome08,

yes you can send here, it is an error log file.

can i save the page to a pdf file?

You can print the page or make a screenshot.

Thanks!

[2019-07-17 09:31] khouloudbelguith commented on #14660
@koalabang, this issue occurs in the BO => Advanced Parameters => webservice page or while using a script because it could be an issue related to the outdated version of PSWebServiceLibrary.php.
If no, you need to check with your host that the `mod_auth_basic` is enabled on the server.

Thanks to check & feedback.

[2019-07-17 09:32] Archikawa commented on #14575
Query sent. Keep you posted @khouloudbelguith
Thx!

[2019-07-17 09:34] khouloudbelguith commented on #14575
@Archikawa, thanks!
Waiting for your feedback.

[2019-07-17 09:50] matthieu-rolland commented on #10849
@Flowster @colinegin @marionf
Hi Flowster, your PR had conflicts with the current state of our develop branch.
I fixed the conflicts, but I didn't push on your repository because you used the branch 'develop'.

So here is the new PR:
https://github.com/PrestaShop/PrestaShop/pull/14702

Don't worry, the commits are still yours.

[2019-07-17 09:52] khouloudbelguith commented on #14699
@JorgeNogueiraLFMPro, in my case, I did not manage to reproduce the issue with PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/61366132-e4d5ae00-a880-11e9-98e0-9a2e521a528f.png)
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestash

[2019-07-17 09:58] gennaris opened #14703 "Poor performances in order status update due very slow StockManager.php queries"
After troubleshooting slowdowns in order status change from a customer with a large catalogue I noticed that there are two queries that takes a very lot of time to run.

**ValidateOrder** method and status change are taking up to 15~20 seconds due to those queries.

First query in /src/Adapter/StockManager.php:171 (updateReservedProductQuantity method)
takes ~ 7 seconds to run   on high-spec dedic

[2019-07-17 10:12] khouloudbelguith commented on #14703
Hi @gennaris,

Thanks for your report.
Ping @eternoendless, @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-17 10:26] khouloudbelguith commented on #14571
@MockoB, I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1WwGhIDcmq6FzZ-xY27vk5_JJROKr7EQ_/view
Could you please try to enable profiling mode
In your Projetc_Folder/config/defines.inc.php, you need to replace this

[code]

by this

[code]
When profiling mode is enabled, you should have information about the time needed to run queri

[2019-07-17 10:28] khouloudbelguith commented on #14663
@fraria76, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.6.0 without removing the modern folder.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-17 10:34] khouloudbelguith commented on #14615
@JustasBelevicius, @kpodemski, The original issue may be related to #14608.

When we upgrade to 1.7.6.0, prices are displayed with 6 decimals, which could explain why payment modules can't work after an upgrade.
Could you please try to edit the precision from `6` to `2`, check & feedback.

Thanks!

[2019-07-17 10:34] khouloudbelguith commented on #14615
@JustasBelevicius, @kpodemski, The original issue may be related to #14608.

When we upgrade to 1.7.6.0, prices are displayed with 6 decimals, which could explain this display after an upgrade.
Could you please try to edit the precision from 6 to 2, check & feedback.

Thanks!

[2019-07-17 10:39] gigibiffi84 opened #14704 "Webservice: enable color attribute image texture upload"
I'm using webservice API to upload images on Prestahop. I can upload many types of images except the color attribute texture image.

I think the WebserviceSpecificManagementImagesCore class could be extended to include this kind of images too.

The only way to upload these types of image is to manually upload them from AdminController dedicated section.

[2019-07-17 10:40] JorgeNogueiraLFMPro commented on #14699
Everything is there in this file

[bGZtcHJvLmNvbS5lcnJvci5sb2c=.zip](https://github.com/PrestaShop/PrestaShop/files/3401430/bGZtcHJvLmNvbS5lcnJvci5sb2c.zip)

[2019-07-17 10:41] khouloudbelguith commented on #14622
@StoreCommanderDev, so the exact issue, that the eco-tax in the invoice should not be changed after updating the ecotax? because the merchant can have different invoices for the same order which it's not legal.

Thanks!

[2019-07-17 10:45] MockoB commented on #14571
Here are the results:

https://imgur.com/yjbcewd

https://imgur.com/MGHHW3v

Without the module installed the loading time is between 350-500ms, and with the module installed 1500-3500ms.

[2019-07-17 10:50] MockoB commented on #14571
I just checked your video.
Maybe I got it wrong, but I am opening random product page in the front office. And you are listing products in the back office.

The issue is when browsing front office, and opening product details page.
Sorry for not explaining it clearly.

[2019-07-17 10:54] fraria76 commented on #14663
Hi khouloudbelguith,

I update you

I did a complete new installation test of Prestahop 1.7.6.0 with ITALIAN language and when appear the problem at 23% I remove the MODERN directory and procede with the installation.

At the end of installation I insert in the final path the MODERN directory and everything seems to work properly.

I have “only” these problem on the back office when I click on:

I

[2019-07-17 10:56] khouloudbelguith commented on #14663
@fraria76, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-07-17 10:58] Hlavtox commented on #14676
Hi @marionf,

redirect is way better uproach than 404, but the thing is, it can be confusing for the customer, and it really is.

Imagine you search for something on google, you click on a link and get redirected to a product with different name, look, parameters. You say: “where am I?” and possibly leave because it's not what you wanted.

When you display the product first, he will know what he i

[2019-07-17 11:00] DBBlueDeath commented on #14695
PHP and Prestashop version is completely irrelevant. (And my test shop works just fine on PHP 7.3, but focus on 7.2 then if you want.)
The limitation is from Apache, and probably affects all who reaches the 8 digit range since the $10 rewrite variable is broken.
"no change required" - at least whoever encounter this has my solution now.

[2019-07-17 11:00] fraria76 commented on #14663
yes it worked!

[2019-07-17 11:01] maofree commented on #14229
hi
in this case it is missing only the image without errors

[2019-07-17 11:01] fraria76 commented on #14663
as soon as I can I send you the PHP error log

[2019-07-17 11:06] jlorquin commented on #14692
Hi @khouloudbelguith

I didn't see any red request in the response tab but recorded a [video](https://www.loom.com/share/3200199636bf4100a19d8277234bfa56) in case it helps.

Thanks for your time.

[2019-07-17 11:11] khouloudbelguith commented on #14704
Hi @muten84,

Thanks for your report.
In PS1.7 & PS1.6, Several types of images are available.

- General shop images
- Product images
- Category images
- Customization images
- Manufacturer images
- Supplier images
- Store images

They can be reach using the following links:

- /api/images/general
- /api/images/products
- /api/images/categories
- /api/images/customizations
- /api/images/manufactu

[2019-07-17 11:18] khouloudbelguith commented on #14663
@fraria76, so after clearing the cache, the issue is fixed?

Thanks!

[2019-07-17 11:31] jolelievre commented on #14697
Hi @sas-adilis,
it's weird because this function does exist https://github.com/PrestaShop/PrestaShop/blob/bd01df4b896d04f33ea75a79704a3625eb6fd60f/classes/Language.php#L1488

Maybe you have an override (either from your `override` folder, or from a theme/module) that doesn't extend `LanguageCore` and does implement this method

[2019-07-17 11:40] StoreCommanderDev commented on #14622
@khouloudbelguith
Right. eco-tax in the invoice **should not be changed** after updating the ecotax.

[2019-07-17 11:57] sarahdib commented on #14677
@marionf @khouloudbelguith

I didn't manage to reproduce
![image](https://user-images.githubusercontent.com/3034677/61373448-26268780-a89a-11e9-81c1-aa80cfc985e8.png)
@monparaashvin can you try to rebuild all indexes, attribut and clear the module cache ?
![image](https://user-images.githubusercontent.com/3034677/61373682-ba90ea00-a89a-11e9-8578-560babd53876.png)

[2019-07-17 12:02] fraria76 commented on #14663
Yes, it worked! Thanks!

[2019-07-17 12:22] khouloudbelguith commented on #14663
@fraria76, so can I close the issue?

Thanks!

[2019-07-17 12:23] matks commented on #14639
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14673

[2019-07-17 12:23] #14639 closed, assigned to sarahdib, matks

[2019-07-17 12:25] #14085 closed, assigned to sarahdib

[2019-07-17 12:25] matks commented on #14085
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14089

[2019-07-17 12:29] matks commented on #14604
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14605

[2019-07-17 12:29] #14604 closed, assigned to PierreRambaud

[2019-07-17 12:30] #14589 closed, assigned to matthieu-rolland

[2019-07-17 12:31] matks commented on #14589
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14613

[2019-07-17 12:33] Klemart3D commented on #14698
Yes it related, my current instance is an upgrade from PS 1.7.5.1 to 1.7.6.0 and I'm in the second case of #14608.

Before upgrade, my `ps_currency` table was:

id_currency | name | iso_code | conversion_rate | deleted | active
--------------- | ------- | ------------ | -------------------- | --------- | -------
1| 'euro'| 'EUR'| 1.000000| 0| 1

Now it is:

id_currency | name | iso_code | *numeric

[2019-07-17 12:34] matks commented on #12998
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14540

[2019-07-17 12:34] #12998 closed, assigned to nobody

[2019-07-17 12:38] Klemart3D commented on #14690
Theoretically I used upgrade v4.9.0. I solved by copying the last `composer.json` [found here](https://github.com/PrestaShop/PrestaShop/blob/develop/composer.json) and run a `composer update`, now I can access to module's configuration without error :)

[2019-07-17 12:38] #14690 closed, assigned to nobody

[2019-07-17 12:48] roja45 opened #14706 "sprintf function broken in 1.7.6 for custom module templates."
**Describe the bug**
Using the sprintf function in non-native module templates causes an error depending on how the string is contructed.

Multiple bugs here.
1.75 templates using this function no longer work,
Using this format

{l s='%s available' mod='roja45productrental' sprintf=['$model.availability]}

resultant string is corrupted in 1.7.6 whereas it is correctly displayed in 1.7.5.

![image]

[2019-07-17 12:49] khouloudbelguith commented on #14698
@Klemart3D, thanks for your feedback.
In your BO => Shop Parameters => General page => the number of decimals is set to 2?
Thanks!

[2019-07-17 12:50] pcdata opened #14708 "Combination image selector do not works since upgrade 1.7.6 with Firefox Developper"
Hello,
I have upgrade my prestashop to 1.7.6 this morning and now the image's selector for the combination's product do not works with Firefox Developper.
And I have loose all the image combination for some product combination in the back office.
I am not able to choose a picture, when you clic on an image to affect it to the combination, the image is not selected.

It works with Chrome.

Each new

[2019-07-17 12:54] Archikawa commented on #14575
Hi, @khouloudbelguith we did some research. We found this code:
<img width="702" alt="5d2f06ed9a5cc" src="https://user-images.githubusercontent.com/52740680/61377004-9afdbf80-a8a2-11e9-9d14-35c1a86c38c3.png">
But a detailed search shows that it belongs to the "Data mining for statistics" (statsdata) module.
So we think it is normal and not related to the price sorting issue.

[2019-07-17 12:58] fraria76 commented on #14663
Hi,

this method (clear cache manually by deleting all the folder into var/cache (prod & dev)) solved the problem only the first time.... now the problem it's still there :-(

[2019-07-17 13:03] dreamtheme commented on #10387
I'm getting the same error on 1.7.6.0 clean install, If I'm not log in in addons, i get "you may need to be logged in", when i log in i get "You may be not allowed to download this module."

[2019-07-17 13:05] Klemart3D commented on #14698
Yes, set to 2 decimals. But it's not specific to my shop, I can found same bug on your official demo Prestashop website:
![bug-price3](https://user-images.githubusercontent.com/7419525/61377797-3a6f8200-a8a4-11e9-986a-63175e64e95c.png)

[2019-07-17 13:07] khouloudbelguith commented on #14706
Hi @roja45,

Thanks for your report.
Could you please provide me a demo module to test it.

Thanks!

[2019-07-17 13:10] khouloudbelguith commented on #14708
Hi @pcdata,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & 1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrade your ve

[2019-07-17 13:14] colinegin opened #14709 "[CLDR] Manage save and interpretation of currency customization (3/3)"
After saving the currency new display, the saved information will override information from the CLDR files and create a new CLDR format to be interpreted.

Blocked by 1.7.6.2 and 1/3 & 2/3

[2019-07-17 13:23] Jerome08 commented on #14386
Hello

Here are the files

thank you !
[dev.log](https://github.com/PrestaShop/PrestaShop/files/3402026/dev.log)
[debug mode.zip](https://github.com/PrestaShop/PrestaShop/files/3402035/debug.mode.zip)

[2019-07-17 13:28] roja45 commented on #14706
nope, there's sufficient information there for you to test the software correctly.  I have to update all my modules to work around this.

[2019-07-17 13:30] DelecroixQuentin commented on #14621
I've the same bug with a PS 1.7.4.4 with PHP 7.1 .
Error log is empty...

[2019-07-17 13:38] samuel-pires commented on #14157
I would let the Chinese dot character

[2019-07-17 13:39] LouiseBonnard commented on #14157
It is quite unusual but why not. ;-)

[2019-07-17 13:42] samuel-pires commented on #14157
@LouiseBonnard I updated the issue, can you check pls?

For the chinese dot I let you decide "Content Master"

[2019-07-17 13:45] khouloudbelguith commented on #14663
@fraria76, when debug mode is enabled => are there any new exceptions displayed?

Thanks!

[2019-07-17 13:48] khouloudbelguith commented on #14690
@Klemart3D, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-07-17 13:55] khouloudbelguith commented on #12394
Hi,

It is also the case when we change the eco-tax of the product as described here: https://github.com/PrestaShop/PrestaShop/issues/14622
The invoice is changed.

[2019-07-17 13:56] khouloudbelguith commented on #14622
@StoreCommanderDev, thanks for these clarifications.
I just added a new comment in this ticket: https://github.com/PrestaShop/PrestaShop/issues/12394
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/12394
So, I close it.
Thanks!

[2019-07-17 13:56] #14622 closed, assigned to nobody

[2019-07-17 13:56] khouloudbelguith commented on #14622
Duplicate of #12394

[2019-07-17 14:00] wikao2 opened #14712 "How can I add an attribute (s) to one of the combination WITHOUT deleting / recreating this / these combinations?"
I have several products where I created product combinations with only one attribute (**Color** for example) :
T-shirt Color Blue
T-shirt Color Red

Today, I would like to add an attribute to my product combinations (**Size** attribute for example). Which would give:
T-shirt Color Blue **Size L**
T-shirt Color Red **Size L**

The only way I found (with Prestashop 1.7.5.1) is to **remove my existin

[2019-07-17 14:06] khouloudbelguith commented on #14712
Hi @wikao2,

We are aware of this improvement, it is added to our debug roadmap.
Your ticket is a duplicate of #11652
So, I close it.
Thanks!

[2019-07-17 14:06] #14712 closed

[2019-07-17 14:06] khouloudbelguith commented on #14712
Duplicate of #11652

[2019-07-17 14:16] khouloudbelguith commented on #14386
@Jerome08, in your log file, you have only some warnings, some Infos & there are no errors.
You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. change the visibility of the product & save.
6. wait for an error, you should s

[2019-07-17 14:16] khouloudbelguith commented on #14621
HI @DelecroixQuentin,

Did you try with those steps: https://github.com/PrestaShop/PrestaShop/issues/14621#issuecomment-510932769?

Thanks!

[2019-07-17 14:18] LouiseBonnard commented on #14157
In my opinion, we have to remain as international as possible otherwise we will always have regional rules/exceptions/specifications to mention. If the "。" is the Chinese version of the ".", then I would like to keep the wording as international as possible and only mention the dot "." - it will be up to the merchants/customers to adapt it for its proper form if need be.

I can't remember the disc

[2019-07-17 14:19] Hlavtox commented on #14666
Use default behavior (Allow orders) for all products.

[2019-07-17 14:21] khouloudbelguith commented on #14666
@Hlavtox, So, it is normal behavior that the availability filter is not displayed.
Because, in your case, all the products can be added to the cart => so they are available to the sale.

Thanks!

[2019-07-17 14:23] #11210 closed, assigned to jolelievre

[2019-07-17 14:25] PierreRambaud commented on #14677
Fixes in https://github.com/PrestaShop/ps_facetedsearch/pull/114

[2019-07-17 14:27] khouloudbelguith commented on #14692
@jlorquin, could you please follow this link: https://github.com/PrestaShop/PrestaShop/issues/14595#issuecomment-510884182
& check if your issue is solved.

Thanks!

[2019-07-17 14:29] khouloudbelguith commented on #14666
@Hlavtox, this filter will be improved.
Here's a ticket: #14518 to improve the search filter by availability.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-17 14:29] #14666 closed, assigned to nobody

[2019-07-17 14:32] DelecroixQuentin commented on #14621
Hi @khouloudbelguith,

1/ Clear your browser cache and your cookies
=> Done and not solve this issue, i also tried with incognito mode but no change...

2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table
=> They are okay.

3/ Manually clear smarty cache: remove all files from /var/cache/
=> Already tested and not solve

4/ Disable the IP check in classes/Cookie.php (this can

[2019-07-17 14:33] Hlavtox opened #14713 "BO | Products listing page empty after deleting products in bulk"
#### Describe the bug

When you remove all the products from the second or third page, a blank page will appear with an alert asking to add some products.

#### Expected behavior

To be redirected to the first page

#### Steps To Reproduce
1. Make at least 41 products.
2. Go to Admin > Catalog > Products
3. Set paging to 20.
4. Go to third page.
5. Select the product > Delete.
6. See empty page sa

[2019-07-17 14:37] LouiseBonnard commented on #14157
@Progi1984, please wait for the wording to be validated, I'm expecting feedback from the translators' community before. ;-)

[2019-07-17 14:37] Hlavtox opened #14714 "BO | Categories | Truncate category description preview"
Would it be possible to truncate category description in category admin? It make's it very hard to manage.

![categories](https://user-images.githubusercontent.com/6097524/61384597-38f88680-a8b1-11e9-89c3-33328adf55f5.PNG)

[2019-07-17 14:38] khouloudbelguith commented on #14621
@DelecroixQuentin, thanks for your feedback.
In your BO => Advanced Parameters => Administration page => could you please try to increase the "Lifetime of front office cookies" option.
Thanks!

[2019-07-17 14:42] jlorquin commented on #14692
@khouloudbelguith,

I can't access the Localization menu. It takes me to the dashboard.

I've tried other menus and some of them work (taxes, invoices) and some of them either take me to the dashboard or show Acess Denied.

Seems like the update to 1.7 messed everything up!!!!

[2019-07-17 14:49] Jerome08 commented on #14386
mmmm i activad bug mode
on the bottom of my prestashop i have a toolbar with many information but i don't see what u say (don't see network tab, or response, preview...)
can u check picture in attachment
and i confirm u i edited the product when i was in debug mode; i did it again
![ScreenShot015](https://user-images.githubusercontent.com/50581985/61385504-ce484a80-a8b2-11e9-9e69-a498f467d2a4.jpg)

[2019-07-17 14:53] khouloudbelguith commented on #14713
Hi @Hlavtox,

Thanks for your report.
I have the same issue with PS1.7.5.2 & PS1.7.6.0.
https://drive.google.com/file/d/1MAUgxvjNUZ8AN_MkOqEwhPY-czJhGZ_B/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-17 14:56] khouloudbelguith commented on #14713
Related: #9612

[2019-07-17 14:57] colinegin opened #14715 "MBO module (Lot 2 without API)"
This issue is meant to get a better follow up of the evolution of the MBO (Marketplace in the back-office) module. Currently, there is a PR waiting for review to integrate the 2nd batch of improvement.
Here is the PR : https://github.com/PrestaShop/ps_mbo/pull/89.

[2019-07-17 15:00] khouloudbelguith commented on #14386
@Jerome08, Open DevTools by pressing Control+Shift+J or Command+Option+J (Mac). The Console panel opens.
You can follow this link for more details: https://developers.google.com/web/tools/chrome-devtools/network/

Thanks!

[2019-07-17 15:10] DelecroixQuentin commented on #14621
Sadly, it's not working. I also tried with incognito mode.
I will make some tests tomorrow with all modules disabled, etc...

[2019-07-17 15:10] samuel-pires commented on #13422
**[REOPENED 07/17/2019]**

Despite the fix in the following PR : [#13425](https://github.com/PrestaShop/PrestaShop/pull/13425), the problem still happens in some pages.

At the moment it has been seen in the following pages:
- Advanced parameters > Database, on both the _SQL Manager_ and the _DB Backup_ tabs.
![Capture d’écran 2019-07-17 à 17 06 56](https://user-images.githubusercontent.com/4745

[2019-07-17 15:11] khouloudbelguith commented on #14621
@cartomatica73, thanks!
Waiting for your feedback.

[2019-07-17 15:12] matks opened #14717 "In README, BO image preview is broken"
In README.md, we display the image https://www.prestashop.com/1.7/assets/img/product.png but this is a broken link that returns a 404

[2019-07-17 15:17] matthieu-rolland commented on #12223
@colinegin @marionf
From what I see in the code, the "decimal" value that is set in the back office is used at several places in the code...

Should I use a default decimal value everywhere, would that be 0 ?

[2019-07-17 15:25] khouloudbelguith commented on #14575
Hi @Archikawa,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-07-17 15:25] #14575 closed, assigned to nobody

[2019-07-17 15:39] Quetzacoalt91 commented on #14698
This information is provided by the marketplace:

![image](https://user-images.githubusercontent.com/6768917/61389842-e40d3e00-a8b9-11e9-889b-bf7d104c611f.png)

[2019-07-17 15:41] fraria76 commented on #14663
Hi khouloudbelguith,

now in MODULE MANAGEMENT I have removed ps_mbo and now without using the DEBUG mode I can access to IMPROVE -> PAYMENT -> PAYMENT METHODS

But remain problems with
IMPROVE -> INTERNATIONAL -> TAXES
CONFIGURE -> STORE PARAMETERS -> TRAFFIC & SEO

Kind regard
![Immagine](https://user-images.githubusercontent.com/50572903/61389915-0c953800-a8ba-11e9-803d-0cf7e6998815.jpg)

[2019-07-17 15:48] fraria76 commented on #14663
Hi khouloudbelguith,

I removed the ps_mbo module and can now log in without problem at:
IMPROVE -> PAYMENT -> PAYMENT METHODS

The problem remains with:
IMPROVE -> INTERNATIONAL -> TAXES
CONFIGURE -> STORE PARAMETERS -> TRAFFIC & SEO

Kind regards
![Immagine](https://user-images.githubusercontent.com/50572903/61390404-0784b880-a8bb-11e9-9470-f18e6a535e42.jpg)

[2019-07-17 15:49] PierreRambaud commented on #14657
Fixed for 1.7.6 here: https://github.com/PrestaShop/ps_facetedsearch/pull/115

[2019-07-17 15:52] matthieu-rolland commented on #12223
As seen with @MatShir , I'll list all the places where the decimal prevision value from the back office is used, and write it in this issue.
From there the technical impact will be clearer.

[2019-07-17 15:53] PierreRambaud commented on #12852
When you have a cart in guest mode, you must keep information when you log in or creating an account.
The cart must be converted instead creating a new one because it's the same customer.

[2019-07-17 15:54] PierreRambaud commented on #14550
Totally agreed to allow ip ranges. :+1:

[2019-07-17 15:54] marionf commented on #14658
I can reproduce it with version 3.1.0

[2019-07-17 15:57] khouloudbelguith commented on #14714
Hi @Hlavtox,

You need to override the Back office view.
You can follow our documentation: https://devdocs.prestashop.com/1.7/modules/concepts/templating/admin-views/
Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://sta

[2019-07-17 15:57] #14714 closed, assigned to nobody

[2019-07-17 16:05] khouloudbelguith commented on #14663
@fraria76, thanks for your feedback.
I did not manage to reproduce the issue when the mbo module is installed & debug mode is enabled.
I attached a screen record
https://drive.google.com/file/d/1rTT_GhQ9qMqHy0x1bEAUwtvLpJhSCJxS/view
Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]
Thanks!

[2019-07-17 16:11] khouloudbelguith commented on #14611
Hi @JustasBelevicius,

We have updated the Symfony version, this new version uses the Putenv function, so you need to enable this option on your server.

Your issue is not related to PrestaShop => it is an error on your server.

Try to connect to your MySQL server in command line if you can, `mysql -u MYSQL_USER -p DATABASE_NAME -h DATABASE_HOST` try to connect by replacing values.

Thanks to chec

[2019-07-17 16:24] khouloudbelguith commented on #14571
@MockoB, thanks for these clarifications.
The product comments module is installed & enabled & it is OK.
I attached a screen record
https://drive.google.com/file/d/1BHFEQqieyH9ABIKK_P0kiaap-6E5UfJt/view

Thanks!

[2019-07-17 16:38] khouloudbelguith commented on #14699
@JorgeNogueiraLFMPro, in your log file, you don't have errors, there are just some warnings and PHP notice.
Did you the default theme by PrestaShop?

Thanks!

[2019-07-17 16:44] JorgeNogueiraLFMPro commented on #14699
@khouloudbelguith I have a theme that I bought in prestashop.

[2019-07-17 16:45] khouloudbelguith commented on #14699
@JorgeNogueiraLFMPro, have you tried to contact the theme author via your addons account?
Thanks to check with them & feedback.

[2019-07-17 16:47] JorgeNogueiraLFMPro commented on #14699
@khouloudbelguith I talked to them and they said to talk to you.

[2019-07-17 16:49] khouloudbelguith commented on #14699
@JorgeNogueiraLFMPro, Could you please provide your theme to test it.
This is a public space.
You can provide me the theme by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

PS: I used the default theme & it is OK.

Thanks!

[2019-07-17 16:54] JorgeNogueiraLFMPro commented on #14699
@khouloudbelguith I already sent the email

[2019-07-17 16:55] khouloudbelguith commented on #14343
Hi @ArteInfoRM,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thanks!

[2019-07-17 16:55] #14343 closed, assigned to nobody

[2019-07-17 16:59] khouloudbelguith commented on #14699
@JorgeNogueiraLFMPro, thanks!
I just received the email.
But the zip file is just an XML file & not the exact theme that I need to upload & check it.

Thanks!

[2019-07-17 17:04] khouloudbelguith commented on #14692
@jlorquin, thanks for this clarifications.
I tried to make an upgrade from PS1.6.1.24 to PS1.7.6.0 using the 1-click upgrade v4.7.0. => OK.
There is no redirection to the dashboard page when we click on International Menu.
https://drive.google.com/file/d/1KMuorMIQPZwATR0gU3g5zqe3h1tpvf-N/view
I tried also with the 1-click upgrade v4.9.0 from PS1.6.1.24 to PS1.7.5.2 (using the local archive)
I mana

[2019-07-17 17:17] MockoB commented on #14571
Hi I just made a video how to reproduce the issue. As you could see in the video when reloading the product page it is loading fine, but when you try to load it from the home page it loads slower compared to the loading time without the module installed.

https://vimeo.com/user100906920/review/348646778/19765c6deb

[2019-07-17 17:48] DPStudioGR opened #14720 "Color combination issue in backoffice after update to 1.7.6.0"
Hi there....
i have an eshop  (stampa-stampa.com) and today i decided to upgrade to 1.7.6.0..
what i noticed right away is that when i edit a product and try to choose different pictures per combination nothing happens. Pictures although are uploading correctly and showing with no errors are not clickable or can be selected.

[2019-07-17 18:10] Jerome08 commented on #14386
in response and preview there are:
![ScreenShot001](https://user-images.githubusercontent.com/50581985/61399505-9d760e80-a8ce-11e9-9831-2094a03599cc.jpg)
![ScreenShot002](https://user-images.githubusercontent.com/50581985/61399506-9d760e80-a8ce-11e9-90ec-51c27d2f4f8b.jpg)
![ScreenShot003](https://user-images.githubusercontent.com/50581985/61399508-9e0ea500-a8ce-11e9-9e6a-a1d1a62043cb.jpg)

if u wa

[2019-07-17 18:17] jlorquin commented on #14692
Thanks @khouloudbelguith,

It seems then that there is an underlying issue that's preventing our system from upgrading successfully.

Are there any further tests we could run?

[2019-07-17 18:25] msaustral opened #14722 "Bug upgrading modules"
**Describe the bug**
when there are modules to upgrade, we clic upgrade all and after the process is successful and press F5 to reload, appear the modules again as it was not upgrading.

**Additional information**
PrestaShop version: 1.7.5.1 and 1.7.6

[2019-07-17 18:53] chrisrabkin commented on #10387
Getting this same error
Error!
Exception thrown by module ps_reminder on install. Error sent by Addons. You may be not allowed to download this module in 1.7.6.0 - fresh install and logged into addons.

[2019-07-17 20:31] Stampa-Stampa commented on #14708
I also have the same problem on all browsers (i also created a new post)
I did change my php to 7.2 and the problem persists..

[2019-07-17 20:31] #14374 closed, assigned to matthieu-rolland

[2019-07-17 21:46] kpodemski commented on #10387
Same error reported on 1.7.6.0 while installing `productcomments` v4.0, this has to be some global issue after all

[2019-07-17 21:48] JavierEB commented on #10387
this error is also happening to me with version 1.7.6 ..... it may be a punctual problem of "Addons" because yesterday it worked perfectly and the modules were updated well .. I do not believe

[2019-07-17 23:25] TemKaSD opened #14723 "var/cache/prod/appParameters.php recreated with 000 permissions"
Hello. After changing the settings I get an error 500.
I applied the optimization methods described here: https://devdocs.prestashop.com/1.7/scale/optimizations/
It didn't help: https://github.com/PrestaShop/PrestaShop/issues/10998#issuecomment-431596422

File appParameters.php and class_index.php chmod 000
![Screenshot_1](https://user-images.githubusercontent.com/6318282/61418443-d4373d80-a93d-11

[2019-07-17 23:39] TemKaSD commented on #14723
Ubuntu 18.04, php 7.3, mysql 8, nginx 1.17.1 + php-fpm need add php.ini:

[code]

OR

[code]

and restart php-fpm/

Thanks: https://github.com/PrestaShop/PrestaShop/issues/10998#issuecomment-431596422

@khouloudbelguith pls add parametrs in page: https://devdocs.prestashop.com/1.7/scale/optimizations/

[2019-07-18 01:12] gahinton commented on #10387
I am having the same issue with 1.7.6.0 when trying to add the RSS product feed module. I get the message "Error!
Exception thrown by module ps_feeder on install. Error sent by Addons. You may need to be logged."

[2019-07-18 01:25] jgradeckimaryville commented on #14591
I've tested this fix trying to update 1.7.2.4 to 1.7.6

Downloaded the latest ZIP
updated the upgrade.php according to 14620
ran the 1-step upgrade using local directory as source option

same exact error.

[2019-07-18 03:14] langziyang opened #14724 "how can i get the why slow"
PrestaShop version: PrestaShop version: 1.7.5.1
PHP version: 7.2.19

index.php/configure/advanced/system-information/

![1](https://user-images.githubusercontent.com/2345387/61426486-2469cc00-a94d-11e9-8e76-63821df8b703.png)

[2019-07-18 05:44] cartomatica73 commented on #14621
@khouloudbelguith
Error log is empty

I lowered the time of front office cookies to 2 hours, just in case a customer has a problem, he should solve it

[2019-07-18 06:59] Stampa-Stampa commented on #14662
I also have the same problem and had previously installed the same module from mypresta...
Can you be more specific as to how to resolve this\?

[2019-07-18 07:02] blahapeta commented on #14662
My Prestashop is totally broken now, have to reinstall. Not sure why. Only thing i can recommend it to do **not do changes by hand** like me. Hope Mypresta and official Prestashop will communicate about this matter and resolve it

[2019-07-18 07:08] marionf commented on #14661
@tomas862 it's fixed by #14543

[2019-07-18 07:08] marionf commented on #14661
duplicate of #14374

[2019-07-18 07:08] #14661 closed, assigned to nobody

[2019-07-18 07:27] khouloudbelguith commented on #14720
Hi @Stampa-Stampa,

Your ticket is a duplicate of #14708
So, I close it.
Thanks!

[2019-07-18 07:27] #14720 closed, assigned to nobody

[2019-07-18 07:27] khouloudbelguith commented on #14720
Duplicate of #14708

[2019-07-18 07:32] Stampa-Stampa commented on #14720
This is not a simple issue ......
i also tried to rollback to 1.7.5.2 and i get the following error..

[INTERNAL] /home/stampast/public_html/stampa-stampa.com/config/config.inc.php line 123 - Error: Call to a member function getName() on null #0 /home/stampast/public_html/stampa-stampa.com/modules/autoupgrade/classes/UpgradeContainer.php(550): require_once() #1 /home/stampast/public_html/stampa-st

[2019-07-18 07:35] MatShir commented on #12833
It should be fixed by #14715. To be followed

[2019-07-18 07:48] khouloudbelguith commented on #14724
Hi @langziyang,

Could you please try to enable profiling mode
In your Projetc_Folder/config/defines.inc.php, you need to replace this

[code]
by this

[code]
When profiling mode is enabled, you should have information about the time needed to run queries.

Thanks to check & feedback.

[2019-07-18 07:57] langziyang commented on #14724
you can see on https://demo.518global.com/zh/ i upgrade to 1.7.5.2

[2019-07-18 08:04] Stampa-Stampa commented on #14708
has anyone tried to roll back to resolve the issue?
i tried twice and get the following error..

This is not a simple issue ......
i also tried to rollback to 1.7.5.2 and i get the following error..

[INTERNAL] /home/stampast/public_html/stampa-stampa.com/config/config.inc.php line 123 - Error: Call to a member function getName() on null #0 /home/stampast/public_html/stampa-stampa.com/modules/auto

[2019-07-18 08:05] langziyang commented on #14724
and the backoffice is
![1](https://user-images.githubusercontent.com/2345387/61440314-cd2c2180-a975-11e9-81bb-78de54c483ca.png)

[2019-07-18 08:12] khouloudbelguith commented on #14708
@Stampa-Stampa,

What is the exact version of the 1-click upgrade did you use?

Thanks!

[2019-07-18 08:17] Stampa-Stampa commented on #14708
v4.9.0

[2019-07-18 08:20] khouloudbelguith commented on #14708
@Stampa-Stampa, In my case, I did not manage to reproduce the issue with PS1.7.6.0 after upgrade from PS1.7.5.2 using the 1-click upgrade v4.9.0.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-18 08:39] Stampa-Stampa commented on #14708
will have to check wiht my server... the only error log file i found contains the following errors since the day i updated.

[2019-07-17 22:39:04] security.DEBUG: Stored the security token in the session. {"key":"_security_main"} []
[2019-07-17 22:39:06] doctrine.DEBUG: SELECT name FROM psxa_module WHERE active = 1 [] []
[2019-07-17 22:39:06] request.INFO: Matched route "_wdt". {"route":"_wdt","ro

[2019-07-18 09:05] matks commented on #11631
Issue not yet fixed, it requires https://github.com/PrestaShop/ps_shoppingcart/pull/41

[2019-07-18 09:13] khouloudbelguith commented on #14722
Hi @msautral,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1V-Xqg2QvkTfuj3rkmMM7gTBPMf9kfM7p/view
Thanks to check & feedback.

[2019-07-18 09:18] khouloudbelguith commented on #14708
@Stampa-Stampa, in your log file, you don't have any errors, only some warnings & PHP Info.
Could you please try to enable debug mode in your store and debug request which is sent for a product when selecting an image in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. Try to select an image for a combination
6. wa

[2019-07-18 09:24] khouloudbelguith commented on #14724
@langziyang,
- Do you have any additional cache? for example opcache?
- Try to implement this fix: https://github.com/PrestaShop/PrestaShop/pull/12940/files
- Some performance issues have been detected on our side and have been solved with #11559.
It is added in the PS1.7.6.0, try to implement this fix also.

Thanks to check & feedback.

[2019-07-18 09:26] khouloudbelguith commented on #14621
@cartomatica73, any news about the issue?
Do you have the same issue after increasing the time of front office cookies?

Thanks!

[2019-07-18 09:28] langziyang commented on #14724
1、yes,i use opcache
ok,i will try other thing,thanks

[2019-07-18 09:29] khouloudbelguith commented on #14386
@Jerome08, thanks for your feedback, but there is no error displayed in the response Tab.
When debug mode is enabled, there is no exception displayed after editing the visibility of your product?

Thanks!

[2019-07-18 09:30] marionf commented on #14676
All right, I understand, thanks for your reply !

I added your suggestion on here: http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/38173840-add-another-scenario-for-disabled-products so people can vote for it, and we will see if it's someting wanted by other people

[2019-07-18 09:32] Stampa-Stampa commented on #14708
the same with an other..
GET https://stampa-stampa.com/stampa-stampa.com/Iriathen/themes/new-theme/public/index.php?controller=AdminDashboard&token=48fb438a31f3f2558109ae59ab31a311 net::ERR_ABORTED 404

[2019-07-18 09:34] khouloudbelguith commented on #14724
@langziyang, Could you please try to disable any type of caching extensions, check & feedback.

Thanks!

[2019-07-18 09:39] Ybeske commented on #10875
Having more experience I also/rather would like to have the search by "supplier code".
Why is it these suggested fields (ean, upc, location, suppier code, ...) are not searchable like they can be found in the upper search box?
Hope to here from you.

Thanks in advance!

[2019-07-18 09:39] khouloudbelguith commented on #14571
@PankajAdhikari, thanks for your feedback.
But your screen record is not available.
In the meantime, I attached a new screen record: https://drive.google.com/file/d/1VzRouPiPg9cEdmsdTiIVrQJRYaC7qHac/view

Thanks!

[2019-07-18 09:42] khouloudbelguith commented on #14708
@Stampa-Stampa, could you please provide me a screenshot, Is there any exception displayed in the Response Tab?

Thanks!

[2019-07-18 09:42] langziyang commented on #14724
i already do this documentation

[2019-07-18 09:48] dheerajwebkul opened #14729 "Tools::getDateFormat function return DD in format forcely"
**Describe the bug**
small dd should be here for date format according to this rule

![image](https://user-images.githubusercontent.com/1533248/88403054-49004b80-cdcc-11ea-833b-b39ab2a3680c.png)

here in function getDateFormat,
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/classes/Tools.php#L1013

I can create a PR if this should not have any issue.

[2019-07-18 09:50] khouloudbelguith commented on #14692
@jlorquin, in fact, this issue occurs only after upgrade from PS1.6 to PS1.7.5, but from PS1.6 to PS1.7.6 => OK.
There is no error.

Thanks!

[2019-07-18 09:53] khouloudbelguith commented on #14729
Hi @dheerajwebkul,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-18 09:55] khouloudbelguith commented on #14724
@langziyang, any news?
Did you try to implement fixes?

Thanks!

[2019-07-18 09:57] Stampa-Stampa commented on #14708
i  am not sure how to find exceptions i only get this
i also found that in debug mode..

"Enabling the "sensio_framework_extra.router.annotations" configuration is deprecated since version 5.2. Set it to false and use the "Symfony\Component\Routing\Annotation\Route" annotation from Symfony itself.
Hide context    Hide trace
[▼
  "exception" => SilencedErrorContext {#99128 ▶}
]
{▼
  /home/stampast/

[2019-07-18 10:01] khouloudbelguith commented on #14708
@Stampa-Stampa, Could you please provide me the link to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

[2019-07-18 10:02] matks commented on #11631
Fixed by https://github.com/PrestaShop/ps_shoppingcart/pull/41 and Handle shoppingcart error returns properly - part 2 #14214

[2019-07-18 10:02] #11631 closed, assigned to matks

[2019-07-18 10:14] khouloudbelguith commented on #14708
@Stampa-Stampa, I checked your shop, all images are well selected.
(i checked with Firefox & Chrome => OK)
I sent you via email a screen record.

Thanks!

[2019-07-18 10:17] #12687 closed, assigned to Progi1984

[2019-07-18 10:21] langziyang commented on #14724
yes,i did

[2019-07-18 10:23] khouloudbelguith commented on #14724
@langziyang, your shop is still slow?

Thanks!

[2019-07-18 10:38] khouloudbelguith commented on #14724
@langziyang, thanks!

Waiting for your feedback.

[2019-07-18 10:44] JavierEB commented on #10387
Error!
Exception issued by the statscatalog module in upgrade. Warning: include_once (/ httpdocs / classes /../ tools / pear / PEAR.php): failed to open stream: No such file or directory

e also tested with version 1.7.5.2 with which I think it is a general problem with the connection of "Addons Prestashop"

[2019-07-18 10:45] cartomatica73 commented on #14621
I'm not getting any errors from the apache log : xammp\apache\logs\error.log
I have no errors in the log for my domain

enable debug mode, and perform all operations, but I do not receive any errors

also i have a question to enable the images with implementation fancybox in the cms, can I do it here or should I open a new discussion?

[2019-07-18 10:51] MockoB commented on #14571
@khouloudbelguith everything looks fine on your side.
Please check the following link for the video: https://drive.google.com/open?id=17kP-dlM_UlENolNHMCDmLTfE-s4VujBk

[2019-07-18 10:52] khouloudbelguith commented on #14621
@cartomatica73,
About the error log, if you don't have it, you should ask your hosting provider.

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understa

[2019-07-18 11:08] khouloudbelguith commented on #14571
@MockoB, thanks for your feedback.
Ping @jolelievre what do you think? in the @MockoB case, after installing the product comment => the product page is slow.

PS: in my case, it is OK.

Thanks!

[2019-07-18 11:09] Stampa-Stampa commented on #14708
Thank you very much for your time and effort..
indeed i installed firefox and all works fine....
despite the fact that i cleared cache on chrome and erased all still the issue persists...  :(

[2019-07-18 11:11] khouloudbelguith commented on #14708
@Stampa-Stampa, what is the exact version Chrome did you use?

Thanks!

[2019-07-18 11:11] JavierEB commented on #14722
![error addons](https://user-images.githubusercontent.com/5004396/61452888-1fad1400-a95d-11e9-8139-00e5bd1d4bf9.jpg)
the partner is right I can also have those update errors of "Addons Prestashop" and tested in version 1.7.5.2 and then updated to version 1.7.6 and still jumping the same errors ... In fact I'm trying to install a new template for my store and I miss 500 error due also to the failur

[2019-07-18 11:15] khouloudbelguith commented on #14699
@JorgeNogueiraLFMPro, I tried also with your theme & it is OK.
I attached a screen record
https://drive.google.com/file/d/1w-QqRUWjH-x_sWUyHhDDt84QgkQMGWSa/view
Thanks to check & feedback.

[2019-07-18 11:19] khouloudbelguith commented on #14722
@msautral, @JavierEB, isn't the same issue reported here: #11450?

Thanks!

[2019-07-18 11:20] MikiMix opened #14730 "Decimal"
Greeting,
My shop 1.7.6 does not show me the right decimal  for the old price and savings. It should appear 2 decimal places, not 4.
Does anyone know what the problem is?﻿
![Opera Snapshot_2019-07-18_113358_ceger ba](https://user-images.githubusercontent.com/1534324/61453559-b928f580-a95e-11e9-8e39-8906fe69f1e0.png)

[2019-07-18 11:22] khouloudbelguith commented on #14730
Hi @MikiMix,

Your ticket is a duplicate of #14615
So, I close it.
Thanks!

[2019-07-18 11:22] #14730 closed, assigned to nobody

[2019-07-18 11:22] khouloudbelguith commented on #14730
Duplicate of #14615

[2019-07-18 11:27] JavierEB commented on #14722
It is the same problem I think, but in my case it does not update any module. It is with all the prestashop modules. However, last night I updated them all perfectly, so, I think it is due to a problem of punctual generalized "Addons Prestashop"

[2019-07-18 11:41] sarjon opened #14731 "Multistore behavior improvement in Back Office"
This issue should help prepare for _Multistore_ behavior  improvements in Back Office (BO).

### Main pain points with current _Multistore_ behavior in BO:

1. Since PS 1.7 all new _Configuration forms_ are missing _Multistore_ behavior
2. Persisting configuration behavior has changed since 1.6 (see behavior explanation below).
3. All _Identifiable Object forms_ have manually added & rendered _Sho

[2019-07-18 11:47] MatShir opened #14732 "[ORDER LIST] Order preview in Order page list"
**USER STORY**

As a merchant, I want to quickly check the details of order without opening it in the order list.

**WHY**

Many merchants only open the order page to know and just to read the essential information from the order as the products, the amount, stock location or customer details. The preview order will prevent the merchant from opening all concerned orders and thus gain in productivi

[2019-07-18 11:56] #14299 closed, assigned to nobody

[2019-07-18 11:57] #12694 closed, assigned to Progi1984

[2019-07-18 11:57] khouloudbelguith commented on #14706
@roja45, I did not manage to reproduce the issue with PS1.7.6.0.
I tried with this module
[translationbug.zip](https://github.com/PrestaShop/PrestaShop/files/3406395/translationbug.zip)

In my tpl file, I have this

[code]

In BO => All expressions are well displayed
![image](https://user-images.githubusercontent.com/16067358/61455491-9ba65c80-a95b-11e9-839c-56483c4581b1.png)

Thanks to check & fe

[2019-07-18 12:02] MikiMix commented on #14615
Where can I change that?

[2019-07-18 12:08] web-burn opened #14733 "It is not possible to edit the "Back office translations" in PrestaShop 1.7.6.0"
Hello,

I use the PrestaShop 1.7.6.0 and custom theme. In previous version 1.7.5.2 the "Back office translations" was editing fine. Now i can't edit the "Back office translations":

http://prntscr.com/ogrpk5

http://prntscr.com/ogrpt7

The text of error:

{"error":"Could not crawl for translation files: The \u0022\/home\/b\/brain7yk\/prestathemes.ru\/public_html\/1.7\/footwear\/var\/cache\/prod\/t

[2019-07-18 12:14] marionf opened #14734 "Number of product not ok after selecting filters"
**Describe the bug**
Number of product not ok after selecting filters

**To Reproduce**
Fresh install, install faceted search module
Go to home category in FO
Select the filter composition: coton (2)
You have 2 results as indicated, it's ok
Select the filter property: 120 pages (3)
You have 0 results, it's not ok it should be indicated 0 in parentheses for 120 pages after selecting the first filte

[2019-07-18 12:17] marionf commented on #14655
We can add an option "Hide filter values when no product is matching" like in blocklayered in 1.6 version

![capture d'écran_1769](https://user-images.githubusercontent.com/13449658/61456582-c0540180-a966-11e9-920d-615bcfe23f6a.png)

[2019-07-18 12:22] Klemart3D opened #14735 "Cannot add a custom field on category add/edit form on PS 1.7.6.0 (Symfony page)"
**Describe the bug**

I'm trying to create a module to add a custom field in a back-office add/edit category page (under Symfony from PS 1.7.6.0) with `sell/catalog/categories/10/edit` route), but I can't alter form as described in [official doc](https://devdocs.prestashop.com/1.7/modules/concepts/forms/admin-forms/).

1 - I hooked my module on **displayBackOfficeCategory** in **__construct** meth

[2019-07-18 12:28] MatShir opened #14736 "Right click "open in new tab" over the full width table line"
**USER STORY**
As a merchant, I want to able to open in a new tab my the orders from the order list.

**WHY**
Merchants cannot open their orders in another tab even if the action is possible through the order view button. Making the entire line clickable would provide a better user experience and increase merchant productivity.

**SPECIFICATION:**
A right-click on any order then "open in a new tab

[2019-07-18 12:31] khouloudbelguith commented on #14615
@MikiMix, in your database, table `ps_currency`.

Thanks!

[2019-07-18 12:31] MatShir commented on #14736
Hello @TristanLDD,
Through the user experience perspective, what do you think to put the right-click "open new tab" the default action in a left click?

[2019-07-18 12:34] langziyang commented on #14724
i upgrade, look like better,  https://demo.518global.com/zh/
thank you

[2019-07-18 12:36] Peter4661 opened #14737 "1.7.6 productscomments not available"
After upgrading PS from 1.7.5.2 to 1.7.6  productcomments not available. Module productcomments not found

Servergegevens Linux #1 SMP Wed May 15 10:57:13 EDT 2019 x86_64
Server softwareversie: Apache
PHP-versie: 7.2.20
Geheugenlimiet: 1024M
Maximale uitvoeringstijd: 300
Maximale bestandsgrootte voor uploads: 128M
PrestaShop-versie: 1.7.6.0
Winkel-URL: http://www.derks-wielersport.nl/
Shop path: /

[2019-07-18 12:37] khouloudbelguith commented on #14733
Hi @web-burn,

1. Go to International > Translations > Export a language and select a language.
![image](https://user-images.githubusercontent.com/16067358/61457800-00b08100-a961-11e9-9742-f1a95a9d5d28.png)

2. This will generate a file like “ShopMytheme.fr-FR.xlf” if you’ve chosen French, for example.
3. Copy the file into the translation file of your theme
If necessary, create a folder for the l

[2019-07-18 12:39] simplix-fr commented on #14640
UPDATE `ps_currency` SET `numeric_iso_code` = '978', `precision` = '2' WHERE `ps_currency`.`id_currency` = 2;

[2019-07-18 12:39] khouloudbelguith commented on #14737
Hi @Peter4661,

Did you installed it before the upgrade?

Thanks!

[2019-07-18 12:41] khouloudbelguith commented on #14724
@langziyang, great!
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-18 12:41] #14724 closed, assigned to nobody

[2019-07-18 12:43] Hlavtox commented on #14655
@marionf @colinegin @sarahdib

Have a look my comparsion and you will see my point.
https://drive.google.com/file/d/1TMZfDF3sMTMcpeD5_8lE0IeF5XSmo38r/view?usp=sharing

The refresh of the module was good but it has some new quirks and missing stuff I already mentioned in other issues/feature requests.

[2019-07-18 12:48] Peter4661 commented on #14737
Hi  khouloudbelguith,

I did not install it before the update. I assumed (correct or wrong 🤔) it
would come with the upgrade to 1.7.6

Met vriendelijke groet,

Peter Derks
Derks wielersport
Verduinsbos 29
4661NT Halsteren

telefoon +31 624 179 798

www.derks-wielersport.nl

Op do 18 jul. 2019 om 14:40 schreef khouloudbelguith <
notifications@github.com>:

[2019-07-18 12:50] Hlavtox opened #14740 "Faceted search | Stop the page from jumping to the top"
**Whats wrong**
Every time you select a filter in faceted navigation. The page jumps to the top.
This is super annoying as user has to scroll down every time.

**Solution**
A) Make the page not scroll at all.
B) Make the page scroll to the top of the product list.

The best case would be a select box in the options of the module. With three options:
- Scroll to the top
- Scroll to beginning of pro

[2019-07-18 12:50] MatShir opened #14741 "[ORDER LIST] - A dropdown button for the order's status to modify it"
**USER STORY**

As a merchant, I want to change the status of the command quickly for a single order in the order list.

**WHY**

Some merchants do not change the status of orders already processed due to time constraints that cause frustration to their customers.
Facilitating the status change quickly from the list will allow the merchant to change the status of their order without leaving orders

[2019-07-18 12:53] Archikawa commented on #14575
Would have been nice to at least have the possibility to put a trace in the module to inspect the return of the query.

[2019-07-18 12:56] Hlavtox opened #14742 "Faceted search | Keep selected filters on top of product list, if no products"
**Describe the bug**
Active filters disappear from the top of the product list, if no products are found for current filters.

https://drive.google.com/file/d/1sZ3FnoIsaRXGjGM706bv7XzfyQ4Tzs23/view?usp=sharing

**Additional information**
PrestaShop version: 1.7.6
Faceted search: 3.1.0

[2019-07-18 12:59] MatShir opened #14743 "Redesign of the bulk action"
**USER STORY**
As a merchant, I want to do some bulk action in a single click without going through the bulk action droplist.

**WHY**
A redesign of the bulk action is required, many merchants didn't know about the existence of this feature. The new design will be a focus on the user experience and be easier to integrate merchant habits and so enhance their productivity.

**SPECIFICATION**

**DESI

[2019-07-18 13:03] guil182 opened #14744 ""There are not enough products in stock" when change combination with minimal quantity>1"
**Describe the bug**
Product with 3 combinations
combination 1 : quantity 24 , minimal quantity 1, default combination
combination 2 : quantity 12 , minimal quantity 6
combination 3 : quantity 4 , minimal quantity 1,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to product page
2. Click on combination 2
3.Click on combination 3
4. See error "There are not enough products in stock."

**S

[2019-07-18 13:03] MikiMix commented on #14615
Now is OK :)

[2019-07-18 13:13] web-burn commented on #14733
Thanks @khouloudbelguith

I have make these steps but this will not generate the file "ShopFootwear.fr-FR.xlf" (theme name is footwear in my case):
http://prntscr.com/ogso25
Also can you send the example of this file?
Thank you very much!

[2019-07-18 13:17] khouloudbelguith commented on #14733
@web-burn, yes you can send me the custom theme.
This is a public space.
You can provide me the theme by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-07-18 13:17] khouloudbelguith commented on #14615
@JustasBelevicius, any news about your issue?

Thanks!

[2019-07-18 13:21] khouloudbelguith commented on #14663
@fraria76, with windows, you can use the command prompt Cmd: https://en.wikipedia.org/wiki/Command-line_interface#Command_prompt

Thanks!

[2019-07-18 13:23] khouloudbelguith commented on #14734
Hi @marionf,

Is it the issue reported here: https://github.com/PrestaShop/PrestaShop/issues/14658

Thanks!

[2019-07-18 13:24] khouloudbelguith commented on #14734
Related to: https://github.com/PrestaShop/PrestaShop/issues/14658

[2019-07-18 13:26] matks commented on #14731
It might not be intended. This might be a mistake we need to fix.

This might not be an issue. If adding and rendering these inputs allow us to build a simple, reliable and manageable system to handle multi-store, it looks like a very small cost to me.

I definitely favor adding and handling specific behavior "manually" (= write the code for it, even copy-pasted from 1 page to another) instead of

[2019-07-18 13:26] MatShir opened #14745 "[EPIC] Order view redesign"
### USER STORY
As a merchant, I want to view my order with the essential information easily accessible and without scrolling in the order page.

### WHY
The essential information is scattered throughout the page making it difficult to read the command requiring to make many necessary scrolls. As it is one of the main used pages of the software, the reading must be smooth and efficient.

### SPECIF

[2019-07-18 13:28] khouloudbelguith commented on #14737
@Peter4661, yes, the minor compliance version is PS1.7.6.0.
https://github.com/PrestaShop/productcomments

Thanks!

[2019-07-18 13:31] khouloudbelguith commented on #14740
Hi @Hlavtox,

Thanks for your report.
Yes, I have the same behavior with PS1.7.6.0 & ps_facetedsearch v3.1.0
https://drive.google.com/file/d/1FDnFnITneBd19dCz-msir6CV2WLNVt3d/view
@colinegin, @marionf what do you think of his improvement?

Thanks!

[2019-07-18 13:33] web-burn commented on #14733
@khouloudbelguith  Yes, of course. I have sent it you from "brain73@yandex.ru". Please check  your inbox.

Note: the Error occurs only in PerstaShop 1.7.6.0.

[2019-07-18 13:34] sarjon commented on #14731
For both cases, I think it's a mistake.

[2019-07-18 13:34] CarPrc opened #14746 "Export (from France) - Amount VAT"
**Describe the bug**
For DOM-TOM and Switzerland, we do not have to charge VAT. Prestashop handles it well.
But if a person (DOM-TOM or Switzerland) choose a promo product, the total amount is not calculated well. Indeed, Prestashop subtracts a discount TTC of the product HT. Which is not acceptable.

Example:
- product of 50 € HT / 60 € TTC
- with a discount of 10 € HT / a discount of 12 € TTC

T

[2019-07-18 13:36] khouloudbelguith commented on #14742
Hi @Hlavtox,

I did not manage to reproduce the issue with PS1.7.6.0 & The ps_facetedsearch v3.1.0.
I attached a screen record
https://drive.google.com/file/d/1-LySj8-WngM4TON7PWB2kg_zOVsDELjb/view

Thanks!

[2019-07-18 13:37] MatShir opened #14747 "[ORDER PAGE] Deletion of the banner at the top of the order page"
**Is your feature request related to a problem? Please describe.**
Part to the redesign order page view, the banner at the top of the page (Date - Total - Messages - Number of products) will be removed. The banner is too big for a page without bringing enough added value.

**The redesign #14743 will bring the essentials information forward.**

[2019-07-18 13:40] khouloudbelguith commented on #14746
Hi @CarolinePrc,

Thanks for your report.
Your issue is similar to this ticket: #14537?

Thanks!

[2019-07-18 13:41] cartomatica73 commented on #14621
@khouloudbelguith
I have the server locally, and I have no problem reading the log, but there are no problems, if you give me an email I will send it to you.

Grazie per la tua comprensione!

I specifically asked for no mistakes

[2019-07-18 13:42] CarolinePrc commented on #14746
Hi @khouloudbelguith , no it's not similar.
Thanks !

[2019-07-18 13:44] roja45 commented on #14706
Hi @khouloudbelguith,

Yes, I can see that yours is working.  I'm trying to track down the cause, you can see in the screenshot my translation failing alongside yours that is working.

![image](https://user-images.githubusercontent.com/19314911/61462277-f6c65800-a937-11e9-8167-5806b99a8526.png)

Will get back to you.

Thanks

[2019-07-18 13:49] zuk3975 opened #14748 "Date picker calendar is shown in wrong place when rendered downwards in grid"
**Describe the bug**
When page has enough content to scroll down and make the picker render downwards, a gap appears between input and the calendar. This could be associated with #14401.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Sell > Catalog > customers
2. Click on 'set required fields for this section' to expand the content
3. Scroll down so that your page top would be touching

[2019-07-18 13:51] eternoendless opened #14749 "The PrestaShop BO screenshot is no longer displayed on GitHub"
The BO screencap that used to appear on Github is hotlinked from [this URL](https://www.prestashop.com/1.7/assets/img/product.png), but the link seems broken:

<img width="1105" alt="Screenshot 2019-07-18 at 10 46 40" src="https://user-images.githubusercontent.com/1009343/61462732-84f70a00-a949-11e9-8d70-1ccc3fcd1f32.png">

We can replace it with this one that I just created:

![frame_chrome_mac_l

[2019-07-18 13:54] sarahdib commented on #14629
Hello,

This problem is related to the information in Czech language. In Traffic & SEO some friendly url in Czech have accent and space.

[2019-07-18 13:55] #14749 closed, assigned to eternoendless

[2019-07-18 13:57] #9938 closed, assigned to nobody

[2019-07-18 13:57] matks commented on #14731
ping @marionf and @eternoendless about bullet points 2) and 4)

[2019-07-18 13:58] matks commented on #14717
Fixed by @eternoendless

[2019-07-18 13:58] #14717 closed, assigned to nobody

[2019-07-18 14:02] Hlavtox commented on #14629
@sarahdib Just change the install values to what I proposed in the first message and fixed ;-)

[2019-07-18 14:09] khouloudbelguith commented on #14748
Hi @zuk3975,

I have the same issue with PS1.7.6.0
![image](https://user-images.githubusercontent.com/16067358/61464000-6e62aa00-a96d-11e9-9142-48ee0244b74d.png)

It is Ok before the migration
![image](https://user-images.githubusercontent.com/16067358/61464064-8a664b80-a96d-11e9-9f84-1bb54ec467d9.png)

So, it is a regression.
I’ll add this to the debug roadmap.
Thanks!

[2019-07-18 14:12] khouloudbelguith commented on #14621
@cartomatica73,
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-07-18 14:16] Peter4661 commented on #14737
Thank you . Downloaded the zip file from github.

With attempt to install it, failed to install. System reports: 'this file
seems not a zip file for a module' 😨

Best regards,

Peter Derks
Derks wielersport
Verduinsbos 29
4661NT Halsteren

telefoon +31 624 179 798

www.derks-wielersport.nl

Op do 18 jul. 2019 om 15:29 schreef khouloudbelguith <
notifications@github.com>:

[2019-07-18 14:17] khouloudbelguith commented on #14733
@web-burn, It is ok, the translation is well exported.
I sent you an email.

Thanks!

[2019-07-18 14:19] khouloudbelguith commented on #14737
@Peter4661, you need to run this command `composer install` into this folder after cloning the module from GitHub.
Here's a zip file
[productcomments.zip](https://github.com/PrestaShop/PrestaShop/files/3406921/productcomments.zip)

Thanks to check & feedback.

[2019-07-18 14:22] MatShir opened #14750 "[CLDR] Edit a currency display by language (2/3)"
**USER STORY**
As a merchant, I want to modify the currency format if needed in order to adapt my shop to international norms.

**WHY**
The CLDR data doesn't always answer all the merchant's needs, and we've seen lots of tickets asking for currency modifications (not available in 1.7 so far).

- Here the first part #10052 and the related PR #10455

**SPECIFICATION**
This new page lists of the curr

[2019-07-18 14:25] fraria76 commented on #14663
Hi khouloudbelguith,
even giving the delete cache command the problem remains
Kind regards
![cache](https://user-images.githubusercontent.com/50572903/61465431-58a6b200-a978-11e9-8211-b72ac926f6e1.jpg)

[2019-07-18 14:31] web-burn commented on #14733
Thanks,
But i see only this file in ZIP:

http://prntscr.com/ogug3x

Previously you wrote me what i need the file "“ShopMytheme.fr-FR.xlf”".
The theme contains the translations folder and files already:
http://prntscr.com/oguhlg
Do you see this error in "back office translations" when the "Footwear" theme is activated?:

http://prntscr.com/ogrpk5
http://prntscr.com/ogrpt7

I think that the problem

[2019-07-18 14:34] khouloudbelguith commented on #14744
Hi @guil182,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1UgKinUy9u5zyJMVuAdczg5mZvQW6PiCP/view
Thanks to check & feedback

[2019-07-18 14:36] Hlavtox opened #14751 "1.6 | Cookie->Viewed gets long => unable to add anything to cart"
_I don't know if you even fix anything for 1.6._

Finally found the source of a serious bug we have been facing for a year or longer.

When you browse a store long enough, 'viewed' value in cookie (a list of IDs of the product visited) get so long, that the browser refuses to set the cookie, because it's longer than 4096 characters.

**You can't add anything to cart.** You click add to cart, popup

[2019-07-18 14:38] msautral commented on #14722
Hi everyone, it is not the same issue, the back office say that the module have been successfully updated but when you reload the page the same module say upgrade on the bottom again, but mysteriously today did upgrade all modules without any problem. :(

[2019-07-18 14:39] khouloudbelguith commented on #14722
@msautral, so this issue is fixed in your shop?

Thanks!

[2019-07-18 14:46] Peter4661 commented on #14737
Thank you for your help. Installed and working.

Met vriendelijke groet,

Peter Derks
Derks wielersport
Verduinsbos 29
4661NT Halsteren

telefoon +31 624 179 798

www.derks-wielersport.nl

Op do 18 jul. 2019 om 16:19 schreef khouloudbelguith <
notifications@github.com>:

[2019-07-18 14:46] Hlavtox commented on #14745
Checkout my modified order template. Could give you some ideas. :-)

I have some custom functions like invoice pdf upload, estimated shipping date etc., but the page needed a huge cleanup.

![order](https://user-images.githubusercontent.com/6097524/61467187-7b869580-a97b-11e9-980d-ae72732f9202.png)

[2019-07-18 14:48] khouloudbelguith commented on #14737
@Peter4661, you are welcome!
I close the issue, feel free to open a new one when needed.

THanks!

[2019-07-18 14:48] #14737 closed, assigned to nobody

[2019-07-18 14:48] matks commented on #14686
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14701

[2019-07-18 14:48] #14686 closed, assigned to matks

[2019-07-18 14:51] msautral commented on #14722
I do not think it's fixed because things do not fix themselves, I would try to reproduce it next time I have modules to upgrade, it is not the first time that this happen to me.

[2019-07-18 14:54] Hlavtox opened #14752 "[Idea] Allow hiding unused states from order admin selectbox"
**Is your feature request related to a problem? Please describe.**
Employee get's shown a huge list of order states in the selectbox, but usually he uses only a few of them for order management.

**Describe the solution you'd like**
Add an option to hide some states from order administration.

**Technically**
Add a boolean field hide_admin to DB and OrderState definition.
Add possibility to manage

[2019-07-18 14:57] khouloudbelguith commented on #14722
@msautral, we have a similar issue about upgrade module issue: #11450 added to our bug roadmap.

Thanks!

[2019-07-18 14:57] Hlavtox opened #14753 "Add internal order note"
**Is your feature request related to a problem? Please describe.**
Employees often need to write down some information to a single order, for them and other employees to know, what's the status of the order, because order status is not explanatory enough.

Customer note is not very useful for this. When customer orders something for a second time, you see the previous note and could confuse you a

[2019-07-18 14:57] guil182 commented on #14744
Hi @khouloudbelguith,

Very strange. Look at : http://prestashop.lenclosdesvins.com/pomerol/23-40-chateau-la-conseillante-2010.html

![declinaisons](https://user-images.githubusercontent.com/239505/61468177-25b2ed00-a97d-11e9-9bb3-8fd1868a5789.png)

[2019-07-18 14:59] JavierEB commented on #14722
But in the end I think that if the problem is that the communication with "Addons Prestashop" fails, the problems, even if they are not the same, are related, since in the end it does not update correctly when the connection fails ... with the prestahop market ... I do not tell you from my humble thoughts :)

[2019-07-18 14:59] fraria76 commented on #14663
Hi khouloudbelguith,
even giving the delete cache command the problem remains
Kind regards
![cache](https://user-images.githubusercontent.com/50572903/61465661-c5ba4780-a978-11e9-8202-a81939cf7a45.jpg)

P.S.: in PHPMYADMIN I set for the database as Character Encoding "utf8_general_ci". It's correct?

[2019-07-18 15:02] Hlavtox opened #14754 "Possibility to resend order confirmation"
**Is your feature request related to a problem? Please describe.**
Sometimes, these use cases happen:
- User messes up his email and calls us, that he didn't receive his order confirmation. We change his email and now what?
- We change something in a customer's order and he wants the updated order summary.

**Describe the solution you'd like**
Add a native option to resend order confirmation email

[2019-07-18 15:07] kpodemski commented on #14748
@khouloudbelguith could you please add to this bug one more little thing? these date fields should not have autocomplete enabled, it's annoying when autocomplete overlay is on the top of date picker :)

[2019-07-18 15:09] khouloudbelguith commented on #14752
Hi @Hlavtox,

Thanks for your report.
Ping @colinegin, @marionf what do you think? is it possible to disable some order status?
For security reasons, we cannot delete default order statuses, but it is possible to add the disable option.
Thanks!

[2019-07-18 15:12] msautral commented on #14722
Hi the important thing is to solve the bug, no matter where :)

[2019-07-18 15:14] khouloudbelguith commented on #14746
Hi @CarPrc,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1y31TEokZO2q2EIC8ZlIpz0YXBZ7WoK-g/view
Thanks to check & feedback.

[2019-07-18 15:18] khouloudbelguith commented on #14744
@guil182, it is random in your case.
https://drive.google.com/file/d/1GaMv3fnBovUOjULvMemVS8oiSVikyMp6/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-18 15:23] kpodemski commented on #14615
@khouloudbelguith

sorry, i forgot to write that indeed changing number of decimals in `ps_currency` solved this issue :)

[2019-07-18 15:24] khouloudbelguith commented on #14754
Hi @Hlavtox,

We have an option in the BO => Orders => Order details page to resend an email
![image](https://user-images.githubusercontent.com/16067358/61470141-6fe59f80-a978-11e9-8865-029d84f2c05a.png)

Thanks to check & feedback.

[2019-07-18 15:24] kpodemski commented on #14752
+1, i've done this modification few times for customers

[2019-07-18 15:25] kpodemski commented on #14754
@khouloudbelguith

it's not possible though to re-send `order_conf.html` template which is send by `classes/PaymentModule.php` every time order is placed

this is why i understand this feature request :)

[2019-07-18 15:26] khouloudbelguith commented on #14615
Hi @JustasBelevicius,

Heres' the PR: https://github.com/PrestaShop/PrestaShop/pull/14664 to fix the issue.
Your ticket is a duplicate of #14640
So, I close it.
Thanks!

[2019-07-18 15:26] #14615 closed, assigned to nobody

[2019-07-18 15:26] khouloudbelguith commented on #14615
Duplicate of #14640

[2019-07-18 15:28] khouloudbelguith commented on #14748
@marionf, @colinegin what do you think of @kpodemski's request?

Thanks!

[2019-07-18 15:32] Hlavtox commented on #14754
@khouloudbelguith Not possible, order_conf is not a part of any order state.

[2019-07-18 15:34] khouloudbelguith commented on #14751
Hi @Hlavtox,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be, that’s why I close it.

[2019-07-18 15:34] #14751 closed, assigned to nobody

[2019-07-18 15:35] khouloudbelguith commented on #14751
Please follow this link: http://build.prestashop.com/news/1.6.1.x-what-s-next/

[2019-07-18 15:35] Hlavtox commented on #14751
@khouloudbelguith Do you consider unablity to use a shop as a not critical bug???

@marionf

[2019-07-18 15:35] mickaelandrieu opened #14755 "Allow Doctrine Query Builder to set a native SQL query"
**Is your feature request related to a problem? Please describe.**
Currently, in Grids you can't set your own raw sql query, you have to manage sql parts one by one, making the process of migration of old grids to new ones painful.

Also, optimizing the query is difficult

**Describe the solution you'd like**

Add a new state to the query builder named "RAW" and add a setSQL() function.

**Describ

[2019-07-18 15:36] guil182 commented on #14744
@khouloudbelguith, it's not random...

It always make an error when you clic on 6x75cl AND after on 1x150cl and newer from 6x75cl to 1x75cl.
If for combination 6x75cl, I change minimal quantity 6 to 1, "There are not enough products in stock" newer appear.
So I think that nimimal quantity of the former combination "stay somewhere" in this case...:/

[2019-07-18 15:37] khouloudbelguith commented on #14744
@guil182, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-18 15:38] khouloudbelguith commented on #14754
@Hlavtox, @kpodemski, Thanks for these clarifications.
Ping @marionf, @colinegin what do you think?

Thanks!

[2019-07-18 15:42] khouloudbelguith commented on #14663
@fraria76, thanks for your feedback.
In my case, This issue doesn't occur.
Ping @sarahdib could you please try to reproduce the issue.

Thanks!

[2019-07-18 15:46] Stampa-Stampa commented on #14708
75.0.3770.142 (official) (64-bit)

[2019-07-18 15:51] guil182 commented on #14744
@khouloudbelguith,

I was on 6x75cl and I just clic on 1x150cl
Look at the copy screen. Is qty and quantity_wanted : 6 normal ?
![declinaisons2](https://user-images.githubusercontent.com/239505/61472324-8265d600-a984-11e9-9408-ff5a4160d0d6.png)

[2019-07-18 15:52] khouloudbelguith commented on #14722
@msautral, @JavierEB, we are working on this problem.
I will get you updated if it is fixed.

Thanks for your understanding!

[2019-07-18 15:59] fraria76 commented on #14663
Hi khouloudbelguith
Hi sarahdib

I redid a new Prestashop 1.7.6.0 installation (same Server, PHP, etc...) and I have equal problem:

IMPROVE -> INTERNATIONAL -> TAXES
CONFIGURE -> STORE PARAMETERS -> TRAFFIC & SEO

Appear the message: Server error - 500 - Internal server error -There is a problem that does not allow you to view the desired resource.

If I enabling the Debug Mode these problems do

[2019-07-18 15:59] khouloudbelguith commented on #14708
@Stampa-Stampa, I tried also with Chrome Version 75.0.3770.80 (Official Build) (64-bit) & it is OK.
I sent you a screen record by email.

Thanks!

[2019-07-18 16:03] khouloudbelguith commented on #14663
@fraria76, Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this

[2019-07-18 16:14] johanlantz opened #14756 "Translation search feature seems a bit broken"
Using clean 1.7.6 installation.

Go to Translations and search for instance for:
"Order with"

This gives 4 results (all of them for the string "Order with an obligation to pay".

The problem is that only the result that is visible is for the LegalCompliance module. The other 3, I have no way of navigating to. I would like to translate the one in Shop/Theme/Checkout but there is no quick way to fi

[2019-07-18 16:16] JavierEB commented on #14722
thanks to you always for your support :+1:

[2019-07-18 16:16] khouloudbelguith commented on #14744
@guil182, yes there is an issue.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-18 16:16] JavierEB commented on #14722
thanks to you always for your support +1

[2019-07-18 16:20] khouloudbelguith commented on #14733
@web-burn, yes, after uploading your theme, this issue occurs.
![image](https://user-images.githubusercontent.com/16067358/61474274-3749c400-a980-11e9-9ceb-a0d09ef01775.png)

Only with your theme.
Have you tried to contact the theme author about this issue?

Thanks!

[2019-07-18 16:23] khouloudbelguith commented on #14755
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-18 16:24] khouloudbelguith commented on #14753
Hi @Hlavtox,

Thanks for your report.
Ping @colinegin, @marionf what do you think?

Thanks!

[2019-07-18 16:31] khouloudbelguith commented on #14756
Hi @johanlantz,

In the newt version PS1.7.7, we added a new improvement to add a disable visual effect on translations.
Heres' the PR: https://github.com/PrestaShop/PrestaShop/pull/12997 to add this feature.

Thanks to check & feedback.

[2019-07-18 16:33] guil182 commented on #14744
@khouloudbelguith,
Excuse me but I'm in debug mode. how to have a report ? Php error log, I will have it tomorrow (OVH).

[2019-07-18 16:36] khouloudbelguith commented on #14735
Hi @Klemart3D,

Thanks for your report.
I tried with this module & it is OK.
[displaybocategorytut.zip](https://github.com/PrestaShop/PrestaShop/files/3407486/displaybocategorytut.zip)
![image](https://user-images.githubusercontent.com/16067358/61475385-9577a680-a982-11e9-8171-ef5cb1bb3e8b.png)

Thanks to check & feedback.

[2019-07-18 16:38] khouloudbelguith commented on #14744
@guil182, when debug mode enabled, in the FO, go the product page & try to change the combination & check if there is an exception is displayed.

Thanks!

[2019-07-18 16:40] khouloudbelguith commented on #14706
@roja45, thanks!
Waiting for your feedback.

[2019-07-18 16:41] matthieu-rolland commented on #12223
@colinegin @marionf @eternoendless

From what I've seen in the code, the number of decimals given by a user in the back office is used not only for display values in the backend, but also for calculations, as a computing value, determining the level of precision in basket calculations for example.

I explained the issue to @eternoendless , and here's a solution that I could implement:

1/ We do no

[2019-07-18 16:53] marionf commented on #14740
Hello @Hlavtox

Your issue is a duplicate of #10993, so I close it

[2019-07-18 16:53] #14740 closed, assigned to nobody

[2019-07-18 16:56] khouloudbelguith commented on #14740
@marionf, this PR: https://github.com/PrestaShop/PrestaShop/pull/11534 should be fixed in the PS1.7.6.0, but in my case, I have the same issue with PS1.7.6.0.
What do you think?

Thanks!

[2019-07-18 16:56] Hlavtox commented on #14740
@marionf Do you consider this an user friendly behaviour?

[2019-07-18 17:08] marionf commented on #14740
@khouloudbelguith @Hlavtox

No, it's not supposed to be fixed in 1.7.6.0
Please see this [comment](https://github.com/PrestaShop/PrestaShop/pull/11534#issuecomment-442898509), the PR allow theme developer to choose to keep this scroll or not.

As you can see in the [duplicated issue](https://github.com/PrestaShop/PrestaShop/issues/10993#issuecomment-442858150) we will not change this behavior as e

[2019-07-18 18:00] web-burn commented on #14733
@khouloudbelguith, did you test it with other custom themes except "Classic" theme? I thing it is bug of PrestaShop 1.7.6.0. There is no this problem in all previous versions of PrestaShop.

[2019-07-18 18:30] fraria76 commented on #14663
Hi khouloudbelguith,

first thank you so much for all the help you are giving me!

Now I have made a VirtualBox virtual machine with my usual configuration:

WINDOWS SERVER 2019
IIS 10
MySQL 8.0.16.0
PHP 7.2.16
PHPMYADMIN 4.9.0.1
Prestashop 1.7.6.0

The result is always the same on the back office when I click on:

IMPROVE -> PAYMENT -> PAYMENT METHODS
IMPROVE -> INTERNATIONAL -> TAXES
CONFIGURE -

[2019-07-18 19:12] eternoendless opened #14757 "Some images are being loaded from the SCSS directory"
When we tried removing the SCSS directory from the BO new theme in the production zip release, we realized that some images were being loaded from there, and therefore weren't available anymore.

This means that either the image extraction webpack plugin is not working properly for some image, or that some of them are being referenced directly in the code.

See [this comment](https://github.com/Pr

[2019-07-18 20:08] roja45 commented on #14706
Hmm, bit tricky to explain this one, I can recreate the issue with your module

![image](https://user-images.githubusercontent.com/19314911/61488360-a5d15680-a96d-11e9-9f47-2ed463399658.png)

The problem lies in: \classes\Translate.php

![image](https://user-images.githubusercontent.com/19314911/61488038-dfee2880-a96c-11e9-9b5b-b909b8b7c607.png)

When translating my text above, that gets corrupted

[2019-07-18 21:23] web-burn commented on #14733
@khouloudbelguith, i have recorded a video. Please look it here:

https://yadi.sk/i/FIjx9XlKdFbrUg

I have renamed the default theme "Classic" to "Custom" and activate it in PrestaShop 1.7.6.
You can see the same error in "Back office Translations". So it is not theme problem. This error will occur with any custom theme except "Classic".  You can test it yourself: only rename the "Classic" theme a

[2019-07-18 23:33] TemKaSD opened #14758 "What nginx, mysql and php settings does the site use demo?"
![Screenshot_1](https://user-images.githubusercontent.com/6318282/61498806-293f8600-aa08-11e9-8f7e-f2406524fd5a.jpg)

Nice connect and TTFB. Please share a secret.

[2019-07-18 23:34] Marko-fin opened #14759 "Shopping cart product increase / decrease is double"
**Describe the bug**
After products are added to shopping cart, and user navigates to shopping cart, user can still add / remove more same items with increase / decrease arrows.

The item counter has duplicate increase / decrease arrows, a smaller copy is inside item count, that is barely clickable by mouse, and it also hides item count when item count is more than one digit.

**To Reproduce**
Ste

[2019-07-18 23:36] Marko-fin commented on #14759
With very accurate mouse control, you can increase / decrease item count with this small box inside item count

[2019-07-18 23:58] Marko-fin opened #14760 "Allignment of tax amount in order confirmation not correct"
**Describe the bug**
Allignment of tax information / amount not correct in order confirmation page

**To Reproduce**
Steps to reproduce the behavior:
1. Add items to cart
2. proceed to checkout
3. finalize order
4. See error

**Screenshots**
![prestashop-1-7-6-1](https://user-images.githubusercontent.com/52843932/61499847-f924c280-a9c8-11e9-9d7d-156f3ce1d8bc.jpg)

**Additional information**
Presta

[2019-07-19 06:03] cboillat commented on #14537
Hi @khouloudbelguith any news following your tests ?

[2019-07-19 06:12] zuk3975 opened #14761 "Implement FO cache clearing after catalog price rule creation/update"
After migrating catalog price rule create/edit actions, the smarty cache clear method is removed from handler. This is a reminder to implement something to replace it. Read more here: https://github.com/PrestaShop/PrestaShop/pull/13716#discussion_r284240127

[2019-07-19 07:08] CarPrc commented on #14746
Thanks @khouloudbelguith
The issue is when the discount is in the product sheep, not in "cart rules"
:)

[2019-07-19 07:18] guil182 commented on #14744
hello @khouloudbelguith,

No exception displayed.
No error in logs.

It's not random. I do another test...I put quantity of 1x75cl to 5...and from 6x75cl to 1x75cl "There are not enough products in stock" appear.

It's a real code bug !
It's too important for a website in production. I hope that the correction can be made quickly.

[2019-07-19 07:23] khouloudbelguith commented on #14280
Hi @MaisonMONTEL,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-19 07:23] #14280 closed, assigned to nobody

[2019-07-19 07:34] khouloudbelguith commented on #14759
Hi @Marko-fin,

What is the exact browser did you use?
I did not manage to reproduce the issue with Chrome browser & it is fixed in the firefox browser in PS1.7.6.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/14395

Thanks!

[2019-07-19 07:38] sdwebdesign commented on #14640
GREAT WORK! Works for me changed in ps_currency  (EURO) the column numeric_iso_code (was empty) to 978 and precision to 2. now the prices are fine in front and back. But done this by hand in database table. Adding new currency has the same issue.

[2019-07-19 07:41] khouloudbelguith commented on #14760
Hi @Marko-fin,

In my case, I did not manage to reproduce the issue with PS1.7.6.0.
![image](https://user-images.githubusercontent.com/16067358/61518041-9f3fef00-aa00-11e9-8dc0-8e02b093fa5a.png)

It is well displayed as you can see in my screenshot.
Thanks to check & feedback.

[2019-07-19 07:45] khouloudbelguith commented on #14761
@matks FYI

[2019-07-19 07:55] studiox3 commented on #12158
https://github.com/PrestaShop/PrestaShop/blob/70d12a5ffbd9f1123e76cded1be8d2f78d5f015c/classes/Rijndael.php#L71-L87
Calling the _generateHmac($encrypted)_ method on lines 71 and 84 causes ajax error in debug mode on PHP 7.x
`
Warning: Use of undefined constant MCRYPT_RIJNDAEL_128 - assumed 'MCRYPT_RIJNDAEL_128' (this will throw an Error in a future version of PHP) in /web/www.abonents.lv/classes/R

[2019-07-19 07:57] kernig commented on #14568
Hey @khouloudbelguith, @PierreRambaud,
symfony team accepted the pull request. When does the symfony 3.4 update find it's way to the presta core?

[2019-07-19 08:03] khouloudbelguith commented on #14746
@CarPrc, thanks for these clarifications.
In my case, I did not manage to reproduce the issue also with PS1.7.6.0 & PS1.7.5.2.
It is OK in the invoice.
I attached a screen record
https://drive.google.com/file/d/1S3xmUrkGW1qTkhJ4SDVMUaWAHG1KMs9Q/view

Thanks!

[2019-07-19 08:07] Progi1984 commented on #14568
@kernig Hi, have you got the link to the PR ? Thanks :)

[2019-07-19 08:10] khouloudbelguith commented on #12158
Hi all,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).
The end of 1.6 official support by the PrestaShop company. And the beginning of something new.
From the 1st of July 2019, the maintenance of PrestaShop 1.6.1.x

[2019-07-19 08:10] #12158 closed, assigned to nobody

[2019-07-19 08:11] kernig commented on #14568
Hi @Progi1984, sure, it's https://github.com/symfony/symfony/pull/32485

[2019-07-19 08:22] danielpatilea commented on #10157
@khouloudbelguith  Any update on this issue?

[2019-07-19 08:26] jolelievre commented on #14633
Indeed some translation keys were missing in the catalog, so they couldn't be translated in crowdin. We fixed this issue so the missing keys will be published in crowdin as soon as this PR will be merged.

[2019-07-19 08:27] khouloudbelguith commented on #10157
@Ludofloria, sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks for your understanding!

[2019-07-19 08:31] sarahdib opened #14762 "Issue when we delete a supplier in multistore"
**Describe the bug**
If a supplier is available for all shops and I delete the supplier for Shop A when I try to edit in Shop B an error page appear

**To Reproduce**
Steps to reproduce the behavior:
1. Create two shops
2. Go to Brands & Supplier
3. Create a supplier for all shops
4. Then delete this supplier for shop A
5. Edit the supplier in shop B
6. See the error

**Screenshots**
https://drive

[2019-07-19 08:47] marionf opened #14763 "[EPIC] Issue Product page - Basic settings tab 2/9"
## Issues in **basic settings tab** sorted by priority high to low :

**Must-Have**
- [x] #9945
- [x] #12773 (#9631)
- [x] #30219

**Should-Have**
- [x] #9752
- [x] #9625
- [x] #9626
- [x] #11587
- [x] #9617

**Improvement**
- [x] #20331
- [x] #16306

**Nice to Have**
- [x] #15383
- [x] #9631
- [x] #10459
- [x] #16004
- [x] #9960
- [x] #13751
- [x] #17822

**New feature**
- [x] #18823

**New issue

[2019-07-19 08:48] Ludofloria commented on #10157
For now, we managed to bypass this bug by using a custom module that allows us to even edit the template of the generated invoice ;)

[2019-07-19 08:49] khouloudbelguith commented on #14746
@CarPrc, the "Geolocation by IP address" option is enabled in your case?
Did you create a specific price "Country"?

Thanks!

[2019-07-19 08:50] khouloudbelguith commented on #10157
@Ludofloria, thanks for your feedback.
What is the exact name of this module?

Thanks!

[2019-07-19 08:53] CarPrc commented on #14746
@khouloudbelguith Yes and yes. The issue is the amount of the invoice.

[2019-07-19 08:55] Ludofloria commented on #10157
Actually we use [Module PDF Invoice Template + Delivery + Custom Number](https://addons.prestashop.com/fr/comptabilite-facturation/21817-pdf-invoice-template-delivery-custom-number.html)

[2019-07-19 08:59] khouloudbelguith commented on #10157
@Ludofloria, thanks!

[2019-07-19 09:03] vbelda-ecomm360 commented on #14733
Hi there!

It seams that the problem is triggered from /admin/themes/new-theme/public/translations.bundle.js

I don't have the unminified code, so i can't debug it myself. But ther is a call in that code for this URL:
"/index.php/api/translations/es-ES/AdminGlobal/your-theme"
AdminGlobal depends on what you have selected in the menu, but the themes is auto.

This request only works for the classic

[2019-07-19 09:11] prestamodule opened #14765 "Regression into product URL assign, for product list"
**Describe the bug**
Introduced here :
https://github.com/PrestaShop/PrestaShop/pull/13009/commits/48125d7707fec1e3ec55a91e8db56ac510efdb52

We cannot define a specific URL for the product anymore while using search engine or when splitting products by their attributes. The canonical URL is always used into the template ( cc @jolelievre )

**Additional information**
PrestaShop version: 1.7.6
PHP v

[2019-07-19 09:19] matks commented on #14735
Hi @Klemart3D the hook to use is not `displayBackOfficeCategory` but `actionCategoryFormBuilderModifier`

The hook `displayBackOfficeCategory` is an old and strange hook 😐I have no idea why it was added. Because if you follow its logic, there would be a similar hook for all add/edit forms: `displayBackOfficeCustomer`, `displayBackOfficeTax`, `displayBackOfficeSuppliers` ...

We have added for Symf

[2019-07-19 09:22] khouloudbelguith commented on #14765
Ping @jolelievre what do you think?

Thanks!

[2019-07-19 09:41] khouloudbelguith commented on #14537
@cboillat,

Thank you for your feedback.
I'm trying to reproduce it and we'll come back to you if we need more information.

Thanks:

[2019-07-19 09:46] matthieu-rolland opened #14766 "Making the search tolerance for mistakes configurable"
### Problem:
This feature request follows this pull request:
https://github.com/PrestaShop/PrestaShop/pull/14428

This PR allows to get search results even if we mistyped the keyword.
This is a very nice improvement, but it could be costly performance wise, the new mysql query makes a costly "group by", and then php's levenhstein function is used up to twice per query result... and this whole proc

[2019-07-19 09:53] khouloudbelguith commented on #14744
@guil182, thanks for your feedback.
Did you have some overrides of your classes?

Thanks!

[2019-07-19 09:54] khouloudbelguith commented on #14766
Ping @marionf, @colinegin what do you think?

Thanks!

[2019-07-19 10:01] khouloudbelguith commented on #14758
Hi @TemKaSD,

Sorry, but you want to know the exact information about the configuration for the demo shop?

Thanks!

[2019-07-19 10:03] guil182 commented on #14744
Anything, it's a fresh install of 1.7.6

[2019-07-19 10:13] khouloudbelguith commented on #14733
@web-burn, thanks for your feedback.
I tried also with a custom (renaming the classic theme), I have a red alert, `Could not crawl for translation files: The "/projet/1760lastone/var/cache/dev/themes/custom/translations" directory does not exist.`
I tried to clear cache manually, I use an incognito window, always the same issue.
If I use the classic theme => Translations => OK.
![image](https://us

[2019-07-19 10:16] Progi1984 commented on #14700
PR #22

[2019-07-19 10:18] TemKaSD commented on #14758
Yes. nginx and mysql.

[2019-07-19 10:19] khouloudbelguith commented on #14744
@guil182, did you use a child theme?

Thanks!

[2019-07-19 10:23] khouloudbelguith commented on #14758
@TemKaSD, this shop: http://demo.prestashop.com/#/en/back?
![image](https://user-images.githubusercontent.com/16067358/61528799-9c042d80-aa17-11e9-95fd-675b1968b739.png)

Thanks!

[2019-07-19 10:32] khouloudbelguith commented on #14706
@roja45, I deleted the en.php file & it is OK.
I attached a screen record
https://drive.google.com/file/d/1EOrLBZQJxhHemkDPPRgDAVBnjnRtfSbS/view

Thanks!

[2019-07-19 10:43] Dan-Orchard commented on #14731
"Since PS 1.7 all new Configuration forms are missing Multistore behavior"

Isn't this a HUGE problem?

For example, different store contacts per store does not work

[2019-07-19 10:52] khouloudbelguith commented on #14746
@CarPrc, it is OK also in my case.
I tried to buy a product from Switzerland & it is OK.
I attached a screen record
https://drive.google.com/file/d/1KcNnGrgRQYf4mFymPbSvo4DUGl89YZBZ/view

Thanks!

[2019-07-19 10:57] Jerome08 commented on #14386
mmmm i don't think so, i only find this:
![ScreenShot004](https://user-images.githubusercontent.com/50581985/61530565-b0025c00-aa24-11e9-9169-99054bd709e4.jpg)
i tried to record it :
https://drive.google.com/file/d/1TmoTPaY8VCdz8r8y7VL0G3aCkpSbrIKW/view

[2019-07-19 11:07] khouloudbelguith commented on #14537
@cboillat, I tried again with PS1.7.6.0 but I did not manage to reproduce the issue.
I attached a screen record
https://drive.google.com/file/d/1cA4mxX-14INdJTs5hoVT0YLMwA4dqlBV/view

Thanks to check & feedback.

[2019-07-19 11:16] khouloudbelguith commented on #14386
@Jerome08, could you please provide me the link to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-07-19 11:24] guil182 commented on #14744
@khouloudbelguith,
No, default thème.

[2019-07-19 11:30] khouloudbelguith commented on #14744
@guil182, ABOUT THIS EXCEPTION:

`Warning: preg_match() expects parameter 2 to be string, array given`, could you please navigate to your BO => Shop Parameters => Traffic & SEO => Enable "Accented URL", clear cache, check & feedback.
![image](https://user-images.githubusercontent.com/16067358/61532179-eccc5400-aa20-11e9-840b-5fd52afa54de.png)

Thanks!

[2019-07-19 11:44] sarjon commented on #14731
If you are talking about "Shop Parameters > Contact" contacts, then it should be working, as multistore behavior is implemented there. If there is some edge case that does not work, please open an issue. :)

[2019-07-19 11:45] roja45 commented on #14706
The issue is with front office translations.

An updated version of your module is attached, it just includes a front office hook for the product page.

[translationbug.zip](https://github.com/PrestaShop/PrestaShop/files/3410923/translationbug.zip)

[2019-07-19 11:51] guil182 commented on #14744
@khouloudbelguith,

same issue :/

[2019-07-19 11:55] khouloudbelguith commented on #14706
@roja45, I checked the module provided.
But, there are no front office translations.
I attached a screen record
https://drive.google.com/file/d/1jqAvRIaYG_E9__VPiCUc2u0D2XwTw34h/view
Thanks to check & feedback.

[2019-07-19 11:56] khouloudbelguith commented on #14744
@guil182, the exception is still displayed in your case?
Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check if the exception is displayed and feedback

[2019-07-19 12:12] roja45 commented on #14706
erm, can't answer that one.  Try transplanting it to the displayProductAdditionalInfo hook, it's there in the code.  The module hook process is not without it's own issues.

![image](https://user-images.githubusercontent.com/19314911/61534177-731e7100-a9f4-11e9-99ea-30e450d4e334.png)

[2019-07-19 12:24] CarPrc commented on #14746
@khouloudbelguith , we don't have ton charge VAT to Swizerland and dom tom, it's illegal

thanks a lot

[2019-07-19 12:39] guil182 commented on #14744
@khouloudbelguith,
I have this in console

Erreur dans les liens source : request failed with status 404
URL de la ressource : http://prestashop.lenclosdesvins.com/themes/core.js
URL du lien source : core.js.map

[2019-07-19 12:43] khouloudbelguith commented on #14706
@roja45, thanks for your feedback.
Yes, now I manage to reproduce the issue PS1.7.6.0.
In the FO, I have this
![image](https://user-images.githubusercontent.com/16067358/61535759-f35fc900-aa2a-11e9-81a9-4ad98133880d.png)

With PS1.7.5.2, it is OK
![image](https://user-images.githubusercontent.com/16067358/61535795-0b374d00-aa2b-11e9-9287-fb615995e013.png)
I’ll add this to the debug roadmap so that

[2019-07-19 12:47] rdy4ever commented on #14752
As a workaround, you can delete or make a order state removable from `ps_order_state` table in the database. To delete it, just change 0 to 1 in the `deleted` row. To make it removable from the BO, change 0 to 1 in the `removabale` column.
![image](https://user-images.githubusercontent.com/12268701/61536119-8e14d380-aa3c-11e9-8d96-2d310d9b98c0.png)

[2019-07-19 12:56] zuk3975 commented on #10549
Reminder: Migrate Condition groups (#13716 doesn't include them)

[2019-07-19 13:05] khouloudbelguith commented on #14699
@JorgeNogueiraLFMPro, I tried with your shop & it is OK.
I sent you by email a screen record

Thanks!

[2019-07-19 13:07] roja45 commented on #14706
@khouloudbelguith Ok, cool. Yes, I can create a pull request.  As noted above, I don't think that the code that is causing the issue is doing anything useful, so can be removed.

[2019-07-19 13:12] Klemart3D commented on #14735
Hi @khouloudbelguith,
Thanks for your answer. I tried your module but saved data in "Custom input" seems never displayed because `Tools::getValue('id_category')` is always false (at line 86 of **displaybocategorytut.php**).

I find a "Symfony" way to get current category ID : `$params['request']->get('categoryId')` but it's not well documented.

Hi @matks,
Thanks for the link, I din't know it exis

[2019-07-19 13:13] colinegin commented on #14748
@matks what do you think ?

[2019-07-19 13:21] Prem-lmx commented on #12581
Hai,
im using the prestashop version1.7.5.2
i have the change product price after that save the but pop-up the error in unabe to update the setting error....
please support me...

Thanks!

[2019-07-19 13:21] reanim8ed opened #14768 "Product update method causes PHP notice in multi currency enabled shop with ps_categoryproducts module installed"
**Describe the bug**
I'm making Prestashop integration with some WebService so I'm creating and updating products via code. Creating part works without any problems, but then trying to update excisting product I get PHP notice: Trying to get property of non-object.
I have debugged and found that on product update the ps_categoryproducts module in 349 line calls getCacheId method in Module class. T

[2019-07-19 13:26] khouloudbelguith commented on #12581
@Prem-lmx, This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2019-07-19 13:27] Hlavtox commented on #14752
@rdy4ever Dangerous idea, some functionality could rely on the preset states.

They are defined in the code and not checked if they exist during execution.

[2019-07-19 13:35] matks commented on #14748
@kpodemski you mean "when I open the datepicker, the default value should be today" ?

[2019-07-19 13:38] nielsverhoeven84 opened #14769 "In faceted search, Manufacturers are displayed using ordering by id, instead of name"
For other filters in the faceted search, items can be sorted via BO, for the manufacturers this is not available.

PS 1.7.2.4

[2019-07-19 13:45] marionf opened #14770 "[EPIC] Product page - All tabs 1/9"
## Issues when **duplicating a product** sorted by priority high to low

**Must-have**
- [x] #16299 - Add language selector next to each multilanguage fields in product page
- [x] #9945 - The "add a product" page creates a ghost product the moment you open it
- [x] #14910 - Error when save an existing product before it is fully loaded

**Should-Have**
- [x] #9828 - [BOOM-4188] When cloning a produ

[2019-07-19 14:05] khouloudbelguith commented on #14769
Hi @nielsverhoeven84,

Could you please provide me the exact steps to reproduce the issue.
Did you the latest version ps_facetedsearch v3.1.0.?
Thanks!

[2019-07-19 14:07] khouloudbelguith commented on #14768
Hi @reanim8ed,

Could you please provide your custom PHP file to check with it.

Thanks!

[2019-07-19 14:09] nielsverhoeven84 commented on #14769
Hello @khouloudbelguith
I'm using the latest version (3.1.0)

On https://www.newvanherck.be/ you can see the filter

The manufacturers are in the section of `Merk`
Currently it is not possible to sort those items

[2019-07-19 14:12] rdy4ever commented on #14752
@Hlavtox Yes. You should only do it if you know what you’re doing and you should test functionality after.

[2019-07-19 14:20] khouloudbelguith commented on #14744
@guil182, it is not related to your issue this error.
Finally, I found the real issue,
If we have the first combination with a minimal quantity > the quantity of the second combination, the issue appears.
I have the same issue with PS1.7.5.2 & PS1.7.6.0.
https://drive.google.com/file/d/1Y1cvCxiLFUtzy6avcIrG20Kh3rwkVHNN/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already

[2019-07-19 14:28] marionf commented on #14763
### - Issues in **basic settings tab** sorted by priority high to low :

**Must-Have**
- [ ] #9945

**Should-Have**
- [ ] #9752
- [ ] #9625
- [ ] #9626

**Nice to Have**
- [ ] #9668
- [ ] #9680
- [ ] #10024
- [ ] #9631
- [ ] #13513
- [ ] #10459
- [ ] #9960
- [ ] #9678

**New feature**
- [ ] #12773

[2019-07-19 14:29] khouloudbelguith commented on #14746
@CarPrc, In my screen record, I didn't change my TVA.

Thanks!

[2019-07-19 14:31] CarPrc commented on #14746
@khouloudbelguith yes but we don't have to charge VAT.
VAT must not appear on the invoice

Thanks a lot for your help

[2019-07-19 14:35] khouloudbelguith commented on #14769
@nielsverhoeven84, yes you are right.
I have the same behavior as you, we can not change the position of the brands.
They are sorted by id in the ps_facetedsearch module.
In the Brands Page => they are sorted by name.
Ping @colinegin, @marionf what do you think?

Thanks!

[2019-07-19 14:37] nielsverhoeven84 commented on #14769
That's why I added it as a feature . Is it possible via a simple modification?

[2019-07-19 14:44] marionf opened #14771 "[EPIC] Product page - Quantities tab 3/9"
### - As a merchant I want to be able to manage my products quantities

[https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-products-add-edit.md#quantities](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-products-add-edit.md#quantities-tab-epic)

- [x] #19569
- [x] #19571
- [x] #19572
- [x] #19573

### [- As a merchant I w

[2019-07-19 14:44] marionf commented on #14771
### - Issues in **quantities tab** sorted by priority high to low :

**Should-Have**
- [ ] #13147

**Nice to Have**
- [ ] #14431

[2019-07-19 14:47] khouloudbelguith commented on #14746
@CarPrc, so you need to disable the display of the tax block in the invoice?
![image](https://user-images.githubusercontent.com/16067358/61544021-76d5e600-aa3c-11e9-93d0-06da989dea70.png)

Thanks!

[2019-07-19 14:54] khouloudbelguith commented on #14733
Hi all,

As discussed with @sarahdib who manage to reproduce the issue also, it is a major Regression.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-19 14:54] marionf opened #14772 "[EPIC] Product page - Virtual products tab 4/9"
### - As a merchant I want to be able to manage my virtual products

[https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-products-add-edit.md#virtual-product-tab-epic](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-products-add-edit.md#virtual-product-tab-epic)

- [ ] #19662 - [Virtual Product tab] - Quantity 1/4
- [ ] #19

[2019-07-19 14:55] marionf commented on #14772
### - Issues related to **virtual product** sorted by priority high to low :

**Nice to Have**
- [ ] #9623

[2019-07-19 14:58] marionf opened #14773 "[EPIC] Product page - Combinations tab 5/9"
### - As a merchant, I want to be able to manage my products with combinations

https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-products-add-edit.md#combinations-tab-epic

- [ ] #20648 - [Combinations tab] - Combinaison List 1/2
- [ ] #20649 - [Combinations tab] - Combinaison Edit 2/2

### [- As a merchant I want to know if there are errors when I complete a

[2019-07-19 14:58] marionf commented on #14773
### - Issues in **combinations tab** sorted by priority high to low :

**Must-Have**
- [ ] #9826

**Should-Have**
- [ ] #9896

**New feature**
- [ ] http://forge.prestashop.com/browse/FF-74
Work already started: https://github.com/PrestaShop/PrestaShop/pull/7890

**Improvement**
- [ ] #11305

**Nice to Have**
- [ ] #9737
- [ ] #9601

[2019-07-19 15:03] marionf opened #14774 "[EPIC] Product page - Shipping tab 6/9"
### - As a merchant I want to be able to manage carriers information for my products

[https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-products-add-edit.md##shipping-tab-epic](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-products-add-edit.md#shipping-tab-epic)

**This tab is not displayed for a virtual product.**

- [

[2019-07-19 15:03] marionf commented on #14774
### - Issues in **shipping tab** sorted by priority high to low :

**Should-Have**
- [ ] #11379
Work already started: https://github.com/PrestaShop/PrestaShop/pull/12379

[2019-07-19 15:04] #14490 closed, assigned to marionf

[2019-07-19 15:08] colinegin commented on #14766
Hello @matthieu-rolland, thanks for your warning !
Is there any other technical alternative with less impact in terms of performance ?

[2019-07-19 15:10] marionf opened #14775 "[EPIC] Product page - Prices tab 7/9"
### - As a merchant I want to be able to manage the prices of my products

[https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-products-add-edit.md#pricing-tab-epic](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-products-add-edit.md#pricing-tab-epic)

- [x] #19671
- [x] #19672
- [x] #19673

### [- As a merchant I want to

[2019-07-19 15:10] marionf commented on #14775
### - Issues in **price tab** sorted by priority high to low :

**Must-Have**
- [ ] #10026
- [ ] #10030
- [ ] #12078
- [ ] #9972
- [ ] #10792

**New feature**
- [ ] #11329

**Should-Have**
- [ ] #9897

**Nice to Have**
- [ ] #12475
- [ ] #12911

[2019-07-19 15:14] marionf opened #14776 "[EPIC] Product page - SEO tab 8/9"
### - Here is the list of the elements of SEO tab:
[https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-products-add-edit.md#seo-tab-epic](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-products-add-edit.md#seo-tab-epic)

- [x] #19677 - [SEO tab] - Search Engine Optimization 1/2
- [x] #19678 - [SEO tab] - Redirection page 2

[2019-07-19 15:14] marionf commented on #14776
### - Issues in **SEO tab** sorted by priority high to low :

**Should-Have**
- [x] #14054

[2019-07-19 15:15] marionf opened #14777 "[EPIC] Product page - Options tab 9/9"
### -As a merchant I want to be able to manage the options of my products

https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-products-add-edit.md#options-tab-epic

- [x] #19679
- [x] #19680
- [x] #19681
- [x] #19682
- [x] #19683

### [- As a merchant I want to know if there are errors when I complete a field in the product page](https://github.com/PrestaShop/pr

[2019-07-19 15:15] marionf commented on #14777
### - Issues in **options tab** sorted by priority high to low :

**Nice to Have**
- [ ] #9580
- [ ] #9790

[2019-07-19 15:29] mathsms commented on #14733
I'm having the same issue with the 1.7.6 version. I noticed also that the error only apperead after I made some translations, so it was working fine at the beginning. Hope we find the fix soon.

[2019-07-19 15:50] colinegin opened #14778 "[AUTOUPGRADE] Configuration interface integration"
Integration with component on vueJS.

[2019-07-19 15:50] Quetzacoalt91 commented on #14758
Hi there,

Each shop is running in its own container, from the Docker image [prestashop/docker-internal-images](https://hub.docker.com/r/prestashop/docker-internal-images/).
There's a apache with mod-php enabled in it, and a mysql server running in background.

We reduced the memory consumption with a light [MySQL configuration](https://github.com/PrestaShop/docker-internal-images/blob/master/1.7/

[2019-07-19 15:55] colinegin opened #14779 "Deactivation of non built-in modules"
**As a user making a major upgrade, I want to be able to disable my non built-in modules before the upgrade to be able to start the upgrade and ensure its success.**
When doing a major upgrade, in the pre-upgrade step (mandatory part), we should check that all installed and non built-in modules are well disabled. If it's not the case, the user should not be able to lunch the upgrade.

**As a user

[2019-07-19 16:05] colinegin opened #14780 "[AUTOUPGRADE] Centralize options and remove unnecessary ones"
WIP - More details (specs & mockups) to come

[2019-07-19 16:07] colinegin opened #14781 "As a user making an upgrade, I want to be able to disable my overrides before the upgrade to ensure its success."
**As a user making an upgrade, I want to be able to disable my overrides before the upgrade to ensure its success.**

1. We should add a toggle "Disable all overrides" in Advanced Parameters > Performance" in the "upgrade options" block.
2. When this option is enabled or disabled from the module, the same option in "Advanced Parameters > Performance" is changed accordingly.
3. By default, the togg

[2019-07-19 16:08] jolelievre commented on #14765
@prestamodule indeed this was introduced in 176 because previously on product with combinations the canonical url (without attribute) redirected to the default combination
this was bad practice for two main reasons:
- the canonical itself was not accessible and always returned a redirect response
- if the default combination changed then the redirection also changed so even the redirection was not

[2019-07-19 16:11] jolelievre commented on #14571
Hello @MockoB,
I tested the module again to check your issue, I noticed a slow delay when you install the module on the first load, I think this is due to initialization and caching of various services like Doctrine which are used in this module
But I only notice it on the first product page loading, the following accesses (even or other products) are ok

[2019-07-19 16:16] colinegin opened #14782 "[AUTOUPGRADE] Manage preset options"
When using the basic mode, upgrade options are preset and cannot be changed.
This feature has to be handled both in front and in CLI.

[2019-07-19 16:38] colinegin opened #14783 "[AUTOUPGRADE] Add upgrade history in the 1st step of the upgrade process"
In the 1st screen of the module configuration, we need to add a listing of all upgrades that were processed before. It is possible to click on a specific upgrade to have access to the back up which was done during this upgrade and see the list of modules which were disabled.

[2019-07-19 16:44] colinegin opened #14784 "Manage installation & upgrade of natives modules"
**As a user, I want to be able to benefit from the latest version of the natives modules I use** (upgrade)
- If the native module version included with the core is HIGHER than the one installed before the upgrade, then the module upgrade process should be triggered in order to ensure that the module is properly upgraded (this might already be the case). For upgraded modules, **the configuration sh

[2019-07-19 16:45] prestamodule commented on #14765
I understand the SEO improvements. But this is not what we are complaining about here :)
For example, in our search engine module, we are presenting products with the best possible combination. Meaning that we will display a dress as red if the color is available. We are also assigning the best combination URL, so the user will get to the product page with the same image, price, etc.
From this poi

[2019-07-19 17:03] reanim8ed commented on #14768
In the root Prestashop directory create some folder e.g. 'test' and run it with php via console
[test.zip](https://github.com/PrestaShop/PrestaShop/files/3412003/test.zip)

Also I have updated the description how to reproduce this

[2019-07-19 17:27] ChineseNorris opened #14785 "Error after filtering date in error logs"
**Describe the bug**
After filtering the error log in the back office I get the following error (debug mode enabled)

An exception occurred while executing 'SELECT l.*, e.email, CONCAT(e.firstname, ' ', e.lastname) as employee FROM ps_log l LEFT JOIN ps_employee e ON l.id_employee = e.id_employee WHERE (object_type LIKE :object_type) AND (l.date_add BETWEEN :date_from AND :date_to) ORDER BY id_log

[2019-07-19 17:36] msautral commented on #14733
Hi I also have a problem with translation, I don´t know if it is the same issue, it only show me the missing translation but not all of them as in previous versions, how can I modify a translation?, thank you.

![image](https://user-images.githubusercontent.com/46203943/61553993-decf0100-aa29-11e9-86fd-e932db7e804d.png)

[2019-07-19 19:00] presciak commented on #14595
I have a multistore with several subdomains
each subdomain has a separate currency and language
When I make an upgade from 1.7.5.2 to 1.7.6.0 I have an error

  |

xxx - is my login and domain

Does anyone have a solution to this problem?

[2019-07-19 21:58] Arnaldo405 opened #14787 "Error: Translations not found in/webspace/siteapps/Prestashop.../var/cache/dev/translations"
Hi,

Unfortunately I had to start with a clean install, so I did and updated the clean install version 1.7.4.2 to version 1.7.5.2 and added the German language. According to the back office Dutch as well as English were already available.
When I wanted to translate German in International - Theme Classic - German I was not able to open the translation area. When I compare the backup of my previous

[2019-07-20 07:03] guil182 commented on #14744
@khouloudbelguith,

Ok.
It’s for you « minor »? Together, we spent some hour to understand thé behavior. What do you think of a client in front of this product page ?
-> one only conclusion: it’s strange, with bug, not professionnal, i’m afraid, i don’t buy!

At one moment, it could be very important to spend all the Time to debug the solution instead of add some fonctionnality on a core with many

[2019-07-20 09:21] matteolavaggi opened #14788 "ps 1.7.4.4 unable to re activate default module"
**Describe the bug**
2019-07-20 09:17:34.511753 [NOTICE] [7667] [10.11.3.109:42528-5#www.mywebsite.com:lsapi] [STDERR] PHP Warning: require_once(/var/www/webroot/ps1744/modules/ps_imageslider/ps_imageslider.php): failed to open stream: No such file or directory in /var/www/webroot/nfs/www.mywebsite.com/src/Adapter/Module/Module.php on line 323
2019-07-20 09:17:34.511783 [NOTICE] [7667] [10.11.3.10

[2019-07-20 09:31] banan44 opened #14789 "Errors on Front Office after upgrade"
Hello, I have just upgraded Prestashop to the letest version. I have noticed that when I select Debug mode, I have an error in my Front Office. When the debug mode is turned off there is no problem and shop is working with no problem. I have multishop with 2 different theme. This error appears only in one shop. The FO in the second shop works with no problem.

Here's the errors I have: https://dri

[2019-07-20 10:59] stellatmy commented on #14617
Thanks a lot! It solved my problem!

[2019-07-20 12:02] Matt75 commented on #14789
Problem come from your module tawkto, you should contact the author to retrieve latest version of this module.

[2019-07-20 13:02] LimousinArcherie opened #14790 "1.7.6.0 BO: A disabled category is not displayed in the "Parent category" section"
Hi,
I'm in PS 1.7.6.0.
I try to update a category with meta description and simplified URL and the message "Une erreur inattendue s'est produite. [PrestaShop\PrestaShop\Core\Domain\Category\Exception\CategoryConstraintException code 6]".
I tried both on google chrome and microsoft edge.
Can you help me please?
Thanks!

A disabled category is not displayed in the "Parent category" section, which is

[2019-07-20 18:29] Digitalfastmind opened #14791 "When Generating Product Combination Reference Field is not Created"
**Bug Description**
When creating product combinations in the past the product Reference was copied across all the combinations, now it's not....i don't know if it may be considered a bug as in theory sometimes different combinations should have different references, but sometimes they don't.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new product with combinations
2. Generate a

[2019-07-20 19:33] jasonchemama opened #14792 "Problem displaying products on prestashop 1.7.6"
Hello,

 Every 7 days, I encountered the same error at log level which is the following error:

 AH01071: Got error 'PHP message: PHP Fatal error: Access level to ProductController :: $ quantity_discounts must be protected (as in class ProductControllerCore) or weaker in /htdocs/xxx.com/override/controllers/front/ProductController.php on line  229 \ n ', referer: https://xxx.com/index.php?category

[2019-07-20 22:07] Alvaro237 commented on #14792
Same here, I changed private to protected and works fine

[2019-07-21 00:25] frevab opened #14793 "Problems with saving (product changes, order items)"
For a while now I cannot amend products changes like text or price and when I press save it says it was saved (green return meesage) but it was not saved. Front office still unchanged, relead product page shows all as per before the change. I experimented with clearing cache and sometimes helps but often not.  Now I have which looks like random problems with orders placed. The order is shown in ba

[2019-07-21 01:48] mahdimedia opened #14794 "Problem adding new theme"
hello

after click on button "Add new theme"
i show msg
"Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused."
![07KgWB](https://user-images.githubusercontent.com/2321818/61586008-c4ed0580-ab72-11e9-87f8-0b0f587fe49e.png

[2019-07-21 11:44] jasonchemama commented on #14792
hello, I do not order you, you tell me what?  thank you in advance, best regards

[2019-07-21 11:45] jasonchemama commented on #14792
hello, I do not order you, you tell me what? thank you in advance, best regards

[2019-07-21 15:37] johndoe1395 opened #14795 "Wrong category position returned by web service"
When requesting a category from Web service, the "position" field is returned with a wrong value, so if you use this returned category and change eg. its name and post it back to the web service, the category's position changes.

Steps to reproduce:
1. Do a GET curl request to eg. (will return category "clothes" from demo presta store data)
   prestapi/api/categories/3
2. Check database ps_categor

[2019-07-21 18:19] LocalHeroPro commented on #14643
Yes, I make that step in first row after installed PS and issue still occur.

[2019-07-21 18:46] banan44 commented on #14789
Hey Matt75. Thnks for your answer. You are right. Once I deactivated tawk.to module the errors are not present in debug mode anymore. That's weird that I have these errors only in one site and the second one with different theme works without any error while in debug mode.

[2019-07-21 20:56] Matt75 commented on #14789
This module is probably not activated on same hooks.
You can compare that in Appearance > Positions, use filter to display only registered hooks for this module.
PHP version can also be different or PrestaShop version too.
But the main problem is this module contain errors.

[2019-07-21 22:52] ValerioFoddai opened #14796 "Can't use the back-office, redirect to login page, session token"
**Describe the bug**
After the login, I'm trying to use the back-office, but if I select some option on the menu, the system redirects me to the login page.

**To Reproduce**

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: 1.7.6.0
PHP version:  7.1.30

[2019-07-22 04:24] clemkake commented on #10345
Hello Team,

were you guys able to fix this issue?

it's been more than a year and people are still facing the same problem:

I was able to reproduce the error and I think those who were able to didnt really look at the product

category, the problem seem to be coming from there.

Let's say you have 10 product in a category A and 5 of them have their default category set to B,

when you try reorde

[2019-07-22 04:26] clemkake opened #14797 "Prestashop REORDERING not WORKING"
Hello Team,

were you guys able to fix this issue?

it's been more than a year and people are still facing the same problem:

I was able to reproduce the error and I think those who were able to didnt really look at the product

category, the problem seem to be coming from there.

Let's say you have 10 product in a category A and 5 of them have their default category set to B,

when you try reorde

[2019-07-22 05:45] ghost opened #14798 "1.7.6 product-customizations not recording & lost when order placed by customer"
When client adding fields in custom product text, add to cart it's ok
but when customer placed AND PAY THE ORDER PRODUCT CUSTOMISATION IS LOST
NOT SHOWING ON BACK OFFICE not in customer order history, - not in email order_conf, for customer and merchant order
in BO line product have no customisation line !!! no information about this custom and it not appears on the Email !

this is a big problem

[2019-07-22 06:30] didjou commented on #14798
I Add this important INFORMATION, It is due it appears from **the payment module amazon pay + login** it appears not correct and not compatible with 1.7.6 and create mistakes

WHen the module  amazon pay + login  is active, it made problems and not records the customization and impact the others payment module who not records the product customisation

So i have uninstall amazon pay

 then it's ok

[2019-07-22 06:30] #14798 closed, assigned to nobody

[2019-07-22 06:58] lukaszlan opened #14799 "RouteNotFoundException"
Can't login to Admin panel.

PrestaShop 1.7.5.2
PHP 7.1

Unable to generate a URL for the named route "admin_common_notifications_ack" as such route does not exist.

Router->generate('admin_common_notifications_ack', array(), 0)
in src/PrestaShopBundle/Service/Routing/Router.php (line 49)
    /**     * {@inheritdoc}     */    public function generate($name, $parameters = array(), $referenceType =

[2019-07-22 07:40] Quetzacoalt91 commented on #14779
Keep PrestaShop modules enabled to allow their data to be migrated. :)

[2019-07-22 07:59] khouloudbelguith commented on #14297
Hi @elviraprint,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-07-22 07:59] #14297 closed, assigned to nobody

[2019-07-22 08:08] Prem-lmx commented on #12581
Hai  @khouloudbelguith ,
but site is puplish,
 so any other choice the issue
Thanks!

[2019-07-22 08:13] sarahdib commented on #14663
Hello @fraria76

I'm sorry I didn't reproduce.

It's maybe related to your configuration server.

Thank you

[2019-07-22 08:19] khouloudbelguith commented on #14785
Hi @ChineseNorris,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2 when debug mode enabled.
I tried to make a filter by two fields => **Date** + another field => the exception will be displayed.

Filtering by only one field => OK
![image](https://user-images.githubusercontent.com/16067358/61616999-c517fe80-ac61-11e9-923b-c021bcbe8f67.png)

I’ll add this to the d

[2019-07-22 08:25] khouloudbelguith commented on #14663
Hi @fraria76,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thanks!

[2019-07-22 08:25] #14663 closed, assigned to nobody

[2019-07-22 08:30] khouloudbelguith commented on #14787
Hi @Arnaldo405,

Thanks for your report.
Have you the same issue with this ticket: #14733?
Thanks to check & feedback.

[2019-07-22 08:32] khouloudbelguith commented on #14787
Hi @Arnaldo405,

1. Go to International > Translations > Export a language and select a language.
![image](https://user-images.githubusercontent.com/16067358/61457800-00b08100-a961-11e9-9742-f1a95a9d5d28.png)

2. This will generate a file like “ShopMytheme.fr-FR.xlf” if you’ve chosen French, for example.
3. Copy the file into the translation file of your theme
If necessary, create a folder for the

[2019-07-22 08:39] khouloudbelguith commented on #14789
Hi @banan44,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-07-22 08:39] #14789 closed, assigned to nobody

[2019-07-22 08:43] khouloudbelguith commented on #14788
Hi @matteolavaggi,

I did not manage to reproduce the issue with PS1.7.4.4 & PS1.7.5.2.
I attached a screen record
https://drive.google.com/file/d/1dWI43m3UumP5CULDJOTC_6UG5KE3krv1/view
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-07-22 08:46] khouloudbelguith commented on #12581
@Prem-lmx, thanks to create a new issue on GitHub about your exact problem with more information about your configuration to reproduce your issue.

Thanks!

[2019-07-22 08:50] khouloudbelguith commented on #14790
Hi @LimousinArcherie,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1kPbe-zmD9VDxer2U2WgWjQIISGOQd6so/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apac

[2019-07-22 08:57] colinegin commented on #10387
There was an issue with some of our modules, we fixed it. Do you still have issues on your side ?

[2019-07-22 08:58] fraria76 commented on #14663
Hi,
OK thanks immensely for all the help and when I find a solution I warn you.
Kind regards

p.s .: you performed the tests on server Linux or Microsoft ?

[2019-07-22 08:59] khouloudbelguith commented on #14791
Hi @freeman78ita,

I tried with PS1.7.4.4, PS1.7.5.2 & PS1.7.6.0.
All these versions, have the same behavior, the reference is not copied after regeneration of the combinations.
https://drive.google.com/file/d/1FDB8YJP1o6HBCsgUmM-EgynUMcr6BnFU/view
What is the exact version PrestaShop did you use before?

Thanks!

[2019-07-22 09:03] khouloudbelguith commented on #14792
Hi @jasonchemama,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.

[2019-07-22 09:10] khouloudbelguith commented on #14793
Hi @frevab,

Thanks for your report.
Previously, we manage to reproduce a similar issue, if we have a reference field with a length greater than 32 chars, this issue is fixed in the PS1.7.6.0.
Here's the exact issue: https://github.com/PrestaShop/PrestaShop/issues/9955
Also, it could be similar to the problem of the meta description if it is more than 255 characters in the product then the changes

[2019-07-22 09:13] khouloudbelguith commented on #14663
@fraria76, in my case, usually I use Server Linux, but in some case, I test with the Microsoft also.

Thanks!

[2019-07-22 09:14] fraria76 commented on #14663
OK thanks, have a nice day!

[2019-07-22 09:15] khouloudbelguith commented on #14794
Hi @mahdimedia,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1_ti1q2hfDUROqgYymSTUf5UXmLM8yzDN/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache err

[2019-07-22 09:32] lutek commented on #10387
My problem was resolved. prestashop: 1.7.5.2
I noticed that the version of updated module was changed
module: ps_facetedsearch (v3.0.5 -> v3.0.6)

[2019-07-22 09:36] LouiseBonnard commented on #14157
ALRIGHT, FOLKS! It seems that this last assumption is right, I've asked the wonderful Chinese translators and they all let me know that there are many ways to write a dot in Chinese, perhaps too many, aha! So we will only keep the international dot character: _Only letters and the dot (.) character are allowed._ in _Admin.Orderscustomers.Help_, thanks @Progi1984!

Also, this means that we will hav

[2019-07-22 09:39] JavierEB commented on #10387
if it seems that they have already solved the problem. I use the 1.7.6.0 and now everything ok. I can update all modulors without error. Thank you

[2019-07-22 09:45] khouloudbelguith commented on #14795
Hi @johndoe1395,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0.
After updating the category via web service, the position of the category is changed to the bottom.
https://drive.google.com/file/d/1P2r2G4Wa7oHQIs1-eRD5tZBSuuMzWop1/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it,

[2019-07-22 09:47] khouloudbelguith commented on #14722
Hi @msautral, @JavierEB,

There was an issue with some of our modules, we fixed it. Do you still have issues on your side?

Thanks!

[2019-07-22 09:49] khouloudbelguith commented on #14796
Hi @ValerioFoddai,

Here are some things you can try :

1/ Clear your browser cache and your cookies

2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table

3/ Manually clear smarty cache: remove all files from /var/cache/

4/ Disable the IP check in classes/Cookie.php (this can cause many issues with dynamics IP)

5/ Into the path /PROJECT_FOLDER/classes/controller/AdminControl

[2019-07-22 10:01] JavierEB commented on #14722
yes everything solved. It works perfectly Thank you

[2019-07-22 10:06] khouloudbelguith commented on #14797
Hi @clemkake,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #14616
So, I close it.
Thanks!

[2019-07-22 10:06] #14797 closed, assigned to nobody

[2019-07-22 10:06] khouloudbelguith commented on #14797
Duplicate of #14616

[2019-07-22 10:08] khouloudbelguith commented on #14722
@msautral, any news?

Thanks!

[2019-07-22 10:14] khouloudbelguith commented on #14799
Hi @lukaszlan,

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Could you please try to run this SQL query

`select * from  ps_configuration where name LIKE 'PS_ROUTE%'` & provide me the result.
In my case,
![image](https://user-images.githubusercontent.com/16067358/60026851-4a74b700-9694-11e9-9594-04f3ea108006.png)

Thanks!

[2019-07-22 10:17] khouloudbelguith commented on #10345
Hi @clemkake,

Please follow: #14616.
Thanks!

[2019-07-22 10:22] khouloudbelguith commented on #14744
@guil182, thanks to follow this link: http://build.prestashop.com/news/severity-classification/ to introduce the New Bug Severity Classification

Thanks!

[2019-07-22 10:23] khouloudbelguith commented on #14733
Hi,

The issue is added to our bug roadmap, so it will be fixed.

Thanks for your understanding!

[2019-07-22 10:34] MathiasReker opened #14801 "Exception by ps_facetedsearch"
**Describe the bug**
ps_facetedsearch though exception on fresh install (fresh like in clean database by pscleaner module) if category contain products with properties.

**To Reproduce**
Install PrestaShop 1.7.6.0
Install PS Cleaner -> Detele categories, products etc.
Create a new product with properties.
Go to the category page of that product.
See exception by ps_facetedsearch

**Screenshots**
!

[2019-07-22 10:36] web-burn commented on #14733
Hello,

Thanks @khouloudbelguith !

[2019-07-22 10:40] khouloudbelguith commented on #14386
Hi @Jerome08,

This issue occurs due to the "Update Elements" module.
https://drive.google.com/file/d/1dOk1higYn299uFZpey1LFCcWQJxP0RFZ/view
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-07-22 10:40] #14386 closed, assigned to nobody

[2019-07-22 10:41] MathiasReker commented on #14801
Screenrecord: https://reker.dk/video.webm

[2019-07-22 10:48] MockoB commented on #14571
Hi @jolelievre,
It is may be ok on your installation, but You could see from the video I'm opening the same product page and the loading time varies and it is always loading much slower than without the module installed.
For example the third attempt, with the module installed, took about 7 seconds to load the page.
Without the module there is never a delay.
The only thing I could do, is to give y

[2019-07-22 10:50] flyman30 commented on #14608
After correction of the table ps_currency the data is well transmitted to the bank (module E-transaction) but the return of the bank accepted or not is not taken into account by PrestaShop after the update of 1.7.5.2 -> 1.7 .6.0
LOG :
AH01071: Got error 'PHP message: PHP Fatal error: Uncaught Error: Call to a member function get() on null in /var/www/vhosts/****/httpdocs/classes/Tools.php:801\nSta

[2019-07-22 11:08] khouloudbelguith commented on #14801
Hi @MathiasReker,

I have the same issue with PS1.7.6.0 & ps_facetedsearchv3.1.0.
![image](https://user-images.githubusercontent.com/16067358/61627566-03201d00-ac78-11e9-92b5-785689f32420.png)
With PS1.7.6.0 & ps_facetedsearch v2.2.0. => OK.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull reques

[2019-07-22 11:22] sarjon opened #14804 "Configuration forms with missing multistore checkboxes"
Type: tech-issue

List of pages that contains configuration forms with multistore checkboxes:

- [ ] Advanced Parameters > Administration
- [ ] Advanced Parameters > Email
- [ ] Advanced Parameters > Team > Employees
- [ ] Advanced Parameters > Database > SQL Manager
- [ ] Advanced Parameters > Database > Backup
- [ ] Advanced Parameters > Logs
- [ ] Advanced Parameters > Webservice
- [ ] Shop Par

[2019-07-22 11:35] MathiasReker commented on #14801
I am not 100% sure if the is a bug in ps_facetedsearch or if pscleaner clean too much data?

[2019-07-22 11:50] pkshetlie opened #14806 "Uncaught Error: Call to a member function get() on null, WebService orders"
**The bug**
When using orders webservice to update currentState I get an error (see screenshoot)

**To Reproduce**
try to update an order current state with the webservice

**Screenshots**
The error :
[code]
What I sent :
[code]

**Additional information**
In Tools.php at line 795  `$context->controller` is null , at line 797 `SymfonyContainer::getInstance();` return null too

Overrides are disabl

[2019-07-22 11:53] pkshetlie commented on #14806
on 1.7.6.0 (after upgrading from 1.7.5.1)

[2019-07-22 12:11] colinegin commented on #10387
Thanks for your feedbacks ! As it seems the issue is fixed I will close it.
Do not hesitate to re-open it with a comment if your issue remains.

Have a nice day !

[2019-07-22 12:11] #10387 closed, assigned to marionf

[2019-07-22 12:19] colinegin commented on #12223
Let's go with your recommendation @matthieu-rolland, it will be safer !
I ping @LouiseBonnard which will be in charge of the rewording.
As for your point 2, just note that with the new feature in the currency page, it will be possible to override the CLDR rules.

Thanks !

[2019-07-22 12:20] MathiasReker commented on #14801
@khouloudbelguith can you confirm following: Resetting ps_facetedsearch module fix the issue?

[2019-07-22 12:24] MathiasReker commented on #14801
![test](https://user-images.githubusercontent.com/26626066/61632087-4edcc180-ac8c-11e9-84a8-d6eda2076502.png)
If not working to reset the module try to delete this item.

I am not 100% sure what is the solution, because I tried different things.

[2019-07-22 12:28] freeman78ita commented on #14791
Hi,Last 1.6! Il 22 lug 2019 11:00, khouloudbelguith <notifications@github.com> ha scritto:Hi @freeman78ita,
I tried with PS1.7.4.4, PS1.7.5.2 & PS1.7.6.0.
All these versions, have the same behavior, the reference is not copied after regeneration of the combinations.
https://drive.google.com/file/d/1FDB8YJP1o6HBCsgUmM-EgynUMcr6BnFU/view
What is the exact version PrestaShop did you use before?
Thank

[2019-07-22 12:29] Progi1984 commented on #14157
@LouiseBonnard No problem for applying rules to front.

@samuel-pires I tried to use the regex from the front office but some characters are in more (in the front rather the back) : `¤` `|` `[` and `]`. Do i add or remove them from forbidden characters ?

[2019-07-22 12:36] khouloudbelguith commented on #14791
@freeman78ita, thanks for your feedback.
Yes, I tried with PS1.6.1.2.4, when I click on the "Generate these combinations" => the reference is copied to all the combinations created.
@marionf, @colinegin what do you think? can we add this feature to PS1.7?

Thanks!

[2019-07-22 12:43] khouloudbelguith commented on #14804
Related to: #9548.

[2019-07-22 12:47] MathiasReker commented on #14801
FYI @PierreRambaud

[2019-07-22 12:50] khouloudbelguith commented on #14806
Hi @pkshetlie,

I did not manage to reproduce the issue with PS1.7.6.0. after upgrade from PS1.7.5.2 using the 1-click upgrade v4.9.0.
I used this script

[code]

Thanks to check & feedback.

[2019-07-22 13:18] jasonchemama commented on #14792
hello, here are the infos
![F3E5A1D3-895F-477B-9F5B-E69EB6803CB9](https://user-images.githubusercontent.com/43283123/61635468-a44fa900-ac61-11e9-802e-13bdef5fa2fa.png)
![497BE83A-04EC-4E96-B1F0-312B51519092](https://user-images.githubusercontent.com/43283123/61635469-a44fa900-ac61-11e9-99cf-bb572a687d78.png)
![E65CC8D5-D614-435B-AF80-149B4646F1F0](https://user-images.githubusercontent.com/43283123

[2019-07-22 13:20] Kixell-NicolasJardillier opened #14808 "facets.tpl in themes/classic"
Hello,

this tpl is not necessary ?

[2019-07-22 13:23] khouloudbelguith commented on #14792
@jasonchemama, you have an override of the `Productcontroller.php`with a fatal error.
![image](https://user-images.githubusercontent.com/16067358/61635757-23f26d80-ac8c-11e9-87b9-5ba8825bcdea.png)
You check this override is provided by each module & check the issue with module author.
Thanks to check & feedback.

[2019-07-22 13:31] khouloudbelguith commented on #14808
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-22 13:33] sarjon commented on #12925
Some further notes:

1. There is a bunch of global JS variables in legacy layout that both core and modules depend on.
2. Custom CSS & JS can be added to controller using legacy `$controller->addCSS()` and `$controller->addJS()` methods.

[2019-07-22 13:49] msautral commented on #14722
Hi, I had to click 2 times on upgrade all to get the modules upgrade:
1- upgrade all
2- reload the page
3- again 3 modules tu upgrade
4- again upgrade all
5- reload
6- nothing to upgrade

![module2](https://user-images.githubusercontent.com/46203943/61637632-eb3f9d80-ac65-11e9-82b2-0e4c49d2743e.png)
![mudule1](https://user-images.githubusercontent.com/46203943/61637634-eb3f9d80-ac65-11e9-94c3-a69b

[2019-07-22 13:50] nicoja commented on #14808
Is it the right place to open issue, problem or any requests ?

[2019-07-22 13:57] jasonchemama commented on #14792
can you see in the file?  here is the file: thanks in advance
[net2ftp-1563802959.zip](https://github.com/PrestaShop/PrestaShop/files/3417744/net2ftp-1563802959.zip)

[2019-07-22 13:59] khouloudbelguith commented on #14808
@nicoja, Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-07-22 14:01] khouloudbelguith commented on #14722
@msautral, so your issue is different.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-22 14:07] pkshetlie commented on #14806
I disable my modules, delete overrided classes in folder, use your script and get the same error message. :(

[2019-07-22 14:11] msautral commented on #14722
HI here is a video to explain what is happening, there are no error.

[module.zip](https://github.com/PrestaShop/PrestaShop/files/3417805/module.zip)

[2019-07-22 14:13] samuel-pires commented on #14157
Hi @matks, do you know if these 4 characters ⬆️  have been introduced in the 1.7.5.2? and if there is a reason for not having them in the BO?

[2019-07-22 14:16] samuel-pires commented on #14157
@Progi1984 , we shouldn't remove them from the FO validation.

And I would say it's better to add them in the BO as well, though there is less risk of misuse in the BO as customers are created by someone from the staff.
Let's see what @matks recommends

[2019-07-22 14:17] nicoja commented on #14808
thanks for your answer, but I do not need help. I think that this is an issue

Best regards

[2019-07-22 14:17] matks opened #14810 "[SF Migration] Be able to detect malformed Twig templates"
Type: tech-issue

PR https://github.com/PrestaShop/PrestaShop/pull/14805 fixed a rather major issue in a Twig template we shipped with 1.7.6: unclosed `<div>` tags !

This kind of errors should be detectable by an automated tool. We need to
- find a suitable tool to detect these mistakes
- include it in the CI pipeline

[2019-07-22 14:19] khouloudbelguith commented on #14808
@nicoja, I just pinged our developers.

Thanks!

[2019-07-22 14:22] vallka opened #14811 "Cannot update from v.1.7.5.0 to 1.7.6.0"
After failing to update with 1-Click update tried manual update. Copied the files. Got this error when ran

    vallka
    Members
    0
    2 posts

    Report post

Posted July 15 (edited)

$ php install/upgrade/upgrade.php

PHP Fatal error:  Uncaught Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: You have requested a non-existent service "prestashop.core.localization.

[2019-07-22 14:27] vallka opened #14812 "Cannot even make a fresh install of 1.7.6.0"
After failing to update with 1-Click update tried manual update. Failed as well
Tried a fresh install and failed too!!!!!

An error occurred during installation...

You can use the links on the left column to go back to the previous steps, or restart the installation process by clicking here.

    1: Unable to write into "en-US"" (data layer : "PrestaShop\PrestaShop\Core\Data\Layer\AbstractDataLay

[2019-07-22 14:30] JavierEB commented on #14722
I suppose you have also tried another browser? Chrome or Firefox seems silly but it can be ...

[2019-07-22 14:30] cartomatica73 commented on #14621
check the mail

[2019-07-22 14:36] khouloudbelguith commented on #14768
@reanim8ed,

Thanks for your feedback.
I have the same issue with PS1.7.5.2 & PS1.7.6.0.
[code]
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-07-22 14:38] msautral commented on #14722
Hi I not really try it, but I use Chrome, sometimes works and some time don't, the day I started to write on this post it was no way to upgrade the modules, at the next day, just one time everything upgraded.

It happen on differents pages with different PS versions.

[2019-07-22 14:41] khouloudbelguith commented on #14722
@msautral, if you try to upgrade the module from the "Modules" tab page? this issue occurs also?
Thanks!

[2019-07-22 14:45] khouloudbelguith commented on #14812
Hi @vallka,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, thi

[2019-07-22 14:46] khouloudbelguith commented on #14811
Related to: #14812

[2019-07-22 14:47] khouloudbelguith commented on #14811
Hi @vallka,

What is the exact version of the 1-click upgrade module did you use?

Thanks!

[2019-07-22 14:52] khouloudbelguith commented on #14806
@pkshetlie, the status of the order is not updated?

Thanks!

[2019-07-22 14:52] khouloudbelguith commented on #14792
@jasonchemama, I couldn't extract your file.
There was an error with this zip file.
Thanks to check & feedback.

[2019-07-22 14:58] pkshetlie commented on #14806
@khouloudbelguith the status is changing but still the same error after

[2019-07-22 15:04] khouloudbelguith commented on #14801
@MathiasReker, I tried with another fresh install PS1.7.6.0, but it is OK.
I followed the same steps as before.
I attached a screen record
https://drive.google.com/file/d/1bvxJWftt_0t_GQOHQwEmQCgsdAu7sTns/view
Thanks to check & feedback.

[2019-07-22 15:08] flyman30 opened #14813 "No bank payment validation after upgrade 1.7.5.2 -> 1.7.6.0"
**Describe the bug**

After the update version 1.7.5.2 -> 1.7.6.0 problems of bank modules appeared.
A beginning of solution has been published: https://github.com/PrestaShop/PrestaShop/issues/14608
But there are still problems!
The E-transaction bank module in my case but also the cmcicpayment module normally connects to the bank but the return of the bank's response does not return to PrestShop,

[2019-07-22 15:19] jasonchemama commented on #14792
here is line 229
![6F8CF78C-0E2F-4D1E-BE20-EF7AF7CE762D](https://user-images.githubusercontent.com/43283123/61644331-7c1c7600-ac72-11e9-9a76-04379cc5c728.jpeg)

[2019-07-22 15:20] matks commented on #12925
I was afraid of this answer :/

There's no way to trick modules into thinking they can still use functions like `addCss()`, `addJs()`, and use former hooks, but actually it calls the new code instead ?

I talked with a PS module developer today, he told me most modules he knows heavily rely on the hook `actionAdminControllerSetMedia`.

I see 2 possibilities then:
1) We stick to the plan and migrat

[2019-07-22 15:21] khouloudbelguith commented on #14792
@jasonchemama, this is your file overrode?

Thanks!

[2019-07-22 15:25] jasonchemama commented on #14792
I do not understand you, what is it?  thanks in advance

[2019-07-22 15:29] MathiasReker commented on #14801
@khouloudbelguith Weird that you can no more reproduce the error. I think you might not have the module ps_facetedsearch activated.

[2019-07-22 15:31] msautral commented on #14722
Hi, yes it does :(

[2019-07-22 15:31] khouloudbelguith commented on #14813
Hi @flyman30,

This issue should be fixed in the PS1.7.6.1.
Your ticket is a duplicate of #14648
So, I close it.
Thanks!

[2019-07-22 15:31] #14813 closed, assigned to nobody

[2019-07-22 15:31] khouloudbelguith commented on #14813
Duplicate of #14648

[2019-07-22 15:32] MathiasReker commented on #14801
Btw. I think that the module store some connections to the old data and that is why resetting the module works. So maybe ps_facetedsearch should use the hook in pscleaner to reset those connections.

[2019-07-22 15:33] khouloudbelguith commented on #14801
@MathiasReker, no, it is enabled.

Thanks!

[2019-07-22 15:35] khouloudbelguith commented on #14792
@jasonchemama, the screenshot provided in your previous comment, is from your override file `Productcontroller.php`?

Thanks!

[2019-07-22 15:35] khouloudbelguith commented on #14722
@msautral, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-22 15:39] vallka commented on #14811
1-Click Upgrade
v4.9.0 - by PrestaShop

------ Original Message ------
From: "khouloudbelguith" <notifications@github.com>
To: "PrestaShop/PrestaShop" <PrestaShop@noreply.github.com>
Cc: "Valentine" <vallka@vallka.com>; "Mention"
<mention@noreply.github.com>
Sent: 22/07/2019 15:47:47
Subject: Re: [PrestaShop/PrestaShop] Cannot update from v.1.7.5.0 to
1.7.6.0 (#14811)

---
This email has been chec

[2019-07-22 15:47] ArteInfoRM commented on #14608
I had the same problem with two migrations from 1.7.5.2 to 1.7.6.0.
![Screenshot_9](https://user-images.githubusercontent.com/41371761/61646080-95401980-aca8-11e9-9e9c-96fc3b2dbd6f.jpg)

[2019-07-22 16:17] jasonchemama commented on #14792
Yes, Thanks

[2019-07-22 16:19] Alvaro237 commented on #14792
Hey!

If we see the first post the error is

So that **override** controller has $quantity_discounts (in my case in line 28), I changed
`private $quantity_discounts;`
to
`protected $quantity_discounts;`

Can you try to do this?

Regards

[2019-07-22 16:31] jlorquin opened #14814 "Error 500 when activating child theme"
Did a clean installation of PS 1.7.6.0. Installed theme, all ok. Then activated child theme and started getting error 500 when entering back office (front office: ok).

Set define('_PS_MODE_DEV_', true);

Now I can access the back office. Error displays:

![Capture](https://user-images.githubusercontent.com/27868281/61647676-2a91dc80-acae-11e9-8e02-ab48c45c987d.PNG)

So I notice a repeated slash t

[2019-07-22 16:48] msautral commented on #14722
Hi, I got the issue in action on a new video, also I add Apache regular log, I do not have any apache error log, PHP logs or Chrome console log.

I miss the debug mode report, sorry.
[Module2.zip](https://github.com/PrestaShop/PrestaShop/files/3418415/Module2.zip)

[2019-07-22 17:08] MKV-Rob commented on #14811
**Hello,**

I am having same issue. I have tried Autoupgrading on different servers with "Presta-friendly" configurations without success - PHP 5.6.24/5.6.40-8/7.3.1.

I've tried with 1-Click upgrade module v4.7.0 and v4.9.0.

With PHP 5.x.x I am getting longer error text but the core of the problem is always the same:
_ps_1760_copy_data_from_currency_to_currency_lang.php(55)_

The shop I am tryin

[2019-07-22 17:54] pollat commented on #11274
If you use Multishop, disable maintenence mode on "each shop" and not on "all shop": go to "shop setting" > "general" > "maintenence section" and switch on every singular shop before disable disable maintenece mode). 

[2019-07-22 18:07] ChineseNorris commented on #14785
Hi,

thank you for reproducing the issue, I'm trying to clear at least the filter but without success, I've tried using another account to get the method for resetting the filter but I get error 405 "Method not allowed".

I need to reset the filter first and then I'll try to find a solution for the bug.

Regards

[2019-07-22 18:32] jasonchemama commented on #14792
I can not find line 28 to change.
![ADD4D19D-9962-4BC1-AC95-E69629D29838](https://user-images.githubusercontent.com/43283123/61655884-6ff1e200-ac8d-11e9-8735-091668ce1571.jpeg)

Regards

[2019-07-22 18:51] banan44 opened #14816 "Main menu module keeps deactivating itself"
From some time I am experiencing problems with modules Main Menu v 2.1.1. It keeps deactivating itself on random occasions. I cannot find the exact situation that causes deactivating. Sometimes it happens after a few hours, sometimes right after activating and refreshing FO twice. I do not know what to do to reproduce this issue. Is there a log of activating/deactivating module to check what happe

[2019-07-22 18:53] Alvaro237 commented on #14792
Line 28 in **/htdocs/xxx.com/override/controllers/front/ProductController.php** remember in folder **override** attribute $quantity_discounts.

Regards

[2019-07-22 18:59] jasonchemama commented on #14792
I do not understand you.  I'm sorry, I'm a beginner.  What do I do with that?

[2019-07-22 19:49] ldarake opened #14817 "Contact form "send" button not working"
**Describe the bug**
In the contact form the "Send" button do not make any action

**To Reproduce**
Steps to reproduce the behavior:
1. Go to page https://ginetom.es/es/contactenos
2. Filling mandatory fields.
3. Click on 'Enviar' button.

**Additional information**
PrestaShop version: 1.7.5.1
PHP version: 7.1.29
Theme: classic_child

Page to register new customer has the same issue.
See in this l

[2019-07-22 19:52] Alvaro237 commented on #14792
Don't worry, go to  /htdocs/xxx.com/override/controllers/front/ProductController.php look for the following line:
`private $quantity_discounts`
and change it to
`protected $quantity_discounts`

[2019-07-22 20:22] Arnaldo405 commented on #14787
Hello miss @khouloudbelguith,

Thank you for your response.
I did install the languages directly after the clean install. Because I see issues in the front office I updated them. I think the problem is that they are not installed in the database, as you can see in the screenshot of Filezilla. In another screenshot you can see that I have the languages installed in PrestaShop and also that they are

[2019-07-23 06:58] sarjon commented on #12925
I think there could be, but I cannot guarantee it 100% percent, we would need to migrate and try to implement that.

It's an option.

Hmmm, it's a very vague idea to "optimize rendering", Twig is fast on it's own, legacy pages are also fast when on Smarty, I don't think there is problem with tools, it's the problem with mixing them, so I don't think we can optimize that so see major difference (if

[2019-07-23 07:02] 123monsite-regis commented on #14648
hi ,

we have same issues with bank modules, the error is :

`stderr:   thrown in public_html/classes/Tools.php on line 801
stderr: #3 {main}
stderr: #2 modules/XXXX/validation.php(123) PaymentModule->validateOrder
stderr: #0 classes/Tools.php(773): ToolsCore::getContextLocale(Object(Context))
stderr: PHP message: PHP Fatal error:  Uncaught Error: Call to a member function get() on null in classes

[2019-07-23 07:06] 123monsite-regis commented on #14648
maybe this is a consequence of : https://github.com/PrestaShop/PrestaShop/pull/12708

[2019-07-23 08:23] matks commented on #14157
Yes, it was introduced in 1.7.5.2 against spam attacks

[2019-07-23 08:28] matks commented on #12925
Can we try with a POC ?

One idea was that currently, if I'm not wrong, we have
- request arrives on Symfony
- Symfony prepares the Response, starts rendering Twig template
- in Twig template we call `get_legacy_layout()` that actually calls legacy framework because it calls a legacy controller
- legacy controller fetches the data and renders the Smarty layout
- `get_legacy_layout()` returns the r

[2019-07-23 08:29] khouloudbelguith commented on #14817
Hi @ldarake,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-23 08:32] samuel-pires commented on #14157
@Progi1984 So we can ad these 4 invalid char in the BO validation as well.

If we let a merchant create a customer with one of these char and later the customer wants to modify account info in the FO he/she will have an error when trying to save the form, saying the name is not correct.