[2019-09-06 10:04] maofree commented on #15432
![111](https://user-images.githubusercontent.com/653230/64419666-ad73c880-d09d-11e9-86f9-bf63de1aff9f.png)
this is a translation file inside a theme bought from Addons
the url inside these files are not of my pc or site's server but of the developer's server

[2019-09-06 10:05] khouloudbelguith commented on #15434
Hi @mrabsinthe,

THanks for your report.
I checked with PS1.7.6.1.
The shipping price and the carrier will change
I attached a screen record
https://drive.google.com/file/d/1gODyg7b8hOY5cKEkP6Jl8z81v6Wv0O-8/view
Thanks to check & feedback.

[2019-09-06 10:06] maofree commented on #15432
I've seen inside app/Resources/translations/ShopThemeCustomeraccount.it-IT.xlf
the translations are ok but in the front office the translation is like the first one and I cannot change it again. Removed all files inside the cache, but nothing
I don't know where is that translation

[2019-09-06 10:15] jkivelae commented on #15004
@pierreloicq Thanks for the PR!

[2019-09-06 10:16] mrabsinthe commented on #15434
Hi @khouloudbelguith ,
can you please try the same with VAT based on Invoice address?

[2019-09-06 10:18] khouloudbelguith commented on #15441
Hi @R0bb12,

So, in your case; in the Merchant Expertise configuration page, ACHIEVEMENTS section, when you select "Type" Orders => order badge not on?

![image](https://user-images.githubusercontent.com/16067358/64420828-06d8f900-d098-11e9-8335-52fd68c2fbb9.png)

Thanks!

[2019-09-06 10:21] khouloudbelguith commented on #15434
@mrabsinthe, it is OK also
https://drive.google.com/file/d/1ckn_isRBYi6lKI4y7QB5cWyL9zy_PxL_/view
Thanks!

[2019-09-06 10:23] mrabsinthe commented on #15434
OK, thank you, I need to dig deeper.

[2019-09-06 10:24] khouloudbelguith commented on #15433
@Prestaworks,

What is the exact configuration did you make before regenerating emails?
- your email theme?
- the theme you want to overwrite?
- Overwrite templates is enabled

Thanks!

[2019-09-06 10:25] khouloudbelguith commented on #15434
@mrabsinthe, thanks!

Waiting for your feedback.

[2019-09-06 10:27] khouloudbelguith commented on #15115
@go-sudo, what is the exact version of the module gamification did you use?
If you try to disable it temporarily => the issue occurs again?

Thanks!

[2019-09-06 10:31] Kristianna1 opened #15442 "Issue after importing categories"
Hello Guys!

I am using Prestashop  1.7.6.1,  recently we have imported categories an subcategories, now I want all categories to be shown in front-end and when I go to the module "Main Menue" there are no categories, even categories which were not imported but created manually. (unfortunately, I cant attached here screenshots).

Can anybody help with the issue!

Thank you very much,  for your hel

[2019-09-06 10:33] khouloudbelguith commented on #15432
@maofree, it could an issue similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/15075?

Thanks to check & feedback.

[2019-09-06 10:39] khouloudbelguith commented on #15442
Hi @Kristianna1,

Thanks for your report.
In the Back office => Main menu configuration => the List of categories are not displayed in the "Available items" section?

![image](https://user-images.githubusercontent.com/16067358/64422034-fbd39800-d09a-11e9-949b-f37cd229ed40.png)

Thanks!

[2019-09-06 10:43] Kristianna1 commented on #15442
Hello, yes exactly!

[2019-09-06 10:51] khouloudbelguith commented on #15442
@Kristianna1, what is the exact version of the main menu module did you use?
![image](https://user-images.githubusercontent.com/16067358/64422736-af895780-d09c-11e9-8a18-d14562e3744c.png)

Thanks!

[2019-09-06 10:53] zodit commented on #15432
Hello, thank you for your explanation, also i have problems with transations (italian, both custom **Theme** and **Modules**) in PS 1.7.6.1. I confirm that my version is fixed, but still has some bugs.
I try to provide all details i can.

1. Theme translations from BO tool do not work properly, i translated over 250 strings, most are saved, but 6 of them are not... they display as missing everytim

[2019-09-06 11:10] Kristianna1 commented on #15442
It is  v2.1.1(

[2019-09-06 11:12] khouloudbelguith commented on #15442
@Kristianna1, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2019-09-06 11:14] ArteInfoRM commented on #15385
Same problem with version 1.7.6.1 (upgrade from 1.7.6.0)
‪CentOS Linux 7.6.1810
Plesk Onyx 17.8.11
PHP 7.2.22 FPM Apache

The web service seems to work anyway
No problem with previous versions of PrestaShop on the same server.

[2019-09-06 11:16] kubiak85 opened #15443 "translation not working in my shop"
Hi everyone,
My shop (Prestashop 1.7.5.2)not loading translation of administrator panel. I download my language pack from (Add / Update language). I set the default language to Czech and I have disabled all other languages. I still don't see Czech translations. Could someone give me folders where there are translations besides /themes/[my layout]/translation/....  ?

[2019-09-06 11:22] khouloudbelguith commented on #15432
@zodit, thanks for your feedback.

When you search for the "back to login" / "Edit" expressions are not displayed?
![image](https://user-images.githubusercontent.com/16067358/64423571-c6c94480-d09e-11e9-849e-a611b9f36807.png)
In my case, are expressions are well displayed
https://drive.google.com/file/d/1S3lv_kVxszyom_dSc0-lqb0q5EwjjEw_/view

Could you please provide me an example of modules to ch

[2019-09-06 11:24] khouloudbelguith commented on #15443
Hi @kubiak85,

the zip files are downloaded in the `folder/translations`, and then they are extracted and the XLF files they contain are exported to `app / Resources / translations`.

Thanks to check & feedback.

[2019-09-06 11:27] kubiak85 commented on #15443
@khouloudbelguith but my shop not loading my choosen language. could you tell me the reason?

[2019-09-06 11:28] Kristianna1 commented on #15442
Is it okay if I provide all the information tomorrow?
Thank you very much for your help.

[2019-09-06 11:28] khouloudbelguith commented on #15443
@kubiak85, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-repor

[2019-09-06 11:30] khouloudbelguith commented on #15442
@Kristianna1, it is OK.
Tomorrow is a week-end.

Thanks!

[2019-09-06 11:34] zodit commented on #15432
Here is my screenshot. You can see 6 missing strings (but not missing when i open the files in app/Resources/translations/it-IT). Also a weird "it-I" > "T" menu item.

![immagine](https://user-images.githubusercontent.com/5260044/64424820-60e2ba00-d0aa-11e9-9a3e-d2bd2e6d1a6e.png)

For the modules i show you. This is BO.

![immagine](https://user-images.githubusercontent.com/5260044/64424984-d8b0e4

[2019-09-06 11:34] Prestaworks commented on #15433
the first two does not really matter. Overwrite templates should be set to yes.
All .html files will then be rewritten, so far so good. But inside the .twigg files for these templates, there are translation strings.
{{ 'Hi {firstname} {lastname},'|trans({}, 'Emails.Body', locale) }}

I want to change "Hi" to "Hejsan". These Emails.Body is not present in the translation tools in the BO.

[2019-09-06 11:39] khouloudbelguith commented on #15433
@Prestaworks,

With this PR: PR: #14809 we will Add translation provider to allow modifying body contents, add a form in Email Theme page to access this edition

Thanks!

[2019-09-06 11:45] khouloudbelguith commented on #15432
@zodit, you are trying to translate a custom theme? isn't?
The translations in your thme should be like this
![image](https://user-images.githubusercontent.com/16067358/64425517-d39c6700-d0a3-11e9-8353-713a980912c2.png)

About the module, did you tried to check the module translation in your theme translation?

Thanks!

[2019-09-06 11:47] R0bb12 commented on #15441
Yes, all others are good but not Orders
[image: image.png]

Le ven. 6 sept. 2019 à 12:18, khouloudbelguith <notifications@github.com> a
écrit :

[2019-09-06 11:53] khouloudbelguith commented on #15441
@R0bb12, in my case, I did not manage to reproduce the issue with PS1.7.6.1 & gamification module version 2.3.1.
https://drive.google.com/file/d/19AvrgjVry40gbqRzNL99idmAxv8UwwHy/view
In your case, the PREFIX your database is not `ps`?

[2019-09-06 11:57] R0bb12 commented on #15441
On my database:
`SELECT COUNT(*)   FROM ps_orders WHERE reference NOT IN (XKBKNABJK",   "OHSATSERP", "FFATNOMMJ", "UOYEVOLI",   "KHWLILZLL")"`

All other queries use PREFIX before the table name

[2019-09-06 12:16] zodit commented on #15432
Yes, custom theme "modez" and custom module "roy levibox".
Strings in my theme are like this...

![immagine](https://user-images.githubusercontent.com/5260044/64426319-870a5900-d0ae-11e9-9ad7-a18a765ecca6.png)

BO display that "Back to login" is missing, but it is not, as we can see in **app/Resources/translations/it-IT**, here the screenshot.

![immagine](https://user-images.githubusercontent.com

[2019-09-06 12:16] kubiak85 commented on #15443
@khouloudbelguith Can you tell me why when I click save the translation it still doesn't work? and old unchanged is displayed?

[2019-09-06 12:25] kubiak85 commented on #15443
@khouloudbelguith https://drive.google.com/file/d/1qu15A1gpB3qx38Yw_07ziPmglYSLjL6N/view?usp=sharing

[2019-09-06 12:26] guirou62 opened #15444 "Reduce client view in Customer Page 1/2"
**Is your feature request related to a problem? Please describe.**
Yes, it is. When I look a customer profile, which is a very old and very good customer, my page is really high !!
If we have this important list + some modules, this page become very very slow.
=> I have many customers in this case

**Describe the solution you'd like**
If it's possible to reduce all these informations such as see o

[2019-09-06 12:27] kubiak85 commented on #15443
Can you name which php files are adapted for this or apply some solution to this record. JavaScriptci console shows nothing

[2019-09-06 12:33] zodit commented on #15432
I found the trick finally.
BO translation for this module is ignored. It is working like old school, with MD5 strings in the module folder.
I added manually the "it.php" file and the specific string.

![immagine](https://user-images.githubusercontent.com/5260044/64427743-3432a080-d0b2-11e9-9ccc-d1aa2d7e400a.png)

This is the result in FO.

![immagine](https://user-images.githubusercontent.com/5260

[2019-09-06 13:21] matks opened #15445 "Warning when I use cache clear command"
**Describe the bug**
I get a warning when I use cache clear command

**To Reproduce**
Run `php ./bin/console cache:clear`
Get warning `Warning: Use of undefined constant _DB_SERVER_ - assumed '_DB_SERVER_' (this will throw an Error in a future version of PHP)`
alias ps_install='/Applications/MAMP/bin/php/php7.2.10/bin/php composer.phar install'

**Additional information**
PrestaShop version: devel

[2019-09-06 13:26] khouloudbelguith commented on #15445
Hi @matks,

Is it the same issue reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/15324?

Thanks!

[2019-09-06 13:41] khouloudbelguith commented on #15441
@R0bb12, thanks!
I manage to reproduce the issue with PS1.7.6.1 when installing a shop with PREFIX not `ps_`.
![image](https://user-images.githubusercontent.com/16067358/64432445-6d6c1000-d0b4-11e9-9d53-a1bbf9898dda.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-06 13:43] khouloudbelguith commented on #15444
Hi @guirou62,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-09-06 14:00] matks commented on #15445
Yes, this is a duplicate 👍

[2019-09-06 14:00] #15445 closed, assigned to nobody

[2019-09-06 14:41] khouloudbelguith commented on #15432
@zodit, Here's a PR: https://github.com/PrestaShop/PrestaShop/pull/14609 to fix this issue "Cannot translate existing module wordings for a specific theme" => it is your module translation issue.
@zodit, about the translation of your theme, it is a theme issue, you need to contact the theme author about this problem.
for example
I have this in my theme `<th>{l s='Date' d='Shop.Theme.Global}</th>`

[2019-09-06 14:41] Amulliez opened #15449 "Product Comments"
Hi,

In the Product Comments module, you can't show the note of an unrated item. And when we get there, there is always a star while no note is present.
What is the file to modify to have no star?

I work with Prestashop 1.7.6.1

Best regards.

[2019-09-06 14:47] sireris opened #15450 "Uncaught Exception: Unable to load template 'file:catalog/_partials/miniatures/product.tpl'"
**Describe the bug**
Hi, i get this error tha i cant resolve someone can help me?
Uncaught Exception: Unable to load template 'file:catalog/_partials/miniatures/product.tpl'
Uncaught PHP Exception SmartyException: "Unable to load template 'file:catalog/_partials/miniatures/product.tpl'" at /web/htdocs/www.dottsalute.it/home/vendor/smarty/smarty/libs/sysplugins/smarty_template_compiled.php line 96

[2019-09-06 14:50] khouloudbelguith commented on #15443
@kubiak85, I did not manage to reproduce the issue with PS1.7.6.1/PS1.7.5.2 & a custom theme.
I attached a screen record
https://drive.google.com/file/d/1nqmPxT5MQUhbrRuLRpUgdblG9proNl3B/view
Thanks to check & feedback.

[2019-09-06 14:57] khouloudbelguith commented on #15449
Hi @Amulliez,

If a comment is not approved => there is not rate for a product.
I attached a screen record
https://drive.google.com/file/d/1a7Lz5cNx3BmDPt_F-4qZmBvbm6-bwqz-/view
Thanks to check & feedback

[2019-09-06 14:58] khouloudbelguith commented on #15450
Hi @sireris,

Does this issue occur after the custom modifications that you made?

Thanks!

[2019-09-06 15:00] sireris commented on #15450
No. The modification that i made was when i install prestashop and from the it works fine. i install some new template but i didnt use them. and now i deleted from ftp.

[2019-09-06 15:02] zodit commented on #15432
Thank you khouloudbelguith, i will check for errors in theme. About the module i managed to translate it.

[2019-09-06 15:04] khouloudbelguith commented on #15432
@zodit, you are welcome!

Thanks!

[2019-09-06 15:05] Amulliez commented on #15449
Hi @khouloudbelguith

I attached a screenshot of my home page.
I want to have no star with (0 comments)
![Capture d'écra,](https://user-images.githubusercontent.com/47451841/64438433-62bb7600-d0c8-11e9-8028-1e6c9ba66fed.jpg)

Best regards.

[2019-09-06 15:06] khouloudbelguith commented on #15450
@sireris, what is the exact page from the BO, this exception is displayed?

Thanks!

[2019-09-06 15:07] sireris commented on #15450
on login page
https://www.dottsalute.it/admin01/index.php?controller=AdminDashboard&token=fa6d4a148dd701c8e71149e92dbb0f06
when i put the credentials i receive the errro 500

[2019-09-06 15:08] khouloudbelguith commented on #15449
@Amulliez, this screenshot is from your product list page, if you click on the product to display the product page => the comments are not displayed?

Thanks!

[2019-09-06 15:08] #15172 closed, assigned to LouiseBonnard

[2019-09-06 15:08] sireris commented on #15450
I put on the debug mode now

[2019-09-06 15:12] khouloudbelguith commented on #15450
@sireris, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-09-06 15:15] Amulliez commented on #15449
This screenshot is from my home page and not the product list page. I use a flagship product module on the home page.

Normally the product "Tunique médicale femme Timme" should have no star and currently there is one. I want to have stars empty.

Thanks.

[2019-09-06 15:16] sireris commented on #15450
done

[2019-09-06 15:19] khouloudbelguith commented on #15449
@Amulliez, if you navigate to the product page => there is no comment displayed?
Just click on the product => you will be redirected to the product page.
Thanks!

[2019-09-06 15:20] khouloudbelguith commented on #15450
@sireris, dev & prod files.
Thanks!

[2019-09-06 15:30] sireris commented on #15450
i delete everythin inside the folders but no change.

[2019-09-06 15:33] Peter4661 opened #15451 "slow backoffice TypeaheadProductCollectionType.php"
we experienced slow backoffice when editing product with options.

In debug mode:

in src/PrestaShopBundle/Form/Admin/Type/TypeaheadProductCollectionType.php (line 96)

                        default:
                            $product = $this->productAdapter->getProduct($id);
                            $collection[] = [
                                'id' => $id,

[2019-09-06 15:36] khouloudbelguith commented on #15450
@sireris, you are using your child theme or your theme by default Classic?
Thanks!

[2019-09-06 15:39] khouloudbelguith commented on #15451
Hi @Peter4661,

Is it is the same reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9809?
Do you try to edit a product with a large number of combinations?

Thanks!

[2019-09-06 15:40] sireris commented on #15450
i'm using child_classic. these are the changes thai did with child theme
![child-classic](https://user-images.githubusercontent.com/41742637/64440998-4cfc7f80-d0cd-11e9-928d-5dd56fbf9cdd.png)

[2019-09-06 15:42] khouloudbelguith commented on #15450
@sireris, could you please try to switch to the classic theme & check the issue if it occurs again?
Thanks!

[2019-09-06 15:43] sireris commented on #15450
but i cannot enter to backoffice. can i do on ftp?

[2019-09-06 15:48] Peter4661 commented on #15451
Yes, the item has 48 combinations.

[2019-09-06 15:49] khouloudbelguith commented on #15450
@sireris, in your Database, table ps_shop
![image](https://user-images.githubusercontent.com/16067358/64441673-37378c00-d0c6-11e9-8fa0-63c9eaac41be.png)

Thanks!

[2019-09-06 15:57] khouloudbelguith commented on #15451
@Peter4661, this issue will be fixed in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9809
You can follow this ticket also for more details about all issues that will be fixed related to a product with combinations: https://github.com/PrestaShop/PrestaShop/issues/14773
It should be fixed in the PS1.7.7.

Thanks!

[2019-09-06 15:57] #15451 closed, assigned to nobody

[2019-09-06 15:57] khouloudbelguith commented on #15451
Duplicate of #9809

[2019-09-06 15:58] sireris commented on #15450
Done but nothing changes. You're so nice that you are helping me
![classic-theme](https://user-images.githubusercontent.com/41742637/64442370-f2185780-d0cf-11e9-9f14-c63ee5ed19b9.png)
thanks

[2019-09-06 16:10] khouloudbelguith commented on #15450
@sireris, Could you please try to clear cache manually & Clear cache from your browser.

Thanks!

[2019-09-06 16:11] khouloudbelguith commented on #15450
@sireris, It could also be a server permission issue.

﻿Try 777 on your files to test if this is the case then revert to safer permissions.

Thanks!

[2019-09-06 16:14] sireris commented on #15450
Ok. The permissions do I have do change all files in the server? Or only the folder of themes?

[2019-09-06 16:24] khouloudbelguith commented on #15450
@sireris, all files on your server.
Thanks!

[2019-09-06 16:27] khouloudbelguith commented on #15385
Ping @PrestaShop/prestashop-core-developers what do you think?
In my case, it is OK, the warning is not displayed with PS1.7.5.2 & PS1.7.6.1, checked with two different servers.

Thanks!

[2019-09-06 17:39] ArteInfoRM commented on #15385
The web service works.
I believe the warning is wrong.
auth_basic_module is correctly loaded and works.

You can replicate the problem on any server with Plesk CentOS Linux 7.6.1810 and Plesk Onyx 17.8.11

[2019-09-06 17:40] Allthejam opened #15453 "Product ID Number"
I have a small issue with my catalog, it's in the product ID numbers, I have deleted a bulk of products I am no longer doing and was wondering if there's a way to reset the ID Numbers so the run in order because as of now I have large gaps in my catalog ID's

It's not causing any issues with my site but it's going to cause issues in my management over time as I remove and replace items so please d

[2019-09-06 18:08] malcek opened #15454 "Translation notice under newsletter signup"
**Describe the bug**
Translation somehow doesn't show under newsletter signup, even this word has translation. This I notice on Slovenian language. tested on fresh install with classic theme and warehouse theme.

**Screenshots**
adding screenshop from FO with slovenian language and in BO when everything is translated.

**Additional information**
PrestaShop version: 1.7.5.2
PHP version: 7.0.32
![ne

[2019-09-06 19:20] Mamar25 opened #15455 "Blanck page BO after migration PS 1.7.6"
Hello,

I can not access the BO after the migration of my site (I am under PS 1.7.6), a blank page is displayed. However, the front office is normally displayed.

I can not solve the problem. I emptied the caches in dev and prod in var / cache and on the browser.

I passed define ('_PS_MODE_DEV_', false); from /config/defines.inc.php to true:

The following messages are displayed:

RuntimeExceptio

[2019-09-06 19:40] msaustral commented on #15391
Hi ok is there a module do redirects the user to a store depending on his city?

[2019-09-06 21:24] Maofree opened #15456 "Error during upgrade from 1.7.4.4 to 1.7.6.1"
Hi
I have a problem with a site upgraded some months ago from 1.6.x to 1.7.4.4, now I cannot upgrade it to the successive versions, each time I get the same error

Error during database upgrade. You may need to restore your database.
Download of the language pack it failed. Pacchetto lingua non disponibile. http://i18n.prestashop.com/translations/1.7.6.1/it-IT/it-IT.zip

but from that alert all st

[2019-09-06 21:33] maofree commented on #15456
however it seems to have been updated correctly, without errors
all seems ok in back-office and front-office

[2019-09-06 22:35] sireris commented on #15450
Hi changing permission dosen't work. i change fro 755 to 777 and nothing. i'm changing in 755 and see but i'm affraid it will not work. I can do a zero installation but the problem are all the products.

[2019-09-07 02:40] dtwfung commented on #15348
In PS 1.7.5.1, when I enabled Marchandise Returns.
There are TWO refund buttons, "Standard Refund" & "Partial Refund".
When I click  "Partial Refund", It allows me to enter the refund amount of product and shipping cost...
However, in "Standard Refund", it ONLY allows me to enter refund amount of product but NOT the shipping cost. Will it refund the shipping cost BY DEFAULT ?!
See attached screen

[2019-09-07 06:51] nrcjea001 commented on #14908
Hello

Although 1.7.6.1 cleared up this issue with my other shops, my shop morganic.mu remains unresolved when attempting to access suppliers.

![Untitled](https://user-images.githubusercontent.com/26452178/64470979-9d6eee00-d15c-11e9-8bb0-23b225d096d2.png)

I also found an exception while trying to add a new currency. Please see pdf attached.

[exception.pdf](https://github.com/PrestaShop/PrestaS

[2019-09-07 06:58] nrcjea001 commented on #14908
![Untitled](https://user-images.githubusercontent.com/26452178/64471155-72859980-d15e-11e9-9373-78599caa2b39.png)

![Untitled2](https://user-images.githubusercontent.com/26452178/64471156-787b7a80-d15e-11e9-8958-4f14a481ca48.png)

[2019-09-07 07:58] #15454 closed, assigned to nobody

[2019-09-07 07:59] malcek commented on #15454
It was under newsletter module settings, not in translation section.

[2019-09-07 09:52] vnt commented on #12933
+1
This is a great idea.
Are there any news?

[2019-09-07 10:43] LedCloud opened #15458 "The free delivery voucher is neither shown nor applied on Delivery step"
### Describe the bug
The free delivery voucher is neither shown nor applied on Delivery step

### Expected behavoir
the selected carrier should be shown as free and the discound should be applied to the cart.

### Steps to reproduce
1. BO > Create two or more carriers.
2. Create a voucher with free shipping option and select one of those carriers in the voucher settings. So this voucher should aff

[2019-09-07 11:29] LedCloud opened #15460 "Free delivery voucher is shown as zero percent in the cart"
Prestashop 1.7.6.1

BO
Create voucher with free delivery.

FO
Create an order, proccess it. When the voucher is beeing applied you will see in the cart line -0.00% Instead of shipping value.

I created a pull request https://github.com/PrestaShop/PrestaShop/pull/15542

[2019-09-07 12:33] dreamtheme opened #15461 "Faceted search price filter slider does not appear after upgrade from 1.7.5.2 to 1.7.6.1"
**Describe the bug**
Faceted search price slider range does not appear after upgrade from 1.7.5.2 to 1.7.6.1

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade from 1.7.5.2 to 1.7.6.1
2. Upgrade the faced search module to version 3.2.1 (the whole module does not appear at this step)
3. Edit the template (un-thick and re-thick random category - save) the module appears but no price filte

[2019-09-07 12:43] ninefingersodnd commented on #15385
This is the answer!

[2019-09-07 12:52] dreamtheme opened #15462 "PS 1.7.6.1 product redirect error"
**Describe the bug**
After upgrade from 1.7.5.2 to 1.7.6.1 when entering an product URL without language prefix in the URL like /en/ or /fr/ for example - https:/mydomain.com/ps17/3-clothes should redirect to https:/mydomain.com/ps17/en/3-clothes but it does not. It works before the installation is upgraded.

**To Reproduce**
Steps to reproduce the behavior:
1. Install PS 1.7.5.2 and install addit

[2019-09-07 13:02] R0bb12 commented on #15441
Thanks, I didn't find the source code of sql queries for gamification so I can't send a pull request.

[2019-09-07 17:09] MathiasReker opened #15463 "Discount badge is missing on products with attribute"
**Describe the bug**
Discount label is missing on products with attributes.

**To Reproduce**
Steps to reproduce the behavior:
1. BO -> Add product with attributes. Add discounts for eg. 10 pcs.
2. FO -> Add 5 products per attribute.  Lets say you have 3 attributes, then you should have 15 products in cart. As the discount is for 10+ products you get discount on all 15 products. But the label with

[2019-09-07 18:59] CaseOnline commented on #12241
Sorry thats not correct code to make ps 1.7.6 be like 1.6 and show all pictures.

[2019-09-07 20:21] fredo85 commented on #12241
it works, you can copy code to template themes/classic/templates/catalog/_partials/miniatures/product.tpl and to {block name='product_thumbnail'}

[2019-09-07 21:51] photinia73 opened #15464 "The feedback form don`t work"
**Describe the bug**
There is the form of feedback to webmaster or tech support in the shop. It configure in the Settings->Contacts
This form doesn`t work (not send the letters)
![image](https://user-images.githubusercontent.com/50954519/64480562-9256a500-d1d2-11e9-822a-a043f3cc3a0a.png)

The error is When you send an error has occurred. Try again.
The letters with orders are come OK

PS 1.7.5.2

[2019-09-07 22:34] J023PH opened #15465 "ps 1.7.6.1 nginx admin backoffice domain/admin/index.php/ issues not found anything after index.php"
**Describe the bug**
Hello I have a issue I installed prestashop 1.7.6.1 on nginx and everything seems to work fine except when I went into the back office and tried to enter section "international" like localization or taxes or translations it will take me to the page not found on nginx so im not sure what the issue is being caused from I setup nginx config

https://domain.com/admin/index.php/imp

[2019-09-08 04:14] go-sudo commented on #15115
Hello @khouloudbelguith

I disabled and I removed the prod folder it but the issue occurs

https://www.youtube.com/watch?v=BiXX38d1RkI&feature=youtu.be

Regards

[2019-09-08 12:29] musaffar-patel opened #15466 "url parameters no longer accessible in backOfficeHeader hook"
Hi

Seems to be quite a serious issue which has appeared in Prestashop 1.7.6.0, the url parameters are no longer available in the hook backOfficeHeader.  These were available prior to 1.7.6.0 (using $_GET or Tools::getValue())

Example code:

public function hookBackOfficeHeader($params)
{
    var_dump($_GET)
}

The above returns an empty array

public function hookBackOfficeHeader($params)
{

[2019-09-08 20:12] TemKaSD opened #15467 "Remove fields from the registration form"
Hello, how to remove some fields from the registration form?

[2019-09-08 21:34] johanmeer opened #15468 "The email is already used, please choose another one or sign in "
Hi, in previous versions i had a override for this, since 1.7.6 i receive this error when i checkout as guest and there is already an account for this e-mail adress:

The email is already used, please choose another one or sign in 

Customers will go away if they won't do a password reset.

Site is running on 1.7.6 with Php 7.2.22

I saw some other reporting about this problem but no sollutions.

[2019-09-08 21:36] pppplus commented on #13395
In PS 1.7.6.1 always the same problems.

[2019-09-09 04:03] dineshbadrukhiya commented on #12241
Are you sure your code suggestion can show all the product thumbnails on product page same as in PrestaShop 1.6?

[2019-09-09 05:29] sotirisa opened #15469 "Emails wrong text"
**Describe the bug**
Hi, after translation on emails I get emails that you can not read. I don't know what is the reason for this. Every email I get is this way. This happened right after translations.

**Steps to reproduce**

1. with Greek language / or we add some special characters in the test message
![image](https://user-images.githubusercontent.com/16067358/64534910-41e46200-d30e-11e9-9dde-6

[2019-09-09 06:57] Amulliez commented on #15449
Hi @khouloudbelguith

If I navigate to the product page, there are no comment displayed.

Thanks.

[2019-09-09 07:48] khouloudbelguith commented on #15026
Hi @savoy6aus,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-09 07:48] #15026 closed, assigned to nobody

[2019-09-09 07:49] khouloudbelguith commented on #14957
Hi @yannicka,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-09 07:49] #14957 closed, assigned to nobody

[2019-09-09 07:50] khouloudbelguith commented on #14882
Hi @donadiov,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-09 07:50] #14882 closed, assigned to nobody

[2019-09-09 08:06] khouloudbelguith commented on #15455
Hi @Mamar25,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - server setup and configuration
 - PrestaShop version (source)
 - Intl is installed & enabled on your server
 - Could you please try to rename the `autoupgrade` folder to `autoupgrade_old` into the path `/Project_Folder/modules/`
Don't you know how to get this informatio

[2019-09-09 08:07] sireris commented on #15450
Hi i found the problem i think but i didn't resolve it. I delete in modules ps_specials and backoffice turn on but when i go to themes and click "homepage configuration" it givrs me the same problem and create the folder "ps_specials" again. Can someone have the same problem.

[2019-09-09 08:21] matthieu-rolland commented on #12170
To sum up:

It is normal that when we edit an address that has already been used in a completed order, it creates another entry in the database.

What we want to do here is to keep the backoffice from being able to link an invoice that has already been sent to another address. An invoice's address should always be the same once it has been sent to the customer.

[2019-09-09 08:32] khouloudbelguith commented on #15453
Hi @Allthejam,

I don't think that it is a good idea to reset the auto-increment primary key indexes in your table as it can cause many problems.

The database doesn't really care about sequential values.

Primary autoincrement keys in the database are used to uniquely identify a given row and shouldn't be given any business meaning. So leave the primary key as is. If you really need the sequencia

[2019-09-09 08:34] Uff182 commented on #12170
Hi, it is not normal though that, if you edit an order which is (for example) in a status like "Awaiting payment with bank transfer", the website creates another address instead of modifying the current one I think.
In case the customer placed more than one order and the current address can't be modified because there are previous orders in completed status, instead, it would be useful to have a h

[2019-09-09 08:36] khouloudbelguith commented on #15460
Hi @LedCloud,

We are aware of the issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9702
So, I close it.
Thanks!

[2019-09-09 08:36] #15460 closed, assigned to nobody

[2019-09-09 08:36] khouloudbelguith commented on #15460
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9702

[2019-09-09 08:38] khouloudbelguith commented on #9702
Hi,

Another PR: https://github.com/PrestaShop/PrestaShop/pull/15459 created by @LedCloud.

Thanks!

[2019-09-09 08:43] khouloudbelguith commented on #15464
Hi @photinia73,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9566
So, I close it.
Thanks!

[2019-09-09 08:43] #15464 closed, assigned to nobody

[2019-09-09 08:43] khouloudbelguith commented on #15464
Duplicate of #9566

[2019-09-09 08:50] Allthejam commented on #15453
Ok thank you for your advice, I will leave it alone...

[2019-09-09 08:50] #15453 closed, assigned to nobody

[2019-09-09 08:55] matthieu-rolland commented on #12170
Thank you for your suggestion @Uff182, I ping the pms for their input about this.

@colinegin, what do you think?

(In the mean time I'll talk about your hook suggestion with other core team developers)

[2019-09-09 09:10] khouloudbelguith commented on #15468
Hi @johanmeer,

Could you please confirm these steps to reproduce your issue:
1. You have an old customer registered with an email demo@prestashop.com (for example)
2. This customer try to sign in as a guest with the same email demo@prestashop.com
3. You have an error "The email is already used"?

Thanks!

[2019-09-09 09:12] khouloudbelguith commented on #15467
Hi @TemKaSD,

In your BO => Shop Parameters => Customer Settings => Customers Tab
You can disable the `Ask for birth date` & the `Enable partner offers` options.
![image](https://user-images.githubusercontent.com/16067358/64518597-5ca4df80-d2ea-11e9-9023-823487a21647.png)

Thanks to check & feedback

[2019-09-09 09:42] khouloudbelguith commented on #15463
Hi @MathiasReker,

Thanks for your report.
Yes, with PS1.6.1.24, if the quantity of products with different combinations is > = From (quantity) condition => the discount is applied correctlu in the FO.
ps1.6 => BO
![image](https://user-images.githubusercontent.com/16067358/64520495-32552100-d2ee-11e9-8316-3b9e29b16b91.png)
PS1.6 => FO
![image](https://user-images.githubusercontent.com/16067358/645

[2019-09-09 09:45] icemansparks commented on #15210
I can't reproduce the steps in the video - possibly this has something to do with the template used in the project.
We now created a workaround for this specific template until we can fully align it with the behaviour displayed in your video. Thanks for checking and responding :)

[2019-09-09 09:50] pierreloicq commented on #15331
Here is the topic of interest :
https://github.com/PrestaShop/PrestaShop/issues/15268

[2019-09-09 09:50] pierreloicq commented on #15133
Here is the topic of interest :
https://github.com/PrestaShop/PrestaShop/issues/15268

[2019-09-09 09:53] PrestaShark commented on #14135
Im using very cropped PrestaShop as "PrestaCMS" for electronics manufacturer.
We have a lot of products and list of every attachment looks bad.

![list](https://user-images.githubusercontent.com/8243273/64521488-5e759f80-d2f8-11e9-84fd-218712f6aa0f.jpg)

1.6 approach was much better.
With addition of language selection will be perfect.

Keep a good work guys! :)

[2019-09-09 10:11] TemKaSD commented on #15467
Me need gender

[2019-09-09 10:11] khouloudbelguith commented on #15466
Hi @musaffar-patel,

I did not manage to reproduce the issue with PS1.7.6.1 & the ps_faviconnotificationbo module which is using the hook BackOfficeHeader.
![image](https://user-images.githubusercontent.com/16067358/64522690-78ac7f00-d2f2-11e9-8aee-b4d1827f7225.png)

I have this response after adding `var_dump($params)`

[code]
Thanks to check & feedback.

[2019-09-09 10:24] LedCloud commented on #9702
I think that there is a mess in the options for the voucher. The voucher can be made at the same time for 1) free delivery, 2) discount value or percent, 3) gift.

Maybe it would be better to create a voucher for only one option of those? It will be simpler to display and describe it to the customer, I think.

[2019-09-09 10:28] khouloudbelguith commented on #15462
Hi @dreamtheme,

I did not manage to reproduce the issue with PS1.7.6.1 fresh install & with PS1.7.6.1 after an upgrade from PS1.7.5.2 using the 1-click upgrade v4.9.0.
I attached a screen record
[redirection URL.webm.zip](https://github.com/PrestaShop/PrestaShop/files/3589974/redirection.URL.webm.zip)
Thanks to check & feedback

[2019-09-09 10:29] musaffar-patel commented on #15466
Hi

Your test is correct.  As described in the original message, there is no longer anyway to access the $_GET (url parameters) in the backOfficeHeader hook.

Prior to Prestashop 1.7.6 (in Prestashop 1.7.5 for example) in the hook backOfficeHeader you couild access the $_GET variables.  Eg:

public function hookBackOfficeHeader($params)
{
var_dump($_GET)
}

But in Prestashop 1.7.6 url parameters a

[2019-09-09 10:33] TaccCZ opened #15471 "Customer search - admin new order not work"
**Describe the bug**
In admin > orders > new order > when search customer, presta gives error 500:
/index.php/sell/customers/search?_token=4cdWeG5A_3UgEEu0b5mT8vjQgIe4CWt8Lc9r-4DyXhE&ajax=1&customer_search=xxxx

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin > Orders'
2. Click on 'New order'
3. See error

**Screenshots**
![customer-search-01](https://user-images.githubuserconten

[2019-09-09 10:38] khouloudbelguith commented on #15461
Hi @dreamtheme,

I did not manage to reproduce the issue with PS1.7.6.1 after upgrade from PS1.7.5.2 using the 1-click upgrade v4.9.0 & the ps_facetedsearch v3.2.1 after an upgrade from v3.0.6.
I attached a screen record
https://drive.google.com/file/d/1pgoGdpjbcxSUFzKu3q2DA2r_gSMchRX7/view
Thanks to check & feedback.

[2019-09-09 10:41] photinia73 commented on #15464
I find this night such desition
} elseif (
            // $url !== ''
            empty($serverToken)
            // || $clientToken !== $serverToken
            // || $clientTokenTTL < time()
        ) {﻿

BUT. If everyone know that the version 4.1.1 does not work, why nobody decide this problem? Where is update with fixed error?

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено:

[2019-09-09 10:42] khouloudbelguith commented on #15471
Hi @TaccCZ,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1FRObfSUdUzlqQtOowVg_E65JAKr9igeZ/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error l

[2019-09-09 11:06] MathiasReker commented on #15463
Thanks. The discount is already applied to the price so the discount label should be applied too. :)

[2019-09-09 11:08] khouloudbelguith commented on #15456
Hi @maofree,

I did not manage to reproduce the issue with PS1.7.6.1 after an upgrade from PS1.7.4.4 using the 1-click upgrade v4.9.0.
I attached a screen record
https://drive.google.com/file/d/1mrsLaZgBRvF5pCtnR1qRNv83560jdCES/view
Thanks to check & feedback.

[2019-09-09 11:16] khouloudbelguith commented on #15463
@MathiasReker, thanks!
I added this issue to our bug roadmap.

Thanks!

[2019-09-09 11:20] khouloudbelguith commented on #15469
Hi @sotirisa,

I did not manage to reproduce the issue with PS1.7.6.1.
It is OK & the email is well displayed after the translation.
![image](https://user-images.githubusercontent.com/16067358/64526749-050f6f80-d2fc-11e9-9d96-76c6c6cbca91.png)

Could you please provide the exact steps that you have done to reproduce the issue.
What is the exact type of this email?  order_conf, ..?

Thanks!

[2019-09-09 11:25] khouloudbelguith commented on #15465
Hi @J023PH,

First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

In my case, I did

[2019-09-09 11:33] ghost opened #15473 "Bug Newsletter v2.5.0"
**Describe the bug**
Newsletter module does not regist mails.

**To Reproduce**
When try to register a mail in the newsletter text box and click on subscribe (and press enter key), the web refreshes and does not register the mail into de database (if I go to the back office and check is worked, the mail doesn't appear).
When the key has been pressed and the page auto refresh (an error) appears in

[2019-09-09 11:41] khouloudbelguith commented on #15473
Hi @pablo-gnzlz-escribano,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15425
So, I close it.
Thanks!

[2019-09-09 11:41] #15473 closed, assigned to nobody

[2019-09-09 11:41] khouloudbelguith commented on #15473
Duplicate of #15425

[2019-09-09 11:43] khouloudbelguith commented on #15464
@photinia73, this issue is randomly reproduced & it is added to our bug roadmap.

Thanks for your understanding!

[2019-09-09 11:45] PrestaShark commented on #11155
Noticed same issue. Migrated website loose whole translations.
![Bez-nazwy-1](https://user-images.githubusercontent.com/8243273/64528162-1494b580-d308-11e9-80b5-224577dc687f.jpg)

[2019-09-09 11:46] LedCloud commented on #15458
Here are the pictures to explain it more clear.

on 1.7.6.1 you will see the list of carrier like that. First two carriers selected in the voucher to be free.
![free_shipping_voucher1](https://user-images.githubusercontent.com/37952504/64527775-def7c880-d317-11e9-8f45-9d4044a6080d.png)
The cart looks like that
![free_sh_3](https://user-images.githubusercontent.com/37952504/64527994-6fcea400-d318-1

[2019-09-09 11:54] dreamtheme commented on #15461
@khouloudbelguith You guys hot fixed the module today without changing the module numbers?
Just compared the same module 3.2.1 from yesterday to today.
![image](https://user-images.githubusercontent.com/17176009/64528239-a2749e80-d310-11e9-850f-9a65f46f2cc0.png)

[2019-09-09 12:11] nexustotalsolutions commented on #15298
Any update on this issue please?

[2019-09-09 12:14] photinia73 commented on #15464
Ok, thank you

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: понедельник, 9 сентября 2019 г. в 14:43
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] The feedback form don`t work (#15464)

@photinia73, this issue is randomly reproduced & it is added to our bug roadmap.
Thanks for your understanding!
—
You are receiving this because you w

[2019-09-09 12:29] colinegin opened #15474 "Allow modifying email body contents"
This issue follows the work which has been done on the transactional email management system in PrestaShop. For more information, follow this EPIC : https://github.com/PrestaShop/PrestaShop/issues/11687

This issue aims at adding :
- translation provider to allow modifying body contents
- a form in Email Theme page to access this edition

Follow this PR : https://github.com/PrestaShop/PrestaShop/p

[2019-09-09 12:32] khouloudbelguith commented on #15458
Hi @LedCloud,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
I’ll add this to the debug roadmap.
Thanks!
Thanks for the PR.

[2019-09-09 12:33] TaccCZ commented on #15471
Hi @khouloudbelguith ,

- server setup and configuration
[customer-search-server-apache.txt](https://github.com/PrestaShop/PrestaShop/files/3590445/customer-search-server-apache.txt)
[customer-search-server-php.txt](https://github.com/PrestaShop/PrestaShop/files/3590446/customer-search-server-php.txt)

- PrestaShop version (source)
![customer-search-version-presta](https://user-images.githubuserco

[2019-09-09 12:35] sotirisa commented on #15469
Hi,

After the translations in greek I try to make an account the mail that I received was like that.

This text that I send you is from test email. I go to Advanced parameter->Email->Test your email configuration. I put my email and I received this:

![image](https://user-images.githubusercontent.com/54579601/64531004-22056c00-d317-11e9-9371-c9870b7a358a.png)

All the emails that I test like new

[2019-09-09 12:35] khouloudbelguith commented on #15458
Related to https://github.com/PrestaShop/PrestaShop/issues/10739

[2019-09-09 12:46] khouloudbelguith commented on #15466
@musaffar-patel, I tried with `var_dump($_GET);` adding the `;` => it is well displayed
![image](https://user-images.githubusercontent.com/16067358/64531789-2bd3a300-d308-11e9-8298-9ece1bf26de6.png)

Thanks!

[2019-09-09 12:47] PierreRambaud commented on #15461
We didn't touch anything on the module.
It only depends if you download it from the addons marketplace / fresh install, or if you get it from ps_facetedsearch repository.

[2019-09-09 12:51] khouloudbelguith commented on #15461
@dreamtheme, last version of the ps_facetedsearch is v2.3.1, it is released 10 days ago.
https://github.com/PrestaShop/ps_facetedsearch/releases

[2019-09-09 12:59] dreamtheme commented on #15461
@khouloudbelguith Yes i have checked that, and you mean 3.2.1 :) So where is the difference coming from then? not proper module upgrade?, because i can 100% reproduce it on some installations, but not on all.

[2019-09-09 13:04] khouloudbelguith commented on #15471
@TaccCZ, what is the exact language of your employee did you use?
Intl is installed & enabled on your server?
Is the collation of the database utf8_general_ci?
Thanks!

[2019-09-09 13:07] khouloudbelguith commented on #15461
@dreamtheme, yes it is 3.2.1.
those modules are downloaded from the same place?
Do those folders have the same permissions?
Did you installed this module from the BO => Catalog Modules or cloned/downloaded from GitHub?

Thanks!

[2019-09-09 13:09] khouloudbelguith commented on #15298
@nexustotalsolutions, sorry, I didn't receive any response yet.
But, as I told you, it's the API that puts the modules in the right categories so it is not a PrestaShop Core issue.

[2019-09-09 13:13] dreamtheme commented on #15461
@khouloudbelguith The modules are all downloaded only via the "upgrade" button in the update section of PS admin, no github, and i have compared the folders of the modules between several installations. Its the same server with the same permissions yes.
If i install PS 1.7.5.2 now, i can't reproduce the bug, but if i restore backed up older 1.7.5.2 installation, happens always, same server, same s

[2019-09-09 13:14] TaccCZ commented on #15471
@khouloudbelguith
- Language of employee is Czech (CZ)
- Intl is installed
![customer-search-intl](https://user-images.githubusercontent.com/37780517/64533531-f92fa780-d313-11e9-8a50-5b181297a8cb.jpg)

- Database is utf8_general_ci but some tables are utf8_unicode_ci as:
-- ps_admin_filter, ps_attribute, ps_attribute_group, ps_attribute_group_lang, ps_attribute_group_shop, ps_attribute_lang, ps_at

[2019-09-09 13:23] khouloudbelguith commented on #15461
@dreamtheme, thanks!
Waiting for your feedback.

[2019-09-09 13:32] khouloudbelguith commented on #15469
@sotirisa,
Thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 with Greek language / or we add some special characters in the test message
![image](https://user-images.githubusercontent.com/16067358/64534910-41e46200-d30e-11e9-9dde-68d36012089f.png)

![image](https://user-images.githubusercontent.com/16067358/64534934-4f99e780-d30e-11e9-8f32-024777c0aa44.png)

With

[2019-09-09 13:38] J023PH commented on #15465
its not a php version issue I switched php version multiple times but since you say its best to use 7.2 its currently on 7.2 however  that doesnt fix my issue I still dont know why links with index.php/something doesnt work... it says **404 not found** im not sure i tried this nginx config i seen it on a different post but it didnt work, mine worked but still have this weird issue with certain lin

[2019-09-09 13:43] khouloudbelguith commented on #15467
@TemKaSD, id you delete all Titles in the BO => Shop Parameters => Customer Settings => Titles Tab => this option will not displayed in the FO.
![image](https://user-images.githubusercontent.com/16067358/64535950-1e221b80-d310-11e9-9af6-6554461841d3.png)

Thanks to check & feedback.

[2019-09-09 13:47] khouloudbelguith commented on #15465
@J023PH, did you check my configuration Nginx?

[code]

It is OK in my side
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf#L55
The redirection is incorrect in your, that's why you have 404.

Thanks!

[2019-09-09 13:50] khouloudbelguith commented on #15210
@icemansparks, what is the exact version of the ps_legalcompilance did you use?
Did you use the default theme Classic?

Thanks!

[2019-09-09 13:56] khouloudbelguith commented on #15471
@TaccCZ, thanks for your feedback.
In my case, I tried with Czech & it is Ok.
https://drive.google.com/file/d/13t7xfxUOKso8DqNlCy4mP3MAOHGnCLAy/view
Could you please navigate to your BO => International => Translations page => Update your language
![image](https://user-images.githubusercontent.com/16067358/64537034-051a6a00-d312-11e9-9fc7-861ff25fb408.png)

Thanks!

[2019-09-09 13:56] J023PH commented on #15465
its the same code but my admin backoffice directory is correct its not the issue... the backoffice works and most of the features are fine except links that have index.php followed by directories...

[2019-09-09 14:01] icemansparks commented on #15210
Hi @khouloudbelguith,
the version for the legal compliance module is the exact same as in your video (3.0.2).

The template of this specific shop is already customized, but was based on the Prestashop 1.7.5.2 "Classic" theme. I will try to switch to the untouched classic theme for comparison but will have to set up a test-environment first.

[2019-09-09 14:07] sotirisa commented on #15469
I couldn't fix it and I don't know if I can. If I'll make it I'll write back to you.

[2019-09-09 14:08] musaffar-patel commented on #15466
Hi

Does it work in AdminCustomers and Edit Product pages?  This is where I tried and the $_GET array did not contain url params such as product and customer ID.

Kind Regards
Musaffar

[2019-09-09 14:24] TaccCZ commented on #15471
@khouloudbelguith
Hi, i Updated language, but no change :( Still does not work.

[2019-09-09 14:26] khouloudbelguith opened #15475 "Exception is displayed when the URL is invalid - ps_facetedesarch"
**Describe the bug**
To reproduce the issue, we should have the debug mode enabled
In the BO => Catalog => Features page, when we created a new feature with invalid URL => An exception is displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Features page
2. Add a new feature with Invalid URL (Test 1) with space
3. See error

**Screenshots**
![image](https://user-i

[2019-09-09 14:27] khouloudbelguith commented on #15475
ping @PierreRambaud

[2019-09-09 14:28] khouloudbelguith commented on #15453
@Allthejam, thanks!

Feel free to open a new one when needed.

[2019-09-09 14:30] khouloudbelguith commented on #15471
@TaccCZ, if you try with another language =>  the issue occurs again?

Thanks!

[2019-09-09 14:31] PierreRambaud commented on #15475
Yes, it's because of DEV mode and because the current behaviour is weird.
This part will be refactored later.

[2019-09-09 14:32] khouloudbelguith commented on #15465
@J023PH, this is an example of confix file in PrestaShop & it is well working
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf#L55

Thanks!

[2019-09-09 14:34] colinegin commented on #12170
I've just tested it on 1.6, it seems the behaviour is the same. Could you give me more information about it ?

[2019-09-09 14:36] khouloudbelguith commented on #15450
@sireris, the ps_specials module is added as a dependency in your child theme?
Did you use the ps_specials module in your child_theme/config/theme.yml?
Thanks!

[2019-09-09 14:38] colinegin commented on #12170
@SharmPRO your issue seems to be the same as #9932, we have a PR currently in test.

[2019-09-09 14:39] TemKaSD opened #15476 "The proposal for duplicating phrases"
Hello. While translating the template I came across some duplicate phrases in the system. Tell me, does it make sense to notify you about them to make changes to the code to combine these phrases into one?

Example: Your package must be returned to us within %number% days of receiving your order.
3 times repeated.

[2019-09-09 14:42] sireris commented on #15450
no in my child theme there is no dependency. I create child theme from prestashop and use it but i diddn't add nothing.

[2019-09-09 14:46] PierreRambaud commented on #15385
FYI: if `apache_get_modules`  generate a 500 error, this is because your php version doesn't run under apache.
It looks like the bug is related to how Plesk manage webservers but maybe I'm wrong.
Can you have a check @matks it's maybe related to https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Webservice/ServerRequirementsChecker.php#L124

[2019-09-09 14:51] J023PH commented on #15465
ok thank you very much for your help it seems that it is fixed now

[2019-09-09 14:51] #15465 closed, assigned to nobody

[2019-09-09 15:02] TemKaSD commented on #15467
@khouloudbelguith Thanks

[2019-09-09 15:02] #15467 closed, assigned to nobody

[2019-09-09 15:23] samuel-pires commented on #15214
## Specs

When enabling "Free Shipping", the content of the table should not be visible or editable, but it should be kept, so that if you disable "Free Shipping", the content is visible again in the table.

It avoids erasing all the content of the table if a user do a mistake by enabling Free Shipping.

[2019-09-09 15:39] nexustotalsolutions commented on #15298
Okay no problem!!

[2019-09-09 15:39] matks commented on #10606
https://github.com/PrestaShop/PrestaShop/pull/15032

[2019-09-09 16:03] TaccCZ commented on #15471
@khouloudbelguith , Yes. If i change to default english, issue is the same.

[2019-09-09 16:29] Maofree opened #15477 "Fixed a little html error in product.tpl"
Hi
if you open the file
/classic/templates/catalog/product.tpl
at line 213
the final p tag is not closed in the right mode, it is missing ">"
it should be

`<p>{$attachment.description}</p>`

not like now

`<p>{$attachment.description}</p`

bye

**Screenshots**
![11](https://user-images.githubusercontent.com/653230/64548666-6866c500-d32f-11e9-8ad3-87937bbc5dfc.png)

**Additional information**
Pres

[2019-09-09 17:23] dreamtheme commented on #15461
@khouloudbelguith
Ok after a whole day of debugging, i have found the issue. In fact there are several issues.

Bug 1. The issue is when you have "Bulgarian" localization pack installed, and the products are using -> "BG Standard Rate (20%)" Tax rule in the product settings, the price filter disappear in 1.7.5.2 and in 1.7.6.1 with Faceted 3.2.1 (regardless of the display language and the currency

[2019-09-09 17:42] attractive opened #15478 "500 Internal Server Error"
Hi,

After upgrading from 1.7.5.2 to 1.7.6.1  we can not add photos to the product. We click add photos and we get a mistake every time.

PrestaShop version: 1.7.6.1
PHP version: 7.2.22
Web server: Lite Speed
PHP Type: Apache Module (low performance)

There used to be a similar problem but it resulted from the old litespeedcache plugin. There are no plugins right now. Up to version 1.7.6, there wa

[2019-09-09 17:55] pierreloicq commented on #15268
I have a footer.tpl in my child theme at templates\_partials\ and still I have red alerts when trying to edit "theme translations".

What solution is the best ? translate the parent theme or try to apply @Flower7C3 solution ?
Will the translation of the parent theme be erased in case of update ?

Thank you

[2019-09-09 17:57] johanmeer commented on #15468
Hi, i can confirm the 3 steps, that is right.

[2019-09-09 19:49] Flower7C3 commented on #15268
@pierreloicq my solution is just workaround and will generate missing translations from xlf files in theme to temporary tpl file. But there is other problem with translations described in #15346

[2019-09-09 19:57] Flower7C3 commented on #15346
@khouloudbelguith problem also occurs in multistore when themes are not related to each other (like child-parent), but translated text has same key and translation domain.

So the only solution is to store cached translations in Symfony with information about theme.

[2019-09-09 22:27] Flower7C3 commented on #15346
It might be related to #9905.

My temporary solution is to modify all parts of code where `var/cache/` is called and add shop unique identifier. It might be `'_' . $_SERVER['HTTP_HOST']`:
1. [config/defines.inc.php:72](/PrestaShop/PrestaShop/blob/6195e42cfe/config/defines.inc.php#L72)
[code]

2. [app/AppKernel.php:108-111](/PrestaShop/PrestaShop/blob/6195e42cfe/app/AppKernel.php#L108-L111)
[code]

[2019-09-09 22:59] vnt opened #15479 "he field name="form[step2][unity]" in BO -> product -> Tab Pricing it is not translatable"
BO -> Product -> edit prodcut -> Tab Pricing

The field form[step2][unity] near Price per unit, it is not translatable. Can you make it translatable?

`<input type="text" id="form_step2_unity" name="form[step2][unity]" placeholder="Per kilo, per litre" class="form-control">`

Can you make [step2][unity] field visible in the frontend?

Tested in versions P.S. 1.7.5.1 and 1.7.6.1

[2019-09-10 07:04] CaseOnline commented on #12241
Fredo85> Are you sure this code fix the issues? Will it show like picture above that dineshbadrukhiya posted??

[2019-09-10 07:09] BeReal86 opened #15480 "Admin panel and homepage won't open"
home and admin panel input does not open after the installation process is completed.  a white page appears and I found the following error in the error log file.
no errors occurred during installation.
turkey language option was selected during setup

[09-Sep-2019 23:16:50 Europe/Istanbul] PHP Fatal error: Uncaught Error: Class 'Smarty_Internal_Undefined' not found in /home/pitalfdg/public_html/p

[2019-09-10 07:14] khouloudbelguith commented on #15466
@musaffar-patel,

When editing a customer =>
[code]

When editing a product =>

[code]

Thanks!

[2019-09-10 07:18] khouloudbelguith commented on #15480
Hi @BeReal86,

I did not manage to reproduce the issue after a new installation PS1.7.6.1 using the English language & France country.
What is the exact Language/country did you use during the install?
Did you download the zip file from our official site?

Thanks!

[2019-09-10 07:22] musaffar-patel commented on #15466
Hi

As you can see the $_GET array in your dump is missing the id_customer and id_product.  If you perform the same test in Prestashop 1.7.5.x they are present.

Kind Regards
Musaffar

[2019-09-10 07:26] khouloudbelguith commented on #15479
Hi @vnt,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9824
So, I close it.
Thanks!

[2019-09-10 07:26] #15479 closed, assigned to nobody

[2019-09-10 07:26] khouloudbelguith commented on #15479
Duplicate of #9824

[2019-09-10 07:36] khouloudbelguith commented on #15466
@musaffar-patel, when trying to edit a product => it is similar to PS1.7.6.1
[code]

But editing a customer with PS1.7.5.2, we have a different response
[code]
So, with PS1.7.6, in the category page, some parameters are missing in the backofficeHeader hook.
With PS1.7.6, the Category page is migrated to Symfony.

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it o

[2019-09-10 07:40] khouloudbelguith commented on #15346
@Flower7C3, thanks for these clarifications!

[2019-09-10 07:42] BeReal86 commented on #15480
Hi @khouloudbelguith

I download the zip file from official site.
Country Turkey
Language Turkish

[2019-09-10 08:08] khouloudbelguith commented on #15468
@johanmeer, but this is normal behavior.
How can we have different customers with the same address email => this is incorrect.
In fact, we have another issue related to this, it will be fixed.
"Guest account is not transformed into a customer account, it creates a second account"=> incorrect => it is added to our bug roadmap => issue reported in this ticket: https://github.com/PrestaShop/PrestaSho

[2019-09-10 08:23] khouloudbelguith commented on #15480
@BeReal86, thanks for these clarifications.
I did not manage to reproduce the issue with PS1.7.6.1 downloaded from this [link](https://www.prestashop.com/en/previous-versions).
https://drive.google.com/file/d/1aSIsAG1NcEGO8-FRVCRaOhm7cv6-Iv3z/view

Thanks!

[2019-09-10 08:29] khouloudbelguith commented on #15478
Hi @attractive,

Thanks!

Did you remove those plugins manually?

You have an issue with the `sirv` module also, you need to contact the module author about this issue.
You have previously reported this issue & it is related to the `litespeedcache` module.
https://github.com/PrestaShop/PrestaShop/issues/13695

This module is disabled now?

Thanks!

[2019-09-10 08:34] matks opened #15483 "FO will be greyed out if you click real fast on add to cart button"
**Describe the bug**
If you click like a crazy person on "add to cart" button it opens the modal multiple times

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product page on FO
2. Click on 'add to cart' button multiple times, very quick
3. See all the modal open

**Additional information**
PrestaShop version: 1.7.6.1

[2019-09-10 08:39] khouloudbelguith commented on #15483
Hi @matks,

When we click multiple times on the "Add to cart" button, the product page is freeze.
It is reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9634
So I think, this issue should be fixed in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9634?
What do you think?

Thanks!

[2019-09-10 08:42] prestarocket commented on #15483
it s fix in classic rocket https://github.com/PrestaShop/classic-rocket/commit/266e3d831df14d36bee3af9dd043455bd43c02da

[2019-09-10 08:48] khouloudbelguith commented on #15477
Hi @maofree,

Thanks for your report.
Yes, I have same issue with develop branch https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/catalog/product.tpl#L206 & PS1.7.6.1 & PS1.7.6.0 & PS1.7.5.2.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-10 08:54] dreamtheme commented on #15462
@khouloudbelguith Seems the issue is that product SEO URLs are changed from 1.7.5.2 to 1.7.6.0 so static links from old product urls produce this.
For example, if you have 1.7.5.2 generated product URL that's looks like http://mydomain.com/ps17/20-96-example-product.html in 1.7.6.0 its changed to http://mydomain.com/ps17/20-example-product.html, so if you have old link in text editor for example,

[2019-09-10 09:03] BeReal86 commented on #15480
@khouloudbelguith,I will try the discount again as soon as possible.  maybe there is a problem with the hosting company.

Thanks

[2019-09-10 09:16] khouloudbelguith commented on #15461
@dreamtheme, I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.0 & PS1.7.5.2 & ps_fecetedsearch v3.2.1.
I edit the template of the ps_factedsearch module & I Clicked on all the button to re-index the prices & attributes & I cleared the cache.
PS: the URL accentuated is enabled / disabled => OK
I attached a screen record
https://drive.google.com/file/d/1ID-Y799CP4T-FERpRGxS9tIcefqrMs

[2019-09-10 09:21] khouloudbelguith commented on #15480
@BeReal86, Thanks!
Waiting for your feedback.

[2019-09-10 09:32] khouloudbelguith commented on #15462
@dreamtheme, Thanks for your feedback.
Yes, this behavior is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/13009
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-09-10 09:32] #15462 closed, assigned to nobody

[2019-09-10 09:40] dreamtheme commented on #15461
@khouloudbelguith
Did you changed the tax rule on all products? because you need to change the tax rule to all products, and i suggest you to disable all products and leave only two and test with them.
If you have changed the tax rule only on two products, only they won't appear in the search filter, but as the other products are on the other tax rule they will remain active and filter will be vis

[2019-09-10 09:45] khouloudbelguith commented on #15471
@TaccCZ, Open the Project_Folder/config/config.inc.php file, and search this code:
`setlocale(LC_CTYPE, $locale.'.UTF-8', $locale.'.utf8');` & try to comment it.
 (`//setlocale(LC_CTYPE, $locale.’.UTF-8′, $locale.’.utf8′);`)

Clear cache from your shop & your browser & check & feedback.

[2019-09-10 09:55] khouloudbelguith commented on #15461
@dreamtheme,

What is the exact tax rule I need to use?

Thanks!

[2019-09-10 09:58] TaccCZ commented on #15471
@khouloudbelguith > no change,
**Now give me error log:**
3. [Tue Sep 10 10:42:56.138593 2019] [proxy_fcgi:error] [pid 31321:tid 140164595287808] [client 90.180.236.159:53811] AH01071: Got error 'Primary script unknown\n', referer: xxxxx/admin/index.php/sell/catalog/products/347?_token=_eFuZoGcxA_2CaGh_dXPSebbpU-t8pJbZ8FuU-_Oe9c
4. [Tue Sep 10 10:43:08.425706 2019] [proxy_fcgi:error] [pid 31321:ti

[2019-09-10 10:04] dreamtheme commented on #15461
@khouloudbelguith I have already explained that, you need to use "BG Standard Rate (20%)" on all products.
I made a video here https://drive.google.com/file/d/1Cl7Z2KpaewXtxrvpIXH4ObkSw5Koffst/view

[2019-09-10 10:06] khouloudbelguith commented on #15471
@TaccCZ, could you please try to enable debug mode & check if there is any exception displayed instead of error 500?

Thanks!

[2019-09-10 10:18] khouloudbelguith commented on #15467
@TemKaSD, You are welcome!
Feel free to open a new one when needed.

Thanks!

[2019-09-10 10:19] khouloudbelguith commented on #15465
@J023PH, you are welcome!
Feel free to open a new one when needed.

[2019-09-10 10:22] dreamtheme commented on #15461
And here i have made another video on 1.7.6.1 and apparently the bug is alive in facet 3.0.6 and in 3.2.1, and as you can see brands don't appear at all for me.
https://drive.google.com/file/d/1IMGC7G0ssYB7H6qz03r-TRqvf5g8ah0I/view

[2019-09-10 10:27] khouloudbelguith commented on #15461
@dreamtheme, I tried with ps_facetedsearch v3.2.1 & it is OK.
https://drive.google.com/file/d/1_xg6CZ-VASzt2giTA6U3KHQEV68m3UkA/view
The cache is similar to yours.
Thanks!

[2019-09-10 10:31] TaccCZ commented on #15471
@khouloudbelguith
**1.7.6.1 debug mode:**
https://www.loom.com/share/e417559a270e4d17882dbcde56e87ffc

**1.7.5.2 debug mode, same server (everything is ok):**
https://www.loom.com/share/48a5443558904eb6ac87aa53600389c7

[2019-09-10 10:33] khouloudbelguith commented on #15450
@sireris, by default, ps_specials is not installed in PrestaShop, you need to install it manually.
Could you please try with this child theme
[childtheme-example.zip](https://github.com/PrestaShop/PrestaShop/files/3595200/childtheme-example.zip)
Cloned from this [link](https://github.com/PrestaShop/childtheme-example).
In my case, with PS1.7.6.1, I'm using the child theme & I installed the ps_spec

[2019-09-10 10:34] dreamtheme commented on #15461
@khouloudbelguith Well maybe its due to PHP version difference, i don't know, i can provide you with access to new installation for you to test, but so far this happens for me 100% on two different servers with different PHP versions, i don't know your test environment.

[2019-09-10 10:37] dreamtheme commented on #15461
Here it is live, just set up this installation, https://demo.dreamtheme.eu/presta17test/, tell me where to send you access to it.

[2019-09-10 10:39] khouloudbelguith commented on #15476
Hi @TemKaSD,

I did not manage to reproduce the issue with PS1.7.6.1 & the Classic theme.
https://drive.google.com/file/d/1nCIwvD9Yvncm79uHenvGUE20bbFEx_v4/view
![image](https://user-images.githubusercontent.com/16067358/64607092-b1665a00-d3bf-11e9-9517-f6008751bc14.png)

Are you using a custom theme?

Thanks!

[2019-09-10 10:41] khouloudbelguith commented on #15461
@dreamtheme,
This is a public space.
You can provide me the access by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-09-10 10:45] dreamtheme commented on #15461
@khouloudbelguith Ok e-mail send :)

[2019-09-10 10:47] khouloudbelguith commented on #15461
@dreamtheme, thanks!
I just received the email.
I will check & feedback.

[2019-09-10 10:54] khouloudbelguith commented on #15449
@Amulliez, I did not manage to reproduce the issue with PS1.7.6.1 & the product comments v4.0.0.
I attached a screen record
https://drive.google.com/file/d/1Q9UwChOu2_3iOzAkoyvJSU9SontuyJbb/view
This module is hooked to those hooks:
![image](https://user-images.githubusercontent.com/16067358/64608024-ac0a0f00-d3c1-11e9-9687-60f9a946cb49.png)
Thanks!

[2019-09-10 11:10] khouloudbelguith commented on #15461
@dreamtheme,
I checked that your your default country is the United States.
In your Bo => International => Taxes => Tax Rules Tab => I edit the "BG Standard Rate (20%)" & I added a new tax rule with the country United States & now it is OK
![image](https://user-images.githubusercontent.com/16067358/64609042-e96f9c00-d3c3-11e9-8a7d-3a351e09e181.png)

Thanks to check & feedback.

[2019-09-10 11:13] khouloudbelguith commented on #15115
@go-sudo,  Try to enable the profiling mode again.
Try to navigate to your BO => Dashboard page => scroll down to the bottom of the page to check what is slowing this page.

Thanks!

[2019-09-10 11:14] dreamtheme commented on #15461
@khouloudbelguith
Thanks, but what about the brands?
And in older version worked without the need to change the tax rule country settings, and how is the users need to know that? :)

[2019-09-10 11:15] khouloudbelguith commented on #14908
@nrcjea001, This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2019-09-10 11:18] PrestaSafe opened #15485 "Can't override active-filters.tpl file on ps_facetedsearch.tpl"
Hi,

In m'y PrestaShop version 1.7.6.0
Module ps_facetedsearch v3.2.1

it's impossible to override file located in modules/ps_facetedsearch/views/templates/front/catalog/active-filters.tpl

from my template in respecting exactly the same folders path.

It cames from the /modules/ps_facetedsearch/src/Product/SearchProvider.php

in lines method `renderActiveFilters`

[code]

I've tried to change by

[2019-09-10 11:38] nrcjea001 opened #15486 "Error in suppliers page after deleting a currency - Regression"
I would like to refer to this issue (https://github.com/PrestaShop/PrestaShop/issues/14908). This issue appears to be resolved in my other shops, but not on morganic.mu. My guess is that the alterations that I made on the database to rectify the issue prior to 1.7.6.1 update may have corrupted the database (see issue 14908 which explains the solutions I tried).

I am hoping that we can rectify the

[2019-09-10 11:53] dreamtheme commented on #15461
@khouloudbelguith
Waiting your info on the brands too :)

[2019-09-10 12:14] kimo1960 opened #15487 "GZIP dont work without htaccess mod"
we use on waffen.shopping the z.one shop template. but we cant use gzip without a mod of the htaccess for mod_deflate.

our provider says we have to write it in the htaccess - the dev from the z.one says dont mod the htaccess...

so, what should / can we do.... and no - we are not pros on thsi  ;-)
![Screenshot 2019-09-10 at 09 45 56](https://user-images.githubusercontent.com/55141112/64612664-9d7

[2019-09-10 12:19] colinegin commented on #15400
@Darmona could you share with us the specs of this new version ?

[2019-09-10 12:19] TaccCZ commented on #15471
@khouloudbelguith > Hi, we fixed it.

The problem we found was in the module that adjusted the GDPR functions of the prestashop. The module supplier has modified its functions and everything is working as it should.

[2019-09-10 12:19] #15471 closed, assigned to nobody

[2019-09-10 12:28] khouloudbelguith commented on #15461
@dreamtheme, about the brand, is not displayed, because you only one brand active => it is related to this issue: #11207
If you change

`$usefulFiltersCount > 1` to `$usefulFiltersCount >= 1` in the file `ps_facetedsearch/src/Product/SearchProvider.php` file, you can see the brands.

![image](https://user-images.githubusercontent.com/16067358/64613736-cd252c80-d3ce-11e9-9553-3769bb1d6218.png)

I c

[2019-09-10 12:28] #15461 closed, assigned to nobody

[2019-09-10 12:30] khouloudbelguith commented on #15471
@TaccCZ, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-09-10 12:32] khouloudbelguith commented on #15487
Hi @kimo1960,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrading y

[2019-09-10 12:34] PierreRambaud commented on #15461
FYI: the latest issue will be fixed in the next Faceted search release.

[2019-09-10 12:40] khouloudbelguith commented on #15391
Hi @msaustral,

You need to follow this link: https://addons.prestashop.com/en => It is our Marketplace where you can find a lot of modules.

I close the issue, feel free to open a new one when needed.
Thanks!

[2019-09-10 12:40] #15391 closed, assigned to nobody

[2019-09-10 12:50] khouloudbelguith commented on #15486
Hi @nrcjea001,

About the second issue => it is OK.
I manage to reproduce the first issue about the suppliers with PS1.7.6.1.
To reproduce the issue:
1. Import new products from the BO => Advanced Parameters => Import page using the CSV file by default.
2. Go to the supplier page => Click on the view button => OK => fixed in the PS1.7.6.1.
3. Go to the BO => International => Change the currency by

[2019-09-10 12:55] khouloudbelguith commented on #15486
Related to https://github.com/PrestaShop/PrestaShop/issues/15376

[2019-09-10 12:57] colinegin opened #15488 "[EPIC] Customer address modification management"
This EPIC involves 3 different contexts : 

## 1) on FO, modification of an address by the customer himself

On the customer side, the address can be modified at any time. When making a modification, the process is transparent to the customer as the new address replaces the old one.
In database, there are 2 scenarios :
- the old address is not used in any other order --> the address is modified wi

[2019-09-10 13:07] khouloudbelguith commented on #15348
Hi @dtwfung,

The standard return is used to return products only.
![image](https://user-images.githubusercontent.com/16067358/64616308-3e1b1300-d3d4-11e9-8665-4dd0e5269707.png)

Thanks!

[2019-09-10 13:28] idnovate commented on #15041
Hi!

I managed to reproduce the issue with a fresh PS 1.7.6.1.

Please retry and choose "SPAIN" as store country, maybe it's applying different taxes than in FR.

[2019-09-10 13:47] Borgas opened #15489 "BO - Character Error in Order Page - Message from customer"
Version - 1.7.6
Language - PT

Text in Customer message is not correct

![Capturar](https://user-images.githubusercontent.com/54105234/64619335-d4056c80-d3d9-11e9-8854-ee7daa0f5f70.JPG)

[2019-09-10 13:49] khouloudbelguith commented on #15041
@idnovate, I tried also with PS1.7.6.1 & it is Ok
I attached a screen record
https://drive.google.com/file/d/10bmI_wmqTle6JssPpdWX-6b6fbSB6Pt7/view

Thanks!

[2019-09-10 13:52] khouloudbelguith commented on #15489
Hi @Borgas,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9726
So, I close it.
Thanks!

[2019-09-10 13:52] #15489 closed, assigned to nobody

[2019-09-10 13:52] khouloudbelguith commented on #15489
Duplicate of #9726

[2019-09-10 14:13] idnovate commented on #15041
Please test it with an Spanish installation.

Look how my products prices look like:

![image](https://user-images.githubusercontent.com/15104724/64621361-d53c9680-d3e5-11e9-966c-ed8e6a618195.png)

[2019-09-10 14:27] colinegin commented on #13227
What do you think about this @matks ?

[2019-09-10 14:30] khouloudbelguith commented on #15485
Hi @PrestaSafe,

I did not manage to reproduce the issue with PS1.7.6.1 & ps_facetedesarch v3.2.1.
I used this method

[code]
=> it is well working in my case.
I attached a screen record
https://drive.google.com/file/d/1xpgqRQ6QHsZEUtcy6fcijYL-ETKUJgTw/view
Thanks to check & feedback.

[2019-09-10 14:37] khouloudbelguith commented on #15041
@idnovate, no, I just added those products with no tax => same issue with Tax =20%
https://drive.google.com/file/d/1mg887RbRgvxbG9UPl1RD5d6KNFqhMrnO/view

Thanks!

[2019-09-10 14:40] PrestaSafe commented on #15485
i'll try an update to 1.7.6.1 and test it again, but still, the SearchProvider.php need to be updated for add fetch method with new path 'module:ps_facetedsearch/views/...' instead of render on all methods who rendering smarty views.

[2019-09-10 14:44] Klemart3D opened #15490 "Error message when we create a new category with invalid Friendly URL"
**Describe the bug**
On fresh install of PS 1.7.6.1 when first, URL accentuated option is enabled in SEO tab (seems to be "on" by default) and when categories with accents are created, friendly URL of categories are auto-accentuated. In front and back : OK
Now, when I'm disabling URL accentuated option in SEO tab and save, in front on menu links and in back in category in friendly URL field, URL a

[2019-09-10 14:51] marionf opened #15491 "[EPIC] Problems with multicarrier options"
## Behaviour in FO
- [ ] #15369
- [ ] #9998
--> problem in the display of products and their associated carriers in the order summary in FO
- [x] #13080
- [ ] #11622
- [ ] #20619
- [ ] #22836

## Behaviour in BO
- [ ] #9594
- [ ] #15159
- [ ] #15304
- [ ] #20665
- [ ] #36177

## Specs
- [ ] https://github.com/PrestaShop/prestashop-specs/issues/111

[2019-09-10 14:54] PrestaSafe commented on #15485
It's now working on 1.7.6.1 but i think it was my cache.
How to make a PR for modify the SearchProvider.php ?

[2019-09-10 14:57] khouloudbelguith commented on #15485
Ping @PierreRambaud what do you think?
@PrestaSafe, you can follow this link: https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/
If you change this line
[code]

I have an error 500.

Thanks!

[2019-09-10 15:06] matks commented on #13227
Sorry for the late response, indeed it makes sense 👍

So to sum it up:
- if the shop has been configured with taxes ON
- if product X has no tax configured
- customer add product X to cart
- customer chooses a shipping method that has no tax configured
THEN
we display the "tax included" label although the tax amount is zero

[2019-09-10 15:09] PrestaSafe commented on #15485
'views/templates/front/catalog/active-filters.tpl',
            [
you need to prefix the path
[code]

i've make a PR for the module
https://github.com/PrestaShop/ps_facetedsearch/pull/134

[2019-09-10 15:09] colinegin commented on #13227
Yes exactly. I close this issue then, i will add this behaviour in the PrestaShop specs.

[2019-09-10 15:09] #13227 closed, assigned to nobody

[2019-09-10 15:11] khouloudbelguith commented on #15485
@PrestaSafe, thanks!
Yes, in my case using this method

[code]
Template will not be overrided.

Thanks!

[2019-09-10 15:16] PrestaSafe commented on #15485
Yes you need to prefix ;)

[2019-09-10 15:26] andremario90 commented on #9902
Hi,
is there any news about it? This feature should be very important for me.

Thanks

[2019-09-10 15:27] khouloudbelguith commented on #15490
Hi @Klemart3D,

It is the same behavior as PS1.7.5.2 & PS1.7.6.
When the "accentuated URL" option is disabled the friendly URL is invalid, so you need to edit this filed
![image](https://user-images.githubusercontent.com/16067358/64627613-da024a00-d3e7-11e9-87dd-c2c229c297cf.png)

![image](https://user-images.githubusercontent.com/16067358/64627627-e1295800-d3e7-11e9-931a-1a7a98a5c49b.png)

Thanks

[2019-09-10 15:29] khouloudbelguith commented on #9902
Hi @andremario90,

Sorry not yet, it is ao our bug roadmap.

Thanks!

[2019-09-10 15:33] idnovate commented on #15041
Hi!

I attach you a video. It's quite long as I have recorded also installation.
https://drive.google.com/file/d/1q21un3FE_wh8NkUut4GFuMzlCZ6LoKk6/view

Developer console is not recorded (:disappointed_relieved:), but this is what appears after the product is added to the cart:
![image](https://user-images.githubusercontent.com/15104724/64627977-e048f400-d3f0-11e9-81e3-ba1f7f480c12.png)

[2019-09-10 15:42] Amulliez commented on #15449
Hi @khouloudbelguith

I would like to have the opportunity to put 0 stars when the customer notes an article. How can I do it ?
Currently he is obliged to put a star.

Thanks.

[2019-09-10 15:44] khouloudbelguith commented on #15449
@Amulliez, Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-09-10 16:24] marionf commented on #15383
If the product had a feature only available in a shop, when I switch shop I shouldn't see the feature

[2019-09-10 16:29] Klemart3D commented on #15490
a - On PS 1.7.6.1 I don't have an explicit message like you to give me which field is wrong.
b - Even if I rename link rewrite field "déjà" to "deja", I still have the unexplicit error, not you?
c - I have hundreds links to rewrite, doesn't exists a way to auto rewrite all links without accent?

[2019-09-10 18:44] Maofree opened #15492 "Problem to insert the email inside the address"
Hi
try to add
Customer:email
to the address fields of Italy
in the front-office will be added a customer selection with no items inside at the top of the address form. In this case the email should not be shown in that form like on 1.6
the email should be present just in the emails

bye

**Screenshots**
![2](https://user-images.githubusercontent.com/653230/64640920-55292780-d40b-11e9-8761-5be0c589

[2019-09-10 22:03] go-sudo commented on #15115
Hello

https://drive.google.com/file/d/1mdGiicQcWYxdgmozHuWP8_YllP9bMeji/view

Regards

[2019-09-10 22:32] BeReal86 commented on #15480
@khouloudbelguith  Hi,
I did some trials on the server. I've done a few install.

sample; Language Turkish
Countries Turkey. is a problem when I choose
But;
sample; Language Turkish
Countries France. no problem when I choose
The only problem in choosing a country.

alerts in the picture always appear
<img width="701" alt="ggg" src="https://user-images.githubusercontent.com/16218107/64654742-df38b6

[2019-09-11 00:44] maofree commented on #15432
hi
the my error has been solved upgrading to 1.7.6.1
bye

[2019-09-11 01:22] wdammak commented on #10600
hh svg not supported??? why!! :'(
svg == the future of the web for images

[2019-09-11 01:52] dtwfung commented on #15348
I see.
So, I can perform FULL refund in the "Partial refund" ?!

[2019-09-11 01:53] dtwfung commented on #15348
I see.
So, I can perform FULL refund in the "Partial refund" ?!

[2019-09-11 06:44] jansass commented on #9603
Ref: https://github.com/PrestaShop/PrestaShop/issues/15423

Fix for Cart view attached (does fix wrong unit price display in Carts, not the wrong math)

[CartPresenter.php.zip](https://github.com/PrestaShop/PrestaShop/files/3599344/CartPresenter.php.zip)

[2019-09-11 07:26] khouloudbelguith commented on #15492
Hi @maofree,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #11166
So, I close it.
Thanks!

[2019-09-11 07:26] #15492 closed, assigned to nobody

[2019-09-11 07:26] khouloudbelguith commented on #15492
Duplicate of #11166

[2019-09-11 07:36] khouloudbelguith commented on #15432
@maofree, thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-09-11 07:36] #15432 closed, assigned to nobody

[2019-09-11 07:41] khouloudbelguith commented on #15480
@BeReal86, thanks for your feedback.
Yes, you have a warning to install & enable the php_posix extension => so, it is not enabled & not installed.
![image](https://user-images.githubusercontent.com/16067358/64677625-d4e8dd80-d46f-11e9-8dc7-a6c40ed42432.png)
I think it is a server issue => thanks to check the problem with your host & feedback.

[2019-09-11 07:47] kubiak85 opened #15494 "Custom product modification"
Hi, I would like to do custom modyfication in Products.  I must get information from custom table and add to array product in product lists .I would like to have availability this field in all in category etc.  Does anyone know what class is responsible for whether I can attach such a modification ?

Prestashop 1.7.4

[2019-09-11 07:49] khouloudbelguith commented on #15494
Hi @kubiak85,

Please be aware that the bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-09-11 07:49] #15494 closed, assigned to nobody

[2019-09-11 07:51] BeReal86 commented on #15480
@khouloudbelguith
I checked posix via php extension but it was not installed. I thank you for your help.  Would the problem be solved when php_posix was installed?

[2019-09-11 07:54] khouloudbelguith commented on #15348
@dtwfung,

- Standard refund. Available once the order reaches the "Payment accepted" status. Not available once the products have been sent.
To be used when you need to refund the totality of the order, and can be done as long as the products are still in your warehouse.
Click the "Standard refund" button and a new column will appear in the product list, titled "Refund". Set the amount and quanti

[2019-09-11 07:59] khouloudbelguith commented on #15480
@BeReal86, could you please try to create a PHP info file on your server & check if `posix` exists
![image](https://user-images.githubusercontent.com/16067358/64678901-707b4d80-d472-11e9-8e5e-f578bb51e62d.png)

Thanks!

[2019-09-11 08:33] BeReal86 commented on #15480
@khouloudbelguith

sorry for the delay

https://pitaleathershop.com/phpinfo.php

[2019-09-11 08:36] khouloudbelguith commented on #15490
@Klemart3D,

![image](https://user-images.githubusercontent.com/16067358/64681458-abcc4b00-d477-11e9-926a-cd4743f1e7fe.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

You multilanguage in your case => you just edit it in the french language & not the other language.

But

[2019-09-11 08:44] khouloudbelguith commented on #15480
@BeReal86, as you can see in your PHP info file, you have a lot of functions related to `posix` are disabled
![image](https://user-images.githubusercontent.com/16067358/64682041-ab807f80-d478-11e9-91b2-69a0d9feb0dd.png)

In fact, as you can see in this section: `disable_functions` => This directive allows you to disable certain functions

Thanks!

[2019-09-11 08:49] khouloudbelguith commented on #15115
@go-sudo, thanks!
As you can in the profiling mode => the execution time is ok
![image](https://user-images.githubusercontent.com/16067358/64682446-601aa100-d479-11e9-95cc-0e1093d2392d.png)
![image](https://user-images.githubusercontent.com/16067358/64682486-732d7100-d479-11e9-9eea-afa7b9ed6fb8.png)

Thanks!

[2019-09-11 09:07] dennispw opened #15495 "Bloated code in productcomments"
I'm not sure how to phrase this, all in all it doesn't seem it's been thought through properly. As an example, look at the `product-list-reviews.tpl`. This means that for *every* product on the page, there's an added `<script>` tag added. Let's say you've got 24 products per page and perhaps 19 of them has reviews, that boils down to **19 ajax requests**. Why not make **1** request and dynamically

[2019-09-11 09:20] BeReal86 commented on #15480
@khouloudbelguith  as you said yes many functions are disabled.

Thanks for all

[2019-09-11 09:29] caygri commented on #10600
because they use smarty and smarty non support svg

[2019-09-11 09:33] khouloudbelguith commented on #15480
@BeReal86, Try to check the issue with your host & feedback.
Thanks!

[2019-09-11 09:35] khouloudbelguith commented on #15495
Hi @dennispw,

Thanks for your report.
Ping @jolelievre @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-09-11 10:47] photinia73 opened #15498 "Wrong text formatting <li>"
Hello!
When I format text in the BO like List it looks like Ok
![image](https://user-images.githubusercontent.com/50954519/64690973-60776400-d49a-11e9-9af5-04376c6c1268.png)
 But in the FO the indent is lost

![image](https://user-images.githubusercontent.com/50954519/64691125-a2080f00-d49a-11e9-8072-2ea98497049c.png)

PS 1.7.5.2

[2019-09-11 10:58] dsukeeper opened #15499 "Bug REST API with JSON format - Get an image"
I'm trying to build an application that uses rest api. And when I send a request for images https://arduino-pl.com/api/images/products/221 I have an error
[code]

However it works fine, if output format is XML:
[code]
`
**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.1

[2019-09-11 11:16] dtwfung commented on #15348
Wonderful! Thanks for your great help.

[2019-09-11 11:19] leatonvof opened #15500 "Class 'LegacyLayout' not found"
I get errors in BO when trying to do pretty much anything, I think this started by installing a module. But I have put backups back on and still produce the same errors..

I tried resetting cache but this didn't help.

![Screenshot_2019-09-11 Symfony Profiler](https://user-images.githubusercontent.com/55189982/64693076-c4982900-d496-11e9-9436-93224c03a006.png)

**Additional information**
PrestaSho

[2019-09-11 11:24] khouloudbelguith commented on #15500
Hi @leatonvof,

Could you please check if you have some overrides not removed after uninstalling the module?
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-09-11 11:25] khouloudbelguith commented on #15348
@dtwfung, thanks!
Feel free to open a new one when needed.

[2019-09-11 11:36] leatonvof commented on #15500
I checked, no overrides connected to the module. I deleted the var/cache but still receive the same error.

[2019-09-11 11:41] khouloudbelguith commented on #15500
@leatonvof, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source: fresh install or upgrade from a previous version)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - in which from the BO => this exception is displayed?

Don't you know how

[2019-09-11 11:46] leatonvof commented on #15500
It seems I had not succesfully deleted my browser's cache completely.. Doing this sorted the errors. Thanks

[2019-09-11 11:46] #15500 closed, assigned to nobody

[2019-09-11 11:48] khouloudbelguith commented on #15500
@leatonvof, thanks!
Feel free to open a new one when needed.

[2019-09-11 11:52] jolelievre commented on #15495
Hello @dennispw ,
indeed the script tag is added in each product thumbnail in order to get the rating via ajax and thus always get the most recent rating. But as you said it creates many ajax requests, and it is not computed by Google.

We already had a discussion about this problem in this thread https://github.com/PrestaShop/PrestaShop/issues/14878 As @kpodemski (and you) suggested, it would be

[2019-09-11 11:54] khouloudbelguith commented on #15499
Hi @dsukeeper,

I did not manage to reproduce the issue with PS1.7.6.1 => It is OK
I tried with this link: `shop.com/api?output_format=JSON`
![image](https://user-images.githubusercontent.com/16067358/64695108-45552600-d493-11e9-80f1-d7f665853fc9.png)
I attached a screen record
https://drive.google.com/file/d/1u10EkU53V3R8ey6cS7D049tBc6mQBvaT/view
Thanks to check & feedback

[2019-09-11 11:56] dsukeeper commented on #15499
As I said it doesn't work when I try to get images links.

[2019-09-11 12:32] khouloudbelguith commented on #15041
Hi @idnovate,

I manage to reproduce the issue with PS1.7.6.1. & PS1.7.6.0 & PS1.7.5.2 / Spain because in fact => we must have Tax = 21%

We need to have gifts with combinations (not standard products)
to reproduce the issue:

1. Create 3 product with combinations => Configure the price of the 3 products to 1€ TTC
2. Create 3 cart rules, each one with a different gift product (3 Products created p

[2019-09-11 13:05] khouloudbelguith commented on #15499
@dsukeeper, I tried with PS1.7.5.2
I have this error
`{"errors":[{"code":3,"message":"[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (\/var\/www\/html\/st1752\/classes\/webservice\/WebserviceOutputJSON.php, line 153)"}]}`
But with PS1.7.6.0 & PS1.7.6.1 => this error message is not displayed
https://drive.google.com/file/d/1OQc6rvMcD5Rwqrygrq_cQuheAYamwj

[2019-09-11 13:23] wdammak commented on #10600
@caygri no i don't think it's smarty related!
[https://stackoverflow.com/questions/54950670/prestashop-1-7-include-inline-svg-in-tpl-file](https://stackoverflow.com/questions/54950670/prestashop-1-7-include-inline-svg-in-tpl-file)

[2019-09-11 13:26] PierreRambaud commented on #10600
It's because of the legacy implementation, many things need to be refactor to allow the usage of new image type.

[2019-09-11 13:29] khouloudbelguith commented on #15210
@icemansparks, thanks!
Waiting for your feedback

[2019-09-11 13:38] #15401 closed, assigned to nobody

[2019-09-11 13:48] BeReal86 commented on #15480
@khouloudbelguith, I’ve talked with hosting and tried to  tell problems. But They’ve made 5.6 native php setting, but ıt seemed 7.2 on php info. They suggest it as a solution.

/config/config.inc.php

setlocale(LC_CTYPE, $locale.'.UTF-8', $locale.'.utf8');
to
//setlocale(LC_CTYPE, $locale.'.UTF-8', $locale.'.utf8');

Unfortunately, hosting compony has neither knowledge nor experience. It has been

[2019-09-11 13:57] khouloudbelguith commented on #15480
@BeReal86, It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

I close the issue, feel free to open a new one when needed.

Thanks!

[2019-09-11 13:57] #15480 closed, assigned to nobody

[2019-09-11 13:59] Szobi81 commented on #9726
Order messages are still not working  after 1.7.6.1, still getting "Szeptember v&eacute;g&eacute;re k&eacute;rem a sz&aacute;ll&iacute;t&aacute;st, vagy okt&oacute;ber elej&eacute;re. K&ouml;sz&ouml;n&ouml;m sz&eacute;pen! :)"

[2019-09-11 14:01] khouloudbelguith commented on #9726
@Szobi81, the issue is not fixed yet.
Thanks!

[2019-09-11 14:56] dsukeeper commented on #15499
I have different issue because I already edited classes/webservice/WebserviceOutputJSON.php in 41 line was
   ` protected $currentAssociatedEntity;`
and now:
   ` protected $currentAssociatedEntity = array();`
Try that:)

[2019-09-11 15:12] khouloudbelguith commented on #15499
@dsukeeper, this issue is fixed with PS1.7.6.0 with PS1.7.6.0
https://github.com/PrestaShop/PrestaShop/pull/11902
As I said with PS1.7.6.1 => I don't have any error.

Thanks!

[2019-09-11 15:16] Darmona commented on #15400
Does a google doc + Invision mockups are enough for you ?

[2019-09-11 15:31] #12608 closed, assigned to nobody

[2019-09-11 15:44] dsukeeper commented on #15499
It's good, that it #11902 was fixed.
However, on 1.7.6.1 I have errors with JSON, when I try to get links to images. It works only when output format is XML

https://drive.google.com/open?id=1aybslWGw9yjWt2w6GMnoN8mK0baQXpd4

[2019-09-11 15:46] LaureMatou opened #15502 "ps_socialfollow - icons not clickable"
On various of our Ready themes, we have a problem with links to social networks that do not work: the icons are not clickable.

In fact if we pass the link in Display Block we see that the icon is not part of the link. The link is below, so that a click on the icon can't redirect anywhere.

The css comes from the theme but the bug can be fixed at the module level, which would solve the problem on

[2019-09-11 15:53] khouloudbelguith commented on #15499
@dsukeeper, I tried with this link as your screen record
`http://projet/shop.com/api/images/products/31?output_format=JSON`
I have this message
`{"":[{"id":"31"},{"id":"33"}],"errors":[{"code":61,"message":"This image does not exist on disk"}]}`
But I don't have warnings as you.

Thanks!

[2019-09-11 15:55] dsukeeper commented on #15499
Yes, but if you choose output format xml - it will work.

[2019-09-11 16:09] khouloudbelguith commented on #15499
@dsukeeper, the only issue => I manage to reproduce is this error:
`{"code":61,"message":"This image does not exist on disk"}]}`
I have the same issue with PS1.7.5.2 & PS1.7.6.1.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-11 16:12] khouloudbelguith commented on #15502
Hi,
In my case with ps_socialfollow v2.0.0 & PS1.7.6.1 & the default Theme Classic => OK
Also, I checked with minimal theme => OK
https://drive.google.com/file/d/1AXi_92mAJ1MyJDGAdWA6logvRCMCJbcC/view

Thanks!

[2019-09-11 19:30] TedEriksson opened #15503 "500 error: Kernel Container is not available"
**Describe the bug**
After a payment (coming back from an external payment site), the payment module I am using calls PaymentModuleCore->validateOrder, which crashes with the exception "Kernel Container is not available".
This has happened since updating from 1.7.4.4 to 1.7.6.1.
It seems ContainerFinder was introduced between those versions

Stacktrace:
[code]
**Additional information**
PrestaShop

[2019-09-11 21:29] photinia73 commented on #15498
I wrote to the Theme support, may be they will resolve before PS 1.7.6.1 update will come…. If it will happen I`ll let you know
Thank you

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: среда, 11 сентября 2019 г. в 16:24
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] Wrong text formatting <li> (#15498)

Hi @photinia73,
Thanks for your r

[2019-09-11 22:54] madcorp206 commented on #15503
Same issue with validateOrder but also with NotificationCore :

` PHP Fatal error:  Uncaught Exception: Kernel Container is not available in /var/www/store/src/Adapter/ContainerFinder.php:77
Stack trace:
#0 /var/www/store/classes/Tools.php(796): PrestaShop\PrestaShop\Adapter\ContainerFinder->getContainer()
#1 /var/www/store/classes/Tools.php(773): ToolsCore::getContextLocale(Object(Context))
#2 /v

[2019-09-12 07:31] khouloudbelguith commented on #15085
Hi @pedroideavity,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-12 07:31] #15085 closed, assigned to nobody

[2019-09-12 07:32] khouloudbelguith commented on #15073
Hi @itisco,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-12 07:32] #15073 closed, assigned to nobody

[2019-09-12 07:49] khouloudbelguith commented on #15503
Hi @TedEriksson,

Thanks for your report.
Thanks to follow this [comment](https://github.com/PrestaShop/PrestaShop/issues/14648#issuecomment-515520400) of our lead developer about the payment module issues with PS1.7.6.
Thanks to check & feedback.

[2019-09-12 07:52] khouloudbelguith commented on #15498
@photinia73, Thanks!

[2019-09-12 08:25] linuxatico opened #15505 "Admin page not working after 1.7.6.0 -> 1.7.6.1 upgrade"
**Describe the bug**
Tried to update Prestashop via the autoupgrade module 4.9.0, checked the option to disable all third part modules, all went well (backup + upgrade without errors shown), the mantainance page works but the backend login throws HTTP response code 500 logging in /var/log/apache2/error.log only
`[Thu Sep 12 10:04:22.963585 2019] [proxy_fcgi:error] [pid 2278:tid 140646052509440] [c

[2019-09-12 09:03] malcek opened #15506 "Wrong language displaying for Slovenian."
Again I would like to get feedback how so find solution for Slovenian and Sri lanka language. Because after every upgrade of core files for PrestaShop you have to manually delete file in JS/tiny_mce/lang/si.js and rename sl.si file to si.js to get Slovenian language in BO on editing product. Marked with red. I'm advanced user and I know how to solve, but many users don't and than they struggle wit

[2019-09-12 09:25] eternoendless opened #15507 "Page does not scroll when customer clicks on "details" on an order in their history"
**Describe the bug**
I haven't tried to reproduce this bug myself.

As reported by @ingenium13 in [this PR](https://github.com/PrestaShop/PrestaShop/pull/10644) and @MathiasReker in [this PR](https://github.com/PrestaShop/PrestaShop/pull/10645):

**To Reproduce**
Using Chrome, click "Details" from order history. It should scroll to the bottom of the page where order the order details are shown

**

[2019-09-12 09:30] matthieu-rolland opened #15508 "Update jquery to latest version in Installation process 4/4"
EPIC: #13829

Update installation process's jquery version so that the old jquery (1.11) can be safely removed.

[2019-09-12 09:48] #15507 closed, assigned to nobody

[2019-09-12 09:51] #15505 closed, assigned to nobody

[2019-09-12 12:22] #14044 closed, assigned to marionf

[2019-09-12 12:24] jocel1 opened #15510 "Translation BO doesn't handle properly same translation with different cases"
**Describe the bug**
A clear and concise description of what the bug is.

If you have in your translation two same strings but with a different case ("Order" and "order" for example), the BO / International / Translation will not be able to update the right string (it will pick up one of the key randomly).
It's because the key field stored in the database is not case sensitive (text instead of bin

[2019-09-12 12:47] #9748 closed, assigned to nobody

[2019-09-12 12:47] #14700 closed, assigned to Progi1984

[2019-09-12 13:12] FlorentinGarnier opened #15513 "Update order state with Order::setCurrentState() add new line for invoice in order view"
**Describe the bug**
When update the order with `Order::setCurrentState()` create a new line in payments for create the invoice.

**To Reproduce**
Update state with webservice

Steps to reproduce the issue:

1. Edit the status "Payment accepted" as described in the screenshot
![image](https://user-images.githubusercontent.com/16067358/65593849-4bfe9580-df89-11e9-9bc5-57f94b0591d6.png)
3. Create a

[2019-09-12 13:21] #15115 closed, assigned to nobody

[2019-09-12 13:48] #9868 closed, assigned to nobody

[2019-09-12 14:05] #9864 closed, assigned to nobody

[2019-09-12 14:19] #15223 closed, assigned to nobody

[2019-09-12 15:43] #15510 closed, assigned to nobody

[2019-09-12 18:50] atonia opened #15516 "Unable to update Stock, Order and Shipping"
We are unable to update the order, stock or shipping confirmation for one of our customer. We are receiving a 405 error message.However customer has enabled all the methods that could possibly cause this error if disabled. Something seems to be blocking the PUT method.

![image](https://user-images.githubusercontent.com/55251690/64812125-9ab13600-d56c-11e9-9de5-d64daae5c679.png)

The customer has

[2019-09-12 19:18] #14757 closed, assigned to Progi1984

[2019-09-13 07:25] nielsverhoeven84 commented on #15411
Hello @khouloudbelguith
In the overview, the price is wrong:
![Schermafbeelding 2019-09-13 om 09 23 06](https://user-images.githubusercontent.com/52320806/64844518-4fe4fc00-d608-11e9-82ce-53a8897a63a1.png)

and in the detail it is wrong, except for the payment with kbc:
![Schermafbeelding 2019-09-13 om 09 23 32](https://user-images.githubusercontent.com/52320806/64844534-5c695480-d608-11e9-89ce-71

[2019-09-13 07:44] khouloudbelguith commented on #15513
@FlorentinGarnier, could you please provide me a demo module to test it.
Thanks!

[2019-09-13 07:56] stefanovita commented on #14695
I have the same problem, i wish that this can be addressed with a proper solution, please reopen the issue and apply at least the solution provided by @DBBlueDeath ...

[2019-09-13 08:23] matthieu-rolland commented on #15508
hi @samuel-pires , yes, it should be part of the whole "jquery migration" EPIC.

We realised that there was a 4th place where the old jquery is still used (installation process).

[2019-09-13 08:32] ftardio commented on #11172
Thanks again for your response, matks.

But I was one of the people who informed about the bug. And, at least in my tests, the scenario was not the same you present to get the bug. Maybe the customer must be at checkout when enabling rule (I'm not sure about this), but I'm sure I refreshed it several times at checkout and the problem persisted (no carriers available). The only way to solve this wa

[2019-09-13 08:36] matks commented on #11172
I think there is more than 1 bug, because other people have reported this behavior. It seems there's one usecase where it's due to bad data caching, so the refresh does clear the cache and fixes the carriers display, and another usecase where it's due to a bad carriers / cart rules availability computation

[2019-09-13 08:40] khouloudbelguith commented on #15516
Hi @atonia,

I did not manage to reproduce the issue with PS1.7.6.1.
In the webservice account page, All these permissions `View (GET) | Modify (PUT) | Add (POST)` are enabled for all Resource.
I used this script & it is OK

[code]
https://drive.google.com/file/d/1s_0V9djuBcv-J0hgKXLpsWVcAPBKjzC1/view

Thanks!

[2019-09-13 08:45] khouloudbelguith commented on #15110
Hi @oliverfuss,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-13 08:45] #15110 closed, assigned to nobody

[2019-09-13 09:03] matks commented on #14378
Suggested by @PierreRambaud : https://github.com/MikeMcl/decimal.js/

[2019-09-13 09:22] #15056 closed, assigned to nobody

[2019-09-13 09:23] khouloudbelguith commented on #15411
Hi @nielsverhoeven84,

So i your case, The correct payemnt is 387 Eur => which is displayed in the KBC section, but in the other sections is incorrect (355Eur) because the shipping cost is missing.

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2019-09-13 09:30] nielsverhoeven84 commented on #15411
Hello @khouloudbelguith

I only have a PHP error log:

[error.log.2.txt](https://github.com/PrestaShop/PrestaShop/files/3609346/error.log.2.txt)

[2019-09-13 09:32] EvoSw commented on #14812
in real i have the same error, installing in wsl .. i check with  phppsinfo.php,  but is all green except imagick and memcached
php 7.3.8.1

[2019-09-13 09:43] khouloudbelguith commented on #14812
Hi @EvoSw,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

Thanks!

[2019-09-13 09:48] khouloudbelguith commented on #15411
@nielsverhoeven84, in your php you have onlu some warings & PHP notice.
When debug mode enabled => there is no exception displayed?

Thanks!

[2019-09-13 09:51] nielsverhoeven84 commented on #15411
@khouloudbelguith  debug wasn't enabled, I've enabled it now. Are there some general files that handle shipping costs in the admin interface? on the front end it shows shipping in every step of the checkout

[2019-09-13 10:09] matks commented on #14378
Suggestion by @eternoendless : http://mikemcl.github.io/big.js/

[2019-09-13 10:22] wzzly commented on #9833
Any news?? This is a major problem when working in multistore...

[2019-09-13 10:33] EvoSw commented on #14812
not even with version:
7.2.22-1+ubuntu18.04.1+deb.sury.org+1

[2019-09-13 11:25] matks commented on #13681
It seems we have answered all questions here 😉if not, please open a new issue

[2019-09-13 11:25] #13681 closed, assigned to nobody

[2019-09-13 11:28] khouloudbelguith commented on #14812
@EvoSw, This issue is currently closed, can you open a new one with more information about your configuration

Thanks!

[2019-09-13 12:03] khouloudbelguith opened #15521 "Products are displayed in the shopping cart after editing an order"
**Describe the bug**
When we enable the option "Re-display cart at login" in the BO > shop Parameters > Customer Settings>  Customers page, then we add a product to an existing order through admin, PS creates a new cart for this product. Then when customer logs in to frontend, they can see that product sitting in their cart, even though it has already been added to their order through admin.

I wo

[2019-09-13 12:04] matks commented on #14541
@PrestaShop/prestashop-core-developers I have the following idea:

Modules can already modify the Symfony configuration through a `services.yml` file.
What is missing is **a way to register more Bundles without modifying `AppKernel.php` file**.

I dont want to use a hook because the hook system is heavy and `registerBundles()` must be quick. I'm thinking about a class `ThirdPartyBundleEnabler` (it

[2019-09-13 12:09] PierreRambaud commented on #14541
Good idea 👍

[2019-09-13 12:20] khouloudbelguith opened #15522 "Partial refund - total paid by customer is not correct"
**Describe the bug**
When we create a new customer and a new order for this customer (with total for exemple 100 euro), as the order's status is "waiting for payement" the total paid will be 0 (correct). Change the order's status to "payement accepted", the total paid wil be change to 100 euro (correct). Then, try to refund one of the products (50 euro), and change the status to "refunded". Usuall

[2019-09-13 13:06] matks opened #15524 "Remove deprecated e2e tests"
We have disabled Travis e2e tests. As we will replace them by something better, we can delete the useless code

It should be the code targeted by

bash travis-scripts/run-selenium-tests;
bash travis-scripts/run-functional-tests;

[2019-09-13 13:17] guigplt commented on #9594
Hi,
I have the same problem of order splitted in two.
It happened 13 times in 3 months, so it doesn't happen often (about 0,4% of orders).

I don't see any common point between orders : it happened with payment methods PayPal or Stripe, different shipping methods, and different products.

Regards.

[2019-09-13 13:21] khouloudbelguith opened #15525 "Incorrect behavior when we have multi conditions cart rule validation"
**Describe the bug**
In the BO > Cart rule details page > Condition Tab >  we have this expression
"The product(s) are matching **one** of these:" (field set, or "condition")."
![cart_rule_bo](https://user-images.githubusercontent.com/16067358/64865038-56876980-d630-11e9-8d45-f2d832d4506c.png)
This label is false in the FO, the products should match all of these conditions to get the cart rule
![f

[2019-09-13 13:37] matks commented on #14414
I checked #8721 it was fixing another bug, similar but not this one.

Strange thing about this usecase: same function `transformToCustomer()` is called from both the BO and FO, but on BO it works while on FO it fails 🤔

[2019-09-13 13:37] khouloudbelguith opened #15526 "The filter in the Combinable Cart Rules section doesn't work"
**Describe the bug**
In the cart rule page => condition Tab => the filter in the Combinable Cart Rules section doesn't work
**To Reproduce**
Steps to reproduce the behavior:

1. Go to create a new cart rule and switch to the conditions tab
2. Tick Compatibility with other cart rules
3. Attempt to filter existing cart rules under Combinable cart rules
4. You should see that although the list refres

[2019-09-13 13:41] 01park opened #15527 "CPU maximum - site slow - 1.7.6 prestashop performance"
Ever since I migrated from PS 1.6 to 1.7 I'm experiencing that the site time to time is extremely slow. Front office, but also Back office. For customers its impossible to order, and for us its impossible to work.

We already upgraded the server for one with more RAM - ROM and more CPU. ( 8GB ram - 200 rom and 4 CPU ) Although this helpt the overal speed.
Upgraded PS to the latest version and stil

[2019-09-13 13:50] khouloudbelguith commented on #15527
Hi @01park,

Thanks to follow these steps:

- `Never recompile template files`: this option is to be chosen for maximum performance.
- `Cache enabled (YES)`: makes pages fastest.
- `Smart cache for CSS (YES)`: brings together in a single file, compresses and caches CSS files.
- `Smart cache for Javascript (YES)`: brings together in a single file, compresses and caches JS files.
- `Apache Optimizat

[2019-09-13 14:01] khouloudbelguith commented on #15411
@nielsverhoeven84, your issue is not reproduced in the FO => checkout steps.
But could you please check in the order confirmation page (after the payment step) if the shipping cost is correct or no?
![order_confirmation](https://user-images.githubusercontent.com/16067358/64868481-5ccd1400-d637-11e9-86b8-b1d7b934fce3.png)

Thanks!

[2019-09-13 14:13] khouloudbelguith opened #15528 "The total of price is displayed with Tax included after editing the quantity of the products in the order"
**Describe the bug**
The Price display method of  the customer group is set to tax excluded.
In the BO > Order details page => when we edit the product Quatity => the total in the payment section is not correct => it is displayed with tax included => NOK

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO > Customers > Groups > set the customer group Price display method to Tax excluded

[2019-09-13 14:22] 01park commented on #15527
Hi @khouloudbelguith

All these basic tweaks I already done.

Nearly all stats I have disabled in modules. Just have best products, sales, data mining active.

[2019-09-13 14:25] khouloudbelguith commented on #15527
@01park, Could you please try to enable profiling mode
In your Projetc_Folder/config/defines.inc.php, you need to replace this

[code]

by this

[code]
When profiling mode is enabled, you should have information about the time needed to run queries.

Thanks!

[2019-09-13 14:30] khouloudbelguith commented on #9592
Same issue with PS1.7.6.1

[2019-09-13 14:32] #9905 closed, assigned to nobody

[2019-09-13 14:47] 01park commented on #15527
HI,

I will try this, but the problem is, is that the whole BO is not responding when the CPU is using 100%.

And then after and X amount of hours ( probably a few hours from now ) everything will run smooth again and the CPU will go down.

For example why does the BO freeze when regenerate Thumbnails or reindex search.

I checked error file, getting this

Stack trace:
#0 /home/xxxx/public_html/ww

[2019-09-13 14:55] ftardio commented on #9919
I notice this bug is still active at 1.7.6.1 version. And it's pretty easy to solve. The  problem is because quickview modal window uses the same template as product page, so there are some classes duplicated at the DOOM when you load a related product in quickview window and then you refresh contents changing attributes.

The bug is located at /themes/core.js file, (themes/_core/js/product.js at

[2019-09-13 14:58] khouloudbelguith commented on #9919
Hi @ftardio,
If you have already fixed it on your end, please do send us a pull request!
Thanks!

[2019-09-13 15:09] marionf opened #15529 "Bad combination dropdown in cart rule"
So to reproduce the problem please:
- Create a product with name and reference "AAA" with 2 combinations.
- Create a product with name and reference "AAAA" with 2 combinations.
- Create a cart rule with "AAA" as gift product. Save the rule.
- Edit again the cart rule and you will see 2 dropdowns, one with "AAA" combinations and another with "AAAA" combinations.

_Originally posted by @idnovate in

[2019-09-13 15:28] khouloudbelguith commented on #15527
@01park,

T﻿his is an issue that occurs on shared hosting. MySQL has a limit on how many concurrent connections it serves (151 by default, though usually set higher for shared db servers). If this number is reached, new c﻿onnection attempts return with the error you quoted. If you're on shared hosting, check with your hoster if other users are eating up connections.

Or Check your my.cnf file for

[2019-09-13 15:32] 01park commented on #15527
Hi @khouloudbelguith

Whe do I find this : [mysqld]
set-variable=max_connections=250

[2019-09-13 15:33] khouloudbelguith commented on #15527
@01park, in your file `my.cnf`.

Thanks!

[2019-09-13 15:33] 01park commented on #15527
and where is this located

[2019-09-13 15:35] khouloudbelguith commented on #15527
@01park, you can follow this link
https://stackoverflow.com/questions/2482234/how-do-i-find-the-mysql-my-cnf-location#targetText=There%20my.cnf%20file%20is,%2Flampp%2Fetc%2F%20folder.

It is on your server

Thanks!

[2019-09-13 15:42] ftardio commented on #9919
Thanks, I did it:

https://github.com/PrestaShop/PrestaShop/pull/15531

[2019-09-13 15:51] khouloudbelguith opened #15532 "The price is displayed with tax included when the customer group is configured with tax excluded"
**Describe the bug**
The custom group by default has method to display price is "Tax Included"
When we create another group with method to display price is "Tax excluded"
In the BO > Order details page => The price is displayed with tax included when the customer group is configured with tax excluded
**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO > create new customer group (G1) wit

[2019-09-13 16:19] matks opened #15534 "Bad calendar display on some screens for migrated listing pages"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
On a Symfony page, if the filters contain one "from ... to ..." input, then if screen is too small it gets badly displayed (see screenshot below)

**Screenshots**
<img src="https://user-images.githubusercontent.com/3034677/64349686-a8f4d480-cff7-11e9-9b36-33fcb24e43da.png">

[2019-09-13 16:20] shawe opened #15535 "Problem when extending from ModuleAdminControllerCore to do a list of orders with some fields"
**Describe the bug**
I'm not competely sure that if this is really a bug or I'm missing something, but for me seems a bug because this only happens in certains specific classes conditions.

**To Reproduce**
When we create a back-office controller extending from ModuleAdminControllerCore, and try to list something from a custom query, in the code that we are extending is assuming that the table nam

[2019-09-13 16:36] matks commented on #15466
Hi @musaffar-patel indeed on a migrated page, the `$params` does not contain the `$_GET` as it should not get this kind of data from here.

If you need to access these request data, I suggest using the `request_stack` service provided by Symfony.

To do this:
- build your module as a modern Symfony module (example https://github.com/friends-of-prestashop/demo-cqrs-hooks-usage-module and related do

[2019-09-13 16:36] #15466 closed, assigned to matks

[2019-09-13 17:38] carlosrsabreu opened #15536 "Guest tracking page is not working"
When I try to put the order reference and the e-mail and click "Send", what happens is that the page redirects to the homepage and doesn't return anything.

[2019-09-13 18:09] Maofree opened #15538 "ps_facetedsearch remove H1 tag"
Hi
can you remove forever these H1 from modules?
I've already explain the motive to remove them
in active-filters.tpl replace it with a "p" tag

bye

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/64884497-2d7fcc80-d662-11e9-8ad9-1753a2bf93be.png)

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.0
Module version: 3.2.1

[2019-09-13 20:22] matks commented on #14541
An idea to obtain both flexibility and performance:

Have a `bundles.php` file next to AppKernel. This file is edited each time a module with bundles is installed. The module adds the required bundles in it, and removes them when uninstalls.

Module with bundle = module with `config/bundles.yml` file

Wdyt @Quetzacoalt91 ? I think you've seen the dangers and complex usecases of modules installing/

[2019-09-13 22:06] photinia73 commented on #15498
Hello!
The Theme team reply is below:

“Sorry for inconvenience caused to you.

As we have checked from our end, there is no issue with the theme. We have also checked with classic theme but the issue is still there. So there is possibility of bug from PretsaShop.”

Unfortunately they didn`t propose the decision (( So waiting for 1.7.6.1 as I understand…

З повагою
Кричмарівська Світлана

От: khou

[2019-09-14 09:44] 01park commented on #15527
@khouloudbelguith

Thanks for your help.

I can say that the BO loading time issue now is solved. I checked my database and discoverd that the the stats and ps_quest table had over 500.000.000 rows of data. I deciced to empty this together wit a few other data mining tables. After this, Back office is fast as lightning now.

Problem 2. High CPU, I discovered after cleaning the stats. The amount of

[2019-09-14 11:37] banan44 opened #15539 "Problem with category positions"
Hello, I have problems setting the correct position of the subcategories. When I set the position in BO and enter the category the subcategories are in random positions. I have problems to move them to the position I like. Please, take a look at this video: https://drive.google.com/file/d/1R26lFnVCErDmtoJfaGEQfTbZ611P8iLV/view

When I made that video the problem occured only on main shop but in mo

[2019-09-14 11:38] rdy4ever commented on #15406
If you ask me, "Order with an obligation to pay" button scares more customers than this kind of checkout process. The text on the button should be just "Complete order" or "Finish order". The term "obligation" has no place here.
As for this kind of checkout process, it's just a step-by-step checkout that is also used by other e-commerce solutions for a while now.

[2019-09-14 14:42] JulianC2 commented on #15217
@matteolavaggi  - Did you get any response from the developer - I am seeing the same issue while trying to get my prestashop up to date.

[2019-09-14 16:41] waynefurber commented on #10739
Until the Bug is fixed
Navigate to International / Translations for your front office template
Locate  Shop > Theme > Checkout
Change Free to TBC or some other phrase
TBC stands for To Be Calculated

[2019-09-14 17:34] dtwfung opened #15540 "Error when adding image in creating new product"
**Describe the bug**
In PS 1.7.6.1, Error when adding image in creating new product, (Turn on debug mode)
Column 'cover' cannot be null INSERT INTO `t3e_image` (`id_product`, `position`, `cover`) VALUES ('1218', '2', NULL)

**To Reproduce**
Steps to reproduce the behavior:
1. In BO, Go to 'Category -> Product'
2. Click on "New product", after giving any name in product name, then adding image file

[2019-09-14 17:57] morghy1992 opened #15541 "Paypal Error code: 10413 Ps 1.7.5"
Hello,

i am using prestashop 1.7.5 and I have PayPal module V.5 but I have I customer that could't pay because when try to pay with PayPal it gives this error: Error code: 10413.Short message: Transaction refused because of an invalid argument. See additional error messages for details..Long message: The totals of the cart item amounts do not match order amounts..

On my shop for every products t

[2019-09-14 18:48] TedEriksson commented on #15503
@khouloudbelguith Thats fixed it!

[2019-09-15 06:09] dtwfung commented on #14708
I have installed a fresh installation of 1.7.6.1. I got the same error too.
GET https://cop9gun.com/XXXX/admin123/themes/new-theme/public/index.php?controller=AdminDashboard&token=a7066b8363509a4bb9da3a3169e99d93 net::ERR_ABORTED 404
product_page.bundle.js?1.7.6.1:60 Download the Vue Devtools extension for a better development experience:
https://github.com/vuejs/vue-devtools
product_page.bundle.j

[2019-09-15 08:30] dtwfung commented on #15540
I figured out the problem. This may cause by 1-click upgrade... Somehow, the 'cover' column of 'image' and `image_shop` did not change to NULLable. In PS 1.6.X. the column cannot be NULL.
As my site was upgraded from 1.6.x using 1-click upgrade.
I installed a fresh 1.7.5.1 installation. Problem does not happen.
Highlight of how to fix.
1. Amend the 'cover' column to NULLable for TWO tables 'image'

[2019-09-15 14:33] JohnCasa opened #15543 "bug module transport"
![Capture](https://user-images.githubusercontent.com/55353949/64923061-9720e780-d7d6-11e9-8271-b817807ac876.PNG)

hello, my delivery configuration to skip, when i try to configure it i have this error message. How can I handle this? Thank you

[2019-09-15 14:50] lutek commented on #14703
Got the same problem!
I just wanted to publish a new live version of prestashop and I stopped it. Conversions will decrease.

I got 60k rows in ps_stock_available.

Prestashop: 1.7.6.1

<img width="1615" alt="image" src="https://user-images.githubusercontent.com/846598/64923271-98ebaa80-d7d8-11e9-9ca4-0e21795f3ff3.png">

[2019-09-15 17:10] Mamar25 commented on #15455
Hello,

In fact my problem is solved, but I do not know where it came from or how I managed to solve it. I thank you in any case for your message.

Thank you very much !

[2019-09-15 17:10] #15455 closed, assigned to nobody

[2019-09-15 19:42] matks opened #15545 "PSR2 is deprecated since 2019-08-10, use PSR12 instead"
**Is your feature request related to a problem? Please describe.**
[PSR2](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md) is deprecated although we use it on the project.

**Describe the solution you'd like**
Use PSR12 instead.

[2019-09-16 06:44] gennaris commented on #14703
@lutek - I had a drastical approach :D I have totally commented out the two queries (my customer does not need - use the physical / reserved quantities) and everything seems good so far, but I think both methods must be reviewed by the core developers as it seems to be quite a blocker for large catalogs.

[2019-09-16 07:29] namkynam opened #15547 "Mail translation - when you press the save button returns 404"
**Describe the bug**
When you go to the email translations page and make any edits and press save BO will go to 404

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'BO > International > Translations'
2. Click on 'Email translations > body > Classic > English'
3. Scroll down to 'Save or Save and stay'
4. See error

**Screenshots**
BO will return to 404 page - GG driver record
https://dr

[2019-09-16 07:57] PierreRambaud commented on #14703
Hi @gennaris and really thanks for your explanation.
I think we can try your fix, it's pretty relevant and seems logic.
Could you create a pull request?

[2019-09-16 08:23] azralth opened #15548 "ChoiceType checkbox"
I try to add custom checkbox field in admin customer form.
I add this field like this :

`			->add(
				'customer_type',
				ChoiceType::class,
				[
					'label' => $this->l('Customer type'),
					'choices' => $this->type_customer,
					'expanded' => true,
					'multiple' => true,
				]
			) `
But i'm getting an error (see attachment)
![error](https://user-images.githubusercontent.com/552339/6494

[2019-09-16 08:27] mariem-abid commented on #15543
Hi @JohnCasa,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-09-16 08:38] matks commented on #15548
Hi @azralth it's because your `$customerForm` could not be created, and the exception was hidden by the try/catch in the controller. You can debug this by adding a `throw $e` in the catch 😉 (we know this is not practical, this will be improved in the future)

[code]
becomes
[code]

[2019-09-16 08:40] matks commented on #15548
So you did something wrong when you added the field. Have you imported the `ChoiceType` class using a `use` ? else you need the full class name: `\Symfony\Component\Form\Extension\Core\Type\ChoiceType`

[2019-09-16 08:45] azralth commented on #15548
Thanks for your help !

Yep, i add the ChoiceType. This fieldType work only if i hade "multiple => false". But then i have a radio input.
Here the new error in attachment
![erreor](https://user-images.githubusercontent.com/552339/64944562-ea467900-d86e-11e9-8c2c-b142b06ec5b8.png)

[2019-09-16 08:49] matks commented on #15548
According to the error message, your prestashop is configured to store session files into  `/var/lib/php/sessions` which is a folder it has no access to. You need to either fix the directory access settings or modify where your prestashop store session files

[2019-09-16 08:58] azralth commented on #15548
Yep, i had" session.gc_probability = 0" in php.ini. That fix the bug.
Now i have this error :
Maybe it's a problem with my field in ps_customer table. I had a varchar(255). Any idea ?

$this->cutstomer is an array :
`		// Customer type
		$this->type_customer = array(
			$this->l('Airsoft') => $this->l('Airsoft'),
			$this->l('Militaire') => $this->l('Militaire'),
			$this->l('Outdoor') => $this->l

[2019-09-16 09:07] #15548 closed, assigned to nobody

[2019-09-16 09:10] #14415 closed, assigned to nobody

[2019-09-16 09:21] mariem-abid commented on #15539
Hi @banan44,

I did not manage to reproduce the issue with PS:1.7.6.1.
I attached a video record.
https://drive.google.com/file/d/1ppWLCRjHvi-vIKuxUC7VZ7xMhIhZYD32/view

Thanks for check and feedback.

[2019-09-16 09:38] sotirisa commented on #9726
Do we know about when you gonna make it?

[2019-09-16 09:43] sotirisa commented on #15547
Hi, this solved from me with settings from the server. Do you have plesk?

[2019-09-16 09:43] mariem-abid commented on #15547
Hi @namkynam,

I did not manage to reproduce the issue with the version PS: 1.7.6.1.
I attached a video record.
https://drive.google.com/file/d/1zVD3hMD9VN7jLDJ8iAyjp5dir74OqJcw/view

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screensh

[2019-09-16 09:48] BrunoJunior opened #15553 "Product Back Office - Invalid keyword - no error message - no save"
**Describe the bug**
In the product admin page, Options tab, I add a keyword : 100% whool.
No error is displayed, worse PrestaShop tell me update are OK …
But when I reload the product page, modifications are gone …

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Back Office > Catalog > Products > Choose one product
2. Make changes on the product
3. Go to Options tab
4. Add a keyword w

[2019-09-16 09:51] Maofree opened #15554 "Errors with latest changes on itemList for products listing"
Hi
I report here some infos to help to find a better solution to this pull request
https://github.com/PrestaShop/PrestaShop/pull/14558

I think some data is missing from those fixes:
look here
https://developers.google.com/search/docs/data-types/carousel

I think for the "item" attribute should be necessary to add more infos like: name, url, image, aggregateRating ...

bye

**Additional informatio

[2019-09-16 10:01] mariem-abid commented on #15553
Hi @BrunoJunior,

I did not manage to reproduce the issue with the last version PS:1.7.6.0
I attached a video record.
https://drive.google.com/file/d/19mFwIKH71QdGTfQghLZDn6c_dYZhW-QK/view

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in extended maintenance mode until June 30, 2019.

During this period, and in order to ensure the stabi

[2019-09-16 10:07] mariem-abid commented on #15540
Hi @dtwfung,

Your problem is solved?

[2019-09-16 10:07] BrunoJunior commented on #15553
Sorry, I made a mistake … The version is 1.7.4.4

[2019-09-16 10:10] BrunoJunior commented on #15553
You did not follow my instructions …
You have to add a keyword in the Options tab.
And this keyword has to contains the % char …

[2019-09-16 10:14] mariem-abid commented on #15553
@BrunoJunior, in the field Tags?

[2019-09-16 10:14] namkynam commented on #15547
@mariem-abid Hi,
Thank you for quick reply!
I'm ussing Cloud VPS and can not access to the root. I only get one file log for all.
Please help!
[logs.gz](https://github.com/PrestaShop/PrestaShop/files/3615735/logs.gz)
[console-export-2019-9-16_17-7-49.txt](https://github.com/PrestaShop/PrestaShop/files/3615737/console-export-2019-9-16_17-7-49.txt)

[2019-09-16 10:16] stefanovita commented on #11304
I am reopening this issue since this is a very big matter for module developers. If we need to change the listing in old controllers we have to use ListingFieldsModifier hook, we cannot use GridDefinitionModifier. Viceversa, we cannot use ListingFieldsModifier in modern controller. This means that we have to look for any new Prestashop version, and check if the controller is upgraded to modern, an

[2019-09-16 10:22] BrunoJunior opened #15558 "Product tags validation - isGenericName or isTagList"
**Describe the bug**
In the ProductCore definition, the information «meta_keywords» has to be a generic name (Validate::isGenericName).
In the TagCore definition, the information «name» has to be a generic name (Validate::isGenericName).
In the AdminProductController, when data are checked, the tag list has to respect the isTagsList validation. This validation is only made when data come from the

[2019-09-16 10:23] BrunoJunior commented on #15553
Yes (I suppose, on the French version it's «mots clés»)

[2019-09-16 10:27] mariem-abid commented on #15535
Hi @shawe,

The identifier of an object in Prestashop must be in the form "id_tableName" to facilitate the generation of lists in the admin part.

[2019-09-16 10:33] mariem-abid commented on #15538
Hi,
@maofree, thank you for your report.
@marionf, @colinegin, what do you think?

[2019-09-16 10:35] matks commented on #11304
Hi, indeed this isse is important.

This is exactly the right way to do it, which indeed avoids you to have to maintain 2 versions of the same module. If we had reused the same hook name, you would have been obliged to maintain 2 versions of your module.

The fact that parameters are different cannot be avoided as the parameters are related to the very architecture of the page behind, be it a lega

[2019-09-16 10:38] mariem-abid commented on #15536
Hi @kidlivin,

I did not manage to reproduce the issue with the last version PS:1.7.6.1.
I attached a video record.
https://drive.google.com/file/d/10JiI8xUXY771ty6l4yQizHo4NBExaD7W/view

Thanks for check and feedback.

[2019-09-16 10:42] shawe commented on #15535
@mariem-abid Then, is really an internal mistake with the tablename?

[2019-09-16 10:47] mariem-abid commented on #15535
@shawe, do you want to add a new table or use the existing table?

[2019-09-16 10:52] mariem-abid commented on #15553
Hi @BrunoJunior,

I manage to reproduce the issue with the last version PS:1.7.6.1.
I attached a video record.
https://drive.google.com/file/d/1cIMFgfFhmeNGcRwV-N4c9bH93MjfSi2d/view

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-16 10:54] mariem-abid commented on #15558
Hi @BrunoJunior,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

[2019-09-16 10:55] luigimassa commented on #13698
the bug is still present
The problem is: why "If a category somehow ends up having the same id as it's parent (or more generally if there are circular references)"?

[2019-09-16 10:58] mariem-abid commented on #15541
Hi @morghy1992,

Have you tried to contact the agency who develops the Paypal module? As it comes from a module update, I don't think we can do something before their feedback.

[2019-09-16 11:07] shawe commented on #15535
@mariem-abid I'm trying to list the original table orders with a left join to get additional details, but the problem is that "Order" object in core is not working accordingly the directives you confirm that I found.

When this is trying to be generated in admin part, the id is generated as "id_orders", but the correct one for this table is "id_order".

The method that cause this to fail, is expec

[2019-09-16 11:24] 01park opened #15559 "Main menu module: a new link is created when editing a previous link"
In the main menu module, when editing a previous link, after saving a new link is created and the old one has not changed.

Work around; remove previous link and replace it with new details.

PS: 1.7.6.1
PHP 7.2
Module version: up to date.

[2019-09-16 11:37] rflorent opened #15560 "Product edition anormaly slow"
**Describe the bug**
 The edition of a product is very slow when this one have a huge number of price.
In my case, 8 or 10 minutes to wait ! unusable.

**To Reproduce**
Open your web console and trace ajax request (symfony's one is useless, the product legacy controller is still used and, so dumping is not possible)
Edit a product with at least a hundred specific prices and at least 20 features.
S

[2019-09-16 11:44] BrunoJunior commented on #15553
I think you forgot to push Enter after typing «test%test» …

[2019-09-16 12:18] mariem-abid commented on #15503
Hi @TedEriksson,

I close the issue, feel free to open a new one when needed.

[2019-09-16 12:18] #15503 closed, assigned to nobody

[2019-09-16 12:22] mariem-abid commented on #15455
Hi @Mamar25,

Thanks for your feedback.
Feel free to open a new one when needed.

[2019-09-16 12:25] mariem-abid commented on #15535
@shawe, try to create a new table with the desired attributes and join it with the "order" table.

[2019-09-16 12:27] BrunoJunior commented on #15553
I made the test in PS 1.7.4.4 and 1.7.6.1
1.7.4.4 :
![ps1744](https://user-images.githubusercontent.com/4368255/64957809-fee63980-d88d-11e9-9f00-e0e4285788db.gif)

1.7.6.1 :
![ps1761](https://user-images.githubusercontent.com/4368255/64957816-03125700-d88e-11e9-9ba4-bc8a1df1426a.gif)

[2019-09-16 12:45] mariem-abid commented on #15560
Hi @rflorent,

Do you use specific modules for the products page?

Thanks!

[2019-09-16 12:47] mariem-abid commented on #15559
Hi @01park,

Could you please try to clear cache from your project and your navigator and feedback.

[2019-09-16 12:52] marionf commented on #15532
@khouloudbelguith

This is the wanted behavior. You just display the price tax excluded for a customer group (only not for the merchant) but the customer pay the price tax included if taxes are enabled.

![capture d'écran_1992](https://user-images.githubusercontent.com/13449658/64959452-71a4e400-d891-11e9-843f-e03843931e35.png)

So, the merchant should the real price paid by the customer (tax incl

[2019-09-16 12:52] #15532 closed, assigned to nobody

[2019-09-16 12:58] mistabrown opened #15561 "GLEN BROWN"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2019-09-16 13:00] mariem-abid commented on #15561
Hi @mistabrown,

Thanks to adding a short description of your issue and add steps to reproduce it in a new comment.

[2019-09-16 13:03] #13455 closed, assigned to zuk3975

[2019-09-16 13:12] mariem-abid commented on #15547
@namkynam, are you using the template by default of Prestashop?

[2019-09-16 13:14] rflorent commented on #15560
Hi @mariem-abid

No specific module.

I've tried a specific module thinking it would speed up the save, the module split the update part by part and send only data concerned (like only features). As it use the same core function, same problem. Btw it pointed me on the right direction, features and specific prices.

I think code needs to be optimized, SpecificPriceRule::applyAllRules(array((int) $t

[2019-09-16 13:43] nvhaver commented on #12961
This still seems to be an issue in the latest version of PrestaShop (1.7.6.1). CSRF can be performed on the shopping cart (e.g. adding items to the cart). Possibly there are other instances of CSRF present in the CMS. Please take this into consideration for the upcoming release...

[2019-09-16 13:44] 01park commented on #15559
@mariem-abid

This I already tried, but does not helped

Maybe its a multi-store issue.

[2019-09-16 14:20] colinegin opened #15563 "[Front-Office] Save customization on product with one click"
Currently on product pages, to save and add to cart a product with a customization, the customer needs to click on "Save customization" and then "Add to cart". A great improvement would be to save customization AND add to cart with only one click.

![image](https://user-images.githubusercontent.com/35263827/64965782-e7af4800-d89d-11e9-8fde-54ecb29c98a2.png)

[2019-09-16 14:21] mariem-abid opened #15564 "Module main menu"
**Describe the bug**
After creating and modifying a new link, the modification is not done, a new link will be added

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new link.
2. Click on Edit button.
3. Edit the label.
=> The update button is not existing in the PS version 1.7.6.1 (PS:1.7.6.0 is OK)
I attached a video record.
https://drive.google.com/file/d/10RGsHOtebxjVkICoY2vCs2BLOe2

[2019-09-16 14:22] #13879 closed, assigned to sarjon

[2019-09-16 14:26] mariem-abid commented on #15559
@01park , I manage to reproduce the issue with the last version PS:1.7.6.1

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-16 14:27] mariem-abid commented on #15559
related to #15564

[2019-09-16 14:42] marionf commented on #15564
Duplicate of #15559

[2019-09-16 14:42] #15564 closed, assigned to nobody

[2019-09-16 14:45] stefanovita commented on #11304
Thanks for the reply, but i was windering how is it possibile to test the hooks for modern controllers when they are not yet available. Do we have to develop in the blind?

[2019-09-16 14:54] matks commented on #11304
Well you cannot test something that has not been implemented 😄however, **before a new release you have a 2-months time window to check the modern controllers incoming**.

Indeed what we do is
Day 1: we feature freeze = software enters validation/stabilisation phase, only bugfixes are accepted (= no more migrating)
=> this is the beginning of beta test period
Day 31: we create a first Release Candi

[2019-09-16 15:05] mariem-abid commented on #15554
Hi,
@maofree, thank you for your report.
@PrestaShop/prestashop-core-developers, what do you think?

[2019-09-16 15:21] colinegin commented on #15344
@jolelievre you have put this issue in review, but is there a PR related to it ?

[2019-09-16 15:38] colinegin opened #15565 "Change tracking url in Theme & Logo page"
Since the migration of the Theme & Logo page, there is an issue in the tracking URL for the Visit the theme catalog button.

New URL in 1.7.6.0 and 1.7.6.1 is :
![image](https://user-images.githubusercontent.com/35263827/64971895-9e182a80-d8a8-11e9-9ade-ee5defd272d2.png)

There is a "?" missing between "template-prestashop" and "utm_source".
We should add it back.

[2019-09-16 15:40] mariem-abid commented on #15560
@rflorent, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-09-16 15:49] colinegin opened #15567 "Improve pop up information on Category deletion"
The information displayed in the pop-up when removing a category is not clear, we should improve the content to make it more understandable.
![image](https://user-images.githubusercontent.com/35263827/64972811-34991b80-d8aa-11e9-9a2e-2a87075491b1.png)

For instance, there is no information about what is happening for products which belong to 2 different categories when one of them is deleted.

[2019-09-16 16:57] tfayolle commented on #9739
Hi,
I have the same problem when the field is not a default prestashop field the value is set to default on this method `fillWith` on the class AbstractForm.

[code]

Then for solve this I check if the value is empty.

[code]

[2019-09-16 17:51] antoniopineapple commented on #11795
Hi there is it possible link the number of text field to the quantity? so for example 1 item > 1 text field
2 item 2 text field appears etc etc

[2019-09-16 17:53] vortexfoto opened #15569 "Missing tables in mysql after update"
Hello
I have discovered strange error. First dashboard went to 0. When i investigated i foun that i cannot access in admin area localization currencies it gave me error 500
i enabled debug mode and found out that some tables are missing

report:
An exception occurred while executing 'SELECT c.`id_currency`, c.`iso_code`, cs.`conversion_rate`, c.`active`, cl.`name`, cl.`symbol` FROM prsta342_curren

[2019-09-16 20:11] matks opened #15570 "To speed up tests: database swapper"
**Is your feature request related to a problem? Please describe.**
Because of its size and config, it's quite long to reset the database between each integration tests*. So we have implemented a few workarounds to avoid some resets, tried to organize scenarios so we dont reset database all the time ... but this will not scale well.

*Integration tests need a database reset between each test/scenar

[2019-09-16 23:41] gafonso10 commented on #9599
Hi Kyle,

I don't quite understand the changes you made. Can you upload the complete file?

[2019-09-17 02:14] namkynam commented on #15547
@mariem-abid Hi,
I'm using default Prestashop download from prestashop.com.
I can send you BO, Cpanel information directly via email if you need it.
Thank you!

[2019-09-17 02:18] #15540 closed, assigned to nobody

[2019-09-17 02:20] dtwfung commented on #15540
@mariem-abid  Yes, solved.

[2019-09-17 08:07] marionf commented on #15528
@khouloudbelguith

This is the wanted behavior. You just display the price tax excluded for a customer group only (not for the merchant) but the customer pay the price tax included if taxes are enabled.

![capture d'écran_1992](https://user-images.githubusercontent.com/13449658/64959452-71a4e400-d891-11e9-843f-e03843931e35.png)

So, the merchant should see the real price paid by the customer (tax

[2019-09-17 08:12] PierreRambaud commented on #15538
Duplicate of #14044

[2019-09-17 08:12] #15538 closed, assigned to nobody

[2019-09-17 08:15] napsterrahul1 opened #15572 "Intl extension is not loaded"
in mac intl error is big issue not working with any xampp 7.3,7.2.7 or 5.6 as well tried all solutions but not working at all

[2019-09-17 08:31] khouloudbelguith commented on #15528
Hi @marionf,

No, this is a different issue.
In the BO => Orders => Order details page
1. Before updating the quantity
![image](https://user-images.githubusercontent.com/16067358/65024893-92227c00-d92d-11e9-928a-379e110efd38.png)
2. After updating the quantity
![image](https://user-images.githubusercontent.com/16067358/65024971-b8481c00-d92d-11e9-894d-611791260854.png)
3. After reloading the page

[2019-09-17 08:35] khouloudbelguith commented on #15572
Hi @cakeph,

During the installation of your PrestaShop version, you have warning that the intl should be installed & enabled?

Thanks!

[2019-09-17 08:38] itroom-agence opened #15573 "APCu"
Hy,

we have some issues with APCu

**Describe the bug**
When APCu is enabled, Prestashop seems to allways feed the cache. Even with 8Go allowed for the cache, it end with a crash because of 100% fragmentation.
According to our web host, the allowed cache space does'nt need to be so huge. The user cache entries has too many entries (currently more than 60000 for 13000 pages).

When the site is dow

[2019-09-17 08:44] shawe commented on #15535
All data I need is yet inside Order, Customer or Employee tables, I don't really need to create an extra table to do that, because this implies to generates duplicate data that tecnically is not needed.

For me it's a bug, the unique problem is that the "must be" condition, seems to not be aplicable on some core parts, or simply is not a requirement and this causes inconsistencies like this becaus

[2019-09-17 09:00] cakeph commented on #15572
hi currently i am working with php 7.2.7 but its shows error intl is not loaded i uncomment the int_php.dll but the error still exist in mac

[2019-09-17 09:01] marionf commented on #15528
Sorry @khouloudbelguith

I didn't understand well the issue

[2019-09-17 09:04] khouloudbelguith commented on #15572
@cakeph, it is a server issue.

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to t

[2019-09-17 09:07] khouloudbelguith commented on #9739
Hi @tfayolle,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-09-17 09:12] khouloudbelguith commented on #15547
Hi @namkynam,

Thanks for your feedback.
When debug mode is enabled => there is no exception displayed?

Thanks!

[2019-09-17 09:14] marionf commented on #15528
@MatShir Maybe this one can be solved during the migration of order page ?

[2019-09-17 09:15] khouloudbelguith commented on #15572
@cakeph, so in your server, intl is not installed or enabled.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration.
I find this [link](http://budiirawan.com/install-php-intl-extension-os-x/)
I hope this helps you to solve the issue.
I close this ticket, feel free to open a new one when needed
Thanks!

[2019-09-17 09:15] #15572 closed, assigned to nobody

[2019-09-17 09:29] namkynam commented on #15547
Hi @khouloudbelguith,
I have attached console with Firefox.
Please check. Debug mode enabled and no errors are displayed.

[2019-09-17 09:33] khouloudbelguith commented on #15573
Hi @itroom-agence,

Thanks for your report.
Here is a [link](https://devdocs.prestashop.com/1.7/scale/optimizations/) to Optimize your PrestaShop performance.
There is a Prestashop module that is promising for APCu.
https://dh42.com/free-prestashop-modules/apcu-manager/

Thanks to check & feedback.

[2019-09-17 09:40] itroom-agence commented on #15573
Thanks for your reply.
We allready checked the optimisation page and everything seems ok.
The module just display the APCu dashboard and does'nt have any impact on the configuration or performances.

[2019-09-17 09:51] TristanLDD commented on #15398
Thank you @Shoprunners for the suggestion, I think we have to make a mass edit option that allows you to moove a selection of products from initial position range to another :
![Capture d’écran 2019-09-17 à 11 47 42](https://user-images.githubusercontent.com/27484094/65031346-67dab980-d941-11e9-89f3-2ec941b355fa.png)

[2019-09-17 09:55] khouloudbelguith commented on #15573
@itroom-agence,
When APC is installed on your server, no additional configuration is required on your part. APC works at the webserver level, so PrestaShop itself does not require any special configuration to take advantage of the performance benefits.

Thanks!

[2019-09-17 09:57] khouloudbelguith commented on #15547
@namkynam, in the files attached, I couldn't find errors.
You need to enable debug mode in your store and debug request which is sent for translation save in your browser, using DevTools, so:

1. enable debug mode
2. go to the translation page
3. open up developer tools
4. go to Network tab
5. save the translation
6. wait for an error, you should see red request information in Network tab
7. click

[2019-09-17 10:03] khouloudbelguith commented on #15527
@01park, great!
Since it is fixed.
I close the issue.
Feel free to open a new one when needed.

Thanks!

[2019-09-17 10:03] #15527 closed, assigned to nobody

[2019-09-17 10:38] 01park commented on #15527
Hi @khouloudbelguith

This is a different topic, but I still have problems with the automatic index of products.

- After saving a product, the index does not get updated
- After rebuilding entire index back office freezes until I get a 404 page.
- After using a cron job to rebuild entire index nothing happens

Also, when generating new thumbnails BO freezes until I get a 404 page.

The same happe

[2019-09-17 10:41] khouloudbelguith commented on #15527
This issue is currently closed & it is different, can you open a new one with more information about your configuration.

Thanks!

[2019-09-17 11:17] khouloudbelguith commented on #15558
Hi @BrunoJunior,

What is the exact script did you use in this case?

In my, I used this script this script to add a tag via webservice
[code]
For your information: PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prest

[2019-09-17 11:20] khouloudbelguith commented on #15535
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-09-17 12:24] jf-viguier opened #15574 "Infinite loop and order blocked with two specific cart rules"
**Describe the bug**
Infinite loop and order blocked with two specific cart rules.

**To Reproduce**
Steps to reproduce the behavior:
With a fresh Prestashop 1.7.6.1 installation in debug mode. Follow this exactly in this order :
1. Go to BO/cart rules
2. Add a first cart rule without voucher code with 10€ HT gift
3. Add a product condition on "Home" Category and save
4. Add another cart rule with

[2019-09-17 13:06] UniversoSistemas commented on #11000
Hello everybody,

I arrived here because of such connection issue; I'd like to share my experience in case somebody can find it useful.

I'm not quite sure, but I think this is a bug: during installation I've put some password, and then at app/config/parameters.php the password had an extra '%' character after a specific '%' character that was already there. Neither /admin or homepage worked, obvi

[2019-09-17 13:10] khouloudbelguith commented on #11000
Hi @UniversoSistemas,

Similar issue reported here: https://github.com/PrestaShop/PrestaShop/issues/12556

Thanks!

[2019-09-17 13:13] matks commented on #11000
Yes it's unfortunately due to https://github.com/symfony/symfony-standard/issues/1084 😢

[2019-09-17 13:31] jolelievre commented on #15344
@colinegin Nope, my bad Wrong manipulation, I moved the wrong card
I switch them back!

[2019-09-17 14:05] khouloudbelguith commented on #15574
Hi @jf-viguier,

I manage to reproduce the issue with PS1.7.6.1 & develop branch & PS1.7.6.0.
![image](https://user-images.githubusercontent.com/16067358/65047228-feb37000-d959-11e9-80f0-000757a4c34a.png)
In the BO => Orders => Shopping cart page => Error 500
https://drive.google.com/file/d/1NF_01f5wjBDMQ4ko4XHn1VWuETOHuovH/view

With PS1.7.5.2 => OK

![image](https://user-images.githubusercontent

[2019-09-17 14:13] jf-viguier commented on #15574
Thanks @khouloudbelguith
I can provide by email a real world dump with 300 cart rules for your future tests.

[2019-09-17 14:29] ttoine commented on #15574
you are speaking about PR #12878, is this issue related to #11172

[2019-09-17 14:29] PierreRambaud commented on #15485
Closed with https://github.com/PrestaShop/ps_facetedsearch/pull/135
Will be released in 3.3.0

[2019-09-17 14:29] #15485 closed, assigned to nobody

[2019-09-17 14:32] PierreRambaud commented on #14377
Closed by https://github.com/PrestaShop/ps_facetedsearch/pull/118
Release in 3.2.0

[2019-09-17 14:32] #14377 closed, assigned to nobody

[2019-09-17 14:35] PierreRambaud commented on #15430
@Ortezjan Hi, any news? :sweat_smile:

[2019-09-17 14:44] marionf commented on #15425
@khouloudbelguith is it a regression of 1.7.6.0 or of ps_emailsubscription 2.5.0 ?
Do you have it with PS 1.7.5.2 & ps_emailsubscription 2.5.0 ?

[2019-09-17 14:52] khouloudbelguith commented on #15425
@marionf, it is a module regression.
Same issue with PS1.7.5.2 & ps_emailsubscription 2.5.0.

Thanks!

[2019-09-17 15:18] matks opened #15579 "Failing Travis builds on 1.7.5.x and 1.7.6.x branches"
**Describe the bug**
Failing Travis builds on 1.7.5.x and 1.7.6.x branches.

After one day of extensive travis builds debugging, I found the reason was this:
[code]

A malicious silent error in the setup.
A dpkg error related to latest chrome packages.

Thanks to our wonderful sysadmin for providing the solution: force install of `dpkg` to obtain latest version

[2019-09-17 15:18] matks commented on #15579
https://github.com/travis-ci/travis-ci/issues/9361

[2019-09-17 15:18] matks commented on #15579
https://github.com/travis-ci/travis-ci/issues/10132
https://stackoverflow.com/questions/57903415/travis-ci-chrome-62-instead-of-77

[2019-09-17 15:23] matks opened #15582 "Travis distrib is outdated"
**Describe the bug**
We use trusty, an outdated distrib version for Travis builds. We should upgrade to a more recent version.

https://stackoverflow.com/questions/57903415/travis-ci-chrome-62-instead-of-77

[2019-09-17 15:26] marionf commented on #15425
It was working also with ps_emailsubscription 2.4.0, so it's well a regression of 2.5.0

[2019-09-17 16:07] matks commented on #15579
Solution was here too https://github.com/EC-CUBE/eccube-2_13/pull/311/files

[2019-09-17 16:20] vortexfoto commented on #15569
huh strange log is empty
there was no errors everything completed ok

[2019-09-17 17:31] jolelievre commented on #14930
Yep just like many other modules I guess :P
Maybe we should add some filters in the `addJs` method to prevent the modules from adding a useless jquery version? (if it's an older version than 3.4.1)

[2019-09-17 20:15] 01park opened #15588 "Subcategory not found with category id when searched for - redirection with the reset button also"
In categories, when searching for a category based on category ID, name, description, position or displayed no results are found for subcategories.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Categories
2. Click on "View button", Check that you have more than a category
3. Search for a subcategory by ID, name, description, position or displayed
4. You are redirecte

[2019-09-17 20:30] #15477 closed, assigned to nobody

[2019-09-17 20:31] matks commented on #15477
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15512

[2019-09-17 20:47] #15529 closed, assigned to nobody

[2019-09-18 03:01] namkynam commented on #15547
Hi @khouloudbelguith
debug mode is enabled
Network tab is return the same 404(attached image)

![network-console-tab](https://user-images.githubusercontent.com/19523750/65104237-024b0380-d9fb-11e9-9bff-a05bbc7db40f.png)

[2019-09-18 07:33] guirou62 commented on #15444
I found the same way on the page to add an order from the BO.

I have the same informations (carts and orders) from 2016. Actually, we don't have same products as now, many things/products have changed.

Maybe it will be easier to print the 10/20 last orders/carts and add 10 by 10 with Ajax or something like that.

[2019-09-18 07:34] khouloudbelguith commented on #15141
Hi @Borgas,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-18 07:34] #15141 closed, assigned to nobody

[2019-09-18 07:35] khouloudbelguith commented on #15149
Hi @jitendra-cygnet,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-18 07:35] #15149 closed, assigned to nobody

[2019-09-18 07:36] khouloudbelguith commented on #15157
Hi @maarlok,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-18 07:36] #15157 closed, assigned to nobody

[2019-09-18 07:36] marionf commented on #15444
@TristanLDD

This improvement is about customer view page & order add page, wdyt about adding a "number of items" with a dropdown like this and/or pagination system:

![capture d'écran_1998](https://user-images.githubusercontent.com/13449658/65127420-a632b000-d9f7-11e9-922e-637e6a9e1b3a.png)

![capture d'écran_1997](https://user-images.githubusercontent.com/13449658/65126654-3fad9200-d9f7-11e9-9ee

[2019-09-18 07:59] khouloudbelguith commented on #15588
Hi @01park,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.0 & PS1.7.5.2.
https://drive.google.com/file/d/1CxBBaK0rbktohMYdbJlp6sWM97mrIeHX/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Ping @matks this issue is not fixed
https://github.com/Pres

[2019-09-18 08:01] khouloudbelguith commented on #10747
Hi!

This issue occurs again with PS1.7.6.1 & PS1.7.6.0.
Issue is reported here: https://github.com/PrestaShop/PrestaShop/issues/15588

Thanks!

[2019-09-18 08:02] PierreRambaud commented on #9684
New release: https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v3.3.0

[2019-09-18 08:09] khouloudbelguith commented on #15569
@vortexfoto, what is the exact version of the module 1-click upgrade did you use?

Thanks!

[2019-09-18 08:14] khouloudbelguith commented on #15547
@namkynam,

Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-09-18 08:27] namkynam commented on #15547
Thank you for help! @khouloudbelguith
I have just sent you Cpanel + BO access information via your mail.

[2019-09-18 08:27] MathiasReker opened #15591 "Faceted search build is missing"
For faceted search, v. 3.3.0: Build for production is missing: https://github.com/PrestaShop/ps_facetedsearch/releases

Ping  @PierreRambaud

[2019-09-18 08:30] matks commented on #12461
I just realized we'll have to handle compatibility with both core and native modules 😭

[2019-09-18 08:31] PierreRambaud commented on #15591
It will be adding during the day :wink:

[2019-09-18 08:51] PierreRambaud commented on #12461
Of course, but doesn't mean a module can't be compatible with older PS versions or PHP versions :)

[2019-09-18 08:51] marionf commented on #15384
Hello @Hlavtox

There is already a "price-drop" page with all discounted products
I think usually, "on sale" flag is used for discounted products
By the way, it's not legal to display an "on sale" flag if the product isn't discounted

[2019-09-18 09:02] GuimDotCom opened #15592 "Invalid token in BO with Nginx and SSL"
**Describe the bug**
Navigate to Catalog > Product, when I edit a product or create one, I'm redirected to /index.php/security/compromised with invalid token message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO
2. Click on Catalog > Product
3. Click on a product
4. See error

**How to resolve**
Seems that if I add the line below in admin/index.php it works:
`
if(isset($_SERVER['

[2019-09-18 09:04] eternoendless opened #15593 "Rewrite Github action in yaml"
According to Github:

Source: https://github.blog/changelog/2019-09-17-github-actions-will-stop-running-workflows-written-in-hcl/

This means either rewriting or removing this file: https://github.com/PrestaShop/PrestaShop/blob/develop/.github/main.workflow

[2019-09-18 09:13] vortexfoto commented on #15569
it was removed and installed new version from prestashop i think 4.9 butnot sure, but 100% it was the latest

problem is that i cannot do rolback - 2 weeks of shop data
i need to manually fix database
tnx

[2019-09-18 09:14] Hlavtox commented on #15384
@marionf

Price-drop displays only discounted products. As you say, on-sale is something completely different. You usually put on-sale to stuff you want to get rid of and sell as a priority.

What's legal or not depends on the state you sell in and also, it depend's on the wording. On sale = selling out of stock, it doesn't neccessarily mean the stuff is discounted, you can just indicate that you

[2019-09-18 09:20] khouloudbelguith commented on #15569
@vortexfoto, you can check if there are missing columns in your database schema.
You can find the full schema for 1.7.6.1 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/install-dev/data/db_structure.sql

Thanks!

[2019-09-18 09:21] PierreRambaud commented on #15591
Done!

[2019-09-18 09:21] #15591 closed, assigned to nobody

[2019-09-18 09:28] khouloudbelguith commented on #15547
@namkynam, Thanks!
I just received the email, I will check & feedback.

[2019-09-18 09:31] MathiasReker commented on #15591
Thanks :)

[2019-09-18 09:37] idnovate opened #15594 "Hook position not inserted in ps_hook table by default"
**Describe the bug**
There's hook `displayCheckoutSummaryTop` at `/themes/classic/templates/checkout/_partials/cart-summary.tpl` template.

This hook is not in `ps_hook` table, so it doesn't appear in the dropdown at `Design -> Positions -> Transplant a module` and therefore can not be inserted.

**To Reproduce**
1. Add the following function to a module:

[code]
2. Go to `Design -> Positions -> T

[2019-09-18 09:38] idnovate commented on #15594
**Fix**
Execute the following query:

[code]

Where could this be added to be executed in the upgrading scripts?

[2019-09-18 09:44] LaureMatou opened #15595 "Error 500 in BO with ps_shoppingcart"
No access to Back-office with an error 500

The error is

When uninstalling ps_shoppingcart and reinstalling it, BO becomes accessible again

**To Reproduce**
No real reproduction scheme
But the issue seems to have happened before:

- https://www.prestashop.com/forums/topic/597034-exception-in-cartpresenterphp-line-273/
- https://www.prestashop.com/forums/topic/618791-cannot-access-my-dashboard/

[2019-09-18 09:49] khouloudbelguith commented on #15594
Hi @idnovate,

I did not manage to reproduce the issue with PS1.7.6.1.
[code]
I just added this function into a module & I reset it.
![image](https://user-images.githubusercontent.com/16067358/65137816-e565fe80-da01-11e9-9112-18540fe993c7.png)

Thanks to check & feedback.

[2019-09-18 09:54] idnovate commented on #15594
Have you used `registerHook('displayCheckoutSummaryTop')`?

[2019-09-18 10:00] khouloudbelguith commented on #15594
@idnovate, yes!

[2019-09-18 10:03] cemalarik opened #15596 "Removing an Attribute from a Product - Inactive Attributes are Listed in Monitoring Page"
Hi,

When I remove a product attribute, it is OK.
But when I check page:
Catalog -> Monitoring -> "LIST OF PRODUCTS WITH COMBINATIONS BUT WITHOUT AVAILABLE QUANTITIES FOR SALE: ", this attribute is still listed (stok is not available).

Thanks

[2019-09-18 10:04] khouloudbelguith commented on #15595
Hi @LaureMatou,

Did you manage in your case to reproduce the issue with Ready shop?

Thanks!

[2019-09-18 10:07] LaureMatou commented on #15595
Yes @khouloudbelguith , it was reproduced with a Ready shop in 1.7.5.2.
We fixed the bug by uninstalling ps_shoppingcart and reinstalling it (no more error 500)

[2019-09-18 10:08] matks commented on #15425
Found the issue, indeed it works on develop (= it works with PS > 1.7.7) thanks to PR https://github.com/PrestaShop/PrestaShop/pull/14937

[2019-09-18 10:08] matks commented on #15425
@pierreloicq a fix is on its way, see https://github.com/PrestaShop/ps_emailsubscription/pull/41/commits/f0c60d4d36348c5e663517a5b490fba020b85c76

[2019-09-18 10:09] khouloudbelguith commented on #15596
Hi @cemalarik,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1wLw-DmRlzmIlYHja_yQ6bvLAmcgOm-6w/view
What is the exact version PrestaShop Did you use?

Thanks!

[2019-09-18 10:11] cemalarik opened #15597 "Product Comments Admin Page - Too Many Reviews in a Single Page"
Hello I am using Prestashop version 1.7.6.1 and I have around 1200 product reviews at the moment.
If I want to check reviews for approval etc, this page takes huge time to load, because all review are listed in a single page.

Regarding the performance issues, this page must use pagination.

Thanks

[2019-09-18 10:13] pppplus commented on #12907
Hi, same thing for me, always present in 1.7.6.1
If you have 1000 products on a category, there will be 1000 requests, just to change date_upd product to 2 tables.

For me, I have each product in 4 categories.
So, this function just change in each category, for each product, the date_upd field.
Unusefull and a lot of time !

I test today on 1.7.6.1 :
- it takes more than 1mn per product to be dele

[2019-09-18 10:13] khouloudbelguith commented on #15595
@LaureMatou, can you provide the steps that you did before this issue occurs.
Any cart rule created?
Any specific product added to the cart?

I need to reproduce the issue with PrestaShop Core.

Thanks!

[2019-09-18 10:13] Miestre opened #15598 "Slow BO on listing products and in FO"
By the way im a noob on programing, and this issue is geting me crazy!
The webpage is slow on FO and BO, but only when load products, on he BO when we select list of products take almost 4 min to load!!
I allready enabled smarty cash, all ccc, cache...but can´t fix this...pls Help

This is the DEBUG when i try to see the products on BO.

![image](https://user-images.githubusercontent.com/55487556/

[2019-09-18 10:14] idnovate commented on #15594
Hehe this function inserts the hook when it doesn't exist :) Please just add `function hookDisplayCheckoutSummaryTop()` to a new or existing module and don't register it on install.

[2019-09-18 10:16] cemalarik commented on #15596
Hello,

I am using 1.7.6.1

In order to reproduce;

1. Add an attribute to a product.
2. Update that attribute's stock to zero and save.
3. Remove the attribute from product.
4. Check the result on Catalog -> Monitoring -> "LIST OF PRODUCTS WITH COMBINATIONS BUT WITHOUT AVAILABLE QUANTITIES FOR SALE: "

If the stock available is greater than zero for this attribute, it is not listed as expected.

[2019-09-18 10:25] khouloudbelguith commented on #15596
@cemalarik, I tried to follow all these steps, but it is OK
https://drive.google.com/file/d/1EkI7DzOeucsxzj0xzvhhC21g8SL07QJ0/view

Thanks!

[2019-09-18 10:28] Maofree opened #15599 "For extra themes is not possible to change the translations of Shop - Forms - Labels, it is possible only with classic theme"
Hi
a my customer needs to change some translations of the labels on address form like for company field from "Azienda" to "Società ed aziende" but it is possible only for the classic theme from the translation page going to Shop - Forms - Labels
because this field is managed from the file CustomerAddressFormatter.php
return $this->translator->trans('Company', [], 'Shop.Forms.Labels');
I've checked

[2019-09-18 10:34] khouloudbelguith commented on #15594
@idnovate,  the module does not do much. In order to display something on the front office, we have to add support for a few hooks. This is done by implementing the hooks’ methods, and that was actually done in the `install()` method we wrote earlier, using the `registerHook()` method.

Thanks!

[2019-09-18 10:42] idnovate commented on #15594
This is not how it works. It's inconsistent. Test the following:

1. Add both functions to a module:
[code]
2. Go to `Design -> Positions -> Transplant a module`
3. Check that you can transplant `DisplayCartExtraProductActions` but no `DisplayCheckoutSummaryTop`.

The dropdown check which hooks are defined in the module and display them in the dropdown. This has been working this way always, there

[2019-09-18 10:56] Rickiesee commented on #9888
Hi,
I'm having the same error on 1.7.4.4. How do I fix this error?
Thanks

[2019-09-18 11:00] khouloudbelguith commented on #15597
Hi @cemalarik,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-09-18 11:11] khouloudbelguith commented on #15594
@idnovate, I tried with those two functions & those two hooks are displayed.
![image](https://user-images.githubusercontent.com/16067358/65143643-68d91d00-da0d-11e9-8b56-de9d108a0977.png)

Thanks!

[2019-09-18 11:12] khouloudbelguith commented on #9888
Hi @Rickiesee,

Sorry, not fixed yet.
It is added to our bug roadmap.

Thanks!

[2019-09-18 11:16] khouloudbelguith commented on #15598
Hi @Miestre,

You can follow these steps:

- `Never recompile template files`: this option is to be chosen for maximum performance.
- `Cache enabled (YES)`: makes pages fastest.
- `Smart cache for CSS (YES)`: brings together in a single file, compresses and caches CSS files.
- `Smart cache for Javascript (YES)`: brings together in a single file, compresses and caches JS files.
- `Apache Optimizati

[2019-09-18 11:16] #15598 closed, assigned to nobody

[2019-09-18 11:26] maofree commented on #15599
hi
We have found that if those translations are changed in the classic theme these changes will be present also in the theme bought from addons.

[2019-09-18 11:26] cemalarik commented on #15596
It is strange. The only difference is that, I migrated my shop from 1.6.1.24 to 1.7.6.1.
I guess that causes the problem. So I close the issue for now.

Thanks

[2019-09-18 11:26] #15596 closed, assigned to nobody

[2019-09-18 11:28] khouloudbelguith commented on #15596
@cemalarik, feel free to open a new one needed.

Thanks!

[2019-09-18 11:30] khouloudbelguith commented on #15599
Hi @maofree,

Is it the same issue reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/15075?

Thanks!

[2019-09-18 11:34] idnovate commented on #15594
1. Install this module
[dummymodule.zip](https://github.com/PrestaShop/PrestaShop/files/3626123/dummymodule.zip)
2. Go to `Design -> Positions -> Transplant a module`
3. Select `dummymodule`
4. Check available hooks. It should appear both `DisplayCheckoutSummaryTop` and `DisplayCartExtraProductActions` hooks but it doesn't. `DisplayCheckoutSummaryTop` is not displayed.

![image](https://user-image

[2019-09-18 11:35] maofree commented on #15599
hi
I think no, because they solved that issue cleaning the cache, in this case the translations are about address fields present into CustomerAddressFormatter.php so they are not present in the themes.
these translations are only inside classic theme, but if we edit them from there they will be visible with other themes. This because are inside that php file

try to do a test

[2019-09-18 11:39] khouloudbelguith commented on #15547
@namkynam, did make any changes in the core PrestaShop?
Did you changed your `Shop domain` or `SSL domain`?
Because you are redirected to another shop
`https://xxx.com.vn/`
Your current shop is `http://xxxx.com.vn/checkfl/`
Did you enabled Multistore before & disable it?

Thanks!

[2019-09-18 12:02] Miestre commented on #15598
Thanks for the answer, i followed ur tips, but no sucess, i have de same problem :(

[2019-09-18 12:40] alumette37 commented on #14934
Hello Dear,
Did you debug or make a fix for it ?
I can not make by hand, i have shops with many articles.
Please let me know

[2019-09-18 13:08] kpodemski opened #15600 "Quick Access page is not available in the menu"
**Describe the bug**
We want to edit Quick Access section, but there's no link to this page in back-office, therefore this page is available when visiting below link directly.

link: http://yourdomain.com/admin-folder/index.php?controller=AdminQuickAccesses

**Additional information**
PrestaShop version: 1.7
PHP version: n/a

[2019-09-18 13:22] khouloudbelguith commented on #14934
Hi @alumette37,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2019-09-18 13:27] khouloudbelguith commented on #15600
Hi @kpodemski,

In your BO => Quick access => Manage quick accesses
![image](https://user-images.githubusercontent.com/16067358/65152728-6af8a700-da20-11e9-88e4-6442d4751726.png)

Thanks to check & feedback.

[2019-09-18 13:42] TristanLDD commented on #15597
Hi @cemalarik, thanks for your report

We took note of this problem and it will be fixed in the next version of the module along with other corrections. Unfortunately it's hard to give you a precise estimate of time as it still needs to be prioritized.

[2019-09-18 13:51] khouloudbelguith commented on #15594
@idnovate, thanks for this clarifications.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-09-18 13:56] idnovate commented on #15594
Actually the fix is this: https://github.com/PrestaShop/PrestaShop/issues/15594#issuecomment-532606917

[2019-09-18 14:12] LaureMatou opened #15602 "Module Customer follow-up (ps_reminder)"
Module ps_reminder does not work
Module provides with a URL to call manually or to add to a crontab, but the URL does not seem to work: it returns a 404 error

**To Reproduce**
Steps to reproduce the behavior:
1. Install ps_reminder
2. Try to configure it (we tested with easycron for instance)
3. Error 404

**Additional information**
PrestaShop version: 1.7.5.2 (Ready)
Module version: 2.0.0

[2019-09-18 14:17] khouloudbelguith commented on #9799
Same issue with PS1.7.6.1 & ps_reminder v2.0.0.

Thanks!

[2019-09-18 14:17] khouloudbelguith commented on #15602
Hi @LaureMatou,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9799
So, I close it.
Thanks!

[2019-09-18 14:17] #15602 closed, assigned to nobody

[2019-09-18 14:18] khouloudbelguith commented on #15602
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9799

[2019-09-18 14:32] khouloudbelguith commented on #15599
@maofree,

After updating the translations manually in the database.
For example, I tried to translate those labels => OK
![image](https://user-images.githubusercontent.com/16067358/65157700-10177d80-da29-11e9-80f6-2031757cfe2f.png)
![image](https://user-images.githubusercontent.com/16067358/65157765-28879800-da29-11e9-805d-14b1ca8ff43a.png)
I tried to search for the company field in the translati

[2019-09-18 14:43] khouloudbelguith commented on #15592
Hi @GuimDotCom,

Did you sed an example of the Nginx config file following this link: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/server_config/nginx.conf.dist?

Thanks!

[2019-09-18 14:51] matks commented on #15579
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15590

[2019-09-18 14:51] #15579 closed, assigned to nobody

[2019-09-18 14:51] matks commented on #15524
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15556 👏

[2019-09-18 14:51] #15524 closed, assigned to nobody

[2019-09-18 15:10] maofree commented on #15599
hi
the problems is only around the labels of those present into CustomerAddressFormatter.php like Company, first name, lasta name, vat number ...
at this moment it is possible to solve this problem translating them from the classic theme also if it is not the current theme

[2019-09-18 15:13] khouloudbelguith commented on #15599
@maofree,  In fact, the whole issue is that the Translations inherited (not physically present) in a theme aren't translatable for that theme.
This issue will be fixed in this ticket: https://github.com/PrestaShop/PrestaShop/issues/15075

Thanks!

[2019-09-18 15:19] sotirisa commented on #15469
Hi, do we know when this is gonna fix?

[2019-09-18 15:21] khouloudbelguith commented on #15469
Hi @sotirisa,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-09-18 15:41] MatShir commented on #15376
@jolelievre, Let's go for ISO and keep the same deleting behaviours as in the other case for a better UX.

Specs:
If I delete a currency, the CLDR has to hide the currency from the BO in the currency list but it must be kept to display the orders made in the deleted currency.
If no orders have been made with the currency, the currency can be definitely deleted

[2019-09-18 16:55] vortexfoto commented on #15569
any idea how to speed it up? maybe import database with skipping existing entries?

[2019-09-18 17:17] Hlavtox opened #15604 "Same translation with different cases cannot be translated"
If two strings exist in a code, with a same text, but different cases, they cannot be translated.

**To Reproduce**
Steps to reproduce the behavior:
1. `Shipping Method` - Shop.Theme.Checkout already exists in a template.
2. Add `{l s='Shipping method' d='Shop.Theme.Checkout'}` to a code.
3. Go to translations, search for Shipping method.
4. Translate both, save it.
5. Only one translation gets up

[2019-09-18 18:02] vortexfoto commented on #15569
i have checked table ps_meta it has id_meta defined
maybe you can help me locate the real problem....

[2019-09-18 18:31] vortexfoto commented on #15569
ah just fixed it
i found out that some function uses column id_meta instead of id_currency so i just added column id_meta to table ps_currency and everything appeared ok

[2019-09-18 19:26] #15569 closed, assigned to nobody

[2019-09-18 20:00] kpodemski commented on #15600
Aaaa, you're right, we have so many links there that I didn't notice this URL... ¯\_(ツ)_/¯

[2019-09-18 20:00] #15600 closed, assigned to nobody

[2019-09-18 21:01] Hlavtox commented on #15599
@khouloudbelguith The same case as in my case. Duplicate.

[2019-09-18 21:14] Hlavtox opened #15605 "Order as a guest > register with same email > order lost and cannot be tracked"
**How to reproduce**
1. Order something as a guest with a single email address.
2. Register yourself in the store as a customer with this email adress.
3. Log out.
4. Go to guest tracking and try to track the order you made with the guest customer.
5. Does not work and says "Log in to your customer account to track your order".
6. You log in. Order is not there.
7. The order cannot be tracked.

**

[2019-09-18 21:35] Hlavtox commented on #13002
@khouloudbelguith @matks

I saw the PR regarding issue, but maybe try this first.

When you look to CartRule.php - line 396, you will see `$sql .= ' UNION (SELECT ' . $sql_part1 . ' WHERE cr.`group_restriction` = 1 ' . $sql_part2 . ')';`

What this does is, that it adds to the list ALL RULES, that have SOME SORT of group restrictions enabled.

**If you comment out this line, the logic for group re

[2019-09-18 23:00] elmanu13 opened #15606 "forecast native module doesn't work"
The native "forecast" module in the dashboard gives a flat graph and doesn't save the parameters values

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard and see this flat graph
2. Click on parameters and fill some boxes, then save
3. see the still flat graph
4. come back to parameters, change the year (before or after) and go back to actual year : parameters gone !

**Addition

[2019-09-19 06:22] JBWModules opened #15607 "JS Sourcemap warning in FireFox"
Presta 1.7.6.1

There is a warning that sourcemap file core.js.map is missing in FireFox - this only occures if JS Smart Cache is turned off

![grafik](https://user-images.githubusercontent.com/47666330/65218315-82826f00-dab6-11e9-82ec-1ec085b59b6d.png)

If I remove the source map link in core.js line 234 the warning is gone.

[2019-09-19 07:28] tscharrm commented on #15595
@khouloudbelguith client said she tried to change the position of the shopping cart

[2019-09-19 07:31] khouloudbelguith commented on #15154
Hi @matteolavaggi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-19 07:31] #15154 closed, assigned to nobody

[2019-09-19 07:33] khouloudbelguith commented on #15123
Hi @fxzxmicah,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-19 07:33] #15123 closed, assigned to nobody

[2019-09-19 07:34] khouloudbelguith commented on #14973
Hi @matteolavaggi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-19 07:34] #14973 closed, assigned to nobody

[2019-09-19 07:34] khouloudbelguith commented on #14847
Hi @Flower7C3,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-19 07:34] #14847 closed, assigned to nobody

[2019-09-19 07:35] khouloudbelguith commented on #15169
Hi @01park,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-09-19 07:38] khouloudbelguith commented on #15604
Hi @Hlavtox,

Here's a PR: https://github.com/PrestaShop/PrestaShop/pull/15511 to fix the issue.
Your ticket is a duplicate of #10701
So, I close it.
Thanks!

[2019-09-19 07:38] #15604 closed, assigned to nobody

[2019-09-19 07:38] khouloudbelguith commented on #15604
Duplicate of #10701

[2019-09-19 08:06] khouloudbelguith commented on #15605
Hi @Hlavtox,

Thanks for your report.
We are aware of these issues.
In fact, the Guest account is not transformed into a customer account, it creates a second account
Issue reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/10122
Also, guest tracking issue as reported here: https://github.com/PrestaShop/PrestaShop/issues/9650#issuecomment-415055890
Thanks to check & feedback.

[2019-09-19 08:17] khouloudbelguith commented on #15600
@kpodemski, Thanks!
Feel free to open a new one when needed.

[2019-09-19 08:24] pantagru opened #15608 "Faceted Search and Pagination"
**Describe the bug**
Problem with faceted search module in connection with pagination, using price filter.
If I use the pagination in a category, moving to last results page and I try to filter by price, the URL maintain de page reference (…page=3…), so the result is for example one product found, but not showed because is not at the page 3.
No problem using others filters in faceted search, the p

[2019-09-19 08:24] khouloudbelguith commented on #15595
@tscharrm, I tried to change the position of the module ps_shoppingcart module in the `displayNav2` & `Header`, but it is OK. with PS1.7.5.2.
What is the exact version did you use of the ps_shoppingcart module before uninstalling it?

Thanks!

[2019-09-19 08:41] khouloudbelguith commented on #15608
Hi @pantagru,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & ps_facetedsearch v3.3.0.
https://drive.google.com/file/d/13G1wQXF-qBfgxOF2ukZu6Pzg6iiim1S4/view
Same issue with PS1.7.6.1 & ps_facetedsearch v3.0.6.
Same issue with PS1.7.5.2 & ps_facetedesarch v3.3.0.
It was OK with PS1.7.5.2 & ps_facetedsearch v2.2.0.
https://drive.google.com/file/d/1a3xPVQAjOGm_y6P9du3esWoHe

[2019-09-19 08:42] khouloudbelguith commented on #15608
Ping @PierreRambaud

[2019-09-19 08:43] pantagru opened #15609 "Faceted search and manufacturer name"
**Describe the bug**
Faceted search module in connection with manufacturer name added to product.tpl.
I’ve added {$product.manufacturer_name} in product.tpl to show manufacturer name into the product miniature.
Everywhere this code works fine, except where I have activeted faceted search into the page. In this case the manufacturer name not appears, {$product.manufacturer_name} doesn’t work anymor

[2019-09-19 08:49] khouloudbelguith commented on #15599
Hi @maofree,

Your ticket is a duplicate of #15075
So, I close it.
Thanks!

[2019-09-19 08:49] #15599 closed, assigned to nobody

[2019-09-19 08:49] khouloudbelguith commented on #15599
Duplicate of #15075

[2019-09-19 09:02] khouloudbelguith commented on #15609
Hi @pantagru,

For your information, we just released a new version of the module ps_fecetedsearch => v3.3.0.
https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v3.3.0
I tried with PS1.7.6.1 your modification.
![image](https://user-images.githubusercontent.com/16067358/65229607-730a2280-dac4-11e9-9acc-c26ab724199f.png)
I tried to navigate to the FO => Category page => an exception display

[2019-09-19 09:08] khouloudbelguith commented on #15606
Hi @elmanu13,

For your information: PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
W

[2019-09-19 09:08] #15606 closed, assigned to nobody

[2019-09-19 09:08] khouloudbelguith commented on #15606
Duplicate of #9662

[2019-09-19 09:08] matks commented on #15528
@marionf Yes, PR https://github.com/PrestaShop/PrestaShop/pull/8493 provides a solution for legacy page, so it will be easy for us to re-apply the fix to the migrated page

[2019-09-19 09:10] LaureMatou commented on #15595
@khouloudbelguith  I think it was v. 2.0.2

[2019-09-19 09:14] elmanu13 commented on #15606
Thanks for the information about PHP versions. It was not working with 7.1 and 7.2 anyway ;-)
I'll try the solution in the #9662 of wait until it's solved.
Thanks again !

[2019-09-19 09:17] khouloudbelguith commented on #15607
Hi @JBWModules,

I did not manage to reproduce the issue with PS1.7.6.1 & Firefox browser v64.0.2 & chrome browser v69.0.3497.81.
I attached a screen record
https://drive.google.com/file/d/1fass7Vj3xieuanDQRd-wcHk-qQTkQFUY/view
Thanks to check & feedback.

[2019-09-19 09:19] jf-viguier opened #15610 "console cache:clear command doesn't reload overrides"
**Describe the bug**
When using commande line cache:clear, the class_index.php is not regenerated.
The command should completly clear the cache like the clear cache button of the BO.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an override in override/ folder
2. Clear the cache on command line : php -d memory_limit=-1 ./bin/console cache:clear
3. The override is not used
4. Clear the

[2019-09-19 09:24] JBWModules commented on #15607
Did you switch off JS smart cache before as mentioned?

[2019-09-19 09:28] khouloudbelguith commented on #15607
@JBWModules, yes!
https://drive.google.com/file/d/1CtmojZdYXQmupnzGAbxn6BUviYNNpVGm/view
Thanks!

[2019-09-19 09:34] #9932 closed, assigned to matthieu-rolland

[2019-09-19 09:40] JBWModules commented on #15607
I'm using firefox 69.0.1 and can reproduce the behaviour on 1.7.6.1 installation on other server (localhost). No warning/error in chrome

[2019-09-19 10:03] khouloudbelguith commented on #15610
Hi @jf-viguier,

I manage to reproduce the issue with PS1.7.6.1.
This issue is blocked by this problem: https://github.com/PrestaShop/PrestaShop/issues/15324
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15515 to fix the issue.
I tried with this PR & it is OK for me.
Your ticket is a duplicate of #15324
So, I close it.
Thanks!

[2019-09-19 10:03] #15610 closed, assigned to nobody

[2019-09-19 10:04] khouloudbelguith commented on #15610
Duplicate of #15324

[2019-09-19 10:05] khouloudbelguith commented on #15569
@vortexfoto, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-09-19 10:21] khouloudbelguith commented on #15595
@LaureMatou, Thanks!
Same version, but it is OK after changing positions.
https://drive.google.com/file/d/1MA9P3wuO4R3YaY-dcwOLbkFHWUULzq6K/view
@tscharrm, any other information, could help me to reproduce the issue?

Thanks!

[2019-09-19 10:23] khouloudbelguith commented on #15607
@JBWModules, Friendly URL is enabled or disabled in your case?

Thanks!

[2019-09-19 10:26] JBWModules commented on #15607
It's enabled

[2019-09-19 10:41] khouloudbelguith commented on #15607
@JBWModules, I tried with FireFox v69 & it is OK
https://drive.google.com/file/d/10Q44xkgMZjKe9h1hpsBk1-A4Xj8UNnRK/view

Thanks!

[2019-09-19 11:22] elrosi opened #15612 "Prestashop 1.7.5.2 Translations not working"
I have a smartblog module, and the text translations do not work at all in it. In PHP scripts, neither of these codes works:

class smartblog extends Module {

public $nrl;

public function __construct() {

        $this->nrl = $this->trans('Name is required.', array(), 'Modules.Smartblog.Shop');
        $this->nrl = $this->trans('Name is required.', array(), 'Modules.Smartblog');
        $this->n

[2019-09-19 11:37] khouloudbelguith commented on #15612
Hi @elrosi,

Thanks for your report.
I tried with PS1.7.5.2 & this demo module & translations => OK
[translationbug.zip](https://github.com/PrestaShop/PrestaShop/files/3630987/translationbug.zip)
Thanks to check & feedback.

[2019-09-19 11:38] matks commented on #15318
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15382

[2019-09-19 11:38] #15318 closed, assigned to nobody

[2019-09-19 11:38] matks commented on #15333
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15382

[2019-09-19 11:38] #15333 closed, assigned to nobody

[2019-09-19 11:39] mreco opened #15613 "hreflang missing return link"
Hello. In version 1.7.5.2, all products that have attributes in the hreflang test report the error "hreflang missing return link". Example on this page https://yourobsession.pl/rajstopy-i-ponczochy/12096-5665-subirata-15-den-mocca-livco-corsetti-fashion.html#/91-rozmiar-2.
The hreflang links do not have the second number which I marked in red on the screen in the attachment. This is probably the i

[2019-09-19 11:50] Hlavtox commented on #15605
Hi @khouloudbelguith

Yes, you are right. Sorry for duplicate post.
So, either close it or maybe leave it open for discussion. I think it states the problem in a "cleaner way".

[2019-09-19 12:27] khouloudbelguith commented on #15605
@Hlavtox,

Sorry, since it is a duplicate, we need to close it.
Your ticket is a duplicate of #10122 &  #9650.
So, I close it.
Thanks!

[2019-09-19 12:41] dineshbadrukhiya commented on #12241
In order to get cover image of product on product listing we can modify code as below in file themes/classic/templates/catalog/_partials/miniatures/product.tpl

Current code:

[code]

Modified code:
[code]

[2019-09-19 12:46] CaseOnline commented on #12241
Hi Dinesh,

I think that what Piyush implemented?? He got cover picture to show on products in Front but when view product all tiny pictures not showing when have combinations.
Only show assigned color when click on diffrent combination colors.

You think your code will also show tumbnails (tiny pictures) under product picture? As in ps 1.6?

Thanks
Tony

Tony Hörnberg
CaseOnline Sweden AB

phone:

[2019-09-19 12:48] khouloudbelguith commented on #15613
Hi @mreco,

I have the same behavior as PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/65245175-0010a400-dae4-11e9-9875-85edd7972fa1.png)

What is the exact tool did you sed to test this?

Thanks!

[2019-09-19 12:49] mreco commented on #15613
https://technicalseo.com/tools/hreflang/

[2019-09-19 13:07] khouloudbelguith commented on #15613
@mreco, I tried with this link, but it is OK
http://unsuitable-afternoon.machine-shuffle.prestashop.net/en/men/1-hummingbird-printed-t-shirt.html
There's no warning: "hreflang missing return link".
![image](https://user-images.githubusercontent.com/16067358/65246545-b83f4c00-dae6-11e9-9baa-d6f8f1753517.png)

Thanks to check & feedback.

[2019-09-19 13:13] mreco commented on #15613
Yes the link you provided is ok. There are no errors. However, I am using an earlier version of prestashop 1.7.5.2. Can you tell me what was changed in version 1.7.6.1 and what has to do with the hreflang attribute? Can an error cause a template? How to solve my problem?

[2019-09-19 13:15] khouloudbelguith commented on #15613
@mreco, this shop version is PS1.7.6.0.
Here's the changelog of PS1.7.6.0 & PS1.7.6.1.
https://assets.prestashop2.com/en/system/files/ps_releases/changelog_1.7.6.0.txt
https://assets.prestashop2.com/en/system/files/ps_releases/changelog_1.7.6.1.txt

Thanks!