[2020-09-23 14:27] jonpontet commented on #21118
Unfortunately, I _can_ create the root category, but **it is not visible afterwards**

[2020-09-23 14:53] Sinepel commented on #21113
Hi! Thank you for your issue.
What control would you like to implement ? It's quite complicated to determine.

No date before 1900?

Thanks !

[2020-09-23 15:12] Julievrz commented on #19454
@MatShir I modified a bit the wording following @LouiseBonnard 's good advice 👍

"We advise you to modify the quantity directly in the [1]Catalog > Stocks[/1] section of the back office to avoid stock imbalance." in Shop.Notifications.Warning.

[2020-09-23 15:52] MatShir commented on #21105
Indeed it is a nice idea, we just need to keep in mind to make it optional.

[2020-09-23 16:07] LocalHeroPro opened #21126 "Can't send e-mail because of incomplete SMTP configuration form"
#### Describe the bug

https://github.com/PrestaShop/PrestaShop/issues/21108

It's don't resolve issue.
Your system in random way get sender address from:

Add ability to define in proper way sender address in Email settings.
Right now is pointless.

[2020-09-23 16:11] LocalHeroPro commented on #21108
They paying for you for closing unresolved issues?

[2020-09-23 16:30] 202-ecommerce opened #21127 "Problem displaying basket discounts"
#### Description of the bug

When creating two discount rules, one applies to a category that takes into account discounted products. The other applies to the entire basket but not to discounted products.
 The value displayed in the basket for the first discount rule is not correct.

See Screenshot

![image](https://user-images.githubusercontent.com/4932192/94030478-25eb1b80-fdbe-11ea-8c25-d7d0c77

[2020-09-23 17:21] Bewitching-Co opened #21128 "Category Tree links: When "home" is category root, "Home" link directs to www.mysite.com/2-home"
#### Describe the bug

Category Tree links module: When Home is selected as category root, the "Home" link in FO directs to www.MYSITE.com/2-home. There is no "2-home" page and it delivers the 404 error page.
Home link in breadcrumbs works properly.
Inspect shows the following:
`[<ul class="category-top-menu">
    <li><a class="text-uppercase h6" href="https://www.MYWEBSITE.com/2-home">Home</a></l

[2020-09-23 18:47] msaustral opened #21129 "Dashboard trends module not working PS 1.7.6.7"
Hi after updating to PS 1.7.6.7 the sale chart stop showing sales

PS 1.7.6.7
PHP 7.2.33
Ps statistics module v. 2.0.3
Ps sale and order STT v. 2.0.0

![image](https://user-images.githubusercontent.com/46203943/94055640-a6584f00-fdb3-11ea-80fc-00cd09bda704.png)

![image](https://user-images.githubusercontent.com/46203943/94055936-f9ca9d00-fdb3-11ea-8565-d29a0a246fc8.png)

[2020-09-24 04:20] fkomaralp opened #21130 "Prestashop payment module controller loging out automatically sometimes"
Hi, I'm writing a prestashop offline payment module for version **1.7 >** . Module is using 4 front controllers.

First payment.php is making a creadit card form for the customer.
validation.php Is making requests for a bank. Working with payment.php controller file.
There is two controller is triggering by the bank. OnError.php and OnSuccess.php. My problem is on the OnSuccess.php

OnSuccess.php

[2020-09-24 06:15] waschier-design commented on #21077
Thinking of pagespeed the actual version of prestashop is not very fast.
Desktop is not very good. But mobile is a totally performance desaster.
You need a lot of work to get good speed results.

I think this should be one of the most important things to work on the next version of PrestaShop.

[2020-09-24 07:15] SimonGrn commented on #21126
Hello,

this kind of comment

is not appropried. Please Remember we are an open source project, and we have a [Code of Conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).

@sarahdib explained to you how the system works, if you think this is worthy of an improvement please open a CORRECT issue about improvement or create a Pull Request yourself, project maintainers

[2020-09-24 07:15] #21126 closed, assigned to nobody

[2020-09-24 07:17] SimonGrn commented on #21130
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-09-24 07:17] #21130 closed, assigned to nobody

[2020-09-24 07:41] florine2623 commented on #21119
Hi @LSHRVM ,
Thanks for the suggestion ! Please stay tuned.

[2020-09-24 07:42] florine2623 commented on #21119
Hi @PrestaShop/product-team ,
What do you think of having one attachment per combination ?
Thanks !

[2020-09-24 07:54] Progi1984 commented on #17847
@marionf No more checkbox. ;)

[2020-09-24 08:08] fedetibaldo commented on #21112
Sure thing! I'll put something together over the course of the weekend.

[2020-09-24 08:09] Varindien commented on #15369
👍

[2020-09-24 08:11] crv248 opened #21131 "Ps_facetedsearch - Problem with ordering products and using the option "Show products from subcategories"."
#### Describe the bug

When the "Show products from subcategories" option is actived I tried to order the category products and when I'm in a parent category the order is wrong, then in a child category the order it's ok. I tried this [https://github.com/PrestaShop/PrestaShop/issues/15062](url) but doesn't works for me.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Module configur

[2020-09-24 08:22] fedetibaldo opened #21132 "Invalid SQL Statement During Update Of Table With Decimal Columns"
#### Describe the bug

When you run the suggested command `php bin/console prestashop:schema:update-without-foreign`, the ALTER queries produce invalid SQL statements for all those tables that have decimal values in them. With decimal values, I mean entity properties like the following:
[code]

When the tool runs the update query, this is what happens:
[code]
#### Expected behavior

It should work

[2020-09-24 08:24] Cricchio commented on #21077
@waschier-design I agree with you.

[2020-09-24 08:27] djbuch commented on #10381
This is still a problem when developping a site, the profiler folder is growing very big....

[2020-09-24 08:29] florine2623 commented on #21118
Hi @jonpontet ,
I can't reproduce the issue.
I can add a root category from the link provided (_please click here_ link).

In Catalog > Category, you can choose to add a new root category and it will display in the dropdown menu in the multistore options.
![Capture d’écran 2020-09-24 à 10 27 44](https://user-images.githubusercontent.com/16019289/94120634-a5292f80-fe50-11ea-87be-bc7f889c3b07.png)

[2020-09-24 08:29] #21118 closed, assigned to nobody

[2020-09-24 08:38] #17847 closed, assigned to sowbiba

[2020-09-24 08:46] Progi1984 commented on #17847
:muscle: @marionf

[2020-09-24 08:48] dutraveller opened #21133 "Can't integrate gmail on prestashop 1.4.6.2"
Hello, I've tried everything that I've searched on internet and still can't get working a test email on my admin panel to use gmail.

These are the errors:

The SMTP connection failed to start [tls://smtp.gmail.com:587]: fsockopen returned Error Number 0 and Error String ''
[ssl://smtp.gmail.com:465]: fsockopen returned Error Number 110 and Error String 'Connection timed out'

I've added the gmail

[2020-09-24 08:51] florine2623 commented on #21128
Hi @Bewitching-Co ,
I can't reproduce your issue in PS 1.7.6.7 with the same configuration of Category Tree module.
The breadcrumb redirects to your homepage.
The Home link redirect to the products in your home category.
![Capture d’écran 2020-09-24 à 10 47 19](https://user-images.githubusercontent.com/16019289/94122960-7a8ca600-fe53-11ea-9b49-407001a78717.png)

You can also configure the Friend

[2020-09-24 08:51] #21128 closed, assigned to nobody

[2020-09-24 08:55] crv248 commented on #21131
Additional info:
I had a environment with the module version 3.4.0 and the Prestashop version 1.7.3.3 working correctly. I tried to use the 3.4 module version with the 1.7.6.7 and doesn't work.

[2020-09-24 08:56] florine2623 commented on #21133
Hi @dutraveller ,

PrestaShop 1.4 has reached end of life and is no longer officially maintained.
You can contact an [agency](https://www.prestashop.com/en/agencies), or the [support team](https://addons.prestashop.com/en/388-support) if you want to upgrade your shop.

Thank you

[2020-09-24 08:56] #21133 closed, assigned to nobody

[2020-09-24 09:03] PululuK opened #21134 "Fatal Error during installation process"
#### Describe the bug

Fatal Error during installation process

#### Expected behavior

The trans() function should in translator not InstallControllerHttpSystem.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Download [develop branch](https://github.com/PrestaShop/PrestaShop)
2. To get this message you must have at least one of the required extension disabled (Ex.: Disable **Intl*

[2020-09-24 09:07] rdy4ever commented on #21113
If you validate the birthdate (and return hard errors for non valid birthdates) during checkout you'll increase the cart abandonment rate. Actually, you should not ask for birthdate during checkout at all. This field shoud be completely removed, from a UX point of view and I often wonder why is it still present in Prestashop. Prestashop checkout shoud focus into getting the user to finish the orde

[2020-09-24 09:14] ngodefroy opened #21135 "[BO] [Modules Manager] not able to upload a module"
#### Describe the bug

Uploading a module returns an error in console and we are unable to install it.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to to FO, modules
2. add a module
3. I t returns an error in console and an infinite charging icon

**Screenshots**

<img width="1113" alt="Capture d’écran 2020-09-24 à 11 12 20" src="https://user-images.githubusercontent.com/691

[2020-09-24 09:26] Angelo1974 commented on #20350
Hello everyone and thank you for your work:
I have the prestashop version 1.7.6.7 and the Customer Reassurance version 5.0.0. everything works also changing the color of the icons, but if you change one of the icons it all hangs and interferes, in my case, also with the reviews Comments products.
By resetting the module everything works again but if you change one of the icons it still freezes

[2020-09-24 09:29] Sinepel commented on #21113
Hi !

I agree with you, but as long as you can deactivate this field in the back office, isn't that enough?

Thank you!

[2020-09-24 09:32] OdeChan commented on #10844
Some additional information: changing only "showing" and "item(s)" does work, but trying to change "of" to a different language does not (changing "of" to "from" for example does work).
Changing it manually in the DB ('ps_translation') does nothing. Very strange.

[2020-09-24 09:36] florine2623 commented on #21134
Hi @PululuK ,
I couldn't reproduce the issue.
I dowloaded the develop zip, I made composer install & make assets and successfully installed my new shop.
![Capture d’écran 2020-09-24 à 11 35 24](https://user-images.githubusercontent.com/16019289/94128174-17ead880-fe5a-11ea-87af-f2a73fe30e4a.png)
![Capture d’écran 2020-09-24 à 11 35 29](https://user-images.githubusercontent.com/16019289/94128181

[2020-09-24 09:55] florine2623 commented on #21127
Hi @202-ecommerce ,
I managed to reproduce the issue in PS 1.7.7.0 and PS 1.7.8.
I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you!

[2020-09-24 10:03] LSHRVM commented on #21119
Hello,

Thank you for your suggestion but the problem is the same with combination, we can't attach one PDF per combination. I saw that there is an addon for that but all my datas are already recorded as declination (6600 SKU...). Also, is each product ref will be referenced for SEO or only the parent product ?

Best regards,
Ludovic

[2020-09-24 10:04] marionf commented on #21127
Hello @florine2623 @202-ecommerce

Your issue seems to be a duplicate of https://github.com/PrestaShop/PrestaShop/issues/19090
Could you please take a look at this issue and confirm if the issue is the same ?

Thank you !

[2020-09-24 10:04] clotaire202 commented on #21127
@florine2623 no PR nor solution for now.
Could you please tell us if it can be included on 1.7.7.0-RC ?
If we work on this issue, we have to schedule it. But if you include this in 1.7.8 we are not in a hurry.

Thank you !

[2020-09-24 10:08] florine2623 commented on #21129
Hi @msaustral ,
I couldn't reproduce the issue in an upgraded shop from PS 1.7.6.2 to PS 1.7.6.7.
After I make a sale, the dashboard updates automatically.
![Capture d’écran 2020-09-24 à 12 07 42](https://user-images.githubusercontent.com/16019289/94131732-9184c580-fe5e-11ea-9cc7-431766d8b276.png)
![Capture d’écran 2020-09-24 à 12 07 36](https://user-images.githubusercontent.com/16019289/94131

[2020-09-24 10:08] #21129 closed, assigned to nobody

[2020-09-24 10:10] MatShir commented on #20238
The issue is blocked, the defined behavior need to be challenged again!

[2020-09-24 10:10] clotaire202 commented on #21127
Yeah I confirm ! It looks like the same bug...

[2020-09-24 10:12] #21135 closed, assigned to nobody

[2020-09-24 10:15] marionf commented on #21127
@clotaire202 the issue https://github.com/PrestaShop/PrestaShop/issues/19090 is planned for the 1.7.8
The 1.7.7 is frozen since a while and we are going to release the RC1 in few weeks: https://github.com/PrestaShop/PrestaShop/issues/18647

[2020-09-24 10:15] marionf commented on #21127
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/19090

[2020-09-24 10:15] #21127 closed, assigned to nobody

[2020-09-24 10:24] jolelievre opened #21136 "Link::getCategoryLink doesn't handle array input correctly"
#### Describe the bug

When I use an array input to create a category link like this:

`Context::getContext()->link->getCategoryLink(array('id_category' => Category::getRootCategory()->id));`

I don't get the expected result, because internally `Link::getCategoryObject` is buggy and returns the root category so I end up with a false url:

`http://local.prestashop-develop/en/2-root` (correct ID wro

[2020-09-24 11:55] #9659 closed, assigned to PierreRambaud

[2020-09-24 12:07] marionf commented on #21135
Hello @ngodefroy

Could you please indicate the duplicated issue ?

[2020-09-24 12:19] ioweb-gr opened #21137 "Faceted search module breaks sorting by price when using multiple customer groups"
#### Describe the bug

We have an eshop with multiple specific prices per group. While the faceted search is enabled, price sorting fails giving inconsistent results because it's mixing group prices.

#### Expected behavior

Products are sorted based on the actual price the user is seeing.

#### Steps to Reproduce

Create multiple customer groups
Create 2 products
Create multiple specific prices f

[2020-09-24 12:38] SimonGrn commented on #21135
Duplicate of #20852

[2020-09-24 12:43] 8ternity commented on #16004
This is exactly what i've deduce from all your answers! From that situation, i will make a YouTube video about the situation. Thanks for answering and confirming it.

[2020-09-24 13:17] fkomaralp commented on #17468
You need to override Prestashop's Cookie.php file.

modules/module_name/overrides/classes/Cookie.php

[code]

Thats worked for me.

[2020-09-24 13:18] Hlavtox commented on #19810
@khouloudbelguith I am not alone.

@ioweb-gr has the same issue https://github.com/PrestaShop/PrestaShop/issues/21137

[2020-09-24 13:32] msaustral commented on #21129
Hi Florine, sorry, but if you could not reproduced it,  does it mean that it work?, there are many people with the same error, I found many chat with no solution and still it does not work for me.

don't you think a litter help will be better than just close the ticket??

The statistic is seeing the orders but the chart is not showing it!, we have no made any change, just update the PS

[2020-09-24 13:39] ioweb-gr commented on #19810
@Hlavtox I think the use cases are slightly different though that's why I opened other issue.

[2020-09-24 13:53] ttoine commented on #16004
@8ternity do you use some module to advertise?

[2020-09-24 13:59] Hlavtox commented on #19810
@khouloudbelguith @PierreRambaud Just reproduced it on a clean PS install.

1. Install 1.7.7 beta 2
2. Install Faceted search 3.6.0
3. For simplicity. Keep only one language. Keep only one currency. Keep only one country active.
4. Make a customer group ID 4.
5. Make 3 products.
-- 5A. Product A, Price 100, 21% tax included.
-- 5B. Product B, Price 150, 21% tax included.
-- 5C. Product C, Price 20

[2020-09-24 14:02] ioweb-gr commented on #19810
Exactly this table needs to hold a column with the group id too to sort properly

[2020-09-24 14:04] Hlavtox commented on #19810
@ioweb-gr That will not help. It needs to resort it by the real displayed price. You say customer group, this all can alter the price you see.

- Country
- Customer group
- Currency
- Specific price for you only
- Specific prices can be limited by dates
- Catalog rules can mess with it

etc. etc. not easy bro 🤯 😄

[2020-09-24 14:07] ioweb-gr commented on #19810
Hehe yeah I wasn't looking for the rest use cases

[2020-09-24 14:08] Prestaworks opened #21140 "Module upgrade broken"
#### Describe the bug

Uploaded a new version of a module, the upgrade button showed in admin, I clicked on it, it did not upgrade the module, it is still showing the old version in the bo but the files are the new version.

#### Expected behavior

The module should be upgraded to the new version.

#### Additional information

* PrestaShop version: 1.7.6.1
* PHP version: 7.2.x

[2020-09-24 14:17] florine2623 commented on #21140
Hi @Prestaworks ,
Which module are you trying to update ?
Thanks!

[2020-09-24 14:28] florine2623 commented on #21046
@Hlavtox ,
Yes I created the file the PS directory.
How can I see that the hook is not called ?
Thanks!

[2020-09-24 14:29] #20804 closed, assigned to nobody

[2020-09-24 14:31] Prestaworks commented on #21140
at the time, it was the module for Amazon from addons. it updated in the xml files but not in the DB.
I have also experienced the same issue when I make a new release of a module on addons and have a new version on localhost, it dowloads an older version from addons instead of using the files on localhost.

[2020-09-24 14:32] florine2623 commented on #20933
Hi @dbpwebmaster ,
In the conversation with your host, it seems like they are talking about a WordPress file. You might have some WP files in your PrestaShop directory. Can you check your PS files to see if there are no extra files that are not necessary to PrestaShop itself.
Thanks!

[2020-09-24 14:33] matks commented on #20804
Thank you @PierreRambaud for delivering PrestaShop 1.7.6.8

## 🚀 ✅ STATUS UPDATE

1.7.6.8 is released !
- on GitHub
- on prestashop.com
- the release note is published https://build.prestashop.com/news/prestashop-1-7-6-8-maintenance-release/
- auto-upgrade module should be able to perform upgrades to 1.7.6.8
- docker images are available

[2020-09-24 14:44] MatShir commented on #20575
Hi @jonpontet,
Looking on [google support resources](https://support.google.com/webmasters/answer/189077?hl=en), they seem to say it is only required when you have multiple versions of a page for different languages. But I would be happy to see if you have any resource that proves that it could increase the SEO, let me know :)

[2020-09-24 14:53] Progi1984 commented on #19636
@LouiseBonnard The separator between attributes is a configuration of the Shop (Menu `Configure > Shop > Product Preferences` : Fieldset `Product Page` : Configuration `Separator of attribute anchor on the product links`).

Else Changes for this label will impact multiple locations :

![image](https://user-images.githubusercontent.com/1533248/94161617-28b14380-fe86-11ea-9b8f-40d17874404a.png)
![im

[2020-09-24 15:03] PierreRambaud commented on #16004
Feel free to create a YouTube video about the situation if it can help you to find someone to fix this bug.

I will quote @ttoine:

_The PrestaShop software is a project anyone can download to use as a base. It is not at all a ready to use the product with support and SLA, not at all a SaaS, not at all a freeware. So, you are actually using the project to build a solution to buy/sell online. And b

[2020-09-24 15:18] MatShir commented on #20536
Hi @Hlavtox,
It is a good improvement, also this input could fulfill by the warehouse system to have automated delivery information displayed for the customer.
How and where this label should be displayed on the product page on FO @prestascott @TristanLDD?

[2020-09-24 15:21] ngodefroy opened #21142 "[BO][Products][Multistore] not able to switch product combination after creating a shop under multistore"
#### Describe the bug

I enable multistore, add a new shop + virtual url
Then I go to a products with combinations, switch to "simple product"
=> I can't save it and have errors in console

#### Expected behavior

Being able to save without errors

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to multistore
2. Add a shop with virtual url
3. go to catalog>products, search for a p

[2020-09-24 15:21] florine2623 commented on #21137
Hi @ioweb-gr ,
I can't reproduce your issue with PS 1.7.5.2, faceted_search v2.2.0
![Capture d’écran 2020-09-24 à 17 00 59](https://user-images.githubusercontent.com/16019289/94165103-25b85200-fe8a-11ea-8701-077858aa2a84.png)
You can upload faceted_search v2.2.0 to your PS 1.7.5.2 :
[ps_facetedsearch-2.2.0.zip](https://github.com/PrestaShop/PrestaShop/files/5277115/ps_facetedsearch-2.2.0.zip)

I

[2020-09-24 15:21] #21137 closed, assigned to nobody

[2020-09-24 15:26] oallouch opened #21144 "How to go headless ?"
Hi,

I'm upgrading my frontend to React and really need a complete REST API, with products and login endpoints, for instance.

When I search, I see mixed signals :
. at [PrestaShop-Day-Paris-2020](https://build.prestashop.com/news/CFP-PrestaShop-Day-Paris-2020/) , headless looks like a priority
. the marked is heading that way. Magento has a great REST API [(doc)](https://magento.redoc.ly/2.4.0-ad

[2020-09-24 15:26] LouiseBonnard commented on #15534
Good news: this display issue has been fixed in the meantime, I close this ticket.

[2020-09-24 15:26] #15534 closed, assigned to nobody

[2020-09-24 15:30] LocalHeroPro commented on #21126
Yes, it's good it's public. Because people can see your team don't fix issues and hiding them by closing tasks with issues.
That it's the true.
So I'll open another one task, because issue still occur, and users can't use in normal way sending emails and also you don't answer for question from issue, but you have time for you can do the best - close issue without resolved  it :+1:

[2020-09-24 15:30] ioweb-gr commented on #21137
Please read up here it was successfully reproduced by others https://github.com/PrestaShop/PrestaShop/issues/19810#issuecomment-698363251 @florine2623

[2020-09-24 15:34] MatShir commented on #20665
Hi @01park,
Could you explain your need? Does it happen to all your products? When and why do you have several trackers? Does it come from the same carrier?
Thanks

[2020-09-24 15:34] eternoendless commented on #21144
I think you'll find your answer here: [The Future Arhitecture](https://build.prestashop.com/news/prestashop-in-2019-and-beyond-part-3-the-future-architecture/).

We're too busy right now with a lot of subjects but having a public API (Webservices being a private API) is a priority, even though we don't yet know when we'll be able to start working on that.

Feel free to leave your comments on the a

[2020-09-24 15:34] #21144 closed, assigned to nobody

[2020-09-24 15:40] SimonGrn commented on #21126
I think you don't understand what Open Source is. We are not at your service, we don't *have to* fix issues.

[2020-09-24 15:48] LocalHeroPro opened #21145 "Can't send e-mail because of incomplete SMTP configuration form"
https://github.com/PrestaShop/PrestaShop/issues/21108

Team, please don't sweep issues under the rug - at least.
Simple?

[2020-09-24 15:50] #21145 closed, assigned to nobody

[2020-09-24 15:57] LocalHeroPro opened #21146 "Can't send e-mail because of incomplete SMTP configuration form"
https://github.com/PrestaShop/PrestaShop/issues/21108

[2020-09-24 15:59] Hlavtox commented on #20536
@MatShir Hi, well, the first thing is - for all of my clients and our company, I have reverted to old-style of displaying the stock information. I do not find the current solution very good.

If quantity>0 show **$product.available_now**, else show **$product.available_later**
We change the available_later value by external update scripts that gets the information from our suppliers XML feeds.

No

[2020-09-24 16:00] #21146 closed, assigned to nobody

[2020-09-24 16:00] matks commented on #21108
Hi @LocalHeroPro ,

If I understand correctly the issue, you are saying that it would be nice to add a "sender name" field into the form. Is that right ?

If I got it right, this is not a bug, it's a feature request. A bug report indicates something that does not work as expected. The current form is working as expected, what you suggest is to expand it.

Please however understand that statement l

[2020-09-24 16:00] matks commented on #21145
Hi, please see my answer on https://github.com/PrestaShop/PrestaShop/issues/21108#issuecomment-698436720

[2020-09-24 16:01] Progi1984 commented on #19558
@LouiseBonnard Ok with these files ?
**Before :**
[FA000004-1.pdf](https://github.com/PrestaShop/PrestaShop/files/5277479/FA000004-1.pdf)

**After :**
[FA000004-6.pdf](https://github.com/PrestaShop/PrestaShop/files/5277477/FA000004-6.pdf)

[2020-09-24 16:02] matks commented on #21146
Hi, please see my answer on https://github.com/PrestaShop/PrestaShop/issues/21108#issuecomment-698436720

Please stop opening multiple issues, it's useless and will only result in us having to block you 😞 conversation can happen on the 1st issue https://github.com/PrestaShop/PrestaShop/issues/21145 or on our [Slack channel](https://github.com/PrestaShop/open-source/blob/master/slack/readme.md)

No

[2020-09-24 16:07] Hlavtox commented on #20536
@MatShir

I would like the merchant to be able to set these fields specifically for the combinations.
![product](https://user-images.githubusercontent.com/6097524/94170715-b003b480-fe90-11ea-81cd-7195e12ccf74.PNG)

Which is not possible now.
![combination](https://user-images.githubusercontent.com/6097524/94170720-b1cd7800-fe90-11ea-9992-0a5fec104a31.PNG)

[2020-09-24 16:09] florine2623 commented on #21140
I don't have any issue when it comes to updating modules in the BO.

Regarding the module Amazon, you can contact the developer of the module through your Addons account if you have any issue. They will make sure to give you the updated version.
If you upload your latest module version to addons using the files on localhost, you will find the files from localhost in Addons.

If you are downloading

[2020-09-24 16:09] #21140 closed, assigned to nobody

[2020-09-24 16:12] florine2623 commented on #21132
Hi @fedetibaldo ,
Do you have a file example of the Entity you created ?
I will use it to make some tests.
Thanks!

[2020-09-24 16:12] MatShir commented on #20754
It could have been a choice to keep this page only for configuration and leave the upgrading on the modules pages or not ¯\_(ツ)_/¯. @TristanLDD or @prestascott what do you think should we put the button as well on this page?

[2020-09-24 16:30] jolelievre commented on #21108
Hi @LocalHeroPro,

I'm not sure I understand your problem? 🤔
You're talking about sender email and name, but these infos are dynamic and depend on the context and especially who is sending the mail.

If you look at the `Mail::send` function you'll see that you can provide `$from` (email from) and `$fromName` (email name). I think this is what you are looking for. The from email/name don't have to

[2020-09-24 16:54] jolelievre commented on #21146
First issue being #21108 ^^

[2020-09-24 16:55] 01park commented on #20665
Its possible that items are shipped separate, or that you ship a part of the package now and the other half when in stock. They are many reasons to think about why a to add multiple track and trace would be a good improvement.. With multiple track and trace numbers this makes is more clear to the customer that they will receive more than one package.

[2020-09-24 18:26] 8ternity commented on #16004
@PierreRambaud Hi,

I do understand the concept of Open Source and by providing the software as-is, but in reality, it's the base settings that having the issue. It's normal to ask for main developper to submit and ask for a fix. Again, like i'm living an issue, we're French Canadian. Under your 300,000 online shop, you have not a lof of customer who used French Canadian.

About the contribution,

[2020-09-24 18:39] fedetibaldo commented on #21132
Sure! As I said, it's any entity with at least a decimal property, but I'll provide a more complete example as soon as I get back to my work PC

[2020-09-24 20:42] prestaforum commented on #16004
@8ternity Hi, there is something that I fail to understand here. Please allow me to explain.

PrestaShop is opensource software. This means that you paid nothing to get it. Zero dollars, zero euros, zero whatever.

This is a software that, from what I can see, receives regularly new features.
And you get these features for free. Zero dollars.

This is a software that, from what I can see, receives

[2020-09-24 20:48] confusedatma9 opened #21148 "BO - actionProductCancel hook triggers as many times as the no of different item present in the order on click of Standard refund. lets say we have 3 items in the order each of one quantity. if we select all the three item and click on Standard refund button the hooks gets triggered three times creating duplicate calls."
We use GitHub issues only to discuss about bugs in the PrestaShop project and new features.

If you have questions about using PrestaShop, you might find the answer here:
- User's guide: http://doc.prestashop.com/display/PS17/User+Guide
- Developer documentation: https://devdocs.prestashop.com/

If you need help with your shop or third-party modules, please consider the PrestaShop Company support

[2020-09-24 21:14] confusedatma9 opened #21149 "BO - Not able to handle PrestaShop BO refund UI. When we enter invalid amount and invalid quantity for Standard refund/Partial refund. Even if we throw error in the hooks actionProductCancel/actionOrderSlipAdd refund details gets updated in BO UI."
We use GitHub issues only to discuss about bugs in the PrestaShop project and new features.

If you have questions about using PrestaShop, you might find the answer here:
- User's guide: http://doc.prestashop.com/display/PS17/User+Guide
- Developer documentation: https://devdocs.prestashop.com/

If you need help with your shop or third-party modules, please consider the PrestaShop Company support

[2020-09-24 21:33] sebastian-marinescu commented on #12100
So @khouloudbelguith you leave it to the dev/community to override this for a pretty common wish (as I found - while researching this for some time - in many forum posts - since 2011)? Wouldn't it be more user-friendly to give the user an option?

[2020-09-24 22:59] qtrompeau opened #21150 "Successful payment & order conf : email non delivered"
Hello,

When i buy a product on my shop (http://test.developpement-maymana.fr/) , i received the seller's order confirmation email, but i don't receveid the customer's order confirmation and successful payment emails. However, when I modify the order status to "In preparation" i receive the status email. I receive test emails and I also tried to disable my theme and theme modules.

Do you know how

[2020-09-25 06:46] SimonGrn commented on #21148
Hello,

please use the [correct issue template](https://github.com/PrestaShop/PrestaShop/issues/new/choose) and fill all the informations requested.

I close this one as it's unusable in this current state.

[2020-09-25 06:46] #21148 closed, assigned to nobody

[2020-09-25 06:47] SimonGrn commented on #21149
Hello,

please use the [correct issue template](https://github.com/PrestaShop/PrestaShop/issues/new/choose) and fill all the informations requested. Did you read the content of the issue you posted ?

I close this one as it's unusable in this current state.

[2020-09-25 06:47] #21149 closed, assigned to nobody

[2020-09-25 06:48] SimonGrn commented on #21150
Dear @qtrompeau

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**, why did you delete everything ?

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can pro

[2020-09-25 06:48] #21150 closed, assigned to nobody

[2020-09-25 06:54] SimonGrn commented on #21119
Hello @LSHRVM
if you're talking about a third-party module, we cannot help you with that here, you need to contact the module developer. Please remember that Github is not a place for support but only for issues with the core of PrestaShop.

We need an answer for our Product Team to decide if it should be a Core feature or not.

Please stay tuned.

Thank you.

[2020-09-25 06:58] LSHRVM commented on #21119
Dear Simon,

I don't request for a third-party module. I think that this feature need to be in the Core.

Best regards,
Ludovic

[2020-09-25 07:15] Lajaca opened #21151 "Hide Header and Footer Index page"
Hi All

First of all Im not a developer and I need your help

Im trying to hide footer and header on index page due to I would like that looks like a landing page

I done some test changing custom CSS on same pages and everything work well on pages however I dont know how I have to do it on index page (HOME)

.cms-id-1 #header  {display:none;}
.cms-id-1 #footer  {display:none;}
.cms-id-1 .breadcru

[2020-09-25 07:16] SimonGrn commented on #21119
I was talking about this part in your previous comment :

We will see what the Product Team decides. Please remember that 1.7.7.x is feature-frozen so this feature would be a minima in the 1.7.8.x branch which is scheduled for late 2020/start 2021.

[2020-09-25 07:19] micka-fdz opened #21152 "Missing canonical link on product pages"
#### Describe the bug

When you try to override `head.tpl` in child theme, canonical link is missing on product pages.
I'll make a PR very soon.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create `templates/_partials/head.tpl` file in child theme of `classic`
2. Override `{block name='head_seo_title'}...{/block}` (for example)
[code]
3. Canonical link is missing on product pages

[2020-09-25 07:23] Progi1984 commented on #19558
And the PR #21153

[2020-09-25 07:23] florine2623 commented on #21151
Hi @Lajaca ,
You can apply `display: none;` to `#header` and `.footer-container`.

Keep in mind that this platform is only for bug and new features issues.
If you need help on your shop, please contact the [support team](https://addons.prestashop.com/en/388-support) or the [partner agencies](https://www.prestashop.com/en/experts).

Thanks!

[2020-09-25 07:23] #21151 closed, assigned to nobody

[2020-09-25 07:25] PululuK commented on #21134
@florine2623  I'm very sorry !
I just updated, see step 2 :
_To get this message you must have at least one of the required extension disabled (Ex.: Disable **Intl** or **CURL**)_

ping @SimonGrn

[2020-09-25 07:29] SimonGrn commented on #21134
Thank you @PululuK I'll try right away !

[2020-09-25 07:43] Lajaca commented on #21151
De: florine2623
Enviado: viernes, 25 de septiembre de 2020 9:23
Para: PrestaShop/PrestaShop
CC: Lajaca; Mention
Asunto: Re: [PrestaShop/PrestaShop] Hide Header and Footer Index page(#21151)

Closed #21151.
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-25 07:48] SimonGrn commented on #21134
I reproduce with a fresh install of `develop` and after deactivating `curl` and `intl`.
![image](https://user-images.githubusercontent.com/49909275/94240911-3d3c1d00-ff14-11ea-9b84-8ed6fef65133.png)

[2020-09-25 08:02] khouloudbelguith commented on #21134
Hi @PululuK,

As discussed with @SimonGrn, it is ok with 1767.
![image](https://user-images.githubusercontent.com/16067358/94242302-1ed72100-ff16-11ea-826d-d5d6d8733efa.png)
It is a regression.

Thanks!

[2020-09-25 08:04] matks commented on #21134
@PululuK very nice catch

[2020-09-25 08:08] popeio opened #21156 "PaymentOptionsFinderCore should keep a local cache of payment methods to avoid multiple calls"
#### Describe the bug

The `PaymentOptionsFinderCore` class, which is essentially a `HookFinder` with some salt, is used in your multiple places in the codebase to find available payment methods.

Or rather: it seems to me that this hook is invoked only ONCE in the whole PrestaShop core, but many modules and themes developers abuse this class to load payment methods. Since it is a feature you prov

[2020-09-25 08:29] MatShir commented on #20665
Thanks for the detailed information. So I guess you also need to link products to the tracking number to show to the merchant which product is going be delivered, isn't it?

[2020-09-25 08:30] khouloudbelguith commented on #21095
Hi @LocalHeroPro,

Thanks for your report.
The onboarding navbar is displayed, you need to stop the OnBording, to see all the main menu.
It could be a good improvement, ping @PrestaShop/product-team what do you think about this?

Thanks!

[2020-09-25 08:38] SimonGrn opened #21157 "Wrong version number on the 1.7.6.8 installer from git"
#### Describe the bug

The installer displays a wrong version number: `1.7.6.7` instead of `1.7.6.8` when using the [git repository](https://github.com/PrestaShop/PrestaShop/tree/1.7.6.x).

#### Expected behavior

The installer should display the correct version number (`1.7.6.8`).

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Clone the github repository and switch to the `1.7.6.x

[2020-09-25 08:46] khouloudbelguith commented on #13395
Hi @pppplus,

Please follow this issue: https://github.com/PrestaShop/PrestaShop/issues/13006
Your ticket is a duplicate of #13006
So, I close it.
Thanks!

[2020-09-25 08:46] khouloudbelguith commented on #13395
Duplicate of #13006

[2020-09-25 08:51] despokd commented on #14663
Same here. Just deleted and recreated the folders "mails\themes\modern\core" and "mails\themes\modern\modules" after installation.

[2020-09-25 08:58] khouloudbelguith commented on #21022
Hi @hks27d,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/20689 to fix the issue.
It is fixed in 1780.
Your ticket is a duplicate of #11105
So, I close it.
Thanks!

[2020-09-25 08:58] #21022 closed, assigned to nobody

[2020-09-25 08:58] khouloudbelguith commented on #21022
Duplicate of #11105

[2020-09-25 08:59] mvorisek commented on #14663
I think it is https://github.com/PrestaShop/PrestaShop/issues/20709

@despokd and @DiegoStefanon , please describe here your enviroment (OS, PHP version (copy result of `php -v`) and PrestaShop version)

[2020-09-25 09:04] florine2623 commented on #21131
Hi @crv248 ,
The issue you mentioned #15062 has been fixed for PS 1.7.7.0
I have just done the tests in PS 1.7.7.0, with the same config in faceted_search v3.5.0 and and it works correctly :
In parent category :
![Capture d’écran 2020-09-25 à 11 03 00](https://user-images.githubusercontent.com/16019289/94248403-b6d90880-ff1e-11ea-9efd-7aaadff112b1.png)
![Capture d’écran 2020-09-25 à 11 02 49](

[2020-09-25 09:04] #21131 closed, assigned to nobody

[2020-09-25 09:08] ngodefroy commented on #9664
Hello,

Similar case here: https://github.com/PrestaShop/PrestaShop/issues/21142

Thank you

[2020-09-25 09:14] ngodefroy commented on #21142
Similar case here: https://github.com/PrestaShop/PrestaShop/issues/9664

[2020-09-25 09:25] khouloudbelguith commented on #21041
Hi @Hlavtox,

Thanks for the feedback!
@moflihmorad, thank you for the report.
Your ticket is a duplicate of #9757
So, I close it.
Thanks!

[2020-09-25 09:25] #21041 closed, assigned to nobody

[2020-09-25 09:25] khouloudbelguith commented on #21041
Duplicate of #9757

[2020-09-25 09:29] SimonGrn commented on #21157
Update: the problem exists only when you checkout from Git, as the create-release tool already update the version number (so the ZIP is okay).

[2020-09-25 09:43] ngodefroy commented on #9664
Another scenario:

**Describe the bug**
I enable multistore, add a new shop + virtual url
Then I go to a products with combinations, switch to "simple product"
=> I can't save it and have errors in console

**Steps to reproduce the behavior:**

Go to multistore
Add a shop with virtual url
go to catalog>products, search for a product w combinations and switch it to "simple product"
click on save
=>

[2020-09-25 09:44] ngodefroy commented on #21142
duplicate of https://github.com/PrestaShop/PrestaShop/issues/9664

[2020-09-25 09:44] #21142 closed, assigned to nobody

[2020-09-25 09:51] Prestaworks commented on #21140
Step 1, I have the wire payment module in my shop that needs an update from addons
![step1](https://user-images.githubusercontent.com/2902272/94252967-ec80f000-ff24-11ea-8fa0-23f8e5a77047.png)

I go in to the code and change the version of my local files to 2.2.4 (I simluate that I have made a new version of the module that I want to test on my local shop)
![step2](https://user-images.githubuserco

[2020-09-25 10:01] MatShir commented on #21095
Hi @khouloudbelguith,
It seems to be more like a bug, when I test on 1.7.6.8 I have a scroll bar on the left menu but it is not taking into account the tutorial.

[2020-09-25 10:16] MatShir commented on #19454
Thanks @Julievrz, looks good!

[2020-09-25 10:20] 01park commented on #20665
Hi,

That's a detail that would make it even better.

Just to have the option to add multiple track and trace would be a create start

[2020-09-25 10:24] SimonGrn commented on #21095
This is definitely a bug

[2020-09-25 10:48] khouloudbelguith commented on #21067
Hi @oscc-es,

This issue is currently closed, can you open a new one with more information about your configuration.
In fact, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to

[2020-09-25 10:50] khouloudbelguith commented on #20535
Ping @PrestaShop/product-team friendly reminder :slightly_smiling_face:

Thanks!

[2020-09-25 11:01] khouloudbelguith commented on #20801
Hi @Julievrz,

For example, when we have an incomplete `Address`, we have this alert.
![image](https://user-images.githubusercontent.com/16067358/94259626-13442400-ff2f-11ea-8668-781a6d0a6ce2.png)

We can add a similar alert in the "Personal Information" step.
@LouiseBonnard what do you think?

Thanks!

[2020-09-25 11:14] khouloudbelguith commented on #12100
Hi @sebastian-marinescu,

This issue will be fixed on this ticket: #15319.
Your ticket is a duplicate of #15319
Thanks!

[2020-09-25 11:14] khouloudbelguith commented on #12100
Duplicate of #15319

[2020-09-25 11:14] #12100 closed, assigned to nobody

[2020-09-25 11:20] Paman65 opened #21160 "No product picture display of ID image greater than 9999999"
#### Describe the bug

Good morning everyone

It's a very strange problem on a prestashop installation, made some years ago by using 1.6.1.4 version. That's what happens:

When the 10 millionth product image is entered, the system does not display it anymore while all the other images with a lower ID keep being displayed with no problem

If I disable the URL REWRITE, all the photos are correctly d

[2020-09-25 11:33] florine2623 commented on #21160
Hello @Paman65 ,
PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).
Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep in

[2020-09-25 11:33] #21160 closed, assigned to nobody

[2020-09-25 11:44] oscc-es opened #21161 "Classic theme: Minus symbol missing if subtotal is discount type in checkout's summary subtotal"
#### Describe the bug

No minus symbol is showed before amount for discount-type subtotal at checkout's cart summary in Classic theme.

#### Expected behavior

To keep consistency between the two cart summaries showed in the checkout page (see screenshot) the cart summary that is visible along all the checkout process (red circle in screenshot) should have a minus symbol before amount for discount

[2020-09-25 11:51] oscc-es commented on #21067
Hi,

Sorry, I skip the issue template by opening the issue from the code line. I have opened a proper [issue](https://github.com/PrestaShop/PrestaShop/issues/21161#issue-708872387) (I hope).

Thanks for your help.

[2020-09-25 12:02] #20517 closed, assigned to matks

[2020-09-25 12:10] kmorgen commented on #19134
Can we expect this to be fixed soon and in 1.7.7.0 at latest?
It is a pretty major issue for all international shops/orders.

[2020-09-25 12:12] SimonGrn commented on #21067
Thank you, this is perfect :)

[2020-09-25 12:21] PierreRambaud commented on #21134
Original pull request updated: #20201

[2020-09-25 12:25] khouloudbelguith commented on #21161
Hi @oscc-es,

Thanks for your report.
I manage to reproduce the issue with 1768.
In the cart page => ok
![image](https://user-images.githubusercontent.com/16067358/94266525-90c16180-ff3a-11ea-99bf-7fe186efb31c.png)
In the checkout page => NOK
![image](https://user-images.githubusercontent.com/16067358/94266603-ab93d600-ff3a-11ea-8be8-9a5caa187123.png)

I’ll add this to the debug roadmap.

Thanks!

[2020-09-25 12:28] marionf commented on #20632
There is the same bad wording when we try to delete a product feature, a product brand, a product combination and bulk delete product combinations

[2020-09-25 12:40] florine2623 commented on #21156
Hi @popeio ,
Do you have an example of that module that can be installed and checked for any calls  in the logs ?
Thanks

[2020-09-25 12:47] marionf commented on #20632
@LouiseBonnard @Julievrz

As this does not only concern related products, do we define a specific message for each element (related products, combinations, brands, features) or do we define a standard message for all?

[2020-09-25 12:56] popeio commented on #21156
Hi @florine2623, thanks for your reply

Sure: I can either point you to an official module which does such a thing or, with a little bit of time (like: in a couple of days), provide you with a mock module which does so, just to highlight the behaviour

In general, consider that this behaviour is triggered in the case I described: when a module overrides the `FrontController` and provides its own i

[2020-09-25 13:02] florine2623 commented on #21152
Hi @micka-fdz ,

I followed your steps 1 & 2 on PS 1.7.6.7. I don't see what's missing.
Could you be more precise about the canonical link of the product page ? Do you have an example ?
Thanks!

[2020-09-25 13:03] jonpontet commented on #20575
@MatShir for example on that same page it states:
"Each language version must list itself as well as all other language versions."
Anyway, this is not really the point. The point is that it is currently being outputted in code for just 1 language. So either 1) do not do it at all or 2) do it properly. Don't you think?

[2020-09-25 13:17] Prestaworks commented on #21140
@florine2623
The example above is from PS 1.7.7.0

[2020-09-25 13:29] 8ternity commented on #16004
Close that case! Thanks for the brutal and rough communication.

Also, thanks for threatening me.

Close the case!

[2020-09-25 13:48] SimonGrn commented on #16004
Who threatened you and where ?

[2020-09-25 14:05] Hlavtox commented on #21022
@hks27d Because it was fixed last week, after 1.7.7 beta was released. It will be in some of the next official releases.

[2020-09-25 14:10] florine2623 commented on #21156
I'll be waiting for your example module thanks !
Thanks for the details.

[2020-09-25 14:22] #20194 closed, assigned to nobody

[2020-09-25 14:27] micka-fdz commented on #21152
Hi @florine2623,

It's about canonical link in `<head>` section : `<link rel="canonical" href="...">`.

[2020-09-25 14:39] 8ternity commented on #16004
Anyway, sorry to get frustration, just close the issue. Sorry for problems.

[2020-09-25 14:41] khouloudbelguith commented on #21044
Hi @marionf,

It is ok :heavy_check_mark:
![image](https://user-images.githubusercontent.com/16067358/94280028-354c9f00-ff4d-11ea-9a73-a72189b6714b.png)

Thanks!

[2020-09-25 14:41] #21044 closed, assigned to khouloudbelguith

[2020-09-25 14:46] #20605 closed, assigned to nobody

[2020-09-25 14:47] matks commented on #20605
Module scheduled for release on Monday, so this topic can be considered done.

[2020-09-25 15:19] eternoendless commented on #16004
@8ternity, I think you misunderstood @prestaforum's message.

You may not know who Linus Torvalds is: he's the creator of Linux and he's known for being very intolerant and hard on people. @prestaforum used him to illustrate that compared to other very well known figures of the open source community, we're actually quite nice.

For what is worth, to the best of my knowledge, neither him nor @prest

[2020-09-25 15:46] Paman65 commented on #21160
Hello
I did a clean install of version 1.7.6.8
I took the Image ID counter over 10 million
The same bug also occurs on 1.7.6.8 - see attached image
![image](https://user-images.githubusercontent.com/47444576/94287724-ef94d400-ff56-11ea-9b8e-6c18c728f0fe.jpg)

[2020-09-25 15:50] 8ternity commented on #16004
@eternoendless Thanks for the answer.

I have nothing else to say.. Thanks.

Note: i do have 2 issues submited (one related to web service which is under moving to another API programmation).

Has for me i will stop reply and close my issue and stop following them. We will move to another plateform.

[2020-09-25 15:56] Julievrz commented on #20801
Hi @khouloudbelguith
I think the alert message should appear in the BO when the merchand requires partner offers on the Customer page.
![image](https://user-images.githubusercontent.com/70583503/94285794-72685f80-ff54-11ea-85cf-5d0f001f9136.png)

Maybe something like :

"Before requiring partner offers, please be sure to enable them in the [1] Shop Parameters > Customer Settings[/1] section of the

[2020-09-25 16:12] Paman65 commented on #21160
If I disable the URL REWRITE, all the photos are correctly displayed - see attached image

Additional information

    PrestaShop version: 1.7.6.8
    PHP version: 7.1

![image2](https://user-images.githubusercontent.com/47444576/94290506-90d15980-ff5a-11ea-9b8f-77a86703964a.jpg)
.33

[2020-09-25 21:25] Daaaaad opened #21165 "Enable tax breakdown switch inversion"
Hello,

I think that the "enable tax breakdown switch" behaviour is not correct.

<img width="1111" alt="Capture d’écran 2020-09-25 à 23 22 26" src="https://user-images.githubusercontent.com/167037/94317161-0272cd00-ff86-11ea-947f-65162a89ff50.png">

When set to "no" (off) I do have the "base price" column in my invoices:

<img width="439" alt="Capture d’écran 2020-09-25 à 23 23 40" src="https

[2020-09-25 23:53] dali-rajab opened #21167 "Availability messages are changing simultaneously"
Hello guys, here is a bug :

When we are in an X product page, and if there is another Y product in that same page (like related products, same category products ..), if we open the quickview modal of the Y product (we are always in the X product page), and make some ajax by changing some attributes, the two availability blocks ( `.product-add-to-cart #product-availability` ) are changing together

[2020-09-26 00:52] dali-rajab commented on #19226
The PR is updated (and moved) here https://github.com/PrestaShop/PrestaShop/pull/21168

[2020-09-26 03:19] web-plus opened #21170 "ps_sharebuttons module - Undefined index: product"
Steps to reproduce the issue:
1. Install the `productcomments` module
2. Go to BO > Design > Positions page
3. Click on the Transplant button
4. select the ps_sharebuttons module
5. select the displayAfterProductThumbs hook
![image](https://user-images.githubusercontent.com/16067358/94407953-6f4bba00-0174-11eb-9623-4ab33ee59d13.png)
6. Save
7. Go to FO > Product page
8. see error
-----------------

[2020-09-26 11:31] web-plus opened #21171 "Product comments grade disappear after clicking add to cart"
Install product comments module latest version 4.1.0. Make sure you see rating in hook displayProductAdditionalInfo.
Click on Add to cart -> Grade in displayProductAdditionalInfo hook will disappear.

Video:
https://www.dropbox.com/s/qjh7g89nexy9fhs/men%20-%20google%20chrome%202020-09-26%2013-26-09.mp4?dl=0

* PrestaShop version: 1.7.6.8
* PHP version: 7.2

[2020-09-26 13:41] vipulhadiya commented on #18151
I still have the same issue with PrestaShop 1.7.6.7 and ps_facetedsearch 3.5.0

[2020-09-26 13:42] vipulhadiya commented on #18151
It does not work for PrestaShop 1.7.6.7 and ps_facetedsearch 3.6.0

[2020-09-26 14:11] borisprado commented on #9641
Hello! Any update about this bug? is crazy to get emails every time i save a product that is on stock alert.

[2020-09-26 17:15] passio777x opened #21172 "Problem when I try to add a product to cart"
Hi, on Prestashop 1.7.6.7
For an unknow reason, the in a Private navigation (or new session), the 2 first try when I click on "Add to cart", it move me to the cart without adding the product. (It should add the product and not switch page to cart).

This occured with 1 others problem, that could maybe be related. I don't know.

When I recompile, I got this error :
**Fatal error: require(): Failed

[2020-09-26 19:16] bpato opened #21173 "Adding a color picker throws an undefined index notice"
#### Describe the bug

I made a module that has a color picker at the configuration using the ModuleAdminController and it throw an undefined index notice.

The thing is that i tested this module that is like the one i made and it didn't throw any notice.
https://github.com/PrestaShopCorp/pscartbanner

**Screenshots**

![Screenshot_2020-09-26 Notice Undefined index size (500 Internal Server Error)

[2020-09-26 23:05] TecnoHands commented on #9781
Year 2018 was reported Not solve yet. It's a really shame, is this a serious proyect or may be migrate to odoo

[2020-09-27 06:55] Xaconi commented on #19892
Hi!

If there's no one else with these, can you assign me? 😃

[2020-09-27 09:25] jlebleu opened #21175 "Email subject french translation is missing for changed order"
#### Describe the bug

For a shop using french language, when modifying an order the customer receives an email with subject : 'Your order has been changed'
Email body is in french, I did not find any translation in the internationalization translation page.

#### Expected behavior
Should receive an email with subject 'Votre commande a été modifiée'

#### Steps to Reproduce

Steps to reproduce the

[2020-09-27 10:41] ProstageSL opened #21176 "Customer Edit => Error 500"
#### Describe the bug

When I like to open the customer edit page, error 500 is shown in case the customer has already placed an order. If no order has been placed so far, the customer edit page opens correctly.

#### Expected behavior

I expected that the edit page opens also for customers who have placed orders.

#### Steps to Reproduce

Click in the customers list onto a customer.

There are di

[2020-09-27 13:52] confusedatma9 opened #21177 "Standard Refund PrestaShop Back Office: Quantity and Amount refunded doesnot get updated in the UI."
**Describe the bug**
When we trigger **Standard refund** in the Back Office which uses **actionProductCancel** hook, it doesn't reflect the refunded quantity and refunded amount in the UI under the Refunded column.
<img width="1238" alt="ScreenShot" src="https://user-images.githubusercontent.com/71811239/94366434-dbd3a400-00f5-11eb-993d-3d0a05c1246c.png">

**Expected behavior**
Should have updated

[2020-09-27 15:42] matks commented on #21176
Hi @ProstageSL until proven otherwise, this error has nothing to do with PrestaShop. The "Edit a Customer" Back-Office page works quite well in standard conditions. You can see by yourself on demo.prestashop.com (which is a regular prestashop instance): go in Back-Office, open customer "John DOE" page (it's a fake customer who has placed orders). You can also install a fresh new 1.7.6.7 shop, you'

[2020-09-27 18:21] b44x opened #21180 "BO - Categories page - Multistore - an error is displayed where trying to create a root category"
#### Describe the bug

A new root category cannot be created if the association is empty.

#### Expected behavior

There should be some validation or show some error.

#### Steps to Reproduce

Steps to reproduce the issue:
1. Enable the multistore context
2. Create a new shop
3. Go to BO > Catalog > Categories
4. All shops selected
5. Create a new Root category
6. Unselect All shop association

![

[2020-09-28 07:36] PierreRambaud commented on #19892
Let's go! :+1:

[2020-09-28 07:59] khouloudbelguith commented on #21176
Hi @ProstageSL,

I did not manage to reproduce the issue with PS1.7.6.8.
I attached a screen record
https://drive.google.com/file/d/1avjoeWI4z73Ht0IKD4xJjlKjTwUMyj1Q/view?usp=sharing
Did you use any specific module to create an order?

Thanks!

[2020-09-28 08:08] matks commented on #20605
Release done 🎉

[2020-09-28 08:10] okom3pom commented on #21160
@Paman65

Open new issue with 1.7.6.x label i think is the best way.

[2020-09-28 08:23] khouloudbelguith commented on #21170
Hi @web-plus,

Thanks for your report.
I manage to reproduce the issue using the PS1768 & 177x branch with `ps_sharebuttons` module v2.1.0 and the `productcomments` module v4.1.0
This exception is displayed only when the `productcomments` module is installed.
![image](https://user-images.githubusercontent.com/16067358/94407551-de74de80-0173-11eb-8296-78ac41af5d60.png)

Steps to reproduce the issue

[2020-09-28 08:32] Paman65 opened #21181 "FO - No product picture display of ID image greater than 9999999"
#### Describe the bug

Good morning everyone

When the 10 millionth product image is entered, the system does not display it anymore while all the other images with a lower ID keep being displayed with no problem

If I disable the URL REWRITE, all the photos are correctly displayed

I already made sure that in .htaccess there's the picture display with ID greater than 7 numbers, and it's present

[2020-09-28 08:34] khouloudbelguith commented on #21180
Hi @b44x,

I did not manage to reproduce the issue with PS1.7.6.8 and 1.7.7.x branch.
I attached a screen record
https://drive.google.com/file/d/1lxvHIWPcFPcoRoRHJTvhjwyJCrMfDnPd/view?usp=sharing
Thanks to check and feedback.

[2020-09-28 08:45] khouloudbelguith commented on #21173
Hi @bpato,

I did not manage to reproduce the issue with PS1.7.6.8 using this module: [pscartbanner](https://github.com/PrestaShopCorp/pscartbanner/blob/2df81d6a88d923bdb86c76083bf1e940483858e9/controllers/admin/AdminPsCartBannerController.php#L20 ) and this module: [ps_faviconnotificationbo](https://github.com/PrestaShop/ps_faviconnotificationbo/blob/dev/controllers/admin/AdminConfigureFaviconBoC

[2020-09-28 08:54] khouloudbelguith commented on #21171
Hi @web-plus,

I manage to reproduce the issue with PS1.7.6.8 and 1.7.7.x branch using the `productcomments` module v4.1.0.
![image](https://user-images.githubusercontent.com/16067358/94411537-fc910d80-0178-11eb-8bc6-775353e4b6bb.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Than

[2020-09-28 08:55] khouloudbelguith commented on #21171
Ping @PrestaShop/product-team can we add this issue to this [Epic](https://github.com/PrestaShop/PrestaShop/issues/19933)?

THanks!

[2020-09-28 09:01] khouloudbelguith commented on #21172
Hi @passio777x,

I did not manage to reproduce the issue with PS1.7.6.8.
I attached a screen record
https://drive.google.com/file/d/1gXNRJFRaMlcujDUTMjfV-241xBnLTpSO/view?usp=sharing
It is a cache issue
Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Also, try to clear the cache manually by deleting a

[2020-09-28 09:13] khouloudbelguith commented on #21177
Hi @confusedatma9,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.8.
https://drive.google.com/file/d/1_mB8P2_nFOHAj5Grgh_bg5NHYHe_yawq/view?usp=sharing
But, it is fixed in th next major release 1.7.7.0.
I attached  the record of the fix:
https://drive.google.com/file/d/1izkLqwCswrcRi6p5TF2i4KkJWm9iQHjd/view?usp=sharing

Thanks to check and feedback.

[2020-09-28 09:28] MatShir commented on #20817
We could adjust the page as the order view page, display the page tax depending of the customer group? What do you think?

[2020-09-28 09:32] atomiix commented on #21088
@ivanfelicite @sarahdib from what I can see that's the expected behavior. The stock quantity of the `id_product_attribute` 0 is equal to the sum of every combination. So, if one of the combination is updated, the total should be too.

[2020-09-28 09:37] Progi1984 commented on #20962
@LouiseBonnard The 2nd point is done by #21166 (Thanks @aleksiuno)

[2020-09-28 09:38] khouloudbelguith commented on #21167
Hi @dali-rajab,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.8 and develop branch (1780)
I attached a screen record
https://drive.google.com/file/d/1HKnBqHPNzFvOFxiTAI-BEpjBcfviR90Z/view?usp=sharing
It is related to this PR: https://github.com/PrestaShop/PrestaShop/pull/20556, ping @NeOMakinG
I’ll add this to the debug roadmap so that it’s fixed.

Thanks!

[2020-09-28 09:49] khouloudbelguith commented on #21175
Hi @jlebleu,

I manage to reproduce the issue with PS1768 and ps_emailalerts module v2.2.1.
![image](https://user-images.githubusercontent.com/16067358/94417638-9c05ce80-0180-11eb-8969-e4737d936e08.png)
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #14183
So, I close it.
Thanks!

[2020-09-28 09:49] #21175 closed, assigned to nobody

[2020-09-28 09:49] khouloudbelguith commented on #21175
Duplicate of #14183

[2020-09-28 10:02] khouloudbelguith commented on #21165
Hi @Daaaaad,

Thanks for your report.
We have related issues:
https://github.com/PrestaShop/PrestaShop/issues/14646
https://github.com/PrestaShop/PrestaShop/issues/9920

Could you please check if your issue is similar to this ticket: #14646 and feedback.

Thanks!

[2020-09-28 10:09] NeOMakinG commented on #17131
I'm not a part of the product team, but my opinion on this subject is the same as @Hlavtox, I think keeping breadcrumb everywhere is better to keep some consistency, also if a theme wants to remove breadcrumbs everywhere (which will be a bad idea to my opinion) or remove breadcrumb on a specific page, they should be able too.

I think we should not take such a decision for every theme developers,

[2020-09-28 10:10] khouloudbelguith opened #21183 "BO - States page - Add new states button is not displayed after incorrect Save"
#### Describe the bug

In the BO > International > Locations > States page, when we try to save incorrect data => redirection to the states page but the "Add new states button" is not displayed
![image](https://user-images.githubusercontent.com/16067358/94419652-61516580-0183-11eb-8e46-4c7aaaf72c6c.png)

#### Expected behavior

It should be displayed
![image](https://user-images.githubusercontent.

[2020-09-28 10:11] khouloudbelguith commented on #21183
ping @PrestaShop/qa-automation

[2020-09-28 10:12] khouloudbelguith commented on #21183
Ping @matks @PrestaShop/product-team this issue could be fixed in this [ticket](https://github.com/PrestaShop/PrestaShop/issues/10606)?

Thanks!

[2020-09-28 10:22] LouiseBonnard commented on #21183
It'd be awesome, I add it to the ticket, thanks @khouloudbelguith!

[2020-09-28 11:04] khouloudbelguith commented on #21152
Hi @micka-fdz,

Thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.6.8.
I used this child theme
[childtheme-example.zip](https://github.com/PrestaShop/PrestaShop/files/5291773/childtheme-example.zip)
In the FO
![image](https://user-images.githubusercontent.com/16067358/94424829-22bfa900-018b-11eb-869b-8a78d8823046.png)

Thanks to check and feedback.

[2020-09-28 11:07] khouloudbelguith commented on #21132
@fedetibaldo,

Thanks!
Waiting for your feedback.

[2020-09-28 11:26] #20975 closed, assigned to unlocomqx

[2020-09-28 11:33] clotaire202 commented on #17131
@NeOMakinG Do you think as PrestaShop Developer that a new configuration in config.yml of the theme could help us to configure witch page has a breadcrumb ?
With a config.yml configuration, @prestascott will supply default value (best UX practice), and merchants (and developers and agences) could manage breadcrumb display.

[2020-09-28 11:40] khouloudbelguith commented on #21181
Hi @Paman65,

I manage to reproduce the issue with PS1.7.6.8 & 1.7.7.x.
BO
![image](https://user-images.githubusercontent.com/16067358/94427785-eb073000-018f-11eb-995c-9f7450ca50aa.png)
FO
![image](https://user-images.githubusercontent.com/16067358/94427870-10943980-0190-11eb-83ef-65c061ba8a15.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or

[2020-09-28 11:51] khouloudbelguith commented on #21046
Hi @Hlavtox,

Thanks for your report.
Your issue is it similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/20712 fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/20693.

Thanks to check and feedback.

[2020-09-28 11:59] khouloudbelguith commented on #21047
Hi @LocalHeroPro,

Did you tried with the `1770beta2` version, is it the issue reproduced?
We have already a fix in the PS1770
https://github.com/PrestaShop/PrestaShop/pull/16506

Thanks to check and feedback.

[2020-09-28 12:01] khouloudbelguith commented on #20825
Hi @msaustral,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-09-28 12:01] #20825 closed, assigned to nobody

[2020-09-28 12:01] khouloudbelguith commented on #20871
Hi @onklmaps,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

THanks!

[2020-09-28 12:01] #20871 closed, assigned to nobody

[2020-09-28 12:03] khouloudbelguith commented on #20856
Hi @Eva-F,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-09-28 12:03] #20856 closed, assigned to nobody

[2020-09-28 12:13] NeOMakinG commented on #17131
That could be an idea, but I'm not sure this is the right choice at all and if this is the best practice, we should speak about it with @PrestaShop/prestashop-maintainers

[2020-09-28 12:23] micka-fdz commented on #21152
Hi @khouloudbelguith,

I tried again with PS 1.7.6.7 and I have same issue.
Did you add override of `head.tpl` block in your child theme?

For example :
[code]

[2020-09-28 12:48] dali-rajab commented on #21167
@khouloudbelguith thank you, may be i forgot to mention that i had already made a PR for this issue https://github.com/PrestaShop/PrestaShop/pull/21169

[2020-09-28 12:59] #14753 closed, assigned to TristanLDD, MatShir

[2020-09-28 13:03] Eva-F opened #21185 "BO - Helper - List header - OrderBy only if $show_filters"
#### Is your feature request related to a problem?

I wonder why the option "order by" is conditioned by the occurrence of a filter.

"Filter" and "Order by" are different actions from my point of view

in admin/themes/default/template/helpers/list/list_header.tpl line 293

[code]

[2020-09-28 13:11] marionf commented on #20819
FYI @MatShir

[2020-09-28 13:18] khouloudbelguith commented on #19810
Hi @Hlavtox,

I followed these steps but it is ok in my case:
[code]

I attached a screen record
https://drive.google.com/file/d/1aA-YN9DI_ee8gwIM71twyzOcXR_yFXgw/view?usp=sharing

Thanks to check and feedback.

[2020-09-28 13:22] khouloudbelguith commented on #21152
@micka-fdz, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.8 and 177x branch using this theme
[childtheme-example.zip](https://github.com/PrestaShop/PrestaShop/files/5292501/childtheme-example.zip)
I added an override of `head.tpl` block in the child theme

For example :
[code]
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on you

[2020-09-28 13:24] aleksiuno commented on #20962
The first point would be to to change informational message to "Are you sure you want to regenerate thumbnails for the selected images? With the erase option enabled,the previous thumbnails of your selection will be deleted." right?

[2020-09-28 13:24] khouloudbelguith commented on #21185
Hi @Eva-F,

Thanks for your report.
Ping @PrestaShop/product-team what do you think?

Thanks!

[2020-09-28 13:30] khouloudbelguith commented on #21077
Hi all!

We have an Epic about FO performance reported here: https://github.com/PrestaShop/PrestaShop/issues/19689
@Cricchio, can we close this ticket as it will be fixed in the last ticket?

Thanks!

[2020-09-28 13:34] khouloudbelguith commented on #21106
Hi @maestrobo,

Is it your issue similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/13698?

Thanks!

[2020-09-28 13:36] LouiseBonnard commented on #20962
@aleksiuno, hi, and congratulations on your first pull request here! You are mentioning the thirst point, see the description for a better overview: https://github.com/PrestaShop/PrestaShop/issues/20962#issue-699896621. First point is to emphasize the irreversibility of this action by turning the blue information notification into a yellow warning one, stating:

`Be careful! Depending on the optio

[2020-09-28 13:54] SimonGrn commented on #20984
Hello @harisrnd,

do you still have the problem with the current version from git (not from the beta) ?

[2020-09-28 14:05] khouloudbelguith commented on #20981
Hi @HartLarsson,

Sorry for the late response.

Can you please provide exact steps about vouchers (discounts) so I can create vouchers similar to your case.
Conditions Tab & Actions Tab.
In the conditions Tab, you have more than one product in "Product section"

In the actions Tab, you have a specif product, is it the reference of a combination?

You have 7 discounts with 7 different accessories,

[2020-09-28 14:12] MatShir commented on #20819
FYI Reproduced in 1.7.6.8

[2020-09-28 14:13] khouloudbelguith commented on #21071
@HartLarsson, you just created another issue, I'm trying to reproduce it.
Is it similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/20981?

Thanks!

[2020-09-28 14:14] khouloudbelguith commented on #21020
Hi @josiasdx,

Thanks for your report.
Issue reported here: https://github.com/PrestaShop/PrestaShop/issues/20981.
Can we close this ticket?

Thanks!

[2020-09-28 14:18] MatShir commented on #20819
The question is should the order page be independent and could work with a product that does not exist.

[2020-09-28 14:33] khouloudbelguith commented on #20972
Hi @Bahbv, @Sybrenb,

I check again and it is ok
I attached a screen record
https://drive.google.com/file/d/1O2eFEnxfRJehUfZqlBzpJOHciyAHlIcP/view?usp=sharing
@Sybrenb,

You can change manually positions from the Database table `ps-category_product` as we have already this issue: #15291.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your

[2020-09-28 14:33] #20972 closed, assigned to nobody

[2020-09-28 14:42] harisrnd commented on #20984
Hello,
I haven't tried to install from git. Not yet.
It seems to work fine (so far) after I deleted the call to migrateWarn().

[2020-09-28 14:52] josiasdx commented on #21020
If you want, you can close the ticket. I think the only solution to this problem is follow the way other ecommerce platforms: an option in the backoffice to choose if works tax included or tax excluded. The shop will show both prices, but the internal calculations will different according this option. Is very important for B2B sales.

[2020-09-28 15:03] khouloudbelguith commented on #20984
@harisrnd, so can we close this issue?
It should be fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/20992

Thanks!

[2020-09-28 15:05] khouloudbelguith commented on #21020
@josiasdx, thanks for your feedback.
Your ticket is similar to @HartLarsson issue:https://github.com/PrestaShop/PrestaShop/issues/20981.
I'm still working on this issue.
Your ticket is a duplicate of #20981
So, I close it.
Thanks !

[2020-09-28 15:05] #21020 closed, assigned to nobody

[2020-09-28 15:06] khouloudbelguith commented on #21020
Duplicate of #20981

[2020-09-28 15:17] khouloudbelguith opened #21186 "BO - Stats page - No module has been installed."
#### Describe the bug

In the BO > Stats page, we have an error
`No module has been installed.`
![image](https://user-images.githubusercontent.com/16067358/94451134-565ffa80-01ae-11eb-852c-ea1e5452de19.png)

#### Expected behavior

It should be
![image](https://user-images.githubusercontent.com/16067358/94451177-637ce980-01ae-11eb-869b-5a7c69db5e13.png)

#### Steps to Reproduce

Steps to reproduce

[2020-09-28 15:44] MatShir opened #21189 "Labels are not well displayed"
#### Describe the bug

Some labels are wrongly displayed

![image](https://user-images.githubusercontent.com/43613217/94454265-f0757200-01b1-11eb-87d8-40e3228c024a.png)

#### Expected behavior

Here the expected layout

![image (1)](https://user-images.githubusercontent.com/43613217/94454295-fd926100-01b1-11eb-8dfd-1f71a53e3d73.png)

**Screenshots**

If applicable, add screenshots or screen record

[2020-09-28 16:05] harisrnd commented on #20984
I 'm OK. Yes you can.
Thank you.

[2020-09-28 16:13] matks commented on #21185
@Eva-F Unfortunately this line of code has not been modified since ... 7 years https://github.com/PrestaShop/PrestaShop/blame/develop/admin-dev/themes/default/template/helpers/list/list_header.tpl#L293

So I'm afraid there is no way to find what was the intent at this time 😅

[2020-09-28 16:20] MatShir commented on #20821
We could adjust the page as the order view page, display the page tax depending of the customer group? What do you think?

[2020-09-28 16:25] Eva-F commented on #21185
imho it would be enough to remove $show_filters condition - orderby is really indepentent on where(=filter)
[code]

[2020-09-28 16:36] hellodracon opened #21191 ""File not found" when going on Products list with multistore activated on 1.7.2.0"
On PS 1.7.2.0, I've activated the multistore. Since then, when in the backoffice I click on a menu item to go on the page, the directory of the multistore I'm working on (let's call it **store2**) appears in the url :
https://www.mysite.com/store2/admin_directory/index.php?controller=AdminOrders&token=xxx

It's not a problem at all except when the directory is in the url and I'm trying to go to th

[2020-09-28 17:08] b44x commented on #21180
@khouloudbelguith - You need to turn on multistore.

https://drive.google.com/file/d/1dk1mhZIagqd_qs8N3SWXkhQr4DNkdStE/view?usp=sharing

[2020-09-28 17:26] bpato commented on #21173
@khouloudbelguith
I uploaded this module for test it, this throw me the notice, i don't know what is the difference with the others, maybe i am doing something wrong.

https://github.com/bpato/test-color-picker

[2020-09-28 18:38] amiralkgb opened #21192 "Prestashop installation error at 67%"
Hi,

I'm using online hosting from hostinger.com and when trying to install Prestashop 1.7.7.0 beta 2,  got error at 67%:

An error occurred during installation...
You can use the links on the left column to go back to the previous steps, or restart the installation process by clicking here.

"1: An exception occurred while executing 'SELECT t0.id_tab AS id_tab_1, t0.id_parent AS id_parent_2, t0.p

[2020-09-28 19:43] confusedatma9 commented on #21177
@khouloudbelguith,

 Thanks for the clarifying with the right data.

[2020-09-28 19:43] #21177 closed, assigned to nobody

[2020-09-28 21:23] Hlavtox commented on #19810
@khouloudbelguith Nono don't do it by catalog rules. Open the product B and add a specific price on Pricing tab. Then rebuild index and go check the category, it's gonna do it... (I hope :-D)

![specific](https://user-images.githubusercontent.com/6097524/94487546-778e0e80-01e1-11eb-853e-076321506447.PNG)

[2020-09-29 03:43] confusedatma9 opened #21193 "Standard Refund PS Back Office: Quantity available to be refunded doesn't get updated in the UI unlike Partial refund."
**Expected behaviour:**
Should have shown as "0/7" quantity available to be refunded under the Standard refund.
But it still shown as "0/10" even after 3 item being already refunded, where in case of Partial refund the behaviour seems right one.

**Standard refund:** In case of Standard refund, after refunding 3 quantity, quantity available to be refunded is "0/10".
<img width="980" alt="Screen Sh

[2020-09-29 06:06] confusedatma9 opened #21194 "Partial Refund PS Back Office: Partial refund accepts refund amount more than the ordered amount and also gets reflected in UI."
**Describe the bug:**
When we trigger Partial refund in the Back Office it accepts refund amount more than the ordered amount and also gets reflected in the UI as shown in the below screenshot.

<img width="1171" alt="Screen Shot 1942-07-07 at 11 12 57 AM" src="https://user-images.githubusercontent.com/71811239/94519267-e900a800-0247-11eb-8856-75934cffc404.png">

**Expected behaviour:** Should not

[2020-09-29 07:23] #21167 closed, assigned to nobody

[2020-09-29 07:49] Paman65 commented on #21181
Good morning

Thanks for your answer
I’m sorry but I didn’t manage to solve the problem. It seems that prestashop does not take into consideration the instruction contained in the file .htaccess for the product image greater than 7 numbers

B regards

[2020-09-29 07:57] khouloudbelguith commented on #21192
Hi @amiralkgb,

Thanks for your report.
I did not manage to reproduce the issue with PS1770beta2.
Here's my configuration
![image](https://user-images.githubusercontent.com/16067358/94529428-02025c80-023a-11eb-8ea9-0c40707b5c61.png)
Thanks to follow this [link](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#how-to-verify-your-server-meets-prestashops-requirements) and

[2020-09-29 08:10] khouloudbelguith commented on #21193
Hi @confusedatma9,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.8.
![image](https://user-images.githubusercontent.com/16067358/94530640-a933c380-023b-11eb-9a22-ddd68d920f86.png)
But it is fixed in the next release 1.7.7.0.
![image](https://user-images.githubusercontent.com/16067358/94530715-c8325580-023b-11eb-92ca-b05fa7ea9de1.png)
https://drive.google.com/file/d/1jq92NsrN

[2020-09-29 08:10] #21193 closed, assigned to nobody

[2020-09-29 08:22] okom3pom commented on #21181
Prestashop close this https://github.com/PrestaShop/PrestaShop/issues/14695 i hope you can find the fix

https://github.com/PrestaShop/PrestaShop-1.6/issues/12

[2020-09-29 08:36] khouloudbelguith commented on #21194
Hi @confusedatma9,

Thanks for your report.

I did not manage to reproduce the issue with PS1.7.7.0beta2
![image](https://user-images.githubusercontent.com/16067358/94532558-51e32280-023e-11eb-9be6-9857456afc64.png)
PS: with PS1.7.6.8, I have an exception
![image](https://user-images.githubusercontent.com/16067358/94532806-a2f31680-023e-11eb-8f9e-f5ef418be836.png)
Not reproduced with PS1770beta2.

[2020-09-29 08:37] aleksiuno commented on #20962
The first part of this task is clear, if nobody will, I will create PR this evening. The second part is more complicated though.

Currently, when the user clicks on 'Regenerate thumbnails' there is no "Modal pop-up" there is just a basic JavaScript confirmation dialog message for which you can update only the message content (you can't update the title or the button names).

So should only the con

[2020-09-29 08:42] khouloudbelguith commented on #21191
Hi @hellodracon,

Thanks for your report.
Is it your issue similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/11364?
Thanks to check this fix: https://github.com/PrestaShop/PrestaShop/pull/11478 and feedback.

Please in the next time, you must follow the GitHub's issue template.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how

[2020-09-29 08:48] confusedatma9 commented on #21194
So for PS1768 do we need to handle this invalid scenario?

[2020-09-29 09:07] khouloudbelguith commented on #21194
@confusedatma9, in fact, since it is not reproduced with PS1.7.7.0beta2, the issue is fixed in the next release.
So that we can close the ticket?

Thanks!

[2020-09-29 09:15] khouloudbelguith commented on #19810
Hi @Hlavtox,

Thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.8 and PS1770beta2 & ps_facetesearch v3.6.0. **But it is random**.
I attached a screen record
https://drive.google.com/file/d/1JhCSn4ORPuI-UUP--ct7GNm2bexMyhEj/view?usp=sharing

Record about the random issue
https://drive.google.com/file/d/1GfYOgUk0Z9ibtNgyapSxlsfdjuQC_Vbc/view?usp=sharing

Ping @PierreRambaud
I’ll

[2020-09-29 09:21] eternoendless opened #21197 "[EPIC] - CI / CD improvements"
In order to make the release process as lightweight as possible, we must automate as many tasks as possible.

## Features
- [x] #14146
- [x] #21198
- [x] #21199
- [x] #21202
- [x] #22158
- [x] #22852
- [x] #23194
- [x] #21989
- [x] #15570
- [x] #22728
- [x] #24650
- [x] #25193
- [x] #24561
- [ ] #25792

## Bugs
- [x] #25374

## Fixed

### Features
- [x] #21200
- [x] #21201
- [x] #21207
- [x] #2129

[2020-09-29 09:22] khouloudbelguith commented on #21173
@bpato, I have the same exception using your module.
On this GitHub repository, there is no software support. This is an open-source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Thanks for your understanding!

[2020-09-29 09:23] hellodracon commented on #21191
Hi @khouloudbelguith
I've tried it but that's not the same thing apparently. In #11364 they are talking about the subdomain that appears twice in the backoffice URL, I'm talking about the new store's subdirectory that appears in the URL which is not a problem for most of the pages except the Products list page.

I found out that all backoffice URLs go to something like "/subdirectory/admin_directo

[2020-09-29 09:25] Julievrz commented on #20632
@marionf @LouiseBonnard  I think the more specific the better, but I don't know how much technical work it represents ?
If that's too much work, maybe we can stick with a standard message.

[2020-09-29 09:25] Progi1984 commented on #21186
Fixed by @matks in #21195

[2020-09-29 09:25] #21186 closed, assigned to matks

[2020-09-29 09:27] khouloudbelguith commented on #20984
@harisrnd, thanks!
I close the issue, feel free to open a new issue when needed.

[2020-09-29 09:27] #20984 closed, assigned to nobody

[2020-09-29 09:28] eternoendless opened #21198 "CI: Run security & legacy link linters"
#### Is your feature request related to a problem?

Some actions are performed too late in the build process, resulting in delays. We can leverage CI to automate these actions nightly.

#### Describe the solution you'd like

Add the following tests to nightly tests in order to verify that all controllers are secured by annotations and legacy link are present:

- `php bin/console prestashop:linter:

[2020-09-29 09:30] eternoendless opened #21199 "CI: Run symfony security check"
#### Is your feature request related to a problem?

Some actions are performed too late in the build process, resulting in delays. We can leverage CI to automate these actions nightly.

#### Describe the solution you'd like

Add the following tests to nightly tests in order to verify that no dependencies contain known security vulnerabilities:

[code]

[2020-09-29 09:32] Paman65 commented on #21181
With the change reported in this post

https://github.com/PrestaShop/PrestaShop/issues/14695

now view product images with ID greater than 7 numbers

Thank you

[2020-09-29 09:33] eternoendless opened #21200 "CD: Dump JS routing"
#### Is your feature request related to a problem?

Some actions are performed too late in the build process, resulting in delays. We can leverage CI to automate these actions nightly.

#### Describe the solution you'd like

Dump the JS routing to ensure it's always up to date, then [create an automated Pull Request](https://peterevans.dev/posts/github-actions-how-to-create-pull-requests-automatic

[2020-09-29 09:33] khouloudbelguith commented on #21191
@hellodracon, you are using an old version.
Some fixes have indeed been made for multi-shop URLs, for example:
https://github.com/PrestaShop/PrestaShop/pull/9450

Could you please provide the exact configuration related to your multishop context?
1. Are they in the same Group?
2. Different Physical URL?
3. Different Virtual URLs?
4. Different Domain?

![image](https://user-images.githubusercontent

[2020-09-29 09:35] hellodracon commented on #21191
Ho @khouloudbelguith  I'm really sorry, I didn't read #11364 entirely but tried  #11478 fix.
After reading all #11364 and applied the fix, it worked great. Really sorry about this. You can close it

[2020-09-29 09:35] eternoendless opened #21201 "CD: Update native modules"
#### Is your feature request related to a problem?

Some actions are performed too late in the build process, resulting in delays. We can leverage CI to automate these actions nightly.

#### Describe the solution you'd like

Check if native modules are up to date in `composer.lock`, update them and [create an automated Pull Request](https://peterevans.dev/posts/github-actions-how-to-create-pull-re

[2020-09-29 09:38] khouloudbelguith commented on #21191
@hellodracon, Great!
Your ticket is a duplicate of #11364
Thanks!

[2020-09-29 09:38] khouloudbelguith commented on #21191
Duplicate of #11364

[2020-09-29 09:38] #21191 closed, assigned to nobody

[2020-09-29 09:39] confusedatma9 commented on #21194
Could you please explain how to handle this issue for the PS1768 version, when we are utilising this UI for refund service.
I am using **actionProductCancel** hook and from this hook I didn't find a way to control this scenario.

[2020-09-29 09:40] eternoendless opened #21202 "CD: Extract translation catalogue"
#### Is your feature request related to a problem?

Some actions are performed too late in the build process, resulting in delays. We can leverage CI to automate these actions nightly.

#### Describe the solution you'd like

Extract the translation catalogue nightly using TranslationTool, and [create an automated Pull Request](https://peterevans.dev/posts/github-actions-how-to-create-pull-requests

[2020-09-29 09:42] khouloudbelguith commented on #21180
@b44x, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.8 & PS1.7.7.x.
![image](https://user-images.githubusercontent.com/16067358/94541972-84921880-0248-11eb-94b5-2cfc14c04701.png)
Steps to reproduce the issue:
1. Enable the multistore context
2. Create a new shop
3. Go to BO > Catalog > Categories
4. All shops selected
5. Create a new Root category
6. Unselect All sh

[2020-09-29 09:47] khouloudbelguith commented on #21194
@confusedatma9, sorry this issue is fixed during **migration**.
There is no PR to fix the issue.
You can wait for the 1770 stable release to make an upgrade.
Or
You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Can I close the issue?

Thanks!

[2020-09-29 09:47] okom3pom commented on #21181
@panam65

You can add this ( override ) when you generate the htaccess the change are not deleted :

https://github.com/okom3pom/PrestaShop/commit/efba21277c9ee8ebd900e892b6f6b0b467eade21

[2020-09-29 09:48] LouiseBonnard commented on #20962
It would be amazing, thank you very much!
🙌
Absolutely, the idea is to turn this JS confirmation dialog message into a modal window. We did the same for the table items, cf. https://github.com/PrestaShop/PrestaShop/issues/17847. Maybe @sowbiba could help you with this?

[2020-09-29 09:49] khouloudbelguith commented on #20872
Hi @onklmaps,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-09-29 09:49] #20872 closed, assigned to nobody

[2020-09-29 09:50] khouloudbelguith commented on #20496
Hi @dariusakafest,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-09-29 09:50] #20496 closed, assigned to nobody

[2020-09-29 09:51] SimonGrn commented on #21192
`General error: 2006 MySQL server has gone away` is a generic error that occurs when your MySQL server shutted down because of too much load. Your server is not powerful enough.
This is something you may want to check with your hosting provider.

I close this issue as it's not a core PrestaShop issue. Feel free to open a new one if you have new information related to the core or natives modules.
T

[2020-09-29 09:51] #21192 closed, assigned to nobody

[2020-09-29 09:57] Hlavtox commented on #19810
@khouloudbelguith It's random because you added the specific price to all 3 products.
If you keep it only on product B, the order will be like on my screenshot.
But you discovered another bug, if the products have the same price, they are sorted randomly.

I opened this in the past - https://github.com/PrestaShop/PrestaShop/issues/18674, It was closed, but clearly it's happening even on 1.7.7...

[2020-09-29 09:59] PierreRambaud commented on #21181
I'm not able to reproduce, which version of Apache are you using?

[2020-09-29 09:59] okom3pom commented on #21181
https://github.com/okom3pom/PrestaShop/commit/78f86713e7d094c58ab7a5cedb2b68a2abf71feb

[2020-09-29 10:01] confusedatma9 commented on #21194
Thanks. you can close the issue.

[2020-09-29 10:03] #21194 closed, assigned to nobody

[2020-09-29 10:06] okom3pom commented on #21181
For me :
root@ns3151990:~# apache2 -v
Server version: Apache/2.4.25 (Debian)

[2020-09-29 10:10] Hlavtox commented on #17131
@prestascott @NeOMakinG @clotaire202

But the point is, they don't know that they are on the second level and the previous level is the homepage. They come to your website the same as to 20 another ones, when searching for the product they want.

As @NeOMakinG said, you must provide as many ways for user to navigate as you can. Some users still don't understand that logo = homepage.

Aaaand I thin

[2020-09-29 10:16] Paman65 commented on #21181
Thank you

[2020-09-29 10:25] marionf commented on #21134
@jolelievre As it's a minor regression of the 1.7.7 it should be fixed in 1.7.7.X
I move it in 1.7.7.x kanban

[2020-09-29 10:34] despokd opened #21204 "Favicon preview not showing new favicon after upload"
#### Description

After uploading a favicon in the BackOffice the favicon preview shows  still the default PrestaShop penguin logo.
When I upload the missing "app_icon.png" from "prestashop/img" the preview shows.

#### Expected behavior

After uploading it show the preview of the new favicon.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BackOffice > Design > Template and L

[2020-09-29 10:38] marionf commented on #19763
Hello @khouloudbelguith

Could you please try to reproduce this issue on 1.7.7.x ?

[2020-09-29 10:40] Daddaniele opened #21205 "Prestashop 1.7.6.7 wrong mapping on Tab Entity"
is

/**
 * @ORM\OneToMany(targetEntity="PrestaShopBundle\Entity\TabLang", mappedBy="tab")
 */
private $tabLangs;

should be

/**
 * @ORM\OneToMany(targetEntity="PrestaShopBundle\Entity\TabLang", mappedBy="id")
 */
private $tabLangs;

ad defined on TabLang
/**
     * @ORM\Id
     * @ORM\ManyToOne(targetEntity="PrestaShopBundle\Entity\Tab", inversedBy="tabLangs")
     * @ORM\JoinColumn(name="id_tab"

[2020-09-29 10:55] khouloudbelguith commented on #21205
Hi @Daddaniele,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-09-29 10:55] #21205 closed, assigned to nobody

[2020-09-29 11:02] khouloudbelguith commented on #21204
Hi @despokd,

I did not manage to reproduce the issue with PS1.7.6.8 & PS1.7.6.7 & 1770beta2.
https://drive.google.com/file/d/1t5zQLrtmzfMyJq2l8ARyHdIzAKtYlZtR/view?usp=sharing
You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.
Thanks to check and feedback.

[2020-09-29 11:09] Daddaniele opened #21206 "Wrong entities mapping"
There is an error on PrestaShopBundle\Entity\Tab.php
The entity refers to TabLang entity with mapping: tab

![image](https://user-images.githubusercontent.com/53485203/94550694-71854580-0254-11eb-80aa-f40b44134517.png)

The mappedBy should be "id" as defined on PrestaShopBundle\Entity\TabLang.php
![image](https://user-images.githubusercontent.com/53485203/94550739-88c43300-0254-11eb-9ec6-de3da9cf6

[2020-09-29 11:13] khouloudbelguith commented on #19763
Hi @marionf, @florine2623,

It is ok with 1.7.7.x branch.
1. If `amount < discount`
![image](https://user-images.githubusercontent.com/16067358/94551342-7e566900-0255-11eb-8155-be9c0e466e93.png)
2. If `amount > discount`
![image](https://user-images.githubusercontent.com/16067358/94551375-8c0bee80-0255-11eb-8961-4709b442aa05.png)

I close the issue since it is fixed.

Thanks!

[2020-09-29 11:13] #19763 closed, assigned to nobody

[2020-09-29 11:21] khouloudbelguith commented on #21206
Hi @Daddaniele,

Thanks for these clarifications.
I manage to reproduce the issue with 1768, 177x branch and develop branch.
![image](https://user-images.githubusercontent.com/16067358/94552111-abefe200-0256-11eb-85dd-dd668c742cbe.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

@D

[2020-09-29 11:44] Progi1984 opened #21207 "CI: Move Linter (YAML) to Github Action"
#### Is your feature request related to a problem?

That permits to optimize time on Travis CI

#### Describe the solution you'd like

Move linter to a Github Action and remove it from Travis CI

[2020-09-29 12:02] #20700 closed, assigned to nobody

[2020-09-29 12:42] sarahdib commented on #21104
@LouiseBonnard no it's an improvement I think

[2020-09-29 12:56] NKoonen commented on #21104
If people disable cache, you can't expect people to still clear cache.
Because if the cache was really disabled, there is nothing to clear.

[2020-09-29 13:32] matks commented on #9659
@jf-viguier @nsorosac @seigieu @SebBareyre @Hlavtox @musicpanda @mrttahd @habratto In case you did not notice, this issue was closed because the bug has been fixed 😉 see PR https://github.com/PrestaShop/PrestaShop/pull/20673 thanks to @PierreRambaud

[2020-09-29 13:50] pswaab commented on #20113
Hi,

Is it possible to add a field in the backend for an example zipcode of the specific country, so people see what they need to insert. A C is not clear for people.

Also multiple options per country would be nice (for NL for instance 1111AA or 1111 AA).

Kind regards,

Patrick

[2020-09-29 14:30] roncarino opened #21210 "function "existsInDatabase" in "ObjectModel" discrepancy with "orders" table"
#### Describe the bug

Function `existsInDatabase` inside `ObjectModel.php` use `$id_entity` and `$table` as parameters.
In case of `orders` this call will throw a **PrestaShopDatabaseException** because the query won't find any fields called **id_orders**.
In Prestashop current design it has been chosen **orders** (plural version) instead of **order** (singular version) which means the query will

[2020-09-29 14:36] khouloudbelguith commented on #21210
Hi @roncarino,

Thanks for your report.
You are using an old version.
Have you tried to reproduce the issue with PS1770beta2?

Thanks!

[2020-09-29 14:40] roncarino commented on #21210
Hi @khouloudbelguith, thanks for your answer.
the function `existsInDatabase` hasn't been touched in PS1770beta2 so I assume the issue is still there. Cheers.

Loris

[2020-09-29 14:43] khouloudbelguith commented on #21210
Ping @PrestaShop/prestashop-core-developers can you check this issue?

Thanks!

[2020-09-29 15:02] PierreRambaud commented on #21181
Thanks, I manage to reproduce the issue :+1:

[2020-09-29 15:24] PululuK opened #21212 "CI: Skip Travis CI check in some cases"
#### Is your feature request related to a problem?

In some cases it is unnecessary to run the Travis CI checks. For example if you just modify the Contributors file, there is no need to run the Travis CI.

Examples :

- https://github.com/PrestaShop/PrestaShop/pull/21211
- https://github.com/PrestaShop/PrestaShop/pull/21208
- etc

#### Describe the solution you'd like

Do not perform travis when

[2020-09-29 15:25] PululuK commented on #21197
@eternoendless  can you add https://github.com/PrestaShop/PrestaShop/issues/21212 please

[2020-09-29 15:31] okom3pom commented on #21181
I propose two ways :

Prestashop say 10M id_image :

https://github.com/PrestaShop/PrestaShop/pull/21196

Prestashop say 100 M id_image

https://github.com/okom3pom/PrestaShop/commit/bb2094152cc5d67f1a5e3e4a79c6f1d2fc118281

Say me what the best

Finaly i think i have to add troubleshooting  in the devdoc ?

[2020-09-29 15:57] eternoendless commented on #21212
Hm... some files like `.md` could be skipped, but the other ones can absolutely have a functional impact:

Eg. modifying a `.twig` file may very well break a functional scenario.

[2020-09-29 15:57] eternoendless commented on #21212
Also, `.twig` files are checked for syntax.

[2020-09-29 16:06] PululuK commented on #21212
I totally agree with you. I updated my PR and ISSUE.

[2020-09-29 16:16] matks commented on #21210
Hi !

I dont know why (the people who did it are long gone) but I can confirm the usage of `orders` is intentional

See https://github.com/PrestaShop/PrestaShop/blob/develop/classes/controller/AdminController.php#L3290
=> this statement clearly handles the same issue you mention by replacing `order` by `orders`.

Although we can only use guesses, I think indeed the database design is flawed. But i

[2020-09-29 16:27] LouiseBonnard commented on #20632
@Julievrz, @marionf, we already have the same kind of generic message, displayed in the confirmation modal window when the user deletes one or several rows in the tables of the back office. See [here](https://github.com/PrestaShop/PrestaShop/issues/17847). Maybe we can stick to this wording or adjust it a bit, like _Are you sure you want to delete this item/it?_.

[2020-09-29 16:32] despokd commented on #21204
Thanks for the reply @khouloudbelguith

Preview is now right after force refresh. Maybe there is a workaround in future versions of PS.

Thank your for your time.

[2020-09-29 17:07] HartLarsson commented on #21071
hi, this time the values in the DB ae right is only prestashop that not calculate the right sum and difference.

[2020-09-29 17:09] HartLarsson commented on #20981
can i share with you my ecommerce site?
So is more easy for you to understand how all works.

[2020-09-29 17:12] HartLarsson commented on #20981
![image](https://user-images.githubusercontent.com/16102074/94590699-639ce800-0287-11eb-915d-65a7bb921e2c.png)

acwessories are products that are managed by a plugin. The plugin permit to add to a product alist of acessories (other products) with the same price or a discount.
If yuo add a discount (when acessory is purchased with the product) the plugin creates a discount voucher (standard PS vouc

[2020-09-29 18:16] ThanasisMpalatsoukas opened #21216 "Installation problem using git clone"
After installing Prestashop on Ubuntu 20.04 distribution using lampp.

1. git clone https://github.com/PrestaShop/PrestaShop.git
2. sudo chmod -R 777 PrestaShop/ (just for testing purposes)
3. visiting the localhost/Prestashop file
4. Continuing the procedure of installation using the wizard.
5. After everything is completed (100%) without any issues and visiting the homepage at http://localhost/P

[2020-09-29 19:01] PululuK commented on #21216
Do not forget to compile assets and clear the browser cache !
See https://devdocs.prestashop.com/1.7/basics/installation/localhost/#javascript-and-css-dependencies

[2020-09-29 19:21] ThanasisMpalatsoukas commented on #21216
Right thank you i will look into it in a bit and close the issue if that was the case!

[2020-09-29 20:01] romanseki commented on #17673
you can use this module for svg logo on front-office
[https://addons.prestashop.com/en/labels-logos/49866-logo-svg-multilangual.html](https://addons.prestashop.com/en/labels-logos/49866-logo-svg-multilangual.html)

[2020-09-29 20:31] ThanasisMpalatsoukas commented on #21216
i would like to add that running this query helped me solve the issue on the front-end of the website:

query by @khalidumarr

INSERT INTO `{PREFIX}_image_type` (`id_image_type`, `name`, `width`, `height`, `products`, `categories`, `manufacturers`, `suppliers`, `stores`)
VALUES
	(10, 'large_banner', 960, 400, 0, 1, 0, 0, 0),
	(9, 'product_listing', 220, 220, 1, 1, 1, 1, 0),
	(8, 'category_default'

[2020-09-29 20:31] #21216 closed, assigned to nobody

[2020-09-29 20:42] matks commented on #21216
Thank you for the informations @ThanasisMpalatsoukas and thank you for the help @PululuK 😉

[2020-09-29 21:44] matks commented on #21039
Might be fixed by https://github.com/PrestaShop/PrestaShop/pull/21217/

[2020-09-30 06:56] valy72ro commented on #14479
I have the same issue on multistore 1.768

[2020-09-30 07:55] PululuK commented on #21210
To avoid this we can use the table name and primary in the object definition, something like :
[code]

[2020-09-30 08:04] PierreRambaud commented on #21210
@PululuK I was writing something like you :sweat_smile:
It's a possible "hack" and will be easier using an Object class instead of ObjectModel class

[2020-09-30 08:08] roncarino commented on #21210
Hi @matks , thanks for your answer. Yes, in this way there is not consistency of _table naming rule_ which is quite odd definitely. But, I do understand that a change like this would impact deeply.
So yes, I guess we need an alternative fix with `existsInDatabase`

Hi @PululuK, maybe I didn't get your code but I cannot see how this would solve the issue honestly. If I understood well your code, th

[2020-09-30 08:10] PierreRambaud commented on #21210
You will only have to do ̀Order::existsInDatabase(1);` the database table name will be automatically retrieve from the ObjectModel definition.

[2020-09-30 08:11] PululuK commented on #21210
Try

[code]

[2020-09-30 08:25] roncarino commented on #21210
I didn't try honestly but I expect an `undefined index: table` probably... 🤔   I'll try later maybe. Thanks 😃

[2020-09-30 08:31] PierreRambaud commented on #21134
If your server is badly configured, you're not able to install PrestaShop without having any error message on what the problem is :( , it is really minor :thinking:

[2020-09-30 08:36] Julievrz commented on #20801
Following Louise's advice, here is an updated wording : "Before requiring partner offers, please **make** sure to enable them in the [1]Shop Parameters > Customer Settings[/1] section of the back office. Otherwise, new customers won't be able to create an account and **proceed** to check out."

"Before desabling partner offers, please **make** sure they are not a required field in the [1]Customer[

[2020-09-30 08:46] ballashop commented on #19935
@marionf @jolelievre @florine2623 @Pitt1823 @superskyman100
very interesting discussion, as sellers we have the same position as superskyman100.
Usually the seller applies or adds discount rules, so removing the already assigned rules seems less intuitive.
But with some small changes in layout and functionality, all could be solved, I took a screenshot with some graphic changes.
![layout-rule](htt

[2020-09-30 08:46] khouloudbelguith opened #21220 "BO - Welcome module - Th pop up onboarding is not displayed in the step4/6 "step2" - mbo installed"
#### Describe the bug

When the ps_mbo module is installed, the popup onboarding is not displayed at the step 4/6 "Get your shop ready for Payment" step2
![image](https://user-images.githubusercontent.com/16067358/94663416-f1211c00-0309-11eb-8420-a0bee6d992ba.png)

#### Expected behavior

![image](https://user-images.githubusercontent.com/16067358/94662055-29275f80-0308-11eb-8860-c3a9ce3796e9.png)

[2020-09-30 09:18] krupers opened #21222 "Issue with Total number of elements on category page"
I tried to find a solution, but I couldn't - so I decided to write this issue here :(

My page is showing pagination with selected number of 12 elements per page.

Then I am switching between i.e. 4 pages with total 40 products and I see:
- Page 1: Products 1 to 12 of total **12**
- Page 2: Products 13 to 24 of total **12**
- Page 3: Products 25 to 36 of total **12**
- Page 4: Products 37 to 40 of

[2020-09-30 09:19] roncarino commented on #21210
Yep..
![Schermata 2020-09-30 alle 11 19 01](https://user-images.githubusercontent.com/13092188/94667222-d00efa00-030e-11eb-9dcc-bcd13f0a9339.png)

[2020-09-30 09:25] florine2623 commented on #21222
Hi @krupers ,
Yes that's correct.
If you want to show more articles in the category page, you can do so in your BO > Shop Parameters > Products > scroll down  and change number of products to show.
Thanks!

[2020-09-30 09:25] #21222 closed, assigned to nobody

[2020-09-30 09:32] krupers commented on #21222
I think it is NOT correct.. total elements (last number) should be a number of total elements of category so 40 not 12.

On other store I see it correct:
- Page 1: 1 to 12 of total 40
- Page 2: 13 to 24 of total 40
- Page 3: 25 to 36 of total 40
- Page 4: 37 to 40 of total 40

And why you closed it if it is not a correct solution :/

[2020-09-30 09:35] krupers commented on #21222
Incorrect on one shop:
![image](https://user-images.githubusercontent.com/9113275/94668870-dc945200-0310-11eb-9779-e861c5e8c371.png)

Correct on the other:
![image](https://user-images.githubusercontent.com/9113275/94668986-f9308a00-0310-11eb-9719-10eabcf4f5dc.png)

[2020-09-30 09:43] PululuK commented on #21210
Hi @roncarino
Updated .. sorry !

[2020-09-30 09:45] PierreRambaud commented on #21212
It's the same for images files if the image is malformed, it can break the BO, if the image is used with gd, it can break another thing.
The gitignore file can also introduce problems. If you ignore a file you already have on your computer, how do you know a fresh install will create this file/directory, I already saw this kind of errors in other projects.
Finally, only md files can be ignored :th

[2020-09-30 09:57] krupers opened #21224 "(Again) issue with pagination"
#### Describe the bug

Someone closed my issue, without waiting for an answer and thinking it is okay, so I am opening it again - please help!

My page is showing pagination with selected number of 12 elements per page (set it manually at BO > Shop Parameters > Products > scroll down and changed number of products to show.

Then I am switching between i.e. 4 pages with total 40 products and I see:

[2020-09-30 10:00] elrosi commented on #20573
Hi,
I found a problem with incorrect rounding Price (tax incl.) at values of 32.30, 33.30, 33.24, 33.22
These values change the price of the product to many decimal places, such as 32.229999, 33.229999
This looks like a problem in JavaScript.
PrestaShop v. 1.7.6.8, 1.7.7.0 beta 1
https://share.vidyard.com/watch/sCA81ZYLSxne6VbgHVp9Sj?

[2020-09-30 10:06] roncarino commented on #21210
Yep, thanks! It does make sense. I haven't tried yet but it definitely makes more sense. It looks like also a "**not breaking**"  fix because it will work for previous cases as well. No need for more parameters as my "potential solution"...

[2020-09-30 10:07] marionf commented on #20573
Hello @elrosi
Your issue is not related to this issue on the order page but rather to this one: https://github.com/PrestaShop/PrestaShop/issues/9972, you should follow this issue

[2020-09-30 10:29] eternoendless commented on #18647
## Status update: RC 1 has been built! 🏗️

The Release Candidate has been built yesterday and is now under QA validation. If everything goes well you can expect it to be published around October 12th.

[2020-09-30 10:33] florine2623 commented on #21224
Hi @krupers ,
The problem was not well explained I didn't understand exactly what you meant.

The issue is not reproducible in PS 1.7.6.7 nor PS 1.7.7.0 with classic theme.
![Capture d’écran 2020-09-30 à 12 31 21](https://user-images.githubusercontent.com/16019289/94674741-f0dc4d00-0318-11eb-8719-123bdba3f9aa.png)
![Capture d’écran 2020-09-30 à 12 31 26](https://user-images.githubusercontent.c

[2020-09-30 10:33] #21224 closed, assigned to nobody

[2020-09-30 11:24] roncarino commented on #21210
Hi @PululuK
yes, I can confirm the solution should work properly. I saw you have already done the PR. Well done. Cheers

[2020-09-30 12:30] PululuK commented on #21212
I'm not sure we're talking about the same thing ... 😃
Travis CI will not be able to detect this ... this is a remark that should be made by a maintainer

[2020-09-30 12:44] PierreRambaud commented on #21212
The CI is executing our tests. In our tests we have the installation process that can be tested with a fresh install everything is working well.
If an image is malformed and the test is executed by a human, something can be missed.
If a directory is missing because of a wrong gitignore, something will be broken too.

Having CI here that takes only a few minutes to be executed is not a problem, in

[2020-09-30 13:02] PululuK commented on #21212
@PierreRambaud  If you have to pay for each build, I think you wouldn't have the same option 😅
Do not forget that behind all this there are electrical resources ... so for the good of the planet let's avoid unnecessary waste! 🙂

[2020-09-30 13:03] krupers commented on #21224
Okay, so instead of help, again topic was closed, great... What an unhelpful community :(

I have no modification in "theme" (classic and child) between shops and no modification in "modules" between shops...

[2020-09-30 13:04] charlieHos opened #21230 "Registration/Login through checkout keeps loosing customer session - PRESTASHOP 1.7.6.4"
I am facing the following issue; not logged customers can't complete order during checkout because after step of LOGIN/REGISTRATION customer gets logged out immediately, probably because session get wiped out for some reason.

Consider that registration and login works correctly in authentication page but it does not during checkout.

I think it could be some bug of 1.7.6.4.

Is someone else encou

[2020-09-30 13:13] khouloudbelguith opened #21228 "FO - A warning "jQuery('#') is not a valid selector" is displayed in the console"
#### Describe the bug

In the FO > When we click on the "Quick View" button, we have a warning

This warning is displayed when we close the popup or when we change Quantity, combinations, select an image
![image](https://user-images.githubusercontent.com/16067358/94689528-458ac280-032f-11eb-94e6-c0f3be137ed4.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO
2. Click on t

[2020-09-30 13:21] PierreRambaud commented on #21212
Even if I had to pay for it, I think the whole Core team can agree with the fact that I'm really annoying to be sure it's fully executed whatever the time it can take :sweat_smile:

As I said, it's not unnecessary because it can find errors that a human can miss. Because if there is an error during the installation process and we skip the CI, we will all try to find the problem, checkout and pull

[2020-09-30 13:32] shikotakcom opened #21229 "shipping cost according weight not work"
Hi,
I set a carrier rule according to weight. It applies on all the zones and with fix price but in front office I just see free shipping.
The shipping cost does not apply on products.
I check the database and the cost is displayed in ps_delivery table. I even create  another carrier but it is still displayed free shipping.
![1-1 (2)](https://user-images.githubusercontent.com/48174981/94691838-aec

[2020-09-30 13:51] SimonGrn commented on #21229
Dear @shikotakcom
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-09-30 13:51] #21229 closed, assigned to nobody

[2020-09-30 13:52] SimonGrn commented on #21230
Dear @charlieHos
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will b

[2020-09-30 13:52] #21230 closed, assigned to nobody

[2020-09-30 13:56] matks commented on #21224
@krupers We use GitHub issues only to discuss about bugs in the PrestaShop project and new features. This place is not the right area to seek help.

Here are the right places:

- Community chat: https://github.com/PrestaShop/open-source/blob/master/slack/readme.md
- Community forums: https://www.prestashop.com/forums/
- Stack Overflow: https://stackoverflow.com/questions/tagged/prestashop

You can

[2020-09-30 14:18] shikotakcom commented on #21229
I miss prestashop version. It is 1.7.50 and PHP version is 7.1
What information do you need to help me? because it needs to test. I tried to describe the problem.

[2020-09-30 14:31] krupers commented on #21224
@matks tell me - what is the "bug" from definition, because I am mixed about this... :/
I found a bug and it can be called a bug... that is maybe only on my instance, maybe not...
It just shown, that there is something unexpected (with totally no influencing modules, because it's kinda fresh store).

I have verified all the variables in php files and tracked them from source (core/src) to executio

[2020-09-30 15:09] stephR commented on #14640
@HartLarsson same for me with 1.7.6.5
my data in ps_currency table is like yours but on front-end price_tax_exc shows more than 2 decimals (6 in back-end) and currency is not displayed like with regular price...

[2020-09-30 23:56] xiropot opened #21233 "product-variants.tpl not updated when javascript cache is enabled"
#### Describe the bug

When the Smart cache for JavaScript is enabled, the product-variants.tpl is not refreshed on ipa update (let's say when I choose a pair of shoes and select for my size black instead of white.

#### Expected behavior

I made a module for putting an X over a sold-out color (footwear store). Long story short, from the ipa (id_product_attribute) or the group[x] respectively (ini

[2020-10-01 07:37] florine2623 commented on #21233
Hi @tapandagr ,
Could you try to do the same steps with PHP 7.2. HP 7.3 is not compatible with your version of PrestaShop : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2020-10-01 08:07] PululuK commented on #21212
Yes I know. Don't worry, I had the opportunity to discuss with you on a little more controversial subjects, and I know very well that you all share the same options.

If I provide a PR with a single malformed `.png` file and neither the maintainers nor the QA team can detect it, I think the problem is much more serious.

[2020-10-01 08:18] khouloudbelguith opened #21236 "FO - Product page - Incorrect image is displayed when we select a combination"
#### Describe the bug

In the FO => Product details page > when we select a combination, the cover image is displayed although is not selected.
As detailed [here](https://github.com/PrestaShop/prestashop-specs/blob/master/front-office/Product-images.md)

#### Expected behavior

Follow specific [spec](https://github.com/PrestaShop/prestashop-specs/blob/master/front-office/Product-images.md)

#### S

[2020-10-01 08:19] khouloudbelguith commented on #21236
I think is related to this PR: https://github.com/PrestaShop/PrestaShop/pull/15748

[2020-10-01 09:35] sandra2n opened #21238 "Cannot retrieve cached configuration after multishop disabling"
### Describe the bug and add screenshots

**1. Case 1:**
I am on a Prestashop 1.7.6.8 with only one shop (previously two, but one was deleted and the multistore is now disabled) and am trying to get a configuration, but it does not works.

I try to get it using `Configuration::get('MY_CONFIG_NAME', null, 1, 1)`.

In Configuration::get(), I can see that my config is in `self::$_new_cache_shop` like

[2020-10-01 09:57] SimonGrn commented on #21238
Hello,
I took the liberty to edit your post to display the code bits properly.
Please think about following the template, as deleting everything is kinda disrespecting for us, since it asks for precise steps and information we now have to ask you. You can learn more [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).
What version of PHP are you using ? What was your exact steps

[2020-10-01 10:08] sandra2n commented on #21238
Hi,

Sorry about that, I did not even noticed the template you are talking about?
My PHP version is 7.2.33
For the multishop I deleted the second shop in the mutishop tab of the Prestashop admin and then disabled the multishop option in the general shop parameters tab.

Thank you

[2020-10-01 10:12] SimonGrn commented on #21238
When you click on "New issue" you arrive on this page :
![image](https://user-images.githubusercontent.com/49909275/94796468-22b7e700-03df-11eb-9849-75dd7b155b73.png)
And when you click on "Get started" in regard of "Bug report" you get this page with a pre-filled content:
![image](https://user-images.githubusercontent.com/49909275/94796572-424f0f80-03df-11eb-8618-b06e6a5e8258.png)

Anyway, we'll

[2020-10-01 10:17] jolelievre commented on #21238
Hi @sandra2n

If I'm not wrong with what you explained you should end up with `$idShop` equals to `null` right?

So the value should not be fetched from `self::$_new_cache_shop` but from `self::$_new_cache_group` (if a group value exists) or from the most generic fallback `self::$_new_cache_global`

When multishop is not enabled and you have no shops defined the configuration values usually are in

[2020-10-01 10:23] khouloudbelguith opened #21240 "FO - Prices are not updated when changing combination"
#### Describe the bug

In the FO > Product details page > prices are not updated when changing combinations.
We should refresh the page.

#### Expected behavior

Price should be instantly updated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Product page > Edit first product "Hummingbird printed t-shirt"
2. Edit the combination by default with **minimal quantity = 3**
3

[2020-10-01 10:23] khouloudbelguith commented on #21240
Related to: https://github.com/PrestaShop/PrestaShop/issues/14744

[2020-10-01 10:36] sandra2n commented on #21238
Yes $idShop is displayed as null.
I did try to emptied the cache in advanced parameters > performance, but it did not change anything. Even tried to disable the cache.
In the database, most configurations have id_shop null but some (like the one I have issue with) have id_shop = 1
![Screenshot](https://user-images.githubusercontent.com/24668239/94798054-572ca280-03e1-11eb-8c56-fb6cf0497c90.jpg)

I

[2020-10-01 11:40] iverestchagin commented on #18557
The problem is that "welcome" module uses `$link` template variable as a string rather than a `Link` instance (that it is in fact) in `modules/welcome/views/content.tpl:49`. Error only appears while product creation wizard is not finished.

[2020-10-01 11:42] mapi96 opened #21242 "google sitemap 500 server error"
Hello,

I am trying to create my website's sitemap with the Google Sitemap module. I fill in all the data and when I click "generate sitemap", I get a screen with the 500 server error.

Does anyone know how I can fix it?

Thank you very much

[2020-10-01 11:53] jolelievre commented on #21238
Hi @sandra2n,

there is definitely a bug related to your problem:
- either the shop related configuration should be "converted" back into global ones when you only have one shop,
- or the idShop should be allowed to be different from 0 even when multi shop is disabled, just in case there was a multishop before but not any more, maybe we could have a test that the shop cache is not empty meaning po

[2020-10-01 11:57] aniketJivtode commented on #18858
Hi, Can I work on this issue ?

[2020-10-01 12:03] PierreRambaud commented on #21212
If your PR change a lot of images, it's the same thing :wink:

[2020-10-01 12:08] sandra2n commented on #21238
Hi @jolelievre,

Thanks for the help!

[2020-10-01 12:19] florine2623 commented on #21242
Hi @mapi96 ,
With PS 1.7.6.8 ad PS 1.7.7.0, using module Google Sitemap v4.2.0, I can't reproduce your issue.
You can enable debug mode to see where the error comes from.
Please contact the [support-team](https://addons.prestashop.com/en/388-support) to get help on that topic.
Thanks!

[2020-10-01 12:19] #21242 closed, assigned to nobody

[2020-10-01 13:28] BorisPanno commented on #9589
Hi @Juranville,

Sorry, the issue is not fixed yet, PrestaShop 1.7.6.8

Thank you! 👍

![image](https://user-images.githubusercontent.com/71722058/94815181-8a2f6000-03fa-11eb-9bd1-ac06e92572e0.png)

[2020-10-01 13:39] NeOMakinG commented on #21228
@khouloudbelguith

I'm completely unable to reproduce it, even by rebuilding every assets

@PrestaShop/prestashop-maintainers can someone try to reproduce too ?

[2020-10-01 13:45] khouloudbelguith commented on #21228
@NeOMakinG, I'm using a docker environment
![image](https://user-images.githubusercontent.com/16067358/94817278-2490a300-03fd-11eb-935f-42211f42def4.png)

Thanks!

[2020-10-01 13:59] kalina-lina opened #21247 "PROBLEM WITH PRESTASHOP X ERP TINY INTEGRATION"
Hello good day.

I'm trying to integrate the site with ERP Tiny (https://tiny.com.br/), I generated a key (token) inside PrestaShop and tried to activate the system, but the following error appears:

** _ Configuration problem.
This call to PrestaShop Web Services returned an unexpected HTTP status of: 302 _ **

I don't know how to proceed.

[2020-10-01 14:03] florine2623 commented on #21247
Hi @kalina-lina ,

The GitHub platform is for bugs found on PrestaShop.

If you have any question regarding any external modules for integration or other, please contact the developer of that module of a [partner agency](https://www.prestashop.com/en/experts) ou the [support-team](https://addons.prestashop.com/en/388-support).

Thanks!

[2020-10-01 14:03] #21247 closed, assigned to nobody

[2020-10-01 14:10] PierreRambaud commented on #21228
I'm not able to reproduce too

[2020-10-01 14:25] marionf commented on #18702
This is fixed with PS 1.7.7.0

![capture d'écran_2800](https://user-images.githubusercontent.com/13449658/94822259-bd75ed00-0402-11eb-9c2d-f0569e354b8d.png)

[2020-10-01 14:25] #18702 closed, assigned to nobody

[2020-10-01 14:47] Robin-Fischer-PS commented on #21228
I'm reproducing the error, without using Docker, on RC1 build :

![image](https://user-images.githubusercontent.com/55688534/94824883-c3b99880-0405-11eb-95cf-c8a8fccaf8ea.png)

[2020-10-01 14:49] boubkerbribri commented on #21228
@PierreRambaud @NeOMakinG
I was able to reproduce it in the 1.7.7.0 RC1 with php7.2 by clicking on any element that trigger a js script (click on language dropdown or currency dropdown, or carousel.

![image](https://user-images.githubusercontent.com/48441421/94824997-e9df3880-0405-11eb-80da-4d3dc9aabeb9.png)

[2020-10-01 14:50] paulo-paiva opened #21248 "Prices (taxes included) in Combinations page"
My Prestashop 1.7.6.5 is configured to show product prices with taxes included.

In the backoffice, on the product combinations management page, the fields "impact on price" and "Final price" are with taxes excluded. It's very difficult to manage the prices with taxes excluded.

In Prestashop 1.6.1.2, both values are available and it was much simpler.

Is it possible to change these fields with ta

[2020-10-01 14:58] aledigit commented on #16505
Any news?

[2020-10-01 15:14] khouloudbelguith opened #21251 "BO - Shopping carts - Sort by Order ID=> NOK."
#### Describe the bug

AIn the BO > Shopping carts > Sort by Order ID > NOK.
You must have a lot of shopping carts to visualize the issue.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to  BO > Shopping carts > You must have a lot of shopping carts to visualize the issue.
2. sort by Order ID
4. See an error

**Screenshots**
![image](https://user-images.githubusercontent.com/160

[2020-10-01 15:15] khouloudbelguith commented on #21251
Ping @PrestaShop/qa-automation

[2020-10-01 15:37] khouloudbelguith opened #21252 "BO - Features page - No alert displayed when we click on "Save then add another value" button"
#### Describe the bug

In the BO > Catalog > Features page, there is no green alert when we click on "Save then add another value" button.
In the attribute page => ok

#### Expected behavior

![image](https://user-images.githubusercontent.com/16067358/94831042-84427a80-040c-11eb-9a1e-c21f3a7b6b72.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Features page

[2020-10-01 15:41] Robin-Fischer-PS opened #21254 "BO Free Shipping Discount wrongly calculated"
#### Describe the bug

In BO, adding a "free shipping" voucher on an order whose carrier has been changed in BO (thus changing the shipping costs), the voucher value is set at the previous shipping costs, not the new one.

#### Expected behavior

Free shipping voucher value should be calculated with current carrier cost, and not the original one.

#### Steps to Reproduce

Steps to reproduce the be

[2020-10-01 15:53] marionf commented on #18701
Specs updated here: https://github.com/PrestaShop/prestashop-specs/pull/136

[2020-10-01 16:00] SimonGrn commented on #21251
Looks like a sorting by alphabetical order instead of numerical order.

[2020-10-01 16:03] florine2623 commented on #21248
Ping @PrestaShop/product-team ,

What do you think about adding the price impact on the combination grid ?
Thanks!

[2020-10-01 16:53] BloodyIron opened #21257 "LDAP/AD (ActiveDirectory) Authentication"
Any chance we can get LDAP/AD (ActiveDirectory) Authentication implemented please? People have been asking about it elsewhere for years, figured I should post it on github now.

[2020-10-01 18:12] Xaconi opened #21259 "You cannot specify different payment module options on carriers with the same name"
#### Describe the bug

When you have two (or more) carriers with the same name on your store, you cannot assign them different payment modules options on the Payment Preferences page.

#### Expected behavior

I expected to assign different payment module options on the Payment Preferences page.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Fresh install
2. Go to BackOffice
3. Crea

[2020-10-01 18:15] Xaconi commented on #21259
I have workaround-code but I need approval from the Prestashop Core team. The result would be like the next pic:

![image](https://user-images.githubusercontent.com/1944438/94847274-aa731500-0422-11eb-9150-70d685424ae8.png)

I must pass the ID (or something specific from the carrier) to make the array on CarrierByReferenceChoiceProvider.php:75 a valid one. If I pass only the name, the array is inc

[2020-10-01 20:07] SimonGrn commented on #21259
Hello,

please specify the PrestaShop version you're referring to.

[2020-10-01 21:58] Xaconi commented on #21259
Hi!

The version is 1.7.6.7 but I think it's happening in 1.7.x.

[2020-10-02 06:44] SimonGrn commented on #21259
Hello,
please think about using the template, this helps us avoiding asking additional questions.

I reproduce with 1.7.6.7 :
![image](https://user-images.githubusercontent.com/49909275/94894714-39ffde80-048a-11eb-8b05-947ea2bab476.png)

I however don't reproduce with PrestaShop 1.7.7.0 RC1 (even with a carrier with the same delivery time, check the last 2 rows):
![image](https://user-images.githu

[2020-10-02 06:44] #21259 closed, assigned to nobody

[2020-10-02 06:48] SimonGrn commented on #21257
Hello,

It would be nice to respect the template.

I'll ping the Product Team to let them know about your improvement idea.

@PrestaShop/product-team what do you think ?

[2020-10-02 07:25] #21095 closed, assigned to NeOMakinG

[2020-10-02 07:41] roncarino commented on #21251
Has been changed something in 1.7.6.8? 🤔  I have a 1.7.6.4 with some shopping carts which doesn't seem to have the same problem honestly.

[2020-10-02 07:42] LouiseBonnard commented on #21257
Hi @BloodyIron, and thanks @SimonGrn! Could you please let us know why do you need LDAP/AD on your PrestaShop store? It will help us learn more about your problems or needs.

[2020-10-02 08:12] ngodefroy opened #21261 "[BO][Permissions][Database] An exception is displayed when the user has only READ rights"
#### Describe the bug

In TEAM, I edited the permission of one profile and set it all to "Read Only"
When I go to Database section, try to create a new backup, I get an exception while I should have the following message:
"You do not have permission to create this."

#### Expected behavior

The following message should be displayed: "You do not have permission to create this." or "Access denied"

[2020-10-02 08:30] ngodefroy opened #21262 "[BO][Permissions][Products] Error message not displayed using bulk edit"
#### Describe the bug

Set permission of a profile to Read only, connect with the user inside BO.
Try to bulk edit (duplicate/delete/activate)

#### Expected behavior

An error message should be displayed:
![Capture d’écran 2020-10-02 à 10 20 43](https://user-images.githubusercontent.com/69145330/94902726-efd22980-0498-11eb-88fe-935b4c35aa8a.png)

#### Steps to Reproduce

Steps to reproduce the

[2020-10-02 09:29] Julievrz commented on #9944
I think we should add a string "0 articles" in addition to the existing ones ("1 item" and "%d items") in _Shop.Theme.Checkout._

If there is zero articles, the string "0 articles" should be used.
If there is one article, the string "1 article" should be used.
For more than 1 article, the string "%d articles" should be used.

I talked about this issue with @LouiseBonnard and we agree that this is

[2020-10-02 09:51] Hlavtox commented on #21257
+1 on this.

We migrated to Office 365 recently and if employees could log in to prestashop by their Microsoft account, it would be cool.

[2020-10-02 09:59] khouloudbelguith opened #21267 "BO - Order page - Recalculate shipping costs option enabled - the Shipping price not instantly updated"
#### Describe the bug

When setting the "Recalculate shipping costs after editing the order" option to Yes, the shipping cost are recalculated when editing the order in BO when the price of the order exceeds the carrier's "limit" but not instantly, we need to refresh the page
![image](https://user-images.githubusercontent.com/16067358/94910988-c10e8000-04a5-11eb-9f7c-d20a4161568f.png)

When we **r

[2020-10-02 10:00] khouloudbelguith commented on #21267
Related to: https://github.com/PrestaShop/PrestaShop/pull/20798

[2020-10-02 10:07] khouloudbelguith commented on #21267
Ping @jolelievre could be fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/20903?

Thanks!

[2020-10-02 10:26] mattia-consiglio opened #21268 "blockreassurance PHP fatal error"
I downloaded the public repository deleting the folder `.github`  and the file `.gitignore`
I installed the modified the ZIP on PrestaShop Modules > Module Manager > Upload Module

Going to product page there wasn't the Customer reassurance block and all the elements below, the same form the checkout page. I checked the PHP error log and I see this error

[code]

PrestaShop v. 1.7.6.8
PHP v. 7.2

[2020-10-02 10:43] khouloudbelguith opened #21269 "BO - Order statuses - an alert is not displayed when deleting an order status"
#### Describe the bug

In the BO > Order Settings > Statuses page, When we try to delete an order status, there is no alert displayed.

It was ok with PS1768

#### Expected behavior

![image](https://user-images.githubusercontent.com/16067358/94915150-a7bd0200-04ac-11eb-8e9f-9f8cd6fea9f1.png)
.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Order Settings > Statuses page

[2020-10-02 10:48] jolelievre commented on #21267
Hi @khouloudbelguith

it is not directly related, I think what is missing here is just an ajax update of this carrier tab.
But yes, I think it's pertinent to add this small fix to the already existing PR indeed, I have to finish fixing another tricky bug but I'll add this to the PR right after.

Thank you

[2020-10-02 10:52] khouloudbelguith opened #21270 "BO - Order statuses - an incorrect alert is adding new order return status"
#### Describe the bug

In the BO > Order Settings > Statuses page, When we try to add new order return status, the alert is incorrect.
It is a "Successful update."
![image](https://user-images.githubusercontent.com/16067358/94915768-c1ab1480-04ad-11eb-8184-041e1089ab57.png)

#### Expected behavior
It should be a successful creation
![image](https://user-images.githubusercontent.com/16067358/949158

[2020-10-02 10:53] idnovate commented on #19055
@atomiix

The problem is that the only way to get the currency rates URL is by installing cronjobs module (https://github.com/PrestaShopCorp/cronjobs):

![image](https://user-images.githubusercontent.com/15104724/94915992-1b134380-04ae-11eb-92ba-875a67a1d1f4.png)

Once installed:

![image](https://user-images.githubusercontent.com/15104724/94916009-25354200-04ae-11eb-9dac-74360a0bfdcc.png)

![imag

[2020-10-02 10:56] khouloudbelguith commented on #21270
Fixed in the next release 1780
![image](https://user-images.githubusercontent.com/16067358/94916276-b2789680-04ae-11eb-809e-8b892711dd78.png)

[2020-10-02 10:56] #21270 closed, assigned to nobody

[2020-10-02 11:25] Mysklep opened #21271 "Product combination duplicates number of '\' in Reference upon saving"
#### Describe the bug

While modifying product combination, if 'Reference' field contains at least one '\\' backslash, when saving it gets replaced with double the number of backslashes. So 1 -> 2,  2 -> 4 and so on. This might be a problem for people that use management software (like SymSync) which might require backslashes for combinations.

#### Example

Index 'demo_14\\m' upon saving changes

[2020-10-02 11:51] khouloudbelguith commented on #21251
Hi @roncarino ,

Same issue with PS1768
![image](https://user-images.githubusercontent.com/16067358/94920291-4f8afd80-04b6-11eb-820f-bff3ca3f016d.png)

Thanks!

[2020-10-02 12:08] florine2623 commented on #21268
Hi @mattia8961 ,
Was the installation of the module successful ? Which version did you install ?
Can you check if the module is hooked to displayReassurance hook ?
Thanks!

[2020-10-02 12:16] matks commented on #21257
A contributor [mentioned that hook displayAdminLogin](https://github.com/PrestaShop/PrestaShop/issues/19124#issuecomment-634000123) is enough to implement external authentication 🤔 so there's nothing that prevent you from building it.

[2020-10-02 12:17] florine2623 commented on #21271
Hi @Mysklep ,
I have managed to reproduce the issue in PS 1.7.6.8 ans PS 1.7.7.0.
![Capture d’écran 2020-10-02 à 14 17 04](https://user-images.githubusercontent.com/16019289/94922155-fae98180-04b9-11eb-8f2a-d397d8cda538.png)
![Capture d’écran 2020-10-02 à 14 16 19](https://user-images.githubusercontent.com/16019289/94922188-0b99f780-04ba-11eb-8b4e-344dc006add5.png)

I’ll add this to the debug

[2020-10-02 12:49] matks commented on #21268
Hi, this bug is already reported 😉 it's this one https://github.com/PrestaShop/PrestaShop/issues/20254

And the bugfix is on its way 😄 https://github.com/PrestaShop/blockreassurance/pull/55

[2020-10-02 12:56] ghost opened #21272 "Wrong url in credit-slip e-mail"
#### Is your feature request related to a problem?

When you create a credit slip the url is not correct on the mail

![avoir](https://user-images.githubusercontent.com/5064590/94925384-6bdf6800-04bf-11eb-9066-4c52fc4e75ab.png)

[2020-10-02 13:06] florine2623 commented on #21272
Hi @okom3pom ,
I manage to reproduce the issue with PrestaShop versions 1.7.7.0 and PS 1.7.6.8.
I’ll add this to the debug roadmap so that it’s fixed. Thank you for your pull request!
Thanks!

[2020-10-02 13:27] Julievrz commented on #15858
https://github.com/PrestaShop/ps_advertising/pull/15 (Update of Advertising block)

[2020-10-02 13:34] BloodyIron commented on #21257
To interface with existing central authentication systems so users don't need to make additional accounts, they can use existing accounts.

[2020-10-02 13:35] BloodyIron commented on #21257
Well if that's the attitude to a feature request I might as well just build my own eCommerce tool.

[2020-10-02 13:36] ngodefroy opened #21274 "[BO][Shop param][search] Add new alias button disappear after adding a new alias"
#### Describe the bug

Under Shop param>Search, when I add a new alias, the button "add new alias" disappear.

#### Expected behavior

Same behavior as the "add new tag" button, it should stay.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to  shop param
2. Click on search
3. Click on add new alias
4. Add new alias
==>>the alias button has disappeared

**Screenshots**

https://

[2020-10-02 13:42] SimonGrn commented on #21257
PrestaShop is an open source project, anyone can help building it. If you can't, you can either wait for someone to do it for you for free, or pay somebody to do it and enhance the project as a whole.

Your choice.

[2020-10-02 13:44] BloodyIron commented on #21257
I can wait. But a response like that to a feature _request_ really is not welcoming. I'm not new to open source projects, hence asking for it. I'm not demanding it.

For those who clearly seem to be unfamiliar with them, LDAP and AD (ActiveDirectory) are the two most used central authentication systems on the planet. This kind of interfacing is used by countless software and systems globally. Inte

[2020-10-02 13:47] matks commented on #21257
Hi @BloodyIron I think you mistake my answer so I will provide a more detailed one:

PrestaShop does not aim to build everything. That is why you will not find inside PrestaShop things like 3rd-party authentication for Facebook or Gmail or Twitter even though these are classic 3rd party authentication providers. However PrestaShop must be _open to welcome such extensions_. PrestaShop must not _blo

[2020-10-02 13:49] SimonGrn commented on #21257
And I'll complete the answer from @matks by saying that this kind of answer is not acceptable here:

I'm then closing this issue as it's not going in the right direction.

Feel free to open a new one (following the template this time, since you're "not new to open source" you know how important it is to help maintainers doing their job) if you have more informations or a more convincing use case,

[2020-10-02 13:49] #21257 closed, assigned to nobody

[2020-10-02 13:50] BloodyIron commented on #21257
Well that speaks volumes. 🤦

[2020-10-02 13:56] SimonGrn commented on #21268
Hi @mattia8961

please follow the template next time, it helps us save time by not asking you questions you would have answered in it.

Thanks in advance.

I close this one as it's a duplicate.

[2020-10-02 13:56] #21268 closed, assigned to nobody

[2020-10-02 13:56] SimonGrn commented on #21268
Duplicate of #20254

[2020-10-02 14:02] PierreRambaud commented on #21228
I installed the 1.7.7.0 RC build  (zip file)  I'm still not able to reproduce the issue with or without the debug mode.

[2020-10-02 14:43] SD1982 opened #21275 "BO - Logs / Error code always have 0 for value"
#### Describe the bug

In the logs page the Error code value always have 0 as value

#### Expected behavior

The value should be coherent

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Advanced parameters => logs
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/40635814/94936164-2fffcf00-04ce-11eb-87b6-838348a9cd9d.png)

![image](https://

[2020-10-02 16:30] #20931 closed, assigned to Progi1984

[2020-10-02 16:34] jolelievre commented on #21267
Hi @khouloudbelguith,

I looked into the carrier update to see if I could integrate it easily in my PR, but no ajax update
of this part of the page exists currently. So it requires a bit of additional javascript and probably
a new Controller to fetch the appropriate formatted data.

So I think it's safer to handle this bug in a dedicated PR. Although it should probably be done
after the #20903 is

[2020-10-02 23:54] Dino-Seo commented on #17199
Hi @01park,
I would also like to limit the number of products on the bestsellers page. I tried to edit the ProductSale.php file but no luck. Would you have found the solution?

[2020-10-03 13:36] shikotakcom commented on #21229
@SimonGrn Could you please update the topic and say why you close the topic?
I have really problem with this feature and I think it should be tested before you close the topic.

[2020-10-03 14:13] PululuK opened #21280 "[BO][LEGACY][LIST] The status name is not visible in the listing when the colors field is empty."
## Is your feature request related to a problem?

The status name is not visible in the listing when the colors field is empty.

## Describe the solution you'd like

Define a default color when the colors field is empty.

| Before      | After |
| ----------- | ----------- |
| ![94993029-64d35b00-058e-11eb-8940-c4c120b5a35d (1)](https://user-images.githubusercontent.com/16455155/94993104-eaefa180-

[2020-10-03 14:18] PululuK opened #21281 "[WIP] List/Grid/View color field improvements"
- [x] #21280
- [x] #21283
- [x] #21284

[2020-10-03 14:47] PululuK opened #21283 "The status name is not visible in the listing when the colors field is empty."
## Is your feature request related to a problem?

The status name is not visible in the listing when the colors field is empty.

## Describe the solution you'd like

Define a default color when the colors field is empty.

| Before      | After |
| ----------- | ----------- |
| ![Capture du 2020-10-03 16-42-00 (1)](https://user-images.githubusercontent.com/16455155/94994427-cd730580-0597-11eb-820c-

[2020-10-03 15:09] PululuK opened #21284 "[BO][SYMFONY][VIEW] The status name is not visible in the view when the colors field is empty."
## Is your feature request related to a problem?

The status name is not visible in the view when the colors field is empty.

## Describe the solution you'd like

Define a default color when the colors field is empty.

| Before      | After |
| ----------- | ----------- |
| ![Capture du 2020-10-03 16-59-22 (1)](https://user-images.githubusercontent.com/16455155/94994860-a407a900-059a-11eb-94b3-eb8

[2020-10-03 16:01] SD1982 opened #21285 "BO - Import file / File is imported but the data are not applied"
#### Describe the bug

The file import seems to be functionnal but the data are not added

#### Expected behavior

The data should be updated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO advanced parameters/Import
2. Download the "alias_import.csv" sample file
3. Try to import the previously downloaded file => The file is correctly imported
4. Go to BO Shop parameters/se

[2020-10-03 16:15] #21285 closed, assigned to nobody

[2020-10-03 21:22] SimonGrn commented on #21229
Hello @shikotakcom
please read my last comment, everything is explained.

[2020-10-04 09:45] OdeYec opened #21286 "Conflicting free shipping discounts causing "no carriers available for your delivery address" at checkout"
Hi there!
This issue might relate to these bug reports that I found (but I don't think they are exactly the same):  #11172, #10903

In Prestashop 1.7.6.7,  when trying to create two "free shipping" discounts, which one has a minimum amount conditions, no shipping method show up in checkout and instead there is "Unfortunately, there are no carriers available for your delivery address."

#### Steps

[2020-10-04 10:50] HartLarsson commented on #9866
i found an interesting thread in the forum but was for the old 1.6 version.
https://www.prestashop.com/forums/topic/597807-bug-on-frontcontrollerinit/

[2020-10-04 12:05] pdalexis commented on #12667
This work for me.

[2020-10-04 17:49] pontean opened #21287 "9547"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-10-04 17:53] pontean opened #21288 "Bağlantı linkleri ve kategorilerin kayması"
![Ekran görüntüsü 2020-10-04 205143](https://user-images.githubusercontent.com/32788556/95023044-7a767c80-0683-11eb-8ede-de2c0ba2fa34.png)
![Ekran görüntüsü 2020-10-04 205056](https://user-images.githubusercontent.com/32788556/95023045-7ba7a980-0683-11eb-92c2-f6b68f7630da.png)

Buradaki değişiklikten sonra işlemleri geri almama rağmen kaymalar oluştu. Eklenen linkleri silsem dahi düzelmiyor. Yardı

[2020-10-04 18:21] rmilecki commented on #21078
During the last 2 weeks I learned that:
1. Custom carrier module can set `need_range` to `1` in case it doesn't use "According to total price." / "According to total weight.". That is totally ignored by `AdminCarrierWizard` though.
Moreover it seem like an alternative to the `Carrier::SHIPPING_METHOD_WEIGHT` and `Carrier::SHIPPING_METHOD_PRICE` so it should be rather something like `Carrier::SHIPP

[2020-10-04 18:28] #21287 closed, assigned to nobody

[2020-10-04 20:23] SimonGrn commented on #21288
Hello,
Please send your request in English. English is the norm on GitHub.

Thank you

[2020-10-04 20:23] #21288 closed, assigned to nobody

[2020-10-04 20:24] SimonGrn commented on #21288
Hello,

please write your issue in english and follow the template. I close this issue, feel free to create a new one, following the rules.

Thank you.

[2020-10-05 06:28] ghost opened #21290 "Email : Lots of translations don't work"
#### Describe the bug

Lots of translations don't work because source don

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install a shop.

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional information

* PrestaShop version: N/A
* PHP version: N/A

[2020-10-05 06:28] #21290 closed, assigned to nobody

[2020-10-05 06:43] ghost opened #21291 "Email : Lots of translations don't work"
#### Describe the bug

Lots of translations don't work, the Translation file ( EmailsBody.fr-FR.xlf ) don't match with twig file.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install a shop with French language
2. Make an order
3. Check the mails
4. See error

For exemple If i change in **EmailsBody.fr-FR.xlf**

`<source><![CDATA[Review this credit slip and download your invoice

[2020-10-05 07:10] langziyang opened #21292 "Product feature error when lenght is long"
version: prestashop1.7.6.7

when Feature group lenght is very long(but i do not know how long). add it to product error.

right: after "Choose a feature" options li id is "select2-form_step1_features_0_feature-result-oapg-1",the last char is 1
![right](https://user-images.githubusercontent.com/2345387/95049501-70548c80-071c-11eb-8ab5-1735590828da.png)

but when i have very more feature group,the a

[2020-10-05 08:09] khouloudbelguith commented on #21280
Hi @PululuK,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.8.
![image](https://user-images.githubusercontent.com/16067358/95054751-a2e98f80-06f2-11eb-9515-e08dd9dea077.png)
But this issue will be fixed in the next release 1780 during migration.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/20442 to fix the issue.
Your ticket is a duplicate of https://github.c

[2020-10-05 08:09] khouloudbelguith commented on #21280
Duplicate of #20441

[2020-10-05 08:11] khouloudbelguith commented on #21283
Hi @PululuK,

Thanks for your report.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/20442 to fix the issue.
Your issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/20441.
Can we close the ticket?

Thanks!

[2020-10-05 08:14] khouloudbelguith commented on #21284
Hi @PululuK,

As Commented previously.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/20442
Your issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/20441
The **Expected behavior**
You should not be able to submit the form without providing a valid value for the "color" field.

Can we close this ticket?

Thanks!

[2020-10-05 08:16] khouloudbelguith commented on #21281
Hi @PululuK,

The **Expected behavior**
You should not be able to submit the form without providing a valid value for the "color" field.
As reported here: https://github.com/PrestaShop/PrestaShop/issues/20441, so can we close this ticket?

Thanks!

[2020-10-05 08:20] langziyang commented on #21292
i find why,it is not bug,some feature group not have language

[2020-10-05 08:22] khouloudbelguith commented on #21292
Hi!

Thanks for your issue.
Please in the next time you need to follow the GitHub issue's template.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thank you!

[2020-10-05 08:22] #21292 closed, assigned to nobody

[2020-10-05 08:55] khouloudbelguith commented on #21291
Hi @okom3pom,

Thanks for your report.
I manage to reproduce the issue with PS1.7.7.0rc1.
![image](https://user-images.githubusercontent.com/16067358/95058857-66209700-06f8-11eb-9ea4-efdba1096a82.png)
I tried to translate this expression from BO > International > Translation page => NOK
![image](https://user-images.githubusercontent.com/16067358/95058995-95370880-06f8-11eb-9245-64d0521c8512.png)
I

[2020-10-05 09:08] Robin-Fischer-PS opened #21293 "BO - Order details - Payment block not refreshed after adding product"
#### Describe the bug

On BO, when adding/updating a product on an already paid order, the message in Payment block "Warning €XX paid instead of €XX" is not added/updated immediately. A refresh is needed (on Legacy refresh wasn't needed).

Please note that when a voucher is added, the Payment block is automatically updated without refresh.

#### Expected behavior

Payment block should be updated e

[2020-10-05 09:18] khouloudbelguith commented on #21286
Hi @OdeChan,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.8.
![image](https://user-images.githubusercontent.com/16067358/95061445-e98fb780-06fb-11eb-800c-f3e7dbc7b91b.png)
But it is fixed with the next release 1770.
I tried with PS1770rc1build1 => ok
![image](https://user-images.githubusercontent.com/16067358/95061557-0a580d00-06fc-11eb-972b-e6ef0162d96d.png)
I attached a

[2020-10-05 09:18] #21286 closed, assigned to nobody

[2020-10-05 09:31] khouloudbelguith commented on #20981
@HartLarsson,

You need to contact the module author about this issue.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them.
I close the ticket, feel free to open a new one when needed.

Thanks!

[2020-10-05 09:31] #20981 closed, assigned to nobody

[2020-10-05 09:36] khouloudbelguith commented on #21071
@HartLarsson, as commented here: https://github.com/PrestaShop/PrestaShop/issues/20981#issuecomment-703517288
This issue is related to your module.

About this issue, it similar to this: https://github.com/PrestaShop/PrestaShop/issues/9779#issuecomment-415125166
Can I close the issue? it is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9779.

Thanks!

[2020-10-05 09:37] khouloudbelguith commented on #21204
@despokd,

It is a browser cache, not related to PrestaShop.
I close the issue, feel free to open a new one when needed.

Thanks!

[2020-10-05 09:37] #21204 closed, assigned to nobody

[2020-10-05 09:38] khouloudbelguith commented on #20995
Hi @darkstudio,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-05 09:38] #20995 closed, assigned to nobody

[2020-10-05 09:39] khouloudbelguith commented on #20982
Hi @daghb,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-05 09:39] #20982 closed, assigned to nobody

[2020-10-05 09:40] khouloudbelguith commented on #20750
Hi @prestaquality,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-05 09:40] #20750 closed, assigned to nobody

[2020-10-05 09:41] khouloudbelguith commented on #20298
Hi @NickolayGett,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-05 09:41] #20298 closed, assigned to nobody

[2020-10-05 09:51] mamoot64 commented on #19743
Problem is still here.

Prestashop: 1.7.6.8
Stripe: 2.2.0
Paypal: 5.2.0

Order confirmation is fully broken. Customer don't receive emails and order status isn't confirmed.

[2020-10-05 10:04] HartLarsson commented on #21071
I've verified that is not caused by any module.

Is not similar to #9779 because in the database all parts aer calculated right. Is only the final calculation (product total + shipping - discount) that is not calculated right,

Is not a problem of decimal rounding.
I've included the db table export you can see inside that all parts are calculated in the right way.

[2020-10-05 10:06] HartLarsson commented on #20981
I've contacted ecommerce 202 they have erleased a new version 5.2.0 that fix the problem.
I've reported here because this problem of a standard paypal official module can create problems to many installations.

The module for acessories is not affecting any prestashop calculation so was not there the problem.

[2020-10-05 10:11] Progi1984 opened #21294 "CI : Lock PR if PR contains "Merge commits""
#### Is your feature request related to a problem?

A Pull Request should not contains merge commits.

#### Describe the solution you'd like

Lock PR if PR contains "Merge commits"

[2020-10-05 10:19] ghost opened #21296 "Bad variable name in order_customer_comment.html.twig"
#### Describe the bug

Bad variable name in order_customer_comment.html.twig

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1) Make an Order
2) Go to Order Detail
3) Send a comment on the order
4) Check Mail from owner shop

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your pr

[2020-10-05 10:22] atomiix commented on #21291
@okom3pom @khouloudbelguith It looks like this bug will be fixed as soon as the translation catalogue is pushed on crowdin.

[2020-10-05 10:29] okom3pom commented on #21291
@atomiix

I asked for an access on crowdin i wait :)

Here it's https://github.com/PrestaShop/TranslationFiles/tree/master/1.7/translations/1.7.7/fr-FR not a reflect of crowdin ?

[2020-10-05 10:33] sarahdib opened #21298 "BO - Payment Methods - Special characters are not displayed correctly"
#### Describe the bug

Special characters are not displayed correctly using 1.7.7.x.
Ok using develop branch

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO -> payment
2. Click on payment methods
3. Scroll down to the bottom of the page
4. See error

**Screenshots**

<img width="1279" alt="Capture d’écran 2020-10-05 à 11 42 47" src="https://user-images.githubusercontent.c

[2020-10-05 10:34] okom3pom commented on #21291
And before pushed it's possible to see : https://github.com/PrestaShop/PrestaShop/pull/21273 ?

[2020-10-05 10:34] gerdus commented on #13912
You need to add sendemail=1 url parameter for the email to be sent.
eg. PUT /order_carriers/1234?sendemail=1

same is true on order_histories (update order status) /order_histories?sendemail=1

[2020-10-05 11:03] khouloudbelguith commented on #21296
Hi @okom3pom,

I manage to reproduce the issue with 1770rc1build1.
In fact, In the BO > Design > Email theme > `order_customer_comment`
![image](https://user-images.githubusercontent.com/16067358/95072107-fd8ee580-070a-11eb-8e7e-992608d43ef7.png)

I checked the ps1768
![image](https://user-images.githubusercontent.com/16067358/95072177-17c8c380-070b-11eb-8b7b-010d566d2ed3.png)

It is a regression.

[2020-10-05 11:04] PululuK commented on #21280
Thank you so much @khouloudbelguith
I don't think it's the same issue  ... @matks  can you confirm please ? (see the screen record please)

[2020-10-05 11:20] khouloudbelguith commented on #21280
@PululuK, thanks for your feedback.
The Expected behavior provided by @matks
`You should not be able to submit the form without providing a valid value for the "color" field.`
In this case, we cannot create an empty color => so the status can't be empty.

Thanks!

[2020-10-05 12:05] PululuK commented on #21280
OK, thanks ! But does this apply to legacy controllers too 🤔 ?

[2020-10-05 12:09] jolelievre commented on #21291
Your PR is a nice improvement, however it won't be integrated in 177 because it doesn't just change the email template and is a new feature. So nothing to worry regarding the 177 catalog update which should be performed tomorrow

[2020-10-05 12:11] marionf commented on #21228
Need more info to be able to reproduce it @SimonGrn

[2020-10-05 12:15] marionf commented on #21291
Verify if it work after the catalog update tomorrow

[2020-10-05 12:29] LouiseBonnard commented on #20011
No need to wait for the merge, the modification is to be done in the infrastructure. @eternoendless

[2020-10-05 12:52] matks commented on #21280
Hi !

I think @PululuK is right: these issues are slightly different.

My topic is about **refusing people to create new order states with a not-valid color value**. So it's a validation introduced in the form that prevents the form submission.

@PululuK is rather implementing a fallback mechanism where, if there is no color available, provides a relevant fallback color.

=> one topic is "prevent

[2020-10-05 12:53] Robin-Fischer-PS commented on #21228
I reproduce this bug with Chrome (Version 85.0.4183.102 (Build officiel) (64 bits)), after fresh install on RC1 build, with PHP 7.2.33.

[2020-10-05 12:56] PululuK commented on #21280
Exactly ... Thanks @matks!
@khouloudbelguith  I'm sorry, I wasn't very clear !

[2020-10-05 13:05] PierreRambaud commented on #21054
The pagination has been removed here: https://github.com/PrestaShop/PrestaShop/issues/17871 with this pull request https://github.com/PrestaShop/PrestaShop/pull/19580

[2020-10-05 13:05] SimonGrn commented on #21228
I don't reproduce with a fresh install.
- PHP 7.2.33
- Firefox 81.0
- Chrome 85.0.4183.121

Cache emptied, even tried with incognito mode on both browsers.

Since this fantom issue doesn't really interfere with the normal behavior of the page (as far as we know), I suggest we drop it.

[2020-10-05 13:16] NeOMakinG commented on #21228
Well, I was thinking about a chrome extension, but this looks like inside core.js...

[2020-10-05 13:26] Robin-Fischer-PS opened #21300 "BO - Missing Gift and Recycled Paper in Create Order migrated page"
#### Describe the bug

On Create Order migrated page, when "Gift Wrapping" and "Recycled packaging" options are ON, these options are not displayed, so it's not possible to add them to the orders.

It was displayed in 176.

Edit : When reusing, in BO > Create order, an order made from FO with recycled packaging, Gift, and Gift message, theses options are not displayed due to the bug, BUT the Gift

[2020-10-05 13:28] khouloudbelguith commented on #21071
@HartLarsson, O I tried with PS1.7.6.8 and 1770rc1 without any custom plugins and the total is OK
Order_deatil
![image](https://user-images.githubusercontent.com/16067358/95081563-033ff780-071a-11eb-9767-1fe1dfeb9e88.png)
Product list page
![image](https://user-images.githubusercontent.com/16067358/95081549-ff13da00-0719-11eb-8cd6-f88205b717ef.png)
ps_orders table
![image](https://user-images.gith

[2020-10-05 13:30] khouloudbelguith commented on #21280
Thanks, @matks & @PululuK.
I manage to reproduce the issue with PS1.7.6.8 and 1770rc1.
I’ll add this to the debug roadmap.

Thanks!

[2020-10-05 13:30] roncarino commented on #21251
Hi @khouloudbelguith, yes 1.7.6.8 was the same version you mentioned when you opened this issue.
My question was if you had the same problem with other versions (before 1.7.6.8). Because I tried with 1.7.6.4 and 1.7.5.2 and I couldn't reproduce the problem. thanks

[2020-10-05 13:48] Gl0deanR opened #21303 "Get cart items"
Hey, I am trying to use python to get a hold of my cart in my prestashop website but I can't figure out how to do it. No matter what I try I end up having empty list or it says that my cart is empty even if I do have items in my shopping cart.

Here is the code I am using:

import requests
from bs4 import BeautifulSoup
import csv
import re

session = requests.Session()

payload = {'_username':'use

[2020-10-05 13:51] PierreRambaud commented on #21054
FYI I'm on it

[2020-10-05 13:51] matks opened #21304 "Weird translation for "Orders" tab for United Kingdom English pack"
#### Describe the bug

When I download "United Kingdom" localization pack and I change my BO language to "English GB (English)" my Orders BO page has title "Order settings" (see screenshots)

#### Expected behavior

I think the title should be "Orders" not "Order settings"

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PrestaShop using `1.7.7.x` branch, use French language

[2020-10-05 13:54] matks opened #21305 "After playing with different English flavors, I have a BO with 50% French and 50% English!"
#### Describe the bug

After messing a bit with my language BO settings (see steps below) I have a BO with 50% French and 50% English

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PrestaShop using `1.7.7.x` branch, use French language
2. Open Back Office
3. Download "United Kingdom" localization pack
4. Go in "My profile" BO page and change BO language to "English GB (Engl

[2020-10-05 13:57] khouloudbelguith commented on #21228
Hi!

In my case after new re-install of the previous shop => Issue not reproduced
https://drive.google.com/file/d/1XnZ7G2qmnaRZpfVo9PUbzAPFA8VQ7IAo/view?usp=sharing

Thanks!

[2020-10-05 14:00] khouloudbelguith commented on #21304
Hi @matks,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/18082 to fix the issue.
Your ticket is a duplicate of #9762
So, I close it.
Thanks!

[2020-10-05 14:00] #21304 closed, assigned to nobody

[2020-10-05 14:00] matks commented on #21303
Hi ! We use GitHub issues only to discuss about bugs in the PrestaShop project and new features.

If you are looking for help about scraping PrestaShop you can look here:
- Community chat: https://github.com/PrestaShop/open-source/blob/master/slack/readme.md
- Community forums: https://www.prestashop.com/forums/
- Stack Overflow: https://stackoverflow.com/questions/tagged/prestashop

But be aware

[2020-10-05 14:00] #21303 closed, assigned to nobody

[2020-10-05 14:00] khouloudbelguith commented on #21304
Duplicate of #9762

[2020-10-05 14:02] PierreRambaud commented on #21303
FYI there is already an issue like that https://github.com/PrestaShop/PrestaShop/issues/20762 It's about parameters you used in order to be connected. You should have a check on your Network tab in Chrome if you need more information.
But as @matks says, it's not the right place ;)

[2020-10-05 14:10] Daaaaad opened #21306 "main_variants always empty in templates/catalog/_partials/miniatures/product.tpl"
Steps to reproduce the behavior:

1. Create a product with some product attributes (shirt with S/M/L sizes for example)
2. Associate this product with a category
3. Visit the category

=> $product.main_variants variable in "templates/catalog/_partials/miniatures/product.tpl" seems to be always empty.
=> Variants are not shown :(

Why ?

#### Additional information

* PrestaShop version: 1.7.6.8
*

[2020-10-05 14:23] khouloudbelguith commented on #21306
Hi @Daaaaad,

If you try to create a product with color attributes, are they displayed?
I tried with PS1751, PS1768
If I have Color attributes =>
![image](https://user-images.githubusercontent.com/16067358/95091570-e827b480-0726-11eb-8fb4-c2652ba29fe6.png)
=> ok
If I have other attributes => Not displayed
![image](https://user-images.githubusercontent.com/16067358/95091683-0a213700-0727-11eb-8ddb-

[2020-10-05 14:31] khouloudbelguith commented on #21251
Hi @roncarino,

I tried with PS1751 => same issue
![image](https://user-images.githubusercontent.com/16067358/95092618-22458600-0728-11eb-8d35-d95f2bf11936.png)

Thanks!

[2020-10-05 14:41] khouloudbelguith commented on #21305
Hi @matks,

I manage to reproduce the issue with PS1768.
![image](https://user-images.githubusercontent.com/16067358/95093772-6ab17380-0729-11eb-93f8-d6324af6dd8e.png)
I’ll add this to the debug roadmap.
I think it is related to this issue: https://github.com/PrestaShop/PrestaShop/issues/9805
Ping @LouiseBonnard what do you think?

Thanks!

[2020-10-05 16:14] sowbiba commented on #21293
Fixing this issue means add a route to get order's payments. Too big to add it after RC1 release I think

@PrestaShop/prestashop-core-developers @PrestaShop/prestashop-maintainers WDYT ?

[2020-10-05 16:33] LouiseBonnard commented on #18715
Hi @khouloudbelguith, it might be fixed since I cannot reproduce it with PrestaShop 1.7.7 beta 2. See the screenshot below. Can you confirm as well? If yes, I will close this ticket and label it as fixed. :-)

<img width="988" alt="Capture d’écran 2020-10-05 à 18 25 38" src="https://user-images.githubusercontent.com/32565890/95106483-dfd87500-0738-11eb-9f6a-0b302033fff8.png">

[2020-10-05 16:41] LouiseBonnard commented on #21305
😅 I think it is always dangerous to play with multiple languages on a PrestaShop store! I guess it is the translation/detranslation/retranslation system that is messing things up here - a big issue that will not be addressed before the next major version, unfortunately.

[2020-10-05 17:15] jolelievre commented on #21293
Hi @Robin-Fischer-PS,

regarding your side note when a Voucher is added, it indeed works because adding a voucher performs a page request that redirects to the view page so everything is updated when the submit button is clicked.

However add/remove product manipulation happen via ajax calls and JS updates, which is why the Payment block is not updated. As @sowbiba noticed we have no JS code nor s

[2020-10-05 18:13] jf-viguier opened #21312 "Product sort order not sanitized"
#### Describe the bug

In category page, sort order can be changed in the url for an unexpected value : this generate a php notice in debug mode et an 500 error without.
Sort order has to be sanitized, it's not secure like this.

#### Expected behavior

Sort order in the url has to be sanitized.

#### Steps to Reproduce

by example, expected value in category page :
/3-vetements?order=product.posi

[2020-10-05 20:48] msaustral commented on #9866
Hi same issue with just one client.

[2020-10-05 22:35] maxime-aknin commented on #12300
Hello,

I managed to find a solution to address this problem. For now you can see the changes in [this commit](https://github.com/maxime-aknin/PrestaShop/commit/9a81b3948a98088a705ac24d9e1a380646fc5b60) (made in my fork).

### How it works
For it to work you need to use the `Override` domain in override files (e.g `$this->trans('Nasty error', [], 'Override.Notifications.Error'`), it will scan the

[2020-10-06 05:03] raulGLD commented on #21303
Alright, thank you very much. I will take a look and go to the places listed by @matks if I need more help. Sorry for opening in the wrong place. Have a great day.

[2020-10-06 06:44] Daaaaad commented on #21306
Hi @khouloudbelguith,

Thank you for your time 👍

Yes color attributes are displayed but not others (select or radio). Is this the expected behavior?

Regards,

David.

[2020-10-06 07:46] khouloudbelguith commented on #21312
Hi @jf-viguier,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1, PS1.7.6.8, and 1770rc1build1.
![image](https://user-images.githubusercontent.com/16067358/95173340-d2fb6600-07b8-11eb-9e63-f494dc5ddb3c.png)
I’ll add this to the debug roadmap.
Thanks!

[2020-10-06 07:52] khouloudbelguith commented on #21306
Hi @Daaaaad,

Yes, this is the expected behavior.
I close the issue, feel free to open a new one when needed.

Thanks!

[2020-10-06 07:52] #21306 closed, assigned to nobody

[2020-10-06 08:08] madsoliver opened #21316 "Versioning for images to avoid confusion when mod_expires is in use"
**The problem**
Some of my client pull their hair off trying to understand why for example category images are not updated in FrontOffice after they upload a new image. It’s off course caused by Apache mod_expires directives in the .htaccess.. That’s a good thing usually, but not when image names do not change after updates…. Accessing  `/img/c/5-category_default.jpg` once before an update, and th

[2020-10-06 08:39] khouloudbelguith commented on #21316
Hi @onklmaps,

Thanks for your report.
Ping @PrestaShop/product-team what do you think?

Thanks!

[2020-10-06 08:45] khouloudbelguith opened #21318 "Multistore Menu is not displayed when Caching enabled"
#### Describe the bug

When Caching is enabled (CacheMemcached ou CacheApc), the multistore menu is not displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shop Parameters > General
2. Enable Multistore => Multistore is added to the menu
![image](https://user-images.githubusercontent.com/16067358/95178309-92ebb180-07bf-11eb-829f-37230cf032bc.png)
3. Go to BO > Advan

[2020-10-06 08:55] khouloudbelguith commented on #21318
Hi!
We can access to the Multistore with this URL: `admin-dev/index.php?controller=AdminShop`
But we have an alert
![image](https://user-images.githubusercontent.com/16067358/95180475-5077a400-07c2-11eb-88a3-61e4602d809a.png)

As discussed with @SimonGrn and @PrestaShop/qa-functional, it is a Major issue.

Thanks!

[2020-10-06 09:09] jf-viguier commented on #21312
@khouloudbelguith I've made a PR

[2020-10-06 09:09] khouloudbelguith commented on #18715
Hi @LouiseBonnard,

Yes, it is ok with 1770rc1build1
![image](https://user-images.githubusercontent.com/16067358/95182049-64bca080-07c4-11eb-8280-69c42ab3e814.png)

But with develop branch(1780) => NOK
![image](https://user-images.githubusercontent.com/16067358/95182071-6d14db80-07c4-11eb-8870-a5e28ae25689.png)

Thanks!

[2020-10-06 09:17] LouiseBonnard commented on #18715
Great, thanks a lot @khouloudbelguith! I close this ticket then.

[2020-10-06 09:31] rdy4ever opened #21319 "As a merchant, I should be able to do important adjustments from the order page"
After years of using Prestashop, these are the most frustrating things related to the order page - encountered as a merchant, that should be addressed.
#### Is your feature request related to a problem?

As a merchant, I often need to make some adjustmens to the orders, after they heve been placed.

#### Describe the solution you'd like

As a merchant, I should be able to do the following adjustme

[2020-10-06 09:40] khouloudbelguith commented on #21319
Hi @rdy4ever,

Thanks for your report.
Ping @MatShir @PrestaShop/product-team what do you think?

Thanks!

[2020-10-06 09:42] rdy4ever commented on #21316
Hi, @onklmaps
Actually, query string versioning is nor recommended, as it also prevents browser caching. (and we do need images to be cached by the browser for performance). We could add versioning in the file name like `/img/c/5-category_default-v[insert UNIX timestamp here].jpg` This is the recommended way for all file versioning. Indeed, it will create redundant files, so we also need a way to

[2020-10-06 10:06] Spir opened #21320 "Deleted customization field not ignored"
#### Describe the bug

When a product has a required customization field, if I delete this one I can no longer add the product to basket.

#### Expected behavior

The product should be added to the basket

#### Steps to Reproduce

1. Go to edit a product in the backend
2. On option add a customization field (text) make it required and save
3. Add this product to a basket on the frontend
4. Edit th

[2020-10-06 10:18] khouloudbelguith commented on #21320
Hi @Spir,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15739 to fix the issue.
Your ticket is a duplicate of #13211
So, I close it.
Thanks!

[2020-10-06 10:18] #21320 closed, assigned to nobody

[2020-10-06 10:18] khouloudbelguith commented on #21320
Duplicate of #13211

[2020-10-06 10:22] SimonGrn commented on #21228
We're not able to reproduce it consistently and there's apparently no consequences so I close it.

[2020-10-06 11:18] atomiix commented on #21318
@khouloudbelguith I've been able to reproduce it with 1.7.6.8, so I don't think this is a regression. Also, the right url to manually access the tab is `/admin-dev/index.php?controller=AdminShopGroup` and in my case, it's working.

[2020-10-06 11:27] khouloudbelguith commented on #21318
Thanks @atomiix!
I tried with PS1768 on the same server in my case => ok
https://drive.google.com/file/d/1Nks0JRmAuFyFIo1tqDhqye413NwrMVWP/view?usp=sharing

You don't have any alert?

Thanks!

[2020-10-06 12:22] atomiix commented on #21318
@khouloudbelguith I think the bug is not exactly that the multistore tab is not showing when cache is enable but rather that once cache is enable, multistore tab status won't change even if you enable/disable multistore. On your 1768 with cache enable, if you try to disable multistore you should see the multistore tab still visible.

No alert at all!

[2020-10-06 12:45] khouloudbelguith commented on #21318
@atomiix,

Yes, the multistore is still displayed after disabling the multistore context.
![image](https://user-images.githubusercontent.com/16067358/95203052-8036a400-07e2-11eb-98c1-d67b3918f4c1.png)

Thanks!

[2020-10-06 12:46] khouloudbelguith commented on #21318
I removed the regression label so it should be removed from 177 backlog
Thanks, @atomiix!

[2020-10-06 13:06] khouloudbelguith opened #21322 "BO - Order page - RTL language - Status are not well displayed"
#### Describe the bug

In the BO > Order page > when RTL is enabled, Statuses are not well displayed
![image](https://user-images.githubusercontent.com/16067358/95204791-da386900-07e4-11eb-9f1a-d5cd71da9bb6.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Upload Arabic language
2. Change the BO language to Arabic
3. Go to BO  > Order list page > change

[2020-10-06 13:15] khouloudbelguith opened #21323 "BO - Order page - Multicurrencies - Incorrect discount value & amount"
#### Describe the bug

In the BO > Order detail page, when adding a discount amount with a different currency than the default one, an incorrect value is displayed and an incorrect amount calculated
![image](https://user-images.githubusercontent.com/16067358/95205698-06081e80-07e6-11eb-9e7d-31d809cddf50.png)

#### Expected behavior

PS1768
![image](https://user-images.githubusercontent.com/1606735

[2020-10-06 13:17] khouloudbelguith commented on #21323
Related: https://github.com/PrestaShop/PrestaShop/pull/18633

[2020-10-06 13:24] ThanasisMpalatsoukas commented on #20632
Hey, i found the mentioned string in /admin-dev/themes/default/js/bundle/product/form.js, i changed it from
"are you sure to delete?" to
"Are you sure you want to delete this item?"

i will submit a pull request in a bit

[2020-10-06 13:29] SimonGrn commented on #20632
Hellà @ThanasisMpalatsoukas

thank you for your interest in this issue, but we already have a PR in QA state [here](https://github.com/PrestaShop/PrestaShop/pull/21239).

[2020-10-06 13:36] ThanasisMpalatsoukas commented on #20632
Sorry @SimonGrn  just noticed that now

[2020-10-06 13:48] onklmaps commented on #21316
Hi @rdy4ever
Maybe we can keep one file only (and replace on update), but rename the file only in the url - then mod_rewrite to original file?
I might be in deep water here.

[2020-10-06 13:55] okom3pom commented on #21291
I made a test today it's the same.

[2020-10-06 14:50] ngodefroy commented on #21236
TEST OK
Thank you  @atomiix & @khouloudbelguith

<img width="1234" alt="Capture d’écran 2020-10-06 à 16 49 37" src="https://user-images.githubusercontent.com/69145330/95217887-fee80d00-07f3-11eb-8486-7c11e55d0f4d.png">

[2020-10-06 14:53] Progi1984 commented on #21236
Fixed by #21266

[2020-10-06 14:53] #21236 closed, assigned to atomiix

[2020-10-06 15:12] SimonGrn commented on #21291
@okom3pom the catalog wasn't pushed. Don't worry, we're on it :)

[2020-10-06 15:12] Progi1984 commented on #21269
Fixed by #21310

[2020-10-06 15:12] #21269 closed, assigned to sowbiba

[2020-10-06 15:41] SD1982 commented on #11595
Hi @matthieu-rolland I still have the same wrong redirection than before when editing the invoice address ...

[2020-10-06 15:50] #21039 closed, assigned to nobody

[2020-10-06 16:03] jolelievre commented on #21291
Hi @okom3pom,

I just pushed the new translation towards Crowdin our Translation platform. So the translation archives for
PrestaShop should be updated tomorrow. The workflow updates them once a day I believe around 7AM.

I'll check tomorrow that everything updated correctly.

[2020-10-06 16:10] okom3pom commented on #21291
Yes i received an email

[2020-10-06 18:02] SimonGrn commented on #21319
Hello @rdy4ever
did you try the new order page in the 1.7.7.0 beta 2 ?

[2020-10-07 06:41] okom3pom commented on #21316
Hi,

It's a nice improvement, I also have this problem, favicon also use a timestamp on the classic theme

You can do this easy with the date_upd field

`<img src="{$category.image.large.url}?v={$category.date_upd|date_format:'%m%d%y'}" alt="{if !empty($category.image.legend)}{$category.image.legend}{else}{$category.name}{/if}">`

[2020-10-07 08:50] oliverhudson commented on #14496
Is there any update to this query?

[2020-10-07 09:08] sarahdib commented on #20933
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

Thank you!

[2020-10-07 09:08] #20933 closed, assigned to nobody

[2020-10-07 09:09] NeOMakinG opened #21333 "Init components override the global window var instead of conditioning it"
#### Describe the bug

We can avoid to override this var by conditioning it if it already exist, also it needs an event in order to facilitate the use for external users

#### Additional information

* PrestaShop version: develop

[2020-10-07 09:11] LouiseBonnard commented on #21293
For a patch version instead of 1.7.7.

[2020-10-07 09:12] LouiseBonnard commented on #21267
For a patch version instead of 1.7.7.

[2020-10-07 09:25] LouiseBonnard commented on #18079
We need to wait for the next CLDR update.

[2020-10-07 09:44] LouiseBonnard commented on #20954
Root cause must be investigated.

[2020-10-07 10:36] micka-fdz commented on #18958
Hello @sarahdib, this issue is not a duplicate of #11631.
It's not about add to cart action but quantities modification in cart page.

Have a look at "Steps to Reproduce" section.
I manage to reproduce this issue in 1.7.6 and 1.7.7 versions.

@florine2623 can you reopen this issue please?

[2020-10-07 11:47] Prestaworks opened #21337 "SQL Error when using one click upgrade"
#### Describe the bug
I used one click upgrade to upgrade from an earlier 1.7 version to the latest. Now I can't access some pages in BO because there are something wrong in the DB.

#### Expected behavior
No missing tables and able to access all pages.

#### Additional information

The following error is logged, and indicate something is bad with the upgrade scripts.

[2020-10-07 13:41:26] reques

[2020-10-07 11:55] Prestaworks commented on #21140
@florine2623 can you confirm that it is expected behaviour that clicking the upgrade button will erase all local files?

[2020-10-07 12:12] NeOMakinG commented on #19751
Looks like I'm not able to reproduce it at all, closing it

[2020-10-07 12:12] #19751 closed, assigned to nobody

[2020-10-07 12:53] SimonGrn commented on #21337
Hello,

please follow the template and explain your process exactly.
What was the PS original version and what is the target version ? What PHP version are you using ?

[2020-10-07 12:55] Prestaworks commented on #21337
Hi Simon,

Sorry I don't remember what version it was. But check the SQL scripts in the upgrade module, it seems to be missing setting an auto_increment on the table ps_admin_filter.

[2020-10-07 13:14] jf-viguier commented on #18958
@florine2623 please reopen this issue please ?

[2020-10-07 13:27] Tehnikus opened #21340 "Facet search URL Scheme doesn't work"
## Describe the bug

1. The options provided in **Shop Parameters -> Traffic and SEO** for filtered pages of doesn't take any effect.

2. Availability for indexing of faced filter pages by search engines doesn't take any effect

3. Also custom URLs and Meta Titles of Attributes and features doesn't take any effect as well.
See attached images for reference

#### Expected behavior

1. URL expected

[2020-10-07 13:45] khouloudbelguith commented on #18958
Hi @jf-viguier,

I attached a screen record
https://drive.google.com/file/d/1rRyQY-NeJDJCd9Xe5KT2_vbwHCogy8lL/view?usp=sharing
https://drive.google.com/file/d/1gz_Hw-uSQM83Qe7Ry7ik5c6xCOBwTXsJ/view?usp=sharing
At the third step, the alert is not displayed anymore => NOK (reproduced with 1768)
But w cannot process checkout.
Thanks to check and feedback.

[2020-10-07 14:04] #21206 closed, assigned to nobody

[2020-10-07 14:18] passio777x opened #21342 "[Product - Combination or modify quantity] An error occurred while processing your request"
Hi, I have this error when I try to modify quantity or combination :
<img width="611" alt="Capture d’écran 2020-10-07 à 16 12 11" src="https://user-images.githubusercontent.com/43704805/95342589-e04b4a00-08b7-11eb-9d80-9d8d73a77ed7.png">

I get this error in console
<img width="954" alt="Capture d’écran 2020-10-07 à 16 14 05" src="https://user-images.githubusercontent.com/43704805/95342838-23a

[2020-10-07 15:00] Prestaworks commented on #21337
Hi Simon,

okej thats good to head. I can send the upgradelog
https://we.tl/t-zKBPXQ7wqE
it shows the upgrades that was made on that env. Maybe it gives a clue?

[2020-10-07 15:25] SimonGrn commented on #21342
Dear @passio777x
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-10-07 15:25] #21342 closed, assigned to nobody

[2020-10-07 15:48] ngodefroy commented on #20632
Fixed by https://github.com/PrestaShop/PrestaShop/pull/21239

[2020-10-07 15:48] #20632 closed, assigned to marionf

[2020-10-07 16:16] Hydrog3n opened #21347 "Product Comment module throw error when posting the comment without criterion"
#### Describe the bug

In the log, we see this error
[code]

#### Expected behavior

It should not throw an error.

#### Steps to Reproduce

Steps to reproduce the behavior:

I didn't manage to found a way of reproducing this error but the main problem comes from the `criterion` in the POST is not defined. `Tools::getValue` return mixed value it's a boolean when the error throw.

https://github.co

[2020-10-07 16:25] sarahdib commented on #21340
Hello,

We are aware of this issue, it is already in our debug backlog.

This issue is a duplicate of #16939.

Thank you!

[2020-10-07 16:25] #21340 closed, assigned to nobody

[2020-10-07 16:25] sarahdib commented on #21340
duplicate of #16939

[2020-10-07 19:25] web23421 opened #21348 "After installation of this module (ps_crossselling) through backoffice in prestashop 1.7.6.7 I have this array of alphabet)"
#### Describe the bug

(1/1)                                     InvalidResourceException                                                                  Invalid  resource provided: "1.2"; Errors: [ERROR 3004] attribute decl.  '{http://www.w3.org/XML/1998/namespace}base', attribute 'type': The  QName value '{http://www.w3.org/2001/XMLSchema}anyURI' does not resolve  to a(n) simple type definition

[2020-10-07 20:25] SimonGrn commented on #21348
Dear @web23421
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will b

[2020-10-07 20:25] #21348 closed, assigned to nobody

[2020-10-07 20:25] SimonGrn commented on #21337
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public S

[2020-10-07 20:25] #21337 closed, assigned to nobody

[2020-10-07 21:00] Freiezonemarket opened #21349 "The product variations."
Good evening,
When adding a product with a combination, when I choose the colors and then click on "Generate", the combinations are not generated automatically. I get an error message.
I am a beginner and I could provide you with my back office information so you can see this.
Waiting to read you quickly.
Mrs Jolanda
Email: admin@freie-zone-market.de

[2020-10-07 21:15] jul-m opened #21350 "Recovert cart with e-mail link not log-in user automatically (PS 1.7.6.7)"
#### Describe the bug

Since PrestShop 1.7.6.7, in the "Cookie" class, the "isSessionAlive()" function checks that the customer's token exists so that this one is connected. This token is not created when creating an order from the back office by sending a payment link by email to the customer.

#### Expected behavior

The customer must be logged in automatically when he clicks on the link in his

[2020-10-07 21:16] SimonGrn commented on #21349
Dear @Freiezonemarket
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**. Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

If you have questions about using PrestaShop or third-party modules, or i

[2020-10-07 21:16] #21349 closed, assigned to nobody

[2020-10-07 21:41] jocel1 commented on #13016
You can put at this end of Shop::setUrl():

[code]

[2020-10-07 23:38] gustavosimone commented on #16352
you can add row class (bootstrap in the product container) or add custom css like this
.layout-left-column.page-index .products {
margin-right: -15px;
margin-left: -15px;
}

[2020-10-08 00:02] jolelievre commented on #21291
Hi @okom3pom,

I tested a few things so it turns out the catalog for french is not completely up to date yet, the new wordings
still need to be translated in Crowdin and only then will they be integrated into the TranslationFiles repo which
is used to generate the languages archives.

However I tested the Translation of Emails text again in the BackOffice and I think it works now, I can see some
w

[2020-10-08 02:45] ylazy opened #21353 "Error on Module Manager"
#### Describe the bug

Module Manager didn't work.

#### Expected behavior

When I'm using module manager to upload and install a new module (printify_module_1.7 download here https://printify.com/plugins/prestashop/printify-17.zip), an error occured during upload:

[code]

Then I refresh the page and now the module manager show up the error again, even I didn't upload anything. Now whenever I cli

[2020-10-08 07:04] Christophe-re opened #21354 "The product quantity in backoffice / products list table in not corresponding to the stock/quantity of each products attributes"
#### Describe the bug

The product quantity in backoffice / products list table in not corresponding to the stock/quantity of each products attributes. (déclinaison produit in french)

For illustrate some screenshots with a product which has for ID 42.

The quantity of the product attribute (16  in total) :
![image](https://user-images.githubusercontent.com/22072618/95425556-c0ae3300-0944-11eb-971

[2020-10-08 07:11] Progi1984 commented on #20573
Fixed by #20882

[2020-10-08 07:11] #20573 closed, assigned to matthieu-rolland

[2020-10-08 07:22] SimonGrn commented on #21353
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-10-08 07:22] #21353 closed, assigned to nobody

[2020-10-08 07:34] florine2623 commented on #21354
Hi @Christophe-re ,
I can't reproduce your issue in PS 1.7.8.
Here are my result after following your steps on a product with combinations :
![Capture d’écran 2020-10-08 à 09 32 53](https://user-images.githubusercontent.com/16019289/95428530-68c5fb00-0949-11eb-95d5-cc2d6f57e127.png)
![Capture d’écran 2020-10-08 à 09 33 00](https://user-images.githubusercontent.com/16019289/95428535-6b285500-09

[2020-10-08 07:34] #21354 closed, assigned to nobody

[2020-10-08 07:41] florine2623 commented on #21347
Hi @Hydrog3n ,
I couldn't reproduce your error. I successfully managed to post a comment on my PS 1.7.6 shop using Product Comment v4.1.0.

When you find the steps to reproduce the issue, feel free to open a new issue.

Thanks!

[2020-10-08 07:41] #21347 closed, assigned to nobody

[2020-10-08 07:53] Hydrog3n commented on #21347
@florine2623 serious... Yes because we just saw log so the bug exists not closing just because you can reproduce. I see the bug in the code so it's can really happen

[2020-10-08 08:00] laurentmacca opened #21356 "Added category in products BO does not work"
Hello

Recently, I try to attach a new category to my product on BO and cannot save change.
More precisely, when I click on save button the green alert "changes updated" appears but when I refresh the product page the category still remains unattached.
No problem with REF length or SEO length as mentionned on previous issues.
The main category is also selected.

Prestashop 1.7.2.3
PHP 7.1.32

Than

[2020-10-08 08:03] Maofree opened #21357 "Upgrade ps_googleanalytics to use gtag.js instead of analytics.js ?"
Hi
Google sends emails about the new upgrade of its tracking script to use the new gtag.js

![1](https://user-images.githubusercontent.com/653230/95427529-002a4e80-0948-11eb-82e2-86fbb9a05784.png)

is it possible to upgrade it?

#### Additional information

* PrestaShop version: 1.7.6.8
* PHP version: 7.2
* module version: 4.0.0

[2020-10-08 08:08] matks commented on #21357
Related to https://github.com/PrestaShop/ps_googleanalytics/issues/78

[2020-10-08 08:23] ngodefroy opened #21358 "[BO] Avatar photo is broken"
#### Describe the bug

Go to BO
->Click on your avatar, yo should see the picture isnt loaded
-> Go to Team>employees, click on an employee, the picture isnt loaded.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to your avatar in corner right
2. See avatar photo is broken
3. Go into Advanced Param>Team>Employees and select an employee
4. See avatar photo is broken

**Screenshot

[2020-10-08 08:27] florine2623 commented on #21356
Hi @laurentmacca ,

I can't reproduce your issue.

If you changed the main category, you can refresh the product page to see the URL change.
If you just add a category to the product without changing its main category, you will need to check the said category.

Thanks!

[2020-10-08 08:27] #21356 closed, assigned to nobody

[2020-10-08 08:30] SimonGrn commented on #21357
Hello @maofree

Thank you for your issue. We already have an issue for this improvement, and it will be taken care of as soon as possible.

I close this issue as it's a duplicate of https://github.com/PrestaShop/ps_googleanalytics/issues/78

[2020-10-08 08:30] #21357 closed, assigned to nobody

[2020-10-08 08:37] Progi1984 commented on #21296
Fixed by #21297

[2020-10-08 08:37] #21296 closed, assigned to nobody

[2020-10-08 09:18] khouloudbelguith commented on #9700
Duplicate of #9703

[2020-10-08 09:21] khouloudbelguith commented on #9716
Duplicate of #16070

[2020-10-08 09:23] khouloudbelguith commented on #9976
Duplicate of #13479

[2020-10-08 09:24] khouloudbelguith commented on #10017
Duplicate of #12223

[2020-10-08 09:26] khouloudbelguith commented on #10034
Duplicate of #19445

[2020-10-08 09:27] khouloudbelguith commented on #10124
Duplicate of #9439

[2020-10-08 09:29] khouloudbelguith commented on #10409
Duplicate of #10339

[2020-10-08 09:30] khouloudbelguith commented on #10952
We don't support 1.6 anymore, I will remove the Duplicate Label

[2020-10-08 09:31] khouloudbelguith commented on #11163
Duplicate of #11146

[2020-10-08 09:33] khouloudbelguith commented on #11208
Duplicate of #9214

[2020-10-08 09:35] khouloudbelguith commented on #12476
Duplicate of #12333

[2020-10-08 09:38] khouloudbelguith commented on #12875
Duplicate of #10194

[2020-10-08 09:39] khouloudbelguith commented on #13539
Duplicate of #12394

[2020-10-08 09:41] khouloudbelguith commented on #13555
Duplicate of #16435

[2020-10-08 09:44] khouloudbelguith commented on #14651
Duplicate of #9757

[2020-10-08 09:45] khouloudbelguith commented on #14787
Duplicate of #14733

[2020-10-08 09:46] khouloudbelguith commented on #14880
Duplicate of #15152

[2020-10-08 09:48] khouloudbelguith commented on #15070
Duplicate of #12078

[2020-10-08 09:48] khouloudbelguith commented on #15121
Duplicate of #14604

[2020-10-08 09:49] khouloudbelguith commented on #15445
Duplicate of #15324

[2020-10-08 09:51] khouloudbelguith commented on #16199
Duplicate of #12223

[2020-10-08 09:54] khouloudbelguith commented on #18513
Duplicate of #18717

[2020-10-08 09:56] jf-viguier commented on #18958
It's not so easy to fix, there is two ways WDYT @matks @PierreRambaud ? :
- the ajax request on cart controller should return an error if there is a global cart error (actually, it return only error on current updated product)
- The ajax refresh call should return global cart errors : it's not the case today : errors array is not send to smarty, the notification div is not returned at all. I've tr

[2020-10-08 09:58] khouloudbelguith commented on #18927
Duplicate of #9762

[2020-10-08 09:59] khouloudbelguith commented on #19036
Duplicate of #13710

[2020-10-08 10:00] khouloudbelguith commented on #19462
Duplicate of #14414

[2020-10-08 10:00] khouloudbelguith commented on #20209
Duplicate of #11595

[2020-10-08 10:01] khouloudbelguith commented on #20662
Duplicate of #19694

[2020-10-08 10:01] laurentmacca commented on #21356
Hi Florine
Thanks for your answer.
I try to change the main category (despite it was already checked).
Because I cannot save changes nothing works ! I tried several browsers. Same problem appear.
Is there any config info you need to check this ?
Thanks.

[2020-10-08 10:02] khouloudbelguith commented on #20723
Duplicate of #9836

[2020-10-08 10:02] khouloudbelguith commented on #21028
Duplicate of #14541

[2020-10-08 10:16] kpodemski opened #21359 "Regression related to quick view and hookDisplayProductAdditionalInfo"
#### Describe the bug

Because of this PR:
https://github.com/PrestaShop/PrestaShop/pull/15297

Module developers are unable to determine if product is refreshed in quick view context or not.

#### Expected behavior

We should be able to check wether module is displayed in quick view or not, previously it was possible.

#### Steps to Reproduce

Steps to reproduce the "good" behavior from 1.7.6:

1

[2020-10-08 10:18] khouloudbelguith commented on #21357
Duplicate of https://github.com/PrestaShop/ps_googleanalytics/issues/78

[2020-10-08 10:57] khouloudbelguith opened #21361 "Modules - Buttons should be updated"
#### Describe the bug

After merging of this PR: https://github.com/PrestaShop/PrestaShop/pull/20653
We will have some changes in some modules:

- 1. [x] statsdata
- 2. [x] ps_shoppingcart
- 3. [x] contactform
- 4. [x] ps_imageslider
- 5. [x] ps_mainmenu
- 6. [x] productcomments (`CONFIGURATION` section, `ADD NEW CRITERION` section)
- 7. [x] ps_crossselling
- 8. [x] ps_wirepayment
- 9. [x] ps_shar