[2019-05-16 13:44] marionf commented on #9914
@tomlev Could you please have a look ?

[2019-05-16 13:50] marionf commented on #9929
@tomlev Could you please have a look on this one ?

[2019-05-16 13:54] marionf commented on #9628
Duplicate of #9914

[2019-05-16 13:54] #9628 closed, assigned to nobody

[2019-05-16 14:14] PierreRambaud commented on #9890
I think we must be able to select a cdn for our hosting files.
example:
-  front: http://monsite.com/shop
- images: http://images.monsite.com/

[2019-05-16 14:17] colinegin opened #13822 "[EPIC] Fix invoices issues"
Here is a list of the actual issues regarding the invoice management in PrestaShop:

## FEATURES

## MAJOR BUGS

- [ ] #18719
- [ ] #12394
- [ ] #34085
- [x] #10258

### About special characters:

- [ ] #9817
- [x] #12308

## MINOR BUGS
- [x] #18824
- [x] #14646
- [x] #17760
- [x] #19790
- [x] #20636
- [ ] #20448
- [ ] #22581
- [x] #24122
- [x] #25177
- [x] #26977
- [ ] #28406
- [x] #29106
- [x] #

[2019-05-16 14:25] marionf opened #13823 "[EPIC] - Cart rules"
**Errors in cart rules**

## Cart rule restrictions/conditions_
- [x] #15525
- [x] #26528
- [x] #10003
- [x] #10011
- [ ] #13243
- [ ] #17603
- [ ] #17665
- [ ] #22057
- [x] #19143
- [ ] #25199
- [x] #26235
- [ ] #25389
- [x] #29493
- [x] #31944
- [x] #32134
- [ ] #33059
- [x] #33543
- [x] #34532
- [x] #35921

## Cart rules combinations_
- [ ] #9966
- [ ] #11506
- [x] #15526
- [ ] #20397
- [ ] #22

[2019-05-16 14:32] zuk3975 commented on #13741
@jolelievre, in fact it will take a bit more than that. I guess whole filtering could be refactored along with modification of `searchGridAction()` (in PrestaShopBundle\Controller\Admin\CommonController). Then all the `searchAction()` in controllers could be thrown away

[2019-05-16 15:02] jolelievre commented on #13741
Yeah you're right, but we will be limited in the refacto because we will have to keep some things for backward compatibility

[2019-05-16 15:14] fraria76 commented on #10934
Hi everyone,

I have the same problem too.

I have this configuration:

- Windows Server 2019 with IIS 10
- Prestashop 1.7.5.1
- MySql 5.6.16.0
- PhpMyAdmin 4.8.5
- PHP 7.2.18

I have always connected to the BO side without any difficulty but since yesterday I do not access any more.

I can enter user and password but then a page appears with:

PHP Notice:  Undefined variable: advice in C:\inetpub

[2019-05-16 15:30] TomHsiung opened #13825 "Exchange rate autoupdate not working"
Hello, it seems that the autoupdate function for exchange rate is not working.

Tom

[2019-05-16 15:46] samuel-pires commented on #13479
@PrestaShop/prestashop-core-developers
Feedback wanted

Hi guys, can someone have a look at the 2 solutions and tell me if #2 seems feasible?

[2019-05-16 16:54] ghost commented on #12901
Here are the specs for the localization.

## Specs

Page: Shipping > Carriers > Add new / edit carrier

[US]: As a user, I want to be able to localize a carrier name so that I can adapt it to different languages

### Solution

Add a dropdown menu to the "Carrier name" field in order to select the language.
![image](https://user-images.githubusercontent.com/47456895/57872396-e0066680-780b-11e9-9a70

[2019-05-16 16:56] ghost commented on #12901
@matks I add this issue in the _Shipping > Carriers > Add new / edit carrier_ page migration EPIC. Feasibility is ok?

[2019-05-16 17:20] ghost opened #13828 "Modify default Carrier name and Transit time of de Pick up in-store Carrier"
## Specs

Currently, when setting up a PrestaShop website, a "Pick up in-store" carrier already exists.
Its default name is the name of the shop i.e: "Prestashop", and the default transit time is "Pick up in-store".

![Capture d’écran 2019-05-16 à 19 18 21](https://user-images.githubusercontent.com/47456895/57873802-72f4d000-780f-11e9-8fcc-d50d6db5ad84.png)

Pick up in-store is not a valid Trans

[2019-05-16 17:23] ghost commented on #13828
Hello @matks, should this issue be linked to the _Shipping > Carriers > Add new / edit Carrier page_ migration Epic ?

Thanks

[2019-05-16 17:26] ghost commented on #12901
Hello @rdy4ever,
I created another issue to modify the default Name and Transit Time: #13828

Best,

[2019-05-16 17:27] ghost commented on #13828
Hi @LouiseBonnard, what do you think of the wording?

Thank you

[2019-05-16 17:35] mrabsinthe commented on #9914
Can't we have a fix in 1.7.6 release?

[2019-05-16 17:49] ghost commented on #12773
Hi @MatShir,
Do you think we could add this improvement to the product page rework?

It has been mentioned in #13397 as well

[2019-05-16 18:13] mickaelandrieu commented on #13490
Do you mean it's impossible to throw an exception in your module with a meaningful message but we should be able to do it populating a flashbag message?

In Symfony you can catch specific exception types:

[code]

Then we hook in every environments using an exception listener and catch the UserMessageException exception, and then we populate the flashbag with error messages.

It works for this nee

[2019-05-16 19:58] sarjon commented on #13490
Well, that would definitely work, but I could argue about it. :smiling_imp:

I think that exceptions should not carry user friendly message, but rather technical error that is useful for developer. In case of exception in production, it should be logged for developer and converted into user friendly message depending on exception type/error code.

The other reason why exception messages should not

[2019-05-16 20:02] kpodemski commented on #13490
THIS

We should be able to control user-friendly messages of all types, legacy AdminController was always aware of content of `$this->errors` etc.

[2019-05-16 20:52] PierreRambaud commented on #13490
Agree 💯 This is why we sent a message for debug, to get information in syslog or anything else, whereas we sent a message to the user to inform him for something he can understand :)

[2019-05-17 07:18] wikao2 commented on #13817
I found a solution. Indeed, I forgot to allow the GET function on Customers where the error.
Thank you for your reply.
Have a nice day ;)

[2019-05-17 07:18] #13817 closed

[2019-05-17 07:28] marionf commented on #9914
Hello @mrabsinthe
No, 1.7.6 is already frozen this one is planned for 1.7.7

[2019-05-17 07:28] khouloudbelguith commented on #13817
@wikao2, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-05-17 08:12] eternoendless opened #13829 "[EPIC] Upgrade to jQuery latest, use jQuery migrate for retro compatibility"
We are currently using old or very old versions of jQuery. These versions have never been upgraded because of breaking changes introduced in later versions. Using [jQuery Migrate](https://github.com/jquery/jquery-migrate) we could upgrade them to the latest version without breaking backwards compatibility.

## Improvements

- [x] #14929 - Upgrade to jQuery latest, use jQuery migrate for retro comp

[2019-05-17 08:13] khouloudbelguith commented on #13825
Hi @TomHsiung,

Did you installed the cronjobs module?
What is the exact version PrestaShop did you use?
Thanks!

[2019-05-17 08:17] TomHsiung commented on #13825
I use 1.7.5.2 and I don't know what the corncobs modeule is. But I browsed my module list and there is no cronjobs module. So did you mean the exchange rate autoupdate function requires the cronjobs module?

Tom

[2019-05-17 08:21] TomHsiung commented on #13611
This issue happens again now.

[2019-05-17 08:23] khouloudbelguith commented on #9692
Same issue with PS1.7.6.0beta1
![image](https://user-images.githubusercontent.com/16067358/57913909-7a56c080-7885-11e9-8187-6c7c30623c78.png)
Thanks!

[2019-05-17 08:26] matteolavaggi commented on #13807
Hi, please your test is not what we highlighted. The problem is only on FO,
when in home page we switch from one currency (default one) to other, the
most ordered product dispolayed change currency, but show a complete wrong
value instead the right one.
If you try to open the product, add to cart or buy the right price instead
is calculated. So there is a bug in the most popular modules currency
s

[2019-05-17 08:37] khouloudbelguith commented on #13825
@TomHsiung, yes, you need to install the cronjobs module
![image](https://user-images.githubusercontent.com/16067358/57914742-25b44500-7887-11e9-9bfe-ebeb5f11054c.png)
Navigate to your BO => Module Catalog page => search for the cronjobs module & install it.
Thanks to check & feedback

[2019-05-17 08:38] TomHsiung commented on #13825
Oh, let me try that. Thank you.

- Tom

[2019-05-17 08:39] khouloudbelguith commented on #13611
Hi @TomHsiung,

This issue happens again in your case?

Thanks!

[2019-05-17 08:39] khouloudbelguith commented on #13825
@TomHsiung, waiting for your feedback.
Thanks!

[2019-05-17 08:42] TomHsiung commented on #13825
Oh, I think I searched modules with a wrong keyword. The cron tasks manager was indeed installed when I created my shop website.

As a result, the autoupdate issue is a issue not caused by the absence of this module.

[2019-05-17 08:45] eternoendless commented on #9890
@marionf It's a must have for people who activate CDN

[2019-05-17 08:48] khouloudbelguith commented on #13825
@TomHsiung, so the cronjobs module is installed?
Thanks!

[2019-05-17 08:50] TomHsiung commented on #13825
Yep, it is there from the very beginning.

[2019-05-17 08:54] khouloudbelguith commented on #13825
@TomHsiung, the Live exchange rates is enabled?
![image](https://user-images.githubusercontent.com/16067358/57915911-b2f89900-7889-11e9-96d2-3880c15acf6d.png)
Thanks!

[2019-05-17 09:06] jferran95 opened #13832 "product.tpl fixing itemprop availability OutOfStock"
Through tool Google Search Console, errors are detected in file: product.tpl
The issue is field not found: itemprop="availability"
According to documentation: https://developers.google.com/search/docs/data-types/product
Field availability is mandatory.

The fix done in line:
https://github.com/PrestaShop/PrestaShop/blob/70d12a5ffbd9f1123e76cded1be8d2f78d5f015c/themes/default-bootstrap/product.tpl#

[2019-05-17 09:10] khouloudbelguith commented on #13807
@matteolavaggi, I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-05-17 09:11] ghost commented on #13010
Hello @unamuno,
Thanks for your feedback 👍

We need more info, on which pages do you think the autofill is needed?
Is it in the Back-office or Front-office? in the login page?

Best,

[2019-05-17 09:18] TomHsiung commented on #13825
That option had been turned on weeks earlier. But the exchange rate still remains updated.

Due to the trade conflict between China and United States, the exchange rate between currencies changes dramatically everyday. However, I have to click the Update button manually in order to get it updated.
Tom

[2019-05-17 09:19] khouloudbelguith commented on #13832
Hi @jferran95,

With PS1.7, we use another theme by default is classic.
According to the Google Search Console, we manage to reproduce another issue reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/12687
Thanks!

[2019-05-17 09:44] hellodracon opened #13833 "Wrong quantities for products' attributes/combinations"
Hello !

That concerns Prestashop 1.6.1.6 but maybe you should try it on 1.7 (because the function is the same). I figured a bug but I'm not sure how I can make it again. Probably by adding an attribute and then delete it and then add it again. I've soon some quite similar issues here but not exactly the same.

**Here is the problem (and the solution at the bottom) :**
after doing the previously m

[2019-05-17 09:49] khouloudbelguith commented on #13833
Hi @hellodracon,

Thanks for your report.
Isn't the same issue with this ticket: #12814?
Thanks!

[2019-05-17 09:54] hellodracon commented on #13833
Hi @khouloudbelguith  I though at first but #12814 is more about the total of the product quantities when mine is more about each attributes' quantities that are note linked to the good attribute's name. I don't think that's the same issue. Maybe related but not the same exactly.

[2019-05-17 10:05] khouloudbelguith commented on #13825
@TomHsiung, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.2, PS1.7.6.beta1 & the cronjobs module v1.4.0
I configured the cronjobs module to do the task every hour => but no result
![image](https://user-images.githubusercontent.com/16067358/57918055-eb01db00-788d-11e9-9bd4-a7e828a321f4.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it

[2019-05-17 10:20] khouloudbelguith commented on #13833
@hellodracon, could you please confirm these steps:
1. create a product which has 3 combinations A, B & C
2. A, B & C have the same quantity = 5
3. order the combination C
4. delete this combination C
5. Re-create the combination C
6. There is something wrong with the Quantity of the combination C => Which is?

In my case, it is OK, just this issue #12814 => NOK
Thanks!

[2019-05-17 10:21] ghost commented on #13170
Hi @centoasa,
I shared this idea on feedbak.prestashop.com to get some feedback from the community.
http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/37672468-option-to-add-a-fee-if-total-order-value-is-below

Best,

[2019-05-17 10:31] TomHsiung commented on #13825
It is unlikely that I were able to solve this issue. I no little about coding.

[2019-05-17 10:33] ghost commented on #12888
Hello @francoispeyret,

We discussed it with @TristanLDD, do you think you could hide empty navigation items instead of modifying opacity?
It would make the interface clearer :)

Thanks

[2019-05-17 10:57] khouloudbelguith commented on #9683
Hi,

I did not manage to reproduce the issue with PS1.7.6.0beta1.
https://drive.google.com/file/d/1oo5irWsMaUrPnXyaZzb2HQ2QKHBozJjx/view
I close the issue.
Thanks!

[2019-05-17 10:57] #9683 closed, assigned to nobody

[2019-05-17 11:12] ballashop opened #13834 "How to change menu text on admin panel: State --> Province"
**Describe the bug**
We need to change "State" text into "province" because State text it is not clear in Italiano.
Thanks a lot
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Location'
2. Click on 'Translation'
3. Scroll down to '?'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![stati-to-province](https://user-images.gith

[2019-05-17 11:24] nhh opened #13835 "Prestashop 1.7 Webservice can not create products"
Hi,

i am currently trying to create products via the webservice of prestashop.
(via HTTP Request, not php code)

Currently the API always responds with 400 - "price required".

Unfortunately there is no appropriate documentation which concretely states what i have to send to the api.

I am sending a http request with the following body:

`
<product>
  <price>1999</price>
</product>
`
I stripped t

[2019-05-17 11:36] khouloudbelguith commented on #13835
Hi @nhh,

Here is an example of an xml sent to add a new product via WS

[code]
Also, you can follow our documentation: http://doc.prestashop.com/display/PS16/Using+the+PrestaShop+Web+Service
You can found some examples in our GitHub repository: https://github.com/PrestaShop/PrestaShop-webservice-lib
Thanks!

[2019-05-17 11:41] khouloudbelguith commented on #13834
Hi @ballashop,

You need to navigate to your BO => Localization => Translation
1. Type of translation: Back office
2. Select you language
3. Click Modify
4. Expand all fieldsets
5. translate the menu name from the ADMINLOCALIZATION

Also, you can edit it manually from the database => table ps_tab_lang
![image](https://user-images.githubusercontent.com/16067358/57925656-e0047600-78a0-11e9-9130-9828

[2019-05-17 11:41] #13834 closed, assigned to nobody

[2019-05-17 11:50] khouloudbelguith commented on #9762
Hi,

Same issue with PS1.7.6.0beta1
![image](https://user-images.githubusercontent.com/16067358/57926127-5c4b8900-78a2-11e9-91b1-e4e78f91bf5d.png)
Thanks!

[2019-05-17 11:56] alex4102 opened #13836 "Translations of controller not display from other theme than classic"
**Describe the bug**
When I want to edit translations from other theme than classic (not a child-theme). I only see translations from views, not controller.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Translation of other theme than classic
2. Search 'available at this time, please contact us' to see the translation in ShopNotificationsError.
3. Nothing appear, but if you make this

[2019-05-17 12:00] kpodemski commented on #13836
This is known issue with Translations, i've reported this with preffered solution almost 2 years ago

https://gist.github.com/kpodemski/c21c8b0a7ca3793ce39a3bff1a3932bb

:/

[2019-05-17 12:04] alex4102 commented on #13836
2 years ago ... oh and without this fix we need to edit translation in classic theme option ?

[2019-05-17 12:05] nhh commented on #13835
[code]

[2019-05-17 12:06] khouloudbelguith commented on #13836
Hi @alex4102,

Your ticket is a duplicate of #9818
So, I close it.
Thanks!

[2019-05-17 12:06] #13836 closed, assigned to nobody

[2019-05-17 12:06] khouloudbelguith commented on #13836
Duplicate of #9818

[2019-05-17 12:07] khouloudbelguith commented on #13835
@nhh, Your issue is solved?
Thanks!

[2019-05-17 12:09] nhh commented on #13835
Hi @khouloudbelguith,

This is what i am sending now - The Api unfortunately says "Unable to save resource"

It would be very useful if the documentatin mentions what is required and what is not. Especially if the documentation would be php independent. :)

Any ideas?

Thank you

[2019-05-17 12:09] alex4102 commented on #9818
@eternoendless It's about editing core wording like "Your account isn't available at this time, please contact us" (ajax wording error) in specific theme (all other than classic theme).

[2019-05-17 12:10] hellodracon commented on #13833
@khouloudbelguith

No sorry if I don't succeed to explain it clearly.

1. create a product which has 3 combinations A, B & C
2. A, B & C have different quantities (5,10,15)
3. _something happened, I don't know what exactly but quantities in the ps_product_attribute are not ordered by ID. Maybe I've deleted a combination and recreated it or it has been ordered differently by an action from PS._
4.

[2019-05-17 12:13] alex4102 commented on #13836
@kpodemski I tried to copy your solution on 1.7.5.1 and it's still not working :/

[2019-05-17 12:15] alex4102 commented on #13836
I see the translation now, but search and treeview not working well

[2019-05-17 12:17] alex4102 commented on #13836
@kpodemski I tried to copy your solution on 1.7.5.1 and it's still not working :/

I see the translation now, but search and treeview not working well

Treeview, number of strings and search now working.

Classic Theme
<img width="1366" alt="Capture d’écran 2019-05-17 à 14 16 24" src="https://user-images.githubusercontent.com/10240758/57927477-696e7500-78ae-11e9-97f1-b04a8960050a.png">

Custom T

[2019-05-17 12:22] khouloudbelguith commented on #13835
@nhh,

You need to add this in your xml
`  <low_stock_alert>0</low_stock_alert>`

Thanks!

[2019-05-17 12:24] ballashop opened #13837 ""The ISO Code field is not valid""
**Describe the bug**
Hi, I try to move Province (State) in a new Zone, but Prestashop does not allow moving and allert to me "The ISO Code field is not valid"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Location => Zone => create new one called "Italia island"'
2. Click on 'Province (Ex State) '
3. Scroll down to 'the name of the provincia, and try to modification => move to the n

[2019-05-17 12:25] nhh commented on #13835
@khouloudbelguith,

You saved my day! I am incredibly thankfully *_*

For all which are searching for a php independent request, that works:

Request:

POST `https://your-prestashop/api/products&ws_key=YOUR-API-KEY`

Request Body:

[code]

Have a nice day!!

[2019-05-17 12:25] #13835 closed, assigned to nobody

[2019-05-17 12:26] prestamodule opened #13838 "ContextErrorException while hide the only order state associate to an order"
**Describe the bug**
If you edit an Order State to be hidden inside the client account and that it's the only one associated to the order, the getCustomerOrders() thrown an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Back Office and edit an order state (Payment by check, for demo datas)
2. Disable the "Show to customer" option
3. Save
4. Go to the customer account and check

[2019-05-17 12:27] marionf opened #13839 "Regression faceted search"
**Describe the bug**
Regression on faceted search version 3.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. Install faceted version 3.0.0 (currently dev branch of the module)
2. Click on Shop parameters > Product settings
3. For "default order by" in pagination part, select product reference, brand, product modified date or product add date, product price, product inside category
4. See

[2019-05-17 12:28] khouloudbelguith commented on #13835
@nhh, you are welcome.
Feel free to open a new one when needed.
Thanks!

[2019-05-17 12:30] ballashop commented on #13834
thanks a lot, I did by db.

[2019-05-17 12:32] francoispeyret commented on #12888
Helllo @samuel-pires,

Personally, I think it's not nescessary. Less is not always better.

The user will have as always the same structure with each search, it is surely simpler?

Thanks a lot !

[2019-05-17 12:37] khouloudbelguith commented on #13838
Hi @prestamodule,

Steps to reproduce the issue:
Go to BO => Shop Parameters => Order Settings => Statuses page
Edit the Payment by check status
Check "Hide this status in all customer orders." option
Go to FO => order history of John Doe

Thanks!

[2019-05-17 12:46] khouloudbelguith commented on #13838
@prestamodule, I manage to reproduce the issue with PS1.7.5.2  & PS1.7.6.0beta1
![image](https://user-images.githubusercontent.com/16067358/57929065-3de98b80-78aa-11e9-9be9-c7eff4c83da8.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-05-17 12:53] khouloudbelguith commented on #13837
Hi @ballashop,

I did not manage to reproduce the issue with PS1.7.6.0beta1.
I attached a video record
https://drive.google.com/file/d/1c8uK20lnmeObrNEY2eaQ4XrxzEBhlPHA/view
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-

[2019-05-17 12:53] #13837 closed, assigned to nobody

[2019-05-17 12:54] marionf commented on #9956
Tested with 1.7.6.x and without faceted search installed:
- Filter by position inside category: OK
- Filter by product name: OK
- Filter by product price: OK
- Filter by product add date: OK
- Filter by product modified date: OK
- Filter by product quantity: OK
- Filter by product reference: OK
- Filter by brand: OK

Tested with 1.7.6.x and with faceted search version 3.0.0 installed:
- Filter by

[2019-05-17 12:59] ballashop commented on #13837
Hi, thanks a lot, with PS1.7.6.0beta1 works but not really with 1.6.1.23,
I know of the suspension of support for the 1.6 :(,
Unfortunately we cannot upgrade to 1.7 at the moment because the graphic theme does not support this version.
But can we still use 1.6? Or not?
Thanks a lot for your support.

[2019-05-17 13:01] khouloudbelguith commented on #13837
@ballashop, yes you can still use PS1.6.
Thanks!

[2019-05-17 13:05] #13516 closed, assigned to PierreRambaud

[2019-05-17 13:05] khouloudbelguith commented on #13833
@hellodracon, sorry, I made some tests, but I did not manage to reproduce the issue with PS1.7.6.0beta1.
Did you manage to reproduce with PS1.7?
Thanks!

[2019-05-17 13:06] #13586 closed, assigned to jolelievre

[2019-05-17 13:08] LouiseBonnard commented on #13828
_Same day_ is to be localized in _Admin.Shipping.Feature_

[2019-05-17 13:12] ballashop commented on #13837
I discovered why it generates error:
See the image.
![iso-problem](https://user-images.githubusercontent.com/28685316/57930360-0c76bd00-78b6-11e9-8d4d-67b4bd9a6caf.gif)

When accessing the province (ex state) change, the ISO code field generates a space before the text!
Thanks a lot.

[2019-05-17 13:14] khouloudbelguith commented on #13837
@ballashop, thanks for your feedback.

[2019-05-17 13:19] marionf commented on #13819
Edit: It happens only if your cart contains products without tax (no tax selected in product page)

![capture d'écran_1560](https://user-images.githubusercontent.com/13449658/57930813-2f55a100-78b7-11e9-8fc1-8cd957971e51.png)

![capture d'écran_1561](https://user-images.githubusercontent.com/13449658/57930817-32e92800-78b7-11e9-9284-a340ff2ae4de.png)

[2019-05-17 13:27] #13388 closed, assigned to nobody

[2019-05-17 13:28] marionf commented on #13388
Fixed in Crowdin

[2019-05-17 13:28] LouiseBonnard commented on #9885
It seems that I can reproduce the situation described in the previous ticket. @tomlev, do you know where does the problem comes from? & if we can do something about it in the next parts of CLDR?

Kazakh is not available on Crowdin yet but I could definitely open it for translation, perhaps there is a need for that. Anyway, if we can make it supported at least, it'd be pretty cool!

Perhaps it just

[2019-05-17 13:33] kpodemski commented on #9818
@marionf @eternoendless can we please bumb it to higher priority? it's not a minor issue, basics translations are not working, more details in #13836

[2019-05-17 13:51] hellodracon commented on #13833
@khouloudbelguith :

unfortunately no as I don't know where exactly Prestashop changes the order of the records in ps_product_attribute without changing their IDs.

I'll try to find out (could be anything, maybe deleting an attribute that is used in a product without deleting if from the product before and recreate and re-use it afterwards since it's not "deleting an attribute in a product and the

[2019-05-17 14:00] marionf commented on #9778
Can't reproduce on 1.7.6.0

[2019-05-17 14:00] #9778 closed, assigned to nobody

[2019-05-17 14:02] ghost commented on #12888
@TristanLDD what do you think ?

[2019-05-17 14:02] khouloudbelguith commented on #13833
@hellodracon, I tried to delete an attribute, then re-create it, order it => no problem reproduced in the quantity
Thanks to check & provide me the exact steps to reproduce the issue.
Thanks!

[2019-05-17 14:13] hellodracon commented on #13833
@khouloudbelguith will do and let you know

[2019-05-17 14:14] khouloudbelguith commented on #13833
@hellodracon, thanks!

Waiting for your feedback.

[2019-05-17 14:20] matks commented on #13828
Yes, wording changes are not a big feature 😄

I'll add it to https://github.com/PrestaShop/PrestaShop/issues/10586

[2019-05-17 14:27] sarahdib commented on #12873
@eternoendless can we close this issue ?

[2019-05-17 14:28] jolelievre commented on #13586
Hi @kpodemski

just in cas here is the PR of the coming doc for Email Theme, feel free to have a look (I advise you to launch hugo server to read it more easily).
Or if you prefer for it to be published, I will post the link here later anyway.

[2019-05-17 14:31] ghost opened #13841 "Improve tooltip wording of the Products settings' "Default activation status" option"
The **"Default activation status"** setting in the Product settings allows to automatically activate/disable products when they are created.

![Capture d’écran 2019-05-17 à 16 10 04](https://user-images.githubusercontent.com/47456895/57934364-ddfddf80-78bf-11e9-8243-f38ebd3a25ef.png)

But this setting only applies to manual product creation and does not apply to creation through import.

It is n

[2019-05-17 14:37] ghost commented on #12653
Hi @centoasa,

Hope you are doing well.

I renamed this issue to make it easier to understand it from the title.
We will soon be doing a rework of the import feature, this improvement will be discussed when we start diving into it.

I created another issue to make it more explicit that the "Default activation status" only applies to manual product creation in the _Products Settings page_ and does

[2019-05-17 14:48] marionf commented on #9829
I can't reproduce with 1.7.6.0

[2019-05-17 14:48] #9829 closed, assigned to nobody

[2019-05-17 14:51] matteolavaggi commented on #12508
You think is time for PS 1.7 to get a EU VAT module? Now we are on ps 1.7.6 and still nos upport for the module? Thanks

[2019-05-17 14:53] khouloudbelguith commented on #12508
@matteolavaggi, here's an issue about the European VAT number, it is added to our bug roadmap
https://github.com/PrestaShop/PrestaShop/issues/9884
Thanks!

[2019-05-17 15:05] matteolavaggi commented on #12508
Please can you point me in the right way to handle today different vat based on different country?
A standard shop create all the products with a single vat rate (example IT 22%), now how we can do to right configure tax rates for different country, example for USA where we need to apply 0%? Add new rate 0% and create the aliquote under our "IT 22%" and manual do this step for every country in the

[2019-05-17 15:07] hellodracon commented on #13833
@khouloudbelguith I tried a lot of things, nothing is happening. I really don't know how we managed to change the order of the rows in ps_product_attribute the first place (maybe a problem in the database itself).

Maybe someone else will have this issue and find this thread one day :) If yes, the solution I give in my first message works well. Maybe that's something to do with multistore and copy

[2019-05-17 15:09] ghost commented on #13397
Hi @BenTen,

Thanks for your feedback 👍
Great idea indeed!

@MatShir Do you think the first issue, adding the possibility to duplicate without images, should be added to the Product page migration rework?

Regarding the second issue "Delete all images", an issue has been opened specifically, see #12773

[2019-05-17 15:24] eternoendless commented on #9818
Did you try inserting the translation directly in `ps_translations`? If that works then the "Minor" severity is correct (you'll learn more about why in an upcoming blog post on [Build](http://build.prestashop.com/)). If not, then it can be bumped to "Major".

Either way, I'm adding this to the 1.7.7 roadmap.

[2019-05-17 15:26] TomHsiung opened #13843 "How should I test my payment method"
Hello, I want to test if my payment method is ready to go. Please tell me how to. Thank you.

[2019-05-17 15:35] ghost commented on #13413
Hello @nirav-nanda,
Thanks for the feedback 👍

I would like to have more information, do you use manual product creation/duplication or/and the import feature?
How does it work in your case, you duplicate your products, then have to modify elements manually in each duplicate's product page (name, description, Ref/SKU, etc.)? Or you have very similar products and just need to change the Ref/SKU?

-

[2019-05-17 15:51] roja45 opened #13844 "How do you sent the page layout for a controller when installing a module"
**Describe the bug**
When installing a controller as part of a custom module in 1.6, you could define it as using the left/right column, stored in the theme table in the database.
With 1.7 this has been removed, and in the layout options you can manually choose which layout the controller page should have.
The question here is, how do you set this automatically when installing the module?

**To Re

[2019-05-17 15:58] PierreRambaud commented on #13839
Fixed by https://github.com/PrestaShop/ps_facetedsearch/pull/59

[2019-05-17 16:16] Shakarhaba commented on #13719
Hello @khouloudbelguith

The version of Prestashop is 1.7.5.2.
Yes the error make it to the logs.

[2019-05-17 16:30] ntiepresta opened #13845 "The steps missing in welcome module"
**Describe the bug**
The welcome module isn't complete in the BO => Payments =>Payment Methods, , the step  4/6( Get your shop ready for payments) the steps 1/2 and 2/2 missing

**To Reproduce**
Steps to reproduce the behavior:

1. BO => International => Locations => Countries Tab => Edit an enabled country (France)
2. Add the Customer fields in the Address format
1. Go to  BO => Modules => Module

[2019-05-17 17:06] bestbuybargains opened #13846 "Error 500 - Module Manager"
**Describe the bug**
I am getting an Error 500 when I click on Module > Module Manager

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Back Office
2. Click on Module > Module Manager
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/50038176/57943378-80569c80-7899-11e9-8b57-9775427d3a33.png)

![image](https://user-images.githubusercontent.com/50038176/579

[2019-05-17 19:19] PierreRambaud commented on #13846
Look like you're trying to install prestasho-integration which is a Wordpress plugin 🤔
https://wordpress.org/plugins/prestashop-integration/

[2019-05-17 19:38] bestbuybargains commented on #13846
Awesome catch!  You are so amazing :-)  I went into the server and deleted the folder Prestashop Integration and resolved the issue. Thank you!

[2019-05-17 19:38] #13846 closed, assigned to nobody

[2019-05-17 20:04] PierreRambaud commented on #13846
You're welcome 😉

[2019-05-18 04:44] nirav-nanda commented on #13413
hi @samuel-pires
thank you for your interest

currently we are entering new products by manual creation.
and for similar products we use duplication and just change its Ref/SKU and other details.

And a message that tells you that the category you are about to create already exists, right?

yes sir, this feature will make prestashop more smart and error free.

as of now we are not importing produc

[2019-05-18 08:42] alex4102 commented on #9818
@eternoendless Hello, I don't understand "insert directly in ps_translations" ? We talk about 1000 core translations

[2019-05-18 11:18] zuk3975 opened #13848 "Missing label for Seo preview in cms form"
**Is your feature request related to a problem? Please describe.**
PS 1.7.6.x In Improve > Design > pages > Add new/ Edit Cms form seems to miss a label/explanation of SEO preview field.

**Describe the solution you'd like**
Add label and/or hint for SEO preview field, so user would be able understand what is it about.

**Additional context**
![Screenshot from 2019-05-18 14-13-40](https://user-ima

[2019-05-18 15:01] evox95 commented on #10934
Create file /override/modules/psaddonsconnect/psaddonsconnect.php with content:
[code]
and remove files:
`/var/cache/dev/class_index.php`
`/var/cache/prod/class_index.php`

[2019-05-18 19:06] matks commented on #12687
There are some discussions on the forum about this topic 😉

- https://www.prestashop.com/forums/topic/957096-les-rich-snippets/ (French)
- https://www.prestashop.com/forums/topic/957524-probl%C3%A9me-avec-google-il-faut-indiquer-offers-review-ou-aggregaterating/ (French)
- https://www.prestashop.com/forums/topic/523877-errore-microdata-google-snippet-aggregaterating-recensioni-prodotti-prestashop-

[2019-05-18 22:34] ramibak commented on #13775
@khouloudbelguith  hello khouloud hope your fine ,

regarding the loading after importing products by the module , i got these problem in the server log

"

Error | 79.177.97.133 |   | (32)Broken pipe: AH02550: Failed to flush CGI output to client, referer: https://gulfiz.com/8jkvyhkfgnfsrjdl/index.php/security/compromised?uri=https%253A%252F%252Fgulfiz.com%252F8jkvyhkfgnfsrjdl%252Findex.php%252Fp

[2019-05-19 02:37] go-sudo opened #13854 "Anchor ads code"
Hello
I'm on PS 1.7 and when I add    overlays: {bottom: true} to this code the site stop

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-xxxx",
    enable_page_level_ads: true,
    overlays: {bottom: true}
  });
</script>
**Describe the bug**
A clear and concise descrip

[2019-05-19 05:36] andymorales commented on #10934
Hi,

I had to disable the module for the bad way: changing directory name.

But no more error notice on sign in

Hope I helped.

[2019-05-19 09:36] M4tho opened #13855 "Cannot disable Debug Mode"
After enabling the "debug mode" with the profiling tools for fixing a bug, it cant be disabled any more.
In the settings and the config file the debug mode is disabled.
But on any site (Back- and FrontEnd) i see the profiling inforamtions.

I don't really know how to reproduce this bug, just enable the Debug Mode and thats it.

**Screenshots**

![image](https://user-images.githubusercontent.com/11

[2019-05-19 16:46] sarjon commented on #13848
Related to https://github.com/PrestaShop/PrestaShop/issues/13806

[2019-05-19 17:25] DanLaur opened #13856 "Minimum cart amount tax included"
It possible choose if show in Cart message Minimum cart amount with tax Included or not, and not only tax excluded?
If I sell only in my country and for B2C, my customers need know minimum cart amount tax included.
In Italy, I sell product with 3 tax feed (4%, 10%. 22%), my customers can not calculate tax for all product with different feed, for to know how is minimum cart amount.
Thanks

[2019-05-19 20:47] hitinder commented on #10934
I am facing the same issue on 1.7.5.1 version of Prestashop. I am guessing I got this issue after I clicked on the google link showed in below image.

![image](https://user-images.githubusercontent.com/9841229/57987910-6501b200-7a90-11e9-9189-89234f2ddaff.png)

I am now not able to go to **Module Catalog** and when I click on **Module Manager** it gives me **internal error 500**

Hope this helps s

[2019-05-19 22:12] AlexCrete commented on #12325
Hello,
I have this error only if a product has some RELATED PRODUCTS, as here:
https://www.luzibiza.com/dressesjumpsuits/83-227-rio-dress.html#/1-sizes_for_clothes-s

But everything is all right if there is no related product as, for example here:
https://www.luzibiza.com/dressesjumpsuits/83-227-rio-dress.html#/1-sizes_for_clothes-s

Could you, please, have a look at this problem?

I've tried the

[2019-05-19 22:15] AlexCrete commented on #12325
Hello,

I have this error only if a product has some RELATED PRODUCTS, as here:
https://www.luzibiza.com/dressesjumpsuits/144-258-trapeze-dress.html#/1-sizes_for_clothes-s

But everything is all right if there is no related product as, for example here:
https://www.luzibiza.com/dressesjumpsuits/83-227-rio-dress.html#/1-sizes_for_clothes-s

Could you, please, have a look at this problem?

I've trie

[2019-05-20 07:25] khouloudbelguith commented on #12930
Hi @amtriorix,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-20 07:27] khouloudbelguith commented on #13398
Hi @BvdPutten,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-20 07:27] #13398 closed, assigned to nobody

[2019-05-20 07:28] khouloudbelguith commented on #13396
Hi @AdriCruz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-20 07:28] #13396 closed, assigned to nobody

[2019-05-20 07:28] khouloudbelguith commented on #13452
Hi @tlukowski,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-20 07:28] #13452 closed, assigned to nobody

[2019-05-20 07:33] khouloudbelguith commented on #13843
Hi @TomHsiung,

You need to do simple tests to make sure that the module does not break the BO or FO?

-Installing the module / uninstalling it
-Check that the module does not break the BO module manager page
-Verification of some actions in FO: display a category, the product page and place an order

Also, we have the validator PrestaShop: https://validator.prestashop.com
Thanks!

[2019-05-20 07:33] #13843 closed, assigned to nobody

[2019-05-20 07:38] khouloudbelguith commented on #13848
Ping @colinegin @marionf what do you think?
Thanks!

[2019-05-20 07:39] miha1 opened #13858 "New field address3"
As part of the new [3-D Secure](https://doc.wirecard.com/CreditCard.html#CreditCard_3DS2) standard that is coming into force in Europe, there are a number of new parameters that must be sent to credit card acquirers.

One of these is a third street field for the customer's address (billing and shipping). To ensure full compliance of Prestashop with the new standard I request that this field be add

[2019-05-20 07:47] khouloudbelguith commented on #13855
Hi @M4tho,

You need to disable the debug profiling.
In your Projetc_Folder/config/defines.inc.php, you need to replace this

[code]

by this

[code]

Thanks to check & feedback

[2019-05-20 07:48] miha1 opened #13859 "Add a new product type: Gift cards"
As part of the new [3-D Secure ](https://doc.wirecard.com/CreditCard.html#CreditCard_3DS2) standard that is coming into force in Europe, there are a number of new parameters that should be sent to credit card acquirers.

There are a few parameters related to tracking gift card purchases, but as Prestashop currently does not support gift cards by default so I am unable to track these.

This is diff

[2019-05-20 07:53] miha1 opened #13860 "New field phone_work"
As part of the new [3-D Secure](https://doc.wirecard.com/CreditCard.html#CreditCard_3DS2) standard that is coming into force in Europe, there are a number of new parameters that should be sent to credit card acquirers.

Some of these parameters relate to the tracking of a user's phone number. Currently there is only two fields (**phone and phone_mobile**), whereas the standard proposes three separ

[2019-05-20 08:03] miha1 opened #13861 "Central transaction table for all payment gateways"
#### Is your feature request related to a problem?
As part of the new [3-D Secure](https://doc.wirecard.com/CreditCard.html#CreditCard_3DS2) standard that is coming into force in Europe, there are a number of new parameters that should be sent to credit card acquirers.

Among them are parameters that relate to the customers transactions within a given time period (e.g. in the previous day or withi

[2019-05-20 08:09] khouloudbelguith commented on #13786
@miha1, can I close the issue?
Thanks!

[2019-05-20 08:10] eternoendless commented on #13793
@matks https://github.com/PrestaShop/themeconfigurator ?

[2019-05-20 08:10] khouloudbelguith commented on #13858
Hi @miha1,

In the new release PS1.7.6., we have added a new hook named additionalCustomerAddressFields, this hook add fields to the Customer address form, it returns an array of FormFields to add them to the customer address registration form.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9132

Thanks!

[2019-05-20 08:10] #13858 closed, assigned to nobody

[2019-05-20 08:15] khouloudbelguith commented on #13860
Hi @miha1,

As described in this issue: #13858, you can add some fiedls to the customer address form using the additionalCustomerAddressFields hook.
You can use this hook to add a new field work_phone in the address form.
This hook is added in the PS1.7.6.0.
Here's a test module link for this hook.
https://github.com/PeeyushAgrawalWebkul/Testing-module-PR-9132/tree/master
Thanks!

[2019-05-20 08:15] #13860 closed, assigned to nobody

[2019-05-20 08:16] khouloudbelguith commented on #13860
Related to  #13858

[2019-05-20 08:17] eternoendless commented on #9818
If I got it right, the wordings are being translated correctly, you just want to customize it on your specific theme? Or are you suggesting that NO wording is working right on your theme, just on classic?

[2019-05-20 08:19] colinegin commented on #13848
@TristanLDD would you recommend to put both label and title + description ?

[2019-05-20 08:21] eternoendless commented on #12687
@marionf If Google says the `Product` schema is not to be used in listings, then removing the metadata should be easy.

[2019-05-20 08:29] khouloudbelguith commented on #13859
Hi @miha1,

Thanks for your report.
This is something that can be improved with a module
https://addons.prestashop.com/en/wishlist-gift-card/16680-gift-card-advanced-solution.html
Also, you can search some other modules in our [addons Market place](https://addons.prestashop.com/en/search?search_query=gift%20card)

Thanks to check & feedback

[2019-05-20 08:37] eternoendless commented on #12873
No, this issue lists problems in the translation services.

[2019-05-20 08:40] eternoendless opened #13863 "[EPIC] - Translations"
This issue tracks problems with translations in PrestaShop

## BUGS
- [x] #9791
- [x] #9802
- [x] #9804
- [x] #9805
- [x] #10844
- [ ] #13392
- [x] #15268
- [x] #17011
- [x] #22531
- [x] #23149
- [x] #20072
- [x] #16168
- [x] #16421
- [x] #15072
- [ ] #16132
- [x] #15346
- [ ] #19007
- [x] #21305
- [x] #23156
- [ ] #23737
- [x] #25455
- [x] #26750
- [x] #26570
- [x] #28211
- [x] #29518
- [x] #2931

[2019-05-20 08:42] alex4102 commented on #9818
Yes, we have specific theme and we want to customize core translations (like ajax message from controller).

[2019-05-20 08:43] eternoendless commented on #9770
The catalog is being built incrementally as of PrestaShop 1.7.5

It would be nice to make all versions of PrestaShop 1.7 share the same translation catalogue.

[2019-05-20 08:55] khouloudbelguith commented on #13861
Hi @miha1,

From the BO, you need to display the list of the customers' transactions within a given time period?
Thanks!

[2019-05-20 09:07] miha1 commented on #13861
Yes, I need the statistic how much transaction are tried, successful, void with dates

[2019-05-20 09:08] miha1 commented on #13860
Thanks 👍

[2019-05-20 09:08] Quetzacoalt91 opened #15190 "Add a percentage of progress during upgrade"
**Describe the feature**
In order to improve the UX of the odule, we want to display a progress bar during the upgrade process.
This requires the back end to return a % of progress done.

[2019-05-20 09:09] miha1 commented on #13786
Yes, tnx for support

[2019-05-20 09:09] #13786 closed, assigned to nobody

[2019-05-20 09:09] khouloudbelguith commented on #13856
Hi @DanLaur,

You have different taxes used in the FO (4%, 10%, 22%) ,you want to show the minimum shopping cart total with taxes included.
What is the exact tax rule used in your case?
Thanks!

[2019-05-20 09:12] khouloudbelguith commented on #13786
@miha1, thanks!
Feel free to open a new one when needed.

[2019-05-20 09:19] khouloudbelguith commented on #13861
@miha1, in the BO => Orders => Orders page, you can filter by `Date` & by `customer`
![image](https://user-images.githubusercontent.com/16067358/58010644-aaea6480-7ae8-11e9-9766-8cf47f12ab32.png)
Thanks to check & feedback

[2019-05-20 09:25] matks commented on #13467
1st issue has been transferred to https://github.com/PrestaShop/PrestaShop/issues/13793

Other issues have been fixed in https://github.com/PrestaShop/PrestaShop/pull/13690

[2019-05-20 09:25] #13467 closed, assigned to tomas862

[2019-05-20 09:26] d-roduit opened #13867 "Can't bind a product feature to a product after upgrading from v1.6.1.5 to v1.7.5.0 with the 1-click Upgrade module"
**Describe the bug**
I added a product feature and its value in the Back-Office. Unfortunately, when I tried to bind the product feature to a product, the product feature hasn't been added to the database (I checked, and the `ps_feature_product`  table was empty), and thus never appeared neither as a feature on the product settings page, nor on the front-office product page.

Strange detail : afte

[2019-05-20 09:27] marionf commented on #11036
@khouloudbelguith

I can't reproduce it on 1.7.6.x, can you try to reproduce it ?

[2019-05-20 09:29] matks commented on #13744
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13797

[2019-05-20 09:29] #13744 closed, assigned to nobody

[2019-05-20 09:29] khouloudbelguith commented on #13867
Hi @d-roduit,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

[2019-05-20 09:32] marionf commented on #9925
Can't reproduce on 1.7.6.x

[2019-05-20 09:38] hanicab opened #13868 "Bug in pscleaner free module"
**Describe the bug**
When we click 'repair database' bouton, the module empties the table 'stock_mvt' and delete all existing columns in this table.

**To Reproduce**
Steps to reproduce the behavior:
1. Add or edit a stock for some products ( to create some stock movments history )
2. Go to pscleaner module
3. Click on 'repair database'
4. go to phpmyadmin and check the table 'stock_mvt'
5. You wi

[2019-05-20 09:41] marionf commented on #9838
Can't reproduce with 1.7.6.x

[2019-05-20 09:41] #9838 closed, assigned to nobody

[2019-05-20 09:52] marionf commented on #9801
Can't reproduce on 1.7.6.x

[2019-05-20 09:52] #9801 closed, assigned to nobody

[2019-05-20 09:54] khouloudbelguith commented on #11036
@marionf, no in my case also, I did not manage to reproduce the issue with PS1.7.6.0beta1.
I tried to reload the product page many times & clicking on the `Add to cart` few times
But it is OK
https://drive.google.com/file/d/1Q7tIgDPWNNGgs8kISm7X6VcXZ9JUFvsU/view
Thanks!

[2019-05-20 09:55] #11036 closed, assigned to nobody

[2019-05-20 09:58] eternoendless opened #13870 "Allow the Back office translator to discover new core/custom wordings"
**Is your feature request related to a problem? Please describe.**

When working with core translations, the Back Office translation page only shows wordings which are currently present in the default catalogue (xlf files in `app/Resources/translations/default`), which is extracted manually from the code at build time.

If the core code is modified and a new wording is added, it won't be appear in

[2019-05-20 09:59] eternoendless commented on #10015
Duplicate of #13870

[2019-05-20 09:59] #10015 closed, assigned to nobody

[2019-05-20 10:02] hanicab opened #13871 "Able to set the quantity more than available for existing order in BO"
**Describe the bug**
Admin is able to set the quantity more than available when editing existing order in BO

**To Reproduce**
Steps to reproduce the behavior:
1. Set a product quantité to 1 pc , and set 'disallow orders when product is out of stock'
2. Create an order from FO with this product
3. Go to BO and Try to edit the quantity of this product in this existing order
4. You will be able to s

[2019-05-20 10:02] #9789 closed, assigned to nobody

[2019-05-20 10:03] marionf commented on #9789
Display of email address issue fixed in 1.7.6.0

[2019-05-20 10:14] khouloudbelguith commented on #13868
Hi @hanicab,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0beta1 / PS1.7.5.2 & the pscleaner v2.0.0.
When we click on Check & fix for the "FUNCTIONAL INTEGRITY CONSTRAINTS" section, the ps_stock_mvt will be empty & we have like a green alert

[code]
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it

[2019-05-20 10:23] marionf commented on #9904
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-05-20 10:27] marionf commented on #9759
Can't reproduce with 1.7.6.0

[2019-05-20 10:27] #9759 closed, assigned to nobody

[2019-05-20 10:33] marionf commented on #9497
@khouloudbelguith It's when you upload an image in the editor bloc text like this ?

![capture d'écran_1565](https://user-images.githubusercontent.com/13449658/58015413-7502ab80-7afb-11e9-8f4c-ce96bece2a2f.png)

[2019-05-20 10:34] dennispw opened #13872 "Inline flag in theme.yml does not work"
**Describe the bug**

Original forge ticket: http://forge.prestashop.com/browse/BOOM-5606

When declaring a custom asset such as a `.css` or `.js` file we have the option of using the `inline: true` flag. In theory this should inject the contents of the file into a `style` or `script` tag accordingly.

While a `style` and `script` tag is created successfully, the contents of the file is missing:

[2019-05-20 10:37] khouloudbelguith commented on #12325
@AlexCrete,
This issue is currently closed, can you open a new one with more information about your configuration.
Thanks!

[2019-05-20 10:39] florianchauvineau commented on #9497
in the editor everything is fine, that's when the page is displayed on mobile and tablet

[2019-05-20 10:48] miha1 commented on #13861
Thanks for the screenshot but just to clarify. I only see one transaction for one order right? The new standards targets to see all transactions made for one order. Did it fail, was it partly done by card and partly by voucher. So one order can have several transactions. Will Prestashop support this in future?

[2019-05-20 10:48] khouloudbelguith commented on #13871
Hi @hanicab,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0beta1, PS1.7.5.2 & PS1.7.4.2.
In the BO => Shop Parameters => Product Settings `Allow ordering of out-of-stock products` is disabled => this option disables the Add to Cart button when a product is unavailable.
But it has no effect in the BO when updating an order => update the product quantity => NOK
![image](http

[2019-05-20 10:52] khouloudbelguith commented on #9497
@marion, yes!
![image](https://user-images.githubusercontent.com/16067358/58016581-e0e21580-7af5-11e9-84fe-ffeed0bfec4d.png)

I manage to reproduce the issue with PS1.7.6.0beta1
![image](https://user-images.githubusercontent.com/16067358/58016531-be4ffc80-7af5-11e9-9707-01097c9bb1ee.png)
Thanks!

[2019-05-20 11:04] khouloudbelguith commented on #13854
Hi @go-sudo,

What is the exact file did you edit?
Is this a module installed in PrestaShop?
What is the exact version Prestashop did you use?
Thanks!

[2019-05-20 11:07] zuk3975 opened #13873 "Difference of empty categories in categories kpi and monitoring"
**Describe the bug**
I've generated some categories (10 000 (using https://github.com/PrestaShop/prestashop-shop-creator)) and encountered some bugs in categories page. The thing is that the generator might be associated with these bugs, so it need to be tested by hand. So these are the bugs:
1. The missmatch of empty category number in categories KPI and monitoring page. (screenshot 1)
2. When be

[2019-05-20 11:13] robi-bobi commented on #13769
Is the debug roadmap public, I could not find it.
Can you let me know on when this is being planned for?

P.S. I am currently going through your documentation on how to contribute and are investigating the issue as well, but do not let that stop you from fixing it.

[2019-05-20 11:23] escaware commented on #13815
Hello

at the moment it works, I have removed the lines that comments

jolelievre

and it work

[2019-05-20 11:27] jolelievre commented on #13586
I didn't pay attention, with link to the PR it should be better ^^
https://github.com/PrestaShop/docs/pull/269

[2019-05-20 11:34] hitinder commented on #10934
Hey Guys! I enabled debug mode from the BO and tried accessing Module Manager again and this time I get exception details related to another plugin (https://github.com/cashfree/).

Here are few things that are important.
1. I copied (not installed) CashFree almost 3 weeks back and I was still able to access Module Manager
2. About 3 days back I clicked on the "Link to your google analytics account

[2019-05-20 11:34] khouloudbelguith commented on #13872
Hi @dennispw,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2 (debug mode enabled)
I used this theme
[khouloud.zip](https://github.com/PrestaShop/PrestaShop/files/3197623/khouloud.zip)
In the FO => Product page => I have this error
![image](https://user-images.githubusercontent.com/16067358/58018675-5ac8cd80-7afb-11e9-91f9-81b88bd1592c.png)
If I replace thi

[2019-05-20 11:44] AlexCrete opened #13874 "An error occurred while processing your request for products with RELATED PRODUCTS"
Hello,

I have this error only if a product has some RELATED PRODUCTS, as here: https://www.luzibiza.com/dressesjumpsuits/144-258-trapeze-dress.html#/1-sizes_for_clothes-s

But everything is all right if there is no related product as, for example here: https://www.luzibiza.com/dressesjumpsuits/83-227-rio-dress.html#/1-sizes_for_clothes-s

Could you, please, have a look at this problem?
I've tried

[2019-05-20 11:46] khouloudbelguith commented on #13769
@robi-bobi, in this link https://github.com/PrestaShop/PrestaShop/projects, you can find our list of projects.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-05-20 11:48] AlexCrete commented on #12325
Hi,
I opened the new one:
An error occurred while processing your request for products with RELATED PRODUCTS #13874

[2019-05-20 11:54] khouloudbelguith commented on #13874
Hi @AlexCrete,

Thanks for your report.
In the BO => Shop Parameters => Traffic & Seo page, if you disable the friendly URL, the issue happens again?
Thanks!

[2019-05-20 12:00] marionf commented on #9497
@khouloudbelguith The image size can be reduced in the editor bloc

[2019-05-20 12:02] khouloudbelguith commented on #9497
@marionf, but in the FO, when we don't use a mobile, it is well displayed
![image](https://user-images.githubusercontent.com/16067358/58020228-7a61f500-7aff-11e9-86fe-34d31f2fa81b.png)
Thanks!

[2019-05-20 12:08] eternoendless commented on #13783
I think we should display an error message instead of an exception

[2019-05-20 12:08] ghost commented on #13640
@TristanLDD Do you have a "best practice" for this kind of alert/message?

[2019-05-20 12:09] khouloudbelguith commented on #9904
Hi @marionf,

I manage to reproduce the issue with PS1.7.6., but an exception displayed not just an alert
![image](https://user-images.githubusercontent.com/16067358/58020543-56eb7a00-7b00-11e9-9d57-3a23f335fc53.png)
I think it is a regression
Related to #13783
@marionf what do you think?
Thanks!

[2019-05-20 12:11] colinegin commented on #13815
@khouloudbelguith and @jolelievre do you know if it is the same issue with PS 1.7.5.2 ?

[2019-05-20 12:15] eternoendless commented on #13793
Disregard my last comment, that module is not on GitHub.

[2019-05-20 12:20] khouloudbelguith commented on #13815
@colinegin, this line https://github.com/PrestaShop/PrestaShop/blob/3471afe722c4d7a335a991e8f76fe9fb07e79de2/src/Adapter/ContainerBuilder.php#L192 is added to ps1.7.6.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/12564
in my case, I successfully installed ps 1.7.6.0, without installing Redis - PHP
@jolelievre What do you think?
Thanks!

[2019-05-20 12:20] colinegin commented on #13796
Be careful with retrocompatibility, the fix must work both in 1.7.6 and 1.7.5

[2019-05-20 12:23] AlexCrete commented on #13874
yes
![Screen Shot 2019-05-20 at 14 22 12](https://user-images.githubusercontent.com/50266769/58021281-c4040d00-7b0a-11e9-9b21-bb070bd4c056.png)

[2019-05-20 12:25] AlexCrete commented on #13874
yes
![Screen Shot 2019-05-20 at 14 22 12](https://user-images.githubusercontent.com/50266769/58021417-1e9d6900-7b0b-11e9-91b7-7282e23d4459.png)

[2019-05-20 12:28] khouloudbelguith commented on #13844
Hi @roja45,

Could you please provide your custom module to check it.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-05-20 12:31] colinegin commented on #13640
As discussed with the team, if we cannot control the error message, we should add a generic message under the names field.

@LouiseBonnard and @TristanLDD what text should we put and where ? Under both fields ?

[2019-05-20 12:38] colinegin commented on #13428
We need to check if this issue is related to the Customer page migration. Wdyt @matks ?

[2019-05-20 12:40] khouloudbelguith commented on #13833
@hellodracon, Thanks for your feedback.
Since I cannot reproduce the issue, I will close it.
Feel free to open a new one when needed.
Thanks!

[2019-05-20 12:40] #13833 closed, assigned to nobody

[2019-05-20 12:43] khouloudbelguith commented on #12508
Hi @matteolavaggi,

Could you please navigate to your BO => International => Taxes => Tax Rules Tab, you can find the EU VAT For Virtual Products, Try t edit it, you will discover, that it has different taxes for different countries
![image](https://user-images.githubusercontent.com/16067358/57081409-e9b0aa00-6cf4-11e9-9125-220a0691b09c.png)
For each tax rule, you can edit the tax for each country

[2019-05-20 12:54] marionf commented on #13814
@tomlev or @Quetzacoalt91 Could you try to reproduce it ?
I can't reproduce it but I was asking if it's not related to CLDR ?

[2019-05-20 12:55] khouloudbelguith commented on #13874
@AlexCrete, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.5.1.
https://drive.google.com/file/d/10sNh77Q43-lBDrv0jkf2VCfAwePdfwI8/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this inform

[2019-05-20 13:02] TristanLDD commented on #13640
Best practice for this kind of message would be to display it as a contextual error message when the entry isn't correct, as it concerns just a few cases.

I'm not a fan of writing the whole input characters rules under the field as it sounds very complicated for a simple name field, we don't usually see messages like that on any other name fields.

Is changing the error message really no option?

[2019-05-20 13:03] marionf commented on #9904
Yes, it's related to #13783

[2019-05-20 13:06] escaware commented on #13815
Hello
I made a clean installation of prestashop 1.7.6.0 test and that error arose,
jolelievre solution is correct, delete that line and it works, I do not have redis installed on the server and I ignore this installation failure, versions 1.7.5.2 works correctly
Thank you
Jose Luis

[2019-05-20 13:14] marionf commented on #13839
Fixed also by https://github.com/PrestaShop/ps_facetedsearch/pull/60

[2019-05-20 13:23] #9956 closed, assigned to nobody

[2019-05-20 13:29] higanjima commented on #13812
I can't send you a pull request but for fix it, in src/Core/Cart/CartRuleCalculator.php you have to switch ligne 95 / 96

// Free gift
$cartRow->applyFlatDiscount($cartRow->getFinalUnitPrice());
$cartRuleData->addDiscountApplied($cartRow->getFinalUnitPrice());

TO

// Free gift
$cartRuleData->addDiscountApplied($cartRow->getFinalUnitPrice());
$cartRow->applyFlatDiscount($cartRow->getFinalUnitPrice

[2019-05-20 13:29] khouloudbelguith commented on #13775
Hi @ramibak,

I checked your shop again.
It is the same issue as before
![image](https://user-images.githubusercontent.com/16067358/58025083-91a6df80-7b0b-11e9-888a-39f93659eb1d.png)
Thanks!

[2019-05-20 13:32] tomas862 opened #13876 "[SF Migration] Allows a module to add a field to a form, customize the rendering, choose where it appears, all of this easily"
Using the module hooks in identifiable object and option forms allow to add new form element in any place

**Problem**
Im currently working on https://github.com/PrestaShop/PrestaShop/pull/13875 which is in short: extending any form from module using `form_rest`.

It actually works but what if I could as a module developer not even extend a form but to put elements in desired order.

**Example**

[2019-05-20 13:32] marionf commented on #9503
@colinegin wdyt about this ?

[2019-05-20 13:35] marionf commented on #9511
@khouloudbelguith Could you try to reproduce it with 1.7.6.x ?

[2019-05-20 13:38] marionf commented on #9514
@khouloudbelguith Could you try to reproduce it with 1.7.6.x ?

[2019-05-20 13:41] matks commented on #13876
The aim is that, once this issue is fixed, dev modules should be able, on a migrated page to:
- easily add a form field
- easily choose how it should be rendered
- easily choose its rendering position
- all of this WITHOUT overriding the template, this should only be done for massive customization

@tomas862  suggestion above targets to solve the position issue

@eternoendless suggested that we mi

[2019-05-20 13:44] ghost commented on #13640
Feasibility will be studied first to see what's possible.

I agree, ideally, the best would be to display the message only when the name is not correct.

[2019-05-20 13:50] marionf commented on #9557
@khouloudbelguith Could you try to reproduce this issue with 1.7.6.0 ?

[2019-05-20 13:52] marionf commented on #9561
@khouloudbelguith Could you try to reproduce the issue with 1.7.6.0 ?

[2019-05-20 13:54] #13839 closed, assigned to PierreRambaud

[2019-05-20 13:55] LouiseBonnard commented on #13640
One first thing is to check whether we can improve the translation key with clearer wording, and for that I need all forbidden characters. If it is good, the next step should not be too complicated since we just need to keep the existing string and add a little help.

[2019-05-20 14:03] marionf commented on #9567
The issue on stock page is fixed, now we can't change quantities if we don't have "edit" permission for stock page.
About order page, you can't change order's status if you don't have "edit" permission for order page.

[2019-05-20 14:03] #9567 closed, assigned to nobody

[2019-05-20 14:07] TristanLDD opened #13877 "Design fixes on Product Reviews module (BO / FO)"
Minor integration fixes on front office:

- Fix comments area's width and alignment on product page
![Capture d’écran 2019-05-20 à 15 30 40](https://user-images.githubusercontent.com/27484094/58026137-1991e700-7b16-11e9-9139-8ac0244c0658.png)

- Add spacing between stars and reviews links on product page
![Capture d’écran 2019-05-20 à 15 37 22](https://user-images.githubusercontent.com/2748409

[2019-05-20 14:18] #9925 closed, assigned to nobody

[2019-05-20 14:19] marionf commented on #9571
Duplicate of #9791

[2019-05-20 14:19] #9571 closed, assigned to nobody

[2019-05-20 14:26] khouloudbelguith commented on #13775
@ramibak,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
the phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, t

[2019-05-20 14:32] AlexCrete commented on #13874
- is it it?

Notice on line 227 in file /home/luzi2018/domains/luzibiza.com/public_html/modules/psaddonsconnect/psaddonsconnect.php
[8] Undefined variable: advice

Notice on line 228 in file /home/luzi2018/domains/luzibiza.com/public_html/modules/psaddonsconnect/psaddonsconnect.php
[8] Undefined variable: link_advice

- ufortunately I have no access to PHP error log - or, maybe I can find it somew

[2019-05-20 14:34] khouloudbelguith commented on #9511
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0.
![image](https://user-images.githubusercontent.com/16067358/58029497-a2a81e80-7b14-11e9-97b6-fbb2bc5a6d71.png)
It will only be correct the first time you update the cart. The rest of the time it will be undefined.
Thanks!

[2019-05-20 14:39] AlexCrete commented on #13874
- is it it?

  Notice on line 227 in file /../../../luzibiza.com/public_html/modules/psaddonsconnect/psaddonsconnect.php [8] Undefined variable: advice
Notice on line 228 in file /../../../luzibiza.com/public_html/modules/psaddonsconnect/psaddonsconnect.php [8] Undefined variable: link_advice

- ufortunately I have no access to PHP error log - or, maybe I can find it somewhere in Symfony profiler?

[2019-05-20 14:39] eternoendless commented on #9818
In that case, as a workaround, you should be able to insert the translation directly in the database, in the `ps_translation` table. Here's an example using the classic name

id_lang | key | translation | domain | theme
-- | -- | -- | -- | --
1 | Choose a file | Choissisez un fichier | ModulesBannerShop | classic

- **id_lang:** This is the id of the language you are translating to. Look in `ps_la

[2019-05-20 14:41] alex4102 commented on #9818
Maybe that work's but why we need to do that ? For no-developpers users who just bought theme and install it ?

[2019-05-20 14:43] khouloudbelguith commented on #9514
HI @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0beta1.
https://drive.google.com/file/d/1nCtxn-srOWggE3gua0lsQEvHNkJ7g8ST/view
Thanks!

[2019-05-20 14:48] marionf commented on #9581
@eternoendless This issue is still relevant ?

[2019-05-20 14:52] eternoendless commented on #9818
It's a _workaround_ – that means a solution that's not ideal but works right now. The alternative is to sit and wait while it gets fixed. I'm trying to help you here.

[2019-05-20 14:53] MatShir commented on #12830
**Issues to be fixed with the Circuit Breaker implementation:**
- [x] #10934
- [x] #13438

[2019-05-20 14:54] alex4102 commented on #9818
Oh okay :) thanks @eternoendless , I missunderstood you !

[2019-05-20 14:58] marionf commented on #9574
I can't reproduce with PrestaShop 1.7.6.0

[2019-05-20 15:00] marionf commented on #9577
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-05-20 15:00] khouloudbelguith commented on #9557
Hi @marionf,

Using the custom module sent by @maofree with PS1.7.6.0beta1, I have an issue
![image](https://user-images.githubusercontent.com/16067358/58031417-4941ee80-7b18-11e9-96a1-c627b3243cda.png)
@maofree do you still have the same issue with PS1.7.6.0?
I tried with your module => error
Thanks to check & feedback

[2019-05-20 15:09] khouloudbelguith commented on #9574
Hi @marionf,

In my case also, I did not manage to reproduce the issue with PS1.7.6.0beta1
https://drive.google.com/file/d/14b6v46M7dLWXulrHRXWTUojuxk-55ZTM/view
Thanks!

[2019-05-20 15:14] khouloudbelguith commented on #9577
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0.
When I follow this link: http://shop1760.com/index.php?controller=stores&ajax=1&latitude=25.76500500&longitude=-80.24379700
I have an exception
![image](https://user-images.githubusercontent.com/16067358/58032358-595acd80-7b1a-11e9-9459-a8969a1244b0.png)
Thanks!

[2019-05-20 15:14] colinegin commented on #10597
Hello @matks,

is there anything left to do here ?

[2019-05-20 15:16] khouloudbelguith commented on #13874
@AlexCrete,

I access to your Shop FO, I have this exception
![image](https://user-images.githubusercontent.com/16067358/58032453-86a77b80-7b1a-11e9-9ae5-3a0dcd6ac73e.png)
Do you have any override in your core files of any class?
It could be not compatible.
Thanks!

[2019-05-20 15:18] khouloudbelguith commented on #13874
@AlexCrete, also, you have this error
https://drive.google.com/file/d/1iGGtcvazjrwM2ekVo1jk-LEy4Xo5XUF4/view
Thanks!

[2019-05-20 15:20] colinegin opened #13878 "Migrate "Orders > Orders > View / Edit order" page"
Type: page
Part of Symfony migration project

## Status

See epic https://github.com/PrestaShop/PrestaShop/issues/14745

Todo:
- [x] Deletion of the banner at the top of the order page (Date - Total - Messages - Number of products)
- [x] Payments Tab - 10/11
- [x] Customer block - 4/11
- [x] Status Tab Order - 5/11
- [x] Documents Tab Order - 6/11
- [x] Shipping Tab Order - 7/11
- [x] Merchandise

[2019-05-20 15:21] khouloudbelguith commented on #13719
@Shakarhaba, I did not manage to reproduce the issue with PS1.7.6.0beta1 & PHP7.1.
Here's my dev.log
[dev.log.zip](https://github.com/PrestaShop/PrestaShop/files/3198580/dev.log.zip)
Thanks to check & feedback

[2019-05-20 15:22] colinegin opened #13879 "Migrate "Orders > Shopping Carts > View" page"
Type: page
Part of Symfony migration project

## Status

Todo:
- [x] Migrate view https://github.com/PrestaShop/PrestaShop/pull/14065

## Check-List (copied from #13989)

### Controller / template
- [ ] All controller actions are migrated and protected with `@AdminSecurity` annotations when eligible and `@DemoRestricted` annotations when eligible
- [ ] All links targeting this page are updated: ei

[2019-05-20 15:29] hanicab opened #13880 "Bug in displayed discount when adding product (linked to a coupon) to an existing order from BO"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a coupon rule with: empty code + product restriction + discount amount
1. try to add this product above (linked to the coupon) to any existing order
1. you will see that the discount is duplicated
1. also if you delete the discount from the order, the discount disp

[2019-05-20 15:33] khouloudbelguith commented on #13873
Hi @zuk3975,

I tried to add a large number of categories via API using this script

[code]

The first issue, I did not manage to reproduce it with more than 11000 categories
![image](https://user-images.githubusercontent.com/16067358/58075990-f4968600-7ba0-11e9-9e2d-fa70d5ea77fa.png)
![image](https://user-images.githubusercontent.com/16067358/58076007-feb88480-7ba0-11e9-9efa-0da065dae8e4.png)

Th

[2019-05-20 15:50] M4tho commented on #13855
Hey @khouloudbelguith
Thanks for your tipp, but as far as i can see, it is already disabled:

    define('_PS_DEBUG_PROFILING_', false);

In my version of the defines-file there is no if(!defined....
but i've never changed this particular file

[2019-05-20 15:58] eternoendless commented on #11348
@MatShir Import wouldn't be too hard to do, as all custom translations are stored in database.

[2019-05-20 16:02] morghy1992 commented on #12687
have you find any solution ?

[2019-05-20 16:02] eternoendless commented on #11573
Hi @dheerajwebkul

This can be considered fixed as of 1.7.6.0 thanks to #13504, but keep in mind that you will have to update your module to opt-in to the new translator (read the Pull Request description)

[2019-05-20 16:22] marionf commented on #13845
The issue is the following:
At the first step of the welcome module you are at 2/6 instead of 1/6

![capture d'écran_1568](https://user-images.githubusercontent.com/13449658/58036730-1d306880-7b2c-11e9-9e71-d365f9bd2087.png)

But this issue is also on 1.7.5.2 so it's not a regression

[2019-05-20 16:30] marionf commented on #13845
@ntiepresta

I correctly have steps 2 on payment method and carrier pages.

![capture d'écran_1569](https://user-images.githubusercontent.com/13449658/58037242-443b6a00-7b2d-11e9-8e2d-40aa61ae19ba.png)

These parts are managed by MBO, so please verify you have MBO module installed
Furthermore, you need to wait a few seconds before to see them displayed

If MBO isn't installed, it's normal if you d

[2019-05-20 16:32] davidcmx opened #13881 "500 Server Error at log out at order page in Prestashop 1.7.3.0"
**Describe the bug**
I have an e-commerce with Prestashop 1.7.3.0, and I have a problem with the log out in the front-end, in any part of the site it works correctly, but in the order page (when you proceed to make the order after the cart page), when I need to log out there, the site throw a 500 Server Error. I have activated the debug option, and this is the error that shows me.

**To Reproduce*

[2019-05-20 17:27] ComonSoft opened #13882 "order object not create in PaymenModule and generate throw error"
**Describe the bug**
Create order in BO with specific cart rule. Second order hangs with an error 500. Object $order is not created in PaymentModule in validateOrder() line 457
 if (!$order->addOrderPayment($amount_paid, null, $transaction_id))

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to BO
2. Create a cart rule with voucher code for a specific customer with 100% discount and

[2019-05-20 17:38] blks commented on #13871
Well we have the same problem and we managed to find a quick solution for it, this is the code that you can use until it will be fixed in next builds:

We need to change the methode **ajaxProcessEditProductOnOrder**  in the **AdminOrderController.php** controller.

PS: use it as an override

      public function ajaxProcessEditProductOnOrder()
    { ...
       // Check fields validity
        $th

[2019-05-20 19:47] Gunit8989 opened #13883 "Only certain clients have trouble getting past login"
Certain clients complain about not being able to login, whether they try to get passed the first step in cart as a host or registered client, they just cannot get through to the second step where they add their address etc.

It is not every client, only some. We tried to added their address in the back office, as we can see them once they enter the email address, but once we hit the save button, t

[2019-05-20 21:57] DanLaur commented on #13856
Hi @khouloudbelguith
My shop sell some products with 4% tax,  some products with 10% tax, and some product with 22% tax.  I sell to customers B2C,  and my shop show prices tax included.Usually customers don't know percentage tax amount of product. When I set minimum cart amount in back office ->order setting,  in page font office -> cart page appears a message for customer, where it's explain mini

[2019-05-21 00:19] robi-bobi commented on #13769
I understand.
However, rough estimate would be good as well.

***

I'm trying to get to the bottom of this, but the logic is a bit scattered.
I think I have found one candidate for the origin of the issue.

In `PREFIX_pack` table, the `quantity` field contains the value that represents the SUM of all combinations of the pack item.
I believe it should only be the value of quantity of exact combinat

[2019-05-21 05:39] PierreRambaud commented on #13799
In not in favor to make this change.
If you're on a grid page, want to find an element with filters and navigate to the wanted result. For example going to page 3.
If the reset button is clicked, you want to reset each action on this grid, pagination included, not staying on the same page :thinking:

[2019-05-21 06:07] zuk3975 commented on #13799
@PierreRambaud https://github.com/PrestaShop/PrestaShop/pull/13840/files#diff-8b03d6d67a334ff0b304181a10b14e5aR110 it resets the offset, so the pagination is resetted.

[2019-05-21 06:38] BenTen opened #13884 "Allow manual editing of shipping costs when creating an order in the back office"
Currently, when creating an order manually in the Prestashop back office, we can select a shipping method, but the shipping cost is automatically taken from the carrier settings configured in the BO.

**Problem**
Sometimes we need to create an order with a shipping cost that differs from the one defined in the back office.

For example:
I sell a product on Amazon and, for whatever reason, need to

[2019-05-21 07:20] jolelievre commented on #13815
Hell @colinegin I haven't heard of this problem with 1752, unless there is another issue
The problem is on 176 with doctrine initialization, if a similar problem occurs on 1752 then it comes from another wrong init that I don't know of

@escaware I **strongly discourage** you, or anyone, to comment/remove this line because it is used for new feature in PrestaShop to allow using Doctrine in modules

[2019-05-21 07:32] khouloudbelguith commented on #13881
Hi @IngDavidCm,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2
It seems that you have an override of the class DeliveryOptionsFinder.php
![image](https://user-images.githubusercontent.com/16067358/58076702-cade5e80-7ba2-11e9-847e-681f0db66cb2.png)
This override is not compatible with your version.
You should contact the module author if it is creat

[2019-05-21 07:42] khouloudbelguith commented on #13871
Hi @blks,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-05-21 07:48] khouloudbelguith commented on #13884
Hi @BenTen,

Thanks for your report.
@marionf, @MatShir  what do you think?
Is it possible to add this feature [editing the shipping price] in the add new order page migrated to Symfony?
Thanks!

[2019-05-21 08:01] tyrelle commented on #12687
@morghy1992
themes/classic/templates/catalog/_partials/miniatures/product.tpl

please replace "classic" with your theme name

[2019-05-21 08:04] mrabsinthe opened #13888 "Alphabetically list modules in translations"
International / Translations / Installed modules translations
It would be nice to have modules listed alphabetically by name in drop down.

[2019-05-21 08:15] khouloudbelguith commented on #13888
Hi @mrabsinthe,

Thanks for your report.
I think it could be a good idea, to have the list of modules are sorted by name in drop down.
![image](https://user-images.githubusercontent.com/16067358/58079474-fb28fb80-7ba8-11e9-9eca-8282c9916b2f.png)
@marionf, @colinegin what do you think?
Thanks!

[2019-05-21 08:20] colinegin commented on #13888
Yes, I agree, it seems like the obvious way of sorting ! @khouloudbelguith do you know how it is currently sorted ?

[2019-05-21 08:22] marionf opened #13890 "[EPIC] Order page 1.7.7"
## EPIC ORDER PAGE

### New features

Listing page :
- [x] #14732 - Order preview in Order page list
- [x] #14736 - Right click "open in new tab" over the full width of order table line
- [x] #14741 - Dropdown next to the status of the command to modify it
 ~~Redesign of the bulk action - #14743~~ not part of the project anymore
- [x] #15230 - KPI header redesigned
- [x] #15231 - Client name click

[2019-05-21 08:23] LouiseBonnard commented on #13841
I would even write _Enable this option if you want to activate by default all your created manually new products._, what do you think?

[2019-05-21 08:26] marionf opened #13891 "[EPIC] Add/edit product page (known bugs)"
### - Issues in **basic settings tab** sorted by priority high to low :

**Must-Have**
- [x] #9945 - The "add a product" page creates a ghost product the moment you open it
- [x] #12773 - Improve product images management in basic settings tab #9631

**Should-Have**
- [x] #14910 - Error when save an existing product before it is fully loaded PR: #15034
- [x] #9752 - [BOOM-4741] Can't create catego

[2019-05-21 08:43] khouloudbelguith commented on #13888
@colinegin, I think that they are randomly sorted.
Thanks!

[2019-05-21 08:52] ghost commented on #13841
Sounds good, easier to read.
You are the content master, I let you have the final decision :)

Though I'm not sure about "manually" being put after "created", I would rather say "manually created products", wdyt?

[2019-05-21 08:55] marionf commented on #9655
Can't reproduce with 1.7.6.x
If you try to add an iframe in the product page (description field) without enable iframe, an error message is displayed

[2019-05-21 08:55] #9655 closed, assigned to nobody

[2019-05-21 08:57] colinegin commented on #13819
@marionf if I understand well, this happens in 2 different scenarios :
- product with taxes
- product with no taxes

Am I correct ?

[2019-05-21 08:58] LouiseBonnard commented on #13841
I was wondering about that as well... I've just asked Damian, it's _Enable this option if you want to activate by default all your manually created new products._, perfect then! And the localization remains in the same domain. ;-)

[2019-05-21 09:01] khouloudbelguith commented on #13883
Hi @Gunit8989,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2019-05-21 09:04] ghost commented on #13841
Updated the specs

[2019-05-21 09:09] #9827 closed, assigned to nobody

[2019-05-21 09:14] khouloudbelguith commented on #13856
@DanLaur, to show a message with tax included, you need to override the file `/Project_Folder/src/Adapter/Presenter/Cart/CartPresenter.php`
But the problem in your case:
1. in your cart, if you have a product with 4% tax
2. you have also in your cart another product with 22% tax

 => the minimum amount is displayed in tax excluded => OK
if you need to display the minimum amount with tax included =

[2019-05-21 09:19] PierreRambaud commented on #13799
@zuk3975 Thanks :)

[2019-05-21 09:28] #9763 closed, assigned to nobody

[2019-05-21 09:29] matks commented on #9763
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13804

[2019-05-21 09:34] blks commented on #13871
Fine @khouloudbelguith  , I'll do it .

[2019-05-21 09:34] matks commented on #13883
Looks like a theme issue 🤔 are you using Classic Theme ?

[2019-05-21 09:37] sarahdib commented on #12143
This issue is fixed with the 3.0.0 version of the module Faceted search.

[2019-05-21 09:43] paolo75015 opened #13892 "Unable to load template file:layout-ajax.tpl"
I am not able to import products via CSV into my Prestashop database. I select my file, set the parameters I need, set the mapping with columns in my file and then I get this error message in my browser console :

I already:

- test another CSV. Same error.
- delete manually /var/cache/dev/ and /var/cache/prod/ folders
- check CHMOD of my /admin/ and /src/ folders and subfolders (755 for directori

[2019-05-21 09:44] LouiseBonnard commented on #13476
It would be great! Each wording needs to be localized. But shouldn't it fall into the `Modules.Themodulename.Admin`domain instead?

[2019-05-21 09:44] matks commented on #13745
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13857

[2019-05-21 09:44] #13745 closed, assigned to nobody

[2019-05-21 09:53] khouloudbelguith commented on #12425
Same issue with PS1.7.6.0beta1

[2019-05-21 09:57] khouloudbelguith commented on #13892
Hi @paolo75015,

Could you please provide me the exact file csv, you tried to import it, to test it.
Thanks!

[2019-05-21 10:02] paolo75015 commented on #13892
@khouloudbelguith unfortunately I can't because our products are confidential, but I created a sample file (same columns), please fint "test.csv" attached. Same error. I believe it will work on your side, the issue could be related to a CHMOD or a missing file in my FTP ?

[test.zip](https://github.com/PrestaShop/PrestaShop/files/3201934/test.zip)

[2019-05-21 10:07] tomas862 commented on #13490
So right now from your comments I see that there are two possible scenarios:

1. Throw exception with translatable message from module hook and not handle it and let the page go down for regular user
2. Handle the exception in the module hook and add friendly message in the flashbag

which one do you guys prefer or do you have more suggestions? :thinking:

[2019-05-21 10:20] jf-viguier opened #13893 "displayBackOfficeTop hook should be in nav container"
In the new backoffice theme, the hook displayBackOfficeTop has been moved outside the nav container. We can't add buton in fixed navigation bar : It's a regression.

Here is the old hook position
https://github.com/PrestaShop/PrestaShop/blob/fbd75202b69460805724201068f162e4e371a997/admin-dev/themes/default/template/header.tpl#L385

[2019-05-21 10:23] khouloudbelguith commented on #13882
Hi @ComonSoft,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0BETA1
I attached a video record
https://drive.google.com/file/d/1eC6MVXLsm4C_YRZPfjFEx2Uvy8ynrd8R/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/mi

[2019-05-21 10:27] nrcjea001 opened #13895 "Abandoned cart with no order"
Hello

I would like to understand what it means when the cart is abandoned and yet nothing appears to be added to cart. How can someone abandon a cart with nothing in it?

Please refer to image below.

![unt](https://user-images.githubusercontent.com/26452178/58088759-620fda00-7bd4-11e9-828b-337366857e9d.png)

As you can see, customer abandoned the cart but no order was created. How can this be?

[2019-05-21 10:29] khouloudbelguith commented on #13893
Hi @jf-viguier,

Thanks for your report.
ping @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-05-21 10:42] khouloudbelguith commented on #9561
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0beta1.
I have this error
![image](https://user-images.githubusercontent.com/16067358/58089741-7a282f00-7bbd-11e9-9100-fecd3de41f60.png)
Thanks!

[2019-05-21 10:45] khouloudbelguith commented on #13855
@M4tho,

What are the exact steps did you follow to disable the debug mode? from the BO => Advanced Parameters => Performance page? or by editing file Projetc_Folder/config/defines.inc.php?
Thanks!

[2019-05-21 10:53] MatShir opened #13896 "Migrate "Orders > Shopping carts > View" page"
Part of Symfony migration project

[2019-05-21 10:54] MatShir opened #13897 "Migrate "Advanced Parameters > Multistore""
Part of Symfony migration project

- [ ] Multistore header: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-of-pages-for-specific-case-3-the-page-can-be-displayed-only-in-all-shops-context)
- [ ] Multistore information message: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.

[2019-05-21 10:55] MatShir opened #13898 "Migrate "Advanced Parameters > Multistore > Add a new group shop" page"
Part of Symfony migration project

- [ ] Multistore header: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-of-pages-for-specific-case-3-the-page-can-be-displayed-only-in-all-shops-context)
- [ ] Multistore information message: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.

[2019-05-21 10:55] MatShir opened #13899 "Migrate "Advanced Parameters > Multistore > Add a new shop" page"
Part of Symfony migration project

- [ ] Multistore header: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-of-pages-for-specific-case-3-the-page-can-be-displayed-only-in-all-shops-context)
- [ ] Multistore information message: [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.

[2019-05-21 11:07] sebaborda04 commented on #12075
I have the same problem, attached error screen.
My template does not support the update to 1.7.5.2. I currently have version 1.7.2.4.
I need help, nobody will know what the problem is.
Thanks a lot!
![Stock](https://user-images.githubusercontent.com/50870195/58091234-7eddea80-7b9f-11e9-9deb-b71b99856c5f.png)

[2019-05-21 11:36] khouloudbelguith commented on #13880
Hi @hanicab,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2.

The cart rule:
1. has no code
2. product selection a product with 100 euro tax included / without product selection => same issue
3. discount amount of 500 EUR tax included

PS1.7.6.0:
1. add the product to old order
2. discount value =100 EUR = price of the product => diffent from the FO
3. Dis

[2019-05-21 11:45] khouloudbelguith commented on #13895
Hi @nrcjea001,

When a customer signs in, an empty cart of 0€ is created.
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9589
So, I close it.
Thanks!

[2019-05-21 11:45] #13895 closed, assigned to nobody

[2019-05-21 11:46] khouloudbelguith commented on #13895
Duplicate of #9589

[2019-05-21 11:48] khouloudbelguith commented on #12075
Hi @sebaborda04,

This issue is currently closed, can you open a new one with more information about your configuration in English
Thanks!

[2019-05-21 11:50] khouloudbelguith commented on #13861
@miha1, so you need to get the number of transactions for each order in a limited period?
Thanks!

[2019-05-21 11:55] miha1 commented on #13861
Not only number, but all information about tried transaction for each order

[2019-05-21 11:57] khouloudbelguith commented on #13861
@miha1, thanks for your feedback.
ping @marionf, @colinegin what do you think of his suggestion?
Thanks!

[2019-05-21 11:58] marionf commented on #13819
It's ok with a product with taxes

![capture d'écran_1570](https://user-images.githubusercontent.com/13449658/58094265-88cc1180-7bd0-11e9-8732-21b15c33f5d0.png)

[2019-05-21 12:01] sebaborda04 opened #13901 "Error Stock in New Products"
I am loading the stock as the images show.
I attach the images step by step.
1-update stock in 4 new products
2-click on the "Apply new Quantity" button
3-The stock was updated
4-Re-enter Stock Management
5-There is only one product with stock!

![stock](https://user-images.githubusercontent.com/50870195/58094229-8d7bd000-7ba6-11e9-987c-d77c33542d28.png)
![sotck3](https://user-images.githubusercon

[2019-05-21 12:12] PierreRambaud commented on #13893
Seems legit! :+1:

[2019-05-21 12:17] khouloudbelguith commented on #13892
@paolo75015, no I have this error
![image](https://user-images.githubusercontent.com/16067358/58095159-41428700-7bca-11e9-8af9-8e3bae3b62bd.png)
I tried with the default CSV file & it is OK
Thanks!

[2019-05-21 12:20] hanicab commented on #13880
@khouloudbelguith Thank you for your reply

I want to tell that I have also an incorrect discount if the cart rule is without any product restriction.

Can you try to reproduce this please ?

[2019-05-21 12:37] khouloudbelguith commented on #13901
Hi @sebaborda04,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7..6.0beta1.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-05-21 12:39] khouloudbelguith commented on #13880
@hanicab, it is a different issue?
this discount is added from the BO? / FO?
Thanks!

[2019-05-21 12:44] colinegin commented on #13640
@eternoendless @PrestaShop/prestashop-core-developers can you study the feasibility so that we can take a quick decision on what should be done ?

To be noted : the issue is the same on the checkout form.

[2019-05-21 12:45] DanLaur commented on #13856
@khouloudbelguith
Better rule with 22% tax, because it's of most product that I sell.
Thanks

[2019-05-21 12:46] ndkdesign opened #13902 "ps_facetedsearch : hidden product visible in filtering"
suite à mise à jour du module en version 3.0.0 les produits en visibilité "nulle part" sont tout de même affichés lors d'une recherche par filtre

![capture d'écran_1571](https://user-images.githubusercontent.com/13449658/58098862-b322cc80-7bda-11e9-9dc1-2de56e92feef.png)

[2019-05-21 12:46] sebaborda04 commented on #13901
Do you mean this data?
![log](https://user-images.githubusercontent.com/50870195/58097252-52c96600-7bad-11e9-8cba-fd562bb734de.png)
![log1](https://user-images.githubusercontent.com/50870195/58097263-56f58380-7bad-11e9-8841-70cbca90ca48.png)
![log3](https://user-images.githubusercontent.com/50870195/58097264-58bf4700-7bad-11e9-9635-307fa92f8472.png)
![Sin título](https://user-images.githubusercont

[2019-05-21 12:55] khouloudbelguith commented on #13901
@sebaborda04, when debugging mode enabled in your case => there is no exception.
You can use DevTools, so:

1. enable debug mode
2. go to the stocks page
3. open up developer tools
4. go to Network tab
5. Click on the "Apply new Quantity" button
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response" or "Preview" ta

[2019-05-21 13:03] sebaborda04 commented on #13901
Error.
![error](https://user-images.githubusercontent.com/50870195/58098303-a341c300-7baf-11e9-8323-f8509d060b28.png)
![Error1](https://user-images.githubusercontent.com/50870195/58098307-a6d54a00-7baf-11e9-85ae-8c48a1e49675.png)

[2019-05-21 13:12] khouloudbelguith commented on #13902
Hi @ndkdesign,

Did you clone the last version ps_factedsearch from GitHub?
https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v3.0.0
Thanks!

[2019-05-21 13:20] ndkdesign commented on #13902
Hi thanks for reply.
yes , a small precision : hidden products appears when you d'ont select filters, so on category page load, and disappear when you select filters.

Disabling module works and hidden products don't appear

[2019-05-21 13:30] PierreRambaud commented on #13902
Thanks for your feedback @ndkdesign
Fixed in https://github.com/PrestaShop/ps_facetedsearch/pull/63 :)

[2019-05-21 13:30] khouloudbelguith commented on #13902
@ndkdesign, yes I manage to reproduce the issue with ps_facetedsearch  v3.0.0

[2019-05-21 13:33] khouloudbelguith commented on #13856
@DanLaur, but if you add to your cart only product 4% tax, if you have minimum amount displayed with 22% => will be incorrect
Is it?
Thanks!

[2019-05-21 13:59] DanLaur commented on #13856
The best solution is that prestashop calculate total amount products tax excl. + total amount taxes products, and if total amount of this 2 amounts is => minimum cart amount, allow to buy.
I know that i can not have a single tax for this rule, because with 3 different taxes, it impossible to have correct rule.
You have asked to me which rule choose, and I thought this rule is for a default set.

[2019-05-21 14:07] khouloudbelguith commented on #13856
@DanLaur, in this case, the minimum amount with tax included is incorrect.
take a look at these forums and feedback :
https://www.prestashop.com/forums/topic/120802-minimum-total-purchase-tax-incl/
https://www.prestashop.com/forums/topic/124766-montant-total-minimum-requis-pour-valider-une-commande/
you need to edit the file /Project_Folder/src/Adapter/Presenter/Cart/CartPresenter.php

Thanks!

[2019-05-21 14:29] khouloudbelguith commented on #13901
@sebaborda04, you have some duplicated entry in the table ps_stock_avalible for the product which has id_product = 34.
Did you edit your database manually?
Thanks!

[2019-05-21 14:29] ndkdesign commented on #13902
@PierreRambaud Merci!

[2019-05-21 14:33] dennispw commented on #13872
Just for clarity, it's not just a fix for the exception that is needed. The actual content's of the file(s) are missing.

[2019-05-21 14:34] sebaborda04 commented on #13901
I'm going to check it and I'll tell you ...
Thanks

[2019-05-21 14:37] khouloudbelguith commented on #13901
@sebaborda04, thanks!
Waiting for your feedback

[2019-05-21 14:53] sebaborda04 commented on #13901
I do not have any product_id = 34 in the table ps_stock_avalible. The last number is the product_id = 31 and has id_stock_available = 0

[2019-05-21 15:01] khouloudbelguith commented on #13901
@sebaborda04, this error is displayed in your case
![image](https://user-images.githubusercontent.com/16067358/58107385-9f2e9900-7be1-11e9-9f25-fef1dd3f6719.png)
Thanks!

[2019-05-21 15:02] hanicab commented on #13880
it is different in just 1 step.

when you create the cart rule, no need to set a product restriction to the cart rule. (just empty coupon code and discount amount)

then try to add any product to any existing order, you will see that the total order wiol be incorrect

[2019-05-21 15:10] khouloudbelguith commented on #13880
@hanicab, yes you are right.
Thanks!

[2019-05-21 15:12] sebaborda04 commented on #13901
![IMG-1579](https://user-images.githubusercontent.com/50870195/58108187-c07f8d00-7bc1-11e9-8a01-07c8945660d8.JPG)

[2019-05-21 15:26] PierreRambaud commented on #13902
@ndkdesign Thank to you for helping us making PrestaShop better :wink:

[2019-05-21 15:51] #13902 closed, assigned to nobody

[2019-05-21 15:55] davidcmx commented on #13881
Hi @khouloudbelguith

Thanks for your help.
With the information we found the problem, and yes, was a module, we uninstall the module since it was not necessary.

Thanks for your time.

[2019-05-21 16:02] MatShir commented on #12830
@Shiryu75 let's do this !

[2019-05-21 16:40] eternoendless commented on #11514
We have been experiencing this weird behavior as well, both on Mac and Linux. The last time I checked a diff from the output, there were some slight, **non-functional** differences according to the local configuration. I think the installed Node/NPM version has something to do with it.

To avoid unnecessary conflicts, it's best to to avoid committing those files if the source file wasn't modified.

[2019-05-21 16:54] TristanLDD commented on #13848
I think the best solution to adapt this component to any form is to harmonise it with the display of other inputs:

![Capture d’écran 2019-05-21 à 18 45 24](https://user-images.githubusercontent.com/27484094/58114715-a44b1280-7bf8-11e9-92b3-db0ee3641cb3.png)

The title + description was basically designed for the product page, but I didn't knew we would use the SEO preview on other forms.
Also,

[2019-05-21 17:14] sebaborda04 commented on #13901
![Product_ID34](https://user-images.githubusercontent.com/50870195/58116451-aef2b100-7bd2-11e9-993a-48eb45952e88.png)
when I want to modify the product_id 34, it shows this error.

[2019-05-21 17:33] M4tho commented on #13855
Yes I've disabled it via the BO

[2019-05-21 19:40] Solander commented on #11944
+1 exactly the same problem..

[2019-05-21 21:09] DanLaur commented on #13856
@khouloudbelguith
Thanks, I will try to see and edit file, after to read forum.
I forgot to post that my prestashop is 1.7.2, I hope the modifies and file to edit, are same or similar.
Thanks

[2019-05-21 21:20] paolo75015 commented on #13892
This is the result I got on my Prestashop with the test.csv.

![Sans titre](https://user-images.githubusercontent.com/30658093/58131461-074fa000-7c1f-11e9-8787-157433d6e9d0.png)

[2019-05-21 22:11] paolo75015 commented on #13892
I found a solution... by unchecking the parameter "Use product reference as key".

[2019-05-21 22:11] #13892 closed, assigned to nobody

[2019-05-21 23:25] ToyPerson opened #13908 "Everytime I click on a link or button, it always brings me to the login page"
I was granted permissions to access the PrestaBlog only. However, every time I click any link, button, or feature in the dashboard, I am always prompted to the login page. So, it means I have to login every now and then.

How do I prevent this so I can work on the blog seamlessly?

[2019-05-21 23:30] ToyPerson commented on #13720
I'm experiencing the same issue. https://github.com/PrestaShop/PrestaShop/issues/13908

If anyone can provide a solution to this, please do so.

[2019-05-22 06:26] thbl commented on #12472
This email wont be sent if you update the tracking no. over webservice ?

[2019-05-22 07:02] matteolavaggi commented on #11893
Any update dear? Waith 1 minutes for open a manufacturer page in a dedicated 12GB RAM SERVER a 8 CPU mean that coding is HORRIBLE!

[2019-05-22 07:28] khouloudbelguith commented on #13908
Hi @ToyPerson,

Thanks for your report.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - The theme used by default classic or not?
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log
 - screenshots

Don't you know how to get thi

[2019-05-22 07:33] tomlev commented on #13814
Hi @khouloudbelguith @marionf
this issue is related to the system. @marionf we did need to update your OS to fix it.
it is NOT related to prestashop

@PierreRambaud could you please provide more precision, I can't remember what you updated on @marionf OS

[2019-05-22 07:37] khouloudbelguith commented on #13720
Hi @go-sudo, @ToyPerson,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-05-22 07:45] khouloudbelguith commented on #13892
@paolo75015, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-05-22 07:49] khouloudbelguith commented on #13856
@DanLaur, If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

Thanks!

[2019-05-22 07:49] #13856 closed, assigned to nobody

[2019-05-22 08:01] masztal18 commented on #13121
Hello,

I have the same problem, how did you solve the problem? Thank you very much.

[2019-05-22 08:05] PierreRambaud commented on #11514
Should we need to force the Node/NPM version? at least a minimum, which is not really defined from now

[2019-05-22 08:08] masztal18 opened #13909 "Bug in order confirmation - Error fatal in line 1109"
Hello,

Please help me. My old clients with Prestashop 1.6 (migration via module Migration Pro 1.6 > 1.7.5.1) have below error when click on "confirmation order". The same problem is in all peyment methods.

**Describe the bug**
[PrestaShopException]
Error critical
at line 1109 in file classes/Tools.php

1104.                 ->getTranslator()
1105.                 ->trans('Fatal error', [], 'Admi

[2019-05-22 08:13] khouloudbelguith commented on #13511
Hi @mickaelandrieu,

I did not manage to reproduce the issue with PS1.7.6.0beta1
https://drive.google.com/file/d/121Y20pk0pmRMkayFHJt3L4le1q6cSvIV/view
I close the issue.

Thanks!

[2019-05-22 08:13] #13511 closed, assigned to nobody

[2019-05-22 08:15] andreacasirry commented on #12687
I also had the same problem.

In my premium theme at themes/TEMAPREMIUM/templates/catalog /_partials /miniatures/product.tpl

I modified this piece of code:
`{block name='product_price_and_shipping'}
          {if $product.show_price}
            <div cl﻿ass="product-price-and-shipping pricehv">`
in this way:
`{block name='product_price_and_shipping'}
          {if $product.show_price}

[2019-05-22 08:18] khouloudbelguith commented on #13909
Hi @masztal18,

After the upgrade did you uninstalled the old module `cashondelivery` (module for PS1.6) & installed the new module for PS1.7 `ps_cashondelivery`?

Thanks!

[2019-05-22 08:19] khouloudbelguith commented on #13901
@sebaborda04, could you please run the command SQL in your Database & feedback.

`Select * from ps_stock_available where id_product = 34;`

Thanks!

[2019-05-22 08:21] masztal18 commented on #13909
Yes, I reinstalled the caschondelivery module. It still does not work. If I choose a different payment method, I get an below error with bankwire module:

![image](https://user-images.githubusercontent.com/19363321/58158700-38f65480-7c7b-11e9-8ce7-da5121d6b9f9.png)

Thank you for help.

[2019-05-22 08:21] khouloudbelguith commented on #13881
@IngDavidCm,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-05-22 08:21] #13881 closed, assigned to nobody

[2019-05-22 08:25] masztal18 commented on #13909
It is fresh instalation Prestashop 1.7.5.1 with dedicated all modules for 1.7.5.1. All costumer and products was migartion via module Migartion Plus.

I found the same problem in below topic with status "resolved" but author not response by 28 days.
https://github.com/PrestaShop/PrestaShop/issues/13121

[2019-05-22 08:28] khouloudbelguith commented on #13909
@masztal18, this issue is related to the database.
It could be something went wrong with your update and don't have some of the database columns that were added for 1.7.5.1
Thanks to check if there are missing columns in your database schema.
You can find the full schema for 1.7.5.1 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.1/install-dev/data/db_structure.sql

Thanks to check & fee

[2019-05-22 08:29] masztal18 commented on #13909
If i create new account client and i confirmation order, then all works correct. It seems to me that this is a bug in the database.

[2019-05-22 08:29] khouloudbelguith commented on #13909
@masztal18, this issue is related to the database.
It could be something went wrong with your update and don't have some of the database columns that were added for 1.7.5.1
Thanks to check if there are missing columns in your database schema.
You can find the full schema for 1.7.5.1 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.1/install-dev/data/db_structure.sql

Thanks to check & fee

[2019-05-22 08:34] jolelievre commented on #13815
Hello @escaware we have tested the PR with @PierreRambaud and it fixes the problem.
It will be merged soon.

[2019-05-22 08:49] khouloudbelguith commented on #13855
@M4tho, could you please try to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.
Try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-05-22 09:20] marionf commented on #13428
When you click on save, you have the error below in the console:

![capture d'écran_1577](https://user-images.githubusercontent.com/13449658/58163046-92628180-7c83-11e9-8fee-0108b7354e75.png)

![capture d'écran_1576](https://user-images.githubusercontent.com/13449658/58163059-97273580-7c83-11e9-9ee7-62de57705745.png)

[2019-05-22 09:26] Prestafan1234 opened #13911 "PrestaShop 1.6 sends PII to Google Analytics"
Please see this post in the forum that describes the issue: https://www.prestashop.com/forums/topic/986611-prestashop-sends-email-address-to-google-analytics-gdpr-and-pii/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Google Analytics' and open a property that has tracking installed
2. Click on 'Behaviour - Site Content - All pages', enter @ in the search box. See screen dump

**Add

[2019-05-22 09:32] colinegin commented on #12068
This issue has been fixed by adding horizontal scroll.

[2019-05-22 09:32] #12068 closed, assigned to nobody

[2019-05-22 09:42] khouloudbelguith opened #13912 "Webeservice: mail is no sent when udation tracking number via WS"
**Describe the bug**
Issue reported by @thbl
This email won't be sent if you update the tracking no. over webservice
**To Reproduce**
Steps to reproduce the behavior:
1. update order via webservice

Script used
[code]
**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: 1.7.7.7
PHP version: 7.1

[2019-05-22 09:43] khouloudbelguith commented on #13912
Related to #13802

[2019-05-22 09:44] khouloudbelguith commented on #12472
@thbl, issue created here: #13912

[2019-05-22 09:44] centoasa opened #13913 "fatal error"
Prestashop 1.7.5.2 on php 7.2.18
often I've this error:
Fatal error: require_once(): Failed opening required '/var/www/vhosts/100asa.it/httpdocs/var/cache/dev/appParameters.php' (include_path='/var/www/vhosts/100asa.it/httpdocs/vendor/pear/pear_exception:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/console_getopt:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/pear-core-minimal/src:/var/www/vhost

[2019-05-22 09:44] thbl commented on #12472
@khouloudbelguith  Thanks

[2019-05-22 09:46] khouloudbelguith commented on #13913
Hi @centoasa,

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

Thanks!

[2019-05-22 09:46] centoasa commented on #13913
already done many times, but issue happens again
Also tried to not use prestashop cache, but issue still remain.
Issue happens also when I try to update traffic/seo/setting url

[2019-05-22 09:55] centoasa commented on #13913
Maybe related to this apache issue?
`AH01071: Got error 'PHP message: PHP Fatal error: require_once(): Failed opening required '/var/www/vhosts/100asa.it/httpdocs/var/cache/dev/appParameters.php' (include_path='/var/www/vhosts/100asa.it/httpdocs/vendor/pear/pear_exception:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/console_getopt:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/pear-core-minimal/

[2019-05-22 09:57] khouloudbelguith commented on #13913
@centoasa, the fatal error related to file in the cache
Thanks!
This is afresh installation PS1.7.5.2?

[2019-05-22 09:57] sarahdib opened #13914 "Exception appear when I upload a template too large"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior: with debug mode active only
1. Go to Design -> theme & logo
2. Click on add a theme
3. Add a zip theme too large
4. See the exception

**Screenshots**
<img width="1276" alt="Capture d’écran 2019-05-22 à 11 32 53" src="https://user-images.githubusercontent.com/3034677/581657

[2019-05-22 09:58] centoasa commented on #13913
No, is not a fresh installation. Is a 1.7 first release updated from time to time

[2019-05-22 10:01] ntiepresta commented on #13845
Thank your @marionf

You are right for this issue, if the ps_MBO is installed we don't have this issue. In addition, the ps_mbo is not installed by default on  fresh install, and ps_bestsellers for example. The ps_mbo should installed by default.
Thanks,

[2019-05-22 10:01] khouloudbelguith commented on #13913
@centoasa, Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to check and feedback.

[2019-05-22 10:14] khouloudbelguith commented on #13911
Hi @Prestafan1234,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.
In my case, I don't have a result yet.
![image](https://user-images.githubusercontent.com/16067358/58166882-b07bb200-7c82-11e9-92f2-6b16f390156f.png)
Thanks!

[2019-05-22 10:15] centoasa commented on #13913
Now seems it working well

[2019-05-22 10:16] khouloudbelguith commented on #13913
@centoasa, it is a cache issue.
I close the ticket, feel free to open a new one when needed.
Thanks!

[2019-05-22 10:17] khouloudbelguith commented on #11944
Hi @Solander,

This issue is currently closed, can you open a new one with more information about your configuration.
Thanks!

[2019-05-22 10:23] centoasa commented on #13913
I'd really like to re-enable the cache, so if you could pass on this error to the developers it would be great.

[2019-05-22 10:24] khouloudbelguith commented on #13913
@centoasa, if you enable smarty cache, the issue remains again?
Thanks!

[2019-05-22 10:31] matks commented on #13911
I think what happens is if Google Analytics is enabled on this page, it collects the URL.
However we should check, GDPR module might hide this email from being collected.

Also comes the question: is it an issue that the email is available in the URL, or is it an issue that the shop/module enables Google Analytics on this page ?

[2019-05-22 10:33] matks commented on #13914
The error message is not an issue, isn't it ? If file is too large to be handled by prestashop, it tells it to the BO user.

The exception should be hidden however IMO.

[2019-05-22 10:38] centoasa commented on #13913
Just enable smarty cache, and I've:
Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.
But website not crashed and relogin seems all works well.
I'm continuing to works and let you know

[2019-05-22 10:40] khouloudbelguith commented on #13913
@centoasa, could you please try to enable the debug mode et provide me the exact exception displayed.
Thanks!

[2019-05-22 10:42] centoasa commented on #13913
again-->
`Fatal error: require_once(): Failed opening required '/var/www/vhosts/100asa.it/httpdocs/var/cache/dev/appParameters.php' (include_path='/var/www/vhosts/100asa.it/httpdocs/vendor/pear/pear_exception:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/console_getopt:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/pear-core-minimal/src:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/archive_tar:.

[2019-05-22 10:47] khouloudbelguith commented on #13913
@centoasa, if you set the option "Template compilation" to Force compilation / "Recompile templates if the files have been updated" and clear cache, the cache is enabled in this case => you have the same error?
Thanks!

[2019-05-22 10:47] Solander opened #13915 "Can't swich off cache 1.7.4.3"
**Describe the bug**
I'm trying to switch off caching to be able to run 1-click upgrade.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Advanced settings -> Performance'
2. Under section "Caching" toggle Yes to No and hit Save.
3. See the success message on top of the screen but the No has been switched to Yes again.

**Screenshots**
![1558521262_1234_22052019_614x522](https://user-i

[2019-05-22 10:52] centoasa commented on #13913
always-->
`Fatal error: require_once(): Failed opening required '/var/www/vhosts/100asa.it/httpdocs/var/cache/dev/appParameters.php' (include_path='/var/www/vhosts/100asa.it/httpdocs/vendor/pear/pear_exception:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/console_getopt:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/pear-core-minimal/src:/var/www/vhosts/100asa.it/httpdocs/vendor/pear/archive_tar:

[2019-05-22 10:53] Prestafan1234 commented on #13911
Hi,
Thanks for the quick response.

The issue is that the email is available in the URL, as it is against Google's policies and everyone risks having their accounts suspended or deleted. https://support.google.com/analytics/answer/6366371?hl=en

[2019-05-22 11:12] hanicab commented on #13880
@khouloudbelguith You are welcome,

I think that it will be better to add that as comment in the issue , it can be important for devloppers when resolving problem

[2019-05-22 11:12] sebaborda04 commented on #13901
now I see it
![IMG-1580](https://user-images.githubusercontent.com/50870195/58170293-60dcbc80-7c69-11e9-98a4-77beec6e85ca.JPG)

[2019-05-22 11:20] khouloudbelguith commented on #13880
@hanicab, yes, I just edited my last comment.
Thanks!

[2019-05-22 11:24] khouloudbelguith commented on #13901
@sebaborda04, the id_stock_available for this product which has id_product = 34 is incorrect.
id_stock_available = 0 where id_product = 34 => incorrect => you need to edit it.
Thanks!

[2019-05-22 11:37] khouloudbelguith commented on #13913
@centoasa, in my case, I did not manage to reproduce the issue with PS1.7.5.2.
After removal of cache `rm -fR var/cache/*` thanks to run those commands

[code]

THanks!

[2019-05-22 11:42] sebaborda04 commented on #13901
Thank you very much for the help.
What happens if that table is empty? I do not know why he kept that field at 0.

[2019-05-22 11:50] khouloudbelguith commented on #13901
@sebaborda04, in my case, it is OK.
I tried with steps that you provided but I did not manage to reproduce the issue.
Thanks!

[2019-05-22 11:53] eternoendless commented on #9766
Fixed by https://github.com/PrestaShop/ps_legalcompliance/pull/41

[2019-05-22 11:54] sebaborda04 commented on #13901
**If I empty that table, I only lose the stock or can I lose something else?**

[2019-05-22 12:00] flameair opened #13917 "Attributes + Attributes = mess 1.7.5.1"
**Describe the bug**
Attributes + Attributes = mess

**To Reproduce**
Steps to reproduce the behavior:
1. Add attributes 3x colors red,ble,green with images and 3x attributes M, L, XL
2. Generate combinations
3. Set up avalable Red M, Red L, Red XL, Blue M, Green XL
4. Set up in BO visibilyty out of stock to no and can order when product out of stock to no.

Conclusion when You are in size M You c

[2019-05-22 12:04] #9766 closed, assigned to nobody

[2019-05-22 12:05] khouloudbelguith commented on #13901
@sebaborda04, if you empty this table, you will lose the quantity of your products.
Make sure to have a backup of your database before deleting anything from the database.
Thanks!

[2019-05-22 12:06] marionf commented on #13845
Because modules have not been updated yet for 1.7.6

[2019-05-22 12:06] #13845 closed, assigned to nobody

[2019-05-22 12:07] sebaborda04 commented on #13901
Thank you, you are very kind.

[2019-05-22 12:09] khouloudbelguith commented on #13917
Hi @flameair,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9667
It will be fixed in the next major release 1.7.7.
So, I close it.
Thanks!

[2019-05-22 12:09] #13917 closed, assigned to nobody

[2019-05-22 12:10] khouloudbelguith commented on #13917
Duplicate of #9667

[2019-05-22 12:11] khouloudbelguith commented on #13901
@sebaborda04, you are welcome!
Can I close the issue?
Thanks!

[2019-05-22 12:12] khouloudbelguith commented on #13915
Hi @Solander,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-05-22 12:13] sebaborda04 commented on #13901
yes, Thanks

[2019-05-22 12:15] khouloudbelguith commented on #13901
@sebaborda04, Thanks!

Feel free to open a new one when needed.
THanks!

[2019-05-22 12:15] #13901 closed, assigned to nobody

[2019-05-22 12:18] MEGA911 opened #13918 "PRESTASHOP 1.7.5.2 COMBINATIONS IMAGES GENERATION BUG"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-05-22 12:19] khouloudbelguith commented on #13918
Hi @MEGA911,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2019-05-22 12:29] jolelievre commented on #13749
I'm not sure disabling the cache in *all* situations is a good thing, it helps optimize and fasten the requests. Maybe we can consider disabling it in dev mode however but I don't the translation component well enough to be sure about this change.
@eternoendless since you've been working quite a lot on translations lately, what do you think?

[2019-05-22 12:35] rdy4ever commented on #13915
Hi @Solander
I think you should check file permissions on the new server. They need to be 0755 for folders and 0644 for files. Prestashop needs to have write permissions for `app/config/parameters.php` in order to switch off the cache, so I would check permissions on that file. Alternatively, you can switch off cache manually by setting `'ps_cache_enable' => 0` in this file.
But if file permission

[2019-05-22 12:39] MEGA911 commented on #13918
Describe the bug
In the Back-Office => In a product => In combination product => when i want to assign an other image for a combination => It's impossible => The miniature of the image product does not appear => I go to the console and i see ERROR 404 => I go to my FTP and i look for the first error "XXX-small_default.jpg" => This generation of this image does not appear

To Reproduce
Steps to rep

[2019-05-22 12:40] MEGA911 commented on #13918
Do you want an accès to the Back-Office ?

[2019-05-22 12:41] netraagal commented on #13749
The specified request is only called is there is no file of the current lang in the var/cache/dev|prod/translations directory. I would say the file does not exist only if an admin cleared the cache or if a user is using the website with a lang never used before on it (meaning the request does not exist on cache).

[2019-05-22 12:42] khouloudbelguith commented on #13918
@MEGA911, thanks to navigate to your BO => Design => Images Settings => Click on the `Regenerate thumbnails` button.
Thanks to check & feedback

[2019-05-22 12:46] MEGA911 commented on #13918
Hello => I do that yesterday with no succes => But i try it now to retest

[2019-05-22 12:48] khouloudbelguith commented on #13915
Hi @Solander,

In my case, I did not manage to reproduce the issue with PS1.7.6.0beta1
I attached a video record
https://drive.google.com/file/d/1t-Ru3CL9jPOHsmjzbgv9q3MbpQ_KL1ro/view
Thanks!

[2019-05-22 12:48] khouloudbelguith commented on #13918
@MEGA911, thanks!
waiting for your feedback.

[2019-05-22 12:49] MEGA911 commented on #13918
I test it =>i clear the cache but => Doesn't work => The same bug
<img width="1704" alt="Capture d’écran 2019-05-22 à 14 44 36" src="https://user-images.githubusercontent.com/15946111/58175597-c6986b00-7ca0-11e9-8743-5b1f0f664919.png">
<img width="1703" alt="Capture d’écran 2019-05-22 à 14 47 48" src="https://user-images.githubusercontent.com/15946111/58175611-cd26e280-7ca0-11e9-9d61-2013b399e

[2019-05-22 12:54] khouloudbelguith commented on #13918
@MEGA911, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-05-22 12:56] MEGA911 commented on #13918
Ok i active the debug mode

[2019-05-22 12:57] MEGA911 commented on #13918
do you want an access to the Back-Office ?

[2019-05-22 12:59] khouloudbelguith commented on #13911
@Prestafan1234, in my case I did not manage to reproduce the issue with PS1.7.6.0 & the Google Analytics  v3.1.3
I don't have an email in the URL
![image](https://user-images.githubusercontent.com/16067358/58176227-c47ede00-7c99-11e9-9ef7-bf7e49af8d5f.png)
Thanks to check & feedback.

[2019-05-22 13:01] MEGA911 commented on #13918
How i give you the PHP error log ?

[2019-05-22 13:01] khouloudbelguith commented on #13918
@MEGA911, you can provide your credentials to access your shop by email.
This is a public space.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-05-22 13:06] MEGA911 commented on #13918
It s ok for you to connect ?

[2019-05-22 13:08] MEGA911 commented on #13918
I send you the email to connect at the BO

[2019-05-22 13:12] MEGA911 commented on #13918
For information I test an other install (the same configuration + Presta 1.7.5.2 + Theme) on an other server and domaine => I have the same bugs for combinations

[2019-05-22 13:12] khouloudbelguith commented on #13918
@MEGA911, Yes!

I will check & feedback.

[2019-05-22 13:12] MEGA911 commented on #13918
perfect :)

[2019-05-22 13:15] marionf commented on #9620
Can't reproduce it on 1.7.6.0 because you can't click directly on step 4 anymore, you have to click on continue

[2019-05-22 13:15] #9620 closed, assigned to nobody

[2019-05-22 13:19] #13655 closed, assigned to nobody

[2019-05-22 13:19] jolelievre commented on #13655
Thanks @tomas862

[2019-05-22 13:20] khouloudbelguith commented on #13812
Hi,

The issue is fixed in the develop branch
![image](https://user-images.githubusercontent.com/16067358/58177658-b2526f00-7c9c-11e9-928f-7b240fddd27e.png)

Thanks!

[2019-05-22 13:20] #13812 closed, assigned to nobody

[2019-05-22 13:22] marionf commented on #9596
I can't reproduce with 1.7.6.0

![capture d'écran_1580](https://user-images.githubusercontent.com/13449658/58177890-77086e00-7ca5-11e9-9e68-4bb5ebebf60a.png)

[2019-05-22 13:22] #9596 closed, assigned to nobody

[2019-05-22 13:24] marionf commented on #9598
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-05-22 13:27] matks commented on #13911
@Prestafan1234 How did you enable Google Analytics on this page ? Using the GA module https://github.com/PrestaShop/ganalytics ?

[2019-05-22 13:32] khouloudbelguith commented on #9598
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0beta1
There is no global variable for the brands' page URL.
passing a {$urls|var_dump} in the template file, I found this:

[code]

THanks!

[2019-05-22 13:33] jolelievre commented on #13737
Hi @maofree
we plan to discuss this topic to think about how it could be improved in 177 version
Do you have any suggestion on how/what we could do by any chance?

[2019-05-22 13:33] Prestafan1234 commented on #13911
@matks - Yes it is the GA module. I have just checked on some of my client's shops where they use the same module. The issue is the same.

@ khouloudbelguith - unfortunately I cannot just upgrade my shop and all client's shops to 1.7. There are too many errors upgrading still and live shops with turnovers do not wish to be out of business or struggle with errors:-(

[2019-05-22 13:42] khouloudbelguith commented on #13918
@MEGA911, it is OK now.
![image](https://user-images.githubusercontent.com/16067358/58179183-98665b80-7c9f-11e9-9a23-904166a79f19.png)

I enabled small_default for products, it shouldn't disabled
![image](https://user-images.githubusercontent.com/16067358/58179241-b207a300-7c9f-11e9-8cf2-895e63e4307b.png)

I close the issue, feel free to open a new one when needed.

Thanks!

[2019-05-22 13:42] #13918 closed, assigned to nobody

[2019-05-22 13:46] iqit-commerce opened #13920 "WidgetInterface removed from ps_facatedsearch 3.0"
**Describe the bug**
In latest version there is widgeting option removed from facatedsearch which is quiet big issue for theme developers and people who want to customize display of this module

**To Reproduce**
Steps to reproduce the behavior:
Try to call ps_facatedsearch using widget
https://devdocs.prestashop.com/1.7/modules/concepts/widgets/
{widget name='<module_name>'}

**Screenshots**
If ap

[2019-05-22 13:48] MEGA911 commented on #13918
Perfect !! You are the BEST !! I try to my other website and its works ! Thanks for all !! Have a nice day

[2019-05-22 13:49] marionf commented on #9621
I can't reproduce on 1.7.6.0

[2019-05-22 13:49] #9621 closed, assigned to nobody

[2019-05-22 13:49] khouloudbelguith commented on #13918
@MEGA911, thanks!

You are welcome!

[2019-05-22 13:51] matks commented on #9561
The message "Warning: set_time_limit() has been..." appears when a specific configuration is set in php.ini . The idea between this config item is to avoid unexperienced users to set a big time limit as it might creates massive bugs. It is often turned on on shared hostings.

This is something that can be configured on the web server, it's not related to prestashop.

The only thing we can do is to

[2019-05-22 13:58] khouloudbelguith commented on #13920
Hi @iqit-commerce,

I tried to add {widget name="ps_facetedsearch"} in a template
But in the FO, I have this exception
![image](https://user-images.githubusercontent.com/16067358/58180383-e67c5e80-7ca1-11e9-9fda-6d246b0b66bc.png)
Same issue with ps_facetedsearch v3.0.0 & v2.2.0

Thanks to check & feedback

[2019-05-22 14:07] nhh opened #13922 "No documentation for php unrelated api"
Hi prestashop team,

i am currently creating products via the prestashop webservice.

Can someone describe how i cant assign a quantity to a fresh created product?

Or even better, how can i create a product with a predefined amount of stock quantity?

Please do not provide php code. I need a proper REST/HTTP Documentation.

This is the xml i am sending to prestashop atm:

[code]

Thanks in advanc

[2019-05-22 14:12] ComonSoft commented on #9983
Sure this is not a minor issue, especially when your business is only online and based under Prestashop ;-)
We will make a pull request asap, but if you want a fix right now you can modify the file /controllers/admin/AdminStatsController.php method getTotalSales() replace all
  total_products
by
  (total_paid_tax_excl - total_shipping_tax_excl)

And now you will have a real sales tax excluded and

[2019-05-22 14:15] eternoendless commented on #13476
@LouiseBonnard it would depend on whether the wording already exists in the core translations or not, wouldn't it? Also the domain would change according to whether it's meant for the front office or the back office.

[2019-05-22 14:18] khouloudbelguith commented on #13922
Hi @nhh,

We are unfortunately aware of that, however, we have a huge pile of tasks to do to improve the project and make it evolve in the right way (as I'm writing now, there is 999 issues, so as you can see we are quite busy ).

However, this is an opensource project so please consider contributing to the project wink you have a good knowledge of what this documentation should contain and look l

[2019-05-22 14:24] matks commented on #13815
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13885

[2019-05-22 14:24] #13815 closed, assigned to nobody

[2019-05-22 14:28] mrabsinthe commented on #13920
@khouloudbelguith are you able to "Rebuild entire price index"? Because I get "Price indexing failed". Using ps_facetedsearch v3.0.0 and PS 1.7.5.1. Same with ps_facetedsearch v3.0.1 and v2.2.1

[2019-05-22 14:29] LouiseBonnard commented on #13476
Of course! How can I help?

[2019-05-22 14:42] khouloudbelguith commented on #13920
@iqit-commerce, with PS1.7.6.0beta1, it is OK
https://drive.google.com/file/d/1dA4oKnxLKBYx2Sd6WXZoJwqZHZH9i2Zp/view
with PS1.7.5.2 & ps_facetedsearchv3.0.1 => OK
https://drive.google.com/file/d/1QZys24VI9dZNbNtbfkvmfQy4OBciScHe/view
Thanks!

[2019-05-22 14:50] nhh commented on #13922
Hi @khouloudbelguith,

unfortunately your tip did not help :(

[code]

Thank you for your fast response!

Greetings
Niklas

[2019-05-22 15:03] colinegin commented on #9561
Yes I think it's a good idea, maybe warn them in the installer checklist. Wdyt @MatShir ?

[2019-05-22 15:12] khouloudbelguith commented on #13922
@nhh, thanks for your feedback.
In fact, to set the amount of the product must be done separately

Thanks to check this function to edit stock via WS

[code]
Thanks to check & feedback

[2019-05-22 15:17] crishnakh commented on #13922
Hi @nhh maybe you should work with the **stock_availables** node

- **First:** Insert the new product without stock and get the **ID** generated
- **Second:** Get the **id_stock_available** associated to the product ID
- **Third:** Update the **quantity** value of this node with the id_stock_available.

[2019-05-22 15:26] DaniGentleman commented on #9941
I have the same problem, is there still no solution?

[2019-05-22 15:28] sarahdib commented on #13914
@matks the exception is the issue :)

[2019-05-22 15:32] DaniGentleman commented on #13519
I have the same problem, is there still no solution?

[2019-05-22 15:39] centoasa commented on #13913
for me --> Could not open input file: ./bin/console

[2019-05-22 15:44] nhh commented on #13922
Hi @crishnakh, hi @khouloudbelguith

thank you you can close this issue.

[2019-05-22 15:44] #13922 closed, assigned to nobody

[2019-05-22 15:55] matks commented on #13501
@eternoendless can we add this to 1.7.6 backlog ?

[2019-05-22 15:58] centoasa commented on #13913
[OK] Cache for the "dev" environment (debug=true) was successfully cleared.
 [OK] Cache for the "prod" environment (debug=false) was successfully cleared.
re-activate smarty cache, we hope all continue to works! I keep you updated

[2019-05-22 16:08] lijndiensten commented on #11722
+1 on the urgency this issue. We are experiencing it on a live site and daily manual corrections, and emails to customers, are necessary because of it.

![unnamed](https://user-images.githubusercontent.com/6105400/58190329-91017b00-7cbc-11e9-938e-3e839a3c3582.png)

[2019-05-22 16:11] marionf commented on #13769
@khouloudbelguith In your [example](https://github.com/PrestaShop/PrestaShop/issues/13769#issuecomment-493004964)

What did you choose here ?
![capture d'écran_1584](https://user-images.githubusercontent.com/13449658/58190513-f6ee0280-7cbc-11e9-8816-940b868bb895.png)

[2019-05-22 16:14] marionf commented on #9672
Related to #9932

[2019-05-22 16:19] web-plus opened #13924 "Some attribute values are not visible in product edit page"
This active attribute:
https://www.dropbox.com/s/0trbvs40veag4er/1.png?dl=0
is not visible while editing the product:
https://www.dropbox.com/s/6hdk70a239ya2b5/Screenshot%202019-05-22%2018.15.14.png?dl=0
The reason is, that the shop has deleted lang ID1 since 1.6 version (and ID2 is now default language) and this part is hardcoded to 1:
https://www.dropbox.com/s/yr94vqp3xfv952c/2.png?dl=0

The iss

[2019-05-22 17:08] web-plus commented on #13924
... I see it's modified to dynamic values in dev version so you can probably close this :-)

[2019-05-22 17:25] iqit-commerce commented on #13920
@khouloudbelguith
"I tried to add {widget name="ps_facetedsearch"} in a template
But in the FO, I have this exception"

Exatly, I'm talking about this exception, ps facatedsearch doease not include WidgedInterface anymore and it is not possible to use it as widget

Rebuild price is not related to the issue I report

[2019-05-22 18:09] centoasa commented on #13913
just try to rebuild products/home-default images, server crashed, clear again cache directly by server, and prestashop goes up!

[2019-05-22 18:36] Maofree commented on #13737
hi
I summarize the 4 points that I believe are a problem. At this moment Google reports errors with the current solutions used in prestashop 1.7.5.x

1)
Google alerts shopkeepers, because some microdata are missing in the product pages and in the pages with products lists like category pages, try to have a look with the google's tool
https://search.google.com/structured-data/testing-tool

2)
the p

[2019-05-22 21:25] Gunit8989 commented on #13883
Dear matks,

Thank you for your reply. We are using a paid theme called AVO. The prestashop version in use is 1.7.3.3

Since I am not a developer, I got in touch with several developers as well as the developers of the theme themselves, but they have are not able to reproduce the issue.

[2019-05-22 22:07] cometemarketing commented on #10894
hi, i also can not install some mobules and the error is the same.

Symfony\Component\Debug\Exception\UndefinedMethodException: "Attempted to call an undefined method named "autoExecute" of class "DbPDO"

[2019-05-22 22:46] AlexCrete commented on #13874
Hello, thank you for your reply, I tried to make any use of it but failed - it's not my level. So, I went back to my PS 1.7.4.4 version, - it is without any changes in classes or core. but the problem is still there - if a "Main" product has a Related Product the error ocuring - and more!
If I order product but don't go after that for checking or to basket - I got an image of a Related Product on

[2019-05-22 22:54] AlexCrete commented on #13874
As a matter of fact the shop doesn't even pay attantion if there is or there is no such a file as "nginx.conf.dist" - it works in the same way without "nginx.conf.dist" at all.

[2019-05-22 23:28] ToyPerson commented on #13908
Hi @khouloudbelguith

Thanks for the reply.

I am just an ordinary user. In fact, as mentioned in my original question, I was given limited access. I see the error from the point of view of the user.

Our devs will try whitelisting my IP address. If it works, I'll provide feedback.

Cheers!

[2019-05-22 23:30] ToyPerson commented on #13720
Hi @khouloudbelguith

The thing is, I don't have access to the PHP. I experience the error from the point of view of a user.

[2019-05-23 00:40] ptvsat commented on #13699
Hi
new release 3.0.1 fixing the issue or not yet ?
if possible send me plugin ready to install.

regard's

[2019-05-23 04:36] IvoRabush opened #13927 "Multistore Shop - Context Errors"
**Describe the bug**
When Multistore feature is active, Prestashop is loosing the Context when passing from custom PHP scripts / files in the modules.

**To Reproduce**
Steps to reproduce the behavior:
One of the many examples is the ps_facetedsearch core module
1. Go to Modules / Module Manager / ps_facetedsearch
2. Click on 'Build Attribute Index'
3. This button is calling the php file **ps_face

[2019-05-23 04:39] IvoRabush opened #13928 "Multistore Shop - Context Language"
**Describe the bug**
**Context::getContext()->language** return always the language object from the settings of the **logged in employee** in the admin panel instead of the selected Shop Context

**To Reproduce**
1. Set up a multistore Shop
2. Configure exactly 1 language for each store
3. Doesn't matter on which Context is the user (shop context, context group or context all) The object **Context

[2019-05-23 07:05] ZeroLe commented on #13920
Hi,

I have an error when I install the "ps_facetedsearch" module version 3.0.1.
<img width="535" alt="ps_facetedsearch_error" src="https://user-images.githubusercontent.com/18438590/58232459-bac1ad00-7d63-11e9-9664-801aa2bab1f9.png">

Pleae help me. Thanks!

[2019-05-23 07:09] zuk3975 opened #13930 "SQL Manager allows saving wrong query"
**Describe the bug**
In Advanced parameters > Database > Sql Manager > Add new SQL query when i add query that is not working, it lets me save it. For example I am able to write random string in query like 'my random query', which doesn't do anything. Later if i want to export it, i get an unexpected error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced parameters > Database

[2019-05-23 07:15] zuk3975 commented on #13930
In addition, when trying to save wrong query, the exception message should be user-friendly, explaining what is wrong, for example 'Invalid query syntax'. As this is really expected for user to make mistakes.

[2019-05-23 07:23] khouloudbelguith commented on #13924
Hi @web-plus,

Thanks for your report.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-05-23 07:23] #13924 closed, assigned to nobody

[2019-05-23 07:31] khouloudbelguith commented on #13928
Hi @IvoRabush,

Thanks for your report.
Have you the same issue reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9682#issuecomment-415073999?

Thanks to check & feedback

[2019-05-23 07:35] marionf commented on #9714
I can reproduce it with 1.7.6.0

![capture d'écran_1585](https://user-images.githubusercontent.com/13449658/58234098-0eb99b00-7d3e-11e9-9d01-cd3cfd4a2e62.png)

[2019-05-23 07:40] khouloudbelguith commented on #13930
Hi @zuk3975,

I have the same issue with PS1.7.6.0beta1.
PS: in the PS1.7.5.2, when we click on "Export" or "View" we don't have any exception.
I’ll add this to the debug roadmap.
Thanks!

[2019-05-23 07:40] marionf commented on #9715
I can't reproduce on 1.7.6.0

[2019-05-23 07:40] #9715 closed, assigned to nobody

[2019-05-23 07:42] IvoRabush commented on #13928
Hello @khouloudbelguith

NO, It's not the same issue. in ticket #13928 it's about the FrontOffice and there the language is changing.

My problem is in the BackOffice (Admin Panel) and there the language NEVER changes, it's always the language in the user settings doesn't matter the Shop Context

[2019-05-23 07:49] khouloudbelguith commented on #13011
Hi @bm-services,

Sorry but since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-23 07:49] #13011 closed, assigned to nobody

[2019-05-23 07:51] khouloudbelguith commented on #13437
Hi @wikao2,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-23 07:51] #13437 closed

[2019-05-23 07:51] khouloudbelguith commented on #13507
Hi @kshirodpatel,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-23 07:51] #13507 closed, assigned to nobody

[2019-05-23 07:52] khouloudbelguith commented on #13523
Hi @DCL34,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-23 07:52] #13523 closed, assigned to nobody

[2019-05-23 07:54] grabelle commented on #13920
Hi all,
For information with v 3.0.1 if you don't check "Afficher les produits des sous catégories" (display sub categories products) ... the faceted search left block is not visible

[2019-05-23 08:02] vincent-dp opened #13931 "can't display some $product variables content from cart-detailed*.tpl context"
Hello, it's me again (about the "$(product.unity) not showing up in cart" problem).
I was searching in the classe lazyarray and trying to use the accessor it was suggested to me.

And then I sudendly realised that $(product.unity) was showing well on a 7.4 localhost version with the VERY SAME theme (the one I made from scratch using the deprecated StarterTheme project) .

Then I use 1 click upgrad

[2019-05-23 08:10] zuk3975 commented on #13930
One important thing to one who will fix this issue. There is also one typo mistake to fix in SqlManagerController IndexAction. Check the screenshot bellow. ( need to change `RequestSql:create` to `SqlManager:create`.
![Screenshot from 2019-05-23 11-07-45](https://user-images.githubusercontent.com/31609858/58236311-5266d180-7d4b-11e9-9062-ffacefcd735f.png)

[2019-05-23 08:15] matks commented on #13541
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13813

[2019-05-23 08:15] #13541 closed, assigned to sarjon

[2019-05-23 08:16] matks commented on #13556
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13887

[2019-05-23 08:16] #13556 closed, assigned to sarjon

[2019-05-23 08:31] khouloudbelguith commented on #13920
Hi @iqit-commerce,

I have this exception when I used ps_facetedsearch v3.0.0 & v2.2.0 =>so it is not a regression for the latest version of the module.
ping @PierreRambaud what do you think? the ps_factedsearch doesn't include WidgetInterface?

@ZeroLe, if you cloned the module from GitHub, you need to run `composer install`
I installed this module & it is OK.
[ps_facetedsearch.zip](https://githu

[2019-05-23 08:35] khouloudbelguith commented on #13908
@ToyPerson, thanks!

Waiting for your feedback.

[2019-05-23 08:35] khouloudbelguith commented on #13720
@go-sudo, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-05-23 08:40] ZeroLe commented on #13920
@khouloudbelguith
I can not run "composer install"
Where can I download module package?
Thanks!

[2019-05-23 08:42] khouloudbelguith commented on #13699
Hi @ptvsat,

Despite our several trials, we could not reproduce your issue with the provided information.
https://drive.google.com/file/d/1NFa1-cFMaQN2cqPfO6FBoAmmJZvY_g4s/view
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thanks!

[2019-05-23 08:42] #13699 closed, assigned to nobody

[2019-05-23 08:43] SharmPRO opened #13933 "Product SEO Meta Description Javascript error when adding . (dot)"
**Describe the bug**
Javascript error when adding . (dot) to Product SEO Description preventing other function to work properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Product -> SEO
2. Add to SEO Description a . (dot) and console will show javascript error.
main.bundle.js:275 Uncaught Error: Syntax error, unrecognized expression: Le Gift Card o Carte Regalo rappresentano un m

[2019-05-23 08:44] khouloudbelguith commented on #13883
Hi @Gunit8989,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2019-05-23 08:46] khouloudbelguith commented on #13920
@ZeroLe, thanks to check with this module
[ps_facetedsearch.zip](https://github.com/PrestaShop/PrestaShop/files/3211125/ps_facetedsearch.zip)
Thanks!

[2019-05-23 08:49] ZeroLe commented on #13920
@khouloudbelguith
It works.
Thank you very much!

[2019-05-23 08:50] marionf commented on #9735
I manage to reproduce the issue with PrestaShop 1.7.6.0, the default combination is selected instead of the good one

![capture d'écran_1590](https://user-images.githubusercontent.com/13449658/58239117-c653aa80-7d48-11e9-8338-8f05d2e4d1a0.png)

![capture d'écran_1591](https://user-images.githubusercontent.com/13449658/58239151-d8354d80-7d48-11e9-8cc3-4e15cba8bad3.png)

[2019-05-23 08:54] khouloudbelguith commented on #13920
@ZeroLe, thanks!
You are welcome!

[2019-05-23 09:15] khouloudbelguith commented on #13933
Hi @SharmPRO,

The issue is fixed with this PR: #11923, it is fixed in PS1.7.5.1
Your ticket is a duplicate of #11911
So, I close it.
Thanks!

[2019-05-23 09:15] #13933 closed, assigned to nobody

[2019-05-23 09:15] khouloudbelguith commented on #13933
Duplicate of #11911

[2019-05-23 09:18] khouloudbelguith commented on #13931
Hi @vincent-dp,

If you made the changes in the core, then you made an upgrade => those changes will disappear.
What are the exact changes that you made?
Thanks!

[2019-05-23 09:21] PierreRambaud commented on #13920
@khouloudbelguith yes this module doesn't include the `WidgetInterface` anymore, it has many limitations and issues and wasn't used in the module (always depending on hooks)

[2019-05-23 09:24] sarahdib opened #13934 "Currency not display properly with language whos are using RTL"
**Describe the bug**
Currency are not displayed properly with languages who are using RTL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Localisation and add arabic language
2. Add a currency with at least two characters (like USD)
3. Go to front and see the error

**Screenshots**
![Capture d’écran 2019-05-23 à 10 50 41](https://user-images.githubusercontent.com/3034677/58241405-36f

[2019-05-23 09:26] marionf commented on #9749
Can't reproduce with 1.7.6.0

[2019-05-23 09:26] #9749 closed, assigned to nobody

[2019-05-23 09:26] marionf opened #13935 "Controller AdminModulesPositions not found"
**Describe the bug**
Controller AdminModulesPositions not found

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Design > Positions
2. Click on Transplant a module
3. See error

**It was working on the 1.7.6.0 beta**

**Screenshots**
![capture d'écran_1592](https://user-images.githubusercontent.com/13449658/58240875-2861df00-7d4c-11e9-9c6f-31631857b686.png)

**Additionnal information**

[2019-05-23 09:28] khouloudbelguith commented on #13911
@Prestafan1234, I tried also with PS1.6.1.24 & `ganalytics` module v2.3.4 & it is ok
![image](https://user-images.githubusercontent.com/16067358/58241759-80e1ae00-7d45-11e9-9487-de766b1c897c.png)
Thanks!

[2019-05-23 09:29] juank2808 opened #13936 "Acces denied when i'm in my admin panel"
**Is your feature request related to a problem? Please describe.**
Hi, I have actualized to the last version, and all is OK  but when i  access to my admin panel, i can't see my dashboard and more elements as products, categories, modules...
because the access is denied, i dont understand why. i add the picture
![imagen](https://user-images.githubusercontent.com/14195668/58241646-ad99c380-7d4d-11e

[2019-05-23 09:30] khouloudbelguith commented on #13920
@PierreRambaud, thanks for your feedback.
I’ll add this issue to the debug roadmap.
Thanks!

[2019-05-23 09:30] matks commented on #13935
We did a mistake in https://github.com/PrestaShop/PrestaShop/pull/13850 which caused this. PR to fix it will come soon

[2019-05-23 09:35] matks commented on #11838
@centoasa @kpodemski It's decided: next PS version 1.7.7 will be compatible with php7.3 and will drop the php5.6 compatibility as a consequence
See http://build.prestashop.com/news/announcing-end-of-support-for-obsolete-php-versions/

[2019-05-23 09:36] khouloudbelguith commented on #13936
Hi @juank2808,

To fix this issue you need to replace 'ps_access' table in DB with the one from clean PS1.7 installation.

Thanks to check & feedback.

[2019-05-23 09:40] matks commented on #12522
I think we can reopen this now as we have announced next version will support php7.3 👍
http://build.prestashop.com/news/announcing-end-of-support-for-obsolete-php-versions/

[2019-05-23 09:43] vincent-dp commented on #13931
I didn't change anything before the theme forlder

[2019-05-23 09:46] Maofree commented on #9557
Hi
at this moment I've no tested the 1.7.6

[2019-05-23 09:48] khouloudbelguith commented on #13931
@vincent-dp, so what are the exact changes that you made?
Thanks!

[2019-05-23 09:49] khouloudbelguith commented on #9557
Hi @maofree,

Thanks to check with PS1.7.6.0 & feedback.

[2019-05-23 09:50] juank2808 commented on #13936
i don't undestand you, do i have to delete table 'ps_access?, or do i have to make clean installation?

[2019-05-23 09:51] khouloudbelguith commented on #13769
Hi @marionf,

I used `Decrement both`.
Thanks!

[2019-05-23 09:52] khouloudbelguith commented on #10894
@cometemarketing, did you use the qvmcarriercorreiosfree module?
THanks!

[2019-05-23 09:55] jankratochvil opened #13937 "Corrupted utf8 characters in mails"
I got a mail from https://e-filson.cz which is a Czech website and in Czech we use diacritic characters outside of 7bit us-ascii.
And these diacritic characters are corrupted.
received: `VaE!e objednC!vka byla odeslC!na`
expected: `Vaše objednávka byla odeslána`

Steps to reproduce the behavior:
I ordered a product and I got such mail.
The mail is assembled incorrectly:

[code]

In MIME you cannot

[2019-05-23 09:59] khouloudbelguith commented on #13936
@juank2808,

You can, for example, install PrestaShop separately, copy & paste the table ps_access to your shop.
Or you can follow this solution in this comment to solve your issue https://github.com/PrestaShop/PrestaShop/issues/9513#issuecomment-415011961
Before any modification, you can make a backup of your old database.
Thanks to check & feedback

[2019-05-23 10:02] marionf commented on #9777
@khouloudbelguith Could you try to reproduce this issue with 1.7.6.0 ?

[2019-05-23 10:04] Shakarhaba commented on #13719
@khouloudbelguith mcrypt_get_iv_size was alerting a deprecation in 7.1 but still functioning
In 7.2 it's totally removed, you should get a deprecation notice with 7.1 and the critical error with 7.2

![image](https://user-images.githubusercontent.com/1680143/58244285-97423680-7d52-11e9-8ab4-5693964b23b1.png)

`

UndefinedFunctionException
--
Symfony\Component\Debug\Exception\UndefinedFunctionExcep

[2019-05-23 10:04] marionf commented on #9780
@khouloudbelguith Could you try to reproduce this issue with 1.7.6.0 ?

[2019-05-23 10:07] khouloudbelguith commented on #13719
@Shakarhaba, what are the exact steps that you followed to get this exception?
Thanks!

[2019-05-23 10:08] marcoaguglia commented on #13920
I encountered this bug. I tried to install version 2.1.1 for the moment but I also have problems with "composer install". Can anyone provide me the zip?

[2019-05-23 10:09] iqit-commerce commented on #13920
@PierreRambaud Earlier version of facated search had included WidgetInterface, and widgeting system was used for this module by theme developers without any problems. It should be bring back, I have plenty customers who now have this error becouse of that and i belive other theme developers also used wdiget system with this module. IT was also very usefull in custom layouts

[2019-05-23 10:12] vincent-dp commented on #13931
to the core? none.
Go like this:
- Install 1.7.5.2 (the one we find on prestashop.com)
- Go to back office and set the debug mode -> ON
- set the template compilation -> force compilation
- turn off the cache
- Go to the product, select any of them, in the price tab, type in the field next to unitary_price "2.21" for example
- go to %root%\themes\classic\templates\checkout\_partial\cart-detailed-p

[2019-05-23 10:13] Maofree opened #13938 "the upgrade to ps_facetedsearch 3.0.1 from 2.2.1 doesn't work"
Hi
I've tried to upgrade the ps_facetedsearch module from the version 2.2.1 to 3.0.1 but in all cases on some sites I get errors, after many tests in some case I've solved it but in others no
in all cases there are errors in the installation phase that make errors in the db
can you fix it please?

thanks

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/58244969-fe141f80-7d53-

[2019-05-23 10:15] juank2808 commented on #13936
ok I will try, but i wont close the issue until I solve this

[2019-05-23 10:17] khouloudbelguith commented on #9780
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0beta1 & the module tracking front v3.0.0
![image](https://user-images.githubusercontent.com/16067358/58245220-37489180-7d4c-11e9-9106-23b6fe33503e.png)

Thanks!

[2019-05-23 10:19] PierreRambaud commented on #13920
@iqit-commerce are you able to test this PR: https://github.com/PrestaShop/ps_facetedsearch/pull/66 and tell me if everything's ok?

[2019-05-23 10:20] khouloudbelguith commented on #13936
@juank2808, thanks!

Waiting for your feedback.

[2019-05-23 10:25] khouloudbelguith commented on #13937
Hi @jankratochvil,

I did not manage to reproduce the issue with PS1.7.6.0beta1.
I attached a video record
https://drive.google.com/file/d/13IsbEUXOw7npPTuKy7kEUQkfjqU-Ybg9/view
Thanks to check & feedback

[2019-05-23 10:30] xiropot commented on #11634
Mathias this is so cool by your side dude. Works like a charm for the existing files. BUT. The f***ing PrestaShop gurus due to their umask mentality make any new module directory 0777.

They probably have hidden somewhere the umask(0022) to degrade fodlers to 0755 and files to 0644.

I have seen that they remove it in 1.7.6 version.

[2019-05-23 10:30] khouloudbelguith commented on #13922
@nhh, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-05-23 10:36] MathiasReker commented on #11634
@tapandagr You are welcome. I actually made a more advanced (free) module that has this feature built in. Please check use this module instead: https://www.prestashop.com/forums/topic/984993-free-module-advanced-security-module/ :-)

[2019-05-23 10:45] khouloudbelguith commented on #13938
Hi @maofree,

This exception is displayed when installing the ps_facetedsearch module v3.0.1?
If yes, after cloning this module from GitHub, you need to run  `composer install` before installing it.
Thanks to check & feedback

[2019-05-23 10:45] Maofree commented on #13938
ok

[2019-05-23 10:46] Maofree commented on #13938
however from the backoffice I get many errors
on a site I try to reinstall the 2.2.1
the other is not possible

[2019-05-23 10:46] khouloudbelguith commented on #13938
@maofree, thanks!
Waiting for your feedback.

[2019-05-23 10:46] AdriCruz commented on #13920
I get an error when installing it, I have to delete the previous version, is there any way to not delete the templates already made? do you know where the file is stored and then incorporate it? I would not like to start again ...

[2019-05-23 10:46] Maofree commented on #13938
can I send you the access to the back-office?

[2019-05-23 10:47] khouloudbelguith commented on #13938
@maofree, yes!

[2019-05-23 10:49] jankratochvil commented on #13937
This is the mail I received after making an order:
[mail.zip](https://github.com/PrestaShop/PrestaShop/files/3211724/mail.zip)

[2019-05-23 10:56] iqit-commerce commented on #13920
@PierreRambaud Yes it works great! Well done!

[2019-05-23 10:56] juank2808 commented on #13936
SOLVED! i hace copy al data from 'ps_acces' and is OK thanks now i close the issue

[2019-05-23 10:56] #13936 closed, assigned to nobody

[2019-05-23 10:57] khouloudbelguith commented on #13936
@juank2808, thanks for your feedback.
Feel free to open a new one when needed.

[2019-05-23 10:57] Prestafan1234 commented on #13911
@khouloudbelguith did you also do guest tracking after completing the order? It looks like you have tested with standard 5-step checkout and not guest checkout?

[2019-05-23 10:58] khouloudbelguith commented on #13936
Duplicate of https://github.com/PrestaShop/autoupgrade/issues/100

[2019-05-23 11:00] khouloudbelguith commented on #13938
@maofree, ps_factedsearch is installed in your shop
![image](https://user-images.githubusercontent.com/16067358/58247798-66620180-7d52-11e9-90ef-c9f07a3ce244.png)

Thanks to check & feedback

[2019-05-23 11:04] Maofree commented on #13938
look at the error in the category page

[2019-05-23 11:05] Maofree commented on #13938
![1](https://user-images.githubusercontent.com/653230/58248073-73cfb980-7d5b-11e9-89dc-f43d87f6ae31.png)
![2](https://user-images.githubusercontent.com/653230/58248075-73cfb980-7d5b-11e9-8541-e920a499185b.png)

some tables are missing in the db

I try to add them in the db

![3](https://user-images.githubusercontent.com/653230/58248248-f0629800-7d5b-11e9-9eb2-5704e9faad52.png)

these are missing,

[2019-05-23 11:08] jankratochvil commented on #13937
That it works with some mail servers and mail clients (and other parts of mail infrastructure) does not mean it is correctly sent by PrestaShop. What matters is if the PrestaShop mails are compliant with RFCs (internet standards). And they are not. And it is incompatible with some of software on my side (Postfix, Sendmail, fetchmail, procmail and some others) and the software is correct as if the

[2019-05-23 11:13] Spacetronik opened #13939 "Prestashop 1.7.5.2 work very slow - TTFB problem"
We have a problem with front-office prestashop 1.7.5.2 - it's work very slow! We use multistore and have shops such as www.shop.spacetronik.eu, www.ergoline.spacetronik.eu, www.air.spacetronik.eu and more and more. When we checked our website in https://developers.google.com/speed/pagespeed/insights/ - we got poor results. Time to first bite (TTFB) is 5 sec. and we know, that is too slow.

What we

[2019-05-23 11:13] khouloudbelguith commented on #13938
@maofree, I will check & feedback.
Thanks!

[2019-05-23 11:15] juank2808 opened #13940 "i can't open my shop!"
**Is your feature request related to a problem? Please describe.**
Hi again i have updated to the last version, and i had a little problem with  a Database in the table 'ps_access', now, when  i wanna open the shop i can't, error 500, ok ,I enter into mode debug and
i try  again to open the shop and this appears:
![imagen](https://user-images.githubusercontent.com/14195668/58248563-b940b680-7d5c-1

[2019-05-23 11:21] khouloudbelguith commented on #13940
Hi @juank2808,

Thanks to try with this module https://github.com/Matt75/fixconfigurationlang and feedback.

Thanks!

[2019-05-23 11:23] Maofree commented on #13938
the site is in production so leaving it with this error is a problem, however I let you try

[2019-05-23 11:25] khouloudbelguith commented on #13938
@maofree, I just uninstalled the module in your shop.
The issue disappears.
But, only in your shop, that I have an error during the install of the module.
In my case, with PS1.7.5.2 & the same zip file => module installed successfully

Thanks!

[2019-05-23 11:26] juank2808 commented on #13940
Ok this SOLVED! thanks

[2019-05-23 11:26] #13940 closed, assigned to nobody

[2019-05-23 11:35] Maofree commented on #13938
the problem is present in other shop, at this moment I don't upgrade their module to avoid this type of error

[2019-05-23 11:37] Maofree commented on #13938
I get this error when I try to install it from the back-office

Eccezione lanciata dal modulo ps_facetedsearch su install. Notice: Undefined offset: 0

[2019-05-23 11:39] PierreRambaud commented on #13920
@iqit-commerce Thank again for your feedback, a new version is coming!

[2019-05-23 11:41] khouloudbelguith commented on #13911
@Prestafan1234, no, it is the same
I attached a video record
https://drive.google.com/file/d/1432cfxHU9PlNL5kzZfx6YobzL-NAvKT7/view
THanks!

[2019-05-23 11:42] khouloudbelguith commented on #13940
@juank2808, Thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-05-23 11:50] Maofree commented on #13938
problem fixed
before I install the module with that error, then I upload the missing table on db got from another db
then updated its data in the donfiguration page
however there is some errors in the installation phase

[2019-05-23 11:58] khouloudbelguith commented on #13939
Hi @Spacetronik,

- `Never recompile template files`: this option is to be chosen for maximum performance.
- `Cache enabled (YES)`: makes pages fastest.
- `Smart cache for CSS (YES)`: brings together in a single file, compresses and caches CSS files.
- `Smart cache for Javascript (TES)`: brings together in a single file, compresses and caches JS files.
- `Minify HTML (YES)`: removes all the white

[2019-05-23 12:00] khouloudbelguith commented on #13938
@maofree, you have another problem during the installation different from this

`Notice: Undefined offset: 0`

Thanks!

[2019-05-23 12:02] Maofree commented on #13938
hi
yes the first error was due from the missing composer install

[2019-05-23 12:03] Tomskor commented on #13939
@Spacetronik we had same problem, we decided to change our hosting and move to VPS server, on SSD and with strong CPU and with more RAM

Before that we had shop on simple hosting and we had same problem, and they had overload server and they must moved our shop to other machine and this fixed problem for 1-2 months, but after some time TTBF wil still worst.

[2019-05-23 12:05] khouloudbelguith commented on #13938
@maofree, so, can I close the issue?
Thanks!

[2019-05-23 12:08] khouloudbelguith commented on #13519
@DaniGentleman, yes, sorry, it is not solved yet!
Thanks for your understanding!

[2019-05-23 12:08] Maofree commented on #13938
some errors are present to upgrade from 2.2.1 to 3.0.1
all sites has  problems to upgrade, in some modes I can fix it like before
I need to upgrade other 4 sites so I can test it again and I'll check the code that gives errors
at this moment wait

can you test it on a big site from 2.2.1? default prestashop demo site is too little

[2019-05-23 12:21] khouloudbelguith commented on #13931
@vincent-dp, so your issue is to display product unity in the cart page as your previous ticket?
Thanks!

[2019-05-23 12:27] vincent-dp commented on #13931
Yes,
Except I now know it's a bug and not a normal behavior

[2019-05-23 12:29] ptvsat commented on #13699
can you send me please 3.0.1 releasa ?

[2019-05-23 12:34] Spacetronik commented on #13939
@khouloudbelguith unfortunatly without any change, but thanks!  @Tomskor We have dedicated server, it's very good server - we have old shops on prestashop 1.6 and work fast - for example http://spacetronik.eu . We have shops on other platforms - www.dmtrade.pl , www.warsztatowski.com - everything work very good. Only this one is very slow.

[2019-05-23 12:35] PierreRambaud commented on #13699
Zip file is available here https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v3.0.1
@khouloudbelguith I create a release packaging with composer dependencies.
I'll do the same each time we create a new release.

[2019-05-23 12:38] khouloudbelguith commented on #13939
@Spacetronik, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-05-23 12:41] matks commented on #11634
Hi, you're probably talking about https://github.com/PrestaShop/PrestaShop/pull/12124 and indeed we have chosen to stop following the previous folder rights strategy for better security.

If you read previous answers, you'll see that there was a reason behind the previous folder rights strategyt: https://github.com/PrestaShop/PrestaShop/issues/11634#issuecomment-444875841

We try to find a comprom

[2019-05-23 12:42] kpodemski commented on #13939
@Spacetronik

few qs

1. have you tried to use PrestaShop profiler? what does it show?
2. gamification enabled? cron module enabled? if so, disable them
3. do you have any additional cache? for example opcache?
4. try to implement this fix: https://github.com/PrestaShop/PrestaShop/pull/12940/files

[2019-05-23 12:48] xiropot commented on #11634
Ok excuse me for my rude language, but this is not like if you like the menu horizontally or vertically.

I have made a module for a customer of mine and uploaded it via the modules way (and not the ftp one) following all the best practices you suggest via the validator. The result was that the website stopped working due to some security infrastructure that detected the 0777 permission.

As a con

[2019-05-23 12:56] matks commented on #11634
Well, it's the hard thing about relying on dependencies ^^ we have the same stories here

For example last week we had to make [this PR](https://github.com/PrestaShop/PrestaShop/pull/13885) because of [this code in Doctrine](https://github.com/doctrine/orm/blob/master/lib/Doctrine/ORM/Tools/Setup.php#L128) that we use in the project.

Hope it's better with your boss now though 😉

[2019-05-23 13:01] khouloudbelguith commented on #13927
ping @PierreRambaud what do you think?

Thanks!

[2019-05-23 13:05] Spacetronik commented on #13939
@kpodemski
1. Yes, it's off,
2. Yes, it's off too,
3. No, we don't have any additional cache. You recomend add sth?
4. I implemented but nothing change.

[2019-05-23 13:06] xiropot commented on #11634
@matks I have no boss. I am the boss of a solo business. The hard thing is that to fix things I am alone. I am not a business with a team of developers that can co-operate to patch any vulnerability.

The time schedule is tight as hell if you take into consideration clients, reaching new clients and probably solving PrestaShop flaws.

At least you could make a dropdown or text input where the user

[2019-05-23 13:11] kpodemski commented on #13939
@Spacetronik

1. about that, in config/defines.inc.php you should enable dev mode and profiler, set `false` to `true` in two constants, this will show for you PrestaShop profiler while visiting front-office

[2019-05-23 13:22] Spacetronik commented on #13939
@khouloudbelguith - in debug mode I can see info like in attachments.
![logs-deprecations](https://user-images.githubusercontent.com/50950394/58256014-82739c00-7d6e-11e9-93ba-039603d22034.jpg)
![logs-info](https://user-images.githubusercontent.com/50950394/58256015-82739c00-7d6e-11e9-8155-76b1fb911174.jpg)
![translation missing](https://user-images.githubusercontent.com/50950394/58256017-82739c00-

[2019-05-23 13:25] matks commented on #13490
As the 5th item of this bug list has become a topic of debate, I'm going to open 4 other issues for the 4 other items. Discussion can continue about error messages here.

EDIT:
- https://github.com/PrestaShop/PrestaShop/issues/13942
- https://github.com/PrestaShop/PrestaShop/issues/13943
- https://github.com/PrestaShop/PrestaShop/issues/12585
- https://github.com/PrestaShop/PrestaShop/issues/13944

[2019-05-23 13:26] matks opened #13942 "Translation is not working in a module"
Module https://github.com/friends-of-prestashop/demo-cqrs-hooks-usage-module

We can't make the translations to work.

According to this https://github.com/PrestaShop/PrestaShop/blob/develop/tests/Resources/modules/translations/src/Controller/Admin/ExempleController.php#L36

I should be able to have working translations from my module controller but they just don't work here https://github.com/fri

[2019-05-23 13:26] matks commented on #13942
@eternoendless I believe you have worked on this topic ?

[2019-05-23 13:26] kpodemski commented on #13939
@Spacetronik debug mode will not show anything, use Profiler on front-office...

[2019-05-23 13:28] matks opened #13943 "How to add a JS extension for your modern module"
# Summary

1. Enable modules to modify already-bundled JS files

[code]

So we want to allow modules to customize this

2. Enable modules to inject JS and CSS files into a page (see https://github.com/PrestaShop/PrestaShop/pull/19277/)

# Context

https://github.com/friends-of-prestashop/demo-cqrs-hooks-usage-module

I have added `ToggleColumn` in Customers list using the module and it works like

[2019-05-23 13:29] khouloudbelguith commented on #13939
@Spacetronik, In order to activate profiling, change a file. The path is this, from your installation directory:

/config/defines.inc.php

In this file, look for this entry:

define(‘_PS_DEBUG_PROFILING_’, false);

Set this value to “true”, and save.

Thanks!

[2019-05-23 13:30] Spacetronik commented on #13939
Profiling is enable, what's now?

[2019-05-23 13:30] matks opened #13944 "Add form_data to after update hooks"
Module https://github.com/friends-of-prestashop/demo-cqrs-hooks-usage-module

When form is submitted and after the main `Customer`  form logic is passed the hook `hookactionAfterUpdatecustomerFormHandler` is called. In `FormHandler`  `actionBeforeUpdate...` hook has parameter `form_data` but `actionAfterUpdate` does not have anymore. This forces me to access Request in my hook https://github.com/f

[2019-05-23 13:31] kpodemski commented on #13939
Look at your front-office, you should have information about time needed to run queries etc.

Overall it's not a PrestaShop issue that your TTFB is so high, i've worked on many 1.7 installations and TTFB was never an issue, except two scenarios and problems with translations

[2019-05-23 13:33] kpodemski commented on #13490
this seems to be better solution

[2019-05-23 13:39] khouloudbelguith commented on #13931
@vincent-dp,

I did not manage to reproduce the issue with PS1.7.6.0beta1
I attached a video record
https://drive.google.com/file/d/1ARGL9jPb3m1_G7nzVnSxLyzSBHhfEgKk/view
I edited `themes\classic\templates\checkout_partial\cart-detailed-product-line.tpl` and I added `{$product.unity}`
I cleared cached => FO => Cart page => ok

Thanks!

[2019-05-23 13:40] vincent-dp commented on #13931
Ok, but what about 1.7.5.2?

[2019-05-23 13:49] matks opened #13945 "[SF Migration] Build a centralized Mail Sender ?"
We have statements like this all over the code:
[code]

https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Cart/CommandHandler/SendCartToCustomerHandler.php#L62

I suggest we create a dedicated Mail service responsible for sending all standard mails in PrestaShop. This Mail service will depend on a Mail client which is an interface (this enables to plug in any eligible Mail client b

[2019-05-23 13:49] marionf commented on #9840
Can't reproduce on 1.7.6.0

![capture d'écran_1593](https://user-images.githubusercontent.com/13449658/58258085-59eda100-7d72-11e9-88b1-7478254d2657.png)

[2019-05-23 13:49] #9840 closed, assigned to nobody

[2019-05-23 13:54] marionf commented on #9847
Can't reproduce with 1.7.6.0

![capture d'écran_1594](https://user-images.githubusercontent.com/13449658/58258407-fc0d8900-7d72-11e9-96ce-f493879580f3.png)

[2019-05-23 13:54] #9847 closed, assigned to nobody

[2019-05-23 13:54] khouloudbelguith commented on #13931
@vincent-dp, yes, it doesn't work with PS1.7.5.2
![image](https://user-images.githubusercontent.com/16067358/58258390-8f8e8c00-7d6a-11e9-962a-7a9d48ba2ec3.png)

But it is fixed with PS1.7.6.0.
Since it is fixed, I close the issue.
Thanks!

[2019-05-23 13:54] #13931 closed, assigned to nobody

[2019-05-23 13:58] vincent-dp commented on #13931
"Since it is fixed, I close the issue."
Yes? Can you tell me how?

[2019-05-23 14:04] AdriCruz commented on #13920
It takes a long time to install and alfinal gives error, does it happen to someone else?

[2019-05-23 14:05] sarjon commented on #13945
Idea is good. But I suggest having single interface and multiple implementations instead.

[code]

Though not sure about `MailerInterface::send()` arguments yet, as they depend on use case.

[2019-05-23 14:08] khouloudbelguith commented on #13938
@maofree, it is OK in my case.
I attached a video record
https://drive.google.com/file/d/1v7izIrh4ZPrpqvoBuxp8Y20E5LAWvASL/view
Thanks!

[2019-05-23 14:09] khouloudbelguith commented on #13920
@AdriCruz, I tried to make an upgrade of the ps_factedsearch & it is OK.
I attached a video record
https://drive.google.com/file/d/1v7izIrh4ZPrpqvoBuxp8Y20E5LAWvASL/view
Thanks!

[2019-05-23 14:15] grabelle commented on #13938
In fact it is very very slow ... I also got the error (error 500 ... need more memory)
With a limit to 1024Mb it is OK

[2019-05-23 14:15] khouloudbelguith commented on #13928
@IvoRabush, thanks for your feedback

could you please confirm these steps:
- Enable multistore context
- Create a new shop
- Select French language to the first shop
- Select English language to the second shop
- The language of the employee is English
- The language by default of the first shop is English
- The language by default of the first shop is French
- the result of `Context::getContext(

[2019-05-23 14:17] khouloudbelguith commented on #13938
@grabelle, error 500? in the configure page of the ps_facetedsearch module? or a different issue?
Thanks!

[2019-05-23 14:17] grabelle commented on #13938
to upgrade from v2 to v3 of the module

[2019-05-23 14:21] khouloudbelguith commented on #13931
@vincent-dp, we should ask our developers.
ping  @PrestaShop/prestashop-core-developers what do you think?

@vincent-dp, in the meantime, here's the changelog of the latest version PS1.7.6.0beta1:
https://assets.prestashop2.com/en/system/files/ps_releases/changelog_1.7.6.0-beta.1.txt

Thanks!

[2019-05-23 14:23] khouloudbelguith commented on #13938
@grabelle, could you please provide me the exception displayed in your case?
Thanks!

[2019-05-23 14:25] khouloudbelguith commented on #13913
Hi @centoasa, when smarty cache is disabled & you try to regenerate images => same issue occurs or not?

Thanks!

[2019-05-23 14:26] vincent-dp commented on #13931
Ok I'll read it

[2019-05-23 14:27] PierreRambaud commented on #13920
I've an idea about what's happening. This is due to the huge amount of products or something similar.
i'm on a fix :)

[2019-05-23 14:30] khouloudbelguith commented on #13920
@PierreRambaud, it could be a huge amount of categories?
THanks!

[2019-05-23 14:30] grabelle commented on #13938
Sorry I don't have the log anymore ... but like "PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted" ...
On the frontend it just tell that an undefined error occured

[2019-05-23 14:31] BigAndini commented on #11721
Thanks for the info with cgi.fix_pathinfo. What's the suggested way of using php-fpm from prestashop side with having security.limit_extensions = .php as it should be for productive environments?

Cheers
Andi

[2019-05-23 14:31] khouloudbelguith commented on #13938
@grabelle, do you have a large number of products or categories?
Thanks!

[2019-05-23 14:32] matteolavaggi commented on #11721
the problem is not in the security limit extension. Is in the script you
pass on php-fpm in configuration.

Il giorno gio 23 mag 2019 alle ore 16:31 Andi Nitsche <
notifications@github.com> ha scritto:

--
cordialmente,
*FATTURAZIONE ELETTRONICA B2B*
Il nostro codice destinatario (alcuni lo chiamano “codice SDI”) è il
seguente: *M5UXCR1*

Matteo Lavaggi
CEO

ufficio +390245071999

www.pineappleita

[2019-05-23 14:33] Shakarhaba commented on #13719
@khouloudbelguith

1) Have PHP 7.2.4 running
2) Have a module that uses this legacy encryption. In my case it's psmegamenu from http://www.prestabrain.com
2) Navigate to Modules > Modules & Services
3) Get the exception

If the module does not use the legacy encryption functions no critical error, but the file causing an error is  in the source of prestashop, not the module, so in Prestashop there

[2019-05-23 14:33] AdriCruz commented on #13920
Yes, I've tried it that way but it's still failing, I think it's because of the large number of products ...

[2019-05-23 14:33] grabelle commented on #13938
A

About 1100 categories and 3500 prod

[2019-05-23 14:34] matteolavaggi commented on #11721
location /admin_ {
                try_files $uri $uri/ @admin_;

                add_header Cache-Control "no-cache, max-age=1";

                location ~ \.php$ {
                fastcgi_pass   unix:/run/php/php7.0-fpm.sock;
                fastcgi_index  index.php;
                fastcgi_param  SCRIPT_FILENAME
 $document_root$fastcgi_script_name;
                include        fastcgi_params

[2019-05-23 14:35] khouloudbelguith commented on #13874
Hi @AlexCrete,

The nginx.conf.dist file is the configuration for your Nginx server,

How is it possible?

Thanks!

[2019-05-23 14:36] khouloudbelguith commented on #13938
@grabelle, our developer is working on it to fix it
https://github.com/PrestaShop/PrestaShop/issues/13920#issuecomment-495242382
Thanks!

[2019-05-23 14:36] grabelle commented on #13920
One installed, you also have a lot of notice generated
PHP Notice:  Undefined offset: 1 in
/modules/ps_facetedsearch/src/Filters/Block.php on line 744,

[2019-05-23 14:38] khouloudbelguith commented on #13719
@Shakarhaba,

Could you please provide me the `psmegamenu` module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

[2019-05-23 14:43] PierreRambaud commented on #13920
@grabelle Let me now if this fix is working for you https://github.com/PrestaShop/ps_facetedsearch/pull/69/commits/0593b8013fbfd2ce8644552a45bbca1181eb7d40 ?

[2019-05-23 14:46] marionf commented on #12440
We should be able to search by private name

[2019-05-23 14:54] matks commented on #13799
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13840

[2019-05-23 14:54] #13799 closed, assigned to matks

[2019-05-23 14:55] khouloudbelguith commented on #13937
@jankratochvil, thanks for your feedback.
I tried with Gmail & Zimbra => OK.
We'll first try to reproduce it with Sendmail and we'll come back to you if we need more information.

Thanks!

[2019-05-23 15:08] marionf commented on #9737
Solution:
- Remove the button to set default combination when you edit a combination
Because if you edit a combination and check the checkbox and click on "next/previous combination" and recheck the checkbox and click on Save, you don't know which combination is the default one.

[2019-05-23 15:09] jankratochvil commented on #13937
Reproducibility really does not matter.
[RFC 2045](https://www.rfc-editor.org/rfc/rfc2045.txt) section 6.1:
[code]
And section 6.2
[code]
which is obviously violated by PrestaShop, dot.

[2019-05-23 15:23] khouloudbelguith commented on #9777
Hi @marionf,

I did not manage to reproduce the issue with PS1.7.6.0beta1

I created a product 100 EUR
Edit the price in ps_customized_data with 12

Exchange rate of $ = 2

In FO, if currency EUR is selected => 112 EUR
![image](https://user-images.githubusercontent.com/16067358/58265120-016cd280-7d77-11e9-869b-5387cc9ea731.png)

if currency $ selected =>224 $ = 100 * 2 + 12* 2 => OK
![image](https

[2019-05-23 15:23] #9777 closed, assigned to nobody

[2019-05-23 15:25] vincent-dp commented on #13931
How can I simply upgrade my presta to a beta version (does 1clickupgrade do it?)

[2019-05-23 15:44] marionf commented on #9617
https://drive.google.com/file/d/1rgG20ltXEn6NJdaKtHv-Tt7kQdLfgZ6x/view?usp=sharing

[2019-05-23 15:47] MatShir commented on #9617
On debug mode, an error message is shown but it still displays the product on the pack product list and on none debug mode, no error is displayed but the product is also displayed on the pack product list.
In both cases, the product isn't saved with the pack but the error management should be handled better.

Solution: Just print error message "You can add twice the same product" and do not displa

[2019-05-23 16:05] marionf commented on #9897
![specific prices for customers in a row](https://user-images.githubusercontent.com/13449658/58268242-5ca5c180-7d85-11e9-8cf7-21c14ef55c93.gif)

[2019-05-23 16:11] 4itsoft opened #13946 "You can add products to your cart that you do not have in stock."
**Describe the bug**
You can add products that you do not have in stock by double-clicking.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO and set 1 quantity available.
2. Double-Click on 'Add to cart'
3. See error: In the cart you will have 2 pieces, although there is only one piece in stock.

**Screenshots**
![image](https://user-images.githubusercontent.com/50216024/58268638-743

[2019-05-23 16:13] MatShir commented on #9623
The interface lets you think that you can edit the product condition but you can actually edit it.
We should remove the features "Condition" for a virtual product or block the possibility to edit the field

[2019-05-23 16:14] silviu25 opened #13947 "Product combinations not working on 1.7.5.2"
have a issue with product combinations, I created 2 attributes: sizes and material

if I go to one product and configure everything, then hit Generate, then config the combinations with sesired prices and options and etc on product page are displayen only few of them or all of them but when I select for example a size and another material the price is not changing. Or sometimes they are simply not

[2019-05-23 16:32] centoasa commented on #13913
@khouloudbelguith yes it's right!
but not only this: I'm trying to update a "ps_facetedsearch v2.2.1 to v3.0.1" prestashop module and all prestashop crashes and crashes the server
https://nimb.ws/buaRit

[2019-05-23 16:49] colinegin commented on #13783
Is this related to #13914  ?

[2019-05-23 17:39] tjorgensborg opened #13948 "Main category products does not display when "show products from subcategories" is not enabled but there is products there"

[2019-05-23 17:45] tjorgensborg opened #13949 "Impossible to change position of products"
**Describe the bug**

**Describe the bug**
If you dont enable show products from subcategory products in main category is not show. IF you enable the show products from subcategory is not possible to rearrange products in main category. It take the first products from each subcategory and the secound from each subcategory and so on

<img width="477" alt="Skärmavbild 2019-05-23 kl  19 36 56" src="

[2019-05-23 18:02] esistgut opened #13950 "web service product update failing with "Property Product->price is not valid""
I'm trying to update a product using the web service, this is my request:

[code]
and this is the response:
[code]
This is on a standard installation with standard sample data on version 1.7.5.2.

[2019-05-23 18:31] bestbuybargains opened #13951 "Error 500 - Back Office Login"
**Describe the bug**
Noticed that Import option was not working properly, turned on debugger and now BO is showing Error 500

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/50038176/58276932-3e789b00-7d5e-11e9-910b-b5855575316a.png)

![image](https://user-images.githubusercontent.com/50038176/58276958-4

[2019-05-23 18:47] bestbuybargains commented on #13951
[dev.log](https://github.com/PrestaShop/PrestaShop/files/3213696/dev.log)
[20190521_exception.log](https://github.com/PrestaShop/PrestaShop/files/3213698/20190521_exception.log)

[2019-05-23 20:11] bestbuybargains commented on #13951
I have manually turned off the debugger in my server however Import option is throwing error 500

[2019-05-24 06:46] madhur77 commented on #9834
Hi, a bit new to github, can anyone tell me how to find the code / commit for this fix
Thanks

[2019-05-24 07:02] Luxurdk commented on #13938
Can somebody help me with this issue, all my category pages are white.

[2019-05-24 07:10] sarjon opened #13952 "Weird Currency management behavior"
So, I have USD currency in shop, see:
![2](https://user-images.githubusercontent.com/15143151/58309082-e13b2300-7e0b-11e9-97de-be16a9c24dbc.png)

Once I click edit I change "Currency" value to `EUR` in form and save it. After saving, I can see "ISO code" has changed, but "Currency" is still `USD`. See:
![3](https://user-images.githubusercontent.com/15143151/58309148-0d56a400-7e0c-11e9-8b42-004c441

[2019-05-24 07:28] centoasa commented on #13913
I've just installed and upgrading other modules without any issue or problems; so I think there's something borken in this module upgrade ps_facetedsearch v2.2.1 to v3.0.1

[2019-05-24 07:33] khouloudbelguith commented on #13946
Hi @4itsoft,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #11631
So, I close it.
Thanks!

[2019-05-24 07:33] khouloudbelguith commented on #13946
Duplicate of #11631

[2019-05-24 07:37] Maofree commented on #13938
Hi @Luxurdk
you have white pages because there is an error, to see it go in
advanced parameters - performance
and active the debug mode
probably you will get this db error

![11](https://user-images.githubusercontent.com/653230/58310590-404a6900-7e07-11e9-8aa7-1133710bd8f6.png)

the module has problems, but it does not behave in the same way
to solve this problem I unistall the module and remove i

[2019-05-24 07:38] 4itsoft commented on #11631
This patch cannot resolve my tichet #13946.

[2019-05-24 07:40] Prestafan1234 commented on #13911
@khouloudbelguith

You cannot count on tracking being recorded instantly in Google Analytics and you are missing a step in the order. Please see attachemnts.

![billede](https://user-images.githubusercontent.com/50907712/58310771-b8b12a00-7e07-11e9-915e-f2b998e9e412.png)

![billede](https://user-images.githubusercontent.com/50907712/58310842-e1392400-7e07-11e9-91bb-a14f8be0de82.png)

[2019-05-24 07:55] khouloudbelguith commented on #13952
Hi @sarjon,

I have the same issue with PS1.7.6.0beta1.
![image](https://user-images.githubusercontent.com/16067358/58311723-86043300-7e01-11e9-938b-bb028848211b.png)
In FO => NOK
![image](https://user-images.githubusercontent.com/16067358/58311982-383bfa80-7e02-11e9-9daa-44dcfa511f84.png)

With PS1.7.5.1 =>OK
![image](https://user-images.githubusercontent.com/16067358/58311747-9d432080-7e01-11e9-

[2019-05-24 07:55] Luxurdk commented on #13938
Okay thanks. But where can I download the module V2.2 because thats the one that works.

[2019-05-24 07:57] Maofree commented on #13938
I installed the 3.0.1 version
at 90% it should work

[2019-05-24 07:58] PierreRambaud commented on #13938
We released a 3.0.2 which this the upgrade problem is there is many products / categories.

[2019-05-24 08:07] Luxurdk commented on #13938
So if I press update now it will update to 3.0.2 i my backend, or should I do something els.?
I took a backup and went back to V2.2

[2019-05-24 08:10] khouloudbelguith commented on #13951
Hi @bestbuybargains,

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
After removal of cache try with those commands:

[code]
Thanks to check and feedback.

[2019-05-24 08:20] PierreRambaud commented on #13938
Nothing more, after an upgrade you must reindex all products / attributes.

[2019-05-24 08:29] MatShir commented on #13397
Hi,
Since it's an improvement I will see with the migration team if it is on the scope but meanwhile, I will propose your improvement in http://feedback.prestashop.com/forums/387864-prestashop-1-7-x

[2019-05-24 08:30] khouloudbelguith commented on #13950
Hi @esistgut,

I used this script

[code]

And it is OK.

Thanks to check & feedback

[2019-05-24 08:33] khouloudbelguith commented on #13948
Duplicate of #13949

[2019-05-24 08:33] #13948 closed, assigned to nobody

[2019-05-24 08:34] khouloudbelguith commented on #13947
Hi @silviu25,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-05-24 08:45] Luxurdk commented on #13938
It dosen't say update i backend.
Please help how to update it.
![2019-05-24 10_44_01-Moduler • Luxur](https://user-images.githubusercontent.com/50981231/58314991-f0709f80-7e10-11e9-8966-a397f030fbb7.png)

[2019-05-24 08:49] marionf commented on #9852
Duplicate of #11166

[2019-05-24 08:49] #9852 closed, assigned to nobody

[2019-05-24 08:51] PierreRambaud commented on #13938
Weird :thinking: you can download a zip here: https://github.com/PrestaShop/ps_facetedsearch/releases

[2019-05-24 08:55] khouloudbelguith commented on #13938
@PierreRambaud, in my case also.
With PS1.7.6.0beta1 => when ps_factedseachv = 3.0.1 => I don't have upgrade button
when ps_factedsearch = 2.2.0 => upgrade button, is well displayed

Thanks!

[2019-05-24 08:57] juank2808 opened #13955 "Quite a lot of mistakes when I update to the latest version"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Hi Again, i have updated to the last version, my first problem was wtih the permissions, was solved, now, i have a problem again i show this capture, because i don't undestand, Why is this happening?,
![imagen](https://user-images.githubus

[2019-05-24 08:58] francoispeyret commented on #13946
it's not exactly the same bug

@khouloudbelguith  it's just two request to cart controller too close ?

[2019-05-24 09:02] MatShir commented on #13884
Hi @BenTen,
The feedback is well received, we will evaluate the feasibility and the need around this feature. As your other issue, I will put it on http://feedback.prestashop.com/ to let the community help us to prioritize all ideas from GitHub.

[2019-05-24 09:04] colinegin commented on #11402
This is the PR integrating the Addons block : https://github.com/PrestaShop/productcomments/pull/33

[2019-05-24 09:05] colinegin commented on #11518
Still waiting for this PR to be approved before publishing the module : https://github.com/PrestaShop/productcomments/pull/33

[2019-05-24 09:14] khouloudbelguith commented on #13955
Hi @juank2808,

In your project_folder/modules/contactform/ did you add the file `recaptcha.php` ?
![image](https://user-images.githubusercontent.com/16067358/58316931-a2599d00-7e0c-11e9-8e3b-9910a1ebb915.png)
By default, this file doesn't exist
https://github.com/PrestaShop/contactform

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks

[2019-05-24 09:24] juank2808 commented on #13955
Ok, all the files that are inside the var / cache folder?

[2019-05-24 09:26] khouloudbelguith commented on #13955
@juank2808, yes, they are cache files!
Thanks!

[2019-05-24 09:37] PrestaUser commented on #13938
After the update to v3.0.2, I still have the same problem. What to do?

[2019-05-24 09:40] marionf commented on #9862
@khouloudbelguith Could you try to reproduce this issue with 1.7.6.0 ?

[2019-05-24 09:40] juank2808 commented on #13955
Ok it's done but now i have the same error, when I try to get updates on the modules,
![imagen](https://user-images.githubusercontent.com/14195668/58318728-adb2c580-7e18-11e9-9185-e361dac70e11.png) do i try with the link that you sent me?

[2019-05-24 09:42] khouloudbelguith commented on #13955
@juank2808, in your project_folder/modules/contactform/ did you add the file recaptcha.php?
THanks!

[2019-05-24 09:42] marionf commented on #9865
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-05-24 09:43] marionf commented on #9866
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-05-24 09:44] khouloudbelguith commented on #13946
@4itsoft, I tried with PS1.7.5.2 & PS1.7.6.0beta1 => it is OK
I attached a video record
https://drive.google.com/file/d/1SdTjaVO-YWJJp6gztpOlRE4z72YoNDL9/view
Thanks to check & feedback

[2019-05-24 09:44] PierreRambaud commented on #13938
 @PrestaEdit What's the problem exactly? The HookDispatcher issue? Database issue?

[2019-05-24 09:47] PrestaUser commented on #13938
Don't know. Doesnt show products and filters. Same problem as v3.0.1

[2019-05-24 09:47] juank2808 commented on #13955
No, I haven't, the link you sent me is not there.

[2019-05-24 09:47] dennispw opened #13957 "Assign "Generate high resolution images" to Smarty"
Right now we have an option of generating higher resolution images: `Design > Image Settings > Generate high resolution images`.

As far as I can tell though, there is no real way of actually using them. They are not assigned to any `image` object. As a test:

1. Open `classic\templates\catalog\_partials\miniatures\product.tpl`
2. Add `<pre>{print_r($product)}</pre>` to review available informatio

[2019-05-24 09:49] Maofree commented on #13938
@PrestaUser
pass to them the access of your site, it would be easier for them to check the problems and the configuration

[2019-05-24 09:49] marionf commented on #9867
@khouloudbelguith Could you try to reproduce it on 1.7.6.0 ?

[2019-05-24 09:54] khouloudbelguith commented on #9866
@marionf, yes, I have the same issue with PS1.7.6.0beta1
![image](https://user-images.githubusercontent.com/16067358/58319826-44c84f00-7e12-11e9-8607-a240f78472b7.png)

Thanks!

[2019-05-24 09:58] khouloudbelguith commented on #13955
@juank2808, so the file recaptcha.php is not located into /your_projet_folder/modules/contacform?

THanks!

[2019-05-24 09:59] esistgut commented on #13950
I am not consuming the web service from a PHP client so I can't provide feedback on your test.
I found the problem on my end: spaces and newlines. This is working:
[code]
Are you planning a proper rest/json/openapi or maybe graphql API in your roadmap?

[2019-05-24 10:00] khouloudbelguith commented on #9865
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0
![image](https://user-images.githubusercontent.com/16067358/58320210-10a15e00-7e13-11e9-9cf0-82466a3cc644.png)

Thanks!

[2019-05-24 10:02] juank2808 commented on #13955
@khouloudbelguith No, the file isn't

[2019-05-24 10:04] khouloudbelguith commented on #13950
@esistgut, thanks for your feedback.

No, it is not planned yet.
The API only supports XML on input but supports JSON output if you choose:

`http://KEY@site.com/api?output_format=JSON`

Since it is fixed, I close the issue.
Feel free to open a new one when needed.

Thanks!

[2019-05-24 10:04] #13950 closed, assigned to nobody

[2019-05-24 10:05] marionf commented on #9878
Duplicate of #9805

[2019-05-24 10:05] #9878 closed, assigned to nobody

[2019-05-24 10:05] khouloudbelguith commented on #13955
@juank2808, did you use the module recaptcha in your shop?

Thanks!

[2019-05-24 10:15] marionf commented on #9886
@colinegin wdyt about that ? Maybe we could put them back during the re-migration of this page ?

[2019-05-24 10:16] juank2808 commented on #13955
has been installed, but now it isn't in use

[2019-05-24 10:16] khouloudbelguith commented on #13949
Hi @tjorgensborg,

1. If `Show products from subcategories` is disabled
=> in the FO => products are only shown in the main category
https://drive.google.com/file/d/1QulARfVXfdgLyQV4fbebTa-9lvTcEOiC/view

2. If `Show products from subcategories` is enabled

Reorder product doesn't work.
Yes, I manage to reproduce the issue with PS1.7.6.0beta1 & ps_facetedsearch v3.0.2
Same issue with PS1.7.5.2 & p

[2019-05-24 10:18] BenTen commented on #13884
Thank you :)

2019年5月24日(金) 18:02 MatShir <notifications@github.com>:

[2019-05-24 10:20] khouloudbelguith commented on #13955
@juank2808, did you disable it?

Thanks!

[2019-05-24 10:22] marionf commented on #13652
@matks Is it a regression of 1.7.6.0 ?
If yes, we should add it to the 1.7.6 backlog

[2019-05-24 10:23] juank2808 commented on #13955
now isn't installed, i have other problem, the clientes cant see the products an more
![imagen](https://user-images.githubusercontent.com/14195668/58321556-bf976700-7e1e-11e9-8359-b66564d0cf41.png)

[2019-05-24 10:24] GrossOutD opened #13958 "Upgrade from 1.6.1.24 to 1.7.5.2 500 Internal Server Error"
**Describe the bug**
After upgrading 1.6 to 1.7 i got the following error in autoupgrade

[INTERNAL] /****/src/PrestaShopBundle/Install/LanguageList.php line 100 - Symfony\Component\Debug\Exception\ClassNotFoundException: Attempted to load

class "PrestashopInstallerException" from the global namespace. Did you forget a "use" statement? #0

/****/*****/autoupgrade/latest/install/upgrade/php/migrat