[2022-09-02 14:03] AureRita opened #29517 "[Module Manager] - In the update tab, the button "update all" didn't works"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I go to BO > Module Manager, U

[2022-09-02 14:14] HanaRebaiQA opened #29518 "BO - The Order and the Customer Menu are incorrect after an upgrade from 1.7.7 to 1.7.7.8 and 1.7.8"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

 The Order and the Customer Menu ar

[2022-09-02 14:31] AureRita commented on #29374
Hi @arirangz,

Thank for your feedback, I retried to reproduce your issue and I didn't have it, as you can see :

https://user-images.githubusercontent.com/100699445/188171657-633ae048-ec5a-45d5-9907-cf655abc8193.mp4

If you've some way to reproduce your issue that we miss, can you say it ?

Waiting for your feedback

[2022-09-02 14:36] hibatallahAouadni commented on #29517
Hello @AureRita

I reproduce the issue only with PS800_beta, the stranger behavior is:

1. at first, I see in the list two modules to upgrade, **Customer "Sign in" link** and **Product Comments**. I click on the **upgrade all** button, then the **Customer "Sign in" link** has been upgraded but the other module doesn't :disappointed:
2. I refresh the page, and I can't see the upgrade all button, se

[2022-09-02 14:39] AureRita commented on #29517
Hi @hibatallahAouadni

The button is maybe disabled because you've only one module to update, test with two modules ;)

[2022-09-02 14:55] matks commented on #28924
@MeKeyCool starts it

[2022-09-02 15:58] matks commented on #29380
@atomiix approved this PR https://github.com/PrestaShop/PrestaShop/pull/29382 so I think this means he agrees 😄

So let's confirm this developer feature

[2022-09-02 16:02] clotairer commented on #29380
FYI, we already deployed this patch on seveal eShop without issue. The exhasutive list of files type looks OK.

Who take the "risk" to add a millestone ?

[2022-09-02 16:03] khouloudbelguith commented on #27635
Hello @PrestaEdit,

Yes, it is not a regression.
The issue is reproduced with PS1778 and PS1783 as commented here: https://github.com/PrestaShop/PrestaShop/issues/27635#issuecomment-1036117142.
That's why it is not a regression.

Thanks!

[2022-09-02 16:23] Webbrent commented on #17856
Has there been any remedy on this error? I am experiencing the same issue now myself. I am using Prestashop 1.7.8.7 with PHP 7.4.30 and using Akira Theme.

I have other site on the same host running the same theme/template and not having this issues.

[2022-09-02 16:43] hibatallahAouadni commented on #29508
Hello @khouloudbelguith

Thanks for reporting the issue!
I reproduce the issue with PS1786, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/188200194-c4c681e2-3cb9-40a3-9825-f4e464dbcb1e.png)

Thanks!

[2022-09-02 18:09] bfontaine opened #29519 "CMS::getCMSContent doesn’t propagate $idShop when $idLang is not set"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It’s hard to know if this is a bug

[2022-09-02 19:59] kpodemski commented on #29487
@AureRita

I can validate this suggestion. It makes sense. Could you add proper labels?

[2022-09-02 20:52] kpodemski commented on #23866
@Nickovitshj could you send us any article that summarizes the changes?

[2022-09-02 21:11] PrestaEdit commented on #27635
Hi @khouloudbelguith,

And thanks for the answer.

So, if a bug is introduced inside a patch version (1.7.7.x) of the previous minor version (1.7.7), we need to wait until the next major and not the first minor, at least (not talking about patch version, there) ?

[2022-09-03 08:02] matks commented on #29380
https://github.com/PrestaShop/PrestaShop/pull/29382 is likely to be merged inside `develop` -> milestone will be added when merge is done

Depending on security risk we could backport it to 8.0.0 -> to be defined by @atomiix

[2022-09-03 19:55] hibatallahAouadni commented on #29518
Hello @HanaRebaiQA

We encountered this issue with oldest versions #9762 and it's fixed!
Could you please check the issue if it's the same as yours 🙏

Thanks!

[2022-09-05 06:57] rsoulard-prolaser commented on #29513
Hello @hibatallahAouadni,

You have 2 modules using GDPR hook **registerGDPRConsent** (not displayGDPRConsent).
You should to uninstall the Newsletter subscription module before all step.

Thanks.

[2022-09-05 08:16] #29395 closed, assigned to nobody

[2022-09-05 08:18] websenso-team opened #29522 "Fix carrier name quote error in JS"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![image](https://user-images.github

[2022-09-05 08:19] #29313 closed, assigned to nobody

[2022-09-05 08:33] HanaRebaiQA commented on #29518
Hello @hibatallahAouadni

Thank you for your response.
Indeed, it's related but not the same.

In fact, the [#9762](https://github.com/PrestaShop/PrestaShop/issues/9762) is reproduced with a fresh install and it's fixed.
The current [issue](https://github.com/PrestaShop/PrestaShop/issues/29518) is reproduced following an upgrade. So, the original issue is not fixed after the upgrade.

Thank You!

[2022-09-05 08:33] HanaRebaiQA commented on #29518
It's related to [#9762](https://github.com/PrestaShop/PrestaShop/issues/9762)

[2022-09-05 08:39] zuk3975 commented on #28294
Hi, is it a regression of product page? Have you found the same issue in 177?

[2022-09-05 08:48] hibatallahAouadni commented on #29326
Hello @PululuK

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-09-05 08:50] hibatallahAouadni commented on #29302
Hello @moflihmorad

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-09-05 08:50] #29302 closed, assigned to nobody

[2022-09-05 09:08] hibatallahAouadni commented on #29466
Hello @Juiliard

Closing the issue as it's not a bug and you seem you found the source of your issue.
Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thanks!

[2022-09-05 09:08] #29466 closed, assigned to nobody

[2022-09-05 09:19] matks commented on #29522
Nice feedback thank you @cedricWebsenso

[2022-09-05 09:33] PululuK commented on #29326
Hi @hibatallahAouadni

See the section **Steps to reproduce** please :)

[2022-09-05 09:50] hibatallahAouadni commented on #29345
Duplicate of #9971

[2022-09-05 10:17] Zulgrib commented on #9480
The issue exists to this day, it tries to copy/rename files from cache container folder that does not exist.
[dali-rajab](https://github.com/dali-rajab) 's solution does not work since this is the place where the error happen.

[2022-09-05 11:14] hibatallahAouadni commented on #29519
`CMS::getCMSContent(7, null, 2)` returns the content of CMS page of id 7 in the **current language** and shop of id 2
I believe this behavior is a bug because I would expect it to return the content of CMS page of id 7 in the default language of the shop of id 2.

is this the expected behavior or it's a bug?
Ping @PrestaShop/product-team can someone please answer @bfontaine question :pray:

Thanks

[2022-09-05 12:42] masiorama commented on #11548
@itis-mmi I have the same issue with a different module. In my case the template is loaded like this:

`$tpl = '../../../modules/'.$this->module->name.'/views/templates/front/thankyou.tpl';`
                `$thankyou = Context::getContext()->smarty->fetch($tpl);`

How did you solve it? Thanks!

[2022-09-05 13:12] atomiix commented on #27665
@AureRita I agree with @MeKeyCool, I don't see why this issue is blocked because of #28014, can you have another look or explain a bit more why it's blocked? Thanks!

[2022-09-05 13:13] eternoendless commented on #28418
I think this can be quickfixed by simply performing step 1 from the workaround.

[2022-09-05 13:20] florine2623 opened #29529 "FO - Exception when trying to add a script in Checkout process > Shipping method"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have an exception when I add a sc

[2022-09-05 13:47] TouchCab commented on #29248
Step 4, where do I get the XML from?!

[2022-09-05 14:12] matks commented on #29495
Assigned to @nicosomb

[2022-09-05 14:14] atomiix commented on #28041
It seems that #29228 solve this issue!

[2022-09-05 14:22] zuk3975 commented on #28294
WIP.
I've been debugging this for a while, so just some notes about the issue (for myself and/or someone else if needed).
1. The search results already changes when we add additional language, without touching tags. (e.g. In freshly installed shop wiht default language EN, if I search "MƏŞHUR MƏHSULLAR" I can see couple (~4-5) products (customizable mug being the first one found). Once I add addit

[2022-09-05 14:44] cedricWebsenso commented on #29522
Hello @hibatallahAouadni,
Thanks for your reply, i test it on a new PS1765 with GA v4.1.2 and i don't reproduce the js error on the final step.
I reproduce after choosing this carrier, and return to home the first time the ga_tag.tpl was injected.

**Carrier name :**
![image](https://user-images.githubusercontent.com/102657707/188474035-f3f6de5d-4d72-4b6e-a4a6-4f6bad1e5aee.png)

**Order step :**
!

[2022-09-05 15:19] TristanLDD commented on #28649
Hi, here is the fallback image :

<img width="279" alt="fallback_theme_img" src="https://user-images.githubusercontent.com/27484094/188480030-214b5424-83c3-4281-abfa-d9c160536d65.png">

[2022-09-05 15:21] matks commented on #28990
Assigned to @lartist

[2022-09-05 15:31] jolelievre opened #29533 "EPIC: PrestaShop language packages auto-generation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-05 15:44] matthieu-rolland commented on #29398
fixed in this PR https://github.com/PrestaShop/PrestaShop/pull/29534

Thanx @NeOMakinG for your input :+1:

[2022-09-05 15:55] matks commented on #29242
Module 5.0.5 released

[2022-09-05 16:11] matks commented on #29242
PR https://github.com/PrestaShop/PrestaShop/pull/29535 will update Composer in the Core software

[2022-09-05 16:27] hibatallahAouadni commented on #29496
Hello @haveyougotanypets

I reproduce the issue with PS1786 and I didn't reproduce the issue with PS1778 cause we use to encounter another behavior (see this issue #24370).
Thanks for reporting the issue! I’ll add this to the debug backlog so that it’s fixed :wink:

https://user-images.githubusercontent.com/23308427/188489230-be012c52-7e4b-4b7d-8624-57bf84ba0bd6.mp4

Please be aware that due to th

[2022-09-05 16:31] MatShir commented on #28041
then should we change the branch of dev ?

[2022-09-05 16:32] #29496 closed, assigned to nobody

[2022-09-05 16:52] hibatallahAouadni commented on #29529
Hello @florine2623

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9574.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-09-05 16:52] #29529 closed, assigned to nobody

[2022-09-05 17:51] atomiix commented on #28041
@MatShir I don't know, as it's already in QA, maybe we should cherry-pick it to 1.7.8.x once merged in dev?

[2022-09-05 18:10] #25649 closed, assigned to matthieu-rolland

[2022-09-05 22:33] eveneme commented on #23773
I have this problem. PrestaShop 1.7.8.7, please repair this module!

[2022-09-05 22:33] eveneme commented on #19095
I have this problem. PrestaShop 1.7.8.7, please repair this module!

[2022-09-05 22:33] eveneme commented on #9684
I have this problem. PrestaShop 1.7.8.7, please repair this module!

[2022-09-06 06:18] eveneme commented on #24044
I have this problem, please open and repair. as there are many products and combinations it takes 30-40 seconds to load and sometimes it causes mysql crash.

[2022-09-06 06:43] lmeyer1 opened #29538 "Best sales in multishop environment are not distinctive to shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If multishop is enabled, I expect t

[2022-09-06 06:59] lmeyer1 opened #29539 "Hidden CMS category is displayed in breadcrumb and gives error 404"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In Prestashop, a CMS category can b

[2022-09-06 07:34] matks commented on #28484
@PrestaShop/qa-team is this a duplicate of https://github.com/PrestaShop/PrestaShop/issues/28985 ? or related?

[2022-09-06 07:38] matks commented on #29009
I am not sure this is a bug. Should the prefix be related to the language selected or the language of the order? Question for Product team

[2022-09-06 07:42] matks commented on #29460
@lartist takes it

[2022-09-06 07:50] eshraw commented on #21884
Hello @matks , @kpodemski ,

To me this is indeed a bug. I understand the case described by @kpodemski but in the following case we still encounter an unexpected behaviour :
- I have an alias "teeest" for the word "test"
- I edit the alias "teeest" and change it to "tst" because "teeest" was a mistake
- In the list we have 2 aliases "teeest" and "tst" and when trying to edit either aliases, both a

[2022-09-06 08:02] Saimis777 opened #29541 "State drop-down does not disappear in the checkout"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The default country in the shop is

[2022-09-06 08:09] Ploppy3 commented on #15427
But `Locale::formatPrice()` is not accessible from smarty template, which does not make a it a good alternative. What can I do to display price?

[2022-09-06 08:17] kpodemski commented on #15427
@Ploppy3 normally, your prices should be formatted at the controller level, not at the view level :)

[2022-09-06 08:26] atomiix commented on #29164
@sLorenzini @florine2623 I think this one is fixed by #27422

[2022-09-06 08:26] sLorenzini commented on #29538
Hello @lmeyer1,

I reproduce the issue with PrestaShop version 1.7.8.6 & 1.7.7.8.
1.7.7.8:
- default shop:

![default-shop-BO](https://user-images.githubusercontent.com/2854834/188585539-6e6060fb-3b7a-4322-8100-7dac0bde982b.png)

![default-shop-FO](https://user-images.githubusercontent.com/2854834/188585560-ae882000-a97b-49c4-884b-f5a043111b83.png)

- second shop:
-
![second-shop-BO](https://user-

[2022-09-06 08:36] khouloudbelguith commented on #28484
Hi @matks,

Those issues are related, they are not reproduced on the same page.
The #28484 is reproduced in the BO > Advanced Parameters > Team > Employee edit/add page
The #28985 is reproduced in the BO > Advanced Parameters > Team > Profile edit/add page

Thanks!

[2022-09-06 08:41] Ploppy3 commented on #15427
@kpodemski but that's not always the case, example: credit slips, and there is no way to format this price other than using tools.

[2022-09-06 09:05] MatShir commented on #29399
@NeOMakinG hey do you have ideas how the behavior changed?

[2022-09-06 09:13] eternoendless commented on #29178
This is not a bug but a CI task

[2022-09-06 09:17] eternoendless commented on #29178
Here's our current plan (cc @jolelievre):

1. Update wordings for v8 by running TranslationTool on Github actions (one action for running TranslationTool, one action in github.com/PrestaShop/TranslationFiles that will deploy artifacts to a GCP bucket served through i18n.prestashop-project.org
2. Either keep current CI for 1.7.8 until it's sunset, or move it to GH actions later

[2022-09-06 09:31] FabienPapet commented on #28531
Hello,

I tried to reproduce the issue and I think this is not a regression. If you type fast enough the quantity you want, everything is working fine, even with numbers like 120, etc.

When you are editing the desired quantity, prestashop waits for 300ms before sending the value you've entered to the server and if the quantity is not valid, resets the the minimal quantity. If you are editing this

[2022-09-06 09:32] sLorenzini commented on #29539
Hello @lmeyer1 ,

I reproduce the issue with PrestaShop version 1.7.8.6 & 1.7.7.8.

1.7.7.8:

- my new category are not displayed on BO
![1778-breadcrumb-category-BO](https://user-images.githubusercontent.com/2854834/188599517-706e849a-1580-43ba-80f8-8c7d8697bd0b.png)

- my page of this category is displayed on BO
![1778-breadcrumb-category-page-BO](https://user-images.githubusercontent.com/285483

[2022-09-06 09:34] kpodemski commented on #15427
@Ploppy3 you mean directly in .pdf files?

[2022-09-06 10:00] eshraw commented on #29338
Hello @NeOMakinG we have a feeling that something weird is happening in the calculation of the price per unit. We check with product page v1 & v2 and the issue seems consistent with both, making me think that the calculation of this field could be in the front (js ?). Wdyt ?

[2022-09-06 10:04] Ploppy3 commented on #15427
@kpodemski no, in usual smarty template files.

[2022-09-06 10:08] kpodemski commented on #15427
@Ploppy3 yes, sorry, I meant .tpl files 😅

Well, they could be improved to move the proper logic outside of the view. That will probably be part of the task of removing Tools::displayPrice from the core.

[2022-09-06 10:08] sLorenzini commented on #29457
Hello @costads,

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely an issue in your shop.

Don't hesitate to contact our [support](https://www.prestashop-project.org/support/).
Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in t

[2022-09-06 10:08] #29457 closed, assigned to nobody

[2022-09-06 10:40] sowbiba opened #29542 "Upgrade using actionBeforeUpgrade does not execute migrations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Have 2 modules :

First one impleme

[2022-09-06 10:52] sowbiba commented on #29542
Technical clue

Because the hook actionDispatcherBefore is executed before the actionBeforeUpgrade hook, the module 1 is loaded through ServiceLocator::get to execute the hook

Before executing the upgrade migrations, we perform LegacyModule::getModulesOnDisk to get the modules properties before saying if migrations are needed. To do that, we also use ServiceLocator::get to get the module instance

[2022-09-06 10:53] Ploppy3 commented on #15427
@kpodemski So i'll use Tools for now as it seems to be impossible otherwise.

[2022-09-06 10:56] kpodemski commented on #15427
@Ploppy3 without modifying the back-end part behind the credit slips, yes

Don't worry, we'll provide proper information on how to handle such issues in the future after the removal of `Tools::displayPrice`

[2022-09-06 11:47] khouloudbelguith opened #29543 "[PHP8.1] - BO - A warning is displayed in the File manager after resetting the sort and the filter"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > A warning is displayed

[2022-09-06 12:08] sLorenzini commented on #29541
Hello @Saimis777,

Thank you for this report.
Is this issue is related to this merged [PR](https://github.com/PrestaShop/PrestaShop/pull/29122) which closed those issues https://github.com/PrestaShop/PrestaShop/issues/29012 & https://github.com/PrestaShop/PrestaShop/issues/28781?

Waiting for your feedback.

Thanks

[2022-09-06 12:09] zuk3975 commented on #28294
Ok im lost with this (and other search related issues) - I installed 2 identical shops and right after fresh install I searched for phrase "MƏŞHUR MƏHSULLAR". Both shops produced different results. One found 5 mugs, other found nothing. Im stuck with this for 2 days already and I can only say these are not related
to product page v2 and not specifically with tags, but rather the fuzzy search and s

[2022-09-06 12:18] zuk3975 commented on #28291
related to https://github.com/PrestaShop/PrestaShop/issues/28294#issuecomment-1238060656.

[2022-09-06 12:22] tom-combet commented on #29166
I could try to make a PR for this, do you know how to display all deprecations of the Symfony project?
`bin/console debug:container --deprecations` is only available in 5.1+...

[2022-09-06 12:22] margud commented on #29491
I was able to reproduce this issue on 8.0.x and develop branch. Found that this issue is caused because of ps.form_widget_with_error in form.html.twig file line: 97.
When we cancel password change it is hidden but the error message is still displayed and moved to another position. Tried to find a fix but with no success. Looks like some modifications with macros.html.twig needs to be done. Maybe s

[2022-09-06 12:30] matks commented on #29431
@nicosomb starts it

[2022-09-06 12:59] NeOMakinG commented on #29338
I'll get a look but I doubt this is a front-end issue

[2022-09-06 13:11] matks commented on #21271
@lartist starts it

[2022-09-06 13:25] sLorenzini commented on #29543
hello @khouloudbelguith,

I could reproduce your issue with php 8.1 on 8.0.0 PrestaShop version

![Capture d’écran 2022-09-06 à 15 23 21](https://user-images.githubusercontent.com/2854834/188646593-e267205b-1eb4-4ac6-9074-0710164f8083.png)

I'll add this to the backlog so it can be fixed.

Thank you

[2022-09-06 13:26] matks commented on #29166
@tom-combet please don't go into this big piece of work because we have no idea if we would approve it or not 😄 . You could always submit the PR but I would be sad if your work was wasted because we can't merge it soon :(

Changing symfony version will have a big impact to every kind of users, so we can't decide to change it before being sure this is something good for the project and in which ver

[2022-09-06 13:29] mariem-abid opened #29550 "Errors appear when we import some localization pack (shuffle machine)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

When we perform the technic

[2022-09-06 13:33] matks commented on #29292
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29375

[2022-09-06 13:33] #29292 closed, assigned to FabienPapet

[2022-09-06 13:57] zuk3975 commented on #28293
ping @PrestaShop/product-team I don't know if we want to change this (not allowing `+` as tag value`), but it seems it was there for some time and it is not related strictly to product page v2 . Although we should probably add information about what is allowed and what is not and strict those values by form constraints to make it clear + add reminder about the blacklist (because now those invalid

[2022-09-06 13:58] MeKeyCool commented on #28924
From investigations, problem came from https://github.com/PrestaShop/PrestaShop/pull/25245

And especially one of those commits :
- 6b61197ae2c36ad00eba529b7d02a6538e5d3f2c
- e6b8fcf68823c7bafdc19c574382f0305c9bedda
- 22a3e4fc65ab6ae43c2d7aadd969403fda4b23fc
- 626a59346f47c6cea6f2bae1384d824a7ef8d14a
- 9afa9b744cb73dd67516277f160d592b97c32801
- f0c4a6ad4045e0d72b9dd718fad43cba6ffc7ee4
- 8a6765299a

[2022-09-06 14:39] sLorenzini commented on #29550
Hello @mariem-abid ,

I reproduce the issue with PrestaShop version 1.7.8.7 on shuffle machine. I couldn't tested it on an older version (shuffle machine doesn't allow it). As discussed with you, this issue seems to be here since at least 2020.
Here's my screenrecord:

https://user-images.githubusercontent.com/2854834/188663860-53f31a6b-99f8-4e5f-a17a-7050dca69c6c.mp4

I'll add this to the backlog

[2022-09-06 14:42] lmeyer1 commented on #29539
@sLorenzini I think you chose the wrong tag `1.7.8.7`, not `1.7.7.8`.

[2022-09-06 14:43] lmeyer1 commented on #29538
@sLorenzini I think you chose the wrong tag `1.7.8.7`, not `1.7.7.8`.

[2022-09-06 14:45] lmeyer1 commented on #29538
@sLorenzini

https://github.com/PrestaShop/PrestaShop/pull/29552

This was an error. Is it possible to remove this mention ?

[2022-09-06 14:56] zuk3975 commented on #24889
according to https://github.com/PrestaShop/PrestaShop/pull/25574#issuecomment-975775632 - which branch should the fix PR target?

[2022-09-06 15:07] #29291 closed, assigned to FabienPapet

[2022-09-06 15:08] matks commented on #29427
PR https://github.com/PrestaShop/PrestaShop/pull/29523

[2022-09-06 15:11] sowbiba commented on #29542
https://user-images.githubusercontent.com/7426640/188670363-4807d325-4e4b-4b2e-9ea5-affe4eca606b.mp4

[2022-09-06 15:17] OliverCG opened #29556 "Price ranges on Carriers are not managed properly when mode B2B enabled and prices without taxes"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

I think I've found an issue wh

[2022-09-06 15:21] sowbiba commented on #29542
Other way to test ... same result

https://user-images.githubusercontent.com/7426640/188672217-8152b0bc-1cfb-4976-bc6a-8ce80f81ee50.mp4

The zip for v1.0.1
[prestashopexamplemodule_1.0.1.zip](https://github.com/PrestaShop/PrestaShop/files/9498362/prestashopexamplemodule_1.0.1.zip)

[2022-09-06 15:27] jolelievre commented on #29542
Hi @sowbiba

If I understood everything, your [prestashopexampleupdatermodule.zip](https://github.com/PrestaShop/PrestaShop/files/9495840/prestashopexampleupdatermodule.zip) module implements the `actionBeforeUpgrade` hook and handles the extraction of its internal zip in place of the current module code. This mimic the action of downloading a module from an external API right? So this part is fun

[2022-09-06 15:36] sLorenzini commented on #29513
Hello @rsoulard-prolaser,

Thank you for your feedbacks.
Indeed by uninstalling all modules with GDPR consent and do your steps, I reproduce the issue with PrestaShop version 1.7.8.6 & 1.7.7.8.

1.7.7.8:

![1778-gdpr-hook](https://user-images.githubusercontent.com/2854834/188676601-a4a4fa91-b9bf-49db-8265-24db166798bc.png)

![1778-gdpr-data-management](https://user-images.githubusercontent.com/285

[2022-09-06 16:06] atomiix commented on #29542
The main issue is that because a module can register a hook that is triggered very early like `actionDispatcherBefore`, the module is instanciated, that means that you can't instanciate the new version of the module later, when the files have been changed. That prevents the new information about the module (like its version) to be accessed directly from its instance and the potential `update()` me

[2022-09-06 16:07] sowbiba commented on #29542
Exactly

====

For the module being cached when calling  $module = $this->moduleRepository->getModule($name);
We already noticed that too but even if you disabled the cache retrieval by commenting

https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Module/ModuleRepository.php#L145

From L145 to L151, you'll face the same issue

What I suspect is when we execute a hook, we call

https:/

[2022-09-06 16:18] cerutice commented on #14703
Hello, i have upgraded to 1.7.8.7, site with 550K products and take 10 sec to update 1 order, if the order has 1 product is ok, if the order has 10 products, 20 30 sec.

anybody can help me to fix or overcome this problem with status order change please
prestashop is such a pain for large stores.
thanks

[2022-09-06 16:47] matks commented on #27599
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29195

[2022-09-06 16:47] #27599 closed, assigned to FabienPapet

[2022-09-06 17:42] danielkauffman opened #29557 "PHP notice (`theme_name of non-object`) when installing Prestashop 8"
### Prerequisites

- [ ] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The method of installation seems ir

[2022-09-06 18:23] seederp2p opened #29558 "Very Slow Cart actions on 15k Product store"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

My store has 15K Products, some mod

[2022-09-06 20:26] danielkauffman commented on #29557
The installer (run in step 2 above) deletes `appAppKernelProdContainer.php` at some point after throwing the notice and before exiting.

[2022-09-06 22:22] danielkauffman opened #29559 "Failed to decode downloaded font: OTS parsing error: invalid sfntVersion"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Using Chrome 104 and a fresh instal

[2022-09-07 07:12] Kandax86 opened #29560 "Hook actionObjectUpdateAfter - Infinite loop that leads to memory limit in FO"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,
i don't understand why the core

[2022-09-07 08:21] hibatallahAouadni commented on #29538
Hello @lmeyer1

No, she didn't! As we reproduce the problem on an older version, so we only have to add this older version tag (meaning it always reproduces on the current version).
We only use the current version tag for regressions :wink:

PS: if you have any questions about how we use labels or treat with issues, feel free to ask me or ping me on Slack:wink:

Thanks!

[2022-09-07 08:21] hibatallahAouadni commented on #29539
Hello @lmeyer1

No, she didn't! As we reproduce the problem on an older version, so we only have to add this older version tag (meaning it always reproduces on the current version).
We only use the current version tag for regressions :wink:

PS: if you have any questions about how we use labels or treat with issues, feel free to ask me or ping me on Slack:wink:

Thanks!

[2022-09-07 08:21] florine2623 commented on #29541
Hello @Saimis777 ,

I confirm, this has been fixed on branch 8.0.x :)
So I close this issue!
Thanks!

[2022-09-07 08:21] #29541 closed, assigned to nobody

[2022-09-07 08:33] jsc-web commented on #29560
Hi,

I can reproduce the same behavior.

If there is a :
- actionObjectUpdateBefore
- actionObjectEmployeeSessionUpdateBefore
- actionObjectCustomerSessionUpdateBefore
- actionObjectUpdateAfter
- actionObjectEmployeeSessionUpdateAfter
- actionObjectCustomerSessionUpdateAfter

In the ps_hook table, then there is a infinite loop for logged in users.

Thats due to the fact that the isLogged() method

[2022-09-07 08:43] florine2623 commented on #29559
Hello @danielkauffman ,

I can't reproduce your issue with PS beta 8.
In my console, I do not have these errors. Only some warnings.
Can you screenshot the errors please ?

Thank you

[2022-09-07 08:47] florine2623 commented on #29558
Hello @seederp2p ,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/14979.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you

[2022-09-07 08:48] #29558 closed, assigned to nobody

[2022-09-07 08:48] florine2623 commented on #29558
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/14979

[2022-09-07 08:50] eternoendless commented on #26427
The beta is now over: [39 bugs have been reported](https://github.com/PrestaShop/PrestaShop/search?q=created%3A2022-08-09..2022-09-04+is%3Aissue+label%3A8.0.x+-label%3AInvalid+-label%3ADuplicate&type=issues) during this period, of which 9 have been fixed at the time of writing. The remaining items to fix before the first release candidate can be tracked on the [project's kanban](https://github.com

[2022-09-07 08:57] seederp2p commented on #29558
hello @florine2623

Are you sure this is the same issue?

My report doesn't depend on the number of products on the cart.

[2022-09-07 09:05] xrdm opened #29561 "Prestashop 1.7.6.8 (not updated) Impossible to login to backend"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Since yesterday and for no apparent

[2022-09-07 09:09] MatShir opened #29562 "Add a command that builds language packages and push them on a GCP bound to the i18n.prestashop-project.org"
**Describe the task**:
- Retrieve the content from the repo [TranslationFiles](https://github.com/PrestaShop/TranslationFiles/)
- Build the archive for each language (Priority on the archive for the 8 then later to for the 178)
- Push the archive to a bucket GCP (check with IT from PrestaShop SA)

If you have any questions ping @jolelievre

[2022-09-07 09:12] NeOMakinG commented on #29338
@eshraw I confirm if there is an issue, this is a backend one

See what we use in both themes:

<img width="507" alt="image" src="https://user-images.githubusercontent.com/14963751/188839948-a07e595b-43e6-4fda-9344-6021221ec417.png">

I guess this is the right thing isn't it? I may miss something

[2022-09-07 09:16] MatShir commented on #29562
Blocked until this PR is merged https://github.com/PrestaShopCorp/TranslationTool/pull/104

[2022-09-07 09:17] MatShir opened #29563 "Dockerize the TranslationTool app, with configurations editable via environment variables"
Dockerize the TranslationTool app make the configurations editable via environment variables:
- crowdin_api_key (retrieve the key from repo)
- crowdin_project_identifier
- GitHub credential (to be verified)

[2022-09-07 09:23] MatShir commented on #29563
Blocked until this PR is merged https://github.com/PrestaShopCorp/TranslationTool/pull/104

[2022-09-07 09:23] florine2623 commented on #29560
Hello @Kandax86 ,

Can you send the module test you are using to generate the infinite loop please ?

Thanks!

[2022-09-07 09:25] MatShir opened #29564 "Setup ci for the recurrent tasks:"
**task:**
  - [x] Export/build/publish archives from crowdin
  - [x] Update TranslationFiles repository based on latest crowdin build
  - [x] CI for GCP archive pushing (this CI could be set on the TranslationFiles repo on each push, but I guess it can still use the TranslationTool docker commands for its execution)

[2022-09-07 09:26] MatShir commented on #29564
Blocked until this issue is closed https://github.com/PrestaShop/PrestaShop/issues/29562

[2022-09-07 09:29] MatShir opened #29565 "Transfer the translation tool in the Open-Source Organization"
Transfer https://github.com/PrestaShopCorp/TranslationTool in https://github.com/PrestaShop
- Create a new Crowdin key and archive/delete the old one
- Reset up the CI with the new repo

[2022-09-07 09:29] Kandax86 commented on #29560
Hello @florine2623
You doesn't need any module, you just need to add the actionObjectUpdateAfter hook entry in ps_hook manually from sql db or to hook any module on this point it will create the hook in the ps_hook table. If the entry in ps_hook exists, the loop is present. Even if there is nothing hooked on this hook.

Cédric

[2022-09-07 09:31] florine2623 commented on #29561
Hello @xrdm ,

We only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Thank you

[2022-09-07 09:31] #29561 closed, assigned to nobody

[2022-09-07 09:32] MatShir commented on #29565
To do when the all the other item of the [EPIC](https://github.com/PrestaShop/PrestaShop/issues/29533) are done

[2022-09-07 09:44] xrdm commented on #29561
Ok (even if for me this is a bug)
anyway in the page you posted what's the right link to follow?
[Report a bug on GitHub](https://devdocs.prestashop.com//8/contribute/contribute-reporting-issues/)
    [Join the community forums](https://www.prestashop.com/forums/)
    [Ask on Stack Overflow](https://stackoverflow.com/questions/tagged/prestashop)
    [Discuss on Slack](https://www.prestashop-projec

[2022-09-07 10:49] margud commented on #27640
This happens because display: flex is added. If i remove it then this is how it looks. Is this how it should look like?
![image](https://user-images.githubusercontent.com/51944825/188860484-96af20d0-1981-4fcc-bf33-4a02471982bf.png)

[2022-09-07 12:16] NeOMakinG commented on #27640
Yeah this is how it should look, but be careful about the behavior when you select an image

[2022-09-07 12:23] florine2623 commented on #29557
Hello @danielkauffman ,

I can't reproduce your issue.
<img width="974" alt="Screenshot 2022-09-07 at 14 21 45" src="https://user-images.githubusercontent.com/16019289/188877081-445e266f-221c-4214-adcc-c65960bd5a92.png">
I just changed the info to match my server. My result was "Installation successful"

Can you give me more info about :
- host
- server setup and configuration
- PrestaShop version

[2022-09-07 12:30] AureRita commented on #28531
Hello @FabienPapet ,

as you can see on this video, we still have some issue even if I write new things before the 300ms :

https://user-images.githubusercontent.com/100699445/188876310-fcba6cb6-35a8-459e-b480-c9f5130c4c21.mp4

Moreover, this issue isn't here if you select minimum quantity = 1. I think the quantity of 123 should be a desire quantity but it still rejected. I think also that the cli

[2022-09-07 12:39] PululuK opened #29568 "Don't get info about email exists when reset admin password"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Don't get info about email exists w

[2022-09-07 13:03] florine2623 commented on #29522
Hello @cedricWebsenso ,

I can't reproduce your issue.
I'm using PS 1.7.6.5 and GA v4.1.2.

Here's a screen record:

https://user-images.githubusercontent.com/16019289/188884725-105187a3-9bf3-4258-8101-af7079996362.mov

If there's more info you would like to provide, please do so.
Thanks!

[2022-09-07 13:04] florine2623 commented on #29522
@PrestaShop/qa-functional
Could someone try to reproduce the issue please ?
Thanks :)

[2022-09-07 13:04] MatShir commented on #29178
Close this issue in favor of https://github.com/PrestaShop/PrestaShop/issues/29533

[2022-09-07 13:04] #29178 closed, assigned to nobody

[2022-09-07 13:22] florine2623 commented on #29560
Hello again @Kandax86 ,

Not all modules can be hooked to `actionObjectUpdateAfter` that's why I asked if you had a specific module ^^

I added the hook manually and I reproduced your issue.
<img width="910" alt="Screenshot 2022-09-07 at 15 16 41" src="https://user-images.githubusercontent.com/16019289/188887829-1e88faf3-5fc3-493f-a91b-378993a27c9f.png">

In FO, I have a memory limit:
<img width="

[2022-09-07 13:47] florine2623 commented on #29568
Hello @PululuK ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
And thanks for the PR !

[2022-09-07 13:55] nesrineabdmouleh opened #29572 "The customer age is not correct in 'FO > Your account > GDPR - Personal data> PDF file'"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Customer age is not correct  in 'FO

[2022-09-07 13:57] florine2623 commented on #29572
Hello @nesrineabdmouleh ,

It has been fixed by https://github.com/PrestaShop/psgdpr/pull/177.

So I close your issue ^^

[2022-09-07 13:58] #29572 closed, assigned to nobody

[2022-09-07 13:58] florine2623 commented on #29572
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/29074

[2022-09-07 14:00] cedricWebsenso commented on #29522
Hello @florine2623,
Thanks for your reply.
After choosing carrier and validate it, in my test I don't validate the step4, i directly return to home and see the js error in the console.
Have a nice day.

[2022-09-07 14:05] jsc-web commented on #29560
@florine2623 @Kandax86,

For information, the regression was inserted by this commit : https://github.com/PrestaShop/PrestaShop/commit/7779817d31463fc1e04be5f8d6431693ddaf7272

The error is juste the line with the $session->save(); on the Cookie object.

But this commit is part of a more global commit. No idea of the reason why.
The fix will be easy, the PR will just remove these line, but maybee

[2022-09-07 14:39] florine2623 commented on #29522
Could you provide a screenrecord ?
I still can't reproduce it following your advice.

[2022-09-07 15:20] NeOMakinG commented on #29399
Found the probem, RTL assets are not generated on upgrade, meaning that they are not updated while upgrading, you can fix it by removing every `*_rtl.css` files and activate/deactivate the language, as well as activate/deacivate the RTL feature of the language, it will regenerate the right rtl assets

As a fix from the core, we should regenerate _rtl assets on upgrade!

[2022-09-07 15:27] jf-viguier opened #29577 "Add the full smarty compiled path to debug page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-07 16:03] florine2623 commented on #29577
Hello @jf-viguier ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Thanks!

[2022-09-07 16:37] florine2623 commented on #29556
Hello @OliverCG ,

I have reproduced your case. I'm wondering if this is the expected behavior.
I'll ping the product team to have more info on it.

Please stay tuned!
Thanks!

[2022-09-07 16:37] florine2623 commented on #29556
@PrestaShop/product-team ,
When the prices are displayed tax excl. on the whole shop for a customer group, is it the expected behavior to calculate the shipping cost on the final price (tax incl.) or on the actual price (tax excl.)?

Example :
I have a carrier configured like this:
Cart < 100€ -> shipping cost 4€
Cart > 100€ -> shipping cost FREE
<img width="543" alt="Screenshot 2022-09-07 at 18 3

[2022-09-07 16:48] hibatallahAouadni commented on #29427
Hello @serwin35

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #28981.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-09-07 16:48] #29427 closed, assigned to nobody

[2022-09-07 16:48] hibatallahAouadni commented on #29427
Duplicate of #28981

[2022-09-07 17:41] danielkauffman commented on #29559
The beta was downloaded from https://github.com/PrestaShop/PrestaShop/releases/download/8.0.0-beta.1/prestashop_8.0.0-beta.1.zip

The errors (shown above) are copy-pasted from the browser console. Screenshot does not add anything.

The server environment works fine with PrestaShop 1.7.8.7, so the issue is not the server environment.

Have you viewed and understood the link to Stack Overflow? My be

[2022-09-07 18:01] danielkauffman commented on #29557
* host - not applicable
* server setup and configuration - PHP version was already provided, nothing else is applicable because the installer is running from the command line
* PrestaShop version (source) - git tag was already provided, here is the link to the download: https://github.com/PrestaShop/PrestaShop/releases/download/8.0.0-beta.1/prestashop_8.0.0-beta.1.zip
* debug mode report - there i

[2022-09-07 20:59] OliverCG commented on #29556
Hi @florine2623,

Sure, I'll stay tuned and eager to help with this issue. As you could reproduce it and in my opinion, it's not intuitive, specially for B2B e-commerce where the taxes are not so important. I understand that the shipping costs are tax excl. since I can select the tax through the dropdown list so, if it's the normal behavior, why don't let us select if the price ranges should be in

[2022-09-08 06:44] adrifi90 opened #29579 "Problem with 1-click upgrade"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

when I install your 1-click up

[2022-09-08 07:37] PululuK commented on #21493
ping @PrestaShop/prestashop-maintainers

[2022-09-08 08:18] kpodemski commented on #21493
I see no benefit to using this security layer after reading Pierre's response, as the attacker can easily omit it.

There's an ongoing discussion about the new PrestaShop API, so it's probably something to handle then.

cc @eshraw @MatShir

[2022-09-08 08:38] HanaRebaiQA commented on #29579
hello @adrifi90

Thanks for your report.
I was unable to reproduce your issue with **PS1780** using the `1-click upgrade module v4.14.2`.
Here is a screen-record :

https://user-images.githubusercontent.com/92912932/189076291-81f1ce59-dd02-4d0f-94c6-220e87e5db3c.mp4

Could you please check if it's a cache problem? Or maybe an environment configuration problem.

To clear your caches please check th

[2022-09-08 08:46] adrifi90 commented on #29579
Hello,

thanks for your reply.

I have disabled all caches, both server side and backoffice side and deleted the contents of the var/cache folder.

The problem remains.

Now I am trying to do a manual upgrade by replacing the contents of my installation with the files of the latest version available (1.7.8.7). As soon as it is finished, I will launch the database upgrade hoping that everything goe

[2022-09-08 08:51] HanaRebaiQA commented on #29579
Hello @adrifi90

Thank you for your response and we are waiting for your feedback.
Otherwise, if the problem still exists, could you please provide us a screen-record to can see the issue ?

Thank You!

[2022-09-08 09:17] Cameros-agency opened #29580 "id_shop is hardcoded in specific price rule form"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It seems the id_shop is hardcoded w

[2022-09-08 09:23] novagence opened #29581 "Issue for product variation multistore prestashop 1.7.8.7 with product V1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

Since the last update for Pres

[2022-09-08 09:53] matks commented on #29242
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29535

[2022-09-08 09:53] #29242 closed, assigned to matks

[2022-09-08 10:20] lartist commented on #21271
This bug is fixed in the product page v2.

[2022-09-08 10:20] #28345 closed, assigned to nobody

[2022-09-08 10:28] #21271 closed, assigned to lartist

[2022-09-08 10:41] PululuK commented on #21493
@kpodemski you assume that the attacker knows the IP address ? How then ?

[2022-09-08 11:47] hibatallahAouadni opened #29583 "BO - Bad display of error message while saving Low stock level"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While saving a wrong value for **Lo

[2022-09-08 12:19] sowbiba commented on #29542
@HanaRebaiQA You did not execute the test correctly. You upgraded the module twice.
From one execution to another the module is reloaded, so the container have the correct module version when you run it the second time

Reinstall the modules, upgrade just one time and check the values of ps_configuration EXAMPLE_MODULE_CONFIG and version in ps_module

[2022-09-08 13:57] matks commented on #29338
I believe the 4 lines here are computed separately:
<img src="https://user-images.githubusercontent.com/16067358/170534870-5937f024-7ac6-4f52-ae76-2677d877e7d9.png">

So we read the last line "Tax included" and we expect all above lines to be Tax included. But... I'm not sure the 3 above lines are indeed computed tax included.

[2022-09-08 14:07] matks commented on #28981
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29523

[2022-09-08 14:07] #28981 closed, assigned to jolelievre

[2022-09-08 14:08] matks commented on #29398
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29534

[2022-09-08 14:08] #29398 closed, assigned to matthieu-rolland, mparvazi

[2022-09-08 14:18] Kandax86 commented on #29560
Thank you for the answer that is the effect.
another solution consists by add a touch() function on ObjectModel which is not dependant of save and does not call the hook which only update date_upd as touch() function is supposed to do... and not calling the full save() function.

[2022-09-08 14:20] HanaRebaiQA commented on #29580
Hello @CIMEOS

Thanks for your report.
Is one of these issues are similar to yours [#27262](https://github.com/PrestaShop/PrestaShop/issues/27262), [#19056](https://github.com/PrestaShop/PrestaShop/issues/19056), [#25016](https://github.com/PrestaShop/PrestaShop/issues/25016) ?

Could you please check?

Thank You!

[2022-09-08 14:21] jsc-web commented on #29560
Hi @matks

The same behavior can be reproduce with all theses hooks  ;

actionObjectUpdateBefore
actionObjectEmployeeSessionUpdateBefore
actionObjectCustomerSessionUpdateBefore
actionObjectUpdateAfter
actionObjectEmployeeSessionUpdateAfter
actionObjectCustomerSessionUpdateAfter
actionObjectAddBefore
actionObjectEmployeeSessionAddBefore
actionObjectCustomerSessionAddBefore
actionObjectAddAfter
acti

[2022-09-08 14:32] #28983 closed, assigned to nobody

[2022-09-08 14:47] eshraw commented on #29338
Details on the expected behaviour in @khouloudbelguith 1st video :
- Price per unit should be displayed tax included, as a result it should display *€22,00 per unit, tax included*

[2022-09-08 15:23] jolelievre commented on #29166
And especially we should only do this for the next major v9 since it will probably introduce some breaking changes. The develop branch targets version 8.1.
So it's for later ^^

[2022-09-08 15:28] #28996 closed, assigned to MeKeyCool

[2022-09-08 15:29] matks commented on #28996
Fixed on Classic theme

[2022-09-08 15:30] matks commented on #28966
Fixed for 1.7.8.8 thanks to @leemyongpakvn in https://github.com/PrestaShop/PrestaShop/pull/29471

[2022-09-08 15:45] HanaRebaiQA commented on #29542
Hello @sowbiba

Thank you for your feedback.
Yes, indeed, i tried again to reproduce your issue when click one time to upgrade the module.
So, when i upgraded for the first time, the module is not upgraded : NOK
I think, this is the original issue, is that the module is not upgraded for the first time.

When, i click for the second time : OK

https://user-images.githubusercontent.com/92912932/1891

[2022-09-08 15:48] sowbiba commented on #29542
It is related to the Core. It depends on what hook are implemented by the module

To reproduce it in 1.7.8, use the second way I gave : upload the version 1.0.0, upload 1.0.1 and you'll have the same bug

[2022-09-08 16:00] HanaRebaiQA commented on #29542
@sowbiba Do you think it's a regression ?

[2022-09-08 16:03] sowbiba commented on #29542
The bug already exists in 1.7.8, so it's not a 8.0.0 regression

[2022-09-08 16:05] HanaRebaiQA commented on #29542
@sowbiba Cause I didn't found the upgrade option on PS1778 to reproduce the issue. So, I'm asking if it's a 1.7.8 regression.

[2022-09-08 16:08] atomiix commented on #29542
If it worked in 1.7.7.x, I'm really curious to know... HOW? 😅

[2022-09-08 16:10] sowbiba commented on #29542
The upgrade process have changed in 8.0.0
The way I did it with the module prestashopexampleupdatermodule giving the upgrade for prestashopexamplemodule doesn't exist for 1.7.8

To reproduce in 1.7.8 or previous versions, upload prestashopexamplemodule v1.0.0 and then upload prestashopexamplemodule v1.0.1, you'll have the same bug

[2022-09-08 16:16] mamorecab opened #29588 "Prestashop does not generate new cart rule when its total amount is not totally used when cart splits in 2 orders"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When a customer use a discount code

[2022-09-08 17:13] #28418 closed, assigned to jolelievre

[2022-09-08 17:13] Robin-Fischer-PS commented on #28418
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29497

[2022-09-08 20:04] Grezor commented on #28442
I have contributed to the translation, pending validation

[2022-09-08 21:01] matks commented on #28748
Note: when this topic is fixed, PR https://github.com/PrestaShop/autoupgrade/pull/479 can be tested again and hopefully validated

[2022-09-08 21:15] gabrielrey37 commented on #18541
Hello, thank you all, because this post solved this problem for me, I attach code to solve it through a module without touching the prestashop code.

<?php

if (!defined('_PS_VERSION_'))
    exit;

class FixBankWireMails extends Module
{
    public function __construct()
    {
        $this->name = 'fixbankwiremails';
        $this->tab = 'administration';
        $this->version = '1.0';
        $

[2022-09-09 03:09] costads commented on #29457
So I have tested a lot more, and what I found out is that it is running fine in a subfolder like this:
Domain.com/ps1787/

But as soon as it is moved to the root of the domain, I get that error i described from the beginning in this thread.

[2022-09-09 06:55] CIMEOS commented on #29580
Hello @HanaRebaiQA,
Thank you for your quick answer! :)
Indeed [#190](https://github.com/PrestaShop/PrestaShop/issues/19056) and https://github.com/PrestaShop/PrestaShop/issues/25016 seems related to mine since they mention non-multistore-compliant controllers.

[2022-09-09 08:47] HanaRebaiQA commented on #29542
Hello @sowbiba

Thank you for the provided details.
I tried to reproduce the issue on PS1787 using the [prestashopexamplemodule_1.0.1 (2).zip](https://github.com/PrestaShop/PrestaShop/files/9533749/prestashopexamplemodule_1.0.1.2.zip) for the upgrade.

I noticed that the upgrade option is added to the prestashopexamplemodule module and then the upgrade is well done from the first time.
The **1.0.1

[2022-09-09 09:17] AureRita commented on #29583
Hi @hibatallahAouadni  ,

I reproduce the issue with PrestaShop version 8.0.0 and not with the version 1.7.8.7.  You can see the issue on this video :

https://user-images.githubusercontent.com/100699445/189316262-3857c8ae-cd0e-4b08-874b-f30c1741dfe7.mp4

Nice catch ! It's a regression ! I'll add it to the patch backlog.

Please be aware that some issues might take a very long time to be resolved.

[2022-09-09 09:17] sLorenzini commented on #29164
hello,

@atomiix, I've retested with an upgrade from 1.7.7.5 to 1.7.8.7 (with the fix of https://github.com/PrestaShop/PrestaShop/pull/27422)

The error is still here:

- Before upgrade:

![Capture d’écran 2022-09-09 à 10 25 41](https://user-images.githubusercontent.com/2854834/189315995-4e41615b-e366-4ac5-882d-67749e679835.png)
![Capture d’écran 2022-09-09 à 10 26 01](https://user-images.gith

[2022-09-09 09:46] matks commented on #29236
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29441

[2022-09-09 09:46] #29236 closed, assigned to MeKeyCool

[2022-09-09 10:04] novagence commented on #29581
Hi,

Thanks for your return et your support.

Version 8.0 is currently in development, can we have a patch or a solution for version 1.7.8.7 who was deployed and considered stable by Prestashop ?

Thanks you

[2022-09-09 10:21] #29407 closed, assigned to atomiix

[2022-09-09 10:43] atomiix commented on #29164
@sLorenzini I think you changed the wrong translation. You went to `Shop.Theme.Catalog` instead of `Shop.Theme.Global`.
But anyway, it looks like there's still an issue when I see the DB

[2022-09-09 11:03] HanaRebaiQA commented on #29581
Hello @novagence

I have checked again with 8.0.x with Product V1 and different php versions (7.2 and 7.4 and 8.1)

[2022-09-09 11:16] HanaRebaiQA commented on #29581
Hello @novagence

I have checked again with **8.0.x with Product V1** and different php versions (7.2 and 7.4 and 8.1)
In fact, the issue is not reproduced **when we add a new shop after creating the product with the provided informations** (With combinations and with attached images)

So, i could manage to reproduce the issue. Here are the exact steps to reproduce :
1. Go to Shop parameters > Gen

[2022-09-09 11:57] borjagarciab commented on #29588
Hi,
I have the same error.

[2022-09-09 12:38] #28169 closed, assigned to MeKeyCool

[2022-09-09 13:04] jolelievre opened #29593 "Behat module tests mess with the core modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I run this behat tests:

`./ve

[2022-09-09 13:28] zuk3975 commented on #28831
I think all feedback was resolved in latest PR. So I close the issue.

[2022-09-09 13:28] #28831 closed, assigned to zuk3975

[2022-09-09 13:51] sLorenzini commented on #29164
indeed @atomiix my bad 😅. Here's the good screen of my translation of `Shop.Theme.Global` after the upgrade:

![Capture d’écran 2022-09-09 à 15 48 51](https://user-images.githubusercontent.com/2854834/189365662-a46e9c4f-6076-41e7-9dd5-359bcfd00004.png)

It doesn't keep the translation made before the upgrade. So there is still the issue 😉
Thanks

[2022-09-09 15:07] atomiix opened #29594 "Cannot manually upgrade a native module to a version that is not the last given by ps_distributionapiclient"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If I try to manually update (with a

[2022-09-09 15:16] AureRita commented on #29588
Hi @mamorecab

Thank you for your report, I reproduced your issue on 1.7.7.8 as you can see :

https://user-images.githubusercontent.com/100699445/189350974-728c8f87-eefa-49c0-ba40-456c69b30b08.mp4

And yes we can see there is none discount code sent
![image](https://user-images.githubusercontent.com/100699445/189351617-955bb7e9-9d82-4de2-a42f-db0ed022de17.png)

Currently :
![image](https://user-i

[2022-09-09 15:29] AureRita commented on #29593
Hi @jolelievre ,

I reproduce the issue with PrestaShop version 8.0.0, I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved.

Waiting for your PR :rocket:

Thanks

[2022-09-09 15:30] itis-mmi opened #29596 "Locked on a login redirect loop when upgrading to 1.7.8.x"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm trying to upgrade a store under

[2022-09-09 15:33] florine2623 commented on #27864
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29246

[2022-09-09 15:33] #27864 closed, assigned to MeKeyCool

[2022-09-09 15:40] matks commented on #28433
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29512

[2022-09-09 15:40] #28433 closed, assigned to MeKeyCool

[2022-09-09 15:41] matks commented on #29050
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29060

[2022-09-09 15:41] #29050 closed, assigned to nobody

[2022-09-09 16:17] HanaRebaiQA commented on #29543
Fixed by [#29545](https://github.com/PrestaShop/PrestaShop/pull/29545)

[2022-09-09 16:17] #29543 closed, assigned to FabienPapet

[2022-09-09 16:29] matks commented on #29286
See analysis https://github.com/PrestaShop/PrestaShop/pull/29322#issuecomment-1242195961

[2022-09-09 16:31] matks commented on #29543
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29545

[2022-09-09 16:31] matks commented on #27029
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29420

[2022-09-09 16:31] #27029 closed, assigned to atomiix

[2022-09-09 16:32] matks commented on #27029
Next release 1.7.8.8 should be working as expected :) @SD1982 @adminvr

[2022-09-09 19:21] gouna15 opened #29597 "PS 1.7.8.7 Cart doesn't update"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
Following an update from pre

[2022-09-10 10:07] Maarten1973 commented on #19764
Hello koreLewi,

How did you solve this issue? I've got the same problem.

[2022-09-10 10:11] avnet12 opened #29607 "Statslive module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

hello,
I would like to know why the

[2022-09-10 15:00] AndreyOgleznev opened #29608 ""Place Order" button is disabled when only 1 payment option is available"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The "Place Order" button is disable

[2022-09-10 15:20] cernekj commented on #29608
It is related to Classic Theme <https://github.com/PrestaShop/classic-theme>. I have fixed it for myself some time ago but have no time for PR.
Edit file `themes/classic/templates/checkout/_partials/steps/payment.tpl`
Line 61 should be:
[code]
Line 131 should be:
[code]

[2022-09-11 11:12] gmourier commented on #29597
I had the same problem with deleting an item from the cart on 1.7.8.7.

I replaced the core.js file in the themes folder with this [one](https://raw.githubusercontent.com/PrestaShop/PrestaShop/1.7.7.x/themes/core.js) and cleared the cache; it solved the problem.

I come from a clean install and have a custom theme.

[2022-09-11 11:52] PrestaEdit opened #29610 "While the URL call a module front controller without the name, it's throw an uncaught PrestaShopException"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While you have an URL calling a fro

[2022-09-11 13:10] PululuK commented on #29610
NOTE : In debug mode only

[2022-09-11 19:04] #12321 closed, assigned to nobody

[2022-09-11 19:04] #15463 closed, assigned to nobody

[2022-09-11 20:30] AndreyOgleznev commented on #29608
Thank you for suggestion. What is the $module_options variable?

[2022-09-12 06:24] kpodemski opened #29612 "Missing Smarty block around form fields"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The form_field Smarty block seems t

[2022-09-12 07:35] ytilotti commented on #27177
Same problem today without modification.
Cleared var/cache/prod and problem solved, weird.

[2022-09-12 08:15] HanaRebaiQA opened #29613 "BO - Module upgrade is not functional when upgrading modules with php8.0 and php8.1 (An alert is displayed)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The issue is mentioned here in this

[2022-09-12 09:19] matks commented on #28649
Handled by @nicosomb in https://github.com/PrestaShop/PrestaShop/pull/29615

[2022-09-12 09:30] hibatallahAouadni commented on #29594
Hello @atomiix

I was blocked in the steps two cause of this error, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/189620516-0e1b50df-e7c1-4c84-b473-dfdbb5e730a5.png)

Waiting for your feedback.

Thanks!

[2022-09-12 09:34] atomiix commented on #29594
@hibatallahAouadni it looks like psgdpr was not removed correctly and thus the psgdpr table was still present in the DB.
Also, what's your version of ps_distributionapiclient?

[2022-09-12 09:38] hibatallahAouadni commented on #29594
Hello @atomiix

My version of ps_distributionapiclient is v1.0.1
I upgraded to v1.0.2, and I tried again to upload the module. But, I still encounter the same error again :disappointed:
Waiting for your feedback.

Thanks!

[2022-09-12 09:49] MatShir commented on #28442
Nice ! don't hesitate to check the #[translation](https://join.slack.com/share/enQtNDA2NzA3MTY1MjE2Mi02ZDM3MTRmMDQ0OWZhYzYyZDlkNTkxNTkyZGZhYjVkZjE0ZmUyN2QxMGViZDFmZDg4MjQ1OTBlMjFjMzFjMmRj) channel in our slack for updates

[2022-09-12 09:57] hibatallahAouadni commented on #29597
Hello @gmourier & @gouna15

It seems that you didn't upgrade your theme while upgrading the shop :disappointed:
Please check this [comment](https://github.com/PrestaShop/PrestaShop/issues/29466#issuecomment-1231580340) it seems solve the same isssue as yours.
Closing the issue as it's not related to PS Core.

Thanks!

[2022-09-12 09:57] #29597 closed, assigned to nobody

[2022-09-12 09:57] hibatallahAouadni commented on #29597
Duplicate of #29466

[2022-09-12 10:13] hibatallahAouadni commented on #29607
Hello @avnet12

This module has been archived, it’s no longer maintained but you still can fork it if you need it for your shop.
Also let us know if you are voluntary to maintain this module.

Thanks!

[2022-09-12 10:13] #29607 closed, assigned to nobody

[2022-09-12 10:26] hibatallahAouadni commented on #29608
Hello @cernekj

Your issue is related to #28466 and we are aware of this issue as it is already in our debug backlog.
This issue is a duplicate of #29371.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-09-12 10:26] #29608 closed, assigned to nobody

[2022-09-12 10:26] hibatallahAouadni commented on #29608
Duplicate of #29371

[2022-09-12 10:36] hibatallahAouadni commented on #29610
Hello @PrestaEdit

I reproduce the issue with PS1778, PS1783, PS800_beta, only with debug mode enabled.
Ping @PrestaShop/prestashop-maintainers do you think it is a valid bug? cause with debug mode disabled I will be redirected to 404 page, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/189633275-8c59cbb4-26e0-4035-905b-595da7cb7fed.png)

Waiting fo

[2022-09-12 10:43] hibatallahAouadni commented on #29405
Hello @kamilrafik

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-09-12 10:43] #29405 closed, assigned to nobody

[2022-09-12 10:46] viv3s commented on #19281
My post was duplicate of this too #28759 any improve?

[2022-09-12 10:49] viv3s commented on #19281
¿Any improve or workarround fix ?

[2022-09-12 11:07] hibatallahAouadni commented on #29596
Hello @itis-mmi

I didn't manage to reproduce the issue, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/189636177-42eb59d3-0b01-4079-b4e8-0f44cd86fa49.mp4

As you can see, you made a mistake when you create an empty XML file in the same directory, you shouldn't!
Try again without adding the empty XML file :wink:
Closing the issue as it's not PS Core bug!

[2022-09-12 11:07] #29596 closed, assigned to nobody

[2022-09-12 12:13] hibatallahAouadni commented on #29612
Hello @kpodemski

Thanks for reporting the issue :pray:
I reproduce the issue only with PS800, it seems it's a regression on 800_beta, see the attached screenshots below:

### PS1.7.8.6

![image](https://user-images.githubusercontent.com/23308427/189650220-b38cfa87-aae2-4e77-b7bf-d9f89fe9e68e.png)

### PS8.0.0_beta

![image](https://user-images.githubusercontent.com/23308427/189650248-8ad0c9a7-642

[2022-09-12 12:33] MatShir commented on #29459
@slupostrupek I see you find a way to fix the issue. I would be nice if you can make a contribution, here some [doc](https://devdocs.prestashop.com/1.7/contribute/) if you need help. We would be happy to review your work ;)

[2022-09-12 12:44] itis-mmi commented on #29596
thank you for the answer @hibatallahAouadni.
I tried again without the XML file, but the result stays the same...

maybe the issue does come from some custom modules or themes, doesn't it ?
I'll try searching this way.

[2022-09-12 13:15] Hlavtox commented on #29612
@hibatallahAouadni 🔪

[2022-09-12 13:16] eshraw commented on #28688
Blocked by [PR29228](https://github.com/PrestaShop/PrestaShop/pull/29228)

[2022-09-12 13:37] eshraw commented on #29436
Impacted code could be located here : \ModuleCore::removeOverride

[2022-09-12 13:52] hibatallahAouadni commented on #29596
@itis-mmi yes, you may need to disable all non-native modules and to switch your theme to default theme "CLASSIC" before upgrading.

[2022-09-12 14:26] #29612 closed, assigned to nobody

[2022-09-12 14:32] #29189 closed, assigned to nobody

[2022-09-12 14:33] #29119 closed, assigned to nicosomb

[2022-09-12 14:59] hibatallahAouadni commented on #29559
Hello @danielkauffman

Thanks for your patience and your feedback :pray:
I tried many times to reproduce the issue but in vain, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/189687435-760dfe24-876f-4e26-90f9-d7371703433f.mp4

Waiting for your feedback.

Thanks!

[2022-09-12 15:08] matks commented on #29286
@atomiix is looking at it too ;)

[2022-09-12 15:41] hibatallahAouadni commented on #29613
Hello @HanaRebaiQA

@AureRita and me can't reprodcue the issue with ps_distributionapiclient v1.0.2, it seems to be fixed :tada:
So closing the issue!

Thanks!

[2022-09-12 18:24] hibatallahAouadni commented on #29557
Hello @danielkauffman

I didn't manage to reproduce the issue with the provided infos, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/189728379-39b1f503-4567-48ef-b47e-01879e1ed864.mp4

Waiting for your feedback.

Thanks!

[2022-09-12 20:30] scw-1937 opened #29618 "FO - contactform - Subject and Order Reference are empty after a response from Customer Service"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Subject is empty and Order Referenc

[2022-09-13 08:55] mflasquin commented on #27306
Hi,
The error is caused by the library nv.d3.js (admin-dev/themes/default/js/vendor/nv.d3.min.js).
The current version seems to be 1.1.15-beta (https://github.com/novus/nvd3/tree/v1.1.15-beta). If we replace it with the version 1.2.0 (https://github.com/novus/nvd3/tree/v1.2.0) all seems work good.
We can't push it now because of risk of BC break.

[2022-09-13 10:16] Pitt1823 commented on #19134
I confirm the issue is still a problem on 1.7.8
This is a major setback for international merchants, as shipping costs have a huge impact on the willingness to purchase from a foreign country.
I'd argue this is even more impactful when geolocalisation is turned on and the price showed before checkout is FREE shipping, setting high expectations for the user that are shuttered at checkout, when the

[2022-09-13 12:21] matks commented on #27306
Thank you @mflasquin for the exploration 👍

[2022-09-13 12:32] matks commented on #29424
Fixed by @atomiix https://github.com/PrestaShop/PrestaShop/pull/29549

[2022-09-13 12:32] #29424 closed, assigned to atomiix

[2022-09-13 12:34] florine2623 commented on #29618
Hello @scw-1937 ,

I reproduce the issue with PrestaShop version 1.7.7.8, 1.7.8.7, I'll add this to the backlog so it can be fixed.

I also reproduced the issue in 8.0.x and develop branch with a notice:
<img width="1298" alt="Screenshot 2022-09-13 at 11 43 21" src="https://user-images.githubusercontent.com/16019289/189901898-f7fe2030-9783-427d-9733-2bff877b986c.png">

Please be aware that some is

[2022-09-13 13:30] florine2623 commented on #29164
ping @MatShir @eshraw

Tested the following:
- install 1.7.7.5
- modify translation in Shop.Theme.Global in BO
<img width="1211" alt="Screenshot 2022-09-13 at 15 07 53" src="https://user-images.githubusercontent.com/16019289/189909304-737e3075-92bd-4723-9377-004a944c0477.png">
Translation is well saved in FO:
<img width="493" alt="Screenshot 2022-09-13 at 15 08 34" src="https://user-images.githubu

[2022-09-13 13:59] tga21 opened #29622 "Can't log to backoffice (prestashop 1.7.7.2)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi everyone,

I have had, in the la

[2022-09-13 14:18] sergioaraos opened #29623 "Dashboard Trends Shows No Sales if include September 4 in view range."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The dashboard trends module is not

[2022-09-13 14:43] sallemiines commented on #29583
i will check this PR

[2022-09-13 14:44] sallemiines commented on #29583
I will check this PR

[2022-09-13 15:13] #29522 closed, assigned to nobody

[2022-09-13 15:15] florine2623 commented on #29622
Hello @tga21 ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project, this is a specific issue on your shop. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](

[2022-09-13 15:15] #29622 closed, assigned to nobody

[2022-09-13 15:18] sergioaraos opened #29625 "Postcode is a required field in admin address form, but is not checked in country settings."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If I try to add a new address for a

[2022-09-13 15:25] cedricWebsenso commented on #29522
Hello @florine2623,
Thanks for the return, the issue is on https://github.com/PrestaShop/ps_googleanalytics/pull/125.
The issue was added to the next release of this module 4.1.3

For the context, i had installed a clean PrestaShop 1.7.6.5 without any theme, override, or anything else.
You can try it on https://ps1765.websenso.dev/

Best regards

[2022-09-13 15:28] florine2623 commented on #29623
Hello @sergioaraos ,

I can't reproduce your issue in PS 1.7.8.7.

Including September 4th:
<img width="1206" alt="Screenshot 2022-09-13 at 17 22 25" src="https://user-images.githubusercontent.com/16019289/189942758-676c5252-0dbb-4808-abdc-ff0aedb32d54.png">

Excluding September 6th:
<img width="1207" alt="Screenshot 2022-09-13 at 17 22 42" src="https://user-images.githubusercontent.com/16019289/1

[2022-09-13 15:28] #29623 closed, assigned to nobody

[2022-09-13 15:52] wverschaeve commented on #27984
@johannsnr any update on this issue?
experiencing the same issue on my prestashop

[2022-09-13 15:52] mflasquin opened #29626 "BO - Employee page - The password strength is always displayed even after cancelling the action"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Edit employee page, whe

[2022-09-13 16:13] florine2623 commented on #29626
Hello @mflasquin ,

I have reproduced the issue in 1.7.7.8, 1.7.8.7, 8.0.x and develop. This is not a regression. I'll add this to the backlog so it can be fixed.

In 1.7.7.8 and 1.7.8.7:
<img width="641" alt="Screenshot 2022-09-13 at 18 04 18" src="https://user-images.githubusercontent.com/16019289/189951703-debc4580-81ac-43ce-a3f0-ff136dc53a91.png">

In develop:
<img width="634" alt="Screenshot

[2022-09-13 16:16] #29151 closed, assigned to NeOMakinG

[2022-09-13 16:23] florine2623 opened #29627 "BO - Employees - Exception when adding an avatar with wrong extension"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When adding an image with extension

[2022-09-13 16:36] florine2623 commented on #29625
Hello @sergioaraos ,

I have reproduced your issue in PS 1.7.8.7, 8.0.x and develop. It is a regression, in PS 1.7.7.8 it was OK. I'll add this to the backlog so it can be fixed.

In Customer address:
<img width="802" alt="Screenshot 2022-09-13 at 18 34 33" src="https://user-images.githubusercontent.com/16019289/189957571-5e00a926-e3a9-4f57-8afc-634647c8a5de.png">

In Location > Countries:
<img wi

[2022-09-14 01:20] leemyongpakvn commented on #29627
@florine2623 This warning is the result of [PR 29022](https://github.com/PrestaShop/PrestaShop/pull/29022). I think it is Explicit enough, without UploadedImageConstraintException code it will be Implicit. Furthermore, this issue may be a duplicate of [issue 28985](https://github.com/PrestaShop/PrestaShop/issues/28985)

[2022-09-14 08:22] atomiix commented on #29164
I think that the issue is that with PrestaShop 1.7.8.x, the column `theme` should be `null` instead of `classic` when translating core translations. An autoupgrade script removing the theme column when theme is `classic` should be enough to fix the issue.

[2022-09-14 08:30] johannsnr commented on #27984
Hi

None not a single person helping, one guy said he would help but wanted
$30 and have not heard from him since. The platform is becoming more and
more useless as I find more bugs than I can count with nobody offering
solutions.

On 2022-09-14 01:52, wverschaeve wrote:

Links:
------
[1] https://github.com/johannsnr
[2]
https://github.com/PrestaShop/PrestaShop/issues/27984#issuecomment-124560973

[2022-09-14 09:27] Prestaworks opened #29631 "Breadcrumb for categories is not multistore compatible"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The Breadcrumb for categories is no

[2022-09-14 09:58] wverschaeve commented on #27984
@florine2623 any update on this issue, I see it is marked as minor but this seems quite an important feature to me

[2022-09-14 10:09] hibatallahAouadni commented on #27984
Hello @wverschaeve

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you.

If you manage to get the problem fixed, then please co

[2022-09-14 11:25] musaffar-patel opened #29634 "Unable to load template 'file:../public/preload.tpl' in 'header.tpl'"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After dowbnload the Prestashop 8.0

[2022-09-14 12:02] hibatallahAouadni commented on #29434
Hello @musaffar-patel

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-09-14 12:02] #29434 closed, assigned to nobody

[2022-09-14 12:03] hibatallahAouadni commented on #29439
Hello @augustomurri

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-09-14 12:03] #29439 closed, assigned to nobody

[2022-09-14 12:06] #29461 closed, assigned to nobody

[2022-09-14 12:07] #29437 closed, assigned to nobody

[2022-09-14 12:39] matks commented on #29610
Hello all, I think it actually is quite interesting like this.

With debug mode off, we have the expected behavior: a 404 response.

With debug mode on, we are in a situation where developers are working on the shop/module and need plenty informations.

So I think "throwing an exception" (current behavior) is not great but it is quite good to have an Error, it would help a module developer working

[2022-09-14 12:41] #29610 closed, assigned to nobody

[2022-09-14 12:41] matks commented on #29368
Sounds like a good idea :)

[2022-09-14 14:18] hibatallahAouadni commented on #29634
Hello @musaffar-patel

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. It seems your issue is related to your custom theme and modules.

Closing the issue as we only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with Pr

[2022-09-14 14:18] #29634 closed, assigned to nobody

[2022-09-14 14:40] #16128 closed, assigned to nobody

[2022-09-14 15:00] #26996 closed, assigned to matks

[2022-09-14 15:02] matks commented on #26996
Will be fixed by ps_viewedproduct 1.2.3 https://github.com/PrestaShop/ps_viewedproduct/pull/25

[2022-09-14 15:05] hibatallahAouadni commented on #29580
Hello @CIMEOS

Thanks for your feedback and your patience :pray:

Could you please provide more details about this step cause it really hard to reproduce your issue :pray:
Did you create a cart rule in shop_id 1? and how did you migrate this cart rule to the new shop?
Waiting for your feedback.

Thanks!

[2022-09-14 15:07] HanaRebaiQA opened #29637 "BO & FO - The default Carrier is wrong after an upgrade from 1.7 to 8.0.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The default Carrier is wrong after

[2022-09-14 15:08] hibatallahAouadni commented on #29627
Hello @florine2623

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #28985.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: thanks @leemyongpakvn you rock :raised_hands: :rocket:

Thanks!

[2022-09-14 15:08] #29627 closed, assigned to nobody

[2022-09-14 15:08] hibatallahAouadni commented on #29627
Duplicate of #28985

[2022-09-14 15:34] matks commented on #28748
After exploring with @khouloudbelguith the topic here are the usecases that are implemented (and work as expected on branch 8.0.x) and the ones that need to be fixed:

# API endpoint /api/attachments/file

Note: Attachments are a MySQL entity (= line in a SQL table) that is linked to a file on disk

This endpoint allows to modify the _file on the disk_ and the relation between the MySQL entity and

[2022-09-14 15:48] hibatallahAouadni commented on #29634
did you run `make install` ? if no, try to run it :wink:

[2022-09-14 15:51] hibatallahAouadni commented on #29631
Hello @Prestaworks

Did you encounter this issue with the older version like 1.7.8.6 or 1.7.7.8?
Waiting for your feedback.

Thanks!

[2022-09-14 18:38] matks opened #29641 "CI fails on branch 8.0.x / bad PHP float comparison"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

CI is failing on branch 8.0.x. A PH

[2022-09-15 05:22] sonosergio commented on #28302
**This is not a bug but a feature**

- Available - products available for order even if at quantity 0
- In stock - products available for order with quantities > 0
- Not available - products not available for order

[2022-09-15 06:43] Prestaworks commented on #29631
Yes, it was present in 1.7.7.5 also (maybe earlier also)

[2022-09-15 06:53] CIMEOS commented on #29580
Hi @hibatallahAouadni

Of course! I know it's a tricky one to reproduce. 😅

The part on data migration does not help reproduce this issue, I shouldn't have mentioned it, my bad!
So to reproduce:

1. Switch your store to multistore
2. Create another shop (id is 2)
3. Delete the first store (id 1)
3. Try creating a catalog price rule (shop selection should not be available).
4. Check in the database

[2022-09-15 07:22] johannsnr commented on #27984
Hi

I have done quite a bit of work to find out where the problem is with
this issue and one of my major stumbling blocks is to find the exact
file handling this section of the framework.

If you could point me in a direction how to find particular file I would
fix the issue myself.

I have found a list of other issues that I would like to contribute back
to the project but again it is trying to f

[2022-09-15 07:25] johannsnr commented on #27984
It is not a minor issue. What is the purpose of an ecommerce framework
if customers cannot pay for products. It becomes useless!

What I have determined thus far is that the variable passed onto the
email section is empty. Now from there it is fairly complex to get the
particular customer details and cart details so that a token can be
generated to connect to the payment gateway API to manage to p

[2022-09-15 07:38] kpodemski commented on #27984
Hello @johannsnr

I'm afraid that this feature is often directly integrated with your payment provider module.

The module should somehow provide this variable because the links to the payment differ from one to another.

The question is: is this a core fault, or are modules not implementing this properly? :)

[2022-09-15 07:43] PrestaEdit opened #29642 "[Feature] Use a ThemeUpdater tools to allow theme to be updated like a module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-15 07:46] PrestaEdit commented on #27109
Hi everyone,
Hi @Julievrz,

FYI, it's still the same translations inside the 8.0.0 version.

[2022-09-15 07:58] johannsnr commented on #27984
If that is the case that it is both on STRIPE and PAYPAL and I do not
think it is an issue with either gateways. I have worked and coded a
number of checkouts to use with STRIPE and the token from STRIPE for
each checkout should be stored in the database which in my opinion does
not happen or it is missing.

How else is the system supposed to "know" which transaction should
payment be made for.

H

[2022-09-15 08:02] wverschaeve commented on #27984
{order_link} should direct to step 3 from order page.
Nothing to do with payment provider module but order page step 3 where payment method needs to be selected

src\Adapter\Order\CommandHandler\SendProcessOrderEmailHandler.php

private function getEmailTemplateVars(int $cartId, Language $cartLanguage, Customer $customer): array
    {
        $orderLink = $this->contextLink->getPageLink(

[2022-09-15 08:08] Prestaworks commented on #9676
time to "ping" again :)

[2022-09-15 09:17] matks commented on #29491
Taken by @mflasquin

[2022-09-15 09:28] matks commented on #29399
@HanaRebaiQA On your video I did not see the pop-up badly displayed. Can you please provide a screenshot ?

[2022-09-15 09:37] matks commented on #29641
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29643

[2022-09-15 09:37] #29641 closed, assigned to atomiix

[2022-09-15 09:56] AureRita commented on #29642
Hi @PrestaEdit  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.

Waiting for your PR :rocket:

Thank you

[2022-09-15 10:06] Julievrz commented on #27109
Hi @PrestaEdit, and thank you!

Translations are managed on https://crowdin.com/project/prestashop-official. Feel free to join the project as a French translator. ☺️

[2022-09-15 10:10] PrestaEdit commented on #27109
If I've done it well, I have manage to propose the change there :)

[2022-09-15 10:35] Dreimus commented on #23664
Hello @jf-viguier

As a workaround, you can convert your form with the symfony way and use the CategoryChoiceTreeType, which allows you to specify the js id for the category tree initialization.

CF : https://webkul.com/blog/display-category-choice-tree-in-modern-form-in-prestashop-1-7/

[2022-09-15 12:40] Julievrz commented on #27109
Great! I validated your suggestion, thank you. Please note we're facing some issues with the synchronization of Crowdin and the back office right now. So, you might not be able to see the update on your store now. The developer team is working on it. :)

[2022-09-15 13:11] AureRita commented on #29580
Hi @CIMEOS !

Thank you for the details, but can you give us more details ?

Can you say me how can you delete your first store, as you can see on this video, I can't delete the first store :

https://user-images.githubusercontent.com/100699445/190411849-10dc6cb4-03f8-49a9-b1be-4add92ff6e83.mp4

Can you say us also the name of the files in database to check ?

Thank you

Waiting for your feedback

[2022-09-15 13:34] AureRita commented on #29631
Hi @Prestaworks ,

I reproduce the issue with PrestaShop version 1.7.6.5, I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved.

Thanks for all the details !

[2022-09-15 13:44] #29539 closed, assigned to nobody

[2022-09-15 13:49] cy-altern opened #29648 "blockreassurance SQL query error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

With a Prestashop v 1.7.8.7 freshly

[2022-09-15 13:50] matthieu-rolland opened #29649 "Autoupgrade: missing translations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the auto-upgrade module, there a

[2022-09-15 13:59] CIMEOS commented on #29580
Hi @AureRita,
To delete your first store, you need to select another store as the default store in Configure>Advanced Parameters>Multistore.
Once you've done this you can delete the shop with id 1. Be sure to keep only one store to reproduce the issue!

Then you can create a new catalog price rule and check in the table "ps_specific_price_rule" the id_shop will be set to 1.

The files responsible

[2022-09-15 14:09] matthieu-rolland commented on #29248
Hi @TouchCab , thank you for your interest, this issue si being taken care of..;

To answer your question, you get this XML when you create a release from a PrestaShop project, from the root of your prestashop project in CLI: `php tools/build/CreateRelease.php`

You will also find this file in the zip when you download a PrestaShop release

[2022-09-15 14:30] AureRita commented on #29580
I retry to delete the first store and follow your indication to delete them but as you can see I didn't have some button to do it :

https://user-images.githubusercontent.com/100699445/190430069-a40080db-134d-498f-9ad7-67ebd917cf36.mp4

Moreover, in my case, when I create a discount, as you can see, that writte nothing on "specific_price_rule"

https://user-images.githubusercontent.com/100699445/1

[2022-09-15 15:04] arirangz commented on #29374
Hi @AureRita ,

Thanks again for your test.

So I don't know why I don't have the partial refund with the status Awaiting for bank transfer.

I guess you can close this issue.

Thanks again

[2022-09-15 15:14] AureRita commented on #29374
Thank you too @arirangz for all the time you give us to improved prestashop,

maybe [contacting a professional](https://www.prestashop-project.org/support/) will help you.

Have a great day

[2022-09-15 15:14] #29374 closed, assigned to nobody

[2022-09-15 15:17] CIMEOS commented on #29580
Please find attach this screen record to explain how to delete shop with id 1. (In my record it's id 6 but the steps are the same).

https://user-images.githubusercontent.com/6168624/190440274-8fa7851c-477d-4d17-800b-68b927dcd9d0.mp4

Then there is a screen record for the catalog price creation:

https://user-images.githubusercontent.com/6168624/190441688-09beb4ab-11e6-4856-bbd3-fcd0c6f0e381.mp4

[2022-09-15 15:18] atomiix opened #29651 "Module manager thrown an exception module ps_distributionapiclient is deleted"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I delete the module ps_distrib

[2022-09-15 15:29] mflasquin commented on #29517
Hi @AureRita do you still reproduce the issue ?

[2022-09-15 15:39] matks opened #29652 "Bad PHP float comparison in Tools"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-15 15:39] AureRita commented on #29648
Hi @cy-altern,

Thank you for your report. I try to reproduce your issue but I didn't see this querry as you can see

https://user-images.githubusercontent.com/100699445/190447119-4c2ccb90-39d6-43fd-8cc1-db3f98a81fae.mp4

can you tell us which version of block reassurance did you have ?

waiting for your feedback

[2022-09-15 15:58] matks commented on #29286
@adviva Fixed by https://github.com/PrestaShop/PrestaShop/pull/29322

[2022-09-15 15:58] #29286 closed, assigned to atomiix, zuk3975

[2022-09-15 16:15] matks commented on #29642
Reminds me of https://github.com/PrestaShop/PrestaShop/issues/13663 😄

[2022-09-15 16:18] hibatallahAouadni commented on #29594
Hello @atomiix

Thanks for all your feedback on this issue (on Slack).
I reproduce the issue with PS8.0.x, ps_distributionapiclient v1.0.1, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/190455681-f090f6cb-7f13-4ea4-9ea4-f960024cd8cc.mp4

Thanks for your PR :superhero:

[2022-09-15 16:19] matks opened #29653 "Implement PUT and PATCH for endpoint /api/images/products/{product_id}/"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-15 20:58] TouchCab commented on #29248
Unless I’m being particularly stupid, the xml isn’t in the zip…?

[2022-09-16 06:49] johannsnr commented on #27984
This is all good but what I don't see is the SQL query. I have looked at
this file before and there is nothing wrong with the code which leads me
to believe there is a problem with where the data is coming from, why
else would the order_link be empty when sent in an email or just normal
text.

On 2022-09-15 18:02, wverschaeve wrote:

Links:
------
[1]
https://github.com/PrestaShop/PrestaShop/issue

[2022-09-16 06:52] Prestaworks commented on #9676
Should I try to fix this new design in the PR? or will someone with a bit more frontend expertise do that? :)

[2022-09-16 07:57] nicosomb opened #29654 "Behavior while logout on wishlist is not consistent"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I was on a wishlist details, I clic

[2022-09-16 08:23] #28291 closed, assigned to zuk3975

[2022-09-16 08:28] cy-altern commented on #29648
version : Réassurance v5.1.1 - par PrestaShop

[2022-09-16 08:34] FactoryBike opened #29656 "Error "VAT number validation service unavailable""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Error "VAT number validation servic

[2022-09-16 08:39] Hlavtox commented on #29656
Hi, the issue is related to vatnumber module (https://github.com/PrestaShop/vatnumber), that archived for a long time and not supported anymore.

Unfortunately, the API that the module uses has been disabled some time ago and the module stopped working completely. 😞 I suggest to disable the online check in module settings for now, and start looking for a working 3rd party alternative.

[2022-09-16 08:48] szykuc commented on #9680
It still not fixed? I can reproduce it in 1.7.8.7

[2022-09-16 08:48] szykuc commented on #15383
It still not fixed? I can reproduce it in 1.7.8.7

[2022-09-16 08:54] hibatallahAouadni commented on #29652
Hello @matks

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
Waiting for your PR :rocket:

Thank you

[2022-09-16 08:58] FactoryBike commented on #29656
Ok, thanks. We found another module.

[2022-09-16 08:58] #29656 closed, assigned to nobody

[2022-09-16 09:17] hibatallahAouadni commented on #29653
Hello @matks

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
Waiting for your PR :rocket:

Thank you

[2022-09-16 09:24] hibatallahAouadni commented on #29651
Hello @atomiix

I was able to reproduce the issue with PS8.0.0 and `ps_distributionapiclient` v1.0.1.
I’ll add this to the debug backlog so that it’s fixed. Waiting for your PR :rocket:
Thank you

[2022-09-16 09:56] matks commented on #29649
@AureRita I think in order to reproduce the problem you need to use the wording extractor tool.

If this tool is controlled by a developer, can developers validate this topic and the PR https://github.com/PrestaShop/autoupgrade/pull/505 ?

[2022-09-16 10:19] sallemiines commented on #29654
Hello @nicosomb

I reproduce the issue with PrestaShop version 1778,1787,8.0.x , develop  I'll add this to the backlog so it can be fixed.
you can see the issue here:

https://user-images.githubusercontent.com/31663369/190617588-9d3e0ab8-703b-448e-acb5-5cb8cb5d5e8d.mp4

If you manage to get the problem fixed, then please contribute the fix back to the project as a [Pull Request](https://devdocs.pr

[2022-09-16 10:35] florine2623 opened #29659 "FO Quickview - customised product can't be added to cart when customization is required"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Can't add a custom product _with re

[2022-09-16 10:47] hibatallahAouadni commented on #29648
Hello @cy-altern

I didn't manage to reproduce the issue with PS1787 and Réassurance v5.1.1, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/190622305-ba0f70d2-4b40-4637-b9c1-dfe824d1fea4.mp4

Did you apply some changes or overrides on this module? and could you please provide a screen record of your issue :pray:
Waiting for your feedback.

Thanks!

[2022-09-16 10:54] matthieu-rolland commented on #29248
no you're not, it's my mistake :)
Indeed you will only see this xml if you create a release from a prestashop, when doing an upgrade from a local archive (the xml is not in the distrubuted archives)

[2022-09-16 11:21] cy-altern commented on #29648
I haven't any overrides on this module
![prestoshop_reassurance_tree_no-override](https://user-images.githubusercontent.com/5904309/190624368-fc110338-6c7e-421a-bd6e-ecd80fb924c7.jpg)

The screen record :
https://user-images.githubusercontent.com/5904309/190627887-cd16fa22-9423-4c38-b17d-c58d3df8c5a3.mp4

[2022-09-16 12:57] nicosomb commented on #29654
In fact, no need be logged and to click on logout link.

With anonymous user, just go on `module/blockwishlist/view?id_wishlist=ID` and you have this behavior.

[2022-09-16 13:14] hibatallahAouadni commented on #29649
Hello @matks

Thanks for your feedback :pray:
Ping @PrestaShop/prestashop-core-developers can someone please try to reproduce the issue :pray:

Thanks in advance!

[2022-09-16 13:20] #29648 closed, assigned to nobody

[2022-09-16 13:25] florine2623 opened #29661 "BO - Design page is not displayed in Link List if parent category is disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When my page and the category paren

[2022-09-16 14:14] kpodemski commented on #26568
Hello @PrestaShop/qa-team

We have PR Available with the fix for this issue + detailed explanation there:
https://github.com/PrestaShop/PrestaShop/pull/29258#issuecomment-1223126475

Can we simply reopen this issue and use the author's comment as a "How to reproduce"?

[2022-09-16 14:28] hibatallahAouadni commented on #29580
Hello @CIMEOS

I didn't manage to reproduce the issue cause I was blocked in the third step, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/190662801-0cdb7866-5bdf-42f4-9ee4-9dd51b4d0e0f.mp4

Waiting for your feedback.

Thanks!

[2022-09-16 14:31] florine2623 opened #29663 "BO - Shopping carts - Custom product image does not appear"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This bug was found while testing PR

[2022-09-16 14:36] hibatallahAouadni commented on #9676
@NeOMakinG wdyt?

[2022-09-16 14:40] hibatallahAouadni commented on #26568
Hello @kpodemski

Ofc we can :wink:
Changing the issue status to New

Thanks for the ping

[2022-09-16 14:46] sallemiines commented on #29661
Hello @florine2623

I reproduce the issue with PS1778, PS1787, PS80x .
Ping @PrestaShop/product-team do you think it is a valid bug?
beacause its look a logique behavior , when the category is disabled it will not appear in the content list
 see the attached screenshot below:

https://user-images.githubusercontent.com/31663369/190666349-98fa8e04-dff9-4182-a6c4-28dffe61e35d.mp4

Waiting for your fe

[2022-09-16 14:48] matks commented on #28041
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29635

[2022-09-16 14:48] #28041 closed, assigned to zuk3975

[2022-09-16 14:49] matks commented on #29185
PR https://github.com/PrestaShop/PrestaShop/pull/29635 on 1.7.8.x

[2022-09-16 14:53] matks commented on #28748
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29638

[2022-09-16 14:53] #28748 closed, assigned to matks

[2022-09-16 14:56] kpodemski commented on #29580
@hibatallahAouadni

You need to change your default shop in the settings to the shop that is not === 1, you can do that by editing `PS_SHOP_DEFAULT` in the `PREFIX_configuration` because I see that this option is no longer available in BO for some reason 🤔

[2022-09-16 14:56] matks commented on #29185
In order to fix this issue, we need to merge 1.7.8.x into 8.0.x

[2022-09-16 15:07] lartist commented on #29399
Up

[2022-09-16 15:19] khouloudbelguith opened #29666 "[PHP8.1]/[PHP8.0] PATCH for endpoint /api/products/{product_id}/ and /api/categories/{category_id} are NOK"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Using PHP 8.1 & PHP8.0, The HTTP re

[2022-09-16 15:25] matks commented on #29666
@khouloudbelguith Is it the same https://github.com/PrestaShop/PrestaShop/issues/29653 😄 ?

[2022-09-16 15:26] hibatallahAouadni commented on #29634
You can ask @Hlavtox :wink: he uses Windows

[2022-09-16 15:40] khouloudbelguith commented on #29666
Hello @matks,

No, it is not the same issue:
#29653: The HTTP PUT & PATCHrequest is not working for endpoint `/api/images/products/{product_id}/` in all PHP versions
#29666: the HTTP PATCH is not working for endpoint` /api/products/{product_id}/` and `/api/categories/{category_id} `only with php8.0 & PHP 8.1, it is ok with php7.4

Thanks!

[2022-09-16 15:41] jolelievre commented on #29666
It's not the same endpoints, this PR is about entities endpoints. The https://github.com/PrestaShop/PrestaShop/issues/29653 is about images of these entities.

[2022-09-16 15:47] CIMEOS commented on #29580
@hibatallahAouadni
Indeed you need to delete your customers and orders from the shop with id 1 to be able to delete it. I know this should never happen due to legal compliance but it's a test case so it's ok :).

Can you please delete all data in `PREFIX_orders` and `PREFIX_customer` where id_shop id is equal to 1 and try to delete it once it's done?

[2022-09-16 16:08] khouloudbelguith opened #29667 "Install - Informations step - the Password requirements and the tooltip are not displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It is related to this PR: https://g

[2022-09-16 16:30] MhiriFaten commented on #26568
Hello @kpodemski ,

I tested the issue with PS1.7.7.8
[Untitled_ Sep 16, 2022 5_30 PM.webm](https://user-images.githubusercontent.com/111756615/190686317-7f22da6a-39f1-46cc-b0ad-ad104ff0ec96.webm)

I was able to reproduce the issue with PS1.7.8.0.
I’ll add this to the debug backlog so that it’s fixed. Waiting for your PR

[Untitled_ Sep 16, 2022 4_41 PM.webm](https://user-images.githubusercontent.

[2022-09-16 16:35] sallemiines commented on #29667
Hello @khouloudbelguith

I was able to reproduce the issue with PS8.0.x.
I’ll add this to the debug backlog so that it’s fixed.

Thank you !

[2022-09-16 18:58] matks commented on #29667
Explanation of the problem:

When we merged https://github.com/PrestaShop/PrestaShop/pull/29273, the file `install-dev/theme/js/sprintf.min.js` was modified by the license header updator. The behavior of the file was not modified BUT as the file changed, the integrity check now fails, causing an error when attempting to load it inside the Installer "Informations" step (see screenshot below)

![Cap

[2022-09-16 21:56] bullmade opened #29671 "Not possible to upgrade multiple modules at once"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

it is not possible to upgrade multi

[2022-09-16 22:01] cretbogdan01 opened #29672 "Backoffice fatal error : Call to a member function set() on integer"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I restored my shop after some issue

[2022-09-17 15:27] AlexisVS commented on #28522
![image](https://user-images.githubusercontent.com/63750707/190864451-4978ad71-fd4f-4fa1-9741-e2854cf118ea.png)

Problem with transport price. I dont know more

[2022-09-17 15:37] AlexisVS opened #29673 "Problem for save price of zone in the transport"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I try to set price for transport zo

[2022-09-17 16:52] AlexisVS commented on #29673
Okey, I have solved this problem it's because my php config have only 1000 max_input_vars

![image](https://user-images.githubusercontent.com/63750707/190867842-b577820c-cdf5-450f-b256-898ba71fb87a.png)

[2022-09-18 00:04] bullmade opened #29674 "Add "preview" icon and "duplicate" option for CMS pages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-18 06:52] arpanjain100 opened #29675 "Prestashop 1.7.8.7 Auto Log Out on Product Page Only"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Front End Problem
On loading any pr

[2022-09-18 16:39] clotairer opened #29676 "Store sensitive configuration as encrypted data"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-18 17:22] touchweb-vincent commented on #29676
And if i can add something : this is urgent.

[2022-09-18 17:46] Hlavtox commented on #29674
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/28079

[2022-09-18 18:44] Hlavtox opened #29679 "Grid action column problems and improvements"
### Describe the bug and add screenshots

If you set some actions as `'use_inline_display' => true,` and some not, it causes bad display. They should be in one line.

![inline or not](https://user-images.githubusercontent.com/6097524/190923028-6638206f-5ded-4305-94b0-b176d79a64b5.jpg)

If there are only two actions, we don't have to render the hamburger menu by default. It's only an extra click.

[2022-09-18 19:52] jf-viguier commented on #29676
A must have

[2022-09-18 21:09] #29673 closed, assigned to nobody

[2022-09-19 07:08] MeKeyCool commented on #27665
Friendly reminder @PrestaShop/qa-team :relaxed:

[2022-09-19 07:15] matks commented on #29676
Hello @clotairer that is a really nice idea and actually another prestashop user mentioned  it a few months ago

We however ran into some problems: let's say we merge this PR in 8.1.0 . What happens for users who upgrade from 8.0.0 to 8.1.0 ? They start with an unencrypted database then after upgrade the database content is expected to be encrypted.

And we know Configuration mysql database can so

[2022-09-19 07:21] matks commented on #29676
Note: I can remember discussing this almost 2 years ago https://github.com/PrestaShop/PrestaShop/issues/22540#issuecomment-753858590

[2022-09-19 07:26] jocel1 commented on #29676
I confirm the Configuration table is loaded fully on every page calls into a php array. If you plan to implement this feature, I would recommand to implement a mecanism which would store the parsed result in a key/value database like redis for example, and handle properly the invalidation when the table is updated through a call to the Configuration::updateValue / ::set etc...

[2022-09-19 07:34] NeOMakinG commented on #9676
If you give me the right to push on your fork, I'll do it in the PR directly

[2022-09-19 07:38] Prestaworks commented on #9676
I added you as a collaborator to the fork.

[2022-09-19 07:52] jf-viguier commented on #29676
The idea is to use encryption only on sensitive information (tokens, passwords), so IMO the perf is not a big concern for less than 10 configuration keys.

[2022-09-19 07:53] clotairer commented on #29676
I'm not sure it's important to have all data encrypted. Only secret API keys, ...

[2022-09-19 07:54] jf-viguier commented on #29676
Just read the PR :
"In a module, just use CryptedConfiguration::updateValue('CONFIG_KEY', 'clear value'); to store a configuration and CryptedConfiguration::get('CONFIG_KEY') to get the clear value stored in the database."

[2022-09-19 07:58] AureRita commented on #27665
Hi @atomiix and @MeKeyCool,

this issue #28014 block us to test it with gmail or outlook, we can only use a email catcher like maildev, so we can't see if it's corrected with this two different mail. Indeed the email generation done by prestashop didn't give us all the details. If you :

8. Click on Send a test email for any classic layout

you'll not have the mail and when you will test your emai

[2022-09-19 07:58] hibatallahAouadni commented on #29673
Hello @AlexisVS
Thanks for your feedback :smile:

[2022-09-19 08:10] maofree commented on #15406
HI @matks
in these months I can tell you what's wrong with this checkout.
The biggest problem with multiple customers is the shipping step, when multiple addresses are added. In practice, what creates problems for customers is understanding that they have to choose the shipping and billing address. If there are 2 addresses they see 4 addresses, 2 to choose for shipping and 2 to choose for billing.

[2022-09-19 08:17] paulnoelcholot commented on #29676
Hello @clotairer

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.

If you or anyone else is willing to [contribute this feature](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/) to the PrestaShop Project, the teams will be

[2022-09-19 08:18] MeKeyCool commented on #27665
Maybe I don't understand your testing environment then :thinking:
You don't have any command line access, do you ?

[2022-09-19 08:26] AureRita commented on #29517
Hi @mflasquin,

I tried to reproduce this issue on the 8.0.x branch, as you can see, I can't reproduce it anymore.

https://user-images.githubusercontent.com/100699445/190977777-365ffd68-53c4-480c-ae04-4ca3081d4d77.mp4

Thank for your question

[2022-09-19 08:26] mflasquin commented on #29517
Hi, @AureRita, this PR https://github.com/PrestaShop/PrestaShop/pull/29512 fix the upgrade all button issue.
I will check to find a solution to clear the cache after the last upgraded module.

[2022-09-19 08:31] paulnoelcholot commented on #29674
Hello,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #28079.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you

[2022-09-19 08:31] #29674 closed, assigned to nobody

[2022-09-19 08:32] paulnoelcholot commented on #29674
Duplicate of #28079

[2022-09-19 08:32] bullmade commented on #29674
What about the duplicate feature?

[2022-09-19 08:42] paulnoelcholot commented on #29674
Hello @bullmade

In this issue, you're asking us to add a `preview` button and a `duplicate` button in the **Pages list** and a `preview` button in **Edit Page**.
And as you can see in this feature #28079 @Hlavtox already created a PR where he add these two buttons:
a `preview` button in the **Pages list**
a `preview` button in **Edit Page**
So, we can ask @Hlavtox to add a new `duplicate` button

[2022-09-19 08:42] #29517 closed, assigned to mflasquin

[2022-09-19 08:43] Cameros-agency opened #29681 "KeyWord search in Faceted Search"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-19 08:44] bullmade commented on #29674
Would be great!

[2022-09-19 08:52] HanaRebaiQA commented on #29399
Hello @matks

Yes! You are right. The video in question is not attached.
I updated the description by adding the screen-record and a screen-shot.

Thank You!

[2022-09-19 08:58] hibatallahAouadni commented on #28079
Hello @Hlavtox

Could you please add/modify your PR following this new proposed design:

![image](https://user-images.githubusercontent.com/23308427/190982996-d35d1028-2de8-4e35-a7e8-bc53e39feec9.png)

Ping @PrestaShop/ux-team could you please check and approve it :pray:
FYI: @bullmade :wink:

Thanks!

[2022-09-19 09:07] paulnoelcholot commented on #29681
Hello @CIMEOS

Can you suggest me a design for the location of the keyword filter?
Can you specify what kind of keyword you wanna use? :pray:

Waiting for your feedback.

Thanks

[2022-09-19 09:07] clotairer commented on #29676
@paulnoelcholot my expectation exceeds just "consideration for future developments"...

[2022-09-19 09:27] paulnoelcholot commented on #29671
Hello @bullmade

This issue is a duplicate of this one https://github.com/PrestaShop/PrestaShop/issues/14722 and as you can see we were not able to reproduce the issue.
And, we encounter the same on PS8.0.0 (see this issue https://github.com/PrestaShop/PrestaShop/issues/29517), fortunally the issue has been fixed with this PR https://github.com/PrestaShop/PrestaShop/pull/29512
So, closing the issu

[2022-09-19 09:27] #29671 closed, assigned to nobody

[2022-09-19 09:28] paulnoelcholot commented on #29671
Duplicate of #14722

[2022-09-19 09:32] paulnoelcholot commented on #29672
Hello @cretbogdan01 ,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it.
**You must follow the template and provide clear and concise steps to reproduce the bug**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue i

[2022-09-19 09:32] #29672 closed, assigned to nobody

[2022-09-19 09:41] paulnoelcholot commented on #29675
Hello @arpanjain100

You probably have ps installed in a subfolder with wrong webserver configuration.

Could you please check and feedback?

Thanks

[2022-09-19 09:47] matks commented on #29185
Merge PR is here https://github.com/PrestaShop/PrestaShop/pull/29682

[2022-09-19 09:48] paulnoelcholot commented on #29679
Hello @Hlavtox ,

Thank you for your good suggestion.

However it's not bugs, it's features. So can you create a new issue using the rules of creating issue as well as the appropriate template.

Thank you

[2022-09-19 09:48] #29679 closed, assigned to nobody

[2022-09-19 09:56] Jose-comonsoft opened #29684 "Multistores stock page product name not visible"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In multishop context when you creat

[2022-09-19 09:58] zuk3975 commented on #29679
@paulnoelcholot - seems like a bug to me (not a feature request)
The option `use_inline_display' => true` is already there in the core, this bug issue focuses on the fact that they are not correctly aligned.

[2022-09-19 10:04] Danoosh commented on #29030
Hi, Can you please check out adding an address in the front office?

[2022-09-19 10:23] hibatallahAouadni commented on #29679
Hello @zuk3975

The option use_inline_display' => true is already there in the core, this bug issue focuses on the fact that they are not correctly aligned.

Thansk for your feedback!
But @Hlavtox need to respect the provided template and provide clear and concise steps to reproduce the issue.
That's why we close the issue.

Thanks for your understanding :pray:

[2022-09-19 10:57] juanjointera5 opened #29685 "ps_customersignin show other customer name in header bar (privacy problem)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

(sorry for my bad english)

When a

[2022-09-19 12:24] MatShir commented on #29014
Should be fixed by https://github.com/PrestaShop/PrestaShop/issues/29564

[2022-09-19 12:26] clotairer commented on #29676
@matks is it useful if I work on my PR with none legacy classes and your "not very satisfied" suggestions ? Or you imagine only a solution with all or none configuration encrypted ?

[2022-09-19 12:33] atomiix commented on #27665
@AureRita Why not just use sendmail? It will probably go in your junk mail but you'll be able to see it.
Otherwise, you can still you maildev with [those options](https://maildev.github.io/maildev/#usage):
![Capture d’écran 2022-09-19 à 14 32 04](https://user-images.githubusercontent.com/2168836/191017899-aaef2603-9a39-4f81-b0e4-0a3feed0ca74.png)

Like so, emails will be forwarded using an exter

[2022-09-19 12:38] MatShir commented on #27613
Fixed by https://github.com/PrestaShop/PrestaShop/pull/27304.

[2022-09-19 12:38] #27613 closed, assigned to nobody

[2022-09-19 12:46] #28929 closed, assigned to nobody

[2022-09-19 12:47] kpodemski commented on #29685
Do you use any additional cache module, or cache on your server?

[2022-09-19 12:56] juanjointera5 commented on #29685
@kpodemski We don't use any additional cache module in the setup.

Looking at the server, I see this extensions installed:
- php74-opcache
- php74-pecl-APCu

which I think are for cache, but I think that we have this type of cache disabled in PS:
![Captura](https://user-images.githubusercontent.com/2895226/191022113-0ba1c11c-d986-440b-afaa-d95bfa1099de.JPG)

Do you think that this extensions are d

[2022-09-19 13:08] MatShir commented on #28478
Check the behavior in all shops

[2022-09-19 13:25] matks opened #29688 "CI issue on 8.0.x. - Job for apache2.service failed because the control process exited with error code."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

CI is failing on branch 8.0.x. Gith

[2022-09-19 13:59] hibatallahAouadni commented on #27665
Hello @MeKeyCool & @atomiix

It seems the issue is not blocked in your side :slightly_smiling_face:
So could you please reproduce the issue and chnage the labels (delete `TBR` and `Waiting for Dev`, add `NeedsSpecs` and `Verified`).
Waiting for your feedback.

Thanks!

[2022-09-19 14:12] NeOMakinG commented on #9676
I pushed, here is how it looks:

<img width="373" alt="image" src="https://user-images.githubusercontent.com/14963751/191038026-345b8fd6-3a50-4e28-be0f-9d9388811f7f.png">

[2022-09-19 14:19] hibatallahAouadni commented on #29685
Hello @juanjointera5

Could you please disable the cache following the attached screen record below:

https://user-images.githubusercontent.com/23308427/191039414-360bdbfa-b320-4264-9ac9-bc1664b8991a.mp4

Waiting for your feedback.

PS: thanks @kpodemski for your quick reply :rocket:

Thanks!

[2022-09-19 14:48] zuk3975 opened #29692 "Grid actions are not aligned well when using "use_inline_display=true""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

1. When set to true grid row action

[2022-09-19 14:49] zuk3975 commented on #29679
https://github.com/PrestaShop/PrestaShop/issues/29692

[2022-09-19 14:54] juanjointera5 commented on #29685
Hello @hibatallahAouadni

Thanks for your reply (and thanks @kpodemski too!).

Yes, disabling Cache with force recompilation, make all things works as expected.

But, enabling it again, make the glitch appears again, even leaving the "force recompilation" option selected.

We even tried to clean /var/cache directory.

Please, note that disabling the cache makes the correct name to appears when the

[2022-09-19 14:59] AureRita commented on #28478
Hello @MatShir,

I tried to reproduce this issue but I currently can't as you can see :

https://user-images.githubusercontent.com/100699445/191047483-6cd81f9e-f4d8-4474-b7b0-15dab864167e.mp4

Thank you

[2022-09-19 15:01] #29688 closed, assigned to matks

[2022-09-19 15:31] #28478 closed, assigned to nobody

[2022-09-19 15:44] atomiix commented on #27665
I wasn't able to reproduce the issue:
![Capture d’écran 2022-09-19 à 17 42 15](https://user-images.githubusercontent.com/2168836/191058107-7811aa16-95fa-4946-b04a-16f4dc98e08d.png)
![Capture d’écran 2022-09-19 à 17 44 04](https://user-images.githubusercontent.com/2168836/191058117-26728393-c790-411b-a34a-4a750c2aa33d.png)

[2022-09-19 15:58] matks commented on #29667
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29670

[2022-09-19 15:58] #29667 closed, assigned to matks

[2022-09-19 17:03] atomiix commented on #29477
Fixed by #29484

[2022-09-19 17:03] #29477 closed, assigned to atomiix

[2022-09-19 17:36] hibatallahAouadni commented on #29185
Closed as it has been fixed with this PR #29635

[2022-09-19 18:34] jolelievre commented on #29185
This issue initially targeted the 8.0 so we should check this issue on 8.0.x branch after https://github.com/PrestaShop/PrestaShop/pull/29682 has been merged

[2022-09-20 08:08] OliverCG commented on #29556
Hi,

After investigating this issue, I think I've found where the bug is. We can see the following code on lines 3578 and 3579 of the file Cart.php for PrestaShop 1.7.7.4:

[code]

As we can see, the $order_total variable is always tax includes since the function getOrderTotal is called with the first parameter set as true. I'm not sure how to solve it, but a fix could be to use the var $use_tax i

[2022-09-20 08:20] CIMEOS commented on #29681
Hi @paulnoelcholot,
Thank you for your quick response!

On the frontend, I guess the design could look like a simple input field inside the left column. (if the faceted search is in the left column).
I attach a screenshot with a potential location but the best would be to be able to change the location using the current drag and drop system.
![Prestashop_keyword_filter](https://user-images.githubu

[2022-09-20 08:54] sallemiines commented on #29684
Hello @Jose-comonsoft

Thanks for reporting the issue
I reproduce the issue with PrestaShop versions **PS1.7.7.8**, **PS1.7.8.7**, **Ps8.0.0**, you can see the issue here :

https://user-images.githubusercontent.com/31663369/191206781-abeee363-1c20-4912-93db-5efb3fcf5802.mp4

Thank you !

[2022-09-20 09:08] HanaRebaiQA opened #29699 "Autoupgrade - BO - A page not found error related to the controller is missing or invalid in different pages after an upgrade from 1.7 to 8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is reported here in this

[2022-09-20 09:21] HanaRebaiQA opened #29700 "Autoupgrade - BO - Impossible to upgrade the linklist module after an upgrade from 1.7 to 8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is reported here in this

[2022-09-20 09:21] sallemiines commented on #29692
Hello @zuk3975

Thanks for the amazing bug report!

Following these steps :

- Install a new fresh develop shop
- Cd modules
- git clone https://github.com/zuk3975/example-modules.git
- rename example-modules to demo_grid
- cd demo_grid
- composer install
- I couldn't find the module in the page modules managers
so i execute this command : php ./bin/console prestashop:module install demo_grid
- I

[2022-09-20 09:31] matks opened #29701 "Fix Upgrade translation wordings then update the Catalog in the Core"
Some wordings did not have the right catalog in Upgrade module.

- [x] The wordings need to be fixed https://github.com/PrestaShop/PrestaShop/issues/29649
- [x] Then translation catalog must be extracted.
- [ ] Then the catalog must be synced inside the Core.

[2022-09-20 09:32] sallemiines commented on #29482
Hello @dmg-leusden ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you !

[2022-09-20 09:32] #29482 closed, assigned to nobody

[2022-09-20 09:53] matks opened #29702 "CI issue on 1.7.8.x - Sanity tests fail at install Addons modules step"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

CI is failing on branch 1.7.8.x.  S

[2022-09-20 09:54] eshraw opened #29703 "Implement a V2 API endpoint to test the API security implementation"

[2022-09-20 09:54] atomiix commented on #29702
@matks This is fixed ;)

[2022-09-20 09:54] #29702 closed, assigned to nobody

[2022-09-20 10:30] #29703 closed, assigned to nobody

[2022-09-20 10:45] marsaldev commented on #27623
Very interesting idea!

How about adding a button and start the check? With a 'warning' or something similar to warn the user that it will take time?

@mparvazi
I'm available to help with the PR if you want 😉

[2022-09-20 10:49] marsaldev commented on #27588
Hi @mparvazi,
would you still like to open a PR? 😊

[2022-09-20 11:04] hibatallahAouadni commented on #29580
Hello @CIMEOS

It is really dangerous to manually delete data from the database.
Otherwise, if you are having this issue only by performing this unsafe action, it's really hard to tell if it's a bug or your misuse.

Ping @PrestaShop/product-team wdyt about encountring a problem after manually deleting some data from the database? is this problem a bug or not?

Thanks!

[2022-09-20 11:05] zuk3975 commented on #29692
Hi @sallemiines, the example-modules repository **contains multiple modules inside**, you don't need to rename the whole directory, but you need to take the corresponding module dir (the demo_grid) from the example-modules dir. (hope it works :v: )

[2022-09-20 11:08] hibatallahAouadni commented on #29675
Hello @arpanjain100

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue.

PS: you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://prestashop.slack.com).

Thanks!

[2022-09-20 11:08] #29675 closed, assigned to nobody

[2022-09-20 11:12] hibatallahAouadni commented on #29685
Hello @juanjointera5

Unfortunately, I can't hel you anymore cause I couldn't reproduce the issue :disappointed:
And as you said you can keep the cache disbaled till you find the source of your problem.
Closing the issue.

Thanks!

[2022-09-20 11:12] #29685 closed, assigned to nobody

[2022-09-20 11:14] hibatallahAouadni commented on #29681
Hello @CIMEOS

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2022-09-20 11:23] HanaRebaiQA opened #29705 "Autoupgrade - BO - A 500 errors in console when upgrade from 1.7 to 8.0 (Method Not Allowed (Allow: POST) )"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A 500 errors in console when upgrad

[2022-09-20 12:33] dutyhook commented on #23737
Can the problem be in file: classes/PaymentModule.php in lines 991-992 of version 1.7.8.7. Currently there is:
$order->payment = $payment_method;
        if (isset($name)) {
            $order->module = $name;
(other lines around are little bit different, i.e. line 983 has code:
$order->id_lang = (int) $cart->id_lang; )

How to correct these lines for translating the payment method name into custo

[2022-09-20 13:23] #29185 closed, assigned to zuk3975

[2022-09-20 13:48] Hlavtox commented on #29681
@CIMEOS I think a better solution would be to make facetedsearch work on all pages including search page. (https://github.com/PrestaShop/PrestaShop/issues/15137)

This is a number one thing my clients want.

[2022-09-20 14:05] sallemiines commented on #29692
Hello @zuk3975

Unfortunately , I can't reproduce your problem :disappointed:
After installing the module `demo_grid`, the actions icons are not displayed , I tried to  `use_inline_display` option by adding query parameter to my url , but I get the same result in all the test cases, see the attached screen record below :

https://user-images.githubusercontent.com/31663369/191279290-01c9f576-5f76-4

[2022-09-20 15:51] jolelievre opened #29709 "MultiShop product list v2 bugs"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

These issues have been identified w

[2022-09-20 15:53] #29649 closed, assigned to matthieu-rolland

[2022-09-20 16:40] sallemiines commented on #29709
Hello @jolelievre

I can't reproduce your issue with **PS8.0.x**, see the attached screen record below

https://user-images.githubusercontent.com/31663369/191315664-a593994f-e7f4-48b9-af2e-db8144eaed59.mp4

Please check & feedback.
Thank you !

[2022-09-20 20:03] #29287 closed, assigned to atomiix

[2022-09-20 20:03] matks commented on #29216
Should be fixed now https://github.com/PrestaShop/contextual-help-api/pull/14

[2022-09-20 20:03] #29216 closed, assigned to atomiix

[2022-09-21 07:34] CIMEOS commented on #29681
Hi @Hlavtox,
In the long term, it would indeed be a better solution! But if you think about it, some users maybe don't want to put the faceted search on all pages so it could be a plus.

[2022-09-21 08:23] ballashop commented on #28126
Hi @florine2623 , any news about this bug?
Thanks.
Balla

[2022-09-21 09:29] idnovate opened #29710 "Cart rules are not removed from the cart when disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you disable a cart rule from the

[2022-09-21 13:20] HanaRebaiQA commented on #29651
This issue is fixed in this PR [#29660 ](https://github.com/PrestaShop/PrestaShop/pull/29660)

[2022-09-21 13:20] #29651 closed, assigned to atomiix

[2022-09-21 13:48] zuk3975 commented on #29692
I see you probably have a file from wrong branch... Anyway, here i zipped the module and I checked that it works, could you try this? (you can install this by uploading zip in module manager).
:point_right: :file_folder:  [demo_grid.zip](https://github.com/PrestaShop/PrestaShop/files/9617132/demo_grid.zip) :point_left:
:warning: By the way the query param is named `inline-display`. See my screensh

[2022-09-21 14:02] HanaRebaiQA opened #29712 "BO - A bad display of buttom when uninstall the distributionapiclient module (empty checkbox)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is reported here in this

[2022-09-21 15:26] sallemiines commented on #29692
Hello @zuk3975

Thanks for your feedback
I reproduce the issue, the icons are not aligned if we put the query param` inline-display = 1`,  you can see the issue here :

![image](https://user-images.githubusercontent.com/31663369/191544742-e06be12e-5bfc-44e4-90b1-3846b7c7f9ac.png)

Thank you !

[2022-09-21 16:17] EricioMuray commented on #13096
Hi @yiohan,
To make it work on products with combinations, just replace **'quantity'** by **'quantity_all_versions'**.

_if ($this->product['quantity_all_versions'] == 0) {
$flags['quantities'] = array(
'type' => 'unavailable',//
'label' => $this->translator->trans('Sold Epuizat', array(), 'Shop.Theme.Catalog'),
);
}_

[2022-09-21 19:40] matks commented on #29594
This PR will be fixed with ps_distributionapi release 1.0.3

[2022-09-21 20:20] #12682 closed, assigned to MatShir

[2022-09-21 20:26] idnovate commented on #29710
Yes, it's similar.

Actually the problem is that cart rule is not refreshed/removed once applied if the conditions are not fulfilled any more :sweat_smile:

[2022-09-22 05:56] stifler97 commented on #25282
I have prestashop 1.7.7.8 and ps_facetedsearch 3.8.0.
I have rebuilt the entire index and enabled the price facet
But It does not show up in front office side bar

[2022-09-22 07:40] zuk3975 commented on #29692
this issue occurs in probably all versions starting from 1.7.7.0 because it seems the PR introducing "use_inline_display" option was merged into 1.7.7.0

[2022-09-22 08:14] hibatallahAouadni commented on #29710
Hello @idnovate

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #19393.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-09-22 08:14] #29710 closed, assigned to nobody

[2022-09-22 08:15] hibatallahAouadni commented on #29710
Duplicate of #19393

[2022-09-22 08:29] matks commented on #29594
PR for release https://github.com/PrestaShop/ps_distributionapiclient/pull/12

[2022-09-22 09:02] lmeyer1 opened #29717 "Backoffice display language does not always take into account the employee's language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

As an employee with configured lang

[2022-09-22 09:45] Hlavtox commented on #23533
A real life example right now, not the best looks, but does the job. :-) If I came on this page on Prestashop shop, I would get 404 and leave the page.

![discarded](https://user-images.githubusercontent.com/6097524/191715034-b3de4d34-3bcd-42d4-968a-f84c520d92a2.jpg)

[2022-09-22 09:49] AureRita commented on #29613
Hello @HanaRebaiQA,

The QA Team reproduce the issue with PrestaShop version 8.0.x and not with the version 1.7.8.7. Nice catch ! It's a regression ! I'll add it to the patch backlog.

Please be aware that some issues might take a very long time to be resolved.

Thank you

[2022-09-22 10:43] danigart commented on #17771
No progress on this issue yet? Manufacturers' URLs are still missing in the latest version of this sitemap generator.

[2022-09-22 10:50] zuk3975 commented on #25683
I think carts, orders and viewed products lists should be paginated in customer view page and it would probably solve the issues.

[2022-09-22 10:56] marsaldev commented on #23533
Agree with @Hlavtox, it happens very often in the car spare parts shops.
Give the option to "follow" the new product, having the old one still active but not orderable, will preserve the positioning in the search engines

[2022-09-22 11:49] PrestaEdit opened #29719 "(Potential) Issue with setFieldsToUpdate() method"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Regarding the setFieldsToUpdate(),

[2022-09-22 11:49] PrestaEdit commented on #29719
Ping @kpodemski

[2022-09-22 12:08] atomiix commented on #29613
Hi everyone, I'm not able to reproduce this issue and I'm very surprised that this has something to do with php version. This seems to be a file permission issue. Maybe you built the zip module yourself with an owner/group different than the owner/group running your webserver?

[2022-09-22 12:26] matks commented on #29289
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29632

[2022-09-22 12:26] #29289 closed, assigned to lartist

[2022-09-22 12:26] matks commented on #29267
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29281

[2022-09-22 12:26] #29267 closed, assigned to zuk3975

[2022-09-22 12:37] guardabosques opened #29721 "Modulo de estadisticas"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Me puedo descargar el módulo, pero

[2022-09-22 12:43] AureRita commented on #29719
Hi @PrestaEdit

Thank for your report,
This issue is too technical for me, ping @PrestaShop/prestashop-core-developers, can someone please reproduce this issue ?

Thanks

[2022-09-22 12:48] Hlavtox commented on #29719
@PrestaEdit We can add

`$this->setFieldsToUpdate(null);`

somewhere around here:

https://github.com/PrestaShop/PrestaShop/blob/434137b764ab0faa9de420a0a8ec54a039165dd0/classes/ObjectModel.php#L871

and it would be solved.

[2022-09-22 12:50] zuk3975 commented on #29719
I agree, should be good :+1:

[2022-09-22 13:39] HanaRebaiQA opened #29723 "Autoupgrade - BO - Errors when upgrading from 1.7 to 8.0 with a zip version different from the 8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Errors when upgrading from 1.7.7.8

[2022-09-22 13:56] Philippe-M opened #29724 "Disconnection after validation of the "Menu" module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

In the "Menu" module, when

[2022-09-22 13:57] atomiix commented on #29723
Pretty sure this is related to https://github.com/PrestaShop/PrestaShop/pull/21120

[2022-09-22 14:20] matks commented on #29724
Hello @Philippe-M 😄 nice bug report 👍

[2022-09-22 14:30] matthieu-rolland commented on #29723
- Choose the zip for the 8.0.0
- Put 1.7.8.7 as a version
- Choose the XML file for the 8.0.0
-
It's because the given version number is not correct, this is not a regression to the auto-upgrade module, but still, we should find a better way to deal with this

[2022-09-22 14:37] AureRita commented on #29721
Ola @guardabosques

Yo puedo hablar solo en Ingles

I tried to reproduce your issue as you can see on this video :

https://user-images.githubusercontent.com/100699445/191775554-f1234fda-759c-400f-b845-cf57a365ab29.mp4

Currently, I think we don't have enought details, can you give us more ? like :

did you have the zip from this website :
https://github.com/PrestaShop/dashactivity/releases/tag/v2

[2022-09-22 14:41] HanaRebaiQA commented on #29723
Hello,

Yes! Indeed like @matthieu-rolland said. It's not a regression on the autoupgrade module. It's a 8.0.x regression!

Thank You!

[2022-09-22 14:53] AureRita commented on #29717
Hi @lmeyer1

Thank you for your report. I tried to reproduce your issue as you can see :

first of all with a name after the normal name of the shop :

https://user-images.githubusercontent.com/100699445/191779997-ebb27328-7ad8-46d6-a9f4-42b0838c1b15.mp4

after, by naming shops by itselfs, and I got this :

https://user-images.githubusercontent.com/100699445/191780180-e03aeb29-b456-417c-a55c-232b8

[2022-09-22 15:03] guardabosques commented on #29721
Gracias, lo he instalado bien, pero sigo sin ver las visitas en linea

[2022-09-22 15:06] lmeyer1 commented on #29717
@AureRita
Hello, I don't really understand what you are doing. Both of your moves do not seem to be in relation with my bug report.
In the first movie, all you BO are in English. You do not show which shop has which language, nor do you change the language of the employee in the profile.
In the second movie, you click on the link to see the FO. This seems completely unrelated.

To answer your ques

[2022-09-22 15:07] AureRita commented on #29724
Hi @Philippe-M

Thank you for your report ! I tried to reproduce your issue as you can see :

https://user-images.githubusercontent.com/100699445/191783615-7ea19a82-f7cf-4a59-aead-5afa19a9b9ce.mp4

but I, currently, can't reproduce it. Did you have other details after a fresh install of a shop in 1.7.8.7 ?

Thank you for all your details you give !

Waiting for your feedback

[2022-09-22 15:15] AureRita commented on #29721
I think it's because the period of the view is anterior of today and this module didn't have the time to check the past.

As we can see, your first issue is resolved. so I'll close it.

if you need some help for the rest of the module, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Thank you

[2022-09-22 15:15] #29721 closed, assigned to nobody

[2022-09-22 15:26] eternoendless commented on #29339
I was able to reproduce the bug on the 8.0.x branch. Just enable the profiler and go to the home page:

<img width="1674" alt="Screenshot 2022-09-22 at 17 23 26" src="https://user-images.githubusercontent.com/1009343/191788153-1fd26fee-ff1e-40f1-8171-67d0179dc7a4.png">

[2022-09-22 15:35] AureRita commented on #29717
@lmeyer1

I will send you the long version of the video to let you see that there is a li,k to your issue :

for the first one :

https://user-images.githubusercontent.com/100699445/191789796-c8359957-03d0-4405-97c7-f8c7f4783f47.mp4

for the second one :

https://user-images.githubusercontent.com/100699445/191789850-aeb7b90c-fba5-489e-b0c7-2cf3f70fb461.mp4

Currently, I think because i'm on localh

[2022-09-22 15:43] matthieu-rolland commented on #29705
I reproduced the bug, but with autoupgrade on master branch, not dev :+1:

![image](https://user-images.githubusercontent.com/1784781/191792123-7692851a-66b7-44ee-8546-282392947b11.png)

[2022-09-22 19:22] #29248 closed, assigned to FabienPapet, matthieu-rolland

[2022-09-22 20:29] FranRomero opened #29727 "Facets search by second level subcategory does not work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi!
I am trying to make a search by

[2022-09-23 07:45] ElodieOS commented on #29329
Hi @khouloudbelguith , I’m taking the issu. Can I have more details about it please ? When I follow steps to reproduce the bug, I don’t find the same interface nor result. Maybe it has been modified since ?
![github-issu](https://user-images.githubusercontent.com/113457393/191913567-8ad7672f-4e80-4926-bb39-fce2ce58c914.png)

[2022-09-23 08:06] ElodieOS commented on #28079
Hello @hibatallahAouadni ! Yes, this is a great idea.

Normally, we would like to have only two icons in the action column of the tables, but the preview can be an exception, as it's more comfortable for the merchants to see it right away. Besides, the icon is very understandable.

The duplicate action is also interesting for merchants, so it's a good idea to add it to the options submenu (more_ve

[2022-09-23 08:12] ElodieOS commented on #27558
Hi everyone ! I’m taking the issue, it’s work in progress. I will keep you informed 😉

[2022-09-23 08:32] HanaRebaiQA commented on #29705
Hello @atomiix

The issue is in the console

[2022-09-23 08:33] HanaRebaiQA commented on #29705
Hello @atomiix

The issue is an error in the console: 500 Error

![image](https://user-images.githubusercontent.com/92912932/191921746-e16dbc2f-cc71-463b-a225-61cd10cf1f8d.png)

[2022-09-23 09:04] matks commented on #28522
## Status update

[PrestaShop 8.0.0 delivering and testing](https://github.com/PrestaShop/PrestaShop/issues/26427) is taking longer than expected so PrestaShop 1.7.8.8 can be expected to be delivered in October.

[2022-09-23 09:11] Philippe-M commented on #29724
Hello,

Could be a line of research.

In the "action" parameter http is forced

`<form id="module_form" class="defaultForm form-horizontal" action="http://monsite/test-cata/admin510bejiyv/index.php?controller=AdminModules&amp;configure=ps_mainmenu&amp;tab_module=front_office_features&amp;module_name= ps_mainmenu&amp;token=928b13a73114fd7dc3e7a81a2f062303" method="post" enctype="multipart/form-data

[2022-09-23 09:18] atomiix commented on #29705
@HanaRebaiQA I don't have the error 500 in the console, I only have 403:
<img width="1426" alt="Capture d’écran 2022-09-23 à 11 12 52" src="https://user-images.githubusercontent.com/2168836/191929172-d29eb526-9f5b-4dfd-a8e3-098c72acc661.png">

Which make sense because once we upgraded, we need to log in again.

But then, if I try to go on the url like you did, I have the error 500:
<img width="1

[2022-09-23 09:36] bullmade commented on #28079
@ElodieOS can you please reconsider the "Save and preview" feature. Could it be "Save and stay" instead, and then make Preview as a seperate button.

It dosen't work very well intentioned if a merchant wants to see their changes frequently while they edit, and a new window constantly opens up!
Save the merchant some clicks, and let them have "Save and stay" and a preview button, and after they pre

[2022-09-23 09:36] bullmade commented on #28079
And speaking of "Save and stay". It's missing on the category editpage too (in my opinion).

[2022-09-23 10:01] manutecinet commented on #9922
Hi,

The same problem here, v1.7.8.6...

[2022-09-23 11:12] kpodemski commented on #9631
Hello @khouloudbelguith

This is fixed on the new product page. This is a video proving that:
https://capture.dropbox.com/iXm9a7tjvRzYkqfI

[2022-09-23 11:38] aritz-veiss commented on #11548
Thanks @itis-mmi ! I had the same problem with another module.

@masiorama it should be something like:
$thankyou = $this->display(__FILE__, '/views/templates/front/thankyou.tpl');

[2022-09-23 11:54] GTriber opened #29729 "Unnecessary extra field for availability in faceted search"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

 Hello!

I think I ran into a bug i

[2022-09-23 12:36] nicosomb opened #29730 "Installer is not very clear about required php version"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I tried to install Prestashop 1.7.8

[2022-09-23 12:43] kpodemski commented on #29730
You're right. The installer could be more precise, i.e. "The minimum required PHP version is X, and your PrestaShop will work with a maximum of PHP Y"

[2022-09-23 12:51] kpodemski commented on #9930
Hello @khouloudbelguith @nesrineabdmouleh

This is no longer reproducible on version 8 of PrestaShop. Here's a video:
https://capture.dropbox.com/elF21UFWs1OpPhpH

FYI: I've checked screenshots from the Forge before confirming it is no longer relevant 👍

[2022-09-23 12:52] digit00 commented on #10122
Solution

Hello everyone

to stop multiple customer id / Guest id with same email  PRESTASHOP 1.6

Go in this file \publicHTML\classes\Customer.php

remplace variable $ignore_guest true to false in function parameters like this 

 Lines 392-393 

// public static function customerExists($email, $return_id = false, $ignore_guest = true)
   public static function customerExists($email, $return_id =

[2022-09-23 13:21] Hlavtox commented on #29729
Hi @GTriber, this is a behavior I added, it allows to filter products really in stock, instead only by 'available when not in stock'.

**This is what those mean:**
| Availability | Meaning |
|------|-------|
| W magazynie | quantity > 1 |
| Available (Do dyspozycji) | quantity > 1 OR available for order when not in stock |
| Niedostępne | quantity < 1 AND not available for order when not in stock

[2022-09-23 13:24] Hlavtox commented on #28079
@bullmade @ElodieOS PR ready https://github.com/PrestaShop/PrestaShop/pull/29678

[2022-09-23 13:28] GTriber commented on #29729
@Hlavtox Is not bad option but clients seems confused.

On setting, we have set only one filter for it. Red on screen, that show the 3 statuses W magazynie / Available (Do dyspozycji) / Niedostępne
On settings there on more to set black on screen. Product state?
![Przechwytywanie zawartości sieci Web_23-9-2022_152523_sklep semperfi pl](https://user-images.githubusercontent.com/60825638/191970426-a

[2022-09-23 14:17] tameroski opened #29734 "Issue with getting module path in Mail::send leading to mail template not being found"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm deploying Prestashop in a CI/CD

[2022-09-23 14:22] #9930 closed, assigned to nobody

[2022-09-23 14:48] #14768 closed, assigned to khouloudbelguith

[2022-09-23 15:31] MhiriFaten commented on #29727
Hello @FranRomero ,

I can't seem to understand your issue, see the attached screen shots bellow :

### BO
![image](https://user-images.githubusercontent.com/111756615/191997538-b48e843b-d732-4580-9d01-a57eb21568e8.png)

### FO
![image](https://user-images.githubusercontent.com/111756615/191997490-75dabffd-93b5-4b16-9259-435864d7af7e.png)

![image](https://user-images.githubusercontent.com/1117566

[2022-09-23 15:51] MhiriFaten commented on #29712
Hello @HanaRebaiQA ,

Thanks for your report.
I was enable to reproduce your issue using the same provided steps to reproduce.

[Untitled_ Sep 23 2022 4_52 PM.webm](https://user-images.githubusercontent.com/111756615/192001495-ac2c7931-2b9b-4d09-95dd-60cf5762e5f5.webm)

Could you please check again ? Waiting for your feedback!

Thank You!

[2022-09-23 19:00] AlejandroGH97 commented on #22833
Any update on this issue?

[2022-09-23 19:26] KiLiMaToS opened #29738 "Exceed attribute combination limit"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-23 21:57] mauricecec commented on #11512
I have the same exactly Issue , i upgraded Prestashop to 1.7.8.7 everything work fine , but i have features problem:
For example if i select Default Features no problem the product will be saved , but if i save 2 3 times different features Custom
i will get the following error This value is not valid.
I updated php to 7.4 but same issue , than i deactivate 90% Modules , and i continute to get this

[2022-09-24 07:57] alt126je commented on #22517
@estenolotienenadie como lo resolviste finalmente para configurar con STATTLS
Gracias

[2022-09-24 08:34] Hlavtox commented on #29729
@GTriber They are the same only in your scenario, but the filter was unusable previously without this distinguishion.

My clients allow to order everything, even if not in stock.
So, everything was basically "in stock" before, and this filter was unusable.

___________________

"Filtr stanu produktu" is product condition filter - new/used/refurbished. That's a different thing.

[2022-09-24 10:44] kpodemski commented on #18650
I could not reproduce this issue using PrestaShop 8.0. I'm closing it.

[2022-09-24 10:44] #18650 closed, assigned to nobody

[2022-09-24 10:48] kpodemski commented on #23755
I can confirm this issue is fixed.

[2022-09-24 10:48] #23755 closed, assigned to nobody

[2022-09-24 10:58] kpodemski commented on #23392
Hello @hibatallahAouadni

I think this one should be discussed with @PrestaShop/product-team

Shop name from the _Shop parameters ->the  Contact -> Stores_ is something else that the value from `PREFIX_shop` table. This is not a bug because this tab controls the configuration table, not a `shop` table in the database.

I have two suggestions:

1. Treat the value from `PREFIX_shop` as something use

[2022-09-24 11:10] kpodemski commented on #20834
@PrestaShop/product-team

I've submitted a PR to remove this field from the Importer. I don't think we need a `short_description` for suppliers, but if you want to keep Louise's suggestion feel free to close the PR.

https://github.com/PrestaShop/PrestaShop/pull/29739

[2022-09-24 11:15] kpodemski commented on #21262
I reproduced this issue on PrestaShop 8.0

[2022-09-24 12:05] kpodemski commented on #9599
@PrestaShop/product-team

If we want to translate email content, no subjects can be found because this page is incompatible with new translations.

I'm afraid that this page has to be reworked to use Symfony translation extractor, or we should ask merchants to go to a separate interface to translate subjects...

https://capture.dropbox.com/CAoJcyvMiw1V8cxF

[2022-09-24 12:37] kpodemski commented on #9756
As was suggested before, you can change the order of payment modules by sorting them insthe ide `paymentOptions` hook.

[2022-09-24 12:37] #9756 closed, assigned to nobody

[2022-09-24 13:06] estenolotienenadie commented on #22517
Hola, no usé STATTLS, después de muchas conversaciones con el proveedor de hosting, agregamos este TXT a las DNS y de esta forma puede enviar correos normalmente con la configuración predeterminada de Prestashop.

v=spf1 include:spf.protection.outlook.com include:secureserver.net -all

Espero que le ayude.
Un saludo,
Alberto.

[2022-09-25 12:11] partiid commented on #12409
Do you know what exactly was the problem? I have the same problem after migration to the new server.

[2022-09-26 08:11] ElodieOS commented on #25198
Hello everyone,

We are working on the product page, so this issue is work in progress.

I will keep you informed :)

[2022-09-26 08:23] MatShir commented on #27665
Shall we close this issue then @hibatallahAouadni?

[2022-09-26 08:26] MatShir commented on #29018
We have no news from @LouisAUTHIE. Guys, do you think maybe you could @mparvazi or @NeOMakinG have a look to finish the work?

[2022-09-26 08:35] matks opened #29744 "[8.0.0 RC1 Task] Build PrestaShop 8.0.0 RC1"
This is the todo-list to build PrestaShop 8.0.0 RC1.

It follows the 'How to release a new PrestaShop version' [guide](https://www.prestashop-project.org/maintainers-guide/releasing-prestashop/) steps 1 and 2.

# Preliminary tasks

https://www.prestashop-project.org/maintainers-guide/releasing-prestashop/preliminary-tasks/

- [x] Update version number
- [x] Make sure [nightly builds](https://night

[2022-09-26 08:46] Hlavtox commented on #28079
@bullmade Modified both "Save" buttons to stay on the edit page after saving. ;-)

[2022-09-26 08:52] Hlavtox opened #29745 "Backoffice no menu between 1024 to 1040 pixels."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is no menu in backoffice at a

[2022-09-26 09:07] lartist commented on #29338
Acutally the issue is very hard to manage because I can't even know what formula is needed. I know @jolelievre suggest some things but I didn't succeed to apply them. I think this issue need more precisions about the way we calculate things instead of defining only one expected result in a specific case.

[2022-09-26 09:20] MatShir commented on #29712
@MhiriFaten I don't see the errors in your video? 🤔

[2022-09-26 09:26] MatShir commented on #29613
We could not reproduce the bug. I put back to `NMI` maybe someone may have more information to reproduce the issue.

[2022-09-26 09:26] MatShir commented on #29613
maybe @hibatallahAouadni could you test it again? 🙏

[2022-09-26 09:27] Shabanafr opened #29746 "Pas de connexion analytics"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Le code est inséré dans le module m

[2022-09-26 09:33] matks opened #29747 "[8.0.0 RC1 Task] Update default translation catalogue and push it to Crowdin"
Update default translation catalogue and push it to Crowdin

- [x] https://github.com/PrestaShop/PrestaShop/issues/29701
- [x] https://github.com/PrestaShop/PrestaShop/issues/29562

[2022-09-26 09:35] FranRomero commented on #29727
Hi @MhiriFaten,

Thanks for the fast response.

I add a video where you can see that I cannot filter by second level subcategory "Child". This does not happen with Men, or Women that are first level subcategories of "Clothes", though. It also does not happen when I enter on "Men" category and try to filter by "Child", because in this case "Child" is first level subcategory of "Men".

I have record

[2022-09-26 10:41] Hlavtox commented on #26290
@NeOMakinG Following the discussion on Slack...

- (as @kpodemski said above) We could add a new flag support to theme configuration file, called for example "use_core_scripts".
- If this flag was set to false, it would not load it and frontend JS functionality would rely completely on the theme.
- This could be added to 8.1 as it's not a BC break and hummingbird could be launched as the first the

[2022-09-26 10:58] #28941 closed, assigned to nobody

[2022-09-26 11:04] pks891618 opened #29749 "Error in paypal Property order->total product is not valid"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After upgrade from 1.7.1 to latest

[2022-09-26 11:14] #29738 closed, assigned to nobody

[2022-09-26 11:14] hibatallahAouadni commented on #29738
Duplicate of #10035

[2022-09-26 11:33] manutecinet commented on #9922
Hi,

I have fixed it. In classes/product.php change

`public $unit_price = 0;`

to

`public $unit_price;`

and comment these lines:

`     $unitPriceRatio = new DecimalNumber((string) ($this->unit_price_ratio ?? 0));
       $price = new DecimalNumber((string) ($this->price ?? 0));

       if ($unitPriceRatio->isGreaterThanZero()) {
            $this->unit_price = (float) (string) $price->dividedBy

[2022-09-26 11:37] hibatallahAouadni commented on #29730
Hello @nicosomb

Thanks for reporting the issue!
Seems to be a feature more than a bug. So I changed the labels :wink:
We're waiting for your PR :rocket:

Thanks!

[2022-09-26 13:29] #28363 closed, assigned to zuk3975

[2022-09-26 13:30] #28966 closed, assigned to matks

[2022-09-26 13:54] hibatallahAouadni commented on #29724
Hello @Philippe-M

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration problem.

We will close this issue.

Thanks!

[2022-09-26 13:54] #29724 closed, assigned to nobody

[2022-09-26 13:58] eshraw commented on #29730
Hello @nicosomb thanks for the issue !

As discussed previously here is the expected behaviour :
- Given that I have PHP installed
- When
   - I install PrestaShop
   - And my PHP version is not supported
- Then the first sentence of the error message displays :

[2022-09-26 14:04] AlexTechDev commented on #28320
I'm working on it :)

[2022-09-26 14:05] AlexTechDev commented on #28326
I'm working on it :)

[2022-09-26 14:40] NWNex commented on #29133
Hi,

I come back to you to know if you were able to fix this issue?

Thank you

Regards,

De : Eshane ***@***.***>
Envoyé : jeudi 11 août 2022 12:22
À : PrestaShop/PrestaShop ***@***.***>
Cc : NWNex ***@***.***>; Mention ***@***.***>
Objet : Re: [PrestaShop/PrestaShop] Product list sort order in Command different XML API (Issue #29133)

Hello @NWNex <https://github.com/NWNex> , thank your for the

[2022-09-26 15:08] HanaRebaiQA opened #29755 "Autoupgrade - BO - A bad display on the PRE-UPGRADE CHECKLIST for the autoupgrade module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A bad display on the PRE-UPGRADE CH

[2022-09-26 15:28] atomiix commented on #29717
Hi @lmeyer1, I'm maybe missing something but I can't reproduce the issue:

https://user-images.githubusercontent.com/2168836/192317149-5738146f-8b15-4caf-8fa0-c2f7166d3bcb.mov

[2022-09-26 17:36] hibatallahAouadni commented on #29755
Hello @HanaRebaiQA

I reproduce the issue only with dev branch of the module, while with the version 4.14.2 there's no error in the display.
So, indeed it's a regression!
Thanks @matthieu-rolland for your PR :rocket:

Thanks!

[2022-09-26 18:01] hibatallahAouadni opened #29758 "BO>Auto-upgrade shows that maintenance mode is enabled while it's not"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you use the latest version of

[2022-09-26 19:12] hibatallahAouadni commented on #29705
Hello @HanaRebaiQA

As @atomiix I didn't manage to reproduce the issue and it seems your issue related to not valid version number, see the attached screenshot (that I took from your screen record, after enabling the debug mode):

![image](https://user-images.githubusercontent.com/23308427/192360103-5c479586-a52c-4f82-852a-66e1f123b6b8.png)

@matthieu-rolland your issue is not related to this one,

[2022-09-26 19:12] #29705 closed, assigned to nobody

[2022-09-26 19:16] hibatallahAouadni commented on #29699
Hello @HanaRebaiQA

I reproduce the issue after upgrading 1.7.7.8 to 8.0.0 with 1-Click upgrade module v4.15.0 (dev branch), see the attached screen record below:

https://user-images.githubusercontent.com/23308427/192360832-510246a5-7ea3-410a-91be-80515afa7947.mp4

Thanks for reporting the regression, I will add to the backlog to be fixed.

PS: you may notice that I tried to reproduce all the rep

[2022-09-26 20:17] rost9999 commented on #27746
The problem is not solved.

[2022-09-26 20:32] rost9999 opened #29759 "Can not create new product, or get a product without image through web service API"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On 1.7.8.3, Prestashop still can no

[2022-09-26 22:18] mauricecec commented on #11512
Kindly ask if anyone get same problem as described problem thanks

[2022-09-27 06:11] Hlavtox opened #29761 "Weird non-translatable french helptext on search page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Since 1.7.7 and implementation of f

[2022-09-27 06:40] lmeyer1 commented on #29717
OK, I will look at this closer. I have to publish a number of websites this and next week, so I cannot do it now.

[2022-09-27 06:58] lmeyer1 opened #29763 "Quick Access links contain the domain: as a result, they potentially log out the user"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I the BO, the Quick Access links co

[2022-09-27 07:21] matks opened #29764 "Update and mark PrestaShop-webservice-lib Public compatible with 8.0.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-27 08:28] eshraw opened #29766 "[EPIC] API security groundwork"
## EPIC's Goal
<aside>
🎯 Lay the groundwork for PrestaShop’s V2+ API based on CQRS & follow security best practices
</aside>

### A bit of context
<aside>
❓ Currently PrestaShop Webservice is a monolithic component of the core with low security. Considering the need for improved security standard on the API, we want to take the opportunity of the API shift towards CQRS based endpoints to jumpstart

[2022-09-27 08:35] eshraw opened #29768 "[EPIC] Authorization server management in BO"
## EPIC's Goal
<aside>
🎯 Lay the groundwork for PrestaShop’s V2+ API based on CQRS & follow security best practices.
Manage the Authz server in PrestaShop's BO to follow those best practices.

</aside>

### A bit of context
<aside>
❓ Currently PrestaShop Webservice is a monolithic component of the core with low security. Considering the need for improved security standard on the API, we want to ta

[2022-09-27 08:44] eshraw opened #29769 "APIS01 - Implement a CQRS based API endpoint to allow API security testing"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-27 08:49] alama456 opened #29770 "Free shipping cost based on cart total not applied when using a voucher"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

This ticket is about applyi

[2022-09-27 08:50] eshraw opened #29771 "APIS03 - Force TLS1.2+ usage to query PrestaShop's API"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-27 10:33] sallemiines commented on #29770
Hello @alama456

Thanks for reporting the issue
I reproduce the issue with PrestaShop versions **PS1.7.7.8**, **PS1.7.8.4**, you can see the issue here :

https://user-images.githubusercontent.com/31663369/192503300-5bc64081-c614-41a3-a221-f672400573b7.mp4

Thank you !

[2022-09-27 11:31] sallemiines commented on #29770
@alama456

After discussing with QA-team, it seems that the expected behavior cause after applying the voucher the total price has been changed.

![image](https://user-images.githubusercontent.com/31663369/192514160-24d65ef6-ad0f-4e51-9aa2-fa824eae5d47.png)

Thanks for your understanding but I have to close the issue as this is the expected behavior :prière:
Thanks!

[2022-09-27 11:31] #29770 closed, assigned to nobody

[2022-09-27 12:23] atomiix commented on #29771
@eshraw I think the status code for acceptance test 3 and 4 should be [426](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#426) alongside with an [`Upgrade` header](https://en.wikipedia.org/wiki/HTTP/1.1_Upgrade_header) so the client knows what's expected.

[2022-09-27 12:34] DenisJager commented on #13835
Thanks for this post. I'm actually setting connexion between a database and Prestashop and no many people use http requests.
For you information I tried to remove successively each field and only these are mandatory (Prestashop 1.7)
<price>12345</price>
<link_rewrite>Example</link_rewrite>
<name>
     <language id="1">
          Example name
     </language>
</name>
<description>
     <language id

[2022-09-27 13:26] eshraw opened #29774 "APIS05 - Implement the Client Credential Grant Flow"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-27 13:33] TheKruspe commented on #15166
In my opinion, this issue should be titled `Fix product search with combinations`, together with https://github.com/PrestaShop/PrestaShop/issues/16952, https://github.com/PrestaShop/PrestaShop/issues/18172, https://github.com/PrestaShop/PrestaShop/issues/10018 and maybe https://github.com/PrestaShop/PrestaShop/issues/26676. Almost any of these tickets is older than two years. If these issues still

[2022-09-27 13:40] IWSPHIL opened #29775 "Compile Error on backoffice payment method page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello

This error start appearing a

[2022-09-27 13:49] eshraw opened #29777 "APIS02 - Implement an API Gateway"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-27 14:01] Hlavtox opened #29778 "Password policy not respected in backoffice customer forms"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

New password policy configuration -

[2022-09-27 14:18] #29755 closed, assigned to nobody

[2022-09-27 14:54] hibatallahAouadni commented on #29700
Hello @HanaRebaiQA

As you can see I can reproduce only the first issue but it seems related to the issue that ou're already mentioned above:

https://user-images.githubusercontent.com/23308427/192484590-bdd136b6-361b-4795-9bf9-0439a5aaee8a.mp4

AFAIK, this regression has been fixed on Linklist v5.0.5, so I tried to uninstall the linklist v5.0.4 cause I can't upgrade it (caused by this issue #2959

[2022-09-27 14:58] haveyougotanypets opened #29779 "Updating a product combination location via API no longer is possible"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Updating a product combination's lo

[2022-09-27 15:12] szavadskiy opened #29780 "Multistore - If module is disabled in one store, its admin tabs (BO - leftmenu) is hidden everywhere else"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello, We have met this problem in

[2022-09-27 15:40] sallemiines commented on #29763
Hello @lmeyer1

Thanks for reporting the issue
I reproduce the issue with PrestaShop versions PS1.7.7.8, PS1.7.8.7, you can see the issue here :

https://user-images.githubusercontent.com/31663369/192571574-d04b341e-dfe9-4266-bb7b-56018a93b727.mp4

But, I found this [issue](https://github.com/PrestaShop/PrestaShop/issues/28106) . Could you confirm it's similar to yours ?
Please check and feedback!

[2022-09-27 15:44] eshraw commented on #29771
Thanks @atomiix , I updated the issue according to your advice :)

[2022-09-27 16:06] lmeyer1 commented on #29763
@sallemiines
Yes, #28106 and mine both report the same problem, under a different aspect.
It is quite difficult to follow the screencasts on #28106. If I understand well, the problem has been fixed partially (Link to Dashboard), but not for Quick Access.

[2022-09-27 16:07] sallemiines commented on #29761
Hello @Hlavtox

Thanks for reporting the issue :clap:
I reproduce the issue with PS1778 PS1787 and PS80x.
Ping @PrestaShop/product-team should we fix the translation and keep the links or should we remove the links?

Thanks for your PR :rocket:

[2022-09-27 16:24] hibatallahAouadni commented on #29734
Hello @tameroski

Thanks for your patience :pray:
I didn't manage to reproduce the issue with the provided infos :disappointed:
So, could you please provide some screenshots of your configuration and a screen record of the issue :pray:
Waiting for your feedback.

Thanks!

[2022-09-27 16:29] hibatallahAouadni commented on #29729
Hello @GTriber

Thanks for your patience :pray:
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #28302.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: thanks @Hlavtox for your quick replies :rocket:

Thanks!

[2022-09-27 16:29] #29729 closed, assigned to nobody

[2022-09-27 16:29] hibatallahAouadni commented on #29729
Duplicate of #28302

[2022-09-27 16:50] hibatallahAouadni commented on #29746
Hello @Shabanafr

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **Please send your request in English. English is the norm on GitHub**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information,

[2022-09-27 16:50] #29746 closed, assigned to nobody

[2022-09-27 16:51] hibatallahAouadni commented on #29749
Hello @pks891618

It seems that your issue is not a PrestaShop core bug.
If your module is PayPal Official, please contact support team on Addons

We will close this issue.

Thanks!

[2022-09-27 16:51] #29749 closed, assigned to nobody

[2022-09-27 18:05] porte-coulissante-shoji opened #29784 "Module natif "Produits Phares" Prestashop 1.7.5.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bonjour,

Le module natif "Produits

[2022-09-27 18:34] hibatallahAouadni commented on #29745
Hello @Hlavtox

I reproduce the issue only with PS1780, PS1787 see the attached screen record below:

[issue_29745.webm](https://user-images.githubusercontent.com/23308427/192604823-8b1d0434-4a45-41da-92d8-74f985fad0fb.webm)

@NeOMakinG if you remember we discover this regression together last year :sweat_smile: before releasing PS1.7.8.0 but it seems not reproducible on develop, see the attached

[2022-09-27 19:00] hibatallahAouadni commented on #29759
Hello @rost9999

I didn't manage to reproduce the issue with PS1786 & PS1787, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/192612865-3874dba0-e3e0-48e6-a66a-b8f6bc782e00.mp4

Please check and feedback.

Thanks!

[2022-09-27 19:07] hibatallahAouadni commented on #29775
Hello @IWSPHIL

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must fill the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will b

[2022-09-27 19:07] #29775 closed, assigned to nobody

[2022-09-27 19:09] hibatallahAouadni commented on #29784
Hello @porte-coulissante-shoji

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **Please send your request in English. English is the norm on GitHub**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide furthe

[2022-09-27 19:09] #29784 closed, assigned to nobody

[2022-09-27 19:22] rost9999 commented on #29759
https://user-images.githubusercontent.com/25079898/192616922-de6757d5-133c-4a3e-af19-5a468055a307.mp4

[2022-09-27 20:53] #27245 closed, assigned to nobody

[2022-09-28 07:30] eshraw commented on #29761
Hello @Hlavtox ,

Thanks for reporting this.
@sallemiines as Daniel said, there is no reason to have those link in this particular place. We should remove them from this particular place :)

Thanks for the PR !

[2022-09-28 07:41] eshraw opened #29786 "APIS04 - Choose an Authorization server supporting OAuth2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-28 08:48] Triloworld opened #29787 "Polish documentation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-28 09:14] FranRomero commented on #29727
Hi @MhiriFaten,

Have you been able to reproduce the error? Is there any new about it?

Thank you!

[2022-09-28 09:55] sabrinaih opened #29788 "A bug of many native modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi ,
I just installed the new versi