[2021-05-26 19:42] hibatallahAouadni commented on #24666
Hello @jonathangreco

Could you please provide steps to reproduce the issue.
Please downgrade your PHP version to 7.3 cause PS1.7.7.2 is not compatible with PHP v8 (see our [system requirement](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)).
Please check and feedback.

Thanks!

[2021-05-26 22:18] hibatallahAouadni commented on #24662
Hello @Flowster

Could you please explain to me why you need to move config/services.yml to config/admin/services.yml :sweat_smile:
Please check and feedback.

Thanks!

[2021-05-26 22:28] hibatallahAouadni commented on #24663
Hello @ballashop

I didn't manage to reproduce your issue with PS1.7.6.9 and PS1.7.7.4, see the attached screen record below:

https://drive.google.com/file/d/1-cNM91R_PgIultPJuCl-Eb8KtyAIZal1/view

![image](https://user-images.githubusercontent.com/23308427/119739351-6259a480-be82-11eb-9fed-06c37037cc70.png)

Please check and feedback.
Thanks!

[2021-05-26 22:34] hibatallahAouadni commented on #23589
@eternoendless so do we have a **GO**? shall I change the issue status to **`To Do`**?

[2021-05-26 22:38] hibatallahAouadni commented on #24424
Hello @sanji-japan

Let's ask the Product Team :wink:

Ping @PrestaShop/product-team can someone please clarify this behavior:
If an employee create an Order from BO, should the stock movement be registred as "Employee Edition" or "Customer Edition"?

Thanks in advance :pray:

[2021-05-26 23:03] Flowster commented on #24662
I might have mistaken the purpose of those config/admin/services.yml files...

I first thought that you should choose between having a config/services.yml file and config/admin-front/services.yml files.

But I now understand that those are two distincts with differents purpose systems. The first one for full Symfony services and the second one only for Legacy ones.

I wrongly thought you had to ch

[2021-05-27 07:54] ballashop commented on #24663
Dear @hibatallahAouadni,
thanks for your reply.
To reproduce the issue it's necessary to sell products without tax, from the video I saw that taxes are included, below how to set prices without tax.

1) go to **Shop Parameters** and  clic to **Customers Settings**

<img width="386" alt="Schermata 2021-05-27 alle 09 42 05" src="https://user-images.githubusercontent.com/28685316/119786565-9e1b5b00-b

[2021-05-27 08:01] PierreRambaud commented on #18547
ping @atomiix :wink:

[2021-05-27 08:18] #24505 closed, assigned to samberrry

[2021-05-27 08:18] MatShir commented on #23589
I like the Idea also, not sure if it is the right place. We will have to separate place where there is a list of overrides. I suggest having a quick discussion with @prestascott to see what would be the ideal design :)

[2021-05-27 08:36] Hlavtox commented on #23048
@kpodemski Kinda hackjob... 😄

I wrote it for my clients, I think it could be a better way than creating a status for this... ;-) Many clients want to send the invoice separately, not depending on an order status.

The code is not difficult. (I removed some safety-checks for simplicity.) Then it's just a button and a new mail template.
WDYT @marionf @LouiseBonnard?

[code]

[2021-05-27 08:41] Progi1984 commented on #24504
Fixed in #24580 by @okom3pom

[2021-05-27 08:41] #24504 closed, assigned to nobody

[2021-05-27 09:03] Hlavtox commented on #18823
@alfonsolr09 If you really want to do this, just run a simple query:

[code]
**But I think you definitely should NOT overwrite products with new ones.**
- By overwriting a product, you loose your sell history. A customer will call you after 1 year and will want to apply his warranty. You open the order and could see malformed product data.
- With every page you make, you make it indexed and possib

[2021-05-27 09:05] MatShir commented on #23589
@PrestaShop/prestashop-maintainers suggests making the feature into a module. We avoid maintenance on the Core, the feature that is not useful for all, and it allows anyone to use the module regardless of the PS version.

[2021-05-27 09:13] PululuK commented on #23589
I agree with @PierreRambaud
Do you think I can put the module here https://github.com/PrestaShop/example-modules ?

[2021-05-27 09:14] Ploppy3 commented on #24381
@hibatallahAouadni aggressively closing issues is not a solution, the problem is still there.

[2021-05-27 09:14] Hlavtox opened #24671 "Default category checkbox is not visible"
### Describe the bug
Radio button to select default category of a product is not visible, if some categories with longer names are created, or just generally, you have a lot of categories.

The radio button is on the left, but it's outside of the categories window 😄  .

I had some clients contacting me and not knowing, how they could select the default category. It gets hidden and due to no scroll

[2021-05-27 09:16] pab23 commented on #19810
Hi,

I still having this issue at Prestashop 1.7.7.2 and ps_facetedsearch 3.7.1

![image](https://user-images.githubusercontent.com/33161665/119799656-92359600-bedc-11eb-86d5-ef0e05d449cb.png)

Ordered by price low to high and not ordering poperly.

This are the first four products

![image](https://user-images.githubusercontent.com/33161665/119799930-d88af500-bedc-11eb-940f-e10e76d82de7.png)

Sho

[2021-05-27 09:18] hibatallahAouadni commented on #24381
Hello @Ploppy3

I didn't aggressively close the issue :wink:
As you can see, @PululuK asked you to check the doc and you didn't even feedback for more than 20 days.
So, if we don't receive any answer from the issue's author, we close the issue.

Thanks!

[2021-05-27 09:21] Maofree opened #24672 "Report a bug with child theme into theme.yml"
#### Describe the bug
I report a problem with the child theme. It is not possible to add extra files into theme.yml with the line
`use_parent_assets: true`
or
`use_parent_assets: false`
I get a php error. If I remove this line
`use_parent_assets: true`
all seems ok and my extra file present into the child theme is loaded and the rest prestashop assets

#### Expected behavior
the goal should be loa

[2021-05-27 09:30] marionf commented on #23048
It seems a good idea, @MatShir as you worked a lot on the order page, what do you think?

[2021-05-27 09:35] marionf commented on #24424
I think it could be a good idea to create a new type "Employee order" for an order made through the BO

[2021-05-27 09:53] atomiix commented on #18547
@eternoendless @PierreRambaud
`php 8` requires `doctrine/orm` `^2.8`
`doctrine/orm` `^2.8` requires `doctrine/common` `^3.0`

`symfony/symfony` `3.4` requires `doctrine/common` `^2.4`

so the only way to get `php 8` working is to update `symfony/symfony` to at least `4.2`

[2021-05-27 09:56] eternoendless commented on #24650
May I suggest `docs.prestashop-project.org`?

[2021-05-27 09:58] Progi1984 commented on #24650
@eternoendless `docs.prestashop-project.org` is for user docs or dev docs ?

[2021-05-27 10:29] MatShir commented on #23048
We have two missing features (resend the order and the resend the invoice) when the merchant change the email address of a customer. So this feature is very welcome :)

[2021-05-27 11:04] bimlas commented on #18008
The working principle of automatic country determination is to search for a country with the same ISO code based on the language code of the browser. If the language code set in your browser does not match the ISO code of a country (eg Czech language code `CS`, country ISO code `CZ`), Prestashop will not be able to determine the country. In this case, returns the default country.

1.7.7.x

https:/

[2021-05-27 11:28] mvorisek opened #24674 "ps_checkout CDN image should be moved into the repo"
#### Is your feature request related to a problem?

Image from https://github.com/PrestaShopCorp/ps_checkout/search?q=amazonaws should be moved into the repo directly.

[2021-05-27 11:40] matks commented on #24674
@mvorisek PrestaShop Checkout https://github.com/PrestaShopCorp/ps_checkout/ is a module built and distributed by PrestaShop company and consequently is out of the scope of the OSS project 😉  . It is not in the PrestaShop GitHub organization.

[2021-05-27 11:40] #24674 closed, assigned to nobody

[2021-05-27 11:45] mvorisek commented on #24674
But it is installed by default, thus this should be fixed. The only non-local resource aftern an installation.

[2021-05-27 11:56] masiorama commented on #24321
Ping @hibatallahAouadni

[2021-05-27 12:19] jolelievre commented on #24529
Hi @ytilotti

after some research I realized we were wrong in expecting `product_price` to be equal to `original_product_price` When you look at this code:
https://github.com/PrestaShop/PrestaShop/blob/948ecce8461176c507512c977633731bc3550a24/classes/order/Order.php#L607

you can see that it's actually always computed to be equal to `unit_price_tax_excl`

So in the proposed scenario there was inde

[2021-05-27 12:21] MatShir commented on #23589
Maybe a new repo ? @PrestaShop/prestashop-maintainers WDYT ?

[2021-05-27 13:26] hibatallahAouadni commented on #24671
Hello @Hlavtox

Could you pelase provide steps to reprodcue the issue.
Please check and feedback.

Thanks!

[2021-05-27 13:29] hibatallahAouadni commented on #24663
Hello @ballashop

Why you need to use the partial refund with tax included while you're selling your products with tax excluded.
Please check and feedback.

Thanks!

[2021-05-27 13:29] hibatallahAouadni commented on #24386
Hello @sebidk ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-27 13:29] #24386 closed, assigned to nobody

[2021-05-27 13:32] Progi1984 commented on #24191
Fixed by @atomiix in #24253

[2021-05-27 13:32] #24191 closed, assigned to atomiix

[2021-05-27 13:34] eternoendless commented on #24650
We'll use `devdocs.prestashop-project.org` for devdocs

[2021-05-27 13:44] matks commented on #24662
Hi @Flowster I actually believe your issue is right: AFAIK config/admin/services.yml files have the same purpose for different environments.

If I am not wrong admin/services.yml and front/services.yml have been added later to allow the use of services more widely than initial services.yml . @jolelievre can you confirm? I see no reason to use simple services.yml now (but we keep it probably for ba

[2021-05-27 14:12] Progi1984 commented on #24635
@PrestaShop/product-team I have a problem with this PR...

Since this bugfix #18810 (ping @matthieu-rolland), cumulative reduction exists.

But like free shipping is not really free shipping, but a reduction of shipping : it enters in the field of cumulative reduction. Isn't it ?

[2021-05-27 14:14] jolelievre commented on #24662
@matks @Flowster Ok I understand the problem now!

So indeed as the documentation explains there are three different services config files, but `config/admin/services.yml` and `config/front/services.yml` are handled by our legacy container which is a light Container used in legacy front/admin controllers. They are both initialized in those places:

https://github.com/PrestaShop/PrestaShop/blob/948

[2021-05-27 14:16] hibatallahAouadni commented on #24672
Hello @maofree

Could you please respect and follow the provided template to submit a complete bug report.
And please provide the steps to reproduce :pray:

Thanks!

[2021-05-27 15:12] maofree commented on #24672
done

bye

[2021-05-27 15:41] hibatallahAouadni commented on #24664
as discussed in Slack, here's the screenshot of the bug that @jolelievre and I reproduce it:

![image](https://user-images.githubusercontent.com/23308427/119855867-92e91f00-bf12-11eb-8d7a-5ace61b34239.png)

[2021-05-27 18:28] musicpanda commented on #10471
One shop solved this by copying en.js to create gb.js in the directory /js/tiny_mce/langs.

[2021-05-27 18:28] jolelievre commented on #24664
@hibatallahAouadni indeed the bug you are showing came from a problem with one of our dependency and was fixed by #24572

You should be able to test the problem @NeOMakinG mentioned correctly now

[2021-05-27 22:38] hardstonepaul commented on #20972
Hello in my case, I have products in three categories levels: category root, category father, and category child, I sort the products with the same order in the three categories and work for me.

I haven the same problem but when I see your image I decide sort all categories. Thanks

[2021-05-27 22:59] kpodemski opened #24683 "Template hierarchy doesn't work with CMS Category"
#### Is your feature request related to a problem?

Yes. Template hierarchy doesn't work with CMS categories

#### Describe the solution you'd like

Make a proper improvements to TemplateFinder to allow developers to use template hierarchy for CMSCategory

#### Alternatives you've considered

n/a

#### Additional context

n/a

[2021-05-28 04:01] OliveCodeTester opened #24685 "Prestashop 1.7.7.4 Test Email Issue Error 220"
I am trying to send out test emails and got an error message that states:

#### Expected behavior

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Advanced Parameters'
2. Click on 'E-mail'
3. Scroll down to 'Test your email configuration'
4. See error: Error: Please check your configuration
Expected response code 220 but got an empty response

* PrestaShop version: 1.7.7.4
* P

[2021-05-28 07:39] marionf commented on #24635
@Progi1984

Yes, here the total of reductions (Discounts line) is correct => Free shipping (8,40€) + 10% (10€) = 18,40€ :heavy_check_mark:

The problem is the 10% discount line, it should display 10€ here and not 9.16€ :negative_squared_cross_mark:

[2021-05-28 07:40] florine2623 commented on #24685
Hello @OliveCodeTester ,

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a **server configuration** or customization problem.

We will close this issue.

Thank you

[2021-05-28 07:40] #24685 closed, assigned to nobody

[2021-05-28 07:46] Progi1984 commented on #24635
So the free shipping doesn't enter in the field of cumulative reduction. Thanks.

[2021-05-28 08:10] ks129 opened #24686 "Maintenance information translation at BO header is not escaped properly"
#### Describe the bug

If you set translation of
[code]

to like
[code]
then header breaks:
![Screenshot 2021-05-28 at 11 00 49](https://user-images.githubusercontent.com/45097959/119951037-32a2bd80-bfa4-11eb-969f-c458a2efe378.png)

#### Expected behavior

The header should remain normal and show only icon + maintenance text.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Shop must

[2021-05-28 08:30] kpodemski opened #24687 "Precise product weight is not correctly displayed in back-office"
#### Describe the bug

Title says it all.

#### Expected behavior

We should see precise weight correctly.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Catalog -> Product
2. Edit product
3. Go to 'Shipping' tab
4. Set 'weight' to `0,01731`
5. As you can see, in BO it shows us only `0,017` but in database value is correct

**Screenshots**

https://www.dropbox.com/s/wljgcmiat

[2021-05-28 08:42] agnesdennetiere opened #24689 "Creation of a product in php"
Hello,

When I try to create a product in PHP, I get an error regarding the name.

Here is my code:
[code]

I get this error

![image](https://user-images.githubusercontent.com/4499399/119956032-f02bb180-bfa0-11eb-90e8-5c3f833ea834.png)

* PrestaShop version: 1.7.7.3
* PHP version: 7.2

Thank you for your help!

[2021-05-28 08:55] florine2623 commented on #24686
Hello @ks129 ,

I was able to reproduce the issue with PrestaShop version 1.7.7.4 and develop, so I can confirm that this behavior is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider

[2021-05-28 08:57] kpodemski commented on #24689
This is not a bug, your code is not valid. Try to `dump` those two objects and you'll see differences.

I suggest you to create a topic on [PrestaShop Stack Overflow](https://stackoverflow.com/questions/tagged/prestashop), [forum](https://www.prestashop.com/forums) or visit us on [Slack](https://join.slack.com/t/prestashop/shared_invite/zt-dkmbz5qf-I~FlEWwmRUOXunc5ui0Ucg) where you can ask for hel

[2021-05-28 09:12] florine2623 commented on #24687
Hello @kpodemski ,

I was able to reproduce the issue with PrestaShop version 1.7.7.4 and develop, so I can confirm that this behavior is indeed a bug.

Thank you for the PR!

[2021-05-28 09:12] agnesdennetiere commented on #24689
I found it, the code was valid but I had an override for the name attribute in the Product class which caused the error

[2021-05-28 09:12] #24689 closed, assigned to nobody

[2021-05-28 09:17] florine2623 commented on #24683
Ping @PrestaShop/prestashop-core-developers ,

Is it possible to get your insight on that ?
Thanks!

[2021-05-28 09:30] florine2623 commented on #24597
Hello @Shagshag ,

[2021-05-28 09:40] florine2623 commented on #24321
Hello @masiorama ,

I can't reproduce your issue.
The blockwishlist module is not available in version 1.3.2 :
https://github.com/PrestaShop/blockwishlist/tags

[2021-05-28 09:41] #15835 closed, assigned to levyn

[2021-05-28 09:41] #15866 closed, assigned to levyn

[2021-05-28 09:58] kmorgen commented on #23748
Has this been reopen and/or still in debug backlog?

Seems in Mail Alerts V2.3.0 (ps_emailalerts) and PS 1.7.7.4 it is still not possible to translate e-mail **SUBJECT**.

[2021-05-28 10:11] masiorama commented on #24321
Hello @florine2623 ,
 actually I guess that since there was no blockwishlist for PS 1.7 till a few weeks ago, I (and some other people like the opener of the issue, @jacob-v-dam ) tried to install the module version for PS 1.6. Guess what, it worked till now (I installed version 1.3.2 on my ps in 2019). Now I do not know why there is no trace of the 1.3.2 release, I guess some clean up has been ma

[2021-05-28 10:22] #24575 closed, assigned to nobody

[2021-05-28 10:22] PululuK commented on #24575
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24577

[2021-05-28 10:50] felipeseo commented on #17857
hello, I have a similar problem, prestashop with webservice does not let me edit or delete stock, but in my case I use nodejs which is javascript.

[2021-05-28 10:55] khouloudbelguith opened #24691 "[Multi-invoices] BO - Orders - A modal should'nt be displayed when we add the same product to a specific invoice with updating price"
#### Describe the bug

Reported [here](https://github.com/PrestaShop/PrestaShop/pull/24253#issuecomment-849614195)
This issue occurs when we have multi-invoice (more than 2 invoices created).
When we try to add the same product to a specific invoice, a modal is displayed.
It shouldn't, we need to have only alert `Error! This product is already in the invoice #IN00000x, please edit the quantity ins

[2021-05-28 11:07] khouloudbelguith opened #24692 "BO - Currencies - It is not possible to create a BYN currency"
#### Describe the bug

In the BO > International > Localization > Currencies page, the we try to create a BYN currency => an exception is displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Localization > Currencies page
2. Click on 'Add new currency'
3. Choose BYN
4. See error

![image](https://user-images.githubusercontent.com/16067358/119974963-98

[2021-05-28 11:27] Brothely opened #24693 "Route to products : -{id}{-:id_product_attribute} position changed to end issues ."
Hi,

BO: In the Shop Parameters=>SEO & URLS page , when we change the route to products :
Example : default is {category:/}-{id}{-:id_product_attribute}{rewrite}{-:ean13}.html changed to => {category:/}{rewrite}{-:ean13}-{id}{-:id_product_attribute}.html  ( changed -{id}{-:id_product_attribute} to after {-:ean13}) .

![Schema of URLS changed Route to products](https://user-images.githubusercontent

[2021-05-28 12:18] Progi1984 commented on #24472
Ping @khouloudbelguith Have you got more informations about this issue ?

[2021-05-28 12:37] Robin-Fischer-PS opened #24694 "BO - Orders - The total block is not well displayed"
#### Describe the bug

In the BO > Orders > Order view page, the total block is not well displayed, it's aligned to the left instead of being centered (the screenshots have a pink background to highlight the bug).

![not centered block total 178](https://user-images.githubusercontent.com/55688534/119984390-a1dada80-bfc1-11eb-8c41-0f15d6de7f12.png)

It was OK in 1.7.7

![centered block total 177](h

[2021-05-28 12:37] khouloudbelguith commented on #24472
Hi @Progi1984,

Sorry for this delay, yes, the issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/24596
https://drive.google.com/file/d/1TkA4Kv3gUBNzWAfS-cXz_Z6voX3ygc_O/view?usp=sharing

Thanks @Progi1984, @NeOMakinG :smile:

[2021-05-28 12:37] #24472 closed, assigned to Progi1984

[2021-05-28 12:39] Progi1984 commented on #24472
Good news. Thanks @khouloudbelguith

[2021-05-28 12:40] Progi1984 commented on #23115
Fixed in #24283 by @NeOMakinG

[2021-05-28 12:40] #23115 closed, assigned to NeOMakinG

[2021-05-28 13:05] Robin-Fischer-PS opened #24695 "BO - Incorrect display of the icon of messages when the screen is reduced"
#### Describe the bug

When the size of the screen in the BO is reduced, the icon of error, confirmation, warning messages is sometimes not displayed OK.

#### Expected behavior

The icon should always be displayed OK.

#### Steps to Reproduce

It's a bit hard to find steps to reproduce the bug, it's not always there. But it was reproduced many times by @SD1982 and I, so it's there :D

1. Go to BO

[2021-05-28 13:37] #23332 closed, assigned to PierreRambaud

[2021-05-28 13:39] #24693 closed, assigned to nobody

[2021-05-28 13:47] matks commented on #24321
Unfortunately past releases were not done rigorously so there is no GitHub release, but there has been a v1.3.2 version of the module (distributed by Addons) https://github.com/PrestaShop/blockwishlist/commit/0eafb91aea556e4ae06c2ffd962aad54eeabb36d#diff-3986bd5e03f6be158323df2285d3a4725dc466df0b5d55128b258c59fa2ff044

[2021-05-28 13:48] khouloudbelguith commented on #24533
Hi @PierreRambaud,

When we click "add a product", we need to choose a product, then we select to "create new invoice" => so we have the issue
![image](https://user-images.githubusercontent.com/16067358/119993695-25012e00-bfcc-11eb-993e-05372cdf7800.png)

Thank you!

[2021-05-28 13:52] matks commented on #24683
Thanks for the ping @florine2623 😉

@kpodemski feature idea is relevant I think 👍

[2021-05-28 13:54] masiorama commented on #24321
Thanks @matks !
What do you suggest to do, drop (disable and uninstall the 1.3.2 module) and install the new 2.0.0 version? I guess all records created by the clients would be deleted, so I should somehow port those records somehow, right?
Thanks!

[2021-05-28 13:56] matks opened #24698 "As a BO admin I want to be able to track changes done from the Back Office"
#### Is your feature request related to a problem?

As a BO admin I want to be able to track changes done from the Back Office. I want to know when a product properties has been updated, when a product has been deleted, when a category was renamed... because sometimes my shop settings are wrong and I want to understand how it ended up in this situation.

#### Describe the solution you'd like

A wa

[2021-05-28 14:04] NeOMakinG commented on #24695
I'm totally unable to reproduce it, let's wait if someone else notice it

[2021-05-28 14:05] ballashop commented on #24663
Hi @hibatallahAouadni,
the company always shows and sells prices without VAT, this is because it usually sells to b2b companies.
When an order is refunded, the VAT already paid by the customer is also refunded.
We need to create a complete credit notes: price without VAT, VAT and any shipping costs.
Of these three parameters, only the VAT cannot be refunded at the moment.
Thanks a lot for any repl

[2021-05-28 14:54] PululuK commented on #24698
Hi @matks @ldeprestashop

IMHO I think we need  :

- Improve logs controllers : (started here https://github.com/PrestaShop/PrestaShop/pull/21075)
- Add missing log datas in some controllers and classes : (Started here https://github.com/PrestaShop/PrestaShop/pull/18519)

I can take this issue 😉

Thanks

[2021-05-28 15:05] PululuK commented on #24698
Yeah ! I like the idea @matks
The problem of the logs that they fill up very quickly, I'm afraid that the log table will explode. Should we perhaps analyze the relevance of the actions to be logged?

[2021-05-28 18:59] num47 opened #24700 "Product Reference and Product Quantity not updating"
#### Describe the bug

I was trying to edit the a default product that comes after installation whose product ID number 1. I was trying to update the Reference number of the product but i could not update it unless i have deleted all the combinations of the product. And, after deleing all the combinations of the product, i was trying to update the product quantity and i could not update it any way

[2021-05-28 21:32] acecconato commented on #24700
Hello, I'm not sure that is a bug. I suppose, those "demo_1" references are assigned to the product's combinations, which are not visible directly in the BO. I guess the product details section is displaying the selected combination.

I also have tried to switch the "Product with combination" option to the "Simple product" one before updating the quantity, and my FO is now displaying the proper de

[2021-05-28 22:03] hibatallahAouadni commented on #24686
Reproduced with PS1.7.6.7, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/120045805-256fe800-c011-11eb-8834-e4a92fe72574.png)

It's not a regression!

Even in the Dashboard page, I reproduce the issue.

[2021-05-28 23:18] hibatallahAouadni commented on #24414
Hello @MattC1984 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-28 23:18] #24414 closed, assigned to nobody

[2021-05-28 23:19] hibatallahAouadni commented on #24007
Hello @N-Wouda ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-05-28 23:19] #24007 closed, assigned to nobody

[2021-05-29 04:30] num47 commented on #24700
Hello,
I was trying everything to update the product quantity and no way i could do it. But, suddenly it is working now well and good. Can’t really figure what prevented it to work few hours ago. I must be missing something. I will research more about it. Thank you bro.

[2021-05-29 04:30] #24700 closed, assigned to nobody

[2021-05-29 09:52] acecconato commented on #24692
It looks like the numericIsoCode is missing for few currency data, but I can't figure out where he is generated. I saw that Prestashop is using CLDR data, they are stored in the localization/core/common/main but they seem not to manage the numeric iso code.

This may help someone else...

All currencies without numericIsoCode:

[code]

[2021-05-29 13:43] marekjedrzejewski opened #24702 "Link to products in order details for client"
#### Is your feature request related to a problem?

In order details in customer account page product section only has name and reference number. Would be nice to also have link to product page there to see what it actually is.

#### Describe the solution you'd like

Name of product, when inspected already is an `a` element, but is missing `href`, looks like feature already was planned, did not ma

[2021-05-29 15:41] TechhDan commented on #24514
Hello @hibatallahAouadni ,

I apologize for not being very clear about this.

- These two lines of code are not located anywhere in a default PrestaShop installation i believe. This is more for developers who are trying to make a payment module for PrestaShop.
- The demo module is meant to be installed and used as a payment demo module. Just download it as a module and upload it to any default Pre

[2021-05-29 18:18] EDV4BIZ opened #24703 "Error on Customer Page"
Since the update to Version: 1.7.7.4
At some Customers when we try to open the Customer Page we got this error:
![image](https://user-images.githubusercontent.com/31078768/120080868-0037b400-c0bb-11eb-8d47-231892922eb9.png)
Whats the mistake?

[2021-05-29 19:07] Hlavtox commented on #24698
Hi everyone, my 5 cents to this topic. **THIS IS EXTREMELY GOOD IDEA AND IMPORTANT THING.** 👍 👍 👍

Even with only few employees, as a boss, you need to know who did this or who screwed up that. In our ERP, every single action on every single object is logged - date and time, employee, what data changed, previous state and final state. Can't imagine living without it in those "how the hell this hap

[2021-05-31 07:00] hibatallahAouadni commented on #24702
Hello @marekjedrzejewski

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to impleme

[2021-05-31 07:36] #24694 closed, assigned to NeOMakinG

[2021-05-31 07:41] hibatallahAouadni commented on #24703
Hello @EDV4BIZ

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-05-31 07:41] #24703 closed, assigned to nobody

[2021-05-31 07:44] #24633 closed, assigned to jolelievre, Julievrz

[2021-05-31 07:57] javierVP opened #24705 "Bank transfer module shows amount 0"
The bank transfer module shows amount 0 when placing the order.
The module version is v2.1.0
PrestaShop version 1.7.7.4
PHP Version: 7.3.27
Link capture: https://www.awesomescreenshot.com/image/8837076?key=29cc5674804e9b12086b1bbb6ca0fab9

[2021-05-31 08:32] hibatallahAouadni commented on #24122
Hello @jcarloscid

Thanks to @khouloudbelguith we found the original issue #14646
Could you please check it :pray: just to make sure that your issue is a duplicate of #14646

Thanks!

[2021-05-31 08:45] Progi1984 commented on #24536
Fixed by @NeOMakinG in #24447

[2021-05-31 08:45] #24536 closed, assigned to NeOMakinG

[2021-05-31 09:40] lmeyer1 opened #24706 "PrestashopLogger should save object type, even if object id is not set."
#### Describe the bug

Swiftmailer has thrown an exception, but `Prestashoplogger` did not save the `object_type` 'Swift_Message'.

#### Expected behavior

I expected that the exception waould be logged to `ps_log` with all it's attributes.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to *Configure - Advanced Parameters - E-mail*
2. Select *Set my own SMTP parameters (for adva

[2021-05-31 09:49] hibatallahAouadni commented on #24705
Hello @javierVP

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-05-31 09:49] #24705 closed, assigned to nobody

[2021-05-31 10:02] grzegorzgit opened #24708 "getParentCategories() to return all parent categories"
Hello,
I have just found out, that Product::getParentCategories() doesn't return all the parent categories, only the  parent categories of category set as default for the product.

So if you sell cloths, and you want to check which top level categories have a sweater you will only get information that it is "men's cloths" but not that it is "Christmas themed", although when you display your "chris

[2021-05-31 10:03] javierVP commented on #24705
Ok I better explain the problem.

0. I have the Classic template.
1. I place a normal order.
2. I select the bank transfer payment method.
3. When the confirmation is made, the module shows the amount 0 in the order confirmation instead of the order amount.

The module ps_wirepayment version is v2.1.0
PrestaShop version 1.7.7.4
PHP Version: 7.3.27
![ps_wirepayment_order](https://user-images.github

[2021-05-31 10:06] mvorisek opened #24709 "IDE stubs for XxxCore classes"
This is technical question/feature request.

What is the best approach currently to get IDE understand the XxxCore classes as Xxx? Is there any existing code to generate stubs for them?

[2021-05-31 10:08] grzegorzgit commented on #24708
I am closing the issue, as it actually is not necessarily, there is Category::getParentsCategories() method which with connection of Product::getCategories() can give all the product's categories.

[2021-05-31 10:08] #24708 closed, assigned to nobody

[2021-05-31 10:10] PierreRambaud commented on #24709
Hi,

There is a file named `class_stub.php` that is automatically created by the PrestaShopAutoload class. AFAIK, it's working automatically for all recent IDE, even on VIM or Emacs :)

[2021-05-31 10:18] mvorisek commented on #24709
I have an issue with it as when I click a class name (excl. known method/prop), I end up in that stub file instead of wanted class.

What about putting the stubs directly above the XxxCore classes?

Example:

![image](https://user-images.githubusercontent.com/2228672/120178585-f2dd0f80-c209-11eb-81e2-4ebec864184b.png)

Please let me know if a PR like this is wanted. It is safe, as the if cond can

[2021-05-31 10:27] hibatallahAouadni commented on #24706
Hello @lmeyer1

In my ps_log, the whole line doesn't exist like I didn't send the test mail and didn't receive the error.
But when I try to change an Order status, then I reproduce the issue, see the attached screen record below:

https://drive.google.com/file/d/1iKb36pR0AOT6nSlA2JbYPyt-r5kSIbln/view

I was able to reproduce the issue with PS1.7.6.7, PS1.7.7.4 and develop. I’ll add this to the deb

[2021-05-31 10:36] Progi1984 commented on #24598
Fixed by @atomiix in #24679

[2021-05-31 10:36] #24598 closed, assigned to atomiix

[2021-05-31 10:39] hibatallahAouadni commented on #24709
Hello @mvorisek

You can post your question on Slack, why you use Github?
As you know we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, you can ask for help in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

So, no offense :pray: sorry but I have

[2021-05-31 10:39] #24709 closed, assigned to nobody

[2021-05-31 10:41] mvorisek commented on #24709
Because it is a feature request and I wanted to validate first if PR for the change will be accepted.

[2021-05-31 10:43] hibatallahAouadni commented on #24705
Hello @javierVP

Thanks for the steps but I didn't manage to reproduce the issue with PS1.7.7.4 and Bank transfer v2.1.0, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/120181657-ac89af80-c20d-11eb-9f7d-6e2aa07c4262.png)

Thanks!

[2021-05-31 10:49] hibatallahAouadni commented on #24709
Hello @mvorisek

I see :slightly_smiling_face:
So, please next time validate (while discussing with developers on Slack) then submit your feature request here :wink:
And don't forget to respect and to follow the provided template to submit a complete feature request :pray:

Well, you can continue discuss with @PierreRambaud here now :wink:
When you validate your feature, modify your the original p

[2021-05-31 11:01] sowbiba commented on #23010
## 31-05-2021 Status update - 1.7.8.0 beta in progress

- All must-have issues are fixed
- Changelog PR created https://github.com/PrestaShop/PrestaShop/pull/24712
- One nightly fail to check
The goal is to deliver the BETA today
_... this message will be edited if something change_

[2021-05-31 11:20] javierVP commented on #24705
Well, it is a clean installation, there are no updates involved.

[2021-05-31 11:22] javierVP commented on #24705
What file controls the order variable in the module?

[2021-05-31 11:27] mvorisek opened #24714 "Drop DbMySQLi"
#### Is your feature request related to a problem?

PDO is mandatory [1], no need for Mysqli class.

#### Describe the solution you'd like
Drop DbMySQLi

[1] https://github.com/doctrine/dbal/blob/v2.10.1/composer.json#L36

[2021-05-31 11:32] mvorisek opened #24715 "Replace `pear/archive_tar` with Phardata"
#### Is your feature request related to a problem?

As of PHP 5.3 not needed, see https://stackoverflow.com/questions/9416508/php-untar-gz-without-exec

#### Describe the solution you'd like
...

[2021-05-31 12:04] sowbiba opened #24716 "Translations - Export - Add metadata to exported catalogue"
#### Describe the bug

When we export translation catalogue for BO interface
![Capture d’écran de 2021-05-31 11-56-22](https://user-images.githubusercontent.com/7426640/120189770-4568fc80-c207-11eb-9f2d-2b327a94a80d.png)

Metadata are empty. It's because when we transform extracted catalogue into Map objects, we loose the metadata properties
https://github.com/PrestaShop/PrestaShop/blob/1.7.8.x/sr

[2021-05-31 12:06] hibatallahAouadni commented on #24715
Hello @mvorisek

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this f

[2021-05-31 12:07] hibatallahAouadni commented on #24714
Hello @mvorisek

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-05-31 12:08] PierreRambaud commented on #24709
I think it's up to you to properly configure your IDE as the sub is already created by the autoloader.

[2021-05-31 12:13] mvorisek commented on #24714
see title :)

[2021-05-31 12:22] PierreRambaud commented on #24617
I think it has already been fixed by this PR: #24611

[2021-05-31 12:50] PierreRambaud commented on #24550
Using the recommended modules:
![image](https://user-images.githubusercontent.com/1462701/120195691-5aea2080-c21f-11eb-8ccb-3997e68ab4e5.png)

In shipping carrier:
![image](https://user-images.githubusercontent.com/1462701/120195881-866d0b00-c21f-11eb-9c42-fca692703de9.png)

I'm sorry, I'm not able to reproduce this issue :(

[2021-05-31 13:15] MatShir commented on #24105
First, we need to test it in a fresh installation with version 2.1.0 of the module to see if we can reproduce the issue.

[2021-05-31 13:19] MatShir commented on #23899
To moved to the MBO repo !

[2021-05-31 13:21] #24105 closed, assigned to NeOMakinG

[2021-05-31 13:22] PierreRambaud commented on #24533
I finally manage to reproduce the issue, I create a pull request to fix it

[2021-05-31 13:32] ttoine commented on #24111
The target is to have a full independent, full open source version of the software, because many tech people needs it. And also, this should become the main base to work on many PrestaShop distributions.
E.G, even the PrestaShop company is going to build the version available on prestashop.com on top of this full open source project. It will also ease the process for agencies and tech people who b

[2021-05-31 13:34] Robin-Fischer-PS commented on #24550
Hi @PierreRambaud !

I cannot reproduce it either, on fresh install from branch or from the nightly build. It was probably fixed somehow by a PR.

I close this ticket, thanks !

[2021-05-31 13:34] #24550 closed, assigned to PierreRambaud

[2021-05-31 13:54] matthieu-rolland commented on #24532
So I closed my PR:  https://github.com/PrestaShop/PrestaShop/pull/24718 because @PierreRambaud fixed it in another PR for issue #24533

[2021-05-31 14:19] hibatallahAouadni commented on #24716
@sowbiba I think it's kind of a regression because we didn't have this option in 1.7.7.x, wdyt?

[2021-05-31 14:24] hibatallahAouadni commented on #24105
@MatShir I see you've been struggling with prestabot :sweat_smile: So al last what's the status of this issue?
Shall I reopen it with TBR label?

[2021-05-31 14:27] mvorisek commented on #13816
https://github.com/PrestaShop/PrestaShop/issues/22262 is a real issue, as `proc_open` is disabled almost on every public hosting and the only solution is to use removed `mail()` somehow, or require smtp details to make outgoing emails working.

[2021-05-31 14:29] jf-viguier commented on #24370
Is this issue fixed by https://github.com/PrestaShop/PrestaShop/pull/24270 ?

[2021-05-31 14:38] jcarloscid commented on #24122
Well, I can´t tell this is the same case.

I think that the key point on my issue is that we have TWO PRODUCT with a different tax rate each and one of them is A GIFT.

Issue #14646 tells about a SINGLE PRODUCT with TWO taxes.

But on May 20th you already reproduced my issue. The issue is on the invoice, not on the order, and it affects the tax breakdown (total tax is correct).

Why I think you ha

[2021-05-31 14:43] mvorisek opened #24722 "http_build_url can not be no longer required from tools/"
#### Describe the bug

Requires must be removed, see https://github.com/PrestaShop/PrestaShop/search?q=http_build_url

[2021-05-31 14:44] hibatallahAouadni commented on #24370
@jf-viguier no this issue is thrown by #24270

[2021-05-31 14:55] hibatallahAouadni commented on #24497
Hello @arouiadib

Sorry for the misunderstanding and thanks for your patience :pray:
I was able to reproduce the issue with PS1.7.6.7, PS1.7.7.4 and develop. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be f

[2021-05-31 15:07] jf-viguier commented on #24370
In branch  PrestaShop:1.7.8.x ? @hibatallahAouadni

[2021-05-31 15:55] micka-fdz commented on #24698
+1 for this good idea ! Very useful for agencies like us to know if errors come from us or merchants 😂

[2021-05-31 15:59] hibatallahAouadni commented on #24722
Hello @mvorisek

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-05-31 15:59] #24722 closed, assigned to matks

[2021-05-31 16:01] mvorisek commented on #24722
see title - "can not be no longer required" is full information

[2021-05-31 16:13] ldeprestashop commented on #24698
@matks Ye I can make a specification.

Just wait 2 week, I must focus on Product days and finish strategics plan before ;)

[2021-05-31 16:37] hibatallahAouadni commented on #24122
Hello @jcarloscid

Well then, thanks for your feedback!
I was able to reproduce the issue with PS1.7.6.7, PS1.7.7.4 and develop. I’ll add this to the debug backlog so that it’s fixed.

![image](https://user-images.githubusercontent.com/23308427/120221755-3dc54a00-c23f-11eb-9007-476cf511d09d.png)

Please be aware that due to the high number of reported issues, some bugs might take a very long time

[2021-05-31 16:42] erdeib commented on #15420
This issue was resolved? Because also in the latest version of prestashop I still have the same issue

[2021-05-31 16:50] jcarloscid commented on #24122
Perfect. Thanks.

[2021-05-31 16:55] hibatallahAouadni commented on #24370
@jf-viguier Yessss :wink:

[2021-05-31 17:53] #23899 closed, assigned to NeOMakinG

[2021-05-31 18:25] hibatallahAouadni commented on #24671
Hello @Hlavtox

You're right, you need to scroll to see the checkbox in PS1.7.6.7 and PS1.7.7.4:

https://www.awesomescreenshot.com/video/3953760?key=2adf3a4f315ea5ea39aacd1980d5e5bc

But, on develop, when you try to open the category tree, the scroll will be automatique active and you will see the checkboxes:

https://drive.google.com/file/d/17VwNS7Y5v3-Y2DBrd7nBzG06NTMRohpZ/view

Please check an

[2021-05-31 18:29] Hlavtox commented on #24671
@hibatallahAouadni Welll, both are wrong, it should be visible both, and the category name should be wrapped. 😛

[2021-05-31 19:01] hibatallahAouadni commented on #24671
@Hlavtox well, I think what you're asking for is an improvement :wink:

So, thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to

[2021-05-31 20:10] mihaiSeoCup commented on #12588
in the PaymentModule.php you need to comment out OR CHANGE:
--  line 377
if (!$order->addOrderPayment($amount_paid, null, $transaction_id)) {
                    PrestaShopLogger::addLog('PaymentModule::validateOrder - Cannot save Order Payment', 3, null, 'Cart', (int) $id_cart, true);

                    throw new PrestaShopException('Can\'t save Order Payment');
                }

location:
/ro

[2021-06-01 08:10] atomiix commented on #24342
## 🚧 🚥 STATUS UPDATE

`1.7.7.x` branch has been completed for release, and a 1st ZIP archive has been built. It has been delivered to QA team who will be able to launch the standard patch release test campaign.

This test campaign aims to find whether this patch introduces new bugs.

If the campaign reports that no bugs are found, the new patch release will be validated by QA team and we will be a

[2021-06-01 08:10] matks commented on #23010
- [x] GitHub Release ✅  https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.8.0-beta.1
- [ ] prestashop.com Release 🟠
- [ ] Release note 🟠
- [ ] docker images 🟠

[2021-06-01 08:46] Progi1984 commented on #24533
Fixed by @PierreRambaud in #24718

[2021-06-01 08:46] #24533 closed, assigned to PierreRambaud

[2021-06-01 08:49] Progi1984 commented on #24554
Fixed by @NeOMakinG in #24594

[2021-06-01 08:49] #24554 closed, assigned to NeOMakinG

[2021-06-01 09:26] #24532 closed, assigned to matthieu-rolland

[2021-06-01 09:27] micka-fdz opened #24724 "Unable to translate emails subjects from ps_emailalerts"
#### Describe the bug

Unable to translate emails subjects from `ps_emailalerts` module.
Translations are missing from `EmailsSubject.xlf` file and don't appear in the interface.

#### Expected behavior

We need to be able to translate the subjects of these emails.

As I discussed with @jolelievre on Slack, `ps_emailalerts` module is no longer a native module and must use its own translation domai

[2021-06-01 09:30] khouloudbelguith commented on #24482
Hi @Progi1984, @MatShir,

I manage to reproduce the issue with PS1775build1.
![image](https://user-images.githubusercontent.com/16067358/120300726-7a8b5280-c2cc-11eb-91ab-11a632009a68.png)

It was ok with PS1774
![image](https://user-images.githubusercontent.com/16067358/120300903-a8709700-c2cc-11eb-81b0-fd805b55abc1.png)

So it is a regression in the PS1775.
I will change the Projects.

Thanks!

[2021-06-01 09:39] PierreRambaud commented on #24695
Same, I'm not able to reproduce the error, I'm running on Debian Buster.

[2021-06-01 09:42] Progi1984 commented on #24142
Fixed in #24696 by @jolelievre

[2021-06-01 09:42] #24142 closed, assigned to jolelievre

[2021-06-01 10:03] bastienuh opened #24726 "Customer Thread with no message inside creates exception."
#### Describe the bug

When I go on an order page, I have this error message :
[code]

It seems to be linked to #22215 but behavior are slightly differents, and it's not a bug with some column set to null instead of empty.

#### Expected behavior

The order page correctly displayed.

#### Steps to Reproduce

I don't know how it happened, because it's a very recent order (yesterday) and not due to

[2021-06-01 10:49] hibatallahAouadni commented on #24724
Hello @micka-fdz

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #17810.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-06-01 10:49] #24724 closed, assigned to nobody

[2021-06-01 10:49] hibatallahAouadni commented on #24724
Duplicate of #17810

[2021-06-01 10:57] hibatallahAouadni commented on #24726
Hello @bastienu

Thanks for the details :pray:
Did you upgrade your shop lately? and did you encounter any issues while upgrading? any warning?
About the order with id = 78279, is it created by the customer with id = 40118?
If so, was this order created before the upgrade or after the upgrade?
Please check and feedback.

Thanks!

[2021-06-01 11:32] bastienu commented on #24726
The shop was upgraded last week, before this order. The order was made yesterday evening.

The order id is 78279, the customer id is 2808 (as you can see it on screenshot) and the id_customer_thread are 40117 and 40118.

[2021-06-01 12:01] marekjedrzejewski commented on #24702
I'm not sure if I found the right place, but looks like the one I was looking for:
https://github.com/PrestaShop/PrestaShop/blob/3b6de77522aad17a38b1adbfcb4a4fb143c0d376/themes/classic/templates/customer/_partials/order-detail-no-return.tpl#L40-L42

Looks like link is reserved for downloadable products. In my opinion it would be better if there was link to product page there, and download link wou

[2021-06-01 12:14] micka-fdz commented on #24724
Hi @hibatallahAouadni,

My issue isn't related to #17810. Mine is about translations of email subjects, not FO translations.

Can you please reopen my issue? Like I said, I'm in discussion with @jolelievre and I'll make a PR soon.

[2021-06-01 12:28] nicoledesignstore opened #24727 "1.6.1.24 update to 1.7.7.4 database schema error"
#### Describe the bug

Error in updating database schema while performing a 1-click upgrade from PS 1.6.1.24 to 1.7.7.4 resulting in multiple issues, mainly in the nature of unavailability to reach front office and some back office pages due to the too many redirects results of a failed partial update. Files update went all green, only database failed.

#### Expected behavior

Update to be complet

[2021-06-01 13:17] atomiix commented on #22545
I'm not able to reproduce this issue anymore, I think #24274 fixed it

[2021-06-01 13:17] #22545 closed, assigned to nobody

[2021-06-01 14:07] hibatallahAouadni opened #24732 "[BO - Mobile] some Frontend regressions in View Order Page"
#### Describe the bug

some Frontend regressions in Order Page

#### Expected behavior

nice and neat responsive display

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Orders > Orders
2. Click on **View** Order
3. See error > Update order status select & button is not well fit (see screenshot n°1)
4. Change the status to payment accepted
5. See error > all buttons are not wel

[2021-06-01 14:48] hibatallahAouadni commented on #24727
Hello @nicoledesignstore

Upgrading from 1.6.1.24 to 1.7.7.4, I didn't encounter any issue. So it seems the issue has been thrown since the upgrade from 1.6.1.3 to 1.6.1.24.
So I need to reproduce the issue with 1.6.1.3.
Please be patient till I reproduce the issue.

Thanks!

[2021-06-01 15:13] hibatallahAouadni commented on #24726
Hello @bastienu

So your issue is not related to the upgrade :wink:
Well, I tried to reproude your issue following these steps:
FO > the Customer H create an Order and send a message (in the delivery step)
BO > the Admin responds
FO > Customer H send two message successively
BO > I have no error (see the attached screenshot below)

![image](https://user-images.githubusercontent.com/23308427/120347

[2021-06-01 16:20] hibatallahAouadni commented on #24724
@micka-fdz is it related to #17096?

[2021-06-01 16:21] hibatallahAouadni commented on #24702
@marekjedrzejewski thanks for your PR :rocket:

[2021-06-01 16:38] hibatallahAouadni commented on #24672
Hello @maofree

Your issue is due to the unwanted space before "**css**", you code should be as fellow:

[code]

Please check and feedback.
Thanks!

[2021-06-01 16:43] maofree commented on #24672
Hi
I've added
`use_parent_assets: true`
to the rest of code and now works

you can close this ticket
thanks

[2021-06-01 16:43] hibatallahAouadni commented on #24672
Thanks for your feedback :relaxed:

[2021-06-01 16:43] #24672 closed, assigned to nobody

[2021-06-01 22:10] mullerpetr76 commented on #23570
Any progress so far?! :(

[2021-06-01 23:18] Ideoclic opened #24733 "Bug order print"
#### Describe the bug

Bug when the text is too long.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

3. Print order (long title product)
4. See error

**Screenshots**

![0ed39a8440d4a253ee12fc08893c147c](https://user-images.githubusercontent.com/80488574/120401498-5701ef80-c340-11eb-9d0b-54a2872b32a4.png)
)

#### Ad

[2021-06-01 23:55] kpodemski commented on #22880
Hey @idnovate

could you test my modifications?

[2021-06-02 00:28] msaustral opened #24735 "Inventory break when changing order status from cancel to another status that is not delivered"
#### Describe the bug

Inventory break when changing order status from cancel to another status that is not delivered.
This error has no logical that someone can do it but it shouldn't happen

#### Expected behavior

This does not happen if it goes from canceled to delivery, but it happens with any other state.

It is not logical to change the status of an order that is canceled, but this error da

[2021-06-02 07:14] hibatallahAouadni commented on #24170
Hello @Progi1984

Yes, it works! (German)

![image](https://user-images.githubusercontent.com/23308427/120436883-c945f480-c37f-11eb-808a-52fe03c23aa7.png)

(Arabic):

![image](https://user-images.githubusercontent.com/23308427/120439481-dadccb80-c382-11eb-8606-4d7f9eb1fe46.png)

Thanks!

[2021-06-02 07:14] #24170 closed, assigned to Progi1984

[2021-06-02 07:23] hibatallahAouadni commented on #23570
Hello @mullerpetr76

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you.

If you manage to get the problem fixed, then please c

[2021-06-02 07:43] kpodemski commented on #21802
@hibatallahAouadni it's part of v5, https://github.com/PrestaShop/ps_linklist/pull/118

I guess it needs to be validated and then we can close this PR, I closed it earlier by mistake.

[2021-06-02 08:02] micka-fdz commented on #24724
Yes @hibatallahAouadni, it's related to the switch on new translation system for email subjects.

[2021-06-02 08:15] #24733 closed, assigned to nobody

[2021-06-02 08:19] hibatallahAouadni commented on #21802
@kpodemski ok thanks :relaxed:

[2021-06-02 08:20] hibatallahAouadni commented on #21802
This issue will be closed when ps_linklist v5 is released

[2021-06-02 09:43] javierVP commented on #24705
I was able to solve it thanks to this solution in the forum
https://www.prestashop.com/forums/topic/1041745-solved-no-amount-in-bankwire-summary-on-confirmation-page/

[2021-06-02 09:44] #24547 closed, assigned to nobody

[2021-06-02 09:47] PierreRambaud opened #24739 "Remove Tools::addonsRequest('native') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('native')`

#### Describe the solution you'd like

Remove all calls, and if needed backports changes into ps_mbo module

[2021-06-02 09:48] PierreRambaud opened #24740 "Remove Tools::addonsRequest('partner') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('partner')`

#### Describe the solution you'd like

Remove all calls, and if needed backports changes into ps_mbo module

[2021-06-02 09:48] PierreRambaud opened #24741 "Remove Tools::addonsRequest('service') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('service')`

#### Describe the solution you'd like

Remove all calls, and if needed backports changes into ps_mbo module

[2021-06-02 09:50] PierreRambaud opened #24742 "Remove Tools::addonsRequest('native_all') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('native_all')`

#### Describe the solution you'd like

Remove all calls, and if needed backports changes into ps_mbo module

[2021-06-02 09:50] PierreRambaud opened #24743 "Remove Tools::addonsRequest('must-have') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('must-have')`

#### Describe the solution you'd like

Remove all calls, and if needed backports changes into ps_mbo module

[2021-06-02 09:51] PierreRambaud opened #24744 "Remove Tools::addonsRequest('must-have-themes') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('must-have-themes')`

#### Describe the solution you'd like

Remove all calls, and if needed backports changes into ps_mbo module

[2021-06-02 09:51] PierreRambaud opened #24746 "Remove Tools::addonsRequest('customer') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('customer')`

#### Describe the solution you'd like

Remove all calls, and if needed backports changes into ps_mbo module

[2021-06-02 09:52] hibatallahAouadni commented on #24735
Hello @msaustral & @Hlavtox

Let's list the steps:

1. Have 10-tshirt
2. make an order with payment accepted as status

![image](https://user-images.githubusercontent.com/23308427/120459209-41201900-c398-11eb-857b-0b61f86449ee.png)

3. change the status to Delivered

![image](https://user-images.githubusercontent.com/23308427/120459386-73317b00-c398-11eb-9d4e-0461e7836cb7.png)

4. Cancel the order

[2021-06-02 09:52] PierreRambaud opened #24747 "Remove Tools::addonsRequest('customer_themes') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('customer_themes')`

#### Describe the solution you'd like

Remove all calls, and if needed backports changes into ps_mbo module

[2021-06-02 09:53] PierreRambaud opened #24748 "Remove Tools::addonsRequest('check_customer') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('check_customer')`

#### Describe the solution you'd like

Remove all calls, and if needed backports changes into ps_mbo module

[2021-06-02 09:54] PierreRambaud opened #24749 "Remove Tools::addonsRequest('check_module') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('check_module')`

#### Describe the solution you'd like

Remove all calls, and if needed backports changes into ps_mbo module

[2021-06-02 09:56] PierreRambaud opened #24750 "Remove Tools::addonsRequest('module') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('module')`

#### Describe the solution you'd like

Remove all calls, and if needed backports changes into ps_mbo module

[2021-06-02 09:57] PierreRambaud opened #24751 "Remove Tools::addonsRequest('hosted_module') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('hosted_module')`

#### Describe the solution you'd like

Remove all calls, and if needed backports changes into ps_mbo module

[2021-06-02 09:58] PierreRambaud opened #24752 "Remove Tools::addonsRequest('install-modules') calls"
#### Is your feature request related to a problem?

Remove all calls related to `Tools::addonsRequest('install-modules')`

#### Describe the solution you'd like

Remove all calls, and if needed backport changes into ps_mbo module

[2021-06-02 10:13] khouloudbelguith opened #24753 "BO - Orders page - Cannot add free shipping discount when Total products = 0"
#### Describe the bug

In the BO > Orders > Orders details page, when Total products = 0, we cannot add a discount for free shipping.
But The inverse OK: we have shipping = 0, we can add a discount 100%

#### Expected behavior

With PS1769 => ok

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create an order with product price = 0 ( **or** a discount amount > Total **or** discount p

[2021-06-02 11:10] wzzly commented on #24165
Is there a way for me to see where this is coming from? I don't know how to let you reproduce it, as the notices are just there when visiting the orders page. I'm not doing anything else...

[2021-06-02 11:58] cocolate13 commented on #22141
Hello all,
I still can't upragde from 1.7.6.9 to 1.7.7.4. I tried lots of methods :
- manual unzip file in directory and execute upgrade/upgrade.php
- manual unzip all files an copy/paste in the prod directory and execute upgrade/upgrade.php
- upgrade from to 1.7.7.0, next .1, next .2, next .3, etc, always same error
Strange thing : src/PrestaShopBundle/Controller/Admin/Sell/index.php is empty on

[2021-06-02 12:00] cocolate13 commented on #22141
I see lots of pepole who havethis error on forums and no one have a solution :-(
Thnaks a lot

[2021-06-02 12:11] khouloudbelguith commented on #24537
Hi!

The issue is still reproduced with PS1775 build1 and 177x branch.
https://drive.google.com/file/d/1RPGenM18kD3TMb0i1dUOfC_0gUquis5x/view?usp=sharing
I will re-open the ticket.

Thank you!

[2021-06-02 12:13] bastienuh opened #24756 "Hook on address update or create"
#### Describe the bug

I tried to use a hook on `actionObjectCustomerAddressUpdateAfter` or `actionObjectAddressUpdateAfter` (as described in the documentation with `actionObject<ObjectName>UpdateAfter`, [here](https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/)), but none of them is working.

#### Expected behavior

I want to have a hook when a customer is updating or adding

[2021-06-02 12:14] lmeyer1 commented on #24706
@hibatallahAouadni

That's right. Test emails don't log neither in `ps_log` nor in `ps_mail`. Only real emails get logged.
Sorry, I didn't test my steps to reproduce. I update the issue.

[2021-06-02 12:15] cocolate13 commented on #22141
UP. An error message that confirm src/PrestaShopBundle/Controller/Admin/Sell/Address/index.php is empty but why is it empty ?
![image](https://user-images.githubusercontent.com/79048790/120478293-fceb4380-c3ac-11eb-992a-a605168e9df1.png)

[2021-06-02 12:18] cocolate13 commented on #22141
And always this error while executing install/upgrade/upgrade.php in web brownser :

`Fatal error: Uncaught Symfony\Component\DependencyInjection\Exception\InvalidArgumentException: Expected to find class "PrestaShopBundle\Controller\Admin\Sell\Address\index" in file ".../src/PrestaShopBundle/Controller/Admin/Sell/Address/index.php" while importing services from resource ".../app/../src/PrestaShop

[2021-06-02 12:33] cocolate13 commented on #22141
I have just succeed upgrade from 1.7.6.9 to 1.7.7.4.
I deleted these files after copying 1.7.7.4 files and before execute upgrade.php manulay :
rm -rf src/PrestaShopBundle/Controller/Admin/Sell/Address/index.php
rm -rf src/PrestaShopBundle/Controller/Admin/Sell/CustomerService/index.php
rm -rf src/PrestaShopBundle/Controller/Admin/Sell/index.php
rm -rf src/PrestaShopBundle/Controller/index.php
I h

[2021-06-02 12:46] marionf opened #24758 "Add a color + an icon for each stock & delivery time labels in FO"
#### Is your feature request related to a problem?

As a visitor, I want to be able to see easily which product are available for order

#### Describe the solution you'd like

Add a color + an icon for each stock label in FO:

**COLOR FOR ICONS**
Label of in-stock products = green #70B580
Label of out-of-stock products with allowed backorders = orange #FF5E24
Label of out-of-stock products with de

[2021-06-02 12:57] marionf opened #24759 "Remove the “out of stock flag on product listings and product pages + the toggle in BO product settings page"
#### Is your feature request related to a problem?

As a visitor, I want to be able to see easily which product are available for order when I am in a product list

#### Describe the solution you'd like

Remove the “out of stock flag on product listings and product pages + the toggle "Display out-of-stock label on product listing pages" in BO > shop parameters > product settings page that was intr

[2021-06-02 12:59] Ideoclic commented on #24733
Hey!

Any fix for my version ? i dont wan't migrate.

Thx

[2021-06-02 13:33] olecorre commented on #24692
Is in Localisation/CDLR/core/common/supplemental/supplementalData.xml line 5148 add <currencyCodes type="BYN" numeric="933"/>

[2021-06-02 14:01] #9816 closed, assigned to nobody

[2021-06-02 14:01] Prestaworks opened #24764 "faceted search shows products from wrong category"
#### Describe the bug

Filter products from sub category, products from another category with the same name shows instead.

#### Expected behavior

Products from the actual sub category should show.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create two new categories in the shop, both names "Pants" and both having "pants" as seo friendly url. Place one of these as a sub categor

[2021-06-02 14:04] olecorre commented on #24692
I create a PR https://github.com/PrestaShop/PrestaShop/pull/24763

[2021-06-02 14:12] marionf opened #24766 "Display delivery time label in the cart"
#### Is your feature request related to a problem?

As a visitor, I want to know easily when I will be delivered when I am in the cart.

#### Describe the solution you'd like

If stock management is enabled in BO: in FO, in the cart, display the delivery time label just under the stock label and according to the case for each product/combination:
- Delivery time of in-stock products in green #5A91

[2021-06-02 14:29] marionf opened #24767 "In FO product page, move the delivery time label just after the stock label"
#### Is your feature request related to a problem?

As a visitor, I want to know easily when I will be delivered when I am in the product page.

#### Describe the solution you'd like

Currently, the delivery time label is displayed just after the “tax included / tax excluded” label. We should rather display it just after the stock label
Example: Availability: In stock - Delivered under 48 hours

[

[2021-06-02 14:32] marionf opened #24768 "In FO product page & in cart, update the “last items in stock” label and move it before the delivery time"
#### Is your feature request related to a problem?

Currently, the “last items in stock” label is displayed under the “add to cart” button when the "Display remaining quantities when the quantity is lower than" configured in the product settings page is reached.

As a visitor, I want to know easily when the last products are in stock when I am in the product page and in the cart.

#### Describe th

[2021-06-02 14:35] msaustral commented on #24735
Hi the case  #16869 is an improvement for partial return to add a new logic to the PS.

It does not mention anything about a bug if you change the status after it is cancel that should not happen.

@Hlavtox  check on store parameter -> order configuration status -> status if the delivered status has the option "generate delivered PDF" enable,  if is not, the status will not decrease the inventory

[2021-06-02 14:41] marionf opened #24769 "Reorganize fields in product settings page"
#### Is your feature request related to a problem?

For a better architecture, reorganize fields in BO > shop parameters > product settings page in the following order:

![product settings](https://user-images.githubusercontent.com/13449658/120500402-1bf3d080-c3c1-11eb-97d9-70b631a805a6.png)

[2021-06-02 14:52] lucmichalski commented on #24647
Bonjour @Progi1984 , @matks ,

Any thoughts on this issue ?

Cheers,
Luc Michalski

[2021-06-02 14:59] ngourle commented on #24726
Hello
I've got similar problem in 1.7.7.1.
Two thread for one order and only messages in the first thread (who is status closed)

If you need information, I will send it you.

[2021-06-02 15:37] kpodemski commented on #24647
I think @eternoendless has some idea on how to implement this in the future and I think @matthieu-rolland worked on this in one of his PR, he might have more information about new idea for implementation of getting data for multi-store context.

Here you can find more informations about using new methods in configuration form:
https://devdocs.prestashop.com/1.7/development/multistore/configuration

[2021-06-02 15:44] olecorre commented on #24756
In 1.7.7.2 i use : actionObjectAddressUpdateAfter

[2021-06-02 15:44] matks commented on #24714
I guess this should be discussed and voted by maintainers 🤔  . The question behind is "Should we keep MysQLi implementation inside PS scope or push it out of scope?"

I agree that PDO is more popular and more widely used than MySQLi although MySQLi brings some features PDO does not have. So pushing MySQLi out of PrestaShop (= decrease the maintenance burden) might be interesting.

ping @PrestaShop

[2021-06-02 15:46] matks commented on #24733
When 1.7.7.0 was released, branch `1.7.6.x` became EOL (see https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/supported-branches/) so no more releases will be done and released for 1.7.6 by the PrestaShop official project

https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/supported-branches/

[2021-06-02 15:48] MatShir commented on #24482
**Specs:**
The email of the customer is displayed above the invoice detail.
The new filed has the icon material design 'email' filled and the label 'Email:' in Admin.Global.

[2021-06-02 15:51] mvorisek commented on #24714
Please start the voting :)

If async queries are wanted, then mysqli is the only option, otherwise I do not see any advantage and DBAL 2.x can not support it.

[2021-06-02 16:07] matks commented on #17121
@mvorisek If you find that any issue is critical for you, and it's important to have it fixed ASAP, then you can invest into having it done. You can try doing it on your own. The most important thing is to share that fix with everyone by submitting a Pull Request. This is how open source strives: different people rely on a common project, and each contribute to make it better as the sum of contrib

[2021-06-02 16:30] matks commented on #24534
Probably similar to https://github.com/PrestaShop/PrestaShop/issues/9574

[2021-06-02 16:38] MatShir commented on #24389
For me here the best solution would be:
- If the user click on a combination that doesn't exist anymore, we would verify if it still exists. If not display a message like "The combination doesn't exist anymore" then refresh the list to remove the obsolete combination.
- If the user has already the pop in opened, but the combination doesn't exist and saves his edited. We could say the combination d

[2021-06-02 16:59] MatShir commented on #24695
I can't reproduce it also. Last chance maybe @khouloudbelguith or @hibatallahAouadni ?

[2021-06-02 17:10] MatShir commented on #24617
Hi,
I can't reproduce the issue. @khouloudbelguith or @hibatallahAouadni could you do a second check please 🙏

[2021-06-02 17:34] hibatallahAouadni commented on #24756
Hello @bastienu

If this is a bug, could you please provide steps to reproduce. If it's an improvement (I see you're asking to create a new hook) so you need to change the template.
So please decide :pray: is it a bug or a feature?

Thanks!

[2021-06-02 18:41] hibatallahAouadni commented on #24764
Hello @Prestaworks

I didn't manage to reproduce your issue with PS1.7.7.4, see the attached screen record below:

https://drive.google.com/file/d/1AkpNd2pAfo1Dh2-rAEbYcL3O5M9Dm6RC/view

Please check and feedback.
Thanks!

[2021-06-02 18:41] AdrievandeVreede opened #24777 "Notifications with no access to see them"
#### Describe the bug

Our company works with different accounts and accessibility's in the BO. If you're not allowed to manage the customers but you're having access to manage the orders, you'll see notifications from new orders and customers. It is possible to open them but you can see only the orders. The number of notifications from the customers are not going away, they shouldn't exist.

####

[2021-06-02 19:21] Hlavtox commented on #24766
@marionf @prestascott
Don't forget about special cases. 😉 We have 2 pieces in stock, customer orders 7.
What I did was `{$product.quantity} in stock, the rest {$product.available_later}`

![Výstřižek](https://user-images.githubusercontent.com/6097524/120539874-558c0200-c3e8-11eb-8e37-8912f4f4b3e7.JPG)

[2021-06-02 19:27] Hlavtox opened #24778 "Be able to specify 'label when not in stock and backorders disabled' for each product"
### Is your feature request related to a problem?

On **Quantities** tab of every product, we can specify specific labels for availability of current product. These labels override those set in **Shop parameters > Products**.

However, there is one label missing which is always displayed as globally defined in **Shop parameters > Products**.

### Describe the solution you'd like

Add another field

[2021-06-02 20:09] milla-dev opened #24779 "the resume of the Orders is a completely mess + the Print the Order table is cut in half"
#### Describe the bug

Hello, we have just updated my boutique to the PS 1.7.7.4. What I can see is that the Orders are completely mess. The presentation is not nice and the fields are randomly placed on the screen. The descriptions of the fields are also in disorder.
Beside that, when I click on the "Print the order" - the print page is completely mess and unreadable. The table is cut in the half

[2021-06-02 22:08] arouiadib commented on #24547
Best community

[2021-06-03 06:34] Dreimus commented on #24647
Interesting ! I've missed this, and will try it out asap.

Thanks !

[2021-06-03 06:41] hibatallahAouadni commented on #24779
Hello @milla-dev

I couldn't reproduce your issue with PS1.7.7.4, could you pelase check the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/120599070-57d17900-c447-11eb-9228-49ea5bf21196.png)

Could you please provide screenshots.
Please check and feedback.

Thanks!

[2021-06-03 06:59] milla-dev commented on #24779
Hello

here is the screen shot:

[image: image.png]

After checking, on the Edge it works fine ! I have the problems on Chrome:

Google Chrome is up to date
Version 91.0.4472.77 (Official Build) (64-bit)

thank You for your help and reply.

cheers
Michal

Le jeu. 3 juin 2021 à 08:42, Hibatallah Aouadni ***@***.***>
a écrit :

[2021-06-03 07:00] PierreRambaud commented on #24714
PDO is mandatory, but it doesn't mean MySQLi shouldn't be supported :thinking:
Even if we are not using some mysqli features, maybe modules developers do.
I see no valid reason to drop it right now in fact

[2021-06-03 07:03] mvorisek commented on #24714
Ok to deprecate? This allows to simplify the return phpdocs a lot, phpstan found already one error.

[2021-06-03 07:12] tswfi opened #24781 "cookie.php getSession not checking that $session is defined before using it"
#### Describe the bug

In Cookie.php $session is used before checking if it is defined or not. This leads to crash if for example logout is called without checking if the session is alive.

https://github.com/PrestaShop/PrestaShop/blob/5f7367fc84c09dfee1306de149737b0316362bc5/classes/Cookie.php#L584

[code]

#### Expected behavior

No crash when calling logout without session.

#### Steps to Repro

[2021-06-03 07:16] PierreRambaud commented on #24714
Deprecated means it's not supported anymore and will be removed in the next major.

[2021-06-03 07:19] bastienu commented on #24756
Hello,

I don't know if it's a bug or an improvement because I don't know if there is a hook after update address.
If there is no hook, then it's an improvement to make. If it exists, then I will try it and hope there is no bug.

@hibatallahAouadni : do you confirm what @olecorre just said?

Thanks.

[2021-06-03 07:22] mvorisek commented on #24714
Yes, which I belive the wanted state - can we agree on it?

[2021-06-03 07:30] Prestaworks commented on #24764
Click on subcategory "Men" and filter on "Pants" then go to subcategory Women and filter on "Pants".

[2021-06-03 07:33] PierreRambaud commented on #24714
No, because as I said above, I see no valid reason to drop mysqli support :thinking:

[2021-06-03 07:37] mvorisek commented on #24714
There is, that ext may be unavailable and there is no reason to support it except BC, which we can deprecate now.

[2021-06-03 07:48] PierreRambaud commented on #24714
The extension may not be available but it doesn't mean if have to remove the support.

[2021-06-03 08:16] hibatallahAouadni commented on #24777
Hello @AdrievandeVreede

Thanks for your issue! I reproduce the issue with PS1.7.7.4 & PS1.7.6.7, see the attached screen record:

https://drive.google.com/file/d/1qgwmo5WFq4wQu4Uh1Zg51UvneWm4f0AV/view

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is import

[2021-06-03 08:35] Robin-Fischer-PS commented on #24695
I was able to reproduce it, just once, in front of @NeOMakinG , and @SD1982 was able too, but it is really random...

[2021-06-03 08:57] Skinperforator opened #24784 "Block Cross selling shows products that have visibility set to "nowhere""
#### Describe the bug

If a product is out of stock, yet still active but the visibility is set to "nowhere" it still will be displayed in the cross selling module if applicable.

#### Expected behavior

The product shouldn't be visible in the cross selling block aswell. (Or we could have an option to indicate this.)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Have two products

[2021-06-03 08:59] hibatallahAouadni commented on #24781
Ping @PrestaShop/prestashop-core-developers could someone please check it :pray: cause in my case I duplicate the line:

`$this->context->employee->logout();`

When I try to logout from BO, I logout successfully with no errors. Thanks in advance :slightly_smiling_face:

[2021-06-03 09:00] Progi1984 commented on #24537
@khouloudbelguith Could you check it on `1.7.7.x` branch ?

[2021-06-03 09:01] hibatallahAouadni commented on #23838
Hello @ioniks ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-03 09:01] #23838 closed, assigned to nobody

[2021-06-03 09:08] hibatallahAouadni commented on #24617
Hello everyone,

I didn't reproduce the issue, LGTM see the attached screen record below:

https://drive.google.com/file/d/1TMMB95nxWlAO9cobt-Qdh_UkH9yHZ-iW/view

I think we should close the issue :sweat_smile:
@khouloudbelguith wdyt?

[2021-06-03 09:17] hibatallahAouadni commented on #24779
Hello @milla-dev

Could you please respond on Github and ot via mail :wink: cause the screenshot that you attached is unaccessible.
If you encounter the problem only on Chrome, so it's a cache problem.
You need to clear the PrestaShop cache and your navigator cache :wink:

Hope it helps.
Thanks!

[2021-06-03 09:18] hibatallahAouadni commented on #24756
Ping @PrestaShop/prestashop-core-developers could someone answer @bastienu question :pray:

Thanks in advance.

[2021-06-03 10:15] khouloudbelguith commented on #24617
Hi @PierreRambaud, @MatShir, @hibatallahAouadni,

The First issue is OK :heavy_check_mark:
There is no exception on the FO > Order confirmation page.
But the second issue is still reproduced:

1. Go to BO > Catalog > Products page
2. Edit the pack product > Options tab
3. Check the supplier

https://drive.google.com/file/d/16uj4Dxs8MyWActPgcC_n8liLbc3MPVVZ/view?usp=sharing
I used PHP7.4.

Thank yo

[2021-06-03 11:11] hibatallahAouadni commented on #24784
Hello @Skinperforator

Could you please explain what do you mean by "nowhere", could you please provide some screenshots or screen record.
Please check and feedback.

Thanks!

[2021-06-03 11:32] khouloudbelguith opened #24788 "FO - Discounts - The discount detail is NOK when we the product selected has an ecotax"
#### Describe the bug

In the FO > Shopping cart page and checkout page, when we apply a cart rule "percent discount on a selected product that has an ecotax, the discount line s NOK.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Taxes & Enable Ecotax
2. Create a product with ecotax, in my case  ![image](https://user-images.githubusercontent.com/16067358

[2021-06-03 12:26] imballo commented on #22527
The citated change
 $id_hook = Hook::getIdByName($hook_name, false);
created to me a big problems.
I installed again a module that was using the taxManager alias (the hook is now called actionTaxManager) and it seemed that the module was skipped during the hook call.
After investigating I found that the citated above line inside Hook:registerHook not seeing the aliased one made registerHook create

[2021-06-03 12:36] atomiix commented on #24756
Hey @bastienu, yes, @olecorre should be right, `actionObjectAddressUpdateAfter` is called when a customer updates its addresses

[2021-06-03 12:38] Skinperforator commented on #24784
Hi,
in Catalog -> Products, if you select a product and go to the options tab you can select the visibility of the product (everywhere, catalog, search, nowhere).
![Screenshot 2021-06-03 14 23 49](https://user-images.githubusercontent.com/16818892/120645909-443f0600-c479-11eb-89da-b83c5fa54a01.png)
![Screenshot 2021-06-03 14 33 36](https://user-images.githubusercontent.com/16818892/120645912-44d79

[2021-06-03 13:01] sowbiba commented on #22580
One specific case explained in the PR

See https://github.com/PrestaShop/PrestaShop/pull/22586#issuecomment-853849118

[2021-06-03 13:13] PierreRambaud commented on #24781
We can add a check in order to be sure everything is ok for him.

[2021-06-03 13:15] #21107 closed, assigned to sowbiba

[2021-06-03 13:22] MatShir commented on #24695
So what should we do ? Remove the issue from the kanban until someone finds the step to reproduce it ?

[2021-06-03 13:28] NeOMakinG commented on #24695
I think so

[2021-06-03 13:58] idnovate commented on #22880
Yes! It fixes the issue :partying_face::partying_face:

[2021-06-03 14:03] idnovate commented on #22880
But please note that I reported this problem because I had a problem with another module which also uses a form, although I used module `ps_emailalerts` to reproduce it, because it's a core module.

I think that this should be considered anyway:

<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; color: rgb(36, 41, 46); font-family: -apple-system, BlinkMacSystemFont, &quot;Seg

[2021-06-03 14:07] bastienu commented on #24756
Thanks a lot @atomiix. I already tried it few days ago, but I'm going to try it again.

I guess the object passed in the params variable is the address updated?

[2021-06-03 14:09] Julievrz commented on #24068
As @jolelievre suggested, we could keep the existing wording "New product on experimental page".

[2021-06-03 14:10] PierreRambaud commented on #24617
@khouloudbelguith I've the same problem using PHP7.2, it's not related to PHP7.4
![image](https://user-images.githubusercontent.com/1462701/120653782-51f88980-c481-11eb-999a-7c5ec013add7.png)

[2021-06-03 14:11] #24781 closed, assigned to tswfi

[2021-06-03 14:56] thomasnavarro opened #24793 "Access Modifiers methods in ps_specials module"
Hi !

#### Is your feature request related to a problem?

In the Ps_Specials class, the [getSpecialProducts](https://github.com/PrestaShop/ps_specials/blob/master/ps_specials.php#L215) method is private and so inaccessible if you want to extend it for the override.

#### Describe the solution you'd like

The solution would be to change the accessibility of the getSpecialProducts method from privat

[2021-06-03 15:09] matks commented on #24793
Hello @ThomasNavarro

If I am not wrong, you can override the function `getWidgetVariables` that use `getSpecialProducts`, there's just 3 more lines of code in it compared to `getSpecialProducts()`?

Also why would you override this module? It's not native 🤔 .

[2021-06-03 15:17] atomiix commented on #24756
@bastienu actually, there is more than just the address in the params. An easy way to play with hooks and see what is in the params is by installing the [ps_qualityassurance](https://github.com/PrestaShop/ps_qualityassurance) module.

I'm closing the issue as it doesn't seem to be one in the end but feel free to re-open it if you think there's something we missed

[2021-06-03 15:17] #24756 closed, assigned to nobody

[2021-06-03 17:47] kpodemski commented on #21884
Hello

I've tested it and this is not a bug but expected behavior, comma separated alias is splitted into single row and this is what we want

alias for `adids, addidas, adids` => `adidas`

needs to create three aliases to work properly with `Search` class

[2021-06-03 17:47] kpodemski commented on #21884
cc @hibatallahAouadni IMO to close :)

[2021-06-03 18:09] kpodemski commented on #21556
PR available, sorry @atomiix I didn't notice that you're already assigned :(

[2021-06-03 18:30] kpodemski commented on #21477
I've tested it and create PR.

Remember that we have different behavior when it comes to product page, cart page and quantities.

If we have `Product A` with quantity `2` and we add `2` items to cart, here's what we have:

- `Product` page is reading this product as one with `Quantity: 0` because `Product stock - Qty in Cart = 0`
- `Cart` page is reading this product as available, `Quantity: 2` be

[2021-06-03 20:16] nicoledesignstore commented on #24727
Hi,
This specific issue has been solved.

[SOLVED] After posting the problem also on stackoverflow I was made to notice that the error message clearly referred to a field regulated in the database by a VARCHAR of up to 32 characters including spaces which appeared to be populated in excess. Found the field, reduced the content from 35 to 29 characters and this error was resolved, allowing me to re

[2021-06-03 20:46] 01park commented on #24499
Hi,

We have a site with multiple languages. The order messages are translated into the specific language. No matter what language the customer selects, the back office always selects the default languages English to reply to their message.

Repuduce by having multiple language messages and customers.

[2021-06-03 21:27] kpodemski opened #24800 "Wrong tab showed after changing combination on product page in the FO"
#### Describe the bug

When you change combination, add product to cart etc. tabs below are not properly reloaded

#### Expected behavior

Reload tabs properly

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to the FO
2. Go to Product with combinations page
3. Switch to second tab, probably "Product details"
4. Change combination
5. See error, "Product details" is now with produc

[2021-06-03 22:21] kpodemski opened #24802 "Allow to filter available fields on import page"
#### Is your feature request related to a problem?

I'm always frustrated when I need to map available field to column from CSV file, especially if there are a lot of fields.

#### Describe the solution you'd like

Use jquery chosen to allow quickly search field

### Proposed solution

Before:
https://www.dropbox.com/s/o431vfqy46gp07f/Nagranie%20z%20ekranu%202021-06-4%20o%2000.19.27.mov?dl=0

Afte

[2021-06-04 01:30] hibatallahAouadni commented on #24630
Hello @smartsoftbox

Thanks for your patience :pray:
I reproduce your issue only with PS1.7.7.x, see the attached screen record below:

https://drive.google.com/file/d/1WKfRny30wBT-9IRMYcQUKO8OBcLsGvGm/view

The `wholesale_price` in `ps_product` is not updated (it always = 0) but in `ps_product_shop` is correct.
I didn't manage to reproduce the issue with PS1.7.6.7, so it's indeed a regression:

h

[2021-06-04 01:38] hibatallahAouadni commented on #24663
Ping @PrestaShop/product-team could someone please explain to me is it possible to sell products without tax butyou can create a pratial refund with tax included? :pray:

Thanks in advance.

[2021-06-04 01:46] hibatallahAouadni commented on #24514
Hello @TechhDan

I encounter an issue while download the module, it seems not valid:

https://drive.google.com/file/d/166LpTAsN6QtEdl-vixVdHFRM5mwpWznb/view

Please check and feedback.
Thanks!

[2021-06-04 02:14] hibatallahAouadni commented on #24695
Hello everyone,

I'm not able to reproduce it, see the attached screen record below:

https://drive.google.com/file/d/13EBiG1wAkAfGfVNi2c-xf3LRV13boVyo/view

It may caused by some cache, I think we should close it :slightly_smiling_face: wdyt?

[2021-06-04 02:24] hibatallahAouadni commented on #21884
Ping @MatShir @marionf wdyt?

[2021-06-04 02:55] hibatallahAouadni commented on #24724
Hello @micka-fdz

Could you please at least specify which translations are missing. And if you could provide screenshots it will be helpful. I need to reproduce the issue to reopen it :wink:

Thanks!

[2021-06-04 03:08] hibatallahAouadni commented on #24647
Thanks @kpodemski for your quick reply :rocket:
So, I close the issue.

[2021-06-04 03:08] #24647 closed, assigned to nobody

[2021-06-04 07:37] hibatallahAouadni opened #24804 "[BO - reponsive] - the fixed height in `.page-head.with-tabs` hide the `panel-heading`"
#### Describe the bug

BO Attributes page (for exemple), you can see a white blank hide the panel-heading, which prevent from access to the pabel-heading buttons.

PS: this issue exist in multiple pages (ex: Discounts, ...)

#### Expected behavior

Add this style:

[code]

#### Steps to Reproduce

Steps to reproduce the behavior:

1. on mobile devise
2. BO > SELL > Catalog > Attributes and Feature

[2021-06-04 07:41] ThomasNavarro commented on #24793
Hi!

I understand, I managed to do what I wanted to do.
Sorry, I'm new to prestashop.

Thanks a lot! ;)

[2021-06-04 07:43] matks commented on #24793
No worries 😉  welcome to PrestaShop have a nice day

[2021-06-04 07:43] #24793 closed, assigned to nobody

[2021-06-04 07:45] micka-fdz commented on #24724
Hi @hibatallahAouadni,

Missing translations are those with domain `Emails.Subject` domain:

- Product available
- New order : #%d - %s
- Product out of stock
- Stock coverage
- New return from order #%d - %s
- Your order has been changed

They don't appear in BO translation interface and subjects of emails sent are not translated.
Try to install the module, configure it, place an order (for examp

[2021-06-04 08:30] #24687 closed, assigned to kpodemski

[2021-06-04 08:32] #22650 closed, assigned to Progi1984

[2021-06-04 08:41] Progi1984 commented on #22650
Thanks & Done :)

[2021-06-04 09:09] bastienu commented on #24726
Thanks @ngourle !

[2021-06-04 09:21] matks commented on #24722
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24760

[2021-06-04 09:32] hibatallahAouadni commented on #24802
Hello @kpodemski

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
And thank for your PR and the proposed solution :rocket: :superhero:

Thank you

[2021-06-04 09:32] MatShir commented on #24630
Weird, @PrestaShop/prestashop-core-developers ! I don't see why the part has been impacted, if you guys have more insights 🤔

[2021-06-04 09:37] hibatallahAouadni commented on #24800
Hello @kpodemski

Yes indeed it's a regression!
I was able to reproduce the issue with PrestaShop version 1.7.8.x and develop. I’ll add this to the debug backlog so that it’s fixed.
If you manage to get the problem fixed, then please create a PR :pray:

Thanks!

[2021-06-04 10:11] hibatallahAouadni commented on #24726
Hello @bastienu @ngourle

Could you guys please try to reproduce it again while screen recording, cause I didn't manage to reproduce it and it means that something is missing.
Please check and feedback.

Thanks!

[2021-06-04 10:15] kpodemski commented on #22880
@idnovate

thanks, maybe dedicated hook after the form would be a good idea, though we need to remember that product card is refreshed after combination change, we need to have that in mind to not break anything working with combinations

I think it's an improvement or feature request than bug report so maybe I'll create new Issue

[2021-06-04 10:19] kpodemski opened #24807 "New hook in product.tpl after product_buy block"
#### Is your feature request related to a problem?

As discussed here:
https://github.com/PrestaShop/PrestaShop/issues/22880

It would be good for theme developers to have dynamically refreshed hook after the `<form>`

#### Describe the solution you'd like

Something like:

[code]

#### Alternatives you've considered

n/a

#### Additional context

All described in #22880

[2021-06-04 10:19] kpodemski commented on #22880
@idnovate take a look https://github.com/PrestaShop/PrestaShop/issues/24807

[2021-06-04 10:23] kpodemski commented on #23589
Yet another point for something like `ps_healthcheck` module 🎉

[2021-06-04 10:25] khouloudbelguith commented on #9701
Hi!

This issue is fixed in the PS1775.
https://drive.google.com/file/d/1iElMsLxPLUIq-DrYfrpvBFgoXjvD_vXu/view?usp=sharing

Thank you!

[2021-06-04 10:25] #9701 closed, assigned to nobody

[2021-06-04 10:29] khouloudbelguith commented on #21730
Hi!

This issue is fixed in the PS1775.
https://drive.google.com/file/d/1HJK6nl1jEzTHTQ0UFRWFkqvcdUTkAF02/view?usp=sharing

Thank you!

[2021-06-04 10:29] #21730 closed, assigned to nobody

[2021-06-04 10:42] Socrapop commented on #24671
Hello !
I tried to improve this by removing the nowrap on each category label, so the scrollbar doesn't appear at all and we can always see it.
I made a PR :
https://github.com/PrestaShop/PrestaShop/pull/24808

I don't know why this nowrap was there, because it seems very unfriendly when you have a long list of categories, with long names, and a small screen.

[2021-06-04 11:21] ced--ced opened #24809 "The element height which contains Product images is not calculated when you access to product edit by clicking on price or qty in the Products list"
#### Describe the bug

When I access the details of a product by clicking on the **product quantity** or **product price** in the product list, I arrive to the quantity or price tab. Going then to the **Basic Settings** tab, the element height is not calculated. I need to refresh the page.

#### Expected behavior

The element height should be calculated

![image](https://user-images.githubusercont

[2021-06-04 11:39] BartoszCoyote opened #24810 "CA Bundle file for database connection"
Is there any option to use certificate file to the database using parameters?

[2021-06-04 11:49] d33x commented on #19304
@marionf It was an EPIC for 1.7.8, which was not actually done. Will it be an EPIC for 1.7.9?

Thanks

[2021-06-04 12:28] hibatallahAouadni commented on #24807
Hello @kpodemski

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-06-04 12:42] jf-viguier commented on #23218
@sarahdib I can't reproduce this bug because I don't have step 5 "Upgrade the porduct comment module to the last version"
I have a hook issue: no review is displayed at all nor the review block.

[2021-06-04 12:52] matthieu-rolland opened #24812 "Multistore configuration key is not valid html"
#### Describe the bug

Multistore configuration key is set as an html attribute `multistore_configuration_key` which is not valid HTML (it should be `data-multistore_configuration_key`

#### Expected behavior

Since this attribute is not used in front end we decided to pass this value as an option.

See PR:  https://github.com/PrestaShop/PrestaShop/pull/24811

It must be fixed in 1.7.8 overwise fi

[2021-06-04 13:06] Julievrz commented on #24650
This suggestion sounds good to me. :-)

[2021-06-04 13:42] jf-viguier opened #24814 "Productcomments : remove useless upgrade file"
#### Is your feature request related to a problem?

Productcomments : remove useless upgrade file

#### Describe the solution you'd like

Remove useless upgrade file

#### Additional information

* PrestaShop version: 1.7.x
* PHP version: all

[2021-06-04 14:12] matks commented on #14968
ping @sowbiba

[2021-06-04 14:15] matks commented on #19060
ping @lolath-presta was this achieved in blockwishlist v2 ?

[2021-06-04 14:18] matks commented on #12552
Looks similar to https://github.com/PrestaShop/PrestaShop/issues/23370

[2021-06-04 14:20] atomiix commented on #24630
Hi everyone, I think behaviour has changed in 1.7.7.0 since this PR #20198. From what I understand, this is the expected behaviour

[2021-06-04 14:22] hibatallahAouadni commented on #24814
Hello @jf-viguier

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-06-04 14:23] hibatallahAouadni commented on #24810
Hello @BartoszCoyote

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, w

[2021-06-04 14:23] #24810 closed, assigned to nobody

[2021-06-04 14:25] florine2623 opened #24815 "Multistore - Associated Categories are not saved correctly"
#### Describe the bug

In Multistore shop configuration, when unchecking a category in Associated Categories section and saving, when you Edit the  shop configuration, you will see that the Associated Categories are not saved correctly.

#### Expected behavior

In multistore configuration, when a category is unchecked it should stay unchecked.

#### Steps to Reproduce

Steps to reproduce the behav

[2021-06-04 14:25] atomiix commented on #21556
No worries, it's all yours now 😄

[2021-06-04 15:03] ced--ced opened #24816 "Cart with order is empty"
#### Describe the bug

Cart with a placed order is empty. Product is in the order but not in the cart anymore. So if I try to add a discount on the order page, I get the error message "Could not find the product in cart, meaning Order and Cart are out of sync".

Why would the cart get empty?

**Screenshots**

![Screen-Shot-2021-06-04-at-15 59 57](https://user-images.githubusercontent.com/71735/120

[2021-06-04 15:07] khouloudbelguith opened #24817 "FO - Checkout page - Number of items is not updated when adding or removing a discount free gift"
#### Describe the bug

In the FO > Checkout page > the number of items is not updated when adding or removing a discount free gift
#### Expected behavior

Steps to reproduce the behavior:

1. Create cart rule with code Free gift
2. Go to FO > Sign in > Add a product to the cart and proceed to checkout
3. In the Checkout page > apply the discount
4. See error: the number of items is not updated
5.

[2021-06-04 15:18] jf-viguier commented on #24814
I've hired myself ;-)

[2021-06-04 15:19] jf-viguier commented on #24814
@hibatallahAouadni please don't advertise prestashop corp partner program, you are here in open source space.

[2021-06-04 15:24] matthieu-rolland opened #24818 "Bad redirection on shop context links in BO"
#### Describe the bug

In BO, when the shop is configured not to use url tokens, clicking on a shop context link will redirects to the BO's home page.

#### Expected behavior

It should switch context and redirect to the same page.

#### Steps to Reproduce

- Disable URL tokens, by writing `SetEnv _TOKEN_ disabled` in your `.htaccess` file, at the root of your prestashop project
- Activate multist

[2021-06-04 15:27] marionf commented on #19304
Hello @d33x

This is not a must-have for 1.7.9 but if you want to work on it, don't hesitate, you are welcome :)

[2021-06-04 15:33] barbosatrix opened #24819 "Minimal purchase with tax included"
#### Is your feature request related to a problem?

No.

#### Describe the solution you'd like

I want to establish the minimal purchase with tax included

#### Alternatives you've considered

Let me choose if I want established minimal purchase with or without taxes. Sometimes is confuse for the customer when I say the minimal purchase is $XXX value but the cusmoter must to buy some more to compl

[2021-06-04 15:55] matthieu-rolland opened #24820 "JS error in console in multistore mode"
#### Describe the bug

There is an uncaught error in the js console on multistore forms.

#### Expected behavior

This error should not be there.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. activate multistore
2. create at least one shop
3. go on maintenance form page
4. See error in console

**Screenshots**
<img width="573" alt="Capture d’écran 2021-06-04 à 17 52 42" src="htt

[2021-06-04 16:09] hibatallahAouadni commented on #24814
@jf-viguier it's an automatic response and I do not advertise prestashop corp partner program :wink:

[2021-06-04 16:23] jf-viguier commented on #24814
@hibatallahAouadni have a nice week-end

[2021-06-04 16:31] hibatallahAouadni commented on #24814
@jf-viguier you too :slightly_smiling_face:

[2021-06-04 17:47] kpodemski commented on #23130
Note: it must be done on migrated Order Status page.

Can we add a `migration` label? @marionf @hibatallahAouadni ? I'm not sure if I should do it myself :)

[2021-06-04 18:21] kpodemski commented on #22825
Hey @okom3pom

Do you want to continue your work with this Issue?

[2021-06-04 18:25] kpodemski commented on #22786
I can't reproduce it on `develop`

cc @hibatallahAouadni

[2021-06-04 20:16] bastienu commented on #24726
Mmmmh... I do **NOT** know how it happens.
The only thing I see is that, sometimes, I can't access to order page in the back office because I have a thread without any message inside. I did not make it myself : the customer made the order. I don't know, so, how to reproduce it.

[2021-06-04 20:25] matks commented on #24726
I have seen some payment modules creating customer threads at step `validatePayments()` in an attempt to persist some data from the payment gateway inside the order (such as payment confirmation). It could be one source of such threads.

[2021-06-04 20:56] kpodemski commented on #22892
PR for you to check @NeOMakinG :)

https://github.com/PrestaShop/blockreassurance/pull/209

[2021-06-04 23:00] #24630 closed, assigned to nobody

[2021-06-04 23:01] hibatallahAouadni commented on #23130
@kpodemski done :wink:

[2021-06-04 23:53] hibatallahAouadni commented on #22786
Thanks @kpodemski  for checking it :rocket:
Yes, it has been fixed on develop & on 1.7.8.x

![image](https://user-images.githubusercontent.com/23308427/120872763-e527e100-c59f-11eb-83d3-f4bf61c7d0e0.png)

So, I close the issue.

[2021-06-04 23:53] #22786 closed, assigned to nobody

[2021-06-05 00:25] hibatallahAouadni commented on #24809
Hello @ced--ced

I reproduce the issue with PS1.7.6.7 and PS1.7.7.4 but I think it has been fixed on develop (1.7.8.x):

https://www.awesomescreenshot.com/video/4016852?key=845385fb30ee981e0928c692b6ec31ab

But, I notice that some JS are not called to calculate the height:

![image](https://user-images.githubusercontent.com/23308427/120874045-09d28780-c5a5-11eb-9951-29a6e43a8521.png)

In the other

[2021-06-05 00:32] hibatallahAouadni commented on #24816
Hello @ced--ced

Could you please check the third issue in #22948 it seems related to yours.
Please check and feedback.

Thanks!

[2021-06-05 00:34] hibatallahAouadni commented on #24819
Hello @barbosatrix

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement thi

[2021-06-05 01:05] hibatallahAouadni opened #24826 "[BO - desktop] - Email themes loops are misplaced & `.dropdown-menu>li a` width is not 100%"
#### Describe the bug

**1st issue:** Email themes loops are aligned in `Center`
**2nd issue:** `.dropdown-menu>li a` width only fit the link content, so we can only click on link when we hover on the word

#### Expected behavior

**1st issue:** Email themes loops should be aligned to the `right`
**2nd issue:** `.dropdown-menu>li a` width should be 100%

#### Steps to Reproduce

Steps to reproduce

[2021-06-05 11:16] kpodemski commented on #23054
@PrestaEdit you can throw an Exception. You can find an example module in the attachment.

[dummyupgrade.zip](https://github.com/PrestaShop/PrestaShop/files/6602461/dummyupgrade.zip)

[2021-06-05 11:16] kpodemski commented on #23054
@hibatallahAouadni

I think no change needed here, and `To Do` to be removed.

[2021-06-05 11:40] Maofree opened #24827 "It is not possible to translate "Categories" for ps_facesearch module"
Hi

#### Describe the bug

I need to change "Categories" to "Collections" for the title of the categories of ps_facesearch
I do it from the admin translations and I can see that the "Collezione" is present inside ps_translation table
I've removed all folders inside var/cache/*
but it the front-end there is always "Categorie"
in the theme it is present only an override on ps_facetedsearch.tpl

####

[2021-06-05 11:41] kpodemski commented on #22968
Hello everyone. It's not really a bug, modern e-mails don't work like that, and every time you modify them you need to regenerate e-mail templates from BO.

Best for having custom e-mails is:
- to override generated .html files
- to use https://github.com/PrestaShop/example-modules/tree/master/example_module_mailtheme as an example of how t provide a custom theme for e-mails

I think @jolelievre i

[2021-06-05 11:48] ced--ced commented on #24816
Hi @hibatallahAouadni,

It's not the same. The person was creating first a discount code in the cart rules and then creating an order from the BO.

In my case the order has already been placed by the customer. It's the customer who also creates the cart.

So first we have the problem that the cart is empty in the bo. And secondly, we have the error message when we go in the order and create straig

[2021-06-05 12:32] kpodemski commented on #23394
@hibatallahAouadni @BoutiquesInternet

This problem has been fixed in the 1.7.8 version

[2021-06-05 18:24] Collimated opened #24830 "GDPR module wrong age of customer on reports"
#### Describe the bug

The GDPR module allows the customer to generate a report about his or her own information.
Inside this report one value is the customers age. I believe there is a bug in the way the customer age is calculated.
It looks like the value of the age is rounded to a whole number what can be a wrong age.

#### Expected behavior
When client has age of 21.8 years GDPR shows age of 22

[2021-06-05 19:59] matks commented on #24830
Hello @Collimated thank you for the bug report 😉 could you please re-format it a little to fit the Bug report template https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=1_bug_report.md ?

This will help us a lot to sort, qualify and label this bug! 🎉

I think you could write it like this

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Use GDPR module
2.

[2021-06-05 20:47] Collimated commented on #24830
#### Describe the bug

The GDPR module allows the customer to generate a report about his or her own information.
Inside this report one value is the customers age. I believe there is a bug in the way the customer age is calculated.
It looks like the value of the age is rounded to a whole number what can be a wrong age.

#### Expected behavior
When client has age of 21.8 years GDPR shows age of 22

[2021-06-06 07:22] PierreRambaud commented on #23054
Exceptions are not user-centric :thinking:

[2021-06-06 07:28] kpodemski commented on #23054
Sure but as a module developer there's 99% chance that I need to investigate this issue on Customer's request, all they need to know is that something went wrong with an update, Exception is showing clear message - the only difference would be to remove "Exception has been thrown" I guess?

[2021-06-06 11:13] PrestaEdit commented on #23054
You're right, the error will be shown as it.
![image](https://user-images.githubusercontent.com/2631425/120922327-cbce8400-c6c8-11eb-8786-64a1bee9df6f.png)

The only issue with that is that you will not execute the rest of the upgrade file and if the exception occurs at the middle, it could be a mess.
Or, the developper will need to handle it to throw it on the very end in order to make it's excep

[2021-06-07 06:06] #24814 closed, assigned to nobody

[2021-06-07 06:57] mrabsinthe opened #24831 "Unable to delete free gift in cart 1.7.7.4"
#### Describe the bug

When a free gift is added to cart, we're unable to delete it, thus forcing a customer to accept it. This might be illegal in some countries. If the customer doesn't want the free gift, there is no option to refuse it.

#### Expected behavior

Legally correct behavior is to OFFER the free gift, not to add it to cart. Easy solution would be to display a link Congratulations, y

[2021-06-07 07:11] concaten commented on #17810
Hi there,

Some email object of ps_emailalerts are still missing to translation in **2.2.2 version**
like "Product out of stock" and "New order :"
Do you confirm ?

[2021-06-07 07:14] Vipmart commented on #17810
Yes!

[2021-06-07 07:23] bimlas opened #24833 "Use language code instead of ISO code in HTML lang"
#### Describe the bug

If I create a language with the ISO code `AT` for Austria, it will show `<html lang="at">` on the front office, but this is not a real ISO code that should be included here.

#### Expected behavior

`<html lang="de">` would be the right value according to https://www.w3schools.com/tags/ref_language_codes.asp

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go t

[2021-06-07 07:41] hibatallahAouadni commented on #23054
@kpodemski Thanks :slightly_smiling_face: closing the issue as no change is required

[2021-06-07 07:41] #23054 closed, assigned to nobody

[2021-06-07 07:51] fredoche1810 commented on #23953
Hello @soft-dot  #@florine2623,
I've exactly the same issue in Prestashop 1.7.7.3 using Mollie as payment module.
Is there a correction that we can apply manually ?
Thanks in advance,

[2021-06-07 08:20] hibatallahAouadni commented on #24831
Hello @mrabsinthe

When you create the cart rule, generate a code and enable the highlight option:

![image](https://user-images.githubusercontent.com/23308427/120983173-bd8c7080-c779-11eb-95ab-074d098ecc76.jpeg)

Then, the customer can remove the free gift by removing the cart rule.
Please check and feedback.

Thanks!

[2021-06-07 08:45] hibatallahAouadni commented on #24827
Hello @maofree

I didn't manage to reproduce the issue with PS1.7.7.4, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/120986890-57a1e800-c77d-11eb-990f-d3279e36adc1.png)

![image](https://user-images.githubusercontent.com/23308427/120986779-3ccf7380-c77d-11eb-89b8-890ab3947e9e.png)

Please check and feedback.
Thanks!

[2021-06-07 08:52] Hlavtox commented on #24831
@mrabsinthe @hibatallahAouadni The problem is, that there shouldn't be the trash icon next to the gift. There is an issue open for this.

And why would anyone want to delete a gift? 👍

[2021-06-07 08:53] maofree commented on #24827
Hi
can you try with a child theme to do the same operation?
I'm testing on a child theme
thanks

[2021-06-07 09:20] jf-viguier commented on #24817
@khouloudbelguith is this bug fixed by this pr https://github.com/PrestaShop/PrestaShop/pull/24795 ?

[2021-06-07 09:36] hibatallahAouadni commented on #24830
Hello @Collimated

You mean 21 years and 8 months by 21.8 years??
And yes, the GDPR module calculates the age in this way, whatever your birthday month, since January 1st your age will be updated.
Ping @PrestaShop/product-team is this the expected behavior?

[2021-06-07 09:44] hibatallahAouadni commented on #24831
@Hlavtox you're talking about this issue #9757

[2021-06-07 09:46] Hlavtox commented on #24831
@hibatallahAouadni Yes exactly. :-)
@mrabsinthe Use my temp fix from here - https://github.com/PrestaShop/PrestaShop/issues/9757#issuecomment-691047001

[2021-06-07 09:53] hibatallahAouadni commented on #24833
Hello @bimlas

Could you please check these issues #24254 & #16070 cause it seems similar to yours.
Please check and feedback.

PS: I manage to reproduce the issue but I think this is the expected behavior, see the attached screen record below:
https://drive.google.com/file/d/1j1cw2pPl7iGjExg5jhweD_bEoI51F5op/view

Thanks!

[2021-06-07 10:11] khouloudbelguith commented on #24817
Hi @jf-viguier,

Thanks for your feedback.
Yes, It could be fixed with this PR because they are related.
I will check this issue when testing the PR.

Thank you!

[2021-06-07 10:40] kmorgen commented on #17810
Yes, and also in current **V2.3.0**

[2021-06-07 10:41] bimlas commented on #24833
@hibatallahAouadni,

The aim would be to be able to add 3 German translations to products that target a specific area (Germany, Austria, Switzerland with language codes `de-DE`, `de-AT`, `de-CH`). With the current behaviour, they should get different ISO codes (`DE`, `AT`, `CH`), but these cannot be included in the `<html lang="...">` parameter because `AT` and `CH` are not valid ISO codes. Theref

[2021-06-07 10:41] mrabsinthe commented on #24831
@hibatallahAouadni you've missed my point completely and it makes me think, why bother reporting bugs? I'm very well aware of the fact that you can generate a code, but I was mentioning a bug when I DO NOT want to use a code. And if there is a trash icon that does nothing and you can recreate it (I'm sure you can), it is a bug, as simple as that. And as I already mentioned, customers MUST have an

[2021-06-07 10:47] juraj1000 opened #24838 "Missing sign for Discount(s)"
#### Describe the bug
There is missing sign for Discounts(s) in the cart.

#### Expected behavior
There should be always used sign "-" for Discount(s)

#### Steps to Reproduce
1. Create any rule for Discount > Cart Rule in BO
2. Add products to the cart in FO where the discount is used
3. Go to the cart and you'll see correct sign for Discount(s) > in my example: **- €4.35**
![image](https://user-

[2021-06-07 11:07] PeNov opened #24839 "Allow searching in the open orders"
Hello,
I would like allow searching in the open orders. I think this functions is very useful.

**Catalog-Stock-Movement** actually show only products from closed orders.

For example:
We need search product with ID number 100123 which we received today from supplier for completing whole order.

Now is not possible simple find which opened orders contain this product.

![image](https://user-images

[2021-06-07 11:12] juraj1000 opened #24840 "Simplified view for discounts"
#### Is your feature request related to a problem?
I'm frustrating how PS displays discounts in the cart.
- If there is one discount then this information is displayed twice in the cart
![image](https://user-images.githubusercontent.com/33311857/121004669-419d2300-c78f-11eb-9f69-c7bb53be7569.png)

- If there are two discounts then this information is displayed as discount sum and also as discount

[2021-06-07 11:18] n-e-r-u opened #24841 "facetedsearch don't display depending of countrie"
#### Describe the bug

When customers use a specific country (Nouvelle-Calédonie) the product on categorie page are not displayed. If we deactivate faceted search, the products are displaying.

#### Expected behavior

The products have to be visible in all cases. There is no restriction in back office.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to https://coudreetbroder.com

[2021-06-07 11:28] juraj1000 opened #24842 "Change GB zone to Europe (non-EU)"
#### Describe the bug
There are incorrect country attributes for the Great Britain and North Macedonia.

#### Expected behavior
Great Britain: Zone = Europe (non-EU)
Macedonia: country is renamed to North Macedonia => Fixed on 1.7.8.0

#### Steps to Reproduce

1. BO > International > Locations > Countries
2. Select country Great Britain
3. See error > Zone should be Europe (non-EU)

#### Additiona

[2021-06-07 11:34] juraj1000 opened #24843 "Credit note number formatting"
#### Is your feature request related to a problem?
There is possible to use the hook actionInvoiceNumberFormatted for invoice number formatting. I'm frustrating that this functionality doesn't exist also for credit note number formatting.

#### Describe the solution you'd like
Add the new hook for credit note number formatting.

[2021-06-07 11:40] juraj1000 opened #24844 "Invoice file name formatting"
#### Is your feature request related to a problem?
There is possible to use the hook actionInvoiceNumberFormatted for invoice number formatting. I'm frustrating that this functionality doesn't exist also for pdf invoice file name when the invoice is downloaded. I'd like to use the same pdf file name as  the invoice number. E.g., if the invoice is FA21059874 the I'd like to have the file name FA210

[2021-06-07 11:43] juraj1000 opened #24845 "Order Reference generation"
#### Is your feature request related to a problem?
There is possible to use the hook actionInvoiceNumberFormatted for invoice number formatting. I'm frustrating that this functionality doesn't exist also for order Reference. I'd like to generate order Reference according to my rules.

#### Describe the solution you'd like
Add the new hook for order Reference generation .

[2021-06-07 12:06] PierreRambaud commented on #24833
I agree with @hibatallahAouadni seems to be the expected behaviour. If you want something special for your theme, you can do it directly on it.

[2021-06-07 12:11] hibatallahAouadni commented on #24839
Hello @PeNov

I would like allow searching in the open orders. I think this functions is very useful

What do you mean by open orders? You mean orders with status **waiting for payment**?
Please check and feedback.

Thanks!

[2021-06-07 12:27] hibatallahAouadni commented on #24840
Hello @juraj1000

Thank you for your suggestion but IMHO I don't think it's a good idea to display all discounts in the cart summary block. Imagine that you use 10 discounts, the list will be long and you need to calculate by yourself the discounts total.

Well the Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature wil

[2021-06-07 12:32] hibatallahAouadni commented on #24842
Hello @juraj1000

Could you please specify the bug that you encountered 🙏
To reproduce the issue, do we need to install the shop with **Macedonia** as a country?
Please check and feedback.

Thanks!

[2021-06-07 12:32] matks commented on #24831
Please remember we must all abide by the Code of Conduct https://github.com/PrestaShop/PrestaShop/blob/8a745499c50fce465e088d7cd49efe30aae6f779/CODE_OF_CONDUCT.md

Being respectful of differing viewpoints and experiences
Gracefully accepting constructive criticism
Focusing on what is best for the community
Showing empathy towards other community members

Misunderstandings and confusion happen, esp

[2021-06-07 12:35] hibatallahAouadni commented on #24845
Hello @juraj1000

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-06-07 12:36] hibatallahAouadni commented on #24844
Hello @juraj1000

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-06-07 12:38] hibatallahAouadni commented on #24843
Hello @juraj1000

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-06-07 12:39] marionf commented on #24766
@Hlavtox
There is an option in the BO that is currently not working to manage this case: the delayed shipping toggle in order settings BO page
Here is the issue: https://github.com/PrestaShop/PrestaShop/issues/9781
We should let the choice to the merchant if he/she want to allow his/her customers to receive available products first or not

[2021-06-07 12:45] juraj1000 commented on #24842
Hello @hibatallahAouadni,
there is Macedonia in the list of countries: BO > International > Locations > Countries > select  country with the ISO code = MK.
But the correct name is North Macedonia.

[2021-06-07 12:55] juraj1000 commented on #24840
Hello @hibatallahAouadni,
Is it a real business case with 10 parallel discounts in the cart? I can say we don't use any parallel discounts otherwise the system is very complicated for a customer. And now with one discount it is also confusing for the customer because the discount is displayed twice.
But if you know an e-shop with 10 different parallel discounts then it would be helpful to create a

[2021-06-07 12:58] MatShir commented on #22853
Hi @Kerami82,
Thanks for the issue. I would like to understand how does it impact your process (or the process of your client).
Could share with us why and how this new sort impacts your inventory management ?

[2021-06-07 13:26] DelecroixQuentin commented on #23808
Possible fix, change this:
https://github.com/PrestaShop/PrestaShop/blob/8a745499c50fce465e088d7cd49efe30aae6f779/themes/classic/templates/checkout/_partials/steps/addresses.tpl#L29-L33

to this:
[code]

[2021-06-07 13:31] PeNov commented on #24839
Hello hibatallahAouadni,

Generally for not sent and delivered orders (these states are already displayed).
I think there is more possible order states. The easiest way is search without limitation of order state.

I think allow searching for all orders states is first important step.

After this step, we can add _nice to have functions_.
Allow user decide which order state he wants. Something lik

[2021-06-07 14:08] hibatallahAouadni commented on #24809
As discussed with @NeOMakinG on Slack, I changed the issue title and description

[2021-06-07 14:50] #23112 closed, assigned to NeOMakinG

[2021-06-07 14:59] hibatallahAouadni commented on #24516
Hello @LukasK13

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-07 14:59] #24516 closed, assigned to nobody

[2021-06-07 15:00] hibatallahAouadni commented on #24440
Hello @ProteanCode

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-07 15:00] #24440 closed, assigned to nobody

[2021-06-07 15:02] hibatallahAouadni commented on #24350
Hello @matteocostantini

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-07 15:02] #24350 closed, assigned to nobody

[2021-06-07 15:07] florine2623 opened #24850 "Can't download Virtual Products in a Pack of Virtual Products"
#### Describe the bug

When I create a Pack of Virtual Products, I can't download any of them. They are considered "normal" products.

#### Expected behavior

As a customer I should be able to Download my Virtual products

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a Pack of product
2. Add 2 (or more) Virtual Products
3. Add to cart
4. In the customer account and email, c

[2021-06-07 15:10] florine2623 commented on #18215
Maybe related to https://github.com/PrestaShop/PrestaShop/issues/24850

[2021-06-07 15:14] hibatallahAouadni commented on #24543
Hello @filanico ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-07 15:14] #24543 closed, assigned to nobody

[2021-06-07 16:13] hibatallahAouadni commented on #24841
Hello @n-e-r-u

I tried to add the pack of this country New Caledonia in BO, but I couldn't found it.
Could you please provide some screenshots or explain how to import this country.
Please check and feedback.

Thanks!

[2021-06-07 16:15] sellmark commented on #21661
I was able to reproduce this in core template file: /themes/classic/templates/index.tpl so it seems like a global issue, not only modules-related.

[2021-06-07 16:16] marionf opened #24853 "In FO product page, move the number of items in stock before the 'Add to cart' button and before to the stock label"
#### Is your feature request related to a problem?

As a visitor, I want to know easily how many products are in stock when I am in the product page.
Currently, this information is displayed in the "product details" tab of the product page and not highlighted enough.

#### Describe the solution you'd like

If the "Display available quantities on the product page" is enabled in BO product settings

[2021-06-07 16:41] atomiix commented on #24465
@khouloudbelguith I've not been able to reproduce this issue 🤔

I tried clicking on "Add an address":

https://user-images.githubusercontent.com/2168836/121057502-a5d7db00-c7bf-11eb-87f7-ae6407300e66.mov

and without clicking:

https://user-images.githubusercontent.com/2168836/121057527-ad977f80-c7bf-11eb-9823-b2c1842eb488.mov

[2021-06-07 17:42] hibatallahAouadni commented on #24838
Hello @juraj1000

Thanks for reporting this issue!
Ping @PrestaShop/product-team is this the expected behavior or it's a bug?

[2021-06-07 18:27] hibatallahAouadni commented on #22968
@jolelievre could you please confirm :pray:

[2021-06-07 18:34] yiohan opened #24855 "Product Flag"
* PrestaShop version: 1.7.6
Hello i need help . I insert a flag for "Sold Out" but i have problem with some products . More products have attributes and you changes this attributes on product list like that https://prnt.sc/14kh5wm and the problem is the red attribute have 4 pieces and the white attribute havent pieces but if you choose the red color the flag with "sold out" dont dissapear

[2021-06-07 20:41] juraj1000 commented on #24844
Hello @hibatallahAouadni ,
I'd like to implement it into Prestashop as a Pull Request.

[2021-06-07 21:04] ced--ced opened #24856 "Bestsellers and special offers links in Prestashop HTML sitemap page"
Hi,

The link to the bestsellers page is not listed in the sitemap page managed by Prestashop (not the xml sitemap from the module).

So I looked in the file /controllers/front/SitemapController.php and at line 154 we have the condition:
if (Configuration::isCatalogMode() && Configuration::get('PS_DISPLAY_BEST_SELLERS'))

Why is there "Configuration::isCatalogMode()" in the condition? Doesn't this

[2021-06-07 23:28] markoss01 opened #24858 "Como quitar recuadro al botón?"
Hola,

quería una ayuda.

tengo el prestashop versión 1.7.4.2 tengo este problema, quiero quitar este recuadro en negro al darle clic al boton

![IMG20210608011200](https://user-images.githubusercontent.com/85529317/121099743-b2c4f080-c7f8-11eb-9f86-f1c476dd4186.jpg)

espero que me ayuden gracias

[2021-06-08 06:39] #24702 closed, assigned to nobody

[2021-06-08 07:03] n-e-r-u commented on #24841
Hello @hibatallahAouadni

In International > Geographic Zone we have a zone named Outre mer (it's for island attached to France like Polynesia or New Caledonia)

![image](https://user-images.githubusercontent.com/12851944/121138742-4b2e9580-c838-11eb-92e7-8d16ea8ccd0d.png)
![image](https://user-images.githubusercontent.com/12851944/121138812-5c77a200-c838-11eb-9dce-637d06bb401b.png)

[2021-06-08 07:25] hibatallahAouadni commented on #24858
Hello @markoss01

Please send your request in English. English is the norm on GitHub.

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel fre

[2021-06-08 07:25] #24858 closed, assigned to nobody

[2021-06-08 07:26] hibatallahAouadni commented on #24855
Hello @yiohan

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-06-08 07:26] #24855 closed, assigned to nobody

[2021-06-08 07:27] hibatallahAouadni commented on #24856
Hello @ced--ced

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-06-08 07:27] #24856 closed, assigned to nobody

[2021-06-08 07:28] matks commented on #24855
Then you should visit https://devdocs.prestashop.com/1.7/faq/i-need-help/

[2021-06-08 07:28] #24567 closed, assigned to nobody

[2021-06-08 08:04] ced--ced commented on #24856
Hi @hibatallahAouadni,

I follow all the points raised in the "Good bug report" part of the documentation you mention: https://build.prestashop.com/news/how-bug-reports-are-handled/#1-good-bug-reports

The problem:
The bestsellers page link does not show in the sitemap file managed by Prestashop: i.e. www.yoursite.com/sitemap.

The reason:
The code on line 154 in /controllers/front/SitemapControll

[2021-06-08 08:09] hibatallahAouadni opened #24859 "[BO - Responsive] - Bad Display of Carriers page"
#### Describe the bug

The page is very long and the **stepDesc** are displayed incorrectly

#### Expected behavior

The **stepDesc** must be hidden and the page must be fit to the content.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. On mobile
2. **BO** > **IMPROVE** > **Shipping** > **Carriers**
3. Edit a Carrier
4. See error (see the attached screenshot below)

**Screenshots**

[2021-06-08 08:21] Betafer opened #24860 "Decimal separator non standard"
#### Describe the bug

Hello,

decimal separator not standardized.

as you can see from this image the decimal separator in the price tab is not the same in all fields, commas and periods alternate.

In the price of the product there is the point while in the special prices the comma.

In product price tab, i have price without tax with comma separator and price with tax with dot instead of comma,

[2021-06-08 08:27] Progi1984 commented on #24664
Fixed by @NeOMakinG in #24665

[2021-06-08 08:27] #24664 closed, assigned to nobody

[2021-06-08 08:49] hibatallahAouadni commented on #24856
Hello @ced--ced

Well, I believe this is the expected behavior. So, it's not a bug.

Thanks!

[2021-06-08 08:50] Betafer commented on #24860
Please try in Italian

[2021-06-08 08:53] matks commented on #24860
@Betafer @hibatallahAouadni I think the scenario requires specific settings
- language (italian as said @Betafer )
- currency
- locale

[2021-06-08 08:54] hibatallahAouadni commented on #24844
@juraj1000 yes please do it :tada: If you submit a Pull Request, the improvement will be treated as a priority

[2021-06-08 09:06] hibatallahAouadni commented on #24860
Hello everyone,

@matks Thanks for the tip :wink:
@Betafer Yes, you're right the issue occurs only with italian language :confused:
But I think this problem may be fixed with this PR #24339 @PierreRambaud could you please confirm it :pray:

Thanks!

[2021-06-08 09:19] juraj1000 commented on #24845
Hello @hibatallahAouadni ,
I'd like to implement it into Prestashop as a Pull Request.

[2021-06-08 09:34] hibatallahAouadni commented on #24845
@juraj1000 please do it :pray: :tada:

[2021-06-08 09:35] Progi1984 commented on #24804
Fixed by @NeOMakinG in #24813

[2021-06-08 09:35] #24804 closed, assigned to NeOMakinG

[2021-06-08 10:53] agnesdennetiere opened #24863 "Cart Rule restricted to visitor still in cart after registration"
Hello,

I created a cart rule restricted to the customer group "visitor", with no code, so it is added automatically to the cart.
When I login, the cart rule is removed (since I am not in the "visitor" group anymore)
However if I create an account, the cart rule stays in the cart until I update it (by adding a product, for example)

Prestashop version : 1.7.6.9

Thanks you for your help !

[2021-06-08 11:01] agnesdennetiere commented on #24863
It seems that if I add this
[code]

juste before the return in the submit function of the CustomerForm class, it works... (like in the CustomerLoginForm class)

Is this the right way?

[2021-06-08 11:05] khouloudbelguith commented on #24617
Hi @PierreRambaud,

I will update my issue.

Thanks!

[2021-06-08 11:24] nunsaciu commented on #17552
hi iriarh,

I'm in trouble with the same issue but i don't understand where the glitch is! Can you give more details about this?
Many thanks!

[2021-06-08 12:35] atomiix commented on #23365
@khouloudbelguith I've not been able to reproduce the issue, I'm maybe missing something but if I try to save without selecting a parent category, I got this:
<img width="831" alt="Capture d’écran 2021-06-08 à 14 32 19" src="https://user-images.githubusercontent.com/2168836/121185758-b1321180-c866-11eb-908e-efb104e51001.png">

And if I remove the `required` attribute of the input and hit save, I

[2021-06-08 13:03] Progi1984 commented on #24800
Fixed by @atomiix in #24849

[2021-06-08 13:03] #24800 closed, assigned to atomiix

[2021-06-08 13:07] nicohery commented on #11342
@hibatallahAouadni The original question has been deflected. @linuxatico wanted to share images between references without having to re upload and thus duplicate them...

[2021-06-08 13:43] cyrius commented on #24764
The problem is located in the src/Filters/Converter.php near line 390

`
               case self::TYPE_CATEGORY:
                    if (isset($facetAndFiltersLabels[$filterLabel])) {
                        foreach ($facetAndFiltersLabels[$filterLabel] as $queryFilter) {
                            $categories = Category::searchByName($idLang, $queryFilter, true); // THIS LINE

[2021-06-08 13:44] hibatallahAouadni commented on #24842
@matks what's happening here?

[2021-06-08 14:13] yiohan commented on #13096
Hello everyone i input this code on ProductLazyArray.php on function getFlags
 if ($this->product['quantity'] == 0) {
$flags['quantities'] = array(
'type' => 'unavailable',//
'label' => $this->translator->trans('Sold out', array(), 'Shop.Theme.Catalog'),
);
}
but i have a problem with product with compination because some product has different quantities anyone solved this?

[2021-06-08 14:54] beyondsagency commented on #9591
UP ?

[2021-06-08 15:05] khouloudbelguith opened #24871 "BO - Currencies page - Cannot create an alternative currency after an upgrade from PS1744 and PS16124"
#### Describe the bug
In the BO > International > Localization > Currencies page, we cannot create an alternative currency, an error is displayed
![image](https://user-images.githubusercontent.com/16067358/121209256-feb87980-c87a-11eb-8342-e50e598605fc.png)
We reproduced the issue me and @Robin-Fischer-PS with those versions:

- 1775build1 after an upgrade from PS16124, PS1744
- 1774 after an upgr

[2021-06-08 15:06] arouiadib commented on #24635
@Progi1984 , I believe Free Shipping is cumulative.

Let's please see this config:
- Product 1 with only one possible carrier 1 (specific carrier 1).
- Product 2 with only one possible carrier 2.
- Cart rule 1 with Free Shipping restricted to carrier 1.
- Cart rule 2 with Free Shipping restricted to product 2.
- Cart with product 1 and product 2.
Then Shipping discount = cost of carrier 1 + cost o

[2021-06-08 15:15] khouloudbelguith opened #24872 "Rollback to old versions is NOK with MySQL8"
#### Describe the bug

When we try to make a rollback from PS177 to old versions, we have errors
![image](https://user-images.githubusercontent.com/16067358/121210781-3ecc2c00-c87c-11eb-9edb-dfdceb7bdae8.png)
We reproduced the issue me and @Robin-Fischer-PS with those versions:

- Rollback from PS1775build1 tp PS1744
- Rollback from PS1755build1 to PS1765
- Rollback from PS1755build1 to PS1769
- R

[2021-06-08 15:17] matks commented on #24842
@hibatallahAouadni unwanted side-effect of GitHub management of issues and Pull Request 😛

[2021-06-08 15:27] arouiadib commented on #24863
The code you mentionned do somehing and do the opposite just after that (at least from the method name).

Anyways, I don't think your changes will stay if you update your PS version in the future to a version that itself updated this class.

Finally, I think we should ask other people from product management if the cart rule should always stay if the customer changes the status from "visitor" to "

[2021-06-08 15:44] khouloudbelguith commented on #24537
Hi @Progi1984,

Yes, it is ok :heavy_check_mark:
https://drive.google.com/file/d/1X2rW3uPbl2ibmYrIZNLeFFYrOx7XrKQ_/view?usp=sharing

Thank you!

[2021-06-08 15:44] #24537 closed, assigned to Progi1984

[2021-06-08 15:51] karolgurgul opened #24874 "Dodatkowe pola"
Witam,
Chciałbym aby na karcie produktu znalazły się dodatkowe pola:
1. **data ważności** produktu z check box'em "_**widoczne na stronie produktu**_"(chodzi o front office.)
2. pole "**numer faktury zakupowej**" widoczne tylko na karcie produktu back office,
3. pole "**numer katalogowy produktu**" widoczny na karcie produktu back i front office.
4. jeżeli to możliwe sygnalizowanie terminu przydat

[2021-06-08 15:57] PierreRambaud commented on #24617
Afaik, it couldn't be considered as a regression since there was nothing in the previous version. Seems to be a trivial bug :thinking:

[2021-06-08 15:59] khouloudbelguith commented on #23365
Hi @atomiix,

Yes, there is an Html alert now, but there are some errors in the console
https://drive.google.com/file/d/1qc1Jr3Uychg_5pLZG5ZLi29JZaYtG_Ds/view?usp=sharing

What do you think?

Thank you!

[2021-06-08 16:00] fall-en opened #24877 "Payment amount not updated at 2nd checkout try"
#### Describe the bug

Hello, I have an issue with credit card payment.
Tested with Prestashop Checkout and Stripe Official modules, so maybe it's a core bug.

The total amount to pay is not updated correctly if you add or remove products from the cart at 2nd (3rd, 4th, ecc)
 payment with credit card try.

#### Steps to Reproduce

1. Add products to cart (example cart total is € 15)
2. Checkout wi

[2021-06-08 16:29] hibatallahAouadni commented on #24874
Hello @karolgurgul

Please send your request in English. English is the norm on GitHub.
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the provided template to submit a complete bug report (1) or a feature request (2)**.

![image](https://user-images.githubusercontent.com/23308427/121222990-5826a580-c887-11eb-87c0-4c

[2021-06-08 16:29] #24874 closed, assigned to nobody

[2021-06-08 16:33] hibatallahAouadni commented on #24863
Hello @agnesdennetiere

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- steps to reproduce
- screenshots
- ...

Please respect and follow the provided template to submit a complete bug report.
You don't know how to get this information? Please read the following article: [How to create a bug report](http://build.prestashop.com/howt

[2021-06-08 17:30] #24597 closed, assigned to Shagshag

[2021-06-08 18:18] fire2 commented on #9999
What's the status of the tax breakdown during the checkout?
If we have an option in the backend to break down the taxes (when having multiple taxes) in the invoices, why don't you use it also for the checkout?

[2021-06-08 18:22] wzzly opened #24880 "Problem with quantity discounts in combination with product discount in %"
Hi,

when you use a discounted product price in % and also want to use quantity discount in %, the prices are not calculated correclty.

**Describe the bug**
When for example you have a product with the price of $10.
With the first discount you check "Leave initial price".
And then you apply discounts with the following settings:
![image](https://user-images.githubusercontent.com/35727938/12123630

[2021-06-08 20:02] Daaaaad opened #24881 "ps_facetedsearch problem with subcategory filter"
Hello dear PrestaShop contributors ! I encounter a problem with the ps_facetedsearch module : The subcategories filters are not working 😔

Here is an example:

I have a category named "Enfants" that have two subcategories: "Filles" and "Garçons".

<img width="1209" alt="Capture d’écran 2021-06-08 à 21 45 33" src="https://user-images.githubusercontent.com/167037/121247733-e197a100-c8a2-11eb-90fa-

[2021-06-08 20:11] wzzly commented on #24880
Think this is fixed with pull #15100 , but why isn't it in 1.7.7.4 then?

[2021-06-09 02:58] Seb33300 opened #24883 "[Multistore] Cannot upload product image on duplicated product"
#### Describe the bug

When trying to upload an image to a duplicated product in a multistore context, the upload fails with this error:

#### Expected behavior

Image should be uploaded successfully.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a multistore shop
2. Select the 1st store in the top right dropdown
3. Create a new product with 2 images
4. Duplicate the produc

[2021-06-09 05:05] nossanhendel opened #24884 "additional groups for discount doesn’t work"
I am struggling for a few hours on this problem I will be very happy if you can help me out with this..
I need to make another group besides customers that they will get 10% off on all the store
The problem is when I add the new group and I put a discount the new group don’t show any discount in front office..
When I put discount for the all customers group it’s working but any additional group do

[2021-06-09 07:13] NeOMakinG commented on #23365
It's due to the fact that hidden checkboxes are required, as they are hidden, the browser can't focus it to display errors

I doubt we can deal with it, except maybe not make it required but deal with it using JS

It's not blocking by the way

[2021-06-09 07:34] Progi1984 commented on #24534
Fixed in #24867 by @matthieu-rolland

[2021-06-09 07:34] #24534 closed, assigned to matthieu-rolland

[2021-06-09 07:49] #24820 closed, assigned to nobody

[2021-06-09 08:29] #24468 closed, assigned to PierreRambaud

[2021-06-09 08:50] hibatallahAouadni commented on #24884
Hello @nossanhendel

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/

[2021-06-09 08:50] #24884 closed, assigned to nobody

[2021-06-09 08:56] hibatallahAouadni commented on #24881
Hello @Daaaaad

Could you please respect and **follow the provided template to submit a complete bug report**.
Please edit your issue description and notify me :wink:

Thanks!

[2021-06-09 09:01] Julievrz commented on #24389
I suggest: "This combination doesn't exist anymore." in Admin.Catalog.Notification

@MatShir Do we need another wording?

[2021-06-09 09:53] nossanhendel commented on #24884
Hi
Thank you very much for all the information.
I know this is not a place for helping using prestashop but this is a bug..
I know how to make discount for a different group and it works perfectly fine, The problems start with additional groups with a catalog discount.
Because in the functionality of prestashop add groups, after I add a group with catalog discount for this specific group.
When the

[2021-06-09 10:07] nossanhendel commented on #24884
Hi again
I would like to send you the screenshot so you understand what I mean.. thank you very much

https://screencast-o-matic.com/watch/cr1Q6hVhJJF

[2021-06-09 10:08] hibatallahAouadni commented on #24880
Hello @wzzly

So you mean that your issue is the same as this one #16163?
Please check and feedback.

Thanks!

[2021-06-09 10:11] wzzly commented on #24880
@hibatallahAouadni yes I think so.
I seems to be fixed with #15100
What is the reason it's no already in 1.7.7.4 if that change is approved more than a year ago?

[2021-06-09 10:30] hibatallahAouadni commented on #24883
Hello @Seb33300

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #10137.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-06-09 10:30] #24883 closed, assigned to nobody

[2021-06-09 10:30] hibatallahAouadni commented on #24883
Duplicate of #10137

[2021-06-09 10:41] IranDec commented on #13611
Hi
I have the same issue I can't download and update mail alert module even autoupgrade module too I will get the same
Best Regards

also after i deleted var/cache (prod & dev).
I could install autoupgrade but not the second one.

and additionally, after I deleted cache when I check var/cache folder again I just had prod file, I cant see dev folder furthermore
Best Regards

[2021-06-09 11:17] khouloudbelguith commented on #24817
This issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/24795

[2021-06-09 11:38] Progi1984 commented on #21961
Fixed by @atomiix in #24795

[2021-06-09 11:38] #21961 closed, assigned to atomiix

[2021-06-09 12:13] lmeyer1 opened #24886 "Upgrade script of PS 1.7.8.0 beta 1 throws exception"
#### Describe the bug

I installed the new files on the server (from `1.7.8.0-beta.1` tag in git).
I try to upgrade according to https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/. When navigating to
`https://<shop_domain>/install-dev/upgrade/upgrade.php` throws an error

#### Expected behavior

I expected the upgrade scripts to run und update my database schema to the new versi

[2021-06-09 12:39] jf-viguier commented on #24817
good news

[2021-06-09 12:50] matks opened #24888 "CI is failing because of PS_Metrics"
#### Describe the bug

CI is failing because of PS_Metrics

UI tests fail at step 'should login in BO' because of a PHP Type error (see below)

[code]

#### Expected behavior

CI should be fixed so we don't hinder the pull request process. Also it's not acceptable that our CI fails because of a module that does not belong to the open source project.

#### Steps to Reproduce

See Continuous Integra

[2021-06-09 13:07] Progi1984 commented on #24556
Fixed by @atomiix in #24794 :tada:

[2021-06-09 13:07] #24556 closed, assigned to atomiix

[2021-06-09 13:16] lmeyer1 commented on #24706
@hibatallahAouadni

There was another bug hidden, that caused failing mail not to be logged. Even real emails that failed. (see https://github.com/PrestaShop/PrestaShop/pull/24707#issuecomment-857672010)

[2021-06-09 13:25] #24817 closed, assigned to nobody

[2021-06-09 14:01] hibatallahAouadni opened #24889 "[BO] - New Product Page - an error thrown while updating the price with a comma"
#### Describe the bug

When you use italian language as your BO language, and try to update the product price in the new Product page, an error occurs

#### Expected behavior

the price update successfully

#### Steps to Reproduce

Steps to reproduce the behavior:

1. install your shop with Italian language
2. **BO** > **CONFIGURE** > **Advanced Parameters** > **Experimental Features**
3. Enable *

[2021-06-09 14:18] hibatallahAouadni commented on #24877
Hello @fall-en

Could you please provide a screen record cause I tried to reproduce the issue in vain.
Even some screenshots will be helpful :pray:

Thanks!

[2021-06-09 14:20] lmeyer1 opened #24891 "Database upgrade script incomplete in PS 1.7.8.0-beta.1"
#### Describe the bug

I ran the sql script `install-dev/upgrade/sql/1.7.8.0.sql` and expected the database schema to be up to date. But I find that some columns are missing:

    ALTER TABLE `ps_shop_group` ADD `color` VARCHAR(32) NULL AFTER `name`;
    ALTER TABLE `ps_shop` ADD `color` VARCHAR(32) NULL AFTER `name`;

When clicking in the BO on `Modules - Module Manager` I get an exception about

[2021-06-09 14:21] matthieu-rolland commented on #24068
I think it was not only the label being wrong, it's also the link (it's an edition URL instead of a creation URL )

[2021-06-09 14:26] Progi1984 commented on #24872
Just tested this process :
* Install 1765 from website
* Install the 1-click upgrade module
* Make the upgrade to the archive `prestashop_1.7.7.5+build.1.zip`
* Make a rollback
* No error

[2021-06-09 14:42] hibatallahAouadni commented on #24886
Hello @lmeyer1

I think you should run `make install` and not `make assets` :sweat_smile:
Please check and feedback.

PS: @NeOMakinG could you please correct me if I'm wrong :pray:

Thanks!

[2021-06-09 14:47] lmeyer1 commented on #24886
@hibatallahAouadni

The dashboard was empty, because I didn't yet run the script `install-dev/upgrade/sql/1.7.8.0.sql`.
Once I applied the SQL queries (manually, because `/install-dev/upgrade/upgrade.php` doesn't work), the BO worked again.

The problem that remains is the Exception that is thrown.

[2021-06-09 15:06] ghost opened #24893 "BO - Orders - invoice note with invalid data"
**Describe the bug**
In the BO > Orders > Order details page > when we add an  invoice note with invalid data, an Update successful alert is displayed by the note is empty.

**Expected behavior**
The user should be able to save any value.

**Steps to Reproduce**

1. Go to BO > Orders > Orders list page
2. View any order
3. In the invoice Tab, add a note with < hello > and save
4. See error: the in

[2021-06-09 16:07] hibatallahAouadni commented on #24735
Hello @msaustral

At Step 5 : Change the status to awaiting for payment
I notice a changement in the Movement stock, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/121389511-c84b2f00-c94c-11eb-9c36-a7cd269e6335.png)

As @MatShir mentioned in this [comment](https://github.com/PrestaShop/PrestaShop/issues/16869#issuecomment-605914380), there is no way

[2021-06-09 16:22] matthieu-rolland commented on #24893
I reproduced this issue

[2021-06-09 16:24] matks commented on #24893
Probably the same root cause that https://github.com/PrestaShop/PrestaShop/issues/22540 and https://github.com/PrestaShop/PrestaShop/issues/9574

[2021-06-09 16:24] msaustral commented on #24735
hi @hibatallahAouadni as we mention the case #16869 it is NOT similar, it refer to an improvement not to a issue on the inventory system.

also as we say before it not logic to go from cancel to awaiting for payment but the PS allow it!!, as it is allow, it have to work without break the inventory.

[2021-06-09 16:27] matthieu-rolland commented on #24893
It's exactly the same bug as this one: https://github.com/PrestaShop/PrestaShop/issues/24534

that was fixed here: https://github.com/PrestaShop/PrestaShop/pull/24867

but on the order invoice's note (instead of order's  note)

[2021-06-09 16:28] fall-en commented on #24877
Hello @hibatallahAouadni

Yes of course here it is the complete process with screenshots, let me know if is enough to reproduce the issue:

1. First cart is created, cart and checkout match correctly
![1 - first cart](https://user-images.githubusercontent.com/48456655/121392090-59230a00-c94f-11eb-9366-d6e09de217ee.png)

2. Payment is canceled by clicking  "Cancel" (Annulla) in the modal window. Er

[2021-06-09 16:32] okom3pom commented on #24893
There is the same for the customer message, I am trying to do this this week i need to check because an email is sent

[2021-06-09 17:42] Argez commented on #21482
Good afternoon.

I also have this error.

How can prestashop be modified, so that it accepts the quantities when importing products in all shop?

[2021-06-09 19:52] Hlavtox commented on #24863
Could be related to https://github.com/PrestaShop/PrestaShop/issues/19815

@agnesdennetiere Can you put {$customer.id_default_group} anywhere to any tpl file, for example to `templates/_partials/footer` and check the customer group id, after you register? Is it registered group id or visited group id?

[2021-06-09 21:35] hibatallahAouadni commented on #24886
Hello @lmeyer1

When you upgrade your shop from 1.7.7.4 to 1.7.8.0, did you use the module autoupgrade?
Please check and feedback.

Thanks!

[2021-06-09 21:40] hibatallahAouadni commented on #24735
Hello @msaustral

This issue #16968 is a bug in the stock management and not an improvement :wink:

Yep, you're right and that's why I asked @MatShir to explain the expected behavior.
So, let's be patient :pray:

Thanks!

[2021-06-09 21:43] hibatallahAouadni commented on #24860
Hello everyone,

@PierreRambaud Thanks :pray:
Well then, I reproduce the issue with PS1.7.6.7, PS1.7.7.4 and PS1.7.8.x. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we str

[2021-06-09 21:55] hibatallahAouadni commented on #24891
Hello @lmeyer1

Did you upgrade your shop manually or did you use the module autoupgrade?
What migration script? :sweat_smile:

Thanks!

[2021-06-09 22:05] pavonic opened #24898 "Wrong shipping vat calculation with gift card modules"
#### Is your feature request related to a problem?

In prestashop every gift card module in addons store create a cart rules when a gift card is sold. If the shop sells only products with the same VAT then you can apply the VAT on the gift card order and all is ok when the customer redeem the voucher: the total and the vat are correctly reduced by the discount.

The problem arise when the shop sel

[2021-06-09 22:29] pruault opened #24900 "Problem with loyalty points"
#### Describe the bug

2 variables are not correctly defined when you want to convert your loyalty points

#### Expected behavior

Try to convert loyalty points.
Solution: Replace

`$ customer = new Customer ((int) $ context-> customer-> id);
`
through
  ` $ customer = new Customer ((int) $ this-> context-> customer-> id);`

because `$ context `is not defined
AND replace the block

[code]

THROUGH

[2021-06-09 22:30] hibatallahAouadni commented on #24893
Hello @okom3pom

I was able to reproduce the issue with PS1.7.7.4 and PS1.7.8.x. I’ll add this to the debug backlog so that it’s fixed.
Thanks for your PR :rocket:

Thank you

[2021-06-09 22:40] hibatallahAouadni commented on #24558
Hello @leskam ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-09 22:40] #24558 closed, assigned to nobody

[2021-06-09 22:40] hibatallahAouadni commented on #24591
Hello @mschiele ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-09 22:40] #24591 closed, assigned to nobody

[2021-06-09 22:57] hibatallahAouadni commented on #24784
Hello @Skinperforator ,

Thanks for your feedback.
I was able to reproduce the issue with PS1.7.7.4, see the attached screen record below:

https://drive.google.com/file/d/1lt1P0UBlRuJ2AHsSIC-V2qeaSMGTDwP0/view

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue

[2021-06-09 23:03] hibatallahAouadni commented on #24842
But the correct name is North Macedonia.

Ping @Julievrz could you please confirm that the right ISO code of **North Macedonia** is **MK** or **NM**?

[2021-06-09 23:09] hibatallahAouadni commented on #24816
Hello @ced--ced

Ok, so could you please provide clear and concise steps to reproduce the issue :pray:
Related to #9589 & #23620

Thanks!

[2021-06-10 05:52] Robin-Fischer-PS commented on #24872
I tested following the same steps, I had the error :

https://drive.google.com/file/d/1g8Nhz4mIznu3V3mSoFALSFkFHRYeS2FV/view?usp=sharing

It's probably due to a specific configuration... I have PHP 7.2.34-21, and MySQL 5.0.12.

[2021-06-10 06:18] lmeyer1 commented on #24886
I did it like explained in https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/

All the changes to apply have been defined in the install folder, running them can be done with a specific PHP script.

Running that file throws the error.

[2021-06-10 06:21] lmeyer1 commented on #24891
I started out like explained in https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/

All the changes to apply have been defined in the install folder, running them can be done with a specific PHP script.

Since running that file failed (see #24886), I applied the database schema changes manually from `install-dev/upgrade/sql/1.7.8.0.sql`.

Sorry that I was not explicit and comlpe

[2021-06-10 06:27] bimlas commented on #24833
Ok, thanks for the advice!

[2021-06-10 06:27] #24833 closed, assigned to nobody

[2021-06-10 07:01] Prestaworks commented on #24881
@hibatallahAouadni
Same as this https://github.com/PrestaShop/PrestaShop/issues/24764

[2021-06-10 07:11] Progi1984 commented on #24249
Fixed by @jolelievre in #24661

[2021-06-10 07:11] #24249 closed, assigned to jolelievre

[2021-06-10 07:24] matks commented on #24888
CI fixed following release v2.2.1 of PS_Metrics

PR https://github.com/PrestaShop/PrestaShop/pull/24887 CI passed

[2021-06-10 07:24] #24888 closed, assigned to nobody

[2021-06-10 07:29] NeOMakinG commented on #24886
Hey, it's probably not related at all as @lmeyer1 specified, looks like an upgrade issue

[2021-06-10 07:32] Julievrz commented on #24842
I had a look on the internet and multiple websites say it is "MK". It seems that "NM" is only for car license plates.

[2021-06-10 07:52] lmeyer1 commented on #24886
@hibatallahAouadni
`make install` is ***not*** referenced by Google on devdocs.prestashop.com. Certainly it should launch the install ? Thus it is unrelated to my issue (as @NeOMakinG points out too), which is a failing ***Upgrade*** of 1.7.7.4 to 1.7.8.0 beta.1.

Maybe it is expected that an upgrade does not work for the moment. In #23010 `Available for upgrade` is not checked yet.

[2021-06-10 07:59] ghost opened #24901 "FO | BO - customer message with invalid data"
#### Describe the bug

In the BO > Orders > Order details page > when we add a customer  message with invalid data, an Update successful alert is displayed but the message is empty.

In the FO Order History > when a customer add `{` `<` an error is display

#### Expected behavior

The user should be able to save any value. (expect html tags)

#### Steps to Reproduce

Steps to reproduce the behavio

[2021-06-10 08:18] matks commented on #24900
Hello @pruault I cannot find mention of PS_LOYALTY_TAX inside the code of PrestaShop. Am I missing something? I think the bug you report maybe is related to a module

[2021-06-10 08:18] bastienuh opened #24903 "Bad request : header is too big"
#### Describe the bug

Sometimes, for some customers, without any logic, we have this on the homepage of our website :

![Capture d’écran 2021-06-08 à 19 30 08](https://user-images.githubusercontent.com/1685778/121489842-c462ef80-c9d4-11eb-88eb-bb050fe96972.png)

I have contacted the hosting service of our server to know if we can have a bigger header field size... but with this, we will treat t

[2021-06-10 08:32] matks commented on #24342
### Status update: 1.7.7.5 is validated by Quality Assurance ✅

Automatic tests, manual campaign and exploratory sessions did not detected any 1.7.7.5 regressions.

[2021-06-10 08:37] #15783 closed, assigned to nobody

[2021-06-10 08:53] matks commented on #11342
Hello,

It is unlikely we'll implement a solution for this feature idea. It can be useful, but we have a roadmap and already a huge pile of work planned 😅  and this topic is off the roadmap.

I think if you want PrestaShop to implement this behavior, the best if to invest and submit a Pull Request for it 😉

[2021-06-10 09:09] bastienu commented on #24903
It seems to be the cookie field in the header.

One of the cookie is named PrestaShop-bc20d32305bff7bca7f94559091d638e and has a size of 1,297 bytes.
Another one named PrestaShop-d128dcc0b239a91cabb9edf397675c4e is 951 bytes.
etc. (I have at least 5 cookies of this type).

What are this cookies for ? Why are they so big !?

Thanks.

[2021-06-10 09:26] #23753 closed, assigned to kpodemski

[2021-06-10 10:04] Progi1984 commented on #24826
Fixed by @NeOMakinG in #24837

[2021-06-10 10:04] #24826 closed, assigned to NeOMakinG

[2021-06-10 10:08] Julievrz commented on #24842
Hi @juraj1000
It seems that "Macedonia" was already changed to "North Macedonia" in 1.7.8. Regarding the ISO code, I think it should be modified. Indeed, based on the research I did, "MK" is still the official ISO code for North Macedonia. Only the code on license plates changed.

[2021-06-10 10:12] hibatallahAouadni commented on #24842
Thanks @Julievrz I updated the issue description to fix only the issue about GB :slightly_smiling_face:

[2021-06-10 10:15] hibatallahAouadni commented on #24898
Hello @pavonic

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-06-10 10:17] hibatallahAouadni commented on #24900
Hello @pruault

Could you please fill the steps to reproduce and answer @matks question.
Please check and feedback.

Thanks!

[2021-06-10 10:28] nicolasricci commented on #16155
@matks This bug has been opened for almost 2 years now, is there any plan to fix it in a future release?

[2021-06-10 10:30] MatShir commented on #24267
LGTM !

[2021-06-10 10:33] ervinnnc commented on #22488
I submitted a fix for this. The previous PR was not followed up with for some reason.

[2021-06-10 11:55] matks commented on #16155
Hi everyone,

Sorry I did not see the ping 😅  . It does not look like something related to the Back-Office page, rather something related to how shipping costs are being re-computed following a change in the order.

In 2020 the Order Back-Office page has been reworked, so maybe we fixed this issue unknowingly while re-implementing some logic, maybe not 🤷

@nicolasricci This bug has been put inside

[2021-06-10 12:01] Hlavtox opened #24906 "Add option to automatically load accessories from products in pack"
### Situation to imagine

Merchant is offering lot of product packs, let's say a desktop PC sets. A computer, display, keyboard and a mouse. He offers some accessories to products in pack - cleaning stuff for the display, mouse pad for mouse, wrist pad for a keyboard.

We can agree, that it's good to also show these accessories for the pack. But, if you want to do it, you need to add all of these

[2021-06-10 12:09] matks commented on #24023
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24821

[2021-06-10 12:09] #24023 closed, assigned to atomiix

[2021-06-10 12:27] bastienu commented on #24756
Hi @atomiix,
The hook `actionObjectAddressCreateAfter` does not seems to work...
Can you confirm it should be called?
Thanks.

[2021-06-10 12:30] giasemis opened #24907 "Prestashop several product images appeared in differnt Colour Tone in mobile devices only"
#### Describe the bug

Customer noticed that the products images appeared in a different color tones when you browse in the product pages from a mobile devices.
I then upload the same image in a default theme  prestashop version 1.7 installation and the same issue appeared.

#### Expected behavior
We expect products  images to be appeared in the correct color tone regardless the device your use to

[2021-06-10 12:46] Progi1984 commented on #24370
Fixed by @atomiix in #24852

[2021-06-10 12:46] #24370 closed, assigned to atomiix

[2021-06-10 12:47] lmeyer1 commented on #24907
This is probably related to the color profile saved in the picture and the way different navigators interpret it.

The display of the color nuances of the images are not related to Prestashop, but to the format of the image.

[2021-06-10 12:48] Hlavtox commented on #24907
@giasemis The third image is just more yellow, I see it perfectly fine on my desktop. Buy a better display 😄

[2021-06-10 12:53] giasemis commented on #24907
the question is why this image is more yellow when browse from mobile than in desktop. We have try several mobiles.   I just notice now that the same applies if you browse it here in github from a mobile device,  so definetely not a prestashop issues. But anyway how can I have the same color tone for this image in the mobile device as in desktop

[2021-06-10 12:57] lmeyer1 commented on #24907
I recommend you to seek counsel with a graphic designer. As I said, it is related to the image format, either the color channels, the gamma setting or the color profiles. I'm not a specialist in these, but I know, that different configurations of those may lead to different display depending on navigator and device.

[2021-06-10 12:57] Hlavtox commented on #24907
@giasemis Every display is different, every display can be configured differently. You open the same image on 3 displays and see completely different colors on each of them.

[2021-06-10 13:39] Prestaworks commented on #24764
@cyrius I made a PR for this, it solved my issue also.

[2021-06-10 13:55] bastienu commented on #24903
Ok I understand... but this is not an relevant behavior.

Because the customers are totally blocked with a bad request outside the website. The only solution seems to be to delete cookies, but :
- if you do that you loose you cart
- you are disconnected
- most of customers does not how to delete cookies

So : what solutions can you propose?

[2021-06-10 13:59] bastienu commented on #12185
I'm sorry but this answer and "solution" can't be accepted...
I understand the behavio but this is not a relevant behavior for final users.

Reduce the cookie lifetime is not acceptable, because if a user come on the website, put some articles in his cart, and come back after, I will have lost his cart...

Secondely, the customers are totally blocked with a bad request outside the website. The onl

[2021-06-10 14:06] bastienu commented on #24903
Moreover, we did not have this bugs on Prestashop 1.7.6.x.

So why do we have it on 1.7.7.4 ?

[2021-06-10 14:14] #24802 closed, assigned to kpodemski

[2021-06-10 14:22] khouloudbelguith commented on #24872
Hi @Progi1984,

My configuration:

- PHP 7.2.34-8
- mysql  Ver 8.0.22 for Linux on x86_64 (MySQL Community Server - GPL)

Thank you!

[2021-06-10 14:30] Progi1984 commented on #24872
For PHP, I have the same version. But not MySQL.

![image](https://user-images.githubusercontent.com/1533248/121542700-a57e5080-ca08-11eb-82ee-a78ced555423.png)

@Robin-Fischer-PS Tested once anymore with PHP 7.2 and not the problem.

[2021-06-10 14:38] atomiix commented on #24716
I just had a look at it and I don't think it will be easily doable with the current version of Symfony because the class [`XliffFileLoader`](https://github.com/symfony/translation/blob/3.4/Loader/XliffFileLoader.php) of the translation component of Symfony doesn't allow us to retrieve the original file attribute from an `.xlf`. This feature is available since [Symfony 4.3](https://github.com/symfo

[2021-06-10 15:03] nicolasricci commented on #16155
@matks thanks for the heads up. I am indeed a developer so I will see what can be done. I have just been surprised it's been tagged as "Minor" when it as an impact on order and total sales calculation.
Keep you posted if I make any progress on this.

[2021-06-10 15:34] hibatallahAouadni commented on #24901
Hello @okom3pom

About the first issue: I reproduce the issue:

![image](https://user-images.githubusercontent.com/23308427/121552091-77047380-ca10-11eb-8856-ab9ec86cdf21.png)

IMHO, I think it must display an error alert and the message should be saved.

About the second isssue, I think it's the expected behavior :sweat_smile:

![image](https://user-images.githubusercontent.com/23308427/121553951

[2021-06-10 15:43] okom3pom commented on #24901
Hello @hibatallahAouadni

For me it's the same https://github.com/PrestaShop/PrestaShop/issues/9574

Customer don't enter html only < or {

[2021-06-10 15:48] hibatallahAouadni commented on #24903
Hello @bastienu

Your issue is a duplicate of #12185. Despite our efforts, we were not able to reproduce your issue with the provided information.
You ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

We will close this issue.

Thanks!

[2021-06-10 15:48] #24903 closed, assigned to nobody

[2021-06-10 15:50] bastienu commented on #24903
_Despite our efforts, we were not able to reproduce your issue with the provided information._

You perfectly know the issue because it's a know issue, and one of your dev explained it. There is obviously an architecture problem here... and obviously, changes are required.

[2021-06-10 15:59] okom3pom commented on #24901
I add a PR to see the way

[2021-06-10 15:59] hibatallahAouadni commented on #24907
Hello @giasemis

I didn't manage to reproduce the issue, see the atatched screenshots below:

Desktop - 1st link:

![image](https://user-images.githubusercontent.com/23308427/121557268-e7ad8f00-ca14-11eb-9ebc-e4ac6c225fe3.png)

Desktop - 2nd link:

![image](https://user-images.githubusercontent.com/23308427/121557321-f3995100-ca14-11eb-8961-85cbecde1e27.png)

Mobile - 1st link:

![image](https://u

[2021-06-10 16:06] MatShir commented on #24716
The issue is moved to the 1.7.9 since the issue can only be fixed in this version.

[2021-06-10 16:07] Julievrz commented on #24471
Hi, to avoid creating a new string, I suggest using the following existing wording:

**'Note that this page is available in a single shop context only. Switch context to work on it.'** in **Admin.Payment.Notification**

The domain is not the good one, it should be in **Admin.Notifications.Info**: We can either change the domain during the next catalog push if possible (@jolelievre) or modify the d

[2021-06-10 16:11] hibatallahAouadni commented on #24906
Hello @Hlavtox

Thanks for the detailed report :clap: (nailed it like usually) :rocket:
Well, the Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you cre

[2021-06-10 16:14] MatShir commented on #24901
The order message is sent by mail and the message is displayed on the FO. So to avoid breaking the FO or the email, we blocked the possibility to send html tags.
But the merchants should be able to send any value (except tags) :)

[2021-06-10 16:29] hibatallahAouadni commented on #24499
Hello @01park

Thanks for your issue! Yes I reproduce the issue, but I think we never work on this.
So, ping @PrestaShop/product-team wdyt? is better to treat this issue as a bug or as an improvement? if as an improvement, I suggest we add this language select in Order page:

![image](https://user-images.githubusercontent.com/23308427/121562362-a8ce0800-ca19-11eb-87b9-927ff5cdc771.png)

Wdyt?

[2021-06-10 16:30] hibatallahAouadni commented on #24593
Hello @web-cooking-factory ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-10 16:30] #24593 closed, assigned to nobody

[2021-06-10 16:31] hibatallahAouadni commented on #24903
@bastienu thanks for your feedback!
Well, I'm not able to reproduce the issue with basic install :wink:
@matks wdyt?

[2021-06-10 16:41] okom3pom commented on #24901
A small minor label plz

https://twitter.com/Progi1984/status/1401803612829982726

:rofl:

[2021-06-10 16:50] jolelievre commented on #24471
If the PR for this issue is done quickly I think it could enter in the last modifications on the catalog yes. So we can change the namespace indeed.

[2021-06-10 16:53] hibatallahAouadni commented on #24901
@okom3pom done :smile:

[2021-06-10 16:55] okom3pom commented on #24901
@hibatallahAouadni thank you :)

[2021-06-10 17:17] prestaalba opened #24911 "BO - Orders - impossible to extend order grid query from module"
#### Describe the bug

When you try to modify Orders list query from a module using actionOrderGridQueryBuilderModifier hook, always gets an error by using the "New client" filter.

#### Expected behavior

A module could extend orders list query using actionOrderGridQueryBuilderModifier hook with no errors.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Develop a module to add a ne

[2021-06-10 18:44] prestaalba opened #24912 "BO - Logs - No way to know if an error persist after registered for the first time"
#### Describe the bug

When an error occurred it is registered on backoffice Logs list. But if the same error occur again, there is no way to notice it, because there is no data in the error register that indicates it.

#### Expected behavior

When an error occurred and this error is already registered on Log list, it should register a new record or update the update date from the exist one.

####

[2021-06-10 19:41] matks commented on #24903
What solution do _you_ propose? 😄

If you find that this issue is critical for you, and it's important to have it fixed ASAP, then you can _invest_ into having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try doing it on your own. The most important thing is to share that fix with everyone by submitting a Pull Request -- that's what the open source spiri

[2021-06-10 20:09] matks commented on #24911
That is a great and detailed bug report! Thank you

[2021-06-10 20:27] bastienu commented on #24903
Let me be clarify my point.

My point is not to say that _you_ have to fix this. My point is to say that you have the knowledge of the solution and the code, and that the solution proposed above is not a real solution, because it's unusable on final user side, or creating other big problems.

I'm not saying that not having persistent server-side sessions in PrestaShop is stupid. I'm saying that th

[2021-06-10 22:01] Daaaaad opened #24913 "Bug with ps_facetedsearch when PS_LAYERED_FULL_TREE set to NO"
#### Describe the bug

When the PS_LAYERED_FULL_TREE option is set to NO the products displayed using a ps_facetedsearch subcategory filter are not correct.

#### Expected behavior

I expect to have product filtered and only display products that are associated with the selected subcategory.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Set the PS_LAYERED_FULL_TREE option to NO in

[2021-06-10 22:44] hibatallahAouadni opened #24914 "[BO] - Multistore page is not responsive"
#### Describe the bug

Multistore page is not responsive.

#### Expected behavior

Multistore page should be responsive

#### Steps to Reproduce

Steps to reproduce the behavior:

1. **BO** > **CONFIGURE** > **Advanced Parameters** > **Multistore**
2. Try to minumise th screen size
3. See error (see screenshot n°1)
4. On **mobile** device
5. check the multistore table
6. See error > the **Main url

[2021-06-11 06:56] ShaimyWinda opened #24915 "ID column is too large"
#### Describe the bug

Hello,

I noticed not long ago that the ID column has been changed even though I haven't touched anything. Do you know why?

Thanks

**Screenshots**

![image](https://user-images.githubusercontent.com/25744417/121644042-d1deaf00-ca92-11eb-92fd-f639cc96b9cb.png)

#### Additional information

* PrestaShop version: 1.7.6 and 1.7.7
* PHP version: 5.6

[2021-06-11 07:09] Progi1984 commented on #24809
Fixed by @NeOMakinG in #24848

[2021-06-11 07:09] #24809 closed, assigned to NeOMakinG

[2021-06-11 07:17] kdegenkamp opened #24916 "Missing orders in Google analytics Module"
#### Describe the bug

I am getting constant incorrect google analytics transaction data issue from version 1.7.5 to till now. I used hotjar also to check it out that is also not receiving most number of orders confirmation page.

#### Expected behavior

All orders must be in google analytics.

#### Steps to Reproduce

**Screenshots**

![Screenshot 2021-06-11 124545](https://user-images.githubuser

[2021-06-11 07:19] hibatallahAouadni commented on #24915
Hello @ShaimyWinda

Could you please upgrade your PHP version to 7.2 cause PS1.7.7 is not compatible with PHP5.6 (see our system requirement).
I encountred this issue but after clearing cache from PrestaShop and navigator, it's gone :slightly_smiling_face:
So, please clear your cache.

Please check and feedback.
Thanks!

[2021-06-11 07:36] ShaimyWinda commented on #24915
Hello @hibatallahAouadni

I am not yet at version 1.7.7 of Prestashop but at 1.7.6.
I'm going to upgrade soon and at the same time, change the version of Php

I deleted the cache but nothing happens
Thanks!

[2021-06-11 07:47] florine2623 commented on #24913
Hello @Daaaaad ,

Using PS 1.7.6.3 and module Faceted Search v3.7.1 by PrestaShop, I can't reproduce your issue.
Please check my screenshot below :
_**Same config as you mentioned :**_
<img width="632" alt="Screenshot 2021-06-11 at 09 43 23" src="https://user-images.githubusercontent.com/16019289/121650337-c347c600-ca99-11eb-9f5d-38445dcfbd43.png">
**_The products in BO :_**
<img width="1183" alt=

[2021-06-11 07:49] khouloudbelguith commented on #24872
Hi @Progi1984,

After a discussion with @Robin-Fischer-PS, I manage to reproduce the issue after a rollback from PS1769 to PS1752.
https://drive.google.com/file/d/1EO8g5W-jxJYieOnVSVFKQKJe3z-tsOOC/view?usp=sharing

Thank you!

[2021-06-11 08:01] Progi1984 commented on #24872
We found the problem with @atomiix. It is linked to MySQL 8.0 and the `DROP VIEW`.

[2021-06-11 08:06] MatShir commented on #24915
The bug seems to be fixed in the 1.7.8. @hibatallahAouadni could you confirm ? :)

[2021-06-11 08:21] mparvazi opened #24917 "Wrong placement of currency symbol in RTL layout"
#### Describe the bug

The currency symbol in Persian (ریال) is placed without a space and to the right side of the price value.
This is related to the CLDR (localization/CLDR/core/common/main/fa.xml).

![Screenshot-120703](https://user-images.githubusercontent.com/85633460/121654942-7b359d00-cab3-11eb-9fd7-b8d3a6a86788.png)

![Screenshot-120704](https://user-images.githubusercontent.com/85633460/

[2021-06-11 09:19] florine2623 commented on #24917
Hello @mparvazi ,

I was able to reproduce the issue with PrestaShop version 1.7.7.x in BO and FO, so I can confirm that this behavior is indeed a bug.
**_FO :_**
<img width="1136" alt="Screenshot 2021-06-11 at 10 39 04" src="https://user-images.githubusercontent.com/16019289/121663457-b9788f80-caa6-11eb-927d-42de4df8b0cf.png">
**_BO Orders :_**
<img width="1176" alt="Screenshot 2021-06-11 at 10 4

[2021-06-11 09:23] #24917 closed, assigned to nobody

[2021-06-11 09:51] florine2623 commented on #24911
Hello @prestaalba ,

Can you provide an example module that does that use actionOrderGridQueryBuilderModifier hook ?
That will help us in the process of testing your issue.

Thanks!

[2021-06-11 10:11] florine2623 commented on #24916
Hello @kdegenkamp ,

What version of Google Analytics are you using ,

Thanks!

[2021-06-11 10:40] hibatallahAouadni commented on #24915
Hello,

@MatShir I didn't manage to reproduce the issue neither with 1.7.6 nor 1.7.7 nor 1.7.8 :disappointed:
@Robin-Fischer-PS reproduced it once but when he cleared cache, the issue is gone
The only one still reproduce the issue is @boubkerbribri
So @boubkerbribri could you please confirm if you still encounter this issue on 1.7.8

Thanks in advance :pray:

[2021-06-11 10:43] kdegenkamp commented on #24916
Google analytics module version is 4.0.0 and Google analytics version 3.

[2021-06-11 12:04] bencheva-v commented on #10908
Hi, guys, I found an answer of this bug after many hours of debugging. Just change the function parsingSql in classes/RequestSql.php with prestashop 1.6 function parserSQL from classes/Tools of course with override and everything works.

Change:
` public function parsingSql($sql)
    {
        return Tools::parserSQL($sql);
    }`

    wiht:
    `public function parsingSql($sql)
    {
	   if (strl

[2021-06-11 12:08] boubkerbribri commented on #24915
I confirm that I still have the issue, but it seems that it's a Chrome problem.
Chrome version: 91.0.4472.77

[2021-06-11 12:31] hibatallahAouadni commented on #24915
@boubkerbribri indeed it's a Chrome regression :sweat_smile:
I didn't encounter the issue cause my Chrome version is 89.0.4389.82
Changing the issue status to TBS as @NeOMakinG still investigate it :wink:

[2021-06-11 12:56] florine2623 commented on #24841
Hello @n-e-r-u ,

I can't reproduce your issue in PS 1.7.6.x using module ps_facetedsearch v3.7.1.
**In customer account France :**
<img width="351" alt="Screenshot 2021-06-11 at 14 48 13" src="https://user-images.githubusercontent.com/16019289/121689278-b42a3d80-cac4-11eb-80a6-820e3cb10614.png">
<img width="1153" alt="Screenshot 2021-06-11 at 14 49 22" src="https://user-images.githubusercontent.c

[2021-06-11 13:49] thomasnavarro opened #24922 "HTML tag not closed properly in blockwishlist module"
#### Describe the bug
Hi 👋
The <a> tag is not closed properly in the /views/templates/hook/account/myaccount-block.tpl template

#### Expected behavior

Closed the tag properly with `</a>`

#### Steps to reproduce

Steps to reproduce the behavior:

1. Go to '/views/templates/hook/account/myaccount-block.tpl'.
2. See the error line 24

![Capture d’écran 2021-06-11 à 15 46 43](https://user-images.

[2021-06-11 13:51] tswfi opened #24923 "Previewing email template does not call hookActionGetExtraMailTemplateVars"
#### Describe the bug

While doing some email stuff I of course needed a fast way to test what I'm doing.
I implemented `hookActionListMailThemes` that extends `order_conf` email template and `hookActionGetExtraMailTemplateVars` to fill my placeholder in the template.

Now when I use the design -> email -> preview functionality to see how the template looks like only my injected placeholder is vis

[2021-06-11 13:52] tswfi commented on #24923
oh, using the "send test email" in the preview does work correctly.

[2021-06-11 13:59] LauraMingues commented on #22862
Hi @bastienu,

I have exactly the same error. Did you find any solution ?

Thank you

[2021-06-11 14:03] Progi1984 commented on #23937
Fixed in #24469 by @matthieu-rolland

[2021-06-11 14:03] #23937 closed, assigned to matthieu-rolland

[2021-06-11 14:15] mparvazi opened #24925 "[BO] Invalid direction of checkbox marker in RTL"
Hello,

#### Describe the bug

Checkbox marker has invalid direction in BO with **RTL** Layout

#### Expected behavior

.../adminxxx/themes/new-theme/public/theme_rtl.css (Line: 521)
Need to change (border-left-style: none) to (border-right-style: none)

#### Steps to Reproduce

BO: Improve > international > localization

![Screenshot 2021-06-11 at 18-40-33 بومی سازی • NEO](https://user-images.git

[2021-06-11 14:15] matks commented on #24068
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24892

[2021-06-11 14:15] #24068 closed, assigned to matthieu-rolland

[2021-06-11 14:26] prestaalba commented on #24911
Hello @florine2623 , I cannot provide a module but I already provided all the necessary code and examples for testing. Regards

[2021-06-11 14:28] mparvazi opened #24926 "[BO] Invalid product footer position in RTL"
Hello,

#### Describe the bug

Position of product footer is not fixed correctly for **RTL** layout in BO.

#### Expected behavior

.../adminxxx/themes/new-theme/public/product.css (Line: 664)
Need to change (right: 0; left: 13.13rem) to  (left: 0; right: 13.13rem)

#### Steps to Reproduce

1. Go to Catalog
2. Add new product

![Screenshot 2021-06-11 184752](https://user-images.githubusercontent.c

[2021-06-11 14:42] nossanhendel opened #24928 "Bug by Category rule discount saved to home category instead of chosen category"
#### Describe the bug**

when i make a discount of 2 different categories and save them it works well. But if I open the rule of the discount instead of the categories I chose the role change to the home category that this is the first one in the list, and when I save again it really makes a discount on the whole store that on home category.
by brand CONDITIONS is the same problem
#### Expected be

[2021-06-11 14:42] atomiix commented on #24561
@matks I don't think so, I didn't change the way errors are reported, it should still be only a warning

[2021-06-11 14:50] florine2623 commented on #24925
Hello @mparvazi ,

I was able to reproduce the issue with PrestaShop version 1.7.8.x, so I can confirm that this behavior is indeed a bug.
<img width="432" alt="Screenshot 2021-06-11 at 16 50 12" src="https://user-images.githubusercontent.com/16019289/121705606-19862a80-cad5-11eb-8317-78e38d1a5dc6.png">

Please be aware that due to the high number of reported issues, some bugs might take a very lo

[2021-06-11 14:56] marionf opened #24929 ""Product available with different options" should be renamed and displayed in product listings"
#### Is your feature request related to a problem?

Currently the "Product available with different options" message is displayed on FO product pages when the option "Display unavailable attributes on the product page" is enabled in BO > product settings page and when a combination that can't be ordered is selected in FO.

As a visitor, I want to know easily if other options are available when I a

[2021-06-11 14:56] florine2623 commented on #24926
Hello @mparvazi ,

I was able to reproduce the issue with PrestaShop version 1.7.8.x, so I can confirm that this behavior is indeed a bug.

<img width="1418" alt="Screenshot 2021-06-11 at 16 53 31" src="https://user-images.githubusercontent.com/16019289/121706412-e42e0c80-cad5-11eb-8430-3fc0fe1c0f18.png">
Should be like this :
<img width="1116" alt="Screenshot 2021-06-11 at 16 55 38" src="https://

[2021-06-11 15:00] florine2623 commented on #24922
Hello,

I was able to reproduce the issue with module blockwishlist v2.0.1, so I can confirm that this behavior is indeed a bug.
https://github.com/PrestaShop/blockwishlist/releases/tag/v2.0.1
<img width="489" alt="Screenshot 2021-06-11 at 16 59 27" src="https://user-images.githubusercontent.com/16019289/121707098-86e68b00-cad6-11eb-9f72-8b7c17ab0491.png">

Please be aware that due to the high num

[2021-06-11 15:05] mparvazi commented on #24917
Hello @florine2623 ,
Ty for response,

I watched the video in #22541 and that was very useful.

Btw i could not find settings for currency symbol to change the pattern of currency.

![Screenshot 2021-06-11 192057](https://user-images.githubusercontent.com/85633460/121705903-5dcff580-caea-11eb-8dc0-c635c4b680a7.png)

I changed the pattern manually from database, and that works (ps_currency_lang)

!

[2021-06-11 15:09] florine2623 commented on #24928
Hello @nossanhendel ,

Could you follow the Bug template and share the steps to reproduce your bug please ?

Thanks!

[2021-06-11 15:13] florine2623 commented on #24827
Hello @maofree ,

I was able to reproduce the issue with PrestaShop version 1.7.7.4, even after clearing the cache, so I can confirm that this behavior is indeed a bug.
**_In BO :_**
<img width="257" alt="Screenshot 2021-06-11 at 15 46 05" src="https://user-images.githubusercontent.com/16019289/121708830-3c660e00-cad8-11eb-8839-ce0c927a9c38.png">
**_In FO :_**
<img width="1161" alt="Screenshot 202

[2021-06-11 15:16] florine2623 commented on #24923
Hello @tswfi ,

I think this is more an Improvement than a bug.
Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you cr

[2021-06-11 15:26] #24764 closed, assigned to nobody

[2021-06-11 16:04] nossanhendel commented on #24928
Catalog > Discounts >  Catalog Price Rules > CONDITION GROUP
Any category I will choose will be saved and will work.
But when I will open it again to edit all conditions category will be home and if I save it all site will get the discount.
I have akira theme

[2021-06-11 16:36] MatShir commented on #22464
Hi @hasager1,

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider hiring a specialist to help you. If you manage to get the problem fixed, then please contribute the fix back to the project as a Pull

[2021-06-11 18:33] hibatallahAouadni commented on #24912
Hello @prestaalba

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #24706.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-06-11 18:33] #24912 closed, assigned to nobody

[2021-06-11 18:34] hibatallahAouadni commented on #24912
Duplicate of #24706

[2021-06-11 21:41] quentic commented on #22215
I had to add this to the SQL updates to be able to display new orders from old (prior to migration) customers :

`update ps_connections_source set keywords = '' where keywords is null;`

[2021-06-12 00:23] arouiadib commented on #9811
Apart from this paragraph, I agree with all what was said in your summary @matks.

Could you please explain more just this sentence?

[2021-06-12 00:32] kdegenkamp commented on #24916
with other client i tried hotjar and sometimes customers visit orderconfirmation page but orderconfirmation hook is not called.

[2021-06-12 11:49] eveneme opened #24930 "HTTP ERROR 500 clear cache"
1. Go to 'Admin Panel clear cache'
2. Click on 'clear cache and error 500'
the problem shows up on every version of php 7.1 7.2 7.3

* PrestaShop version: 1.7.7.4
* PHP version: 7.2.26

[2021-06-12 11:54] eveneme opened #24931 "PrestaShop lots of mistakes"
I have a lot of errors on this server configuration, presta is very unstable and throws errors every now and then.

Screenshot:
https://www7.zippyshare.com/v/FkrEYbS9/file.html
https://www7.zippyshare.com/v/712KeNQl/file.html
https://www7.zippyshare.com/v/nsApuDLS/file.html

* PrestaShop version: 1.7.7.4
* PHP version: 7.2.26
* Server: Linux #1 SMP Debian 4.19.181-1 (2021-03-19) x86_64
* Apache

[2021-06-12 12:39] arouiadib commented on #24931
Not sure about the "throws errors every now and then."

Did you tried to disable ps_metrics? this issue seems related to cache of this module.

what about deleting /var/cache?

[2021-06-12 15:12] jpcoke commented on #24915
Hi
I have PHP: 7.2.34, and in both 1.7.7.3 and 1.7.7.4 have the same issue in chrome.

I´ve just updated to Chrome  91.0.4472.101, but remains the same...

[2021-06-12 16:11] eveneme commented on #24931
i tried, problem occurs later with other things.

[2021-06-12 16:18] kpodemski commented on #24931
All these issues have been fixed in latest release of ps_metrics, not sure if it's released to public yet but as for now you can just change `modules/ps_metrics` to `modules/ps_metrics_OFF` to fix it

[2021-06-12 16:28] eveneme commented on #24931
Ok a co z cache? Przy czyszczeniu cache w panelu admina wywala blad 500,
hosting kladzie rece mowi ze to wina prestashop i sama presta do tego nie
doszla

sob., 12 cze 2021, 18:18 użytkownik Krystian Podemski <
***@***.***> napisał:

[2021-06-12 16:36] eveneme opened #24934 "ContextErrorException mass of bugs"
1. a lot of errors with the debug mode on after entering various products and using the admin panel.

screenshoot pdf
https://www119.zippyshare.com/v/AA5Xrsqi/file.html
https://www119.zippyshare.com/v/fwkD566P/file.html
https://www119.zippyshare.com/v/hBo6OC0c/file.html

* PrestaShop version: 1.7.7.4
* PHP version: 7.1 7.2. 7.3
* Apache

[2021-06-12 20:06] maestrobo opened #24935 "Product Wrong location in PDF delivery"
If you display the location value when using OrderInvoice (when printing a PDF), the location got a wrong value.

To reproduce the issue, just set a location value to a product then click the PDF delivery, the location value is either wrong or missing.

Version : PS 1.7.7.4

In the class Order, it seems that there is already a fix with the code product['location']=.....
But in "Order Invoice" clas

[2021-06-12 20:20] mrAKAR opened #24937 "? symbols are being shown in generated invoices for Armenian language"
#### Describe the bug

When you use Armenian language in BO and generate an invoice for order you get '?' in place of letters.

#### Expected behavior

There must be correct letters used in invoice during generation process.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add Armenia language
2. Switch BO language to Armenian
3. Open orders page and generate an invoice for any order

[2021-06-12 21:14] Gipielle opened #24938 "Problem with discounts in price catalog rules:"
Problem with discounts in price catalog rules:

By applying two discounts on a product using price rules catalog, for example I apply a 30% discount on the entire catalog, but I want to apply a more discount in a given category for example -50%, 50% discount is ignored and therefore not Managed correctly, it is always considered the catalog discount (-30%). Otherwise if I apply a discount for a si

[2021-06-12 21:16] Gipielle commented on #24937
This bug is also present with Russian and Greek, with backoffice in Italian or english

[2021-06-12 23:26] i-pity-the-fool opened #24939 "Prestashop 1.7.7.4 - Stripe Refunds not working using Standard Refund or Partial Refund Buttons + array of workaround issues"
#### Describe the bug

Refunds processes and journeys contain a multitude of issues when we are using Stripe, however majority of the issues would appear to be Prestashop side rather than stripe.

1) Within an order, we have 2 buttons, Standard Refund and Partial Refund. When these buttons are used, nothing happens on stripe at all. This is very misleading as the records that are written show that

[2021-06-13 09:14] arouiadib commented on #15224
Thanks @Hlavtox @khouloudbelguith @marionf  @prestaforum .

The issue doesn't seem reproducible under develop, i.e, no 500 error and cart is showing correctly without the gift product.
However, the voucher is still displayed (with -0.00$). Is it the correct behavior in this case? Do we display also zero value vouchers?

![Screenshot from 2021-06-13 09-03-57](https://user-images.githubusercontent.c

[2021-06-13 09:17] fraizor commented on #24342
When will be the release ?

[2021-06-13 19:50] xzessmedia commented on #14447
same problem here using the docker image in a kubernetes environment, starting the container, then installing it, always stuck at 23 %

[2021-06-13 20:23] 01park commented on #24499
Hi,

I would like it to be just like in previous PS version, that the language is selected automatic based on customers language. Adding is box is an option, but the you would still need to know the language the customer speaks.

[2021-06-13 20:33] 01park opened #24942 "id stock available not creating id for all store in multishop and not deleting info when deleting product"
#### Describe the bug / request

We have recently migrated from 1.7.6 to 1.7.7 and I noticed that during this migration that for our multistore not every products has an id stock available. This mostly is for products that we entered back in 2013 - 2020 in older PrestaShop version.

My expectation was that if you are in All shops mode and save a product, that PrestaShop would automatically create