[2020-07-01 16:44] #20020 closed, assigned to nobody

[2020-07-01 16:44] apero-zero commented on #19998
I've already contacted the theme's developer but they told me that the errors comes from your classic theme...

[2020-07-01 16:56] didi-2018 commented on #20019
@LouiseBonnard no it is only related to the cart rule. If that rule is deactivated everything is fine. I now added a discount code and everything works. But it should also work without a discount code.

Could it be in relation that I change the german tax today from 19% to 16%? Maybe there is now a problem with the ps_legalcompliance?

[2020-07-01 17:12] eternoendless commented on #19959
## 🚧 🚥 STATUS UPDATE

A second build has been created and sent for QA validation.

[2020-07-01 17:47] Rolige opened #20021 "Catalog Price Rule without condition group doesn't appear in the product editor"
#### Describe the bug

When a Catalog Price Rule is created without condition group, this rule is not listed in the Price tab in the product editor.

#### Expected behavior

Display the Catalog Price Rule created.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a Catalog Price Rule without any condition group
2. Go to the product list and edit some product
3. The Catalog Pric

[2020-07-01 18:18] Rolige opened #20022 "In Multistore, product attributes aren't displayed when created for a specific shop"
#### Describe the bug

In the product editor, within a multi-store with a shop context selected, it's not possible to use attributes that were created specifically for a specific store.

#### Expected behavior

Show the product attributes associated to the shop in context.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. In a multi-store, create attributes and assign different shops

[2020-07-01 18:56] Rolige opened #20023 "Same name carriers don't show in Shipping > Preferences > Default carrier"
#### Describe the bug

There are missing carriers in the list of "**Shipping > Preferences > Carrier options > Default carrier**", the problem occurs with carriers with the same name.

#### Expected behavior

Display the complete list of carriers availables.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create more than one carrier with the same name
2. In the carrier selection in

[2020-07-01 20:36] iqit-commerce commented on #19691
Hello @TristanLDD and @PierreRambaud . Were you able to reproduce this bug?

[2020-07-02 02:39] HartLarsson commented on #16505
Any news? GDPR is mandatory in Europe

[2020-07-02 02:45] TDC-Cyrille commented on #20009
Dear Louise,

Thank you very much for your prompt reply!

Unfortunately I do not think that this is the same issue. To make it clearer:

With my above issue, the problem is that the amount passed to the payment modules is incorrect. For instance, if you have a customer eligible for a voucher at the last stage of the checkout and the voucher expires whilst that customer is still on the checkout pag

[2020-07-02 03:12] smithikakart opened #20024 "context error exception"
(1/1) ContextErrorExceptionNotice: Undefined index: product
--
in ps_crossselling.php line 202
at Ps_Crossselling->getProductIds('displayCart', array('smarty' => object(SmartyDevTemplate), 'cookie' => object(Cookie), 'cart' => object(Cart)))in ps_crossselling.php line 225
at Ps_Crossselling->renderWidget('displayCart', array('smarty' => object(SmartyDevTemplate), 'cookie' => object(Cookie), 'cart'

[2020-07-02 07:07] florine2623 commented on #20024
Hi @smithikakart ,
I will close your issue. You need to give more detail about the error you're having.
Once you gather all information, you can open a new issue.

[2020-07-02 07:07] #20024 closed, assigned to nobody

[2020-07-02 07:55] florine2623 commented on #20023
Hi @Rolige ,
Thanks for the report.
I did manage to reproduce the issue on PS 1.7.7.0.
Thank you for the PR, I will add this tp the debug roadmap !

[2020-07-02 08:20] LouiseBonnard commented on #20019
@didi-2018, thanks for your answer, I'm unfortunately still not able to reproduce it... @PrestaShop/prestashop-core-developers, any idea of where this issue might come from when reading the error screenshot?

[2020-07-02 08:31] Dakror commented on #14119
https://github.com/PrestaShop/PrestaShop/blob/b223331f5d4df42babbdd1fabbaa0a4457c0f326/classes/cache/Cache.php#L515

This is the source of the issue.

[2020-07-02 08:42] Dakror commented on #14119
@khouloudbelguith please reopen and fix.

[2020-07-02 08:44] florine2623 commented on #20022
Hi @Rolige ,
Thanks for the report, I managed to reproduce the issue in multistore PS 1.7.7.0 and PS 1.7.6.5.
Thank you for your PR, I will add this to the debug roadmap !

[2020-07-02 08:45] rdy4ever commented on #19998
Your validation errors are related to Review snippets. Classic theme doesn't come with review functionality by default, so you must be using a module to implement reviews (either the [free one from Prestashop](https://github.com/PrestaShop/productcomments) or another one from addons). The problem is caused then by the review module you are using.
However, these validation errors shouldn't affect y

[2020-07-02 08:46] LouiseBonnard commented on #20009
Hi @TDC-Cyrille, thanks a lot for your explanation - and the great drawing skills, far better than mine! If it is a bug from the core, I'll add it to the debug roadmap. If it is related to third-party payment modules, I guess you'll have to contact them directly.

@PrestaShop/prestashop-core-developers, is this cached cart object be fixed in the code? It might be connected to this code line `$cart

[2020-07-02 09:11] kmorgen commented on #9726
This appears to still be a problems in PS 1.7.6.5

Customer messages in BO with Nordic letters (Æ Ø Å) do not appear correct. Works fine in PS 1.6

[2020-07-02 09:20] florine2623 commented on #19927
Hi @KwabeaAtakora ,
Did it resolve the issue ?

[2020-07-02 09:26] SimonGrn commented on #19998
Thank you @rdy4ever and @apero-zero,

since the issues are not related to Classic Theme or the Core, we advise you to follow @rdy4ever 's suggestion and either contact the developer of the module or your theme developer with the information above.

I'll close this ticket, but note that you can always create a new one if further information pops up. Thank you!

[2020-07-02 09:26] #19998 closed, assigned to nobody

[2020-07-02 09:32] florine2623 commented on #19935
That's the point of this option.
If you check "Compatibility with other cart rules" it opens a board where you can choose the cart rules that can be combined or not.

[2020-07-02 09:33] KwabeaAtakora commented on #19927
No it didnt

[2020-07-02 09:39] florine2623 commented on #19927
Delete your cache and try again

[2020-07-02 09:40] Max84 opened #20025 "Updating order state throw webservice add a payment line"
#### Describe the bug

Updating order state throw webservice add a new payment line.

#### Expected behavior

It's should add a new payment line because only order state change, it's a new order history only.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create an order and add one payment line. Take care to not generate invoice.
2. Change order's state throw webservice (my php sc

[2020-07-02 09:45] KwabeaAtakora commented on #19927
Done that

[2020-07-02 10:03] Junebyun commented on #19636
Hello, @juraj1000, indeed you are right. I tried to generate other invoices again and for some reason I have "Size : M- Color : Black"

Solution needed: Product ABC (Size: X-M, Color: blue-green)

[2020-07-02 10:14] florine2623 commented on #20025
Hi @Max84 ,
This page has totally been remodeled in PS 1.7.7.0, no fix will be done on PS 1.7.6 (apart from security bugs).
After following your steps, in PS 1.7.7.0, this is the result :
1. Created an order and add one payment line. No invoice generated
2. Change order's state that generates invoice : payment accepted
![Capture d’écran 2020-07-02 à 12 12 40](https://user-images.githubuserconten

[2020-07-02 10:34] florine2623 commented on #20021
Hi @Rolige ,
Thanks for your report !
I did manage to reproduce the issue in PS 1.7.7.0 and PS 1.7.6.5.
I will add this to our debug roadmap, please stay tuned.

[2020-07-02 10:36] juraj1000 commented on #19636
Hello @Junebyun,
I think, any configuration could solve this requirement much better than hardcoding, e.g. see my previous comment with more text lines

[2020-07-02 11:04] jbenezech commented on #11596
I'm also using doctrine to manage my own module entities (specific to 1 site) and wonder if modifying the app config.yml is an ok thing to do.
Could the file be overriden by a prestashop upgrade ?

[2020-07-02 11:34] didi-2018 commented on #20019
@LouiseBonnard it must be a cache problem. After deleting a few times the PS cache I can open a product page in FO but putting an item into basket is not possible. 🤷‍♀️ Chrome DevTools show a 500 Error with the cart

[2020-07-02 11:41] dngraphisme commented on #18599
Hello,

I have a similar issue on PS 1.7.6.1

I have an error 500 with each regeneration of images on a large catalog.... ( Database crash ) and does anyone have an issue so far ?

Thank you

[2020-07-02 11:46] didi-2018 commented on #20019
@LouiseBonnard this is what I have in dev.log file:

php.INFO: User Deprecated: AdminMarketing is a deprecated tab since version 1.7.0 and "Default" will be removed in 1.7.1.. Upgrade module using the docs: http://build.prestashop.com/news/how-we-reorganized-main-menu-prestashop-1.7/. {"exception":"[object] (ErrorException(code: 0): User Deprecated: AdminMarketing is a deprecated tab since version

[2020-07-02 11:58] Eva-F opened #20026 "Ajax AddressForm including validation"
I need to create/update addresses also via Ajax. Unfortunatelly I didn't find the options to return via Ajax the address form including validation errors.( maybe this options exists and I don't see it)

if I am right, I suggest to extend  **displayAjaxAddressForm** function  from **controllers/front/AddressController.php**
[code]

[2020-07-02 12:06] psyray commented on #11596
Hi,
I have myself modified the app/config.yml to add my doctrine config, but it was before this PR was merged https://github.com/PrestaShop/PrestaShop/pull/12564
Now you can use Doctrine directly by configuring it in your module.
Look at this docs : https://devdocs.prestashop.com/1.7/modules/concepts/doctrine/
And this module for a working use case : https://github.com/PrestaShop/productcomments/

[2020-07-02 12:11] florine2623 commented on #20026
Hi @Eva-F ,
Thanks for the suggestion.
What page(s) are you talking about ?
Could you send screenshots of what you would like to see ?
Thanks!

[2020-07-02 12:13] TVBZ opened #20027 "Custom feature value does not save in multilanguage shop"
#### Describe the bug

A product custom feature value is not saved in backoffice when there are multiple languages installed AND the default language is NOT english.

When only 1 language is installed (any language) and set as default, it works fine.
When multiple languages are installed and enabled, and English is set as default, it works fine.

#### Expected behavior

Custom feature value should

[2020-07-02 12:28] NKoonen commented on #20027
To make the bug even more complete. the logged in employee should have the same language as the shop's default language

[2020-07-02 12:30] Max84 opened #20029 "[1.7.7 beta 1] Updating order state throw webservice is KO"
#### Describe the bug

Some error append when you try to update order's state throw webservice.

#### Expected behavior

The order state must be updated. It doesn't updated now.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Just run attached file
2. See error: on backend, the order state isn't updated. PHP error log gives this:

[Thu Jul 02 14:27:41.819053 2020] [php7:notice] [pid

[2020-07-02 12:31] Max84 commented on #20029
The php test file:
[add_order_state_ps15.zip](https://github.com/PrestaShop/PrestaShop/files/4864210/add_order_state_ps15.zip)

[2020-07-02 12:35] Eva-F commented on #20026
It is FO page of my module (that calculates materials list based on certain configuration)

[2020-07-02 12:43] florine2623 commented on #19608
Hi @PrestaShop/prestashop-core-developers ,
Could you take a look at @demperador 's issue regarding the update of the cart rules via webservices please ?
Thanks!

[2020-07-02 12:56] dorianelucas opened #20030 "SEO not updating when filling product, meta description disappearing after page refresh"
#### Describe the bug

Hello,
I'm updating product and SEO description title + meta description. I filled them in FR and GB, save it but when I go back to the page later on, all infos disappeared ! I tried on Chrome and Firefox (sometimes that helps), but infos don't stay. What can I do?

#### Expected behavior

I 'd the infos I just filled and saved to stay on the SEO description page.

#### Step

[2020-07-02 13:03] TVBZ opened #20031 "Image not rendering for multilanguage product"
#### Describe the bug

In a multilanguage site, when adding a product in only default language, the title is copied to other languages.
But the images for the product don't render in front end, because the rendered <img> source has no name.
For example: `<img src="mysite.com/33-home_default/.jpg">`

The problem does not excist when the product title is entered in all languages.
It's a problem of t

[2020-07-02 13:21] florine2623 commented on #20027
Hi @TVBZ ,
First you need to downgrade your PHP version. You can have a full overview of PrestaShop system requirement here :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Just a reminder that PS 1.7.7. will be out soon, no fix will be done on PS 1.7.6.5 (apart from security bugs).

I manage to reproduce your issue in PS 1.7.6.5 :
![Capture d’écran 2020-07-02 à 15

[2020-07-02 13:27] florine2623 commented on #20026
Hi @PrestaShop/prestashop-core-developers ,
Do you think that it is possible to do so ?
`extend displayAjaxAddressForm function from controllers/front/AddressController.php`
Thanks!

[2020-07-02 13:28] florine2623 commented on #19927
I can't reproduce the issue. I will close this issue. You might need to contact the support team here :
https://www.prestashop.com/en/support
Or a PrestaShop Agency :
https://www.prestashop.com/en/experts

[2020-07-02 13:28] #19927 closed, assigned to nobody

[2020-07-02 13:34] florine2623 commented on #20031
Hi @TVBZ ,
I cant' reproduce your issue in my PS 1.7.6.5 shop.
Please make sure you follow PrestaShop's system requirements : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thanks!

[2020-07-02 13:36] Eva-F commented on #20026
something like that:
![ps12](https://user-images.githubusercontent.com/3242659/86365368-b7dcff80-bc79-11ea-8609-393734bdfb3f.png)

[2020-07-02 13:43] didi-2018 commented on #20019
I could find out what it causes! It is the Exit PopUp Module from Knowband I bought. I will contact the developer. Sorry for having stolen your time 🤦‍♀️. I will close this issue now.

[2020-07-02 13:43] #20019 closed, assigned to nobody

[2020-07-02 13:55] florine2623 commented on #20030
Hi @dorianelucas ,
Please change your admin folder name. This is a public space, let's be safe.
I can't reproduce your issue on PS 1.7.2.4.
Please open the console and check for errors. Right click > Inspect > Console
Or check your log file if there are any fatal errors.
Thanks!

[2020-07-02 14:04] dorianelucas commented on #20030
Hi,
Thank you for your reply. I checked the Console and this is what appears :
![image](https://user-images.githubusercontent.com/67743878/86368669-b7defe80-bc7d-11ea-9b1a-2dcba5870124.png)

[2020-07-02 14:22] Hlavtox opened #20034 "Duplicated SQL queries and low performance"
Hi to everyone,

I think we should put some effort to speeding PrestaShop a bit. It's too long 1 second time to first byte. Very hard to squeeze into Google's rules that are getting tighter and tighter. :(

Take a look on my example category with profling enabled. I have nothing in cart, few cart rules active and it takes 615 queries and to display a category.
https://eshop-franke.cz/516-odpadkove

[2020-07-02 14:23] florine2623 commented on #20030
Enable debug mode and re-do the steps and see if errors appear

[2020-07-02 14:26] dorianelucas commented on #20030
Ok, where do I enable "debug mode"? on Google Chrome or Prestashop?

[2020-07-02 14:27] florine2623 commented on #20030
On PrestaShop, Advanced Parameters > Performances

[2020-07-02 14:47] marionf commented on #19999
Hello @PululuK

Your issue seems to be a duplicate of #9686 and a PR had been submited to fix this issue: #13217
Could you confirm if your issue is well a duplicate ?

[2020-07-02 14:55] pixelicous commented on #9650
Same here, new installation 1.7.6.5. Different than what PR #16872 suggests, i get this not only to guest users who became registered users, also to just any guest user

[2020-07-02 15:00] florine2623 commented on #20034
Hi @Hlavtox ,
Thanks for the report, I will ping out dev team on your topic !
Please stay tuned.

[2020-07-02 15:01] florine2623 commented on #20034
Hi @PrestaShop/prestashop-core-developers ,
@Hlavtox noticed some repeating SQL queries that slow down PrestaShop, could you take a look into it ?
Thanks!

[2020-07-02 15:02] florine2623 commented on #20029
Hi @Max84 ,
What do you mean by "just run the attached file" ?
Thanks!

[2020-07-02 15:05] NoZTurn opened #20035 "Improvement - being able to replace an existing image in product sheet page"
#### Is your feature request related to a problem?

you can't replace an exist image with another one. if you want to do so now, you have an upload a new one and delete the old, the associate the new image to its combination.

#### Describe the solution you'd like

I add a new suggestion.

Now, if you want to do replace an image, you have to delete an image and then upload a new one, then associat

[2020-07-02 15:11] TVBZ commented on #20031
Hi @florine2623,

My system requirements are up to par. But maybe my steps to reproduce were not detailed enough. I modified my original post.

The image renders fine in default language (English), but in other language (in my case Dutch) the image is not rendered because the img src is calling the unnamed image.

[2020-07-02 15:13] TVBZ commented on #20031
For now I have a simple workaround: I copy my product title to secondary language before save.

[2020-07-02 15:19] TVBZ opened #20036 "Facetted search not showing feature custom values"
#### Describe the bug

Using the facetted search module on product listing I realised not all my features where in the facetted search.
After inspecting I can see it's the custom values that are missing. All predefined values are there.

#### Expected behavior

I would expect custom values to be listed as well, and also to be compared with predefined values to avoid duplicates.
For example I have

[2020-07-02 15:23] TVBZ commented on #20027
Hi @florine2623. Thanks!

Just downgraded php to 7.2. Sadly the problem persists.

[2020-07-02 15:24] florine2623 commented on #19954
Indeed the issue you mentioned is reproducible in PS 1.7.7.0, I added 1.7.7.0 label.
After clicking twice on clear cache, I followed the steps in your first message, but I don't have any error coming up regarding the currency.

[2020-07-02 15:27] Max84 commented on #20029
Hi @florine2623

This php script does an order's history update throw webservice. It reproduces a webservice call and it reproduces the bug.
You can run it with php cli or onto a webserver.

Best regards,

[2020-07-02 15:30] Hlavtox commented on #19954
@florine2623 It's normal you can't reproduce it. Even for me, it happens only sometimes, maybe in half the times.

[2020-07-02 15:31] florine2623 commented on #20035
Hi @NoZTurn ,
Thanks for your request.
Could you provide screenshots of what you would like to see on PrestaShop ?
Maybe something like @rblaurin did ?
Thanks!

[2020-07-02 15:43] dorianelucas commented on #20030
Ok I did, but it still doesn't stay when I refresh
![image](https://user-images.githubusercontent.com/67743878/86379680-6e95ab80-bc8b-11ea-9374-2a4fbf75e5fc.png)

Can I  do something else?

[2020-07-02 15:46] matks commented on #19959
## 🚀 ✅ STATUS UPDATE

1.7.6.6 is released !
- on GitHub
- on prestashop.com
- the release note is published https://build.prestashop.com/news/prestashop-1-7-6-6-maintenance-release/

[2020-07-02 15:59] florine2623 commented on #20036
Hi @TVBZ ,
Thanks for your request.
I will ping out product team and they will decide the outcome of the issue !
Please stay tuned.

[2020-07-02 16:03] florine2623 commented on #20036
Hi @PrestaShop/prestashop-product-team ,
@TVBZ has an improvement to suggest.

In product editing page, when adding a customized value feature, it would be great to see that value in the faceted search.
Version of Faceted Search used : 3.5.0
![Capture d’écran 2020-07-02 à 18 00 09](https://user-images.githubusercontent.com/16019289/86382378-0bf1df00-bc8e-11ea-9890-7a147847d789.png)
![Capture d’e

[2020-07-02 16:06] MatShir commented on #20010
For the first error message @jolelievre do you think we could have 2 errors:
- one when the user add when there is no invoice (_This product is already in your order, please edit the quantity instead._)
- one when the user add when there are some invoices ((_This product is already in this invoice #number, please edit the quantity instead._)
@Junebyun @jolelievre  WDYT?

[2020-07-02 16:06] florine2623 commented on #20030
Check your log file in /var/log to check for fatal errors
Do not forget to change your admin folder.

[2020-07-02 16:08] florine2623 commented on #19954
Hi @PrestaShop/prestashop-core-developers ,
@Hlavtox is having an issue that only happens sometimes. I can't reproduce it.
Maybe you are aware of errors in logs when changing the decimal numbers of a currency ?
Thanks!

[2020-07-02 16:16] thepixelabs opened #20037 "1.7.6.6 shows customer ressurance text everywhere on homepage"
#### Describe the bug

After upgrade from 1.7.6.5 to 1.7.6.6 using manual steps at:
https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/
Downloaded the file, extracted, removed "img" and "override" folder (p.s, there is a typo in the guide, it's written in plural), removed vendor folder from existing shop, copied files and chowned to www-data, used the URL to upgrade database, log

[2020-07-02 16:21] MatShir opened #20038 "Migrate "Catalog > Attributes & Features > Add new / edit attribut value" page"
Part of Symfony migration project
type: page

## Check-List (copied from #13989)

### App layer
#### Controller / routing
- [ ] All controller actions are migrated and protected with `@AdminSecurity` annotations when eligible and `@DemoRestricted` annotations when eligible
- [ ] All links targeting this page are updated: either using _legacy_link or updating the code
- [ ] The new SF routes have `

[2020-07-02 16:25] matks commented on #19959
The necessary changes on PrestaShop API to allow upgrade from 1.7.6.5 to 1.7.6.6 are in progress.

If you want to upgrade immediately, you can download the ZIP archive and use "Local archive" option

[2020-07-02 16:27] MatShir commented on #20036
It makes sense @TVBZ for your feedback. @PierreRambaud as you work on this module, do you think it is doable?

[2020-07-02 17:09] MatShir commented on #15384
Hi @Daniel Hlavacek your request is interesting but the example you gave us are pages with products with reduced price (there are either discounts or on SALE). That looks like a lot as the drop price page.

for these cases:

Would it be more interesting to create categories and linked to the menu?

[2020-07-02 21:46] NoZTurn commented on #20035
hello,florine2623, thanks for your quick reply.
I tried my best to made a picture to show my meaning blow,
![product-image-edit](https://user-images.githubusercontent.com/2842182/86411824-abfa3900-bc8b-11ea-81e1-051d70156b8c.jpg)
I don't if you can understand, I'm willing to provide and expain any your questions.
Thanks!

[2020-07-02 22:42] jolelievre commented on #20010
Hit @MatShir,

yes it's doable. It will be more understandable.

[2020-07-02 23:53] jbenezech commented on #11596
Indeed Thanks!!
I originally had my entities in a non-default folder (`/src/Entity`), which is why mappings were not registered.

[2020-07-02 23:56] cgermanb opened #20040 "cart without free transport"
Hi, I see a recurring question on google:
When starting the purchase, free transport appears in the cart by default, there should be a way to remove it and that it appears only when the user is about to select the transport.
Some change the translation from free to configuring or to agree, but I don't think it is the correct solution.

[2020-07-03 04:57] estebangarviso opened #20041 "(1/1) ContextErrorException Notice: Undefined index: id_order"
#### Describe the bug

Here is the html error 500 message that I get when I follow the steps explained below.
[contacto.zip](https://github.com/PrestaShop/PrestaShop/files/4867745/contacto.zip)

#### Expected behavior

Help I need a solution please.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. As a customer go to contactform url and send a test request
2. As a employee response t

[2020-07-03 05:49] tipui commented on #14341
Same problem here.
I solved the problem doing this:

 **- Advanced Parameters -> Performance**
Template compilation -> Force compilation
Click Save

**- Clear cache**
Wait finish

**- International -> Localization -> Languages**
The ISO Code for the new language must be "iso 3166-1 alpha-2" two letters
Language code must be ISO639-1 two letters or 4 letters with hifen (ie: "en-us" or "en")
Click S

[2020-07-03 06:36] OtiZ2 commented on #15503
Same problem.
If i want change order state

`
Fatal error: Uncaught Exception: Kernel Container is not available in /var/www/clients/client13/web68/web/src/Adapter/ContainerFinder.php:77 Stack trace: #0 /var/www/clients/client13/web68/web/classes/Tools.php(796): PrestaShop\PrestaShop\Adapter\ContainerFinder->getContainer() #1 /var/www/clients/client13/web68/web/classes/Tools.php(773): ToolsCore::g

[2020-07-03 07:27] estebangarviso commented on #20041
I modified override the contactform.tpl in line 65:

Before->`{if $contact.orders}`

After->`{if $contact.orders && isset($contact.orders[0]['id_order'])}`

But I think you need to fix the php file, more specific the "getTemplateVarOrders" function

[2020-07-03 07:40] Sonialopezjuarez opened #20042 "Activar imagen del producto en albaran"
Buenos dias,
Tengo la version 1.7.6.5.
No funcuiona activar imagen en albaran pedido
Me pueden ayudar?
Gracias,

#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screens

[2020-07-03 08:00] gusman126 opened #20043 "using webservice - Impossible to change product detail lines in orders"
Using the prestashop webservice I am adding an order.
I add the client -> Ok
I add the address -> Ok
I add the cart -> Ok
I add the main data of the order -> Ok
I add the product details lines -> KO - Ignore
`
$webService = new PrestaShopWebservice($url, $api, false);
$xml = $webService->get(array('url' => $url .'api/orders/?schema=blank'));
$xml->order->valid                      = 1;
$xml->order

[2020-07-03 08:03] JBWModules opened #20044 "JS crash on FO product page in 1.7.6.6, preventing updateProduct event to be received"
#### Describe the bug

When changing an attribute e.g. Size or Color there is a JS error
TypeError: setTimeout(...).bind is not a functioncore.js:233:3320
    l http://localhost/presta176/themes/core.js:233
    <anonym> http://localhost/presta176/themes/core.js:233
    u http://localhost/presta176/themes/core.js:39
    add http://localhost/presta176/themes/core.js:39
    <anonym> http://localhost/

[2020-07-03 08:06] matks commented on #19959
## 🚀 ✅ STATUS UPDATE

Auto-upgrade XML channels have been updated since several hours and I just did a 1.7.6.5 => 1.7.6.6 successfully using it

[2020-07-03 08:24] florine2623 commented on #20035
Ok thanks for the details.
I will pint our product team to let them know about your request.
Please stay tuned!

[2020-07-03 08:29] florine2623 commented on #20035
Hi @PrestaShop/prestashop-product-team ,

@NoZTurn would like to be able to replace an existing image with another one from the product sheet page in the BO.
Details are explained in the screenshot sent earlier.
What do you think about that ?

Thanks!

[2020-07-03 08:32] florine2623 commented on #20042
English is the norm on GitHub.
Also, you need to use the template to explain all details about your issue.
If you need customized help, please contact the support team here : https://addons.prestashop.com/es/388-soporte
I will your issue.

[2020-07-03 08:32] #20042 closed, assigned to nobody

[2020-07-03 08:37] Sonialopezjuarez commented on #20042
sorry.
I write it to you in English
Thank you

[2020-07-03 08:38] matks commented on #20044
@JBWModules Hi ! We are investigating this issue, thanks for the very fast feedback !

[2020-07-03 08:38] florine2623 commented on #19630
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-07-03 08:38] #19630 closed, assigned to nobody

[2020-07-03 08:39] florine2623 commented on #19652
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-07-03 08:39] #19652 closed, assigned to nobody

[2020-07-03 08:40] florine2623 commented on #19728
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-07-03 08:40] #19728 closed, assigned to nobody

[2020-07-03 08:40] Progi1984 commented on #19587
@colinegin It's a UX :heavy_check_mark: ;)

[2020-07-03 08:41] colinegin commented on #20035
Seems like a nice idea, wdyt @MatShir ?

[2020-07-03 08:41] florine2623 commented on #19675
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-07-03 08:41] #19675 closed, assigned to nobody

[2020-07-03 08:50] sarahdib opened #20045 "Search result in grid are not ok"
#### Describe the bug

Search result in grid are not ok when we go to the previous page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to category "accessoires" & search in the description field "maison" you have two results -> It's OK
2. Click on the previous button of the browser you have one result -> Not OK
3. Reset and search in the description field "maison" in Home catego

[2020-07-03 08:51] florine2623 commented on #20022
Hi @Rolige ,
Your issue seems to be a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9686
If that's the case please let me know, I will close your issue, so you can follow the main one directly here : https://github.com/PrestaShop/PrestaShop/issues/9686
Thanks!

[2020-07-03 08:53] NeOMakinG commented on #20044
Reproduced it, we're speaking about it right now

[2020-07-03 08:59] florine2623 commented on #20040
Hi @cgermanb ,
You can choose the default carrier to show in the cart in Shipping > Preferences :
![Capture d’écran 2020-07-03 à 10 57 11](https://user-images.githubusercontent.com/16019289/86452106-24103f80-bd1c-11ea-9bd5-bdcdc154d117.png)
So in your cart, the shipping price of your default carrier will be displayed :
![Capture d’écran 2020-07-03 à 10 58 03](https://user-images.githubusercont

[2020-07-03 08:59] #20040 closed, assigned to nobody

[2020-07-03 09:14] florine2623 commented on #20031
Ok @TVBZ
Normally the titles are copied automatically in all languages if only one language has been filled.
You might have some deeper issues.
Can you check your log file to see if there are errors ? in /var/log

[2020-07-03 09:16] florine2623 commented on #20041
Hi @estebangarviso ,
So the override was the issue ?
Thanks!

[2020-07-03 09:17] marionf commented on #20022
Duplicate of #9686

[2020-07-03 09:17] #20022 closed, assigned to nobody

[2020-07-03 09:20] matks commented on #20044
We have different people trying to reproduce this and we have multiple outputs 😅

Still under investigation

[2020-07-03 09:21] matks commented on #20044
@JBWModules Could you tell us
- if this is Classic Theme original or slightly modified ?
- if you have installed modules on product page ?
- your browser version

[2020-07-03 09:23] matks commented on #20044
@JBWModules Also did you notice this after 1.7.6.x => 1.7.6.6 upgrade or on fresh install of 1.7.6.6 ?

[2020-07-03 09:29] JBWModules commented on #20044
It's classic theme in an upgraded installation. To reproduce it is crucial to clear presta and browser cache to really work with new core.js.
I have my own developed modules installed but they only insert JS - they don't work properly anymore as updateProduct is not triggered.
I can reproduce it with latest FireFox & Chrome.

[2020-07-03 09:34] matks commented on #20044
Thank you so much !

We are sure there an issue indeed however we have trouble finding out _exactly what_ and exactly _the complete scope of the consequences_.

Right now almost ten people are working on this issue 😛 you have the whole team working on this 😁

It would be awesome to have the possibility to discuss further with you on this topic to fully understand it but GitHub is not really adapte

[2020-07-03 09:36] MatShir commented on #19490
This issue should be fixed by https://github.com/PrestaShop/PrestaShop/issues/20010.
To be reproduced

[2020-07-03 09:41] matks opened #20047 "We need to find out why bug #20044 is not breaking the product page"
#### Describe the bug

We have confirmed a JS error in 1.7.6.6 code thanks to @JBWModules through his bug report https://github.com/PrestaShop/PrestaShop/issues/20044 .

We expect this code error to break the FO product page, which should prevent actions such as "switching from one combination to another" (example: a Tshirt available in S, M, L and black or white) or "adding products to cart". But

[2020-07-03 09:44] matks opened #20048 "Following bug #20047 it seems event updateProduct is not fired in 1.7.6.6 on Product FO Page"
#### Describe the bug

Following bug #20047 it seems event updateProduct is not fired in 1.7.6.6 on Product FO Page. If confirmed, this will break any module listening to this JS event.

[2020-07-03 09:46] sarahdib commented on #20047
Test the minimal quantity : https://drive.google.com/file/d/1gAWLzJitBq07q1OS8jP0YnlP4mGKdJos/view
Test the attribute : https://drive.google.com/file/d/1FcLPQPhPrXb50nllxhVgMpqrUcapojmV/view

[2020-07-03 09:47] matks commented on #19959
## 🚧 ⛑️  STATUS UPDATE

3 issues are being investigated for 1.7.6.6, indicating a possible regression:
- https://github.com/PrestaShop/PrestaShop/issues/20044
- https://github.com/PrestaShop/PrestaShop/issues/20047
- https://github.com/PrestaShop/PrestaShop/issues/20048

[2020-07-03 10:02] Progi1984 commented on #15588
Fixed by #17399

[2020-07-03 10:02] #15588 closed, assigned to Progi1984, sarahdib, matks

[2020-07-03 10:12] Hlavtox commented on #15384
@MatShir Hi, it's very simmilar, but still different.

If the product is discounted, it does not mean it's on sale. That's what the on_sale flag is for - “we need to get rid of it, last chance”.

In some stores, everything is under some discount most of the times, and it does not mean it's the last chance to buy it.

[2020-07-03 10:27] Junebyun commented on #19636
@juraj1000 I think we could first fix space and character problems :
_Product ABC (Size: X-M, Color: Blue-Green)_
instead of the current _Product ABC - Size : X-M- Color : Blue-Green_ text

and then secondly consider whether or not to create either a drop down list with several characters (dash, comma, slash) or allow users to customize it as they like.

[2020-07-03 10:38] luciobenini opened #20049 "Sort products in 1.7.6.3"
Hello,
the default sort order in categories position ASC but it can't be selected and the controller returns only position DESC.

How can I add position ASC to the sort orders?

Thank you.

[2020-07-03 10:40] gennaris opened #20050 "Home category ID not correctly set when installing Prestashop to a Multi-Master MariaDB Galera Cluster"
Related to [this](https://github.com/PrestaShop/PrestaShop/pull/16813) commit

When applying the patch installation goes fine but
home category is  written to forcefully have ID 2 in ps_shop table (hardcoded?)
so categories are "broken" and not visibile in BO

Hardcoding categories ID cannot work in a non-unity autoincrement enviornment as home category
is not predictable and it will get a differe

[2020-07-03 10:48] Junebyun commented on #19145
Hi there, I think we should harmonize:

- the text in the footer of the FO "_Prices drop_"

- and the H1 title of the page "_On sale_" (appearing once you click on "_Prices drop_")

by either "_Sale_" or "_Promotion_". Both are widely used terminologies and I think users won't have problems in understanding it. Also, only products that have some kind of discount are listed in the "_Prices drop_" p

[2020-07-03 11:14] kevindepoortere opened #20051 "Autoupgrade failed: container is null - Call to a member function get() on null"
#### Describe the bug

I have an error during the 1 click upgrade proccess.
At then end, during database upgrade I have some problems with currency table
[code]

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 1 click upgrade page
2. Launch the upgrade
3. Wait for Database upgrade

**Screenshots**

![image](https://user-images.githubusercontent.com/2325159/86464058-00a2c000-bd2

[2020-07-03 11:42] matks commented on #20051
Hi, php7.3 is not yet supported by PrestaShop. That might be the reason for your issue

[2020-07-03 12:00] florine2623 commented on #20049
Hi @luciobenini ,
Could you give more info about your issue ?
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots
You don't know how to get this information? Please read the f

[2020-07-03 12:02] florine2623 commented on #20050
Hi @gennaris ,
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots
You don't know how to get this information? Please read the following article:
http://build.prestashop.com/h

[2020-07-03 12:22] florine2623 commented on #20037
Hi @pixelicous ,
Following your steps I couldn't reproduce your issue.
Reassurance module stayed on the hooks it was before.
Are you using classic theme ?

[2020-07-03 12:32] acanopo opened #20053 "Logo SVG Prestashop 1.7"
I think that a module can be the solution to upload svg logo in prestashop 1.7, one that has been created correctly has been created and it can be a temporary solution until prestashop implements another solution.

https://www.xn--comercioelectronicoespaa-nlc.es/tienda/inicio/34-log-en-formato-svg.html

[2020-07-03 12:36] florine2623 commented on #20053
Hi @acanopo ,
Could you follow the template of the improvement issue ?
Thanks!

[2020-07-03 12:46] kevindepoortere commented on #20051
I will try with PHP 7.2, I need to configure another environment before.
Unfortunately, I'm not sure that the problem comes from the PHP version, because, minor PHP version is supposed to send notice or warning, not error.

The error is :
`/var/www/preprod-bellopasso/admin402v3zqsj/autoupgrade/latest/install/upgrade/php/ps_1760_copy_data_from_currency_to_currency_lang.php line 55 - Error: Call to

[2020-07-03 12:48] kevindepoortere commented on #20051
Also, one more thing, before doing the upgrade I've activated multishop option. As I had some problems with multishop, I choose to upgrade to see if there was some bug fix.

[2020-07-03 12:50] florine2623 commented on #19758
@colinegin
Sorry for taking so long to answer.
A PrestaShop user has brought that issue to me. I created the issue for him.
Sometimes the email goes into spam and the customer can't find the code.

[2020-07-03 12:51] gennaris commented on #20050
Hi @florine2623 ,
Note that I was asked to open this issue after reporting the problem in #16813

This is related to the deployment of prestashop in a **multiple servers / nodes** to obtain HA / horizonal scaling,
it can be reproduced by installing the latest 1.7.6.6 on every compatible webserver.

The only relevant configuration to reproduce this bug is the **database** which must be deployed in

[2020-07-03 13:08] Caleydon commented on #19145
Please use the same phrase. Do you think it's correct for customers, when they click on "Prices drop" link and get page with "Promotion" name? Why are you trying use variations of this word? Different in the link and different on the target page? Name the page same as the link. Other variantions of the word you can use in the page meta-description.

[2020-07-03 13:25] LouiseBonnard commented on #19145
Dear @Caleydon, this issue precisely exists to think about a more consistent customer experience. ;-)

You might have misunderstood @Junebyun, her idea is to select the most accurate wording and have it harmonized at all places = the text in the footer, the title of the page, the name of the URL, etc.

[2020-07-03 13:28] Junebyun commented on #15384
Hi there, @Hlavtox thank you for your suggestions! But I am not sure if creating another generic page for the products you have mentioned is necessary for all merchants, for me it seems to be a specific need.

I think two options could be considered for your scenario:

- create a subcategory that you could call "_Outlet_" or "_Last chance_" in the "_Prices drop_" page (soon going to be named as "_

[2020-07-03 13:36] matks commented on #20044
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20052

[2020-07-03 13:36] #20044 closed, assigned to matks, NeOMakinG

[2020-07-03 13:36] Junebyun commented on #19145
Dear @Caleydon, perhaps I wasn't clear enough in my comment. :p

My suggestion is to indeed harmonize everything to either "_Sale_" or "_Promotion_".

Between those 2 terminologies, I would go with "_Sale_", as it is a page that shows products that have reduced prices. Plus, it will also be consistent with the "_on sale_" tag.

[2020-07-03 13:37] florine2623 commented on #20050
Hi @PrestaShop/prestashop-core-developers ,
Coud you take this issue please ? It is about PS deployment.
Thanks !

[2020-07-03 13:39] matks commented on #20044
To provide some context about this issue ; we have identified that

1. the event `updateProduct` is fired
2. some JS code, including part (100% ? not sure) JS code from the Core works
3. some JS crashes (hence the console error)
4. the JS code listening that is called AFTER the crash on the event does NOT receive the event

[2020-07-03 13:40] matks commented on #20047
We have identified that in 1.7.6.6, on the FO product page

1. the JS event `updateProduct` is correctly fired
2. some JS code, including part (100% ? not sure) JS code from the Core works
3. some JS crashes (hence the console error)
4. the JS code listening that is called AFTER the crash on the event does NOT receive the event

Since most of Core behavior belongs to 2. ; this is why they are not

[2020-07-03 13:40] #20047 closed, assigned to nobody

[2020-07-03 13:40] Junebyun commented on #17447
@MatShir hey! This is the suggested wording to better explain this feature:

**Display unavailable attributes on the product page**
(action: **YES / NO**)

**tool tip:** _If an attribute is not available in every product combination, it will not be displayed._

[2020-07-03 13:41] matks commented on #20048
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20052

[2020-07-03 13:41] #20048 closed, assigned to nobody

[2020-07-03 13:45] matks opened #20054 "Release 1.7.6.7 🚀"
This issue tracks the status of the PrestaShop 1.7.6.7 release

1.7.6.7 will be the last bug fix release for the 1.7.6.x branch.
This patch version fixes [an important regression](https://github.com/PrestaShop/PrestaShop/issues/20044) introduced in 1.7.6.6.

### Information

Q | A
--|--
**Type** | Patch version
**Milestone** | [1.7.6.7](https://github.com/PrestaShop/PrestaShop/milestone/66)
**Kanb

[2020-07-03 13:45] matks commented on #19959
## 🚧 ⛑️  STATUS UPDATE

Analysis of https://github.com/PrestaShop/PrestaShop/issues/20044 is complete and has confirmed this is an important issue which requires the release of a new 1.7.6.X patch version. In other words, we confirm there will be a [1.7.6.7 release](https://github.com/PrestaShop/PrestaShop/issues/20054)

[2020-07-03 13:48] matks commented on #19959
Closing the issue as 1.7.6.6 release process is complete

[2020-07-03 13:48] #19959 closed, assigned to matks

[2020-07-03 13:53] matks commented on #20054
## 🚧 🚥 STATUS UPDATE

A 1st ZIP archive has been built. It has been delivered to QA team who launched the standard patch release test campaign.

[2020-07-03 14:14] DMoRiaM commented on #9591
This issue is still present in 1.7.65
Brazilian format use the same as French.

[2020-07-03 14:18] matks commented on #20044
I have updated the title of this issue to "JS crash on FO product page in 1.7.6.6, preventing updateProduct event to be received"

[2020-07-03 14:22] Caleydon commented on #19145
Please note that "On sale" is something different from "Price drop / Promotion". The product can has "On sale" sticker but no special / lower price. Pelase stop operate with "On sale" here. It's completely different feature of PrestaShop nothing to do with special product price. Do you understand that?

Whe you add "On sale" sticker on the product, it's graphic sticker only. There is no other feat

[2020-07-03 14:23] Junebyun commented on #19644
Hello @juraj1000 indeed you are right, I think adding another parameter: "**VAT payer**" (**YES / NO**) is a good idea!
In case the merchant is not VAT liable, it would be best if the parameters "_Include tax in prices_" and "_Tax incl/excl label_" don't appear or cannot be selected, but not sure if it's doable...
If not merchants will need to choose the options manually. (We would thus follow you

[2020-07-03 14:28] Caleydon commented on #19145
As I read your post in paralel ticket https://github.com/PrestaShop/PrestaShop/issues/15384#issuecomment-653549034
you are completely out of topic. You didn't understand the issue.

[2020-07-03 14:33] Hlavtox commented on #15384
@Junebyun Creating a category for Outlet items is kind of a hackjob.

- More work. You would need to remember to add it to this special category AND tick the on_sale flag.
- Hard to apply custom styling to this category without modifying the template.

I have done it in my Prestashop and I think it would be useful, take it or leave it. 😄

[2020-07-03 14:56] florine2623 commented on #20051
You can check all the system requirements here :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Thanks!

[2020-07-03 15:05] touchweb-vincent opened #20055 "POC needed CVE-2020-4074 - PS 1.6 workaround ?"
Hello,

A POC is claimed against CVE-2020-4074 from our partners. It would be very appreciated if you can share one.

Is there a workaround for PS 1.6 since it seems to impact this version ?

Thanks,

Vincent

https://nvd.nist.gov/vuln/detail/CVE-2020-4074#vulnCurrentDescriptionTitle

[2020-07-03 15:36] matks commented on #20055
Hi, the advisory https://nvd.nist.gov/vuln/detail/CVE-2020-4074 also indicates the commit which fixes the issue https://github.com/PrestaShop/PrestaShop/commit/30b6a7bdaca9cb940d3ce462906dbb062499fc30 in version 1.7.6.6 .

As you can see from the commit, the fix requires 2 new SQL tables to store session data.

We cannot share any more information on how to implement it because it would also provi

[2020-07-03 16:16] burakgit opened #20056 "System is Translating "Class" Term To Turkish Meaning at Brands"
#### Describe the bug

Imagine that you are using Turkish Language, and the brand name is CLASS, it is translating it to turkish name "sınıf"
Class means sınıf but it is global brand name.

#### Steps to Reproduce
create a brand name as Class Under Turkish System. Version 1.7.6.4
Front office, it writess CLASS no problem.

![image](https://user-images.githubusercontent.com/32361879/86485484-7aec38

[2020-07-03 16:19] TVBZ commented on #20031
Hi @florine2623. Indeed the title are copied to other languages when only 1 language has been filled.
That part works as expected.

The images that are added in first creation of the product don't render in the other languages, because the url is missing the filename. So my best guess is that the image name is created before the title is copied to the other language. (when title is still empty)

I

[2020-07-03 16:29] vincent-guesnard commented on #20055
They ask a POC to confirm metrics of the CVE.

We will not advice our customers to spend their money on this upgrade, since everybody will be advice to upgrade to 1.7.7 for the PHP 7.3 compliance in .. a few weeks ?

Anyway we understand your point of view on sharing POC against CVE. But it's harder to provide wises advices, especialy in this period where people focus on essential spend.

Could yo

[2020-07-03 17:16] NoZTurn commented on #20035
Thanks, @florine2623 ,you totally got my meanning, and I think your new issue title can explain the issue more accurate, thanks you.

@colinegin thanks for your reply and opinion.

[2020-07-03 17:48] estebangarviso commented on #20041
Sorry I mean that i overrided the tpl to solve this problem.

[2020-07-03 18:20] kevindepoortere commented on #20051
Hi,
Here you can see the requirements.
![image](https://user-images.githubusercontent.com/2325159/86491147-3749fc00-bd6a-11ea-9090-84e9c2aee723.png)
![image](https://user-images.githubusercontent.com/2325159/86491157-44ff8180-bd6a-11ea-888e-ec44be56b5b4.png)
![image](https://user-images.githubusercontent.com/2325159/86491168-4fba1680-bd6a-11ea-8f36-747c1448b0bf.png)

I just need to upgrade post_ma

[2020-07-03 18:29] kevindepoortere commented on #20051
Here is the error when I try to connect to the backoffice :

`[php7:error] [pid 19296] [client 193.56.244.104:50291] PHP Fatal error:  Uncaught Symfony\\Component\\Debug\\Exception\\FatalThrowableError: Cannot use object of type Symfony\\Component\\HttpFoundation\\ParameterBag as array in /var/www/preprod-bellopasso/src/Adapter/Security/Admin.php:91\nStack trace:\n#0 /var/www/preprod-bellopasso/ve

[2020-07-03 18:52] miguelfigueroa90 commented on #16812
I don't understand your reply, can  you give us more information about?

[2020-07-03 19:52] TVBZ opened #20057 "Package weight parameter missing (crucial to calculate shipping cost!)"
#### Is your feature request related to a problem?

The request is pretty basic and simple. We need to be able to add a package weight somewhere in configuration.
Currently, if I would sell and send some products at a total of 9.8 KG, but the box I use to send it is 0.3 KG, the total weight would be 10.1 KG. My shipping cost for packages < 10 KG and > 10 KG is not the same. Because PS doesn't add

[2020-07-03 23:14] FeyaParis commented on #16812
When Login As Customer v0.7.2  is installed this error happen once it's uninstalled everything is ok

[2020-07-04 03:21] superskyman100 commented on #19935
The point should be to make rules compatible if you choose to make them
compatible (click on compatibility), not to make them compatible if you
don't click. That's just stupid. Anyway, waste enough time with Prestashop
bugs, always end having buying module to solve such stupid issues.

On Thu, 2 Jul 2020 at 17:33, florine2623 <notifications@github.com> wrote:

[2020-07-04 11:39] musaffar-patel opened #20058 "Back office will not recognise new theme"
Hi

These are the steps I have undertake:

- duplicated the classic theme into a new theme folder "themes/custom"
- Modified themes/custom/config/theme.yml changing the meta information as shown below:

[code]

- Cleared Prestashop cache through back office and by emptying /var/cache/ folders.
- Navigate to Design > Theme & Logo

However, I see two themes, but both are presented as the "Classic Th

[2020-07-04 13:51] kpodemski commented on #20058
Try to remove content of /config/themes/

[2020-07-04 14:04] FrederikLive opened #20059 "Missing spaces in html attributes"
Several scripts dynamicly adds attributes to html in Admin where spaces are not included.

One example is: /Admin/ProductPage/Blocks/header.html.twig
Opened by Admin->sell/catalog/products->Add New Product

Around:
[code]
-> %}>**(NO_SPACE_HERE)**{{

I've found multiple of these errors which breaks layout and usability in browser. Tested in PrestaShop 1.7.6.5 and 1.7.6.6. Both new Installations.

[2020-07-04 18:47] musaffar-patel commented on #20058
Thanks, this did the trick

[2020-07-04 18:47] #20058 closed, assigned to nobody

[2020-07-05 08:36] Seb33300 opened #20060 "Multistore: visualize if config is inherited from global / parent group or fixed for the current store"
When using the multistore feature, we are able to change the configuration globally or by store.

- If you change a config value on the "All stores" / "Group" context, the new value will be applied to all children stores where you didn't set a specific value

- But if you already set a specific value to 1 of your store, you are not able to reset it to the parent value.
Even if you change it to mat

[2020-07-05 09:26] gyan111 opened #20061 "Regenerating core.js"
If we want to change some core code like cart.js etc, we have to modify the js file and recompile to get a new core.js file. (I may be wrong but this is what I have found so far).

Is there anyway to regenerate without command line?
As on shared server there is no access to the command line.

[2020-07-05 10:23] pks891618 opened #20062 "Prestashop 1.7.6.5 disable autologin after registration"
Version : 1.7.6.5

By default customer when register, atuo login with activated account.

I want that by default customer dont login and his account is deactivated by default

[2020-07-05 10:56] kpodemski commented on #20062
You should search for a module to do that.

You can search for "customer activation module", or "customer acceptation" at addons.prestashop.com

[2020-07-05 10:57] pks891618 commented on #20062
But there must be  option customer must be disabled by default

[2020-07-05 12:30] FrederikLive commented on #20059
I solve the issue. It must be a memory allocation fault as I upgraded my Droplet, reinstalled and then everything worked perfectly.

[2020-07-05 12:30] #20059 closed, assigned to nobody

[2020-07-05 12:41] k0lv opened #20063 "1.7.7.0 Beta - Do not save Import Configuration name - Undefined"
When, testing the Combinations import functionality wanted to Save the import mapping configuration ("Save your data matching configuration" functionality). After hitting the Save button, record gets added as "undefined".

Expected, that configuration template will have My assigned name.

![1_step](https://user-images.githubusercontent.com/59282576/86532872-c45d9400-bed5-11ea-96c0-e938c64b3ee8.png

[2020-07-05 13:10] k0lv opened #20064 "1.7.7.0 Beta - Unexpected error after disabling "Debug mode"."
I have disabled Debug mode in Performance tab, and not able to open Back-office. Getting error:

"You have requested a non-existent service "mbo.tab.collection.provider".
[Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException 0]"

![image](https://user-images.githubusercontent.com/59282576/86533438-f53fc800-bed9-11ea-8a5d-56d74078d6d9.png)

**Solution: Push the button "Enable de

[2020-07-05 13:20] k0lv commented on #20063
Sorry, duplicate to #19746

[2020-07-05 13:20] #20063 closed, assigned to nobody

[2020-07-05 13:22] kpodemski commented on #20062
There's no such an option by default in PrestaShop and it's weird to even have it, PrestaShop is not a B2B software by default

[2020-07-05 13:24] k0lv commented on #20064
Sorry, duplicate to #19741

[2020-07-05 13:24] #20064 closed, assigned to nobody

[2020-07-05 13:58] Xionoxid opened #20068 "Prestashop 1.7.6.5, Mail alerts 2.2.0: Table 'prestashop.ps_mailalert_customer_oos' doesn't exist"
Hello,

I've an error: Table 'prestashop.ps_mailalert_customer_oos' doesn't exist when I click on the button 'My Alerts' in my account.
The table is not found in my database. I've installed it from the Module Catalog in the backend.

Prestashop version: 1.7.6.5
PHP version: 7.2.21
MySQL version: 5.7.26

Error:
`[PrestaShopDatabaseException]
Table 'prestashop.ps_mailalert_customer_oos' doesn't exis

[2020-07-05 17:12] Newshound15 opened #20065 "1.4 link to PayPal merchant not working"
<!--
****************************
DO NOT disclose security issues here, contact security@prestashop.com instead!
****************************

Customers cannot pay

#### Expected

Checkout page should leave Prestashop and go to PayPal merchant payment

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

[2020-07-05 17:13] Newshound15 commented on #20065
![Payment screen](https://user-images.githubusercontent.com/67871986/86538015-342a4980-beeb-11ea-9db0-e5def1822ee3.jpeg)

[2020-07-05 17:15] Newshound15 commented on #20065
Instead of customers going to PayPal merchant page, they get this.
![Payment screen](https://user-images.githubusercontent.com/67871986/86538048-68056f00-beeb-11ea-88ea-b8754899da30.jpeg)

[2020-07-05 19:24] kpodemski commented on #20061
The thing is, that you should never ever touch core.js :)

Maybe tell us what are you trying to do :)

[2020-07-05 19:26] gyan111 commented on #20061
I am trying to send additional data when add to cart button is clicked.

[2020-07-05 19:31] kpodemski commented on #20061
Ok!

Take a look here:
https://devdocs.prestashop.com/1.7/themes/reference/javascript-events/

and here:
https://github.com/PrestaShop/PrestaShop/blob/develop/themes/_core/js/cart.js#L85

as you can see after clicking add-to-cart button form is sent to target URL

[2020-07-06 03:02] LogoiLab commented on #16477
Just an FYI, ArchLinux is already shipping php7.4 as its default install and as with most rolling-release distros does not keep older versions in the repos. You can get older versions from the AUR but those builds are currently failing due to lack of developer support from the PHP team. As of right now you've probably lost most if not all of your rolling release style Linux users to updates.

[2020-07-06 03:53] pks891618 commented on #20062
@kpavlovsky, ok does it mean that if Prestashop don't design for B2B software then why there is an option for B2B in admin ?

Sir instead of giving a solution, you are just giving an explanation of the Prestashop complexity

its a request to you guys that if you are not able to give correct solution don't use GitHub to  show the limitation of your or the platform you are using.

I see your profile

[2020-07-06 04:42] kpodemski commented on #20062
@pks891618

I gave you a solution, it's a third party module with this feature :)

https://addons.prestashop.com/pl/bezpieczestwa-dostepu/27191-customer-activation-b2b-login-account-activation.html

https://addons.prestashop.com/pl/klantendienst/30524-customer-account-activation-new-account-moderation.html

https://addons.prestashop.com/pl/klantendienst/6863-customer-activation-activation-compte-c

[2020-07-06 04:50] pks891618 commented on #20062
Sorry but if i need to just purchase the module then why i will come to GitHub and raise the issue :)

[2020-07-06 04:57] kpodemski commented on #20062
You can open a feature request then:
https://github.com/PrestaShop/PrestaShop/issues/new?template=2_feature_request.md

[2020-07-06 08:19] sarahdib commented on #20043
@PrestaShop/prestashop-core-developers could you check this please ? :)

[2020-07-06 08:30] boubkerbribri opened #20067 "[BO] - Category root displayed after filter"
#### Describe the bug

When you filter categories by `name=root` or `displayed=Yes`, category root is displayed (unwanted behavior after the fix in #17399 )

#### Expected behavior

Category root not displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'BO -> categories page'
2. Filter by displayed = Yes
3. See result
![image](https://user-images.githubusercontent.com/484

[2020-07-06 08:46] PierreRambaud commented on #20036
Everything is doable :wink:

[2020-07-06 08:50] PierreRambaud commented on #19849
Coming back from vacation, I will try to have a look as soon as possible.

[2020-07-06 08:58] sarahdib commented on #20056
Hello,

Using the last 1.7.6 I didn't reproduce.
<img width="1276" alt="Capture d’écran 2020-07-06 à 10 51 48" src="https://user-images.githubusercontent.com/3034677/86575023-eb1fd700-bf76-11ea-9347-a4ff655e7be6.png">
Maybe you are using the translation of your browser.

Despite our efforts, we were not able to reproduce your issue with the provided information.
It seems that your issue is not a

[2020-07-06 08:58] #20056 closed, assigned to nobody

[2020-07-06 09:14] colinegin commented on #19758
ping @PrestaShop/prestashop-core-developers is this something that should be fixed in the core or do you think it's related to the email provider ?

Thanks

[2020-07-06 09:59] sarahdib commented on #20061
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

You can also join slack in order to discuss with developer : https://github.com/PrestaShop/open-source/blob/master/slack/readme.md

Thanks for your understand

[2020-07-06 09:59] #20061 closed, assigned to nobody

[2020-07-06 10:11] Junebyun commented on #20010
Yes, sounds more accurate!

[2020-07-06 10:54] romain-le-mercier opened #20069 "Specific price tax included is applyed instead of tax excluded"
Customer from other countries pay products tax ecluded.
On my products I added specific price depending on the quantity for example -5€ tax incl for qty >=5.

My product is 10€ tax excl, 12€ tax incl.
The customer order 5 products and pay 5€ per product (10€ tax excl - 5€ tax **incl**) instead of 5.833.

* PrestaShop version: 1.7.6.5
* PHP version: 7.3

[2020-07-06 11:14] FrancescCommerce21 opened #20071 "unit_price not setted with prestashop api or webservice"
#### Describe the bug

When i try to add or modify an unit_price of a product whit prestashop api or prestashop webservice (setting unit_price_ratio), the unit price is not changed and its setted to 0.

#### Expected behavior

Change unit_price of a product.

#### Steps to Reproduce

Steps to reproduce the behavior:

Make a simply api call to create a product.

![image](https://user-images.githubu

[2020-07-06 12:07] dorkster100 commented on #15744
It does not help to delete the var/cache.
Reinstalling the module does not help as well, i am only able to access BO while the module is disabled.

[2020-07-06 12:17] rdy4ever commented on #20062
Prestashop is an open source software. This means you get to use it for free, but you are not entitled to get customer support from any of its contributors. If you need customer support, then you should pay for a [support plan](https://addons.prestashop.com/en/388-support).
Being open source, everyone can help voluntarily, including yourself. But you don't get to DEMAND the project contributors to

[2020-07-06 12:29] sarahdib commented on #20068
Hello @Xionoxid

Thank you for your feedback!

I reproduce the issue :
1. Install module mail alert
2. Activate notification for out of stock product
3. Go to FO in the customer account
4. Click on my alert
5. See the error
<img width="1274" alt="Capture d’écran 2020-07-06 à 14 27 52" src="https://user-images.githubusercontent.com/3034677/86593211-17e2e700-bf95-11ea-817f-ca112317fe6e.png">

[2020-07-06 12:46] sarahdib commented on #20062
Hello,

Please be aware that this bug tracker should be used to report issues only. You can open a feature request and explain exactly what is the feature you want.
@kpodemski give you the list of the module you can buy if you need a quick solution.

Thanks for your understanding! and thank you @rdy4ever and @kpodemski 👍

[2020-07-06 12:46] #20062 closed, assigned to nobody

[2020-07-06 12:51] sarahdib commented on #20065
Hello

PrestaShop 1.4 has reached end of life and is no longer officially maintained.
Hello,

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

Thank you!

[2020-07-06 12:51] #20065 closed, assigned to nobody

[2020-07-06 12:55] ttoine opened #20072 "Translation issue in customer account creation or customer information before payment of the order"
#### Describe the bug

Because of a country translation bug, customers abandon their cart because they don't find their country in the list while providing their shipping information.

#### Expected behavior

Countries list must be translated to the selected language of the shop.
EG:
- a shop is in French, all countries must be listed in their French translation
- a shop in in English, all countri

[2020-07-06 12:58] khouloudbelguith commented on #20071
Hi @FrancescCommerce21,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9922
So, I close it.
Thanks!

[2020-07-06 12:58] #20071 closed, assigned to nobody

[2020-07-06 12:58] khouloudbelguith commented on #20071
Duplicate of #9922

[2020-07-06 13:14] Progi1984 commented on #19717
Fixed by #19981 (@matthieu-rolland)

[2020-07-06 13:14] #19717 closed, assigned to nobody

[2020-07-06 13:25] Maofree opened #20073 "Problem with cart made some days before to buy"
Hi

at this time I have no image to upload
sometimes some shopkeepers report me this error:
in the checkout it is not present any carrier, so the customers cannot finish the order

after some tests, all these cases happen when the cart has been created for some time, like the day before or a few days before. So the customers continue to use the products addeds in the cart in the past.
the problem

[2020-07-06 13:41] marionf commented on #9680
Duplicate of #https://github.com/PrestaShop/PrestaShop/issues/16306

[2020-07-06 13:41] #9680 closed, assigned to nobody

[2020-07-06 14:20] sarahdib commented on #20069
Hello @romain-le-mercier ,

We are aware of this issue, it is already in our debug backlog.

This issue is a duplicate of #15835.

To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you!

[2020-07-06 14:20] #20069 closed, assigned to nobody

[2020-07-06 14:21] sarahdib commented on #20069
duplicate of #15835

[2020-07-06 14:26] pks891618 commented on #20062
@kpodemski  ah got your point will take care last time.

[2020-07-06 14:40] Progi1984 commented on #19842
PR : PrestaShop/ps_emailalerts#61

[2020-07-06 16:19] PierreRambaud commented on #19849
Ohhh, regarding the code, the ajax parameter is mandatory :thinking:

[2020-07-06 16:20] PierreRambaud commented on #19810
Yes, we need to split issues as must as possible. Easier to test, easier to fix (when it's easy :sweat_smile: )

[2020-07-06 16:29] PierreRambaud commented on #19953
Maybe related to #17725

[2020-07-06 16:35] PierreRambaud commented on #19691
@iqit-commerce I'm not able to reproduce the problem, could you send me a video or screenshot for a better understanding?

[2020-07-06 16:51] sarahdib commented on #20057
@PrestaShop/prestashop-product-team What do you think about this improvement ? add the package weight to calculate shipping cost ?

[2020-07-06 16:55] sarahdib commented on #20060
Hello @Seb33300

We are aware of this issue, it is already in our debug backlog.

This issue is a duplicate of #9833

To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you!

[2020-07-06 16:55] #20060 closed, assigned to nobody

[2020-07-06 16:55] sarahdib commented on #20060
Duplicate of #9833

[2020-07-06 17:01] matks commented on #20054
## 🚀 ✅ STATUS UPDATE

1.7.6.7 is released !
- on GitHub
- on prestashop.com
- the release note is published https://build.prestashop.com/news/prestashop-1-7-6-7-maintenance-release/

[2020-07-06 18:32] PierreRambaud commented on #20054
Docker image is ready :wink:

[2020-07-06 18:32] #20054 closed, assigned to nobody

[2020-07-06 20:58] Hlavtox commented on #20057
Why don't you just add it to every product? 0.1kg to every product, for example.

[2020-07-06 21:29] antoine1003 opened #20075 "<br /> displayed in check address after order"
#### Describe the bug

After making a command paid by check, if the address specified in backend contains lines break, the `<br />` tag is not interpreted in HTML.

#### Expected behavior

The address should be display with line break.

#### Steps to Reproduce

Steps to reproduce the behavior:

(Before follow those steps, the address needs to be set up in backend : Paiements / Check => click on Co

[2020-07-07 07:20] khouloudbelguith commented on #20060
Related to: https://github.com/PrestaShop/PrestaShop/issues/19304

[2020-07-07 07:38] TVBZ commented on #20057
@Hlavtox That seams a bit overkill. What if your shop has 2000 products and you want to change package weight?

For now, I worked around this issue by simply substracting package weight from carriers.
Where a price was set to up to 10 000 grams, it's now set to up to 9 899 grams.
I think this is more workable than adding it to all products. In most cases, theres will be a lot less carriers than pr

[2020-07-07 07:51] Hlavtox commented on #20057
@TVBZ Another solution! :) I can do this for you in 5 minutes, export it from DB, change in Excel, import back.

How would you do the package weights? You would have to have dozens of them, depending on the weight and size of the product. Weight of the box will not be the same every time.

In real life, sometimes you pay some of the shipping, sometimes you make something on the shipping, sometimes

[2020-07-07 08:25] norbertlaza commented on #12617
Any news with this issue?

[2020-07-07 08:29] iqit-commerce commented on #19691
@PierreRambaud It seems to be not actuall anymore with latet ps 1.7.6.7 realase

[2020-07-07 08:29] #19691 closed, assigned to nobody

[2020-07-07 08:38] khouloudbelguith commented on #14182
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20070

[2020-07-07 08:40] sarahdib commented on #20075
Hello @antoine1003

Thank you for your feedback!

I was able to reproduce the issue.
<img width="440" alt="Capture d’écran 2020-07-07 à 10 39 10" src="https://user-images.githubusercontent.com/3034677/86750395-3650ed00-c03e-11ea-8dc6-fabba917173a.png">

I’ll add this to the debug backlog. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

T

[2020-07-07 08:46] antoine1003 commented on #20075
Hey Sarah,
I nobody does, I'll correct it in the week 😃

[2020-07-07 08:48] Progi1984 commented on #12617
@norbertlaza Actually the bug is not in the roadmap. But if you want to create a PR for this, we could add it to the next release. We are always to external contributions. Thanks :hugs:

[2020-07-07 08:59] PululuK opened #20077 "BO > CUSTOMERS > GENERAL SETTINGS : Wrong helper description"
#### Describe the bug

I think that since Prestashop 1.7.x passwords are no longer sent in the welcome email. So this description is wrong

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to **Shop parameters**
2. Click on **Customers  > General settings**
3. Click on **Send an email after registration** helper
4. See error : Send an email with summary of the account information (

[2020-07-07 09:08] prestascott commented on #19229
Hi @north-sun,

I agree with you, size of these titles need to be the same either 16px or 18px.

[2020-07-07 09:32] #14182 closed, assigned to khouloudbelguith

[2020-07-07 09:43] christian-predebon opened #20079 "Login to BO in 1.7.6.7 does not work"
#### Describe the bug

As per title, when I try to login into my BO this not work. If I put a wrong password prestashop correctly tells me I'm wrong but if I use the correct data nothing happens.

#### Expected behavior

Redirect to back office

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to **https://yourshop/folder/index.php**
2. Insert **username** and **password**
3. Click

[2020-07-07 10:46] Dreanad commented on #11329
Hi , did you have some news ?

we are stuck with this issue on 1.7.6.5, impossible to add the hours

[2020-07-07 10:58] SimonGrn commented on #15797
@colinegin @marionf this isse has not been properly qualified nor reproduced, and we never got back from the OP. This issue should be closed ?

[2020-07-07 11:10] sarahdib commented on #19432
@JorgeNogueiraLFMPro

The cart seems to be hooked in the wrong place.
<img width="1135" alt="Capture d’écran 2020-07-07 à 13 05 03" src="https://user-images.githubusercontent.com/3034677/86771757-12e46d00-c053-11ea-9ba7-a9da67637963.png">

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modul

[2020-07-07 11:10] #19432 closed, assigned to nobody

[2020-07-07 11:16] #19658 closed, assigned to nobody

[2020-07-07 11:28] sarahdib commented on #19720
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

Thank you!

[2020-07-07 11:28] #19720 closed, assigned to nobody

[2020-07-07 11:29] JBWModules commented on #20057
A simple package weight is not enough as it might change depending on the content - bigger box, more weight. But how to know which products fit best into which package? Additonally you might have to wrap some inside the box with additional package materials etc. You might even have to split deliveries into severals packages and delivieries, thats something Presta does not support out of the box bu

[2020-07-07 11:32] sarahdib commented on #19734
@dasafefe

You need to disable catalog mode in order to see the price in the front office.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask

[2020-07-07 11:32] #19734 closed, assigned to nobody

[2020-07-07 11:43] Webgaict opened #20081 "Problem with button insert a module prestashop 1.7.4.3"
Hello,
when I try to click the "Insert a module" button,
the white page with "Gateway timeout" appears,
How can I solve it?

Thanks for help

[2020-07-07 11:44] sarahdib commented on #15797
@PrestaShark
I didn't reproduce : https://github.com/PrestaShop/PrestaShop/issues/19747

There is a new version of the module, could you try with this new version ?

I close this issue feel free to open a new one if you still have this issue with the new version.

Thank you

[2020-07-07 11:44] #15797 closed, assigned to nobody

[2020-07-07 11:49] #9708 closed, assigned to Progi1984, khouloudbelguith

[2020-07-07 11:49] sarahdib commented on #19764
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-07-07 11:49] #19764 closed, assigned to nobody

[2020-07-07 11:51] #19645 closed, assigned to nobody

[2020-07-07 11:57] sarahdib commented on #19771
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-07-07 11:57] #19771 closed, assigned to nobody

[2020-07-07 11:59] sarahdib commented on #19747
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-07-07 11:59] #19747 closed, assigned to nobody

[2020-07-07 12:00] sarahdib commented on #19770
Hi @davidhardik

Like @florine says Could you use PHP 7.2 ?
Here are the system requirements of PrestaShop : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-07-07 12:00] #19770 closed, assigned to nobody

[2020-07-07 12:04] sarahdib commented on #19786
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-07-07 12:04] #19786 closed, assigned to nobody

[2020-07-07 12:22] sarahdib commented on #19832
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-07-07 12:22] #19832 closed, assigned to nobody

[2020-07-07 12:27] matks commented on #20055
None of the vulnerabilities disclosed last week are "critical" according to us. If they were critical, upon reporting, we would have released  a patch version fixing it within 7 days, just like we did for [PS 1.7.6.4](https://github.com/PrestaShop/PrestaShop/security/advisories/GHSA-mhfc-6rhg-fxp3).

When we receive vulnerability reports,
- if is it critical we fix it immediately and release a pat

[2020-07-07 12:37] Hlavtox commented on #19849
@PierreRambaud I updated the issue description for clarity. ;-)

[2020-07-07 12:37] sarahdib commented on #19872
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-07-07 12:37] #19872 closed, assigned to nobody

[2020-07-07 12:41] sarahdib commented on #19915
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

You can also join slack in order to discuss with developer : https://github.com/PrestaShop/open-source/blob/master/slack/readme.md

Thanks for your understand

[2020-07-07 12:41] #19915 closed, assigned to nobody

[2020-07-07 12:43] katerinatikhonova opened #20082 "Error 500"
#### estaba instalando un modulo de enlace autorizacion de cliente en mi prestashop cuando ocurrio el error 500

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable,

[2020-07-07 12:45] Hlavtox commented on #19810
@PierreRambaud Updated the issue description. After #19849 is fixed, how this can be solved?

[2020-07-07 12:49] sarahdib commented on #20004
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

Thank you!

[2020-07-07 12:49] #20004 closed, assigned to nobody

[2020-07-07 12:51] sarahdib commented on #20015
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

Thank you!

[2020-07-07 12:51] #20015 closed, assigned to nobody

[2020-07-07 12:57] #20025 closed, assigned to nobody

[2020-07-07 13:12] sarahdib commented on #20030
Hello @dorianelucas

Please be carful when you submitting screenshots, your BO link is visible.
I edit all of them.
Like @florine2623 said don't forget to change your admin folder for **security reason**.

Despite our efforts, we were not able to reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop core bug but most likely a server configuration or cust

[2020-07-07 13:12] #20030 closed, assigned to nobody

[2020-07-07 13:21] BlackKerio commented on #20025
@sarahdib @florine2623 I am surprised. The error needs to be corrected. does not apply to forms on this site. but  Updating order state throw **WEBSERVICE** .  thank you

[2020-07-07 13:28] matks opened #20084 "Create Back-Office page(s) to manage customer and employee sessions SQL tables"
In PS 1.7.6.6, in order to correctly handle user session expiration, two new SQL tables have been added to PrestaShop MySQL schema: `ps_customer_session` and `ps_employee_session`. These SQL tables are used for security purposes.

Each customer/employee will create one row inside one of these tables. Over time these tables will become very big.

Thanks to @kpodemski who performed a quick benchmark

[2020-07-07 13:28] matks commented on #20084
ping @PrestaShop/prestashop-core-developers @PierreRambaud @kpodemski

[2020-07-07 13:33] matks opened #20085 "The style of confirmation box for "single delete" has changed on some BO pages in 1.7.6.6"
#### Describe the bug

The style of confirmation box for "single delete" has changed on some BO pages in 1.7.6.6, such as "Attributes" or "Features" listings.

#### Expected behavior

We should, as much as possible, keep the style of the window used before. This change, by the way, broke some e2e tests.

**Screenshots**

![image (1)](https://user-images.githubusercontent.com/3830050/86789000-197cd

[2020-07-07 13:33] jf-viguier commented on #19957
I have an issue with swift mailer too https://github.com/PrestaShop/PrestaShop/issues/19711

[2020-07-07 13:33] matks commented on #20085
ping @boubkerbribri @Robin-Fischer-PS

This bug was reported by QA during 1.7.6.6 build and was considered not blocking for release.

[2020-07-07 14:02] Hlavtox commented on #19825
@PierreRambaud

This is the config. http://janwis.cz/info.php
They have some kind of proxy cache enabled on the servers, which need to be turned off by the customer support. Then it started to work. It even caches static files like images, csv files etc. Otherwise, Prestashop worked fine.

[2020-07-07 14:15] sarahdib commented on #20082
Hello

Please, send your request in English.
English is the norm on GitHub

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the

[2020-07-07 14:15] #20082 closed, assigned to nobody

[2020-07-07 14:45] #15373 closed, assigned to Progi1984, khouloudbelguith

[2020-07-07 14:46] Progi1984 commented on #15373
@colinegin Merged ;)

[2020-07-07 15:01] katerinatikhonova opened #20087 "Error 500"
#### Describe the bug

Hello

I was installing the module when suddenly the error 500 appeared so now I cant edit the page :(

http://tienda.katerinatihonova.com/

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, ad

[2020-07-07 15:08] mescalitog opened #20088 "es-AR translations errors"
#### Describe the bug

There are some translations mistakes in es-AR

in  ShopThemeCheckout.es-AR.xlf
[code]
should be

[code]

With the original file, in the checkout when the prices are displayed without taxes the legend incorrectly say

**Total con IVA (sin IVA)**

#### Expected behavior

In the checkout view Total (with or without taxes)

#### Steps to Reproduce

Steps to reproduce the behavio

[2020-07-07 15:42] pixelicous commented on #20037
@florine2623 I am using "Apparel" theme, which is a free theme you can find online.
Something must be up with my setup. I created a child theme of that theme to custom some areas, that worked. However if i jump back and forth to original theme, 2 modules i completely disabled become re-enabled - "customer reassurance" and the "customer account block", so even though i removed the customer reassura

[2020-07-07 15:48] matks commented on #20037
FYI someone reported a similar issue https://build.prestashop.com/news/prestashop-1-7-6-7-maintenance-release/#comment-4982835584

[2020-07-07 15:51] pixelicous commented on #20037
thanks for this, it seems like all hooks are actually gone (following what i wrote above), i only have displayReassurance hook now. I also pretty sure I'm right and the module configuration is missing a piece now where it shows where you can place the module (kind of like the default paypal "experience" tab), now i only have the option to configure the text but not where will it appear

[2020-07-07 16:06] gosrl commented on #19120
Hello,
I open this again because the problem happened again and I've seen one more strange behaviour.

The customer arrived on the shop from Idealo as a visitor and he told me he found the product at 426,32 € instead of 520 € (which is the amount tax Incl). Of course, he became a guest after the order.

I tried to make the same steps he made and to insert the exactly same data both on Delivery Add

[2020-07-07 16:26] TVBZ commented on #20057
@Hlavtox True. But why do it in Excel if you're allready in phpMyAdmin or simular? :)
I understand. In my case, the package varies depending on order size, but it's never more than 100 grams.

@JBWModules I agree. But it's not allways the case. If a certain product needs special packaging and it makes a big difference, I would add it to the product itself. Otherwise, I don't see the box becoming m

[2020-07-07 16:54] EukaPS commented on #20079
Same here after upgrading from 1.7.6.5 with 1click module.

In the console we can see :
Request URL: http://xxxx.com/admin/index.php?controller=AdminDashboard&token=4182a4a5b07c186d47a13f66a0d9ac61
Request Method: GET
Status Code: 302 Found

[2020-07-07 17:27] Betafer opened #20090 "URL Rewrite problem"
When you generate url in product > seo tab

If there are special characters in the product title, and the url is generated with the button for creation, these are not removed and the url is wrong, you have to correct it manually.

* PrestaShop version: 1.7.6.6 and above
* PHP version: 7.2

Here are screenshots of the problem

<img width="710" alt="Schermata 2020-07-07 alle 19 08 13" src="https://u

[2020-07-07 17:33] Betafer commented on #16741
Yes but is a workaround

[2020-07-07 18:40] kevin-schmitt commented on #19892
Hello,

Can you assign to me please for first contribution :) ?

[2020-07-07 19:37] drqp1983 opened #20091 "Admin url does no work"
#### Describe the bug
It shows a blank screen when I go to my admin panel, I click on the link and just takes me to a blank screen (see screenshot).

#### Expected behavior
When I click a my admin panel link I should take me to the log in screen.

#### Steps to Reproduce

Admin Panel:
1. Go to 'admin panel'
2. It shows a blank screen.

**Screenshots**

![1](https://user-images.githubusercontent.co

[2020-07-07 20:13] Markosaar commented on #11427
Another development wish is that delivery times should be identifiable by country or at least regionally, as they usually vary. But anyway, a really necessary module ... I'm really looking forward to it.

[2020-07-07 20:53] Eva-F opened #20093 "Template product-list.tpl contains not unique id attribute"
**the html output with not unique id="js-product-list-bottom"**
[code]

is caused by
**themes/classic/templates/catalog/listing/product-list.tpl** template
[code]
and

**themes/classic/templates/catalog/_partials/products-bottom.tpl** template
[code]

[2020-07-07 20:56] wlakin commented on #20079
I have same problem... after upgrading from 1.7.6.5 with 1click module.

[2020-07-07 22:03] simondaigre opened #20094 "Product default supplier reference is not updated"
#### Describe the bug

When updating a product, supplier_reference attribute should be updated with the reference from default supplier.

This was fixed by https://github.com/PrestaShop/PrestaShop/pull/11175 last year, but broken by https://github.com/PrestaShop/PrestaShop/commit/29bda43a552316fb4a29c60f44ff287230bce62f#diff-7d7493bae4eba5d548b7f7f88d16d7ea

This field is used by some ERP connecto

[2020-07-07 22:24] SimonGrn commented on #20079
Hello all,

this is concerning. Could you please give us:
- your original PrestaShop version
- your PHP version
- if you have any module related to BO access (a security module, perhaps ?)

Did you get any error during the upgrade ?

Thanks in advance.

[2020-07-08 04:53] barbosatrix commented on #14832
Estoy en la version 1.7.6.5 saben si aun presenta problemas, di vueltas y la unica opcion que encontre fue la de cambiar la columna precision como comenta Giorgo

[2020-07-08 06:43] deebug commented on #20079
Same problem. Using PHP 7.1, using memcache, using 1.7.6.7, no additional (backoffice) security modules present. Error log:
[Wed Jul 08 08:28:54.649345 2020] [lsapi:notice] [pid 362529:tid 140505193105152] [client X.X.X.X:26289] [host www.XXXXX.be] Backend log: PHP Notice:  Undefined index: class_name in /home/u40880p36579/domains/XXXXX.be/public_html/ecommerce/classes/controller/AdminController.p

[2020-07-08 06:58] kasugaicrow commented on #20079
@SimonGrn you can find Prestashop and PHP version under **Additional information** in the main thread. Also I haven't any module related to BO access.

[2020-07-08 07:24] Florkin commented on #11329
Hi,

Here is a dirty, but working solution for 1.7.6.5:

In src/prestashopBundle/Resources/view/admin/productPage/Forms/form_specific_price.html.twig
Replace {{ form_widget(form.sp_from) }} by html input, without datepickers class:
`<div class="input-group">
                    <input value="{{ form.sp_from.vars.value }}" type="datetime-local" class="form-control" id="form_step2_specific_price_sp_

[2020-07-08 07:25] Progi1984 commented on #19918
Fixed by #19937

[2020-07-08 07:25] #19918 closed, assigned to Progi1984

[2020-07-08 07:30] Florkin commented on #11329
Now we have to format correctly the date for database, since html datetime-local don't format like datepicker.
Go Src/Adapter/Product/AdminProductWrapper.php

Change function processProductSpecificPrice:
`
$dateFrom = new \DateTime($specificPriceValues['sp_from']);
        $dateTo = new \DateTime($specificPriceValues['sp_to']);

        $floatParser = new FloatParser();

        // ---- data forma

[2020-07-08 07:32] sarahdib commented on #20079
@kasugaicrow This bug appear only in the login page of the back office ? Can you login as customer in your front office, with old id ?

[2020-07-08 07:36] kasugaicrow commented on #20079
Added to the main thread.

Right now I can't give you further information because I did a rollback to a previous version.

[2020-07-08 07:37] Florkin commented on #11329
Now we have to reformat it for form displaying (when updating)
Go Src/PrestashopBundle/Controller/admin/SpecificPriceController.php

function updateAction:
`
$response = new JsonResponse();

        $formData = $request->get('form');

        $idProduct = isset($formData['id_product']) ? $formData['id_product'] : null;
        $formValues = $formData['modal'];
        $formValues['sp_from'] = $for

[2020-07-08 07:38] SimonGrn commented on #20079
Thank you, but I was asking for the old PS version you upgraded from.
This was also directed to @EukaPS, @wlakin and @deebug since they posted in the thread and we need to find some sort of common denominator: we're not able to reproduce with only the information provided in this thread.

[2020-07-08 07:47] SimonGrn commented on #20079
@EukaPS, @wlakin and @deebug could you try to log in after wiping your cache and cookies, please ?

[2020-07-08 07:52] kasugaicrow commented on #20079
@SimonGrn my bad. The version I upgraded from was a **1.7.6.5** whereas the PHP version was the same, so **7.2.30**. I haven't encountered any error during the upgrade.

For what concerns your question, yesterday I tried to wipe the cache and cookies but the result was the same

[2020-07-08 07:52] PierreRambaud commented on #20079
Could you also give us information on how hosted is your shop?
Nginx, apache, which versions?
Are there some apache modules / PHP modules?
Do you customize something in your BO about sessions / memcached management?

[2020-07-08 07:56] boubkerbribri opened #20095 "[BO Addresses page] - Error after saving new address"
#### Describe the bug

An error occurs when trying to add a new address in BO

#### Expected behavior

Address saved, no errors shown

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'BO -> Addresses page'
2. Click on 'Add new address'
3. Fill the inputs and click on save
4. See error

![image](https://user-images.githubusercontent.com/48441421/86892863-19c9b900-c101-11ea-9bd0-

[2020-07-08 08:01] kasugaicrow commented on #20079
@PierreRambaud added to the main thread.

[2020-07-08 08:01] Progi1984 commented on #20079
@kasugaicrow If you have some time for discussing with our core team, please connect on the Open Source Slack : https://join.slack.com/t/prestashop/shared_invite/zt-dkmbz5qf-I~FlEWwmRUOXunc5ui0Ucg

[2020-07-08 08:57] marionf commented on #20081
Hello,

Since the provided information isn't sufficient to reproduce the issue, we are closing it. Feel free to open a new one with all the requested information.

Thank you

[2020-07-08 08:57] #20081 closed, assigned to nobody

[2020-07-08 09:08] sarahdib commented on #20087
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

**Please be ca

[2020-07-08 09:08] #20087 closed, assigned to nobody

[2020-07-08 09:31] matthieu-rolland commented on #18892
Thank you for the suggestion @01park, the PR is ready to be reviewed:  #20096

[2020-07-08 09:48] khouloudbelguith commented on #18957
Fixed by https://github.com/PrestaShop/PrestaShop/pull/19947

[2020-07-08 09:50] matks opened #20097 "Trivial design issues in autoupgrade module display"
## End of process "no errors reported" badly written

After successfull upgrade to 1.7.6.6, autoupgrade module displays a console return a bit weird:
<img width="1182" alt="Capture d’écran 2020-07-01 à 16 28 33" src="https://user-images.githubusercontent.com/3830050/86904449-07f01200-c111-11ea-96a5-26a5812b9c01.png">
The last line is missing the number "zero". What we want to say is "zero errors r

[2020-07-08 09:54] matks opened #20098 "Improve "country restrictions" form construction memory usage in BO page "payment preferences""
#### Is your feature request related to a problem?

During 1.7.6.6 test, we believed we had introduced a mistake because we found that [BO page "payment preferences" crashes with 128M memory limitation and php5.6](https://github.com/PrestaShop/PrestaShop/issues/20012).

Thanks to an analysis by @atomiix we found it was not an issue from PS 1.7.6.6 but nonetheless this page consumes a lot of memory

[2020-07-08 09:54] matks commented on #20012
Long term issue to be solved in https://github.com/PrestaShop/PrestaShop/issues/20098

[2020-07-08 09:55] marionf commented on #20084
@matks Is it a regression of 1.7.6.6 ? Or an improvement ?

[2020-07-08 10:06] marionf commented on #20085
@matks as it's a regression, we should fix it for the 1.7.7
Are there other pages in addition to Attributes & Features ?

[2020-07-08 10:07] elboletaire opened #20099 "Properly define common logic to be able to reuse it everywhere, specially in modules"
#### Is your feature request related to a problem?

Creating modules in prestashop > 1.7 is currently a PITA due to how most of the code is structured. There's a lot of code that you need to copy-paste, because there are no helpers or these helpers are meant for specific entities, like products. Taking products as an example, there's a lot of logic here that could be generic and not specific to pr

[2020-07-08 10:08] matks commented on #20084
Improvement 😉

[2020-07-08 10:15] marionf commented on #20088
Hello,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- Language and country chosen during shop installation
- In International > Taxes, taxes are enabled or disabled ?
- How is configured the customer's group in Shop parameters > Customers settings > Groups: Display tax price incl or excl ?

You don't know how to get this informat

[2020-07-08 10:24] Hlavtox commented on #17729
@matthieu-rolland @eternoendless Bump, we need to fix this guys. 🙏 Would changing the minimum precision have any side effects? The number saved in the database and sent to payment gateway must be the same as the displayed price.

[2020-07-08 10:24] rdy4ever commented on #20091
Hi @drqp1983
You need to enable debug mode ([how](https://www.prestashop.com/forums/topic/575132-how-to-enable-debug-mode-on-prestashop-17-and-older-versions-turn-on-error-reporting-blank-page/)) and visit your admin url again in order to get some real error information displayed.

[2020-07-08 10:27] PierreRambaud commented on #20084
You know I approve since we already had this discussion :kissing_heart:

[2020-07-08 11:00] TVBZ opened #20100 "Link list module in left/right column"
#### Is your feature request related to a problem?

When transplanting the link widget to left or right column (for example on cms page), the blocks are created as columns inside the left/right column.

![image](https://user-images.githubusercontent.com/43469713/86911001-d8de9e00-c11a-11ea-91df-d9914a2052c2.png)

#### Describe the solution you'd like

In left/right column, the different link block

[2020-07-08 11:19] Sonialopezjuarez opened #20101 "Image before the product name on the delivery note"
#### Describe the bug

The image before the product name on the delivery note is not visible

#### Expected behavior

I expected the image of the product to be seen at dawn

#### Steps to Reproduce

Steps to reproduce the behavior:

1. I go to orders -> delivery notes
2. active product image
3. I give to save
4. And the product image is not seen in the delivery

**Screenshots**

If applicable, add

[2020-07-08 11:32] atomiix commented on #19711
Hi @jf-viguier, despite the fact that there is a problem with non-utf8 symbols in the error message, I'd say that if the email configuration is not good, emails should not be sent. Am I missing something?

The other problem with the `mail()` function is related to the update of Swiftmailer we made for 1.7.7.x that, in fact, [doesn't use the `mail()` function anymore](https://github.com/PrestaShop/

[2020-07-08 11:45] marionf commented on #20090
Hello @Betafer

What do you mean by "the url is generated with the button for creation" ?

If in your product name there is some specials characters non authorized in the URL they are automatically removed of the friendly-url field

[2020-07-08 11:50] marionf commented on #20091
Hello,

We can't manage 2 problems in an issue, please create a new issue about the reassurance issue.

About the blanck screen, could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- scree

[2020-07-08 11:52] Betafer commented on #20090
Hello
The button generate friendly url..
, as i tell is not so ....

[2020-07-08 11:55] marionf commented on #20093
@PrestaShop/prestashop-core-developers WDYT about that, is it a bug ? An improvement ?

[2020-07-08 12:03] matks opened #20102 "COLLATION placeholder not available in upgrade SQL scripts"
#### Describe the bug

PrestaShop relies on placeholders for its SQL install and upgrade scripts (see https://devdocs.prestashop.com/1.7/modules/creation/enabling-auto-update/).

This means that for example query
[code]
is, at runtime, transformed as
[code]

In install SQL scripts, 3 placeholders are available:
- ENGINE_TYPE
- PREFIX_
- COLLATION

But in SQL upgrade scripts, the COLLATION placehol

[2020-07-08 12:03] matks commented on #20013
Long term issue https://github.com/PrestaShop/PrestaShop/issues/20102

[2020-07-08 12:10] #18957 closed, assigned to Progi1984, khouloudbelguith

[2020-07-08 12:11] marionf commented on #20094
Hello @simondaigre

I can't reproduce the issue with the provided informations, here are the steps I followed:

1. Go to the BO > Catalog > Brands & Suppliers > Supplier > Create a new supplier & enable it
2. Go to Products > Add a product, enter the product name
3. Click on Options tab, select the supplier created before
4. Enter the supplier reference & save
5. Edit the product, click on options

[2020-07-08 12:13] mescalitog commented on #20088
Hi, thabks for the answer.

* Not sure about "Language and country chosen during shop installation", could be spanish.
* In International > Taxes (with taxes disabled in customer´s groups)
** if taxes are enabled the label is "Total con IVA (IVA incl.)" (something like Total with taxes (Tax Included).
![image](https://user-images.githubusercontent.com/10231443/86916795-81c8d100-c0fa-11ea-8690-c14d

[2020-07-08 12:21] simondaigre commented on #20094
Hi @marionf

The default supplier reference is not updated in database, `supplier_reference` should be updated too.

Tested with PS 1.7.6.5.

[2020-07-08 12:42] PierreRambaud commented on #19849
@Hlavtox Tell me if everything is ok with https://github.com/PrestaShop/ps_facetedsearch/pull/177 ? :)

[2020-07-08 13:11] sethsnel opened #20105 "TrackingNumberUpdate hook not executed if mail fails"
#### Describe the bug

In my module I've registered a hook with this name "actionAdminOrdersTrackingNumberUpdate".
When I update an TrackingNumber, this update gets saved in database. But if sending a mail to the customer fails, then executing the hook also fails.

#### Expected behavior

Always execute the hook when tracking number gets successfully updated to database. Even though email was not

[2020-07-08 13:17] sethsnel commented on #20105
It seems that it might have been already fixed in 1.7.7:
https://github.com/PrestaShop/PrestaShop/blob/1.7.7.x/src/Adapter/Order/CommandHandler/UpdateOrderShippingDetailsHandler.php

[2020-07-08 13:21] marionf commented on #20099
@PrestaShop/prestashop-core-developers wdyt of this improvement ?

[2020-07-08 13:23] #12565 closed, assigned to atomiix

[2020-07-08 13:24] pixelicous commented on #9818
Hi,
Is there a current tagged release date for this problem?
Would like to know if its in the horizon for a fix.

[2020-07-08 13:25] Progi1984 commented on #16471
Level 1 :ok_hand:

Go Level 2 :snail:

[2020-07-08 13:29] marionf commented on #20100
Hello,

I was able to reproduce the issue with PrestaShop 1.7.7.0

![capture d'écran_2709](https://user-images.githubusercontent.com/13449658/86924461-cb7fde80-c12f-11ea-85d1-4ddad6b35c43.png)

I’ll add this to the debug backlog so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please send us a pull request!

Thank you!

[2020-07-08 13:58] jf-viguier commented on #19711
This ssue is about non-utf8 symbols in the error message.
Thanks for explanations about mail function not supported anymore, the bo should remove this option.
Can we consider that it's a regression ?

[2020-07-08 14:06] guirou62 commented on #9972
I have the same problem and I think I succeed to correct it.

- In file classes/Product.php, go to function updateAttribute().
- Approx line 1857, you have this code
`$price = str_replace(',', '.', $price);
$weight = str_replace(',', '.', $weight);`
- Add the code just after : `$wholesale_price = str_replace(',', '.', $wholesale_price);`

Don't hesitate to tell me if it works for you.

Have a nice

[2020-07-08 14:08] marionf commented on #20101
Hello,

Despite our efforts, we were not able to reproduce your issue with the provided information with PrestaShop 1.7.6.7

![capture d'écran_2710](https://user-images.githubusercontent.com/13449658/86928681-2a942200-c135-11ea-93c3-123c3a538d29.png)

I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thank you!

[2020-07-08 14:08] #20101 closed, assigned to nobody

[2020-07-08 14:09] marionf commented on #9972
Thanks for diving into this @guirou62

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2020-07-08 14:13] marionf commented on #20102
@matks I don't how important this is, should we fix it for 1.7.7.0 ?

[2020-07-08 14:15] matks commented on #20079
@kasugaicrow @EukaPS @wlakin @deebug We are investigating the shop of someone who seems to observe the same issue.

The root cause of him unable to log-in is because SQL tables ps_customer_session and ps_employee_session are missing in his database. These SQL tables are new since 1.7.6.6 and needed for security purposes. They should have been added to your database when upgrading to PS 1.7.6.6.

C

[2020-07-08 14:17] matks commented on #20091
@drqp1983 We are investigating the shop of someone who seems observe an issue that might be related to yours.

The root cause of him unable to log-in is because SQL tables ps_customer_session and ps_employee_session are missing in his database. These SQL tables are new since 1.7.6.6 and needed for security purposes. They should have been added to your database when upgrading to PS 1.7.6.6.

Could

[2020-07-08 14:17] matks commented on #20102
No, it's not critical. It would be a nice improvement for prestashop in the long term.

[2020-07-08 14:20] marionf commented on #20105
Hello @sethsnel

We already released the [1.7.7.0 beta](https://build.prestashop.com/news/prestashop-1-7-7-0-beta-release/) about 2 months ago and we are going to release the first release candidate very soon, so stay tuned !
Of course, you can test the beta right now or wait a few week to test the release candidate :)

As your problem is fixed in 1.7.7.0 I close this issue, feel free to open a ne

[2020-07-08 14:21] #20105 closed, assigned to nobody

[2020-07-08 14:22] kasugaicrow commented on #20079
@matks both I see these tables in my database but both are empty in my case

[2020-07-08 14:25] sethsnel commented on #20105
@marionf hmm I seem to be unable to upgrade 1.7.7. from beta release channel with the 1-click upgrade module.
In what other way could I easily upgrade? Do you have a suggestion?

![image](https://user-images.githubusercontent.com/3225809/86930653-83fd5080-c137-11ea-9594-9d441287caaf.png)

[2020-07-08 14:27] matks commented on #20079
Would it be possible to discuss further together on Slack ?
https://join.slack.com/t/prestashop/shared_invite/zt-dkmbz5qf-I~FlEWwmRUOXunc5ui0Ucg

[2020-07-08 14:30] marionf commented on #20105
You shouldn't upgrade your production shop to a beta version as it's a pre-release, this why the upgrade to the 1.7.7.0 isn't possible
But you can download it and test it :)

[2020-07-08 14:32] #19999 closed, assigned to nobody

[2020-07-08 14:32] sethsnel commented on #20105
It's actually not really a production shop. It's a shop in production environment we use solely to develop Prestashop modules.

So they only way to upgrade is manually by uploading version 1.7.7 to the server?

[2020-07-08 14:47] marionf commented on #20105
You can choose to use a local archive in the autoupgrade module

[2020-07-08 15:01] TVBZ commented on #20100
@marionf I worked around the issue with only a few lines of css:

`#left-column .links {
    float: none;
    width: 100%;
}

#left-column .links .wrapper {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
}`

But it would probably be better to have seperate .tpl for the left/right column.
It would allow some other improvements like heading format.

Cheers

[2020-07-08 15:31] Hlavtox commented on #19849
@PierreRambaud No difference. It indexes only first 100 products.

Without your PR, it outputs 1 at the end, with your PR, it outputs ID of the last product indexed.

[2020-07-08 15:32] matks commented on #20093
Using duplicate id attribute values is invalid HTML, as HTML specification clearly states that attributes must be unique.

Most browsers can handle duplicate ids, but theoretically they can cause issues if the JavaScript is parsing or calling DOM elements based on these id values.

This is a bug, and the primary issue will be for modules, and this might hurt SEO (I dont know if SEO score is impact

[2020-07-08 15:32] matthieu-rolland opened #20108 "[BO] Color picker doesn't recognize html color name on page load"
#### Describe the bug

In BO, the color picker allows to pick a color, but also to write an HTML color name, like "blue" or "red" for example. When we type "red", the color automatically switches to red, this is working, and the value"red" is properly saved when we push the form.

But if you go back, in edit mode, the field will have the value "red", which is correct, but the color will remain bla

[2020-07-08 15:33] matthieu-rolland commented on #20108
I reproduced this issue on 1.7.6.x, 1.7.7.x and develop.

[2020-07-08 15:35] Hlavtox opened #20109 "Faceted search rebuild index counter is not working"
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create 500 products.
2. Go to Faceted search setting.
3. Hit Rebuild price index button (second from the left)
4. The button will show 100 prices to index all the time. It should show a total count of products decreasing by hundreds.

#### Additional information

* PrestaShop version: 1.7.6.2
* PHP version: 3.5.0

I made this just for "

[2020-07-08 15:45] matks commented on #20084
I pinged you in case you wanted to provide additional ideas / suggestions to the topic 😉

[2020-07-08 15:47] matks commented on #20085
Any listing still being rendered by legacy (= not symfony) code, that has a "single delete" action.

[2020-07-08 16:06] matks commented on #16477
No, there is nothing wrong about using ArchLinux in production.

The main issue we have right now is that PHP is evolving too fast and with too much breaking changes between minor versions. The changes being introduced between php7.2, php7.3 and php7.4 require a huge amount of time and energy to be handled correctly on PrestaShop side, and our current team size only allows us to provide this amoun

[2020-07-08 16:09] #20055 closed, assigned to nobody

[2020-07-08 16:31] deebug commented on #20079
These tables were not in my database, I've created them using the [SQL create table statements](https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/install-dev/upgrade/sql/1.7.6.6.sql).

[code]

In my case PREFIX was default "pr" and using a default MySQL database, ENGINE_TYPE was InnoDB.

[2020-07-08 16:37] SH4LT1S opened #20110 "Lithuanian translation errors"
Image 1: https://ibb.co/WfPm5N0
EN version: https://ibb.co/yN0cpSd

Image 2: Should say not "Su PVM" but "PVM Suma" below full price
https://ibb.co/7jDh003
EN: https://ibb.co/x3rLQL4

[2020-07-08 16:43] pixelicous commented on #11105
< Same issue 1.7.6.7, phpfpm,nginx
Website is in maintenance mode without traffic..

[2020-07-08 16:58] elboletaire commented on #20099
This has been tagged as `Modules`, but they would actually be core changes and improvements (even though these improvements would benefit everyone, including module and theme developers).

[2020-07-08 18:08] TVBZ opened #20112 "Bootstrap 4.0.0 limited css support"
#### Is your feature request related to a problem?

Some features of bootstrap 4 are not working. For example, it's not possible to rearange the order of columns.
After long searching, I found it is because PS is using bootstrap **4.0.0-alpha.5** and the [Bootstrap 4.0 order classes](https://getbootstrap.com/docs/4.0/layout/grid/#order-classes) are not supported.

Since PS is using Bootstrap 4.0,

[2020-07-08 19:40] juraj1000 opened #20113 "Country code with postal code in international address"
#### Is your feature request related to a problem?
There is missing a possibility to use country code with postal code in international address.

#### Describe the solution you'd like
International address uses prefix "CC-" before postal code, where CC is country ISO code., e.g:
FR-12345 Paris
DE-45678 Berlin

The country code is usually used in international address, in local address the postal c

[2020-07-08 19:54] wlakin commented on #20079
I've upgraded from 1.7.6.5 version.
PHP version: 7.2.29
Apache 2.4.43
No extra Apache/PHP modules installed
No extra customization about session and No memcached
I cannot login in BO also as customer to FO.

No ps_customer_session and ps_employee_session tables

Thanks  @deebug :) After yours solution it work's :)

[2020-07-08 20:52] matks commented on #20112
Hi, I'm afraid we are well aware of this issue (and we agree it's a big issue) but there is nothing we can do.

See [this answer](https://github.com/PrestaShop/PrestaShop/issues/14533#issuecomment-511464778) from @eternoendless :
"The development team in charge of the original 1.7 decided, back in the day, to develop new themes ("classic" for the FO and "new theme" for the BO) using the not-yet-re

[2020-07-08 20:53] matks commented on #14533
I think this discussion is complete so I close this issue.

[2020-07-08 22:19] ahmelg commented on #9809
I have the same problem. I have version 1.7.6.5 with products with 702 combinations, it crashes when I save.
Have you solved the problem?

[2020-07-09 01:48] 5koder commented on #16103
@marionf When is this going to be added? I cannot edit my products with a lot of combinations.

[2020-07-09 06:09] sethsnel commented on #20105
@marionf thanks for the support!

[2020-07-09 07:06] juraj1000 opened #20115 "Display discount without decimals"
#### Is your feature request related to a problem?
We use product prices without decimals. Also we use discounts and we want to display discount as percentage of amount. It works correctly but the percentage is displayed with 2 decimal places, we'd like to display percentage without decimal places.

#### Describe the solution you'd like
Example:
Product price: 170,00 €
Required discount: 31,00 €
D

[2020-07-09 07:13] florine2623 commented on #20110
Hi @SH4LT1S ,
Could you follow the issue template ?
Explain the steps to reproduce the issue ?
What version of PS you are using ?
etc
Thanks!

[2020-07-09 07:34] florine2623 commented on #20113
Hi @PrestaShop/prestashop-product-team ,

@juraj1000 is suggesting a new feature regarding international addresses.
What do you think about his idea ?

Thanks!

[2020-07-09 07:39] SH4LT1S commented on #20110
1.7.6.7

Front page as customer, change language to Lithuanian and just add something to basked,

[2020-07-09 07:44] TVBZ opened #20116 "Main menu disables itself automatically"
#### Describe the bug

When making changes in modules (module manager) and positions (design -> positions), the main menu module disables itself automatically. I can't pinpoint when exactly this happens, but it's pretty clear it's allways after making changes in positions or modules.

#### Expected behavior

If the module is enabled, it should remain enabled.
It should only be disables when it is

[2020-07-09 07:48] TVBZ commented on #20112
@matks Hah, thanks for pointing that out. I understand.
My theme is allmost finished so it's too late to switch to classic-rocket. But thanks for that!
For now, I will work around it with some custom css.

[2020-07-09 07:50] matks commented on #20112
Closing the issue as I think the discussion is complete

[2020-07-09 07:50] #20112 closed, assigned to nobody

[2020-07-09 08:25] beyondsagency commented on #14935
Hi, we have issue with autoAddToCart ligne 463 of cart.php, in production this function timeout and remove all carriers in checkout.

[2020-07-09 08:39] florine2623 commented on #20115
Hi @juraj1000 ,
Thanks for the suggestion. I will ping our product team know about it !
Stay tuned !

[2020-07-09 08:46] florine2623 commented on #20115
Hi @PrestaShop/prestashop-product-team ,

@juraj1000 has a feature request.
When using no decimals in the price display, he would like to have the discount percentage in FO also without decimals.
Now the discount percentage looks like that in both 1.7.6.5 and 1.7.7.0 :
![Capture d’écran 2020-07-09 à 10 41 26](https://user-images.githubusercontent.com/16019289/87017948-ed7d6d80-c1d0-11ea-9cc0-fff

[2020-07-09 08:49] Webgaict opened #20119 "Module activation blocked 1.7.5.1"
When I try to install the "Form builder pro" module it gives me an error like this: The gformbuilderpro module could not be enabled. Unable to install override: The initContent method in the CmsController class is already canceled by the appagebuilder module version 2.2.3 at 2019-06-18 15:14:41 .blocked "
How can I solve it?

[2020-07-09 08:57] MatShir commented on #16103
Hi @5koder,
This feature is planned for version 1.7.8 so for the end of the year. How many attributes do you have by product?

[2020-07-09 09:06] juraj1000 commented on #20115
Hi,
we use decimals in price display like 170,00 € or 139,00 €, so this requirement is only for displaying discount percentage without decimals

[2020-07-09 09:07] florine2623 commented on #20116
Hi @TVBZ ,
I tried to reproduce your issue in PS 1.7.6.5 and 1.7.7.0 without success.
I followed the full step 2 of your issue, the main menu is still enabled and displayed on the front.
Here's a screen recording : https://drive.google.com/file/d/14aoE6z0AOhWuw2Zsbs_snj0D9ktpI6Ja/view
Thanks!

[2020-07-09 09:08] EukaPS commented on #20079
Works too on my side after @deebug analyze ; Nginx/PHP7.2-fpm ; PS 1.7.6.5 to 1.7.6.7 ; Thanks for helping

[2020-07-09 09:10] florine2623 commented on #20119
Hi @Webgaict ,
For this issue you should contact the developer of the module or the support team here : https://addons.prestashop.com/en/388-support
Thanks!

[2020-07-09 09:10] #20119 closed, assigned to nobody

[2020-07-09 09:17] florine2623 commented on #19839
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-07-09 09:17] #19839 closed, assigned to nobody

[2020-07-09 09:20] matks commented on #19498
I think this is fixed now
<img width="246" alt="Capture d’écran 2020-07-09 à 11 18 25" src="https://user-images.githubusercontent.com/3830050/87021946-194f2200-c1d6-11ea-9a7a-8b594bc6e887.png">
<img width="249" alt="Capture d’écran 2020-07-09 à 11 19 34" src="https://user-images.githubusercontent.com/3830050/87021950-1a804f00-c1d6-11ea-8680-913925f35bbc.png">

Screenshots from PS 1.7.7.0 and P

[2020-07-09 09:20] florine2623 commented on #19935
You can choose to make them compatible or not. You are free of your actions regarding the discounts.

[2020-07-09 09:50] bm-services commented on #18961
Hello,
We reproduce this bug.
I aggree with you, I think this bug are not related with #18792 but with #19557.
It's an important bug because we can't upgrade PrestaShop versions < 1.7.6.5 to versions 1.7.6.5 and superior...

[2020-07-09 09:54] florine2623 commented on #20110
Regarding the Title (P. and P.), should it be changed to something specific ?
If you need to change it, you can go to Shop Parameters > Customers > Titles

For the first image, in the consent bar, you need to change the module GDPR.

[2020-07-09 09:56] florine2623 commented on #20110
Hi @Junebyun ,

@SH4LT1S would like to change the mention "Included taxes" in the shopping cart, to "tax amount" in Lithuanian.
EN : https://ibb.co/7jDh003
LT : https://ibb.co/x3rLQL4

PVM Suma : VAT amount
Su PVM : with tax

Thanks!

Do you think that's relevant ?

[2020-07-09 10:02] matks commented on #19557
@atomiix I think this bug is fixed by https://github.com/PrestaShop/PrestaShop/pull/19010 right ?

[2020-07-09 10:03] florine2623 commented on #19633
Hi @PrestaShop/prestashop-product-team ,

@aecarlosae is suggesting using Varnish on PrestaShop.
Do you think that could be done ?

Thanks!

[2020-07-09 10:03] matks commented on #18961
If I am not wrong, the code is fixed in 1.7.6.6 by this PR https://github.com/PrestaShop/PrestaShop/pull/19010.

We will unfortunately not be able to fix versions 1.7.6.0 to 1.7.6.5 because they are already released and it would be very bad to modify a release already public.

[2020-07-09 10:27] atomiix commented on #19557
@matks yep!

[2020-07-09 10:27] #19557 closed, assigned to nobody

[2020-07-09 10:29] atomiix commented on #19557
Duplicate of #18723

[2020-07-09 10:35] SH4LT1S commented on #20110
When its **P** and **P**, customers cant tell the difference between Ponas (Mister - **Mr.**) and Ponia (Missus - **Mrs.**) so in Lithuanian it should be full title not the short version.

[2020-07-09 10:41] SH4LT1S commented on #20110
In English **Total (tax incl.)** means that the price shown (in my screenshot 9,34) includes taxes. = Total (tax included)
And then below it says **Included taxes:** (my screenshot 1.62) so customers know how much from total amount of 9.34 is taxes (1.62)
In Lithuanian **Viso (su PVM)** mean same as in English (price including taxes) but below **Su PVM** 1.62 should say **PVM suma**

[2020-07-09 10:59] javierVP opened #20120 "Email template error: payment for transfer, order from the back end, variables not replaced"
When I make an order from the back end when choosing the bank transfer payment method, the mail comes to me well but the payment data is not shown, but the variables are shown.
I leave a screenshot so you can see what I mean.

PrestaShop 1.7.6.5
Php 7.2
![Captura de pantalla 2020-07-09 a las 12 56 29](https://user-images.githubusercontent.com/42347565/87031838-f0ce2480-c1e3-11ea-98ae-8bac0d6c1870.

[2020-07-09 11:49] matks commented on #19633
Hi, if I am not wrong, the feature request is rather 😉 :
- make PS varnish-compliant on front-office
- make PS varnish-compliant on back-office
- explain in devdocs how to setup Varnish to be used on PS BO and/or FO

[2020-07-09 12:04] atatos commented on #12300
@khouloudbelguith any news about this bug ? is it fixed ?

[2020-07-09 12:14] florine2623 commented on #20031
Ok thanks for letting me know.

You can also check your log file.

[2020-07-09 12:16] musaffar-patel opened #20121 "Webservice returns 401 error for Preflight checks by browser"
Hi

I'm developing a web app which will consume Prestashop webservice APIs from a different server.  I have correctly set up the cross domain policy headers on the Prestashop server and these have been tested and are working as expected.

However, when the app attempts to consume an Webservice API request, the browser first performs a preflight check by performing an OPTIONS request.  This request

[2020-07-09 12:21] bm-services commented on #18961
Ok ! I had not found PR #19010.

Thanks for information !

[2020-07-09 12:22] matks commented on #20121
This is the default security behavior for browsers indeed.

I think PS webservice was built for server-to-server exchanges, not browser-to-server. This is why OPTIONS requests are not handled.

[2020-07-09 12:24] elboletaire commented on #9972
I can confirm @guirou62's change fixes this issue.

[2020-07-09 12:29] musaffar-patel commented on #20121
Hi

Does it not make sense to handle option requests, at the very least disable authenticating them otherwise it is impossible to consume webservices from other web based apps.

In the mean time, would you know which file I should modify to prevent authenticating an Options request?

Kind Regards
Musaffar

[2020-07-09 12:44] florine2623 commented on #20120
Hi @javierVP ,

I can't reproduce your issue on my test shop.
Can you check your log file in /var/log ?

Thanks!

[2020-07-09 13:07] 5koder commented on #16103
@MatShir I have about 100 attributes (~700 combinations) all with their own images. It's a 'build a bag' sort product. Is there way I can get around the problem for now? Other than using software like Store Manager for Prestashop?

[2020-07-09 13:10] matks commented on #20121
The entry point for webservice http requests is https://github.com/PrestaShop/PrestaShop/blob/develop/webservice/dispatcher.php

Yes indeed.

I think for this usecase the OPTION request only needs a basic HTTP 200 response with body `Allow: OPTIONS, GET, POST`, right ?

@PierreRambaud would it make sense to have, somewhere in the BO, a small setting On/Off to enable, and when you enable it then th

[2020-07-09 13:29] RainManCZE commented on #11014
I had the same issue but it had nothing to do with a template.
I have solved it by increasing max_size in php.ini on server, it appears import died on too big images.

Worked like a charm.

[2020-07-09 13:40] khouloudbelguith commented on #12300
Hi @atatos,

As commented here: https://github.com/PrestaShop/PrestaShop/issues/12300#issuecomment-472992465, there is an available workaround.
This issue is still en todo.

Thanks for your understanding!

[2020-07-09 13:46] atomiix commented on #20079
Hi all,

After a bit more investigation, I would say that the root cause is either the extraction of the 1.7.6.7 archive that doesn't complete for some reason or, once extracted, the copy of those extracted files to the actual shop that doesn't complete.

In both case, a complete log of the 1-click upgrade module would be appreciated to be able to see where exactly something went wrong. The conten

[2020-07-09 13:52] marionf commented on #9972
Good news, making a PR will allow to see this issue fixed :)

[2020-07-09 14:13] musaffar-patel commented on #20121
Thanks, your suggestion to have a switch in the back office makes good sense.  In the mean time I'll take a look at dispatcher.php, thanks for pointing me in the right direction.

Kind Regards
Musaffar

[2020-07-09 14:30] florine2623 commented on #20029
I ran that command :
`php -f add_order_state_ps15.php`
And I'm having an error.
Could you possibly do you and screen record it ?

[2020-07-09 14:52] hugolin69 commented on #10274
Hi, on a 1.7.6.7, I reach something close.
On a fresh shop, I move to multistore.
I share the quantities, not the customers and orders.
When I try to save the product, after changing the quantity in stock, I have a 500 error, without log, without information. If I re-push "Save", it save it. Always need to save twice.
If I go on a context monostore, it works well.
An y idea?

[2020-07-09 15:18] elboletaire commented on #9972
If @guirou62 doesn't say anything, I can do that PR tomorrow for him instead.

[2020-07-09 15:42] msaustral opened #20825 "On version 2.2.0 is sending email to all employees with no vendor profile"
Hi the version 2.2.0 is sending out of stock email to all employees with no vendor profile, it should only send the out the stock email to the email that are configure on the module.

![image](https://user-images.githubusercontent.com/46203943/87061050-418c5000-c1d9-11ea-93d6-3bd2474c114e.png)

[2020-07-09 15:54] matks commented on #19940
I think it make sense. All hooks related to one product should pass the `$product` object to allow accurate customization from modules and themes.

[2020-07-09 15:55] matks commented on #19940
@elburgl69 I can make the PR, it's very easy. Or do you want to do it ?

[2020-07-09 16:07] deebug commented on #20079
@atomiix the odd thing is, I cannot find those files. The only files present are `index.php`, a directory `backup` also containing only `index.php`

![image](https://user-images.githubusercontent.com/4797720/87063531-c9d91800-c20e-11ea-9fc3-411eecc6c03d.png)

[2020-07-09 16:08] atomiix commented on #19957
Hi all,

After further investigation, it looks like the root cause of this issue is that we're not using the `mail()` function anymore **for security reasons** and using `/usr/sbin/sendmail` instead, which led to use `proc_open`. You can have a bit more information in the description of #20124 .

Unfortunately, for this new method, `proc_open` is mandatory. You can either change your php configura

[2020-07-09 16:08] #19957 closed, assigned to atomiix

[2020-07-09 16:10] florine2623 commented on #20094
Hi @simondaigre ,
When modifying the supplier reference in the product page, it is updated in the table `ps_product_supplier` in attribute `product_supplier_reference`.

[2020-07-09 16:26] #19974 closed, assigned to matthieu-rolland, khouloudbelguith

[2020-07-09 16:32] atomiix commented on #20079
@deebug did you rollback? It could be the reason why.

[2020-07-09 16:58] matks commented on #16451
Spent some time today on this, woah there is so much logic in this controller 😅  and it's mixed with controller logic (handling error messages, redirect ...) so it's hard to isolate this stuff.

[2020-07-09 17:05] matthieu-rolland commented on #17729
@Hlavtox, @colinegin  I take this issue, I'll see what can be done about this and come back with a proper solution if possible.

[2020-07-09 17:11] simondaigre commented on #20094
@florine2623 yes, and `supplier_reference` in `ps_product` table should also be updated with default supplier reference.
This was confirmed by QA in https://github.com/PrestaShop/PrestaShop/pull/11175.

[2020-07-09 17:31] jf-viguier commented on #16451
@matks good luck !

[2020-07-09 18:51] ChazyTheBest opened #20127 "Rework of the project structure. Using FallbackResource instead of Rewriting."
#### Is your feature request related to a problem?

Yes:

1. The use of .htaccess and mod_rewrite is not efficient at all, so instead I simply use FallbackResource. If I enable SEO/friendly URLs some images in the html won't have a correct URL (due to .htaccess files and mod_rewrite being disabled).

2. The current structure is a mess, mainly because most of the files are not needed inside the doc

[2020-07-09 19:02] hugolin69 commented on #19846
Hi,
There is so much to say. Yes, this topic is EPIC.

- Pack stock incorrect after order when choosing to decrement both #9671
The last point works also when choosing "Decrement only the products of the pack".
If you try to order a pack in this case, it will decrease the physical quantities, instead of decreasing the virtual quantity of the source product, the stock page will not show the good qu

[2020-07-09 19:03] kermito opened #20128 "Impossible to affect payment method to a shipping method that have the same name of already configured shipping method"
#### Describe the bug

It's impossible to affect payment method with new shipping method that has the same name of a previously configured shipping method. So there's no possibility to affect payment method to that new shipping method, and it's impossible to order with it.

#### Expected behavior

This should list 3 lines, one for each shipping method even if they have the same name

#### Steps to

[2020-07-09 19:15] pixelicous commented on #20037
I did a "reset" for the module, then upgraded it again. It seems like all functionality is back. I can actually change the links of the policies, where they appear etc. I now have "content, "display" and "appearance" once again

[2020-07-09 19:15] #20037 closed, assigned to nobody

[2020-07-09 20:02] DiegoStefanon commented on #14663
Same error to me, ..."\mails\themes\modern\core\account.html.twig" is not defined."
 MODERN folder deletion seems to solve the problem...

A lot of users with this problem ...
hehehe   it's a joke ? ;-) it seems to me

[2020-07-09 20:16] Djangoum opened #20129 "BO Notifications bell not showing anything"
#### Describe the bug

New customer registrations and new orders are not beeing shown in my BO notification section

#### Expected behavior

When a new customer or new order is registered, the notification is shown in the bell and within the proper section

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make an order in the FO
2. Open BO
3. Look at notifications at the top right sec

[2020-07-10 00:52] passio777x opened #20130 "Impossible to affect payment method to a shipping method"
Hi, I can't affect payement method to a shipping method. When I create a new shipping method, all payement method are automatically associated. However, if I try to modify assignation or even just click on "Save", all tickbox become unchecked and it's impossible to check them anymore.

**The main problem is that there is no error message, no warning, nothing.**

I noticed I had 2 carrier with same

[2020-07-10 05:56] deebug commented on #20079
I did not rollback, all I had to do is to create the two missing tables. My installation broke after using the auto update, using the "App Installer", it's an external application located in my hosting administration panel. It's never a good idea to auto update in a live environment. Fortunately in this case it wasn't live yet.

[2020-07-10 06:27] #16412 closed, assigned to khouloudbelguith

[2020-07-10 07:13] MatShir commented on #19519
Issue:
- [ ] #9752

[2020-07-10 07:14] MatShir commented on #19524
**Features**
- [ ] #12773 - #9631

[2020-07-10 07:22] florine2623 commented on #20128
Hi @kermito ,

Here's the PR: #12379 to fix the issue.
It is fixed in the next major release PS 1.7.7.
Your ticket is a duplicate of #16094

So I'll close the issue.

[2020-07-10 07:22] #20128 closed, assigned to nobody

[2020-07-10 07:28] florine2623 commented on #20127
Hi @ChazyTheBest ,
Thanks for the suggestion, I will ping our teams so they can decide what to do about it !

Please stay tuned.

[2020-07-10 07:30] florine2623 commented on #20127
Hi @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-product-team ,

Do you think it would be a possibility to rework on PrestaShop's whole structure ?

Thanks!

[2020-07-10 07:32] Progi1984 commented on #18967
@matks Can we close this issue ?

[2020-07-10 07:37] elburgl69 commented on #19940
If you have time, please do. Thnks.

[2020-07-10 07:38] florine2623 commented on #20129
Hi @Djangoum ,
I can't reproduce your issue in PS 1.7.6.7.
Did you upgrade your shop ? or is it a fresh install ?

When you enable debug mode and re-do the steps, are there any errors on the way ?

Thanks!

[2020-07-10 07:38] matks commented on #18967
Yes we can :)

[2020-07-10 07:38] #18967 closed, assigned to nobody

[2020-07-10 07:40] florine2623 commented on #20130
Hi @passio777x ,
Is your issue related to https://github.com/PrestaShop/PrestaShop/issues/20128 ?
Thanks!

[2020-07-10 07:55] ettoredn commented on #16477
"The main issue we have right now is that PHP is evolving too fast and with too much breaking changes between minor versions"

The main issue you have right now is that PrestaShop is evolving too slow and relies on deprecated PHP functionalities.

[2020-07-10 07:57] Djangoum commented on #20129
My shop is an upgrade i upgraded from 1.7.5.x  yo 1.7.6.7.

When i do the steps with the debug mode ON. I get no more than not found translations.

[2020-07-10 07:58] juraj1000 opened #20131 "Select some in Pack of product with combinations in order to get a discount"
#### Is your feature request related to a problem?
We'd like to use a pack of product with combinations where would be a possibility to select some single items from this pack in FO.

#### Describe the solution you'd like
We sell books and we want to create the pack of product with e.g. 5 items, these items are single books. We want to use discount if user will choose any 3 books from this pack.
T

[2020-07-10 08:04] eternoendless commented on #17729
Setting the minimum computing rounding to 0 will effectively prevent you from selling articles at a price less than 1. Eg. if a the currency § does not have cents, but you sell nails for §0,25 each, if you add 4 nails to your cart you might end up paying §4 instead of §1

[2020-07-10 08:07] matthieu-rolland commented on #17729
I would say it's the merchant's responsibility not to set this kind of prices when he wants to set his precision to 0.

[2020-07-10 08:12] Hlavtox commented on #17729
@eternoendless @matthieu-rolland

Exactly, if you want to sell screws for 0.1 CZK, you will set your precision to 2.

IMHO, the calculating precision should match the displayed one.

[2020-07-10 08:15] colinegin commented on #20115
Hello @juraj1000 ,

I'm not sure I get your point. You said you use prices without decimals, so if I understand correctly, when setting a discount in percentage (18%), then the display price will be 139€ and not 139,40€. Am I wrong ?

[2020-07-10 08:18] florine2623 commented on #20131
Hi @juraj1000 ,
Thanks for the suggestion.
Could you share the steps of that feature ?
example :
1. in BO, create pack of 5 products
2. in FO, customer chooses 3 products of the pack
3. etc

Can you also share screenshots of what it would look like in both BO and FO ?
Thanks!

[2020-07-10 08:22] juraj1000 commented on #20115
Hello @colinegin,
we use prices without decimals, but we display prices with decimals. It means we use amounts in € without cents but we   always display cents as zeros, e.g.:
170,00 €
139,00 €

[2020-07-10 08:23] matks commented on #19940
Here it goes 😄  https://github.com/PrestaShop/PrestaShop/pull/20132

[2020-07-10 08:27] JBWModules opened #20133 "Ajax Cart can't be switched off in 1.7."
#### Describe the bug

When deactivating ajax cart in module ps_shoppingcart, the cart button on product page does not do anything anymore.

#### Expected behavior

Redircetion to cart page after adding to cart

#### Steps to Reproduce

Steps to reproduce the behavior:

a. Deactivate ajax cart in module ps_shoppingcart
1. Go to Product page
2. Click on 'Add to cart
3. Nothing happens

**Screenshot

[2020-07-10 08:28] mvorisek commented on #16477
I agree.

One issue is using deprecated PHP functionalities and/or bad practises from the beginning (old very historically).

Another, I I think the primary one, issue is how PrestaShop wants support modern libraries. Here is my ticket for upgrading Symfony and Guzzle: https://github.com/PrestaShop/PrestaShop/issues/17300 Guzzle 5 is a long time EOL (even no security updates), Symfony 3.4 is very

[2020-07-10 08:28] colinegin commented on #20115
I don't see any cents in the example above (screenshot)...

[2020-07-10 08:36] matthieu-rolland commented on #17729
@Hlavtox in the future, maybe 1.7.8, we would like the computing precision to be higher than the display precision, so that calculations are more precise, otherwise, you can have a small cents offsets, that become more and more important on high quantity orders.

But this is not fixed in 1.7.7, for now we want the computing precision to match the display precision. The ZERO precision is indeed a v

[2020-07-10 08:43] matks commented on #16477
We are not keeping and maintaining old technologies because this is fun. Actually this is a very heavy burden and it is quite sad to see your harsh critics when we spend so much time on it. But all the time and energy we spend on _preserving compatibility_ is actually very well appreciated by the businesses owners who need it.

PrestaShop is used by many business which cannot keep up with the curr

[2020-07-10 08:43] colinegin commented on #19793
I find the idea interesting. I'm just not sure of the words you proposed for this new feature. "Not calculated" might be unclear for the merchant who configures his carrier. Wdyt @Junebyun ?

[2020-07-10 08:48] colinegin commented on #19892
Go ahead @kevin-schmitt ! Just don't forget to associate this issue to your PR :)

[2020-07-10 08:50] khouloudbelguith commented on #20133
Hi @JBWModules,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10025
So, I close it.
Thanks!

[2020-07-10 08:50] #20133 closed, assigned to nobody

[2020-07-10 08:50] khouloudbelguith commented on #20133
Duplicate of #10025

[2020-07-10 08:51] colinegin commented on #17282
ping @matks what's the status of this issue ?

[2020-07-10 08:58] colinegin commented on #18210
ping @MatShir i've just added this issue to the order page EPIC so that it can be studied.
Thanks !

[2020-07-10 09:10] Hlavtox commented on #17729
@matthieu-rolland @eternoendless How is Czech koruna a special currency? Another examples are Hungarian Forint, Japanese Yen and many other currencies, that don't use decimals in online commerce.

![IMG_2681](https://user-images.githubusercontent.com/6097524/87137764-ba54e000-c29d-11ea-8cb0-e1cc2ca69666.PNG)

[2020-07-10 09:15] colinegin commented on #19917
ping @florine2623 i think we already have issues about carriers with the same name, right ?

[2020-07-10 09:17] Hlavtox commented on #20109
@florine2623 Weeeel, could be fixed, someday. Can you put it to the Faceted search epic? 😄

[2020-07-10 09:24] colinegin commented on #19550
ping @florine2623 if i understand correctly, this issue is a duplicate of the following one : https://github.com/PrestaShop/PrestaShop/issues/11329
Do you confirm ?

[2020-07-10 09:26] khouloudbelguith commented on #19917
Hi @higanjima, @colinegin, @florine2623,

Yes, we have a similar issue fixed in the next release177: https://github.com/PrestaShop/PrestaShop/issues/11379 with this PR: https://github.com/PrestaShop/PrestaShop/pull/12379

Thanks!

[2020-07-10 09:27] colinegin commented on #19917
Thanks @khouloudbelguith !
Is this what you were looking for @higanjima ?

[2020-07-10 09:32] matthieu-rolland commented on #17729
@Hlavtox yes I meant a special case codewise, in the way we handle this (for example the multiplier in the ComputingPrecision class won't have any effect if the precision is zero and we don't set a minimum). But this matter won't be dealt with in 1.7.7 anyway.

For now, we'll set the minimum computing precision to ZERO, as seen with @eternoendless et @marionf.  👍

[2020-07-10 09:35] Hlavtox commented on #17729
@matthieu-rolland OK!!! And won't it affect other users then? If you set minimal precision to 2, and somebody sets their currency precision to 2, will their calculations be the same?

[2020-07-10 09:38] matthieu-rolland commented on #17729
@Hlavtox for now (1.7.7), the display precision and computing precision will always match.

[2020-07-10 09:45] #18892 closed, assigned to matthieu-rolland

[2020-07-10 09:46] dn1353 commented on #11571
Hi,
any news regarding to implementing fullcalendar.io in Prestashop 1.7.7.x?

[2020-07-10 09:52] javierVP commented on #20120
What file?

[2020-07-10 09:54] javierVP commented on #20120
I can't find anything related to it

[2020-07-10 10:26] juraj1000 commented on #20115
There are not any cents in the example. This example was created by florine2623 and not by me. I hope now the requirement is clear. Or should I create other example with zero cents?

[2020-07-10 10:39] arirangz commented on #19839
Hello,

I could fixed the issue.

It was related to different encoding between attribute table and product table causing a sql error :
Illegal mix of collations (utf8_bin,NONE) and (utf8_general_ci,IMPLICIT) for operation 'ifnull'

The issue has been already posted but I don't think it has been solved:
https://github.com/PrestaShop/PrestaShop/issues/9545

Changing the encoding fixed the issue.

Th

[2020-07-10 11:08] 01park opened #20134 "www - non www redirect for multistore htaccess automatic implement code"
For multistore I suggest that this piece of code would be automatic loaded when a new htaccess is created.

RewriteEngine on
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

For multistore users its very frustrating to find out the htaccess was renewed and then that all redirections for the www. or non www are going to the main store without this code.

I n

[2020-07-10 11:22] juraj1000 commented on #20131
_Example for pack with combinations_
- there are 7 books in the pack
- it is possible to select 3 books with discount 10 €

_Front Office_
- **Product details**
![image](https://user-images.githubusercontent.com/33311857/87149153-fe50e080-c2af-11ea-9a37-ae1285eed3fc.png)

_Back Office_

- **New product type "Pack with combinations"**
![image](https://user-images.githubusercontent.com/33311857/8714

[2020-07-10 11:38] MatShir commented on #19523
Issue:
- [ ] https://github.com/PrestaShop/PrestaShop/issues/11587

[2020-07-10 11:39] MatShir commented on #19518
Issues:
- [ ] https://github.com/PrestaShop/PrestaShop/issues/9626

[2020-07-10 12:26] matks commented on #19618
I confirm. Many themes use Classic Theme as a base and might use features in this list. We cannot remove them without creating a BC break.

This is the one of the reasons why some people hate frameworks: because they embed a lot of stuff as the target audience might need them, but every member of this audience will not use 100% of the embedded features.

If however we can see a huge optimization b

[2020-07-10 12:37] florine2623 commented on #20134
Hi @01park ,
Thanks for the suggestion.
I will ping our dev and product team about it.
Please stay tuned!

[2020-07-10 12:40] juraj1000 opened #20135 "Order cancellation by customer"
#### Is your feature request related to a problem?
There is missing a functionality for order cancellation by the customer. It is quite common that the customer decides to cancel his order because he ordered incorrect quantity, or he forgot to order other product, or he decided not to buy it because he found a better price in other shop or ....

#### Describe the solution you'd like
Add a new butt

[2020-07-10 12:42] ettoredn commented on #16477
"But all the time and energy we spend on preserving compatibility is actually very well appreciated by the businesses owners who need it."
Indeed, one such example is the preserved compatibility of 1.6 themes in 1.7. I'm dealing with a small business owner who still uses PHP 5.6 and PS 1.6 just because he does not want to invest in porting its customized theme to 1.7.

"PrestaShop is used by many

[2020-07-10 12:48] florine2623 commented on #20134
Hi @PrestaShop/prestashop-core-developers & @PrestaShop/prestashop-product-team ,

@01park is suggesting an improvement for .htaccess in multistore environment.
What do you think about it ?

Thanks!

[2020-07-10 13:00] ettoredn commented on #16477
I understand this is absolutely not my business, but maybe the company behind PrestaShop should try to hire some actual developer? Just thinking out loud.
![image](https://user-images.githubusercontent.com/739903/87156971-d10b2f00-c2bd-11ea-9131-d8ab69e87969.png)
![image](https://user-images.githubusercontent.com/739903/87157001-dbc5c400-c2bd-11ea-868d-40b848eb5432.png)
![image](https://user-image

[2020-07-10 13:03] matks commented on #16477
@ettoredn I was going to provide constructive answers to attempt to understand the frustration that seems to come behind your rant, however the statements you are writing are going too far. They actually break our [Code of Conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).

I consequently lock this conversation as it seems nothing good will come of it.

[2020-07-10 13:09] matks commented on #16477
@ettoredn If however the steam vanishes and you are ready to discuss in a polite manner the obvious issues you face (else you would not be here) feel free to join our Slack channel here https://github.com/PrestaShop/open-source/tree/master/slack

Warning: the Slack channel complies to the same Code of Conduct as the GitHub repository. This means:
- Using welcoming and inclusive language
- Being re

[2020-07-10 13:34] arirangz commented on #9545
Hi,

I had the same issue on prestashop 1.7.6.5 (not fresh install, updated).

[2020-07-10 14:25] Oksydan opened #20138 "Module added as widget in smarty is displayed no matter if is disabled"
#### Describe the bug

When you add widget in your .tpl like this {widget name="module_name"} and module is disabled, widget is still displayed.

#### Expected behavior

Widget shouldn't be displayed when module is disabled.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to file (open it with editor) index.tpl in theme/classic/templates/index.tpl, add {widget name="ps_imageslide

[2020-07-10 14:26] #19135 closed, assigned to nobody

[2020-07-10 14:27] florine2623 commented on #20135
Hi @PrestaShop/prestashop-product-team ,

What do you think about a cancel order feature for customer ?

Thanks!

[2020-07-10 14:32] florine2623 commented on #20131
Hi @PrestaShop/prestashop-product-team ,

What do you think about that feature request ?
Thanks!

[2020-07-10 14:42] florine2623 commented on #20090
In your product page > SEO tab
When you click on "Reinitialize URL" you should see your friendly url with no error.

[2020-07-10 14:44] florine2623 commented on #20051
Is your issue the same as this one : https://github.com/PrestaShop/PrestaShop/issues/20079 ?

[2020-07-10 14:45] florine2623 commented on #20129
Can you check the version of the notification module ?
I'm using v2.1.0.

[2020-07-10 14:47] florine2623 commented on #20120
The log file located in directory /var/log from your FTP

[2020-07-10 14:48] Betafer commented on #20090
when i click Reinitialize URL the url is with error

[2020-07-10 14:49] florine2623 commented on #20109
I will put it under "Other issues".
Feel free to ping me under this issue if needed !

[2020-07-10 14:52] florine2623 commented on #20090
Did you do a migration or is it a fresh install ?
Could you share a screen record and the steps to reproduce your issue please ?

[2020-07-10 14:54] Betafer commented on #20090
migration from 1.5, soon i will make the screen record

[2020-07-10 14:59] florine2623 commented on #20138
Hi @Oksydan ,
Thanks for the report !
I did manage to reproduce the issue in PS 1.7.7.0.
I will add this to our debug roadmap. Thanks also for the PR.

[2020-07-10 15:00] Gipielle commented on #20090
https://drive.google.com/file/d/1aDpqcjFvsbvq4GrFRE_K1AKHSeRyzMSa/view

[2020-07-10 15:04] atomiix commented on #19711
I've finally been able to reproduce this issue in a Windows environment **but**, unlike you, only in **1.7.6.x**.

In 1.7.7.x I can see the encoding issue "H�te inconnu" directly on the BO but no exception is raised :
<img width="1078" alt="Capture d’écran 2020-07-10 à 15 20 50" src="https://user-images.githubusercontent.com/2168836/87167488-53e7b600-c2cd-11ea-9beb-ecd28a925b1c.png">

Could you

[2020-07-10 15:06] florine2623 commented on #19906
Hi @PrestaShop/prestashop-core-developers ,

Could you guys take a look at this issue. I'm unable to answer @stepel .

There's an issue where `id_carrier` and `total_shipping` amount are ignored when creating an order via PS Webservice.

Thanks!

[2020-07-10 15:15] stepel commented on #19906
Hi @florine2623,

thanks for remember me. Actually I try to avoid this problem by create the order and edit (then I can set total_shipping, add some payments for shipping etc). I am not sure if problem is in shop configuration or in prestashop code.. The main problem what I see is that if I send id_carrier in the cart it's ignored..(shippinng cost is ignored in the order what is created based on t

[2020-07-10 15:17] florine2623 commented on #20090
Ok thanks for the clarification.
It only happens when you are using multilanguage.
I tried on my test shop with EL, FR, LT and I can't reproduce your issue.

Could you take a look at the console ? right-click > inspect element
And check for errors.

[2020-07-10 15:31] florine2623 commented on #20094
Ok thanks for the clarification.
Indeed the issue is present.
I manage to reproduce the issue in PS 1.7.7.0 and PS 1.7.6.5.

1. Go to the BO > Catalog > Brands & Suppliers > Supplier > Create a new supplier & enable it
2. Go to Products > Add a product, enter the product name
3. Click on Options tab, select the supplier created before
4. Enter the supplier reference & save
5. Edit the product, cli

[2020-07-10 15:46] LouiseBonnard commented on #19633
Interesting, thanks @aecarlosae! Using varnish has already been mentioned in several documents regarding the software's performance. It seems to be mostly used by stores with large catalogs. @matks, what would be your technical recommendation? Should it be labeled _waiting for dev_ instead?

[2020-07-10 15:50] matks commented on #19733
PR merged, this bug will be fixed by next release of ps_shoppingcart module https://github.com/PrestaShop/ps_shoppingcart/pull/59

[2020-07-10 16:41] jf-viguier commented on #19711
@atomiix it was a fresh install of beta1. Do you mean an install from sources 1.7.7 banch ?

[2020-07-10 16:50] elboletaire commented on #9972
PR #20144 open with the fix.

[2020-07-10 16:56] Djangoum commented on #20129
Hi! If you mean ps_emailalerts i'm using v2.2.0

![image](https://user-images.githubusercontent.com/9842183/87179423-01af9080-c2df-11ea-95d3-7bba237a3d65.png)

[2020-07-10 17:23] rdy4ever commented on #20129
Hi @Djangoum
Try to hit Ctrl+F5 to force refresh and clear browser cache in the BO. This could do the trick.

[2020-07-10 17:46] Fredcor13 opened #20146 "Facetedsearch module, when I am on a category page, order of products configured in BO is not taken into account"
#### Describe the bug

I'm on prestashop 1.7.6.4 and version 3.5.0 of faceted search module.

**First problem:**
when facetedsearch module is active, When I am on a category page, the order of the products configured in the back office in the category is not taken into account
When module is desactived all is right

**Second problem:**
when I m on a category page and When I try to filter products,

[2020-07-10 17:51] Djangoum commented on #20129
@rdy4ever  I really feel so dumb. The cache clearing solved the problem. Not even think on that could be something Front End related.

Well, this issue can be closed, sorry for wasting your time @rdy4ever  and @florine2623 i really appreciate you help!

Thank you very much 😄

[2020-07-10 17:51] #20129 closed, assigned to nobody

[2020-07-10 19:41] kevindepoortere commented on #20051
@florine2623 I don't think so.

For the login problem, it seems to be the same as #15815 issue.
For the initial problem, it's about currency_lang, the update try to do get on null, so probably a needed currency value is empty on my project.

[2020-07-10 21:54] alfonsolr09 commented on #20135
i think its good idea

[2020-07-10 22:46] zekirdekorg opened #20147 "Product Comments issue with PS 1.6"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-07-11 07:38] rdy4ever commented on #20129
No problem @Djangoum
I've been scratching my head with this one too before thinking to just clear browser cache, so I know exactly how you feel :)

[2020-07-11 09:33] passio777x commented on #20130
Hi, no it's not the same issue. My problem is that ANYONE checkbox can't be checked even if carrier names are differents.

[2020-07-11 10:59] javierVP commented on #20120
It does not reflect anything about the mentioned error.

[2020-07-11 12:47] matks commented on #20129
Thank you @rdy4ever for helping 😉

[2020-07-11 12:50] Robin-Fischer-PS commented on #19498
@matks I also checked, it's OK for me so QA :heavy_check_mark:

[2020-07-11 12:50] #19498 closed, assigned to nobody

[2020-07-11 12:50] krupers opened #20150 "Issue after upgrading 1.7.6.5 to 1.7.6.7 in Back Office"
Hello,
I just installed (thank God on dev store) 1.7.6.7 version precisely file by file verify what I modified and what not, but if FO is okay and everything is working, my BO is totally in chaos:
- User profile is rolled over, all dropdown lists are like a list of elements one below another
- Modules list has issue is style "class="module-item module-item-list col-md-12module-item-list-isNotActiv

[2020-07-11 12:58] matks commented on #19217
Hi @WebHelpers64,
- if you want to modify how the data is displayed you need to override the Twig template
- if you want to modify the data being injected in the view you need to override/decorate the controller (see https://devdocs.prestashop.com/1.7/modules/concepts/controllers/admin-controllers/override-decorate-controller/)

An alternative to override/decorate the controller would be to listen

[2020-07-11 13:00] matks commented on #20150
Hi,

Do you mean you did not use the auto-upgrade module ?

What you describe looks like CSS/JS issue, possibly from cache. Any error in the console when browsing the pages ?

[2020-07-11 13:53] krupers commented on #20150
No, I just did the autoupgrade, as usual :)
Even have log list if you want to see it.

Nothing is like really CSS/JS scripts, but I did the clean :/

Everything I have (only marked some details):

Screens are:
- modules issue
- products issue
- clients issue
- client edit issue
- product tab
- modules tab in product
- console log

![modules](https://user-images.githubusercontent.com/9113275/872255

[2020-07-11 14:01] ChazyTheBest commented on #20127
Hi, I've updated the request, reworded it and added some more info. Hopefully it is clear and has enough information to present an interesting improvement request.

[2020-07-11 14:42] smoucka commented on #19182
Was there any solution to this issue? I'm having the same problem when trying to extend the webservice using the WebserviceSpecificManagement functionality. This feature is clearly intended for this use case but I cannot figure out how to have PrestaShop recognize my class that manages this custom endpoint.

[2020-07-11 14:45] elboletaire commented on #19182
@smoucka the way to make it work without touching the core code is by including (via `require_once`) your `WebserviceSpecificManagement` file in your plugin main file.

[2020-07-11 14:50] PululuK commented on #20150
Hi @krupers

Can you check your php compatibility please : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart

[2020-07-11 14:54] smoucka commented on #19182
@elboletaire Perfect, thank you.

[2020-07-11 15:00] krupers commented on #20150
Oh gosh... You are amazing, I forgot about it.
Od production site I have 7.2.31 - on dev I just switched unintentionally to 7.4.7....
Now everything is working I think!

Thank you!!!

[2020-07-11 15:39] smoucka commented on #19182
@elboletaire Did this issue return for you? After including the WebserviceSpecificManagement file in my main module file I got some Fatal errors like:
[code]

Took care of these errors by importing those two classes (WebserviceOutputBuilderCore and WebserviceRequestCore, I had these both type hinted in the method definitions) however now I get the same response from WebserviceRequest returning a 5

[2020-07-11 15:44] smoucka commented on #19182
It was a namespacing issue. I removed the namespace from my WebserviceSpecificManagementMyModule file and this resolved the problem.

[2020-07-11 16:05] didi-2018 opened #20151 "Carriers duplicated in database after upgrade 1.7.6.5 -> 1.7.6.7"
Hi,

since PS version 1.7.6.5 I get double order notifications for the same order:

![image](https://user-images.githubusercontent.com/44971218/87228316-b362c600-c3a0-11ea-8b9c-41b1381de6e9.png)

* PrestaShop version: 1.7.6.5 to 1.7.6.7
* PHP version: 7.2.24

[2020-07-11 16:14] rajat315315 commented on #20094
I cannot see any supplier reference field in options tab while creating a new product. I am in branch 1.7.7.x

[2020-07-11 17:08] #20150 closed, assigned to nobody

[2020-07-11 20:23] dainora commented on #14887
if you see this message and if you have config/theme.yml file you might do something wrong when ziping file.
My issue was that I zipped folder instead folders inside theme, Example Test folder, but instead you should go inside that folder, **select all files and zip to some name, then it works**.
Example select assets, config, modules....etc folders and zip to name "Test"
It means it shouldn't be

[2020-07-12 10:43] smithikakart opened #20152 "Dashboard activity loading issue"
prestashop versino 1.7.6.4 dashboard activity version 2.0.2 issue is once i enabled debug in the backoffice dashboard activity keep on loading only here i have attached the screenshot
<img width="283" alt="Screenshot 2020-07-12 at 4 13 00 PM" src="https://user-images.githubusercontent.com/67721911/87244398-9b4f7d00-c45a-11ea-8ff3-1c9ecf2348bd.png">

[2020-07-12 12:26] matks commented on #20079
Hi, just to provide some informations here about what PrestaShop team has been doing on this topic:

Thanks to @deebug and @kasugaicrow we could investigate the state of 2 shops an issue after upgrades. We could see what was wrong but could not find informations about how it _went_ wrong.

We have tried multiple setups, configurations and scenarii (including with or without multishop, with or with

[2020-07-12 21:32] matt-matt1 opened #20154 "after initial install - no shop on OSX"
My computer:
I have successfully installed and can fully use PS 1.7.6 on Ubuntu.  On the same computer, ie. same hardware, I also have an installation of OSX and cannot get the shop to launch after installation.

What I've tried:
Since I have successfully installed; and launched; then made configuration changes (eg. cache, HTTPS), and relaunched; and continued interactions with Ubuntu, I will no l

[2020-07-13 08:21] pks891618 opened #20155 "Error 'Price specification not found for currency: ""' clicking on a customer thread after upgrade PS 1.6 => PS 1.7.6.5"
Prestashop version: **1.7.6.5**

Whenever clicking on any  customer thread

controller=AdminCustomerThreads&token=3a936177a1b3025eec314bb412f3213f

getting error

The same error also occurring when editing a single customer data

**_Price specification not found for currency: ""_**

**#### Expected behavior**

Normally when we click on single thread then that thread will display complete details

[2020-07-13 08:32] matks commented on #20154
When you request an index.php file and your browser starts downloading it, it means the webserver did not understand this is an executable file. So it might indicate an issue in Apache configuration. Just like you I use homebrew to run PrestaShop and everything runs very fine.

I suggest having a look on Google with searches like "[apache downloads php instead of executing](https://www.google.com/

[2020-07-13 08:36] matks commented on #20073
Hi @maofree, did you notice whether the products added in the cart were modified later ? I remember seeing issues with the scenario

1. customer adds to cart product A
2. later, merchant modifies product A in back-office
3. now customer has product A in cart with outdated informations => in Checkout, no "eligible carrier" found

[2020-07-13 08:41] matks commented on #20073
@maofree Issue could be identical to https://github.com/PrestaShop/PrestaShop/issues/12267 . Could you confirm ?

[2020-07-13 08:42] maofree commented on #20073
Hi
I hadn't thought about this scenario. I don't know why this happens every now and then and on multiple sites. Surely these shopkeepers have very high activity on their site, so it may be due to what you say.
this also happens for orders, in some cases they cannot access the order, the only solution is to remove the cart associated with the order from the database.

[2020-07-13 08:44] maofree commented on #20073
probably is due from

`I finally found what's wrong.

Sometimes, when a customer create a new address, the new id_address_delivery is set to cart but not to cart_detail. That's why PS cannot find available carriers due to the fact id_address_delivery from cart didn't match cart_detail.`

[2020-07-13 08:50] khouloudbelguith commented on #20073
Hi @maofree,

I think it is the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/9932#issuecomment-467397790
This issue is fixed in the next release 1.7.7.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/15399

Thanks to check it and feedback.

[2020-07-13 08:53] Betafer commented on #20090
There is another problem with url friendly button, that it changes all languages, so if i change a url manually in one language, and than i change language and set url with the Reinitialize URL, it also change url in the language that i have correct manually

[2020-07-13 08:57] matks commented on #20155
Hi !
Your issue seems to be a duplicate of following issues:
- https://github.com/PrestaShop/PrestaShop/issues/19834
- https://github.com/PrestaShop/PrestaShop/issues/18467

Could you try the solutions provided in these 2 issues and tell me if it works for you:

1. check your PHP version matches 1.7.6.5 requirements: php5.6 to php7.2 (so php7.3 is not supported)
2. check whether the customer order

[2020-07-13 09:05] ballashop opened #20156 "Impact on price per unit (combinations option) does not compute unit_price correctly"
Dear staff,
I have a problem with "**Impact on price per unit (tax excl.)**" into the combination item.
first change some option:
Customers Setting → **Groups**
Price display method all **Groups are Tax excluded**

**Create new Attributes & Features**
add new attributes
Name: Quantity
Public name: Quantity
Attribute type: Radio buttons

**Add new values**
2 pieces
6 pieces
12 pieces
26 pieces

**C

[2020-07-13 09:11] maofree commented on #20073
ok thanks

[2020-07-13 09:14] khouloudbelguith commented on #20073
@maofree,

Your ticket is a duplicate of #9932
So, I close it.
Thanks!

[2020-07-13 09:14] #20073 closed, assigned to sarahdib

[2020-07-13 09:14] khouloudbelguith commented on #20073
Duplicate of #9932

[2020-07-13 09:17] matks commented on #20155
I cannot reproduce the issue on PS 1.7.6.5 on a standard setup. Waiting for more infos

[2020-07-13 09:25] matks commented on #20146
Hi @Fredcor13

I cannot reproduce your 2 issues.

I checked a 1.7.6.4 shop with facetedsearch module v3.5.0 . When I am in a category page, it works fine for me. Order of products, when sorted "by relevance" is the one I have chosen in my BO page.

And I cant filter products without issues, no spinning in the void.

In BO page "Shop Parameters > Product Settings" you have modified no settings ?

N

[2020-07-13 09:28] juraj1000 commented on #19793
Hello,
the text "On request" could be better

[2020-07-13 09:32] matks commented on #20152
Hi @smithikakart I dont have this issue when I install a new 1.7.6.4 shop.

Can you check if there are errors in the console ?

Something that could help would be infos like

host
server setup and configuration
PrestaShop version (source)
debug mode report
PHP error logs
apache error log
javascript console log
screenshots

Don't you know how to get this information? Please read the following artic

[2020-07-13 09:33] matks commented on #20151
Hi @didi-2018 is it happening only for this order or for all orders ? I am especially wondering if it does this for orders created before the upgrade and for orders created after the upgrade

[2020-07-13 09:35] guirou62 commented on #9972
Sorry to reply only today, it's okay for me :)

Just one thing, maybe we should to it not only for price, wholesale_price and weight vars but for all float vars such as ecotax and unit_price_impact to be sure to not have the same problem as wholesale_price.

To go back on the initial problem, I have the same initial problem (I think it was 2 problems in one) :
I want to see the product_attribute w

[2020-07-13 09:37] matks commented on #20147
Hi, I see multiple issues here:
- you say you are using PS 1.6 but PrestaShop 1.6 is no more supported => see http://build.prestashop.com/news/1.6.1.x-what-s-next/)
- PS 1.6 latest version is not compatible with php7.3 (unless you are using a customized version)
- I dont think module https://github.com/PrestaShop/productcomments is compatible with PS 1.6

Consequently I dont think we can help you

[2020-07-13 09:37] #20147 closed, assigned to nobody

[2020-07-13 09:39] matks commented on #20156
Hi @ballashop ! The description of this bug is very good (that's nice ! not everybody does it) but I need the prestashop version of your shop 😅  because this behavior might be different, depending on the version

[2020-07-13 09:44] ballashop commented on #20156
Hi @matks
thanks to reply me, we use: 1.7.6.3 I apologize for forgetting it.
Thanks for any reply.
Balla.

[2020-07-13 09:46] pks891618 commented on #20155
@matks i have updated my earlier version from Prestashop 1,6 to 1.7.6.5

PHP version is  7.2.31-

[2020-07-13 09:53] matks commented on #20051
For the login issue, we have multiple reports of it https://github.com/PrestaShop/PrestaShop/issues/20079
In the thread are provided solutions that worked for some people.

No this is different. Look at error:
[code]
And here is the line 55 of file ps_1760_copy_data_from_currency_to_currency_lang.php :
[code]

It failed because `$container` is null.

Which means this is a duplicate issue as https:

[2020-07-13 09:54] Detertecnic opened #20158 "Orders Bug - Missing Creation - PS 1.6"
#### Missing Order Creation

Sometimes happens that orders are not created and they go into cart abandoned (or sometimes they disappear from my back office). In the beginning, I found this bug only with customers using Gestpay (axerve), but last week it happened with Paypal. Gestpay already did all verifications and they did not find any bug in their system. They also said that it could be due to

[2020-07-13 09:56] pks891618 commented on #20155
i have change id_currency to my active currency and it works
it works for customer thread but not working when we opening a single customer

[2020-07-13 10:26] eternoendless commented on #16891
This issue has ben superseded by #16482

@matks are you Ok to close this one?

[2020-07-13 10:31] didi-2018 commented on #20151
@matks Hi! It happens for all orders. I found out that all carriers were twice in the database with the same ID. I removed all duplicates and now it is working. I get only 1 notification for 1 order.

[2020-07-13 10:35] atomiix commented on #20079
For people who want to try [deebug's solution](https://github.com/PrestaShop/PrestaShop/issues/20079#issuecomment-655625901), you should probably try to install the 1-Click Upgrade module too, just to check that your core files of PrestaShop are up-to-date with 1.7.6.7 as it seems that in some cases, all files are not copied during the upgrade process.
<img width="672" alt="Capture d’écran 2020-0

[2020-07-13 10:37] didi-2018 opened #20159 "EntityManager#remove() expects parameter 1 to be an entity object, NULL given."
Hi, I just got a log alert:

EntityManager#remove() expects parameter 1 to be an entity object, NULL given.

![image](https://user-images.githubusercontent.com/44971218/87295441-7a903180-c505-11ea-9f80-bf922b2b9f46.png)

I reseted the paypal module and changed some translation in ps_bankwire at that time.

What does the warning mean? Is it dangerous?

PS 1.7.6.7

[2020-07-13 10:51] passio777x commented on #20130
I paid a developper team, expert in prestashop... They cannot solve the problem in 2 days. Who can help ?

[2020-07-13 11:24] atomiix commented on #19711
@jf-viguier not specially, I was just thinking maybe something went wrong during the installation and trying to reinstall could fix the issue. On my side I've tried both 1.7.7.0 beta1 and the 1.7.7.x branch and I wasn't able to get the exception. Only happened on 1.7.6.x

[2020-07-13 11:39] flencas opened #20160 "Admin Order Details - Blank Page - cgi-bin/php-cgi" aborted read failed"
Hello.

I cannot access the details of my orders --- Blank page with 0 errors.

if i turn on debug mode - everything works fine, there are no errors. Debug mode off = blank page.

cache cleared by admin and manualy by Ftp - no result.

server error log entries:

1. FastCGI: comm with server "/usr/local/fastcgi/cgi-bin/php-cgi" aborted: read failed,

2. AH00524: Handler for fastcgi-script returned

[2020-07-13 12:11] matks commented on #20159
Hi, this is nothing dangerous, just a PHP error.

Please be aware that we use GitHub issues only to discuss about bugs in the PrestaShop project and new features.

If you have questions about using PrestaShop, you might find the answer here:
- User's guide: http://doc.prestashop.com/display/PS17/User+Guide
- Developer documentation: https://devdocs.prestashop.com/

And you can also ask for help fr

[2020-07-13 12:11] #20159 closed, assigned to nobody

[2020-07-13 12:20] marionf commented on #20085
@PrestaShop/qa-automation We need to update the tests
This new modal fixes an XSS

[2020-07-13 12:23] MatShir opened #20161 "[EPIC] Wrong product prices on adding/editing on the order's BO"
To facilitate the tracking in the kanban, its issues are grouped in an epic.

- [x] #20010 - When I add an existing product in the order's BO
- [x] #19490 - Wrong price displayed before adding a product on an order
- [x] #18237 - Possibility to add multiple time the same product
- [x] #20533 - Order / Product price is incorrect after adding a cart rule
- [x] #20542 - Total products price is not co

[2020-07-13 12:29] MatShir opened #20162 "[EPIC] Wrong discount on the order page"
To facilitate the tracking in the kanban, its issues are grouped in an epic.

- [x] #19960 - Order BO discount removing/changing not working properly
- [x] #19949 - BO - order detail / Discount is deleted when deleting another discount
- [x] #19890 - Update product's price in the order does not update the discount

[2020-07-13 12:52] matks commented on #20156
Hi @ballashop,

So I understood what is the issue here 😄  .

**The unit price is actually being stored as a divisor, and applied for each of your combination**.

So, when you created your product you set
- price : 1€
- unit_price: 1€
And PrestaShop is going to remember this "unit price is equal to price => it's 100%"

So, for 2 pieces, PrestaShop is going to say "price for 2 pieces is 2€, then uni

[2020-07-13 12:54] LouiseBonnard commented on #9591
@PrestaShop/prestashop-product-team, we need to list every page where a date appears (BO, FO) to see how it can be fixed.

[2020-07-13 12:56] Daaaaad opened #20163 "BO Import page crashes with "The controller must return a response" error when import directory does not exist"
I get this error message when trying to access "Import" tab in PrestaShop backoffice.

Steps to reproduce the behavior:

1. Log into the backoffice
2. Click on "Advanced parameters" then "Import"

Capture ➡️ https://www.dropbox.com/s/j07mx309gposw7u/Capture%20d%27%C3%A9cran%202020-07-13%2014.55.35.png

* PrestaShop version: 1.7.6.7
* PHP version: 7.2

[2020-07-13 12:59] matks commented on #20158
Hi, I'm sorry but PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope, for critical issues only.

We cannot help you as this software is too old, so I close this issue 😞  .

[2020-07-13 12:59] #20158 closed, assigned to nobody

[2020-07-13 13:02] Mch0 opened #20164 "Allow module widgets to provide interchangeable views, and allow merchant to choose which one to use for given hook in BO"
#### Is your feature request related to a problem?

It could be nice, if when we add hook for a module, we can choice a tpl to use if module/block has mutiplie views/tpls.

#### Describe the solution you'd like

Just add a field in form to add module hook for choice the view/tpl to use for hook/module pair.

[2020-07-13 13:03] matks commented on #20160
Hi @flencas I am sorry but this is very hard to help you with so few informations.

From the error messages you get:

I would say it's a server configuration issue, maybe on mod_fastcgi

You can consider the PrestaShop Company support plans: https://www.prestashop.com/support or you can also ask for help from other PrestaShop users:
- Community chat: https://github.com/PrestaShop/open-source/blob/

[2020-07-13 13:07] matks commented on #20164
Hi @Mch0 I don't fully understand 🤔  . Any "choosing which template to render" choice could be made in module side ?

- module can run some php logic to find out the best template to use
- module can provide a Back Office form to allow user to choose which template to use, store this information and use it when called by hook (this is done like this in https://github.com/PrestaShop/blockreassuranc

[2020-07-13 13:14] Mch0 commented on #20164
I would like for a hook, choice template to display for a module.

Example :

One module who display one block.
On Hook name "HookA" i want display my block module with templateA because this display is nice for this place (like the content take 50% width of the page)
On Hook name "HookB" i want display my block module but with a different display than HookA (here the content display on the 100% w

[2020-07-13 13:23] maicolcantagallo commented on #17753
Hi, what is the state of this development? thanks

[2020-07-13 13:41] matks commented on #20164
I confirm this is the feature implemented into Blockreassurance (and that it must be configured from the "Configure" page of the module)

It however only works if
- module provides multiple views that are interchangeable
- module follows one prestashop process/logic that allows PrestaShop to be "aware" of possible choices of templates for the module and to allow merchant to pick the desired view (

[2020-07-13 13:43] matks commented on #20164
@Mch0 I tried to make the title of the issue as accurate as possible. Did I get it right ?

"Allow module widgets to provide interchangeable views, and allow merchant to choose which one to use for given hook in BO "

[2020-07-13 13:47] pks891618 commented on #13006
i have tested it and its working for 1.7.6.5

i was creating syncronisation of stock between diffrent prestahsop setup and i want that if stock updated on 1 then it will update stock on second shop 2 and now it works

[2020-07-13 13:53] Mch0 commented on #20164
@matks
Yes i think the title is ok like that

[2020-07-13 14:14] smithikakart commented on #20152
Console log :

Php Error log : but this error not related to dashboard activity

Stack trace:
#0 /home/smithikakart/smithikamobiles.in/modules/productcomments/controllers/front/PostComment.php(87): ProductCommentsPostCommentModuleFrontController->addCommentGrades(Object(PrestaShop\Module\ProductComment\Entity\ProductComment), false)
#1 /home/smithikakart/smithikamobiles.in/classes/controller/Contr

[2020-07-13 14:31] matks commented on #20163
@Daaaaad I cannot reproduce your issue 🤔  . You can try yourself on http://demo.prestashop.com/#/en/back

I think something is wrong with your shop. Did someone customize it ? Did you perform an upgrade recently ?

Look here
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.7/src/PrestaShopBundle/Controller/Admin/Configure/AdvancedParameters/ImportController.php#L106
This is the part where the C

[2020-07-13 14:37] matks commented on #20130
@passio777x I am sorry but if I try this on PS 1.7.6.6, it works very well, no issue with any checkboxes 🤔  . If I cannot see it fail, I dont see how we can help you.

Did someone customize your shop ? Issues can be introduced by customizations, overrides, installed modules ...

What you can do is
- install a new shop (to perform a test) and verify it works well => just to make sure on a "fresh ne

[2020-07-13 14:39] marionf commented on #19924
Hello @banan44

Do you have exactly the same categories in all your stores?

[2020-07-13 14:43] passio777x opened #20165 "Issue After trying to Update to 1.7.7.0 -> SessionInterface"
<img width="1141" alt="Capture d’écran 2020-07-13 à 14 37 11" src="https://user-images.githubusercontent.com/43704805/87317836-d075d100-c527-11ea-9824-3c6c4a639ea7.png">

[2020-07-13 14:47] matks commented on #20151
Ok, that's nice to know you found the issue.
But

It's scary 😱  . Very strange, I dont see how an upgrade could duplicate stuff 🤔  .

I close the issue as it seems closed. have a nice day !

[2020-07-13 14:47] #20151 closed, assigned to nobody

[2020-07-13 14:52] matks commented on #20165
Hi, I guess you mean 1.7.6.7 and not 1.7.7.0 ?

We have seen someone else with same issue. On his shop he was missing the following file: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.7/src/Core/Session/SessionInterface.php

Can you tell us how you upgraded your shop and who is your hosting provider ? We believe the root cause to be a bad copy process as this file should have been copied int

[2020-07-13 14:54] PierreRambaud commented on #20094
After investigation, I think the `supplier_reference` is a deprecated attribute in the database.
Everything is managed by the `ProductSupplier` Object Model since the 1.5.0, I also see deprecated annotation about the supplier_reference https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Product.php#L1626  :thinking:
Since the data is already stored in the `ProductSupplier` table, it seem

[2020-07-13 14:56] passio777x commented on #20165
I meant 1.7.7.0
With 1.7.6.7, I also have an issue,  I can't reactivate my shop ! Maintenance button doesn't work anymore...

My prestashop became hell when I activated Multishop.

[2020-07-13 14:58] matks commented on #20165
But 1.7.7.0 is not available for upgrade 🤔  inside the module (as far as I know 😅  ..?) . It's a beta version only.

[2020-07-13 15:00] passio777x commented on #20165
Awh, I downloaded it and put it in admin auto-upgrade folder and I tryed to update :) I though it was possible.

[2020-07-13 15:08] passio777x commented on #20130
Thank you Matks, could it be a good idear to create a new shop, and export produts, category, customers and orders ?
Could you tell me the best way to proceed and which tables exports ?

[2020-07-13 15:10] matks commented on #20120
Hi @javierVP I just did a test on a fresh install of PS 1.7.6.7 (it's 99% the same code as 1.7.6.6 so no difference should be observed for your case), the email I receive is good. See (in French):

![Capture d’écran 2020-07-13 à 17 09 05](https://user-images.githubusercontent.com/3830050/87320762-9b6b7d80-c52b-11ea-9b73-daf4c740ef46.png)

Maybe your email templates have been customized / modifie

[2020-07-13 15:14] matks commented on #20130
@passio777x We have very good user feedback about this module: https://addons.prestashop.com/fr/migration-donnees-sauvegarde/8934-outil-de-migration-prestashop-passez-a-prestashop-17.html

[2020-07-13 15:22] atomiix commented on #20165
Hi @passio777x , it should be possible! Can you provide us your autoupgrade log file? It should be in `/adminXXX/autoupgrade/tmp/log.txt`

[2020-07-13 15:24] #20108 closed, assigned to nobody

[2020-07-13 15:56] PierreRambaud commented on #20094
After more investigation, what should be the value of `supplier_reference` in the product if you have this:
![image](https://user-images.githubusercontent.com/1462701/87325684-0f108900-c532-11ea-9e05-cb493aa24424.png)

I really think this field is deprecated and must be removed :/

[2020-07-13 20:04] Daaaaad commented on #20163
Hi @matks,

That was because to the lack of and "import" folder in the "adminXXX" directory...

Regards,

David.

[2020-07-13 21:00] matks commented on #20163
@Daaaaad So we have 1 good news and 1 bad news:
- good news: you found the issue \o/
- bad news: the error message was very bad and could not help us to find the issue

So the error message must be improved, which I do immediately 😊

PR is on its way to fix that => https://github.com/PrestaShop/PrestaShop/pull/20166

[2020-07-13 21:16] matks commented on #20155
There must be some data related to customers (orders ? adresses ? profile data ?) that has an empty currency too 🤔

[2020-07-14 03:20] jdobkins opened #20168 "Broken link"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-07-14 04:45] arouiadib commented on #19454
Thank you very much @ChineseNorris @florine2623

The form for editing a product comes with the current values from database.
When merchant is on this form, a customer might purchase in that moment of time, changing values in the database. To keep the form and database in sync, maybe a periodic automatic refresh of BO whenever the form is stale

Or maybe a whole feature of real-time (or pseudo- rea

[2020-07-14 06:06] pepisign commented on #16382
Hello,
I have the same issue with PrestaShop 1.7.6.5 and Link List 3.2.0
My shop language is Bulgarian, but BO is in English. Enabling English didn't help solving the problem. Link Widget is still showing no records, although the links appear on my shop page.

[2020-07-14 08:05] khouloudbelguith commented on #16382
Hi @pepisign,

We are awre of this issue, it is added to our debug roadmap.
This ticket is a duplicate of #16434
Please follow #16434
Thanks!

[2020-07-14 08:13] khouloudbelguith commented on #20168
Hi @jdobkins,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2020-07-14 08:56] javierVP commented on #20120
A new installation was installed and only the products were migrated, so it is strange that placing the order from the back end does not leave the data in the mail.
No email template was customized.
From the front when ordering if the data arrives correctly.
I will review the templates again but I do not see anything strange.

[2020-07-14 08:57] flencas commented on #20160
Debug mode don't work on Admin-Orders page. Is it normal?

[2020-07-14 09:11] khouloudbelguith commented on #20160
Hi @flencas,

Do you mean that when debug mode is enabled => the order details page is well displayed, isn't?

Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]

Thanks!

[2020-07-14 09:16] sotirisa commented on #9658
Hi I have 1.7.6.7 and I did all of this and the problem is still here.

#12103 and #9726 doesn't resolve it.

[2020-07-14 09:28] qualityangel opened #20169 "The new order and/or new customer alert under the bell sign wont close"
#### Describe the bug

When a customer has made an order or there is a new customer registration, the notifications on top right of the screen keeps displaying even when you already clicked it.

#### Expected behavior

When opening the notifications bell, then when you close it, the notifications normally goes away.

#### Steps to Reproduce

Make an fictive order, then you see the new order notifi

[2020-07-14 09:29] khouloudbelguith commented on #20120
Hi @javierVP,

I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/1ct3FRyWxA6MbTFTDCXvB0JyRrGQSwQOu/view?usp=sharing
Tanks to check this [comment](https://github.com/PrestaShop/PrestaShop/issues/16741#issuecomment-649552260), it could be a solution.

Thanks!

[2020-07-14 09:30] qualityangel commented on #20165
Same here, can't use the maintenance button, had to  set activation in database

[2020-07-14 09:34] qualityangel commented on #20134
Yes please!

[2020-07-14 09:51] jonhs22 commented on #9658
go in  classes/tools.php

public static function htmlentitiesUTF8($string, $type = ENT_QUOTES)
    {
        if (is_array($string)) {
            return array_map(array('Tools', 'htmlentitiesUTF8'), $string);
        }

        return htmlspecialchars((string)$string, $type, 'utf-8');
*// it was htmlentities you make it htmlspecialchars
got it from someone else and it fixes the problem it didn't f

[2020-07-14 10:04] sotirisa commented on #9658
Thanks for your reply I made this change I will wait for another customer message to see if is ok. thank you.

[2020-07-14 10:05] Atom0713 commented on #15499
PS. 1.7.6.7
/api/images/products/1?output_format=XML works fine, JSON a very messy json.
Well, it doesn't matter.

`{"":[{"id":"1"},{"id":"1"},{"id":"2"}],"errors":[{"code":5,"message":"[PHP Notice #8] Undefined index: objectsNodeName (C:\\Users\\slius\\xampp\\htdocs\\prestashop_1.7.6.7\\classes\\webservice\\WebserviceOutputJSON.php, line 127)"},{"code":5,"message":"[PHP Notice #8] Undefined index

[2020-07-14 10:07] khouloudbelguith opened #20170 "BO - Adresses page - Incorrect behavior after creating a new address with an invalid field Address1"
#### Describe the bug

In the BO => Addresses page, when we try to create a new address with invalid field Address1 (too long > 128 chars), there is a redirection to the Address list page with an unclear alert
![image](https://user-images.githubusercontent.com/16067358/87413035-0cfa0900-c5ca-11ea-9db0-221356611396.png)

#### Expected behavior

After clicking save => no redirection to the Address l

[2020-07-14 10:45] khouloudbelguith commented on #20169
Hi @qualityangel,

Thanks for your report.
I manage to reproduce the issue with PS1.7.7.0beta1, 1.7.7.x branch.
In the PS1.7.6.7 is not well working well as reported here: https://github.com/PrestaShop/PrestaShop/issues/9550
I will add this issue to our bug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Ping @P

[2020-07-14 10:57] jonhs22 commented on #9658
Just make a fake buy as custmer and wright a greek message to test it

On Tue, Jul 14, 2020, 13:05 sotirisa <notifications@github.com> wrote:

[2020-07-14 11:06] khouloudbelguith commented on #20152
Hi @smithikakart,

I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
https://drive.google.com/file/d/1PBsrI3eokkAx4qRfpZP7badISWlcHP8I/view?usp=sharing
What is the exact version of the `produtcomments` module did you use?
Did you try to re-install it, clear cache, check and feedback?

Thanks!

[2020-07-14 12:26] flencas commented on #20160
Yes, when debug mode is enabled => the order details page is well displayed.

Cache removed, but problem exist.

[2020-07-14 12:32] khouloudbelguith commented on #20160
@flencas, try to open your shop in an incognito browser.
You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.
Thanks to check and feedback.

[2020-07-14 13:01] flencas commented on #20160
No result. i recorded the video : https://streamable.com/v3wad6
When I click open order details with firefox: Content encoding error, with other browsers - blank page only.

[2020-07-14 13:48] smithikakart commented on #20152
Here i have attached reproduce issue video

https://www.dropbox.com/s/r3axlv46iioiiv2/VIDEO-2020-07-14-19-07-41.mp4?dl=0

[2020-07-14 13:56] #19940 closed, assigned to matks

[2020-07-14 13:56] matks commented on #19940
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20132

[2020-07-14 13:58] #20095 closed, assigned to khouloudbelguith

[2020-07-14 13:59] matks commented on #20095
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20149

[2020-07-14 14:15] khouloudbelguith commented on #20152
@smithikakart, What is the exact version of the `produtcomments` module did you use?
Did you try to re-install it, clear cache, check and feedback?

Thanks!

[2020-07-14 14:18] khouloudbelguith commented on #20160
@flencas, did you use the multishop context?

Does This issue occur only when `All shops` is selected in your case?

Thanks!

[2020-07-14 14:39] khouloudbelguith commented on #20041
Hi @estebangarviso,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.7, PS1.7.5.2, 1.7.7.x branch and the `contactform` module v4.2.0.
![image](https://user-images.githubusercontent.com/16067358/87438204-88ba7c80-c5ef-11ea-9ec5-db93a07d0c7a.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please

[2020-07-14 14:43] khouloudbelguith commented on #20090
Hi @Betafer,

I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
https://drive.google.com/file/d/1l8uHDwyGCGrvKD0bGvDtevMb1mpoqibJ/view?usp=sharing

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error

[2020-07-14 14:51] smithikakart commented on #20152
see product comment i didn't try here i have asked about dashboard board activity issue for product comments let me try that solution tomorrow...

Product comments version is : V4.0.1

[2020-07-14 14:59] khouloudbelguith commented on #20152
@smithikakart, you have an error related to productcomments module

This module is displayed in the dashboard activity
![image](https://user-images.githubusercontent.com/16067358/87441361-4e52de80-c5f3-11ea-8ea4-936e27b8673b.png)

Thanks!

[2020-07-14 15:36] pepevazquez opened #20172 "Al actualizar productos o algún módulo no se refleja el cambio en el Backoffice"
Cuando intento actualizar cualquier producto o algún módulo el cambio no se ve reflejado en el Administrador pero si en el Front, y eso me esta complicando mucho para administrar el sitio.

El día de ayer 13 de Junio de un momento a otro se resolvió el problema pero no entiendo de que manera, si no hice absolutamente nada, solo deje inactivo el sitio por 2 horas y cuando inicie sesión de nuevo enc

[2020-07-14 15:43] Mariooti opened #20173 "Problem enabling Payment Method for carriers Prestashop 1.7.6.7"
I have had endless problems with a Prestashop installation.  Every day there is a new problem.

I am unable to enable/select and save the payment methods in carrier restrictions.  I select all payment options for all carriers (paypal, Stripe, Credit Card Gateway etc) and when I save it only picks a few on the first line and nothing else.

![pay4ship](https://user-images.githubusercontent.com/68290

[2020-07-14 17:06] SimonGrn commented on #20168
Dear @jdobkins,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report. Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).
Feel free to create a new issue if you can provide further information, we will be

[2020-07-14 17:06] #20168 closed, assigned to nobody

[2020-07-14 17:48] #20172 closed, assigned to nobody

[2020-07-14 17:57] arouiadib commented on #20172
@presta-issue-bot

You are sending a mail to everyone subscribed to the repository, whenever someone opens an issue.  Then number of useless mails per day:

Number of opened issues * Number of subscribed people . On Average ~1000 mails per day  that do not serve a vital purpose IMO

Thanks

[2020-07-14 18:29] flencas commented on #20160
Multishop. But issue with all shops, no matter which one is selected.

[2020-07-14 19:58] Webmasterciccio opened #20175 "Problem with backend on 1.7.6.0"
Good evening, I just installed prestashop on the hosting "dominiofaidate.it" when I try to enter the modules or in the "Shop parameters" or "Advanced parameters" a white page appears with the word "Access denied"
What can I do?
Thanks for your help

[2020-07-14 20:00] Webmasterciccio commented on #20175
![Immagine](https://user-images.githubusercontent.com/68300801/87470702-70615680-c61d-11ea-995b-4f7c4c006ed3.png)

[2020-07-14 22:02] alfonsolr09 opened #20176 "utility main category of products"
I open a thread on github because I've been looking for help and can't get a clear answer.
I need to know what the main category box of a product is for

<img src="https://image.prntscr.com/image/mGCY77CeTkCRAiDotZMZOg.png"/>

Thanks and sorry for open this...

[2020-07-14 22:19] arouiadib commented on #20176
This is for the "Default Category".

Since one product can belong to multiple categories, PrestaShop needs to know which is the default one to use in front office ( in breadcrumbs and URLs).

There can be other places where it is maybe used. But I don't think github is the right place for such info. Maybe official documentation

Regards,

[2020-07-14 22:22] alfonsolr09 commented on #20176
I know, but I was unable to contact anyone or find a suitable answer.
but then what do you call it the main category, the parent category or what

[2020-07-14 22:48] arouiadib commented on #20176
main category or default category

[2020-07-14 22:48] alfonsolr09 commented on #20176
main category, red box in the picture

[2020-07-15 06:13] didaktafrederik commented on #20079
I can confirm using softaculous auto update, this is now disabled. Will use 1-Click upgrade and perform backups prior to upgrade.

[2020-07-15 06:52] Betafer commented on #16741
Prestashop 1.7.6.6 still have this error:

Titolare del conto: {bankwire_owner}
Dettagli sull'account: {bankwire_details}
Dettagli sulla banca: {bankwire_address}

I don't think it is difficult to fix.

[2020-07-15 06:54] Betafer commented on #16741
<img width="571" alt="Schermata 2020-07-15 alle 08 53 19" src="https://user-images.githubusercontent.com/5024055/87513232-abdd3e80-c678-11ea-97e3-09bca4a34cd1.png">

If customer gets this email cannot pay ... where it will send the payment ?

[2020-07-15 06:55] Betafer commented on #16741
Please reopen the issue and fix it

[2020-07-15 07:34] Gipielle commented on #18541
Updating to 1.7.6.6 cause again the error

[2020-07-15 07:51] matks commented on #20120
By the way it seems to be a duplicate of https://github.com/PrestaShop/PrestaShop/issues/16741

[2020-07-15 07:58] matks commented on #16741
https://github.com/PrestaShop/ps_wirepayment/blob/master/ps_wirepayment.php#L79

We have tried multiple times to reproduce this issue we cannot see it. So 2 possibilities
- your code differ from prestashop (because of specific theme, some installed modules or even customization) => this is why your shop and our shop do not behave the same way
- to obtain this email, specific setups and settings ar

[2020-07-15 08:04] Betafer commented on #16741
We have fixed by edit Mail.php like described in #18541
i'm not the only one that have this problem as you can see in the thread, maybe it appears when you change bank details or upgrade prestashop, i don't know exactly, i've done this two things and the error comes up again