[2020-01-24 13:17] khouloudbelguith commented on #17345
Hi @PrestaShark,

Thanks for your report.
In fact, this issue is similar to this: https://github.com/PrestaShop/PrestaShop/issues/9948
But there is a difference between PS1.7.6.2 & PS1.7.6.3
PS1.7.6.2 => behavior as reported here: https://github.com/PrestaShop/PrestaShop/issues/9948 => Unable to select product combination, because you need to go via a combination that is out of stock
`Size: M - Co

[2020-01-24 13:38] khouloudbelguith commented on #17346
Hi @rmilecki,

Thanks for your report.
I think it could be an improvement more than a bug.
I have the same behavior as PS1.7.6.3 & PS1.7.5.2
![image](https://user-images.githubusercontent.com/16067358/73073053-c9460280-3eb6-11ea-9297-eb6c6e69bf74.png)
The `order_conf` email is received after the `preparation` email.

First **received** e-mail: `preparation`

Ping  @PrestaShop/prestashop-product-te

[2020-01-24 13:38] khouloudbelguith commented on #17346
@rmilecki, If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-01-24 13:47] ddevigne commented on #17332
Hi @khouloudbelguith

Thanks for your reply.

I made a small module showing the bug.

[custom_status.zip](https://github.com/PrestaShop/PrestaShop/files/4108673/custom_status.zip)

To reproduce the bug :
- install the module
- buy one article
- see `/log/custom_status.log` under project root dir

In the admin, the statuses are OK :

<img width="582" alt="Capture d’écran 2020-01-24 à 14 43 21" src=

[2020-01-24 13:50] khouloudbelguith commented on #17344
Hi @Bredamcguigan,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typical

[2020-01-24 14:16] Bredamcguigan commented on #17344
Thanks i tried that but when I try it in my browser it says:
requesting your username and password. The site says: “Authentification”
Not sure why.

[2020-01-24 14:19] khouloudbelguith commented on #17344
@Bredamcguigan, thanks to try with this file, check & feedback.

[phppsinfo.php.zip](https://github.com/PrestaShop/PrestaShop/files/4108869/phppsinfo.php.zip)

[2020-01-24 14:24] Bredamcguigan commented on #17344
thanks that worked, I don;t see a timeout limit on this screen:
http://prntscr.com/qsblxe

[2020-01-24 14:24] didi-2018 commented on #17310
@khouloudbelguith  I could find out that prestashop makes wrong entries in database "admin_filter". The filters are wrong! For example: "orderBy : "id_log" in category search.   Deleting that wrong database entries fixed my problems and I have access to the section I could not access before.

[2020-01-24 14:28] khouloudbelguith commented on #17344
@Bredamcguigan, thanks to increase your `memory_limit` to 256MB, check & feedback.

Thanks!

[2020-01-24 14:32] Bredamcguigan commented on #17344
I did that and now I have a white screen on admin and front.

[2020-01-24 14:36] khouloudbelguith commented on #17332
@ddevigne, this module cannot be installed
https://drive.google.com/file/d/1FlhiC9CWrdgjCfU95Mnotepb9_JaEYhq/view
The page is blocked in the install step.

Thanks to check & feedback.

[2020-01-24 14:39] khouloudbelguith commented on #17344
@Bredamcguigan, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-01-24 14:49] didi-2018 commented on #17310
@khouloudbelguith

for example:
catalog -> categories  prestashop make an entry in database "admin_filter":

{"limit":50,"orderBy":"id_lang","sortOrder":"ASC","filters":{"id_category_parent":"2"}}

there is no filter "id_lang" and access is not possible.
![image](https://user-images.githubusercontent.com/44971218/73076670-d9fa7680-3ebe-11ea-9cf0-f66117147f77.png)
and set no "controller" and "actio

[2020-01-24 14:49] Bredamcguigan commented on #17344
I can;t see those files in cpanel but i put debug on and I see this:
 Allowed memory size of 2097152 bytes exhausted (tried to allocate 1368064 bytes) in /home/birdcouk/public_html/vendor/composer/autoload_real.php on line 32

[2020-01-24 14:55] khouloudbelguith commented on #17344
@Bredamcguigan, thanks to provide me a screenshot of the exact exception.

Thanks!

[2020-01-24 15:00] Bredamcguigan commented on #17344
I changed the memory to 560M and it is loading some of the home but really slow: https://birdgard.co.uk/ slider is missing and products should be showing on the home page.
I'll contact the host company to check the settings. thanks

[2020-01-24 15:01] khouloudbelguith commented on #17344
@Bredamcguigan, thanks!
Waiting for your feedback.

[2020-01-24 15:25] Gaja-A commented on #17324
@khouloudbelguith, I understand that it is fixed with PS1.7.6.1.
But I need to clarify something. In our case, we are using PS1.7.6.0 and I tried both PRs on my current PS (PR: https://github.com/PrestaShop/PrestaShop/pull/15139 and PR: https://github.com/PrestaShop/PrestaShop/pull/14962), but still I got the same error.
So could you confirm me that it's just enough to put those PRs on or anything

[2020-01-24 15:25] rmilecki opened #17347 "Changing order products randomly corrupts order prices & breaks editing"
**Describe the bug**
PrestaShop allows editing order products. We use that if one of products is unavailable or customer made a mistake. **Sometimes** editing an order results in **database corruption**. Order prices get invalid and they don't match order products. Further order products modifications may also stop working.

**To Reproduce**
We **don't** know how to reproduce this. This bug defini

[2020-01-24 15:28] tomas862 commented on #15971
@matks , @colinegin  regarind point 4 shall we do this for all lists or only in the orders list?

[2020-01-24 15:31] PrestaShark commented on #17338
Close due to changed theme as @rdy4ever mention (and nee to test it one more time).
Thanks for Your time!

[2020-01-24 15:31] #17338 closed, assigned to nobody

[2020-01-24 15:34] khouloudbelguith commented on #17324
@Gaja-A, Other issues fixed in PS1.7.6.1 related to the translations:
https://github.com/PrestaShop/PrestaShop/issues/14932
https://github.com/PrestaShop/PrestaShop/pull/14966
https://github.com/PrestaShop/PrestaShop/pull/15051
https://github.com/PrestaShop/PrestaShop/pull/15017
https://github.com/PrestaShop/PrestaShop/pull/14938
https://github.com/PrestaShop/PrestaShop/pull/14719
You can check th

[2020-01-24 15:35] Bredamcguigan commented on #17344
ok can to restore from a backup but now have the following:
 PHP version: 7.1.33

Memory limit: 2048M

Max execution time: 900

Upload Max File size: 2M
I'm going to try to run the 1 click upgrade again. Hopefully it wil work this time.

[2020-01-24 15:36] khouloudbelguith commented on #17338
@PrestaShark, thanks for your feedback.

Feel free to open a new one when needed.

Thanks!

[2020-01-24 15:37] khouloudbelguith commented on #17344
@Bredamcguigan, great!
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.
Since it is ok.
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-24 15:46] Bredamcguigan commented on #17344
sorry can I open this again as the upgrade is still not successful?

[2020-01-24 15:48] khouloudbelguith commented on #17344
@Bredamcguigan, Yes!

[2020-01-24 15:49] Bredamcguigan commented on #17344
sorry ok tried the upgrade again and this is as far it got:
http://prntscr.com/qsd1bg
here is the permissions on the file manger: http://prntscr.com/qsd1r2

[2020-01-24 15:54] khouloudbelguith commented on #17344
@Bredamcguigan, what is the exact version of the 1-click upgrade did you use?

Thanks!

[2020-01-24 15:55] Bredamcguigan commented on #17344
v4.10.1
thanks

[2020-01-24 15:58] khouloudbelguith commented on #17347
Hi @rmilecki,

I did not manage to reproduce the issue with PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/1FGt73fHJd43CJrO8GL1eZXgQKEaYMvJg/view

Thanks to check & feedback.

[2020-01-24 16:00] khouloudbelguith commented on #17344
@Bredamcguigan, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2020-01-24 16:01] Bredamcguigan commented on #17344
yes no problem.
[log.txt](https://github.com/PrestaShop/PrestaShop/files/4109375/log.txt)

[2020-01-24 16:15] superskyman100 commented on #17317
@PrestaShark not the same problem

[2020-01-24 16:18] khouloudbelguith commented on #17344
@Bredamcguigan,
You have these errors:

[2020-01-24 05:38:20] [INTERNAL] /home/birdcouk/public_html/modules/autoupgrade/classes/UpgradeTools/FilesystemAdapter.php line 86 - scandir(): (errno 40): Too many levels of symbolic links
[2020-01-24 05:38:56] [INTERNAL] /home/birdcouk/public_html/modules/autoupgrade/classes/UpgradeTools/FilesystemAdapter.php line 101 - Maximum execution time of 45 seconds

[2020-01-24 16:26] JeremiePRepo opened #17350 "Product features without key get Duplicated on refresh"
**Describe the bug**
Occasionnaly product features without key get duplicated when you refresh page after validating changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product page in back office
2. Add a feature, without key and a custom value
3. Save
4. Refresh the page with F5 or with the browser button
5. If the product feature get not duplicated, repeat.

**Screenshots**
S

[2020-01-24 16:26] Bredamcguigan commented on #17344
The theme I'm using came with IQITHTMLANDBANNERS, should I disable all non native beofre the upgrade and then turn them back on if it is sucessfull?
thanks
B

[2020-01-24 16:30] marionf commented on #12501
@itsmillertime65 no, it will not be fixed for 1.7.7
We need to specify some things before to do it

[2020-01-24 16:34] khouloudbelguith commented on #17344
@Bredamcguigan, As non-native modules can experience some compatibility issues.
So, yes you need to check the compatibility of those modules.

Thanks!

[2020-01-24 16:36] khouloudbelguith commented on #17350
Hi @Jewem,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9680
So, I close it.
Thanks!

[2020-01-24 16:36] #17350 closed, assigned to nobody

[2020-01-24 16:36] khouloudbelguith commented on #17350
Duplicate of #9680

[2020-01-24 16:40] Jewem commented on #17350
Ok, sorry and ty

[2020-01-24 16:59] Bredamcguigan commented on #17344
thanks can you leave this open as I'll try again on Monday. Have a good weekend.

[2020-01-24 17:06] khouloudbelguith commented on #17344
@Bredamcguigan, waiting for your feedback.

Thanks!

[2020-01-24 17:10] itsmillertime65 commented on #12501
@marionf bummer.

[2020-01-24 17:44] ShaimyWinda commented on #17324
@khouloudbelguith Hi !

The problem is that we can no longer translate our theme. (soundtrack > Translation > Theme translation)
Where we used to be able to. We've put in your various PRs and nothing works.

And in Apache, I have this error:
[Fri Jan 24 18:33:52.204726 2020] [php7:error] [pid 14287] [client 45.90.224.168:41770] script '/var/www/preprod.moondreamwebstore.fr/adminmoon/themes/new-the

[2020-01-24 20:47] SNor42 commented on #15641
Hi!
I don't know what the solution would be, but I would prefer this one:
![exp1](https://user-images.githubusercontent.com/1334351/73102492-3b880880-3ef2-11ea-9046-550616b42a0c.jpg)
Also there is the quite same problem when we try to put the category_id 2 on the top menu. The main link goes to the home, and to the all products page:
![exp2](https://user-images.githubusercontent.com/1334351/731026

[2020-01-24 22:17] ibrahimfsasmaz commented on #16795
hello,

we cloned the site and fixed the DB structure.
now we have 1 live site and 1 clone copy;

- we fixed the clone copy first. the clone copy works perfectly fine
- we tried to do the exact same fix to live site, after fixing the clone copy. But we are having trouble at live.

at live site the "BO>catalog>discounts>create discount or edit existing" does not work. Sometimes it works for a few m

[2020-01-24 22:51] mvorisek commented on #17121
Prerequisites:
- enable cache
- at least one additional currency added/enabled

Steps to reproduce:
- open homepage and change currency to some non-main currency
- open homepage and notice the prices (this cache the page)
- change the currency rate in BO
- refresh homepage and notice, that the prices are unchanged

[2020-01-24 23:15] fyndpriser commented on #17083
I have the same problem after upgrading to 1.7.6.3
https://imgur.com/BAcBZf9

[2020-01-24 23:21] fyndpriser commented on #17083
When I select multiple products to disable them the error message appears.
If I enter any product to disable it I can do so without any problem
https://imgur.com/Yrd9ipV

[2020-01-25 00:44] mvorisek commented on #17300
TODOs:

- [ ] create PR for https://github.com/csarrazi/CsaGuzzleBundle/issues/258
- [ ] get rid of "guzzlehttp/cache-subscriber" archived/deprecated package, required by: "prestashop/blockreassurance", "prestashop/productcomments", suggested by: "prestashop/circuit-breaker"
- [ ] create PR for "prestashop/blockreassurance" and "prestashop/productcomments" to support Symfony 4.x and 5.x (currently

[2020-01-25 02:03] go-sudo commented on #17210
But I can't find why on the other website the function does not work on default prestashop theme

[2020-01-25 12:30] mvorisek opened #17351 "Use Guzzle 6.x for PrestaShop 1.7.7"
Related with:
- https://github.com/PrestaShop/PrestaShop/issues/17300
- https://github.com/PrestaShop/circuit-breaker/issues/37

Very important to make PrestaShop working with modern libs like `microsoft/microsoft-graph`.

[2020-01-25 13:12] mvorisek opened #17352 "Update/remove platform to PHP 7.1.3 in all modules before PrestaShop 1.7.7 is released"
Example: https://github.com/PrestaShop/productcomments/blob/acd28a927fb95023f2c12075012ab916d934ce41/composer.json#L36

Important as this override is used also for tests.

Preferred way is to remove platform from all modules and setup proper PHP 7.1 - 7.3 CI tests.

[2020-01-25 13:23] demeldoo opened #17353 "h1 is used by news letter"
Hi,

on the homepage the news letter subscription is using a h1, which is basicly not recommened for the SEO. One h1 per page.

[2020-01-25 13:23] demeldoo commented on #17353
Also, on product page is used h1 for the same module

[2020-01-25 14:11] mvorisek commented on #17300
See https://github.com/mvorisek/PrestaShop/pull/1 for upgrade steps of PrestaShop itself:
![image](https://user-images.githubusercontent.com/2228672/73122410-f5c85000-3f84-11ea-9b8e-d2946bf3a0c0.png)

[2020-01-25 14:19] mvorisek commented on #17351
Here is an analysis of conflicting packages (packages that uses old Guzzle lib): https://github.com/mvorisek/PrestaShop/pull/1/commits/b3e6999ab6a6bbfe1fc649ddcbbd625201fe7eda

[2020-01-25 14:21] mvorisek commented on #17351
The first step should be to make `prestashop/circuit-breaker` package compatible with Guzzle 6.x, i.e. revert https://github.com/PrestaShop/circuit-breaker/pull/29

[2020-01-25 14:41] rmilecki opened #17355 "Can't edit order shipping for deleted/edited carriers"
**Describe the bug**
If order was placed using carrier that is no longer available (`deleted` set to `1` in `carrier` table) its shipping can't be edited in BO (e.g. to add a tracking number). BO silently chooses the first available carrier as the new one.

**To Reproduce**
Steps to reproduce the behavior:
1. FO: Add new order
2. BO: Modify or delete carrier that was chosen by a customer (in step

[2020-01-25 14:47] omar2886 opened #17356 "Product price_final on product_list.tpl PS 1.7.6"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO -> Catalog -> Products
2. Check both price columns, are the same. First column must be price without discount and second column price with discount applied.

I've tried this but nothing:
https://www.webempresa.com/foro/administracion-prestashop/backoffice-catalogo-productos-visualizacion-precios-antes-y-despues-del-descuento

[2020-01-25 21:03] matks commented on #17351
I'm sorry this cannot be done 😢 since Guzzle 5 is shipped with PrestaShop, and there is huge BC breaks between guzzle 5 and guzzle 6 ; we have to follow SemVer here and stick with guzzle 5.

If we upgrade guzzle to version 6, we quite simply break all shops that use it in custom code and all modules that use it.

This is really sad and we even had to fork CsaGuzzleBundle to make it php7.3-complian

[2020-01-25 21:50] rmilecki commented on #17356
This isn't correct. The first price is without tax, the second one with it.

Discounts are completely different thing and they can't be presented in "Products" as they may depend on a lot of conditions and may vary.

[2020-01-25 22:45] demeldoo opened #17358 "redirect http to https"
hello, i notice on openspeed prestashop is not redirecting to https when ssl and https forced,

so i had to apply a rule like 👍
rewriteCond %{HTTPS} !on
rewriteCond %{HTTP:X-Forwarded-Proto} !https
rewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

can you recheck

[2020-01-25 22:50] omar2886 commented on #17356
Understood. But before upgrading to 1.7.6 I used to have 1st column as final price (tax inc) and 2nd  column as the final price with the special promo/discount that it's active at that moment for that particular product on the tab price (Final price - promotional discount). How can I do to have it back like it used to be?

[2020-01-25 23:51] didi-2018 commented on #16168
@khouloudbelguith  please add 1.7.6.3 too cause of same issue :-(

[2020-01-26 00:48] mvorisek commented on #17351
@matks I understand the reasoning, but Guzzle 5 is EOL. On one side staying with Guzzle 5 keeps full BC for existing 1.7 PS modules, but is it desired to prevent to use any modern libs that use Guzzle 6 in the next releases? Is it right to stop modern libs for about a year (until next major PS release)?

How big is the impact of both decisions? What is the real issue when:
- all PrestaShop managed

[2020-01-26 01:43] go-sudo commented on #17210
Hi @khouloudbelguith I installed the PS 1.7.6.2 on the same website on folder and the function does not work
how can I debug the website where I have the issue to find what's wrong

regards

[2020-01-26 03:13] zozo202600 commented on #16665
Hi,
we have the same issue. Do you know when it will be done from your side ?
Best Regards

[2020-01-26 11:09] mrabsinthe opened #17359 "wrong currency symbol displayed in order summary 1.7.6.1"
Our default currency is GBP and one of our currencies is Japanese yen. But the issue is not related to yen, euro or usd.
When a customer makes a purchase in own currency (yen for example) and pays with PayPal, prices in BO/order are displayed in yen. However, as you can see on the printscreen, the final, bottom summary is in default currency (GBP), however with wrong figures - those are yen amount

[2020-01-26 11:23] kexuejia commented on #16665
I just downgrade  ps_shoppingcart  to v2.0.2.

[2020-01-26 13:56] darylstone commented on #10122
Same issue on 1.7.6.2.

[2020-01-26 14:07] rzuf666 opened #17361 "After update to PS 1.7.6.3 blockreassurance module automatically downgrade"
**Describe the bug**
I had a blockreassurance module version 4.1.1, after update to PS 1.7.6.3 (from 1.7.6.2)   this module automatically downgrade to version 3.0.1.  Is it intended that there is an older version of this module in the PrestaShop 1.7.6.3 package? In official package (1.7.6.3) from Presta site there is older version of blockreassurance module.

**To Reproduce**
Steps to reproduce th

[2020-01-26 14:08] superskyman100 commented on #15251
Hello,

I have the same issue.

The tuto_mailtemplate.zip leads nowhere, i've installed on my prestashop, just an empty screen...

![image](https://user-images.githubusercontent.com/60083930/73136408-4379b100-4088-11ea-89a5-1f02cc00b0a9.png)

...

[2020-01-26 15:01] superskyman100 commented on #17317
Hello,

Any clue ?? I'm still searching around, but i don't see any light...

[2020-01-26 17:13] coloronyou commented on #17317
I have the same issue in our site :(

[2020-01-26 19:07] superskyman100 commented on #17317
Some freelance will fix it for me (maybe)
If i got the solution i share here

[2020-01-26 20:36] chelas69 opened #17363 "Seguridad"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2020-01-26 21:32] #17363 closed, assigned to nobody

[2020-01-26 21:51] Hlavtox commented on #17007
I vote for license headers not being updated. 😄 Everytime I do upgrade, when new year came, I compare the files and billion of them seem to be changed, only to discover that only the date changed...

But I don't know the legal point of view - does it need to be there?

[2020-01-27 01:31] didi-2018 opened #17364 "PS 1.7.6.3 - special chars like "&" not correct displayed in email from [shop_name]"
Hi,

my shop name is like "Online & Shop" and if any mail is send the email header is shown as:

[Online &amp; Shop] Welcome!

The "&" is not correct displayed. The output is
![image](https://user-images.githubusercontent.com/44971218/73165201-a81e2580-40f3-11ea-9df8-3e14a4284dc2.png)

Shopname is correct displayed in FO and correct written in BO. And also correct in database. Only Email from head

[2020-01-27 07:00] rmilecki opened #17365 "AdminOrders displays wrong prices (ignores PS_ROUND_TYPE value Order::ROUND_LINE)"
**Describe the bug**
BO doesn't respect `PS_ROUND_TYPE` when displaying products table in order view. In `_product_line.tpl` there is
[code]
used which matches `Order::ROUND_ITEM` only. When using `Order::ROUND_LINE` BO user sees different prices than FO customer.

**To Reproduce**
Steps to reproduce the behavior:
1. BO: Set `PS_ROUND_TYPE` ("Round type") to `Order::ROUND_LINE`
2. BO: Create produ

[2020-01-27 07:35] RaimondasSapola opened #17367 "Email Theme navigation menu link is not shown for other permission profiles than admin"
**Describe the bug**
Email theme page link in navigation is shown only for admin permission profile. Also some strange behavior if trying to open page with url. If not full permission given it redirects to dashboard. Some further investigation may be required.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Back office as administrator
2. Create new employee with mail theme permissions

[2020-01-27 08:03] khouloudbelguith commented on #16929
Hi @ZamperSPA,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-27 08:03] #16929 closed, assigned to nobody

[2020-01-27 08:07] khouloudbelguith commented on #17351
Ping @PrestaShop/prestashop-core-developers

[2020-01-27 08:10] matks commented on #17351
ping @eternoendless

[2020-01-27 08:16] khouloudbelguith commented on #17352
Hi @mvorisek,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2020-01-27 08:27] khouloudbelguith commented on #17353
Hi @demeldoo,

I did not manage to reproduce the issue with PS1.7.6.3 & PS1.7.6.2 & the ps_emailsubscription v2.5.1.
![image](https://user-images.githubusercontent.com/16067358/73159629-33dd8500-40e7-11ea-901e-47d59e9a5797.png)
What is the exact version of PS did you use? & what is the exact version of the ps_emailsubscription did you use?

Thanks!

[2020-01-27 08:39] khouloudbelguith commented on #17358
Hi @demeldoo,

Is it the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/12253? or this https://github.com/PrestaShop/PrestaShop/issues/17095?

Thanks to check & feedback.

[2020-01-27 08:49] Bredamcguigan commented on #17344
Hi Again,

I have disabled the non native modules and ran the 1 click upgrade and got an error again:

All sample files removed. Now backing up files.

[Ajax / Server Error for action backupFiles] textStatus: "error " errorThrown:"Gateway Timeout " jqXHR: "

It shows a 500 gateway timeout. Is there anything else I can do?

Regards,

Breda

Aura Internet Services
Tel. 042 9664833
Web:  <http://www.

[2020-01-27 09:04] demeldoo commented on #17353
hi,

is it possible that the gdpr, europan rechtsichert module is creating this issue ?

i have this module for european market...

[2020-01-27 09:05] demeldoo commented on #17358
hi, no

i have enabled fully https, and works pretty fine, but when you visit http, then you get a 500 error... so i have made a forward with the rules i sent...

[2020-01-27 09:06] khouloudbelguith commented on #17356
Hi @omar2886,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14091 to fix the issue.
Your ticket is a duplicate of #13731
So, I close it.
PS: about the new feature "Add final price column in products list" => it is added by this PR: https://github.com/PrestaShop/PrestaShop/pull/11484 as reported: #11479
Thanks!

[2020-01-27 09:06] #17356 closed, assigned to nobody

[2020-01-27 09:06] khouloudbelguith commented on #17356
Duplicate of #13731

[2020-01-27 09:09] PierreRambaud commented on #17351
@matks IMHO, since the Guzzle 5 is EOL, it should be updated because of security reason, otherwise if a new issue appeared, we shouldn't be able to properly update Guzzle quickly.

[2020-01-27 09:13] matks commented on #17351
Indeed Guzzle 5 being EOL is a strong incentive to update it. But
- we need @eternoendless opinion
- if we do it, we must warn prestashop developers now, and prepare the change for 1.7.8
- we must provide explanations for people about what this change means and how to update their code (maybe we could provide some adapters that have the same signatures that Guzzle5 methods but actually use Guzzle6

[2020-01-27 09:21] LouiseBonnard commented on #10584
Hi there, do we have specifications for this page?

[2020-01-27 09:31] 06463771 opened #17368 "Facing 500 error on the Admin"
I am facing 500 error on the prestashop admin login page. The site  is working fine. below are the cpanel error logs :-

[Mon Jan 27 02:01:19.526239 2020] [lsapi:error] [pid 1292460:tid 139663316444928] [client 157.36.174.52:59055] [host www.picfair.in] Backend fatal error: PHP Fatal error:  Uncaught Symfony\\Component\\Filesystem\\Exception\\IOException: Failed to remove directory "/home/nkh94n2g

[2020-01-27 09:32] matks commented on #10584
Not that I'm aware, but this page looks simple to understand. @tdavidsonas88 started the work of finishing it, he might have questions though.

ping @tdavidsonas88

[2020-01-27 09:34] #17256 closed, assigned to eternoendless

[2020-01-27 09:38] khouloudbelguith commented on #17355
Hi @rmilecki,

There are two cases:
1. If the carrier selected by the customer has deleted or disabled => this behavior `"BO should still allow adding tracking number *without forcing BO user to select a new carrier."` it is incorrect.
How you can add a tracking number to a carrier deleted( doesn't exist anymore)? => this is confusing for the employees.

2. If the carrier selected by the customer

[2020-01-27 09:39] khouloudbelguith commented on #17368
Hi @06463771,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

Thanks!

[2020-01-27 09:41] 06463771 commented on #17368
Ok Mam

Let me try. As I am not a developer.

[2020-01-27 09:43] 06463771 commented on #17368
Mam can you do this for me. because there are too many files under addons_service. I am confused.
I can provide you details

[2020-01-27 10:01] matks commented on #16891
I add the `must-have` label as this is a requirement from eternoendless

[2020-01-27 10:11] matks opened #17370 "Breaking compatibility changes should be easily identifiable in Changelog"
Today, breaking compatibility changes in new versions are identified:
- by looking at the release note
- by checking PRs with dedicated labels

But they cannot be easily found by looking at changelog. This should be modified as developers usually check the changelog to look for BC breaks.

[2020-01-27 10:11] khouloudbelguith commented on #17364
Hi @didi-2018,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/16847
So, I close it.
Thanks!

[2020-01-27 10:11] #17364 closed, assigned to nobody

[2020-01-27 10:11] khouloudbelguith commented on #17364
Duplicate of #16847

[2020-01-27 10:16] matks commented on #13252
🤣

[2020-01-27 10:17] khouloudbelguith commented on #17367
Hi @RaimondasSapola,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/16696 to fix the issue.
It is fixed in the PS1.7.6.3.
Your ticket is a duplicate of #16337
So, I close it.
Thanks!

PS: I tried with 1.7.7.x => OK.
https://drive.google.com/file/d/1DjinADYdHEPR-TQoHJqdIkQCJy1SBRkT/view

Thanks!

[2020-01-27 10:17] #17367 closed, assigned to nobody

[2020-01-27 10:17] khouloudbelguith commented on #17367
Duplicate of #16337

[2020-01-27 10:18] sotirisa opened #17371 "Can access categories"
**Describe the bug**
After upgrade to 1.7.6.3 I create new categories and it says to me that I don't have access to them. The categories that exist before the upgrade are fine only the new ones.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to categories and create new.
2. After that go to www.yourdomain.com/number of new category-name of the category
4. See error

**Additional informat

[2020-01-27 10:19] matks commented on #17300
We need @eternoendless opinion on this. This is a major technical change, he is the lead developer so it must happen under his approval 😊

[2020-01-27 10:20] khouloudbelguith commented on #17365
Hi @rmilecki,

We have a different rounding problem, it is an issue that should be specified & fixed by our developers.
We are aware of this issue.
Your ticket is a duplicate of #9779
Please follow: https://github.com/PrestaShop/PrestaShop/issues/9779#issuecomment-415125166
So, I close it.
Thanks!

[2020-01-27 10:20] #17365 closed, assigned to nobody

[2020-01-27 10:20] khouloudbelguith commented on #17365
Duplicate of #9779

[2020-01-27 10:24] khouloudbelguith commented on #17370
Ping @PrestaShop/prestashop-core-developers

[2020-01-27 10:32] didi-2018 commented on #17364
@khouloudbelguith
I used this fix:
https://github.com/PrestaShop/PrestaShop/pull/17073/files/1ccb2d9d46a82648f74a352ae509ff548e16753b
and it works fine my case ;-)

[2020-01-27 10:33] TristanLDD commented on #15971
@tomas862 This behavior will benefit all lists so it's preferable to change it everywhere

[2020-01-27 10:34] khouloudbelguith commented on #17371
Hi @sotirisa,

I did not manage to reproduce the issue with PS1.7.6.3 fresh install & PS1.7.6.3 after an upgrade from PS1.7.6.2 using the 1-click upgrade v4.10.1.
https://drive.google.com/file/d/1m4pkiM4oujhlqKDYMpYwi18iJsdPGhp-/view
What is the exact version of the 1-click upgrade did you use?
Have you any errors during the upgrade?

Thanks!

[2020-01-27 11:09] #16899 closed, assigned to jolelievre

[2020-01-27 11:12] khouloudbelguith commented on #17361
Hi @rzuf666,

I did not manage to reproduce the issue with PS1.7.6.3 after an upgrade from PS1.7.6.2 using the 1-click upgrade v4.10.1.
I attached a screen record
https://drive.google.com/file/d/1E1DfQtOLRBoZhw3eWwd06IToJtOR9WxY/view

Thanks to check & feedback.

[2020-01-27 11:16] khouloudbelguith commented on #17368
@06463771,

Sorry, no!
But, I can help you.

please, make a backup of your database and your files before any deletion.

You need to connect to your hosting space using your FTP client, by using the connection details provided by your web host (if not, contact your host).
Once connected, it is time to navigate this directory: [/Project_Folder/var/cache/](https://github.com/PrestaShop/PrestaShop/tr

[2020-01-27 11:19] khouloudbelguith commented on #17358
@demeldoo,

Do you visit it from the history browser or a search from google or from the Back office of PrestaShop?

Thanks!

[2020-01-27 11:20] zozo202600 commented on #16665
Can you send  the downgrade? What is the procedure please to downgrade to v2.0.2?

[2020-01-27 11:24] khouloudbelguith commented on #17353
@demeldoo, I tried with gdpr module v1.1.3 & it is OK in the FO
https://drive.google.com/file/d/1edaKolojQm9KMq7TIpklwyFxhUWh6HWt/view

Thanks!

[2020-01-27 11:27] demeldoo commented on #17358
i used a browser, also incognito mode, to call http, www and non-www, but also got some error reports when i used some tools to test website like nibbler or pingdom,

this is on openspeed server, litespeed

[2020-01-27 11:30] omar2886 commented on #17356
Unfortunately this is not the case I'm talking about. I've already checked those codes and doesn't work for me, I also cleared cache from BO and no changes.
Thanks

[2020-01-27 11:30] khouloudbelguith commented on #17344
@Bredamcguigan, Misconfigurations at the client side can result in “504 gateway time-out error in Prestashop”, It can be due to various reasons like:

- Improper browser settings or browser cache.
- Temporary problems with the network devices such as modems, routers, etc.
- Incorrect proxy settings in the browser or application.
- Network issues.

Please contact your host about this error & feedba

[2020-01-27 11:31] 06463771 commented on #17368
I have deleted dev/ and prod/ folder, but still facing the same issue

[2020-01-27 11:32] 06463771 commented on #17368
Now on the admin link, the main website is showing.

[2020-01-27 11:37] 06463771 commented on #17368
Now facing 404 error on the admin

[2020-01-27 11:40] khouloudbelguith commented on #17359
Hi @mrabsinthe,

I did not manage to reproduce the issue with PS1.7.6.3 & Paypal module v5.1.0.
I attached a screen record
https://drive.google.com/file/d/1ShMWhWBaGk_8oOIweKKWgDfkWVDaUZ4H/view

We have related issues:
https://github.com/PrestaShop/PrestaShop/issues/12521
https://github.com/PrestaShop/PrestaShop/issues/9850
https://github.com/PrestaShop/PrestaShop/issues/16578

Thanks to check & f

[2020-01-27 11:45] khouloudbelguith commented on #17210
Hi @go-sudo,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-

[2020-01-27 11:47] mrabsinthe commented on #17359
Not sure why you're unable to reproduce, perhaps because the payment error? I'm using PayPal v4.5.0, I'll try to update and we'll see if it makes any difference (I don't think so). It is certainly related to those issues mentioned.

[2020-01-27 11:49] tdavidsonas88 commented on #10584
Simple to understand; QA left feedback about the missing changes here: https://github.com/PrestaShop/PrestaShop/pull/14098

[2020-01-27 11:55] khouloudbelguith commented on #17121
@mvorisek, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.3
https://drive.google.com/file/d/1rEwZeH2BoALxfOVl_7caHjlKGzMA7uJi/view
This issue is reproduced only when Cache is enabled
![image](https://user-images.githubusercontent.com/16067358/73172874-4dd99080-4104-11ea-8785-05abe8b99b1f.png)
I’ll add this to the debug roadmap so that it’s fixed. If you h

[2020-01-27 11:59] khouloudbelguith commented on #16795
@ibrahimfsasmaz, as you can see in this link: https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
PrestaShop needs the following server configuration in order to run: MySQL v5.6 minimum, a recent version is recommended.
Please upgrade your Mysql server, clear cache, check & feedback.

Thanks!

[2020-01-27 12:04] khouloudbelguith commented on #17359
@mrabsinthe, with status order green, it is OK also.
https://drive.google.com/file/d/1iHpyfO2768U1ZRBGsmZ_TNsYx-9q366e/view

Waiting for your feedback.

[2020-01-27 12:06] khouloudbelguith commented on #17368
@06463771,
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

PS: If you can’t access your dashboard, you can still enable the Debug Move using an FTP client (for instance the free Filezilla tool) to edit t

[2020-01-27 12:08] 06463771 commented on #17368
Let me try. As I am not a developer.

[2020-01-27 12:11] khouloudbelguith commented on #17358
@demeldoo, I did not manage to reproduce the issue with PS1.7.6.3.
There is always a redirection from `http` to `https` automatically.

I attached a screen record
https://drive.google.com/file/d/10VV6_ezp-4s9qczbri2WOURTmRPCnjZ_/view
In the BO => Shop Parameters => SEO & URLs page => I have this configuration
![image](https://user-images.githubusercontent.com/16067358/73173790-75c9f380-4106-11ea-9

[2020-01-27 12:16] khouloudbelguith commented on #17356
@omar2886,

I did not manage to reproduce the issue with PS1.7.6.3
![image](https://user-images.githubusercontent.com/16067358/73174082-289a5180-4107-11ea-977c-7c33e92843da.png)
The first column is `Price (tax excl.)` & the second column is `Price (tax incl.)`.

Thanks!

[2020-01-27 12:17] 06463771 commented on #17368
I have enabled the debug mode as you told and below is the link of my Admin

www.picfair.in/01qezb1glssvthci/

And these are the error logs :-

[Mon Jan 27 02:41:03.397100 2020] [authz_core:error] [pid 1719982:tid 139663263995648] [client 45.55.58.166:54534] AH01630: client denied by server configuration: /home/nkh94n2gnruv/public_html/mails/en/contact_form.txt
[Mon Jan 27 02:41:03.396195 2020] [a

[2020-01-27 12:17] khouloudbelguith commented on #16665
Hi @zozo202600, you can follow this link: https://github.com/PrestaShop/ps_shoppingcart/releases

Thanks!

[2020-01-27 12:21] khouloudbelguith commented on #17368
@06463771, you have cache issues as always
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache. (Navigate to your BO => Advanced Parameters => Performance page).

You have also a permission issue on you

[2020-01-27 12:27] IvoRabush commented on #16702
Hello,
almost 2 months later and still not raction ...
Any updates ?

[2020-01-27 12:27] 06463771 commented on #17368
I am not able to login to my BO, so how can I follow the second instruction which you are saying to do ?

[2020-01-27 12:33] 06463771 commented on #17368
I have deleted both the folders just know, still it showing the 404 error (The page you are looking for was not found. ). Its not showing me the admin login page

[2020-01-27 13:18] 06463771 commented on #17368
I have contacted to my Hosting provider and this issue was of there hand and they sorted out.
Thanks for your support.

[2020-01-27 13:26] MatShir commented on #16646
@matks Could it be fixable?

[2020-01-27 13:28] khouloudbelguith opened #17374 "Exception in the Pages Configuration page - Theme & Logo"
**Describe the bug**
In the BO => Design => Theme & Logo page => Pages Configuration Tab => an exception is displayed
![image](https://user-images.githubusercontent.com/16067358/73178156-f8f04700-4110-11ea-8c32-0c3827e25e7d.png)

PS1.7.6.3 & Theme Customization module v1.1.0 =>ok
https://drive.google.com/file/d/1RnGWIPD9JRXvPpXJ_GbRd_KobMP2yco7/view

**To Reproduce**
Steps to reproduce the behavio

[2020-01-27 13:28] khouloudbelguith commented on #17374
Ping @boubkerbribri

[2020-01-27 13:29] matks commented on #16646
I dont know if it ever worked before.

Yes, it's fixable, and fixing it will fix all usecases where we use tinyMCE translatable inputs. However it needs @NeOMakinG help, I cant do this one.

[2020-01-27 13:33] mrabsinthe commented on #17359
I have just upgraded PayPal to v5.1.0 and it seems to be OK now (believe it or not). Even that old Japanese order is OK now...
![order-summary-updated](https://user-images.githubusercontent.com/31688689/73178614-e9bdc900-4111-11ea-9816-531725e8e02d.png)

[2020-01-27 13:35] khouloudbelguith commented on #16702
Ping @jolelievre friendly reminder :)

Thanks!

[2020-01-27 13:36] khouloudbelguith commented on #17359
@mrabsinthe, since it is OK.
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-27 13:36] #17359 closed, assigned to nobody

[2020-01-27 13:37] khouloudbelguith commented on #17368
@06463771, thanks for your feedback.
Since it is fixed, I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-27 13:37] #17368 closed, assigned to nobody

[2020-01-27 13:39] MatShir commented on #16842
We need to determine the right display between 100% and the amount of the discount ? And if it can by done? @PrestaShop/prestashop-product-team

[2020-01-27 13:43] MatShir commented on #16871
@PrestaShop/prestashop-qa @PrestaShop/prestashop-product-team  Have you reproduce it?

[2020-01-27 13:47] MatShir commented on #17045
@colinegin @atomiix  https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/price-calculation-rules.md this specs corresponds to this issue?

[2020-01-27 13:49] MatShir commented on #17161
#17045 is it linked ? @colinegin @atomiix

[2020-01-27 13:49] zozo202600 commented on #16665
I tried to download it but i didnt success to install it, what is the procedure to downgrade to this version? How do i need to install it ?
Thank you in advance for your quick answer

[2020-01-27 13:55] MatShir commented on #17311
What use happens if it is deleted?

[2020-01-27 13:55] khouloudbelguith commented on #16871
Hi @MatShir,

Yes, I manage to reproduce the issue with 1.7.7.x branch using
Orders page in legacy: https://drive.google.com/file/d/1QpT2RZtF-gXfddpkhXMRgtQqwsaUbxFi/view
Orders page migrated to Symfony: https://drive.google.com/file/d/1YOn_dqiTHne-fwdd_UJkaMNuMy0Wy1QY/view

Thanks!

[2020-01-27 14:01] khouloudbelguith commented on #16665
@zozo202600, thanks to check with this module cloned from GitHub
[ps_shoppingcart.zip](https://github.com/PrestaShop/PrestaShop/files/4117424/ps_shoppingcart.zip)

Thanks!

[2020-01-27 14:42] khouloudbelguith commented on #15251
Hi @superskyman100, This issue is currently closed, can you open a new one with more information about your configuration

Thanks!

[2020-01-27 14:44] Janoush commented on #9809
Hello, i have another idea. My product combination have for example 26.000 combinations. I dont need all combination in sql, only information about value. So simple way is make dropdown or button label in "customisation". I take minimal memory usage and frontend be fast! Not all need 100% product combinations. Can you make it? it won't be hard to make it!

![Combination VS simply dropdown](https:/

[2020-01-27 14:49] MatShir commented on #16871
Thanks the problem seems to occur only for combination

[2020-01-27 14:51] #17324 closed, assigned to nobody

[2020-01-27 14:52] khouloudbelguith commented on #17324
Hi @ShaimyWinda,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-01-27 15:25] sam-pires commented on #10250
After @LouiseBonnard updated the translation on Crowdin it should be fixed. To be sure it needs to be tested :
- [ ] 1.7.4
- [ ] 1.7.5
- [ ]1.7.6
- [ ] 1.7.6.2
- [ ] 1.7.6.3
- [ ] 1.7.7

@PrestaShop/prestashop-qa can someone help me test on the 1.7.7 ?

[2020-01-27 15:44] Robin-Fischer-PS commented on #10250
@sam-pires Fail in 1.7.7.x :
![Capture d’écran de 2020-01-27 16-42-26](https://user-images.githubusercontent.com/55688534/73189160-3f9b6c80-4124-11ea-9387-f285768aece9.png)

[2020-01-27 15:45] sam-pires commented on #16836
Hello,
As several issues have recently been opened about breadcrumbs in the Front-office, I started a study on breadcrumbs to standardize and specify the rule on breadcrumbs -> #17131
I pause this issue until I finish the study.

[2020-01-27 15:47] sam-pires commented on #10250
Damn!
It's not the same problem right?

[2020-01-27 15:54] Progi1984 commented on #16887
Fixed by #17279

[2020-01-27 15:54] #16887 closed, assigned to matks

[2020-01-27 15:57] #13476 closed, assigned to nobody

[2020-01-27 15:58] Progi1984 commented on #16393
Fixed in #16722

[2020-01-27 15:58] #16393 closed, assigned to Progi1984

[2020-01-27 15:58] Progi1984 commented on #17278
Fixed in #17349

[2020-01-27 15:58] #17278 closed, assigned to Progi1984

[2020-01-27 16:09] ddevigne commented on #17332
Hi @khouloudbelguith,

There is a way to reproduce the bug without my module.

Steps to reproduce :
- (in BO) install the integrated module "ps_wirepayment"
- (in FO) place an order
- (in FO)choose "Pay by bank wire"
- (in FO)validate your order
- (in BO) , the statuses are in right order (`Order confirmation` and then `Awaiting bank wire payment`)
- in your mailbox, the statuses are in reverse or

[2020-01-27 16:15] khouloudbelguith commented on #17332
Hi @ddevigne,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #17346
So, I close it.
Thanks!

[2020-01-27 16:15] #17332 closed, assigned to nobody

[2020-01-27 16:15] khouloudbelguith commented on #17332
Duplicate of #17346

[2020-01-27 16:15] omar2886 commented on #17356
Yes thanks, that may be right, but the thing is that it doesn't  take into consideration que discounts applied to that product.
What I need it our employees to be able to see in product-list the final price at that moment (Tax inc - discounts), so they don't have to use the FO to check the price of each product (also because they can't see the price tab in product.tpl on BO)

[2020-01-27 16:22] khouloudbelguith commented on #12844
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16553

[2020-01-27 16:27] matthieu-rolland opened #17376 "[BO] JS error in tinymce on "add new supplier" page"
**Describe the bug**
When going on the "add a supplier page" (the page with the form to add a supplier), we sometimes have a javascript error related to tinymce.

It's not all the time, I had to refresh the page at least 20 times to reproduce this 😓

This is blocking some automated tests made by the QA team, so this issue should be taken seriously.

**Steps to reproduce the behavior:**
1. Go to **

[2020-01-27 16:28] #12844 closed, assigned to nobody

[2020-01-27 16:31] khouloudbelguith commented on #17356
@omar2886, but this is the behavior specified by our Product team: "Do not use specific prices when displaying price with tax in BO product catalog".
If you remove this fix: https://github.com/PrestaShop/PrestaShop/pull/14091/files
The Price (tax incl.) in the BO => Product list page is displayed after applying a discount
Before:
![image](https://user-images.githubusercontent.com/16067358/73193369

[2020-01-27 16:47] sam-pires commented on #10250
Ok actually it doesn't work on the 1.7.6.2 either nor on the 1.7.5.2

The mystery is still alive ✨

[2020-01-27 16:49] NeOMakinG commented on #11011
I agree, let's work on it

[2020-01-27 16:49] sam-pires commented on #10250
We need an investigation 🚨👮‍♀️

[2020-01-27 16:51] khouloudbelguith commented on #17376
Same issue with 1.7.7.x

![image](https://user-images.githubusercontent.com/16067358/73195074-86419480-412d-11ea-966e-12b68db0d725.png)
ps1.7.6.3 => OK
Thanks!

[2020-01-27 16:56] matks commented on #11011
@NeOMakinG Thanks !

FYI, tinyMCE is available on the following Symfony pages: (see https://github.com/PrestaShop/PrestaShop/issues/13206)
- Add/edit categories
- Add/edit CMS page
- Add/edit brands
- Add/edit a supplier

[2020-01-27 17:09] matks commented on #10250
Sorry, not, it's not automatic 😄there is a manual process needed to be done to export crowdin data and update i18n.prestashop.com data

Hence the issue

[2020-01-27 17:17] sam-pires commented on #16842
Hello @arouiadib ,

Thanks for the feedback, really interesting 👍
As this issue is focused on the regression, it would be better to create another issue labeled "Improvement" with all the suggestions you listed in your post.
Can you do it? I can do it otherwise.

This will allow us to work on you suggestion in a different issue for the 1.7.8, and of course, you can be assigned to it 🙂 We would lov

[2020-01-27 17:20] matks commented on #12715
@NeOMakinG I tried to fix this a long time ago but my CSS skills were not enough. Would you try ? 😄

I created PR https://github.com/PrestaShop/PrestaShop/pull/12809 but it did not solve it 100%

[2020-01-27 17:51] rzuf666 commented on #17361
@khouloudbelguith I saw the video, it worked for you as it should, but after installation, the return to the module configuration showed the old look coming from PS 1.6. The list of installed modules still displayed that I have the module in version 4.1.1, but when I checked the files on the server, it turned out that the entire folder of the module contains its old version 3.0.1

So how do you ex

[2020-01-27 18:28] sotirisa commented on #17371
Hi and thank you for your reply.

It is not a problem from the upgrade to 1.7.6.3 because this problem is also with 1.7.6.1. I did a rollback and I check it.
Now when I create a new category, if I'm going to this category, I get the message.
"You can not access this category."

Did you happen to know why this is happening?

[2020-01-27 18:45] didi-2018 commented on #9866
same issue with 1.7.6.3 with every order is placed

![image](https://user-images.githubusercontent.com/44971218/73203551-95304300-413d-11ea-913a-e744a007189c.png)

[2020-01-27 19:49] Rho-bur commented on #16944
I am not sure I have to open a new issue for the same, identical, issue.
I have in my class:
`public function hookBackOfficeHeader()
    {
        if (Tools::getValue('module_name') == $this->name) {
            $this->context->controller->addJS($this->_path.'views/js/back.js');
        }
    }

    public function hookActionAdminControllerSetMedia()
    {
        return $this->hookDisplayBackOffi

[2020-01-27 19:56] Rho-bur commented on #16944
weel a minute after posting decided to try the "stupid" thing to do, remove the call to $this->hookDisplayBackOfficeHeader(); from the hookActionAdminControllerSetMedia and add the
$this->context->controller->addJS($this->_path.'views/js/back.js');
Guess what, works now, go figure...

[2020-01-27 20:07] zozo202600 commented on #16665
thank you very much it is finally working

[2020-01-27 21:49] CatchMeZZo commented on #12743
I have massive problems with vouchers in the shopping cart when buying and redeeming.

(buying)
[https://imgur.com/G7w3uPr](url)

(redeeming)
I try to explain it point for point:
-> If I sell a premium gift voucher in germany. I sell it to 0% VAT.-> Why? Easy!
-> Because this time it is not clear at which products the customer will be bought with the premium gift voucher. So far so clear!
-> Now t

[2020-01-27 22:15] Danoosh commented on #17345
I found the problem.
Open `themes/core.js`

Search for
`(".quickview .product-variants .page-product:not(.modal-open) .row .product-variants").replaceWith(e.product_variants), `

And replace it with:
`(".product-variants").replaceWith(e.product_variants),`

I think this change is about quick view mode that must be check in the previous PRs for a fix.
It seems there is the same issue for product de

[2020-01-27 22:18] CatchMeZZo opened #17378 "Wrong shipping vat calculation on redeem & purchase of a voucher without shipping"
Redeeming a "premium gift voucher" reduces the total value and vat. Unfortunately, the vat has to be fully calculated on Redeeming if the customer has purchased a voucher with 0%. Otherwise this would be tax evasion.

-> If I sell a premium gift voucher in germany. I sell it to 0% VAT.-> Why? Easy!
-> Because this time it is not clear at which products the customer will be bought with the premium

[2020-01-27 22:20] arouiadib commented on #16842
Hello @sam-pires,
Thank you for the answer.
I don't think I am able to create labelled issues, but I would really love to be assigned to this task once the corresponding one is created.

Regards,

[2020-01-28 07:54] khouloudbelguith commented on #17345
Hi @Danoosh,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/1.7.6.x
Thank you!

[2020-01-28 07:58] khouloudbelguith commented on #12743
Hi @CatchMeZZo,

Issue created here: https://github.com/PrestaShop/PrestaShop/issues/17378

Thanks!

[2020-01-28 08:00] khouloudbelguith commented on #16944
@damianobertuna,

Since it is OK.
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-28 08:00] #16944 closed, assigned to nobody

[2020-01-28 08:02] khouloudbelguith commented on #17371
@sotirisa, are you using an employee with a super admin profile or not?

Thanks!

[2020-01-28 08:10] khouloudbelguith commented on #17361
@rzuf666, as you can see in this link: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.3/composer.lock#L3136
The `blockreassurance` module is a native module & the release of this module in the PS1.7.6 is v3.0.1.
PS1.7.6.3 is not a major release.
In the next Major release PS1.7.7.0, [the blockreassurance module will be 4.1.1](https://github.com/PrestaShop/PrestaShop/blob/1.7.7.x/composer.lock#

[2020-01-28 08:45] khouloudbelguith commented on #17378
Hi @CatchMeZZo,

Thanks for your report.
I tried with PS1.7.6.3 & similar prices & it is OK.
![image](https://user-images.githubusercontent.com/16067358/73248037-7fa93080-41b2-11ea-8f77-6bcb180ec7ec.png)
Could you please add steps to reproduce the issue in a new comment.
1. Did you create a cart rule gift?
![image](https://user-images.githubusercontent.com/16067358/73248151-b67f4680-41b2-11ea-8924

[2020-01-28 08:55] LouiseBonnard commented on #10250
@matks, how frequently this data is updated? Could we consider doing it on a weekly basis at least or automatizing it?

[2020-01-28 09:07] nozionbecome opened #17379 "[BO] Can't explore a category when all subcats are disabled"
**Describe the bug**
When all subcategories from a parent are disabled then it's imposible to explore the parent again

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog / Categories
2. Create new category
3. Create a new subcategory with parent category equals the previous created category.
4. Edit the last new category and set it to disabled.
4. Go to main list, then it's imposi

[2020-01-28 09:10] Bredamcguigan commented on #17344
HI I am still back and forth with the host company. Can you tell me what should the max execution time should be? It is giving an error on it now.

[2020-01-28 09:20] khouloudbelguith commented on #17344
@Bredamcguigan, as you can see here: the memory_limit required is 256M.
Also, you can view all of the information about PHP for your server for that particular director as described [here](https://github.com/PrestaShop/PrestaShop/issues/17344#issuecomment-578137275).
This is our official [link](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/) to check the System require

[2020-01-28 09:28] khouloudbelguith commented on #17379
Hi @nozionbecome,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.6.2 & PS1.7.6.1 & PS1.7.6.0.
https://drive.google.com/file/d/1GEX1rM0qciI_F19NUu1MgcjgEAm3wtGG/view
It was ok with PS1.7.5.2.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-01-28 09:40] Zzareb commented on #12656
For those encountering the issue, this solved the problem for me ;

Connect to your DB interface;

`
INSERT INTO `ps_authorization_role`(`id_authorization_role`, `slug`) VALUES
(NULL, "ROLE_MOD_TAB_ADMINPARENTMODULESCATALOG_CREATE"),
(NULL, "ROLE_MOD_TAB_ADMINPARENTMODULESCATALOG_READ"),
(NULL, "ROLE_MOD_TAB_ADMINPARENTMODULESCATALOG_UPDATE"),
(NULL, "ROLE_MOD_TAB_ADMINPARENTMODULESCATALOG_DELETE"

[2020-01-28 09:42] ibrahimfsasmaz opened #17380 "ps 1.7.6.3 "Kritik Hata: ISO kodu doğru değil""
When I first enter the site, at white screen I am having that error, When I try to enter second time it works. I am loosing all my customers coming from adds, I need urgent help pls.

To reproduce issue pls go to www.npopi.com , and to reproduce again pls clear cache and try again.

![Screen Shot 2020-01-28 at 12 01 20](https://user-images.githubusercontent.com/58822578/73252258-84c6a980-41cb-11ea

[2020-01-28 09:53] khouloudbelguith commented on #17380
Hi @ibrahimfsasmaz,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/h

[2020-01-28 10:32] Perfecticus commented on #17368
@khouloudbelguith

I have been trying to find other people having the issues I'm having and this appears to match my case. I have had problems on 1.7.6.1 and still have issues after migrating to 1.7.6.3.

The cache appear to end up in an unrecoverable state quite often after being cleaned.
Some routines in prestashop clears cache files automatically, I havnt investigated exacly which,
but I assume

[2020-01-28 11:00] Bredamcguigan commented on #17344
Hi, I have the server requirements in place, in the log file I am seeing this error:
/public_html/modules/autoupgrade/classes/UpgradeTools/FilesystemAdapter.php line 86 - scandir(): (errno 40): Too many levels of symbolic links
Do you know what this means and how i can fix it? thanks.

[2020-01-28 11:06] khouloudbelguith opened #17382 "Redirection to Add a new Address page instead of Edit Address page while editing the customer information - BO"
**Describe the bug**
In the BO => Customers page => Click on "View" button to show the Information page of the customer "John Doe"
![image](https://user-images.githubusercontent.com/16067358/73258366-d5d39f00-41c5-11ea-8633-eaa3897b3b9b.png)
Try to edit any Address => redirection to a New Address page, after save => new address is added.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2020-01-28 11:07] khouloudbelguith commented on #17382
Ping @Robin-Fischer-PS

[2020-01-28 11:16] khouloudbelguith commented on #17344
@Bredamcguigan, could you please check if this file: `/public_html/modules/autoupgrade/classes/UpgradeTools/FilesystemAdapter.php` exists on your server.

Thanks!

[2020-01-28 11:17] jf-viguier opened #17383 "statsbestcustomers module doesn't return anything if visits are not logged"
**Describe the bug**
 if visits are not logged, best customers should be returned with total Money Spent

**To Reproduce**
Steps to reproduce the behavior:
1. Desactivate connection logging with PS_STATSDATA_CUSTOMER_PAGESVIEWS to false in configuration (statsdata module)
2. Empty connections table
3. Go to stats /Best customers
4. See error : no result

**Additional information**
PrestaShop versi

[2020-01-28 11:23] Bredamcguigan commented on #17344
Yes its there and has permission 0666.

[2020-01-28 11:37] Maofree opened #17384 "if the caption is void the alt attribute of the product images is void"
hi
on the 1.6.x the "alt" attributes of product images if not set, will display the product name.
Instead on the 1.7.x if the "caption" field is void the alt will be void, I think it is not a good news for the seo.
can you set again the same behavior of the 1.6.x?

thanks

**Screenshots**
![4](https://user-images.githubusercontent.com/653230/73260193-b3dc1b80-41c9-11ea-8bc4-287eb3dda4d9.png)
![5](

[2020-01-28 11:45] khouloudbelguith commented on #17383
Hi @jf-viguier,

The module adds a list of the best customers to the Stats dashboard.3
The list of customers and not the list of visitors.
![image](https://user-images.githubusercontent.com/16067358/73261239-f6065c80-41cb-11ea-81c2-aadb416523b4.png)
https://drive.google.com/file/d/1xsH7doHGidzZ9qJsW_eI2Otq0Mfjon4q/view

Thanks to check & feedback.

[2020-01-28 11:56] khouloudbelguith commented on #17384
Hi @maofree,

I have the same behavior as PS1.7.6.3 & PS1.7.5.2.
It is OK with PS1.6.1.24: the "alt" attributes of product images if not set, will display the product name.

I attached a screen record
https://drive.google.com/file/d/1MuX3hQXNQCbFnTj6ksx57AU1XwvSDxBR/view
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-01-28 11:58] khouloudbelguith commented on #17344
@Bredamcguigan,

When you try to make an upgrade again, it fails?

Thanks!

[2020-01-28 12:00] Bredamcguigan commented on #17344
Yes the log file says:
[2020-01-28 04:01:14] [INTERNAL] /home/birdcouk/public_html/modules/autoupgrade/classes/UpgradeTools/FilesystemAdapter.php line 86 - scandir(/home/birdcouk/public_html/oldsite/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/birdgard/bir

[2020-01-28 12:06] khouloudbelguith commented on #17344
@Bredamcguigan,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-01-28 12:06] #17344 closed, assigned to nobody

[2020-01-28 12:38] jf-viguier commented on #17383
@khouloudbelguith yes, the module returns best customers but uses connection table in sql to return the number of visits. I'll do a PR

[2020-01-28 13:06] jf-viguier commented on #17383
Check my PR here https://github.com/PrestaShop/statsbestcustomers/pull/8

[2020-01-28 13:10] florianeb-meme commented on #16328
Hello,
We have the same issue with the abandonned carts.

[2020-01-28 13:28] khouloudbelguith commented on #17383
@jf-viguier,

if the "Save page views for each customer" is disabled the number of visits is changed too.
https://drive.google.com/file/d/1Kl4iNctGeUh4frEniAazZ83eR7kdJndF/view

Thanks!

[2020-01-28 13:52] maofree commented on #17384
hi
this is a problem especially for all those sites that have been updated from versions lower than 1.7, because everyone knew that the name of the product would appear and many left it on purpose, now they are seen without texts in the alt of the images

[2020-01-28 14:01] khouloudbelguith commented on #14795
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16431

[2020-01-28 14:13] matks commented on #17031
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17191

[2020-01-28 14:13] #17031 closed, assigned to sowbiba

[2020-01-28 14:13] #14795 closed, assigned to nobody

[2020-01-28 16:14] arafatx opened #17390 "[1.7.6.3] HTTP ERROR 500 when clear cache without debug mode"
**Describe the bug**
I installed fresh install of the above prestashop version (1.7.6.3), then I disabled debug mode. When I click clear cache button, I got http error 500.

Things I have checked:
1) phppsinfo.php (everything is green)
2) Permission is OK.
3) I disabled cache, activate force compilation
4) Deleted the dev and prod from /var/cache folders

Error Logs from PHP specific to the error:

[2020-01-28 16:18] khouloudbelguith commented on #17390
Hi @arafatx,

After deleting the `prod/` & `dev/` folders manually, the permission of the `/var/cache/` folder is NOK.
You need to give permission to this folder.

Thanks to check & feedback.

[2020-01-28 16:30] khouloudbelguith commented on #16736
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17288

[2020-01-28 16:33] #16736 closed, assigned to Progi1984

[2020-01-28 16:44] arafatx commented on #17390
Yes, I recheck the permission is ok.
I even tried 777, 755, and chmod with the correct users on that folder. None working.

May I know, if you also notice the same behaviour with the clean installation with this version? The previous version doesn't have this problem.

[2020-01-28 17:00] adi5497 opened #17392 "Prestashop on Apache + Nginx as proxy + Fast-CGI - Web Service API error 401"
I'm trying to config a PrestaShop on VPS. Everything is working, despite one, web services API. When I'm trying to go https://example.com/api, web services ask me about auth key. After entering it into username field and leaving password blank, it works. But while I'm trying access to API via remote app I'm getting error 401 unauthorized. I know that it's server fault becaus on previous host every

[2020-01-28 17:17] LordMarZ opened #17393 "back office goes blank after disabling overrides"
hello guys, i just lost my access to the backoffice after i tried to disable the overrides

im working with Prestashop 1.7.4.2
i have already emptied the cache folder from the FTP, but it did not returned to normal back office,

the error in the debug mode is this one:
[code]
what can i do to be able to enter my backoffice again?

thanks!

[2020-01-28 17:34] asmecher commented on #16745
This is better solved upstream -- see https://github.com/smarty-php/smarty/issues/155 for the equivalent issue in Smarty.

[2020-01-28 18:11] Perfecticus commented on #17390
I also wanr to bump this.
I have experienced this since 1.7.6.1 and a few months.
Upgrading to 1.7.6.3 did not resolve it.
As I wrote on another, closed, issue.

[2020-01-28 18:42] elaugier opened #17394 "forgotten space in select html tag"
Seem there is a bug on html generation with select tag.

`<selectid="xxx">[...]</selectid="xxx">`
 instead of
`<select id="xxx">[...]</select id="xxx">`

for example:
1. Go to 'Store Setting'
2. Click on 'Products'
3. Scroll down to 'Pagination'
4. See error

**Screenshots**
![Screenshot Error](https://i.paste.pics/603ed22131feb413507bacda4909f85e.png)

**Additional information**
PrestaShop versio

[2020-01-28 20:37] 01park commented on #14479
I just discovered something tonight.

When I login in to BO, but not as Super administrator and edit and save an product. The search engine index does work.

Tested again with a new super admin account and search enige index does not work.

[2020-01-28 21:53] BenTen commented on #14479
Since, other profils doesn't have permission for other module by default.
Maybe it's because a module.

Do you have some 3rd part module in hook "actionProductUpdate"?
You can see it in Design > Positions.

[2020-01-29 03:49] 21shadow opened #17396 "Items going out of list container"
items of select are going outside of its container
![error](https://user-images.githubusercontent.com/42492678/73326449-328f9200-4278-11ea-9f97-e69ca06aec96.png)

[2020-01-29 07:08] JBWModules commented on #17396
Are you using PHP 7.3?

[2020-01-29 07:09] JBWModules commented on #17394
Your version is not compatible with PHP 7.4. - downgrade to 7.2

[2020-01-29 07:40] khouloudbelguith commented on #16950
Hi @rflorent,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2020-01-29 07:40] #16950 closed, assigned to nobody

[2020-01-29 07:41] khouloudbelguith commented on #16951
Hi @photinia73,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-29 07:41] #16951 closed, assigned to nobody

[2020-01-29 08:01] Progi1984 commented on #16328
@florianeb-meme Please open  an issue relative to your problem, with a test scenario. Thanks for your contribution.

[2020-01-29 08:07] khouloudbelguith commented on #17393
Hi @LordMarZ,

This is actually a Symfony service configured into the ps_linklist module: https://github.com/PrestaShop/ps_linklist/blob/master/config/services.yml#L26

Did your update upgrade your modules too? Maybe you have the upgraded ps_linklist module & it was NOK?
Thanks to try to re-install the ps_linklist module, clear cache, check & feedback.

Thanks!

[2020-01-29 08:13] khouloudbelguith commented on #17394
Hi @elaugier,

I did not manage to reproduce the issue with PS1.7.6.3
![image](https://user-images.githubusercontent.com/16067358/73338752-949bc780-4277-11ea-8b55-5f1595081987.png)

PrestaShop is not compatible with PHP 7.3 & PHP7.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow thi

[2020-01-29 08:17] khouloudbelguith commented on #17396
Hi @21shadow,

I did not manage to reproduce the issue with PS1.7.6.3
![image](https://user-images.githubusercontent.com/16067358/73338963-fd833f80-4277-11ea-94b8-74fce8204369.png)
What is the exact version PHP did you use?
If it is PHP7.3 or PHP7.4, PrestaShop is not compatible with PHP 7.3 & PHP7.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.

[2020-01-29 08:31] khouloudbelguith commented on #14479
Hi @01park,

It is ok with PS1.7.6.3 using a new employee with a different profile than the super admin.
https://drive.google.com/file/d/1YmCwuLrUzahWyo6bVIHzupHBgnsj_nHZ/view
Thanks to check @BenTen request.

Thanks!

[2020-01-29 08:43] khouloudbelguith commented on #17390
@arafatx, @Perfecticus, it is Ok with PS1.7.6.3 fresh install
I attached a screen record
https://drive.google.com/file/d/1_-K6at5m_ZrkZjzsQGvUOYTtF4VSaQxn/view

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.

[2020-01-29 08:57] davideapvd commented on #15430
Same here,
when selecting show product from subcategories we cannot order products that are in the subcategory because in the admin page when filtering by categories no products in the subcategories are shown so we cannot tweak their position ordering.
so for example if I have

  Cat1
    Cat2

and

   Prod1 -> Cat1
   Prod2 -> Cat2 (BUT NO CAT1)

if faceted search is enabled and "show products in

[2020-01-29 09:12] davideapvd commented on #15430
@beniwal this proposal somewhat works, but breaks the faceted navigation filters

[2020-01-29 09:12] Perfecticus commented on #17390
Yea, you dont seem to catch the issue we're referring to.
My suspicion is that the cache fails to initialize if multiple requests are performed simultaneously when the cache is invalid.

What could be the issue here then, some conflict between caching mechanisms?
Rinsing cache directory **and** restarting apache makes the site work again.
Only deleting the cache directory usually leaves the shop i

[2020-01-29 09:12] khouloudbelguith opened #17397 "The pop up is not displayed when adding a new currency"
**Describe the bug**
In the BO => International => Localization => Currencies page, try to add a new currency, an error in the console is displayed
![image](https://user-images.githubusercontent.com/16067358/73342388-bf3d4e80-427e-11ea-8de4-05a631349d8c.png)
When you try to select a currency, the pop up is not displayed as in the branch 1.7.7.x
![image](https://user-images.githubusercontent.com/16

[2020-01-29 09:15] khouloudbelguith commented on #17397
Ping @boubkerbribri

[2020-01-29 09:17] PrestaShark commented on #17345
@Danoosh work better but only with option "Display unavailable product attributes on product page -> YES". When NO then nothing better.

[2020-01-29 09:25] khouloudbelguith commented on #17390
@Perfecticus, did you use opcache? it could be similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/10998.

Thanks to check & feedback.

[2020-01-29 09:49] Perfecticus commented on #17390
@khouloudbelguith, indeed I do!

I think that might be the culprit here!
I did what seedsgallery suggested in ticket #10998
by adding

To /etc/php/7.0/apache2/conf.d/10-opcache.ini

After doing so and restarting webserver I have not been able to reproduce the problem.
Tested clearing cache and loading site in a few other tabs simultaneously and still no issue.

I will continue to test and report b

[2020-01-29 09:55] Perfecticus commented on #17390
I see these changes has been committed to master..
https://github.com/PrestaShop/docker/pull/193

But is it in 1.7.6.3.. how come I experienced the same after migrating to that version..

[2020-01-29 09:58] MatShir commented on #17311
**With gdpr module:**
![image](https://user-images.githubusercontent.com/43613217/73345943-47beed80-4285-11ea-8bb0-0f9bd48461fd.png)

**Without gdpr module**
![image](https://user-images.githubusercontent.com/43613217/73346468-2f9b9e00-4286-11ea-8ce3-8d999e56aebe.png)

**Order list**
![image](https://user-images.githubusercontent.com/43613217/73346213-c61b8f80-4285-11ea-880c-aacc508038de.png)

The

[2020-01-29 09:59] khouloudbelguith commented on #17390
@Perfecticus, this is not a PrestaShop issue but it is fixed on your server.
That's why the fixes were added to the docker image.

@arafatx, any news?

Thanks!

[2020-01-29 10:00] PululuK commented on #17397
Hi @khouloudbelguith
Can you add **1.7.7.x** label please ?
Thank you

[2020-01-29 10:05] khouloudbelguith commented on #17397
@PululuK, It is ok with branch 1.7.7.x
https://drive.google.com/file/d/1B1GrWDhxYqIjTqLegWxQPIKzMOucQ3oe/view

Thanks!

[2020-01-29 10:13] Robin-Fischer-PS opened #17398 "Exception on View order with a pack product"
**Describe the bug**
On migrated page, with an order containing a pack product, there is an exception error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FO, create an order with a pack
2. Go to BO, view order (migrated page) : Error

**Screenshots**
![screencapture-localhost-ps177-admin-dev-index-php-sell-orders-orders-6-view-2020-01-29-11_02_05](https://user-images.githubuserconte

[2020-01-29 10:15] omar2886 commented on #17356
THANK YOU!!!

[2020-01-29 10:18] sam-pires commented on #16336
@LouiseBonnard Need more info.
What is it going to be used for? How can QA test?

[2020-01-29 10:22] sam-pires commented on #17314
Waiting for legal team answer for the moment.

[2020-01-29 10:24] sam-pires commented on #17174
Need to create another issue on 178 to improve the behavior

[2020-01-29 10:40] sam-pires commented on #17311
1. Make sure the customer is well saved in the order when we delete a customer.
2. Test the behavior when the deletion is done via the GDPR module
3. TBS

⚠️ Wait for the work on the Order pages to be done before working on this one

[2020-01-29 10:41] khouloudbelguith commented on #17398
Issue not reproduced
https://drive.google.com/file/d/1T6RbFhwoR28Xke9oFVZ3K_4q_03Zc3XW/view

Thanks!

[2020-01-29 10:41] #17398 closed, assigned to nobody

[2020-01-29 10:51] micka-fdz opened #17400 "Reversed product sorting"
**Describe the bug**
Product sorting (by position) is reversed when `ps_facetedsearch` module is disabled.
Parameter in URL is `?order=product.position.desc` instead of `?order=product.position.asc`

**To Reproduce**
Steps to reproduce the behavior:
1. Disable module `ps_facetedsearch`
2. Go on category page
3. Sort by : **Name, A to Z**
4. Sort by : **Relevance**
5. See reversed product sorting

[2020-01-29 10:52] sam-pires commented on #10583
Reminder: Once the migration part is done, organize a meeting to read all issues, regroup them when possible, and prioritize them.

[2020-01-29 11:19] khouloudbelguith commented on #17400
Hi @micka-fdz,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.6.2 & PS1.7.5.2.
The Position of the products is reversed.
https://drive.google.com/file/d/1gO0mKklp7a-f3ihgpkD_MwbxLCER2MXm/view
I’ll add this to the debug roadmap.

Thanks!

[2020-01-29 11:22] khouloudbelguith commented on #17392
Hi @adi5497,

It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks for your understanding!

[2020-01-29 11:22] #17392 closed, assigned to nobody

[2020-01-29 11:30] Jenci666 commented on #12687
Hi Everyone

I managed to get rid of all of the errors and warnings on my site and I thought I will share what I have done until now.
I have Prestashop 1.7.6.1

I have modified 3 files.

1. **/public_html/themes/classic/templates/catalog/_partials/miniatures** | _**product.tpl**_

_{**
 * 2007-2019 PrestaShop and Contributors
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academi

[2020-01-29 11:54] josedvd123 opened #17403 "Always showing mobile menu on v1.7.6.3"
**Describe the bug**
I've just installed a new PrestaShop Store and when I got to the admin panel the mobile menu is always shown, even on a desktop and with fullscreen. My screen resolution is 1920 x 1080.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin panel
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/24190668/73354367-d6d40180-4295-11ea-86b

[2020-01-29 12:44] matthieu-rolland commented on #16871
Fixed in this PR:  #17404

[2020-01-29 13:25] noione commented on #17173
Hello @khouloudbelguith,
Thank you for your feedback, i've tried to check my logs and i see this error :
[Wed Jan 29 11:49:36.007284 2020] [php7:notice] [pid 20243] [client XXXXXXXX:55697] PHP Notice:  Undefined index: fr in /var/cache/prod/smarty/compile/99/79/7f/99797fae64f9edf75220d0ffaeba1ef1bc500e95_0.file.modal_translation.tpl.php on line 39, referer: /index.php?controller=AdminModules&confi

[2020-01-29 13:29] khouloudbelguith commented on #17173
Hi @noione,

This is a cache issue.
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2020-01-29 13:37] noione commented on #17173
Already done and still having the same error on my logs
i've also tried to reinstall the gsite module but in vain

[2020-01-29 13:43] yannicka opened #17406 "Add categories of related products"
PrestaShop offers a mecanism of "related products" that allows us to associate products to another.

This allows for example to list complementary products, similar products, products of substitution, etc.

However, this allows only one list of "related products", and it is not possible to know if a product is associated because it is complementary, similar, a substitution or whatever.

The idea:

[2020-01-29 13:48] khouloudbelguith commented on #17403
Hi @josedvd123,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.6.1 & PS1.7.6.2 & PS1.7.6.3.
I tried with Ipad4 & Ipad Mini 2
1. In the Dashboard Page, Orders page (not migrated page)
The menu mobile is always displayed & when we click on it => nothing happens (it should display or not the menu)
![image](https://user-images.githubusercontent.com/16067358/73360962-4a

[2020-01-29 14:00] khouloudbelguith commented on #17406
Hi @yannicka,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-01-29 14:03] khouloudbelguith commented on #17173
@noione, thanks to provide me the debug mode report & the logs under `/var/logs/` folder.

Thanks!

[2020-01-29 14:12] josedvd123 commented on #17403
Sorry, it was a conflict with a Chrome extension called "Letyshops".
I just disabled the extension and now all is fine.
Thanks

[2020-01-29 14:14] matks opened #17407 "[SF Migration] Uniformize all Toggle Status action in Symfony pages"
A large number of ObjectModels can be toggled (= toggle the status) from the Grid page.

To implement it, we use Toggle Status Commands however
- some of our Toggle Status Commands expect only the ID of the objectmodel
- some of our Toggle Status Commands expect the ID and the expected status

Some of the handlers that do the job set the status to expected new value, some use native `ObjectModel::

[2020-01-29 14:15] noione commented on #17173
I have no error when i enable the debug mode, but on the logs file i have this warning in multiple time :
[2020-01-29 15:05:53] translation.WARNING: Translation not found. {"id":"Install","domain":"AdminActions","locale":"fr-FR"} []
Is it about the gsite module ?
Thank you

[2020-01-29 14:20] khouloudbelguith commented on #17403
@josedvd123, I will re-open the issue.
Issue reproduced with Ipad4 & Ipad Mini 2 using the https://www.browserstack.com.
https://drive.google.com/file/d/1z8xIZDZbpOcwK0A8UCdzUE0S1LmvkZ-T/view
Using the same device with PS1.7.5.2 => OK.
https://drive.google.com/file/d/1kDnofITgc-7CowHaWHNkv2-eewC-BHtg/view

Thanks!

[2020-01-29 14:21] estebanwoj opened #17409 "Access to BO Products only in Debug Mode otherwise white page (WSOD)"
I can only access BO Products when I active debug mode otherwise I get a white page, with no errors and a code 200.

1. Remove cache (var/cache/*)
2. Go to BO products (v1.7.4 & 1.7.5 are concerned)

PrestaShop version: v1.7.4 & 1.7.5
PHP version: 7.x (i tried all of them)

Rights are 777, in local developpement (to avoid problems) with docker (tried on apache and nginx, it's the same result) and

[2020-01-29 14:23] khouloudbelguith commented on #17173
@noione, thanks to navigate to your Back office => International => Translations => Update all your languages.
![image](https://user-images.githubusercontent.com/16067358/73364670-3d174f00-42ab-11ea-8ea8-47a092d6dbd8.png)

Thanks!

[2020-01-29 14:36] matks commented on #16628
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/17410

[2020-01-29 14:43] khouloudbelguith commented on #17409
Hi @estebanwoj,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.3
I attached a screen record
https://drive.google.com/file/d/1ipkxas-f9_Ef97vFjsC6-M8EEDbcQkq7/view

It is such a vague error.

Did you use opcache?

PrestaShop is not compatible with PHP 7.3 & PHP7.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible

[2020-01-29 14:47] cedricfontaine commented on #17333
No it seems correct. Could you try not with tax rule one after another, but Combine.

[2020-01-29 14:49] arditec opened #17411 "PS 1.7.5.2 Slow Back End Page"
**Describe the bug**
We have a prestashop in version 1.7.5.2 takes a long time to load certain sections of the backoffice. For example, when creating a new product it takes between 15 and 20 seconds to load.
We have reviewed the server that hosts it and resources are fine (50% memory, CPU between 0-1%, sufficient disk space), we have updated the modules and made several tests with different cache

[2020-01-29 14:49] LouiseBonnard opened #17412 "Switch 'Reorder' into 'Rearrange' in the products listing"
Hellooo! One small thing that could be nice, I don't know if this PR can handle this part: when you select a filter ('Stationery', for instance), a new column appears called 'Position' and it allows users to reorder their products. 'Reorder' in the sense of organizing them the way you want. Yet, the term is often misunderstood during translation and it is sometimes turned into 'Order again'.

<img

[2020-01-29 14:50] LordMarZ commented on #17393
Hello there, i just downloaded and installed the ps_linklist module through FTP and did not fix the issue with the backoffice.

the debug mode shows this text:

(1/1)                                         ServiceNotFoundException                                                                          The  service "prestashop.module.link_block.grid.data_factory" has a  dependency on a non-existe

[2020-01-29 14:55] noione commented on #17173
Thank you, i've the update of languages but i still can't have the multilingue on my gsite
I have this error on the dev debug file :
[2020-01-29 15:51:00] translation.WARNING: Translation not found. {"id":"Enable mobile","domain":"AdminActions","locale":"fr-FR"} []
and the same error on the logs file
PHP Notice:  Undefined index: it in /var/cache/prod/smarty/compile/99/79/7f/99797fae64f9edf75220d0

[2020-01-29 14:57] khouloudbelguith commented on #17393
@LordMarZ,

That means => It is not ok.

Did you tried to rename the `ps_linklist` folder from `ps_linklist` to `ps_linklist_old` & clear cache?

The issues occurs again?

Thanks!

[2020-01-29 15:01] khouloudbelguith commented on #17173
@noione, Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]

Try to navigate to the BO => International => Localization => Import the France pack.
![image](https://user-images.githubusercontent.com/16067358/73367993-8d44e000-42b0-11ea-8b58-c62f1272bba3.png)

Thanks!

[2020-01-29 15:05] khouloudbelguith commented on #17411
Hi @arditec,

Thanks to follow these steps:

- `Never recompile template files`: this option is to be chosen for maximum performance.
- `Cache enabled (YES)`: makes pages fastest.
- `Smart cache for CSS (YES)`: brings together in a single file, compresses and caches CSS files.
- `Smart cache for Javascript (YES)`: brings together in a single file, compresses and caches JS files.
- `Apache Optimiza

[2020-01-29 15:14] LordMarZ commented on #17393
yep, thats exactly what i did, renamed the original "ps_linklist" to "ps_linklist_OLD" and placed the fresh copy with the original folder name, cleared cache and the issue occurs again

thanks!

[2020-01-29 15:14] estebanwoj commented on #17409
I agree, it is such a vague error.

There is no cache, and recompile templates on calls.

I can access Products list, but i can't edit them, sorry it was not clear.

It's not a fresh install, both case there was a manual migration.
In this case a 1.7.4 -> 1.7.5 by executing upgrade.php script.

Everything was fine, and after a cache refresh my Products couldn't be edited anymore without the debug

[2020-01-29 15:16] khouloudbelguith commented on #17333
@cedricfontaine, I tried with Combine & it is OK also.
![image](https://user-images.githubusercontent.com/16067358/73369291-a5b5fa00-42b2-11ea-8ca1-66e5e9940ef7.png)

Thanks!

[2020-01-29 15:17] khouloudbelguith commented on #17393
@LordMarZ,

Try to not replace anything, just rename the module folder, clear cache, check & feedback.

Thanks!

[2020-01-29 15:18] khouloudbelguith commented on #17409
@estebanwoj, Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]

Thanks!

[2020-01-29 15:25] LordMarZ commented on #17393
DAMN... worked like a charm!

thank you very much for your time and share your knowledge to fix this issue!
have a nice day!

[2020-01-29 15:27] khouloudbelguith commented on #17393
@LordMarZ, now try to navigate to your back office => Module Catalog => search for the ps_linklist module & install it.

Thanks!

[2020-01-29 15:30] matks commented on #16628
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17410

[2020-01-29 15:30] #16628 closed, assigned to matks

[2020-01-29 15:34] cedricfontaine commented on #17333
Ok so it seems to be fixed ?

[2020-01-29 15:36] khouloudbelguith commented on #17333
@cedricfontaine, I tested the last release 1.7.6.3.
So, it seems to be fixed.
Can we close the issue?
Thanks!

[2020-01-29 15:44] cedricfontaine commented on #17333
Yes

[2020-01-29 15:44] #17333 closed, assigned to nobody

[2020-01-29 15:46] magalupi opened #17414 "Cart not updated"
Bonjour,

depuis quelques jours, le panier ne se met pas à jour.
Lorsqu'un client choisi de mettre un produit dedans il ne se passe rien.
Il faut soit appuyer sur F5 soit cliquer sur son compte client pour que le panier s'actualise.
Si pas de compte, il n'y a pas la possibilité de mettre dans le panier.

Cela me pénalise lourdement, auriez vous une idée de la raison du problème?
Je suis sur le the

[2020-01-29 15:46] khouloudbelguith commented on #17333
@cedricfontaine, thanks!
Feel free to open a new one when needed.

Thanks!

[2020-01-29 15:48] estebanwoj commented on #17409
I really appreciate your reactivity, thank you.

root@c667a2726295:/var/www/html# rm -fR var/cache/*
root@c667a2726295:/var/www/html# php -d memory_limit=-1 ./bin/console cache:clear

 // Clearing the cache for the dev environment with debug true

 [OK] Cache for the "dev" environment (debug=true) was successfully cleared.

root@c667a2726295:/var/www/html# php -d memory_limit=-1 ./bin/console cach

[2020-01-29 15:48] tdavidsonas88 commented on #17407
If we use objectmodel then there is no need to pass the status to the command and handler. For the true/false statuses. Wondering which implementation could be chosen. :thinking:

[2020-01-29 15:50] khouloudbelguith commented on #17414
Hi @magalupi,

In your BO => Modules => Module Manager page => search for the `ps_shoppingcart` module, click on the configure & check if the `Ajax cart` option is enabled or disabled?
![image](https://user-images.githubusercontent.com/16067358/73372416-7655bc00-42b7-11ea-9935-faf9f599d4a3.png)

Thanks!

[2020-01-29 15:53] khouloudbelguith commented on #17409
@estebanwoj, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-01-29 16:00] polo195pl commented on #14941
Is there any chance for a developer reply? @marionf

[2020-01-29 16:06] magalupi commented on #17414
hi khouloudbelguith
the Ajax cart option is enabled

![image](https://user-images.githubusercontent.com/60297887/73373812-81115080-42b9-11ea-95a9-b084708eb20b.png)

[2020-01-29 16:09] matks commented on #17407
The best solution is to be as explicit as possible:

Each Command should expect both the ID and the new status ('enabled' or 'disabled').
This ensures that _if you fire 5 times the same Command in a row, you will obtain the same result_ and is an important rule for CQRS. Commands are stateless.

The "new status" should be provided by the HTTP request. We should not tell controller "eyh, toggle thi

[2020-01-29 16:16] tdavidsonas88 commented on #17407
So it should look like Raimondas implemented it:

[code]

[2020-01-29 16:17] matks commented on #17407
This handler is what we want indeed 👍

[2020-01-29 16:17] khouloudbelguith commented on #17414
@magalupi, what is the exact version of PrestaShop did you use? and what is the exact version of the `ps_shoppingcart` module did you use?

Thanks!

[2020-01-29 16:25] #17400 closed, assigned to nobody

[2020-01-29 16:26] Progi1984 commented on #17400
Fixed by #17402

[2020-01-29 16:27] magalupi commented on #17414
Prestashop 1.7.1.2    ps_shopping cart  v2.0.3

[2020-01-29 16:31] LouiseBonnard commented on #17174
@sam-pires, are you talking about this one, #17193?

[2020-01-29 16:35] khouloudbelguith commented on #17414
@magalupi, I did not manage to reproduce the issue with PS1.7.6.3 & ps_shoppingcart module v2.0.3.
I attached a screen record
https://drive.google.com/file/d/1lktYBzVXs7GZRhgyo4CLEFcrj6em2UIO/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PH

[2020-01-29 16:40] sam-pires commented on #14941
We need you guys here 🙂  @PrestaShop/prestashop-core-developers

[2020-01-29 16:45] Progi1984 commented on #16391
Fixed in #17135

[2020-01-29 16:45] #16391 closed, assigned to Progi1984

[2020-01-29 17:02] Progi1984 commented on #15441
@R0bb12 Hello have you got always the problem ?

[2020-01-29 17:11] noione commented on #17173
@khouloudbelguith thank you, i've done all steps but still having only one language when i generate the sitemap
In fact my default language of the store is Frensh
Thank you

[2020-01-29 17:16] #16871 closed, assigned to matthieu-rolland

[2020-01-29 17:32] sam-pires commented on #17193
Some examples
[Matomo](https://matomo.org/docs/geo-locate/)
[WooCommerce](https://docs.woocommerce.com/document/maxmind-geolocation-integration/)

[2020-01-29 17:32] Rmagic96 opened #17417 "Missing features in new-products list"
**Describe the bug**
In the new-products view if you have multiple features values from the same feature, only one is listed

**To Reproduce**
Steps to reproduce the behavior:
In backoffice create a feature with multiple values.
Assign those features to a new product
In the thumbnail template add the features, for example:
[code]
Go to the new-products page and only one of all those feature values

[2020-01-29 17:34] sam-pires commented on #16871
Damn to fast 🔥
Thanks @matthieu-rolland

We need to trim the bakclog with Mateus before you run out of issues

[2020-01-29 17:41] kvokul commented on #14941
Hi! Samuel - nice to see you here, and thank you that you care ;)

We wait for reply, because we simply cannot work. We see few ways, and even we don't know which one is right:
- if PrestaShop stay on _lang and _shop structure? But how it works with Symfony?
- PrestaShop will use another system? How it will work?

I can't believe that among so many people working on this project, no one thought ab

[2020-01-29 17:57] sam-pires commented on #14941
Hey good to see you here @kvokul, and @polo195pl as well, how are you doing this Warszawa?

It's always interesting to have this kind of questions 👍
Ping @eternoendless, I guess you are the one who can best answer it.

[2020-01-29 17:59] magalupi commented on #17414
I try to give you all that
Prestashop 1.7.1.2
Informations du serveur : Linux #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64
Version du logiciel serveur : Apache/2.4.25 (Debian)
Version de PHP : 7.1.32-1+0~20190902.23+debian9~1.gbp9d1be7

I have cleared the cache
Navigateur google chrome cache cleared to.

I send you a video in mail.

[2020-01-29 19:04] arafatx commented on #17390
Hello guys thanks a lot for pointing out about opcache. I indeed use opcache on my server. I'm using the suggested setting for opcache and the problem is gone. @Perfecticus @khouloudbelguith

[2020-01-29 20:28] LordMarZ commented on #17393
hello, sorry for the delay, i have installed the module from scratch and everything kept working fine.

thanks!

[2020-01-30 07:31] khouloudbelguith commented on #16971
Hi @giwrgos88,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-30 07:31] #16971 closed, assigned to nobody

[2020-01-30 07:32] khouloudbelguith commented on #16970
Hi @Keeldome,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-30 07:32] #16970 closed, assigned to nobody

[2020-01-30 07:33] khouloudbelguith commented on #16978
Hi @xpech,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-30 07:33] #16978 closed, assigned to nobody

[2020-01-30 07:34] khouloudbelguith commented on #16979
Hi @qalastar,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-30 07:34] #16979 closed, assigned to nobody

[2020-01-30 07:34] khouloudbelguith commented on #16980
Hi @manfield,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-30 07:34] #16980 closed, assigned to nobody

[2020-01-30 07:35] khouloudbelguith commented on #16958
Hi @Jojo-Kaly,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-01-30 07:35] #16958 closed, assigned to nobody

[2020-01-30 08:13] khouloudbelguith commented on #17393
@LordMarZ,

What is the exact version of the ps_linklist did you installed?
Please be aware that ps_linklist module v3.0.0 & v3.0.1 & v3.0.2 & v3.0.3v3.0.4 are compatible only with PS1.7.5.0 to PS1.7.6.3 as described here: https://github.com/PrestaShop/ps_linklist/blob/v3.0.4/ps_linklist.php#L90
You need to install ps_linklist v2.1.6: https://github.com/PrestaShop/ps_linklist/blob/v2.1.6/ps_linkli

[2020-01-30 08:14] khouloudbelguith commented on #17390
@arafatx, thanks for your feedback.
Since it is fixed, I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-30 08:14] #17390 closed, assigned to nobody

[2020-01-30 08:21] khouloudbelguith commented on #17173
@noione,

What are the exact language enabled in your shop?
Did you use the multistore context?
Are you sign in with a super admin employee?

Thanks!

[2020-01-30 08:24] khouloudbelguith commented on #17414
@magalupi,

Sorry, I didn't receive any screen record.
My address mail: khouloud.belguith@prestashop.com
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-01-30 08:57] fakhrululum commented on #10161
thank's dude, solved

[2020-01-30 09:05] matks commented on #12982
1.7.7 is frozen very soon so if we want to do it, we better hurry up 😄

[2020-01-30 09:09] matks commented on #12982
About this: can you explain further how you setup the loadbalancer and the different shops ?
Because in a standard reverse proxy configuration, the strategy which defines which server you hit is managed by the reverse proxy settings, not PrestaShop 🤔 ?

[2020-01-30 09:10] matks commented on #12982
Same here:

[2020-01-30 09:19] khouloudbelguith commented on #17417
Hi @Rmagic96,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2.
I edited this [file](https://github.com/PrestaShop/PrestaShop/blob/1.7.6.3/themes/classic/templates/catalog/_partials/miniatures/product.tpl#L86) & I added this code
[code]
In the FO => new-products page => only one feature is displayed
![image](https://user-images.githubusercontent.com/16067358/7343

[2020-01-30 09:35] omar2886 opened #17424 "Carrier IDs keep on changing"
Hi,
Why do the Carrier IDs keep on changing all together when modifying anything in one of them?
The problem is that I have a code on the carrier.tpl so in the BO we can see highlighted when a specific carrier is not selected, and I have to edit that code every time the Carriers ID change. Niot a bug, just a weird behavior.
Thanks

[2020-01-30 09:37] djodjo3 commented on #12982
`I dont see how, on either Module or PrestaShop side, we can control the load balancing mechanism`

@matks Actually, you don't. The load balancer is used to manage ingress traffic (from public to private network).
In this case, we want to monitor each _private_ instance health - and by default, accessing the instance directly, you're redirected to the main shop URL, through the LB, and then you do

[2020-01-30 09:53] khouloudbelguith commented on #17424
Hi @omar2886,

Your ticket is a duplicate of #9592
Please follow: https://github.com/PrestaShop/PrestaShop/issues/9592#issuecomment-533135677
So, I close it.
Thanks!

[2020-01-30 09:53] #17424 closed, assigned to nobody

[2020-01-30 09:53] khouloudbelguith commented on #17424
Duplicate of #9592

[2020-01-30 09:58] khouloudbelguith commented on #17414
@magalupi, the screen record is well received.
In my case, it is OK.
As I said before, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2020-01-30 10:16] SharmPRO opened #17425 "Folder /img does not allow .webp"
In /img the .htaccess file does not allow .webp files not a standard for optimization, would be great if updated.
Thanks

[2020-01-30 10:23] LouiseBonnard commented on #17242
Hi there, this link is not displayed properly because the 1.7.6 Arabic translation catalog is not 100% completed. Currently, this string is translated but has not been approved yet ([here](https://crowdin.com/translate/prestashop-official/all/en-ar#q=If+you+have+questions%2C+comments+or+concerns%2C+please+contact+our+%5B1%5Dexp)). So it is perfectly normal. ;-)

One thing bothers me though, I can

[2020-01-30 10:23] khouloudbelguith commented on #17425
Hi @SharmPRO,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10356
So, I close it.
Thanks!

[2020-01-30 10:23] #17425 closed, assigned to nobody

[2020-01-30 10:24] khouloudbelguith commented on #17425
Duplicate of #10356

[2020-01-30 10:24] #16685 closed, assigned to atomiix

[2020-01-30 10:40] Progi1984 commented on #17174
Fixed in #17413

@sam-pires Don't forget the new issue about use Maxmind API & License Key ;)

[2020-01-30 10:40] #17174 closed, assigned to Progi1984

[2020-01-30 10:47] Progi1984 commented on #17242
@Robin-Fischer-PS This bug is ever fixed in 1.7.7.0 with a PR from @PierreRambaud : #16586.

[2020-01-30 10:56] sam-pires commented on #17174
Thanks @Progi1984,

Louise already created it -> #17193 👍

[2020-01-30 10:59] lukaslau opened #17427 "Specific prices are deleted on manual order add from code"
I had an issue while I was creating order manually from code. I was creating order without cart and by default id_cart is 0 in new Order object. After calling add function to insert an order all specific prices were deleted. I found out that after order add function calls SpecificPrice class method deleteByIdCart which in my case id_cart was 0 and because of that all specific prices were deleted.

[2020-01-30 11:03] Hlavtox commented on #16628
@matks Thank you boss 🍻

[2020-01-30 11:04] khouloudbelguith commented on #17427
Hi @zapper,

Thanks for your report.
Could you please add steps to reproduce the issue in a new comment.

Did you use a custom module?

Thanks to provide the script added & created to reproduce the issue.

Thanks!

[2020-01-30 11:09] Hlavtox commented on #17406
@khouloudbelguith I upvote for this. It would be very useful.

@yannicka You can make it by copying the accessories table and functionality.

[2020-01-30 11:12] JanHavlicek commented on #9833
Hi guys,
thank you very much for the fix. It works on my 1.7.6.x fine. But do you have any idea, how to stop saving wholesale price per each combination?

When I have different wholesale price for each combination, it's always overwritten by default shop price, when I save the product in All Shop mode.

Thank you for your help

[2020-01-30 11:15] sam-pires opened #17428 "Discount and Vouchers improvement suggestions"
From what @arouiadib shared in #16842

**Describe the solution you'd like**
I think some functionalities are not yet added in develop:

- There should be a column in database that stores the configuration value of "Apply discount to:" for each cart rule. I unfortunately don't find it (but the value is correctly sent from BO, see picture )
![image](https://user-images.githubusercontent.com/25405887

[2020-01-30 11:16] qtrompeau opened #17429 "404 error when saving my email translation"
**Describe the bug**
Hi,
After modifying email translation, when i try to save i get a 404 error.

**To Reproduce**
Steps to reproduce the behavior:
Go to 'BO > International > Translations'
Click on 'Email translations > body > "theme" (evolution) > Français
Scroll down to 'Save or Save and stay'
See error
**Screenshots**
https://drive.google.com/file/d/1HNcvrQ3x6MfDZefkDxvs2Qu2RxWbe3Bz/view?usp=

[2020-01-30 11:16] sam-pires commented on #17428
Hello @arouiadib, I created the issue about your suggestions, feel free to give more details 🙂

It will then be reviewed by a PM with experience on this topic to see what can/should be implemented, and write specifications.

Then you will be able to contribute and propose a Pull Request 👍

[2020-01-30 11:19] CallejaMotos commented on #16652
please, could you provide any alternative via mysql to solve this issue?
thanks

[2020-01-30 11:20] zapper commented on #17427
It was my own custom script.

To reproduce the issue just add a bunch of specific prices for few products. Then just create an order executing this code (you need to change few missing vars depending on your demo version).

After calling add function specific prices gets deleted.

$newOrder = new Order();
$newOrder->id_customer = 1;
$newOrder->id_shop = 1;
$newOrder->id_shop_group = 1;
$newOrder->

[2020-01-30 11:21] khouloudbelguith commented on #16652
Hi @CallejaMotos,

Sorry, this issue is not fixed yet.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-01-30 11:24] noione commented on #17173
The languages installed and enabled on the store are : FR - EN - DE - ES - IT
I don't use the multistore context, only one store with multiple languages
Yes i have only one employee and it's a super admin

[2020-01-30 11:24] ghost opened #17430 "PS_MAIL_COLOR non-configurable configuration option"
Found Regression since 1.5.3.0 version.

Configuration value PS_MAIL_COLOR is rigidly set to #db3484 (PrestaShop pink) and can't be changed by BO. Causing inconsistency in ps_emailalerts themes.

Solution?
1) Restoration PS_MAIL_COLOR configuration option in new Email Themes BO section,

Thanks

[2020-01-30 11:27] khouloudbelguith commented on #17429
Hi @qtrompeau,

I did not manage to reproduce the issue with PS1.7.6.3 & PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/1YPQ5UPdV38aFg1Wn5per7MkJCXI4qfYl/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/

[2020-01-30 11:35] khouloudbelguith commented on #17430
Hi @PrestaShark,

This option: `Mail color` in the BO => Preferences => Themes (PS1.5)
![image](https://user-images.githubusercontent.com/16067358/73446157-912e3c00-435c-11ea-9ef6-0060de16431e.png)
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2020-01-30 11:39] magalupi commented on #17414
Hi khouloudbelguith,

debog mode,

Notice à la ligne 227 du fichier /var/www/production/modules/psaddonsconnect/psaddonsconnect.php
[8] Undefined variable: advice

Notice à la ligne 228 du fichier /var/www/production/modules/psaddonsconnect/psaddonsconnect.php
[8] Undefined variable: link_advice

and I think that is the php error log...

1157-tableau-contemporain-abstrait-bleu-50x150.html:1171 GET

[2020-01-30 11:39] khouloudbelguith commented on #17427
@zapper, It will help us if you can attach the exact script a`ddNewOrder.php`.

Thanks!

[2020-01-30 11:43] khouloudbelguith commented on #17173
@noione, those languages: EN - DE - ES - IT are added manually from the BO => International => Localization => Languages page?
![image](https://user-images.githubusercontent.com/16067358/73446982-12d29980-435e-11ea-883b-f7e47ff70b87.png)

Thanks!

[2020-01-30 11:47] khouloudbelguith commented on #17414
@magalupi,

[8] Undefined variable: advice

- What is the exact version of the psaddonsconnect module did you use?
- Have you added a new module?
- Have you written/changed a module?
- Have you edited a tpl file?
- Have you changed the js file content of your theme?

Thanks!

[2020-01-30 11:58] arouiadib commented on #17428
Perfect @sam-pires , thank you very much.

[2020-01-30 11:58] noione commented on #17173
@khouloudbelguith Yes
![Capture d’écran 2020-01-30 à 12 51 52](https://user-images.githubusercontent.com/8407882/73448012-43b3ce00-4360-11ea-95d2-d794462a7f98.png)

[2020-01-30 11:59] PrestaShark commented on #17430
Then email variable {color} work fine and can be used in core modern email templates - tested.

[2020-01-30 12:18] magalupi commented on #17414
I don't know when the problem started, but yes I installed 2 modules recently, Sendinblue, and another made to sell custom.
I don't find the psaddonsconnect
Is it possible that I give you my credentials, so that you log into my back office, I don't speak Hebrew in fact

[2020-01-30 12:42] qtrompeau commented on #17429
Hello,
Here's the PHP error log.
https://drive.google.com/file/d/1YB8UuiPbUgDGyt12Ih8F7yX7XQ8-PxsT/view?usp=sharing

I don't know what you're expecting exactly for the debug mode report, here's a video.
https://drive.google.com/file/d/1CTJkLCVvw-Q_b0QIV2iJRrBO6mUMbQTg/view?usp=sharing

Thanks for your help

[2020-01-30 12:51] khouloudbelguith commented on #17173
@noione, it could be a problem during the creation.
Try to delete them & now add those new languages from the Back office => International => Translations => Add or Update all your languages section.

![image](https://user-images.githubusercontent.com/16067358/73451292-93e25e80-4367-11ea-9d27-1b8d7912ce8a.png)

Thanks!

[2020-01-30 13:03] khouloudbelguith commented on #17414
@magalupi,

Sorry, it is not possible, but, I'm trying to help you to find the exact problem, we must first try to reproduce your issue.
Thanks for your understanding!

Here's the exact module
![image](https://user-images.githubusercontent.com/16067358/73451912-fb4cde00-4368-11ea-9d26-bd204cc98050.png)

You need to enable debug mode in your store and debug request which is sent for the product add

[2020-01-30 13:07] khouloudbelguith commented on #17429
@qtrompeau,

That means that the specific database user has already used up all the concurrent connections at that moment and more cannot be processed.
The only option to fix without doing any programming changes is to change the max_user_connections value in MySQL configuration
You need to increase your `max_user_connections` (https://dev.mysql.com/doc/refman/8.0/en/user-resources.html)

When deb

[2020-01-30 13:17] noione commented on #17173
@khouloudbelguith  I can't delete them i have more than 26000 product with it's translation
I've already tried an update but still have the issue, please do you have any suggestion ?
Thank you

[2020-01-30 13:21] khouloudbelguith commented on #17173
@noione, Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-01-30 13:21] #17173 closed, assigned to nobody

[2020-01-30 13:21] MatShir commented on #17345
Hiding product combination that is not available will lead to not be able to access to some product, as explained on the issue #9948
It doesn't make sense to hide some combination because at some point some products will disappear.

**The feature could work only if there is one type of combination.**
That why we should restrain it for only one combination and if it has more the feature won't work.

[2020-01-30 13:28] atomiix commented on #17161
@MatShir Yep

[2020-01-30 13:28] atomiix commented on #17045
@MatShir yes

[2020-01-30 13:31] colinegin commented on #17045
Yes @MatShir I was waiting for atomiix review before attaching it to this issue.
What do you think @atomiix ? Is it ok ?

[2020-01-30 13:31] MatShir opened #17437 "The combination B is not refreshed when I change the combination A"
**Describe the bug**
The combination B is not refreshed when I change the combination A if the same product has a completely different combination as Tshirt S white and Tshirt M black.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Product Page
2. Create a combination t-shirt with **size S** and **black** as default
3. Create a combination t-shirt with **size M** and **white**
4. Save

[2020-01-30 13:33] davideapvd commented on #16421
Right now we are unable to translate simple strings like "10% discount", the translation admin page reports "Translation succesfully updated" but the ajax correctly reports the error '{"10% discount: false}' and nothing is saved .
If we type the translation string as "10%% ..." the translation gets saved but incorrectly..

[2020-01-30 13:33] qtrompeau commented on #17429
Here's the video of the debug mode report (you'll have to download it for a good quality)
https://drive.google.com/open?id=1bDza2QB28UdHP9wSW-XgdVh9DyQgV-2A

I'll do these changes in MySQL configuration. I'll let you know

[2020-01-30 13:37] khouloudbelguith commented on #17429
@qtrompeau, thanks!
No, there is no exception when translation the emails.

Waiting for your feedback.

Thanks!

[2020-01-30 13:40] NeOMakinG commented on #16932
PR opened for the 1.7.7.x branch :)

[2020-01-30 13:44] NeOMakinG commented on #14431
Will be fine when lang packs will be updated @eternoendless could you notify us the next languages update?

[2020-01-30 13:51] qtrompeau commented on #17429
I found this too in my php error logs, maybe it could be helpful to us.
https://drive.google.com/open?id=1O-iClfqOEZrFclxAgW6GONFnNA7mFVpJ

[2020-01-30 13:55] eternoendless commented on #14941
I think there's a big misunderstanding here.

First of all, we intend on dropping ObjectModel in favor of something else like Doctrine, but **this won't happen right now**. We're planning on doing it on a _later_, not yet defined major version of PrestaShop. We hope it will be on the next one, but its development won't start at least until after 1.7.9 is feature frozen, which means about 18 months

[2020-01-30 14:01] jolelievre commented on #14941
Hi everyone,

first I'm glad that you are interesting in using Doctrine in your module 😉

Then I wanted to clarify a few things, **ObjectModel is not deprecated yet**, we still use it in the core and it's still available in module, nothing has changed about that. Though it's true we would like to get rid of it a some point, it won't be before the next major version **at least**. So you can safely

[2020-01-30 14:01] khouloudbelguith commented on #17429
@qtrompeau,

mcrypt is not installed in your server, thanks to install it.

Did you use the evolution theme?

Thanks!

[2020-01-30 14:05] colinegin commented on #17346
@LouiseBonnard it seems like it is a comment we have already had in the past about the confusing content used in the order conf email. Do you remember if we already have such issue in the backlog ?

[2020-01-30 14:14] qtrompeau commented on #17429
Okay i'll. Yes i do.

Thanks

[2020-01-30 14:16] khouloudbelguith commented on #17429
@qtrompeau,

This error is related to your theme.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-01-30 14:21] LordMarZ commented on #17393
it worked!

i installed the 2.1.6 version and back office works like nothing happened

thanks for the help!

[2020-01-30 14:27] webeshop commented on #17289
My clients have the same problem as @TaccCZ . Bug is in core.js.

[2020-01-30 14:28] khouloudbelguith commented on #17393
@LordMarZ, Great!
Since it is fixed, I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-01-30 14:28] #17393 closed, assigned to nobody

[2020-01-30 14:40] kvokul commented on #14941
Our problem starts when we try to use files in multilang form, based on ObjectModel. There was only problem: answers. Suggestion was simple: use Doctrine, there is impossible to do files and langs with ObjectModel. We thought: "hurray, Symfony!!!, we know it, we like it, its simple!"" And then we polietly ask about examples.

And we get examples, and assurance, that they are Doctrine. But they wer

[2020-01-30 14:49] PrestaShark commented on #17345
Ok. Let's work with point **4** and **5** of my request.

[2020-01-30 14:52] atomiix commented on #17045
@colinegin I really think we need more informations to better understand how price calculation should work. As we have options like "round on each row" or "round on total" it's probably because there is different use cases (that I'm not aware of ^^).
If you look at @eternoendless 's [comparison table](https://docs.google.com/spreadsheets/d/1NUIcZ63pofXwqdJaqHgplduNSMEK0KeQ_HEJkBiv20Q/edit#gid=0) o

[2020-01-30 15:01] magalupi commented on #17414
OK thank you, I understand.
the version of psaddonsconnect is v1.0.1

[2020-01-30 15:05] PierreRambaud commented on #16421
@davideapvd AFAIK, there is no workaround, we must fix this issue by removing this useless check and only check for parameters when it's needed.

[2020-01-30 15:09] MatShir commented on #14752
After discussion, a filter on the droplist seems to add too much complexity in UX and technically for a small value. But to add a position index to order them as the merchant wishes seems a nice idea from @jolelievre

[2020-01-30 15:11] Dayniight opened #17441 "docker-compose up | Can't launch docker-compose on Windows"
Hi,

When i try to start a "docker-compose up"  i cant finish the launch of it.

I tried to do delete my rep and re-clone and i tried to re-start another docker-compose up

![image](https://user-images.githubusercontent.com/27630157/73461524-94382500-437a-11ea-82d5-970744e4c494.png)

OS : Windows 10 version 1903
Docker : 2.1.0.5

[2020-01-30 15:11] Dayniight opened #17479 "docker-compose up | Can't launch docker-compose on Windows"
Hi,

When i try to start a "docker-compose up"  i cant finish the launch of it.

I tried to do delete my rep and re-clone and i tried to re-start another docker-compose up

![image](https://user-images.githubusercontent.com/27630157/73461524-94382500-437a-11ea-82d5-970744e4c494.png)

OS : Windows 10 version 1903
Docker : 2.1.0.5

[2020-01-30 15:16] khouloudbelguith commented on #17414
@magalupi, is it possible to upgrade your `psaddonsconnect` module?

Thanks to follow these steps:
You need to enable debug mode in your store and debug request which is sent for the product add in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. add the product
6. wait for an error, you should see red request info

[2020-01-30 15:20] magalupi commented on #17414
Im  working on the debug mode
This is when im on the product

![image](https://user-images.githubusercontent.com/60297887/73462418-1117ce80-437c-11ea-94ed-933a955682d0.png)

And when i clic on put in basket
![image](https://user-images.githubusercontent.com/60297887/73462605-60f69580-437c-11ea-8929-d9810cfdf153.png)

[2020-01-30 15:22] magalupi commented on #17414
![image](https://user-images.githubusercontent.com/60297887/73462849-b29f2000-437c-11ea-8ae1-fb76f20491dc.png)

[2020-01-30 15:24] khouloudbelguith commented on #17414
@magalupi,
Have you edited a .tpl file?
Have you changed the js file content of your theme?

Thanks!

[2020-01-30 15:24] magalupi commented on #17414
I can't upgrade it
![image](https://user-images.githubusercontent.com/60297887/73463125-090c5e80-437d-11ea-8b2e-72006305a56c.png)

[2020-01-30 15:26] khouloudbelguith commented on #17414
@magalupi,

Have you edited a .tpl file?
Have you changed the js file content of your theme?

Thanks!

[2020-01-30 15:26] magalupi commented on #17414
I did not change anything on .tpl and js file

[2020-01-30 15:35] khouloudbelguith commented on #17414
@magalup, you have an error js your theme.
Does this issue occur after installing the new custom module?

Thanks!

[2020-01-30 15:36] magalupi commented on #17414
I do not know, I noticed the problem in early January, the module was installed in November, maybe that is the reason

[2020-01-30 15:38] khouloudbelguith commented on #17414
@magalupi, could you please try to re-install the ps_shoppingcart module, check & feedback.

Thanks!

[2020-01-30 15:41] magalupi commented on #17414
ok i re-install the ps_shoppingcart module
I disable the custom module but it doesn't change anything

[2020-01-30 15:44] j0r1s commented on #17153
Hello @khouloudbelguith !

Sorry for the late feedback. I've tried to change the route, cleared cache, but same redirection chain happens.

[2020-01-30 15:49] khouloudbelguith commented on #17153
@j0r1s, the override is removed or not?
Thanks!

[2020-01-30 15:51] magalupi commented on #17414
re-install the ps_shoppingcart module don't change anything

[2020-01-30 15:58] matks commented on #16686
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17373

[2020-01-30 15:58] #16686 closed, assigned to atomiix

[2020-01-30 15:59] matks commented on #16389
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17381

[2020-01-30 15:59] #16389 closed, assigned to atomiix

[2020-01-30 16:02] davideapvd commented on #16421
maybe @Quetzacoalt91 can comment about it?

[2020-01-30 16:44] j0r1s commented on #17153
I uninstalled the module, and same problem happens.

[2020-01-30 16:48] LouiseBonnard opened #17447 "Improve feature wording in Product Settings page"
**Is your feature request related to a problem? Please describe:**

In the Shop Parameters > Product Settings page of the back office, an option exists to enable or disable the display (on the product page) of unavailable product attributes. A text that is not clear enough and that does not mention the fact that the option applies to both situations:

- the products only have a single combination

[2020-01-30 16:53] Zakhar023 commented on #17414
Cordialement,
Z

[2020-01-30 16:57] Progi1984 commented on #10250
My check :
- :ok_hand: In Crowdin, the string is well translated ([Reference](https://crowdin.com/translate/prestashop-official/35152/en-ar#q=All+information+you+give+us+is+collected))
- In TranslationsFiles,
  - :ok_hand:  the string is well translated in 1.7.6 / latest ([Reference](https://github.com/PrestaShop/TranslationFiles/blob/master/1.7/translations/1.7.6/ar-SA/Install.ar-SA.xlf#L479))

[2020-01-30 17:32] LouiseBonnard commented on #10619
Sooo, I've just checked the wording with @MatShir and I have two recommendations regarding the 'Delivery' column and the (wrongly) related tickbox 'Show delivery PDF' - undoubtedly an inheritance of the 1.5 version. Here it is:

- keep the 'Delivery' column and name the tickbox with the following wording, _Consider the associated order in delivery._

- rename the column 'In transit' and name the t

[2020-01-30 17:46] jf-viguier opened #17449 "Group access is lost when saving Category object model"
**Describe the bug**
Group access is lost when $category->save() is executed. Access group is always reinit to the 3 default groups.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to category admin page id_category X
2. Uncheck a group in group access or check and non default group (i.e. pro group).
3. Save this category in another place (controller or module code) with `$category = new

[2020-01-30 18:05] dtamajon commented on #10035
Here is my proposal:

One solution would be to have an attribute filter on combinations, so we can select all the items filtered.  That would allow an ease mark on desired items to edit all them. I think it would be the easier solution on current version.

Also, I would like to have a default price + weight on each attribute, so it is aggregated automatically on generating combinations. In that ca

[2020-01-30 18:12] jf-viguier commented on #17449
I've made a PR https://github.com/PrestaShop/PrestaShop/pull/17450

[2020-01-30 18:12] jf-viguier commented on #11289
I've made a PR that whould fix this too https://github.com/PrestaShop/PrestaShop/pull/17450

[2020-01-30 19:36] elaugier commented on #17394
thank you for all informations :)
Indeed, Bug solved with PHP 7.2 rollback.

[2020-01-30 19:36] #17394 closed, assigned to nobody

[2020-01-30 21:04] didi-2018 commented on #17038
@msaustral @khouloudbelguith this works perfect for me 👍

[2020-01-30 21:54] cedricfontaine commented on #12982
Exact.
For example, in AWS, the health check option is really limited and the only way to do it is to call the private instance and check the http response. If we don't receive  HTTP 200, the private instance will be removed.

[2020-01-30 22:29] omar2886 opened #17452 "Can't modify orders prior to upgrade"
Hi,
I upgraded from 1.7.3 to 1.7.6 and how I can't modify orders prior to the upgrade, when I try to modify an open order  by deleting or adding a new product I get this message:
![image](https://user-images.githubusercontent.com/12675798/73496048-08dd8480-43b8-11ea-8cc8-c3a49fda55c4.png)
I know it's difficult to say what could be the reason, but maybe someone can give me a clue where to look. I g

[2020-01-30 22:34] jviure opened #17453 "Free shipping over certain amount by zones.."
Hi! It s not possible to set free shiping over certain amount by zones? In the shop country over 30$.. out of the  shop country over 80$.. etc. It s possible? Thaaanks!

[2020-01-31 01:34] 21shadow commented on #17396
It worked
I was using php 7.4

[2020-01-31 01:34] #17396 closed, assigned to nobody

[2020-01-31 06:19] sylwit opened #17454 "Carriers don't support duplicate name"
**Describe the bug**
If 2 carriers have the same name, only one is displayed in payment preferences so you can't enable the first ones

**To Reproduce**
Steps to reproduce the behavior:
1. Go to shipping > carriers
2. Create 2 carriers with the name "Pick Up"
3. Go to payment > preferences > Carrier restrictions
4. You see only 1 carrier

**Additional information**
PrestaShop version: 1.7.6.2
PHP

[2020-01-31 07:02] jnvsor commented on #16421
Unfortunately it's not useless - if you don't have the same number of parameters in the pattern the string won't show at all on the frontend and will throw a warning instead.

Try `echo vsprintf("test %s test");` or `echo vsprintf("test %s test", "test", "test");`

[2020-01-31 07:37] khouloudbelguith commented on #17452
Hi @omar2886,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - Module Autoupgrade version
 - Have you any errors during the upgrade
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information

[2020-01-31 07:46] khouloudbelguith commented on #17454
Hi @sylwit,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/12379 to fix the issue.
It is fixed in the next major release PS1.7.7.0.
Your ticket is a duplicate of #16094
So, I close it.
Thanks!

[2020-01-31 07:46] #17454 closed, assigned to nobody

[2020-01-31 07:46] khouloudbelguith commented on #17454
Duplicate of #16094

[2020-01-31 08:15] khouloudbelguith commented on #17453
Hi @jviure,

Is it free shipping by Zone or by country?
If it is by Zone, you just follow this screenshot
![image](https://user-images.githubusercontent.com/16067358/73522982-22a7b780-440a-11ea-9ed1-75027d4913c8.png)

Thanks to check & feedback.

[2020-01-31 08:41] khouloudbelguith commented on #17449
Hi @jf-viguier,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2.
https://drive.google.com/file/d/1rFY4n3g7uEMeJMViPG44zZ8pKh_hFdRa/view
I used this script
[code]
I’ll add this to the debug roadmap.
Thanks!

[2020-01-31 08:52] micka-fdz opened #17455 "Use different strings for "New" translation"
Is it possible to use different strings for _New_ translation?
This wording is used in 2 different cases:

- on new products (means _Nouveauté_ in french)
- on product condition (means _Neuf_ in french)

Currently, there is only one string and if I want to change translation for new products, it also changes wording for product condition (FO and BO).

In my opinion, we need to use two strings:

-

[2020-01-31 08:53] khouloudbelguith commented on #17396
@21shadow, great!
Feel free to open a new one when needed.

Thanks!

[2020-01-31 08:54] khouloudbelguith commented on #17394
@elaugier,  great!
Feel free to open a new one when needed.

Thanks!

[2020-01-31 09:06] PrestaShark commented on #17447
Or maybe add simple hint sign [ ? ] to explain how the option really works?

[2020-01-31 09:10] LouiseBonnard commented on #17447
@PrestaShark, why not! It could be a tooltip or a help text. But whatever the form of the message, it will be released with the 1.7.8. Hence the creation of this issue, so that we can do it in the next few weeks and then integrate to PrestaShop's next minor version. ;-)

[2020-01-31 09:28] khouloudbelguith commented on #17153
@j0r1s, In your BO => Modules => Module Manager page => search for the `ps_shoppingcart` module, click on the configure & check if the `Ajax cart` option is enabled or disabled?
![image](https://user-images.githubusercontent.com/16067358/73372416-7655bc00-42b7-11ea-9935-faf9f599d4a3.png)

Thanks!

[2020-01-31 09:29] khouloudbelguith commented on #17289
Ping @NeOMakinG friendly reminder :)

Thanks!

[2020-01-31 09:30] khouloudbelguith commented on #17289
@TaccCZ, @webeshop, is it the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/17437?

Thanks!

[2020-01-31 09:36] Robin-Fischer-PS commented on #17085
I changed the status to "In Progress" because the PR linked will only fix one bug, not the second one.

[2020-01-31 09:47] LouiseBonnard commented on #17455
It makes sense, and those two different strings already exist so it might be easy to switch. We just need to list all the files this change impacts. :-)

[2020-01-31 09:49] sowbiba commented on #17345
Ok,
The feature *show unavailable product attributes on product page* is misunderstood
The behaviour is when an attribute doesn't have any product in all possible combinations, it will be hidden or not

For example
S - White => 0
S - Black => 1
M - White => 0
M - Black => 0

In this case, if you select "DO NOT show unavailable product attributes on product page", the white color will be hidden

Th

[2020-01-31 09:49] khouloudbelguith commented on #17414
@magalupi, I did not manage to reproduce the issue with PS1.7.1.2 & ps_shppingcart module v2.0.3.
https://drive.google.com/file/d/1y7jnBjja4z6zpg7xsq9MHHf7jzsk6BJ_/view
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to c

[2020-01-31 09:49] #17414 closed, assigned to nobody

[2020-01-31 09:54] khouloudbelguith commented on #17038
Hi @didi-2018, if you have already fixed it on your end, please do send us a pull request!
Thanks!

[2020-01-31 10:04] webeshop commented on #17289
@khouloudbelguith Yes, I think so.

[2020-01-31 10:05] NeOMakinG commented on #17403
Khouloud, we follow Boostrap browser support (https://getbootstrap.com/docs/4.0/getting-started/browsers-devices/) it means iOS7 is not supported as Safari on this iOS doesnt support css4 flex feature and more, it's not a bug, peoples using an iPad 4 or mini 2 should be on iOS 9 mini to be compatible, which is not even the latest version supported on these devices

[2020-01-31 10:12] khouloudbelguith commented on #17289
@TaccCZ, @webeshop, we are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #17437
So, I close it.
Thanks!

[2020-01-31 10:12] #17289 closed, assigned to nobody

[2020-01-31 10:12] khouloudbelguith commented on #17289
Duplicate of #17437

[2020-01-31 10:17] #11901 closed, assigned to matks

[2020-01-31 10:18] matks commented on #11901
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17419

[2020-01-31 10:52] micka-fdz commented on #17455
Thx @LouiseBonnard, I'll make a PR.

[2020-01-31 10:53] EnricoGentiletti commented on #17437
Open themes/core.js

Search for
`(".quickview .product-variants .page-product:not(.modal-open) .row .product-variants").replaceWith(e.product_variants),`

And replace it with:
`(".product-variants").replaceWith(e.product_variants),`

I think this change is about quick view mode that must be check in the previous PRs for a fix.
It seems there is the same issue for product details and info in this f

[2020-01-31 11:00] Sathish-i2i opened #17460 "Category tree not populated in the product creation page 1.7.6.3"
I have enabled the multistore and created the three stores. Initially all the category tree showing while creating product page.

Now its not showing the category tree
![Category-tree-not-showing](https://user-images.githubusercontent.com/15522416/73534345-e9416d00-4446-11ea-8591-730eaef1695d.png)

[2020-01-31 11:15] khouloudbelguith commented on #17403
Hi,

As discussed with @NeOMakinG.
1. When using iOS7 => issue reproduced
![image](https://user-images.githubusercontent.com/16067358/73534917-a66d9e00-4422-11ea-83bc-b49c3bb3f4a2.png)
2. When using iOS9 => issue reproduced also
![image](https://user-images.githubusercontent.com/16067358/73534941-b7b6aa80-4422-11ea-8a26-79bdf9b01b8d.png)
3. When using iOS10 => issue not reproduced
![image](https:/

[2020-01-31 11:28] khouloudbelguith commented on #17460
Hi @Sathish-i2i,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/1Vyron9ZHkG_k7EphK1MtjgyYJp7eZ9b0/view
Thanks to check & feedback.

[2020-01-31 12:05] Hlavtox opened #17463 "[BO] Category admin jumps to home when deleting a category"
You have categories:
Home > Cars > SUVs > Small
Home > Cars > SUVs > Medium
Home > Cars > SUVs > Big

You are editing categories.
You are in SUVs category.
You delete Small category and the view jumps all the way back to Home category, annoying.

**Additional information**
PrestaShop version: 1.7.6.2

[2020-01-31 12:44] Sathish-i2i commented on #17460
Thanks for the response.

Can you suggest any workaround for this issue?

[2020-01-31 12:48] khouloudbelguith commented on #17460
@Sathish-i2i, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-01-31 12:50] khouloudbelguith commented on #17463
Hi @Hlavtox,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15588
So, I close it.
Thanks!

[2020-01-31 12:50] khouloudbelguith commented on #17463
Duplicate of #15588

[2020-01-31 13:13] Progi1984 commented on #10250
After discussion with @LouiseBonnard, we need to check this issue after the feature freeze when the catalog for 1.7.7 will be available (and so the translation files, and so the i1n package).

[2020-01-31 13:57] NeOMakinG commented on #17376
Impossible to debug this since we don't have source files of current tinymce and I was not able to build this version from the official TinyMCE repository, it should wait the upgrade of tinymce which is possibly breaking change for some modules (wdyt @eternoendless  @PierreRambaud  ?)

[2020-01-31 14:01] NeOMakinG commented on #17247
For the CLI,

Should it be with npm/node or using PHP ? Since you've already a script doing it, not sure...

I think RTL assets should not be on the repository (same as others assets), but they should be managed the same way normal assets are managed, if they are in the zip, then we wants RTL assets in the zip too

[2020-01-31 14:01] Artisancosmethic opened #17464 "order states"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2020-01-31 14:05] khouloudbelguith commented on #17464
Hi @Artisancosmethic,

Thanks to provide us a clear descript & steps to reproduce the issue in a new comment.

Thanks!

[2020-01-31 14:08] PierreRambaud commented on #17403
IHMO, we should ignore old browsers

[2020-01-31 14:15] Artisancosmethic commented on #17464
Hi
i have too many order states for my customers and i would like to delete some of them but i can just modify them. Can at least hide them for my cusromers?
![presta1](https://user-images.githubusercontent.com/60512390/73545781-4d126880-443c-11ea-90b4-9f15c1d08c78.png)

[2020-01-31 14:19] khouloudbelguith commented on #17464
@Artisancosmethic, this is not possible now.
But we have an improvement similar to this added to our bug roadmap.
Your ticket is a duplicate of #14752
So, I close it.
Thanks!

[2020-01-31 14:19] #17464 closed, assigned to nobody

[2020-01-31 14:19] khouloudbelguith commented on #17464
Duplicate of #14752

[2020-01-31 14:29] khouloudbelguith commented on #17463
Hi @PululuK,

Thanks for the ping.
I just re-opened this issue.
I manage to reproduce the issue with PS1.7.6.3 & PS1.7.5.2.
1.7.6.3: https://drive.google.com/file/d/1cYgY4oHoQtZ8_6m8DIpRY1-PFBYnSjwz/view
1.7.5.2: https://drive.google.com/file/d/1fHX0lR8kXbN1DDtsaE4F9aKZfe9kogS7/view
I’ll add this to the debug roadmap.
Thanks!

[2020-01-31 14:29] khouloudbelguith commented on #17463
Related to #15588

[2020-01-31 14:32] matks commented on #11901
@123monsite-regis this feature will be available in 1.7.8 😊and you can use it in your shop now by using the code I built in https://github.com/PrestaShop/PrestaShop/pull/17419

[2020-01-31 15:01] matks commented on #10828
Implemented in https://github.com/PrestaShop/PrestaShop/pull/15814/files for 1.7.7.0

[2020-01-31 15:01] #10828 closed, assigned to nobody

[2020-01-31 15:01] matks commented on #12216
@NeOMakinG Can you please have a look at this issue 🙏 Master Of The UI Kit 😄 ?

[2020-01-31 15:03] matks commented on #12348
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16318

[2020-01-31 15:03] #12348 closed, assigned to nobody

[2020-01-31 15:04] #13408 closed, assigned to tomas862

[2020-01-31 15:07] matks commented on #14266
Started a PR to fix this https://github.com/PrestaShop/PrestaShop/pull/14469
But I am blocked by a strange behavior from TranslatableType

[2020-01-31 15:07] matks commented on #14327
Build was removed so issue is closed.

[2020-01-31 15:07] #14327 closed, assigned to nobody

[2020-01-31 15:31] colinegin commented on #17225
@MatShir what do you think for a future improvement of the order page ?

[2020-01-31 15:35] sowbiba commented on #17437
@EnricoGentiletti :+1:
It's done here https://github.com/PrestaShop/PrestaShop/pull/17457/files#diff-a1d15e7a995aaa0459241b4974f0e4feR172
with more specific selector

[2020-01-31 16:04] 123monsite-regis commented on #11901
thank you :)

[2020-01-31 16:05] matks commented on #11125
@eternoendless can this be backported to 1.7.7 ?

[2020-01-31 16:06] matteolavaggi opened #17468 "PS 1.7.6 Checkout External gateway Redirect Clear Session"
**Describe the bug**
Use one of the external gateway payment clear session when redirect back to website (for example in case of payment cancellation).

**To Reproduce**
Create a cart
Select a payment gateway external
Start payment
Cancel payment before pay
When redirect back to website users are logged out

This also affect payed order because orders are not stored in prestashop after payment.

*

[2020-01-31 16:12] #17290 closed, assigned to nobody

[2020-01-31 16:20] matks opened #17469 "[SF Migration] Decide about a clear convention for pages JS files and folders"
Right now, we have no clear convention for how JS files and folders should be constructed in `admin-dev/themes/new-theme/js/pages/`

The result is that there are multiple different "pattern structures" used:
<img width="292" alt="Capture d’écran 2020-01-31 à 17 14 49" src="https://user-images.githubusercontent.com/3830050/73555191-6bcd2b00-444d-11ea-92dc-d7740d03158d.png">

We should decide abou

[2020-01-31 16:20] matks commented on #17469
Ping @PierreRambaud @NeOMakinG @zuk3975 @tdavidsonas88 @rokaszygmantas @RaimondasSapola @tomas862 @eternoendless

[2020-01-31 16:20] khouloudbelguith commented on #17468
Hi @matteolavaggi,

I did not manage to reproduce the issue with PS1.7.6.3 & Paypal v5.1.0.
I attached a screen record
https://drive.google.com/file/d/1g5bhOFL6Vvyb4qXV6QnAJVrzn-71YPbH/view
What is the exact payment method did you use?

Thanks!

[2020-01-31 16:23] matteolavaggi commented on #17468
I've try with
paypal
saitspay
stripe
credit card gateway

can you help me undestand what are not working right in the redirect back procedure? is something related to PS and not to payment gateway because this happen on all the payment method

[2020-01-31 16:28] khouloudbelguith commented on #17468
@matteolavaggi, what is the exact version of Paypal did you use?
In my case, it ok.

Thanks!

[2020-01-31 16:29] matteolavaggi commented on #17468
5.1.0 , but the problem is not related to paypal, is the same with ALL other payment method

[2020-01-31 16:35] matteolavaggi commented on #17468
Is not related to some override (i've make a test after disable all override, and i dont get any allert in debug mode.)

[2020-01-31 16:37] khouloudbelguith commented on #17468
@matteolavaggi,

Did you disable overrides from the BO => Advanced Parameters => Performances page?

Thanks!

[2020-01-31 16:41] matteolavaggi commented on #17468
Yes => Is not related to some override (i've make a test after disable all override, and i dont get any allert in debug mode.)

I've also try to manual disable a lot of module in BO, same result. Seem to be something related to prestashop core file

[2020-01-31 16:43] khouloudbelguith commented on #17468
@matteolavaggi,

the `Disable override button not working` is not working in PrestaShop as reported here: https://github.com/PrestaShop/PrestaShop/issues/14596

What is the exact PrestaShop did you use?

Thanks!

[2020-01-31 16:44] colinegin commented on #15430
@marionf do you think we should reopen this issue ?

[2020-01-31 16:54] matteolavaggi commented on #17468
1.7.6.0

[2020-01-31 16:55] matteolavaggi commented on #17468
So there is no yet fix for this 1.7.3 bug? any way to disable all override in safe way?

[2020-01-31 16:56] khouloudbelguith commented on #17468
@matteolavaggi, sorry this option is not working.

Thanks!

[2020-01-31 16:57] matteolavaggi commented on #17468
OK BTW i've not override for checkout or cart

[2020-01-31 17:02] khouloudbelguith commented on #17468
@matteolavaggi, in my case, it is ok with PS1.7.6.3 & Paypal module.
Stripe module do not make any redirection => issue not reproduced with this module.
![image](https://user-images.githubusercontent.com/16067358/73558613-d719fb80-4453-11ea-9f5e-e617ac497c3a.png)

I tried with Satispay => it is not working in my case.
We need to retrieve the PHP error log and the debug mode report in order to find

[2020-01-31 17:25] LouiseBonnard commented on #17455
@micka-fdz, can you confirm you want to switch the two strings framed in the following image?

![Capture d’écran 2020-01-31 à 17 05 18](https://user-images.githubusercontent.com/32565890/73554816-b9956380-444c-11ea-98b6-5e537a1bd007.jpg)

It looks logical on a wording point of view (even more in French, I admit it) but if you look at the interface, I don't think we should have such a long wordin

[2020-01-31 18:13] diejorm opened #17470 "Combinations' BO import not working - Impact on price not being saved"
We have been stuck with this for some weeks already and could not find any solution.

**The bug**
We are trying to update the Impact on Price (VAT Included) for each combination's variant via CSV/XCEL (about 800 rows), but after the process is finished without any apparent error, we check and no impact on price has been actually modified. Everything is still the same as it was before the import.

[2020-01-31 19:02] jviure commented on #17453
Many thanks!! works great :)

On 31/1/20 9:15, khouloudbelguith wrote:

[2020-01-31 19:02] micka-fdz commented on #17455
In my opinion, we need to keep _New product_ for recent products.
On `ps_newproducts` module, section title is "New products" so it makes sense.

As I said before, maybe we can just play with translations on `Shop.Theme.Catalog` (for product flags).

[2020-01-31 19:02] #17453 closed, assigned to nobody

[2020-01-31 21:10] matks commented on #16471
When it's done, I think it could be the topic of an interesting blog on Build

[2020-01-31 21:13] matks commented on #14146
We added a Twig check https://github.com/PrestaShop/PrestaShop/pull/17094
but it only checks whether the file is correct. It does not check codestyle.

[2020-02-01 10:00] omar2886 commented on #17452
Thanks as usual @khouloudbelguith , I'll try to dig a lil more but seem too complex for me, so if I can't I'll just leave it like that

[2020-02-01 10:00] #17452 closed, assigned to nobody

[2020-02-01 11:39] ballashop opened #17471 "“You do not have permission to edit this.” after update from 1.6.1.24 to 1.7.6.3"
**Describe the bug**
Hi, with our ISP we updated from **1.6.1.24** to **1.7.6.3** in a sub folder so the site is not operative but it's quite to ready.
The data seems right.
I have a problem with permission.
When a try to install theme or modules we get this message:
“You do not have permission to edit this.”
I download all site and db to test it in local server, the same thing happens.
Thanks for

[2020-02-01 15:19] PeeyushAgrawalWebkul commented on #16505
PR - https://github.com/PrestaShop/productcomments/pull/50

[2020-02-01 16:40] psyray commented on #17126
@khouloudbelguith
I've read links, and you're right that the domain name can contain special character according to the RFC 6530.
But the current issue is not in the domain part, but in the username part.

Try typing in the registration form an email like ééé@free.fr, client side validation prevent registration
![image](https://user-images.githubusercontent.com/1230954/73595439-237b3f00-4519-11ea-

[2020-02-01 16:50] psyray commented on #17126
I found this issue which isa solution to fix this issue but with one big caveat : PHP retro compatibility.
https://github.com/PrestaShop/PrestaShop/issues/9638#issuecomment-418125107

@eternoendless said that this should be fixed when swiftmailer will be updated, but there is a PHP older version problem.

So I think that the temporary solution is to synchronize validation (client and server)

@ete

[2020-02-01 21:18] BeReal86 commented on #16626
Hi, @khouloudbelguith
sorry for writing off topic.
Bi, I know this is not the place. But I wanted to report. you can check the link at a convenient time. I had some problems but I didn't want to write here. Because I don't know exactly why.
https://www.prestashop.com/forums/topic/1014112-several-issues-after-the-1763-update/

[2020-02-02 16:45] MarcelRoos opened #17474 "Não traduz o painel de controle para português na versão 1.7.6.3"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: N/A
PHP version: N/A

[2020-02-02 16:47] ThibautMT commented on #9574
Open since 1000 years , not solved :/

[2020-02-03 07:32] matteolavaggi commented on #17468
exception.log was not generated in the date of the test, so i think prestashop does not throw an error than need to be stored. Debug mode does not show any error on FO.

i will make a test on php log next week due to holidays

[2020-02-03 08:06] khouloudbelguith commented on #17010
Hi @Daniel-Informax,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-03 08:06] #17010 closed, assigned to nobody

[2020-02-03 08:09] khouloudbelguith commented on #16879
Hi @MultiTech-MS,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-03 08:09] #16879 closed, assigned to nobody

[2020-02-03 08:09] khouloudbelguith commented on #16994
Hi @TeapotJames,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-03 08:09] #16994 closed, assigned to nobody

[2020-02-03 08:11] khouloudbelguith commented on #17453
@jviure, thanks!
Feel free to open a new one when needed.

Thanks!

[2020-02-03 08:12] khouloudbelguith commented on #17452
@omar2886, thanks!

Feel free to open a new one when needed.

[2020-02-03 08:12] khouloudbelguith commented on #16926
Hi @AbdulRehmanYounas,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-03 08:12] #16926 closed, assigned to nobody

[2020-02-03 08:13] khouloudbelguith commented on #17016
Hi @slupostrupek,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-03 08:13] #17016 closed, assigned to nobody

[2020-02-03 08:18] khouloudbelguith commented on #17468
@matteolavaggi, thanks!
Waiting for your feedback.

[2020-02-03 08:20] PierreRambaud commented on #14146
ping @NeOMakinG

[2020-02-03 08:20] khouloudbelguith commented on #9574
Hi @ThibautMT,

Sorry, it is not fixed yet.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-02-03 08:25] Progi1984 commented on #17403
What is an old browser ?

Bootstrap support  the latest, stable release of browser... but which version ? Now ? or at the release date of the version of Bootstrap ?

[2020-02-03 08:27] khouloudbelguith commented on #17474
Hi @MarcelRoos,

Please, send your request in English.
English is the norm on the GitHub.
Thank you!

[2020-02-03 08:27] Progi1984 commented on #16582
Fixed in #17241

[2020-02-03 08:27] #16582 closed, assigned to atomiix

[2020-02-03 08:28] Progi1984 commented on #17382
Fixed in #17445

[2020-02-03 08:28] #17382 closed, assigned to atomiix

[2020-02-03 08:29] Progi1984 commented on #12064
Fixed in #16863

[2020-02-03 08:29] #12064 closed, assigned to NeOMakinG

[2020-02-03 08:33] PierreRambaud commented on #17403
Depending on the bootstrap release we used.

[2020-02-03 08:37] khouloudbelguith commented on #17471
Hi @ballashop,

I did not manage to reproduce the issue with PS1.7.6.3 after an upgrade from PS1.6.1.24 using the 1-click upgrade v4.10.1.
I attached a screen record
https://drive.google.com/file/d/1-hmJQiHk9fff9BR_CDkGAxltFyZJcz66/view
What is the exact version did you use during the upgrade?
Are you using an employee with a super admin profile?

Thanks!

[2020-02-03 08:39] sarahdib opened #17475 "Can't add an amount using "," in block payment in order page migrated"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the order page migrated
2. Select an order
3. Try to add a payment with a "," like 5,80
4. See error

**Screenshots**
Migrated : https://drive.google.com/file/d/1Yq-H3O9_Yk2ZKE3FO5uDmrF3vPF8wklj/view
Legacy : https://drive.google.com/file/d/1Gjo_9kVEREleGFhzArcJt7Hbr

[2020-02-03 08:48] ballashop commented on #17471
Hi @khouloudbelguith
thanks a lot to reply me.
Can I send you the log.txt via email?
The ISP started from 1.6.1.24 to 1.7.6.3 by 1-click upgrade (it is likely that the version used is v4.10.1).
About a user yes, I'm using a super admin one.
Thanks a lot for your support.

[2020-02-03 08:59] ttoine commented on #16471
+1 !

[2020-02-03 09:13] khouloudbelguith commented on #17471
@ballashop,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`.
We need also to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-rep

[2020-02-03 09:15] sam-pires commented on #17193
@LouiseBonnard, As discussed with @Progi1984. The best solution might not be to host the DB directly.
See links in the previous comment.
Thus I modify the title of the issue and add some labels so we remember to check on it when the time comes.

[2020-02-03 09:16] khouloudbelguith commented on #16626
Hi @BeReal86,

Sorry, this is a different issue.
Can you open a new one with more information about your configuration?

Thanks!

[2020-02-03 09:27] ballashop commented on #17471
dear @khouloudbelguith ,
I sent you a email with logs.
I'm waiting your kind response.
Thanks for your support.

[2020-02-03 09:32] tdavidsonas88 commented on #13462
Do I understand correctly what a hook in this context means PS module hook?: https://devdocs.prestashop.com/1.7/modules/concepts/hooks/

[2020-02-03 09:39] khouloudbelguith commented on #17471
@ballashop, thanks!
You have some warnings during the upgrade.
1. >[WARNING] SQL 1.7.5.0
            1071 in ALTER TABLE `pspc_customer`
  CHANGE `company` `company` VARCHAR(255),
  CHANGE `email` `email` VARCHAR(255) NOT NULL,
  CHANGE `passwd` `passwd` VARCHAR(255) NOT NULL: Specified key was too long; max key length is 1000 bytes</div>

2. >[WARNING] SQL 1.7.5.0
            1071 in ALTER TABLE

[2020-02-03 09:47] matks commented on #11125
Ill evaluate this perf hit.

It will be easier with the use of https://github.com/PrestaShop/PrestaShop/pull/17419

[2020-02-03 09:50] ballashop commented on #17471
Hi @khouloudbelguith,
thanks a lot,
Can I ask you the kindness to indicate which of these warnings concerns the administrator's permissions?
So I can send this message to the ISP to fix it.
Thanks a lot.

[2020-02-03 10:01] ballashop commented on #17471
Dear @khouloudbelguith
I'm in contact with our ISP to fix the problem.
As I have useful information, I will write here.
Thanks a lot.

[2020-02-03 10:01] khouloudbelguith commented on #17471
@ballashop, Thanks!
Waiting for your feedback.

[2020-02-03 10:21] khouloudbelguith commented on #17126
Hi @psyray,

Thanks for these clarifications.
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #11588
So, I close it.
Thanks !

[2020-02-03 10:21] #17126 closed, assigned to nobody

[2020-02-03 10:41] psyray commented on #17126
OK thanks.
Do you have a planned release date for 1.7.7?

[2020-02-03 10:47] khouloudbelguith commented on #17126
@psyray, you can follow our Project here: https://github.com/PrestaShop/PrestaShop/projects/7

Thanks!

[2020-02-03 11:05] jolelievre commented on #17475
@sarahdib  I wonder if we have the same issue on other number inputs? Like refund amount, add/edit products an so on?

[2020-02-03 11:29] khouloudbelguith commented on #17470
Hi @diejorm,

They are empty, it shouldn't be empty.
If you ignore those columns, you should have those warnings.
![image](https://user-images.githubusercontent.com/16067358/73649232-a3231e00-467f-11ea-8904-1b27d47b601c.png)
![image](https://user-images.githubusercontent.com/16067358/73649284-be8e2900-467f-11ea-8b8c-9fd2924e90c8.png)
So, you can't import the file.
I tried with PS1.7.6.3
First, I i

[2020-02-03 11:34] tdavidsonas88 commented on #13462
Found where to add the listener: https://github.com/PrestaShop/PrestaShop/blob/6d8ef75a43d737acf4a1846375556f187c263a9a/src/PrestaShopBundle/EventListener/ActionDispatcherLegacyHooksSubscriber.php#L62-L72

Not sure what the numbers: 100, 255 means

[2020-02-03 12:17] diejorm commented on #17470
Hi @khouloudbelguith,

Thank you so much for your help!
It worked like a charm

It was driving us crazy for a few weeks and we could not find any related info.

Again, thank you so much for helping out  :)

[2020-02-03 12:30] matks commented on #14810
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17094

[2020-02-03 12:30] #14810 closed, assigned to nobody

[2020-02-03 12:40] tdavidsonas88 commented on #13462
Yeah, found the numbers meaning: _If different event subscriber methods listen to the same event, their order is defined by the priority parameter. This value is a positive or negative integer which defaults to 0. The higher the number, the earlier the method is called. Priority is aggregated for all listeners and subscribers, so your methods could be executed before or after the methods defined i

[2020-02-03 12:41] matks commented on #12982
All right, so the target is to build a healthcheck module (easy) that is able to provide a pingable URL which disables the canonical URL redirection 😄

[2020-02-03 13:19] khouloudbelguith commented on #17470
@diejorm, thanks for your feedback.

Thanks!

[2020-02-03 13:19] #17470 closed, assigned to nobody

[2020-02-03 13:51] Progi1984 commented on #17276
Fixed by #17421

[2020-02-03 13:51] #17276 closed, assigned to nobody

[2020-02-03 14:05] colinegin commented on #15971
@tomas862 could you give us some details about the status of this issue ?
Are there other PRs coming ?

[2020-02-03 14:07] colinegin commented on #14462
@marionf @matks can you tell me what is the status of this issue ?

[2020-02-03 14:09] colinegin commented on #10584
Related to the following PR : #17326

[2020-02-03 14:11] colinegin commented on #17124
@matthieu-rolland it might be related to the module ps_mbo, wdyt ?

[2020-02-03 14:21] tomas862 commented on #15971
Seems like only this https://github.com/PrestaShop/PrestaShop/pull/17456 needs to be merged. Although not sure about point 5 if its done since I cant recall which color it was before.

[2020-02-03 14:29] micka-fdz opened #17480 "Improve ps_emailalerts template"
We need to improve template of `ps_emailalerts` account page.

- Add breadcrumb like on other account pages : `Home > Your account`
- Smarty inheritance from `customer/page.tpl` instead of `page.tpl`
- Use `{block name='page_title'}...{/block}` to insert page title

This module is very important for merchants and should not be neglected.

[2020-02-03 14:34] khouloudbelguith commented on #17480
Hi @micka-fdz,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-02-03 14:36] micka-fdz commented on #17480
I'll make a PR soon. I'm looking for how to add breadcrumb.

[2020-02-03 14:47] micka-fdz commented on #17480
Linked to #17131

[2020-02-03 14:53] khouloudbelguith commented on #17479
Hi,

With PS1.7.7x, I have this error
![docker_177x](https://user-images.githubusercontent.com/16067358/73663099-39197180-469d-11ea-90e6-bd0c9b673cb9.PNG)
With PS1.7.6.x, I have this error
![docker_176x](https://user-images.githubusercontent.com/16067358/73663118-420a4300-469d-11ea-8217-b94156629f09.PNG)

Thanks!

[2020-02-03 15:03] MoiRouhs opened #17481 "unable to update, active, reload module in prestashop 1.7.6.x"
Hi, I'm working with 2 pages, there are host in differents enterprises, but the two site are the
same problem with modules differents, modules cannot be updated actived or reloaded.
I  add information the error.

[modules-bugs.zip](https://github.com/PrestaShop/PrestaShop/files/4148513/modules-bugs.zip)

[2020-02-03 15:16] tdavidsonas88 commented on #13462
@matks I understand why to add listener to existing KernelEvents::CONTROLLER event - I can pass variables from Controller to twig. But why to also add it to KernelEvents::VIEW one more time?

[2020-02-03 15:16] colinegin commented on #15971
@MatShir @TristanLDD can you tell us point 5 needs to be addressed ?

[2020-02-03 15:26] khouloudbelguith commented on #17481
Hi @MoiRouhs,

About this error:
`"Error sent by Paygreen. You may need to be logged."`
Try to connect your back office to the addons marketplace and see if the error is still there.
About the other error, have you tried to contact the module author about this issue?
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.pr

[2020-02-03 15:27] colinegin commented on #17403
I quite agree with other comments, i'm not in favor of working on it as it represents very very very few users. But i'm still wondering why this used to be working on ios 7 with PS 1.7.5.2, do you guys have any idea ? @PrestaShop/prestashop-core-developers

[2020-02-03 15:36] colinegin commented on #17212
@MatShir @marionf wdyt of this PR ? Should we accept it before reworking the page or after ?

[2020-02-03 15:38] colinegin commented on #16968
I think this issue not only impacts ps_shopping cart but all modules. What do you think @khouloudbelguith @sowbiba ?

[2020-02-03 15:39] colinegin commented on #15502
So you recommend not to do it @NeOMakinG ?

[2020-02-03 15:46] colinegin commented on #14411
What do you think of this issue @LouiseBonnard ?

[2020-02-03 15:50] khouloudbelguith commented on #16968
Hi @colinegin,

Yes, I think it impacts with all modules, I tried with ps_mainmenu module & ps_searchbar module and Newsletter subscription module => same issue.

Thanks!

[2020-02-03 15:54] MatShir commented on #17311
All the documented generated are still visible and accessible with the customer information. All the information removed on the order page is just hidden.

The module only hide the customer panel and the address information adding a small GDPR message

[2020-02-03 15:59] #16593 closed, assigned to nobody

[2020-02-03 16:16] NeOMakinG commented on #17403
I just checked on 1.7.5.x, it's buggy too due to the use of display flex which is supported on the safari version of ios 10

![image](https://user-images.githubusercontent.com/14963751/73670023-ca421580-46a8-11ea-8881-0727458a0769.png)

There is no regression between 1.7.5.x and 1.7.6.x+

And we should not support browsers that are not supporting display flex (browsers < 2015 except IE11)

[2020-02-03 16:17] arditec commented on #17411
Hi,

We have the configuration of the cache as you indicate.

I can't find the "statsdata", can you tell me more?

Can you tell me what the debug refers to with "config"?

Thank you.

[2020-02-03 16:23] khouloudbelguith commented on #17411
@arditec,

![image](https://user-images.githubusercontent.com/16067358/73670498-9adfd880-46a9-11ea-925e-fe5d69deab60.png)

Profiling for hooks is broken as reported here: #9659, here's the PR: #16231 to fix the issue.
But it can help us to get information about the time needed to run queries.

Thanks!

[2020-02-03 16:29] khouloudbelguith commented on #17403
Hi @NeOMakinG,

I tried with iOSv7 & PS1.7.5.2 & it is OK
https://drive.google.com/file/d/1WMPM6S97WFiA7QzFMpuxIIePOPhlBjoN/view
Using the same device with PS1.7.6 => NOK
https://drive.google.com/file/d/1rnFEVRGx5t5r4Abf8W85S7mQ1dlFnYU_/view
I think this is a regression.

Thanks!

[2020-02-03 16:30] matks commented on #14462
@colinegin WIP

As there are a huge number of pages to do, I do small PRs to modify them slowly and ease the work of QA. I check the items already done in this issue boyd.

[2020-02-03 16:52] matks commented on #13462
I did not know about callActionDispatcherBeforeHook and callActionDispatcherAfterHook so indeed maybe these 2 hooks are already enough to handle the topic of this issue.

Can we check that ? Because these hooks seem able to dispatch data, but do they allow to add extra variables into twig ? I think this would require to pass `event` to hook, right ?

[2020-02-03 16:53] NeOMakinG commented on #17403
My bad I was testing wrong, but I should reinstall prestashop on this branch to test, anyway it's also buggy on 1.7.7.x so I see what's wrong and it's flex support and more, which is something used everywhere, we need to support it, browsers not supporting it are way too outdated

[2020-02-03 16:58] arditec commented on #17411
Hi,

Is this?
![stats-web](https://user-images.githubusercontent.com/60429653/73673136-6de1f480-46ae-11ea-869c-5594ae515661.jpg)

I mean this "config":
![debug-web](https://user-images.githubusercontent.com/60429653/73673309-b4cfea00-46ae-11ea-906e-848df1277350.jpg)

Thanks for your help.

[2020-02-03 17:03] LouiseBonnard commented on #14411
**US/Pacific-New** is an obsolete timezone, therefore it should not be available in this drop-down list. More info [here](https://mm.icann.org/pipermail/tz/2009-February/015448.html). I suppose that timezones in PrestaShop are introduced by a protocol - IANA, perhaps.

@PrestaShop/prestashop-core-developers, would it be safe to remove the mention of this obsolete timezone in _install-dev/data/xml/

[2020-02-03 17:14] YanisseZ opened #17484 "Bug with products comments module"
**Describe the bug**
When i submit a comment the send button send me on my cart.
I don't have an error.

**Screenshots**
[https://youtu.be/iAUUoM9RNgU](https://youtu.be/iAUUoM9RNgU)

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.1.13

[2020-02-03 17:16] matks opened #17485 "demo.prestashop.com is on 1.7.6.2, not 1.7.6.3"

[2020-02-03 17:33] BeReal86 opened #17486 "Several issues after the 1.7.6.3 update"
First of all, I know that 1.7.6 does not fully support the php version 7.3. But I have been using it since version 1.7.6.1. I had no problems. I share pictures of the problems I have experienced below.

I have two different sites. a site updated without problems. The other site was updated without problems, but I found some problems. The first problem is related to the theme. I installed and delet

[2020-02-03 17:36] Quetzacoalt91 commented on #17485
This is caused by the Installer, which is unable to end successfully when installing all the languages when the Docker image `docker-internal-images` is built.

You may reproduce locally with https://github.com/PrestaShop/docker/blob/afd56be8c2668b532ffb297a50cab65344e32078/base/config_files/docker_run.sh#L94

Error log:
[code]

[2020-02-03 17:37] Quetzacoalt91 commented on #17485
This will already be fixed with https://github.com/PrestaShop/PrestaShop/pull/17307

[2020-02-03 17:49] hejmi opened #17487 "faceted search and order by price"
**Describe the bug**
No price filter appears, everything else seems to be working since I upgrade to ps 1.7.6.3
When I try to index missing prices, nothing happens - wheel spinning "running, 96 left to index" never ending.
DB ps_layered_price_index is empty.
Index everything doesn't work either, DB ps_layered_price_index still empty.
![Skärmavbild 2020-02-03 kl  18 46 51](https://user-images.githu

[2020-02-03 18:38] jolelievre commented on #17082
What is the target of this modification? Maybe a bit late for 1.7.7 so maybe in 1.7.8?

[2020-02-04 02:03] MarcelRoos opened #17488 "The control panel is not translated into Portuguese and any other language in version 1.7.6.3"
The control panel is not translated into Portuguese and any other language in version 1.7.6.3

[2020-02-04 08:11] khouloudbelguith commented on #17023
Hi @diyan1234,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-04 08:11] #17023 closed, assigned to nobody

[2020-02-04 08:13] khouloudbelguith commented on #17021
Hi @krystian-3c,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-02-04 08:13] #17021 closed, assigned to nobody

[2020-02-04 08:22] khouloudbelguith commented on #17484
Hi @YanisseZ,

I did not manage to reproduce the issue with PS1.7.6.3 & the productcomments module v4.0.1.
I attached a screen record
https://drive.google.com/file/d/1wXykiKLbrAaEEkUYmi3dS7XN6ki5ic80/view
Did you use a custom theme not provided by PrestaShop?
The productcomments module is it overridden by your theme?

Thanks to check & feedback.

[2020-02-04 08:37] davideapvd opened #17489 "Cart rule with percent discount and free shipping does not apply free shipping"
**Describe the bug**
I've created a cart rule like the one that follows, basically enabling free shipping and a 50% discount on all products, only the 50% discount is applied but not the free shipping
![immagine](https://user-images.githubusercontent.com/21243907/73727497-e047e880-4731-11ea-9ac1-83cc541df6fd.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Cart rule with free shipping an

[2020-02-04 08:43] khouloudbelguith commented on #17486
Hi @BeReal86,

As you said, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need t

[2020-02-04 08:48] Progi1984 commented on #17379
Fixed in #17395

[2020-02-04 08:48] #17379 closed, assigned to nobody

[2020-02-04 09:12] khouloudbelguith commented on #17487
Hi @supermikey,

I did not manage to reproduce the issue with PS1.7.6.3 after an upgrade from PS1.7.6.2 using the 1-click upgrade v4.10.1 & the ps_facetedsearch v3.4.1.
I attached a screen record
https://drive.google.com/file/d/1zM2IAAlrc2_PRLQ_XNMsP-N2ncUSmpEG/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and c

[2020-02-04 09:15] khouloudbelguith commented on #17485
Hi @matks,

Can we close this issue as it is not related to the PrestaShop core?

Thanks!

[2020-02-04 09:18] matks commented on #17485
Yes 😊

[2020-02-04 09:18] #17485 closed, assigned to nobody

[2020-02-04 09:21] khouloudbelguith commented on #17488
Hi @MarcelRoos,

I did not manage to reproduce the issue with PS1.7.6.3.
![image](https://user-images.githubusercontent.com/16067358/73731015-06708700-4738-11ea-8aed-4f8295c6bc21.png)

Could you please try to navigate to your BO => International => Translations => try to update your Portuguese language.
![image](https://user-images.githubusercontent.com/16067358/73730987-fce71f00-4737-11ea-83b8-fc

[2020-02-04 09:37] khouloudbelguith commented on #17489
Hi @davideapvd,

I did not manage to reproduce the issue with PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/1Zl6UiqJDvns0-I1Q09zea5XWKguxohk4/view
About the `Problem with cart rules to selected products and exclude products with a discount`
Here's the PR: #13704 to fix the issue.
It is fixed in the next version PS1.7.7.0.

Thanks to check & feedback.

[2020-02-04 09:50] davideapvd commented on #17489
Hello @khouloudbelguith thank you for the answer, I saw that the final price is calculated correctly but both on the cart summary and the order detail in the admin page the shipping is listed as not free, even if the final price payed by the client was correct (no shipping) , should I try to upgrade to 1.7.6.3 or apply that PR to see that shipping as free in this case?
thanks

![immagine](https://

[2020-02-04 09:58] davideapvd commented on #17489
@khouloudbelguith  can you try to set as default the carrier with a base price of >0€ and repeat the test? before applying the discount you should see a shipping price >0 , I think in this case the shipping price is not zeroed by the discount code.

[2020-02-04 10:03] khouloudbelguith commented on #17489
@davideapvd, same behavior.
https://drive.google.com/file/d/1y6J9M8wX69Ju1cVY7jNCxNDHPsoymMub/view
Thanks!

[2020-02-04 10:11] davideapvd commented on #17489
@khouloudbelguith but in your video I see the shipping price, even if in the first one that was as Free, can you confirm it even in the admin for that order the shipping is listed > 0 ?

[2020-02-04 10:13] khouloudbelguith commented on #17489
@davideapvd, about this error `the shipping is listed as not free`, it is similar to this: https://github.com/PrestaShop/PrestaShop/issues/9586#issuecomment-571114824

Thanks!

[2020-02-04 10:18] davideapvd commented on #17489
@khouloudbelguith sorry but I don't understand how I should proceed, in that issue I don't see a clear way to fix that issue if it is the same.

[2020-02-04 10:20] khouloudbelguith commented on #17411
@arditec,

No, this is the Stats Dashboard module.
I mean the `Data mining for statistics` module.
![image](https://user-images.githubusercontent.com/16067358/73732692-ea221980-473a-11ea-9f99-cca9e9ffef5b.png)

Could you please try to click on the ObjectModel instances link & provide me a screenshot
![image](https://user-images.githubusercontent.com/16067358/73735859-30c64280-4740-11ea-82e1-4f441d

[2020-02-04 10:27] khouloudbelguith commented on #17489
@davideapvd, no this issue is not fixed yet.
It is added to our bug roadmap.

Thanks!

[2020-02-04 10:40] khouloudbelguith commented on #11588
Hi @ilyasovivan,

I did not manage to reproduce the issue with the branch 1.7.7.x (next release PS1.7.7.0)
https://drive.google.com/file/d/1osWiN2CyUOr2T9L-YTnaO6wnuU3U2yRo/view
Since it is fixed, I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-04 10:50] Leo-pold-02 commented on #17083
@fyndpriser ok im sorry. please let me know if you find a souloution. I tried opening another ticket for it but with no relults unfortunatly.

[2020-02-04 10:50] khouloudbelguith commented on #9888
Hi,

Issue fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/15428
The ticket is a duplicate of #9812
So, I close it.
Thanks!

[2020-02-04 10:50] #9888 closed, assigned to nobody

[2020-02-04 10:50] khouloudbelguith commented on #9888
Duplicate of #9812

[2020-02-04 11:12] YanisseZ commented on #17484
Hi @khouloudbelguith
it seems to come from the theme that I use its name is cactuplant

[2020-02-04 11:19] supermikey commented on #17487
Hi!
Thank you for your answer.
I had ps 1.7.5.0 and updated first ps_facetedsearch to 3.4.1. without any positive results. Didn't work with the older faceted search 2.x.x. either
Updated ps with 1-click to 1.7.6.3 and the results are the same.
I have Apache 2.4, php 7.2
Apache: /var/log/apache/apache_error.log - doesn't exist
Apache: /var/log/apache/php_error.log - doesn't exist

I'm trying with a

[2020-02-04 11:28] omar2886 opened #17490 "PS 1.7.6 ASM incorrect "reserved_quantity" values"
Hi,
I installed a new module for advanced stock management, but I can use it because there is a problem with the stock levels in my PS installation. I've got plenty of products with positive stock reserved quantity that I can't correct, I can only change values regarding "quantity" and "physical_quantity" values.
I've tried to modify them directly using PhpMyAdmin by changing the values at ps_stoc

[2020-02-04 11:30] arditec commented on #17411
Hi @khouloudbelguith,

The statsdata module is not installed:
![statsdata](https://user-images.githubusercontent.com/60429653/73741075-cca87c00-4749-11ea-9aa6-1ee6d77f1614.jpg)

Should I install it?

![objectmodel](https://user-images.githubusercontent.com/60429653/73741224-16916200-474a-11ea-85eb-50f359158552.jpg)

Thanks!

[2020-02-04 11:50] ilyasovivan commented on #11588
Oh no...
The creation and use of such addresses (погода@test.ru) is not permitted by the [RFC 3696 standard](https://tools.ietf.org/html/rfc3696) for creating email addresses. Only the part of the address after the @ symbol, that is, the domain name of the mail server, can consist of cyrillic characters (because only this part can be converted to a pinycode).

**Current state**:
test@погода.рф - n

[2020-02-04 11:51] ghost opened #17491 "Shipping carrier name translation"
Hi,
By now we can't change translation of the shipping carrier name.
Only carrier "description" (delivery time).

It would be nice to translate also names like
UPS international shipping for EN
Dostawa międzynarodowa UPS for PL
UPS Internationaler Versand for DE

![translate-shipping](https://user-images.githubusercontent.com/8243273/73742387-9ddfd500-474c-11ea-9116-948720440023.jpg)

Thanks!

[2020-02-04 12:08] ilyasovivan commented on #11588
Correct validation works only in browser validation now like in this comment: https://github.com/PrestaShop/PrestaShop/issues/11588#issuecomment-444107509
but does not work with Prestashop validation.

[2020-02-04 12:10] ballashop commented on #17471
Desar @khouloudbelguith
the ISP fixed the problem, they wrote:

**"_the problem was generated by an update bug of version 1.6 to 1.7 in the access a authentication tables_"**

Unfortunately I don't have more specific information, I'm sorry.
Thanks a lot.

[2020-02-04 12:19] ghost opened #17492 "Prestashop forum is down"
Try to open link
https://www.prestashop.com/forums/topic/1014312-ajouter-la-page-magasins-au-menu-horizontal/

And You will be redirected to https://www.prestashop.com/forums/

Every topic links not working - Google also.

[2020-02-04 12:19] qtrompeau commented on #17429
Hello,

Here's the answer of my theme author :
https://drive.google.com/file/d/1MPu69COfJnPlh-OCexaulT5DnYN2z8nF/view?usp=sharing

Thanks

[2020-02-04 12:23] khouloudbelguith commented on #17492
Hi @PrestaShark,

About your problem on the forum, you can send an email to this address forum@prestashop.com and describe your issue.

Thanks!

[2020-02-04 12:23] #17492 closed, assigned to nobody

[2020-02-04 12:26] khouloudbelguith commented on #11588
@ilyasovivan,

In branch 1.7.7.x, after adding `novalidate` atribute to` <form> `tag, I don't have any exception as described in my last screen record.

Thanks!

[2020-02-04 12:29] khouloudbelguith commented on #17471
@ballashop, To fix this issue you need to replace the `ps_access` table in DB with the one from clean PS1.7 installation.
You can, for example, install PrestaShop separately, copy & paste the table ps_access to your shop.
Or you can follow this solution in this comment to solve your issue https://github.com/PrestaShop/PrestaShop/issues/9513#issuecomment-415011961
Before any modification, you can m

[2020-02-04 12:30] khouloudbelguith commented on #17491
Hi @PrestaShark,

Your ticket is a duplicate of #12901
So, I close it.
Thanks!

[2020-02-04 12:30] #17491 closed, assigned to nobody

[2020-02-04 12:30] khouloudbelguith commented on #17491
Duplicate of #12901

[2020-02-04 12:31] khouloudbelguith commented on #11588
Hi @ilyasovivan,

I will re-open the issue.

Thanks!

[2020-02-04 12:34] PrestaShark commented on #12901
Up!

[2020-02-04 12:35] khouloudbelguith commented on #11588
Ping @colinegin what do you think?
I followed these steps with 1.7.7.x branch

**test@погода.com** - works good
**test@погода.рф** - Invalid format Error
**погода@test.ru** - With `novalidate` atribute in `<form>` tag for disable html5 validation (because we test only server validation, because in some modules it can used without html5 form) => there is no exception => **fixed** in the branch 1.7.

[2020-02-04 12:39] BeReal86 commented on #17486
As you can see in the video in the first minutes, when I enter the theme part before updating, the MENU tab is everything in place. But after the update, there are no pictures of the modules or categories in the MENU section. and there are also two of them all except my shop on the left. (Video 4:28).

I do not have exactly what I uploaded, but I found two of them. I made a mistake by setting up f

[2020-02-04 12:44] khouloudbelguith commented on #17484
@YanisseZ, as it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-02-04 12:44] #17484 closed, assigned to nobody

[2020-02-04 12:48] khouloudbelguith commented on #17486
@BeReal86, About the theme issues.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author, they are the only ones to help you with it.

You can check the backup if it is well working before making a new install.

You can follow our project 1.7.7 here:
https://github.com/PrestaShop/PrestaShop/projects/7

Can we close this issue?

T

[2020-02-04 12:49] ballashop commented on #17471
Dear @khouloudbelguith
really thanks for the message that really useful.
I've found another error about renew, the ISP wrote: the error it depend on a bug of Prestashop after update from 1.6 to 1.7.
Can I post here or I have to open another issue?
Thanks for you support.

[2020-02-04 12:52] BeReal86 commented on #17486
@khouloudbelguith  Thanks for all.

Yes we close this issue.

[2020-02-04 12:53] espacious commented on #17429
Same problem here. Any new info on how to resolve?

[2020-02-04 12:53] khouloudbelguith commented on #17487
@supermikey, you have a lot of errors related to:

1. labmegamenu module
2. laber_siemonsalazar_homepage11 theme

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2020-02-04 12:55] khouloudbelguith commented on #17471
@ballashop, yes, you can post it here.

Thanks!

[2020-02-04 12:56] khouloudbelguith commented on #17486
@BeReal86, you are welcome!
I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-02-04 12:56] #17486 closed, assigned to nobody

[2020-02-04 12:59] khouloudbelguith commented on #17429
@qtrompeau, Could you please provide me your theme to test it.
This is a public space.
You can provide me the theme by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2020-02-04 13:03] ballashop commented on #17471
Ok @khouloudbelguith

when I click to the renew (dashboard)

![renw](https://user-images.githubusercontent.com/28685316/73747058-ddabba00-4756-11ea-8f5c-955a8affdaa7.gif)

I get this message from debug:

![renew-error](https://user-images.githubusercontent.com/28685316/73747081-e9977c00-4756-11ea-93a7-efb44e714531.png)

Thanks for your support.

[2020-02-04 13:08] espacious commented on #17429
Prestashop 1.7.6.2
Warehouse Version 4.3.2
I will try to provide the .zip of theme

[2020-02-04 13:10] khouloudbelguith commented on #17429
@espacious,
You can provide me the theme by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2020-02-04 13:11] ilyasovivan commented on #11588
**test@погода.com** - it's valid now (it's right).
**test@погода.рф** - it's not valid now, "Invalid format Error" (it's not right, must be valid).
**погода@test.ru** - it's valid now (with 'novalidate' atribute in <form> tag. And it's not right, because it must not be a valid address).

[2020-02-04 13:11] matks commented on #12925
Main issue will be probably the Context that is booted by the legacy.

[2020-02-04 13:19] khouloudbelguith commented on #17471
@ballashop, could you please try to re-install the `productcomments` module with removing the folder, clear cache, check & feedback.

Thanks!

[2020-02-04 13:21] khouloudbelguith commented on #17411
@arditec,

This module must be enabled if you want to use statistics only.

Did you check the ps_quest table if it has a lot of data?

For information, in debug mode, the compiler emits debug symbols for all variables and compiles the code as-is. In release mode some optimizations are included:

- unused variables do not get compiled at all
- some loop variables are taken out of the loop by the co

[2020-02-04 13:22] ballashop commented on #17471
Hi @khouloudbelguith
Ok, I'll try now, thanks.

[2020-02-04 13:25] khouloudbelguith commented on #17490
Hi @omar2886,

Reserved stock represents the quantity of products that are currently in an open customer order that has not been shipped yet. In other terms, these products are physically in your storage but are not available for sale anymore. You cannot change directly the reserved stock. The reserved stock only depends on customer orders.
From the BO, you cannot change directly the reserved stoc

[2020-02-04 13:25] khouloudbelguith commented on #17471
@ballashop, thanks!
Waiting for your feedback.

[2020-02-04 13:28] noione commented on #17173
@khouloudbelguith i've found the solution if anyone got the same issue, the problem was on the gsitemap module.
On line 263 in gsitemap.php the limit of the function addLinkToSitemap was 25000 i've increase it to the total of my products of my store and it works.
Thank you

[2020-02-04 13:32] khouloudbelguith commented on #17173
@noione, thanks for your feedback.
This issue is fixed with this PR: https://github.com/PrestaShop/gsitemap/pull/127

Thanks!

[2020-02-04 13:34] espacious commented on #17429
I sent you an email with link to the theme and dev.log.
Thanks.

[2020-02-04 13:36] ballashop commented on #17471
Hi, @khouloudbelguith
I didn't find this module :( into the module folder.
Maybe I'm wrong path.
I'm waiting your kind response.
Thanks.

[2020-02-04 13:38] khouloudbelguith commented on #17429
@espacious, thanks!
I will check & feedback.

[2020-02-04 13:40] khouloudbelguith commented on #17471
@ballashop, in your BO => Modules => Module manager page => if you search for the productcomment, you can't find it?
https://github.com/PrestaShop/productcomments
Thanks!

[2020-02-04 13:40] matks commented on #17492
FYI problem is solved 😉

[2020-02-04 13:47] ballashop commented on #17471
@khouloudbelguith
no unfortunately!
how can it be?
I looked for a clean install of 1.7.6.3 and there is no such module either.
Thanks

[2020-02-04 13:47] qtrompeau commented on #17429
I sent you my theme too. Thanks

[2020-02-04 13:49] qtrompeau commented on #17429
I encouter the same issue while using classic theme.

[2020-02-04 13:52] khouloudbelguith commented on #17471
@ballashop, yes!
This module is not automatically installed.
But the link "Product Reviews" in the dashboard is related to this module.
https://drive.google.com/file/d/1kzmuibruja4rhD1xorExUCMFhhSrMTSI/view
If the module is not installed, this link is not displayed.
![image](https://user-images.githubusercontent.com/16067358/73750699-e94eaf00-475d-11ea-91c6-cf2dedc83358.png)

Thanks!

[2020-02-04 13:56] tdavidsonas88 commented on #13462
@matks We can add our new hook inside `public function callActionDispatcherBeforeHook(FilterControllerEvent $event)` and this would allow us to add new variable to the Request object of the rendered Controller. As I understood the task it is not enough to add our extraVar to the rendered Controller because then we would have check for that variable in every Controller; So I feel near of finding ho

[2020-02-04 13:59] khouloudbelguith commented on #17429
@qtrompeau, I tried with the classic theme & your theme & it is OK
https://drive.google.com/file/d/1zQC_M4-J1sLs4954g33HdpNvcZTXFWJQ/view
Could you please check if this file `/home/situx/developpement.situx.fr/themes/evolution/config/theme.yml` exists in your folder.

Thanks!

[2020-02-04 14:01] khouloudbelguith commented on #17429
@espacious, you provided me a lot of folders, what is the exact name of the theme folder?
Is it `theme_4_3_2`?

Thanks!

[2020-02-04 14:02] matks commented on #13462
What about extending Symfony Controller `render()` function to add our variables ?

[code]

[2020-02-04 14:04] qtrompeau commented on #17429
Yes he exists. And he's not blank

[2020-02-04 14:04] ballashop commented on #17471
Hi @khouloudbelguith
is it possible that from 1.6.1.24 to 1.7.6.3 (update by native PS module) the dashboard show the box also without the module?
for some reason he brought the data back but not the module.
I have the renew link in dashboard:

<img width="630" alt="Schermata 2020-02-04 alle 12 25 31" src="https://user-images.githubusercontent.com/28685316/73750976-72fe7c80-475e-11ea-81eb-affdf90f

[2020-02-04 14:12] ghost opened #17493 "Customer/Guest account double entries"
Hi,

On the forum you can read the problem that exist for years now in PrestaShop.
https://www.prestashop.com/forums/topic/303041-multiple-customer-id-with-same-email-id/?do=findComment&comment=1798911

I want to look into this and I'm here to help to make a huge improvement for this.

Situation: You make a credit slip for customer, let's call him Adam.
Adam has only 1 guest account.
Adam get's yo

[2020-02-04 14:15] tdavidsonas88 commented on #13462
It might work, found something very similar: https://github.com/PrestaShop/PrestaShop/blob/2eb58e0c7c508d466e9a4d2e21e68e63a76b0ea8/src/PrestaShopBundle/Controller/Admin/FrameworkBundleAdminController.php#L47-L51

[2020-02-04 14:15] matks opened #17494 "[SF Migration] Use ContextStateManager in every relevant place"
We found out, while working on Order page migration, that a lot of legacy requires to set the Cart and multiple data as "global context data".
See for example:
https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Cart/QueryHandler/GetCartForViewingHandler.php#L87
[code]

So we created, later, a class to handle these nasty switchs: [ContextStateManager](https://github.com/PrestaShop/Pr

[2020-02-04 14:18] khouloudbelguith commented on #17471
@ballashop, the `productcomments` module is compatible with PS1.7.6.0 or more: https://github.com/PrestaShop/productcomments/blob/master/productcomments.php#L60
It is not compatible with PS1.6.1.24
![image](https://user-images.githubusercontent.com/16067358/73752541-6f202980-4761-11ea-90c3-f0f3cbe07654.png)

Thanks!

[2020-02-04 14:26] khouloudbelguith commented on #17493
Hi @sdwebdesign,

Thanks for your report.
In fact, the Guest account is not transformed into a customer account, it creates a second account
Issue reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/10122
Also, guest tracking issue as reported here: https://github.com/PrestaShop/PrestaShop/issues/9650#issuecomment-415055890

Your ticket is it a duplicate of #10122?

Thanks!

[2020-02-04 14:27] ballashop commented on #17471
@khouloudbelguith
ok, of course :)
the clean site is version 1.7.6.3, i can test first on that.
Obviously I intended to operate on 1.7
I'll let you know.
Thanks a lot.

[2020-02-04 14:29] sdwebdesign commented on #17493
The account creation, and guest creation is a basic feature that it not working fine, so I hope with my example in this issue, issue #10122 gets more attention to work on a solution for this problem.

My problem in 1.7.6.3: You can create unlimited guest accounts for the same email at this moment?

This problem is there since PrestaShop version 1.3 until now. Let's fix it please together.

[2020-02-04 14:29] khouloudbelguith commented on #17429
@espacious, I tried with your theme & it is OK
https://drive.google.com/file/d/1W8e7pGjn-Ah7hiwdxyQmwtWZ0EkR_9a7/view

@qtrompeau, I tried with PS1.7.6.2 & it is ok
https://drive.google.com/file/d/1dNr8jdhHNeYgcc7FRVH3Z5WQx_4VxwLu/view

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likel

[2020-02-04 14:29] #17429 closed, assigned to nobody

[2020-02-04 14:29] #16606 closed, assigned to nobody

[2020-02-04 14:30] #16607 closed, assigned to nobody

[2020-02-04 14:30] khouloudbelguith commented on #17471
@ballashop, thanks!
Waiting for your feedback.

[2020-02-04 14:32] #16609 closed, assigned to nobody

[2020-02-04 14:32] #16611 closed, assigned to nobody

[2020-02-04 14:32] #16597 closed, assigned to nobody

[2020-02-04 14:33] #16598 closed, assigned to nobody

[2020-02-04 14:33] khouloudbelguith commented on #17493
@sdwebdesign, thanks a lot for your feedback.
This issue #10122 is assigned to our product team.

Since your ticket is duplicate of #10122, I need to close it.
But, you need to follow this ticket: #10122 & add your suggestion in a new comment.

Thanks !

[2020-02-04 14:33] #17493 closed, assigned to nobody

[2020-02-04 14:33] khouloudbelguith commented on #17493
Duplicate of #10122

[2020-02-04 14:34] #16613 closed, assigned to nobody

[2020-02-04 14:34] sdwebdesign commented on #10122
Hi,

On the forum you can read the problem that exist for years now in PrestaShop.
https://www.prestashop.com/forums/topic/303041-multiple-customer-id-with-same-email-id/?do=findComment&comment=1798911

I want to look into this and I'm here to help to make a huge improvement for this.

Situation: You make a credit slip for customer, let's call him Adam.
Adam has only 1 guest account.
Adam get's yo

[2020-02-04 14:34] #16605 closed, assigned to nobody

[2020-02-04 14:35] #16603 closed, assigned to nobody

[2020-02-04 14:35] #16602 closed, assigned to nobody

[2020-02-04 14:36] #16601 closed, assigned to nobody

[2020-02-04 14:36] omar2886 commented on #17490
Thanks @khouloudbelguith I didn't know about this info being stored that way. For example, for a unique product product I have as much entries as orders have been placed for that item, right? What I don't know is how to do in order to fix it.
For the item in this example, the ASM system shows 23 reserved & -23 Available. In this table you told me "ps_order_detail" "product_quatity" I have 29 entri

[2020-02-04 14:40] khouloudbelguith commented on #17490
@omar2886, Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2020-02-04 14:40] tdavidsonas88 commented on #13462
@matks also hooks throws exception if I try to pass array - so string only can be passed.

[2020-02-04 14:42] omar2886 commented on #17490
isn't it a bug then? I mean, if all orders containing these products are either shipped or canceled there shouldn't be any reserved products on the ASM system

[2020-02-04 14:44] khouloudbelguith commented on #17449
Hi @jf-viguier,

I tried to use the develop branch to reproduce the issue.
But when using this script with develop branch
[code]
I have this error
![image](https://user-images.githubusercontent.com/16067358/73754769-35e9b880-4765-11ea-9f7c-9a6eeff40533.png)

Thanks!

[2020-02-04 14:48] khouloudbelguith commented on #17490
@omar2886,

How did you reproduce the issue? the quantity of your product is <0 but in your case, "Allow ordering of out-of-stock products " is disabled?

Thanks!

[2020-02-04 14:51] matks opened #17496 "Autoupgrade might re-download all native modules although useless"
**Describe the bug**
According to @jocel1, it seems autoupgrade module re-download all native modules although useless. Autoupgrade module should only download new module versions.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a 1.7.6.1 shop
2. Check that, in modules folder, the following modules do not have a `vendor/composer` folder:
- ps_customersignin
- pagesnotfound
- statsfor

[2020-02-04 14:54] jocel1 commented on #17496
Yes that's it :)
I'll double check by installing again a shop from scratch, just in case

[2020-02-04 14:57] MatShir commented on #16842
**Specs:**
The discount should display **the value of the discount** and nor the percentage.
And if the value can't be retrieved for a technical reason, it should display the percentage.

[2020-02-04 14:57] omar2886 commented on #17490
"Allow ordering of out-of-stock products " enabled, that must be the reason that caused all that mess I guess. Because we accept orders of products not available, so we can order them from our providers on demand and then serve our customers.
We add stock using the stock tab on the product page when we receive stock for our store.
I guess that this way, what we've been doing is adding "Available"

[2020-02-04 14:58] matks commented on #17496
If you find ClassLoader in modules folder after an install, we have a very serious issue 😅

[2020-02-04 15:02] ballashop commented on #17471
hi @khouloudbelguith
I tried to install the module I downloaded from:
https://github.com/PrestaShop/productcomments

<img width="286" alt="Schermata 2020-02-04 alle 16 00 15" src="https://user-images.githubusercontent.com/28685316/73756187-721e1880-4767-11ea-9e53-232c56a35fce.png">

but it didn't work:

<img width="685" alt="Schermata 2020-02-04 alle 15 59 40" src="https://user-images.githubuserco

[2020-02-04 15:06] eternoendless commented on #16720
As far as I can tell, there is no recommendation for lower case headers in both RFCs. They only refer to their _interpretation_, which as you cited, should be case-insensitive.

As you said, programming languages are case sensitive. Therefore it's the clients (and not the server) who must be adapted to comply with RFCs and interpret headers in a case-insensitive way, or be subject to potential pro

[2020-02-04 15:06] #16720 closed, assigned to nobody

[2020-02-04 15:14] ballashop commented on #17471
@khouloudbelguith
i tried do install by module catalog in local clean PS installation, I found it and I installed but I've got this error:

![error comment module](https://user-images.githubusercontent.com/28685316/73757307-561b7680-4769-11ea-9c6d-fcecd0476cee.png)

I'm waiting your kind response.
Thanks.

[2020-02-04 15:19] khouloudbelguith commented on #17471
@ballashop, I tried with fresh install PS1.7.6.3 & it is OK.
[module_productcomments.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4154232/module_productcomments.webm.zip)
Thanks!

[2020-02-04 15:24] khouloudbelguith commented on #17496
Hi @matks, @jocel1,

I have the same issue with PS1.7.6.3 after an upgrade from PS1.7.6.1 using the 1-click upgrade v4.10.1.
https://drive.google.com/file/d/1TgRMmzJbTaHDzYlhdvw67qtref_Kke8b/view
I’ll add this to the debug roadmap.

Do you think, it is a major issue?

Thanks!

[2020-02-04 15:24] ballashop commented on #17471
@khouloudbelguith
I have done exactly the same steps! with a different result.
Now I will do this:
I delete the productcomments folder
I clean the cache
I close and restart MAMP
I will go through the same steps again
Then I report you.
Thanks a lot for your support.

[2020-02-04 15:26] khouloudbelguith commented on #17471
@ballashop, waiting for your feedback.

Thanks!

[2020-02-04 15:32] tdavidsonas88 commented on #13462
There several things, that I search to do better like:
1. Passing several variables (array format is currently not supported)  - maybe json?
2. Currently variable name is by default the same as module name; User defined variable would be better.

[2020-02-04 15:33] arditec commented on #17411
@khouloudbelguith,

The "ps_quest" table does not exist in the database, is it possible?
![ps_quest](https://user-images.githubusercontent.com/60429653/73757531-a266b680-4769-11ea-8808-703f657af96a.jpg)

This is a capture of the tables sorted by size:
![tablas](https://user-images.githubusercontent.com/60429653/73759280-02f6f300-476c-11ea-95c9-ea04bc1c352c.jpg)

Thanks

[2020-02-04 15:35] khouloudbelguith commented on #17411
@arditec,

sorry, it is `ps_guest`.

Thanks!

[2020-02-04 15:41] ballashop commented on #17471
@khouloudbelguith
ok, in local site I installed with success, now I'm going to do the same steps with online site (into a sub folder) not the operative one  of course :), it's still to 1.6.1.24 version
I'll let you know.
Thanks for your support.