[2022-07-14 09:50] Maofree opened #29080 "The select of "Related product" shows disabled products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
a my customer report me a proble

[2022-07-14 19:48] TecnoHands commented on #21484
Very thanks, I try it to modify this. We are now in prestashop 1.7.8.6 and this bug continue in this version (facepalm)

[2022-07-14 20:34] TecnoHands commented on #21484
Prestashop 1.7.8.6 Clean
![image](https://user-images.githubusercontent.com/16818257/179072587-67c9cbfc-bb28-4777-a1be-8349798ae1bb.png)
![image](https://user-images.githubusercontent.com/16818257/179072623-d8788a98-8538-4411-a865-6d7429e92e9d.png)
Product Page don't show Fine But...

When add to the cart screw up and now, Showing another item for Tax below the taxes included WTF the same in check

[2022-07-14 22:57] TecnoHands opened #29082 "Shipping cost not needed needed to show to client if this don't select a shipping method yet"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Shipping cost always viewing, in mo

[2022-07-14 23:05] TecnoHands commented on #29082
**### This changes in the tpls resolve the problem Please add it to the new release**

**Change the ps_shoppingcart -> modal.tpl**
Deleting or commenting this lines:

` {if $cart.subtotals.shipping.value}
                <p><span>{l s='Shipping:' d='Shop.Theme.Checkout'}</span>&nbsp;<span class="shipping value">{$cart.subtotals.shipping.value} {hook h='displayCheckoutSubtotalDetails' subtotal=$car

[2022-07-14 23:52] TecnoHands commented on #29076
Prestashop has the same account mail in SMTP, Mail of the store and IMAP
But I receive this Message

Swift Error: Expected response code 250 but got code \"550\", with message \"550-Your FROM address ( soporte@ , Gabriel \r\n550- ) must match your authenticated email user (\r\n550 atcliente@ ). Treating this as a spoofed email.\r\n\"
--

IMAP sync fine in the two mails account receiving the contac

[2022-07-15 06:27] matks commented on #29082
You can do it by submitting a Pull Request to ps_shoppingcart 😉 https://github.com/prestashop/ps_shoppingcart

[2022-07-15 06:53] matks commented on #29059
Thanks !

I'm currently looking for nice topics that people with fresh little knowledge of prestashop can explore to grow their prestashop knowledge 😏 so if issues are very well described I can use them and assign manpower to it as part of their onboarding

[2022-07-15 07:26] TFF1604 opened #29083 "Recaptcha bug create account"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
the module appears and funct

[2022-07-15 07:31] okom3pom commented on #29083
Hello @TFF1604

You have to open an issue on the repo of the module https://github.com/nenes25/eicaptcha

Here it's for PrestaShop issue and native module.

[2022-07-15 08:41] 01park opened #29085 "Cron job for : Add missing products to the index"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-15 08:56] AureRita commented on #29077
Hi @abramofranchetti,

Thank you for your report and the PR, I tried to reproduce your issue but I can't follow your step to reproduce.
Can you be more precise about the files to modify, in wish folder, and after wish webpage we should verify to get your issue

for example :
1. Go to the files [name of your shop]/classes/Product.php
2. Write the following lines :
[code]
3. Go to BO>Catalog>Product

[2022-07-15 09:17] matks commented on #29083
Just like @okom3pom said, this module is outside of the prestashop organization 😉 we cannot help you with this.

[2022-07-15 09:17] #29083 closed, assigned to nobody

[2022-07-15 09:26] AureRita commented on #29082
Hi @TecnoHands ,

Thank you for your reporting. Currently, I think you send a feature that you want into prestashop, so I'll treat it as if it were one.

The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.
Thanks for your for your purposed modification :rocket:

Thank you

[2022-07-15 09:50] maofree commented on #29080
can you check if it planed?

the fact that they do not appear on the front I think is normal, because the products are deactivated.
what I would like is that they do not even appear in the admin side selection. I don't think it's a planned change

[2022-07-15 10:00] maofree commented on #29080
image a website with 5000 or more products
with 500 disabled products
in the selection of related product you see also the disabled products but without to know which are active or disabled.
I know that in the front office these related products if disabled will not be shown, but the problem is on the select not in the front-office

the fact that they are not shown on the front if disabled reinfor

[2022-07-15 10:07] Touza-Isaac commented on #25380
I also encountered the same problems. I'm trying to find a solution but I can't.
![Uploading Capture d’écran 2022-07-15 110714.png…]()

[2022-07-15 10:17] AureRita commented on #29080
As you asked me, I checked it. Currently it's planed but it can be a good feature to implement, so I'll treat it as if it were one,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.

Thank you

[2022-07-15 10:21] abramofranchetti commented on #29077
hi @AureRita, the step are the following:
1) create an override of the product class : so in /override/classes create a file named Product.php and paste the code in the attached file (product class extend ProductCore ecc).
2) clear the cache of prestashop to enable the override (so that the prestashop remake the class index including the new override). this can be done emptying the var/cache folde

[2022-07-15 10:25] maofree commented on #29080
ok thanks

[2022-07-15 11:14] TecnoHands commented on #29082
I give you a solution, where You see a online store shows shipping cost before You select one? 🤦 In My opinion that is a Bad Workflow. I begin to think the proyect leaves this type of event without corrections with that intention appears how PrestaShop are "Open source" but not completely really

[2022-07-15 11:15] TecnoHands commented on #29082
I don't how 😔

[2022-07-15 12:34] okom3pom commented on #29082
Hello @TecnoHands

Anyone can make changes to improve the project. That's also what open source is.

If you need help i can help you. It is important to know that PrestaShop is international and that some countries ask for the shipping price when adding to the cart.

[2022-07-15 13:28] RicRey1988 opened #29088 "Error PHP Fatal after upgrade PS 1.7.8.5 - PS 1.7.8.6"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After updating prestashop 1.7.8.5 t

[2022-07-15 14:08] AureRita commented on #29077
Thank you for these steps !
I tested with them and I reproduce your issue as we can see on this video !

https://user-images.githubusercontent.com/100699445/179239688-12d69317-5666-4116-ba58-b01e36a354a0.mp4

I'll modify the steps to reproduce on your first message to catch directly the steps,

Thank you for your reporting !

[2022-07-15 14:37] Lionel-dev commented on #29085
Hi,

Est-ce que tu ne peux pas juste appeler l'URL BO Permettant déjà de faire ça ? ([DOMAIN]/admin/index.php?controller=AdminSearch&action=searchCron&ajax=1&token=[token]&redirect=1&id_shop=1)

![image](https://user-images.githubusercontent.com/48990561/179245372-8340f1d3-b546-4211-a382-dbb8c00c3799.png)

Si tu appelles cette URL dans ton cron, ça fera l'affaire non ? :)

[2022-07-15 14:51] AureRita commented on #29088
Hi @RicRey1988 ,

Thank for your reporting. Currently, I tried to reproduce your issue but I can't reproduce it with this steps, can you give me more information about your shop, for example the country of your shop, etc

That what I get on video :

https://user-images.githubusercontent.com/100699445/179248459-53882796-37c6-4dcc-85a1-294922c1dd0b.mp4

[2022-07-15 14:55] RicRey1988 commented on #29088
I missed some details:

1) when using the upgrade module I got that everything was updated correctly, and I realized that error from the error_log file that was created in cpanel and that continues to grow.

2) My store is set to Ecuador

3) Use Currency United States dollars

4) language I use is Spanish

[2022-07-15 15:11] AureRita commented on #29088
Can you give us some screen shot to see the error ?

I tried to reproduce with all your parameters but I haven't any error.

Waiting for your feedback

[2022-07-15 15:19] AureRita commented on #29076
Hi @TecnoHands,

Thank you for your reporting, I tried to reproduce your issue but currently I haven't problems about the mails, as you can see on this video :

https://user-images.githubusercontent.com/100699445/179253893-56951477-3d81-43d6-997b-b678a999a0df.mp4

If there is something that I missed, can you say it please ?

Waiting for your feedback

[2022-07-15 15:22] #26696 closed, assigned to nobody

[2022-07-15 15:34] #25871 closed, assigned to nobody

[2022-07-15 15:38] #29002 closed, assigned to nobody

[2022-07-15 15:41] #19527 closed, assigned to nobody

[2022-07-15 15:42] #29074 closed, assigned to nobody

[2022-07-15 15:44] #28855 closed, assigned to nobody

[2022-07-15 16:06] matthieu-rolland opened #29089 "CLI release creation tool doesn't always include modules in the release archive"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When generating a release package f

[2022-07-15 16:13] matthieu-rolland opened #29090 "500 error after upgrading via local archive from 1.6 to 1.7.8.x"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After upgrading via locale archive

[2022-07-16 08:33] PrestaEdit commented on #29088
Hi @RicRey1988 ,

As I see inside the trace, the initial call coming from the module Faceted Search.
Could you say us wich version do you have ? And if there is an update available, make it in order to see if it's not related ?

[2022-07-16 12:16] RicRey1988 commented on #29088
In the faceted search module I have it in version 3.8.0 I think it is the latest since it does not come up to update, maybe it was updated when I updated the store

![image](https://user-images.githubusercontent.com/44790517/179354535-3cf67370-a052-4236-a81a-7f48a53329a8.png)

[2022-07-16 12:38] RicRey1988 commented on #29088
Does this error have something to do with the database? Look at the attached image and tell me if it is correct.

The one in the box is supposed to be the currency used by the store... and is Dollar USD

![image](https://user-images.githubusercontent.com/44790517/179355171-f7e3386b-2707-4623-bf7a-625b571b1b02.png)

[2022-07-16 19:16] giovkanata commented on #21930
Same problem today with PrestaShop 1.7.8.4 with php 7.4.30 and `"symfony/polyfill-php73": "^1.10"`
Solved with `"symfony/polyfill-php80": "<=1.18.1"`

[2022-07-16 20:00] matks commented on #21930
Note: PrestaShop 8 introduces PHP8 and PHP8.1 compatibility https://build.prestashop.com/news/prestashop-feature-freeze-v8/

[2022-07-16 20:36] Hlavtox commented on #29082
After your change, it will show Subtotal 114 and Total 118. What are the 4 dollars for when you hide the shipping?

You need to think about this more. ;-) Then we can implement something like this. The idea is good, but it must be configurable. Some clients want the original behavior, to preview the shipping cost to customer.

[2022-07-16 23:42] TecnoHands commented on #29082
The idea is show shipping cost when client select one shipping method if you don't selected any shipping method why you show a shipping cost.

I see a error in my solution and I try to solve it but I can't find the documentation about the $subtotal var to go more deeper :(

Thanks for the feedback

[2022-07-17 05:32] Hlavtox commented on #29082
@TecnoHands You must check another variable. Put this to your template and you will see all the totals available. 🙂

`{dump($cart.totals)}`

[2022-07-17 10:57] PrestaEdit opened #29093 "Use somes blocks to allow extending PDF template easier, like the styles"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-17 12:17] PrestaEdit opened #29095 "The THEME_NAME constant define another theme name than the once in use"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Firstly, it's a technical issue and

[2022-07-17 12:26] letwang commented on #29076
vendor/swiftmailer/swiftmailer/lib/classes/Swift/Transport/AbstractSmtpTransport.php
<img width="1305" alt="image" src="https://user-images.githubusercontent.com/3644168/179398233-234ac8c8-c700-4203-ab5c-7da39b31f844.png">
In this way, it is convenient to debug the cause of the SMTP error and facilitate debugging.

[2022-07-17 21:10] tozcutekstil12 opened #29097 "error log"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![php error log](https://user-image

[2022-07-18 03:56] letwang opened #29098 "There is a high probability that mail configuration SMTP will fail to send mail, and the prompt is very vague"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Now, due to the use of the Swift ma

[2022-07-18 04:02] letwang commented on #29098
The world-renowned WordPress can still use the simple and friendly PHP built-in function mail to send emails, so I can't understand why SwiftMail manufacturers have the right to choose to use PHP's built-in function mail because of the so-called security barbaric castration.
Unfortunately the great PrestaShop uses SwiftMail, so PrestaShop users also lose the option to use PHP's built-in function m

[2022-07-18 07:24] matks commented on #29098
This is exactly what we are doing. PrestaShop is a technology, not a product. To be more accurate it is an open source project. Security is our number 1 priority as an open source project for many reasons, and one is that the loss due to stolen data or hacks is a lot more damaging than inconvenience.

But I have good news: you can use the technology and customize it for your needs this is the stre

[2022-07-18 07:36] hibatallahAouadni commented on #29093
Hello @PrestaEdit

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Thanks for your PR 🚀

Thank you

[2022-07-18 07:40] hibatallahAouadni commented on #29097
Hello @tozcutekstil12

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must provide and respect all blocks in the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can pr

[2022-07-18 07:40] #29097 closed

[2022-07-18 07:42] letwang commented on #29098
Then I only have the last choice, the option of sendmail, but this option is unavailable for many people, because the virtual host company will not allow us to open permission to execute the command line.

[2022-07-18 08:00] Progi1984 commented on #27375
It's not totally fixed. The bump of the module is not done in the core.

[2022-07-18 08:10] jolelievre commented on #28998
Hi @AureRita the multishop feature is not finished on the product page, it will be done in 8.1 so I removed this issue from the 8.0 kanban

[2022-07-18 09:19] AureRita commented on #29088
Hi @RicRey1988 !

About your Database, it's a little bit strange that you've twice the dollars parameters,
as you can see on my screenshot :
![image](https://user-images.githubusercontent.com/100699445/179480453-2c4d3f9a-985a-4868-a61d-92b351dd5aff.png)

For the missing files, I think they are important because I've all of them. The index of autoupgrade can be the most important

[2022-07-18 10:13] FabienPapet commented on #28965
I'll take this one

[2022-07-18 10:22] stifler97 commented on #14948
Hi. I created a custom module which contains these files:
1. `override/controllers/front/AddressController.php`
2. `override/controllers/front/listing/CategoryController.php`

At first I only created the file `AddressController.php` and just added a new variable to check if it takes effect in root `override` folder when I reset the module. And this works properly.
Then I added the `CategoryControl

[2022-07-18 11:04] micka-fdz commented on #20880
Hi. I think this issue has been fixed here: https://github.com/PrestaShop/PrestaShop/pull/28290

[2022-07-18 11:18] hibatallahAouadni commented on #29098
Hello @letwang

We only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://pres

[2022-07-18 11:18] #29098 closed, assigned to nobody

[2022-07-18 13:25] sLorenzini opened #29105 "FO / Blockwishlist - heart is not filled correctly after edition or refresh the product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-18 13:53] matks commented on #28522
## Date update

The QA team focus is [autoupgrade module](https://github.com/prestashop/autoupgrade), it is needed to explore whether upgrade from 1.7.x versions to 8.0.0 are OK and register known issues.

Following this exploration 1.7.8.7 build, test and release will be possible.

[2022-07-18 14:43] hibatallahAouadni commented on #28826
Hello @kemalatila

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-07-18 14:43] #28826 closed, assigned to nobody

[2022-07-18 14:45] hibatallahAouadni commented on #28880
Hello @sebhanz

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-07-18 14:45] #28880 closed, assigned to nobody

[2022-07-18 15:19] ediathome commented on #19656
Using the command line:
chmod -R 777 myshop/*

[2022-07-18 16:15] matks commented on #28932
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29055

[2022-07-18 16:15] #28932 closed, assigned to jolelievre

[2022-07-18 16:24] #28961 closed, assigned to nobody

[2022-07-18 16:28] jolelievre commented on #28844
Hi @atomiix

the fix has been merged on the module, but I'm thinking maybe e should keep this issue open until a version of the module is released which includes your fix?

[2022-07-18 20:57] kpodemski commented on #29005
It should work the same on 1.7.8, so it doesn't seem like a regression. It is expected behavior as the module needs to be activated for the Symfony controller to be available:

[2022-07-18 21:26] PrestaEdit opened #29106 "Use of {convertPrice} inside PDF template throw an exception"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Once adding this code (`{convertPri

[2022-07-18 22:35] tozcutekstil12 commented on #29097
hi, I don't have any information about why the error log occurs.we have provided a transition from version 1.6 to version 1.7.8.5. And we changed the theme.we used the php version 7.4, which prestashop recommends for version 1.7.8.5. The errors I shared in the error log file occurred geldi.Ve we do not know the reason for these errors, we are waiting for your help in this regard. Our Website www.i

[2022-07-19 00:57] letwang commented on #29098
oh my gosh~
It would be a shame to turn a blind eye to PrestaShop's questions because my questioning pose was not elegant enough~
I actually express 3 questions above:
1. The built-in function MAIL in PHP cannot be used, so many users cannot use PrestaShop products normally, which affects the reputation of PrestaShop. PrestaShop forum so many mail question posts is a good proof, and the world-reno

[2022-07-19 01:00] letwang commented on #29076
I actually express 3 questions above:
1. The built-in function MAIL in PHP cannot be used, so many users cannot use PrestaShop products normally, which affects the reputation of PrestaShop. PrestaShop forum so many mail question posts is a good proof, and the world-renowned WordPress has not abandoned the PHP built-in function MAIL. (It is recommended to add support for MAIL)
2. The provided sendm

[2022-07-19 03:27] Seb33300 commented on #29090
Can it be fixed by a SQL migration script that will disable the module and remove hooks in the database?

Or it's more complex than that? (also need to remove overridden files, or something else)

[2022-07-19 09:44] matik4 commented on #20880
This solved the issue for me 👌

[2022-07-19 09:46] #28864 closed, assigned to nobody

[2022-07-19 09:54] hibatallahAouadni commented on #29089
Hello @matthieu-rolland

I was able to reproduce the issue. I’ll add this to the debug backlog so that it’s fixed.
So, we're waiting for your PR :rocket:

Thank you

[2022-07-19 09:55] AureRita opened #29110 "[Autoupgrade] - Files like AdminReferrers.php isn't deleted during the Autoupgrade"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we do an Autoupgrade to the ve

[2022-07-19 11:42] kpodemski opened #29111 "Making more details about the product available for the out-of-stock email"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-19 12:21] amaurigabriel commented on #28901
Hi,

Any position about this?

[2022-07-19 12:43] la-lisa commented on #28757
@sLorenzini as I wrote above screenrecording is not possible. I cannot share customer data in a screenrecording. And the problem is not that easy to reproduce.

[2022-07-19 14:30] tiroiretcoton commented on #28498
Hello,

the problem is still pending on my side.
is it possible for you to check the logs of prestashop for my prestashop page ?

I need to understand what is going on when i click on the debug button.

Here is what i do on my page :

Opening of the screen of the performances to activate the debug mode :
![image](https://user-images.githubusercontent.com/105629313/179773290-791a2e9a-e9eb-4ef0-afff

[2022-07-19 15:32] #27064 closed, assigned to Progi1984

[2022-07-19 15:38] #28944 closed, assigned to nobody

[2022-07-19 15:58] hibatallahAouadni commented on #29090
Hello,

I was able to reproduce the issue. I’ll add this to the debug backlog so that it’s fixed.
So, we're waiting for your PR :rocket:

Thank you

[2022-07-19 16:12] hibatallahAouadni commented on #29098
Hello @letwang

I actually express 3 questions above:

You can ask your questions here in the [public Slack channel](https://prestashop.slack.com).

Thank you

[2022-07-19 16:17] hibatallahAouadni commented on #28757
Hello @la-lisa

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).
Alternatively, you can also ask for help in the [community

[2022-07-19 16:17] #28757 closed, assigned to nobody

[2022-07-19 16:23] hibatallahAouadni commented on #28912
Hello @alfonsolr09

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-07-19 16:23] #28912 closed, assigned to nobody

[2022-07-19 16:24] hibatallahAouadni commented on #28915
Hello @alfonsolr09

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-07-19 16:24] #28915 closed, assigned to nobody

[2022-07-19 16:37] hibatallahAouadni commented on #29058
Ping @florine2623 is this issue a regression on 1780 or it's an old bug?
Thanks in advance!

[2022-07-19 16:53] hibatallahAouadni commented on #29095
Hello @PrestaEdit

Without overriding any another file? and did you encounter this issue only with 8.0.0 or you manage to reproduce even with older version?
Waiting for your feedback.

Thanks!

[2022-07-19 17:21] PrestaEdit commented on #29106
Hi @hibatallahAouadni ,

Just try this on a 1.7.8.5 without error.

[2022-07-19 17:24] PrestaEdit commented on #29095
Hi @hibatallahAouadni,

Yes, just adding this file, empty, without problem.

Trying on the 1.7.8.5 version right now and the issue is there too.

[2022-07-20 07:58] kpodemski commented on #29111
@PrestaShop/prestashop-maintainers, it's more or less a developer feature. Can I have your approval?

[2022-07-20 08:53] HanaRebaiQA commented on #29106
Hello @PrestaEdit

Thanks for your report.
I tried to reproduce your issue using the same steps to reproduce. But, i was unable to reproduce it when checking on **PS1786** and **8.0.x** branch

**PS1786 :**

https://user-images.githubusercontent.com/92912932/179940603-a2838de2-442c-4b08-9d4f-3827bfc8184d.mp4

**8.0.x :**

https://user-images.githubusercontent.com/92912932/179940572-ac97e670-0608-4

[2022-07-20 09:09] #28813 closed, assigned to nobody

[2022-07-20 10:11] florine2623 opened #29119 "BO - Geolocation by IP address throws exception for read-only employee"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have an exception when I try to s

[2022-07-20 10:39] HanaRebaiQA commented on #29095
Hello @PrestaEdit

Thanks for your report.
I used the provided steps to reproduce your issue.

Enable multistore
Create a new shop
Set an another theme to this new shop
Set the classic theme for the default shop

But, im blocking on step 3 `Add a template called invoice-test.tpl inside the pdf folder of your theme (empty file, it's good)
`
In fact, i did not find the pdf folder under the theme. It

[2022-07-20 11:25] PrestaEdit commented on #29095
You will need to create the folder, it's not by default but it's the good way to add it especially inside your theme.

[2022-07-20 13:21] sLorenzini commented on #29058
@hibatallahAouadni, tested on 17.7.8 and the bug is reproduced. It's an old bug 😄

[2022-07-20 14:41] yanmakouf commented on #29012
Ok I got it, it is the JS that doen't reload correctly the form fields. If you arrive first time on the adresse page and the default selected country has vat et dni in the BO, you will have the corresponding field in the form, and everything is ok. but if you arrive first time and switch country (to one with different settings) then the form is not updated. So @okom3pom was right and it is totally

[2022-07-20 14:45] okom3pom commented on #29012
Glad we could help you. I did not succeed on my side.

Ready to review your PR

[2022-07-20 14:53] okom3pom commented on #28781
Hello @Amoifr as you can see: https://github.com/PrestaShop/PrestaShop/issues/29012#issuecomment-1190374764 I did not find your PR? This is to avoid duplicate work.

Thanks for the answer

[2022-07-20 15:07] #19365 closed, assigned to nobody

[2022-07-20 15:07] #19317 closed, assigned to micka-fdz

[2022-07-20 15:28] micka-fdz commented on #19365
👍

[2022-07-20 15:29] micka-fdz commented on #19317
👍

[2022-07-20 15:53] PrestaEdit commented on #29095
On your screen record, we can see that the "invoice" choice is setted, so it's use the invoice.tpl template without issues.
You need to add the invoice-test.tpl file into the theme setted to the default shop (the ID 1) and you will be able to choose it.

[2022-07-20 16:47] jolelievre commented on #28933
This issue has already been fixed by #28959

[2022-07-20 16:51] atomiix opened #29121 "Cache is cleared for every module when you bulk remove modules instead of only once"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] #29179

### Describe the bug and add screenshots

In the module manager, when you remove multiple modules through bulk action, the cache is cleared for each modules instead of being clearing only once at the end of the process.

### Expect

[2022-07-20 17:30] #29001 closed, assigned to FabienPapet

[2022-07-21 01:40] letwang commented on #26427
66666

[2022-07-21 01:48] letwang commented on #24111
6666

[2022-07-21 07:43] matks commented on #28522
@letwang Yes, as mentioned above we are right now focusing on the autoupgrade testing campaign for 8.0.0 and it requires most of the QA team capacity so it we cannot test the 1.7.8.7 at the same time

[2022-07-21 09:51] Hlavtox commented on #14713
@khouloudbelguith Fixed on v2 page maybe?

[2022-07-21 12:04] PrestaEdit opened #29123 "The "An electronic version of this invoice is available in your account" phrase is shown on every PDF except the invoice one"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you generate PDF file like the

[2022-07-21 12:08] integritty opened #29124 "Function which return total paid for certain order using precision by context instead of order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you have active multistore ins

[2022-07-21 13:14] #28742 closed, assigned to nobody

[2022-07-21 14:23] alisamie97 opened #29129 "Show number of products after category names in block category tree in side panel"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-21 14:47] abramofranchetti opened #29130 "Allow merchant to set a BCC recipient for emails"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-21 14:51] marwachelly commented on #29129
Hello @stifler97 ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Thanks for your PR!

Thank you :blush:

[2022-07-21 14:59] ocio87 commented on #26553
This Bug was resolved in version 1.7.8.6 with the https://github.com/PrestaShop/PrestaShop/pull/26824

[2022-07-21 15:09] MeKeyCool opened #29131 "Technical debt : review PrestaShop\PrestaShop\Core\Grid\Search\SearchCriteriaInterface"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

Hi ! This issue is o

[2022-07-21 15:19] marwachelly commented on #29131
Hello @MeKeyCool,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Thanks :blush:

[2022-07-21 15:21] MeKeyCool commented on #29131
Hi @marwachelly, this issue isn't finished yet, I am working on description, it is dedicated to developers.

[2022-07-21 15:27] marwachelly commented on #29130
Hello @abramofranchetti

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Thanks for your PR!

Thank you blush

[2022-07-21 15:32] Betafer commented on #29063
Works ?

[2022-07-21 16:00] marwachelly commented on #29121
Hello @atomiix,

As discussed the issue is well an improvement. Thank you for your suggession.

Thanks,

[2022-07-21 16:10] marwachelly commented on #29124
Hello @integritty,

Could you please explain more the step 3 "For CZK set precision to 0 and for EUR set precision to CZK"
Could you please provide a screen record to help as to reproduce the issue?
waiting for your feedback!

Many thanks,

[2022-07-21 16:20] marwachelly commented on #29123
Hello @PrestaEdit,

I think your issue is a feature not a bug it is a new feature. Thank you for your suggession. And thank you for you PR.

Thanks,

[2022-07-21 16:36] marwachelly commented on #29095
Hello @PrestaEdit ,

Thank you for your response. Could you please provide a screen record with the full scenario to help us to understand more the issue and to identify exactly the missing step?

Waiting for your feedback.

Many thanks,

[2022-07-21 18:39] NWNex opened #29133 "Product list sort order in Command different XML API"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The product list sort order for eac

[2022-07-22 04:49] leemyongpakvn opened #29134 "blockreassurance module: non-svg custom icon is hidden in FO after editing in BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

**New** non-svg icon **added** via

[2022-07-22 06:41] lmeyer1 commented on #20874
@khouloudbelguith
I notice that you tagged this issue as `Minor`. IMHO, it could be minor at the scope of the whole Prestashop project, but in the scope of this module this is definitely a `Major` bug, because it makes the whole module unusable on a production site of a decent size.
@MatShir
This problem was also partially solved by @prestaalba on March 30 2021, but since then (one and a half year

[2022-07-22 08:33] lmeyer1 opened #29136 "ps_crossselling: Does not take into account the shop in which the orders were placed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In multishop configuration, the alg

[2022-07-22 09:25] abramofranchetti opened #29137 "Allow change validation for "Reference" field"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-22 09:34] itis-mmi commented on #11548
as said by @HartLarsson, still experiencing the same issue in Prestashop 1.7.6.5

[2022-07-22 09:36] lmeyer1 opened #29138 "Configure order of products in ps_crossselling"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-22 11:04] tom-combet opened #29139 "Add GIF image format"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I can upload GIF images in BO but t

[2022-07-22 12:12] lmeyer1 opened #29140 "ps_crossselling Allow for configuration of number of orders analyzed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-22 12:20] kpodemski commented on #29140
https://github.com/PrestaShop/ps_crossselling/pull/28

Have you seen this one?

[2022-07-22 12:24] lmeyer1 commented on #29140
@kpodemski
I saw it, but did not yet work on it. I have to look at caching this afternoon. I think it is an important lever to improve performance.

[2022-07-22 13:09] MatShir commented on #29129
Thanks nice feature ! :)

[2022-07-22 13:23] lmeyer1 commented on #24338
@kpodemski
I think there are two flaws that combined give this issue:
- The cache key is not well calculated. Currently all product ids are concatenated, not even in a specific order. This can indeed lead to an explosion of the number of cached templates. Given 1000 articles, a max of 3 articles per cart, and the max number of templates is 1000 + 2 * 1000 ^2 + 3 ! * 1000 ^3 = 6002001000 files !
-

[2022-07-22 14:08] sLorenzini commented on #29134
Hello @leemyongpakvn,

I reproduce the issue with:
- PrestaShop version 8.0.0 / 1.7.8.6 / 1.7.7.8
- Blockreassurance version 5.1.1 / develop branch.

https://user-images.githubusercontent.com/2854834/180456753-f26574c7-36c5-49a7-8d92-48b9c14398e8.mp4

However, I can't reproduce it with the 5.0.0 version of the module in 1.7.8.3 version of PrestaShop:

![non-svg-reassurance-after-edition](https://u

[2022-07-22 14:53] sLorenzini commented on #29137
Hello @abramofranchetti,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.

We’re waiting for your PR 🚀

Thank you

[2022-07-22 14:59] leemyongpakvn commented on #29134
@sLorenzini this problem happens after Release 5.1.1 with many commits especially these two:
[AdminBlockListingController.php line 167](https://github.com/PrestaShop/blockreassurance/pull/386/files#diff-eaed6bcd7e7ebf263bbaa48a45491889bf8de557a9241e6fb00264514289e73cL167)
and
[_dev/front/index.js](https://github.com/PrestaShop/blockreassurance/pull/386/files#diff-283a0021afa358f618ceb66b9582913f0a

[2022-07-22 15:21] sLorenzini commented on #29133
Hello @NWNex,

Thank you for your report.

I tried to reproduce your issue on PS 1.7.7.8 & 1.7.6.9.
I don't understand if it concerns the product or orders list so I used Webservice on products and orders and this is the result:

Products
- List page:

![Capture d’écran 2022-07-22 à 17 20 33](https://user-images.githubusercontent.com/2854834/180471194-6726c210-7c17-4b2b-96df-365067d2945d.png)

-

[2022-07-22 15:50] matks commented on #28522
It depends what you call a long time. I think 1.7.8.7 will be delivered somewhere in August or September, so 2 months. It's just a guess though.

[2022-07-22 16:00] damian-bzd opened #29144 "No CSS & JS in AdminDashboard and no Login page after upgrading to 1.7.8.6 from version 1.7.3.3"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

As in the subject, I have upgraded

[2022-07-22 16:09] eternoendless opened #29145 "Cryptical error message when no product image type has been defined"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When no "product" image type has be

[2022-07-22 16:21] khouloudbelguith commented on #29145
Hello @eternoendless,

Reported previously here: https://github.com/PrestaShop/PrestaShop/issues/17725 also

Thanks!

[2022-07-22 18:54] Teenoo opened #29146 "Position of pages impossible"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It's impossible to change position

[2022-07-22 19:25] musaffar-patel opened #29147 "Error when using symfony routing for modules (back office) in Prestashop 1.7.8.6"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am exploring the possibility of u

[2022-07-22 19:55] PrestaEdit opened #29148 "Deprecate/remove the bo_theme and bo_css properties of Employee"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-23 03:05] letwang commented on #29076
https://blog.presta-modules-addons.com/prestashop/tutorial-consultation/prestashop-smtp-sending-failed-improve-the-smtp-configuration-success-rate-display-the-reason-for-the-failure-to-send-emails/

I deliberately spent a lot of time writing out the solution with pictures and texts, and I hope it will be useful to you.

[2022-07-23 03:59] stifler97 commented on #29082
@TecnoHands
As far as I know, in prestashop checkout there are two main steps.
- shipping
- payment
These steps are pretty good designed to be modular. And they use current active address to show the best AVAILABLE options both for delivery and payment. So when you add an item to the cart, it checks your current active delivery address to find best suited delivery option based on the sorting you h

[2022-07-23 04:01] #28960 closed, assigned to nobody

[2022-07-23 07:35] thomasDelaporte commented on #29006
Hi, I wanted to experiment a bit with this problem and I’m not confident enough with the project code to do PR yet but if I can give my opinion:

The problem comes from the `Assert\NotBlank` constraint on the `product_price` field of the Suppliers list which is defined in `ProductSupplierCombination::buildForm`.

Since the form to validate the data is created from the initial data, it tries to rel

[2022-07-23 21:53] alisamie97 opened #29149 "New hook in address `AddressFormatCore` class"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-24 00:14] PululuK commented on #29149
Hi @stifler97
Look good for me :)
I suggest to add address Object in hook params, what do you thing ?

[2022-07-24 06:26] stifler97 commented on #29149
Actually you are right, for the reason that developer wants to avoid some fields, and these fileds are address specific. So it is better to provide all the fileds and the address to developer and let him avoid a filed  based on address too.

[2022-07-24 06:39] stifler97 commented on #29149
@PululuK Thanks for your suggestion.

If a developer wants to work on this and modify addresses, they need to have address fileds and address formatted values in order to dynamically modify them in runtime.
[code]

[2022-07-24 08:27] NWNex commented on #29133
Hi ,

Thank you for your reply,

Here is the issue (product list in order) see below but the order is inverted in XML from API

But i guess, for every listing, the XML should display the same order than the one displayed in Backoffice by default. That will be useful

Thank you very much for your assistance 🙏 🙏

Regards,

Julien

De : Sarah Cavrot ***@***.***>
Envoyé : vendredi 22 juillet 2022 17:2

[2022-07-24 10:08] tom-combet commented on #18565
Same, we still need this.

[2022-07-24 20:05] matks commented on #28522
## Scope and version update

Following [the discovery of a major security vulnerability](https://build.prestashop.com/news/major-security-vulnerability-on-prestashop-websites/), the version 1.7.8.7 will be a security patch release targeting the attack.

[2022-07-24 20:24] GregaMohorko commented on #21695
I also have this problem. Cannot upload a logo for the 2nd shop.

Steps to reproduce:

1. Have only one shop
2. Enable multistore
3. Create 2nd shop in different group
4. Try to upload Header logo

![image](https://user-images.githubusercontent.com/26408492/180664494-cd183883-4461-4019-8776-84fa9dfe9a8f.png)

[2022-07-24 20:49] matks commented on #18565
I see plenty of people interested in this feature 😄 then I will go ahead and suggest:

 If you find that this topic is important for you then you can invest into having it done. Try doing it on your own and share that work with everyone by submitting a Pull Request -- that's what the open source spirit is all about 😉 . Don't wait for someone else to do it for you 😃 .

[2022-07-25 00:57] letwang commented on #28522
Good Job~

[2022-07-25 06:23] Hlavtox commented on #29144
Try to:
- Download latest zip - https://github.com/PrestaShop/PrestaShop/releases/download/1.7.8.6/prestashop_1.7.8.6.zip
- Extract the zip, open `admin` folder, copy `themes` folder and put it into your `admin123xxxxxx` folder of your shop.
- Delete everything from `var/cache` folder on your shop.

[2022-07-25 08:42] AureRita commented on #29149
Hi @stifler97
Thank you for your suggestion. The Developer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.
Thanks for your PR :rocket:

Thank you

[2022-07-25 09:09] florine2623 opened #29151 "BO > Stock > Movements - "Filter by period" should have a Start date previous to an End date"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-25 09:21] AureRita commented on #29148
Hi @PrestaEdit
Thank you for your suggestion. The Developer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.

Thank you

[2022-07-25 09:28] florine2623 opened #29152 "BO - Read-only employee can edit an Order Status"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Employee with only View permission

[2022-07-25 09:43] AureRita commented on #29140
Hi @lmeyer1
Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.
Thanks @kpodemski for the quick proposition !

Thank you

[2022-07-25 12:00] zuk3975 commented on #28157
Reopening the issue for following PR
https://github.com/PrestaShop/PrestaShop/pull/29135

[2022-07-25 12:06] #28935 closed, assigned to nobody

[2022-07-25 12:08] fabienvallon commented on #29093
LGTM

[2022-07-25 12:10] florine2623 opened #29154 "Customer account - if I choose birth year anterior to 1902 it won't save in merchant's BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

As a customer, when I create my acc

[2022-07-25 12:23] matks commented on #29154
BO behavior is OK but we probably need to also fix FO behavior and prevent people from choosing a birthday year anterior to 1902

[2022-07-25 12:25] AureRita commented on #29138
Hi @lmeyer1
Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.

Thank you

[2022-07-25 12:25] MatShir opened #29155 "New release of the blockwishlist to fix regressions"
- https://github.com/PrestaShop/PrestaShop/issues/28832
- https://github.com/PrestaShop/PrestaShop/issues/28844
- update the file https://github.com/PrestaShop/PrestaShop/blob/develop/composer.lock in order to use blockwishlist 2.1.2

Creates regression on the V8 made, fix in the dev branch of the module.
To fix them before the final release of the V8, we need to release a new version of blockwish

[2022-07-25 12:26] #28832 closed, assigned to atomiix

[2022-07-25 12:26] #28844 closed, assigned to atomiix

[2022-07-25 12:37] MatShir commented on #29005
@kpodemski Are you sure? on a 1.7.8.7 shop, I don't have the issue 🤔

[2022-07-25 12:45] zuk3975 commented on #29050
It probably still requires some styling changes, because if the number is bigger, the refundable quantity div jumps down anyway.
![Screenshot from 2022-07-25 15-44-54](https://user-images.githubusercontent.com/31609858/180780353-e680862c-eb93-4921-b40d-d096fb71cfea.png)
![Screenshot from 2022-07-25 15-42-24](https://user-images.githubusercontent.com/31609858/180780199-3d1fa555-2c0b-4d04-9a1e-c1465

[2022-07-25 12:57] #28986 closed, assigned to nobody

[2022-07-25 12:58] #28367 closed, assigned to atomiix

[2022-07-25 13:14] yanmakouf commented on #28304
Hi @khouloudbelguith @HanaRebaiQA ! Just a 2 quick questions about the expected beahvior.

1) If user clicks "Upload a module" button, a dropzone modal appears. As soon as you select a file is instantly loading (uploading).
My question is : do we want the confirmation text and buttons to appear before selecting a file or right between selection and the start of the upload ?

2) if user finds the m

[2022-07-25 13:33] MatShir commented on #29121
@hibatallahAouadni Have you reproduced the issue on 1.7.8.7 to flag as a regression?

[2022-07-25 13:34] #28894 closed, assigned to nobody

[2022-07-25 13:38] lucasvavon opened #29156 "Twig override does not work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Following the documentation to over

[2022-07-25 13:40] #29144 closed, assigned to nobody

[2022-07-25 13:47] AureRita commented on #29146
Hi @Teenoo ,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can

[2022-07-25 13:47] #29146 closed, assigned to nobody

[2022-07-25 14:14] AureRita commented on #29156
Hi @lucasvavon ,

Thank you for your reporting, unfortunately, I think this one is maybe not an issue but a misunderstanding about the process. If this one is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you.

Thanks

[2022-07-25 14:14] #29156 closed, assigned to nobody

[2022-07-25 14:37] eternoendless opened #29157 "Prevent SQL injections by locking PDO to single statements"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-25 14:38] eternoendless commented on #29157
ping @atomiix

[2022-07-25 14:52] szavadskiy opened #29159 "Multistore. Product page in BO, can't select subcategory for product if was selected "Color" for shop in Multistore settings"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In multistore I can't select subcat

[2022-07-25 14:53] AureRita commented on #29147
Hi @musaffar-patel

Thank you for the reporting Issue.
I reproduced it on 1.7.8.6 and not on 1.7.7.8 as you can see on this video :

https://user-images.githubusercontent.com/100699445/180806827-cdfc53a6-93f2-4a02-85d2-cf9610629ede.mp4

It's a regression ! I will add it to the Patch Backlog to be fixed

Thanks

[2022-07-25 15:00] MatShir opened #29160 "Delete the feature cache smarty MySQL"
**Description of the pb**
We need to remove the feature 'Caching type' - MySQL because it is unsafe and provides lower performance compared to file system cache.

**Solution**
 Delete the feature 'Caching type' -> MySQL in Advanced parameter > Performance.

 **Acceptance test**
 The feature is not displayed anymore in the selector and the code related is removed

[2022-07-25 15:04] okom3pom commented on #29050
@zuk3975 It's the same in 1.7.8.6. But it's possible @NeOMakinG can help me for that and we don't need to not open a new issue

[2022-07-25 15:11] AureRita commented on #29136
Hi @lmeyer1

Thank you for your report, I find that this issue is maybe a dupplicate of this one : #16790. What do you think about it ?

Waiting for your feedback

[2022-07-25 15:17] AureRita commented on #28951
Hi @phanie44  ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thanks

[2022-07-25 15:17] #28951 closed, assigned to nobody

[2022-07-25 15:25] AureRita commented on #29157
Hi @eternoendless

Thank you for your suggestion. The Dev' Team will take it into consideration for future developments.

Thank you

[2022-07-25 15:43] AureRita commented on #29159
Hi @szavadskiy,

Thank for your reporting and nice catch !
I reproduce the issue with PrestaShop version 1.7.8.6, It can't be reproduced on 1.7.7.8 because we can't change the color of our shop. I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the

[2022-07-25 16:11] MatShir commented on #28304
1. Before, so after the 'upgrade anyway' it should open the dropzone modal
2. It would be perfect, but I don't know where you can press 'install' after a search.

[2022-07-25 16:14] szavadskiy opened #29163 "New product. Bad error msg about product name field if try to save short name or blank."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

1. If the field with name is blank,

[2022-07-25 16:36] vavrecan commented on #28522
how does update to (SmartyCacheResourceMysql.php)
            $content = $this->phpEncryption->decrypt($row['content']);
           from
            $content = $row['content'];

            and
			"' . $this->phpEncryption->encrypt($content) . '"
			from
			"' . pSQL($content, true) . '"

will fix this security vulnerability? is latest update a joke?

[2022-07-25 16:39] eternoendless commented on #29017
AFAIK translation packs for v8 aren't being built right now. We'll discuss this tomorrow with @Julievrz and @MatShir

[2022-07-25 16:40] kpodemski commented on #28522
Could you elaborate @vavrecan?

[2022-07-25 16:43] vavrecan commented on #28522
can you explain how just changing way how the data is written in SQL query will affect the exploitation? does it mean there is security issue of how pSQL is escaping queries?

[2022-07-25 16:45] #29093 closed, assigned to nobody

[2022-07-25 16:46] #29145 closed, assigned to nobody

[2022-07-25 16:46] vavrecan commented on #28522
We compared 1.7.8.7 and 1.7.8.6 releases - and only relevant differences for major security vulnerability was just this change in SmartyCacheResourceMysql.php. It does not look right

[2022-07-25 16:48] kpodemski commented on #28522
This fixes an attack where there's no access to files from the core and encryption keys. The data from the cache table is now secured, if you try to inject something there without knowing the encryption key, it will fail.

[2022-07-25 16:55] vavrecan commented on #28522
is it safe to trust output of $this->phpEncryption->encrypt?
If attack allowed to write custom content to smarty_cache, it would still go thought the encryption, or was there another point of how data were stored to ps_smarty_cache table?

[2022-07-25 16:58] vavrecan commented on #28522
i am just having a hard time to understanding the vulnerability - i though smarty_cache table is only accessed from SmartyCacheResourceMysql.php file

[2022-07-25 16:59] okom3pom commented on #28522
The other way is with a SQL injection.
Now if you modify the content with a SQL injection the decryption don't wortk

[2022-07-25 16:59] kpodemski commented on #28522
Most important thing you need to know: It is a valid fix for a vulnerability that the team found :)

[2022-07-25 17:01] vavrecan commented on #28522
aha. So original exploit was injecting SQL at another location and this is just fix so that it can not execute custom code by writing to cache table.

[2022-07-25 17:03] vavrecan commented on #28522
this is minor change anyway, hope all SQL injections are fixed

[2022-07-25 17:05] okom3pom commented on #28522
You can read this : https://build.prestashop.com/news/major-security-vulnerability-on-prestashop-websites/ all information inside

Problems can come from third party modules as well

[2022-07-25 17:05] yanmakouf commented on #28304
![Capture d’écran 2022-07-25 à 19 04 54](https://user-images.githubusercontent.com/55691343/180834688-62cbeb7d-b1c9-4c4e-a387-689939067c5b.png)
There :)

[2022-07-25 17:08] vavrecan commented on #28522
yes, this is clean now, thank you. Having SQL vulnerability is pretty much game over anyway ^^ whats performance drawback by having encryption on cache and each time is accessed?

[2022-07-25 17:24] okom3pom commented on #28522
The mysql cache will be removed in the next major version.

Please read the blog you have all information : https://build.prestashop.com/news/prestashop-1-7-8-7-maintenance-release/ for performance :)

[2022-07-25 21:01] Hlavtox commented on #29160
@ShaiMagal Bro can you provide your experience regarding mysql caching? Is it still needed for some clients? What were the reasons to use it on some installs?

[2022-07-25 21:57] AndreyOgleznev opened #29164 "Can't modify Front Office translations after upgrade to 1.7.8.6."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It's not possible to find and modif

[2022-07-26 00:59] rblaurin commented on #11115
This is a bug, I guess. It is easy to understand the problem in the following code from classes/PaymentModule.php:

[code]

I am sure any developer from the core team (please, ping core team) would agree this code can generate duplicate references, although it would be very difficult to reproduce, because it is like a lottery.

Maybe a solution would be:
1. Create a reference field in "cart" table

[2022-07-26 01:19] letwang commented on #28522
The default concurrency of MySQL is poor, and using MySQL as a cache is a joke in itself~
It is correct to remove the MySQL cache.

[2022-07-26 06:24] lmeyer1 commented on #29136
@AureRita Certainly you didn't post the correct link. #16790 is completely unrelated and about order states.

[2022-07-26 07:19] florine2623 commented on #29163
Hello @szavadskiy ,

I reproduce the issue with PrestaShop version 8.0.x and develop, I'll add this to the backlog so it can be fixed.
It is a regression, as it was well displayed in 1.7.8.x.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider

[2022-07-26 07:54] ShaiMagal commented on #29160
@Hlavtox I already wrote you reasons to chat, so, why you don't paste it here...?

Yes, approximatelly 10% customers are using mysql cache, because with filesystem cache, they had problem most of times on home page, where changes don't appear automatically (like new products, etc) - only clear smarty cache works.

if they have mysql cache now, it is working good. with filesystem no.

There is more

[2022-07-26 08:12] AureRita commented on #28957
Completed in  #27304

[2022-07-26 08:12] #28957 closed, assigned to nobody

[2022-07-26 08:18] szavadskiy opened #29165 "Product page in BO > Combination details page, "Impact on weight" Unit is not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![scrnli_7_26_2022_10-09-06 AM](htt

[2022-07-26 08:28] florine2623 commented on #17104
Hello @yanmakouf ,

I couldn't reproduce the exact same error, I have something a little different on develop branch:
<img width="1025" alt="Screenshot 2022-07-26 at 10 14 53" src="https://user-images.githubusercontent.com/16019289/180958004-63f2e5ca-423a-4c74-9e34-4cee0e511b5a.png">

https://user-images.githubusercontent.com/16019289/180958402-dd0d09e1-dfe9-4bda-b23e-02a5413c463a.mov

[2022-07-26 08:30] #28968 closed, assigned to nobody

[2022-07-26 08:31] AureRita commented on #28993
Fixed by #28598

[2022-07-26 08:31] #28993 closed, assigned to nobody

[2022-07-26 08:36] florine2623 commented on #29165
Hello @szavadskiy ,

I reproduce the issue with PrestaShop version 8.0.x, I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/suppo

[2022-07-26 08:52] florine2623 commented on #28969
Hello @JK-Products ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-07-26 08:52] #28969 closed, assigned to nobody

[2022-07-26 09:21] MeKeyCool commented on #29006
I take this issue.
@thomasDelaporte , do you want we try to work together on it ? ^^ I am sure your analysis may help :)

[2022-07-26 09:24] florine2623 commented on #29133
Hello @NWNex ,

Can you answer directly via GitHub ? Your message has been cropped, I can't see your screenshot ^^

I think this is more an improvement than a bug. I'll wait for your screenshot before pinging the product team.

Thanks!

[2022-07-26 09:30] szavadskiy commented on #29065
Hello @florine2623 that worries me, I haven't any specific config. I just now reinstall an environment and issue reproduced

[2022-07-26 09:51] florine2623 commented on #29164
Hello @AndreyOgleznev ,

Indeed between 1.7.7.8 and 1.7.8.x, the behavior is a little different.
I can't choose my theme in 1.7.8.X, it is displayed: "Core(no theme selected)"

PS 1.7.7.8:
<img width="1006" alt="Screenshot 2022-07-26 at 11 44 10" src="https://user-images.githubusercontent.com/16019289/180977484-ead6fd79-2823-4e99-9680-0d985569f5f4.png">

PS 1.7.8.x:
<img width="1202" alt="Screensh

[2022-07-26 09:54] PrestaEdit commented on #24606
As I see, this could be closed due to the remove of Circuit-breaker : https://github.com/PrestaShop/productcomments/commit/b2568908bcae71087cf00ef1c562011f4b3ff038

[2022-07-26 09:56] PrestaEdit commented on #24607
This could be closed due to the remove of Circuit Breaker : https://github.com/PrestaShop/blockreassurance/pull/219

[2022-07-26 09:56] PrestaEdit commented on #24606
As I see, this could be closed due to the remove of Circuit-breaker : https://github.com/PrestaShop/productcomments/pull/108

[2022-07-26 09:57] PrestaEdit commented on #24608
Symfony is now in 4.4 and the two firsts points are auto-solved by the remove of circuit-breaker.

[2022-07-26 09:59] PrestaEdit opened #29166 "Update symfony to version 5.4"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-26 09:59] AndreyOgleznev commented on #29164
Hello @florine2623 ,
Thank you for the quick answer. Unfortunately in my case it's different. The shop doesn't use in the FO the expression I can see in the BO Translations. If I edit the expression it's not used neither. I've tried to use the Clear Cache button in the Advanced Parameters -> Performance page, but the issue still persists.

[2022-07-26 10:00] PrestaEdit commented on #29166
I link this to this comment, it could be usefull : https://github.com/PrestaShop/PrestaShop/issues/24111#issuecomment-1098951474

[2022-07-26 10:05] florine2623 commented on #29166
Hello @PrestaEdit ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone else

[2022-07-26 10:23] matks commented on #29166
We have in mind to do the upgrade to Symfony 5 for prestashop 9, as indicated
https://github.com/PrestaShop/PrestaShop/issues/20739#issuecomment-961777868

But as we have no roadmap for prestashop 8.1 or 9.0 now I cannot guarantee it's going to happen. It's very likely 😄 .

[2022-07-26 11:42] ismartfridge commented on #28522
The 1.7.8.7 has some serious performance issue, updated from 1.7.8.5 and site loads even 10 seconds. I reverted to 1.7.8.5 and issue is gone.

[2022-07-26 11:44] kpodemski commented on #28522
@ismartfridge are you using MySQL cache for Smarty? You can check that in the Preferences -> Performance tab

[2022-07-26 11:51] ismartfridge opened #29167 "Slow site after updating to 1.7.8.7 (updated from 1.7.8.5) when file system cache option is enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I updated from 1.7.8.5 to 1.7.8.7 a

[2022-07-26 11:54] ismartfridge commented on #28522
I use file system cache type since always.

[2022-07-26 12:01] florine2623 commented on #29065
Hi @szavadskiy ,

I have reproduced your issue on `develop` branch!  I'll add this to the backlog so it can be fixed.
On 8.0.x and 1.7.8.x it is OK.
<img width="1207" alt="Screenshot 2022-07-26 at 13 55 45" src="https://user-images.githubusercontent.com/16019289/181000180-9d6b7de5-24c2-425d-942f-2afab540adc3.png">
<img width="927" alt="Screenshot 2022-07-26 at 13 55 50" src="https://user-images.gi

[2022-07-26 12:11] okom3pom commented on #29167
Hello @ismartfridge

Can you make a video on your test environment.
Normally the update should not change the page load time if you use the file system cache.

[2022-07-26 12:11] kpodemski commented on #29167
This release shouldn't affect your store performance if you don't use MySQL Cache for Smarty.

Could you provide us with the screenshots from the built-in profiler? You can enable the profiler in the `config/defines.inc.php` file my changing `false` to `true` for `_PS_DEBUG_PROFILING_`

[2022-07-26 12:23] matks opened #29168 "Use production environment for Distribution API"
Following the development of the project [Distribution API](https://github.com/PrestaShop/PrestaShop/issues/24645) we need to complete it to be able to release PrestaShop 8.0.0 beta.

And to complete it, we need
- [x] To deploy a production environment (done ✅ )
- [x] To modify [the ps_distributionapi](https://github.com/PrestaShop/ps_distributionapiclient/) module to target the production environ

[2022-07-26 12:28] ismartfridge commented on #29167
and where I can find profiling results thereafter?

[2022-07-26 12:31] matks opened #29169 "Plug new User Documentation for contextual help in 8.0 beta"
Following the development of the project [User Documentation](https://github.com/PrestaShop/PrestaShop/issues/24645) we need to complete it to be able to release PrestaShop 8.0.0 beta.

We need to make PrestaShop 8 fetch help content from help.prestashop-project.org instead of help.prestashop.com.

-> PR https://github.com/PrestaShop/PrestaShop/pull/29230

Output: the contextual help window (that

[2022-07-26 12:36] ismartfridge commented on #29167
There you go:
https://ibb.co/m50Zc6B
https://ibb.co/gjBH5jT

FYI, as soon as I revert back to 1.7.8.5 all is back to normal

[2022-07-26 12:37] AureRita commented on #29136
Hi @lmeyer1 ,

Yes, Indeed, I confused order status with order states, sorry,

So, I reproduce your issue with PrestaShop version 1.7.6.5/1.7.8.6 , I'll add this to the backlog

Thank you for the reporting and the PR

[2022-07-26 12:49] matks commented on #29169
Informative: the new documentation! https://docs.prestashop-project.org/welcome/

[2022-07-26 13:02] matks opened #29171 "Document PrestaShop 8.0.0 on devdocs.prestashop.com"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-26 13:03] matks commented on #29171
I create the issue now so that we don't forget but we need a complete of items to be documented.

[2022-07-26 13:06] kpodemski commented on #29171
@matks

FYI: I'll take on https://github.com/PrestaShop/PrestaShop/pulls?page=7&q=is%3Apr+is%3Amerged+label%3A%22Needs+documentation%22+milestone%3A8.0.0

👍

[2022-07-26 13:18] florine2623 commented on #29164
You should find some more info here : https://build.prestashop.com/prestashop-specs/1.7/back-office/international/translations/translations.html#front-office-translations

Can you do a screen record of your `BO > Translation page > Save` like mine.
You should be able to find your phrase. Even if on the BO, your theme is not selected :)

https://user-images.githubusercontent.com/16019289/181015332-

[2022-07-26 13:44] Nonoland commented on #24122
Hello,
I have the same problem with my version of PrestaShop 1.7.8.1
When I have a free product with a cart rule but this product has a different tax, the tax is still paid by the customer.

Is there no solution found?

[2022-07-26 13:48] khouloudbelguith commented on #29065
Hi @florine2623, @szavadskiy,

I think this issue is duplicated of this issue: https://github.com/PrestaShop/PrestaShop/issues/28338.
What do you think?

Thanks!

[2022-07-26 13:59] florine2623 commented on #29167
Hello @ismartfridge ,

Multiple upgrades have been done, with different version of PS and PHP:
- 1.6.1.24
- 1.7.5.2
- 1.7.6.9
- 1.7.7.8
- 1.7.8.6
In all those versions, QA team hasn't encountered any slow downs.

I have done another upgrade from 1.7.8.5 to 1.7.8.7, with autoupgrade v4.14.2, PHP 7.4. On my end, it looks good.
<img width="1213" alt="Screenshot 2022-07-26 at 15 41 05" src="https://us

[2022-07-26 14:17] ismartfridge commented on #29167
All of them, BO and FO, sometimes they were becoming fast but most of time I need to wait the 10 seconds. Look at my performance results, the first two questions that are on top, one takes ~9+ seconds the other takes 7+. I guess after it executes the page starts loading.

[2022-07-26 14:24] P1AME commented on #14571
Hello all.

I have the same issue. Do you have some news about that ?

Thanks.

[2022-07-26 14:51] zuk3975 opened #29175 "Show price field is not saved in product page v2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Product page V2 Pricing tab -> "sho

[2022-07-26 15:13] Julievrz commented on #28304
Hi, I've updated the wording in the original comment. ☺️

[2022-07-26 15:22] florine2623 commented on #29124
Hello @integritty ,

Thanks for the details !

I'm using PS 1.7.8.2, PHP 7.4. On my shop I have 2 groups with 1 shop in each group.
I have followed your issue, but I can't reproduce the same error as you.
Here's my order from CZ shop, with CZK currency:
<img width="816" alt="Screenshot 2022-07-26 at 16 17 34" src="https://user-images.githubusercontent.com/16019289/181042383-755a5212-8838-464e-8220

[2022-07-26 15:23] AndreyOgleznev commented on #29164
@florine2623 Thank you very much for the documentation link. I think I've found the culprit. It looks like the problem is in the "theme" field of the  preXXX_translation table. BO interface now operates with NULL value. I'm not surprised since there is no theme selected. But FO interface still operates with the "classic" value. So one can neither find nor change the translation through the BO inte

[2022-07-26 15:35] AndreyOgleznev commented on #29164
EDIT: the interaction logic seems to be more complicated. When I reset translation through the BO interface it deletes the translation with the classic theme and keeps the translation with the NULL theme. FO starts to use the translation with the NULL theme left.

[2022-07-26 15:50] florine2623 commented on #29175
Hello @zuk3975 ,

On branch 8.0.x, I can't reproduce your issue.
In Options Tab, I can choose to Show Price or not, it is well saved, even after refreshing the page.

https://user-images.githubusercontent.com/16019289/181051873-46584a13-d213-4213-9a94-6d15914ed062.mov

Am I missing something ?
Thanks!

[2022-07-26 16:04] MatShir opened #29176 "Export Crowdin catalog for the v8.0"
We need to export the catalog for the V8

The doc to export → https://www.notion.so/prestashopcorp/How-to-prepare-PrestaShop-s-translation-catalogue-for-a-new-release-daffea1f188945ea8aeea886e239dfd3#bd8c6f12ada54bc0b4a390ae6c1ac9a3 (the doc is still private until the server used for the Crowdin is not completely independent

Don't forget to add the new native module in the export

[2022-07-26 16:18] HanaRebaiQA opened #29177 "BO - An exception is thrown when create a product (Standard, with combinations) with V1 and edit it with product V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is thrown when create

[2022-07-26 16:18] florine2623 commented on #29164
On my end, I only have NULL as theme:
<img width="920" alt="Screenshot 2022-07-26 at 18 16 31" src="https://user-images.githubusercontent.com/16019289/181057936-628b46fe-efec-4ef2-86c9-d195f276b38f.png">

My translation is well saved:

https://user-images.githubusercontent.com/16019289/181058292-cb78ab57-5626-4fb7-9020-cc1dc4dc5111.mov

Maybe the issue comes from the upgrade itself.
Can you tell m

[2022-07-26 16:21] HanaRebaiQA commented on #29177
Closing this issue as it's a Duplicate of [#29071](https://github.com/PrestaShop/PrestaShop/issues/29071)

[2022-07-26 16:21] HanaRebaiQA commented on #29177
Duplicate of [#29071](https://github.com/PrestaShop/PrestaShop/issues/29071)

[2022-07-26 16:21] #29177 closed, assigned to nobody

[2022-07-26 16:21] MatShir opened #29178 "Make i18n translation possible to update 2 catalog"
**Describe the pb**

At the moment, our services can only use one Crowdin catalog from the latest version of PrestaShop.
Since, we want to maintain the Crowdin label from 1.7.8 AND the new catalog from the new version 8.0.
The catalog export system must be updated to work with 2 catalogs.

**Solution**
Make the system work for 2 catalogs. Be aware, that the system, the PrestaShop version is hard c

[2022-07-26 16:22] AndreyOgleznev commented on #29164
I've got a few NULL theme along with classic theme records in the table.
I upgraded from 1.7.7.5

[2022-07-26 22:10] zuk3975 commented on #29175
Hmm sorry, my bad, I might have confused show_price in options with the unit price in pricing tab. Gonna double check it

[2022-07-27 01:04] letwang commented on #28522
![image](https://user-images.githubusercontent.com/3644168/181137559-1af3d79f-a605-443c-b6ff-e6412c2ead78.png)

![image](https://user-images.githubusercontent.com/3644168/181137729-97d80d9d-1ad7-414f-99d6-42c890df0baa.png)

Search api-addons.prestashop.com and api.addons.prestashop.com all over the site, but we’ve already found it for you, 3 places in total.
1./app/config/config.yml (api-addons.pr

[2022-07-27 07:21] matks commented on #29171
To be documented:
- new password policy
- distribution API
- module manager
- Symfony 4 changes
- product page v2

[2022-07-27 07:21] thomasDelaporte commented on #29006
I let you try and I will check your solution :) good luck.

[2022-07-27 07:27] alexandrebrubeyonds commented on #15526
Hello, in order to fix this issue, I need to rebase on which branch ?

[2022-07-27 08:00] florine2623 commented on #29065
Thanks @khouloudbelguith ,

It is indeed a duplicate ^^
I close this one !

[2022-07-27 08:00] florine2623 commented on #29065
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/28338.

[2022-07-27 08:23] zuk3975 commented on #29175
I was talking about this part
![Screenshot from 2022-07-27 11-21-21](https://user-images.githubusercontent.com/31609858/181198630-4442e1f2-d9d2-4352-b232-573c1bbad9d9.png) ,
 but apparently I got mixed between behaviors. It is working as it should, all good.
Sorry for wasting your time, :bow:

[2022-07-27 08:23] #29175 closed, assigned to nobody

[2022-07-27 09:04] hibatallahAouadni commented on #29121
@MatShir I didn't reproduce it on 1.7.8.6 and that's why I flag it as a regression :slightly_smiling_face:

[2022-07-27 09:15] MatShir opened #29179 "I have already searched in existing issues and found no previous report of this bug."

[2022-07-27 09:28] FabienPapet commented on #29179
@MatShir Looks likes this bug is a mistake :)

[2022-07-27 09:32] wideline opened #29181 "public/preload.tpl does not exist in admin themes "default" or "new-theme""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After a fresh install of the origin

[2022-07-27 09:33] #29179 closed, assigned to nobody

[2022-07-27 09:35] #29065 closed, assigned to nobody

[2022-07-27 09:36] sLorenzini commented on #29164
Hello @AndreyOgleznev ,

I reproduce the issue with an upgrade from 1.7.7.5 to 1.7.8.6.

My translation made before the upgrade is still saved in database and display in FO but in BO it disappeared and we can update it with another translation. Here's my screenrecord and screenshots:

- Before upgrade:

![Capture d’écran 2022-07-27 à 10 56 28](https://user-images.githubusercontent.com/2854834/18

[2022-07-27 09:38] MatShir commented on #29017
When https://github.com/PrestaShop/PrestaShop/issues/29178 is done, we will close this issue

[2022-07-27 09:47] AndreyOgleznev commented on #29164
Hello @sLorenzini,
Thank you very much!

[2022-07-27 10:21] HanaRebaiQA commented on #29165
Hello,

[2022-07-27 10:23] HanaRebaiQA commented on #29165
Hello,

Thanks @szavadskiy for your issue.

It's related to this PR [#29054](https://github.com/PrestaShop/PrestaShop/pull/29054) as a known issue.

Thank You!

[2022-07-27 12:23] sLorenzini commented on #29167
hello @ismartfridge,

I've made the upgrade  from 1.7.8.5 to 1.7.8.7 with autoupgrade v4.14.2, PHP 7.4. It looks good for me too (less than 2s) as @florine2623 said:

![Capture d’écran 2022-07-27 à 12 07 17](https://user-images.githubusercontent.com/2854834/181245526-2aa2ec39-f1af-41f2-853c-dbd46804de7b.png)

Profiling on BO:

![bo-profiling-1](https://user-images.githubusercontent.com/2854834/1

[2022-07-27 12:37] okom3pom commented on #29167
Hello @sLorenzini && @florine2623

It seems that yesterday some sites had connection problems with api.prestashop.com

@ismartfridge can you do a new test

[2022-07-27 12:50] MeKeyCool commented on #29006
It looks that the regression is linked to https://github.com/PrestaShop/PrestaShop/pull/26609

[2022-07-27 13:05] deuub opened #29183 "I have this problem, can u help me ? Module `iqitsearch` is not a WidgetInterface."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-27 13:06] deuub commented on #29183
@iqit-commerce any idea ?
Thank you

[2022-07-27 13:34] okom3pom commented on #29183
Hello,

Please contact the module developer. The problems here are for PrestaShop and native module

Sincerely

[2022-07-27 13:36] sLorenzini commented on #29183
hello @deuub,

As @okom3pom said, this issue is not linked to PrestaShop or its native module.
We are closing this issue.

Thank you

[2022-07-27 13:36] #29183 closed, assigned to nobody

[2022-07-27 13:37] zuk3975 commented on #29181
command `make assets` seems to fix that

[2022-07-27 14:02] FabienPapet commented on #28965
Non-reproductible, checked with @AureRita

[2022-07-27 14:02] sLorenzini commented on #29181
hello @wideline,

I couldn't reproduce your issue with fresh install on:
- Develop branch with PHP 7.3 & 8.1 version
- 8.0.x branch  with PHP 7.3 & 8.1 version

https://user-images.githubusercontent.com/2854834/181259538-ba3a17d2-ebc4-4b5f-bad6-9b93218e7d56.mp4

The file does not exist on those folders but admin has no errors.
Could you please provide us more precise details and a screenrecord to

[2022-07-27 14:10] zuk3975 commented on #29131
So I think it depends on one question - if we accept to remove the ability of having unlimited results in grids. Because that is exactly what we would achieve according to your suggestion.

[2022-07-27 14:10] obelisk-services opened #29185 "Customization value lost after combination change, leading to customization mess"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If our store has a product with cus

[2022-07-27 14:18] zuk3975 commented on #27316
can this be retested and updated so we know which ones are still left @khouloudbelguith ?

[2022-07-27 14:18] zuk3975 commented on #27316
can this be retested and updated so we know which ones are still left @khouloudbelguith ?

[2022-07-27 14:31] sLorenzini commented on #26741
hello @VidarPc,

Sorry for the delay and thank you for your patience
Unfortunately, I couldn't reproduce your issue.

Tested with:
- PS 1.7.8.0 with multistore activated
- 1-click upgrade module, version 4.13.0 & 4.14.2

With 4.13.0 version:

https://user-images.githubusercontent.com/2854834/181272691-0ef01220-4c54-4d0f-8a10-976f3b3c8fd0.mp4

With 4.14.2 version:

https://user-images.githubusercon

[2022-07-27 14:38] #28965 closed, assigned to nobody

[2022-07-27 15:18] leemyongpakvn commented on #26921
@florine2623 Indeed it is not a bug, you just need set Group access in Back-Office > Catalog > Categories > the desired category.
![BackOffice_Catalog_Categories_GroupAccess](https://user-images.githubusercontent.com/3759923/181284449-2159532b-7541-4bfb-840f-4ef8440cdda9.png)

[2022-07-27 15:18] sLorenzini commented on #29185
Hello @obelisk-services,

I reproduce the issue with PrestaShop version 8.0.0 with develop branch.

![develop-custom-product-combinations](https://user-images.githubusercontent.com/2854834/181284805-736e9021-4672-49f6-89ee-c7bdfe36f9c7.png)

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the pro

[2022-07-27 16:18] sLorenzini commented on #29088
Hello @RicRey1988,

I couldn't reproduce your issue with an upgrade from:

- 1.7.8.5 to 1.7.8.6, version 4.14.2 of upgrade module with your parameters
- 1.7.8.5 to 1.7.8.7, version 4.14.2 of upgrade module with your parameters

1.7.8.6

![Capture d’écran 2022-07-27 à 17 44 57](https://user-images.githubusercontent.com/2854834/181295968-486aac4a-b216-48aa-a84d-d78c730d630d.png)

1.7.8.7

![Captur

[2022-07-27 16:23] hibatallahAouadni commented on #29178
@MatShir wdyt of this issue severity? is it `Major` or `Minor`?

[2022-07-27 16:35] obelisk-services commented on #29185
Hi,

I have tried on a fresh Prestashop installation (1.7.8.7) on a new docker container and I was able to reproduce de issue. Even more, the line that causes the issue is in the version code (https://github.com/PrestaShop/PrestaShop/blob/1.7.8.7/themes/_core/js/product.js#L231). Maybe you miss one step? Can you please try again?

![image](https://user-images.githubusercontent.com/50045374/1813010

[2022-07-27 16:47] hibatallahAouadni commented on #29164
Ping @sLorenzini & @florine2623 is it a regression or an old bug?

[2022-07-27 17:09] fire2 commented on #26741
Did you really try with PHP FPM setup?

[2022-07-27 22:20] wideline commented on #29181
Thank you for responding. It was my error: the asset compilation failed and I skipped over it. Running ./tools/assets/build.sh fixed the issue. The error I was receiving prior to the fix is attached
![Screenshot 2022-07-28 073143](https://user-images.githubusercontent.com/1982357/181382396-0eb0e60d-4d26-4520-a0ef-4fd04dbf7c55.png)
.

[2022-07-28 04:05] leemyongpakvn commented on #27674
I think the current behavior is good enough. Who know what you intend for the new group? Imagine you have a shop with some dangerous tools, and you need a new group for Foe or Children.

[2022-07-28 08:10] sLorenzini commented on #29164
Hello,

@hibatallahAouadni, after a new test with an upgrade from 1.7.6.9 to 1.7.7.8, there is no bug and the translation is ok and can be updated.
It's a regression.

Thank you

[2022-07-28 08:23] leemyongpakvn opened #29189 "hookDisplayProductButtons is deprecated - ps_sharebutton in PS 8.0.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In PS 8.0.0, the product page with

[2022-07-28 08:28] HanaRebaiQA commented on #29181
Hello @wideline

Glad to hear that.
So, Closing this issue as it's not a Core bug.

Otherwise, if you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [publi

[2022-07-28 08:28] #29181 closed, assigned to nobody

[2022-07-28 08:51] hibatallahAouadni commented on #29050
Hello guys,

Thanks @zuk3975 for your tip, indeed the bug exist since 1786 but only with bigger numbers (like you said):

PS 1.7.8.6:

![image](https://user-images.githubusercontent.com/23308427/181462998-48b067c7-a724-45cf-a6d1-971f49469307.png)

While with PS 8.0.0, nothing works :disappointed:

![image](https://user-images.githubusercontent.com/23308427/181463107-4d533e41-8eca-432a-a948-be5b638

[2022-07-28 09:11] HanaRebaiQA commented on #29189
Hello @leemyongpakvn

Thanks for your report.
I tried to reproduce your issue on **8.0.x branch** fresh install using **php7.2** and **php7.3** and **ps_sharebuttons 2.1.1 module** is configured. But, i was unable to reproduce it.

https://user-images.githubusercontent.com/92912932/181467919-199b772b-0a54-46cb-b689-9ce36661982e.mp4

Could you please check again ? Waiting for your feedback

Thank Y

[2022-07-28 09:21] erwanregnier opened #29191 "Catalog price rule condition by Category"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,
I would like to flag an issue w

[2022-07-28 09:48] stifler97 commented on #29154
I wonder if how many people are going to use this 120+ age feature

[2022-07-28 09:50] stifler97 commented on #29154
Maybe they use prestashop core for some specific type of business that targets really old people.

[2022-07-28 09:54] MatShir opened #29192 "I want to upgrade my theme easily"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-28 09:56] leemyongpakvn commented on #29189
This issue is similar to [issue 27986](PrestaShop/PrestaShop/issues/27986).
Please check if ps_sharebutton is hooked to displayProductButtons or not
![ps_sharebuttons_positions](https://user-images.githubusercontent.com/3759923/181477816-e180e164-d05d-4f36-81a8-894be1d14cd2.png)

[2022-07-28 09:58] HanaRebaiQA commented on #29191
Hello @erwanregnier

Thanks for your report.
Is one of these tickets are similar to yours [#14516](https://github.com/PrestaShop/PrestaShop/issues/14516), [#9977](https://github.com/PrestaShop/PrestaShop/issues/9977), [#9867](https://github.com/PrestaShop/PrestaShop/issues/9867)  and [#25698](https://github.com/PrestaShop/PrestaShop/issues/25698) ?

[2022-07-28 10:03] erwanregnier commented on #29191
Hi @HanaRebaiQA ,

no these are different issues

thanks !

[2022-07-28 10:15] HanaRebaiQA commented on #29192
Hello @MatShir

Thanks for your suggestion.
Is this ticket similar to yours [#10056](https://github.com/PrestaShop/PrestaShop/issues/10056) ?

Thank you!

[2022-07-28 11:01] HanaRebaiQA commented on #29191
Hello @erwanregnier

Thanks for your feedback.
I was unable to reproduce your issue on **PS1787**.

Please check my screen-record :

https://user-images.githubusercontent.com/92912932/181488760-d51e31e9-9f3e-4bc1-ba35-fdbab4ec07bd.mp4

Thank You!

[2022-07-28 11:08] HanaRebaiQA commented on #29189
Hello @leemyongpakvn

Exactly! It's similar to `ps_emailalerts `issue.
By default and after a fresh install of 8.0.0, the `ps_sharebutton` module is associated to `displayProductAdditionalInfo` hook

![image](https://user-images.githubusercontent.com/92912932/181487383-0d582bdd-fd3c-4962-ab1f-5052c0292c54.png)

Thank You!

[2022-07-28 11:49] leemyongpakvn commented on #29189
Due to current code of [ps_sharebutton 2.1.1 line 72](https://github.com/PrestaShop/ps_sharebuttons/blob/dev/ps_sharebuttons.php#L72), it will be hooked to **displayProductButtons** by default. So I guess you applied a fix patch or transplanted module.
I tried to uninstall the module, delete the module folder and reinstall from [current version on github](https://github.com/PrestaShop/ps_sharebutt

[2022-07-28 12:08] NeOMakinG commented on #28723
I guess it can be closed by https://github.com/PrestaShop/PrestaShop/pull/28949

If you find any other mail that we forgot, don't hesitate to open the issue again!

[2022-07-28 12:08] #28723 closed, assigned to nobody

[2022-07-28 13:15] Prestaworks commented on #29095
Should not the shop->template that the order was placed in be used for the invoice regardless of what the admin context shop is set to?

[2022-07-28 13:18] NeOMakinG commented on #29006
Related to `ps_mbo`, I'll keep the issue opened until we get a response from the MBO team on what we should do in order to fix this!

For reference: https://github.com/PrestaShopCorp/ps_mbo/issues/217

[2022-07-28 13:19] NeOMakinG commented on #28047
Related to `ps_mbo`, I'll keep the issue opened until we get a response from the MBO team on what we should do in order to fix this!

For reference: https://github.com/PrestaShopCorp/ps_mbo/issues/217

[2022-07-28 13:37] NeOMakinG commented on #29155
https://github.com/PrestaShop/blockwishlist/pull/184

[2022-07-28 13:39] balejk commented on #28157
@hibatallahAouadni To reproduce this issue, set the maximum image upload file size to 15 MB in the back office settings. Then issue the following command
[code]
where `key` is a webservice key with POST privileges for the `images` resource, `website` is a domain of a PrestaShop instance and `id` is an ID of an existing product to which the image should be uploaded. The server response is
[code]

[2022-07-28 13:40] didpoule opened #29193 "Provide a simply product presenter for modules developers"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-28 14:15] erwanregnier commented on #29191
My bad, it was a problem with my installations (I tested on 2 versions but it still wasn't working, it works on a fresh install..)

[2022-07-28 14:15] #29191 closed, assigned to nobody

[2022-07-28 14:18] didpoule commented on #29193
Here a sample module to test the feature
[samplemodule.zip](https://github.com/PrestaShop/PrestaShop/files/9210484/samplemodule.zip)

[2022-07-28 14:56] #28387 closed, assigned to eternoendless

[2022-07-28 15:24] HanaRebaiQA commented on #29193
Hello @didpoule ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone els

[2022-07-28 16:04] MeKeyCool commented on #29163
It seems the second part of this issue is related to https://github.com/PrestaShop/PrestaShop/issues/28877

We found a way to fix the constraint message consistency.
@szavadskiy , do you think it would be ok if we always (I mean blank or small string) "This value is too short. It should have 3 characters or more." ?

[2022-07-28 16:12] PululuK commented on #29193
Hi @HanaRebaiQA
I thing it is a dev feature, so I update the labels.

ping @PrestaShop/prestashop-maintainers

Good ideia @didpoule, thanks !

[2022-07-28 16:30] HanaRebaiQA commented on #29193
Thank You @PululuK

[2022-07-28 16:48] HanaRebaiQA commented on #29189
Hello @leemyongpakvn

Like mentioned in the steps to reproduce, when i used a fresh install 8.0.0 version with native modules and demo data. I couldn't reproduce the issue.

Did you used a fresh install ?

Thank You!

[2022-07-28 19:19] TecnoHands commented on #29076
Hi, I don't see your config, In my case with First option "using SendMail" prestashop works fine, the problem I have when Config with SMTP, Prestashop only works with 1 mail account, the configurated in SMTP Per example, if I config the account noreply@myserv.com in SMTP and IMAP with client@myserv.com Mails sync fine in IMAP, but mail client@myserv.com can't derivate message to support@myserv (an

[2022-07-28 19:24] TecnoHands commented on #29082
Very thanks for the explanation

[2022-07-28 21:24] TecnoHands commented on #21484
I review this, and I think the problem is really in this Variable "display_prices_tax_incl" => true I try to see if change with options (Country don't show taxes, don't change. In taxes configuration don't change and in the product configuration if you set without taxes don't change). Anyone know if this var changes in another section of prestashop?

The changes in a particular country change fine

[2022-07-29 00:23] leemyongpakvn commented on #29189
@HanaRebaiQA I used a 2-day-old fresh install of PS 8.0.0, with neither additional theme nor additional module. If no one can reproduce this issue, I will create another issue more technical : just open [ps_sharebutton 2.1.1 line 72](https://github.com/PrestaShop/ps_sharebuttons/blob/dev/ps_sharebuttons.php#L72) and see the deprecated hook there.

[2022-07-29 01:58] moi12fre commented on #15275
Hi! What do you mean with i was a host problem? @sotirisa I'm having the same issue

[2022-07-29 07:10] mark-app opened #29197 "Sorting in linklist not working"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the default pages section it's p

[2022-07-29 07:16] mark-app commented on #29197
I have created a fix for that.

In the file ps_linklist/src/Presenter/LinkBlockPresenter.php add between line 142 and 143

`'position' => $cms->position,`

Replace line 147:

`return $cmsLinks;`

For :

`return $this->array_sort($cmsLinks, 'position', SORT_ASC);`

Add after the function makeCmsLinks on line 150 this function:

`function array_sort($array, $on, $order=SORT_ASC)
    {
        $new_a

[2022-07-29 07:20] okom3pom commented on #29189
Hello @HanaRebaiQA

**How to test :**

1) Uninstall the module et remove the foler.
2) Go to https://github.com/PrestaShop/ps_sharebuttons/releases/tag/v2.1.1
3) Donwload the last version
4) Install it
5) Check depreceted message in FO

[2022-07-29 07:23] okom3pom commented on #29189
It's like issues [#27000](https://github.com/PrestaShop/PrestaShop/issues/27200) to https://github.com/PrestaShop/PrestaShop/issues/27213

[2022-07-29 08:28] szavadskiy commented on #29163
Hello @MeKeyCool, yes I think it would be good, thank you.

[2022-07-29 08:49] khouloudbelguith commented on #29163
Hello @szavadskiy,

Your ticket is a duplicate of #28877
@MeKeyCool, @yanmakouf fixes this issue with this PR: https://github.com/PrestaShop/PrestaShop/pull/29040
So, I close it.
Thanks!

[2022-07-29 09:01] Hlavtox opened #29198 "Remove all hardcoded widgets from theme"
### Is your feature request related to a problem?

https://github.com/PrestaShop/hummingbird/blob/develop/templates/contact.tpl#L24

In hummingbird and classic theme, there is
`{widget name="contactform"}`
`{widget name="ps_contactinfo" hook='displayLeftColumn'}`
`{widget name="ps_contactinfo" hook='displayRightColumn'}`
on contact page.

When I want to use a different contact form module (with a

[2022-07-29 09:43] hibatallahAouadni commented on #29198
Hello @Hlavtox

Thank you for your suggestion.
The Maintainer Team will take it into consideration for future developments.

Thank you

[2022-07-29 09:54] thomasDelaporte opened #29200 "BO - Bad display of Multistore when dropdown is open"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you have a custom store and yo

[2022-07-29 10:07] thomasDelaporte commented on #28934
The problem comes from the text underneath "Apply changes to all stores" which takes a definite
space of minimum 200px.

However, if we remove this specificity we end up with quite high lines.
![image](https://user-images.githubusercontent.com/55890466/181736735-4e5ba2c6-1153-4660-ab8d-17a02349e04d.png)

I also tested something like this:
![image](https://user-images.githubusercontent.com/55890466

[2022-07-29 10:12] MeKeyCool commented on #29163
@khouloudbelguith and @szavadskiy after a discussion with @yanmakouf  and @MatShir , it looks that the problem is exactly the same than #28877 and @szavadskiy you were right about expected behavior.

I am currently investigating to understand the regression root cause ^^

[2022-07-29 10:38] josecarlosphp commented on #28757
I've seen this occurs, two invoices (different orders) having same number. Both invoices are generated at the same moment (same date_add), so I guess the query to obtain the current max number returned same value... Yeah, it's a great coincidence, but in a shop with a lot of orders maybe it occurs.

I take this opportunity to comment that the billing management in PrestaShop is painful, it drags t

[2022-07-29 10:44] khouloudbelguith commented on #29163
@MeKeyCool, thanks for your feedback.

@szavadskiy, your ticket is a duplicate of #28877
So, I close it.
Thanks!

[2022-07-29 10:44] #29163 closed, assigned to MeKeyCool

[2022-07-29 10:45] khouloudbelguith commented on #29163
Duplicate of #28877

[2022-07-29 11:23] musaffar-patel opened #29201 "Devtools error in Back Office"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The following error is being report

[2022-07-29 13:43] leemyongpakvn commented on #20880
@hibatallahAouadni **micka-fdz** thought and **matick4** confirmed this issue has been fixed by #28290

[2022-07-29 14:53] zuk3975 commented on #27186
ps_searchbar module probably needs same adjustments (as discussed in slack)

[2022-07-29 15:25] sasa-yovanovicc opened #29203 "Updated links on PS_Linklist not visible if cache is enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If the cache is enabled (Memcache/A

[2022-07-29 15:53] hibatallahAouadni commented on #29197
Hello @mark-app

Thanks for reporting the issue and the proposed solution :rocket:
Could you please create a Pull Request with your proposed solution :pray:

Btw, I didn't manage to reproduce the issue, could you please check my screen record:

https://user-images.githubusercontent.com/23308427/181797323-4df6145c-49c4-4cd2-bebd-2a26ed325fd3.mp4

It seems like I'm missing something :sweat:
Please c

[2022-07-29 15:57] khouloudbelguith opened #29204 "BO - Product V2 - New product created with quick access is not displayed in the list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After enabling the "New product pag

[2022-07-29 16:03] matks commented on #29193
Hello @didpoule well ... I am sorry but I am not 100% convinced by the idea 😅

You say
[code]
that this is too much.

So if I read PR https://github.com/PrestaShop/PrestaShop/pull/29194/ you just put all of this code inside a class and use it 😅 . Is it really efficient? Instead of writing 30 lines in your module, you write 30 lines in PR https://github.com/PrestaShop/PrestaShop/pull/29194/ and you

[2022-07-29 16:05] MatShir commented on #29169
Only the first step is mandatory for the beta release :)

[2022-07-29 16:13] didpoule commented on #29193
Hi @matks, thanks for your feedback.
In a web agency context, if you need to present products in several places, you have to repeat the whole verbose code I shared. The purpose is just wrapping that code into a singleton class to be able to present products in a single code line instead of copy/paste the initialization.
Furthermore, I added some static cache to prevent multiple presenting for a sa

[2022-07-29 16:13] PululuK commented on #29193
Hi @matks consider the case where you have several modules.

[2022-07-29 16:18] hibatallahAouadni commented on #29200
Hello @thomasDelaporte

I was able to reproduce the issue with PrestaShop version 1.7.8.6 and 8.0.0. I didn't repoduce with 1.7.7.7, means it's a regression on 178x!
I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it

[2022-07-29 16:28] #29006 closed, assigned to MeKeyCool

[2022-07-29 16:42] MarceldeR opened #29205 "Table product_carrier not cleaned"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After deleting products the table p

[2022-07-29 16:43] hibatallahAouadni commented on #29201
Hello @musaffar-patel

I was able to reproduce the issue with PrestaShop version 1.7.7.7, 1.7.8.6 and 8.0.0.
I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly sugge

[2022-07-29 16:48] MeKeyCool commented on #28877
I can't test those commits so I don't know which one introduced the bug but I am quite sure the problem comes from one of them :
- [Update dependencies to make it work with Symfony 4.4](https://github.com/PrestaShop/PrestaShop/commit/7eb3edd57db41c99ef53c3195067a49ec357fa97)
- [Rename ObjectModel Attribute to ProductAttribute](https://github.com/PrestaShop/PrestaShop/commit/f0bbc632cd048dbc3efdbdf

[2022-07-29 16:49] hibatallahAouadni commented on #29203
Hello @bastijan

I didn't manage to reproduce the issue with PS1786 :disappointed:
Could you please provide a screen record :pray:
Waiting for your feedback!

Thanks!

[2022-07-29 16:54] hibatallahAouadni commented on #29076
Hello @TecnoHands

Thanks for your feedback.
Could you please provide a screen record to understand better the issue.
Waiting for your feedback.

Thanks!

[2022-07-29 17:02] hibatallahAouadni commented on #29189
Hello @leemyongpakvn & @okom3pom

I didn't manage to reproduce the issue with PS8.0.0 and ps_sharebuttons v2.1.1, see the attached screenshots:

![image](https://user-images.githubusercontent.com/23308427/181808663-f62689da-9648-4d87-8ef5-d1e075f3f897.png)

![image](https://user-images.githubusercontent.com/23308427/181808842-0a34c254-74b4-41e8-ac74-40c5cd014723.png)

Please check and feedback.

P

[2022-07-29 17:04] AfricanJoker commented on #20055
Hello @matks

First of all, **thank you** for your excellent work on prestashop !

Sorry to dig up this dated post, but i have a pretty simple question regarding this **CVE-2020-4074** security flaw that has a **CVSS Score** of **10/10**.

I followed your answer on the following post (which we should not be underestimated, but you say that this one is not critical)

**So my question is ;**
- **Is

[2022-07-29 17:05] MarceldeR opened #29206 "Hook DisplayAdminProductsExtra weird behavior when product description does not contain p tag"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Created a module which uses Display

[2022-07-29 18:51] #19381 closed, assigned to MeKeyCool

[2022-07-29 19:14] kpodemski commented on #29193
It reminds me a bit of a laravel-way of thinking where we want to help developers produce more, quicker, with less code. The truth is that using this code is very common, and most of the time, there's no need to modify the context for `ProductAssembler`, etc. Actually, I don't remember the last time I had to change this part of the code 🤔

[2022-07-30 00:29] leemyongpakvn commented on #29189
@hibatallahAouadni Did you try to **delete** the whole ps_sharbuttons module folder and install from the github 2.1.1 version follow @okom3pom 5 steps to reproduce?
FYI, Uninstall then install, or Reset in Back-office still keep the module folder and inner files.

[2022-07-30 05:53] leemyongpakvn commented on #28677
@NeOMakinG This issue is related to PrestaShop/PrestaShop/pull/13081

[2022-07-30 08:05] okom3pom commented on #29189
https://user-images.githubusercontent.com/5064590/181887733-fe57a9d4-560f-4b6d-9fa2-e5a0ecc0b81d.mp4

[2022-07-30 23:14] Flying--Dutchman opened #29207 "Product features name - differ between display and internal name"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-07-31 11:37] PrestaEdit commented on #29123
Hi @marwachelly,

It's more a bug than a feature, as it was working great before 1.7.8.x, and now it's not as needed.

[2022-07-31 13:38] ocio87 opened #29208 "Order page in BO, Incorrectly enter the value entered in the payment field in peso currency."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An incorrect calculation is evidenc

[2022-08-01 08:07] #22488 closed, assigned to nobody

[2022-08-01 08:08] NeOMakinG commented on #28677
Fixed

[2022-08-01 08:08] #28677 closed, assigned to NeOMakinG

[2022-08-01 09:39] #28709 closed, assigned to nobody

[2022-08-01 09:42] matks commented on #28709
Fixed in https://github.com/PrestaShop/classic-theme/pull/30

[2022-08-01 09:58] MeKeyCool commented on #25579
@khouloudbelguith , I tested under `8.0.x`, `1.7.8.7`, `1.7.8.0` fresh installs and everything looked all-right.

If you have some time to help me to reproduce it would be great ^^'

[2022-08-01 10:16] khouloudbelguith commented on #25579
Hello @MeKeyCool, I manage to reproduce the same issue with PS1.7.8.7.
I attached a screen record

https://user-images.githubusercontent.com/16067358/182127130-dcd62178-280f-4e1a-b95e-ff23e3c684ad.mp4

yes :slightly_smiling_face:

Thanks!

[2022-08-01 10:22] hibatallahAouadni commented on #29207
Hello @Flying--Dutchman

Could you please explain more what's your sugguestion?
Waiting for your feedback.

Thanks!

[2022-08-01 11:12] fhemery commented on #18048
Hello,
In case it could help anyone reaching this thread because he encounters the error, I faced the issue and solved it through a workaround.

The module explores your full website to check what kind of backup he'll have to do as soon as it starts. As a consequence, if you have many products, thus many images (i have more than 500k on my site), it hangs forever.

Solution : move the `img/p` fold

[2022-08-01 11:44] ldetant opened #29209 "The module autoupgrade-dev you uploaded is not a module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![screenshot-module](https://user-i

[2022-08-01 11:58] okom3pom commented on #29209
Hello @ldetant

Please follow this steps

![Screenshot (98)](https://user-images.githubusercontent.com/5064590/182142714-a2b0f6af-2db6-43f8-a98e-eca1210c9fd6.png)
![Screenshot (99)](https://user-images.githubusercontent.com/5064590/182142742-9b0fbab8-9403-4cd4-ad2a-a3e7644df37d.png)

Your update is not easy since a 1.5 you should contact a professional
I close your issue.

Regards.

[2022-08-01 12:00] MeKeyCool commented on #25579
Thanks for the crystal clear video ! In fact I didn't set the time condition neither the tax included type.
That looks a great hint to find the problem ^^

[2022-08-01 12:34] FabienPapet commented on #27029
1.7.8.7 is out since last week, I think this issue can be closed as the bug is fixed and a release is available.

[2022-08-01 12:44] matks commented on #13456
Hi @Arman-Hosseini that is wonderful! However you're trying to address a big topic.

May I suggest you get in touch with people @zuk3975 @margud and @JevgenijVisockij who've been migrating plenty back-office pages to Symfony and might give you the tips 😉

[2022-08-01 12:53] zuk3975 commented on #13456
You will find us in prestashop slack channels, don't hesitate to ask for help if any needed :v:

[2022-08-01 12:58] matks commented on #20055
Thank you for reporting this topic: I found a big issue 😛 . We initially reported [CVE-2020-4074](https://www.cvedetails.com/cve/CVE-2020-4074/) with a CVSS of 5.7. On cvedetails it appears with a score of 10/10 this is a mistake. This vulnerability is NOT critical unless there is information I am not aware of.

Answer is no. We patched session management in both frontend and backend, but an attac

[2022-08-01 13:03] MeKeyCool commented on #27265
I had some troubles to reproduce cause I needed data.

From a fresh install, to test :
- "*Generate an invoice*", I needed to pass some orders to "*Payment accepted*" status.
- "*Generate a credit slip*", I found this documentation : https://doc.prestashop.com/display/PS17/Credit+Slips
- "*Generate a delivery slip*", I needed to pass some orders to "*Shipped*" status.

[2022-08-01 13:10] matks commented on #29176
PR https://github.com/PrestaShop/PrestaShop/pull/29187

[2022-08-01 13:22] sLorenzini opened #29211 "FO / Blockwishlist - Elements in modal are not aligned on desktop & mobile screens"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In blockwishlist modals, the title,

[2022-08-01 13:23] Arman-Hosseini commented on #13456
Thank you @matks, It's almost done.
The only problem is about the permissions.
I can't check access through the `_legacy_controller`; The `AdminQuickAccesses` controller use wrong ROLEs(`ROLE_MOD_TAB_ADMINACCESS_*`), they are belonged to `AdminAccess` Controller.

[2022-08-01 13:36] sLorenzini opened #29212 "FO / Blockwishlist - Translations are not take in account for "Wishlist default title" part"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I want to change the "Wishlist

[2022-08-01 13:40] PrestaEdit commented on #29198
Hi @matks ,

Thanks for the mention.

I agree with you two, there. It's true that it's a specific page and it could be handled in different way (like a "configurator" that allow you to choose the content in the main column, and in the left|right one).

The defaults themes needs to avoid the use of hardcoded module call (widgets or hooks), imho.

[2022-08-01 13:42] sLorenzini opened #29213 "FO / Blockwishlist - bad display when wishlist name is too long in tablet/mobile screens"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On wishlist tab on my account page,

[2022-08-01 13:58] matks commented on #13456
Be careful 😉 when you code arrives on GitHub it will be analyzed and tested and maybe it's not so "done" 😄 you'll be surprised

[2022-08-01 15:02] #27513 closed, assigned to nobody

[2022-08-01 15:03] #10763 closed, assigned to nobody

[2022-08-01 15:03] #24784 closed, assigned to FabienPapet

[2022-08-01 15:55] #17903 closed, assigned to Progi1984

[2022-08-01 16:01] matks opened #29215 "Release autoupgrade 4.15 version (allows upgrades to 8.0.x)"
A new release of the autoupgrade module is needed [to enable upgrades from 1.7.x to 8.0.x](https://github.com/PrestaShop/PrestaShop/issues/29217)

## Bugs to fix before the release

- [x] https://github.com/PrestaShop/PrestaShop/issues/25649
- [x] https://github.com/PrestaShop/PrestaShop/issues/29248
- [x] https://github.com/PrestaShop/PrestaShop/issues/28748
- [x] https://github.com/PrestaShop/Pr

[2022-08-01 16:11] matks opened #29216 "Use new User Documentation for contextual help in 8.0"
Following the development of the project [User Documentation](https://github.com/PrestaShop/PrestaShop/issues/24645) we need to complete it to be able to release PrestaShop 8.0.0.

## To Do

Redirect help.prestashop.com to help.prestashop-project.org so that PrestaShop 1.6 and 1.7 fetch help content from help.prestashop-project.org

## Done
 And to complete it, we need

1. Store PrestaShop 1.6 doc

[2022-08-01 16:18] matks commented on #29169
I moved the part not needed for beta release in #29216

[2022-08-01 16:19] matks opened #29217 "Check whether or not upgrades from 1.7.x to 8.0 are possible"
Before 8.0.0 beta is published, QA team wishes to check whether or not upgrades from 1.7.x to 8.0 are possible.

Tests will be performed using latest autoupgrade version, released in https://github.com/PrestaShop/PrestaShop/issues/29215

[2022-08-01 16:21] zuk3975 commented on #29204
should probably be solved by this
https://github.com/PrestaShop/PrestaShop/pull/29195

[2022-08-01 16:36] hibatallahAouadni commented on #29155
Ping @NeOMakinG should I close the issue as the release was merged?

[2022-08-01 16:54] ricardopxlcl opened #29218 "Prestashop don't work without Internet"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm using Prestashop 1.7.6.9, how a

[2022-08-01 16:54] hibatallahAouadni commented on #29205
Hello @MarceldeR

I reproduce the issue with PS1767, PS1778 and PS1787, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/182202275-87bee870-ab66-4356-bb85-42ab91807e61.mp4

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issu

[2022-08-01 17:23] hibatallahAouadni commented on #29218
Hello @ricardopxlcl

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #27541.
To be informed when it's fixed, please subscribe to this issue #26427.

Thanks!

[2022-08-01 17:23] #29218 closed, assigned to nobody

[2022-08-01 17:23] hibatallahAouadni commented on #29218
Duplicate of #27541

[2022-08-01 17:26] hibatallahAouadni commented on #29209
Hello @ldetant

PrestaShop 1.5 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep in

[2022-08-01 17:26] #29209 closed, assigned to nobody

[2022-08-01 17:29] hibatallahAouadni commented on #29057
Hello @PrestaEdit

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-08-01 17:29] #29057 closed, assigned to nobody

[2022-08-01 17:31] hibatallahAouadni commented on #29059
Hello @PrestaEdit

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-08-01 17:31] #29059 closed, assigned to nobody

[2022-08-01 17:33] PrestaEdit commented on #29057
Are you able to re-open this one ? I will make my best to provide it soon.

[2022-08-01 19:11] momo1240 opened #29219 "Block reassurance and multistore content"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-01 19:17] kpodemski commented on #29219
Hello @momo1240

We're aware of it. There are some plans to improve this module, but there's no ETA as there are no resources right now to take on this module.

If you need this feature, you can contribute directly to this module in its repository:
https://github.com/PrestaShop/blockreassurance

[2022-08-01 19:51] ricardopxlcl commented on #27541
@hibatallahAouadni I cant' find similitudes in the code, from the Issue.

[2022-08-01 21:28] TecnoHands opened #29220 "Error When try to update from 1.7.8.6 to 1.7.8.7"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I try to update my store from 1.7.8

[2022-08-01 21:50] Flying--Dutchman commented on #29207
Sure. Basically the idea is to add a new field to the "Product feature" form, called "Display name". The value from that field would be used in the frontoffice (what the customer would see), while the normal "name" field would be used in the backoffice.

Especially when working with addons this would come very handy, eg. mapping fields for eBay sync.

![image](https://user-images.githubusercontent

[2022-08-01 22:59] TecnoHands commented on #29220
Manual update gives the error 32.
It's ok? then?

[2022-08-01 23:23] Lerallo opened #29221 "Cant make account on Firefox mobile Presta 1.7.8.7"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Cant make account on Firefox mobile

[2022-08-01 23:39] medicalseeds commented on #29220
After 30.0000 hours developing on this Bullsint i'ad enoug, PrestaAShop is the bigges pece of shit i've been seen,

And 8.0 is the same  bullshit, don't you realize?.

[2022-08-02 00:43] leemyongpakvn commented on #28677
@NeOMakinG In fact this issue may be fixed by https://github.com/PrestaShop/ps_facetedsearch/pull/690, and it is still Open.

[2022-08-02 01:25] ChillCode commented on #29220
As you can read, the server response is service unavailable, so be sure to reconfigure everything, for example this great module fails if nginx it's configured with a timeout of 30"...every time I've to upgrade this great app called **PrestaShop** maybe takes  10min to 8h to reconfigure everything, also 1 click upgrade is a not production module...

Thanks for all!!!

[2022-08-02 07:14] NeOMakinG commented on #29218
@hibatallahAouadni I guess this is a real problem unrelated to #27541

[2022-08-02 07:15] NeOMakinG commented on #29155
@PrestaShop/prestashop-maintainers do we have something else to do on core side or somewhere else?

[2022-08-02 07:15] matks commented on #27541
Interesting related news: "The default Laravel installation welcome page has ditched Google Fonts and moved to Bunny Fonts. This is great because it raises awareness that you don't have to send your website visitors browsing habits to an advertising company." 😄

https://twitter.com/JackEllis/status/1553818267294130176

[2022-08-02 07:19] matks commented on #29218
Hello, I am sorry but I think using PrestaShop without internet is simply impossible today 🤔 . For me this is not a bug: it is a simple choice.

To make prestashop be able to run without Internet would require multiple improvements. These improvements mean investing time and money. Is this time money well invested when 99.99% users have a Internet connection? Moreover PrestaShop is supposed to be

[2022-08-02 07:36] abhi199424 opened #29222 "Bug in Product controller, displayPackPrice smarty assign"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

when we assign displayPackPrice to

[2022-08-02 08:03] #28361 closed, assigned to nobody

[2022-08-02 08:12] #27410 closed, assigned to atomiix

[2022-08-02 08:12] #26549 closed, assigned to atomiix

[2022-08-02 08:14] #27855 closed, assigned to nobody

[2022-08-02 08:45] MeKeyCool commented on #29159
From my first investigation the problem is not about the color but about default form data.
In fact when you change anything in shop configuration form, subcategories are not checked. So when you save, you can't access them in products anymore.

Workaround : go back to your shop configuration, re-check sub categories and save. Then subcategories appear again in products.

[2022-08-02 09:02] HanaRebaiQA opened #29223 "BO - The condition is not updated when create a Virtual product with V2 and edit it with V1 page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The condition is not updated when c

[2022-08-02 09:35] matks commented on #29198
For me this ticket is Ready as it is clear what should be done, and so far we all agree it's the right thing to do

[2022-08-02 09:40] hibatallahAouadni commented on #29057
Hello @PrestaEdit

Don't worry 😉 when you provide new infos I will reopen it!

Thanks!

[2022-08-02 09:48] migueldelbarrio2020 commented on #9974
It's easy to solve. You have to do an Overrride on Cart.php class. The function affected is:  getProductQuantity

You have to delete this line on sql query: Line 144 -> AND cp.`id_customization` = ' . (int) $idCustomization . '

[2022-08-02 09:50] hibatallahAouadni commented on #29206
Hello @MarceldeR

I follow your steps to reproduce and I don't seem to understand what's the bug, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/182346170-b68b52d5-af0b-4faf-9ad3-bffe47dfe2f2.mp4

Please check and feedback.
Thanks!

[2022-08-02 09:52] Robin-Fischer-PS commented on #29217
:warning: :red_circle: Since there is some trouble releasing the 4.15 autoupgrade version, the QA Team will check how the upgrade goes from 1.7.x to 8.0 with the 4.14.2 version. I change the status in "To be Tested" :red_circle: :warning:

And ping @PrestaShop/qa-functional :)

[2022-08-02 10:00] Lerallo commented on #29221
In Polish there are 3 tick boxes insteed of 4 like in english.

[2022-08-02 10:19] matks commented on #29155
Yes a PR must update the file https://github.com/PrestaShop/PrestaShop/blob/develop/composer.lock in order to use blockwishlist 2.1.2

[2022-08-02 10:41] EhsanAllahyari opened #29225 "Wrong stock movement when create new order BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,
I found a bug on stock movement

[2022-08-02 11:16] hibatallahAouadni commented on #29220
Hello @TecnoHands

First of all, it's not error! it's just warning :wink:
Second, did you change this file `shop/autoupgrade/index.php` ? and why?
Please check and feedback.

Thanks!

[2022-08-02 11:18] hibatallahAouadni commented on #29221
Hello @Lerallo

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2022-08-02 11:18] #29221 closed, assigned to nobody

[2022-08-02 11:39] Hehn-MB opened #29226 "Missing translation 'Password must be between 5 and 72 characters long' in ShopNotificationsError.de-DE.xlf"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

classes/form/CustomerForm.php calls

[2022-08-02 12:46] MeKeyCool commented on #27665
Hi @tegbessou , I see you are assigned to this issue since March. I would like to test if I can find the problem.
Let me know if you had find any hint ;)

[2022-08-02 13:04] #28974 closed, assigned to nobody

[2022-08-02 13:05] hanuchin opened #29229 "CartRule validation is not working properly"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

You can use every cartrule for ever

[2022-08-02 13:13] atomiix commented on #26741
Hi everyone, we must be missing something here, I used php-fpm with `rlimit_files = 18`, created 1000 directories in the `modules/` folder and yet I'm able to access the information page without any issue. If I set `rlimit_files = 16` I got the "too many file open" issue but I still have it if I comment the [lines 252-261 of classes/ConfigurationTest.php](https://github.com/PrestaShop/PrestaShop/b

[2022-08-02 13:15] hibatallahAouadni commented on #29219
Hello @kpodemski & @momo1240

I think this issue is similar to this one #28446, it seems that the problem occurs not only with this module but all native module.
Could you please check it and feedback.

Thanks!

[2022-08-02 13:53] hibatallahAouadni commented on #29208
Hello @ocio87

Following your steps to reproduce, I wasn't able to reproduce your issue, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/182391692-cae1d9d0-f2be-47cd-a5c4-9f197fa1d02c.mp4

Please check and feedback.

Thanks!

[2022-08-02 13:55] webstartconsulting commented on #12814
We are the same problem at version 1.7.8.7 Not fixed yet? Any update?

[2022-08-02 14:00] ocio87 commented on #29208
Hello, Can you please perform the same test but the tenth with comma (,) and thousand units with dot (.)

Thanks!

[2022-08-02 14:14] matks commented on #29215
Awaiting @matthieu-rolland analyzis to know whether or not this is possible 8.0.0 beta

[2022-08-02 14:20] hibatallahAouadni commented on #29226
Hello @Hehn-MB

Because you didn't fill in the field to translate:

![image](https://user-images.githubusercontent.com/23308427/182396756-b9705b78-02e4-4537-8e20-6b354dbc4d09.png)

When you fill in the missing translation:

![image](https://user-images.githubusercontent.com/23308427/182396912-a8b3445b-1b3a-4d25-a19c-2e4e107d9c38.png)

It will be well displayed in FO:

![image](https://user-images.

[2022-08-02 14:20] #29226 closed, assigned to nobody

[2022-08-02 14:38] Hehn-MB commented on #29226
Hello,

I’m new to our Prestashop installation.

Within my system there’s no such a translation field.

***@***.***

All I see in Shop -> Notifications -> Error is…
***@***.***

Don’t know what’s wrong. Do you? Thanks in advance.

Best wishes

Heiko Hehn
Web Entwicklung
[MB_Logo_email]

Minerva Biolabs GmbH
Schkopauer Ring 13
D-12681 Berlin
Phone:  +49 (0)30 / 2000 437-0
[SM-01]<https://www.linked

[2022-08-02 15:04] HanaRebaiQA commented on #29223
Hello @MatShir

What do you think about the projects repo of this issue ? It should be fixed on PS 8.0.0 or Backlog Patch ?

Thank You!

[2022-08-02 15:31] mark-app commented on #29197
Hi @hibatallahAouadni,

You missed number 3.

3. Checkout the linklist block in the footer in the front office.

[2022-08-02 15:48] hibatallahAouadni commented on #29222
Hello @abhi199424

Could you please provide a screen record about the issue or some screenshots :pray:
Waiting for your feedback.

Thanks!

[2022-08-02 15:52] kpodemski commented on #29198
I agree with the idea :)

[2022-08-02 15:53] hibatallahAouadni commented on #29225
Hello @EhsanAllahyari

Could you please provide a screenshot about the created status (showing all details) and the stock page where you enocunter the issue :pray:
Waiting for your feedback.

Thanks!

[2022-08-02 15:54] kpodemski commented on #29219
@hibatallahAouadni I don't think it is the same issue, `blockreassurance` is not compatible with the multi-store, it is not about the cache :)

[2022-08-02 16:08] jovh commented on #10903
i also have this no carrier available for your delivery address - in the forums i found this https://www.prestashop.com/forums/topic/1027497-fix-for-unfortunately-there-are-no-carriers-available-for-your-delivery-address/

it s annoying please repair this asap - tnx !

[2022-08-02 16:10] lmeyer1 opened #29231 "Unable to display order detail in BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When trying to look at an order in

[2022-08-02 16:12] MeKeyCool commented on #27665
@HanaRebaiQA , as we discussed earlier, I tested with a gmail SMTP server and client using a 1.7.8.3 Prestashop and I can't reproduce.

![Capture d’écran du 2022-08-02 18-08-51](https://user-images.githubusercontent.com/1133504/182422047-51364b40-124d-4b6d-b5a0-963086dc8bcb.png)
![Capture d’écran du 2022-08-02 18-09-57](https://user-images.githubusercontent.com/1133504/182422052-163da604-36f3-496a

[2022-08-02 16:57] hibatallahAouadni commented on #29229
Hello @hanuchin

Could you please check this issue #17665 seems similar to yours.
Please check and feedback.

Thanks!

[2022-08-02 17:46] hibatallahAouadni commented on #29189
Hello @leemyongpakvn

I reproduce the issue with PS8.0.x and it's a regression on 8.0.0!
Thanks for your PR :rocket: I’ll add this to the debug backlog.

Thank you

[2022-08-02 18:00] hibatallahAouadni commented on #29207
Hello @Flying--Dutchman

I just edit your issue description following your feedback.
Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en

[2022-08-03 06:53] MarceldeR commented on #29206
If the descriptionfield of a product in the table product_lang is between <p>-tags, it works (no other html-tags tried). If the text in the descriptionfield of a product in the table product_lang is without tags (plain ascii) the tpl of the module using the hook DisplayAdminProductsExtra does not load. See attachement.

When a product is created in the backoffice, these tags are there, so there is

[2022-08-03 07:07] lmeyer1 commented on #29231
I was not able to recreate an order in PS 1.6.1.1 that has `cardNumber = null`.
The problem happened during data migration.

[2022-08-03 07:07] #29231 closed, assigned to nobody

[2022-08-03 07:42] Quetzacoalt91 opened #29233 "Modifying a default carrier "Click & collect" throws an error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

<img src="https://c.tenor.com/Bks2S

[2022-08-03 08:09] okom3pom commented on #29233
Hello @Quetzacoalt91

This is similar to : https://github.com/PrestaShop/PrestaShop/issues/28588 fixed by https://github.com/PrestaShop/PrestaShop/pull/28788

[2022-08-03 08:18] #29233 closed, assigned to nobody

[2022-08-03 08:22] Quetzacoalt91 commented on #29233
Thanks @okom3pom and sorry for the duplicate, I tried to find if the issue was already reported by looking for "getRanges", without results.
Hope this one will prevent more duplicates to be opened. :)

[2022-08-03 08:24] hanuchin commented on #29229
Hello @hibatallahAouadni,

im sorry, but its another issue. the linked issue is about calculation.
My bug is about validation, and revalidation.

You can follow this 5 steps in the official prestashop demo. You need only 5 mins to test it on your own.

I think this is a big cart rule issue, because every customer can exploit restricted cart rules. So the PrestaShop cart rule restrictions (products

[2022-08-03 08:24] okom3pom commented on #29233
No problem, we should check if your tested versions are from before June 21, otherwise there may be another bug?

[2022-08-03 08:57] kpodemski opened #29234 "Extra FormFields validation does not work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Because of some changes required by

[2022-08-03 08:59] okom3pom commented on #29234
The zip is empty :)

[2022-08-03 09:02] eternoendless commented on #15870
FYI, the way pluralization is handled [has changed since Symfony 4](https://symfony.com/doc/4.4/translation/message_format.html#pluralization) and now uses the ICU message format.

For a pluralizable message like the one above, we should use this in the PHP code (following English rules):

[code]

For Czech, you'd translate it like this on Crowdin:

[code]

I have tested it out [in this playground

[2022-08-03 09:19] AureRita commented on #29233
Duplicate of #28588

[2022-08-03 09:20] kpodemski commented on #29234
@okom3pom nice catch! thanks, I've uploaded symlink 😅

[2022-08-03 09:23] MeKeyCool commented on #27665
Seen with @HanaRebaiQA ,

In my screenshots we can see that I had some translations mistakes due to cache (fixed with International > Translations > Add / Update a language). But even updating language properly, I can't reproduce.

Waiting for some analysis from QA ^^

[2022-08-03 09:39] AureRita commented on #29234
Hi @kpodemski

Thank you for the reporting Issue.
I reproduced it on 8.0.0 and not on 1.7.8.6 as you can see on this video :

https://user-images.githubusercontent.com/100699445/182576693-a72da7c8-95de-459b-bb8e-433f45a36beb.mp4

It's a regression ! I will add it to the Patch Backlog to be fixed

Thanks

[2022-08-03 10:03] AureRita commented on #29229
Hi @hanuchin,

Thank you for your answer, just to know, the issue is because the cartrules is for the entire order ?

If yes : can you check this video :

https://user-images.githubusercontent.com/100699445/182581581-04196774-f120-480e-8a2c-843aa77ecf41.mp4

did you noticed the parameter to do the discount only on the product selected ?

Waiting for your feedback

[2022-08-03 10:07] kpodemski opened #29236 "Translations with special characters are not displayed properly"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

1.7.8:
![image](https://user-images

[2022-08-03 10:10] kpodemski commented on #29234
@AureRita IMHO, it's critical as it breaks the checkout flow :)

[2022-08-03 10:21] onekingcc opened #29237 "retro-compat.js.php Arbitrary file view"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

retro-compat.js.php Existence of sp

[2022-08-03 10:29] Quetzacoalt91 commented on #29233
I think this is fine, the image I used has been updated for the last 8 weeks.

[code]

There might be another issue on the docker images side, but the core itself should be fine. :)

[2022-08-03 10:49] hibatallahAouadni commented on #29226
Hello @Hehn-MB

Welcome :tada: hope you enjoy using PrestaShop :relaxed:

Please follow the steps in my attached screen record below to find these fields to translate:

https://user-images.githubusercontent.com/23308427/182586010-ad63ca24-53d8-4ae6-ad1e-6a62a46a0d0c.mp4

If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.

[2022-08-03 12:05] ghost opened #29238 "CartRules calculation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello

We have two cart rules types

[2022-08-03 12:10] matks commented on #29237
@onekingcc I am sorry but your bug report is not clear enough. We can do nothing with "May trigger arbitrary file reads"

You need to provide more details

[2022-08-03 12:13] kpodemski commented on #29237
From what I see, this file allows us to read other .js files that are part of the array from this file.

[2022-08-03 12:19] Quetzacoalt91 opened #29241 "Uploading the same version of a running module fails on 8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello :wave:

I found a change of b

[2022-08-03 12:21] Hehn-MB commented on #29226
Hi,

I’ve selected the wrong theme to us.

So I removed the lines
<trans-unit id="b09361692fc1f7636d9b8657b94a7bb4">
  <source>Password must be between 5 and 72 characters long</source>
  <target>Passwort muss eine Länge von 5 bis 72 Zeichen haben</target>
  <note>Line: 147</note>
</trans-unit>
from app/Resources/translations/de-DE/ShopNotificationsError.de-DE.xlf and added German translation as f

[2022-08-03 12:41] matthieu-rolland commented on #29215
1/ About the 5.0 milestone, after investigating the PRs on the 5.O milestone, I didn't find any relevant BC break, I asked some people why they put this milestone at the time, and it seems like people would only put it because it was the most advanced milestone. There was no actual decision taken about this milestone, at least not in the last 2 years or so.

2/ About the 5.x branch...  this branch

[2022-08-03 12:44] matks commented on #29215
@matthieu-rolland thank you for investigation

I think in the time we gave ourselves for beta we won't be able to build a stable `dev` release of the module so I move this item to be done for 8.0.0 RC, not 8.0.0 beta

[2022-08-03 12:49] onekingcc commented on #29237
yes，able to read  other .js files that are part of the array from this file ,But I think  retro-compat.js.php this file  does not need to be open to users，such as  [baseurl]/js/jquery.noConflict.php?version=123 , this is also the case.Of course, this is what I think, and the specifics still need to be evaluated by your side. Thank you

[2022-08-03 12:53] MatShir opened #29242 "Release ps-linklist 5.0.5"
This is a technical task needed to complete PrestaShop 8.0.0

- [x] Release https://github.com/PrestaShop/ps_linklist/milestone/8
- [x] Update the file https://github.com/PrestaShop/PrestaShop/blob/develop/composer.lock to embed ps_linklist 5.0.5 in PrestaShop 8

[2022-08-03 12:53] ocio87 commented on #29208
It is found that the Back Office does not associate the Colombian Peso (COP) currency. The dollar currency (USD) is created again and in the order it does not show the two currencies, it continues to show one currency.

The USD conversion is changed and the total value of the order is affected.

https://drive.google.com/file/d/1ey3ELzpwcnPc9T3xEwWYbrmmB4LUxOLs/view?usp=sharing

[2022-08-03 13:30] AureRita commented on #29208
Hi @ocio87

I tried to reproduced your issue with two currencies and even if I want to add a payment with currency wich have the same symbols of the first one, it let the final price with the last symbol that I install  as you can see on this video :

https://user-images.githubusercontent.com/100699445/182617326-af7061e6-7185-43ad-9fda-0b49bdbca9b3.mp4

Thank you for the last details, with this on

[2022-08-03 13:48] AureRita commented on #29208
I'll change your steps to reproduce, to let all person repeat the issue, can you say me if your not ok with the new steps ?

Waiting for your feedback

[2022-08-03 14:09] AureRita commented on #29237
Hi @onekingcc ,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you c

[2022-08-03 14:10] #29237 closed, assigned to nobody

[2022-08-03 14:10] ocio87 commented on #29208
I see no problem if you want to change the steps. What I reported I have been finding in each update.

Additionally, I see that in multistore the currency changes that appear to you do not appear when you enter a balance update.

[2022-08-03 14:14] MatShir commented on #25790
What would be the interest on that?
Even if you can access to the original format directly, what would be the interest if you can't use the ideal format, depending on browser and configuration?

[2022-08-03 14:21] AureRita commented on #29241
Hi @Quetzacoalt91

Thank you for the reporting Issue.
I reproduced it on 8.0.0. and not on 1.7.8.x as you can see on this video :

https://user-images.githubusercontent.com/100699445/182632061-958a90d3-4e7a-4de9-bf65-c096e23ed4af.mp4

It's a regression ! I will add it to the Patch Backlog to be fixed

Thanks

[2022-08-03 14:36] daresh commented on #9727
Some solution that I found is to go to \src\PrestaShopBundle\Entity\Repository\StockRepository.php

and replace:
`          IF(COALESCE(p.reference, "") = "", "N/A", p.reference)                            AS product_reference,
          IF(COALESCE(pa.reference, "") = "", "N/A", pa.reference)                          AS combination_reference,`
with:
`          CONCAT(COALESCE(p.reference, " "), "

[2022-08-03 14:48] AureRita commented on #29236
Hi @kpodemski

Thank you for the reporting Issue.
I reproduced it on 8.0.0 and not on 1.7.8.x as you can see on this video :

https://user-images.githubusercontent.com/100699445/182637381-f8c7da6d-7fdd-4b27-bb34-c099ab4483d8.mp4

It's a regression ! I will add it to the Patch Backlog to be fixed

Thanks

[2022-08-03 14:54] #29238 closed, assigned to nobody

[2022-08-03 15:03] AureRita commented on #29238
Hi @AtavikTech

Just to know, why did you closed your issue ? You take the time to write this issue so I think it can be important for you that we take time to consider this one

Waiting for your feedback

[2022-08-03 15:32] AureRita commented on #29197
Hi @mark-app

Thanks for reporting the issue.  I didn't manage to reproduce the issue, could you please check my screen record:

https://user-images.githubusercontent.com/100699445/182647787-394974d1-cefe-4dee-8f86-b7628c5e1cf5.mp4

I think I do all your request ? so can you tell me if I need to do anything else to have your issue ?

Can you give us screenshot or screen record to see your issue ?

[2022-08-03 15:38] AureRita commented on #29219
Hi @momo1240 ,

As @kpodemski said, `blockreassurance` isn't compatible with the multi-store, so do you want to transform this issue into a new feature ?

waiting for your feedback

[2022-08-03 15:50] okom3pom commented on #29241
For me it's the same : https://github.com/PrestaShop/PrestaShop/issues/28924

The title is not the same but bot me the bug it's the same.

You can check @Quetzacoalt91 ?

[2022-08-03 15:54] Quetzacoalt91 commented on #29241
I saw the other issue before posting and it seemed unrelated. On my side, files were uploaded and moved into the modules folder successfully, but because the module version remains the same, PrestaShop does not find upgrade to run, thinks there was an issue then disables my module.

[2022-08-03 15:55] studiosacchetti opened #29245 "progress bar not showing"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

i'm developing a module with fronte

[2022-08-03 16:17] PrestaEdit commented on #29245
Using the Classic theme, you could have this kind of issue, yes.

The progressbar component inside Bootstrap was remork/updated inside the alpha 6 of it. Classic use the alpha 5.

[2022-08-03 17:01] ricardopxlcl commented on #29218
@matks because Prestashop is a excelente CMS :) Know you how to prevent regenerate core cache ? Or disabled regenerate core cache?

Regards

[2022-08-03 18:03] okom3pom commented on #29241
I will check again on my side but the only way for me was to delete the module folder before sending the same version.

I confirm that this bug is not solved.

[2022-08-03 20:14] adminvr commented on #27029
Hi,

I ve exactly the same problem again with 1.7.8.7.   It’s not fixed.

Have you got a solution ?

Thanks.

***@***.***

VictorienRICHARD
Administrateur SI
FIM CCI Formation
02 33 77 86 77
06 79 13 47 88
***@***.***
www.fim.fr
www.fimformation.fr
www.egcnormandie.fr
170, rue Lycette Darsonval
50009SAINT-LO Cedex
Suivez nous sur les réseaux sociaux
De : SD1982 ***@***.******@***.***>
Envoyé : mar

[2022-08-04 04:30] Lopez15-Hub opened #29247 "Use of class AdminProductWrapper"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello! Now i'm migrating my module

[2022-08-04 06:56] momo1240 commented on #29219
Hello @AureRita,
yes it would be great
thank you

[2022-08-04 06:58] dennispw commented on #25790
One benefit would be CDN services that have on-the-fly image generation. For a few clients we've taken the original image and generated different formats, ratios, greyscale versions, compression and much more. Just take a quick look at services such as IMGIX or KeyCDN, just to name two.

Since these services *usually* charges by the image, it's better to use the original images uploaded since they

[2022-08-04 07:25] mark-app commented on #29197
Hi @AureRita ,

I mean the pages themselves

https://user-images.githubusercontent.com/6554157/182788701-d85676d8-3133-48d5-88fb-1b43f8724add.mp4

.

[2022-08-04 07:27] mark-app commented on #29197
<img width="1306" alt="Schermafbeelding 2022-08-04 om 09 26 01" src="https://user-images.githubusercontent.com/6554157/182788961-3cdb27b1-94f7-4c4e-94dd-cdfd0eb6e063.png">
<img width="1514" alt="Schermafbeelding 2022-08-04 om 09 26 22" src="https://user-images.githubusercontent.com/6554157/182788969-488a530a-1a47-4aed-8de9-4c2f8525e381.png">

[2022-08-04 07:41] Hlavtox commented on #25790
@MatShir To have full screen product galleries like here:
https://eshop-franke.cz/trouby/100468-trouba-franke-mythos-fmy-98-p-bk-7612985785204.html

[2022-08-04 08:39] lmeyer1 commented on #21790
ping @matks @MatShir
When will you start working on this? Is an update to GA4 already planned?

[2022-08-04 08:42] MeKeyCool commented on #27864
From my tests, it looks that the RTL stock page style is Ok for 8.0.x so I don't have to backport my changes.

For information, I observed that in 1.7.8.x, *_rtl.css file is generated when I installed a RTL language and I didn't find any other way to regenerate it.

[2022-08-04 08:53] Matt75 commented on #29247
You have to retrieve the instance of AdminProductWrapper from service container:

1. https://devdocs.prestashop.com/1.7/modules/concepts/services/
2. https://github.com/PrestaShop/PrestaShop/blob/1.7.8.7/src/PrestaShopBundle/Resources/config/services/adapter/product.yml#L25

So

[code]

Should be
[code]

[2022-08-04 09:10] AureRita commented on #29208
When you're with a currency, his name isn't show, it show only the other currency, if you want to switch with this new one

[2022-08-04 09:10] studiosacchetti commented on #29245
good to know!!

i used this workaround

[code]

[2022-08-04 09:33] #29245 closed, assigned to nobody

[2022-08-04 10:14] AureRita opened #29248 "[Autoupgrade] - Errors when upgrading from 1.7.8.6 to 8.0.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I want to update my version 1.

[2022-08-04 10:58] AfricanJoker commented on #20055
Hello @matks,

Thank you for your kindness and your answer.

Good continuation in this prestashop project !

[2022-08-04 11:39] Said-code777 opened #29250 "Add Custom File Css To change Style of Back Office Prestashop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

 I want to create module Prestashop

[2022-08-04 13:04] AureRita commented on #29247
Hi @Lopez15-Hub ,

We only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Thank you

[2022-08-04 13:04] #29247 closed, assigned to nobody

[2022-08-04 13:11] #14547 closed, assigned to Progi1984

[2022-08-04 13:30] AureRita commented on #29219
hi @momo1240,

ok, I'll change the description of your "issue" tell me if this new description suits you

Waiting for your feedback

[2022-08-04 13:37] preoteasa opened #29251 "[WS][1.7.8.7] Cannot receive blank schemas for resources"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This is the same as issue #26559.

[2022-08-04 13:37] AureRita commented on #29219
I changed your description, thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or a

[2022-08-04 13:54] AureRita commented on #29197
Hi @mark-app

Yes Indeed, good catch, I reproduced the issue as we can see :

https://user-images.githubusercontent.com/100699445/182863092-988e1a2b-a2f0-4b7e-89c1-d6481da2f7ef.mp4

so the issue isn't really related to link list ? Currently I can "solve" the problem by :
1. Go to linklist
2. Edit Our company
3. Uncheck all the content page and Save it
4. Edit again Our company
5. Check all the con

[2022-08-04 14:00] AureRita commented on #29197
for me is like this one : #16134

can you tell me if you're agree ?

Waiting for your feedback

[2022-08-04 14:05] mark-app commented on #29197
Yes the bug seems the same. Maybe you can add my solution too it?

[2022-08-04 14:10] AureRita commented on #29251
Hi @preoteasa ,

As you can see on your PR ( thank you for this PR ) this it for the milestone of the new version of prestashop 8.0.0. This version could be tested by you and other contributors in a few days. Your correction should be in this version.

Thank you for allowing us to improve unfortunately I will have to close this issue because it has already been created and corrected by yourself fo

[2022-08-04 14:10] #29251 closed, assigned to nobody

[2022-08-04 14:11] jolelievre opened #29252 "EntitySearchInput should be able to be initialized automatically like other PrestaShop components"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-04 14:16] AureRita commented on #29197
Unfortunately, I've to close your issue because it's a dupplicate,
For your solution, could [you please create a Pull Request with your proposed solution](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/)

[2022-08-04 14:17] AureRita commented on #29197
Duplicate of #16134

[2022-08-04 14:17] #29197 closed, assigned to nobody

[2022-08-04 14:22] jolelievre opened #29253 "StockMovement physical_quantity boundaries are not high enough"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the `stock_mvt` table the comumn

[2022-08-04 14:25] jolelievre commented on #27313
Hi @MatShir

I opened a dedicated issue for the fourth issue https://github.com/PrestaShop/PrestaShop/issues/29253 because it should probably be handled in a dedicated PR since it needs to change the database structure.

[2022-08-04 14:26] Amit-Kumar-Tiwari-Webkul opened #29254 "MPN field is missing in sample product CSV"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

MPN field is missing in sample prod

[2022-08-04 14:32] bfontaine commented on #25930
@jf-viguier where is this checkbox in the admin area?

[2022-08-04 15:00] bfontaine commented on #20580
I have the same problem with PrestaShop 1.7.8.6. There must be an issue somewhere if we are so many with the same problem.

[2022-08-04 15:08] AureRita commented on #29250
Hi @Said-code777,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template and provide clear and concise steps to reproduce the bug**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if yo

[2022-08-04 15:08] #29250 closed, assigned to nobody

[2022-08-04 15:17] Said-code777 commented on #29250
Hi @AureRita  .

thank you for your Comment .

I write issues for the first time , My Problem is :

I want to Créate Module to Customise style of Back Office ... to do that I need to have already custom css file in my Module

I need know to know just how to requere this file with style of back Office  ,

I hope that you can understand my problem know

Thank you

[2022-08-04 15:29] AureRita commented on #29254
Hi @Amit-Kumar-Tiwari-Webkul ,

I understand that it can be a little uncomfortable. I reproduce the issue with PrestaShop version1.7.8.6, as you can see :

https://user-images.githubusercontent.com/100699445/182886088-8741a0a2-735f-4b6c-9410-476eb567557d.mp4

I'll add this to the backlog so it can be fixed.

Thank you for the PR :rocket:
and
Thank for your report

[2022-08-04 15:34] Robin-Fischer-PS commented on #29217
Thanks to @AureRita , upgrade to 8.0 is tested :

It has some issues, but not blocking the upgrade (see https://github.com/PrestaShop/PrestaShop/issues/29248). So it's OK for Beta.

Some notes that need to be added to the release note as "known issues" :

FYI : If you don't want to see the Error 500 when you do the update to 8.0.0, you have to uninstall this module :

Welcome
MBO (ps_mbo)
Metrics

[2022-08-04 16:12] Ditwo commented on #10003
Hi,
Is there any news, since 2021 ?
Any improvment would be appreciated  ;)

[2022-08-04 17:53] USWine88 opened #29257 "cannot enter info for product summary and description 1.7.8.7"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![IMG_0995](https://user-images.git

[2022-08-04 22:09] alfonsolr09 commented on #16306
From what I understand, the "old" product creation page will not be deleted in version 8.0, so could someone implement this bug fix?

https://github.com/PrestaShop/PrestaShop/pull/26782

[2022-08-05 05:52] hanuchin commented on #29229
Hello,
on the demo page it is okay, and no issue, if you enable this option.

On our customer shop, PrestaShop 1.7.7.7 it is not okay and still an issue. Its the same behavior, no matter which option is used (entire order or selected products).

We do not have an cartrule/cart Class overrides. Has there been any cart rule fixes between 1.7.7.7 until now?

Thank you

[2022-08-05 06:48] hibatallahAouadni commented on #29257
Hello @USWine88

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2022-08-05 06:48] #29257 closed, assigned to nobody

[2022-08-05 09:42] bfontaine commented on #25930
See also https://github.com/PrestaShop/PrestaShop/issues/20580.

[2022-08-05 09:47] bfontaine commented on #20580
I believe I made some progress in investigating the issue.

On my instance the order state id 12 is "remote payment accepted". The id 12 is also used for the [`PS_OS_OUTOFSTOCK_UNPAID` config key](https://github.com/PrestaShop/PrestaShop/blob/cfeda5a14feb360235d01729bdda755378b66f7d/install-dev/data/xml/configuration.xml#L383-L384). When an order is validated with a product that’s out of stock, [t

[2022-08-05 09:48] atomiix opened #29259 "Customizations are shared if no cookie are sent"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When the browser doesn't send cooki

[2022-08-05 09:48] jolelievre commented on #28998
My bad this is on page v1 so it does need to be fixed.

[2022-08-05 09:55] atomiix opened #29260 "Add a setting to configure `X-Frame-Options` / `Content-Security-Policy` headers"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-05 10:05] matks commented on #29168
Last PR https://github.com/PrestaShop/PrestaShop/pull/29261

[2022-08-05 10:05] AureRita commented on #29250
Hi @Said-code777,

I understand that is your first issue, but we create some template to help you to writte a correct issue, if there is different boxes to complete, it's because you've to writte different things on it and currently, you didn't take the template.

All that I can do for you is suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you.

[2022-08-05 10:12] jolelievre commented on #27316
@zuk3975 I'll check myself it's possible that everything has been fixed with different PRs now

[2022-08-05 10:23] AureRita commented on #29229
Hi @hanuchin ,

I tried to reproduce this issue with 1.7.7.8 and I didn't have problems when I selected the product as you can see :

https://user-images.githubusercontent.com/100699445/183057139-8bd21cb6-3243-4ed3-b003-2d73428613c8.mp4

We had many fixes about cart rules until now, this one is maybe fixed since the version 1.7.7.8. Can you do a screen record with the actions part displayed and do

[2022-08-05 11:01] jolelievre commented on #29131
I don't think this requires a refacto 🤔 The interface represents the generic contract needed to perform a search on a grid so it has generic methods. `Filters` class is our main implementation of this interface but it's not the only one, we also have a generic `SearchCriteria` object which is less advanced than Filters (which are used in automatic build based on parameter resolvers) but is still u

[2022-08-05 13:26] zuk3975 commented on #28338
so original cause of this seems to be empty link rewrite. It seems to be fixed in 8.0.x by https://github.com/PrestaShop/PrestaShop/pull/28553/files so it will automatically get fixed when 8.0.x is merged to develop.

I found another issue though (in 8.0.x too). When product has no name and I try to enable it in the list, it doesn't throw any error. (I see error in console, but we should also show

[2022-08-05 13:37] #29168 closed, assigned to nobody

[2022-08-05 14:16] Hlavtox opened #29263 "Add identifying classes to manufacturer and supplier"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-05 14:22] Hlavtox opened #29265 "Wrong body class is set to module front controller"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you create module front contro

[2022-08-05 14:28] Hlavtox opened #29266 "Wrong body class is set to when using content_only parameter"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you request content with `?con

[2022-08-05 15:08] khouloudbelguith commented on #28933
Hi @HanaRebaiQA, @jolelievre,

In my, I cannot reproduce the issue with branch 8.0.x.

https://user-images.githubusercontent.com/16067358/183106187-2943b506-13f7-4c87-95f7-35bffcd4ef6a.mp4

I will close the issue.

Thanks!

[2022-08-05 15:08] #28933 closed, assigned to jolelievre

[2022-08-05 15:10] hibatallahAouadni commented on #29260
Hello @atomiix

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR :rocket:

Thank you

[2022-08-05 15:14] hibatallahAouadni commented on #29263
Hello @Hlavtox

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
Thanks for your PR!

Thank you

[2022-08-05 15:23] khouloudbelguith opened #29267 "Product V2 - Cannot change the pagination in the "Edited combinations" modal"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the "Edited combinations" modal,

[2022-08-05 15:41] khouloudbelguith opened #29268 "[PHP8.1] - A warning is displayed ine the File manager"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > When we try to insert a

[2022-08-05 15:57] khouloudbelguith opened #29269 "BO - Products V2 - Cannot remove the combination reference from the combination's list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Products > Product V2 >

[2022-08-05 16:01] hibatallahAouadni commented on #29259
Hello @atomiix

I was able to reproduce the issue with PrestaShop version 1777, 1786 and 800. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved.
So, we're waiting for your PR :rocket:

Thank you

[2022-08-05 16:09] khouloudbelguith opened #29270 "BO - Product V2 - stock management disabled - An exception is displayed when we try to check the product list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The stock management is disabled, w

[2022-08-05 16:38] hibatallahAouadni commented on #29265
Hello @Hlavtox

Could you please provide a test module to help me reproducing the issue.
Waiting for your feedback.

Thanks!

[2022-08-05 16:40] hibatallahAouadni commented on #29266
Hello @Hlavtox

I didn't manage to reproduce the issue :disappointed: could you please provide a screen record about the issue.
Waiting for your feedback.

Thanks!

[2022-08-05 17:23] #29072 closed, assigned to nobody

[2022-08-06 19:28] Hlavtox commented on #29266
Hi @hibatallahAouadni, I don't know how to show it more...

1. Open any prestashop store.
2. Open any CMS page, for example **Delivery**
3. You should see normal page. When you right click > Show source code, you see in the <body> tag the current layout used - `layout-full-width` / `layout-left-column` and others.

![normal](https://user-images.githubusercontent.com/6097524/183263399-a7f8c237-d1ea

[2022-08-06 19:44] Hlavtox commented on #29265
Hi @hibatallahAouadni

1. Install this module [tox_layouttest.zip](https://github.com/PrestaShop/PrestaShop/files/9275676/tox_layouttest.zip)
2. Go to backoffice > **Theme & logo** > bottom of the page **Choose layouts** and check that `category` and `layouttest` pages have both set the same left column layout.
3. Go to any category on your shop, check source code of the page, find `<body>` tag, a

[2022-08-07 21:04] tiroiretcoton opened #29271 "500 error on debug mode activation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I have a problem while acti

[2022-08-08 07:56] AureRita commented on #28253
fixes #28660

[2022-08-08 07:56] #28253 closed, assigned to MeKeyCool

[2022-08-08 08:01] AureRita commented on #28892
fixes #29054

[2022-08-08 08:01] #28892 closed, assigned to FabienPapet

[2022-08-08 08:02] AureRita commented on #29071
fixed #29158

[2022-08-08 08:02] #29071 closed, assigned to nobody

[2022-08-08 08:28] hibatallahAouadni commented on #29271
Hello @tiroiretcoton

As you can see this [comment](https://github.com/PrestaShop/PrestaShop/issues/12977#issuecomment-475289655), we were not able to reproduce the issue.

Closing the issue as we only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prest

[2022-08-08 08:28] #29271 closed, assigned to nobody

[2022-08-08 08:33] HanaRebaiQA commented on #28933
Thank You @khouloudbelguith & @jolelievre

[2022-08-08 08:36] hibatallahAouadni commented on #29265
Hello @Hlavtox

I encounter an issue while installing your module, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/183376051-3a7dcd85-a873-45f9-af1d-deb6ade50354.png)

Please check and feedback.

Thanks!

[2022-08-08 08:39] hibatallahAouadni commented on #29106
Hello @PrestaEdit

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-08-08 09:18] matks commented on #29169
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29230

[2022-08-08 09:18] #29169 closed, assigned to FabienPapet

[2022-08-08 09:51] hibatallahAouadni commented on #29266
Hello @Hlavtox

I was able to reproduce the issue with PrestaShop versions 1.7.6.7, 1.7.7.8, 1.7.8.6, 8.0.0 and develop. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved.
So, we're waiting for your PR :rocket:

PS: ping @PrestaShop/product-team should we use this class `layou

[2022-08-08 10:13] thbl opened #29275 "Error "Cannot load country: 0""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
When i try to add a new lang / d

[2022-08-08 11:28] AlanReibel commented on #11363
I have the same problem, any news about this?

[2022-08-08 12:50] FabienPapet commented on #16306
Hello @alfonsolr09, I could not have a look on your PR because it is empty. Can you please update it ?

Thank you

[2022-08-08 12:57] FabienPapet commented on #29275
Hello,

The error message is not explicit, but I could find it is related to the `ps_country` table. Can you please check if the country you are trying to add is in your table ?

If not, can you please provide the country you're trying to add ?

Thank you

[2022-08-08 13:04] FabienPapet commented on #28989
Fixed by #29230

[2022-08-08 13:09] FabienPapet commented on #27155
Hello @marwachelly looks like the fix is merged, so can we close this issue ?

[2022-08-08 14:14] florine2623 commented on #29111
Validated by @MatShir
Thanks!

[2022-08-08 14:48] eshraw commented on #28419
LGTM from a product point of view.
Thank you for the issue + PR @lmeyer1

[2022-08-08 15:26] jolelievre commented on #26427
## Status update 🚀

We just released the 8.0.0 Beta 1 version of PrestaShop https://github.com/PrestaShop/PrestaShop/releases/tag/8.0.0-beta.1

[2022-08-08 15:29] alfonsolr09 commented on #16306
I created it, but @atomiix moved it from site or something similar. I do not understand very well how to solve it since I am not an expert in GitHub

[2022-08-08 15:29] alfonsolr09 commented on #16306
I created it, but @atomiix moved it from site or something similar. I do not understand very well how to solve it since I am not an expert in GitHub

[2022-08-08 16:03] hibatallahAouadni commented on #29275
Hello @thbl

Could you please provide your PHP version :pray: did you check your internet connection?
Waiting for your feedback.

PS: don't forget to answer all @FabienPapet questions :wink:

Thanks!

[2022-08-08 16:18] matks commented on #26427
Bravo @jolelievre Release Manager for PrestaShop 8 🎉 and the whole team behind

[2022-08-08 18:47] tiroiretcoton commented on #29271
I dont need you to reproduce the problem.

I need the technical logs of my prestashop account to understand what is the problem.

I will open a new ticket.

Thanks Johan

[2022-08-08 21:43] #29176 closed, assigned to matthieu-rolland

[2022-08-09 07:08] NWNex commented on #29133
Hi,

Were you  able to fix the issue?

Regards,

Julien

De : Sarah Cavrot ***@***.***>
Envoyé : vendredi 22 juillet 2022 17:21
À : PrestaShop/PrestaShop ***@***.***>
Cc : NWNex ***@***.***>; Mention ***@***.***>
Objet : Re: [PrestaShop/PrestaShop] Product list sort order in Command different XML API (Issue #29133)

Hello @NWNex <https://github.com/NWNex> ,

Thank you for your report.

I tried to

[2022-08-09 07:14] touchweb-vincent commented on #20055
Thanks you Matks for this clarification :)

[2022-08-09 07:53] zuk3975 commented on #22372
I see there is a PR already, but I cannot understand the expected behavior. Can it be described?
I mean, should the option "Are you sure you want to delete this entity: store contacts?" be added or its ok that its not there and we just should not allow deleting all contacts before import (so the warning should not be shown as well in that case)?

[2022-08-09 08:20] marwachelly commented on #27155
Hello @FabienPapet,

I retested the module on the dev branch but the issue still exist.

https://user-images.githubusercontent.com/89604350/183600390-7512db75-f425-4a63-a95e-d532763af6b4.mp4

Could you please check?

[2022-08-09 09:11] #28419 closed, assigned to nobody

[2022-08-09 09:12] #29111 closed, assigned to nobody

[2022-08-09 10:27] hibatallahAouadni commented on #29133
Hello @NWNex

Could you please answer @sLorenzini and @florine2623 questions 🙏
And no! We can not fix the issue as we didn't manage to reproduce the issue.
Waiting for your feedback.

Thanks!

[2022-08-09 10:59] szavadskiy opened #29282 "Multistore - BO - Products V2 - Bad displaying of the list with combinations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![ksnip_20220809-124038](https://us

[2022-08-09 11:31] szavadskiy opened #29283 "BO - Products V2 - New product can be saving without name"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![ksnip_20220809-131406](https://us

[2022-08-09 11:49] hibatallahAouadni commented on #29282
Hello @szavadskiy

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #28934.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-08-09 11:49] #29282 closed, assigned to nobody

[2022-08-09 11:49] hibatallahAouadni commented on #29282
Duplicate of #28934

[2022-08-09 12:52] 01Kuzma opened #29285 "Prestashop 1.7.x PHPSESSID cookie expiration Lifetime"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Prestashop PHPSESSID session cookie

[2022-08-09 12:59] #29270 closed, assigned to zuk3975

[2022-08-09 12:59] #29155 closed, assigned to NeOMakinG

[2022-08-09 13:44] adviva opened #29286 "Error "You have requested a non-existent service" while decorating OrderController"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is about OrderController

[2022-08-09 13:46] PrestaEdit opened #29287 "Contextual help is not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The markdown used on help docs is n

[2022-08-09 14:42] DelecroixQuentin opened #29289 "Delivery address force as invoice address when use "use different addresses for invoice""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

Firstly, this issue is similar

[2022-08-09 15:01] hibatallahAouadni commented on #29133
Hello @NWNex

As you can see in the attached screenshot below, your attached screenshots are not displaying cause you responds via mail, so please use github to answer :pray:

![image](https://user-images.githubusercontent.com/23308427/183685261-a207c35c-efc0-4080-b9ec-347cd9b4fec4.png)

Waiting for your feedback.

Thanks!

[2022-08-09 15:44] HanaRebaiQA opened #29291 "BO - The images are not well displayed after adding it in file manager with php8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The images are not well displayed a

[2022-08-09 15:52] HanaRebaiQA opened #29292 "BO - A warnings are displayed in the file manager when add an SVG image extension with php8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A warnings are displayed in the fil

[2022-08-09 16:03] florine2623 opened #29293 "BO > Read-only Employees > When Save redirects to Dashboard instead of showing a warning"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

As a Read-only employee, when I cli

[2022-08-09 17:23] hibatallahAouadni commented on #29283
Hello @szavadskiy

I reproduce the issue with PS800, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/183717142-30685d0d-29d7-4551-a68d-419bcfacbedc.png)

But, we can't save the product without name if we try to enable it, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/183717359-00dd5b9f-4d0d-4658-a80a-