[2019-11-22 07:36] #16081 closed, assigned to nobody

[2019-11-22 08:10] khouloudbelguith commented on #16499
Hi @ziezo,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.2build1.
The email subject & the `shop name` in the email body are incorrect.
It is not the `Shop name` defined in the BO => Shop Parameters => Contact => Stores page
![image](https://user-images.githubusercontent.com/16067358/69408388-0bac6100-0d07-11ea-9ad8-d352fa5be3d8.png)
It is in fact, the `Shop name

[2019-11-22 08:14] khouloudbelguith commented on #16353
Hi @colinegin,

This is a major regression in PS1.7.6, ca we add it to the Backlog 1.7.6?

Thanks!

[2019-11-22 08:16] PierreRambaud commented on #14086
We also get inspiration from https://github.com/staegi/puppet-prestashop and https://supermarket.chef.io/cookbooks/prestashop

[2019-11-22 08:33] khouloudbelguith commented on #16490
@hekep, did you tried to reproduce the issue with PS1.7.6.1?

Because I have an exception & it is not possible to create two orders at the same time
https://drive.google.com/file/d/1eDypd7fbO7nm9FRLlR4LqxxFTtxfL0l-/view

Thanks to check & feedback.

[2019-11-22 08:35] khouloudbelguith commented on #9884
Hi @Gipielle,

Sorry not yet.
Thanks for your understanding!

[2019-11-22 08:38] muyncky commented on #14086
These are installation tools right?

_Deployer_ is a deployment tool (as the name suggests :D), my previous post is only concerned with deployment from local dev environment to staging and production environment. [Learn about Deployer-php](https://deployer.org/#what-is-deployer). Deployer is completely written in PHP, [see the GitHub repo deployerphp/deployer](https://github.com/deployphp/deployer

[2019-11-22 08:43] khouloudbelguith commented on #16486
Hi @Hlavtox,

Thanks a lot for your feedback.
Thanks to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
So you can discuss with our devs about this code fix.
Thank you!

[2019-11-22 09:01] PierreRambaud commented on #16499
Ping @colinegin
Can you confirm this is the desired behaviour? Could you tell us what we exactly want and create a spec for it :smile:

[2019-11-22 09:44] jbunning commented on #9833
In my case the shops use different tax rules, which are also updated in multishop context, so I have added the key to @sdwebdesign temporary fix,

Also, this temporary fix should be done though an override (/overrides/classes/Product.php), so my override looks like this:

`    public function getFieldsShop()
    {
        $fields = parent::getFieldsShop();

        if (Shop::getContext() != Shop::

[2019-11-22 09:44] LouiseBonnard opened #16502 "Add Khmer as a new supported language"
**Is your feature request related to a problem?**
It is not a bug, but a default parameter to update.

**Describe the solution you'd like**
For the 1.7.7 version, following recent activity on Crowdin, it would be nice to add Khmer (`km-KH`) as a new supported language in PrestaShop.

**Why?**
Some languages are available in Crowdin for translation but not available in PrestaShop because of a low c

[2019-11-22 10:11] khouloudbelguith commented on #16476
Hi @jeckyl,

I'm still waiting for the demo module, thanks!
@Eolia, about this solution: https://github.com/PrestaShop/PrestaShop/issues/16476#issuecomment-556093873
What is the exact file did you edit?

Thanks!

[2019-11-22 10:13] jeckyl commented on #16476
sorry @khouloudbelguith but I'm not going to have time to do that.

[2019-11-22 10:16] khouloudbelguith commented on #16476
@jeckyl, I'm trying to reproduce the issue.
Thanks!

[2019-11-22 10:23] hekep commented on #16490
@khouloudbelguith I can't open the video.

We have not checked PS1.7.6.1.  https://github.com/PrestaShop/PrestaShop/pull/9373/files changes only javascript UI side, not database side. So  I assume in  PS1.7.6.1  it is still possible to create multiple orders. Especially if hacker by bypasses your javacript and floods Presta ecommerce with "yes confirm order"  queries ...

[2019-11-22 10:26] khouloudbelguith commented on #16490
@hekep, I attached the screen record again
[Untitled_ Nov 22, 2019 9_32 AM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/3879054/Untitled_.Nov.22.2019.9_32.AM.webm.zip)

Thanks!

[2019-11-22 10:54] PierreRambaud commented on #14086
@muyncky Puppet & chef help to deploy app / tools / software / system configuration :)

[2019-11-22 11:11] eternoendless commented on #9669
Related: #9670

[2019-11-22 11:11] eternoendless commented on #9669
See: https://github.com/PrestaShop/PrestaShop/pull/13460#issuecomment-488624345

[2019-11-22 11:11] eternoendless commented on #9670
Related: #9669

[2019-11-22 11:11] eternoendless commented on #9670
See: https://github.com/PrestaShop/PrestaShop/pull/13460#issuecomment-488624345

[2019-11-22 11:16] eternoendless commented on #13061
This may be fixed through the new design introduced in 1.7.7

Wdyt @matks ?

[2019-11-22 11:31] eternoendless commented on #16070
Unfortunately this cannot be fixed without introducing breaking changes. IMO we should fix this by switching to IETF language tags everywhere in the next major.

[2019-11-22 11:48] muyncky commented on #14086
Can explain your process of versioning and deploying the changes in PrestaShop?

[2019-11-22 11:51] PierreRambaud commented on #14086
@muyncky I currently don't have one for PrestaShop, it still depend on how and what you want to deploy.
This was just a suggestion if we want to extend the deployment process to well-known tools, such as Chef, Puppet, Ansible, which are most of the time used by system administrator.

[2019-11-22 11:54] aledigit opened #16505 "GDPR consent checkbox and text missing in product comments (reviews)"
**Describe the bug**
- Official GDPR compliance 1.1.3 installed and set to show consent checkbox and text in product comments (reviews) form
- Official Product Comments 4.0.1 installed
- Consent checkbox and text are missing when filling product comments (reviews) form.

**To Reproduce**
-  Install Official GDPR compliance
-  Install Official Product Comments
-  Set Official GDPR compliance module

[2019-11-22 12:58] khouloudbelguith commented on #16505
Hi @aledigit,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.0 & PS1.7.6.2build1 GDPR v1.1.3 & Product Comments module v4.0.1.
![image](https://user-images.githubusercontent.com/16067358/69427731-22b37900-0d30-11ea-9989-d48940bfda9b.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it,

[2019-11-22 13:07] eternoendless opened #16507 "Add a check for minimum PHP memory on install"
The [System requirements documentation](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/) states that the minimum recommended memory for PHP should be set to 256Mb. To my understanding, this is not enforced by the installer, putting the install process at risk of crashing.

A check on this requirement should be added to the install process.

[2019-11-22 13:25] edensh89 opened #16508 "Too many redirects"
Every time I click on the logo in the frontend I get error www.castellon.plantoflife.com redirected you too many times.

[2019-11-22 13:33] LouiseBonnard commented on #16502
Here is the main information about it:

Khmer ( ភាសាខ្មែរ )
km-KH (km being the language code for Khmer and KH the country code for Cambodia)

[2019-11-22 13:34] khouloudbelguith commented on #16508
Hi @edensh89,

No, I did not manage to reproduce the issue with your shop.
It is ok.
I attached a screen record
https://drive.google.com/file/d/1_x7PM4dmGRhrgjxN4C-_2D61ksx5cOri/view

Thanks to check & feedback.

[2019-11-22 14:09] #16508 closed, assigned to nobody

[2019-11-22 14:26] khouloudbelguith opened #16509 "BO - can't enable/disable Newsletter option & Enabled option when the field "Partner offers" is required"
**Describe the bug**
In the BO => Customers page => we can't enable/disable Newsletter option & Enabled option  when the field "Partner offers" is required
![image](https://user-images.githubusercontent.com/16067358/69433369-c9e9dd80-0d3b-11ea-97c6-65504e72a3dc.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to BO => Customers => Click on Set required fields for this section
2. Chec

[2019-11-22 14:33] aecarlosae commented on #16507
Hello @eternoendless, the System requirements documentation says **that is a recommendation per script**:

[2019-11-22 14:53] PierreRambaud commented on #16507
@eternoendless only available in HTTP context:
https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/controllers/http/process.php#L300

need to be refactor and placed in ConfigurationTest.php instead

[2019-11-22 14:53] #16249 closed, assigned to nobody

[2019-11-22 15:10] hekep commented on #16490
As a solution we had to create `my_payment_module_validated_carts` table in DB, with  `id_cart` unique column.  First query INSERT is successfull, the following INSERT queries fail, and this is how we prevent duplicate orders.

[2019-11-22 15:11] Klemart3D commented on #15329
Hi,

I created this PR: https://github.com/PrestaShop/productcomments/pull/46

Not sure if it's a real fix or just a workaround but it also used like this in psgdpr module:
https://github.com/PrestaShop/psgdpr/blob/master/views/templates/admin/menu.tpl#L81

For me, in french, like original issuer, js alert is fixed:
![Fix-JS-undefined-token-productcomments](https://user-images.githubusercontent.co

[2019-11-22 15:13] #16233 closed, assigned to NeOMakinG

[2019-11-22 15:17] khouloudbelguith commented on #16490
@hekep, did you tried with this fix: https://github.com/PrestaShop/PrestaShop/pull/9373/files?
have you the same after applying this patch?
did you reproduce the issue with PS1.7.6.1?, PS1.7.3.3 is an old version.

Thanks!

[2019-11-22 15:41] khouloudbelguith opened #16511 "Advanced Customization - When we try to upload a child theme the reload & the message of successful are not displayed"
**Describe the bug**
In the BO => Design => Theme & Logo page => Advanced Customization Tab, when we try to upload a child theme the reload & the message of successful are not displayed.
But, we can check that the theme is well added.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Design => Theme & Logo page => Advanced Customization Tab
2. Click on "Download theme"
3. Click on

[2019-11-22 15:56] hekep commented on #16490
No we have not reproduced the problem with any other version. As I said this is not easy to reproduce.

How ever we have created module, to remove duplicate orders form e-commerce.

https://github.com/AhcoOy/ahcoprestatools

[2019-11-22 15:56] #16379 closed, assigned to nobody

[2019-11-22 16:13] MatShir opened #16512 "[ORDER PAGE] Products Panel 2/2 - 9/11"
Part of the order page migration and redesign project.

**User Story**

As a merchant, when I check an order, I need to see my products clearly. Pagination will allow me to navigate in a rigorous way in all the products ordered while keeping the order page functional.

**Detailed specification**

To keep the page useable is to add pagination on the product list if it goes beyond the 8 products. Ot

[2019-11-22 16:23] khouloudbelguith commented on #16490
Hi @hekep,

Thanks for your feedback.
but since I did not manage to reproduce the issue, we need to close the issue.

Thanks!

[2019-11-22 16:47] khouloudbelguith commented on #16021
Hi @Klemart3D,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thanks!

[2019-11-22 16:47] #16021 closed, assigned to nobody

[2019-11-22 16:57] Klemart3D commented on #16021
Hi, I received a call today from a developer of Configurator module but for him error 500 is not linked to the module but maybe to the nginx config or to some PrestaShop's issues that must be fixed before like #15333 or #15329. So it's not fixed at this day, but we will try to apply patches or wait for PS 1.7.6.2...

[2019-11-22 17:04] MatShir commented on #15826
related to #16512

[2019-11-22 17:13] aledigit commented on #16505
Ok!

[2019-11-23 03:30] CatchMeZZo commented on #16353
I hope it to! This bug also ensures that my search does not display the products that a supplier has selected.

[2019-11-23 06:26] ChoshimWy opened #16513 "Product title in uppercase"
I want to display the product name on the first page but not in all uppercase. Can I change it directly in the background template? If not, can I tell you the specific change method，Thank you!

[2019-11-23 15:48] nicoladze opened #16514 "Error - Unclear alert when adding keywords with max length > 255 chars or an invalid Friendly URL to a category"
**Describe the bug**
I encounter an error when I add a new keyword to an old category (but not everytime... and there is no error on debug mode)

**To Reproduce**
Steps to reproduce the behavior:
**Case1:**
1. Go to Catalog -> Category
2. Click on Modify on a category already created and fulfilled while you were on PS 1.7.2.4
3. Scroll down to "Keywords"
4. Add new keywords  with max length > 255

[2019-11-23 18:31] camillo777 opened #16515 "[API Web Services] Search API does not allow "display" fields"
**Describe the bug**
Calling the "search" web services API, specifying specific display fields gives an error.

**To Reproduce**
Brand new Prestashop 1.7.6.1 installation with sample shop.

Call:
http://<key>@<host>/prestashop/api/search?language=1&query=[mug AND coffee]&display=[id,name]&output_format=JSON

[code]

**Screenshots**
If applicable, add screenshots or screenrecords to help explain yo

[2019-11-24 11:57] osamachihadeh opened #16516 "when change any thing in admin dashboard and click save redirect to login page"
Hello
i can not do any edit in website, E.x. when i change language and save page transfer me to login page without save any thing. Then I try to add new supplier when click save transfer me to login page without save agin .
 any solution

[2019-11-24 14:52] Cedricdelcroix commented on #16221
Hey I have similar issue

![image](https://user-images.githubusercontent.com/6152553/69496429-6940d900-0ed2-11ea-8894-2631152e8a86.png)

[2019-11-24 15:30] drumstore commented on #9809
Hello :)

Is there any chance That Prestashop solve this problem soon ?
Same problem here. www.drumstore.pl

I  have noticed that, quite frequently mysql serwer is going away. here are few lines from the log:
[19-Sep-2019 12:36:52 Poland] PHP Warning: PDO::query(): MySQL server has gone away in /home/drumstor/public_html/drumstore/classes/db/DbPDO.php on line 156
[27-Jul-2019 23:33:52 Poland] PHP

[2019-11-24 22:46] hitinder opened #16518 "Option to make Combinations required."
**Is your feature request related to a problem? Please describe.**
The problem starts when a customer decides to use the add the cart button from the home screen. This step uses default combinations to add items to the cart; therefore, store owners will get a wrong order and eventually have to return the item.

**Describe the solution you'd like**
To solve this problem, a feature should be introdu

[2019-11-25 07:35] khouloudbelguith commented on #16092
Hi @xiaoyuan1998,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-25 07:35] #16092 closed, assigned to nobody

[2019-11-25 07:36] khouloudbelguith commented on #15721
Hi @01park,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-25 07:36] #15721 closed, assigned to nobody

[2019-11-25 07:36] khouloudbelguith commented on #16120
Hi @copyact,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-25 07:36] #16120 closed, assigned to nobody

[2019-11-25 07:58] khouloudbelguith commented on #16513
Hi @WeiRuJian,

You need just to replace this:
[code]
by this
[code]
in the file /Project_Folder/themes/your_theme/assests/css/theme.css line 6399 after reformating code.

![image](https://user-images.githubusercontent.com/16067358/69522458-b61fc080-0f61-11ea-8fd9-f2e0a3b1733d.png)
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-11-25 07:58] #16513 closed, assigned to nobody

[2019-11-25 08:07] khouloudbelguith commented on #16515
Hi @camillo777,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade

[2019-11-25 08:09] Djolhan commented on #11450
I think this can be related to the licence status ? If licence is expired, and module update is major, then, the error is probably incorrect and must be, your licence don't allo you to update the module, Zen option is needed to extend updates status ?

[2019-11-25 08:10] khouloudbelguith commented on #16514
Hi @nicoladze,

I did not manage to reproduce the issue with PS1.7.6.1 after an upgrade from PS1.7.2.4 using the 1-click upgrade v4.9.0.
I attached  screen record
https://drive.google.com/file/d/1Ej7tSADUVrIdLcH51XIEFt97jbb7bOnO/view
Thanks to check & feedback.

[2019-11-25 08:13] edensh89 opened #16519 "Add to cart doesn't work"
Add to cart button doesn't work.
Open https://www.castellon.plantoflife.com/ scroll down and click on Add to cart
Get an error - "Error adding. Please go to product detail page and try again".
After trying to add to cart click on something/ refresh the page cause this error - ERR_TOO_MANY_REDIRECTS

PrestaShop version: 1.7.3.0
PHP version: 7.1.30

[2019-11-25 08:15] khouloudbelguith commented on #16516
Hi @osamachihadeh,

Here are some things you can try :

1/ Clear your browser cache and your cookies

2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table

3/ Manually clear smarty cache: remove all files from /var/cache/

4/ Disable the IP check in classes/Cookie.php (this can cause many issues with dynamics IP)

5/ Into the path /PROJECT_FOLDER/classes/controller/AdminControl

[2019-11-25 08:24] khouloudbelguith commented on #16519
Hi @edensh89,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log

Does this issue occur before upgrading the ps_shoppingcart module to 2.0.3?
Don't you know how to get this information? Please read the following article:
http://build.prestashop.

[2019-11-25 08:31] ddtloan commented on #16490
Recently, I have the same issue. It split to 2 orders same reference. But user only create 1 order. Hard to reproduce it. But it still displays.

[2019-11-25 08:32] khouloudbelguith commented on #16518
Hi @hitinder,

But this new feature is added by your custom theme.
With the default theme Classic provided by PrestaShop, we have only Quick view action.
![image](https://user-images.githubusercontent.com/16067358/69524471-698ab400-0f66-11ea-9d7f-981a06188181.png)

Thanks to check & feedback.

[2019-11-25 08:37] khouloudbelguith commented on #16490
Hi @hekep,

Split order in two orders, it is another issue:
This issue of split orders.
In your case,
1. Do you have more than one carrier?
2. For product 1 which can be shipped to the customer's address => in the BO => Product details page => Shipping Tab => you have selected a specific Carrier?
3. For the product 2 which cannot be shipped to the customer's address => in the BO => Product details

[2019-11-25 08:39] edensh89 commented on #16519
Yes it was reproduce before upgrade ps_shoppingcart.
I don't see errors when debug mode is on.
This issue reproduce every time after click on add to cart and refresh the page.

I see these errors in the php error log:
[25-Nov-2019 09:25:14 Europe/Madrid] PHP Notice:  Undefined index: search_string in /plantoflife.com/castellon/vendor/prestashop/smarty/sysplugins/smarty_internal_templatebase.php(15

[2019-11-25 08:39] hitinder commented on #16518
Hello @khouloudbelguith ,
Even if we disable the *add to cart from the home screen* customers will open the quick view screen and add the product to cart without making any changes to combination.
The point I am trying to make is that a customer should always choose the combinations to make sure they are true to the requirement. At present, if a customer doesn't choose the combinations they end up

[2019-11-25 08:42] #16409 closed, assigned to nobody

[2019-11-25 08:50] khouloudbelguith commented on #16221
Hi @Cedricdelcroix,

I think that this is another problem.
your total is multiplied.
What is the exact version PS did you use?
did you use only the currency €?
This is the currency by default?

Thanks!

[2019-11-25 08:51] ddtloan commented on #16490
![image](https://user-images.githubusercontent.com/54904401/69525575-fd767300-0f9a-11ea-98b8-e406aa362cfd.png)
1. Yes, we have more than carrier. But in this time, we only use 1 carries and make it as default. Then we hide it on FO. So that, end user can not change / select carrier.
2 & 3. I do not select a specific carrier. And with 2 order it also can be shipped to the customer's address.
4 & 5.

[2019-11-25 09:08] #13589 closed, assigned to Progi1984

[2019-11-25 09:22] hekep commented on #16490
No split carrier. Only on article row and one warehouse.  No advanced stock.

We have DUPLICATE ,   cloned orders, with the same id_cart, done in one second.  As I said before, cart has got 2 orders.  https://github.com/PrestaShop/PrestaShop/issues/16490#issuecomment-557072471  The cart 6756 has only one article row.

Now I see, why you do not want to  `id_cart` column to be unique in `orders` tab

[2019-11-25 09:43] #16519 closed, assigned to nobody

[2019-11-25 09:46] grzegorzgit opened #16521 "Can't edit carrier if the ranges are overlapping."
**Describe the bug**
If you add a carrier and add second range for shipping and save it, it is impossible to edit this carrier. When you go to editing carrier, it stops on the first step "General settings" and the "next" button is not active, and when you try to click next step "Shipping locations and costs" it stays on the first step showing error "Ranges are overlapping" at the same time not all

[2019-11-25 09:47] khouloudbelguith commented on #16519
@edensh89, issue fixed?

Thanks!

[2019-11-25 09:49] edensh89 commented on #16519
No, I will try to reinstall and will see if it works.

[2019-11-25 10:35] seisnet commented on #13386
i made this fix on classes/Mail.php and it works
row 318 from `$toPlugin = $to[0];` to `$toPlugin = self::toPunycode($to[0]);`
row 321 from `$toPlugin = $to;` to `self::toPunycode($to);`

[2019-11-25 10:38] colinegin commented on #13386
Hello @seisnet ,

thanks for this information, would you be willing to make a pull request with your fix ?

Have a nice day,

Coline

[2019-11-25 10:40] seisnet commented on #13386
No, i am not wiling sorry

[2019-11-25 10:44] MatShir opened #16523 "[ORDER PAGE] New hooks"
**New hooks mapping**
We will add new hooks on the top with the other button. This hooks will force the module to have the same design as the other one.

![68310376-30ba9600-00b0-11ea-86f3-52e5dffa2435](https://user-images.githubusercontent.com/43613217/69533736-ac558780-0f78-11ea-923f-7c7578e124bc.jpg)

**Known limitation**
Mapping requires that "when there is not enough space for all buttons to

[2019-11-25 10:45] MatShir commented on #16523
#16144

[2019-11-25 11:15] khouloudbelguith commented on #16521
Hi @grzegorzgit,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2
In fact, in the step n°7 =>, when we click finish, in the database we have wrong value saved
![image](https://user-images.githubusercontent.com/16067358/69535341-03109080-0f7c-11ea-8a66-b11f77f060f6.png)
So, when we try to edit this carrier => NOK
![image](https://user-images.githubusercontent.com/

[2019-11-25 12:04] khouloudbelguith commented on #9809
Hi @drumstore,

This is a major issue with the top watchers label.
We are working on the product page to fix all issues.
#13891

Thanks for your understanding!

[2019-11-25 12:10] khouloudbelguith commented on #16518
@hitinder, thanks for your feedback.

But, the default combination is selected as you can see in this screenshot
![image](https://user-images.githubusercontent.com/16067358/69539344-9221a680-0f84-11ea-9bd6-c4cc6737266c.png)
So, this is normal behavior that's this combination will be added to the cart.

Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2019-11-25 12:13] camillo777 commented on #16515
Hello @khouloudbelguith the "products" API is working fine for me with display fields even on php 7.3.
What I am not able to make it work is the "search" API:

http://@/prestashop/api/**search**?language=1&query=[mug AND coffee]&**display=[id,name]**&output_format=JSON

I am trying the same on the latest PrestaShop Docker image (php5.6 ps1.76.1) and result is:

`{
    "errors": [
        {

[2019-11-25 12:29] nicoladze commented on #16514
@khouloudbelguith

Yes, I know; even in my case, it does not occur everytime.

Do you know what kind of error it means : [PrestaShop\PrestaShop\Core\Domain\Category\Exception\CategoryException code 0]

[2019-11-25 12:31] hitinder commented on #16518
@khouloudbelguith you are welcome.
I don't think this it's a normal behavior with most of the eCommerce platform. Firstly, it will not ask the customer to double-check the color and size. Secondly, impulse buyers will always end up making a wrong order.

Check the below screenshot from Amazon.com. When a customer is trying to add items to the cart, it won't allow, but it is asking them to select *

[2019-11-25 12:55] #16458 closed, assigned to nobody

[2019-11-25 13:29] #16499 closed, assigned to PierreRambaud

[2019-11-25 13:47] matks commented on #16523
@MatShir it's "Order page", not "Create order" 😉

[2019-11-25 14:10] MatShir commented on #16523
Indeed :roll_eyes:, thanks

[2019-11-25 14:21] 8ternity commented on #16154
@khouloudbelguith After investigating, it wasn't the catalog.twig the issue. It was a module which called non secure {base_url}. Creating a rule in his code for {if $force_ssl} and having a URL with base_store_ssl and one without has resolve the issue.

[2019-11-25 14:28] khouloudbelguith commented on #16515
@camillo777, thanks for your feedback.
I have the same error with PS1.7.6.1 & PS1.7.5.2 & develop branch.
When I try to search with this link=> `http://shop.com/api/search?language=1&query=[mug%20AND%20coffee]&display=[products[id,name],categories[id]]`

=>Unable to display this field "product (details : array ( 0 => 'id', 1 => 'name', ))". However, these are available:
![image](https://user-image

[2019-11-25 14:30] khouloudbelguith commented on #16154
Hi @8ternity,

Thanks for your feedback.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-11-25 14:39] khouloudbelguith commented on #16514
@nicoladze, I think the issue is related to the Friendly URL of your category.
In your BO => Shop Parameters => Traffic & SEO page => Try to enable "Accented URL" => save & now check again the category.

Thanks!

[2019-11-25 14:40] khouloudbelguith commented on #16518
@hitinder, thanks for these clarifications.
I just pinged our Product team to discuss about this improvement.

Thanks!

[2019-11-25 14:54] khouloudbelguith commented on #16353
@CatchMeZZo, this issue is reported here: https://github.com/PrestaShop/PrestaShop/issues/15640

Thanks!

[2019-11-25 14:57] augustu5 opened #16529 "Installation error v1.7.6.1"
**Describe the bug**
At the configuration step of installation process I'm getting an error:
1: Unable to write into "pl-PL"" (data layer : "PrestaShop\PrestaShop\Core\Data\Layer\AbstractDataLayer")

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize installation process

**Screenshots**
![PHP PrestaShop Info](https://user-images.githubusercontent.com/12048630/69550971-382cdb00-0f9c-1

[2019-11-25 15:00] khouloudbelguith commented on #16490
@ddtloan, did you delete your last comment?

Prestashop version: 1.7.5.0
1/ Yes, we have more than carrier. But in this time, we only use 1 carrier and make it as default. Then we hide it on FO. So that, end user can not change / select carrier.
2 & 3/ I do not select a specific carrier. And with 2 orders it also can be shipped to the customer's address.
4 & 5/ Same carrier for order 1 and order 2

[2019-11-25 15:02] khouloudbelguith commented on #16529
Hi @krystian-3c,

The `memory_limit` must be to a minimum of 256M.
Thanks to increase it in the PHP's config, check & feedback.

PR: https://github.com/PrestaShop/PrestaShop/pull/16527

Thanks!

[2019-11-25 15:11] nicoladze commented on #16514
@khouloudbelguith

I did what you have suggested but the error is still occuring.
And just for you to know, there was no accent in my URL.

Is that coming from too much meta keywords?

42 keywords, total letters : 286

[2019-11-25 15:18] ddtloan commented on #16490
Hi, I repost it at here.
Prestashop version: 1.7.5.0
1/ Yes, we have more than carrier. But in this time, we only use 1 carrier and make it as default. Then we hide it on FO. So that, end user can not change / select carrier.
2 & 3/ I do not select a specific carrier. And with 2 orders it also can be shipped to the customer's address.
4 & 5/ Same carrier for order 1 and order 2. But some products

[2019-11-25 15:40] khouloudbelguith commented on #16514
@nicoladze, thanks for these clarifications.
Yes, you are right.
When we create a category with Meta keywords with max length > 255 chars, we have this alert => not clear( reproduced with PS1.7.6.1 & PS1.7.6.2build1 & develop)
![image](https://user-images.githubusercontent.com/16067358/69553856-1eda5d80-0fa1-11ea-9b10-76a4642e0d32.png)

It was ok with PS1.7.5.2
![image](https://user-images.githubu

[2019-11-25 15:44] nicoladze commented on #16514
@khouloudbelguith

Is there a way in the BO to enlarge the size limitation (like for a description in a product sheet)?

[2019-11-25 15:52] colinegin commented on #13386
Hello @seisnet ,

Thanks for your reply, is there any reason why you are not willing to do so ? Maybe we could help you ?

[2019-11-25 15:52] khouloudbelguith commented on #16514
@nicoladze, in this line: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Category.php#L130
You can change `255` by your desired value.

Thanks!

[2019-11-25 15:53] nicoladze commented on #16514
@khouloudbelguith

Thanks a lot

[2019-11-25 15:54] LouiseBonnard commented on #16455
Here are the elements of wording needed:

_Open in new tabs_ in _Admin.Actions_

_We are unable to open all selected orders in new tabs, you might have exceeded the number of tabs allowed. Check your browser settings to open multiple tabs._ in _Admin.Notifications.Warning_

OR

_We are unable to open all selected orders in new tabs, you might have exceeded the number of tabs allowed. Check your br

[2019-11-25 16:06] seisnet commented on #13386
i have no time to do this. Sorry

[2019-11-25 16:20] colinegin commented on #9982
@LouiseBonnard this is a duplicate of another issue you've created right ?

[2019-11-25 16:22] colinegin commented on #10393
@MatShir is it still relevant with the new design ?

[2019-11-25 16:23] LouiseBonnard commented on #9982
Issue handled, cf. https://github.com/PrestaShop/PrestaShop/issues/16336

[2019-11-25 16:23] #9982 closed, assigned to nobody

[2019-11-25 16:24] MatShir commented on #10393
@colinegin
The alternative option wasn't really satisfying, so It is not shipped for the next version.

[2019-11-25 16:26] colinegin commented on #15134
Hello @marionf and @LouiseBonnard is there anything to do here on our side ?

[2019-11-25 16:29] colinegin commented on #9893
Hello @LouiseBonnard , do you know if we still have the issue ? If yes, is there something we could do ?

[2019-11-25 16:32] colinegin commented on #9816
@LouiseBonnard do you know why we have this issue ? any idea on how to fix it ?

[2019-11-25 16:41] Klemart3D commented on #15329
Rebased

[2019-11-25 16:49] khouloudbelguith commented on #16490
@ddtloan, I think, your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/11115, is it?

Thanks!

[2019-11-25 16:57] matutin0 commented on #16327
Thanks a lot matks!
Do you know what could be a good way to integrate reCAPTCHA in user registration form?

[2019-11-25 17:14] #16293 closed, assigned to matks

[2019-11-25 17:16] matthieu-rolland commented on #15522
I looked for this bug, I see where it's coming from, but I'm not sure about the best way to fix it, I don't think we'll manage to fix it before the 1.7.7 feature freeze.

Basically, the value is fetched in this file:

`classes/customer.php` on line 842.

I'm note sure if this table should be updated when there is a refund in an order, or if it should be kept as it is, and the total paid value shou

[2019-11-25 17:29] LouiseBonnard commented on #15134
Hey @colinegin, the issue is addressed [here](https://github.com/PrestaShop/PrestaShop/issues/12590), it is waiting for dev. I guess we can close this issue to avoid duplicates?

[2019-11-25 19:36] hitinder commented on #16518
@khouloudbelguith, if you can share the name and location of the files involved with this functionality, I can try to do some code changes and test them on my own.
Thanks!

[2019-11-25 23:39] MFdoom23 opened #16536 "PayU transaction"
I got problem with PayU transaction, message after check ouut purchase  [code=0], [message=Failed to connect to secure.payu.com port 443: Connection refused] any help?

[2019-11-25 23:49] krystian-3c commented on #16529
Error persists after raising the memory limit.
![PHP PrestaShop Info (1)](https://user-images.githubusercontent.com/12048630/69587689-97174200-0fe6-11ea-95c8-4ab0a36f4c3b.png)

If the error relates to directory in app/Resources/translations folder access permissions are not the problem.

[2019-11-26 02:30] langziyang opened #16537 "how can i find why is slow"
our mian page is very slow. this is our information
![Image of Yaktocat](https://www.518global.com/images/infor.png)

vps:
![Image of Yaktocat](https://www.518global.com/images/infor1.png)

mysql:
![Image of Yaktocat](https://www.518global.com/images/mysql.png)

profiling:
![Image of Yaktocat](https://www.518global.com/images/infor2.png)

so: how can i tracking why display is too slow?

[2019-11-26 03:00] baskettcase opened #16538 "ps_emailsubscription not rendering html"
**Describe the bug**
On the signup form it renders as this:
Sign up for our newsletter &lt;br&gt;&lt;em&gt;You may unsubscribe at any time.&lt;/em&gt;

instead of this:

Sign up for our newsletter<br><em>You may unsubscribe at any time.</em>

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the user signup page
2. Look at the subscription checkbox field label

**Additional information**

[2019-11-26 03:28] baskettcase commented on #16538
I finally just created an override for the hookAdditionalCustomerFormFields method and changed this:

[code]

to this:

[code]

I would rather not override, but at this point I don't see any other way to do this. It doesn't want to actually render the html, it's just rendering the html tags. And in the theme/templates/_partials/form-fields.tpl file we have nofilter for rendering, if I remove that,

[2019-11-26 07:36] khouloudbelguith commented on #16143
Hi @johanlantz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-26 07:36] #16143 closed, assigned to nobody

[2019-11-26 07:36] khouloudbelguith commented on #16136
Hi @mmarquez,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-26 07:36] #16136 closed, assigned to nobody

[2019-11-26 07:41] khouloudbelguith commented on #16536
Hi @MFdoom23,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-11-26 07:41] #16536 closed, assigned to nobody

[2019-11-26 07:42] hekep commented on #16490
This is not helping us.

The duplicate orders have different references.

[2019-11-26 07:46] khouloudbelguith commented on #16537
Hi @langziyang,

Thanks to follow these steps:

- `Never recompile template files`: this option is to be chosen for maximum performance.
- `Cache enabled (YES)`: makes pages fastest.
- `Smart cache for CSS (YES)`: brings together in a single file, compresses and caches CSS files.
- `Smart cache for Javascript (YES)`: brings together in a single file, compresses and caches JS files.
- `Apache Optim

[2019-11-26 07:49] langziyang commented on #16537
i already did all list,i want know how to track the display time is 8442 ms, thanks

[2019-11-26 07:58] khouloudbelguith commented on #16538
Hi @baskettcase,

Her's the PR: https://github.com/PrestaShop/PrestaShop/pull/16468 to fix the issue.
Your ticket is a duplicate of #15849
So, I close it.
Thanks!

[2019-11-26 07:58] #16538 closed, assigned to nobody

[2019-11-26 07:58] khouloudbelguith commented on #16538
Duplicate of #15849

[2019-11-26 08:00] khouloudbelguith commented on #16537
@langziyang, you need to enable profiling mode & just did it.
When profiling mode is enabled, you should have information about the time needed to run queries.

Thanks!

[2019-11-26 08:02] khouloudbelguith commented on #16490
@hekep, no, it is not your issue, #11115 is similar to @ddtloan' s issue.

Thanks!

[2019-11-26 08:11] ddtloan commented on #16490
Hi @khouloudbelguith ,
#11115 is not my issue. After check with client, they bought only 1 order with 6 products. With, in BO it show 3 products in first cart, and 3 products in another cart. I have tried to reproduce with same products, but cannot. So I think it is not relate to carrier (we only 1 default carrier and user cannot change / select).

Bellow is another order related to duplicated ref

[2019-11-26 08:20] khouloudbelguith commented on #16529
HI @krystian-3c,

In my case, I did not manage to reproduce the issue with PS1.7.6.1 with Poland's country & Polish language.
https://drive.google.com/file/d/1UpAfkwSfY55iGJtzS9hNk_fp7TARevXy/view

Thanks to check again your directory permission.
In the meantime, we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2019-11-26 08:28] khouloudbelguith commented on #16327
Hi @matutin0,

Using, for example, this module: https://addons.prestashop.com/en/website-security-access/18478-re-captcha-anti-spam-recaptcha.html, you no longer need to place a line of code on your templates. Everything is automatic for Prestashop.

Thanks!

[2019-11-26 08:30] khouloudbelguith commented on #16518
Hi @hitinder,

Thanks a lot.
if you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-11-26 08:58] colinegin commented on #15134
Yes exactly, we just need to note this as a duplicate. Thanks !

[2019-11-26 09:03] LouiseBonnard commented on #15134
DUPLICATE OF #12590

[2019-11-26 09:03] #15134 closed, assigned to nobody

[2019-11-26 09:08] khouloudbelguith commented on #16490
@ddtloan, thanks for your feedback.
The payment method used in your case, is it the native module provided by PrestaShop or bought from our Addons Market place?
This issue occurs only when using this payment module?

Thanks!

[2019-11-26 09:21] #9481 closed, assigned to nobody

[2019-11-26 09:40] ddtloan commented on #16490
@khouloudbelguith
Cash on delivery method provided by Prestashop.
![image](https://user-images.githubusercontent.com/54904401/69617871-7a711d80-106b-11ea-9059-de6ceb02d92f.png)

[2019-11-26 09:41] PrestaworksNiklas opened #16540 "Filtering by date in /Logs does not work"
**Describe the bug**
Filtering by just a day in the filter option return "No records found".

**To Reproduce**
Steps to reproduce the behavior:
1. In the Back Office, go to Advanced Parameters / Logs
2. To filter by just one day, select a date in the "from" field and the same date in the "to" field.
3. Expected result: The logs for the selected day shows up
4. Result: No records found (though ther

[2019-11-26 09:53] khouloudbelguith commented on #16540
Hi @PrestaworksNiklas,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

This issue is

[2019-11-26 10:14] PrestaworksNiklas commented on #16540
Hi @khouloudbelguith,

I have downgraded my PHP version, added the fix you refer to but it still does not work when filtering on the same date.

[2019-11-26 10:27] #15272 closed, assigned to NeOMakinG

[2019-11-26 10:34] PierreRambaud commented on #16098
@khouloudbelguith Can you try again, I don't manage to reproduce it :(

[2019-11-26 10:43] Hlavtox commented on #16537
@khouloudbelguith profiling doesnt work

[2019-11-26 10:43] khouloudbelguith commented on #16098
Hi @PierreRambaud,

I still manage to reproduce the issue with the develop branch.
I followed these steps twice

2.Create three categories page with the same name "cat1"
3.Delete all these categories with the bulk actions
4.Create a new category page with the same name
5.Create a page associated with this previous category

at the first time ok, but on the second time NOK.
https://drive.google.com

[2019-11-26 10:46] khouloudbelguith commented on #16537
Hi @Hlavtox,

Profiling for hooks is broken as reported here: https://github.com/PrestaShop/PrestaShop/issues/9659, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/16231 to fix the issue.
But it can help us to get information about the time needed to run queries.

Thanks!

Thanks!

[2019-11-26 10:48] khouloudbelguith commented on #16540
@PrestaworksNiklas, I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1kuaf1IAyDfu40VySQepEJc0bO1FLhrOY/view
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Are you using a fresh install PS1.7.6.1 or an upgrade from a previous version?
Thanks to check and feedback.

[2019-11-26 10:51] Dupflo opened #16544 "Error 500 Regenerate images multi-store"
I get an error 500 when I am trying to regenerate images even after activated debug mod, I am unable to check where the error comes from. Mult-store is activated and this is probably the cause.

Steps to reproduce the behavior:
1. Enable Multi-store
2. Try to regenerate all the images

**Additional information**
PrestaShop version: 1.7.6
PHP version: 7.1 (I am using Smartblog module so I cannot up

[2019-11-26 10:52] PrestaworksNiklas commented on #16540
@khouloudbelguith, I use a new fresh install. I could not see that you filtered on the same date. e.g., from 25/11/2019 to 25/11/2019, in order to just see the logs from 25/11

[2019-11-26 10:58] khouloudbelguith commented on #16490
Hi @ddtloan,

I did not manage to reproduce the issue with PS1.7.6.1 & COD v1.0.6.
I attached a screen record
https://drive.google.com/file/d/14ku1fALe8AiEo3lphWsoC-XZn7EWx7CY/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/h

[2019-11-26 11:00] khouloudbelguith commented on #16540
@PrestaworksNiklas, it is Ok.
https://drive.google.com/file/d/1gXPp42u6AE5Yq0oFRfOlEG8Ss2IBkWFo/view

Thanks!

[2019-11-26 11:01] khouloudbelguith commented on #16544
Hi @Dupflo,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/ho

[2019-11-26 11:02] Hlavtox commented on #15075
@eternoendless @khouloudbelguith

Hi guys, tried with 1.7.6.1 and still the same.

Just to clarify:
- I am on a custom theme classic-rocket.
- If the string is in a TPL file, it shows and can be translated.
- If the string comes to TPL from the core as $variable, it cannot be translated.
- If you look to the code, source the string and its domain AND insert it to ps_translations AND clear var/cach

[2019-11-26 11:05] Hlavtox commented on #16521
This bug is there since 1.6...

It always threw all kinds of JS errors, sometimes it didn't save for some reason etc.

[2019-11-26 11:05] khouloudbelguith commented on #15075
Hi @Hlavtox,

This issue is not fixed yet.
It is still open & it is added to our bug roadmap.

Thanks!

[2019-11-26 11:32] ghost opened #16546 "Emails translations Save and stay problem"
When i translate email themes in my custom theme and click Save and stay page reload to Core (not theme selected) translation. Translation files save ok in theme/my_theme/mails.
When i try to translate Core (not theme selected) email it works well. File is saving ok and backend stay on correct translation.

**To Reproduce**
Steps to reproduce the behavior:
1. International -> Translations
2. Selec

[2019-11-26 11:36] khouloudbelguith commented on #16546
Hi @simon12q,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #14182
So, I close it.
Thanks !

[2019-11-26 11:36] #16546 closed, assigned to nobody

[2019-11-26 11:36] khouloudbelguith commented on #16546
Duplicate of #14182

[2019-11-26 12:11] Jenci666 commented on #12687
Hi Everyone

I thought i will share my experince with all of you, It might be useful for some of you.
I have followed the guide suggested above, but it did not solve my issue at all only the price and currency issue.
I have Prestashop 1.7.6.4.

I have made additional modification on the product.tpl file
Can be found here:
/public_html/themes/classic/templates/catalog/_partials/miniatures/product.t

[2019-11-26 12:26] alaminmishu opened #16547 "voucher input box not showing but vouchers are active"
I have followed the steps to create a voucher but somehow there is no box that displays an input for the voucher codes.

plz look at this website: https://inglotbangladesh.com/

If you inspect you will see discount price have rendered but price set as 0. plz someone give proper explanation.

[2019-11-26 12:29] alaminmishu commented on #16547
Prestashop version 1.6.1.23

[2019-11-26 12:30] alaminmishu commented on #16547
I've followed this post https://www.prestashop.com/forums/topic/248040-voucher-input-box-not-showing-but-vouchers-are-active/ but no luck.

[2019-11-26 12:41] hekep commented on #16490
For some reason we have got 6 orders per 1 cart, which has only one row.

![image](https://user-images.githubusercontent.com/1901788/69634172-5bb65b00-105a-11ea-8084-6d4ccf79bd4b.png)

[2019-11-26 13:19] #16430 closed, assigned to PierreRambaud

[2019-11-26 13:20] #16228 closed, assigned to PierreRambaud

[2019-11-26 13:20] #16352 closed, assigned to NeOMakinG

[2019-11-26 13:22] matks opened #16549 "No create order button in orders listing for SF pages"
## Describe the bug

I noticed an issue on migrated Orders listing (available at URL `/admin-dev/index.php/sell/orders/orders/`).

The "create an order" button is not there ... and actually the top item of each BO page is not there at all.
![Capture d’écran 2019-11-26 à 14 19 35](https://user-images.githubusercontent.com/3830050/69636854-cdd97080-1057-11ea-92b9-9c3822cb4c68.png)

This is actuall

[2019-11-26 13:22] matks commented on #16549
ping @TristanLDD @MatShir

[2019-11-26 13:28] khouloudbelguith commented on #16490
@hekep, did you use a specific payment module?
Your screenshot od from the shopping cart page.
Have you the same duplicated orders in the BO => Order page?
Did you use the Mailchimp module?

THanks!

[2019-11-26 13:30] khouloudbelguith commented on #16460
Same issue with PS1.7.6.0

[2019-11-26 13:42] khouloudbelguith commented on #16509
Same issue with PS1.7.6.0
https://drive.google.com/file/d/1naq1sws0f1cQZum0FiGHkFwp0ldWwQLC/view

[2019-11-26 13:46] khouloudbelguith commented on #16353
Same issue with PS1.7.6.0
https://drive.google.com/file/d/1pZcgTJGKtElBRimImEYo4XezWBQGwJ9V/view

[2019-11-26 13:50] khouloudbelguith commented on #16514
Same issue with PS1.7.6.0
![image](https://user-images.githubusercontent.com/16067358/69638954-fd8a7780-105b-11ea-8fb2-b967d2f12acc.png)

Thanks!

[2019-11-26 14:11] khouloudbelguith commented on #16491
Hi @marionf,

With PS1.7.6.0.
I have another exception not reproduced in the PS1.7.6.1 block the last step.
https://drive.google.com/file/d/1jFRvQu-eCKNwtC3lr3sL1mqBiipHvf6u/view
In the last step after clicking on "Place the order" button, an exception is displayed
![image](https://user-images.githubusercontent.com/16067358/69640578-dd0fec80-105e-11ea-9bd0-dd36c352fc6d.png)
If we check the order,

[2019-11-26 14:14] khouloudbelguith commented on #16328
Same issue with PS1.7.6.0
Only 50 customers are exported.

[2019-11-26 14:18] khouloudbelguith commented on #16273
Same issue with PS1.7.6.0

[2019-11-26 14:28] khouloudbelguith commented on #16491
Hi @202-ecommerce,

I reproduced a new problem with PS1.7.6.2build1 & PS1.7.6.1 following previous steps:
-After creating the order, if we check the discounts page, a new cart rule is created automatically.
![image](https://user-images.githubusercontent.com/16067358/69641958-57da0700-1061-11ea-9406-ab31ec8a15de.png)

Thanks!

[2019-11-26 14:31] Hlavtox opened #16551 "ps_mailalerts new order notification - logic for displaying customized products is broken"
**To Reproduce**
1. Make a customizable product. A text or file field (optional customization).
2. Go to FO. Open up the product.
3. Customize it, add it to cart. - Customization A
4. Customize it again, add it to cart. - Customization B
5. Do not customize it, add it to cart.
6. Your cart - 3 products - 1 default, 2 customized.
7. Order it.

**Resulting email table**
- Product - Customization A +

[2019-11-26 15:02] clotaire202 commented on #16491
@khouloudbelguith as explain on PR #16531 the first part of the bug was "here we generate a remaining reduction with a value 0€ (first effect of the bug)".
After arrounding, as we pull, if the remaining value == 0  the remaining discount sould not be generated. There a condition : $remainingValue > 0

I've not try after replacement _PS_PRICE_COMPUTE_PRECISION_ and Context::getContext()->getComputi

[2019-11-26 15:30] khouloudbelguith commented on #16551
Hi @Hlavtox,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & ps1.7.5.2 & Mail alerts v2.1.1.
![image](https://user-images.githubusercontent.com/16067358/69647593-100bad80-106a-11ea-94e8-2ebb4034b2ec.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-11-26 15:46] khouloudbelguith commented on #16547
Hi @alaminmishu,

I did not manage to reproduce the issue with PS1.6.1.24.
![image](https://user-images.githubusercontent.com/16067358/69648743-2adf2180-106c-11ea-823c-24d846f728ef.png)

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extensio

[2019-11-26 15:46] #16547 closed, assigned to nobody

[2019-11-26 15:49] MatShir commented on #16512
#16491

[2019-11-26 15:55] Hlavtox commented on #16551
@khouloudbelguith @matks Hi guys, made a PR to fix this problem. Check it out.

https://github.com/PrestaShop/ps_emailalerts/pull/28

[2019-11-26 16:20] Hlavtox opened #16554 "Adding a product to cart takes long time compared to other stores"
**Describe the bug**
It takes long time to add anything to cart. It's almost 2x slower than PS 1.6 or other stores. 3x slower than Shopify. (Rough measurement from clicking add to cart button, to popup shown.)

**Prestashop 1.7 - 2,3 seconds to 2,6 seconds**

**Other platforms**
Prestashop 1.6 - 1,3 seconds (on the same server)
shopify - 0,7 seconds

**Czech well known ecommerce stores**
alza.cz -

[2019-11-26 16:25] MatShir commented on #16549
@matks as discussed, let's keep the original header and just try to edit the content the title as on the design.

[2019-11-26 16:55] marionf commented on #12760
We should re-think the behavior in BO category page

[2019-11-26 16:57] HartLarsson commented on #12760
[![Screenshot from Gyazo](https://gyazo.com/d986c4795e3d946650322f74bcc7e5a4/raw)](https://gyazo.com/d986c4795e3d946650322f74bcc7e5a4)
why not add a [DELET] Button here too??

[2019-11-26 17:01] khouloudbelguith commented on #16554
Hi @Hlavtox,

I tried with PS1.7.6.1 & PS1.7.5.2
PS1.7.6.1: time from clicking add to cart button, to popup shown = 462.27 ms
PS1.7.5.2: time from clicking add to cart button, to popup shown = 528.49 ms

I tried with an incognito browser.
I attached a screen record
https://drive.google.com/file/d/1LDbSIMCX_hB0QccewS3fJdepv_OG16jg/view
Thanks to check & feedback.

[2019-11-26 17:26] Robin-Fischer-PS opened #16555 "Export language seems to be KO in 176"
**Describe the bug**
In PS 1761 and 1762 build 2, the export of language seems to be KO, the zip file created does not contains any translations.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International > Translations > Export a language
2. Export a language
3. ZIP file is created, with only one xlf file in it (without any translation in it). In 1.7.5.2, there is around 10 files (

[2019-11-26 17:41] Hlavtox commented on #16554
@khouloudbelguith

It takes 1802 ms in my case. Can you point me to a direction, how we can find out where is a problem? Otherwise, the website runs OK.

![Výstřižek](https://user-images.githubusercontent.com/6097524/69657906-7baa4680-107b-11ea-9cf6-399b60d59324.JPG)

From what I see, cart is slowing it down a lot. It almost doubles the amount of queries to the database.

**Page load in anonymous

[2019-11-26 18:26] web-plus commented on #12687
Hello,

I tested it too - I applied the fixes in 1.7.6.1 version. The review are ok, that are optional and should be visible if you have real reviews (depending on module you use for it - if it has structured data). But I got red error for ItemList too - "all values provided must point to the same page"
https://www.dropbox.com/s/8j0h0ixkh7xn5d1/Screenshot%202019-11-22%2014.57.10.png?dl=0
That migh

[2019-11-26 19:34] Dupflo opened #16556 "Override SearchProvider.php"
Maybe I am wrong but I am trying to overrid /ps_facetedsearch/src/Product/SearchProvider.php

I chance Private fonction to Protected and here is what I did to remove $sortNameAsc and  $sortNameDesc in the Product List Filters

Create : override/modules/ps_facetedsearch/src/Product/SearchProvider.php

[code]

[2019-11-26 19:58] Dupflo commented on #16544
![image](https://user-images.githubusercontent.com/39828779/69667998-545d7480-108f-11ea-88c7-9541ccc6b4bf.png)
![image](https://user-images.githubusercontent.com/39828779/69668051-6ccd8f00-108f-11ea-819f-94a32529185a.png)

[2019-11-26 20:01] fmipsylone commented on #13913
@khouloudbelguith
Hi,
I had the same problem on a 1.7.5.1. The main problem came from the generation of `var/cache/prod|dev/appParameters.php` without any permissions set.

AND I followed the @centoasa workaround here.
SO Disabling the Zend Opcache solved the problem.

This issue is very closed and linked to issue #13050.

I think that **it would be wiser to re-open the issue** while it is not cle

[2019-11-26 20:50] 8ternity opened #16557 "Question on Migrating Prestashop 1.7.5.1 to 17.6.1 ?"
3-4 months ago i've seen that updating from 1.7.5.1 to 1.7.6.0 was not possible due to Kernel differences. Since i have problem with French Canada locales, i would like to know if the upgrade to version 1.7.6.1 is possible and will work well?

[2019-11-27 04:40] MockoB commented on #16518
@khouloudbelguith I totally agree with @hitinder
We are receiving mistaken orders almost on daily basis. We just get to recognise those and informing the customers about it. But you may suggest what’s their frustration when the order amount doubles, because they actually needed double the size they ordered ...
I can’t believe it’s the first time you hear about the issue! It’s discussed many, many

[2019-11-27 07:21] concaten opened #16558 "Prestashop 1.7.4.4 ps_banner module / I can't remove image from backoffice"
**Describe the bug**
I can't remove image from backoffice. There is no button to do this

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'ps_banner module configuration'
2. Upload an image and try to remove it

**Screenshots**
![Capture4](https://user-images.githubusercontent.com/9006423/69702180-ea74b780-10ee-11ea-9a55-251bbf8aef49.JPG)

**Additional information**
PrestaShop version:1

[2019-11-27 08:02] khouloudbelguith commented on #16558
Hi @concaten,

Thanks for your report.
The action remove the image doesn't exist in the module ps_banner.
But, you can change it by uploading another image.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?
![image](https://user-images.githubusercontent.com/16067358/69704833-94a30e00-10f4-11ea-8cc8-977cd38cae85.png)

Thanks!

[2019-11-27 08:08] khouloudbelguith commented on #16557
Hi @8ternity,

As always, you can use the 1-click update to upgrade between minor versions without much trouble.
PS1.7.6.1 is fixing a lot of regressions of 1.7.6.0.
Also, in a few days, PS1.7.6.2 will be released.
5 days ago, we just released a new version 1-click upgrade: https://github.com/PrestaShop/autoupgrade/releases
You can download it from our addons Market place: https://addons.prestasho

[2019-11-27 08:08] #16557 closed, assigned to nobody

[2019-11-27 08:33] khouloudbelguith commented on #16544
@Dupflo, the memory_limit in your case is -1, this is invalid.
The `memory_limit` must be to a minimum of 256M.
Thanks to increase it in the PHP's config, check & feedback.

[2019-11-27 08:40] khouloudbelguith commented on #16556
Hi @Dupflo,

Usually, if we have used `private` methods it is because we consider this to be an internal behavior and that overriding this part alone is not recommended, but we can check.

Can you also tell us what you are trying to achieve? Overrides might not be a good way to do it, especially because it makes your shop very specific and might create issues when upgrading the shop or adding new

[2019-11-27 08:53] khouloudbelguith commented on #16554
@Hlavtox, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrade your PHP

[2019-11-27 08:58] khouloudbelguith commented on #16551
Hi,

In the BO, it is OK
![image](https://user-images.githubusercontent.com/16067358/69708785-80fba580-10fc-11ea-8642-8915e2e79233.png)

Thanks!

[2019-11-27 09:12] khouloudbelguith commented on #16555
Hi @Robin-Fischer-PS,

I tried with PS1.7.6.1
1. Exporting the language before the translation, I have this zip file
[classic.pl-PL.zip](https://github.com/PrestaShop/PrestaShop/files/3895991/classic.pl-PL.zip)

2. After translating some expression of the classic theme, I have this zip file:
[classic.pl-PL (1).zip](https://github.com/PrestaShop/PrestaShop/files/3895999/classic.pl-PL.1.zip)

Same w

[2019-11-27 09:18] Dupflo commented on #16556
Hi @khouloudbelguith

I want remove this two items
![image](https://user-images.githubusercontent.com/39828779/69710128-1a2bbb80-10ff-11ea-9c5c-9c1d3fde4a60.png)

[2019-11-27 09:27] khouloudbelguith commented on #16556
@Dupflo, but the "Sort by" filter is displayed by default, not when `ps_facetedesearch` is installed.
If you try to uninstall the `ps_facetedsearch` module or disable it => the "Sort by" filter is still displayed.
I attached a screen record
https://drive.google.com/file/d/1kR_gt3rTOS5mDVsBFc0Jhhpzi0eQZ7tg/view
Thanks to check & feedback.

[2019-11-27 09:29] zoomietoon opened #16559 "psadmin admin panel not available?!"
Hi everyone,

I haven't been able to access my admin panel for the last week. The front end of my site www.zoomietoon.com works fine for me, but when I try to see orders at the zoomietoon.com/psadmin address I get the following message:

This page isn’t working
zoomietoon.com is currently unable to handle this request.
HTTP ERROR 500

I've tried emailing and calling prestashop directly but am not

[2019-11-27 09:33] khouloudbelguith commented on #16559
Hi @zoomietoon,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prest

[2019-11-27 09:40] sam-pires commented on #16558
Hi @concaten,
Thanks for your feedback 👍

Indeed the delete action does not exist.
Though it is possible to remove the banner by disabling the module "Banner". That is why, I believe, the delete action was not built.

FYI if someone is looking for how to disable it:
1. Go to Modules > Module Manager
2. Search for Banner
3. Click on the module dropdown button
4.  Click on disable
5. The Banner imag

[2019-11-27 09:48] zoomietoon commented on #16559
I'm using Bluehost as my domain host
I think I have prestashop 1.6 but I can't access the admin page to be certain.
I would really like to send you the logs and reports you asked for, but I don't know where to find them and the link you sent doesn't specify where they are located.

Here is a screenshot of what I am seeing when I want to get to my admin login page. The issue should be easily reprod

[2019-11-27 09:56] khouloudbelguith commented on #16559
@zoomietoon, The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please

[2019-11-27 10:15] khouloudbelguith commented on #13913
Hi @fmipsylone,

Your issue seems to be similar to this: https://github.com/PrestaShop/PrestaShop/issues/10998
& it is fixed by following these steps: https://github.com/PrestaShop/PrestaShop/issues/10998#issuecomment-476361695
Fixed with this PR: https://github.com/PrestaShop/docker/pull/193
Thanks!

[2019-11-27 10:15] sam-pires commented on #16518
Hello @hitinder  & @MockoB,

Thanks for the feedback 👍

I'll check your issue, but it is not that straightforward to deal with this kind of feature, as the vast majority of merchants want to reduce as much as possible the number of steps before reaching the payment step. And there is one more potential step here in your suggestion (if someone wants to buy the default combination for instance).
Tho

[2019-11-27 10:26] aktarujjman commented on #14917
Thanks @khouloudbelguith

[2019-11-27 10:42] simon12q commented on #12027
After update to 1.7.6.1 i still have this issue.
Trying all methods from this thread but nothing change

[2019-11-27 10:54] ziegenberg commented on #16369
Could this fix be backported to 1.7.6.3?

[2019-11-27 10:56] khouloudbelguith commented on #16369
Hi @ziegenberg,

It is not a regression, so it cannot be fixed in the next patch PS1.7.6.3.

Thanks for your understanding!

[2019-11-27 10:58] ziegenberg commented on #16369
So this can be closed than, as it's fixed in 1.7.7.0?

[2019-11-27 11:03] MockoB commented on #16518
Hello @sam-pires,
We are selling materials for custom made jewellery. In the title of every product we are mentioning all different sizes, for example:
Silver chain 3mm; 5mm; 7mm
There is a drop down menu in the product page where customer could choose the size, but about 10-20% of the new customers hit the add to cart button without choosing the size they need.
The confusion is even greater if th

[2019-11-27 11:08] khouloudbelguith commented on #16369
@ziegenberg, yes!
But, I'm waiting for @P1X3L0V4's feedback.

Thanks!

[2019-11-27 11:10] khouloudbelguith commented on #12027
Hi @simon12q,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2019-11-27 11:19] hitinder commented on #16518
Hey @sam-pires & @MockoB
What @MockoB said is totally correct. This issue has been there since 2013 and a lot of people are still looking for a solution. Such small things will always push people away for an amazing platform like Prestashop.

I am one of these merchants. Check this screenshot from my t-shirt store, where I am using a combination with 0 quantity. Also, I have to deal with frequent

[2019-11-27 11:44] P1X3L0V4 commented on #16369
Thank you for the update! Issue closed 👍

[2019-11-27 11:44] #16369 closed, assigned to nobody

[2019-11-27 12:05] vgsystems commented on #15080
Hi, I was stuck in this issue too after update from 1.7.3.2 to 1.7.6.1. The problem it's caused by the PayPal module update.

This module creates an AdminController.php class overrides in override/classes/controller. If you delete this override, you will be able to access again.

The PayPal module it's always painful.

[2019-11-27 12:18] didi-2018 opened #16561 "Error message when change text in cms page for privacy policies"
Hi,

i want to change text in cms page for "privacy policies" but text could not be saved and I get the message

![image](https://user-images.githubusercontent.com/44971218/69722710-1193af00-1118-11ea-8014-b318204a1ea1.png)

and the new text is not saved and the old text is still there. In html editor looks everthing fine after adding the text but it want not save it.

Are there a limit of signs?

[2019-11-27 12:20] edensh89 opened #16562 "Invalid category vars at line 374 in file classes/Link.php"
I have multisotre and I uploaded new theme the second shop I'm creating.
Before uploading the theme everything works good and now nothing works.

This is urgent.
Please check https://www.plantoflife.com/

This is the error I get:
Invalid category vars
at line 374 in file classes/Link.php

369.             if (is_array($category) && isset($category['id_category'])) {
370.                 $category

[2019-11-27 12:42] didi-2018 commented on #16561
My text contains a java script code to disable Facebook Pixel

hre Einwilligung jederzeit durch die Deaktivierung des Facebook-Pixel-Trackings widerrufen. Zu diesem Zweck k&ouml;nnen Sie durch Klick auf den nachstehenden Link ein Opt-Out-Cookie setzen, welches das Facebook Pixel-Tracking deaktiviert:<br />
<a href="javascript:void(0)" onclick="if (typeof fbpOptOut == 'function') { fbpOptOut(); } e

[2019-11-27 12:44] didi-2018 commented on #16561
My text contains a java script code to disable Facebook Pixel Cookie

`Ihre Einwilligung jederzeit durch die Deaktivierung des Facebook-Pixel-Trackings widerrufen. Zu diesem Zweck k&ouml;nnen Sie durch Klick auf den nachstehenden Link ein Opt-Out-Cookie setzen, welches das Facebook Pixel-Tracking deaktiviert:<br />
<a href="javascript:void(0)" onclick="if (typeof fbpOptOut == 'function') { fbpOptO

[2019-11-27 13:03] dlascelles commented on #16561
I had the same issue recently.

Go to **classes/CMS.php** and around line 66

**change this:** 'content' => array('type' => self::TYPE_HTML, 'lang' => true, 'validate' => 'isCleanHtml', 'size' => 3999999999999),

**to this:** 'content' => array('type' => self::TYPE_HTML, 'lang' => true, 'size' => 3999999999999),

in order to avoid validation.

[2019-11-27 13:03] #16098 closed, assigned to PierreRambaud

[2019-11-27 13:19] khouloudbelguith opened #16563 "Email address in uppercase - contactform module"
**Describe the bug**
When a customer has an email address in uppercase, the " Send confirmation email to your customers" email doesn't work as expected.

**To Reproduce**
Steps to reproduce the behavior:

First you must enable PrestaShop to send emails. For example use Gmail SMTP server (connected to your gmail account), configure it from the backoffice in Email page.

1. Go to BO => Module manage

[2019-11-27 13:23] khouloudbelguith commented on #15080
Hi @vgsystems,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-11-27 13:25] vgsystems commented on #15080
@khouloudbelguith My comment only was a hint for other people with the same problem. I was able to solve it on my own ;)

[2019-11-27 13:32] seisnet commented on #13386
i correct my solution. I pasted it wrong

[2019-11-27 13:36] khouloudbelguith commented on #16562
Hi @edensh89,

The Schema of URLs is updated in your case
By default, we have like this:
![image](https://user-images.githubusercontent.com/16067358/69727495-f37f7c00-1122-11ea-82de-58e168b09c0b.png)
In your case, you have like this
![image](https://user-images.githubusercontent.com/16067358/69727595-2b86bf00-1123-11ea-8743-c90ae799ed01.png)
Is it?
Thanks!

[2019-11-27 13:37] #13386 closed, assigned to nobody

[2019-11-27 13:46] khouloudbelguith commented on #16561
Hi @didi-2018,

In your case, this text is invalid.
That's why you have this error.
It is normal behavior.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-11-27 13:46] #16561 closed, assigned to nobody

[2019-11-27 14:18] fmipsylone commented on #13913
Thank you @khouloudbelguith,

This seems to work for me !
Just to notice that `opcache.fast_shutdown` has been deleted start from [PHP 7.2](https://www.php.net/manual/fr/opcache.configuration.php#ini.opcache.fast-shutdown), so the remaining settings I use are:
[code]
May be It would be interesting to mention that in [PrestaShop devdoc page](https://devdocs.prestashop.com/1.7/scale/optimizations/)

[2019-11-27 14:21] fmipsylone commented on #10998
After @khouloudbelguith recommendation on #13913, this seems to work for me too.

I'm under PHP 7.2, just notice that `opcache.fast_shutdown` has been deleted start from [PHP 7.2](https://www.php.net/manual/fr/opcache.configuration.php#ini.opcache.fast-shutdown), so the remaining settings I use are:
[code]
Best Regards

[2019-11-27 14:34] rdy4ever commented on #16559
Hi @zoomietoon
Your shop version is 1.7x, not 1.6. Please go to your shop root directory and edit `/config/defines.inc.php`. Edit this part:
[code]
change `false` to `true`. Save file, then, go again to your admin and see what error message you get.
If you don't get any detailed error, plese rename `.htaccess` to `.htaccess-old` and see if you can access your admin after that.

[2019-11-27 14:40] khouloudbelguith commented on #13913
@fmipsylone, thanks to open a new issue in the [docs repository](https://github.com/PrestaShop/docs).

Thanks!

[2019-11-27 15:06] Payalba commented on #13174
Actually, i wrote a module and register the hook actionEmailSendBefore.

`$this->registerHook('actionEmailSendBefore')`

and do something like that:

[code]

[2019-11-27 15:33] matks opened #16565 "Explore impact of dynamic factors for PrestaShop install performances (memory, CPU, time)"
**Describe the bug**
While exploring PrestaShop installer translation capabilities, @atomiix noticed huge memory consumption, especially for the modules installation step.

This can be linked to a wider topic, which can be summed up into the following items:
- we should analyze the performances of different install steps for PrestaShop
- we should analyze how they scale for different server config

[2019-11-27 15:39] khouloudbelguith commented on #16565
Ping @PrestaShop/prestashop-core-developers

[2019-11-27 15:50] clotaire202 commented on #16491
@khouloudbelguith so the bug is fix with our pull request ?
I think your last test was done with our PR.
Do you have a solution for https://github.com/PrestaShop/PrestaShop/issues/16491#issuecomment-558646304 ? or is it already fixed or in an other issue ?

[2019-11-27 15:54] khouloudbelguith commented on #16491
@clotaire202, yes absolutely, I checked all steps during testing this PR:
1. The order checkout process is done ok without any exception
2. In the Order details, page => discount is well displayed in the discount block
3. In the discounts page => there is no cart rule added automatically after creating an order.

Thanks!

[2019-11-27 16:07] khouloudbelguith commented on #16491
@clotaire202, here's a screen record from the develop branch
https://drive.google.com/file/d/1xn6X_A6LfxqXnIjcnQ7Nr1mgv1yN85L5/view

Thanks!

[2019-11-27 16:26] Progi1984 opened #16567 ""Orders > Products" : Use UI Kit for Input Number"
**Is your feature request related to a problem? Please describe.**
Create a component Input Number in UI Kit

[2019-11-27 16:27] Hlavtox opened #16568 "Cart rules slow down the page - hundreds of duplicated queries"
**What is wrong**
Having cart rules active slow down the page incredibly and **triples the amount of queries** and **slows down the page by 50%**. **We need speed!**

I am having only 2 vouchers active.
https://drive.google.com/file/d/1MrE4w-KlFN-UOSlGWnovFhmxMrroDeWt/view?usp=sharing

A big part of this is the same query, which comes from **CartRule.php::checkValidity()** and is repeated 141 time

[2019-11-27 17:01] khouloudbelguith commented on #16568
Hi @Hlavtox,

How many cart rules have you in your BO?
In the FO, are you navigating as a customer (you just registered) or as a visitor( not registered yet)?
Could you please try to enable profiling mode
In your Projetc_Folder/config/defines.inc.php, you need to replace this

[code]

by this

[code]
When profiling mode is enabled, you should have information about the time needed to run queries.

[2019-11-27 17:06] matthieu-rolland commented on #16288
So I found a way to fix the first point,  but I just learned that the order creation page's migration will be released in 1.7.7....  so I guess there's really no point in fixing this?  (or maybe for 1.7.6 ?)

[2019-11-27 17:07] khouloudbelguith opened #16569 "Error in the console when creating a supplier"
**Describe the bug**
When we try to create a supplier without description & we save => an error in the console is displayed.
There is no alert that it is required.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Suppliers page
2. Create a supplier without a description & save
3. See an error in the console "An invalid form control with name='supplier[description][1]' i

[2019-11-27 17:47] colinegin commented on #16288
If i'm correct, this is a regression found on the develop branch after order creation page's migration. If so, why would it be useless to fix it then ?
Maybe @MatShir has more information about it ?

[2019-11-27 17:58] Robin-Fischer-PS commented on #16288
Hi @colinegin ,

The regression was found during the development of the Symfony create order page, but it does not appears on the migrated page (I did not manage to reproduce this bug I had in Legacy).

[2019-11-27 18:00] colinegin commented on #16288
Well, this is great news :)
Then if none of the two issues can be reproduced, i guess we can close this issue !

[2019-11-27 18:28] Hlavtox commented on #16568
@khouloudbelguith I have profiling enabled all the time.

You can see the list of cart rules in the first post.
12 cart rules in total.
ID 47+48 are without code, for orders above XXX amount.
The rest are cart rules wtih a code.

**Scenario 1 - Both rules applied**
![1p](https://user-images.githubusercontent.com/6097524/69750001-ffcbff00-114b-11ea-86c4-e671349d0491.JPG)
![1c](https://user-images.g

[2019-11-27 18:37] Hlavtox commented on #16283
Hi @khouloudbelguith

Customization:
- File type
- Optional
- ps_shopping cart version 2.0.3
- Only one customization
- Minimum quantity for all products is 1 (default).

[2019-11-27 18:59] ravloony opened #16572 "Catalog price rules condition groups are not sent in the save POST request"
**Describe the bug**

When I edit a catalogue price rule in my shop, then click on "add a new condition group", then add a condition to the group (a category for example) and try to save the form, the form saves but the condition group I just added disappears. I tracked it down to this method: https://github.com/PrestaShop/PrestaShop/blob/develop/controllers/admin/AdminSpecificPriceRuleController.

[2019-11-27 19:23] Hlavtox commented on #16227
@khouloudbelguith PR opened #16573

[2019-11-27 19:24] Hlavtox commented on #16486
@khouloudbelguith PR opened with improved code #16573

[2019-11-27 19:28] Hlavtox commented on #16283
@khouloudbelguith PR with a fix #16283

[2019-11-27 19:40] zoomietoon commented on #16559
Thanks for your reply @rdy4ever
How do I access my shop root directory? I'm a little lost at this point.

[2019-11-27 19:52] Hlavtox commented on #16568
@khouloudbelguith

**Scenario 4 - all cart rules disabled**
400 ms faster load time and half the queries.
![nocartrule](https://user-images.githubusercontent.com/6097524/69755082-b97c9d00-1157-11ea-9899-215879211516.JPG)

[2019-11-27 19:58] Hlavtox commented on #16554
@khouloudbelguith Found out cart rules have huge impact on this.
![cartrule](https://user-images.githubusercontent.com/6097524/69755397-69520a80-1158-11ea-8b18-ab40d890b599.JPG)

Can you please try to record it with some cart rules made and activated? Like on my setup:
- XX % discount on all orders over XX amount, quantity 9999999, no code
- free gift on all orders over XX amount, quantity 9999999

[2019-11-27 22:37] Hlavtox commented on #16568
@khouloudbelguith I updated the Issue description, please, read it again and try to test.

[2019-11-28 07:22] jusurb opened #16575 "Missing Lithuanian stop words / blacklist for search"
**Is your feature request related to a problem? Please describe.**
It seems when loaded Lithuanian language it uses English stop words

**Describe the solution you'd like**
I want Lithuanian descriptions indexed without LT stop words that are useless

Opened a pull request with updated LT stop words

[2019-11-28 07:48] rdy4ever commented on #16559
Hi @zoomietoon
You can access it via ftp or in CPpanel, File manager

[2019-11-28 08:05] khouloudbelguith commented on #16157
Hi @zsocialmedia,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-28 08:05] #16157 closed, assigned to nobody

[2019-11-28 08:07] khouloudbelguith commented on #16174
Hi @dptelemetry,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-28 08:07] #16174 closed, assigned to nobody

[2019-11-28 08:09] mrabsinthe opened #16577 "Possible to add crypto currency support?"
**Is your feature request related to a problem? Please describe.**
When you want to add new currency, there is no LTC or BTC available on the list. It would be nice to have crypto currency support there.

[2019-11-28 08:19] khouloudbelguith commented on #16572
Hi @ravloony,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1A68d-bcUxbB7t-8yKEpXCWNdXZSKM8ZZ/view

Thanks to check & feedback.

[2019-11-28 08:30] khouloudbelguith commented on #16577
Hi @mrabsinthe,

Thanks for your report.
We are working on a reimplementation of CLDR.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2019-11-28 09:07] matthieu-rolland commented on #16288
@colinegin I moved it in the 1.7.6 kanban, since it's a major regression that still exists in 1.7.6, I'll fix the first point fast since I know what has to be done, about the second point, a bit more exploration is needed.

[2019-11-28 09:27] MatShir commented on #16577
Hi @mrabsinthe,

I am happy to tell you that on the next version 1.7.7, you could add any currency as you want and customize it as you wish. Check the feature's progress on this issue #11660. But we will not automatically update the exchange rate for customs currencies, I invite you to check on the Pretsashop's marketplace to find a solution.

[2019-11-28 09:28] mrabsinthe commented on #16577
@MatShir it is good news indeed!

[2019-11-28 09:29] #16577 closed, assigned to nobody

[2019-11-28 09:44] khouloudbelguith commented on #16554
@Hlavtox, so it is similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/16568? is it?
Can we close this issue?

Thanks!

[2019-11-28 09:45] khouloudbelguith commented on #16575
Hi @Gamesh,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & PS1.7.6.2build2.
![image](https://user-images.githubusercontent.com/16067358/69795299-35b0c800-11cc-11ea-8c67-460fd9e63958.png)
I’ll add this to the debug roadmap.
Thanks!

[2019-11-28 09:50] zoomietoon commented on #16559
@rdy4ever Found it. I get the following error message, any ideas?

![Capture2](https://user-images.githubusercontent.com/58252837/69795654-dc956400-11cc-11ea-9cb4-d7362b2a4866.PNG)

[2019-11-28 09:53] Dupflo commented on #16556
True

[2019-11-28 09:55] co6studio opened #16578 "Changing currency on an order - Wrong voucher value displayed"
**Describe the bug**
When changing currency on an order (From Euro to CHF for example), the discount applied is correct but the default voucher remains in previous currency. Is it normal?

**To Reproduce**
Steps to reproduce the behavior: you should have two currencies or more
1. Modify an order (currently in euro)
2. Click on 'Modify currency' in the payment block (swap currency to CHF)
3. Scroll

[2019-11-28 09:57] davideapvd opened #16579 "ps_facetedsearch hide attribute value filter"
Hello, is it possible to hide a certain value from an attribute filter in the category page? For example I Have a Feature called Technologies that have two Feature values (wind, rain), I would like to hide rain, is it possible?

[2019-11-28 09:58] khouloudbelguith commented on #16556
@Dupflo, so you don't need to override this function, is it?

Thanks!

[2019-11-28 10:03] khouloudbelguith commented on #16559
Hi @zoomietoon,

I think you are using PHP7.3, is it?
PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & 1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible

[2019-11-28 10:05] rdy4ever commented on #16559
Yeap, I think you need to downgrade to PHP 7.2. Check with your host, they might have updated it to 7.3 and that's why your shop stopped working.

[2019-11-28 10:05] khouloudbelguith commented on #16579
Hi @davideapvd,

No, it is not possible to hide a value in for the search.

Thanks!

[2019-11-28 10:06] Dupflo commented on #16544
@khouloudbelguith unfortunately it did not worked

[2019-11-28 10:07] khouloudbelguith commented on #16544
@Dupflo, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-11-28 10:09] davideapvd opened #16580 "ps_facetedsearch slider filter not refreshed correctly after updateProductList"
**Describe the bug**
When changing any attribute from the faceted search, if having a slider, the refreshSliders call does not work correctly, if I put a setTimeout(refreshSliders, 0) here https://github.com/PrestaShop/ps_facetedsearch/blob/20ddf724e763e9b99f0199fda2f2bbf7eb5cede8/_dev/front/events.js#L31 probably the call gets scheduled after other things and the slider is rebuilt correctly.

**T

[2019-11-28 10:14] dennispw opened #16581 "Stock location only works on the base product"
**Describe the bug**
If you have a standard product without any combinations and you fill out the "Stock location" field everything works as expected: `{$product.location}` will print something like "Shelf A1".

If you have a product with combinations, the value is saved but not available: `{$product.location}` will be empty. If you check the databse the value is actually stored on the combination

[2019-11-28 10:15] khouloudbelguith commented on #16580
Hi @davideapvd,

I did not manage to reproduce the issue with PS1.7.6.1 & the ps_facetedsearch v3.4.0.
I attached a screen record
https://drive.google.com/file/d/1Ja9k2fz6LVMMwLuh8JqGLLFVgRF-sbOx/view
Thanks to check & feedback.

[2019-11-28 10:18] zoomietoon commented on #16559
Thank you! PHP 7.2 didn't work, but 7.1 is working! Thanks!!

[2019-11-28 10:19] khouloudbelguith commented on #16559
@zoomietoon, great!

Since it is ok, I will close the issue, feel free to open a new one when needed.

Thanks!

[2019-11-28 10:19] #16559 closed, assigned to nobody

[2019-11-28 10:20] davideapvd commented on #16580
would it be possible to add an id on the generated facet html, not a progressive one, so we can at lease hide them from css easily?

[2019-11-28 10:21] davideapvd commented on #16579
would it be possible to add an id on the generated facet html, not a progressive one, so we can at lease hide them from css easily?

[2019-11-28 10:22] davideapvd commented on #16580
can you test from the chrome inspector to simulate a slower bandwidth from the network tab?

[2019-11-28 10:28] khouloudbelguith commented on #16581
Hi @dennispw,

As you can see in this ticket: https://github.com/PrestaShop/PrestaShop/issues/10113#issue-353697942
I tried with PS1.7.6.1, in the order details page, the stock location is well displayed when we have a simple product or a product with combinations.
![image](https://user-images.githubusercontent.com/16067358/69798768-36e4f380-11d2-11ea-8468-38b252667855.png)

Thanks to check & feed

[2019-11-28 10:33] khouloudbelguith commented on #16578
Hi @co6studio,

In the BO => Order => order details page => are you adding a new payment?
![image](https://user-images.githubusercontent.com/16067358/69799049-cf7b7380-11d2-11ea-8d00-3ed936f2412a.png)

Thanks to provide me a screenshot about your issue.

Thanks!

[2019-11-28 10:46] tbores opened #23321 "[Firefox] Checkbox, text and link about data protection not shown in contactform"
Prestshop version: 1.7.6.1
Module version: 1.1.3

### Chrome - OK
![image](https://user-images.githubusercontent.com/4364483/69799849-5ed55680-11d4-11ea-9cda-a85b4fd01477.png)

### Internet Explorer - OK
![image](https://user-images.githubusercontent.com/4364483/69799954-8fb58b80-11d4-11ea-8d51-d9b2258b5810.png)

### Firefox 70.0.1 - NOK
![image](https://user-images.githubusercontent.com/4364483/6

[2019-11-28 10:48] #16288 closed, assigned to matthieu-rolland

[2019-11-28 10:56] tdavidsonas88 opened #16582 "It is possible to add negative Amount for Order Payment from the Back Office"
**Describe the bug**
It is possible to add negative Amount for Order Payment from the Back Office. Then message is thrown: An unexpected error occurred. [PrestaShopException code 0]. The actual exception is: Property Order->total_paid_real is not valid.

According to as I understand negative payments should not be saved to the database or at least total sum of payments from the db should not be ne

[2019-11-28 10:57] co6studio commented on #16578
Hi @khouloudbelguith

I didn't add any payment. I simply converted my order from Euro to CHF.

![image](https://user-images.githubusercontent.com/24292783/69800733-1e76d800-11d6-11ea-92ff-bad4b04d18a8.png)

[2019-11-28 11:00] Dupflo commented on #16544
@khouloudbelguith problem is I still have Error 500 even on debug mod

[2019-11-28 11:01] Dupflo commented on #16556
I remove directly from the .php file and it works

[2019-11-28 11:01] dennispw commented on #16581
@khouloudbelguith Please see attached video and example.

[issue16581.zip](https://github.com/PrestaShop/PrestaShop/files/3901267/issue16581.zip)
[classic-child.zip](https://github.com/PrestaShop/PrestaShop/files/3901268/classic-child.zip)

[2019-11-28 11:05] khouloudbelguith commented on #16544
@Dupflo,
In my case, it is Ok.
https://drive.google.com/file/d/1VR_Fmc9TlC6xlkJxf6QqrH96csSIw9Io/view

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.

Any errors in your file log?
Thanks!

[2019-11-28 11:08] khouloudbelguith commented on #16580
@davideapvd, I attached a screen record
https://drive.google.com/file/d/18VPZhujN2ymbZLVQDuTzMNOrppAWFAOg/view
Thanks to check & feedback.

[2019-11-28 11:18] davideapvd commented on #16580
really appreciated, thanks, I'll try to understand what my theme based on the classical one has to do with this bug, feel free to close it in the meantime.

[2019-11-28 11:22] dkarlovi opened #16584 "[Bug][Performance] Guest checkout validates all the guest addresses (thousands)"
**Describe the bug**
If you have a lot of guest checkouts, you'll have a lot of guest addresses (`ps_address.id_customer = 0`).

This causes a problem since, currently, the [checkout process validates all the customer's addresses](https://github.com/PrestaShop/PrestaShop/blob/a51084f29cb87627ad57fde9d7932057c225b4e1/controllers/front/OrderController.php#L230-L233). In the case you're a guest, that

[2019-11-28 11:25] davideapvd opened #16585 "ps_facetedsearch does not filter if attribute value starts with a hypens '-'"
**Describe the bug**
I have an attribute value like '-20° a +5°' , clicking it nothing is filtered, probably because the generated url contains '-' in a starting position and it is seen as separator

**To Reproduce**
Steps to reproduce the behavior:
1. Go to category page with a filter value like '-20° a +5°'
2. Click on that filter
3. No product is filtered and the checkbox is not memorized

[2019-11-28 11:28] khouloudbelguith commented on #16556
@Dupflo, thanks for your feedback.
Ping @PierreRambaud @PrestaShop/prestashop-core-developers what do you think?
Can we change  Private function to Protected: https://github.com/PrestaShop/ps_facetedsearch/blob/master/src/Product/SearchProvider.php#L75?

Thanks!

[2019-11-28 11:32] khouloudbelguith commented on #16585
Hi @davideapvd,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16320
So, I close it.
Thanks!

[2019-11-28 11:32] #16585 closed, assigned to nobody

[2019-11-28 11:32] khouloudbelguith commented on #16585
Duplicate of #16320

[2019-11-28 11:35] khouloudbelguith commented on #16584
Hi @dkarlovi,

The issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/8904
As reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9690
Thanks to check & feedback.

[2019-11-28 11:36] khouloudbelguith commented on #16580
@davideapvd, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-11-28 11:36] #16580 closed, assigned to nobody

[2019-11-28 11:56] khouloudbelguith commented on #16578
@co6studio, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & the develop branch.
![image](https://user-images.githubusercontent.com/16067358/69804201-4e29de00-11de-11ea-8293-d57406ab6d23.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Pi

[2019-11-28 12:09] khouloudbelguith commented on #16582
Hi @tdavidsonas88,

I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1 & PS1.7.6.2build2 & the develop branch.
![image](https://user-images.githubusercontent.com/16067358/69805065-25a2e380-11e0-11ea-9abe-f28c28cae4ca.png)
Ping @matks, @marionf, @colinegin, this issue could be fixed during the migration of the order page?
Related to https://github.com/PrestaShop/PrestaShop/issues/13809
Than

[2019-11-28 12:15] dkarlovi commented on #16584
Don't think it's fixed currently since we're seeing the described behavior, is it s regression?

[2019-11-28 12:30] khouloudbelguith commented on #16581
@dennispw, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
We need to add this code line to this file: https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/catalog/product.tpl
[code]
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull r

[2019-11-28 12:35] khouloudbelguith commented on #16584
@dkarlovi, Could you please try to enable profiling mode
In your Projetc_Folder/config/defines.inc.php, you need to replace this

[code]

by this

[code]
When profiling mode is enabled, you should have information about the time needed to run queries.

Thanks to provide me a screenshot.
In your BO => Adnaced Parameters => Information page=> thanks to provide me all informations.

[2019-11-28 12:43] khouloudbelguith commented on #16283
@Hlavtox, I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.2build1 & ps_shoppingcart v2.0.3
https://drive.google.com/file/d/1CXBDQC057LEs9F7G_Ki--Zg-5vZCID-R/view
Ping @sarahdib, could you please try to reproduce the issue.

Thanks!

[2019-11-28 12:58] matks commented on #16584
It might be an unexpected side-effects of wanting to valide all customer addresses at checkout, but it has unwanted behavior for guests.

I guess a simple solution would be not to perform the validation for guests ?

[2019-11-28 13:00] dkarlovi commented on #16584
@khouloudbelguith this is not easy to screenshot since it's a redirect request (done as `GET /order`) when you click Checkout on the cart.

I'll attach the screenshot of my Blackfire.io profile:
![Prestashop checkout profile - Blackfire](https://user-images.githubusercontent.com/209225/69808141-30ad4200-11e7-11ea-92d9-8f0b76858020.png)

Note the number of addresses validated.

If I run
[code]

I g

[2019-11-28 13:04] dkarlovi commented on #16584
@matks

Agreed, that's exactly what we did.

[2019-11-28 13:15] tdavidsonas88 commented on #16582
@rokaszygmantas - would like some advice how we can contribute

[2019-11-28 13:40] matutin0 commented on #16327
Thank you, but I've found a free module that works perfectly on PrestaShop v1.7.6.1, adding a reCAPTCHA verification check box when trying to create a new account, so no need to pay those 50€ + TAX for such a simple thing.

EICAPTCHA:
https://github.com/nenes25/eicaptcha/releases/tag/2.0.4

It's the last version of the module for PS 1.7, released in March 2018, but still seems to work like a charm

[2019-11-28 13:48] Hlavtox commented on #16283
@khouloudbelguith @sarahdib

Ladies, try it with a product that has combination, maybe it has something to do with it.

I just played with around with adding and removing customization, removing product from cart, changing quantity and I got it to this situation, where the entries existed (refer to the screenshots of my database.

[2019-11-28 13:48] PierreRambaud commented on #16556
I uninstall ps_facetedsearch and to remove elements in the drop down you need to change this class:
https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Product/Search/SortOrdersCollection.php#L51

@matks any idea about how to change this class properly?

[2019-11-28 13:54] prestascott opened #16587 "[EPIC] Improvements for UI Kit"
PrestaShop back office UI Kit must be improved in order to have a solid Design System. Currently, we can find different designs for the same buttons, inconsistency between the text and the colors (cf. alerts) and components misplacement.

Colors, typography and shadows are in the [Style Guide page](https://invis.io/S9UXGJA73B5).
The specs can also be found in the ["Inspect mode"](https://projects.

[2019-11-28 14:01] davideapvd commented on #16580
@khouloudbelguith probably I understood the issue here, with minify enabled I've put my js files after the footer bundle that prestashop creates with /modules/ps_facetedsearch/views/dist/front.js, normally (without js minify and bundling) we have first the theme js and then the ps_facetedsearch one, with bundling enabled (expecially in my case) the order is swapped so updateProductList from the ps

[2019-11-28 14:04] khouloudbelguith commented on #16327
Hi @matutin0,

Thanks for your feedback.
@Leenwt, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-11-28 14:04] #16327 closed, assigned to nobody

[2019-11-28 14:12] khouloudbelguith commented on #16579
@davideapvd, Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-11-28 14:14] matks commented on #16556
Looks like injection is done at the very high level `ProductListingFrontController::getProductSearchVariables()`

`$provider->runQuery` uses `$this->sortOrderFactory->getDefaultSortOrders()` which instantiates a new `SortOrdersCollection` class

So it seems there is no "proper" way to customize this behavior 😢

[2019-11-28 14:21] slri commented on #16584
Just want to chime in on the issue since I've been working with @dkarlovi on it.
Our solution is exactly what @matks and @dkarlovi suggested, and I was forced to do it like this (in an OrderController override):
[code]

Reasoning for this is that `$customer->isGuest()` is in our case rendered useless due to our `$customer` having `id_guest` set to `false`. Reasoning for this is, to me, unknown and

[2019-11-28 14:50] prestascott opened #16589 "[UI Kit] Single buttons"
Epic: #16587

Button design will change into more rounded buttons. This change will be applied for all the buttons in the back office.

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

## [Primary button] Solid button without icon

Solid buttons will be used for actions like saving after editing, deleting a product, adding a product.

[code]

**Before and after**

![Before - Save](https

[2019-11-28 14:56] davideapvd commented on #16579
actually this is a feature request, isn't it? having a way to hide filters could be useful to everyone

[2019-11-28 15:02] khouloudbelguith commented on #16579
@davideapvd, sorry, but you are writing a question.
We have a template for improvements, so, I thought that it is just a question.
![image](https://user-images.githubusercontent.com/16067358/69816206-365f5380-11f8-11ea-93cb-31590adf3db2.png)
Since it is a request for a new feature, I will re-open the issue :)
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?
Is it pos

[2019-11-28 15:12] khouloudbelguith commented on #16283
@Hlavtox, it is OK
https://drive.google.com/file/d/1KwdvClsDnXe2GSYMTng9vRSsvOTIRmDl/view

Thanks!

[2019-11-28 15:19] sam-pires commented on #16579
Hello @davideapvd,

Thanks for your feedback 👍
We'll look into this idea for the next version of this module.

As @khouloudbelguith mentioned, we have a template, please follow it for your next contributions. It is easier for the community and for us to work on the issue 🙂

Thanks,

[2019-11-28 15:21] matks opened #16592 "Migrate "Customer Service > Customer Service" dashboard page"
Part of Symfony migration project
Type: page

## Specs

https://github.com/PrestaShop/prestashop-specs/pull/187

## Design

https://www.figma.com/file/axasD3Kyg52okWHqvWPN1I/Customer-Service?node-id=12%3A7862

## Improvements

- [ ] #16783 - Add the possibility to attach files, access predefined messages and resize the messages panel
- [ ] #19197 - Fix the bulk action

## Status

Todo:
- [ ] Add a

[2019-11-28 15:21] prestascott opened #16593 "[UI Kit] Button group"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

## Button group period selector

This button group period selector can almost be found at all Stats' modules page:

- Stats > Best categories
- Stats > Best customers
- Stats > Best suppliers
- Stats > Best vouchers
- Stats > Best-selling products
- Stats > Browsers and operating systems
- Stats > Carrier distribution
- Stat

[2019-11-28 15:25] prestascott opened #16594 "[UI Kit] Buttons with dropdown"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

### Button with dropdown

This button with dropdown is used at this page:
- Module Manager (Configure, disable, uninstall, enable mobile, reset)
[code]

**Before and after**

Material icon used is called ["keyboard_arrow_down"](https://material.io/resources/icons/?icon=keyboard_arrow_down&style=baseline).

![Before - Button

[2019-11-28 15:30] khouloudbelguith commented on #16584
@dkarlovi, @slri, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.2.
I used this script to create a lot of addresses
[code]
When profiling mode is enabled, In the checkout page, I have 37479 queries
![image](https://user-images.githubusercontent.com/16067358/69815869-8853a980-11f7-11ea-9619-ca49f3da0c7f.png)

I’ll add this to the debug roadmap so that it’s fixed.

[2019-11-28 15:32] prestascott opened #16595 "[UI Kit] Toast alerts"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

This alert appears when the user has done an action.
For example, user deletes 6 products he selected in the product catalog.
It appears with a slide from right to left and disappears from left to right (cf. same animation when you check a ticket on Asana).
Toast alerts stay on the screen for 5 seconds.
If there are more tha

[2019-11-28 15:46] #9669 closed, assigned to NeOMakinG

[2019-11-28 15:55] hekep commented on #16490
@khouloudbelguith

-  Yes we are using our own payment module.
- I deleted real customer data from the screen shot
- Yes BO orders list page has duplicate orders , with different order references
- No, no mailchimp module.

We also think the problem is in the Cache.
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Cart.php#L1642

2  concurrent "confirm order" queries create 2 orders.

[2019-11-28 15:57] prestascott opened #16597 "[UI Kit] Inputs"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

Width of inputs depends on the size of the column in Bootstrap.

## Inputs

Inputs can be found at these pages:
- Design > Image Settings
- International > Localization
- Shop Parameters > General
- Shop Parameters > Product Settings
- Shop Parameters > Traffic & SEO
- Shop Parameters > Search
- Advanced Parameters > Perform

[2019-11-28 16:01] prestascott opened #16598 "[UI Kit] Search bars"
Epic: #16587

[Link to InVision prototypage](https://invis.io/S9UXGJA73B5)

Currently, the search bar design is not the same in different pages. It must have the same design for the same function.
Maximum width of the search bar is 300px.

## Search bar

Search bar can be found at these pages:
- Catalog > Stocks
- Catalog > Movements
- Modules > Module Manager
- Modules > Module Catalog
- Design >

[2019-11-28 16:05] prestascott opened #16599 "[UI Kit] Input number"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

"-" and "+" buttons will be bigger in order to give user more accessibility rather than a tiny quantity controller.

## Input number

Input number can be found at these pages:
- Orders > Orders > Product > Products table

[code]

**Before and after**
Icons used are called ["minimize"](https://material.io/resources/icons/?ico

[2019-11-28 16:14] prestascott opened #16600 "[UI Kit] Multiple inputs"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

Width of the multiple inputs depends on the size of the column in Bootstrap.

## Multiple inputs

Multiple inputs can be found at these pages:
- Design > Images Settings
- Shipping > Preferences
- Shop Parameters > Order Settings
- Shop Parameters > Product Settings
- Shop Parameters > Customer Settings
- Advanced Parameters

[2019-11-28 16:17] khouloudbelguith commented on #16568
@Hlavtox, I added 204 cart rules using this script
[code]

In the BO => Cart rule page, I have "Load Time" = 791 ms & just 55 queries.
In the FO => Cart page => I have "Load Time"= 163 ms & 189 queries.

In my case, this query

[code]

Is called one time.

I attached a screen record
https://drive.google.com/file/d/1yNeJHlDPbY7uaW62ZGh-IR0_zVHo9ixQ/view
Thanks to check & feedback.

[2019-11-28 16:19] prestascott opened #16601 "[UI Kit] Radio buttons"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

Radio buttons can be found at these pages:
- Orders > Invoices
- International > Localization
- Advanced Parameters > E-mail

## Radio on

Material icons used is called ["radio_button_checked"](https://material.io/resources/icons/?icon=radio_button_checked&style=baseline).

[code]

## Radio off

Material icon used is called

[2019-11-28 16:21] khouloudbelguith commented on #16490
@hekep, 2 concurrent "confirm order" queries create 2 orders.
The second-order cannot be validated because of this error "cart cannot be loaded"

https://drive.google.com/file/d/1ZkjajnqUGKKd1Shg17_jmgsb2sU1aHXq/view
-Same customer
-Same browser session
-Same order, click on the confirm at the same time.

Thanks!

[2019-11-28 16:22] khouloudbelguith commented on #16580
Ping @PierreRambaud @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-11-28 16:24] prestascott opened #16602 "[UI Kit] Checkboxes"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

Checkboxes can be found in the tables and at these pages:
- Orders > Invoices
- Design > Positions

## Checkbox on

Material icon used is called ["check_box"](https://material.io/resources/icons/?icon=check_box&style=baseline).

[code]

## Checkbox off

Material icon used is called ["check_box_outline_blank"](https://materia

[2019-11-28 16:28] prestascott opened #16603 "[UI Kit] Tooltips"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

This allows users to know what is the purpose of the component. Show tooltips on hover.
Tooltips can appear on a button, on inputs.

## Tooltips

[code]

**Before and after**

Material icon used is called ["info"](https://material.io/resources/icons/?icon=info&style=baseline).

![Before - Tooltips](https://user-images.github

[2019-11-28 16:30] prestascott opened #16604 "[UI Kit] Toggles"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

It replaces the check and the cross because users might think it was unclickable.
Animation: circle change position and the color fades from one color to the other.
Toggles are used in the table to enable or disable one or more row.

Toggles can be found on these pages:
- Customer Service > Customer Service
- Customer Servic

[2019-11-28 16:32] prestascott opened #16605 "[UI Kit] Breadcrumbs"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

Links are blue and the current page is the same color as the body because it is static (unclickable).

## Breadcrumb

[code]

**Before and after**

![Before - Breadcrumb](https://user-images.githubusercontent.com/54888056/69821816-fa7ebb00-1204-11ea-9c88-1a9405170389.png)
![After - Breadcrumb](https://user-images.githubuserc

[2019-11-28 16:34] prestascott opened #16606 "[UI Kit] Short sticky alerts"
Epic: #16587

Those sticky alerts stay on the screen and until the user has solve the issue.

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

## Info sticky alert

[code]

**Before and after**

Material icon used is called ["info"](https://material.io/resources/icons/?icon=info&style=baseline).

![Before - Short sticky alert](https://user-images.githubusercontent.com/54888056/69821932-

[2019-11-28 16:37] prestascott opened #16607 "[UI Kit] Long sticky alerts"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

Those sticky alerts stay on the screen and until the user has solve the issue.

## Info sticky alert

Maximum number of lines before the "...": 2.

[code]

**Before and after**

Material icons used are the same than the ["Short sticky alerts"](https://github.com/PrestaShop/PrestaShop/issues/16606).

![Before - Long sticky al

[2019-11-28 16:38] Hlavtox commented on #16568
@khouloudbelguith Can you try it with my exact database dump?

Just ensure that some languages with ID 1 and 2 exist.
And change ID of the gift product in cart rule 48 to something that exist.

I am sure you will experience the same performance drop.

Also, it is very different if you test it on localhost than on any normal hosting....

[2019-11-28 16:39] prestascott opened #16608 "[UI Kit] Cards"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

## Theme cards
Design > Theme Catalog

[code]

**Before and after**

![Before - Theme cards](https://user-images.githubusercontent.com/54888056/69822172-fdc67680-1205-11ea-9957-19abd44c5e1e.png)
![After - Theme cards](https://user-images.githubusercontent.com/54888056/69822177-ff903a00-1205-11ea-9963-ecaecdb1ee6d.png)

### H

[2019-11-28 16:43] jnfDev commented on #15946
First of all, sorry for my english.

I solve this issue updating some fields in my database, specifically in ps_currency_lang.

![image](https://user-images.githubusercontent.com/36063539/69820674-0acc7100-11d8-11ea-977e-49e0b7514882.png)

![image](https://user-images.githubusercontent.com/36063539/69822412-aeb81b80-11dc-11ea-90f8-bc6ed3b8ff71.png)

[2019-11-28 16:44] prestascott opened #16609 "[UI Kit] Dropdowns"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

The width of dropdowns depends on the size of the longest text but for some cases, it must respect bootstrap column.
When the dropdown is opened, the arrow icon points up.

## Dropdown

Dropdowns can be found at:
- Stats' modules page (Available quantities, Carrier distribution, Catalog evaluation, and so on)
- Modules > Mod

[2019-11-28 16:46] prestascott opened #16610 "[UI Kit] Dropdowns under icon"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

The width of dropdowns depends on the size of the longest text.
When the dropdown is opened, the arrow icon points up.
Dropdown is aligned on the right.

## Dropdown under icon

[code]

**Before and after**

Material icon is called ["configuration"](https://www.materialui.co/icon/configuration).

![Before - Dropdown under ic

[2019-11-28 16:53] prestascott opened #16611 "[UI Kit] Dropdowns with search"
Epic: #16587

[Link to InVision prototype](https://invis.io/S9UXGJA73B5)

The width of dropdowns depends on the size of the column in Bootstrap, it fills up its width.
When the dropdown is opened, the arrow icon points up.
When the dropdown is closed, the arrow icon points down.

## Dropdown with search

Dropdown with search can be found at:
- International > Localization
- International > Transla

[2019-11-28 16:56] prestascott opened #16613 "[UI Kit] Modals"
Epic: #16587

[Link to InVision prototype](https://projects.invisionapp.com/d/main#/console/18908855/393895461/preview)

Modals were positioned on the top of the screen and by doing that, users can still see and read what is on the background so it didn't allow him to focus on the modal.
Modals position will change and will be centered on the screen.

## Modal

[code]

**Before and after**

Materi

[2019-11-28 16:58] Klemart3D opened #16614 "Missing charts on BO dashboard"
**Describe the bug**
On fresh install of PS 1.7.6.1, I have no charts in dashboard tab.
In web developper console I have the following error:
`TypeError: window[charts[chart_id].chart_type] is not a function`
Related to line 178 of dashboard.js file

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

![no-dahsboard-graph](https://user-images.githubuserco

[2019-11-28 17:11] HartLarsson commented on #11348
Considering that PS 1.7.6.1 is bugged and cannto translate child theme if you upgrade the  theme now, you will loose any translation made.

[2019-11-28 17:35] Hlavtox commented on #16283
@khouloudbelguith Managed to reproduce the issue. See the video:

https://drive.google.com/file/d/19SuT5YMueCVa-mG3AI2Bj1_kjB1qyZt8/view?usp=sharing

- Customize a product with a file.
- Add it to cart.
- Refresh the page, customize the product again, do not add it to cart.
- Go to cart, try to remove product. Will not work.
- After my fix, will work as it should and the logic will count only cust

[2019-11-28 17:42] Dupflo commented on #16556
Thanks for you help guys

[2019-11-28 19:11] ravloony commented on #16572
It seems to have been fixed by https://github.com/PrestaShop/PrestaShop/commit/352478c4de4803a6c034aaba3ae0e18c79131b6e#diff-9cf43e3cb58aa12f818237c17ebfc8ca

I downloaded https://raw.githubusercontent.com/PrestaShop/PrestaShop/352478c4de4803a6c034aaba3ae0e18c79131b6e/admin-dev/themes/default/template/controllers/specific_price_rule/helpers/form/form.tpl from this commit, and replaced my version w

[2019-11-28 19:15] ravloony commented on #16572
I am using Firefox 70.0b2, in case that helps. It seems the `live` jquery handler did not have time to execute before the page was submitted. The commit referenced above switches to using `on` which does. This could come back again, so I would recommend adding inputs to the form when the options are added, so the form submit can't break like that again.

[2019-11-28 19:15] ravloony commented on #16572
I am closing this, as it no longer happens for me since that commit. Thanks for your help @khouloudbelguith !

[2019-11-28 19:15] #16572 closed, assigned to nobody

[2019-11-28 22:24] ghost opened #16617 "var/cache issues"
**Describe the bug**
A white screen after hitting "clean cache" button.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable debug mode from website backend and hit "clean cache" button.  Often that leads to a white screen without any error in the browser. To get cache cleaned successfully and to return to website backend you need to hit F5 in browser on this white screen page.

At httpd.l

[2019-11-29 05:52] PeeyushAgrawal opened #16618 "Latest version prestashop file is not found on the link - PrestaShop v 1.7.6.2 Stable"
**Describe the bug**
 PrestaShop v 1.7.6.2 Stable - file missing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.prestashop.com/en/previous-versions'
2. Click on 'PrestaShop v 1.7.6.2 Stable - download button'
3. See error - https://download.prestashop.com/download/releases/prestashop_1.7.6.2.zip?_ga=2.116999429.2007158038.1574926980-73866645.1574661170

**Screenshots**
![

[2019-11-29 06:20] Emmanuel974 opened #16619 "ps_facetedsearch price slider issue"
Hi,

The price slide of the faceted filter is not responsive?
Take a look at my screen please.

Best regards,

Chrome
PS 1.7.5.2
PHP 7.0.33-0+deb9u3 (cli)
![issue-slider-facet](https://user-images.githubusercontent.com/38462724/69847800-9d7d1680-1291-11ea-8d5f-ac67e4c9097a.png)

[2019-11-29 07:05] WeiRuJian commented on #16513
I modified it in your way but it didn't work.

[2019-11-29 07:52] khouloudbelguith commented on #16211
Hi @cemalarik,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-29 07:52] #16211 closed, assigned to nobody

[2019-11-29 07:52] khouloudbelguith commented on #16210
Hi @LOUTAG,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-29 07:52] #16210 closed, assigned to nobody

[2019-11-29 07:56] khouloudbelguith commented on #16513
Hi @WeiRuJian,

You need to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks!

[2019-11-29 07:58] khouloudbelguith commented on #16614
Hi @Klemart3D,

I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.2.
![image](https://user-images.githubusercontent.com/16067358/69853090-3ad24d80-1286-11ea-91bb-84f58c799ea4.png)
Could you please try to re-install the `dashtrends` module, clear cache, check & feedback.

Thanks!

[2019-11-29 08:05] matks commented on #16618
@PeeyushAgrawalWebkul thanks for telling us 😉
You can download 1.7.6.2 from page https://www.prestashop.com/en/download while we fix the link bug

[2019-11-29 08:05] khouloudbelguith commented on #16617
Hi @rss9090,

First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

Second, in your

[2019-11-29 08:06] WeiRuJian commented on #16513
Thanks
I closed the cache, cleared the browser data and re entered the website, but it still hasn't changed。
I don't know what the problem is

[2019-11-29 08:11] khouloudbelguith commented on #16513
@WeiRuJian, if you use the dev-tools, inspect the code "product title", & disable the "`text-transform: uppercase;`" it will be ok, you need just to comment this line in your file.

![image](https://user-images.githubusercontent.com/16067358/69853810-17a89d80-1288-11ea-9512-4fec14bd2619.png)

![image](https://user-images.githubusercontent.com/16067358/69853885-2ee78b00-1288-11ea-889f-1165329e9492.

[2019-11-29 08:15] matks commented on #16618
EDIT: nope, this link is broken too 😞 although it worked yesterday. Sorry we're going to fix it real quick. You can download 1.7.6.2 from github https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.6.2

[2019-11-29 08:23] WeiRuJian commented on #16513
The product details page is shown correctly, while the product display page is shown in capitals. Maybe there is something wrong with my description, thank you!

[2019-11-29 08:29] WeiRuJian commented on #16513
Can you visit my website to have a look？ Thanks！
https://www.boromikey.com

[2019-11-29 08:34] sarahdib commented on #16283
Hello  @Hlavtox @khouloudbelguith

@Hlavtox Thank you for this precious information.
@khouloudbelguith I manage to reproduce the issue in 1.7.5.2, 1.7.6.2 and develop.

[2019-11-29 08:36] khouloudbelguith commented on #16283
Hi @sarahdib, thank you!

@Hlavtox, thanks for these clarifications.
I’ll add this to the debug roadmap.
Thanks!

[2019-11-29 08:39] rss9090 commented on #16617
Hi, khouloudbelguith

I know about recommended PHP versions and tried 7.3 after having no luck with 7.1 and 7.2. Also forgot to say that problem appears not only in dev mode but in prod too. And seems while webserver works under php7.3 the issue remains only in dev (debug) mode.

Considering Opcache I thought this way too and tried with opcache.enabled=0 before writing here but problem persists. Y

[2019-11-29 08:42] khouloudbelguith commented on #16513
@WeiRuJian, you need to edit this file
![image](https://user-images.githubusercontent.com/16067358/69855736-7243f880-128c-11ea-8a3b-beb48c144393.png)
And this line: `text-transform: none;`
![image](https://user-images.githubusercontent.com/16067358/69855784-8982e600-128c-11ea-8bcd-c090cd19cf80.png)

Thanks!

[2019-11-29 08:45] khouloudbelguith commented on #16617
@rss9090, you need to follow these steps: https://github.com/PrestaShop/PrestaShop/issues/10998#issuecomment-476361695
[code]
Fixed with this PR: https://github.com/PrestaShop/docker/pull/193

Thanks to check & feedback.

[2019-11-29 08:46] matks commented on #16618
@PeeyushAgrawalWebkul links are now valid again 😉

thank you again for telling us !

[2019-11-29 08:46] #16618 closed, assigned to nobody

[2019-11-29 08:46] WeiRuJian commented on #16513
Ok, I'll try, thank you very much!

[2019-11-29 08:52] PeeyushAgrawalWebkul commented on #16618
@matks

Your welcome!

[2019-11-29 09:06] davidglezz commented on #16607
insufficient contrast between the background color and the icon color

[2019-11-29 09:08] rss9090 commented on #16617
I'm sorry but you wrote opcache.revalidate_freq = 0 twice is that a msitake?

[2019-11-29 09:09] jf-viguier commented on #16589
In Vision link is not publicly accessible, Please open it.

[2019-11-29 09:11] khouloudbelguith commented on #16572
@ravloony, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-11-29 09:11] khouloudbelguith commented on #16556
@Dupflo, so, can we close this issue?

Thanks!

[2019-11-29 09:14] #14923 closed, assigned to atomiix

[2019-11-29 09:14] Hlavtox commented on #16283
@khouloudbelguith @sarahdib You are welcome.

I made a PR ladies, link above. Check it out, get it accepted and we have this solved. Have a nice day! :)

[2019-11-29 09:19] khouloudbelguith commented on #16617
@rss9090, thanks to follow this link: https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/ about the `System requirements for PrestaShop 1.7`.
You can follow this configuration: https://github.com/PrestaShop/docker/blob/master/base/config_files/php.ini#L1832
for the `opcache`.

Thanks!

[2019-11-29 09:28] hekep commented on #16490
@khouloudbelguith  idk about  "cart cannot be loaded" or why it is  "cart cannot be loaded" , even if cart  has an order allready.

FYI , In our Payment module we depricated use of  `$cart->orderExists()`  because of cache ( use direct DB queries ) and created a extra table.

On Black Fridays server can be easily overloaded and duplicates are easy to come.

Happy Black Friday to Prestashop team!

[2019-11-29 09:37] #16227 closed, assigned to nobody

[2019-11-29 09:38] prestascott commented on #16589
Thank you for your feedback @jf-viguier
I will update InVision links. :)

[2019-11-29 09:40] khouloudbelguith commented on #16490
@hekep, can you try to reproduce the issue using a native module provided by PrestaShop & not your own module.
Because as it's not provided by Prestashop, we can't do anything with this.

Thanks!

[2019-11-29 09:42] Klemart3D commented on #16614
Hi @khouloudbelguith,

Thanks for your answer. You're right, `dashtrend` (and other dash* modules) were missing on **actionAdminControllerSetMedia** and **actionOrderStatusPostUpdate** hooks so I reset them and now graphs are come back!

Thanks a lot for your help, I close this ticket :)

[2019-11-29 09:42] #16614 closed, assigned to nobody

[2019-11-29 09:46] khouloudbelguith commented on #16614
@Klemart3D, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-11-29 10:02] hekep commented on #16490
I tried with multiple  `jQuery.get('')`  on  `/module/ps_checkpayment/validation`  and I got error message with the second query 'This payment method is not available.'   Obviously I did not get not enough concurrent queries with  `jQuery.get('')` , so I was not successful. This is a matter of milliseconds concurrency.

This happened in production, FYI.

[2019-11-29 10:07] prestascott commented on #16607
Hi @davidglezz, thank you for your feedback. I updated this warning alert by changing the background color in order to increase the contrast with the icon. :)

[2019-11-29 10:09] khouloudbelguith commented on #16490
@hekep, so you tried to edit this file `/module/ps_checkpayment/controllers/front/validation.php` to have a lot of orders at the same time? but it cannot be reproduced?

Thanks!

[2019-11-29 10:17] matks commented on #15228
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16104

[2019-11-29 10:17] #15228 closed, assigned to TristanLDD, MatShir

[2019-11-29 10:24] rss9090 commented on #16617
Thank you but this link is well known. I need exact information how many GB of RAM webserver should have minimally to run PS 1.7.6.1 flawlessly. At  https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/  there is no such info.

Copied opcache settings from here https://github.com/PrestaShop/docker/blob/master/base/config_files/php.ini#L1832
opcache.enable=1
opcache.memory_con

[2019-11-29 10:32] khouloudbelguith commented on #16619
Hi @Emmanuel974,

It is OK with PS1.7.6.2 & the default theme classic provided by PrestaShop.
https://drive.google.com/file/d/1odR6F9Kj0_8iTBKzTabEdxkUN13_dyq-/view
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-11-29 10:32] #16619 closed, assigned to nobody

[2019-11-29 10:53] rss9090 commented on #16617
used whole php.ini from here https://github.com/PrestaShop/docker/blob/master/base/config_files/php.ini#L1832
Problem went worse - unable to turn off dev mode because of 500 error.

[2019-11-29 11:15] hekep commented on #16490
No, not editing. I tried to to multiple concurrent ajax calls with `jQuery.get('')` to `/module/ps_checkpayment/validation` url. I could not  reproduce the problem....  Error messages are misleading anyways. Why `Module::getPaymentModules()` did not  return 'ps_checkpayment' in `Ps_CheckpaymentValidationModuleFrontController` is not understandable.

In our payment module we have removed this code

[2019-11-29 11:26] fabio-zetaweb commented on #11332
Hello,
@khouloudbelguith
ok to manage manufacturers and suppliers independently, but what will happens to the indexation of those single (suppliers) pages on Google?
Those pages shouldn't appear on google search.

[2019-11-29 11:35] khouloudbelguith commented on #11332
Those pages shouldn't appear on google search.

Ping @matthieu-rolland what do you think?

Thanks!

[2019-11-29 11:38] khouloudbelguith commented on #16490
@hekep, Could you please provide me your custom module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-11-29 11:43] rss9090 commented on #16617
When installing new template got error - Cannot rename "/var/public_html/var/cache/dev/ContainerZoyjmmg/getPrestashop_Core_Query_DoctrineSearchCriteriaApplicatorServicxxxxxx" to "/var/public_html/var/cache/dev/ContainerZoyjmmg/getPrestashop_Core_Query_DoctrineSearchCriteriaApplicatorService.php".

F5 in browser do the trick.

[2019-11-29 11:49] Hlavtox commented on #16617
This is not a problem of your server, clearing cache doesnt work. https://github.com/PrestaShop/PrestaShop/issues/11105

[2019-11-29 11:53] khouloudbelguith commented on #16617
@Hlavtox, this is a double click on the clear cache.
If we click once => OK
Thanks!

[2019-11-29 11:57] rss9090 commented on #16617
I don't doubleclick.
Okay if it's an unfixed bug then what possible could be a workaround - to disable cache at all by uninstalling corresponding php extensions?

[2019-11-29 12:03] Hlavtox commented on #16617
@khouloudbelguith  It's not ok, it does no work - https://drive.google.com/file/d/1hDoTiBSzKMLK1FzAU0nWVQ-1cuQLOaDG/view?usp=sharing

[2019-11-29 12:04] Hlavtox commented on #11105
Still not fixed on 1.7.6.1 https://drive.google.com/file/d/1hDoTiBSzKMLK1FzAU0nWVQ-1cuQLOaDG/view?usp=sharing

[2019-11-29 12:08] khouloudbelguith commented on #16617
@rss9090,

I just forwarded your question to the team core.
- We recommended minimum by a process is 256mo but it's for ONE process => so overall a few Go is recommended as explained in this section: https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
- The exact information depends on how many parallel accesses you want to manage and you also need some RAM for MySQL, apach

[2019-11-29 12:11] rss9090 commented on #16617
And if you hit F5 shop completes cache clearing?

[2019-11-29 12:18] Hlavtox commented on #16617
[29-Nov-2019 13:17:32 Europe/Prague] PHP Fatal error:  require(): Failed opening required '/srv/www/eshop-teka.cz/public/new/var/cache/prod/ContainerOksxc3x/removed-ids.php' (include_path='/srv/www/eshop-teka.cz/public/new/vendor/pear/pear_exception:/srv/www/eshop-teka.cz/public/new/vendor/pear/console_getopt:/srv/www/eshop-teka.cz/public/new/vendor/pear/pear-core-minimal/src:/srv/www/eshop-teka.c

[2019-11-29 12:19] Hlavtox commented on #16617
And before, it threw this:

[code]

[2019-11-29 12:20] khouloudbelguith commented on #16617
@Hlavtox, this is a cache issue.
Clearing the cache manually solves the issue.
But, in my case, with PS1.7.6.1, when I try to clear cache from the BO => OK => Succesful alert as you can see in my screen record.

Thanks!

[2019-11-29 12:27] rss9090 commented on #16617
Tested double and triple clicks on a cache button - confirm faulty behaviour with white screen. But if I hit F5 then I successufily back to shop admin interface and got 2 or 3 "cache cleared successful" messages. But in my case even one click sometimes lead to such error.

How much RAM do you have on your webserver?

[2019-11-29 12:28] Hlavtox commented on #16617
@rss9090 256MB RAM

[2019-11-29 12:30] rss9090 commented on #16617
puth there 2048+ MB RAM and try to test again please

[2019-11-29 12:34] khouloudbelguith commented on #16617
@rss9090,

If you click more than one => error, we are aware of this issue => it is added to our bug roadmap as reported here: https://github.com/PrestaShop/PrestaShop/issues/11105

Thanks!

[2019-11-29 12:36] rss9090 commented on #16617
@khouloudbelguith
How much RAM do you have on your webserver? Do you have a swap partition or swapfile enabled and in use? If yes of what size?

[2019-11-29 12:37] #10552 closed, assigned to atomiix

[2019-11-29 13:16] khouloudbelguith commented on #16617
@rss9090,
![image](https://user-images.githubusercontent.com/16067358/69871291-b21dd680-12b2-11ea-8a95-137460efcd66.png)
here's my configuration
![image](https://user-images.githubusercontent.com/16067358/69871338-d2e62c00-12b2-11ea-8fd7-ce1940748bd9.png)

Thanks!

[2019-11-29 14:05] rss9090 commented on #16617
could you provide also phpinfo() output from your webserver?

[2019-11-29 14:10] #16549 closed, assigned to matks

[2019-11-29 14:16] khouloudbelguith commented on #16617
@rss9090, yes!
[phpinfo().pdf](https://github.com/PrestaShop/PrestaShop/files/3905505/phpinfo.pdf)

Thanks!

[2019-11-29 14:29] marionf commented on #13275
Fixed on develop branch for 1.7.7:

![capture d'écran_2166](https://user-images.githubusercontent.com/13449658/69875292-15ad0180-12bd-11ea-84dc-2e05280e086d.png)

[2019-11-29 14:29] #13275 closed, assigned to nobody

[2019-11-29 14:32] jf-viguier opened #16622 "weird behavior when displayHeader is used in theme.yml"
**Describe the bug**
displayHeader usage in theme.yml causes a weird behavior : a new hook is created et launched before the header hook (the good one)

**To Reproduce**
Steps to reproduce the behavior:
1. add a displayHeader section in yout theme.yml with a module
2. Reinit the theme
3. Go to ps_hook and see displayHeader hook, the module should be hooked to the real header hook.
In fact the modu

[2019-11-29 14:42] marionf commented on #13061
It's fixed on develop branch and will be ok for 1.7.7:

![capture d'écran_2169](https://user-images.githubusercontent.com/13449658/69876015-cd8ede80-12be-11ea-9a7b-bbdf92c10494.png)

[2019-11-29 15:00] matks opened #16623 "Cannot order a customizable product if address is created AFTER product has been added to cart"
**Describe the bug**
Cannot order a customizable product if address is created AFTER product has been added to cart. At payment step, I get an exception (see screenshot below)

**To Reproduce**
1. Fresh install of `develop` branch
2. Add to cart a product which has combinations, such as a Tshirt
2. Add to cart a customizable product: for example use default "Customizable mug"
3. Create a customer

[2019-11-29 15:18] khouloudbelguith commented on #16623
Hi @matks,

Same issue with develop branch & PS1.7.5.2 & PS1.7.6.1.
It is not a regression.

Thanks!

[2019-11-29 15:22] rss9090 commented on #16617
@khouloudbelguith
phpinfo().pdf
As far as I can see you use php_mod? And mcrypt (pecl-mcrypt) doesn't needed?

[2019-11-29 15:35] #14709 closed, assigned to eternoendless, jolelievre

[2019-11-29 15:36] Hlavtox opened #16624 "#15621 causes errors on upgrade if table contains extra columns"
**Describe the bug**
I don't use multistore, but got some warnings during autoupgrade from 1.7.6.1 to 1.7.6.2 regarding ps_product_lang and ps_category_lang, complaining that column count is not correct.

I think it's pretty common for modules to modify database structure and add own columns, the upgrade sql scripts are not prepared for this.

**To reproduce**
- Install 1.7.6.1
- Add some columns

[2019-11-29 15:42] matks commented on #16623
Giving back to Cesar what belongs to him: initial situation detected by @Robin-Fischer-PS

[2019-11-29 15:54] khouloudbelguith commented on #16624
Hi @Hlavtox,

How did you add those columns? manually from the database?

Thanks!

[2019-11-29 16:18] khouloudbelguith commented on #16617
@rss9090,

Yes!

The mcrypt extension was deprecated for 7.1 & I 'm using PHP7.2.
https://github.com/PrestaShop/PrestaShop/pull/6265

Thanks!

[2019-11-29 16:22] khouloudbelguith commented on #16622
Hi @jf-viguier,

Is it the same issue reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/10405?

Thanks!

[2019-11-29 16:28] jolelievre commented on #14736
I'm not sure we can close this one, it was replaced by "Left click" + "Bulk open in tab" in this version

But the initial "Right click" feature hasn't been postponed, it is planned to add it in the next version

[2019-11-29 16:41] rss9090 commented on #16617
@khouloudbelguith
Yes I know that it's deprecated but there is php72-pecl-mcrypt package and what would be better to install it or not? Does PS 1.7.6.2 use it or not?

[2019-11-29 16:46] khouloudbelguith commented on #16568
@Hlavtox, data added
![image](https://user-images.githubusercontent.com/16067358/69882092-5746a800-12cf-11ea-9ccc-04a1454c544e.png)

In the BO => Cart rule page, I have:
1. Load time = 825 ms
2. Queries = 56

In the FO => Cart page => I have:
1. Load time = 172 ms
2. Queries = 177

This query

[code]
Is called two times only

I attached a screen record
https://drive.google.com/file/d/1jk6NGxli85aC

[2019-11-29 16:49] khouloudbelguith commented on #16617
@rss9090, those are the PHP extensions required & recommended
![image](https://user-images.githubusercontent.com/16067358/69882427-64b06200-12d0-11ea-8a8f-c8dc0e76eb4f.png)
You can  follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and of

[2019-11-29 16:51] jf-viguier commented on #16622
@khouloudbelguith no

[2019-11-29 16:52] jf-viguier commented on #10405
I have this bug too. I think that the header hook is not displayed when module is a widget (no hook at install)

[2019-11-29 17:04] wouterlagauw opened #16625 "Translating child theme not possible"
**Describe the bug**
Using 1.7.6.1 and 1.7.6.1. When you want to translate a child theme, the error '/var/cache/dev/themes/child_theme/translations/nl-NL directory does not exist.' appears. Copying a translations to another theme also doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to themes
2. Download child theme of classic theme
3. Activate child theme
4. Go to translatio

[2019-11-29 18:17] BeReal86 opened #16626 "When we disable a language, this language is not displayed on the some pages and other pages, it is displayed"
When we disable the employee's language, the disabled language is not displayed:
1. Add new product page
2. Email Theme page
3. Add new block page => issue reported here: https://github.com/PrestaShop/PrestaShop/issues/16434
4. Localization page => default language section
5. Translations page
6. Import page => reported here: https://github.com/PrestaShop/PrestaShop/issues/15334

In some pages, th

[2019-11-29 19:09] #15097 closed, assigned to PierreRambaud

[2019-11-29 19:09] #12165 closed, assigned to NeOMakinG

[2019-11-29 19:19] Hlavtox commented on #16568
@khouloudbelguith I tried now and made this table.

Something had to be slightly tweaked in 1.7.6.2. The query is now repeated 11 times. Before it was 141 times. And it only happens for a logged in customer.

![loadtime](https://user-images.githubusercontent.com/6097524/69887041-3f7a1e80-12e5-11ea-90ad-66617e46929f.JPG)

[2019-11-29 19:24] Hlavtox commented on #16624
In my case, yes. But I know a lot of modules that add custom columns to the database during installing. This is usually not a problem, because every time I upgraded, the scripts just add something or slightly change the column type.

![Výstřižek](https://user-images.githubusercontent.com/6097524/69887210-2625a200-12e6-11ea-8810-69694f8e4943.JPG)

[2019-11-29 19:30] Hlavtox opened #16627 "[SEO | IMPROVEMENT] Add category bottom description"
**Problem**
It would be very useful if you guys could add a second description field to a category, which would show up under the product list.

For SEO purposes, merchants usually add a lot of text to category description. Upper description is not very good place for this, because people will usually not read it and it just occupies space.

Collapse is one solution, but hidden text has less "valu

[2019-11-29 19:36] Hlavtox opened #16628 "[HOOK | IMPROVEMENT] Add a displayFooterCategory hook"
**Example use case**
A lot of modules need to show content under category and they have no other option than to hook to footer and append the content via JS.

**Solution**
Add a default {displayFooterCategory} hook under product list. Life will be easier for developers, code complexity lower and the page speed higher.

**Example - blog posts related to category**
![category](https://user-images.gi

[2019-11-29 20:39] cedricfontaine opened #16629 "Preg_match error on product page with group array"
We see a lot of warning errors using the newrelic APM on product page with combination group.

For example, this url is generated when we change the color
https://www.example.localhost/en/index.php?controller=product?token=bbc9c29ec62ee06deb919edab05e1a3a&id_product=133766&id_product_attribute=155272&id_customization=0&group%5B8%5D=7970&group%5B11%5D=5378&qty=1

In debug mode, we have
(1/1) Contex

[2019-11-30 05:38] rss9090 commented on #16617
@khouloudbelguith and what about php72-tokenizer? Seems like a php modules list is incomplete?

[2019-11-30 11:38] rss9090 commented on #16617
@khouloudbelguith if we install modules only modules listed in the tool we will get an error during the PS installation "PrestaShop installation requires the SimpleXML extension to be enabled."
So request from your tech team a complete php72-modules list and post here please,

[2019-11-30 12:19] mvorisek opened #16630 "Install with PHP error/warnings reporting enabled"
**Describe the bug**
Currently PrestaShop installer will trigger a PHP warning if run on Windows with `open_basedir` set.

Also reported in Twig repo, https://github.com/twigphp/Twig/issues/3209 , but it seems that the the Twig code expects relative path only, but currently PrestaShop passes absolute path here: https://github.com/PrestaShop/PrestaShop/blob/0819739d490a55b02dc185649f7a31834117146d/

[2019-11-30 13:00] mvorisek commented on #16630
Seems like related with https://github.com/PrestaShop/PrestaShop/issues/14663 , but the related PR https://github.com/PrestaShop/PrestaShop/issues/14663 does NOT solve the issue.

[2019-11-30 14:02] mvorisek commented on #16630
Closing for now and consider reopening after the https://github.com/PrestaShop/PrestaShop/issues/14663 is resolved.

[2019-11-30 14:02] #16630 closed, assigned to nobody

[2019-11-30 14:07] mvorisek commented on #14663
This issue is not resolved with the PR https://github.com/PrestaShop/PrestaShop/pull/15906 .

Currently the installation fails on Windows. I tested latest .zip release, cloned source from git, from latest stable tag, from develop branch. All installation attempts fails no matter if installed from web or from cli.

The only solution was to delete the `mails\themes\modern` directory as advised here

[2019-11-30 14:17] mvorisek opened #16631 "Bad links if installed in subfolder"
**Describe the bug**
If PrestaShop is installed in subfolder, some links ignore the subfolder.

**To Reproduce**
Steps to reproduce the behavior:
1. Install and check left menu in BO
2. some links like "Orders > Orders" are ok, some like "Advanced Parameters > Performance" start with `/` and ignore installation in subfolder and link to bad location

PS if installed via CLI, the<br>`$_SERVER['REQUE

[2019-11-30 14:30] BeReal86 commented on #16626
Picture below Catalog / Categories
Is Ch. Although the administration panel is only in Turkish, the language option is displayed in this section. The same should be in the Products section.

The problem I mentioned above stems from the lack of language selection.

<img width="1024" alt="p1" src="https://user-images.githubusercontent.com/16218107/69901747-ccc97b80-1396-11ea-9194-feb830b13b90.png">

[2019-11-30 18:15] BeReal86 commented on #16626
Customer Reassuranc module
i am having the same problems. the language option must always be active here. As I mentioned before, my store is in English. I want to use my management panel in Turkish, but this kind of problems are happening. But as I mentioned in my first message, I can see the language is not a problem in some places.

<img width="1148" alt="pl1" src="https://user-images.githubuser

[2019-11-30 21:24] dreamtheme opened #16633 "Quickview and product flags bug"
When you are on the main page at the "popular products", and you have one of the products with "pack" label or with "on sale" label active, and you click the "quick view" button for the "pack" or "on sale" labeled product, then use the arrow buttons in quantity to change the quantity to 2, then the "on sale" or the "pack" label is applied to all products in "popular products" incorrectly.

See the

[2019-11-30 21:26] matks opened #16634 "Error after upgrade 1.7.6.1 -> 1.7.6.2 when unused currencies in database"
**Describe the bug**
After upgrade from 1.7.6.1 to 1.7.6.2 get error:
[code]

Solution to fix: delete unused currencies from DB table.

[2019-11-30 21:27] matks commented on #16634
Bug report submitted through disqus on Build blog: https://build.prestashop.com/news/prestashop-1-7-6-2-maintenance-release/#comment-4707507793

[2019-11-30 23:01] Hlavtox commented on #11722
@marionf @colinegin @khouloudbelguith @jf-viguier

Made a PR with a fix guys  #16635. Test it please, should work fine.

[2019-11-30 23:16] ziezo opened #16636 "Mix of collations in database"
On one of my SQL queries I got this error:

1270 - Illegal mix of collations (utf8_bin,NONE), (utf8mb4_unicode_ci,COERCIBLE), (utf8mb4_unicode_ci,COERCIBLE) for operation 'replace'

Fixed it by changing the collation from **utf8_unicode_ci** to **utf8_general_ci** of the following columns
**ps_shop.name
ps_shop.theme_name
ps_shop_group.name**

(on a PS1.7.6.1 database)

There might be other column

[2019-11-30 23:24] ziezo opened #16637 ""Recalculate shipping costs after editing the order" does not update invoice"
When the option "Recalculate shipping costs after editing the order" is set, the shipping cost is correctly recalculated when an order is modified.

If an invoice existed before modifying the order, the invoice is changed to match the modified order except for the shipping cost, which do not change on the invoice.

Tested on PS1.7.6.1

[2019-11-30 23:46] Hlavtox commented on #10766
@colinegin @marionf PR opened with a fix #16638 - try it please

[2019-12-01 10:01] pnshurba opened #16639 "linked orders 1.7.6.1"
I am using prestashop 1.7.6.1
![Снимок экрана 2019-12-01 в 12 58 33](https://user-images.githubusercontent.com/39360984/69912438-58e0af00-143a-11ea-8944-5baeb75e83f0.png)
![Снимок экрана 2019-12-01 в 12 58 26](https://user-images.githubusercontent.com/39360984/69912439-58e0af00-143a-11ea-91ab-9c408fd2fb85.png)

 but I don't find any useful information on linked orders how they created and how they

[2019-12-01 11:31] ziezo opened #16640 "Modify order does not show quantity discount prices"
When changing the quantity of an order line the price does not change according to the quantity discount prices.

Note: It works correctly when a new order line is added to an order, but does not work when changing an existing order line.

**Steps to reproduce on PS1.7.6.1:**

1. - add a specific price for a product for quantity of 2 pieces
2. - add an order for 1 piece of this product
3. - save t

[2019-12-01 14:15] dreamtheme commented on #16633
Tested additional versions
Also happens in 1.7.6.2
Does not happen in 1.7.5.2

[2019-12-01 14:21] muyncky commented on #16613
Extremely smooth. I love it.

[2019-12-01 17:20] simulbeni opened #16641 "FormBuilderModifier Multi language"
I am trying to add a new field in admin category edit page using hook actionCategoryFormBuilderModifier.

Field works well with normal data but when try to add multi language field it start creating issue.

$formBuilder->add('description_long', TranslateType::class, [
            'type' => FormType\TextareaType::class,
            'locales' => Context::getContext()->language->getLanguages(),

[2019-12-01 21:27] Hlavtox opened #16642 "Change proposal - Limit cart rules to one action?"
I don't know how many merchants will agree to this, but:
**Is it really needed to allow so many actions in a cart rules at once?**

I can't think of one situation where we would need to apply a gift, discount and free shipping in one permanent or voucher-enabled promotion. You either say: "use this code to get X% discount", "free shipping on all orders with code ABCD!" or "super duper gift for all

[2019-12-02 07:59] khouloudbelguith commented on #16219
Hi @xandenet,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-02 07:59] #16219 closed, assigned to nobody

[2019-12-02 08:00] khouloudbelguith commented on #16201
Hi @aavinseth,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-02 08:00] #16201 closed, assigned to nobody

[2019-12-02 08:01] khouloudbelguith commented on #16002
Hi @WooXu,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-02 08:01] #16002 closed, assigned to nobody

[2019-12-02 08:04] khouloudbelguith commented on #16205
Hi @Mosquito65,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-02 08:04] #16205 closed, assigned to nobody

[2019-12-02 08:05] khouloudbelguith commented on #16198
Hi @Colgeo13,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-02 08:05] #16198 closed, assigned to nobody

[2019-12-02 08:11] khouloudbelguith commented on #16625
Hi @wouterlagauw,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15268
So, I close it.
Thanks!

[2019-12-02 08:11] #16625 closed, assigned to nobody

[2019-12-02 08:12] khouloudbelguith commented on #16625
Duplicate of #15268

[2019-12-02 09:25] khouloudbelguith commented on #16626
Hi @BeReal86,

First, about the block reassurance module, we are aware of this issue, it is added to our bug roadmap.
Please follow this ticket: #16400.

Second, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestash

[2019-12-02 10:00] khouloudbelguith commented on #16617
@rss9090, in this file: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/ConfigurationTest.php#L89
You can check all the tests done during the install of PrestaShop.

Thanks!

[2019-12-02 10:01] #16455 closed, assigned to jolelievre

[2019-12-02 10:02] khouloudbelguith commented on #16627
Hi @Hlavtox,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2019-12-02 10:05] khouloudbelguith commented on #16628
Hi @Hlavtox,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2019-12-02 10:09] rss9090 commented on #16617
Prestashop don't perform all necessary checks during install.

[2019-12-02 10:18] #9670 closed, assigned to NeOMakinG

[2019-12-02 10:23] Progi1984 commented on #12051
After [discussion on a PR](https://github.com/PrestaShop/PrestaShop/pull/16150#discussion_r352083528) with @jolelievre, What is planned for Javascript ?

[2019-12-02 10:27] Bonobomagno commented on #14968
how to force prestashop save ALL the traslation key on db?

[2019-12-02 10:33] simulbeni opened #16645 "FormBuilder Multi Language Field"
I am trying to add a new field in admin category edit page using hook actionCategoryFormBuilderModifier.

Field works well with normal data but when try to add multi language field it start creating issue.

$formBuilder->add('description_long', TranslateType::class, [
'type' => FormType\TextareaType::class,
'locales' => Context::getContext()->language->getLanguages(),
'label' => $this->translator-

[2019-12-02 10:35] sarahdib opened #16646 "In supplier the language does not change on the whole page"
**Describe the bug**
When I change language in area description, the change isn't apply to the whole page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to back office
2. Click on catalog -> brands & suppliers -> suppliers add new supplier
3. Switch language in the description area
4. See error

**Screenshots**
https://drive.google.com/file/d/1GIoKlFsVbOsoNjfeEUr6fniH24l1z-ts/view

**Add

[2019-12-02 10:35] rss9090 commented on #11105
Still not fixed on 1.7.6.2

[2019-12-02 10:42] lutek commented on #16584
my quick patch #14881

[2019-12-02 10:43] khouloudbelguith commented on #16629
Hi @cedricfontaine,

Thanks for your report.
Have you the same issue with PS1.7.6.2?

Thanks!

[2019-12-02 10:46] marionf commented on #11105
Any help is welcomed, if you have an idea feel free to submit a PR :)

[2019-12-02 11:21] khouloudbelguith commented on #16631
Hi @mvorisek,

In your BO => Shop Parameters => Traffic & SEO page, what is your exact shop URL configuration?
![image](https://user-images.githubusercontent.com/16067358/69955595-4af46200-14fe-11ea-99e8-b892b19d42cc.png)
Thanks!

[2019-12-02 11:32] ghost opened #16649 "Prestashop not compatible with PHP 7.3.12"
The admin panel is not really useable, when you use PS on PHP 7.3.12 - Some commands are not working propperly and the debug mode kills the whole Backend.

Screenshot: https://s19.directupload.net/images/191202/4rkoai9a.jpg

PrestaShop version: 1.7.5.1
PHP version: 7.3.12 (works fine on 7.2)

[2019-12-02 11:36] LouiseBonnard commented on #9584
It works fine now, I close the issue!

[2019-12-02 11:36] #9584 closed, assigned to nobody

[2019-12-02 11:38] khouloudbelguith commented on #16649
Hi @1d0navan,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrade you

[2019-12-02 11:38] #16649 closed, assigned to nobody

[2019-12-02 11:41] rss9090 commented on #11105
@marionf
The only thing that I could tell about the issue that I'm often going to WSOD even from the one click on "Clear cache" button if Apache 2.4 is configured as mpm_event + mod_proxy_fcgi. But if I change config to mpm_prefork + mod_php72 there are no WSODs after one click, double clicks seems ok too. But on triple and quadruple clicks WSODs or other error would appear with 100% rate.
Any sug

[2019-12-02 11:42] khouloudbelguith commented on #16633
Hi @dreamtheme,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0, PS1.7.6.1 & PS1.7.6.2.
Before
![image](https://user-images.githubusercontent.com/16067358/69956758-2d74c780-1501-11ea-9bf6-6ab2975cddb8.png)
After
![image](https://user-images.githubusercontent.com/16067358/69956763-36659900-1501-11ea-9335-384d2373f4f2.png)

It is OK with PS1.7.5.2.
I’ll add this to the debug

[2019-12-02 11:45] MatShir opened #16650 "[ORDER PAGE] Cancel products button"
**User story**

As a merchant, I want to cancel my products or my orders before they are paid in case of an incorrect order.

**Specs**

The cancel button only is shown by default on the creation of an order.
The button **disappears** when the order is **considered as paid**

When pressing the button, the product list takes the full with of the page and the column cancel is added.
On the column ca

[2019-12-02 11:51] elviraprint opened #16651 "i got this message showing up in my back office"
<img width="1666" alt="Capture d’écran 2019-12-02 à 12 44 07" src="https://user-images.githubusercontent.com/51324358/69957061-12568780-1502-11ea-9220-5a8d51606af1.png">

**Describe the bug**
A clear and concise description of what the bug is.
i got this message showing up in my backoffice, it doesn't create any bug yet or maybe i don't see it, i just want to know how i can solve this probleme
t

[2019-12-02 11:59] khouloudbelguith commented on #16651
Hi @elviraprint,

This is a permission issue on your server.
Thanks to check it with your host & feedback.

[2019-12-02 12:04] khouloudbelguith commented on #16639
Hi @pnshurba,

Split order in two orders?
This issue of split orders.
In your case,
1. Do you have more than one carrier?
2. For product 1 which can be shipped to the customer's address => in the BO => Product details page => Shipping Tab => you have selected a specific Carrier?
3. For the product 2 which cannot be shipped to the customer's address => in the BO => Product details page => Shipping

[2019-12-02 12:09] khouloudbelguith commented on #16645
Hi @beniwal,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!
So, I close it.
Thanks!

You can follow this ticket: #14735

[2019-12-02 12:09] khouloudbelguith commented on #16641
Hi @beniwal,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!
So, I close it.
Thanks!

You can follow this ticket: #14735

[2019-12-02 12:09] #16641 closed, assigned to nobody

[2019-12-02 12:10] khouloudbelguith commented on #16641
Duplicate of #16645

[2019-12-02 12:12] dennispw commented on #16633
This line simply needs a more specific selector to only target the currently viewed product: https://github.com/PrestaShop/PrestaShop/blob/33684a3828f66e3a0e91ed53a8239813dcef41dd/themes/_core/js/product.js#L186

[2019-12-02 12:13] khouloudbelguith commented on #16636
Hi @ziezo,

Thanks to provide me the exact steps to reproduce the issue?
How did you get this error? On which page?

Thanks!

[2019-12-02 12:16] khouloudbelguith commented on #16642
Hi @Hlavtox,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-12-02 12:25] CallejaMotos opened #16652 "Check categories in Faceted search"
**Description's bug**

Prestashop with more than 5.000 categories (/subcategories) **don't** **SAVE** all categories and subcategories in Faceted search module configuration when I check with button check all or even with a script.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules
2. Faceted search => Configure
3. Press _Check All_ (or even with a script*). Everything works and i

[2019-12-02 12:29] dreamtheme commented on #16633
From what i see, its not only the ".product-flags" that needs specific selector for the currently viewed product, but the rest of the classes too.

[2019-12-02 12:30] MatShir opened #16653 "[ORDER PAGE] Standard Refund button"
**User story**

As a merchant, I want to refund my orders to my customer before there are shipped in the case for order mistaken.

**Specs**

Standard refund only **appears when the merchandise returns are activated and the order is considered as paid** and **disappears when the order is considered as shipped.**

When the user presses the button a column "Refund" is added with a checkbox and the i

[2019-12-02 12:53] ziezo commented on #16636
Hello @khouloudbelguith

This happens when writing custom queries. Enter this query in the Database->SQL Manager
[code]
this gives
[code]
Execute the query in a database client (eg phpMyAdmin) to see the MySQL error message.

**Improvement Hint**: It would be helpful to have the "SQL Manager" show the actual MySQL error.

There are actually 28 columns with utf8_unicode_ci, unless there is a really

[2019-12-02 13:18] MatShir opened #16654 "[ORDER PAGE] Return products"
**User story**

As a merchant, I want to restock or refund when my customer returns his orders.

**Specs**

Return product only **appears when the merchandise returns are activated and the order is considered as shipped**.

When the user presses the button a column "Refund" is added with a checkbox and the input quantity.

A quantity must be selected to refund a product.
A product can be return if

[2019-12-02 13:21] colinegin commented on #13880
@MatShir do you know if this issue has been fixed with the page migration ?

[2019-12-02 13:33] khouloudbelguith commented on #16634
Hi @matks,

I did not manage to reproduce the issue with PS1.7.6.2 after an upgrade from PS1.7.6.1 using the 1-click upgrade v4.10.0.
https://drive.google.com/file/d/1AlqJEFequj_WNQFuNIB3t_q84N2MqD3E/view
I used three currencies,
The currency with id_currency = 1 is disabled
The currency with id_currency = 2 is enabled
The currency with id_currency = 3 is deleted
![image](https://user-images.githu

[2019-12-02 13:47] Robin-Fischer-PS commented on #12024
Issue https://github.com/PrestaShop/PrestaShop/issues/11722 is now fixed, but the PR does not fix this issue, so I reopen it :)

[2019-12-02 14:10] khouloudbelguith commented on #16636
@ziezo, I manage to reproduce the issue with PS1.7.5.2
![image](https://user-images.githubusercontent.com/16067358/69965916-96663a80-1515-11ea-9a09-72b22f3ee399.png)
With PS1.7.6.0 & PS1.7.6.1 & PS1.7.6.2, I have an alert unclear.
![image](https://user-images.githubusercontent.com/16067358/69966016-d0cfd780-1515-11ea-928b-bd475640aa89.png)
I’ll add this to the debug roadmap so that it’s fixed. If

[2019-12-02 14:11] khouloudbelguith commented on #16636
Unclear error => Related to: "16514

[2019-12-02 14:13] matks commented on #16645
Come talk on gitter to explore this issue 😉(but we'll need the full detail of the 500 error)

[2019-12-02 14:14] idnovate commented on #11722
This PR fixes https://github.com/PrestaShop/PrestaShop/issues/11722#issuecomment-499413873. Tested with 1.7.6.2 which already includes https://github.com/PrestaShop/PrestaShop/pull/13704

[2019-12-02 14:21] cedricfontaine commented on #16629
Hello,
I didn't check. But I look at the code and there is no changes done. So for me problem still exists.

[2019-12-02 14:22] khouloudbelguith commented on #16645
@matks,

[2019-12-02 14:22] #16645 closed, assigned to nobody

[2019-12-02 14:47] khouloudbelguith commented on #16640
Hi @ziezo,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/69968460-c06e2b80-151a-11ea-8825-c2d73310a149.png)
![image](https://user-images.githubusercontent.com/16067358/69968519-e1cf1780-151a-11ea-9fab-b28e00f698a2.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed i

[2019-12-02 14:50] colinegin commented on #11722
Thank you very much @Hlavtox !

[2019-12-02 15:05] prestascott commented on #16415
Thank you @marionf !
Another display issue appears when there is more than 50 characters used for a category. It exceeds from the block.

**Screenshot**
![Bug display ](https://user-images.githubusercontent.com/54888056/69969619-117f1f00-151d-11ea-9623-0d41b874698d.png)

**I made a prototype in order to solve both issues:**
![Display issue categories 30chars](https://user-images.githubusercontent.

[2019-12-02 15:06] khouloudbelguith commented on #16637
Hi @ziezo,

I have the same issue with PS1.7.6.2.
But, when an order is made, I can change the customer information from the order page in the customer section. These changes update the invoice with the new information even after the invoices were sent to the customer. So a merchant can have different invoices for the same order which it's not legal.
It is not legal to change the invoice after a g

[2019-12-02 15:06] #16637 closed, assigned to nobody

[2019-12-02 15:12] LouiseBonnard opened #16656 "Remove conversion rates from localization packs"
**Is your feature request related to a problem? Please describe:**

Localization packs are here to provide to our merchants some essential information about a country. Among other elements, it contains the official currency used in the country and its conversion rate.

Yet, this data (which is constantly changing and that needs to be updated manually) is not used from localization packs but retrie

[2019-12-02 15:26] Perfecticus commented on #15701
Hi, why was this marked as "No change required"?, @ChMat stated that a change was needed to eradicate the warning that occurs when the cover image result does not have a 'id_image' index.

I experienced this bug using 1.7.1.6 webservice in production with default error reporting.
In my case:
<message><![CDATA[[PHP Notice #8] Undefined index: id_image (/var/www/html/XXXXXX/classes/Product.php, line

[2019-12-02 15:53] mvorisek commented on #16631
I can not even open this page, Is there any link with format like: `/admin-dev/index.php?controller=`?

[2019-12-02 16:00] #16507 closed, assigned to PierreRambaud

[2019-12-02 16:00] famaia commented on #15744
Thank you.
Moving the psaddonsconnect folder from the modules dir to /tmp allowed me to login again.

I could not find a way to reinstall the module via the web interface, how do you do it?

I copied the files from the source installation (this was a migration) again and the problem was solved for me.

[2019-12-02 16:05] khouloudbelguith commented on #16624
@Hlavtox, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.1 during an upgrade using the 1-click upgrade v4.10.0.
I have these errors
[code]
https://drive.google.com/file/d/1TjuX7E_L1Avp7qoYT0WgrqagBEs8-kgk/view
Ping @PierreRambaud @jolelievre what do you think? this is a normal behavior or a bug?

Thanks!

[2019-12-02 16:09] marionf commented on #16415
All good, thank you @prestascott

[2019-12-02 16:10] muyncky opened #16657 "Notice: Undefined index:"
**Describe the bug**
In [Order.php:944](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/order/Order.php#L944) the index `id_order_state` is called. While the SQL-query mostly provides`current_state` index and sometimes `id_order_state`. This gives a notice, and it is difficult to work on the website with debugging mode on.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on

[2019-12-02 16:18] #11722 closed, assigned to nobody

[2019-12-02 16:24] khouloudbelguith commented on #15744
@benoitpetit, thanks to try with this zip folder
[psaddonsconnect.zip](https://github.com/PrestaShop/PrestaShop/files/3912165/psaddonsconnect.zip)

Thanks!

[2019-12-02 16:28] khouloudbelguith commented on #16652
Hi @CallejaMotos,

I manage to reproduce the issue with PS1.7.6.2 & ps_facetedsearch v3.4.0.
https://drive.google.com/file/d/1i-zfyb09FGP-w9TYH5XopI25yarr8j9Q/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-12-02 16:35] khouloudbelguith commented on #16629
@cedricfontaine, thanks for your feedback.
Ping @eternoendless @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-12-02 16:48] Andrewsuares commented on #12461
Hello,

I'm on PHP 7.3. I need to quickly update Prestashop so that it works. Can you please point me to the update file? Thanks!

[2019-12-02 16:59] matks commented on #16653
Some exploratory work done by @zuk3975 :

The legacy button behavior was:
- reinjects product quanity (basically adds the refunded quantity back)
- deletes Product from order
- updates order carrier weight
- synchronizes stock
- deletes customizations (if selected )
- generates credit slips and vouchers (optional)

All of this is spread accross controllers.

So we need to
1. handle the interface b

[2019-12-02 17:15] matks commented on #12461
@Andrewsuares we are doing this in PR https://github.com/PrestaShop/PrestaShop/pull/13761/files but the PR not only ensures compatibility, it also upgrades some outdated dependencies, removes some duplicate dependencies and update the tests to pass php7.3 checks

[2019-12-02 17:17] matks commented on #16477
php7.4 is out 😄

[2019-12-02 17:51] kratekk opened #16660 "Prestashop 1.7 - Delayed shipping function does not work"
**Describe the bug**
With the "Delayed shipping" option enabled and the "Magayne management" option enabled and the "allow products ordered out of stock" option enabled, the option to split the order does not appear in the basket as it was in Prestashop 1.6. The function is available in the administration panel but is not programmed on the frontend side. Will it be developed in the future?

**Scre

[2019-12-02 17:54] Andrewsuares commented on #12461
@matks Any timeline on this. I need to golive this week. Thanks.

[2019-12-02 19:10] BeReal86 commented on #16626
Hi, @khouloudbelguith thank you for your interest. I don’t know that these topics have been opened before.
I didn’t have much opportunity. Yes, each page may have different behaviour. However, in my opinion even though the working language is deactivated as in other pages, I think it would be nice to have the same system on other pages including the places where I have problems. Because it can be

[2019-12-02 19:41] cedricfontaine opened #16661 "Speed Improvment - OrderController is always called a second time at least"
I can't find the reason why the OrderController is always refreshed after a POST call to get the page using a GET.
It's really annoying cause it will double the time spent to load the page and will execute the same hook a second time, api calls...

The problem happens in OrderController initContent and it redirectwithnotification only if there is no error. Could you explain why ?

[code]

[2019-12-02 21:16] matks commented on #12461
@Andrewsuares PS 1.7.7.0 release time is expected to be January/February 2020. We're about to start the feature freeze, and then comes a 1-month long stabilization period, and then comes a 1-month long beta period and finally a Release Candidate will be released that might be the final release if no issue is reported in it.

I think the easiest for you, if you need to deploy this week, is to use p

[2019-12-02 21:26] Hightmar opened #16663 "HTTP 200 -parsererror-"
**Describe the bug**
Installation fails at 67% when installing addons
phppsinfo.php say everything is OK with the config
max_input_time & max_execution_time set up at 600 sec

**To Reproduce**
Happens during installation

**Screenshots**
![install_bug](https://user-images.githubusercontent.com/32802347/69996519-87ea4400-1552-11ea-8ed1-93ed95ac22bc.PNG)
![phppsinfo](https://user-images.githubuserco

[2019-12-02 21:52] ziezo commented on #16637
Hi @khouloudbelguith

PrestaShop is not a certified accounting system. Not only the invoice addresses can be changed as noted in #12394 almost a year ago, pretty much anything can be changed after an invoice has been generated. You can change order amounts, add products, delete them, you name it - it is all reflected on the invoice. All except shipping cost changes, those are not copied to the inv

[2019-12-02 22:16] matks commented on #16637
Ping @MatShir I think you explored this question regarding invoices, legal requirements and accounting ?

[2019-12-03 02:47] langziyang opened #16664 "Specific prices and customer group discount display bug"
prestashop version 1.7.6.1(i guess all 1.7.x)

1、set product price is 1000.00
2、add specific prices is save 60.00 form 10 numbers
<img width="1455" alt="admin1" src="https://user-images.githubusercontent.com/2345387/70015775-58baed80-15b9-11ea-94f2-4634d92c676a.png">

3、set customer group discount is save 90%
<img width="887" alt="admin2" src="https://user-images.githubusercontent.com/2345387/7001

[2019-12-03 06:51] mvorisek commented on #16631
@khouloudbelguith I seached for `Base URI` in the code, which seems to be related with `physical_uri` in a twig template.

`physical_uri` is defined in the database, see:
![image](https://user-images.githubusercontent.com/2228672/70027071-8b58ec00-15a1-11ea-8bbb-f96a5dda5f2e.png)

So it seems like a bug in the backoffice not the settings itself. Can you please verify and fix?

[2019-12-03 07:40] khouloudbelguith commented on #16657
Hi @muyncky,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.2 after an upgrade from PS1.6.1.24 with the 1-click upgrade v4.10.0.
I attached a screen record
https://drive.google.com/file/d/1BX5qXYyYkKn-ix5hiqcVhIUFCCzc1Nbz/view
Thanks to check & feedback.

[2019-12-03 08:06] kexuejia opened #16665 "Cart total quantity refresh issue"
**Description**
Cart total quantity not updated after adding or removing product from cart .
Issue appeared after update from 1.7.5.2 to 1.7.6.2

**To Reproduce**
1. Add product to cart from product page or quickview
2. Click on Cart or Proceed to checkout
3. Increase quantity for product on this page
![cart?action=show](https://user-images.githubusercontent.com/25119923/70031048-19899e00-15b3-11e

[2019-12-03 08:14] khouloudbelguith commented on #16660
Hi @kratekk,

Your ticket is a duplicate of #9781
So, I close it.
Thanks!

[2019-12-03 08:14] #16660 closed, assigned to nobody

[2019-12-03 08:14] khouloudbelguith commented on #16660
Duplicate of #9781

[2019-12-03 08:17] khouloudbelguith commented on #16661
Hi @cedricfontaine,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers

Thanks!

[2019-12-03 08:24] khouloudbelguith commented on #16665
Hi @kexuejia,

I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2 & ps_shoppingcart v2.0.3.
https://drive.google.com/file/d/1MUFgasEOKJ2X65scn8cXpVkGWujRNlNe/view
It was ok with ps_shoppingcart v2.0.2.
It is a module regression.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Th

[2019-12-03 08:36] khouloudbelguith commented on #16631
@mvorisek, It is ok on my side, I did not manage to reproduce the issue with PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/1YKFEgmIM3lKtVBxCYwlCkwRJUmeFZpKp/view
Thanks to check & feedback.

[2019-12-03 08:40] khouloudbelguith commented on #16663
Hi @Hightmar,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source), downloaded from the official link?
 - debug mode report, try to enable the debug mode & try to re-install again

`define('_PS_MODE_DEV_', false);`
… and change it to:
`define('_PS_MODE_DEV_', true);`

[2019-12-03 08:55] kexuejia commented on #16665
seems module ps_shoppingcart.js receives wrong event.resp
![event response is undefined](https://user-images.githubusercontent.com/25119923/70035066-e21eef80-15ba-11ea-9114-03a714d2ca15.png)
event has only reason, but resp is undefined
![log](https://user-images.githubusercontent.com/25119923/70035363-5eb1ce00-15bb-11ea-8416-69612c110fde.png)

[2019-12-03 09:04] khouloudbelguith commented on #16664
Hi @langziyang,

We are aware of this issue.
We have an epic with all cases to reproduce the issue as reported here: https://github.com/PrestaShop/PrestaShop/issues/15816
- [x] https://github.com/PrestaShop/PrestaShop/issues/9929 => fixed
- [x] https://github.com/PrestaShop/PrestaShop/issues/15817 => fixed
- [ ] https://github.com/PrestaShop/PrestaShop/issues/15835 Bad discount amount when specifi

[2019-12-03 09:04] #16664 closed, assigned to nobody

[2019-12-03 09:04] khouloudbelguith commented on #16664
Duplicate of #15816

[2019-12-03 09:08] kexuejia commented on #16665
on version ps_shoppingcart.js v2.0.2 no condition for event.resp
![js](https://user-images.githubusercontent.com/25119923/70036226-0380db00-15bd-11ea-92e1-b4e9d7e97e52.png)

[2019-12-03 09:10] diogojesus95 commented on #15356
Having the same issue with version 1.7.6.

[2019-12-03 09:26] muyncky commented on #16657
I think some of the records of `ps_order_history` are missing in my situation.

**To Reproduce**:
1. Delete all history of order 1: `DELETE FROM ps_order_history WHERE ps_order_history.id_order = 1`
2. Visit customer "John Doe" `id_customer = 1`

I know that the order history should not be incomplete, but it did happen to me without me doing anything special.

In that case, wouldn't it be better i

[2019-12-03 09:36] khouloudbelguith commented on #15356
Hi @diogojesus95,

It is OK with PS1.7.6.2.
https://drive.google.com/file/d/1bENlrCf6f1Out38xRJqpn_fZN9gf7gr5/view

Thanks!

[2019-12-03 09:55] khouloudbelguith commented on #16657
@muyncky, I deleted, but it is OK.
https://drive.google.com/file/d/1w9npahqw9J86XgIBhilUxrmLUDUIX0JQ/view

Thanks!

[2019-12-03 10:05] khouloudbelguith commented on #16626
@BeReal86,

@BeReal86, This issue is different, can you open a new one with more information about your configuration
But, in my case, I dd not manage to reproduce the issue, it is OK
https://drive.google.com/file/d/1Frlh6e1ZhsLxxSsYEOkjYr0ea48m4EDv/view

Thanks!

[2019-12-03 10:14] colinegin opened #16667 "Add page view to Google Analytics module"
This PR adds the page view feature to the google analytics module : https://github.com/PrestaShop/ps_googleanalytics/pull/37

[2019-12-03 10:24] prestascott commented on #16101
Thank you @marionf !
I think inputs in "Impact on price" and "Quantity" columns are way too large for its content and can be shrinked a little bit to make more space for the new "Reference" column. There is no need to show more than 2 numbers after the dot on the price.

**Here is my prototype:**
![Issue 16101](https://user-images.githubusercontent.com/54888056/70042521-493ea300-15bf-11ea-9c14-2bc

[2019-12-03 10:31] muyncky commented on #16657
If you run this query `DELETE FROM ps_order_history WHERE ps_order_history.id_order = 1`, one more `order_history`, `id_order_history=6`, will be deleted.

[2019-12-03 10:35] NeOMakinG commented on #16609
This component is not a part of the UI Kit, it should be replaced by these ones which are based on button style + dropdown styles

![image](https://user-images.githubusercontent.com/14963751/70043525-ed751980-15c0-11ea-8503-8786fb4479d0.png)

[2019-12-03 10:36] khouloudbelguith commented on #16490
Hi @hekep,

As described in the email, the issue is solved in the module.
I will close the issue, feel free to open a new one when needed.

Thanks!

[2019-12-03 10:36] #16490 closed, assigned to nobody

[2019-12-03 10:43] colinegin commented on #16628
Great idea ! I add it to our backlog.

Thanks @Hlavtox

[2019-12-03 10:56] colinegin commented on #16642
Hello @Hlavtox ,

Thanks for reporting this idea, this is really interesting. I like the idea of having something more simple and easier to manage all possible scenarios.
With the next 1.7.8 version, we will be migrating the cart rule page to Symfony, so we will be able to rethink the whole logic of it. We will study this idea more in depth at that moment.

We will keep you updated !

Thanks again

[2019-12-03 10:58] #16511 closed, assigned to PierreRambaud

[2019-12-03 11:02] khouloudbelguith commented on #16622
@jf-viguier, I did not manage to reproduce the issue with PS1.7.6.2 using this theme
[childtheme-example.zip](https://github.com/PrestaShop/PrestaShop/files/3916208/childtheme-example.zip)
![image](https://user-images.githubusercontent.com/16067358/70045657-c28cc480-15c4-11ea-965d-287c6c6ad93d.png)

Thanks to check & feedback.

[2019-12-03 11:09] khouloudbelguith commented on #16657
@muyncky, yes!
Now, we have an exception
https://drive.google.com/file/d/1WpCwUjfUfG3nSi5DsI7x8By0UUCTl8qs/view
but, in my case, this issue is reproduced only if I delete run those commands manually.
This is not logic.
IN your case, during the upgrade, the table ps_order_history is not well copied?

Thanks!

[2019-12-03 11:28] jf-viguier commented on #16622
Did you reinit the theme ?

[2019-12-03 11:30] jf-viguier commented on #16622
You can see the bug in your screenshot : the hook is displayHeader and should be just header

[2019-12-03 11:32] muyncky commented on #16657
Alright!

The upgrade went like this (with autoupgrade v4.9.0):
1. PrestaShop 1.6.1.3 upgrade to 1.6.1.24 (because upgrade to 1.7.x directly was not possible)
2. PrestaShop 1.6.1.24 upgrade to 1.7.6.1

Also, I have a module that changes the order history, but doesn't really delete it. This is the code:
[code]

I know it's abnormal! But things like this can still happen.

Can I request a file chang

[2019-12-03 11:33] khouloudbelguith commented on #16568
**Case 1:**
- cart rule "Čistící pasta zdarma pro objednávky nad 3 000 Kč" active
- cart rule "Zákaznická sleva 30% pro objednávky nad 2 000 Kč" not active
- one prodyct added to the cart + a gift

=>
- Load Time | 381 ms
- Querying Time | 126 ms
- Queries | 251

**Case 2:**
- cart rule "Čistící pasta zdarma pro objednávky nad 3 000 Kč" active
- cart rule "Zákaznická sleva 30% pro objednávky nad 2

[2019-12-03 11:38] khouloudbelguith commented on #16657
@muyncky, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`.
I think, that your module has an effect on the upgrade.
Because we recommend, in order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine f

[2019-12-03 11:44] khouloudbelguith commented on #16622
@jf-viguier, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/70048468-abe96c00-15ca-11ea-9f86-8c3cf7131c04.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-12-03 12:24] jf-viguier commented on #16622
In fact, the official hook name should be displayHeader and header the alias, but I don't know the impact to rename a hook.
This should fix  #10405

[2019-12-03 13:59] fra93ita opened #16669 "Cart Price Rules not working when more than one setted"
Hi! After upgrading to 1.7.6.1 cart price rules won't work if more than one is setted, i'll explain better, if i set up two price rules to be active during same period, having products setted to combination and cart rule setted one to one type of combination(20% off) and the other combination has the same cart rule plus another one(like black fryday event)(20%+20%), when i do change combination th

[2019-12-03 14:06] marionf commented on #16101
All good, thank you @prestascott !

[2019-12-03 14:20] stickyrst commented on #9974
Any updates on this?

[2019-12-03 14:32] mvorisek commented on #16631
@khouloudbelguith Thank you. The issue is presented if PS is run under nginx (on Windows). I have tested it by installing PS on WIndows using wamp and BO is fine. Then I copied the data folder, cleared cache/ folder and served the BO using nginx. Then this issue, ie. bad links, occurs.

I will isolate the problem. The nginx may not set some env. vars which are set by Apache and expected by PS.

[2019-12-03 14:37] khouloudbelguith commented on #16631
@mvorisek, This is a config file by default, we provide an example of configuration here:
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf
It is provided by PrestaShop & you should edit it to be compatible with your server.
For example, you should edit the root: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx

[2019-12-03 14:46] khouloudbelguith commented on #16669
Hi @fra93ita,

Can you confirm these steps:
1. Create a cart rule1
1.1 has no code
1.2 Condition: Restrictions => Product selection => Add an attribute `Color - White`
![image](https://user-images.githubusercontent.com/16067358/70060923-ac423100-15e3-11ea-8bd4-d6cb94d81e8a.png)
1.3 Actions: Apply a discount => Percent (20%)

2. Create a cart rule2
2.1 has no code
2.2 Condition: Restrictions => Pro

[2019-12-03 15:26] khouloudbelguith commented on #16617
@rss9090, Thanks for your feedback.
I will try to reproduce the issue using this environment & I will feedback.

[2019-12-03 15:31] khouloudbelguith commented on #16617
@rss9090, I will try with this server
[phpinfo.pdf](https://github.com/PrestaShop/PrestaShop/files/3917370/phpinfo.pdf)
Is it ok?

Thanks!

[2019-12-03 15:33] idnovate commented on #11722
Unfortunately there is still some issue:

Issue 1:
Create the following rules:

- Rule 1
Amount discount:
![image](https://user-images.githubusercontent.com/15104724/70064416-c8e16780-15e9-11ea-9a97-f41540392c1d.png)

- Rule 2
Free gift
![image](https://user-images.githubusercontent.com/15104724/70064462-de569180-15e9-11ea-9379-6db0fe070f36.png)

- Rule 3
Free gift
![image](https://user-images.git

[2019-12-03 15:39] 8ternity commented on #16004
@khouloudbelguith I installed the version 1.7.6.2 in my store with default language has French Canada, and tiny_mce try to load qc.js for the language.   French Canada must be in fr.js and fr-CA has the iso. [According to ISO country and localisation](https://en.wikipedia.org/wiki/Language_localisation), French Canada must be set to fr-CA.

[2019-12-03 15:40] rss9090 commented on #16617
@khouloudbelguith
Could you post here your httpd.conf and other webserver ini/conf files (if used)? Also as far as I can see there is a PHP 7.1  instead of  recommended PHP7.2

[2019-12-03 15:42] Hlavtox commented on #11722
@idnovate What if you set priority to gift rules to 1 and the discount rules to 2?

[2019-12-03 15:45] khouloudbelguith commented on #16617
@rss9090, I tried with this command in my terminal
`> apache2ctl -M`
I have all this module apache enabled
[code]
I used a server with PHP-fpm folwing this link: http://keksus.com/upgrade-php5-to-php7-1-on-debian.html

Thanks!

[2019-12-03 15:48] idnovate commented on #11722
Then all is OK:

![image](https://user-images.githubusercontent.com/15104724/70066221-9e44de00-15ec-11ea-9665-d407246c5e8f.png)

![image](https://user-images.githubusercontent.com/15104724/70066206-97b66680-15ec-11ea-8b35-645a88d7095b.png)

[2019-12-03 15:48] BeReal86 commented on #16626
@khouloudbelguith Thanks for all. this worked

[2019-12-03 15:49] khouloudbelguith commented on #16626
@BeReal86, Great!

[2019-12-03 15:50] NeOMakinG commented on #16609
I need to find out why I've a strange pixel calculated by Bootstrap

[2019-12-03 15:51] rss9090 commented on #16617
I need to see an exact config file.

[2019-12-03 15:52] khouloudbelguith commented on #16617
@rss9090, the `php.ini` file?

Thanks!

[2019-12-03 15:53] rss9090 commented on #16617
httpd.conf

[2019-12-03 16:10] ballashop opened #16671 "manage the volumetric weight and more"
Some couriers put limits on measures. Not only from the amount of the 3 lengths, already available on prestashop.
Could you add a field like the one in image?
![more-field](https://user-images.githubusercontent.com/28685316/70062290-0c39d700-15e6-11ea-85b7-5edc8281e237.gif)

**Weight / volume management.**

At the moment prestashop manages just weight ranges, while most carriers works with weight

[2019-12-03 16:13] khouloudbelguith commented on #16671
Hi @ballashop,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-12-03 16:40] khouloudbelguith commented on #16004
@8ternity, This issue is different, can you open a new ticket.

Thanks!

[2019-12-03 16:44] 8ternity commented on #16004
It's not just different, language is bad configured in all version up to 1.7.6.2. Jquery will call same files when you edit a product to be translated.

[2019-12-03 17:55] colinegin opened #16672 "[EPIC] - Password improvements"
This epic is related to customer password improvements for more security and better user experience. It details all open issues and improvements related to this topic, more can be added in the future.

A more in depth study needs to be conducted to define if all issues are interesting AND feasible.

## Bugs
- [ ] #10475 - PS 1.7 PASSWORD_LENGTH

## Improvements
- [ ] #16170 - Password Change : Per

[2019-12-03 18:06] colinegin commented on #11722
@Robin-Fischer-PS could you check @idnovate comments ?

Thanks !

[2019-12-03 19:40] Hlavtox commented on #11722
@colinegin

@idnovate is right, I didn't think of this situation. :-(

Order of cart rules must be - gifts first, discounts second, in order for the fix to work. Perhaps if you guys fixed this cart rule order as I proposed in #16642?

Because now, if you simulate @idnovate's situation:
- discount cartrule - it applies the discount for all products in cart, even the gift ones.
- gift cartrule - dis

[2019-12-03 21:12] mvorisek commented on #16631
@khouloudbelguith Thank you, I have identified the issue using that template. The issue was that the env. vars passed by nginx were working for other PHP projects as the projects probably used solely `$_SERVER['REQUEST_URI']` variable. But in our particular case nginx passed the full path of a PHP script as a root directory and some `$_SERVER` variables were different than usual or not even set:
!

[2019-12-03 21:56] elrosi commented on #15703
Hi,
This solution cannot work well and is not sufficient. The patch does not provide for updating the data in the current Cart object and in the Checkout Session data. The variable in smarty is therefore empty and until the current cart problem is removed, the problem remains the same.
![2019-12-03_22-51-53](https://user-images.githubusercontent.com/1309982/70093177-2a242d80-1620-11ea-93ea-7056ca6

[2019-12-04 00:54] fra93ita commented on #16669
Ok you are talking about Basket Rules; making them in this way everything seams to work, but i was actually refering to Catalog Price Rules:
![screen1](https://user-images.githubusercontent.com/11248632/70102011-1fc15e00-1637-11ea-8fee-a275a817672b.PNG)
![screen2](https://user-images.githubusercontent.com/11248632/70102084-5bf4be80-1637-11ea-8b1d-7d6ff88f0700.PNG)
In my case i setting two rules th

[2019-12-04 00:58] fra93ita commented on #16669
Here is the product page view with debug mode enable:
![screen10](https://user-images.githubusercontent.com/11248632/70102790-80ea3100-1639-11ea-9f1c-e5a32968c719.PNG)
I've still havent explored that error

[2019-12-04 04:29] elrosi commented on #9932
The patch does not provide for updates to the data in the current cart object and in the Checkout Session data. The variable in smarty is therefore empty and until the current cart problem is removed, the problem remains the same.
Looks like it works only on newly created baskets of customers.

[2019-12-04 07:48] khouloudbelguith commented on #16665
Hi,

The same issue when we delete a product from the shopping cart, it is not updated.
![image](https://user-images.githubusercontent.com/16067358/70123403-e4448500-1672-11ea-9cca-7f352089a2a3.png)

Thanks!

[2019-12-04 07:52] khouloudbelguith commented on #9932
Hi @elrosi,

Did you try this patch: https://github.com/PrestaShop/PrestaShop/pull/15399 & it is not fixed?

Thanks!

[2019-12-04 07:58] khouloudbelguith commented on #16251
Hi @sirius82,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-04 07:58] #16251 closed, assigned to nobody

[2019-12-04 07:58] khouloudbelguith commented on #16166
Hi @Colgeo13,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-12-04 07:58] #16166 closed, assigned to nobody

[2019-12-04 07:59] khouloudbelguith commented on #16252
Hi @Nelhagui,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-04 07:59] #16252 closed, assigned to nobody

[2019-12-04 08:00] khouloudbelguith commented on #16248
Hi @Marcelozippo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-04 08:00] #16248 closed, assigned to nobody

[2019-12-04 08:01] khouloudbelguith commented on #16631
@mvorisek, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-12-04 09:18] elrosi commented on #9932
Hi @khouloudbelguith

Patch: # 15399 I put on.

It looks like this path corrects the problem only partially. Current customer cart path is not repaired, only cart that are created as new. Repair is not shop set to delivery_options data in the customer's current cart.

[2019-12-04 09:23] khouloudbelguith commented on #11722
Hi @idnovate, @colinegin, @Robin-Fischer-PS,

I manage to reproduce the issue described by @idnovate with the develop branch.
I will create a new issue.

Thanks!

[2019-12-04 09:32] #16367 closed, assigned to nobody

[2019-12-04 09:38] khouloudbelguith opened #16673 "The total is not well calculated with free gift"
**Describe the bug**
After fixing this issue: https://github.com/PrestaShop/PrestaShop/issues/11722 in the develop branch.
2 uses cases are not ok in the develop branch as reported here: https://github.com/PrestaShop/PrestaShop/issues/11722#issuecomment-561220896
Issue 1:
Create the following rules:

- Rule 1
Amount discount:
![image](https://user-images.githubusercontent.com/16067358/70130654-32f

[2019-12-04 09:42] khouloudbelguith commented on #11722
Hi @colinegin,

Issue created: https://github.com/PrestaShop/PrestaShop/issues/16673
I added the label Regression because, in the PS1.7.6.2 => the total is well calculated.
@colinegin what do you think?

Thanks!

[2019-12-04 09:50] khouloudbelguith commented on #16669
@fra93ita, the behavior in PrestaShop is that The catalog price rules do not accumulate with each other.
For your case, You need just edit the second catalog price rule.
When you have a condition of size => change the percent discount to 40%
![image](https://user-images.githubusercontent.com/16067358/70132086-c29fc980-1683-11ea-8cd1-d50a2d2061c0.png)
It will be OK.
Thanks to check  & feedback.

[2019-12-04 09:56] khouloudbelguith commented on #16004
@8ternity, yes, I have the same issue with PS1.7.6.2
![image](https://user-images.githubusercontent.com/16067358/70132509-af412e00-1684-11ea-9dd9-4533fce03a89.png)

Thanks!

[2019-12-04 10:10] khouloudbelguith commented on #9932
Hi @elrosi,

I followed these steps with develop branch & it is OK.

1. Create a new account
2. Create a new address
3. Add a product to the cart
4. process the checkout
5. Go to the BO => Order => change the status of the last order to Shipped
6. Go to FO
7. add a product to the cart
8. Go to the account of the customer & update the address
9. process the checkout
10. In the third step => all car

[2019-12-04 10:16] amarmib2 opened #16675 "prestashop 1.7.6.1 email subject shop name not changing"
**Describe the bug**
Hi I try my options but still name is not changing.
I had try changing name by Enable Multistore. But after that also its not changing every where it got changed but on email subject line shop name has not changed.

So can some one help me out with this

Thanks

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.3
![email](https://user-images.githubuserconte

[2019-12-04 10:17] colinegin commented on #11722
Yes @khouloudbelguith , I agree with you. I add it to the 1.7.7 kanban.

[2019-12-04 10:18] matks commented on #15935
Fixed by https://github.com/PrestaShop/blockreassurance/pull/37

[2019-12-04 10:18] #15935 closed, assigned to Progi1984

[2019-12-04 10:18] khouloudbelguith commented on #15703
Hi @elrosi,

You are right.
This issue is not fixed with the Develop branch.
https://drive.google.com/file/d/1cynfiWmD8MBFVAYBIupOzCfngRUWW5HT/view
Steps to reproduce the issue:

1. Go to FO
2. Create a new customer
3. add some products to the cart => process to the checkout page
4. Add new address
5. Click quickly several times on the continue button

https://drive.google.com/file/d/1WHLw2vrn2c9K

[2019-12-04 10:21] MatShir commented on #16654
#16653

[2019-12-04 10:23] khouloudbelguith commented on #15703
Hi @colinegin,

What do you think?
We should remove this issue from the kanban?
Thanks!

[2019-12-04 10:25] storygram opened #16676 "not receive email"
Hello,
I have a problem, the client does not receive an email when completing an order,
Please help.

[2019-12-04 10:26] khouloudbelguith commented on #16675
Hi @amarmib2,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/16500 to fix the issue.
It is fixed in the last release PS1.7.6.2.
Your ticket is a duplicate of #16499
So, I close it.
Thanks!

PS: PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details,

[2019-12-04 10:26] #16675 closed, assigned to nobody

[2019-12-04 10:26] khouloudbelguith commented on #16675
Duplicate of #16499

[2019-12-04 10:29] khouloudbelguith commented on #16676
Hi @storygram,

Thanks for your report.
Could you please navigate to your Back office => Advanced Parameters => E-mail, try to " Test your email configuration" by sending a test email.
Thanks to check & feedback.

[2019-12-04 10:30] khouloudbelguith commented on #16617
Hi @rss9090,

I will check & feedback.

Thanks!

[2019-12-04 10:52] colinegin commented on #15703
I've put it back it to do. Thanks @khouloudbelguith !

[2019-12-04 10:55] storygram commented on #10174
HI,

I have the same problem on prestashop 1.7, the client does not receive confirmation email after placing orders

info_outline Informatii despre configuratie
Aceste informatii trebuie furnizate daca vei raporta vreo problema in modulul nostru de erori sau pe forum.

info_outline Informatii despre server
Informatii despre server Linux #1 SMP Thu Jun 20 11:00:35 EDT 2019 x86_64

Versiunea de soft

[2019-12-04 11:01] MatShir commented on #16653
One PR might work for this issue as well #16654, to study!

[2019-12-04 11:08] mg2812 opened #16680 "Error during prestashop first installation of Prestashop 1.7.6.2"
During the first clean installation of Prestashop version 1.7.6.2 on localhost have error:

An error occurred during installation...
You can use the links on the left column to go back to the previous steps, or restart the installation process by clicking here.

1: Unable to write into "en-US"" (data layer : "PrestaShop\PrestaShop\Core\Data\Layer\AbstractDataLayer")

![image1](https://user-images.

[2019-12-04 11:24] khouloudbelguith commented on #16680
Hi @mg2812,

I did not manage to reproduce the issue with PS1.7.6.2.
Thanks to check your directory permission.
In the meantime, we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2019-12-04 11:31] Hlavtox commented on #16673
I think you need to revert my PR... :-(

If we take the price of the gift with FinalUnitPrice, it works with whatever cartrule amount, but doesnt work for more than 1 gift rule.

If, after the PR we get it with InitialUnitPrice, it works properly, BUT gift rules must go first. Which we unfortunatelly cannot enforce in the code, because user can select both discount and gift in one single cart rule

[2019-12-04 11:33] khouloudbelguith commented on #10174
Hi @storygram,

Issue created here: https://github.com/PrestaShop/PrestaShop/issues/16676

Thanks!

[2019-12-04 11:48] marco-polacco commented on #10122
Hello,
is there any update about this issue?
We are using PS 1.7.5.0 and registered users are still able to do an order as guest using the same email address, but this is causing a duplicate and a mismatch in the address and details of the user

[2019-12-04 12:20] storygram commented on #16676
hello, I tried, I send an email and I receive nothing, I updated the platform to the latest version and now I receive the 500 Server Error

[2019-12-04 12:21] storygram commented on #16676
info_outline Informatii despre configuratie
Aceste informatii trebuie furnizate daca vei raporta vreo problema in modulul nostru de erori sau pe forum.

info_outline Informatii despre server
Informatii despre server Linux #1 SMP Thu Jun 20 11:00:35 EDT 2019 x86_64

Versiunea de software a serverului: LiteSpeed

Versiunea de PHP: 7.2.24

Limita de memorie: 512M

Timpul maxim de executie: 300

Limit

[2019-12-04 12:32] OneDotIT commented on #16676
Hello,
If you are having trouble with PHP function mail(), you could sign-up with an SMTP provider instead and let them handle the Email infrastructure.

That seems to be a separate issue, what was the update procedure ? how did you update ??