[2020-03-27 10:52] zuk3975 commented on #18030
fixed in #18326

[2020-03-27 11:07] marionf opened #18340 "Add the language and the shop concerned in the admin logs controller"
#### Describe the bug

The indicators present in the logs are not complete enough to allow us to understand the origin of certain problems, mainly when we are in a multiboutique context.

#### Expected behavior

It will be interesting for example to know in which language and shop the action was made on the object. It's a little more verbose I think.

[2020-03-27 11:29] colinegin commented on #18015
We should review this issue when working on the migration of this page.
Ping @MatShir

[2020-03-27 11:49] sarahdib commented on #18336
Hello @ets-soft

Thank you for your feedback !

I didn't reproduce the problem. The upgrade is OK and localization pack is OK.

Can you give us more detail about the issue and provide us some screenshot ?

Thank you

[2020-03-27 12:08] rmasq commented on #18251
Hi @khouloudbelguith
The exact version is:   "<version><![CDATA[4.10.1]]></version>"

I add the file log.txt
[log.txt](https://github.com/PrestaShop/PrestaShop/files/4393379/log.txt)

Thank you very for your help

[2020-03-27 12:10] PululuK commented on #18340
Hi @marionf

I will open my PR

Thanks

[2020-03-27 12:10] agalussio commented on #16130
@marlon8511  Thank you for the input, but I don't think I can fix it. I still have the mistake...

[2020-03-27 12:24] agalussio commented on #15062
I have the same problem and with the latest version of facet search 3.5.0 it doesn't work either.

[2020-03-27 12:26] agalussio commented on #15062
@gbr161  Have you been able to work it out? I'm the same way.

[2020-03-27 12:55] ashtonlance commented on #18296
My host says my disk usage is normal, with plenty of room left -- the memory usage and cpu usage is well below 5%.

They said they didn't see any logs or errors that threw any red flags.

[2020-03-27 13:04] jolelievre commented on #17958
Ho @Arman-Hosseini I'm sorry to hear that.. I hope he gets well soon.
No worries for the issue I take over.

[2020-03-27 13:06] agalussio commented on #15062
It shows me by root category. It doesn't have the category parameter.
As I see in

"/modules/ps_facetedsearch/src/Adapter/MySQL.php"

in "getFieldMapping" method:
...
'position' => [
'tableName' => 'category_product',
'tableAlias' => 'cp',
'fieldName' => 'position', // <- ADD THIS
'joinCondition' => '(p.id_product = cp.id_product)',
'joinType' => self::INNER_JOIN,
],

It does not happen in the con

[2020-03-27 13:20] gaelson opened #18341 "Faceted Plugin clear cache error"
Please when I click on Clear cache I get en error "Indexation failed".
Please how to ?

THX

#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicabl

[2020-03-27 13:27] marionf commented on #15062
Hello @agalussio

I tried to reproduce the issue with ps_facetedsearch 3.5.0 but without success
Below is my configuration:

![capture d'écran_2482](https://user-images.githubusercontent.com/13449658/77760649-fd64ad80-7036-11ea-9893-e9c383934082.png)

![capture d'écran_2481](https://user-images.githubusercontent.com/13449658/77760668-05bce880-7037-11ea-9ced-04b8f1318afd.png)

![capture d'écran_248

[2020-03-27 13:30] jocel1 commented on #9854
It seems you have a similar issue if you try to do a refund after changing the tax of a product : it will use the price without tax + the newly defined tax value in the generated order slip, which is wrong.

[2020-03-27 13:31] marionf commented on #18340
Good to hear, thank you @PululuK

[2020-03-27 13:54] matks commented on #18336
@ets-soft You can see the monitoring of PrestaShop webservices here http://status.prestashop.com/

There is not a lot of outages ... however there is something we noticed. Sometimes we have longer response times because of huge traffic, and your server or PrestaShop may timeout because the response time is longer.

In Europe we are fine but **depending on your country location**, the additional ne

[2020-03-27 13:58] sarahdib commented on #18338
Hello @Dupflo

Thank you for your feedback !

I reproduce the issue

Steps :
1. install autoupgrade module (or another one)
2. create a new user groupe
3. try to check the box  detail
<img width="1279" alt="Capture d’écran 2020-03-27 à 14 24 54" src="https://user-images.githubusercontent.com/3034677/77761432-54b74d80-7038-11ea-9a12-aa6ed40da9d8.png">

4. see the error in the console
<img width="

[2020-03-27 14:05] sarahdib commented on #18341
Hello @gaelson

Can you  give us some information :
- Prestashop Version :
- Module Version :

Can you also provide us a screenshot or a screen record

Thank you

[2020-03-27 14:06] presteus opened #18344 "Unable to update project with composer due to prestashop/php-cssjanus repository"
#### Describe the bug

Unable to update project with composer due to prestashop/php-cssjanus repository.
A RuntimeException occured when cloning prestashop/php-cssjanus repository.

#### Expected behavior

Project updated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Clone Prestashop develop branch
2. Use composer
[code]
3. See error

**Screenshots**

[code]

#### Additional infor

[2020-03-27 14:23] Dupflo commented on #18338
@sarahdib Ok great, thank you !

[2020-03-27 14:25] #17668 closed, assigned to nobody

[2020-03-27 14:28] agalussio commented on #15062
@marionf

Yeah, right. Attached are captures.

Prestashop 1.7.6.3
ps_facetedsearch 3.5.0

![image](https://user-images.githubusercontent.com/32964322/77765920-3acd3900-703f-11ea-8313-b3edd307e014.png)

![image](https://user-images.githubusercontent.com/32964322/77765962-491b5500-703f-11ea-85b9-6f9fd30dbdde.png)

![image](https://user-images.githubusercontent.com/32964322/77765987-57697100-703f-11e

[2020-03-27 14:45] sarahdib commented on #18344
@PrestaShop/prestashop-core-developers  What do you think about this issue ?

[2020-03-27 14:48] matks commented on #16838
It's a feature request though 😉

A bug is a a behavior that is a behavior in the software that is not working as it should. It means there should be a description of "what was expected", and when it was built, a mistake was made, which consequence is "what was expected" and "what was built" are different.

The themes management was never built with the idea of "remember previous preferences" altho

[2020-03-27 14:52] matks commented on #18344
@presteus it seems your CLI cannot fetch repository https://github.com/PrestaShop/php-cssjanus

Maybe a firewall issue 🤔? Or you used too heavily github recently and you reached GitHub Download Limit (if yes, try providing github authentication to composer as authenticated rate limit is higher than anonymous rate limit) ?

[2020-03-27 14:55] Betafer commented on #16838
If I am working on a theme and I manage it, and I want to try another one, or put the default prestashop one to understand if there is any error in the theme, it is not that I can lose all the changes.

[2020-03-27 14:57] presteus commented on #18344
@matks Thank you, this is the reason

[code]

[2020-03-27 15:03] matks commented on #12412
Thanks for sharing 😉this might help 1.6 users looking for this bug

[2020-03-27 15:08] germain-italic opened #18345 "prestashop_1.7.6.4 fresh install fails when the database password contains percent (%) character"
#### Describe the bug

prestashop_1.7.6.4 fresh install fails when the database password contains percent (%) character although the installation process goes to the end without error.

After inspection, it turns out that the installer will write ` %%` instead of `%` if the database password contains a single `%`, into `app/config/parameters.php` at the` 'database_password'`  key.

#### Expected b

[2020-03-27 15:19] #18344 closed, assigned to sarahdib

[2020-03-27 15:51] khouloudbelguith commented on #18345
Hi @Germain-Italic,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12556
So, I close it.
Thanks!

[2020-03-27 15:51] #18345 closed, assigned to nobody

[2020-03-27 15:51] khouloudbelguith commented on #18345
Duplicate of #12556

[2020-03-27 15:53] khouloudbelguith commented on #18301
Hi @simontingkamlee,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-03-27 15:53] #18301 closed, assigned to nobody

[2020-03-27 16:02] khouloudbelguith commented on #18296
Hi @ashtonlance,

In the BO => 1-click upgrade configuration page => the "Disable non-native modules" option is enabled?
Thanks to disable it, check and feedback.

[2020-03-27 16:02] V4LVE commented on #18335
I changed it to 7.2 still same issue

Den fre. 27. mar. 2020 kl. 09.35 skrev Sarah Dib <notifications@github.com>:

[2020-03-27 16:10] Germain-Italic commented on #18345
Sorry, I searched for install and percent but couldn't find #12556

[2020-03-27 16:16] khouloudbelguith commented on #18251
@rmasq,
In the BO => 1-click upgrade configuration page => the "Disable non-native modules" option is enabled?
Thanks to disable it, check and feedback.

[2020-03-27 16:21] V4LVE commented on #18335
I get a permission error now, please help

[image: image.png]
[image: image.png]

Den fre. 27. mar. 2020 kl. 17.02 skrev V4LVE_ <alex802c@gmail.com>:

[2020-03-27 16:25] khouloudbelguith commented on #18335
Hi @V4LVE,

If it is a permission issue, you need to check the problem with your host.
PS: the screenshot is not uploaded, you need to sign in to GitHub et upload pictures here.

Thanks!

[2020-03-27 16:30] matks commented on #18275
The standard solution for this kind of problem is to define a minimum length for the column.
When the screen is too small, then the page will grow larger than the screen and you'll need to scroll horizontally.

I dont know if this is something we want 🤔

@prestascott has been working on this topic

[2020-03-27 16:33] khouloudbelguith commented on #17778
Hi @BudrysLP,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-27 16:33] #17778 closed, assigned to nobody

[2020-03-27 16:34] V4LVE commented on #18335
Here are the pics
![image](https://user-images.githubusercontent.com/62727649/77778420-40337f00-7051-11ea-9121-00b98a54a683.png)
![image](https://user-images.githubusercontent.com/62727649/77778440-4590c980-7051-11ea-9c96-6f8ed470fedd.png)

[2020-03-27 16:37] khouloudbelguith commented on #18335
@V4LVE, it is a server issue.
You need to check with your host.

Thanks!

[2020-03-27 16:42] kossrlive commented on #15056
Greetings) So that issue was solved?
in ver 3.5 i can add filter by stock > 0. BUT i want only part of its realisation.
I dont need that filter visible. But all my products must need to be filtered ONLY with available "in-stock" attributes. Its sounds like "Always in-stock mode". Even this filter not enabled.
Wish you all good guys

[2020-03-27 17:35] ashtonlance commented on #18296
Hi @khouloudbelguith

That setting has been toggled off the whole time.

[2020-03-27 17:42] s3rgiobl opened #18349 "1-Click Upgrade error no funciona"
Hola,

Intento actualizar prestashop 1.7.5 a la ultima version estable pero el boton "Upgrade Prestashop Now" no funciona, no hace nada.

La versión instalada de 1-Click Upgrade es 4.10.1

¿Solución?

[2020-03-27 18:05] gaelson commented on #18341
Prestashop Version : 1.7.5.0
Module Version : 3.5.0

![faceted](https://user-images.githubusercontent.com/10993235/77786341-8ee31800-7055-11ea-9e69-ee674750cec3.jpg)
Thank you

[2020-03-28 02:49] go-sudo commented on #18320
Hello

I sue the HTML box https://mypresta.eu/modules/front-office-features/html-box.html then  I added the code as its described on this link

https://datatables.net/extensions/rowreorder/examples/initialisation/responsive

regards

[2020-03-28 03:48] simontingkamlee opened #18351 "Is it possible to import customers with password from 1.7.1.1 to 1.7.6.4"
Hi,

I would like to know whether it is possible to import customers record with password from version 1.7.1.1 store to 1.7.6.4 store.

I want to upgrade my PrestaShop store from 1.7.1.1 to 1.7.6.4. I tried to use the 1-click-upgrade module but it failed. So I am left with no choice but established a new store of 1.7.6.4 and move everything over.

Everything works until I imported the customer rec

[2020-03-28 18:30] kpodemski commented on #18320
You should contact mypresta.eu, not PrestaShop core developers here

[2020-03-28 18:46] conscious-creatives commented on #15783
Is this still not fixed?? I also have this bug!

[2020-03-28 22:27] LGx0 opened #18353 "Product tax calculate faild"
#### Describe the bug

Do not multiply the amount.
I haven't changed my tax rules, I use 3 keys and it doesn't work.

#### Expected behavior
Working

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional information

* PrestaShop version: 1.7.6.4
* PHP version: 7.2

[2020-03-28 22:27] LGx0 commented on #18353
![ewrfe](https://user-images.githubusercontent.com/17854088/77835305-b0263000-714b-11ea-9568-ded6ee99a44d.PNG)

[2020-03-29 15:06] #18353 closed, assigned to nobody

[2020-03-29 15:15] Piszi commented on #16348
Hello,
This is an old thread, but I run into the same problem just now. I needed to enable recycled packakging, but it wasn't showing up anywhere but the BO order details.
So I did some investigation and modded some core files and the ps_emailalerts module, to make this work.

First the mail alerts module:
**Step 1**: open **ps_emailalerts.php** and search for: **// Filling-in vars for email**
**S

[2020-03-29 20:48] goombaylabs opened #18354 "1.7.6.3 Unable to select shipping carrier during checkout."
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-03-29 22:43] lukapaunovic commented on #12667
For people using Plesk, this is the solution for your problem.
Disable PHP-FPM and set FastCGI instead in PHP Settings.
Memcached and php-fpm can't work together on prestashop.
After switching to FastCGI issue was gone.

[2020-03-29 22:58] go-sudo commented on #18320
HI @kpodemski I think you don't understand the matter and it would more polite to start your comment with "Ho, Hello , Bonjour)
any way this module HTMLbox is just a tool to integrate js and css files the error is the same when I add the js file on front controllers or in the header

the function is not working

Regards

[2020-03-30 06:22] sarahdib commented on #18351
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Gitter (https://gitter.im/PrestaShop/General)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

Thanks for your understanding!

[2020-03-30 06:22] #18351 closed, assigned to sarahdib

[2020-03-30 06:35] kpodemski commented on #18320
Hi ;)

@go-sudo your issue is completely unrelated to PrestaShop, you're trying to integrate external, third party script into PrestaShop, you're including jquery in higher version than this one used in PrestaShop, you're using third party module, in here you can report issues related to PrestaShop itself, not third party modules, scripts etc.

[2020-03-30 07:00] sarahdib commented on #18354
Hello @goombaylabs

Thank you for reporting this issue.

I didn't reproduce this issue with the information you gave me.

If you click on continue it goes to the newt step or not ? Can you sent me a screenshot of your console (right click -> inspect -> click on the second tab named "console") when you clicking on continue to see if there is error ?

The new carrier is it added by a module ?

Thank

[2020-03-30 07:18] sarahdib commented on #17632
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-30 07:18] #17632 closed, assigned to nobody

[2020-03-30 07:19] sarahdib commented on #17892
Hello

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-30 07:19] #17892 closed, assigned to nobody

[2020-03-30 08:20] marionf commented on #15783
@conscious-creatives

Feel free to submint a pull request, if you want this bug fixed more quickly
https://github.com/PrestaShop/PrestaShop/tree/develop

[2020-03-30 08:28] sarahdib commented on #18341
@gaelson
I didn't reproduce the issue you can see in my screen record. https://drive.google.com/file/d/1_ScoB65aOOYqyu2Zroe46soNle9tiUa3/view

Can you try to reset the module ?

Thank you

[2020-03-30 08:50] sarahdib commented on #18349
Hello

Please, send your request in English.
English is the norm on GitHub

Thank you!

[2020-03-30 08:53] Progi1984 commented on #18263
Fixed by #18305

[2020-03-30 08:53] #18263 closed, assigned to atomiix

[2020-03-30 09:25] MatShir commented on #18333
The field was deliberated removed. The objective of the field was to customize the voucher value but it was only displayed when a voucher was applied. So to customize a voucher on return product, the order has to have a voucher applied in the order.

To harmonize the behaviors, we put the specific custom edition into the partial refund button and set return product button with straightforward opti

[2020-03-30 10:02] #17755 closed, assigned to marionf

[2020-03-30 10:02] Progi1984 commented on #17755
Fixed by #17765

[2020-03-30 10:19] MatShir commented on #16869
Hello, Pirategaweb, Sickboards,

Could you give me more information or an example of a partially refunded order becoming canceled?

For the moment, the logic of PrestaShop is the following:
1 - An order can be canceled if the order is not yet paid. It restocks the products.
2 - The order is paid in full or partially. A refund is applicable with a restocking of the products if the merchant wishes i

[2020-03-30 10:41] LouiseBonnard commented on #16348
I agree, thanks @didi-2018 and @khouloudbelguith! It would be a nice improvement to have this information displayed in the following pages:

1. FRONT **final summary** (_displayed to the customer_)

Add 'Recycled packaging' (localized in _Shop.Theme.Checkout_) in the Shipping Method block.

2. FRONT **order confirmation** (_displayed to the customer_)

Add 'Recycled packaging' (localized in _Shop.

[2020-03-30 11:44] #17957 closed, assigned to nobody

[2020-03-30 11:44] Progi1984 commented on #17957
Fixed by #17972

[2020-03-30 11:47] webstartconsulting commented on #17064
Hi!
My prestashop version is 1.7.6.4 and php 7.1 (or 7.2 as i wish). How i can fix this issue? Have a quickfix on it?
Thanks

Regards
Norbert

[2020-03-30 12:31] khouloudbelguith commented on #17064
Hi @webstartconsulting,

This issue is fixed in the migrated page as you can see in this [comment](https://github.com/PrestaShop/PrestaShop/issues/9689#issuecomment-574751535).

Thanks!

[2020-03-30 12:45] sarahdib commented on #18320
Hello @go-sudo

You need to contact the module developer

I close this issue.

Thank you.

[2020-03-30 12:45] #18320 closed, assigned to nobody

[2020-03-30 12:49] Progi1984 commented on #18104
Fixed by #18347

[2020-03-30 12:49] #18104 closed, assigned to atomiix

[2020-03-30 12:52] sarahdib commented on #18296
Hello @ashtonlance

Can you try to save manually the image, disable the option who saves images and try again ?

Thank you

[2020-03-30 12:54] colinegin commented on #18333
I'm ok with this decision. @MatShir can you put the link to the related specifications so that everyone can access it ? Thanks !

[2020-03-30 13:09] Maofree opened #18368 "Big problem about products with combinations, in all type of product list always are shown default combinations"
Hi
there is a problem with product with combinations
all my customers that have products with combinations need to be present, in the product list, the possibility to show the combinations selected from some selection or from the search

example
https://www.lampadaribartalini.it/luce-illuminazione-vendita-online/124-lampade-a-batteria-per-esterni?q=Colore-Nero

here I select only product with colo

[2020-03-30 13:51] khouloudbelguith opened #18370 "BO - Order - Wrong declination reference displayed on pack composition"
#### Describe the bug

In the BO => Order page => when a pack is ordered => the combination reference is not displayed, product reference is displayed instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to a declination detail 'T-shirt imprimé colibri Taille - S, Couleur - Blanc
2. Add a reference: demo_1_S_BLANC
3. Create a pack product
4. Add the declination to the pack: t

[2020-03-30 13:51] #17455 closed, assigned to nobody

[2020-03-30 13:52] Progi1984 commented on #17455
Fixed by #17461

[2020-03-30 13:52] khouloudbelguith commented on #18370
Related to https://github.com/PrestaShop/PrestaShop/issues/17957

[2020-03-30 13:58] MatShir commented on #18286
@jolelievre I agree with @sam-pires it seems the optimal choice here.

[2020-03-30 14:09] go-sudo commented on #18320
@khouloudbelguith

I tried to use also CreativeElements to edit page, so I inserted the code on HTML widget as you see the tables are working but not on live mode

![data](https://user-images.githubusercontent.com/11594433/77921116-3e5afd00-7297-11ea-9140-34d74c3d4d27.png)

![tableko](https://user-images.githubusercontent.com/11594433/77921987-5bdc9680-7298-11ea-8b74-b7af5cb2077f.png)

Regards,

[2020-03-30 14:09] ashtonlance commented on #18296
Hi @sarahdib

The option to backup images has been turned off this whole time.

[2020-03-30 14:17] PululuK commented on #18370
Hi @khouloudbelguith

Can you check if this PR https://github.com/PrestaShop/PrestaShop/pull/17972 fixes this issue? If not,, you can assign it to me please!

Thanks

[2020-03-30 14:18] colinegin commented on #18286
We need this decision to be available in the specs. Thanks !

[2020-03-30 14:20] khouloudbelguith commented on #18370
@PululuK, no, I have the same issue with develop branch also.

Thanks!

[2020-03-30 14:20] sarahdib commented on #18296
@ashtonlance it's weird because in the log the image is back up and the same for modules non-native.

are you sure you saved the change ?

[2020-03-30 14:25] PululuK commented on #18370
But ... In your screen, i see Prestashop 1.7.7.0 🤔 ?

[2020-03-30 14:29] khouloudbelguith commented on #18370
@PululuK, in the develop branch, the version is still 1.7.7.0: https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/install_version.php#L27

Thanks!

[2020-03-30 14:31] PululuK commented on #18370
Yes yes .. My bad, sorry @khouloudbelguith  !

[2020-03-30 14:37] sarahdib commented on #18368
Hello @maofree

Thanks for the report.

The default template don't allow to add a product from the listing. We can't reproduce this bug.

Also there is an epic for improve faceted search : https://github.com/PrestaShop/PrestaShop/issues/15166
the last 3 in this epic is related to your bug.

[2020-03-30 14:41] #18368 closed, assigned to nobody

[2020-03-30 14:47] maofree commented on #18368
Hi
yes the add to cart button are no present in the classic theme (they should be present because it is a feature request from all eshop) but the problem is not restrict only to ps_facetedsearch module also for the search results

however those tickets are made 10 months ago
why as yet no corrections have been made to this problem?

[2020-03-30 14:51] ashtonlance commented on #18296
Yes, here's how the toggle looks

![image](https://user-images.githubusercontent.com/13652692/77926727-73098d00-7274-11ea-8698-6597a65afbd8.png)

[2020-03-30 14:54] maofree commented on #15166
Hi
there are some news about corrections of these things?
there are so important and useful for all eshop, is it possible to increase the priority of them? it is past 1 year
thanks

[2020-03-30 15:08] sarahdib commented on #18368
@maofree,

Thanks to create a new issue about this improvement, I will ping our Product Team.

We have the same behavior as ps_facetedsearch, the default template doesn't allow to add a product from the listing **search**, so we can't reproduce the issue.

Thanks!

[2020-03-30 15:10] maofree commented on #18368
do you know why the tickets of #15166 are not fixed after 10 months from their creation?

[2020-03-30 15:34] cbatista8a opened #18372 "ps_shoppingcart don't work if add a second languaje"
#### Describe the bug

When adding a second language to prestashop, the ps_shoppingcart module cannot find the url of the controller in charge of updating the cart.

#### Expected behavior

The modal dialog is expected to appear indicating whether to proceed with the checkout and the cart is updated in the front office.

#### Steps to Reproduce

Steps to reproduce the behavior:

1- Add a second la

[2020-03-30 15:37] Gipielle commented on #18372
Check in CMS page if the url is setted

[2020-03-30 15:40] cbatista8a commented on #18372
yes
data-refresh-url="http://localhost/it/module/ps_shoppingcart/ajax"

if i edit the html and remove the language from the url then it works

[2020-03-30 15:54] webstartconsulting commented on #17064
The "migrated page" will arrive with version 1.7.7. In the meantime, I should somehow fix it in a 1.7.6.x web store.
Or do I misunderstand it all?

[2020-03-30 15:59] jolelievre commented on #18275
@prestascott @NeOMakinG I made a little PR that overrides the `break-word` only for date time columns https://github.com/PrestaShop/PrestaShop/pull/18373
Do you think it's an acceptable solution? It shouldn't change dramatically the grid display since only date time columns are impacted (and they can still break between the date and the time)

![Capture d’écran 2020-03-30 à 17 58 36](https://use

[2020-03-30 16:22] khouloudbelguith commented on #17064
@webstartconsulting, sorry, there is no fix for the branch 1.7.6.x.

Yes!
We are re-working on the new Order page to fix issues.

Thanks!

[2020-03-30 16:22] #18225 closed, assigned to nobody

[2020-03-30 17:07] khouloudbelguith commented on #18372
Hi @cbatista8a,

I did not manage to reproduce the issue with PS1.7.6.4 and the `ps_shoppingcart` module v2.0.3.
I attached a screen record
https://drive.google.com/file/d/1EMkn3Zpy6XZHo1oKlCwnNno4B-zUcipu/view?usp=sharing
What is the exact version of `ps_shoppingcart` did you use?
In your BO => Modules => Module Manager page => search for the `ps_shoppingcart` module, click on the configure & che

[2020-03-30 17:13] cbatista8a commented on #18372
ps_shoppingcart version is v2.0.3
and ajax is activated, but even deactivating it does not change the behavior

[2020-03-30 18:04] jolelievre commented on #18286
Ok then if we change nothing I guess we can update the specs close this issue ^^

[2020-03-30 19:59] kitseller commented on #15990
Hello Guys.

Need some help to solve this problem please:

![screenshot-kitseller pt-2020 03 (2)](https://user-images.githubusercontent.com/62908158/77956132-4895ef00-72c9-11ea-9c9b-62fa39ff47fc.png)

[2020-03-30 20:30] kossrlive commented on #15168
joining the conversation,  (Prestashop 1.7.6.4)
I have same problem as i understood right current thread.

I think, that issue often starts when we using  product imports.

I have products with combinations too.

For example:  Adidas Sneakers with basic(Retail) price 100$
And its combinations(Sizes) available:       Size - 10, Size - 11, Size - 12 .
The price is the same as Retail (Basic) so here

[2020-03-30 20:34] davidglezz opened #26106 "Disable module if user do not want to be tracked. GDPR"
#### Is your feature request related to a problem?
Disable module if user do not want to be tracked. GDPR

#### Describe the solution you'd like
I wanted to request the possibility of deactivating the module for certain users who do not want to be tracked.
Or in other words, activate only for certain users.
Then shouldn't load any javascript... In order to comply with GDPR

[2020-03-31 07:30] NeOMakinG commented on #18275
That right @jolelievre, I wouldn't have done something else to be honest

[2020-03-31 07:44] khouloudbelguith commented on #17905
Hi @khalidzuhd,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-31 07:44] #17905 closed, assigned to nobody

[2020-03-31 07:45] khouloudbelguith commented on #17900
Hi @01park,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-31 07:45] #17900 closed, assigned to nobody

[2020-03-31 07:59] jolelievre commented on #18275
That means a lot to me! 🥺

[2020-03-31 08:27] khouloudbelguith commented on #15990
Hi @kitseller,

This issue is fixed in the PrestaShop version 1.7.4.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9080 to fix the issue.
Also, you need to check that the `php-intl `extension is installed on your server.
If you are using the `ps_emailalerts` module, In the "MERCHANT NOTIFICATIONS" part, if we have an E-mail address with Special chars for example "deméo@prestashop.

[2020-03-31 08:40] marionf commented on #15062
@agalussio

I applied the same configuration as you:

![capture d'écran_2485](https://user-images.githubusercontent.com/13449658/78005356-bc70df80-733b-11ea-9645-f7aeff88bef6.png)

![capture d'écran_2488](https://user-images.githubusercontent.com/13449658/78005383-c85ca180-733b-11ea-8049-a8425ed31fc7.png)

![capture d'écran_2486](https://user-images.githubusercontent.com/13449658/78005424-d4e0fa00

[2020-03-31 08:42] khouloudbelguith commented on #18372
@cbatista8a,

We are aware of this issue, please follow this: https://github.com/PrestaShop/PrestaShop/issues/10025 => Cart without ajax not functioning.

It could be a problem in your Nginx configuration, thanks to check this [link](https://github.com/PrestaShop/PrestaShop/blob/e51d7eaa0164118b88d8cdcddbbe60e64aff7c64/docs/server_config/nginx.conf.dist)
Recently, this file is updated to show how

[2020-03-31 08:43] LucasVollebergh opened #18378 "Products not visible in BO, then deleted after a week"
Hi,

I use the newest version of Prestashop 1.7.6.4 and I'm facing a big issue:
Not sure this has to do with this problem but I upload and sync all my products with webservice.

When I upload all my products, they are visible in the store but not under products in the BO.
I am able to see them in under brands.

But now a week after the products are uploaded all those products are gone...
I'm here

[2020-03-31 08:52] khouloudbelguith commented on #18378
Hi @LucasVollebergh,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.4.
Here is an example of an xml sent to add a new product via WS
[code]
Also, you can follow our documentation: http://doc.prestashop.com/display/PS16/Using+the+PrestaShop+Web+Service
You can found some examples in our GitHub repository: https://github.com/PrestaShop/PrestaShop-webservice-lib
Thanks

[2020-03-31 08:55] khouloudbelguith commented on #18296
Hi @ashtonlance,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.
[phppsinfo.php.zip](https://github.com/PrestaShop/PrestaShop/files/4407790/phppsinfo.php.zip)

1. Upload the file

[2020-03-31 09:26] Progi1984 opened #18379 "[BO] Can't remove discount added from a cart rule on product selection after adding a product in order"
#### Describe the bug

Can't remove discount added from a cart rule on product selection after adding a product in order

#### Expected behavior

Can remove discount added from a cart rule on product selection after adding a product in order

#### Steps to Reproduce

Steps to reproduce the behavior:
1. Create a product A (100€, 100 items in stock, available)
2. Create a cart rule:
  - has no code

[2020-03-31 09:49] khouloudbelguith commented on #18379
Hi,

This issue could be reproduced when https://github.com/PrestaShop/PrestaShop/pull/18205 is merged.

Thanks!

[2020-03-31 10:00] LouiseBonnard commented on #17969
@jolelievre, PR #17385 has been merged! We can look for useless wording now. ;-)

[2020-03-31 10:07] kitseller commented on #15990
php-intl extension installed and solved my problem.

Thanks a lot!!

De: khouloudbelguith [mailto:notifications@github.com]
Enviada: 31 de março de 2020 09:27
Para: PrestaShop/PrestaShop
Cc: kitseller; Mention
Assunto: Re: [PrestaShop/PrestaShop] Prestashop 1.7.6.1 with PHP 7.1 and 7.2 gives blank page order confirmation (#15990)

Hi @kitseller <https://github.com/kitseller> ,

This issue is fixed

[2020-03-31 10:32] arirangz commented on #17064
Thanks for the update.
Do you have an approx. ETA for the release of the 1.7.7?
Thanks

[2020-03-31 10:42] khouloudbelguith commented on #17064
Hi @arirangz,

You can follow our Project PrestaShop 1.7.7 process [here](https://github.com/PrestaShop/PrestaShop/projects/7)

Thanks!

[2020-03-31 11:15] ianronald opened #18382 "Issue status resets to Open in customer service"
We use Prestashop to run www.seedpotatoesdirect.co.uk.

Infrequently and unpredictably the customer service status on closed issues resets to open. This means that we can no longer see which issues we have handled and which still require attention.

#### Expected behavior

Once the status is set to Closed it should not change unless the topic is re-opened.

#### Steps to Reproduce

BO/Customer Ser

[2020-03-31 11:37] khouloudbelguith commented on #18382
Hi @ianronald,

I did not manage to reproduce the issue with PS1.7.6.4.
The Thread is Re-opened only if I click manually on the "Re-open" button.
![image](https://user-images.githubusercontent.com/16067358/78022080-a6bbe400-7354-11ea-8f45-86469b6c86ac.png)

Did you use any custom module or have you any override related to this?

Thanks!

[2020-03-31 11:52] #18370 closed, assigned to PululuK

[2020-03-31 12:31] ianronald commented on #18382
Hi @khouloudbelguith

Thank you so much for the response. Forgive me but I have not explained clearly. The problem is on the summary screen - see screenshot. As we process the topics from customers we mark them as closed. For example the topic ID 68702 is green at present but once handled it will be red.

Then the summary screen has many red topics. Infrequently these red topics all go green again

[2020-03-31 12:44] Robin-Fischer-PS commented on #18379
Hi @Progi1984 !

I added 2 more steps, after trying to delete, the voucher is no longer displayed but the discount is still applied.

[2020-03-31 12:49] Klemart3D opened #18385 "FO - An error on favicon when maintenance mode is enabled"
#### Describe the bug

On fresh install of PS 1.7.6.4, if "Maintenance" mode is enabled, I get a 503 error on favicon.

#### Expected behavior

Get a 200 on favicon file.

#### Steps to Reproduce

Steps to reproduce the behavior: Firefox V74

1. Install PS 1.7.6.4
2. Enable "Maintenance"
3. Go to front and check favicon status on "Network" devtool's tab. For me: 503/404
4. Try to change favicon in

[2020-03-31 12:56] Progi1984 commented on #13350
PrestaShop/ps_languageselector#13 is merged

[2020-03-31 12:59] arouiadib opened #18387 "The tooltip of Delete/Edit product from cart ( order view page migrated) - wrong behaviour"
#### Steps to reproduce

- Go to order view page (migrated ) for order with id=4 (`sell/orders/orders/4/view`).
- Add a product to existing cart. Now you have two products but there is  a problem of the tooltip when hovering on "delete icon" and "Edit" icon, it doesn't work for the newly added products.
![image](https://user-images.githubusercontent.com/23559010/77971279-2d85a800-72e6-11ea-9e79-80

[2020-03-31 13:06] Klemart3D opened #18388 "Can't translate "Link Widget" menu link in BO"
#### Describe the bug

The link "Link Widget" available in Design ("Apparence" in FR) menu in BO seems not translatable.

#### Expected behavior

Get translation registred for "Link Widget".

#### Steps to Reproduce

1. Fresh install of PS 1.7.6.4 in French only (or maybe any language other than English)
2. In International, update default language (to be sure)
3. Check Translation > BO > French a

[2020-03-31 13:09] alfonsolr09 opened #18390 "Error módulo carrito actualización 2.0.3"
Antes de actualizar el módulo, cuando se despliega la ventana pequeña del carrito le dabas a eliminar producto y se eliminaba al instante.
Desde la última actualización le das a eliminar producto y hasta que no refrescas la página no se muestra el cambio.
https://prnt.sc/rq5p0x

Before updating the module, when the small window of the cart is displayed, you gave to eliminate product and it is elim

[2020-03-31 13:11] WebXYAgency opened #18391 "ImageManager::validateUpload returns wrong message about extensions"
#### Describe the bug

When developer specifies wanted extensions like [png, svg], if user upload an other one, the error message displayed don't care about extensions specified by the developer and mentions to the user that he must upload GIF, JPG or PNG file.

#### Expected behavior

The error's message should display extensions specified by the developer to inform correctly the user

#### Steps

[2020-03-31 13:12] Progi1984 commented on #18379
@khouloudbelguith #18205 is merged

[2020-03-31 13:16] ashtonlance commented on #18296
Hello!

Thanks for your help. Screenshot is below.

![Screenshot_2020-03-31 PHP PrestaShop Info](https://user-images.githubusercontent.com/13652692/78030610-5cc10700-7330-11ea-9728-5897d00efa19.png)

[2020-03-31 13:21] khouloudbelguith commented on #18296
@ashtonlance,
Use the following settings to optimize the performances:
[code]

For more details, you can follow this [link](https://devdocs.prestashop.com/1.7/scale/optimizations/).

Thanks!

[2020-03-31 13:29] khouloudbelguith commented on #18385
Hi @Klemart3D,

I attached a screen record
https://drive.google.com/file/d/1irt5owIVodWgvUROSwMAddkMpG62vR-j/view?usp=sharing
The error 503 is not for the favicon, it for the shop URL.
`503 Service Unavailable`
The server cannot handle the request (because it is overloaded or down for maintenance). Generally, this is a temporary state.
=> In our case, our shop is in a maintenance mode => 503 is no

[2020-03-31 13:30] khouloudbelguith commented on #18390
Hi @alfonsolr09,

Please, send your request in English.
English is the norm on the GitHub
Thank you!

[2020-03-31 13:33] ashtonlance commented on #18296
Hi,
I've updated my config to replicate the settings you recommended and tried the upgrade again.

Same error at the same file as before.

[2020-03-31 13:40] alfonsolr09 commented on #18390
Before updating the module, when the small window of the cart is displayed, you gave to eliminate product and it is eliminated instantly.
Since the last update, you delete the product and until the page is not updated, the change is not shown.
https://prnt.sc/rq5p0x

[2020-03-31 13:43] khouloudbelguith commented on #18387
Hi @arouiadib,

Thanks for your report.
I manage to reproduce the issue with 1.7.7.x branch, the tooltip for "Delete" and "Edit" buttons are not displayed when we add a new product, it is OK when we refresh the page.
![image](https://user-images.githubusercontent.com/16067358/78033059-31590f00-7366-11ea-8e11-390e5fff344d.png)
![image](https://user-images.githubusercontent.com/16067358/78033129-417

[2020-03-31 13:48] khouloudbelguith commented on #18379
@Progi1984, @Robin-Fischer-PS,

I have the same issue with the branch 1.7.7.x

Thanks!

[2020-03-31 13:54] khouloudbelguith commented on #18390
Hi @alfonsolr09,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/17633 to fix the issue.
it is fixed in the next version ps1.7.8.0
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/16665#issuecomment-561519780
So, I close it.
Thanks!

[2020-03-31 13:54] khouloudbelguith commented on #18390
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/16665

[2020-03-31 13:54] #18390 closed, assigned to nobody

[2020-03-31 13:56] Klemart3D commented on #18385
Well, it's strange you don't have favicon ressource in your loaded data.
I checked with Firefox v74.0 + Chrome v80.0, I have it both:

![503 favicon with FF + chrome](https://user-images.githubusercontent.com/7419525/78034337-e3450b00-7367-11ea-8728-43c6e2e13ab3.png)

But another way to detect problem is favicon is not loaded (in your browser tab title).
We must find the "preston" favicon even if

[2020-03-31 13:57] alfonsolr09 opened #18395 "Español - Error showing the quantity of products in each brand"
#### Describe the bug

En el apartado marcas de mi web, cuando hay 0 productos dentro de una marca, se muestra "producto 0".
Cuando hay 1 producto en esa marca, se muestra "producto 1"
Cuando hay más de 2 productos, se muestra "2 productos"
Lo correcto es que siempre se muestre "# productos" (siendo # el número de productos que hay de esa marca)

#### Expected behavior

Lo correcto es que siempre

[2020-03-31 14:01] khouloudbelguith commented on #18296
@ashtonlance, It will help us if you can attach a screen record while upgrading for the first.
I need to check in your screen record that:

- "Disable non-native modules" is "Enabled"
- "Back up my files and database" is "Disabled"
- "Back up my images" is "Disabled"

PS: thanks to make a backup of your Database and your Files to be safe!

Thanks!

[2020-03-31 14:04] alfonsolr09 commented on #18390
¿cuando se lanzará esta versión ?

[2020-03-31 14:04] alfonsolr09 commented on #18390
¿no debería solucionarse en una actualización del módulo?

[2020-03-31 14:12] Allthejam opened #18397 "TAX Included"
I'm struggling to get my site to say TAX Included, no matter what I try it always says TAX Excluded, what am I missing here or is it an issue?

Thank you in advance

Allthejam

[2020-03-31 14:12] LucasVollebergh commented on #18378
Hi,

Thanks for your quick reply.
It's really weird that we have this problem because it all works fine in 1.6, also, there is no product list available in the backend...
Here our steps:

First we load a blanco scheme to fill in: /api/products?schema=blank (rmGet)
We get this:

<?xml version="1.0" encoding="UTF-8"?>
<prestashop xmlns:xlink="http://www.w3.org/1999/xlink">
<product>
       <id></id>

[2020-03-31 14:15] khouloudbelguith commented on #18378
@LucasVollebergh,

Thanks to change the value of the ` <state>1</state>`, check and feedback.

[2020-03-31 14:17] khouloudbelguith commented on #18397
Hi @Allthejam,

Thanks for your report.
In your BO => Shop Parameters => Customer Settings page => Groups Tab => Edit Group you want =>change the "Price display method" to Tax included.
![image](https://user-images.githubusercontent.com/16067358/78036932-28b70780-736b-11ea-95bb-2fd914c8c423.png)

Thanks to check and feedback.

[2020-03-31 14:19] khouloudbelguith commented on #18390
@alfonsolr09,

English is the norm on the GitHub
Thank you!

[2020-03-31 14:23] Allthejam commented on #18397
Thank you for that, it was about the only thing I hadn't tried, one quick one see image, but how do I get the **£** symbol to appear on the left side of the price
![2020-03-31_152256](https://user-images.githubusercontent.com/52738920/78037496-8e06fa80-7363-11ea-92b9-2306581e503d.jpg)

[2020-03-31 14:26] khouloudbelguith commented on #18388
Hi @Klemart3D,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9893
So, I close it.
Thanks !

[2020-03-31 14:26] #18388 closed, assigned to nobody

[2020-03-31 14:27] khouloudbelguith commented on #18388
Duplicate of #9893

[2020-03-31 14:30] alfonsolr09 commented on #18390
Shouldn't it be resolved in a module update?

[2020-03-31 14:32] cbatista8a commented on #18372
# [REQUIRED EDIT IF MULTILANG]
    rewrite ^/it$ /it/ redirect;
    rewrite ^/it/(.*) /$1;

on Nginx and it's work finally

[2020-03-31 14:33] khouloudbelguith commented on #18397
@Allthejam, Great!

This feature will be available in the next version PS1.7.7.0.
![image](https://user-images.githubusercontent.com/16067358/78038611-4f763d80-736d-11ea-951d-dd744acc6c16.png)

Since it is OK, I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-03-31 14:33] #18397 closed, assigned to nobody

[2020-03-31 14:34] khouloudbelguith commented on #18372
@cbatista8a, Great!

Since, it is fixed, I will close the issue.
Feel free to open a new one when needed.

Thanks!

[2020-03-31 14:34] #18372 closed, assigned to nobody

[2020-03-31 14:36] khouloudbelguith commented on #18390
@alfonsolr09, this issue is fixed in the PrestaShop Core: https://github.com/PrestaShop/PrestaShop/pull/17633/files

Thanks!

[2020-03-31 14:53] rAthusFr opened #18398 "robots.txt blocks product pages because of prefix"
The automatically generated _robots.txt_ file disallows files ending with keywords from pretty URLs.

Eg my order page URL is `example.com/commande` so the _robots.txt_ file will have `Disallow: /*commande`, I have a product wich URL is `example.com/dolphon-m500-avec-telecommande.html`, this product is ignored by robots and metas are removed from Google because it ends with "commande".

Why are th

[2020-03-31 15:07] khouloudbelguith commented on #18385
@Klemart3D, I tried with firefox v74, I have a 404 error
![image](https://user-images.githubusercontent.com/16067358/78042041-cad9ee00-7371-11ea-9f1d-30d64ab2089b.png)
Reproduced with PS1.7.5.2, PS1.7.6.4, and the branch 1.7.7.x.
Thanks to check and feedback.

[2020-03-31 15:10] khouloudbelguith commented on #18382
@ianronald,
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/mis

[2020-03-31 15:13] ianronald commented on #18382
@khouloudbelguith

Thanks I will do my best and get back to you.

[2020-03-31 15:18] khouloudbelguith commented on #18395
Hi @alfonsolr09,

First, PrestaShop is not compatible with PHP 7.3 and PHP7.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Yo

[2020-03-31 15:18] #18395 closed, assigned to nobody

[2020-03-31 15:19] khouloudbelguith commented on #18382
@ianronald, thanks!
Waiting for your feedback.

[2020-03-31 15:21] LouiseBonnard commented on #18106
@jolelievre and @colinegin, I have better wording to gather the two information: _Positive product quantity is required_ in _Admin.Notifications.Error_, thanks!

Also, so that it can be studied for PrestaShop 1.7.8 or any future future version, I'll create a feature request following my last comment. It'd be a great improvement to be able to set some kind of input rules depending on the nature of

[2020-03-31 15:23] Klemart3D commented on #9893
Issue still there on **PS v1.7.6.4**, see #18388.

[2020-03-31 15:24] khouloudbelguith commented on #14836
Related to https://github.com/PrestaShop/PrestaShop/issues/9657

[2020-03-31 15:27] goombaylabs commented on #18354
Hello,

If i click continue it does not allow me to move to the next step, nor does it allow me to choose the carrier. And yes, the additional shipping carrier was added via module.

Regards,

![Console Screenshot 1](https://user-images.githubusercontent.com/51277054/78044211-fa6d0400-7339-11ea-9f01-fd88ce9a9382.jpg)

![Console Screenshot 2](https://user-images.githubusercontent.com/51277054/78044

[2020-03-31 15:32] khouloudbelguith commented on #18398
Hi @rAthusFr,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?
Checked with PS1.7.5.2, PS1.7.6.4 and the branch 1.7.7.x
We have in the `Robots.txt` file:

[code]

Thanks!

[2020-03-31 15:34] khouloudbelguith commented on #18354
Hi @goombaylabs,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-03-31 15:44] Klemart3D commented on #18385
404 is also a bad response!
The link to favicon must be like when shop in not in maintenance, by sample the good favicon link for my shop is:  _favicon?1575295785_  not _/favicon.ico_

I think it's because it missing a `<link rel="icon">` tag in [layout-error.tpl](https://github.com/PrestaShop/PrestaShop/blob/7633be8294d90148d2bdfe3fd1c2d403e72ec91b/themes/classic/templates/layouts/layout-error.tp

[2020-03-31 15:48] khouloudbelguith commented on #18385
@Klemart3D, thanks for your feedback.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-03-31 16:13] LouiseBonnard opened #18400 "Set input rules to define allowed values for a given field"
We currently have a lot of error notifications in the software stating that negative amounts are not allowed, or that users must type a positive value, etc. It is even worse for big pages, like the order page or the product page, that contain many fields, each expecting a specific value.

So when a user fills many fields, it becomes complicated if he made several mistakes since it displays several

[2020-03-31 16:19] khouloudbelguith commented on #18391
Hi @WebXYAgency,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 and PS1.7.6.4 and the branch 1.7.7.x
Steps to reproduce the issue

1. Disable Debug mode
2. Replace this [line](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/ImageManager.php#L476)
by
`if (!ImageManager::isRealImage($file['tmp_name'], 0, ['png']) || !ImageManager::isCorrectImageFileExt($file['n

[2020-03-31 16:21] jolelievre commented on #18400
Nice improvement! Indeed it's better for the user to have a feedback on his mistakes located on the incorrect input (via a tooltip or other).

And imho an error message is easier to understand than blocking an invalid input. For example if I type `-1` in an input and it automatically transforms it into `1` or `0` I won't understand why it doesn't type what I want.

But leaving the `-1` with an err

[2020-03-31 16:26] LouiseBonnard commented on #18400
I like the idea of the color highlighting the error input!

[2020-03-31 16:37] marionf commented on #10557
@matks
This page is displayed and available on 1.7.7 but it seems some things have not been done like:
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [ ] [Add a modal to confirm or cancel delete action for one row](https://github.com/PrestaShop/PrestaShop/issues/17082)

[2020-03-31 16:41] marionf commented on #10555
@matks
This page is displayed and available on 1.7.7 but it seems some things have not been done like:
- [ ] [Add a modal like on product list (Catalog > Products) to confirm or cancel delete in bulk action](https://github.com/PrestaShop/PrestaShop/issues/14462)
- [ ] [Add a modal to confirm or cancel delete action for one row](https://github.com/PrestaShop/PrestaShop/issues/17082)

[2020-03-31 16:42] jolelievre commented on #18400
Yes but it can't be the only way to display the error (or colorblind people)

[2020-03-31 17:16] colinegin commented on #18299
Hello @Prestaworks ,

Thanks for your report !
Indeed, somehow the fix we have done to be able to have access to canonical urls has had an impact when rewriting the url.

Nevertheless, after testing on 1.7.6.4, it seems that the canonical URL is still correctly used in the head, which is supposed to prevent duplicated content. What do you think about it ?

[2020-03-31 17:24] gaelson commented on #18341
Hello,
yes all is working excepted the clear cache link.
I don't know why.

[2020-03-31 17:32] rAthusFr commented on #18398
It seems like it's actually an issue only on 1.6, as 1.7 seem to add the language, eg `Disallow: /*fr/commande`

[2020-03-31 17:59] colinegin opened #18402 "[EPIC] - SEO optimizations"
Listing of all issues related to SEO fixes and improvements :

## Bugs
#### Generic SEO issues
- [x] #16865
- [x] #14336
- [ ] When crawling, some parameters have been blocked by the robots.txt, including controller attachment (http://dev2017.concept-bureau.fr/index.php?controller=attachment&id_attachment=254 ), JS and CSS. The robots.txt is here to block the crawl, but not the indexation. For par

[2020-03-31 18:17] aloisejulian commented on #14957
I'm having this problem in Prestashop 1.7.6.2

[2020-03-31 18:27] alfonsolr09 commented on #18395
¿puede ser que el error lo provoque el idioma?
mi tienda está en español
-------------------------------------------------
Could it be that the error is caused by the language?
my store is in spanish

[2020-03-31 18:33] Gipielle commented on #15166
Hello, any news about this ?

[2020-03-31 18:34] alfonsolr09 commented on #18395
mi version de php que pone en prestashop es esta Versión PHP: 7.2.29
la otra versión es la que pone en el plesk de mi proovedor de alojamiento
---------------------------------

my version of php that puts in prestashop is this PHP Version: 7.2.29
the other version is the one that puts in the plesk of my hosting provider

[2020-03-31 20:24] raysiah opened #18403 "Unable to save product information"
#### Describe the bug

After filling up all product information such as Title, short description, descriptions, tag, and clicked on either save and stay button or save button. However the page either refreshes by itself but all the data entered are gone or it goes to the catalog/products page but the newly entered product cannot be found.

#### Expected behavior

I expect all product information e

[2020-03-31 22:02] Hlavtox commented on #18379
@Progi1984 @colinegin If the discount has no code, it should not be deletable, hm? (If the desired behavior is the same as in FO.)

In my opinion, a better way would be NOT TO apply any vouchers automatically, when changing/creating order in BO. This way you keep full control of the order in BO.

(I think it would be impossible to tell Prestashop not to use this voucher in this order, it would add

[2020-03-31 22:39] Hlavtox opened #18404 "displayError throws 500, why?"
This PR: https://github.com/PrestaShop/PrestaShop/pull/13209 introduced a change in Tools::displayError that always throws error 500 and kills the page.

It creates a problem in official European VAT module, which uses this method, if the VAT does not validate.

![EBA3BBC6-950B-48DD-A131-FA72813EB4D9](https://user-images.githubusercontent.com/6097524/78081607-35f6e500-73b1-11ea-9981-81352b96bf09.p

[2020-03-31 22:52] Hlavtox commented on #17131
@sam-pires Hi Samuel, we fixed all breadcrumbs in my account section with @matks.

I will go through the last few pages tommorow (like stores, suppliers, sitemap etc.) and fix it. Then the breadcrumbs will be 100% done.

[2020-04-01 06:36] Prestaworks commented on #18299
I don't think that is enough, if the 301 redirects is not working properly, you will most likely still get issues with the links.

[2020-04-01 06:52] tiche opened #18406 "Error 500 when I try to save the legend of image products. Image->id_product is empty"
When I try to save the legend of image products, It doesn´t work, doesn´t save anything. If I see the log, it throws an exception, and it says that the property Image->id_product is empty.

![image png 55d90008cf1b46fc05a82ca08f6b7b74](https://user-images.githubusercontent.com/43927784/78107078-1a153280-73f5-11ea-9be4-9f9b9ce13550.png)

![image thumb png 2bbec143fd60be024157ae7f85c8014c](https://u

[2020-04-01 07:27] khouloudbelguith commented on #17895
Hi @ProteanCode,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-01 07:27] #17895 closed, assigned to nobody

[2020-04-01 07:29] khouloudbelguith commented on #17909
Hi @didi-2018,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-01 07:29] #17909 closed, assigned to nobody

[2020-04-01 07:37] idnovate opened #18407 "Not all icons from backoffice sidebar are visible"
#### Describe the bug

If window height is shorter than sidebar and sidebar is collapsed, you can not view all the icons.

![image](https://user-images.githubusercontent.com/15104724/78110999-42545f80-73fc-11ea-9792-ffef2bc781c7.png)

Sidebar doesn't have a scroll when collapsed.

#### Additional information

* PrestaShop version: 1.7.6.3

[2020-04-01 07:37] khouloudbelguith commented on #18403
Hi @raysiah,

I did not manage to reproduce the issue with PS1.7.6.4 and PS1.6.1.24.
https://drive.google.com/file/d/13iqSq12V1_5rCwK32aT3AYmXWpTqF8BJ/view?usp=sharing
https://drive.google.com/file/d/11Y83cwkJVKxWF5FJJDK3upc-hXwiy7m7/view?usp=sharing

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June

[2020-04-01 07:37] #18403 closed, assigned to nobody

[2020-04-01 07:53] khouloudbelguith opened #18409 "The ps_brandlist has a big seo error - the block title has H1 instead of a simple link with h6 calss"
#### Describe the bug

Hi
I've seen that the title of `ps_brandlist` module has `H1` instead of a simple link with `h6` class

it is necessary to fix it to avoid SEO problems with the main `H1`

The issue previously reported [here](http://forge.prestashop.com/browse/BOOM-3297).

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install the `ps_brandlist` module
2. Go to the FO => Categ

[2020-04-01 07:54] Progi1984 commented on #18275
Fixed by #18373

[2020-04-01 07:54] #18275 closed, assigned to jolelievre

[2020-04-01 07:56] Progi1984 commented on #11588
Fixed by #17561

[2020-04-01 07:56] #11588 closed, assigned to atomiix

[2020-04-01 07:57] #17463 closed, assigned to nobody

[2020-04-01 07:57] Progi1984 commented on #17463
Fixed by #17467

[2020-04-01 08:11] kmorgen commented on #16634
We just updated from PS 1.7.6.1 to 1.7.6.4 in our testshop, and now get the same error when changing to Norwegian language:

https://ps17test.morgen.dk/

[2020-04-01 08:17] daresh opened #18411 "Wrong search indexing of description with word separated by a <br> line break tag"
#### Describe the bug

Words separated by the line break tag are connected together when sanitizing search string. As a result product is not found when searching.

#### Expected behavior

Words should be separated, not connected

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a new product, give it a name "test product"
2. Add a descritiption with paragraph containing the fo

[2020-04-01 08:46] colinegin commented on #13737
Hello @maofree ,

sorry for only writing back now and thanks for all your feedbacks. About your comment :
- 1st issue is fixed in 1.7.7 see PR https://github.com/PrestaShop/PrestaShop/pull/14558
- 2nd issue : there's a few issues listed here https://github.com/PrestaShop/PrestaShop/issues/18402 about pagination, is it one of them ?
- 3rd issue is listed here : #9503
- 4th issue : i'm not sure I un

[2020-04-01 08:48] khouloudbelguith opened #18412 "Reduced left menu has become scrollable until he disappears"
#### Describe the bug

In the BO, the reduced left menu has become scrollable until he disappears

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Shop Parameters => Merchant Expertise / Search page
2. Reduce the Left menu
2. Make a zoom of your window  >= 125%
3. Try to Click on the icon Shop Parameters
4. See error => the reduced left menu has become scrollable until he

[2020-04-01 08:49] khouloudbelguith commented on #18412
The issue could be related to this PR: https://github.com/PrestaShop/PrestaShop/pull/17426
Ping @NeOMakinG

Thanks!

[2020-04-01 08:50] NeOMakinG commented on #18412
Hey @khouloudbelguith Do you have an error in your console ? It looks like it's linked to a JS error/problem

[2020-04-01 08:52] khouloudbelguith commented on #18412
@NeOMakinG, no errors.

Thanks!

[2020-04-01 08:57] khouloudbelguith commented on #18407
Hi @idnovate,

I have the same issue with PS1.7.6.4 and PS1.7.5.2.
In the branch 1.7.7.x, we have a regression reported here: https://github.com/PrestaShop/PrestaShop/issues/18412

Ping @NeOMakinG, do you think, this issue `Not all icons from back-office sidebar are visible` could be fixed when fixing this [bug](https://github.com/PrestaShop/PrestaShop/issues/18412)?

I will try to reproduce the i

[2020-04-01 09:04] colinegin opened #18413 "Change the display amount on the wire payment module if partial payment has already been done"
An order can have other payment on the same order process we can have a payment that is made before (eg payment by gift card or balance / have), so it is necessary to deduct the amount that has already been paid. This update have visual impact for the final customer. I regularly implement this update near my clients.

[2020-04-01 09:13] NeOMakinG commented on #18407
Hey @khouloudbelguith and @idnovate

This issue has been fixed by @PierreRambaud on august 2019 on 1.7.7.x, and there are 2 patch on his work, one is merged, the other is WIP (doing it right now)

[2020-04-01 09:17] khouloudbelguith commented on #18406
Hi @tiche,

I did not manage to reproduce the issue with PS1.7.5.2 and PS1.7.6.4.
https://drive.google.com/file/d/1Kv7Td-hVhIuJaZeCD2L_SPinVNdvAONr/view?usp=sharing
Did you use any custom module or do you have any override related to the images?

Thanks!

[2020-04-01 09:45] ianronald commented on #18382
@khouloudbelguith

Ok I have done my best on this. I am not a programmer just a Prestashop user (and a happy one btw) so please forgive if I have provided the wrong information.

- host
GoDaddy
- server setup and configuration
GoDaddy service called 2 GB Gen3 VPS
CentOS 6 + cPanel
On the cPanel patching report I see 1.1.1.cpanel.x86_64

- PrestaShop version (source)
[Screenshot 2020-04-01 at 10.36

[2020-04-01 09:48] marionf opened #18414 "Missing modal to confirm or cancel the deletion of a customer address (in bulk)"
#### Describe the bug

It was planned to add a modal to confirm or cancel the bulk deletion during the migration of the page but it was not done #10557

#### Expected behavior

Add a modal to confirm or cancel the deletion of many rows

#### Additional information

* PrestaShop version: 1.7.7.x
* PHP version: N/A

[2020-04-01 09:49] marionf commented on #10557
Reported here: https://github.com/PrestaShop/PrestaShop/issues/18414

[2020-04-01 09:50] marionf opened #18415 "Missing modal to confirm or cancel the deletion of an order message (in bulk)"
#### Describe the bug

It was planned to add a modal to confirm or cancel the bulk deletion during the migration of the page but it was not done #10555

#### Expected behavior

Add a modal to confirm or cancel the deletion of many rows

#### Additional information

* PrestaShop version: 1.7.7.x
* PHP version: N/A

[2020-04-01 09:51] marionf commented on #10555
Reported here: #18415

[2020-04-01 09:58] maofree commented on #13737
hi
1st issue  #14558 uses the ItemList but it is a wrong solution, because it is not possible to have more than one ItemList in a page

4th issue in the 1.7 a product with combinations has a number of urls how many are its combinations. Normally each url show the images of the current combination, so if I'm a visitor I need to scroll each combination to see its images, I think it is better to can

[2020-04-01 10:02] khouloudbelguith commented on #18407
@NeOMakinG, thanks :smile:
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14689  to fix the issue.
Your ticket is a duplicate of #9588
So, I close it.
Thanks!

[2020-04-01 10:02] #18407 closed, assigned to nobody

[2020-04-01 10:02] khouloudbelguith commented on #18407
Duplicate of #9588

[2020-04-01 10:18] marionf commented on #15166
Hello guys,

This topic required a lot of study to prepare specifications, it's not the priority right now
Furthermore some features listed in this issue are already available with modules like [advanced search](https://addons.prestashop.com/fr/recherches-filtres/2778-advanced-search-4-recherche-par-filtres.html)

[2020-04-01 10:22] Gipielle commented on #18402
Yes !

[2020-04-01 10:23] maofree commented on #15166
hi
you're suggesting buying a module that costs € 300, so I don't think it's a satisfactory solution. Prestashop is a cms to create eshops, and these functions should be implemented by default because otherwise one could use presentation cms, if he wants to be the best cms for eshops he should foresee these functions as other similar ones do

bye

[2020-04-01 10:29] colinegin commented on #12553
I close this issue as the PR has been merged. Thanks !

[2020-04-01 10:29] #12553 closed, assigned to nobody

[2020-04-01 10:30] khouloudbelguith commented on #18411
Hi @daresh,

I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/1-iHscWtksbLM_RjxQGfInGBlCgV0DsNH/view?usp=sharing
Thanks to check and feedback.

[2020-04-01 10:34] daresh commented on #18411
Hi,
can you check out the source code of the description? Does it have only line break between words or maybe something more?

[2020-04-01 10:34] NeOMakinG commented on #18407
Fixed by this on 1.7.7.x : https://github.com/PrestaShop/PrestaShop/pull/18416

[2020-04-01 10:39] kyripapa opened #18417 "Version 1.7.6.2 emails are not saved after editing"
Hello everyone,
I have an issue with editing the texts in version 1.7.6.2.
In the BO the texts seem changed (the body of the email), but the texts are not saved somehow in the files and the sent email is always the default one (without the changes)
I have found others that have the same issue [here ](https://www.prestashop.com/forums/topic/1002846-prestashop-1761-problem-the-translation-of-email-i

[2020-04-01 10:41] alfonsolr09 commented on #18395
@khouloudbelguith
debe ser por el idioma de la tienda, al cambiarlo se produce el error. ¿puedes comprobar en castellano?

------------------------------

It must be for the language of the store, when changing it the error occurs. Can you check in spanish?

[2020-04-01 10:48] khouloudbelguith commented on #18411
@daresh,

[code]
![image](https://user-images.githubusercontent.com/16067358/78128977-1c888400-7417-11ea-821a-b1ec8268b445.png)

Thanks!

[2020-04-01 10:53] photinia73 opened #18418 "spam ip is on the site every time"
Hello!
The Ip 178.159.37.139 appeared on my site https://te.com.ua and attack it every time. I added this IP to .htaccess but it still on my site. My provider said that it does not enter from Apach . May be it wrote themself in module...
Here https://dnschecker.org/ip-blacklist-checker.php this IP detected as spam

![image](https://user-images.githubusercontent.com/50954519/78129283-03d09c00-7420-

[2020-04-01 11:00] khouloudbelguith commented on #18417
Hi @kyripapa,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/1Q0UFNCeWJElA6JMZev-alUdjJueFg3PH/view?usp=sharing

PS: we cannot edit the translation which is in the core of the mails.
It is planned for PS1.7.7.7: #14809

Thanks to check & feedback.

[2020-04-01 11:02] kyripapa commented on #18417
Hello and thank you for looking it.
Actually in the backoffice the text is changes as you saw it in the video you made.
Did you try to send an email?Are the texts changed in the email too?

Kind Regards,

[2020-04-01 11:04] daresh commented on #18411
Maybe it's the spaces that you have there, try my code from the above comment exactly.

[2020-04-01 11:06] khouloudbelguith commented on #18418
Hi @photinia73,

Spams on 1.7 are caused by the `contactform,` here are the PRs resolving this issue:

`contactform` module:
https://github.com/PrestaShop/contactform/pull/19 => fixed in the `contactform` module v4.0.0.

ps_emailgenerator:
https://github.com/PrestaShop/ps_emailgenerator/pull/17 => fixed in the last release of `ps_emailgenerator`

PrestaShop:
https://github.com/PrestaShop/PrestaSho

[2020-04-01 11:12] khouloudbelguith commented on #18382
@ianronald, thanks for your feedback.
PS: you can use the following settings to optimize the performances:

[code]
For more details, you can follow this [link](https://devdocs.prestashop.com/1.7/scale/optimizations/).

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

debug mode report
PHP error logs
apache error log
javascript console log

Don't y

[2020-04-01 11:23] adriacobo commented on #14957
This error still happens on 1.7.6.4,
To reproduce:
- Create a cupon with code, minimum amount and free shiping (assign code is important)
- Do a purchase on Front
- Apply the coupon on last step
- Pay via WireTransfer
And whops... FatalThrowableError
Call to a member function addOrderPayment() on null
-- in PaymentModule.php line 373

As I far I debug all this variables on file are empty, then the

[2020-04-01 11:25] Progi1984 commented on #18030
Fixed by #18326

[2020-04-01 11:25] #18030 closed, assigned to zuk3975

[2020-04-01 11:27] khouloudbelguith commented on #18395
@alfonsolr09, thanks to check this screen record to fix the issue.
It is a translation of the Spanish language
https://drive.google.com/file/d/1clP1Hp4r_EFU5gCs5R1411kSknC3i95e/view?usp=sharing
![image](https://user-images.githubusercontent.com/16067358/78132145-80617b80-741c-11ea-890d-d58c7ba2f03c.png)

Thanks!

[2020-04-01 11:42] photinia73 commented on #18418
My PS is 1.7.6.2
Concactform.php has enother code like in the ref PrestaShop/contactform#19 => fixed in the contactform module v4.0.0.
I have not module ps_emailgenerator:
And I use reCaptcha
![image](https://user-images.githubusercontent.com/50954519/78133345-eeab3b80-7426-11ea-8cdc-2f052aa43ebd.png)
So there is the problem in something else ((

[2020-04-01 11:48] photinia73 commented on #18418
O! The Contactform does not work ((
The same problem was after upade to 1.7.2 and now again ((

[2020-04-01 11:55] ianronald commented on #18382
@khouloudbelguith

Thanks for the settings info.

I have been looking for the php_error.log file on my server using cPanel. I cannot find any file anywhere with php_error in the name.

Any tips please?

[2020-04-01 11:58] khouloudbelguith commented on #18417
@kyripapa, as I said previously, we cannot edit the translation which is in the core of the mails.
It is planned for PS1.7.7.0: #14809.

Thanks!

[2020-04-01 12:02] khouloudbelguith commented on #18382
@ianronald,

If you don't have it, you should ask to your hosting provider.

Thanks!

[2020-04-01 12:02] matks commented on #18418
I dont think a module is capable of bypassing the htaccess file.

In your traffic logs, could you see if you can see what URls this IP use ? This should tell you where he is entering.

If there is no trace of this IP in traffic logs, then indeed he does not reach your website from Apache. Is there another web-server running on your server ? nginx maybe ?
On server you should be able to check the l

[2020-04-01 12:05] khouloudbelguith commented on #18418
@photinia73,

What is the exact problem?

Thanks!

[2020-04-01 12:10] khouloudbelguith commented on #18411
@daresh, thanks to enable the `Search within word` option, Reindex the search, check and feedback.
![image](https://user-images.githubusercontent.com/16067358/78135585-688cf600-7422-11ea-964a-7c6c41bcd9de.png)

Thanks!

[2020-04-01 12:10] alfonsolr09 commented on #18395
@khouloudbelguith thankssssssss !!!

:)
:+1:

[2020-04-01 12:11] daresh commented on #18411
I have this option enabled, it does no matter, because the glued word is too long, it does not even get into the index.

[2020-04-01 12:12] khouloudbelguith commented on #18398
@rAthusFr, so it is ok in the 1.7?

Thanks!

[2020-04-01 12:13] khouloudbelguith commented on #18341
Hi @gaelson,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/m

[2020-04-01 12:20] rAthusFr commented on #18398
@khouloudbelguith yes it's ok on 1.7 as they forced the language into the _robot.txt_ conditions so there's no way an URL will end with `fr/commande.html` for example :)

Issue only occures on 1.6.

[2020-04-01 12:21] khouloudbelguith commented on #18411
@daresh,

I attached a screen record
https://drive.google.com/file/d/13uzEGkiRBsOHU-PjfocZFxAPHgAz9nfl/view?usp=sharing
![image](https://user-images.githubusercontent.com/16067358/78136551-1ea50f80-7424-11ea-92ed-eea4e0bc28cd.png)

Thanks to check and feedback.

[2020-04-01 12:22] khouloudbelguith commented on #18398
@rAthusFr,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed, that’s why I close it.

[2020-04-01 12:22] #18398 closed, assigned to nobody

[2020-04-01 12:24] Progi1984 commented on #17955
Fixed by #18234

[2020-04-01 12:24] #17955 closed, assigned to matthieu-rolland

[2020-04-01 12:26] photinia73 commented on #18418
After I re-wrote the contactform.tpl to my custom Theme it started work. (send the letter). BUT. Have a tarrible view https://te.com.ua/ru/contact-us. And this not a biggest problem. The reCaptcha have not power (not nessary) I can not check it and the letter will send.  In the previous variant the reCaptcha was placed here
![image](https://user-images.githubusercontent.com/50954519/78136961-24ebb

[2020-04-01 12:27] daresh commented on #18411
Now I see, I had 1.7.6.3, after upgrading to 1.7.6.4 it seems to be working fine. Interesting...
Thanks for your support!

[2020-04-01 12:29] daresh commented on #18411
Or it is not working, when I search for "quick" it's OK, but not for "jumps", maybe I'll try to investigate more.

[2020-04-01 12:37] daresh commented on #18411
Here's my recording:
https://drive.google.com/open?id=1KMmCpcFCBuJKapIw4Nfl1lo3w6GoivWt

Overrides are turned off, fresh upgrade from 1.7.6.3 to 1.7.6.4.

[2020-04-01 12:48] MatShir commented on #18333
Find [here](https://github.com/PrestaShop/prestashop-specs/blob/master/Order%20Page%20View.md) the updated specs. Thanks @khouloudbelguith

[2020-04-01 12:48] #18333 closed, assigned to MatShir

[2020-04-01 12:59] khouloudbelguith commented on #18411
@daresh, I think the issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/12407
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14587

Thanks to check and feedback.

[2020-04-01 13:24] ashtonlance commented on #18296
Hi,

I expect that disabling the backups will fix the issues — as that’s where the auto upgrade is breaking. But half the appeal of the auto upgrade is the automated backups. Is there another route? I’m happy to post a screen recording.

On Mar 31, 2020, 10:01 AM -0400, khouloudbelguith <notifications@github.com>, wrote:

[2020-04-01 13:33] arouiadib commented on #18289
Hi @SD1982 How are you?
Could you please rename the title and body of your ticket? It is in fact about stock counter and not product quantity.
This will somehow make this issue different than  #18237 (and remove some confusion). Wdyt?
Thank you in advance.

[2020-04-01 13:50] matks commented on #18404
Hi @Hlavtox
I checked `Tools::displayError()` implementation (see https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Tools.php#L1161)

It seems that, most of the time, `Tools::displayError()` is used like this:
[code]

In this case, the fact it sends the right headers is a good thing as
- indeed it helps server software to understand this is an error page, not a correct page (and, among

[2020-04-01 13:52] khouloudbelguith commented on #18418
@photinia73,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-04-01 13:55] khouloudbelguith commented on #18296
@ashtonlance, in your BO => Advanced Parameters => Database => DB Backup Tab, you can make a backup of your Database.
![image](https://user-images.githubusercontent.com/16067358/78145388-1d2e1400-7431-11ea-927e-08bd09f059aa.png)

So your issue is fixed or not checked yet?

Thanks!

[2020-04-01 13:57] SD1982 commented on #18289
Hello @SD1982 Done :+1:

[2020-04-01 14:13] khouloudbelguith commented on #18404
Hi @Hlavtox, @matks,

The `vatnumber` module is not available for 1.7 as reported here:
https://github.com/PrestaShop/PrestaShop/issues/9884
Here's the module from GitHub: https://github.com/PrestaShop/vatnumber

How can I reproduce the issue?

Thanks!

[2020-04-01 14:18] Gipielle commented on #17903
From prestashop forum:

 PS 1.7.3.

Found a solution for this...

classes/order/OrderInvoice.php

somewhere around row 130 where getProductsDetail

change

' ORDER BY od.`product_name`');

to

' ORDER BY od.`product_reference`');

[2020-04-01 14:18] daresh commented on #18411
Well I think increasing the limit to 30 characters may be of some help, but what if the descriptions is really long and only separated by line breaks? It will still exceed 30 characters in some cases.

[2020-04-01 14:20] Gipielle commented on #17903
Usually warehouses are organized by codes and not by article name. If you use the prestashop documents to collect the products in the warehouse, you do it by code.

[2020-04-01 14:29] photinia73 commented on #18418
All Ok! I jast forrgot that I changed a few rows in the contactform.php for reCaptcha controll. Sorry. After contactform`s reCaptcha update it look like the boiring IP disappeared ))

[2020-04-01 14:41] khouloudbelguith commented on #18418
@photinia73, Great!

Since it is OK, I will close the issue.
Feel free to open a new one when needed.

Thanks!

[2020-04-01 14:41] #18418 closed, assigned to nobody

[2020-04-01 14:56] Hlavtox commented on #18404
@matks Then it's the fault of vatnumber module. It hooks to hookActionValidateCustomerAddressForm and if it's wrong, it displays error.

OPC has “nothing to do with it”.

@khouloudbelguith I don't know about the official compatibility, but it works fine! :) There have been some PRs to make it compatible with 1.7.

Maybe we should ask @eternoendless if he can adapt the module, so it shows the error

[2020-04-01 14:58] khouloudbelguith commented on #18411
@daresh,

I this a good practice to the reference?
We have an option Tags, you can use it.
![image](https://user-images.githubusercontent.com/16067358/78152374-ffb17800-7439-11ea-9d6f-88d5d6272da8.png)

Thanks!

[2020-04-01 15:01] daresh commented on #18411
Maybe you're right, but what if someone has a description like that imported from some data source and it does not have paragraphs but only line breaks? All words will get glued together.

[2020-04-01 15:02] khouloudbelguith commented on #18404
@Hlavtox,

How can I reproduce the issue?

I followed these steps:
1. Install PS1.7.6.4
2. Install vatnumber module
2. Configure it with France
3. Go to FO => Add product to the cart => process to checkout
4. Choose a payment module by default
5. Click "Place Order" => OK

Thanks!

[2020-04-01 15:05] khouloudbelguith commented on #18411
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-04-01 15:06] matks commented on #18330
@Robin-Fischer-PS Or maybe the sign is good but the order total should be converted into the currency ? So in your example it should be 101,30€ (= 13,848.70DZD).

@MatShir question for PM I guess
Shoud orders, in the listing, be displayed _in the currency they were paid_ or displayed _in the shop main currency_ ?

[2020-04-01 15:11] khouloudbelguith commented on #16634
Hi @kmorgen,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- 1-click upgrade module version
- PS1.7.6.1: what are the exact languages and currencies used in this shop
- PS1.7.6.1: the new languages are added manually or after importing a pack for the Localization page or after adding a new language from the Translations Page?
- PS1

[2020-04-01 15:28] Franejre opened #18421 "PHP Fatal error: Uncaught Exception: Kernel Container is not available in /src/Adapter/ContainerFinder.php:77"
Hello everyone i have a big probleme

i have a module payement , everything works fine , but when get redirect to my prestashop i get on error 500 page , if i stay on the page and refresh it i get a error "this shopping cart id have been already use"

here is the error log i have find

[01-Apr-2020 13:20:02 Europe/Paris] PHP Fatal error:  Uncaught Exception: Kernel Container is not available in /h

[2020-04-01 15:48] eternoendless commented on #14968
Why would you want this?

Everything that you translate in BO is stored in the `ps_translation` table.

[2020-04-01 15:51] matks commented on #18421
@Franejre How do you reach back PrestaShop ? You must go through a regular controller to ensure the setup is correct

Have a look for https://github.com/PrestaShop/PrestaShop/issues/14648

[2020-04-01 15:53] khouloudbelguith commented on #18421
Hi @Franejre,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them and feedback.

[2020-04-01 16:01] khouloudbelguith commented on #18417
@kyripapa, I close the issue.
Feel free to open a new oen when needed.

Thanks!

[2020-04-01 16:01] #18417 closed, assigned to nobody

[2020-04-01 16:01] khouloudbelguith commented on #18417
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/15474

[2020-04-01 16:07] Franejre commented on #18421
ok because i thinks it could be a error due to prestashop 1.7.6.4? as the error kernel is in prestashop file and not in module files

[2020-04-01 16:16] khouloudbelguith commented on #18421
@Franejre, as you can see this [comment](https://github.com/PrestaShop/PrestaShop/issues/14648#issuecomment-515520400)
This is a module issue.
Please contact the module author and feedback.
In the meantime, what is the exact name of your module? bought from the Marketplace Addons PrestaShop?

Thanks!

[2020-04-01 17:53] kmorgen commented on #16634
Hello

• 1-click upgrade module version
V4.10.1
• PS1.7.6.1: what are the exact languages and currencies used in this shop
Same as in live store: https://www.chill-innovation.com/ (Still on V1.6.1.24)
• PS1.7.6.1: the new languages are added manually or after importing a pack for the Localization page or after adding a new language from the Translations Page?
Added manually in the Language page
•

[2020-04-01 21:22] mynameisboris commented on #15331
This solution helped: https://www.prestashop.com/forums/topic/999019-176-could-not-crawl-for-translation-files/?do=findComment&comment=3214285
Seems like Prestashop was unable to auto-extract the translation ZIP to the folder.

[2020-04-01 21:27] Cristian6600 commented on #17277
Good day i have the same problem probe aumentar
try increasing max_input_vars from 1000 to 15000

[2020-04-01 21:55] raysiah commented on #18403
Thank you for your help, I would like to upgrade PS1.7.6.4, will it override the information from previous version PS1.6.0.14 store?

[2020-04-01 23:43] ernest98k commented on #14050
@khouloudbelguith i'm having the same issue, where do I find that option , send and email to the customer... the one you mentioned.

[2020-04-02 01:09] germain-italic opened #18423 "addons / customer-messages-detail.php fails with special character"
Not sure if I should post here because the bug applies to addons.prestashop.com and not in Prestashop itself. Anyways, let's report.

#### Describe the bug

Typing the "lower than" character (`<`) in a message will cause the message to be cut/sliced.

#### Expected behavior

The character should be escaped properly with html entity (`&laquo;`) and the message should be displayed completely.

####

[2020-04-02 05:59] mcube27 opened #18424 "500 error BO->Customers->Customers"
#### Describe the bug

I just updated from 1.7.5.2.

If I go to Customers->Customers there is a 500 error code.

Here is the log :
[2020-04-02 07:51:51] request.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\TableNotFoundException: "An exception occurred while executing 'SELECT c.id_customer, c.firstname, c.lastname, c.email, c.active, c.newsletter, c.optin, c.date_add, gl.name as social

[2020-04-02 06:46] Robin-Fischer-PS commented on #18330
@matks In Legacy (176x) the currency sign was modified. But the conversion is also a good solution, if the merchant does not have in mind all conversion rates !

[2020-04-02 07:44] khouloudbelguith commented on #17932
Hi @ashish76,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-02 07:44] #17932 closed, assigned to nobody

[2020-04-02 07:45] khouloudbelguith commented on #17945
Hi @antonincizek25,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-02 07:45] #17945 closed, assigned to nobody

[2020-04-02 07:47] khouloudbelguith commented on #17944
Hi @yourizuring,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-02 07:47] #17944 closed, assigned to nobody

[2020-04-02 08:09] khouloudbelguith commented on #18424
Hi @mcube27,

Thanks for your report.
What is the exact version of the 1-click upgrade did you use?
Have you any errors during the upgrade?
I think that the table `prestashop_b.prstshp_guest` doesn't exist.
![image](https://user-images.githubusercontent.com/16067358/78225100-e8ba6680-74c9-11ea-9185-6232dc2e3f9e.png)

Thanks to check this table on your Database and feedback.

[2020-04-02 08:13] khouloudbelguith commented on #18423
Hi @Germain-Italic,

Thanks for your report.
Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on this [link](https://addons.prestashop.com/en/contact-us).

Thanks!

[2020-04-02 08:13] #18423 closed, assigned to nobody

[2020-04-02 08:18] khouloudbelguith commented on #14050
Hi @ernest98k,

You need to navigate to your BO => Shop Parameters => Order Settings page => Statuses Tab => Edit your exact status => You will be redirected to the Order status Edit page => Select the option  "Send an email to the customer when his/her order status has changed." and Save.
![image](https://user-images.githubusercontent.com/16067358/78225956-5024e600-74cb-11ea-919f-118241c63543.png

[2020-04-02 08:23] Germain-Italic commented on #18423
I don't need help, I found the cure myself.
I'm actually reporting an issue...

[2020-04-02 08:34] SD1982 opened #18428 "BO - Currencies Cancel button is not displayed at the good place"
#### Describe the bug

In BO => currencies => add new the cancel button is not displayed at the good place

#### Expected behavior

The cancel button should be displayed at the good place

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => International => Localization => currencies => add new
2. See error

**Screenshots**

**In 1.7.6.x it was like this :**
![176](https://us

[2020-04-02 08:59] prestascott commented on #16627
@Hlavtox

I did user tests between different designs I made and most of all approved that it’s definitely useful to have a disabled text editor so they can read through it. They don’t have to switch the toggle to view content they wrote before.
In fact, we don’t have this same behaviour with the checkbox in PrestaShop but we have it with a toggle.

This is my latest design proposition on the back

[2020-04-02 09:04] MatShir commented on #18330
@matks @Robin-Fischer-PS  good suggestion, so If the merchant has multishop enable. It will display the order on the shop's default currency. I'm doing a few tests on 176, I will confirm you soon as I can.

[2020-04-02 09:11] khouloudbelguith commented on #18428
Hi @SD1982,

Same issue with 177X Branch.

Thanks!!

[2020-04-02 09:19] Progi1984 commented on #18312
Fixed by #18334

[2020-04-02 09:19] #18312 closed, assigned to jolelievre

[2020-04-02 09:19] Progi1984 commented on #18303
Fixed by #18334

[2020-04-02 09:19] #18303 closed, assigned to jolelievre

[2020-04-02 10:03] khouloudbelguith commented on #16634
@kmorgen, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.6.4 after an upgrade from PS1.7.6.1 using the 1-click upgrade v4.10.1.
I attached screen records
1. https://drive.google.com/file/d/1FwU736C69mIivl16YBtegMmcxQ3pQVku/view?usp=sharing
2. https://drive.google.com/file/d/1F3GTY-hZh76j1AqxHh6DR5HReBrmnVvW/view?usp=sharing

Thanks to check and feedback.

[2020-04-02 10:15] MatShir commented on #18330
@matks @Robin-Fischer-PS I recommend displaying the currency used by the Front-Office customer. The order page is not a page for managing order turnover. If a customer has a problem with his order, it will be easier to find it if the total of his order matches the customer's order total. This also allows keeping coherence between the detailed order page and the order list.

But it's interesting as

[2020-04-02 10:35] iidaloiki opened #18429 "Hook displayProductExtraContent does not trigger"
#### Describe the bug

Hook displayProductExtraContent does not trigger.

#### Expected behavior

Product Page in Front Office should render added extra content into a new information tab.

#### Steps to Reproduce

1. Create a new module

2. Register hook on install()

[code]

3. Add hook function into module

[code]

4. Install module and look at product page - nothing shows

#### Additional info

[2020-04-02 10:49] khouloudbelguith commented on #18429
Hi @iibs,

I did not manage to reproduce the issue with PS1.7.6.4.
![image](https://user-images.githubusercontent.com/16067358/78241187-4eb1e880-74e0-11ea-90bf-1e0ed598c4d7.png)
I used this module
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/4420489/mymodule.zip)
PS: PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and Presta

[2020-04-02 11:00] MatShir commented on #18286
[Here](https://github.com/PrestaShop/prestashop-specs/commit/78116766589b66c279e5658ab4ab4c74edcbc03f) the related specs.
Thanks you all :)

[2020-04-02 11:00] #18286 closed, assigned to sam-pires

[2020-04-02 11:09] iibs commented on #18429
Hi @khouloudbelguith,

I tried adding the module aswell, and that worked ok. Must have been something wrong with my syntax.

Thanks for help :)

[2020-04-02 11:09] #18429 closed, assigned to nobody

[2020-04-02 12:30] mcube27 commented on #18424
Hi,

Thank you for your fast response.

I used the 1-Click Upgrade v4.10.1.

I had a problem but could solve it removing the image backup. Then the upgrade went through.

The table is missing from the database. Should I add it manually ? Do you have a script ?

[2020-04-02 12:36] khouloudbelguith commented on #18424
@mcube27, you can check the schema for the PS1.7.6.4 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.4/install-dev/data/db_structure.sql#L956
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.4/install-dev/data/db_structure.sql#L977

Thanks to check and feedback.

[2020-04-02 12:38] matks commented on #18330
OK I add the "PM ✔️" label as we have confirmation we must display the currency being used to pay the order

[2020-04-02 12:45] mcube27 commented on #18424
I added the table and then another one was not existant :

Table 'prestashop_b.prstshp_connections' doesn't exist.

I added it too and all seems ok !

[2020-04-02 12:52] khouloudbelguith commented on #18424
@mcube27, Great!
Since it is fixed, I will close the issue, feel free to open a new one when needed.

THanks!

[2020-04-02 12:52] #18424 closed, assigned to nobody

[2020-04-02 12:55] Devcitaw opened #18430 "Modules not working propertly with default client groups"
I'm having a weird issue with my prestashop 1.7.6.4
I thought my image slider was not working properly because it wasn't updating its content in the front office, but then I noticed that my link widget and my highlighted products weren't updating its contents either.
I can see them, but the content is not the one I've put in them (link widget shows an old list, image slider doesn't change at all n

[2020-04-02 13:02] sarahdib opened #18431 "Error on update and hook a module"
#### Describe the bug

When I try to update or hook a module there is an error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Modules
2. Click on the update -> update all
3. See error

<img width="1268" alt="Capture d’écran 2020-04-02 à 13 34 15" src="https://user-images.githubusercontent.com/3034677/78251987-70b46680-74f2-11ea-9a1e-70b51fdd8f74.png">

1. Go to Design -> Po

[2020-04-02 13:06] ernest98k commented on #14050
Thanks for that, the checkbox was unchecked , but i'm still unable to receive the email, any other advice ?

[2020-04-02 13:08] Progi1984 opened #18432 "Refactor DeleteProductFromOrderHandler"
- [x] #18564 : Refactor two handlers :
- src/Adapter/Order/CommandHandler/AddProductToOrderHandler.php
- src/Adapter/Order/CommandHandler/DeleteProductFromOrderHandler.php

because updateOrder are nearly the same.

- [ ] Refactor handler src/Adapter/Order/CommandHandler/DeleteProductFromOrderHandler.php for using src/Adapter/Order/Refund/OrderProductRemover.php as service.

[2020-04-02 13:09] khouloudbelguith commented on #14050
@ernest98k,

It should be checked.

Thanks!

[2020-04-02 13:10] apacios commented on #18431
I have the same issue when installing a module.
It give an error but the module is well installed.

With the Symfony console I'm getting : `The addon with id 26233 does not have name.` which seems to be the User Guide.

[2020-04-02 13:14] Robin-Fischer-PS opened #18433 "BO - Wrong total in order detail page when adding a product with modified price"
#### Describe the bug

When adding a product with modified price to an order in BO, the "Total" price is wrong : It's the catalog price which is applied, instead of the modified price.

The "Products" total is OK.

#### Expected behavior

The Total should be with the modified price.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO, create an order.
2. Go to BO, to the create

[2020-04-02 13:19] khouloudbelguith commented on #18433
Hi @Robin-Fischer-PS,

It is OK with PS1.7.6.4.

Thanks!

[2020-04-02 13:25] khouloudbelguith commented on #18431
Hi,

I have the same exception in only one shop when I make a search in the BO
![image](https://user-images.githubusercontent.com/16067358/78254426-2e8d2400-74f6-11ea-8516-8cd01dc322d5.png)
=>
![image](https://user-images.githubusercontent.com/16067358/78254448-3baa1300-74f6-11ea-96aa-e71f45dc7d49.png)

Thanks!

[2020-04-02 13:27] ernest98k commented on #14050
It's checked now , but I don't receive emails yet.

[2020-04-02 13:29] khouloudbelguith commented on #14050
@loran-a, you need to check if "Send test email" is well working.
![image](https://user-images.githubusercontent.com/16067358/78254780-aeb38980-74f6-11ea-9d2c-71907af4c4e3.png)

Thanks!

[2020-04-02 13:31] khouloudbelguith commented on #18430
Hi @Kimcitaw,

memcached is enabled in your shop?
Is it similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/18171?

Thanks!

[2020-04-02 13:38] kmorgen commented on #16634
@khouloudbelguith I have temporarily activated the shop, so you can inspect it (or else please provide IP, so can add it to maintenance mode): https://ps17test.morgen.dk/

The shop and configuration was installed prior to V1.7.6.1, and was working until the update. No error message during update, and only problem is for /no (norway).

Do you know how I can fix it?

[2020-04-02 13:42] khouloudbelguith commented on #16634
@kmorgen, could you please try to navigate to the BO => International => Localization page => Import the "Norway" pack.
![image](https://user-images.githubusercontent.com/16067358/78256162-79a83680-74f8-11ea-9e84-e81561fc4374.png)

Thanks to check and feedback.

[2020-04-02 13:55] kmorgen commented on #16634
@khouloudbelguith Unfortunately did not help. Tried to delete the Norske Kroner before the import too.

[2020-04-02 13:57] ernest98k commented on #14050
![image](https://user-images.githubusercontent.com/46162454/78257858-537f9800-74f2-11ea-8323-8e07db87b9a0.png)

[2020-04-02 14:03] Kimcitaw commented on #18430
Hi @khouloudbelguith,

Thanks for answering.

I've just checked and no, I have the caching in "Use cache: NO".
If I turn it on it shows this:

![Captura5](https://user-images.githubusercontent.com/48606042/78258038-08a15880-74d1-11ea-8581-64dc6941d538.PNG)

I've read the issue you tagged and tested the link widget (Trying to modify the currently one) and at first It wasn't showing changes but a mi

[2020-04-02 14:04] khouloudbelguith commented on #14050
@loran-a, I did not manage to reproduce the issue with PS1.7.6.4
![image](https://user-images.githubusercontent.com/16067358/70325134-95911980-1831-11ea-85b7-c0cef3b3fe8e.png)

The information for these fields, SMTP, should be provided by your web host: mail domain name, SMTP server, SMTP user, etc. Make sure to transcribe exactly what your web host provides you with.

You need to check with your

[2020-04-02 14:07] khouloudbelguith commented on #16634
@kmorgen, so, it could be something went wrong with your update and don't have some of the database columns that were added for 1.7.6.4
The solution is to check if there are missing columns in your database schema.
You can find the full schema for 1.7.6.4 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.4/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2020-04-02 14:10] ernest98k commented on #14050
My mail domain name is missing,this field is empty,  might that be a issue ?

[2020-04-02 14:14] BoutiquesInternet opened #18439 "Faceted Search Module Performance"
#### Describe the bug

Mysql CPU is overloaded (more than 150%) when Faceted Search is active.
When disable, the mysql CPU is normal (between 10 and 30%).

#### Steps to Reproduce

Prestashop with multistore actived, about 10 shops with 1 domain for each.
about 10.000 products
about 1.000 categories

#### Additional information

Example in my mysql-slow.log

`# Query_time: 4.879676  Lock_time: 0.0

[2020-04-02 14:21] kmorgen commented on #16634
@khouloudbelguith I think I located the problem/solution

In table PS_lang locale for Norway was called no-NO. I changed this to nb-NO, so now it works.

So the issue seem to have been been triggered by changes in language variations, since Norway have 2 languages. I guess this might then also occur for other language variations like en-US, en-GB etc.

[2020-04-02 14:23] khouloudbelguith commented on #18430
@Kimcitaw, I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/1gJ97zKW6pxFgx5ZbWbrTrNPgduFXaar7/view?usp=sharing
I tried with a Customer Group.

Thanks to check and feedback.

[2020-04-02 14:27] khouloudbelguith commented on #16634
@kmorgen, as you can see in my previous screen record
![image](https://user-images.githubusercontent.com/16067358/78260813-b0814b00-74fe-11ea-8e83-28f783976910.png)
![image](https://user-images.githubusercontent.com/16067358/78260888-c8f16580-74fe-11ea-86f6-642bd21c4327.png)

It is well working also.
Thanks!

[2020-04-02 14:29] Progi1984 commented on #12521
Fixed by #17927

[2020-04-02 14:29] #12521 closed, assigned to sowbiba, Robin-Fischer-PS

[2020-04-02 14:32] khouloudbelguith commented on #18439
Hi @BoutiquesInternet,

The more products and categories you have, the more combination are saved in the database, this is why this table `ps_layered_filter_block` is growing. Don't hesitate to add the clear-cache script in a cron  :wink:
I think you have an issue similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/17318

Thanks to check and feedback.

[2020-04-02 14:35] kmorgen commented on #16634
@khouloudbelguith

If I edit Norway under Languages (even if not changing anything, just saving). It will change the table to no-no again, and site will not work. Site only works if I manually change database to nb-NO

[2020-04-02 14:39] BoutiquesInternet commented on #18439
Hi @khouloudbelguith ,

Thanks for your rapidity and for sharing this ticket.
I will try this solution and come back to you in few days if this works for me !

[2020-04-02 14:46] khouloudbelguith commented on #18439
@BoutiquesInternet, thanks!
Waiting for your feedback.

[2020-04-02 14:52] khouloudbelguith commented on #16634
@kmorgen, I tried with a fresh install PS1.7.6.4 no-No => OK
I attached a screen record
https://drive.google.com/file/d/1mPysjzbqCUKePK-LnIct7hROM4mKTQwb/view?usp=sharing

Thanks!

[2020-04-02 14:54] Kimcitaw commented on #18430
I know, I've checked other similar issues and forums and it seems the problem can't be replicated.

I've tried now to set again the original customer groups and everyting seems to have changed at how it should be, BUT if I make a new change, it doesn't affect the FO ... Again.
Even in the custom groups.
I must create a new customer group and asign it as a defaault to see the changes :/

[2020-04-02 14:58] #13394 closed, assigned to nobody

[2020-04-02 15:07] khouloudbelguith commented on #18430
@Kimcitaw,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/mis

[2020-04-02 15:10] marionf opened #18441 "Fix URLs for non-default combinations"
#### Describe the bug

Products displayed in listings do not always represent default combinations. For example default combination of a product is RED, and it costs 10 EUR. If displayed product represents default combination, then {$product.url} is same as {$product.canonical_url}, it does not have an attribute anchor, so it is OK. But if displayed product represents another combination, let's sa

[2020-04-02 15:10] #18441 closed, assigned to nobody

[2020-04-02 15:11] fabio-zetaweb commented on #17991
Hi,

it happened again! But this time the carrier is the same in both orders.

![order-compared](https://user-images.githubusercontent.com/56585945/78265506-d0b40880-7504-11ea-9ecb-bb39fa5d6152.jpg)
![order-01](https://user-images.githubusercontent.com/56585945/78265519-d4e02600-7504-11ea-8b7e-9e41b9b61043.jpg)
![order-02](https://user-images.githubusercontent.com/56585945/78265530-d90c4380-7504-1

[2020-04-02 15:13] khouloudbelguith commented on #17991
Hi @fabio-zetaweb,

Please follow: https://github.com/PrestaShop/PrestaShop/issues/11115
It is still open.

Thanks!

[2020-04-02 15:14] Progi1984 commented on #18330
Fixed by #18419

[2020-04-02 15:14] #18330 closed, assigned to sowbiba

[2020-04-02 15:15] kmorgen commented on #16634
@khouloudbelguith Weird, our shop then no longer works with no-NO in the database after the update?!
I noticed you write 'no' in language code when creating language. Can you try with nb-NO (this is actually the IETF tag for Bokmål which is the norwegian language installed. PS also have Nynorsk as a seperate language, so guess 'no' is not sufficient anymore.

(we probably initially created the lan

[2020-04-02 15:21] Robin-Fischer-PS opened #18443 "BO - Wrong total when changing currency after placing the order and adding a product"
#### Describe the bug

When adding a BO product to an order for which the currency has been changed, the order total is displayed in the original currency instead of the new currency.

This is an issue linked to this PR : https://github.com/PrestaShop/PrestaShop/pull/17927. I missed it when I tested the PR, sorry for that.

#### Expected behavior

The total should be displayed in the new currency.

[2020-04-02 15:21] khouloudbelguith commented on #16634
@kmorgen, I tried with nb in the language code => ok
https://drive.google.com/file/d/1pPup-WyShi61DnCwKs9kUv46ygTTmrLC/view?usp=sharing

Thanks!

[2020-04-02 15:25] khouloudbelguith commented on #18443
Previously reported here: https://github.com/PrestaShop/PrestaShop/issues/16937 fixed by https://github.com/PrestaShop/PrestaShop/pull/17927

Is it?

Thanks!

[2020-04-02 15:30] Robin-Fischer-PS commented on #18443
No @khouloudbelguith , there is a little difference here : I change the currency of the order after the order is done and before adding the product.

#17927 does not fix this specific case.

[2020-04-02 15:30] Cookyah opened #18444 "must_have_modules_list.xml - ID 26233 - name missing"
Hi,
I use the fonction getModulesOnDisk() of class Module.php for one of my custom module and currently this function return an error because the file "must_have_modules_list.xml" available in "/config/xml/" contain an error.

The ID of module 26 233 (Guide Utilisateur - PrestaShop 1.7 (en anglais)) has an empty name.
Yesterday this work fine and today don't.
I think you made an update and an erro

[2020-04-02 15:37] khouloudbelguith commented on #18444
Hi @Cookyah,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
You need to delete cache from your shop & your browser.
Thanks to check and feedback.

[2020-04-02 15:45] kmorgen commented on #16634
@khouloudbelguith In your example the locale remains as no-no no matter the change. Can you try to manually change it to nb-NO and see it FO still works then?

So we can assume it is still supposed to be called no-no in the Locale column.
So the big question is then why no-no then no longer works after we updated to 1.7.6.4.
I can only get the site to work when manually changing it to nb-NO (despi

[2020-04-02 15:49] Cookyah commented on #18444
Hi @khouloudbelguith thanks for your quick reply.

I already try to clear cache of Prestashop manually and of my browser, it didn't work. :/
I use Google Chrome so I also try to change my browser to go on firefox and install a fresh prestashop, the same error show up.

If I set a custom text like "test" to fill the field <name></name> in the "must_have_modules_list.xml" file, it's work.

Did I nee

[2020-04-02 16:02] khouloudbelguith commented on #18444
@Cookyah, Thanks to delete the `must_have_modules_list.xml` file into the path `PROJECT_FOLDER/confix/xml`, check & feedback.
It should be automatically created.

Try to make a backup first to be safe!

Thanks!

[2020-04-02 16:06] khouloudbelguith commented on #16634
@kmorgen, it is working also!
https://drive.google.com/file/d/1DnV6WaHkkfb8oCYjFrt7Tz9ygerpU8E4/view?usp=sharing

Thanks!

[2020-04-02 16:13] kmorgen commented on #16634
@khouloudbelguith Well, thats a bit weird isn't it? The same language works with both locale no-no and nb-no as well?

[2020-04-02 16:14] NeOMakinG commented on #18387
Fixed it, also there was another bug, when you was adding a product, tooltips was not added to this product until the reload of the page.

[2020-04-02 16:23] khouloudbelguith commented on #16634
Ping @LouiseBonnard what do you think about this?

Thanks!

[2020-04-02 16:31] Cookyah commented on #18444
@khouloudbelguith

Thanks, deleting the `must_have_modules_list.xml` correct the problem.
I think there was a problem with the previous update of this file.

I close the issue.

Thanks you so mutch for your time and expertise. :)
Regards

[2020-04-02 16:31] #18444 closed, assigned to nobody

[2020-04-02 16:34] BoutiquesInternet commented on #18439
For a quick return :

I clear the cache manualy just for testing but the performance is not better and it fills up very fast (about 50 Mo in 20 min for 3.350 entries in the table).

So I think clearing the cache daily is not the solution here.

This is ugly but I just commented the function insertIntoCache() in Block.php file to temporarily resolve the issue

[2020-04-02 16:35] khouloudbelguith commented on #18444
@Cookyah, Great!

Feel free to open a new one when needed.

Thanks!

[2020-04-02 16:38] khouloudbelguith commented on #18439
@BoutiquesInternet, thanks for your feedback.
Ping @jocel1 @PierreRambaud what do you think?

Thanks!

[2020-04-02 16:56] arouiadib commented on #18387
@NeOMakinG , thank you very much

[2020-04-02 16:58] colinegin commented on #18299
Hello,

After a deeper study with @jolelievre we have indeed found where and why was this bug introduced. We need to fix it for 1.7.6.5.
Please find specifications related to SEO [here](https://github.com/PrestaShop/prestashop-specs/blob/master/seo-rules-and-behaviours.md), this will help us avoid future regressions on SEO.

For this regression in particular, we need to make sure that :
- rewritin

[2020-04-02 16:58] LouiseBonnard commented on #16634
@khouloudbelguith, @kmorgen, actually the use of the Norwegian languages is a bit confused in PrestaShop... Bokmal is kind of recognized as the main Norwegian language, this is both locales (no-NO and nb-NO) refer to the same language.

[2020-04-02 17:06] sam-pires commented on #18411
Hello,
Thanks for the feedback @daresh

I think the new search algorithm in the 1.7.7 might fix this: #14428
I tried to test this behavior in the 1.7.7 branch but got an exception 😅

@khouloudbelguith and @LouiseBonnard do you think we should wait for the branch to get more stable and try again?

If it doesn't fix it, I believe we should see how we can improve the search and avoid concatenating al

[2020-04-02 17:09] khouloudbelguith opened #18447 "BO - Strange behavior in the add new Product page when the employee language is different from the default language"
#### Describe the bug

When the default language is different from the employee's language, a strange behavior occurred when trying a new product.

#### Expected behavior

It should be like 1764
https://drive.google.com/file/d/1Av2ZukiF_ZyUkZKygCTjKVKc2cIOMnSl/view?usp=sharing

As described [in the specs](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/catalog-produc

[2020-04-02 17:12] daresh commented on #18411
A shop where I noticed it displays part compatibility this way. In description it has listed all compatible models one under another, separated only by a line break. And each of the model is something like ACDXYZ999, that's why it's one word per line.

[2020-04-02 17:25] khouloudbelguith commented on #18411
Hi @sam-pires,

I followed these steps in the branch 177x
1. Create a product with a description
```<p>quick<br />brown<br />fox<br />jumps<br />over<br />the<br />lazy<br /> dog</p>```
2. Enable the "Search within word" option in the Search page
3. Re-build the entire index
4. Go to FO => search with "jumps" for example => the new product is not found

It is the same behavior with PS1.7.6.4.

Tha

[2020-04-02 17:38] daresh commented on #18411
It's not about search algorithm that much, it's more about sanitizing the string while indexing, you should focus on fixing sanitize function I think.

[2020-04-02 17:45] Kimcitaw commented on #18430
Host:  Dreamhost
 Server setup and configuration:
	Server information Linux #1 SMP Sat May 11 00:40:24 UTC 2019 x86_64
	Server software version: Apache
	PHP version: 7.2.24
	Memory limit: 90M
	Max execution time: 30
	Upload Max File size: 64M

PrestaShop version (source) 1.7.6.4  (Downloaded directly from the PS webpage)

Logs attached
[access.log](https://github.com/PrestaShop/PrestaShop/files/44

[2020-04-02 17:50] sam-pires commented on #18411
Thanks @khouloudbelguith!
Did you enable the Fuzzy search as well?

[2020-04-02 17:55] daresh commented on #18411
Please not that even with a new limit of 30 characters, a word quickbrownfoxjumpsoverthelazydog has 32 characters after it's sanitized, so it rather will be excluded from the search index. And if it's not in the index, no search algorithm will be able to find it.

[2020-04-03 00:15] msaustral opened #18448 "issue when double click on add to cart"
when the user double click on the add to cart button, it opens the modal summary, if you click on continue buying, the grey background remains and you can not navigate on the page.

![fondo](https://user-images.githubusercontent.com/46203943/78311305-d6bae100-7526-11ea-9e31-5bb562fa5a62.png)

* PrestaShop version: 1.7.6.4 Classic theme

[2020-04-03 01:04] msaustral opened #18449 "Remove Free Shipping on (modal, total and sub total carts)"
When a use gets in for first time to the store an has no login (navigate as a guess) and add to the carta product, on the summary modal say free shipping.

The use have not type where he is or where to ship the product, it should not say free shipping would be better to say "to be quote"?

So we suggest this changes:

1. on themes/classic/modules/ps_shoppingcart/modal.tpl    line 60

<p><span>{l s

[2020-04-03 07:13] khouloudbelguith commented on #18448
Hi @msaustral,

We ara aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9634
So, I close it.
Thanks!

[2020-04-03 07:13] #18448 closed, assigned to nobody

[2020-04-03 07:13] khouloudbelguith commented on #18448
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9634

[2020-04-03 07:15] khouloudbelguith commented on #17815
Hi @simontingkamlee,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-03 07:15] #17815 closed, assigned to nobody

[2020-04-03 07:27] khouloudbelguith commented on #18449
Hi @msaustral,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13517 to fix the issue.
It is fixed in the next release PS1.7.7.0.
Your ticket is a duplicate of #10739
So, I close it.
Thanks !

[2020-04-03 07:27] #18449 closed, assigned to nobody

[2020-04-03 07:27] khouloudbelguith commented on #18449
Duplicate of #10739

[2020-04-03 07:39] toutantic opened #18450 "All modules Changelog are not displayed in the backoffice"
#### Describe the bug

In the modules updates screen admin/index.php/improve/modules/updates changelog are not displayed.

![changelog](https://user-images.githubusercontent.com/720961/78335515-094bf480-758e-11ea-8018-4e668de0f877.png)

#### Expected behavior

When there is a new version of a module the changelog MUST BE provided before the merchant decide to upgrade or not.

#### Additional infor

[2020-04-03 07:42] LouiseBonnard commented on #18411
@PrestaShop/prestashop-core-developers, can the sanitizing step of the product's description field be modified in order to avoid this issue?

[2020-04-03 07:56] PrestaShark commented on #14650
Friendly reminder ;)

RRP price would be very useful for marketing purposes.
https://user-images.githubusercontent.com/8243273/61285587-81387b80-a7c1-11e9-9e57-8bf718f74e35.png

Making discounts very effectively

[2020-04-03 07:57] khouloudbelguith commented on #18450
Hi @toutantic,

I have the same issue with PS1.7.5.2, PS1.7.6.4, and the branch 1.7.7.x.
Ping @eternoendless
Thanks!

[2020-04-03 08:27] khouloudbelguith commented on #18430
@Kimcitaw, about these errors
`[core:error] [pid 20948] [client 190.139.246.139:60848] End of script output before headers: index.php,`
=> I think it will come from timeout, it is a server issue.

Thanks to check with your host and feedback.

PS: in your access.log, I couldn't find any errors.

Thanks!

[2020-04-03 08:42] Progi1984 commented on #18412
Fixed by #18416

[2020-04-03 08:42] #18412 closed, assigned to NeOMakinG

[2020-04-03 08:47] Gipielle commented on #18412
Please stop develop this useless features and use the resources to solve the serious problems of prestashop, I think that no merchant is interested in this game within prestashop. Perhaps they would prefer concrete solutions to the specific prestashop problems.

[2020-04-03 08:54] MatShir commented on #14547
@seifygsm The feature seems relevant. I will join it to the epic which regroups ideas and bugs around the same problematics.

Also, we would like to have more information about your feature request even if it seems obvious just to be sure we have all the insight to make a decision.
Why is it important to have the name of the employee?
How does it influence your order management?
How are you going

[2020-04-03 09:14] Hlavtox commented on #16627
@prestascott

So, tell me, why we don't have this toggle anywhere in Prestashop?
**No toggle** in manufacturer admin - short description and long description.
**No toggle** in product admin - short description and long description.

I believe you that it actually is user convinient, but have in mind, that majority of Prestashop merchants are power users. We don't want to scroll two pages to save a

[2020-04-03 09:31] jolelievre commented on #18299
Yep, all good for me

[2020-04-03 09:34] jolelievre commented on #17847
This is such a pain to reopen this one each time 😅

[2020-04-03 09:37] marionf commented on #17847
Yes, it was to avoid to make an issue by page (such a pain also) :sweat_smile:

[2020-04-03 09:48] khouloudbelguith commented on #16634
@LouiseBonnard, Thanks :wink:
@kmorgen, so can I close the issue?

Thanks!

[2020-04-03 10:12] sowbiba commented on #18433
Hello @khouloudbelguith

It's not OK on PS1.7.6.4 on myside :thinking:

https://drive.google.com/file/d/1dfHVxFFq9Uxq-Ce622_r_SmwW4RzU_Oy/view

[2020-04-03 10:21] khouloudbelguith commented on #18433
Hi @sowbiba,

Following steps provided by @Robin-Fischer-PS, it is ok in my side with PS1.7.6.4
I attached a screen record
https://drive.google.com/file/d/1B3-r5fhcq8WQ8fkLd_nG5fyImy9viZa9/view?usp=sharing

But I think, your screen record,
 is related to another issue as reported here: https://github.com/PrestaShop/PrestaShop/issues/16937 and here: https://github.com/PrestaShop/PrestaShop/issues/1

[2020-04-03 10:36] sowbiba commented on #18433
Ok, I think I got it.

When the currency is the default one, when you edit prices, it's OK

When you use another currency, editing the prices (TTC or HT) makes the total wrong ;)

Thanks

[2020-04-03 11:07] kmorgen commented on #16634
@khouloudbelguith well, the issue is not really solved yet.
Though, I manage to get the site to work again by manually changing database locale to nb-NO, it will change back to no-no when editing Languages (since no-no is the default setting) and the site will then not work again.

Since only related to this language and happened after the update, something is causing this.

[2020-04-03 11:20] khouloudbelguith commented on #9845
Hi @marionf,

In the new migrated page, all fields are required.
![image](https://user-images.githubusercontent.com/16067358/78355146-863a9680-75ad-11ea-9fa5-1e436e089d38.png)

Same behavior with 1.7.7.x
![image](https://user-images.githubusercontent.com/16067358/78355233-a8ccaf80-75ad-11ea-80a9-82847232406c.png)

This behavior doesn' exist in the new Addresses page, The fields in the BO address f

[2020-04-03 11:20] #9845 closed, assigned to nobody

[2020-04-03 11:33] khouloudbelguith commented on #16634
@kmorgen, but I cannot reproduce the issue with all information provided as reported previously.
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2020-04-03 11:47] Progi1984 commented on #14429
Fixed by PrestaShop/psgdpr#64

[2020-04-03 11:47] #14429 closed, assigned to Quetzacoalt91, Darmona

[2020-04-03 12:55] januszszymanski opened #18455 "Checkout process stops after payment"
I get an error 500 when trying to approve a payment.

![Screenshot from 2020-04-03 14-41-46](https://user-images.githubusercontent.com/28387074/78361908-74f78700-75b9-11ea-9680-f06055f3bc59.png)

Logs:
[code]

If i replace in `/var/www/page/classes/order/OrderPayment.php`
[code]
to
[code]
checkout starts to work "correctly" (Both items(id_currency and amount) need to be changed from true to false)

[2020-04-03 12:57] kmorgen commented on #16634
@khouloudbelguith Yeah, it is weird. Hereby the log file
[log.txt](https://github.com/PrestaShop/PrestaShop/files/4427324/log.txt)

[2020-04-03 13:34] khouloudbelguith commented on #18455
Hi @spink90,

Did you use a custom payment module? what is this exact module?
Does this issue occur with other payments module provided by PrestaShop?

PrestaShop has a debug mode, which can be used to see the non-obvious errors on your shop.
To turn on the Debug mode on PrestaShop 1.7, follow these steps:

1. Got to Advanced Parameters > Performance
2. In the Debug Mode section, set “Debug Mode”

[2020-04-03 13:37] mohammed-alsiddeeq opened #18458 "Suppliers & Brands names are not multilingual"
I see that the suppliers and the brands names are not multilingual
I am more than ready to help make any pull request if needed

[2020-04-03 14:04] matks commented on #18458
Hi @mosid thank you for offering help !

By "translatable" you mean "being able to define a name for each enabled language ?

We already considered this idea, but it creates a lot of issues for people upgrading their shops.

Let's say we introduce this change for PS 1.7.8.0 If we introduce translatable supplier names, it works well for people who create a new 1.7.8 shop and setup their database fo

[2020-04-03 14:13] khouloudbelguith commented on #18458
Hi @mosid,

Thanks for your report.
I have the same issue with PS1.7.5.2, PS1.7.6.4, and the branch 1.7.7.x.
![image](https://user-images.githubusercontent.com/16067358/78369586-b42bd500-75c5-11ea-91f5-1b0effd7baa6.png)
![image](https://user-images.githubusercontent.com/16067358/78369606-bee66a00-75c5-11ea-9e83-ee86ee8bc50e.png)

@matks, we have an issue similar but in the carriers page:
https://g

[2020-04-03 14:23] bm-services commented on #15921
I think pages with "q=" parameter must have a meta robots with "noindex,follow" but it's not in 1.7.6.2.

We have a website with a lot of categories, products and a very huge number of pages with ps_facetedsearch. This website overloaded his server because of Aspiegel bot indexation. We think it's because this bot don't use attribute "rel=nofollow" on html links.

[2020-04-03 15:15] khouloudbelguith opened #18460 "FO - Exception in the Brand page, the prices-drop, new-products, best-sales page"
#### Describe the bug

When the debug mode is enabled, In the FO => Brands => specific brand page => an exception is displayed

it is ok with PS1.7.7.x, PS1.7.6.4
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable debug mode
2. In the BO => Shop Parameters => General page
3. Enable "Display brands"
4. Go to FO => Sitemap => Brands page
5. Click on any Brand to see the list of pro

[2020-04-03 15:27] marionf opened #18461 "As a merchant when I change tab in product page, I want data to be automatically saved"
#### Is your feature request related to a problem?

On legacy product page, when you fill data in many tabs and then save, this could be a problem if there are error messages because we can't display them all.
https://drive.google.com/file/d/1VdP1NzghtbCaGqT63wpF6lqtNnaGSsKk/view?usp=sharing

#### Describe the solution you'd like

When we detect a click on another tab, we trigger the save. If it w

[2020-04-03 15:34] marionf opened #18462 "As a merchant when I navigate between combinations in product page, I want data to be automatically saved"
#### Is your feature request related to a problem?

On legacy product page, when you navigate between combinations and then save, this could be a problem if there are error messages because we can't display them all.

#### Describe the solution you'd like

When we detect a click on "previous combination" or "next combination" button, we trigger the save. If it works, we display the next or previou

[2020-04-03 15:38] marionf commented on #18462
ping @LouiseBonnard for the wording

[2020-04-03 15:38] marionf commented on #18461
ping @LouiseBonnard for the wording

[2020-04-03 15:39] marionf commented on #16102
ping @LouiseBonnard for the wording

[2020-04-03 15:56] khouloudbelguith opened #18463 "FO - `ps_brandlist` module - The title link for the Brands is not working when "Display brands" is enabled"
#### Describe the bug

When the `ps_brandlist` module is installed and the option "Display brands" is enabled, in the FO => Categories page => the title link for the Brands is not working.
It is working only when the "Display suppliers" option is enabled **and** "Display brands" is enabled.
PR related: https://github.com/PrestaShop/PrestaShop/pull/14665

#### Expected behavior

The title should be

[2020-04-03 16:04] khouloudbelguith commented on #16634
@kmorgen,

In your log file
`All files upgraded.`
`Database upgrade OK`
`Addons modules files have been upgraded.`

There is no problem during the upgrade.
Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers sugg

[2020-04-03 16:58] omar2886 commented on #14547
_It's important to well control who added which payment as any employé can do it by mistake or not. If the wrong amount or a non existing payment is added, the employé must be accountable for it, otherwise the company has absolutely no control on the real incomes._

On e-commerce and any kind of company, the most basic thing is to have control of the income and expenses, so you need to know who, w

[2020-04-04 01:10] RSC-SC commented on #10894
53/5000
sorry, can you help me, i have the same error:
Symfony\Component\Debug\Exception\UndefinedMethodException: "Attempted to call an undefined method named "autoExecute" of class "DbPDO"

[2020-04-04 06:15] rawan321 opened #18466 "unable to upload product image in PrestaShop"
im not able to choose or drop a pic from anywhere for my product image.
im using prestashop_1.7.4.4
its not clickable.
any one have an idea?
![Untitled](https://user-images.githubusercontent.com/63139645/78420084-89d52880-7654-11ea-931a-573d99e05044.png)

[2020-04-04 14:59] vRUlf opened #18467 "Try to open a customer in the backend and get 500 Internal Server error"
#### Describe the bug

When I try to open the customer data in backend I get an Error 500.
Switched on the Debug Mode it gives me

public function getPriceSpecification($currencyCode)    {        $currencyCode = (string) $currencyCode;        $priceSpec = $this->priceSpecifications->get($currencyCode);        if (null === $priceSpec) {            throw new LocalizationException(                'Pr

[2020-04-04 19:50] Bugfunder commented on #9795
It is probably not fixed yet because it is quite easy to fix the front part (as mentioned earlier):

======================
diff modules/ps_linklist/src/LegacyLinkBlockRepository.php modules/ps_linklist/src/LegacyLinkBlockRepository.php.orig
74,75c74
<                     JOIN {$this->db_prefix}link_block_shop lbs on cb.`id_link_block`=lbs.`id_link_block`
<                     WHERE `id_hook` = $i

[2020-04-04 20:41] jevarg opened #18469 "Error when accessing connected users stats w/ maintenance mode and IPv6 whitelisted addresses"
#### Describe the bug

When a user has a whitelisted **IPv6** address in the maintenance mode, there is an exception thrown in **statslive** module when trying to access number of users online (both customers and visitors).

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

In order to see the actual error I suggest you

[2020-04-04 20:43] jevarg commented on #18469
Forgot to mention, I have made a quick PR
https://github.com/PrestaShop/statslive/pull/11

[2020-04-05 00:54] mickaelandrieu commented on #14968
Once you get a Symfony Catalogue, your only job is to use [XliffFileDumper](https://github.com/symfony/symfony/blob/3.4/src/Symfony/Component/Translation/Dumper/XliffFileDumper.php) (easy) and create one for the Legacy format (less easy as it is really bad and undocumented code).

[2020-04-05 07:32] vRUlf commented on #18467
Hi, problem is solved. I had a look at all orders made by the customers which are concerned and all orders hadn´t set id_currency = 1. I think thats new to Prestashop 1.7.6.4 because in 1.7.5.0. this made no trouble when the id_currency was not set. A modul I use for the import of old orders from my Magento Shop system does not set this id.

[2020-04-05 07:32] #18467 closed, assigned to nobody

[2020-04-05 08:32] ninab20 opened #18471 "Error loading Modules page"
#### Describe the bug

Hello, I am getting the following error when trying to access my Modules page in the back office:
Fatal error in module Module.php(1224) : eval()'d
Redefinition of parameter $id_shop

I believe my hosting provider may have recently updated php to 7.0

#### Additional information

* PrestaShop version: 1.6.0.9
* PHP version: 7.0.33

[2020-04-05 12:56] sextoysunivers opened #18472 "Sub-categories not diplayed in 1.6.1.24"
#### Describe the bug

Hi,

The sub categories are not displayed anymore in any page or in the menu top bar.

There are in the back office of prestashop. I've reiniated the categories module, empty cache, compiled has but nothing changed.

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to rep

[2020-04-05 13:11] sextoysunivers commented on #18472
I forgoto mention that I'm in multishop and the problem is just for one boutique

[2020-04-05 13:23] #18472 closed

[2020-04-05 13:23] sextoysunivers commented on #18472
Sorry now is okey, was a configuration problem

[2020-04-05 16:30] Lassa1 commented on #9866
Hello Sanctusmob,
Thank you for your reply, and what is the next step for this issue ?

Thank you in advance for help

[2020-04-05 17:58] sanctusmob commented on #9866
I haven't figured out.
Its supposed id cart to be unset when the order is place? (i haven't find any code for this)

Is obvious that is checking if an order have been placed with cookies id cart.

[2020-04-05 21:59] Hlavtox commented on #14714
@prestascott Couldn't you push this through? I think I am not alone, facing this issue... 🍺

[2020-04-06 05:41] margud opened #18473 "Payment fees"
#### Is your feature request related to a problem?

More and more merchants want to add payment fees for their payment methods but now it's really hard to do it even with modules. We need to do all kinds of workarounds for it to work.

#### Describe the solution you'd like

We want PrestaShop to add an option for the payment method to have fees just like carriers do.
The fee should be displayed ne

[2020-04-06 07:28] alex4102 commented on #9795
Hello, this is just for frontend, we need fix because lot of people use the back-office.

[2020-04-06 07:46] lukaslau opened #18474 "Discount code is applied on products with specific price when cart rule reduction_exclude_special = 1"
Discount code is applied to products with specific price when cart rule setting reduction_exclude_special = 1 and reduction_product = -2.

Steps to reproduce:
1. Add specific price to product;
2. Create cart rule, select products for cart rule one with specific price and one without;
3. Select that cart rule is only applied to selected products (reduction_product = -2) and exclude products with sp

[2020-04-06 07:49] khouloudbelguith commented on #17984
Hi @gacalixto,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-06 07:49] #17984 closed, assigned to nobody

[2020-04-06 07:52] khouloudbelguith commented on #18466
Hi @rawan321,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/

[2020-04-06 08:03] khouloudbelguith commented on #18471
Hi @ninab20,

I did not manage to reproduce the issue with PS1.7.6.4 and PS1.6.1.24.
I attached a screen record
https://drive.google.com/file/d/1VgDkTHInEGBR_MAJ0GzTUYPhM46FPitD/view?usp=sharing
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-

[2020-04-06 08:03] #18471 closed, assigned to nobody

[2020-04-06 08:11] #18474 closed, assigned to nobody

[2020-04-06 08:12] zapper commented on #18474
I see this bug is fixed in src/Core/Cart/CartRuleCalculator.php

[2020-04-06 08:20] khouloudbelguith commented on #18474
Hi @zapper,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13704 to fix the issue.
Your ticket is a duplicate of #10300
Thanks!

[2020-04-06 08:20] khouloudbelguith commented on #18474
Duplicate of #10300

[2020-04-06 08:24] khouloudbelguith commented on #10894
Hi @RSC-SC,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-04-06 08:31] khouloudbelguith commented on #18473
Hi @margud,

Your ticket is a duplicate of #13170
So, I close it.
Thanks!

[2020-04-06 08:31] #18473 closed, assigned to nobody

[2020-04-06 08:31] khouloudbelguith commented on #18473
Duplicate of #13170

[2020-04-06 09:47] MatShir commented on #14547
@omar2886 It seems, your suggestion was not published correctly on Github.

[2020-04-06 09:50] omar2886 commented on #14547
answered between lines, I made it more clear.

[2020-04-06 09:58] LouiseBonnard commented on #18458
Hello ! Following what @matks said, I put this issue in the Next Major repository so that it can be studied as soon as a new major version is on its way. ;-)

[2020-04-06 10:13] LouiseBonnard commented on #18462
I don't know it the word 'update' is relevant, you do not really update when you fill a field for the first time. So I'd rather write:

**1. for the success notification**

_Settings successfully saved_
in _Admin.Notifications.Success_

**2. for the error notification**

_Settings cannot be saved, update invalid fields to continue_
in _Admin.Notifications.Error_

or we can keep it short with _Sett

[2020-04-06 10:25] khouloudbelguith opened #18478 "BO - Orders page - Products are not displayed when we click on the "Partial refund" button"
#### Describe the bug

If I open the order on the migrated page and use a partial refund, the list of products is empty.

It is ok in the branch 177x

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Orders page
2. Click on View order
3. Make sure status is payment accepted.
4. Click partial refund
5. See error

**Screenshots**

![image](https://user-images.githubuserconte

[2020-04-06 10:25] khouloudbelguith commented on #18478
Ping @boubkerbribri

[2020-04-06 10:26] MatShir commented on #14547
Thank you @omar2886 for your feedack. It is shared to the product team.

[2020-04-06 10:42] Bugfunder commented on #9795
I agree absolutely that this should be fixed officially. I just wanted to post a fix for the people who can not/will not wait till that happens. Those can still use the back office (admin interface) to create link lists, and then specify for which shops they are in the link_block_shop table in the DB.

[2020-04-06 11:08] jevarg commented on #18469
Hi @khouloudbelguith
My issue is not about maintenance mode supporting ipv6 whitelist.

Whether or not ipv6 maintenance whitelist works, I think the intended behavior is not to have an exception thrown when trying to access **statslive**.
As you can see in my PR: https://github.com/PrestaShop/statslive/pull/11 this is just a quick fix to ignore whitelisted ipv6 in statslive and not about ipv6 bein

[2020-04-06 11:20] sarahdib opened #18479 "BO - search product in add product in orders didn't display properly"
#### Describe the bug

When I search a product in an order the dropdown isn't display properly in a 13" screen

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO, create an order.
2. Go to BO, to the created order, click on "Add a product" button
3. Search "mug"
4. See the error

**Screenshots**
<img width="

[2020-04-06 12:03] #18479 closed, assigned to nobody

[2020-04-06 12:43] colinegin commented on #18379
ping @MatShir, i let you check @Hlavtox's comment and see if you need to update specs

[2020-04-06 12:48] colinegin commented on #9893
Hello @khouloudbelguith , do you reproduce this issue on 1.7.7.x branch ?
Since this issue https://github.com/PrestaShop/PrestaShop/issues/12590 has been fixed, i was wondering if this issue could have been fixed too.

Thanks !

[2020-04-06 13:00] jaxtheking commented on #18431
This message with the same exact id (26233) showed up in my logs.
We had never seen it before upgrading to 1.7.6.4.
Furthermore, in Advanced Parameters > Logs this error was associated with one of my admin users, who would've hardly been installing a module or transplanting a hook...

[2020-04-06 13:31] marionf commented on #18462
Thank you @LouiseBonnard :)

[2020-04-06 13:45] SD1982 opened #18480 "BO - drop-down list filter doesn't work totally as expected"
#### Describe the bug

This behavior was observed on all drop-downs of migrated page filters

In the list filters when using the drop-down lists the selection of the empty item brings back to the last selection used

#### Expected behavior

The empty item in the drop-down list should bring up all the items in the list

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO on a mig

[2020-04-06 13:52] Progi1984 commented on #18218
Fixed by #18228

[2020-04-06 13:52] #18218 closed, assigned to jolelievre

[2020-04-06 13:52] Progi1984 commented on #18271
Fixed by #18228

[2020-04-06 13:52] #18271 closed, assigned to jolelievre

[2020-04-06 14:31] atomiix commented on #18450
Hi,

After investigation, here is how this page works:

We call api-addons.prestashop.com with `method=listing` and `action=`

* must-have
* service
* native
* native (with `&iso_code=all`)
* customer (if the BO is connected to addons)

We then iterate on modules installed on the shop and map the api informations with those modules but none of those API calls return the key `changeLog` needed to s

[2020-04-06 16:27] khouloudbelguith commented on #9893
Hi @colinegin,

There is a difference between #9893 and #9762
In the other issue: #9762, in the BO => International => Translations page => we can translate **Menu** within `"Admin.Navigation.Menu"`.
![image](https://user-images.githubusercontent.com/16067358/78580960-7e8c2380-7833-11ea-8d05-b84f9f099f8e.png)
In this issue, the `Stocks` and `Link Widget` **Menu** expressions do not exist in within

[2020-04-06 16:30] khouloudbelguith commented on #18469
@jevarg, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.2, PS1.7.6.4 and `statslive` module v2.0.2.
![image](https://user-images.githubusercontent.com/16067358/78581765-9912cc80-7834-11ea-9956-00d91031dca4.png)
I’ll add this to the debug roadmap.

Thanks!

[2020-04-06 16:31] eggfriedrice opened #18481 "VAT validation fails with Spanish VAT numbers"
#### Describe the bug

A Spanish customer found they couldn't submit their VAT number, the site kept returning "VAT validation service unavailable". I found a working solution in the forums that I think should be merged into the module.

#### Expected behavior

Validation should pass for Spanish VAT numbers.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install https://github.com/

[2020-04-06 16:32] pantagru opened #18482 "Cart Rules: Checkout error with free shipping and carrier selection restriction"
#### Describe the bug

I have many manufacturers, each one with his own carriers.
I need to add a cart rule with free shipping for one specific carrier in a specific zone for a period.
I create a rule. I assign name and promo code. Under restriction I set only one zone (Nation), and only one carrier. Under actions I set free shipping.
When in FO I insert the code in the checkout (after the right c

[2020-04-06 16:36] khouloudbelguith commented on #18481
Hi @eggfriedrice,

The VATNumber native module in 1.7 is not released because it doesn't work.
We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9884
So, I close it.
Thanks!

[2020-04-06 16:36] #18481 closed, assigned to nobody

[2020-04-06 16:37] khouloudbelguith commented on #18481
Duplicate of #9884

[2020-04-06 17:00] miraago opened #18483 "error 500 at the conclusion of the order"
**Error 500 when the customer confirms an order.**
The order notification email does not reach the customer or the seller
in the Back Office the order is reported.

subject to use prestashop version 1.7.3

the customer will see an error 500 at this address https://www.mysite.it/module/ps_wirepayment/validation

if I set the site in debug mode, this error will come out at the conclusion of the orde

[2020-04-06 17:19] khouloudbelguith commented on #18482
Hi @pantagru,

I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/1y1FgRW9bmQYcr0g3M-py4NoPfubIuAhi/view?usp=sharing

Thanks to check and feedback.

[2020-04-06 17:23] khouloudbelguith commented on #18483
Hi @miraago,

Have you any [override](https://github.com/PrestaShop/PrestaShop/tree/develop/override/classes) of the Class `cart.php`?
This issue occurs only when using the ps_wirepayment module?
Have you any custom modules related to the checkout page?

Thanks!

[2020-04-06 17:31] khouloudbelguith commented on #18480
Hi @SD1982,

I have the same issue with PS1.7.7.x for example `Orders` page
Same issue with PS1.7.6.4 for example `Categories` page
Same issue with PS1.7.5.2 for example `E-mail` page

In the legacy pages => OK.
So it is a regression in all migrated pages.

Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-04-06 18:04] miraago commented on #18483
Hi @khouloudbelguith
Thanks for the reply.

_Have you any override of the Class cart.php? ---_ I have not made any changes, I think not !!!

_This issue occurs only when using the ps_wirepayment module?_ --- The error occurs with any payment form.

_Have you any custom modules related to the checkout page?_ ---   No, no custom forms.

[2020-04-06 23:42] robrothkopf commented on #10908
On the back end (e.g. phpMyAdmin), you know the query works because you've tested it, ya?  But that identical query gives this error when trying to save on PrestaShop's SQL Manager?

WORKAROUND:
Create a view via phpMyAdmin, and then in PrestaShop's SQL Manager, select the data from the view instead of the query.

e.g.
If your query was:
`select * from MYTABLE`

create a view from that query as fo

[2020-04-07 00:22] Naprosnia commented on #9603
Thank you very much. You save my work!

[2020-04-07 00:42] Naprosnia commented on #10162
Hello i made this js code to fix this bug on my shop. Simply past it at the end of-> /themes/YOURTHEME/assets/js/custom.js. Enter your shop and refresh your browser (ctrl + f5) to clean old cached js file.

[code]

[2020-04-07 07:46] khouloudbelguith commented on #18043
Hi @dinospla,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-07 07:46] #18043 closed, assigned to nobody

[2020-04-07 07:46] cryptolikely opened #18484 "Sitemap generator issue on image files"
Hello! I found one small bug on last addon gsitemap. I'm trying to generate sitemap 30k products. On links .. everything works.. but when i check "Check this box if you wish to check the presence of the image files on the server" .. I got gateway error. I mention.. I have this settings on php:

asp_tags = Off
display_errors = On
max_execution_time = 10000
max_input_time = 300
max_input_vars = 1000

[2020-04-07 07:49] khouloudbelguith commented on #18039
Hi @Alex-sp-es,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-04-07 07:49] #18039 closed, assigned to nobody

[2020-04-07 07:54] khouloudbelguith commented on #18484
Hi @zsocialmedia,

Here's the PR: https://github.com/PrestaShop/gsitemap/pull/127 to fix the issue.
Your ticket is a duplicate of #16991
So, I close it.
Thanks!

[2020-04-07 07:54] #18484 closed, assigned to nobody

[2020-04-07 07:54] khouloudbelguith commented on #18484
Duplicate of #16991

[2020-04-07 08:02] khouloudbelguith commented on #18483
@miraago, What is the exact version of the `ps_wirepayment` module did you use?
Could you please provide me the file log into `Project_Folder/var/logs/`.

Thanks!

[2020-04-07 08:07] zsocialmedia commented on #18484
@khouloudbelguith  is not the same issue. it's different issue. Module was fixed in previous ticket. for links but not for images.
Thank you

[2020-04-07 08:31] miraago commented on #18483
@khouloudbelguith thank

 _What is the exact version of the ps_wirepayment module did you use?_ --- v2.0.4
Could you please provide me the file log into Project_Folder/var/logs/.
[logs.zip](https://github.com/PrestaShop/PrestaShop/files/4442897/logs.zip) ---- see Attachment

[2020-04-07 08:33] khouloudbelguith commented on #18484
@zsocialmedia, you just said that you have 30k products and you have the gateway error.
The other issue is reproduced when we have >25000 products fail with a gateway.
YOu can check this comment also: https://github.com/PrestaShop/PrestaShop/issues/16988#issuecomment-509004256

Thanks!

[2020-04-07 08:59] ECC64 opened #18487 "No create a good Sitemap"
V 4.10 on PS 1.7.6.4, does not work at all, here is the CRON.PHP sitemap it creates:

<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"><sitemap><loc>https://popup-mode.com/1_fr_0_sitemap.xml</loc><lastmod>2020-03-27T02:30:03+01:00</lastmod></sitemap></sitemapindex>
That's all, No other file created.

If i launch in the generate link in the mo

[2020-04-07 09:01] LouiseBonnard commented on #18480
Hi @khouloudbelguith and @SD1982, indeed it must be corrected on all migrated grids. I add it to the 1.7.8 kanban! Work is being done to add a modal on migrated grids, cf. #17847, let's fix this issue in the meantime. :-)

[2020-04-07 09:09] matks commented on #17875
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18321

[2020-04-07 09:09] #17875 closed, assigned to matks

[2020-04-07 09:12] khouloudbelguith commented on #18487
Hi @ECC64,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrade your P

[2020-04-07 09:14] matks opened #18488 "Double payment created when order without invoice goes into "preparation""
## Describe the bug

Double payment created when order without invoice goes into "preparation"

#### Expected behavior

Only 1 payment

#### Steps to Reproduce

1. Create an order
2. Complete it, pay it
3. Don't generate invoice
4. Change order state to Preparation (previously configured with paid = true, delivery = true, invoice = false)
5. Double payment is automatically created.

#### Additiona

[2020-04-07 09:15] matks commented on #18488
Reported by @erouvier29

[2020-04-07 09:19] glegarand opened #18489 "Module upgrade files with spaces are interpreted"
#### Describe the bug

When a module upgrade file contains a space, it is interpreted in the upgrade process.
Ex: upgrade-2.1.0 .php (space before .php) + upgrade-2.1.0.php
Both files are interpreted

#### Expected behavior

Files that don't match the upgrade file pattern strictly shouldn't be interpreted.

#### Steps to Reproduce

1. Increment the version number of your module
2. Create an accord

[2020-04-07 09:28] pantagru commented on #18482
Hi,
could you please tell me how is your getTotalShippingCost function in class cart.php from line 3138?

[2020-04-07 09:42] marionf commented on #10583
Can we close this issue ?

[2020-04-07 09:43] ECC64 commented on #18487
Hello,
Thank you for your speed answer, but i change the PHP version to 7.2 and the problem is same.
When i click in the module on éGenerate Sitemap" the file is good, but if i launch le CRON.PHP, the file is broken.
Best regards
Patrick

[2020-04-07 09:48] khouloudbelguith commented on #18487
@ECC64, I think, it is similar to your issue: https://github.com/PrestaShop/PrestaShop/issues/17173#issuecomment-581909481 which fixed in this PR: https://github.com/PrestaShop/gsitemap/pull/127/files

Thanks to check and feedback.

[2020-04-07 09:48] Progi1984 commented on #18413
Fixed by #PrestaShop/ps_wirepayment#21

[2020-04-07 09:48] #18413 closed, assigned to nobody

[2020-04-07 09:49] colinegin commented on #9893
The following PR : https://github.com/PrestaShop/PrestaShop/pull/18082 is supposed to make it possible to translate all elements available in the BO menu.
@eternoendless do you confirm this will also be able to translate stock and link widget in the menu ?

[2020-04-07 09:50] khouloudbelguith commented on #18488
Hi @matks,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12588
A similar previous reported in the forge: http://forge.prestashop.com/browse/BOOM-4196
So, I close it.
Thanks!

[2020-04-07 09:50] #18488 closed, assigned to nobody

[2020-04-07 09:50] khouloudbelguith commented on #18488
Duplicate of #12588

[2020-04-07 09:51] khouloudbelguith commented on #12588
Should be fixed by https://github.com/PrestaShop/PrestaShop/pull/18468
Ping @matks @erouvier29

Thanks!

[2020-04-07 09:54] khouloudbelguith commented on #18489
Hi @glegarand,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrade yo

[2020-04-07 09:57] ECC64 commented on #18487
Hello,
It is the same thing.
The problem is with GSITEMAP_CRON, and the error of Chrome is : HTTP Error 500
Best regards
Patrick

[2020-04-07 10:00] Progi1984 commented on #18431
@sarahdib @khouloudbelguith I didn't reproduce any of your behaviors. Can I have a sample video ?

[2020-04-07 10:06] khouloudbelguith commented on #18487
@ECC64,

Here's the PR: https://github.com/PrestaShop/gsitemap/pull/127 to fix the issue.
Your ticket is a duplicate of #16991
So, I close it.
Thanks!

[2020-04-07 10:06] #18487 closed, assigned to nobody

[2020-04-07 10:06] khouloudbelguith commented on #18487
Duplicate of #16991

[2020-04-07 10:19] glegarand commented on #18489
The problem is not related to PHP 7.3.
I guess that in the classes/module/Module.php class, in the loadUpgradeVersionList() method, it would be best to use the glob() function with an appropriate file mask instead of using scandir(). You would then make sure that only the files with the right names are processed, not the ones with wrong names.

[2020-04-07 10:42] icemansparks commented on #18042
Finally found the culprit module. The Tools.php was apparently added by some kind of outdated HTMLBox module which was already not included in the shop anymore, but somehow removing the module did not remove the tools file at the time. Manually checking everything revealed that i can delete the file for good now...

Thank you so much for your help!

[2020-04-07 10:42] #18042 closed, assigned to nobody

[2020-04-07 10:46] sarahdib commented on #18281
@mircobabini

The voucher appear in the stats only if the order is validated.
When the status is waiting for payement the voucher doesn't appear.

You want that the voucher appear even if the status is waiting for payement ?

[2020-04-07 10:49] khouloudbelguith commented on #9586
Hi @colinegin,

So to conclude in this issue we have 3 points
- A major issue is fixed in the 177x branch (reproduced in the 1752 and PS1764)

In the **BO**:

In the **FO**:

![image](https://user-images.githubusercontent.com/16067358/78658242-3835d380-78ca-11ea-8b93-d17000dd64fb.png)
**Fixed in the branch 177x**
![image](https://user-images.githubusercontent.com/16067358/78658335-569bcf00-78ca-11

[2020-04-07 10:51] khouloudbelguith commented on #18042
Hi @icemansparks,

Thanks for your feedback.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-04-07 10:56] khouloudbelguith commented on #18482
@pantagru, you can check the file [here](https://github.com/PrestaShop/PrestaShop/blob/1.7.6.4/classes/Cart.php).

Thanks!

[2020-04-07 11:00] skillfulconcept commented on #13386
Team, this issue has not been resolved in Prestashop 1.7.6.4. Please reopen this ticket

[2020-04-07 11:03] khouloudbelguith commented on #13386
Hi @skillfulconcept
This issue is fixed in the next major version PS1.7.7.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/16550 to fix the issue.

Thanks!

[2020-04-07 11:06] khouloudbelguith commented on #18483
@miraago,

So, this issue is not related to the `ps_wirepayment` module.
Could you please check again if you have any **override/file** in this path
`/Project_Folder/override/classes/` or into the path `/Project_Folderoverride/classes/checkout`

Thanks!

[2020-04-07 11:19] ets-soft opened #18492 "Product images are missing if enable www."
#### Describe the bug

all product images are missing if you enable www to your shop domain in shop url configuration

#### Expected behavior

All product images should display on the FO when www is added to shop domain url

#### Steps to Reproduce

Steps to reproduce the behavior:

add "www." to your shop domain configuration then reload FO, all product images are missing.

#### Additional inform

[2020-04-07 11:25] khouloudbelguith commented on #18492
Hi @ets-soft,

could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks!

[2020-04-07 11:28] jolelievre commented on #18431
Maybe it comes from a module, having the complete list of installed modules might be useful for you @Progi1984 To make sure you have the same context

[2020-04-07 11:30] jolelievre commented on #18299
@colinegin I added one test to your list in the PR description:
`- edit the rewriting part in BO and refresh the product page -> you should be redirected to the same combination with new rewriting`

Maybe this should be added to the specs?

[2020-04-07 11:48] Progi1984 commented on #18431
@jolelievre Actually, i'm on a fresh install. May be you have another plugins @sarahdib / @khouloudbelguith ?

[2020-04-07 11:52] ghost opened #18494 "Broken link favicon generator"
#### Describe the bug

Link to generate favicon is broken

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to theme
2. Click on the link
![Capture d’écran de 2020-04-07 13-48-19](https://user-images.githubusercontent.com/5064590/78665729-894bc480-78d6-11ea-847b-144b27ed81e3.png)

I can do a PR but I need to know if the generator exists on another url or if I replace with another u

[2020-04-07 11:52] khouloudbelguith commented on #18431
Hi @Progi1984, @sarahdib,

As I said previously, this issue was reproduced only with one shops in 1764, other shops 1764 => OK
Today, I tried again with 176x branch => OK => no errors
https://drive.google.com/file/d/15ztRhpSuCvNhxRuyJjd783eP-me2Zynm/view?usp=sharing

Ping @sarahdib
Thanks!

[2020-04-07 11:56] okom3pom commented on #18494
https://github.com/PrestaShop/PrestaShop/blob/7633be8294d90148d2bdfe3fd1c2d403e72ec91b/src/PrestaShopBundle/Resources/views/Admin/Improve/Design/Theme/Blocks/logo_configuration.html.twig#L147

[2020-04-07 12:01] khouloudbelguith commented on #18494
Hi @okom3pom,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.4 and PS1.7.5.2
When I click on the link `favicon generator on PrestaShop Marketplace`
![image](https://user-images.githubusercontent.com/16067358/78666759-1ba09800-78d8-11ea-8c3b-92f657acb836.png)

=> redirection
![image](https://user-images.githubusercontent.com/16067358/78666837-3ecb4780-78d8-11ea-87c4-57fb016ed

[2020-04-07 12:02] Progi1984 commented on #14328
Fixed by PrestaShop/dashproducts#20

[2020-04-07 12:02] #14328 closed, assigned to nobody

[2020-04-07 12:24] mircobabini commented on #18281
@sarahdib thanks for the answer. Please, check [this pull request I made](https://github.com/PrestaShop/statsbestvouchers/pull/3/commits/91023cab605218e4769257cd4e377805d46df8e5).

I'm talking about the query. That query get only results with an o.invoice_date. But sometimes (when invoices are deactivated) the o.invoice_date in NOT set. That's why you should change that query using o.date_add inst

[2020-04-07 12:26] miraago commented on #18483
@khouloudbelguith thank
I don't know how to override it, attached the whole classes folder of the path /Project_Folder/override/

[classes.zip](https://github.com/PrestaShop/PrestaShop/files/4444181/classes.zip)

[2020-04-07 12:27] okom3pom commented on #18494
The url is https://addons.prestashop.com/create-favicon.php?pab=1

I need to know if the generator exists on another url or if I replace with another url or i just remove the url  before make a PR

[2020-04-07 12:30] arie78 opened #18495 "problem with photos in products"
I have a problem with photos in the products category.  When i make a new product, and put photos and safe it i cant see the photos in my webshop.

[2020-04-07 12:34] #18495 closed, assigned to nobody

[2020-04-07 12:38] arie78 opened #18496 "Bug in place photos in Products"
#### Describe the bug

I have a problem with photos in the products category. When i make a new product, and put photos and safe it i cant see the photos in my webshop.

#### Expected behavior

When I place a photo, it is not visible in the webshop after publication. I tried some X to post a product but to no avail without photos

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to

[2020-04-07 13:04] viosan opened #18497 "error 500"
Hi, at the end of January I installed the "1-Click Upgrade" module, trying to go from v 1.7.5.0 to v 1.7.6.0. As you know, the modullo creates a backup, which I find on the server:
https://www.screencast.com/t/mHKMaFKe8o
https://www.screencast.com/t/R0HRnUvkKf
In these days I tried to go back to the old version, from v 1.7.5.6 to 1.7.5.0 through this module, but when I did it everything was blocke

[2020-04-07 13:10] khouloudbelguith commented on #18494
Ping @PrestaShop/prestashop-product-team @PrestaShop/prestashop-core-developers what do you think, it is related to PrestaShop Core or it is related to addons issue?

Thanks!

[2020-04-07 13:20] khouloudbelguith commented on #18494
Hi @okom3pom,

Issue fixed.
https://drive.google.com/file/d/1r-lQ5DH8Bj8ckCgPU0BsSMlZahNkPfmv/view?usp=sharing
Thanks!

[2020-04-07 13:20] #18494 closed, assigned to nobody

[2020-04-07 13:21] khouloudbelguith commented on #18483
@miraago, yes as expected, you have an override of the class `cart.php`.
[Cart.php.txt](https://github.com/PrestaShop/PrestaShop/files/4444511/Cart.php.txt)
This is the whole issue: you need to check this override is provided by which module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, the

[2020-04-07 13:21] #18483 closed, assigned to nobody

[2020-04-07 13:23] SD1982 opened #18498 "BO-Exception when deleting discount in order view"
#### Describe the bug

An exception is displayed when adding 2 discount and deleting them and also if we go back to the order view the discount are deleted but one of them are still displayed

#### Expected behavior

no exception should be displayed when deleting a discount

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => orders => orders detail
2. Add a discount (ex : 5%

[2020-04-07 13:41] okom3pom commented on #18494
Nice job !

[2020-04-07 13:41] Progi1984 commented on #18379
Ping @PrestaShop/prestashop-product-team

[2020-04-07 13:42] okom3pom commented on #18494
Arf j'avais un PR facile :)

[2020-04-07 13:45] matks commented on #18494
Une PR pour corriger addons.prestashop.com ? 😄j'ai loupé un truc ?

[2020-04-07 13:45] okom3pom commented on #18494
Je voulais virer le lien cassé ( joke )

[2020-04-07 13:45] okom3pom commented on #18494
Mais il est réparé du coup ...

[2020-04-07 13:54] matks commented on #18494
(j'ai viré mon message quand j'ai compris)

Next time ! 😄

Si tu veux des PRs faciles il est possible d'améliorer le code en corrigeant/rajoutant la phpDoc comme dans https://github.com/PrestaShop/PrestaShop/pull/18259 ou https://github.com/PrestaShop/PrestaShop/pull/18185

[2020-04-07 13:54] Progi1984 commented on #13880
Fixed by #18205 & #18204

[2020-04-07 13:54] #13880 closed, assigned to Progi1984

[2020-04-07 13:57] jolelievre commented on #17661
@khouloudbelguith I think this one is not only related but seems like a duplicate of https://github.com/PrestaShop/PrestaShop/issues/15934
Which has been fixed by this PR in 1.7.7 https://github.com/PrestaShop/PrestaShop/pull/16287/files

[2020-04-07 13:59] toutantic opened #18499 "Theme installation error during silent installation"
#### Describe the bug

Silent installation fail when using the option --theme

#### Expected behavior

The installation succeed and the selected theme is activated

#### Steps to Reproduce
1 set-up a proper environment to install PrestaShop (mysql, apache,...)
2 unzip prestashop 1.7.6.4
3 unzip [classic-rocket](https://github.com/PrestaShop/classic-rocket/releases)  into themes/classic-rocket
4 la

[2020-04-07 14:02] pantagru commented on #18482
Hi, my PrestaShop version is not 1.7.6.4, but 1.7.2.4.
Can you try to reproduce the issue with my version 1.7.2.4?
I checked and your card.php version for 1.7.2.4 is the same of mine.
Thank you

[2020-04-07 14:02] miraago commented on #18483
@khouloudbelguith thank

sorry,
if i disable all modules that are not prestashop should it work?

[2020-04-07 14:11] khouloudbelguith commented on #17661
Hi @jolelievre,

No, this issue is not fixed in the PS1.7.7.
I can reproduce the issue with 177x branch
https://drive.google.com/file/d/132ouko0vHbDeP1ro0KL902C0-DRS-86X/view?usp=sharing
Following these steps

1. Go to Internationalisation > Localization > Currencies
2. Add a new currency (for example USD)
3. Go back to the currencies list and delete the newly created currency
4. Download the "add

[2020-04-07 14:12] khouloudbelguith commented on #18483
@miraago,

Did you disabled those modules from the BO => Performance page
![image](https://user-images.githubusercontent.com/16067358/57448844-4d395b00-7252-11e9-8540-45c85b383047.png)
If yes, this option doesn't work, here's a ticket: https://github.com/PrestaShop/PrestaShop/issues/9965

Thanks!

[2020-04-07 14:13] okom3pom commented on #18494
J'en ai encore un pour addons :)  je vais créer une issue du coup

Merci de ne pas renvoyer une iframe http

https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/Improve/Design/ThemeCatalogController.php#L49

![addon-2](https://user-images.githubusercontent.com/5064590/78679416-793de000-78ea-11ea-80f2-0015df8012b5.png)

[2020-04-07 14:16] ghost opened #18500 "PrestaShop Addons returns an iframe in http instead of https"
#### Describe the bug

addons.prestashop.com return an iframe not https

#### Steps to Reproduce

Open console go to theme catalogue

![addon-2](https://user-images.githubusercontent.com/5064590/78679848-06813480-78eb-11ea-879c-2c57c702572d.png)

#### Additional information

Why add an google tag ?

https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/Improve

[2020-04-07 14:18] khouloudbelguith commented on #18497
Hi @viosan,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - 1-click upgrade module version
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - `v1.7.5.6` did you mean PS1.7.6.3 or PS1.7.6.0?

Don't you know how to get this information? Please read the fo

[2020-04-07 14:21] khouloudbelguith commented on #18496
Hi @arie78,

Thanks for your report.
Could you please navigate to your BO => Design => Images Settings page => Click on "Regenerate thumbnails", check & feedback.

Thanks!

[2020-04-07 14:22] arie78 commented on #18496
Geachte heer/mevrouw,

Hartelijk dank dat u contact met ons opneemt. Wij zullen uw e-mail zo spoedig mogelijk beantwoorden,

Met vriendelijke groet,

Arie Schaap
+31(0)686039317

EVAS-91 LTD
Tsar Simeon I" 72
8000 Burgas Bulgarije
+31(0)850026080

[2020-04-07 14:23] khouloudbelguith commented on #18496
@arie78, can I delete your last comment, I think, it is automatically replied?

Thanks!

[2020-04-07 14:25] okom3pom commented on #18500
Same at this url index.php/improve/design/themes/

[2020-04-07 14:26] vicenlegaspi opened #18502 "No activa SSL en Prestashop 1.7.5.2."
Activo SSL  en Prestashop 1.7.5.2. y posteriormente guardo, pero sigue marcada la opción No.

No permite activarlo.

[2020-04-07 14:28] khouloudbelguith commented on #18502
Hi @vicenlegaspi,

Please, send your request in English.
English is the norm on the GitHub
Thank you!

[2020-04-07 14:31] jolelievre commented on #17661
Oh my bad! I didn't understand it was added via the localization pack
Thank you @khouloudbelguith

[2020-04-07 14:37] khouloudbelguith commented on #18500
Hi @okom3pom,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.4 and PS1.7.5.2
This issue is reproduced when **SSL** is enabled.
![image](https://user-images.githubusercontent.com/16067358/78681933-a8098580-78ed-11ea-9823-52f2fc416e0d.png)
![image](https://user-images.githubusercontent.com/16067358/78681975-b5bf0b00-78ed-11ea-8c77-a3d9733a9d85.png)

Ping @PrestaShop/prestashop

[2020-04-07 14:43] go-sudo opened #18503 "Remove call to profile.prestashop.com"
#### Describe the bug

I can't access the community forum of Prestashop, I get this message error

#### Steps to Reproduce

Steps to reproduce the behavior:
Access to multiple back-office websites at the same time,
I should be log in one single website and log out from other websites then restart my router to get a new IP Adress so I can access the forum.

**Screenshots**
![image](https://user-ima

[2020-04-07 14:44] matks commented on #18500
To Core I think 🤔
It seems https://addons.prestashop.com/iframe/analytics-themes-1.6.html is correct so I'd say we must modify the code inside the software to use HTTPS instead of using HTTP

[2020-04-07 14:48] okom3pom commented on #18500
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/Improve/Design/ThemeCatalogController.php#L49

The content come from addons.prestashop.com

[2020-04-07 14:50] arie78 commented on #18496
Yes ofcoures

khouloudbelguith schreef op 2020-04-07 17:24:

[2020-04-07 14:50] okom3pom commented on #18500
J'aurais fait le PR facile sinon @matks :+1:

[2020-04-07 14:55] NereoEgeo commented on #18431
Hello, I have PS 1.7.6.2 on the main domain and a test installation on a subfolder, on both the installation I see in the log the same message:
The addon with id 26233 does not have name
With my admin user and my IP address
Same day, different time 2020-04-01 10:35 for the main domain, 	2020-04-01 19:15 for the subfolder installation.
For sure I could not be working at 19:15
I have installed only

[2020-04-07 14:58] okom3pom commented on #18503
I think it's the avatar api .... i remove this call  because if prestashop is down your back office is very slow ....

[2020-04-07 14:58] arie78 commented on #18496
Hi,

I did what you told me to do but there is no differents.

Kind regards,

Arie

khouloudbelguith schreef op 2020-04-07 17:22:

[2020-04-07 14:58] khouloudbelguith commented on #18503
Hi @go-sudo,

You can't access to this link: https://www.prestashop.com/forums/?

Is it?

Thanks!

[2020-04-07 15:04] khouloudbelguith commented on #18496
@arie78, could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks!

[2020-04-07 15:16] matks commented on #18500
Found it ! It's actually an iframe injected into the page by MBO module

Http or https is controlled here: https://github.com/PrestaShop/ps_mbo/blob/master/controllers/admin/AdminPsMboModuleController.php#L331
It's supposed to use https when SSL is enabled 🤔

[2020-04-07 15:18] khouloudbelguith commented on #18281
@mircobabini, the problem that we cannot reproduce the issue following these steps:
1- Disable Invoices
2- Add a new order with a discount  from the BO
3- Change the status to "Payment accepted"
4- check statsbestvouchers => OK

Thanks!

[2020-04-07 15:19] khouloudbelguith commented on #18499
Hi @toutantic,

I have the same issue with PS1.7.6.4 and PS1.7.5.2
![image](https://user-images.githubusercontent.com/16067358/78686167-038a4200-78f3-11ea-960a-2c55f4954735.png)

It is related to this issue: https://github.com/PrestaShop/PrestaShop/issues/12727

Thanks!

[2020-04-07 15:20] matks commented on #18503
We are working on both removing the call and allowing people to fetch it in smarter ways 😊 https://github.com/PrestaShop/PrestaShop/pull/18346

[2020-04-07 15:25] okom3pom commented on #18500
![Capture d’écran de 2020-04-07 17-20-25](https://user-images.githubusercontent.com/5064590/78687366-5e706900-78f4-11ea-90cd-ab956f31677a.png)

Call in https it's the same https://addons.prestashop.com/fr/iframe/search-1.7.php

[2020-04-07 15:28] Webteyazilim commented on #15251
Why not templates appear in warning emails?

[2020-04-07 15:28] matks commented on #18500
Ah I finally see what you mean 😄you're right, there are http links inside the response so it's mixed content. And indeed must be fixed on Addons side.
But I think software might also be fixed 🤔not sure that external calls are done using https everywhere

[2020-04-07 15:28] arie78 commented on #18496
Where can I find this file? Sorry that i don't now where it is, i am
just start with PrestaShop,

Kind regards,

Arie

khouloudbelguith schreef op 2020-04-07 18:05:

[2020-04-07 15:37] MiroslavVo commented on #15056
@kossrlive No, I think this issue was never solved, unfortunately.

[2020-04-07 15:38] okom3pom commented on #18500
J'essaye de parler anglais un maximum ( sur github ) , j'avoue que ce ne doit pas être très compréhensible dès fois ...

J'ai pas regardé les requêtes du logiciel

[2020-04-07 15:43] MiroslavVo commented on #16952
It's a very annoying issue that makes more difficult for users to browse through available products (and that unfortunately means lost sales). I hope someone will finally fix it soon.

[2020-04-07 15:47] khouloudbelguith commented on #18500
Related to this: https://github.com/PrestaShop/PrestaShop/issues/9807

[2020-04-07 15:49] khouloudbelguith commented on #18496
@arie78, in your `/Project_Folder/`, it could be hidden.
You need to used ctrl+h to display it.

Thanks!

[2020-04-07 16:14] Hlavtox opened #18506 "[IMPROVEMENT] Add warranty information to products"
#### Background
It would be very useful to have warranty information listed on product page.

Some products have only the warranty given by the law - 2 years.
Some products have extended warranty from the manufacturer, or lifetime warranties.

I implemented this internally and I think it would be good for other merchants.

#### My proposal - BO

- There would be an editable field "**Warranty**" av

[2020-04-07 16:17] Hlavtox opened #18507 "[IMPROVEMENT] Implement payment restrictions by product basis"
#### Is your feature request related to a problem?

For example. There are certain products, that merchants wants to be paid in advance. Expensive stuff, stuff made on request, stuff customized on request etc.

There is no possibility to limit payment options now.

#### Describe the solution you'd like

Add payment restrictions to product in the same fashion, as there are shipping restrictions.
If

[2020-04-07 16:21] khouloudbelguith commented on #18506
Hi @Hlavtox,

Thanks for your report.
PS: in the FO, we can use the hook `displayProductExtraContent` as explained here: https://github.com/PrestaShop/PrestaShop/pull/6216

Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2020-04-07 16:23] khouloudbelguith commented on #18507
Hi @Hlavtox,

Thanks for your report.
Pin @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-04-07 16:25] Hlavtox commented on #18506
@khouloudbelguith There could definitely be a module for this.

That's another question for guys in charge of the business model. I don't know how far Prestashop's team want to go in implementing new features and limiting paid addons space. :-)

[2020-04-07 16:31] okom3pom commented on #18500
Yes it's like the  #9807

api and addons subdomains have to check all link ( iframe img css js ...) when return contents

[2020-04-07 17:00] khouloudbelguith commented on #18489
@glegarand, I tried with this module
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/4446001/mymodule.zip)
I tried to upgrade this module to 1.1.0
[mymodule_1.1.0.zip](https://github.com/PrestaShop/PrestaShop/files/4446007/mymodule_1.1.0.zip)
But I have this error
[code]

Thanks to check and feedback.

[2020-04-07 17:09] cryptolikely opened #18508 "[gsitemap] - Check the presence of the image files on the server"
When I use this option and trying to generate sitemap including links for images I get Error 500.

[2020-04-07 17:19] khouloudbelguith commented on #18482
@pantagru, Issue reproduced with PS1.7.2.4 but not reproduced in PS1.7.3.0.
https://drive.google.com/file/d/1zwYqZXST5LwN7u-Ey2djgaTK50I0kD2G/view?usp=sharing
So, it is fixed in PS1.7.3.0.
check with this PR:
https://github.com/PrestaShop/PrestaShop/pull/8402
https://github.com/PrestaShop/PrestaShop/pull/8083
The issue in PS 1.7.2.4 exists but it is fixed in PS 1.7.3.0.
You can check the changelog

[2020-04-07 17:19] #18482 closed, assigned to nobody

[2020-04-07 17:47] arie78 commented on #18496
i can't find it

khouloudbelguith schreef op 2020-04-07 18:49:

[2020-04-07 18:25] Eolia commented on #18458
A suplier name or brand name should not be translatable, it's a name.... Do you translate your own name ???
Apple, Microsoft, Prestashop...

[2020-04-07 18:34] glo-www opened #18509 "Product page not updated after changing attributes - BC break"
#### Describe the bug

Some parts of the product page must be updated in ajax after changing an attribute, since 1.7.6.3, a too specific selector was introduced in core.js file that break some themes.
This is not a bug per say, as the classic theme still works, but minor updates are not supposed to break third party themes.

#### Expected behavior

Attributes should updates depending on existing c

[2020-04-07 20:26] ildorne78 opened #18511 "create a new customer —->500 internal error"
#### Describe the bug

Order / add order / add customer
waiting for POP-UP
500 internal server error
![3](https://user-images.githubusercontent.com/63318154/78716188-d18ed500-791e-11ea-9b66-d4d2e0857300.JPG)
![2](https://user-images.githubusercontent.com/63318154/78716189-d2276b80-791e-11ea-81b6-51b78d26f99c.JPG)
![1](https://user-images.githubusercontent.com/63318154/78716190-d2276b80-791e-11ea-9

[2020-04-07 20:26] marsaldev commented on #18458
@Eolia
There are some cases where the same brand are called with different names, like "Dr.Oekter" in Germany, but in Italy is "Cameo"

https://images.app.goo.gl/S7VaQwMuGmHusEvu5

At this point I suggest to give the possibility to make also the logo 'multilanguage' 😊

Maybe there are many others cases that we doesn't not aware of 😊

[2020-04-07 23:17] arouiadib commented on #18498
Hello @SD1982 ,

Thank you for the time and explanation.

I think this is the same issue [mentioned here ](https://github.com/PrestaShop/PrestaShop/issues/11059)(I don't know why it was closed before fixed but it happens). :sweat_smile:

regards

[2020-04-08 01:17] ets-soft commented on #18492
hi @khouloudbelguith
I know the problem is in .htaccess file, the htaccess generating function generated image rewrite rules for both www and non-www domain, it should only generate the image rewrite rules for www domain only. To fix this manually we just need to delete the rewrite rules for non-www domain.
But if somehow merchant regenerate the .htaccess file the problem will happen again so it s

[2020-04-08 05:19] mcube27 opened #18512 "Can't change cms pages position"
#### Describe the bug

On the BO->Design->Pages there is no way to change pages positions.

I expected to have the arrows or to be able to drag and drop, but nothing.

![image](https://user-images.githubusercontent.com/10844608/78747237-353df000-7969-11ea-815f-82cb23df53bb.png)

#### Additional information

* PrestaShop version: 1.7.6.4
* PHP version: 7.1.33

[2020-04-08 05:21] kpodemski opened #18513 "Wrong total value of cart"
#### Describe the bug

Total price of the cart is wrongly calculated on demo products.

#### Expected behavior

Well... cart should have a valid total value. This is critical.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PrestaShop 1.7.7 (1.7.7 branch) in Polish.
2. You'll have few products with PLN currency, one of them, product ID 2, has price equal to: 35.33 PLN
3. Now

[2020-04-08 06:14] zuk3975 commented on #10583
https://github.com/PrestaShop/PrestaShop/pull/17179
this one is blocking

[2020-04-08 07:05] sarahdib commented on #18281
@mircobabini

Can you give us a case when the voucher should appear and it didn't ?

Thank you :)

[2020-04-08 07:05] Progi1984 commented on #18279
Fixed by #18437

[2020-04-08 07:05] #18279 closed, assigned to matthieu-rolland, Robin-Fischer-PS

[2020-04-08 07:06] Progi1984 commented on #18428
Fixed by #18438

[2020-04-08 07:06] #18428 closed, assigned to NeOMakinG, Robin-Fischer-PS

[2020-04-08 07:21] sdwebdesign commented on #10122
Any news about this?

[2020-04-08 07:48] Progi1984 commented on #18463
Fixed by PrestaShop/ps_brandlist#8

[2020-04-08 07:48] #18463 closed, assigned to Progi1984, sarahdib

[2020-04-08 07:59] marionf commented on #18014
@SD1982

In fact that seems it's not a regression: the problem is that the current date is not selected on the Dashboard. As there is just one click to do to select the date of day, I updated the severity for trivial and removed the issue from the backlog

@SD1982 Could you update the issue title, description and wanted behavior ?

[2020-04-08 08:03] #18409 closed, assigned to khouloudbelguith

[2020-04-08 08:37] marionf commented on #18508
Hello,

I tried to reproduce the issue with gsitemap v4.1.0 & PrestaShop v1.7.6.4 but I could not reproduce your issue with the provided information as you can see in [this screenrecord](https://drive.google.com/file/d/12jQevRhwmA6ePu43x3ay4HKbvmp99wDm/view?usp=sharing).

Please give us more informations:
- Version of the module gsitemap
- Version of PrestaShop
- Version of PHP
- Debug mode report

[2020-04-08 08:49] marionf commented on #18509
Hello @glo-www

**1.7.6.3 is a patch version** and you are right, patches versions shouldn't break third party themes.

Thank you for your PR, I add this issue in the 1.7.6.x kanban to fix it

[2020-04-08 08:50] colinegin commented on #18299
@jolelievre specs updated in "PrestaShop URLs and friendly URLs" paragraph ;)

[2020-04-08 08:54] marionf commented on #18511
Hello,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- PrestaShop version
- debug mode report
- php version
- php error logs

You don't know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
Thank you!

[2020-04-08 09:00] colinegin commented on #10021
ping @MatShir what's the status of this issue ?

[2020-04-08 09:00] MatShir commented on #10122
Hi @sdwebdesign,
The bug won't be solved for the 1.7.7 version, we are in code freeze (we don't add any features or bugs) to stabilize the software before the beta release. But the good news is the issue is flagged as Topwatcher. This means the issue has a strong interest from the community and will be prioritized for the next version.

In the meantime, the PrestaShop is open-source. So anyone can

[2020-04-08 09:07] marionf commented on #18512
Hello @mcube27

You have still the availability to change pages positions, please look [this screenrecord](https://drive.google.com/file/d/1PAEwJoqszRGAAqB4V1GOdCWGy0VNEeks/view?usp=sharing) & screenshot below

![capture d'écran_2503](https://user-images.githubusercontent.com/13449658/78765912-ed2ec580-7988-11ea-8c32-bff754cc3116.png)

[2020-04-08 09:08] #18512 closed, assigned to nobody

[2020-04-08 09:12] ildorne78 commented on #18511
*	PrestaShop version: 1.7.6.4
*	debug mode report

(1/1) ContextErrorException

Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"?

in UnitOfWork.php line 2636

at ErrorHandler->handleError(2, '"continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"?', '/homepages/33/d822425256/htdocs/clickandbuilds/PrestaShop/MyeCommerce

[2020-04-08 09:14] marionf opened #18516 "Can't change CMS page position because position column is missing"
#### Describe the bug

On 1.7.6.4 it was possible to change the positions of the CMS pages.
This is not possible anymore with 1.7.7.x, there is no position column

#### Steps to Reproduce

Steps to reproduce the behavior:
1. Go to the BO > Design > Pages
2. Try to change the position of a page
3. This is not possible, there is no position column

**Screenshots**

1.7.6.4:

![capture d'écran_2504](

[2020-04-08 09:28] colinegin commented on #18432
Can be done after the beta has been released.

[2020-04-08 09:34] PululuK opened #18517 "Missing log datas in some controllers and classes"
#### Describe the bug

Missing log datas in some controllers and classes

#### Expected behavior

When writing the logs, the `object_type` and `object_id` fields must be filled in (if necessary ...)

See https://github.com/PululuK/PrestaShop/blob/patch-2/src/Adapter/LegacyLogger.php#L168

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Product controller in BO
2. Delete or Upda

[2020-04-08 09:34] zsocialmedia commented on #18508
@marionf marionf
Google Sitemap: v4.1.0
Prestashop version 1.7.6.4
Version of PHP: 7.1.33
Information about store: https://www.dropbox.com/s/7gqd6yjtk8v83qp/Screenshot%202020-04-08%2012.28.56.png?dl=0
Video of error: https://www.dropbox.com/s/9d56dpu7kwl8nim/Screen%20Recording%202020-04-08%20at%2012.13.50%20PM.mov?dl=0
But u need to forward the video because it taking a while
Please check and tell

[2020-04-08 09:47] LouiseBonnard opened #18518 "[EPIC] Images formats"
Many feature requests focus on the need for PrestaShop to support more image formats. Indeed, images have great business value for online stores and their formats have quite evolved since the release of PrestaShop 1.7. Let's gather here some improvement issues and organize the work to be done:

**1. Make PrestaShop support SVG & WEBP formats**
- [ ] https://github.com/PrestaShop/PrestaShop/discuss

[2020-04-08 10:08] marionf commented on #18513
Hello @kpodemski

I can reproduce the issue with PrestaShop 1.7.7, with the option Round on each item and with a product with 20% discount

![capture d'écran_2508](https://user-images.githubusercontent.com/13449658/78771640-caa0aa80-7990-11ea-89cc-e7d20263077c.png)

It's well working with a product without discount

![capture d'écran_2507](https://user-images.githubusercontent.com/13449658/7877167

[2020-04-08 10:09] elburgl69 opened #18520 "Ps_Customtext in 1.7.2.4 does not use call Hook filterHtmlContent for it's HTML Field"
#### Ps_Customtext in 1.7.2.4 through 1.7.6.4 does not use call Hook filterHtmlContent for it's HTML Field

PS_Customtext call the hook  filterHtmlContent the text (HTML) field. Therefore customs modules that rely on this hook do not function on the content of this module.

#### Expected behavior

The hook is called.

#### Steps to Reproduce

1. Implement a module that uses the Hook filterHtmlCont

[2020-04-08 10:12] marionf commented on #18513
Related to: #17045 and #17976

[2020-04-08 10:19] marionf commented on #18508
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards.

[2020-04-08 10:19] #18508 closed, assigned to nobody

[2020-04-08 10:21] kpodemski commented on #18513
@marionf this tax related issue is also a nasty one, having this kind of issues on clean installation of PrestaShop is destructive

[2020-04-08 10:27] marionf commented on #18511
Hello,

Despite our several trials, we could not reproduce your issue with the provided information as you can see in [this screenrecord](https://drive.google.com/file/d/1CCEBWL0cLJ5ga4WbsQxkDvya3SuJJpFB/view?usp=sharing).
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards.

[2020-04-08 10:27] #18511 closed, assigned to nobody

[2020-04-08 11:07] mircobabini commented on #18281
Well, I currently have a website which is acting like I described above.
By the way... I'm thinking that it can be some conflict with another module.

If it's just me, then it's not an issue. Thanks!

[2020-04-08 11:07] #18281 closed, assigned to nobody

[2020-04-08 11:18] menno-comm-on opened #18521 "Die() in Customer class"
#### Describe the bug

Why oh why do you die()?
In classes/Customer.php, method getByEmail, line 445, you check if the email address is valid, and if not  you kill the script.

#### Expected behavior

Throw an exception, return false, log a fatal error, whatever. Just don't kill the script. The current way can cause some nasty and hard to find issues, and it simply doesn't look good to clients.

#

[2020-04-08 11:34] go-sudo commented on #18503
Hi @khouloudbelguith

Yes I'm banned only when I access to back-office with my Gmail which is linked to Prestashop forum

once I log in two websites with this mail (gmail) I get banned,

Regards

[2020-04-08 11:56] augustinejenin opened #18522 "How to get the shipping cost and tax"
In my prestashop site (1.6.1.5),

I have updated
1.handling cost 25 euro
2. shipping cost 3 euro
3. tax 21%

I need to show these in add to cart popup page.
I use this below code to get the handling cost - Configuration::get('PS_SHIPPING_HANDLING')
How can i get the other information in prestashop?
![tax_rate](https://user-images.githubusercontent.com/26268454/78781451-e53d4880-79bd-11ea-86ed-dccc

[2020-04-08 12:04] go-sudo opened #18523 "Boolean given in CacheMemcached.php on line 82, referer: https://www.google.com/"
Hello

I noticed this error log on apache log so I disabled the Memcached open on the backend and I stopped the Memcached server,
mod_fcgid: stderr: PHP Warning: in_array() expects parameter 2 to be array, boolean given in  /httpdocs/classes/cache/CacheMemcached.php on line 82, referer:
#### Describe the bug
I can't access anymore to the website with the current session, I must restart the browser

[2020-04-08 12:22] marionf commented on #18522
Hello,

As you can see [here](http://build.prestashop.com/news/1.6.1.x-what-s-next/) : we don't maintain 1.6 version anymore.
The maintenance of PrestaShop 1.6 is now being performed exclusively by volunteers to fix critical issues.
Furthermore, we don't provide support on Github. You can ask your question on [the forum](https://www.prestashop.com/forums/)

Regards

[2020-04-08 12:22] #18522 closed, assigned to nobody

[2020-04-08 12:24] colinegin commented on #9586
If I understand correctly the last point, it's actually only a display issue as the shipping discount is correctly included in the total discount (3,95 + 17,5+12 = 33,90).

What should be done is to display FREE on the shipping line instead of the initial pricen when there is a free shipping voucher. --> this was the behaviour in 1.7.6.4 so it should be fixed.

About the initial issue "Free shippi

[2020-04-08 12:48] vBlackOut opened #18525 "Add select Protocol HTTP/HTTPS in process install"
Hello,

Please add selectbox option to select http or https protocol on install change on database

**PS_SSL_ENABLED** = 1 or 0 if select option aditionnal options
**PS_SSL_ENABLED_EVERYWHERE** = 1 or 0 if select option aditionnal options

thank you for you approve on change this.

[2020-04-08 12:50] MatShir opened #18526 "Empty state order list page"
**SPEC**

Add an empty state on the order list page

**WHY**
Empty states are a way to improve the user experience of your product, from onboarding to encouraging users to interact with PrestaShop.

**DESIGN**
https://invis.io/5FRLCBENAS4#/419281734_Order

[2020-04-08 13:09] matks commented on #18106
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18420

[2020-04-08 13:09] #18106 closed, assigned to jolelievre, Robin-Fischer-PS

[2020-04-08 13:18] MatShir commented on #18379
Hi @Hlavtox,

Why do we need to apply any voucher automatically?
- Merchants with a large catalogue depend on the automation of its cart rules.
- We can also imagine that the e-commerce team is not aware of all the discounts applied.

The cart rule specific to a product can be added to the order when this product is added.
It should, therefore, be possible to remove the cart rule.
If the product i

[2020-04-08 13:22] marionf commented on #18496
Hello @arie78

I can't reproduce your issue with PrestaShop 1.7.6.4, as you can see below, images are well displayed:

![capture d'écran_2509](https://user-images.githubusercontent.com/13449658/78788937-c2566880-79ac-11ea-8da8-73eb6d5dc984.png)

It seems that your issue is not a PrestaShop's core bug but most likely a configuration problem.
I invite you to contact our support team: http://addons.p

[2020-04-08 13:22] #18496 closed, assigned to nobody

[2020-04-08 13:26] marionf commented on #18069
Hello,
Since we had no news from you for more than 25 days, I close this issue. Feel free to open another one if you can provide more details.
Thank you!

[2020-04-08 13:26] #18069 closed, assigned to nobody

[2020-04-08 13:27] marionf commented on #18074
Since we had no news from you for more than 25 days, I close this issue. Feel free to open another one if you can provide more details.
Thank you!

[2020-04-08 13:27] #18074 closed, assigned to nobody

[2020-04-08 13:29] marionf commented on #18048
Hello,
Since we had no news from you for more than 25 days, I close this issue. Feel free to open another one if you can provide more details.
Thank you!

[2020-04-08 13:29] #18048 closed, assigned to nobody

[2020-04-08 13:30] marionf commented on #18078
Hello,
Since we had no news from you for more than 25 days, I close this issue. Feel free to open another one if you can provide more details.
Thank you!

[2020-04-08 13:30] #18078 closed, assigned to nobody

[2020-04-08 13:30] marionf commented on #18090
Hello,
Since we had no news from you for more than 30 days, I close this issue. Feel free to open another one if you can provide more details.
Thank you!

[2020-04-08 13:30] #18090 closed, assigned to nobody

[2020-04-08 13:31] marionf commented on #18087
Hello,
Since we had no news from you for more than 25 days, I close this issue. Feel free to open another one if you can provide more details.
Thank you!

[2020-04-08 13:31] #18087 closed, assigned to nobody

[2020-04-08 13:32] marionf commented on #18099
Hello,
Since we had no news from you for more than 25 days, I close this issue. Feel free to open another one if you can provide more details.
Thank you!

[2020-04-08 13:32] #18099 closed, assigned to nobody

[2020-04-08 13:52] MatShir opened #18527 "Bad display of customizable product on create order page"
**Current behaviour**

![create order customizable](https://user-images.githubusercontent.com/43613217/78791592-62fa5780-79b0-11ea-914b-99493c3176c1.png)

**Expected behaviour**

The label "Type here" for the customization to be aligned with "Customization" and without the scroll bar.

[2020-04-08 13:54] khouloudbelguith opened #18528 "FO - `ps_supplierlist` module - The link of supliers list is incorrect when id_supplier > 1"
#### Describe the bug

When the `ps_supplierlist` module is installed and the option `Display suppliers` is enabled, in the FO => Categories page => the link of suppliers list is incorrect for id_supplier >1

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install the `ps_supplierlist` module
2. Try to configure your smarty by disabling the cache set the option "Template compilation"

[2020-04-08 13:56] Progi1984 commented on #15734
Fixed by #18515

[2020-04-08 13:56] #15734 closed, assigned to NeOMakinG, Robin-Fischer-PS

[2020-04-08 14:22] MatShir opened #18529 "Duplicating a product duplicates the SEO content"
#### Is your feature request related to a problem?

When a duplicate a product, it duplicates as well the meta-title, the meta-description and the friendly URL in the SEO tab. So it creates duplicated content which is bad for the SEO if the merchant does not notice it.

#### Describe the solution you'd like

The solution still needs to be discussed but here are the following ideas:
- Add in BO a w

[2020-04-08 14:24] marionf commented on #18516
My bad, in fact this is not a regression of the 1.7.7 but a strange multistore behavior that I'm going to have to dig

[2020-04-08 14:24] #18516 closed, assigned to sowbiba

[2020-04-08 14:28] khouloudbelguith commented on #9586
Hi @colinegin,

I just mentioned the first issue as a regression:

_What should be done is to display FREE on the shipping line instead of the initial pricen when there is a free shipping voucher. --> this was the behaviour in 1.7.6.4 so it should be fixed._

No, it is mentioned here, in this ticket, I need to create an issue?

Thanks!

[2020-04-08 14:42] matks commented on #18521
The code is 8 years old so unfortunately the developer who wrote it is gone for a long time 😢but you're right, there's no need to die here

[2020-04-08 15:04] Progi1984 commented on #17707
Fixed by PrestaShop/contactform#33

[2020-04-08 15:04] #17707 closed, assigned to nobody

[2020-04-08 15:19] SD1982 commented on #18014
Hello @marionf I have modified the title, description and expected behaviour . Could you check if it's good for you ? With this modification maybe we could also delete the "step to reproduce" and maybe reclassifying this bug as an improvement ? What do you think ?

[2020-04-08 15:21] arie78 commented on #18496
your colleague yesterday indicated something, I ask where that folder is but you give me a completely different answer?

[2020-04-08 15:38] matks commented on #18513
We agree, that is why there is the `Major` label 😊

[2020-04-08 15:43] colinegin commented on #9586
Yes i think it will be easier to manage these 2 different issues separatly !
Thanks :)

[2020-04-08 15:52] marionf commented on #18521
@matks Is there something to do here ? Refacto ?

[2020-04-08 15:56] marionf commented on #18525
@PrestaShop/prestashop-core-developers WDYT of this improvement ?

[2020-04-08 15:57] matks commented on #18521
It's "just" bad code to fix 😢. The task itself is easy, what's hard is to find all places where this code is used to make sure they behave correctly with the fixed version.

For this particular issue, it'll easy I can do the PR in 1 minute. But the global topic is to remove irrelevant usages of php `die()` function in all PrestaShop

[2020-04-08 16:01] Kimcitaw commented on #18430
So, i've been doing some test and I found a "solution" to this.

The one thing I must do is change the cache type from mySQL to File System. So far is working.
I can go back to mySQL but from time to time I must go back to File System again.

[2020-04-08 16:01] mosid commented on #18458
I mean showing it in other languages
e.g: Sony is , سوني in arabic
I hope it is clear

[2020-04-08 16:04] matks commented on #18521
@menno-comm-on See https://github.com/PrestaShop/PrestaShop/pull/18531

[2020-04-08 16:22] marionf commented on #18014
Yes, thank you @SD1982, I just updated the labels

[2020-04-08 16:46] marsaldev commented on #18458
@mosid Another interesting prospective 😉

[2020-04-08 16:57] khouloudbelguith opened #18533 "FO - checkout - The Shipping cost is incorrect in the cart detail when using a cart rule "Free shipping""
#### Describe the bug
When there is a free shipping voucher, in the checkout page => cart details, the shipping line is incorrect, the shipping cost is displayed instead of FREE.

#### Expected behavior

What should be done is to display FREE on the shipping line instead of the initial pricen when there is a free shipping voucher

#### Steps to Reproduce

Steps to reproduce the behavior:

Steps to