[2019-07-31 13:08] coffeebean19 commented on #14911
Looks the same:
<img width="913" alt="Zrzut ekranu 2019-07-31 o 15 07 41" src="https://user-images.githubusercontent.com/53439246/62214307-14b6a280-b3a5-11e9-89ad-3620df851e0b.png">

[2019-07-31 13:08] centoasa commented on #14580
tried again and again and gain, with the same error. when 1click being update database same error appear and stuck the sever:

follow as you, tried again and again and gain, with the same error. when 1click being update database same error appear and stuck the sever:  [INTERNAL] /var/www/vhosts/100asa.it/httpdocs/config/bootstrap.php line 87 - require_once(): Failed opening required '/var/www/vhos

[2019-07-31 13:12] khouloudbelguith commented on #14580
@centoasa, no, I used PHP7.0.33

[2019-07-31 13:17] racfalit opened #14936 "Error 500 Prestashop 1.7.5.2 only when logging in backoffice"
Hello good morning my librephonia.com website is giving me a 500 error when trying to access the backoffice (The frontend looks good always, never fails).

The server returns this error: PHP Fatal error: Cannot redeclare class AppKernel in /srv/neoatica/hosting/00000075/librephonia.com/web/www/app/AppKernel.php on line 0

We have tried everything by uninstalling module, deleting caches etc ... and

[2019-07-31 13:19] khouloudbelguith commented on #14936
Hi @racfalit,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-07-31 13:20] alumette37 commented on #14934
OK thanks a lot !
In the meantime, what solution is possible ? use SQL request to update the products tab ?

[2019-07-31 13:20] PoggoAgency commented on #14887
Hi there,

I have same problem as @BIGREECE : how did you fix it?

Thanks

[2019-07-31 13:22] khouloudbelguith commented on #14911
@coffeebean19, thanks!
In my case, I did not manage to reproduce the issue with PS1.7.6.0 after upgrade from PS1.7.5.2 using the 1-click upgrade v4.9.0.
It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.6.0
The solution is to add the missing columns to your database schema.
You can find the full schema for 1.7.6.0 here:
https://

[2019-07-31 13:24] khouloudbelguith commented on #14934
@alumette37, you can also update them manually or you can use a custom module to update meta for all images.

Thanks!

[2019-07-31 13:28] racfalit commented on #14936
I don't know when I will give the error again because it is random. I'm going to send you everything I can recolpilate from what you ask me to see if it works. Thnks

[2019-07-31 13:31] khouloudbelguith commented on #14936
@racfalit, in the meantime, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks!

[2019-07-31 13:45] khouloudbelguith commented on #14935
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-07-31 13:48] khouloudbelguith commented on #14921
@sunnmagic,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, thi

[2019-07-31 14:09] MockoB commented on #14880
@khouloudbelguith the only issue I got was I can't view the items count, but more we continue to dig, more bugs I find.
Look at the attached video, it's really strange that you can't reproduce the issue, but one thing I see in your video is: You set to display the remaining quantities when they are below 3, but you can also view the items count of combinations with more than 3 items available. In

[2019-07-31 14:14] khouloudbelguith commented on #14880
@MockoB, could you please try to empty your cart before, because I think, you have 2 products of the first combination in your cart.

Thanks!

[2019-07-31 14:21] MockoB commented on #14880
@khouloudbelguith you are right! But in no way, added to cart products shouldn't reflect product quantities.
And what about the product combinations with more than 3 items remaining? I don't think their quantities should be displayed, as set in the settings.

Thanks!

[2019-07-31 14:40] centoasa commented on #14580
@khouloudbelguith Finally, the light!
Solution was the php 7.1.30 (my debian installation 9.9 has deprecated the 7.0.33)
So, Prestashop 1.7.6 and php 7.2.20 they don't get along very well :-)

[2019-07-31 14:49] khouloudbelguith commented on #14880
@MockoB,

I'm a customer => I have 3 products in stock => I add two products to the cart => the stock is increasing from 3 to 1. If I delete my cart => quantity remains.

1.

![image](https://user-images.githubusercontent.com/16067358/62221882-5433bd80-b3aa-11e9-8014-f81fe0d19fb4.png)
2.

![image](https://user-images.githubusercontent.com/16067358/62221985-7a595d80-b3aa-11e9-9262-fa5beb838c04.png)

[2019-07-31 15:06] MockoB commented on #14880
@khouloudbelguith there is logic yes.
But what if, I add to cart 3 products and forget about it (like I did) and I see a message telling me that the main product I'm on that page for, is not available! I will definitely leave that shop and won't buy anything.
Even more, when I see a message telling me there are no products in stock I will decide that even those in my cart aren't available.
I think

[2019-07-31 15:11] sunnmagic commented on #14921
FYI I've tried with "Disable non PrestaShop modules" and "Disable all overrides" to "YES", then cache cleared, but nothing changed.

Here are the results of this file:

![config](https://user-images.githubusercontent.com/50998197/62224042-484df880-b3b6-11e9-802e-f85f9fdf86f6.JPG)

[2019-07-31 15:13] jf-viguier commented on #11722
We and some of our merchants in 1.7 are concerned by this issue.

[2019-07-31 15:15] SebBareyre opened #14939 "Free GIFT is not displayed correctly on cart"
**Describe the bug**
Contrary to PrestaShop 1.6, in Prestashop 1.7, the display of gift are not clear in cart summary...

**To Reproduce**
Steps to reproduce the behavior:
1. In BO, create a cart rule that offers a product as gift
2. In the FO, add to cart a product
3. Go to the summary cart page
4. See the display inconsistency
 
**Screenshots**
Here a display proposition in PrestaShop 1.7:
<img

[2019-07-31 15:15] jf-viguier commented on #14939
We and some of our merchants in 1.7 are concerned by this issue. Thanks Seb

[2019-07-31 15:23] khouloudbelguith commented on #14939
Hi @SebBareyre,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9757
So, I close it.
Thanks!

[2019-07-31 15:23] #14939 closed, assigned to nobody

[2019-07-31 15:23] khouloudbelguith commented on #14939
Duplicate of #9757

[2019-07-31 15:26] khouloudbelguith commented on #14580
@centoasa, I tried with PHP version: 7.2.13 & it is OK.
I attached a screen record
https://drive.google.com/file/d/1cjlUJv51arw5-raMmmCo8ZPBltBHa_eo/view
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-07-31 15:26] #14580 closed, assigned to nobody

[2019-07-31 15:30] khouloudbelguith commented on #14921
@sunnmagic, those options don't work as reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9965 and here: https://github.com/PrestaShop/PrestaShop/issues/14596

In the BO => Shop Parameters => Traffic & SEO => you don't have any alerts about friendly URL?
Thanks!

[2019-07-31 15:33] clubedovapor opened #14940 "Problem entering customer address in your order."
**Describe the bug**
I can't enter the customer's address in their order.

When I click the "Add New Address" button on the customer order, the address form opens, I enter the information, click save, and the address does not appear on the customer order.

I got in touch with the topic, but they said this problem is a prestashop bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to orde

[2019-07-31 15:35] clubedovapor commented on #14940
Ps. I already cleaned the caches and it didn't work.

[2019-07-31 15:36] clubedovapor commented on #14940
I got in touch with the topic, but they said this problem is a prestashop bug.

Sorry: i got in touch with the theme*

[2019-07-31 15:38] khouloudbelguith commented on #14880
@MockoB, to disable this option "Display remaining quantities when the quantity is lower than", you need just to set to "0" to disable this feature.
@MockoB, for example in stock we have 3 products.
Customer1 add two products to the cart => he can see in stock only 1.
Customer2 can see 3 products in the stock

the quantity from the back office is changed only if one of the customers bought those p

[2019-07-31 15:51] SebBareyre commented on #9659
Same as @Hlavtox... it is a critical issue to improve module speed...

[2019-07-31 15:53] sunnmagic commented on #14921
I got "URL rewriting (mod_rewrite) is not active on your server, or it is not possible to check your server configuration. If you want to use Friendly URLs, you must activate this mod."

But URL rewriting is working, so the mod seems fine.

[2019-07-31 15:55] khouloudbelguith commented on #14940
Hi @clubedovapor,

I did not manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.1.
I attached a screen record
https://drive.google.com/file/d/1jqy9HginDcI9MSdWVGP-3ylEl0grU-bm/view
Thanks to check & feedback.

[2019-07-31 16:00] PierreRambaud commented on #14734
Release in 3.2.0

[2019-07-31 16:00] #14734 closed, assigned to nobody

[2019-07-31 16:00] khouloudbelguith commented on #14921
@sunnmagic, yes, this is the exact issue.
You have an issue on your server with mod rewrite, you need to check with your host about this issue.

PS: if you disable the option friendly URL => No error.
Thanks!

[2019-07-31 16:04] jf-viguier commented on #9659
It's an important issue for us too.

[2019-07-31 16:09] MockoB commented on #14880
Thanks @khouloudbelguith , but I believe customer should be able to add to the cart the last items indefinitely times, it is wrong to display a message telling customer that there are no products left. I never met such behaviour on any other site.

Speaking as a customer, it happened to me many times to enter a site today, fill a cart and leave it. When I'm back 2 weeks later, I usually browse sam

[2019-07-31 16:13] #13097 closed, assigned to matthieu-rolland

[2019-07-31 16:15] khouloudbelguith commented on #14906
@dheerajwebkul, I manage to reproduce the issue with PS1.7.6.0
![image](https://user-images.githubusercontent.com/16067358/62228922-82b79580-b3b6-11e9-8cf5-578d29c1882f.png)
With PS1.7.5.1 => It is OK
![image](https://user-images.githubusercontent.com/16067358/62228994-ab3f8f80-b3b6-11e9-8aba-8b13124c0ecb.png)
It is a regression, you should add your PR in the branch 1.7.6.x & not develop.
Thanks!

[2019-07-31 16:24] sunnmagic commented on #14921
Weird... but thanks, I will talk with my host!

Thank you very much for your help :)

[2019-07-31 16:26] khouloudbelguith commented on #14880
@MockoB,

this is just an alert to indicate that these are the latest products in stock to encourage customers to buy it before they will not be available.
You can disable this feature as I said previously.

In the BO => Shop Parameters => Customer Settings => "Re-display cart at login"' is enabled?

Thanks!

[2019-07-31 16:27] khouloudbelguith commented on #14921
@sunnmagic, thanks!
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thanks!

[2019-07-31 16:27] #14921 closed, assigned to nobody

[2019-07-31 16:38] centoasa commented on #14580
Now I've changed php to 7.2.20 (the last my plesk vps have onboard) and seems alla works well. We need to find out why the auto upgrade did not work with 7.2.20.

[2019-07-31 16:40] sunnmagic commented on #14921
Good to know, I will let you know what the solution is, we never know, if someone has the same problem!

[2019-07-31 16:49] clubedovapor commented on #14940
Hi

OMG! I'm lost!

I already got in touch with two modules and also with the theme and nobody can help me.

Thank you very much.

[2019-07-31 16:58] Bonobomagno opened #14941 "Doctrine Entity miss MultiLang easy-optin feature"
New prestashop 1.7.6 features for doctrine entity are nice,
but doctrine, per-se, don't has a way to handle multi-language content.

Any plan to add this feature?Doctrine is unusable on real cases without adding some ways to handle (setter/getter) the translated text.

[2019-07-31 17:03] msautral commented on #14733
Hi it did work for me, try to erase all files on var/cache/prod/....

[2019-07-31 17:20] MockoB commented on #14880
You can disable this feature as I said previously.

No it's not just an alert, it's show stopper! Even when I disable the available quantities display (which I need), there is still a message telling me there are no more items available and I am not able to add the product to the cart (assuming I'm not aware it is already in the cart).

No it is not, but it is useless in my case.
Example:
Overall

[2019-07-31 18:37] ldarake commented on #14817
Hi @khouloudbelguith,

I fixed the bug, the problem was a module of data protection lay installed.

I uninstalled this module and now working right.

Thanks for your help

Best regards.

[2019-07-31 19:10] Allthejam opened #14942 "HTML"
I can not find a way to insert any HTML code into the product descriptions, In the setting on the left Shop Peramiters / General / Allow iframes on HTML fields select to YES but I can still not enter anything is it possible I'm using the latest version 1.7

Any Ideas?

[2019-07-31 20:23] johnndunbar opened #14943 "Bug in "EMail" panel after updating to 1.7.6"
Hello,

After updating with 1 click update from v.1.7.5.2 to 1.7.6.0 I can't access anymore to the Email Panel in the backoffice.
When I'm activated the debug mode, I've got an SQL error :

_An exception occurred while executing 'SELECT t0.id AS id_1, t0.employee AS employee_2, t0.shop AS shop_3, t0.controller AS controller_4, t0.action AS action_5, t0.filter AS filter_6, t0.filter_id AS filter_id

[2019-08-01 00:39] psydomin opened #14944 "SQLSTATE[42S22]: Column not found: 1054 Unknown column 'id_customer' in 'order clause'"
**Describe the bug**
I get a 500 error qhen trying to access the Brands Page on the Backoffice:
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'id_customer' in 'order clause'

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![image](https://user-images.githubusercontent.com/12779551/62257381-1449f600-b3fd-11e9-9241-2c72a06283c3.png)
![image](ht

[2019-08-01 03:49] nrcjea001 commented on #14908
@khouloudbelguith , I truncated table and issue went away. However, when I imported suppliers again, issue came back.

I am using an import module from another vendor. I will get in touch with them first to see if its not an issue on their side.

[2019-08-01 06:19] #14893 closed, assigned to nobody

[2019-08-01 07:09] #14748 closed, assigned to PierreRambaud

[2019-08-01 07:10] #14785 closed, assigned to nobody

[2019-08-01 07:20] marionf commented on #9659
@PrestaShop/prestashop-core-developers WDYT about this issue ? Is it easy to fix ?

[2019-08-01 08:00] Mch0 opened #14946 "Webservice customer api dont check if account with email already exist"
**Describe the bug**
When you want push a customer with Prestashop API, there is no check on data we send for checking if account already exist, so we can create multiple accounts with the same email.
Or when you want create an account by Frontoffice there is a check on the email field to find out if it already exist .

**To Reproduce**
Steps to reproduce the behavior:
Send several times via api c

[2019-08-01 08:01] khouloudbelguith commented on #14908
@nrcjea001, yes, you should contact them.
In my case, I tried to empty the table & select suppliers to products => it is OK.
Thanks!
Waiting for your feedback.

[2019-08-01 08:02] marionf commented on #13995
Hello,

Despite our several trials, we could not reproduce your issue with the provided informations.
Since we have no news for more than 30 days, I close this issue.
Feel free to open a new one if needed.

Best regards.

[2019-08-01 08:02] #13995 closed, assigned to nobody

[2019-08-01 08:07] khouloudbelguith commented on #14943
Hi @johnndunbar,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14620 to fix the issue.
Your ticket is a duplicate of #14617
Please follow #14617.
So, I close it.
Thanks!

[2019-08-01 08:07] #14943 closed, assigned to nobody

[2019-08-01 08:07] khouloudbelguith commented on #14943
Duplicate of #14617

[2019-08-01 08:15] marionf commented on #14471
Hello,

Despite our several trials, we could not reproduce your issue with the provided informations.
Since we have no news for more than 25 days, I close this issue.
Feel free to open a new one if needed.

Best regards.

[2019-08-01 08:15] #14471 closed, assigned to nobody

[2019-08-01 08:18] zelduxs commented on #14917
Thanks!🥇

[2019-08-01 08:23] johnndunbar commented on #14943
Hello,
I read the PR 14620, it talk about an manuel update issue. In my case I used automatic update.
When I read the ticket I can't find any relation with my problem. Could you please explain a bit more ? Thank you

[2019-08-01 08:30] johnndunbar commented on #14943
Ok sorry I saw it with the ticket 14617. Thanx

[2019-08-01 08:36] khouloudbelguith commented on #14946
Hi @Mch0,

We are aware of this issue, it is added to our bg roadmap.
Your ticket is a duplicate of #12844
So, I close it.
Thanks!

[2019-08-01 08:36] #14946 closed, assigned to nobody

[2019-08-01 08:36] khouloudbelguith commented on #14946
Duplicate of #12844

[2019-08-01 08:38] khouloudbelguith commented on #14944
Hi @psydomin,

It is a fresh install PS1.7.6.0 or an upgrade from a previous version?
It seems to be related to this issue: https://github.com/PrestaShop/PrestaShop/issues/14911

Thanks!

[2019-08-01 08:39] marionf commented on #14102
Hello @ProBackup-nl

I posted your idea here: http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/38279389-add-a-third-state-for-vat-including-vat-excluding

This way we will be able to see if this feature interests other people

[2019-08-01 08:46] charletmonaco opened #14947 "Problème bloc promotions"
Bonjour,

Nous rencontrons un problème avec notre bloc promotions (sur la page d'accueil).

Le bloc promotion a disparu, et nous souhaiterions le remettre. Nous n'avons pas remarqué de problème, car le module est bien activé mais le bloc n'est pas visible sur la page d'accueil.
Serait il possible de regarder rapidement d'où vient le problème s'il vous plait ?

Merci beaucoup,
COrdialement,
Laurian

[2019-08-01 08:47] Mch0 commented on #12844
Can i submit a merge request to fix that?

[2019-08-01 08:49] marionf commented on #10552
Improvement suggestion posted here: http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/33336487-finding-duplicate-products

[2019-08-01 08:53] marionf commented on #12844
Hello @Mch0

Yes, sure, you can make a pull request on GitHub with your code suggestion:
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2019-08-01 08:54] Prestaworks opened #14948 "Issues with override when dir doesnt exist or when using USE statements"
**Describe the bug**
If a module have overrides of controllers/front/listing these are not copies on install and not removed on uninstall.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a module with a listing override.
2. Look in the overrides folder of Prestashop

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 7.2.x

[2019-08-01 08:56] kpodemski commented on #14948
What exactly do you want to override there? there's a very useful hook `filterContent` in every entity, maybe this would be enough?

[2019-08-01 09:12] khouloudbelguith commented on #14948
Hi @Prestaworks,

Could you please provide a demo module to check it.
In my case, I did not manage to reproduce the issue with PS1.7.6.0 using this module
[dummymodule.zip](https://github.com/PrestaShop/PrestaShop/files/3455850/dummymodule.zip)

Thanks!

[2019-08-01 09:15] Prestaworks commented on #14948
Hi Kholu,

See attached file.
[dummymodule.zip](https://github.com/PrestaShop/PrestaShop/files/3455867/dummymodule.zip)

[2019-08-01 09:22] Prestaworks commented on #14948
I want to use my own search instead of the built in. So I need to override the listing controller so that Prestashop search provider is not used. I can't find any hook that can be used to replace the built in search and prevent not wanted DB queries.

[2019-08-01 09:40] khouloudbelguith commented on #14942
Hi @Allthejam,

For example in the BO => Catalog => Products => Summary & description section, you can click on the icon code o insert any HTML code
I attached a screen record for more details
https://drive.google.com/file/d/1PPTr6ko2NgUkiAkH1cRgQMrds5_U4wsB/view
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-08-01 09:40] #14942 closed, assigned to nobody

[2019-08-01 09:54] marionf commented on #12241
Hello everyone,

What do you think about restoring the behavior of PS 1.6 which is:
Diplay the cover image in the product listing (category)
Display the images selected for the combination in the product page

[2019-08-01 10:02] CaseOnline commented on #12241
Sounds like an excellent idea! Hope some developer with skills could fix this asap.
If anyone know how to do this properly please contact us we pay for this core fix.
Tony (info@caseonline.se).

Also want some other fixes wich is worse thn ps 1.6.

[2019-08-01 10:11] khouloudbelguith commented on #14947
Hi @charletmonaco,

In my case, I did not manage to reproduce the issue with PS1.7.6.0 & the ps_specials module.
https://drive.google.com/file/d/1EhF79omtyXLN9yDcClID_ZNVTZQUSQHF/view
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-p

[2019-08-01 10:11] #14947 closed, assigned to nobody

[2019-08-01 10:24] dineshbadrukhiya commented on #12241
Yes, that's the best solution for all merchant as per my opinion and requirements from my clients as well..

[2019-08-01 10:44] #14906 closed, assigned to nobody

[2019-08-01 10:52] khouloudbelguith commented on #14948
@Prestaworks, I tried to install the module provided => installed => OK, but it is not enabled.
I tried to enable it, but I have a red alert
[code]

https://drive.google.com/file/d/1VuYY9kzIB5HyopG_qg0dwhaqnRwBNzme/view

PS: permission is OK in my side: into the path /Project_Folder/override/controllers, I have all permissions:

[code]
I need to create the "Listing" folder manually
Installing the

[2019-08-01 10:55] khouloudbelguith commented on #14817
@ldarak, thanks for your feedback.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-08-01 10:55] #14817 closed, assigned to nobody

[2019-08-01 10:57] khouloudbelguith commented on #14940
@clubedovapor, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

[2019-08-01 10:58] prestamodule commented on #14765
any news regarding this issue ? @jolelievre ?

[2019-08-01 11:07] khouloudbelguith commented on #14880
@MockoB, thanks for your feedback.

I don't agree with you because this is will be confusing for the customer.
Ping @marionf, @colinegin what do you think?

Thanks!

[2019-08-01 11:20] racfalit commented on #14936
Hello, it has been 1 day without giving the error, so I cannot give you everything you ask me until I fail again. These are the data that I can give you right now

**Host:**
Librephonia.com

**PHP Error log:**
[Thu Aug 01 11:16:06.070723 2019] [:error] [pid 5399] [client 77.224.228.215:51514] PHP Fatal error:  Cannot redeclare class AppKernel in /srv/neoatica/hosting/00000075/librephonia.com/web/w

[2019-08-01 11:22] MockoB commented on #14880
Thanks but I’m at the opposite opinion.

The customer will not be allowed to add to the cart more items than the real stock if it is made without reflecting the quantities. Telling customer there is no stock once the product is added to the cart is what’s confusing. I believe it’s not only me, but let’s see what others think. Please, really show me other platform or website where it is made that w

[2019-08-01 11:26] khouloudbelguith commented on #14936
@racfalit, thanks for your feedback.
Waiting for the new PHP error log & debug mode report, if this issue occurs again.

Thanks!

[2019-08-01 11:39] nrcjea001 commented on #14908
Hello

Vendor confirmed it is not a bug in the module. I truncated table and it is OK. But then I reimported suppliers and the issue comes back.

Please see attached ps_product_supplier table for reference

![untitled](https://user-images.githubusercontent.com/26452178/62290433-6aa54c00-b472-11e9-9832-a00d89f51bb1.png)

[2019-08-01 11:40] nrcjea001 commented on #14908
![untitled](https://user-images.githubusercontent.com/26452178/62290578-b0faab00-b472-11e9-88e2-7e6b5da8bc46.png)

[2019-08-01 11:43] khouloudbelguith commented on #14908
@nrcjea001,

Could you please try to edit the suppliers for your some products manually, from the BO => Products details page => Options Tab
![image](https://user-images.githubusercontent.com/16067358/62290698-dc24d080-b459-11e9-8bc4-bc6b1941d254.png)

Thanks!

[2019-08-01 12:01] vincentsuperscale opened #14950 "PrestaShop 1.7 image compression create noise on white background image"
**Description of the bug:**
When adding product images in the PrestaShop back-office, the generated (resized) images of the product contains some strange grey pattern if the background of the image is white.

The problem occurs even if the JPG quality is set to 100/100 and no matter what format is used (JPG/PNG).

The pattern is visible on most screen and is highly visible if you drop the luminosi

[2019-08-01 12:02] marionf commented on #14842
Reopened, the PR should be on 1.7.6.x branch

[2019-08-01 12:14] psydomin commented on #14944
Hey @khouloudbelguith
It is an update from 1.7.4.0.
It is possible that it is related. I didnt notice if there was any error while updating but I did have to manually fix the same problem as #14617 as I was getting some 500 errors in some pages in the back office. After fixing that only the brands page continues to give 500 error.
Any idea of which table's structure should I compare to the schema?

[2019-08-01 12:24] nrcjea001 commented on #14908
@khouloudbelguith , I've edited suppliers without error. All seems ok there. But issue above remains

[2019-08-01 12:26] Mars228 commented on #14595
I'm not sure, but error "Price specification not found for currency: "EUR" shows when switching to multistore. I have to correct ps_currency_shop manually by adding currency to in my case second store... which helped

[2019-08-01 12:28] khouloudbelguith commented on #14908
@nrcjea001, in the BO => the exception is always displayed?

Thanks!

[2019-08-01 12:31] nrcjea001 commented on #14908
No Exception when editing suppliers in Options Tab. Exception is always thrown when viewing suppliers

[2019-08-01 12:38] khouloudbelguith commented on #14950
Hi @vincentsuperscale,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/10Q5JGhbgftH07fM06M9sh2YjWXhKMMy-/view
I tried with this link: https://www.collectionsetvous.com/nos-coups-de-coeur/729-picsou-.html & it is OK.
![image](https://user-images.githubusercontent.com/16067358/62293922-9f5cd780-b461-11e9-86d1-e4c7a56ccdac.png)

Than

[2019-08-01 12:45] khouloudbelguith commented on #14908
@nrcjea001, did you use the multistore context?

Thanks!

[2019-08-01 12:50] vincentsuperscale commented on #14950
@khouloudbelguith Hi,

I think that the object in your image is too thin, can you try with the following picture:
![test_1_original](https://user-images.githubusercontent.com/42002176/62294605-9cff7b00-b46b-11e9-85cd-bb74e57e5c85.jpg)

Also, on https://www.collectionsetvous.com/nos-coups-de-coeur/729-picsou-.html it's mostly visible on retina screen, and as I said you can also lower the luminosity

[2019-08-01 12:57] nrcjea001 commented on #14908
no

[2019-08-01 13:04] Prestaworks commented on #14948
I can add some more info after doing a lot of testing.
One of the issues is that the listing directory is not existing, so if it is created it will work (almost)

the other issue seems to be related to the "USE" statement, if this is removed from the override and the listing directory is created it will work.

So I think the module addOverride() needs to support to copy USE statements as well as b

[2019-08-01 13:06] khouloudbelguith commented on #14950
@vincentsuperscale, I tried again with this image & I tried to decrease the luminosity & it is OK
![image](https://user-images.githubusercontent.com/16067358/62295701-90782400-b465-11e9-8ade-ded8b9f1000b.png)
Thanks!

[2019-08-01 13:31] khouloudbelguith commented on #14908
@nrcjea001, finally, I manage to reproduce the issue with PS1.7.6.0.
In fact, I tried to import new products from the BO => Advanced Parameters => Import page using the CSV file by default.
In the BO => Catalog => Brands & Suppliers page => Supplier Tab => Click on "View" => see error
![image](https://user-images.githubusercontent.com/16067358/62297337-ee5a3b00-b468-11e9-8067-1453010bc25d.png)
Wit

[2019-08-01 13:44] eternoendless commented on #14908
The offending line, AdminSuppliersController.php:403

[code]

line 397:
[code]

I'm betting `$product_infos['id_currency']` is 0 or `null`...

[2019-08-01 14:00] TristanLDD commented on #10632
Hi @sarjon,
We should use the same language switch as in the other pages
Thanks!

[2019-08-01 14:18] Klemart3D opened #14954 "Missing app_icon.png on BO - Firefox browser"
**Describe the bug**
On fresh install of PS 1.7.6.0 is missing `app_icon.png` image on back-office:

![app_icon](https://user-images.githubusercontent.com/7419525/62300532-47c96680-b477-11e9-9f93-919a5b1efff1.png)

File is called on default admin theme:
https://github.com/PrestaShop/PrestaShop/blob/develop/admin-dev/themes/new-theme/template/header.tpl#L31

But no file exists in `img/` folder:
htt

[2019-08-01 14:19] marionf opened #14955 "Category tree on BO product page"
When you create a new product, currently the category tree is fully depployed.
If there are many categories, the list is too long.
So, we should display only the first 2 levels of categories, like this:

![capture d'écran_1866](https://user-images.githubusercontent.com/13449658/62301032-1ac98380-b478-11e9-818f-84b6ce67f74f.png)

[2019-08-01 14:20] sarjon commented on #10632
@TristanLDD just to confirm, we should use this one:

![](https://user-images.githubusercontent.com/15143151/62050447-e8bae600-b219-11e9-8b37-833e7bddd68a.png)

Right?

If so, I should mention that each translatable field in product form will get this dropdown (descriptions, meta inputs and others), it **isn't** the case in current implementation, as there is only one non standard switch.

Is that

[2019-08-01 14:30] TristanLDD commented on #10632
Yes

Yes this behavior will make the translatable fields more recognizable which is a good thing.

[2019-08-01 14:35] idnovate opened #14956 "Missing function"
**Describe the bug**
Function `Tools::convertPrice()` is deprecated and `convertPriceToCurrency()` should be used instead, but this function does not exist.

[code]

**Additional information**
PrestaShop version: 1.7.6

[2019-08-01 14:38] yannicka opened #14957 "Order creation on the backoffice with free shipping: "Error: Call to a member function addOrderPayment() on null""
When I validate the creation of an order created on the backoffice, and that there are free shipping from a cart rule, I've the following error:

![image](https://user-images.githubusercontent.com/22885898/62302085-09817680-b47a-11e9-9e79-b94eb7f5d080.png)

And, another issue, but surely associated: when I create an order on the back-office and I check "free shipping" (on the "Shipping" panel), al

[2019-08-01 14:40] samuel-pires commented on #10552
Hi,

An issue has been reported about this page a couple of days ago. Weird behavior when applying a filter in the "product without image" block #14923
Worth having a look at it.

[2019-08-01 14:57] khouloudbelguith commented on #14957
Hi @yannicka,

I did not manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2.
I attached a screen record
https://drive.google.com/file/d/1yydxQpPFrL4L5pcclbAFBZ1D2y1gljIh/view
Thanks to check & feedback.

[2019-08-01 14:57] samuel-pires commented on #14923
The block should not disappear.
When applying a filter, the list of products should be updated according to the filter.

[2019-08-01 15:13] khouloudbelguith commented on #14956
Hi @idnovate,

Thanks for your report.
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Tools.php#L853
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-01 15:15] 202-ecommerce opened #14958 "Duplicate Product in BO with different price for each shop (multishop)"
**To Reproduce**

Steps to reproduce the behavior:
1. Set a multishop with 2 shops (or more). For instance:
2. Create a product in context all shop
3. On each shop set a different price for the product
4. Finally on products board, select the previous product and click on duplicate product on all shop context.

**Describe the bug**

A product duplicated from all shop context set the default shop's

[2019-08-01 15:20] idnovate commented on #14956
I don't know which is the aim to replace this function. So somebody should decide to remove the `@deprecated` or to write new function `convertPriceToCurrency()`

[2019-08-01 15:38] khouloudbelguith commented on #14958
Hi @202-ecommerce,

I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0.
![image](https://user-images.githubusercontent.com/16067358/62307023-c4117900-b47a-11e9-8e67-7b5e2866ebb3.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-01 15:38] khouloudbelguith commented on #14958
@202-ecommerce, thanks for the PR

[2019-08-01 15:39] #14842 closed, assigned to Progi1984

[2019-08-01 15:40] khouloudbelguith commented on #14941
Ping @samuel-pires, @marionf

[2019-08-01 15:44] eternoendless opened #14960 "Importing a theme that has a translations folder but no files in it will throw an exception"
**Describe the bug**
When loading a theme, ThemeManager will try to load its translations if the translations directory is present. But if it's present AND empty it would throw an exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a theme that is not named classic, make sure there's a translations directory in it with nothing inside.
2. Zip it
3. Try to import it into PS.

**A

[2019-08-01 16:02] khouloudbelguith commented on #14954
Hi @Klemart3D,

In which page from the BO, the error in the console is displayed?
In my case, there is no 404 error in the Network tab.

Thanks!

[2019-08-01 16:13] khouloudbelguith commented on #14944
@psydomin, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
In my case, it is Ok after upgrade from PS1.7.5.2 to PS1.7.6.0 using the 1-click upgrade v4.9.0.
Thanks!

[2019-08-01 16:16] georgikolev7 opened #14961 "Get full info about product, including all prices + VAT throught WebService"
Hey everyone,

I'm integrating other system with PrestaShop WebService and I'm searching for the right call to can get all the info for product with one call.

**What I mean**

Product XXX have a price 100 EUR excl. VAT.
VAT is 20%, so the price become 120 EUR incl. VAT.
The product have 10% discount of the price, so final price will be 108 EUR incl. VAT. or 90 EUR excl. VAT.

When I make a web se

[2019-08-01 16:32] Klemart3D commented on #14954
Every page of BO, included dashboard (I tried on another instance of PS and I get the same):

![404](https://user-images.githubusercontent.com/7419525/62310749-7d2b7f80-b48a-11e9-9d03-af64bc52dc71.png)

Do you have no request to `app_icon.png` or your request is successful (200 code)?

[2019-08-01 18:01] studio1one commented on #14932
I have almost the same issue in 1.7.6 new fresh installation: I go to translation>installed modules but get an red error flag (There is no translation file available ) And I have installed the Swedish language pack twice and nothing change.

[2019-08-01 18:42] psydomin commented on #14944
Here it is. I can see that there were some errors.
Any idea how I can manually fix them? I cant just rollback and upload the db backup because it is a working website and there has already been loads of orders/ new messages and clients since the upgrade. Everything seems to be working except that
[log.txt](https://github.com/PrestaShop/PrestaShop/files/3458223/log.txt)

[2019-08-01 19:04] matks commented on #14893
@TemKaSD It will be done in PS 1.7.7 😉having Doctrine support for php7.3 is one of the main reasons we have dropped php5.6 compatibility for next 1.7.7 version (see details on http://build.prestashop.com/news/announcing-end-of-support-for-obsolete-php-versions/)

The PR that will update Doctrine versions is in Work In Progress here: https://github.com/PrestaShop/PrestaShop/pull/13761

[2019-08-01 20:11] Flower7C3 commented on #14847
* server setup and configuration: Debian 3.16.59-1 (2018-10-03) x86_64 GNU/Linux, PHP 7.1.8
* PrestaShop version: 1.7.6.0

Problem is, that when I click **Continue shopping** button on modal there there is emited JS event **updateProduct** and it calls URL with all products from pack like this:
http://example.com/index.php?controller=product&token=30ec951f282675157ba9ac8febe043cd&id_product=3434&i

[2019-08-01 21:36] kpodemski opened #14963 "It's not possible to disable category in multi-store"
We want to disable Category (3-clothes) from first of your stores.

1. Enable multi-store, add one more store to PrestaShop.
2. Make sure that you're in the context of your first store.
3. Go to Categories page.
4. Edit category ID 3 (3-clothes), try to uncheck first of your stores from Shop association tree.

Result? You can't.

Go to your second store, do the same thing, edit Category, disable f

[2019-08-01 21:40] xsbr commented on #14591
I'm using PHP 7.1.27 and did upgrade using 1-Click Upgrade module from 1.7.5.1 -> 1.7.6.0 - same error on line 55

[2019-08-02 03:31] templatin commented on #14878
In relation to this issue, the reviews are also not displayed on category page while using pagination.

**To Reproduce**
1. Go to any category page which has pagination and should also have a product with reviews on page-(1).
2. Use pagination and go to page-(2).
3. Go back to page-(1) and notice that reviews are not displayed for that product.

[2019-08-02 05:42] kpodemski commented on #14878
I'm not sure why @jolelievre in this hook: `displayProductListReviews`, gets reviews using ajax request?

[2019-08-02 06:07] RemoRound opened #14964 "Prestahop 1.7.6 slow with languages"
Hi,

I have a problem with a Prestashop website.
I installed the new 1.7.6 version and I got a very slow loading pages when I added 4 languages.
The primary language is ITALIAN .. others is EN/ES/FR/DE

I  searched a lot about this problem but I didn't found anything good. Maybe the issue become from problem with translations?

If I set DEBUG_PROFILING in true i got this (look attached file)
So..

[2019-08-02 06:09] kpodemski commented on #14964
Hey,

could you paste here results of Stopwatch SQL? the main reason why your page is slow are slow queries, profiler displays them below this what you paste here

[2019-08-02 06:14] RemoRound commented on #14964
Stopwatch SQL - 237 queries
Query	Time (ms)	Rows	Filesort	Group By	Location
SELECT SQL_NO_CACHE *
FROM `ps_product_lang`
WHERE `id_product` = 53 AND `id_shop` = 1
21.3	11534			/src/Adapter/EntityMapper.php:82
SELECT SQL_NO_CACHE cp.`id_product_attribute`, cp.`id_product`, cp.`quantity` AS cart_quantity, cp.id_shop, cp.`id_customization`, pl.`name`, p.`is_virtual`,
pl.`description_short`, pl.`avail

[2019-08-02 06:15] RemoRound commented on #14964
@kpodemski here the code.. ;)

[2019-08-02 06:17] kpodemski commented on #14964
@RemoRound it's hard to read, could you paste screenshot of SQL Doubles from profiler?

also, is there an issue if you open store in other languages too?

[2019-08-02 06:20] kpodemski commented on #14964
The reason why i'm asking for doubles is that your stopwatch shows 237 queries but profiler summary over 2k of them o_O

[2019-08-02 06:26] RemoRound commented on #14964
I made a full screenshoot of page 👍

[screencapture-shopforcycling-it-2019-08-02-08_22_14.pdf](https://github.com/PrestaShop/PrestaShop/files/3459867/screencapture-shopforcycling-it-2019-08-02-08_22_14.pdf)

[2019-08-02 06:34] kpodemski commented on #14964
Oh, look at the profiler, you send us result of load time at 282ms, we need profiler from your first message, this one where your page load time is about 18s

btw. could you remove results of sql stopwatch from your second message? :P

[2019-08-02 07:20] khouloudbelguith commented on #14455
Hi @seederp2p,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-02 07:20] #14455 closed, assigned to nobody

[2019-08-02 07:23] yannicka commented on #14957
Thanks. Here is a link to download a video of the issue: https://framadrop.org/r/f6jzE5W1Kw#QpQYP0lwpYtmu+DuV3JKaeiBUh041u0UHXpQ6DQm0Fc=

[2019-08-02 07:34] khouloudbelguith commented on #13501
Ping @sarjon, @matks any news?

[2019-08-02 07:35] khouloudbelguith commented on #14454
Hi @elmanu13,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-02 07:35] #14454 closed, assigned to nobody

[2019-08-02 07:38] marionf commented on #12501
If one filter is selected in FO (let's say Red), we should display the first image of this combination.
If many filters are selected in FO (let's say Blue and black) and a product has these 2 colors, we should display the first image of the default combination in product list.
If no filter are selected in FO, we should display the cover image of the product (issue #12241)

[2019-08-02 07:44] kpodemski commented on #12501
great idea

[2019-08-02 07:46] jolelievre commented on #14878
Hi, I used ajax because of the cache on some pages (especially on homepage), in order to have the latest datas about product rating. But I didn't think there could be two instances of the same product in one page, so my selector probably only targets the first one.

And there is definitely another related bug with the category pagination. I will look into it asap and will probably drop the ajax fe

[2019-08-02 07:52] kpodemski commented on #14878
This is why i asked you about cache some time ago, i didn't noticed that you have ratings loaded via ajax 😆

in my opinion, for performance wise, and for PrestaShop overall, would be better to have it loaded properly in `displayProductListReviews`, same as before in PrestaShop 1.6, i have homepage with over 100 products on it, it's not good for performance and page is a little laggy at first load

[2019-08-02 08:01] khouloudbelguith commented on #9821
Hi,

I have the same issue with PS1.7.6.0, but with PS1.7.6.0, an exception is displayed when we click on the "Edit" button.
![image](https://user-images.githubusercontent.com/16067358/62353799-53fb0580-b503-11e9-8796-cbe88f0a88b3.png)
With PS1.7.5.2 there is no exception.
PS1.7.6.0: https://drive.google.com/file/d/1Tah5mQAaKlwI1pIZmemKymnsw5UyaqHy/view
PS1.7.5.2: https://drive.google.com/file/d/1

[2019-08-02 08:05] khouloudbelguith commented on #14963
Hi @kpodemski,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9859 & #9821.
So, I close it.
Thanks!

[2019-08-02 08:05] #14963 closed, assigned to nobody

[2019-08-02 08:06] khouloudbelguith commented on #14963
Duplicate of #9859

[2019-08-02 08:07] jolelievre commented on #14878
Yeah I think you're right. Besides I think it's ok if the cache is cleared when the comment is validated, I guess usually the administrator will approve the comments by dozens once per day. It's not like any comment post from the front office would clear the cache.

[2019-08-02 08:08] khouloudbelguith commented on #9859
Same issue with PS1.7.6.0

[2019-08-02 08:21] kpodemski commented on #14878
@jolelievre the problem is that you can't really clear cache due to PrestaShop bug :)

you need to clear cache of every homepage module, because if you clear only cache of the productcomments module it will not work, i've reported this problem some times ago, if you clear cache of `displayProductListReviews` hook modules, not a single template file with this hook inside is actually refreshed...

c

[2019-08-02 08:24] elmanu13 commented on #14454
Hi @khouloudbelguith ,

It's still active in my side, but maybe linked to the multistore creation. I'll dig further when I'll have more time, thanks !

[2019-08-02 08:26] dharmendravirasat opened #14965 "I want to import product in prestashop || So need product sample csv file,Why so difficult to import products?"
**
I'm getting this
Errors occurred:
The category ID must be unique. It can't be the same as the one for Root or Home category.
i already tried this link
https://github.com/PrestaShop/PrestaShop/issues/9764

plz share product import csv file format
**

[2019-08-02 08:39] khouloudbelguith commented on #14965
Hi @dharmendravirasat,

In your BO => Advanced Parameters => Import Page => you have a simple Products file.
Also, if you want to import products, you need to the "What do you want to import?" option to Products.
![image](https://user-images.githubusercontent.com/16067358/62356597-5e200280-b509-11e9-8dbf-4efb437936a8.png)

Thanks to check & feedback.

[2019-08-02 08:48] khouloudbelguith commented on #14591
Hi @jgradeckimaryville,

The issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/14620
It is added to PS1.7.6.1 milestone.
Thanks!

[2019-08-02 08:54] dharmendravirasat commented on #14965
I'm already tried this
Errors occurred:
The category ID must be unique. It can't be the same as the one for Root or Home category.
![image](https://user-images.githubusercontent.com/44469219/62357589-009fac00-b531-11e9-871f-9261099ee397.png)
![image](https://user-images.githubusercontent.com/44469219/62357600-08f7e700-b531-11e9-8942-d2adf3663fa2.png)
![image](https://user-images.githubusercontent.

[2019-08-02 08:58] RemoRound commented on #14964
here the correct file! ;)

[screencapture-shopforcycling-2019-08-02-09_16_39_compressed.pdf](https://github.com/PrestaShop/PrestaShop/files/3460438/screencapture-shopforcycling-2019-08-02-09_16_39_compressed.pdf)

[2019-08-02 08:58] khouloudbelguith commented on #14965
@dharmendravirasat, the select option in your case is incorrect.
You want to import products, you need to the "What do you want to import?" option to Products.
https://drive.google.com/file/d/1ohpLDDEmXkItVEb3rFtTtdX7ubaGD4id/view
Thanks!

[2019-08-02 09:02] kpodemski commented on #14964
I suggest you disable products block, one by one, and test if one of them is not causing this behavior, main reason why your page is slow is that there are a lot of Products which seems to be not cached properly

[2019-08-02 09:12] khouloudbelguith commented on #14961
Hi @suncho26,

You can follow our documentation http://doc.prestashop.com/display/PS16/Chapter+10+-+Price+management
For the individual products you can specify e.g. /api/products/1?price[price][use_tax]=1&price[price][country]=3
Also, you can use this link: api/products/?display=full&price[price][use_tax]=1&price[price][country]=3 to get product list with tax in webservice.

Thanks!

I close the

[2019-08-02 09:12] #14961 closed, assigned to nobody

[2019-08-02 09:18] khouloudbelguith commented on #14847
@Flower7C3, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2019-08-02 09:31] khouloudbelguith commented on #14964
Hi @RemoRound,

In my case, I did not manage to reproduce the issue with PS1.7.6.0, I 'm using more than 6 languages & I'm using the default theme Classic.
I attached a screen record
https://drive.google.com/file/d/1WeZdpn8YWXwPX8JXyB6x2YCjqM_IpzW8/view
Thanks!

[2019-08-02 09:37] khouloudbelguith commented on #14954
@Klemart3D,

No, I don't have any requests for the `app_icon.png`.
I attached a screen record
https://drive.google.com/file/d/1fELVQ8YhjtzIVIr3j5BWUjO37D4aa5_d/view
Thanks to check & feedback

[2019-08-02 09:39] jolelievre commented on #14878
@kpodemski oh I see, actually I was thinking of clearing the whole smarty cache But you think it's too heavy? Or is there another cache I should clean?
I admit not having a big experience in PrestaShop legacy cache
How can I know the cache policy of each module?

[2019-08-02 09:44] eternoendless commented on #13942
Follow https://github.com/PrestaShop/docs/issues/284

@DerPapst:

Unfortunately there's no way to export xlf files for modules yet. This is something that I'd like us to do in 1.7.7. My planned solution is to dump XLF files in the module's translation directory. It's not a lot of work, actually we are already doing it for themes.

[2019-08-02 09:49] kpodemski commented on #14878
@jolelievre

it's not safe to clear entire cache using Tools::clearSmartyCache, it's too heavy sometimes, up to few gigs...

for the legacy caching you can see Module entity and _clearCache method.

Also, it's worth to see legacy version of `productcomments` module, old version for 1.6

[2019-08-02 09:51] khouloudbelguith commented on #14957
@yannicka, could you please try to change the `SHIPPING` method with another delivery option, created manually, for example, check & feedback.
![image](https://user-images.githubusercontent.com/16067358/62361709-6e3cdf80-b513-11e9-85d1-018f21c3ae21.png)
Thanks!

[2019-08-02 09:52] RemoRound commented on #14964
mm.. ok. this afternoon I will to follow your advices with a copy of website and I will let you the results. ;)

[2019-08-02 09:58] khouloudbelguith commented on #14964
@RemoRound, thanks!
Waiting for your feedback.

[2019-08-02 10:00] marionf commented on #13422
@samuel-pires

Your screenshot is on 1.7.6
The PR has been merged in develop, it will be fixed in 1.7.7

![capture d'écran_1867](https://user-images.githubusercontent.com/13449658/62362288-ed82e100-b51c-11e9-85ab-cd20ae98d114.png)

I think we can close it as it's fixed

[2019-08-02 10:07] dharmendravirasat commented on #14965
Its working fine
thanks for reply

[2019-08-02 10:07] #14965 closed, assigned to nobody

[2019-08-02 10:11] zell9999 opened #14967 "ps_categoryproducts issue when cache is enabled"
**Describe the bug**
Only first item of ps_categoryproducts show the price when cache is enabled.
1.0.4 version of the module. Re-installed many times with the same result.
Caché cleared many times and same result.
Maybe the problem is in PHP version? (I use 7.0.33)
The cache system type: File system
With cache disabled works perfect...
In prestashop Spanish forum there are many people with the sa

[2019-08-02 10:14] khouloudbelguith commented on #14965
@dharmendravirasat, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-08-02 10:19] eternoendless opened #14968 "Module translations using the new system from 1.7.6+ aren't exportable/shareable"
In 1.7.6 we added a new feature that allows modules to use the new translation system. However, translations customized through the new BO interface are saved exclusively on the shop's database. Developers should be able to export those translations and bundle them with the module.

This could also allow us in the future to decouple native modules from the Core translation catalogue.

Here's my pr

[2019-08-02 10:20] eternoendless commented on #14968
Ping @colinegin @samuel-pires @marionf @LouiseBonnard

[2019-08-02 10:27] khouloudbelguith commented on #14967
Hi @zell9999,

I did not manage to reproduce the issue with PS1.7.6.0 & the ps_categoryproducts module v1.0.4
https://drive.google.com/file/d/1ktkwAIXhH1Ij4D6quR87cKLsIatuHCWQ/view
This issue is fixed with this PR: https://github.com/PrestaShop/ps_categoryproducts/pull/6
Your ticket is a duplicate of #9652
So, I close it.
Thanks!

[2019-08-02 10:27] #14967 closed, assigned to nobody

[2019-08-02 10:27] khouloudbelguith commented on #14967
Duplicate of #9652

[2019-08-02 10:32] Klemart3D commented on #14954
You're on Chrome? I tried with Chrome v.75 on Linux and you're right: no request to app_icon.png found.
Error seems only appears on Firefox (I'm on v.68)

[2019-08-02 10:41] khouloudbelguith commented on #14944
@psydomin, in your log file, you have two errors

This table is added with a custom module?

You have some errors during the upgrade of your database

There is something went wrong with your update and don't have some of the database columns that were added for 1.7.6.0
The solution is to check if there are missing columns in your database schema.
You can find the full schema for 1.7.6.0 here: http

[2019-08-02 10:51] khouloudbelguith commented on #14954
@Klemart3D, yes, you are right.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2 using the browser Firefox v64.0.2.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-02 11:06] zell9999 commented on #14967
that you are not able to reproduce the error does not mean that this module works well...
Which PHP version do you use?
Can you attempt to reproduce the issue using a child theme?

[2019-08-02 11:52] georgikolev7 opened #14969 "Get full info about product incl. all prices, discount, VAT"
I'm opening a new issue, because the previous one #14961  was closed by @khouloudbelguith

Based on the explanation in the previous issue I open, here is the result. (I'm using demo product)

VAT is 22%.
We have a product with price 23.90 EUR excl. VAT, which become 29.15 EUR incl. VAT.

![1234134](https://user-images.githubusercontent.com/3003037/62367563-5a50a800-b52a-11e9-8023-866e0889da6c.png)

[2019-08-02 11:58] LocalHeroPro commented on #14643
PL

[2019-08-02 12:11] yannicka commented on #14957
I have try to create a delivery option, and I have the same issue.

[2019-08-02 12:16] samuel-pires commented on #13422
Thanks @marionf!

[2019-08-02 12:17] #13422 closed, assigned to nobody

[2019-08-02 12:34] khouloudbelguith commented on #14969
Hi @suncho26,

I attached a video record
http://projet/QA/1760fr/api/products/43?price[price][use_tax]=1&price[price][country]=3
Thanks to check & feedback.

[2019-08-02 12:45] khouloudbelguith commented on #14957
@yannicka, this issue occurs with all customers & all products added to this order?

Thanks!

[2019-08-02 12:56] khouloudbelguith commented on #14967
@zell9999, I tried with different shops on different servers: PHP Version 7.2.13 & PHP Version 7.0.33.
I tried also with child theme => OK
[mythem.zip](https://github.com/PrestaShop/PrestaShop/files/3461278/mythem.zip)
https://drive.google.com/file/d/1kEGqkyDf-6B2a4hAmBz3c2DPKj1UMU5I/view
Thanks!

[2019-08-02 14:31] yannicka commented on #14957
Yes, the issue seems to occurs with all customers & all products.

[2019-08-02 14:43] khouloudbelguith commented on #14643
@LocalHeroPro, I tried again but it is OK.
https://drive.google.com/file/d/19dUK22uT-9TliI6RAv581z0Csb3Z28Ow/view
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thanks!

[2019-08-02 14:43] #14643 closed, assigned to nobody

[2019-08-02 14:47] matteolavaggi opened #14973 "Unable to install, remove, reset or configure ps_emailalerts"
New ps 1.7.4 installation ,email alert not work.
Check modules installed page there is no entry for mail alert.
Check modules folder there is ps_emailalerts directory.
Connect to addons , find for Mail Alert (its so hard to find this module in a lot of payment one ...). Hit on install, get an error "sorry unable to install, sorry again module does not provide additional info ... lol).

Back on add

[2019-08-02 14:48] matteolavaggi commented on #14973
![image](https://user-images.githubusercontent.com/24798703/62378543-51b99b00-b545-11e9-96a3-8359434d4a44.png)
This is how this module is shown in the admin page (there is error)

[2019-08-02 15:01] Mars228 opened #14974 "PS 1.7.6 import products *.csv"
On Prestashop Multistore, stops importing *.csv product file after validation(!), returns error:

"Errors occurred:
error"

/ Advanced Parameters / Import > (select file) /
Prestashop 1.7.6 | PHP Version 7.2.20

[2019-08-02 15:01] khouloudbelguith commented on #14957
@yannicka, could you please check if you have an override of the Class `PaymentModule.php`.

Thanks!

[2019-08-02 15:07] khouloudbelguith commented on #14974
Hi @Mars228,

I did not manage to reproduce the issue with PS1.7.6.0. using the CSV file by default.
I attached a screen record
https://drive.google.com/file/d/1A2fQrLULNBIFe5LzLXLfkONI9tjLXZWl/view
Thanks to check & feedback.

[2019-08-02 15:38] khouloudbelguith commented on #14973
Hi @matteolavaggi,

I did not manage to reproduce the issue with PS1.7.6.0 & PS1.7.4.4.
I attached a screen record
https://drive.google.com/file/d/1RReZLhG8Qjo6UQDhQvZAVlYfpIWGVDAt/view
Did you installed this module from the BO => Modules => Modules & Services => Selection Tab?

Thanks!

[2019-08-02 15:44] khouloudbelguith commented on #11450
Hi @marionf,

I have the same issue with PS1.7.6.0.
https://drive.google.com/file/d/1boEu8Nf4df-PkJLPah7M00UcvVUQatsU/view
![image](https://user-images.githubusercontent.com/16067358/62382115-d2c46280-b544-11e9-80ec-5026bc51e9d6.png)

Thanks!

[2019-08-02 15:58] vagaluz opened #14975 "Paypal doesnt appear in shoppign cart"
Hello, Paypal doesnt appear in shopping cart.

1. Go to some product add to cart process payment fill the formularies and in payment method paypal doesnt appear.

![Sin-título-1](https://user-images.githubusercontent.com/52562703/62382927-ebd21100-b54e-11e9-9c66-0426b7c7e2c2.png)

But in paypal module says

**You are trying to switch to a production account. You must use your production credential

[2019-08-02 16:10] thbl opened #14976 "Add webhook functionality to PS - Feature request"
Would be nice if PS had webhook functionality out of the box.
etc. function to make webhook on
-new order
-order state change
-new customer
-customer update
-product stock
Think this together with JSON api (#14889) would make it simple for users to integrate with erp / shipping systems.

[2019-08-02 16:13] khouloudbelguith commented on #14975
Hi @vagaluz,

I did not manage to reproduce the issue with PS1.7.6.0 & the Paypal module v4.5.0.
I attached a screen record
https://drive.google.com/file/d/1m3gbESiRqsvcmfVrFGRMbHRA7CTDbUNA/view
Your module is well configured?
In your BO => Payment => Preferences => did you check the restrictions?

Thanks!

[2019-08-02 16:23] khouloudbelguith commented on #14976
Hi @thbl,

Thanks for your report.
Ping @marionf, @colinegin what do you think?

Thanks!

[2019-08-02 17:40] vagaluz commented on #14975
I think i dont have the same paypal you have. the only one that appear to me as free is paypal & braintree

[2019-08-02 17:42] vagaluz commented on #14975
The restrictions are ok

[2019-08-02 17:43] vagaluz commented on #14975
Also this appear in red but i dont know how to do it.
-
You are trying to switch to a production account. You must use your production credentials. Access the Products tab and click Modify to activate the production version of the selected product.
-

![1](https://user-images.githubusercontent.com/52562703/62388533-d31d2780-b55d-11e9-8a38-2c8b1965f0da.PNG)

[2019-08-02 18:22] marmlax commented on #14887
Facing same problem too.

[2019-08-02 18:58] fruitfreak commented on #10331
This one is still an issue unfortunately - running 1.7.6.0
http://prntscr.com/onlsmb

example:

https://plante-protein.dk/protein-pulver/39-258-pulsin-supershake-vegansk-proteinpulver.html

When selecting between flavors that have different sizes it generates 403 pop-up.

What to do?
Thanks :-)
Ivan

[2019-08-02 19:39] jhuanmy opened #14978 "problem with the classes / language.php file (line 809)"
**Describe the bug**
I was reviewing version 1.7.6.0 and found that when I try to enter the configurations of a module this problem appears to me.
with smarty
"The locale 1 is invalid"
in the next function
of the archive
classes / Language.php (line 809)

public static function getIsoByLocale ($ locale) {if (! Validate :: isLanguageCode ($ locale)) {throw new Exception ('The locale'. $ locale. 'is

[2019-08-02 19:54] Arnaldo405 commented on #12328
@khouloudbelguith

Hi, we talked before.
I had the same problem. So I did what febestore mentioned on Feb 19. The result was a 500 server error. So I changed it back to how it was and now my PS gives a white screen. I can't enter it anymore.
I desperately need somebody who can take a look and can fix this for me.
Can and will you do that?

Thanks in advance.

[2019-08-02 20:32] Mars228 commented on #14974
Screenshot... there is something with file, but yet have no idea what i'm still looking for...
![Zrzut ekranu z 2019-08-02 22-28-27](https://user-images.githubusercontent.com/582141/62397221-76c60200-b575-11e9-8b67-874c24df9a9d.png)

[2019-08-02 20:43] Arnaldo405 commented on #14787
@khouloudbelguith
Just a minute ago I wrote you under another issue.
I solved the problem by deleting the var cache dev and prod.
The 500 server error has gone and I can access my back office again.
My apologies for bothering you.

[2019-08-02 20:54] BIGREECE commented on #14887
I believe it’s because they are a different version of prestashop  and simply not compatible. My only work around was finding a free template that works. Prestashop’s customer support won’t help unless you have a purchase order number, purposely weeding out the people who use the free templates that they have available.

Sent from my iPhone

[2019-08-03 05:39] RemoRound commented on #14964
Guys.. I found the problem.
Crazy.. was the "Facebook + ADS" module.. there are three weeks that I'm looking for resolve the issue!

So.. Thanks you for your support! :-) @kpodemski @khouloudbelguith

[2019-08-03 12:17] coffeebean19 commented on #14911
@khouloudbelguith please take a look again a the logs. I'm really not able to resolve the issue. Every time I fill empty column at database it cleans another.

<img width="1086" alt="Zrzut ekranu 2019-08-3 o 14 13 47" src="https://user-images.githubusercontent.com/53439246/62411825-6bb4b580-b5f9-11e9-8b9e-a1c9725a31e9.png">
<img width="1086" alt="Zrzut ekranu 2019-08-3 o 14 14 05" src="https://use

[2019-08-03 13:16] suncho26 commented on #14969
Hi @khouloudbelguith, can you check the link please.

[2019-08-03 13:55] harm-smits commented on #14888
We use APC for caching along with opcache re-validation set to false.

I managed to reproduce it by doing the following:
1. Load the feature variants page.
2. Create a new feature.
3. Now we can not see the feature when we want to add it using the feature variants.

It seems that the filecache / apcu cache is not invalidated accordingly in some cases.It would be worth to look into this: https://ww

[2019-08-03 14:56] ricky2k7 commented on #14575
Hi,

I'm facing the exact same issue. All the sorting options work well but sorting the price from low to high doesn't show the correct results.
This only happens when viewing all the products. Selecting a category everything works as expected.

Tried all the possible solutions in this issue, but nothing seemed to work.

Shop details:
- Prestashop 1.7.5
- ps_facetedsearch v3.2.0

Any other solutio

[2019-08-03 15:37] groomershop commented on #14974
If you have multishop (from screen shot seems yes), select specified shop in header and it will work - we have today morning the same problem.

[2019-08-03 17:08] groomershop opened #14979 "Cart / Checkout performance issue for multiple products in basket"
### Todo
- [ ] Analyze where the problem comes from
- [ ] Find the appropriate solution and re-qualify the issue

**Describe the bug**
After adding for example 50 diffrent products to cart (we are a B2B wholesaler, so it's typical for us) the load time of any site (with product, catalog, adding next product, going to checkout) increases significantly (from 200-300ms to about 800ms - on clean insta

[2019-08-03 18:01] sirius82 commented on #14892
@khouloudbelguith : Hello, sorry, i'm be back ;-) could you say me if you tested it with the module ps_compliance on your PS 1.7.6 ? On my website, it's this module wich displays unit_price on product list. I change the theme for classic and it's always the same. The url is the same : http://dev.shaina-distribution.eu. Id c.deselys@gmail.com - pw : uflf6182.
I don't see where you had the error wit

[2019-08-03 20:26] coffeebean19 commented on #14911
I have downgraded to lower version. Next time please test the relased version twice. 1.7.6.0 is called as a stable version, but it is not. You can't even manage your brands and products via admin. So it's just a waste of time for using the version filled with bugs.

[2019-08-03 22:46] presciak commented on #14595
I changed all rows with id_currency = 1 to 9 in ps_orders - it did not help
I removed all rows with id_currency = 9 in ps_orders - it did not help
I still have the same problem.
Did someone solve this problem?
`

****CRITICAL                 00:30:10 | php | Uncaught Exception: Price specification not found for currency: ""
-- | -- | --
CRITICAL                 00:30:10 | request | Uncaught PHP Ex

[2019-08-04 00:31] mirali-se commented on #11517
HI there,
I can not find Supplier reference In the BO => Catalog => Products => Options Tab in PS 1.7.6.0. any suggestion?

[2019-08-04 03:56] Co-Co-it commented on #14733
I use prestashop 1.7.6.0 and Xaamp with PHP Version: 7.3.7, when I open theme translations and try to modify the Italian language of the classic theme it gives me the following popup message:
"C:\xampp\htdocs\prestashop\var\cache\dev/themes\classic\translations\it-IT" directory does not exist.
error for all temes
{"error":"The \u0022C:\\xampp\\htdocs\\prestashop\\var\\cache\\dev\/themes\\classic_c

[2019-08-04 11:25] seederp2p opened #14980 "Duplicated Customer Accounts 1.7.x.x"
I realized that since I moved to 1.7 version from times to times prestashop creates duplicated customer accounts, I mean the exact same account (name, surname, email etc) only differs the id.

I'm on 1.7.6.0 and this still happens.
I'm not able to reproduce it as it won't happen all the times.
I talked with the developers of the modules I use and this is not originated from any module.

I also fou

[2019-08-04 14:32] fruitfreak opened #14981 "403 Forbidden pop-up when selecting combination"
1. Go to https://plante-protein.dk/protein-pulver/39-258-pulsin-supershake-vegansk-proteinpulver.html
2. Select between flavors - last one ('Immunity') has different sizes and instead of the sizes simply changing to the relevant ones, when selected - it triggers a pop-up error 403.
3. When you change back to to one of the other two variations - the pop-up triggers again.

http://prntscr.com/oo69jv

[2019-08-04 17:27] JulianEberius commented on #14790
Hi again. I've found the issue by stepping through the code with a debugger.

My shop's root/home category was set to "Displayed: No", because it was unused in the shop's frontend anyway. In this case, the method Category::getNestedCategories will return an empty array, because the SQL query there will not return the root category, and the following loop will not work without the root category in

[2019-08-04 20:35] omar2886 commented on #14518
Dear @khouloudbelguith & @marionf,
I've seen that there has been an upgrade to this module, I've just tested it but this hasn't been yet fixed, I'd like to know if this feedback is going to be taken into account for future upgrades or maybe it does actually affect a core feature of Prestashop that would need to be changed in a major upgrade that may take longer and would require us to upgrade the

[2019-08-04 20:36] banan44 commented on #14816
@khouloudbelguith I did what you asked. For a few days the problem was not present anymore until yesterday. Main menu dissapeared twice between 22:00 and 23:00. I have attached new logs: https://drive.google.com/open?id=19n0hmkuv2QCZ_0RhYgAGfcgxXdRs6fmT

lbshop.eu.error.log - is for today
lbshop.eu.error.log.1 - is for yesterday (when the main menu dissappeared).

I have noticed that it dissapeare

[2019-08-04 20:39] mickaelandrieu commented on #13501
@khouloudbelguith nope and it's shipped now in 1.7.6 so it's too late => closed.

[2019-08-05 06:30] yannicka commented on #14957
There is no override of the class `PaymentModule.php`.

[2019-08-05 06:30] cboillat commented on #14537
@khouloudbelguith
So if I want to have the right price and table prices even if not logged I must use a plugin like [this one](https://addons.prestashop.com/fr/international-localisation/27368-geo-targeting-pro-by-country-prices-taxes-currency-.html) ?

[2019-08-05 06:49] dharmendravirasat opened #14982 "I want to add price (Impact on price Product price (tax excl.)) with import product csv file but, could't found column"
Impact on price
Product price (tax excl.) this column add in csv but i could't found.
basically i want to use Specific price conditions.
I have a columns
Discount amount,
Discount percent,
Discount from (yyyy-mm-dd),
Discount to (yyyy-mm-dd)
but i need this column Impact on price Product price (tax excl.)
![image](https://user-images.githubusercontent.com/44469219/62443573-de986a80-b778-11e9-9ae8-

[2019-08-05 07:22] khouloudbelguith commented on #14474
Hi @BenTen,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-05 07:22] #14474 closed, assigned to nobody

[2019-08-05 07:24] khouloudbelguith commented on #14479
Hi @01park,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-05 07:26] khouloudbelguith commented on #14485
Hi @go-sudo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-05 07:26] #14485 closed, assigned to nobody

[2019-08-05 07:27] khouloudbelguith commented on #14482
Hi @Noido,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-05 07:27] #14482 closed, assigned to nobody

[2019-08-05 07:27] marionf commented on #14518
Hello @omar2886

This issue will be fixed in the next version of facetedsearch.

FYI here is what we will do:
Add 3 options in facetedsearch when the filter by stock is enabled:
- Display in stock products: Yes / No
If the option is set to Yes, display in FO an “In stock” checkbox: Product quantity > 0
- Display available products: Yes / No
If the option is set to Yes, display in FO an “Available”

[2019-08-05 07:31] khouloudbelguith commented on #14495
Hi @madkot,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-05 07:31] #14495 closed, assigned to nobody

[2019-08-05 07:32] khouloudbelguith commented on #14472
Hi @Interdeportes,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-05 07:32] #14472 closed, assigned to nobody

[2019-08-05 07:41] khouloudbelguith commented on #14978
Hi @jhuanmy,

Thanks for your report.
You have a bug with the `spfooterlinks` module.
Have you tried to contact the module author about this issue?
Thanks to check with them & feedback.

[2019-08-05 07:47] Mars228 commented on #14974
On previous screen shows error but this same file on import in Prestashop 1.7.5.2 shows:
![Zrzut ekranu z 2019-08-05 09-42-15](https://user-images.githubusercontent.com/582141/62447390-902da080-b765-11e9-94b9-d0c35430f27b.png)

As attachment sample of *.csv file which was imported
[gatito_items_er.zip](https://github.com/PrestaShop/PrestaShop/files/3466431/gatito_items_er.zip)

[2019-08-05 07:59] groomershop commented on #14974
On the second screen (PrestaShop 1.5.2) I see that you have not multishop, so this is probably, why it is processed without problem.

[2019-08-05 08:00] marionf commented on #9821
@matks
It seems the issue was already there before but the exception was not displayed.
Maybe the exception is displayed now because of the migration.
So, not sure if it's a regression or not and if we should fix it in 1.7.6.1, wdyt ?

[2019-08-05 08:07] liviu-v commented on #14633
No fix for this issue yet?!?

[2019-08-05 08:20] khouloudbelguith commented on #14633
Hi @liviu-v,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14719 to fix the issue & it should be reviewed by our developers.

Thanks!

[2019-08-05 08:33] khouloudbelguith commented on #14974
Hi @Mars228,

As said by @groomershop, in the first screenshot, `all shops` option is selected
![image](https://user-images.githubusercontent.com/16067358/62450293-f0bbde00-b763-11e9-99cb-b7dee8591d23.png)
But in the second screenshot, Multishop context is not enabled
![image](https://user-images.githubusercontent.com/16067358/62450364-1517ba80-b764-11e9-9e34-1911cdd3a5d7.png)

Thanks to check & f

[2019-08-05 08:40] khouloudbelguith commented on #10122
Same issue with PS1.7.6.0

[2019-08-05 08:43] khouloudbelguith commented on #14980
Hi @seederp2p,

The problem is that the guest account is not transformed into a customer account, it creates a second account.
###
_So, The problem is that the guest account is not transformed into a customer account, it creates a second account => there is no alert => visitors can do multiple orders with the same mail address => this is the whole issue => it needs to be specified by our developer

[2019-08-05 08:43] khouloudbelguith commented on #14980
Duplicate of #10122

[2019-08-05 08:43] adu42 opened #14983 "Keeping things secure?"
"Adding an index.php file at the root of any module folder you create"?

Why not using module routing and set public assets and entry index.php for all routing?

We can see the modules route is confusion.

Do we need to refer to the PCI DSS specification?

[2019-08-05 08:45] khouloudbelguith commented on #14983
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-08-05 08:51] khouloudbelguith commented on #14981
Hi @fruitfreak,

This issue occurs with the `productextratabs` module.
![image](https://user-images.githubusercontent.com/16067358/62451672-9a9c6a00-b766-11e9-8dc7-40c55dd07821.png)

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-08-05 08:51] #14981 closed, assigned to nobody

[2019-08-05 09:15] matthieu-rolland commented on #14416
So I made the display of email configurable, that required two pr:

The ps_contactinfo module: PrestaShop/ps_contactinfo#13

Prestashop's classic theme:

https://github.com/PrestaShop/PrestaShop/pull/14539

[2019-08-05 09:17] matthieu-rolland commented on #14416
@marionf there was actually no need to modify the contactform module, the email address in its left column is managed by the ps_contactinfo module as well.

The two PRs are open for review. I noticed there is no label for wording in modules repositories, I will ping @LouiseBonnard here and in the module's pr.

[2019-08-05 09:22] marionf opened #14984 "SEO preview on product page"
**Describe the bug**
1) The friendly URL in the SEO preview on product page doesn't update in live.
If I change the friendly URL I need to save and refresh the page to see it in the preview.
It should be displayed directly like when I edit meta title & meta desc.

2) The SEO preview on product page isn't displayed in the selected language

**To Reproduce**
Steps to reproduce the behavior 1) :
1. G

[2019-08-05 09:32] khouloudbelguith commented on #14982
Hi @dharmendravirasat,

Thanks for your report.
Yes, I have the same behavior with PS1.7.6.0 & PS1.7.5.2.
I cannot add the `fixed price` into csv file.
Ping @marionf, @colinegin what do you think to add this option?

Thanks!

[2019-08-05 09:39] khouloudbelguith commented on #14537
@cboillat, yes it could be a solution to your problem.
Since in my case, I did not manage to reproduce the issue.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
Thanks!

[2019-08-05 09:39] #14537 closed, assigned to nobody

[2019-08-05 09:40] dharmendravirasat commented on #14982
I think we need to change importController.php
In importController.php  add fixed price column
 @khouloudbelguith

[2019-08-05 09:41] khouloudbelguith commented on #14957
@yannicka, Could you please provide me access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-08-05 09:42] khouloudbelguith commented on #14982
@dharmendravirasat,
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-05 09:45] dharmendravirasat commented on #14982
ok thanks

[2019-08-05 09:55] liviu-v commented on #14633
@khouloudbelguith Thank You very much for your fast reply! Pardon me but I am new in here, what exactlly does it mean, like aproximativlly when this error will be resolve by your delevopers? and I will find the fix for this issue in the PR #14719 or here in this issue: #14633, now is in progress correct?

[2019-08-05 09:56] Mars228 commented on #14974
Ok, once again - same *.csv file in PS 1.7.6 and 1.7.5.2, both multistore, both one specific store:
![Zrzut ekranu z 2019-08-05 11-53-22](https://user-images.githubusercontent.com/582141/62456121-0b984d80-b778-11e9-84fc-406ef29c110c.png)
![Zrzut ekranu z 2019-08-05 11-51-06](https://user-images.githubusercontent.com/582141/62456132-118e2e80-b778-11e9-9d47-e9b4bd15f058.png)

[2019-08-05 10:02] khouloudbelguith commented on #14633
@liviu-v, it should be fixed in a few days.
Yes, this is the fix https://github.com/PrestaShop/PrestaShop/pull/14719/files, it will be added in the next version PS1.7.6.1.
Thanks!

[2019-08-05 10:02] marionf opened #14985 "Remove tabs for summary & description fields in product page"
For more visibility & time saving, display the description below the summary, so that both are visible without having to click on one and the other

[2019-08-05 10:45] khouloudbelguith commented on #14733
HI @Co-Co-it,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & 1.7.6 are compatible with PHP 7.2.
Next Major release PS1.7.7 will be compatible with PHP7.3.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/

Thanks!

[2019-08-05 10:46] khouloudbelguith commented on #11517
Hi @mirali-se,

This issue is different, can you open a new one with more information about your configuration.

Thanks!

[2019-08-05 10:47] stefanovita opened #14986 "iso_code_num and numeric_iso_code set to zero after upgrade to 1.7.6.0"
After upgrade to 1.7.6.0 with the one click upgrade module the currency object always returns 0 for the field "iso_code_num". Analyzing the code, in the currency object constructor there is:

`$this->iso_code_num = $this->numeric_iso_code;`

During the updgrade the new column "numeric_iso_code" is added but set to zero for all the currencies.

**To Reproduce**
Steps to reproduce the behavior:
1. U

[2019-08-05 10:55] khouloudbelguith commented on #14986
Hi @stefanovita,

This issue is fixed.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14664
Your ticket is a duplicate of #14608
So, I close it.
Thanks !

[2019-08-05 10:55] #14986 closed, assigned to nobody

[2019-08-05 10:55] khouloudbelguith commented on #14986
Duplicate of #14608

[2019-08-05 10:59] pollat opened #14987 "In Prestashop 1.7.6 is disappear colum quantity"
After I updated Prestashop from 1.7.5 to 1.7.6 version, I see that on catalogue page is disappeared the column "Quantity". The same problem is on combination section of each product, where is disappear the column "Quantity".
So, now we cannot have idea of quantity remain of single product.

Please solve this issue as soon as possible an let me know.

[2019-08-05 11:21] khouloudbelguith commented on #14987
Hi @pollat,

I did not manage to reproduce the issue with PS1.7.6.0 after upgrade from PS1.7.5.2. using the 1-click upgrade v4.9.0.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - scr

[2019-08-05 11:24] khouloudbelguith commented on #14974
@Mars228, I did not manage to reproduce the issue with PS1.7.6.0, Multistore context is enabled, shop1 is selected for the import.
I used your file CSV attached.
[gatito_items_er2.txt](https://github.com/PrestaShop/PrestaShop/files/3467337/gatito_items_er2.txt)

I attached a screen record
https://drive.google.com/file/d/1HwUahbzFs_3fq0AqtXX6bc8qT0OZLRSp/view
Thanks to check & feedback.

[2019-08-05 11:48] khouloudbelguith commented on #14790
Hi @LimousinArcherie,

Thanks for these clarifications.
I manage to reproduce the issue with PS1.7.6.0.
In fact, a disabled category is not displayed in the "Parent category" section, which is not the same behavior as PS1.7.5.2.
https://drive.google.com/file/d/1tddbHs0rQgZmgtYYACKdOJ4rULrL2QcZ/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or i

[2019-08-05 11:54] Mars228 commented on #14974
Is it even possible to debug looks we have same version 1.7.6 - don't know if we have same "revision" differences(?) This is a fresh install of PS without any modules. During import in my case i select polish lang, "Field separator" = , (comma) and "Multiple value separator" = ; (semicolon)
Maybe there is some PHP cofiguration difference? /I'm using PHP Version 7.2.20/ Don't have any notice in "Ad

[2019-08-05 12:02] seederp2p commented on #14980
I have not guest accounts. It's disabled

Please re-open.

[2019-08-05 12:06] seederp2p opened #14988 "Special Characters on Private Notes and Order Messages - 1.7.6.0"
Upgraded to 1.7.6.0 and at the backoffice special characters like á, é, ç, ê, ã won't show correctly.

This happens on Private Notes and Order Messages

Did not happen on 1.7.5.x

[2019-08-05 12:23] khouloudbelguith commented on #14988
Hi @seederp2p,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9726
So, I close it.
Thanks!

[2019-08-05 12:23] #14988 closed, assigned to nobody

[2019-08-05 12:23] khouloudbelguith commented on #14988
Duplicate of #9726

[2019-08-05 12:24] grigorevlad opened #14989 "Faceted search - issue with feature values order"
Faceted search sorts feature values in numeric and alphabetic order, but latest 3.2.0 version fails to sort correctly in the following example.

To reproduce just add some numeric features to a product:
3
11
13
35
56
110
130

On search block the module will display this order:
11
110
13
130
3
35
56

Screenshot:
![Untitledaa](https://user-images.githubusercontent.com/8983330/62464298-ebc35280-b794-

[2019-08-05 12:25] khouloudbelguith commented on #14980
@seederp2p, so did you any custom module to sign in or registration?

Thanks!

[2019-08-05 12:33] seederp2p commented on #9726
Any fix for 1.7.6.0 ?

[2019-08-05 12:36] seederp2p commented on #14988
Please not that this also happens on private messages which is not refered on the existing tickets...

[2019-08-05 12:36] khouloudbelguith commented on #9726
@seederp2p, sorry it is not fixed yet.
Thanks for your understanding!

[2019-08-05 12:40] seederp2p commented on #9726
@khouloudbelguith the fix provided by lutol for the messages work.

But there is no fix for the private messages! please reopen the other ticket.

[2019-08-05 12:41] seederp2p commented on #14980
I did use a GDPR module bought on prestashop official store.

[2019-08-05 12:41] seederp2p commented on #14988
Please re-open this have the private messages problem fixed...

[2019-08-05 12:47] thomas-coichot opened #14990 "ps_featuredproducts Warning"
**Describe the bug**

ContextErrorException
Warning: A non-numeric value encountered in the ps_featuredproducts module in debug mode

**Screenshots**
![Capture d’écran 2019-08-05 à 14 33 28](https://user-images.githubusercontent.com/35110724/62465701-d26bd780-b78f-11e9-9994-bd2bdc4bd25c.png)
![Capture d’écran 2019-08-05 à 14 33 45](https://user-images.githubusercontent.com/35110724/62465705-d5

[2019-08-05 12:59] khouloudbelguith commented on #14980
@seederp2p, this module?
![image](https://user-images.githubusercontent.com/16067358/62466427-2de69700-b789-11e9-8023-7e4254717c8c.png)

Thanks!

[2019-08-05 13:00] zuk3975 commented on #10552
Fixed some multishop behavior issues with this #14991 and noticed the following:
As a merchant in `All shops context` i would expect to see data fetched from all of my shops, but currently the data is taken from default shop (I guess this is because if we don't filter shop_id in query, we would see duplicated products) maybe its associated with improvement suggested above ? or perhaps it should be

[2019-08-05 13:02] khouloudbelguith commented on #14911
Hi @coffeebean19,

Sorry for this bug.
But in our case, we did not manage to reproduce the issue with PS1.7.6.0 fresh install & after an upgrade from a Previous Version.
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and tes

[2019-08-05 13:02] #14911 closed, assigned to nobody

[2019-08-05 13:13] khouloudbelguith commented on #14990
Hi @TwiX95,

I did not manage to reproduce the issue with PS1.7.6.0 & the ps_featuredproducts module.
I attached a screen record
https://drive.google.com/file/d/1kACwsz04OwFcNp6BhT16QDGyYIUNACqN/view
Thanks to check & feedback.

[2019-08-05 13:15] seederp2p commented on #14980
No.

This: https://addons.prestashop.com/en/legal/8123-data-privacy-extended-data-protection-law-gdpr.html

[2019-08-05 13:18] khouloudbelguith commented on #14980
@seederp2p, Have you tried to contact the module author about this issue?, in my case, I did not manage to reproduce the issue with PS1.7.6.0, after registration, only one customer is created.

Thanks!

[2019-08-05 13:29] khouloudbelguith commented on #14974
@Mars228, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-08-05 13:38] khouloudbelguith commented on #14974
@Mars228, in my case, it is OK.
https://drive.google.com/file/d/1Xk6aSLWko5eDXjrxpV2_fHBBKHVgPMj-/view
Thanks!

[2019-08-05 13:53] TwiX95 commented on #14990
The bug initially comes from a module present in a purchased theme. The module in question is a duplicate of the ps_featuredproducts module. I can't find which variable is not numeric.

[2019-08-05 13:54] khouloudbelguith commented on #14990
@TwiX95, As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-08-05 13:54] #14990 closed, assigned to nobody

[2019-08-05 13:59] futurehousestore commented on #9503
Hi,
Is there any update on this issue, please?

[2019-08-05 14:02] khouloudbelguith commented on #14964
@RemoRound, Thanks for your feedback.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-08-05 14:02] #14964 closed, assigned to nobody

[2019-08-05 14:05] khouloudbelguith commented on #14887
Hi @all,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-08-05 14:05] #14887 closed, assigned to nobody

[2019-08-05 14:06] khouloudbelguith commented on #14969
@suncho26, sorry, but what is the exact link?
Thanks!

[2019-08-05 14:07] khouloudbelguith commented on #14888
@harm-smits, so the issue is not a PrestaShop core issue? is it?

Thanks!

[2019-08-05 14:09] khouloudbelguith commented on #14988
Hi @seederp2p,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14605 to fix this issue.
It is fixed in the next version PS1.7.6.1.
Thanks!

[2019-08-05 14:10] khouloudbelguith commented on #9726
@seederp2p, Here's the PR: #14605 to fix this issue for the private note.
Thanks!

[2019-08-05 14:15] sirius82 opened #14993 "ps_legalcompliance unit_price tax"
Hello, because my previously post was closed and I don't know how to re-open it and I don't know if my last reply could be seen so I create a new post.

The settings :
PS **1.7.5.2** (not 1.7.6 tested to try to reproduce the issue)
ps_legalcompliance activated
tax activated.
Prices showed only to a custom group of clients (groupe name = pro)
Prices showed tax exc.
PHP 7
Theme : ZOneTheme (but trie

[2019-08-05 14:18] khouloudbelguith commented on #14975
@vagaluz, Thank you for your message.
Could you please contact our support team via [module page on PrestaShop Addons](https://addons.prestashop.com/fr/contactez-nous?id_product=1748)?
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-08-05 14:18] #14975 closed, assigned to nobody

[2019-08-05 14:20] khouloudbelguith commented on #10331
@fruitfreak, this issue occurs with the `productextratabs` module.
Thanks!

[2019-08-05 14:22] khouloudbelguith commented on #12328
Hi @Arnaldo405,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2019-08-05 14:26] msautral commented on #14733
Hi @Co-Co-it and @stellatmy I am not using the classic theme, please install the classic-rocket theme, you can download it from [https://github.com/PrestaShop/classic-rocket](url) , it is almost the same theme as classic, once you installed you can do the procedure that i mention before and it will work until the fix is ready.

[2019-08-05 14:37] khouloudbelguith commented on #14989
Hi @grigorevlad,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 & the ps_facetedsearch v3.2.0.
![image](https://user-images.githubusercontent.com/16067358/62472521-c9323900-b796-11e9-82c5-2e9e9d4520ba.png)
It was Ok with ps_facetedsearch v3.0.6.
![image](https://user-images.githubusercontent.com/16067358/62472541-d51dfb00-b796-11e9-84fd-c4026a64af87.png)
I’ll add this to t

[2019-08-05 14:56] eternoendless commented on #12223
Is there a use case for "I want my cart calculations to be less precise than as much as possible"? --> If not, then I suggest we drop this option altogether.

[2019-08-05 14:56] cboillat commented on #14537
@khouloudbelguith
Alright thank you for all the tests, video and for your help. Maybe an update to 1.7.6.0 will correct my bug.

[2019-08-05 15:50] toyser opened #15185 "Error in upgrade to prestashop 1.7.5.2 to 1.7.6.0"
**Describe the bug**
the update of prestashop is impossible.
I tried the update with the module "1-click upgrade", I installed it and when I launched it, it failed after a moment.

**Upgrade environment (please complete the following information):**
 - Version you started from: [e.g. 1.7.5.2]
 - Version you upgrade to: [e.g. 1.7.6.0]
 - Way of upgrade: Web

**Displayed log**
[code]

**Expected beh

[2019-08-05 16:12] khouloudbelguith commented on #14993
Hi @sirius82,

Thanks for these clarifications.
Following these steps, I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.1 & the ps_legalcompliance module v3.0.1 & ps_legalcompilance v3.0.2.
https://drive.google.com/file/d/1RUq8UF-ji8rYo8PF10h2BiiugkyVBMIF/view
![image](https://user-images.githubusercontent.com/16067358/62478923-3d270e00-b7a4-11e9-97b3-e663104a2b8f.png)

I’ll add this to th

[2019-08-05 16:14] khouloudbelguith commented on #14892
Issue created here: #14993.

[2019-08-05 16:22] eternoendless opened #14994 "[EPIC] Architecture issues"
PrestaShop has some deeply-rooted technical issues that need systemic treatment:

## EPIC
- [ ] #13863

## Features
- [x] #12586
- [x] #19480
- [x] #20333
- [x] #22327
- [x] #30213

## BUGS

## Fixed
- [x] #12925
- [x] #14173
- [x] #12051
- [x] ~#14995~
- [x] ~#12461~
- [x] ~#13829~

[2019-08-05 16:24] matthieu-rolland opened #14995 "Two service containers coexist in back office - there should be only one"
In back office, when requesting a page that has been migrated in symfony, when asking for a container from Context, we get an instance of **AdminContainer**, a service container generated by symfony, whose name is probably based on **config/services/admin**.

So it seems like we have the **SymfonyContainer** and the so called **AdminContainer** living in parallel when we are in a migrated page in

[2019-08-05 16:29] sirius82 commented on #14993
Thanks a lot. I'm not PHP dev ...
I tried to replace the call to the hook by the code of product-prices.tpl but it causes an error about displayunitPrice. Do you want the exactly message ?

[2019-08-05 16:42] khouloudbelguith commented on #14816
In the second file `lbshop.eu.error.log.1`, you have a PHP fatal error in the var/cache directory.
This is a cache issue, you need to clear cache from your shop.
In the other file, you have this error

I think it is related to your server, you need to check it with your host.

PS: in the two files, there is no error related to the ps_facetedsearch & main menu module.

Thanks!

[2019-08-05 16:42] jolelievre commented on #14995
So the name is not based on the config files, but rather on the way `ContainerBuilder` builds its dump container class in the cache:

https://github.com/PrestaShop/PrestaShop/blob/4e7901984b73ddffa5234680203f19cda0e395cf/src/Adapter/ContainerBuilder.php#L117

And in the `AdminController` class, the legacy (light) container is built this way:

https://github.com/PrestaShop/PrestaShop/blob/4e7901984

[2019-08-05 17:41] samcristoper commented on #14924
I put prestashop in debug mode and this is what appears on my website

(1/1) ContextErrorExceptionWarning: count(): Parameter must be an array or an object that implements Countable
--
in posstaticblocks.php line 125
at posstaticblocks->hookDisplayNav(array('smarty' => object(SmartyDevTemplate), 'cookie' => object(Cookie), 'cart' => object(Cart), 'altern' => 1))in Hook.php line 970
at HookCore::co

[2019-08-05 17:43] samcristoper commented on #14924
[www.mimallweb.com.pdf](https://github.com/PrestaShop/PrestaShop/files/3468735/www.mimallweb.com.pdf)

[2019-08-05 19:48] web-burn opened #14996 "Rating disappear after using of pagination or select filter Prestashop 1.7.6.0"
**Describe the bug**
I am using the PrestaShop 1.7.6.0 and "Classic" theme. I have noticed a bug with a native module "Products comments" on catalog page.  A rating disappear after using of pagination or enabling of a filter.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a native module "Product comments":
http://prntscr.com/ooqmmq
2. Leave a comment:
http://prntscr.com/ooqnu1
3. G

[2019-08-05 20:00] seederp2p commented on #14980
They said that It is not their module.

If you check here there's more people with the same problem:

https://www.prestashop.com/forums/topic/689513-usuarios-duplicados/

[2019-08-05 21:37] banan44 commented on #14816
These errors in var/cache directory happends very often. What might be the cause of that? I cleared cache like you asked me a couple of days ago. The var/cache directory was empty and fatal errors keeps happening.

I will ask host about ReceiveAckHdr: backend reset connection. I will let you know what they tell me. I realize there are no errors related to faceted search and main menu. I am just te

[2019-08-06 01:20] Co-Co-it commented on #14733
Hi everyone,
in an attempt to resolve alerts during the installation of prestashop, I installed various versions of xampp until I received the error during the installation of prestashop 1.7.6.0: "symfony requires php 7.1.3 or higher", so I chose xampp v. 7.1.8 with php 7.1.8 and finally it seems that everything works. The only error occurs at random is a blank page 500 error, but just restart the

[2019-08-06 02:16] msautral commented on #14733
Hi @Co-Co-it,

- for dev I suggest you to use Wamp `http://www.wampserver.com/en/` in his last version using PHP 7.2.14, it does work without any problem. (if you are running it on windows you need to add the php path on the environmental variables -> system variables, so you do not get an error when you are installing Prestashop)

- for production I suggest you to use Bitnami Photoshop image `htt

[2019-08-06 04:31] Co-Co-it commented on #14733
Hi msautral,

they were probably all problems related to the php version, now I have installed xampp 7.2.1 with php 7.2.1 on windows and prestashop 1.7.6.0 standard and it seems to work fine, without installation errors, with working translations, and no error 500 at the moment.
However I will also try Bitnami-Prestashop 1.7.6.0 with Wamp as recommended by you.

Sorry if I have dwelt but it all st

[2019-08-06 06:36] Laquepinta opened #14997 "Cannot change prestashop language/ order status"
hi!
I updated my prestashop no newest version and now I cannot not change order status neither language of my dashoard.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain yo

[2019-08-06 06:54] Bugfunder commented on #12930
This is because this form assumes you use TCP host/port to connect to the DB server, not the unix sockets (which are much faster). Please check what this form does, and add the possibility of using unix sockets to this form.

[2019-08-06 07:49] khouloudbelguith commented on #14997
Hi @Laquepinta,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prest

[2019-08-06 08:05] Mars228 commented on #14974
Log file contains information from attempted import of *.csv file. Any help is welcome...
[dev.zip](https://github.com/PrestaShop/PrestaShop/files/3471032/dev.zip)

[2019-08-06 08:16] khouloudbelguith commented on #14924
@samcristoper, this issue occurs due to the `posstaticblocks` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-08-06 08:16] #14924 closed, assigned to nobody

[2019-08-06 08:28] #9825 closed, assigned to khouloudbelguith

[2019-08-06 08:35] khouloudbelguith commented on #14980
@seederp2p, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-08-06 08:37] khouloudbelguith commented on #14816
@banan44, thanks!
Waiting for your feedback.

[2019-08-06 08:38] web-burn commented on #14996
Can you help me?

[2019-08-06 08:42] kpodemski commented on #14996
it's known bug of new version of module, you have to wait for a new version with fix

[2019-08-06 08:45] khouloudbelguith commented on #14996
Hi @web-burn,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #14878
So, I close it.
Thanks!

[2019-08-06 08:45] #14996 closed, assigned to nobody

[2019-08-06 08:45] khouloudbelguith commented on #14996
Duplicate of #14878

[2019-08-06 08:55] marionf commented on #14846
@PrestaShop/prestashop-core-developers should we fix it in 1.7.6.1 ?

[2019-08-06 09:02] Bugfunder opened #14998 "DB connection via unix socket"
**Is your feature request related to a problem? Please describe.**
Doctrine supports connection to MySQL via unix sockets, but there is no way to configure this in
app/config/parameters.php

**Describe the solution you'd like**
Possibility to configure unix socket connection in app/config/parameters.php
for example by:

    'database_host' => '',
    'database_unix_socket' => '/var/run/mysqld/mysq

[2019-08-06 09:02] #12827 closed, assigned to Progi1984

[2019-08-06 09:02] matthieu-rolland commented on #12223
That does make sense...  I didn't think about it this way, but why would someone want to make his calculations less precise, what is the added benefit?

@marionf do you think we should do what @eternoendless suggests?

[2019-08-06 09:15] web-burn commented on #14996
@khouloudbelguith, sorry, thank!

[2019-08-06 09:23] khouloudbelguith commented on #14979
Hi @groomershop,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.1.
With PS1.7.6.0

- Load Time | 2767 ms
- Stopwatch SQL - 1796 queries

![image](https://user-images.githubusercontent.com/16067358/62527964-01d42000-b834-11e9-9917-f5f8351163fd.png)

With PS1.7.5.1
Load Time	1491
Stopwatch SQL - 2157 queries

![image](https://user-images.githubusercontent.com/16067

[2019-08-06 09:31] khouloudbelguith commented on #12930
Hi @Bugfunder,

Thank you for your feedback.
We'll first try to reproduce it and we'll come back to you if we need more information.

Thanks!

[2019-08-06 09:32] #12930 closed, assigned to nobody

[2019-08-06 09:33] khouloudbelguith commented on #14998
Hi @Bugfunder,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-08-06 09:34] khouloudbelguith commented on #12930
Related to #14998.

[2019-08-06 09:47] khouloudbelguith commented on #14974
@Mars228, thanks for your feedback.
In your log file, you have this exception

It is related to the multishop context, Import is supported only for one shop.
Could you please, try to disable multistore, try to import the file again & feedback.

[2019-08-06 09:48] groomershop commented on #14979
Ok, great. We are rather unable to solve this - we are working on migration from another platform to PrestaShop and this was one of our test before migration. We plan to migrate in September, so there is time to solve this before our production start.

[2019-08-06 09:55] itnomic opened #14999 "Faceted navigation - Multiple filter problems"
**Bug**
After module upgrade from 2.x.x to 3.x.x I'm not able to filter articles correctly. I have the issue on different shops. I tried also do make a clean install of the module and use the original classic-template without any changes but it doesn't help. After downgrading to 2.x.x I don't have the bug anymore.

**Video**
https://streamable.com/l24ea

**Forum**
https://www.prestashop.com/forums

[2019-08-06 10:13] samuel-pires commented on #12223
I agree it makes sense to me to drop it.

Though what are the possible impacts of using 6 decimals for calculations vs 2 (I guess most users used to let 2 decimals in this field)?

@marionf do you see a case where it could be needed?

[2019-08-06 10:30] Mars228 commented on #14974
As You suggest I turn OFF multistore, "Clear cache" and try to import, have this:
![Zrzut ekranu z 2019-08-06 12-21-17](https://user-images.githubusercontent.com/582141/62532589-02c17d80-b845-11e9-859a-8c824f55f692.png)
[dev.zip](https://github.com/PrestaShop/PrestaShop/files/3471692/dev.zip)

[2019-08-06 10:32] khouloudbelguith commented on #14999
Hi @itnomic,

I did not manage to reproduce the issue with PS1.7.6.0 & the ps_facetedsearch v3.0.6 & v3.2.0.
I attached a screen record
https://drive.google.com/file/d/1ijnUVPviyCYwdeseFbHAUW5oxeNYS-WS/view
This issue is fixed with this PR: https://github.com/PrestaShop/ps_facetedsearch/pull/72 (fixes this issue: https://github.com/PrestaShop/PrestaShop/issues/13985#issuecomment-496228818)

Thanks

[2019-08-06 10:38] MathiasReker opened #15000 "1.7.6.1 ETA"
Is there a ETA for 1.7.6.1?

[2019-08-06 10:42] khouloudbelguith commented on #15000
Hi @MathiasReker,

There are some issues should be fixed for the PS1.7.6.1, they are still open.
You can follow this link for me details: https://github.com/PrestaShop/PrestaShop/milestone/56
Thanks!

[2019-08-06 10:42] #15000 closed, assigned to nobody

[2019-08-06 10:55] khouloudbelguith commented on #14595
Hi @presciak,

1. Before the upgrade, I created orders with products that have specific prices with different payment modules (check & PayPal)
2. Make an upgrade from PS1.7.5.2 to PS1.7.6.0 using the 1-click upgrade v4.9.0 => OK
3. Go to BO => Orders page => OK => no exception is displayed
4. Create some other orders after the upgrade => OK

The only issue reproduced is this https://github.com/Pre

[2019-08-06 10:58] khouloudbelguith commented on #14974
@Mars228, in the new file provided, there are only PHP `Warnings` & PHP `INFO`.
Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-08-06 11:00] BobvanderValk commented on #14617
So I upgraded 1.5.2.0 to 1.7.6.0 with the known problems: fields are missing in database.  Only 1 fix is given here, the rest stays open.  Admin crashes in many places.  I can not find on the screen in what table a field is missing.  I am not a programmer.
My problem: how to fresh install 1.7.6.0 and load the backup of a database 1.7.5.2 (or 1.7.5.1)???
I tried to upgrade the database in 1.7.5.2 t

[2019-08-06 11:06] itnomic commented on #14999
Hi,
no, the problem still exists on many shops, see prestashop community. What php-version do you use? I made a longer video, i was upgrading the module from 2.x.x to 3.x.x.. Maybe it is a problem after upgrading to the new major version?

Video 2:
https://streamable.com/fw81e

[2019-08-06 11:08] JorgeNogueiraLFMPro opened #15001 "Email Notifications - new_order"
Hi,

We are not receiving email notifications of new orders. Just yesterday we received, but today several orders have dropped and we have not received email's.

I never changed the module configuration. and now even the site crashes when I have the active module

![image](https://user-images.githubusercontent.com/49063138/62535169-ad846c80-b842-11e9-8e5e-0d9bbb14d1e7.png)

**Additional informatio

[2019-08-06 11:08] eternoendless commented on #14844
IMO the form theme should be fixed so that all forms are rendered using `form_widget()`

[2019-08-06 11:09] khouloudbelguith commented on #15001
Hi @JorgeNogueiraLFMPro,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.

[2019-08-06 11:26] eternoendless commented on #12223
Using more decimal positions leads to more precise calculations.

[2019-08-06 11:31] JorgeNogueiraLFMPro commented on #15001
PHP error log:
Apache: /var/log/apache/php_error.log
Nginx: /var/log/php-fpm/default/error.log
IIS: %SystemDrive%\inetpub\logs\LogFiles
Server setup:
Operating system.
Type and version of webserver (Apache, Nginx, IIS, other).
Version of PHP.
Version of MySQL/MariaDB.
Make sure you have emptied PrestaShop’s cache!

[bGZtcHJvLmNvbS5lcnJvci5sb2c= (1).zip](https://github.com/PrestaShop/PrestaShop/fil

[2019-08-06 11:36] khouloudbelguith commented on #14960
Hi @eternoendless,

I tried to import a theme with nothing inside the translations directory.
I have this error
![image](https://user-images.githubusercontent.com/16067358/62536699-829c1780-b846-11e9-8670-e0a24fba4fe8.png)
I tried also with a child theme => Same behavior
[childtheme-example.zip](https://github.com/PrestaShop/PrestaShop/files/3471937/childtheme-example.zip)

Only this error, withou

[2019-08-06 12:15] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, thanks for your feedback.

I found this error in your log file

What is the exact version of the `mailalerts` module did you use?
Could you please try to reset it, clear cache, check & feedback.

[2019-08-06 12:20] khouloudbelguith commented on #14999
@itnomic, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-08-06 12:23] khouloudbelguith commented on #14823
Duplicate of #14648

[2019-08-06 12:23] #14823 closed, assigned to nobody

[2019-08-06 12:26] LouiseBonnard commented on #14941
@PrestaShop/prestashop-core-developers, what do you think?

[2019-08-06 12:30] olecorre commented on #14735
i use
 && $this->registerHook('actionManufacturerGridDefinitionModifier')
            && $this->registerHook('actionManufacturerGridQueryBuilderModifier')
            && $this->registerHook('actionManufacturerFormBuilderModifier')
            && $this->registerHook('actionAfterUpdateManufacturerFormHandler')
            && $this->registerHook('actionAfterCreateManufacturerFormHandler')

but i have

[2019-08-06 12:41] LouiseBonnard commented on #14685
@PrestaShop/prestashop-core-developers, any news?

[2019-08-06 12:42] JorgeNogueiraLFMPro commented on #15001
Hi,
I tried to do what you told me but still don't send new_order email.
The error on the page has disappeared.

Alertas por e-mail
v2.1.1

[2019-08-06 12:47] jolelievre commented on #14846
Hi @marionf yes I guess we should look for a way to avoid this BC break.

[2019-08-06 12:52] jolelievre commented on #14941
@Bonobomagno you can manage multi-language content "by hand" by creating a OneToMany relation to another entity dedicated to store the multi-language content

[2019-08-06 12:54] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, in the BO => Advanced Parameters => Administration page, check if the option "Show notifications for new orders" is enabled.
![image](https://user-images.githubusercontent.com/16067358/62541416-a57ff900-b851-11e9-9283-b05915b6ec62.png)

Thanks!

[2019-08-06 12:56] samuel-pires commented on #10552
Hi @zuk3975,

We checked with @marionf.
- Regarding the improvement suggested, it needs more information so we won't implement it now. @marionf contacted the idea author to know more.

- Regarding the multishop behavior, we'll have to do some research about it to see how to have the best behavior possible, as you said it is a broader Multi-shop issue. We'll keep that for later.

Ok for you?
Let us

[2019-08-06 13:00] marionf commented on #14735
@PrestaShop/prestashop-core-developers Is there something to fix in 1.7.6.1 here ?

[2019-08-06 13:06] JorgeNogueiraLFMPro commented on #15001
@khouloudbelguith yes as you can see it is active

![image](https://user-images.githubusercontent.com/49063138/62542256-59ce4f00-b853-11e9-9f08-11620626a81d.png)

[2019-08-06 13:18] marionf commented on #12223
Like that, I do not see any case where the calculations would have to be less precise :thinking:

[2019-08-06 13:19] eternoendless opened #15002 "If uninstalling a module fails, each retry is performed N+1 times"
**Describe the bug**
If I try uninstalling a module via Module Manager and it results in a failure, any subsequent retry results in N requests being made, where N equals the number of retries + 1.

**To Reproduce**
Steps to reproduce the behavior:
1. Choose a module, edit its code so that the `uninstall()` method returns `false`.
2. Try to uninstall the module via module manager, it should fail wi

[2019-08-06 13:21] harm-smits commented on #14888
Well, seems like it is. Incorrect invalidation of caches seems to be a pretty big concern if you ask me... Will see if I can find a solution to this.

[2019-08-06 13:23] samuel-pires commented on #12223
Alright, then let's do it @matthieu-rolland 👍

[2019-08-06 13:28] eternoendless commented on #14735
Hi @olecorre in that context `$params` is a [ParameterBag](https://github.com/symfony/symfony/blob/3.4/src/Symfony/Component/HttpFoundation/ParameterBag.php) which means you have to use `get()` and `set()`, you can't access protected attributes directly.

[2019-08-06 13:47] itnomic commented on #14999
sure, you got an e-mail! Thank you!

[2019-08-06 13:49] khouloudbelguith opened #15004 "Cannot upload a theme with zip folder which includes the theme folder in the zip"
**Describe the bug**
When we try to upload a theme with a zip folder which includes the theme folder in the zip, an alert is displayed
PS1.7.6.0
![image](https://user-images.githubusercontent.com/16067358/62545043-d283da00-b858-11e9-8d81-83c404b7617e.png)
PS1.7.5
![image](https://user-images.githubusercontent.com/16067358/62545073-e3345000-b858-11e9-9aa1-2cbd5690a128.png)

**To Reproduce**
Steps t

[2019-08-06 13:53] khouloudbelguith commented on #14999
@itnomic, yes!
I will check & feedback

[2019-08-06 13:55] khouloudbelguith commented on #14888
@harm-smits,
Your issue is not a PrestaShop's core bug but most likely a server configuration.

Thanks!

[2019-08-06 13:55] #14888 closed, assigned to nobody

[2019-08-06 13:56] matthieu-rolland commented on #12223
ok !

I will do that then. Thank you everyone for your input

[2019-08-06 14:15] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-08-06 14:23] olecorre commented on #14735
it's ok thank

[2019-08-06 14:31] khouloudbelguith commented on #15002
I have the same issue with PS1.7.6.0 & PS1.7.5.2
https://drive.google.com/file/d/1XuIIuSAUnSJZXdifJXvTkUo5xQf8dhZm/view
I’ll add this to the debug roadmap.
Thanks!

[2019-08-06 14:37] JorgeNogueiraLFMPro commented on #15001
@khouloudbelguith
![image](https://user-images.githubusercontent.com/49063138/62549263-17f7d580-b860-11e9-82dd-0ce0c1189110.png)

[2019-08-06 14:51] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, this exception is displayed in the Product page Front office?
This link: https://www.lfmpro.com/pt/profoto-connect#/251-compatibilidade-canon?
Thanks!

[2019-08-06 14:56] JorgeNogueiraLFMPro commented on #15001
Hi,

Doesn't appear on category page.
This Link: https://www.lfmpro.com/pt/dslr

[2019-08-06 15:05] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, it is OK in my side
![image](https://user-images.githubusercontent.com/16067358/62551462-f7317f00-b863-11e9-89af-703d8c6758c9.png)

Thanks!

[2019-08-06 15:10] JorgeNogueiraLFMPro commented on #15001
@khouloudbelguith
Yes I know it is working. What I sent you was when I turned on debug mode in BO. The only problem I have in the store is not receiving new_orders emails. Isn't it better to go to the site BO to test?

[2019-08-06 15:14] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-08-06 16:06] khouloudbelguith commented on #14999
@itnomic, I tried with a shop installed with Deutch language/ Germany country => but I did not manage to reproduce the issue with PS1.7.6.0 & the ps_facetedsearch v3.2.0.
In your case, it is different.
After installing your module ps_facetedsearch v3.2.0.
Could you please check in your module folder if those files are uploaded in your module
https://github.com/PrestaShop/ps_facetedsearch/pull/72/f

[2019-08-06 16:08] lukaslau opened #15006 "Upload Quota Configuration bug"
Hello

file - src\Adapter\Upload\UploadQuotaConfiguration.php
line - 81
function - updateFileUploadConfiguration

bug: `$uploadMaxSize = (int) str_replace('M', '', ini_get('upload_max_filesize'));`

in some cases upload_max_filesize setting in php.ini file has value not 2048M but 2G.
if value is 2G variable $uploadMaxSize is set to 2 (megabytes).

solution:
$php_upload_max_filesize = ini_get('uplo

[2019-08-06 16:41] pollat commented on #14987
Attached ther'is the screenshot
![problema-quantita](https://user-images.githubusercontent.com/9538665/62558705-d2480680-b879-11e9-96a8-dfc7b26db3d4.jpg)

[2019-08-06 16:42] LouiseBonnard opened #15007 "Key is not recognized as translatable in faceted search"
**Describe the bug**
Impossible to translate "Build attributes and features indexes".

**To Reproduce**
Steps to reproduce the behavior:
1. Go in the configuration panel of the Faceted Search module
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/32565890/62558852-1509de80-b87a-11e9-9341-17f32e39fe79.jpg)

**Additional information**
PrestaShop version: 1.7.5 + 1.7.

[2019-08-06 18:28] Allthejam opened #15009 "Uninstall A Theme"
How do I get rid of a bad theme, I need to uninstall a theme that I purchased as it's far to slow and full of bugs, I was much better with the free version provided by Prestashop

I can mess with the directory files but not the database but don't really want to if I can get away with it, there must be a way of uninstalling the theme, I can't even switch back to the old one as it's now no longer gi

[2019-08-06 18:54] itnomic commented on #14999
I also tried a new clean Prestashop 1.7.6.0 version on the same server with the module ps_facetedsearch 3.2.0 and everything works fine.

But if I upgrade an old shop from ps_facetedsearch 2.x.x to 3.2.0. I have the errors again. I don't know why? I also looked in the folder, all files are the same like on github. If I downgrade the module to 2.x.x again, all filteroptions works correctly again.

[2019-08-06 20:05] matteolavaggi commented on #14973
Yes and there is no way to exit from this error. Also try to delete folder
and re upload it from a copy with no luck.

Il Ven 2 Ago 2019, 17:39 khouloudbelguith <notifications@github.com> ha
scritto:

[2019-08-06 22:03] xsbr commented on #14617
The "admin_filter" upgrade was included in 1.7.6.0.sql (by @jolelievre )
https://github.com/PrestaShop/PrestaShop/commit/2be301f710214c7941fba87f3f86c0725ec65173#diff-736be8e15e246a19ed7c0de306412ab4
`ALTER TABLE `PREFIX_admin_filter`
	ADD `filter_id` VARCHAR (255) DEFAULT '' NOT NULL AFTER `shop`,
	DROP INDEX IF EXISTS `admin_filter_search_idx`,
	DROP INDEX IF EXISTS `search_idx`,
	ADD UNIQUE IND

[2019-08-06 22:04] Klemart3D commented on #14735
I tried @khouloudbelguith's [module](https://github.com/PrestaShop/PrestaShop/files/3407486/displaybocategorytut.zip) but saved data in "Custom input" seems never displayed because `Tools::getValue('id_category')` is always false (at line 86 of **displaybocategorytut.php**). Can you check it?

So if `$params['request']->get('categoryId')` is the right way to get the current category ID from a cont

[2019-08-06 22:34] Hlavtox commented on #15001
@JorgeNogueiraLFMPro It could not be related to the module at all.

In my case, when I enable developer mode, Prestashop is unable to send any email.

[2019-08-06 23:05] webmatter commented on #12223
In PS 1.7.6 I can change the number of decimals. However, Switzerland is using a decimal point and not a comma. How can I change the comma to a point?

[2019-08-07 04:31] Claonilton commented on #10388
**Permission Administrator Full**
`insert into access ( select 1, id_authorization_role from authorization_role where id_authorization_role not in (select id_authorization_role from access where id_profile=1) order by id_authorization_role )`

[2019-08-07 07:48] khouloudbelguith commented on #14511
Hi @LSClaire,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

THanks!

[2019-08-07 07:48] #14511 closed, assigned to nobody

[2019-08-07 07:53] khouloudbelguith commented on #14512
Hi @LSClaire,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-07 07:53] #14512 closed, assigned to nobody

[2019-08-07 07:53] khouloudbelguith commented on #14524
Hi @agnesdennetiere,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-07 07:54] khouloudbelguith commented on #14500
Hi @vagaluz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-07 07:54] #14500 closed, assigned to nobody

[2019-08-07 07:57] khouloudbelguith commented on #14519
Hi @bkmgit,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-07 07:57] #14519 closed, assigned to nobody

[2019-08-07 08:02] pbpg opened #15011 "Pricing Issue"
I have an issue with the pricing of my products.
There are 2 different pricing, the correct one should be the one without discount.
These 2 website are entered from 2 different PC.
I realised that the link is different as well.

Any way to resolve this?
Someone kindly help! Urgent!

Thank you
![20190807_153731](https://user-images.githubusercontent.com/53854959/62605401-9c178f00-b92c-11e9-9a74-2bf

[2019-08-07 08:03] Laquepinta commented on #14997
Thank you so much for your quick answer!
I updated prestashop from 1.6.1. 24 to 1.7.6.
I was using an old template and changed to a ew one.
The responsible person for the template is helping me a lot adapting my shop with the new template, but told me that something happened to my prestashop and it shows a little errors.
When I try to change order status this message happens to me: "you don't have

[2019-08-07 08:04] khouloudbelguith commented on #15006
Hi @zapper,
The 1G is not a supported value by Symfony.
An issue has already been created #10892

Thanks!

[2019-08-07 08:04] #15006 closed, assigned to nobody

[2019-08-07 08:04] khouloudbelguith commented on #15006
Related to #14568.

[2019-08-07 08:06] mrbig00 commented on #14889
Another improvement could be to take into the consideration of the `Accept` [header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept) which is an industry standard and developers would not be confused about this quirky Prestashop API

[2019-08-07 08:12] JorgeNogueiraLFMPro opened #15012 "Advanced Parameters> Logs"
Hi,
I can't access Advanced Parameters> Logs in the back office.

See the attachment.

![image](https://user-images.githubusercontent.com/49063138/62606115-67d3ac80-b8f3-11e9-9b6b-daec6aaee234.png)

[2019-08-07 08:17] khouloudbelguith commented on #15012
Hi @JorgeNogueiraLFMPro,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14926 to fix the issue.
It is added to ps1.7.6.1.
Thanks to check & feedback.

[2019-08-07 08:35] khouloudbelguith commented on #15011
Hi @pbpg,

What the exact version PrestaShop did you use for your shops?
PS1.6.1.24?

Thanks!

[2019-08-07 08:38] pbpg commented on #15011
Hi @khouloudbelguith,

I'm using PS1.6.1.17

[2019-08-07 08:38] khouloudbelguith commented on #15007
Hi @LouiseBonnard,

Same issue with PS1.7.6.0 & PS1.7.5.2 & the ps_facetedsearch v3.2.0.
![image](https://user-images.githubusercontent.com/16067358/62608103-22b17980-b8f7-11e9-9051-3f3152aa3543.png)
I’ll add this to the debug roadmap.
Thanks!

[2019-08-07 08:43] khouloudbelguith commented on #15009
Hi @Allthejam,

I did not manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.1.
![image](https://user-images.githubusercontent.com/16067358/62608422-b84d0900-b8f7-11e9-9827-fa4fc91a2607.png)
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP

[2019-08-07 08:47] jeckyl opened #15014 "Impossible to clean Logs"
**Describe the bug**
When you are on the Logs pages using the Delete All function, absolutely nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced Parameters >Logs
2. Click on Cogs icon
3. Scroll down to Erase All
4. and ... nothing happend

**Additional information**
PrestaShop version: 1.7.6.0
PHP version: 5.6.40 i don't test other versions

[2019-08-07 08:48] khouloudbelguith commented on #14997
@Laquepinta,

To fix this issue you need to replace the `ps_access ` table in DB with the one from clean PS1.7 installation.
You can, for example, install PrestaShop separately, copy & paste the table ps_access to your shop.
Or you can follow this solution in this comment to solve your issue https://github.com/PrestaShop/PrestaShop/issues/9513#issuecomment-415011961
Before any modification, you ca

[2019-08-07 08:48] #14997 closed, assigned to nobody

[2019-08-07 08:48] khouloudbelguith commented on #14997
Duplicate of https://github.com/PrestaShop/autoupgrade/issues/100

[2019-08-07 08:50] khouloudbelguith commented on #15014
Hi @jeckyl,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14701 to fix the issue.
It is added to PS1.7.6.1.
Your ticket is a duplicate of #14686
So, I close it.
Thanks!

[2019-08-07 08:50] #15014 closed, assigned to nobody

[2019-08-07 08:51] khouloudbelguith commented on #15014
Duplicate of #14686

[2019-08-07 08:51] #14960 closed, assigned to nobody

[2019-08-07 08:53] Allthejam commented on #15009
I'm sorry, all I can suggest is that you log this template as not a good one to purchase. there have been so many issues after I installed it, it caused more problems than I can even list and I decided, in the end, to simply delete the database and remove all the files and simply start again here the theme in question - v1.0.1-ps_lingerie_307

Thank you and sorry if I wasted your time. and I reall

[2019-08-07 08:54] JorgeNogueiraLFMPro commented on #15012
@khouloudbelguith
I made the changes but the error remains

[2019-08-07 08:57] Matt75 commented on #15014
Welcome @jeckyl
Thanks for participating 🥳

[2019-08-07 08:58] khouloudbelguith commented on #15011
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).
During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed, that’s why I close it.

Thanks for y

[2019-08-07 08:58] #15011 closed, assigned to nobody

[2019-08-07 09:00] khouloudbelguith commented on #15009
@Allthejam, thanks for your feedback.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-08-07 09:00] #15009 closed, assigned to nobody

[2019-08-07 09:03] khouloudbelguith commented on #15012
@JorgeNogueiraLFMPro, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)

 Thanks!

[2019-08-07 09:08] Mars228 commented on #14974
On previous version of Prestashop (1.7.5.2) this file was imported correctly. On 1.7.6 stops randomly on 525; 127; 116 no idea why. Is it possible that image external links broke something?
file:
[gatito_items.zip](https://github.com/PrestaShop/PrestaShop/files/3476213/gatito_items.zip)

[2019-08-07 09:13] khouloudbelguith commented on #14987
@pollat, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-08-07 09:13] mowcixo opened #15015 "Wrong decimal places after upgrading to PrestaShop 1.7.6.0"
**Describe the bug**
After upgrading to PrestaShop 1.7.6.0 the decimals shown in some places are wrong, even in the configuration are settled to 2 decimals.

**Screenshots**

Configuration:
![2019-08-07_11-08](https://user-images.githubusercontent.com/47653/62610473-0ec04480-b904-11e9-8df2-24d0b28f99d8.png)

Cart preview:
![image](https://user-images.githubusercontent.com/47653/62610584-3f07e300-b

[2019-08-07 09:18] khouloudbelguith commented on #15015
Hi @mowcixo,

This issue is related to this problem: https://github.com/PrestaShop/PrestaShop/issues/14608
Could you please try to replace precision to `2` in the table ps_currency, clear cache, check & feedback.

Thanks!

[2019-08-07 09:20] khouloudbelguith commented on #14973
@matteolavaggi, could you please try to rename the folder module from `ps_emailalerts` to `ps_emailalerts_old` in the path `/Project_Folder/modules/`, clear cache, go to the BO => Modules => Modules & Services => Selection Tab => Search for this module & try to install it again.
![image](https://user-images.githubusercontent.com/16067358/62611170-fdc00500-b8fc-11e9-8e8d-33dea2ac5e57.png)
Thanks to

[2019-08-07 09:21] JorgeNogueiraLFMPro commented on #15012
Host: lfmpro.com
Operating System: CentOS release 6.6 (Final)
Type and version of webserver: Apache/2.4.25 (Unix)
Version of PHP: PHP 7.1.22
Version of MySQL/MariaDB: mysql  Ver 14.14 Distrib 5.5.31

[2019-08-07 09:23] khouloudbelguith commented on #15012
@JorgeNogueiraLFMPro, thanks!
What the exact PrestaShop Version?

Thanks!

[2019-08-07 09:26] JorgeNogueiraLFMPro commented on #15012
@khouloudbelguith Prestashop Version 1.7.5.2

[2019-08-07 09:30] mowcixo commented on #15015
Hello @khouloudbelguith, that's right, following that steps the problem is solved.
Thanks!

[2019-08-07 09:30] #15015 closed, assigned to nobody

[2019-08-07 09:37] khouloudbelguith commented on #15015
@mowcixo, thanks!
Feel free to open a new one needed.

[2019-08-07 09:41] pbpg commented on #15011
@khouloudbelguith
so there is no solution to my problem?

[2019-08-07 09:52] khouloudbelguith commented on #15012
@JorgeNogueiraLFMPro, before this issue occurs, did you make a filter with `ID Object`?

Thanks!

[2019-08-07 09:58] JorgeNogueiraLFMPro commented on #15012
@khouloudbelguith We have not made any changes to any filter in id ocject

[2019-08-07 10:02] khouloudbelguith commented on #14999
@itnomic, no, in my case, I tried with PS1.7.5.2, I make an upgrade of the module ps_facetedsearch from 2.x.x to 3.2.0 & it is OK.
https://drive.google.com/file/d/1PHJpyFfr-H5GebW9UqNQYWDIxxOeB14s/view
Thanks!

[2019-08-07 10:05] reanim8ed opened #15018 "Product feature indexation"
**Describe the bug**
Custom product feature is updarted in the search index only after second saving.

**To Reproduce**
1. Open the product in the backoffice (Catalog > Products)
2. Add feature: http://bit.ly/2KBfO9R and enter a custom value: http://bit.ly/2KymFk9
3. Save product
4. In database open ps_search_word, order by id_word, scroll to the bottom and you can see that the value is not saved:

[2019-08-07 10:05] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, from your BO => Advanced Parameters => Emails => Test Email is well sent?

Thanks!

[2019-08-07 10:06] SniperCZE opened #15019 "Prestashop requests auto_increment_increment and auto_increment_offset to be set to 1"
**Describe the bug**
Installation of prestashop fails when installed on mysql in master-master or multimaster galera setup. Instalator checks for auto_increment options are set to 1, which is incompatible with galera or M-M setup.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup mysql cluster Master-Master or Galera
2. Start instalation process of prestashop
3. Point configuration to M-

[2019-08-07 10:07] khouloudbelguith commented on #15012
@JorgeNogueiraLFMPro, in the Logs page, did you make a search with the Object ID?
https://drive.google.com/file/d/1EMTo6sqQLvAdb_ZErNV4D1sflutd0Nyw/view

Thanks!

[2019-08-07 10:08] JorgeNogueiraLFMPro commented on #15001
@khouloudbelguith Yes I am receiving thank you

[2019-08-07 10:10] jolelievre commented on #14617
Hi everyone!

First of all indeed the field is missing from the database, sorry about that. But if you need to manually add the missing field you *MUST NOT* insert an int, `filter_id` is a string therefore you'd better run
[code]
as a quick database fix

Second, a fix has already been managed by @Quetzacoalt91 in https://github.com/PrestaShop/PrestaShop/pull/14620
The actual problem is that this E

[2019-08-07 10:10] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, thanks!
Feel free to open a new one when needed.

[2019-08-07 10:11] JorgeNogueiraLFMPro commented on #15012
@khouloudbelguith
I can't open the video

[2019-08-07 10:16] khouloudbelguith commented on #15012
@JorgeNogueiraLFMPro,
[Logs • 1751.webm.zip](https://github.com/PrestaShop/PrestaShop/files/3476483/Logs.1751.webm.zip)

[2019-08-07 10:18] reanim8ed commented on #13419
It is showed in the backoffice product edit page, yes, but the value isnt saved in the database.
I have described how to reproduce it here: https://github.com/PrestaShop/PrestaShop/issues/15018

[2019-08-07 10:28] JorgeNogueiraLFMPro commented on #15012
@khouloudbelguith
I may have probably done searches for filters. But I don't really know which filters I used

[2019-08-07 10:52] ArteInfoRM commented on #14343
The problem is the same as this issue
https://github.com/PrestaShop/PrestaShop/issues/12667

PrestaShop 1.7.6.0 has the problem with Server Plesk Onyx ver 17.8.11

[2019-08-07 10:55] ArteInfoRM commented on #12667
PrestaShop 1.7.6.0 has the problem with Server Plesk Onyx ver 17.8.11 CentOS Linux 7.6.1810 (Core)

Fatal error: Uncaught Error: Class 'Tools' not found in /var/www/vhosts/ideepercasa.shop/httpdocs/classes/db/Db.php:794 Stack trace: #0 /var/www/vhosts/ideepercasa.shop/httpdocs/config/alias.php(47): DbCore->escape('configuration', false) #1 /var/www/vhosts/ideepercasa.shop/httpdocs/config/alias.php

[2019-08-07 10:57] khouloudbelguith commented on #15018
Hi @reanim8ed,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2.
https://drive.google.com/file/d/162T4Tmw32upwjTv4yd_BI9SZljgCWiby/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-08-07 11:04] JorgeNogueiraLFMPro commented on #15001
Hi,

After clearing the cache manually, we came across this situation that was not happening in my Pack's module. For the information I pointed out did not appear.

![image](https://user-images.githubusercontent.com/49063138/62618165-76c65900-b90b-11e9-9e69-7d0e63815fd4.png)

[2019-08-07 11:04] khouloudbelguith commented on #14974
@Mars228, in my case, I tried to import your file with PS1.7.6.0 & it is OK
https://drive.google.com/file/d/1gk2DsBfVyCS_RQlEXra1fF1uR9aPJ2GU/view

Thanks!

[2019-08-07 11:07] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, what is the exact issue on your screenshot?

Thanks!

[2019-08-07 11:09] JorgeNogueiraLFMPro commented on #15001
@khouloudbelguith
These values, stock and reference that appear below the product image did not appear before. And after we cleared the cache began to appear

[2019-08-07 11:35] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, about the stock, in your BO => Shop Parameters => Product Settings Page => "Display available quantities on the product page" option is enabled?

Thanks

[2019-08-07 11:56] ArteInfoRM commented on #14343
The error with Plesk 17.5.3 and 17.8.11 occurs with FPM served by Apache, using FastCGI, prestashop does not generate the error.

![image](https://user-images.githubusercontent.com/41371761/62620667-37ebcf80-b91a-11e9-8d0a-404794e17cc4.png)

[2019-08-07 12:38] iulianm16 opened #15021 "Bug logs backoffice"
When i go to Configure advanced > Logs and i select filter by employee and date between two dates i recive this error.

An exception occurred while executing 'SELECT l.*, e.email, CONCAT(e.firstname, ' ', e.lastname) as employee FROM psdr_log l LEFT JOIN psdr_employee e ON l.id_employee = e.id_employee WHERE (e.lastname LIKE :employee OR e.firstname LIKE :employee) AND (l.date_add BETWEEN :date_fr

[2019-08-07 12:41] khouloudbelguith commented on #15021
Hi @iulianm16,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com

[2019-08-07 12:41] iulianm16 commented on #15021
sry, i edit now the post.

[2019-08-07 12:42] JorgeNogueiraLFMPro commented on #15001
@khouloudbelguith

You can see what happens when I update the page, prices do not appear but when you finish updating the page they appear and should not appear.

[Mala Rígida DNP DS620.zip](https://github.com/PrestaShop/PrestaShop/files/3477015/Mala.Rigida.DNP.DS620.zip)

[2019-08-07 12:47] khouloudbelguith commented on #15021
@iulianm16, before this issue occurs, did you make a search with some filters in the logs page?
![image](https://user-images.githubusercontent.com/16067358/62623905-df1c3700-b919-11e9-9d2c-8670133bc317.png)
Thanks!

[2019-08-07 12:49] iulianm16 commented on #15021
yes, i select two filters, by employee and by date ( from and to ).

[2019-08-07 12:51] iulianm16 commented on #15021
I completed exactly that:

employee: stancu
date: from 1 august
          to 1 august

p.s: same date at from and to

[2019-08-07 12:58] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, `show prices` option in your case is disabled?
Also, the `Display discounted price` option is disabled?

Thanks!

[2019-08-07 12:59] khouloudbelguith commented on #15021
@iulianm16, Here's the PR: #14926 to fix the issue.
It is added to ps1.7.6.1.
Thanks to check & feedback.

[2019-08-07 13:04] marionf commented on #14880
Hello @MockoB

Remaining quantities on the product page takes into account what is already in your cart because you can't add to your cart more product than in stock.
So, you have 300 products in stock.
You add 100 products to your cart
It shows you only 200 products remaining because you can't add more than 200 in your cart.
It's the remaining quantity that you can add to your cart.

It will be n

[2019-08-07 13:08] iulianm16 commented on #15021
Thanks

[2019-08-07 13:10] JorgeNogueiraLFMPro commented on #15001
@khouloudbelguith This is active as this is within a module of making product packs. And no one changed the settings. They appeared because of clearing the cache manually.

[2019-08-07 13:14] khouloudbelguith commented on #15021
Duplicate of #14785

[2019-08-07 13:14] #15021 closed, assigned to nobody

[2019-08-07 13:15] khouloudbelguith commented on #15012
@JorgeNogueiraLFMPro, did you make a filter with the Date?

Thanks!

[2019-08-07 13:18] JorgeNogueiraLFMPro commented on #15012
@khouloudbelguith I think so. But as I told you earlier I'm not sure

[2019-08-07 13:33] MockoB commented on #14880
Hi @marionf,
I will not be able to add to my cart more than 300 pieces, even if it doesn't change the remaining quantities. There will be appropriate message telling me there is not enough stock, or showing the available quantities on appropriate place on the product page, like it was in older PS versions, not in a tab. The current situation could lead only to confusion.

It would be more logical

[2019-08-07 13:39] khouloudbelguith commented on #15012
@JorgeNogueiraLFMPro, I tried to reproduce the same error as yours.
![image](https://user-images.githubusercontent.com/16067358/62627124-acc20800-b920-11e9-92fa-96ec71778f96.png)
But, after editing my file with this fix https://github.com/PrestaShop/PrestaShop/pull/14926/files
It is OK
https://drive.google.com/file/d/1A32FpieINXPWz4VRxgLEeN2y61txDj5A/view
Here's my new file:
[LogRepository.txt](ht

[2019-08-07 13:41] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro,

So, before clearing the cache => they are not displayed => error => they should be displayed because the option is enabled
After clearing the cache, they are displayed again.

Thanks!

[2019-08-07 14:03] roja45 opened #15023 "Javascript not included in correct order in back office when added from module"
When adding a javascript file to the back office using the Controller::addJs function, it is being included before the jquery libraries are loaded.

Screenshots are from the welcome module (which I assume is loading the files correctly).

This means that if the js file you are loading uses jquery, you will receive an error that the library has not been loaded.

The front controller has the new reg

[2019-08-07 14:19] JorgeNogueiraLFMPro commented on #15001
@khouloudbelguith
I was seeing but the settings are the same as before clearing the cache.

[2019-08-07 14:20] khouloudbelguith commented on #15023
Hi @roja45,

Thanks for your report.
In my case also, the back office using the Controller::addJs function, it is being included before the jquery libraries are loaded.
But there is no error in the console.
I attached a screen record
https://drive.google.com/file/d/1yrjz8ghOcc9qGHGgPjxCwlrfHudezvqE/view
Thanks to check & feedback.

[2019-08-07 14:22] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, try to disable the "show price" option & the "display the quantity available" & check if they are still displayed?

Thanks!

[2019-08-07 14:23] JorgeNogueiraLFMPro commented on #15012
@khouloudbelguith
I copied your file and it worked correctly. Thank you.

[2019-08-07 14:23] #15012 closed, assigned to nobody

[2019-08-07 14:28] khouloudbelguith commented on #15012
@JorgeNogueiraLFMPro, you are welcome!
Feel free to open a new one when needed.

Thanks!

[2019-08-07 14:29] khouloudbelguith commented on #15012
Duplicate of #14785

[2019-08-07 14:53] JorgeNogueiraLFMPro commented on #15001
@khouloudbelguith
I created some rules in css inside the module, it worked correctly. Thanks

[2019-08-07 14:53] #15001 closed, assigned to nobody

[2019-08-07 14:54] khouloudbelguith commented on #15019
Hi @SniperCZE,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

Thanks!

[2019-08-07 14:57] khouloudbelguith commented on #15001
@JorgeNogueiraLFMPro, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-08-07 15:32] roja45 commented on #15023
Sorry, I wasn't clear.

There is no issue with the welcome module, that is not using jquery in the js file.

The error is from a js file loaded that **does** use jquery.

[2019-08-07 15:35] roja45 commented on #15023
actually, you can probably close this.  There appears to besomething of a work around.

Using this code,

`
if (method_exists($this->context->controller, 'addJquery')) {
            $this->context->controller->addJS($this->_path . 'views/js/roja45notifications.js');
}
`

will force it to load at the end, and prevent the error.  The gamification module uses this.

[2019-08-07 15:36] khouloudbelguith commented on #15023
@roja45, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-08-07 15:36] #15023 closed, assigned to nobody

[2019-08-07 15:38] xsbr commented on #14617
@jolelievre change the INDEX isn't necessary?

[code]

[2019-08-07 16:00] BobvanderValk commented on #14617
probably yes xsbr, without your remark you get this for Brands and suppliers in admin, so thank you very much.  You fixed this problem for me :-)
![image](https://user-images.githubusercontent.com/50988237/62638158-24059500-b93d-11e9-9a85-8be464712aeb.png)

[2019-08-07 16:45] JorgeNogueiraLFMPro opened #15025 "Cart_id on email new_order"
Hi,

I tried to add id_cart to the body of the new order email but it is not working.

Do you have any idea what might be wrong?

![image](https://user-images.githubusercontent.com/49063138/62641207-0e8f6b80-b93b-11e9-8c57-9df8d9755100.png)

[2019-08-07 17:01] savoy6aus opened #15026 "a 413 Request Entity Too Large error was encountered while trying to use an ErrorDocument to handle the request."
Request Entity Too Large
The requested resource
/VMSDraft/admin123/index.php/improve/design/themes/import
does not allow request data with GET requests, or the amount of data provided in the request exceeds the capacity limit.
Additionally, a 413 Request Entity Too Large error was encountered while trying to use an ErrorDocument to handle the request.

[2019-08-07 21:52] sirius82 commented on #14993
Hello, the problem was already asked here http://forge.prestashop.com/browse/BOOM-805?attachmentOrder=desc
Seemed resolved with this https://github.com/PrestaShop/PrestaShop/pull/5930/files
But the ProdutController.php in PS 1.7.5.2 seems to have theses changes. And the problem is always there ...

Why it's not possile to replace the call to the hook of legalcompliance by the code like in product-

[2019-08-08 06:22] reanim8ed commented on #15018
getFeatures method is run before the values are saved:
classes/Search.php @ 658:
$product['features'] = Search::getFeatures($db, (int)$product['id_product'], (int)$product['id_lang']);

So thats why first time it doesnt save new value to the index. After that value are recorded to the ps_feature_product and ps_feature_value_lang tables so the second time the saving is run the getFeatures method re

[2019-08-08 06:56] Bettelstab commented on #13016
I'm trying to do this like @PierreRambaud proposed. As a first step, I just try to change the Backoffice URL on a test instance. So I changed the base URI as described via config file.

I still get redirected to the former URL which is still present in the database (PS_SHOP_DOMAIN / PS_SHOP_DOMAIN_SSL in config table plus table *_SHOP_URL). Is there a way to stop that redirect? Could someone point

[2019-08-08 07:03] marionf commented on #15018
Thanks for diving into this @reanim8ed

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2019-08-08 07:08] marionf commented on #9969
@khouloudbelguith  Can you try to reproduce it on 1.7.6.0 ?

[2019-08-08 07:14] corsik opened #15028 "Position sorting"
After updating ps_facetedsearch from version 2,
sorting by product position in the catalog does not work correctly.
If you disable ps_facetedsearch, sorting happens correctly.

**Additional information**
PrestaShop version: 1.7.6
ps_facetedsearch verstion: 3.2.0
PHP version: 7.1.21

[2019-08-08 07:22] corsik commented on #15028
I'm sorry, after resetting the ps_facetedsearch settings, the sorting worked correctly

[2019-08-08 07:22] #15028 closed, assigned to nobody

[2019-08-08 07:40] khouloudbelguith commented on #15026
Hi @savoy6aus,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2019-08-08 08:06] khouloudbelguith commented on #9969
Hi @marionf,

Yes, I have the same issue with PS1.7.6.0 & the develop branch.
Only the currency by default is displayed.

Thanks!

[2019-08-08 08:10] khouloudbelguith commented on #14993
@sirius82, This issue is added to the bug roadmap, it should be fixed by our developers or it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-08-08 08:36] marionf commented on #9969
@khouloudbelguith Could you please add the steps to reproduce the issue ?

[2019-08-08 08:46] khouloudbelguith commented on #15025
Hi @JorgeNogueiraLFMPro,

Is it `id_cart`?
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/PaymentModule.php#L211
I hope this helps you.
Please be aware that the forge should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/question

[2019-08-08 08:46] #15025 closed, assigned to nobody

[2019-08-08 08:47] khouloudbelguith commented on #15025
Hi @JorgeNogueiraLFMPro,

Is it `id_cart`?
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/PaymentModule.php#L211
I hope this helps you.
Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/q

[2019-08-08 08:49] JorgeNogueiraLFMPro commented on #15025
@khouloudbelguith  Ok thanks

[2019-08-08 09:11] khouloudbelguith commented on #9969
Steps to reproduce the issue:

1. First, you should have more than one currency for example `Euro` & `US Dollar`
![image](https://user-images.githubusercontent.com/16067358/62689166-337af180-b9c2-11e9-9601-ae688d19278d.png)
2. `Euro` is the currency by default
![image](https://user-images.githubusercontent.com/16067358/62689376-9bc9d300-b9c2-11e9-8d4b-1a5dbbb94056.png)
3. Go to the BO => Catalog =

[2019-08-08 09:34] eternoendless commented on #14173
It's probably a bootstrapping issue. Needs to be investigated so that PrestaShop is correctly initialized when launching module commands. I suppose that this is not a problem when using Core sf commands?

[2019-08-08 09:46] marionf opened #15029 "Quantity of products on the product page in front-office isn't enough put forward"
The quantity of products on the product page in front-office isn't enough put forward
We need to click on product details page to see it.
It should be displayed closer to the quantity field.

![capture d'écran_1871](https://user-images.githubusercontent.com/13449658/62693103-1e0dc380-b9d2-11e9-900f-b4bfbe631504.png)

[2019-08-08 09:47] marionf commented on #14880
I am agree with you, it's not enough put forward, we can improve this.
I just created an issue for that: https://github.com/PrestaShop/PrestaShop/issues/15029

As a customer when I see that there are already products in my cart, I check what it is.

Furthermore, you can use a module to [relaunch your customers by email when they have an abandoned cart ](https://addons.prestashop.com/en/remarketing

[2019-08-08 10:00] itisco opened #15033 "No logo and no product images on the invoice"
Hi,
We activated the "display product image on the invoice" option but when we generate the invoice, there is no product image. I checked and there a product image on the product.
We noticed as well the the logo of the shop isn't displayed anymore.
Any idea why?
Thanks
We tried on prestashop 1.7.5, 1.7.6
![Screenshot](https://user-images.githubusercontent.com/4580313/62694112-02a3b800-b9d4-11e9-8c

[2019-08-08 10:08] sirius82 commented on #14993
thanks. I'm just trying to understand why it's not the same code in product list and in product page and why the code of the second doesn't work in the first. I should be so simple to get the same code ?
It's important for BtoB, customers don't understand why unit price is not the same following the page. And it's not correct for the RGPD.

Thanks

[2019-08-08 10:19] eternoendless commented on #9821
Currently when disabling multishop all categories are displayed, but you can't edit them
if they don't belong to the current (default) shop.

Specification is needed regarding what should happen when we disable multishop, and what should be done with shop-specific data in that case. Should it be re-bound to the default shop? Should it become inaccessible until multishop is activated again? Should

[2019-08-08 10:28] jolelievre commented on #14617
Thanks @xsbr I proposed the smallest query possible, but it might have conflicts with Doctrine annotation, if you want to be even more precise you can do

[code]

[2019-08-08 10:46] mickaelandrieu commented on #14173
Hi  @eternoendless, it depends: if you create a service that requires an object model as constructor parameter you may break the official command "php bin/console debug:container".

I know some agencies require a legacy file in their command and initiate a fake employee in order to make their commands works as expected because the PrestaShop autoloader needs it.

[2019-08-08 10:48] khouloudbelguith commented on #15033
Hi @itisco,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a video record
https://drive.google.com/file/d/1Ow2Hi9gc8kcRdgubTZSZeRySC6_DhBfg/view
Could you please navigate to the BO => Design => Images Settings => Try to Regenerate thumbnails.

Thanks to check & feedback.

[2019-08-08 10:59] MockoB commented on #14880
Thanks for sharing your point of view @marionf
But when you enter a product page and you see there aren’t available quantities, the logic behaviour is not to check if the product is already in your cart. When it’s told there is no stock, it means just that. Especially when there is nothing informing you the last quantities are all in your cart as having availability field in the cart page telling

[2019-08-08 11:35] papich06 opened #15037 "SELECT SQL_NO_CACHE `id_guest`"
Hello,
I worked on my BO and i have this error:

PS 1.7.6

`Table 'dbs80428.klprl_connections' doesn't exist

SELECT SQL_NO_CACHE `id_guest`
				FROM `klprl_connections`
				WHERE `id_guest` = 0
					AND `date_add` > '2019-08-08 10:45:00'
					 AND id_shop IN (1)
				ORDER BY `date_add` DESC LIMIT 1

at line 769 in file classes/db/Db.php

764.         if ($webservice_call && $errno) {
765.

[2019-08-08 11:53] pollat commented on #14987
I doesn't have any particular php error (see image attache):
![ERROR-LOG](https://user-images.githubusercontent.com/9538665/62700996-7ef1c780-b9e3-11e9-813a-ac78d6af4b3b.jpg)

On Prestashop 1.7.6, on the catalogue page is happer a new column "Price (tax include)" and is disappear the column "Qy" (Quantity) I think is a bug or bad choice for this version.

[2019-08-08 11:55] pollat commented on #14987
...maybe I have only this advise (see image attached):
![error-2](https://user-images.githubusercontent.com/9538665/62701295-34bd1600-b9e4-11e9-8c28-44d004b1813d.jpg)

[2019-08-08 12:20] marionf commented on #9969
@khouloudbelguith

This is the wanted behavior, it's the same as when you define the price of the product, you can do it only in the default currency. Then, it's converted in other currencies in FO.

[2019-08-08 12:21] khouloudbelguith commented on #15037
Hi @papich06,

Yes, in your case, the klprl_connections tab doesn't exist.
You need to create a table in your database.
Here's an example
[ps_connections.sql.txt](https://github.com/PrestaShop/PrestaShop/files/3481645/ps_connections.sql.txt)
Just you need to replace the PREFIX `ps` to `klprl`
Thanks to check & feedback.

[2019-08-08 12:23] #9969 closed, assigned to nobody

[2019-08-08 12:31] marionf opened #15038 "Ecotax field shouldn't be displayed in BO if the product is virtual"
The ecotax is a contribution to finance the collect, the recycling and the depollution of a piece of furniture or used electrical and electronic equipment.
So, the ecotax field shouldn't be displayed in pricing tab of the product page for a virtual product (even if it's enabled in International > Taxes)

[2019-08-08 12:39] khouloudbelguith commented on #14987
@pollat, in my case it is Ok after upgrade from PS1.7.5.2.
You need to enable debug mode in your store and debug request which is sent for product Page in your browser, using DevTools, so:

1. enable debug mode
2. go to the product list page
3. open up developer tools
4. go to Network tab
5. Reload the page
6. wait for an error, you should see red request information in Network tab
7. click on it,

[2019-08-08 13:52] amir201808 opened #15039 "I want to use carries in both option billing ,price and weight"
i have two country for example
india and china
india in use weight wise shipping option
 &&
china in use price wise shipping option
but now looked that i choose only one option

i don't have idea how to both option use
plz suggest
@khouloudbelguith

[2019-08-08 14:21] khouloudbelguith commented on #15039
Hi @amir201808,

Fist, you need to create different carriers.
Please follow these steps:
1. Create a zone1: China
2. Create a zone2: India
3. Edit the zone for the India country & the China country
![image](https://user-images.githubusercontent.com/16067358/62710730-ba928e80-b9ef-11e9-84ac-72737c370bdb.png)
![image](https://user-images.githubusercontent.com/16067358/62710768-c9794100-b9ef-11e9-819

[2019-08-08 14:27] Jeremy-VERNET opened #15040 "When Home category is not displayed, you can't edit child categories"
**Describe the bug**
When you make the Home category not displayed (so it is not shown in breadcrumb or menus), you can't change a child category name, it triggers CategoryConstraintException number 6 (when invalid parent id is supplied).

Indeed, the dropdown "Parent category" appears empty.

It is not a major issue but to avoid this, you have to make every changes in your categories and make the

[2019-08-08 14:34] khouloudbelguith commented on #15040
Hi @Jeremy-VERNET,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15030 to fix the issue.
Your ticket is a duplicate of #14790
So, I close it.
Thanks!

[2019-08-08 14:34] #15040 closed, assigned to nobody

[2019-08-08 14:34] khouloudbelguith commented on #15040
Duplicate of #14790

[2019-08-08 14:37] idnovate opened #15041 "Exception error when multiple cart rules added"
**Describe the bug**
`Warning: Division by zero in CartRuleCalculator.php line 240` exception when multiple cart rules added.

**To Reproduce**
Steps to reproduce the behavior:

1. Create 3 cart rules, each one with a different gift product
![image](https://user-images.githubusercontent.com/15104724/62712102-7fe22380-b9fa-11e9-86dc-bb0981a78373.png)
1. Create a 4th cart rule, 1€ amount discount, *

[2019-08-08 14:45] marionf commented on #9855
Product price tax excl including ecotax: 16,508333
VAT on the product: 20%
Product price tax incl & including ecotax: 19,81

Ecotax tax incl: 2€
VAT on the ecotax: 0%

The product price tax excl field in BO is recalculated to remove the ecotax because it's donated by the merchant to a collection agency and shouldn't impact his margin.
After filling the ecotax field, the product price tax excl in B

[2019-08-08 15:20] CaseOnline commented on #12241
YES and best to RESTORE complet 1.7.6 to I.6 behavior. This is the worst prestashop i ever seen.
As a merchant this BO i a joke. Many importand field is now hidden very well for example:

Attribute numbers > Need to click on each attribute to see this number (visable in 1.6)
Location Filed > Need to goto stock to see and attributes then goto each attribute to see this. (should be placed in firstpa

[2019-08-08 15:35] pollat commented on #14987
@khouloudbelguith thanks for your help:
I follow your instructions, but I doesn't see any red error reported on "Network tab".
The only 2 errors I see on "developer console" are these (see image attached):

![error-01](https://user-images.githubusercontent.com/9538665/62716653-c8054400-ba02-11e9-9036-462f4dc18064.jpg)

[2019-08-08 15:43] pollat commented on #14987
@khouloudbelguith thanks for your help, I solve my problem:
the problem was not the update version, but that "stock manage" was disable.

[2019-08-08 15:45] khouloudbelguith commented on #14987
@pollat, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-08-08 15:45] #14987 closed, assigned to nobody

[2019-08-08 15:57] Romain-Del opened #15043 "PDF generation does not work with a logo (jpg, png ...) 1.7.6.0"
After installing Prestashop 1.7.6.0
Go to Appearance -> Theme and logo -> Logo of mails / Logo of invoices
Change the logo by yours (jpg, png ...)
Then in Orders -> Orders -> [YOUR CUSTOMER] -> Documents -> Display Invoice / Delivery Note = ERROR
So if you change your logo you can't generate PDF

Or am I the only one ?
Prestashop is freshly installed, no module or customization

I have already tri

[2019-08-08 16:08] marionf opened #15044 "Improve ecotax management in BO product page"
As the merchant enter the product price with the ecotax, the ecotax must be deducted from the selling price to let the merchant know what he/she will really earn.
We will also need this amount later if there is some discounts as they are applied on the prixe without ecotax (see https://github.com/PrestaShop/PrestaShop/issues/9600)
Today the ecotax is deducted from the price tax excl field of the p

[2019-08-08 16:10] eternoendless commented on #13501
What setter? This can still be done in 1.7.6.1 if necessary.

[2019-08-08 16:12] #14633 closed, assigned to jolelievre

[2019-08-08 16:12] #14337 closed, assigned to jolelievre

[2019-08-08 16:13] khouloudbelguith commented on #15043
Hi @Romain-Del,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a video record
https://drive.google.com/file/d/1n2JvxJjiyTZ_l2Ewa4kP9ExPlSCYhOFu/view
I tried with .png file & .jpg file.
Thanks to check & feedback.

[2019-08-08 16:20] #14908 closed, assigned to jolelievre

[2019-08-08 16:40] khouloudbelguith commented on #15041
Hi @idnovate,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1r8TOURpzqDCykUoydmQo8xpSxTakVT1g/view
Thanks to check & feedback.

[2019-08-08 16:41] Romain-Del commented on #15043
Thank you for fast response,
i attached a video in zip
My problem is when I generate PDF

[Projet sans titre.zip](https://github.com/PrestaShop/PrestaShop/files/3482778/Projet.sans.titre.zip)

[2019-08-08 16:46] khouloudbelguith commented on #15043
@Romain-Del, did you make any changes in the "Images generation options" section (BO => Design => Images Settings) Page?
Could you please provide the logo uploaded to check it.

Thanks!

[2019-08-08 17:06] papich06 commented on #15037
Hi @khouloudbelguith ,

Thanks for your help it's great

I checked but I also miss in additional to ps_connections: ps_connections_page and ps_connections_source can you send me a table? Where do you find them?

Before, there was a Prestashop module called "prestashop cleaning" to analyze and repair the databases, is there already for PS 1.7.6?

[2019-08-08 19:00] xsbr commented on #14617
@jolelievre unfortunately IF EXISTS isn't available for DROP INDEX on MySQL

[2019-08-08 21:01] 01park opened #15046 "1.7.6 invoice generating by date"
BO> invoices

When selecting a date and generating invoices. A bundle is generated with all invoices, so not the selected date range. I have tried this in two stores. Both have the same issue.
One store even crashes, probably because of the amount of invoices that is being created.

Prestashop: 1.7.6
PHPl=: 7.2

[2019-08-08 22:05] Kis-shoes commented on #14595
@khouloudbelguith Hi, I have the same issue as described by @attractive - when I click on order tab, error like displayed above appears. I successful upgraded from ps 1.7.5.2 to 1.7.6 using 1-click v4.9.0. When i noticed the issue I contacted my webhost, but they couldn't find any problem. I searched for solution and saw your discussion on #14595, #14608, #14908. I tried the solutions provided but

[2019-08-08 22:12] geengome commented on #14595
Sorry, my English is not very good. Workaround: I was presented with the same problem described above, in my case the store only uses the COP currency and had eliminated all the coins. After validating I found that in the cart were demo data that included carts that had been filled with the USD currency: The temporary solution was to go International -> Location -> Coins and add the currency that

[2019-08-09 05:36] #15039 closed, assigned to nobody

[2019-08-09 05:57] dharmendravirasat commented on #15039
How to show country wise carriers
if user indian then user order in show only indian carriers
else china

how to possible ?
i will try with ip address
if user  indian ip then show indian carriers option
else china
plz suggest how can do which option is best, hard code ya prestashop backend in  provide
these funcationlites

@khouloudbelguith

[2019-08-09 06:47] karopka opened #15047 "too many trailing zeroes on the price slider"
too many trailing zeroes on the price slider
![price_slider](https://user-images.githubusercontent.com/18676256/62759608-e286fe00-ba92-11e9-99ba-00cb28efa2d5.JPG)

PrestaShop version: 1.7.6.0
ps_facetedsearch version:  3.2.0
PHP version: 7.2.10

[2019-08-09 07:02] Romain-Del commented on #15043
I have not made any changes, everything is by default
Screenshoot of my config :
![Screenshot_2019-08-09 Images • bureauland](https://user-images.githubusercontent.com/46653527/62760364-21fa1e00-ba84-11e9-96c6-2f30caf85d5b.png)
And my logo :
![Logo BL by DBSi noir FT](https://user-images.githubusercontent.com/46653527/62760403-34745780-ba84-11e9-92e6-76e37aabcd37.jpg)
I have already try another lo

[2019-08-09 07:57] idnovate opened #15048 "AdminTabs controller can not be accessed - Menu BO Page"
**Describe the bug**
`AdminTabs` admin controller doesn't appear in any menu. If you try to access directly by URL it returns an `Acces denied` error.

This functionality is not in any other controller.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any AdminController
2. Change URL to `controller=AdminTabs`
3. Bypass token warning

**Additional information**
PrestaShop version: 1.7.6.

[2019-08-09 08:05] idnovate commented on #15041
You skipped step 3 :)

[2019-08-09 08:54] Bonobomagno commented on #14941
Ofc. but why to create a new way to do things only for myself?
Also, this is pretty hard to split in a trait/ baseEntity because of annotation.
There is a need for doctrine extensions that handle translations using just annotation,
 otherwise..why use doctrine if the main feature are disabled?

[2019-08-09 09:40] #14672 closed, assigned to jolelievre

[2019-08-09 09:45] zelduxs commented on #14999
Hi i also have the same problem :(

[2019-08-09 10:07] marionf commented on #12241
Hello @CaseOnline

What do you call "attribute numbers" ?

Are you talking about images in basic settings or images for a combination ?
In 1.6 there was a delete button for each picture

![capture d'écran_1872](https://user-images.githubusercontent.com/13449658/62771394-647c2480-ba9d-11e9-90af-1302703242c0.png)

I don't see the x in corner of picture in 1.6 you are talking about, could you please

[2019-08-09 10:25] racfalit commented on #14936
Hello good afternoon. He has given me the ruling I mentioned earlier. No module or any modification was being installed, we have simply tried to enter the backoffice. Everything I put before is the same thing that happened today.

I attached photos so they can help see what it can be.

Photo1: When I try to log in sometimes I get this screen.

Photo2: When photo1 does not come out this (this is mo

[2019-08-09 10:59] khouloudbelguith opened #15052 "Translation is not updated in the Symfony page"
**Describe the bug**
Seems that the translation from the BO is not updated in the Symfony page

**To Reproduce**
1. Go to BO => International => Translations => Select
1.1. Type of translation => Back office
1.2  Select your language => English
1.3 Click on Modify
2. Search for the expression "View my shop"
3. Try to translate it
4. click Save => OK
5. Go to the Dashboard page => the new expressio

[2019-08-09 11:21] vilzuh opened #15053 "Error: The file is not valid, when uploading child theme"
**Describe the bug**
When uploading a child theme of Prestashop's Classic theme, I receive error message stating "The file is not valid"
Other users have mentioned this happening with at least one other theme if not all.

**To Reproduce**
Steps to reproduce the behavior:
1. Download child theme .zip from prestashop back office
2. Upload the same file modified or not, does not matter, as a child th

[2019-08-09 11:44] khouloudbelguith commented on #15041
@idnovate, thanks for these clarifications.
Following your steps => OK
I attached a screen record
https://drive.google.com/file/d/1OTQyesAdmmrhNh1QFjcWvIh5igCRywZ3/view
Thanks to check & feedback.

[2019-08-09 12:02] tiptopnet commented on #12295
Hi @ma0dubois
I have the same problem
Can you tell me please where you removed sprintf ? (folder/file)
Thanks for your help

[2019-08-09 12:09] eternoendless commented on #14733
Fixed via https://github.com/PrestaShop/PrestaShop/pull/14962

[2019-08-09 12:09] #14733 closed, assigned to eternoendless

[2019-08-09 12:11] eternoendless commented on #15052
I think this is probably related to #14932

[2019-08-09 12:17] Ludofloria commented on #10157
I come back...
In fact, the module doesn't fix the issue. So we still doesn't have the invoice number, nor an invoice date.
Thus, our invoices aren't good and our clients might refuse to pay us...

[2019-08-09 12:26] itisco commented on #15033
Hello
I forgot to add that it was a 1.7.5.2 prestashop and we did updates to
1.7.6.0
I regenrated the thumbnails but nothing changed.
Still no products photo on the ivoice.

Cordialement,
[image: Animation Itis]

Jean-Philippe BEAUVE
Chef de projet
65, rue du Bourbonnais 69009 LYON
09 72 11 89 24 | 08 05 69 20 06
www.itis-commerce.com
Téléchargez ma VCard !

Le jeu. 8 août 2019 à 12:49, khouloudbe

[2019-08-09 12:36] stellatmy commented on #14733
Fixed? How? I can't find the solution from the link you provided.

[2019-08-09 12:37] khouloudbelguith commented on #14733
@stellatmy, https://github.com/PrestaShop/PrestaShop/pull/14962/files

[2019-08-09 12:46] fafa0659 commented on #14733
Hi ,

This is the solution ?

Best regards

Le ven. 9 août 2019 à 14:38, khouloudbelguith <notifications@github.com> a
écrit :

[2019-08-09 12:47] madsoliver opened #15054 "Display of a different currency between FO and Invoices"
EDIT:
**Is your feature request related to a problem? Please describe.**
Editing the display of the currency on the FO change as well the currency on the order or invoice (and all the financial document related to an order). The change can make an invoice not acceptable from an accounting perspective for some business, mostly for B2B. That would be a reason not to have your FO customized for fear

[2019-08-09 12:53] khouloudbelguith commented on #14733
@fafa0659, yes!

[2019-08-09 12:56] fafa0659 commented on #14733
To be sure , i must add the green line and remove oink line in folder
concerned , right?

Le ven. 9 août 2019 à 14:53, khouloudbelguith <notifications@github.com> a
écrit :

[2019-08-09 13:34] khouloudbelguith commented on #15033
@itisco, have you any issues during the upgrade?
Can you please provide me the list of Images Settings in your BO => Design => Image Settings page
![image](https://user-images.githubusercontent.com/16067358/62782706-b5e2de80-bab2-11e9-8c21-ce2420c3ed5f.png)

Thanks!

[2019-08-09 13:36] eternoendless commented on #14733
Unless you know what you're doing, I suggest to wait until 1.7.6.1 is out, then update.

[2019-08-09 13:39] khouloudbelguith commented on #15047
Hi @karopka,

This issue occurs after an upgrade to PS1.7.6.0.
Here's the PR: #14664 to fix the issue.
To solve your issue thanks to change the `precision` in the Database => `ps_currency` Table from `6` to `2`.
Thanks to check & feedback

[2019-08-09 13:41] itisco commented on #15033
Hello, thanks for the answer.
No particular issue (no warning messages) during the update done with the
1clickupgrade module from prestashop..
Here are the thumbnails settings :
[image: Screenshot_2019-08-09 Images • Mon shopping bien-être by Gaëlle.png]
Thanks

Cordialement,
[image: Animation Itis]

Jean-Philippe BEAUVE
Chef de projet
65, rue du Bourbonnais 69009 LYON
09 72 11 89 24 | 08 05 69 20

[2019-08-09 13:43] fafa0659 commented on #14733
@pabloBorowicz i will check it , i thinks 1.7.6.1 will is out in few month
and maybe make other problems .

If what doing maybe you can explain me ;)

Le ven. 9 août 2019 à 15:37, Pablo Borowicz <notifications@github.com> a
écrit :

[2019-08-09 13:46] khouloudbelguith commented on #15033
@itisco, you need to upload the image on GitHub, there is no screenshot attached.

Thanks!

[2019-08-09 13:47] ghost opened #15056 "Faceted search wrong results"
Prestashop 1.7.6
PHP 7.2
Faceted module 3.2.0

![faceted](https://user-images.githubusercontent.com/8243273/62783364-8d5fe200-babc-11e9-904b-06d30cdf165a.png)

Module show Size 36 is available but after choosing product is only with size 39...

[2019-08-09 13:49] khouloudbelguith commented on #15046
Hi @01park,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/14vBZtQbV3d9TZ6cQaS1uphZ85aih_Ohr/view
Thanks to check & feedback.

[2019-08-09 13:54] itisco commented on #15033
Oops, sorry, here it is
![Screenshot_2019-08-09 Images • Mon shopping bien-être by Gaëlle](https://user-images.githubusercontent.com/4580313/62784115-03b11400-babe-11e9-8ec6-b30b0a218ec4.png)

[2019-08-09 13:55] PrestaShark commented on #14999
Please change PHP version to 7.2 and check again...

[2019-08-09 14:02] zelduxs commented on #14999
Hi my PHP version: 7.2.14

2019-08-09, pn 16:55, Prestashark.eu <notifications@github.com> rašė:

[2019-08-09 14:03] tiptopnet opened #15057 "error on translation classic 1.7"
Hi

I have just setup Prestashop 1.7.6.0

I want to update translations and I get the error message (attached file) :

Invalid resource provided "1.2"...... in /home/www/xxx/... line2, column 0

i have installed another template I bought : same error

Exported the fr-FR.fr-FR.xlf and placed it in /themes/theme1/translations/fr-FR/

i have updated language from PrestaShop.com

Still not working

Tr

[2019-08-09 14:04] khouloudbelguith commented on #15033
@itisco, all these image types are created manually or with a custom module?

Thanks!

[2019-08-09 14:07] khouloudbelguith commented on #15057
Hi @tiptopnet,

Do you need to translate the BO?
Is it the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/14733?

Thanks!

[2019-08-09 14:08] khouloudbelguith commented on #15048
Hi @idnovate,

Thanks for your report.
I checked with PS1.6.1.24 => OK
![image](https://user-images.githubusercontent.com/16067358/62784544-9ea5f000-bab6-11e9-995c-ff9bdd6fe5b4.png)
I tried with PS1.7.5.1 & ps1.7.6.0 => Access denied
![image](https://user-images.githubusercontent.com/16067358/62784987-8f737200-bab7-11e9-95c1-a4a0d661e616.png)
I’ll add this to the debug roadmap so that it’s fixed.

[2019-08-09 14:12] 01park commented on #15046
Hi @khouloudbelguith ,

I have discovered the problem. I migrated my stores from PS 1.6 to 1.7 and used the migration module for this. The module imported all the the invoices used the import date as the date the order was created.

After changing the dates manual in the database I managed to fix the issue.

[2019-08-09 14:15] tiptopnet commented on #15057
Hi @khouloudbelguith
Thanks for your fast answer
Its not the same error but I can't translate the classic template and not the new template installed.
I have read and tried #14733
When I select classic template and the language, it open the translations page and whow the error i posted before and I see the page like in that :
![demo3](https://user-images.githubusercontent.com/28688186/62785281-a23

[2019-08-09 14:18] khouloudbelguith commented on #15053
Hi @vilzuh,

In fact, this issue occurs because the theme folder is in the zip file as reported here: https://github.com/PrestaShop/PrestaShop/issues/15004
If you try to upload a zip file with the theme folder => OK
[child_classic.zip](https://github.com/PrestaShop/PrestaShop/files/3486723/child_classic.zip)
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate o

[2019-08-09 14:18] #15053 closed, assigned to nobody

[2019-08-09 14:18] khouloudbelguith commented on #15053
Duplicate of #15004

[2019-08-09 14:19] khouloudbelguith commented on #15057
@tiptopnet, thanks for your feedback.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-08-09 14:20] khouloudbelguith commented on #15046
@01park, did you used the 1-click upgrade module?

Thanks!

[2019-08-09 14:22] 8ternity commented on #15056
I was having issue with version 1.7.5.0 with Faceted Search. I was resolving it by purchase the module "[Amazzing filter Module](https://addons.prestashop.com/en/search-filters/18575-amazzing-filter.html)" and works really better ! Either if your native Prestahsop doesn't work. But you will need to disable or uninstall it after it.

[2019-08-09 14:23] khouloudbelguith commented on #15054
Hi @onklmaps,

It's planned to remove the number of decimal parameters in Shop parameters > General.
You can follow this ticket: #12223
And it's also planned to add this feature in CLDR part 2: #11660

Thanks to check & feedback.

[2019-08-09 14:24] 01park commented on #15046
@khouloudbelguith

No, at that time the 1-Click upgrade did not upgrade from 1.6 to 1.7, so I bought the promoted version on Prestashop.com

[2019-08-09 14:26] khouloudbelguith commented on #15046
@01park, thanks!
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-08-09 14:26] #15046 closed, assigned to nobody

[2019-08-09 14:33] itisco commented on #15033
They are the basic image of prestashop and some are created by the theme

Cordialement,
[image: Animation Itis]

Jean-Philippe BEAUVE
Chef de projet
65, rue du Bourbonnais 69009 LYON
09 72 11 89 24 | 08 05 69 20 06
www.itis-commerce.com
Téléchargez ma VCard !

Le ven. 9 août 2019 à 16:04, khouloudbelguith <notifications@github.com> a
écrit :

--
*PETIT DEJITAL #17*
*STRATÉGIE DIGITALE LA CROISSANC

[2019-08-09 14:40] tiptopnet commented on #15057
Debug mode is already on
Below the php error log (I replaced by xxxxx domain name, hosting and token)

[ERROR 65] attributes construct error (in n/a - line 1467, column 30), referer: http://xxxxx.com/adminxxxxx/index.php/improve/international/translations/settings?_token=-xxxxx

[ERROR 77] Premature end of data in tag body line 1451 (in n/a - line 1467, column 30), referer: http://xxxxx.com/adminx

[2019-08-09 14:41] vilzuh commented on #15053
Hi,
I tried to upload that exact file you linked and it still resulted in an error.
Here's a clip of it https://www.youtube.com/watch?v=c2uRQ0m8T6Y
I have no idea what is causing it, but the file apparently is not even uploaded to the remote server prestashop is running on, as the error message is instant upon dropping the file.
Is there anything I can do to give more info on this?

[2019-08-09 14:46] 8ternity opened #15058 "Manufacturer BO error: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'position' in 'order clause'"
Hi Gitters :)

I've done a manual migration from Prestashop 1.7.5.1 to 1.7.6.0 by the best of my knowledge. After migrating selected tables according to procedure by avoiding theses tables (ps_access, ps_configuration, ps_currency, ps_lang, ps_module_access, ps_tab and ps_tab_lang), i import the databases tables on a fresh 1.7.6 store with the same modules and employees configurations, same langua

[2019-08-09 14:46] khouloudbelguith commented on #15056
Hi @PrestaShark,

In fact, in your case, the quantity of the General Product > 0
![image](https://user-images.githubusercontent.com/16067358/62787126-f004ae00-babb-11e9-9aa9-6bc105a0661c.png)
But, in your case, only one combination is out of stock which is `36`

When you make a filter with the `36` filter => yes, we have a product with the size, you are searching with the filer size & not the avai

[2019-08-09 14:47] marionf opened #15059 "When editing a cmbination, the ecotax field is tax incl"
1. Enable ecotax in International > Taxes
2. Edit a product with combination
3. Go in combination tab
4. Edit a combinaion
5. See the ecotax field

![capture d'écran_1875](https://user-images.githubusercontent.com/13449658/62787607-57732b80-bac5-11e9-86d6-f82794bd320d.png)

It should be rename: "ecotax (tax incl.)" like in the pricing tab.

![capture d'écran_1876](https://user-images.githubusercon

[2019-08-09 14:52] khouloudbelguith commented on #15053
@vilzuh, I tried with the same file & it is OK
https://drive.google.com/file/d/1Nssw6AN1TLQDgjoAsLSqUTq3ayEqUb9q/view

[2019-08-09 14:55] khouloudbelguith commented on #15033
@itisco, I think this issue is related to those images which are created by the theme.
On a test shop, try to delete those images, keep only the images by default by PrestaShop, regenerate images, check & feedback.

Thanks!

[2019-08-09 15:04] khouloudbelguith commented on #15043
@Romain-Del, I tried with your logo & it is OK
https://drive.google.com/file/d/1Qx2VmJpRPH7lewvhIEoFVbyyF1lkg62y/view
SVG images are not supported by PrestaShop: improvement created here: https://github.com/PrestaShop/PrestaShop/issues/10600

Thanks!

[2019-08-09 15:14] khouloudbelguith commented on #15037
@papich06, the table ps_guest is not found in your case.
I attached the three tables
[ps_guest.sql.txt](https://github.com/PrestaShop/PrestaShop/files/3486919/ps_guest.sql.txt)
[ps_connections_source.sql.txt](https://github.com/PrestaShop/PrestaShop/files/3486920/ps_connections_source.sql.txt)
[ps_connections_page.sql.txt](https://github.com/PrestaShop/PrestaShop/files/3486921/ps_connections_page.

[2019-08-09 15:23] jf-viguier opened #15060 "Allow multiple payments in cart for voucher, loyalty program, ..."
Actually, in all prestashop versions, there is no way to have multiple payments in cart.
This could be usefull for a gift voucher, loyalty program or two separate payments.

Actually, order car have multiple payments but only on backoffice.

The question is ? For a cart with multiple payments, wich payments validate the cart to generate an order ?
I guess a cart of 100€ with a a gift voucher of 30

[2019-08-09 15:24] eternoendless commented on #15054
I discussed this with @onklmaps on gitter.

Basically CLDR defines not one, but _two_ patterns for formatting prices:
- "standard" pattern (the one we use)
- "accounting" pattern (which we don't)

It could be a good idea to add optional support for the accounting pattern, which would be used in invoices only.

Wdyt @colinegin @samuel-pires @marionf ?

[2019-08-09 15:49] khouloudbelguith commented on #14581
Hi @ProBackup-nl,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-08-09 15:49] #14581 closed, assigned to nobody

[2019-08-09 15:50] khouloudbelguith commented on #14429
@PeeyushAgrawalWebkul, any news?

Thanks!

[2019-08-09 15:53] khouloudbelguith commented on #15057
@tiptopnet, have you tried to contact the theme author about this issue?

Thanks!

[2019-08-09 15:58] khouloudbelguith commented on #14595
@geengome, thanks for your feedback.
In fact, In my case, before doing an upgrade from PS1.7.5.1 to PS1.7.6.0, I tried to create some orders with different currencies Euro & Dollar & I tried to add some products to the cart with a different currency.
I make the upgrade with the 1-click upgrade v4.9.0 => OK
I check the Order page & the Shopping cart page => OK.
https://drive.google.com/file/d/1dlZE

[2019-08-09 16:01] yannicka commented on #14957
For the moment I can't. Maybe later, I'll keep you informed.

[2019-08-09 16:03] khouloudbelguith commented on #14999
Hi @zelduxs, could you please try to click on these buttons from the page configuration of the ps_facetedsearch module
- Rebuild entire price index
- Build attributes and features indexes
- Clear cache
![image](https://user-images.githubusercontent.com/16067358/62792604-8ee2d780-bac7-11e9-83f5-95ab78abb27b.png)

Check & feedback.

[2019-08-09 16:03] khouloudbelguith commented on #14957
@yannicka, Thanks!
Waiting for your feedback.

[2019-08-09 16:07] khouloudbelguith commented on #14936
@racfalit, do you have `opcache` enabled on your server?

Thanks!

[2019-08-09 16:13] khouloudbelguith commented on #15058
Hi @8ternity,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14620 to fix the issue.
Your ticket is a duplicate of #14617
So, I close it.
Thanks!

[2019-08-09 16:13] #15058 closed, assigned to nobody

[2019-08-09 16:13] khouloudbelguith commented on #15058
Duplicate of #14617

[2019-08-09 16:16] khouloudbelguith commented on #15060
Hi @jf-viguier,

Thanks for your report.
Ping @marion @colinegin what do you think?

Thanks!

[2019-08-09 16:20] Romain-Del commented on #15043
I don't understand, I have two website and the same problem.
Even if I reinstall since zero

![InkedScreenshot_2019-08-09 Error imagecreatefromjpeg() gd-jpeg JPEG library reports unrecoverable error Not a JPEG file starts w _LI](https://user-images.githubusercontent.com/46653527/62793510-0a498680-bad2-11e9-87ac-20591f928ebc.jpg)

My code at line 7034 :
`				try {
					// GD library
					$img = $gd

[2019-08-09 16:20] kodarco opened #15061 "Discount field is calculated greater than the voucher field shows"
On the order confirmation email and in BO discount field shows $5.20 and voucher field shows $3.20. One of the item is on sale and voucher is set to exclude discounted products, so voucher field show the correct amount but, below the discount field shows the incorrect amount as if the voucher is also applied to the product on sale.
![s1](https://user-images.githubusercontent.com/43558067/62793155-

[2019-08-09 16:35] tiptopnet commented on #15057
Yes still waiting for the answer.
But i have the problem with the classic language option too so I think it's not about the theme
Probably a bug inside Prestashop and I dont' know when I will finish to update the shop if language is not available

[2019-08-09 16:48] zelduxs commented on #14999
I know, but it doesn't help, I've tried many times

[2019-08-09 16:53] papich06 commented on #15037
@khouloudbelguith
In fact, i have a blank page on my BO i can work only when i activate PS_mode_dev

I think i have problem with Cache how to fix it ? (view attach file)
[cache.pdf](https://github.com/PrestaShop/PrestaShop/files/3487295/cache.pdf)

I update database thanks but i can't find module Prestashop Cleaner for 1.7.6 where you get it ?

thanks

[2019-08-09 16:55] fafa0659 commented on #14733
@khouloudbelguith can you let me know the files must be modified , they are
no folder API

best regards

Le ven. 9 août 2019 à 14:38, khouloudbelguith <notifications@github.com> a
écrit :

[2019-08-09 17:08] racfalit commented on #14936
I have asked the hosting and they tell me that it is NOT enable

[2019-08-09 17:24] 8ternity commented on #15058
No it's not a dipplicate, i already made this fix #14617. Read the post, i already apply this fix.

[2019-08-09 19:36] gbr161 opened #15062 "Faceted Search - products are displayed in wrong order when sorted by "position" and "Show products from subcategories" is disabled"
**Describe the bug**
As title says. When products are sorted by position they are not in the order ive set in admin panel. If I change order from ascending to descending, products are changing order, but still this is not the order that is set in admin panel.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin panel -> add some products and sort them the way you wish
2. Save it
3. Go

[2019-08-09 21:55] presciak commented on #14595
Yes, I have 1-click upgrade v4.9.0
I turned off PayPal and other payment modules before upgrading
1-click upgrade v4.9.0 showed a correctly completed update
(screen)
![upgrade-1 7 6 0](https://user-images.githubusercontent.com/53096552/62810315-d08e7500-bafd-11e9-8c4f-76df3f57c2f9.png)

when I try to log in to the store panel I have the message

In debug mode, I have the message:
[code]
xxx - is m

[2019-08-09 22:03] Archikawa commented on #14575
@ricky2k7 no clue. I wanted to get a piece of code with a few traces to help investigate where interferences could exist but i got the "can't reproduce" in return. Sorry.
In my case I am still trying to figure out what causes the query to return a wrong order by sequence just by simply activating the module (not even using it) If ever i find the answer I will post it here.

[2019-08-10 04:41] stellatmy commented on #14733
I think I shall wait for the update version. Back office translations is working after the file modifications. But the installed modules translations is still the same error message:

[2019-08-10 05:39] dharmendravirasat opened #15064 "cart subtotal shipping value in i want to add math formula"
for example
i have a one product in cart
product price $ 5000
&&
shipping price $ 800
 Total price $ 5800
but, i want to add in shipping some calculation
product price $ 5000
&&
shipping price $ 800*15/100 =120

 Total price $ 5120
how to possible ?
 I think,i need to change cart file
please suggest

@khouloudbelguith

[2019-08-10 08:24] Esmoof commented on #9583
I have the same problem now in my VPS. With an installation of Prestashop 1.7.6.0 and PHP 7.2.21

PHP 7.2.21-1+0~20190807.25+debian9~1.gbp935ebf (cli) (built: Aug  7 2019 19:49:58) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.2.21-1+0~20190807.25+debian9~1.gbp935ebf, Copyright (c) 1999-2018, by Zend Technologie

[2019-08-10 08:58] debuss commented on #14608
Banque return is made through Ajax, therefore the Context class is not instantiated correctly.

To avoid the error **PHP message: PHP Fatal error: Uncaught Error: Call to a member function get() on null **, your bank module needs to instantiate the controller and language in Context.
Example :
[code]
With that, it should be okay and ToolsCore::displayPrice() method should be not throw exception.

[2019-08-10 10:57] Mamar25 opened #15065 "ps_facetedsearch 3.2.0 : the order of the attributes doesn't correspond to the back office PS 1.7.6"
Hi,

On Prestashop 1.7.6, I have problems with the facetedsearch 3.2.0 module.
The product variations, which appear in the front office do not correspond to the order set in the back office (catalog / attributes).

For example, I have different sizes of clothes that I want to display in this order: S / M / L / XL but it is displayed in alphabetical order: L / M / S / XL.

I configured the back off

[2019-08-10 12:05] #15064 closed, assigned to nobody

[2019-08-10 12:06] PeeyushAgrawalWebkul commented on #14429
Hello @khouloudbelguith

I have emailed a test module on your email id. Please check and let me know I'll create the PR for this issue solution.

Thanks.

[2019-08-10 13:18] tiptopnet commented on #15057
Hi @khouloudbelguith
I have a setup another fresh install of 1.7.6 and tried, everything works untill I upload and activate a 2nd theme
When I switch back to the classic theme, language works without error
When I switch back to new theme, errors appears
Do you know a free theme for 1.7 and where I can download it please ?
Just to try... perhaps with 3 themes installed errors will be gone ! :)
I wi

[2019-08-10 14:11] onklmaps commented on #15054
I think it's also a good idea to use the "accounting" other places too. The issue applies everywhere tax/vat is being calculated: cart totals, checkout.
In _the old 1.6 days_ when turning off decimals was still an option, we would with some payment methods get payment error due to rounding issues with vat/tax.

I would argue that the _correct_ "accounting"-price is the one to be used behind the sc

[2019-08-10 18:15] web-burn commented on #14733
Hello @khouloudbelguith,
Also i noticed a problem with a export of theme's translations in PrestaShop 1.7.6.0.
I have create many expressions in theme:
http://prntscr.com/oqzs8f
In previous version after of language's export i got a xml files with my translations:
http://prntscr.com/oqzsho
http://prntscr.com/oqzsm4
In PrestaShop 1.7.6.0 after of language's export i got a single xml file in archive

[2019-08-10 18:41] daresh commented on #14735
Check out this free module, I managed to add a custom field to the category form: https://www.prestashop.com/forums/topic/929636-free-module-widget-additional-category-description/

[2019-08-11 10:35] Pirate911 commented on #14663
It works ..Thanks for the tip.

[2019-08-11 17:07] OneDotIT commented on #14998
Hello,

A Unix Socket is data communication channel, somehow like UDP, but for the (same system) local processes.

Yes, the socket dose not include the network overhead, but still that would be a required case if both the database and the PrestaShop installation are on the same machine. Since PrestaShop is a common 3-Tier Web Architecture (Client, Web Server, Database Server), it's mostly assumed

[2019-08-11 17:45] MathiasReker opened #15066 "Logo is saved with wrong MIME type"
Go to Design -> Images -> Set use PNG -> Save.
![1](https://user-images.githubusercontent.com/26626066/62837373-fbe4a180-bc6e-11e9-9463-7e0ad49b624d.png)

Go to Design -> Theme and logo -> Upload logo in PNG -> Save.

Add to your .htaccess file:
[code]

Open browser Internet Explorer 11

Logo is not visible! -> Check console of IE11: `DOM7009: Unable to decode image at URL`.

So what is being done

[2019-08-11 18:18] MathiasReker commented on #15066
I made a PR: https://github.com/PrestaShop/PrestaShop/pull/15067

[2019-08-11 18:58] Bugfunder commented on #14998
So much text for a 2 LOCs of feature request..

We do deploy on a powerful single machine with lots of cores and CPU. Hope there are others doing it.

And yes, you are right, if Doctrine supports it, why having this architecture level argumentation for Presta?

[2019-08-11 19:37] web-burn commented on #14878
Hello,
@khouloudbelguith, i noticed one more problem:
The native module "Featured products" can displayed on confirmation page too:
http://prntscr.com/orbizx
But the plugin "jquery.rating.plugin.js" doesn't include on confirmation page in file "productcomments.php":
http://prntscr.com/orbjhw
This plugin included only for next pages:
- Product page;
- Listing pages;
- Index page;

[2019-08-11 20:07] ricky2k7 commented on #14575
@Archikawa thanks for the feedback. If i ever stumble upon a solution, I'll let you know too.

[2019-08-11 23:10] Vladdov commented on #14733
There is also a big problem!
Could not crawl for translation files: The "/var/www/www-root/data/www/DOMEN/var/cache/prod/themes/TEMPLATE/translations" directory does not exist.

[2019-08-12 05:17] karopka commented on #15047
Yes, it solves the issue

[2019-08-12 05:17] #15047 closed, assigned to nobody

[2019-08-12 06:42] vilzuh commented on #15053
It looks like this is not bug that many users at all experience. Are there any logs or such that I could send over for you to check out? If there's something obviously wrong or weird about my set up that could affect this.

[2019-08-12 06:59] dnatabar opened #15069 "Webservice Customer - Updating forces password reset"
Updating any field on a customer through the webservice fails if there are no password element as well.
But when you supply a password element, the customers password is obviously changed.
Since it requires an unhashed password ( as it automatically hashes the recieved password ), it will effectively block a customer who have been udpated through the webservice, from logging in without resetting t

[2019-08-12 07:40] Flower7C3 opened #15070 "Product prize digits"
**Describe the bug**
Back office price is calculated with to many decimal points

**To Reproduce**
Steps to reproduce the behavior:
1. In back office go to 'Catalog / Products'
2. Edit product
3. Change tax excluded price to one with 2 decimal point values, eg. **13.87**
4. Change field, then tax excluded changed to **13.869999**, and tax included changed to **16.643999** - first error

If that va

[2019-08-12 07:47] itisco commented on #15033
Hi,
I don't think the issue is the images because on a clean install with the
same theme (on a demo site), the images on the invoice are working great,
but if you do an update of prestashop, then there is the issue.
Any idea?
Thank

Cordialement,
[image: Animation Itis]

Jean-Philippe BEAUVE
Chef de projet
65, rue du Bourbonnais 69009 LYON
09 72 11 89 24 | 08 05 69 20 06
www.itis-commerce.com
Télé