[2022-11-14 12:35] hibatallahAouadni commented on #30272
Hello @web-plus

Thanks for reporting the issue!
As @Hlavtox mentioned we need to backport the PR and thanks @Hlavtox for your PR and quick replies 🚀
I didn't reproduce the issue with PS1787 neither with PS800 + PHP 7.2, so it's kind of a regression on PHP version 😉

Thanks!

[2022-11-14 12:35] d0niek commented on #30221
Hi @florine2623 !
I saw that you had fixed an issue at march 16, 2022 and there wasn't module upgrade from June 23, 2020. Are you going to release new version with this fix?

[2022-11-14 12:43] hibatallahAouadni commented on #30286
Hello @Hlavtox

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR 🚀

Thank you

[2022-11-14 12:49] hibatallahAouadni commented on #30285
Hello @Quetzacoalt91

Thanks for reporting the issue and the PR 🚀
It's a regression on develop branch!

Thanks!

[2022-11-14 12:56] anothersailor opened #30287 "There is no image type defined for "products". at line 303 in file src/Adapter/Image/ImageRetriever.php after installation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Error when installing with the scri

[2022-11-14 13:07] khouloudbelguith opened #30288 "BO - Monitoring page - An exception is displayed when we try to enable a product with empty Name"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

With Product V2, we can create a di

[2022-11-14 13:16] PrestaEdit opened #30289 "Email previsualisation fail while you have no orders on your shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you have no orders on the shop

[2022-11-14 13:36] hibatallahAouadni commented on #30287
Hello @anothersailor

I didn't manage to reproduce the issue with the provided infos.
Could you please provide a screen record while re-installing the shop.
Waiting for your feedback.

Thanks!

[2022-11-14 13:38] mikmikmik commented on #27692
Hello I have the same issue, Google is slapping my fingers for a product canonical with id_product_attribute missing.
Is it possible to remove it from actual url without braking navigation?
Prestashop 1.7.8.6

[2022-11-14 13:49] mikmikmik commented on #26676
Hello,
I have the same issue, Google is slapping my fingers.
Is it possible to remove it from actual url without braking navigation? Or add it in the canonical...
It would make more sense to be at the end like 1-productname-attribute (I hope you're not using the actual url to retrieve a GET data...)
Prestashop 1.7.8.6

[2022-11-14 14:14] hibatallahAouadni commented on #30287
Hello @anothersailor

It seems that you forget to execute the command:
`make install`
Try to execute this command and then install your shop.
Please check and feedback.

Thanks!

[2022-11-14 14:18] hibatallahAouadni commented on #30275
Hello @Tomi1444

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #24133.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-11-14 14:19] #30275 closed, assigned to nobody

[2022-11-14 14:19] hibatallahAouadni commented on #30275
Duplicate of #24133

[2022-11-14 14:21] anothersailor commented on #30287
Indeed I have. Will try and let you know.
I had understood that the non-dev install would load the built files, but that was an assumption.

Many thanks,
Cheers,
Eric

Eric Janvier
+33 6 80 94 14 45
***@***.***

[2022-11-14 14:22] PrestaEdit opened #30290 "Email previsualisation of module throw an error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When your module add the `actionLis

[2022-11-14 14:30] PrestaEdit commented on #30290
Seems to be due to this : https://github.com/PrestaShop/PrestaShop/pull/25992/files#diff-e08e989bce9d96b0dafd81a9589cd1062d5eee74fe877ba4a507a90c9f7937c2R160

Now, we have to respect the path as marked there.

[2022-11-14 14:45] YerayAPP opened #30291 "I can't Install"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I can't Install

### Expected behav

[2022-11-14 14:47] #30291 closed, assigned to nobody

[2022-11-14 14:52] PrestaEdit commented on #30287
Same issue as this one : https://github.com/PrestaShop/PrestaShop/issues/30000

[2022-11-14 14:56] fabienvallon opened #30292 "PrestaShop 8.1 initiatives (from Open Source Tribe)"
### Initiative : Product Page (and multistore) migration page

Use the opportunity of product page migration to provide the best product page for merchants that is compatible with multistore.

Many merchants have difficulties about the multistore that is not quite fully working. The multistore actions are unclear on the product page. The merchant doesn't understand if the actions will impact all t

[2022-11-14 15:10] evesoft commented on #22527
How is this fixed? I've installed the latest version (1.7.8.7) clean and the bug is still there - aliased hooks are still registered as new.

the dummymodule.zip still reproduces "adminOrder"hook being created in ps_hook

[2022-11-14 15:56] #28995 closed, assigned to nobody

[2022-11-14 18:21] anothersailor commented on #30287
The build fails (see attached log file).

That said, my error was a PHP error, so I would have thought it would have been independent of the build. Mut I am probably wrong.

Eric % gh repo clone PrestaShop/PrestaShop
Cloning into 'PrestaShop'...
remote: Enumerating objects: 859535, done.
remote: Counting objects: 100% (367/367), done.
remote: Compressing objects: 100% (294/294), done.
remote: Tota

[2022-11-14 18:54] TheKruspe commented on #26676
FacetteNavigation shows all products that have a combination that matches
the search criteria but always references the default combination. There
are a lot of issues that need to be addressed. I submitted a PR, but it
breaks the unit tests and needs changes in order to allow further
customization. A can imagine a quick fix that simply removes the
combination id if it's the default combination.

M

[2022-11-14 18:59] TheKruspe commented on #26676
Sometimes there isn't a default combination, though. This should be
customizable.

Domenic Jahn ***@***.***> schrieb am Mo., 14. Nov. 2022,
19:53:

[2022-11-15 09:11] 0x346e3730 commented on #30290
Should be fixed with https://github.com/PrestaShop/PrestaShop/pull/30295.

[2022-11-15 09:14] hibatallahAouadni commented on #30289
Hello @PrestaEdit

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #26919.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-11-15 09:14] #30289 closed, assigned to nobody

[2022-11-15 09:14] hibatallahAouadni commented on #30289
Duplicate of #26919

[2022-11-15 09:15] PrestaEdit commented on #30290
Shoud be tested before saying something as it, ...

Not working at all with this issue, there.

[2022-11-15 09:15] PrestaEdit commented on #30289
Thanks and sorry, @hibatallahAouadni !

[2022-11-15 09:35] 0x346e3730 commented on #30290
You need to change
[code]
to
[code]
in `issue.php`

[2022-11-15 10:57] AureRita commented on #30287
Hi @anothersailor

Can you give us the current version that you use for nvm ? you maybe use a version too recent (just in cas, to know it, use
`nvm current`)

Waiting for your feedback

[2022-11-15 11:07] #21884 closed, assigned to Progi1984

[2022-11-15 11:09] napssster commented on #11622
Hi, does anyone have a solution for [mayank 212] original issue? It's the end of 2022 and I have the same issue with the value coupon code.

[2022-11-15 11:26] Koubae commented on #20901
End of 2022, almost 2022, and the theme is still using **4.0.0-alpha.5**
[classic-theme](https://github.com/PrestaShop/classic-theme/blob/develop/_dev/package.json)

From https://github.com/PrestaShop/PrestaShop/issues/14533#issuecomment-511464778:

Well, this didn't age well I guess.

[2022-11-15 11:41] borjagarciab opened #30296 "IMAP service basic-auth is deprecated"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Outlook has disabled the basic-auth

[2022-11-15 12:02] joseantgv commented on #11622
I think it's not as easy as splitting the discount. Which amount do you apply to each order? What happens if it's a discount for a specific product?

[2022-11-15 12:19] eternoendless commented on #30213
I have checked with our legal counsel, this is what we should use instead:

[code]

Next steps:
- [ ] Update the `src/PrestaShopBundle/Command/UpdateLicensesCommand.php` file
- [ ] Update the docs
- [ ] Update header on all files

[2022-11-15 12:25] #20857 closed, assigned to Progi1984

[2022-11-15 12:34] Hlavtox commented on #30296
Yes, it can be enabled till the end of this year, but no more basic auth IMAP in Office 365 next year. 😐

At least SMTP will continue to work.

[2022-11-15 12:46] Hlavtox commented on #30287
I think you installed Prestashop without a valid built theme.

[2022-11-15 12:48] borjagarciab commented on #30296
@Hlavtox
I'm not able to connect to outlook (with IMAP) , thats the reason why i open the issue :(
It says "connection broken" since some days and the re-enable function from outlook not working

Hope that prestashop develop a fix soon.

[2022-11-15 12:50] Hlavtox commented on #30296
@borjagarciab You can temporarily re-enable basic auth by following this guide. Try it.👍
https://www.kraftkennedy.com/how-to-temporarily-re-enable-basic-authentication-in-exchange-online/

[2022-11-15 12:57] borjagarciab commented on #30296
@Hlavtox
Did last day the steps and keep not working.
Anyway thanks for your help

[2022-11-15 13:20] anothersailor commented on #30287
Thanks for the tip. Will try better!Best,EricEric Janvier+33 6 80 94 14 45 Le 15 nov. 2022 à 13:47, Daniel Hlavacek ***@***.***> a écrit :﻿
I think you installed Prestashop without a valid built theme.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-11-15 13:34] AureRita commented on #30287
Say us when you got some new details,

waiting for your feedback

[2022-11-15 13:51] AureRita commented on #29326
Hi @PululuK,

I tried to reproduce your issue with your details and I've got this :

[Untitled_ Nov 15, 2022 2_48 PM.webm](https://user-images.githubusercontent.com/100699445/201936011-74905117-22e3-4071-81aa-05a005517c2e.webm)

Is this your issue ? because this seems to be a writting issue

waiting for your feedback

[2022-11-15 13:53] #22372 closed, assigned to nobody

[2022-11-15 13:53] kpodemski commented on #29326
@PululuK I think it'll be easier if you could provide a tiny example module :)

[2022-11-15 14:00] #30155 closed, assigned to mflasquin

[2022-11-15 14:05] AureRita commented on #30296
Thank you @Hlavtox for your answer,

Hi @borjagarciab,

is it the same request as this one #29786 ?

Waiting for your feedback

[2022-11-15 14:35] NordineA commented on #30112
Hi,

Here's the example module.

[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/10013536/mymodule.zip)

[2022-11-15 14:43] justeen35 commented on #20901
You want to change this? Then go and help the hummingbird project https://github.com/PrestaShop/hummingbird it's the next theme

It will be much more efficient than complaining here while other people do the work instead of you

[2022-11-15 15:10] Hlavtox commented on #30296
@AureRita That's something different. Here were are talking about authentication to connect to Office 365 mail servers.

Microsoft is permanently disabling login to IMAP servers with just classic username and password, and all mail clients now need to use some modern way of authentication, for example oauth or simmilar. This will break all older email clients and software that don't support it, in

[2022-11-15 15:41] napssster commented on #11622
Is this more important than multiplying the amount of coupon codes? If you can make a solution that coupon can be added to larger (value) order it should be fine. There's no need to make it harder than it is.

[2022-11-15 15:43] #30112 closed, assigned to nobody

[2022-11-15 15:47] JoryHogeveen commented on #20901
@justeen35
I understand your comment and totally agree with you regarding contributing to open source projects.
As a contributor to several open source projects I can relate to feeling annoyed when your free work is criticized.

However, this tone will not make other dev's wanting to contribute at all.
If anything, it'll make then look for alternatives instead.

I didn't know about the Hummingbird

[2022-11-15 16:10] #30285 closed, assigned to nobody

[2022-11-15 16:17] borjagarciab commented on #30296
Hi @AureRita
Yes is the same request as https://github.com/PrestaShop/PrestaShop/issues/29786

The problem is that currently the system is not working because the authentification that use prestashop is deprecated.
You can try to configure the imap data into customer service tab , and try to sync the mail, will return you an error.

In my opinion, this feature require to be priorized because all o

[2022-11-15 16:25] AureRita commented on #30296
@borjagarciab

Because this issue is the same request, I have to close it as dupplicate,

This feature have already a PR on it so it will be fixed soon, You can follow this PR #29931 to be noticed when this one is merged

Thank you

[2022-11-15 16:26] AureRita commented on #30296
Duplicate of #29786

[2022-11-15 16:36] AureRita commented on #30100
Hi @Hlavtox  ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thanks

[2022-11-15 16:39] AureRita commented on #30117
Hi @Mecanik  ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thanks

[2022-11-15 16:39] #30117 closed, assigned to nobody

[2022-11-15 17:50] Hlavtox commented on #30100
@AureRita @hibatallahAouadni is this fixed? There was no question to me

[2022-11-15 17:54] Hlavtox commented on #30296
@AureRita That issue is about something completely different. Are you reading what I am writing???

[2022-11-15 18:40] anothersailor commented on #30287
Dear A.

I am going to abandon the idea of installing version 8.0 from the GIT.

Can’t build the assets however I try to follow the instructions.

Apologies for the disturbance and thanks for trying to help,
E.

Eric Janvier
+33 6 80 94 14 45
***@***.***

[2022-11-15 19:19] Hlavtox commented on #30287
@anothersailor Use this ZIP and it will work perfectly 👍
https://github.com/PrestaShop/PrestaShop/releases/download/8.0.0/prestashop_8.0.0.zip

[2022-11-15 21:28] matks commented on #24968
Hello, I believe this is a developer feature as this suggests to improve how HelperForm works ^^ so I think we don't need Product Manager approval but rather Maintainer approvals, and I approve this idea 👍

[2022-11-15 22:57] Misty-94 commented on #30189
Hi @AureRita,

It seems it's not a bug.

In modules/contactform/contactform.php :
   $this->trans('Message from contact form', [], 'Emails.Subject').' [no_sync]',

And then in controllers/admin/AdminCustomerThreadsController.php :
   $new_ct = (Configuration::get('PS_SAV_IMAP_CREATE_THREADS') && !$match_found && (strpos($subject, '[no_sync]') == false));

So it's used in BO (Sell/Customer Service)

[2022-11-16 00:21] srunow opened #30300 "500 Server Error while using backoffice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Screenshot_20221116_011716](https

[2022-11-16 00:27] Misty-94 opened #30301 "Empty fields changed to NULL in database when customer edits his informations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you create a new customer in F

[2022-11-16 00:35] Misty-94 commented on #30301
Also I see that GDPR user has these fields as NULL when installing PS from scratch but maybe it's another bug or old behavior where NULL fields where OK but not anymore ?

[2022-11-16 01:41] srunow commented on #30301
This is highly depending on the used DBMS. For instance, PLSQL doesn't know empty strings so an empty field must be/is converted to `NULL`. In MySQL, usually you can differentiate between no data has been passed on creating or updating (empty field) or empty data has been passed (field is `NULL` then). I didn't investigated that on detail and especially not in this case, but this is the usual beha

[2022-11-16 02:12] Misty-94 commented on #30301
Thanks @srunow for your comment.
Unfortunately this is not exactly how it works at the moment, remember that part of prestashop is symfony and other part not and they are restricting more and more data validation with time (which I think is a good thing if handled correctly).
Please see for example this post : https://github.com/PrestaShop/PrestaShop/issues/22215 and you will understand what I mea

[2022-11-16 02:19] Misty-94 commented on #30301
Look at this comment for example : https://github.com/PrestaShop/PrestaShop/issues/22215#issuecomment-814502301
These are some of the fields I reported and they change them from NULL to '"" to make their shops work, so If changed back to NULL I'm worried...

[2022-11-16 08:47] Hlavtox commented on #30100
@intraordinaire Why is the issue closed for “inactivity” then?

I know the issue is in the module, but the module breaks the shop and there is no way around it. 🤷

[2022-11-16 09:07] mflasquin commented on #29777
As discussed, the role of API Gateway is taken by ApiPlatform

[2022-11-16 09:28] #30300 closed, assigned to nobody

[2022-11-16 09:28] sallemiines commented on #30300
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/27384 .

[2022-11-16 09:54] eshraw commented on #29777
As @mflasquin mentioned, @atomiix and him have confirmed that APIPlatform was taking the role of the API Gateway. As a result we'll consider this issue done once #30293 & #29931 are done and we will close this issue then.

[2022-11-16 10:17] nesrineabdmouleh opened #30302 "A HTTP 500 internal server error in BO > Orders > Credit slips page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is displayed in BO > O

[2022-11-16 10:32] #24492 closed, assigned to nobody

[2022-11-16 10:51] sallemiines commented on #30301
Hello @Misty-94;

Thanks for reporting the issue

I reproduce the issue with **PS1778, PS1787** and **PS800** , you can see the attached screenShot

![0-0-0-0-8100-qa-mysql-5-7-3306-ps1787-ps_1787customer-phpMyAdmin-5-1-3](https://user-images.githubusercontent.com/31663369/202151835-5be96b37-f6be-4bf8-b453-1c0f25cd9f6c.png)

Thank You !

[2022-11-16 11:02] sallemiines commented on #30302
Hello @nesrineabdmouleh,

Thanks for reporting the issue  !

I reproduce the issue only with `PS80x` , So it's a regression !

Thank you ! :rocket:

[2022-11-16 12:32] Hlavtox commented on #30301
@jolelievre @zuk3975 Guys, what is the proper value for empty fields in database? Should it matter what is there?
There were some bugs historically about this, because old PS versions filled something with NULL, something with '' etc.

[2022-11-16 13:31] zuk3975 commented on #30301
In theory NULL corresponds to no value at all, while the empty string should be considered a value, so there should be a difference. But in prestashop context, due to some legacy code inheritance, these are most of the time considered the same (in database level).
Anyway these fields company/siret/ape are optional by nature (not every customer must have a company etc..) and the database structure

[2022-11-16 13:52] zuk3975 opened #30304 "Handle missing parts for combination mutlishop behavior in product v2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-16 14:02] sallemiines commented on #30304
Hello @zuk3975 ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR rocket

Thank you !

[2022-11-16 14:55] Yan-Studio-WEB opened #30305 "Problem When you try to edit a Product that have combinations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I try to edit a product with c

[2022-11-16 14:58] idnovate opened #30306 "psgdpr module: jQuery error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Sometimes a jQuery error is thrown

[2022-11-16 15:09] Stirlitz-on-GIT opened #30307 "Missing equal sign"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Only one equal sign in "if" stateme

[2022-11-16 15:16] sallemiines commented on #30305
Hello @Yan-Studio-WEB

Thanks for reporting the issue

Following your steps I tried to reproduce your issue with` PS 800 + PHP 8.0 `, `PS 800 + PHP 7.4` , `PS 1787` , but i didn't manage to reproduce it

You can see the attached screen records : ( i tried to edit /delete combinations)

[Untitled_ Nov 16, 2022 4_05 PM.webm](https://user-images.githubusercontent.com/31663369/202218395-176efee8-176c-

[2022-11-16 15:18] intraordinaire commented on #30100
Yeah I understand your point of view.

We just tested with `autoupgrade`, and it should be fixed now, as we published a new version of the `ps_mbo` module.
It's just that, when you tested it, the module was not released yet.

[2022-11-16 15:19] sallemiines commented on #30235
Duplicate  of https://github.com/PrestaShop/PrestaShop/issues/30179

[2022-11-16 15:19] #30235 closed, assigned to nobody

[2022-11-16 15:23] Stirlitz-on-GIT commented on #30307
Ok, I see....sry

[2022-11-16 15:23] #30307 closed, assigned to nobody

[2022-11-16 15:31] #30306 closed, assigned to nobody

[2022-11-16 16:14] #21766 closed, assigned to Hlavtox

[2022-11-16 16:31] florine2623 opened #30312 "Product Page V1 - Possible to add product to cart when 'Deny orders' and 'Allow ordering of out-of-stock products' are enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Firstly reported here : https://git

[2022-11-16 16:32] sallemiines commented on #30296
Hello @borjagarciab

As discussed with @Hlavtox we will change this bug report to a feature request to support another method to log in and authenticate to mail services (for ex: oauth).
Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is

[2022-11-16 18:19] anothersailor commented on #30287
Thanks.Installation works, but it installs tge User rather than the Dev version. And the admin pages send me to the store, so configuration is impossible.I will wait for 8.1. There is no urgency.Thanks anyway for caring!E.Eric Janvier+33 6 80 94 14 45 Le 15 nov. 2022 à 20:19, Daniel Hlavacek ***@***.***> a écrit :﻿
@anothersailor Use this ZIP and it will work perfectly 👍
https://github.com/PrestaS

[2022-11-17 08:11] HanaRebaiQA commented on #30131
Hello @dheerajwebkul

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank You!

[2022-11-17 08:11] #30131 closed, assigned to nobody

[2022-11-17 08:12] HanaRebaiQA commented on #30139
Hello @PaoloDalVecchio

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank You!

[2022-11-17 08:12] #30139 closed, assigned to nobody

[2022-11-17 08:14] HanaRebaiQA commented on #30147
Hello @Prestaworks

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank You!

[2022-11-17 08:27] PrestaSafe opened #30313 "{url} helper generate the manufacturer url without rewrite rules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

The `{url}` helper in smart

[2022-11-17 08:28] matks commented on #28264
I was not able to fix the problem and I cannot find time to finish my PR https://github.com/PrestaShop/blockreassurance/pull/393 :( so I'll let someone else continue

[2022-11-17 08:35] PrestaEdit commented on #30313
The same with the supplier, too.

[2022-11-17 08:35] PrestaEdit commented on #30313
Also reproduce into 1.7.8.7 there.

[2022-11-17 08:51] HanaRebaiQA commented on #30287
Hello,

Glad to know that the installation works fine now.
I'll close the issue.

Thank You!

[2022-11-17 08:51] #30287 closed, assigned to nobody

[2022-11-17 09:09] PrestaSafe commented on #30313
Pr: https://github.com/PrestaShop/PrestaShop/pull/30314

[2022-11-17 09:56] HanaRebaiQA commented on #30312
Hello @florine2623

Thanks for your report.
I think it's a normal behavior cause the product contains quantities as i can see in your screen-record.
So, When the product does not contains `quantities = 0`. In this case, `Deny orders `option should be functional.
But, when the product contains `quantities <> 0 ` , it's possible to Add the product to cart even the `Deny orders `option is selected.

[2022-11-17 10:09] mauricecec commented on #30042
Good Day ,
Kindly ask if the mentioned bug has been fixed
Many Thanks
Regards
Maurizio

[2022-11-17 10:35] Hlavtox commented on #27186
@NeOMakinG reopen ;-)

[2022-11-17 10:49] HanaRebaiQA commented on #30313
Hello @PrestaSafe

Thanks for your report.
I was able to reproduce your issue using the same steps to reproduce on **PS1778**, **PS1787** and **PS8.0.0** with **php8.1** (for PS8.00) and **php7.3**

**PS1778 with php7.3 : NOK** :x:

[2022-11-17 10:53] HanaRebaiQA commented on #30313
Hello @PrestaSafe

Thanks for your report.
I was able to reproduce your issue using the same steps to reproduce on **PS1778**, **PS1787** and **PS8.0.0** with **php8.1** (for PS8.00) and **php7.3**

**PS1778 with php7.3 : NOK** :x:

![image](https://user-images.githubusercontent.com/92912932/202427254-d3e1d292-8bab-4c0a-8838-feae8184a118.png)

**PS1787 with php7.3 : NOK** :x:

![image](https://use

[2022-11-17 11:21] 21mac opened #30318 "jQuery not found after server change"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

After I moved my prestashop from o

[2022-11-17 11:40] aytekinazmi12 opened #30319 "Attribute addition problem!"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Hello,

Attributes after the first

[2022-11-17 12:34] nicosomb commented on #30078
Fixed in https://github.com/PrestaShop/PrestaShop/pull/30084

[2022-11-17 13:00] Hlavtox commented on #30319
@aytekinazmi12 Your combination are configured wrong. You have one combination with only color and one combination with only size.

Read user guide and or see how it's done with demo data. 👍
https://docs.prestashop-project.org/1.7-documentation/user-guide/selling/managing-catalog/managing-products#managingproducts-creatingaproductwithcombinations

[2022-11-17 13:06] aytekinazmi12 commented on #30319
Thank you for your reply..

I added others combination but problem continues

https://prnt.sc/Jc5sfFIdeQmi
https://prnt.sc/l3o4r0vpPXcB

If you want check;

https://test.prestashopmodul.com/Backoffice/
info@eticsoft.com
mL8yK!j57R

[2022-11-17 13:14] Hlavtox commented on #30319
@aytekinazmi12 You didn't read the article I sent you. You would see how it's done. :-)
I fixed it for you, but it would be enough if you checked your other product, how they are done.

We will close this because this is not a help channel. 👍

[2022-11-17 13:20] aytekinazmi12 commented on #30319
@Hlavtox Im so sorry. Thanks a lot :)

[2022-11-17 13:20] #30319 closed, assigned to nobody

[2022-11-17 13:23] #30078 closed, assigned to nicosomb

[2022-11-17 13:31] #29491 closed, assigned to mflasquin

[2022-11-17 13:42] MatShir opened #30321 "Upgrade use case for image setting configuration 8.0 -> 8.1"
## US
As a merchant, when I upgrade, I want to keep my image configuration with new format added in 8.1

## Specs
The configuration after an upgrade

### **Use case 1:**

8:
- Use JPEG.

8.1:
- Fallback: JPEG
- Selected format: JPEG

### **Use case 2:**

8:
- Use PNG only if the base image is in PNG format.

8.1:
- Fallback: JPEG
- Selected format: JPEG, PNG

### **Use case 3:**

8:
- Use PNG for

[2022-11-17 13:50] HanaRebaiQA opened #30322 "BO - Multistore - Product V2 - An error of deprecated Passing null to parameter ... in FO when preview the product which is newly associated to a newshop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

This issue is previously reported

[2022-11-17 14:00] #30201 closed, assigned to jolelievre

[2022-11-17 14:01] matks commented on #30201
Fixed by https://github.com/PrestaShop/PrestaShop/pull/27712

[2022-11-17 14:05] teddylelong opened #30323 "Unable to decorate the Admin\AttributeController"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

I need to add an attribute deactiv

[2022-11-17 14:06] HanaRebaiQA opened #30324 "BO - Multistore - Product V2 - The image of product is not displayed when preview the product which is newly associated to a newshop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

This issue is previously reported

[2022-11-17 14:09] HanaRebaiQA commented on #30321
Hello @MatShir

Thank you for your suggestion.
I'll add this to the debug backlog so that it's fixed.

Thank you!

[2022-11-17 14:11] sallemiines opened #30325 "FO: Sign in link is not functional when all carriers are disabled in BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

In Bo, when a user tries to disabl

[2022-11-17 14:11] matks commented on #21752
PR by @leemyongpakvn for this issue ;) https://github.com/PrestaShop/blockreassurance/pull/455/

[2022-11-17 14:14] matks commented on #30055
Idea is good 👍 and we're discussing the implementation in https://github.com/PrestaShop/blockreassurance/pull/455

[2022-11-17 14:15] CombatCode commented on #18953
Two years later and presta 1.7.8.7 issue still exist. Quantity is always 0, even for display=full

[2022-11-17 14:39] jolelievre commented on #30324
This one may have been fixed by https://github.com/PrestaShop/PrestaShop/pull/30106
To be checked before trying to fix

[2022-11-17 15:09] 21mac commented on #30318
Update: I got help by a member of the prestashop community but we did not manage to get jquery to load.
since the backend was broken I could not use the "1 click upgrade" feature.
I downloaded the version 1.7.8.7 and copied all files over my files (version 1.7.8.0) and now it works like a charm.

Issue closed

[2022-11-17 15:09] #30318 closed, assigned to nobody

[2022-11-17 15:15] fabienvallon opened #30327 "Skipe: Safe mode investigation"
## Context / Problem
Some modules, modules quality and multi-modules interaction can make PrestaShop unstable

## Value proposition
Provide a Safe mode to disable some modules in order to have make PrestaShop usable again.

It can also help Care/support services to help merchants;

## Success

TBD

## Description

As a merchand
I want be able to have a safe mode in order to start PrestaShop withou

[2022-11-17 15:41] HanaRebaiQA commented on #30318
Hello @21mac

Glad to know that! Do not hesitate to open new tickets when needed.

Thank You!

[2022-11-17 15:43] #30313 closed, assigned to PrestaSafe

[2022-11-17 16:04] florine2623 commented on #30312
Hello @HanaRebaiQA ,

I can't reproduce my previous issue even with the PR 😭
It must have been a specific issue on my shop.

I'll close my issue !

[2022-11-17 16:04] #30312 closed, assigned to nobody

[2022-11-17 16:07] HanaRebaiQA commented on #30323
Hello @teddylelong

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
-a Clear steps to reproduce
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...

Thank You!

[2022-11-17 16:41] khouloudbelguith opened #30330 "BO - The number of a shipped product in the mouvement section is not correct"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Reported previously here: https://

[2022-11-17 16:45] khouloudbelguith opened #30331 "The label "Shipped products" is not correct in the movement section when ordering a virtual product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Previously reported here: https://

[2022-11-17 16:50] khouloudbelguith opened #30332 "BO - The stock movement is NOK with packs"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Previously reported here: https://

[2022-11-17 16:56] doeselschnecke commented on #26427
Hey just wondering why 8.0.0 is still not available for update? PHP 7.4 won't get security patches in two weeks

[2022-11-17 17:12] matks commented on #26427
Hello @doeselschnecke this is because the upgrade from 1.7.x versions to 8.0.0 is a complex thing to achieve, and we want to make it as stable as possible 😊 . It's working for most shops, but we are working on some usecases less common but still important.

If you want to try upgrading your shop to 8.0, you can use the candidate for autoupgrade 4.15.0 : you need to build the module from the branch

[2022-11-17 17:17] doeselschnecke commented on #26427
Thanks for the fast reply. I'll wait for the automated update for the updater module then. It's still 10 days PHP support and at the moment there's no new PHP vulnerability.

I was just wondering why it's possible to download 8.0.0 but why it's not available for upgrade. Thanks a lot, you've answered my question :)

[2022-11-17 17:24] matks opened #30334 "PrestaShop 8.1.0 PHP dependencies updates"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

# Is your feature re

[2022-11-17 17:26] matks opened #30335 "PrestaShop must be compatible with PHP8.2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-17 17:29] matks opened #30336 "PrestaShop 8.1.0 JS dependencies updates"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

# Is your feature re

[2022-11-17 23:22] Hlavtox opened #30340 "Widget pointing to non installed module kills the page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

When your templates contains a wid

[2022-11-18 08:08] PrestaSafe opened #30341 "{url} helper generate the supplier url without rewrite rules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Hello,

The `{url}` helper in smar

[2022-11-18 08:08] HanaRebaiQA commented on #30325
it's related to [#30078](https://github.com/PrestaShop/PrestaShop/issues/30078)

[2022-11-18 09:03] #29583 closed, assigned to lartist

[2022-11-18 09:31] PrestaSafe commented on #30341
PR: https://github.com/PrestaShop/PrestaShop/pull/30342

[2022-11-18 09:32] ni3mm4nd opened #30343 "File manager blank window"
Every time I want to add some image into some article I click on "image" icon then icon for "source" and then blank File manager window appear like this:

![image](https://user-images.githubusercontent.com/13623907/202667364-a3a6026b-f88e-4458-9d79-9cfe2d4053ba.png)

### Expected behavior

Show window with some input field and other images I can pick from.

### Steps to reproduce

1. Prepare envir

[2022-11-18 10:30] Hlavtox commented on #30343
![Snímek obrazovky 2022-11-18 113023](https://user-images.githubusercontent.com/6097524/202681455-1ec1a542-ae5e-400c-835f-9aa9864690b3.jpg)

[2022-11-18 10:34] #25981 closed, assigned to nobody

[2022-11-18 10:52] pitalia34 opened #30344 "[Module Image slider] Autoplay doesn't work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

ps_imageslider --> autoplay doesn'

[2022-11-18 11:26] #30165 closed, assigned to matthieu-rolland

[2022-11-18 11:29] seigieu commented on #20677
I just want to note, that  removing those IDs can be harmful.
Actually, when we have different combinations of products. PS 1.7 added great thing like url/{id_product}-{id-combination}-some_pretty_stuff. (better than old #tag)

If you remove ID, then you cannot access directly to combination. For users it may not be a problem, however Google Ads have feature, that scans every page if prices in XML

[2022-11-18 11:44] khouloudbelguith commented on #30341
Hi @PrestaSafe,

I reproduced the issue with PS1787 & the develop branch
![image](https://user-images.githubusercontent.com/16067358/202697891-4238c51a-bd71-4855-a311-ba6c88a9b088.png)

Thanks for the PR!

[2022-11-18 11:50] kpodemski opened #30345 "Problems with lastname anonymization in the productcomments module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

If you have a customer account wit

[2022-11-18 11:54] Zulgrib commented on #22330
Hello, still facing this problem with a fresh install of 1.7.8.7, it makes no sense it was not resolved upstream seeing @MorSeRNa 's solution is a on one line.

[2022-11-18 12:10] Yan-Studio-WEB commented on #30305
Hi
Sorry for the late reply
I had to install 2nd time and check again from the beginning
So i confirm that the problem is there and is serious!!!
I have install 3rd time a new presta because to my second attempt it was not possible to make the site work
The 3d installation is for you, please tell me where to send you the login details to see for your self don't worry is a test site do what ever yo

[2022-11-18 12:46] bullmade commented on #20134
@matks @florine2623 the issue can only be reproduced in a multistore enviroment.

Also, the solution offered in the post that @01park sent, does not seem to work in PS 1.7.

[2022-11-18 13:02] idnovate opened #30346 "Pass variable as reference to improve integration with modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-18 13:07] paulnoelcholot opened #30348 "Consent checkbox is not displayed even when enabled"
PR [#179](https://github.com/PrestaShop/psgdpr/pull/179)

### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the b

[2022-11-18 13:18] stoycho opened #30350 "No carriers proposed after deletion of address"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

When products are added to a cart,

[2022-11-18 13:31] AureRita commented on #30323
Hi @teddylelong

Thank for your report,with the details that you give, I know that this issue is too technical for me, ping @PrestaShop/prestashop-core-developers, can someone please reproduce this issue ?

Thanks

[2022-11-18 13:46] AureRita commented on #30305
Hi @Yan-Studio-WEB

Unfortunately, we didn't reproduce issues on other setup than our setup ( to see if the issue is due to an intern problems or not,

I try to reproduce your issue and I didn't success to do it, as you can see ( I test it with a new product )

[Untitled_ Nov 18, 2022 2_43 PM.webm](https://user-images.githubusercontent.com/100699445/202718830-851588c9-67fb-41b9-99e5-aae78efdd7f0.w

[2022-11-18 13:50] AureRita commented on #30334
Hi @matks ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone else is w

[2022-11-18 13:51] Bruno-2M commented on #30208
translations are not working anymore :

before en 2.3.3 modules/ps_emailalerts/controllers/front/actions.php
'message' => $this->trans('Your e-mail address is invalid', [], 'Modules.Mailalerts.Shop'),
after in 2.4.0
 'message' => $this->trans('Your e-mail address is invalid', [], 'Modules.Emailalerts.Shop'),

4 strings, same problem

[2022-11-18 13:54] AureRita commented on #30335
Hi @matks  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone else is

[2022-11-18 13:55] AureRita commented on #30336
Hi @matks  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone else is

[2022-11-18 15:04] Yan-Studio-WEB commented on #30305
in continuation of the previous message
If I go and try to edit this product again the problem occurs again if i wait for 5 minutes then the page start to work again

[2022-11-18 15:57] AureRita commented on #30305
I tried again with the same product that you selected, as you can see, I can't reproduce the problem

[Untitled_ Nov 18, 2022 4_54 PM.webm](https://user-images.githubusercontent.com/100699445/202746735-1fa7c621-7ebb-485e-b975-2145a1744233.webm)

@PrestaShop/qa-team someone can reproduce the problem ?

Thanks

[2022-11-18 16:24] AureRita commented on #30343
Hi @ni3mm4nd

Thank you for your report, I tried to reproduce your issue but I didn't success to do it as you can see :

[Untitled_ Nov 18, 2022 5_20 PM.webm](https://user-images.githubusercontent.com/100699445/202752641-80b3b38b-07dc-46f3-ad65-fc6a15bc194b.webm)

Can you provide us a video to see the issue ?

Waiting for your feedback

[2022-11-18 16:30] matks commented on #30350
Hello @stoycho and thank you for the bug report and the pull request

But how can PrestaShop suggest carriers when address is deleted? Depending on where you want to deliver, carriers will be different. Without address, you cannot ask PrestaShop for carriers? 🤔

[2022-11-18 16:39] Hlavtox commented on #30343
Got a simmilar report today to czech Prestashop group, seems like a common problem. 👍

[2022-11-18 16:40] AureRita commented on #30340
Hi @Hlavtox ,

Thank for your reporting, I reproduce the issue with PrestaShop develop version and not with the version 8.0.0.  Nice catch ! It's a regression ! I'll add it to the patch backlog.

Please be aware that some issues might take a very long time to be resolved.

Waiting for your PR :rocket:

Thank you

[2022-11-18 16:55] #27706 closed, assigned to Progi1984

[2022-11-18 16:55] matks commented on #27706
Fixed by https://github.com/PrestaShop/PrestaShop/pull/28711

[2022-11-18 17:19] AureRita commented on #30344
Hi @pitalia34

I tried to reproduce your issue but I don't succeed, as you can see :

[Untitled_ Nov 18, 2022 6_16 PM.webm](https://user-images.githubusercontent.com/100699445/202763578-20348e50-eda3-4aab-bdb0-1747e7971f64.webm)

How many millisecond did you setup ? at the start, it setup to 5 seconds.

Can you give us a video to see your issue

for information, we test all the issue in our enviro

[2022-11-18 17:21] matks commented on #29568
Confirmed 👍 this is important for security

[2022-11-18 19:44] Hlavtox commented on #30350
The same as when you create an empty cart, it will offer an address for default country. 👍

[2022-11-18 19:51] Hlavtox commented on #30350
However, I think the Prestashop should automatically validate and reset the address id for the cart, so the following logic like getting carriers work correctly. Needs investigation. 🤔

[2022-11-18 21:19] magentix commented on #30346
Hi,

It will be a great! For example today we must do:

[code]

But this is not compatible with the Prestashop modularity.

[2022-11-18 21:49] idnovate commented on #30346
We've finally overridden the function as the solution proposed, but it's not a recommended practice neither ;)

[2022-11-19 00:00] Zulgrib commented on #22330
@Prestaworks Valid

[2022-11-19 11:04] stoycho commented on #30350
User may have more than one address. Currently, when some address is deleted, the system automatically resets the current address of the cart to 0, so it automatically suggests the next default address as an address for the cart, when trying to build the list of carriers. I think this is an acceptable behaviour. But because the address in the cart_product is not reset to 0, it cannot transmit this

[2022-11-19 13:06] Rubben1985 opened #30354 "Error when saving Schema of URLs"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

It seems it is not longer possible

[2022-11-20 11:38] msikorski26 opened #30356 "Symfony error when entering the admin panel"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

![image](https://user-images.githu

[2022-11-20 12:25] mscodepl commented on #30356
next error Unable to generate a URL for the named route "admin_mbo_catalog_module" as such route does not exist.

[2022-11-20 13:56] mscodepl commented on #30356
repaired, i updated ps_mbo and removed cache

[2022-11-20 14:07] ni3mm4nd commented on #30343
@AureRita

Here it is :-)
[Screencast from 11-20-2022 03:06:27 PM.webm](https://user-images.githubusercontent.com/13623907/202906674-15fef851-5e50-4050-9b75-c35712d1f6ab.webm)

You're welcome.

Don't you have any idea?

Thank you
//Jan Kadlec

[2022-11-20 16:07] Hlavtox commented on #30343
@ni3mm4nd
- Can you try different PHP version? Same behavior?
- Can you open developer tools (F12), go to console tab and check if there are any errors?
- Can you check PHP error log and see if there is something related to file manager?

[2022-11-21 07:21] PrestaEdit commented on #30354
Hi @Rubben1985 ,

To avoid QA to reproduce this cause it's not related to PrestaShop but to a third party module, let me answer you.

When you have the Faceted Search and the third party module Advanced Search (4 or 5), the layered rule is disabled with this "disablethisrule" prefix.
To fix that, you need to : disable/uninstall the Faceted Search module as its not work together the other module or

[2022-11-21 08:10] Progi1984 opened #30358 "Error when the Credits Slips page is the default page for an employee"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Try to define the Credit Slips pag

[2022-11-21 09:39] AureRita commented on #30343
Hi @ni3mm4nd

As said Hlavtox, can you tell us your php version ?
and when you are on this blank window, can you do a CTRL+MAJ+R to force the reload ?

Waiting for your feedback

[2022-11-21 09:56] dheerajwebkul commented on #30131
here is the solution in PrestaShop productcomments module
https://github.com/PrestaShop/productcomments/blob/v5.0.2/productcomments.php#L1076

[2022-11-21 09:57] dheerajwebkul commented on #30131
@hibatallahAouadni

https://github.com/PrestaShop/productcomments/blob/v5.0.2/productcomments.php#L1076
/**
     * empty listener for registerGDPRConsent hook
     */
    public function hookRegisterGDPRConsent()
    {
        /* registerGDPRConsent is a special kind of hook that doesn't need a listener, see :
           https://build.prestashop.com/howtos/module/how-to-make-your-module-compliant-

[2022-11-21 10:06] florine2623 commented on #30346
ping @PrestaShop/prestashop-maintainers ,

What do you think about this feature request ? Is this approved ?

[2022-11-21 10:16] ni3mm4nd commented on #30343
@AureRita @Hlavtox

Once I open up File manager window I get

`GET https://<mydomain>.cz/adminlogin/filemanager/dialog.php?type=1&descending=false&sort_by=&lang=cs 500 (Internal Server Error)`

If I go to Tools > Errors there are no 500 errors
![image](https://user-images.githubusercontent.com/13623907/203021985-bb6335d6-4015-4776-a8bf-a625fb55bd97.png)

I've found on the internet that there can b

[2022-11-21 10:19] AureRita commented on #30356
Hi @mscodepl

Thank you for your report, as you said this issue is repaired so I will close this issue

Have a great day

[2022-11-21 10:19] #30356 closed, assigned to nobody

[2022-11-21 10:29] AureRita commented on #30358
Hi @Progi1984  ,

Thank for your report,I reproduce the issue with PrestaShop version 8.0.x and not with the version 8.0.0. As you can see on this video :

[Untitled_ Nov 21, 2022 11_25 AM.webm](https://user-images.githubusercontent.com/100699445/203027589-5c3d8d5a-1063-4e18-a319-00735cf1743a.webm)

 Nice catch ! It's a regression ! I'll add it to the patch backlog.

Please be aware that some issu

[2022-11-21 10:40] khouloudbelguith commented on #30358
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/30326

[2022-11-21 10:54] AureRita commented on #30350
Hi @stoycho

Thank you for your report and for your PR :rocket:

Can you say where I can find this variable from the BO ?
"3. Check the id_address_delivery field of the newly created ps_cart_product record.
4. Delete this address from BO."

Because currently, I don't know where I can find them and delete them

Waiting for your feedback

[2022-11-21 11:11] Hlavtox commented on #30343
Managed to reproduce your issue.

[code]

![filemanager](https://user-images.githubusercontent.com/6097524/203036062-a3b2079e-0a68-49af-9352-36b7d6e8d283.jpg)

[2022-11-21 11:14] stoycho commented on #30350
Hi @AureRita
You can delete addresses from the Back Office. In the menu bar in the left select section "Customers" and then "Addresses". Then find the address which you want to delete and delete it by clicking on the corresponding button located at the right on the line of the address.

Point 3 (Check the id_address_delivery field of the newly created ps_cart_product record) is not necessary unles

[2022-11-21 11:22] Hlavtox commented on #30343
File manager is loading some translation strings (defines) from lang folder, but there are three missing in czech `cs.php` file.
[code]
This bug will probably occur also with other languages, we need to fix it universally.

[2022-11-21 11:51] #20962 closed, assigned to Progi1984, aleksiuno

[2022-11-21 13:56] Prestaworks commented on #26235
It's specific in the code that these vouchers should not be removed, anyone knows why?

`
// All these checks are necessary when you add the cart rule the first time, so when it's not in cart yet
// However when it's in the cart and you are checking if the cart rule is still valid (when performing auto remove)
// these rules are outdated For example:
//  - the cart rule can now be disabled but it

[2022-11-21 14:03] Prestaworks commented on #26235
The issue is proboboly in CartRule class
autoRemoveFromCart function
if ($error = $cart_rule['obj']->checkValidity($context, **true**, true, true, $useOrderPrice)) {
should be
if ($error = $cart_rule['obj']->checkValidity($context, **false**, true, true, $useOrderPrice)) {

this will remove outdated vouchers in the checkout.

[2022-11-21 14:12] eyedmax opened #30364 "Suspicious code fragment"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

https://github.com/PrestaShop/Pres

[2022-11-21 14:30] #20536 closed, assigned to nobody

[2022-11-21 14:40] Hlavtox commented on #30343
@Hlavtox @AureRita

1. Prepare environment with PHP 8.1.
2. Install Prestashop 8 in **CZECH** language - important.
3. In BO, go to CMS pages, edit some page, in the content, try to add new image.
4. See empty file manager.

[2022-11-21 14:44] JBLach opened #30365 "No width and height attributes when loading svg logo"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

When i upload the logo as svg it d

[2022-11-21 14:55] pitalia34 commented on #30344
Hello !
Here is my video link : https://watch.screencastify.com/v/vMw5N4jdKpVWIgEd4bh4
Unfortunately it's still doesn't work !
Thank you

Pierre

[2022-11-21 15:03] djoelleuch opened #30366 "After the upgrade to develop branch , the new button of attribute group on new & Experimental Features is not displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

after the upgrade of 1.7.8.7 to de

[2022-11-21 15:09] web-burn opened #30367 "New password policy on customer acccount page "Your personal information, The PrestaShop 8."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Currently on customer acccount pag

[2022-11-21 15:29] AureRita commented on #30350
Hi @stoycho ,

Thank to your new details, I reproduce the issue with PrestaShop version 1.7.8.8, As we can see in this video

[Untitled_ Nov 21, 2022 4_26 PM.webm](https://user-images.githubusercontent.com/100699445/203093481-4d5a174b-d155-476c-9596-67f5deb07d30.webm)

I'll add this to the backlog so it can be fixed.

Thanks

[2022-11-21 16:14] HanaRebaiQA commented on #30343
Hello,

Thanks to @ni3mm4nd for your report and @Hlavtox for the provided information to reproduce the issue.
I was able to reproduce your issue with **PS8.0.x and php8.1** when using the same steps to reproduce

**PS8.0.x and php8.1 : NOK** :x:

![image](https://user-images.githubusercontent.com/92912932/203102399-0f7f52c9-7cdf-46a2-ad33-51f4ec8c504d.png)

https://user-images.githubusercontent.co

[2022-11-21 16:19] #30346 closed, assigned to nobody

[2022-11-21 16:20] pitalia34 commented on #30344
Hello AureRita,
What can I do for you so show the problem ? Can I give you some acess to my preprod ?

[2022-11-21 16:20] atomiix commented on #29157
Fixed by #29586

[2022-11-21 16:20] #29157 closed, assigned to nobody

[2022-11-21 16:35] AureRita commented on #30366
Hi @djoelleuch

Thank for your report, I reproduce the issue with autoupgrade version 4.15, as we can see  :

![image](https://user-images.githubusercontent.com/100699445/203108900-96941ef2-62ad-475c-ab03-f0c426c10583.png)

I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wa

[2022-11-21 16:36] Hlavtox commented on #30365
What should be the width and height of an SVG image? 🤔

[2022-11-21 16:46] AureRita commented on #30365
Hi @JBLach  ,

Thank for your report, I reproduce the issue with PrestaShop version 8.0.0 and not with the version 1.7.8.8. As you can see in this picture

![image](https://user-images.githubusercontent.com/100699445/203111573-b5007f78-7132-45a2-88d7-fd631b645273.png)

 Nice catch ! It's a regression ! I'll add it to the patch backlog.

Please be aware that some issues might take a very long time

[2022-11-21 16:49] jonasburneika commented on #29009
I'd like to ask if prefixes at all can be translatable. The prefix is part of the invoice number. You should not change invoice numbers by language. This field can be multishop but not multi-lang. Also when invoice data are sent to accounting software, you must have one incremental series for invoices.

[2022-11-21 16:51] AureRita commented on #30364
Hi @eyedmax

Thank for your report,
This issue is too technical for me, ping @PrestaShop/prestashop-core-developers, can someone please reproduce this issue ?

Thanks

[2022-11-21 17:08] AureRita commented on #30344
Hi @pitalia34

I didn't have the right to do that, can you check if your theme have a slider option or anything else that can block the slide ?
Can you enable the two other option to see if this one will works ? if you have all your image on your computer can you test with a reset of the module ( clic on the down arrow next to the module to find the reset button)

Waiting for your feedback

[2022-11-21 17:19] AureRita commented on #30367
Hi @web-burn  ,

I reproduce the issue with PrestaShop version 8.0.0 and not with the version 1.7.8.7. As you can see in this video :

[Untitled_ Nov 21, 2022 6_16 PM.webm](https://user-images.githubusercontent.com/100699445/203119404-d985f614-d864-49a2-83b7-b3be3fd08406.webm)

Nice catch ! It's a regression ! I'll add it to the patch backlog.

Please be aware that some issues might take a very lo

[2022-11-21 17:26] AureRita commented on #30354
Hi @Rubben1985

Thank for your report, Unfortunately, I can't reproduce your issue, as you can see on this video :

[Untitled_ Nov 21, 2022 6_24 PM.webm](https://user-images.githubusercontent.com/100699445/203120836-618497fe-a08b-4887-9f44-237f7995664a.webm)

Can you check what prestaEdit send to you to see if it's related to this or not ?

Waiting for your feedback

[2022-11-21 17:36] web-burn commented on #30367
Hello [AureRita](https://github.com/AureRita),

As temporary fix i have replaced 34 row "{if $field.type === "password"}" to
"{if ($page.page_name == "identity" && $field.name === "new_password") || ($page.page_name != "identity" && $field.type === "password")}" in the file "templates/customer/_partials/customer-form.tpl".
It works for me:
Now the new passwrod policy is applied to the filed "New p

[2022-11-21 18:10] Rubben1985 commented on #30354
@PrestaEdit
Indeed I had that module installed before but it is not installed anymore. Following your suggestion, I even try uninstalling also the PS faceted module, so right now I do not have any of them. I even removed the tables in the database (at least those obvious to me that started with pm_advanced...)
The problem still persists. Any idea if the module leaves something "behinds" that I sho

[2022-11-21 18:39] Maofree opened #30370 "ps_emailalerts 2.4.0 has errors upgrading from 2.3.3 and also with clean install"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Hi
today I've upgraded 15 sites ps

[2022-11-21 19:52] #21752 closed, assigned to nobody

[2022-11-21 20:36] maofree commented on #30370
I've done a test
removed the ps_emailalerts v2.4.0, installed the 2.3.3 and all is ok in those sites where I got errors with 2.4.0

[2022-11-22 08:24] Misty-94 commented on #30370
Hi @maofree. I have upgraded twice my website and not encountered the problem. What is the value of your php option opcache.revalidate_freq ? Mine is set to 0. Could you try with this value ?

[2022-11-22 08:47] Olenam123 commented on #29939
Hi
I have the same problem with Related products on my presta site 1.7.8.7.
@Bosco91-rn did you fix this?
Thanks.

[2022-11-22 09:50] nicosomb commented on #30364
Hello,

As [uniqid()](https://www.php.net/manual/en/function.uniqid.php) is based on the current time in microseconds, I'm not sure that we can have the same value for `$uniq`.

To be sure that we have a unique ID, we can add `$more_entropy = true` in `uniqid()` function.

[2022-11-22 09:53] hibatallahAouadni commented on #30171
Hello @lmeyer1

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-11-22 09:53] #30171 closed, assigned to nobody

[2022-11-22 10:03] lmeyer1 opened #30373 "Configuration::haskey is ignorant of multishop configuration"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

The call of `Configuration::haskey

[2022-11-22 10:19] xabatar commented on #10137
The issue is still there in PS 1.7.8.7. And is not a random thing. And present not only when product is duplicated.
The bug will pop up if you delete all the images from a product and try to upload new images in a multistore environment. This is a normal workflow if you duplicate the product, but will give you the same issue if the product is not multiplicated and all images are deleted.
Also you

[2022-11-22 10:36] paulnoelcholot opened #30374 "limitation of max price and max quantity fields in product v1 filter"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

It is not possible to enter the va

[2022-11-22 10:43] lmeyer1 opened #30375 "Unable to change country in address"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

As a customer, I created my addres

[2022-11-22 11:44] stoycho commented on #30350
Thanks for the help, @AureRita .
Hopefully, this issue should be fixed with the PR #30349 .

[2022-11-22 12:18] #23533 closed, assigned to nobody

[2022-11-22 12:50] eyedmax commented on #30364
@nicosomb question not to uniqid()

Question is, why variable is not used in loop's condition.

Again, quote:

[code]

So, if class `classname . 'OverrideOriginal_remove'` exists, there will be infinite loop

[2022-11-22 13:10] Hlavtox commented on #30374
That's quite a big issue.

For example in hungarian forint, almost any good gaming PC will cost over 1 million. (1 EUR = 408 HUF)
Even in czech koruna, 1 million is not hard to reach with some products. 🤔 (1 EUR = 24 CZK)

[2022-11-22 14:27] HanaRebaiQA commented on #30343
Fixed by [#30362 ](https://github.com/PrestaShop/PrestaShop/pull/30362)

[2022-11-22 14:27] #30343 closed, assigned to nobody

[2022-11-22 15:45] HartLarsson opened #30379 "ps_mailalerts v2.4.0 + psgdpr v1.4.2 ( on PS 1.7.8.7) compatibility problem"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

After updating the ps_emailalerts

[2022-11-22 15:52] HartLarsson commented on #30379
I add another problem.
When somoene subscribe to be noticed it appears in the table in the database
asap the quantity of the product is positive, the systemn is expectred to send the notice, instead the customer is deleted from the database and no mail is sent.

[2022-11-22 15:58] hibatallahAouadni commented on #29880
Hello @lmeyer1

I reproduce the issue with PS1767, PS1778, PS1787 and PS800.
Your issue is duplicate of #9849 but as this one is closed, your issue will be validated.

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved.
If you manage to get the problem fixed, then please contri

[2022-11-22 15:58] hibatallahAouadni commented on #9849
Duplicate of #29880

[2022-11-22 16:06] #30182 closed, assigned to nobody

[2022-11-22 16:08] hibatallahAouadni commented on #30111
Hello @loetje88

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-11-22 16:08] #30111 closed, assigned to nobody

[2022-11-22 16:19] hibatallahAouadni commented on #30354
Hello @Rubben1985

It seems that your issue is not a PrestaShop core bug.
If your module is Advanced Search Official, please contact support team on Addons.

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://prestashop.slack.com).

We will close this issue.

PS: thanks @PrestaEdit for your quick reply :ro

[2022-11-22 16:19] #30354 closed, assigned to nobody

[2022-11-22 16:53] hibatallahAouadni commented on #30324
Hello @HanaRebaiQA

I didn't manage to reproduce the issue with develop, it seems that the issue has been fixed as mentioned by @jolelievre
Closing the issue as Fixed :tada:

Thanks!

[2022-11-22 16:53] #30324 closed, assigned to nobody

[2022-11-22 17:14] hibatallahAouadni commented on #30373
Hello @lmeyer1

Thanks for the well detailed bug report :clap: :rocket:
Ping @PrestaShop/prestashop-core-developers could someone please reproduce the issue, it's too technical!

Related to #22581

Thanks!

[2022-11-22 17:17] maofree commented on #30370
Hi
I cannot give you more infos
with 2.3.3 all 30 websites have no problems with this module, instead of with 2.4 some of them yes
the texts are in italian because the websites are in Italy, however they are easy to understand texts
whoever did the module update probably knows what he changed that could cause these errors.
almost all of these are on the same hosting, I've seen it happen mostly to

[2022-11-22 18:05] hibatallahAouadni commented on #30375
Hello @lmeyer1

I think you mistape your PHP version :sweat_smile: So, what's your PHP version?
Waiting for your feedback.

Thanks!

[2022-11-22 18:06] hibatallahAouadni commented on #30379
Hello @HartLarsson

Could you please check this issue #30348 it seems similar to yours.
Please check and feedback.

Thanks!

[2022-11-22 21:12] matks commented on #15214
Please notice last infos on https://github.com/PrestaShop/PrestaShop/pull/28720#issuecomment-1312836059

[2022-11-23 00:52] leemyongpakvn commented on #30055
Close as the use case of the trick is clarified.

[2022-11-23 00:52] #30055 closed, assigned to nobody

[2022-11-23 07:39] lmeyer1 commented on #30375
Oh funny, I think this is githubs editor !
See: the steps 1. to 16., The Prestashop version 1.7., the PHP version 18.
If there were a module version, I would have been forces to 19. 🤣

[2022-11-23 09:10] ElodieOS opened #30382 "Add an exit button in tablet and phone menu"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-23 09:24] lmeyer1 commented on #30375
After investigation, the problem is in the theme. Both `classic` and `classic-rocket` are affected.

[2022-11-23 09:42] HartLarsson commented on #30379
hi, seems similar but i've problem on 1.7.8.7 version related to mailalert module only. the other modules are connected to gdpr correctly.

[2022-11-23 09:45] eyedmax commented on #30364
Maybe needs to be changed to something like

`} while (class_exists($classname . 'OverrideOriginal' . $uniq, false));`

[2022-11-23 10:10] florine2623 commented on #30382
Hello @ElodieOS ,

Thanks for the design and the specifications 👏 🚀
Let's ping the Product Team 😉 Stay tuned!

Ping https://github.com/orgs/PrestaShop/teams/product-team https://github.com/orgs/PrestaShop/teams/ux-team we have a new design proposal, enjoy it 😉

[2022-11-23 10:25] AureRita commented on #30367
Hi @web-burn

If this one works for you, you can[ send a pull request](https://github.com/PrestaShop/PrestaShop/compare) to share this with other contributors

Thanks !

[2022-11-23 10:26] florine2623 commented on #30205
Hello @ddv1976 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-11-23 10:26] #30205 closed, assigned to nobody

[2022-11-23 11:20] florine2623 commented on #30374
Hello @paulnoelcholot

I reproduced the issue with PrestaShop version 1.7.8.7, 8.0.x, develop, I'll add this to the backlog so it can be fixed.
It is not a regression.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a professio

[2022-11-23 12:06] marsaldev commented on #30379
Hi @HartLarsson, it seems from the 1.7.8 the modules need to implement a specific hook and listener:

See `productscomments` module: https://github.com/PrestaShop/productcomments/blob/0718b6a517ab25be018fffc4f86574e489d35b4e/productcomments.php#L1097

That `ps_emailalerts` doesn't have.

I'll prepare a PR later on, you can apply the hotfix to your module waiting the patch release 😉

~ ~ ~

@hibata

[2022-11-23 12:07] marsaldev commented on #30348
Could be related to the new hook:
`registerGDPRConsent`?

or, to the required implementation of the `listener`:
[code]
?

[2022-11-23 13:32] florine2623 commented on #30330
Hello @khouloudbelguith,

I reproduce the issue with PrestaShop `1.7.8.7`, `8.0.0` and `develop`, I'll add this to the backlog so it can be fixed.

@khouloudbelguith Can you confirm this is not a regression as I could reproduce it with previous versions ? If so, can you remove the Regression label ? ^^

Please be aware that some issues might take a very long time to be resolved. If this one is imp

[2022-11-23 14:21] florine2623 commented on #30332
Hello @khouloudbelguith ,

I have reproduced your issue on 8.0.0 and develop.

<img width="695" alt="Screenshot 2022-11-23 at 15 07 47" src="https://user-images.githubusercontent.com/16019289/203567275-5328e27e-020c-4d0d-af51-c916d60a83b6.png">

[2022-11-23 15:02] HartLarsson commented on #30379
that hook problem is the cause that the return in stock of a product will not be sent too?
because one of the problem of the ps_mailaltert is that not send to customers that have choose to be notified if a product is returned available.

[2022-11-23 15:22] florine2623 commented on #30331
Hello @khouloudbelguith ,

I reproduce the issue with PrestaShop version develop, I'll add this to the backlog so it can be fixed.

In previous versions, the "Shipped products" line did not exist.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you con

[2022-11-23 15:33] florine2623 commented on #30344
Hello @pitalia34 ,

I tested on 1.7.8.7, 8.0.0 and develop branch the module ps_imageslider v3.1.1.
I couldn't reproduce your issue.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com

[2022-11-23 15:33] #30344 closed, assigned to nobody

[2022-11-23 17:29] matks commented on #28522
## 2022-11-23 Status update

Scope of 1.7.8.8 should not change anymore, we're going to build a 1.7.8.8 ZIP soon (this week or next week) and deliver it to QA team for testing

[2022-11-23 22:35] PululuK opened #30386 "`HelperList` `callback` is not called when column data is null"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

`HelperList` `callback` is not cal

[2022-11-24 05:56] letwang commented on #28522
When will the pudding version 8.0 be released?

[2022-11-24 07:46] sallemiines commented on #30386
Hello @PululuK

Could you please provide us you prestaShop and PHP version ?

Thank you !

[2022-11-24 08:12] PululuK commented on #30386
Please read the issue description :)

[2022-11-24 08:15] PululuK commented on #30386
@sallemiines I took a lot of time and I tried to give as much information as possible, could you also take the time to read the issue and avoid putting labels for nothing? Why `NMI` exactly ?

[2022-11-24 08:37] nicosomb opened #30389 "Sanity tests are KO on develop branch"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

On each PR, sanity tests fail. For

[2022-11-24 08:42] matks commented on #30389
PR to be 100% sure it's not related to code changes https://github.com/PrestaShop/PrestaShop/pull/30390

[2022-11-24 08:51] sallemiines commented on #30370
Hello @maofree

Thank you for the issue !
Following your infos unfortunately I didn't manage to reproduce the issue !

I try to check IT with those different steps :

**Step 1 **
I removed the `ps_emailalertsv2.4.0`, and I installed the `ps_emailalertsv2.3.3`, you can see the attached screenshot

![steps_install](https://user-images.githubusercontent.com/31663369/203735086-fdb3a86d-f888-4821-b98a-

[2022-11-24 09:09] matks commented on #30389
It breaks also on 8.0.x https://github.com/PrestaShop/PrestaShop/pull/30391

[2022-11-24 09:26] TaccCZ commented on #30370
Same problem for me. PHP 7.4, VPS server. It looks, the tables in database for mulstistore not created.

[2022-11-24 09:28] matks commented on #30389
It seems that locking GH env target to ubuntu-20.04 instead of latest (ubuntu-22.04) fixes CI https://github.com/PrestaShop/PrestaShop/pull/30392

[2022-11-24 09:29] abramofranchetti opened #30393 "Deleting an Address cause customer's inability to complete an order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

I've found this issue because a cu

[2022-11-24 10:10] sallemiines commented on #30393
Hello @abramofranchetti

Thanks for reporting the issue .
I reproduce the issue with `PS1778 + PHP 7.3 ` `PS1787 + php 7.4` and `PS800 + PHP 8.0`, you can see the attached screen record

[Untitled_ Nov 24 2022 11_00 AM.webm](https://user-images.githubusercontent.com/31663369/203755158-03856311-fbbd-4f6e-8077-b63751e98bd9.webm)

Thank you !

[2022-11-24 10:25] maofree commented on #30370
Hi @sallemiines
I can create a duplicated website and give you the access to it where you can see that the 2.4.0 has errors on that server

[2022-11-24 10:35] sarahdib commented on #30386
Hello @PululuK I understand you took the time to give us the more information as possible and thank you for that :) . But we need the version in order to reproduce. When you give us this version we will remove the label NMI

Thank you :)

[2022-11-24 10:38] PululuK commented on #30386
Yes precisely I indicated `N/A` (Not Applied).

[2022-11-24 11:45] Hlavtox commented on #30393
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/30350
Fixed by https://github.com/PrestaShop/PrestaShop/pull/30349

[2022-11-24 12:42] abramofranchetti commented on #30393
Yes but the "simple" solution found is not correct .

Please, notice the this simple solution, which I also thought about, is incorrect.
The code in that fix,
`$sql = 'UPDATE ' . _DB_PREFIX_ . 'customization SET id_address_delivery = 0 WHERE id_address_delivery = ' . $this->id;`

**does not consider that the field "id_address_delivery" is part of the primary key of the table cart_product** and set

[2022-11-24 13:04] matks commented on #26427
In order to avoid confusion I close this GitHub issue and replace it with https://github.com/PrestaShop/PrestaShop/issues/29215 instead

[2022-11-24 13:04] #26427 closed, assigned to jolelievre

[2022-11-24 13:11] matks commented on #29394
Fixed by @matthieu-rolland

[2022-11-24 13:11] #29394 closed, assigned to matthieu-rolland

[2022-11-24 13:21] matks commented on #30389
Fixed by https://github.com/PrestaShop/PrestaShop/pull/30396

[2022-11-24 13:21] #30389 closed, assigned to atomiix

[2022-11-24 13:49] nicosomb commented on #30389
Thank you @atomiix @matks

[2022-11-24 13:52] Robysoldtamiya opened #30397 "ps_emailalerts box icon not showing in customer account"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Hello,
I have problem with alerts

[2022-11-24 14:09] Hlavtox commented on #30393
@abramofranchetti Good to know!!! If you know how to fix it better, make a PR please. 🙏

[2022-11-24 14:21] sallemiines commented on #30397
Hello @Robysoldtamiya

Thanks for reporting the issue .
Could you please provide us the `ps_emailalerts ` module version that you used ?

In my cas i check you issue with the `ps_emailalerts V2.4.0` , and unfortunately I can't manage to reproduce your issue, I tried to reproduced with `PS1778 + php 7.33` PS1787`  and

you can see the attached screenShots

**Module ps emailalerts installed**

![ema

[2022-11-24 14:27] sallemiines commented on #30393
Thank you @Hlavtox for your check and feedback

[2022-11-24 14:30] #30393 closed, assigned to nobody

[2022-11-24 15:10] mflasquin commented on #29626
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29630

[2022-11-24 15:10] #29626 closed, assigned to nobody

[2022-11-24 15:14] sallemiines commented on #30379
Hello @HartLarsson

Thanks for reporting the issue

I reproduce the issue with `PS1787 ` `PS800` , you can check the screerecord

 - psgdpr V1.4.0
- ps_emailalert V2.4.4 , also checked with V2.3.3

[Untitled_ Nov 24, 2022 4_10 PM.webm](https://user-images.githubusercontent.com/31663369/203816673-e5a1ad7c-ce39-47bc-b056-a17994b0d6c9.webm)

Thank You !

[2022-11-24 15:24] Robysoldtamiya commented on #30397
I have the problem with all version
I started from v2.2.0 up to latest

[2022-11-24 15:31] mflasquin commented on #30374
I think this PR is a good candidate to fix the issue : https://github.com/PrestaShop/PrestaShop/pull/30352

[2022-11-24 17:48] lmeyer1 opened #30400 "`updatePhysicalProductQuantity` is called twice in `PaymentModuleCore::validateOrder`"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

`updatePhysicalProductQuantity` is

[2022-11-24 21:07] Vasilx commented on #10998
Why is this issue closed?

[2022-11-25 09:55] hawe25 opened #30405 "Wrong discount calculation on 2 or more free shipping coupon applied on cart (voucher discount value)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Hi,
I was making my own module and

[2022-11-25 10:09] #30227 closed, assigned to nobody

[2022-11-25 11:08] mflasquin commented on #28522
## 2022-11-25 Status update
Hi, the build as been dropped

[2022-11-25 11:30] charlotte2354 opened #30407 "Module Social media follow links"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

hello, there is a problem with the

[2022-11-25 11:32] PrestaSafe commented on #29634
Hi, same issue Here.
Install a new PrestaShop 8.0 from release archive
Do a composer install
then make assets
I can't access to any backend page execept dashboard
Can't access to front office too.
No custom modules or theme, juste a fresh prestashop install (online)

PHP 8.1 and 8.0 same issue

[2022-11-25 12:18] CharlieHarpers commented on #14917
The

Thank you! Best way to change it! And to [FaustoBoscaro]´, after adjustment you have to switch off the MultiStore feature. It is only a workaround, a nice and easy one! Cu Karl

[2022-11-25 12:58] PrestaSafe commented on #29634
It seems to block at this point:
<img width="384" alt="Capture d’écran 2022-11-25 à 12 34 27" src="https://user-images.githubusercontent.com/4788787/203990699-8a74a45c-64c4-4f74-8991-3fb3e5f07e6c.png">
i've tried with node 12 / 14 / 16

[2022-11-25 13:58] marsaldev commented on #30379
I don't think so, that hook is only responsible of compliancy with the psgdpr 😊

[2022-11-25 15:47] fabienvallon opened #30409 "Spike : Study configuration management"
## Description
As a developer I want an easy way to configure PrestaShop in order to customize it
As a devops I want an easy way to configure PrestaShop in order to automate configuration

## Business rules
1- PS should avoid hard code configuration variables
2- PS should provide a modular configuration system to store (files, db ...) and placeholder ( nice to have )
3- Configuration values must i

[2022-11-25 16:16] #21689 closed, assigned to Progi1984

[2022-11-25 16:44] hibatallahAouadni commented on #30400
Hello @lmeyer1

Thanks for this well detailed bug report :clap:
Ping @PrestaShop/prestashop-core-developers can someone please try to reproduce the issue, it's too technical!

Thanks in advance!

[2022-11-25 18:14] hibatallahAouadni commented on #30407
Hello @charlotte2354

Thanks for your suggestion!
It seems your issue looks like a feature and a good one :rocket: So changing the issue from a bug to a feature.

The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiri

[2022-11-25 18:16] tameroski commented on #29734
Hi @AureRita ,
The PR #29736 testing is blocked due to the "Waiting for dev" tag. Can you remove it please ?
Thanks

[2022-11-25 21:34] K0-RR opened #30410 "Why is v8.0 not available for download on your website?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Hello, I wanted to download the la

[2022-11-25 21:35] necatatay opened #30411 "Product price entry"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-25 21:38] necatatay commented on #30411
I am not a writer or developer, I just build and deliver websites to my customers and I have to use this feature in my own project. Your popularity will increase even more.

When entering the product, there should be a currency option in the pricing. Those who want $, who want €, who want ₺, can enter by choosing whatever they want. In the store, the currency translation will work and it will be s

[2022-11-25 22:09] RoseannePeeters commented on #29723
Hello, same issue here when upgrading from 1.7.8.7 to 8.0.0
![img](https://user-images.githubusercontent.com/119082127/204059284-6e0727cb-e877-46c5-8234-1e5173d8775d.png)

[2022-11-26 09:01] Hlavtox commented on #30410
What Prestashop company has on their website is no longer relevant, the main download location you get on https://www.prestashop-project.org/ is now here, github releases.

Why the company does not have v8 available right now is for somebody else to answer, but my guess is because the upgrade process is not yet available. 👍 (https://github.com/PrestaShop/PrestaShop/issues/29215)

[2022-11-26 10:16] Robysoldtamiya commented on #30397
any help ? what can I do to understand why the module inserts different code in the menu ?

[2022-11-26 17:58] HartLarsson commented on #30379
well i thought too that was not the problem. The strange behaviour is with SMTP configured is not send any notice.

[2022-11-26 21:21] HartLarsson commented on #28522
These fix for perfomance will hit in some way the addons functionalities?
thanks

[2022-11-26 21:23] matks commented on #30410
As said by @Hlavtox, PrestaShop company chooses what is published on prestashop.com but this GitHub repository belongs to PrestaShop project.

So @RDKRACZ if you want to know why is v8.0 not available for download on your website I think it's better to ask on prestashop.com help channel ;)

[2022-11-26 21:23] #30410 closed, assigned to nobody

[2022-11-26 23:24] nitschis opened #30412 "WebP in file manager not displayed anymore since upgrading to 8.0.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

I upgraded my shop to the latest 8

[2022-11-27 07:37] shikotak opened #30413 "text instead of zero shipping cost"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-27 17:53] Hlavtox commented on #30413
You can use use `actionPresentCart` hook in [this file](https://github.com/PrestaShop/PrestaShop/blob/1.7.8.x/src/Adapter/Presenter/Cart/CartPresenter.php) to modify the values to your liking.

[2022-11-27 18:04] HartLarsson commented on #20880
I've exactly the same problem even with the fix in PR https://github.com/PrestaShop/PrestaShop/pull/28290 there is no change

[2022-11-28 07:49] sallemiines commented on #30413
Hello @shikotak  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR rocket

Thank you !

[2022-11-28 07:54] sallemiines commented on #30411
Hello @necatatay  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR rocket

Thank you !

[2022-11-28 08:31] sallemiines commented on #30405
Hello @hawe25

Thanks for reporting the issue .
Following your steps, unfortunately I didn't manage to reproduce your issue !
I checked the issue with `PS1.7.8.7` and `PS 8.0.0` you can see the attached screen record

[Untitled_ Nov 28, 2022 9_24 AM.webm](https://user-images.githubusercontent.com/31663369/204229435-e6fdfc19-aca6-4023-a3b5-7427fcbae17b.webm)

[2022-11-28 08:32] #30405 closed, assigned to nobody

[2022-11-28 08:43] sallemiines commented on #30411
Hello @necatatay !

I think that your feature-issue is talking about adding currencies into the shop ?
Could you please check this screen record , and provides us if this is your feature-issue goal?

[Untitled_ Nov 28, 2022 9_37 AM (1).webm](https://user-images.githubusercontent.com/31663369/204232272-dd261bb3-3d51-4543-899e-4f19669fcb0f.webm)

Please check & feedback !

[2022-11-28 08:49] sallemiines commented on #30397
Hello @Robysoldtamiya ,

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

We will close this issue.

Thank you

[2022-11-28 08:49] #30397 closed, assigned to nobody

[2022-11-28 08:52] sallemiines commented on #30240
Hello @SNor42 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-11-28 08:52] #30240 closed, assigned to nobody

[2022-11-28 08:53] sallemiines commented on #30244
Hello [name],

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-11-28 08:53] #30244 closed, assigned to nobody

[2022-11-28 09:18] necatatay commented on #30411
Hello
I'm not talking about adding currency.
You can see it in detail in the link I gave you in the e-mail before. then
you can understand what i mean. store currency should always be ₺ when
entering the product

SAYGILARIMLA

https://necahosting.com/
*https://e-ticaretmodul.com/ <https://e-ticaretmodul.com/>*

*https://81iltoptan.com/ <https://81iltoptan.com/>*
*https://trendurunleri.com/ <https:

[2022-11-28 09:26] sallemiines commented on #30412
Hello @nitschis ,
 Thanks for reporting the issue.

Could you please provide us : The old version of the store you had before the upgrade, as well as the auto-upgrade module's version .

Thank you !

[2022-11-28 09:36] sallemiines commented on #30411
@necatatay Thanks for you feedback !

Could you please provide us your shop version, and if you could switch your theme to Classic theme ?

Thank you !

[2022-11-28 09:42] sallemiines commented on #30370
Yes please ^^

[2022-11-28 09:46] maofree commented on #30370
Hi @sallemiines

How can I pass you the login credentials of the site, in order not to make them public? could you write me an email?

[2022-11-28 09:51] necatatay commented on #30411
1.7.8.7
ok

SAYGILARIMLA

https://necahosting.com/
*https://e-ticaretmodul.com/ <https://e-ticaretmodul.com/>*

*https://81iltoptan.com/ <https://81iltoptan.com/>*
*https://trendurunleri.com/ <https://trendurunleri.com/>*
https://www.necaticaret.com/
*https://necaweb.site/ <https://necaweb.site/>*
    Necat ATAY
  0532 465 33 20

ines sallemi ***@***.***>, 28 Kas 2022 Pzt, 12:36 tarihinde
şunu yaz

[2022-11-28 10:19] eshraw commented on #30367
Hi @web-burn , @AureRita, thanks for creating the issue !

As it stands, it's not a bug nor a regression since the new password policy was added in 8.0.x and didn't exist in 1.7.8.x but a use case that was not implemented. It is however important that we take care of it !

@web-burn it would great if you could provide you change in a PR like @AureRita suggested. If it's your first PR feel free to

[2022-11-28 10:21] hawe25 commented on #30405
Hi sallemiines,
I saw on video (0:12) the free shipping must be set as true for both coupons.
As the bug happens if there was more than 1 free shipping coupon applied.

And you have to apply a shipping cost on Shipping > Carriers
![image](https://user-images.githubusercontent.com/10786830/204253352-24b501a6-8deb-4e3d-898b-18e13ba21a83.png)

I hope you can reproduce by this details.

Thanks,
Hans

[2022-11-28 11:20] necatatay commented on #30411
I switched to the classic theme, I've been waiting for you for 1 hour, why
did you switch to the classic theme, I can't understand it
Kind regards

SAYGILARIMLA

https://necahosting.com/
*https://e-ticaretmodul.com/ <https://e-ticaretmodul.com/>*

*https://81iltoptan.com/ <https://81iltoptan.com/>*
*https://trendurunleri.com/ <https://trendurunleri.com/>*
https://www.necaticaret.com/
*https://neca

[2022-11-28 11:56] masiorama commented on #30370
I experienced the same error on PS 1.7.7.4 (I know, it is old).

[2022-11-28 12:15] hibatallahAouadni commented on #24400
FYI @kpodemski I just edit the expected behavior according to specifications ;)

[2022-11-28 13:21] sallemiines commented on #30370
@maofree

 Thank you for the  website access ! I checked i t:
 I cleared the cache, set the cache to no , and enable debug mode I tried to upgrade the ps_email_alerts module and it upgraded successfully
 You can see the aatached screen-shots

![Prestazioni-•-AloiseRW](https://user-images.githubusercontent.com/31663369/204288035-4b233d41-3f32-4776-9739-66013ab3fae2.png)

![Gestione-moduli-•-AloiseR

[2022-11-28 13:30] paulnoelcholot opened #30420 "Missing error message if there is no possible payment method"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

From the BO, I deactivate the paym

[2022-11-28 13:33] maofree commented on #30370
Hi
at this moment seams to be ok, I've asked to the shopkeeper to check if he gets emails about new orders
I'll try with other sites

[2022-11-28 13:38] sallemiines commented on #30375
Hello @lmeyer1

Thanks for reporting the issue.

I reproduced your issue  with **PS 1778 and PS 1787**
you can see the attached screen shots

![iss4](https://user-images.githubusercontent.com/31663369/204290543-6b05fc83-32cb-48cd-888e-a69d5c50bff7.png)

![iss1](https://user-images.githubusercontent.com/31663369/204290506-623c206f-b2c4-44c0-826e-ee306ae532dd.png)

![iss2](https://user-images.github

[2022-11-28 13:48] sallemiines commented on #30370
@maofree

Thank you for your feedback !

Just some information : usually as a **QA team** we follow those steps to check the module autoupgrade ( **example** from v2.3.3 to v2.4.0 )

1. In your local machine into your PS project
2. cd ../modules/
3. rm -rf ps_emailalerts
4. git clone https://github.com/PrestaShop/ps_emailalerts.git
5. cd ps_emailalerts
6. git checkout tags/v2.3.3 -b v2.3.3
7. git

[2022-11-28 14:08] sallemiines commented on #30420
Hello @paulnoelcholot

Thanx  for reporting the issue.

I reproduced your issue with `PS1787` **NOK**  ans `PS 800` **OK** , it's a regression nice catch !
You can see the screen shots

**PS1787** NOK  : the error message is not displayed
![1787](https://user-images.githubusercontent.com/31663369/204297512-31e37ce6-7049-4e80-a4d1-9fff0f658a00.png)

**PS800** OK the error message is  displayed

![8

[2022-11-28 14:17] florine2623 opened #30422 "Customer Groups - Can't add a new customer group when saving Default groups options"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

In BO, if I save the Default group

[2022-11-28 14:31] sallemiines commented on #30411
@necatatay

Sorry I didn't manage to have some configuration into your shop cauz it's with the turkish language !

Could please set your default currency `LIRA` in international > localization  , you can see the screen-record and let us know if that solve your probleme !

[Untitled_ Nov 28 2022 3_27 PM (1).webm](https://user-images.githubusercontent.com/31663369/204302851-b0a6b95e-3de0-4191-8a84-f

[2022-11-28 14:32] maofree commented on #30370
ok thanks

[2022-11-28 14:52] florine2623 opened #30423 "Customer titles - Image width and Image height can't be saved"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Image width and Image height are n

[2022-11-28 14:55] sallemiines commented on #30422
Hello @florine2623

Thanx  for reporting the issue.

I reproduce the issue with `PS 1.7.8.7` `PS 800` and `develop` , you can check the screenshot

![Groups-•-1787](https://user-images.githubusercontent.com/31663369/204308431-1d38c5de-1355-4ef8-83b1-31534abbf973.png)

Thank you !

[2022-11-28 15:07] florine2623 opened #30424 "Help documentation - Opens up on the whole window instead of in a sidebar"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

The Help documentation is taking t

[2022-11-28 15:20] sallemiines commented on #30424
Hello @florine2623

Thanks for reporting the issue.

I reproduce the issue with `PS 1.7.8.7`, `PS 1.7.8.8`,` PS 8.0.0`, and `develop`

[Untitled_ Nov 28 2022 4_19 PM.webm](https://user-images.githubusercontent.com/31663369/204314514-668cf135-4122-4b1c-a42a-5b157d049519.webm)

Thank you !

[2022-11-28 15:26] sallemiines commented on #30423
Hello @florine2623

Thanks for reporting the issue.

I reproduce the issue with `PS 1.7.8.7`, `PS 1.7.8.8`, `PS 8.0.0`, and `develop`

[Untitled_ Nov 28 2022 4_25 PM.webm](https://user-images.githubusercontent.com/31663369/204315875-21de64ef-abcf-445e-a8cf-a421c2d31686.webm)

Thank you !

[2022-11-28 15:27] florine2623 opened #30425 "Administration - Addons marketplace mention should be deleted for 8.0.x and next versions"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-28 15:28] paulnoelcholot opened #30426 "Billing address different from delivery address"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

If my billing address is different

[2022-11-28 15:36] #30375 closed, assigned to nobody

[2022-11-28 15:38] sallemiines commented on #30375
@lmeyer1

I will close this issue cauz it's already fixed on `PS800` , please note that you can always create a new one if further information pops up.

Thank you

[2022-11-28 15:45] paulnoelcholot opened #30427 "Password not entered in my personal information"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

If I create a new user account on

[2022-11-28 15:48] kpodemski commented on #30427
No, your password shouldn't be filled in :-)

[2022-11-28 16:09] paulnoelcholot opened #30428 "Create an account after placing an order as a guest"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

If I create an account from my ord

[2022-11-28 16:13] davrasza opened #30429 "Problems installation ZOne - Supermarket Online Shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

I have installed the new theme upd

[2022-11-28 16:32] hibatallahAouadni commented on #30428
Hello @paulnoelcholot

This issue has been fixed on 8.0.0 :tada:
Closing the issue as your issue is duplicate of #14414

Thanks!

[2022-11-28 16:32] #30428 closed, assigned to nobody

[2022-11-28 16:33] sallemiines commented on #30429
Hello @davrasza

Thanx for reporting the issue.

Could you please provide us with screenshots or a screen recording describes  the full scenario of your problem! unfortunately the steps you have defined are not enough to reproduce the problem!

Please check and feedback !
Thank you !

[2022-11-28 16:39] florine2623 opened #30430 "BO - Order Settings - Option Delayed Shipping is not used"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

There is an option (Delayed Shippi

[2022-11-28 16:44] #30427 closed, assigned to nobody

[2022-11-28 16:49] florine2623 opened #30431 "contactform v4.3.0 - Addons Marketplace mention should not be displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

This alert should not be displayed

[2022-11-28 16:52] softhightech commented on #23899
Hello,
i fixed the issue by deleting the module ps_mbo.

Thanks

[2022-11-28 16:53] hibatallahAouadni commented on #30427
@paulnoelcholot
FYI: Password shouldn't be filled in neither display it in this page cause it's kind of breach of security.

[2022-11-28 17:07] davrasza commented on #30429
[Grabación de pantalla 2022-11-28 a las 18.06.00.mov.zip](https://github.com/PrestaShop/PrestaShop/files/10105961/Grabacion.de.pantalla.2022-11-28.a.las.18.06.00.mov.zip)

[2022-11-28 17:15] matks commented on #29121
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29695

[2022-11-28 17:15] #29121 closed, assigned to mflasquin

[2022-11-28 19:49] eternoendless commented on #21661
Adding the device to the cacheId would triple the amount of cache files (if you get visits from all three types of devices) and would only be useful if you wanted to serve different content to a specific device type. I think that nowadays there are better options with CSS media queries, etc.

Modules still have full control over the way their cacheId is made up, so to me this looks like a "won't f

[2022-11-28 21:39] kpodemski commented on #30429
Hello @davrasza

Editing products is one of the basic features of PrestaShop. It is hard to imagine that your problems are coming directly from the software.

I suggest you create a topic on [PrestaShop Stack Overflow](https://stackoverflow.com/questions/tagged/prestashop), [forum](https://www.prestashop.com/forums) or visit us on [Slack](https://www.prestashop-project.org/slack/)

[2022-11-29 06:34] geimsdin commented on #30405
Why is this closed without even testing it correctly as per hawe description? I tried and can reproduce the bug.

Simone

[2022-11-29 07:34] BenTen opened #30435 "Children list of hook actionCategoryDelete empty"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

When I delete a category, I want t

[2022-11-29 08:23] lmeyer1 commented on #30375
@sallemiines
What theme did you use in PS 8.0.0 ? As the bug is also related to the theme, it is not sufficient to close the issue if you didn't reproduce it in PS 8.0.0.
I noticed that the problem was present in Prestashop/classic-theme and fixed it there.

[2022-11-29 08:33] lmeyer1 commented on #30375
This issue should be reopened before all the questions are answered. Also, with PS 8.0.0 both the new classic and hummingbird should be tested.

[2022-11-29 08:46] sallemiines commented on #30431
Hello @florine2623

Thanks for reporting the issue.

I reproduced the issue with `PS 1787` `PS 1788` `PS 800` and `develop `

![image](https://user-images.githubusercontent.com/31663369/204481220-3b78952c-e3c8-46c4-94b9-c46183b34c45.png)

Thank you !

[2022-11-29 09:08] sallemiines commented on #30426
Duplicate of[ #21898](https://github.com/PrestaShop/PrestaShop/issues/21898)

[2022-11-29 09:08] #30426 closed, assigned to nobody

[2022-11-29 09:28] MhiriFaten opened #30438 "BlockWishlist - Edit the product quantity in the wishlist view"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

When adding a quantity of a produc

[2022-11-29 09:30] boostify-pro opened #30439 "Customer Group bulk prices update"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-11-29 09:47] sallemiines commented on #30439
Hello @boostify-pro ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone

[2022-11-29 09:53] #30379 closed, assigned to marsaldev

[2022-11-29 09:54] simbus82 commented on #28522
Probably the modules update tab stops to work.

[2022-11-29 09:54] sallemiines commented on #30438
Hello @MhiriFaten

Thanks for reporting the issue.

I reproduced the issue with `PS 1787` `PS 1788` and `PS800` , you can see the screen record

[Untitled_ Nov 29 2022 10_53 AM.webm](https://user-images.githubusercontent.com/31663369/204497139-90e743b3-82c5-43dd-9505-728a4438712c.webm)

Thank you !

[2022-11-29 10:02] paulnoelcholot commented on #30420
The problem is not present on 1.7.8.7

![image](https://user-images.githubusercontent.com/112863083/204499136-66582469-9ecb-43ee-81d5-89702d867da5.png)

[2022-11-29 10:03] #30429 closed, assigned to nobody

[2022-11-29 10:11] #19643 closed, assigned to Progi1984

[2022-11-29 10:31] kpodemski commented on #30213
@eternoendless what about moving this script to the PrestaShop developer tools so we can use it in modules too? this way we could update modules licenses as well

[2022-11-29 10:49] #19547 closed, assigned to clotairer

[2022-11-29 11:16] marsaldev commented on #30379
@HartLarsson
Could you please open a new issue?
I don't think it's related to that hook, could be, but I'm not so sure about that 😊

[2022-11-29 11:32] GoodMorrrrning commented on #9599
thanks, this worked for me.

[2022-11-29 12:53] paulnoelcholot opened #30440 "Error when sort by Price"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

From the FO, if I choose to sort p

[2022-11-29 13:14] sallemiines commented on #30435
Hello @BenTen

Thanks for reporting the issue.

Following your steps, unfortunately I didn't manage to reproduce your issue, you can see the screen record

[Quality Assurance • presta1787.webm](https://user-images.githubusercontent.com/31663369/204537816-594077f0-76fe-4e05-8074-5b8412bfc8e8.webm)

I used the module  [ps_qualityassurance.zip](https://github.com/PrestaShop/PrestaShop/files/10113292/

[2022-11-29 13:19] BenTen commented on #30435
@sallemiines can't read the file you up.

[2022-11-29 13:38] TristanLDD commented on #28135
Hi @Hlavtox , thx for your feedback

First, I agree with your suggestion to allow deleting the home or any other category from the list if it's not the last one remaining.

A) The next category in the list
B) Or preferably to the deepest category in the list. Which is usually the default one anyway, will save some seconds. If two have the same level, just take the lower ID.

I also think this is r

[2022-11-29 13:59] lmeyer1 opened #30441 "Rounding 'Round towards the next odd value' gives Error 500"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

The option `Round towards the next

[2022-11-29 14:10] Q3st7 opened #30442 "Bug in PS 8: SQL Query"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

SQL Query (group/customer):

SELEC

[2022-11-29 14:20] patrocle commented on #17011
Hello,
I got the same issue with the 1.7.8.7 so I removed translations folders from the shared_dirs and put them in the copy_dirs with the copy_dirs recipe.
This may fail when we unlock a deployment but it seems to work.
[code]

[2022-11-29 14:25] sallemiines commented on #30440
Hello @paulnoelcholot
Thanks for reporting the issue.

As we discussed on Slack, you need to configure the `facetedsearch`  module  in BO > Module Manager
Click on all 4 buttons : I**ndex all missing prices** / **Rebuild entire price index** / **Build attributes and features indexes** / **Clear cache** and then you will find that the bug will dispeared, you can see the attached screenshot

![image

[2022-11-29 14:25] paulnoelcholot opened #30443 "Wrong language in sample csv files on UTF-16"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

If I download a csv sample file, t

[2022-11-29 14:26] #30440 closed, assigned to nobody

[2022-11-29 14:51] PrestaEdit commented on #30431
Fixed on the v4.4.0 (not yet released) : https://github.com/PrestaShop/contactform/pull/57

[2022-11-29 15:23] MhiriFaten opened #30445 "BO - Shopping Carts : Incorrect result for Conversion Rate"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

bad **Conversion Rate** statistics

[2022-11-29 16:04] EndermanAPM commented on #20227
Hey, same happening to me on 1.6.1.18 with 7.0.33 so looks like its a long standing issue.
@Lao-Tuo are you perhaps using some kind of cache?

[2022-11-29 16:23] sallemiines commented on #30445
Hello @MhiriFaten

Following your steps,unfortunately  I can't manage to reproduce your issue with PS 1787 and PS 1788

![image](https://user-images.githubusercontent.com/31663369/204584902-9e397fe1-2b9f-48f9-8519-786a8166be4e.png)

Did I miss some config to set ?

Please check and feedback !

[2022-11-29 16:33] sallemiines commented on #30442
Hello @Q3st7

Thanks for reporting the issue.

I reproduced the issue with `PS 1787  OK` ,  `PS 800 NOK`  , you can see the attached screenrecord

[Untitled_ Nov 29 2022 5_10 PM.webm](https://user-images.githubusercontent.com/31663369/204582260-196149fd-19c0-47cb-ae7d-d1793c952db7.webm)

Thank you !

[2022-11-29 16:34] florine2623 opened #30446 "“Add to cart” button on product with attributes - this option doesn't change anything"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

When I enable this option `Display

[2022-11-29 16:38] #27472 closed, assigned to nobody

[2022-11-29 16:53] florine2623 opened #30447 "FO - Guest tracking link in email is not redirecting to the correct URL"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

In any email containing the `Guest

[2022-11-29 17:07] HartLarsson commented on #30379
i will do asap thanks!

[2022-11-29 18:10] eternoendless commented on #30213
@kpodemski fine by me!

[2022-11-29 20:56] rwdsji commented on #30128
presta really seems to be dead

[2022-11-30 07:50] lmeyer1 opened #30448 "Duplicated code"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

The two classes `\PrestaShop\Prest

[2022-11-30 09:11] BenTen commented on #30435
My bad, json was not used correctly.

[2022-11-30 09:11] #30435 closed, assigned to nobody

[2022-11-30 09:19] HanaRebaiQA commented on #30447
Hello @florine2623

Thanks for your report.
I tried to reproduce your issue on 1788 build1, but it seems that's the expected behavior.
When you are logged IN : it's redirected to `Guest Order Tracking`
When you are logged OUT : it's redirected to `Order history`

As you can see in this screen record:
https://user-images.githubusercontent.com/92912932/204755660-107872fa-35b2-4d30-a642-829e274bffb0.

[2022-11-30 09:19] #30447 closed, assigned to nobody

[2022-11-30 09:39] HanaRebaiQA commented on #28522
Hello everyone,

**Final report of QA of the 1.7.8.8 build1 :**

- The functional test campaign is done: OK
- The exploratory test campaign is done: OK

Summary of the issues detected during the test:

**Minor :**
#30438
#30431
#30446
#30430
#30422

**Trivial :**
#30424
#30423

**Feature :**
#30425

It's a GO for the release!
A big Thanks for all those who contributed from near or far to this rele

[2022-11-30 09:47] #29839 closed, assigned to PululuK

[2022-11-30 10:13] AureRita commented on #29734
Hi @tameroski

Currently, me are waiting for the @PrestaShop/prestashop-core-developers to test your PR. You're issue is still not valided yet, that's why your PR is blocke. When the developpers will reproduce your issue, they'll remove the tag.

Thanks

[2022-11-30 10:25] Hlavtox commented on #30446
This will have a meaning on hummingbird, we are bringing back the `Add to cart` button on product lists. 👍

Also, this button could already have a meaning on themes that support this, it doesn't do anything on classic only.

[2022-11-30 10:32] HanaRebaiQA commented on #30448
Hello @lmeyer1

Thanks for your report.
I have checked your issue in :

-  `\PrestaShop\PrestaShop\Adapter\RoundingMapper` class, there is only `::mapRounding()` method
-  `\PrestaShop\PrestaShop\Adapter\Number\RoundModeConverter` class, there is only `::getNumberRoundMode()` method

and i did not find any duplicates of code. Also, i did not found their occurrences

https://user-images.githubuserc

[2022-11-30 10:39] #28005 closed, assigned to nobody

[2022-11-30 10:40] lmeyer1 commented on #30448
You found both classes and both methods. Thus you found the code duplication. One method is the duplicate of the other. I cannot say it more clearly.

I don't mind if you do not know how to search. I'm using PhpStorm and get this:
![Immagine 2022-11-30 113752](https://user-images.githubusercontent.com/7520695/204774478-8b069c24-8bda-4862-a52f-f27a97c472c8.png)
![Immagine 2022-11-30 113808](https:/

[2022-11-30 10:52] HanaRebaiQA commented on #30448
Thanks @lmeyer1  for your feedback
ping @PrestaShop/prestashop-core-developers Could you please check this technical issue ?

Thank you!

[2022-11-30 11:20] hibatallahAouadni commented on #30435
@BenTen thanks for your feedback.

[2022-11-30 11:38] #30386 closed, assigned to nobody

[2022-11-30 12:09] nicosomb commented on #30448
Hello.

In `RoundingMapper`, we have these round modes:

[code]

and in `RoundModeConverter`, we have these round modes:

[code]

So technically, we have a little difference.

Outside of that, the two classes seem to do the same job.

[2022-11-30 12:24] #29343 closed, assigned to mflasquin

[2022-11-30 12:41] Progi1984 commented on #30431
@florine2623 May be to link to #28771

[2022-11-30 12:43] Progi1984 commented on #30425
May be to link to EPIC #28771

[2022-11-30 13:11] Liewebs opened #30450 "BUG displaying "dni" field in address form which country has not dni field set"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Hi,

I have found a BUG testing Pr

[2022-11-30 14:49] HanaRebaiQA commented on #30450
Hello @Liewebs

Thanks for your report.
I tried to reproduce your issue on PS8.0.x, PS1787 and PS1778.
Here is the exact steps to reproduce :

1. GO to FO > Add a product to cart
2. In checkout process > Fill the Address fields
3. See that the Identification number is not displayed
4. In BO > International > Locations > Countries > Edit `France` Country
5. See that the `Do you need a tax identific

[2022-11-30 15:01] #29894 closed, assigned to Progi1984

[2022-11-30 15:31] kristelocampo opened #30452 "Not Receiving email from Prestashop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

Hello,

I don't receive any email

[2022-11-30 15:33] paulnoelcholot opened #30453 "Missing field in the dashboard for a delete customer"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add attachments

On the dashboard, in the Products

[2022-11-30 15:38] HanaRebaiQA commented on #30452
Hello @kristelocampo

Thanks for your report.

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/28014
To be informed when it's fixed, please subscribe to the issue mentioned above.

[2022-11-30 15:38] #30452 closed, assigned to nobody

[2022-11-30 15:39] HanaRebaiQA commented on #30452
Duplicate of [#28014 ](https://github.com/PrestaShop/PrestaShop/issues/28014)

[2022-11-30 16:25] MatShir commented on #30425
I suggest to completely remove the feature, now since everything has been moved into a module.

[2022-11-30 16:27] MatShir commented on #30425
@Progi1984 yes, i have added it to the EPIC

[2022-11-30 17:50] lmeyer1 commented on #30448
Yes, that is true, and this difference is at the origin of #30441.
In fact the unused code is complete, and the used one is missing one option.

[2022-11-30 19:18] #30443 closed, assigned to nobody