[2020-03-04 08:44] #17940 closed, assigned to nobody

[2020-03-04 08:47] Betafer commented on #9866
Any update about this ?

[2020-03-04 08:50] khouloudbelguith commented on #17954
@kevinflou, it could be a permission issue on your server.
Thanks to check with your host and feedback.

[2020-03-04 08:52] kevinflou commented on #17954
Put a chmod on my local server , nothing else happened (chmod -R 777 ./*)

[2020-03-04 08:56] khouloudbelguith commented on #17944
@yourizuring, you can follow our official [documentation](http://doc.prestashop.com/display/PS17/Installing+PrestaShop) for mor details.
Thanks!

[2020-03-04 09:00] marionf commented on #17955
@MatShir

It's not a regression there was the same issue with old email templates and old PS version

![capture d'écran_2432](https://user-images.githubusercontent.com/13449658/75862319-062ede80-5dff-11ea-8c51-3d2c510259de.png)

[2020-03-04 09:03] khouloudbelguith commented on #17954
@kevinflou, have you a large number of combinations, or features or categories?
Is it similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/13698 or https://github.com/PrestaShop/PrestaShop/issues/9809?

Thanks!

[2020-03-04 09:05] khouloudbelguith commented on #17955
Hi @MatShir,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/5889 to hide the password variable from emails.

Thanks!

[2020-03-04 09:13] kevinflou commented on #17954
22 features, 17 categories, I don't think it is similar to these issues :/

[2020-03-04 09:14] khouloudbelguith commented on #17954
@kevinflou,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-03-04 09:19] Betafer opened #17962 "Cannot apply discount in order PS 1.7.6.2"
Try to add discount in order with reduction "amount"

got this error: An error occurred during the OrderCartRule creation

1. Go to order
2. Click on add a new discount
3. Insert discout name: Discout
4. Set discount as amount
5. set amount

click add

<img width="404" alt="Schermata 2020-03-04 alle 10 18 11" src="https://user-images.githubusercontent.com/5024055/75863924-87877080-5e01-11ea-9d23-7

[2020-03-04 09:23] kevinflou commented on #17954
Here they are :
[dev.log](https://github.com/PrestaShop/PrestaShop/files/4286439/dev.log)

Php error log is empty

[2020-03-04 09:26] khouloudbelguith commented on #17954
@kevinflou, I found this error

` php.CRITICAL: Fatal Error: Maximum execution time of 30 seconds exceeded `
It is a size problem.
Thanks to check your configuration in the `php.ini` file & try to increase them

[code]

Thanks!

[2020-03-04 09:26] marionf opened #17963 "I shouldn't be able to add a product with 0 quantity to the order 1/2"
#### Describe the bug

I can add a product with 0 quantity to the order & another product is added

#### Expected behavior

I shouldn't be able to add a product with 0 quantity to the order

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > orders > orders > View an order
2. Click on Add a product
3. Select a product and change the quantity for 0
4. Another product is added

[2020-03-04 09:28] marionf commented on #17963
@MatShir Need some specs / mock-up

[2020-03-04 09:35] kevinflou commented on #17954
upload_max_filesize = 128M

post_max_size = 128M

Still blank
max_file_uploads ??

max_execution_time = 90     ; Maximum execution time of each script, in seconds
max_input_time = 90	; Maximum amount of time each script may spend parsing request data
memory_limit = 256M      ; Maximum amount of memory a script may consume (8MB)
max_input_vars = 5000

set_time_limit ??

[2020-03-04 09:39] khouloudbelguith commented on #17962
Hi @Betafer,

I did not manage to reproduce the issue with PS1.7.6.3.
https://drive.google.com/file/d/1pb2vNxlSx_Ii4vf58dVhpnhzzVDYoZIe/view
What is the exact status of your order?
What is the exact value amount? is it a decimal?

Thanks!

[2020-03-04 09:43] atomiix commented on #17867
This issue should be fixed with #17801

[2020-03-04 09:46] Jose-Gp opened #17964 "Override dosen´t work in Multistore"
Hi, I have a problem that is driving me crazy. I have a multistore installed in Prestashop 1.6.1.24 and in one of those stores (id1) when activating the Override mode it only returns to its original state, when I give it to save the button it returns to blue, that is, if I select all The tie allows the override and everything works, I choose any store and it works except if I choose the store 1. I

[2020-03-04 09:58] khouloudbelguith commented on #17964
Hi @Jose-Gp,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed.

But this issue occur

[2020-03-04 09:58] #17964 closed, assigned to nobody

[2020-03-04 09:58] khouloudbelguith commented on #17964
Duplicate of #14804

[2020-03-04 10:01] Gipielle commented on #17962
![cartrule](https://user-images.githubusercontent.com/53569015/75867822-74779f00-5e07-11ea-8198-5ee1cb416893.jpg)

[2020-03-04 10:01] Gipielle commented on #17962
Update to 1.7.6.3 same error

[2020-03-04 10:02] khouloudbelguith commented on #17954
@kevinflou,

Use the following settings to optimize the performances:
[code]
For more details you can follow those links:
https://devdocs.prestashop.com/1.7/scale/optimizations/#1-php
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#how-to-verify-your-server-meets-prestashop-s-requirements

Thanks!

[2020-03-04 10:05] khouloudbelguith commented on #17962
@Gipielle, you have a duplicate data in your database table ps_cart_rule_lang.
Did you delete any data from the database manually?

Thanks!

[2020-03-04 10:06] Betafer commented on #17962
No

[2020-03-04 10:07] kevinflou commented on #17954
No luck, still a blank page

[2020-03-04 10:07] Gipielle commented on #17962
no

[2020-03-04 10:08] khouloudbelguith commented on #17962
@Betafer, What is the exact status of your order?
What is the exact value amount? is it a decimal?
Is there any exception displayed when debug mode enabled?

Thanks!

[2020-03-04 10:09] matks commented on #17838
These are tables built using `tr` and `td` so there are no columns, only rows.
Where would you need the class ? In the tr ? In each td ?

Nothing, and it will even help module developers to customize the page

[2020-03-04 10:09] khouloudbelguith commented on #17954
@kevinflou, Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]

Thanks!

[2020-03-04 10:10] Gipielle commented on #17962
Status of order awaiting bankwire payment
Total order amount 1.424,00 €

[2020-03-04 10:10] Jose-Gp commented on #17964
Thanks for your answer. I´m new here. I am not able to find the answer you tell me. Can you please tell me how I get to the solution of this problem. Again thank you very much for your help.

[2020-03-04 10:10] khouloudbelguith commented on #17964
@Jose-Gp, sorry, this issue not fixed yet.

Thanks!

[2020-03-04 10:12] kevinflou commented on #17954
php -d memory_limit=-1 ./bin/console cache:clear
php -d memory_limit=-1 ./bin/console cache:clear --env=prod

 // Clearing the cache for the dev environment with debug
 // true

 [OK] Cache for the "dev" environment (debug=true) was successfully cleared.

 // Clearing the cache for the prod environment with debug
 // false

 [OK] Cache for the "prod" environment (debug=false) was successfully clea

[2020-03-04 10:12] khouloudbelguith commented on #17962
@Gipielle, what is the exact structure of your table ps_cart_rule_lang?
![image](https://user-images.githubusercontent.com/16067358/75868896-0c29bd00-5e09-11ea-9ed0-96b094db2d4a.png)

Thanks!

[2020-03-04 10:13] khouloudbelguith commented on #17954
@kevinflou, could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.
Or simply download this file
[phppsinfo.php.zip](https://github.com/PrestaShop/PrestaShop/files/4280558/phppsinfo.php.z

[2020-03-04 10:17] nesrineabdmouleh commented on #17838
@matks Yes in each td to identify their content :)

[2020-03-04 10:18] kevinflou commented on #17954
<img width="1332" alt="Capture d’écran 2020-03-04 à 11 18 16" src="https://user-images.githubusercontent.com/38719171/75869457-de914380-5e09-11ea-859d-3125afa58d84.png">
<img width="1368" alt="Capture d’écran 2020-03-04 à 11 17 52" src="https://user-images.githubusercontent.com/38719171/75869461-e18c3400-5e09-11ea-919d-369a9024ecde.png">

[2020-03-04 10:19] Betafer commented on #17962
<img width="927" alt="Schermata 2020-03-04 alle 11 18 31" src="https://user-images.githubusercontent.com/5024055/75869488-ea7d0580-5e09-11ea-8559-265868f4321e.png">

I'm working with 2 computer ...

[2020-03-04 10:21] khouloudbelguith commented on #17962
@Betafer, https://github.com/PrestaShop/PrestaShop/issues/17962#issuecomment-594432580

Thanks!

[2020-03-04 10:22] khouloudbelguith commented on #17954
@kevinflou, thanks to increase those options
![image](https://user-images.githubusercontent.com/16067358/75869825-7000b580-5e0a-11ea-8b42-a7ddfdc3f9ab.png)

Thanks!

[2020-03-04 10:24] kevinflou commented on #17954
You asked me to change them, no luck, doesn't work either

[2020-03-04 10:33] khouloudbelguith commented on #17954
@kevinflou, when debug mode is enabled, the issue doesn't occur.
So, the issue is probably related to the cache.
PrestaShop features a Dev Mode, which allows you to configure your use of PHP to display error messages.

Thanks!

[2020-03-04 10:41] matks commented on #17838
@nesrineabdmouleh Please see PR https://github.com/PrestaShop/PrestaShop/pull/17965 and tell me if it looks good 😊

[2020-03-04 10:41] Betafer commented on #17962
Table ps_cart_rule_lang with more data than  cart_rule

Solved.
Thanks

[2020-03-04 10:41] #17962 closed, assigned to nobody

[2020-03-04 10:48] jitendwi opened #17966 "Mail service is not working"
#### Describe the bug

PHP Fatal error: Uncaught Error: Call to undefined function idn_to_ascii() in classes/mail.php

#### Expected behavior

It should be successfully sending mail from Email testing area. As i created testing php mail function in root folder of website and it is working proper but from Prestashop then showing error please check Configuration.

#### Steps to Reproduce

Steps to r

[2020-03-04 10:53] jitendwi commented on #17966
![E-mail • Zirkart](https://user-images.githubusercontent.com/61782797/75872291-e49c1a00-5e33-11ea-8e92-d083b3da2985.jpg)
![error_log - cPanel File Manager v3](https://user-images.githubusercontent.com/61782797/75872599-799f1300-5e34-11ea-8a40-396c7ff9cc66.jpg)

[2020-03-04 10:53] khouloudbelguith commented on #17962
@Betafer, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-03-04 10:53] jitendwi commented on #17966
![error_log - cPanel File Manager v3](https://user-images.githubusercontent.com/61782797/75872630-8885c580-5e34-11ea-92e1-ac857df69fc0.jpg)

[2020-03-04 10:58] nesrineabdmouleh commented on #17838
Thank you so much, very good :)

[2020-03-04 10:58] khouloudbelguith commented on #17966
Hi @jitendwi,

You should install & enable the intl extension on your server.
![image](https://user-images.githubusercontent.com/16067358/67494320-4de77180-f679-11e9-8f6b-9c5900ba7978.png)
About the mail configuration, here's an example used in the Dockerfile to fix sending emails
https://github.com/PrestaShop/PrestaShop/pull/17824/files

Thanks to install it & feedback.

[2020-03-04 11:07] jitendwi commented on #17966
Hi ,
          Please check as i have taken screenshot of my PHP info. Please suggest if anything is missing.
![phpinfo  ](https://user-images.githubusercontent.com/61782797/75873707-64c37f00-5e36-11ea-885f-1a740a64a578.jpg)

[2020-03-04 11:11] khouloudbelguith commented on #17966
@jitendwi, could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.
Or simply download this file
[phppsinfo.php.zip](https://github.com/PrestaShop/PrestaShop/files/4280558/phppsinfo.php.zi

[2020-03-04 11:14] MatShir commented on #17963
**Edit behavior** as the same issue
1. Go to BO > orders > orders > View an order
2. Click on Edit a product
3. Select a product and change the quantity for 0
4.The product list displays the product with the quantity for 0 and a Total of 0

![image](https://user-images.githubusercontent.com/43613217/75873566-6712e280-5e10-11ea-8c73-72f5d6c899ed.png)

[2020-03-04 11:14] Gipielle commented on #17903
Ok, Thinking about simple and functional solutions, complex solutions in my opinion create more problems

[2020-03-04 11:15] MatShir opened #17967 "Can edit product with 0 quantity in the Order page 2/2"
### Expected Behavior

I shouldn't be allowed to save if I edit a quantity to 0.

### Actual Behavior

I can save a product modification if I edit a quantity to 0.

### Steps to reproduce it

**Edit behavior** as the same issue
1. Go to BO > orders > orders > View an order
2. Click on Edit a product
3. Select a product and change the quantity for 0
4. The product list displays the product with the

[2020-03-04 11:48] kevinflou commented on #17954
Solved , it was about the 'displayAdminProductsExtra' that was used in database and not in positions tab, don't know what it was doing there but it was making my page crash, removing it from database solved my issue 👍

[2020-03-04 11:53] khouloudbelguith commented on #17954
@kevinflou, Great!

Since it is fixed, I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-03-04 11:53] #17954 closed, assigned to nobody

[2020-03-04 11:56] colinegin commented on #17926
Hello @yannicka and thanks for your feedback !
So if I understand correctly your point, this improvement would be helpful for multistore websites?
Otherwise, what's the difference between your key and a PrestaShop ID ?

[2020-03-04 11:57] colinegin commented on #14001
Alright so I guess this will be fixed with 178 once the UI kit has been updated ?

[2020-03-04 12:34] MatShir opened #17968 "[EPIC] - Shouldn't allow to add/edit the product with 0 quantity."
## User Story

It shouldn't be allowed to add the product to my order or edit a product with 0 quantity.

## Specs

Disable the save button if the value is 0 in quantity.
A product can't be displayed if the quantity is 0.

## Issues to fix

- [x] #17963 - I shouldn't be able to add/edit a product with 0 quantity to the order 1/2
- [x] #17967 - Can edit product with 0 quantity in the Order page 2/2

[2020-03-04 13:06] colinegin commented on #17893
What was the message in 175 @khouloudbelguith ?

[2020-03-04 13:14] khouloudbelguith commented on #17893
Hi @colinegin,

No, with PS1.7.5.2, we don't have any red alert.
With PS1.7.5.2 => the customer is successfully added.
![image](https://user-images.githubusercontent.com/16067358/75882898-6125fd00-5e22-11ea-845f-2a9c85012e75.png)

Thanks!

[2020-03-04 13:19] matks commented on #17893
@khouloudbelguith Why are we still talking about this ? As you said error messages have already been fixed.

The topic of this issue is now "We should have exact information what's wrong here, not a notice because of failure of FormBuilder." 😄

[2020-03-04 13:27] jolelievre opened #17969 "Remove useless currency wording/exception"
#### Is your feature request related to a problem?

The currency feature has evolved along the developments and some error messages are not useful any more:
`Cannot find a real currency matching this couple of ISO code and numeric ISO code`
Along with the exception code `CurrencyConstraintException::ISO_CODES_MISMATCH`

Because:
- for official currencies the numeric is code is now automatically fi

[2020-03-04 13:36] matks commented on #17744
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17746 for 1.7.7.x branch and a merge onto develop will fix develop branch too

[2020-03-04 13:36] #17744 closed, assigned to nobody

[2020-03-04 13:40] khouloudbelguith commented on #17893
@matks, that's ok.
@colinegin, With PS1.7.6.3, we have a red alert "unclear message".
But with PS1.7.6.4build1 => no alert displayed, the customer is successfully added.

Thanks!

[2020-03-04 13:43] matks opened #17970 "[ORDER PAGE] Check all legacy links are correctly redirected to new page"
We need to go through all PrestaShop code looking for `AdminOrders` links and make sure they are correctly redirected to new migrate Orders pages.

This can be done by 3 ways:
- using redirection mechanism such as `getAdminLink()` abilities
- modifying the link (especially for hardcoded appended links in Javascript)
- adding `_legacy_link` tags on new routes

List of bad links fixed:
- link to ord

[2020-03-04 13:43] matks commented on #17970
To be done after https://github.com/PrestaShop/PrestaShop/pull/17959 is merged

[2020-03-04 13:46] jolelievre commented on #17969
Ping @LouiseBonnard

[2020-03-04 14:07] marionf opened #17971 "The stock is not correctly recalculated after editing product quantity in the order"
#### Describe the bug

The stock is not correctly recalculated after editing product quantity in the order

#### Expected behavior

Display the correct quantity in stock after editing the product quantity

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > orders > orders > view
2. Click on edit to change a product quantity
3. Increase or decrease the product quantity for +1

[2020-03-04 14:09] marionf commented on #17971
@MatShir FYI

[2020-03-04 14:10] colinegin commented on #16356
I'm sorry i meant @davidglezz ;)

[2020-03-04 14:13] thalassa-web commented on #14768
The question is : Why is the context not initialized with the default currency ?

[2020-03-04 14:19] colinegin commented on #9798
I can't see the loader on the bottom right, do you have any example page where I could find it ?

Wdyt @TristanLDD @prestascott about general loader on the BO ? What should be the behaviour ?

[2020-03-04 14:41] sowbiba opened #17976 "Add product to Order - Difference between Products price and Total price"
#### Describe the bug

The products price is incorrect when adding a product to an existing order

#### Expected behavior

A correct price with 2 decimals rounded

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create an order
2. Go to 'Admin > Orders'
2. Edit the order created
3. Add a product
4. See that there is a difference of 0.01 between Products price and Total Price

**Scree

[2020-03-04 14:42] colinegin commented on #17878
Yes I agree we should fix this bug. Thanks @maofree for this feedback

[2020-03-04 14:46] marionf opened #17977 "New invoice not displayed in documents tab before reloading the page"
#### Describe the bug

If you add a new product and choose to create a new invoice, the invoice is not displayed in documents tab before reloading the page

#### Expected behavior

The invoice should be displayed in the documents tab without reloading the page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > orders > orders > View order
2. Click on add a product
3. Select

[2020-03-04 15:10] LouiseBonnard commented on #17969
Since this feature evolved a lot, let's make a full check after the merge of PR #17385 to spot, perhaps, other useless wordings.

[2020-03-04 15:10] jitendwi commented on #17966
As i enabled all Extensions and Modules but situation is same if you need to access of my website then i can provide you .

[2020-03-04 15:13] khouloudbelguith commented on #17966
@jitendwi, this error `"PHP Fatal error: Uncaught Error: Call to undefined function idn_to_ascii() in classes/mail.php"` is always displayed?

Or just the test mail is not working?

Thanks!

[2020-03-04 15:18] jitendwi commented on #17966
yes test mail is not working and confirmation mail also not working for example if any order or registration or confirmation mail should send to customer and admin but it is not working

[2020-03-04 15:43] marionf opened #17978 "Editing an address in the order should create a new address"
#### Describe the bug

If you change an address (billing or shipping address) in the order, the new address will be updated in all customer orders.

#### Why

The order page does not dissociate between modifying an erroneous address and entering a new address.

#### Expected behavior

Editing an address in the order should:
- create a new address
- it only updates the address of the current order

[2020-03-04 15:44] marionf commented on #17978
@MatShir FYI

[2020-03-04 15:57] khouloudbelguith commented on #17966
@jitendwi, Use PHP's mail() function. This option is recommended by default. In the event that this does not work, then use the SMPT option below.

If it is not working, it is a server issue not a PrestaShop issue.
https://drive.google.com/file/d/1U92WDm24-uyEW-zElBA8SFy_NhuSClmr/view

Thanks!

[2020-03-04 16:04] lukvai commented on #17822
Yea, I have created pull request.
Okey I will edit my pull request to fix your issue.

[2020-03-04 16:06] marionf opened #17980 "Tracking link missing in in_transit email when the tracking number is added in symfony order page"
#### Describe the bug

Tracking link missing in in_transit email when the tracking number is added in migrated order page

#### Expected behavior

Tracking link should be displayed in in_transit email (modern and classic) templates if the tracking number is set in order page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shipping > Carriers > Edit a carrier and add a tra

[2020-03-04 16:10] marionf commented on #17980
@MatShir FYI

[2020-03-04 16:16] jitendwi commented on #17966
As i tried already it php mail function and it is proper working .

[2020-03-04 16:19] khouloudbelguith commented on #17966
@jitendwi, have you tried with your host?

Thanks to check with them & feedback.

[2020-03-04 16:31] jitendwi commented on #17966
https://zirkart.com/testmail.php

[2020-03-04 16:34] davidglezz opened #17983 "PrettyCI is shutting down"
This year we will have to change PrettyCI for something else.

https://prettyci.com/goodbye

[2020-03-04 16:36] khouloudbelguith commented on #17983
Hi @davidglezz,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers

Thanks!

[2020-03-04 16:47] matks commented on #17983
Already done in https://github.com/PrestaShop/PrestaShop/issues/17744

[2020-03-04 16:48] khouloudbelguith commented on #17966
@jitendwi, I have 404 not found
![image](https://user-images.githubusercontent.com/16067358/75902459-51b5ac80-5e40-11ea-85a7-5f6dd46634c2.png)

Thanks!

[2020-03-04 16:49] khouloudbelguith commented on #17983
@matks, we can close this issue as a duplicate?

Thanks!

[2020-03-04 16:54] LouiseBonnard commented on #17890
@matks, it looks like something has changed in 1.7.6 and there is now a real bug on this page, cf. screenshots below:

**International > Translations in 1.7.5**
![capture d'écran_2438](https://user-images.githubusercontent.com/32565890/75902659-aa854500-5e40-11ea-8995-0fadfefea2cd.png)

**International > Translations in 1.7.6**
<img width="328" alt="Capture d’écran 2020-03-04 à 17 46 09" src="ht

[2020-03-04 16:56] matks commented on #17983
I think yes :)

[2020-03-04 16:58] khouloudbelguith commented on #17983
Duplicate of #17744

[2020-03-04 16:58] #17983 closed, assigned to nobody

[2020-03-04 16:59] gacalixto opened #17984 "Prestashop 1.7.5.0 not sending order confirmation email with ps_emailalerts"
Hello!
When a customer places an order on my shop , neither him or the shop receives an order confirmation email.
Another email alerts like the "out of stock" one are sent correctly.

* PrestaShop version: 1.7.5.0
* PHP version: 7.2.24

[2020-03-04 17:01] colinegin commented on #17963
I reproduce it with pack products. But I notice this product is removed when you reload the page.
Do you have this also @marionf ?

[2020-03-04 17:02] davidglezz commented on #17983
Sorry for these useless issues.
Now I see: https://github.com/PrestaShop/PrestaShop/issues/17744#issuecomment-593347233

[2020-03-04 17:39] jitendwi commented on #17966
Please check now again because it was mailtest so i rename it . now it is https://zirkart.com/testmail.php

[2020-03-04 17:39] jitendwi commented on #17966
if you can give mail address then i an put your email address

[2020-03-04 18:41] jitendwi commented on #17966
![My subject -email](https://user-images.githubusercontent.com/61782797/75911636-dc64ce80-5e75-11ea-870f-9122d0d9591c.jpg)
![testmail php - cPanel File Manager v3](https://user-images.githubusercontent.com/61782797/75911668-ea1a5400-5e75-11ea-8e59-7b672b1a498c.jpg)

[2020-03-04 18:42] jitendwi commented on #17966
Please check above as it is working in core Php mail function

[2020-03-04 19:01] arouiadib commented on #17848
@khouloudbelguith, I have modified the PR to fix that issue too.  Now even if you switch between de combinations in FO product page, the add to cart button get disabled if quantity of combination is lower than minimal allowed quantity. Thank you very much

[2020-03-04 22:36] Daaaaad opened #17988 "Symfony module autowiring"
Hello, I'm trying to integrate this Symfony code into a PrestaShop module : https://github.com/printoclock/business-api-demo-client

Standalone code is working perfectly but once integrated into a PrestaShop module "Autowire" don't seems to work and I get this error :

<img width="1059" alt="Capture d'écran 2020-03-04 23 26 01" src="https://user-images.githubusercontent.com/167037/75928991-e552a1

[2020-03-05 07:45] qwebdevel commented on #17902
@khouloudbelguith, Yes is real issue :) in ps 1.6 show only product in current category where is product in ps 1.7 show all like mixed content when client looking for watch don't need to see panties or something else :)

[2020-03-05 07:47] qwebdevel commented on #17902
Yes this is the problem thank you for understanding and looking for problem deeply

[2020-03-05 08:18] khouloudbelguith commented on #17411
Hi @arditec,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-05 08:18] #17411 closed, assigned to nobody

[2020-03-05 08:23] khouloudbelguith commented on #17984
Hi @gacalixto,

Thanks for your report.
Could you please navigate to your Back office => Advanced Parameters => E-mail, try to " Test your email configuration" by sending a test email.
Thanks to check & feedback.

[2020-03-05 08:32] khouloudbelguith commented on #17988
Hi @Daaaaad,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2020-03-05 08:32] #17988 closed, assigned to nobody

[2020-03-05 08:43] Daaaaad commented on #17988
Hi @khouloudbelguith, "Symfony autowiring is no working" => I think it's a bug 😉

If not, Symfony integration is not ready for module integration...

[2020-03-05 09:05] marionf commented on #17963
@colinegin Yes

[2020-03-05 09:13] khouloudbelguith commented on #17902
@qwebdevel,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 and PS1.7.6.3 using the `ps_categoryproducts` module v1.0.4.
With PS1.6.1.24 and [productscategory](https://github.com/PrestaShop/productscategory) module v1.8.1 it was ok.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send u

[2020-03-05 09:22] khouloudbelguith commented on #17988
Ping @mickaelandrieu what do you think?

Thanks!

[2020-03-05 09:33] khouloudbelguith commented on #17966
@jitendwi, My address mail: khouloud.belguith@prestashop.com
If the function mail() is disabled, it will display under `disable_functions` list.
If you use email account from your hosting? is it ok?
have you tried with SMTP method?

Thanks!

[2020-03-05 09:38] kyripapa opened #17990 "Newsletter_voucher email is sent in sign up without checking the newsletter subscription"
Hello,
n version 1.7.6.2 I have an issue with the newsletter.
During registration I have not checked "Subscribe to newsletter". However an email is sent to me
with the voucher code for the subscription to newsletter (Newsletter_voucher). In the backoffice the user is not registered to newsletter, but the coupon is sent anyway.

[2020-03-05 09:38] jitendwi commented on #17966
mail function is working proper as i got 3 email . i think you used the above url.

[2020-03-05 09:39] jitendwi commented on #17966
i got 5 mails

[2020-03-05 09:40] jitendwi commented on #17966
It is definitely bug in Prestashop

[2020-03-05 09:56] #15019 closed, assigned to nobody

[2020-03-05 10:06] NeOMakinG commented on #14001
Well it seems like I can yes, gonna work on this

[2020-03-05 10:06] khouloudbelguith commented on #17966
@jitendwi,

No, it is not a PrestaShop bug.
In a server well configured, the sent email test is well working as recorded in my previous video.
Also, I sent you a fix example: https://github.com/PrestaShop/PrestaShop/pull/17824/files in a Dockerfile was done to fix a server issue to get emails.
have you tried with the SMTP method?

Thanks!

[2020-03-05 10:27] khouloudbelguith commented on #17990
Hi @kyripapa,

I did not manage to reproduce the issue with PS1.7.6.3 and the ps_emailsubscription module v2.3.0.
But, I have a similar issue with PS1.7.6.3 and the `ps_emailsubscription` module v2.5.1.
https://drive.google.com/file/d/1uuupLlhE9-BnOqFSx1369DFc0P33D_bx/view
It is a regression
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you t

[2020-03-05 10:46] fabio-zetaweb opened #17991 "Double order for a single cart"
#### Describe the bug

Randomly orders are duplicated from a single cart. Orders have identical ref. code and customer details and the same datetime. The purchased items are distributed in both orders. In one of my case the customer had to pay shipping rate twice.

**Screenshots**

https://drive.google.com/file/d/10XrWi3z7cHLt56SmYWkz7Lt9EBUun2F8/view

#### Additional information

* PrestaShop ver

[2020-03-05 10:52] didi-2018 opened #17992 "ps_legalcompliance should show price "from" on product page too, not only in category"
Hello,

this is a feature request:

if you enable "show price from" in ps_legalcompliance it shows "from" price only in category list but NOT on product page. It should be shown on product page too.

![image](https://user-images.githubusercontent.com/44971218/75973851-2aa9ba00-5ed6-11ea-95b8-7847fd70afa2.png)

![image](https://user-images.githubusercontent.com/44971218/75973965-50cf5a00-5ed6-11ea-

[2020-03-05 10:53] PululuK commented on #17991
Hi @fabio-zetaweb

This can happen if you have more than one carrier in your order. Could you please check if this is the case?

[2020-03-05 11:09] LouiseBonnard opened #17993 "Optimize the 1.7.7 translation catalog"
## WORDINGS TO MODIFY

### Admin.Advparameters.Feature

- [x] ‘MPN’ to be localized in **Admin.Catalog.Feature** instead
cf. https://crowdin.com/translate/prestashop-official/35796/en-en

### Admin.Advparameters.Notification

- [x] ‘Are you sure that you would like to delete this entity: ‘ to be changed into **Are you sure you want to delete this entity:** without the extra space at the end
cf. ht

[2020-03-05 11:12] fabio-zetaweb commented on #17991
Hello,

Yes, in both cases the carrier is different from an order to another. Why?

Fabio Di Crescenzo

Supporto Tecnico - Zetaweb ADV
Via Monte Maiella, 81 - 66026 - Ortona - Ch
Tel./fax: 085 9064145
www.zetaweb.it - fabio@zetaweb.it

[2020-03-05 11:15] Zoran23 commented on #17890
Yes something is changed in PrestaShop 1.7.6 and now is not possible to translate Serbian language from BO. When I compared 1.75 and 1.7.6. I found new piece of code that says Locale should be made of country ISO code and language ISO code, Like sr-RS or sr-CS.
CS was language code for now not existing country “Serbia and Montenegro”.
Now existing country Serbia has language code RS and locale sho

[2020-03-05 11:16] yannicka commented on #17926
Hello,

No, the idea works for "monostore" too.

An ID is automatically generated and it's not "predictable" meanwhile a key is writed by the user, so it's "predictable" (the key will be the same in many environments even if the creation order is not the same).

[2020-03-05 11:30] qwebdevel commented on #17022
You can edit theme.yml file of theme and add correct https_urls is not the best solution but is works Prestashop team will be fixed this soon as possible.

[2020-03-05 11:41] khouloudbelguith opened #17994 "Wrong Product Price in BO order view page - It is tax excluded instead of Tax included - It only occurs with dummy data"
#### Describe the bug

It only occurs with dummy data
The product price in the Back Office order view page differs from Front Office for the same order. Occurs in both legacy and migrated pages.
It is Tax excluded instead of Tax included

#### Expected behavior

It should be Price with Tax included

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Orders->select order to view->

[2020-03-05 11:42] khouloudbelguith commented on #17994
Ping @zuk3975 similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/17755

[2020-03-05 11:48] khouloudbelguith commented on #13880
Hi @Progi1984,

I tried with the branch 1.7.7.x (Migrated Order page)
1. The cart rule:
1.1. has no code
1.2. product selection a product with 100 euro tax included
1.3. discount amount of 500 EUR tax included
2. add the product to the old order
![image](https://user-images.githubusercontent.com/16067358/75976199-3f884c80-5eda-11ea-9f63-5fac5538887f.png)
=> the product is well added but

- The pri

[2020-03-05 12:06] khouloudbelguith commented on #17991
Hi @fabio-zetaweb,

Your ticket is a duplicate of #11115
Please follow: #11115
So, I close it.
Thanks!

[2020-03-05 12:06] #17991 closed, assigned to nobody

[2020-03-05 12:06] khouloudbelguith commented on #17991
Duplicate of #11115

[2020-03-05 12:15] jitendwi commented on #17966
Actually i was activated smtp also but same error throwing . Please check configuration. if you need then i can send access of backoffice of website and Cpanel also.

[2020-03-05 12:43] khouloudbelguith commented on #17966
@jitendwi, The information for these fields should be provided by your web host: mail domain name, SMTP server, SMTP user, etc. Make sure to transcribe exactly what your web host provides you with.
Your web host can tell you whether or not your username is mandatory, as well as the password information, and the encryption to use.

In my case, I tried with two different servers & two different host

[2020-03-05 12:43] #17966 closed, assigned to nobody

[2020-03-05 12:57] jitendwi commented on #17966
I checked root folder - there is docker file is available. Most imp.:- Website was migrated from one host to another

[2020-03-05 13:02] shikhacwebco commented on #12905
Use this code in your config file of your server

 # Symfony controllers
    location /admin/ {                                  # [REQUIRED EDIT] the name of your admin directory
        if (!-e $request_filename) {
            rewrite ^/.*$ /admin/index.php last;   # [REQUIRED EDIT] the name of your admin directory
        }
    }

[2020-03-05 13:11] gacalixto commented on #17984
Hi @khouloudbelguith, the test email is sent without problems.
I deactivated the ps_emailalerts module and kept placing new orders, but for some reason the order confirmation emails are still being sent to the customer emails.

[2020-03-05 13:18] gacalixto commented on #17984
also, a correction to my original issue, the "new_order" is never being sent, only the "order_conf" one

[2020-03-05 13:22] colinegin commented on #17926
Why don't you use the feature name as the key then ? Is it because you want to distinguish the public name (displayed on the website) and the name you use in back office ?

[2020-03-05 13:24] khouloudbelguith commented on #17984
@gacalixto,

The "order confirmation emails" is not related to the `ps_emailalert`.
The Order confirmation email is sent when this option "Send an email to the customer when his/her order status has changed." is selected.
![image](https://user-images.githubusercontent.com/16067358/75985468-aa428380-5eec-11ea-8cf5-7510e3c65a3f.png)

The ps_emailalerts module is enabled

A customer receives those em

[2020-03-05 13:46] didi-2018 opened #17995 "order return slip show date from shipping date not date from return request"
Hello,

the order return slip shows the date from when the order was shipped. It should show the date from when the return was requested.

reproduce:
make an order. Mark as shipped. Wait a few days, then ask for order return in costumer account. If merchant set state for return "Waiting for package". Then customer can print out order return slip. And you will see underneath the order return number

[2020-03-05 13:50] gacalixto commented on #17984
Now i get it, i misunderstood the emails structure, sorry for that.
But how and when can the vendor get an email when the order is placed? Is it only sent when the payment is approved?

[2020-03-05 13:53] yannicka commented on #17926
The name is localized and subject to change, while the key is not localized and doesn't change most of the time.

For example, I have a feature "Délais (à confirmer)". The name can change for each language, and I can change it with time. I could assign it a key that never changes "delay".

[2020-03-05 13:56] khouloudbelguith commented on #17984
@gacalixto, The employee can receive a new order email when:
1. installing the `ps_emailalert` module
2. New order option is enabled
![image](https://user-images.githubusercontent.com/16067358/75988073-525a4b80-5ef1-11ea-8364-57e802d61298.png)
3. The email address of the employee is added in the "E-mail addresses" section
![image](https://user-images.githubusercontent.com/16067358/75988171-761d918

[2020-03-05 14:04] gacalixto commented on #17984
I already set that up, as you can see on my image attachment.
![Screenshot_20200305_110234](https://user-images.githubusercontent.com/29805452/75988812-ed8ef900-5ed0-11ea-89a6-bcf615d9045d.png)
Also, for some reason, the "Email addresses" is being reset for some reason anytime that i go to another page and come back to the module page

[2020-03-05 14:07] khouloudbelguith commented on #17984
@gacalixto, what is the exact version of the `ps_emailalert` module did you use?

Thanks!

[2020-03-05 14:09] gacalixto commented on #17984
i'm using the `ps_emailalert` v2.1.1

[2020-03-05 14:30] khouloudbelguith commented on #17984
@gacalixto, could you please try to re-install the `ps_emailalert` module with removing the folder, clear cache, check and feedback.
Thanks!

[2020-03-05 14:42] gacalixto commented on #17984
Yesterday i unistalled it and reinstalled it, but today the module is not uninstalling.
`[Thu Mar 05 11:40:16.769878 2020] [fcgid:warn] [pid 6259] [client 177.76.171.177:39996] mod_fcgid: stderr: PHP Warning:  include_once(/var/www/clients/client20/web42/web/modules/ps_emailalerts/MailAlert.php): failed to open stream: No such file or directory in /var/www/clients/client20/web42/web/modules/ps_ema

[2020-03-05 14:49] khouloudbelguith commented on #17995
Hi @didi-2018,

I did not manage to reproduce the issue with PS1.7.6.3.
`Deleivery slip pdf`
![image](https://user-images.githubusercontent.com/16067358/75992527-635a8b00-5ef8-11ea-8fe1-7e27a5f4aa7b.png)
`Credit Slip pdf`
![image](https://user-images.githubusercontent.com/16067358/75992584-7a997880-5ef8-11ea-8496-5556eaf413f6.png)
`Merchandise Returns page`
![image](https://user-images.githubuserc

[2020-03-05 14:50] khouloudbelguith commented on #17984
@gacalixto,
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2020-03-05 14:58] gacalixto commented on #17984
i deleted them and it still doesn't let me uninstall the mail alerts module.

[2020-03-05 14:59] khouloudbelguith commented on #17984
@gacalixto, it could be a permission issue on your server.
Thanks to check and feedback.

[2020-03-05 15:05] gacalixto commented on #17984
I changed permissions and it still doesn't let me unintsall it. Even when i choose not to delete module folders.

[2020-03-05 15:10] didi-2018 commented on #17995
@khouloudbelguith please show me the date above under the return number

![image](https://user-images.githubusercontent.com/44971218/75994763-bf72de80-5efb-11ea-831e-d87566eee568.png)

[2020-03-05 15:10] gacalixto commented on #17984
@khouloudbelguith
I unistalled it and cleared my cache, i believe the module was corrupted in some way, now i re-install it ?

[2020-03-05 15:12] khouloudbelguith commented on #17984
@gacalixto, yes!
Remove the module folder if it still exists.
Try to install it from the Module Catalog page.

Thanks!

[2020-03-05 15:18] khouloudbelguith commented on #17995
@didi-2018, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.2 and ps1.7.6.3.
![image](https://user-images.githubusercontent.com/16067358/75995605-f72e5600-5efc-11ea-9c3c-b2da57da35fb.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-03-05 15:25] didi-2018 commented on #17995
@khouloudbelguith  thank you very much ♥

[2020-03-05 15:29] Nerque commented on #17781
In the video I see that you have related to product B (created with English disabled), a product that was created before. Probably, with English(English) enabled.
You must relate a product, in Product B, that was created with English(English) disabled.

1. Disable English(English)
2. Create two products PRODUCT1 and PRODUCT2.
3. Edit PRODUCT1 and add PRODUCT2 as related product.
4. Save and exit f

[2020-03-05 15:33] gacalixto commented on #17984
After reinstalling it, it worked with the pay by check and "wire transfer" payment methods when placing an order.
But our shop uses a third party pament module called "Mercado Pago" that's very useful for the Brazillian market(our case), ehn using this module as payment method, the `new_order` email is not sent

[2020-03-05 15:35] khouloudbelguith commented on #17984
Hi @,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

Best regards, Khouloud

[2020-03-05 15:35] khouloudbelguith commented on #17984
@gacalixto, As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2020-03-05 15:45] khouloudbelguith commented on #17781
@Nerque, thanks a lot for these clarifications.
I manage to reproduce the issue with PS1.7.6.3 and PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/75997661-f77c2080-5eff-11ea-830f-8dec9c92f1f0.png)
https://drive.google.com/file/d/1eUDvRxrU6V8sMYC_K2wq8-0GFeAPc_2_/view
Steps to reproduce the issue:
1. Install PS with English language / France country (you will have two langua

[2020-03-05 15:47] khouloudbelguith commented on #17822
Hi,

If this issue is fixed, we can test if this problem: https://github.com/PrestaShop/PrestaShop/issues/17781 is fixed too or not.

Thanks!

[2020-03-05 15:53] didi-2018 commented on #17995
@khouloudbelguith  I fixed it /classes/pdf/HTMLTemplateOrderReturn.php

line 47:

change:

        $this->date = Tools::displayDate($this->order->invoice_date);

to:

        $this->date = Tools::displayDate($this->order_return->date_add);

![image](https://user-images.githubusercontent.com/44971218/75998816-ae2cd080-5f01-11ea-8ccb-1a7150a95679.png)

WOOOOHOOO 😄🌟

thanks for checking back and feed

[2020-03-05 15:57] khouloudbelguith commented on #17995
@didi-2018, Great!
If you have already fixed it on your end, please do send us a pull request!
Thanks!

[2020-03-05 16:06] lukvai commented on #17822
Yea, i think its the same issue as mine. I made PR: https://github.com/PrestaShop/PrestaShop/pull/17823

[2020-03-05 16:09] lukvai commented on #17822
What version u are using because i wasn't able to reproduce this bug in 1.7.6.1 version.

[2020-03-05 16:13] khouloudbelguith commented on #17822
#17781 is related to the Product image.

Thanks!

[2020-03-05 16:16] Robin-Fischer-PS opened #18000 "Filter in movements and stock does not reset"
#### Describe the bug

When filters are activated on Movements (or Stock) page, if you change tab to "Stock" (or Movement, you got the idea...), and then go back to "Movements", the filters appears to be reset (at "None", all checkboxes unchecked), but if you add a new filter, it will combine with the older filters.

#### Expected behavior

Filters should either be really reset, or filters should

[2020-03-05 16:16] didi-2018 commented on #17995
@khouloudbelguith  https://github.com/PrestaShop/PrestaShop/pull/17999 can you please check? I dont know if I have done that right 🙈. this is my first pull request.

[2020-03-05 16:31] zuk3975 commented on #17598
**Bug**:
[ ] - `Order view page`. After adding product with invoice and a free shipping, the order totals are incorrect. (discount is added to reduce the relevant shipping price, but the shipping is not increased). This was already discussed at 1.7.7.x pre-release, it seems its not so easy to fix that without introducing another bugs, because shipping is recalculate for whole cart, when feature is

[2020-03-05 16:32] khouloudbelguith commented on #18000
Same issue with PS1.7.6.3 and PS1.7.5.2

[2020-03-05 16:45] Nakahiru opened #18003 "MethodNotAllowedHttpException thrown after token issues with post requests"
#### Describe the bug

On PrestaShop 1.7.7.x, when the token is invalid and request is POST and we select "Continue, I understand the risk" a MethodNotAllowedHttpException is thrown.

#### Expected behavior

Redirect to the selected page.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to a migrated Symfony page in backoffice
2. In the url, change the token
3. Do an action that p

[2020-03-05 16:57] arouiadib commented on #17822
@lukvai , thank you very much for reproducing that behaviour :) . It was in fact under 1.7.7.x.

[2020-03-05 17:09] khouloudbelguith commented on #18003
Hi @v4lux,

I manage to reproduce the issue with the branch 1.7.7.x.
https://drive.google.com/file/d/1hhy9eTSfUTuiqztEAfAa3RkumEndj4L0/view
![image](https://user-images.githubusercontent.com/16067358/76006032-2ef0ca00-5f0c-11ea-9e54-556aaa1e5e91.png)

I’ll add this to the debug roadmap.

FYI @matks
Thanks!

[2020-03-05 17:15] matks commented on #17988
I'm sorry to disagree, Symfony autowiring is a possible mode for Symfony to manage services. It's not mandatory to use it.

We actually did not check whether it works on try to make it work on purpose because we dont consider a good thing for PrestaShop right now.

A bit of context: a lot of PrestaShop developers are learning Symfony on-the-go with PS 1.7 and Dependency Injection is already someth

[2020-03-05 17:27] YanisseZ opened #18007 "Error 500 trackingfront module"
#### Describe the bug

When i go on https://www.mawallbox.fr/modules/trackingfront/stats.php
I have a error 500

**Error with debug mode**

[Screenshot](https://image.noelshack.com/fichiers/2020/10/4/1583429220-capture.png)

#### Additional information

* PrestaShop version: 1.7.6.3
* PHP version: 7.1

[2020-03-05 17:32] Robin-Fischer-PS opened #18008 "Set default country from browser language KO"
#### Describe the bug

When in BO, "Set default country from browser language" is set to Yes, it does not work : On FO, when creating an address, the pre-filled country is the "Default country" set in BO instead of the country of the browser.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Localization > Configuration
2. Set "Default country" to a country

[2020-03-05 19:06] arouiadib commented on #14175
Thank you @marionf for this constructive issue (at least for me who is blocked trying to understand what is happening under the hood).

The problem is that I am blocked for a weird reason. I can reproduce the behaviour ONLY one time, just after duplicating the products :confused:. Afterwards, pagination seems to work correctly depending on the filter applied.

At a certain time again, I manage to

[2020-03-06 02:01] ProteanCode opened #18010 "How should git flow look for a team working with prestashop?"
This is not really a bug unless considered a lacking readme content.

I am struggling from picking a correct way to work on the project with other people.

Lets say we have a 1 backend engineer and 1 frontend engineer, to start a new project we should first:
1. Download a production-ready archive from official website
2. Commit extracted files to private team repository
3. If a backend engineer fi

[2020-03-06 08:05] khouloudbelguith commented on #17505
Hi @Guttio1,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-06 08:05] #17505 closed, assigned to nobody

[2020-03-06 08:07] simontingkamlee opened #18011 "Cannot find translation word in backend of Prestashop"
Hi,
I am doing a bi-lingual site with English and Chinese. On the front end, there is a word "Testamonial" in the testimonial block which I want to translate to Chinese. I cannot find it in the backend under the International --> Translation in the ttcmstestamonial module. I checked the source code and trace it to

/var/www/html/modules/ttcmstestimonial/views/templates/hook/ttcmstestimonial.tpl. I

[2020-03-06 08:07] khouloudbelguith commented on #18007
Hi @YanisseZ,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9780
So, I close it.
Thanks!

[2020-03-06 08:07] #18007 closed, assigned to nobody

[2020-03-06 08:07] khouloudbelguith commented on #18007
Duplicate of #9780

[2020-03-06 08:39] khouloudbelguith commented on #18010
Hi @ProteanCode,

It is not currently possible to perform an automatic upgrade from the Beta to the stable version
Remember, the beta version is beta release software.
Do not use it on your production shop!
Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop

[2020-03-06 08:39] #18010 closed, assigned to nobody

[2020-03-06 08:42] khouloudbelguith commented on #18011
Hi @simontingkamlee,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-03-06 08:42] #18011 closed, assigned to nobody

[2020-03-06 09:05] khouloudbelguith commented on #18008
Hi @Robin-Fischer-PS,

I have the same issue with PS1.7.5.2 & PS1.7.6.3 & PS1.7.7.x.
Previously reported https://github.com/PrestaShop/PrestaShop/issues/10744

Thanks!

[2020-03-06 09:54] marionf commented on #14175
Hello @arouiadib

We plan to re-migrate the product listing in symfony for the 1.7.8 version, we will fix this bug by the way

[2020-03-06 10:06] SD1982 opened #18014 "BO - Dasboard Date is not set correctly in dashboard so some informations are not updated and relevant"
#### Describe the bug
In BO => Activity overview
Because the date is not correct the product review count stay at 0 even when a product review is added in FO

#### Expected behavior
The date range of the dashboard information should automatically be set with a "last connection" / "date of the day" interval so the dashboard information will be up to date and relevant.

#### Additional information
*

[2020-03-06 10:09] abramofranchetti commented on #11207
There is another case,
when you have a feature with only one feature_value the filter doesnt show.

Whit the mod above all works.

[2020-03-06 10:18] SD1982 opened #18015 "Changing the position of the features is not possible when the features are sorted in descending order"
#### Describe the bug

Changing the position of the features is not possible when the features are sorted in descending order

#### Expected behavior

Features position change must be possible regardless of the order in which the features are sorted

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => catalog => Attributes and Features => Features
2. Sort features in ascendin

[2020-03-06 10:24] marionf commented on #17980
Can't reproduce anymore

[2020-03-06 10:24] #17980 closed, assigned to atomiix

[2020-03-06 10:26] YoniSaadoun opened #18016 "regenerate Img/tmp on order history"
#### Describe the bug

The images product displayed in the order details are not the same as the images product.
Image product with watermark, but image on order details without watermark

#### Expected behavior

images generated by img/tmp must be the same as the images produced (small-default or home_default)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'detail product'
2

[2020-03-06 10:38] maremalaise commented on #9793
Bonjour,,

J'ai moi aussi cette erreur "jeton invalid"
je suis chez OVH
PHP 5.6
Prestashop 1.7.6.2

comment résoudre ce problème, prestashop n'est pas utilisable en l'état.

Cordialement.

[2020-03-06 11:17] Gipielle commented on #18008
Same issue in PS 1.7.6.3

[2020-03-06 11:31] khouloudbelguith commented on #18016
Hi @YoniSaadoun,

I have the same issue with Ps1763 and watermark v2.0.0.
![IMG_20200306_123945](https://user-images.githubusercontent.com/16067358/76079723-973fba00-5fa5-11ea-8b86-20c9d5def506.jpg)
But I think, it is an improvement instead of a bug.
The Type of the image in the order view details is product_mini
![product_mini_2_9](https://user-images.githubusercontent.com/16067358/76079823-cce4a

[2020-03-06 12:03] Hlavtox commented on #11207
@abramofranchetti Once again, why the feature need to be displayed, when user selects only one option?

Maybe I am missing something. ❓

[2020-03-06 12:44] abramofranchetti commented on #11207
Not all products have this feature set. If I want to select only the products with the feature setted i have to see the filter. Dott. Franchetti Da: Daniel HlavacekInviato: venerdì 6 marzo 2020 13:03A: PrestaShop/PrestaShopCc: abramofranchetti; MentionOggetto: Re: [PrestaShop/PrestaShop] Faceted filter doesn't shows attribute selection if category have only one product with same attribute or featu

[2020-03-06 13:15] zuk3975 opened #18020 "New invoice information block is missing in Order view page"
#### Describe the bug

In Order view page when I try to add a product with new invoice, I should see the checkobox "free shipping" according to legacy behavior.
![Screenshot from 2020-03-06 15-07-11](https://user-images.githubusercontent.com/31609858/76086328-91090800-5fbc-11ea-943b-ad988c16a309.png)

#### Expected behavior

The checkbox with "free shipping" checkbox should appear when "create new

[2020-03-06 13:15] NeOMakinG commented on #9798
Damn I can't reproduce it, maybe it's working on a particular page that I was on before but can't find it anymore

[2020-03-06 13:20] Robin-Fischer-PS opened #18021 "Space before some Spain States"
#### Describe the bug

In the /localization/es.xml file, the states "Ceuta" and "Melilla" have a space before the name. It's no big deal, but it makes the sort in BO a bit odd, since these states will appears last, after "Z".

#### Expected behavior

No space before the names

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Locations > States
2. Sort by "Na

[2020-03-06 13:44] Robin-Fischer-PS opened #18024 "copy language"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-03-06 13:44] #18024 closed, assigned to nobody

[2020-03-06 13:47] khouloudbelguith commented on #18015
Hi,

This issue occurs in all pages
1. Categories page (migrated to Symfony or legacy)
2. Attributes page
3. Features page
4. Pages page
5. Page categories
6. Link widget page
7. Carriers page

Thanks!

[2020-03-06 13:49] khouloudbelguith commented on #18015
Ping @PrestaShop/prestashop-product-team what do you think? is this normal behavior?

Thanks!

[2020-03-06 13:50] Nerque commented on #17781
Thank you for your patience and time. I was beginning to think I was crazy.

To try to correct it, for myself, I would need to know the method that queries the name of the related product name and displays it in the product administration panel.

Either way, I'm sure there are others with more knowledge about the subject who can easily solve it.

So I have to wait for it to be solved. I don't know

[2020-03-06 13:51] zuk3975 opened #18025 "Order view page discounts list not updating when adding product with free shipping"
#### Describe the bug

In order view page when I add product with new invoice and free shipping, there is a discount of free shipping generated, but its not visible in list unless i refresh the page.

[Orders _ Order MBGDKASMT from khououd belguith • 1752ps.webm](https://github.com/PrestaShop/PrestaShop/assets/23308427/24a903f8-d1c2-4491-8f9f-92d234cd6960)

#### Expected behavior

The list should

[2020-03-06 14:17] marionf commented on #18016
Hello @YoniSaadoun

Watermark module is usefull to protect images in the front-office, so images can't be downloaded and used by someone.
As this is a request to improve the module, we need to know why you (or the user) want to do this and what is the interest ?
This will help us to decide if we will implement this feature request or not

[2020-03-06 14:23] ttoine opened #18026 "After upgrade to 1.7.6.4, product pictures are broken with friendly URL"
#### Describe the bug

Before the upgrade, 1.7.6.3, all product pictures are visible on the front and the back office of the shop. Then, I launch the update using auto upgrade. At first, everything looks fine. Then, I refresh a product page using ctrl+shift+r, and picture disappear.

Note that customs pictures uploaded for the theme, like the banner, are working after the upgrade. only product pic

[2020-03-06 14:36] lolath-presta opened #18027 "[EPIC] Wishlist native module (wip)"
WIP

- [ ] #11277 - [EPIC] Wishlist module integration on PrestaShop 1.7 versions

[2020-03-06 14:38] arouiadib commented on #14175
@marionf , Good news thank you

[2020-03-06 15:00] Robin-Fischer-PS opened #18028 "Best sellers page still displayed in footer FO when deactivated"
#### Describe the bug

When, in BO, the "Display best sellers" parameter is set to "No", the link to this page is still shown in FO, in the footer, with a 404 error when clicking on it.

#### Expected behavior

The link to this page should not appear when option is set to No.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shop Parameters > General
2. Set "Display best se

[2020-03-06 15:02] khouloudbelguith commented on #18026
Hi @ttoine,

Could you please try to navigate to the BO=> Design => Image Settings page => Try to "Regenerate thumbnails".

Thanks to check & feedback.

[2020-03-06 15:18] khouloudbelguith commented on #18014
I have the same issue with PS1.7.7.x and the productcomments module v4.0.1.
It is Ok with PS1.7.6.4 and the productcomments module v4.0.1.
![image](https://user-images.githubusercontent.com/16067358/76096224-05947480-5fc6-11ea-9611-8deddd10d005.png)
I’ll add this to the debug roadmap.
Thanks!

[2020-03-06 15:20] YoniSaadoun commented on #18016
The watermark its not a probleme for the customer.

however, if a customer changes the cover photo of a product, the thumbnail of this product is not changed on the order page.
The thumbnail on the order page comes from the img/tmp folder. If you delete this thumbnail, the correct thumbnail will be well regenerated. But the question is, why are these temporary thumbnails not deleted and regenerate

[2020-03-06 15:26] ttoine commented on #18026
I did already. Nothing changes.

[2020-03-06 15:31] YoniSaadoun commented on #18016
When changing the coverage image, do the old commands containing this product keep the old image in memory? the next orders will have the new image.

If I want to get the good image for the old commands, you have to empty img/tmp? not auto generate.

[2020-03-06 15:41] khouloudbelguith commented on #18026
@ttoine, It is ok in my case after an upgrade from PS1.7.6.2 and PS1.7.6.3 using the 1-click upgrade v4.10.1.
https://drive.google.com/file/d/1mKzYKFgEYtUdyAGfM_oW7Ga7qw_RgbSD/view
Could you please try to regenerate the file .htaccess

1. Rename the old file to .htaccess_old
2. Disable friendly URL
3. Enable friendly URL

Thanks to check and feedback

[2020-03-06 15:47] khouloudbelguith commented on #18028
Hi,

The Best sales link is added by the Link Widget module
![image](https://user-images.githubusercontent.com/16067358/76098691-35457b80-5fca-11ea-8088-ab97a3027997.png)

Thanks!

[2020-03-06 15:53] ttoine commented on #18026
I tried, following this order, and still have broken product pictures when back to friendly URL.
I am waiting for info from the support team and let you know the solution. Something similar already happened in January.

[2020-03-06 16:00] khouloudbelguith commented on #18026
@ttoine, thanks!
Waiting for your feedback.

[2020-03-06 16:06] arouiadib commented on #14175
Hello @marionf ,
Let me please add another question for a better understanding. By migration, you mean from Symfony+Twig to Symfony+VueJs. Or we will be using same technology but with different architecture?
Thank you very much

[2020-03-06 16:09] TristanLDD commented on #9798
Hi there, loaders are one interface component that we plan to introduce in the UI Kit with @prestascott, for now we don't have an expected behavior for loaders in BO and both of them (top left or bottom right) aren't satisfying . Once the new design is ready we will implement it on all migrated pages through the UI Kit. I think it's safe to expect new loaders to be implemented in 1.7.8.

[2020-03-06 16:15] colinegin opened #18030 "Bug when adding more than 600 characters in message block"
On the order page, we have this text displayed on top of the page when adding more than 600 chars in the message block :
`<h1 class="d-inline"> <strong class="text-muted">#5</strong> <strong>KHWLILZLL</strong> </h1> <p class="lead d-inline"> from John DOE </p> <span class="badge rounded badge-dark ml-2 mr-2 font-size-100"> 20,90 € </span> <p class="lead d-inline"> 2020-02-28 <span class="text-mute

[2020-03-06 16:19] MatShir commented on #17935
@LouiseBonnard  @TristanLDD
Do you think we should add a wording if the shipping address is not displayed? or leave it empty?

[2020-03-06 16:20] khouloudbelguith commented on #18016
@YoniSaadoun, thanks for these clarifications.
This issue is not related to module watermark.
Steps to reproduce the issue:
1. Go to the BO => Create a product `Product1` and upload an image `Image1`
2. Go to the FO => Add the last product created to the cart and process to checkout
3. Go to the BO => Orders => Last Order view page
4. Check the Product image => OK
5. Go to the BO => edit the produ

[2020-03-06 16:23] #17949 closed, assigned to nobody

[2020-03-06 16:27] #18021 closed, assigned to LouiseBonnard

[2020-03-06 16:41] colinegin opened #18031 "Weird behaviour when filling the quantity field with letters of symbols"
On order page > Add a product, when performing this action, you can still save it and this will add a fake product with zero quantity. It will removed when reloading the page.

[2020-03-06 16:43] MatShir commented on #17761
@zuk3975, I'm not sure but I think one of your PR fix this?

[2020-03-06 16:44] colinegin commented on #18031
Related to #17968

[2020-03-06 16:47] LouiseBonnard commented on #17935
When checking out, there is a message to explain that the personal address is used for both the invoice and the shipping. By default, entering one address fills the invoice and the shipping addresses.

<img width="727" alt="Capture d’écran 2020-03-06 à 17 35 45" src="https://user-images.githubusercontent.com/32565890/76103427-fca9a000-5fd1-11ea-8cb1-514e3326428f.png">

I would leave it as is, or

[2020-03-06 17:02] khouloudbelguith commented on #18025
Hi @zuk3975,

I have the same issue with PS1.7.5.2 and PS1.7.6.4 and branch 1.7.7.x.
https://drive.google.com/file/d/1IzCzDxE-x1PakzH5cWBpw71H5NVpQY_5/view
In the New Order page migrated to Symfony page "Shipping block missing in the Add a product block".
As reported here: https://github.com/PrestaShop/PrestaShop/issues/17761
I’ll add this to the debug roadmap.
Ping @matks @MatShir

Thanks!

[2020-03-06 18:42] davidglezz opened #18032 "Incompatible webpack version to build admin-dev"
#### Describe the bug

When I do:

`npm install` on /admin-dev/

I get this error:

[code]
Current webpack version 1. cldr-data requieres 2, 3 or 4

https://github.com/PrestaShop/PrestaShop/blob/7ef207dd32335c7fa68193711f7afa4b084e0629/admin-dev/package.json#L26

#### Expected behavior

npm install without errors

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Git clone
2. cd admin-

[2020-03-06 19:21] Gipielle commented on #17880
This error is present in both version PS 1.7.6.2 and 1.7.6.3
maybe is due to an update from version 1.5 passed to 1.6 and immediately to 1.7
Maybe something in the update process did not go correctly.

[2020-03-07 11:15] V41F opened #18034 "Image slider not working properly for all screens"
Hello,
on my Prestashop 1.7.3 the image slider is not working properly for some smaller screens. Image is show but only a part and the rest of slider is filled with grey color. See attachment.
![screen](https://user-images.githubusercontent.com/41673053/76142349-37144b00-606d-11ea-9088-51a6fad81607.png)

[2020-03-07 14:01] Maofree opened #18036 "ps_emailalerts and ps_emailsubscription have 1.6 template emails inside /mails/en/"
Hi
I've found a little bug in ps_emailalerts and ps_emailsubscription
into these two modules go in their folder
/mails/en/
anche check their html files
they have the 1.6 template, not the 1.7 like for the other languages
this problem is present only for english language

bye

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/76144820-4357d280-6084-11ea-8f61-31164aeaa56b.png)
![

[2020-03-07 14:25] charlybrown44 opened #18037 "Prestashop 1.7.6.1 - bug when i create or update an employee"
Good afternoon,

I have the following message when i am trying to create or update an employee:

Une erreur inattendue s'est produite. [PrestaShopException code 0]

I tried the debug mode and to see the logs but nothing.

Can you help me ?

Thanks a lot

[2020-03-08 07:25] corsik opened #18038 "product-variants block does not change ajax refresh."
After installing the update 1.7.6.3. product variants have ceased to be updated.
The .product-variants block does not change ajax refresh.

[code]
I restored the old Core.js and it worked

This code would be good to make in theme.js for the possibility of its modification and verification.
#### Additional information

* PrestaShop version: 7.2
* PHP version: 1.7.6.3.

[2020-03-08 10:04] Alex-sp-es opened #18039 "Problem in the price window of a product"
When you want to adjust a price in the PRICES tab, the left bar of Prestashop is above the content, even hiding it, do not allow access to the price box. Verified in different browsers.

[2020-03-08 17:57] icemansparks opened #18042 "Error while update from 1.7.5.2 to 1.7.6.4 with 1-Click module - resulting in broken shop"
#### Describe the bug

I tried to update a shop running version 1.7.5.2 with the 1-Click module.
Files are updated correctly as far as i can tell, but when it comes to the db update an error occurs, resulting in an "seemingly updated shop" with the new version number but a nun functioning backoffice and frontoffice after refreshing the pages.
Only a restore of files and database could fix the prob

[2020-03-08 19:24] dinospla opened #18043 "move subdomain to domain"
#### Describe the bug

hi
i move sudomain to domain and i have this issue!

backoffice
![backoffice](https://user-images.githubusercontent.com/61296901/76169513-a4190500-6181-11ea-893c-1f2a4f7c35ef.jpg)

frontoffice
![frontoffice](https://user-images.githubusercontent.com/61296901/76169516-a8452280-6181-11ea-980a-ccc60fbbebc4.jpg)

#### Expected behavior

Explain what you expected to happen instea

[2020-03-08 21:10] Gipielle commented on #17880
Using debug un PS 1.7.6.3:

CRITICAL                 22:06:08 | php | Uncaught Notice: Undefined variable: previewUrl
-- | -- | --
CRITICAL                 22:06:08 | request | Uncaught PHP Exception  Symfony\Component\Debug\Exception\ContextErrorException: "Notice:  Undefined variable: previewUrl" at  /Design/CmsPageController.php  line 299

[2020-03-08 21:43] Gipielle opened #18044 "Tool for check integrity of prestashop DB"
Is seems that prestashop autoupgrade module some time make mistake, i will aprociate a tool that checks if prestashop tables are set correctly, in case that in some upgrade some table was not setted propretly

[2020-03-08 22:43] Gipielle commented on #17880
Fixed,

the problem was almost certainly due to a failure to update the ps_cms table.

setting the table correctly everything works.
![tabella-giusta](https://user-images.githubusercontent.com/53569015/76172467-a3d73480-6196-11ea-9132-8fb8844da939.jpg)
![tabella-sbagliata](https://user-images.githubusercontent.com/53569015/76172469-a5a0f800-6196-11ea-9537-5f8879999790.jpg)

[2020-03-08 22:55] Gipielle commented on #17880
In old table missing column indexation and the id_shop column was not necessary

[2020-03-08 22:55] Gipielle commented on #18044
This is an example:
https://github.com/PrestaShop/PrestaShop/issues/17880

[2020-03-09 07:43] khouloudbelguith commented on #17523
Hi @centoasa,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-09 07:43] #17523 closed, assigned to nobody

[2020-03-09 07:44] khouloudbelguith commented on #17539
Hi @5-digits,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-09 07:44] #17539 closed, assigned to nobody

[2020-03-09 07:45] tdavidsonas88 commented on #17918
@matks I take this from this morning. Was able to replicate the bug.

[2020-03-09 07:59] khouloudbelguith commented on #18034
Hi @wewew85,

Thanks for your report.
It is not about smaller screens.
It is related to the image size.
We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9882
So, I close it.
Thanks!

[2020-03-09 07:59] #18034 closed, assigned to nobody

[2020-03-09 07:59] khouloudbelguith commented on #18034
Duplicate of #9882

[2020-03-09 08:09] khouloudbelguith commented on #18038
Hi @corsik,

Thanks for your report.
Is it the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/17437
Thanks to check and feedback.

[2020-03-09 08:12] khouloudbelguith commented on #18037
Hi @charlybrown44,

I did not manage to reproduce the issue with PS1.7.6.1 and PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/1MLmKUqUWaZuQiCh4SD2XbNql9CADZTrz/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP

[2020-03-09 08:38] khouloudbelguith commented on #18032
Hi @davidglezz,

I manage to reproduce the issue with the branch 1.7.6.x, 1.7.7.x, and the develop branch.
I have these errors
[code]
Ping @PrestaShop/prestashop-core-developers @NeOMakinG what do you think?

Thanks!

[2020-03-09 08:44] NeOMakinG commented on #18032
Hello, @davidglezz

What are you trying to build using this package.json/webpack config ? I need to understand a bit more :)

[2020-03-09 08:50] khouloudbelguith commented on #18043
Hi @dinospla,

I moved my Project to a new domain without errors.
1. I made a backup for my files & my database
2. I uploaded my store's files to your new server
3. I imported the old store's database to the new server
4. In file /app/config/parameters.php, I configured my PrestaShop site.
4.1. DB_SERVER: database's server;
4.2. DB_NAME: Name of the database from step 5;
4.3. DB_USER: User associa

[2020-03-09 09:10] marionf commented on #14175
I don't have the answer but maybe @matks has it ?

[2020-03-09 09:13] colinegin commented on #17761
I think this issue is a duplicate of #18020 . So we can close it.
Do you confirm @khouloudbelguith ?

[2020-03-09 09:15] khouloudbelguith commented on #17761
@colinegin, yes!

[2020-03-09 09:16] khouloudbelguith commented on #17761
Duplicate of #18020

[2020-03-09 09:16] #17761 closed, assigned to nobody

[2020-03-09 09:18] colinegin commented on #13880
Thanks @khouloudbelguith for testing this. I would recommend to fix it in 178 then. What do you think @Progi1984 ?

[2020-03-09 09:18] tdavidsonas88 commented on #17924
Not sure how to get these check boxes to appear from the screenshots:
![image](https://user-images.githubusercontent.com/32385991/76198699-34ddf800-61f7-11ea-98fc-587001e0a32d.png)
 I think I'm missing in order state or something.

Tried to go for orders with statuses 'Awaiting cash/check/bank' payment but the button from the screenshot did not appear. The closes I've got was `Partial Refund` butt

[2020-03-09 09:28] khouloudbelguith commented on #18042
Hi @icemansparks,

Thanks for your report.
In your log file, you have this error
[code]

The autoupgrade is just stopped due to an override of the `Tools.php` class.
In order to avoid problems during the upgrade, remember not to change core files, check the compatibility of your modules and your overrides.

Thanks to check & feedback.

[2020-03-09 09:31] tdavidsonas88 commented on #17924
Core team helped me: `Customer Service > Merchandise return: you toggle it on`, it was needed to see the return checkboxes!

[2020-03-09 09:36] SD1982 opened #18047 "Child theme upload not working"
## Describe the bug
The child theme uploading doesn't work

#### Expected behavior

The child theme should be uploaded
![upload child theme expected result](https://user-images.githubusercontent.com/40635814/76200022-2e4c8200-61f1-11ea-9719-0c31ec6cd35d.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => design => theme and logo => advanced customization
2. Click on "up

[2020-03-09 09:36] tegeeks opened #18048 "Problem while using the Click Upgrade module"
#### Describe the bug

I have recently purchased the click upgrade module, I have been able to install it but when I click to configure it is thinking and at the end of the error. How can I solve it?

#### Additional information

* PrestaShop version: 1.7.6.3
* PHP version: N/A

[2020-03-09 09:37] khouloudbelguith commented on #18048
Hi @tegeeks,

Thanks to provide us a clear description of your issue.

Thanks!

[2020-03-09 09:39] khouloudbelguith commented on #18048
Hi @tegeeks,

Thanks for your report.
What is the exact version of the 1-click upgrade did you install it.
Did you install this module from the BO => Modules => Module Catalog page?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/

[2020-03-09 09:42] Robin-Fischer-PS opened #18049 "Quantity discount based on parameter does not work"
#### Describe the bug

When setting the "Quantity discount based on" parameter to "Products", it does not work

#### Expected behavior

When "Quantity discount based on" is set to "Products", if there is a cart rules or a specific price based on quantity, the discount should be applied as soon as we have in cart the required number of products, **even if there are different combinations in cart**.

[2020-03-09 09:47] tegeeks commented on #18048
v4.10.1 - de PrestaShop
Nothing appears in the PHP error log, it just keeps thinking and hangs the page does not allow or configure the module.
this is what appears
admin_17.js:19 Uncaught ReferenceError: $ is not defined
    at admin_17.js:19

[2020-03-09 09:53] khouloudbelguith commented on #18047
Hi @SD1982,

Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/16511
Here's the PR: https://github.com/PrestaShop/ps_themecusto/pull/19 to fix the issue.
A new release of the module ps_themecusto is not released yet.

Thanks!

[2020-03-09 09:54] tegeeks commented on #18048
[DOM] Input elements should have **manage?_token=HMeHBluaysNzchF_F-k1BVawUexEWToU5zp3oGWSwe0**
autocomplete attributes (suggested: "current-password"): (More info: https://goo.gl/9p2vKq)

Failed to load resource: the server responded with a status of 504 ()

[2020-03-09 10:01] tdavidsonas88 commented on #17924
@matks I take this issue, was able to replicate and see that the issue is javascript related when checkboxes are clicked for the first time numbers are not appearing in the checkboxes.

[2020-03-09 10:03] khouloudbelguith commented on #18047
Duplicate of #16511

[2020-03-09 10:03] #18047 closed, assigned to nobody

[2020-03-09 10:43] Progi1984 commented on #13880
@colinegin In the last comment, I think we can fix the last item "The block discount is not displayed" for 177x. May be we should divide this comment in multiple issues ?

[2020-03-09 11:14] colinegin commented on #17994
ping @Progi1984 is this what you are working on right now ?

[2020-03-09 11:16] Progi1984 commented on #17994
@colinegin After searching with @jolelievre, it's more complex. I think we move it to 178. (Only on dummy data & Dummy data are not perfect)

[2020-03-09 11:17] khouloudbelguith commented on #18049
Hi,

PS: the Total is correct
![image](https://user-images.githubusercontent.com/16067358/76208445-f993f700-61ff-11ea-95aa-4be21506d44c.png)

Thanks!

[2020-03-09 11:18] colinegin commented on #13880
Alright, let's do it then !

About issue #2 : discount value = price of the product => different from the FO
@khouloudbelguith i'm not sure I understood the problem. Could you give me more details please?

And also about issue #4 : total => incorrect. Do you know where is the issue ?

[2020-03-09 11:29] sharkooon commented on #16436
So why is this bug still not deployed in 1.7.6.4?

[2020-03-09 11:32] khouloudbelguith commented on #16436
Hi @sharkooon,

A new patch version is released for the correction of critical bugs and regressions only.

Thanks!

[2020-03-09 11:33] sharkooon opened #18053 "Capitalized mail addresses still not fixed in 1.7.6.4"
Why is pull request #16550 still not fixed in 1.7.6.4?
It fixes sending variables in mailtemplates when CAPITALIZED mail addresses is used..

https://github.com/PrestaShop/PrestaShop/issues/16436
https://github.com/PrestaShop/PrestaShop/pull/16550

[2020-03-09 11:47] khouloudbelguith commented on #18053
Hi @sharkooon,

Thanks for your report.
PS1.7.6.4 is a patch version, not a major version.
As you can see in [our official documentation](https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/#target-branch).
A patch version (in our case, it is PS1.7.6.4) is released to fix critical bug issues and regressions only.
The "Capitalized mail addresses" is fixed in the next Major version

[2020-03-09 11:47] #18053 closed, assigned to nobody

[2020-03-09 11:50] davidglezz commented on #18032
I don't know how I did it, now I see that package.json is never built

Build all assets
https://devdocs.prestashop.com/1.7/development/compile-assets/

[./tools/assets/build.sh
](https://github.com/PrestaShop/PrestaShop/blob/develop/tools/assets/build.sh)

https://github.com/PrestaShop/PrestaShop/commit/66c87c6defb5fe01248b0a53a1533c810a04ec85#diff-ac34b5d9a6987c6e11c7a5177612bb9eR27

On the other

[2020-03-09 11:56] khouloudbelguith commented on #13880
Hi @colinegin,

@khouloudbelguith i'm not sure I understood the problem. Could you give me more details please?

Thre is a difference between the BO and the FO when the sam cart rule is applied.
![image](https://user-images.githubusercontent.com/16067358/76210888-534af000-6205-11ea-9f29-66409ae27bd6.png)

1. In the FO, when the cart rule is applied
The discount value = `500 Euro `
It is the value

[2020-03-09 12:02] khouloudbelguith commented on #18039
Hi @Alex-sp-es,

Could you please add steps to reproduce the issue in a new comment.

Thanks!

[2020-03-09 12:08] sharkooon commented on #18053
Well this is realy a critical bug which should be fixed.

using mail@Gmail.com will cause problems right now!

[2020-03-09 12:10] khouloudbelguith commented on #18048
@tegeeks, thanks to turn on the Debug mode on PrestaShop 1.7, follow these steps:

- Got to Advanced Parameters > Performance
- In the Debug Mode section, set “Debug Mode” to “Yes”.
- Click the “Save” button.

Now, go back to the configuration page and check if there is an exception displayed.

Did you install this module from the BO => Modules => Module Catalog page?
https://addons.prestashop.com

[2020-03-09 12:14] khouloudbelguith commented on #18053
Hi @sharkooon,

Thanks to check this [link](https://build.prestashop.com/news/severity-classification/) to check the bug severity classification.

Thanks!

[2020-03-09 12:19] jose73wrc opened #18055 "Blockreassurance in prestashop 1.7.6.4 unistalled"
when updating from prestashop 1.7.6.2 to 1.7.6.4 with click upgrade the blockreassurance module is uninstalled and there is no way to install it,
some help?

* PrestaShop version: 1.7.6.4
* PHP version: 7.2.26

[2020-03-09 13:24] sharkooon commented on #18053
Alright, but based on that link, it is classified as critical: Difficulty to globally place and manage orders

[2020-03-09 13:42] eternoendless commented on #18003
@v4lux Was there a specific reason to change the token or you just stumbled upon this bug?

[2020-03-09 13:46] matks commented on #18003
I was next to him, we stumbled into the bug. Error page does not keep the http method.

[2020-03-09 13:47] Robin-Fischer-PS opened #18058 "Missing gift message in migrated View order page"
#### Describe the bug

When "Gift wrapping" option is set to "Yes", the customer can add a gift wrapping to his order, and a gift message. In Legacy, the gift message was displayed in BO on "Shipping" block. This info is missing on Migrated page.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Shop parameters => Order settings => Gift options
2. Set "Gift wrapping" to "Yes"
3.

[2020-03-09 13:55] LGx0 opened #18059 "1.7.5.1 to 1.7.6.4 SmartyException"
#### Describe the bug

(1/1) SmartyException0():Missing '$template' parameter
--
in smarty_internal_templatebase.php line 177
at Smarty_Internal_TemplateBase->_execute(null, null, 'layouts/layout-full-width.tpl', null, 0)in smarty_internal_templatebase.php line 116
at Smarty_Internal_TemplateBase->fetch(null, null, 'layouts/layout-full-width.tpl', null, false, true, false)in SmartyDev.php line 40

[2020-03-09 13:58] khouloudbelguith commented on #18036
Hi @maofree,

Thanks to navigate to your BO => Design => Email Theme page => Generate emails section

- Select your email theme => modern
- Select your language => English
- Select the theme you want to overwrite => Core
- Overwrite templates => Yes
- Click Generate emails

Now you can check this link: shop.com/modules/ps_emailalerts/mails/en/new_order.html

Thanks to check & feedback.

[2020-03-09 14:01] matks commented on #14175
No, we keep Symfony+Twig.

Product page listing was migrated to Symfony+Twig a long time ago following an specific architecture. Since then, we have built a generic system to create listings in Symfony page (see https://devdocs.prestashop.com/1.7/development/components/grid/) that we are using for all of our listings.

So today we have
- product listing using custom system
- every other migrated l

[2020-03-09 14:02] ioweb-gr opened #18060 "Performance issues displaying orders grid with a huge amount of orders in place"
#### Describe the bug

We have an eshop with a lot of orders. Currently over 180000. When we try to view the order grid in the backend it takes a couple minutes to open. The list displays only 20 orders at a time.

Server specs are enough to handle it and load averages on 2 which is very low for a 12core machine
##### CPU
vendor_id       : GenuineIntel
cpu family      : 6
model           : 158
mod

[2020-03-09 14:09] matks commented on #18044
Unfortunately this would be very hard to do because **modules are able to modify the SQL schema** so the tool would inform user about false issues. 😭

[2020-03-09 14:16] khouloudbelguith commented on #18059
Hi @LGx0,

First PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

Second, have you any

[2020-03-09 14:33] khouloudbelguith commented on #18055
Hi @jose73wrc,

I did not manage to reproduce the issue with PS1.7.6.4 after an upgrade from PS1.7.6.2 using the 1-click upgrade v4.10.1.
https://drive.google.com/file/d/16qAoL6p2i_sMjlbmRg4YZHyd5Gxn76mo/view
In your case, in the BO => Modules => Module manager page => search for the Blockreassurance => if there is no result, go to the Module Catalog page and search for this module and try to inst

[2020-03-09 14:37] jose73wrc commented on #18055
![image](https://user-images.githubusercontent.com/61972321/76224184-ea22a700-621b-11ea-8e52-9e7a9a6bcda4.png)

[2020-03-09 14:39] jose73wrc commented on #18055
I got that I had to update the module, I gave him accept and it came out that it was not installed.
and with the latter that you indicate directly to me the error that I have attached comes out.

[2020-03-09 14:39] khouloudbelguith commented on #18055
@jose73wrc, in your `Project_Foldor/modules/`, the folder `blockreassurance` exits or no?

Thanks!

[2020-03-09 14:40] jose73wrc commented on #18055
yes

[2020-03-09 14:41] jose73wrc commented on #18055
![image](https://user-images.githubusercontent.com/61972321/76225196-73d27480-621c-11ea-91b9-200e975aef7a.png)

[2020-03-09 14:45] khouloudbelguith commented on #18055
@jose73wrc, could you please rename the `blockreassurance` folder to `blockreassurance_old`, clear cache & try to install the module again.

Thanks!

[2020-03-09 14:49] jose73wrc commented on #18055
the error also comes out

[2020-03-09 14:51] arouiadib commented on #14175
@matks, thank you for the explanation. Important before building a BO module with listing.
I think documentations has evolved over time. Thanks to every contributor.

[2020-03-09 14:59] eternoendless commented on #17890
Looks like we've been using `sr-CS` since [early 1.7.0.0](https://github.com/PrestaShop/PrestaShop/commit/f4b122dcb2359b154a650ae6ff666e613952d0ad), everywhere.

No idea where that "CS" came from, as it's not a valid country code. Maybe it's short for "Cyrillic Script"? It sure looks like it was intentional because Serbian is written with cyrillic characters [in this file](https://github.com/Prest

[2020-03-09 15:08] jose73wrc commented on #18055
The theme developer comments the following:

Please access to your database (phpMyAdmin), then remove the "prstshp_reassurance" table AND "prstshp_reassurance_lang" table.

Now I observe that after trying to install, it does not create the tables

[2020-03-09 15:08] Zoran23 commented on #17890
Thank you, it woud be great.

[2020-03-09 15:10] ttoine commented on #18053
Hello, you can have a look at the version in which a pull request has been merged in the right column, see under "milestone"

![Selection_666](https://user-images.githubusercontent.com/4619685/76227821-28ba6080-6220-11ea-991c-fa50119055ae.png)

This particular fix has been merged in the 1.7.7 branch. The good news is that the beta of this release is on the way, and hopefully, it should be released

[2020-03-09 15:10] Zoran23 commented on #17890
CS was code for ex conty "Serbia and Montenegro". In serriban **C**rnagora **S**rbija

[2020-03-09 15:12] LGx0 commented on #18059
![Prestashop](https://user-images.githubusercontent.com/17854088/76228247-c31aa400-6220-11ea-9405-4033b833bdfe.PNG)

[2020-03-09 15:12] eternoendless opened #18062 "Cannot translate Serbian in 1.7.6.0"
#### Describe the bug

Cannot access the translation interface for the Serbian language:
![Screencap 1.7.6](https://user-images.githubusercontent.com/32565890/75902804-e6b8a580-5e40-11ea-9fc1-10d1f5c067ab.png)

#### Expected behavior

You should be able to access like in < 1.7.5

![Screencap 1.7.5](https://user-images.githubusercontent.com/32565890/75902659-aa854500-5e40-11ea-8995-0fadfefea2cd.png

[2020-03-09 15:13] LGx0 commented on #18059
Second, have you any errors during the upgrade?
- No
This issue occurs in which page? in the FO?
- Front page

[2020-03-09 15:13] maofree commented on #18036
hi
yes thanks
after the update from that page, those emails have the modern template
thanks

[2020-03-09 15:14] matks commented on #16226
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/18063

[2020-03-09 15:16] eternoendless commented on #17890
Thanks for the info! The More You Know...

[2020-03-09 15:19] eternoendless commented on #17890
I opened [another issue](https://github.com/PrestaShop/PrestaShop/issues/18062) to track the regression mentioned in [this comment](https://github.com/PrestaShop/PrestaShop/issues/17890#issuecomment-594657943) which I fixed.

[2020-03-09 15:19] khouloudbelguith commented on #18036
@maofree, great!
I close the issue, feel free to open a new one when needed.

Thanks!

[2020-03-09 15:19] #18036 closed, assigned to nobody

[2020-03-09 15:37] khouloudbelguith commented on #18059
@LGx0,

those two options don't work in Prestashop as reported here:

- https://github.com/PrestaShop/PrestaShop/issues/9965
- https://github.com/PrestaShop/PrestaShop/issues/14596

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2020-03-09 15:46] khouloudbelguith commented on #18055
@jose73wrc, so this issue occurs due to your theme?

Thanks!

[2020-03-09 15:51] khouloudbelguith commented on #17880
Ping @maofree any news?

Thanks!

[2020-03-09 15:51] LGx0 commented on #18059
Nothing. remove var/cache

[2020-03-09 15:52] maofree commented on #17880
hi
you can close this topic, it was due from a wrong upgrade
thanks

[2020-03-09 15:53] #17880 closed, assigned to nobody

[2020-03-09 15:53] jose73wrc commented on #18055
no.
I only asked for help
After trying, he told me the following:

Sorry, I also can not install this module.
Please try to open a ticket to PrestaShop here:
https://github.com/PrestaShop/PrestaShop/issues

[2020-03-09 15:58] khouloudbelguith commented on #18055
@jose73wrc, could you please try to install this module
[blockreassurance.zip](https://github.com/PrestaShop/PrestaShop/files/4307632/blockreassurance.zip)
Cloned from this [repository](https://github.com/PrestaShop/blockreassurance/releases)

Thanks to check & feedback.

[2020-03-09 16:02] webstartconsulting opened #18065 "Exclude discounted products: YES & Apply a discount to Selected product(s) Don't work correctly"
#### Describe the bug

The coupon settings below do not work. The discount rate is incorrect because it also counts a discount on a promotional product. The product has a unique price (screen3).

#### Expected behavior

The coupon should give you a 790 HUF discount. 100% of the price of the non-promotional product. Or 50% if the coupon is set up this way.

-------------------------

Steps to repro

[2020-03-09 16:03] jose73wrc commented on #18055
![image](https://user-images.githubusercontent.com/61972321/76233049-e1d06900-6227-11ea-9017-1c2f5bc5ac57.png)

[2020-03-09 16:05] jose73wrc commented on #18055
![Anotación 2020-03-09 170414](https://user-images.githubusercontent.com/61972321/76233200-265c0480-6228-11ea-88e1-004c5caab948.png)
![Anotación 2020-03-09 170415](https://user-images.githubusercontent.com/61972321/76233212-29ef8b80-6228-11ea-9caa-2f336d08b704.png)

[2020-03-09 16:11] khouloudbelguith commented on #18055
@jose73wrc,

Could you please provide me the credentials of your shop to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2020-03-09 16:16] jose73wrc commented on #18055
The credentials of backoffice?

[2020-03-09 16:21] khouloudbelguith commented on #18055
@jose73wrc, yes!
You can just create a new employee with few permissions.
Thank!

[2020-03-09 16:22] Hlavtox commented on #17798
@khouloudbelguith Hi, I added a note to readme. :-)

https://github.com/PrestaShop/ps_googleanalytics/pull/44

[2020-03-09 16:24] khouloudbelguith commented on #18059
@LGx0, could you please check if you have a custom module having the same function as reported here: https://github.com/PrestaShop/psgdpr/pull/75/files which fixes https://github.com/PrestaShop/psgdpr/issues/57

Thanks!

[2020-03-09 16:27] jose73wrc commented on #18055
What permissions do you need?

[2020-03-09 16:34] khouloudbelguith commented on #18055
@jose73wrc, the back office.
Thanks!

[2020-03-09 16:41] jose73wrc commented on #18055
I have already sent to you,
You already tell me if the permissions are correct

[2020-03-09 16:43] khouloudbelguith commented on #18055
@jose73wrc, yes!
But I don't have the right permissions for the module Page
![image](https://user-images.githubusercontent.com/16067358/76236735-6d002d80-622d-11ea-8d03-4e12c7e0cf61.png)

Thanks!

[2020-03-09 16:47] jose73wrc commented on #18055
ready

[2020-03-09 16:55] khouloudbelguith commented on #18055
@jose73wrc, thanks!
Waiting for your feedback.

[2020-03-09 16:57] jose73wrc commented on #18055
ready, you have access

[2020-03-09 16:58] jose73wrc commented on #18055
I hope you find the solution

[2020-03-09 17:17] davidglezz commented on #17912
This is caused by new Custom Scrollbar that add .ps class to nav#nav-sidebar and hides overflow that shows submenu
[code]

![image](https://user-images.githubusercontent.com/194784/76239295-9de26180-6231-11ea-98d2-58e6b4cad62e.png)

[2020-03-09 17:18] khouloudbelguith commented on #18065
Hi @webstartconsulting,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2, PS1.7.6.4, and the branch 1.7.7.x
Steps to reproduce the issue:
1. Create a product `Product1` with a price = 36€ Tax included
2. Create a specific price on this product with 20€ Tax included
3. Create a second product Product2 with a price =120€ Tax included
4. Create a cart rule
4.1 With a code/ or n

[2020-03-09 17:21] khouloudbelguith commented on #18065
Ping @PrestaShop/prestashop-product-team what do you think?
This issue should be fixed in the PS1.7.7.0?

Thanks!

[2020-03-09 17:22] didi-2018 opened #18066 "'map-delivery-canvas' in order details page is not shown - missing API key for Google Maps 1.7.6.3"
Hi everybody,

on order details page at the customer address (delivery and invoice) the Google Map is not shown cause of missing Google Maps API key:

![image](https://user-images.githubusercontent.com/44971218/76239890-97a0b500-6232-11ea-9580-a966c265cf86.png)

thanks for checking and feedback ☺

PS 1.7.6.3
php 7.2.1
nginx/1.14.0

[2020-03-09 17:24] khouloudbelguith commented on #18055
@jose73wrc, could you please navigate to your BO => International => Translations page => Update your languages.
Thanks to check & feedback.

[2020-03-09 17:26] khouloudbelguith commented on #18066
Hi @didi-2018,

Your ticket is a duplicate of #10393
So, I close it.
Thanks!

[2020-03-09 17:26] #18066 closed, assigned to nobody

[2020-03-09 17:26] khouloudbelguith commented on #18066
Duplicate of #10393

[2020-03-09 17:33] Gipielle commented on #9818
So we have to wait 1.7.7.0 to see this fix ?

[2020-03-09 17:36] LouiseBonnard opened #18067 "Menu entries wrongly displayed in 1.7.7"
#### Describe the bug

While testing the 1.7.7 via my VM, I noticed two incorrect menu entries, 'Order Settings' instead of '**Orders**' and 'Customer Settings' instead of '**Customers**'. See screenshots below.

<img width="483" alt="Capture d’écran 2020-03-06 à 17 08 26" src="https://user-images.githubusercontent.com/32565890/76240090-ecdcc680-6232-11ea-8034-e372d7e4d0b3.png">

<img width="547

[2020-03-09 17:38] tegeeks commented on #18048
I've done all the steps and it still doesn't work

[2020-03-09 17:39] LouiseBonnard commented on #18067
Hi @khouloudbelguith, could you tell me if you reproduce this issue? It is all fine on @MatShir side so I'm not sure if it is a real bug or not. :-)

[2020-03-09 17:50] jose73wrc commented on #18055
I only have Spanish activated,
If I activate English, all products are changed and Spanish recognizes it as Basque

[2020-03-09 17:56] colinegin commented on #18003
@zalexki @Matt75 could you give us some details on why did @v4lux have to change the token in the URL ? Do you have any screenshot to provide ?

@khouloudbelguith has tested the refund feature, it seems to be working correctly. It's only when changing the token (which should not be done) that this exception occurs. Here is a video : https://drive.google.com/file/d/1hhy9eTSfUTuiqztEAfAa3RkumEndj4L0

[2020-03-09 17:56] jose73wrc commented on #18055
What I can do?

[2020-03-09 18:00] colinegin commented on #18065
If I understand correctly, we did not manage to fix all issues in #10300, which was fixed for 1.7.7.
So, yes, I recommend to fix it for 1.7.7. I put it in the kanban.

[2020-03-09 18:01] didi-2018 commented on #18048
@khouloudbelguith I had the same problem today. I think it was the time when Presta offered the Upgrade to the module. By trying to access the module I always got an timeout. After a while it was working again without porblems.

[2020-03-09 18:13] tegeeks commented on #18048
In my case I hope, the page hangs and this error appears:
504 Gateway Time-out

[2020-03-09 18:23] icemansparks commented on #18042
Hi @khouloudbelguith thank you very much for mentioning this, i was not aware that these override files exist and didn't think that they were added somehow since i am just working in the themes sub directory.

There are two files in the override/classes folder:
Tools.php and Cart.php - Cart seems to have been added by the Klarna Payment module as far as i can tell.

However, simply removing the To

[2020-03-09 19:05] LGx0 commented on #18059
I did it but it doesn't work

[2020-03-09 20:15] radiobaws opened #18069 "change of hompage settings, no login to Presta possible"
We needed to change our shop from .com to .de, to get an SSL zertificate, so we initally set up our prestashop on .com which now gets forwarded automatically to .de, but now we actually can't login in Presta anymore.
We actually asked the presta support before we made the changes with our host, but they did not tell us about the fact that we can't login to our Presta from radioskateboards.de anymo

[2020-03-09 21:05] davidglezz commented on #17384
I did
https://github.com/PrestaShop/PrestaShop/pull/18068

[2020-03-09 21:39] davidglezz commented on #9944
Isn't that the expected behavior?

0 items
1 item
2 items
n items

0 articles
1 article
2 articles
n articles

[2020-03-09 21:42] davidglezz commented on #12911
Currently a modal is no longer used. So this bug no longer exists, right?

[2020-03-10 07:46] khouloudbelguith commented on #17576
Hi @shivakadakol,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-10 07:46] #17576 closed, assigned to nobody

[2020-03-10 07:57] khouloudbelguith commented on #9944
Related to https://github.com/PrestaShop/PrestaShop/issues/15870

[2020-03-10 08:03] jocel1 commented on #18060
@ioweb-gr if you need help to optimize shops you can contact me

[2020-03-10 08:05] khouloudbelguith commented on #18059
@LGx0, did you tried to disable non-native module manually? because as I said here:

Thanks to check & feedback.

[2020-03-10 08:09] khouloudbelguith commented on #18042
@icemansparks, and the `Tools.php` was added by which module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them and feedback.

[2020-03-10 08:13] khouloudbelguith commented on #18048
@tegeeks, Most of the time, a 504 Gateway Timeout error means that whatever other server is taking so long that it's "timing out," is probably down or not working properly.
Misconfigurations at the client side can result in “504 gateway time-out error in Prestashop”, It can be due to various reasons like:

- Improper browser settings or browser cache.
- Temporary problems with the network devices

[2020-03-10 08:40] khouloudbelguith commented on #18067
Hi @LouiseBonnard,

Yes, I manage to reproduce the issue with PS1.7.6.4.
Steps to reproduce the issue:
1. Install PS with French language and France country
2. Go to the BO => International => import united states pack
3. Change the employee language to English
4. See error

![image](https://user-images.githubusercontent.com/16067358/76294209-bba3db00-62b2-11ea-985e-ac225925c25d.png)

This issue i

[2020-03-10 09:11] Matt75 commented on #18003
@colinegin We don't have more than this bug report but @matks saw @v4lux about this problem and was next to him during this test.

[2020-03-10 09:16] khouloudbelguith commented on #18069
Hi @radiobaws,

You can move your Project to a new domain without errors following these steps:

1. made a backup for my files & my database
2. upload my store's files to your new server
3. import the old store's database to the new server
4. In file /app/config/parameters.php, configure my PrestaShop site.
4.1. DB_SERVER: database's server;
4.2. DB_NAME: Name of the database from step 5;
4.3. DB_

[2020-03-10 09:21] Gipielle commented on #18044
OK but with a check tool you can have ad idea if something was not set correctly and then check is if caused by a module

[2020-03-10 09:21] tegeeks commented on #18048
There is no configuration, the rest of the modules work correctly for me. In addition, this module does not even let me configure it, it remains hung whenever I make any gesture with the module. Therefore, it is a problem with the module that has never worked since I installed it.

[2020-03-10 09:24] khouloudbelguith commented on #18048
@tegeeks

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.
[phppsinfo.php.zip](https://github.com/PrestaShop/PrestaShop/files/4311387/phppsinfo.php.zip)

1. Upload the file to the

[2020-03-10 09:30] khouloudbelguith commented on #18055
@jose73wrc, could you please navigate to your BO => International => Translations page => Update your language Spanish.
![image](https://user-images.githubusercontent.com/16067358/76298692-29073a00-62ba-11ea-927b-6dba6c67bd75.png)

Thanks!

[2020-03-10 09:34] DelecroixQuentin opened #18072 "Duplicate address in checkout Address step on address edition"
#### Describe the bug

With the security fix apply (tested on 1.7.2.3, 1.7.4.3, 1.7.5.1, 1.7.6.2, 1.7.6.4), when editing an address from the "Address" step of the checkout, a new address will be created instead of editing the current one.

From the "Address" page of the customer account, this works well.

The problem is that the `Tools::getValue('id_address')` (introduced in this [commit](https://

[2020-03-10 09:53] jose73wrc commented on #18055
it's already updated
and now?

[2020-03-10 10:29] igallego-webimpacto commented on #16939
Hi @khouloudbelguith

Do you have an estimated date to solve this issue?

Thanks!

[2020-03-10 10:34] khouloudbelguith commented on #16939
Hi @igallego-webimpacto,

Sorry, no.
Our product team is responsible for the priority of issues.
PrestaShop is an open source project, so it can be solved before if someone submits a pull
Thanks for your understanding!

[2020-03-10 10:58] LouiseBonnard commented on #18067
I close this issue since it is a duplicate, thank you again @khouloudbelguith!

[2020-03-10 10:58] #18067 closed, assigned to nobody

[2020-03-10 10:59] khouloudbelguith commented on #18067
Duplicate of #9762

[2020-03-10 11:25] Supplementstore commented on #16491
![Problemprestashop](https://user-images.githubusercontent.com/62015030/76306658-9b324b80-62c7-11ea-89dc-17529ca9ffcf.jpg)

Im having a issue with coupons, not the same as you mentioned above.
Am i doing something wrong or am i missunderstandning how coupon codes work?

The coupon Ayla30 gives my custumers 30% off but i do not want this coupon code to work on products that already have a discount

[2020-03-10 11:27] khouloudbelguith commented on #16491
Hi @Supplementstore,

Same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/18065

Thanks!

[2020-03-10 11:38] Majusek opened #18074 "re-sending email with status change, account data are empty"
#### Describe the bug

Variables related with emails are not displayed in an email bankwire's template. The same situation as like here:
https://github.com/PrestaShop/PrestaShop/issues/16346

#### To Reproduce

1. Go to order details in back office.
2. Click button "resend an email".

#### Additional information

* PrestaShop version: 1.7.4.0

[2020-03-10 11:40] julio899 opened #18075 "Error in Production Config Plugin *Bug"
#### Describe the bug
`Notice en línea 1453 en archivo /var/www/html/PrestaShop/classes/Link.php
[8] Undefined index: entity`

When I enter to view the Initial View of configuration
in Develop it's Equals the code
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Link.php

exist not validation previus beffore use the position `entity`

#### Expected behavior
![Error el 2020-03-10 07 11

[2020-03-10 11:55] Maofree opened #18076 "Error to copy translations from the classic theme to extra theme"
Hi
I manage a site with 11 languages
the translations of the theme for some languages are ok (because inside its translations folders are present files) and in others no like for russian (because in its translations folder there are no files)
However it is not important because not all themes have all possible translations.

in the translation admin page, at the bottom, there is a section named "C

[2020-03-10 12:02] khouloudbelguith commented on #18075
Hi @julio899,

Have you tried to contact the module author about this issue?
PS: We are still working on the 1.7.7.0 version, is not stable yet.
The last stable version released is PS1.7.6.4.
Thanks to check & feedback.

[2020-03-10 12:04] khouloudbelguith commented on #18074
Hi @Majusek,

As you can see in this [comment](https://github.com/PrestaShop/PrestaShop/issues/16346#issuecomment-552403707)
It is not a PrestaShop core issue, it is related to a custom module or an override.
Did you check all your non-native module?

Thanks!

[2020-03-10 12:07] khouloudbelguith commented on #18076
Hi @maofree,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16132
So, I close it.
Thanks!

[2020-03-10 12:07] #18076 closed, assigned to nobody

[2020-03-10 12:07] khouloudbelguith commented on #18076
Duplicate of #16132

[2020-03-10 12:08] Majusek commented on #18074
Hi @khouloudbelguith

I disabled overrides and external modules and nothing change. And my PrestaShop is 1.7.4.0 versio. Maybe something was repair in 1.7.6.0?

[2020-03-10 12:13] khouloudbelguith commented on #18055
@jose73wrc, could you please provide me a screenshot about the structure of your table `PREFIX_reassurance_lang`
![image](https://user-images.githubusercontent.com/16067358/76311041-59f26980-62d0-11ea-959d-450986893ab8.png)
PS: PREFIX is the prefix of your tables, It could be for example `ps_`.

Thanks to check & feedback.

[2020-03-10 12:14] khouloudbelguith commented on #18074
@Majusek,

Those options do not work.
![image](https://user-images.githubusercontent.com/16067358/72447578-e3485c80-37b5-11ea-90b5-37fe4a22a963.png)
as reported here:
https://github.com/PrestaShop/PrestaShop/issues/14596
https://github.com/PrestaShop/PrestaShop/issues/9965

Thanks!

[2020-03-10 12:23] jose73wrc commented on #18055
![image](https://user-images.githubusercontent.com/61972321/76311955-55c74b80-62d2-11ea-8baa-0561d4b6d432.png)

[2020-03-10 12:25] jose73wrc commented on #18055
it is this?

[2020-03-10 12:45] Majusek commented on #18074
@khouloudbelguith those issues are still open.

Maybe have You got more advise how to resolve the problem?

[2020-03-10 13:01] khouloudbelguith commented on #18074
@Majusek, you need to check your module as commented [here](https://github.com/PrestaShop/PrestaShop/issues/16346#issuecomment-552403707) but manually.

Thanks!

[2020-03-10 13:03] khouloudbelguith commented on #18055
@jose73wrc, no, this the whole database, I need just the structure of your table `PREFIX_reassurance_lang`.

Thanks!

[2020-03-10 13:12] maofree commented on #16132
hi @khouloudbelguith
if I create a lang folder and then added a void file like you said, the error goes away but the translations are not changed. At this moment this system to import the translations from the classic theme to another theme doesn't work

[2020-03-10 13:12] maofree commented on #16132
hi @khouloudbelguith
if I create a lang folder and then added a void file like you said, the error goes away but the translations are not changed. At this moment this system to import the translations from the classic theme to another theme doesn't work

[2020-03-10 13:23] jose73wrc commented on #18055
I don't have that table, another technician told me to remove it to install the module, and that the table would be created when installing the module

[2020-03-10 13:23] LouiseBonnard commented on #17890
Now I close this issue since #18062 handles it. Many thanks!

[2020-03-10 13:23] #17890 closed, assigned to nobody

[2020-03-10 13:25] jose73wrc commented on #18055
He told me this, after removing them:
You don't need to do anything.
"prstshp_reassurance" AND "prstshp_reassurance_lang" are tables of "blockreassurance" module.
They are created when installing "blockreassurance" module.

[2020-03-10 13:25] tdavidsonas88 commented on #14480
@matks these handlers are already covered / merged and can be ticked as having tests (if not, let me know what is missing? ): DuplicateOrderCartHandler, AddOrderFromBackOfficeHandler, DeleteCategoryCoverImageHandler, EditRootCategoryHandler, AddRootCategoryHandler, DeleteCategoryMenuThumbnailImageHandler, SetCategoryIsEnabledHandler, BulkUpdateCategoriesStatusHandler, GetCategoryIsEnabledHandler,

[2020-03-10 13:25] jose73wrc commented on #18055
Do I have to restore the database?

[2020-03-10 13:26] khouloudbelguith commented on #18055
@jose73wrc, did you delete all tables created by the `blockreassurance` module manually?
Before deleting those tables, this issue occurs also?
Thanks!

[2020-03-10 13:31] jose73wrc commented on #18055
Yes, I deleted them manually.
Yes, the problem occurred before eliminating them.
the technician tried in several ways to install the module and could not, he told me to delete the 2 tables before installing the module again but it was impossible.
I asked him if he retrieved the copy of the database and he told me that it was not necessary, that they would be created again when installing the modul

[2020-03-10 13:38] jajarom opened #18078 "There are not enough in stock - after deleted the personalization field"
#### Describe the bug

After i deleted the personalization field, items cannot be added into the cart - There are not enough in stock (virtual product, stock 999 pcs).
If i add again a customization field, it's working.
This happened after i upgraded from 1.7.6.3 to 1.7.6.4

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavi

[2020-03-10 13:45] khouloudbelguith commented on #18055
@jose73wrc,

Follow these steps:

1.  Unzip (decompress) the module archive file
2.  Using your FTP software
3.  Place the folder in your PrestaShop /modules folder
4.  Connect to the BackOffice of your shop
5.  Go to Back Office >> Modules >> Module Catalog page
6.  Locate the new module in the list, scrolling down if necessary.
7. Click Install.

Thanks!

[2020-03-10 13:48] mrAKAR opened #18079 "Add localization pack for Armenia"
#### Describe the solution you'd like

I have added a localization pack for Armenia, please include it in future versions.

#### Additional context

Thank you very much for such hard work :)

[2020-03-10 13:49] Gaja-A commented on #9779
Hi, I too have the same problem with version 1.7.6.0. 1 cent difference in the invoice total.
Does anyone have the solution ?

[2020-03-10 13:50] khouloudbelguith commented on #18079
Ping @LouiseBonnard

[2020-03-10 13:54] masiorama opened #18080 "Upgrading ps_contactinfo to latest 3.2.0 not working"
#### Describe the bug

It seems to successfully upgrade (3.1.0 to 3.2.0) but the module section keeps showing the module is version 3.1.0
The problem is with PS 1.7.6.4 and on both PHP 7.1 and 7.2.
#### Expected behavior

Upgrade ps_contactinfo correctly

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Modules section
2. Select ps_contactinfo module (version 3.1.0)
2. Click on

[2020-03-10 13:57] khouloudbelguith commented on #18080
Hi @masiorama,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16066
So, I close it.
Thanks!

[2020-03-10 13:57] #18080 closed, assigned to nobody

[2020-03-10 13:57] khouloudbelguith commented on #18080
Duplicate of #16066

[2020-03-10 13:57] LouiseBonnard commented on #18079
It's all fine for me, thanks a lot. I add it to PrestaShop 1.7.8!

[2020-03-10 14:01] sharkooon commented on #12689
Can this be reopend?

[2020-03-10 14:02] jose73wrc commented on #18055
it does not work

[2020-03-10 14:03] jose73wrc commented on #18055
It can not be installed

[2020-03-10 14:06] Majusek commented on #18074
@khouloudbelguith I disabled all externall modules and overrides. Nothing change.

[2020-03-10 14:25] zalexki commented on #18003
The token wasn't manually changed, i'm pretty sure the token was unvalidated too quickly on @v4lux dev environment which made pop this issue very frequently.

[2020-03-10 14:31] NeOMakinG commented on #18032
Well I never used that package.json at all and it seems that it's not used anymore, we use package.json inside `/admin-dev/themes/new-theme` and `/admin-dev/themes/default` and they works fine, I think this is what you search :)

[2020-03-10 14:34] masiorama commented on #16066
From what I can tell looking at my sources, it seems that the module scripts are upgraded, hence the problem should be not module-related (in my case it happens on ps_contactinfo and ps_facetedsearch) but prestashop related, correct?
Does it means that I'm using on the FO the last version of the module, despite the BO behavior, right?

[2020-03-10 14:57] ttoine commented on #18026
After investigation, this is caused by some old data from when the shop was hosted on Ready:

![Selection_671](https://user-images.githubusercontent.com/4619685/76324975-10614900-62e7-11ea-888a-e322cbec99c2.png)

Some inputs were not cleaned during the migration to an other hosting server, and were still used When regenerating the .htacces file, during an upgrade, or when changing friendly URLs se

[2020-03-10 14:57] khouloudbelguith commented on #16066
Hi @masiorama,

If you just reload the page after the upgrade has done successfully, you can find that the new version is well displayed.
https://drive.google.com/file/d/1RXFCgkxcOcL30kA1A3FP2N-hxab1Ps-u/view

Thanks!

[2020-03-10 14:59] khouloudbelguith commented on #18026
@ttoine, Great!
I will close the issue.

Thanks!

[2020-03-10 14:59] #18026 closed, assigned to nobody

[2020-03-10 15:17] khouloudbelguith commented on #18078
Hi @jajarom,

1. Your Product is a virtual product?
![image](https://user-images.githubusercontent.com/16067358/76327258-1573c780-62ea-11ea-8421-bdffa715f420.png)
2. Your Customization is required or not?
![image](https://user-images.githubusercontent.com/16067358/76327338-2de3e200-62ea-11ea-9a6a-bce852a71b5d.png)
3. >deleted the personalization field

How did you delete the personalized field?

T

[2020-03-10 15:19] jajarom commented on #18078
1. Yes
2. Yes
3. From back Office

[2020-03-10 15:22] khouloudbelguith commented on #18074
@Majusek, I did not manage to reproduce the issue.
I attached a screen record
https://drive.google.com/file/d/1uC7KWqi1p_UEC0FI0trl2Izo0QlUJpVe/view
The Email address in uppercase? is it similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/13386?

Thanks!

[2020-03-10 15:31] khouloudbelguith commented on #18078
@jajarom, I did not manage to reproduce the issue with PS1.7.6.4 after an upgrade from PS1.7.6.3 using the 1-click upgrade v4.10.1.
I attached a screen record
https://drive.google.com/file/d/1rczSqYNRksg3fm3mI5w6qoiAbWNZMq_c/view
Thanks to check and feedback.

[2020-03-10 15:36] jajarom commented on #18078
Your screen still point on Presta 1.7.6.4

[2020-03-10 15:39] khouloudbelguith commented on #18078
@jajarom, yes, it is a shop 1764 upgrade from PS1763.

Thanks!

[2020-03-10 15:58] jajarom commented on #18078
Yes...

[2020-03-10 16:03] khouloudbelguith commented on #18078
@jajarom,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-03-10 16:08] masiorama commented on #16066
Ok, so the answer is no. I'll wait for the fix. Thanks!

[2020-03-10 16:38] khouloudbelguith commented on #18055
@jose73wrc,
We need to retrieve the PHP error log in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-03-10 16:42] colinegin commented on #18003
What do you think @PrestaShop/prestashop-core-developers ?

[2020-03-10 17:02] didi-2018 commented on #18048
@khouloudbelguith today the same at me. It loads and loads and loads until timeout error 😔. If I try a few times to load then it loads. And I get this message in module:

![image](https://user-images.githubusercontent.com/44971218/76338690-53c4b300-62f9-11ea-963c-a2ef2d177588.png)

maybe that helps?

[2020-03-10 17:44] boubkerbribri commented on #17475
With @atomiix PR, it was fixed in all float inputs => it displayed the same
![image](https://user-images.githubusercontent.com/48441421/76342477-f3d10b00-62fe-11ea-92c0-0deea5583e99.png)
Only quantity inputs accept numbers with ',' but parsing it to an int.

[2020-03-10 17:53] quentin244 opened #18083 "The function array_key_exists() is deprecated on PHP 7.4"
#### Describe the bug
The function array_key_exists() is deprecated on PHP 7.4
Deprecated: array_key_exists(): Using array_key_exists() on objects is deprecated. Use isset() or property_exists() instead in C:\wamp64\www\prestashop_1.7.6.3\src\Adapter\EntityMapper.php on line 99

#### Expected behavior

We migth using another function to verify the array key

#### Steps to Reproduce

Steps to repro

[2020-03-10 19:07] jajarom commented on #18078
If I clone the product I see the customization field from the old product, even if I deleted it before doubling. Where can i fix this? Beacause i have some products...

[2020-03-10 19:33] Progi1984 commented on #17726
Fixed by #17799

[2020-03-10 19:33] #17726 closed, assigned to matthieu-rolland

[2020-03-10 19:45] jolelievre opened #18084 "Last update of order hooks before beta"
#### Is your feature request related to a problem?

We decided to rename/move a few of order view page's hook for more consistency

#### Describe the solution you'd like

See details in the linked PR

https://github.com/PrestaShop/PrestaShop/pull/17734

[2020-03-10 19:47] jolelievre commented on #18084
This issue is tagged as major/must-have because it needs to be validated/merged as a priority

Indeed some doc articles and the example module depend on it, and these articles will soon be used as a support to help module's developer migrate their order related modules

[2020-03-10 21:06] jose73wrc commented on #18055
I've seen it and I'm not sure what I have to do

[2020-03-10 22:02] Gipielle commented on #18083
PS 1.7.6 is not compatible with php 7.4

[2020-03-10 22:28] julio899 commented on #18075
Thanks @khouloudbelguith by tou response,  but in 1.7.6 I can see the same code  facment
![imagen](https://user-images.githubusercontent.com/2575745/76364931-799f8700-62fc-11ea-8de1-251527d4f6ac.png)

[2020-03-11 08:02] khouloudbelguith commented on #18083
Hi @quentin244,

PrestaShop is not compatible with PHP 7.3 & PHP7.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to

[2020-03-11 08:04] khouloudbelguith commented on #17585
Hi @Dupflo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-11 08:04] #17585 closed, assigned to nobody

[2020-03-11 08:11] khouloudbelguith commented on #18075
@julio899, so you are not using the last version of PrestaShop downloaded from [our Official link](https://www.prestashop.com/en/previous-versions)?
You are using PrestaShop cloned from GitHub?
Have you tried to contact the module(payus) author about your issue?

Thanks!

[2020-03-11 08:12] khouloudbelguith commented on #18055
@jose73wrc, thanks to provide me those file logs.

Thanks!

[2020-03-11 08:16] matks commented on #18003
I believe some ps_checkout links were not using the token or using a wrong token. But the how does not really matter I think the issue is that the "warning" page does not handle POST requests correctly.

Possible solutions:
- allow "warning" page to handle POST (and probably DELETE, PUT, PATCH too) requests
- if request is not GET, then dont redirect after the warning page but rather send user bac

[2020-03-11 08:18] khouloudbelguith commented on #18048
@tegeeks, I need to get these informations provided in this [comment](https://github.com/PrestaShop/PrestaShop/issues/18048#issuecomment-596984562).

Thanks!

[2020-03-11 08:24] matks commented on #18044
Yes and no ... 😥because PrestaShop is both a software ready-to-be-used and a development platform used by developers to build something on top of it. We have seen people rework the SQL schema for their specific needs. And if someone wants to modify how PrestaShop behaves, it's his full right as it's an open source software.

The only thing we could do in a reliable way would be to create a tool th

[2020-03-11 08:56] storygram opened #18085 "module, it doesn't work"
I bought a Google Cusomer Reviews Hiddentechies module, it doesn't work, the seller says the problem is from the prestashop, can you help me?
Pretashop 1.7.61

[2020-03-11 09:03] khouloudbelguith commented on #18085
Hi @storygram,

Thanks for your report.
This module is bought from the Addons PrestaShop Marketplace?
What is the exact name of this module?
Thanks to provide me a link to this module?

Thanks!

[2020-03-11 09:06] storygram commented on #18085
https://www.hiddentechies.com/google-customer-reviews-prestashop-module.html

[2020-03-11 09:06] khouloudbelguith opened #18086 "An old deleted customization field is copied after duplicating a product"
#### Describe the bug

After duplicating a product, an old deleted customization field is copied to the new product.

#### Expected behavior

The deleted customization field should not be copied to the new product

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Products
2. Create a new product
3. In the options Tab => add a Customization (all type and could be required o

[2020-03-11 09:07] khouloudbelguith commented on #18078
@jajarom, about your first issue, isn't similar to this: https://github.com/PrestaShop/PrestaShop/issues/16260?

I created an issue about this bug, it added to our bug roadmap.
https://github.com/PrestaShop/PrestaShop/issues/18086
Thanks!

[2020-03-11 09:16] matks commented on #18085
We will need a lot more details, "it does not work" is not accurate enough

[2020-03-11 09:17] nand2 commented on #18072
This pull request does not seem (not tested your patch, assumed) to fix the case where you edit your address in your profile (not in the checkout process).
How to reproduce : Go to your profile, edit an address. Put numbers in the firstname field in order to trigger a validation error. Then remove the number, and save. It will create a duplicate address. Reason: The url for the POST is set to /adr

[2020-03-11 09:24] matks commented on #14480
Thanks, I updated the list !

What do you mean ?

[2020-03-11 09:29] Gipielle commented on #18044
Hello,

I try to explain better: let's admit that I don't use external prestashop modules and I want to know if the prestashop database structure is correct, a tool that does the checking would be useful.

If then I installed an external module and possibly the tool checks me and sees the modified tables I can go to see if they are related to that module.

But at least if I have not applied change

[2020-03-11 09:29] storygram commented on #18085
This is not displayed on the page, I made all the settings and nothing
![Untitled](https://user-images.githubusercontent.com/58422218/76402088-8f0fc200-638b-11ea-826b-cf5ecf1b54aa.jpg)

[2020-03-11 09:37] #17868 closed, assigned to matthieu-rolland

[2020-03-11 09:38] PlacerAbsoluto opened #18087 "Error al respaldar BD"
Alguien sabe como solucionar este error al respaldar copia de seguridad?
Tengo miedo de perder todo y no puedo hacer copia

OutOfMemoryExceptionError: tamaño de memoria permitido de 134217728 bytes agotados (intentó asignar 111268896 bytes)
--
en DbPDO.php línea 156

[2020-03-11 09:40] khouloudbelguith commented on #18085
@storygram,

As it's not a module provided by Prestashop, we can't do anything with this.
@matks said, "The module developer can open a GitHub issue, like you did, with details and if indeed the issue comes from PrestaShop we might fix it."

Thanks for understanding!

[2020-03-11 09:41] storygram commented on #18085
ok,tnks

[2020-03-11 09:41] khouloudbelguith commented on #18087
Hi @PlacerAbsoluto,

Please, send your request in English.
English is the norm on the GitHub
Thank you!

[2020-03-11 09:42] khouloudbelguith commented on #18085
@storygram, I close the issue, feel free to open a new one when needed.

Thanks!

[2020-03-11 09:42] #18085 closed, assigned to nobody

[2020-03-11 09:47] jajarom commented on #18078
The problem is at Prestashop.
There is a quick fix if you have an editing module installed, here will appear the fields that Prestashop has not deleted. After deletion, everything is ok

[2020-03-11 09:48] PlacerAbsoluto commented on #18087
Anyone know how to fix this error when backing up backup?
I'm afraid of losing everything and I can't make a copy:

OutOfMemoryExceptionError: tamaño de memoria permitido de 134217728 bytes agotados (asignado 111268896 bytes)
en DbPDO.php línea 156

[2020-03-11 09:55] DelecroixQuentin commented on #18072
Nice catch !
A possible fix (tested only for this case), in classes/form/CustomerAddressForm class, function getTemplateVariables(), change this
[code]
to this
[code]

[2020-03-11 10:00] nand2 commented on #18072
Thanks, I confirm this fix the bug I described.

[2020-03-11 10:12] khouloudbelguith commented on #18078
The first issue: "There are not enough in stock - after deleted the personalization field"
or this issue: https://github.com/PrestaShop/PrestaShop/issues/18086?

Thanks!

[2020-03-11 10:12] Progi1984 commented on #16932
Fixed by #17438

[2020-03-11 10:12] #16932 closed, assigned to NeOMakinG

[2020-03-11 10:13] Progi1984 commented on #13809
Fixed by #17877

[2020-03-11 10:13] #13809 closed, assigned to matthieu-rolland, SD1982

[2020-03-11 10:14] khouloudbelguith commented on #18087
@PlacerAbsoluto,

It is a size problem.
Thanks to check your configuration in the `php.ini` file & try to increase them

[code]
And enable `set_time_limit`

Thanks!

[2020-03-11 10:17] NeOMakinG commented on #17912
As I seen while working on this, it looks like it's unfixable without a big refacto on responsive if we want the scroll bar as the scrollbar require an overflow and so submenus should be outside the wrapper that needs the scroll bar... that's pretty hard

[2020-03-11 10:23] colinegin commented on #18003
Investigation needs to be done on the incorrect reason token. @matks

[2020-03-11 10:32] jajarom commented on #18078
First issue

[2020-03-11 10:45] PlacerAbsoluto commented on #18087
Thank you for your reply.
I have PHP 7.3.9 an FPM
I have increased the parameters and now I have the following values:

upload_max_filesize  120M

post_max_size   120M

max_file_uploads   (no have)

memory_limit   512M

max_input_vars  (no have)

max_input_time  300

max_execution_time   300
set_time_limit  ON

I have tried again and the error message is now:

 OutOfMemoryException
Error: tamaño d

[2020-03-11 10:46] colinegin commented on #17912
Related to this fix : Fix BO menu scrollbar size on small screens #14689

[2020-03-11 10:49] khouloudbelguith commented on #18087
@PlacerAbsoluto,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrad

[2020-03-11 11:10] khouloudbelguith commented on #18078
@jajarom,

Which exact module?
Following the same steps, I did not manage to reproduce the issue as recorded previously.

Thanks!

[2020-03-11 11:13] yannicka opened #18088 "Add a quoting system"
#### Is your feature request related to a problem?

Yes. As a web developer in an agency, I've a lot of customers (B2B) who ask to have a quoting system.

#### Describe the solution you'd like

PrestaShop currently allows the creation of a shopping cart that can be transformed into an order.

Would it be possible to add a second system that allows you to transform a cart into a quote?

The feature

[2020-03-11 11:15] vincenttouzet opened #18089 "Error during database upgrade with decimal columns"
#### Describe the bug

An error occured during database upgrade from Prestashop 1.7.6.2 to 1.7.6.4. The error is located in `src/PrestaShopBundle/Command/UpdateSchemaCommand.php`.

The command retrieve the SQL queries to execute and put back the default fields (https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Command/UpdateSchemaCommand.php#L151)

In our case the sql gene

[2020-03-11 11:15] Gipielle commented on #18088
Great idea ! I have had this idea for years

[2020-03-11 11:18] PlacerAbsoluto commented on #18087
My version is 1.7.6.3 and I have changed the version to 7.2.2 and downloaded and executed the phppsinfo.php tool and all the values ​​are correct over the recommended ones.

# | Required | Recommended | Current
-- | -- | -- | --
allow_url_fopen | Yes | Yes | Yes
expose_php | No | No | Yes
file_uploads | Yes | Yes | Yes
register_argc_argv | No | No | No
short_open_tag | No | No | No
max_input_vars

[2020-03-11 11:20] khouloudbelguith commented on #18088
Hi @yannicka,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-03-11 11:25] khouloudbelguith commented on #18087
@PlacerAbsoluto, in your BO => Advanced Parameters => Information page.
Thanks to provide me a screenshot
![image](https://user-images.githubusercontent.com/16067358/76412148-67245c80-6393-11ea-86a8-1222a38def34.png)

Thanks!

[2020-03-11 11:27] khouloudbelguith commented on #18089
Hi @vincenttouzet,

Thanks for your report.
What is the exact version of the 1-click upgrade module did you use?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2020-03-11 11:32] Gipielle commented on #17880
Look here, there is another problem
https://www.prestashop.com/forums/topic/1003257-undefined-variable-previewurl-when-trying-to-add-html-code-to-cms-page/?tab=comments#comment-3206945

[2020-03-11 12:50] Digital5253 opened #18090 "Zoho Mail Undelivered Mail Returned to Sender"
#### Describe the bug

I am using prestashop ecommerce and it is giving me below error when getting notifications from the system.

#### Expected behavior

============ Forwarded Message ============
From : MAILER-DAEMON@mailchannels.net
To : info@appcity.co.tz
Date : Tue, 10 Mar 2020 22:29:50 +0300
Subject : Undelivered Mail Returned to Sender
============ Forwarded Message ============
This is t

[2020-03-11 13:07] matks commented on #18058
See https://github.com/PrestaShop/PrestaShop/pull/18091

[2020-03-11 13:13] khouloudbelguith commented on #18090
Hi @Digital5253,

Spams on 1.6 are caused by the sendtofriends module. (1.6 versions have token protection, more informations: http://build.prestashop.com/news/fighting-against-spamming/)

Spams on 1.7 are caused by the contactform, here are the PRs resolving this issue:

contactform module:
https://github.com/PrestaShop/contactform/pull/19 => fixed in the `contactform` module v4.0.0.

ps_emailgen

[2020-03-11 13:16] PlacerAbsoluto commented on #18087
![Captura](https://user-images.githubusercontent.com/62055370/76420745-e40b0280-63a2-11ea-9f6c-a564540312e7.PNG)

[2020-03-11 13:20] matks commented on #18003
@Quetzacoalt91 @v4lux I might need your help to reproduce this bug. Actually we are not interested into this bug but rather the root cause: why you got an invalid token ?

[2020-03-11 13:27] khouloudbelguith commented on #18087
@PlacerAbsoluto, on which page this error `OutOfMemoryExceptionError` is displayed?

Thanks!

[2020-03-11 13:28] vincenttouzet commented on #18089
Hi @khouloudbelguith ,

We're using the version 4.10.1 of the autoupgrade module and launch the migration with :
[code]
and the log file is not created.

We launched the migration from the module page on Admin but the error is triggered on our review environment.

[2020-03-11 13:32] colinegin commented on #11492
ping @MatShir is this issue still in new order page in 177 ?

[2020-03-11 13:50] PlacerAbsoluto commented on #18087
I go to BO => Advanced Parameters =>Database.
On the second tab backup db,
Click on "I have read the legal notice on ... Please create a new backup"
Start to make it and soon that message comes out

[2020-03-11 13:51] matks commented on #17848
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17901

[2020-03-11 13:51] #17848 closed, assigned to SD1982

[2020-03-11 13:53] matks commented on #17563
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17650

[2020-03-11 13:54] matks commented on #15649
Fixed by https://github.com/PrestaShop/PrestaShop/pull/17742

[2020-03-11 13:54] #15649 closed, assigned to nobody

[2020-03-11 13:55] matks commented on #17918
Fixed by https://github.com/PrestaShop/PrestaShop/pull/18045

[2020-03-11 13:55] #17918 closed, assigned to nobody

[2020-03-11 13:56] Progi1984 commented on #17934
Fixed by #17985

[2020-03-11 13:56] #17934 closed, assigned to matthieu-rolland, Robin-Fischer-PS

[2020-03-11 14:14] khouloudbelguith commented on #18089
@vincenttouzet, When I tried with this command line

`modules/autoupgrade/cli-upgrade.php --dir=admin-dev --action upgradeDb --channel=minor`
I have this error
[code]

there is a log file after launching the migration from the configuration page?

Thanks!

[2020-03-11 14:17] matthieu-rolland commented on #17990
Fixed in this PR:  https://github.com/PrestaShop/ps_emailsubscription/pull/51

(the bug comes from the module)

[2020-03-11 14:18] khouloudbelguith commented on #18087
@PlacerAbsoluto, I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/1uUwKjJZtNO-ISJnIGFLnZHYWtODkVHei/view
Could you please check with your host and feedback.

Thanks!

[2020-03-11 14:34] jose73wrc commented on #18055
Could you find out something?

[2020-03-11 14:37] khouloudbelguith commented on #18055
@jose73wrc, I need to retrieve the log file to understand what's wrong.
You need to attach here, the log file.

Thanks!

[2020-03-11 14:42] jose73wrc commented on #18055
how can i see those logs?

[2020-03-11 14:45] yimilan opened #18094 "Prestashop Technical Error: Details: Error Thrown: [Object Object] Text Status: Parsererror"
This is the bug, to save carrier data:

Prestashop Technical Error: Details: Error Thrown: [Object Object] Text Status: Parsererror

When saving or attempting to save carriers, the system is bugged and the error mentioned above appears, although SSL is already active throughout the site and does not allow enabling SSL, this happens on one of the servers that was tested, on the other simply was for

[2020-03-11 14:46] khouloudbelguith commented on #18055
@jose73wrc, Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2020-03-11 14:49] khouloudbelguith commented on #18094
Hi @yimilan,

Please, send your request in English.
English is the norm on the GitHub
Thank you!

[2020-03-11 14:55] yimilan commented on #18094
very well, it's edited

[2020-03-11 15:07] Progi1984 commented on #17727
Fixed by #17767 17767

[2020-03-11 15:07] #17727 closed, assigned to matthieu-rolland, SD1982

[2020-03-11 15:08] Progi1984 commented on #16323
Fixed by #17914

[2020-03-11 15:08] #16323 closed, assigned to jolelievre

[2020-03-11 15:09] marionf opened #18096 "New invoice is not displayed in Documents tab if you don't refresh the page"
#### Describe the bug

New invoice is not displayed in Documents tab if you not refresh the page

#### Expected behavior

Display new invoice in Documents tab without having to refresh the page, as in legacy

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to orders > orders
2. Click on View for an order in "payment accepted" status
3. Add a product to the order and select "Create

[2020-03-11 15:09] Progi1984 commented on #17924
Fixed by #18054

[2020-03-11 15:09] #17924 closed, assigned to tdavidsonas88

[2020-03-11 15:11] Progi1984 commented on #12442
Fixed by #17804

[2020-03-11 15:11] #12442 closed, assigned to matthieu-rolland, Robin-Fischer-PS

[2020-03-11 15:11] marionf commented on #17918
Seems not completely fixed: https://github.com/PrestaShop/PrestaShop/issues/18096

[2020-03-11 15:21] Progi1984 commented on #18084
Fixed by #17734

[2020-03-11 15:21] #18084 closed, assigned to matks

[2020-03-11 15:23] Progi1984 commented on #17188
Fixed by #17482

[2020-03-11 15:23] #17188 closed, assigned to PierreRambaud

[2020-03-11 15:24] khouloudbelguith commented on #18096
It is duplicate of https://github.com/PrestaShop/PrestaShop/issues/17977

[2020-03-11 15:24] Progi1984 commented on #18072
Fixed by #18073

[2020-03-11 15:40] marionf commented on #18096
Yes

[2020-03-11 15:40] #18096 closed, assigned to nobody

[2020-03-11 15:46] Progi1984 commented on #17732
Fixed by #17839

[2020-03-11 15:46] #17732 closed, assigned to matthieu-rolland

[2020-03-11 15:52] Progi1984 commented on #12590
Fixed by #17986

[2020-03-11 15:52] #12590 closed, assigned to eternoendless

[2020-03-11 15:53] Progi1984 commented on #17794
Fixed by #17843

[2020-03-11 15:53] #17794 closed, assigned to NeOMakinG

[2020-03-11 15:59] crash1920 commented on #15499
![cap](https://user-images.githubusercontent.com/44005621/76437285-a2398680-63b9-11ea-8797-a41b6b96d847.PNG)
same isssue here

[2020-03-11 16:00] DelecroixQuentin commented on #18072
Hey @Progi1984,
Did you notice this [comment](https://github.com/PrestaShop/PrestaShop/issues/18072#issuecomment-597524637) ?
There are another duplication address issue but this one is on customer address page.
Should we create another issue for this bug?

Thanks !

[2020-03-11 16:00] khouloudbelguith commented on #18094
@yimilan,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/12946 to fix the issue.
It is fixed in the PS1.7.6.0.
Your ticket is a duplicate of #12577
So, I close it.
Thanks!

[2020-03-11 16:00] #18094 closed, assigned to nobody

[2020-03-11 16:00] khouloudbelguith commented on #18094
Duplicate of #12577

[2020-03-11 16:06] sharkooon opened #18099 "Enable SSL on All Pages does not work on backend admin"
**Describe the bug**
When you set CONFIGURE > SHOP PARAMETER > GENERAL > ENABLE SSL ON ALL PAGES = YES it only works on Frontend pages but no on Backend Admin pages. There is no option to force this on backend.

**To Reproduce**
Steps to reproduce the behavior:

1. Set CONFIGURE > SHOP PARAMETER > GENERAL > ENABLE SSL ON ALL PAGES = YES
2. Go to Frontend page using non-ssl HTTP and it will automat

[2020-03-11 16:21] khouloudbelguith opened #18100 "Duplicate address after editing an address"
#### Describe the bug

Following this [comment](https://github.com/PrestaShop/PrestaShop/issues/18072#issuecomment-597524637)
Go to your profile, edit an address. Put numbers in the first name field in order to trigger a validation error. Then remove the number, and save. It will create a duplicate address.

#### Expected behavior

Edit the address instead of creating a new one when the customer w

[2020-03-11 16:23] khouloudbelguith commented on #18072
Hi @DelecroixQuentin, @nand2,

Issue created here: https://github.com/PrestaShop/PrestaShop/issues/18100

Thanks!

[2020-03-11 16:52] yimilan commented on #18094
@khouloudbelguith  I aplicated this change https://github.com/PrestaShop/PrestaShop/pull/12946/files/6d1877ba5edae40afbecfe069886ef7c8f7e9bda
But  i no solucionate the problem.
The problem persists on servers with multiple SSL redirects

[2020-03-11 16:52] khouloudbelguith commented on #18099
Hi @sharkooon,

I tried with PS1.7.6.4.
In the FO and the BO => I have the same behavior.
I attached a screen record
https://drive.google.com/file/d/1yOoyLVbtISHLwmRQK8sKQLHYt0A89ZZo/view

Thanks to check and feedback.

[2020-03-11 17:18] colinegin opened #18104 "[Order page] The stock location column shouldn't be displayed if no location has been indicated"
Currently on the new order page for 1.7.7, the stock location column is displayed even though no stock location has been indicated for the product. This occurs in :
- the order preview from the order listing
- the cancel product block
- the standard refund block
- the partial refund block
- the return product block

It should not be displayed when the field is empty. The column should be displayed

[2020-03-11 17:25] colinegin opened #18105 "[Order page] All links in order page should open a new tab"
Currently when clicking on a link, the new page replaces the old one. This should not be the behaviour, the new page should be opened in a new tab, to allow the user to see both pages.

All following links should follow this rule :
- customer in the order listing
- view full details in the customer block
- configure predefined messages in the message block
- the product page in the product block

[2020-03-11 17:25] Gipielle commented on #18099
I agree sharkooon,
there has always been this problem. I didn't even notice it anymore.

Better get it fixed.

[2020-03-11 17:29] colinegin opened #18106 "[Order page] Improve error message in partial refund"
Currently in the partial refund block, if the user does not fill the quantity field but only the price field, he gets the following error message : "Please enter a positive quantity." This leads to misunderstanding. We should modify this error to tell the user to add a quantity in the quantity field.

What do you think @LouiseBonnard ?

[2020-03-11 18:43] Robin-Fischer-PS commented on #10250
Problem is fixed on 1.7.7x branch !

[2020-03-11 19:04] Robin-Fischer-PS commented on #14431
Hi there !

On branch 1.7.7.x, this bug is now fixed :
![polish display OK](https://user-images.githubusercontent.com/55688534/76453628-7cb97680-63d3-11ea-9833-1576c15fb2eb.png)

[2020-03-11 19:12] Robin-Fischer-PS commented on #15734
I re-open this PR since this behavioiur appears again on 1.7.7.x branch (see example in Russian and Arabic) :
![profile too large arabic](https://user-images.githubusercontent.com/55688534/76454231-927b6b80-63d4-11ea-9486-bd7fe9c661f7.png)
![profile too large russian](https://user-images.githubusercontent.com/55688534/76454233-93ac9880-63d4-11ea-872b-5aa343f220a8.png)

[2020-03-11 19:18] Robin-Fischer-PS commented on #17085
FYI @matks , we also need https://github.com/PrestaShop/PrestaShop/pull/17179 to finish this issue :)

[2020-03-11 19:25] sam-pires commented on #10250
[yes](https://media2.giphy.com/media/ei4y3i1imwhTjq43V0/giphy.gif?cid=19f5b51adf097b0ceb118e2c99d09e49a6f331275348896d&rid=giphy.gif)

[2020-03-11 19:26] sam-pires commented on #10250
![image](https://user-images.githubusercontent.com/25405887/76455876-7ed10480-63d6-11ea-8acf-5770e3ee64c9.jpg)

Yeeeesss!!!

[2020-03-11 19:42] glafarge opened #18107 "[Template inheritance] Prices-drop and best-sales"
I noticed, some problems in template inheritance : some typos and missing params, that causes template inheritance not working as it should be.

The core checks locations in order, for specific entities :
https://github.com/PrestaShop/PrestaShop/blob/7633be8294d90148d2bdfe3fd1c2d403e72ec91b/classes/Smarty/TemplateFinder.php#L37-L41

Unfortunately there is some typos here :

[code]

And as the para

[2020-03-11 21:13] Arman-Hosseini commented on #18086
Assign this to me.

[2020-03-12 00:15] Gipielle opened #18108 "Order confirmation slow"
Order confirmation is slow

the solution is this from prestashop forum:

SOLVED :

The shop has no stock management, and it was desactivated in the back office.

 I tested multiple files with var-dump and found that in file:

./classes/order/OrderDetail.php

commenting this line

//$this->checkProductStock($product, $id_order_state);

solved my problem and order confirmation are 'fast'

I used thi

[2020-03-12 01:29] Veeckymalt opened #18109 "Smarty objects not updated with pagination"
Hello everyone :)
#### Describe the bug

In the `head` section, canonical link doesn't update when you click on a pagination link (bottom of a category).

#### Expected behavior

Get the real canoncical URL after a user clicks on a pagination link at the bottom of a category.

#### Steps to Reproduce

Steps to reproduce the behavior:

=> Prestashop 1.7.6.3 (fresh installation) with default templat

[2020-03-12 07:42] tdavidsonas88 commented on #14480
It means, I have only checked these one until I bumped into the one that needs to be done. I think there's/was more done, just they are not marked as done here.

[2020-03-12 07:55] khouloudbelguith commented on #17595
Hi @johanmeer,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-12 07:55] #17595 closed, assigned to nobody

[2020-03-12 07:56] khouloudbelguith commented on #17599
Hi @Webgaict,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-12 07:56] #17599 closed, assigned to nobody

[2020-03-12 07:57] khouloudbelguith commented on #17601
Hi @Oanaalexandramihai,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-12 07:57] #17601 closed, assigned to nobody

[2020-03-12 08:02] khouloudbelguith commented on #18109
Hi @Veeckymalt,

Is it the same issue with this issue: https://github.com/PrestaShop/PrestaShop/issues/13737?

Thanks!

[2020-03-12 08:13] khouloudbelguith commented on #18108
Hi @Gipielle,

I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/1_1ObfDXPPmetY7bx5KOgmJ_vV_XSoNVQ/view

Thanks to check and feedback.

[2020-03-12 08:22] #10250 closed, assigned to eternoendless

[2020-03-12 08:25] michaelKaefer opened #18110 "Security vulnerability - Possible information steal"
You tell us about the security vulnerability and possible information steal here: https://build.prestashop.com/news/prestashop-1-7-6-4-maintenance-release/?utm_source=emailing&utm_medium=email&utm_campaign=B2BEN&utm_content=Launch1764&spMailingID=17046613&spUserID=NTE4NDg0Mjk2MTc5S0&spJobID=1840311223&spReportId=MTg0MDMxMTIyMwS2 and https://github.com/PrestaShop/PrestaShop/security/advisories/GHSA

[2020-03-12 08:27] Leo-pold-02 commented on #17083
Dear @fyndpriser , thanks for the input. Could you advise me where and how i can do these commands. Im very new to this whole database stuff so i am afraid to destroy things. Would be so nice if you or someone could help me here with a more detailes step by step guide. Thanks!

[2020-03-12 08:44] colinegin commented on #14431
Great ! I close this issue then ;)

[2020-03-12 08:44] #14431 closed, assigned to NeOMakinG

[2020-03-12 08:53] khouloudbelguith commented on #18110
Hi @michaelKaefer,

You can follow this [commit](https://github.com/PrestaShop/PrestaShop/commit/a4a609b5064661f0b47ab5bc538e1a9cd3dd1069)
Find below detailed information about the security fix provided in this version:

CVE reference: [CVE-2020-5250](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-5250)
GitHub Security Advisory: [GHSA-mhfc-6rhg-fxp3](https://github.com/PrestaShop/PrestaSh

[2020-03-12 08:53] #18110 closed, assigned to nobody

[2020-03-12 08:57] PululuK commented on #18110
Hi @khouloudbelguith

Maybe add this: https://github.com/PrestaShop/PrestaShop/pull/18073
Because this Security PR introduces other minor bugs. See  https://github.com/PrestaShop/PrestaShop/issues/18072

[2020-03-12 09:03] ioweb-gr opened #18111 "image file gets deleted when updating custom objects"
#### Describe the bug

Try to add an image field to a custom object and create a new instance of the object from the admin panel by uploading an image file to the file input field. The image gets uploaded correctly.

Afterwards try to update the object without reuploading the image and the image is lost

Updating by reupoading the image works.

The AdminController is stripping the file during `cop

[2020-03-12 09:38] michaelKaefer commented on #18110
@eternoendless As far as I can see Line 89 in classes/form/CustomerForm.php of your commit fixes it? Do we absolutely need the rest to fix this security vulnerability?

$customer = new Customer($this->context->customer->id);

Can you approve this? Thank you.

[2020-03-12 09:54] PierreRambaud commented on #18110
@michaelKaefer Yes you need others things to make it work. It's mandatory.

[2020-03-12 10:06] Veeckymalt commented on #18109
Hi @khouloudbelguith ,
Thanks for answering.
I've checked this issue before posting this one, unfortunately it looks like, but it's not.
Clik on page 2 in the pagination area (bottom of category) : the URL in the browser is OK, then in Smarty Debug Console the $listing & $page don't receive updated informations :
![2-page-click](https://user-images.githubusercontent.com/62082260/76509979-2559eb80-

[2020-03-12 10:11] jf-viguier opened #18113 "Extra columns of attribute_lang table deleted on ps upgrade"
#### Describe the bug

A clear and concise description of what went wrong.

Extra columns of attribute_lang table have been deleted on a patch prestashop upgrade.
Others extra columns in other tables are not impacted by upgrade.

#### Steps to Reproduce
1. Add a column named description to ps_attribute_lang
2. It's not mandatory, but you can add this column to the Attribute object model with an ov

[2020-03-12 10:16] Progi1984 commented on #17971
Fixed by #18061

[2020-03-12 10:16] #17971 closed, assigned to matthieu-rolland, SD1982

[2020-03-12 10:18] michaelKaefer commented on #18110
Ok

[2020-03-12 10:41] Dric78 opened #18114 "Prestashop 1.7.6.4 does not report modified or missing files"
After upgrading to prestashop 1.7.6.4, the list of modified or missing files in "Admin>Configure>Advanced>System information" is no more working. Files modified or deleted are no more reported.

After investiguation, the problem is not located in this version code but on prestashop's api : the list of md5 for this version in not avaiable at http://api.prestashop.com/xml/md5-17/1.7.6.4.xml

Could y

[2020-03-12 10:52] khouloudbelguith commented on #18114
Hi @Dric78,

Thanks for your report.
This link: http://api.prestashop.com/xml/md5-17/1.7.6.4.xml is not found
But http://api.prestashop.com/xml/md5-17/1.7.6.3.xml => OK
Ping @PrestaShop/prestashop-core-developers

Thanks!

[2020-03-12 10:59] eternoendless commented on #18114
Ooops! I'll fix that right away

[2020-03-12 11:00] matks opened #18115 ""Modify module positions" BO page fails if an image from Addons is too long to load"
#### Describe the bug

I was working on "Modify module positions" BO page and my page crashed because a module image failed to load fast enough: see screenshot

URL http://localhost/admin-dev/index.php?controller=AdminModulesPositions&addToHook=&show_modules=69&token=XXXX

#### Expected behavior

A BO page should never crash because of a slow image load 😅

**Screenshots**

<img width="1091" alt="C

[2020-03-12 11:04] jolelievre commented on #13448
In some cases it is justified by the presence of two grids in the same page I believe

[2020-03-12 11:04] LouiseBonnard commented on #18106
Hi @colinegin, what about _Please add a product quantity._?

[2020-03-12 11:05] eternoendless commented on #18114
It should be fixed now. Thanks for the report!

[2020-03-12 11:05] #18114 closed, assigned to eternoendless

[2020-03-12 11:11] Dric78 commented on #18114
Now working as expected. Perfect.

Thanks for the quick fix :-)

[2020-03-12 11:35] khouloudbelguith commented on #18113
Hi @jf-viguier,

Thanks for your report.
I manage to reproduce the issue with 1.7.6.4 after an upgrade from PS1.7.6.2 using the 1-click upgrade v4.10.1.
https://drive.google.com/file/d/14n6uQ_jHsdxgzWqHBNQ0h7qPlxrRCiem/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-03-12 11:46] Gipielle commented on #18108
Hello,
try to add 20-30 different products with different quantity

[2020-03-12 11:56] khouloudbelguith commented on #18111
Hi @ioweb-gr,

Could you please provide me a demo module to test it.
I tried with this script
[code]
To update the Gender object, but it is OK
![image](https://user-images.githubusercontent.com/16067358/76519235-e764c380-6460-11ea-9055-28b70168e151.png)

Thanks!

[2020-03-12 11:56] alvijo opened #18117 "PHP Fatal error. 1.7.6.3 + PHP 7.1.30. Random blank page"
#### Describe the bug

Randomly on BO and FO I get blank page (no error 500).

On log  PHP Fatal error:  Class AppKernel contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (Serializable::unserialize) in ***/app/AppKernel.php on line 32

Clear cacha solve problem... but I can't be continously cleaning the cache

#### Additional information

* Prest

[2020-03-12 11:57] khouloudbelguith commented on #18111
Maybe related to this: https://github.com/PrestaShop/PrestaShop/issues/17449

[2020-03-12 11:58] khouloudbelguith commented on #18117
Hi @alvijo,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/mi

[2020-03-12 12:01] khouloudbelguith commented on #18107
HI @glafarge,

Thanks for your report.
Could you please add steps to reproduce the issue in a new comment.
Maybe a reference: https://devdocs.prestashop.com/1.7/themes/reference/template-inheritance/

Thanks!

[2020-03-12 12:07] glafarge commented on #18107
Hi.

Steps :

1. Create a file `catalog/listing/prices-drop.tpl`
2. Go to prices-drop page on your shop : displays the template correctly.
3. Delete the file `catalog/listing/prices-drop.tpl`
4. You will see that the fallback `catalog/listing/product-list.tpl` is not loaded as expected in template inheritance (an error is triggered).

See the causes on my first comment.

[2020-03-12 12:48] jf-viguier commented on #18113
Thanks khouloudbelguith. We had this bug in other upgrades too.
@matks is this bug can be related to doctrine stuff ? https://devdocs.prestashop.com/1.7/modules/concepts/overrides/

[2020-03-12 12:55] Hlavtox commented on #18117
@alvijo Restart the server and see if it happens again.

Do you have cache enabled in the bottom of BO > Performance?

[2020-03-12 13:02] didi-2018 commented on #18099
@khouloudbelguith I can not agree. Everything works fine with php 7.2.1 and nginx/1.14.0.
Have you tried on nginx?

[2020-03-12 13:05] ramwebkul opened #18118 "File uploads on each page refresh, also Error on refresh page after deleting the customization on Product in fron office."
**Describe the bug:**
After the customization value is deleted in product page, following issues occur:
- Error on refreshing product page after deleting the customization value.

**Expected Behaviour:**
- Should not show error on refresh the page.

**Steps to reproduce:**
- Go to BO => Products
- Create a new product
- In the options Tab => add a Customization (all type and could be required or n

[2020-03-12 13:09] krasnycz commented on #17320
Unfortunately 1.7.6.4 again got issue even after the fix. When try access langauges or currencies on production with debug mode OFF I got error

[2020-03-12 14:06:04] request.CRITICAL: Uncaught PHP Exception Doctrine\ORM\ORMException: "Unrecognized field: filterId" at /home/ABC.ABC.com/ABC/public_html/vendor/doctrine/orm/lib/Doctrine/ORM/ORMException.php line 101 {"exception":"[object] (Doctrine\\

[2020-03-12 13:14] Progi1984 commented on #17475
Fixed by #17476

[2020-03-12 13:14] #17475 closed, assigned to atomiix

[2020-03-12 13:15] Robin-GH commented on #16770
Hi guys!
Any news on this issue yet?

Thanks!

[2020-03-12 13:16] khouloudbelguith commented on #18107
@glafarge, thanks for your feedback.

This file exists by default
https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/catalog/listing/prices-drop.tpl

Now, I have this exception
![image](https://user-images.githubusercontent.com/16067358/76525356-fef57980-646b-11ea-92be-74da188ff491.png)

Thanks to check & feedback.

[2020-03-12 13:37] matks commented on #18113
I dont see how 🤔 do you have an idea in mind ?

SQL auto-upgrade step for 1.7.6.2 => 1.7.6.3 is https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/install-dev/upgrade/sql/1.7.6.3.sql
No SQL auto-upgrade step for 1.7.6.3 => 1.7.6.4

[2020-03-12 13:39] khouloudbelguith commented on #18118
Hi @ramwebkul,

Thanks for your report.
I have the same issue with PS1.7.5.2 and PS1.7.6.4.
But it is fixed in the next release PS1.7.7.0.
I attached a screen record
https://drive.google.com/file/d/1BjwjodjT7TGK3GUNZbvguHzBrjOtD-yx/view
Those [issues](https://github.com/PrestaShop/PrestaShop/issues?q=label%3ACustomized+label%3AFO+label%3AFixed+is%3Aclosed) are fixed in the PS1.7.7.0 related to the

[2020-03-12 13:39] #18118 closed, assigned to nobody

[2020-03-12 13:51] ioweb-gr commented on #18111
I will try to pack the module and upload it somewhere without the sensitive data in it, sure. I'll also remove the patch to retain the image so you can see the whole process.

[2020-03-12 13:54] khouloudbelguith commented on #18111
@ioweb-gr, thanks!
Waiting for your feedback.

[2020-03-12 14:05] khouloudbelguith commented on #18108
@Gipielle, I attached a screen record
https://drive.google.com/file/d/1n4If81rPVpQOdPh8UWAv5-736sAEiL3S/view
Thanks to check & feedback.

[2020-03-12 14:11] khouloudbelguith commented on #18099
Hi @didi-2018,

I tried with Nginx server=> same behavior
I attached a screen record
https://drive.google.com/file/d/1HtWMLhkTzUC6kfXEMUEk8-A8c1oao1HN/view

Thanks!

[2020-03-12 14:23] khouloudbelguith commented on #18109
@Veeckymalt, Have you check those issues?
https://github.com/PrestaShop/PrestaShop/issues/17122
https://github.com/PrestaShop/PrestaShop/issues/17516

Thanks!

[2020-03-12 14:23] colinegin commented on #18088
As you just said, there are a lot of existing modules which provide a quoting system, so I don't think this is critical to add one natively. We try to offer native features which will be useful for most of our users and a quoting feature seems quite specific in my opinion (although I know in B2B this is a very important feature).

But maybe we could add features / options in the code and back-offi

[2020-03-12 14:28] didi-2018 commented on #18099
@khouloudbelguith   okay, too bad. For me it is working. BO and FO all pages with SSL. No problems at my 1.7.6.4 installation 👍

[2020-03-12 14:31] Veeckymalt commented on #18109
@khouloudbelguith Yes I just did.
It is not the same issue, BUT related to the same problem => as soon as you click on a pagination link, Smarty objects are not updated.

[2020-03-12 14:32] jf-viguier commented on #18113
@matks Maybe doctrine delete/create tables ?
cf : https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/install-dev/upgrade/php/ps_1763_update_tabs.php
I've checked sql script : nothing here, the bug is somewhere else. Do you have an idea ?

[2020-03-12 14:36] matks commented on #18088
Why a native module would be better ? Or a native feature 😊?
Would it be that PrestaShop module would be better quality than existing modules ?
Or is it the price (native module = free) 😄?

Modules allow
- people who want them to install them
- people who dont want them to uninstall them (else they have a useless part - for them - in their shop)

[2020-03-12 14:36] khouloudbelguith commented on #18099
@sharkooon, any news?

Thanks!

[2020-03-12 14:53] #17384 closed, assigned to nobody

[2020-03-12 14:54] Progi1984 commented on #18072
Sorry ! Not seen the comment. Thanks @khouloudbelguith

[2020-03-12 14:59] khouloudbelguith commented on #18109
@Veeckymalt, thanks for your feedback.
I followed this step:

But I have an exception in the FO
![image](https://user-images.githubusercontent.com/16067358/76534886-5dc1ef80-647a-11ea-9287-893f8412f59f.png)

Thanks to check and feedback.

[2020-03-12 15:04] Veeckymalt commented on #18109
@khouloudbelguith
In config/defines.inc.php you may have `define('_PS_MODE_DEV_', true);` set it to `false` then clear cache and empty var/cache/prod & dev if needed ;)

[2020-03-12 15:16] #13513 closed, assigned to nobody

[2020-03-12 15:21] MatShir opened #18119 "[CREATE ORDER] Issues on vouchers adding gift products to the manually created cart"
**ISSUE UPDATED**

Several issues related to vouchers with gift products added to the manually created order have appeared. To make it clear what are the expected behaviours, I've updated the [specifications on the create order page](https://github.com/PrestaShop/prestashop-specs/blob/MatShir-create-order/back-office/orders/orders/Create%20new%20order.md) (available in section III - voucher). Plea

[2020-03-12 15:22] Quetzacoalt91 commented on #18003
@v4lux is OOO and cannot answer at the moment.

It said that was randomly occurring on its shop. His shop was deployed from the docker image [`prestashop/prestashop:beta-7.3-apache`](https://github.com/PrestaShop/docker/blob/master/images/beta-7.3-apache/Dockerfile).

[2020-03-12 15:26] alex4102 commented on #17954
Salut @kevinflou, j'ai le même problème que toi mais je n'ai pas bien compris comment tu as corrigé ton problème

[2020-03-12 15:28] alouimohamedhabib commented on #14812
I did create a video on this topic
https://www.youtube.com/watch?v=gOIOw76cCQ0

[2020-03-12 15:47] khouloudbelguith commented on #18109
@Veeckymalt, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.2 and PS1.7.6.4.
When I click on the Next or Previous button force the Smarty Objects are not updated.
If I refresh the page =>OK
https://drive.google.com/file/d/1h5mbEuv6bcb28MzN194N3T5lCO0OUNUy/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you

[2020-03-12 15:48] ioweb-gr commented on #18111
Here is a package of what I have installed in the system. Let me know if you face any issues installing it because there might be files missing while removing the sensitive data and I'll try to send them too

[ioweb_slocator.tar.gz](https://github.com/PrestaShop/PrestaShop/files/4325112/ioweb_slocator.tar.gz)

[2020-03-12 15:48] 5-digits commented on #17539
You must install the stable version with PHP-7.2, after that you can use any php version.

- So i think the problem exist when trying to do installation

[2020-03-12 16:05] Veeckymalt commented on #18109
@khouloudbelguith Thank you ! This was driving me nuts (the client as well).

Solving this will solve the issues you mentionned before (#17122 #17516 #13737).
I've just noticed it will also fix a problem with the language selector : if you are on a paginated page and change the language through language selector, it brings you back at the root of category.

How will I know when it is fixed ? (new

[2020-03-12 16:06] matks commented on #14812
Woha 😮

[2020-03-12 16:09] khouloudbelguith commented on #18109
@Veeckymalt,

it should be closed with the label fixed

[2020-03-12 16:09] khouloudbelguith commented on #17539
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/17725

[2020-03-12 16:11] Veeckymalt commented on #18109
@khouloudbelguith Thanks!

[2020-03-12 16:28] Gipielle commented on #18108
Thanks, so mabye is one page checkout module

[2020-03-12 16:30] khouloudbelguith commented on #18108
@Gipielle, this module is bought from the Addons Market place?

Thanks!

[2020-03-12 16:34] msaustral opened #18121 "Issue with ps_featuredproducts when flip the screen on Mobile and Tablets"
Hi there is an issue with the module ps_featuredproducts when flip the screen on Mobile and Tablets
IOS or Android, it show all product one on top the other.

The carousel stop working

PS 1.7.6.3
ps_featuredproducts v. 2.0

![WhatsApp Image 2020-03-12 at 1 28 20 PM](https://user-images.githubusercontent.com/46203943/76543910-f00bc880-6465-11ea-92c3-bfa03b73dd3f.jpeg)
![WhatsApp Image 2020-03-12 a

[2020-03-12 16:37] Gipielle commented on #18088
No problem to pay modules, but often modules add unnecessary complexity, mistakes, and better work for traders.

Personally I would be well disposed to pay a version of prestashop that didn't require me hours and hours of work to fix problems.

[2020-03-12 16:43] Gipielle commented on #18108
Yes

[2020-03-12 16:45] khouloudbelguith opened #18122 "Last breadcrumb element "Your account" is not clickable in the Your account blocks"
#### Describe the bug

In the "Your account" blocks, the last breadcrumb element is not clickable.
For example in the  "Your address" page
![image](https://user-images.githubusercontent.com/16067358/76544453-5bff2880-6488-11ea-929d-a47f67e861b4.png)

#### Expected behavior

We should have `Home / Your account / Your address`

So, `Your account` is clickable

#### Steps to Reproduce

Steps to repro

[2020-03-12 16:45] khouloudbelguith commented on #18122
Related to https://github.com/PrestaShop/PrestaShop/pull/14710

[2020-03-12 16:47] khouloudbelguith commented on #18108
@Gipielle,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2020-03-12 16:47] #18108 closed, assigned to nobody

[2020-03-12 16:49] #9678 closed, assigned to nobody

[2020-03-12 16:56] khouloudbelguith commented on #18121
Hi @msaustral,

I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/107xkSAewTDqXICjuvzdDEGOa4uPKCIud/view
Thanks to check and feedback.

[2020-03-12 16:59] khouloudbelguith commented on #18111
@ioweb-gr, thanks, it is well installed.
But I cannot configure this module.
![image](https://user-images.githubusercontent.com/16067358/76546114-3a537080-648b-11ea-8c56-9b89e61554c2.png)

Thanks!

[2020-03-12 17:00] zuk3975 commented on #13448
Done in #18123 :heavy_check_mark:

Some notes:
- Multi-grid pages are the only ones left with custom search actions.
- Pages containing **grid** and **options form** with **constraints** should use `FilterFormFactoryFormActionDecorator` which fixes path by decorating it in case of form error and allows grid filters to work correctly (examples in `src/PrestaShopBundle/Resources/config/services/core

[2020-03-12 17:01] khouloudbelguith commented on #18107
@glafarge, is it the issue reproduced in your case?

Thanks!

[2020-03-12 17:08] matks commented on #13448
@zuk3975 Thanks for the hard work !

I'm sorry I think you went further than I thought, a bit too far 😓
- the PR must aim for `develop` I think, it will be refused for `1.7.7.x`
- modifying the routing is 👍but removing the controller actions 🤔I dont know, is it against SemVer ? we might need to keep them (but deprecate them)

[2020-03-12 17:09] valmerci commented on #16952
I'm having the same problem, any progress on this issue? Visitors are complaining about user-friendliness :s

[2020-03-12 17:11] ioweb-gr commented on #18111
Ah there's no configuration. I think the admin tabs are not installed properly. As we had migrated our eshop from 1.6 to 1.7 there was no need to upgrade that part of the code on the module so I think it might be using invalid functions and not properly registering the tabs.

You should be seeing on the left side a panel

![image](https://user-images.githubusercontent.com/20220341/76546669-9373d20

[2020-03-12 17:12] matks commented on #18088
So a suitable solution for you would be a module developed and *sold* by PrestaShop (= level of quality is guaranteed) which enables quoting capabilities ?
I ask this because native (= free) modules can have limited capabilities while sold modules can be a lot more complete.

[2020-03-12 17:13] jolelievre commented on #18122
I believe it's voluntary The last breadcrumb element is not supposed to be clickable
In this case I'd say the real problem is that the breadcrumb doesn't include the parent page "Your account" And the last breadcrumb element should be "You addresses" in the example case

[2020-03-12 17:16] khouloudbelguith commented on #18111
@ioweb-gr, thanks, I will check and feedback.
Thanks!

[2020-03-12 17:29] sam-pires commented on #18122
#14710 makes sense in the product pages, but in this situation we should have the same behavior as @jolelievre explained.

Though, as we are currently working on defining clearly the breadcrumbs rules with @prestascott  I would say "let's drop this one" untill we define the rules.

wdyt?

[2020-03-12 18:23] glafarge commented on #18107
@khouloudbelguith Yes this is the issue. I will make a PR. It'll be more clear i think.

[2020-03-12 20:11] msaustral commented on #18121
Hi, sorry the module that you are trying is popular products, the module that have the issue is featured products 2.0 that now it is a carousel, it does not fail on the emulator but it does on real equipment.

[2020-03-12 20:47] elrosi opened #18126 "JS and CSS not loading"
Hello!

I have an issue with PrestaShop 1.7.6.4 where the JavaScript and CSS files aren't getting loaded properly.
The same problem on version 1.7.5.2. It happens that for some requests Prestashop does not load media, Css and JavaScript.
After refreshing the site everything is OK again.

Linux #200-Ubuntu SMP Tue Dec 3 11:04:55 UTC 2019 x86_64
Server: Apache
PHP version: 7.1.27 - 7.3.3

![2020-03-

[2020-03-12 21:43] presciak opened #18127 "Price specification not found for currency: """
I have a problem updating my store

My store is a multistore.
The store has 5 subdomains. Each domain is a different language or currency.
Before the upgrade, all additional modules (couriers, payments, etc.) were disabled - (removed from ftp).
Before updating the cash has been cleared from the panel presty
For the upgrade I used the 1-Click upgrade version v4.10.1
Unlocked PHP exec function
WAF (

[2020-03-13 02:37] sunchayn opened #18128 "Faceted search category filter not working in 1st depth categories"
#### Describe the bug

When I filter by category within a category with depth of 1 it does not apply the filter properly. The filter only works when I enter a deeper depth. The manufacturer filter works however in a 1st depth category.

It shows the correct number of products but when I select the desired filter it does not properly apply it. The URL does change for example to `mysite/4-1st-depth?

[2020-03-13 07:52] ebaubau opened #18129 "Cart rule with free product"
When the customer adds the cart rule code the free product is added to the cart but the custmer should not have the possibility to change the quantity of the free product.

[2020-03-13 08:45] colinegin commented on #18106
Should this be located in the global wording improvement issue for 177 ?

[2020-03-13 08:59] matks opened #18131 "Use Roave/SecurityAdvisories ?"
@PrestaShop/prestashop-core-developers Shall we use https://github.com/Roave/SecurityAdvisories in CI ?

[2020-03-13 09:18] LouiseBonnard commented on #18106
Sure! Once the PR done, I'll add it to the list of wordings to be merged [here](https://github.com/PrestaShop/PrestaShop/issues/17993).

[2020-03-13 09:20] colinegin opened #18132 "Add new social networks in ps_socialfollow module"
Following a discussion on the issue #16356, it could be interesting to add new social networks to this module, Telegram for instance.

Here is @davidglezz suggestion : Why not allow an arbitrary number of social networks?
Allow the user to select an icon and / or a class, a name and url. So each merchant can add the ones they want.

[2020-03-13 09:22] colinegin commented on #16356
I think we can close this issue as PR PrestaShop/ps_socialfollow#15 has been merged.
Please follow https://github.com/PrestaShop/PrestaShop/issues/18132 for what's left to be done.

[2020-03-13 09:30] Hlavtox commented on #18122
@khouloudbelguith I have fixed this in my PR.

https://github.com/PrestaShop/PrestaShop/pull/16837

[2020-03-13 09:43] #17553 closed, assigned to NeOMakinG

[2020-03-13 09:47] PeNov opened #18134 "SEO preview on product page with enabled show atributes on the meta title"
#### Describe the bug

Meta title preview does not contain attribute preview on the product page (BO).

#### Expected behavior

Show attributes.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Web and SEO > SEO and URL > SEO setting > Set show attributes in the product meta title to YES.
2. Go to Catalog > Products > Edit a product
3. Tab - SEO, Here is a preview of your search engi

[2020-03-13 10:05] matks commented on #18104
Hi @colinegin are you sure we want this feature ?

There is no complex logic in it, but I can guess one technical danger: if we hide/show stock location column whether it's needed or not, it means the blocks can have either X or X+1 columns.

So any UX improvement, design improvement, responsive improvement we bring to this page will require to think "what happens when column stock location is hid

[2020-03-13 10:07] colinegin commented on #18104
ping @TristanLDD @MatShir your call ;)

[2020-03-13 10:09] matks commented on #18105
@colinegin Are you sure about that ?

I'm asking because, if you ask people "do you prefer than clicking on links open a new tab or replaces current page" you will get 50% "Yes I want it !" and 50% "No I dont want that" 😄and some people will tell us we are crazy for even considering doing it (or not doing it).

So if we implement this feature, we can expect people to complain 😄for sure (and if we

[2020-03-13 10:12] zuk3975 commented on #13448
Separated prs.
* #18130 - targets 1.7.7.x. Changes for upcoming version only(1.7.7). Unusable actions are deleted.
* #18136- targets develop. Changes for older controllers. Unusable actions are deprecated instead of deleting.

[2020-03-13 10:13] NeOMakinG commented on #18105
The rule should be : If the link is aiming an external page, then open a new tab, otherwise if it's aiming the product and will change informations on the current page afterwhile, then replace the current page, that's a common web rule to be honest

[2020-03-13 10:17] colinegin commented on #18105
Again ping @MatShir @TristanLDD , i'm not the one who decides here, i just wrote the issue after we talked about it when testing the page.

[2020-03-13 10:38] ErikDeMartiis opened #18137 "Can't show module on the Left Column"
#### Describe the bug

I can Transplant the module in the leftcolumn and leftColumnProduct position, but the module is not showing

#### Expected behavior

See products related/inside the same Category of the product that I'm browsing in the left column

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Modules'
2. Click on 'Trasplant Modules'
3. Scroll down to 'Product in the s

[2020-03-13 11:12] matks opened #18138 ""Install latest instead ?" installer feature seems buggy"
#### Describe the bug

"Install latest instead ?" installer feature seems buggy. It seems either not working (do not download latest version" or does not work well (need to re-click on "yes please" button to make it work).

#### Expected behavior

When I download and run 1.7.6.3 installer, if I accept, I expect 1.7.6.4 version to be downloaded instead and installed.

#### Steps to Reproduce

Steps

[2020-03-13 11:13] Progi1984 commented on #18131
Or Create a GH Action for that : https://github.com/sensiolabs/security-checker

[2020-03-13 12:23] Betafer opened #18139 "Required fields not saved (Phone)"
On prestashop 1.7.6.3 going to customers address and adding phone to required fields
 it is not saved and in front office stay optional: here the video
https://drive.google.com/open?id=1L3qMoazQs02LOIV8Im5gQ98r-VDBmAu9

* PrestaShop version: 1.7.6.3
* PHP version: 7.2

[2020-03-13 12:37] Betafer commented on #18139
i've tried also in a testing prestashop 1.7.6.3, preference is saved but in address page remains optional

<img width="1255" alt="Schermata 2020-03-13 alle 13 37 39" src="https://user-images.githubusercontent.com/5024055/76621517-d636b800-652f-11ea-9243-08d516e2adb2.png">
<img width="286" alt="Schermata 2020-03-13 alle 13 37 04" src="https://user-images.githubusercontent.com/5024055/76621523-d8991

[2020-03-13 13:19] Progi1984 commented on #17855
Fixed by #17907

[2020-03-13 13:20] #17855 closed, assigned to NeOMakinG

[2020-03-13 13:21] Progi1984 commented on #14003
Fixed by PrestaShop/ps_facetedsearch#158

[2020-03-13 13:21] #14003 closed, assigned to marionf

[2020-03-13 13:57] daresh opened #18140 "Impossible to replace a feature value on import"
#### Describe the bug

It's impossible to distinguish during the import if we want to replace a feature value with a new feature value or if we want to add a new feature value.

#### Expected behavior

Some setting or import column to tell prestashop how to treat existing features in products - replace feature values or add new feature values.

#### Steps to Reproduce

1. Let's say we have a produ

[2020-03-13 14:00] #9551 closed, assigned to nobody

[2020-03-13 14:20] Betafer commented on #10393
Prestashop 1.7.6.3 in BO order got this error, i think is related to this post

2js?v=3.exp:55 Geocoding Service: You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account For more information on authentication and Google Maps JavaScript API services please see: https://developers.google.com/maps/d

[2020-03-13 14:25] Betafer opened #18141 "Shop parameters > Orders setting > Error"
Navigate in shop parameter orders settings i got this error:

admin_17.js:19 Uncaught ReferenceError: $ is not defined
    at admin_17.js:19
(anonymous) @ admin_17.js:19
jquery-confirm.js:40 Uncaught ReferenceError: jQuery is not defined
    at jquery-confirm.js:40
    at jquery-confirm.js:42
(anonymous) @ jquery-confirm.js:40
(anonymous) @ jquery-confirm.js:42
admin-order.js:14 Uncaught Reference

[2020-03-13 14:27] Betafer opened #18142 "DevTools failed to parse SourceMap: chrome-extension://cfhdojbkjhnklbpkdaibdccddilifddb/include.postload.js.map"
With google Chrome 80 i got this notice in FO and also backoffice:

DevTools failed to parse SourceMap: chrome-extension://cfhdojbkjhnklbpkdaibdccddilifddb/include.postload.js.map

* PrestaShop version: 1.7.6.3
* PHP version: 7.2

[2020-03-13 14:33] Betafer commented on #15268
Hello, how does your script exactly works ?

[2020-03-13 15:10] Flower7C3 commented on #15268
It go through all directories in themes/ directory and looks for child
themes. Then it scans all parent theme files for translation strings and
add them to example.tpl file in this child theme. It also scans all default
translations (app/Resources/translations/default/ directory) and add them
also to example.tpl file. And finally it gets all translation strings
from debug:translation
command to ex

[2020-03-13 15:10] Betafer commented on #9866
Can add prestashop 1.7.6.3 that have the same problem

[2020-03-13 15:42] pantagru opened #18147 "Disabling a language, I can't translate product (no language selection in product page)"
#### Describe the bug

When I disable the second language, to not show it in the front-end, I can translate pages or categories, but I can't translate the single product: no language selection appears in product page.

#### Expected behavior

I want to translate all products before showing them translated in the public site.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. I set loca

[2020-03-13 15:45] pantagru commented on #18147
Clarification: If I active the second language, I see the language selection in product.

[2020-03-13 17:10] karaya6 commented on #11945
Hi Miguel,
when I make

1) Create customer
2) Create Address
3) Create Cart
4) Create Order
**5) Update Order (PUT method - with same data)**

I think that all is ok. i had same problem like you.
Josef Francu

[2020-03-13 17:30] ftardio opened #18150 "Stock notifications duplicated when editing products with combinations at back-end"
There is a problem with seller stock notifications when updating a product with combinations at back-end. At 1.7 Prestashop version, all the combinations are stored at the same time when updating a product, so if you have a stock alert (for example, alert for 0 quantity), and you update a variable product with 10 combinations, 5 of them having 0 stock, you will get 5 email with stock notifications

[2020-03-13 17:38] ftardio commented on #18150
Sorry, this report was for email notifications module. I just opened it at the right place, you can discard this issue.

[2020-03-13 17:50] ftardio opened #18151 "Faceted search changes category listing order when active"
When faceted search is active and you open a category having subcategories at front-end, the order for products is not following the value specified at Prestashop Shop Parameters -> Product options -> Pagination -> Order by. It's using another order (I suspect it's listing products from every subcategory, one after another). If you deactivate this module, the order is followed correctly.

For exam

[2020-03-14 00:33] msaustral commented on #18121
Hi sorry the issue is with the classic-rocket

[2020-03-14 00:33] #18121 closed, assigned to nobody

[2020-03-14 03:18] Com3t commented on #11588
@ilyasovivan [RFC 6531, SMTP Extension for Internationalized Email](https://tools.ietf.org/html/rfc6531) allows Cyrillic (and other non-ASCII) mailboxes.

The [Wikipedia article on International email](International email) gives the following test cases:
[code]

[2020-03-14 09:48] itsvahid commented on #17725
I had the same issue. looks like there are no data in ps_image_type after fresh installation and in ImageRetriever.php file line 271 it tries to access $urls[$keys[0]]. but $keys is empty because there are no image types in ps_image_type table.
I solved this by adding a row in the table manually then error was solved.

[2020-03-14 14:29] monas commented on #11847
@eternoendless do I need to do some other actions after this change? It doesn't help. I have three languages enabled - ET, LT and RU. Made changes to ET and LT. RU version was with correct - sign but wit some extra options (<minusSign draft="contributed">-</minusSign>). I have cleared the cache but it didn't helped too. Maybe the problem is somewhere else? This is what debug profiles shows:
![imag

[2020-03-14 16:40] arouiadib commented on #18129
Hello @ebaubau

It depends on the merchant. What if he wants to allow the purchase of additional items from the free product.
What if the cart rule has an end date after which the merchant wants normal purchase? or maybe other conditions?

I agree with you that some merchants would want to have a product X to serve only as a gift, but here we should disable the add-to-cart button for product X as

[2020-03-14 20:55] PululuK opened #18152 "Wrong reduction input suffix on change the input reduction type in product specific price form [BO]"
#### Describe the bug

Wrong reduction input suffix on change the input reduction type in product specific price form
#### Expected behavior

Display the correct reduction input suffix on change the input reduction type.
See : https://drive.google.com/file/d/1Jbe-YgcIYFmdfC7g6rUo-pwShlxyK_6E/view

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to an product page in BO
2. Click on

[2020-03-15 05:49] ebaubau commented on #18129
I agree with this sentence
"IMO the current behaviour is enough. Customer is able to add product X to
cart and the default quantity is 2. if you decrease to 1 then the product
is removed from cart."

But the customer can change the quantity of the FREE PRODUCT. He can get
999 free products.

Il Sab 14 Mar 2020, 17:41 Adib Aroui <notifications@github.com> ha scritto:

[2020-03-15 14:53] manudas commented on #17833
I can confirm the bug

[2020-03-15 17:55] arouiadib commented on #18129
Hi @ebaubau,

I totally agree with you about the `999` matter. Great catch from you :).  I suggest you look at a similar scenario [in a another situation here](https://github.com/PrestaShop/PrestaShop/issues/17665#issuecomment-586744326).

Before saying "Enough...", I talked about specs :). Here is what I think:

Your observation needs to be studied and specified first, because it has connection w

[2020-03-15 19:03] #9668 closed, assigned to nobody

[2020-03-15 19:03] #14985 closed, assigned to nobody

[2020-03-15 20:07] bulldesign commented on #18126
Hi @elrosi
Are you using any cache modules?
And are you using PrestaShop native Caching (Memcache, APC, etc?)

I've seen conflicts between those, as one cache system does not clear the others, if you are using multiple.

[2020-03-16 08:11] khouloudbelguith commented on #17593
Hi @ITProfeska,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-16 08:11] #17593 closed, assigned to nobody

[2020-03-16 08:12] khouloudbelguith commented on #17573
Hi @gwyneblaidd,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-16 08:12] #17573 closed, assigned to nobody

[2020-03-16 08:13] khouloudbelguith commented on #17587
Hi @maofree,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-16 08:13] #17587 closed, assigned to nobody

[2020-03-16 08:14] khouloudbelguith commented on #17629
Hi @ROGPreez,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-16 08:14] #17629 closed, assigned to nobody

[2020-03-16 08:15] khouloudbelguith commented on #17637
Hi @Precisionlasers,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-16 08:15] #17637 closed, assigned to nobody

[2020-03-16 08:16] khouloudbelguith commented on #17639
Hi @PeeyushAgrawalWebkul,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-16 08:16] #17639 closed, assigned to nobody

[2020-03-16 08:17] khouloudbelguith commented on #17630
Hi @aromadebebe,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-03-16 08:17] #17630 closed, assigned to nobody

[2020-03-16 08:19] khouloudbelguith commented on #18121
@msaustral, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2020-03-16 08:52] gwyneblaidd opened #18155 "ProductAssembler class assigns wrong product attributes in multistore website (from another shop) - have a solution from branch#17573"
Hi guys!

I have faced a problem with some module (not really important which - it utilizes PS function) when a shop in a multistore missed showing prices for some products (multistore website). Quick debug showed it's connected with the wrong product_attribute that belongs to the product from another shop (the same product, but another shop). The product is shared among shops but each shop has it

[2020-03-16 08:54] gwyneblaidd commented on #18155
hi @khouloudbelguith

Previous #17573 was closed. Lets continue pls. t can help a lot

Use this code

   $order_products = [123];
           $showPrice = true;

            $assembler = new ProductAssembler($this->context);

            $presenterFactory = new ProductPresenterFactory($this->context);
            $presentationSettings = $presenterFactory->getPresentationSettings();
            $pre

[2020-03-16 08:55] khouloudbelguith commented on #18126
Hi @elrosi,

First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.

Second, thanks to

[2020-03-16 08:58] gwyneblaidd commented on #18155
Check print_r($productsForTemplate); content. Before running code note cached_attribute_id from both shops for the product you used.

[2020-03-16 09:26] khouloudbelguith commented on #18138
Hi @matks,

I did not manage to reproduce the issue with PS1.7.6.2 and PS1.7.6.3.
I attached a screen record
https://drive.google.com/file/d/1WalP-1EL46DOXKE43fdUifC-fru2xTlk/view
Thanks to check and feedback.

[2020-03-16 09:36] jolelievre opened #18157 "Refund buttons/actions should rely on paid status instead of invoice"
#### Describe the bug

For now the condition to display and authorize the partial refund button, and the standard refund button is to check if order has an invoice. This was done because when the order is set a paid status the invoice is automatically generated. But the two conditions are not equivalent because an order can be manually generated, in which case you can then refund it even though it

[2020-03-16 09:43] matks commented on #17725
Thanks for the tip

[2020-03-16 09:48] matks commented on #11588
FYI on this issue we are also highly constrained by external systems: we depend on server config, we depend on dependency config (for example we use swiftmailer so we depend on what emails they accept/validate for the version we use), we depend on character encoding config ...

We try to do our best to workaround all these constraints but it's not easy 😅

[2020-03-16 09:59] khouloudbelguith commented on #18107
@glafarge, thanks for your feedback and for the fix.
I have the same issue with PS1.7.5.2 and PS1.7.6.4.
I will add to the debug roadmap.

Thanks!

[2020-03-16 10:44] MatShir commented on #14736
This is a general problem on all our listing pages. The problem has therefore been removed from the order page project to be addressed in a more global project.
One of the possible solutions is to redesign the right-click interface has on Gmail for example.

[2020-03-16 10:57] khouloudbelguith commented on #18157
Same behavior with PS1.7.6.4 and PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/76749751-53a33800-677d-11ea-9f20-94d41b7eec42.png)

Thanks!

[2020-03-16 11:31] khouloudbelguith commented on #18127
Hi @presciak,

I did not manage to reproduce the issue with PS1.7.6.4 after an upgrade from PS1.7.5.2 using the 1-click upgrade v4.10.1.
I have 5 shops, each shop has a different language and a different currency.
I attached a screen record
https://drive.google.com/file/d/1LqrgDTZq3002U1k-dydjk3eR4tUGAXs9/view
We have similar issues fixed in the last version:
https://github.com/PrestaShop/PrestaSh

[2020-03-16 11:48] Maofree opened #18159 "problem admin side with this option: "Do you need a tax identification number?""
Hi
to reproduce this bug go in a country and disable the option "Do you need a tax identification number?"
then go into a customer address admin side, and you will not see the dni field, even if it is already present in the field of an address
now go to the front office, and go to see the customer address, there the dni field will be present

that option should set only the obligation to enter the

[2020-03-16 11:49] khouloudbelguith commented on #18137
Hi @ErikDeMartiis,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2, PS1.7.6.4, and the branch 1.7.7.x
![image](https://user-images.githubusercontent.com/16067358/76755656-843aa000-6784-11ea-933f-11ba5d30043b.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Th

[2020-03-16 11:56] khouloudbelguith commented on #18139
Hi @Betafer,

I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
https://drive.google.com/file/d/1lDW7IrS_3bX82WZ-lluubpbKwHQ0FLF-/view
Did you a custom theme?
Have you tried to contact the theme author about this issue?

Thanks!

[2020-03-16 11:57] khouloudbelguith commented on #18141
Hi @Betafer,

I did not manage to reproduce the issue with PS1.7.6.4.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - screenshots

Don't you know how to get this information? Please read the following

[2020-03-16 11:59] khouloudbelguith commented on #18147
Hi @pantagru,

Your ticket is a duplicate of #16626
So, I close it.
Thanks!

[2020-03-16 11:59] #18147 closed, assigned to nobody

[2020-03-16 11:59] khouloudbelguith commented on #18147
Duplicate of #16626

[2020-03-16 12:18] valmerci commented on #16952
Any news please?!? My online shop is only way to reach clients nowadays as the corresponding shop in the street is closed due to Corona measurements. The offer online is too big to have convenient shopping experience online with filter on size not working properly....

Thank you very much for understanding the urgency (to keep making a living) and your kind support on this issue! Most appreciated.

[2020-03-16 12:22] Betafer commented on #18139
Hello, yes custom theme

[2020-03-16 12:27] Betafer commented on #18141
<img width="1993" alt="Schermata 2020-03-16 alle 13 25 45" src="https://user-images.githubusercontent.com/5024055/76758353-d205d700-6789-11ea-9a87-b43781398570.png">

Here the screenshot, Go to Shop parameters, order setting, in browser console got this errors

[2020-03-16 12:46] khouloudbelguith commented on #16952
Hi @valmerci,

Sorry not yet.
PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2020-03-16 13:01] Progi1984 commented on #17717
Fixed by #17849

[2020-03-16 13:05] Betafer commented on #18139
Browser Google Chrome 80

[2020-03-16 13:06] khouloudbelguith commented on #18139
@Betafer, As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them and feedback.

[2020-03-16 13:06] Betafer commented on #18141
Browser Chrome Ver 80

[2020-03-16 13:07] Betafer commented on #18141
Are modules problem: AmazonPay and other two modules.

[2020-03-16 13:07] pantagru commented on #16626
Hi, I don't understand if we have the same problem (https://github.com/PrestaShop/PrestaShop/issues/18147#issue-580684651) and what's the solution.
I disabled the second language from
Localization > Languages > English (second language - the first is italian) edit > Status: NO
Because I need to translate all products BEFORE public the second language in the public site.
I think it's a normal opera