[2019-01-28 16:18] khouloudbelguith commented on #12295
Hi @ma0dubois,

During the upgrade, have you any errors occurred?
In my case, I tried also after upgrade from 1.7.4.4 to 1.7.5.0 & the "Export language" function works correctly.
Thanks!

[2019-01-28 16:28] ma0dubois commented on #12295
Hi,

No  :/

[2019-01-28 16:52] khouloudbelguith commented on #12295
Hi @ma0dubois,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2019-01-28 16:54] nziria commented on #10264
On prestashop 1.7.5 same problem
Resolved with this method

in cart.php:
search for( at the line 1910)
`  if ($virtual && $type == Cart::BOTH) {
            $type = Cart::BOTH_WITHOUT_SHIPPING;
        }`

change to
`if ($virtual && $type == Cart::BOTH) {
            $type = Cart::BOTH;
        }`

tried with virtual and physical product in the same cart and no issue.

try and tell me.

[2019-01-28 17:03] khouloudbelguith commented on #10264
Hi @nziria,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-01-28 17:08] nrcjea001 commented on #12330
Hi Khouloud

I tried your module and it appears to be working. The issue is only happening with Paypal module

Paypal offers two methods of payment, one via Paypal account and one via credit card. In order for you to use credit card, you would need to activate it in the Paypal module. It does not appear to be activated on your side based on the video record you shared.

You can try Paypal credit c

[2019-01-28 17:10] khouloudbelguith commented on #12333
I have the same issue with develop branch in the product page.
![image](https://user-images.githubusercontent.com/16067358/51853050-aa567400-2327-11e9-9b51-ada5f25d71d2.png)
![image](https://user-images.githubusercontent.com/16067358/51853055-ac203780-2327-11e9-99e9-20c388ce158c.png)
Thanks!

[2019-01-28 17:26] SeSamSeg opened #12334 "Product quantity with units"
**I'd like to add a product with a quantity in meters instead of "Units" or a multiple of pieces instead of 1**

e.g.:

- Fabric in multiples of 0.5m.
- By weight per 100g, in kg in the store
- Boxes of 25

**Add unit multiplier, unit steps and unit name**

I put together a way to do this in my shop with:

Multiplier: (the amount to multiply with for the frontend)

- Fabric can be expressed in cm

[2019-01-28 17:33] Ybeske opened #12335 "Cannot set specific price when product module tab is present"
**Description**
Having 1.7.5.0 installed, even (again) with a fresh install to avoid the possible other conflicts with many modules:

From the moment I install a module (in my case: Product Fields manager) that creates a Module product tab, I have issues with the specific price discount amount and dropdown menus ("% or €" and "incl/excl. tax" settings)...

- I cannot fill in the specific price (th

[2019-01-28 17:38] nrcjea001 commented on #12330
Below is the original error message:

![image](https://user-images.githubusercontent.com/26452178/51854717-d7fde600-2344-11e9-8b8b-dd5d9a063c99.png)

and here is my new error message when changing error.php

![image](https://user-images.githubusercontent.com/26452178/51854780-07145780-2345-11e9-9de6-851e8a387d82.png)

[2019-01-28 18:14] Caleydon opened #12336 "Warning: Zend OPcache API is restricted by "restrict_api" configuration directive"
**Describe the bug**
I get an warning and blank page in the Back office when Debug mode is enabled. I tested on 2 different webhosting services with clean PrestaShop 1.7.5.0 and also with third party template.

The webhosting service told me that the reason is they are blocked following functions for security reasons:
opcache_compile_file ()
opcache_get_configuration ()
opcache_get_status ()
opcac

[2019-01-28 19:51] Spegio commented on #11105
Describe the bug
In the Advanced Parameters / Performance, if we click twice on the Clear cache button => Error 500

To Reproduce
Steps to reproduce the behavior:

Go to BO => Advanced Parameters / Performance
Click on "Clear Cache" button 2 times
See error : Actual: Error 500

This error is also present on Prestashop 1.7.5!!

[2019-01-28 20:24] RUMBuilder commented on #12135
Thanks for the input. I'd rather not take the chance of something being corrupted by doing a "fresh install", and risk having to rebuild/restore. I literally JUST did a brand new, fresh, clean folder install of 1.7.5.0, so I still don't understand the issue. Will continue to investigate.

Thanks again, open to any other additional comments if anyone has ideas.

[2019-01-28 20:40] nziria commented on #10264
Sorry but I haven't time. You can make the pull and mention me if the code work and I see the pull request have you created. Thanks

[2019-01-28 22:41] #12301 closed, assigned to nobody

[2019-01-29 00:50] kpodemski commented on #12300
This is critical... any new strings in .PHP files are not available to translate...

[2019-01-29 07:02] febestore commented on #12328
Hi,
When I try to edit any of carriers this error appears, and a carrier is being duplicated.
I can't delete duplicated carriers because of URL error which I wrote about in screenshot 4.

[2019-01-29 07:22] centoasa commented on #11105
For me too: prestashop 1.7.5, php 7.2.13
If everything goes wrong I give 500 error, otherwise it goes into timeout

[2019-01-29 07:30] ma0dubois commented on #12295
We perform the update manually.
So it is impossible for us to send you these logs.

Thanks !

**EDIT**

After checking our database, it appears the `locale` field in `ps_lang` was empty and `language_code` was not set at the right value.

(Database migrated from 1.6 to 1.7 using your scripts manually as we can not use the autoupgrade module)

We can now succesfuly export classic theme's traduction

[2019-01-29 07:52] PrestaworksNiklas opened #12338 "Filtering on messages in Logs does not return correct result"
**Describe the bug**
On PS 1.7.5.0, filtering on messages under "Logs" does return the correct result, but keeps showing other pages within the result. These other pages do not contain the filtered messages. Selecting another number of results per page do not work either.

**To Reproduce**
1. Go To Advanced Parameters, Logs
2. Filter on Message. Click "Search".
3. The first page returns the correc

[2019-01-29 07:53] romain-le-mercier commented on #9818
Any news on this subject?
Or maybe we wait for PS 1.8?...

[2019-01-29 07:54] khouloudbelguith commented on #12335
Hi @Ybeske,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1JgEU-Jt9QdfU3fb3lIqlLGrwqI8VZK1H/view
I tried with the `blockyoutubevideos` module & also with this module https://github.com/dheerajwebkul/wktestadminproductextra and it is OK.
Thanks!

[2019-01-29 08:07] khouloudbelguith commented on #12338
Hi @PrestaworksNiklas,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0.
In the Logs page, the filter is resetting when we click on the next page.
It is not the same behavior as PS1.7.4.4., it is OK.
https://drive.google.com/file/d/1nEE5MFtlGJe15C5V8KVMhH6Wnmneqnno/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you

[2019-01-29 08:12] khouloudbelguith commented on #11105
Hi,

I manage to reproduce the issue with PS1.7.5.0 also.
It is not fixed yet.
It is added to our bug roadmap.
Thanks for your understanding!

[2019-01-29 08:17] khouloudbelguith commented on #12301
Hi @x29a,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-01-29 08:29] namkynam opened #12339 "Attributes list isn't appear in the combination tab with the second language and delete the language id = 1"
When you add a language and delete the original language, the BO page does not display new attributes . The list of Attributes is not displayed in the combined tab
![ps1750](https://user-images.githubusercontent.com/19523750/51894544-a0da1400-23da-11e9-847c-7589d96c20a9.jpg)
![ps1750-2](https://user-images.githubusercontent.com/19523750/51894545-a0da1400-23da-11e9-8e84-ef2133f1e3c7.jpg)

[2019-01-29 08:37] febestore commented on #12328
Hello,
Can You write me a private message or email? I will send You error logs which I've found.

[2019-01-29 08:41] khouloudbelguith commented on #12328
Hi @febestore,

This is a public space.
You can provide me logs by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-01-29 08:44] febestore commented on #12328
Thanks!
I've send you an email ;)

[2019-01-29 08:50] khouloudbelguith commented on #12328
@febestore, thanks!
I just received the email, I will check & feedback.

[2019-01-29 08:53] khouloudbelguith commented on #12339
Hi @namkynam,

Here's the PR: #10924 to fix the issue.
It is fixed in the next release PS1.7.6.
Your ticket is a duplicate of #9627
So, I close it.
Thanks!

[2019-01-29 08:53] #12339 closed, assigned to nobody

[2019-01-29 08:53] khouloudbelguith commented on #12339
Duplicate of #9627

[2019-01-29 09:17] MatShir commented on #12241
Thanks for your detail explanation @dineshbadrukhiya

[2019-01-29 09:27] kpodemski commented on #9818
ping @eternoendless

Created at: Sat, 4 Nov 2017 00:41:03 +0100...

with proposed solution...

[2019-01-29 09:34] PierreRambaud commented on #10178
The `mod_rewrite` exists only for apache environment. This is a wrong wording here if you are using Nginx. Otherwise make sur you enable the `mod_rewrite`.

[2019-01-29 09:38] khouloudbelguith commented on #12336
Hi @Caleydon,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/10MGgQaSyW7g3JlaY9j3dJ2Mu82yVPYr-/view
It's your hosting. They've disabled the opcache commands, the opcache for the configuration file had to be cleared because of the REST API. The API would make changes to the settings file, and elsewhere in t

[2019-01-29 10:03] al699 opened #17105 "With cache enable and multishop in ps 17.4.4 disabled products are shown"
I have a lot of broken links because ps_categoryproducts show disabled products until I save again the config in the module.

I am not sure if is a cache problem.

PHP: 7.1.17
SO: ‪Debian 9.4‬
PPlesk Onyx 17.8.11

[2019-01-29 10:08] web-fu commented on #10475
Submitted!
I almost forgot this fix 👍

[2019-01-29 10:12] khouloudbelguith commented on #12328
Hi @febestore,

In your log file log, you have an error  `[error] [client 157.55.39.41] ModSecurity: Access denied with code 403, [Rule: 'REQUEST_HEADERS:User-Agent' 'bingbot'] [msg "Spiderbot blocked"] [severity "CRITICAL"]`, you need to check this issue with your host.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check when you ed

[2019-01-29 10:17] neijek commented on #10264
this bug fix worked for me (had the same issue under 1.7.5

[2019-01-29 10:42] Thobal51 opened #12342 "Maintenance Mode Multistore Bug 1.7.5"
**Describe the bug**
Since a prestashop update from version 1.6.1.20 to 1.7.5, I can't access the maintenance menu in the back office (Multistore). I have this error :
Uncaught Exception: Expected argument of type "object, array or empty", "string" given
Uncaught PHP Exception Symfony\Component\Form\Exception\UnexpectedTypeException: "Expected argument of type "object, array or empty", "string" gi

[2019-01-29 10:52] TristanLDD commented on #10576
Hi @tomas862
I don't know what's the problem with Zeplin so I'm going to send you all the assets by email ;)

[2019-01-29 10:53] khouloudbelguith commented on #12342
Hi @Thobal51,

In your Database table "ps_configuration_lang", could you please try to enter this SQL query.
`INSERT INTO `ps_configuration_lang` (`id_configuration`, `id_lang`, `value`, `date_upd`) VALUES ('277', '1', 'maintenance', '2018-11-12 00:00:00');`
![image](https://user-images.githubusercontent.com/16067358/48343270-3aaee200-e672-11e8-86c2-a112f9fc7c4a.png)
Thanks to check & feedback.

[2019-01-29 11:00] tiuz1 commented on #12092
Do you need anything else to fix this problem?
Is there any way I can assist you?

[2019-01-29 11:06] khouloudbelguith commented on #12092
Hi @tiuz1,

In my case, I tried with your file csv but I did not manage to reproduce the issue, it is OK (See my previous screenshots)
The display is OK after the import in my screenshots?
Thanks!

[2019-01-29 11:07] colinegin commented on #12286
Hello and thanks for your feedback !

This needs to be discussed more in depth with the product team but here are a few comments/questions to start with :
- where should the key field be located ?
- for those who have configured the option, it means they will "pay" for each order page they open. It might be expensive if they have many orders
- Regarding the feature itself (in the BO - order page),

[2019-01-29 11:18] Marwazeinoo88 opened #12345 "Can't edit specific price"
Hi,
I'm adding more then 1200 products, so it's easier for me to duplicate products that are similar and only do some simple editing...
But when i add a"**Specific price**" it works on front office, and once i need to edit the "Specific price"on BO i just can't beacause this board (attached) is not there any more!!
![capture](https://user-images.githubusercontent.com/43037924/51904248-767a5d80-23b

[2019-01-29 11:21] Thobal51 commented on #12342
Thank you for your help but it doesn't work. I have the same error message.

[2019-01-29 11:22] tiuz1 commented on #12092
In your example there is also a problem with the wrong category.
Vertigo Sport is listed in the Category Parfüm>Damen>Blumig>Zitrus, but it should be listed in the Herren (Men) Category (Parfüm/Herren/Aromatisch/Zitrus).

It seems like it does not travels down the trees, instead it looks for the last category name and put its int the first match, ignoring the tree structure.

[2019-01-29 11:25] khouloudbelguith commented on #12342
@Thobal51, could you please try to replace the table ps_configuration_lang by another one from fresh install PS1.7.5.0.
Thanks to check & feedback.

[2019-01-29 11:28] khouloudbelguith commented on #12345
Hi @Marwazeinoo88,

This feature is added to the last version PS1.7.5.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9465
Your ticket is a duplicate of #10171
So, I close it.
Thanks!

[2019-01-29 11:28] #12345 closed, assigned to nobody

[2019-01-29 11:28] khouloudbelguith commented on #12345
Duplicate of #10171

[2019-01-29 11:28] thsantac commented on #12307
Problem solved !!!

Thanks a lot.

[2019-01-29 11:28] #12307 closed, assigned to nobody

[2019-01-29 11:34] khouloudbelguith commented on #12307
@thsantac, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-01-29 11:36] sabrinadis opened #12347 "Issue with editing a credit note"
Hello,

I use Prestashop 1.6.1.20.

I am having a problem trying to edit a credit note.

it is an order for which an exchange request has been made. The exchange has been validated on Prestashop. However, the client finally wanted a refund.

When I am on my order page, I click on "return product". Normally, the next step is to select the returned product and then click on the "create a credit note

[2019-01-29 11:40] khouloudbelguith commented on #12295
Hi @ma0dubois,

Have you tried to follow this documentation https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/ during the upgrade?
It could be a problem if you have missed a file?
or something went wrong with your update and don't have some of the database columns that were added for 1.7.5.0
You can find the full schema for 1.7.5.0 here: https://github.com/PrestaShop/PrestaShop/

[2019-01-29 11:40] colinegin commented on #11497
I'm not sure to understand the added value if in the end you need to choose the prefered option ?

Anyway we will rework the import page in the next versions, and will review your feedback at that moment.

Thanks !

[2019-01-29 12:06] publi365 commented on #10264
Yes! It works!

Thank you @nziria!

[2019-01-29 12:15] pantle commented on #10264
I have 1.7.4.4  and I found `if ($virtual && $type == Cart::BOTH) {` in line 1860
I changed line 1861 into `$type = Cart::BOTH;`

As long as I can see it works. Even checked Voucher for virtual and voucher for normal product worked for me.

Thanks for now!

[2019-01-29 12:19] MathiasReker commented on #12321
@khouloudbelguith I found the bug, but I did not solve it. I have included CSV file and screenshot with settings, please check.

Set the combinations with SAME reference:

When import with CSV it only takes the last combination
When doing manual from BO it works.

[combination.zip](https://github.com/PrestaShop/PrestaShop/files/2807608/combination.zip)

[2019-01-29 12:28] samberrry commented on #12138
I have the same issue, I followed the [Fix RTL glitches](https://github.com/PrestaShop/PrestaShop/pull/12196) but problem persists.

[2019-01-29 12:39] alibt commented on #12138
i tried to fix the problem using #12196  even the first commit which should fix the logo and version view conflict problem, is not working for me.

[2019-01-29 12:57] khouloudbelguith commented on #12138
Hi all,

This issue is not fixed yet, it is added to our bug roadmap.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
If you think you can do it, please do send us a pull request!
Thanks!

[2019-01-29 13:01] MatShir commented on #12095
Hi @Bonobomagno,

Thanks for your feedback, interesting feature. we have shared the idea at Prestashop Feedbacks (http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/) to let the community help us to prioritizes all ideas from the community.

[2019-01-29 13:03] colinegin commented on #12136
Thanks for your feedback,

maybe we should just add a warning below Consider the associated order as validated, what do you think ?

[2019-01-29 13:03] febestore commented on #12328
Hey,
I've written to my host about this error.
I've deleted cache folder from var. Still, nothing happened.
Yes, a carrier is duplicating every time when I try to edit any of carriers.
For example - when I try to edit any of basic carrier - the error appears - and a carrier is duplicating.
- when I'm trying to delete/edit any of duplicated carrier - error appears and carrier is duplicated again.
B

[2019-01-29 13:17] khouloudbelguith commented on #12347
Hi @sabrinadis,

I did not manage to reproduce the issue with PS1.6.1.23.
I attached a video record.
https://drive.google.com/file/d/1SE2Pu9cHmsM4WNx_r0PJzcPIzHkm61U0/view
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-

[2019-01-29 13:17] #12347 closed, assigned to nobody

[2019-01-29 13:22] khouloudbelguith commented on #12334
Hi @labsin,

Thanks for your report.
@marionf, @colinegin what do you think of his suggestion?
Thanks!

Related: #11632

[2019-01-29 13:33] matks opened #12348 "[SF Migration] Grid row not clickable"
In legacy listings, when you click on any row, it does trigger the main action of the row. For most listings it means "edit", sometimes it can be "view".

On migrated listings, this feature is gone.

**Moreover**, in legacy listing since the row was not a link, you could not perform the "right click - open in a new tab" trick. If this can be done in migrated listings, this would be great.

[2019-01-29 13:40] Klemart3D opened #12349 "Back-office frontend wrong summary/description active tab displayed"
**Describe the bug**
Sometimes, in a product page of BO the summary and the description tabs are both active.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product page (Basic Settings tab)
2. Click on Description sub-tab (of Basic Settings tab)
3. Click on Quantities tab
4. Get back to Basic Settings tab
5. See summary and description tabs both actives

**Screenshots**
![ps-tab-pr

[2019-01-29 13:42] khouloudbelguith commented on #12349
Hi @Klemart3D,

This issue is added to our debug roadmap.
Your ticket is a duplicate of #9668
So, I close it.
Thanks!

[2019-01-29 13:42] #12349 closed, assigned to nobody

[2019-01-29 13:42] khouloudbelguith commented on #12349
Duplicate of #9668

[2019-01-29 13:44] colinegin commented on #12334
Hello,

Thanks for your idea ! Would you be able to do a PR for this improvement ?
Our dev/UX/product team will review it asap once the commit is done.

Thanks !

[2019-01-29 13:55] sarjon commented on #12348
actually migrated lists (maybe not all of them) have this new clickable column, isnt it a replacement of legacy clickable rows?

![screenshot](https://user-images.githubusercontent.com/15143151/51912847-e8ae6a80-23dd-11e9-81f7-480a58160076.png)

imo it's better since this way user actually knows that it can be clicked whereas in legacy its not obvious.

[2019-01-29 14:02] khouloudbelguith commented on #12330
Hi @nrcjea001,

Thanks for your feedback.
Yes, in your shop, I have the same issue as you.
But, in my local, I have a strange thing when I used unsupported currency(I tried Paypal credit card)
In the last step, all the payment methods are not displayed.
https://drive.google.com/file/d/1BxWaG-BOqjMIiM4rwpkKoMIgbGaNv8eq/view
What is the exact version of Paypal did you use?
Thanks!

[2019-01-29 14:25] khouloudbelguith commented on #12092
Hi @tiuz1,

Thanks for your feedback.
I tried with this file during the import
[demo_edited.txt](https://github.com/PrestaShop/PrestaShop/files/2808078/demo_edited.txt)
In the product page, they are OK
DREAM =>
![image](https://user-images.githubusercontent.com/16067358/51914816-f4982d80-23d9-11e9-8016-0b409cfcc55d.png)
VERTIGO =>
![image](https://user-images.githubusercontent.com/16067358/5191484

[2019-01-29 14:27] nrcjea001 commented on #12330
Paypal v4.4.2

[2019-01-29 14:55] tiuz1 commented on #12092
Yes, if I try to trick the wrong import behaviour. But I cannot do this with hundreds or products.
But I want to the Main Category to be Parfüm/Herren/Aromatisch/Zitrus. So when I put it at the first position, the wrong category is assigned.
With PS 1.6 it worked flawlessly

[2019-01-29 15:07] Klemart3D commented on #12349
Oh sorry, I only searched issues for "product tab bug" and didn't find #9668. Thanks you :)

[2019-01-29 15:09] matks commented on #12348
In legacy, the hint is that the row gets colored in light blue when hovered 🤔

[2019-01-29 15:11] #12011 closed, assigned to jolelievre

[2019-01-29 15:12] #12044 closed, assigned to jolelievre

[2019-01-29 15:12] khouloudbelguith commented on #12330
Hi @nrcjea001,

Since this function is blocked.
I tried with another expression provided by PayPal "Unexpected error occurred." & I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4 and the PayPal module v4.4.2.
In the BO => Translations page, I tried to translate the "Unexpected error occurred." expression & save.
![image](https://user-images.githubusercontent.com/16067358/51917666-4e035b0

[2019-01-29 15:15] Klemart3D commented on #9668
Bug still there on PS 1.7.5.0

![bug-bo-tab-product](https://user-images.githubusercontent.com/7419525/51917981-fca79b80-23e0-11e9-9662-b9284ce79913.png)

[2019-01-29 15:21] FayInter opened #12350 "500 error"
On Admin panel on customer care->customer messages I am getting the following error.

I have clear the cache and all the files under var/cache but every time I am reproducing the error the folders and files are created again.

Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalThrowableError: "Call to a member function getTaxCalculationMethod() on null" at /var/www/vhosts/nayaandpiu.gr/

[2019-01-29 16:05] khouloudbelguith commented on #11790
Hi @consochris,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-29 16:05] #11790 closed, assigned to nobody

[2019-01-29 16:06] khouloudbelguith commented on #11806
Hi @thalassa-web,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-29 16:06] #11806 closed, assigned to nobody

[2019-01-29 16:08] khouloudbelguith commented on #11423
Hi @mortenhartvig,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-29 16:08] #11423 closed, assigned to nobody

[2019-01-29 16:10] khouloudbelguith commented on #11904
Hi @Tossko92,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-29 16:10] #11904 closed, assigned to nobody

[2019-01-29 16:10] khouloudbelguith commented on #11912
Hi @daniloarayaz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-29 16:10] #11912 closed, assigned to nobody

[2019-01-29 16:11] khouloudbelguith commented on #11931
Hi @anantaramdas,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-29 16:11] #11931 closed, assigned to nobody

[2019-01-29 16:15] khouloudbelguith commented on #11231
Hi @nfmaroc,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-29 16:15] #11231 closed, assigned to nobody

[2019-01-29 16:17] khouloudbelguith commented on #11292
Hi @AJenbo,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).
Thanks!

[2019-01-29 16:17] #11292 closed, assigned to nobody

[2019-01-29 16:20] khouloudbelguith commented on #11432
Hi @maofree,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-29 16:20] #11432 closed, assigned to nobody

[2019-01-29 16:29] khouloudbelguith commented on #11888
Hi @Swedishstudio,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-29 16:29] #11888 closed, assigned to nobody

[2019-01-29 16:32] khouloudbelguith commented on #11436
Hi @slupostrupek,

We need to retrieve the PHP error log in order to find out what's wrong.
Thanks!

[2019-01-29 16:35] khouloudbelguith commented on #12267
Hi @slupostrupek,

I manage to reproduce an issue similar reported here: #10903 with free shipping

Steps to reproduce the issue

Create cart rule
1.1 without code
1.2 In the condition Tab "Minimum amount 100 EUR & Shipping included
1.3 In the actions tab, apply any action => Free shipping
Go to FO, add to cart a product which price = 70 EUR < 100 EUR (must be < 100 EUR) => so the cart rule is not

[2019-01-29 16:35] khouloudbelguith commented on #11935
Hi @centoasa,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-29 16:35] #11935 closed, assigned to nobody

[2019-01-29 16:36] Thobal51 commented on #12342
It still doesn't work. Always the same error message ....

[2019-01-29 16:39] khouloudbelguith commented on #12342
@Thobal51, if you try to replace the table ps_configuration also by another one from fresh install PS1.7.5.0, the issue is solved?
Thanks to check & feedback.

[2019-01-29 16:39] centoasa commented on #11935
issue still remain: https://nimb.ws/REuF10

followed your instruction, but issue still remain!
as you can see here https://nimb.ws/REuF10

[2019-01-29 16:51] khouloudbelguith commented on #12350
Hi @FayInter,

I did not manage to reproduce the issue with PS1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1h7EClrvMERwfHbWHpDWmgK9a_KYBKM-A/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apac

[2019-01-29 16:55] gregthai opened #12352 "Bug Search module Japanese language"
Hi everyone,

The search module of the Japanese version of my website does not work, while everything works fine for French and English.

Can someone help me :)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.yosaso.com'
2. Choose japanese language
3. Try searching this product for example "お茶 セット" ("Sushi Start - 1kg" in english)
4. See error... :(

**Additionnal information**
Pr

[2019-01-29 17:04] ebonit opened #12353 "cumulative cart_rule shows faulty in order confirmation email and in the order backoffice"
**Describe the bug**
when I add cartrules with the 'from number of products settings' and I use precentage for the discount, then the 2nd, 3rd andsodorf cartrules are cumulative in the discount calculation.
1: 10% discount from 2 products shows 10% of the sub total
2: 10% discount from 5 products shows 10% discount from (subtotal - 1st discount)
3: 10% sidcount from 8 products shows 10% discount f

[2019-01-29 17:14] khouloudbelguith commented on #12353
Hi @ebonit,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #11722
So, I close it.
Thanks!

[2019-01-29 17:14] #12353 closed, assigned to nobody

[2019-01-29 17:14] khouloudbelguith commented on #12353
Duplicate of #11722

[2019-01-29 17:22] khouloudbelguith commented on #12352
Hi @gregthai,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1Fai7lxqvxtyvsOTxYgqUk6exFuB496qb/view
Thanks to check & feedback.

[2019-01-29 17:45] gregthai commented on #12352
Thank you for your answer, but my PS is 1.7.4.2...
I'm looking for a solution to fix this bug in my version. I'm a little chilly about updating PS...

[2019-01-29 18:12] asmagroupsa commented on #11624
jai ce meme probleme

[2019-01-29 18:37] juslintek commented on #12326
![image](https://user-images.githubusercontent.com/5687423/51931531-badd1c00-2405-11e9-8e4b-255f4a7950d2.png)

[2019-01-29 18:46] PierreRambaud commented on #11624
@asmagroupsa as I said few lines above you need to define all rules in your nginx configuration : https://github.com/PrestaShop/PrestaShop/issues/11624#issuecomment-444886802

[2019-01-29 19:17] Spegio commented on #11105
On the Performance page, there is another problem, there are no translations for other languages. The section of the performance page is not present in the translations!
Not all entries, only some items are not present... You cannot change the translation or add it because it is not present for all entries.

[2019-01-29 19:17] Spegio commented on #11105
Not all entries, only some items are not present

[2019-01-29 20:43] Ybeske commented on #12335
Hi khouloudbelguith, thanks to try it.
I discovered something: From the moment I activate the module, there is a "transparent" element covering most of the the spoken text and selection fields. It only works if you click on the top of the elements... see attachment. Who's responsible for this "bug"? What can I do to make the fields intuitive again? Please check if you also have such an element on

[2019-01-29 20:59] matks commented on #12138
@vhessam @alibt did you see in https://github.com/PrestaShop/PrestaShop/pull/12196 this part ?
[code]

In fact the dedicated CSS for RTL is generated when someone installs a RTL language on his shop (or switches a language to RTL). This is when the theme_rtl.css file is created. But if it exists before, it is not replaced.

What I mean is that if you currently have a theme_rtl.css file with bad CS

[2019-01-29 21:43] matks commented on #10193
@sarjon For the drag-and-drop, give it a try, but if you can't get it done in less than hours leave it aside. We'll see if someone can get it or let it for CSS elite devs 😄

I tried to find in this issue and the related PR what was the issue with bulk action column but could not find it, can you refresh my memory ?

[2019-01-30 07:42] khouloudbelguith commented on #11172
Hi @thbl,

Did you use a minimal amount in the condition tab of your cart rule created?
Thanks!

[2019-01-30 07:46] khouloudbelguith commented on #12335
Hi @Ybeske,

Thanks for your feedback.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/ho

[2019-01-30 07:49] khouloudbelguith commented on #12333
Hi,

In the product page, if we click on the help icon button, they are not well-displayed and they are superposed.
![image](https://user-images.githubusercontent.com/16067358/51966156-ff9b9e00-246b-11e9-9ac0-0db85313f113.png)
Thanks!

[2019-01-30 07:53] Thobal51 commented on #12342
It works if I replace the table ps_configuration by another one from fresh intall.

[2019-01-30 07:54] khouloudbelguith commented on #11105
Hi @Spegio,

Your issue is different from this ticket, can you open a new one with more information about your configuration.
Thanks!

[2019-01-30 07:57] khouloudbelguith commented on #12342
Hi @Thobal51,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-30 07:57] #12342 closed, assigned to nobody

[2019-01-30 08:06] khouloudbelguith commented on #12326
Hi @juslintek,

Thanks for your feedback.
To install PrestaShop, you have some [system requirements](https://www.prestashop.com/en/system-requirements), so in the PHP configuration (php.ini file) set memory_limit to "128M" and upload_max_filesize to "16M" (or more if available), in your screenshot, they are displayed on Red, thanks to change the settings, check & feedback.

[2019-01-30 08:16] khouloudbelguith commented on #12335
@Ybeske, about your screenshot, I checked  PS1.7.5.0 where I have a module installed & not installed, in the two cases, I have this
[code]
displayed, it is the element for buttons "Cancel" & "Apply"
1. Module not installed
![image](https://user-images.githubusercontent.com/16067358/51967360-69697700-246f-11e9-878a-6eca7ebaddba.png)
2. Module installed
![image](https://user-images.githubusercontent

[2019-01-30 09:02] khouloudbelguith commented on #12092
Hi @tiuz1,

after some tests with PS1.7.5.0 & PS1.7.4.2 & PS1.6.1.23 (Same behavior).
When I upload the file for the first time
[code]
The associations for the second product (VERTIGO) is incorrect,
It is displayed `Parfüm/Damen/Blumig/Zitrus` which is incorrect, it should be `Parfüm/Herren/Aromatisch/Zitru`
![image](https://user-images.githubusercontent.com/16067358/51969384-8f454a80-2474-11e9-93

[2019-01-30 09:10] khouloudbelguith commented on #12352
Hi @gregthai,

No, it is OK, I tried with PS1.7.4.2 & the search is working.
In your BO => Shop Parameters => Search page => click on "Re-build the entire index" link, check & feedback.
Thanks!

[2019-01-30 09:30] massehbg11 opened #12359 "Tax calculates wrong precentage"
**Describe the bug**
If i choose the 25% tax, 100 should be 75 (tax excluded)
![tax](https://user-images.githubusercontent.com/45628492/51971157-d0d7f480-2478-11e9-9df3-c8de95fe7489.png)

If i choose the 12% tax 100 should be 88(tax excluded)
![tax12](https://user-images.githubusercontent.com/45628492/51971382-4ba10f80-2479-11e9-8cbf-4b87f270a315.png)

This behavior is in the cart aswell, seems to

[2019-01-30 09:33] khouloudbelguith commented on #12328
Hi @febestore,

In your Project_Folder/js/admin/carrier_wizard.js file could you please try to replace this
[code]

By this
[code]
Thanks to check & feedback.

[2019-01-30 09:39] feyll commented on #12297
Hi @khouloudbelguith I could not trace the nature of the problem, the fact is that I saw that the ps_customer table had lost various configurations and id_customer was not set as primary key and had no AUTO_INCREMENT active
I tried in many ways to insert AUTO_INCREMENT but without success, so I took the table ps_customer table of another store of mine and I copied the configuration in the table of

[2019-01-30 09:54] febestore commented on #12328
Hello,
I've done what You suggested. Again nothing ;/. Error still exist. In attachment, I'm sending a screenshot of the modified js file.
I've recorded error again: https://drive.google.com/file/d/12eXfDGyNYJkxAzMrBQ2Zme0l5MrDv3hq/view
As You can see I've edited carrier with ID 51. The error appears and the carrier was duplicated with ID 93.

As You can see I have so much duplicated carriers it's

[2019-01-30 10:01] gregthai commented on #12352
I did it already. Not working :(

[2019-01-30 10:07] khouloudbelguith commented on #12352
@gregthai, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-b

[2019-01-30 10:13] khouloudbelguith commented on #12359
Hi @massehbg11,

In your first screenshot, you have a
1. price tax excluded = 80
2. Tax rule = 25%
3. Price tax included = (80*25%) +80 = 20 + 80 = 100

In your second screenshot

1. price tax excluded = 89.285714
2. Tax rule = 12%
3. Price tax included = (89.285714 * 12%) +89.285714 = 100

So, it is correct.
Thanks!

[2019-01-30 10:13] #12359 closed, assigned to nobody

[2019-01-30 10:23] khouloudbelguith commented on #12297
Hi @feyll,

Thanks for your feedback.
In my case with PS1.7.4.2 & PS1.7.5.0, I did not manage to reproduce the issue, all the customers created have an auto-increment id created automatically.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization pr

[2019-01-30 10:23] #12297 closed, assigned to nobody

[2019-01-30 10:29] khouloudbelguith commented on #12328
@febestore, with this modification in this file, if you create a new carrier & you edited, it will be duplicated?
If yes, same behavior, try to delete those modifications, in the meantime, could you please check your database schema & compare it with the full schema for 1.7.4.2 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.4.2/install-dev/data/db_structure.sql
Thanks!

[2019-01-30 10:36] khouloudbelguith commented on #11935
Hi @centoasa,

We are aware of this issue, it is added to our bug roadmap.
 If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Your ticket is a duplicate of #9589
So, I close it.
Thanks!

[2019-01-30 10:37] khouloudbelguith commented on #11935
Duplicate of #9589

[2019-01-30 10:46] Ybeske commented on #12335
Before I will put some pressure on Prestashop core developers, I contacted the developers of the module I'm having problems with.

Maybe this info is useful:
The inline style in the page source: I suspect this inline style is added because of the module.
The line ...  height:40px op .col-lg-3  is disturbing the BO interface.

<style>
        .col-lg-3{
                float: left;margin-bottom: 0p

[2019-01-30 10:53] strifefrosst commented on #9835
Why didnt work for me? :S
i replace the 4 lines of code of these files: https://github.com/PrestaShop/PrestaShop/pull/10135/files

Versión PHP: 7.2.14
Versión de PrestaShop: 1.7.4.4

[2019-01-30 11:03] khouloudbelguith commented on #12335
@Ybeske, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-01-30 11:20] febestore commented on #12328
Hello
After creating new carrier error doesn't appear.
Recording: https://drive.google.com/file/d/1jBNYAgidhSE1Hy3tkO88WwYI8EG351VS/view
It seems that old carriers are afflicted. Is there any way to fix them? And delete all of the duplicated carriers?
I need to fix my default carrier - because I have many connections with it at web service. Replacing it will cause few problems.
I am comparing the

[2019-01-30 11:25] khouloudbelguith commented on #12328
@febestore, comparing the database schema will help us to find the problem.
Waiting for your feedback.
Thanks!

[2019-01-30 11:57] tomas862 opened #12360 "Introduce new file type input on every page in back-office"
As In https://github.com/PrestaShop/PrestaShop/pull/12331 I need to introduce new file type input which is used in PrestaShop UI kit.

![filetype](https://user-images.githubusercontent.com/17051250/51979420-c415c980-2495-11e9-9d87-e2bf438e01bb.png)

what I'm thinking now that I can introduce it to all pages which are currently using `FileType` input which currently looks like this:

![no_file_choo

[2019-01-30 13:20] febestore commented on #12328
Hi. I've compared database schema. My file is exactly the same like default schema.
Screenshot and structure below

![sql compare](https://user-images.githubusercontent.com/40421616/51983832-004b2900-249a-11e9-8faa-8641a163e434.JPG)

[db_structure.txt](https://github.com/PrestaShop/PrestaShop/files/2812678/db_structure.txt)

[2019-01-30 13:37] matks commented on #12360
Thanks @tomas862 you're right : the right solution is to improve the UI Kit. Do you feel like trying to do it ? Else I can take it.

[2019-01-30 13:38] MathiasReker commented on #12321
The reference MUST be unic otherwise the import does not work. This is a bug.

[2019-01-30 13:41] tomas862 commented on #12360
I have several solutions in mind and the fact that this is needed for my PR I can improve UI kit ;)

[2019-01-30 13:48] khouloudbelguith commented on #12321
Hi @MathiasReker,

Thanks for your feedback.
Yes, now I manage to reproduce the issue with PS1.7.5.0& PS1.7.4.4.
If I import combinations with the same reference, it only takes the last combination
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-01-30 13:50] MatShir commented on #12170
Hi @Uff182 and @okom3pom,

@Uff182 you are right, it's a bug if we allow editing it should be without adding a new address for the customer. For now, the only way to not pollute your addresses database it's to change it on 'Addresses' directly in 'Customer' menu (not the fastest way).

But as @okom3pom said with the new data regulation (88 article and RGPD and so on), we need to be careful. Our ju

[2019-01-30 14:01] idnovate opened #12363 "Specific price to combinations applied incorrectly"
## SPECS
If " Quantity discounts based on" is set on "Products" in Shop parameters > Products, we should display the following message near the combinations drop-down in product page while adding a specific price: _Note that if you want to base a quantity discount on a product, it will apply to all of its combinations. Go to Shop Parameters > Product Settings to modify it_ with a link to product s

[2019-01-30 14:04] pks891618 opened #12364 "Prestashop 1.7.4.2 backofice multistore issue"
After login to the backoffice i see the issue following issue http://prntscr.com/me9tf3 .Please check the screenshot

[2019-01-30 14:11] khouloudbelguith commented on #12363
Hi @idnovate,

In the BO =>Shop Parameters => Product Settings Page, in the Products (general) section, Select "Combinations" for the "Quantity discounts based on" option, save, check & feedback.
![image](https://user-images.githubusercontent.com/16067358/51986764-4061da00-24a1-11e9-92b0-39052fb14deb.png)
Thanks!

[2019-01-30 14:13] khouloudbelguith commented on #12364
Hi @pks891618,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10684 to fix the issue.
It is fixed in the last release 1.7.5.0.
Your ticket is a duplicate of #10469
Thanks!

[2019-01-30 14:16] gregthai commented on #12352
Here more info :)
Version du logiciel serveur : Apache/2.2.22 (Debian)
Version de PHP : 7.1.2
memory limit : 128M
Version de MySQL : 5.5.44-0+deb7u1
Temps maximal d'exécution : 30

There is no Php, apache or javascript error logs associated with JA translate... excepted this one :

[Wed Jan 30 11:02:29 2019] [error] [client 555.555.55.55] FastCGI: server "/var/www/clients/client3/web111/cgi-bin/ph

[2019-01-30 14:16] khouloudbelguith commented on #12364
@pks891618, in the console, the DOM error is not related to the multistore shop.
What is the exact issue with your shop multistore?
Thanks!

[2019-01-30 14:17] idnovate commented on #12363
You are totally right!!

An improvement could be to hide the combination field from the specific price or display a notification if you have selected "Product" option in this dropdown.

The problem comes from a post https://www.prestashop.com/forums/topic/953986-174-prezzo-specifico-nelle-combinazioni-carrello, so I was not the only one who didn't know about this field :)

[2019-01-30 14:21] Kixell-NicolasJardillier opened #12365 "Create a simple module, install and uninstall => can't access anymore the module"
1 Create the simplest module (for example use a module created with https://validator.prestashop.com/generator)
2 Install
3 Uninstall

==> In module manager you cannot  access anymore the module
You cannot reinstall the module

[2019-01-30 14:22] matks commented on #10503
@LouiseBonnard spotted by Rokas:
https://prnt.sc/me9rq5
In the Employee form, you can choose the "default page" for an Employee and 2 of the options are displayed identical.

In fact it is 2 different pages:
- one allows to control Shop Groups for multistore management
- one allows to control Shop URLs for multistore management

We need to choose 2 different wordings to relate to them. I suggest "

[2019-01-30 14:30] khouloudbelguith commented on #12365
Hi @nicoja,

After uninstalling the module, could you please navigate to the BO => Modules => Module Catalog, search for this module => you can find it?
Thanks!

[2019-01-30 14:35] Kixell-NicolasJardillier commented on #12365
Hi @khouloudbelguith,
no I cannot find it

[2019-01-30 14:36] picolablv opened #12366 "Wrong supplier combination collection management url on product administration. Prestashop 1.7.5.0"
**Describe the bug**
There ir out-of-date combination url on
https://github.com/PrestaShop/PrestaShop/blob/78501e2813c2a88119a4ca0d883b65ab5fc50637/admin-dev/themes/default/js/bundle/product/form.js#L485-L488

After 1.7.5.0  this combination collection route url has changed to
`refresh-combination-form `
therefore on product administration "Option" tab section " Supplier reference(s)" isn't workin

[2019-01-30 14:42] khouloudbelguith commented on #12363
@idnovate, it could be an improvement.
So, if in the BO => Shop Parameters => Product Settings Page, in the Products (general) section, when Products is selected for the "Quantity discounts based on" option, in the product page when we try to add a specific prices with such combinations, it could be displayed an alert.
 If you have already fixed it on your end or if you think you can do it, please

[2019-01-30 14:54] khouloudbelguith commented on #12365
@nicoja, when uninstalling the module, did you select the option " Optional: delete module folder after uninstalling.  "?
In my case no & I can find the module after uninstalling the module
https://drive.google.com/file/d/17khfNTHG50h50PlzQO067cWvY_5qQoLr/view
Thanks to check & feedback.

[2019-01-30 15:02] khouloudbelguith commented on #12366
Hi @picolablv,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0.
![image](https://user-images.githubusercontent.com/16067358/51989917-47401b00-24a8-11e9-8f8b-844ad7095d93.png)

In the PS1.7.4.4 => ok.
![image](https://user-images.githubusercontent.com/16067358/51989975-5cb54500-24a8-11e9-9656-2a04d83e6df2.png)

I’ll add this to the debug roadmap so that it’s fixed. If you ha

[2019-01-30 15:05] Kixell-NicolasJardillier commented on #12365
No I did not remove select the option to delete the module folder ;) And I can see it in my project folder.
I try another module and it is the same.

I use fresh install of Prestashop
Work locally with MAMP PRO
PHP 7.2.10
Nginx / Mysql

[2019-01-30 15:07] khouloudbelguith commented on #12365
@nicoja, what the exact version of PrestaShop?
Is it 1.7.5.0?
Thanks!

[2019-01-30 15:08] Kixell-NicolasJardillier commented on #12365
yes 1.7.5.0
I remove everything and try a new fresh install ..... Prestashop + Module

[2019-01-30 15:15] khouloudbelguith commented on #12365
@nicoja, could you please try with this demo module, in my case, it is OK with nginx/1.14.0 & PS1.7.5.0.
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/2813164/mymodule.zip)
Thanks!

[2019-01-30 15:16] khouloudbelguith commented on #12352
Hi @gregthai,

Did you use the default templet provided by PrestaShop?
Thanks!

[2019-01-30 15:17] Quetzacoalt91 opened #12368 "Remove CategoryPositionColumn and Use PositionColumn instead"
**Describe the bug**
This issue is caused by a parallel work on `1.7.5.x` & `develop` branches which has diverged.

It seems the class `CategoryPositionColumn`, going to be released with PrestaShop 1.7.6.0, is not really needed and could be removed in favor of `PositionColumn`.

It requires an update on the parameters which have changed since the release of PS 1.7.5.0, and must now rely on Symfony

[2019-01-30 15:32] Kixell-NicolasJardillier commented on #12365
@khouloudbelguith I saw your message after
you ll find here my module and also the video : https://drive.google.com/file/d/1So6AhhHpxPYcptnX6eie9f5PjfKlq0h0/view
[k_test.zip](https://github.com/PrestaShop/PrestaShop/files/2813227/k_test.zip)

[2019-01-30 15:39] LouiseBonnard commented on #10503
@matks, thanks for spotting this mistake! I'm alright with the two suggestions, are you able to let me know under what localization these strings are? Perhaps we would have to modify their domains in the meantime. :-)

Also, this double wording can be found in the 'Permission' page of the Advanced Parameters > Team section of the back office. Do you think that it can be changed here as well?

[2019-01-30 15:39] Kixell-NicolasJardillier commented on #12365
@khouloudbelguith Now I tried with your module and also have the problem
https://drive.google.com/open?id=1NAIbQi1uztsNkXoD0xE4MEmkDWORefrM

[2019-01-30 15:44] khouloudbelguith commented on #12365
@nicoja, no after uninstalling a module, you need to search it in the Module Catalog page & not in the Module Manager page
 https://drive.google.com/file/d/17K8k6MNOnCGGCRPTm9Viz9K6KKsT7gzE/view

[2019-01-30 15:51] gregthai commented on #12352
No, i use a different template (from Leo Theme)
I've already asked the dev of the template about this problem. I made him access to FTP and administration.
Here is his answer :
"After verification, this is probably due to a bug Prestashop, we checked the default theme of Prestashop and it was not possible to search in Japanese." :(

[2019-01-30 15:54] MathiasReker commented on #12321
I tried to fix it, but I did not manage to do it.

Can you add it for 1.7.5.1? This minor issue blocks an easy migration to 1.7.

[2019-01-30 15:57] Kixell-NicolasJardillier commented on #12365
@khouloudbelguith Okay, many thanks, so simple !
It could be close .... I am a 1.6 prestashop user, I think that this exchange is clearly a good user test case for you ;)
Again thanks for the time you spend

[2019-01-30 16:00] khouloudbelguith commented on #12321
@MathiasReker, why it blocks the migration for PS1.7.?
Thanks!

[2019-01-30 16:01] khouloudbelguith commented on #12365
@nicoja, you are welcome!
Feel free to open a new one when needed.
THanks!

[2019-01-30 16:01] #12365 closed, assigned to nobody

[2019-01-30 16:04] khouloudbelguith commented on #12352
I tried with PS1.7.4.2 & PS1.7.5.0 with the default theme provided by PrestaShop & it is OK.
I attached a video record.
https://drive.google.com/file/d/1wKMx6fBWd7Aw9FHPQbSRlf1flRBEfjD9/view
THanks!

[2019-01-30 16:04] Kixell-NicolasJardillier commented on #12365
How you delete an uninstall module ? .... another use case
Thks again

[2019-01-30 16:05] MathiasReker commented on #12321
I export all combinations on my PS 1.6 store. Then I import the combinations on a new 1.7 store.

With this bug, I can't have the same Reference.

[2019-01-30 16:18] khouloudbelguith commented on #12321
ping @eternoendless @colinegin what do you think, can we fix this issue in the PS1.7.5.1?
Thanks!

[2019-01-30 16:19] khouloudbelguith commented on #12365
@nicoja, when you uninstall the module, click on the option: "Optional: delete module folder after uninstalling." => so it will be removed after the uninstall.
Thanks!

[2019-01-30 16:31] gregthai commented on #12352
Ok...

So, is there anything else i could try...

[2019-01-30 16:34] khouloudbelguith commented on #12352
@gregthai, did you installed your shop with Japanese language or did you import this language from BO?
Thanks!

[2019-01-30 16:38] Kixell-NicolasJardillier commented on #12365
@khouloudbelguith I meant if you want to delete a module already uninstalled, not delete an installed module during uninstall process.
I think this cannot be possible with this use case

[2019-01-30 16:40] khouloudbelguith commented on #12365
@nicoja, do you need to remove the module folder from your Project_Folder/modules/ path?
Thanks!

[2019-01-30 16:46] Kixell-NicolasJardillier commented on #12365
Yes
I think that we should be able to delete an uninstalled module from the "Catalogue de modules" interface in the backoffice, don't you ?
At the moment if you do not want to delete it manually (i.e., ssh, ftp, etc ...) and want to delete it from the backoffice interface, you have to reinstall the module then unsintall with the option delete checked.
Hope to be clear enough

[2019-01-30 16:48] matks commented on #10503
@LouiseBonnard After checking further, I discovered these are actually the `Tabs` (1 tab = 1 item of the navbar in the backoffice) values which are translated.
The issue comes from [this file](https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/data/xml/tab.xml#L428), lines 428 et 431. Two tabs who share the same id "Multistore" and consequently are translated the same.

In order to

[2019-01-30 16:53] Quetzacoalt91 commented on #10503
I'm afraid you have to make this update manually:

https://github.com/PrestaShop/PrestaShop/blob/018a913a1b79e56c725b7b51c5bbc37b4ab352cd/install-dev/upgrade/php/ps_1750_update_module_tabs.php#L71-L86

[2019-01-30 16:55] gregthai commented on #12352
Installed in french then imported JAP from BO

[2019-01-30 17:01] ivysotskyi opened #12371 "Better Support UTF8 charset in products with combinations page"
**Is your feature request related to a problem? Please describe.**
My hosting uses cp1251 default collate charset in MySQL database. That's why it is needed to set utf8 on every connection. With some hack in PDO constructor (#11648), I've launched my shop. But seems like only one thing is not working: combinations window in "new product" still has the wrong charset.

**Describe the solution you'd

[2019-01-30 17:04] khouloudbelguith commented on #12365
@nicoja, yes it is clear.
But in the Catalog page, we have only listed all modules not installed.
In the Module manager page, we can uninstall a module & removed it completely when we click on this option "Optional: delete module folder after uninstalling" => it is the best behavior.
Thanks!

[2019-01-30 17:08] khouloudbelguith commented on #12371
HI @ivysotskyi,

Thanks for your report.
ping @eternoendless, @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-01-30 17:13] khouloudbelguith commented on #12328
Hi @febestore,

Despite our several trials, we could not reproduce your issue.
The only we can reproduce is reported in this ticket: #9592.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2019-01-30 17:13] #12328 closed, assigned to nobody

[2019-01-30 17:16] khouloudbelguith commented on #12352
@gregthai, have you tried to contact your host about this issue` [Wed Jan 30 11:02:29 2019] [error] [client 555.555.55.55] FastCGI: server "/var/www/clients/client3/web111/cgi-bin/php5-fcgi-*-443-epicerie-alimentation-japonaise.com" stderr: PHP message: PHP Warning: file_exists(): open_basedir restriction in effect. ` ?
Thanks to check with them & feedback.

[2019-01-30 17:33] Kixell-NicolasJardillier commented on #12365
Never mind, should be another discussion.
Best regards @khouloudbelguith and thanks again for all the time you took.

[2019-01-30 17:50] khouloudbelguith commented on #12365
@nicoja, you are welcome!

[2019-01-30 17:57] LouiseBonnard commented on #10503
Sorry, I might have missed something, how the module tabs could be related to the multistore management? I'm still discovering the (dark) technical side of PrestaShop, aha! Anyway, we can talk about it tomorrow, no worries. :-)

[2019-01-30 18:18] RUMBuilder commented on #12135
@khouloudbelguith
How about another issue i hadn't notice until attempting to test again on a custom page/cms/etc. When I click Design>Pages, i get "Access Denied"... and i'm the admin. ???

[2019-01-30 18:20] jolelievre commented on #11403
Hi @shahin0x
this PR fixes a few RTL linked bugs https://github.com/PrestaShop/PrestaShop/pull/12370
The popover is only partially fixed, seems like the problem is fixed in Bootstrap 4, but we use Bootstrap 3 which doesn't manage well the popover with RTL direction
The fix I proposed is more like a workaround:

<img width="1206" alt="capture d ecran 2019-01-30 a 19 16 06" src="https://user-images.

[2019-01-30 18:23] joaoafpedro commented on #12207
This is still an issue. As you can see from my video, it takes roughly 2-3 seconds for the page to update the price alone. The price/quantities are the only thing I'm setting differently for this product. It would be very appreciated if as solution for it was found asap and this is revealing to be a real problem.
![ca71398b3eef7e080a10942bd7492266](https://user-images.githubusercontent.com/4719015

[2019-01-30 18:39] jolelievre commented on #12207
Hi @joaoafpedro
as you can see a PR is linked to this issue https://github.com/PrestaShop/PrestaShop/pull/12337 It "reverts" a modification in the js that was introduced in 175.

There is a delay between each action on a product and the request to fetch new datas This delay is here to avoid multiple unnecessary request when modifying quantity (for example) but it was too long (1.5 sec) so we adapt

[2019-01-30 18:43] joaoafpedro commented on #12207
Hi @jolelievre
Thank you for your reply. Could you please guide me through fixing this issue then?
That'd be very much appreciated. I looked into the link you left there but didn't find any sort of guide on how to fix it.

Best regards

[2019-01-30 18:56] grigorevlad commented on #12207
@joaoafpedro , the fix is still open for testing. You can try to see if it works fine for you, just go here and reproduce on your server: https://github.com/PrestaShop/PrestaShop/pull/12337/files?utf8=%E2%9C%93&diff=split

[2019-01-30 18:59] jolelievre commented on #12207
Hi @joaoafpedro

the link I provided is not a fix for you to apply. It is a pull request which purpose is to be merged/integrated in the PrestaShop core code. This PR targets the coming 1.7.5.1 version that will be released soon.

So I would advise you to wait for this release and update your shop, this way you will get this fix and other ones that are currently being tested and validated by our t

[2019-01-30 19:18] pks891618 commented on #12364
http://prntscr.com/meepif

Please check screenshot , this is the error occuring on 1.7.4.2

[2019-01-30 19:34] cedricfontaine opened #12373 "Module controller translation does not work"
When we create a module with a front controller based on a layout, legacy translation does not work.

Following the rule to translate a module, as it's a non prestashop module, and we don 't have theme based tpl, we use the legacy translation system.

Our controller extends ModuleFrontController and display a specific template in initContent() using $this->setTemplate('module:purchase/views/templa

[2019-01-30 21:36] ghost opened #12374 "Can't install any module on 1.7.5"
Can't install any module on 1.7.5 (both on fresh and upgraded store)
Ziped, or unziped, custom or this from https://validator.prestashop.com/generator
[topinfo.zip](https://github.com/PrestaShop/PrestaShop/files/2814530/topinfo.zip)

Error!
Cannot install module topinfo. The module is invalid and cannot be loaded.

It's look like PrestaShop block to install non Marketplace modules...

![zrzut 2019

[2019-01-30 21:37] SharakPL commented on #12371
@ivysotskyi the fix below might help a bit, but the main problem is with the mysql server configuration. Check its variables, specifically `init_connect`. It should be empty or `SET NAMES utf8`.
___
It seems only MySQLi has this value checked:
https://github.com/PrestaShop/PrestaShop/blob/aec97ddb1551fd7d6d56f75549a992d6937caf50/classes/db/DbMySQLi.php#L76-L79

Adding that condition to PDO connect

[2019-01-31 05:23] dheerajwebkul opened #12380 "'View My Shop' button is not working when ssl is active"
**Describe the bug**
'View My Shop' is not creating automatic https handling URL.
See this code:
https://github.com/PrestaShop/PrestaShop/blob/1.7.5.0/classes/controller/AdminController.php#L1945

I have already raised issue here:
http://forge.prestashop.com/browse/BOOM-4348?filter=-2

Let me know if this is not duplicate of any PR. I can create a PR for this issue.
Thanks,

**To Reproduce**
Steps

[2019-01-31 07:18] mrabsinthe opened #12381 "Stocks page - Add number of items per page for listing pagination"
This page needs to have an option to select number of items per page (same as on "Products" page) - currently not available.

[2019-01-31 07:47] ivysotskyi commented on #12371
Hi @SharakPL , thank you, I tried it. But it does not help in my case. It seems that it is not going through pdo at all.

See method findByLangAndShop of class AttributeRepository and set breakpoint there. If you already get into this function set breakpoint in PDO/MySQLi connect method and make sure that it doesn't go there.

[2019-01-31 07:48] rtvt opened #12382 "Can't import a theme after export"
I've exported theme from perfect working 1.7.5 without any errors and can't import it in clean install of another 1.7.5. Got this error:
Warning on line 353 in file .../src/Core/Addon/Theme/ThemeManager.php
[2] file_get_contents(.../var/cache/dev/sandbox/5c520159ca28a//config/theme.yml): failed to open stream: No such file or directory

Notice on line 49 in file .../src/Core/Addon/Theme/Theme.php

[2019-01-31 07:56] khouloudbelguith commented on #12380
Hi @dheerajwebkul,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12253
So, I close it.
Thanks!

[2019-01-31 07:56] #12380 closed, assigned to nobody

[2019-01-31 07:57] khouloudbelguith commented on #12380
Duplicate of #12253

[2019-01-31 08:03] khouloudbelguith commented on #12374
Hi @PrestaShark,

I did not manage to reproduce the issue with PS1.7.5.0 fresh install or after an upgrade.
I attached a video record.
https://drive.google.com/file/d/1X-MJb4--bjiegPB_HqwnzJBuRvpjNUjR/view
Thanks to check & feedback.
Thanks!

[2019-01-31 08:08] khouloudbelguith commented on #12381
Hi @mrabsinthe,

Thanks for your report.
Yes, it could a great idea to add "Items per page" in the Stocks page as on "Products" page.
![image](https://user-images.githubusercontent.com/16067358/52040435-ac8f1d00-2537-11e9-9c8a-808aa6ba1f76.png)
@colinegin what do you think?
Thanks!

[2019-01-31 08:08] dheerajwebkul commented on #12380
@khouloudbelguith Ok
But I am not getting any warning regarding https in backoffice as in the issue #12253

[2019-01-31 08:21] febestore commented on #12328
I've found bug by myself.
It was URL problem in Carrier.php. File needed few changes

[2019-01-31 08:27] ghost commented on #12374
Hi @khouloudbelguith  !
Wow... its means something is in hosting settings. I wil give more information. Because its very weird...

[2019-01-31 08:30] khouloudbelguith commented on #12380
@dheerajwebkul, yes, some warnings are disabled in some browser.
You can follow this [link](https://www.technipages.com/chrome-enabledisable-not-secure-warning) to enable “Not Secure” Warning.
After enabling this option, you can get warnings in the console
![image](https://user-images.githubusercontent.com/16067358/52041448-c4b46b80-253a-11e9-9c2d-f05a662d4a82.png)
Thanks!

[2019-01-31 08:33] khouloudbelguith commented on #12328
@febestore, I'm glad that you solve your issue.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Our developers will help you get it right.
Thank you!

[2019-01-31 08:34] khouloudbelguith commented on #12374
@PrestaShark, that's ok.
Waiting for your feedback.
Thanks!

[2019-01-31 08:43] #12259 closed, assigned to PierreRambaud

[2019-01-31 08:43] #12032 closed, assigned to PierreRambaud

[2019-01-31 08:51] SharakPL commented on #10198
@SebastienLi @khouloudbelguith was there PR for that? It keeps happening in 1.7.5.0. I think it would be very much helpful if prestashop admin had some checks on Advanced -> Information page to test these small configuration glitches.

Adding this to .htaccess is suppose to be the solution (I confirm it works):
[code]
as stated here https://www.prestashop.com/forums/topic/945641-cant-delete-produc

[2019-01-31 09:07] krasnycz commented on #11784
@khouloudbelguith See #11904 that user got same issue as I have. Also on multiple forums so many people report the problem. I have 2 more instances of PS 1.7.4.2 upgraded to 1.7.5.0 including modules with 1click udpate without problems. But when trying to clean cache the error mentioned in #11904 occurs.

Seems major issue is the error after update to 1.7.5.0 using 1click. And not updating modules

[2019-01-31 09:13] khouloudbelguith commented on #12382
Hi @rtvt,

I did not manage to reproduce the issue with PS1.7.5.0.
I tried with custom following these steps:
1. Shop1: export the theme => zip successfully exported
2. Shop2: import the zip downloaded => OK.

I attached a video record
https://drive.google.com/file/d/1Bejol9lbq7wrTLEd8I0JVqp-AitS2ztI/view
Could you please try to export your theme using the command from your terminal as described i

[2019-01-31 09:18] #11927 closed, assigned to jolelievre, colinegin

[2019-01-31 09:24] khouloudbelguith commented on #11784
Hi @krasnycz,

Since I can not reproduce the issue, I pinged our developer @Quetzacoalt91 to find what's wrong, if this problem is related to PrestaShop & the autoupgrade module, or it is a server configuration or customization problem.
Thanks!

[2019-01-31 09:29] khouloudbelguith commented on #12364
@pks891618, it is the [DOM] console issue, fixed in the PS1.7.5.0.
And you are using the PS1.7.4.2, is it?
Thanks!

[2019-01-31 09:32] khouloudbelguith commented on #12135
Hi @RUMBuilder,

This issue is different from this one, can you open a new one with more information about your configuration.
Thanks!

[2019-01-31 09:33] nziria commented on #10264
Glad to see that works. hope for fix in the next minor update

[2019-01-31 09:42] khouloudbelguith commented on #12373
Hi @cedricfontaine,

In the last release PS1.7.5.0, we have made some fixes related to the translations.
You can follow this PRs:
https://github.com/PrestaShop/PrestaShop/pull/11345 fixes https://github.com/PrestaShop/PrestaShop/issues/9697
https://github.com/PrestaShop/PrestaShop/pull/9326 fixes [issue fixed in the PS1.7.4.2](http://forge.prestashop.com/browse/BOOM-5983)
https://github.com/Presta

[2019-01-31 09:48] matks commented on #10264
@nziria Hi ! I created a PR with your fix: https://github.com/PrestaShop/PrestaShop/pull/12384

I credited you in the commit message. I tried to also make you the author of the commit (following [this](https://dev.to/ztickm/how-to-attribute-another-author-when-youre-committing-on-git-1cob) method) but I need your email then. If you want to be credited as the commit's author, please provide me your

[2019-01-31 10:31] khouloudbelguith commented on #10198
@SharakPL, with fresh install 1.7.5.0, I did not manage to reproduce the issue. (I did not edit my .htacess file)
[htaccess.zip](https://github.com/PrestaShop/PrestaShop/files/2816738/htaccess.zip)
I attached a video record.
https://drive.google.com/file/d/1XrQGRmNhMY4LDUwQvzWOobg21Wp-JYue/view
Thanks!

[2019-01-31 10:42] khouloudbelguith commented on #11523
Hi @Aplastaneitor,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-31 10:42] #11523 closed, assigned to nobody

[2019-01-31 10:42] khouloudbelguith commented on #12000
Duplicate of #9627

[2019-01-31 10:42] #12000 closed, assigned to nobody

[2019-01-31 12:00] rtvt commented on #12382
Thank you for answer. Hmm, I got this: https://gyazo.com/913bf357e43f7b6415401fa460c655ce

[2019-01-31 12:38] SharakPL commented on #10198
@khouloudbelguith because it's all related to specific server configuration. I also didn't experience it on localhost or 2 other servers. But the configurations may differ and the problem is prestashop doesn't inform that something is wrong. Simply nothing happens if I try to delete a combination and debug mode just shows 40x error as response but nothing about what's causing it. It would be much

[2019-01-31 12:57] bmagneCesi commented on #12300
Hi @khouloudbelguith, any news for this bug ?
It's very important and critical because I can't send translated variables to my javascript files with this issue. I need to send them from my controller via the Media::addJsDef() method.

[2019-01-31 13:12] Alexandre17220 opened #12385 "prestashop 1.7.3.3 webservice - get products - filter date_upd - product"
Hi,

I have find a bug , I think :
I do this request via WebService to get product list modified between two dates :

$xml = $webService->get(array('resource' => 'products&date=1', 'display'  => "[name,price,code_zone,wholesale_price,description,reference,id_category_default,id_category_default,id,date_upd,date_add]",
"filter[date_upd]" => "[2018-12-03 16:40:48,9999-12-31 00:00:00]","sort" => "[da

[2019-01-31 13:26] khouloudbelguith commented on #12300
@bmagneCesi, sorry not yet, I added this issue to the debug roadmap. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

[2019-01-31 13:45] khouloudbelguith commented on #12385
Hi @Alexandre17220,

I checked with this link

```http://Shop_Url/api/products?display=full&filter[date_upd]=[2019-01-29 16:16:39,2019-01-31 00:00:00]&date=1&sort=date_upd_ASC```

to filter products by `date_upd` & they are well displayed.
Thanks to check & feedback.

[2019-01-31 13:52] khouloudbelguith commented on #12382
Hi @rtvt,

Could you please provide me with your theme to test it.
This is a public space.
You can provide me the theme by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-01-31 13:54] kpodemski commented on #12300
@khouloudbelguith

sorry but you're working (core team) on many things at this moment ignoring issues with translations for almost 2 YEARS

isn't it critical to have translations working properly in web application?

[2019-01-31 13:59] khouloudbelguith commented on #12300
ping @colinegin @marionf what do you think?
Can we add this issue to the roadmap PS1.7.6?
Thanks!

[2019-01-31 14:05] Alexandre17220 commented on #12385
Yes, but for some date the result it's very strange cf :

"filter[date_upd]" => "[2018-12-03 16:40:48,9999-12-31 00:00:00]","sort" => "[date_upd_ASC]"));
And I got a list of products...but the first product have date_upd = **2018-09-04 14:35:17**...

[2019-01-31 14:21] corus87 commented on #12328
Hi @febestore I have the same error, could you explain what changes you exactly did?

[2019-01-31 14:23] rtvt commented on #12382
Hi @khouloudbelguith, thank you, I just sent you a mail.

[2019-01-31 14:24] khouloudbelguith commented on #12382
@rtvt, thanks!
I just received the email.
I will check & feedback.

[2019-01-31 14:24] ChineseNorris commented on #9839
Hello,

Can we please type in english so everyone can at least know what's going on?
I'm facing the same issue in all prestashop versions and I think this should be a major Prestashop Core problem, since it won't check the stock properly, nor re-stock properly after a canceled order.
After checking for a while, here is another issue without resolve that has the same function:
http://forge.prestash

[2019-01-31 14:31] ChineseNorris commented on #9634
Forgot to mention that this occurs only with customer with same abandoned cart, won't happen with new customers after the order has been processed since you can't click the button "add to cart", since it's unavailable to click.
In order to fix this huge problem, there should be a double check before the "payment" button (after selecting carrier and payment method) to check if there is stock, and t

[2019-01-31 14:45] khouloudbelguith commented on #12319
@LouiseBonnard Done!
Thanks!

[2019-01-31 15:04] khouloudbelguith commented on #12382
Hi @rtvt,

I unzipped the folder provided, but the strange thing, that it contains only files without folders
![image](https://user-images.githubusercontent.com/16067358/52062950-cc433700-2571-11e9-8723-ab9241a935b3.png)
This is an invalid theme, so I can't upload it.
Thanks!

[2019-01-31 15:10] rafaviana opened #12386 "Dashboard trends module not working"
Hi,
Since I upgraded my store to 1.7 dashboard trends module stopped working. It's not showing any data (no orders, no sales, etc). I already tried to reset it but no result…

There are no errors in the browser console and error_log as well

Take a look the these screenshots so you can understand:
<img width="1207" alt="screen shot 2019-01-31 at 4 09 34 pm" src="https://user-images.githubuserconte

[2019-01-31 15:14] LouiseBonnard commented on #12319
@khouloudbelguith, I've just approved the suggested changes, thank you very much!

[2019-01-31 15:15] #12319 closed, assigned to nobody

[2019-01-31 15:19] marionf commented on #10193
@matks Do you think it's possible to solve this issue #10747 during the migration of this page ?

[2019-01-31 15:23] marionf commented on #9932
@thbl Can you record it or describes all the steps to reproduce the issue ?

[2019-01-31 15:31] khouloudbelguith opened #12387 "There is no alert after editing quantity in the Stocks page - BO"
**Describe the bug**
In the BO => Catalog => Stocks page => we try to "Edit quantity" with the arrow icons, then when we click on "Apply new quantity" or with the "Check" button=> There is no successful green alert displayed, it should be displayed a success message: `stock successfully updated`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => SELL => Catalog => Stocks => Stock Ta

[2019-01-31 15:36] khouloudbelguith commented on #12387
ping @YosraAk

[2019-01-31 15:37] #11844 closed, assigned to nobody

[2019-01-31 15:38] rtvt commented on #12382
Thank you for check, so this is a .zip created by Prestashop after click on export theme button. From working theme with all the files and folder. I don't understand why it shows folder as filenames with \ slash.

[2019-01-31 15:39] khouloudbelguith commented on #12382
@rtvt, could you please provide your theme not exported, but before the export, to check it.
Thanks!

[2019-01-31 15:52] khouloudbelguith commented on #12386
Hi @rafaviana,

You have created an [issue previously](https://github.com/PrestaShop/PrestaShop/issues/12027) about the same bug.
During this period "2019-01-01 2019-01-31" did you generated any new invoices?
In my case, I did not manage to reproduce the issue with 1.7.5.0 after upgrade from PS1.7.4.4 with the 1-click upgrade v4.5.1.
![image](https://user-images.githubusercontent.com/16067358/5206

[2019-01-31 15:57] Quetzacoalt91 commented on #11784
That's really frustrating because I can't help without reproducing the issue, nor telling you if this is coming from PrestaShop, the upgrade module, or the server configuration.

I tried two upgrades on my side, 1.7.4.2 & 1.7.4.4 --> 1.7.5.0. None of them allowed me to get the same errors.

@krasnycz you were talking about the forum, would you mind linking here the topics talking about this issue?

[2019-01-31 16:03] nicoladze commented on #12313
J'ai modifié toutes les autres tables, mais dans ma table
PREFIX_product_attribute je n'ai pas de colonne product_supplier_reference

Le ven. 25 janv. 2019 16:20, khouloudbelguith <notifications@github.com> a
écrit :

[2019-01-31 16:16] khouloudbelguith commented on #12313
@nicoladze, yes you are right, it is the table `supplier_reference`, https://github.com/PrestaShop/PrestaShop/blob/1.7.5.0/install-dev/data/db_structure.sql#L1713
Thanks!

[2019-01-31 16:30] nicoladze commented on #12313
I ran the requests and now, when I try to go to my BO or my FO, I have :

500 Server Error

Oops, something went wrong.

Try to refresh this page or feel free to contact us if the problem persists.

Le jeu. 31 janv. 2019 17:16, khouloudbelguith <notifications@github.com> a
écrit :

[2019-01-31 16:35] khouloudbelguith commented on #12313
@nicoladze, did you checked manually in your database "Structure" tab?
Thanks!

[2019-01-31 16:37] nicoladze commented on #12313
To check what? The changes of Varchar?
Yes, I did

Le jeu. 31 janv. 2019 à 17:35, khouloudbelguith <notifications@github.com>
a écrit :

[2019-01-31 16:37] marionf opened #12390 "Showcase cards are not definitely closed in multistore context"
**Describe the bug**
Showcase card reappear after closing it in multistore context

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > General
2. Enable multistore
3. Go on Advanced parameters > Multistore > Create a new store
4. Define the URL for this new store
5. Click on Shop parameters > SEO & URLs
6. Close the card
7. Refresh the page, the card is still here

**Addi

[2019-01-31 16:40] khouloudbelguith commented on #12313
@nicoladze, before doing these changes have you error 500?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

[2019-01-31 16:50] rafaviana commented on #12386
Hi @khouloudbelguith . Where can I switch on the setting to generate invoices in the upcoming orders?
Thanks

[2019-01-31 16:58] #12338 closed, assigned to jolelievre

[2019-01-31 16:59] khouloudbelguith commented on #12386
@rafaviana, you should follow this [comment](https://github.com/PrestaShop/PrestaShop/issues/12027#issuecomment-451469159) to generate all invoice for the previous order.
In your case, you disabled the generation of invoices in your status => so the upcoming orders cannot have invoices.
Thanks!

[2019-01-31 17:04] khouloudbelguith commented on #12385
@Alexandre17220, I tried with your array, but something get wrong in the `HTTP REQUEST HEADER `
The Get URL is incorrect
![image](https://user-images.githubusercontent.com/16067358/52071052-7d51cd80-2582-11e9-8317-bc1659b1d70b.png)
You should have an URL like this `http://Shop_Url/api/products?display=full&filter[date_upd]=[2019-01-29 16:16:39,2019-01-31 `

Thanks!

[2019-01-31 17:05] khouloudbelguith commented on #9839
Hi @ChineseNorris,

This issue is added to our bug roadmap.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2019-01-31 17:11] crishnakh commented on #11172
In 1.7.5 the problem persist. This solution works, temporally, but if you filter by carrier in the discount, this solution is not working.

[2019-01-31 17:17] #12299 closed, assigned to Quetzacoalt91

[2019-01-31 17:26] rafaviana commented on #12386
@khouloudbelguith I don't need to regenerate new invoices, thank you anyway. To enable the generations of invoices what do I need to do?
Thanks

[2019-01-31 17:31] marionf opened #12392 "Vertically align the pagination system components"
**Describe the bug**
Vertically align the pagination system components on **ALL** migrated pages

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced parameters > Logs
2. Add more than 10 logs
3. Pagination components are not aligned

**Screenshots**
![50214246-0ff62e80-0380-11e9-8d41-7af751038e15 1](https://user-images.githubusercontent.com/13449658/52072935-7b8a0900-2586-11e9-9df

[2019-01-31 17:32] marionf commented on #12392
@matks FYI

[2019-01-31 17:34] khouloudbelguith commented on #12386
@rafaviana, the order created is it valid?
Thanks!

[2019-01-31 17:35] MatShir commented on #12170
Hello @Uff182 and @okom3pom,

So any customer can ask to change their address before billing so in some cases the feature is required. But a merchant can't change the invoice when it is sent to the customer. @okom3pom, in the next version we will improve the feature blocking addresses changes when the invoice was sent to the customer.

Thank you all,

[2019-01-31 17:42] rafaviana commented on #12386
@khouloudbelguith I'm sorry I didn't understand, what do you mean?

[2019-01-31 17:43] khouloudbelguith opened #12393 "Generate combination issue when the attribute name contains a symbol"
**Describe the bug**
In the product page, when we try to generate a combination and the attribute's name has a symbol for example `red/black` or `green yellow`, an error occurs

**To Reproduce**
Steps to reproduce the behavior: (Mode debug is enabled)
1. Go to BO => Catalog => Attributes => Color attribute page
2. Create new value for example `red/black` or `green yellow`
3. Go to BO => Products
4

[2019-01-31 17:57] MatShir opened #12394 "Invoice changes after it was sent to the customer"
**Issue**
When an order is made, I can change the customer information from the order page in the customer section. These changes update the invoice with the new information even after the invoices were sent to the customer. So a merchant can have different invoices for the same order which it's not legal.

**Describe the solution you'd like**
To block any invoice changes after it was sent to any

[2019-01-31 18:49] krasnycz commented on #11784
@khouloudbelguith @Quetzacoalt91 I already tried to remove all 3rd party modules, theme including files from fs and db manually. Moreover all overrides were removed. It's 1742 generating the same error. I also tried move the PS to a2hosting VPS and localhost setup. It's same result. The problem is that this site was already upgraded using autoupgrade few times before so very dificult to simulate t

[2019-01-31 19:10] nicoladze commented on #12313
I just back up my database and I am still with Error 500...

Before the running of SQL requests, I had not this problem.

Le jeu. 31 janv. 2019 à 17:40, khouloudbelguith <notifications@github.com>
a écrit :

[2019-01-31 19:31] nicoladze commented on #12313
I just backed up using the back up from 14 days ago, for the host and the
database and I still have Error 500 for the FO and this for the BO

[image: image.png]

Le jeu. 31 janv. 2019 à 20:09, Nicolas EVRARD <nicolas.evrard06@gmail.com>
a écrit :

[2019-01-31 19:43] Ditwo opened #12396 "1.7.5.0 - lazyarray prevents from access content of $params in hookdisplayCartExtraProductActions"
**Describe the bug**
Get the id_product from **$params in hook** hookdisplayCartExtraProductActions is **impossible** because of **LazyArray** (protected variable)
id_product is an example of course. All the product variables are unvailaible.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a module mymodule hooked to hookdisplayCartExtraProductActions
2. in mymodule.php, into function

[2019-01-31 19:59] damiafrau commented on #10018
This worked for me, PS 1.7.4.4 and ps_facetedsearch 2.2.1

Thank you @prestonBot !!

[2019-01-31 19:59] Eolia commented on #10264
On my customized 1.6.1.4 I have two options more^^
![image](https://user-images.githubusercontent.com/10416885/52081682-260c2700-259b-11e9-9fc5-b46be79187f9.png)

[2019-01-31 20:58] julianmatz commented on #12108
@markaussie Thanks for re-opening this issue. Looked like my report #11634 was being ignored.

[2019-01-31 22:44] PierreRambaud commented on #12108
@julianmatz I don't understand why your report has been closed to quickly. I'm in favor to make sure every systems are using the best practices about security.

[2019-01-31 22:56] julianmatz commented on #12108
@PierreRambaud May have been misunderstood or perhaps it was my wording, but I'm happy to see the issue got picked up :) And nice work!

[2019-01-31 23:10] JanicW commented on #9809
Hello, is there any news about this bug. I really need to add more than 390 combinations.

[2019-02-01 07:51] khouloudbelguith commented on #12393
I tried with PS1.7.4.4 => OK
I make tests on the machine shuffle PS1.7.5.0 => NOK

[2019-02-01 08:11] khouloudbelguith commented on #12386
Hi @rafaviana,

For each order created, there are different `order statuses` enables you to easily manage your orders and returns, and keep your customers informed of the evolution of their purchase.
The variously available statuses are visible and editable in the "Statuses" page, under the "Order settings" menu.
In the Statuses page, there are different options:
1. Consider the associated order a

[2019-02-01 08:17] khouloudbelguith commented on #12313
Hi @nicoladze,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-02-01 08:42] Alexandre17220 commented on #12385
maybe custom field code_zone... display=full -> no relation with the problem
there is not the problem because the second request give a correct result

[2019-02-01 09:04] marionf opened #12401 "Breadcrumb in search results page brings to 404 page"
**Describe the bug**
See https://github.com/PrestaShop/PrestaShop/pull/12211#issuecomment-459337917

**Additionnal information**
PrestaShop version: develop
PHP version: N/A

[2019-02-01 09:06] marionf commented on #12390
This issue is for all configuration variables in multistore context

[2019-02-01 09:12] khouloudbelguith commented on #12396
Hi @Ditwo,

Thanks for your report.
I tried PS1.7.5.0 with this demo module
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/2820884/mymodule.zip)
and it is OK
![image](https://user-images.githubusercontent.com/16067358/52113526-d284f200-2609-11e9-8720-d4dba0ad3e53.png)
Thanks to check & feedback.

[2019-02-01 09:13] ghost commented on #11038
Any news about this FR?

[2019-02-01 09:21] sarjon commented on #11038
hi @PrestaShark,

as you can see, it's waiting for UI mockups. :)

[2019-02-01 09:35] khouloudbelguith commented on #12393
Hi,

Other different steps to reproduce the same issue with PS1.7.5.0:
1. Enable debug mode
2. Create a product with combination "Size - S" for example
3. Delete this combination
4. Try to create another combination => Error

![image](https://user-images.githubusercontent.com/16067358/52114698-0281c480-260d-11e9-84bd-b2ec09c0aea5.png)

5. if we try to create other combinations / other product with

[2019-02-01 10:02] matks commented on #10193
@marionf probably :) so I add it to the todo-list

[2019-02-01 10:54] mark-app commented on #9609
Hi, This is still a bug in PrestaShop 1.7.5.0

If I want to remove an orderline in multistore and I have selected the multistore on all stores I can't delete the order line. I can only remove the order line after putting the store on the same store the order is created in.

Also, the order gets corrupt after first try to do the remove on multistore selected all stores. If you retry the remove the

[2019-02-01 11:17] khouloudbelguith commented on #9609
Hi @mark-app,

The issue is added to our bug roadmap.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2019-02-01 11:21] ghost commented on #12170
Thank's

[2019-02-01 11:23] khouloudbelguith commented on #12385
Hi @Alexandre17220,

Could you please provide me the exact script "GetProduct" that you use to test it.
I tried with this script
[code]

I have a wrong Get URL
`GET /1750/api/products?filter%5Bdate_upd%5D=%5B2018-12-03+16%3A40%3A48%2C9999-12-31+00%3A00%3A00%5D&display=full HTTP/1.1`

Thanks!

[2019-02-01 11:57] holle75 commented on #9804
I just realized this problem after spending hundreds of hours to configure my fresh setup of presta 1.7.5. ... btw not as bad as everyone is saying ... but when it comes to languages and translation more than suboptimal. Let´s say very very bad. It seems none of you programmers ever had to translate (or fixing bad wording)  presta into more than one language (even this is a pain).

This bug now is

[2019-02-01 12:34] Alexandre17220 commented on #12385
ok the code :

[code]

[2019-02-01 13:25] gregthai commented on #12352
Hi @khouloudbelguith ,
Would like to tell you that everything works now :)

The solution is so stupid...
The "minimum word size" parameter was set to 4. I changed it to 3...

Thanx a lot for the time you spent trying to help me.
Have a nice day :)

[2019-02-01 13:28] khouloudbelguith commented on #12352
@gregthai, thanks for your feedback.
Since it is fixed, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2019-02-01 13:28] #12352 closed, assigned to nobody

[2019-02-01 13:40] khouloudbelguith commented on #12385
@Alexandre17220,

Thanks for your feedback, after deleting the `code_zone` field, I tried with your script & it OK.
I attached a video record.
https://drive.google.com/file/d/16Q-4VS3ipuzbXmhuhBBBRU6BnCQINO5b/view
Thanks to check & feedback.

[2019-02-01 13:50] Ditwo commented on #12396
Hi Khouloud,
Thank you so much for your time and your reply.
It's ok, Im confused, I found out the reason. It's because of the cast to an array I usually execute in this hook :
[code]
From PS 1.7.5 onwards, this cast is not relevant.
Have a nice day
Denis

[2019-02-01 13:50] #12396 closed, assigned to nobody

[2019-02-01 13:54] khouloudbelguith commented on #12396
@Ditwo, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-02-01 14:03] o-Chamie-o commented on #10640
I'm sorry but during the prestashop installation, no mention of that.

During the "system checking" prestashop should shout it out that the php-intl extention is needed.
Just a though ;)

[2019-02-01 14:08] khouloudbelguith commented on #10640
Hi @o-Chamie-o,

This check is added in the next release PS1.7.5.1.
Heres' the PR: https://github.com/PrestaShop/PrestaShop/pull/11937.
Thanks!

[2019-02-01 14:14] Alexandre17220 commented on #12385
there is not the problem because the second request give a correct result

Could you understand ?

[2019-02-01 14:17] eternoendless commented on #9804
Hi there,

Not having an issue fixed immediately (or in a fixed timeframe) does not mean that it won't be fixed, or that we don't care. It doesn't mean that the issue is NOT important either. It just means that other issues have been considered, for whatever reason, *more* important, so they were (or are being) tackled first. There's an immense amount of work to be done (965 issues right now, and

[2019-02-01 14:23] khouloudbelguith commented on #12385
@Alexandre17220, I tried your script to check if your issue can be reproduced in my case

But in my case, `"filter[date_upd]" => "[2019-01-30 16:40:48,9999-12-31 00:00:00]"`, I don't have any product with dat_upd < 2019-01-30 16:40

![image](https://user-images.githubusercontent.com/16067358/52128339-f90c5280-2634-11e9-8c90-8e2d98257e72.png)
thanks!

[2019-02-01 14:24] morghy1992 opened #12404 "Problem after update 1.7.5 prestashop"
Hi everyone,
I did the upgrade of my prestashop 1.7.2 to 1.7.5 but after downloaded that was ok
I refresh the page tried to log in to my BO but got error 500.
How can I fix it?

**Describe the bug** The server returned a "500 Internal Server Error".
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll dow

[2019-02-01 14:26] khouloudbelguith commented on #12404
Hi @morghy1992

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-02-01 14:31] morghy1992 commented on #12404
Hi, thank you for the replay
could you explain me how to clear cache manually?

Il giorno ven 1 feb 2019 alle ore 15:26 khouloudbelguith <
notifications@github.com> ha scritto:

[2019-02-01 14:37] morghy1992 commented on #12404
I tried again to log in but got this errore.
Did screenshot.
What should I do?
<img width="1054" alt="schermata 2019-02-01 alle 15 36 31" src="https://user-images.githubusercontent.com/47249256/52129180-32de5880-2637-11e9-867b-872da6c657e3.png">

[2019-02-01 14:37] Alexandre17220 commented on #12385
ok me too with this date but if I use 2018-12-03 16:40:48 the problem appear like I say in my first post.
So, it's very strange... problem and no body have the same ??

[2019-02-01 14:39] khouloudbelguith commented on #12404
@morghy1992, during the upgrade, have you any errors displayed?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

[2019-02-01 14:43] khouloudbelguith commented on #12385
@Alexandre17220, sorry I did not manage to reproduce the issue with this date `2018-12-03 16:40:48`, if you use another previously date, have you the same issue?
Thanks!

[2019-02-01 14:47] morghy1992 commented on #12404
I just installed the module and did the upgrade. I got only the Error Unable to check md5 files that I fixed chanting permission 755 and 644.
I can't find the tmp/log.txt into autoupgrade

[2019-02-01 14:51] Alexandre17220 commented on #12385
I don't know, I have find this date because this block my synchronization script between Prestashop and my CRM.. I cannot find other date.. I go to debug  myself prestashop's API. thanks

[2019-02-01 14:56] morghy1992 commented on #12404
<img width="884" alt="schermata 2019-02-01 alle 15 56 09" src="https://user-images.githubusercontent.com/47249256/52130238-eba59700-2639-11e9-966d-3c3ded5f0a89.png">

[2019-02-01 14:59] holle75 commented on #9804
Yes, hi there. You´re right. It´s just very frustrating when you realize such a big bummer when you already spent so many hours in fixing small bugs and configuring your shop. And no, i´m not able to fix this problem by myself and contribute it to the community cause it´s a core problem and not a simple rewrite in 1-2 files i think. Anyways thank you for your quick response and maybe this bug will

[2019-02-01 15:00] khouloudbelguith commented on #12404
@morghy1992, could you please try to disable the welcome module.
If you cannot access to the BO => Module page, you can try to rename the welcome folder to welcome_old into the path Project_Folder/modules/
Thanks to check & feedback.

[2019-02-01 15:06] morghy1992 commented on #12404
ok I changed it. I tried to log in but this is the result  :( Why?
<img width="519" alt="schermata 2019-02-01 alle 16 06 02" src="https://user-images.githubusercontent.com/47249256/52130749-4db2cc00-263b-11e9-9a49-9760bc502ef7.png">

[2019-02-01 15:12] khouloudbelguith commented on #12404
@morghy1992, could you please try to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

[2019-02-01 15:13] khouloudbelguith commented on #12385
@Alexandre17220, despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2019-02-01 15:13] #12385 closed, assigned to nobody

[2019-02-01 15:16] morghy1992 commented on #12404
Did it, Still same situation. What can be?
<img width="1245" alt="schermata 2019-02-01 alle 16 14 46" src="https://user-images.githubusercontent.com/47249256/52131287-afc00100-263c-11e9-86a6-aef04676bba1.png">
<img width="519" alt="schermata 2019-02-01 alle 16 06 02" src="https://user-images.githubusercontent.com/47249256/52131288-afc00100-263c-11e9-8106-12d9887c2aa3.png">

[2019-02-01 15:25] khouloudbelguith commented on #12404
@morghy1992,

Could you please try to regenerate the file .htaccess you need:

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2019-02-01 15:31] morghy1992 commented on #12404
ok I regenere the file .htaccess_old
but I can't disable friendly url it gives me this error
<img width="569" alt="schermata 2019-02-01 alle 16 30 05" src="https://user-images.githubusercontent.com/47249256/52132112-bfd8e000-263e-11e9-9eea-8c26ecba1217.png">

[2019-02-01 15:47] khouloudbelguith commented on #12404
@morghy1992, thanks to follow this [comment](https://github.com/PrestaShop/PrestaShop/issues/12026#issuecomment-452633575), it can help you to solve your last issue.
Thanks!

[2019-02-01 15:51] khouloudbelguith opened #12407 "Search "within the word" is NOK when we search with expression within the word at the position 16"
**Describe the bug**

In the BO => Shop Parameters => Search page, enable the option "Search within word", With this option enabled, it gives the good result if you search for anything contained in the word.

Try to create a new product with this name "referenceupdatedtoday" > 16 characters.

In the FO, try to search with "today", the product will not be found, also, if you try to search with this

[2019-02-01 15:53] marionf commented on #12223
Furthermore, this parameter currently doesn't work

[2019-02-01 15:58] morghy1992 commented on #12404
@khouloudbelguith thank you but is not working.
I just want to solve the problem about the BO that is not working properly everything is moved.
<img width="1440" alt="schermata 2019-02-01 alle 16 57 05" src="https://user-images.githubusercontent.com/47249256/52133890-98841200-2642-11e9-9f50-863027bb5fb7.png">

[2019-02-01 16:16] Partenopeo83 opened #12408 "Issue on error log vendor/smarty/smarty/libs/sysplugins/smarty_internal_templatebase.php"
**Describe the bug**
Hi,
i don't know it's a bug or my module problem but from the upgrade the platform from 1.7.2 to 1.7.4.2 i find an error in my server php_log:

HP Fatal error:  Uncaught  --> Smarty: 0():Missing '$template' parameter <--
  thrown in /.........../vendor/smarty/smarty/libs/sysplugins/smarty_internal_templatebase.php on line 176

Apparently this not cause problems but after a day

[2019-02-01 16:20] khouloudbelguith commented on #12404
@morghy1992, what is the exact version of the 1-click upgrade did you use to do the upgrade?
Thanks!

[2019-02-01 16:22] morghy1992 commented on #12404
@khouloudbelguith yes I used 1-click upgrade versione : 4.5.1

[2019-02-01 16:28] khouloudbelguith commented on #12408
Hi @Partenopeo83,

Did you use the default theme provided by PrestaShop?
Thanks!

[2019-02-01 16:35] Partenopeo83 commented on #12408
No, my theme is custom(very custom) but initially i haven't this error in log.
If i can ask.... when the function _execute in smarty_internal_templatebase.php is called? Maybe the problem start from a module but i can't know what is.

Apparently the log is write when in particular condition(i don't know exactly) the users navigate in listing product or product page but not always .

[2019-02-01 16:35] khouloudbelguith commented on #12404
@morghy1992, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in Project_Folder/admin_folder/autoupgrade/tmp/log.txt

[2019-02-01 16:41] khouloudbelguith commented on #12408
@Partenopeo83, this PR: https://github.com/PrestaShop/statsdata/pull/7 could help you to solve the issue? it fixes a [similar issue reported previously](http://forge.prestashop.com/browse/BOOM-4826).
Thanks to check & feedback.

[2019-02-01 16:43] morghy1992 commented on #12404
@khouloudbelguith into folder autoupgrade I do not have any tmp/log.txt
See photo
<img width="254" alt="schermata 2019-02-01 alle 17 42 13" src="https://user-images.githubusercontent.com/47249256/52136645-cec49000-2648-11e9-9be1-997cc1d137dc.png">

[2019-02-01 16:44] khouloudbelguith commented on #11680
Hi @MathiasReker,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-01 16:44] #11680 closed, assigned to nobody

[2019-02-01 16:45] khouloudbelguith commented on #11616
Hi @matesbu

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-01 16:45] #11616 closed, assigned to nobody

[2019-02-01 16:47] khouloudbelguith commented on #11998
Hi @pveron,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-01 16:47] #11998 closed, assigned to nobody

[2019-02-01 16:48] khouloudbelguith commented on #11950
Hi @Ayman4,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-01 16:48] #11950 closed, assigned to nobody

[2019-02-01 16:49] khouloudbelguith commented on #11953
Hi @gray-b,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-01 16:49] #11953 closed, assigned to nobody

[2019-02-01 16:49] khouloudbelguith commented on #11952
Hi @novallis,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-01 16:49] #11952 closed, assigned to nobody

[2019-02-01 16:50] khouloudbelguith commented on #11958
Hi @gray-b,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-01 16:50] #11958 closed, assigned to nobody

[2019-02-01 16:51] khouloudbelguith commented on #11963
Hi @chrome12312,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-01 16:51] #11963 closed, assigned to nobody

[2019-02-01 16:53] khouloudbelguith commented on #12404
@morghy1992, no it is not located into the autoupgarde module folder, but into the /admin_Folder/autoupgrade/tmp/
Thanks!

[2019-02-01 16:59] morghy1992 commented on #12404
@khouloudbelguith where can I find admin_folder?Into the public_html?
Because I can't find it

[2019-02-01 17:03] khouloudbelguith commented on #12404
@morghy1992, no it is the folder admin, is should be displayed on the link when you navigate to your BO, it should be renamed with a custom name.
For example, in my case the link for the dashboard page is `http://prestashoptest.com/admin-dev/index.php?controller=AdminDashboard&token=434b3e2fe1fe439818bb36a411a4251a` => the name of the admin folder in my case is `admin-dev`

[2019-02-01 17:15] morghy1992 commented on #12404
@khouloudbelguith ok I went into it but I do not have any autoupgrade folder I looked everywhere but I can't find it.

[2019-02-01 17:42] morghy1992 commented on #12404
@khouloudbelguith finally I solved the problem of BO now is working fine but I enable my shop and here the error 404. Suggestion?
<img width="780" alt="schermata 2019-02-01 alle 18 42 35" src="https://user-images.githubusercontent.com/47249256/52139701-2961ea00-2651-11e9-8881-5bbf02e326d9.png">

[2019-02-01 18:17] pveron commented on #11998
Install works but only in english

I just test again with all theses

--language=en --country=fr
--language=fr --country=fr
--language=fr

and i only have english installed prestashop

[2019-02-01 20:03] morghy1992 opened #12409 "Issue PHP Fatal error: Uncaught --> Smarty: Source: Missing name <-- thrown in /home/gelitaly/public_html/vendor/smarty/smarty/libs/sysplugins/smarty_template_source.php on line 168"
**Describe the bug**
I upgrade my prestashop to 1.7.5 but I got this problem : PHP Fatal error: Uncaught --> Smarty: Source: Missing name <--
thrown in /home/gelitaly/public_html/vendor/smarty/smarty/libs/sysplugins/smarty_template_source.php on line 168

Now my website is not working the page is blank.
Someone can help me?

A clear and concise description of what the bug is.

**To Reproduce**
Ste

[2019-02-01 20:53] nicoladze commented on #12313
Could you please tell me how to do that?

Le ven. 1 févr. 2019 à 09:17, khouloudbelguith <notifications@github.com> a
écrit :

[2019-02-01 23:38] nicoladze commented on #12313
Do you mean to use FileZilla and suppress everything inside
www/app/cache/dev and www/app/cache/prod

Le ven. 1 févr. 2019 à 21:53, Nicolas EVRARD <nicolas.evrard06@gmail.com> a
écrit :

[2019-02-02 12:53] MathiasReker commented on #16984
Are you sure this is a problem, there should be a redirecting to the URL with second ID? The second ID depends on combinations.

[2019-02-02 12:55] MathiasReker commented on #16987
Can you make a PR to solve your issue?

[2019-02-02 15:47] z72diego commented on #9653
Hi there, has this bug been corrected? Thanks!

[2019-02-02 18:19] johanlantz opened #12411 "Should var prestashop show all product information?"
**Describe the bug**
Looking at the page source I see there is a "var prestashop" that contains among other things the available quantity of a product. That would make it a bit too easy for a bot to scrape exact stock quantities of a store no? What is this var prestashop used for? I do not see it in the source of my 1.5 based shop.

**To Reproduce**
Right click -> View page source

**Additionnal i

[2019-02-02 20:01] matks commented on #12411
@johanlantz I think (need to confirm though) this variable is here in order to allow themes and modules developer to access this data, which allows them to provide extended features to prestashop.

[2019-02-02 21:19] dimespi opened #12412 "With Multistore enabled, API calls are redirected to homepage"
I'm on prestashop 1.6.1.14 and I've enabled multistore. When I try to access the api through the url of my B2B shop, nothing happens and it redirects to the homepage.

For my B2C shop it works but when I go to https://my-shop.com/api/products?id_shop=all it redirects to the homepage with this url https://my-shop.com/?url=products%2F

The redirect rules in my .htaccess are exactly the same for my t

[2019-02-02 22:02] bettinz opened #12413 "Issues after upgrading 1.6.23->1.7.50"
Hello, this is what I've found:
1. If the password start with _ (underscore) the upgrade process on the database step fail (I think because of the _LEGACY_ added at the start of the password).

2. That are some errors after browsing the backend (the fronted is a white page).
I've disabled non-core modules and switched to default theme in upgrade options

[code]

3. The upgrade process fail with th

[2019-02-02 22:49] hekep opened #12414 "Multiple Guest customers in Preastashop"
Old issue: http://forge.prestashop.com/browse/PSCSX-9247

Prestashop creates multiple guest customers into database.

PrestaShop version: 1.6.1.3
PHP version: 7.2

[2019-02-03 10:44] criacaosites opened #12415 "Attempted to call an undefined method named "getSimpleCategoriesWithParentInfos" of class "Category"."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'BACKOFFICE > CATALOG'
2. Click on 'PRODUCTS'
4. See error
Attempted to call an undefined method named "getSimpleCategoriesWithParentInfos" of class "Category".

**Screenshots**

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: 7.2

[2019-02-03 16:13] johanmeer commented on #9576
I have the same problem, upgrade to 1.7.5. did not solve the problem.

[2019-02-03 18:12] elmanu13 opened #12416 "SQL manager order export problem"
**Describe the bug**
When we export the orders (with or without filter), the SQL looks not correct for the SQL Manager and gives an error.

**To Reproduce**
Steps to reproduce the behavior:
-Go to order page and clic on "export to SQL manager"
-validate the SQL request : undefined error "checkedForm"

-if I take the SQL request of my 1.6 shop, I have the strange error "FROM doesn't exist"

A simpl

[2019-02-03 18:17] ivysotskyi commented on #12371
this change fixed issue for me:
https://github.com/ivysotskyi/PrestaShop/commit/472bae61aef8accb28fcbb3249e648f8082edcb6

I tried to change configuration of sumfony database framework but not successfully. So I've made the workaround locally.

[2019-02-03 18:21] SharakPL opened #12417 "Add more functions to tinymce in admin panel"
This may seem like a good enough set of functions:

![obraz](https://user-images.githubusercontent.com/5007456/52180518-8b545800-27e7-11e9-874b-6ffd67195473.png)

but "**Clear formatting**" function is also **a must**. Most of the time content is copy-pasted from some docs and it brings all the styling set in these docs. In prestashop 1.7 there's no way to clear this so you have to paste plain tex

[2019-02-03 19:55] bbgjyb opened #12418 "Shopping cart issues"
**Describe the bug**
I use Prestashop 1.7.4.2. I have a problem with my shopping cart: it worked fine until I tried to integrate an electronic payment system (G2A). I uninstalled the module, cleaned the cache, but the problem persists.
Everything works well until payment when we click on "quick view". By contrast, when you click on the image of the product or on an attribute (color for example whe

[2019-02-03 22:36] WS-NL opened #12419 "Prestashop 1.6.1.23 - smart cash javascript - Trojan.Coinminer 6840768"
Please advise,

ClamAV from linux keeps detecting these cache js files which are from default bootstrap or any theme as an virus and delete theme. These wil come back everytime these get deleted

If smart java script cache is disabled then it is fine.

Is this a false positive detect?

Txt.Trojan.Coinminer-6840768-0 : /public_html/themes/transformer/cache/v_297_7b48be0abe22e5e449e44687266c76b5.js

[2019-02-04 07:49] khouloudbelguith commented on #12419
Hi @Def2019,

First of all, thank you for reporting on the PrestaShop project!

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only cri

[2019-02-04 07:49] #12419 closed, assigned to nobody

[2019-02-04 07:50] rtvt commented on #12382
@khouloudbelguith Thank you for assistant!
I think it's solved. It seems that it's related to server archivator extension, cause after I transfer my whole shop to online server from local, then exported a theme - I got normal working archive, which can be imported to other Presta. I saw few similar posts on forum without answers, hope it will help.

[2019-02-04 07:56] centoasa opened #12420 "Affiliation"
Prestashop 1.7.5.0
What is the correct use of the affiliation program included in prestashop? That is: I tried to add a user pippo@pluto.com (uri included %pippo123) but although we tried to visit a page with www.test.com/prodottoprova.html?pippo123 the visits are not recorded. I have searched for a long time on the web, but there is very little documentation about it.
Thank you

[2019-02-04 08:00] khouloudbelguith commented on #12414
Hi @hekep,

We are aware of this issue, it is added to our debug roadmap.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).
Your bug isn’t critical or a security issue, so it will not be fixed in the PS1.6, but it will

[2019-02-04 08:00] #12414 closed, assigned to nobody

[2019-02-04 08:11] khouloudbelguith commented on #12417
Hi @SharakPL,

Thanks for your suggestion.
It could an improvement issue for the PS1.7.
Would you be able to do a PR for this improvement?
@colinegin @marionf what do you think of his improvement?
Thanks!

[2019-02-04 08:21] khouloudbelguith commented on #12418
Hi @bbgjyb,

I tried with your shop when we click on the product page, you have an error 500,
[code]
Also, you have a strange thing, the arrow to increase & decrease the quantity is not displayed on the product page.
![image](https://user-images.githubusercontent.com/16067358/52196937-08221900-285e-11e9-9531-bdef7241eccb.png)
Could you please provide us with more info? We need more details to unde

[2019-02-04 08:26] khouloudbelguith commented on #12416
Hi @elmanu13,

This issue is fixed in the PS1.7.6 after the migration the SQL Manager page to Symfony with this PR: https://github.com/PrestaShop/PrestaShop/pull/9206
I attached a video record.
https://drive.google.com/file/d/160oJCB-NRrTzgO5ciXCqgtbC5JALO23q/view
Thanks

[2019-02-04 08:26] #12416 closed, assigned to nobody

[2019-02-04 09:03] PierreRambaud commented on #12419
Hey @Def2019,
Can you send us the link where you download this theme? It looks you download one which include a coin miner malware.
Regards

[2019-02-04 09:04] khouloudbelguith commented on #12415
Hi @criacaosites,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1ichkJmSNfg87f-Nf5esUXbZ1I0IsO-b_/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 -

[2019-02-04 09:05] Belyce32 opened #12421 "ERR_TOO_MANY_REDIRECTS when changing order status"
**Describe the bug**
I create an order in FO. I display it in BO, open it and close without changing anything : OK. But if I change the status, the server seems to have a time out, and few seconds after, I have a page that says CHROME
Cette page ne fonctionne pas
mywebsite.com vous a redirigé à de trop nombreuses reprises.
Essayez de supprimer les cookies..
ERR_TOO_MANY_REDIRECTS

FIREFOX
La page

[2019-02-04 09:09] Quetzacoalt91 commented on #16987
Indeed, it seems we do not properly check a data is sent in the request header. `Tools::getIsset()` was enough to test.

[2019-02-04 09:17] WS-NL commented on #12419
Thanks for your reply
We think this is a false positive detection. We dont have a reply from ClamAV yet.
We installed this morning a fresh and clean Prestashop 1.6.1.23 version on a clean fresh installed linux server as well.
Enabled Smart javascript cache in backoffice and as well the mallware get detected in the cache js files

[2019-02-04 09:26] PierreRambaud commented on #12419
@Def2019 The problem is we don't provide transformer theme with a fresh install. This is something you should have installed. Watch out with this kind of malware :/

[2019-02-04 09:27] matks commented on #12415
Hi @criacaosites the function you talk is here in the code:
https://github.com/PrestaShop/PrestaShop/blob/1.7.5.x/classes/Category.php#L803

Maybe you have an override that removes this function ?

[2019-02-04 09:27] WS-NL commented on #12419
You dont understand,

This is without a installed theme. just with defualt bootstrap theme what we tested this morning.

[2019-02-04 09:28] khouloudbelguith commented on #12421
Hi @Belyce32,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1yBiYb-M63ydkv3Vpv5AxXnAoHyXLmBl1/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apac

[2019-02-04 09:30] matks commented on #12419
@Def2019 on the clean install, the issue is not detected in `/public_html/themes/` but in another folder / file, right ?

[2019-02-04 09:31] PierreRambaud commented on #12419
So I don't understand how `public_html/themes/transformer` this directory can be created :/

[2019-02-04 09:32] WS-NL commented on #12419
First post of this topic is from a production server with running prestashop webshops

[2019-02-04 09:39] #12093 closed, assigned to nobody

[2019-02-04 09:42] holle75 commented on #10035
Hello Guys, mmh, installed 1.7.5, spent 2 month to get it going, fixed bugs, was wondering about missing features ....
Well, now i started to setup my products. Coming from 1.5/1.6 i spent a whole day trying to figure out how to NOT manually insert impact on price with eg 512 product combinations. Thought i´m probably to dumb to find the right way. But no, it´s not possible!

Presta 1.7.x without

[2019-02-04 09:43] WS-NL commented on #12419
Yes indeed in /public_html/themes/

/public_html/themes/default-bootstrap/cache/v_1_35425876793946483e9a4ac9f2362d81.js

But still we think these are false positives

[2019-02-04 09:51] matks commented on #12419
Either that or Bootstrap is really screwed 😄

Better wait for ClamAV I guess.

[2019-02-04 10:00] khouloudbelguith commented on #12412
Hi @dimespi,

I manage to reproduce the issue with PS1.7.5.0 & PS1.6.1.23.
Navigating to this link: http://shop.com/api/products&id_shop=all
we are redirected to the Home page (B2B enabled or disabled)
https://drive.google.com/file/d/1_S6Iu1J2mltAjz6lKe07NM2F7g3Aq-DX/view
Also, I manage to reproduce an issue with PS1.7.5.0 (in PS1.6.1.23 is OK)
Navigating to this link: http://shop.com/shop2/api/pr

[2019-02-04 10:14] khouloudbelguith commented on #12409
Hi @morghy1992,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-

[2019-02-04 10:21] #11403 closed, assigned to nobody

[2019-02-04 10:26] marionf commented on #10035
@holle75

You can define impact on the price in bulk action, please look at the screenshot below:

![capture d ecran_966](https://user-images.githubusercontent.com/13449658/52202746-b5e9f380-286f-11e9-9249-c8c1e7746a65.png)

[2019-02-04 10:33] holle75 commented on #10035
@marionf thank you for your quick reply. As i mentioned

"NOT manually"

How can you update impact on price (or weight) this way if you have 500+ combinations? It´s impossible.... or you spend 24 hours with just this one product.

Simple solution would be to have fields (impact on price/weight + other fields) aside attributes when CREATING combinations.

[2019-02-04 10:36] khouloudbelguith commented on #12382
Hi @rtvt,

Thanks for your feedback.
Since your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-02-04 10:36] #12382 closed, assigned to nobody

[2019-02-04 10:37] marionf commented on #10035
Ok, thank you for these details :+1:

[2019-02-04 10:38] khouloudbelguith commented on #12371
Hi @ivysotskyi,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-02-04 10:40] khouloudbelguith commented on #9576
Hi @johanmeer,

This issue is not fixed yet, it is added to our bug roadmap.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2019-02-04 10:42] khouloudbelguith commented on #9653
Hi @z72diego,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2019-02-04 10:47] khouloudbelguith commented on #12404
Hi @morghy1992,

Could you please try to regenerate again the file .htaccess you need:

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks!

[2019-02-04 10:50] khouloudbelguith commented on #12313
Hi @nicoladze,

Yes, you can use FileZilla and suppress everything inside /Project_Folder/var/cache/ (prod & dev), you can clear the cache by using this command line also:

[code]

Thanks!

[2019-02-04 10:59] sandra2n opened #12424 "Prestashop 1.7.5 Specific price and multishop"
Hello,
In Prestashop 1.7.5.0, I am in multishop config with two shops created. I have a specific price on one of my product, created for one of my shop. But when I am in "All shops" view, I still see this specific price. It would be nice to either, show it only in relevant shop or indicate the concerned shop in the specific price information (by adding a column, maybe?)

Thanks for your help

[2019-02-04 10:59] shahin0x opened #12425 "Customer Service message subject"
**Describe the bug**
If same user sends messages to different subjects in 'contact us' page, in back office all message's subjects change to last message's subject.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Contact us' page in front office.
2. Send a message to Webmaster for example.
3. Check customer service page in BO for message.
4. With same user go to  'Contact us' page and

[2019-02-04 11:00] khouloudbelguith commented on #12413
Hi @bettinz,

I did not manage to reproduce the issue with 1-click upgrade v4.5.1, upgrade id done successfully from PS1.6.1.23 to PS1.7.5.0, I used this password _123456789_ for the employee.
I attached a video record.
https://drive.google.com/file/d/1Nc546Oko7G-DzqzCIvnvVWU9-0Nzqz8j/view
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks t

[2019-02-04 11:11] bettinz commented on #12413
Hello, about the password, I mean the mysql user. Can you try with user `test` and password `_test` ?

Today I try again, but the errors after upgrade in the second attempt are about `ps_stock_available` -> `location`  and it's duplicated.
This happen because the 1.7.5.0.sql have this query
[code]
at line 13 and line 94.

[2019-02-04 11:12] ivysotskyi commented on #12371
I am not sure that my change is OK from the code architecture point of view. I will create PR. But maybe fix somewhere deeper in the code should be done. My change looks like a local workaround.

An opinion of the Prestashop developers would be highly appreciated here.

[2019-02-04 11:19] khouloudbelguith commented on #12424
Hi @sandra2n,

Thanks for your report.
When "All shops" is selected, in the Pricing tab, if you click to edit the Specific price conditions, you can find that shop is indicated to which shop.
![image](https://user-images.githubusercontent.com/16067358/52205266-c6519c80-2876-11e9-860d-72c1963d50cd.png)
It could be an improvement issue to add a column on the product page, which shop is selected.
![i

[2019-02-04 11:35] #12207 closed, assigned to jolelievre

[2019-02-04 11:52] nicoladze commented on #12313
In fact, the Error 500 was due to a change of database password

And now I do not have any other error because I backed up to the previous
version (from 1.7.5.0 to 1.7.2 4)

I will upgrade once the problems are fixed

Regards

Le lun. 4 févr. 2019 à 11:51, khouloudbelguith <notifications@github.com> a
écrit :

[2019-02-04 11:57] khouloudbelguith commented on #12313
@nicoladze, thanks for your feedback.
If you changed the database password,
In file /app/config/parameters.php, you need to configure your PrestaShop site.
1. DB_SERVER: database's server;
2. DB_NAME: Name of the database from step 5;
3. DB_USER: User associated with the database;
4. DB_PASSWD: The user's password;
5. Clear cache manually by deleting all the folder into var/cache (prod & dev).

As

[2019-02-04 11:57] #12313 closed, assigned to nobody

[2019-02-04 11:58] #12129 closed, assigned to nobody

[2019-02-04 11:58] MathiasReker commented on #12321
Any news ? :)

[2019-02-04 12:00] MathiasReker commented on #10125
Is this removed from to do in PS 1.7.6?

[2019-02-04 12:17] sandra2n commented on #12424
Yes, adding a column to see what shop has been choose, could be nice.
Thank you

[2019-02-04 12:24] rufusmaika commented on #9652
This issue still reflects on my website although the code has been changed.
Any tips are appreciated.
Thanks in advance.

![screenshot](https://user-images.githubusercontent.com/47321819/52208210-bbe3d280-2877-11e9-9802-449cee494484.jpg)

[2019-02-04 12:42] gadnis commented on #9956
Ok.. I fixed some issues with ps_facetedsearch module, but I don't understand where should I commit pull request. There's no module ps_facetedsearch in this repository, only prestashop base files. Where to commit changed files for ps_facetedsearch module?

[2019-02-04 13:18] khouloudbelguith commented on #12413
@bettinz, thanks for these clarifications.
I manage to reproduce the issue with the 1-click upgrade v4.5.1.

During the upgrade, the page of the upgrade is not well displayed
![image](https://user-images.githubusercontent.com/16067358/52210272-d40f1e00-2886-11e9-8f0d-22f201cd7db4.png)
Here's the log.txt
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2828105/log.txt)
I cannot log in to th

[2019-02-04 13:23] bettinz commented on #12413
@khouloudbelguith
Thanks for the reply. This issue (the underscore issue) is unrelated to the sql issue I guess (the last one happen if I use the password without underscore) 🤔

[2019-02-04 13:26] holle75 commented on #9928
could somebody elaborate a bit how to use this fix on 1.7.5 ?
There is no module vatnumber in the native modules.
How to apply this fix?

thank you.

[2019-02-04 13:37] khouloudbelguith commented on #12413
@bettinz, no in my case, it is OK as described in my first screen record. The only issue I have that some legacy pages not available as described in this ticket: https://github.com/PrestaShop/autoupgrade/issues/100
Thanks!

[2019-02-04 13:45] jf-viguier commented on #9928
Just download the dev branch of the vatnumber module here https://github.com/PrestaShop/vatnumber/tree/dev
unzip the module in the modules folder, rename vatnumber-dev into vatnumber

[2019-02-04 13:47] khouloudbelguith commented on #9928
@holle75, The VATNumber native module in 1.7 is not released, you need to clone it from the GitHub  repository https://github.com/PrestaShop/vatnumber
Thanks!

[2019-02-04 13:52] holle75 commented on #9928
thank you guys! ... just wanted to be sure i´m not going to mess up a future update.
But ... that also means a core function of  Prestashop 1.7.5 in regards of a legal prerequisite is not working? Not working without an additional module? Or will this be fixed in the next version and the module isn´t needed anymore after the update?

[2019-02-04 13:57] gadnis commented on #9956
I made a pull request, hope prestashop will merge it.. I added feature to sort products in this order:
1. Products in stock
2. Products out-of-stock but available for order
3. Products out-of-stock

You can sort it by price (asc, desc) still out-of-stock products will be in the end.

here is PR link: https://github.com/PrestaShop/ps_facetedsearch/pull/51
![screen shot 2019-02-04 at 12 34 41](https

[2019-02-04 14:02] khouloudbelguith commented on #9956
Hi @gadnis,

Thanks a lot for your PR!

[2019-02-04 14:02] SharakPL commented on #12321
@khouloudbelguith @eternoendless  @colinegin another thing about reference during import. It cuts off leading 0s. References like 0123456 are imported as 123456. It should import whole string exactly as it is.

[2019-02-04 14:03] holle75 commented on #9928
... master branch or dev branch? Dates of the last changes are confusing ... and is the fix already done in the module or are the changes suggested at the beginning of this BOOM still needed?

Ah, jf-viguier already stated the dev branch in the link i just realized. Thank you!

[2019-02-04 14:05] khouloudbelguith commented on #12425
Hi @shahin0x,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
I’ll add this to the debug roadmap so that it will be fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-04 14:07] khouloudbelguith commented on #12321
@SharakPL, this is a different issue, can you open a new one with more information about your configuration.
Thanks!

[2019-02-04 14:13] StudioHSD commented on #9727
Hi, can you tell me where is the related database query?
I would like to try to find a fix but I can't find where is reletaed class.

[2019-02-04 14:24] jf-viguier commented on #9928
You're welcome.
The vatnumber module est required in all 1.7 versions for now.

[2019-02-04 14:24] morghy1992 commented on #12404
@khouloudbelguith thank you for your replay,
it was a problem of the theme. I contacted the developer who fixed for me.

[2019-02-04 14:25] MathiasReker commented on #12321
+1

[2019-02-04 14:29] khouloudbelguith commented on #12404
Hi @morghy1992,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-02-04 14:29] #12404 closed, assigned to nobody

[2019-02-04 14:49] holle75 commented on #9928
uploaded folder "vatnumber" to /modules in root, Cleared cache (server+browser). The module is not shown in BO. Do i have to apply any changes to the module (dev-branch)?

[2019-02-04 15:07] Klemart3D opened #12427 "The mime type of the file is invalid ("application/x-xz")"
**Describe the bug**

Can't upload a module zipped with default compressor software of Ubuntu 18.04.

**To Reproduce**
Steps to reproduce the behavior:
1. Zip a module with default archive compressor of Ubuntu 18.04 into ".zip" format
2. Upload zipped file to PrestaShop 1.7.5.0
3. See complete message error:

**Screenshots**

![capture d ecran de 2019-02-04 15-54-26](https://user-images.githubuser

[2019-02-04 15:10] holle75 commented on #9928
after renaming the zip file from vatnumber-dev.zip to vatnumber.zip i had to upload the module in the BO to be shown. For Info

[2019-02-04 15:11] khouloudbelguith commented on #12420
Hi @centoasa,

In the Referrers page, there is a help section

"_" will replace one character. If you want to use the real "_", you should type this: "\\_".
"%" will replace any number of characters. If you want to use the real "%", you should type this: "\\%".

Also, don't forget to install & configure the module 'Data mining for statistics', it must be activated and configurated in order to have

[2019-02-04 15:30] khouloudbelguith commented on #12427
Hi @Klemart3D,

after compressing the ps_clener folder to .zip file, I uploaded it & it is oK.
![52217580-032e8b00-2899-11e9-8d6d-55be804f6f3c](https://user-images.githubusercontent.com/16067358/52217951-d9299880-2899-11e9-86e6-3bc2672392f7.png)
I attached a video record.
https://drive.google.com/file/d/1FrwJrpREJNFexILW9wyaviHa2J2A0BBy/view
Thanks!

[2019-02-04 15:58] SharakPL commented on #10035
@holle75 I'm with you on that. Managing combinations is somewhat easier and faster. I especially like how you can cycle through all combinations and bind images to each one with just 1 click. Although images are definitely too big for that which forces you to scroll down and slows whole proccess.
Unfortunately I must say that combinations were ruined since 1.6. Setting up impact of each attribute

[2019-02-04 16:04] centoasa commented on #12420
@khouloudbelguith https://www.100asa.it/modules/trackingfront/stats.php ==>error 500 with

ContextErrorExceptionNotice: Undefined index: tpl_dir
--
in 9052520951d633beb0b8a51e78d045fca88ac0c9_2.file.login.tpl.php line 33
at content_5c586238f08012_90019627(object(SmartyDevTemplate))in smarty_template_resource_base.php line 123
at Smarty_Template_Resource_Base->getRenderedTemplateCode(object(SmartyD

[2019-02-04 16:06] khouloudbelguith commented on #12420
@centoasa, we are of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9780
So, I close it.
Thanks!

[2019-02-04 16:06] #12420 closed, assigned to nobody

[2019-02-04 16:06] khouloudbelguith commented on #12420
Duplicate of #9780

[2019-02-04 16:12] matks commented on #12025
See https://github.com/PrestaShop/PrestaShop/pull/11894#issuecomment-460235145

[2019-02-04 16:28] holle75 commented on #10035
Yes SharakPL you´re right. At least "impact on price" defined during creation of the combinations is an absolute necessity. Every additional field would be highly appreciated, but is, as marked, a feature ;)

[2019-02-04 16:42] tomas862 commented on #12025
okey, I agree that this is a proper place to talk about the problem :D
So my main question for now would be:

if I need to apply changes I mentioned in the comment https://github.com/PrestaShop/PrestaShop/pull/11894#issuecomment-460235145 on current Pull request https://github.com/PrestaShop/PrestaShop/pull/11894 since it clearly has some visual impact of how setting is being treated in all shop c

[2019-02-04 16:47] Klemart3D commented on #12427
Seems a cache issue. I retried with a new zip file and it's working. I tried with ".tar.xz" but the file is not uploadable ("You can't upload files of this type." message). And if if rename the ".tar.xz" extension to ".zip" (file attached) I get this error:

![capture d ecran de 2019-02-04 17-39-28](https://user-images.githubusercontent.com/7419525/52222531-02e7bd00-28a4-11e9-8442-328f15b13490.png

[2019-02-04 17:21] mauweb commented on #9662
this module was very comfortable ... there are news about the resolution? I have prestashop 1.7.5.0

[2019-02-04 17:26] mickaelandrieu commented on #12310
I think we should finish the new translation system instead :angel: , we have no good reason to provide this support when almost everything now accepts Xliff files, or we need to assume that the translation system won't be finished in 1.7.x.

WDYT @eternoendless ? Fallback on legacy system until 1.8.x or finish the migration of the system?

[2019-02-04 17:50] sarjon commented on #12310
i think we do. regarding of whether new translation system will be finsihed or not, legacy system will stay in 1.7 for sure.

in addition, module developers can't use symfony controllers because their modules become untranslatable (of course you can do this workaround in every module, but it's a bad DX imo) which is really sad. :(

[2019-02-04 18:02] mickaelandrieu commented on #12310
I disagree as it's not supported right now, so it's not used... if we provide a native feature for it, it's like saying "old translation system works on Symfony Controllers": this is not something we want to push as the only missing feature is the support of external modules for the new translation system.

Totally agree on the issue and on the importance of the issue, but disagree on the gains of

[2019-02-04 18:06] sarjon commented on #12310
i'd also prefer to see new translation system working everywhere for 1.7.6.

either way, we need one of these 2 in next minor. :pray:

[2019-02-04 18:15] SharakPL commented on #10035
Another BUG/required feature is that when some combinations are already generated then all used attributes with values should be always present in input `#form_step3_attributes-tokenfield`. Now it's empty so adding another attribute and clicking Generate makes not only useless combination just with this new attribute but also breaks the others and none of them is loaded on the product page!

You w

[2019-02-04 18:16] mickaelandrieu commented on #12310
Agree, we need this to be part of 1.7.6.x!

[2019-02-04 18:35] #12366 closed, assigned to jolelievre

[2019-02-04 18:36] #12387 closed, assigned to jolelievre

[2019-02-04 18:37] #12393 closed, assigned to jolelievre

[2019-02-04 19:56] simondaigre commented on #12267
I finally found what's wrong.

Sometimes, when a customer create a new address, the new id_address_delivery is set to cart but not to cart_detail. That's why PS cannot find available carriers due to the fact id_address_delivery from cart didn't match cart_detail.

I can't reproduce this issue but some of my customers' clients have this issue. Maybe an ajax issue ?

Issue only happens for PS 1.7 cu

[2019-02-04 20:32] Ybeske commented on #12335
Hi there. The problem was caused and solved by the module developer.

They added
            <style>
                div.text-sm-right{
                    margin-top: 28px;
                }
            </style>';

into their main .php file.

[2019-02-04 21:04] Ybeske opened #12429 "Cover image "to illustrate all possibilities" never shown at first with combinations."
Hi there!

First of all: I'm using version 1.7.5.

Situation: I create a combination product with 6 combinations and - for example - 4 images: the cover image to illustrate all possibilities, the image of combination 1+4, the image of combination 2+5 and the image of combination 3+6. However, the cover image to illustrate all possibilities is never shown...

![2115885513_coverimagemaininfo thumb p

[2019-02-05 05:34] x29a commented on #12265
Might this be related with the removal of `CacheFs.php` implementation? In 1.6.x it was [still present](https://github.com/PrestaShop/PrestaShop/blob/1.6.1.x/classes/cache/CacheFs.php), in 1.7.x it is not, as implemented by [this pull request](https://github.com/PrestaShop/PrestaShop/pull/6408). I found it in [this changelog](http://build.prestashop.com/news/prestashop-1-7-RC2/).

 What was the re

[2019-02-05 07:57] khouloudbelguith commented on #12429
Hi @Ybeske,

For this combination 6, you need to select the cover image in addition to the custom image,
![image](https://user-images.githubusercontent.com/16067358/52259461-18e89280-2923-11e9-9595-604d1f3c5e48.png)
 it is the possibility now to be shown when you navigate to the Fo > product page.
If you think there should be display Product with cover image which is only for reference image of pr

[2019-02-05 07:57] #12429 closed, assigned to nobody

[2019-02-05 07:57] khouloudbelguith commented on #12429
Duplicate of #12241

[2019-02-05 08:02] SharakPL commented on #12321
@khouloudbelguith @eternoendless @colinegin @MathiasReker nevermind reference. Made some testing and all imports with leading 0 are OK. Turned out leading 0s were removed by my spreadsheet editor that even when I explicitly set field types as plain text and save my .csv, reopening it loads all fields with digits only as numbers without leading 0. I just need to find something _useful_ to edit my d

[2019-02-05 08:03] khouloudbelguith commented on #12335
Hi @Ybeske,

Thanks for your feedback.
I will close the issue, feel free to open a new one when needed.
Thanks!

[2019-02-05 08:03] #12335 closed, assigned to nobody

[2019-02-05 08:03] krasnycz opened #12430 "Error 500 in production mode"
Another issue related to 1.7.5,0 upgrade. Seems most troubled release ever.

PS 1.7.4.2 to 1.7.5.0 using Autoupgrade 4.5.1.
Server configuration set to recommended based on Pierre script.
Upgrade went fine including all modules.
However after the upgrade Performance and Catalog gives 500 error with the following in the log.
The ERROR is generated only if debug mode is off. When debug on everything

[2019-02-05 08:06] #12430 closed, assigned to nobody

[2019-02-05 08:22] khouloudbelguith commented on #12267
Hi @simondaigre,

So, you have the same issue reported to this ticket: #9932?
@slupostrupek, could you please confirm that your issue is similar to this ticket: #9932?
Thanks!

[2019-02-05 08:26] khouloudbelguith commented on #9662
Hi @mauweb,

Sorry not yet.
The issue is added to our bug roadmap, so it will be fixed.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-05 08:34] fabrice-dresscodes commented on #11784
I've the same problem. Also upgrade with OneClickUpgrade

Type error: Argument 1 passed to PrestaShop\PrestaShop\Core\Search\SearchParameters::__construct() must be an instance of PrestaShopBundle\Entity\Repository\AdminFilterRepository, instance of Doctrine\ORM\EntityRepository given

1.7.5.0
PS_DISABLE_NON_NATIVE_MODULE 1

Is it not related to nginx conf ?  Because in some pages, it works fine,

[2019-02-05 08:34] mauweb commented on #9662
thanks for your answer. unfortunately I'm not able

[2019-02-05 08:54] fabrice-dresscodes commented on #11784
I've enabled
define('_PS_MODE_DEV_', true);

in defines.inc.php and my page /index.php/configure/advanced/performance/ is now working...

But it doesn't when I disabled it

[2019-02-05 09:08] khouloudbelguith commented on #11784
@fabrice-dresscodes,

Have you tried to clear cache manually by deleting all the folder into var/cache (prod & dev)?
You can also use these command lines to clear cache:

[code]
Thanks to check and feedback.

[2019-02-05 09:13] fabrice-dresscodes commented on #11784
No I've runned the command and remove the folder it doesn't work. I'm actually checking https://github.com/PrestaShop/PrestaShop/issues/11909

I may have differents issues at the same time because I can't access invoices with error : Expected argument of type "object, array or empty", "string" given
 but for performances pages, it's not the same issue;

[2019-02-05 09:17] khouloudbelguith commented on #11784
@fabrice-dresscodes, about the invoices page issue, you need to check in the `ps_configuration` table the `id_configuration` where name = "PS_INVOICE_LEGAL_FREE_TEXT" and you should insert it in the table `ps_configuration_lang` as described here: [#11909 (comment)](https://github.com/PrestaShop/PrestaShop/issues/11909#issuecomment-450491851)
or you can replace `ps_configuration` table & `ps_confi

[2019-02-05 09:18] fabrice-dresscodes commented on #11784
Yes I'm doing it...I was trying to re-init but I'll loose my settings ?

[2019-02-05 09:24] krasnycz commented on #11784
This is related to ngix configuration and new backoffice controllers in the 1.7.5.0.

[2019-02-05 09:27] fabrice-dresscodes commented on #11784
@krasnycz Yes I've checked this way...but what do you suggest because it seems to work :

[2019-02-05 09:44:21] request.INFO: Matched route "admin_performance". {"route":"admin_performance","route_parameters":{"_controller":"PrestaShopBundle\\Controller\\Admin\\Configure\\AdvancedParameters\\PerformanceController::indexAction","_legacy_controller":"AdminPerformance","_legacy_link":"AdminPerformanc

[2019-02-05 09:31] krasnycz commented on #11784
@Quetzacoalt91 Here is one more https://stackoverflow.com/questions/54172371/prestashop-1-7-error-500-when-accessing-general-preference-or-administration and also there was report under blog post about 1.7.5.0 release.

This is multiple issues going on. If you upgrade autoupgrade modules from some previous versions the autoupgrade will fail. You have to remove the autoupgrade and make clean instal

[2019-02-05 09:33] krasnycz commented on #11784
@fabrice-dresscodes Use settings from this thread - read the last comment!

https://www.prestashop.com/forums/topic/566897-prestashop-17-nginx/

[2019-02-05 09:39] khouloudbelguith commented on #12427
Hi @Klemart3D,

I tried to upload your compressed file & it is OK, the module is installed.
But if I rename the ".tar.xz" extension to ".zip"
I have this error
![image](https://user-images.githubusercontent.com/16067358/52264409-d67a8200-2931-11e9-9e13-5138b8fc68a2.png)
It is normal behavior, the compressed file is not valid to be uploaded.
There's a difference between tar.gz & zip

**tar.gz**
Sto

[2019-02-05 09:40] fabrice-dresscodes commented on #11784
@krasnycz  I did it but it doesn't change anything....

If my nginx.conf is not correct, it should crash in DEV mode and in PROD mode isn't it ?

[2019-02-05 09:46] khouloudbelguith commented on #12019
Hi @Prestapro,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-05 09:46] #12019 closed, assigned to nobody

[2019-02-05 09:47] khouloudbelguith commented on #11960
Hi @sonGramz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-05 09:47] #11960 closed, assigned to nobody

[2019-02-05 09:49] khouloudbelguith commented on #11642
Hi @Yquem1983,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-05 09:49] #11642 closed, assigned to nobody

[2019-02-05 09:58] eternoendless commented on #10125
Of course, data coercion should be performed on input blur (after it loses focus) to account for that.

[2019-02-05 10:05] krasnycz commented on #11784
@fabrice-dresscodes I doesn't work that way. I am waiting cloudways support on this issue. I will update you once they get back to me.

[2019-02-05 10:08] fabrice-dresscodes commented on #11784
@krasnycz My server manager tried it and it didn't work :) and he's system's admin

[2019-02-05 10:31] fabrice-dresscodes commented on #11784
All right, invoice access sovled with PS_INVOICE_FREE_TEXT default value inserted in ps_configuration_lang

[2019-02-05 10:37] matks opened #12432 "[SF Migration] Be able to deprecate a Symfony route"
Symfony provides several features to deprecate a service: aliases, 'deprecated' annotation ...

But it seems there is not the same features for routes 😁 .

So we wanted to rename a route in https://github.com/PrestaShop/PrestaShop/pull/10595#discussion_r252193093 in order to comply with our new naming conventions, but this seems to create issues.

**We need to explore the issue and solve it in ord

[2019-02-05 10:39] matks opened #12433 "[SF Migration] Should we use PRE_SUBMIT form events ?"
In https://github.com/PrestaShop/PrestaShop/pull/10595#discussion_r252184379 PRE_SUBMIT events have been used. However since this is an advanced feature of Symfony, maybe it's too early to use it as some PrestaShop developers are still exploring Symfony with PS 1.7 .

**Maybe find a suitable and simpler replacement that provides the same features ?**

[2019-02-05 10:40] #11619 closed, assigned to mickaelandrieu

[2019-02-05 10:56] Klemart3D commented on #12427
Hi, I retried today with the renamed archive ".tar.xz" to ".zip" (yesterday attached file) and it works fine. But with .zip compression, I still have "The mime type of the file is invalid ("application/x-xz")" error, so I will attach you archive.
It seems to be a label inversion from ubuntu's file roller software so you can close the issue

[pscleaner.zip](https://github.com/PrestaShop/PrestaShop/

[2019-02-05 11:23] khouloudbelguith commented on #12427
@Klemart3D,

I tried with your file uploaded, I have the same error
![image](https://user-images.githubusercontent.com/16067358/52264409-d67a8200-2931-11e9-9e13-5138b8fc68a2.png)
Since that, this issue is not a PrestaShop's core bug, I close it, feel free to open a new one when needed.
Thanks!

[2019-02-05 11:23] #12427 closed, assigned to nobody

[2019-02-05 11:47] TeapotJames commented on #9763
Having looked into this a bit further it's ridiculous that this problem still exists, especially in 1.7.5.

I'm working on a 1.7.5 multi-store for a client and each store has it's own child theme using the same parent theme. Each store needs to look different and will not be sharing products, customers, orders etc.

If I override a normal module template file inside each of my child themes, both s

[2019-02-05 12:31] LinkOfLight opened #12434 "I cant enter in store settings, modules, seo etc"
I get this on the last stable build

![image](https://user-images.githubusercontent.com/9163980/52273495-557bb480-294a-11e9-8204-4a1a0955c6cf.png)

[2019-02-05 13:01] khouloudbelguith commented on #12434
Hi @LinkOfLight ,

Your shop is disabled, could you please navigate to your BO => Shop Parameters => General page => Maintenace tab, & try to enable the shop.
![image](https://user-images.githubusercontent.com/16067358/52274972-85c55200-294e-11e9-9e3b-54bf8e27df83.png)
Thanks!

[2019-02-05 13:19] colinegin commented on #12300
@eternoendless @PrestaShop/prestashop-core-developers what do you think of this issue ?

[2019-02-05 13:22] colinegin commented on #12321
Hello @MathiasReker ,

Thanks for your feedback, unfortunately this is not a regression from 1.7.5.0, so we won't be able to fix it for 1.7.5.1.

We will review this issue when working on the import system, probably for 1.7.7.
If possible, do not hesitate to make a pull request to fix the bug.

Thank you for your understanding

[2019-02-05 13:30] colinegin commented on #12381
Hello,

Thanks for your feedback, I include this to our to do list.
In the meantime, do not hesitate to make a PR to include this improvement.

Thank you !

[2019-02-05 13:32] colinegin commented on #12417
@eternoendless and @PrestaShop/prestashop-core-developers what do you think of this suggestion ? Is it technically complex ?

[2019-02-05 13:33] colinegin commented on #12424
It's a great idea ! I add it to our to do list.

Thank you

[2019-02-05 13:39] jolelievre commented on #12300
I also think it's an important issue (I avoid using critical since everything is critical ^^)
I think we should/could add this issue to the PS 1.7.6, this would encourage people developing Symfony modules and switching to 1.7
Besides we are probably gonna need this feature for the migration of our modules (which are in the 176 roadmap)

But I lack knowledge about how it works and the complexity to

[2019-02-05 13:44] jolelievre commented on #12417
Hi @SharakPL
did you try to paste your text using `Ctrl + Shift + V` (or `Cmd + Shift + V` on Mac)
It copies your texte as raw texte without any formatting (also works in Gmail), it prevents you
from copying your text in texteditor (Notepad and such) It actually saves me a lot of time

Maybe this could solve your issue? (or at least provide a temporary solution)

[2019-02-05 13:46] MathiasReker commented on #12321
@colinegin I understand that this is not a regression from 1.7.4, but this is a major part to migrate manuelly from 1.6 to 1.7. Therefore I hope you can take a look at it for next patch release. I am stock on 1.6 until this issue is fixed. I was not able to fix it, but I think it will be quick for one of your developers :)

[2019-02-05 13:58] jolelievre commented on #11264
The thing is we have no way to know which modules have been installed/uninstalled
At least for now, so we would need to have some kind of history of the actions performed on modules

Besides showing a specific error page or redirecting to the module catalog seems more like a "patch", but from a UX point of view it is not ideal because for a short time we still have this incorrect link which should

[2019-02-05 14:03] Quetzacoalt91 commented on #11264
If we need to refresh after a ajax call, let's go back to a classic HTTP request instead. Displaying your success / error message will be made easier.

[2019-02-05 14:07] fabrice-dresscodes commented on #11784
All right...it's working back now...I don't know exactly why.

On test server, I enabled DEV Mode, save params in Preferences and when I get back to PROD Mode it works...

[2019-02-05 14:10] khouloudbelguith commented on #11784
@fabrice-dresscodes, it could be a cache issue.
Thanks!

[2019-02-05 14:14] eternoendless commented on #11264
I agree that processing the request synchronously is the most appropriate approach here.

[2019-02-05 14:21] matks commented on #10189
@MatShir This page is now fully migrated 😄 shall we check together it works well with CLDR ?

[2019-02-05 14:22] jolelievre commented on #11264
I'm not sure I understand your discussion about ajax and synchronous request?
You would like to change the behaviour so that modules action are performed via a direct request? no more ajax?
How do you deal with bulk actions then?

[2019-02-05 14:28] eternoendless commented on #11264
Yes, that's right.

Regarding bulk actions, I'm not sure that they are really, actually necessary in this context. But if they choose to uninstall 20 modules at once, they better have set their time_limit to something greater than 30...

[2019-02-05 14:39] jolelievre commented on #11264
I don't think we will be able to uninstall 20 modules in one request either, which is why ajax calls seem appropriate in this condition. But you're right with 20 parallel requests some might fail with timeout.
We could update the js to perform only 5 requests a the same time

And regarding the refresh problem, I think the "module API" could add a field in its json response indicating if the module

[2019-02-05 15:14] DavidEschmeyer opened #12435 "Upgrade to 1.7.5.0 from 1.6.1.23 SQL issue - max key length is 1000 bytes - encoding"
**Describe the bug**
During database upgrade part of 1 click upgrade...

SQL 1.7.5.0 1071 in ALTER TABLE `ps_customer` CHANGE `company` `company` VARCHAR(255), CHANGE `email` `email` VARCHAR(255) NOT NULL, CHANGE `passwd` `passwd` VARCHAR(255) NOT NULL: Specified key was too long; max key length is 1000 bytes

SQL 1.7.5.0 1071 in ALTER TABLE `ps_employee` CHANGE `firstname` `firstname` VARCHAR(255

[2019-02-05 15:34] dimespi commented on #12412
Hi @khouloudbelguith,
I found out that some people had the same issue: http://forge.prestashop.com/browse/BOOM-5556
I'm still trying to figure out where it's coming from.

[2019-02-05 15:36] khouloudbelguith commented on #12412
@dimespi, thanks for your feedback.
The issue is added to our to do list.
Thanks!

[2019-02-05 15:49] khouloudbelguith commented on #12435
Hi,

@dave-ps provide me his database & I tried to run this SQL query `ALTER TABLE `ps_customer` CHANGE `company` `company` VARCHAR(255), CHANGE `email` `email` VARCHAR(255) NOT NULL, CHANGE `passwd` `passwd` VARCHAR(255) NOT NULL` & I have the same issue.
ping @Quetzacoalt91

[2019-02-05 16:12] agnesdennetiere opened #12437 "override admin product template 1.7"
Hello,

I tried to use this link https://devdocs.prestashop.com/1.7/modules/concepts/templating/admin-views/ to override @PrestaShop/Admin/Product/ProductPage/product.html.twig
I put the file in my (enabled) module in this path modules/mymodule/views/Prestashop/Admin/Product/ProductPage/product.html.twig

but even after deleting the cache, my template file is not used...

I am using prestashop 1.7

[2019-02-05 16:14] eternoendless commented on #11264
I don't think people will be uninstalling 20 modules every day.

Either way, if we choose to keep bulk uninstall, and the bulk action handles every uninstall sequentially in a separate request, we can keep it and then refresh the page at the end of the process. If, on the other hand, all actions are processed in a single request, then I suggest blocking it from running it unless `max_execution_tim

[2019-02-05 16:16] matks opened #12438 "[SF Migration] Harmonize controllers management of error message translation"
We can now use this instead of copy-pasting this behavior in all our controllers:

https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/FrameworkBundleAdminController.php#L461

[2019-02-05 16:17] matks commented on #10580
Issue created for refacto: https://github.com/PrestaShop/PrestaShop/issues/12438

[2019-02-05 16:21] matks opened #12439 "[SF Migration] For grid pages, only enable search button when 1 input is not empty"
Issue to solve:
- https://github.com/PrestaShop/PrestaShop/pull/10839#issuecomment-438985992
- as stated in https://github.com/PrestaShop/PrestaShop/pull/10839#issuecomment-439344886

[2019-02-05 16:22] matks commented on #10579
Issue created for search button update: https://github.com/PrestaShop/PrestaShop/issues/12439

[2019-02-05 16:22] jolelievre commented on #11264
The current behavior is:
- every actions is performed by its own request
- all actions are launched in parallel with a parameter to prevent clearing the cache (with 20 requests some may be pending)
- except ONE of the requests which waits for the others to be over, then we perform this last request with clear cache enabled

Since all actions are performed separately I don't think we should have ti

[2019-02-05 16:32] matks commented on #12025
I think we can ask for the help of Product Team here. Because both solutions (update all shop rates or update only my shop rate) is interesting, depending on what you want. So we need to define the "standard" multishop behavior for this.

@colinegin @MatShir hello 🎶

[2019-02-05 17:05] marionf commented on #10035
Related to: #11652

[2019-02-05 17:25] jolelievre commented on #11518
Important Note: this module must respect RGPD laws, so be sure to respect this behavior:
http://build.prestashop.com/howtos/module/how-to-make-your-module-compliant-with-prestashop-official-gdpr-compliance-module/

[2019-02-05 17:25] khouloudbelguith commented on #12437
Hi @agnesdennetiere,

I tried with a demo module & I have an exception when I try to edit a product, so the override is used.
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/2833131/mymodule.zip)
Thanks to check & feedback.

[2019-02-05 17:28] colinegin commented on #11402
To be discussed with the team

[2019-02-05 17:32] rGaillard opened #12440 "BO - Product page - combinations creation"
**Describe the bug**
When you want to generate combinations on the product page this is the public name of the attributes group which is autocomplete instead of the name. If you have multiple attribute groups with the same public name, you will not know which is the good one.

**To Reproduce**
- Create 2 attribute groups with Size as public name
- Create a new product
- Type Size in the search box

[2019-02-05 21:03] ron44124 commented on #12419
I tried to upgrade to 1.6.23 today from 1.6.20 and the ClamAV detected a virus.  Any updates? Thanks.

[2019-02-05 21:19] Peterits opened #12442 "Major bug with Virtual Products command !"
**Describe the bug**
Hi,
If we want to change the billing address for a virtual product order,
an error is displayed, see below:

**To Reproduce**
Steps to reproduce the behavior:

1. Go to BO order
1. Click on command virtual product
1. change the billing address
1. See error

**Screenshots**
![adresse-virtual-product-bug](https://user-images.githubusercontent.com/44966543/52304679-8fbd7400-2993-

[2019-02-05 21:23] #12053 closed, assigned to jolelievre

[2019-02-05 22:46] SharakPL commented on #10035
Have you managed to update this kind of product? I've just got 512 combinations. Created with no problems but there's simply no way to edit anything then. I get an error with information that I need to increase `max_input_vars` in php.ini to **13.000!!!** 😲 Whole 1.6.x translation form required 3000. My server has a limit of 10.000 so once again I'm screwed :/ Probably using just 1 language on my

[2019-02-06 01:04] SharakPL commented on #12417
@jolelievre you're saviour. Thanks!
Still at least a popup with this shortcut and some other useful would be helpful...

[2019-02-06 01:45] criacaosites commented on #12415
Tank you Guys, its a override.

[2019-02-06 01:46] #12415 closed, assigned to nobody

[2019-02-06 06:17] x29a commented on #12265
As mentioned in the linked PR, filebased caching was probably considered less efficient and therefor removed. I still think its a good fallback.

I tried using the 1.7 caching via memcache (which is the default when one enables caching in the shop performance settings), but the extension is not present in the docker image (i verified via [this code](https://stackoverflow.com/a/54547470/875020)).

[2019-02-06 06:46] sarjon opened #12445 "Separate Query/Command busses"
In PrestaShop we have 2 command busses `command_bus` and `query_bus` which both use same Tactician command bus `tactician.commandbus.default` behind the scene.

As a result, you can dispatch `Query` with both `command_bus` and `query_bus` (same with `Command`).

But is seems that we can confgiure multiple Tactician command busses. So when registering command/handler we could attach it to specific

[2019-02-06 07:56] holle75 commented on #10035
I found a module which is doing that. Still hesitating to pay ~40,- for such a core functionality. Simply put, Presta for more than lets say 100 combinations, without paying an extra module, is unusable. Or you love to spent your lifetime with saving updates to the price/weight manually. Every time i´m saving this product (it´s just a testproduct with 512 combinations cause i can´t use it without

[2019-02-06 07:57] khouloudbelguith commented on #12442
Hi @Peterits,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/52327660-2d915d00-29ed-11e9-9f4d-577a569c975a.png)
![image](https://user-images.githubusercontent.com/16067358/52327676-384bf200-29ed-11e9-93ee-5e29fb11c169.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixe

[2019-02-06 08:07] khouloudbelguith commented on #12442
Related to: #12170

[2019-02-06 08:24] khouloudbelguith commented on #12440
Hi @rGaillard,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
I created a new Attribute with

- Name: test
- Public name: Size

![image](https://user-images.githubusercontent.com/16067358/52328703-cbd2f200-29f0-11e9-82a3-a6639a395845.png)

In the Product page, combination tab, when I type Size in the search box, the Public name of attributes will be displayed

[2019-02-06 08:31] khouloudbelguith commented on #12415
Hi @criacaosites,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-02-06 08:51] thomasgr30 commented on #11193
hello have you fixed the issue ?
because i have the same problem

[2019-02-06 09:09] agnesdennetiere commented on #12437
Hello,

ok my problem was that my folder was named "Prestashop" and not "PrestaShop" with a capital S

Thank you!

[2019-02-06 09:09] #12437 closed, assigned to nobody

[2019-02-06 09:10] khouloudbelguith commented on #12421
Hi @Belyce32,

No, I did not receive your previous comment.
Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the e

[2019-02-06 09:12] khouloudbelguith commented on #12421
@Belyce32, about this error: `Duplicate entry '4' for key 'PRIMARY'<br /><br /><pre>INSERT INTO `omf_packlink_wait_draft` (`id_order`, `date_add`) VALUES ('4', '2019-02-04 10:31:34')</pre>`

The table `omf_packlink_wait_draft` is created by a custom module, what is the exact name of this module?
THanks!

[2019-02-06 09:13] PierreRambaud commented on #12419
Can you send us the exact url to this file please?

[2019-02-06 09:16] Quetzacoalt91 commented on #12435
In the current structure.sql, we can find the following indexes for the table customer:

[code]

I wonder if indexing the column `passwd` isn't too superfluous.

[2019-02-06 09:17] Belyce32 commented on #12421
Module Packlink, use for shipping order

Le 06/02/2019 à 10:12, khouloudbelguith a écrit :

[2019-02-06 09:18] rokaszygmantas opened #12448 "Employee profile dropdown wrong position in migrated pages"
**Describe the bug**
Employee dropdown is positioned incorrectly in migrated pages

**To Reproduce**
Steps to reproduce the behavior:
1. Go to back office, go to any migrated page, e.g. `admin-dev/index.php/configure/shop/preferences/preferences`
2. Click on your profile picture in the top right
3. See that the account dropdown is almost not visible and positioned too much to the right.

**Screens

[2019-02-06 09:19] khouloudbelguith commented on #12437
@agnesdennetiere, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-02-06 09:25] matks commented on #12448
@rokaszygmantas Is it a duplicate of https://github.com/PrestaShop/PrestaShop/issues/12333 ?

[2019-02-06 09:26] jolelievre commented on #12417
@SharakPL you're welcome! ;)
Of course it's just a tip, it doesn't close this discussion nor this issue.

To answer your question @colinegin it shouldn't be complex to modify it, it is only a config in tinymce: https://www.tiny.cloud/docs/configure/editor-appearance/#toolbarn
The question would be more about a reflexion of which buttons/features we want to add, here is the list of available contro

[2019-02-06 09:26] Belyce32 commented on #12421
I placed phppsinfo.php at the root, but when I try to load my page
https://www.mywebsite.com/phppsinfo.php
<http://www.example.com/phppsinfo.php>, it asks me an identification.
Which is it ? BO or FTP ?

Le 06/02/2019 à 10:10, khouloudbelguith a écrit :

[2019-02-06 09:34] khouloudbelguith commented on #12448
@matks, yes, it is a duplicate.
It is the same issue reproduced in the develop branch (PS1.7.6.0).
@rokaszygmantas, we are aware of this issue, it is added to our debug roadmap.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request
Your ticket is a duplicate of #12333
So, I close it.
Thanks!

[2019-02-06 09:34] #12448 closed, assigned to nobody

[2019-02-06 09:34] khouloudbelguith commented on #12448
Duplicate of #12333

[2019-02-06 09:40] jolelievre commented on #12265
Hello @x29a indeed I agree with you there is something missing:

- there should be a fallback with a filesystem cache when MemCache is not enabled (which implies adding this option in the Performance page, and adding a few check to warn the user about which cache system he can use)
- ideally using symfony cache system would be best, and deprecating the legacy Cache class (but it needs to be fixed

[2019-02-06 09:42] khouloudbelguith commented on #12421
@Belyce32, if you try to enable the mode debug from the BO => Advanced Parameters => Performance page => then you try to change the order status to payment accepted, what is the exact error will be displayed?
It is similar to this error?
![image](https://user-images.githubusercontent.com/16067358/52332737-d941a980-29fb-11e9-895c-b3b714c5dbea.png)
Thanks!

[2019-02-06 09:46] Le-Bodyguard commented on #17108
I have the same problem...

[2019-02-06 09:46] Le-Bodyguard commented on #17109
I have the same problem...

[2019-02-06 09:54] rokaszygmantas commented on #12448
ah yes sorry, didn't notice it was already reported

[2019-02-06 09:55] Belyce32 commented on #12421
Of course I tried to enable this mode, but I have absolutly no message
displayed. It just go like 10 seconds like nothing happens, then firefox
message about cookies or chrome message about too many redirects

I tried also everything about cookies but this is not the right track.

I isolated the following action : if I change the status to
"preparation" or "bankwire waiting"; the status is validat

[2019-02-06 09:55] PierreRambaud commented on #12265
Watch out, don't mix up **Memcache** and **Memcached** which are different. More because **Memcache** is very old and don't work with latest php version.
- http://php.net/manual/en/book.memcached.php
- http://php.net/manual/fr/book.memcache.php

https://serverfault.com/a/63399

[2019-02-06 10:01] dabidi commented on #12192
The same situation is in  $admin_folder/index.php

Debug::enable() without any parameter

[2019-02-06 10:11] pdkey opened #12449 "PS1.7.5 - psgdpr in Multishop - URL in Text from main Domain"
We have noticed that the links in the texts in the PSGDPR module for the contact form and other modules always show the main domain. Changes for the subdomain in multishop wont be accepted. Only texts for the customer account creation and in the customer account are correct.
The text for the contact form, Wishlist and CMS module are displayed twice.

This issue is very similar in the ps_legalcompl

[2019-02-06 10:15] pdkey opened #12450 "PS1.7.5 - ps_legalcompliance in multishop shows shippings costs link od main domain"
The link to the shipping costs are not the right domain - in all subdomain are the from the main domain.

on the category lists in the footer works correct.

Reste, delete and a new installation without success.

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: 7.2.14

[2019-02-06 10:24] marionf commented on #11148
Hello,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Regards

[2019-02-06 10:24] #11148 closed, assigned to nobody

[2019-02-06 10:30] marionf commented on #10730
Hello,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Regards

[2019-02-06 10:32] marionf commented on #10710
Duplicate of #10730

[2019-02-06 10:32] #10710 closed, assigned to nobody

[2019-02-06 10:32] #10730 closed, assigned to nobody

[2019-02-06 10:34] Ybeske opened #12452 ""themes/core.js.map""
**Describe the bug**
After a clean Prestashop 1.7.5 install, I got this 404 error message in the front end (using the inspector).

When I install a theme I bought, I got more errors.

All errors refer to missing files (404) with the .map extension.

**To Reproduce**
Steps to reproduce the behavior:
1. install Prestashop
2. Go to any page in the font office
3. open webinfo (inspector)
4. See error

[2019-02-06 10:39] khouloudbelguith commented on #12451
Hi @infinity-web-italy,

I did not manage to reproduce the issue with PS1.7.5.0 & ps_viewedproduct module v1.2.0.
I attached a video record.
 https://drive.google.com/file/d/1wcnQcmQj_G1GhKv3E1NYZlBEXRzTuKlr/view
What is the exact version of the ps_viewedproduct module did you use?
Thanks!

[2019-02-06 10:43] khouloudbelguith commented on #12452
Hi @Ybeske,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestasho

[2019-02-06 10:48] khouloudbelguith commented on #9652
Hi @rufusmaika,

I did not manage to reproduce the issue with PS1.7.5.0 & the ps_categoryproducts v1.0.4.
I attached a video record.
https://drive.google.com/file/d/1rsTbYiXI_E1suRZkkAZ6xxJ4ZinmEOWo/view
Thanks!

[2019-02-06 10:52] khouloudbelguith commented on #12421
Hi @Belyce32,

Could you please try to disable the Packlink module temporarily, clear cache, check & feedback.
Thanks!

[2019-02-06 10:53] Ybeske commented on #12452
I accidentally already posted my message without describing the bug. I edited the original message.

[2019-02-06 10:57] khouloudbelguith commented on #11363
Hi @Lndaw,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-02-06 10:57] #11363 closed, assigned to nobody

[2019-02-06 10:57] khouloudbelguith commented on #11512
Hi @Lndaw,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-06 10:57] #11512 closed, assigned to nobody

[2019-02-06 11:01] khouloudbelguith commented on #11218
Hi @arthtux,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-06 11:01] #11218 closed, assigned to nobody

[2019-02-06 11:02] Belyce32 commented on #12421
Wow, you are a star, it is working again !!! Does it mean that my
packlink pro module is corrupted ?

Le 06/02/2019 à 11:53, khouloudbelguith a écrit :

[2019-02-06 11:02] khouloudbelguith commented on #9495
Hi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-06 11:02] #9495 closed, assigned to nobody

[2019-02-06 11:02] Ybeske commented on #12452
The most important question I have right now: Is it a big problem and could it be the cause of some css failure (some elements are not hidden while they need to be... etc...) in the checkout page (in this example).

[2019-02-06 11:03] hanuchin opened #12453 "Major - Combination, price impact and price unit"
**Describe the bug**
It is not possible, to insert the right impact price on unit for a shop owner.
To use the price unit display, it is necessary to define a product price, the unit and the price for the unit.

At the combinations, its possible, to set the impact on price, and get a right value.
At the impact on price unit, its not possible, because there are some calculations, which no shop user

[2019-02-06 11:03] khouloudbelguith commented on #9516
Hi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-06 11:03] #9516 closed, assigned to nobody

[2019-02-06 11:04] khouloudbelguith commented on #10143
Hi @rdy4ever,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-06 11:04] #10143 closed, assigned to nobody

[2019-02-06 11:06] jolelievre commented on #11879
Note about upgrade:
- when upgrading PrestaShop the MailGenerator must check if the files already exist in which case by default it will ignore this file and leave the existent
- in the autoupgrade you have an option to decide if you want to keep your customized email or not If you don't then the MailGenerator must overwrite the existing files (add an option in the generation process `forcerOverwr

[2019-02-06 11:07] khouloudbelguith commented on #12452
@Ybeske, have you tried to contact the module author about this issue?
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2019-02-06 11:08] khouloudbelguith commented on #12421
Hi @Belyce32,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-02-06 11:08] #12421 closed, assigned to nobody

[2019-02-06 11:09] Ybeske commented on #12452
After a clean PS install (without the extra theme installed) I got one error from a certain type.

[2019-02-06 11:11] Ybeske commented on #12452
This is the situation after a clean install:

<img width="1692" alt="schermafbeelding 2019-02-06 om 12 10 49" src="https://user-images.githubusercontent.com/43880279/52337583-507d3a80-2a08-11e9-8053-d89373719737.png">

[2019-02-06 11:13] Ybeske commented on #12452
To clarify my note -> This screenshot describes the situation after a clean PS1.7.0 install:

<img width="1692" alt="schermafbeelding 2019-02-06 om 12 10 49" src="https://user-images.githubusercontent.com/43880279/52337723-b2d63b00-2a08-11e9-8586-c33bcb81a47d.png">

[2019-02-06 11:16] Belyce32 commented on #12421
Thank you so much for your precious help !!!!

Le 06/02/2019 à 12:09, khouloudbelguith a écrit :

[2019-02-06 11:23] khouloudbelguith commented on #12449
Hi @pdkey,

Is it the same issue reported in this ticket: https://github.com/PrestaShop/psgdpr/issues/50?
Thanks!

[2019-02-06 11:27] khouloudbelguith commented on #12450
Hi @pdkey,

Could you please provide me a screenshot of your issue?
Thanks!

[2019-02-06 11:30] khouloudbelguith commented on #10206
Hi @maofree,

After applying this patch https://github.com/PrestaShop/PrestaShop/pull/10270, your issue is solved?
Thanks!

[2019-02-06 11:31] khouloudbelguith commented on #10526
Hi @amtriorix,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-06 11:31] #10526 closed, assigned to nobody

[2019-02-06 11:32] khouloudbelguith commented on #11346
Hi @dheerajwebkul,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-06 11:32] #11346 closed, assigned to nobody

[2019-02-06 11:33] khouloudbelguith commented on #11548
Hi @musaffar-patel,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-02-06 11:34] khouloudbelguith commented on #11115
Hi @sirion89,

Any news about your issue?
Thanks!

[2019-02-06 11:36] khouloudbelguith commented on #11721
Hi @matteolavaggi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-02-06 11:36] #11721 closed, assigned to nobody

[2019-02-06 11:46] khouloudbelguith commented on #12453
Hi @hanuchin,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9901
So, I close it.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-02-06 11:46] #12453 closed, assigned to nobody

[2019-02-06 11:46] khouloudbelguith commented on #12453
Duplicate of #9901

[2019-02-06 11:54] sirion89 commented on #11115
@khouloudbelguith nope sorry, it didn't even happen anymore during the last period

[2019-02-06 11:56] khouloudbelguith commented on #11115
@sirion89, thanks for your feedback.
@bm-services, do still have the same issue?
Thanks!

[2019-02-06 11:59] mbadrani opened #12454 "Glitch: onboarding popup on safari browser"
On safari
We have this kind of graphical glitch:
![image](https://user-images.githubusercontent.com/29543279/52064799-9d2ec480-2575-11e9-879e-653253c9692e.png)

_Originally posted by @mbadrani in https://github.com/PrestaShop/PrestaShop/pull/12354#issuecomment-459387200_

[2019-02-06 12:06] Ned201 opened #12455 "Notice-message while doing an order refund"
**Describe the bug**
While doing a order refund, the next notice-message occurs:
Notice on line 1029 in file ../controllers/admin/AdminOrdersController.php [8] Undefined variable: voucher

**To Reproduce**
Steps to reproduce the behavior:
1. Enable PrestaShop Debug
2. Enable returns under 'Customer service' --> 'Merchandise Returns'
3. Select an order and if not yet done, change the order-status t

[2019-02-06 12:09] #12018 closed, assigned to nobody

[2019-02-06 12:10] khouloudbelguith commented on #11193
Hi,

I did not manage to reproduce the issue with PS1.7.5.0 (Friendly URL enabled & disabled) & nginx/1.14.0.
You need to check your server configuration as described in this file
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf
Thanks!

[2019-02-06 12:18] Maofree commented on #10206
hi
that solution is good

[2019-02-06 12:21] teemumantynen opened #12456 "Checkout proceeds automatically from carrier selection to payment selection"
I'm developing a shipment module. My plan is to use the displayCarrierExtraContent -hook to display additional info and input fields when a customer selects a particular carrier by clicking its radio button during checkout. This has worked fine with PS 1.7.2 - 1.7.4 and my earlier shipping modules.

But lately I've been using PS 1.7.5.0 to develop my latest shipping module. To my great surprise I

[2019-02-06 12:26] khouloudbelguith commented on #10206
@maofree, your issue is related to this ticket: ticket: #10010?
Thanks!

[2019-02-06 12:28] Maofree commented on #10206
no, that it is another thing completely different
it is associated to this one
#10270

[2019-02-06 12:38] marionf commented on #12454
@mbadrani why waiting for PM ?
What is your Safari version ?
What is your screen size ?
Do you have the same issue on 1.7.5.0, 1.7.4.4 ?

[2019-02-06 12:41] khouloudbelguith commented on #12452
Hi @Ybeske,

Thanks for this clarifications.
I manage to reproduce the issue with PS1.7.5.0  when friendly URL is disabled. (only reproduced with 2 shops)
![image](https://user-images.githubusercontent.com/16067358/52341864-10bc5000-2a14-11e9-9a2e-0969a7a67d07.png)
Tested with another PS1.7.5.0 => OK
Tested with machine-shuffle => OK
@marionf did you manage to reproduce the issue?
Thanks!

[2019-02-06 12:49] bm-services commented on #11115
Yes, we have this problem on several PrestaShop 1.7 (1.7.3.3, 1.7.4.0) when customer make several actions with his addresses (create new address or modify it) in checkout page. It creates multishipping orders, old address staying attached to a different carrier...

[2019-02-06 12:52] khouloudbelguith commented on #11115
@bm-services, thanks for your feedback.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-02-06 12:56] khouloudbelguith commented on #12455
Hi @Ned201,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/15E3uyNT1JutAWErCPAGFw2cKllFeSAUW/view
Thanks to check & feedback

[2019-02-06 12:59] khouloudbelguith commented on #12454
Hi,

I tried with fresh installation 1.7.5.x & Safari browser v11 & it is OK.
![image](https://user-images.githubusercontent.com/16067358/52343083-6fcf9400-2a17-11e9-8e07-172df5d2be19.png)
Thanks!

[2019-02-06 13:03] paintspec opened #12457 "Errors after placing order in 1.6.1.23"
After customers place an order on my webshop the order comes in, but doesnt give the right status. Customers doesnt become a confirmation(payment done by mollie). I have to mannual update the order.

In log i get the following error:

[Wed Feb 06 13:54:37.897850 2019] [proxy_fcgi:error] [pid 491791:tid 139869342516992] [client xxxxxxxxxx:55118] AH01071: Got error 'PHP message: PHP Warning:  Declar

[2019-02-06 13:04] marionf commented on #12452
@khouloudbelguith I can't reproduce with a fresh 1.7.5.0

![capture d ecran_984](https://user-images.githubusercontent.com/13449658/52343332-13b93f80-2a18-11e9-9d5e-d12756e25fbf.png)

[2019-02-06 13:09] #11655 closed, assigned to nobody

[2019-02-06 13:09] khouloudbelguith commented on #12457
Hi @paintspec,

You have an override of the class Tools.php, it is displayed in your error.
`/home/simon/domains/paintspectrum.nl/public_html/override/classes/Tools.php on line 0\n', referer: https://paintspectrum.nl/adminxxx/index.php?controller=AdminDashboard&token=ac447ca3e45fc1a11680bfab950787f9`
It could be a problem.
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extens

[2019-02-06 13:09] #12457 closed, assigned to nobody

[2019-02-06 13:11] paintspec commented on #12457
ahaa well i will not go over to 1.7 as that gives more and more issues. Maybe time to switch

[2019-02-06 13:14] khouloudbelguith commented on #12456
Hi @teemumantynen,

Thanks for your report.
Could you please provide me a demo module to test it.
Thanks!

[2019-02-06 13:14] paintspec commented on #12457
to another platform, so thumbs up is a bit weird

[2019-02-06 13:16] khouloudbelguith commented on #12457
@paintspec, as I described in my last comment, you have an override of the class Tools.php, it could be the problem.
Thanks!

[2019-02-06 13:18] colinegin opened #12458 "Integrate email template new design"
This issue is related to the project which aims at reworking the whole email generation system, while replacing the current template with a new and modern one for an improved user experience.

The new template will be generic, for all stores, both for native transactional emails and module emails.

The mock ups of the reworked template are available here : [https://invis.io/X7QDB1H69EZ](url)

[2019-02-06 13:24] Max84 opened #12459 "Updating a default combination trhow webservice"
Webservice hasn't the same behavior than backoffice.
When i try to create or update the field default_on for a combination throw webservice, i get an error "unable to save resource"

**To Reproduce**
Steps to reproduce the behavior:
1. Find a product with a default combination
2. Create a new combination throw webservice with "default_on" setted to 1
3. See error : "Unable to save resource".

Let'

[2019-02-06 13:31] Littlemonkey56 commented on #12283
Hello,

Thank you for the answer.
Yes, I did it and I had a reply.
There was a typing error in fact.

Thank you for your help anyway.

Best regard,

[2019-02-06 13:31] colinegin opened #12460 "Rework transactional emails wording"
This issue is related to the project which aims at reworking the whole email generation system, while replacing the current template with a new and modern one for an improved user experience.

The objective of this issue is to rework (only when needed) the wording used in the transactional emails to offer a more modern experience to merchants' customers.

The wording rework is to be done on both n

[2019-02-06 13:44] x29a commented on #12265
Thank you both for your answers!
 @PierreRambaud i was only referring `memcache` (without the D) because it currently is selected-by-default option. Maybe your comment is an indication that it should be removed along the way.

@jolelievre This just introduced another aspect, so i see a multistep approach
* Implement your suggested changes for when caching is disabled
* Revert the CacheFs removal p

[2019-02-06 13:47] pdkey commented on #12450
@khouloudbelguith i hope now its better to understand.

main Domain
![ps_legalcompliance main domain](https://user-images.githubusercontent.com/46047238/52345613-fab38d00-2a1d-11e9-843a-88f6dd938076.jpg)

Subdomain
![ps_legalcompliance subdomain](https://user-images.githubusercontent.com/46047238/52345633-056e2200-2a1e-11e9-801f-eb67c9491ddb.jpg)

tell me if you need more informations.
thanks

[2019-02-06 13:50] khouloudbelguith commented on #12283
@Littlemonkey56, so can I close the issue?
Thanks!

[2019-02-06 13:50] evagofr commented on #11548
Hi,
I am also experiencing it since we updated to 1.7.5.0 last month (from 1.7.2.4).
Module : psgdpr (GDPR Official / RGPD Officiel (in french) v1.1.2 by Prestashop)
Did not see other modules impacted but this is possible. I tested a minor modification on contactform module overide and it works. So there is only this one module psgdpr for now.

[2019-02-06 13:53] khouloudbelguith commented on #11548
@Juke29,

What is the exact modification did you make with the module GDPR? could you please provide me the override?
Thanks!

[2019-02-06 13:57] evagofr commented on #11548
I simply added a `<p>some texte</p>` to the file:
my_theme/modules/psgdpr/views/templates/front/customerPersonalData17.tpl

[2019-02-06 14:05] PierreRambaud opened #12461 "PrestaShop must be compatible with PHP 7.3"
**PHP 7.3** is already released and is installed by default on new systems (such as **Debian Buster**).

We need to identify which dependencies are not fully compatible with it..
Which dependencies are offering new stuffs we need or potentially want to use (e.g: latest RFC for SwiftMailer).

EDIT: support for php7.3 has been officially announced for incoming 1.7.7 version
See http://build.prestash

[2019-02-06 14:09] evagofr commented on #11548
I tried to update the file directly in /modules/psgdpr/ but now I see that it is not updating either!
I don't get it, any other module's files I see the update, but not this one, neither in /modules/ or in /my_theme/modules/.

[2019-02-06 14:18] Ybeske commented on #12452
Strange: When I visit the website with Firefox (instead of Safari), I only got these 2 errors:
I suppose the other "less important" errors are not shown in Firefox and occurs based on the [root]/theme/core.js...

I don't understand the call of the .map extension. This file doesn't exist.
Where/by who is it called?

<img width="1093" alt="schermafbeelding 2019-02-06 om 15 08 06" src="https://user-i

[2019-02-06 14:29] morghy1992 opened #12462 "After Update 1.7.5 got problem to price shopping cart"
**Describe the bug** After updating prestashop 1.7.5 i got a problem with price.
I insert product into the cart I'll go to checkout and it doesn't give me the price on subtotal.
It remains 0.00€.
What can I do ? my customer can't proceed to finish the order.
<img width="1405" alt="schermata 2019-02-06 alle 15 28 24" src="https://user-images.githubusercontent.com/47249256/52348149-e96d7f00-2a23-11e

[2019-02-06 14:34] pdkey commented on #12449
Hi @khouloudbelguith
yes the same issue - BUT to reproduce the issue:
- 2 Shops in 2 different groups. than you can see the duplicated compliant modules.
and the issue with the URLs of the Subdomain.

My way:
1. clean installation PS 1.7.4.2
a) install modules psgdpr, ps_legalcompliance and 1-step upgrade
b) full modules it with informations.
3. upgtade to PS 1.7.4.4
a) update all modules
4. upgra

[2019-02-06 14:36] agnesdennetiere opened #12463 "Enter keypress disabled on admin product form"
Hello,

I have added a textarea field on the product form in the backoffice, but I realised that the "enter" key was disabled in javascript, so it is not possible to insert a line break (other than with copy paste...).
I checked everywhere to override this but I cannot find where in the code it is done.
Could you please help me?

**Additionnal information**
PrestaShop version: 1.7.4.2

[2019-02-06 14:36] khouloudbelguith commented on #12462
Hi @morghy1992,

did you use a product with customization?
Have you a similar issue with this ticket: #10912?
Thanks!

[2019-02-06 14:38] morghy1992 commented on #12462
@khouloudbelguith yes I use customization because the products has different size and you can choose it and it change the price. What do you suggest to do?

[2019-02-06 14:42] khouloudbelguith commented on #12462
@morghy1992, so you have a similar issue with this ticket:#10912??
Thanks!

[2019-02-06 14:48] morghy1992 commented on #12462
@khouloudbelguith no it's not the same problem

[2019-02-06 14:49] PierreRambaud commented on #12192
Totally agreed. Are you able to create a pull request?

[2019-02-06 14:50] PierreRambaud commented on #12417
Before adding features to TinyMce, we need to use the latest version, with npm..  :roll_eyes:

[2019-02-06 15:04] fantonifra opened #12464 "error in update product though webservice"
Hi,
using Prestashop after I upgrade MySql from 5.5 to 8.0.13 and Php from 5.6 to 7.0 (7.1 or 7.2) I got an error updating a product through webservice api.

I investigated deeply and I found this error in prestahop log:
_ERROR v1.7.2.4	2019/01/30 - 16:41:18: Link to database cannot be established:SQLSTATE[HY000] [2054] Server sent charset unknown to the client. Please, report to the developers at

[2019-02-06 15:07] rufusmaika commented on #9652
Hi @khouloudbelguith,
Thanks for your input.
I could see that in your video there is no issue, although in my shop there is an issue.
What do you think it might be the issue in my case?
Thanks in advance.

[2019-02-06 15:08] khouloudbelguith commented on #12463
Hi @agnesdennetiere,

Could you please try with "Shift" + "Enter" & feedback.
Thanks!

[2019-02-06 15:10] khouloudbelguith commented on #9652
@rufusmaika, you need to check the version of your ps_categoryproducts module, this issue is fixed with this PR: https://github.com/PrestaShop/ps_categoryproducts/pull/6
Thanks!

[2019-02-06 15:12] agnesdennetiere commented on #12463
Shift+Enter is indeed working

[2019-02-06 15:14] khouloudbelguith commented on #12464
Hi @fantonifra,

The problem comes from your web host.
Your issue is not related to PrestaShop => it is an error on your server.

Try to connect to your MySQL server in command line if you can, `mysql -u MYSQL_USER -p DATABASE_NAME -h DATABASE_HOST` try to connect by replacing values.

Thanks to check & feedback.

[2019-02-06 15:14] rufusmaika commented on #9652
@khouloudbelguith
My module version is v1.0.4
Thanks

[2019-02-06 15:17] khouloudbelguith commented on #12463
@agnesdennetiere, so could this help you to solve your issue?
Thanks!

[2019-02-06 15:18] khouloudbelguith commented on #9652
@rufusmaika, could you please try to uninstall it with deleting the module folder, clear cache & try to install it again.
Thanks!

[2019-02-06 15:20] khouloudbelguith commented on #12462
@morghy1992, did you use this section
![image](https://user-images.githubusercontent.com/16067358/52351405-fa6dbe80-2a2a-11e9-8d4d-86b4bc6ff1e7.png)
in your product added to the cart?
Thanks!

[2019-02-06 15:22] morghy1992 commented on #12462
@khouloudbelguith i am sorry just confused customization with combination.
For my product only use COMBINATION I never used customization because I don't need it.

[2019-02-06 15:23] agnesdennetiere commented on #12463
I will make it work with my customer
thank you !

[2019-02-06 15:23] #12463 closed, assigned to nobody

[2019-02-06 15:26] khouloudbelguith commented on #12463
@agnesdennetiere, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-02-06 15:31] fantonifra commented on #12464
Hi [@khouloudbelguith](/khouloudbelguith),
thanks for your reply. Prestashop is in a our virtual machine, so we have complete access to the host.
All worked fine until we migrated mysql to 8.0.13 version and php to 7.0. Now we cannot go back because we are in production.  All works fine except webservice update: we can read data from api but we cannot update any product due to the error above

[2019-02-06 15:33] matks commented on #12445
I dont see (yet) usecases where it can be useful.

Having 2 services is good for PrestaShop extensibility, this way developers can plug in a middleware on queries alone or commands alone.

Having 2 buses could be useful if we wanted to process them differently, for example dispatching Commands using a message broker. This is not useful yet and remains doable because of the 2 services.

So it looks

[2019-02-06 15:35] morghy1992 commented on #12462
<img width="1439" alt="schermata 2019-02-06 alle 16 42 03" src="https://user-images.githubusercontent.com/47249256/52353116-35252600-2a2e-11e9-83d8-c4f2133e51e1.png">
@khouloudbelguith any suggestion? :) just active debug mode and got this error

[2019-02-06 15:45] khouloudbelguith commented on #12462
@morghy1992, in my case, I did not manage to reproduce the issue with PS1.7.5.0 after an upgrade.
![image](https://user-images.githubusercontent.com/16067358/52353049-10c94980-2a2e-11e9-875f-b587850bd0e7.png)
You can check this value in the file
Project_PrestaShop/src/Adapter/Presenter/Cart/CartPresenter.php
[code]

The value of subtotals is set in this section.

In the file /Project_Folder/themes

[2019-02-06 15:46] rufusmaika commented on #9652
@khouloudbelguith
I have uninstalled the module and clicked to delete the module folder, cleared the cache.
Trying to upload the zip file downloaded from github.
When uploading the zip file it says the following error:
This file does not seem to be a valid module zip

Am i missing something ?

Thanks.

[2019-02-06 15:49] khouloudbelguith commented on #9652
@rufusmaika, you need to clone it then compress it.
Thanks!

[2019-02-06 15:54] morghy1992 commented on #12462
@khouloudbelguith checked and everything is like yours file. I really do not what can be :( do you think I can resolve the problem?

[2019-02-06 15:56] khouloudbelguith commented on #12462
@morghy1992, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-02-06 16:01] morghy1992 commented on #12462
@khouloudbelguith here debug mode report
<img width="1434" alt="schermata 2019-02-06 alle 17 00 37" src="https://user-images.githubusercontent.com/47249256/52354475-cb5a4b80-2a30-11e9-9974-aa42a15e1c56.png">

[2019-02-06 16:03] morghy1992 commented on #12462
log errors:
Next LogicException: Request stack is empty in /home/gelitaly/public_html/app/bootstrap.php.cache:3224
Stack trace:
#0 [internal function]: Symfony\Component in /home/gelitaly/public_html/app/bootstrap.php.cache on line 3224
[31-Jan-2019 08:37:42] PHP Parse error:  syntax error, unexpected T_STRING, expecting T_CONSTANT_ENCAPSED_STRING or '(' in /home/gelitaly/public_html/admin123/inde

[2019-02-06 16:05] eternoendless commented on #11841
I think we should make modules use the new system when possible, while keeping compatibility with previous previous 1.7 releases. Here's how it would work:

1. Modules use the new system, each one having its own domain: `Modules.MyModule`
2. Modules can still use `$this->l()` which is going to behave as _deprecated alias_ of `$this->trans()`.
3. The translation system will work by registering a re

[2019-02-06 16:05] ClaudioSagaris opened #12466 "/module/ps_wirepayment/validation"
Prestashop 1.7.5 Complet New
www.supreme-shop-schweiz.ch
Create a new Account
Create an new Order

[Wed Feb 06 16:31:27 2019] [error] [client 46.140.9.106] PHP Fatal error:  Uncaught Swift_RfcComplianceException: Address in mailbox given [info@] does not comply with RFC 2822, 3.6.2. in /home/www/web455/html/new.supreme-shop/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Mime/Headers/MailboxHeade

[2019-02-06 16:07] khouloudbelguith commented on #12462
@morghy1992, the table ps1i_apbooking_cart is created by a custom module, what the exact name of this module?
Thanks!

[2019-02-06 16:09] morghy1992 commented on #12462
@khouloudbelguith i do not know the name, maybe this: Leo feature for prestashop 1.7: ajax cart, dropdown cart, fly cart, review, compare, wishlist at product list?

[2019-02-06 16:11] naps1saps opened #12467 "Local path to add-on modules being stored in database?"
Upgraded 1.7.4 to 1.7.5
Go to modules > update and get a 500 error
Debug: Translation missing
en-US	AdminActions	58	Disable mobile	Disable mobile
en-US	AdminActions	4	Upgrade	                Upgrade
en-US	AdminActions	3	Enable mobile	        Enable mobile

I checked international > languages > modify
Could not locate the above entries in en-US > Admin > Actions

The languages page also says "2 mis