[2020-10-23 15:26] florine2623 commented on #21591
Hi @amarkumar1234 ,
Please be more specific about your issue and follow the issue template.
For now I'll close your issue, feel free to open a new one once all info is gathered.
Thanks!

[2020-10-23 15:26] #21591 closed, assigned to nobody

[2020-10-23 15:29] MatShir commented on #12170
I can't reproduce the issue in the 1.7.7 version, the address is edit for the current order and new orders but the old one is kept the old address to avoid undesired changes.

Hi @khouloudbelguith, when you have time could you do a double check on this issue? I think we can close it.

[2020-10-23 15:29] sowbiba commented on #21571
https://github.com/PrestaShop/PrestaShop/pull/21576#issuecomment-715410371

[2020-10-23 15:39] PululuK commented on #21493
Hi @MatShir
if I understood correctly you want **Enable hosts check** input to be displayed before **Hosts allowed**, right ?

[2020-10-23 15:44] florine2623 commented on #12170
Hello @Uff182 @okom3pom ,
This issue has been fixed in PS 1.7.7. The whole order page has been reworked.
After modifying an existing address, there's no new address created.
Here's the result in order page :
![Capture d’écran 2020-10-23 à 17 42 38](https://user-images.githubusercontent.com/16019289/97024568-3f1aef80-1557-11eb-92a5-fa9fbfbe41d6.png)
And the address list in customer page :
![Captu

[2020-10-23 15:44] #12170 closed, assigned to nobody

[2020-10-23 15:46] khouloudbelguith commented on #21571
Hi @sowbiba,

In fact, the issue is that the successful alert is not displayed when changing the Free shipping status or changing the status's carrier with a bulk action.
for example
![image](https://user-images.githubusercontent.com/16067358/97024874-9ae57880-1557-11eb-9a53-1f4098a5a056.png)
Thanks!

[2020-10-23 15:53] MatShir commented on #21493
Yes, It will make more sense, then we could add some wording below the toggle "**Host check**" to explain the feature.
Because If the user adds a list of the URL but doesn't activate the "**Host check**", the user will be confused why it didn't work or why he has to add the URL.

[2020-10-23 15:57] PululuK commented on #21493
I agree with you ! Thank you very much @MatShir .

[2020-10-23 16:08] morethangifts opened #21594 "Google Sitemap and Watermark is not able for install in Prestashop"
![google](https://user-images.githubusercontent.com/73289823/97027089-2fe57300-1552-11eb-9bad-c5e141a95774.JPG)

How I can solve this bug in Google Sitemap and Watermark addons ?

[2020-10-23 16:16] florine2623 commented on #21594
Hi @morethangifts ,
You can download the modules from your Modules catalog.
If needed you can download them through GitHub directly :
https://github.com/PrestaShop/watermark
https://github.com/PrestaShop/gsitemap
Thanks!

[2020-10-23 16:16] #21594 closed, assigned to nobody

[2020-10-23 17:13] morethangifts opened #21595 "How I can install modules after Add New Module in Prestashop?"
Hello

I made download of zip files :
https://github.com/PrestaShop/watermark
https://github.com/PrestaShop/gsitemap

When I Upload them in PRESTASHOP the Addons doesn't appear for instalation ...
![modulo](https://user-images.githubusercontent.com/73289823/97033511-5cea5380-155b-11eb-9d44-8d07d6ea14fc.JPG)
![modulo](https://user-images.githubusercontent.com/73289823/97033529-64a9f800-155b-11eb-92

[2020-10-23 17:34] confusedatma9 opened #21596 "How a product in PrestaShop can be uniquely identified?"
How a product in PrestaShop can be uniquely identified? Can **reference** be used as unique identifier for a product.

[2020-10-23 17:57] SimonGrn commented on #21596
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-10-23 17:57] #21596 closed, assigned to nobody

[2020-10-23 17:57] SimonGrn commented on #21595
Dear @morethangifts ,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2020-10-23 17:57] #21595 closed, assigned to nobody

[2020-10-24 02:48] Olosinsk-commits opened #21597 "Not able to purchase PrestaShop Kickstart Template via the Azure Marketplace"
#### Describe the bug
When I try to buy the image via the Azure Marketplace, validation run forever or deployment fails with the error message saying extension timed out.

"status": "Failed",
"error": {
"code": "ResourceDeploymentFailure",
"message": "The resource operation completed with terminal provisioning state 'Failed'.",
"details": \[
{
"code": "VMExtensionHandlerNonTransientError",
"messag

[2020-10-24 11:38] amarkumar1234 opened #21598 "I am unable to import localisation pack in my prestashop store. Whenever I am trying to import localisation pack, it shows invalid selection. Please help."
I am unable to import localisation pack in my prestashop store. Whenever I am trying to import localisation pack, it shows invalid selection. Please help.

[2020-10-24 13:16] SimonGrn commented on #21598
Dear @amarkumar1234
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2020-10-24 13:16] #21598 closed, assigned to nobody

[2020-10-24 14:35] morethangifts opened #21599 "Add new Modules in Prestashop 1.6.1.24"
I need help to know how to install the Zip files I downloaded according to your recommendation in another ticket '' Google Maps '' and '' Watermark ''.
 my version version of PrestaShop 1.6.1.24
When on my Prestashop I add a new module, it gives the file as downloaded but then in the list / menu of addons it does not appear for installation and configuration. I need to know if the file is download

[2020-10-24 14:52] dandry opened #21600 "BestSalesProductSearchProvider ignores sorting argument when 'order' query param is falsy"
#### Describe the bug

I am trying to display best selling products from a module. For that I am leveraging `BestSalesProductSearchProvider` with random sort order. Even if I provide sorting order, it still defaults to number of sales. This is because of the implementation, which ignores provided sorting order and sets the sorting order to number of sales if `order` query parameter is falsy:

http

[2020-10-24 15:03] SimonGrn commented on #21599
Hello,
PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).
Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep in mind that

[2020-10-24 15:03] #21599 closed, assigned to nobody

[2020-10-24 19:15] AntoineR951 opened #21601 "Ajax cart not update : request return error 500 ; custom ps_shoppingcart override"
Hi,

For some time, when I click "add to cart" button, the cart is not update.

In console I see that a request is send to this url :

www.domain.com/module/ps_shoppingcart/ajax

And the url return a error 500.

When I launch debug mode I have this page :

![image](https://user-images.githubusercontent.com/32392277/97091705-53c9b700-162d-11eb-841c-bbe1ac4e1861.png)

The error message is :

Warning

[2020-10-24 20:20] matks commented on #21601
@AntoineR951 According to this error stack you have an override of ps_shoppingcart main php file that is faulty. You need to fix this file.

This file is only on your shop, it is not part of the project so we cannot help you so I close the issue.

If you need help to fix this override, check out these links
- Community chat: https://github.com/PrestaShop/open-source/blob/master/slack/readme.md
- C

[2020-10-24 20:20] #21601 closed, assigned to nobody

[2020-10-25 04:30] danielkauffman opened #21602 "Adding certain product combinations to the cart does not work"
In PrestaShop version 1.7.7.0 beta 2, I experienced what may be the same issue as #19554.

I created a product with combinations and attempted to add each combination to the cart. I was able to add two of three combinations to the cart, but was not able to add the third combination to the cart.

I then switched to the default theme and confirmed the above. When selecting the third combination, and

[2020-10-25 11:00] w3spi5 commented on #14663
Same error for me. Tested on PHP 7.2.x, 7.3.x, 7.4.x. Nothing worked, but
PHP 7.1.1 works !

[2020-10-25 12:06] amarkumar1234 commented on #21598
hey, I have added an attachment of the issue. Please look into this once
![Screenshot (13)](https://user-images.githubusercontent.com/40355785/97106571-ce232700-167f-11eb-8007-322c193b26b1.png)

[2020-10-25 12:16] amarkumar1234 opened #21603 "Unable to import localisation pack in prestashop store."
Whenever I am trying to import localisation pack in prestashop to change language, tax etc. It shows some invalid selection everytime. I have tried lot of time but unable to complete the process, please look into this.

Steps to reproduce the behavior:

1. Go to dashboard of the prestashop store
2. Click on International on the left of the dashboard
3. Try to import localization pack
4. See error

[2020-10-25 12:17] SimonGrn commented on #21598
@amarkumar1234 you posted a screenshot with a link to your admin area. I removed it.
Please read my precedent comment and recreate an issue, **following the template**.

I close this one.

[2020-10-25 12:29] SimonGrn commented on #21603
Hello @amarkumar1234
once again you submitted a screenshot with your admin link. Anybody can see what it is. This is a **SERIOUS SECURITY ISSUE. You need to change your admin folder name right now**.

As for your problem, I'm still not able to reproduce it.

PrestaShop 1.7.6.8 is not compatible with PHP 7.3 as you can see [in the documentation](https://devdocs.prestashop.com/1.7/basics/installatio

[2020-10-25 20:38] matks commented on #14663
Hi everybody,

If you have a reproductible issue (= a scenario that we can follow, with detailed settings, requirements, steps-by-steps instructions that can lead us to reproduce the error mentioned) please create a new issue, it will be a lot of easier to work on it. This issue has a long history and we tried many times to reproduce it without success. Reopening it would be a bad idea, because it

[2020-10-25 20:58] mvorisek commented on #14663
@matks I think it is easy to reproduce, please retry with the following configuration:
- Windows 10 (but 7 or Server 2012-2020 should work the same)
- PHP 7.3 (but 7.2 - 7.4 should work the same)
- NTS build (TS build resolves paths a little bit differently - see https://bugs.php.net/bug.php?id=78939)

I am very sure it is related with https://github.com/PrestaShop/PrestaShop/issues/20709 which I

[2020-10-25 23:49] fredericoregateiro opened #21604 "Filter order by date using the webservice api"
#### Is your feature request related to a problem?

I need to filter the orders by date using the webservice api

#### Describe the solution you'd like

Add a filter key that allow filtering like >, >=, <=, < using a given field

#### Alternatives you've considered

filter[field_gt]=[value], filter[field_get]=[value], filter[field_let]=[value],filter[field_lt]=[value]

#### Additional context

gt:

[2020-10-26 07:53] czw opened #21605 "Installation fails: Unknown column type "datetime_immutable" requested"
#### Describe the bug

I try to make a clean install of PrestaShop 1.7.6.8 in a separate subdirectory to make it independent of my other projects. Everything goes fine until it's time to create the database tables, which fails with the very unhelpful message "1: Updating database schema". The production log gives this:

[code]

#### Expected behavior

Installation goes fine and I can try out Prest

[2020-10-26 08:04] khouloudbelguith commented on #21605
Hi @czw,

PrestaShop is not compatible with PHP 7.4, PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
The next Major release PS1.7.7 will be compatible with PHP7.3.
The next Major

[2020-10-26 08:04] #21605 closed, assigned to nobody

[2020-10-26 08:08] khouloudbelguith commented on #21604
Hi @fredericoregateiro,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10822
So, I close it.
Thanks!

[2020-10-26 08:08] #21604 closed, assigned to nobody

[2020-10-26 08:08] khouloudbelguith commented on #21604
Duplicate of #10822

[2020-10-26 08:24] khouloudbelguith commented on #10822
Hi,

I manage to reproduce the issue with PS1770rc1build2.
I try to filter by this `api/orders/?display=[id]&filter[date_add]=[2020-10-22,2020-11-22]&date=1`
But I have all orders.

Thanks!

[2020-10-26 08:27] khouloudbelguith commented on #21597
Hi @ssinskolga,

your problem is not related to PrestaShop, you will not be able to get help here. You must contact the Azure team directly as they are responsible for their product.
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

Is this the product you were trying to use ? https://azuremarketplace.microsoft.com/en/marketplace/apps/prestashop.prestasho

[2020-10-26 08:27] #21597 closed, assigned to nobody

[2020-10-26 08:42] juraj1000 opened #21606 "SmartyException Unable to load template 'file:checkout/_partials/login-form.tpl'"
#### Describe the bug
If I use a customer with created customer's account in FO then everything works correctly. But if I use a guest user without customer account in FO then after pressing the button "Process to checkout" PS generates smarty exception:
Unable to load template 'file:checkout/_partials/login-form.tpl'

#### Steps to Reproduce
1. Work as a guest in FO
2. Add any item to the shopping

[2020-10-26 08:43] 8ele8 commented on #18647
When do you think the final release will be in November ?
Beginning of November? Mid-November? Or first at the end of November?

Prestashop 1.7.6 is compatible with PHP up to PHP 7.2, but not PHP 7.3.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Webhosting companies that wants to ensure the security of their customers' webspaces and of their servers will decommissio

[2020-10-26 08:56] marionf commented on #21587
Fixed after a composer update, thank for the tip @atomiix :)

[2020-10-26 08:56] #21587 closed, assigned to nobody

[2020-10-26 08:59] khouloudbelguith commented on #14663
Hi @mvorisek,

As commented here: https://github.com/PrestaShop/PrestaShop/issues/16736#issuecomment-564922095
it is ok in my case.
This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-10-26 09:02] Progi1984 commented on #21566
Fixed by #21574

[2020-10-26 09:02] #21566 closed, assigned to jolelievre

[2020-10-26 09:03] khouloudbelguith commented on #21602
Hi @danielkauffman,

Please in the next time, you need to follow GitHub's template.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

It could be a wrong way of combination's generate.
Can you provide me a screenshot from your product page > Combination Tab.

Thanks!

[2020-10-26 09:13] khouloudbelguith commented on #21606
Hi @juraj1000,

I did not manage to reproduce the issue with PS1.7.6.8.
I attached the screen record
https://drive.google.com/file/d/1T73z2UQNRaYKl7NR5HVrMGB5ro0wc6d2/view?usp=sharing
Thanks to check and feedback.

[2020-10-26 09:14] SimonGrn commented on #21597
Hello,

this package was managed by an old team at PrestaShop. Since we cannot update or maintain them, we are currently disabling them on Azure.
Do not use them, we may add some updated packages in the future.

Thank you for your understanding.

[2020-10-26 09:43] mvorisek commented on #14663
@khouloudbelguith of course not, because I belive it is https://github.com/PrestaShop/PrestaShop/issues/20709 which is open and you was able to reproduce as well. It only needs to be assigned and fixed :)

[2020-10-26 10:02] marionf commented on #16802
Issue reported here: https://github.com/PrestaShop/live-demo-devices/issues/16

[2020-10-26 10:02] #16802 closed, assigned to nobody

[2020-10-26 10:02] eternoendless commented on #18647
Hi @8ele8

To the best of our knowledge, RC1 is working fine in php 7.3. You will be able to use it in production if you choose to, but you won't be able to upgrade to a second RC (if there is one) using the 1-click upgrade module.

[2020-10-26 10:17] MatShir commented on #21358
The issue has been moved on the blocked since it needs to wait for #20430 to be merged first

[2020-10-26 10:22] marionf commented on #20464
Duplicate of #20863

[2020-10-26 10:22] #20464 closed, assigned to nobody

[2020-10-26 10:48] MatShir commented on #14018
@TristanLDD @prestascott What do you think? It could rework with the new save button as well :thinking:

[2020-10-26 10:49] NeOMakinG commented on #18910
Every solutions would introduce breaking changes on this one, but it looks necessary, should we improve it anyway ? (and document the BC) @PrestaShop/prestashop-maintainers ?

[2020-10-26 10:55] Hlavtox commented on #14018
@MatShir @prestascott

![58567036-4773db80-823a-11e9-91c9-26748e5c3c12](https://user-images.githubusercontent.com/6097524/97164222-17f43600-1782-11eb-9d47-a0b83f351c9a.png)

[2020-10-26 11:00] NeOMakinG commented on #21006
It's not a mouseover text, this is already the case, when you hover an element you got the value inside a title attribute at the moment.

It's about static data after a click :

![image](https://user-images.githubusercontent.com/14963751/97164737-ddd76400-1782-11eb-85d2-9adb2cd57ee6.png)

Is this enough ? Providing a PR for this

[2020-10-26 11:28] khouloudbelguith commented on #21600
Hi @Dandry,

I manage to reproduce the issue with PS1.7.5.1, PS1.7.6.8, and PS1770rc1build2.
https://drive.google.com/file/d/197WsAdDR76wZRA0ujr3cL70MUu3HGEB6/view?usp=sharing
The sort is not random, Sales are sorted by this order: _highest to lowest_.
I used this [module](https://github.com/PrestaShop/ps_bestsellers/blob/202054bc2f0fa320fba7a14354d5532618466245/ps_bestsellers.php#L215) as an exam

[2020-10-26 11:37] Dandry commented on #21600
Hi @khouloudbelguith, thank you for your reply.

The fix is very easy to apply and I will be happy to make a PR, however I do wonder why that rule was applied in the first place. Maybe there is someone from your team that can shed some light on it here?

[2020-10-26 11:38] khouloudbelguith commented on #21584
Hi @dariusakafest,

Thanks for your feedback.
Is your issue similar to this ticket: #11115 ?

Thanks!

[2020-10-26 11:41] khouloudbelguith commented on #21414
@thierry-laval,

 Unfortunately, there is not enough information provided to reproduce it and work on it.
What is the exact version of the module 1-click upgrade did you use?
Thanks to provide us the log file into `/Prestashop_Folder/autoupgrade/tmp/`

Thanks!

[2020-10-26 11:44] ghost opened #21614 "Smarty cache issue with getDevice() and isMobile()"
#### Describe the bug

Smarty conditions Context::getContext()->isMobile() and getDevice() dont work when smarty cache is enabled

#### Expected behavior

In my template i use condition {if Context::getContext()->isMobile() == 1} and i want show different text for mobile and dekstop.
When smaty cache is disabled everything works perfect.

#### Steps to Reproduce

Steps to reproduce the behavior:

[2020-10-26 11:45] khouloudbelguith commented on #21600
Hi @Dandry,

You can use our [public Slack server](https://github.com/PrestaShop/open-source/tree/master/slack) to get the exact response from our devs.

Thank you!

[2020-10-26 12:48] TristanLDD commented on #14039
Hello !

Design is available here: https://invis.io/RDZ7QTTK8NY

[2020-10-26 12:58] MatShir commented on #21461
Issue #14018 that might be related to readjustment of the form

[2020-10-26 13:15] thierry-laval commented on #21414
1-Click Upgrade
v4.10.1 - par PrestaShop

i don't have the log because i install manually all the file of prestashop. I don't use the module.
Maybe it' a problem with Ionos... I don't know.

[2020-10-26 13:17] matks commented on #18910
Can we not aim for the "Aligning sub-categories" by just adding the right bootstrap CSS classes ? I'm wondering if we can achieve a 70%-correct result without BC breaks.

[2020-10-26 13:19] khouloudbelguith commented on #21614
Hi @simon12q,

I did not manage to reproduce the issue with PS1.7.6.8.
I attached a screen record
https://drive.google.com/file/d/1Gb8UdND5v64sX-x95-WqVJGoPpZdVwSU/view?usp=sharing
When Smarty cache is enabled, the Template compilation is set to "Force compilation" in my case.
![image](https://user-images.githubusercontent.com/16067358/97177096-3b28e080-1796-11eb-80dd-cc4fecd0d547.png)

Thanks to

[2020-10-26 13:21] NeOMakinG commented on #18910
I'm gonna take a look, but I doubt about it

[2020-10-26 13:27] boubkerbribri commented on #16482
Like discussed with @matks , this is a list of UI tests to run to validate some of the PRs for this epic.
To run tests you need this commands :
[code]

PS: You can check [README.md](https://github.com/PrestaShop/PrestaShop/blob/develop/tests/UI/README.md) file for more parameters (if needed).

Page                                                        | UI tests (Path if exist / No otherwise) | N

[2020-10-26 13:50] marionf commented on #10178
Hello everyone,

Unfortunely we tried to reproduce this issue many times but without success.
There is some informations / elements missing to be able to reproduce this issue.
If you have this issue please open a new issue with more details.
As you know, we are not able to fix an issue if we can't reproduce it.

Thank you for your help

[2020-10-26 13:50] #10178 closed, assigned to marionf

[2020-10-26 13:57] khouloudbelguith commented on #21414
@thierry-laval,

About Installing PrestaShop, you need to follow this link
http://doc.prestashop.com/display/PS17/Installing+PrestaShop+on+your+computer
What is the exact way did you use it?

Are you using the 1-click upgrade module is it?
Did you install it from the BO > Modules > Module Catalog page? is it?

You can find the file into `/PrestaShop_Folder/admin_folder/tmp/`

Thanks!

[2020-10-26 14:08] matks commented on #11115
@MatShir I confirm that this issue is a global mess 😅

I think many people observe the same issue (= duplicate order references) but there are actually multiple usecases, some which are faulty, some which are not.

I have noticed:

## Duplicate order references when there is an order split

This usecase is not a bug ✅  . When a cart contains multiple products that cannot be shipped by a single car

[2020-10-26 14:12] NeOMakinG commented on #18910
![image](https://user-images.githubusercontent.com/14963751/97183018-8db9cb00-179d-11eb-8a2b-5c8bda4688b6.png)

Even with a grid system, this is so ugly/no understandable. It should be a column layout, not a row one.

But this is a BC anyway

[2020-10-26 14:12] NeOMakinG commented on #18910
wdyt @PrestaShop/product-team @PrestaShop/ux-team ?

[2020-10-26 14:16] NeOMakinG commented on #21105
@PrestaShop/prestashop-maintainers I need a backend dev for the "optional" feature, I can do the front.

@PrestaShop/product-team How do we display the out of stock label?

[2020-10-26 14:38] thierry-laval commented on #21414
Alors.

J'ai le module 1-click upgrade v4.10.1 installé depuis le store de prestashop.
from the BO > Modules > Module Catalog page

Merci pour le document d'installation de prestashop, je sais l'installer :-)

J'ai utilisé le module 1-click upgrade de mise à jour comme celui ci explique de le faire.
Et l'erreur ajax est arrivée a la fin...
J'avais deja eu le meme probleme sur une autre version de

[2020-10-26 14:53] DevSTG opened #21615 "Password changes after installation is complete"
Right after successfull installation of 1.7.6.8 version my shop was not working because of database connection error.
I found that a '%' in database password was changed to '%%' (database_password) in parameters.php file.

[2020-10-26 14:57] SimonGrn commented on #21615
Hello @DevSTG
please think about respecting the template. We use it to make sure we have all the informations.

We are aware of this issue, this is a duplicate of #12556, fixed in #19850.

You will be able to get the fix by upgrading to 1.7.8.0 when it will come out.

I close this one.

[2020-10-26 14:57] #21615 closed, assigned to nobody

[2020-10-26 14:57] SimonGrn commented on #21615
Duplicate of #12556

[2020-10-26 15:03] alfiosalanitri opened #21618 "Uncaught TypeError: can't access property "quantityWanted", _prestashop2.default.selectors is undefined"

[2020-10-26 15:04] khouloudbelguith commented on #21618
Hi @alfiosalanitri,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-10-26 15:04] #21618 closed, assigned to nobody

[2020-10-26 15:11] marionf commented on #21105
It's rather a question for @PrestaShop/ux-team

[2020-10-26 15:24] danielkauffman commented on #21602
Hi @khouloudbelguith,

I don't see anything missing from my report... is there something specifically that you're wanting to see? I'm happy to add it.

Here's the screenshot of Catalog > Products > Combinations:

![product-combinations](https://user-images.githubusercontent.com/9503362/97191257-eff5da00-1763-11eb-9f05-5225ca05b62b.png)

And a screenshot of Catalog > Attributes & Features > Attribu

[2020-10-26 15:25] khouloudbelguith commented on #21414
@thierry-laval,

Thanks for these clarifications.

This error is unclear.
`Ajax / Server Error for action upgradeDb textStatus: error errorThrown: Service Unavailable jqXHR.`

However, the file `<admin folder>/autoupgrade/tmp/log.txt` should bring us more details. Can you please have a look at it?

If you don't have it.
Try to re-install the 1-click upgrade module and try to make the upgrade again

[2020-10-26 15:34] NeOMakinG commented on #20294
@marionf it's not linked to the module, it's because on the 1.7.6.x branch the condition is not inside modules tpl.

[2020-10-26 15:34] thierry-laval commented on #21414
thank, have a nice day

[2020-10-26 15:34] #21414 closed, assigned to nobody

[2020-10-26 15:39] marionf commented on #20294
As it's not to fix in the module and fixed in 1.7.7, I close the issue

[2020-10-26 15:39] #20294 closed, assigned to nobody

[2020-10-26 15:40] khouloudbelguith commented on #21602
@danielkauffman, I did not manage to reproduce the issue with 1770rc1build2.
I attached a screen record
https://drive.google.com/file/d/1Iz9csNcJfJ8oveg2SVFSKuV8Fy5VbtAT/view?usp=sharing
Also, in your case: BO > Shop Parameters > Product Settings page > "stock management" is disabled is it?

Thanks!

[2020-10-26 15:46] Yuraken commented on #19344
Hi everyone!

The issue isn't resolved yet! The problem is still here in our website. Whenever we attempt to translate our order_conf mail template via the HTML-editor of AdminTranslations, our html template is broken and our tables are all messed up for no reasons.

Is there a known problem about products tables in the twig template on presta 1.7.6.3, because I can't find any solution about this

[2020-10-26 15:49] khouloudbelguith commented on #19344
Hi @Yuraken,

This issue is currently closed, can you open a new one with more information about your configuration.

Thank you!

[2020-10-26 15:57] NeOMakinG commented on #19963
Partially front-end one, a backend dev should create the logic of "Order only containing virtual product" and adding a condition to `themes/classic/templates/checkout/_partials/order-final-summary.tpl`

[2020-10-26 16:00] NeOMakinG commented on #19844
@Progi1984 Do you think it's relevant, but it looks fine on develop even if it's calling profile.prestashop.com

[2020-10-26 16:11] eternoendless commented on #21140
If I got it right, you're trying to launch the upgrade process on a local module (to trigger the module's internal upgrade process for example).

I don't think this is currently supported, [the Module Manager has a `$source` parameter](https://github.com/PrestaShop/PrestaShop/blob/1.7.7.x/src/Core/Addon/Module/ModuleManager.php#L353) but it's the path to the zip archive, it's meant to replace the

[2020-10-26 16:30] Nukium commented on #19604
Hello, I think there is a possible fix here : https://github.com/PrestaShop/PrestaShop/pull/14452

[2020-10-26 16:38] matks opened #21621 "Unable to resolve Composer constraints on develop for Composer v2"
I merge `1.7.7.x` that brings the latest changes to be compliant Composer v2 into `develop`

I get the following **constraints conflict**: 🔴
[code]

#### Why no issue on 1.7.7.x ?

On `1.7.7.x` we do not require ocramius/package-versions. This dependency was brought in by doctrine/orm 2.7.3 . On `1.7.7.x` we use doctrine/orm 2.7.0 that does not require ocramius/package-versions so no issue.

####

[2020-10-26 16:43] matks commented on #21621
See https://github.com/PrestaShop/PrestaShop/pull/21622

[2020-10-26 16:47] danielkauffman commented on #21602
@khouloudbelguith Thank you for the screen record. As best I can tell, generating a complete set of combinations seems to work consistently. The issue seems to be related to creating combinations one at a time, then deleting one of more combinations (but leaving other combinations), and then recreating combinations. Also possibly related, during this process of adding/deleting/adding combinations,

[2020-10-26 16:54] NeOMakinG commented on #18215
Need backend logic and a condition inside the template (it's mainly backend stuff)

[2020-10-26 17:00] matks commented on #21621
Thanks to @jolelievre upgrading to doctrine/orm 2.7.4 solves the issue as it does handle this compatibility issue.

[2020-10-26 17:03] jf-viguier opened #21624 "Extra post array are deleted in AdminStoresController::postProcess"
#### Describe the bug

Any array extra post vars are deleted on save by AdminStoresController::postProcess

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a module or an override
2. Add a new HelperForm field in AdminStoreController, by example a select with 'multiple' => true
3. Try to save or dump this field : it's always empty

* PrestaShop version: 1.7.6
* PHP version: 7.

[2020-10-26 17:08] jf-viguier commented on #21624
I've posted a PR https://github.com/PrestaShop/PrestaShop/pull/21625

[2020-10-26 17:20] SEFranke commented on #15411
Just curious... Have was this fixed a year ago?
I have the same issue in a 1.7.6.3 install.

In the carrier preferences, it is all 0, so that should disabele that option.
In the carrier ranges, we have only got this: so no free shipping  under € 200,-
![afbeelding](https://user-images.githubusercontent.com/46524335/97205423-c6669e00-17b7-11eb-840d-92271fefd610.png)

The summary when ordering is co

[2020-10-26 17:57] jolelievre commented on #18647
## Status update: RC 1 build 3 has been created! 🛠

The third build of Release Candidate 1 has been created today and passed on to the QA team. Since the added fix is only about the Order page scope they won't need to start over from square 1. The whole order page will be re-tested for safety though! Current QA progress is around 75% of the whole test campaign.

So let's all hope this is the last

[2020-10-27 01:44] sylwit opened #21629 "Unable to download file in HTTP/2"
#### Describe the bug

In SQL manager, if the data to download reaches a certain size, the download is corrupted.
Issue described here : https://community.cloudflare.com/t/files-can-not-be-downloaded/5598/16

#### Expected behavior

Download should work

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to SQL Manager
2. Add a query which return more than 100Ko of data
3. Download t

[2020-10-27 06:36] simon12q commented on #21614
Thank you @khouloudbelguith for your time.

I check it one more time on my other hosting and it works as expected.

I suspect that the problem in the first case may be nginx. Do i need any extra config for it?

[2020-10-27 07:56] khouloudbelguith commented on #21621
Ping @PrestaShop/prestashop-core-developers

[2020-10-27 08:02] Prestaworks commented on #21140
@eternoendless yes I want it to work just like it did in 1.2 - 1.6
If the local version was higher than than the version in the db, the local version was used to upgrade and then it would check other sources like addons. It seems to do the reverse now, first it check addons agains the db and upgrade, if the db and addons are the same, then it will use the local files.
So it should just be a matter

[2020-10-27 08:25] matks commented on #21621
Fixed by https://github.com/PrestaShop/PrestaShop/pull/21622

[2020-10-27 08:25] #21621 closed, assigned to nobody

[2020-10-27 08:40] Yuraken opened #21630 "Mail translation change the product table location in html template."
#### Describe the bug

Whenever I translate our mail from English to French, our product table is moved in the template.

#### Expected behavior

I expect the mail translator from prestashop to translate the translable variables on my template without messing up the template.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Generate mordern mail templates
2. Go to translation page fo

[2020-10-27 08:41] #21614 closed, assigned to nobody

[2020-10-27 08:43] khouloudbelguith commented on #21624
Hi @jf-viguier,

I manage to reproduce the issue with PS1.7.5.1, PS1.7.6.8 and PS1770rc1buid2.
I used this form:
[code]
![image](https://user-images.githubusercontent.com/16067358/97277509-dc687300-1838-11eb-8568-be8fb5989bfb.png)

Thank you!

[2020-10-27 08:50] JS-starlord commented on #21630
Same here, everytime I try to translate order_conf , the html generated at the end will be broken. It seem that the {product} variable broke the template : it move the product list outside the <TABLE>  in the HTML code ...

[2020-10-27 08:59] #15597 closed, assigned to nobody

[2020-10-27 09:05] NeOMakinG commented on #21189
Opening it again as the class should be added to every labels after the next release UIKit

[2020-10-27 09:12] Julievrz commented on #21006
@NeOMakinG : If I understand well, the idea is to have both (a mouseover text and static data after a click). I am maybe wrong but I tried to pass my mouse over the black/white square and no text appeared. That is why I proposed 2 wordings.

[2020-10-27 09:14] NeOMakinG commented on #21006
As it's a title attribute, you should wait a bit for it to be displayed, this is an accessibility attribute

[2020-10-27 09:24] khouloudbelguith commented on #21629
Hi @sylwit,

I did not manage to reproduce the issue with PS1.7.6.8.
I attached a screen record
https://drive.google.com/file/d/1uFgdHeRLfCqNnNQ6Uk1dYC0iACZksw2e/view?usp=sharing
![image](https://user-images.githubusercontent.com/16067358/97282111-90b8c800-183e-11eb-9bf1-097d46287d49.png)

Thanks to check and feedback.

[2020-10-27 09:28] Julievrz commented on #21006
Mhm, that's weird. It does not work on my side.

[2020-10-27 09:51] khouloudbelguith commented on #21630
Hi @Yuraken,

I manage to reproduce the issue with PS1.7.6.8 and PS1.7.7.0rc1build2.
![image](https://user-images.githubusercontent.com/16067358/97285086-11c58e80-1842-11eb-8d46-932717ed1cc9.png)
This is a new feature 1760, it was ok with email theme = `classic` (PS1.7.5.2).
I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do i

[2020-10-27 10:05] khouloudbelguith opened #21632 "[EPIC] - Developer features"
All issues related to "Developer features"

### Bugs
- [ ] #21600
- [x] #17479
- [x] #18619
- [ ] #18808
- [x] #19044
- [ ] #17544
- [x] #15927
- [x] #11273
- [ ] #12724
- [ ] #13489
- [ ] #13663
- [x] #13719
- [x] #19745
- [x] #29089
- [x] #29201
- [x] #31299
- [x] #31570
- [x] #31510

### Features
- [x] #9770
- [ ] #14998
- [ ] #14577
- [x] #10366
- [x] #15436
- [x] #24106
- [ ] #25633
- [x] #25

[2020-10-27 10:10] NeOMakinG commented on #21006
<img width="111" alt="Screenshot 2020-10-27 at 11 08 19" src="https://user-images.githubusercontent.com/14963751/97287493-f1e39a00-1844-11eb-8f9b-55dd3964b228.png">

And the title attribute is supported since years ^^

[2020-10-27 10:19] khouloudbelguith commented on #21602
@danielkauffman,

I tried random actions and it is ok with PS1770rc1build2.
I attached a screen record
https://drive.google.com/file/d/1pq-G8Xl08Xkg1KIn8oS2ts45NDIiZuAB/view?usp=sharing
Also, you can check this ticket: https://github.com/PrestaShop/PrestaShop/issues/19123, we re-working on the Product page - Combinations generator.

Thanks to check and feedback.

[2020-10-27 10:26] szykuc commented on #21614
Hello,
i have a very simillar problem but when i make such a condition in module.

For example i add same condition
[code]
into module template /modules/ps_newproducts/views/templates/hook/ps_newproducts.tpl

If cache is enabled condition not working.

[2020-10-27 10:37] MatShir commented on #21493
I edit the first post with the explicit behavior to follow for the QA and the core dev review. The specs must be followed for the PR to be merged. The specs can be challenged :)

The last thing I wondering is, should we display the list of IPs allowed on the web service list page. I don't really know the usual quantity of URL saved so can tell if it would fit into the list. But we could at least,

[2020-10-27 10:39] ngodefroy opened #21633 "[BO][Products][Product customization] checkbox replace switch only after saving"
#### Describe the bug

Go to Catalog>Product>Options>customization
When you add a new field (text or file) the tick box "required" is replacing the new "required" switch
it's only after you save that the new switch gets taken into account.

#### Expected behavior

When the user add new customization, the new field should display a switch for the required field.

#### Steps to Reproduce

Steps to r

[2020-10-27 10:54] khouloudbelguith commented on #21633
Hi @ngodefroy,

I manage to reproduce the issue with PS1.7.5.1, PS1.7.6.8, and PS1770rc1build2.

Thanks!

[2020-10-27 10:56] juraj1000 commented on #21606
Hello @khouloudbelguith,
it seems I found the cause of the exception. There was renamed the file from login-form.tpl to login.tpl in the folder /themes/classic/templates/checkout/_partials/. I don't understand it because I didn't do any manual changes in the folder with ftp.

[2020-10-27 10:58] khouloudbelguith commented on #21606
@juraj1000, since it is not a PrestaShop core issue.
I close the ticket, feel free to open a new one when needed.

Thanks!

[2020-10-27 10:58] #21606 closed, assigned to nobody

[2020-10-27 11:01] khouloudbelguith commented on #21614
Hi @szykuc,

When Smarty cache is enabled, the Template compilation is set to "Force compilation" or "Recompile templates if the files have been updated"?
If No, thanks to change it.

Thank you!

[2020-10-27 11:24] Jeremy-VERNET opened #21634 "In payment preferences, not all carriers are displayed"
#### Describe the bug

If you add two carriers with the same name, only one of the two will be displayed in the carrier payment preferences.

This causes problems in the display of payment options. For exemple, I had two carriers : FedEx (International Priority noted in delay field) and FedEx (International Economy noted in delay field). I noticed that foreign customers for whom the first carrier

[2020-10-27 11:33] jf-viguier commented on #17673
@lemale-h2a I've done a PR to add svg : can you test it ?

[2020-10-27 12:01] sylwit commented on #21629
Hi @khouloudbelguith
Do you have a website behind CloudFlare to make a test with a full encryption ? It can also be related to the gzip configuration which corrupt the filesize.
I did the test on 3 servers, 2 at planet hosters with failure, 1 at OVH and it was OK.

Actually the file is downloaded but never ends because it's expecting another "filesize" so the browser cancel the download.

[2020-10-27 12:03] Hlavtox commented on #17673
@lemale-h2a I think it's not so hard to upload an SVG image and change `<img class="logo img-fluid" src="{$shop.logo}" alt="{$shop.name}">` to `<img class="logo logo-svg" src="/img/logo.svg" alt="{$shop.name}">` in header.tpl, is it?

Add some css like this and you are good to go.

[code]

[2020-10-27 12:08] lemale-h2a commented on #17673
Oh yeah I did that actually, it's super easy to hard code a fix.
But then the client asked me how to change the svg :-)
I'll try the fix from @jf-viguier, it seems legit ;-D !

[2020-10-27 12:10] Hlavtox commented on #17673
@lemale-h2a Just change it for him, don't tell me they change the logo more than X years :D

[2020-10-27 12:11] Hlavtox commented on #17673
@lemale-h2a I think you will need to style it anyway, SVGs are a bit bitchy to get right... 😞

[2020-10-27 12:12] lemale-h2a commented on #17673
yeah obviously I had to tell him he can't use the upload logo feature in the administration but that I have to do it for him.

[2020-10-27 12:13] ricardoceci commented on #14974
Hi!, just a heads up on this, if you avoid importing quantities you can import the products in multistore in "all shops".

[2020-10-27 12:13] Hlavtox commented on #17673
@lemale-h2a 💰💰💰😄

[2020-10-27 12:45] khouloudbelguith commented on #14974
Hi @ricardoceci,

We are awre of the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #21482
So, I close it.
Thanks!

[2020-10-27 12:45] khouloudbelguith commented on #14974
Duplicate of #21482

[2020-10-27 12:49] SimonGrn commented on #21634
Hello @Jeremy-VERNET
Thank you for your issue. This is a duplicate of #21259.
This is fiexed in the next version of PrestaShop to come. You'll be able to upgrade when it comes out in a few weeks.

I close this issue.

Thank you

[2020-10-27 12:49] #21634 closed, assigned to nobody

[2020-10-27 12:49] SimonGrn commented on #21634
Duplicate of #21259

[2020-10-27 12:50] khouloudbelguith commented on #21629
@sylwit,

So, it is a server issue and not a PrestaShop issue? isn't it?
Have you tried to contact the host?

Thanks!

[2020-10-27 12:58] sylwit commented on #21629
no it's about the way ResponseBinaryFile handle http2 streaming. Please
have a look about the link I posted on the doc of HttpFoundation.
Anyway, the PR has already been accepted.

On Tue, Oct 27, 2020 at 8:51 AM khouloudbelguith <notifications@github.com>
wrote:

[2020-10-27 13:36] khouloudbelguith commented on #21233
Hi @tapandagr,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-10-27 13:36] #21233 closed, assigned to nobody

[2020-10-27 14:36] jf-viguier commented on #17673
@lemale-h2a @Hlavtox I believe that a modern cms should allow modern svg support natively.

[2020-10-27 14:39] lemale-h2a commented on #17673
Yes..
Let's just take two examples, github.com, prestashop.com, the logos use which format ?.. :-D

And so your code works for me @jf-viguier. Thank you !

[2020-10-27 14:54] Hlavtox commented on #17673
@lemale-h2a @jf-viguier Of course it should, but it won't be easy and you must take in account all situations that can occur.

https://css-tricks.com/scale-svg/

[2020-10-27 15:43] PululuK commented on #21633
I think we need to either remove the switch or use it all over the product page to keep this consistent ... Is there a special reason why the switch is only used in custom fields?

[2020-10-27 15:52] NeOMakinG commented on #14496
Working on this right now @oliverhudson

[2020-10-27 15:55] khouloudbelguith commented on #21477
Hi @marionf,

I followed these steps with 178 (develop branch) and 1768:
0. add these lines in `templates/checkout/_partials/cart-detailed-product-line.tpl`
[code]
1. Create a product with quantity =2, Allow orders
![image](https://user-images.githubusercontent.com/16067358/97326110-f2475980-1873-11eb-9e63-79cf33b30b1a.png)
2. In the FO, Add the product to the cart and Go to the cart page
We have

[2020-10-27 16:04] khouloudbelguith commented on #21629
Hi!

Ping @atomiix.

Thank you!

[2020-10-27 16:36] szykuc commented on #21614
@khouloudbelguith i checked all combinations of cache settings on two different servers (apache and nginx) and im sure that is not working as should.
Should i open a new issue?

[2020-10-27 16:41] SimonGrn commented on #21614
@szykuc could you explain what was your problem exactly and how you solved it ? It might help people who have the same issue. Thank you !

[2020-10-27 16:45] oliverhudson commented on #14496
How long will this take and will it be released in new version?

[2020-10-27 16:52] szykuc commented on #21614
@SimonGrn the point was that when the condition is placed in index.tpl or any other theme file it works fine with cache enabled.
But when condition is placed in module .tpl file there is problem.

[2020-10-27 17:19] danielkauffman commented on #19123
If moving ahead with this as described by the OP, I think an important change would be for the generation to be triggered from the BO and then continue on the server until complete, without waiting for confirmation from the user every N records.

Here's why: Imagine needing to create 3001 combinations. You start the process, and it looks like everything is working, so you leave. A few minutes late

[2020-10-27 17:30] danielkauffman commented on #21602
@khouloudbelguith the recording looks good, very similar to the steps I had taken that caused the issue. As far as I can tell, the only difference is different random permutations. But something that occurs to me, is that I am testing this on a low-powered server, and on a couple of occasions I've noticed it dropping packets. Dropping packets shouldn't be able to cause corruption to the database..

[2020-10-27 17:48] LouiseBonnard commented on #21633
@marionf, @PrestaShop/ux-team, does it ring a bell to you? I didn't manage to reproduce this issue nor find it in the specifications... 🤔

[2020-10-27 18:31] deliciousvinos commented on #15877
Hello. I've de same problem.
I have followed all the steps and nothing, it still happens to me the same. I just need to look at the FrontController.php, but I don't know what to do with this.
I need help, I'm desperate ...

[2020-10-27 19:04] PensionLab commented on #15877
@deliciousvinos
you need to compare your FrontController file, if you have one, in your override folder with the base FrontController, locate the differences in it if you want to reapply the specific behavior (text compare tool).

Maybe it is not the same issue as mine... but the "disable override" checkbox function in the shop configuration doesn't seem to always work. (the difference is maybe lo

[2020-10-27 19:34] psppro26 opened #21638 "PaymentModule.php validate order undefined offset drive crazy"
hi ive coded a custom moduel who use validateOrder() function and i have a problem with these lines

Classes/PaymentModule.php line 286

[code]

when i comment them it's working but if i dont i have an error on validateOrder.. The crazy thing is it's working on a brand new Prestashop , but when i install a custom theme and nothing else it's not working anymore ? i dont know what to do ?
i tried de

[2020-10-27 20:08] SimonGrn commented on #21638
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-10-27 20:08] #21638 closed, assigned to nobody

[2020-10-27 20:12] deliciousvinos commented on #15877
Thanks. Tomorrow test it.
More information and posibles solutions about my problem?

[2020-10-28 07:52] hibatallahAouadni commented on #21602
Hi @danielkauffman

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem. We will close this issue.

Thank you!

[2020-10-28 07:52] #21602 closed, assigned to nobody

[2020-10-28 07:58] hibatallahAouadni commented on #21156
Hello @popeio

Since we had no news from you for more than 30 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thanks!

[2020-10-28 07:58] #21156 closed, assigned to nobody

[2020-10-28 08:10] DevSTG opened #21639 "PrestaShop Checkout module causing AdminPaymentPreferences controller exceeding 128M memory"
#### Describe the bug

[2020-10-28 08:50:56] request.INFO: Matched route "admin_payment_preferences". {"route":"admin_payment_preferences","route_parameters":{"_legacy_controller":"AdminPaymentPreferences","_legacy_link":"AdminPaymentPreferences","_controller":"PrestaShopBundle\\Controller\\Admin\\Improve\\Payment\\PaymentPreferencesController::indexAction","_route":"admin_payment_preferences"},"r

[2020-10-28 08:18] MatShir commented on #21633
The issue happens when you add a new customization field, it shows a checkbox for the new custom field then if you save and reload the page the checkbox becomes toggles. We could work on the issue during the migration. We just need to confirm that the UX team wants the toggle rather than the checkbox.
But this issue is not a duplicate or maybe we have talked of this issue @matks? 🤔

[2020-10-28 08:34] NeOMakinG commented on #14496
I think this will be finished today, but on develop, this means that it will be released in 1.7.8

[2020-10-28 08:43] hibatallahAouadni commented on #21639
Hi @DevSTG,

You need to increase your memory limit to 256M as shown in System Requirements for PrestaShop 1.7 ([see link](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/)).

And for the module ps_checkout, you need to contact their support on this email:

`support-checkout-download@prestashop.com`

Thanks!

[2020-10-28 08:43] #21639 closed, assigned to nobody

[2020-10-28 08:54] khouloudbelguith opened #21640 "BO - Carriers page - The sort by Name is not working correctly"
#### Describe the bug

In the BO > Shipping > Carriers page > the sort by name is not working correctly.
In fact, sorting by Name is reversed comparing the sort by ID (for example)

#### Expected behavior

![image](https://user-images.githubusercontent.com/16067358/97413768-7ac10b00-1903-11eb-83d3-a62cab691d17.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shipping

[2020-10-28 08:55] khouloudbelguith commented on #21640
Ping @PrestaShop/qa-automation

[2020-10-28 08:58] khouloudbelguith commented on #21640
Hi @matks!

This issue could be fixed during migration?
#10585

Thanks!

[2020-10-28 09:14] ballashop commented on #12669
Hi @khouloudbelguith
we have the same issue:
"PaymentModule::validateOrder - Secure key does not match"
I can't access the link to see it.
As described in the previous ticket: http://forge.prestashop.com/browse/BOOM-5486
Thanks

[2020-10-28 09:24] khouloudbelguith commented on #21283
Hi @PululuK,

About this issue, do you think, it is different from this ticket: https://github.com/PrestaShop/PrestaShop/issues/20441?
In this issue, you are implementing a fallback mechanism where, if there is no color available, it provides a relevant fallback color?

Thank you!

[2020-10-28 09:24] khouloudbelguith commented on #21284
Hi @PululuK,

About this issue, do you think, it is different from this ticket: https://github.com/PrestaShop/PrestaShop/issues/20441?
In this issue, you are implementing a fallback mechanism where, if there is no color available, it provides a relevant fallback color?

Thank you!

[2020-10-28 09:27] khouloudbelguith commented on #21281
Hi @PululuK,

Can I assign you this issue?

Thanks!

[2020-10-28 09:43] NeOMakinG commented on #14087
Looks like the meta_title should be defined by the backend module configuration controller, can't do anything on the front-end part

[2020-10-28 10:20] boubkerbribri commented on #19912
I changed to critical as it's made nightly fail on develop

[2020-10-28 10:35] ngodefroy opened #21644 "[FO–BO] Adding a product gift out of stock behavior"
#### Describe the bug

I add a gift product that is out of stock with denied orders to my cart in FO through a voucher's code.
The gifted product is not added to the cart but the voucher's line appears at "0.00 euros".

#### Expected behavior

- When I try to enter a voucher's code, containing a free gift product that is out of stock with denied orders -> an error should be displayed, the voucher

[2020-10-28 10:57] hibatallahAouadni commented on #21644
Hi @ngodefroy

I managed to reproduce the issue with Prestashop version 1.7.6.8 and 1.7.7.0_rc.1+build.3.

Thank you!

[2020-10-28 10:59] nesrineabdmouleh opened #21645 "Strange behavior when we are moving the mouse under the "Edit" button of address in view customer page"
#### Describe the bug

View customer page => when we are moving the mouse under the Edit button of the customer address a strange behavior happens.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Customers > Customers' page
2. Create a new customer
3. Click on 'View customer page'
4. Scroll down to the 'Add

[2020-10-28 11:41] LouiseBonnard commented on #17673
Hi all, I also believe supporting SVG format would be great for PrestaShop users, thanks a lot for the contribution, @jf-viguier and @micka-fdz! I also still believe that it should be extended to all image formats in the software so I suggest accepting it for the shop logo first and then make PrestaShop supports it everywhere it needs to. :-)

[2020-10-28 12:08] deliciousvinos commented on #15877
I have doing some changes and currently I can run website in maintenance mode and enter in the backend whitout problems, but if I turn off maintenance mode, then I can´t enter in the website and I've this new error:

mod_fcgid: stderr: PHP Notice:  Undefined index: database_prefix in /home/deliciou/domains/deliciousesmas.es/public_html/vendor/symfony/symfony/src/Symfony/Component/DependencyInjecti

[2020-10-28 12:18] deliciousvinos opened #21647 "Errors in Prestashop Upgrade"
Hello! Sorry for my english, I'am spanish.

I've recently upgrade prestashop from 1.7.2.4 to 1.7.6.8. The upgrade finish successfully. It's runs in PHP 7.1.
Now I can enter the backend correctly, and navigate everywhere correctly, but de web don't runs.

Website can runs in maintenance mode, but not online.

I've solved some errors and now I'm stuck on the following error:

![image](https://user-i

[2020-10-28 13:10] hibatallahAouadni commented on #21647
Hello @deliciousvinos

Please next time follow the Github template. Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/)

Could you please afford the version of upgrade module, and could you please provide the log file: `/admin-dev/autoupgrade/tmp/`

Thanks!

[2020-10-28 13:21] Daaaaad opened #21648 "Impossible to change product position in category (reorder)"
Hello,

It's currently (in the last versions) impossible to change products positions (in a category) to manually choose the product sort order.

Steps to reproduce the behavior:

1. Go to Catalog > Products in the Backoffice
2. Filter your products by a specific category
3. Click on the "Reorder" button to reorder products position in the category
4. Change the position of some products
5. Click

[2020-10-28 13:33] hibatallahAouadni commented on #21648
Hi @Daaaaad

The problem is fixed with this PR #14879 in the next release 1.7.7.0.
Since it's fixed, a new issue was created for the second bug : #15291. So, this issue is duplicated of #15291.

To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-10-28 13:33] #21648 closed, assigned to nobody

[2020-10-28 13:34] hibatallahAouadni commented on #21648
Duplicate of #15291

[2020-10-28 13:38] hibatallahAouadni commented on #15291
Hi @sarahdib

I was able to reproduce the issue with PrestaShop version 1.7.7.0_rc.1+build.3.

Thanks!

[2020-10-28 13:39] sarahdib opened #21649 "on the dashboard the stat module are not hooked in the same order in 176 and 177"
#### Describe the bug
 on the dashboard the stat module are not hooked in the same order in 176 and 177

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO -> dashboard
2. See the stat module hooked in the wrong place

**Screenshots**
177 https://drive.google.com/file/d/1KtNMur1qDCdKKBYEGp6026buBD9uYLUn/view
176 https://drive.google.com/file/d/1YEnWO4XMFdBUaNqxZkutIOXqnYzsCs4L/

[2020-10-28 14:18] MatShir commented on #9783
Hey @khouloudbelguith, I think the issue is fixed. I receive well the message after the checkout on the order page. Could do a double check for me to be sure ? :smile:

[2020-10-28 14:20] NeOMakinG commented on #11632
It seems that it has been changed, it's now orange like the price

[2020-10-28 14:24] alessiomediacy commented on #13386
Hi, confirm issue in 1.7.6.7

[2020-10-28 14:27] khouloudbelguith commented on #9783
Hi @MatShir,

I did not manage to reproduce the issue with PS1768 and PS1770rc1build2.
**FO**
![image](https://user-images.githubusercontent.com/16067358/97449455-f89c0b00-1931-11eb-8374-c366226cd7dd.png)
**BO**
1768
![image](https://user-images.githubusercontent.com/16067358/97449490-03ef3680-1932-11eb-9f93-4645b7b68d57.png)
1770rc1build2.
![image](https://user-images.githubusercontent.com/160673

[2020-10-28 14:30] tonnick opened #21650 "ps_emailsubscription captcha"
#### Is your feature request related to a problem?

ps_emailsubscription has no native captcha security. newsletter form is spammed and website is sending tons of mails with optin is activated. this is conducing to backlist website server.

#### Describe the solution you'd like

a native captcha to ps_emailsubscription

#### Alternatives you've considered

no alternative

thx.

[2020-10-28 14:31] khouloudbelguith commented on #13386
Hi @surffari, @alessiomediacy,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/16550 to fix the issue.
It is fixed in the next release PS1770.

Thanks!

[2020-10-28 14:37] hibatallahAouadni commented on #21650
Hi @tonnick

Thanks for your report.
Ping @PrestaShop/product-team what do you think?

[2020-10-28 14:40] kpodemski commented on #21650
I don't think it's a good idea, would be better to try some kind of honey pot hack, and maybe form flooding security mechanism, captcha should be last option for this kind of issue

[2020-10-28 14:44] tonnick commented on #21650
you are probably right, I do not know which is the best solution, captcha was just an idea. Anyway, this part of prestashop should be improved in a native way to avoid this kind of issue.

[2020-10-28 14:45] kpodemski commented on #21650
Yes, agree, let's wait for an opinion from @PrestaShop/product-team

[2020-10-28 14:51] NeOMakinG commented on #11585
I'm not able to reproduce it on develop, it looks fine

[2020-10-28 14:54] NeOMakinG commented on #11514
node/npm version can cause dist files non-functional differences, but as we don't push assets anymore, it won't do any conflict.

Also our supported version is now in the documentation, we can close this one!

If you experience some bugs with webpack, just open it again (it has been really improved last months.

[2020-10-28 14:54] #11514 closed, assigned to nobody

[2020-10-28 15:05] hibatallahAouadni commented on #12454
Hi,

I managed to reproduce this issue with PS1.7.7.0_rc.1+build.3.
I used:
- os_version=Mavericks
- browser=Safari
- browser_version=7.1

![image](https://user-images.githubusercontent.com/23308427/97454258-d789e900-1936-11eb-80f4-f3921529a98e.png)

Thanks!

[2020-10-28 15:11] NeOMakinG commented on #11435
@kpodemski I did it, feel free to review it, not sure counting the array is the best solution thought but it looks fine to me

[2020-10-28 15:46] NeOMakinG commented on #10278
Closing it at is has no activity since years, and it looks not relevant as we can pass any parameteres to the hook declaration

[2020-10-28 15:46] #10278 closed, assigned to nobody

[2020-10-28 15:49] luciochavez opened #21657 "Select not working on Backend Missing blank space between select and id"
In Admin backend prints (in html source code) "<selectid=..." instead of "<select id=..." (notice the blank space missing) which makes selects unusable

On fresh install of PrestaShop:1.7.6.8 with Theme: classic

Tested on
Linux #1 SMP Tue Dec 4 03:50:32 EST 2018 x86_64
Apache/2.4.46 (cPanel) OpenSSL/1.1.1g mod_bwlimited/1.4
PHP:7.4.11

Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:82.0) Gecko/201001

[2020-10-28 15:52] LouiseBonnard commented on #21650
Hi @tonnick, thanks for your improvement idea but I'm afraid we will decline it. Even if CAPTCHA systems are very efficient to fully protect, it has been decided a few years ago not to offer this feature natively because it could complicate the installing and setting process.

However, if we decided not to integrate it to 300,000 stores in order to keep them performant, many modules exist on our m

[2020-10-28 15:54] #21649 closed, assigned to nobody

[2020-10-28 15:58] MJDPC opened #21658 "Clicking on Module Catalog shows the dashboard"
Hi there! Sorry for my english, I'am spanish.
The pages module is not working. I can't understand why that happen.

Steps to reproduce the behavior:

1. Go to 'CUSTOM'
2. Click on 'DESIGN'
3. Scroll down to 'PAGE'
4. See error

It go to home page. It doesn't open de window to change the pages.

<img width="1438" alt="Captura de pantalla 2020-10-28 a las 16 56 19" src="https://user-images.githubuse

[2020-10-28 16:01] NeOMakinG commented on #9831
Looks like it have been fixed, feel free to open it again if not

[2020-10-28 16:01] #9831 closed, assigned to nobody

[2020-10-28 16:02] NeOMakinG commented on #9796
Not relevant anymore

[2020-10-28 16:02] #9796 closed, assigned to nobody

[2020-10-28 16:04] hibatallahAouadni commented on #21657
Hi @luciochavez

Thanks for your issue. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

And PrestaShop 1.7.6.8 doesn't support PHP 7.4 ([see PHP compatibility chart](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibilit

[2020-10-28 16:04] #21657 closed, assigned to nobody

[2020-10-28 16:06] khouloudbelguith opened #21659 "BO - Order page - Incorrect total when updating a quantity's product"
Thanks to @florine2623

#### Describe the bug

In the BO > Order detail page > When Updating a quantity's product, the total is incorrect.

#### Expected behavior

![image](https://user-images.githubusercontent.com/16067358/97462166-bd540900-193e-11eb-900a-554ca502210d.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Taxes page and Enable "Display tax

[2020-10-28 16:10] luciochavez commented on #21657
Thanks! and sorry for the trouble :(
I've downgraded to PHP 7.2 and problem solved.

Have a nice day!

[2020-10-28 16:10] khouloudbelguith commented on #21659
Ping @marionf @Robin-Fischer-PS what do you think of the severity?

Thank you!

[2020-10-28 16:16] LouiseBonnard commented on #21543
Might be related to #9664. I suggest to wait for PR #21545, it might fix it.

[2020-10-28 16:31] hibatallahAouadni commented on #21658
Hello @MJDPC ,

I didn't manage to reproduce the issue PS1.7.6.8 and PS1.7.7.0_rc.1+build.3.
Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- debug mode report
- PHP error logs
- apache error log
- Javascript console log

You don't know how to get this information? Please read the following ar

[2020-10-28 16:36] SimonGrn commented on #21658
PH has nothing to do with Mac or PC, we still need it.

[2020-10-28 16:38] SimonGrn commented on #21650
Thank you @LouiseBonnard !

I close this issue.

[2020-10-28 16:38] #21650 closed, assigned to nobody

[2020-10-28 16:39] tonnick commented on #21650
ok so you are aware that there is an issue on the newsletter form, but you prefer let the people pay to add captcha when most of any CMS have it for free ? security improvment is not an option for prestashop ?

[2020-10-28 16:41] zhmedia commented on #9783
@khouloudbelguith , @MatShir This bug is not concerning the customer leaving a comment on the checkout page, it is concerning payment modules leaving order messages when the order is validated (e.g. transaction details). This was described in one of my above messages:

I would suggest trying to reproduce the issue the way I had described earlier before closing this issue:

[2020-10-28 16:53] tonnick commented on #21650
prestashop team decided years ago to do not improve security of newsletter form, and won't even re-consider it ? prestashop remains in same position than years ago, and just close any improvment suggestion ? is that real ?

[2020-10-28 16:54] LouiseBonnard commented on #21520
I feel like a developer's opinion is more relevant for this improvement idea, and I can see the technical solution is still being discussed in PR #21521. I remove the _waiting for PM_ label but feel free to ping me if there is any functional behavior to study and/or specify.

[2020-10-28 16:58] MatShir commented on #9783
My apologies @zhmedia! it is the end of the day, I have been too hasty.

[2020-10-28 17:05] SimonGrn commented on #21650
Hello, thank you for your inputs.
May I remind you of our [Code of Conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md) ?
Please remember you're talking to humans.

I close this issue as it's going nowhere.

Thank you for your understanding.

[2020-10-28 17:20] matks commented on #21650
Hi,

I would like just to answer this nevertheless interesting question.

The goal of PrestaShop is not to provide all the features that everybody wants. It is to address the needs of most of our users.

As far as we know, as of today, most users that want to add a captcha to their subscription form are confortable with paying the (small) fee for such modules on Addons marketplace or implementing

[2020-10-28 17:39] MJDPC commented on #21658
Hi, I think this is the information that you need.
PHP: 7.2.5
Host: courmet.es
Server setup and configuration:
- Información del servidor Linux #1 SMP Debian 4.9.110-3+deb9u6
(2018-10-08) x86_64
- Versión del software del servidor: Apache/2.4.46 (Debian)
Versión PHP: 7.2.5
I send a screenshot with more details because I can't find the rest of
information.
Sorry,
Thanks for all.

El mié., 28 oct. 2

[2020-10-28 18:07] Robin-Fischer-PS commented on #21659
It's a rounding issue that can happen with these three conditions :
- Customer group is tax excluded
- The "tax included" price of the product has more than 2 decimals (so not only with 21% tax)
- Edit the quantity in BO

This can happens with low quantity too (with an edit to 3 of a product at 7,8€ tax excluded, with 2,1% tax).

I don't know what the percentage risk of having these three conditio

[2020-10-28 18:22] szykuc opened #21661 "Smarty cache issue with getDevice() and isMobile() in module template"
#### Describe the bug
Smarty conditions Context::getContext()->isMobile() and getDevice() don't work when smarty cache is enabled

#### Expected behavior
In module template i use condition {if Context::getContext()->isMobile() == 1} and i want show different text for mobile and dekstop.
When smaty cache is disabled everything works perfect.

#### Steps to Reproduce
Set smarty cache to disabled

Ma

[2020-10-28 19:34] harisrnd opened #21662 "https not working in front shop"
version 1.7.7 beta
php 7.3.23
apache 2.4

The installation was working fine without ssl. After I enabled it, the front shop is not working while the backofice works.

The SSL domain and the shop domain are set to www.mydomain where mydomain ofcourse is the name of the real domain.
I tried recreating .htaccess, i tried switching to classic theme, nothing works.
I get 404 - not found

UPDATE:
After

[2020-10-28 20:42] Aidam-puk opened #21663 "405 Method Not Allowed"
#### Describe the bug

When i tried to upload my logo and press save, error page appears:
Oops! An Error Occurred
The server returned a "405 Method Not Allowed".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

#### Expected behavior

Upload logo into site

#### Steps to Reproduce

Steps t

[2020-10-28 22:00] matks commented on #21663
@Aidam-puk it is most likely to be an issue in your server configuration, possibly a server issue permission.
I suggest contacting your host provider about it

[2020-10-28 22:10] matks commented on #21586
@Seb33300

In PrestaShop we use Swiftmailer. I testing environment the configuration of Swiftmailer can be overriden to achieve what you say

For example here is our testing setup: https://github.com/PrestaShop/PrestaShop/blob/develop/app/config/config_test.yml

In this setup we disable the mail sending but Swiftmailer allows the "Forward all email to a specific address" feature https://symfony.co

[2020-10-28 22:11] matks commented on #21586
Oups, just read again your question and you already mentioned

So, yes, you can 😄

[2020-10-29 06:55] Daaaaad commented on #21648
Hello @khouloudbelguith, why did you remove the PR information?

How to fix it in 1.7.6?

Regards,

David.

[2020-10-29 07:42] juraj1000 commented on #21410
Hello @PrestaShop/product-team,
I agree with Hlavtox, usually the merchant would like to hide these fields. The fields like birthday, gender can also irritate the customers.

[2020-10-29 08:08] florine2623 commented on #21663
Hi @Aidam-puk ,
Indeed it seems like a server configuration issue.
If you need any help, please contact the [support team](https://addons.prestashop.com/en/388-support) or a [partner agency](https://www.prestashop.com/en/experts).
Thanks!

[2020-10-29 08:08] #21663 closed, assigned to nobody

[2020-10-29 08:57] 0dp opened #21664 "Classic Theme - Unable to resolve path to module 'prestashop'"
#### Describe the bug

In `./_dev/assests/js/theme.js`
I get a report from eslint that `Unable to resolve path to module 'prestashop'` as used here:
[code]

#### Expected behavior

I would expect this import path to be valid

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Open classic/_dev/assets/js/theme.js
2. Try and resolve path to 'pretashop'

#### Additional information

* Pres

[2020-10-29 09:18] NeOMakinG commented on #21664
Hello, tested with https://github.com/PrestaShop/PrestaShop/pull/20080

using https://github.com/PrestaShop/eslint-config/blob/master/rules/imports.js

As we disable `import/no-unresolved`, it doesn't create any warning.

What's the reason behind this disabled feature ? `prestashop` is a global window object, resolved by webpack, this means that we need to declare every global variables to eslint

[2020-10-29 09:23] SimonGrn commented on #21664
Thank you @NeOMakinG !

Hope it answers your problem @0dp.

I close this issue

[2020-10-29 09:23] #21664 closed, assigned to nobody

[2020-10-29 10:13] LouiseBonnard commented on #18079
We need to check the CLDR update, released yesterday.

[2020-10-29 10:14] LouiseBonnard commented on #17177
Wait for the UI kit release.

[2020-10-29 10:16] LouiseBonnard commented on #19844
Wait for https://github.com/PrestaShop/PrestaShop/pull/19946 to be merged.

[2020-10-29 10:18] LouiseBonnard commented on #21189
Wait for the UI kit release and list where it appears.

[2020-10-29 10:18] SimonGrn commented on #21658
@MJDPC thank you, but we can't see your screenshot if you answer via email.
Please use the Github interface.

I am not able to reproduce, it seems it's a problem lying in your own environment. Sadly we can't offer support in this Github repository, so if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask fo

[2020-10-29 10:18] #21658 closed, assigned to nobody

[2020-10-29 10:52] industria01 opened #23325 "Wrong javascript arg on /psgdpr/views/templates/hook/displayGDPRConsent.tpl:67 (data instead method)"
Hi, the data arg on line 67 data: 'POST' is wrong. Please change with method: 'POST'.
Regards.

---
https://github.com/PrestaShopCorp/psgdpr/blob/master/views/templates/hook/displayGDPRConsent.tpl#L65

[code]

Since there are 2 properties `data` I think the 2nd overrides the first. So `type` or `method` both are fine but the code needs an update anyway 😅

[2020-10-29 11:19] industria01 opened #21667 "/themes/classic/_dev/js/cart.js - ajax arg method: 'POST' instead type: 'POST'"
Hi there is a wrong ajax argument on /themes/classic/_dev/js/cart.js lines: 145 and 182.
method: 'POST' instead type: 'POST'

[2020-10-29 11:21] Progi1984 commented on #21586
@Seb33300 We are opened to contributions on documentation ;)

[2020-10-29 11:30] florine2623 commented on #21667
Hi @industria01 ,
Thanks for the report, but in order to proceed with this issue we need more info.
Please follow the bur report template and add any additional info that might be relevant :
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...
I'll close your issue for now, feel fr

[2020-10-29 11:30] #21667 closed, assigned to nobody

[2020-10-29 11:30] SimonGrn commented on #21667
Hello,

The argument `method` is an alias of `type` as you can see for yourself in the [jQuery documentation](https://api.jquery.com/jquery.ajax/).

![image](https://user-images.githubusercontent.com/49909275/97562803-82a3ac80-19e2-11eb-865b-7025eeb8b220.png)

[2020-10-29 11:36] florine2623 commented on #21662
Hi @harisrnd ,
I can't reproduce your issue.
After installing PS 1.7.7.0 beta 2, enabling SSL, with or without friendly URL, I have both front and back available.
It must be a server config issue.
Thanks !

[2020-10-29 11:36] #21662 closed, assigned to nobody

[2020-10-29 11:50] 0dp commented on #21664
Thanks @NeOMakinG
I have no stress in suppressing this warning. I was just curious.
As an aside, Where would I be able to look at where the prestashop object is created?

[2020-10-29 11:52] harisrnd commented on #21662
Well, I 'd appreciate some guidance. I spent many hours on this issue and I cannot find sth wrong with my configuration on a brand new VPS (debian 10) with a brand new certificate(letsencrypt) and .htaccess with no manual interference.
Where should I look? The site is ready for production and it's a pity if we can't use friendly urls.
And if you are right and it is a server configuration issue, th

[2020-10-29 12:09] neerajwebkul opened #21668 "Not getting 'search_query_builder' in params of hook actionOrderGridDefinitionModifier in PS 1.7.7.0 beta version"
Hello,

I am not getting 'search_query_builder' in params of hook actionOrderGridDefinitionModifier in PS 1.7.7.0 beta version just like we can get in hook actionCustomerGridQueryBuilderModifier

https://devdocs.prestashop.com/1.7/modules/sample-modules/grid-and-identifiable-object-form-hooks-usage/

#### Expected behavior

Expecting $params['search_query_builder'] in hook actionOrderGridDefinitio

[2020-10-29 13:01] onopko81 opened #21670 "Problem with product declinations"
Problem with product combination in order confirmation page. Total product is 0.

how resolve it?

**Screenshots**
 http://orchideabomboniere.it/bug-orchidea.jpg

#### Additional information

* PrestaShop version:  1.7.6.5
* PHP version: 7.2.34

[2020-10-29 13:05] florine2623 commented on #21670
Hi @onopko81 ,
I can't reproduce your issue on PS 1.7.6.5. It must be a configuration issue.
Please contact the [support team](https://addons.prestashop.com/en/388-support) to help you resolve this issue.
Thanks!

[2020-10-29 13:05] #21670 closed, assigned to nobody

[2020-10-29 13:15] dariusakafest commented on #19278
@florine2623 You can simply create a customization in the code. You don't need to bind any fields to it. It will need to be linked to the basket, and put the product into the basket through the code. Then go to the checkout page and try to delete the item

[2020-10-29 13:20] ngodefroy opened #21671 "[BO] [Multistore][CSS] wording "import" is splited for "impo""
#### Describe the bug

Click "Add new shop", scroll down and look for "IMPORT DATA FROM ANOTHER SHOP" section.
See "Choose data to impo" missing the "rt"

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO, Multistore
2. Click on add new shop
3. Import data from another shop section
4. "Choose data to impo" missing the "rt"

**Screenshots**
![Capture d’écran 2020-10-29 à 14 1

[2020-10-29 13:23] NeOMakinG commented on #12454
As we use bootstrap, we support last stable release of every browsers.

Safari 7.1 is used by 0.02% of the population, this is almost like wanting to support IE10...

Closing this

Thanks for the report anyway

[2020-10-29 13:23] #12454 closed, assigned to nobody

[2020-10-29 13:25] pitangaweb commented on #13210
Hi,

Are there any news on this issue ?
I have the same problem on Prestashop 1.7.6.7.

Has anybody found a quick fix for this ?

Thanks

[2020-10-29 13:35] NeOMakinG commented on #21333
Fixed by https://github.com/PrestaShop/PrestaShop/pull/21332

[2020-10-29 13:35] #21333 closed, assigned to nobody

[2020-10-29 13:36] florine2623 commented on #21662
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public S

[2020-10-29 13:37] florine2623 commented on #21564
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public S

[2020-10-29 13:50] florine2623 commented on #14071
Hello @Bonobomagno ,
Since we had no news from you for more than 30 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.
Thanks!

[2020-10-29 13:50] #14071 closed, assigned to nobody

[2020-10-29 14:30] florine2623 commented on #19094
Hi @PeNov ,
Sorry for the very late answer.
As I tried again, I still can't manage to reproduce the issue.
I'll close your issue.

[2020-10-29 14:30] #19094 closed, assigned to nobody

[2020-10-29 15:25] florine2623 commented on #19576
Hello @SD1982
Thanks for the report. It has been reproduced in all versions mentioned.
It is also added to our debug roadmap !
Thanks!

[2020-10-29 16:51] harisrnd commented on #21662
Bugs exist because they only "appear" under certain circumstances - conditions. Just because you couldn't reproduce it on your installation it doesn't mean it's not a bug.
And no, I don't have any misconfiguration if you're implying it. Everything is "by the book".
And you never asked me one question about my configuration.
I 'm sorry, I know that your support plans are valuable for you but this i

[2020-10-29 17:41] SimonGrn commented on #21662
Hello @harisrnd
we are not able to reproduce with all the infos you gave us, when we do the things "by the books" like you said, so this means you may have something specific in your configuration. Since we cannot give support for specific configurations and are only able to register bugs in the core, we cannot help you any further. You will need specific help for your specific problem.

Also @flo

[2020-10-29 17:53] ballashop opened #21675 "Frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart"
Dear staff,
every order we've got we receive into the logs (BO) section this advice (only information):
Frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart

<img width="951" alt="Schermata 2020-10-29 alle 18 51 00" src="https://user-images.githubusercontent.com/28685316/97612491-c95fc980-1a17-11eb-8808-0c93ac68f13f.png">

**Payment module we use**
Payp

[2020-10-29 18:07] harisrnd commented on #21662
Well, actually I cannot understand what's happening here. I am a beta tester, you people need us and we need you.
We lost a considerable amount of time writing these comments but you didn't ask me a single extra question about my configuration.It seems that you are sure that this is not a bug. Specific configurations(which I do not believe I have) show BUGS, right?
Anyway. Have a nice day.

[2020-10-29 20:26] matks commented on #21662
Hi, please allow me to jump in the conversation. :)

That is a very true statement, so
- thank you for testing the beta ! your feedback is very valuable to us
- as you mentioned we both need each other : you need us to maintain and deliver this OSS project that you can use for free while we need you to report bugs and contribute

When you reported a bug, @florine2623 set up a standard environment

[2020-10-29 22:27] matks commented on #21586
@Seb33300 What I said however needs testing because even if all mail sending in PrestaShop rely on Swiftmailer, I am not sure there a single instance of Swiftmailer (and that modifying Symfony config for Swiftmailer will impact it all).

[2020-10-29 22:49] julienbuh opened #21676 "Be able to move in bulk clients from one group client to another"
I have a few hundreds clients in one groupe.
I would like to move all them in bulk in an other group

[2020-10-30 00:54] rbuzeta opened #21677 "Argument 2 passed to OnBoarding\Configuration::generateSfBaseUrl() must be an instance of OnBoarding\string"
#### Describe the bug

Backoffice is not working today, possibly after a native module upgrade (welcome). After changing to debug mode I see this description:

Unknown error en línea 277 en archivo /home/arg3nt4/public_html/modules/welcome/OnBoarding/Configuration.php
[4096] Argument 2 passed to OnBoarding\Configuration::generateSfBaseUrl() must be an instance of OnBoarding\string, string given, c

[2020-10-30 04:49] pks891618 commented on #11359
Is there is any possibilities that if we reset our stock then reserved also reset to 0 ?

[2020-10-30 06:08] IvoRabush commented on #13210
it's on the roadmap - To be Done. But not fixed yet. Check this list with issues:
https://github.com/PrestaShop/PrestaShop/issues/9723

[2020-10-30 08:23] florine2623 commented on #21677
Hi @rbuzeta ,

I can't reproduce your issue in  PS 1.7.6.7.
Module welcome is not an issue. You can delete the module from FTP and reupload it.
Thanks!

[2020-10-30 08:23] #21677 closed, assigned to nobody

[2020-10-30 08:25] florine2623 commented on #21675
Hi @ballashop ,

Your issue seems to be related to this : https://github.com/PrestaShop/PrestaShop/issues/9866
Please check
Thanks!

[2020-10-30 08:30] florine2623 commented on #21676
Hi @julienbuh ,
Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

[2020-10-30 08:31] florine2623 commented on #21676
Ping @PrestaShop/product-team ,
@julienbuh has a great improvement to share, what do you think !
Thanks !

[2020-10-30 08:38] Progi1984 opened #21678 "Update CLDR to latest version 38 (2020-10-28)"
#### Is your feature request related to a problem?

CLDR version 36 is outdated

#### Describe the solution you'd like

Update to latest version 38

#### Additional context

Informations about updates
* http://cldr.unicode.org/index/downloads/cldr-38
* http://cldr.unicode.org/index/downloads/cldr-37

[2020-10-30 08:40] hibatallahAouadni commented on #21661
hi @szykuc

I managed to reproduce your issue with PS1.7.6.8 and PS1.7.7.0-rc.1+build.3, even when i set "Template Compilation" to "Force compilation"
![image](https://user-images.githubusercontent.com/23308427/97677470-973f7d80-1a92-11eb-91d6-0a494c6899e4.png)

This problem doesn't occur when you make this condition in template e.g. /themes/classic/templates/index.php
It only happen when you put

[2020-10-30 09:09] NeOMakinG commented on #20747
https://github.com/PrestaShop/PrestaShop/pull/21620#issuecomment-719048677

[2020-10-30 09:15] hibatallahAouadni commented on #21668
Hi @neerajwebkul

We need more details to understand how we can reproduce your issue.
Could you please provide the steps to reproduce your issue?

Thanks!

[2020-10-30 09:22] hibatallahAouadni commented on #21675
Hi @ballashop ,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9866 (as @florine2623 mentionned).
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-10-30 09:23] hibatallahAouadni commented on #21675
Duplicate of #9866

[2020-10-30 09:23] #21675 closed, assigned to nobody

[2020-10-30 09:27] ballashop commented on #21675
ok, thanks a lot, sorry for the duplication, I had searched but not found it before posting.
Balla

[2020-10-30 09:50] neerajwebkul commented on #21668
Hello,

As we know in PS version 1.7.7.0 (beta), Backoffice order list page has been changed.

Now I want to filter order list in my module using grid query builder. So I have used this hook 'actionOrderGridDefinitionModifier'
like we can see in dev docs -
https://devdocs.prestashop.com/1.7/modules/sample-modules/grid-and-identifiable-object-form-hooks-usage/
Here docs mentioned for customer listi

[2020-10-30 10:00] dawalberto opened #21682 "BO - Import page - Product with customizations are not well imported - The customization is not displayed in the product's option Tab"
#### Describe the bug

When you try import products with customizations deleting current products first a duplicate error type is throw and import doesn't work well.

#### Expected behavior

Import products with customizations work well.

_The import is done successfully, but in the BO > Catalog > Products > Product details page > Options Tab > There is no customization added._

**Steps to reprodu

[2020-10-30 10:18] #11435 closed, assigned to NeOMakinG

[2020-10-30 10:31] elliottridown opened #21683 "Link List Not Accepting 'Tel:000000' addresses"
#### Describe the bug

If I want to add a link to the 'Link List' module, I get a validation error to say a 'tel:' address is invalid, this is the same for 'mailto:'

#### Expected behavior

Should be able to enter 'tel:02380733042' as a link in to the Link List Module configuration.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Modules
2. Click on Link List -> Configuration

[2020-10-30 10:32] #10317 closed, assigned to NeOMakinG

[2020-10-30 10:34] jolelievre commented on #21506
Ok I think I understand which bug it is, the problem is that when only 1 product is remaining it is not added automatically whereas it should since there is still a little stock available I think it's a stupid bug related to a strict comparison (`<` vs `<=`) that doesn't allow to use the last remaining product

[2020-10-30 10:49] matks commented on #21668
@neerajwebkul You should use the equivalent hook `actionOrderGridQueryBuilderModifier` instead of `actionOrderGridDefinitionModifier` . These are not the same hooks, not the same parameters, not the same purpose.

[2020-10-30 10:49] SimonGrn commented on #21683
Hello @elliottridown

PrestaShop 1.7.6.4 is not compatible with PHP 7.3 as you can see in the [documentation](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart).

Please downgrade your PHP version and try again.

[2020-10-30 10:50] elliottridown commented on #21683
Have tried on lower versions of PHP.

[2020-10-30 11:25] grzegorzgit opened #21685 "Store should know which currency it uses, not requiring to provide it every time."
#### Is your feature request related to a problem?

When I want to use Product::convertPrice() to get price of the product, why do I have to know the currency ID? We have two stores, both have only one currency, one $ the other €. convertPrice() should get the store currency automatically itself instead of requiring me to know it. Of course if your store has multiple currencies it is a different s

[2020-10-30 11:32] #20631 closed, assigned to NeOMakinG

[2020-10-30 11:33] PululuK commented on #20631
Fixed by #21554

[2020-10-30 11:49] grzegorzgit opened #21686 "Simple way to get product's price from product object."
There is $product -> name, $product -> description but why isn't there $product -> price?
I know there is actually $product -> price but if product has variations as in my case, it displays 0.0000
Product object should have an easy function to get it's minimal price (variation price) that is already formatted according to the store's currency. In past there was Tools:;formatPrice(), now it's remov

[2020-10-30 12:15] M-t-t-h commented on #10393
Hi everyone,
I get this problem on 1.7.6.7, and find **the** line on _AdminOrdersController.php_ (the 344) is :
 $this->addJS('https://maps.googleapis.com/maps/api/js?v=3.exp');
There is no place for get the api_key to send with GET method.

A proposition for 1.7.7:
if apikey exist => this->addJS('https://maps.googleapis.com/maps/api/js?v=3.exp&key=$VAR);
else, no add map...

[2020-10-30 12:21] hibatallahAouadni commented on #21668
Thanks @matks for your quick answer.

@neerajwebkul if you @matks answer solve your problem, please let me know to close the issue.

Thanks!

[2020-10-30 13:05] grzegorzgit commented on #21685
If anyone has similar problem, there's a value: Configuration::get('PS_CURRENCY_DEFAULT')
but it is not working, it gives me this error:

![image](https://user-images.githubusercontent.com/24461669/97708329-e8fafe80-1ab8-11eb-96ac-19cf539701dd.png)

[2020-10-30 13:06] florine2623 commented on #21683
Hi @elliottridown ,
The URL must bu a URL and not a phone number :
![Capture d’écran 2020-10-30 à 14 05 37](https://user-images.githubusercontent.com/16019289/97708419-12b42580-1ab9-11eb-8a08-2e56b8328301.png)
Thanks!

[2020-10-30 13:09] florine2623 commented on #21685
Hi @grzegorzgit ,

Thanks for the suggestion. I'll ping dev and product team to have their input on that.
Please stay tuned !

[2020-10-30 13:10] florine2623 commented on #21685
Ping @PrestaShop/prestashop-core-developers and @PrestaShop/product-team ,

Is this doable and relevant ? What do you think about it ?
Thanks!

[2020-10-30 13:13] grzegorzgit opened #21688 "Locale::formatPrice() gives error for currency id."
#### Describe the bug

In a module, using  `$this->context->currentLocale->formatPrice("21.986", Configuration::get('PS_CURRENCY_DEFAULT') );` gives an error:
![image](https://user-images.githubusercontent.com/24461669/97708660-6f174500-1ab9-11eb-8d77-634d4afdab78.png)

#### Expected behavior

I have only one currency, and it is active and working, after using Locale::formatPrice() with Configurat

[2020-10-30 13:16] hibatallahAouadni commented on #21682
Hi @dawalberto

Following your steps, I manage to reproduce the issues.
But your need to select "Combinations" for "What do you want to import?" to import products with combinations. (see the video)

https://drive.google.com/file/d/1O1mvKIlQNYrfqtqBJP8hz5XvR1csFxJ2/view

Despite our efforts, we were not able to reproduce your issue with the provided information. Could you provide more infos like s

[2020-10-30 13:27] matks commented on #21685
@grzegorzgit Actually I believe it's better this way.

At 1st glance, this looks something desirable, because it's easier to use.

But this would actually become a _trap_. Automatic fetching of necessary data is a pitfall because you think it's great while it serves you until at some point you are doing some stuff in your store and _the currency picked automatically is not the one you wanted_. Wor

[2020-10-30 13:27] #21685 closed, assigned to nobody

[2020-10-30 13:28] hibatallahAouadni commented on #21686
hi @grzegorzgit

your issue is duplicated to this one #21688 and you are the author too. So I'm closing this one.

Thanks!

[2020-10-30 13:28] hibatallahAouadni commented on #21686
Duplicate of #21688

[2020-10-30 13:29] matks commented on #21685
@grzegorzgit I see you opened multiple issues about same topic. Please do not do that.

We can continue the discussion in this issue 😉  (a closed issue does not mean we cannot discuss further)

[2020-10-30 13:31] grzegorzgit commented on #21685
Well in that case if I want to use different currency then I will provide it, cause I know I need to use specific one. You are using exceptional behaviour as it would be a standard. Majority of cases I don't care which currency is used by the store, and in the small percentage of cases when I want not to use the default, then I should be able to specify it.

[2020-10-30 13:32] matks commented on #10393
Hi, in 1.7.7 Google maps has been removed because there was no relevant way to include it with the new rules of Google Maps. Modules can easily hook themselves into one of the Order page hook to put it back if needed.

1.7.6 is still using old GoogleMaps system so indeed it's not compliant with their rules anymore :/ but 1.7.6 will soon be EOL

[2020-10-30 13:32] #10393 closed, assigned to nobody

[2020-10-30 13:33] grzegorzgit commented on #21685
_**Today when we are rewriting PrestaShop code we are removing all of the statements where such data is automatically fetched from somewhere**_

Seriously? This sounds like a horrible move, Prestashop should automatically take all the default information as far as it can, and only **require** user / programmer to specify things when it is impossible to use default. Leaving always the way to change

[2020-10-30 13:36] matks commented on #21685
We follow a best practice in software development: "consider the N=1 usecase to be a sub-usecase of N>1"

See the following example: let's say most of the time a Product has 1 image. We could simply decide to link Product and its image with a 1-1 relationship ; and for "all the other usecases where there are multiple images we handle it differently".

That would probably be very user-friendly for

[2020-10-30 13:39] matks commented on #21685
It might sound an horrible move to you, but it will greatly increase the stability of the codebase. This means **reduce greatly the number of bugs**, that is something important, isn't it ? 😄

Being explicit is always clearer and more maintainable than being implicit. Once again, this is what software development best practices have taught us, not something we decided to invent. It has proven for

[2020-10-30 13:45] ngodefroy opened #21689 "Disabling feature in Performance doesnt hide the button in the product page"
#### Describe the bug

In, BO, When I set the product feature to disable, the button "add a feature" is still present, I can add a feature, click and save and I have the confirmation message.
However, they are not really saved (if I switch to another tab, the features doesnt appears)
Moreover, the features are not displayed into BO on the product page

#### Expected behavior

Hide the feature sect

[2020-10-30 13:47] ComonSoft commented on #9688
This issue is very well described and how to reproduce in ticket #20705

[2020-10-30 13:56] grzegorzgit commented on #21685
Ok, I understand that sometimes it would require more coding to write a class: one part to go with defaults, and the other for other cases.

But in this case, it is only currency, it is something so basic. Why do I have to put PS_CURRENCY_DEFAULT into the method parameter, when it could be written in the class itself? And it is important, because PrestaShop doesn't really have good documentation o

[2020-10-30 14:15] neerajwebkul commented on #21668
Hello,

Its working.

Thanks,

[2020-10-30 14:15] #21668 closed, assigned to nobody

[2020-10-30 14:22] matks commented on #21685
You said it yourself: with a good documentation, there is no issue that `Product::convertPrice()` requires you to provide the currency ID. If the documentation makes it very clear how to retrieve the currency object, then it's solved.

So I think it's better to keep the code into a state where things are clear and explicit _but_ improve the documentation to avoid the confusion.

And I've got some

[2020-10-30 14:26] florine2623 commented on #21688
Hi @grzegorzgit ,
Could you send me an example of the module using `$this->context->currentLocale->formatPrice("21.986", Configuration::get('PS_CURRENCY_DEFAULT') );` please ?
With that, we will be able to reproduce the error and tell you what to do.
Thanks!

[2020-10-30 14:28] kpodemski commented on #21688
Hey @grzegorzgit

![image](https://user-images.githubusercontent.com/2137763/97716983-8f003600-1ac4-11eb-9a5d-8f424bbd7728.png)

Second parameter should be currency code, for example "EUR"

[2020-10-30 14:32] florine2623 commented on #21686
Hi @grzegorzgit ,
I just need more details about your issue.
When you talk about _product has variations_, do you mean _combinations_ ?
![Capture d’écran 2020-10-30 à 15 30 49](https://user-images.githubusercontent.com/16019289/97717275-ea322880-1ac4-11eb-845a-978f10f6f758.png)

Or do you mean the _impact on price_ that would lead to a _price variation_ :
![Capture d’écran 2020-10-30 à 15 31 2

[2020-10-30 14:32] grzegorzgit commented on #21685
Thanks a lot for your explanation, the last message did calm me a little :)
It only seems like total new way of writing modules, this might be a little concerning, but I guess that's the issue with every new major version.

[2020-10-30 15:01] jolelievre commented on #21685
Hi @grzegorzgit

although I tend to share @matks vision regarding stateful calls that are literally a hell to debug and maintain, I'm not sure I understand your use case. You talk about `Product::convertPrice` which forces you to define the currency but when I look at this method it seems to use the context currency automatically:

https://github.com/PrestaShop/PrestaShop/blob/3cc8f2646400361587bf

[2020-10-30 15:11] grzegorzgit commented on #21685
This is exactly the case, Tools::displayPrice(123.456) was an amazing and super easy to use thing. Now I see it is deprecated, so instead I am trying to use the Locale::formatPrice() :
Context::getContext()->getCurrentLocale()->formatPrice($dollarPrice, $dollarCurrency);

The problem is not only that I don't want to hardcode the currency, but when I use Configuration::get('PS_CURRENCY_DEFAULT') it

[2020-10-30 15:27] elliottridown commented on #21683
You wrongly closed my issue there, putting 'tel:123456789' is a valid URL, please see here:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a

You should allow entering 'tel:12345678' or 'mailto:mail@mail.com' as these are both valid URLs.

[2020-10-30 15:41] iqit-commerce commented on #20880
Issue is still valid in 3.6.0 of module and there is no connection with template with this issue

[2020-10-30 15:57] hibatallahAouadni commented on #21683
Hi @elliottridown

That's the normal behavior of PS, so it's not a bug. But, we can consider it as an improvement.
Ping @PrestaShop/product-team what you think about it?

Thanks!

[2020-10-30 16:02] loveforweb commented on #19793
Maybe have the words configurable? I have a customer who will only ship up to a certain weight, if the weight is exceeded then they will not ship the product. It also looks like #13517 could fix the issue too.

[2020-10-30 16:16] hibatallahAouadni commented on #9553
Hello @maofree

I didn't manage to reproduce your issue with:
- Prestashop 1.6.1.20
- Advancedeucompliance module v2.0.2
- 1-click upgrade module v4.10.1

And then I upgraded to the last version 1.7.6.8.
During the upgrade, I have these warning:

![image](https://user-images.githubusercontent.com/23308427/97729263-d1c90a80-1ad2-11eb-99da-a12e2d27e2f0.png)

![image](https://user-images.githubuserco

[2020-10-30 19:44] maofree commented on #9553
hi
normally now I remove that module from an upgrade like 1.6 to 1.7
that test has been done  many time ago just to report an error

bye

[2020-10-30 20:35] matks opened #21694 "Advanced issue management: use Template configuration file"
Today, when a GitHub user opens the link https://github.com/PrestaShop/PrestaShop/issues/new/choose he has 4 choices:

- choose a "bug report" issue template
- choose a "feature request" issue template
- choose a "I need help" issue template
- view our security policy

However there is no real "I need help" issue template. This is rather a message to provide relevant informations for people lookin

[2020-10-30 20:40] SimonGrn commented on #21694
Yes !

[2020-10-30 20:44] PululuK commented on #21694
Or suggest they go on slack 🤔?

[2020-10-30 20:48] matks commented on #21694
Slack is suggested in the answer https://github.com/PrestaShop/PrestaShop/blob/develop/.github/ISSUE_TEMPLATE/3_support_question.md

[2020-10-30 21:15] hibatallahAouadni commented on #9553
Hi @maofree

Well then, it seems that problem has been solved with the latest version of modules.

So I close the issue.

Thanks!

[2020-10-30 21:15] #9553 closed, assigned to nobody

[2020-10-30 23:54] juraj1000 commented on #19793
Hi @loveforweb,
I think it could be misunderstanding. Here is described the requirement for shipping functionality with the text "On request" if  there is not possible to calculate shipping fee automatically. In this case the merchant would calculate the shipping fee manually and send it to the customer for confirmation. I think your requirement with exceeded weight and also the issue with postal

[2020-10-31 08:50] loveforweb commented on #19793
@juraj1000 agree with you there, it is  different functionality, i guess it compliments each other. Although having the message configurable would be great so there is the option to have it as ‘on request’ or a custom message, in which i would use ‘shipping not available due to weight exceeding shipping limit’

[2020-10-31 11:19] Aidam-puk opened #21695 "I get [PrestaShop\PrestaShop\Core\Domain\Shop\Exception\ShopException code 0] error when I try to upload a custom logo.. how can I fix this or is this a bug?"
#### Describe the bug

I get [PrestaShop\PrestaShop\Core\Domain\Shop\Exception\ShopException code 0] error when I try to upload a custom logo..

how can I fix this or is this a bug?

#### Steps to reproduce

1. Login to the backoffice of your shop
2. Go to "Design" > "Theme & Logo"
3. Try to upload a custom png logo

#### Additional information

* PrestaShop version: 1.7.6.8
* PHP version: 7.2

[2020-10-31 17:59] RaymondST1985 opened #21696 "Breadcrumb issue on Homepage"
Hi,

Since a couple of days I have an issue on the homepage with Breadcrumbs. On all the other pages the breadcrumbs are working fine. Im using Prestashop 1.7.5 but I used, the breadcrumb.tpl file of 1.7.x

In the google search console I see the following error:

Missing field ItemElementList

    <li>
              <span>Inicio</span>
     </li>
 </ol>

And this is the HTML from the homepage wher

[2020-10-31 22:35] SimonGrn commented on #21696
Dear [name],
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-10-31 22:35] #21696 closed, assigned to nobody

[2020-11-01 19:05] jspanog opened #21698 "Displaying shipping costs with a promotional code did not update"
#### Describe the bug

When I have a promo code that offers free shipping and apply it in the cart, the shipping costs always appear. No indication to indicate to the customer that the shipping costs are free.

#### Expected behavior

When I apply the promotional code to have free shipping costs, I want to have entered the mention "Free" to clearly indicate that the shipping costs are free and to

[2020-11-01 21:28] marciahrn opened #21700 "UPS Module Creates UPS -- About, Country Setting, Terms and Conditions that send to "500 Internal Server Error""
Enjoying setting up a new PrestaShop, however, I have noticed a few bugs.  One that is clearly an error on the server side refers to the UPS module that install just fine.  In fact, the UPS module, after installation, creates side bar links that would become very handy.

However, the side bar links titled:
About
Country Setting
Terms and Conditions

ALL go to an error page that reads:

Oops! An Er

[2020-11-01 21:34] marciahrn opened #21701 "Unable to Configure Presta Shop with Pay Pal Payment Options"
Hoping to use the PrestaShop Pay Pal payment option as it presents credit cards and, I feel, would be a better user experience than the simple Pay Pal button.

Right now we have the simple Pay Pal Button.

The module for the PrestaShop Pay Pal option allows me to connect to the PrestaShop account, however, the Pay Pal login just keeps "loading...."

The link for Pay Pal login in this module doesn'

[2020-11-01 21:43] marciahrn opened #21702 ""The value of the PHP.ini setting "max_input_vars" must be......"
**"The value of the PHP.ini setting "max_input_vars" must be increased to 2000 in order to be able to submit the product form.**"**

Tried to find an answer to this on You Tube where I found video tutorials for PrestaShop in previous versions and foreign languages.
I was happy to find that others had had the same problem I am having.  I became elated.

I went into the root folder and found 5 php.i

[2020-11-01 21:52] marciahrn opened #21703 "Dashboard "Visitors" is stuck on 31"
Enjoying the PrestaShop e-commerce build.  The dashboard is, in fact, a state of the art solution, except that-- Visitors won't increase past 31.

There have been more than 31 visitors to the site, I am sure.

While the site is new, I am building a site for a domain name that had previously been in use for a popular sports retail store.
Within a short time the visitation went to 31 - and has remai

[2020-11-01 21:56] SimonGrn commented on #21700
Hello,

please think about following the template when you submit an issue.
The problem you're facing must be addressed to the module developer.
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.pre

[2020-11-01 21:56] #21700 closed, assigned to nobody

[2020-11-01 21:57] SimonGrn commented on #21701
Dear @marciahrn
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-11-01 21:57] #21701 closed, assigned to nobody

[2020-11-01 21:57] SimonGrn commented on #21702
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-11-01 21:57] #21702 closed, assigned to nobody

[2020-11-01 21:58] SimonGrn commented on #21703
Dear @marciahrn
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-11-01 21:58] #21703 closed, assigned to nobody

[2020-11-02 08:28] #21251 closed, assigned to Progi1984

[2020-11-02 08:29] Progi1984 commented on #21251
@boubkerbribri Fix is merged ;)

[2020-11-02 08:39] LouiseBonnard commented on #21676
Hi @florine2623 and @julienbuh! It could be nice to improve the list of customers by allowing bulk actions via checkboxes. I've just added this idea as an improvement to the migration issues so that it can be studied and specified when working on those pages.

[2020-11-02 08:45] PululuK commented on #21676
IMO it must be in **BO > Clients > Clients.**

![image](https://user-images.githubusercontent.com/16455155/97847428-dfa7a700-1cef-11eb-9bae-6d36f13030fa.png)

[2020-11-02 09:30] musicpanda opened #21704 "Cache modules should not be able to override everything"
I am puzzled that Prestashop is selling cache modules that contain overrides to popular files like productController. It looks like that this is at the moment the number 1 cause of problems on the forum.

Overriding such files should be reserved for modules bringing relevant functional changes.

[2020-11-02 09:34] hibatallahAouadni commented on #21698
Hi @Spano30

This issue is a duplicate of #18533 which has been already fixed by this PR #18884
So, I close it.

Thanks!

[2020-11-02 09:34] #21698 closed, assigned to nobody

[2020-11-02 09:35] hibatallahAouadni commented on #21698
Duplicate of #18533

[2020-11-02 09:46] LouiseBonnard commented on #21676
Hello @PululuK! It is not very common to have a management setting at this place but it sure will be quicker to add this possibility here. @PrestaShop/ux-team, what do you think: from a UI point of view, is it okay to have this kind of parameter in a bulk action here?

In my opinion, whatever we decide for the Customers > Customers bulk action, we should have this **bulk action possible in the Sho

[2020-11-02 09:50] hibatallahAouadni commented on #21695
Hello @Aidam-puk

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it.
Could you please provide the steps to reproduce your issue.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

Thanks!

[2020-11-02 09:54] Max84 opened #21705 "Add dates (add / update) onto specific prices"
#### Is your feature request related to a problem?

Everywhere in Prestashop database, we have added date and updated date. We can see them on products, orders and many thing.
It's usefull for support, debugging on live site. We can known when an action was performed.
We don't have it onto specific_prices.

#### Describe the solution you'd like

Add date_add and date_upd onto specific_price object

[2020-11-02 09:58] matks commented on #21695
@Aidam-puk Look into your php logs to read a more detailed error message

[2020-11-02 10:12] hibatallahAouadni commented on #21704
Hello @musicpanda,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-11-02 10:12] #21704 closed, assigned to nobody

[2020-11-02 10:13] PululuK commented on #21676
Yes I understand your point of view @LouiseBonnard

In my suggestion, users will have the possibility to filter too, imagine the following cases :

- I want to update the groups of all users created today
- I want to change the group of all male clients
- etc etc

For me this feature should allow two things:

- Move customers from one group to another
- Add customers to a group

[2020-11-02 10:17] hibatallahAouadni commented on #21705
Hi @Max84

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Thanks!

[2020-11-02 10:18] hibatallahAouadni commented on #21705
Ping @PrestaShop/product-team ,
@Max84  has a great improvement to share, what do you think !

Thanks !

[2020-11-02 10:24] hibatallahAouadni commented on #21705
Related to #21520

[2020-11-02 10:30] hibatallahAouadni commented on #21395
Hello @grzegorzgit,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-02 10:30] #21395 closed, assigned to nobody

[2020-11-02 10:44] matks commented on #21704
Hi @musicpanda the team in charge of this github repository does not handle addons.prestashop.com (basically here it's about the project, not the company).

You can reach out to them at https://addons.prestashop.com/en/contact-us 😉

[2020-11-02 11:15] Robin-Fischer-PS opened #21706 "Edit quantity and deletion in order in BO in Multishop context : Totals are not updated"
#### Describe the bug

In a multishop context :
If a merchant edit the quantity of a product in an order in BO, in "All shops" context, an error is displayed and nothing is changed immediately.
After refresh, the quantity is updated, but not the "Summary" part of the product block, with the totals : "Products", "Taxes" and "Total".

When adding a product : It's OK.

On 176 : Adding or editing a pr

[2020-11-02 11:22] Jeremy-VERNET opened #21707 "date_add field is wrongly modified when updating a product"
#### Describe the bug

The site had errors in displaying products marked as "New".

I wanted to see what was happening in the database and I noticed that each time I modified a product, it correctly modified the `date_upd` field but completely changed `date_add` of the ps_products table.

#### Expected behavior

Dates should change normally.

**Screenshots**

Here is a little gif showing the bug:

[2020-11-02 11:25] LouiseBonnard commented on #21676
Absolutely, I like the filter idea and I admit that the _Shop Parameters > Customer Settings > Groups (edit)_ table must be reworked to fit the _Customers > Customers_ table. It will enrich the filter possibilities for users and make the back office more consistent.

@PululuK, we think the same regarding the features, but not the same place to handle them! 😄

[2020-11-02 11:25] khouloudbelguith opened #21708 "BO - Order page - Incorrect Total's product line when Round type = "Round on each item""
#### Describe the bug

In the BO > Shop Parameters > General page > Round type = "Round on each item".
When creating an order from the BO > The product's total line is NOK.
![image](https://user-images.githubusercontent.com/16067358/97862011-f1e01000-1d04-11eb-8f0e-ca9a700e8d38.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

0. In Shop Parameters > Custom Settings > Groups > Edit

[2020-11-02 13:34] SD1982 opened #21710 "BO - Order / Rounding is not correct"
#### Describe the bug

In BO , in the order create page, the rounding is not correctly calculated for 2 product but correctly calculated for 3
EDIT => the rounding is also incorrect on the invoice

#### Expected behavior

The rounding should be correctly calculated in every case

#### Steps to Reproduce

Steps to reproduce the behavior:

Settings:
Currency € set on 2 decimals
Round mode => set on

[2020-11-02 13:49] hibatallahAouadni commented on #21707
Hello @Jeremy-VERNET

I didn't manage to reproduce your issue with the provided information.
I attached a screen record:
https://drive.google.com/file/d/1APFHi3h4U625RXmOrVQCRoriyrvHYQgt/view)

Thanks to check and feedback.

[2020-11-02 14:10] Jeremy-VERNET commented on #21707
Thank you for trying @hibatallahAouadni

What is strange is that this kind of problem has nothing to do with a theme or a module since it is a "native" function of Prestashop.

Regarding my version of Prestashop, I did a clean installation locally, I imported data from a 1.7 Beta version, everything worked fine so I put everything in production. The store is currently in production and everything

[2020-11-02 14:21] SimonGrn commented on #21707
It's a native function of PrestaShop, and this works well with a fresh installation... Are you sure your shop doesn't have any module that could interfere with that ?
We need to be able to reproduce the issue to validate it.

[2020-11-02 14:23] hibatallahAouadni commented on #21707
How did you import the data from 1.7 Beta version? and could you please specify what Beta version you're talking about? 1.7.7.0 Beta or 1.7.7.0 Beta 2?

Sometimes, an installed module could override a native function. So please check if you have an override.

Thanks!

[2020-11-02 14:36] Jeremy-VERNET commented on #21707
@SimonGrn : Of course, I understand. I only have 3 modules (except those already included by Prestashop) : PayPal (202 ecommerce), Stripe (202 ecommerce), Boxtal Connect (Boxtal). These are just well known modules.

@hibatallahAouadni : The old Prestashop was 1.7.1.1 and I used [this page](https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/migration/) to migrate. I exported each table in

[2020-11-02 14:44] theodiablo commented on #19240
I totally agree with Gazi96, this is the kind of features which makes people's life easier (and cheaper)

To have a platform which can handle natively those simple tasks (without having to be charged 50€ for every single little extra feature) makes it way more attractive. Especially because many people are using Mailchimp!

[2020-11-02 14:45] theodiablo commented on #19240
@Gazi96 what did you do in the end to fix this?

[2020-11-02 14:48] SimonGrn commented on #21707
I'll ask the dev team to take a look into it. Stay tuned.

Poke @PrestaShop/prestashop-maintainers what do you think could be the reason ?

[2020-11-02 15:05] go-sudo opened #21711 "Order paypal issue"
Hello

the costumer did pay on the website i received the money on paypal but the order has not been placed on the backoffice

This is not the first i checked even the abandoned order does not show it

Version de PrestaShop : 1.7.6.6
Version du logiciel serveur : Apache
Version de PHP : 7.2.34
Limite de mémoire : 100128M
Temps maximal d'exécution : 9000
Taille max. pour envoi de fichiers : 200M

R

[2020-11-02 15:24] hibatallahAouadni commented on #21710
Hello @SD1982

I was able to reproduce the issue with PS1.7.5.2, PS1.7.6.8 and PS1.7.7.0-rc.1+build.3

![image](https://user-images.githubusercontent.com/23308427/97885561-d20e1380-1d27-11eb-9c9e-fc1b33a632d8.png)

Thanks!

[2020-11-02 15:32] hibatallahAouadni commented on #21711
Hello @go-sudo

It seems that your issue is not a PrestaShop core bug.
If your module is PayPal Official, please contact support team on [Addons](https://addons.prestashop.com/en/contact-us?id_product=1748)

We will close this issue.

Thanks!

[2020-11-02 15:32] #21711 closed, assigned to nobody

[2020-11-02 15:55] josiasdx opened #21712 "When product is removed, it disappears from "my orders" in customer account"
When product is removed from the backoffice, it dissapears from "my orders"->"order detail" in customer account

You can reproduce deleting the product from backoffice, but also following this steps:

1) Log in as customer and place an order
2) Go to "my account"->"my orders"->"order detail". You will see product have purchased is appearing
3) In prestashop database, go to order_details table and

[2020-11-02 15:55] matks commented on #21707
Hi @Jeremy-VERNET to the best of my knowledge, the issue does not come the core.

I suggest you check this part of the code: line 722 class ObjectModel https://github.com/PrestaShop/PrestaShop/blob/develop/classes/ObjectModel.php#L722
[code]

As you can see it's the part responsible for filling `date_add` property. So by debugging this part (either insert a var_dump or use a step-by-step debugger

[2020-11-02 15:57] LouiseBonnard commented on #21683
Hello @hibatallahAouadni and @elliottridown, thanks for this issue. If you want to display a phone number in the footer, you can add it in the Shop Parameters > Contact > Stores section of the back office. It is not clickable for now but an issue has been raised to do so, cf. https://github.com/PrestaShop/PrestaShop/issues/18928 & https://github.com/PrestaShop/ps_contactinfo/pull/35. :-)

[2020-11-02 16:14] SimonGrn commented on #21707
Thank you @matks !
I will close this issue since it's not related to the Core.
You can still answer and give details if you find the reason !

Thank you for your understanding.

[2020-11-02 16:14] #21707 closed, assigned to nobody

[2020-11-02 16:17] SimonGrn commented on #21683
Thank you @LouiseBonnard !
I close this issue since it's a duplicate.

Thank you for your understanding.

[2020-11-02 16:17] #21683 closed, assigned to nobody

[2020-11-02 16:17] SimonGrn commented on #21683
Duplicate of #18928

[2020-11-02 16:33] futurowebpl commented on #20535
@kpodemski have you looked at this topic? :)

[2020-11-02 16:37] grzegorzgit opened #21713 "Customer name format: allow dot between characters (eg.: Dr.med.)"
#### Describe the bug

I am importing clients from WooCommerce to Prestashop and I get error by name where someone registered as "Dr.med."

#### Expected behavior

If someone in the imported file has Dr.med. before his name, the import will break and say the name is invalid. Of course there should be a space between Dr. and med. but since this is an import from other system, this restriction of na

[2020-11-02 16:42] marionf opened #21714 "Exception in FO when trying to pay an order with 2 products from 2 differents shops"
#### Describe the bug

In a multistore context with 2 shops in the same group with options share customers, available quantities and orders enabled
If you have in your cart 2 products each linked to a shop then an exception is displayed when you try validate the order

#### Expected behavior

No exception

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Shop parameters > Genera

[2020-11-02 16:48] matks commented on #21713
Hi @grzegorzgit the dot is refused because before saving, PrestaShop checks whether this is a valid firstname and ... I have to agree that `Dr.med. Gregory` is not a customer firstname 😄

You can simply disable this validation by rule by overriding the constraints for customer firstname to suit your needs.

Even if you disable the validation at import step, if you open later the BO "Edit a custome

[2020-11-02 16:54] marionf opened #21715 "Faceted exception while trying to create a product in a multistore context"
#### Describe the bug

In a multistore context, an exception from faceted search is displayed when trying to create a new product in a single shop context

#### Expected behavior

No exception

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Shop parameters > General and enable multistore
2. Go to Advanced parameters > Multistore and add a new shop "Shop2" in default group
3. A

[2020-11-02 16:55] matks opened #21716 "[SF Migration] Use PrestaShop JS components for Grid"
We have started using a `window.prestashop` variable to [expose PS JavaScript components in 1.7.8](https://github.com/PrestaShop/ADR/blob/master/0009-expose-js-components-using-window-variable.md) .

We should use it for all pages relying on the [Grid](https://devdocs.prestashop.com/1.7/development/components/grid/).

[2020-11-02 16:56] khouloudbelguith opened #21717 "BO - Order page - An exception is displayed when changing the invoice address in the second time - Round mode = Round on each item"
#### Describe the bug

An exception is displayed when changing the invoice address the second time.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Download the United States pack from BO > International > Localization page
2. In the BO > Shop Parameters > General > set Round type = **Round on each item**
3. Creat

[2020-11-02 16:56] spelagp opened #21718 "Product quantity not a sum of individual product variations' quantities"
#### Describe the bug

When viewing a products in BO catalogue, it shows quantity of 12. When viewing the same product in product editing mode, there are two combinations to the product. One has quantity -1, the other has 0.

I have two problems:
First: -1 + 0 is not 12.
Second: Selling of the out ouf stock items is disabled. How could quantity be -1 if the purchase cannot be made once product qua

[2020-11-02 17:00] micka-fdz opened #21719 "Avoid global markup duplicate in checkout.tpl"
#### Is your feature request related to a problem?

In classic theme, `templates/checkout/checkout.tpl` file redefine global markup (`<html><head>...</head><body>....</body></html>`) instead of use Smarty template inheritance.

#### Describe the solution you'd like

Use Smarty template inheritance to avoid duplicate of global markup. I'll make a PR soon.

[2020-11-02 17:04] hibatallahAouadni commented on #9720
Hi,

I managed to reproduce this issue with PS1.7.6.8. But, I didn't manage to reproduce it with PS1.7.7.0-rc.1+build.3

https://drive.google.com/file/d/16UWNIuj00DToczSfLpDAbNhvBjeQHdim/view

It seems that it has been fixed, so, I'm closing this issue.

Thanks!

[2020-11-02 17:04] #9720 closed, assigned to nobody

[2020-11-02 17:08] SimonGrn commented on #21713
Thank you @matks !

I close this issue, you can still answer and discuss.

[2020-11-02 17:08] #21713 closed, assigned to nobody

[2020-11-02 17:13] SimonGrn commented on #21712
Hello @josiasdx
please follow the template when creating an issue. This is mandatory.

Are you saying that when you remove the reference to a product in an order directly in the database (which is something very dangerous and not recommended) it...doesn't work anymore ?
What were you expecting exactly ?

It seems perfectly normal to me.

[2020-11-02 17:16] matks commented on #21712
Hi @josiasdx,

When you do this
[code]

You are inserting an inconsistency in your database. The OrderDetail record enters an inconsistent state as it references a product that does not exist.

I think at this moment the software has 2 possible ways that are acceptable to behave
1. display an error message to customer - to indicate there is an issue and have it fixed as soon as possible
2. dont sh

[2020-11-02 17:16] khouloudbelguith opened #21720 "FO - The precision of Discounts NOK"
#### Describe the bug

In the FO > Cart detail page > The precision of Discounts NOK

#### Steps to Reproduce

Steps to reproduce the behavior:

0. Round mode = same issue in all cases
1. Go to BO > International > Currencies > change currency euro **precision =3**
2. Create a Tax 22% / Create a Tax 21%
3. Create a ProductA => tax excluded = 29 euro / tax =22%
4. Create a ProductB => tax excluded

[2020-11-02 17:17] MatShir commented on #21500
Currently, the product list displays the product by the order in which the products are added to the cart. So the first page of the product list into the order are the first one to be added and the last page on the product list displays the latest products added.

A product added through the BO's order page was displayed on the page where the product was added and then displayed at the end after a

[2020-11-02 17:23] MatShir commented on #21500
@Julievrz I'll let you confirm which is the most appropriate wording.

[2020-11-02 17:27] LouiseBonnard commented on #21524
As quickly discussed with @NeOMakinG, I add this ticket as _TBS_ since, depending on the fix suggested, it might introduce a BC and affect the way pages are indexed. What do you think, @PrestaShop/prestashop-core-developers?

[2020-11-02 17:36] kpodemski commented on #21524
I still think that there's nothing to fix without breaking compatibility with a lot of mechanisms, right now we have:

`$cms.meta_title` which is... page title, and we have `$cms.head_seo_title` which is real meta_title for page, there's always been `meta_title` for CMS which was used for `title` purposes, but from 1.7 we have additional `head_seo_title`, I know it's confusing... 😞

[2020-11-02 17:40] milaonline commented on #11944
Go to your hosting php section and enable memcache or memcached.
Your problem is that you've had enabled memcache or memcached and probably changed hosting where memcache is not enabled that is why you can't switch off cache - go to php configuration enable memcache or memcached (that what you have enabled before) and then you will be able to turn of cache in prestashop :)
Spent 3 hours to solve i

[2020-11-02 17:53] marionf commented on #21715
Can't reproduce

[2020-11-02 17:53] #21715 closed, assigned to nobody

[2020-11-02 18:02] kpodemski commented on #21712
Hello everyone,

In order history we should see, a product details from `order_details` table, even if product is deleted we should be able to see its name and details as this table has all needed informations like `product_name` etc. This is why PrestaShop is using a lot of product details in this table.

I can reproduce this issue on 1.7.6.8, but on 1.7.7 there's everything all right, I can dele

[2020-11-02 18:07] ballashop opened #21722 "How to use the same products images without loading them again..."
Hi,
it may happen that some products may have the same images, GTMetrix identifies these identical resources but with different URLs like an error, so it suggests to use the same URLs for the same resources, but how can I choose an image already loaded in PrestaShop?
Thanks.
Balla

[2020-11-02 18:13] kpodemski commented on #21722
Hello @ballashop

This is not possible by default, and it's a bit complicated scenario.

I suggest you to create a topic on [PrestaShop Stack Overflow](https://stackoverflow.com/questions/tagged/prestashop), or on the official [forum](https://www.prestashop.com/forums), there you can ask people for advices on this.

[2020-11-02 18:16] ballashop commented on #21722
Thanks to reply me so fast, and about GTMetrix?
Is it possible that the same resources served with different urls cannot be managed differently?
GTMetrix identifies this as an error.
Thanks for any reply.
Balla

[2020-11-02 18:19] kpodemski commented on #21722
I don't think that you can trick GTMetrix to think that those are two same resources, it's very rare scenario for e-commerce store and I don't think you should be worried about it to be honest :)

[2020-11-02 18:22] kpodemski commented on #21712
This behavior has been fixed here:
https://github.com/PrestaShop/PrestaShop/commit/36c3e90771d69a717d6c0b74cbdd5115ed99362e#diff-4fa7845b8deb947f25f193448c0f02a6d15a2bcf3652ecb5c80fa0db8be90580

[2020-11-02 18:22] ballashop commented on #21722
Hi and thanks to reply me, I do not want to trick GTMetrix, I just try not to upload too many of the same images.
Thanks a lot for your reply.
Balla

[2020-11-02 18:28] kpodemski commented on #21718
Hello,

this difference is very big, do you have any import mechanism in your shop? any mechanism to sync product stocks, import from wholesaler inventory etc?

[2020-11-02 18:35] SimonGrn commented on #21722
Thank you @kpodemski and @ballashop !

[2020-11-02 18:35] #21722 closed, assigned to nobody

[2020-11-02 20:40] matks commented on #21712
@kpodemski Aaaaah OK I get it now 😄 I did not understand it this way.

However this still looks like a bad idea to me 🤔

If a sysadmin has put a foreign key between order_details and product for optimization this will crash

[2020-11-02 20:47] kpodemski commented on #21712
This `id_product` from `order_details` is not really used for anything serious from what I know, it's ok for `order_detail` to have wrong `id_product` because in entire system you'll see `product_name` and other "hardocded" data from the day you purchased this product :)

So, main reason is historical data, this is why having foreign key here would be bad idea

[2020-11-02 20:52] milaonline commented on #17576
Problem still appears with prestashop 1.7.6.5 and smtp.office365.com

[2020-11-02 20:57] matks commented on #21524
Agreed with @kpodemski

Even if the names are mixed or confused, these variable names are being used by thousand of themes being built, sold and used worldwide. We cannot say to all of these theme developers "hello, we decided to change the content of this variables because names were bad, please update your themes else your themes will start doing weird stuff".

That is sad, frustrating and not v

[2020-11-02 21:01] josiasdx commented on #21712
Thank you!

[2020-11-02 21:12] spelagp commented on #21718
Hello,

we are using
Product Catalog (CSV, Excel) Import
v5.3.4 - od MyPrestaModules module on several of our stores and have never
encountered this problem before.

Špela

V pon., 2. nov. 2020 19:28 je oseba Krystian Podemski <
notifications@github.com> napisala:

[2020-11-03 03:01] Guillermo580 opened #21723 "Cart to to zero -- Empty basket -- cannot log in BUG Prestashop 1.6.1.17"
1. We have a random bug problem since 1.5 year ago in our prestashop 1.6.1.17.  The console , after the bug reproduce show us the following ( image attached):

![image](https://user-images.githubusercontent.com/73864603/97945752-33a1a280-1d67-11eb-9895-aa7fc1547f7b.png)

****_**__Set-Cookie header is ignored in response from url: https://www.elcontainer.cl/?rand=1602073743731. Cookie length should

[2020-11-03 07:38] hibatallahAouadni commented on #21712
Hi @josiasdx

It seems your problem has been fixed.
So, I close this ticket.

Thanks!

[2020-11-03 07:38] #21712 closed, assigned to nobody

[2020-11-03 07:44] josiasdx commented on #21712
Thank you

[2020-11-03 07:52] hibatallahAouadni commented on #21719
Hi @micka-fdz

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

Thanks!

[2020-11-03 08:13] hibatallahAouadni commented on #21723
Hello @Guillermo580 ,

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).
Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please ke

[2020-11-03 08:13] #21723 closed, assigned to nobody

[2020-11-03 08:20] LouiseBonnard commented on #21524
It looks like the best option while waiting for the next major version to fully improve the naming of those variables, thanks for your explanation, @matks!

👌

[2020-11-03 08:23] grzegorzgit commented on #21713
I can't believe you just replied this way and closed the ticket! Of course Dr.med. is not a part of the name, but this makes Prestashop import totally useless! How can you not see this is a serious issue of a store when it doesn't give an option for people to put their degree like? Our clients are mostly people working on universities, and such thing can happen, PS should be prepared for this, and

[2020-11-03 08:33] kpodemski commented on #21713
You can create your own validation rules by editing Validate class.

To be honest I've never seen store with people registering with their degree, those strict rules about dots are related to spam issues from recent years, it's almost impossible to handle every scenario here, but this is software with open source and you can easily change validation method however you like.

[2020-11-03 08:34] matks commented on #21713
@grzegorzgit PrestaShop aim is to be a eCommerce CMS targeting a large audience. Most "regular" customers do not use a dot inside firstname.

Maybe in your usecase your clients are mostly people working on universities, but as you said it's _your_ usecase. You must understand this software has not been built for you specifically. This software has been built to be used by thousand of people with a

[2020-11-03 08:38] grzegorzgit opened #21724 "Remove unnecessary restrictions on the data format during importing."
#### Describe the bug

Importing data means that you most likely import it from some other system. <- Does this make sense?
Other systems DO NOT HAVE TO HAVE the same format requirements as PrestaShop.
The format of imported data therefore cannot be UNNECESSARY strict. It should have only the minimal limitations.

During import of customers form WooCommerce, some of my customers were with Dr.med.

[2020-11-03 08:45] hibatallahAouadni commented on #21718
Hello @spelagp

I didn't manage to reproduce this problem.
 It seems that your issue is not a PrestaShop core bug but most likely a module problem. Please contact support team on [Addons](https://addons.prestashop.com/en/data-import-export/19091-product-catalog-csv-excel-import.html)

For the second problem, it seems simular to this one #18700
Could you please check and feedback.

Thanks!

[2020-11-03 08:51] Progi1984 commented on #21659
Fixed in #21666

[2020-11-03 08:51] #21659 closed, assigned to jolelievre

[2020-11-03 08:53] grzegorzgit commented on #21713
@matks OMG man, seriously? Because PS is used by many people all over the world it should be flexible and universal! And not tailored only for teenagers selling t-shirts to their friends! People with degrees are regular clients who are major customers of many industries. This is so disrespectful what you just wrote, it should be stated on PrestaShop homepage so people know what approach creators o

[2020-11-03 09:00] SimonGrn commented on #21713
Hello @grzegorzgit
please remember we have a Code of Conduct which you are clearly violating right now.
Your behavior is not acceptable, you're talking to real humans. You also seem missing the point of Open Source and the open community as a whole.
As a result, I lock this thread to prevent it from drifting further.

Thank you for your understanding.

[2020-11-03 09:04] SimonGrn commented on #21724
Hello @grzegorzgit
This is a duplicate of #21713 which was closed and answered.
I close this ticket.

Thank you for your understanding.

[2020-11-03 09:04] #21724 closed, assigned to nobody

[2020-11-03 09:12] hibatallahAouadni commented on #21436
Hello @onklmaps ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-03 09:12] #21436 closed, assigned to nobody

[2020-11-03 09:24] hibatallahAouadni commented on #21392
Hello @madkot ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-03 09:24] #21392 closed, assigned to nobody

[2020-11-03 09:25] ad3r opened #21727 "Override class SpecificPriceRuleCore Prestashop 1.7 to add new field (PHP)"
Hi,

I would add field into class SpecificPriceRuleCore i create the file SpecificPriceRule.php in the path /override/classes/
how can we add a field in the static $definition

I see the new field on the backoffice but I cannot save the value entered

here is my code:

[code]

Thank you.

[2020-11-03 09:30] PululuK commented on #21727
Hi @ad3r

Have you added this new field to your database table?

[2020-11-03 09:37] hibatallahAouadni commented on #21727
Hello @ad3r ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or i

[2020-11-03 09:37] #21727 closed, assigned to nobody

[2020-11-03 09:41] spelagp commented on #21718
Hello again,

thank you very much for the link to ticket #18700, we will certainly look
into buying the suggested addon. It looks perfect.

Regarding the import module I don't believe it is a module problem, since
even if we modify the stock manually (e.g. change the stock of one the
combinations from -1 to 0), the sum of both becomes 13 (before 12). So the
basic calculation is wrong. Can this be

[2020-11-03 09:51] marionf commented on #21719
I think it's rather a question for @PrestaShop/prestashop-core-developers and maybe @NeOMakinG

[2020-11-03 09:56] prestascott commented on #20754
Hello everyone!

Imo, we should add the 'Upgrade' button in this page. We need to be transparent as much as possible. In fact, users can be confused by seeing the upgrade button available on the 'Module Manager' page and not on the 'Page Configuration' even if it's the same specific module. They might understand that it's an error or a bug from PrestaShop and can generate frustration that makes th

[2020-11-03 09:57] marionf commented on #21720
@khouloudbelguith Are you ok to close this issue as the discount amount is the good one ?

[2020-11-03 10:04] khouloudbelguith commented on #21720
Hi @marionf,

Yes!
As discussed in the meeting.
`11.006` is the best one.
Discount total = round (total amount discount + Shipping fee + Total of the gift product )
`11.006 = round (1.5677 + 0 + 9.438) = round (11.0057) = 11.006`

Thanks!

[2020-11-03 10:04] #21720 closed, assigned to nobody

[2020-11-03 10:09] hibatallahAouadni commented on #21718
Hi @spelagp

I attached the screen record in the link below:
https://drive.google.com/file/d/1LTY3z99RL_CWTMxO2c1QnUPeX7LQAn0E/view

Thanks to check and feedback.

[2020-11-03 10:12] hibatallahAouadni commented on #19221
Hello @Uff182 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-03 10:12] #19221 closed, assigned to nobody

[2020-11-03 10:24] ad3r commented on #21727
yes i already added the field
i have this error:
![error_specificprice](https://user-images.githubusercontent.com/3882680/97973904-18ff1600-1dc7-11eb-8033-93bb1504246e.png)

[2020-11-03 10:58] prestascott commented on #21105
Hi everyone,

Not showing that the product is 'Out of Stock' on this page is a really bad UX. It's as if a merchant is putting an item in its shelves but doesn't sell it. Customers of the merchants will have a negative experience towards their online shopping on merchants' e-ecommerce website. The availability of the product must be clear on this page and on the product page.

But like @MatShir sa

[2020-11-03 11:27] hibatallahAouadni commented on #9502
Hi @marionf @MatShir

I managed to reproduce this issue with PS1.7.6.8 and PS1.7.7.0-rc.1+build.4
I attached the screen record:

https://drive.google.com/file/d/1qY8VjUR-H99ky06jS-ipReklsN06viLC/view

What do you think, we should leave it to be fixed or close it?

Thanks!

[2020-11-03 11:45] khouloudbelguith opened #21730 "BO - Multistore - an error is displayed in the console when expanding Associated categories"
#### Describe the bug

In the BO > Advanced Parameters > Multistore page, an error is displayed in the console when expanding Associated categories

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable Multistore context
2. Go to BO > Advanced Parameters > Multistore page'
3. Create a new shop
4. In the Associated categories, section Click on Collapse all
5. Click on Expand all
6.

[2020-11-03 11:49] zzzZZZzzz9 opened #21731 "Cover photo not used for /img/tmp/product_mini_"
**Describe the bug**
In both of my shops, PS uses /img/tmp/product_mini_ images for cart and order view in the backend as well as invoices.
However, this image is not the cover image selected by me but always the image with the lowest image ID.

E.g. for [this item](http://test.littlepippa.de/baden-wickeln/200-835-mushie-stapelturm-becher.html#/97-farbe-pastell), the frontend cart correctly shows

[2020-11-03 12:01] #21516 closed, assigned to matthieu-rolland

[2020-11-03 12:35] Progi1984 commented on #21504
Fixed by #21557

[2020-11-03 12:35] #21504 closed, assigned to atomiix

[2020-11-03 13:03] Prestaworks commented on #21034
This should be solved in ProductController.

change
$this->context->smarty->assign('displayPackPrice', ($pack_items && $productPrice < $this->product->getNoPackPrice()) ? true : false);
to
$this->context->smarty->assign('displayPackPrice', ($pack_items && $productPrice < Pack::noPackPrice((int) $this->product->id)) ? true : false);
on line 327

[2020-11-03 13:04] hibatallahAouadni commented on #21731
Hello @zzzZZZzzz9

I did manage to reproduce your issue with PS1.7.6.8 but I didn't reproduced with PS1.7.7.0_beta1 and PS1.7.7.0_beta2.
I've attached a screen record:

https://drive.google.com/file/d/1mlYt7tZd4xV4TL2i2tJ70FDeeDG3dL_y/view

So it seems fixed with our newest version.
Could you please check and feedback.

Thanks!

[2020-11-03 13:28] #19558 closed, assigned to Progi1984

[2020-11-03 13:32] Progi1984 commented on #21525
Fixed #21526

[2020-11-03 13:32] #21525 closed, assigned to Progi1984

[2020-11-03 13:36] jolelievre commented on #21291
Hi @okom3pom I just tested to modify this wording in the BO and it works fine (the wording itself is not translated yet, but I'm sure the crowdin community is working on it 🙂), so I'm gonna close this issue.

Thanks for your report

[2020-11-03 13:36] #21291 closed, assigned to atomiix

[2020-11-03 13:37] hibatallahAouadni commented on #9857
Hello,

I managed to reproduce this issue with PS1.7.7.0-rc.1+build.4
the steps to reproduce the issue:

1. Shop Parameters -> General -> Enable Multistore : YES
2. Advanced Parameters -> Multistore -> Add new shop (shop_2) & (shop_3)
3. Menu All Shops -> select (shop_2)
4. International -> Localization -> Localization -> import "united kingdom" & "united states" pack
5. International -> Localizat

[2020-11-03 13:52] hibatallahAouadni commented on #9990
@marionf

I managed to reproduce it with PS1.7.6.8 and PS1.7.7.0-rc.1+build.4
As it's trivial and it's been years ago, shall we close it?

[2020-11-03 14:01] LouiseBonnard commented on #17274
Hi @ttoine and @NeOMakinG, I close this ticket since https://github.com/PrestaShop/prestashop-ui-kit/pull/102 has been merged, feel free to reopen it if need be. :-)

[2020-11-03 14:02] #17274 closed, assigned to NeOMakinG

[2020-11-03 14:18] Progi1984 commented on #18273
@Julievrz What is the wording for the option ?

[2020-11-03 14:28] Robin-Fischer-PS opened #21734 "Input lag in BO > Create order > Cart"
#### Describe the bug

On BO > Create order, in the cart, when updating the quantity of a product using the "up/down arrow" with consecutive hits on the same input, it's not acknowledged correctly.

For example, I'm at 6. I hit 3 times the "up" arrow, the counter goes up to 9 and then goes back to 7.

It's OK when adding the product

#### Expected behavior

All inputs should be taken into account

[2020-11-03 14:31] Progi1984 commented on #18273
@Julievrz What is the wording / domain for channels : 'alpha', 'beta', 'stable' ?

[2020-11-03 14:42] khouloudbelguith commented on #21648
Hi @Daaaaad,

Here's the PR #14879.

Thank you!

[2020-11-03 14:47] khouloudbelguith commented on #21734
Hi @Robin-Fischer-PS,

I manage to reproduce the issue with PS1770rc1build1 also.

Thanks!

[2020-11-03 14:49] hibatallahAouadni commented on #9991
Hello @marionf

I didn't manage to reproduce the issue with PS1.7.6.8 and PS1.7.7.0-rc.1+build.4.
It seems the problem has been solved.

Thanks to check and feedback.

[2020-11-03 14:56] #9991 closed, assigned to nobody

[2020-11-03 15:26] #11632 closed, assigned to NeOMakinG

[2020-11-03 15:26] #21671 closed, assigned to NeOMakinG

[2020-11-03 15:29] grzegorzgit opened #21736 "During addresses import it would be handy if the store mapped the country ID itself."
When you import csv with addresses list, there is a "country" column and this column accepts only IDs from Prestashop. It would be handy if the two letters code would be enough (so that store could map the id itself).

#### Describe the solution you'd like

In the store the countries are anyway stored with their two letters code, it would be better to use this instead of id. It would be much more

[2020-11-03 15:35] hibatallahAouadni commented on #21736
Hi @grzegorzgit

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-03 15:53] zzzZZZzzz9 commented on #21731
Hi @hibatallahAouadni

Yes, I can confirm this seems to be fixed in 1.7.7.0 - thank you for checking.

Can you provide any insights regarding the release timeline?

[2020-11-03 15:57] hibatallahAouadni commented on #21731
Hi @zzzZZZzzz9

To be informed when it get released, subscribe to this issue #18647
So, I close this ticket.

[2020-11-03 15:57] #21731 closed, assigned to nobody

[2020-11-03 16:09] szykuc commented on #14881
@khouloudbelguith @LouiseBonnard in 1.7.6.8 i have still this issue.

Any advices to fix it?

[2020-11-03 16:19] #17212 closed, assigned to Progi1984

[2020-11-03 16:25] jolelievre commented on #18647
## Status update: RC 1 is finally released! 🎉🚀

So patience paid up!! ^^ We are proud, and relieved, to announce you the release of the RC1 for PrestaShop version 1.7.7.0!!!

You can download this version:

- on [Github](https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.7.0-rc.1)
- on [PrestaShop website](https://www.prestashop.com/en/developers-versions)

And if you want more details abou

[2020-11-03 16:44] Julievrz commented on #18273
"Addons API stability channel" in Admin.Advparamters.Feature

"Stable" in Admin.Advparameters.Feature
"Alpha" in Admin.Advparameters.Feature
"Beta" in Admin.Advparameters.Feature

A tooltip: "Choose a stability level for the modules on the Addons API. All zips pushed on Addons are in stable state unless stated otherwise." located in Admin.Advparameters.Help

@Progi1984

[2020-11-03 16:58] eternoendless commented on #18273
How about "Choose a stability level for the modules downloaded from Addons Marketplace"?

[2020-11-03 17:05] LouiseBonnard commented on #14881
Hello @lutek, did you try with the fix mentioned above? It is planned for version 1.7.8 but you can use this fix on your store if you feel comfortable with it. :-)

[2020-11-03 17:23] szykuc commented on #14881
@LouiseBonnard I'm not lutek just find this issue after 2 days of searching problem with long chekout load ;)

Yes #16620 helped me. One simple condition and all my problems gone ;)

Btw, why are such important fixes not implemented as early as possible?

[2020-11-03 17:52] frenchfriez commented on #21736
I totally agree with @grzegorzgit ! I am currently importing my client addresses on prestashop but I am facing errors...
![prestashop import addresses error](https://user-images.githubusercontent.com/71665846/98022032-600bfc00-1e05-11eb-934b-ac38a08efb0d.png)
Country->need_identification_number is empty
Address->id_country is empty

Did anyone have the same issue ?

I believe the "Address->id_coun

[2020-11-03 18:27] frenchfriez commented on #19175
Hi
I have the same issue, I did the correction already
![Changed format](https://user-images.githubusercontent.com/71665846/98025693-5638c780-1e0a-11eb-9b83-0637513821ba.png)

But I still have the same issue when I import:
![prestashop import addresses error](https://user-images.githubusercontent.com/71665846/98025778-6fda0f00-1e0a-11eb-8340-67c408e41df0.png)

I also have the "Property Country->ne

[2020-11-03 20:48] urecheatu007 opened #21739 "[BO - Product] Bug in typeahead while searching a related Product"
#### Describe the bug

This is a bug in twitter/typeahead which has not been fixed in its official distribution. When result count is lower than limit the results dropdown displays only the difference between the limit and the number of entrie returned entries - so for a limit of 10 and 6 results returned it will display only 4 of them in the dropdown. From my own testing, this is not just this ca

[2020-11-04 07:49] hibatallahAouadni commented on #21736
Hi @frenchfriez

This ticket concerns a suggestion for improvement. But what you posted is an issue, so could you please open a new issue with the bug's description and the steps to reproduce it, to fix the problem.

Thanks!

[2020-11-04 08:05] Julievrz commented on #18273
Following your explanation, it sounds good to me! 😊

[2020-11-04 08:19] hibatallahAouadni commented on #21739
hi @urecheatu007

I managed to reproduce your issue with PS1.7.6.8, PS1.7.7.0_beta1, PS1.7.7.0_beta2, PS1.7.7.0-rc.1+build.3 and PS1.7.7.0-rc.1+build.4

But I'm really confused if that's the expected behavior or it's a bug.
With PS1.7.6.8, PS1.7.7.0-rc.1+build.3 and PS1.7.7.0-rc.1+build.4: I searched by reference "demo", it shows me only 10 products but in reality I have more.
With PS1.7.7.0_beta1

[2020-11-04 08:22] grzegorzgit commented on #21736
@frenchfriez here is the list of countries iso codes with their ID that I exported from PrestaShop database,
[countries list.zip](https://github.com/PrestaShop/PrestaShop/files/5486427/countries.list.zip)

[2020-11-04 08:23] #19426 closed, assigned to matthieu-rolland

[2020-11-04 08:24] matks commented on #21739
@urecheatu007 thanks for the exploration 😉

[2020-11-04 08:24] Progi1984 commented on #18273
Great @Julievrz. I applied this in my PR.

[2020-11-04 08:30] khouloudbelguith opened #21741 "Multistore - Stocks page - The message is not well displayed in all shops or in a group context"
#### Describe the bug

Currently, the stocks page isn't working in all shops or in a group context.
We have an alert when we select all shops or in a group context.
This alert is not well displayed.

![image](https://user-images.githubusercontent.com/16067358/98087179-04cb1f80-1e80-11eb-8624-9b8e2eae1fd4.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

Enable multistore
create a se

[2020-11-04 08:36] khouloudbelguith opened #21742 "Multistore - Position page - The alert is not well displayed in all shops or in a group context"
#### Describe the bug

Currently, the Position page isn't working in all shops or in a group context.
We have an alert when we select all shops or in a group context.
This alert is not well displayed.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable multistore
2. create a second shop
3. go to Design > Position page
4. select all shops context / a group context
5. see error

**

[2020-11-04 09:10] juraj1000 opened #21743 "Add the possibility to save current theme configuration"
#### Describe the bug
I use my own theme during adjustment of an e-shop and there are more standard modules disabled, e.g. Banner, Search bar... If I switch to classic theme for checking and then I switch back to my theme then these disabled modules are automatically enabled. I have to disable them again manually, it is very uncomfortable because there are more modules which I have to disable agai

[2020-11-04 09:35] rflorent opened #21744 "Select form input bugs"
Hello,

on a fresh install, the select widgets are broken.
Version 1.7.6.8
![image (1)](https://user-images.githubusercontent.com/8590540/98094370-7cea1300-1e89-11eb-9688-221216df5063.png)

[2020-11-04 09:36] tajriba commented on #14978
@SergiuszZ thanks, can you explain what your code changes?

[2020-11-04 09:39] rflorent commented on #21744
I changes php version, php7.4 => php7.3 seems to fix it

[2020-11-04 09:41] hibatallahAouadni commented on #21743
Hi @juraj1000

I didn't manage to reproduce the issue with PS1.7.6.8 and PS1.7.7.0-rc.1+build.3
I attached the screen record:

https://drive.google.com/file/d/1K2wXWKnpIk44xnAKEYhucFtg1szGfr3N/view

Please check and feedback.

Thanks!

[2020-11-04 09:43] #21744 closed, assigned to nobody

[2020-11-04 09:50] dariusakafest commented on #21584
@khouloudbelguith yes

[2020-11-04 09:51] dariusakafest commented on #21584
I suggested a solution in the fix, works fine for me now

[2020-11-04 09:57] Progi1984 commented on #21105
@NeOMakinG Backend in da place ;)

[2020-11-04 09:59] hibatallahAouadni commented on #21584
Hi @dariusakafest

If you have already fixed it on your end, please do send us a pull request!
This issue is a duplicate of #11115. So I close this one.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-11-04 09:59] #21584 closed, assigned to nobody

[2020-11-04 09:59] hibatallahAouadni commented on #21584
Duplicate of #11115

[2020-11-04 10:02] kmorgen commented on #9662
This error report is now several years old, and issue still not solved.
Any change og any progress soon (the new Metrics module is not a suited option/replacement).

[2020-11-04 10:02] NeOMakinG commented on #21105
@Progi1984 we should add a toggle on `/configure/shop/product-preferences/` on `Product stock` part, `Show out of stock label on listing pages`, and I should have access to this parameter variable inside smarty

[2020-11-04 10:04] Progi1984 commented on #21105
@NeOMakinG I create the PR this afternoon :) and you continue on it :+1:

[2020-11-04 10:05] #21470 closed, assigned to NeOMakinG

[2020-11-04 10:06] marionf commented on #21105
Maybe we can display another wording than "out of stock" if the product has combinations and is available in other combinations like "available with different options" ? Otherwise I am afraid the customer thinks the product isn't available at all

[2020-11-04 10:07] Progi1984 commented on #21719
@marionf : @NeOMakinG has discussed with @micka-fdz on the PR

[2020-11-04 10:14] nesrineabdmouleh opened #21745 "Validation message not displayed when Enable/Disable webservice keys by bulk actions"
#### Describe the bug

There is no validation message when Enable/Disable webservice keys by bulk actions

#### Expected behavior

Validation message should be displayed after enabling or disabling a webservice key

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Advanced parameters>Webservice'
2. Click on 'Add new webservice key'
3. Select the created webservice key
4. Click

[2020-11-04 10:22] SergiuszZ commented on #14978
this code
-------------------
    public static function getIsoByLocale($locale)
    {
        if (!Validate::isLanguageCode($locale)) {
            throw new Exception('The locale ' . $locale . ' is invalid');
        }

        if ($details = self::getJsonLanguageDetails($locale)) {
            return $details['iso_code'];
        }

        return false;
    }
-----------------
==== replaced by

[2020-11-04 11:09] hibatallahAouadni commented on #21743
Hello again,

In my last comment I changed only BO modules and that's why I didn't manage to reproduce it.
When I tired with FO modules like search bar, I managed to reproduce the issue with PS1.7.6.8 and PS1.7.7.0-rc.1+build.4.

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-11-04 11:25] hibatallahAouadni commented on #21071
Hello @HartLarsson

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-04 11:25] #21071 closed, assigned to nobody

[2020-11-04 11:38] golden1688 opened #21747 "What should I do if the upgrade fails more than ten times? Ask for help"
Hello there!
Strong technical support:
I am a user of prestashop, I upgraded from prestashop 1.7.6.1 to 1.7.6 stable version (1.7.6.8), I tried multiple upgrades, and it appeared: [Ajax/Server operation backup file error] textStatus: "Error" errorThrown: "" JqXHR: "", what should I do? Please help me, thanks!
PHP version is 7.2

We use GitHub issues only to discuss about bugs in the PrestaShop pro

[2020-11-04 11:51] hibatallahAouadni commented on #9514
Hi @marionf

I managed to reproduce this issue with PS1.7.7.0-rc.1+build.3.

Thanks!

[2020-11-04 12:20] hibatallahAouadni commented on #21747
Hi @golden1688

We use GitHub issues only to discuss about bugs in the PrestaShop project and new features.
Please next time follow the Bug Report template ([see the link](https://build.prestashop.com/news/how-bug-reports-are-handled/))

Thanks!

[2020-11-04 12:21] Wilczur07 opened #21748 "Cannot receive blank schemas for resources"
#### Bug description

Getting error [PHP Notice # 8] Trying to access array offset on value of type null (D:\presta\htdocs\classes\webservice\WebserviceOutputBuilder.php, line 716)

#### Expected behavior

Receive a blank body of resource

#### Steps to Reproduce

Steps to reproduce the behavior:

1)Make GET call to an PrestaShop api : api/products?schema=blank
2)See error

#### Additional informa

[2020-11-04 12:27] #21562 closed, assigned to NeOMakinG

[2020-11-04 12:28] golden1688 commented on #21747
Hello there!
Sorry! I sent it to the wrong place. I had a problem with the upgrade. Where did I send it? Can you give me a link? thank!

[2020-11-04 12:29] hibatallahAouadni commented on #21748
Hello @SzooX

Please downgrade your PHP version to 7.2 cause PS1.7.6.8 is not compatible with PHP 7.4 (as you can see in our system requirement [document](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/))

Please check and feedback.

Thanks!

[2020-11-04 12:37] rdy4ever opened #21749 "Shopping cart doesn't update product number badge (ajax) when updating product quantity in cart product line"
#### Describe the bug

Shopping cart doesn't update product number badge (ajax) when updating product quantity in cart product line.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add a product to the cart
2. Go to cart page and update the product quantity or remove the product from the cart.
3. The product number badge in the top right corner [Cart (1)] doesn't update the number o

[2020-11-04 12:37] hibatallahAouadni commented on #21747
@golden1688

Here's the link https://github.com/PrestaShop/PrestaShop/issues/new/choose to create a new issue:

![image](https://user-images.githubusercontent.com/23308427/98112393-6d2af880-1ea2-11eb-978d-1d9fba1bb264.png)

Click on the button "Get started" to create a "Bug Report".
And please fill all the blocks (Describe the bug, Expected behavior, Steps to Reproduce, Additional information, ...

[2020-11-04 12:37] #21747 closed, assigned to nobody

[2020-11-04 12:45] golden1688 opened #21750 "What should I do if the upgrade fails more than ten times? Ask for help"
Hello there!
Strong technical support:
I am a user of prestashop, I upgraded from prestashop 1.7.6.1 to 1.7.6 stable version (1.7.6.8), I tried to upgrade several times, and it appeared: [Ajax/Server operation backup file error] textStatus: "Error" errorThrown: "" JqXHR: "", what should I do? Please help me, thanks!
PHP version is 7.2

[2020-11-04 12:47] Progi1984 commented on #21105
@marionf What is the default value for "Show out of stock label on listing pages" ?

[2020-11-04 12:48] rdy4ever commented on #21749
https://github.com/PrestaShop/ps_shoppingcart/pull/68/commits/71642574e43a293e3ddc6a559ed7464db740e62c

[2020-11-04 12:48] #21749 closed, assigned to nobody

[2020-11-04 12:53] hibatallahAouadni commented on #21749
Duplicate of #19733

[2020-11-04 13:02] hibatallahAouadni commented on #21750
Hello @golden1688 ,

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...

You don't know how to get this information? Please read the following article: [How to create a bug report]
(http://build.pr

[2020-11-04 13:06] NeOMakinG commented on #21719
It's a great improvement that should be done and shouldn't introduce BC change at all

[2020-11-04 13:14] #21750 closed, assigned to nobody

[2020-11-04 13:30] lutek commented on #14881
@LouiseBonnard i didn't check this PR #16620, but my patch is on my live shop. I'm still on 1.7.6 version.

[2020-11-04 13:35] matks commented on #21750
@golden1688 you should have some more informations inside the logs in `/{Prestashop_Folder}/{Admin_folder}/autoupgrade/tmp/`

[2020-11-04 13:39] hibatallahAouadni commented on #21739
Hello @urecheatu007

As discussed with @matks it is a bug. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-11-04 13:43] 2092015 commented on #16320
The same exact behavior happens when you add char '+' at the end of the attribute on version 1.7.6.
I believe it will happen having any special chars on attributes.
Example:
Energy classification of a fridge can have the value 'A+++', the query arrived to ps_facetedsearch has 'A  '.
Hope this helps.

[2020-11-04 13:46] marionf commented on #21743
Hello @juraj1000

I am not sure to understand what is the problem here.
When you install a theme the modules associated to this theme are automomatically installed / enabled because otherwise you will need to install and enable them one by one

[2020-11-04 13:47] Julievrz commented on #21500
"The item was successfully added." in Admin.Orderscustomers.Notification

[2020-11-04 13:54] SzooX commented on #21748
Downgrading php resloved an issue. Thanks!

[2020-11-04 14:47] hibatallahAouadni commented on #21748
Hello @SzooX

It seems your issue has been solved. So, I close the issue.

Thanks!

[2020-11-04 14:47] #21748 closed, assigned to nobody

[2020-11-04 15:24] #20747 closed, assigned to NeOMakinG

[2020-11-04 15:43] dennispw commented on #21743
Related: https://github.com/PrestaShop/PrestaShop/issues/12933

[2020-11-04 15:51] #14420 closed, assigned to NeOMakinG

[2020-11-04 15:57] sowbiba commented on #21500
Here is a record of what is done yet
https://drive.google.com/file/d/1KmyGktgV26l2PKqqJgNREXHp6857k4wp/view
with the loading spinner, the list of products ordered : the last product added is on top. The pagination is handled well

Waiting for @TristanLDD review.

And my question is : Do we still need an alert (The item was successfully added or removed)?

[2020-11-04 16:05] PrestaSafe opened #21752 "Blockreassurance - URL not available in front office"
#### Describe the bug

in the module https://github.com/PrestaShop/blockreassurance v5.0.0, the URL of one element is not available in the front office and in the `$elements` variable, when used as a widget.

#### Expected behavior

Get all informations of fields available in backoffice in the front office

#### Steps to Reproduce

Install the module in the last version,
create one or many block r

[2020-11-04 16:15] hibatallahAouadni commented on #9520
Hello,

this bug still persists with PS1.7.7.0-rc.1+build.4 (see screen record below)

https://drive.google.com/file/d/1kCodhFrj2lowgMyXKzq-GlFVjxVteMnS/view

As you can see in the screen recording, the store address2 is not displayed in the FO contact information, although there is no relationship between the change made in in Address Format and Store address.

Part of this issue has been fixed c

[2020-11-04 16:27] marionf commented on #21105
It should be enabled by default, I completed the specs part of the issue.
@Julievrz wdyt of the new label "Display the "out of stock" label on the product's listing pages" ?
Maybe we should add a help text under the toggle to specify that it will work only if the order of out of stock product is denied, I let you suggest it @Julievrz

[2020-11-04 16:28] #21009 closed, assigned to Matt75

[2020-11-04 16:36] yaciine01 opened #21753 "WebService ERROR API not working properly !"
Hellow everyone.

I have trouble whit the web service API i have prestashop 1.7.6.4. When i generate an API key for my store android app i just get some products (like 20 products) and i don't get the other products and also i didn't get Categories from website.

I followed correctly the API documentations :
- I  Enabled the webservice ( generate a API key with Enable Status  - key description - i

[2020-11-04 16:42] WartoWiedziec opened #21754 "activity review - errors in the visualization of information from statistical modules and google analytics"
#### Describe the bug
Since installing the new version of PS 1.7.6.7 and also after updating to 1.7.6.8, I have a problem with the correct reading of data in this module.
#### Expected behavior
The marked points show the places where errors are revealed:
- Online Visitors:
+ is: shows 30 a at the same time
+ should be: Stats is 16.
- Traffic source:
+ is: from the beginning it shows invariably one

[2020-11-04 16:53] matks commented on #21753
Hi @yaciine01 If you have questions or need help, please do not open a GitHub issue as we use GitHub issues only to discuss about bugs and new features for the PrestaShop project.

You are likely to find the informations you need on https://devdocs.prestashop.com/1.7/webservice/tutorials/testing-access/

Also if you are using httpd/apache2, you need to enable URL rewriting on your server.

You can

[2020-11-04 16:53] #21753 closed, assigned to nobody

[2020-11-04 17:02] marionf commented on #9514
@hibatallahAouadni Could you please edit the first message of this issue and add the steps to reproduce the issue + screenrecord & screenshot ?

[2020-11-04 17:04] #9990 closed, assigned to nobody

[2020-11-04 17:04] finawebshop opened #21757 "Product Combination Prestashop 1.7.6.8"
Hi Friends, I need help in creating Product with Combinations. I am new to prestashop and just installed version 1.7.6.8.

The shop URL is https://shopnew.fina.org/
For the product 'NF Affiliation Fee'; i selected the combinations option.
I have an attribute called 'Year' with values 2015, 2016, 2017, 2018, 2019, 2020 and 2021 (in dropdown field).

Now, within the combinations tab when I select al

[2020-11-04 17:05] marionf commented on #9502
@hibatallahAouadni Could you please add the steps to reproduce the issue and the screenrecord in the first message ?

[2020-11-04 18:26] SimonGrn commented on #21757
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-04 18:26] #21757 closed, assigned to nobody

[2020-11-04 18:45] georgelouk opened #21759 "Wrong breadcrumb path in Category and Product views"
#### Describe the bug

I am creating a new category which has a parent category, but at FO when i view the category the breadcrumb has an extra subcategory that never was added by me.

For example i have category structure :

Bride
with subcategories T-Shirts and Dresses
I create a new subcategory Bags under Bride

The breadcrumb is not Home / Bride / Bags as expected but Home / Bride / T-Shirts /

[2020-11-04 21:35] HartLarsson commented on #18700
i've the same problem with PS 1.7.6.7

[2020-11-04 21:38] barbosatrix opened #21760 "Error Bono descuento, valor minimo envio gratis y calculo de valor descuento con impuestos excluidos"
1. Creo un bono de bienvenida con valor de $25000 pesos. Envío incluido, impuestos incluidos

2. Tengo un transportista con envío gratis después de $100000

3. Cuando el importe lo dejo de 25000 impuestos incluidos aparece el valor correcto en el carro pero no deja realizar la compra si es mayor a $100000, se devuelve a la pantalla home del      sitio.

4. Cuando el importe lo dejo de 25000 impues

[2020-11-04 21:55] matks commented on #21752
Hi @PrestaSafe I changed your issue a little because this only applies to the usecase "where the blockreassurance module v5.0.0 is used as a widget". When using regular hooks, full informations are available as Smarty variables.

I checked the code, I dont know why but indeed only few informations are built as Widget variables. For hooks full informations are provided. As it was fast to fix, I did

[2020-11-04 21:57] matks commented on #21752
Note: it's not a bug 😛 as nothing is failing. It's rather a limitation of the module (and it will be nice to remove the limitation ^^)

[2020-11-04 22:02] matks commented on #21760
Hi @barbosatrix I'm sorry but we only speak/write English here, could you please translate your issue ?

[2020-11-04 22:07] barbosatrix commented on #20245
Tengo un problema cuando asigno un coupon con impuestos excluidos, calcula un valor erroneo.
Tengo un inconveniente similar.

1. Creo un bono de bienvenida con valor de $25000 pesos. Envío incluido, impuestos incluidos
2. Tengo un transportista con envío gratis después de $100000
3. Cuando el importe lo dejo de 25000 impuestos incluidos aparece el valor correcto en el carro pero no deja realizar l

[2020-11-04 22:19] HartLarsson commented on #18700
this module will delete all abandoned cart pratically?
because abandoned cart are a good strategy to do some remarketing and recover missed sales.

[2020-11-04 22:29] HartLarsson commented on #19642
yvw, i think you must plan to update also the 1.7.6.x branch
Is not really nice to have a available stable branch with bugs, missing things and so on.

[2020-11-04 22:46] SimonGrn commented on #21760
Hello,
Please send your request in English. English is the norm on GitHub. Please also follow the template.

Thank you

[2020-11-04 22:46] #21760 closed, assigned to nobody

[2020-11-05 00:09] barbosatrix opened #21761 "Issue coupon discount with tax excluded and deliver free up to set value"
**Describe the bug**

I created a $25000 pesos coupon for every user on the platform. When the user goes to pay, prestashop add some value to the coupon just if I set tax-excluded option on the Back office discount page.
I have free delivery when the order is up to $100000. If I let the coupon with tax included and the order is up to $100000, it not finish the chekout. If I let the coupon with tax

[2020-11-05 04:54] golden1688 commented on #21750
Hello there! HibatallahAouadni!
There are a lot of server logs, which are security information. Can I send you a private message?

[2020-11-05 05:17] golden1688 opened #21762 "What should I do if the prestashop upgrade failed more than ten times? Ask for help"
Hello there!
Strong technical support:
I am a user of prestashop, I upgraded from prestashop 1.7.6.1 to 1.7.6 stable version (1.7.6.8), I tried to upgrade several times, and it appeared: [Ajax/Server operation backup file error] textStatus: "Error" errorThrown: "" JqXHR: "", what should I do? Please help me, thanks!
PHP version is 7.2
For request I provide
Server log:
Apache: /var/log/apache/apach

[2020-11-05 08:01] Progi1984 commented on #21752
@matks I take the issue. I discuss it with @PrestaSafe on FoP ;)

[2020-11-05 08:08] florine2623 commented on #21759
Hi @georgelouk ,
Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.
We will close this issue.

If you need support do not hesitate to contact the [support-team](https://addons.prestashop.com/en/388-support).

Thank you

[2020-11-05 08:08] #21759 closed, assigned to nobody

[2020-11-05 08:10] matks commented on #21752
All right 😉  be my guest!

You can use PR https://github.com/PrestaShop/blockreassurance/pull/60 or make your own. But you'll need, like I found out, to fix blockreassurance first - it seems to fail because of Composer v2 😞

[2020-11-05 08:10] SimonGrn commented on #21762
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-05 08:10] #21762 closed, assigned to nobody

[2020-11-05 08:15] florine2623 commented on #21754
Hi @WartoWiedziec ,
I can't reproduce the issue on my test shop. Make sure you don't not use the Demo mode :
![Capture d’écran 2020-11-05 à 09 13 49](https://user-images.githubusercontent.com/16019289/98214896-5e4a5180-1f47-11eb-8816-984e2c4cc7e2.png)

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bu

[2020-11-05 08:15] #21754 closed, assigned to nobody

[2020-11-05 08:16] SimonGrn commented on #21762
I'm really sorry @golden1688 I don't understand why you still post the same issue without reading our answers. If you keep posting this _as is_, we will keep closing it.
When we ask you to follow our template it's because it helps us work efficiently by organizing the informations and making sure we don't miss any details.
Moreover, you problem seems to not be linked with the Core itself: we don't

[2020-11-05 08:47] LouiseBonnard commented on #14881
Oops, sorry for the name mistake, @szykuc! 🙈

Great to read it helped to fix this issue, I'll close it then, thanks. We aim at delivering bug fixes as soon as possible, but PrestaShop versions come with other projects (refactoring, migration, improvements, etc.) which require more time to code, review, and test. And this is what can extend the release cycle. At that time, the 1.7.7 scope was froze

[2020-11-05 08:47] #14881 closed, assigned to nobody

[2020-11-05 08:53] finawebshop opened #21764 "Product combinations not working version 1.7.6.8"
To replicate my issue; in the demo version of Prestashop 1.7.6.8; try to delete all the combinations for the product "Hummingbird printed t-shirt" and try to generate the combinations again. It will not be able to generate the combinations table.

The same is happening with my store https://shopnew.fina.org/
Server information Linux #1 SMP Debian 3.16.51-3+deb8u1~bpo70+1 (2018-01-09) x86_64
Server

[2020-11-05 09:03] hibatallahAouadni commented on #21761
Hello @barbosatrix

I didn't manage to reproduce the issue with PS1.7.6.8 (please see screen record below)

https://drive.google.com/file/d/1IQfjQTmtjbIoSKdaIvXiQjYe35bjSemR/view

Please check and feedback.

Thanks!

[2020-11-05 09:30] hibatallahAouadni commented on #21764
Hello @finawebshop

I didn't manage to reproduce your issue with PS1.7.6.8 (see screen record below)

https://drive.google.com/file/d/1nT7zFQ0-asbPz-NdsIbn_xOiykN8C4l5/view

Could you please check and feedback.

Thanks!

[2020-11-05 09:44] HartLarsson commented on #10762
well the check of stock in the last step seems someone have found a way to do it: https://addons.prestashop.com/it/gestione-scorte-fornitori/48536-checking-stock-at-checkout-before-paying.html#specifications

why not implementing on Prestashop Core too?

[2020-11-05 09:45] HartLarsson commented on #10762
your module is nice but it remove all abandoned cart, and remarketing on abandone cart is a big money recovering.

[2020-11-05 10:08] grzegorzgit opened #21766 "Disable automatic backorder status."
#### Is your feature request related to a problem?

Prestashop automatically set "on backorder" status when someone bought products out of stock.
It should not happen, our payment module sets the status of "paid with card" or "awaiting bank transfer", but when product is out of stock PrestaShop forces to change the status of "backorder" which for us is totally useles.

I know I can disable the mai

[2020-11-05 10:19] #18653 closed, assigned to Progi1984

[2020-11-05 10:19] marionf opened #21767 "When stock management is disabled, the available quantity in order detail is displayed"
#### Describe the bug

When stock management is disabled, the available quantity in order detail is displayed

#### Expected behavior

When stock management is disabled, the available quantity in order detail shouldn't be displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Shop parameters > Product settings
2. Disable stock management
3. Go to Orders > Orders > View an o

[2020-11-05 10:26] matks commented on #21694
Although the PR was merged, the Issue Chooser does not display the "I Need Help" template. https://github.com/PrestaShop/PrestaShop/issues/new/choose

I'm going to wait a bit to see if it appears later.

[2020-11-05 10:46] Progi1984 commented on #20254
Fixed in PrestaShop/blockreassurance#55

Available in next release

[2020-11-05 10:46] #20254 closed, assigned to Progi1984

[2020-11-05 10:56] awerner25 opened #21768 "Impossible to add a cache server"
Hello,

I use the prestashop docker image.
I want to add a memcached server.

![Capture d’écran du 2020-11-05 11-52-11](https://user-images.githubusercontent.com/59097333/98232146-98265280-1f5d-11eb-9d33-ba102b3218ff.png)

But when I clic on "Test the server", I have an exception :
![Capture d’écran du 2020-11-05 11-51-21](https://user-images.githubusercontent.com/59097333/98232236-b429f400-1f5d-1

[2020-11-05 10:58] PululuK commented on #21694
Missig     `about: Please ask and answer questions here.`
See https://github.com/PululuK/IaaC/issues/new/choose

[2020-11-05 10:59] golden1688 commented on #21762
Hello there!
Sorry, I saw that the question was closed at the end, and you can submit the question. I did it. Now I understand, sorry!
Now the backup to the screenshot stops, what should I do? thank!

[2020-11-05 11:02] SimonGrn commented on #21762
* [community forums](https://www.prestashop.com/forums/)
* [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack)
* [official PrestaShop support](https://www.prestashop.com/support)

[2020-11-05 11:06] juraj1000 commented on #21743
Hello @marionf,
I need to have a possibility to save current theme configuration. It could be in the file theme.yml, it could be in any other file. It could be also done manually like "Export to...". Without this functionality it is really complicated to develop own theme or to use own positions of modules in hooks, because all information is lost if you change the theme. And usually you need quit

[2020-11-05 11:06] finawebshop commented on #21764
Dear Hibatallah,

Thank you for the response and really appreciate the quick response from your end.
Please see the video that I created to show what happens when I create a product with combinations on my shop.

Hopefully, after the video you can help me with my errors.

https://drive.google.com/file/d/1F301DwMVxKsaOumibLyIvYlBTAb_38g9/view?usp=sharing

regards
Pritam

[2020-11-05 11:07] matks commented on #21694
I feel so stupid now

[2020-11-05 11:09] matks commented on #21694
See https://github.com/PrestaShop/PrestaShop/pull/21769

[2020-11-05 11:10] hibatallahAouadni commented on #21766
Hello @grzegorzgit

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-05 11:13] SimonGrn commented on #21768
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-05 11:13] #21768 closed, assigned to nobody

[2020-11-05 11:19] kpodemski commented on #21768
@darkvodka

You just don't have proper extension installed on your server

[2020-11-05 11:35] hibatallahAouadni commented on #21764
Hi @finawebshop

What I have seen in the video, it's not the normal behavior, usually when we click on "generate" button, the created combinations must be showed under the "Bulk actions" select. Did you change the Core files or use a module related to Product management?

Check My new screen record below (I followed your steps and I didin't reproduce the issue):

https://drive.google.com/file/d/1c

[2020-11-05 11:59] finawebshop commented on #21764
Thank you again for the quick response. I did not change any of the core files as I don't have a need for it. My shop will have just 7 products in total of which one will be a combination.
I haven't used any product management module yet. This shop is still in development and will be launched next year. I only plan to use a module for payment (this will be from SellXed for datatrans) and a module

[2020-11-05 12:11] #21694 closed, assigned to nobody

[2020-11-05 12:11] hibatallahAouadni commented on #21764
Hello @finawebshop

I'm really sorry but I didn't manage to reproduce your issue neither with PS1.7.6.8 or with PS1.7.7.0-rc.1+build.4
I attached the screen record testing your issue with PS1.7.6.8 just to make sure that your issue is not related to PrestaShop version (see link below)

https://drive.google.com/file/d/1KCj-0ehnOf7Gn4j3Bz06mhvKFKHsKYqL/view

Please check and feedback.

Thanks!

[2020-11-05 12:19] finawebshop commented on #21764
Thank you for checking the issue with 1.7.6.8. I am really clueless why I don't see the combinations table after clicking on "generate" button.

I am using PHP version 7.1. Believe this should not be a problem. My current hosting solution provides me option for php version 5.6, 7.0 and 7.1. I opted for 7.1

Do you suggest checking something else that I can provide as information to find the root c

[2020-11-05 12:58] hibatallahAouadni commented on #9514
@marionf done

[2020-11-05 13:08] hibatallahAouadni commented on #21764
Hello again,

Please check if your server meets with PrestaShop requirements (click the [link](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#how-to-verify-your-server-meets-prestashops-requirements) to see how)
If there's something missing the phppsinfo.php will show it, so you could fix the problem.

Please check and feedback.

Thanks!

[2020-11-05 13:11] matthieu-rolland opened #21771 "In behat test, different behavior when executed on a locale machine or inside the travis CI"
#### Describe the bug

I have a behat test that adds two shops, so we have 3 shops in total (the first one, and the two I add in the behat test).

When I debug the ps_shop table, on my locale machine the third shop has an ID of 3, and when in the travis CI, it has an idea of 4.

This is not a major bug, but it's strange nonetheless, the goal of this issue is to find out what causes this database d

[2020-11-05 13:12] Progi1984 commented on #18273
@PrestaShop/product-team The stability channel is not available for regular sellers on Addons Marketplace, only for PrestaShop modules. Should we put the option only in the development environment ?

[2020-11-05 13:15] #19636 closed, assigned to Progi1984

[2020-11-05 13:15] matthieu-rolland commented on #21771
Note that something similar happens on the ps_shop_group table.

[2020-11-05 13:22] matthieu-rolland commented on #21771
I didn't manage to reproduce this bug in the travis container, anyone who'd like to try inside a travis container can find a how-to here:

https://github.com/PrestaShop/docs/issues/233

[2020-11-05 13:23] hibatallahAouadni commented on #9502
@marionf done

[2020-11-05 13:26] RachelB34 opened #21772 "Module Avis clients introuvable"
Bonjour, je ne retrouve plus ce module sur ma version 1.7.5.2 ?
Comment faire pour le re installer?

Merci

[2020-11-05 13:29] hibatallahAouadni commented on #21772
Hello @RachelB34 ,

Please send your request in English. English is the norm on GitHub.

Thanks!

[2020-11-05 13:29] #21772 closed, assigned to nobody

[2020-11-05 13:30] RachelB34 commented on #21772
Customer reviews module not found
Hello, I no longer find this module on my version 1.7.5.2?
How to re-install it?

[2020-11-05 13:31] RachelB34 opened #21773 "Customer reviews module not found"
Hello, I no longer find this module on my version 1.7.5.2?
How to re-install it?

[2020-11-05 13:32] hibatallahAouadni commented on #21772
Hi @RachelB34

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You
must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bugreports-are-handled/). Feel free to create a new issue if you can provide further information, we will be g

[2020-11-05 13:33] hibatallahAouadni commented on #21773
Hello @RachelB34

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-11-05 13:33] #21773 closed, assigned to nobody

[2020-11-05 13:40] matks commented on #21772
@RachelB34 this might be what you are looking for https://github.com/PrestaShop/productcomments

[2020-11-05 13:54] RachelB34 commented on #21772
Thank you, I downloaded and installed it on my FTP but it still does not appear in my module manager.

[2020-11-05 14:00] khouloudbelguith commented on #21772
Hi @RachelB34,

The productcomments module is compatible minimum with PS1.7.6.0
https://github.com/PrestaShop/productcomments/blob/dev/productcomments.php#L61

Thanks!

[2020-11-05 14:00] ghost opened #21774 "BO product list column Final Price with active discount impact"
Guys im struggling with that feature to display product prices with active discount impact (retail final price for customer including current specific prices/discounts)

[2020-11-05 14:01] SimonGrn commented on #21774
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-11-05 14:01] #21774 closed, assigned to nobody

[2020-11-05 14:17] barbosatrix commented on #21761
Hi @hibatallahAouadni  , than you for the help,
I was configured the free shipping from the carrier options like in the next picture but now I did it the way you did in the video on carrier preferences.
![Screenshot_1](https://user-images.githubusercontent.com/15943150/98250904-0a8b3880-1f46-11eb-951b-ec7a1e2432a8.png)

After that:

I tried to buy only one product and it works.
Then I tried to buy

[2020-11-05 14:20] khouloudbelguith opened #21775 "FO - Product with combinations - Incorrect image displayed"
#### Describe the bug

In the FO, when we add a product with combinations to the cart, the cover image is displayed instead of the Product's image selected.
![image](https://user-images.githubusercontent.com/40635814/107627559-c3f15c80-6c5f-11eb-9440-7e2e0eaceb28.png)
This issue occurs in

- ~~Product successfully added to your shopping cart Pop up~~ => Fixed
- ~~Shopping cart page~~ => Fixed http

[2020-11-05 14:24] matks commented on #21774
@PrestaShark it will be easier to discuss it on Slack 😉  come join us ! https://join.slack.com/t/prestashop/shared_invite/zt-dkmbz5qf-I~FlEWwmRUOXunc5ui0Ucg

[2020-11-05 14:42] hibatallahAouadni commented on #21761
Hello @barbosatrix

I didn't manage to reproduce the issue even with I put products with taxes and products without taxes in the same cart and proceed to checkout as you can see in the screen record below:

https://drive.google.com/file/d/1t3bgoC0Yt4i3Po3m05J9Q2pYTcCa9hfZ/view

Please check and feedback.

Thanks!

[2020-11-05 14:54] hibatallahAouadni commented on #21750
Hello @golden1688

As discussed with @khouloudbelguith, in the 1-Click Upgrade configuration page, you should disable **Back up my images**, because the Upgrade was stopped during the backup. (see the screenshot below)

![image](https://user-images.githubusercontent.com/23308427/98256565-fe6f9d00-1f7e-11eb-9118-4b9c04fb04bf.png)

Thanks!

[2020-11-05 15:28] finawebshop commented on #21764
Hello again,

sorry for a delayed response due to scheduled meeting. I checked the page that you sent in link for server configuration and compatibility.
 Just for Memcached for which "required" is No and recommended as Yes; my settings displays 'no'.  (should not be a problem)
![image](https://user-images.githubusercontent.com/73956282/98260710-ed755a80-1f83-11eb-81a3-325a6e966df3.png)

Everythin

[2020-11-05 16:02] matks commented on #21764
@finawebshop Hi ! I checked the video.

As @hibatallahAouadni said, something wrong after you generated the 3 combinations. They should have been displayed below the "bulk update" block.

The problem is that for @hibatallahAouadni and me (I checked) it works :/ so we dont know why it does not work well for you. Something in your setup/shop creates the issue.

One test you can do it to install a ne

[2020-11-05 16:05] atomiix opened #21778 "Customer view addresses & vouchers tables are not display well"
#### Describe the bug

There is a gap between the table head and the table body and a border on the page customer view, in the *vouchers* & *addresses* table.
![Capture d’écran 2020-11-05 à 16 51 48](https://user-images.githubusercontent.com/2168836/98264956-c40afd80-1f88-11eb-9c19-ce4cd784892f.png)

#### Expected behavior

It should be looking like that instead:
![Capture d’écran 2020-11-05 à

[2020-11-05 16:15] hibatallahAouadni commented on #21778
Hello @atomiix

I managed to reproduce the issue with Develop but with PS1.7.7.0-rc.1+build.4 seems displayed well

![image](https://user-images.githubusercontent.com/23308427/98266142-3d572000-1f8a-11eb-9fe2-b69e6439978b.png)

I think it's regression.

Thanks!

[2020-11-05 16:26] finawebshop commented on #21764
thanks you Mathieu for pitching in trying to replicate the issue with Hibatallah. Appreciate it!!

I will try another installation and let you guys know about it.

[2020-11-05 16:38] hibatallahAouadni commented on #9550
Hello @marionf @MatShir

I managed to reproduce the issue with PS1.7.6.8 and PS1.7.7.0-rc.1+build.4
See the screen record below:

https://drive.google.com/file/d/1m_bBORJ12JD6HaSX4-SVq6gWgGPQufx-/view

Thanks!

[2020-11-05 16:39] maniolias opened #21780 "Bad client IP from Tools::getRemoteAddr"
#### Describe the bug

The method Tools::getRemoteAddr has a bad behaviour when Prestashop is behind a proxy.

If I understand correctly  this method :

REMOTE_ADDR is used as client IP if present and:
- doesn't match '/^127\..*/i'
- doesn't match '/^172\.16.*/i'
- doesn't match '/^192\.168\.*/i'
- doesn't match '/^10\..*/i'

Even if HTTP_X_FORWARDED_FOR is set.

But if HTTP_X_FORWARDED_FOR is set

[2020-11-05 16:49] tajriba commented on #14978
Merci. My questions was more like: any idea what things occurs this error? So I need to change this code, for what reason?

[2020-11-05 17:04] matks commented on #21780
Makes sense 👍

[2020-11-05 17:07] marionf commented on #21743
Ok thank you for the explanation @juraj1000, so your request is an improvement
It seems to be a duplicate of #12933 ?

[2020-11-05 17:07] #21272 closed, assigned to nobody

[2020-11-05 17:09] marionf commented on #16838
Duplicate of #12933

[2020-11-05 17:09] #16838 closed, assigned to nobody

[2020-11-05 17:22] mrabsinthe commented on #19935
@Pitt1823 @superskyman100 @ballashop very well done and explained, I could not agree more! Why would we generally want make any newly issued discount being compatible with all previously issued ones??? And I cannot disagree more with @jolelievre , seems like you don't want to listen merchants! Perhaps you can explain how to make every new abandoned cart discount NOT compatible with hundreds of pre

[2020-11-05 17:31] matks commented on #21780
After reading a few more RFCs, I have to say it's a bit harder to be confident of this change 😅

The issue you raise is real but I'm not 100% sure we can ignore REMOTE_ADDR when HTTP_X_FORWARDED_FOR is set

ping @PierreRambaud @djodjo3  who have huge network knowledge, can you help me ?

[2020-11-05 18:44] #21624 closed, assigned to nobody

[2020-11-05 21:25] sakonn commented on #19281
I am also facing the issue. It's weird that such a large platform can't handle larger number for categories.
My quick solution was to disable category widget on the product page to at least somehow edit products and then I have created external app which can edit categories through webservice: https://gitlab.com/Sakonn/prestashop-category-tool
It's not perfect but has to prodvide the functionality

[2020-11-05 21:58] matks commented on #21780
Prepared some unit test following your scenario https://github.com/PrestaShop/PrestaShop/pull/21784

[2020-11-06 00:16] PEscar commented on #16663
Having similar ( maybe same ) problem.

![image](https://user-images.githubusercontent.com/28983045/98310582-a318cb80-1fcd-11eb-888b-55c106e5f799.png)

[2020-11-06 07:43] dgonzalez-conex opened #21785 "Error in Custom Fields"
Hi.
I have an online store in Prestashop 1.7.6.0
I have created several products for sale.
In the product file I have added numerous "custom fields" to collect buyer data.
The problem is that in the front office, in addition to the fields, the data of a previous buyer is displayed under the fields.
This is a violation of the GDPR.
We are reviewing the code to hide this sensitive information, but I

[2020-11-06 07:43] khouloudbelguith commented on #16663
Hi @PEscar,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-11-06 07:53] SimonGrn commented on #21785
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [