[2020-07-27 13:45] khouloudbelguith commented on #20339
@adamus007p, I tried with a multishop and it is ok also.
I attached a screen record
https://drive.google.com/file/d/1A2pol5xIaW3v-PRQ4j-XfDopxKjO-Zh5/view?usp=sharing
Thanks to check and feedback.

[2020-07-27 13:47] khouloudbelguith commented on #20214
Hi @go-sudo,

As can I see in your log file, the upgrade is stopped in the Backup step.
Could you please try to disable the "Back up my images" option, save and check again.
![image](https://user-images.githubusercontent.com/16067358/88549353-7a715500-d020-11ea-86df-b2373e24c86a.png)

Thanks!

[2020-07-27 13:48] ttoine commented on #15004
note that the pull request is merged and should be available in a recent release (https://github.com/PrestaShop/ps_themecusto/releases/tag/v1.2.0)
did someone tested if this is issue is solved?

[2020-07-27 13:48] LouiseBonnard commented on #19793
@Junebyun, I remember you had an idea for the wording, feel free to share it here so that this issue can be wording approved. ;-)

[2020-07-27 13:55] adamus007p commented on #20339
On my side, after updates it not works like that.
Maybe on clear fresh installation it is working.

What I can see that my version 1.7.7 not works (after update)
I have check also 1.6 - the same it deos not works.
I have 4 multi shops.

[2020-07-27 13:59] khouloudbelguith commented on #20350
@C-Ranalletta, I did not manage to reproduce this issue with PS1.7.6.7.
It is ok in my case
https://drive.google.com/file/d/15nhjTfCIusq3zPGRtS5fDS8xblBnbdaD/view?usp=sharing
Could you please try to install the module clone from GitHub: https://github.com/PrestaShop/blockreassurance/releases/tag/v5.0.0
You can follow these steps:

1. git clone https://github.com/PrestaShop/blockreassurance.git
2.

[2020-07-27 14:01] khouloudbelguith commented on #20339
@adamus007p ,

Did you make an upgrade of your shop from an old version PrestaShop to PS1.7.7.0beta1?

Thanks!

[2020-07-27 14:05] LouiseBonnard commented on #9629
If I'm not mistaken, there is no wording issue here but a bug: on the Catalog > Stocks pages, **when the user is using the product filter, he expects the listing to be reorganized by alphabetical order (from A to Z)**, and this is how it is supposed to work. Here, he gets a reorganization by numerical order (depending on the product's ID). In short, the filter parameter needs to be changed to fix

[2020-07-27 14:14] khouloudbelguith commented on #9629
Hi @LouiseBonnard,

I think that the `Product` filter is not clear.
In our case, On the Stock page, we can order with the label "Product" which is sorting a product by `id-product-id-combination` and not a Product's name.
![image](https://user-images.githubusercontent.com/16067358/88552100-f4efa400-d023-11ea-8028-2f9c713b3729.png)

Thanks!

[2020-07-27 14:16] LouiseBonnard commented on #9629
Exactly, thanks a lot!

[2020-07-27 14:29] khouloudbelguith commented on #20220
Hi @msaustral,

I manage to reproduce the issue with PS1.7.6.7.
But it is fixed in the next release 1770
https://drive.google.com/file/d/1A_9BhnO0MqYSUaZfEMXcbDBkYq6ODCd5/view?usp=sharing
It is fixed with this PR:https://github.com/PrestaShop/PrestaShop/pull/15909
Your ticket is a duplicate of #12061
So, I close it.
Thanks!

[2020-07-27 14:29] #20220 closed, assigned to nobody

[2020-07-27 14:29] khouloudbelguith commented on #20220
Duplicate of #12061

[2020-07-27 14:38] khouloudbelguith commented on #20294
Hi @sarahdib, @marionf,

I did not manage to reproduce the issue with 1.7.7.x branch and the `ps_contactinfo` v3.2.0 & v3.3.0.
I attached a screen record
https://drive.google.com/file/d/1KXv4mOyGIskQJIssdA6PPdYCludKnKOa/view?usp=sharing

Thanks!

[2020-07-27 14:45] khouloudbelguith commented on #20315
Hi @Max84, @sowbiba,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14899 to fix the issue as reported here: https://github.com/PrestaShop/PrestaShop/issues/14842
It is fixed in PS1.7.6.1.

@Max84, thanks to check and feedback.

[2020-07-27 14:47] Max84 commented on #20315
Thanks 👍

[2020-07-27 14:48] khouloudbelguith commented on #20315
@Max84,

Your ticket is a duplicate of #14842
So, I close it.
Thanks!

[2020-07-27 14:48] #20315 closed, assigned to nobody

[2020-07-27 14:48] khouloudbelguith commented on #20315
Duplicate of #14842

[2020-07-27 14:53] khouloudbelguith commented on #20327
Hi @Davidlleide,

I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
https://drive.google.com/file/d/1hPfsgY0fTfEQqevQKkSYqbKKNIvVpT9Z/view?usp=sharing

Thanks to check and feedback.

[2020-07-27 14:56] khouloudbelguith commented on #20283
Hi @arafatx,

Your ticket is a duplicate of #9592
Please follow: https://github.com/PrestaShop/PrestaShop/issues/9592#issuecomment-533135677
So, I close it.
Thanks !

[2020-07-27 14:56] #20283 closed, assigned to nobody

[2020-07-27 14:57] khouloudbelguith commented on #20283
Duplicate of #9592

[2020-07-27 14:57] adamus007p commented on #20339
yes upgrade not fresh install

[2020-07-27 15:10] khouloudbelguith commented on #20339
@adamus007p, 177 stable is not released yet.
The beta version is only for testing and currently, it is not possible to upgrade from beta version (1770beta1) to the stable version (1770 stable version).

What is your exact version PrestaShop did you before the upgrade?

Thanks!

[2020-07-27 15:11] LouiseBonnard commented on #20110
@SH4LT1S, I've found out where the first checkbox message must be translated in Lithuanian: you need to go to the configuration panel of the PrestaShop's **Official GDPR Compliance** module in Modules > Module Manager and edit/translate the consent message, see my screenshot below.

<img width="1394" alt="Capture d’écran 2020-07-27 à 17 07 49" src="https://user-images.githubusercontent.com/32565

[2020-07-27 15:13] khouloudbelguith commented on #20292
Hi @jf-viguier,

So, can we close this issue?

Thanks!

[2020-07-27 15:15] khouloudbelguith commented on #20079
Hi @kasugaicrow,

So, can we close this issue?

Thanks!

[2020-07-27 15:23] khouloudbelguith commented on #16916
HI @zafer0zturk,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2020-07-27 15:31] J147julie commented on #20336
Hi

Thanks for the reply.  I am using version 3.5.0 with the settings as per the attachment.  When I go to my website front end jujak.co.uk and try to use the faceted search I just get the “waiting” circle for ages and nothing ever comes up.

Thanks

Sent from Windows Mail

From: khouloudbelguith
Sent: ‎Monday‎, ‎27‎ ‎July‎ ‎2020 ‎13‎:‎21
To: PrestaShop/PrestaShop
Cc: J147julie, Mention

Hi @J147j

[2020-07-27 15:34] khouloudbelguith commented on #20165
Hi @passio777x, @qualityangel,

I did not manage to reproduce the issue after an upgrade from PS1.7.6.7. to PS1.7.7.0 (Branch 1.7.7.x)
I attached a screen record
https://drive.google.com/file/d/1JjaYC94hCeSMxrMHwDY5TjOmSC0ya_5n/view?usp=sharing

Thanks!

[2020-07-27 15:39] khouloudbelguith commented on #20336
@J147julie, I tried with your shop and it is OK.
I attached a screen record
https://drive.google.com/file/d/1_8C-f-k5qEmZVdHgYxCEyeITv1J6PPAR/view?usp=sharing
Thanks to check and feedback.

[2020-07-27 15:44] LouiseBonnard commented on #20355
It's a regression and it looks very easy to fix so I'd say yes, @khouloudbelguith. :-)

[2020-07-27 16:17] J147julie commented on #20336
Can you try on the T shirt one and see if it works as this is the one I was looking at as it has more products.

Thanks

Sent from Windows Mail

From: khouloudbelguith
Sent: ‎Monday‎, ‎27‎ ‎July‎ ‎2020 ‎16‎:‎40
To: PrestaShop/PrestaShop
Cc: J147julie, Mention

@J147julie, I tried with your shop and it is OK.
I attached a screen record
https://drive.google.com/file/d/1_8C-f-k5qEmZVdHgYxCEyeITv1J6PP

[2020-07-27 16:17] J147julie commented on #20336
Sorry that was boys - t shirts

Sent from Windows Mail

From: khouloudbelguith
Sent: ‎Monday‎, ‎27‎ ‎July‎ ‎2020 ‎16‎:‎40
To: PrestaShop/PrestaShop
Cc: J147julie, Mention

@J147julie, I tried with your shop and it is OK.
I attached a screen record
https://drive.google.com/file/d/1_8C-f-k5qEmZVdHgYxCEyeITv1J6PPAR/view?usp=sharing
Thanks to check and feedback.

—
You are receiving this because you w

[2020-07-27 16:17] LouiseBonnard commented on #20341
Hi @khouloudbelguith & @banan44, thanks for the issue and explanation! I agree, it would be more relevant to have the languages organized according to their ID. :-)

[2020-07-27 16:20] adamus007p commented on #20339
Update from 1.6

[2020-07-27 16:21] J147julie commented on #20336
Seems to be when I try “size” or “size range” the problem is occuring

Sent from Windows Mail

From: khouloudbelguith
Sent: ‎Monday‎, ‎27‎ ‎July‎ ‎2020 ‎16‎:‎40
To: PrestaShop/PrestaShop
Cc: J147julie, Mention

@J147julie, I tried with your shop and it is OK.
I attached a screen record
https://drive.google.com/file/d/1_8C-f-k5qEmZVdHgYxCEyeITv1J6PPAR/view?usp=sharing
Thanks to check and feedback.

[2020-07-27 16:31] matks commented on #14173
Spent a lot of time today trying to fix this without modifying Command and Application classes to avoid BC break.
My idea is to use Console Command events, plug myself "just before any command is run" and load the fake context.

However this has to be done after container is booted. So I need to plug myself
- after `$kernel->boot(); (so container is available)
- before `doRun()`

and the 2 happens

[2020-07-27 16:33] go-sudo commented on #20214
Hi @khouloudbelguith and Welcome Back !!

It works finally, you saved my day , you are the best
thank you

1.7.6.7

Regards

[2020-07-27 16:33] #20214 closed, assigned to nobody

[2020-07-27 17:45] passio777x commented on #20165
My issue was for 1.7.6.7, shop can't be reactivated when I was in "all shop", activate button has no effect in "all shop", but independantly, they can be reactivated, if I go in once store.

[2020-07-27 18:13] cortier commented on #20348
I haven't fixed it. Please add it to the debug roadmap. Thanks.

[2020-07-27 18:17] Flower7C3 commented on #19967
@matks thanks for debugging. I will back with info if I find any info about this problem.

[2020-07-27 18:48] elboletaire commented on #19182
When I did open this issue, I didn't know that the `overrides` folder in modules is managed during the module installation. So, I guess it should also work adding the class there (without any namespace at all, of course) and installing the module from the dashboard, as the installation should copy the `overrides/classes` from the module path to the root `overrides/classes`.

Haven't tried it thoug

[2020-07-27 18:58] kasugaicrow commented on #20079
@khouloudbelguith yes, you can close it. Again thank you all for support

[2020-07-27 18:59] #20079 closed, assigned to nobody

[2020-07-27 19:01] go-sudo commented on #20308
Hi @khouloudbelguith
Pageseed is off and I delete it.
--Idem
rm -fR var/cache/*,
--Idem
Clear your browser cache and your cookies
--Idem
Disable the IP check cookies
---Idem
/classes/controller/AdminController.php, replace 900 to 3600
Idem
Question ; why on login page i remove the token link and put enter I can access but order section reject me
I'm ready to provide privately Bo acces
Regards,

[2020-07-27 19:06] mickaelandrieu commented on #14173
Or ... you could have accepted the PR I've done months ago, fix included 🤪

Believe me or not, even after clicking on "Unsubscribe" I'm still notified both per email and on the website :/

[2020-07-28 04:02] go-sudo commented on #20347
Hi @khouloudbelguith

We use the on step checkout and even with this module we could not reproduce the issue playstore.ma the same thing on the application
https://play.google.com/store/apps/details?id=com.playstore.androidapp&hl=fr

![88460099-b5914e00-ce91-11ea-8c59-1bc883e5e86e](https://user-images.githubusercontent.com/11594433/88612756-d28d7300-d083-11ea-88a6-39daf6c6dfda.png)

Regards

[2020-07-28 04:43] go-sudo commented on #20308
Hi @khouloudbelguith
I noticed that when this file login.js is loaded from disk cache I can't access here is a video

[2020-07-28_05-41-14.zip](https://github.com/PrestaShop/PrestaShop/files/4986034/2020-07-28_05-41-14.zip)

Regards

[2020-07-28 06:58] C-Ranalletta commented on #20350
Hi @khouloudbelguith I've downloaded the file with the module in github tags v5.0.0 (file attached), and I tried to upload in my BO, but it doesn't recognize the file and leave me this error message " Upload failed, It doesn't seem a valid zip file"
Could you please help me?

[blockreassurance-5.0.0.zip](https://github.com/PrestaShop/PrestaShop/files/4986470/blockreassurance-5.0.0.zip)
![Error upl

[2020-07-28 07:42] matks commented on #20333
If we follow your mind, you are describing 3 environments:
- **prestashop open source project development**, which aims to provide an environment where code changes are built then submitted as PRs
- **shop development**, which aims to build a shop on top of prestashop, and code changes aim to be pushed into production eventually
- **shop production**

The .gitignore in this repository is targeted

[2020-07-28 07:42] matks commented on #10463
@matthieu-rolland is this issue fixed by latest upgrade of jQuery thanks to jquery-migrate ?

[2020-07-28 07:43] #20292 closed, assigned to nobody

[2020-07-28 07:43] matks commented on #10478
ping @NeOMakinG I think you would like this topic 😉

[2020-07-28 07:59] khouloudbelguith commented on #20079
@kasugaicrow, thanks!
Feel free to open a new one when needed.

[2020-07-28 08:00] marionf commented on #20294
Same for me

[2020-07-28 08:01] SimonGrn commented on #20308
Thank you @go-sudo for all these details.
Sadly, as we were suspecting, this is definitely an issue on your side.
Once again, I strongly suggest you contact our support team to help you with this specific case. You can also try to get help in our forums or our Slack channel.
There is nothing more we can do on Github.

I'll close this issue.

I hope you understand.

[2020-07-28 08:01] #20308 closed, assigned to nobody

[2020-07-28 08:02] khouloudbelguith commented on #20214
@go-sudo, Great!
Feel free to open a new one when needed.

Thanks!

[2020-07-28 08:16] matks commented on #14854
@Quetzacoalt91 I noticed this `classes/Hook/HookInterface.php` in ps_googleanalytics v4.0.0

https://github.com/PrestaShop/ps_googleanalytics/

Is this the beginning of an answer 😄  ?

[2020-07-28 08:21] khouloudbelguith commented on #20350
@C-Ranalletta, this method is NOK.
You should follow these [steps](https://github.com/PrestaShop/PrestaShop/issues/20350#issuecomment-664413935) to install dependencies.
You can check with this module
[blockreassurance.zip](https://github.com/PrestaShop/PrestaShop/files/4986917/blockreassurance.zip)

Thanks to check and feedback.

[2020-07-28 08:23] khouloudbelguith commented on #20347
@go-sudo, I did not manage to reproduce the issue with PS1.7.6.7.
It seems that your issue is related to this module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author, they are the only ones to help you with it.
Thanks!

[2020-07-28 08:23] #20347 closed, assigned to nobody

[2020-07-28 08:26] khouloudbelguith commented on #20165
Hi @passio777x,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #19362
So, I close it.
Thanks!

[2020-07-28 08:26] #20165 closed, assigned to nobody

[2020-07-28 08:26] khouloudbelguith commented on #20165
Duplicate of #19362

[2020-07-28 08:46] Progi1984 commented on #20355
It's not a regression. It has been modified by @atomiix in #17568. It has been validated by @TristanLDD (Slack chat).

[2020-07-28 08:46] #20355 closed, assigned to Progi1984

[2020-07-28 08:54] PierreRambaud commented on #20229
@pixelicous The CSP configuration in your example isn't complete, this is why you have many reports in your browser. :thinking:

[2020-07-28 08:57] SimonGrn commented on #20359
(FYI we're using [Playwright](https://github.com/microsoft/playwright) now, not Puppeteer :sweat_smile: )
We know it's something we need to check, we already have some pieces of the whole system in our linkchecker: it checks every requests and tracks the failed ones (404 and other), and also collect all the errors and warnings in the console natively.
We also use JS injection when we need to execu

[2020-07-28 09:06] khouloudbelguith commented on #20336
@J147julie, could you please Go to BO => Module manager => search from ps_facetesearch module, configure it.
Try to `Build attributes and features indexes`, `Clear cache`, check and feedback.
![image](https://user-images.githubusercontent.com/16067358/88643742-641bd580-d0c2-11ea-81db-6c0f2748b1ce.png)

Thanks!

[2020-07-28 09:23] matks commented on #20301
Looks like a simple and efficient solution 👍

[2020-07-28 09:38] khouloudbelguith commented on #20339
@adamus007p, I can confirm that this issue is not working in the PS1.6.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

But this issue is fixed in the PS1.7.6.7 / 1.7.7.x branch.
https://drive.google.com/file/d/1S1j

[2020-07-28 09:38] #20339 closed, assigned to nobody

[2020-07-28 09:42] khouloudbelguith commented on #20301
@matks, this PR: https://github.com/PrestaShop/PrestaShop/pull/20033 maybe fixes this issue, isn't it?

Thanks!

[2020-07-28 09:50] prestamodule commented on #20301
Don't `setCompileId` method will set a fixed compile_id into `Smarty` ? I'm not sure that it will be append to the calculated `compile_id` (must be tried, we don't know for this part).

I would recommend changing `setCompileDir` path and add the `shop_id`, for example.
However, it would need some changes regarding the cache clearing process.

[2020-07-28 09:56] LouiseBonnard commented on #9591
So! I did some research to have all the impacted back office pages listed here:

- Dashboard
- Orders > Orders
- Orders > Invoices
- Orders > Credit Slips
- Orders > Delivery Slips
- Orders > Shopping Carts
- Catalog > Products
- Catalog > Discounts
- Catalog > Stocks
- Customers > Customers
- Customers > Outstanding
- Customer Service > Customer Service
- Customer Service > Merchandise Returns
-

[2020-07-28 10:04] LouiseBonnard commented on #20341
As stated yesterday, here is the list of all the pages (migrated and not-migrated-yet-but-soon-to-be) impacted:

- Orders > Orders
- Orders > Invoices
- Orders > Credit Slips
- Orders > Delivery Slips
- Catalog > Products
- Catalog > Categories
- Catalog > Attributes & Features
- Catalog > Brands & Suppliers
- Catalog > Files
- Catalog > Discounts
- Customer Service > Customer Service
- Customer S

[2020-07-28 10:11] khouloudbelguith commented on #20146
Hi @Fredcor13,

This issue is fixed with this PR: https://github.com/PrestaShop/ps_facetedsearch/pull/125 as reported here: https://github.com/PrestaShop/PrestaShop/issues/15062
Cold you please check this fix [comment:](https://github.com/PrestaShop/PrestaShop/issues/15062#issuecomment-604990175), it could solve your issue.

Thanks to check and feedback.

[2020-07-28 10:14] LouiseBonnard commented on #20351
Hi there, I cannot reproduce this behavior when I test it with Machine Shuffle, did I miss something? 🤔

See screenshots below for more information:

![Capture d’écran 2020-07-28 à 12 10 23](https://user-images.githubusercontent.com/32565890/88652893-ac8bc100-d0cb-11ea-8098-624f8dbf625f.png)

![Capture d’écran 2020-07-28 à 12 10 56](https://user-images.githubusercontent.com/32565890/88652896-a

[2020-07-28 10:20] khouloudbelguith commented on #20351
Hi @LouiseBonnard,

Could you please check with this Address mail `test@testdomain.com.123`.
In your case there is a **`.`** before **`@`**, this is incorrect.

Thanks!

[2020-07-28 10:35] khouloudbelguith commented on #19711
Hi @jf-viguier,

I tried also with PrestaShop 1.7.7.0beta1 and it is ok in my case.
![image](https://user-images.githubusercontent.com/16067358/88655241-c7136980-d0ce-11ea-8314-fdcc90a7333e.png)

Thanks!

[2020-07-28 10:48] khouloudbelguith commented on #19810
Hi @Hlavtox,

Your issue seems to be similar to this [ticket](https://github.com/PrestaShop/PrestaShop/issues/15223#issuecomment-523980939), is it?

Thanks!

[2020-07-28 10:49] elboletaire commented on #20333
From my point of view, vendors should NEVER be in the repo. That's why you have a `composer.json` AND a `composer.lock` file. The lock file has the exact versions of the vendors to be installed. Why fill hard drives with stuff when it's not needed?

Well, this is another stuff to be debated. Only be the `public` folder should be accessible by the browser. And now you're using symfony, which embrac

[2020-07-28 10:51] ajejebrazorf01 commented on #20209
Hi, @sowbiba sorry for disturbing.
What do you think abotu this?

[2020-07-28 11:42] khouloudbelguith commented on #19608
Hi @demperador,

I did not manage to reproduce the issue with PS1.7.6.4.
I attached a screen record
[Order Settings • 1764.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4988041/Order.Settings.1764.webm.zip)

I used this script
[code]

Thanks to check and feedback.

[2020-07-28 11:45] khouloudbelguith commented on #19954
Hi @Hlavtox,

I did not manage to reproduce the issue with PS1.7.7.0beta1.
I attached a screen record
[PrestaShop instalační asistent.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4988059/PrestaShop.instalacni.asistent.webm.zip)

Thanks to check and feedback.

[2020-07-28 11:56] matks commented on #20333
Some people use git as a rsync alternative, I am not saying it's a good practice, just that it can be convenient for some people 😄  .

Oh, there is nothing to be debated: the use of `public` folder is the good way to go. But changing folders locations and usage are a huge BC break so such a change will not come before next PrestaShop major version. Until then we have to find a solution that suits

[2020-07-28 11:58] khouloudbelguith commented on #19953
Hi @Hlavtox,

After this IN, try to go to BO => Design => Images Settings => check the image's types are empty or not?

Thanks!

[2020-07-28 12:03] elboletaire commented on #20333
But then, this is planned, right? And I guess, in the end, these files won't be removed.

If it's really planned and we'll be able to properly work both as core prestashop developers and as shop developers, I guess I can wait.

If you can confirm this will be actually the way to work, this issue can be closed and/or tagged accordingly.

In case others stumble with this, at least they'll know both

[2020-07-28 13:13] go-sudo commented on #20308
@SimonGrn  i do not understand why you suggest that I pay to get help if you can't resolve the issue so you support team wil not do i think i will move to CS cart or Magento soon

[2020-07-28 13:40] SimonGrn commented on #20308
We do not provide free support on Github, this is not the place to get help. Please get in touch with our support or the forums/Slack channel.
Thank you for your understanding.

[2020-07-28 13:41] eternoendless commented on #20308
It's not a question of if we can or can't. Specialists's time cost money. if you're looking for free help on your own terms you're going to have a hard time finding it, regardless of the CMS you use.

[2020-07-28 13:52] LouiseBonnard commented on #20351
@khouloudbelguith, I've just tested with the suggested email and it works, you're right. But in the issue's example, the email address is `test.@testdomain.com.123`, not `test@testdomain.com.123`.

![Capture d’écran 2020-07-28 à 15 48 11](https://user-images.githubusercontent.com/32565890/88674620-50846500-d0ea-11ea-88f1-1d3dccf87cd1.png)

[2020-07-28 13:55] Progi1984 commented on #20323
Fixed  by #20303

[2020-07-28 13:55] #20323 closed, assigned to nobody

[2020-07-28 13:55] Progi1984 commented on #20170
Fixed  by #20303

[2020-07-28 13:55] #20170 closed, assigned to matks

[2020-07-28 14:01] khouloudbelguith commented on #20351
@LouiseBonnard, yes you are right!
![image](https://user-images.githubusercontent.com/16067358/88675424-38611580-d0eb-11ea-82a3-fc5a681526c3.png)
The address mail `test.@testdomain.com.123` not accepted => OK
The address mail `test@testdomain.com.123` accepted => NOK, I think this is the issue, @LouiseBonnard what do you think?
Ping @dannyqwertz waiting for your feedback.

[2020-07-28 14:05] SimonGrn commented on #20351
Please keep in mind that there is NO REAL way to validate an email. Anything with an `@` is valid.
So `test.domain.test.123` is "valid", as in "possible".
you can [read more here](https://medium.com/hackernoon/the-100-correct-way-to-validate-email-addresses-7c4818f24643) for example.

[2020-07-28 14:06] fest73 opened #20365 "Prevent deleting address being used in the cart"
#### Describe the bug

Bug when delete address when use in shopping cart

#### Expected behavior

You can delete the address you are using in the basket. What is wrong, after that the client will not be able to place an order

#### Steps to Reproduce

1. Create customer
2. Create address
3. Use in shopping cart
4. Delete address by link site.ru/address?id_address=ID&delete=1&token=TOKEN

#### Addi

[2020-07-28 14:09] LouiseBonnard commented on #20209
I agree with @ajejebrazorf01: **if the user unchecks the box 'Use this address for invoice too', the checkout process must stay at step two** to allow the user to choose his/her invoice address. Also, there is already an issue raising this problem, cf. #11595. So I close this one so that we can all focus on one same issue. :-)

[2020-07-28 14:09] #20209 closed, assigned to nobody

[2020-07-28 14:12] PierreRambaud commented on #20351
There is an RFC about email format (https://tools.ietf.org/html/rfc8398).

The only "good" way to validate the email, is to send an email with a confirmation token, otherwise, whatever you write, it doesn't mean this email address can be reached.

[2020-07-28 14:14] matks commented on #20333
Well if you can wait 1 or 2 years it's good news 😄  a lot of people refuse to wait so long. But indeed it's planned and I dont see why we could change our mind on a plan that, in theory, brings only benefits, no issues.

Nobody can tell the future so I will not promise it will 100% happen but this is what we are aiming for

[2020-07-28 14:16] elboletaire commented on #20333
Then I keep it up to you what to do with this issue. Maybe the best solution would be to properly tag it and assign it to a milestone, at least to not loose track of it.

[2020-07-28 14:18] J147julie commented on #20336
Hi,

Thanks for the reply.  I have done the below and still no difference.

Kind Regards

Julie

Sent from Windows Mail

From: khouloudbelguith
Sent: ‎Tuesday‎, ‎28‎ ‎July‎ ‎2020 ‎10‎:‎06
To: PrestaShop/PrestaShop
Cc: J147julie, Mention

@J147julie, could you please Go to BO => Module manager => search from ps_facetesearch module, configure it.
Try to Build attributes and features indexes, Clear c

[2020-07-28 14:25] khouloudbelguith commented on #20350
HI @C-Ranalletta,

On this GitHub repository there is no software support. This is an open-source project.
You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

I will close the issue.

Thanks for your understanding!

[2020-07-28 14:25] #20350 closed, assigned to nobody

[2020-07-28 14:33] khouloudbelguith commented on #20365
Hi @dariusakafest,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
[Untitled_ Jul 28, 2020 4_32 PM.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4988948/Untitled_.Jul.28.2020.4_32.PM.webm.zip)
Thanks to check and feedback.

[2020-07-28 14:37] #17653 closed, assigned to Progi1984

[2020-07-28 14:42] khouloudbelguith commented on #20336
@J147julie, I did not manage to reproduce the issue with PS1.7.6.4 and the ps_facetedsearch v3.5.0
[Clothes.webm.zip](https://github.com/PrestaShop/PrestaShop/files/4989007/Clothes.webm.zip)

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization pro

[2020-07-28 14:42] #20336 closed, assigned to nobody

[2020-07-28 15:03] dariusakafest commented on #20365
@khouloudbelguith  You forgot to transfer the token

[2020-07-28 15:13] #14954 closed, assigned to Progi1984

[2020-07-28 15:14] khouloudbelguith commented on #20365
@dariusakafest, thanks for these clarifications.
Yes, the address is well deleted (issue reproduced with PS1.7.6.7 and PS1.7.7.0beta1)
Ping @PierreRambaud @PrestaShop/prestashop-core-developers what do you think of this issue?

Thanks!

[2020-07-28 15:25] Pisanez commented on #10884
Worked for me on Prestashop 1.6.1.24 you saved my work.

I was searching for a way to set the search bar in "AND" and not "OR", and it worked. i've got 15.000+ articles and writing blue+pen was giving me more than 500 results, now it works properly! THANK YOU

[2020-07-28 15:55] #20353 closed, assigned to nobody

[2020-07-28 16:01] LouiseBonnard commented on #20351
Nice, thanks a lot for the feedback! If I understand well, there is no good quick solution? We could not add an extra validation parameter to check this field?

If no, **a possible solution would be to send the new address an email with a confirmation link** each time a user updates the email field: 1/ if the user confirms, the email address is updated in the personal account, 2/ if the user does

[2020-07-28 16:17] adamus007p commented on #20339
So maybe updates from 1.6 are affected.
Which tool do you use to record screen?

[2020-07-28 16:23] jolelievre commented on #20351
I think the main issue here is not **how** we validate the email, but that we don't validate it the same way everywhere We must be consistent in our validation rules so that they are always the same
I believe @atomiix has worked on this validation rules recently (regarding the special cyrilic characters in email addresses)

[2020-07-28 20:24] 8ternity commented on #16004
@LouiseBonnard Did you reproduce the problem?

[2020-07-28 22:39] studio1one opened #20369 "Different settings depending on the language I have on BO"
I have uploaded V. 1.7.6.7 with English language, I then added Swedish language as this will be the main language at the store. I uploaded products, contents, and added a theme from LeoTheme.
Then I notice that some translations was missing, I made a lot of research and then change my BO language in to English, then I saw that several translations that was  not visible in swedish, but now suddenly

[2020-07-28 22:54] PERCE-NEIGE commented on #14252
I have the same message, but I activated the debug mode, is there a link between them? Is it normal if debug activated?

[2020-07-29 01:03] pixelicous commented on #20229
@PierreRambaud Alright, waiting for a standard config :)

[2020-07-29 07:11] icemansparks opened #26104 "v4.0.0 missing option to switch from net prices to gross prices"
Currently the submitted value to google analytics always contains the net price value for a product.
Is there any possibility for a switch so that always the product gross price is submitted instead?

[2020-07-29 07:24] rss9090 commented on #11105
This "clear cache issue" is easily reproduced even on a prestashop.com backoffice demo website. When it will be fixed? I won't upgrade from 1.7.3 until then.

[2020-07-29 07:38] SimonGrn commented on #20369
Dear @studio1one ,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will b

[2020-07-29 07:38] #20369 closed, assigned to nobody

[2020-07-29 07:42] khouloudbelguith commented on #20369
Hi @studio1one,

Thanks for your report.

The translation of your theme is missing, You can follow this [ticket](https://github.com/PrestaShop/PrestaShop/issues/9818), it is added to our bug roadmap.
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9818
So, I close it.
Thanks!

[2020-07-29 07:42] khouloudbelguith commented on #20369
Duplicate of #9818

[2020-07-29 07:50] khouloudbelguith commented on #20345
Hi @Out24-ad,

On this github repository there is no software support. This is an open-source project.
Our team created a few templates to help you provide the information that’s typically needed to reproduce an issue.
Thanks to follow the exact template when creating an issue.

You can find help

1. on PrestaShop forums https://www.prestashop.com/forums/
2. or by purchasing software support plan

[2020-07-29 07:50] #20345 closed, assigned to nobody

[2020-07-29 07:56] boubkerbribri commented on #20359
First step for listeners is done with #20368 : Adding listeners on existing campaigns.
Next step will be : Listen and verify specific event js and for that should be done in a new campaign.

[2020-07-29 08:03] SimonGrn commented on #20355
See [here](https://github.com/PrestaShop/PrestaShop/issues/15228#issue-484389768).

[2020-07-29 08:07] atomiix commented on #20351
I'm pretty sure we're consistent everywhere now. This issue seems to have been created for PrestaShop 1.7.5.2, and as @LouiseBonnard & @khouloudbelguith saw, the address `test.@testdomain.com.123` which was accepted in 1.7.5.2 is not accepted anymore in 1.7.6.x.
I'm gonna close this issue, feel free to reopen it if i'm missing something.

[2020-07-29 08:07] #20351 closed, assigned to nobody

[2020-07-29 08:11] digitalhuman opened #20371 "Virtual Product > 500mb slow download speed and download fails"
#### Describe the bug

We serve virtual product of > 500mb. There are 2 things happening. The download is extremely slow (45kb/sec) which in regular download cases exceeds 100mb/sec. The second problem is that the download fails often because the PHP engine times out. Apparently the download is served with PHP in Prestashop instead of by the webserver.

#### Expected behavior

Download speed shoul

[2020-07-29 08:16] studio1one commented on #20369
I also notice another issue.
As I wrote I have English and Swedish installed, english is deactivated.
I set my BO language to Swedish, go to a product and see that the language selector part is not there and only Swedish are set...... but when I change BO language to English and go to product page I see english language.
And as I also wrote about that in 1.7.6.7 it's not possible to prepare a lang

[2020-07-29 08:22] boubkerbribri opened #20372 "[BO LinkWidget Page] - Error displayed in page"
#### Describe the bug
An error is displayed after opening page link widget
#### Expected behavior

Page correctly displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'BO > design > linkwidget'
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/48441421/88775481-0bf9d780-d185-11ea-8048-87683e576b2c.png)

#### Additional information

* PrestaS

[2020-07-29 08:28] Hlavtox commented on #20218
@khouloudbelguith Hi, tried just now and the issue is **not fixed** with this PR.

[2020-07-29 08:38] Hlavtox opened #20373 "2x thumbnail is not generated when changing/adding category image from BO"
Steps to reproduce the behavior:

1. Enable High-DPI images in Images settings.
2. Make a new category and add an image to it.
3. Go to img/c/ and find the category ID.
4. Only regular images are generated, no 2x formats.

**Thumbnails are generated ONLY IF you go to Image settings, select regenerate categories, and you select DELETE PREVIOUS IMAGES.**

#### Additional information

* PrestaShop ve

[2020-07-29 08:44] khouloudbelguith commented on #20369
@studio1one,

I set my BO language to Swedish, go to a product and see that the language selector part is not there and only Swedish are set...... but when I change BO language to English and go to product page I see english language.

Please follow this issue: https://github.com/PrestaShop/PrestaShop/issues/16626

Issue reported here: https://github.com/PrestaShop/PrestaShop/issues/19777

Thanks!

[2020-07-29 08:47] khouloudbelguith commented on #20218
Hi @Hlavtox,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #19798
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/19965 to fix the issue.
So, I close it.
Thanks !

[2020-07-29 08:47] #20218 closed, assigned to nobody

[2020-07-29 08:47] khouloudbelguith commented on #20218
Duplicate of #19798

[2020-07-29 08:51] khouloudbelguith commented on #20373
Hi @Hlavtox,

You just create an issue similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/20218 which is duplicate of #19798, is it?

Thanks!

[2020-07-29 08:56] khouloudbelguith commented on #20339
@adamus007p, it is screencastify.

Thanks!

[2020-07-29 09:08] Stev71287 opened #20374 "Product Characteristics"
I am having an issue with prestashop products add.

When i add a product and add a characteristics, when i save the characteristics is added without problem.

Whenever i save the product, the characteristics is added again and again.

Where can the issue be coming from?

[2020-07-29 09:23] SimonGrn commented on #20374
Dear @Stev71287 ,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2020-07-29 09:23] #20374 closed, assigned to nobody

[2020-07-29 09:28] Stev71287 opened #20376 "New Product"
I am having an issue with prestashop products add.

When i add a product and add a characteristics, when i save the characteristics is added without problem.

Whenever i save the product, the characteristics is added again and again.

Where can the issue be coming from?

[2020-07-29 09:33] khouloudbelguith commented on #20371
Hi @digitalhuman,

Thanks for your report.
Ping @PierreRambaud what do you think? it is a performance issue.

Thanks!

[2020-07-29 09:34] SimonGrn commented on #20359
Playwright has some native ways to wait for the page to be "ready", like waiting for the "domloaded" event, or waiting for all connections to be closed. I'm almost 100% certain we can plug some sort of check for the "document.ready" event if it's not natively handled.
As for executing arbitrary JS code in the page, that shouldn't be a problem.

This is the perfect example as to why this sort of ch

[2020-07-29 09:40] khouloudbelguith commented on #20376
Hi @Stev71287,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the **template** to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-07-29 09:40] #20376 closed, assigned to nobody

[2020-07-29 09:45] khouloudbelguith commented on #20091
Hi @drqp1983,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-07-29 09:45] #20091 closed, assigned to nobody

[2020-07-29 09:45] digitalhuman commented on #20371
@khouloudbelguith @PierreRambaud Please keep in mind that we have > 1000 concurrent users on our platform. Our next product release could even mean > 10000 concurrent users + downloads. We can't release the product this way unless we have a solution for the mentioned issues. We are now forced to use a CDN with the risk of piracy of our virtual product.

[2020-07-29 09:46] khouloudbelguith commented on #20029
Hi @Max84,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-07-29 09:46] #20029 closed, assigned to nobody

[2020-07-29 09:48] khouloudbelguith commented on #20029
Hi @Max84,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/18859 to fix the issue.
Your ticket is a duplicate of #18789
So, I close it.
Thanks !

[2020-07-29 09:48] khouloudbelguith commented on #20029
Duplicate of #18789

[2020-07-29 09:54] Mattoia90 opened #20377 "Remove string /** to start DocBook commentblock on installation of new module in a overrides of WebserviceRequest.php"
**Description of the bug**
When I install my custom module that contains an overrides of webservicerequest.php, this file is copy in prestahop/overrides/classes/webservice and modify with prestahop comments, but the initial /** of my Docbook commentblock was removed.

**Steps to Reproduce**

1)Install the new module with an override class webservicerequest.php that contains **/**** (Install dummym

[2020-07-29 10:10] arirangz commented on #16130
Hello,

I still have the issue with laster Prestashop and search Module. I had to disable the module to get the right order.

Is there any progress on this issue?

Thanks

[2020-07-29 10:40] khouloudbelguith commented on #20377
Hi @Mattoia90,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.7 and PS1.7.7.0beta1.
I used this custom module
[dummymodule1.zip](https://github.com/PrestaShop/PrestaShop/files/4994297/dummymodule1.zip)

Thanks to check and feedback.

[2020-07-29 11:07] ajejebrazorf01 commented on #11595
Same problem in last version (1.7.6.7)
More details here:
https://github.com/PrestaShop/PrestaShop/issues/20209

https://www.youtube.com/watch?v=uiWekKdOn_w

there are plans to solve this problem?

[2020-07-29 12:16] ballashop opened #20380 "Dni (Identification Number) Enabled But Not Mandatory in the first part of registration (with B2B Enable)"
Dear PretaShop staff,
about a registration page, the dni (in Italian country Codice Fiscale) is not required by default option in the first part of registration, so I'd like to make this field Mandatory in both part.
For clarity, I have enabled the B2B option for business reasons.

**1 - Enable B2B option**
go to Shop parameters --> Customers settings --> Enable B2B mode to **yes**

<img width="10

[2020-07-29 12:40] matks commented on #20372
Fixed by https://github.com/PrestaShop/ps_linklist/pull/102

To be fully fixed on develop we need to release a patch version of ps_linklist and integrate it into Core

[2020-07-29 12:58] Mattoia90 commented on #20377
With your dummymodule1.zip I don't have the issue, but if I install -> enable -> disable ->eneble
I have different results:
1) the file remains with class declaration and only the custom commentblock, when I enable another time the module the class is different that the installation.
2) the file was deleted and recreated after installations.

I have one fatal error during this tests but when I cle

[2020-07-29 13:07] khouloudbelguith commented on #20377
@Mattoia90, thanks!
Waiting for your feedback.
In the meantime, you can check this issue: https://github.com/PrestaShop/PrestaShop/issues/18592, I think, it is related to your issue.

Thanks!

[2020-07-29 13:14] Mattoia90 commented on #20377
During the test install/uninstall I've this error too on uninstall:
"Error!
Impossibile uninstall il modulo dummymodule1. Sfortunatamente il modulo non ha restituito ulteriori dettagli."
"impossible to uninstall the module dummymodule1. unfortunately the modules don't return any others details"
Thanks

[2020-07-29 13:21] khouloudbelguith commented on #20380
Hi @ballashop,

Thanks for your report.

is there a specific reason?

In fact, there is a difference between the `Customer` creation section and the `Address` section.
In the second and the third step, you just added the `dni` to the Address format and you set it required in the `Address section` and not for the `Customer section`.

![image](https://user-images.githubusercontent.com/16067358/88805

[2020-07-29 13:24] khouloudbelguith commented on #20377
@Mattoia90, So the issue is not reproduced with `dummymodule1`?

Thanks!

[2020-07-29 13:25] Mattoia90 commented on #20377
No the issue is not reproduced with dummymodule1.
Thanks

[2020-07-29 13:36] khouloudbelguith commented on #20377
@Mattoia90,
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2020-07-29 13:39] marionf opened #20382 "Multistore - Display the multistore compatibility of modules"
As a user I want to know the compatibility of modules with the multistore feature, so I can know which module works or not

#### Describe the solution you'd like

A "learn more" link is displayed for each module in Module catalog and in Module manager, as you can see below:

![capture d'écran_2747](https://user-images.githubusercontent.com/13449658/88803759-3fe8f300-d1ad-11ea-8f44-3590d6a6a636.png

[2020-07-29 13:58] #13442 closed, assigned to Progi1984

[2020-07-29 14:27] #15303 closed, assigned to Progi1984

[2020-07-29 14:27] #17661 closed, assigned to Progi1984

[2020-07-29 14:31] valentin-anamorphik opened #20385 "Module ps_featuredproducts - display products from categories children"
#### Describe the bug

Does not display products from children categories
Example :
- 1654 (category has no products)
- 1655 (the category is a child of 1654) (category has products)

#### Expected behavior

Display products from categories children

Steps to reproduce the issue:
1. Create two categories Cat1 and child category Child_Cat1
2. Create some products with associated categories `Child_C

[2020-07-29 14:56] khouloudbelguith commented on #20385
Hi @valentin-anamorphik,

First, the ps_facetedsearch module in your case is not updated.
[The last version 3.5.0.](https://github.com/PrestaShop/ps_facetedsearch/releases/)

Second, If you go to BO => Modules => Module Manager => Serch from the ps_facetedsearch module and configure it, you have an option "Show products from subcategories", you need to enable it.
![image](https://user-images.githu

[2020-07-29 15:02] valentin-anamorphik commented on #20385
Hi @khouloudbelguith ,

Thanks, but ps_facetedsearch is disabled. We don't need it.

[2020-07-29 15:08] ballashop commented on #20380
Hi @khouloudbelguith
thanks for repliyng me, it could be a nonsense though.
Let me explain better, if I want the DNI field is mandatory, I would like in all parts of the form like this.
Don't you think it's more intuitive?
Even better if the DNI field appears only once.
I have disabled the ability to buy as a guest but only registration mode for business reasons.
how can I remove the DNI field fro

[2020-07-29 15:19] matks commented on #17729
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20137

[2020-07-29 15:19] #17729 closed, assigned to matthieu-rolland, MatShir

[2020-07-29 15:28] khouloudbelguith commented on #20380
@ballashop,

On this github repository there is no software support. This is an open source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Thanks!

[2020-07-29 15:28] #20380 closed, assigned to nobody

[2020-07-29 15:29] khouloudbelguith commented on #20385
@valentin-anamorphik, BUt this option is implemented into the ps_facetedsearch module.
Thanks!

[2020-07-29 15:29] ballashop commented on #20380
Ok, thanks for your support.
Balla

[2020-07-29 15:30] valentin-anamorphik commented on #20385
Why this option is implemented into the ps_facetedsearch module ?

I want to use ps_featuredproducts module...

[2020-07-29 15:37] hr194 commented on #16703
Hi,

can you please help me

Test Pro (ID: No ID) cannot be saved

Property Product->name is empty

these errors are annoying me

[2020-07-29 15:39] khouloudbelguith commented on #20385
@valentin-anamorphik, as you can see in my screenshot
![image](https://user-images.githubusercontent.com/16067358/88821010-5d748780-d1c2-11ea-807e-2e1648b3e946.png)

The option "Show products from subcategories" should be enabled.

Thanks!

[2020-07-29 15:51] Hlavtox opened #20388 "Re-visiting order confirmation page is not working"
#### Description
Steps to reproduce the behavior:

1. Make an order as a guest.
2. Refresh page.
3. You get redirected to login.

#### Expected behavior

I should be able to see the order confirmation when reloading the page.

#### Cause

In OrderConfirmationController, on line 65, there is a condition:

[code]

If ID of order's customer is not the same as the ID of customer in context, redirect t

[2020-07-29 15:52] matks commented on #20094
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20198

[2020-07-29 15:52] #20094 closed, assigned to PierreRambaud

[2020-07-29 15:53] Hlavtox commented on #20373
@khouloudbelguith The other case was when the image was missing, this is a behavior when making an order.

I will check both cases with the PR you mentioned and let you know.

[2020-07-29 15:54] khouloudbelguith commented on #20373
@Hlavtox, thanks!
Waiting for your feedback.

[2020-07-29 15:59] khouloudbelguith commented on #20388
Hi @Hlavtox,

Thanks for your report.
I have the same behavior as PS1.7.6.4.
https://drive.google.com/file/d/1Kx8XsD39oLmyWPMKjALZz3gSJbDciVXC/view?usp=sharing

Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-07-29 16:01] matks commented on #20388
@Hlavtox I did not look at the code, but
[code]
seems the real issue

[2020-07-29 16:20] matks commented on #20371
I dont think there exists a relevant (or at least something that does need weeks of complex engineering) solution using PHP and that can handle `> 10000 concurrent users + downloads` other than an expensive infrastructure.

(by the way congratulations for the success of your products!)

The CDN seems actually like a good solution although indeed the right security must be set configured.
CDN _are_

[2020-07-29 16:40] Hlavtox commented on #20388
@matks I guess that's the correct behaviour? Do we delete the condition?

[2020-07-29 18:02] ballashop commented on #20321
Ho @matks
the many posts about this topic means that many users find this important and perhaps unclear, or incomplete, aspect in PrestaShop.
For example, it is strange that the dni field is only optional in the Personal Information section, while in address information it is possible to make it optional, mandatory and also hidden.
It would be fantastic to allow the merchant to have complete contr

[2020-07-29 20:27] strangegitter commented on #19119
This error can be reproduced by saving a product in a system that has 2 shops and the product is only on one of the shops.  In Prestashop Version 1.7.6.7 / ps_facetedsearch Version 3.5.0 on line 441 of ps_facetedsearch $price = Product::priceCalculation(.........  brings back nothing because you cannot calculate a price on a product that does not exist in that store.

[2020-07-29 20:56] matks commented on #14173
This looks like a GitHub issue. You might want to report it. Lately they have shipped a lot of features and improvements, it seems they can fix things fast.

[2020-07-30 00:39] arafatx commented on #20283
@khouloudbelguith Thank you so much. So it's a hidden feature ^_^

[2020-07-30 05:07] digitalhuman commented on #20371
hi @matks the problem is that the installer could be shared and the current does not have a serial key validation logic build in. Anyone with the correct URL can download the file. I think it would be good for Prestashop to look further into this and see if there can be a fix. I have some options in mind that I maybe, after evaluation will suggest of course.
However I wanted to see if the communit

[2020-07-30 05:13] digitalhuman commented on #20371
Hi @matks

Well why read the file at all?  Why not force a redirect to do a download to a random 'download' file. You could even on the fly change the filename every once in a file. Yes I know disk I/O but still. Even without renaming, if you have a random SHA filename it would already hard to figure out.

[2020-07-30 05:21] digitalhuman commented on #20371
@matks I do believe that readfile has much better performance. Or we could also implement resumeable downloads by using the Content-Range header.  I will do some testing and research, I will let you know.

[2020-07-30 06:44] valentin-anamorphik commented on #20385
@khouloudbelguith

I understand.

But this option (PS_LAYERED_FULL_TREE) is implemented into the **ps_facetedsearch** module while the problem is on the module **ps_featuredproducts**.

I deleted **ps_facetedsearch** module on PrestaShop.
I use **pm_advancedsearch4** module.

Thanks.

[2020-07-30 07:00] jungwirbtgut commented on #20346
I have same issue, I use another theme and its not working with the older version. Very annoying -.-
You can check here: https://bit.ly/33eDtbb

Any other idea how to fix?

[2020-07-30 07:42] matks commented on #20371
If I am not wrong, in order to be sure that user cannot bypass validations (to avoid him giving the link to someone else or downloading it more times than accepted) you need to:
1. perform PHP logic to validate download (user logged in, order is paid, download quota is not reached ...)
2. create the single-user file-to-be-downloaded with unique SHA filename
3. wait for user to download file*
4. wh

[2020-07-30 07:45] matks commented on #20371
This seems to be a lot more simple to implement and actually quite promising 😄

I also believe it is possible to stream files through PHP 🤔  however I did some research, I did not find a standard solution. I see multiple solutions, many of them explained on stackoverflow, but no "this is THE way to stream php files". But I'm quite sure [PHP Streams](https://www.php.net/manual/en/book.stream.php) h

[2020-07-30 07:53] digitalhuman commented on #20371
@matks yeah I think the last suggestion is quite promising. I found this one: https://www.media-division.com/php-download-script-with-resume-option/.  I have done exactly this before while building a YouTube proxy service.
I don't know how this will work under heavy load though. I think we should just stresstest a POC to proof this.  The Streams class look indeed what i used before there were OOP

[2020-07-30 08:29] DelecroixQuentin opened #20390 "Integrity constraint violation on admin customers list when joins address table"
#### Describe the bug

When a module joins the `ps_address` table to the customer list retrieval request, when you try to search for a customer by his first or last name, you get the error below because the `lastname`, `firstname` and `company` fields are common to both the `ps_customer` and `ps_address` tables

`email` can also cause an error if a table with an `email` field is join to the `ps_cu

[2020-07-30 08:33] normannasty commented on #20079
Dear guys,
I'm updated to 1767 and  I cannot login to BO. In the database there is the 2 above mentioned table.
Anyone has idea what should be wrong?

[2020-07-30 08:41] matks commented on #20079
1. did you use auto-upgrade module or something else ?
2. do you have any error in PHP logs that might indicate the issue ?
3. did you try with another browser / in incognito mode ?

[2020-07-30 08:41] normannasty opened #20391 "Login to BO in 1.7.6.7 does not work"
Hi All,

After upgrade to 1767 I cant login to BO.
I tried those things which was in the Login to BO in 1.7.6.7 does not work #20079 ticket but they didnt helped.
Has someone idea why I cannot login to bo.

BrN

#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduc

[2020-07-30 08:44] normannasty commented on #20079
I used 1 click upgrade and everything was green.
There was no error everything was green.
Yes I tried safari and chrome all of thenm in incognito also.

[2020-07-30 08:52] matks commented on #20079
I mean your PHP logs now 😄  when you try to log-in we can suppose there is something that fails and it will appear inside your logs

We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get

[2020-07-30 08:58] normannasty commented on #20079
Its a hungarian host I think you not know them. prestashop version was 1.7.5.2.
Right now I can to anything with the site because its in maintenance mode. I cant login to admin. I enable the debug via ftp makes nothing no message.
Please tell me what exactly need and I can make it to you.

BRN

[2020-07-30 09:03] florine2623 commented on #20390
Hi @DelecroixQuentin ,
Thanks for the report, I did manage to reproduce the issue.
Please stay tuned as our dev team will review your PR.

[2020-07-30 09:06] florine2623 commented on #20391
Hi @normannasty ,

Your issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/20079.
A conversation is already happening over there.
I'll close this issue.

[2020-07-30 09:07] florine2623 commented on #20391
Duplicate of #20079

[2020-07-30 09:07] #20391 closed, assigned to nobody

[2020-07-30 09:18] michel03422 opened #20392 "bug"
Bonjour
je viens d'installer la version  1.7.6.7 et j'ai plein de bug dans le back office

Cordialement
Michel Bouriez

[2020-07-30 09:23] florine2623 commented on #20392
Hello @michel03422

Please, send your request in English.
English is the norm on GitHub

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for

[2020-07-30 09:23] #20392 closed, assigned to nobody

[2020-07-30 09:41] matthieu-rolland opened #20393 "Wrong Tax Detail in PDF invoice when there are multiple invoices"
### Describe the bug

When an order has more than one Invoice, the invoice's "tax detail" is wrong: it takes all the order's products into account.

### Expected behavior
The invoice's "tax detail" should only take into account the products related to this invoice, not all the products in the order.

### Steps to Reproduce

1 - In FO, add a product to a cart and complete the order.
2 - In BO, go t

[2020-07-30 10:51] Hlavtox commented on #20218
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/19965

[2020-07-30 10:51] Hlavtox commented on #20373
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/19965

[2020-07-30 11:54] OSR-Patrick opened #20395 "Module Translation Problem / Error 500 / PS version 1.7.6.7"
#### Describe the bug

- The module translations can not be edited (all modules are affected).
- If the button "Modify" is pressed without debug mode =>Error: 500 Internal Server Error
- If the button "Modify" is pressed in debug mode => Error: Call to a member function isUsingNewTranslationSystem() on null

#### Expected behavior

The form with the different translations for the corresponding mod

[2020-07-30 12:12] florine2623 commented on #20395
Hi @OSR-Patrick ,
Thanks for the thorough explanation.
Is your shop a fresh installation ? Or an upgrade from a previous version ? If yes, which one ?

I can't reproduce your issue on my end, using  PS 1.7.6.7 and PHP 7.2 :
![Capture d’écran 2020-07-30 à 14 10 22](https://user-images.githubusercontent.com/16019289/88921298-966a3600-d26e-11ea-8b05-fc36d0d9408d.png)

Also, PrestaShop 1.7.6.7 is no

[2020-07-30 12:35] OSR-Patrick commented on #20395
Hi florine2623

Thanks for your answer!

Yes I upgraded the Prestashop installation from version 1.7.6.2 to be sure to test also with the newest Prestashop version.
We have that problem with different shops (different customers) and also with Prestashop version 1.7.6.1.
If I would know where the option list of modules is generated (function name / filename), I maybe could fix it.

Thanks and have

[2020-07-30 12:47] SD1982 opened #20396 "BO - Discount -- Free shipping error if cart amount is 0"
#### Describe the bug

If in an order some discount are applied and the amount is equal to 0 it is impossible to add a free shipping discount

#### Expected behavior

We should be able to add a free shipping discount even if the amount of the order is equal to 0

#### Steps to Reproduce

Steps to reproduce the behavior:

PS : It is better to reproduce with real product not the demo one

1. In BO c

[2020-07-30 13:05] SD1982 opened #20397 "BO - Order - Discount are set to 0 if another cart rules is applied (in specifics conditions only)"
#### Describe the bug

In specific conditions previously applied carts rules are set to 0 if a new product ( with associated cart rule ) is added to the order.
It is set to 0 because the order that the cart rules are applied have changed.

#### Expected behavior

The order is defined first by the cart rule priority and by adding's order depending.

### Steps to reproduce the behavior:

PS : It is

[2020-07-30 13:45] florine2623 commented on #20395
I just upgraded a PS 1.7.6.2 shop to a 1.7.6.7 shop using one-click upgrade, and the translations are available.

Is your module link list updated ? V.3.2.0

Does this happen to all modules ?

[2020-07-30 14:12] OSR-Patrick commented on #20395
The problem is with all modules (Prestashop modules and external ones), but I updated the "Link List" module now from 3.0.3 to version 3.2.0 and it's still not working.

I'm 99% sure that the problem is the dropdown list with the module names (where you can choose which module to translate) because the values should be the names of the corresponding modules but instead there are only numbers. Then

[2020-07-30 14:15] OSR-Patrick commented on #20395
We have a test system (clone of a client shop) with this problem and you could have access if this would be helpful.

[2020-07-30 14:21] florine2623 commented on #20395
Yes indeed you are right.
On my test shop the name of the module in displayed instead of an id number :
![Capture d’écran 2020-07-30 à 16 21 19](https://user-images.githubusercontent.com/16019289/88934268-b86cb400-d280-11ea-817e-f396a12902b2.png)

I suggest you to revert back to the previous version and proceed to the migration again.

[2020-07-30 14:43] OSR-Patrick commented on #20395
I found the solution of the problem here:

https://www.prestashop.com/forums/topic/1009104-solucionado-problema-al-intentar-traducir-m%C3%B3dulos/

The module "reCaptcha" version 1.2.4 was causing the problem. I disabled all external modules with the switch "Disable non PrestaShop modules" in Prestashop but this did not help. Only renaming the module folder was successful.

The "problem-module" is

[2020-07-30 14:43] #20395 closed, assigned to nobody

[2020-07-30 14:49] davidglezz commented on #20371
Years ago I modified my AttachmentController (Prestashop 1.6.1.1) to allow continue failed downloads. It is not well tested and did not go into production because it did not have time, but it can give an idea of how it works. **The key is range headers** like Content-Range

[code]

[2020-07-30 15:10] #20217 closed, assigned to jolelievre

[2020-07-30 15:42] digitalhuman commented on #20371
ooh interesting

[2020-07-30 16:06] LouiseBonnard commented on #20286
@Progi1984, @matthieu-rolland, this issue is in the 1.7.8 kanban while milestoned for the 1.7.7... should I milestone it for the 1.7.8 instead? :-)

[2020-07-30 16:35] matks commented on #20254
I have built a reproductible how-to for QA here https://github.com/PrestaShop/blockreassurance/pull/55#issuecomment-666510451 so PR can be tested

[2020-07-30 21:31] pro8181 opened #20399 "The server returned a "500 Internal Server Error". In installing Modules"
Hi,

When I go to "Ulepszenia" - "Moduły" - "Wybrane" I see below message. I can't edit installing modules on my site tomishop.pl

Also I can't go into "Ulepszenia" - "Wygląd" - "Pozycje" - No page found. I can't change positions of installing modules on my site.

Could you help me?

#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what yo

[2020-07-31 06:09] DrDetail123 opened #20400 "Tax Setting Presta 1.7.6.7"
There is an error in the tax settings at Prestashop 1.7.6.7
It is not possible to save the tax setting. It is always tried to create a new tax rule
![2](https://user-images.githubusercontent.com/69029775/89005589-21960b00-d305-11ea-8e1e-652c3d2f61da.png)
![1](https://user-images.githubusercontent.com/69029775/89005593-22c73800-d305-11ea-8c00-ac8a9b99404a.png)

[2020-07-31 07:18] florine2623 commented on #20399
Hi @pro8181 ,
Please follow the bug report template, with thorough details of the error.
Once that's done, we will be able to help you.
For now, I close your issue.
Thanks!

[2020-07-31 07:18] #20399 closed, assigned to nobody

[2020-07-31 08:13] florine2623 commented on #20400
Hi @DrDetail123 ,
I can't reproduce your issue on PS 1.7.6.7.
Please check my screen record :
https://drive.google.com/file/d/1fhNdc1bntAUHgMnxut5ZtfZR2Lka-Z-V/view

Please state what the steps to reproduce are.
If it is a migration, which version did you start from ?

[2020-07-31 08:39] NeOMakinG commented on #11595
@marionf should this be inside a specific kanban ? I think 1.7.8, otherwise I think this will sleep for a while as backend devs are focusing on release features :/

[2020-07-31 09:25] qualityangel commented on #18344
I have the same here, but don't know how to integrate the composer config solution given by @presteus

[2020-07-31 09:29] NeOMakinG commented on #11595
@ajejebrazorf01 your response is there, you'll get it inside the 1.7.8 release :)

[2020-07-31 09:33] matks commented on #18344
@qualityangel you can read about it here http://allan-simon.github.io/blog/posts/solve-composer-github-api-limitation/

[2020-07-31 09:54] qualityangel commented on #18344
Your the best! thanks!

[2020-07-31 09:56] gennaris commented on #10003
@roadster31 looks like I am stealing your gold medal here 🥇 :-)

![2020-07-31_11-48-53](https://user-images.githubusercontent.com/43071148/89023475-eb1bb880-d323-11ea-9693-194f1c38122e.png)

This website have 119k cart rules, most of them are disabled and 1.7 billion entries in **ps_cart_rule_combination**

While checking AdminCartRuleController.php it looks like **ps_cart_rule_combination** is ge

[2020-07-31 11:07] qualityangel opened #20402 "No css style backoffice prestashop 1.78 dev branche"
I have installed prestashop 1.7.8 dev
butt when i login to the admin panel, there is no style on the page, there is no css loaded.

How is this possible?

Thanks,
Tim

[2020-07-31 11:15] ajejebrazorf01 commented on #11595
@NeOMakinG have you a suggest for a workaround?
 Please move to "To do" ;)

[2020-07-31 11:33] Ironzy opened #20404 "1.7.6.7 SELECT INPUT HTML ERROR ON ADMIN SITE"
**<selectid=**"currency_iso_code" name="currency[iso_code]" class="custom-select"><option value="XUA">ADB Unit of Account (XUA)</option><option value="AFN">Afghan Afghani (AFN)</option><option value="ALL">Albanian Lek (ALL)</option><option value="DZD">Algerian Dinar (DZD)</option><option value="AOA">Angolan Kwanza (AOA)</option><option value="ARS">Argentine Peso (ARS)</option><option value="AMD">A

[2020-07-31 11:41] M-t-t-h opened #20405 "Debug mode enabled - product name in pack when stock low"
in first, excuse my english, not my motherlanguare.
Second, it's my first bug report, hope doing it well.

#### Describe the bug
A php error is raising (red warning, no crash) at controllers/admin/AdminOrdersController.php (+/- line 1861) :
`$this->displayWarning($this->trans('This product, included in package (' . $product['product_name'] . ') is out of stock: ', array(), 'Admin.Orderscustomers.N

[2020-07-31 11:52] JBWModules commented on #20404
Are you using PHP > 7.2.? Please note that Prestashop is not compatible to later versions

[2020-07-31 11:59] florine2623 commented on #20405
Hi @M-t-t-h ,
I can't reproduce your issue in PS 1.7.6.7.
1. Add one pack of 2 products in cart (1 product has 0 stock)
2. Place the order
3. BO > Orders > Details : No error

In Shop Parameters > Product Settings > Default pack stock management :
![Capture d’écran 2020-07-31 à 13 58 09](https://user-images.githubusercontent.com/16019289/89032949-042d6500-d336-11ea-8eb0-b6ccc387a1e4.png)

Can yo

[2020-07-31 12:01] florine2623 commented on #20404
Hi @IkeAbrokwah ,
Please follow the bug report template.
You need to give details about the error.
I'll close the issue now, feel free to open a new one when all details of the bug are explained
Thanks!

[2020-07-31 12:01] #20404 closed, assigned to nobody

[2020-07-31 12:01] jonasburneika opened #20406 "Webservice - Stock issue when adding a new product via WS"
#### after StockAvailable::setQuantity() method execution there is no data in stock movement

#### Expected behavior

After product stock update via API call, expecting to see product stock movement.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. execute StockAvailable::setQuantity(8, 0, 100000); // Default Mug Today is a good day product_id  - 8
2. Go to page: /admin/index.php/sel

[2020-07-31 12:09] matks commented on #20402
Did you compile the assets ? https://devdocs.prestashop.com/1.7/development/compile-assets/

[2020-07-31 12:15] NeOMakinG commented on #20402
Hey @qualityangel,

Since 1.7.8, we don't provide assets builded anymore as it's not a good practice, you've to follow the doc @matks sent before :)

[2020-07-31 12:19] NeOMakinG commented on #11595
@ajejebrazorf01 It should stay on the backlog card for now, but don't worry anyway, releases can't be done until backlog is not empty, it will be picked up by someone working on the release !

I think as It's a backend issue, there are no workaround simple, and I won't suggest to modify core code to do this, but let's wait for a @PrestaShop/prestashop-core-developers response :)

By the way, if yo

[2020-07-31 12:27] florine2623 commented on #20402
Hi @qualityangel ,
I can't reproduce your issue on PS develop branch :
![Capture d’écran 2020-07-31 à 14 25 33](https://user-images.githubusercontent.com/16019289/89034680-c2062280-d339-11ea-8e79-562ff0a8133e.png)
You need to do the following :
`git clone develop & composer install & make assets`
Thanks!

[2020-07-31 12:28] M-t-t-h commented on #20405
Hi,

Please find my screen-shot :
![ps-bugreport](https://user-images.githubusercontent.com/8056358/89034387-21affe00-d339-11ea-83c6-f4f8247f005a.jpg)

My Product who is a pack is set like:
Qty : -2
Decrement pack only (too)
Pack's item are Qty 0 for almost all

When i patch the php i have:
![ps-bugreport2](https://user-images.githubusercontent.com/8056358/89034763-e9f58600-d339-11ea-932c-134e62d8

[2020-07-31 12:40] matks commented on #10003
Hi, I just got a quick look at this.

First, it seems the code responsible for this has been there for many years (at least 2011) https://github.com/PrestaShop/PrestaShop/commit/554783594ef283895250cbec53fd5720f479b5a3

Reworking such an old piece of the software is very hard, especially due to lack of documentation on the inner working of this stuff. It does not mean it will not be done, it means

[2020-07-31 12:54] IkeAbrokwah commented on #20404
I'm using PHP 7.4.7

[2020-07-31 13:03] #19798 closed, assigned to nobody

[2020-07-31 13:03] florine2623 commented on #20405
I enabled debut mode and still an't face the error.
Is there anything special about the product in the pack that I should know ?
Quantity of the products/ quantity of the pack/ parameters of the product settings etc

[2020-07-31 13:18] M-t-t-h commented on #20405
This pack is not special, just set as said...
if you (temporary) add an echo on AdminOrdersController like
[code]
do you have have a return of 'TEST' ? (goal is to arrive at those lines).

In this part, when i `var_dump($pack_item)` i haven't a key named "product_name"

[2020-07-31 13:36] gennaris commented on #10003
@matks , thank you for your time !

Issue is happening when there are a lot of cart rules and a cart rule is being set as restricted (use the "Compatibility with other cart rules" flag) among other existing cart rules (that are being dinamically set as restricted with _cart_rule_restriction = 1_ too).

Basically **ps_cart_rule_combination**  store all the incompatible couple of rules expanding exp

[2020-07-31 13:48] florine2623 commented on #20405
Did you do a migration to get to PS 1.7.6.7 ?

My test shop is a fresh install.
The variable is already `$pack_item['name']`, when I var_dump() I have : `["name"]=> string(27) "Coussin renard Color-White"`

[2020-07-31 13:50] jolelievre opened #20409 "Order Multi Invoice Shipping amounts"
#### Describe the bug

In order with multi invoices, the shipping total takes into account only the first invoice and does not take into account the other ones.

![2 shipping cost](https://user-images.githubusercontent.com/43613217/89177023-e442af00-d58a-11ea-98a4-d5a8c19387ea.png)

Here both products have a shipping cost of 8.40

Resulting with a wrong total and a wrong shipping cost in the total

[2020-07-31 13:56] M-t-t-h commented on #20405
Yes i do !
I used "PrestaShop 1-Click Upgrade module" for it.
(for a tiny upgrade, 1.7.6.5 or 1.7.6.6 to 1.7.6.7)

[2020-07-31 14:10] florine2623 commented on #20405
Ok, you can find the error on the log file of the autoupgrade module.
And you can change the name of the variable. You can find in the attachment the file from a fresh install os PS 1.7.6.7.
[AdminOrdersController.php.zip](https://github.com/PrestaShop/PrestaShop/files/5007412/AdminOrdersController.php.zip)

[2020-07-31 14:50] qualityangel commented on #20402
Again you guys are very helpful thank you so much! Worked like a charm

[2020-07-31 14:52] #20402 closed, assigned to nobody

[2020-07-31 15:05] rflorent opened #20412 "BO - Stock export csv filters not applied"
#### Describe the bug
The stock csv export function don't apply the "advanced filters" setted on the stock listing (category, suppliers filters).
All product catalog is exported.

Export url called :
/api/stocks/export?_token=xxxxxxx&suppliers[]=3&active=&order=product&page_size=30&page_index=1
==> not working

Filters listing url called :
/api/stocks/?_token=xxxxxxxxxx&order=product&page_size=30&

[2020-07-31 15:19] M-t-t-h commented on #20405
Ok. Tks for your fast replies and answers.
Sorry to point a knowed issue.

Best regards

[2020-07-31 15:36] Progi1984 commented on #15671
Fixed by #20207

[2020-07-31 15:36] #15671 closed, assigned to Progi1984

[2020-07-31 15:54] matks commented on #20397
All right, I am able to reproduce this following the scenario, however when I write Behat tests with the same settings, I have no issues

Such a lovely bug ❤️

[2020-07-31 17:14] tdvcprov opened #20414 "ATTENTION TO YOUR SITE: www.prestashop.com"
Hello. I'm from Brazil and I don't speak English. Well, sorry for the mistakes. I saw that you launched a Bug Bounty program. Is your website, www.prestashop.com, included in the reward program?

[2020-07-31 17:18] tdvcprov commented on #20397
@matks I have something interesting for you. I just need to clear this doubt, because I didn't find anything related in the rules.
See when you can: https://github.com/PrestaShop/PrestaShop/issues/20414 Thank you.

[2020-07-31 17:59] serhumanos commented on #9888
Hi, i using Prestashop 1.7.6.7 and when i remove the field Contru:name and city, it shows a 500 error.

i only have 1 country, no sense have to select it
same for 1 city

how can i remove those fields and let prestashop works fine?

[2020-07-31 19:24] Amit-Kumar-Tiwari-Webkul opened #20415 "Wrong Base price In Invoice"
#### Describe the bug

Invoice is showing the wrong Base price in product tax breakdown when purchasing 2 (or more) products in which one (or more) product is without tax.
https://prnt.sc/tryle8
It is showing correctly if tax rule applied to each product.
https://prnt.sc/trymai

#### Expected behavior

The base price must exclude the product price in which tax rule is not applied.
Like this: https

[2020-07-31 20:28] PierreRambaud commented on #20414
Hi,

Unfortunately, the Bug Bounty Program only concerns the open-source project. But feel free to send us an email to security@prestashop.com we will do our best to evaluate the security issue if there is one.

I'm closing this issue since this conversation has nothing to do here :sweat_smile:

Kind regards

[2020-07-31 20:28] #20414 closed, assigned to nobody

[2020-07-31 21:10] Davidlleide commented on #20327
Hi, after a lot of testing, I realized that the problem was with friendly urls activated. After testing more I checked that if I cleared the entire browser cache (F5 was not enough) the changes were shown. It was not a problem with friendly urls, only the browser cache.
I feel the confusion, thank you very much for everything.

[2020-08-01 11:48] brb944 opened #20417 "Cant complete order/payment"
When i am about to finish the order and press pay i get ''no entry'' sign on the button and cant click it (its grayed out ) and under it it says Please make sure you've chosen a payment method and accepted the terms and conditions.
<img width="613" alt="Screenshot_13" src="https://user-images.githubusercontent.com/69077703/89101151-9f3d4200-d3fd-11ea-8945-8d25d5badf82.png">

[2020-08-01 13:29] zodit commented on #20295
This problem is the same of this: https://github.com/PrestaShop/PrestaShop/issues/20254
And also this: https://github.com/PrestaShop/PrestaShop/issues/20254
Solution is like described here: https://github.com/PrestaShop/blockreassurance/pull/35#issuecomment-566556584

Change file: classes/ReassuranceActivity.php on line 190.
Search "getMimeType" and Replace "getMimeTypeByExtension".

[2020-08-01 16:07] SimonGrn commented on #20417
Dear @brb944,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be gla

[2020-08-01 16:07] #20417 closed, assigned to nobody

[2020-08-01 16:13] partiid commented on #12008
Is there an option to display all images links at once too?

[2020-08-01 21:42] 01park opened #20419 "Url category allowing = character"
#### Expected behavior

To give a warning

#### Steps to Reproduce

Steps to reproduce the behaviour:

edit a category url with a = instead of -

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional information

* PrestaShop version: 1.7.6.5
* PHP version: 7.2

[2020-08-02 07:17] Seb33300 opened #20420 "Cannot override assets configuration in child theme"
I have a theme using this `assets` configuration in the `theme.yml` file:
[code]

In my child theme, I want to override the `font-awesome` asset config to use a more recent version (upgrade to Font Awesome v5 while the theme still use v4).
I set the `theme.yml` file of my child theme with this config:
[code]

The result is that the old `font-awesome.css` is still loaded instead of the new `all.css

[2020-08-02 10:22] ruby75019 opened #20421 "Erreur Jeton prestashop"
Bonjour,
depuis l'installation de la nouvelle version Prestashop, j'ai sans cesse ce message qui apparaît.

Je ne trouve aucune solution pour resoudre ce problème.

[2020-08-02 11:28] photinia73 opened #20422 "Ajax / Server Error for action backupFiles"
Hello!
I try to update my PS from 1.7.6.6 to 1.7.6.7 but while back up in process the updating stop.
....
Backup files in progress. 29869 files left
Backup files in progress. 29469 files left
[Ajax / Server Error for action backupFiles] textStatus: "error " errorThrown:" " jqXHR: " "
![image](https://user-images.githubusercontent.com/50954519/89075411-d02e6000-d386-11ea-89c4-671922484223.png)
And

[2020-08-02 11:31] #20422 closed, assigned to nobody

[2020-08-02 11:37] Bess112 commented on #12452
Did I found the solution?:

I did this and the fault is gone:
**PS-Background->advanced settings->Performance->Smart Cache for JavaScript->YES**

It's funny nobody think about this in 1.5 years.. Just to be clear I am the most noob you will find within prestashop experience..

[2020-08-02 12:18] matks commented on #12452
Note: PS 1.7.6.5 is not fully compliant with php7.3 you should use php7.2

All of us are noobs in one field or another 😄

[2020-08-02 12:30] studio1one commented on #19777
Any fix for this issue yet?

[2020-08-02 13:00] gpsaliola commented on #12452
Hello, thank you but this doesn't solve the problem (I've also tried to set Multi-front optimization to YES).

[2020-08-02 13:01] gpsaliola commented on #12452
Hello thank you, I've set the right PHP version but this doesn't solve the problem.

[2020-08-02 16:25] ChineseNorris opened #20423 "Specific price row disappearing in mysql"
#### Describe the bug

ps_specific_price is empty after a few days of updating the specific prices (for example sales)

#### Steps to Reproduce

I have no idea on how to reproduce, if it's a module causing the error, how can I trace what's deleting the rows?

#### Additional information

* PrestaShop version: 1.7.6.5
* PHP version: 7.2

[2020-08-02 16:28] ChineseNorris commented on #18890
@Betafer Did you tried the solution I mentioned?

[2020-08-02 16:43] ChineseNorris commented on #19454
Thanks for your time @arouiadib  for contributing on the community.

In my honest opinion, I think the first option you mentioned is just too overkill, the second one  is over engineering too but think that in this way, the stock feature is something that a lot of merchants are interested, not to mention that this is crucial for their business if they want it to grow.

The approach of telling merc

[2020-08-02 16:48] ChineseNorris commented on #19290
@sarahdib  What info do you need?

[2020-08-03 01:09] PATRICIOALE opened #20424 "Error en Idiomas y País"
No se me permite cambiar idiomas, tampoco exportar idiomas, cambiar de pais, NADA, active la geolocalización y no me permite cambiar las opciones, incluso cuando ya estaba ACTIVADO, necesito ayuda.
Prestashop 1.7 versión.
![1A](https://user-images.githubusercontent.com/69128538/89136994-5c19c680-d504-11ea-93e5-e2fb8f4ee9ea.JPG)
![7A](https://user-images.githubusercontent.com/69128538/89136996-5d4a

[2020-08-03 06:26] M-t-t-h commented on #20405
Hi,

This morning, i put your file into my FTP and error came back.
In your file, the line  1861 contains '`.... $pack_item['product_name']);`' again.

Best regards,

[2020-08-03 06:28] krzysztof-medpak opened #20425 "Problem with adding a product to the cart"
#### Describe the bug

When adding a product to the cart, a message appears that there are not enough products in stock, although in fact they are available.

This problem in particular is easy to cause in private mode. This problem sometimes disappears by itself when you click the add to cart button again.

#### Expected behavior

I would like this problem not to occur with products that are in s

[2020-08-03 07:39] SimonGrn commented on #20421
Hello,
Please send your request in English. English is the norm on GitHub.

Thank you

[2020-08-03 07:39] #20421 closed, assigned to nobody

[2020-08-03 07:40] SimonGrn commented on #20424
Hello,
Please send your request in English. English is the norm on GitHub.

Thank you

[2020-08-03 07:40] #20424 closed, assigned to nobody

[2020-08-03 08:10] khouloudbelguith commented on #20051
Hi @kevindepoortere,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-03 08:10] #20051 closed, assigned to nobody

[2020-08-03 08:11] khouloudbelguith commented on #20090
Hi @Betafer,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-03 08:11] #20090 closed, assigned to nobody

[2020-08-03 08:26] khouloudbelguith commented on #20425
Hi @krzysztof-medpak,

I did not manage to reproduce the issue
[Swanson Ashwagandha (żeń-szeń indyjski) 450 mg - 100 kapsułek.webm.zip](https://github.com/PrestaShop/PrestaShop/files/5014721/Swanson.Ashwagandha.zen-szen.indyjski.450.mg.-.100.kapsulek.webm.zip)
On this github repository there is no software support. This is an open source project.
In fact, this github repository is not free a softw

[2020-08-03 08:26] #20425 closed, assigned to nobody

[2020-08-03 08:52] khouloudbelguith commented on #20423
Hi @ChineseNorris,

On this github repository there is no software support. This is an open source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Thanks for your understanding!

[2020-08-03 08:52] #20423 closed, assigned to nobody

[2020-08-03 09:09] khouloudbelguith commented on #20420
Hi @Seb33300,

We are aware of this issue.
Your ticket is a duplicate of #16279
So, I close it.
Thanks!

[2020-08-03 09:09] khouloudbelguith commented on #20420
Duplicate of #16279

[2020-08-03 09:13] Seb33300 commented on #20420
I just read the #16279, and the described issue is different.

[2020-08-03 09:15] khouloudbelguith commented on #20420
@Seb33300, thanks!
I will check and feedback.

[2020-08-03 09:16] mmarmucho opened #20426 "Prestashop doesn't allow me to download a free virtual product when doing the checkout."
Hello!

I have a virtual product that is free to download. When I do the checkout process, I need to choose a payment method even if it is free. I've configurated my web to pay with Paypal, but when pressing "pay with Paypal", nothing happens. It doesn't bring me to another screen, so I cannot finish the checkout process and therefore it doesn't send the email with the downloadable files.

I attac

[2020-08-03 09:19] ComonSoft commented on #9594
Same issue. Random orders are splitted.

1/ no specific carrier on any products
2/ happends with Paypal, Check, Visa...
3/ cart is also spillted with no carrier

PS 1.7.4.2 PHP 7.2

[2020-08-03 09:24] khouloudbelguith commented on #20420
@Seb33300, You need to delete config/themes/themename/shop1.json file to reload updated .yml file in your back-office as reported here: https://github.com/PrestaShop/PrestaShop/issues/13558
Thanks to check and feedback.

[2020-08-03 09:37] khouloudbelguith commented on #20426
Hi @mmarmucho,

I did not manage to reproduce the issue with PS1.7.6.7.
https://drive.google.com/file/d/1gzrE9Pqttjp58zc72iRWkFwpDzolwuqZ/view?usp=sharing
If your module is PayPal Official, please contact the support team on Addons: https://addons.prestashop.com/en/contact-us?id_product=1748
Thank you!

[2020-08-03 09:37] #20426 closed, assigned to nobody

[2020-08-03 09:51] Bartozo commented on #12452
This fixed my problem. I tested it on safari and chrome.

[2020-08-03 09:55] khouloudbelguith opened #20428 "BO - Employees page - Cannot create/Edit an employee"
#### Describe the bug

In the BO => Advanced Parameters => Team => Employees page, when we try to create an employee an exception displayed
![image](https://user-images.githubusercontent.com/16067358/89170489-fec35b00-d57f-11ea-87e5-26928c0572a6.png)
Also, when we try to edit an employee an exception is displayed
![image](https://user-images.githubusercontent.com/16067358/89170537-126ec180-d580-11

[2020-08-03 09:57] khouloudbelguith commented on #20428
It is related to this PR: https://github.com/PrestaShop/PrestaShop/pull/20207

[2020-08-03 09:58] khouloudbelguith commented on #20428
Ping @PrestaShop/qa-automation

[2020-08-03 09:59] ghost opened #20429 "In backend, unhook Welcome 6.0.0 module from displayAdminNavBarBeforeEnd crashes backend"
#### Describe the bug

From backend, Design->Positions, when unhooking Welcome module v6.0.0 from displayAdminNavBarBeforeEnd crashes completely the backend.

#### Expected behavior

Unhook the module

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to backend in demo shop (http://demo.prestashop.com/#/en/back)
2. Click on 'Design -> Positions'
3. Unhook Welcome v6.0.0 from displa

[2020-08-03 09:59] pista7 commented on #20429
After that, nothing can be done....

[2020-08-03 10:03] khouloudbelguith commented on #20419
Hi @01park,

Thanks for your report.
I have the same behavior as PS1.7.6.7.
But, The `=` symbol is not listed as an unsafe character in the URL as you can see [here](https://developers.google.com/maps/documentation/urls/url-encoding#common-characters-that-need-encoding)

Thanks to check and feedback.

[2020-08-03 10:10] matks commented on #20397
Hi @SD1982, after diving into the code, I am now wondering whether this is an issue 😁  .

The reason I say this is because of the following test:
- instead of ordering one product Z, order 60 of them => your order amount is now close to 1200 EUR Tax included
- the "10%" discount and the "10EUR" discount apply => it provides 130 EUR of discount

Now from the BO, if you add Product A, the 500EUR dis

[2020-08-03 10:18] Jonmarquet commented on #9613
Hi,

We have the same issue on our shop.. Any idea/news on when it will be solved?

Thx

[2020-08-03 10:27] 01park commented on #20419
HI @khouloudbelguith

I was not sure to report this or not, but I did because the link would not work with a = and Google gave an error.

Maybe there could be a check when only saving a category?

[2020-08-03 10:31] khouloudbelguith commented on #20429
Hi @pista7,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.7 downloaded PrestaShop.
https://drive.google.com/file/d/10v5JUnae9UZU15Gb7KKxAg8ldTeRj3I8/view?usp=sharing
I will close the issue as it is not a core issue.

This issue exists only in the demo shop.
Ping @Quetzacoalt91

Thanks!

[2020-08-03 10:33] 01park opened #20431 "Product page images should be able to swipe on mobile for classic theme"
For mobile browsing images on the product page should be able to swipe, clicking on a picture one by one to time consuming and old fashion.

I know they are modules that offer this, but I believe this should be a feature prestashop should have as its just more efficient and would improve the quality of browsing for the customer.

[2020-08-03 10:34] khouloudbelguith commented on #20419
@01park, with machine shuffle in my case, it is OK.
I tried again with a local shop, I have this error:
![image](https://user-images.githubusercontent.com/16067358/89174124-a5f6c100-d585-11ea-9a0d-519e027c3f4c.png)

You don't have any error?

Thanks!

[2020-08-03 10:57] khouloudbelguith commented on #20431
Hi @01park,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2020-08-03 11:03] 01park commented on #20419
Im not sure what you mean with machine shuffle.

I tried to change in category the link with = instead of - and got no warning. Save was a succes

[2020-08-03 11:03] khouloudbelguith commented on #20415
Hi @Amit-Kumar-Tiwari-Webkul,

Thanks for your report.
Your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/14646, is it?

Thanks to check and feedback.

[2020-08-03 11:08] pista7 commented on #20429
Hi! @khouloudbelguith  @Quetzacoalt91

It did happen in my local environment, that's why I found out in the first place. Just downloaded and created the shop, nothing else.

Windows 8.1, MySQL 5.7.24, PHP 7.2.19 (Laragon 4.0.16)

Then I tried on my test server Debian 9.... the same. Then I tried in the demo shop. The same. It could be not a core issue, but it crashes everything. After that there's

[2020-08-03 11:18] Seb33300 commented on #20420
This file doesn't exists in my theme folder

[2020-08-03 11:19] khouloudbelguith commented on #20419
@01park, in fact, if the `Accented URL` is enabled => the `{id}={rewrite}` is well saved.
If the `Accented URL` is disabled => the `{id}={rewrite}` is not saved.

I have no error when  `{id}={rewrite}` is well saved.
https://drive.google.com/file/d/1DbXLGw2CoYtyrwitOUvQyUAPEG0g_Ihk/view

Thanks!

[2020-08-03 11:20] khouloudbelguith commented on #20429
@pista7,

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configurati

[2020-08-03 11:23] khouloudbelguith commented on #20420
@Seb33300, you can find in your `shop_folder/config/themes/themename/shop1.json`.

Thanks!

[2020-08-03 11:25] Seb33300 commented on #20420
![image](https://user-images.githubusercontent.com/915273/89177966-c5f2a880-d5b6-11ea-94c6-9fbfa12cc3be.png)

[2020-08-03 11:29] Seb33300 commented on #20420
Ok, I was not looking in the correct folder.

It's working now. Thanks!

[2020-08-03 11:29] #20420 closed, assigned to nobody

[2020-08-03 11:37] MatShir opened #20432 "The delivery note's name is wrong after the download"
#### Describe the bug

An order with multiple delivery slip after been downloaded have the same file name.
The delivery slip file name is defined by the reference number of the delivery note.

When I download #DE00001 and #DE00002 from the order page, I have 2 files named #DE00002

#### Expected behavior

When I download #DE00001 and #DE00002 from the order page, I should have #DE00001 and #DE0000

[2020-08-03 12:56] khouloudbelguith commented on #20420
Duplicate of #13558

[2020-08-03 13:11] khouloudbelguith commented on #20406
Hi @jonasburneika,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #17748
So, I close it.
Thanks!

[2020-08-03 13:11] #20406 closed, assigned to nobody

[2020-08-03 13:11] khouloudbelguith commented on #20406
Duplicate of #17748

[2020-08-03 13:26] matks commented on #20067
Note: this actually makes sense 😁 : you ask "show me all active categories" and "Root" IS an active category.

It also works if you search "Root" ("Racine" in French) as category name, you'll find the "Root" category as a search result because, well, you searched for it.

But I get the idea 😄 I will remove "Root" category from search results.

[2020-08-03 13:29] khouloudbelguith commented on #20327
@Davidlleide, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2020-08-03 13:29] #20327 closed, assigned to nobody

[2020-08-03 13:31] khouloudbelguith commented on #20373
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/19798

[2020-08-03 13:31] #20373 closed, assigned to nobody

[2020-08-03 13:39] matks commented on #20067
Should be fixed by https://github.com/PrestaShop/PrestaShop/pull/20433

[2020-08-03 13:51] khouloudbelguith commented on #20385
@valentin-anamorphik, the ps_featuredproducts module is hooked to `displayHome`, it is displayed on the Home page.
In your case your issue is

In the FO > Category page > products of child categories are not displayed? is it?

I attached a screen record previously, it describes your main issue? is it?

Thanks!

[2020-08-03 13:54] khouloudbelguith commented on #19083
hI @go-sudo,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be gla

[2020-08-03 13:54] #19083 closed, assigned to nobody

[2020-08-03 14:00] khouloudbelguith commented on #9888
Hi @serhumanos,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15428 to fix the issue.

Thanks!

[2020-08-03 14:07] khouloudbelguith commented on #20405
Hi @M-t-t-h,

Thanks for your report.
I did not manage to reproduce the issue after an upgrade from PS1.7.6.5 to PS1.7.6.7 using the 1-click upgrade v4.10.1.
I attached a screen record
https://drive.google.com/file/d/1g65wXqnTYK81tx7er5fcyHZ7o6sx-k5m/view?usp=sharing
What is the exact version of the 1-click upgrade did you use? have you any errors during the upgrade?

Thanks!

[2020-08-03 14:17] elboletaire commented on #17893
I've just stumbled with this issue, and, at least under the edit method, just adding `throw $e` below the `if` checking for `CustomerNotFoundException`, shows the real issue and doesn't affect the default behavior when debug is set to false:

[code]

[2020-08-03 14:44] TristanLDD commented on #18480
@Progi1984 Yes, that change will concern all yes/no filters in BO.

[2020-08-03 14:54] valentin-anamorphik commented on #20385
**1**
![2020-08-03_16h44_42](https://user-images.githubusercontent.com/32865180/89195789-8ffaf780-d5a9-11ea-9fc9-7dcb5f45715d.png)
**2**
![2020-08-03_16h47_59](https://user-images.githubusercontent.com/32865180/89195791-90938e00-d5a9-11ea-9fe5-b94eac94cc1f.png)
**3**
![2020-08-03_16h50_32](https://user-images.githubusercontent.com/32865180/89195793-912c2480-d5a9-11ea-8690-f1b2aa2af58e.png)

**Atta

[2020-08-03 14:55] Progi1984 commented on #20393
Fixed by #20408

[2020-08-03 14:55] #20393 closed, assigned to nobody

[2020-08-03 14:57] TristanLDD commented on #20326
Hi @Laimonas-Mituzas, thanks for your report.

I understand your remark, but the choice to have left and right navigation buttons in the order details page was deliberated.

We did it that way because left and right buttons are a universal way to explicit the notions of "previous" and "next", the order list might be vertical, but the results can change depending on the filters you apply to the lis

[2020-08-03 14:57] #20326 closed, assigned to nobody

[2020-08-03 15:03] khouloudbelguith commented on #20396
Related to https://github.com/PrestaShop/PrestaShop/issues/13809

[2020-08-03 15:05] khouloudbelguith commented on #20412
Hi @rflorent,

I manage to reproduce the issue with PS1.7.5.1 & PS1.7.6.7 and 1.7.7.x branch.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-08-03 15:17] khouloudbelguith commented on #20385
@valentin-anamorphik, Thanks for these clarifications.
I have the same behavior as PS1.7.6.7 and ps_featuredproducts v2.1.0.
Steps to reproduce the issue:
1. Create two categories Cat1 and child category Child_Cat1
2. Create some products with associated categories `Child_Cat1`
3. Configure the ps_featuredproducts module with `Category from which to pick products to be displayed` = `id_Cat1`
4. Go

[2020-08-03 15:47] compagniadelmontale commented on #20079
Hi to everyone.
I have the same problem!
I updated from 1.7.6.4 to 1.7.6.7
PHP 7.3.2 ( I tryed different, but nothing change)

my SQL ps_customer_session and ps_employee_session tables exist.
I didn't get any error from 1-click upgrade after installation.
I removed manually al caches many times.
no problem with FO.

I don't know what is missed, but I cant login in to BO.

some one found a solution

[2020-08-03 15:59] valentin-anamorphik commented on #20385
As the module homefeatured (https://github.com/PrestaShop/homefeatured) on PrestaShop 1.6

[2020-08-03 16:03] Amit-Kumar-Tiwari-Webkul commented on #20415
@khouloudbelguith , It is not a similar issue. Both issues conditions are different.

[2020-08-03 16:15] LouiseBonnard commented on #19508
Oops... thanks @davidglezz, you're right, the latest release happened in January 2018! @PrestaShop/prestashop-core-developers, do you think that we could plan a release in the next few weeks?

[2020-08-03 16:19] LouiseBonnard commented on #19117
Fixed with Crowdin, the 1.7.7 catalog was not fully translated in French yet. I close this issue, thanks!

[2020-08-03 16:19] #19117 closed, assigned to nobody

[2020-08-03 16:26] LouiseBonnard commented on #18650
Hi @Matt75, is this issue fixed by #12959?

[2020-08-03 16:40] ericyau028 opened #20437 "Installation ERROR "An exception occured in driver: SQLSTATE[HY000] [2002] No such file or directory""
When installing Prestashop, after the creation of the tables, there's an error

1. When installing via web access, Create file parameters is stricken through, and green
2. Create database tables is in red, installation progress at 12%
3. An error occurred during installation...

1: 00:12:25 ERROR [console] Error thrown while running command "prestashop:schema:update-without-foreign". Message: "An

[2020-08-03 17:28] pista7 commented on #20429
Hi!

I know 500 errors are frustating, but they need to be dealt with, anyway...

I'm running a Windows 8.1 patched regularly, i7-5500U, 16GB RAM, so enough to run prestashop. Everything else is stopped. Firefox 79.0 (64-bit)

I downloaded bitnami package so the environment is fixed (https://bitnami.com/download/files/stacks/prestashop/1.7.6.7-0/bitnami-prestashop-1.7.6.7-0-windows-x64-installer.e

[2020-08-03 17:42] pista7 commented on #20429
Same procedure with `define('_PS_MODE_DEV_', true);` works fine. No 500 error.

![imagen](https://user-images.githubusercontent.com/54415801/89211017-6c43ab80-d5c1-11ea-9391-2af5adf542f4.png)

Any information I could provide?
X.

[2020-08-03 19:58] pista7 commented on #20429
Same happens on a Mac OS Catalina 10.15.2 (19C57) using bitnami package downloaded just now.

<img width="757" alt="Captura de pantalla 2020-08-03 a las 21 55 17" src="https://user-images.githubusercontent.com/54415801/89221859-496ec280-d5d4-11ea-9eaa-fd9bc861f533.png">

[2020-08-04 05:57] luiserbar commented on #12617
Same problem en version 1.7.6.7.

I´m not ptogrammer, can anybody tell me what to do?

[PrestaShopException]
Invalid address #1361
at line 529 in file classes/Address.php

524.             // if an id_address has been specified retrieve the address
525.             if ($id_address) {
526.                 $address = new Address((int) $id_address);
527.
528.                 if (!Validate::isLoadedOb

[2020-08-04 06:18] M-t-t-h commented on #20405
Hi,

It's an 4.10.1 version (for upgrade).
It's no more problematic for me cause i change de key on my file.

Just a signal if the "good version" have the bad key...

[2020-08-04 07:09] pro8181 opened #20438 "BO - The server returned a "500 Internal Server Error"."
#### Describe the bug

I can't edit / change / delete installed modules on my site and can't change them positions.

#### Expected behavior

I want to edit / delete / change my installed modules on my site.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to menu 'Ulepszenia'
2. Click on 'Moduły' (img presta1 attached)
3. Click on 'Wybrane'
4. See error:
Oops! An Error Occurred
Th

[2020-08-04 07:21] matks commented on #20079
PHP logs should indicate an issue I think

[2020-08-04 07:24] Progi1984 commented on #20286
@LouiseBonnard Fixed. The PR has been fixed in 178 so I change the milestone.

[2020-08-04 07:52] LouiseBonnard commented on #18086
Hi @Arman-Hosseini, hope everything's fine for you; do you wish to stay assigned to this issue or should I de-assigned you? You let me know, thanks a lot!

[2020-08-04 07:58] compagniadelmontale commented on #20079
mod_fcgid: stderr: PHP Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in /var/www/vhosts/mysite.com/modules/veplatform/vendor/guzzlehttp/ringphp/src/Client/CurlFactory.php on line 382

this is the log

[2020-08-04 08:01] khouloudbelguith commented on #20438
Hi @pro8181,

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configu

[2020-08-04 08:06] Prestaworks commented on #19801
was fixed here I belive https://github.com/PrestaShop/PrestaShop/pull/16097

[2020-08-04 08:09] compagniadelmontale commented on #20079
if use debug mode I get no error!!

[2020-08-04 08:11] Arman-Hosseini commented on #18086
Hi @LouiseBonnard, Hope you are fine.
Sorry, I can't going forward this issue now.

[2020-08-04 08:12] khouloudbelguith commented on #20437
Hi @ericyau028,

Thanks for your report.
Your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/15836
Thanks to follow this [comment](https://github.com/PrestaShop/PrestaShop/issues/15836#issuecomment-538582525), check and feedback.

Thanks!

[2020-08-04 08:13] matks commented on #20079
This is because you use PHP7.3 and not PHP7.2

[2020-08-04 08:18] compagniadelmontale commented on #20079
I turned on PHP 7.2 but nothing change a part the log.
it is very frustrating, because everything works but not BO.

[2020-08-04 08:37] khouloudbelguith commented on #20429
@pista7,

So, when debug mode is enabled => the issue doesn't exist anymore.

Thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.1, PS1.7.6.7, and PS1.7.7.0beta1
This issue occurs only when debug mode is disabled.

But, I checked with 1.7.7.x branch, it is fixed.
I attached a screen record
https://drive.google.com/file/d/1t5oEkt7pfwQGQ4GCtPt-Dwur1qF4a8yy/view?usp=sharing

[2020-08-04 08:37] #20429 closed, assigned to nobody

[2020-08-04 08:42] khouloudbelguith commented on #20405
@M-t-t-h, as you can see [here](https://github.com/PrestaShop/PrestaShop/blob/1.7.6.7/controllers/admin/AdminOrdersController.php#L1861), it is `$pack_item['product_name'] ` but the issue is not reproduced.

What is the exact version of PHP did you use?

Thanks!

[2020-08-04 09:01] marionf commented on #19801
@khouloudbelguith Could you check if this issue is fixed on 1.7.7.x ?

[2020-08-04 09:03] matks commented on #19496
Hi @marionf is there UX mock-up for this message ?

If not, maybe you can tell me a basic layout for it, like "just a small text in a block with red border" and I can do something simple that can be improved later ?

[2020-08-04 09:12] M-t-t-h commented on #20405
Hi.

If you do a ungly "echo" or "var_dump" at this place, do you realy pass there ?
For my php, it's 7.1 (by ovh.config)

[2020-08-04 09:24] khouloudbelguith commented on #20415
Hi @Amit-Kumar-Tiwari-Webkul,

I manage to reproduce the issue with PS1.7.6.7 and the 1.7.7.x branch.
Steps to reproduce the issue:

1. Create a product with Price tax_excl = Price_tax_inclu = 12.90
2. Create a product with Price tax_excl = 29, Tx rule = 5%
3. Show the variable "$total_tax_excl" in the invoice tax-tab template.
4. Go to FO, Add the last two products to the cart and complete the ch

[2020-08-04 09:26] arirangz commented on #14979
Hi,
All the shop navigation is slower as soon as there is one product in the shopping cart.
For example, when switching from one combination to another, the stock message is updated after 0.5sec but as soon as there is one product in cart, it takes at least twice (1.2sec).

Is Prestashop team working on this performance issue?

Thanks

[2020-08-04 09:33] marionf commented on #19496
@matks there is no mock-up as this kind of info is in the UI-kit: https://cdn.rawgit.com/PrestaShop/prestashop-ui-kit/master/index.html#alerts

![capture d'écran_2752](https://user-images.githubusercontent.com/13449658/89278348-44e2f200-d646-11ea-9a68-225ec563d8e7.png)

[2020-08-04 10:01] matks commented on #19496
All right, thanks !
Here is how it looks:
![Capture d’écran 2020-08-04 à 12 01 01](https://user-images.githubusercontent.com/3830050/89281323-34cd1180-d64a-11ea-8048-550ba1df5a04.png)

[2020-08-04 10:06] khouloudbelguith commented on #20405
@M-t-t-h, thanks for these clarifications.
In fact, I manage to reproduce the issue with PS1.7.6.7 fresh install and after an upgrade from PS1.7.6.5.
This issue occurs only when **debug mode is enabled**
![image](https://user-images.githubusercontent.com/16067358/89281385-4e6e5900-d64a-11ea-916c-cf0ae612d3f5.png)

I tried with 177x branch, the order Page is migrated to Symfony, it is OK => Issue f

[2020-08-04 10:06] #20405 closed, assigned to nobody

[2020-08-04 10:09] matks opened #20441 "Create a new Order State or Create a new Order Return State cannot work with empty color"
#### Describe the bug

On migrated Symfony pages "Create a new Order State" or "Create a new Order Return State" the "color" field can be empty bu the page crashes.

If you create a new "order state" or "order return state" and you do not fill the "color" field, leaving it empty, the page crashes. This is because color is actually needed 😅

#### Expected behavior

You should not be able to submit

[2020-08-04 10:13] MatShir commented on #20397
If I understand well, the issue remains only in which order the discount are applied to have the wanted discount display.
The response for that IMO is to keep consistency between the FO and the BO.
If I apply the discount in the same order as @SD1982 in FO:
- 1: 10% discount
- 2: 10 EUR discount
- 3: 500 EUR discount associated with product A

We have the result below
![image](https://user-images.

[2020-08-04 10:15] matks commented on #20441
PR available https://github.com/PrestaShop/PrestaShop/pull/20442

[2020-08-04 10:17] marionf commented on #19496
It looks perfect, tkanks :+1:

[2020-08-04 10:17] khouloudbelguith commented on #20441
Hi @matks,

Issue reproduced in my case also
![image](https://user-images.githubusercontent.com/16067358/89282889-82e31480-d64c-11ea-9acf-1df1b9b0f9c4.png)

THanks!

[2020-08-04 10:26] iidaloiki opened #20443 "BO - Pack can't search by product combination reference"
#### Describe the bug

I have products, which have combinations that have their own reference. I want to make product packs that include combinations.

When I try to update reference in combination, for example from "A1234" to "A1234 F12", product pack search does not refresh and I cannot search by this new piece of reference. FO search works fine.

#### Expected behavior

When I update combinatio

[2020-08-04 10:27] khouloudbelguith opened #20444 "BO - Orders page - Cannot view pack content"
#### Describe the bug

In the BO => Orders => Order details page => we cannot view pack content

#### Expected behavior

Pack content should be displayed after clicking on the "View pack content" button

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a Pack product which contains some other standard products
2. Go to FO, add this pack to the cart and complete checkout
3. Go t

[2020-08-04 10:28] arirangz opened #20445 "productoutofstock email doesn't have the product name nor employee firstname & lastname"
#### Describe the bug
When getting the productoutofstock for a product below the stock level, the email doesn't say which product is (see screenshot attached).

#### Expected behavior
Display the product name

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Set a stock alert below the current stock on the product page in the admin
2. Order the product
3. Open the email alert producto

[2020-08-04 10:37] Igcorreia commented on #12721
This is happening with the latest build. How is it possible that an online store platform has a problem like this on the install?

[2020-08-04 10:39] khouloudbelguith commented on #19801
Hi @marionf,

I did not manage to reproduce the issue with 1.7.7.x branch.
I attached a screen record
https://drive.google.com/file/d/1NJkMRRwtMlUeqoX0u8C-VVtJPKlJLqAz/view?usp=sharing
I close the issue since it is fixed.

Thanks!

[2020-08-04 10:39] #19801 closed, assigned to nobody

[2020-08-04 10:44] davidglezz commented on #14119
I fixed with https://github.com/PrestaShop/PrestaShop/pull/20446

[2020-08-04 10:47] khouloudbelguith commented on #12721
Hi @Igcorreia,

I did not manage to reproduce the issue with PS1.7.6.7.
This issue is currently closed, can you open a new one with more information about your configuration.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investi

[2020-08-04 10:53] ShaimyWinda opened #20447 "Translation : Object Email"
#### Describe the bug

I'm trying to translate the subject line of an email and I feel like it's not working and I have errors.

![image](https://user-images.githubusercontent.com/25744417/89285799-5087e600-d651-11ea-8a91-690d878b2c45.png)

Can you help me pls ? Thanks

#### Additional information

* PrestaShop version: 1.7.6.0
* PHP version: 5.6

[2020-08-04 11:08] khouloudbelguith commented on #20447
Hi @ShaimyWinda,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #19091
So, I close it.
Thanks!

[2020-08-04 11:08] #20447 closed, assigned to nobody

[2020-08-04 11:08] khouloudbelguith commented on #20447
Duplicate of #19091

[2020-08-04 11:20] khouloudbelguith commented on #19091
Hi @florine2623, @norbertlaza,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9599
So, I close it.
Thanks!

[2020-08-04 11:20] #19091 closed, assigned to nobody

[2020-08-04 11:20] khouloudbelguith commented on #19091
Duplicate of #9599

[2020-08-04 11:24] khouloudbelguith commented on #20445
Hi @arirangz,

I manage to reproduce the issue with PS1.7.6.0, PS1.7.6.7, and 1.7.7.x branch.
![image](https://user-images.githubusercontent.com/16067358/89288180-7f07c000-d655-11ea-8262-c4db0c1dbf32.png)
With PS1.7.5.1, we have this
![image](https://user-images.githubusercontent.com/16067358/89288337-c3935b80-d655-11ea-91b9-cb0a5e326cf3.png)

This regression reported [previously](https://github.c

[2020-08-04 12:04] khouloudbelguith commented on #20443
Hi @iibs,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade your

[2020-08-04 12:21] SD1982 opened #20448 "BO - Order - Invoice / Payment method is not printed on invoice if the order isn't yet paid"
## Describe the bug

The payment method is not printed on the invoice if the order isn't yet paid

#### Expected behavior

The payment method selected during the checkout should be printed on the invoice even if the order isn't yet paid

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO and make an order
2. Go to BO => order => order => and select the previously created order

[2020-08-04 12:28] marionf commented on #19801
Great to hear, thank you @khouloudbelguith

[2020-08-04 12:29] arirangz commented on #20445
Great thanks for adding it to the roadmap.

By the way, is this feature not duplicated with Mail Alert module?

I mean, if you have this alert enabled and PS Mail Alert enabled, you will get two emails.

[2020-08-04 13:46] SD1982 opened #20452 "BO - Invoice / Product taxes detail is not displayed on the invoice depending on where the invoice is called"
#### Describe the bug

For the same order, depending on where the invoice is called ; the products taxes details is not displayed / printed on the invoice 😱

#### Expected behavior

The product taxes details should be printed / displayed on the invoice no matter where the invoice is called from.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO and create an order
2. Go to th

[2020-08-04 14:03] MatShir commented on #18701
@Junebyun @LouiseBonnard for this wording, you have to take into account that the wording Price (excl) is used in the supplier table in the options tab as well

[2020-08-04 14:16] camlafit opened #20454 "If ID_product is not defined, we can't find combination by reference"
### Describe the bug

If there is one row in SQL table product_attribute that has id_product = 25 and reference = demo_10

Then if I run `$id = Combination::getIdByReference(25, 'demo_1');` this will return the above record because a LIKE is used in the query instead of a equality.

`$id = Combination::getIdByReference(25, 'demo_1');` should return a result if there is a row that has id_product =

[2020-08-04 14:21] michaesc commented on #18755
This problem affects me as well, with Prestashop 1.7.6.7.

[2020-08-04 14:29] khouloudbelguith commented on #20454
Hi @camlafit,

Is it similar to this [issue?](https://github.com/PrestaShop/PrestaShop/issues/9727)
Can you please provide us steps to reproduce the issue?

Thanks!

[2020-08-04 14:29] Kamalaldin commented on #16482
which one

بتاريخ ٢٤‏/٠٧‏/٢٠٢٠ ٤:١٢ م، كتب "ksaandev" <notifications@github.com>:

[2020-08-04 14:38] SimonGrn commented on #20454
Thank you for your issue @camlafit.
Your issue might be related to  #20443 ?

_Please be aware that your PR will only be taken into account if this issue is correctly reproduced and categorized._

[2020-08-04 14:55] camlafit commented on #20454
hello

@khouloudbelguith indeed could be related to #9727
@SimonGrn indeed could be related also to #20443

In these two case, search reference looks outside product context (pack and stock)

But I can't confirm as I work on cron service, then I don't use BO in my usecase.

In my usecase I do directly
[code]

[2020-08-04 15:20] khouloudbelguith commented on #20454
@camlafit, I did not manage to reproduce the issue with PS1.7.6.7 and I used this script
[code]

I just edited the product_id =1 and I changed the reference of the second combination
![image](https://user-images.githubusercontent.com/16067358/89311555-72479400-d676-11ea-8b74-b0a7404f1c6c.png)

I run the script => `2` is displayed => OK

In your case, the `product_id=0`? I couldn't find any result

[2020-08-04 15:54] glegarand opened #20458 "Product names are wrong in admin/products"
Hello,

I set up my local Prestashop 1.7.6.7 installation with Japanese (default) and English languages. Installation was in French and French language was eventually disabled.

Product names display is wrong in admin :
![image](https://user-images.githubusercontent.com/5107273/89315631-601c2480-d67b-11ea-9040-a7c9845a23e9.png)

However, the display is right once you enter a product :
![image](htt

[2020-08-04 16:01] MatShir commented on #19454
For the product page migration,@zuk3975 correct me if I'm wrong, the field will only be updated if the value has been changed.
We won't be able to make a whole system for the 1.7.8, but you definitely make a point.

[2020-08-04 16:09] ChineseNorris commented on #19454
@MatShir as long as it's implemented, I don't think there is a problem. The problem would be if this matter is ignored and prestashop keeps developing.

Thanks

[2020-08-04 16:13] camlafit commented on #20454
Hello

With an equivalent test :
[code]

Without patch I get :
[code]
Looks logic as 634 is only set to id_product = 281

With patch  (behavior expected)
[code]

[2020-08-04 16:38] matks commented on #20452
OK, I did some debugging on this one this evening.

The 2 different results come from the fact that the 2 "get invoice" buttons do not target the same controller
- in "view an order" page it targets legacy "get a PDF" endpoint
- in "order list" page, inside quickview it targets new "get Invoice" Symfony endpoint

So basically legacy endpoint and new endpoints provider different results although it

[2020-08-04 16:41] zuk3975 commented on #19454
yes, in theory we are making commands, which can work as partial update, however we should take a note to check this when  implementing symfony forms.

[2020-08-05 07:05] valentin-anamorphik commented on #20385
Do you have a solution?

can you send us modifications to add to the module?

https://github.com/PrestaShop/ps_featuredproducts/blob/master/ps_featuredproducts.php#L268

[2020-08-05 07:43] khouloudbelguith commented on #20454
Hi @camlafit,

Thanks for these clarifications.
So, I think that your issue is an improvement "Although id product is not specified, the search is performed on the combination's reference"
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2020-08-05 07:49] Betafer commented on #16453
I can confirm the problem with PS: 1.7.6.6
in surname we have "/" for c/o and we got same error, removing / password can be setted

This also affects that customer cannot reset the password by itself

[2020-08-05 07:52] khouloudbelguith commented on #20458
Hi @glegarand,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/19777
So, I close it.
Thanks!

[2020-08-05 07:52] #20458 closed, assigned to nobody

[2020-08-05 07:52] khouloudbelguith commented on #20458
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/19777

[2020-08-05 07:52] Betafer commented on #18890
yes, it work, thanks.
it would be nice if the fix was implemented in prestashop and not having to do it after every update.

[2020-08-05 08:25] khouloudbelguith commented on #20049
Hi @luciobenini,

Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-05 08:25] #20049 closed, assigned to nobody

[2020-08-05 08:52] Progi1984 commented on #20067
Fixed by #20433

[2020-08-05 08:52] #20067 closed, assigned to matks

[2020-08-05 08:58] MatShir opened #20462 "Wrong rounding of the cart rule"
If a product at 20EUR is ordered without a discount.
And In the BO order page, you add 10 EUR discount

Then you will see the error, the 10 EUR discount becomes a 9.99 EUR discount

![screenshot_at_10-52-59](https://user-images.githubusercontent.com/43613217/89393114-a8ceee80-d70a-11ea-930b-6c8c78a7977c.png)

Case:
If the product is at 14.30 EUR, the discount is at 9.99.
BUT you edit the product a

[2020-08-05 09:01] khouloudbelguith commented on #20385
@valentin-anamorphik, this improvement should be specified by our Product team first and fixed by our developers.
Thanks for your understanding!

[2020-08-05 09:25] khouloudbelguith commented on #20462
Hi @MatShir,

Same issue with 1.7.7.x
It is OK with PS1.7.6.7

Thanks!

[2020-08-05 09:29] HartLarsson commented on #9971
Seems this bug is an old one never resolved affecting all 1.7 versions even 1.7.6.7 version (latest).
Any news?

[2020-08-05 09:30] HartLarsson commented on #20462
Confirmed o 1.7.6.7 and is a big problem!

[2020-08-05 09:37] MatShir commented on #20462
Hi @HartLarsson,
Weird, @khouloudbelguith couldn't reproduce it. Could provide us your steps to reproduce it in 1.7.6.7?
You might face another issue.

[2020-08-05 09:39] khouloudbelguith opened #20463 "BO - Categories page - An exception is displayed when updating the Root category"
#### Describe the bug

In the BO => Catalog => Categories page, an exception is displayed when updating the **Root** category
![image](https://user-images.githubusercontent.com/16067358/89396935-7b387400-d70f-11ea-9426-bf503954ac19.png)

#### Expected behavior

Root category should be well updated

#### Steps to Reproduce

Steps to reproduce the behavior:

After enabling **multistore**, you can ed

[2020-08-05 09:41] zuk3975 opened #20464 "Cannot enter BO->SEO & URLs when multishopfeature is on"
#### Describe the bug

When multishop feature is on, trying to enter `admin-dev/configure/shop/seo-urls` ends up with error (screenshot1). This is caused because (technically) form has inputs only when following if statement is true `if (!$this->isHostMode && !$this->isShopFeatureActive && $this->doesMainShopUrlExist)`. You can see it in code ShopUrlType.php::74. (and screenshot2)
#### Expected be

[2020-08-05 09:58] khouloudbelguith commented on #20463
It is ok with PS1.7.5.1

[2020-08-05 09:59] khouloudbelguith commented on #20462
@MatShir, @HartLarsson,

Steps to reproduce the issue:
1. Create a product with Price tax included= 14.30, Tax rule =20%
2. Go to FO, add the last product created to the cart => complete the order
3. Go to the BO => Orders => View the last Order created
4. Add a new discount 10 euro
5. Try to update the product's price and check the discount value

I attached a screen record

[Your Screencasts - S

[2020-08-05 10:02] MatShir commented on #19569
**Improvement**

- [ ] https://github.com/PrestaShop/PrestaShop/issues/19454
Stock unstable when editing a product and having a sale in the meantime

[2020-08-05 10:03] khouloudbelguith commented on #9742
Hi,

This issue is fixed during the migration
![image](https://user-images.githubusercontent.com/16067358/89400069-a2914000-d713-11ea-873b-0bd5649f1591.png)

Thanks!

[2020-08-05 10:03] #9742 closed, assigned to nobody

[2020-08-05 10:07] khouloudbelguith commented on #20464
Hi @zuk3975,

Same issue with develop branch.
![image](https://user-images.githubusercontent.com/16067358/89400409-264b2c80-d714-11ea-9e7e-4634c4d90b79.png)

I’ll add this to the debug roadmap.

Thanks!

[2020-08-05 11:46] dannyqwertz commented on #20351
Thank you all for your informations and checks!
addendum - as stated in my initial issue:
I again tried to change my mail-address (in demo.prestashop.com, should be `1.7.6.7` as of today) to exactly `test.@testdomain.com.123` (with the dot before the @) and this change took effect:

![grafik](https://user-images.githubusercontent.com/3381961/89408559-d9218780-d720-11ea-95e8-c5f477df2b62.png)

I ac

[2020-08-05 11:53] mark-app opened #20465 "Product update date not set after placing order Or updating the quantity from Stocks page"
#### Describe the bug

If you place an order the product field date_update is not set after changing the product quantity of the ordered product.

If you need to connect 3 party software you can't check which products are changed with after new orders if you don't import orders.

#### Expected behavior

After adjusting a product field anywhere in the webshop, you would expect an adjustment to the

[2020-08-05 12:28] evgenij-sobolev opened #20466 "ps-reminder module bug"
#### Describe the bug

In prestashop 1.7, the followup module was renamed to ps-reminder.
But, in the module settings, generateing wrong url for the cron task:

https://prnt.sc/tugggu

It is necessary to replace the followup with ps_reminder

#### Additional information

* PrestaShop version: 1.7.6.x
* PHP version: 7.3

[2020-08-05 13:04] MatShir opened #20467 "Wrong invoice total after editing a product"
#### Describe the bug

When a product is edited, the invoice becomes completely false.
FYI: The total summary is correct

#### Expected behavior

To have the right total amount

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create cart in the FO: add 1 product, check it out
2. Go to BO, add a discount of 10 EUR (optional step) in the BO
3. From "view an order" page, generate an inv

[2020-08-05 13:16] khouloudbelguith commented on #20466
Hi @evgenij-sobolev,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9799
So, I close it.
Thanks!

[2020-08-05 13:16] #20466 closed, assigned to nobody

[2020-08-05 13:16] khouloudbelguith commented on #20466
Duplicate of #9799

[2020-08-05 13:30] khouloudbelguith commented on #20465
Hi @mark-app,

Thanks for your report.
First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with

[2020-08-05 13:32] khouloudbelguith commented on #20465
Hi!

Same issue when updating the Product quantity from the BO => Catalog => Stocks page

[2020-08-05 13:40] khouloudbelguith commented on #20467
Hi @MatShir,

The same issue with PS1.7.7.x and it is ok in the PS1.7.6.7.

Thanks!

[2020-08-05 14:40] Junebyun opened #20469 "Harmonize the contextual help content in the BO for legacy & migrated pages"
Edited on September 9th by @LouiseBonnard to have one single issue for the same problem instead of two with #20877.

---

#### Is your feature request related to a problem?

If you click on the "**_Help_**" button in the top right corner of the BO (PS 1.7 version), the content shown is different from legacy pages and migrated pages.

- **Legacy pages** show the 1.6 user doc. and from the left to t

[2020-08-05 15:21] MatShir commented on #16567
@prestascott It seems the issue is done by https://github.com/PrestaShop/PrestaShop/issues/16599, can we close this issue ?

[2020-08-05 15:23] edensh89 opened #20470 "Set minimum quantity for sale doesn't work"
#### Describe the bug
I have regular product without combination, I set to this product minimum quantity for sale and I still have the ability to buy less than the minimum quantity.

I expect to get an error message or to not allow me to add to the cart less than the set quantity.

#### Steps to Reproduce

1. Open - https://www.multi-i.at/en/bulk-jelly/881-bulk-jelly-22-blueberry.html
2. Click on

[2020-08-05 15:43] MatShir commented on #16482
@JevgenijVisockij, do you know if your work could fixe some issue on this epic https://github.com/PrestaShop/PrestaShop/issues/19537 ?

[2020-08-05 15:44] khouloudbelguith commented on #20469
Hi @Junebyun,

Thanks for the report.
Ping @PrestaShop/prestashop-product-team

Thanks!

[2020-08-05 15:51] khouloudbelguith commented on #20470
Hi @edensh89,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10279 to fix the issue.
Your ticket is a duplicate of #10162
So, I close it.
Thanks !

[2020-08-05 15:51] #20470 closed, assigned to nobody

[2020-08-05 15:51] khouloudbelguith commented on #20470
Duplicate of #10162

[2020-08-05 16:08] MatShir commented on #17550
Improvement ideas:
- [ ] https://github.com/PrestaShop/PrestaShop/issues/9809 Country code with postal code in international address

[2020-08-05 16:27] MatShir commented on #20113
Hi @juraj1000,
It is currently possible to add the iso country code into the zip code. In the Zipcode format of your country, you have to add the "C-" in front of the default format. Is it what you were referring to?

[2020-08-05 17:08] denniscachau opened #20471 "Bad orders export"
#### Describe the bug

When I export the orders table, The headers don't correspond to the data. The price is in 2 columns.

#### Expected behavior

Change the csv separator

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Orders list
2. Click on the gear -> Export
3. Open the downloaded file

**Screenshots**

![image](https://user-images.githubusercontent.com/33413655/89442310

[2020-08-05 19:18] #20471 closed, assigned to nobody

[2020-08-06 05:35] sadgamaya opened #20476 "google site map installation issues"
Hi , I am not sure why I am unable to upload this module in my Prestashop 1.7 version.

https://github.com/PrestaShop/gsitemap/tree/master

![image](https://user-images.githubusercontent.com/29230212/89494767-84d7df80-d7d4-11ea-9c42-5eebccc1fb33.png)

shows this message whenever I try to upload, I unzipped the file and sipped the inside folder , but did not work, please guide.

Appreciate your hel

[2020-08-06 09:14] MatShir commented on #20035
@PrestaShop/prestashop-designers We could merge both issue https://github.com/PrestaShop/PrestaShop/issues/12773. They seem really relevant. WDYT?

[2020-08-06 09:15] #20365 closed, assigned to nobody

[2020-08-06 09:16] matks commented on #20365
Issue valid and PR merged 😄  thanks @dariusakafest

[2020-08-06 09:18] Progi1984 commented on #20444
Fixed by #20461

[2020-08-06 09:18] #20444 closed, assigned to Progi1984

[2020-08-06 09:27] florine2623 commented on #20476
Hi @sadgamaya ,
I can't reproduce your issue.
On my PS 1.7.6.7, I installed Google Sitemap module :
- git clone https://github.com/PrestaShop/gsitemap.git
- zip gsitemap folder
- install via BO
![Capture d’écran 2020-08-06 à 11 25 46](https://user-images.githubusercontent.com/16019289/89515634-af776780-d7d7-11ea-883a-ec162e04dc9e.png)

The module is natively already available via your BO.
If you

[2020-08-06 09:36] edensh89 commented on #20470
Thanks for replying.
I added the code to handle but it still doesn't work.

[2020-08-06 09:58] khouloudbelguith opened #20478 "ps_emailalerts - BO - An exception is displayed after deleting a product"
#### Describe the bug

When the last release of the ps_emailalerts is installed, an exception is displayed after deleting a product
It is ok with ps_emailalerts v2.1.0

#### Expected behavior

NO exception displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install the ps_emailalerts module v2.2.0
2. configure it
3. Go to BO => Catalog => products page => try to delete a produ

[2020-08-06 10:44] HartLarsson commented on #19430
inside gb.xml is missing completely the part:

[code]

so is not possible to import them like you can do for Italy or USA.

i've made a CSV with ISO code and name of the "state"

GB-BKM,Buckinghamshire
GB-CAM,Cambridgeshire
GB-CMA,Cumbria
GB-DBY,Derbyshire
GB-DEV,Devon
GB-DOR,Dorset
GB-ESX,East Sussex
GB-ESS,Essex
GB-GLS,Gloucestershire
GB-HAM,Hampshire
GB-HRT,Hertfordshire
GB-KEN,Kent
GB-LAN,Lanc

[2020-08-06 10:46] HartLarsson commented on #19430
UK have very different price for delivery from the mainland to island and north ireland or scotland. So all selelrs that need to sell in GB need to implemant manually the "states". Same for Portugal that has many island at shipping price that soemtime sis twice of the normal.

[2020-08-06 12:34] agentile2020 opened #20480 "Prestashop exception: Property customer > Optin is empty"
Hello,
I need help for following issue. Thank you in advance!

On the front, as a customer:
1. I click on check-out
2. In step 1 - Personal info - I order as a guest and fill in first name, name and email
3. I click on Continue and I get following error:

printscreen here: https://prnt.sc/tus973

[code]

#### Additional information

PrestaShop version: 1.7.6.4
PHP version: 7.3.20
Current theme in

[2020-08-06 12:55] agentile2020 commented on #20480
I'm closing the issue as I found the solution.

For info:

1. in the shop parameters / customer settings, I had disable the partner offers

2. in sell / customer settings, there is button "set required fiels for this section"

That's the point 2. that was causing above issue

Voilà :-)

[2020-08-06 12:55] #20480 closed, assigned to nobody

[2020-08-06 13:13] compagniadelmontale opened #20481 "Fatal Error: Interface 'PrestaShop\PrestaShop\Core\Session\SessionInterface' not found"
**After rollback from a backup because I can't go inside BO after update to 1.7.6.7
now I have this issue:**

My situation:

Informazioni sul server Linux #1 SMP Thu Jun 18 05:28:41 EDT 2020 x86_64

Versione software del server: Apache

Versione di PHP: 7.1.33

Limite di memoria: 128M

Tempo di esecuzione massimo: 480

Dimensione Max. dei file da caricare: 10M

Versione MySQL: 10.1.45-MariaDB-cll-

[2020-08-06 13:24] florine2623 commented on #20481
Hi @compagniadelmontale ,
Can you clear cache from both BO and manually from FPT ?
Thanks!

[2020-08-06 13:25] matks commented on #20478
This issue is almost critical.

Because of an issue in install logic, if module is installed on PS 1.7 the SQL table `ps_mailalert_customer_oos` will not be created. Module "looks" OK but without its SQL table its behavior is corrupted.

[2020-08-06 14:09] #20445 closed, assigned to khouloudbelguith

[2020-08-06 14:20] marionf opened #20484 "TinyMCE error on product page"
**BO - Add product page (tinyMCE error)**
1. Go to 'BO -> products -> add product' page
2. Open console (`F12` in chrome then console tab)
3. See error
![image](https://user-images.githubusercontent.com/48441421/84670595-9d3f2280-af26-11ea-8ff8-7a68eec9dcd9.png)

[2020-08-06 14:22] marionf opened #20485 "Productcomments linkchecker"
**FO - product page (in french)**
1. Go to 'FO'
2. switch language to FR
3. go to first product page
4. Open console (`F12` in chrome)
5. See error
![image](https://user-images.githubusercontent.com/48441421/84672304-b052f200-af28-11ea-9512-4eb992ae56ff.png)
PR: PrestaShop/productcomments#66

[2020-08-06 15:21] HartLarsson commented on #19508
That fix resolved the module problem!
Thanks

[2020-08-06 15:26] florine2623 commented on #20205
Hi  @DianaButkute ,
Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2020-08-06 15:26] #20205 closed, assigned to nobody

[2020-08-06 15:26] Progi1984 commented on #19508
@LouiseBonnard I Take

[2020-08-06 15:41] SimonGrn commented on #20476
Dear @sadgamaya
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-08-06 15:41] #20476 closed, assigned to nobody

[2020-08-06 15:44] #20415 closed, assigned to nobody

[2020-08-06 16:02] compagniadelmontale commented on #20481
I did it 25 times but nothing change.

[2020-08-06 16:08] matks opened #20487 "Faster Behat tests and more isolated"
Our behat tests are integration tests. They boot a PrestaShop instance almost identical to a production instance to be run because. It means we create/read/delete files, connect to a database to modify its content, download some things ...

All of this should in theory be reset between each test. This ensures each tests starts from a clean environment. However because the full reset would be very

[2020-08-06 16:10] matks commented on #20487
One (crazy ?) idea I have would be to use a pool of databases.

1. select "base" test database
2. copy it 200 times ( 😁  )
3. when a behat scenario starts, connect to one database
4. when behat scenario ends, switch connection to another database and delete the "used" database

This strategy works if step 2 is not too long. Doing this you dont have to wipe-out and reload your test database every t

[2020-08-06 16:27] florine2623 commented on #20481
What pages are problematic ? Only Back or front as well ?
Did the rollback succeed ? Is your version back to 1.7.6.4 ?
What are the errors from autoupgrade log file ?

[2020-08-06 16:31] compagniadelmontale commented on #20481
What pages are problematic ? Only Back or front as well ? only BO
Did the rollback succeed ? Is your version back to 1.7.6.4 ? yes
What are the errors from autoupgrade log file ? no error. but after the upgrade BO is impossible to reach. that is why I rolled back.

[2020-08-06 16:40] matks commented on #20481
@compagniadelmontale is this file in your shop ?
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/classes/CustomerSession.php

it's a file added in 1.7.6.6 . It should not be in PS 1.7.6.4. But the error you have seem to indicate this file is in your shop.

[2020-08-06 16:40] matks commented on #20481
You did rollback using auto-upgrade backup files ?

[2020-08-06 17:40] Matt75 commented on #10066
@PrestaShop/prestashop-core-developers This is more like an issue than an improvement.

In some weird case payment modules like PrestaShop Checkout cannot be executed entirely due to some `die` in weird error cases (Hard to reproduce without a real shop).

We cannot catch error and try to fallback or display a friendly error message for customer.

A first step can be done by replacing all `die` an

[2020-08-06 20:07] compagniadelmontale commented on #20481
yes it is in my shop. do I need to delete it?

[2020-08-06 20:08] compagniadelmontale commented on #20481
no, I did roll back from a server backup.

[2020-08-06 20:37] compagniadelmontale commented on #20481
![Schermata 2020-08-06 alle 22 34 36](https://user-images.githubusercontent.com/69155503/89580208-49b9c880-d835-11ea-874c-f224edca15ed.png)
this is the content of classes folder.

[2020-08-06 20:40] compagniadelmontale commented on #20481
![Schermata 2020-08-06 alle 22 34 36](https://user-images.githubusercontent.com/69155503/89580520-c056c600-d835-11ea-8b2f-70b670c2d439.png)
this is the content of classes folder.

[2020-08-06 22:41] c3do opened #20489 "Hook ActionObjectCombinationAddAfter is not triggered"
1. Go to BackOffice
2. Select a product
3. Add a combination

[2020-08-06 23:57] MatShir commented on #20431
It's a good idea, it is now a standard on UX website. @PrestaShop/prestashop-designers, It could be integrated into the classic theme revamp, WDYT?

[2020-08-07 00:48] MatShir commented on #19886
Since @PierreRambaud's comment, I will close the issue. Feel free to open it again if you encounter the bug again 😄

[2020-08-07 00:48] #19886 closed, assigned to nobody

[2020-08-07 04:45] Whip opened #20490 "Changing variants trigger error"
#### Describe the bug
My products have combinations defined for them but in FO when I change the variant, an error appears saying "An error occurred while processing your request". The variant doesn't change, no information updates.
![2020-08-06 (2)](https://user-images.githubusercontent.com/11595460/89609717-4a367b80-d896-11ea-89a9-90dffb33ce84.jpg)

As far as I've been able to dig around this is

[2020-08-07 06:58] SimonGrn commented on #20489
Dear @c3do
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be gl

[2020-08-07 06:58] #20489 closed, assigned to nobody

[2020-08-07 07:01] SimonGrn commented on #20490
Hello @VeeK727
thank you for your report. What theme do you use ?
Did you see any error after updating ?
We can't reproduce your issue on our end so we will need all the information you can give us.

[2020-08-07 07:31] matks commented on #20481
It indicates your backup process had an issue. This file belongs to 1.7.6.6, not 1.7.6.4. It should not be inside a 1.7.6.4 backup.

Right now maybe your shop is a 1.7.6.4, maybe your shop is a 1.7.6.6, maybe your shop is a mix of the two. There was an issue with the backup you used 🤔  whether it was the backup itself or the process.

[2020-08-07 08:03] #17282 closed, assigned to nobody

[2020-08-07 08:17] matks commented on #20467
Hi ! I m trying to reproduce this on 1.7.7.x and I fail to reproduce it. What is the expected error ? The "Total products" equal to zero ?

[2020-08-07 08:18] matks commented on #20467
1. Create order in the FO
2. Add a discount of 10 EUR (optional step)
=> add the discount from the FO or the BO ?
3. Generate an invoice
=> do you mean "click on invoice button from the FO when logged-in" or "generate invoice from BO" ?
3. Edit the product to a different price
4. See the error in the invoice
=> what error should I see, and where do you fetch the invoice: BO ? FO ?

[2020-08-07 08:22] matks commented on #20467
OK, I found it.
I was modifying the product price inside the BO "Edit a product" page. But you need to use the dedicated interface INSIDE THE "View an order" page 😄

I modify the scenario above

[2020-08-07 08:38] compagniadelmontale commented on #20481
so, what I can do?

[2020-08-07 08:38] SimonGrn commented on #20480
Hello @agentile2020
Good thing you found a solution !
Small tip: please make sure you follow the template (you deleted everything...), as this issue would have been closed as is.

[2020-08-07 08:44] SimonGrn commented on #20481
How did you restore your backup ? Did you wipe everything in your main folder then unzipped your backup, or did you just copy all the files from your backup into your folder ?
If you did #2 that means files created by the 1.7.6.7 installation were not deleted hence your problem.

There is nothing we can do in Github, since your problem is not related to PrestaShop itself but is about your configur

[2020-08-07 08:44] #20481 closed, assigned to nobody

[2020-08-07 08:49] compagniadelmontale commented on #20481
ok Thanks

[2020-08-07 09:00] eternoendless commented on #9818
This should be fixed by #19487

[2020-08-07 09:33] VeeK727 commented on #20490
I'm using a theme called Portfox from Codezeel.
The updates went smoothly without any errors.

Another thing I noticed was that the repeating product ids in the above url is of the products that are appearing in section "Customers who bought this product also bought". Those products also have a div of "product-actions". Maybe the js is picking all three products and combining them together.

Do yo

[2020-08-07 09:35] c3do commented on #20489
Bad hook name, it is actionAttributeCombinationSave that is not triggered

[2020-08-07 09:38] ajejebrazorf01 commented on #20252
@grafeco @sowbiba @marionf
In my opinion the problem could be in "/mails/en/order_conf_product_list.tpl"
I don't have installed the module "ps_emailalerts" and I have the same issue with customized products.

[2020-08-07 09:39] c3do opened #20494 "Hook actionAttributeCombinationSave is not triggered"
1. Go to backoffice
2. Add a combination to a product

The hook is called from Combination::setAttributes() that is not used when you add a combination.

[2020-08-07 09:42] marionf commented on #20252
@sowbiba Did you reproduced this issue ?

[2020-08-07 09:57] MatShir commented on #20397
The priority is well taken into the calculation and the cart rule works perfectly fine even when cart rule associated doesn't correspond to the maximum amount discountable. So, since the cart rule order should be done by the priority, the issue will be done on the 1.7.8.

[2020-08-07 09:59] SimonGrn commented on #20489
Hello @c3do
As stated in my previous message, this issue is no longer active. If you think you can give us more information, please feel free to open another issue, but keep in mind that you need to keep the template and fill all the informations.
We cannot work on 3 lines of steps.

Thank you for your understanding.

[2020-08-07 10:04] SimonGrn commented on #20490
We tried to reproduce with the Classic theme. We cannot support any third-party theme.
I highly encourage you to contact the developer of the theme.

[2020-08-07 10:19] marekjedrzejewski opened #20495 "Translate::getModuleTranslation() with locale returns string in wrong language if there is none in provided locale"
#### Describe the bug

Using $this->l() with locale provided uses last language instead of falling back to english/base string/empty string/throwing exception/whatever.
I added pl, de, fr to default english, and for example, when I have translation in polish, but doesn't have german and french, instead of english/whatever I get polish.

#### Expected behavior

I would like to get english/base stri

[2020-08-07 10:21] fest73 opened #20496 "Bug when cart empty"
#### Describe the bug

When cart empty i want call method for get total cart

#### Expected behavior

Return value without notice

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create new cart
2. Call method getOrderTotal

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional information

* PrestaShop version: 1.7.4.4
* PHP version: 7.2

[2020-08-07 10:53] PululuK opened #20498 "Improve dynamic Hooks performances"
## Is your feature request related to a problem?

Dynamics hooks can be sources of performance issues and major resource consumers.
Consider the following case :

- I have ten modules hooked to: `actionObjectProductUpdateAfter`
- I have a massive product import module (@StoreCommander for example)
- Suppose that in this import module I update the names of the 3000 products
- The ten modules hooked

[2020-08-07 10:59] VeeK727 commented on #20490
Can you confirm if I change to default theme, the changes on this third party theme are not lost, right? I can switch back to it and have everything like it is currently?

[2020-08-07 12:51] #17600 closed, assigned to Progi1984

[2020-08-07 14:14] matks commented on #20333
We have a dedicated Kanban for that: https://github.com/PrestaShop/PrestaShop/projects/6 I put this issue there

[2020-08-07 14:47] matks commented on #20469
About this part

The idea is to delete all legacy pages so any work performed on legacy pages will be deleted at some point, when the page is migrated. That is why we only enhance the migrated page design, the legacy page design is meant to disappear.

[2020-08-07 14:55] matks commented on #20469
I think I remember it was removed on purpose. People were using this as a channel to ask for help / support 😅

[2020-08-07 15:23] matks commented on #20463
Had a look at this

I found that

- category with ID 1 is named "Root" but `is_root_category` is false
- category with ID 2 is named "Home" but `is_root_category` is true

I'm feeling tired ... 😞

[2020-08-07 15:33] ngodefroy commented on #18284
Furthermore, you can add:

-  only a number on the field "Address"

- a Postal code on the field City

- A City on the field Postal Code

V 1.7.7.x
See attached file.

<img width="1065" alt="Capture d’écran 2020-08-07 à 16 47 51" src="https://user-images.githubusercontent.com/69145330/89661972-ae2b6500-d8d3-11ea-82ce-04dbe3302dff.png">

[2020-08-07 15:40] matks commented on #20469
@Junebyun I started exploring this issue to see how the needed work would look like.

It looks like the migrated pages and legacy pages use 2 systems completely different.

## Legacy pages

When you click on "Help", some Javascript file sends a call to `http://help.prestashop.com/api/?request=...`
Example:
[code]

A response is returned which contains _another_ script that loads the content of the

[2020-08-07 15:45] Junebyun commented on #19793
Hi there! I agree with @juraj1000 "_On request_" works for me. :)

[2020-08-07 16:25] SimonGrn commented on #20494
Dear @c3do
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled here. Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thank you

[2020-08-07 16:25] #20494 closed, assigned to nobody

[2020-08-07 17:17] felixpe09 commented on #19245
I have de same problem!!

how did you solved the issue

thanks

[2020-08-07 17:41] piccarda commented on #19245
I felixpe09
Yes, I solved in this way
Piccarda

Da: felixpe09 <notifications@github.com>
Inviato: venerdì 7 agosto 2020 19:18
A: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: Piccarda Perelli <pperelli@datexit.com>; Author <author@noreply.github.com>
Oggetto: Re: [PrestaShop/PrestaShop] Shopping cart issues (#19245)

Solved!
I found the solution on a similar post.

"Solved! Not a Prest

[2020-08-07 21:56] florine2623 commented on #20496
Hi @dariusakafest ,
Could you explain exactly how I can reproduce the issue ?
Is the issue in the front in the cart or are you using the webservices ?
Thanks

[2020-08-07 22:14] florine2623 commented on #20495
Hi @marekjedrzejewski ,
Thanks for your report.
Is it possible that you send me your module so I can see what exactly is wrong ?
Thanks!

[2020-08-07 22:49] felixpe09 commented on #19245
I am so sorry,  I do not understand what I should do to fix the problem?
wich files should I look for?
Thanks.

[2020-08-07 23:14] ghost opened #20503 "contactform mail xss"
Edited by @PierreRambaud for security reasons.
Thank @tonius85 for the report.

[2020-08-08 00:04] ProteanCode opened #20504 "Does changing anything in admin panel (a config, a new plugin installation) will restart opcache?"
I am trying to optimize the performance of 1.7.6.4 instance and I am wondering if I can turn off automatic opcache reload (opcache.validate_timestamps=0).

I suppose that if I enable the OPCache in php.ini then I no longer need stuff like MemCached  / APC / XCached

I have read the docs at https://devdocs.prestashop.com/1.7/scale/optimizations/

[2020-08-08 05:24] sadgamaya commented on #20476
Thanks so much I followed the steps of what it showed and it worked,

Two questions if anyone can help me with

Q1:
The alignment in mobile is like this and unable to scroll the language options.
![image](https://user-images.githubusercontent.com/29230212/89703103-60f7d380-d965-11ea-85d0-bf353cd18e3f.png)

Q2: The language selection window is at footer, is there a way I could bring it to the top.

[2020-08-08 07:52] marekjedrzejewski commented on #20495
I'm not sure I could send the original module, but I extracted the important part into empty module. When module configuration is entered, you get this:
![Zrzut ekranu z 2020-08-08 09-49-59](https://user-images.githubusercontent.com/6793160/89705317-a6fc6980-d95c-11ea-99d3-e3135c909a75.png)
6 is id of pl in my shop, 7 and 8 are de and fr.

[langtest.zip](https://github.com/PrestaShop/PrestaShop/fi

[2020-08-08 09:51] piccarda commented on #19245
Hi
I searched into the theme translations, using back end, and I found this translation with a space between /1

Connected as [1]%firstname% %lastname%[/1]. Not you? [1]Log out[/1]

Removing the space, everything goes fine.
Piccarda

Da: felixpe09 <notifications@github.com>
Inviato: sabato 8 agosto 2020 00:49
A: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: Piccarda Perelli <pperelli@d

[2020-08-08 11:17] SimonGrn commented on #20504
Hello @ProteanCode
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) o

[2020-08-08 11:17] #20504 closed, assigned to nobody

[2020-08-08 12:10] elboletaire opened #20505 "You have requested a non-existent service "twig" after upgrading to 1.7.7.x"
#### Describe the bug

In 1.7.6, in modules' hooks, we'd easily access twig by doing this:

[code]

Allowing us to render custom twig templates on hooks, by just calling `render`:

[code]

After upgrading to 1.7.7 though, all my modules using this way to call twig started crashing with the error `You have requested a non-existent service "twig"`.

![imatge](https://user-images.githubusercontent.co

[2020-08-08 15:16] BeReal86 opened #20506 "Module manager empty when connected to Addons"
Hi,
Prestashop version 1.7.6.7

When I enter the module management section, the locations of the modules are shown separately. But when I connect to the prestashaop market, most of the module categories do not seem to exist.

https://drive.google.com/file/d/1dpbTLiIOoR9mTUqDIup3W0hsA_qJbd1u/view

the same problem exists with updates. Updates are 0 when logged in Upon logout, existing updates come

[2020-08-08 15:53] elboletaire commented on #20506
Is it a fresh install? You may need to upgrade the `ps_mbo` module.

[2020-08-08 16:01] elboletaire commented on #10066
I've just faced with this issue when trying to extend the `Order` class. There's currently no proper way to extend the Order class without touching this method. If you wanna do so (using overrides, which is the only possible way for now.. no hooks available either), you'll need to modify this file in order to properly store orders (at least using the Webservice to create the order, which is my use

[2020-08-08 16:17] Matt75 commented on #10066
@elboletaire Please provide example use cases in order to check if it currently possible and to help to write specs for refactoring.

Why you need to extend Order class and why you need to override this method ?

You be able to do that thanks to hook `actionEmailSendBefore` https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/classes/Mail.php#L154

[2020-08-08 16:20] Matt75 commented on #20506
Not related to module `ps_mbo`, this module does not manage the Module Manager.
This module manage only Module Selection, Theme Catalog and recommended modules.

[2020-08-08 16:23] rmilecki opened #20507 "Support getting available products from category"
#### Is your feature request related to a problem?

In some scenarios it may be desired to find category products that are **available** (quantity >= n). E.g. some shop owners may want `ps_featuredproducts` to list available products only as it's usually pointless to recommend something that can't be ordered.

#### Describe the solution you'd like

`Category`'s `getProducts()` should allow specify

[2020-08-08 17:22] elboletaire commented on #10066
My client requires additional fields on both the `Order` and the `Cart` entities, they have a custom shipping module (because the default shipping options didn't fit their needs), organizing regions of the city by zones, and they need to store information like the desired date & schedule chosen by the user on checkout. I know prestashop somewhat offers a way to create custom fields for the checkou

[2020-08-08 17:22] elboletaire commented on #20506
As said, was my mistake :upside_down_face:

[2020-08-08 17:54] Matt75 commented on #10066
All of this should be possible with hooks and a module without changes in core files and override.

Add custom fields on core tables in database is not a good practice.

You should create custom tables with foreign keys and manage data thanks to action hooks to populate database where needed in the process.

There are some shipping modules with advanced features like described already available on

[2020-08-08 18:07] elboletaire commented on #10066
I guess so, but as said, couldn't find the way to do it. You have to take in mind that not only prestashop is new for me, but also symfony, and my introduction to both worlds is a project which I still don't understand how is working. IDK how the old developer managed to make it work, as he changed internal stuff like the customers controller, copy pasting the customers controller file from presta

[2020-08-08 19:31] Matt75 commented on #10066
You can open issue on [devdocs](https://github.com/PrestaShop/docs), to request documentation improvements on specific sections, please provide scenario and context.

Use PrestaShop Forums to ask advices from others community developers.

You can also join the PrestaShop OpenSource chat (link available in Readme)

[2020-08-08 20:07] elboletaire opened #20509 "Hook `actionCartSave` does not receive proper cart data when being triggered from Webservice."
#### Describe the bug

The `actionCartSave` hook triggered on Cart save & update is not properly being initialized when being triggered as a result of a cart update using the Webservice.

![imatge](https://user-images.githubusercontent.com/153305/89718556-cd072580-d9bf-11ea-8a20-b908c102bb5e.png)

The problem seems to be related with the context being initialized later, but only when using the Web

[2020-08-08 20:28] elboletaire commented on #16482
This is somehow related to #20099. Having everything properly documented on release date is a must too.

[2020-08-08 21:15] elboletaire commented on #19590
Isn't this a duplicate of #19335 ?

[2020-08-08 21:38] elboletaire commented on #10069
To be [epic], this issue has too few content.

I'm really interested on this part, specially because I do only work with the webservice. But as I'm still a bit far away from knowing all the nooks and cranies of prestashop, I'll help as I can for now: making a summary of all the issues (more or less) that have been appearing about the webservice.

What's clear here is that the Webservice needs a to

[2020-08-08 21:40] elboletaire commented on #10066
Thanks, I'll have that in mind, although I do have enough work with my project and having to create an issue per day here in Prestashop :joy:. As said in the beginning.. I'm using the Webservice, and it has too much screwed things. Using hooks would be wonderful, but I'm starting to think it won't be possible given all the [problems in the webservice](https://github.com/PrestaShop/PrestaShop/issue

[2020-08-09 00:20] Matt75 commented on #10066
Of course, I understand and this is exactly same currently for us at PrestaShop.
We are an OpenSource so if you have some free time to give us feedbacks, it may help us to prioritize our very big backlog.
Especially on the devdocs.
I currently try since few weeks to improve our documentation about PaymentModule, first by updating our PaymentExample module, then by updating content in this section

[2020-08-09 07:31] Sasni commented on #10161
If I install Prestashop this way, how do I add the language later?

[2020-08-09 09:37] elboletaire commented on #19291
Yesterday, while adding the information to the `EPIC` issue about the webservice, I realized that this issue was already created back in 2018: #11053. One of the other should be marked as duplicate (I don't care if it ends up being this one, although this contains more comments and information).

Anyway, don't forget to check the [epic issue about the webservice](https://github.com/PrestaShop/Pres

[2020-08-09 09:41] elboletaire commented on #10066
I did realize yesterday when you were insiting on doing this in a module just after I insisted multiple times that it is not possible with the current webservice state :sweat_smile:

I know I can create a custom endpoint, but giving my current situation, I think I'll leave the hardcoded stuff. In the end, I will need to do a hack anywhere to properly save the stuff (again, using the webservice mos

[2020-08-09 12:39] prestaforum opened #20510 "Crash when using voucher with gift deleted"
#### Describe the bug

I create a voucher, it gives product "petite pochette" as gift to customer who uses it. Then I delete from back office the "petite pochette". When customer uses the voucher the prestashop crashes.

#### Expected behavior

The prestashop should tell user the voucher is not valid.

#### Steps to Reproduce

1. Go to back office
2. Create voucher, dont fill in code
3. Configure

[2020-08-09 14:00] Matt75 commented on #10066
Personally I stopped to use PrestaShop Webservices since years.

I recommend now a module to create new api endpoints with a dedicated authentification system, serializer and use CQRS as base to interact with PrestaShop core.

Since PrestaShop 1.7.3.0 you can [use Symfony container inside a module](https://github.com/PrestaShopCorp/ps_checkout/pull/349) to retrieve core services (only in backend n

[2020-08-09 14:30] Macrisu opened #20512 "Contact information module 3.3.0 error"
#### Describe the bug

Upgrade to 3.3.0 => error when I try to visit the index of the site.
The problem seems to be PS_contact_info
![error1](https://user-images.githubusercontent.com/16325429/89734632-f67a8c80-da65-11ea-84bd-1ad8aeaacfca.png)

(1/1) ContextErrorExceptionNotice: Undefined index: state
--
in 9992f3fe04dd41bcec1a2029cf07bead637caf4d_2.module.pscontactinfopscontactinf.php line 48

##

[2020-08-09 14:38] elboletaire commented on #10066
I'm aware of all that.. I actually use doctrine for my own queries. But, again, there are limitations on how the webservice classes are implemented, and a custom endpoint is a work I'm not gonna do now (implies also changing the frontend). Thanks again anyway :wink:

[2020-08-09 17:42] Matt75 commented on #10066
Get ride out legacy PrestaShop webservices, my last answer is about using ModuleFrontController to create api endpoint (like we do for PaymentModule who deals with an API) without using any legacy PrestaShop Webservices.

ModuleFrontController has no limitation to access Service Container instead of Webservices.

Use ModuleFrontController only to receive the request, retrieve a service in containe

[2020-08-09 18:50] ibrahimfsasmaz opened #20513 "Prestashop 1.7.6.5 reserved product error"
Hello,

I am not sure how we produce that error but when go and check "catalog>stocks" , we have much more reserved products than real reserved products number.
I mean for example the product X has only 1 backorder when we check from orders list , but the reserved product X number is 4 when we check from the catalog>stocks

how can we fix that error pls ?

[2020-08-10 07:21] matks commented on #20505
First of all, thanks for trying 1.77. beta 😄

It looks like the modules that used to be loaded on Symfony context were loaded on legacy context 🤔   could you mention one of the hooks you are using, to allow me to try to reproduce it ?

It makes me think it might be useful to provide some helper functions to debug this situation. Examples:
[code]

[2020-08-10 07:51] khouloudbelguith commented on #20513
Hi @ibrahimfsasmaz,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-08-10 07:51] #20513 closed, assigned to nobody

[2020-08-10 08:27] marionf commented on #10069
Thank you for the huge work on this issue @elboletaire
Do you feel to fix some of these issues ?

[2020-08-10 08:31] khouloudbelguith commented on #20506
Hi @elboletaire,

I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
https://drive.google.com/file/d/1KZ8YJK2gyrcrE7jmoI-1aw4MXaAKoZAx/view?usp=sharing
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP err

[2020-08-10 08:58] khouloudbelguith opened #20517 "FO - Cannot create an order as a guest - "Password must be between 5 and 72 characters long" but it is optional"
#### Describe the bug

In the FO, when we try to order as a guest, the **Optional field** password cannot be empty

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO => Add some products to the cart
2. Proceed to checkout
3. Create an account without a password (as a guest)
4. Click on continue
5. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/1

[2020-08-10 09:02] khouloudbelguith commented on #20517
PIng @PrestaShop/qa-automation

[2020-08-10 09:06] SimonGrn commented on #20506
Hello @BeReal86

it seems connecting to Addons completely break the module manager. What is the account you're using in the video ? Does it happen with another account too ?

[2020-08-10 09:06] khouloudbelguith commented on #20512
Hi @Macrisu,

I did not manage to reproduce the issue with PS1.7.6.7 and ps_contactinfo module v3.3.0.
I attached a screen record
https://drive.google.com/file/d/1j9pqY0gdN9siedVu4yTGakOX5TMqiz43/view?usp=sharing
Could you please try to re-install the ps_contactinfo module, clear cache, check, and feedback.

Thanks!

[2020-08-10 09:11] khouloudbelguith commented on #20294
Hi @sarahdib, @marionf,

This issue is reproduced with PS1.7.6.7. and contactinfo module v3.3.0.
It is ok with Develop branch and 1.7.7.x branch.
I think we should re-open the issue, is it?

Thanks!

[2020-08-10 09:12] khouloudbelguith commented on #20505
Ping @PrestaShop/prestashop-core-developers

[2020-08-10 09:14] marionf commented on #20294
@khouloudbelguith

Could you check if it's working with ps_contactinfo 3.2.0 and PS 1.7.6.7 ?

[2020-08-10 09:25] khouloudbelguith commented on #20510
Hi @prestaforum,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
https://drive.google.com/file/d/1gY9jwIBAAfGsnqeCtPOZlndURW9Vmu1G/view?usp=sharing

Thanks to check and feedback.

[2020-08-10 09:37] khouloudbelguith commented on #20507
Hi @rmilecki,

Your ticket is a duplicate of #16386
Please follow: https://github.com/PrestaShop/PrestaShop/issues/16386#issuecomment-553851735
So, I close it.
Thanks !

[2020-08-10 09:37] #20507 closed, assigned to nobody

[2020-08-10 09:37] khouloudbelguith commented on #20507
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/16386#issuecomment-553851735

[2020-08-10 09:44] marionf commented on #19594
All issues are fixes, I close this EPIC

[2020-08-10 09:44] #19594 closed, assigned to nobody

[2020-08-10 09:47] BeReal86 commented on #20506
Hello @SimonGrn @khouloudbelguith

I'm experimenting in two different places. my first attempts on xampp then on a hosting site.
Server information Windows NT build 19041 (Windows 10) AMD64
Server software version: Apache/2.4.43 (Win64) OpenSSL/1.1.1g PHP/7.2.32
PHP version: 7.2.32
MySQL version: 10.4.13-MariaDB

<img width="531" alt="Screenshot_12" src="https://user-images.githubusercontent.com/1

[2020-08-10 09:55] dariusakafest commented on #20496
@florine2623 No, i used in simple php file, created, new Cart and call this method

[2020-08-10 09:56] Matt75 commented on #20506
@BeReal86 Caution, your password is visible on your screenshot in the url of Addons Webservices. ⚠️
Please change your password on this account and others accounts where you use same password.

[2020-08-10 10:04] khouloudbelguith commented on #20509
Hi @elboletaire,

I did not manage to reproduce the issue with PS1.7.6.7.
I attached a screen record
https://drive.google.com/file/d/182o6YNJ3uWRA9JEmA2IN2ut3oyTwC7qH/view?usp=sharing

Thanks to check and feedback.

[2020-08-10 10:04] BeReal86 commented on #20506
@Matt75  Thanks, I apologize for not being careful. I changed my password.

[2020-08-10 10:05] elboletaire commented on #20505
It happened all my hooks printed from twig views, i.e.:

- `displayAdminOrderSide`
- `displayAdminCustomers`
- `displayAdminProductsMainStepLeftColumnMiddle`

These are the one I have implemented and all them were crashing, I guess it's related to all hooks loaded from twig views.

[2020-08-10 10:16] pixelicous commented on #13823
Could be nice to add "price conditions" on products by zone, and not specific countries

[2020-08-10 10:17] khouloudbelguith commented on #20503
Hi @tonius85,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2020-08-10 10:20] elboletaire commented on #10069
Not yet, as previously said, I'm still kinda newbie. Also, there's stuff which might go before this.

i.e. I don't know what are your plans for the `ObjectModel` nor the database instance. Is prestashop gonna move towards using doctrine? Or will only update the objectmodels to internally use doctrine? If so, is there any issue/PR working on it? I feel like I could help there. Let me know if it's p

[2020-08-10 10:22] elboletaire commented on #20509
Can you please explain me the exact steps you followed? I have reproduced this both in prestashop 1.7.6 and prestashop 1.7.7 (clean installs using docker), and both times got the same result.

Are you using a fresh install? Or maybe you have some setting that could affect this behavior?

[2020-08-10 10:24] elboletaire commented on #20509
Err... In you video I can clearly see how the "Cart" object has null records. Are you sure it worked for you? :thinking:

[2020-08-10 10:53] khouloudbelguith commented on #20496
Hi @dariusakafest,

Could you please provide us the exact file that you used?

Thanks!

[2020-08-10 10:56] Matt75 commented on #10069
Webservices will be deprecated in favor of a new API based on CQRS but this is a lot of work, currently not specified. I thinks this couldn't be done before next major version...

I recommend you to read articles of this section : https://build.prestashop.com/news/prestashop-in-2019-and-beyond-introduction/

[2020-08-10 11:01] khouloudbelguith commented on #20495
Hi @marekjedrzejewski,

Your ticket is a duplicate of #17125
So, I close it.
Thanks!

[2020-08-10 11:01] khouloudbelguith commented on #20495
Duplicate of #17125

[2020-08-10 11:05] khouloudbelguith commented on #20490
Hi @VeeK727,

Did you use an Nginx server?
I think your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/10178#issuecomment-458094643
Thanks to check and feedback.

[2020-08-10 11:06] khouloudbelguith commented on #20208
Hi @jrpp18,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2020-08-10 11:06] #20208 closed, assigned to nobody

[2020-08-10 11:13] khouloudbelguith commented on #20506
Hi @BeReal86,

About this error
`[2020-08-10 12:24:40] php.CRITICAL: Uncaught Notice: SessionHandler::gc(): ps_files_cleanup_dir: opendir(/var/cpanel/php/sessions/ea-php72) failed: Permission denied (13) {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\ContextErrorException(code: 0): Notice: SessionHandler::gc(): ps_files_cleanup_dir: opendir(/var/cpanel/php/sessions/ea-php72) failed:

[2020-08-10 11:17] khouloudbelguith commented on #20509
@elboletaire, I have this
[CRUD Tutorial - Create cart.pdf](https://github.com/PrestaShop/PrestaShop/files/5050497/CRUD.Tutorial.-.Create.cart.pdf)

Thanks!

[2020-08-10 11:26] khouloudbelguith commented on #20294
@marionf, yes it is ok with PS1.7.6.7 and ps_contactinfo v3.2.0.

Thanks!

[2020-08-10 11:29] elboletaire commented on #20509
Your cart data is all set to null, as I stated in the issue

![imatge](https://user-images.githubusercontent.com/153305/89778197-642dc380-db0d-11ea-9679-eb143fa914ab.png)

There should be no `null` value, but the information you sent via XML on request already set on the `Cart` object.

[2020-08-10 12:00] BeReal86 commented on #20506
after a clean install and reset all everything
I mentioned before, I don't know why it stems. but after installation I chose Turkey as the country stands out in my installation white pages.
setlocale(LC_CTYPE, $locale.'.UTF-8', $locale.'.utf8');  to do //setlocale(LC_CTYPE, $locale.'.UTF-8', $locale.'.utf8');
After changing the code, the problem is solved as in the video. Is this a problematic act

[2020-08-10 12:00] PierreRambaud commented on #20503
Hi and thanks for your report.

The problem seems to come from the contactform module.

About magic quote gpc, since PrestaShop does not support PHP 5.3, we will not take into consideration this part.
https://www.php.net/manual/en/info.configuration.php#ini.magic-quotes-gpc

Kind regards

[2020-08-10 12:01] Djonivan opened #20519 "Error from psgdpr module when installing in russian language and Ukraine country"
#### Describe the bug

psgdpr1: Unable to install module "psgdpr", Tab-> name property is 70 characters long. Must be between 0 and 64 char.

#### Expected behavior

successful installation as in English.

#### Steps to Reproduce

Installing Prestashop using the installation assistant.
Russian language;
Country Ukraine.

**Screenshots**

http://prntscr.com/tx47ti
http://prntscr.com/tx485s
http://p

[2020-08-10 12:04] sarahdib commented on #20506
Hello @BeReal86

Thank you for your feedback.

I close this issue feel free to open a new one!

Thanks!

[2020-08-10 12:05] #20506 closed, assigned to nobody

[2020-08-10 12:26] matks commented on #20246
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20335

[2020-08-10 12:26] #20246 closed, assigned to jolelievre

[2020-08-10 12:27] marionf commented on #20294
Thank you @khouloudbelguith
So, I reopen this issue, it should be fixed in the next release of the module

[2020-08-10 12:27] VeeK727 commented on #20490
Its similar but not same. As Simon pointed out, it is indeed a theme issue. I changed to classic theme and no problem there. I contacted the theme developers and they issues a fix for it. I'll mention it here in case someone ends up with the same problem.

in file: **themes/THEMENAME/modules/ps_crosselling/views/templates/hook/ps_crosselling.tp**
Change
`{include file="catalog/_partials/miniatures

[2020-08-10 12:27] #20490 closed, assigned to nobody

[2020-08-10 12:32] #19733 closed, assigned to nobody

[2020-08-10 12:32] #16339 closed, assigned to nobody

[2020-08-10 12:33] #19811 closed, assigned to nobody

[2020-08-10 12:35] marionf commented on #19842
Fixed by https://github.com/PrestaShop/ps_emailalerts/pull/58

[2020-08-10 12:35] #19842 closed, assigned to Progi1984

[2020-08-10 12:36] #19849 closed, assigned to nobody

[2020-08-10 12:39] marionf commented on #20109
Hi @Hlavtox
Is this issue fixed by https://github.com/PrestaShop/ps_facetedsearch/pull/177 ?

[2020-08-10 12:58] ngodefroy opened #20520 "[BO] [Vouchers]+[Discount] Error 500 when opening the pdf voucher"
Trying to add a discount when a voucher has been applied generate an error when opening the voucher

#### Expected behavior

I apply a client voucher then give him a 10% discount.
When I go to the vouchers window, I should be able to click on the voucher link and a new tab should open with a pdf voucher.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. After placing an order, go to o

[2020-08-10 13:03] khouloudbelguith commented on #20520
Hi

Same issue in the PS1.7.7.x

Thanks!

[2020-08-10 13:12] matks commented on #20359
@SimonGrn @boubkerbribri Other ideas to start covering hooks behavior into Playwright tests (might be another topic, please tell me if you want me to create a new issue)

## Test display hooks

We could perform the following steps:
1. when prestashop is installed, load and install module ps_qualityassurance
2. configure ps_qualityassurance to be hooked on ALL display Hooks with a specific div stru

[2020-08-10 13:18] marionf commented on #14522
@khouloudbelguith It seems to be a duplicate of #18533
Could you please verify ?

[2020-08-10 13:28] khouloudbelguith commented on #20509
@elboletaire, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.1, PS1.7.6.7 and 1.7.7x branch.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-08-10 14:00] ngodefroy opened #20522 "[Profile Edit][Responsive] unreachable on migrated pages from size 1023x1037"
#### Describe the bug

Depending on the size of my screen on migrated pages, I am not able to see the profile edit icon

#### Expected behavior

Being able to see the edit profile on various devices with screen size from 1023*1037 and less on migrated pages

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Open a migrated page and set your screen size to 1023*1037 or less
2. See the p

[2020-08-10 14:00] khouloudbelguith opened #20523 "Free shipping - An exception is displaying after adding a product to the cart and processing to checkout"
#### Describe the bug

After creating a new cart rule "Free shipping", an exception is displayed after adding a product to the cart and processing to checkout

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Create a cart rule "free shipping" without code
2. Go to the FO => Add some products to the cart
3. Go to the checkout page
4. See error

If you try to create a cart rule w

[2020-08-10 14:03] marekjedrzejewski commented on #20495
Doesn't seem like a duplicate to me. The other one is about strings that are in database after adding new language. Here it's about translations using last language (not the first one) for module, when nothing with languages in shop is changed. And I'm not even touching database (I plan to, but the issue is not about this). It's about behavior of _getModuleTranslation()_ which doesn't look entirel

[2020-08-10 14:04] khouloudbelguith commented on #14522
Hi @marionf,

I cannot check this ticket now, it is blocked by this issue:
https://github.com/PrestaShop/PrestaShop/issues/20523

Thanks!

[2020-08-10 14:06] SimonGrn commented on #20359
The first part seems pretty easy, with just a few tricks I guess we can automate all of this.
Second part is as you mentioned yourself, a bit more tricky. A bit. Currently we don't have the time nor the resources to work on this kind of project.
We can try to make your first suggestion with a "nice to have" priority. That's all I can offer at the moment, sadly :(

[2020-08-10 14:11] khouloudbelguith commented on #20519
HI @Djonivan,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2, PS1.7.6.7 and 1.7.7.x branch.
![image](https://user-images.githubusercontent.com/16067358/89791822-15d7ef00-db24-11ea-97ff-0e4ec90a5f48.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-08-10 14:16] khouloudbelguith commented on #20522
Hi @ngodefroy,

I manage to reproduce the issue with PS1.7.6.7.

Thanks!

[2020-08-10 14:17] matks commented on #20359
On Playwright side, the things to do are

For "display hooks"

- automate "install module X"
- detect divs exist in DOM

For "action hooks"

- automate "install module X"
- send a HTTP request to a API endpoint provided by ps_qualityassurance and perform assertions against given answer

ps_qualityassurance work is on our side 😉

[2020-08-10 14:19] SimonGrn commented on #20359
Thing is this is a whole new campaign, and we would like to finish what we already have in the pipe before starting something else. This is an interesting topic, for sure, be we currently have at least 3 interesting topics to explore too :(

[2020-08-10 14:22] matks commented on #20359
I dont know ... in theory, since prestashop business relies on modules and themes correct behavior (this is where the money come from 😄 ) we could consider than ensuring the most important hooks should be tested into sanity tests ?

Dont go for the big picture immediately 😊  we could do a small POC for the most critical hooks (modok can tell us "the most used hooks in prestashop") and then slowly

[2020-08-10 14:25] matks commented on #20520
Should be fixed by https://github.com/PrestaShop/PrestaShop/pull/20524

[2020-08-10 14:27] khouloudbelguith commented on #20523
After re-installing the shop, the issue doesn't exist anymore.

THanks!

[2020-08-10 14:27] #20523 closed, assigned to nobody

[2020-08-10 14:28] SimonGrn commented on #20359
I guess this is a more interesting approach, however I can assure you all the other topics in the pipe are kinda important as well... we're lacking firepower, that's why I'm so desperately looking for a new automation engineer :stuck_out_tongue:
Automating the installation of modules is something we don't know if we should automate using the UI as it's really brittle, and I wanted to keep it on th

[2020-08-10 14:29] khouloudbelguith commented on #14522
@marionf, yes it is fixed in the 1.7.7.x.
![image](https://user-images.githubusercontent.com/16067358/89793856-9d266200-db26-11ea-9416-8d8707b9e32e.png)

I will close the issue.

[2020-08-10 14:29] #14522 closed, assigned to khouloudbelguith

[2020-08-10 14:29] nasimic opened #20525 "Select box bug on User's Language selection [Admin Panel]"
Version : 1.7.6.7
![image](https://user-images.githubusercontent.com/55084308/89793476-f8f8e700-db36-11ea-8984-7d0b1b690ce8.png)

`<selectid="employee_language" name="employee[language]" class="custom-select">
    <option value="1">English (English)</option>
    <option value="2">Türkçe (Turkish)</option>
</selectid="employee_language">`

To fix add space between 'select' and 'id'

[2020-08-10 14:29] khouloudbelguith commented on #14522
Duplicate of #18533

[2020-08-10 14:32] khouloudbelguith commented on #20525
Hi @nasimic,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade yo

[2020-08-10 14:32] #20525 closed, assigned to nobody

[2020-08-10 14:40] marionf commented on #14522
Thank you @khouloudbelguith :+1:

[2020-08-10 14:45] khouloudbelguith commented on #20476
Hi @sadgamaya,

On this github repository there is no software support. This is an open source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

Thanks!

[2020-08-10 14:46] Djonivan commented on #20519
Unfortunately I'm not a developer, I'm a marketer and an HTML-CSS layout designer. I also almost don't know English :)

[2020-08-10 15:11] khouloudbelguith commented on #20495
@marekjedrzejewski, I tried with your module, I have this
![image](https://user-images.githubusercontent.com/16067358/89798455-7f5bfb80-db2c-11ea-89df-c86689748a2a.png)
My languages are
![image](https://user-images.githubusercontent.com/16067358/89798520-90a50800-db2c-11ea-8d90-059651e5601f.png)

Thanks!

[2020-08-10 15:19] 8ternity commented on #16004
@LouiseBonnard Any updates on the last comment?

[2020-08-10 15:24] ngodefroy opened #20526 "[CONTACT US][TRAD] update the default description currently in latin"
#### Describe the bug

When I click on contact page, i can see two text accompanied with a checkbox that have latin instead of english description.

#### Expected behavior

Update by default the english description

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to contact page gb/contact-us

**Screenshots**

![image](https://user-images.githubusercontent.com/69145330/89799685-17

[2020-08-10 15:25] marekjedrzejewski commented on #20495
Can't see this image. All alpha channel shows up for me.

[2020-08-10 15:28] khouloudbelguith commented on #20495
@marekjedrzejewski, I just updated my last comment.

Thanks!

[2020-08-10 15:36] marekjedrzejewski commented on #20495
Did you provide russian translation to it? If you added another language without translating anything would it show english or russian one?

[2020-08-10 15:39] khouloudbelguith commented on #20495
@marekjedrzejewski, it shows in Russian,
https://drive.google.com/file/d/1ua8oCgVv6hAjM7nfonh8jGMDwW0FzXjM/view?usp=sharing

Thanks!

[2020-08-10 15:46] marekjedrzejewski commented on #20495
Well, that looks more like thing I'm looking for, but doesn't work for me that way.

I added russian and finnish and 'translated' the french string and I get this:

`array ( 1 => 'Translation fallback test', 6 => 'Test rezerwowych tłumaczeń', 7 => 'Test rezerwowych tłumaczeń', 8 => 'translation french', 9 => 'translation french', 10 => 'translation french', )`

[2020-08-10 16:01] ngodefroy opened #20527 "[Order History][Reorder button] the discount isnt reconducted"
#### Describe the bug

When trying to reorder a product with a discount, the discount isnt reconducted and you have to manually add the discount.

#### Expected behavior

When clicking on the reorder button from order history, the exact same order should be placed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. In the FO, Place an order
2. In the BO, add a discount to that order
3.

[2020-08-10 16:28] matks opened #20528 "CORS issue on BO 1.7.7, cookie for prestashop.com"
#### Describe the bug

It seems a Cookie is set for prestashop.com inside the BO. It is not properly configured so Chrome blocks it (CORS issue). Moreover ... why is there a cookie for prestashop.com there ? 😅

#### Expected behavior

Open dashboard, see no warnings inside Console.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Dashboard with Chrome, open console
2. Refresh p

[2020-08-10 16:29] SimonGrn commented on #20495
Hello,

Please check your problem in 1.7.6.7 which is the latest available version. If it's fixed in 1.7.6.7 we will close this issue.

Thanks!

[2020-08-10 16:55] marekjedrzejewski commented on #20495
I just checked with this: https://github.com/PrestaShop/docker, which has the 1.7.6.7.

For languages
1-pl, 2-fr, 3-hr, 4-en, 5-es, 6-cs, 7-sv
I get:
`array ( 1 => 'Test rezerwowych tłumaczeń', 2 => 'Test rezerwowych tłumaczeń', 3 => 'Test rezerwowych tłumaczeń', 4 => 'Langtest', 5 => 'Langtest', 6 => 'Langtest', 7 => 'Langtest', ) `

So the same behavior as with later versions.

[2020-08-10 18:04] cyberax88 commented on #20519
Hi,

I've got the same error when trying to install, it got stacked at 67% with the error below:

![Capture](https://user-images.githubusercontent.com/69478671/89815232-19cc3700-db4d-11ea-8be3-ee18d9017a77.JPG)

[2020-08-10 19:03] tonius85 commented on #20503
Hi thanks for your response,

Indeed the way 2 is obsolete with magic quote and corrected in an 1.7.6.X

For example
Version 1.7.6.4
`'{message}' => Tools::nl2br(stripslashes($message)),`

And version 1.7.6.7
`'{message}' => Tools::nl2br(Tools::stripslashes($message)),`

Good job and thanks 👍

[2020-08-11 02:42] jesusemarquezz commented on #18099
Hi, I have the same problem, what additional information do you require to help me with this problem?

this is my version of php:
`PHP 7.1.33-17+ubuntu20.04.1+deb.sury.org+1 (cli) (built: Aug  7 2020 14:47:49) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.1.33-17+ubuntu20.04.1+deb.sury.org+1, Copyright (c) 1999-

[2020-08-11 07:15] PierreRambaud commented on #20503
@tonius85 Thanks a lot

[2020-08-11 07:33] jonpontet opened #20531 "Inaccurate stock values for products with variations"
#### Describe the bug

This issue only appears to pertain to products that have variations.

The consequence of such products is multiple lines in the stock_available table.

Thus, we have different stock values in every location in the dashboard: Product List, Product Details, Statistics,  Stock Management.

The values match each other on the Product Details and Stock Management -  and **these ar

[2020-08-11 07:36] PierreRambaud commented on #20359
I'm not in favor of adding this kind of tests in playwright / sanity, this is something that must be done with unit tests.
The main reason is, display & action hooks are already tested because we install PrestaShop with all our native modules:
- https://github.com/PrestaShop/ps_facetedsearch/blob/master/src/Hook/Category.php#L34
- https://github.com/PrestaShop/ps_facetedsearch/blob/master/src/Hook

[2020-08-11 07:43] SimonGrn commented on #20527
Hello @PrestaShop/prestashop-product-team is this the intended behavior ?

[2020-08-11 07:48] matks commented on #20359
The recent release of 1.7.6.7 proved that unit tests are not enough. If we had JS unit tests on event being dispatched, they would have been green for 1.7.6.6 even though the JS event would not be catched by modules listening to them.

Unit tests are more accurate and indeed if we could unit test the very logic of hooks it would be good, but we need another way to assert that, in a shop/applicatio

[2020-08-11 07:48] SimonGrn commented on #20519
Hello, this is not the same problem. Your MySQL server seems to have gone away, which means it couldn't keep up. Are you testing this in a local environment ? You don't have enough computing resources.
Please open your own issue if you think this is a real issue from PrestaShop and not a problem lying in your own environment.

[2020-08-11 07:55] go-sudo commented on #15763
Hi
Same thing for me, works with Firefox and not chrome
Regards

[2020-08-11 07:59] SimonGrn commented on #20359
Thing is, a hook is a "low level" feature, which can only be correctly tested through a "high level" test (UI).
So... who's responsible for this :stuck_out_tongue_closed_eyes: ?
On a more serious note, I don't think it's **that** useless to test a _few_ hooks through UI tests and put that in the sanity campaign.
In the long term, we could have a dedicated campaign testing all the hooks, after all

[2020-08-11 08:02] PierreRambaud commented on #20359
We don't have unit tests in the front this is why we had not caught it :sweat_smile:

Any application must be unit tested then, use integration tests when it's a low level tests.
End to End or UI tests must be as simple as possible and represent what users will do :thinking:

We must combine test suites (units => integration => UI tests), and currently, in our UI tests, we are already testing hook

[2020-08-11 08:05] PierreRambaud commented on #20503
I'm closing this issue, we are currently using GitHub Advisory to manage this issue.
Thanks again @tonius85

[2020-08-11 08:05] #20503 closed, assigned to nobody

[2020-08-11 08:12] matks commented on #20359
The issue was inside bundled JS code, not source code. Unit and integration tests do not test the compiled code, do they ?

What is worse: du to the nasty nature of the bug, Core Javascript would receive the event but not 3rd party modules because the JS crash happened later.

A user _will_ install custom theme and custom modules and he expects them to work if they are valid. In 1.7.6.6 a valid mo

[2020-08-11 08:19] marionf commented on #20527
@ngodefroy
If you configure a cart rule without a code, it should be reused automatically when you reorder (if the conditions are still met, for exemple expiration date, total quantity, quantity per user etc ...)
If you configure a cart rule with a code, it shouldn't be reused automatically and should be re-added manually by the customer in the cart by clicking on "Have a promo code ?"
Did you use

[2020-08-11 08:27] PierreRambaud commented on #20359
It's like saying all our integrations tests / unit tests are useless because they don't test cached files. If the problem is inside a bundled JS file, it's also in the source code, otherwise you have no way to fix it :thinking:

This is already something we test with our native modules, we check that all our hooks and features are working with the user experience.

Unit tests => this means all pos

[2020-08-11 08:28] SD1982 opened #20533 "BO - Order / Product price is incorrect after adding a cart rule"
#### Describe the bug

In BO after a product price edit if we add a discount the product price is incorrect

#### Expected behavior

The product price should be correct

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a product with price => 14.30 € for example
2. Go to FO and create an order with the previously created product
3. Go to BO and go to the previously created orde

[2020-08-11 08:29] SD1982 commented on #20533
@PrestaShop/prestashop-product-team this issue is probably related to #19490

[2020-08-11 08:35] cyberax88 commented on #20519
Hi,

I'm not testing in my own environment, I tried to instal it into online
hosting platform. With the previous Prestashop version, everything works
well.

Regards

On Tue, Aug 11, 2020, 10:49 Simon G. <notifications@github.com> wrote:

[2020-08-11 08:36] marionf commented on #20533
Hello @SD1982
As the behavior is different of 1.7.6 I add the regression label
Yes, it seems related, maybe it will be fixed by https://github.com/PrestaShop/PrestaShop/pull/20145, could you try to reproduce the issue with this PR ?

[2020-08-11 08:45] khouloudbelguith opened #20534 "BO - Order page - Invalid cart rule provided."
#### Describe the bug

In the BO => Order details page => When we try to remove a discount, an exception is dispalyed
![image](https://user-images.githubusercontent.com/16067358/89874994-f3de7b00-dbbc-11ea-87f0-ed9dd743b78d.png)

#### Expected behavior

The discount should be well removed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a cart rule (Any type)
2. Go to FO => ad

[2020-08-11 08:47] marekjedrzejewski commented on #20495
I found out that if I only comment out $_MODULES from global, but leave rest as is I get translations in the form I would expect - whatever has translation shows the translation, otherwise it's showing original string. This includes English, unlike when everything was made local.

` array ( 1 => 'ONLY TRUE ENGLISH TRANSLATION', 2 => 'Translation fallback test', 3 => 'Test rezerwowych tłumaczeń', 4

[2020-08-11 08:55] jolelievre commented on #20462
Fixed by #20482
Thank you @atomiix @SD1982

[2020-08-11 08:55] #20462 closed, assigned to atomiix

[2020-08-11 09:06] khouloudbelguith commented on #20256
Hi @ks129,

Since we had no news from you more than 20days, I will close the issue, feel free to open a new one when needed.

Thanks!

[2020-08-11 09:06] #20256 closed, assigned to nobody

[2020-08-11 09:08] khouloudbelguith commented on #20275
Hi @orangepixsamuele,

Since we had no news for more than 20 days, I will close the ticket. Feel free to open another one if you can give us specific details.

Thanks!

[2020-08-11 09:08] #20275 closed, assigned to nobody

[2020-08-11 09:17] Hlavtox opened #20535 "Unify sorting options for all pages"
In current state, there is a huge mess in a way product sorting options are defined and configured.

**Context**
- Category without faceted search has some options
- Faceted search sets it's own
- Every controller like new products, best sellers etc. has it's own
- Then, you can configure default sort in Prestashop setting

**How it behaves**
1. I currently have set in my PS settings my default so

[2020-08-11 09:24] Hlavtox commented on #20510
@prestaforum @khouloudbelguith https://github.com/PrestaShop/PrestaShop/issues/15224

[2020-08-11 09:34] Hlavtox opened #20536 "Merchant should be able to set delivery information for each combination"
Related to https://github.com/PrestaShop/PrestaShop/issues/23659

#### Is your feature request related to a problem?

Yes, I cannot set different "label when out of stock and back order allowed" (available_later) text for different combinations of products.

- I am selling a t-shirt with three combinations - S, M, L.
- I have only **S** size in stock.
- The supplier has only **M** in stock.
- The

[2020-08-11 09:38] Hlavtox commented on #20109
Hi @marionf,

no it did not fix it. There is no variable in the code that holds remaining product count I think, we would need to calculate. Maybe it was somehow forgotten during refactoring. :-)

Ping @PierreRambaud

[2020-08-11 09:40] matks commented on #19956
🆙

[2020-08-11 09:48] mamoot64 commented on #19743
any update on this ?

[2020-08-11 10:33] matthieu-rolland commented on #19956
Hello @Hlavtox , thank you for the issue, I just tried to reproduce it, but I didn't manage, here's what I did:

1/ In BO, I created a cart rule with free gift
2/ In FO, I added one product in my cart, meeting the conditions for the free gift
3/ In FO, cart page, I see that the free gift is correctly added, and when I call `$this->context->cart->getProductsWithSeparatedGifts()`, I see that the pro