[2019-06-05 14:35] colinegin commented on #14037
@MatShir wdyt ?
If i'm correct, this page had not been anticipated (another one...), so you should add it to our document and change the roadmap according to it.

[2019-06-05 14:36] 202-ecommerce opened #14085 "Shop url with port"
**Describe the bug**

When a server send a request with an host with port in HTTPS, Prestashop don't found the shop and send a redirection to HTTP url.

For instance when ATOS send a validation to the controller of Franfinance module (and probably Atos / atos3x), his HTTP header is :

HOST: www.my-prestashop.tld:443

Then the Shop::initialize method try to find in shop URL $host with Tools::getHtt

[2019-06-05 14:56] matks opened #14086 "Help developers to deploy a shop from the sources"
**Is your feature request related to a problem? Please describe.**
Today, when a developer wants to improve the prestashop project he clones this git repository and opens a PR.

But if he wants to deploy a new shop for a customer (or himself), he rather downloads the zip archive from prestashop.com as it is "production-ready".

Then, if he wants to modify the shop, he does it from the zip. Usually

[2019-06-05 15:11] netpalantir commented on #11784
You need to restart php7.x-fpm :-) That did the trick for me.

[2019-06-05 15:28] colinegin commented on #11389
@matks can I close this issue ? It seems like the related PR has been merged !

Thanks

[2019-06-05 15:29] matks commented on #11389
No, the PR solves it partially only 😄

[2019-06-05 15:33] colinegin commented on #11389
Damn it !
Do you think you can update the description so that we know what's left and that there is another PR needed ?

[2019-06-05 15:41] #12771 closed, assigned to nobody

[2019-06-05 15:41] rateforx opened #14087 "Display Module name in the page title when configuring it in Module Manager"
When you're configuring a module the page title says `Module Manager - My Shop`. When I am configuring multiple modules at the same time on different tabs its impossible to say which tab belongs to which module without checking the tab.

It would be really helpful if the page title was more descriptive eg.: `Module name configuration - Module Manager - My Shop` or just `Module name configuration -

[2019-06-05 16:11] ghost commented on #14066
Hi @marionf,
In the ps_legalcompliance module, there is a feature adding "From" to the price in the products list.
So you get "From xx€"

Do you know how it works? is it displaying the lowest discounted price or the price of the lowest combination ?

[2019-06-05 16:25] roja45 opened #14088 "Updating a third-party module overwrites any custom translations made."
**Describe the bug**
Install a third-party module (that uses the legacy translations)
Update a translatable field.
Install the module again to simulate an update.
The translation is lost.

Previously the updated translation would be saved in the theme directory.  Unless I'm missing something you are now saving it in the module directory, which means if you have made any translation changes, you ca

[2019-06-05 16:34] colinegin commented on #9503
We have a meeting with a SEO expert next week, i'll talk with him about it and see if we prioritize this issue for 1.7.7.

@jolelievre what do you think ? Were you aware of this missing canonicals ?

[2019-06-05 17:29] cherma1972 opened #14090 "bug since update facetedsearch 3.0.2"
since the 3.0.2 update the formatting is not working anymore.
Characteristics exceed checkbox mode and in drop-down mode nothing is displayed normally
in case mode, everything is ticked in advance and decalled by one line.
the titles of the characteristics are shortened and do not appear completely.
everything is in bold

before  without update, module v2.2.1
![Capture20](https://user-images.githu

[2019-06-05 17:39] 202-ecommerce commented on #14085
we've made a pull request to verify if your CI an your tests cover this part of the code and maybe help us to fix this bug.

[2019-06-05 18:27] centoasa commented on #14066
@marionf I must admit it: your reasoning does not take a turn!
@samuel-pires please explain us better! on my 1.7.5.2 I cannot see this feature!

[2019-06-05 18:41] AminPersis commented on #14068
@khouloudbelguith
Hello,

I still have this issue in the backoffice and can't fix it.
Any help is appreciated

![Back Office](https://user-images.githubusercontent.com/51361765/58981228-a3120c00-87da-11e9-8528-89416fa76577.jpg)

Best Regards
Amin

[2019-06-05 18:51] mwijngaard commented on #9809
Hi @khouloudbelguith . I think I'm having the exact same problem (PS 1.7.5.1). A function trace shows that it's definitely due to the number of product combinations. I don't see how categories (mentioned elsewhere in the thread) have anything to do with it. What happens is that the system is building up a single huge form, containing all the product combinations as subforms twice, of which the fir

[2019-06-05 19:43] Quetzacoalt91 commented on #13731
See #14091

[2019-06-05 20:10] PierreRambaud commented on #14082
Hi and thanks for your feedback.
I create an pull request to fix this issue: https://github.com/PrestaShop/ps_facetedsearch/pull/86
But still working in progress, we need to add unit tests before to prevent regression in the future.

@khouloudbelguith @marionf Don't know if this one is a duplicate (can't search due to my internet connection).

[2019-06-05 21:14] dpalauzov commented on #11086
Hi Guys,

I've experienced the same issue.

1. I did a test order, without registering the account
2. Deleted the account and cancelled the orders
3. New user created account and 3 of those orders were assigned to him with my test shipping addresses.

Have a look at the screenshots and the dates of the ordes and the date of the registered user.
![orders date](https://user-images.githubusercontent.

[2019-06-05 21:28] aurelienharinck opened #14092 "Refund partial with reduction -> Trouble not the good amount"
**Describe the bug**
This bug occurs when we create a refund on an order that have a discount.

**To Reproduce**
Follow this steps :

**Screenshots**
<img width="1222" alt="Capture d’écran 2019-06-05 à 22 04 11" src="https://user-images.githubusercontent.com/12425454/58988684-7b26a680-87e2-11e9-9e62-ae25db3f76e6.png">

We refund 99.18€ for products and 8.40€ for delivery.
So the total of the ref

[2019-06-05 23:27] ToyPerson commented on #13720
@Adekonl

The issue exists across all browsers: Edge, IE, Firefox, Safari, Opera - I've tested them all.

The best way to solve this problem is to whitelist your working PC's IP address. This is how we are able to make it work. Make sure, though, that your IP address is static.

[2019-06-06 00:25] go-sudo commented on #13720
Hi
For me the issue is resolved , it was a problem with DNS , my website wasnt lined to my IPv4 Adress

Regards

[2019-06-06 07:52] itroom-agence opened #14093 "Ecotax and Cost price decimals are truncated on BO when the product has combinations"
**Describe the bug**
When we add an ecotax or a cost price with decimals to a product with combinations, it is truncated.

**To Reproduce**

1. Go to the BO -> Products
2. Edit a product with combinations
3. Combinations tab -> Edit a combination
4. Change the ecotax and the cost price for a price with decimals: 1.2345
5. Save and leave the page
6. Edit the same product, change the name, save and

[2019-06-06 08:02] venditdevs commented on #11722
This is fixed by us in PR-13704 (Tomlev rebranched it ;))
https://github.com/PrestaShop/PrestaShop/pull/13704

(Tested on site of lijndiensten)

[2019-06-06 08:12] AminPersis opened #14095 "Backoffice display issue"
Hi,

I've upgraded to 1.7.5.2 yesterday and ever since I have a problem in the back office.
I've cleared the browser cache, cleared and disabled Prestashop caching features and deleted public_html/var/cache/ a hundred times, but nothing seems to solve my issue.

after a few hours, it suddenly started to display properly in the English language, but when I switch to Persian, I have the same issue,

[2019-06-06 08:30] marionf commented on #14066
@samuel-pires

It just display "from" in product list for products with combiations, but the price displayed is the one of the default combination, not of the lowest combination

![capture d'écran_1638](https://user-images.githubusercontent.com/13449658/59018302-e2297700-8845-11e9-9fa1-7567583f3a0b.png)

![capture d'écran_1639](https://user-images.githubusercontent.com/13449658/59018305-e5246780-8

[2019-06-06 08:42] PierreRambaud commented on #13355
Look like you have issues with Symfony generated cache.
Try to remove manually.
`/var/www/vhosts/100asa.it/httpdocs/var/cache/prod/` and reload the front and admin pages.

[2019-06-06 08:45] Tomskor commented on #14090
Had this same problem, you can change one line in CSS files in module cataloge, but first try it out on your theme.

Find line: #search_filters .facet .facet-label a
and: width: calc(90% - 30px);
and try change % and test responsivity

[2019-06-06 08:46] PierreRambaud commented on #14090
Hey, thanks @Tomskor is this problem general to any themes?
Want to create a pull request and help us improve this? :)

[2019-06-06 08:51] centoasa commented on #13355
whenever prestashop crashes, I'm forced to delete this folder to be able to reuse my store. But this problem often reappears.

[2019-06-06 09:01] Tomskor commented on #14090
@PierreRambaud I think is might be a general problem, but I am not sure this incloude every theme. I test this only on our official site, maybe I will have access to stores with other themes so can check this out with version 3.0.2.
Can you explain what you mean exactly with that? I am not a specialist. Just fixing up to date some small issues  on our store :)

[2019-06-06 09:08] marionf commented on #11722
@venditdevs this issue is not fixed by #13704

![capture d'écran_1637](https://user-images.githubusercontent.com/13449658/59021044-66cac400-884b-11e9-98a0-018872f00312.png)

If you have a fix, please make a pull request on GitHub with your code suggestion
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2019-06-06 09:13] PierreRambaud commented on #13355
We will investigate on it.
Ping @PrestaShop/prestashop-core-developers anyone already had this issue?

[2019-06-06 09:14] matks commented on #11722
Maybe in your case 🤔 but it seems there might be more cases where the bug still happens 😢 according to marionf

[2019-06-06 09:25] PierreRambaud commented on #14090
You can help us to improve the css here https://github.com/PrestaShop/ps_facetedsearch/blob/master/_dev/front/facet.scss
You can read how to contribute here if you think it's relevant: https://github.com/PrestaShop/ps_facetedsearch#contributing
And of course if you need help, we're here :smile:

[2019-06-06 09:27] colinegin commented on #14003
Hello all,

I can see there's a lot of interest with this topic ! :-)
Let me try to synthetise what you all said and what i understand :
- the new faceted search version fixes something which we considered a bug but :
1. some of you prefered the previous behaviour with the "show products from subcategories" option
2. some plugins are working according to the behaviour of the previous faceted searc

[2019-06-06 09:39] jolelievre commented on #9503
@colinegin Hi, I didn't know until recently when maofree notified us about this issue, seems like the canonical is present in categories page, but not other product list pages. We need to list which pages are lacking this canonical.

[2019-06-06 09:44] matteolavaggi opened #14097 "[PrestaShopDatabaseException] Unknown column 'psi.id_country' in 'on clause'"
**Describe the bug**
Create a category. add a product inside. Try to open the cateogry page on FO:

[PrestaShopDatabaseException]
Unknown column 'psi.id_country' in 'on clause'

No log on web server log.

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: 1.7.4
PHP version: 7.0

[2019-06-06 09:46] matks commented on #13731
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14091

[2019-06-06 09:46] #13731 closed, assigned to Quetzacoalt91

[2019-06-06 11:11] tjorgensborg commented on #14003
Hello @colinegin
I will once again try to explain but first we need to add try to use same words every one, so I am trying to define some words here so will all use same syntax.
<img width="310" alt="cat" src="https://user-images.githubusercontent.com/50947207/59026034-d645b100-8855-11e9-8c55-ee18be32481e.png">

**Main category** is the category is the top category and can have subcategories but d

[2019-06-06 11:56] matteolavaggi commented on #14097
is a default facets module bug (LOL).

You need to upgrade to last version and run the index for the first time for sure. i will check if this happen on every new category before the index is launched. Not good, developer fix the default module installation so it will create the index table and avoid this error.

[2019-06-06 12:14] PierreRambaud commented on #14003
![image](https://user-images.githubusercontent.com/1462701/59031604-70145a80-8864-11e9-9255-bb486e3fbd50.png)
As you can see on the top right corner, it's write `Main category` not `Default category`.

You're talking about how you manage your categories, with only one level of category
In my situation, and if I take your definitions.
- `Clothes` is the main category for `Women` but not for `Men` a

[2019-06-06 13:03] #13783 closed, assigned to tomas862

[2019-06-06 13:06] PierreRambaud commented on #13423
Yes, I did it for the facetedsearch module, but I don't have many thing in this repository (https://github.com/PrestaShop/ps_facetedsearch).
Which means I don't try to create mocks, stubs and anything complicated.

But I can recommend:
- mocha  (https://github.com/mochajs/mocha)
- Chai for assertions: https://www.chaijs.com/ (can play with dom (chai-dom) and have many plugins to not rewrite the wh

[2019-06-06 13:17] TristanLDD commented on #11277
Hi Matt75,

There are several reasons why we decided to remove product declination from the module :

- Benchmark and researches show that wishlists are rarely made to be shared with friends. They are mostly used to compare several items, track price changes or cross-device shopping sessions.

- The module in 1.6 was suffering from unnecessary complex interface in FO, degrading user experience in

[2019-06-06 13:22] #12800 closed, assigned to nobody

[2019-06-06 13:24] musicpanda commented on #9659
Working in 1.7.5.2 I see a more serious profiling problem. The profiling information comes behind the page instead of below it. This makes it almost unusable.
![profiling](https://user-images.githubusercontent.com/13930107/59036194-1a917b00-886f-11e9-949a-9e247d344148.jpg)

[2019-06-06 13:33] Matt75 commented on #11277
Ok seem like regression for me, this module is one of must-have for 1.6 merchants but this choice seem legit.

Moreover these functionalities are really used on 1.6 so we need to choose a strategy to not remove existing data for previous version user who migrate on 1.7

When I worked in agencies, we builded all shops with this module and used this optionnal functionalities. I have friends who use

[2019-06-06 13:39] #13893 closed, assigned to nobody

[2019-06-06 13:42] sanctusmob commented on #13262
Thanks to #11423
I solve the problem with the log file by editing the /img/.htaccess

[code]

[2019-06-06 13:48] marionf opened #14100 "You shouldn't be able to move a parent category in a sub category"
**Describe the bug**
You shouldn't be able to move a parent category in a sub category

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Categories
2. Click on edit for Clothes
3. Select Women as parent category
4. See error with max execution time
5. Return to the category list, the category edited disappeared

**Screenshots**
![capture d'écran_1642](https://user-images.github

[2019-06-06 13:53] bm-services commented on #11115
Hello everyone,
I don't think that fix proposed here works in our case because it isn't the generation of the order (not invoice !) reference which causes problem but the generation of a second command which has no place to be.
See the problem in the attached CSV: id_delivery_address are identical, id_customer, id_order, even date_add, etc...
We have this problem also on a PrestaShop 1.6.1.23 in t

[2019-06-06 13:56] sarjon commented on #13423
Is there a decision made of what tools/approach we use?

[2019-06-06 13:57] jolelievre commented on #14006
Hi @colinegin,
I researched a little for this feature. It turns out to be a quick change. The main issue is that in translation page we can only edit keys for `EmailsSubject` domain, but by adding `EmailsBody` to this class https://github.com/PrestaShop/PrestaShop/blob/25a4e7660d5e8590ce5e6368505090da128ad308/src/PrestaShopBundle/Translation/Provider/MailsProvider.php#L39

Then we can translate th

[2019-06-06 13:58] sarjon commented on #12439
Isn't it already done? ping @zuk3975

[2019-06-06 14:08] PierreRambaud commented on #13423
Not really, just consider to use https://github.com/PrestaShop/eslint-config as lint configuration.

[2019-06-06 14:14] marionf commented on #14070
@khouloudbelguith

I can't reproduce this issue with 1.7.6.x branch

https://drive.google.com/file/d/1JMpnKb4vZvmeucRd01RuGWvj0mRJcYuV/view?usp=sharing

[2019-06-06 14:19] marionf commented on #13262
@centoasa @sanctusmob this issue can be closed if it's fixed ?

[2019-06-06 14:21] centoasa commented on #13262
for me you @marionf can close. After further investigation I'll let you know.

[2019-06-06 14:23] #13262 closed, assigned to nobody

[2019-06-06 14:32] zuk3975 commented on #12439
Yes, I did in #13241.

[2019-06-06 14:49] glo-www commented on #13783
@marionf  Why is it closed?

[2019-06-06 14:49] #12910 closed, assigned to YeLnatSs

[2019-06-06 15:00] marionf commented on #13783
@glo-www because this issue is fixed by https://github.com/PrestaShop/PrestaShop/pull/14021

[2019-06-06 15:23] glo-www commented on #13783
@marionf The subject of this issue has been changed, but the original point was that theme should be installed anayway if theme.yml tries to hook a basic Prestashop module which, for some reason, is not available (ps_newproduct for exemple).

[2019-06-06 15:56] matks commented on #13783
But the the theme would be buggy then 🤔 ?

It's like dependencies: if A requires B, it's useless to install A without B as it will be dysfunctional anyway

[2019-06-06 18:18] ProBackup-nl opened #14102 "Add support for product price exempt from VAT (next to including or excluding VAT)"
Current product pricing is either including VAT or excluding VAT. But there is a third state, some products or services are exempted from VAT taxation by law.

I would like to see a third choice "VAT exempted" beside "VAT included" or "VAT excluded".

For example Dutch coop's that produce sustainable energy and only supply tax reduction to their members do sell membership certificates that are exe

[2019-06-06 18:38] tomas862 opened #14103 "missing form_error element in some forms"
**Bug description**
In some migrated pages (e.g currency page form) form_error is missing - I believe it should be located above.

The error dispatched here https://github.com/PrestaShop/PrestaShop/blob/95683248751795b1e927445d57abaf45708fea09/src/Core/Form/IdentifiableObject/Handler/FormHandler.php#L109 will never be visible in some pages

**Additionnal information**
PrestaShop version: 1.7.6 and

[2019-06-06 19:41] mickaelandrieu commented on #11389
@colinegin what was merged have nothing to do with my issue: it's an improvement, not a bug fix.

Basically, we're now able to provide help messages with ease on forms.

The critical issue we have since 1.7.0 (*and which make the integration of forms for developers painful*) is that we have a terrible form theme.

The form theme is that we make us (and PrestaShop developers) able to render nice fo

[2019-06-06 19:46] lothianwraps opened #14104 "problem changing company information"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Homepage Configuration'
2. Click on 'footer'
2. Click on 'link list'
2. Click on 'configure'
2. Click on 'edit our company'
2. Click on 'save'
4. See error
The server returned a "500 Internal Server Error"

PrestaShop version: 1.7.5.2

[2019-06-07 06:06] rblaurin commented on #11277
I have to agree with @Matt75. Removing funcionalities and letting then to Premium modules will not be seen with good eyes by merchants, who in some cases are already reluctant with 1.7.x adoption. If the intention is to simplify the FO ui, maybe turning some funcionalities optional would be a better way to achieve this.
Anyway, if it is already decided, it is a good idea to provide hooks as sugges

[2019-06-07 07:00] glo-www commented on #13783
In this case B is not mandatory, just a basic feature that should be installed in Prestashop by default. Theme works without it.

[2019-06-07 07:05] damiankalka opened #14105 "Meta Description bug"
Hey!

I would like Presta not to download to meta description the text from category description, but only from a field meta description. In case of an empty field "meta description" there should be a replacement content.

In Presta 1.6. I used below solution and it worked:

[code]

Unfortunately in Prestashop 1.7. variable  $page.meta.description is always downloading category description. Is the

[2019-06-07 07:25] khouloudbelguith commented on #13679
Hi @centoasa,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-06-07 07:25] #13679 closed, assigned to nobody

[2019-06-07 07:27] centoasa commented on #13679
To have better result, without error, it's better disable cache first of import session, and after re-index search.

[2019-06-07 07:27] khouloudbelguith commented on #13510
Hi @preoteasa,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-06-07 07:27] #13510 closed, assigned to nobody

[2019-06-07 07:29] khouloudbelguith commented on #13702
Hi @AC-LOG,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-06-07 07:29] #13702 closed, assigned to nobody

[2019-06-07 07:29] khouloudbelguith commented on #13674
Hi @maofree,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-06-07 07:29] #13674 closed, assigned to nobody

[2019-06-07 07:33] matks commented on #13783
Yes, but we have no way to know that, right ?
For example Theme Classic requires the following modules:
[code]

How can we know which are ones are mandatory and which ones are not ?

[2019-06-07 07:49] venditdevs commented on #11722
If i can find some time in the coming weeks i will take a look if i can fix this problem too
.
The cartrule code is mess. This wasn't tested before releasing 1.7.x , it just can 't be. So many errors and  odd behaviours.

[2019-06-07 07:59] frenchqwerty commented on #14046
Hi,
This issue is solved. The URL Rewrite was broken.
I've remove the rewrite and it's work.

[2019-06-07 07:59] #14046 closed, assigned to nobody

[2019-06-07 08:24] khouloudbelguith commented on #14086
@PrestaShop/prestashop-core-developers, what do you think?

[2019-06-07 08:26] Matt75 commented on #11277
@rblaurin We have a meeting with @TristanLDD on Tuesday to talk about Wishlist. 👍

In fact the needs seems to corresponding to old module favoriteproducts : https://github.com/PrestaShop/favoriteproducts

Thanks for participating, it's very cool to have community members on Github 🤩

[2019-06-07 08:34] khouloudbelguith commented on #14095
Hi @AminPersis,

What is the exact version PS did you installed before the upgrade ?

Thanks!

[2019-06-07 08:39] AminPersis commented on #14095
Hello @khouloudbelguith

Prestashop 1.7.3.0

Regards

[2019-06-07 09:02] colinegin opened #14106 "Add logo deletion option in Brand page"
This is currently not possible to delete the logo of a brand when uploaded by mistake.
You can either add a new logo or delete the brand.

[2019-06-07 09:03] khouloudbelguith commented on #14076
Hi @LinkOfLight,

I manage to reproduce the issue with the PS:1.7.6.0beta1 (the bill is missing the logo)
With PS 1.7.5.2 and PS 1.6.1.24, the logo and the date are OK.
I attached a screenshot.
![Capture du 2019 06 07 09 54 00](https://user-images.githubusercontent.com/16067358/59093127-12871900-890b-11e9-91d2-9a90191aecaf.png)
I’ll add this to the debug roadmap so that it’s fixed.

Thanks!

[2019-06-07 09:23] khouloudbelguith commented on #14073
Hi @paintspec,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in extended maintenance mode until June 30, 2019.

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed.
Thanks for your understanding!

[2019-06-07 09:23] #14073 closed, assigned to nobody

[2019-06-07 09:29] bm-services commented on #11115
A precision : this problem happens with multi-shop with a big volume of orders.
One of them is 1.6.1.23 with advanced stock management activated.
Another (1.7.4.3) hasn't enabled advanced stock management.
We had this problem on a mono-shop with advanced stock management activatedand it disappeared when advanced stock management has been unabled.

[2019-06-07 09:29] matks commented on #14073
Hi,

I dont think downgrading PS is possible 🤔however it should be as simple as undoing https://github.com/PrestaShop/PrestaShop/pull/13607/files#diff-83536235df8e0d38c1fdcfd4b2613a0c
Basically we use new Validation method `isCustomerName` for customer fields `firstname` and `lastname` so if you use again Validation method `isName` instead you should be fine

Also your customers should be able to

[2019-06-07 09:39] bm-services commented on #11115
I really think it's linked to stock management.

[2019-06-07 09:47] sirion89 commented on #11115
Just a little update from my side:
trying to perform SELECT reference,COUNT(reference) FROM `ps_orders` GROUP BY reference HAVING COUNT(reference) > 1 gives 44 orders that share the same reference out of a total of 52860 (ps_orders rows number). I fear it will be DAMN hard to reproduce

[2019-06-07 09:55] PierreRambaud commented on #14086
You're already able to run the script
`php tools/build/CreateRelease.php --destination-dir=/tmp/ps-release`

[2019-06-07 09:57] matks commented on #14086
@PierreRambaud This will build a usage Zip Archive, this is not the goal.

When you develop a standard Symfony application, when deploying to production, you do not copy your all app into a Zip archive production-ready. You modify the Symfony app settings to be prod-ready.

[2019-06-07 09:57] marionf commented on #11585
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-06-07 10:02] PierreRambaud commented on #14086
In automated environement you can:
- Create an archive
- scp to production (really faster than 10 000 files)
- Extract content
- remove parameters files (for database) or create config_prod.yml file
- copy to the final path

And eveyrthing's ok. This is how deployments work :thinking:

[2019-06-07 10:05] matks commented on #14086
This tool is called `CreateRelease` because it creates a new release 😛and that is its purpose. Not "DeployApp" or "CreateArchive" 😉

Also your process works to deploy a new shop. What about an existing one, with assets (product images, modules, translation catalogs) and local files such as logs ?

[2019-06-07 10:06] matks commented on #14086
If you look at [deployer](https://deployer.org/docs/flow.html) standard deploy recipe, it's
[code]
It's the standard deployment strategy and we should try to make prestashop fit it IMO

[2019-06-07 10:27] mariem-abid commented on #14093
Hi @itroom-agence,

I manage to reproduce the issue with PS:1.7.5.2 and PS 1.7.6.0beta1.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-06-07 10:38] jf-viguier commented on #14086
Thanks @matks. it's exactly what we need : a deployment tool to update already running production or staging shop. The first install is a concern but not as much as an upgrade.
Upgrading means modules upgrades, themes upgrades, ps core upgrade.

[2019-06-07 10:38] marionf commented on #11883
I can't reproduce the issue with 1.7.6.x, I well have an error message when I try to disable a module

https://drive.google.com/file/d/1OVfqqa9yZMzUPHx2J7J9L2qr326UKyKn/view?usp=sharing

![capture d'écran_1647](https://user-images.githubusercontent.com/13449658/59098666-335a6900-8921-11e9-823d-ed857d098b88.png)

[2019-06-07 10:38] #11883 closed, assigned to nobody

[2019-06-07 10:40] jolelievre commented on #13945
I like the idea as well, although I like your proposal @sarjon about creating different implementations I'm not sure they should all implement `MailerInterface`

The way I see it `MailerInterface` is the generic component allowing to send emails and has a generic `send` method which would use a full template body instead of a template name (maybe also a `sendTemplate` to match the legacy behaviour

[2019-06-07 10:40] mariem-abid commented on #14102
@colinegin , @marionf , what do you think?

[2019-06-07 11:42] PierreRambaud commented on #14086
@matks Ohhhh my bad.
Let's create a little script to do that :)

[2019-06-07 11:44] bm-services commented on #11115
With this request, our PrestaShop 1.6.1.23 has 333 orders that have the problem for 62406 orders.

[2019-06-07 11:57] marionf commented on #14076
@mariem-abid I can't reproduce the issue with 1.7.6.x, the logo is correctly displayed

![capture d'écran_1648](https://user-images.githubusercontent.com/13449658/59102390-33ac3180-892c-11e9-9498-b8c897c321d3.png)

[2019-06-07 12:06] dharmendravirasat opened #14108 "multistore is not working properly || directory problem"
i have a created multistore, shop name is shopA and copy from primary  folder/code/project &&  paste in  subfolder/newShop then i was changed themes logo for shopA.
But logo not showing.
i was checked problem is that added new logo image storing in primary project,i don't know why not store in subfolder/newShop
 plz comment

Thanks

[2019-06-07 12:31] marionf commented on #11941
I can't reproduce the issue with 1.7.6.x, we stay on the same page after refreshing

[2019-06-07 12:31] #11941 closed, assigned to nobody

[2019-06-07 12:35] sarahdib commented on #14093
Hi @itroom-agence,
I manage to reproduce this issue :
https://drive.google.com/file/d/1A9z25EkRM5QkpW4pkXfp7eX9GzOmY5lA/view

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you

[2019-06-07 12:37] Akmicro55 opened #14110 "Changements dans les produits non pris en compte"
**Describe the bug**
Toutes les modifications sur l'un de nos produits ne sont pas prises en compte après l'enregistrement. que ce soir le changement de prix, changement de quantité ou de texte aussi...

**To Reproduce**
Steps to reproduce the behavior:
Effectuer un changement/modification dans un produit

**Additionnal information**
PrestaShop version: 1.6.1.10

[2019-06-07 12:39] elviraprint opened #14111 "Impossible to see my cart"
**Describe the bug**
A clear and concise description of what the bug is.
Hi, when i add a product to the cart i got an error on page, why ??

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.the product page..'
2. Click on 'the cart....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
<img width="1261"

[2019-06-07 12:46] sarjon commented on #13945
Yeah @jolelievre that sounds better. :+1:

But I still think there should be single implementation per mailer. If we had `OrderMailer::sendConfirmation()` and `OrderMailer::sendStatusUpdate()` it would mean that `OrderMailer` has 2 reasons to change, that is against SRP, isn't it?

[2019-06-07 12:55] PierreRambaud commented on #14086
@jf-viguier wdyt about this PR: https://github.com/PrestaShop/PrestaShop/pull/14112 ?

[2019-06-07 13:00] mariem-abid commented on #14076
@marionf, I manage to reproduce the issue with PS:1.7.6.0beta1
I attached a video record.
https://drive.google.com/file/d/1cnyjLHsqpX1QxMx6nqY8FlGj0fJ4SCWv/view
Thanks!

[2019-06-07 13:06] mariem-abid commented on #14078
Hi @matteolavaggi,

I did not manage to reproduce the issue with PS:1.7.5.2 and PS:1.7.6.0beta1
I attached a video record.
https://drive.google.com/file/d/1zsFW9xeDemyFq1GsRxQhorFlLy4AJUng/view
Thanks to check and feedback.

[2019-06-07 13:07] marionf commented on #11948
@centoasa Is it solved ? Can this issue be closed ?

[2019-06-07 13:11] marionf commented on #14076
@mariem-abid
Did you change the logo in Design > Theme & logo > Invoice logo ?
Can you try on 1.7.6.x ?

[2019-06-07 13:12] mariem-abid commented on #14111
Hi @elviraprint,

What is the exact version PHP do you use?

Thanks!

[2019-06-07 13:15] mariem-abid commented on #14110
Hi @Akmicro55,

I did not manage to reproduce the issue with PS:1.7.5.2 and PS:1.7.6.0beta1
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in extended maintenance mode until June 30, 2019.

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed.
Thanks for your un

[2019-06-07 13:15] #14110 closed, assigned to nobody

[2019-06-07 13:17] mariem-abid commented on #14108
Hi @dharmendravirasat,

What is the exact version of PrestaShop did you use?

Thanks!

[2019-06-07 13:20] mariem-abid commented on #14083
Hi @Jacky75,

Thanks to adding a short description of your issue and add steps to reproduce it in a new comment.

[2019-06-07 13:20] elviraprint commented on #14111
i 'm on the prestashop version 1.7.5.0, how could i know the php i use ?

[2019-06-07 13:26] Jacky75 commented on #14083
Hi,
sorry.
The Hook "actionAdminProductsListingFieldsModifier " is invoked twice in /src/Adapter/Product/AdminProductDataProvider.php. Since the parameters are passed by reference and this hook is invoked twice, the changes applied by a hooked module are applied twice.
Is it possible the hook should be present only once in actionAdminProductsListingFieldsModifier?

[2019-06-07 13:28] PierreRambaud commented on #14086
@matks as @Quetzacoalt91 said, in fact we're already able to create an archive with this tool without updating the version :)

[2019-06-07 13:30] centoasa commented on #11948
@marionf yes, you can close this. I'm back to apache+nginx (proxy)

[2019-06-07 13:32] jolelievre opened #14113 "Refacto the CategoryFilters building process"
**Is your feature request related to a problem? Please describe.**
This refacto is linked to this bugfix PR https://github.com/PrestaShop/PrestaShop/pull/13984
We had to introduce a request stack injection inside a service to allow getting back the request attribute, which is not satisfying at all
Considering the time left before release, the solution has been temporarily accepted but we should pr

[2019-06-07 13:33] #11948 closed, assigned to nobody

[2019-06-07 13:39] elviraprint commented on #14111
i use the version php 7.2

[2019-06-07 13:41] Quetzacoalt91 commented on #14076
This issue has already been fixed on 1.7.6.0 via https://github.com/PrestaShop/PrestaShop/pull/11691

[2019-06-07 13:46] LinkOfLight commented on #14076
Logo fixed, but the date no D:

[2019-06-07 13:47] dharmendravirasat commented on #14108
I am using  Prestashop version 1.7.5.1   @mariem-abid
plz reply

[2019-06-07 13:55] mariem-abid commented on #14076
@marionf, I did not make a change.
I will try to reproduce with 1.7.6.x and come back

[2019-06-07 13:58] marionf commented on #14076
@LinkOfLight

You said

I don't see what is wrong on your invoice ?

[2019-06-07 14:08] colinegin commented on #14003
With your definition, if I understand well, the "home" category should be the main category of ABC utstyr, right ?

To be able to take the right decision on this feature, we need more feedbacks from other types of usage. Once we agree on the best option behaviour, we will update the module. In the meantime, if the 2.2.1 version of the module suits your needs, we advise you to stay with it.

Thanks

[2019-06-07 14:11] LinkOfLight commented on #14076
I fixed the logo, but the dais is wrong
[Imagen]

Obtener Outlook para Android<https://aka.ms/ghei36> desde mi Galaxy S10+

Angel Moreno Cubero - Administrador de Tech4Life - www.tech4life.es<http://www.tech4life.es>

Advertencia Legal: La información que contiene este correo electrónico y, en su caso, los ficheros adjuntos, está dirigida a la persona cuya dirección electrónica figura en la cabece

[2019-06-07 14:11] #10255 closed, assigned to nobody

[2019-06-07 14:16] FredBrockstedt commented on #13829
There are three JS security vulnerabilities in 1.7.5.2 (and lower versions):
2 - JQuery2.2.4 - Medium
1 - JQuery UI1.10.3 - High
They are fixed in the current versions of JQuery/UI.

[2019-06-07 14:25] mariem-abid commented on #14081
Hi @agnesdennetiere,

I did not manage to reproduce the issue with PS:1.7.5.2
I attached a video record.
https://drive.google.com/file/d/12TA7KCuvr6N4CPXvDT-PHDqji1POVg6S/view
Thanks for check and feedback.

[2019-06-07 14:27] elviraprint commented on #14111
i apparently solved the problem tahks

[2019-06-07 14:27] #14111 closed, assigned to nobody

[2019-06-07 14:28] mariem-abid commented on #14087
Hi @rateforx,

What is the exact version PHP do you use?

Thanks!

[2019-06-07 14:28] marionf commented on #12330
@khouloudbelguith Could you try to reproduce it with 1.7.6.x ?

[2019-06-07 14:32] mariem-abid commented on #14097
Hi @matteolavaggi,

Does your problem is solved?

Thanks

[2019-06-07 14:34] mariem-abid commented on #14077
Hi @stefano-sgambati,

We'll first try to reproduce it and we'll come back to you if we need more information.

Thanks!

[2019-06-07 14:36] marionf commented on #14076
@LinkOfLight

Sorry but I don't see what is wrong with the date
It's the same in your BO and in the invoice

![capture d'écran_1649](https://user-images.githubusercontent.com/13449658/59111921-4df10a00-8942-11e9-9e47-5dac7733f97f.png)

![capture d'écran_1650](https://user-images.githubusercontent.com/13449658/59111927-521d2780-8942-11e9-8472-cd15bcb8abb4.png)

[2019-06-07 14:39] jolelievre commented on #13945
Sure, depends on what you decide its responsibility to be. If it's "deal with order mails" then it's fine 😅
It's just I'm afraid it gets confusing if we introduce one class/service per mail/template..

[2019-06-07 14:45] LinkOfLight commented on #14076
Tech, this is the problem, why un bd is 2012, not 2019

Obtener Outlook para Android<https://aka.ms/ghei36> desde mi Galaxy S10+

Angel Moreno Cubero - Administrador de Tech4Life - www.tech4life.es<http://www.tech4life.es>

Advertencia Legal: La información que contiene este correo electrónico y, en su caso, los ficheros adjuntos, está dirigida a la persona cuya dirección electrónica figura en la

[2019-06-07 14:46] LinkOfLight commented on #14076
This invoice is one of the last Sell of this web
________________________________
From: marionf <notifications@github.com>
Sent: Friday, June 7, 2019 4:36:26 PM
To: PrestaShop/PrestaShop
Cc: LinkOfLight; Mention
Subject: Re: [PrestaShop/PrestaShop] bill date and logo issue (#14076)

@LinkOfLight<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FLinkOfLight&data=02%7C01

[2019-06-07 14:47] goombaylabs commented on #13995
Hi

I'm having the same issue as well. None of my categories are working in my front office. I've rebuilt my whole category tree over and still no luck.

The error that I get is:

![image](https://user-images.githubusercontent.com/51277054/59112690-216ccc00-8909-11e9-9e6f-050c5452b700.png)

I tried the suggestions but nothing is working.

[2019-06-07 14:51] mariem-abid commented on #14074
Hi @rabtaray,

I manage to reproduce the issue with PS:1.7.5.2 and PS:1.7.6.0beta1
After creating the Malagasy language and go to  International => Translations => Modify translations=> select the Malagasy language => Modify
=> I get this error (See screenshot)
![Capture du 2019-06-07 15-49-14](https://user-images.githubusercontent.com/36841537/59112875-d61fe100-893b-11e9-8015-12471ec99004.png)

I

[2019-06-07 14:53] marionf commented on #14015
Duplicate of #12608

[2019-06-07 14:53] #14015 closed, assigned to nobody

[2019-06-07 14:59] jolelievre commented on #13681
Hi @Bonobomagno,

as @matks said we can indeed use namespaces in modules for any class that is not the module class..
This was already possible for a while provided that you correctly included the module autoload.
However:
* since **1.7.4** autoload files are automatically loaded by the `AppKernel` so namespaces are automatically working in Symfony context (meaning migrated pages)
* since **1.7.6*

[2019-06-07 15:00] matteolavaggi commented on #14097
Yes, but dev must fix this in the installation routine of the shop

[2019-06-07 15:10] Bonobomagno commented on #13681
yes, for now i just load AppKernel singleton before loading frontcontroller

[2019-06-07 15:13] sandra2n opened #14114 "Product combination form not displaying in admin"
Hello,

There is an issue in Prestashop 1.7.5.2, with the display of product combination form in admin if the shop ID 1 or the lang ID 1 do not exist.

The issue is from variables value directly written in file \src\PrestaShopBundle\Controller\Admin\ProductController.php at the line 613

"$attributeGroups = $doctrine->getRepository('PrestaShopBundle:Attribute')->findByLangAndShop(1, 1);"

Thanks f

[2019-06-07 15:16] colinegin commented on #11924
Hello @khouloudbelguith do you reproduce this issue now that the page has been migrated ?

[2019-06-07 15:20] marionf commented on #14076
@LinkOfLight I can't reproduce your issue, please check your server datetime is well configured

[2019-06-07 15:21] marionf commented on #14076
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration
I invite you to contact you hosting provider.

Best regards.

[2019-06-07 15:21] #14076 closed, assigned to nobody

[2019-06-07 15:22] LinkOfLight commented on #14076
Yes, is ok, in other webs in the dame server this go ok

Obtener Outlook para Android<https://aka.ms/ghei36> desde mi Galaxy S10+

Angel Moreno Cubero - Administrador de Tech4Life - www.tech4life.es<http://www.tech4life.es>

Advertencia Legal: La información que contiene este correo electrónico y, en su caso, los ficheros adjuntos, está dirigida a la persona cuya dirección electrónica figura en la

[2019-06-07 15:30] mariem-abid commented on #14104
Hi @lothianwraps,

Could you please add a video record to reproduce the issue.

[2019-06-07 15:35] mariem-abid commented on #14072
Hi @josejecas,

You have to put the desired change in the product.tpl file of your template.

Thanks to check and feedback.

[2019-06-07 15:43] mariem-abid commented on #14105
Hi @damiankalka,

I did not manage to reproduce the issue with PS:1.7.5.2 and PS:1.7.6.0beta1
I attached a video record.
https://drive.google.com/file/d/1XcP0ti7QtHohempcD0FgAW2Z8j9gARSD/view
Thanks for check and feedback.

[2019-06-07 15:45] mariem-abid commented on #14114
Hi @sandra2n,

Could you please add steps to reproduce the issue in a new comment.

Thanks

[2019-06-07 15:48] mariem-abid commented on #14088
Hi @roja45,

Thank you for giving us the module to test it.

[2019-06-07 15:48] jolelievre commented on #13681
I wouldn't recommend it because it instanciates the whole Symfony stack (most of the time uselessly) which can be bad for performances

[2019-06-07 15:49] mariem-abid commented on #14092
Hi @Harincka,

We'll first try to reproduce it and we'll come back to you if we need more information.

Thanks!

[2019-06-07 17:11] damiankalka commented on #14105
Check out the source code for this category.

[2019-06-07 18:25] sebaborda04 opened #14115 "Modify Copyright Prestashop"
Hi, I want to modify the copyright of the footer of my Prestashop website and I can not do it.
I no longer have files to modify and I still do not see the change.
Can you tell me where I have to do it?
Prestashop version 1.7.2.4
Thank you

[2019-06-08 06:19] dharmendravirasat opened #14118 "Main menu || Image slider not showing in prestashop version 1.7.5.1"
I am using multistore in my prestashop project, i installed Prestashop default **main menu** module. In  module added categories menu but menu not showing in all themes
and
**Image slider** module is not working
I don't know why not showing menu && image slider
plz comment
thanks.

[2019-06-08 06:30] centoasa opened #14119 "AH01071: Got error 'PHP message: PHP Warning: Cannot use a scalar value as an array"
**Description**

Enable APC cache in performance section and watch logs. If you dont see anything before this patch, maybe yo have a small shop. it is need to overpass the limit $maxCachedObjectsByTable = 10000

Steps to reproduce the issue

1. Create more than 10000 products
2. Go to FO
3. See error

![image](https://user-images.githubusercontent.com/16067358/105337283-85c1c980-5bda-11eb-9fe4-49f

[2019-06-08 08:07] rabtaray commented on #14074
Hi Mariem,
I met this error message before. Try to use iso code 'mg-mg' in lowercase. I got the message because I wrote mg-MG instead of.

[2019-06-08 08:17] rabtaray commented on #14074
Hi @OneDotIT ,
thank you for your response. I'll check all my configurations first.
I met the crowdin team a few days ago and they created the project at the following link [https://crowdin.com/project/prestashop-official/mg#](https://crowdin.com/project/prestashop-official/mg#) so I can start transllating PS.

[2019-06-08 08:54] cesarfierro opened #14120 "Faceted seach: multiple filters works like "OR" function"
PS 1.7.5.2
PS_FacetedSearch 3.0.3

Hello,
When I config a search template with two or more features for a single category, I have observed that the selection works like an logical OR function instead AND function.
If I check "Feature 1 - Value A" and also check "Feature 2 - Value X" I get all products with "Feature 1 - Value A" plus "Feature 2 - Value X" increasing the view list.
It works like log

[2019-06-08 09:46] josejecas opened #14121 "Error send email"
I do not know if this is a bug, but if you can help me.

Watch the video.

Two prestashop installations in which one works the email and another not, and I can not find the problem.

I already changed the password, the email and it does not work

https://drive.google.com/file/d/1bbeRINcsa2FuI8F88y15cEABONQFvkKC/view

**Describe the bug**
A clear and concise description of what the bug is.

**To Re

[2019-06-08 14:58] ballashop opened #14122 "[SKIP] the directory &quot;/app/cache/&quot; does not exist and cannot be emptied"
**Describe the bug**
Hi, after the update from 1.6.1.23 to 1.6.1.24, I found this line in the log file and another error:
[SKIP] the directory "&quot;/app/cache/&quot;" does not exist and cannot be emptied
and this error:
...server path.../autoupgrade/tmp/gsitemap.zip is not a file
Thanks for any reply.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to => modules => module 1 click upgrad

[2019-06-08 16:30] rdy4ever commented on #14120
+1 Just tried the new module on my test shop, the logic is wrong. You should try to downgrade the module to version [2.2.1](https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v2.2.1). If it doesn't work, you may have to reset the module.

[2019-06-08 21:17] go-sudo commented on #13389
Hello any news please

[2019-06-09 09:35] Evgaid commented on #14047
Hello,

I checked it in Completely clear new installation, only enable Multistore
mode and add 1 shop. I checked your previous video carefully and found
problem. First of all, you need to change product to advanced stock
management (in product menu of each product), add quantity of product in
stock menu,and you  will get the same mistake in preference product like me.

https://drive.google.com/ope

[2019-06-09 10:02] 01park commented on #14056
Hi,

I have been doing some testing and the problem is probably because I'm using the module SEO PRO. In prestashop 1.6 this was working different than in 1.7.

[2019-06-09 10:08] 01park opened #14123 "Display warning before creating refund and changing order status"
Using PS 1.7.5.2.

I noticed that when I do a refund for an order that was paid with Paypal it automatically creates the refund in Paypal. This is great, but it would be nice if an extra pop-up could be created, a warning, to inform you that you are booking the money also from the Paypal account.

What if by accident you are doing a bulk order update and press refund as a mistake. That would be an

[2019-06-09 10:53] matks commented on #14115
The file is footer.tpl for your theme
https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/_partials/footer.tpl#L49

[2019-06-09 14:02] roja45 commented on #14088
[testtranslation-master-1.0.0.zip](https://github.com/PrestaShop/PrestaShop/files/3269612/testtranslation-master-1.0.0.zip)

[2019-06-09 14:05] roja45 commented on #14088
Here you go.

Install the module, open a product page, the default provided translation file is used.

Update the module translation from the back office, product page shows the updated translation.

Install the module file again to simulate installing a module update, and the translation you made before is overwritten by the translation file in the module archive, so you lose your translation cha

[2019-06-09 14:14] roja45 commented on #14088
Issue is present in 1.7.6.0 beta 1 as well.

[2019-06-09 14:27] roja45 commented on #14088
A bit more info.
If you manually add the translation file for the module in the theme directory, then the front end picks up the theme translation, so that still works, and it seems the theme selection UI options in the back office are there as well, it's just not hooked up.

![image](https://user-images.githubusercontent.com/19314911/59160161-d255a100-8a98-11e9-9b0f-cb96f6e5d16a.png)

[2019-06-09 15:12] photinia73 opened #14124 "AdminDashboard"
**Describe the bug**
The value in the DashBoard left column are in the uploading status all the time without result
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dashboard'
2. Click on '....'
3. Scroll down to 'all the left column points'
4. See error No value, only "upload wheels" the internet connection is stable

**Screenshots**
![image](https://user-images.githubusercontent.com/5

[2019-06-09 16:18] pulsationseutrr commented on #11172
Same problem here. When i apply a voucher for Free Shipping, i have this error "There is unfortunately no carrier that can deliver to your address."

But if i remove voucher its okay...

For view the error juste create a Free Shiping Voucher and dont forget to hit F5 after applying it

[2019-06-09 17:02] lothianwraps commented on #14104
hi what format do i need to save the file as you dont support mp4

[2019-06-09 19:43] matks commented on #14086
@PierreRambaud Still, the archive contains useless files for a shop deployment, such as the install directory* 😐I dont think we should hijack the release/archive building process for deployment.

*Well actually we might need to perform an installation - at least some steps of it for full deployment...

<hr>

I've been thinking about it, and I think that in order to be able to deploy a shop deploye

[2019-06-10 02:34] finlanderid opened #14126 "useless ELSE IF in AdminProductsController"
The "else if" in this code is useless and will never fire, because it duplicates half of the OR condition from the IF that it is attached to.

[code]

[2019-06-10 05:08] BenTen opened #14127 "VAT (Japan)"
Hello,

By default (fresh install PS 1.7.5.2) the VAT for Japan is 5%.
From 2014, the VAT is 8% and in October 1st 2019, it will be 10%.

Not so important because we can modify the value but it can be interesting to set the currently one by default.

[2019-06-10 07:50] PierreRambaud commented on #14086
You're able to remove files you don't want before create archive, it's base one your current working directory.

 Always depends on what you want to deploy. If you have a glusterfs or anything else to manage static files, you only want to deploy modules / Core for example.

Symfony cache files => cache
any other cache directory sweat_smile=> cache

Bad idea to deploy cache. It must be generate on

[2019-06-10 07:58] khouloudbelguith commented on #14115
Hi @sebaborda04,

Thanks for your report.
@matks, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-10 07:58] #14115 closed, assigned to nobody

[2019-06-10 08:06] renochost opened #14129 "Getting error while registering a new customer on prestashop"
Getting error while registering a new customer on prestashop. The error is mentioned below

#6 /home/renocojf/public_html/shopping/classes/controller/Controller.php(281): AuthControllerCore in /home/renocojf/public_html/shopping/classes/Mail.php on line 893

Please tell us how to resolve this, getting this error each and every time while registering or making order.

Waiting for your response.

[2019-06-10 08:08] matks commented on #14086
Interesting links:
- https://github.com/deployphp/deployer/blob/master/recipe/prestashop.php
- https://github.com/iaintshine/ansible-prestashop/

[2019-06-10 08:21] khouloudbelguith commented on #13395
Hi @pppplus,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-10 08:21] #13395 closed, assigned to nobody

[2019-06-10 08:32] khouloudbelguith commented on #14118
Hi @dharmendravirasat,

I did not manage to reproduce the issue with PS1.7.5.2 / PS1.7.6.0beta1, ps_mainmenu v2.1.1 & the ps_imageslider v3.0.0.
I attached a video record.
https://drive.google.com/file/d/1Hm2Ul2MiCCCJIFB6rHdsDHOz80jMPG0q/view
thanks to check & feedback

[2019-06-10 08:34] PierreRambaud commented on #13389
Still not had the time to implement this feature. If you know how to do it, don't hesitate to help us :)

[2019-06-10 08:36] khouloudbelguith commented on #14129
Hi @renochost,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2019-06-10 08:46] matks commented on #13455
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13515

[2019-06-10 08:46] khouloudbelguith commented on #14126
Hi @finlanderid,

Thanks for your report.
ping @PrestaShop/prestashop-core-developers what do you think about the `elseif` from this line
https://github.com/PrestaShop/PrestaShop/blob/786f04823b96f41b7bd5485df30dddf3de509322/controllers/admin/AdminProductsController.php#L2550  ?

Thanks!

[2019-06-10 08:53] khouloudbelguith commented on #14124
Hi @photinia73,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1.
I attached a video record.
https://drive.google.com/file/d/1PWZJKTLL4oW8KS5avcvEVu2bhDLAqmY_/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 -

[2019-06-10 09:03] francoispeyret commented on #11631
thanks @marionf

[2019-06-10 09:09] PierreRambaud commented on #14120
Thanks for your feedbacks guys: We create a fix here: https://github.com/PrestaShop/ps_facetedsearch/pull/87

[2019-06-10 09:12] khouloudbelguith commented on #14121
Hi @josejecas,

Thanks for your report.
It looks like the SMTP was blocked for hosting free users.
you need to check the issue with your host provider.
Thanks to check with them & feedback.

[2019-06-10 09:19] marionf commented on #12844
@khouloudbelguith Could you try to reproduce it with 1.7.6.x ?

[2019-06-10 09:24] khouloudbelguith commented on #14092
Hi @Harincka,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.0beta1.
I attached a video record.
https://drive.google.com/file/d/1sw1ooypmbbk3vY8xKUmxXoED3A7JCBUR/view
Thanks to check & feedback.

[2019-06-10 09:25] matks opened #14131 "Improve dealing with Carts in BO (dont rely on Context)"
**Is your feature request related to a problem? Please describe.**

We are migrating the Orders page. During this migration, we have discovered that *multiple processings related to carts management require to load the Cart into the common Context*.

Example: create a new Cart from BO
[code]
We need to perform `Context::getContext()->cart = $cart;` in order for this Cart object to be properly conf

[2019-06-10 09:25] matks commented on #14131
ping @sarjon

[2019-06-10 09:36] #12780 closed, assigned to nobody

[2019-06-10 09:37] colinegin commented on #14006
This is great to hear ! Let's discuss it to see what's the better & quickest way to do it and try to implement it in 1.7.7.

[2019-06-10 09:40] khouloudbelguith commented on #14077
Hi @stefano-sgambati,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.0beta1.
I attached a video record
https://drive.google.com/file/d/1c0YImdycoOAdUfgyMhYcUqFJA_ZLZagW/view
Thanks to check & feedback.

[2019-06-10 09:52] #9983 closed, assigned to nobody

[2019-06-10 09:52] marionf commented on #12760
@khouloudbelguith

Yes, because the thumbnail is the same as the category cover image but in smaller

Yes, because the thumbnail is not used in classic template

Yes, because the thumbnail is the same as the category cover image

These behaviors are normal

[2019-06-10 09:55] khouloudbelguith commented on #14127
Hi @BenTen,

Thanks for your report.
Yes, it is the same behavior with PS1.7.6.0.beta1
By default, after a fresh installation (Japan country / Japanese language), the VAT for Japan is 5%
![image](https://user-images.githubusercontent.com/16067358/59187747-077ff300-8b6e-11e9-99f0-af2ab34633f5.png)
![image](https://user-images.githubusercontent.com/16067358/59187751-0b137a00-8b6e-11e9-9c45-4fb3c28b8

[2019-06-10 10:00] marionf commented on #12727
With 1.7.6.0, when uploading [mythem.zip](https://github.com/PrestaShop/PrestaShop/files/2918951/mythem.zip) I have the error below

![capture d'écran_1656](https://user-images.githubusercontent.com/13449658/59188194-6138eb00-8b77-11e9-8cbe-4720f7088eae.png)

[2019-06-10 10:01] marionf commented on #12724
@khouloudbelguith Could you try to reproduce it with 1.7.6.x ?

[2019-06-10 10:03] marionf commented on #12694
@khouloudbelguith Could you try to reproduce it with 1.7.6.x ?

[2019-06-10 10:04] khouloudbelguith commented on #14122
Hi @ballashop,

I did not manage to reproduce the issue, the upgrade is done successfully from PS1.6.1.23 to PS1.6.1.24 with the 1-click upgrade 4.8.0.
https://drive.google.com/file/d/1KhAqpGLSbI8FNbDB7SX7LsfchnEdYJ52/view
Thanks to delete the cache files? you can remove them by using FTP or your hosting file manager, browse the folder on your server where you have installed Prestashop:
\cache\sma

[2019-06-10 10:10] PierreRambaud commented on #14126
yes, the condition seems useless, but don't really know what was the wanted behavior here :/

[2019-06-10 10:14] sarjon commented on #14131
I'm afraid that other services not related to cart/order like price calculation or any other may depend on context that are not directly related to checkout, but used in checkout. :cry:

[2019-06-10 10:24] ghost opened #14135 "Attachments ui/ux improvement request"
Hi!
UI/UX squad should consider dealing with product attachments in combination with languages.
Below my suggestion and use case - imho very clear and understandable

**Now:**
![attachment_improve_before](https://user-images.githubusercontent.com/8243273/59189557-a0b50680-8b7a-11e9-9454-1c5955d91a4d.jpg)

**After:**
![attachment_improve_after](https://user-images.githubusercontent.com/8243273/5918

[2019-06-10 10:50] khouloudbelguith commented on #14135
Hi @PrestaShark,

Thanks for your report.
@marionf, @colinegin what do you think of his suggestion?

Thanks!

[2019-06-10 11:18] ballashop commented on #14122
Hi @khouloudbelguith
and thank for your reply, I'm going to cancel as you wrote me, after update i discovered another problem from login and logout web page, the redirect doesn't work as expected. Is it better if I open another issue, or can I write it here?
Thanks

[2019-06-10 11:18] khouloudbelguith commented on #12694
Hi @marionf,

Yes, I have the same issue with PS1.7.6.0beta1
1. ps_categoryproducts section
![image](https://user-images.githubusercontent.com/16067358/59192157-79aa0500-8b79-11e9-8673-a97dd8dfde5e.png)
2. the ps_viewedproduct section
![image](https://user-images.githubusercontent.com/16067358/59192173-86c6f400-8b79-11e9-8931-bd3586a0bf95.png)
3. In the home page 2
![image](https://user-images.git

[2019-06-10 11:35] khouloudbelguith commented on #12724
Hi @marionf,

I have the same issue with PS1.7.6.0beta1.
I added the new file

`config/defines_custom.inc.php
`
[code]
When I try to re-install this shop => The debug mode is disabled
![image](https://user-images.githubusercontent.com/16067358/59193026-3735f780-8b7c-11e9-86cb-d2164d241d25.png)

Thanks!

[2019-06-10 11:36] khouloudbelguith commented on #14122
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed.
And your issue, I cannot reproduce

[2019-06-10 12:00] photinia73 opened #14136 "Language.php warning"
**Describe the bug**
After I added second language in the back office appeared the Warning when I enter the language to edit
Warning в рядку 393 у файлі /var/www/testmW/test.te.com.ua/classes/Language.php
[2] file_exists(): open_basedir restriction in effect. File(/var/www/testmW/test.te.com.ua/themes/pixtronpro/modules/ps_shoppingcart.tpl/translations/uk.php) is not within the allowed path(s): (/

[2019-06-10 12:15] reanim8ed commented on #14042
There is similar hookActionAdminCustomersFormModifier hook which enables to add fields to the customer form in the backoffice. But to save this value, the Customer class needs to be overriten. Is there a way to add new fields to the field definitions on that class from the module?

[2019-06-10 12:17] dharmendravirasat opened #14139 "multistore is not working properly || directory problem"
i have a created multistore, shop name is shopA and copy from primary folder/code/project && paste in subfolder/newShop then i was changed themes logo for shopA.
But logo not showing.
i was checked problem is that added new logo image storing in primary project,i don't know why not store in subfolder/newShop
prestashop version 1.7.5.1
plz comment

Thanks

[2019-06-10 12:25] khouloudbelguith commented on #14136
Hi @photinia73,

You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with the theme author & feedback.

[2019-06-10 12:26] dharmendravirasat commented on #14118
I was cleared cache then now working fine main menu && image slider.

[2019-06-10 12:27] #14118 closed, assigned to nobody

[2019-06-10 12:29] khouloudbelguith commented on #14118
@dharmendravirasat, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-06-10 12:34] photinia73 commented on #14136
Already contacted, but they said that this is PS problem, not the theme

[2019-06-10 12:39] marionf commented on #13166
@matks

It seems there is only one "multistore" in the migrated page

![capture d'écran_1657](https://user-images.githubusercontent.com/13449658/59195899-7b7dc380-8b8d-11e9-89a3-ad9a25230701.png)

[2019-06-10 12:43] khouloudbelguith commented on #14104
Hi @lothianwraps,

I did not manage to reproduce the issue with PS1.7.6.0beta1 & the ps_linklist module v3.0.3.
https://drive.google.com/file/d/1hyaDPcWkRxbU_5olebkF1Var2hoKoxHt/view
It is OK also with PS1.7.5.2 & the ps_linklist v2.1.6.
https://drive.google.com/file/d/1HpF8bNhlCttCB3JYb3_C-__IZAVR-JQn/view

What is the exact version of the module ps_linklist did you use?

Thank you!

[2019-06-10 12:46] rdy4ever opened #14140 "Faceted search: price indexing stopped working"
**Describe the bug**
On PS 1.7.5.0, after upgrading ps_fatetedsearch from version 2.2.1 to version 3.0.3, price reindexing (_index all missing prices_ button) stopped working on the module configuration page: the ajax call loops forever, but no error is returned in the console. In the FO, if you go to a category and click 'Sort by price...' no products are returned. I have tried deleting the templ

[2019-06-10 12:48] khouloudbelguith commented on #14136
@photinia73, thanks for your feedback.
Could you please navigate to your BO => International => Translations => try to update your language.
![image](https://user-images.githubusercontent.com/16067358/59196402-71a49200-8b86-11e9-8da4-1c0c28784d0e.png)

Thanks to check & feedback.

[2019-06-10 12:49] Maofree opened #14141 "add magento's option to prestashop - combinations are joined to long description"
Hi

go to this site made with magento
https://www.giordanoshop.com/piatto-doccia-in-pietra-70x90-cm-bonussi-ardesia-stone-side-bianco.html

if you change the combination, some data inside the long description will change

![picturemessage_dk23gyvl wc4](https://user-images.githubusercontent.com/653230/59196334-a4528880-8b8e-11e9-9cd9-3cf039bf00cd.png)
![picturemessage_gxvj4jas 4zx](https://user-ima

[2019-06-10 13:28] colinegin commented on #13911
Hello,

as you say @matks some countries do not care about GDPR, so in my opinion, it should not be integrated in the core but in a module.
Furthermore, we developed the official GDPR module to be "pluggable" (through hooks) to other modules which involve private data and make it easy to comply with the law.

With this logic, there's should be an update of the Google Analytics module to use the ho

[2019-06-10 13:36] khouloudbelguith commented on #14140
Hi @rdy4ever,

Thanks for your report.
Yes, I manage to reproduce the issue with PS1.7.5.2 & the ps_factedsearch v3.0.3 after upgrade from v2.2.1.
https://drive.google.com/file/d/1IN7IOtFxPnZugUUiQnolYQEmfbqly0uG/view
If I made the upgrade from v3.0.2 to 3.0.3 => it is OK
https://drive.google.com/file/d/19DOyoZwIilRaY5yJonBwkw4IbvmIzeJj/view
with PS1.7.6.0beta1 => OK
https://drive.google.com/file/

[2019-06-10 13:42] ghost opened #14142 "Restore the product comparison engine"
Hi.
Comparison engine was useful in some use cases. Please consider to bring that functionality back in future releases.

Thanks!

**PS> If You want to bring that function back please add thumb up to show PrestaShop team that case matters.**

[2019-06-10 13:44] khouloudbelguith commented on #14141
Hi @maofree,

Thanks for your report.
@marionf @colinegin, what do you think? can we add a new feature so the description will be customized for each combination?

Thanks!

[2019-06-10 13:50] ghost commented on #14141
I think it's not a core Magento feature. This can be done in PrestaShop quite easily with custom template and some JS.

BTW. Mentioned site is sooo overloaded by the scripts...
BTW 2. What kind of improvement it might be? I do not see the practical benefit of using this solution

[2019-06-10 14:01] colinegin commented on #13205
Hello @Ksawery88 ,

Thanks for your feedback and sorry for the late reply.

This feature has been removed in 1.7.6 as it is not a good practice to write a long description in this page. The goal of the category page is to showcase products and make it easy for the user to easily find the products he is looking for. The category banner is here to remind the category and its value proposition not to

[2019-06-10 14:07] colinegin commented on #12852
After a deeper consideration, it could be a nice improvement to make it easier for visitors and customers to find their products when they log again. The issue might be technical. I am not sure it is easy to change the way it works now, I mean creating a new cart when the customer logs in.
What do you think @eternoendless and @PrestaShop/prestashop-core-developers ?

[2019-06-10 14:08] khouloudbelguith commented on #14119
Hi @centoasa,

Thanks for your report.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/12683 to fix the issue.
Your ticket is a duplicate of #12509
So, I close it.
Thanks!

[2019-06-10 14:08] khouloudbelguith commented on #14119
Duplicate of #12509

[2019-06-10 14:15] #13478 closed, assigned to nobody

[2019-06-10 14:20] #13952 closed, assigned to sarjon

[2019-06-10 14:20] #13819 closed, assigned to PierreRambaud

[2019-06-10 14:22] khouloudbelguith commented on #14142
Hi @PrestaShark,

Thanks for your report.
We removed this native module in 1.7.
http://forge.prestashop.com/browse/BOOM-4092
@marionf, @colinegin what do you think? is it possible to restore this function in the next major version PrestaShop?

Thanks!

[2019-06-10 14:23] sarahdib opened #14143 "Categories images in front office is not display properly"
**Describe the bug**
Categories images in front office is not display properly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a category in the front office
2. See the error

**Screenshots**
![image](https://user-images.githubusercontent.com/3034677/59202026-fcdc5280-8b9b-11e9-8931-699712a13878.png)

**Additionnal information**
PrestaShop version: 1.7.6.0
PHP version: N/A

[2019-06-10 14:39] khouloudbelguith commented on #12844
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0beta1
https://drive.google.com/file/d/1XrZwxiXf4Fh1DHSwJPizbw4TPU_ukVCr/view
Thanks!

[2019-06-10 14:41] itsmemukesh21 commented on #10471
http://prntscr.com/o00bee

[2019-06-10 14:43] khouloudbelguith commented on #10471
Hi @itsmemukesh21,

We couldn't reproduce the issue with PS1.7.6.0beta1, that's why this issue is closed.

Thanks for your understanding!

[2019-06-10 14:44] itsmemukesh21 commented on #10471
So we need toupgrade our shop to latest ?

[2019-06-10 14:45] itsmemukesh21 commented on #10471
we are using  1.7.4.4

[2019-06-10 14:46] shnslmz opened #14144 "Faceted search does not show product when sorting by price."
Hello,

Faceted search module version is (updated) v3.0.3.
Prestashop: 1.7.5.1
Theme is default.

In a category page, when we sort the products by name, there is no problem.
But, when we sort the products by price, (Price, low to high or Price, high to low), just a few products are shown. Products count are correct but pagination and also in the current page, there are just a few products. In next

[2019-06-10 14:49] MathiasReker commented on #13226
@amtriorix I included your work (I also made a few changes to your code) in a refactor of the htacces file. Would you like to review it? https://github.com/PrestaShop/PrestaShop/pull/14125

[2019-06-10 14:51] khouloudbelguith commented on #14056
Hi @01park,

As it's not the default module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-06-10 14:51] #14056 closed, assigned to nobody

[2019-06-10 14:53] khouloudbelguith commented on #10471
@benwallis, yes you can upgrade your shop.
But PrestaShop 1.7.6.0 stable version will be released soon.

Thanks!

[2019-06-10 14:56] Hlavtox commented on #14102
Maybe you guys can use the tax rule's description field - which is to my knowledge not used?

By default, it could show Without tax/With tax, but if a user defines a custom note/description in Tax rule set > Tax rule, it would show this message instead.

[2019-06-10 14:58] Hlavtox commented on #14102
1. User will create tax rule set "Tax for certificates".
2. For every country, he will make a Tax rule with "No Tax" option selected and he will fill the Description field with "exempted from VAT".
3. Just show the description in FO.

[2019-06-10 15:01] matks opened #14146 "No lint for twig templates"
We have no automated tool to make sure Twig template codestyle is correct.

For example https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Resources/views/Admin/Common/recommendedModules.html.twig contains 4-space indents although the [devdocs](https://devdocs.prestashop.com/1.7/development/coding-standards/) says "HTML, CSS (Sass), Twig and Smarty files MUST follow the Mar

[2019-06-10 15:02] matks commented on #14146
Ping @PierreRambaud @eternoendless @sarjon

Should we put smarty templates in the scope too ?

[2019-06-10 15:02] khouloudbelguith commented on #14074
Hi,

I have the same issue with PS1.7.6.0beta1 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/59204639-f8626a80-8b98-11e9-81f0-d9a99b22bd04.png)
When I try to translate the BO with the language created, I have the same exception
![image](https://user-images.githubusercontent.com/16067358/59204707-192ac000-8b99-11e9-9e5e-c54f01ed9703.png)

Thanks!

[2019-06-10 15:10] khouloudbelguith commented on #14144
Hi @shnslmz,

Thanks to navigate to your BO => Module manager page => ps_facetedsearch configure page click on the button "Rebuild entire price index" & "clear cache".

Thanks to check & feedback.

[2019-06-10 15:12] stefano-sgambati commented on #14077
I don't know why that happens to me, I'll investigate... Thank you very
much for your support!

Il giorno lun 10 giu 2019 alle ore 11:41 khouloudbelguith <
notifications@github.com> ha scritto:

--

Stefano Sgambati

front-end developer
s.sgambati@tandu.it
tandu.it
+39 011 5618236 <+390115618236>
*TORINO*
Corso Galileo Ferraris, 31 - 10121 (TO)
*MILANO*
Largo La Foppa, 1 - 20121 (MI)
*BOLOGNA*
Via

[2019-06-10 15:13] khouloudbelguith commented on #14077
@stefano-sgambati, Thanks!
Waiting for your feedback.

[2019-06-10 15:21] khouloudbelguith commented on #14139
Hi @dharmendravirasat,

Could you please add steps t reproduce the issue in a new comment.

Thanks!

[2019-06-10 15:21] colinegin commented on #10581
@matks, @zuk3975, @marionf, @sarahdib I think the "Add new" available in the legacy page should be removed in the migrated page as it is not possible with credit slips.

[2019-06-10 15:24] finlanderid commented on #14126
Yes, it would have to be studied to figure out why they wanted it.  It seems to be about setting a few variables in the database (when product attributes exist) in the new product_supplier table that was implemented when multi-shop was implemented a few years ago.  Another clue might be the use of save() rather than update().

Another clue: the block in the elseif is identical to the block of code

[2019-06-10 15:34] photinia73 commented on #14136
I did this but Warning is still apper... In the Back office is the debugging mode, may be if I turn off it? the Warning will disappear, but this don`t mean that the problem will resolve...

[2019-06-10 15:34] khouloudbelguith commented on #13995
Hi @goombaylabs,

In the configuration page of the ps_facetedsearch module, the option `Show products from subcategories` is enabled or not?
Thanks!

[2019-06-10 15:39] khouloudbelguith commented on #14136
@photinia73, when debug mode is disabled, this problem is not displayed, because it is just a warning.
With the classic theme, I did not manage to reproduce the issue.
Have you tried to add a language when the classic theme is selected?

Thanks!

[2019-06-10 15:39] frankymartinES commented on #14120
Hi, I got another error after update PS_FacetedSearch to 3.0.3, it is not working properly in my multistore 1.7.4.4. After update the module every shop show the same products, if I active a product in one shop, the other shops show also the product.

[2019-06-10 15:39] khouloudbelguith commented on #14111
@elviraprint, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-06-10 15:47] photinia73 commented on #14136
You know, I scare change the theme, becase after changing my Pixtron theme does not work properly... So I left a ticket on the theme support, may be this is their bug...

[2019-06-10 15:48] khouloudbelguith commented on #14097
Hi @matteolavaggi,

I did not manage to reproduce the issue with PS1.7.5.2.
I attached a video record.
https://drive.google.com/file/d/1PJ0DssaDpDw6gS8st18kQ6xd_8tl3PTj/view
Thanks!

[2019-06-10 15:49] rdy4ever commented on #14144
Hi @khouloudbelguith I beleive this is the same issue as #14140

[2019-06-10 15:50] khouloudbelguith commented on #14144
@shnslmz, yes, I think so.
But I need to confirm that with the author before closing this issue as a duplicate.

Thanks!

[2019-06-10 16:57] PierreRambaud commented on #14120
@frankymartinES Don't forget to rebuild indexes

[2019-06-10 17:01] PierreRambaud commented on #14146
I think no, since these files will be removed in the future.

[2019-06-10 17:36] OneDotIT commented on #14074
Hello again,
I have debugged the issue.

It seems PrestaShop pre-identifies the 2-characters ISO code's, and using that to identify the language tag, which is a component of the language name and region, i.e 'fr->fr-FR', and to note, the language tag represent the translation folder and where the localization strings are located.

the supported ISO code's location:
`/app/Resources/legacy-to-standa

[2019-06-10 17:47] frankymartinES commented on #14120
@PierreRambaud I did it in every shop (not in All Shops Backoffice) but the problem is still here.

[2019-06-10 19:01] PierreRambaud commented on #14120
ping @khouloudbelguith Are you able to reproduce the multistore issue?

[2019-06-10 19:06] PierreRambaud commented on #13920
Done and release

[2019-06-10 19:06] #13920 closed, assigned to nobody

[2019-06-10 19:07] PierreRambaud commented on #13938
We will update the composer file in few days

[2019-06-11 01:41] lothianwraps commented on #14104
Hi
I reinstalled the module and it seems to have fixed the problem

Thanks you for trying to help
Scott

[2019-06-11 01:41] #14104 closed, assigned to nobody

[2019-06-11 04:52] Akashvastarpara opened #14148 "classic theme menu thumbnail"
When we add menu thumbnail image in category then it doesn't showing on front-office in the main menu with the classic theme. is it ok?

PrestaShop version: 1.7

[2019-06-11 06:22] sarahdib commented on #10581
@colinegin I agree with you and it's not necessary to have 3 buttons "generate pdf"  (with two of them who are not working in the legacy page).

[2019-06-11 06:41] sandra2n commented on #14114
Hi,
Delete your lang ID 1 for exemple (or activate multishop, create new shop and delete shop ID 1). Then go in a product (in the admin) and in the combination tab. No attributes are displayed in the column at the right of the page, so no combination can be created.

As you can see in my previous messages the attributeGroups variable is filled based on lang ID 1 and shop ID 1 (findByLangAndShop(1,

[2019-06-11 06:47] bm-services commented on #11115
Hi sirion89,
Have you enabled advanced inventory management on your shop?
I think that it's linked to this problem.

[2019-06-11 06:50] sunnyvsrainy opened #14149 "Round the $this->total_paid_real in addOrderPayment method"
Hi team,

in PrestaShop/classes/order/Order.php,  the method public
function addOrderPayment(**$amount_paid**, $payment_method = null,...

.....
        // Update total_paid_real value for backward compatibility reasons
        if ($order_payment->id_currency == $this->id_currency) {
             **$this->total_paid_real += $order_payment->amount;**
        } else {
            $this->total_paid_r

[2019-06-11 07:08] zozizozu commented on #14016
Hi, I finally find out what was generate these strange behaviour : i have set opcache.enable to 0 and since 6 days, i have no errors.
Thanks again

[2019-06-11 07:16] AminPersis commented on #14095
@khouloudbelguith

Hi,
I couldn't fix this issue, yet. Do you know how should I fix it?

Regards
Amin

[2019-06-11 07:22] dharmendravirasat opened #14150 "I have problems with updating a Product (custom fields) in Prestashop."
I followed the tutorial: http://blog.belvg.com/how-to-create-a-custom-product-tab-in-prestashop.html

It works quite fine, when I save a product the normal way. But Prestashop 17.5.2 has an autosave function, when changing stock or prices. This makes my custom fields empty. By trial & error I found out, that my hookActionProductUpdate function causes the problem, but I dont know why not get custom

[2019-06-11 07:27] PierreRambaud commented on #14140
I'm not able to reproduce after a fresh 1.7.5.2 install and upgrade to the latest facetedsearch version :/

[2019-06-11 07:30] marionf commented on #14123
Hello @01park

Where do you make the refund, in your back-office ?
Could you please send a screenshot of the page and the button ?
From what I know, it's not possible to make refunds in bulk in the back-office

Thank you

[2019-06-11 07:47] dharmendravirasat commented on #14139
I have  two store,store name is shop and shopA. shop is primary project and shopA  saved in subfolder.
problem is that i am changed logo for shopA/subfolder but front end showing image undefine path.
Image could't storing in subfolder/img/cms and i am checked image stored in primary/project/shop directory
Note: I don't know why store in primary project directory.
I should save in subfolder directo

[2019-06-11 07:49] 01park commented on #14123
Hi,

I made the refund in back office. It's the basic change status field in the order status.  What I'm suggesting is to build in a double check, like a " ARE YOU SURE YOU WANT TO REFUND", because once you execute, the Paypal transaction gets automatic refunded. I never tried a bulk refund, but if that doesnt work. Good!

[2019-06-11 07:54] sirion89 commented on #11115
@bm-services If you mean configuration -> products -> product stock -> allow stock management yes, i have that enabled on my site (dunno if all the translations are right, my website is on another lang  )

[2019-06-11 07:58] bm-services commented on #11115
Yes that is it, and do you use PrestaShop warehouses?

[2019-06-11 07:59] khouloudbelguith commented on #14140
Hi @rdy4ever, yes @PierreRambaud is right, In my last case, I have a large number of products, I have more than 8000 products, "Rebuilt entire price index" takes a lot of time.

@rdy4ever, do you have a large number of products?

Thanks!

[2019-06-11 08:01] marionf commented on #11305
Yes, as said by BilalDr we can add the field in the edit combination page and add an information message in Shipping tab below the shipping fees input

[2019-06-11 08:01] sirion89 commented on #11115
@bm-services Do you mean the active theme? yes, it's warehouse. We made a child-theme out of it but yeah, that's the parent theme

[2019-06-11 08:04] bm-services commented on #11115
No, I mean about warehouse fonctionnality linked to advanced stock management. It allows to assign stock in several warehouses.

[2019-06-11 08:05] khouloudbelguith commented on #14148
Hi @Akashvastarpara,

Yes, because the thumbnail is the same as the category cover image but in smaller

Yes, because the thumbnail is not used in classic template

Yes, because the thumbnail is the same as the category cover image

These behaviors are normal.

I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-11 08:05] #14148 closed, assigned to nobody

[2019-06-11 08:05] khouloudbelguith commented on #14148
Duplicate of #12760

[2019-06-11 08:06] sirion89 commented on #11115
@bm-services I don't think so. Where that option should be located? (btw we should clean this chat-like thing and leave only the useful comments)

[2019-06-11 08:16] khouloudbelguith commented on #14150
Hi @dharmendravirasat,

In your function `hookActionProductUpdate` could you please try to add this line

`$id_product = Tools::getValue('id_product'); `

THanks to check & feedback.

[2019-06-11 08:27] khouloudbelguith commented on #11924
Hi @colinegin,

I did not manage to reproduce the issue with PS1.7.6.0beta1 => it is ok.
https://drive.google.com/file/d/1ZPb7mJAgtudqOrSyHR_CfGLT3SuG1JMU/view
I close the issue.

Thanks!

[2019-06-11 08:27] #11924 closed, assigned to nobody

[2019-06-11 08:31] marionf commented on #14123
@01park

I just tried to make an order and a refund with Paypal

![capture d'écran_1659](https://user-images.githubusercontent.com/13449658/59256276-eaadf300-8c33-11e9-8206-24658999a4df.png)

![capture d'écran_1660](https://user-images.githubusercontent.com/13449658/59256293-f00b3d80-8c33-11e9-8a20-0ddb164e8df8.png)

![capture d'écran_1661](https://user-images.githubusercontent.com/13449658/592563

[2019-06-11 08:35] khouloudbelguith commented on #14149
Hi @sunnyvsrainy,

I created a product with a price = 114.76, then I created order with this product => change the status of this order to "payment accepted", in my database I have `total_paid_real` = 114.760000

![image](https://user-images.githubusercontent.com/16067358/59256597-2fce2700-8c2c-11e9-916b-df0ef63a5cd7.png)

During those steps, I don't have any invalid price exceptions.

Thanks!

[2019-06-11 08:39] 01park commented on #14123
I share screen shots. After I select refund in the status menu, i receive a customer service message. Saying that the refund is done
<img width="1205" alt="Screenshot 2019-06-11 at 09 35 14" src="https://user-images.githubusercontent.com/46492443/59256890-cac70100-8c2c-11e9-9ea4-c92d455e232b.png">
<img width="852" alt="Screenshot 2019-06-11 at 09 36 44" src="https://user-images.githubusercontent.c

[2019-06-11 08:39] agnesdennetiere commented on #14081
Hello,

In your example, the price is the same (29) in both shops? At 1:08 you change the shop in the backoffice to go to the "prestashop" shop but it is still 29€, I do not understand.
Could you try with a different price (without tax)?

[2019-06-11 08:41] PierreRambaud commented on #14090
@Tomskor Can you send me a link of your website to try to find what's exactly broken?

[2019-06-11 08:44] rdy4ever commented on #14140
@PierreRambaud @khouloudbelguith
No. I have only 65 products. Please note that #14144 is the same issue, so I am not the only one affected by this. So it must be something related to having the old versions of the module installed and configured first. I have tried every each way to make it work, I have also uninstalled the module completely, deleted all its tables and reinstalled it. The problem

[2019-06-11 08:56] marionf commented on #14123
No, it's the same on 1.7.5.2
The "refund Paypal" checkbox is displayed after clicking on "Partial Refund"
Anyway, the refund is also done when you select the "refunded" order status and this is also managed by Paypal module, so the alert should be implemented by Paypal module
And you are right, order status can be changed in bulk directly in order listing

[2019-06-11 09:02] Tomskor commented on #14090
@PierreRambaud for example https://tomskor.pl/17-kurtki

but like I said before, we fixed that, changing one line:  width: calc(100% - 30px);on  width: calc(90% - 30px);

you can try use devtools and restore that line on 100% and try changing windows size and look at left column.

[2019-06-11 09:05] PierreRambaud commented on #13652
@marionf @khouloudbelguith I'm able to reproduce the bug in 1.7.5.2, so this is not a regression and I think can be remove from 1.7.6 backlog
![image](https://user-images.githubusercontent.com/1462701/59258279-f7344a80-8c37-11e9-9e4f-e2c6abad9802.png)

[2019-06-11 09:10] rdy4ever commented on #14140
@PierreRambaud @khouloudbelguith
Also, please note that in my case "Rebuild entire price index" works, but in FO I still have the error. So, then I try "Index all missing prices" and that doesn't work, the spinner just spins forever.

[2019-06-11 09:10] matks commented on #13976
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14075

[2019-06-11 09:10] #13976 closed, assigned to nobody

[2019-06-11 09:10] matks commented on #14100
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14107

[2019-06-11 09:10] #14100 closed, assigned to PierreRambaud

[2019-06-11 09:20] khouloudbelguith commented on #14140
@rdy4ever, no, it is OK in my case, after upgrade from v2.2.0 to 3.0.3
https://drive.google.com/file/d/1008_nYbM2sS_hGlR9tM1O66uboYWcWdQ/view
Thanks!

[2019-06-11 09:24] #12969 closed, assigned to matks, jolelievre

[2019-06-11 09:26] rdy4ever commented on #14140
@khouloudbelguith please also try "index all missing prices" button

[2019-06-11 09:27] matks commented on #13501
ping @mickaelandrieu

Yes

[2019-06-11 09:45] khouloudbelguith commented on #14120
Hi @PierreRambaud,

issue reproduced with PS1.7.6.0beta1 / 1.7.5.2 & ps_factedsearch v3.0.3 but in inother case

Product A with:
1. Brand: Graphic Corner
2. Category: Home
3. Created in all shops
4. Enabled in the shop 1
5. Disabled in the shop 2

In the FO => Shop 1 selected, home page 2, filter with the brand Graphic Corner

1. Before disabling the product in the shop 2
![image](https://user-ima

[2019-06-11 09:47] dharmendravirasat commented on #14150
But i am get Tools::getValue('custom_field');
and product id  already able to access
Note:- This text type custom_field already added in  product update;
overall working fine but i am not getting custom_field value

Note:- public function hookActionProductUpdate($params){
$id_product = Tools::getValue('id_product');
if(!Tools::getValue('custom_field'))return;

	$url=(string)Tools::getValue('custom

[2019-06-11 09:50] dharmendravirasat commented on #14150
But i am get Tools::getValue('custom_field');
and product id already able to access
Note:- This text type custom_field already added in product update;
overall working fine but i am not getting custom_field value

Note:-```
 public function hookActionProductUpdate($params){
$id_product = Tools::getValue('id_product');
if(!Tools::getValue('custom_field'))return;

$url=(string)Tools::getValue('custo

[2019-06-11 09:52] TristanLDD commented on #13784
I'm working on the mockups to harmonize the behavior, once it's done I think we should integrate the tinyMCE component in the UI kit for further use.

[2019-06-11 10:02] #14123 closed, assigned to marionf, MatShir

[2019-06-11 10:06] sandra2n commented on #14140
Hello,
similar issue for me. In the front the filter by product only work if in the module parameter I choose to apply the filter to price with tax incl. It seems that when the index is build without this option the id_country in the base "layered_price_index" is put to "0", while the current id_country is used in the sql request when products are filtered by price "
'price_min' => [

[2019-06-11 10:07] sandra2n commented on #14140
and "
if (!Configuration::get('PS_LAYERED_FILTER_PRICE_USETAX')) {
                $taxRatesByCountry = [['rate' => 0, 'id_country' => 0, 'iso_code' => '']];
            }
"

[2019-06-11 10:08] khouloudbelguith commented on #14150
@dharmendravirasat, first, you need to check if in your module the `hookActionProductUpdate` is working or not.
You can try with `die();`

[code]
When you update a product => Settings updated is always displayed?

Thanks!

[2019-06-11 10:12] #14120 closed, assigned to nobody

[2019-06-11 10:19] dharmendravirasat commented on #14150
Hi
I am checked my code problem is that i am not using quotes for string

`return Db::getInstance()->execute('UPDATE '.DB_PREFIX.'amazon_url SET amazon_url ='.$url.' WHERE id_product ='.$id_product.'');`
replace code and apply new code
`return Db::getInstance()->execute('UPDATE '.DB_PREFIX.'amazon_url SET amazon_url ="'.$url.'" WHERE id_product ='.$id_product.'');`

Thank for your feedback
I have

[2019-06-11 10:19] #14150 closed, assigned to nobody

[2019-06-11 10:23] Klemart3D commented on #11115
Warehouses are no more available in PS1.7. What is your PS version @sirion89?

[2019-06-11 10:26] rdy4ever commented on #14140
In my case, all my prices are tax-free.

With version 2.2.1 installed, everything works and `ps_layered_price_index` table is populated correctly. See screen recording: https://drive.google.com/open?id=1kax81xOSDGqMCpL_vo_cgTTShkgQJW7n

With version 3.0.3 updated from 2.2.1 (but I also tried installing it directly), if I click on "rebuild entire price index", the ajax call seems to work, but the t

[2019-06-11 10:26] 01park commented on #14123
Hi,

 Like I said, this is not an issue, its a concern. Will someone from Prestashop reach out to Paypal?

[2019-06-11 10:26] jolelievre commented on #13640
@samuel-pires @colinegin so it is feasable ^^ feel free to test the PR to see if it matches what you expected

[2019-06-11 10:28] khouloudbelguith commented on #11585
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0beta1.

When the module is transplanted to the displayNav2 hook, if we resize the window => it is NOT displayed

https://drive.google.com/file/d/1fhLghFeANw6DK1u0QMAqyTODP2_1lhR4/view

When the module is transplanted to the displayTop hook, if we resize the window => it is well displayed

https://drive.google.com/file/d/1yx3VVpTaV1ov

[2019-06-11 10:34] khouloudbelguith commented on #14070
Hi @marionf,

Thanks for your feedback.
Yes, with branch 1.7.6.x => it is OK.
https://drive.google.com/file/d/1mFP4WJU5G_mmqnbq_9PiqBZ-WdvoYest/view
I will close the issue since it is fixed.

Thanks!

[2019-06-11 10:34] #14070 closed, assigned to nobody

[2019-06-11 10:38] rdy4ever commented on #14140
OK. I can confirm that @sandra2n is right.
In version 3.0.3, in the module configuration, if I set "**Use tax to filter price**" to **NO**, then the price indexing works just in the BO, while in the FO still doesn't work. Also, in the database, price_min, price_max and id_country are all set to 0:
![image](https://user-images.githubusercontent.com/12268701/59265526-2eadf180-8c4e-11e9-836d-5f58cba5

[2019-06-11 10:56] khouloudbelguith commented on #14150
@dharmendravirasat, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-06-11 11:02] rdy4ever commented on #14140
@khouloudbelguith @PierreRambaud

**Please reproduce the issue as follows:**
1. Set all the active products in the shop to **Tax rule: No tax**. You can leave just a few activated products, I tried it with just 5 active products. You need to set it te every active product, it doesn't work if you just disable all tax rules.
2. Go to module config, click "rebuild entire price index". It will work, h

[2019-06-11 11:08] Jacky75 commented on #13892
Hi,
what can I do if I need to keep  "Use product reference as key"? I have thousands of products to update by reference...

[2019-06-11 11:21] khouloudbelguith commented on #14140
@rdy4ever, thanks a lot for your feedback.
Now, I manage to reproduce the issue with PS1.7.5.2 & the ps_factedsearch v3.0.3
to reproduce the issue, we need all the active products in the shop to **Tax rule: No tax**.
ping @PierreRambaud
With PS1.7.6.0beta1 & ps_factedsearch v3.0.3 => it is OK
https://drive.google.com/file/d/1-QU0_yKd_pT3iIHp7ngk87jg-aJhe7IZ/view

Thanks!

[2019-06-11 11:24] khouloudbelguith commented on #13892
Hi @Jacky75,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2019-06-11 11:26] khouloudbelguith commented on #14120
Hi,

The issue of multistore is fixed with this PR: https://github.com/PrestaShop/ps_facetedsearch/pull/88

Thanks!

[2019-06-11 11:28] shnslmz commented on #14144
Hi @khouloudbelguith ,
Thanks for your answer but it did not work.

[2019-06-11 11:32] rdy4ever commented on #14140
Hi @khouloudbelguith
I also managed to reproduce with PS1.7.6.0 and v3.0.3

[2019-06-11 11:35] khouloudbelguith commented on #12330
Hi @marionf,

Yes, it is OK.
I tried with PS1.7.6.0beta1 & the PayPal v4.4.6 => ok
https://drive.google.com/file/d/1HPbDxKat9PH4HyGpCqyBBBCNSYlmHtWw/view

I will close the issue.

Thanks!

[2019-06-11 11:35] #12330 closed, assigned to nobody

[2019-06-11 11:40] rdy4ever commented on #14144
Are your products set to **Tax rule: No tax**? Then, you have the same issue as #14140

[2019-06-11 11:44] khouloudbelguith commented on #14140
@rdy4ever, with PS1.7.6.0 => in the FO ok
as described in this video record
https://drive.google.com/file/d/1-QU0_yKd_pT3iIHp7ngk87jg-aJhe7IZ/view
But, in the table ps_layered_price_index, not all the prices price_min, price_max, and id_country are not all 0.
![image](https://user-images.githubusercontent.com/16067358/59269285-9c561f80-8c46-11e9-83e0-12bbb706380e.png)

Thanks!

[2019-06-11 11:45] khouloudbelguith commented on #14144
@shnslmz, thanks to check if your active products have no tax as a tax rule or not.

Thanks!

[2019-06-11 11:46] marionf commented on #14123
Yes, it's an improvement request. You should contact [PayPal](https://www.202-ecommerce.com/en/contact-us/) directly

[2019-06-11 11:46] shnslmz commented on #14144
Just some of them are set to no tax.

[2019-06-11 11:58] khouloudbelguith commented on #14144
@shnslmz, yes, it is the same issue reported here: #14140.

In your case, only products are displayed in which they have tax rules not set to no tax.

Thanks!

[2019-06-11 11:58] #14144 closed, assigned to nobody

[2019-06-11 11:59] khouloudbelguith commented on #14144
Duplicate of #14140

[2019-06-11 12:00] bm-services commented on #11115
Warehouses aren't available from 1.7.0 to 1.7.2 only.

[2019-06-11 12:04] khouloudbelguith commented on #14139
@dharmendravirasat, what is the exact `Physical URL` & `Virtual URL` for both `shop` & `shopA`?
![image](https://user-images.githubusercontent.com/16067358/59270448-64041080-8c49-11e9-919f-b6c9802946d0.png)

Thanks!

[2019-06-11 12:06] sirion89 commented on #11115
@Klemart3D 1.7.4.2

[2019-06-11 12:06] khouloudbelguith commented on #14095
Hi @AminPersis,

Sorry for the late answer.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-06-11 12:09] rdy4ever commented on #14140
@khouloudbelguith
In my case it doesn't work: https://drive.google.com/open?id=1ZLOAbN9-dUnvQdZYEw9XyAHqotzPRdnn.
Could you try to truncate `ps_layered_price_index` table first, so you'' have just the active products inside?

[2019-06-11 12:12] shnslmz commented on #14140
It's so interesting: "we need all the active products in the shop to Tax rule: No tax.".

Anyway,  I will try to upgrade for 17.6.0.
There is no any other solutions for now, right?

[2019-06-11 12:19] cherma1972 commented on #14090
hello : https://apy-groupe.com/fr/fr/12-stations-de-travail-sur-mesure

[2019-06-11 12:19] khouloudbelguith commented on #14114
Hi @sandra2n,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10924 to fix the issue.
It is fixed in the PS1.7.6.0.
Your ticket is a duplicate of #9627
So, I close it.
Thanks!

[2019-06-11 12:19] khouloudbelguith commented on #14114
Duplicate of #9627

[2019-06-11 12:19] #14114 closed, assigned to nobody

[2019-06-11 12:22] rdy4ever commented on #14140
Actually, it's not necessary for **_all_** the products to be set to Tax rule: No tax. If you have mixed products, some with tax and some without, only the ones with tax will be indexed and shown in the FO when sorting by price. If all products are set to No tax, then no product will be shown.

[2019-06-11 12:29] matks commented on #14146
@PierreRambaud Any recommandation for a tool to do it automatically for us (we might plug it on PrettyCI later btw) ?

Else I found https://squizlabs.github.io/HTML_CodeSniffer/

[2019-06-11 12:33] matks commented on #14042
No, you can save this value anywhere you want. It could be in another SQL table (example: `ps_customers_extra`), it could be in a file, you are free to store it wherever you want 😉 . Usually we consider a new SQL table to be a good solution as you are sure another module will not mess with your data.

However if you want to store the data from the extra fields in the customer database, then indeed

[2019-06-11 12:35] matks commented on #13166
Check in English ;) maybe the 2 tabs have been translated with 2 different names for French.

[2019-06-11 12:36] shnslmz commented on #14140
Thanks but I don't think that's good. According to your above report, I will try to upgrade.

[2019-06-11 12:47] khouloudbelguith commented on #14140
@rdy4ever,

Yes, I did that & it is the same result.
I attached a video record
https://drive.google.com/file/d/16G6VLZpepCav88ZzBCH2znSs9HQ0F9N1/view
Thanks!

[2019-06-11 12:48] khouloudbelguith commented on #14104
@lothianwraps, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-06-11 12:51] khouloudbelguith commented on #14074
@OneDotIT, thanks for your feedback.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-06-11 12:52] cherma1972 commented on #14090
hello, don't work
no change, since the update of this weekend I have in addition a new error, I have all the attributes in duplicate
![Capture1106](https://user-images.githubusercontent.com/51416502/59273423-7d608900-8c58-11e9-912c-b6e5dd6ffba8.PNG)

[2019-06-11 12:53] Klemart3D commented on #11115
I have same duplication problem with PS 1.7.5.0 and I'm not using warehouses (only advanced stock management)

[2019-06-11 12:54] zuk3975 commented on #14001
I found out that this behavior is associated with bootstrap dropdown, so i doubt we can do anything.
The thing is that on toggle it puts style with transform:translate3d('x', 'y', 0) and this causes the blur. There are workarounds for this particular css attribute (for example putting transform:translateX('x') translateY('y')), but we cannot change the behavior of bootstrap anyway.

[2019-06-11 12:54] khouloudbelguith commented on #14046
@frenchqwerty, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-06-11 13:03] billaronson opened #14153 "No country code"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Checkout
2. Click on Country
3. No list of country codes

Unable to complete order

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

![image](https://user-images.githubusercontent.com/51707566/59273997-49359a00-8c51-11e9-

[2019-06-11 13:05] marionf commented on #13500
@ChristianPredebon I added your suggestion [here](http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/37878268-possibility-to-negate-checkbox-filter) to see if other people are interested by this feature

[2019-06-11 13:06] khouloudbelguith commented on #14153
Hi @billaronson,
Thanks for your report.
Could you please navigate to your BO => International => Locations => Countries Tab => check if you have any country enabled?

Thanks to check & feedback.

[2019-06-11 13:10] matks opened #14154 "[SF Migration] Devtool: dynamic CQRS mapping"
Following @zuk3975 implementation of SF Command `prestashop:list:commands-and-queries` I think a nice dev tool for developers would be a BO dev-only page that displays an helpful mapping of CQRS.

By this I mean:
- a map that show which handlers catch which Query or Command
- with searching capabilities
- extra: links to the code (how can de wo that outside of github / an IDEA ? 🤔 )

Suggested ide

[2019-06-11 13:17] billaronson commented on #14153
that works thank you

[2019-06-11 13:17] #14153 closed, assigned to nobody

[2019-06-11 13:22] khouloudbelguith commented on #14105
Hi @damiankalka,

In fact, if you create a new category with description not empty, this is will be automatically meta description.
I attached a video record.
https://drive.google.com/file/d/1lU3FJj40srlRvq4wJoC-zHARcyJz9zvz/view
Same behavior with PS1.7.6.0beta1 & PS1.7.5.2
Thanks to check & feedback.

[2019-06-11 13:23] khouloudbelguith commented on #14153
@billaronson, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-06-11 13:58] marionf commented on #13166
Humm, same thing

![capture d'écran_1663](https://user-images.githubusercontent.com/13449658/59278111-b3563b00-8c61-11e9-8af6-97d03bc519f5.png)

[2019-06-11 14:04] marionf commented on #10846
This problem is for all modules and can't be solved in the module

[2019-06-11 14:09] matks opened #14155 "[SF Migration] Make sure all SF routes have no trailing slash"
We should never have trailing slashes for URLs according to @PierreRambaud so we should:
- remove them if we have some
- add an automtated tool to detect/remove them

[2019-06-11 14:32] marionf commented on #14102
@ProBackup-nl
Yes, you can create a tax rule as suggested by @Hlavtox and also create a customer group with "price display method" set to "tax excluded"

[2019-06-11 14:36] khouloudbelguith commented on #13720
Hi @go-sudo,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-11 14:36] #13720 closed, assigned to nobody

[2019-06-11 14:51] kijamve commented on #12682
Maybe this PR https://github.com/PrestaShop/PrestaShop/pull/14117 fix this

[2019-06-11 14:51] khouloudbelguith commented on #9809
Hi @mwijngaard,

Thanks a lot for your feedback.
this issue now is added to our bug roadmap.
So, our developers will fix this issue in the right way.
Your feedback also will help us to fix the issue.
Below are different ways to help us to fix this issue:
- If you found a module that solves the issue, please add a comment with a link to it so it is possible to share this knowledge with other impact

[2019-06-11 14:55] khouloudbelguith commented on #14068
@AminPersis, you just created a new issue.
Duplicate of #14095

[2019-06-11 14:55] #14068 closed, assigned to nobody

[2019-06-11 14:55] khouloudbelguith commented on #14068
Duplicate of #14095

[2019-06-11 14:56] PierreRambaud commented on #14090
Hi @cherma1972 I'm not able to reproduce or maybe you fixed it?
![image](https://user-images.githubusercontent.com/1462701/59282804-c8cf6300-8c69-11e9-8ecd-09679a84dd87.png)

[2019-06-11 15:18] khouloudbelguith commented on #14062
@YourStylesas, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-06-11 15:22] #14082 closed, assigned to PierreRambaud

[2019-06-11 15:26] cherma1972 commented on #14090
yes , i fixed , but I don't arrive as before to have the complete titles, now, the attributes are cut by "..."

[2019-06-11 15:50] ghost opened #14157 "Customer creation error messages and tips to be updated with new invalid characters"
**Is your feature request related to a problem? Please describe.**
Following the addition of new invalid characters in customer creation forms in 1.7.5.2, we have to update the **error messages** and the **tips** in the **customer creation page** in the BO.

Now, when using an invalid character listed in the tip:
![Capture d’écran 2019-06-11 à 17 26 09](https://user-images.githubusercontent.com/

[2019-06-11 15:52] khouloudbelguith commented on #14069
@Lucascetii, I checked your shop.
the ps_sliderimage is not displayed
![image](https://user-images.githubusercontent.com/16067358/59287251-33cc6a00-8c69-11e9-9aea-d05670cf35c9.png)

Thanks to check & feedback.

[2019-06-11 16:02] khouloudbelguith commented on #14136
@photinia73, Could you please provide me your theme to test it.
This is a public space.
You can provide me the theme by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-06-11 16:04] khouloudbelguith commented on #13678
@YourStylesas, did you removed the old theme from your project folder?

Thanks!

[2019-06-11 16:06] matks commented on #13678
It might be true, but they need to be more specific 😄 "it comes from prestashop" is really not helpful

[2019-06-11 16:07] PierreRambaud commented on #14090
@cherma1972 If you want to remove `...`
just remove these lines:
![image](https://user-images.githubusercontent.com/1462701/59288271-b3f7cd00-8c73-11e9-8147-c01c29e71385.png)

[2019-06-11 16:11] khouloudbelguith commented on #13678
@YourStylesas, I checked today your shop again & it is OK.
![image](https://user-images.githubusercontent.com/16067358/59288566-fe754b80-8c6b-11e9-9834-e57b9e9d41f8.png)

Thanks!

[2019-06-11 16:14] khouloudbelguith commented on #14108
@dharmendravirasat, you just created a new issue about this problem.
Duplicate of #14139

[2019-06-11 16:14] #14108 closed, assigned to nobody

[2019-06-11 16:14] khouloudbelguith commented on #14108
Duplicate of #14139

[2019-06-11 16:16] khouloudbelguith commented on #14083
ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-06-11 16:17] davidguestforce opened #14158 "Undefined method extractTheme in AdminThemesController.php"
**Describe the bug**
When trying to open Admin Panel -> Design -> Theme & Logo an Error 500 pops up. After enabling debugging the error shows that method _extractTheme_ is not defined.

The one and only place where _extractTheme_ occurs is line 126 in \controllers\admin\AdminThemesController.php

I could not find definition of that method anywhere in PrestaShop files.

**To Reproduce**
Steps to re

[2019-06-11 16:21] khouloudbelguith commented on #14158
Hi @davidguestforce,

I did not manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2.
I attached a video record.
https://drive.google.com/file/d/1REdj4IMgstBKhDqJKa15T7lyLERVXa_o/view
Thanks to check & feedback.

[2019-06-11 16:23] LouiseBonnard commented on #14127
Dear @BenTen, thanks for reporting this issue. Localization packs need to have their data updated, you're absolutely right. And this work is planned for the next minor version, 1.7.7, which is due for the end of the year. I close this issue since it has been added to our roadmap, but feel free to open it again if you need to bring another information to our attention. :-)

[2019-06-11 16:23] #14127 closed, assigned to LouiseBonnard

[2019-06-11 16:55] Quetzacoalt91 commented on #14005
Also, there is the validator which is able to generate modules: https://validator.prestashop.com/generator, and this old repository in which we can find another skeleton (from 2014): https://github.com/PrestaShop/module-generator

It looks like everybody had the same idea, but it is now time to merge everything in a single place instead of creating something else new. :)
Let me know if I can help.

[2019-06-11 17:00] jolelievre commented on #14143
Hi @sarahdib I checked for this bug
It seems the real issue is from the fixtures, in the provided images the image for category as a large blank background to be used as a cover background I think:

![Accessories-category_default](https://user-images.githubusercontent.com/13801017/59291158-7e0a1700-8c7a-11e9-9715-b3fd9152e3cc.jpg)

But if you use a regular image without extended background:

![Acc

[2019-06-11 17:18] sarahdib commented on #14143
@jolelievre I try with all product and fresh install. It's the same problem.

<img width="1214" alt="Capture d’écran 2019-06-11 à 19 17 13" src="https://user-images.githubusercontent.com/3034677/59292540-9c254680-8c7d-11e9-85b5-74fcdd01646e.png">

[2019-06-11 17:27] jolelievre commented on #9882
Hi I would like to finish this issue (even though I didn't start it)
But I don't understand the issue here.. The proposed fix is more about text size than images, and the content of the issue is from the Forge with no screenshot to illustrate the problem.
Can somebody please give me details about what needs to be fixed?
@colinegin @marionf @TristanLDD maybe?

[2019-06-11 17:53] davidguestforce commented on #14158
I have custom theme installed:
[https://addons.prestashop.com/en/home-garden-themes/24311-interior-furniture-store.html](url)

_extractTheme_ is called only from within _downloadAddonsThemes_ in AdminThemesController
Since I did not find definition of _extractTheme_ anywhere in PrestaShope I guess you did not get any error because _downloadAddonsThemes_ is not being called when you open Theme & Lo

[2019-06-11 20:09] ptvsat commented on #14140
BIG issue ps1.7.5.1 >> upgread 3.0.2 to 3.0.3
500 server error

log:

213.251.182.106 www.planet-tvsat.com - [11/Jun/2019:22:00:10 +0200] "GET /boutique/modules/ps_facetedsearch/ps_facetedsearch-price-indexer.php?token=1bf50fe948&cursor=355&full=0 HTTP/1.1" 408 221 "-" "-"
213.251.182.106 www.planet-tvsat.com - [11/Jun/2019:21:56:59 +0200] "GET /boutique/modules/ps_facetedsearch/ps_facetedsearch-p

[2019-06-11 20:18] aurelienharinck commented on #14092
Hi @khouloudbelguith,

This issue appear with this functionnality :

The video will be more explicit :)
https://youtu.be/tJBNdzS6wDc

Thank for your answer.

[2019-06-11 22:32] go-sudo commented on #13854
Additionnal information
PrestaShop version: 1.7.5.1
PHP version: Plesk php 7.2.15
Informations sur votre serveur Linux #1 SMP Fri Feb 1 14:54:57 UTC 2019 x86_64

Version du logiciel serveur : Apache

Version de PHP : 7.2.15

Limite de mémoire : 6056M

Temps maximal d'exécution : 3000

Taille max. pour envoi de fichiers : 70M

Code added to file footer.tpl

[code]

Google said that to move ads to b

[2019-06-12 07:30] khouloudbelguith commented on #13753
Hi @union-des-vignerons,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-12 07:30] #13753 closed, assigned to nobody

[2019-06-12 07:31] khouloudbelguith commented on #13762
Hi @Huzefa-anchanto,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-12 07:31] #13762 closed, assigned to nobody

[2019-06-12 07:32] khouloudbelguith commented on #13771
Hi @Jerome08,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-12 07:32] #13771 closed, assigned to nobody

[2019-06-12 07:33] jolelievre commented on #14143
I know, that's what I'm saying ALL the images used as fixtures for demo are incorrect. You can look into the folder `install-dev/fixtures/fashion/img/c`
You will see all the images and if you images `*_default.jpg` they are all overly large.

[2019-06-12 07:34] sarjon commented on #13501
I know that in theory it's a BC break, but this is a form type, you never create new instances by yourself. This kind of BC break is acceptable imo and will affect very little _if any_ developers.

I think it's better than introducing yet another similar form type which would add more confusion.

[2019-06-12 07:39] khouloudbelguith commented on #14140
Hi @ptvsat,

Your issue is different from this issue, can you open a new one with more information about your configuration.

Thanks!

[2019-06-12 07:54] khouloudbelguith commented on #14158
Hi @davidguestforce,

Have you tried to contact the theme author about this issue?
I tried to use another Theme but, I did not manage to reproduce the issue.
![image](https://user-images.githubusercontent.com/16067358/59333107-99633980-8cef-11e9-9d87-ba2e1cc09ae7.png)

Thanks!

[2019-06-12 08:03] colinegin commented on #9882
Apparently when the image does not have the correct size, it is zoomed.
Here is the screenshot that was in forge :
![image](https://user-images.githubusercontent.com/35263827/59333730-40000800-8cf9-11e9-9147-162037fb2e31.png)

Here what was decided :
In the ps_imageslider module, there should be a message below the image field saying : "default size: 1110x340 pixels"

If the uploaded image is too

[2019-06-12 08:12] colinegin commented on #14143
There is no such an issue in 1.7.5, so first step is to check if fixtures have been changed in 1.7.6
If yes, we should roll back to what was done in 1.7.5.
@TristanLDD you seemed to have an idea of what might have happened here ?

[2019-06-12 08:29] mrabsinthe opened #14159 "Changing order status bug - wrong logic - 1.7.5.2"
**Describe the bug**
There is a wrong confirmation message when changing order status

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'orders and filter by status (status is not important)'
![step1](https://user-images.githubusercontent.com/31688689/59335005-febd2780-8cfb-11e9-8fbc-83c1a0c3744e.png)

2. Do NOT select any order and click on 'Bulk actions/Change Order Status'
3. You can

[2019-06-12 08:32] khouloudbelguith commented on #14092
@Harincka, thanks for your feedback.
Is it the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/9854?

Thanks!

[2019-06-12 08:34] TristanLDD commented on #14143
As @jolelievre said the source images are overly large, but their ratio are actually the same as if they were supposed to display in full width on the category bloc.
Some of the Ready themes have such a behavior, here's Lifestyle:
![Capture d’écran 2019-06-12 à 10 28 47](https://user-images.githubusercontent.com/27484094/59335444-e699d800-8cfc-11e9-9c4c-52cf46d82d53.png)

So I assume someone mad

[2019-06-12 08:38] khouloudbelguith commented on #14159
Hi @mrabsinthe,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2
https://drive.google.com/file/d/1G0BzdaA34U_LPnfVEynbHqvRZ2-R_dLH/view
@matks, this issue could be fixed in this ticket: https://github.com/PrestaShop/PrestaShop/issues/10582?

Thanks!

[2019-06-12 08:45] matks commented on #14159
@khouloudbelguith Yes it's an easy bug to fix, I add it to the issue 😄

[2019-06-12 08:45] matks commented on #10582
Additionnal issue https://github.com/PrestaShop/PrestaShop/issues/14159

[2019-06-12 08:46] TristanLDD commented on #14143
Ok now I'm sure this is the reason, when you go to change the category image with lifestyle theme installed the recommended dimensions are 825x236 which is the size of the wrong images in classic
![Capture d’écran 2019-06-12 à 10 38 34](https://user-images.githubusercontent.com/27484094/59336487-f61a2080-8cfe-11e9-96e9-dd541b2a6f1b.png)

On classic theme it's 141x180 :
![Capture d’écran 2019-06

[2019-06-12 08:51] sarjon commented on #10582
List just goes on. :sweat_smile:

[2019-06-12 08:52] matks commented on #10582
It's a legacy issue. I think it might be fixed by using the grid because bulk action does not trigger if nothing is selected

[2019-06-12 08:53] PierreRambaud commented on #14140
@rdy4ever Should be ok with this PR :) https://github.com/PrestaShop/ps_facetedsearch/pull/90

[2019-06-12 08:55] colinegin commented on #14001
Alright thanks for your feedback @zuk3975 , since there's nothing we can do yet, I remove it from the 1.7.6 kanban.
@matks , for a future version we'll see if there's something we can do to improve it.

[2019-06-12 09:03] rdy4ever commented on #14140
Hi @PierreRambaud
Yes. I can confirm this PR fixes the problem with price indexation for products with no tax applied.
Thanks!

[2019-06-12 09:05] khouloudbelguith commented on #14140
@PierreRambaud, it is OK for me also with PS1.7.5.2.

Thanks!

[2019-06-12 09:07] jolelievre commented on #14143
Ok that's what I wanted to be sure.. So in classic theme the images are supposed to 141x180 so instead of changing the theme layout and css, we'd better change the image fixtures right?

[2019-06-12 09:09] tomas862 commented on #13942
@matks done - yes it deserves some documentation indeed :D

[2019-06-12 09:14] matks commented on #13942
@eternoendless is on a documentation killing spree 😄we'll close this issue when we have the docs PR

[2019-06-12 09:22] matks commented on #14131
😭

[2019-06-12 09:24] dharmendravirasat commented on #14139
thanks your feedback

[2019-06-12 09:24] #14139 closed, assigned to nobody

[2019-06-12 09:29] mickaelandrieu opened #14160 "Can't create formtypes with TranslatableAwareType dependency"
**Describe the bug**

[code]

[code]

I got an error: Symfony is unable to retrieve translator and locales needed in TranslatableAwareType type, even when I declare it as a service.

**To Reproduce**
See explanation.

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: 7.2

[2019-06-12 09:39] Maofree commented on #14141
Hi @PrestaShark
I've checked better, yes you are right, they change only the combination value in the description no other changes is done inside the description.

however there are many sites that could be necessary to have different text for each combination, this feature could be appreciated by different companies, because this way they could have specific data for each combination, and the vis

[2019-06-12 09:46] khouloudbelguith commented on #9680
Same issue with PS1.7.6.0
![image](https://user-images.githubusercontent.com/16067358/59341214-5f019880-8cff-11e9-8d36-887ea8d4ee6d.png)
Thanks!

[2019-06-12 09:53] photinia73 opened #14162 "dashboard not load values"
**Describe the bug**
I don`t know why but my dashboard stoped downolad the value. The uploading "wheels" are rotating but nothing happen...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error all the values in the left column in dashboard

**Screenshots**
![image](https://user-images.githubusercontent.com/50954519/59341718-0509

[2019-06-12 09:53] matks commented on #14141
@maofree If I understand correctly, either they have 1 description for each combination, or they use a description with a placeholder inside like `{ combination.data }` that is being replaced when switching from one combination to another ?

[2019-06-12 09:56] Maofree commented on #14141
hi
the same change is done on the main title

![1](https://user-images.githubusercontent.com/653230/59341738-accece80-8d08-11e9-9b18-217436e64dbd.png)

[2019-06-12 09:57] TristanLDD commented on #9882
Actually we can apply a simpler rule for all images ratio: The image should always adjust to the slider **width** while keeping the original ratio.
There will always be cases when image is slightly zoomed, that's when the marchant didn't respect the recommended image size, but applying this rules is the best way to make the slider look good in most cases.

[2019-06-12 09:57] #13640 closed, assigned to jolelievre

[2019-06-12 09:58] Maofree commented on #14141
now I'm trying to understand if this is a feature of magento or not
I'm looking about other sites
my customer notify me this feature, saying it is a magento's feature but I'm not sure

[2019-06-12 09:58] khouloudbelguith commented on #13854
Hi @go-sudo,

Thanks for your feedback.
You need to use `{literal}` option as described here https://www.smarty.net/docsv2/fr/language.function.literal.tpl
I replaced this

[code]

by this

[code]

and it works!
![image](https://user-images.githubusercontent.com/16067358/59342100-ff0bf180-8d00-11e9-934e-c349174428b5.png)

I close the issue.
Feel free to open a new one when needed.

Thanks!

[2019-06-12 09:58] #13854 closed, assigned to nobody

[2019-06-12 10:01] khouloudbelguith commented on #14162
Hi @photinia73,

You just created a previous ticket: #14124 about this issue.
Please follow: #14124

Thanks!

[2019-06-12 10:01] #14162 closed, assigned to nobody

[2019-06-12 10:01] khouloudbelguith commented on #14162
Duplicate of #14124

[2019-06-12 10:02] Maofree commented on #14141
in this site the title doesn't change so I think that is a customization
@matks that value you could put it at the end of the title using { combination.data }, also because in the middle without using javascript code I don't think it's possible

[2019-06-12 10:03] TristanLDD commented on #14143
Yes we just have to switch back to the previous images fixtures.

[2019-06-12 10:09] photinia73 commented on #14124
server info
![image](https://user-images.githubusercontent.com/50954519/59342858-4b602d00-8d13-11e9-854f-ab096323e59a.png)

[2019-06-12 10:09] jolelievre commented on #14143
Ok, on it!

[2019-06-12 10:11] khouloudbelguith commented on #14124
@photinia73, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2019-06-12 10:13] photinia73 commented on #14124
*ERROR* 	v1.7.5.1	2019/06/11 - 22:17:50: Post not found at line 1109 in file classes/Tools.php
*ERROR* 	v1.7.5.1	2019/06/11 - 22:18:55: Post not found at line 1109 in file classes/Tools.php

[2019-06-12 10:14] photinia73 commented on #14124
how can I get php log, your video don`t work ((

[2019-06-12 10:15] photinia73 commented on #14124
I think I know
now will try

[2019-06-12 10:16] silviu25 opened #14164 "Stats not working"
**Describe the bug**
Stats Dashboard Not Working in Admin Area
In all tabs and fields there are 0 for all values. no matter what settings I use,from date range to module settings. always looks 0. Online visitors 0, Active Shopping Carts 0, Orders 0 everything is 0.

`VERSION COMPARISON
PrestaShop Original version:
 40 file modifications have been detected, including 2 from core and native modules:

[2019-06-12 10:16] khouloudbelguith commented on #14124
@photinia73, the screen record is oK.
https://drive.google.com/file/d/1d14xIW38Yp1QptZAgTlXidtzvD0Ak3R3/view
Waiting for your feedback!

[2019-06-12 10:21] PierreRambaud commented on #14140
@rdy4ever Thanks to you for your help :+1:
We'll release a new version tomorrow :)

[2019-06-12 10:22] khouloudbelguith commented on #14164
Hi @silviu25,

I did not manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2
![image](https://user-images.githubusercontent.com/16067358/59343667-4647b180-8d04-11e9-8554-27b9297ff565.png)
Did you tried to change the delay "From" "To"?

Thanks!

[2019-06-12 10:24] silviu25 commented on #14164
yes I changed but no luck

[2019-06-12 10:26] photinia73 commented on #14124
accept such log file
[log](www.test.te.com.ua/error_log.1)

[2019-06-12 10:26] photinia73 commented on #14124
www.test.te.com.ua/error_log.1

[2019-06-12 10:28] khouloudbelguith commented on #14164
@silviu25, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
Thanks!

[2019-06-12 10:38] khouloudbelguith commented on #14124
@photinia73, you have the same error described in this issue https://github.com/PrestaShop/PrestaShop/issues/14136
It is related to your theme
[code]

Thanks!

[2019-06-12 10:46] photinia73 commented on #14124
there is no my ip address

[2019-06-12 10:52] photinia73 commented on #14124
if there is a tool to clear the log and old unusefull info in PS?

[2019-06-12 10:53] khouloudbelguith commented on #14088
Hi @roja45,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1.
After re-installing the module, the new translation is not lost.
I attached a video record
https://drive.google.com/file/d/1JLQwYLNYR59MG6LflehnWIjPKEvUFeAG/view
Thanks to check & feedback

[2019-06-12 10:53] photinia73 commented on #14124
can I give you the access you can found the problem?

[2019-06-12 10:55] khouloudbelguith commented on #14124
@photinia73, you need to clear cache?

THanks!

[2019-06-12 11:17] khouloudbelguith commented on #14081
Hi @agnesdennetiere,

We are aware of this issue.
Your ticket is a duplicate of #9833
Please follow #9833
So, I close it.
Thanks!

[2019-06-12 11:17] #14081 closed, assigned to nobody

[2019-06-12 11:17] khouloudbelguith commented on #14081
Duplicate of #9833

[2019-06-12 11:22] photinia73 commented on #14124
ftp
host: ef1203.mirohost.net
U: testqd
P: GPX5O8QUxw8e

BackOffice
U: khouloudbelguith
P: 12345678

Only ask don`t reinstall anithing or do something with modules ant themes. Just let me know about Error. Because the theme, modules don`t work stable enough, after some changes the hooks cancel or happen some else trouble (((

--

[2019-06-12 11:25] photinia73 commented on #14124
I hope you will find the problems, because Hiddentechies resolved a lot of issue but I feel there still a bugs...

[2019-06-12 11:31] roja45 commented on #14088
Hi @khouloudbelguith,

Couple of things to confirm with your test;

1) Don't uninstall the module, customers wouldn't do this if upgrading their module when an update is available.  You have to add the module again to correctly simulate a customer downloading a module update, and uploading it to their server (I think it's this step that overwrites the files, as it is uploading the archive again).

[2019-06-12 11:40] silviu25 commented on #14164
Here is the PHP error log
[error_log.txt](https://github.com/PrestaShop/PrestaShop/files/3281092/error_log.txt)

I activated debug mode but I'm not shure how to get the report from debug mode.
I cleared cache in prestashop and browser and there is no errors displayed

[2019-06-12 11:40] photinia73 commented on #14124
About clear cache. I know about tool in the Back office. I mean such big files in the /var/logs/dev.log, etc because they grow up...

[2019-06-12 12:08] khouloudbelguith commented on #14124
@photinia73, if you delete files into /var/logs/, they will be automatically created with new logs.

Thanks!

[2019-06-12 12:11] khouloudbelguith commented on #14164
@silviu25, in your log file, you have this error

`PHP Fatal error:  Uncaught  --> Smarty Compiler: Syntax error in template "file:/home/my-site/my-site.com/modules/lgcookieslaw/views/templates/hook/cookieslaw.tpl" `

Have you tried to contact the module author about this issue?
Thanks to check with them & feedback.

[2019-06-12 12:17] gluhicom opened #14171 "Faceted search stock filter"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-06-12 12:20] khouloudbelguith commented on #14171
Hi @gluhicom,

Could you please provide us more information about your issue?
What is the exact version of the ps_factedsearch did you use? we need a clear description about this issue to understand how to reproduce it.

Thanks!

[2019-06-12 12:20] gluhicom commented on #14171
Hello.

The filter "in stock" does not work properly, if we mark products with stock, the products without stock is also displayed, but if select filter "out of stock", nothing is displayed, even if the products are not stocked. What's the problem, I think it's the same in the default theme? Clearing cache and this things not help.

Best regards,
Matija

[2019-06-12 12:21] gluhicom commented on #14171
Version of module is 3.0.3
Prestashop version 1.5.7.2
PHP 7.2

[2019-06-12 12:22] gluhicom commented on #14171
Sorry, prestashop version 1.7.5.2 :)!

[2019-06-12 12:27] khouloudbelguith commented on #14160
ping @PrestaShop/prestashop-core-developers what do you think? what is the severity of this issue?

Thanks!

[2019-06-12 12:29] photinia73 commented on #14124
I forgot give the address of back office
https://test.te.com.ua/admin137buzkbm
Can you enter and found what happen with my site?

[2019-06-12 12:31] #14140 closed, assigned to nobody

[2019-06-12 12:31] #14058 closed, assigned to nobody

[2019-06-12 12:32] khouloudbelguith commented on #14124
@photinia73, this is a public space.
You can provide me the credentials of your shop by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-06-12 12:35] photinia73 commented on #14124
ok

[2019-06-12 12:35] khouloudbelguith commented on #14171
@gluhicom, the option `Allow ordering of out-of-stock products` option in the Shop Parameters / Product Settings page is enabled or not?

Thanks!

[2019-06-12 12:41] gluhicom commented on #14171
Yes, it's enabled:

[cid:image001.png@01D5212C.CE6A2C80]

From: khouloudbelguith <notifications@github.com>
Sent: Wednesday, June 12, 2019 2:36 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: Gluhicom INFO <info@gluhicom.si>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaShop] Faceted search stock filter (#14171)

@gluhicom<https://github.com/gluhicom>, the o

[2019-06-12 12:41] agnesdennetiere commented on #9833
Hi,

why is this bug closed? Is it solved?

[2019-06-12 12:42] #14143 closed, assigned to sarahdib

[2019-06-12 12:43] silviu25 commented on #14164
I just disabled that module but still nothing on stats menu

[2019-06-12 12:45] Quetzacoalt91 commented on #14124
@photinia73 please take some time to update your credentials **as soon as possible**. We removed them but everybody was able to see them, which makes them compromised.

[2019-06-12 12:45] khouloudbelguith commented on #14088
@roja45, I attached a video record
https://drive.google.com/file/d/1UhEhrhgXs98BRuPcX3TUpSO2Y1c8v2Qq/view
Thanks to check & feedback.

[2019-06-12 12:54] khouloudbelguith commented on #14171
@gluhicom,
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13139
So, I close it.
Thanks!

[2019-06-12 12:54] #14171 closed, assigned to nobody

[2019-06-12 12:54] khouloudbelguith commented on #14171
Duplicate of #13139

[2019-06-12 12:55] photinia73 commented on #14124
done

[2019-06-12 12:55] khouloudbelguith commented on #13139
Same issue with ps_facetedsearch v3.0.3.
https://drive.google.com/file/d/1mIRiX8Gv3CRxpUKXDs8pYqIvaYwvytUQ/view
Thanks!

[2019-06-12 12:58] davidguestforce commented on #14158
I do not think that theme author has anything to do with that. The method that is called and not defined is in **AdminThemesController** that extends **AdminController** which in turn extends **Controller**. It must be that my shop's configuration meets some criteria that must be met for this part of code to be executed and therefore triggers error.

The point is that this is PrestaShop's code and

[2019-06-12 13:01] khouloudbelguith commented on #14164
@silviu25, could you please try to reset the `statsforecast` module, clear cache, check & feedback.
Thanks!

[2019-06-12 13:01] matks commented on #14160
@mickaelandrieu Do you mean `TranslatableType` ?

[2019-06-12 13:02] roja45 commented on #14088
Prestashop cache should be disabled, or clear it after uploading the module again.

In you test installation then, is the updated translation saved in the theme structure?

[2019-06-12 13:06] silviu25 commented on #14164
Done but same issue.
Another strange thing is when I click on Link with your Google Analytics is sending me to modules page. I have Google Analytics v3.1.3 installed and configured. In my Analytics I can see how many are online... everything is fine

[2019-06-12 13:06] khouloudbelguith commented on #14124
@photinia73, I just received the email.
I will check & feedback.

Thanks!

[2019-06-12 13:17] khouloudbelguith commented on #14088
@roja45,

No, I selected the translation of the module.
https://drive.google.com/file/d/1wQfuCDpUSGoHtvivi0PasmRPVheg0vKD/view

Thanks!

[2019-06-12 13:24] ghost commented on #14141
@maofree i still claim my opinion that this is not a core Magento feature - it's pure custom. I was able to make the same in Prestashop 1.7 (few months ago) with custom .js code and a bit work with default variables - when customer change color or size that values/combinations was added to product name.

I think that its not crucial function to add right now in Prestashop roadmaps. To make it good

[2019-06-12 13:32] ghost commented on #14141
![ui2](https://user-images.githubusercontent.com/8243273/59355422-3b524880-8d27-11e9-95e5-3009a55e8f22.jpg)

[2019-06-12 13:47] roja45 commented on #14088
Yes, I understand that, it's the only way to translate legacy modules at the moment, the question was more about where the translation file has been saved in the file system, did it save it in the module directory, or in the theme module directory.

The more important is to disable the prestashop cache and clear it when running your test.

[2019-06-12 13:54] khouloudbelguith commented on #14088
@roja45,

It is saved in the module directory.
In your projet_Folder/modules/testtranslation/translations folder you can find the files of translations.

Thanks!

[2019-06-12 13:56] matks commented on #11191
We now have Behat tests to cover Commands and Queries  this issue can be closed

[2019-06-12 13:56] #11191 closed, assigned to nobody

[2019-06-12 13:59] roja45 commented on #14088
yes, that's what I see, but that must cause an issue.

If you make a change to the translation, as in your video, and this has been saved back to the module directory, then there are two things that can happen.

1) The file will be overwritten if the module has an updated translation file, and you will lose your change.  - This is what I see when I test.

or

2) if the module translation file is i

[2019-06-12 14:04] khouloudbelguith commented on #14088
@roja45,

But in my case, it is ok.
I cleared cache from Prestashop & from the navigator & it is always ok.

Thanks!

[2019-06-12 14:06] khouloudbelguith commented on #14158
@davidguestforce,

Could you please provide me your theme to test it.
This is a public space.
You can provide me the theme by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!
Thanks!

[2019-06-12 14:09] roja45 commented on #14088
I will record a video, I'm testing in a fresh install and it's the same module so not sure why you would see a different result.

[2019-06-12 14:10] khouloudbelguith commented on #14088
@roja45, ok thanks!
Waiting for your feedback.

[2019-06-12 14:19] khouloudbelguith commented on #14124
@photinia73, I tried to reset the `dashactivity` module, re-installing it, but always the same issue.
Only, I have an error in the console
![image](https://user-images.githubusercontent.com/16067358/59358924-5e7bf880-8d25-11e9-9b53-7e989dee52fa.png)

Have any new errors in your log file?

Thanks!

[2019-06-12 14:22] khouloudbelguith commented on #14164
@silviu25, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Could you please try to re-install the `statsforecast` module (remove the folder) after clearing the cache, check & feedback.

I have the same issue with PS1.7.6.0beta1 & PS1.7.5.2

THanks!

[2019-06-12 14:23] mickaelandrieu opened #14173 "Impossible to load Legacy classes in Console commands"

[2019-06-12 14:25] mickaelandrieu commented on #14160
@matks, it's an instance of PrestaShopBundle\Form\Admin\Type\TranslatorAwareType

[2019-06-12 14:36] khouloudbelguith commented on #14173
ping @PrestaShop/prestashop-core-developers what do you think? what is the severity of this issue?

Thanks!

[2019-06-12 14:41] benlecoqartisans opened #14174 "Wrong shipping cost by deleting some articles from an order"
My shipping costs are setting like this :
![image](https://user-images.githubusercontent.com/48204607/59360143-e5ce6980-8d2f-11e9-83b0-b2cf9b12d53c.png)

For an order, when I delete some articles that I can't provide, shipping cost are wrong. I reproduce 2 cases illustrating by these examples :
1- After having deleted one or some articles, but still with a total product cost over 100€, I have ship

[2019-06-12 14:51] khouloudbelguith commented on #14174
Hi @benlecoqartisans,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1.
I attached a video record
https://drive.google.com/file/d/1nJSPRloPuzMmPCMP7EP4BcmGPifsa00F/view
Thanks to check & feedback.

[2019-06-12 15:24] benlecoqartisans commented on #14174
Hi @khouloudbelguith
I attached a video record which shows the bug

https://drive.google.com/open?id=16UHRiWbWHEzMs69SS9FSF1kl8ZMdDnoT

[2019-06-12 15:25] benlecoqartisans commented on #14174
I don't know what other element I can give to you, tell me if you think to anything else

[2019-06-12 15:37] roja45 commented on #14088
Here you go:
https://drive.google.com/file/d/1mz4y2FMto6ItBneGMFPEbtGg-rtIkz1x/view

Not sure what I am doing differently

[2019-06-12 15:39] marionf opened #14175 "Sorting products not working after duplicating product and changing pages"
**Describe the bug**
Sorting by price tax excl not working after changing pages

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products
2. Select all product and click on bulk actions > duplicate
3. Click on an arrow to filter data ASC (no matter which one)
4. Go to page 2
5. Products are not sorted anymore by price tax excl ASC and you see again products that was on page 1

[2019-06-12 15:42] photinia73 commented on #14124
About payparts - this is the Ukrainian payment midule. If the problem in
it, I can write to the develop company. But let me know, about what the
error I have to describe

ср, 12 черв. 2019, 16:07 користувач khouloudbelguith <
notifications@github.com> пише:

[2019-06-12 15:45] khouloudbelguith commented on #14124
@photinia73, No, I don't think that this module is related to the dashboard issue.
But, you can contact them about this error in the console, you can tell them that you have an error on the console.

Thanks!

[2019-06-12 15:47] photinia73 commented on #14124
I will, thanks

ср, 12 черв. 2019, 18:45 користувач khouloudbelguith <
notifications@github.com> пише:

[2019-06-12 15:48] matks commented on #14085
Does not look like an issue to me 🤔what would be the usage of a `shop URL` with a port in it ?

@PierreRambaud any opinion of that ? I dont think we should care about such an exotic usecase

[2019-06-12 15:50] ghost opened #14176 "Submitting URL change after upgrading/changing domain name [Presthop Addons]"
Scenario i have is i have upgraded my domain i.e. from Fastcars.co.uk to cars.uk

I can no longer download/auto-update anything from the addon store as it has my old domain attached.

Everything under your Addon username/password won't work. Maybe easier if it's change to work with the solo account holder like on envato the license should be registered to the person instead of a particular domain

[2019-06-12 15:50] khouloudbelguith commented on #14124
@photinia73, thanks!

Waiting for your feedback.

[2019-06-12 15:57] khouloudbelguith commented on #14176
Hi @Hintergedanke,

Does this issue occur in our Market place add-ons PrestaShop?

Thanks!

[2019-06-12 15:58] photinia73 commented on #14124
A new error log file

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: среда, 12 июня 2019 г. в 17:19
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] AdminDashboard (#14124)

@photinia73, I tried to reset the dashactivity module, re-installing it, but always the same issue.
Only, I have an error in the console

Have any new errors in your

[2019-06-12 16:00] khouloudbelguith commented on #14088
@roja45, in my case it is Ok.
I cleared cache manually by deleting folder into /var/cache,
I deleted the file shop.json into the path /config/theme/classic/,
I used the incognito tab, I refreshed the window with Ctrl +Shift + R
=> I have always the same translated expression, it is not lost.
@sarahdib could you please try to reproduce it?

Thanks!

[2019-06-12 16:00] ghost opened #14177 "Deletion of Product confirmation needed."
Hi Team,

To me this is the wrong way around. Deletion of a combination prompts for "Are you sure to delete this?" When it should be the product as you can replace the combination with little to few inputs vs the product which has feature's categories etc etc.

You can see from the view how easy it is to make the mistake thinking your using another combination delete icon. Text box maybe with conf

[2019-06-12 16:07] khouloudbelguith commented on #14177
Hi @Hintergedanke,

Thanks for your report.
So, when you try to delete a combination, you need to have the exact name of the combination you want to delete it in the confirmation pop-up?
![image](https://user-images.githubusercontent.com/16067358/59367665-760ead80-8d34-11e9-855d-819fa3b0d2be.png)

THanks!

[2019-06-12 16:07] ghost commented on #14176
@khouloudbelguith Yes.

[2019-06-12 16:08] ghost commented on #14176
i.e. you purchase a Module you keep same email, name etc etc

You change your site from belguith.fr to belguith.com you can no longer automatically update your addon or submit your new url via the Prestashop Addon store

[2019-06-12 16:09] matks commented on #13873
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13984

[2019-06-12 16:09] #13873 closed, assigned to jolelievre

[2019-06-12 16:10] khouloudbelguith commented on #14176
@Hintergedanke, Please be aware that this bug tracker should be used to report issues only.
You need to contact us via this link https://addons.prestashop.com/en/contact-us

Thanks!

[2019-06-12 16:10] #14176 closed, assigned to nobody

[2019-06-12 16:11] khouloudbelguith commented on #14124
@photinia73, you need to login into GitHub & upload the new log file.

Thanks!

[2019-06-12 16:14] khouloudbelguith commented on #14174
@benlecoqartisans, in your last screen record, you have this
![image](https://user-images.githubusercontent.com/16067358/59368095-6479d580-8d35-11e9-90ab-784f86a08e49.png)

You have total TTC > 100 & shipping <> 0.
Could you please try to display the price with tax excluded, check & feedback.

Thanks!

[2019-06-12 16:20] 202-ecommerce commented on #14085
@matks yep it's exotic, that why our first reflex is to verify witch validation is done for shop url... But for now any validation is done... (you can submit a shop_url with spaces, or exotic characters). And that the second part of the problem. So if we add a restriction [a-z0-9\.] on shop_url PrestaShop became incompatible with specific port but the behavior is quite coherent.

Perhap's an exit

[2019-06-12 16:20] matks opened #14179 "[SF Migration] Update and apply bulk actions strategy for failures"
### Question

When performing one bulk action, when one of the actions fail, should we
**1-)** stop there and display the error message to user
or
**2-)** skip it, attempt to perform the action on the remaining items, and at the end display a list of the failed usecases ?

So far we have followed the strategy 1) because one error might be a hint of something wrong happening, so it's good to wait f

[2019-06-12 16:21] benlecoqartisans commented on #14174
I've ever checked this point
![image](https://user-images.githubusercontent.com/48204607/59368596-e7ebf480-8d3e-11e9-9c88-694c8604ef1e.png)

[2019-06-12 16:23] ghost commented on #14177
@khouloudbelguith

Visually the **combination** selection column aligns almost with the **Product Delete** icon.

Because of the sticky footer it should be a Text box that says "Delete Product" because it's far to easy to assume you're deleting the combination

[2019-06-12 16:26] mrabsinthe commented on #9503
It seems that canonical is also not present when you search. If Google indexes this page for example:
www.testshop.com/search?s=product+blue
it will have identical description and title as
www.testshop.com/search?s=product+white
www.testshop.com/search?s=product+green
etc, etc
The reason is that  link rel="canonical" is missing completely.

[2019-06-12 17:11] silviu25 commented on #14164
I deleted all modules named with stats* , I deleted all folders from  var/cache prod and dev , I reinstalled all modules previously deleted, I cleaned chache from Advanced > Performance >clear cache, I cleaned cache from LiteSpeed Cache module and the problem still persists.
Could be something wrong with host? (I use Chemicloud Turbo plan) or PHP version (7.2.19)
or maybe is missing some mandatory

[2019-06-12 17:37] xiropot commented on #10739
@khouloudbelguith I have the same issue with #1752 version. I develop a checkout module (locally obviously) and I thought it may be related to my code.

As a result, I made a vanilla PrestaShop, edited the carrier costs (not free, send all over the world) and still shipping is 0.

[2019-06-12 18:12] xiropot commented on #10739
@hacchus I am greek too (I just write in English due to the respect we ought to the community). If you like to get in contact, send me a message on vietkogk@gmail.com

@khouloudbelguith The issue seems fixed.
I tried the @hacchus solution. Not working. I reverted the code.
Works (when the same code wasn't working).

Check with your colleagues if there is some cache issue on this bug.

[2019-06-12 18:25] photinia73 commented on #14124
www.test.te.com.ua/error_log.12.Jun (1).2019

[2019-06-12 18:25] photinia73 commented on #14124
here is the new log file

[2019-06-12 18:44] photinia73 commented on #14124
About PayParts. Did found theits error in BO?

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: среда, 12 июня 2019 г. в 19:12
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] AdminDashboard (#14124)

@photinia73, you need to login into GitHub & upload the new log file.
Thanks!
—
You are receiving this because you were mentioned.
Reply to t

[2019-06-12 19:58] PierreRambaud commented on #13229
@marionf @TristanLDD Can you have a check on https://github.com/PrestaShop/PrestaShop/pull/14180 and tell me if everything is ok. Didn't have the time to checked it together today :disappointed:

[2019-06-13 00:13] mickaelandrieu commented on #13989
Hello mate!

Do you mean that you want to complete the migration guide on docs?

One year ago, we had this checklist on the docs and this now can be improved/updated => https://devdocs.prestashop.com/1.7/development/architecture/migration-guide/.

Looking at the current items, I have some questions:
* Why do you consider that removing the legacy controller is polishing when it's the *main* objecti

[2019-06-13 06:56] MDWeb-Lille opened #14181 "Specific prices are not displayed in the cart if from_quantity is greater than 1"
**Describe the bug**
If you set a specific price for a product **with "from x units" to 1**, **the discount is displayed** next to the unit price of the product in the shopping cart page.
If you set a specific price for a product with "from x units"  **with a value greater than 1**, **the discount is not displayed** next to the unit price of the product in the shopping cart page.

**To Reproduce**

[2019-06-13 07:12] nrcjea001 opened #14182 "Email translation of non-core theme 'save and stay' links to core theme"
**Describe the bug**
Whenever I change an email translation in a non-core theme (such as the classic or a newly purchased theme) and then click "save and stay", the link takes me to the core theme page instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to email translation, choose body, classic theme, English
2. Click on core emails, order_changed and make a change to the email text

[2019-06-13 07:17] marionf commented on #10739
@khouloudbelguith Could you try to reproduce this issue with 1752 & 176x branch ?

[2019-06-13 07:26] khouloudbelguith commented on #13760
Hi @ProBackup-nl,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-13 07:26] #13760 closed, assigned to nobody

[2019-06-13 07:33] nrcjea001 opened #14183 "Unable to edit email translation under 'ps_emailalerts'"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Email translation, body, Core, English
2. Under module emails, click on ps_emailalerts
3. Notice 'order_changed' and 'productoutofstock' cannot be edited

**Additional information**
PrestaShop version: 1.7.5
PHP version: 7.2

[2019-06-13 07:57] khouloudbelguith commented on #10739
Hi @marionf,

Yes, as described in this comment: https://github.com/PrestaShop/PrestaShop/issues/10739#issuecomment-430632240
I manage to reproduce the issue with Branch 176x, PS1760beta1 & PS1752(machine shuffle).
https://drive.google.com/file/d/12kDhSsN_oNbVy0LxdshPUcIEnHU28zYz/view
I cleared the cache from PrestaShop & from the browser => same issue.
Thanks!

[2019-06-13 08:08] matks commented on #13989
Some of the content of this list might go in the docs later but it's not the same purpose. For example a checklist item such as "If PR includes a new concept/mechanism, documentation must be written" will never go in the docs 😉

"Polishing" is just a misc word I used to say "things you do at the end" 😄

First, we want the migration of the page to increase the performance of the page in comparison

[2019-06-13 08:15] khouloudbelguith commented on #14181
Hi @MDWeb-Lille,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2, it is reproduced with a product which have combinations.
But this issue is fixed in the PS1.7.6.0.
https://drive.google.com/file/d/1m-ZJ4iKlyZGJPS9q3RiXp6D9KeDcLdo-/view
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-13 08:15] #14181 closed, assigned to nobody

[2019-06-13 08:25] khouloudbelguith commented on #14183
Hi @nrcjea001,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0.
![image](https://user-images.githubusercontent.com/16067358/59416232-e4974e00-8dbc-11e9-987f-5f6351fac30c.png)
If we click on `Edit HTML version` or `View/Edit TXT version`, we are not allowed to edit those templates.

![image](https://user-images.githubusercontent.com/16067358/59416343-1f00eb00-8db

[2019-06-13 08:26] MDWeb-Lille commented on #14181
Hi !

Thanks for the video response!

Is it possible to give me the PR corresponding to this correction?

Thank you in advance !

[2019-06-13 08:32] khouloudbelguith commented on #14182
Hi @nrcjea001,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2.
When I click "Save & Stay", I'm redirected to the core theme instead of remaining in a classic theme.
https://drive.google.com/file/d/1sF126ZFh-g6067S4yVlQUiQfQFlCLwny/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do

[2019-06-13 08:33] psX01 opened #14184 "Cannot use accented URL with arabic language"
**Describe the bug**
problem with language translation RTL in category (Arabic for example)

**Screenshots**
![no-valid0](https://user-images.githubusercontent.com/51779391/59416798-080ec880-8dbe-11e9-8dd0-21f646233bd4.jpg)
![no-valid](https://user-images.githubusercontent.com/51779391/59416812-0cd37c80-8dbe-11e9-8823-aca8d0d863e2.jpg)

**Additionnal information**
PrestaShop version: 1.7.6.0 Beta

[2019-06-13 08:41] marionf commented on #14179
@matks How it was in legacy ?

[2019-06-13 08:42] matks commented on #14181
I would say either https://github.com/PrestaShop/PrestaShop/pull/11656 or https://github.com/PrestaShop/PrestaShop/pull/10465

[2019-06-13 08:42] khouloudbelguith commented on #14184
Hi @psX01,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0beta1
When I create a category with `Friendly URL` = `إكسسوارات` in the Arabic language, I have an error

`"إكسسوارات" is invalid. - Language: اللغة العربية (Arabic)`

https://drive.google.com/file/d/1LctO1-ei3w3OpEhQ0BsFDHm12qqGcq2Q/view
![image](https://user-images.githubusercontent.com/16067358/59417598-786a1980-8

[2019-06-13 08:52] khouloudbelguith commented on #14124
@photinia73, thanks for your report.
In your new log file, you have an issue related to the cache

`PHP Fatal error:  Uncaught exception 'Symfony\\Component\\Filesystem\\Exception\\IOException' with message 'Failed to remove directory "/var/www/testmW/test.te.com.ua/var/cache/dev/": rmdir(/var/www/testmW/test.te.com.ua/var/cache/dev/): Directory not empty.'`

Could you please try to clear the cach

[2019-06-13 08:59] matks commented on #14103
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14172

[2019-06-13 08:59] #14103 closed, assigned to nobody

[2019-06-13 09:13] khouloudbelguith commented on #14184
Other informations:

1. In the PS1.7.5.2, if the `Accented URL` is enabled, we can create a category with Friendly URL = `إكسسوارات` in the Arabic language successfully.

2. With PS1.7.6.0beta1, in the Product page, we can create a product with Friendly URL = `إكسسوارات` in the Arabic language successfully.
![image](https://user-images.githubusercontent.com/16067358/59419595-21feda00-8dc3-11e9-8e9

[2019-06-13 09:17] marionf opened #14186 "Div not aligned on some migrated pages"
**Describe the bug**
The last div is not aligned with the others on add new theme page and localization page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Design > Theme & logo / International > Localization
2. Click on Add a theme
3. The last div is not aligned

**Screenshots**

1.7.6.0

![capture d'écran_1671](https://user-images.githubusercontent.com/13449658/59420211-c5a0b800-8dc

[2019-06-13 09:19] khouloudbelguith commented on #14184
The same issue occurs in the category page when we have a meta keyword in the Arabic language.
![image](https://user-images.githubusercontent.com/16067358/59420240-7191d580-8dc4-11e9-9856-e953aac2a06a.png)

In the PS1.7.5.2, it is OK.
We can create a new page & new category page with meta keyword = `إكسسوارات` in the Arabic language successfully.

Thanks!

[2019-06-13 09:56] khouloudbelguith commented on #14181
Hi @MDWeb-Lille,

Here's the changelog for the PS1.7.6.0beta1 for more details.
https://assets.prestashop2.com/fr/system/files/ps_releases/changelog_1.7.6.0-beta.1.txt
Thanks!

[2019-06-13 10:01] hacchus commented on #14164
@silviu25 Hello, do you have invoices enabled? (Orders -> Invoices -> Invoice Options)

[2019-06-13 10:06] RzaHuseyin commented on #11773
you just need to modify $default_routes array in /classes/Dispatcher.php

'product_rule' => array(
    'rule' => '{category:/}{id}-{rewrite}{-:ean13}.html',

http://prntscr.com/o1agta

after that you can can save your modifying in backoffice

[2019-06-13 10:07] khouloudbelguith commented on #14164
@silviu25, PS1.7.5 is compatible with PHP7.2.
There is only an issue related to the `statsforecast` module in your case.
The problem has no relation to other modules.

@hacchus, if invoices are disabled, stats are ok too.
https://drive.google.com/file/d/1eDBY9xZ0ki9819wAi9FMWLa3_wP8RCLB/view

Thanks!

[2019-06-13 10:10] silviu25 commented on #14164
invoices are enabled in my case

[2019-06-13 10:11] khouloudbelguith commented on #14177
@Hintergedanke, but if you move the mouse under this icon, you have some information about the delete completely of this product.
![image](https://user-images.githubusercontent.com/16067358/59424436-e6b4d900-8dcb-11e9-970a-20aa0d0b25c6.png)

Thanks!

[2019-06-13 10:13] hacchus commented on #14164
@khouloudbelguith I have a 1.7.4.4 that does not show stats either. Maybe its a different issue. In "ps_orders" table the "invoice_date" column is used to generate stats. If there is no date (ie 0000-00-00 00:00:00) there then you get no stats. I will have to investigate further and let you know, because that shop has many customizations.

@silviu25 So it might be a different issue.

[2019-06-13 10:18] khouloudbelguith commented on #14164
@hacchus, this is a different issue as described in this ticket: #12027
@silviu25,  in your BO => Installed modules page, thanks to check if the Sales and orders module is installed in your shop.

Thanks!

[2019-06-13 10:25] silviu25 commented on #14164
@khouloudbelguith yes I have Sales and orders module installed.
the thing is that even online visitors are not displayed or what were yesterday for example. Could be something from template? maybe a tracking code or something...?

[2019-06-13 10:27] khouloudbelguith commented on #14164
@silviu25, did you use a different theme from Classic?
Thanks!

[2019-06-13 10:27] photinia73 commented on #14124
Do you mean to delete all folders (or content from existing folders) and files from var/cache/ (prod & dev)?

[2019-06-13 10:29] silviu25 commented on #14164
yes, I use this one: https://www.leotheme.com/prestashop/themes/779-leo-zurich-gifts-and-souvenirs-prestashop-theme.html

[2019-06-13 10:29] khouloudbelguith commented on #14174
@benlecoqartisans, did you use a specific tax for your carrier?
![image](https://user-images.githubusercontent.com/16067358/59425755-765b8700-8dce-11e9-9abb-1b7d628c38d3.png)

Thanks!

[2019-06-13 10:30] khouloudbelguith commented on #14164
@silviu25, have you tried to contact them?
Thanks to check with them & feedback.

[2019-06-13 10:31] khouloudbelguith commented on #14124
@photinia73, you need to delete all folders into /var/cache/ directory, you can find for example dev, prod.

Thanks!

[2019-06-13 10:36] nrcjea001 opened #14188 "Not receiving email notifications of customer message on contact page"
**Describe the bug**
Whenever a customer sends a message via the contact page, notification is received in the BO but there is no email notification.

I went to advanced parameters -> test email and it works fine. I went to Contact -> Customer Service and the email is the same as the email I tested. Order messages are received successfully via mail alerts module.

Customer messages are not working

[2019-06-13 10:39] khouloudbelguith commented on #14188
Hi @nrcjea001,

Could you please navigate to your BO => Modules => Module Manager page => search for the `Contact form` module => configure it.
You need to enable `Send confirmation email to your customers` & `Receive customers' messages by email` options.
![image](https://user-images.githubusercontent.com/16067358/59426339-dbfc4300-8dcf-11e9-97ba-a3342cbe239b.png)

Thanks to check & feedback.

[2019-06-13 10:45] nrcjea001 commented on #14188
Thank you. This worked. You may close the issue

[2019-06-13 10:46] khouloudbelguith commented on #14188
@nrcjea001, great!
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-13 10:46] #14188 closed, assigned to nobody

[2019-06-13 11:24] benlecoqartisans commented on #14174
Yes
![image](https://user-images.githubusercontent.com/48204607/59428810-9f841380-8dde-11e9-8a55-a9dc9e2d06ae.png)

[2019-06-13 11:33] khouloudbelguith commented on #14174
@benlecoqartisans, sorry, but I did not manage to reproduce the issue.
https://drive.google.com/file/d/1iGrdJERcW1e7JjdyH5_iyFmbMsHU4wIb/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-06-13 11:36] benlecoqartisans commented on #14174
Ok I check this with my developer and then give it to you.

[2019-06-13 12:03] #13229 closed, assigned to PierreRambaud

[2019-06-13 12:14] khouloudbelguith commented on #14174
@benlecoqartisans, thanks!
Waiting for your feedback.

[2019-06-13 12:26] ftardio commented on #11172
I also have the same problem in Prestashop 1.7.5.0.

A tip to reproduce: If you only have an active voucher (configured to get free shipping), it works and lets you choose a carrier. But if you have several vouchers in your shop, and one of them is for free shipping, then you get "no carrier available" at checkout when using this voucher, no matters if the others vouchers are not appling to your o

[2019-06-13 12:28] photinia73 commented on #14124
Done, but nothing changed/ And here the new log file
[error_log.13.Jun_2019.txt](https://github.com/PrestaShop/PrestaShop/files/3285954/error_log.13.Jun_2019.txt)

[2019-06-13 12:38] khouloudbelguith commented on #11172
Hi @ftardio,

I tried to create several discounts & it is OK with PS1.7.5.2.
I attached a video record.
https://drive.google.com/file/d/1m5hmHLpJVizbd_GaOg2GZGXMrbx9IRKR/view
Thanks!

[2019-06-13 12:46] khouloudbelguith commented on #14124
@photinia73,

`AH01630: client denied by server configuration`
This error occurs especially if you update your server apache to version 2.4 without modifying the configuration file beforehand.
Could you please contact your host to configure it.
Thanks to check with them & feedback.

[2019-06-13 12:59] photinia73 commented on #14124
What file exactly I have to configure?

[2019-06-13 13:03] khouloudbelguith commented on #14124
@photinia73, You have to check allow and deny rules

Check out http://httpd.apache.org/docs/2.4/upgrading.html#access

Thanks!

[2019-06-13 13:08] benlecoqartisans opened #14191 "Free shipping and invoice"
When you offer shipping in Back-office, the reduction is impacting products amount and not shipping amount.

**To Reproduce**
Steps to reproduce the behavior:
1. Make an order with shipping costs
2. On back-office, offer the shipping
![image](https://user-images.githubusercontent.com/48204607/59434979-eda01380-8dec-11e9-8556-47640c3fac0c.png)

3. Validate your order and check the invoice
![image](

[2019-06-13 13:27] photinia73 commented on #14124
Even if write
Require all granted nothing changed! And the 2.4.Apache was here from the begining and all worked properly. I stasted only month ago

[2019-06-13 13:28] photinia73 commented on #14124
the right on the folders 0755 for all
New log file
[error_log.13.Jun (1).txt](https://github.com/PrestaShop/PrestaShop/files/3286278/error_log.13.Jun.1.txt)

[2019-06-13 13:33] matks opened #14193 "[SF Migration] Provide a rollback hook for FormHandler"
Type: tech-issue

https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Form/IdentifiableObject/Handler/FormHandler.php#L168
[code]

We have 2 hooks there:
- `actionBeforeCreate{formName}FormHandler` allows module developer to perform an action before the `$dataHandler` creates the data
- `actionAfterCreate{formName}FormHandler` allows module developer to perform an action after the `$dat

[2019-06-13 13:36] khouloudbelguith commented on #14191
Hi @benlecoqartisans,

Thanks for your report.
I have the same issue with PS1.7.6.0beta1.
https://drive.google.com/file/d/18v0LTICrFxtsmHHccRB76capyqnMC-5b/view
This issue will be fixed in this ticket: #11492.
It is added to our debug roadmap.
Your ticket is a duplicate of #11492
So, I close it.
Thanks!

[2019-06-13 13:36] #14191 closed, assigned to nobody

[2019-06-13 13:36] khouloudbelguith commented on #14191
Duplicate of #11492

[2019-06-13 13:45] benlecoqartisans commented on #11492
@khouloudbelguith
Do you have any idea about the milestone of this bug which exists since November ?
It is not fair neither for our clients nor our accountant and we lose a lot of time by explaining that it is a bug.
Thanks

[2019-06-13 13:48] khouloudbelguith commented on #11492
@benlecoqartisans, Sorry no.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks for your understanding!

[2019-06-13 13:53] khouloudbelguith commented on #14124
@photinia73, The best way to have the write and read access is:

`$ chown -hR www-data:www-data ./Project_Folder_name`

Thanks to check & feedback.

[2019-06-13 14:08] matks opened #14194 "[SF Migration] Detect namespace issues for migration files"
We had to do PR https://github.com/PrestaShop/PrestaShop/pull/14189 because we did an error with namespace. However this should be catched by Travis, not by a human.

We need an automated tool to detect such errors.

[2019-06-13 14:20] sixfingers76 opened #14195 "Ecotax is decreased when saving a product"
**Describe the bug**
When ecotax is active, and is specified any tax for the ecotax, everytime you save the product, the ecotax is decreased based on the tax specified for the ecotax.

Seems that when saving a product, the ecotax value is decreased in the "tax" percentage specified for the ecotax before storing it in the database, but the opposite operation (apply the tax to the ecotax) is not per

[2019-06-13 14:23] photinia73 commented on #14124
I have no linux or etc just far for ftp.... I can watch the permissions for folders via ctrl+A
I am not a developer....

[2019-06-13 14:25] khouloudbelguith commented on #14124
@photinia73, could you please try to edit the permissions of the var/cache folder 777.
Thanks!

[2019-06-13 14:26] photinia73 commented on #14124
to cache yes, done, but not for dev (( denied

[2019-06-13 14:26] khouloudbelguith commented on #14195
Hi @sixfingers76,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10026
So, I close it.
Thanks!

[2019-06-13 14:26] #14195 closed, assigned to nobody

[2019-06-13 14:26] khouloudbelguith commented on #14195
Duplicate of #10026

[2019-06-13 14:28] khouloudbelguith commented on #14124
@photinia73, why dev is denied? it is a cache folder.

Thanks!

[2019-06-13 14:29] photinia73 commented on #14124
![image](https://user-images.githubusercontent.com/50954519/59441157-d0754000-8e00-11e9-92a1-8f61aa6b2110.png)

[2019-06-13 14:30] photinia73 commented on #14124
now will call to the hostmaster

[2019-06-13 14:33] khouloudbelguith commented on #14124
@photinia73, it is a good idea to call the host.
Waiting for your feedback.

[2019-06-13 14:36] photinia73 commented on #14124
done

[2019-06-13 14:37] photinia73 commented on #14124
all from var to dev are 0777

[2019-06-13 14:38] photinia73 commented on #14124
now I deleting all in the dev again

[2019-06-13 14:38] khouloudbelguith commented on #14124
@photinia73, now try to navigate to the dashboard again & provide me the error log again.

Thanks!

[2019-06-13 14:48] photinia73 commented on #14124
don`t work, the wheels rounding and thats all ((

[2019-06-13 14:49] photinia73 commented on #14124
And not new log file

[2019-06-13 14:51] khouloudbelguith commented on #14124
@photinia73, Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-06-13 14:53] benlecoqartisans commented on #14174
@khouloudbelguith
You will find our logs but I don't think there is a relevant information in them.  It seems to be a fonctional bug, I mean in algorithm.
[php.log](https://github.com/PrestaShop/PrestaShop/files/3286732/php.log)

[dev.log](https://github.com/PrestaShop/PrestaShop/files/3286731/dev.log)
 find

Did you try to reproduce in 1.7.5.1 ?
And did you try with 3 intervals of shipping cost l

[2019-06-13 15:08] benlecoqartisans commented on #14174
Another tip : I desactivate all external modules and still reproduce the problem

[2019-06-13 15:12] khouloudbelguith commented on #14174
@benlecoqartisans, yes, I created a case similar to yours.
https://drive.google.com/file/d/1Omz9ZBbJFXVWpmi_lJ32K4PERiurYlXQ/view
Thanks!

[2019-06-13 15:17] benlecoqartisans commented on #14174
last element, I work with a multishop Prestashop

[2019-06-13 15:21] khouloudbelguith commented on #14174
@benlecoqartisans, could you please provide us the exact configuration of your shop Group?
![image](https://user-images.githubusercontent.com/16067358/59445264-3f4d9b80-8df7-11e9-8ae7-8ae5e84cfe30.png)

Thanks!

[2019-06-13 15:24] benlecoqartisans commented on #14174
![image](https://user-images.githubusercontent.com/48204607/59445491-0fef5c80-8e00-11e9-81e9-634ebf6c7202.png)

Did you check logs ?

[2019-06-13 15:51] Prestashopper opened #14201 "Carrier not available for customer, but it is for me."
Hi,
big issue with Ps, probably a big bug.
A user notified me she can't buy due to error "unfortunately the are no carriers available for your delivery address."

I have one carrier, available for visitors, guests and customers.

I have Already shipped in europe and USA, so i think carrier settings are ok.

I tried with the same address and everything is ok: carrier available.
I tried create a new

[2019-06-13 15:55] khouloudbelguith commented on #14201
Hi @Prestashopper,

Thanks for your report.
Have you the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/10903#issuecomment-438573882?
Thanks to check & feedback.

[2019-06-13 15:59] studiokiwik opened #14202 "Custom Rewrite Rules are stored in Configuration"
**Describe the bug**
If a module is hooked on moduleRoutes, then its routes are stored once in "ps_configuration", thus it breaks any dynamic custom rules, and we can't change them anymore or translate them, since the rules from "ps_configuration" are the one loaded last.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a module that is hooked on "moduleRoutes"
2. Go to Admin "seo-urls"

[2019-06-13 16:05] khouloudbelguith commented on #14174
@benlecoqartisans, yes, there are no errors in your files.
When I try to delete a product from an order when all shops is selected, I have an error
![image](https://user-images.githubusercontent.com/16067358/59448533-4a0b2f00-8dfd-11e9-9ef8-dd61c6a211da.png)

Thanks to check & feedback.

[2019-06-13 16:09] benlecoqartisans commented on #14174
Yes I agree, I've ever seen that.
But in ma case, I was with the good shop for deleting an article from the order.

[2019-06-13 16:14] khouloudbelguith commented on #14174
@benlecoqartisans, when the shop1 is selected, I manage to reproduce the issue with PS1.7.5.2
https://drive.google.com/file/d/1QjOkpW8_Y4_pFbIhBTMW3vp60gBMRmoX/view
But with PS1.7.6.0beta1 => it is OK
https://drive.google.com/file/d/1KmHRbyfsEVvka5K2848RU_XMXRSxIpI7/view
Thanks to check & feedback

[2019-06-13 16:17] Prestashopper commented on #14201
NO, #10903 issue is on cart rule. My problem is on carrier.

________________________________
Da: khouloudbelguith <notifications@github.com>
Inviato: giovedì 13 giugno 2019 17:55
A: PrestaShop/PrestaShop
Cc: Prestashopper; Mention
Oggetto: Re: [PrestaShop/PrestaShop] Carrier not available for customer, but it is for me. (#14201)

Hi @Prestashopper<https://github.com/Prestashopper>,

Thanks for yo

[2019-06-13 16:20] khouloudbelguith commented on #14202
Hi @studiokiwik,

Thanks for your report.
I will use the PsGPRD module as an example hooked to `moduleRoutes`, but it is not hooked to `displayBackOfficeHeader`.
It will be a problem?

Thanks!

[2019-06-13 16:25] benlecoqartisans commented on #14174
Just to be sure, could you play the same scenario with PS1.7.6.0beta1 ? I mean, could you have the same order as in 1.7.5.2 (same product and same quantity) and delete the same product (n°7).
This bug seems to be so hazardous that I will be more confident with the exactly same test in 1.7.6.0beta1
Thanks.

[2019-06-13 16:28] go-sudo opened #14203 "Ask visitors feedback for basket cancelled"
**Is your feature request related to a problem? Please describe.**
I can't increase my selles.

**Describe the solution you'd like**
When a visitor cancel his shooping basket, I have no details to contact this person so I need to know if there is an option to make visitors give us the reason why they cancelled and the answer will be stored in back office
The will have a choices to select or requir

[2019-06-13 16:59] hacchus commented on #12027
@rafaviana I know this answer is a little late, but a quick way to solve this (in version 1.7.5.0) would be to edit \controllers\admin\AdminStatsController.php file and replace all instances of 'invoice_date' with 'delivery_date' and now you will see the statistics based on delivery date. Alternatively, you could also try replacing with 'date_add' or 'date_upd'.

**Try it first on a test site and

[2019-06-13 17:23] ftardio commented on #11172
Hi!

Thanks for your response. But I tried in two different stores, with different themes, different products, and different carriers and I get the same problem!

I also recorded a video to explain the problem: The first voucher (VOUCHER_TEST) is for free shipping. The second one is for getting some discount if you spend enough money (no related to shipping, and not applied to the cart in this cas

[2019-06-13 20:09] hobnil commented on #10739
The answer is not complicated. The solution is here. https://prestashop.axvisualpromocom.com/blog/zonas-transportistas-prestashop-1-7/

[2019-06-13 21:53] photinia73 commented on #14124
I find the similar error with module=statsorigin

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: среда, 12 июня 2019 г. в 19:12
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] AdminDashboard (#14124)

@photinia73, you need to login into GitHub & upload the new log file.
Thanks!
—
You are receiving this because you were mentioned.
Reply t

[2019-06-14 02:42] BenTen commented on #14201
Which version of PS?

Did you check the group of this customer? Try to change it and save.

[2019-06-14 06:49] rokaszygmantas commented on #14194
Integration tests? :thinking:

[2019-06-14 07:02] rafaviana commented on #12027
@hacchus thank you for your help! I tried with both suggestions but it doesn't work… I still do not understand it 😅

[2019-06-14 07:06] sarjon commented on #14194
Wouldn't static code analysis help?

[2019-06-14 07:14] matks commented on #14194
Very extensive E2E tests would indeed detect such an issue but take a lot of time to do. We have QA team working on that, but we can't ask them to cover every usecase of the migration as their hands are already full.

[2019-06-14 07:14] matks commented on #14194
Yes, this seems promising

[2019-06-14 07:46] Prestashopper commented on #14201
Hi Ben,

PS is 1.7.5.1

the customer was on guest while having the issue, i changed her in customer and had the same issue.

[2019-06-14 07:53] khouloudbelguith commented on #14203
Hi @go-sudo,

Thanks for your report.
In our Market place Add-ons, you can find such modules about abandoned cart reminder
https://addons.prestashop.com/en/search?id_category=0&search_query=abandoned%20cart%20reminder
So, you can
- Remind abandoned cart through a Facebook Messenger chatbot
- Get higher open and click conversion rates than email

Thanks to check & feedback.

[2019-06-14 08:01] khouloudbelguith commented on #13787
Hi @wjatekTest,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-14 08:02] khouloudbelguith commented on #13800
Hi @MartynMcOnie,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-14 08:02] #13800 closed, assigned to nobody

[2019-06-14 08:02] studiokiwik commented on #14202
@khouloudbelguith , I made a simple class to reproduce the bug, apparently you don't even need to be hooked on displayBackOfficeHeader or have a tab nor a front controller.

How it should work :
install it, go to "configure" it, it should display a route with a dynamic time in it. (for instance my-custom-route/09-37-02/1)
You can be sure that it works by refreshing the page, the time updates.
Go t

[2019-06-14 08:07] renochost opened #14204 "500 server error on index"
I was uploading the products on website through BO of prestashop, when I checked my website after uploading it showed me 500 Server Error, I had uploaded 3 products more before on the same time but that time the website was working properly, I have contact to my hosting provider also but they said there no issue from their hands. I don't know what the problem is & how to resolve this and even I am

[2019-06-14 08:09] khouloudbelguith commented on #14204
Hi @renochost,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc

[2019-06-14 08:12] khouloudbelguith commented on #14204
@renochost, about the warnings about the module gamification, here's the PR: https://github.com/PrestaShop/gamification/pull/61 to fix the issue.
Thanks!

[2019-06-14 08:12] renochost commented on #14204
host
server setup and configuration
PrestaShop version (source)
debug mode report
PHP error logs
javascript console log

Sorry but I don't know how to get this things. Can you please help.

[2019-06-14 08:14] marionf opened #14205 "Bad display in Traffic & SEO page"
**Describe the bug**
Schema of URLs part missing in Traffic & SEO page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > Traffic & SEO
2. Disable friendly URL
3. You will see two "*" under "SEO options" part
4. Enable friendly URL
5. You will see one "*" under "SEO options" part

**Screenshots**
![capture d'écran_1679](https://user-images.githubusercontent.com/13449658/

[2019-06-14 08:15] khouloudbelguith commented on #14204
@renochost, don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-06-14 08:17] khouloudbelguith commented on #14201
Hi @Prestashopper,

If PrestaShop Carriers Are Not Available At Checkout, you need to check:

1. Carrier Is Inactive: PrestaShop carrier status is the first thing you should consider
Incorrect Zone Assign or Country Disabled: Zone association is among the first things to check if a created carrier does not show for a specific shopper. When configuring PrestaShop carrier you are supposed to assign

[2019-06-14 08:20] khouloudbelguith commented on #12027
Hi @hacchus,

Thanks a lot for your feedback.
Yes, this is could be useful.

Thanks!

[2019-06-14 08:22] khouloudbelguith commented on #14124
@photinia73, it is OK in my case.
![image](https://user-images.githubusercontent.com/16067358/59494833-ef69e580-8e85-11e9-821b-1fe7b3967d4d.png)

Thanks!

[2019-06-14 08:27] renochost commented on #14204
Server information Linux #1 SMP Wed May 2 07:43:19 EDT 2018 x86_64

Server software version: Apache
PHP version: 7.1.28

Database Information

MySQL version: 5.6.43-cll-lve

MySQL server: localhost

MySQL name: i5793684_pr2

MySQL user: i5793684_pr2

Tables prefix: pr_

MySQL engine: InnoDB

MySQL driver: DbPDO

PrestaShop Information

PrestaShop version: 1.7.5.2

Shop URL: http://www.renoc.in/sho

[2019-06-14 08:31] khouloudbelguith commented on #14204
@renochost, you need to enable debug mode in the BO => Advanced Parameters => Performances page, to display the exception.

Thanks!

[2019-06-14 08:34] renochost commented on #14204
I have enabled the debug mode and now it showing this on my web page.

![Opera Snapshot_2019-06-14_140339_www renoc in](https://user-images.githubusercontent.com/51604042/59495640-5bac0f80-8ead-11e9-92a3-dde5b261381a.png)

[2019-06-14 08:45] sarjon commented on #14205
Hi @marionf, are you sure it's a bug?

I get same behavior on 1.7.5.2. If you disable friendly URL, this section is gone as it is related to friendly url configuration.

The only issue I can see is * being rendered in weird place.

[2019-06-14 08:49] renochost commented on #14204
What happen taking too long please tell me what i have to do next

[2019-06-14 08:50] marionf commented on #14205
@sarjon yes you are right, I updated the issue :)

[2019-06-14 08:57] Prestashopper commented on #14201
Hi @khouloudbelguith,
thanks for replying.

1) Russia is the country from one customer had the issue (but i don't know if somebody else had the same problem). These are the settings
<img width="601" alt="Schermata 2019-06-14 alle 10 47 51" src="https://user-images.githubusercontent.com/51794226/59496610-19c1a000-8e92-11e9-8688-167efd233ac2.png">

 here the config of country
<img width="1208" alt="

[2019-06-14 09:02] khouloudbelguith commented on #14202
@studiokiwik, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2.
After installing this module
[testroutes.zip](https://github.com/PrestaShop/PrestaShop/files/3289790/testroutes.zip)
I configure it => OK => I have random time created: `my-custom-route/10-42-10/1`
Now, if I navigate to the BO => Shop Parameters => SEO & URLs page, Schema of URLs section, I cli

[2019-06-14 09:10] khouloudbelguith commented on #14204
@renochost, the issue occurs due to the `zonehomeblocks` module.
![image](https://user-images.githubusercontent.com/16067358/59498006-728e3a00-8e8c-11e9-90d7-53aa59c2f09a.png)

As it's not the module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.

I close the issue, fee

[2019-06-14 09:10] #14204 closed, assigned to nobody

[2019-06-14 09:16] khouloudbelguith commented on #11172
@ftardio, thanks for your feedback.
Your [link](https://streamable.com/m64oy) is not available: Oops!
We couldn't find your video.
Thanks to check & feedback.

[2019-06-14 09:19] ghost opened #14207 "[BO IMPROVEMENT] CMS page views count"
Hi.
In some cases store owners use native CMS pages and categories for "Blog" purposes.
Would be nice to add CMS page views count to them.

![pageviews](https://user-images.githubusercontent.com/8243273/59498356-9144fe80-8e95-11e9-8440-09695c00f15e.jpg)

Thanks!

[2019-06-14 09:29] khouloudbelguith commented on #14207
Hi @PrestaShark,

Thanks for your report.
We can use this sql query to count views of CMS-pages
[code]
as described in this [forum](https://www.prestashop.com/forums/topic/550353-count-views-of-cms-pages/?tab=comments#comment-2514071).
Ping @marionf, @colinegin what do you think of this improvement.

Thanks!

[2019-06-14 09:42] ghost commented on #14207
Undefined error "checkedForm" upon query save.
Clean 1.7.5.2

![error](https://user-images.githubusercontent.com/8243273/59500328-7ffdf100-8e99-11e9-8f45-d94dd8da0747.jpg)

[2019-06-14 09:51] renochost opened #14209 "How to downgrade prestashop version"
Please tell me Is the any way to downgrade prestashop version without uninstalling it and without loosing the data ?

[2019-06-14 10:01] khouloudbelguith commented on #14209
Hi @renochost,

You can use the 1-click upgrade to make rollback to previous database & files.
![image](https://user-images.githubusercontent.com/16067358/59501461-7a9da800-8e93-11e9-9a3e-8d3f5c1c0594.png)
In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the rollback on a separate machine from your production.

I

[2019-06-14 10:01] #14209 closed, assigned to nobody

[2019-06-14 10:10] photinia73 commented on #14124
But this is not my web site….

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: пятница, 14 июня 2019 г. в 11:23
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] AdminDashboard (#14124)

@photinia73, it is OK in my case.

Thanks!
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute th

[2019-06-14 10:16] khouloudbelguith commented on #14174
@benlecoqartisans, I rechecked with PS1.7.5.2 & PS1.7.6.0beta1.
The error doesn't exist.
PS1.7.6.0beta1 https://drive.google.com/file/d/1aHoGixJvE69pAJ_02wcgIrtgjmSG039y/view
PS1.7.5.2 https://drive.google.com/file/d/10epE-fb_4Uekn6WeWoC3B4i-sr5LV9h8/view

After checking my previous screen record https://drive.google.com/file/d/1QjOkpW8_Y4_pFbIhBTMW3vp60gBMRmoX/view

I found that the problem is no

[2019-06-14 10:17] khouloudbelguith commented on #14124
@photinia73, yes, this my website.
I'm trying to reproduce your issue.

Thanks!

[2019-06-14 10:23] photinia73 commented on #14124
I see such errors in the Console, but I never did anything with stats modules
index.php?controller=AdminStats&token=a432814c5b77f5d342a5db3cedfaf140&module=statsorigin:1190 Uncaught ReferenceError: nv is not defined
    at Object.success (index.php?controller=AdminStats&token=a432814c5b77f5d342a5db3cedfaf140&module=statsorigin:1190)
    at j (jquery-1.11.0.min.js:2)
    at Object.fireWith [as reso

[2019-06-14 10:26] khouloudbelguith commented on #14207
@PrestaShark, fixed in the PS1.7.6.0
https://drive.google.com/file/d/1w2MWC_826iAkb6lkNxmVC1WgqWkKJLe6/view
Thanks!

[2019-06-14 10:27] photinia73 commented on #14124
One thing I did, that add second language, and installed some non PS modules Payparts, SmartBlog (but this problem with BO appered before SmartBlog)

[2019-06-14 10:30] photinia73 commented on #14124
and this are the rrors with Browіукі and OS
![image](https://user-images.githubusercontent.com/50954519/59503251-8b0c4d80-8ea8-11e9-8e05-a7c148098864.png)

[2019-06-14 10:32] photinia73 commented on #14124
All items about catalog content are Ok, but the items with oursource information are with errors

[2019-06-14 10:33] matks commented on #14194
I just chedked: [phpstan](https://github.com/phpstan/phpstan) is able to detect such errors.
We could not use it before as it requires php7+ but with incoming drop of php5, this will be solved ✅

[2019-06-14 10:36] khouloudbelguith commented on #14124
@photinia73,
In your dev tools

1. go to Network tab
2. refresh this page: "Browsers and operating systems" tab
3. wait for an error, you should see red request information in Network tab
4. click on it, you should see the error message in "Response" or "Preview" tab

Thanks!

[2019-06-14 10:45] ghost commented on #14207
@khouloudbelguith thanks for info! Still waiting for final 1.7.6 release :)

[2019-06-14 10:49] khouloudbelguith commented on #9932
I have the same issue with PS1.7.6.0beta1

[2019-06-14 10:49] photinia73 commented on #14124
I can see such picture,
![image](https://user-images.githubusercontent.com/50954519/59504137-ef301100-8eaa-11e9-8f7c-a79f9301b772.png)

[2019-06-14 10:51] khouloudbelguith commented on #14201
@Prestashopper, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.0beta1
I used the same steps described in this comment: https://github.com/PrestaShop/PrestaShop/issues/9932#issuecomment-467397790

Thanks to check if they are similar or not?

[2019-06-14 10:52] photinia73 commented on #14124
and below in the text in the rad field, if I understood you correct.... I refreshed, stay in the Netwirk tab and look at the errors

[2019-06-14 10:52] iqit-commerce opened #14210 "An empty box for the sort options when selected not default one"
**Describe the bug**
Sort options from preferences > products do not match sort options on frontoffice.
Selecting sort option in backoffice which is not avaiable in frontoffice result error in debug mode

**Screenshot**
https://pasteboard.co/IjmArG3.png

**To Reproduce**
Steps to reproduce the behavior:
1. Go to category pages on frontoffice and check avaiable sort options
2. Go to backoffice> pre

[2019-06-14 10:55] khouloudbelguith commented on #14124
@photinia73, here's a screenshot for example to see Preview Tab
![image](https://user-images.githubusercontent.com/16067358/59504669-59d95080-8e9b-11e9-800a-e8ee24d0e947.png)

Thanks!

[2019-06-14 11:14] khouloudbelguith commented on #14210
Hi @iqit-commerce,

I did not manage to reproduce the issue with Ps1.7.6.0beta1 & the ps_facetedsearch v4.0.4.
I attached a screen record
https://drive.google.com/file/d/1jjBBv-1a_QEChea59FAhyUvjKs0TvrSV/view
thanks to check & feedback

[2019-06-14 11:16] Prestashopper commented on #14201
No, it's different. My system doesn't produce the #9932 issue.

[2019-06-14 11:17] photinia73 commented on #14124
![image](https://user-images.githubusercontent.com/50954519/59505801-2c969d80-8eaf-11e9-8a1f-a2991884ef58.png)

[2019-06-14 11:18] khouloudbelguith commented on #14201
@Prestashopper, you need to have old orders with the custom C1 & Address A1 before editing it in the next order.

Thanks!

[2019-06-14 11:18] photinia73 commented on #14124
What I looking for?

[2019-06-14 11:19] khouloudbelguith commented on #14124
@photinia73, did you delete my user account in your shop?, I needed it to check it.

Thanks!

[2019-06-14 11:20] WebmasterXeral opened #14211 "PS 1.7.5.2 - Problems trying to edit products"
I'm having some issues every time I try to edit a product in backoffice on PS 1.7.5.2.

At first, I couldn't edit any product due to a memory limit in PHP, so I increased it from 512M to 1024M and it worked... until now. Every time I try to edit a product it throws the following errors in the server log:

AH01071: Got error 'PHP message: PHP Fatal error: Allowed memory size of 1073741824 bytes exh

[2019-06-14 11:20] photinia73 commented on #14124
I checked the work without anybody else with supear admin rigth. Just a sec

[2019-06-14 11:21] khouloudbelguith commented on #14124
@photinia73, thanks!
Waiting for your feedback.

[2019-06-14 11:24] khouloudbelguith commented on #14211
Hi @WebmasterXeral,

Thanks for your report.
Do you have a large number of categories & subcategories?

Thanks!

[2019-06-14 11:26] photinia73 commented on #14124
chech pls your email

[2019-06-14 11:28] khouloudbelguith commented on #14124
@photinia73, just received the email.
I will check & feedback.

Thanks!

[2019-06-14 11:39] WebmasterXeral commented on #14211
Hi @khouloudbelguith

There are 43 categories that depend on the main category, and 11 of them have 2/3 subcategories.

[2019-06-14 11:50] Max84 opened #14212 "Webservice tax_rules listing is KO with multishop feature"
A webservice request in order to get all id_tax_rules_group give unavailable ids.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new shop with multishop feature
2. Add a new tax rule group onto the second shop only. **Get the new id.**
3. Do a webservice request like this one onto the first shop:  api/tax_rules?display=[id,id_tax_rules_group,id_tax]&filter[id_country]=8
4. You'll see

[2019-06-14 11:50] khouloudbelguith commented on #14124
@photinia73,
In your Projetc_Folder, you have this script

[code]
Could you please check this script is introduced in which file in your project.

Thanks!

[2019-06-14 11:53] khouloudbelguith commented on #14211
@WebmasterXeral, In your php.ini file, Try to increase:
[code]

Some issues related added to our bug roadmap:

- https://github.com/PrestaShop/PrestaShop/issues/9809
- https://github.com/PrestaShop/PrestaShop/issues/13698

Thanks to check & feedback

[2019-06-14 11:58] renochost opened #14213 "Modules are not installing"
I was trying to install 1-click update module but its not installing and showing me 500 error.

![Opera Snapshot_2019-06-14_172306_www renoc in](https://user-images.githubusercontent.com/51604042/59507737-902dc480-8ec9-11e9-898b-402612a588d1.png)
![Opera Snapshot_2019-06-14_172454_www renoc in](https://user-images.githubusercontent.com/51604042/59507739-902dc480-8ec9-11e9-9f32-cff9315c08c4.png)
![

[2019-06-14 12:03] khouloudbelguith commented on #14212
Hi @Max84,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1.
![image](https://user-images.githubusercontent.com/16067358/59508100-b9882980-8ea4-11e9-8b54-7bbb56904d30.png)

![image](https://user-images.githubusercontent.com/16067358/59508108-be4cdd80-8ea4-11e9-9f7c-b431d99b7444.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already

[2019-06-14 12:07] khouloudbelguith commented on #14213
Hi @renochost,

you must install PHP `zip` extension on your server.

Thanks to check & feedback.

[2019-06-14 12:13] renochost commented on #14213
Thanks its done

[2019-06-14 12:13] #14213 closed, assigned to nobody

[2019-06-14 12:25] Prestashopper commented on #14201
what's C1?

[2019-06-14 12:31] photinia73 commented on #14124
now will try

[2019-06-14 12:45] photinia73 commented on #14124
it seems here prestashop\modules\dashactivity\views\js\dashactivity.js

[2019-06-14 12:47] #13877 closed, assigned to jolelievre

[2019-06-14 12:50] wjatekTest commented on #13787
What kind of detais do you need? I think problem is described well. PHP errors like these are unacceptable in this kind of application and should be at least handled and returned by web service.

[2019-06-14 12:50] khouloudbelguith commented on #14201
@Prestashopper, it is the customer created.

Steps to reproduce the issue:
1. Go to FO
2. Create a new customer customer1
3. Create an address for this one
4. Create an order with this customer
5. Go to BO => Orders => change the status of this order to shipped
6. Go to FO => with the same customer1 => add products to the cart => process the checkout => in the Adress step => go to the customer's a

[2019-06-14 13:09] khouloudbelguith commented on #14124
@photinia73, thanks for your feedback.
I tried to uninstall the `dashactivity` module & removing it, clear cache.
In the BO => Stats => Browsers and operating systems Tab => the same error displayed, but the module `dashactivity`, is not installed.

Thanks to check & feedback.

[2019-06-14 13:09] rateforx commented on #14087
Hi, sorry for the delay. I am using 7.2.18. What does it have to do with the case?

[2019-06-14 13:18] photinia73 commented on #14124
the similar script in the dashtrends and dashgoals

[2019-06-14 13:29] photinia73 commented on #14124
Don`t work evething where is drawing have to be

[2019-06-14 13:32] khouloudbelguith commented on #14124
@photinia73,

sorry what is the exact problem?
Thanks!

[2019-06-14 13:35] khouloudbelguith commented on #13787
Hi @wjatekTest,

What is the exact XML sent did you use in your case?

Thanks!

[2019-06-14 13:37] photinia73 commented on #14124
I mean that data in the numers is avalible, but the graphic reproducing are unavalible....

[2019-06-14 13:42] photinia73 commented on #14124
![image](https://user-images.githubusercontent.com/50954519/59513324-4d68ee00-8ec3-11e9-91cd-d572c03f3c36.png)

[2019-06-14 13:43] photinia73 commented on #14124
![image](https://user-images.githubusercontent.com/50954519/59513459-8bfea880-8ec3-11e9-9af1-d640e6571701.png)

[2019-06-14 13:44] photinia73 commented on #14124
And the same situation in all items of Dashboard where is graphic object

[2019-06-14 14:01] benlecoqartisans commented on #14174
Hi @khouloudbelguith
I don't reproduce your problem of wrong total products. Sorry.
https://drive.google.com/open?id=1dI4Dy-cSIj7MzSmhIFvDVrVsz6wrdMA7
Any other idea of something to check ?

[2019-06-14 14:12] khouloudbelguith commented on #14174
@benlecoqartisans, could you please try to import those products
[product_2019-06-14_113713.txt](https://github.com/PrestaShop/PrestaShop/files/3290942/product_2019-06-14_113713.txt)
& check if you can reproduce your issue after ordering those products.

Thanks!

[2019-06-14 14:21] khouloudbelguith commented on #14087
Hi @rateforx,

Thanks for your report.
It could be a good idea to have a page title specified for each module & not a general title -` Module Manager - Shop Name`
![image](https://user-images.githubusercontent.com/16067358/59515733-b2b6e200-8eb7-11e9-92e4-97704a6c840a.png)
![image](https://user-images.githubusercontent.com/16067358/59515919-1d681d80-8eb8-11e9-9673-3ed48db5c169.png)

@marionf, @col

[2019-06-14 14:21] hacchus commented on #12027
@rafaviana I tested on 1.7.5.0 fresh installation and if you replace invoice_date with delivery_date it works. I don't know why it's not working for you.

@khouloudbelguith OK I created the pull request.