[2019-05-24 10:26] khouloudbelguith commented on #13955
@juank2808, After uninstalling the recaptcha module, you have some issue related to this
You should contact the module author about this issue.
when debug mode is enabled, there are no exceptions displayed?

Thanks!

[2019-05-24 10:33] juank2808 commented on #13955
No i cant se the exception, now i try close the shop and I do not have permissions, this is very confused

[2019-05-24 10:33] khouloudbelguith commented on #13958
Hi @HAF1ZUR,

What is the exact version of the module 1-click upgrade did you used?
Because this issue seems to be fixed in the V4.2.0 with this PR: https://github.com/PrestaShop/autoupgrade/pull/163, it fixes this issue: https://github.com/PrestaShop/autoupgrade/issues/158 which is similar to yours.
THanks!

[2019-05-24 10:35] khouloudbelguith commented on #13955
@juank2808, how do you want to close the shop? by enabling the maintenance mode?
Thanks!

[2019-05-24 10:35] GrossOutD commented on #13958
Hi

I updated autoupgrade to 4.8 before doing the update

[2019-05-24 10:40] khouloudbelguith commented on #13913
@centoasa, We released a 3.0.2 which this the upgrade problem is there are many products/categories.

Thanks!

[2019-05-24 10:44] juank2808 commented on #13955
Yes maintenance  monde sorry, this is very serious! now i'm debug mode and  show this error
![imagen](https://user-images.githubusercontent.com/14195668/58322529-78f73c00-7e21-11e9-982a-afdb39065321.png)
prestashop gives me errors on all sides and i cant make a clean installacion,
![imagen](https://user-images.githubusercontent.com/14195668/58322706-0b97db00-7e22-11e9-99b9-778d58292ad7.png)

[2019-05-24 10:44] centoasa commented on #13913
@khouloudbelguith thank you so much, but in my backoffice still see v2.2.1 --> v3.0.1
 https://nimb.ws/vREd6X

[2019-05-24 10:46] GrossOutD commented on #13958
I enabled debug mode manually and the following is now shown

![prestashop error](https://user-images.githubusercontent.com/46545164/58322655-201fa780-7e11-11e9-95c1-8a30a4829d55.png)

[2019-05-24 10:52] GrossOutD commented on #13958
I have switched back to php 7.2 after experimenting and see the following:

![1](https://user-images.githubusercontent.com/46545164/58322908-eac78980-7e11-11e9-8d73-a9bb6ee3ac29.png)
![2](https://user-images.githubusercontent.com/46545164/58322916-edc27a00-7e11-11e9-8cef-e476ddaaf7e0.png)
![3](https://user-images.githubusercontent.com/46545164/58322919-f024d400-7e11-11e9-8ea2-583d730ee628.png)

I

[2019-05-24 10:54] khouloudbelguith commented on #13958
@HAF1ZUR, could you please try to replace 'ps_access' table in DB with the one from clean PS1.7 installation

Thanks!

[2019-05-24 10:57] khouloudbelguith commented on #13955
@juank2808, It could be something went wrong with your update and don't have some of the database columns that were added for 1.7.5.2
Thanks to check if there are missing columns in your database schema.
You can find the full schema for 1.7.5.2 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/install-dev/data/db_structure.sql

Thanks!

[2019-05-24 10:58] Madalina-nadari opened #13960 "Error in saving changes to products, after upgrade to 1.7.5"
Hi,
I've just made an upgrade to my store from 1.7.2.3 to 1.7.5.2 and i have some issues with the products.
First of all, i was missing the "location" column in ps_stock_available, and i put it, since i knew about this issue.
Now, i can update my stock, from products catalog - products, but if I try to make any other changes, or even going back to the catalog, i get an error message that the chang

[2019-05-24 11:00] BobvanderValk commented on #13938
I ran into problems yesterday during update to 3.0.1.  The update didn't want to work.  My web site responded very very slow till it didn't work anymore.  One.com checked the problem and warned me that ps_facetedsearch.php was sending a lot of php requests.  It took many minutes for the server to handle them all and that caused the site to block.  Today I tried the upgrade to 3.0.1 again and even

[2019-05-24 11:01] khouloudbelguith commented on #13960
Hi @Madalina-nadari,

Thanks for your report.
What is the exact version 1-click upgrade did you use?

Thanks!

[2019-05-24 11:04] khouloudbelguith commented on #13913
@centoasa, you can download zip here: https://github.com/PrestaShop/ps_facetedsearch/releases
Can I close this issue? your ps_facetedsearch issue is similar to this ticket: #13938
THanks!

[2019-05-24 11:06] Madalina-nadari commented on #13960
Hi!
I have the version 4.7.0.
Thanks!

[2019-05-24 11:07] juank2808 commented on #13955
i told you before, in the table ps_module, don't has some registers, example
![imagen](https://user-images.githubusercontent.com/14195668/58323648-e22c7e80-7e24-11e9-81b4-81a8a1fd63ab.png) where is the id_module= 1?

[2019-05-24 11:11] centoasa commented on #13913
Thanks a lot @khouloudbelguith Now all works charme!
Please close this issue!

[2019-05-24 11:13] khouloudbelguith commented on #9867
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0.
I folowwed these steps:

1. add a catalog price rule with from different than 1
2. go to a product page on the front office, you should see the table with qty discounts
3. edit themes\classic\templates\catalog\_partials\miniatures\product.tpl  & I put code like {$product.quantity_discounts|@print_r}

=> The array is empty

![image]

[2019-05-24 11:15] khouloudbelguith commented on #13913
@centoasa, great!
Feel free to open a new one when needed.

Thanks!

[2019-05-24 11:15] #13913 closed, assigned to nobody

[2019-05-24 11:15] PrestaUser commented on #13938
@BobvanderValk I also run on 1.7.5.1. What is your site url? I think we have the same problem here.

[2019-05-24 11:27] khouloudbelguith commented on #13955
@juank2808, did you uninstalled the module contactform?

Thanks!

[2019-05-24 11:30] khouloudbelguith commented on #13960
@Madalina-nadari, we released a new version 1-click upgrade https://github.com/PrestaShop/autoupgrade/releases/tag/v4.8.0

It could be something went wrong with your update and don't have some of the database columns that were added for 1.7.5.2
Thanks to check if there are missing columns in your database schema.
You can find the full schema for 1.7.5.2 here: https://github.com/PrestaShop/PrestaSh

[2019-05-24 11:34] khouloudbelguith commented on #9834
@madhur77, the category page is migrated to Symfony => so the issue is fixed.
fixed in this ticket: https://github.com/PrestaShop/PrestaShop/issues/10193

Thanks!

[2019-05-24 11:35] GrossOutD commented on #13958
Added PS_ACCESS from a clean install and i get slightly different results

![2](https://user-images.githubusercontent.com/46545164/58324968-f3bb5980-7e17-11e9-8d84-1058d2dfc805.png)
![3](https://user-images.githubusercontent.com/46545164/58324970-f5851d00-7e17-11e9-8e6f-4348aeeec878.png)

[2019-05-24 11:37] khouloudbelguith commented on #13958
@HAF1ZUR, It could be something went wrong with your update and don't have some of the database columns that were added for 1.7.5.2
Thanks to check if there are missing columns in your database schema.
You can find the full schema for 1.7.5.2 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/install-dev/data/db_structure.sql

[2019-05-24 11:40] khouloudbelguith commented on #13931
@vincent-dp, as always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.

PS1.7.6.0 is a beta version & not a stable release.

Thanks!

[2019-05-24 11:42] Madalina-nadari commented on #13960
Thank you for the quick response!
I'll check that out and come back with news!

[2019-05-24 11:48] khouloudbelguith commented on #13960
@Madalina-nadari, thanks!
Waiting for your feedback.

[2019-05-24 11:57] christophe-rouille commented on #9867
In order to contribute a little, i have the same issue

I don't know if it can help but i correct this by adding a method addQuantityDiscounts in src\Adapter\Presenter\Product\ProductLazyArray.php

I called this method in __construct

this method fills array product['quantity_discounts']

[2019-05-24 11:59] khouloudbelguith commented on #9867
Hi @christophe-rouille,
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-05-24 12:00] madhur77 commented on #9834
Ok thanks, any ways to fix in 1.7.2 version??

[2019-05-24 12:02] khouloudbelguith commented on #13719
@Shakarhaba, thanks for the module.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1 & PHP 7.1
![image](https://user-images.githubusercontent.com/16067358/58326183-fcb22800-7e23-11e9-9c7d-2fdf8810583e.png)
![image](https://user-images.githubusercontent.com/16067358/58326212-0b98da80-7e24-11e9-89a7-055b902327ac.png)
Those methods are used in the https://github.com/PrestaShop/PrestaSh

[2019-05-24 12:05] khouloudbelguith commented on #9834
@madhur77, no.
The issue is fixed in PS1.7.6.0 because the category page is migrated to Symfony.
Thanks!

[2019-05-24 12:30] khouloudbelguith commented on #13911
@Prestafan1234, thanks for these clarifications.
I manage to reproduce the issue with PS1.6.1.2.4
![image](https://user-images.githubusercontent.com/16067358/58327490-a5ae5200-7e27-11e9-8fd8-8e655836718e.png)
This issue occurs, only if click on follow my order
![image](https://user-images.githubusercontent.com/16067358/58327597-e7d79380-7e27-11e9-9d0b-497f9d759855.png)

This option doesn't exist i

[2019-05-24 12:31] marionf commented on #13949
@khouloudbelguith

I can't reproduce the issue, product are correctly reordered even if faceted search & Show products from subcategories are enabled

https://drive.google.com/open?id=1TWribqWgCQPixUdt7aEFWJQoGttaZth-

[2019-05-24 12:38] matks commented on #13911
This is a legal compliance matter. This is clearly a GDPR issue. However it is not clear whether the PrestaShop core project should comply with GDPR (for example we have users in countries which are not in the GDPR scope so they do not care about it), whether the GA module should comply with GDPR, or whether the GDPR module should take care of this matter.

I believe we need to ask PrestaShop Lega

[2019-05-24 12:38] PierreRambaud commented on #13928
I manage to reproduce, I'm on it!

[2019-05-24 12:39] matks commented on #13652
I dont know, but anyway this is really harmless. Nothing bad can come of it, it's just a "clean code" issue.

[2019-05-24 12:43] bestbuybargains commented on #13951
Thank you. After manually deleting the folders, I can now access the import section, however, after validation, i receive this error.

![Screenshot_20190524-074103_Chrome](https://user-images.githubusercontent.com/50038176/58328387-94e5e800-7df7-11e9-9751-091fb9aa0288.jpg)

[2019-05-24 12:46] GrossOutD commented on #13958
I imported clean version of PS_TABS and PS_MODULES this gave me access to the back office but with a bunch of errors

Currently rolling back to working 1.6.1.24, will try again tomorrow

[2019-05-24 12:46] khouloudbelguith commented on #13951
@bestbuybargains, could you please provide me the first product in your file csv that you need to import.
Thanks!

[2019-05-24 12:47] khouloudbelguith commented on #13958
@HAF1ZUR, Thanks!

Waiting for your feedback.

[2019-05-24 12:49] marionf commented on #9952
@matks I was wondering, is it possible to override templates for migrated pages ?

[2019-05-24 12:53] khouloudbelguith commented on #12522
Hi @matks,

I did not manage to reproduce the issue with PS1.7.6.0beta1 & PHP 7.3.5.
I attached a video record
https://drive.google.com/file/d/1S04U4v_9l2Mj0ZyKTECuD8qHElYfY8hu/view
Thanks!

[2019-05-24 12:53] #12522 closed, assigned to nobody

[2019-05-24 12:53] idnovate opened #13962 "Error with hook displayAdminLogin"
### BUG 1
**Describe the bug**
Hook `displayAdminLogin` is not in table `ps_hook`, so a module can not be hooked manually in this position unless you call `registerHook` function.

**To Reproduce**
Steps to reproduce the behavior:
1. Install module dummymodule_v1.zip
[dummymodule_v1.zip](https://github.com/PrestaShop/PrestaShop/files/3216911/dummymodule_v1.zip)
2. Go to "Design -> Positions -> Ins

[2019-05-24 12:57] andersgk commented on #13874
I have the same problem with Litespeed as my webserver.
While add more quantity to order, i can error 500 in my console.
When enable Debug mode i got this error while manual go to the link: [Debug] This page has moved
Prestashop 1.7.5.1
Webserver: Litespeed
PHP: 7.1

[2019-05-24 12:58] PierreRambaud commented on #13949
I don't understand what facetedsearch do here? :thinking:

[2019-05-24 12:59] marionf commented on #9963
Can't reproduce on 1.7.6.0

![capture d'écran_1596](https://user-images.githubusercontent.com/13449658/58329267-794d0280-7e34-11e9-8b91-6bb528ab4111.png)

[2019-05-24 12:59] #9963 closed, assigned to nobody

[2019-05-24 12:59] PierreRambaud commented on #13928
Fixed in https://github.com/PrestaShop/ps_facetedsearch/pull/70

[2019-05-24 13:04] bestbuybargains commented on #13951
Hi! I sent the csv file to your email just in case you need it as i am importing a bunch of iphones

[2019-05-24 13:04] khouloudbelguith commented on #13949
@marionf what is the exact browser did you use? PHP v?
I tried with PS1.7.6.0beta1 & the same issue.
https://drive.google.com/file/d/1X3-o4pUquS5Mod6WCfjYfOrOkkW9bWEK/view
Thanks!

[2019-05-24 13:06] khouloudbelguith commented on #13951
@bestbuybargains, thanks!
I just received the email.
I will check & feedback

[2019-05-24 13:09] khouloudbelguith commented on #13874
@andersgk, did you use the nginx server also?
Thanks!

[2019-05-24 13:09] jointsystems commented on #12944
I mistakenly upgraded to 1.7.5.2 from 1.6.2.3 using 1 click upgrade and now the shop is unusable.  The time out in the dashboard goes around endlessly.  When you go into manage modules you get a 500 server error.

Could not find 1-click upgrade to roll back the shop, so I used the browser backup till I came back to upgrade page that was now on 1.7.5. 2 but  when you clicked on maintenance and roll

[2019-05-24 13:15] khouloudbelguith commented on #12944
Hi @jointsystems,
This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2019-05-24 13:17] andersgk commented on #13874
@khouloudbelguith no, im using Litespeed as the topic creator does.

[2019-05-24 13:19] khouloudbelguith commented on #13874
@andersgk, this issue occurs with a friendly URL is enabled or disabled?

Thanks!

[2019-05-24 13:21] andersgk commented on #13874
@khouloudbelguith it is with friendly URL enabled.

[2019-05-24 13:24] Spacetronik commented on #13939
Hi, we probably found error. We got error log like below. What could it be?

Fatal error: Uncaught Symfony\Component\Debug\Exception\FatalThrowableError: Cannot use object of type Symfony\Component\HttpFoundation\ParameterBag as array in /home/spacetronikeu/domains/spacetronik.eu/public_html/p75/src/Adapter/Security/Admin.php:91 Stack trace: #0 /home/spacetronikeu/domains/spacetronik.eu/public_htm

[2019-05-24 13:25] khouloudbelguith commented on #13874
@AlexCrete, when friendly URL is disabled => No issue occurs?
THanks!

[2019-05-24 13:34] AlexCrete commented on #13874
as a matter of fact I don't use nginx server, just Apache (sorry for stupidity) - and have no possibility to configurate it. It'a a dedicated server. Any solution for this case maybe?

[2019-05-24 13:41] khouloudbelguith commented on #13951
@bestbuybargains, I imported the 3 first product & it is OK.
https://drive.google.com/file/d/1gARv9tI8vmsQapCYCD7gpvV1uj3ScQ95/view
I have a question about
- what is the difference between Main_Product_Picture & image?
- you have column Height_mm/Width_mm/.. Height_cm, we only have one column height, width & depth

Thanks!

[2019-05-24 13:42] khouloudbelguith commented on #13874
@AlexCrete, could you please navigate to your BO => Shop Parameters =>  `Set up URLs` section & provide me a screenshot
![image](https://user-images.githubusercontent.com/16067358/58331968-3427d100-7e32-11e9-9f43-5b30ca283628.png)

Thanks!

[2019-05-24 13:46] bestbuybargains commented on #13951
Great question! I actually ignore image as its extra sizes of photos and i also ignore the mm sizes as it is better to use cm.

[2019-05-24 13:47] AlexCrete commented on #13874
yes, here it is:
![Screen Shot 2019-05-24 at 15 44 51](https://user-images.githubusercontent.com/50266769/58332287-32aed680-7e3b-11e9-867b-fd233904be89.png)

[2019-05-24 13:47] marionf commented on #9970
Duplicate of #9805

[2019-05-24 13:47] #9970 closed, assigned to nobody

[2019-05-24 13:47] khouloudbelguith commented on #13951
@bestbuybargains, same!

I ignored those columns & it is OK as described in my screen record
Thanks!

[2019-05-24 13:48] khouloudbelguith commented on #13874
@AlexCrete, thanks!
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thank you!

[2019-05-24 14:14] cedricfontaine opened #13963 "Add more vars to status change email"
For coherence between email templates, it will be great if we could use
delivery_firstname
delivery_lastname
invoice_firstname
invoice_lastname
in all email templates sent.
Right now we could use those only in the order_conf template.

[2019-05-24 14:15] khouloudbelguith commented on #13957
Hi @dennispw,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0 & PS1.7.5.2.

Similar issue reported on forge: http://forge.prestashop.com/browse/BOOM-2925
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-05-24 14:18] cedricfontaine opened #13964 "{id_order} not available in order_conf"
Only {order_name} is available as a variable to use in the template, but {id_order} is available in all other templates.
Could you please make this variable available also out-of-the-box ?

[2019-05-24 14:19] khouloudbelguith commented on #13963
Hi @cedricfontaine,

Thanks for your report.
@marionf, @colinegin what do you think of his suggestion?

Thanks!

[2019-05-24 14:21] AlexCrete commented on #13874
thank you for reply,
in "defines.inc.php" I turned
if (!defined('_PS_MODE_DEV_')) {
define('_PS_MODE_DEV_', true);
}
but cannot see any php errors.
Can you?

[2019-05-24 14:26] PierreRambaud commented on #13652
Yes, this is really harmless. In fact, as I understand, we use the `replaceWith` jquery function (https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/_dev/js/listing.js#L153) with the new content:
[code]

because comments are not selected, it's added again, and again, each time we use this kind of replacement.

[2019-05-24 14:29] centoasa commented on #13913
And now the smarty clear cache button works well!

[2019-05-24 14:33] ghost commented on #10356
Agree. WebP is needed in order to increase page speed and Google Speed Insights test. Its the future, and technology pushed by Google itself

[2019-05-24 14:36] khouloudbelguith commented on #13962
Hi @idnovate,

Thanks for your report.
First issue:
I manage to reproduce it with PS1.7.6.0beta1 & PS1.7.5.2
v1 of the module => NOK => displayAdminLogin doesn't exist
![image](https://user-images.githubusercontent.com/16067358/58332964-515d9f00-7e34-11e9-9a04-28df465d7d9f.png)
v2 of the module => OK => displayAdminLogin exist
![image](https://user-images.githubusercontent.com/16067358/58333000-67

[2019-05-24 14:36] ghost commented on #10356
Here is reason
https://teltonika.lt/products/rutx09/images/rutx09-1.png (79,1 KB) vs. https://teltonika.lt/products/rutx09/images/rutx09-1.webp (28,8 KB) in the same size

[2019-05-24 14:39] khouloudbelguith commented on #13874
@AlexCrete,
You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. change the combination
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Respons

[2019-05-24 14:41] khouloudbelguith commented on #13937
ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-05-24 14:51] khouloudbelguith commented on #13964
ping @jolelievre what do you think?
Thanks!

[2019-05-24 14:51] AlexCrete commented on #13874
is it it?

[PrestaShopObjectNotFoundException]

Can not retrieve the id_product_attribute
at line 6143 in file classes/Product.php

6138.                 );
6139.             }
6140.         }
6141.
6142.
if (empty($idProductAttribute)) {
6143.             throw new PrestaShopObjectNotFoundException('Can not retrieve the id_product_attribute');
6144.         }
6145.
6146.         return $idProduct

[2019-05-24 14:52] dennispw commented on #13957
In order to keep up with the times I would greatly appreciate if this could be considered more than "minor". After all, with all the different devices, pixel densities etc. this is a big bonus to have at our disposal and will help all of us to create better ecommerce experiences.

[2019-05-24 14:52] grabelle opened #13965 "facetedsearch 3.0.1 - price slider not working on mobile"
Hi,
Prestashop 1.7.5.2, facetedsearch 3.0.1

The price slider is ok on desktop but on a smartphone (mobile) you can slide the little bars.

Thanks

[2019-05-24 14:53] dennispw commented on #12933
Any update?

[2019-05-24 14:58] bestbuybargains commented on #13951
Understanding that the csv document is acceptable, what else may i try to get the file to import?  The same file has imported successfully on my other sites.

[2019-05-24 15:00] AlexCrete commented on #13874
Is it it?

[PrestaShopObjectNotFoundException]

Can not retrieve the id_product_attribute
at line 6143 in file classes/Product.php

6138.                 );
6139.             }
6140.         }
6141.
6142.         if (empty($idProductAttribute)) {
6143.             throw new PrestaShopObjectNotFoundException('Can not retrieve the id_product_attribute');
6144.         }
6145.
6146.         return $i

[2019-05-24 15:01] AlexCrete commented on #13874
6138.                 );6139.             }6140.         }6141. 6142.         if (empty($idProductAttribute)) {6143.             throw new PrestaShopObjectNotFoundException('Can not retrieve the id_product_attribute');6144.         }6145. 6146.         return $idProductAttribute;6147.     }6148.

[2019-05-24 15:16] khouloudbelguith commented on #13874
@AlexCrete, you have an issue in this line: https://github.com/PrestaShop/PrestaShop/blob/b7ace3922022bcac57dfc8aed34331eacaed19f8/classes/Product.php#L6407

Could you please display this return using `print_r` or `var_dump`?

Thanks!

[2019-05-24 15:17] khouloudbelguith commented on #13965
Hi @grabelle,

Could you please provide me a screenshot about your exact issue on mobile?

Thanks!

[2019-05-24 15:19] khouloudbelguith commented on #13951
@bestbuybargains, what is the exact configuration used in your case?
![image](https://user-images.githubusercontent.com/16067358/58338402-b1a60e00-7e3f-11e9-8214-ca95e9c4334f.png)

Thanks!

[2019-05-24 15:19] matks commented on #13963
We can do that, but if someone else needs to add a new variable, then we'll add to do it again.

What about we provide a hook to allow people to choose any variable they want ?

[2019-05-24 15:20] matks commented on #13408
@tomas862 I believe this is done ? 😄

Can I close ?

[2019-05-24 15:29] grabelle commented on #13965
![Screenshot_20190524-171938_Chrome](https://user-images.githubusercontent.com/5048627/58339234-6b55ac80-7e49-11e9-8b6e-09bccc621a1e.jpg)

You can't slide the red point on a mobile phone.

[2019-05-24 15:43] bestbuybargains commented on #13951
Another great question!  I always enable Force all ID numbers and disable the rest.

[2019-05-24 15:53] ComonSoft opened #13968 "BO filemanager filter not working"
Using filemanager in backoffice other https, the filter doesn't work. Due to mixed content a js include file is blocking.

Steps to reproduce the behavior:
1. Go to any rich text editor (page, product description...)
2. Click on insert picture Icon
3. Click on browse Icon
4. Enter text in filter box
5. Click on filter button, filter not working

If you go to browser inspector, you will see in cons

[2019-05-24 15:54] BobvanderValk commented on #13938
Please follow instructions of khouloudbelguith in #13913 .  This was the solution for me too!
It meanse deleting the cache as described (it was giga huge in my case) and download and replace the ps_facetedsearch folder under modules.  This folder was also mega big in my case because of the upgrade.  After these steps my (test) site works again.

[2019-05-24 15:54] cedricfontaine commented on #13963
I like this option. It's ok for me.

[2019-05-24 16:03] idnovate commented on #13962
Where are the installation and upgrade SQL scripts?

[2019-05-24 16:26] AlexCrete commented on #13874
hi,
I am no sure that I did it correct, please, don't laugh at me.
So i did it:
    public static function getIdProductAttributesByIdAttributes($id_product, $id_attributes, $find_best = false)
    {

        $a = $id_product;
        $b = $id_attributes;
        $c = true;
var_dump($a, $b, $c);

        return self::getIdProductAttributeByIdAttributes($id_product, $id_attributes, $find_best);

[2019-05-24 16:48] jointsystems opened #13970 "Whoops, looks like something went wrong after "upgrade" to 17.5.2 500 Server Error"
We attempted to upgrade a 1.6.2.3. to 1.6.2.4. using 1-Click upgrade version 4.7  as we did 18 other stores without incident.  Due to the failure to be observant we ended up "upgrading" to 1.7.5.2 instead and the process ended up at the Dashboard with all items in a permanent time out mode.  Attempting to go to manage modules we instead got a 500 Server error.  Click on My Shop takes us to the fro

[2019-05-24 17:17] AlexCrete commented on #13874
return self::getIdProductAttributeByIdAttributes($id_product, $id_attributes, $find_best);

        $a = $id_product;
        $b = $id_attributes;
        $c = $find_best;
        $d = true;
var_dump($a, $b, $c, $d);

Can not retrieve the id_product_attribute
at line 6143 in file classes/Product.php

[2019-05-24 17:19] bestbuybargains commented on #13951
Okay, i have an update. So, I've tried all possible combinations with the importing options with no success, however, when i look at my products, i see that up to 5 will import (amount is always random) and the pictures are doubled, tripped, etc.  Do you want a screenshot or access to the BO?

[2019-05-24 18:20] unamuno commented on #13010
On the front-office in the checkout Process for the customer.

[2019-05-25 08:20] victordarius26 commented on #12085
When i go in lazadasales.com have a lot of module prestashop

[2019-05-25 09:31] Madalina-nadari commented on #13960
Hi,
I found that i was missing a lot o f the tables from the 1.7.5 version, because I have imported a database created in 1.7.2.3, and not because of the 1-click upgrade module.
Since I don't have a database created in 1.7.5, I am going back to 1.7.2.3 version.
Thanks for your help!

[2019-05-25 11:41] ZeroLe commented on #13920
Hi module developers,

In new version (3.0.x), we don't have the "product_attribute_minimal_quantity" parameter in the product result. We have this parameter in PrestaShop 1.7.5.x version.
I think this is a important parameter, so please add it to the product result.
Thanks!

Regards,

P/S: I see new version has many errors, I think we should stop informing customers of the new version update unti

[2019-05-25 11:52] PierreRambaud commented on #13920
@ZeroLe FYI, the new version still has errors, but really less than the previous version 😉
We are working on it to improve this module :)

[2019-05-25 12:01] ZeroLe commented on #13920
@PierreRambaud
Thank you for your reply!

I'm a template developer on Addons Marketplace.
A lot of my customers have updated this module, and they see the error, and they think this is my theme's error, they are complaining. What should I do?

Please do not allow customers to continue to update the module version 3.0.x
Thank you very much.

[2019-05-25 12:36] PierreRambaud commented on #13920
The latest 3.0.2 already fixed this issue.

[2019-05-25 12:42] grabelle commented on #13920
Hi All,
Any chance to have a module using elasticsearch in the near futur ? It would be much faster, probably easier to manage ... what do you think ?

Anyway thanks for you work !

[2019-05-25 12:48] grabelle commented on #13920
Sorry to disturb, but how to override the file template modules/ps_facetedsearch/views/templates/front/catalog/facets.tpl

where shoud I put the facets.tpl in my theme files ?

[2019-05-25 13:36] PierreRambaud commented on #13920
@grabelle We create interfaces to do it (for elastic), but not planned for the moment.
For override module: https://devdocs.prestashop.com/1.7/themes/reference/overriding-modules/

[2019-05-25 14:29] centoasa commented on #11105
If this can help core developers: (I'm on prestashop 1.7.5.2 php 7.2.18 apache)
just after clear smarty cache (compilation=no clear cache=never) I've this apache error:
`500 | GET /admin/index.php/configure/advanced/performance/?_token=hide-token HTTP/1.0`

500 | POST /admin/index.php?controller=AdminAjaxFaviconBO&token=hide-tokenHTTP/1.0

Warning: AH01071: Got error 'PHP message: PHP Warning: req

[2019-05-25 15:05] cr998 opened #13974 "Age validation"
**Describe the bug**
it looks like the age validation doesn`t works porperly

**Reproduce**
Can be read in the [https://www.prestashop.com/forums/topic/987326-po-validacji-i-blad-formatu-daty-w-rejestracji/](https://www.prestashop.com/forums/topic/987326-po-validacji-i-blad-formatu-daty-w-rejestracji/)

**Additionnal information**
PrestaShop version: I think 1.7.5.1
PHP version: Anything about thi

[2019-05-25 16:55] Matt75 commented on #13920
@ZeroLe WidgetInterface is really important for theme developers. Lot a complaining from agencies about this BC too. New version restore it, so new module update should not be a problem anymore 👍

Thanks of @PierreRambaud for this huge refactoring work 🎉

[2019-05-25 19:44] Thinkup commented on #13949
same issue here... follow

[2019-05-26 07:48] nlezoray commented on #11183
when i had problem to update my prestashop, it was because a module cause problem
try to desinstall the modules you installed one by one, and try to update after each desinstall

[2019-05-26 08:09] PierreRambaud commented on #13949
@khouloudbelguith on google chrome, latest version, php php 7.2 & 7.3, could not reproduce, with or without facetedsearch.

[2019-05-26 08:15] PierreRambaud commented on #9952
@marionf @khouloudbelguith We can override migrates templates, but there're not in smarty, but in twig 🤔
FYI: https://devdocs.prestashop.com/1.7/modules/concepts/templating/admin-views/
With more details about how to override a single block: https://github.com/PrestaShop/docs/pull/274 (PR is currently in review)

[2019-05-26 08:17] Thinkup commented on #13949
I have the latest version of chrome, prestashop 1.7.5.0 - php 7.2 - facetedsearch 3.0.2
the issues has come after upgrade facetedsearch.

[2019-05-26 08:38] tjorgensborg commented on #13949
Hello,
So there is no confusion about the bug.
1. If you disable the **Show products from subcategories** you will have "there is no products" even if the are products in the category. This apply on main category and main categories with sub categories. This is even on categories where faceted search is not applied.
<img width="1238" alt="Skärmavbild 2019-05-26 kl  10 24 08" src="https://user-ima

[2019-05-26 08:48] tjorgensborg commented on #13949
I tried **Show products from subcategories** on version 2.2.1 of faceted search and it seems to work there in the right way. If its disabled I can still see products.

[2019-05-26 19:49] rachpat opened #15189 "évolution d'un site prestashop 1.5.4.1 à 1.7"
J'aimerais faire évoluer mon site créé avec prestashop 1.5.4.1, j'aimerais le passer en 1.7. J'ai pour cela activé le module v1.6.8-autoupgrade, mais lorsque je fais "upgrade prestashop now", rien ne se passe, j'ai le message : Analyzing the situation...Shop deactivated. Now downloading... (this can take a while)
[Ajax / Server Error for action download] textStatus: "error " errorThrown:"Internal

[2019-05-27 07:32] khouloudbelguith commented on #13551
Hi @hipercenterbo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-27 07:32] #13551 closed, assigned to nobody

[2019-05-27 07:33] khouloudbelguith commented on #13531
Hi @Ortezjan,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-27 07:33] #13531 closed, assigned to nobody

[2019-05-27 07:36] dennispw commented on #13872
In order to keep up with the times I would greatly appreciate if this could be considered more than "minor". After all, with all the different requirements when it comes to speed tests, rendering times and more, being able to choose what should be inline and where is a *huge* advantage.

[2019-05-27 08:00] matks opened #13976 "PS1.7.6 beta - If Ask for birth date option is disabled, an exception is displayed in the FO"
PS 1.7.6.0 clean install after 1.7.5
[code]

Order as a guest -> click Continue
**Steps to reproduce the issue:**
1. In the BO => Shop Parameters => Customer settings => Disable `Ask for birth` date option

2. In the FO, when you try to create a new account from the new account page, or the checkout page(a guest or a customer) => an exception is displayed

Reported by user @PeterStudioWeb

[2019-05-27 08:03] PierreRambaud commented on #13949
@tjorgensborg If you disable `Show products from subcategories` you must be on the subcategory to see your products:
![image](https://user-images.githubusercontent.com/1462701/58404917-910bcd00-8066-11e9-8f7a-e28019778eaa.png)

Or set the main category:
![image](https://user-images.githubusercontent.com/1462701/58404969-ada80500-8066-11e9-81f8-8e7a8d5298fc.png)

![image](https://user-images.github

[2019-05-27 08:12] zuk3975 opened #13977 "Date pickers format not depending on user locale"
**Describe the bug**
Global date-pickers shows Y-m-d format (or YYYY-MM-DD js) and it's not changing based on user locale. For example, the difference can be seen in Credit Slips page (screenshot 1), where list column shows date format depending on employee locale, but date-picker doesn't. Same issue in migrated pages. For example Invoices (screenshot 2). Employee locale is set to English so date

[2019-05-27 08:23] khouloudbelguith commented on #13949
Hi @tjorgensborg,

After a discussion with our developer, the sort of the products has no effect with the ps_factedsearch module.
In fact, if we uninstall the ps_factedsearch module, we are always able to change the order of positions of the products successfully.

So, we can confirm, that there is no relation between re-order products & the ps_factedseach module.

Thanks for your understanding!

[2019-05-27 08:44] tjorgensborg commented on #13949
Hi, @khouloudbelguith and @PierreRambaud

I think I understand but as It tried to explain in the post above. When I disable the **"****show products from subcategories"** No products are shown,

When I tried now on a new installation with english and default theme it seems to work as it should.

T

[2019-05-27 09:05] khouloudbelguith commented on #13968
Hi @ComonSoft,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1
I attached a video record
https://drive.google.com/file/d/1-eiq8H_32axD6PTPlZNy8B4mF8J5RDoI/view
Thanks to check & feedback

[2019-05-27 09:09] khouloudbelguith commented on #13970
Hi @jointsystems,

It looks like a permission error or PHP misconfiguration on your server. From the stack trace you posted, I can tell that PHP is configured to store stores its sessions on /var/cpanel/php/sessions/ea-php56, but it's unable to read from there. It might be that the user on which your web server (or PHP, if you're using fastcgi) needs read/write rights on that directory.

Here's a

[2019-05-27 09:09] matks commented on #13962
Here 😉
https://github.com/PrestaShop/PrestaShop/tree/develop/install-dev/data installation data, including hooks for BDD
https://github.com/PrestaShop/PrestaShop/tree/develop/install-dev/upgrade upgrade script

[2019-05-27 09:24] colinegin commented on #13793
@sarahdib @marionf you can test it with the 2.0.2 version of the module ! (see with Alexandre or Adrien)

[2019-05-27 09:25] matks opened #13979 "Module statsdata does not detect plugins for PS 1.7"
Bug reported by user PrestaPlugins on [twitter](https://twitter.com/PrestaPlugins/status/1131869421432168448)

Module statsdata is supposed to be able to detect customer browser plugins. It does not work on PS 1.7.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "statsdata" module configuration page, enable "detect plugins"
2. Visit front-office
3. No data gathered

According to report

[2019-05-27 09:30] idnovate commented on #13962
[Fix for Bug 2](https://github.com/PrestaShop/PrestaShop/pull/13980)

[2019-05-27 09:31] khouloudbelguith commented on #13974
Hi @cr998,

I tried with PS1.7.6.0beta1 & PS1.7.5.2.
The 18 validation doesn't exist in my case,
In the first time, I enter a wrong format => ok => an alert is displayed
In the second time => I enter the good format => it is OK => le format is not transformed

I attached a video record
https://drive.google.com/file/d/1Yq00rdi_6MChIizEaGDkeV6eHnrIcrLv/view

Thanks to check & feedback

[2019-05-27 09:46] khouloudbelguith commented on #13976
Hi @PeterStudioWeb, @matks,

I did not manage to reproduce the issue with PS1.7.6.0beta1 and PS1.7.5.2
I attached a video record
https://drive.google.com/file/d/17BViOZ7YccCznGqsFuQrnfPDvkEax2Pg/view?usp=sharing

Thanks to check & feedback

[2019-05-27 09:56] khouloudbelguith commented on #13977
Hi @zuk3975,

I have the same issue with PS1.7.6.0beta1 & PS1.7.5.2

In the Delivery Slips page => Same issue.
![image](https://user-images.githubusercontent.com/16067358/58412247-f9aa7800-806d-11e9-9091-0d083beab657.png)

I’ll add this to the debug roadmap.
Thanks!

[2019-05-27 10:19] khouloudbelguith commented on #13949
Hi @tjorgensborg,

Thanks for your feedback.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-05-27 10:19] #13949 closed, assigned to marionf

[2019-05-27 10:25] khouloudbelguith commented on #13775
Hi @ramibak,

as written in your last email, the issue is related to your module aliexpress.
So, the issue is not a PrestaShop's core bug.

I close the issue, feel free to open a new one when needed.

Thanks!

[2019-05-27 10:25] #13775 closed, assigned to nobody

[2019-05-27 10:29] khouloudbelguith commented on #13960
@Madalina-nadari, thanks for your feedback.

I close the issue, feel free to open a new one when needed.

Thanks!

[2019-05-27 10:29] #13960 closed, assigned to nobody

[2019-05-27 10:37] khouloudbelguith commented on #13951
Hi @bestbuybargains,

Could you please provide me the credentials of your shop to check it.
This is a public space.
You can provide me the access by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-05-27 10:45] colinegin commented on #13806
Related to #13848

[2019-05-27 10:53] colinegin commented on #9886
Yes this is planned on PS 1.7.7 roadmap ! At least on pages which will be migrated on this version : orders page, shopping carts, customer service.
We should also check if these stats are working on pages already migrated : Translations - Categories - Customers.

[2019-05-27 11:09] khouloudbelguith commented on #13965
Hi @grabelle,

Thanks for these clarifications.
I did not manage to reproduce the issue with PS1.7.5.2 & ps_factedsearch v3.0.2.
I attached a video record
https://drive.google.com/file/d/1tud8DLOocsu_fEs1hZbKqI4SJPlVdAp_/view
Thanks to check & feedback

[2019-05-27 11:20] khouloudbelguith commented on #9862
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0beta1
https://drive.google.com/file/d/1QDW4SNUmssnAsryCOtzE5sDZRbNJ52-d/view

Thanks!

[2019-05-27 11:21] pumamood opened #13981 "WebService Update return empty tag for numeric field if value is 0"
**Describe the bug**
For some entities when you update numeric field with value 0, XML response returned from PUT request has an empty tag without the value inside

**To Reproduce**
Steps to reproduce the behavior:
1. Request
PUT /api/product_options?ws_key=xxx
content:
[code]
2. Response
[code]
….

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Ad

[2019-05-27 12:04] khouloudbelguith commented on #13981
Hi @pumamood,

Thanks for your report.

If you try to update the same product option with the same XML, just replace this

`<group_type>select</group_type>`

by this

`<group_type>color</group_type>`

In the return response, you will find that `is_color_group` is not empty

Thanks to check & feedback

[2019-05-27 12:16] pumamood commented on #13981
i know but it is not what i want. it works because  is_color_group value is automatically set to 1. it happens only with value 0. It doesn't happen in GET requests

[2019-05-27 12:25] khouloudbelguith commented on #13981
@pumamood, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1

XML sent
![image](https://user-images.githubusercontent.com/16067358/58419541-cfaf8080-8082-11e9-996f-70cb386c2d1b.png)

Http response
![image](https://user-images.githubusercontent.com/16067358/58419551-d76f2500-8082-11e9-8621-a8aff058fa4d.png)

I’ll add this to the debug roadmap so that i

[2019-05-27 12:32] AdrianStolarski1988 opened #13982 "CategoryController, addToCategories error 500"
**Describe the bug**
While I have set default language different from English, I get error 500 in browser console, when I want create create a new category in Edit/Create new product

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'International > Localization '
2. Set Default language as Polish
3. Go to Catalog > Products > New Product
4. Enter Product name and click save
5. In basic

[2019-05-27 12:38] pumamood commented on #13981
yes i think i found the issue
https://github.com/PrestaShop/PrestaShop/blob/913c4c84893373c9ef97da09b6c7ea93b10831e3/classes/webservice/WebserviceOutputXML.php#L138
change into
`            if ($field['value'] !== '') {`

[2019-05-27 12:38] khouloudbelguith commented on #13981
@pumamood, Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-05-27 12:45] colinegin commented on #9822
I've changed the label as it is not related to Catalog price rules, but Cart rules.
FYI @marionf @khouloudbelguith @sarahdib

[2019-05-27 12:47] khouloudbelguith commented on #13982
Hi @AdrianStolarski1988,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9752
So, I close it.
Thanks!

[2019-05-27 12:47] #13982 closed, assigned to nobody

[2019-05-27 12:48] khouloudbelguith commented on #13982
Duplicate of #9752

[2019-05-27 12:52] khouloudbelguith commented on #13874
Hi @AlexCrete,

In your case, this error `Can not retrieve the id_product_attribute` is displayed only if `idProductAttribute` is empty.

You can check that in your database `ps_product_attribute_combination` table.

Thanks!

[2019-05-27 12:53] marionf commented on #9886
It's all good for translations, categories and customers

[2019-05-27 12:57] khouloudbelguith commented on #13979
Hi,

I did not manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2 & the statsdata module v2.0.0.
I enabled the `Plugins detection` option, but I don't have any error js.

I tried to transplant the module statsdata to the diplayHeader but it is not possible

![image](https://user-images.githubusercontent.com/16067358/58421190-43538c80-8087-11e9-8718-8e0bae4a162a.png)

Thanks!

[2019-05-27 13:12] marionf commented on #10014
In 1.7.6.0 BYN currency is available

![capture d'écran_1602](https://user-images.githubusercontent.com/13449658/58422049-dee9fa80-8091-11e9-8b90-2c5ab60d4e4b.png)

[2019-05-27 13:12] #10014 closed, assigned to nobody

[2019-05-27 13:17] marionf commented on #10023
I can't reproduce with Linkwidget version 3.0.3

[2019-05-27 13:17] #10023 closed, assigned to nobody

[2019-05-27 13:28] khouloudbelguith commented on #13939
Hi @Spacetronik,

Just to let you know, some performance issues have been detected on our side and have been solved with #11559.
It is added in the PS1.7.6.0

Thanks!

[2019-05-27 13:28] Varindien opened #13985 "facetedsearch - filtering doesn't filter between product attributes"
Hello,

Filtering between 2  product attributes, do not filter, it seems to doing a "OR" filtering, instead of a "AND".

to reproduce :

- Create  products with 2 attributes, eg : color and size.
- Add attribute to filter in module configuration
- Go to category listing page and apply filter on a color and size.

eg: if a color is available for one product, and a size for several products. It will

[2019-05-27 13:32] #13935 closed, assigned to matks

[2019-05-27 13:37] marionf commented on #10172
@khouloudbelguith Could you try to reproduce the issue with 1.7.6.0 ?

[2019-05-27 13:48] marionf commented on #10236
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?
It's on the product page in BO ?

[2019-05-27 13:55] RomsC opened #13986 "BO AdminCarrierWizard add FormModifier"
**Is your feature request related to a problem? Please describe.**
For a project I need to add custom fields to the AdminCarrierWizard.
I know that a FormModifier action hook exist but it doesn't be call.

**Describe the solution you'd like**
AdminCarrierWizard doen't use mehod renderForm so the FormModifer action hook doesn't call.
I have add the hook in the renderGenericForm method of AdminWizar

[2019-05-27 13:56] marionf commented on #10247
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-05-27 13:57] khouloudbelguith commented on #10172
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0beta1

`http://shop/api/products/?filter[name]=%[test]&output_format=JSON `=> ok: Not Empty Result => `{"products":[{"id":20}]}`

`http://shop/api/products/?filter[name]=%[bear]&output_format=JSON` => nok: Empty Result => `[]`

Thanks!

[2019-05-27 14:17] marionf commented on #13782
@khouloudbelguith I can't reproduce this issue with 1.7.6.x branch

https://drive.google.com/file/d/1-B9GOxlRkTZ1zxH1oyjwgJ4sGHBmKfSS/view?usp=sharing

[2019-05-27 14:21] khouloudbelguith commented on #13985
Hi @Varindien,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0beta1 & ps_factedseach v3.0.2
Same with PS1.7.5.2 & ps_facetedsearch v3.0.2

Fresh installation 1.7.6.0 => in the Home category page => I have Active filter color: Black & Size:S
In the Result, I have 5 products, from this filter, I have a product which has the only color black & doesn't have the size: S

https:/

[2019-05-27 14:23] Matt75 commented on #13986
This controller will be rework entirely when migrate on Symfony stuffs.

I need that too but for the moment I use an override of this legacy controller to add what I need.

It's for your own Prestashop or a module you want to distribute ?

Because we just have to wait few months to use more powerful tools :D

[2019-05-27 14:24] bestbuybargains commented on #13951
All set my friend. Let me know if you have any questions!

[2019-05-27 14:25] khouloudbelguith commented on #13951
@bestbuybargains, thanks!
I just received the email.
I will check & feedback

[2019-05-27 14:28] mowcixo opened #13987 "Multistore: when you create a category through webservice, it creates the category in all stores"
**Describe the bug**
With an api key that only have permissions for one of the shops, when you create a category it associates the new category with any shop created in the multishop environment.

It works correctly creating manufacturers though.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate multishop environment.
2. Check your webservice api keys, having permissions for only one

[2019-05-27 14:51] khouloudbelguith commented on #10247
Hi @marionf,

I manage to reproduce this issue with PS1.7.5.2 / PS1.7.6.0 / 1.7.6.x when we add to the order a virtual product.

Thanks!

[2019-05-27 15:00] khouloudbelguith commented on #13987
Hi @mowcixo,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1
I used this script

[code]

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-05-27 15:01] khouloudbelguith commented on #13782
Hi @marionf,

I manage to reproduce this issue with PS1.7.5.2 / PS1.7.6.0 / 1.7.6.x when we add to the order a virtual product.

Thanks!

[2019-05-27 15:06] khouloudbelguith commented on #10247
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0beta1
https://drive.google.com/file/d/1XSZlZsBrRRJxyfTICxIcjHbg8zIp-BJQ/view
http://projet/1760beta1/?foo=0Abar => redirection to Home page
http://projet/1760beta1/en/?foo=%0Abar => redirection to page not found

Thanks!

[2019-05-27 15:13] khouloudbelguith commented on #10236
Hi @marionf,

Yes, the same issue with PS1.7.6.0beta1.
It is in the BO => Product page

![image](https://user-images.githubusercontent.com/16067358/58428415-499f3400-809a-11e9-8241-3bac142058e1.png)

Thanks!

[2019-05-27 15:18] khouloudbelguith commented on #13951
@bestbuybargains, in your file csv, you have a lot of products.
I will try to import them
Can you please confirm this action?

Thanks!

[2019-05-27 15:23] marionf commented on #13782
It's the same issue when you have a carrier not free and it happens only if the order contains virtual products, I updated your comment @khouloudbelguith

[2019-05-27 15:39] matks opened #13989 "[SF Migration] Check-list "Let's migrate a page to SF""
@sarjon @mickaelandrieu @tomas862 @zuk3975 @rokaszygmantas
Let's create a Check-List for page migrations 😄the goal is to make sure we never forget something.

First we'll use it on new migrated pages, and when it looks complete, it'll go in docs I guess.

Please feel free to add items in the comment, I'll update the list.

## Check-List (copied from #13989)

### App layer
#### Controller / routing

[2019-05-27 15:44] bestbuybargains commented on #13951
Yes, you can import all. Let me know if you have any questions!

[2019-05-27 15:44] marionf opened #13990 "Manually created currencies don't have decimals"
**Describe the bug**
Manually created currencies don't have decimals

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO > International > Localization > Currencies
2. Click on Add a new currency (ex: GBP, USD ...)
3. Enable it
4. Go to FO/BO and see prices

**If I import a localization pack, I don't have this issue**

**Screenshots**
![capture d'écran_1604](https://user-images.githubus

[2019-05-27 15:59] amine96nas opened #13991 "ContextErrorException"
**Describe the bug**
Hi guys,
I bought lately a theme for my prestashop store.
After the theme support installed it, I had this problem

(1/1) ContextErrorExceptionWarning: Invalid argument supplied for foreach()
--
in tm_categoryslider.php line 483
at Tm_Categoryslider->getWidgetVariables('displayHome', array('cookie' => object(Cookie), 'cart' => object(Cart)))in tm_categoryslider.php line 445
at

[2019-05-27 16:08] marionf commented on #10568
Issue on this page:
https://github.com/PrestaShop/PrestaShop/issues/10405

[2019-05-27 16:12] marionf commented on #10491
@khouloudbelguith Could you try to reproduce it on 1.7.6.x branch ?

[2019-05-27 16:14] marionf commented on #10653
@khouloudbelguith Could you please try to reproduce it with 1.7.6.0 ?

[2019-05-27 16:20] grabelle commented on #13965
Hi, sorry but you click on the little bar, you don't slide your finger on the screen.

[2019-05-27 16:55] ComonSoft commented on #13968
Are you in HTTPS ? Because in my local test I'm in 1.7.5.2 and it's not working. And if you look at the [source code 1.7.5.x you'll see hard coded http line 350](https://github.com/PrestaShop/PrestaShop/blob/1.7.5.x/admin-dev/filemanager/dialog.php)
It has been fixed in 1.7.6.x

[2019-05-27 17:10] PierreRambaud commented on #13985
Will be fix as soon as possible :+1:
I'm on it!

[2019-05-27 18:35] kpodemski commented on #13965
Yes, this issue exists, solution would be to use:
http://touchpunch.furf.com/

[2019-05-27 20:57] Spacetronik commented on #13939
Hi @khouloudbelguith ,
we have applied the patch/commit from #11559, but it doesn't help. We tried to disable also all modules and changing theme to default (classic).  The problem is at initContent - it always take over 5 seconds to process, even on "contact" site. On main/products site SQL quering time is ok (<150ms). Today we also installed memcached, but it doesn't help in any way.

Load Time

[2019-05-27 21:42] BenTen commented on #13782
@marionf In your video, we can see there is the carrier but if you try to click on "Edit" button to add a tracking number, do you have carrier list?

Btw, You didn't activate "Free Shipping" option when you create your order.

[2019-05-27 22:51] gbr161 opened #13993 "Faceted search not displaying on custom hooks after upgrade to 3.0.2"
**Describe the bug**
Module is shown only at left column.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to transplant the module anywhere from displayLeftColumn hook.

I have custom hooks on my template and it was all working fine until this update. I know you were remaking this module but taking out possibility to hook it anywere than hooks hardcoded in module is nothing good for user

[2019-05-28 06:06] TamasFelix commented on #10353
Hi, I installed Prestashop 1.7.5.1 i have same problem
http://www.kiwigym.ro/aminoacizi/gaspari-nutrition-aminomax-8000-350-tabl
![8000](https://user-images.githubusercontent.com/50567469/58454656-ce845f00-8127-11e9-8e5d-afe3499d49b2.JPG)
Did anyone find the solution?

[2019-05-28 06:57] khouloudbelguith commented on #13991
Hi @amine96nas,

This issue occurs due to the tm_categoryslider modules.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-05-28 06:57] #13991 closed, assigned to nobody

[2019-05-28 07:19] khouloudbelguith commented on #13993
Hi @gbr161,

Thanks for your report.
Your report makes our module better!
I manage to reproduce the issue with PS1.7.6.0beta1 & ps_factedsearch v3.0.2.
With ps_facetedseach v2.2.0 => OK
I attached a video record
https://drive.google.com/file/d/15BV_T72-ha8b-hpVOjIr26iQfhbgdTkd/view

Before the upgrade of the module
![image](https://user-images.githubusercontent.com/16067358/58458442-2a97b500-8121-

[2019-05-28 07:19] khouloudbelguith commented on #13993
ping @PierreRambaud

[2019-05-28 07:23] marionf commented on #13782
@BenTen it's not necessary to activate free shipping to reproduce the issue
Once the order is created, there isn't the edit button as there is no carrier displayed

![capture d'écran_1607](https://user-images.githubusercontent.com/13449658/58458669-12786380-812a-11e9-8194-dbd5c2b43ff3.png)

[2019-05-28 07:26] #13814 closed, assigned to marionf

[2019-05-28 07:28] marionf commented on #9526
I can't reproduce on 1.7.6.0

[2019-05-28 07:28] #9526 closed, assigned to nobody

[2019-05-28 07:33] PeterStudioWeb commented on #13976
A bit later I will record video with this mistake

[2019-05-28 07:34] BenTen commented on #13782
In virtual it seems there is no button.

But with normal product, the button is displayed.
If we click on "Edit" button to write a tracking number we can't select carrier.

![deb480fbec49a22e4d5f2df26d03a99d.png](https://tof.cx/images/2019/05/28/deb480fbec49a22e4d5f2df26d03a99d.png)

PS 1.7.5.0

[2019-05-28 07:41] khouloudbelguith commented on #13965
Hi @grabelle, @kpodemski, thanks for these clarifications.
Yes, with ps_factedsearch v3.0.2, on a mobile phone touch screen, we can't slide the finger on the screen, but we can click
https://photos.app.goo.gl/Pv894CisEtccSeRW8

With ps_factedsearch v2.2.1 we have this
![image](https://user-images.githubusercontent.com/16067358/58459827-2de07000-8124-11e9-85ed-19ea31048509.png)

I’ll add this to th

[2019-05-28 07:52] khouloudbelguith commented on #13976
Hi @PeterStudioWeb,

Thanks!
Waiting for your feedback

[2019-05-28 07:58] khouloudbelguith commented on #13965
ping @PierreRambaud

[2019-05-28 08:05] khouloudbelguith commented on #13968
@ComonSoft, no, I'm not using https, did you use https in your case?

Thanks!

[2019-05-28 08:06] #13767 closed, assigned to tomlev

[2019-05-28 08:09] #13358 closed, assigned to sarahdib, jolelievre

[2019-05-28 08:10] khouloudbelguith commented on #13782
Hi @BenTen,

This is a different issue & in my case, it is OK
![image](https://user-images.githubusercontent.com/16067358/58461770-58ccc300-8128-11e9-911a-773c12bfb620.png)

Thanks!

[2019-05-28 08:17] khouloudbelguith commented on #10653
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0beta1
https://drive.google.com/file/d/1zCdj5v3YyGju5gcHhB1j3lImzKuUjidR/view
Thanks!

[2019-05-28 08:39] Peter4661 opened #13995 "Faceted search links to categories lost after upgrade to 3.0.2"
Prestashop 1.7.5.2
Faceted search 3.0.2.

After update Faceted search to V3.0.2., links to categories are lost.

Server error message is below.

After update Faceted search module error warning: could not update module

[Tue May 28 09:49:44.938370 2019] [lsapi:error] [pid 3326002:tid 140427134969600] [client xxx.xxx.xxx.] [host www.derks-wielersport.nl] Backend fatal error: PHP Fatal error:  Uncau

[2019-05-28 08:45] khouloudbelguith commented on #13995
Hi @Peter4661,

After the upgrade of the ps_facetedsearch module, could please try to follow these steps:

1. Go to BO => Module Manager page => configure the ps_facetedsearch module
2. Click on `Rebuild entire price index`, `Build attribute index` & `Clear cache`
3. Edit your template => Categories used for this template: you will found that all categories are not selected in your case?

Thanks!

[2019-05-28 08:51] khouloudbelguith commented on #13951
Hi @bestbuybargains,

After importing the file csv, I have this error: `Attempted to call function "idn_to_ascii" from the global namespace.`
![image](https://user-images.githubusercontent.com/16067358/58464674-0d1d1800-812e-11e9-8507-5d7e0f7fdab9.png)

You need to enable & install php-intl extension on your server.

Thanks to check & feedback.

[2019-05-28 08:58] ghost commented on #12888
Hi @francoispeyret,

We agreed with @TristanLDD to go with your version!
You are right, the user will have the same structure with each search, and the opacity difference will make it way easier to use the search, it is simple and works well 👍

Your PR needs a review and some modification on your side, can you check it?
I pinged you on it.

Thanks a lot!

[2019-05-28 09:04] HeineFr commented on #13985
I've got the same problem, i have checkbox faceted filters in this order configuration :
-Brand filter
-1 couple of Attributes (exemple size)
-1 couple of caracteristics (exemple season wear)
-A second couple of caracteristics (exemple material)

If you select cumulative faceted filter **from the bottom to the top** :
Material + size -> Works
Material + size + Brand -> Works
Material + season wear

[2019-05-28 09:06] jolelievre commented on #13964
Hello @cedricfontaine,

I'm sorry but I don't see any `{id_order}` in the templates, they all use the same variable `{order_name}`

[2019-05-28 09:08] khouloudbelguith commented on #10491
Hi @marionf,

I did not manage to reproduce the issue with PS1.7.6.0beta1
1. I added this sentence `{l s='Test 1 more theme' d='Shop.Theme.MyTheme'}` in the file /themes/MyTheme/templates/catalog/product.tpl
2. I added this sentence `{l s='Test 2 more module' d='Shop.Theme.MyTheme'}` in the file /themes/MyTheme/modules/ps_customtext/ps_customtext.tpl

In the translation page, Shop/Theme/Mytheme do

[2019-05-28 09:08] #10491 closed, assigned to nobody

[2019-05-28 09:15] ComonSoft commented on #13968
Yes this is the issue, mixed content blocked when you are in https as explained in ticket ;-)
But you can close it, it solved in next release.

[2019-05-28 09:15] #13968 closed, assigned to nobody

[2019-05-28 09:21] jolelievre commented on #13963
Hi @cedricfontaine

I'm sorry I couldn't find any trace of the variables you mentioned in any templates.

Besides we can't add these variables in all templates, each mail is contextualized and the variables available in the template depends on the variables injecting in the call to `Mail::send` function (see https://devdocs.prestashop.com/1.7/development/mail/ for more detail).

So although in an

[2019-05-28 09:22] marionf commented on #10822
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-05-28 09:27] marionf commented on #10824
@khouloudbelguith Could you try to reproduce it on 1.7.6.0 ?

[2019-05-28 09:32] khouloudbelguith commented on #13968
@ComonSoft, thanks for your feedback.
Fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/11526
Feel free to open a new one when needed.

Thanks!

[2019-05-28 09:39] racfalit opened #13996 "Error 500 Prestashop 1.7.5.2 + PHP 5.6.40-0+deb8u3 only when logging in backoffice"
Hello Good afternoon, I have a problem with my online store. At random from time to time, it can be 4 days, 1 week ... it gives me an error 500 when I try to access the Backoffice of my shop simply by entering and modifying articles, without installing any module or anything special.

We have deleted cache and nothing, I was also looking and delete these files and nothing:

www / var / cache / _pr

[2019-05-28 09:44] khouloudbelguith commented on #13996
Hi @racfalit,

You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. save the product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response"

[2019-05-28 09:51] racfalit commented on #13996
Thanks for the answer but the problem is not when modifying articles is when I log in in the backoffice that does not let me enter

[2019-05-28 09:51] khouloudbelguith commented on #10824
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0beta1
https://drive.google.com/file/d/12QQYXSMju1u7MEigXcXa6PkgVROGML-T/view
Thanks!

[2019-05-28 09:53] khouloudbelguith commented on #13996
@racfalit, thanks for your feedback.

When debug mode enabled, there is no exception displayed?
Thanks!

[2019-05-28 09:56] racfalit commented on #13996
When I enter debugging mode I get these errors:
- AppKernel.php on line 34
- AppKernel.php on line 0
- PHP Fatal error: Cannot redeclare class AppKernel in

[2019-05-28 10:02] marionf commented on #10965
I can't reproduce with 1.7.6.0

![capture d'écran_1610](https://user-images.githubusercontent.com/13449658/58469770-73129b00-8140-11e9-9b05-38770d853964.png)

[2019-05-28 10:02] #10965 closed, assigned to nobody

[2019-05-28 10:03] khouloudbelguith commented on #10822
Hi @marionf,

Yes, I manage to reproduce the issue with PS1.7.6.0.
I have those orders
![image](https://user-images.githubusercontent.com/16067358/58469624-c92f1080-8137-11e9-8b8e-e33adee963d6.png)

If I make a filter like this http://presta1760/api/orders/?display=full&filter[date_add]=[2019-05-24,2019-05-28]&date=1

I have only the five first products, the orders created on 2019-05-28 are not di

[2019-05-28 10:04] marionf commented on #11012
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-05-28 10:05] zer0below opened #13997 "Hi please help i need it badly Payment Preference is Blank Prestashop 1.7"
Please help Payment Preference is Blank Prestashop 1.7, I need to check the cash on delivery on my country. is it possible to force it on database?

![image](https://user-images.githubusercontent.com/38272278/58469894-12e91c80-8173-11e9-97f2-5c409162581d.png)

[2019-05-28 10:10] khouloudbelguith commented on #13997
Hi @zer0below,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-05-28 10:13] khouloudbelguith commented on #13996
Hi @racfalit

After removal of cache rm -fR var/cache/* thanks to run those commands:

[code]

Thanks to check & feedback

[2019-05-28 10:18] racfalit commented on #13996
Sorry but I'm pretty newbie. Do these commands that you have put me have to do if you give me the error again?

[2019-05-28 10:22] zer0below commented on #13997
Hi thank you so much for your quick response
here's the error in the debug mode
please see screenshot below
![image](https://user-images.githubusercontent.com/38272278/58471002-7aa06700-8175-11e9-8446-2fe5aa1910c7.png)

[2019-05-28 10:22] khouloudbelguith commented on #13996
@racfalit, those commands clear cache from your local & prod environment.
Thanks!

[2019-05-28 10:27] racfalit commented on #13996
Thanks, but what do I do now or when I get the 500 error?

[2019-05-28 10:29] khouloudbelguith commented on #13997
@zer0below, this exception is displayed due to the `Posmegamenu` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-05-28 10:29] #13997 closed, assigned to nobody

[2019-05-28 10:30] khouloudbelguith commented on #13996
@racfalit, could you please provide me the credentials of your shop to test it.
This is a public space.
You can provide me the access by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-05-28 10:32] zer0below commented on #13997
Question all i want for the meantime is to tick the cash on delivery enable. is it possible to do it in database? what table?

[2019-05-28 10:33] racfalit commented on #13996
what do you need? FTP and Backoffice?

[2019-05-28 10:34] khouloudbelguith commented on #13997
@zer0below, to avoid this exception, you can disable the `Posmegamenu` module temporary.

Thanks!

[2019-05-28 10:34] khouloudbelguith commented on #13996
@racfalit, no just Back office.
Thanks!

[2019-05-28 10:37] racfalit commented on #13996
is already in your email. Thnks

[2019-05-28 10:47] khouloudbelguith commented on #11012
Hi @marionf,

I have the same issue with PS1.7.6.0beta1

Before calling:` $this->context->customer->isLogged(true)`,

I have this
[code]
After calling: `$this->context->customer->isLogged(true)`,

I have this

[code]
Thanks!

[2019-05-28 10:53] khouloudbelguith commented on #13996
@racfalit, I tried a few times, but it is OK.
I sent you a video record via email.
Thanks!

[2019-05-28 11:02] racfalit commented on #13996
Thank you very much for the time you are dedicating me. I know that right now it does not fail, it was this morning when it failed and my hosting cleaned the cache and restarted the web server and now it works. But we do not know how to identify the failure so that it does not happen again :( Do you not know why those failures may be that I indicated earlier?

[2019-05-28 11:03] khouloudbelguith commented on #13996
@racfalit, if your issue is solved after clearing the cache, so it is a cache issue.
Thanks!

[2019-05-28 11:05] racfalit commented on #13996
It has not been fixed when clearing the cache, it has been fixed when restarting the web server of the hosting

[2019-05-28 11:09] khouloudbelguith commented on #13996
@racfalit,
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration.

Thanks!

[2019-05-28 11:11] Peter4661 commented on #13995
Hi khouloudbelguith,

Thank you for your tips.

Rebuiling the entire price index and build attribute index restored the links to categories.

However, filters for categories do not show up with all categgiets with filters  .  This is realy wierd. No error warning in server error log.

Visiting and editing filter template, making sure category is selected, rebuilding price index, build attribute in

[2019-05-28 11:13] racfalit commented on #13996
ok thank you very much for everything, just one last question, in case it was the server could you give me some recommendation? The current PHP version is fine for the prestashop 1.7.5.2?

[2019-05-28 11:15] khouloudbelguith commented on #13255
Hi @didi-2018,

I did not manage to reproduce the issue with PS1.7.6.0beta1 & the ps_mbo module v1.1.1.
I attached a video record.
https://drive.google.com/file/d/1k8dqPjOyM84dy8L-ItECh6UWhMXFN9lX/view
Thanks!

[2019-05-28 11:19] khouloudbelguith commented on #13996
@racfalit, PrestaShop 1.7.5 supports all versions of PHP from 5.6 to 7.2, but not the latest 7.3
Thanks!
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-05-28 11:19] #13996 closed, assigned to nobody

[2019-05-28 11:22] khouloudbelguith commented on #13995
@Peter4661, thanks for your feedback.
In the configuration page of the ps_facetedsearch module, the `Show products from subcategories`
 option is enabled?
Thanks!

[2019-05-28 11:33] sarjon commented on #13989
There is weird namespace `PrestaShop\PrestaShop\Core\Form\DTO` which seems to be related to `Multistore` feature. Maybe it could be renamed to `PrestaShop\PrestaShop\Core\Form\Multistore` to make it more clear.

[2019-05-28 11:47] khouloudbelguith commented on #13939
@Spacetronik, thanks for your feedback.
You must be careful with some options in the `statsdata` module because storing page views uses a lot of resources and database space. We advise you to enable page views only if your server can handle it.
In fact, it takes a very huge space in the database because it collects statistics from connections.
you can delete data from `ps_connections`, `ps_connect

[2019-05-28 11:51] bestbuybargains commented on #13951
Alright. Intl is installed and functioning. Let me know if you see anything else

[2019-05-28 11:52] khouloudbelguith commented on #13951
@bestbuybargains, can I try to re-import products again?
Thanks!

[2019-05-28 11:52] marionf commented on #11289
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-05-28 12:30] bestbuybargains commented on #13951
Absolutely! Thanks for your help 😄

[2019-05-28 12:30] khouloudbelguith commented on #11289
Hi @marionf,

Yes, I manage to reproduce this issue with PS1.7.6.0beta1 using this script

[code]

THanks!

[2019-05-28 12:35] PierreRambaud commented on #13814
@tomlev Few months ago, but was maybe a intl update :thinking:

[2019-05-28 12:54] matks commented on #13729
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13774

[2019-05-28 12:54] #13729 closed, assigned to tomas862

[2019-05-28 12:57] khouloudbelguith commented on #13951
@bestbuybargains, Now the import is OK
I sent you via email a video record
Thanks to check & feedback.

[2019-05-28 13:03] bestbuybargains commented on #13951
Thank you so much!!!

[2019-05-28 13:03] #13951 closed, assigned to nobody

[2019-05-28 13:04] khouloudbelguith commented on #13951
@bestbuybargains, you are welcome!
Feel free to open a new one when needed.

Thanks!

[2019-05-28 13:10] marionf commented on #13793
@YeLnatSs

I tested with themeconfigurator v2.0.2 and display is not ok

![capture d'écran_1611](https://user-images.githubusercontent.com/13449658/58480462-b0842200-815a-11e9-92de-9f96804f2b59.png)

[2019-05-28 13:18] marionf commented on #11392
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-05-28 13:19] marionf commented on #11450
@khouloudbelguith Could you try to reproduce it with 1.7.6.0 ?

[2019-05-28 13:25] khouloudbelguith commented on #11392
Hi @marionf,

I cannot reproduce it with PS1.7.6.0
![image](https://user-images.githubusercontent.com/16067358/58481491-6435e380-8154-11e9-8cd0-94366dcbade4.png)
It is correct now.

Thanks!

[2019-05-28 13:25] #11392 closed, assigned to nobody

[2019-05-28 13:31] khouloudbelguith commented on #11450
Hi @marionf,

The upgrade button is not displayed with PS1.7.6.0.
![image](https://user-images.githubusercontent.com/16067358/58481894-3a30f100-8155-11e9-81cb-83242893036b.png)

It could be because modules have not been updated yet for 1.7.6.
I tried with another module => the upgrade button is not displayed
![image](https://user-images.githubusercontent.com/16067358/58482268-fa1e3e00-8155-11e9-8e

[2019-05-28 13:36] JoSchmutz opened #13998 "Hi There, in the module Relance Panier, it's not clear if conditions are "OR" or "AND". You really shoud add explanations during the conditions process"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-05-28 13:39] ghost commented on #13010
Hello @unamuno,

I checked the checkout form and autofill is working on Chrome and Safari, see video for Chrome: [Video](https://drive.google.com/file/d/1tgXrqfdUvRgMlzKUVyvxjZZOkJHmKX8y/view?usp=sharing)

Did you check if autofill is allowed in your browser parameters?

[2019-05-28 13:39] JoSchmutz commented on #13998
For each rule you can add conditions, in the french version, it is not mentioned if conditions are OR or AND.

[2019-05-28 13:40] khouloudbelguith commented on #13998
Hi @JoSchmutz,

What is the exact module did you use?
This module https://addons.prestashop.com/fr/remarketing-paniers-abandonnes/16535-relance-de-paniers-abandonnes-pro.html ?

Thanks!

[2019-05-28 13:41] cedricfontaine commented on #13963
Hello @jolelievre,

Those variables are available only in order_conf in classes/PaymentModule.php but we would like to be able to use it in every step of the order life cycle.
sendMailAlterTemplateVars seems to be a good alternative and I'll try to work with it.

[2019-05-28 13:45] cedricfontaine commented on #13964
Hello,

They all use {order_name} but {id_order} is an available variable in every step, except for order_conf.
It could be cool to be consistent.

[2019-05-28 13:50] ghost commented on #13732
Hi @jolelievre & @YeLnatSs,

I don't know what had been originally decided on this topic, but according to what you say @jolelievre, it totally makes sense to fix it in the module.

@YeLnatSs, can you fix it in the module instead?

[2019-05-28 13:51] marionf commented on #11450
Yes, we need to wait the update of the modules to test it again :+1:

[2019-05-28 13:56] matks commented on #13428
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13916

[2019-05-28 13:56] #13428 closed, assigned to matks, sarjon

[2019-05-28 14:06] matks opened #14000 "Make sure all migrated pages are covered with Survival Tests"

[2019-05-28 14:10] colinegin opened #14001 "Blurry effect on edit and delete submenu icons on migrated pages"
In newly migrated pages, there is a "blurry" effect on submenu icons for edit and remove options. This might be related to a change in their size, which should not happen.
Ex :
![image](https://user-images.githubusercontent.com/35263827/58484777-0b217c00-8163-11e9-891e-3ef72fe6e021.png)

[2019-05-28 14:11] colinegin commented on #13990
It works again when the newly created currencies are removed from the BO.

[2019-05-28 14:27] tjorgensborg opened #14003 "Faceted search 3.0.X"
**Describe the bug**
If you have the function **show products from categories** disabled you will in FO get no products in category if you have subcategories.
This apply if you have products in the main category, but none of the products in the category is default to the main category.

**To Reproduce**
Steps to reproduce the behavior:
Go BO
Disable the **show products from categories**
Add a rule

[2019-05-28 14:28] eternoendless commented on #13942
This domain is wrong:

[code]
https://github.com/friends-of-prestashop/demo-cqrs-hooks-usage-module/blob/master/src/Controller/Admin/CustomerReviewController.php#L68

It should be:
[code]
or
[code]

See: https://github.com/PrestaShop/TranslationToolsBundle/blob/master/Tests/Translation/Helper/DomainHelperTest.php#L61-L87

[2019-05-28 14:30] eternoendless commented on #13942
Also, remember that you have to opt-in to the new translation system if you want to be able to translate it using the BO. You need to add this to the main module file:

[code]

[2019-05-28 14:45] eternoendless commented on #13518
I believe this one is fixed by this PR: #12578

[2019-05-28 14:45] jolelievre commented on #13964
Hi,

ok I get it now I was looking at the templates but couldn't find this variable anywhere (only `{order_name}` is used in the classic templates. But i see it in the PHP calls, so indeed we could add this variable in order_conf, thanks for pointing it out.

As 176 is already frozen this update will be integrated in 177 now.

[2019-05-28 14:50] khouloudbelguith commented on #14003
Hi @tjorgensborg,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0beta1 & ps_factedseach v3.0.2 => NOK
![image](https://user-images.githubusercontent.com/16067358/58487902-51c1a700-8160-11e9-9d59-150c98f80599.png)

with ps_facetedsearch v2.2.0 => OK
![image](https://user-images.githubusercontent.com/16067358/58487854-3c4c7d00-8160-11e9-9747-c2914d6b1c6f.png)

I’ll add this t

[2019-05-28 14:57] sarjon commented on #14001
This happened to me before as well, make sure your browser zoom is at 100%, but I guess it should be fixed anyway.

[2019-05-28 15:00] khouloudbelguith commented on #14003
Hi @tjorgensborg,

Thanks for your report.
Yes, I have the same behavior with PS1.7.6.0beta1 & ps_factedseach v3.0.2
![image](https://user-images.githubusercontent.com/16067358/58487902-51c1a700-8160-11e9-9d59-150c98f80599.png)

with ps_facetedsearch v2.2.0
![image](https://user-images.githubusercontent.com/16067358/58487854-3c4c7d00-8160-11e9-9747-c2914d6b1c6f.png)

@marionf, what do you think, t

[2019-05-28 15:04] jolelievre commented on #13963
Hi @cedricfontaine,

this could be a nice improvement, although it requires to modify every calls sending mails for an order, @colinegin what do you think?

[2019-05-28 15:31] marionf commented on #14003
Hi @tjorgensborg

Take the example of "clothes" category, by default you have 2 products in this category:
- Hummingbird printed sweater, with women as main category
- Hummingbird printed t-shirt, with men as main category

If you disable "show products from **subcategories**" in ps_facetedsearch and display "Clothes" category in FO, it's normal to not see these products because they belong to Men

[2019-05-28 15:32] PierreRambaud commented on #13965
Should be ok with https://github.com/PrestaShop/ps_facetedsearch/pull/73 waiting for your feedback @kpodemski :+1:

[2019-05-28 15:33] PierreRambaud commented on #13985
Should be ok here: https://github.com/PrestaShop/ps_facetedsearch/pull/72 Thanks for feedbacks and help guys!

[2019-05-28 15:51] PierreRambaud commented on #13993
Should be ok here: https://github.com/PrestaShop/ps_facetedsearch/pull/74 Thanks for your feedback!

[2019-05-28 15:56] marionf commented on #10255
Fixed by https://github.com/PrestaShop/ps_facetedsearch/pull/72

[2019-05-28 16:00] LouiseBonnard commented on #13476
Hello @eternoendless, I've reproduced the process described in this issue and found where wordings were missing localization (in native, API-pushed and preinstalled modules). I've counted about two hundred strings to localize. It is not that much. In this case, I'd prefer to add the right localization myself since there can be duplicates or even more relevant localizations.

I only talk about addi

[2019-05-28 16:06] matks opened #14005 "Provide reference usecase modules always up-to-date"
We should provide some reference modules that people can use as an example/reference/skeleton to build their modules.

Usecases I can think of:
- carrier module
- payment module
- module that displays a block on FO
- module that displays a block on BO
- module that modifies login process (SSO ? )
- module that adds fields to a form in BO

These modules should provide:
- best practices about codest

[2019-05-28 16:06] matks commented on #14005
Cc @Matt75 😉

[2019-05-28 16:10] tjorgensborg commented on #14003
Hello @marionf
Yes its true what you have testet, BUT if you try to add some products from Women to Clothes you still will not be able to see it if you dont make Clothes your default category. With version 2.2.1 you can have products that does not have cloths as default category and still see them. If you have disabled the show products from subcategories you cant even see products in main categor

[2019-05-28 16:34] jozefpinter opened #14006 "Email Templates translation"
Will be there an easier way (in the future) to edit email templates? like this.

1. translate prestashop email templates without editing all 30+ htmls? Some easier way. The way how it works now is very time consuming.

2. Editing email header and email footer in a single file? Because all 30+ emails shares the same header and footer.

[2019-05-28 16:46] colinegin commented on #9881
I just tested it I can't reproduce it. Could you try to test it @khouloudbelguith ?

[2019-05-28 16:58] sarjon commented on #14005
This is something that @tomas862 had already started. https://github.com/Invertus/prestashop-module-skeleton

[2019-05-28 17:49] gbr161 commented on #13993
@PierreRambaud I just tested your changes and it works as it should - faceted search displays where i place it, not only in displayLeftColum hook. Thank you very much.

[2019-05-28 20:04] AlexCrete commented on #13874
Hi khouloudbelguith,
I checked. Not a single position in id_product_attribute is empty, as on screenshot:
![Screen Shot 2019-05-28 at 21 58 47](https://user-images.githubusercontent.com/50266769/58508519-7fc0de80-8194-11e9-9a11-59471002618e.png)

[2019-05-29 07:23] LDMEDICAL opened #14009 "Wrong payments status after activation of stock management (prestashop 1.6)"
Hi,
i just activated the stock magement function on my prestashop 1.6.1.4 and now, i have a problem with the order payment statuses.

For exemple
Order test paid by check has automatically the status "paid by CB" instead of "waiting for check"
It's the same for all my payment method = wrong statuses.

If i disable the stock management it's ok.

I precise that my website has been updated since vers

[2019-05-29 07:28] khouloudbelguith commented on #14006
Hi @jozefpinter,

To translate email we need to go to the BO => International => Translations =>

- Select `Type of translation`: Email translations
- Select `email_content_type`: Body
- Select the language

Now you can edit any mail type

In your case, these steps are very time-consuming?

Also, you want to edit the subject email & the core email on the same page?

PS: in the PS1.7.6.0: we have a

[2019-05-29 07:32] khouloudbelguith commented on #14009
Hi @LDMEDICAL,

As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed.

Thanks for your un

[2019-05-29 07:32] #14009 closed, assigned to nobody

[2019-05-29 07:34] khouloudbelguith commented on #13499
Hi @ange007,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-29 07:34] #13499 closed, assigned to nobody

[2019-05-29 07:37] PierreRambaud commented on #13993
@gbr161 Thanks, we are planning to release a new version this week, with fixes :wink:

[2019-05-29 07:52] rokaszygmantas commented on #13989
I think we should also explain `_legacy_parameters` as the way to convert symfony route parameters into legacy parameters, as it can be easily forgotten and missed

[2019-05-29 08:05] matks commented on #9807
Hi, I just wanted you to know that we have migrated the server behind doc.prestashop.com and we can now enable HTTPS (https://doc.prestashop.com/)

However there are still some mandatory steps required to be able to put it in full HTTPS. So work is in progress 😄

[2019-05-29 09:02] LDMEDICAL commented on #14009
ok super !!

[2019-05-29 09:03] tomas862 commented on #13914
@matks @sarahdib  when using  "Import from your computer" functionality it handles max file upload size restrictions. In exception provided here I see that  when uploading a theme it reached out of memory which is different thing. It consumed around 500mb but 134mb are allocated only. For such opeartion 500mb is huge number although :thinking:

[2019-05-29 09:08] khouloudbelguith commented on #9881
Hi @colinegin,

In fact, I tried with PS1.7.6.0beta1 & it is OK

In the BO => Shop Parameters => Product Settings: Quantity discounts based on Products
![image](https://user-images.githubusercontent.com/16067358/58543144-c8a97f00-81f6-11e9-9ab8-6041bd331048.png)

We have a catalog price rule from quantity = 4, percentage discount = 100%

![image](https://user-images.githubusercontent.com/16067358/

[2019-05-29 09:16] matks commented on #13914
Got the answer: we have to consider some servers have a max_file_upload very low (like 10mb). Indeed that is a server config mistake but they must be displayed a nice error message in order to understand what is the issue rather than a scary exception message.

[2019-05-29 09:17] matks commented on #13796
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13905

[2019-05-29 09:17] #13796 closed, assigned to YeLnatSs

[2019-05-29 09:18] colinegin commented on #9881
Yes I had the same ! I close the issue then :-)

[2019-05-29 09:18] #9881 closed, assigned to nobody

[2019-05-29 09:25] tomas862 commented on #13914
Test result one:
`post_max_size = 2M` and `upload_max_filesize = 2M` when I tried to upload theme which is `10mb`

![file_upload_err_1](https://user-images.githubusercontent.com/17051250/58545646-5b084d80-820c-11e9-9732-90f538febd6c.png)

test result two:

`post_max_size = 20M` and `upload_max_filesize = 2M`

![second_error_native](https://user-images.githubusercontent.com/17051250/58545760-9b67cb

[2019-05-29 09:32] khouloudbelguith commented on #13874
@AlexCrete, could you please provide me the exact result of this SQL command

`Select * from ps_product_attribute_combination where id_attribute = 37;`

Thanks!

[2019-05-29 09:40] venditdevs commented on #14003
We can confirm this is an issue since the update. If we choose to show a product in multiple categories( subcategories) then the faceted search doesn't need to interfere if the switch 'Show subcategory' is set to off.

[2019-05-29 09:47] khouloudbelguith commented on #14003
Hi @marionf,

This issue is reproduced if:

- Hummingbird printed t-shirt: is selected to Home, Clothes, Men: Clothes is the main category

![image](https://user-images.githubusercontent.com/16067358/58547189-d7942f80-81fe-11e9-9e53-4cafd655c4bf.png)

In the FO with ps_factedsearch v3

In the "Clothes" category `Hummingbird printed t-shirt` is displayed => OK
In the "Men" category `Hummingbird pri

[2019-05-29 09:53] matks commented on #13914
This is good 👍

[2019-05-29 09:54] matks commented on #13989
ping @SimonGrn 😄

[2019-05-29 09:56] khouloudbelguith commented on #12915
Hi @MSG47,

I manage to reproduce the issue with PS1.7.6.0beta1
I have more than 2000 combination for a product,
[request_sql_1.txt](https://github.com/PrestaShop/PrestaShop/files/3231834/request_sql_1.txt)

When changing the attribute – the updates are very slow
I attached a video record
https://drive.google.com/file/d/1EZfpTxCoBPffU916IODwCjplo-ThoqTx/view

ping @PrestaShop/prestashop-core-devel

[2019-05-29 10:03] matks commented on #13942
This needs to be documented

[2019-05-29 10:05] Peterits commented on #13993
Hello team, with v3.0.2 faceted navigation, there are also a lot of problems with the display of the weight of items for delivery, add the search for the weight you will understand, depending on the version the kg for example becomes € ! Version v1.7.5.2, I personally came back to V2.2.1! See the video !

![v3 0 2 faceted navigation](https://user-images.githubusercontent.com/44966543/58548540-ca30

[2019-05-29 10:13] khouloudbelguith commented on #13993
@Peterits, Yes, I manage to reproduce the issue with ps_factedsearch v3.0.2
![image](https://user-images.githubusercontent.com/16067358/58549082-a158af00-8202-11e9-8958-e22fa2a99bee.png)
I will create a new issue.
Thanks!

[2019-05-29 10:20] khouloudbelguith commented on #13993
@Peterits, this issue occurs only with PS1.7.5.2, but with PS1.7.6.0BETA1, it is OK
https://drive.google.com/file/d/1uJv7s4uW8KhV_q6UlHgDpb7DerWFagPm/view
![image](https://user-images.githubusercontent.com/16067358/58549553-b1bd5980-8203-11e9-8a1e-5799a54fd863.png)

So no need to create an issue, it is fixed.

Thanks!

[2019-05-29 10:27] Gftec opened #14013 "Invalid token"
**Describe the bug**
When I log in or try to reconnect to manage my shop, add a product, edit or create a category, I always get this error message : Invalid Token: Accessing this link may result in a possible security issue.

I have contacted my hosting provider, this is his report :
Another option could be the error we see in the error_log of your https://www.vente-ordi.store/psadmin/error_log:

[2019-05-29 10:33] khouloudbelguith commented on #14013
Hi @Gftec,

This Lifetime of back office cookies can be easily adjusted in the following folder:
`classes / controller / AdminController.php`
Look for the following code is to be found:
`if ($this->context->cookie->last_activity + 900 < time()) {`
Changing 900 to 3600 increases the log-in period from 15 to 60 minutes.
![image](https://user-images.githubusercontent.com/16067358/50767768-60c1be80-12

[2019-05-29 11:13] Gftec commented on #14013
Hi khouloudbelguith
Thanks for your reply and help.
I Have applied the change here, screenshot enclosed.
Do I need to make any other change?
![AdminController php   cPanel File Manager v3](https://user-images.githubusercontent.com/51158048/58552423-a7ef2280-8212-11e9-8c62-1c2d85056983.png)

I really hope this going to resolve the issue definitely.

Thank a lot,

Best regards,
Gftec

[2019-05-29 11:15] khouloudbelguith commented on #14013
@Gftec, no just increase the lifetime of cookies.
So, now, your issue is solved?

Thanks!

[2019-05-29 11:26] gescocis opened #14014 "ps_facetedsearch 3.0.2 hides products when it is active"
**Describe the bug**
Although I have reconstructed the entire index of prices and product attributes, if active it hides all the products from me.
I have tried all the possible configurations, with customer groups, discounts, products etc ... but every time I activate it it hides my products when I browse the product categories.
As soon as I deactivate it, products by category work.

There are the

[2019-05-29 11:29] khouloudbelguith commented on #14014
Hi @gescocis,

PrestaShop 1.7.5 is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/

In my case, it is OK.
Thanks to downgrade your version PHP, check & feedback.

[2019-05-29 11:37] gescocis commented on #14014
Hi,
thanks for quick reply.

I downgrade with this data:
Versione di PHP: 7.2.18
Limite di memoria: 256M
Tempo di esecuzione massimo: 300
Dimensione Max. dei file da caricare: 50M

I re activated the module, i clear the cache and i refresh the site.

the products are not yet displayed on the category pages

[2019-05-29 11:39] Matt75 commented on #14005
Great 🥳

We will have some feedback during [PSD Paris](http://build.prestashop.com/news/psd-2019-developer-space/) to define priority depends on top watchers.

For Payment Module, there are already https://github.com/PrestaShop/paymentexample who need some improvement to fit guideline defined here.

For Carrier Module, we have to explain how `FrontController::registerJavascript()` and first argume

[2019-05-29 11:50] khouloudbelguith commented on #14014
@gescocis, in the configuration page of the ps_facetedseach module, `Show products from subcategories` option is enabled or disabled?

![image](https://user-images.githubusercontent.com/16067358/58555002-55ad0200-8210-11e9-9b12-524abc28b2a6.png)

THanks!

[2019-05-29 11:59] AlexCrete commented on #13874
Thank you for your reply,
here it is:

-- phpMyAdmin SQL Dump
-- version 4.8.5
-- https://www.phpmyadmin.net/
--
-- Host: localhost
-- Generation Time: May 29, 2019 at 01:55 PM
-- Server version: 10.1.24-MariaDB-cll-lve
-- PHP Version: 5.6.38

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET AUTOCOMMIT = 0;
START TRANSACTION;
SET time_zone = "+00:00";

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER

[2019-05-29 12:15] Peterits commented on #13993
Ok, thanks for the info, but how do we do with 1.7.5.X ?? 😉

[2019-05-29 12:20] khouloudbelguith commented on #13993
@Peterits, we should ask our developer @PierreRambaud.
Thanks

[2019-05-29 12:32] khouloudbelguith commented on #13874
@AlexCrete, I think, your issue is similar to this https://github.com/PrestaShop/PrestaShop/issues/9919#issuecomment-490441708

Thanks to check & feedback

[2019-05-29 12:44] Hlavtox opened #14015 "Trash icon next to non-removable discounts in cart"
**Describe the bug**
Trash icon/link is shown next to a voucher that can't be deleted. Can be confusing for a customer.

**To Reproduce**
Steps to reproduce the behavior:
1. Create automatic percentage discount on all orders and all customers.
2. Add some product to cart.
3. See a voucher.
4. Try to delete it.
5. Cart refreshes, voucher (obviously) doesn't get deleted.

**Additionnal information**

[2019-05-29 12:46] Gftec commented on #14013
No, I'm still experiencing an issue when I start a new session.

[2019-05-29 12:51] khouloudbelguith commented on #14013
@Gftec, when you navigate to your BO like this URL: `http://your shop/admin-folder ` you have the same issue.
In your case, your BO link: https://www.vente-ordi.store/psadmin

after signing in => you are redirected to the token page?

Thanks!

[2019-05-29 12:56] AlexCrete commented on #13874
Yes, I think it is similar. Is there any solution?

[2019-05-29 12:59] Gftec commented on #14013
When my session expires and that I refresh the browser, I'm redirected to the token page.

[2019-05-29 13:00] khouloudbelguith commented on #14015
Hi @Hlavtox,

Yes, I have the same issue with PS1.7.5.2 & PS1.7.6.0beta.

- If we have a cart rule with a code, then customers can remove this cart rule from the FO
- If we have a cart rule with no code, then customers cannot remove this cart rule from the FO

I think it is normal behavior, because, a cart rule with no code is automatically applied to benefiting customers at checkout.

@marionf, w

[2019-05-29 13:02] Hlavtox commented on #14015
Hi @khouloudbelguith,

the behavior is correct. Just hide the delete link/trash icon if the voucher is non-deletable and it will be fine. :-)

[2019-05-29 13:03] khouloudbelguith commented on #13874
@AlexCrete, we are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9919, please follow #9919
So, I close it.
Thanks!

[2019-05-29 13:03] #13874 closed, assigned to nobody

[2019-05-29 13:03] khouloudbelguith commented on #13874
Duplicate of #9919

[2019-05-29 13:05] khouloudbelguith commented on #14015
@Hlavtox, yes, it could be a good idea.
@colinegin, @marionf what do you think?

Thanks!

[2019-05-29 13:07] khouloudbelguith commented on #14013
@Gftec, this is normal behavior, because your session is ended.
the lifetime of cookies is exceeded.

Thanks!

[2019-05-29 13:09] Gftec commented on #14013
Thank you .

[2019-05-29 13:10] matks commented on #13490
OK sorry for late answer.

# Initial issue

When custom action (= provided by module) fails, with current implementation,
- if module throws an Exception, we get a generic error message
- if module writes an error message in flashbag but does not throw the exception, then get the nice error message BUT we also get a success flash message from Controller which did not detect there was an issue (as

[2019-05-29 13:11] khouloudbelguith commented on #14013
@Gftec, you are welcome!
Can I close the issue?

Thanks!

[2019-05-29 13:20] #13993 closed, assigned to nobody

[2019-05-29 13:21] #13985 closed, assigned to nobody

[2019-05-29 13:28] matks commented on #13989
That's a one-shot fix, isn't it ? This list is a todo-list to be used for all pages, every time we start a new one 😉

[2019-05-29 13:38] sarjon commented on #13989
Ohhh right, for some reason I thought it was todo list for 1.7.6. :sweat_smile:

[2019-05-29 13:42] #13965 closed, assigned to nobody

[2019-05-29 13:43] Gftec commented on #14013
Yes, thank you.

[2019-05-29 13:43] #14013 closed, assigned to nobody

[2019-05-29 13:45] khouloudbelguith commented on #14013
@Gftec, feel free to open a new one when needed.
Thanks!

[2019-05-29 14:05] marionf commented on #13254
@mbadrani any news ?

[2019-05-29 14:10] matks commented on #13490
# Solution we have come up with

We will promote the following ways for modules to dispatch errors:

### 1) Full control of the error flow

- Add in flashbag the errors to be displayed (the module controls the displayed string so they can translate it if they want)
- Throw a ModuleException: this will prevent further execution of the controller and prevent the controller from adding a success erro

[2019-05-29 14:11] zozizozu opened #14016 "Fatal error, probably memory corruption"
**Describe the bug**
On the client side it's an error 500, the php log show "PHP Fatal error:  Uncaught PrestaShop\PrestaShop\Core\Foundation\IoC\Exception: This doesn't seem to be a class name: `PrestaShop\PrestaShop\Adapter\Prlduct\PriceCalculator`. in _rootdir__\src\Core\Foundation\IoC\Container.php:101"
As you can see, it search for a namespace call "Prlduct" , instead of "Product".

More over

[2019-05-29 14:14] khouloudbelguith commented on #14016
Hi @zozizozu,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-05-29 14:19] zozizozu commented on #14016
Yes, i did clear the cache, and as i said, "clearing cache solve the problem for a few time ( 24/48 h )"

[2019-05-29 14:20] mbadrani commented on #13254
Mentioned for the next roadmap, will be planned on it

[2019-05-29 14:29] GuyoST opened #14017 "Transporter picker before payment : the page auto reload as soon as a transporter is clicked"
**Describe the bug**
Add something to the cart and go to the payment page.
Pick a transporter in the list and click Next.
You are now on the Payment section
Now you want to change the transporter : click Delivery Option
As soon as you click a transporter, the page is refreshed automatically to the payment section, which is not good because the user has no time to set the transporter options if the

[2019-05-29 14:51] sarjon opened #14018 "Improve display of Grids"
I feel like UI could be improved a little on grids. There is a lot of free space that pushes grid down. Also there is white space in header and this adds up to a lot of unused space on page in my opinion.

![download (1)](https://user-images.githubusercontent.com/15143151/58567036-4773db80-823a-11e9-91c9-26748e5c3c12.png)

Maybe "Select all" could be moved on the same line as "Bulk actions" button

[2019-05-29 14:53] PierreRambaud commented on #13993
I create a fix for you @Peterits https://github.com/PrestaShop/ps_facetedsearch/pull/75

[2019-05-29 14:53] createcreative opened #14019 "Prestashop 1.6.1.22 Free gift finder is doesn't work during new rule create"
Hi!

I recently noticed that I can't add gift during new rule create because the free gift finder (in Action tab) doesn't work. I have the same issue in few shops. Is anyone can help me solve that problem?

[2019-05-29 14:58] sarjon commented on #13952
So, this issue should be solved by adding new "Name" field to currency form? Currently, there isn't one:

![download (2)](https://user-images.githubusercontent.com/15143151/58567314-d3860300-823a-11e9-9b26-7ddb0aa205e1.png)

[2019-05-29 15:28] gescocis commented on #14014
hi,
sorry for the delay in the response. Everything is activated as shown in the screenshots:
1) Template of filters >>>> http://prntscr.com/nuzjst
2) Options of Module >>> http://prntscr.com/nuzkaf

How can fix the error?

Thanks

[2019-05-29 15:36] PierreRambaud commented on #14003
Yes, it's not the same, but it was a bug.
The button "Show products from subcategories" is here to only display products which are in the "Main category" not the latest one.
Otherwise where it should be displayed if you have this:
![image](https://user-images.githubusercontent.com/1462701/58570390-2dd19480-8238-11e9-8d30-98d955a13485.png)

[2019-05-29 16:04] PierreRambaud commented on #13927
Hi and sorry for the delay,
I think it's fixed here: https://github.com/PrestaShop/ps_facetedsearch/pull/70

[2019-05-29 16:06] matks commented on #14000
Might have been done in https://github.com/PrestaShop/PrestaShop/pull/13886 🤔 you need to check with @zuk3975

[2019-05-29 16:10] marionf commented on #14003
Yes, as @PierreRambaud said, I think there was an issue before and it's the correct behavior now

[2019-05-29 16:11] gescocis commented on #14014
now the site is online accessible to customers and I have to deactivate the form.
I look forward to suggestions and if needed I can also give FTP login credentials to check the form.

Thank you

[2019-05-29 16:29] finlanderid opened #14020 "getRemoteAddr IF evaluation has potential to fail, when it should not fail"
The bug that I want to report is IF evaluation in the following code.  If you look at it, you will see that it has the possibility to fail the IF evaluation, when it should not fail.  The goal is to get the remote_addr (the true visitor IP) when a CDN proxy is making website request.

Problem summary: if remote_addr is not set, then the right-hand half of the IF will fail (requiring && operator tr

[2019-05-29 16:33] jozefpinter commented on #14006
Hello,

yes, it is time consuming. For example. Every email has a logo. If you want replace the logo you have to edit 30+ files for a single logo.

For example magento has a single header (and footer). It is enough to edit  a single file.

But for me localization is even bigger problem with this aproach.

BTW. I understand how to translate emails.

[2019-05-29 17:58] ghost commented on #13976
Same issue here.
When I try to continue from Guest Name and e-mail input, error 500 is returned.

Enabling Debug Mode swaps er 500 with this:
![image](https://user-images.githubusercontent.com/22904165/58579807-13a1b180-824c-11e9-8140-954cdf53f0ce.png)

[2019-05-29 19:41] matks commented on #13976
Can you tell us about the shop config : multiple currencies activated ? multiple countries enabled ? multiple languages enabled ?

[2019-05-29 19:41] nenes25 commented on #14006
Hi,

I've faced the same problem last week.
With a custom module and the existing hooks it is possible to manage easily header and footer
see : https://www.h-hennes.fr/blog/2019/05/23/prestashop-simplification-de-la-mise-en-page-des-emails/  (french )
Otherwise you can try to use the not very know native prestashop module https://github.com/PrestaShop/ps_emailgenerator

Regards,

[2019-05-29 19:48] ghost commented on #13976
Currencies - 1 (PLN)
Countries - All (None removed from default)
Languages - PL (default), EN

[2019-05-29 19:58] PeterStudioWeb commented on #13976
Yes,
1. Currencies - 11
2. Countries - All (244)
3. Languages - default (en, de)

[2019-05-29 21:11] jointsystems commented on #13970
See below warning of non-compatibility.  This is why we did not want to use 1.7 versions as their is no AuthorizeAim compatibility which is used for payment.  How do we roll this back, cannot get into modules and no link for 1-Click upgrade?
![warning line 30 in file](https://user-images.githubusercontent.com/41153050/58591542-89018800-8234-11e9-9c87-5c2cc9c16d79.PNG)

[2019-05-29 22:04] kielerrr commented on #15203
The Modsec problem

Disabling Modsec during the one click update fixed the issue for me.

I tried everything posted on the forums but still kept getting the error. Once modsec was turned off, my 1.7.3 -> 1.7.5 One Click Upgrade worked flawlessly.

This should be considered as a requirement in the preflight check to save a lot of headache.

The caching problem

I was also having trouble disabling c

[2019-05-30 04:13] OneDotIT commented on #13976
Hello,
This issue is represented when the option 'Ask for birth date' is disabled.

Also, you will not be able to register a new account, change the option 'Ask for birth date' to YES as a current workaround.

[2019-05-30 07:32] davidglezz commented on #13896
same as https://github.com/PrestaShop/PrestaShop/issues/13879 ?

[2019-05-30 07:32] Gftec commented on #14013
Thanks
Regards,

Gilbert Fautré
GF-TECHNOLOGIES.COM
33 LE BREUIL
17150 SAINT MARTIAL DE MIRAMBEAU
0546709466 / 0650684714
Vente de matériel informatique : https://www.vente-ordi.store/
Marketing numérique : https://www.gf-technologies.co/

Le mer. 29 mai 2019 à 15:45, khouloudbelguith <notifications@github.com> a
écrit :

[2019-05-30 07:49] gescocis commented on #14014
Hi,
I believe I have identified the problem that did not make me view the products with facetedsearch activated.

There were 2 products in the DB with assigned category 0 root which probably created conglitto with the module.

I deleted them, then followed your instructions and now everything works fine.

Thank you so much for the help

Amedeo di Gesco

[2019-05-30 08:04] Quetzacoalt91 opened #14022 "Migrate data from PS 1.6 modules when installing 1.7 ones (3rd batch)"
As discussed with the product team, upgrading to PS 1.7 requires to install new modules.

During this process, we should migrate the data from the previous module (the similar one built for 1.6) before uninstalling it. Then, the new module will install itself and retrieve the details from the previous module. (See as reference: https://github.com/PrestaShop/ps_customtext/pull/13)

These modules ha

[2019-05-30 08:12] khouloudbelguith commented on #14017
Hi @GuyoST,

This issue is fixed in the last version PS1.7.6.
PRs to fix the issue: #13440, https://github.com/PrestaShop/PrestaShop/pull/13106
Your ticket is a duplicate of #12456
So, I close it.
Thanks!

[2019-05-30 08:12] #14017 closed, assigned to nobody

[2019-05-30 08:12] khouloudbelguith commented on #14017
Duplicate of #12456

[2019-05-30 08:14] khouloudbelguith commented on #14017
@GuyoST, for your information, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks!

[2019-05-30 08:22] khouloudbelguith commented on #14018
ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-05-30 08:27] khouloudbelguith commented on #14019
Hi @createcreative,

I did not manage to reproduce the issue with PS1.7.6.0beta1
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only cr

[2019-05-30 08:27] #14019 closed, assigned to nobody

[2019-05-30 08:32] khouloudbelguith commented on #14020
Hi @finlanderid,

Thanks for your report.
Have you the same issue reported in this ticket: #13074?

Thanks!

[2019-05-30 08:34] khouloudbelguith commented on #13608
Hi @magnum93,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-30 08:34] #13608 closed, assigned to nobody

[2019-05-30 08:37] chrisvanberg commented on #14003
Hello, I have the same problem on my shop after upgrading to ps_factedsearch v3..

@marionf could you explain how it is the correct behavior now ? If a product is selected in a category (other than the main category). The product should be visible in the FO even if the setting of ps_factedsearch v3 is "Show subcategory" is off ?

Thanks for the explanation :)

[2019-05-30 08:42] khouloudbelguith commented on #14014
@gescocis, thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-05-30 08:42] #14014 closed, assigned to nobody

[2019-05-30 08:44] gescocis commented on #14014
Thank you very much for your time.
Amedeo

[2019-05-30 08:49] matks commented on #13544
Solution: allow both options to be used (so old name is an alias) although old name is deprecated

[2019-05-30 08:55] tjorgensborg commented on #14003
Hello @marionf and @PierreRambaud
I dont know how to explain it better but I will try.
When **show products from subcategories** is enabled/Yes every thing is working the way its intended  to do, so we dont to put more time on that function, its OK.

This is only when **show products from subcategories** is disabled/off and I will try to give you some examples of the bug.

1. When you have a catal

[2019-05-30 08:56] edspiner opened #14024 "getUriFromPath strips slashes when PS js"
**Describe the bug**
When the web server is chrooted to DOCUMENT ROOT of the web application the getUriFromPath function will strip all slashes from the path, so they look like:
`http://someshop.examplethemeassetsstyle.css`
The issue happens because of:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Chroot the server to web servers DOCUMENT_ROOT
2. Install PS
3. Visit frontend
4. Pat

[2019-05-30 08:56] edspiner opened #14025 "getUriFromPath strips slashes when PS is in servers root (chrooted to document root)"
**Describe the bug**
When the web server is chrooted to DOCUMENT ROOT of the web application the getUriFromPath function will strip all slashes from the path, so they look like:
`http://someshop.examplethemeassetsstyle.css`
The issue happens in https://github.com/PrestaShop/PrestaShop/blob/aec97ddb1551fd7d6d56f75549a992d6937caf50/src/Adapter/Assets/AssetUrlGeneratorTrait.php#L46 because of:
[code]

[2019-05-30 08:56] Hlavtox commented on #14018
I think Bulk Actions should be moved to the bottom. Because... what do you do? You select things you want to do things with, now you are on the bottom of the page, you will find bulk actions there.

Also, Select all could be done as a checkbox in the table header, next to ID.

[2019-05-30 09:03] Mokwa123 commented on #11031
Hi my client had install an SEO module on his prestashop website, and he had work on some products i.e doing the SEO, all the URL in the search result started to redirect to 404error page, please how can i correct this error.

Here is the URL https://www.lugoldstore.com

[2019-05-30 09:04] khouloudbelguith commented on #13976
Hi all,

Thanks for the clarifications.
I manage to reproduce the issue with PS1.7.6.0beta1
In the BO => Shop Parameters => Customer settings => Disable `Ask for birth` date option

In the FO, when you try to create a new account from the new account page, or the checkout page(a guest or a customer) => an exception is displayed
![image](https://user-images.githubusercontent.com/16067358/58621730-f

[2019-05-30 09:10] khouloudbelguith commented on #14024
Duplicate of #14025

[2019-05-30 09:10] #14024 closed, assigned to nobody

[2019-05-30 09:12] khouloudbelguith commented on #11031
Hi @Mokwa123,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-05-30 09:26] khouloudbelguith commented on #13970
@jointsystems, about the first warning, yes as you said, you have an AuthorizeAim compatibility issue.
You need to contact the module author about this issue.
About the second alert, as I said in my previous comment, it looks like a permission error or PHP misconfiguration on your server.

To rollback, in the 1-click upgrade configuration page, you have a section Rollback, you need to choose your

[2019-05-30 09:29] #13927 closed, assigned to nobody

[2019-05-30 09:35] khouloudbelguith commented on #14016
@zozizozu, thanks for your feedback.

After removal of cache try with those commands:

[code]

Thanks to check & feedback

[2019-05-30 09:35] Mokwa123 commented on #11031
Ok, thanks for your help

[2019-05-30 09:53] khouloudbelguith commented on #13993
@PierreRambaud, it works for me!
Good work!

[2019-05-30 10:07] sarjon commented on #13501
@mickaelandrieu what BC break are you talking about? :thinking: Can you explain it more?

I can see that `SearchAndResetType` code has changed, but I cannot see where the BC break was introduced. Is there something that was not working for you? Do you have code example that is not working?

[2019-05-30 11:05] khouloudbelguith commented on #14025
Hi @edspiner,

Thanks for your report.
I used this [link](https://www.howtoforge.com/tutorial/chrooting-apache-2.4-with-mod_unixd-on-debian-8-jessie/) to chroot apache.
When I tried to install Prestashop 1.7.6.0beta1 / 1.7.5.2, in the second steps: License agreements
I have error 500
https://drive.google.com/file/d/1dN0UUj_9GQ1kbLGtLefxjSPH9bYJZNG6/view
I enabled debug mode, I have this exception

[2019-05-30 11:07] tomas862 commented on #13490
I would choose number 1 which is **Full control of the error flow** but I thought about it and realized that some parts just won't work. So here's  in my opinion the only possible solution:

* Add in flashbag the errors to be displayed (the module controls the displayed string so they can translate it if they want)
* Throw a ModuleException: this will prevent further execution of the controller an

[2019-05-30 11:08] khouloudbelguith commented on #14006
ping @marionf, @colinegin what do you think about the improvement of the email template translation?

Thanks!

[2019-05-30 11:13] matteolavaggi commented on #11893
....

[2019-05-30 11:15] matteolavaggi commented on #11893
@jocel1

[2019-05-30 11:24] matteolavaggi commented on #11893
What is this?
`    /**
     * Get Products by Manufacturer
     * (light edition)
     *
     * @param int $idLang
     *
     * @return array|false|mysqli_result|null|PDOStatement|resource
     */
    public function getProductsLite($idLang)
    {
        $context = Context::getContext();
        $front = true;
        if (!in_array($context->controller->controller_type, array('front', 'modulefro

[2019-05-30 11:40] Mokwa123 commented on #12026
Hello,
i have same problem, and i followed same process but still not working

here is my theme **ttv_bigelectronics_213**

[2019-05-30 11:41] khouloudbelguith commented on #12026
Hi @Mokwa123,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-05-30 11:48] PierreRambaud commented on #13927
@IvoRabush FYI, we will release a new version next week!

[2019-05-30 13:10] finlanderid commented on #14020
Hi @khouloudbelguith,

no, this is a different issue than #13074.   This issue prevents true visitor IP from being captured from X_FORWARDED_FOR, when visitor comes through a CDN that uses an IP address that does not begin with 127 or 172 or 192 or 10.  If that happens, then the IF evaluation will fail, but it should not fail.  It should succeed so that X_FORWARDED_FOR will be used for the visitor

[2019-05-30 13:38] khouloudbelguith commented on #14020
@finlanderid, thanks for your feedback.
@PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-05-30 14:28] Quetzacoalt91 opened #14031 "Migrate data from PS 1.6 modules when installing 1.7 ones (4th batch)"
As discussed with the product team, upgrading to PS 1.7 requires to install new modules.

During this process, we should migrate the data from the previous module (the similar one built for 1.6) before uninstalling it. Then, the new module will install itself and retrieve the details from the previous module. (See as reference: https://github.com/PrestaShop/ps_customtext/pull/13)

These modules ar

[2019-05-30 14:33] matks commented on #13896
Yes indeed 👏

@MatShir 😉

[2019-05-30 17:35] zozizozu commented on #14016
Actually i first did a php console , then the rm -rf
Now server is running since 24h, i let you know the next time i get this error

[2019-05-30 19:48] banan44 opened #14032 "Multistre does not set the same quantities"
Hello. I have a multistore and I add and update products in All shops mode, like on the screen below:

![obraz](https://user-images.githubusercontent.com/48493952/58659405-276c1700-8323-11e9-817d-2889f8b6ab4f.png)

When I update description, title or price it updates in both shops with no problem. But when I change available quantities it updates only product in main shop. When I add new product a

[2019-05-30 21:23] jointsystems commented on #13970
As stated in the initial post "We can find no tab for 1-click update and as a result no roll back."  Where is the 1-click  upgrade it is not a tab in Advanced Parameters and we can't get into database as it just produces a page full of errors?  I changed the permissions to 755 from 644 for strict session handler php but it has not corrected any of the errors?

[2019-05-31 00:05] brunobenyyyyy opened #14034 "Lack of practice registering combinations in PrestaShop"
I have to show several pairs of shoes and different colors and different numbers. For example: A shoe of 5 colors and the size of 32 to 42, I would have to create about 50 assignments, that's a lot of work. I have to go for example, inside the registered menu of the product: shoe, black, size 32 and relate the images to it.
shoe, black, size 33 and relate the images to it.
shoe, black, size 34 and

[2019-05-31 02:04] OneDotIT commented on #13976
أهلاً أ.خلود,
I proposed the fix: https://github.com/PrestaShop/PrestaShop/pull/14035

[2019-05-31 02:10] OneDotIT commented on #13976
I proposed the fix: #14035

[2019-05-31 04:25] dheerajwebkul commented on #11573
@eternoendless thanks, very glad to see new translation system for the third-party module.
I just tested with this module

[translationbug.zip](https://github.com/PrestaShop/PrestaShop/files/3239710/translationbug.zip)

I can successfully translate with new translation system, but still the translated string not display in FO or BO. Is anything I am missing or it's still to be fixed.

Please check

[2019-05-31 08:15] khouloudbelguith commented on #13970
@jointsystems,

In the PS1.7, the 1-click upgrade should be displayed in the menu Tab.
You can navigate to your BO => Modules => Module Manager => seach for the 1-click upgrade module.
About the strict session handler PHP, you need to check with your host about this issue, it is a server issue.

Thanks!

[2019-05-31 08:16] khouloudbelguith commented on #14016
@zozizozu, thanks!
Waiting for your feedback.

[2019-05-31 08:17] khouloudbelguith commented on #13976
@OneDotIT, thanks for your fix!

[2019-05-31 08:22] khouloudbelguith commented on #13622
Hi @TomHsiung,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-31 08:22] #13622 closed, assigned to nobody

[2019-05-31 08:22] MatShir commented on #13896
My bad :sweat_smile:

[2019-05-31 08:22] #13896 closed, assigned to nobody

[2019-05-31 08:23] YeLnatSs commented on #13793
@marionf
Module CSS ('back.css') is not call yet in Html page. I already saw that point with @matks, he'll do it

[2019-05-31 08:32] matks commented on #14000
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14026

[2019-05-31 08:32] #14000 closed, assigned to sarjon

[2019-05-31 08:36] PierreRambaud commented on #14003
I'm not able to reproduce your behavior:
![image](https://user-images.githubusercontent.com/1462701/58692862-cc243e00-838f-11e9-80db-5e81608360a0.png)

No product with main category in Clothes:
![image](https://user-images.githubusercontent.com/1462701/58692882-db0af080-838f-11e9-876c-a4e8c76c123e.png)
But I've one for Men:
![image](https://user-images.githubusercontent.com/1462701/58692897-e3632b

[2019-05-31 08:52] khouloudbelguith commented on #14034
Hi @brunobenyyyyy,

Thanks for your report.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will b

[2019-05-31 08:55] decom-media opened #14036 "Redirect to Default Category when disabling product not working"
the newly added feature of prestashop 1.7.5.0 is not working in my installation

http://build.prestashop.com/news/prestashop-1-7-5-0-available/

"When a product is taken offline, by default visitors will be redirected to the product’s main category, instead of a “Not found” page."

I assume this should happen, just with disabling the product!?

PrestaShop version: 1.7.5.1

[2019-05-31 08:59] khouloudbelguith commented on #14032
Hi @banan44,

This is normal behavior.
In fact, in the Product page
Available quantity for sale provided that:

- The "Share quantity available for sale" option is checked for the group
- The group does not share its quantity available for sale outside of the group.

The Available quantity for sale can be customized for a single shop, for a group of shops but **not** for all shops at once

![image

[2019-05-31 08:59] #14032 closed, assigned to nobody

[2019-05-31 09:15] khouloudbelguith commented on #14036
Hi @tom75,

It is OK in my side, I checked it with PS1.7.5.2 & PS1.7.6.0beta1

In the BO => product page => SEO table, by default: Redirection when offline => Permanent redirection to a category (301)

![image](https://user-images.githubusercontent.com/16067358/58695270-e0b30700-838c-11e9-8b00-d059d7d83dff.png)

Thanks to check this option in your side & feedback..

[2019-05-31 09:21] decom-media commented on #14036
Well, yes, I was happy about this feature already since I did read the first time that it will be included in 1.7.5 – but, since I did update to that version and now already 1.7.5.1 it never happened to include that default redirect.

Manual redirections are working fine, I did use that already many times, but, the default redirect is not working

I am using a multishop, maybe this is the reason?

[2019-05-31 09:26] khouloudbelguith commented on #14036
@tom75, so when you create a new product => enable it => preview this product => disable it => in the FO, there no redirection to the main category?
Did you make an upgrade from PS1.7.4 to 1.7.5?
Thanks!

[2019-05-31 09:46] khouloudbelguith commented on #11573
Hi @dheerajwebkul,

Thanks for your feedback.
Yes, I have the same issue with PS1.7.6.0beta1 & the module provided.
In the BO => Translations page => all the expression are well displayed => new translations are successfully saved => but in the module configuration page BO => this translation is not displayed, also in the FO.
https://drive.google.com/file/d/1kgL0S8SxqRpOeCxgK_2zPud6l91V2bKE/view
P

[2019-05-31 09:51] decom-media commented on #14036
Not exactly, product disabling without adding manual redirect in the seo tab is just causing a “not found” instead of the proper redirect – BUT, it seems there is a difference for products which were created already before that update and newly created products (I was just disabling old sold out products till now, of course):

I did create now a new test product and it seems that there is the defa

[2019-05-31 09:55] tjorgensborg commented on #14003
Hello @PierreRambaud

If I understand correctly you are reproducing the error the error in this case is that is not showing the products in Clothes. In you example If I see right it should have shown Hummingbird sweater and printed T shirt. It should not ONLY taking the main category products like its doing now. It should show all products in Clothes. Only way to show all products in cloths (2 pro

[2019-05-31 10:12] khouloudbelguith commented on #13016
ping @PrestaShop/prestashop-core-developers what do you think of using the front & the back with the same folder on different domains as suggested by @PierreRambaud?

Thanks!

[2019-05-31 10:31] khouloudbelguith commented on #14036
Hi @tom75,

About old products, Redirection page is not set to permanent redirection to a category, this is normal behavior.
Because old products are just saved with the 404 "Not Found" page, so you need to change it manually.

About the second issue, it is a cache issue, it is, in fact, a cache navigator.
After enabling the product, try to open this product in a new incognito tab, there is no red

[2019-05-31 11:08] ravidroopes-ameex commented on #11721
This is working. Thank you so much...

[2019-05-31 11:21] 01park commented on #13939
We are experiencing the same issue. CPU is up like crazy. RAM first to, but I turned of all modules. To get the site running " normal " we temporary upgraded our server. I hope 1.7.6 stable will be released soon and solve this issue. Any ideas when this will be released?

[2019-05-31 11:25] decom-media commented on #14036
Hello,

Ok, understand the behavior now – could not find any information about it before anywhere about the exact behavior.

Also, the second topic, you are right, in another incognito tab it seems ok.

Thanks for the quick response.

Thomas

From: khouloudbelguith [mailto:notifications@github.com]
Sent: Freitag, 31. Mai 2019 12:32
To: PrestaShop/PrestaShop
Cc: tom75; Mention
Subject: Re: [PrestaS

[2019-05-31 11:26] sarjon opened #14037 "Transplant module error"
**Describe the bug**
Transplanting modules produces weird results.  Thanks to @zuk3975 for finding this issue.

**To Reproduce**

1. Go to 'IMPROVE > Design > Positions'
1. Click on 'Transplant' at the top right corner
1. In Modules input select `Banner` and save.
1. See fun stuff

![Screenshot from 2019-05-31 14-19-22](https://user-images.githubusercontent.com/15143151/58702772-63e55480-83af-11e9

[2019-05-31 11:27] khouloudbelguith commented on #13939
Hi @01park,

We are close to releasing 1.7.6.0.

Thanks!

[2019-05-31 11:28] khouloudbelguith commented on #14036
@tom75, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-05-31 11:28] #14036 closed, assigned to nobody

[2019-05-31 11:37] khouloudbelguith commented on #14037
Hi @sarjon,

I have the same issue with PS1.7.6.0beta1, 1.7.6.x branch & PS1.7.5.2
![image](https://user-images.githubusercontent.com/16067358/58703478-be2ae900-83a0-11e9-963e-c5f1b7834d2d.png)
I’ll add this to the debug roadmap.
Thanks!

[2019-05-31 11:41] zuk3975 commented on #14037
With the banner module maybe it is behaving as expected? because you can select a hook on which you want to show the banner and it shows it, but for sure there is something wrong with that :smile: ,  especially when :warning:  **I can't see any possibility to revert those module-hook changes using user interface** (except resetting the module)...
![Screenshot from 2019-05-31 15-24-21](https://user

[2019-05-31 11:53] Tomskor commented on #13939
@khouloudbelguith  I know its off topic, but when you relase 1.7.6.0. the facate search and sorting will be work in 100% without any bugs?

[2019-05-31 12:12] khouloudbelguith commented on #13939
@Tomskor, We are currently refactoring the module ps_facetedsearch, which is a really big refactoring with a lot of bug fix.
You can find the last releases here: https://github.com/PrestaShop/ps_facetedsearch/releases
About the PS1.7.6.0, you can find the beta release here: http://build.prestashop.com/news/prestashop-1-7-6-0-beta-release/

Thanks!

[2019-05-31 12:15] 01park commented on #13939
I tried to install the beta version with one click, but do not get the option to download it. Also tried to manually put it on my server, but also then not working.

I think its best to wait for the stable version

[2019-05-31 12:18] khouloudbelguith commented on #13939
@01park, you can follow this [link](https://download.prestashop.com/download/releases/prestashop_1.7.6.0-beta.1.zip?_ga=2.10790324.1462305992.1559293455-237915289.1551945757) to download it.

Thanks!

[2019-05-31 12:21] matks commented on #13268
Last changes needed:
- [x] https://github.com/PrestaShop/PrestaShop/issues/13744
- [x] https://github.com/PrestaShop/PrestaShop/issues/13745
- [x] https://github.com/PrestaShop/PrestaShop/issues/13746
- [x] https://github.com/PrestaShop/PrestaShop/issues/13747

[2019-05-31 12:29] matks commented on #14037
@marionf @colinegin we have discovered that although Module page has been migrated, the "Transplant a module" button is not migrated

So we're going to migrate it. Maybe we can use this opportunity to improve this button behavior with some restrictions to avoid the crazy stuff demonstrated by @zuk3975 up there ?

[2019-05-31 12:31] 01park commented on #13939
Do you btw know if the problems is fixed 1.7.6 with entering the values into the features for all languages. I opened a case on this and you reported it

[2019-05-31 12:34] khouloudbelguith commented on #13939
@01park, sorry this issue: https://github.com/PrestaShop/PrestaShop/issues/13751 is not fixed yet.
It is added to our bug roadmap.
Thanks for your understanding!

[2019-05-31 12:38] Matt75 opened #14039 "Ask confirmation before upgrade module"
**Is your feature request related to a problem? Please describe.**
Many thread on PrestaShop Forums about FacetedSearch upgrade troubleshooting.
Merchants do module upgrade on production without testing it on a test instance.

**Describe the solution you'd like:**
I would like to show a warning popup to inform merchant about potential risk of doing an upgrade on production without test.

One click

[2019-05-31 12:40] khouloudbelguith commented on #14039
ping @PierreRambaud @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-05-31 12:41] Matt75 commented on #14039
I think this is not related on FacetedSearch, this concern all modules upgrade.

[2019-05-31 12:53] 01park commented on #13939
Thanks for that update.
I also reported an other issue regarding generating sitemaps with Gsitemap with multistore on.  Once a cron job is set up for each store only shop 1 gets update. when the cron task for shop 2 is execute, shop 1 gets updated. Any idea?

[2019-05-31 12:57] khouloudbelguith commented on #13939
@01park, what the exact ticket of this issue?
Thanks!

[2019-05-31 12:59] 01park commented on #13939
Hi,
https://github.com/PrestaShop/gsitemap/issues/113

[2019-05-31 13:00] khouloudbelguith commented on #13939
@01park, I will check it.
Thanks!

[2019-05-31 13:31] kazeno opened #14041 "Combination::deleteAssociations deletes all cart products without attributes if id not set"
From time to time the contents of most of the shopping carts in our store would be cleared without any apparent reason, affecting sales for a few days everytime it happened (probably from disgruntled customers abandoning the site), and breaking the functionality of some modules that didn't expect an order's cart to be empty.

After putting loggers around any function that might edit a cart's conte

[2019-05-31 13:35] khouloudbelguith commented on #14041
Hi @kazeno,

Thanks for your report.
Have you tried to contact the module author about this issue?

Thanks!

[2019-05-31 13:35] ElderTugBoat786 opened #14042 "Impossible add custom form field"
**Describe the bug**
I have attemp to add a custom field in PS sign-up form but when i submit form i get this error:

(1/1) UndefinedMethodExceptionAttempted to call an undefined method named "isCustomerName" of class "Validate".
--
in AbstractForm.php line 142

**To Reproduce**

1. Add to ps_customer this field:
[code]

2. Add field in CustomerFormatter.php file
[code]
3. add two variable at file

[2019-05-31 13:41] matks commented on #14042
Hi, the function `Validate::isCustomeName()` has been introduced in PS 1.7.5.2 in order to mitigate spam attacks. You can see it here : https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Validate.php#L166

So if you use PS 1.7.5.1 this error is logical. You must update to 1.7.5.2 to be able to use it

[2019-05-31 13:42] khouloudbelguith commented on #14042
Hi @ElderTugBoat786,

You can use the `additionalCustomerFormFields` hook, you can add a new field to customer registration form from the Front office.
Here's a demo module
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/3241446/mymodule.zip)
You can use Overriding to “override” class files and controller files. PrestaShop’s ingenious class auto-loading function makes the “switch” to

[2019-05-31 13:47] kazeno commented on #14041
I haven't contacted them because it's a very difficult issue to debug, we have about 700000 visits per month and it only happens once every 2 or 3 months, and from our logs I can see that the module creates and deletes a lot of combinations all the time, so there must be a condition somewhere that occasionally will instantiate a Combination without id.

Besides, it's a very easy mistake to make by

[2019-05-31 13:50] khouloudbelguith commented on #14041
@kazeno, thanks for these clarifications.
Could you please provide me the AdvancedPack5 module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-05-31 13:58] #14042 closed, assigned to nobody

[2019-05-31 14:09] matks commented on #12585
Good news: we were wrong, it works ! 🎉 See https://github.com/PrestaShop/docs/pull/274

[2019-05-31 14:10] matks commented on #12585
Form theme has been updated, form_rest will hooking capabilities will be implemented in 1.7.7 following https://github.com/PrestaShop/PrestaShop/issues/12585#issuecomment-491285862

[2019-05-31 14:16] ElderTugBoat786 commented on #14042
Thanks for the module, It's possible set up the field position in the form?

[2019-05-31 14:17] matks commented on #13490
**Unless** its not a problem in the exception listener **clear all the flashbag success messages** ( need to test that as well)

This is what I thought 🤔actually I did not want us to choose between 1) and 2) : I wanted to say that both solutions will be available to module developers.

My idea is just what you said: in Exception listener, when a ModuleException is thrown, check the flashbag. If em

[2019-05-31 14:18] ElderTugBoat786 commented on #14042
Thanks for the explanation!

[2019-05-31 14:19] khouloudbelguith commented on #14042
@ElderTugBoat786, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13119 to allow hookAdditionalCustomerFormFields and AddressFormFields to modify fields positions.
It is added in the next major release PS1.7.7.

Thanks!

[2019-05-31 14:30] matks commented on #13952
@colinegin @marionf We need feedback here

Nice catch from Sarunas: BO user cannot change a currency name. Is it expected ? For custom created currencies it would make sense, isn't it ?

[2019-05-31 14:37] kazeno commented on #14041
I tried sending it to you but gmail blocked it as it contains "evil javascript". Then again it would be really difficult to replicate with that module anyway for the reasons I've outlined above. I've made a pull request with the Prestashop Core fix so the dev team can evaluate it, should be easy enough to merge.

[2019-05-31 14:41] khouloudbelguith commented on #14041
@kazeno, thanks for these clarifications & for the fix.

[2019-05-31 16:31] ghost commented on #13732
PR has been created in the module repo : [#11](https://github.com/PrestaShop/ps_searchbar/pull/11)

[2019-05-31 17:02] ghost commented on #13754
Hello @union-des-vignerons,

Thanks for opening an issue 👍

Can you give us more information please? Right now we don't know where to look for.

We use English on Github to make easier to everyone to follow issues. You can tell us what is the problem in French if you prefer, I'll translate it later.

[2019-05-31 17:48] Maofree opened #14044 "Solved - Wrong H1 tag in active-filters.tpl of the ps_facetedsearch module"
Hi
it is necessary to replace the the H1 in active-filters.tpl of the ps_facetedsearch module
with a "div" or "p" tag to obtain

`<div class="h6 {if $activeFilters|count}active-filter-title{else}hidden-xs-up{/if}">{l s='Active filters' d='Shop.Theme.Global'}</div>`

it is wrong to use a H1 tag for "Active filters"

can you fix this bug with the next 3.0.3 version ?

thanks

**Screenshots**
![1](ht

[2019-05-31 19:46] ambrooo commented on #13111
I have exact same issue. Do you have a fix for it

[2019-05-31 21:00] msaustral opened #14045 "Bug with PrestaShop/blockspecials"
**Describe the bug**
Hi, on PS 7.5.1 when you have the special promotion module activated, this one is showing item's promotions that ar past of date (disabled) on the frontend.

To avoid been shown, we had to erase the discount on the catalog -> discount -> catalog price rules tab.

[2019-06-01 10:01] PierreRambaud commented on #14044
Since it's in a section, we can have multiple h1.
And for your information, this came from a very very old PR: https://github.com/PrestaShop/PrestaShop/pull/4895

[2019-06-01 10:15] Maofree commented on #14044
hi
yes you said me the same thing in the past for another thing
but tell me which kind of important information is "Active filters" ?
what is the sense to use a H1 for this type of information?
the title tags should be used for important informations like product name or about product featurs or manufacturers ... but not for "new product" or "special prices" or texts like this
What is the point in

[2019-06-01 12:36] PierreRambaud commented on #13501
@sarjon he's talking about https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Form/Admin/Type/SearchAndResetType.php#L49 which is now a mandatory construct parameter.

[2019-06-01 14:48] frenchqwerty opened #14046 "Error 404 account page"
Hi,

I have an issue with account page. When I'm trying to access to the page, I'm getting an error 404...

URL Friendly is enable, debug mode too. I have this log : `Notice: Undefined index: controller in Dispatcher.php on line 1049`

How can I fix it ?

Thanks

[2019-06-01 15:35] sarjon commented on #13501
Ohhh, then I don't think it's a big deal. It is very very uncommon to create instances of form types as they are configured using Fully Qualified names (for example `$this->createForm(SearchAndResetType::class)`.

@matks wdyt?

[2019-06-01 21:06] alessiolovecchio commented on #13685
It seems this causing the impossibility for a product with combinations to be indexed by Google.

The URL contains the ID of the product and the ID of the default combination. Something like this: _/453-567-product-name.html_

But it has the rel canonical to _/453-product-name.htm_l that has only the ID of the product (not the combination one).

The serious problem is that _/453-product-name.html_

[2019-06-01 21:15] matks commented on #13746
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14030

[2019-06-01 21:15] #13746 closed, assigned to nobody

[2019-06-01 22:54] mickaelandrieu commented on #13501
it's not only that @sarjon (but you're right @PierreRambaud), I think you should try your training module on 1.7.6 ;)

[2019-06-02 08:37] Evgaid opened #14047 "Preference products"
Multistore issue, Any change of preference products in shop, change advanced_stock_management and depends_on_stock to 0

Prestashop 1.6.1.23
Php 5.6

[2019-06-02 13:28] Fixmetal opened #16995 "504 Gateway Timeout upon sitemap generation"
Hello,
I've got an odd problem which I can't debug really. I've got PS 1.7.5.2 with single store on Ionos shared hosting, PHP 7.2, MySQL 5.5, Apache 2.4.
The gsitemap module keeps getting timeouts while trying to create a sitemap regardless of id_shop=1 (Italian language) or id_shop=2 (English language).
I've put 900seconds as max_execution_time=900 in my php.ini but that doesn't really help.
I ke

[2019-06-02 16:09] demeldoo opened #14048 "paypal bug"
hello,

i belive there is a bug in latest paypal addon, it has an empty cart when used on product pages... and reports empty cart... tested on prestashop 1.6

[2019-06-02 16:14] TheElixZammuto commented on #9557
Having the same problem (with a custom module) on PS1.7.6.1
Removing `js-search-link` class from template file `_partials/pagination.tpl` removes the issue

[2019-06-02 19:10] nexispl commented on #13872
Got the same problem. Inlined custom CSS and instead of its content, I see this:

_<style>
/* ---- mycss @ /prestashop/themes/classic/assets/css/somecss.css ---- */
</style>_

Prestashop version: 1.7.6.0 beta

[2019-06-03 07:21] Matt75 commented on #11277
I have a modified version of this module for friends using 1.7, it's currently a minimal upgrade.

With [migration of Customer View page](https://github.com/PrestaShop/PrestaShop/issues/11010) in 1.7.6, I have to do a refactoring to make it work.

So I would like to use modern controllers and CQRS pattern like docs and demo module to achieve that.

I look to this issue and I'm worry about function

[2019-06-03 07:47] loran-a opened #14050 "Order confirmation email not sent to customers"
Hello

I have a problem that  Order confirmation email not sent to clients after update to 1.7.5.2, i think so because before updating it works fine

I use paypal module and pay on pickup module.

Paypal sent the order invoice when a costumer make an order, but when the costumer choose pay on pickup, no mail confirmation receive.

Test email received just when i type email@mydomain.com, when I wri

[2019-06-03 07:50] Multipage commented on #14003
And should work in version 3.0.X. Somebody fixed something that wasn't broken. Undo this fix plz!

[2019-06-03 07:57] chrisvanberg commented on #14003
Hello, I understand that the 3.0.X may work as intended, but since 2.2.1 worked in a certain way, the update broke two of my shops (Some plugins also need that the option "show products from subcategories" is disabled)

For example, after the update, one of my main categories went from "1260 products" to only four products. If I activate "show products from subcategories", they went back, but the

[2019-06-03 08:03] Tomskor commented on #14044
@maofree exactly, we change that manually, this should be h4 or h5, h6

[2019-06-03 08:12] khouloudbelguith commented on #14046
Hi @frenchqwerty,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/ho

[2019-06-03 08:14] khouloudbelguith commented on #14048
Hi @demeldoo,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-06-03 08:14] #14048 closed, assigned to nobody

[2019-06-03 08:16] khouloudbelguith commented on #14047
Hi @Evgaid,

Could you please add steps to reproduce the issue in a new comment.

Thanks!

[2019-06-03 08:27] Evgaid commented on #14047
Hello,
Any changes in Preferences-Products, for examples number of products  in particular shop change change advanced_stock_management and depends_on_stock to 0 if I change preference of products in All shop it is work normally.

[2019-06-03 08:28] khouloudbelguith commented on #13872
Hi @nexispl,

This issue is added to our bug roadmap, it is not fixed yet.

Thanks!

[2019-06-03 08:29] khouloudbelguith commented on #9557
@TheElixZammuto, could you please provide me the module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-06-03 08:30] khouloudbelguith commented on #14045
Hi @msautral,

I did not manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2 & the ps_specials module v1.0.1.
I attached a video record
https://drive.google.com/file/d/1fJSP5WOcMgcywoKPz46Uy1QKqV8VCfFP/view
Thanks to check & feedback.

[2019-06-03 08:32] Maofree commented on #14044
hi
why should it be a title? it is not a title, so it is possible to use "p", "div" or a "span" tag
for me it should give less importance to this type of sentences, they have no content or even keywords, so it is not necessary for search engines to consider them important

[2019-06-03 08:36] matks commented on #13490
Mmmm 🤔now I have doubt as I see that [Core/Form/FormHandler](https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Form/FormHandler.php) has an hookable `$errors` argument:
[code]

while our [Core/Form/IdentifiableObject/Handler/FormHandler](https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Form/IdentifiableObject/Handler/FormHandler.php) has not.

So the same question that h

[2019-06-03 08:39] khouloudbelguith commented on #13111
Hi @ambrooo,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2019-06-03 08:43] ambrooo commented on #13111
The issue was solved to me by https://github.com/PrestaShop/PrestaShop/issues/10998#issuecomment-476361695

[2019-06-03 08:46] khouloudbelguith commented on #14050
Hi @loran-a,

Thanks for your report.

what is the exact status did you use in this case? The option "Send an email to the customer when his/her order status has changed." is checked in this status?
![image](https://user-images.githubusercontent.com/16067358/58788486-e5252d00-85e3-11e9-999a-8f6c6dfa838e.png)

Have you tried to contact your host about this issue?
if only emails from your domain is

[2019-06-03 08:55] khouloudbelguith commented on #14047
@Evgaid, I did not manage to reproduce the issue with PS1.7.6.0beta1.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs

[2019-06-03 08:55] #14047 closed, assigned to nobody

[2019-06-03 09:00] #13990 closed, assigned to nobody

[2019-06-03 09:10] Evgaid commented on #14047
It is critical bug for Multistore.  I have 5000 products in 5 store, after change number of products or Cataloge Mode all of them 0 in particular shop.
I need to make program to change advanced_stock_management and depends_on_stock to 1.
Thank you for understanding and patience

[2019-06-03 09:30] khouloudbelguith commented on #14047
@Evgaid, in my case it is OK with PS1.6.1.24.
I attached a video record
https://drive.google.com/file/d/1gKnRk8w0TSOnaCGdN73In7_-uRMRSjy3/view
Thanks!

[2019-06-03 09:33] matks commented on #13944
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14008

[2019-06-03 09:33] #13944 closed, assigned to tomas862

[2019-06-03 09:34] loran-a commented on #14050
Hello khouloudbelguith,
Where can I find the sitteing you have showed in the picture?

I dont thinks so the problem is form my server, because before the update to 1.75.2, it worked fine.

So maybe the problem is from paypal module? or what?

[2019-06-03 09:35] khouloudbelguith commented on #13685
Hi @alessiolovecchio,

This issue is fixed in the PS1.7.6.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13009 to fix the problem.

Thanks!

[2019-06-03 09:39] khouloudbelguith commented on #14050
@loran-a, you have two issues:
1. the first issue: when the customer choose pay on pickup, no mail confirmation receive.

What is the exact name of the module did you use?
what is the exact status used in this case?

2. the second issue: Test email received just when I type email@mydomain.com, when I write another email for example hotmail or gmail, no email receive.

This issue it could be relate

[2019-06-03 09:46] matks commented on #10674
@sarjon I think this can be closed, the way we deal with Domain Exceptions in migrated controllers is satisfying for me. Wdyt ?

[2019-06-03 09:47] matks commented on #10602
So we are near 1.7.6 end 🎉 let's see what has been done about these issues:

#### Use Symfony validator service for entity form validation

Done (see sarjon comment below)

#### Hooks system improvement for performances

Not done

#### Unit testing and integration testing: provide doc & examples

The topic of tests has been improved a lot (we have Behat now running, puppeeter should be introduced

[2019-06-03 09:50] Evgaid commented on #14047
I will make video about 14-30 European time, i need to go to my localhost, I do not want to repeat on active shop one more time. It killed a lot of my time previous time.

[2019-06-03 09:50] matks commented on #10602
As for

#### Put hooks on Form entity pages

Done  💯

#### Figure out a solution for AdminLegacyLayoutController

Answered above

#### Improve the form theme as for now

We have made great improvements on this topic but it is not 100% done.

[2019-06-03 09:52] khouloudbelguith commented on #14047
@Evgaid, Thanks!

Waiting for your video record.

[2019-06-03 09:53] loran-a commented on #14050
- What is the exact name of the module did you use?
Pickup in store
v1.0.0 - efter PrestaShark.eu

- What is the exact status used in this case?
Processing in progress

For the second issue i will try contact them

Thanks

[2019-06-03 09:55] sarjon commented on #10602
We did it, now we use `constraints` in identifiable object forms, we didn't use it before (e.g. option forms). I think we can count this as done. :heavy_check_mark:

[2019-06-03 09:58] sarjon commented on #10674
Well, kind of. I still get questions like "Can I use Domain exception when saving PDF in filesystem?". I think we still need to show the different between domain and application exceptions, wdyt?

[2019-06-03 10:02] khouloudbelguith commented on #16995
Hi @Fixmetal,

I did not manage to reproduce the issue with PS1.7.5.2 & the gsitemap v4.1.0.
I attached a video record.
https://drive.google.com/file/d/1gBIHvoabQ7RcqFGalQif2YUA-kYtpqxX/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-06-03 10:10] loran-a commented on #14050
Problem solved thanks alot after i choose send email for the order status

[2019-06-03 10:11] khouloudbelguith commented on #14050
@loran-a, thanks for your feedback.
Can I close the issue?

Thanks!

[2019-06-03 10:11] ghost opened #14052 "Highlight element in dropdown menus of the product page when using keyboard"
**Is your feature request related to a problem? Please describe.**
Several menus in the product page have dropdown items or autosuggestions - when selecting items with a mouse, the items are highlighted on hover. But when using the keyboard to select items, there are no highlights.

**Example**
When creating a combination in product page > Combination tab,
In the attributes field, as you type auto

[2019-06-03 11:55] khouloudbelguith commented on #13080
Related to: #9594

[2019-06-03 12:16] Klemart3D commented on #12584
@johstrom Do you have autoupgrade ("1-Click Upgrade") module installed?
I had same error. I reinitialized the module and now it works :)

[2019-06-03 12:53] colinegin opened #14054 "URL in SEO preview is not correct when the product is not active"
Hello,

We have discovered that the URL is not exact in the SEO preview when the product is not active (newly created or disabled product).
The URL in FO is :
![image](https://user-images.githubusercontent.com/35263827/60812031-e1f80080-a190-11e9-8c6c-1ecf725b2760.png)

But in the SEO preview, it is different, see below for more details :

![image](https://user-images.githubusercontent.com/3526382

[2019-06-03 13:46] #13928 closed, assigned to nobody

[2019-06-03 13:48] mbadrani commented on #10468
As we will push PRs to migrate our Selenium tests into Puppeteer, this issue is no more relevant.

[2019-06-03 13:48] #10468 closed, assigned to mbadrani

[2019-06-03 13:48] khouloudbelguith commented on #14044
ping @PierreRambaud what do you think?

Thanks!

[2019-06-03 13:55] Evgaid commented on #14047
Sorry, it takes a bit time. Never did video before. https://drive.google.com/open?id=1_ONphbzRwGjPQ-bxsbVLxAM5zra7Yn81

[2019-06-03 13:58] 01park opened #14056 "SEO information metatags title no updated in multistore for ALL shops"
I have multishop activated and recently noticed that when I do an update on a product from my mainstore ( ALL SHOPS ). The meta title and meta description of the mainstore is updated, but not for SHOP 2, 3 etc

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: 1.7.5.2
PHP version: 7.2

[2019-06-03 14:03] khouloudbelguith commented on #14047
@Evgaid, thanks for your feedback.
Sorry, but I did not manage to reproduce the issue with PS1.6.1.24.
https://drive.google.com/file/d/1ZnjcPYciHALwqrQpRhj2cjntqWxhVR5S/view
It is OK.
Thanks!

[2019-06-03 14:07] #13806 closed, assigned to nobody

[2019-06-03 14:07] #13848 closed, assigned to nobody

[2019-06-03 14:08] elviraprint opened #14057 "Undefined index: dsn_config"
**Describe the bug**
A clear and concise description of what the bug is.
i m on my home page so everything looks fine i can open pages, but as soon as i want to go on a product page to make an order or one page of the menu, i got this message from the mode debug. i didnt touch anything so i dont understand where the error come from.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.the

[2019-06-03 14:08] ghost opened #14058 "Avatar size in employee page is too big"
**Describe the bug**
In 1.7.6 the avatar in the Employee profile page is too big.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced parameters > Team > Employee > Edit Employee

**Screenshots**
![Capture d’écran 2019-06-03 à 15 14 37 (2)](https://user-images.githubusercontent.com/47456895/58807787-0a805e00-8619-11e9-9ce4-413ad5adcbae.png)

**Solution**
The size of the avatar s

[2019-06-03 14:10] Evgaid commented on #14047
Share available quantities to sell  - Yes or No in your Multistore settings?

[2019-06-03 14:10] Evgaid commented on #14047
Shop group settings

[2019-06-03 14:13] khouloudbelguith commented on #14056
Hi @01park,

I did not manage to reproduce the issue with PS1.7.5.2.
I attached a video record
https://drive.google.com/file/d/1Ih1LbFOIAgFde9dRHutXIItVZosswqor/view
Thanks to check & feedback

[2019-06-03 14:14] PierreRambaud commented on #14044
I have no idea, it's here since a very long time.
And with a good properties names, actives filters is important for its own section.
But I'm not an seo export and I think instead of Google, no one know what's really good for seo ^^.

Let's check with @colinegin, @marionf and others people from Product team to define what needs to be done.
And we'll be able to change it for the Core and the module

[2019-06-03 14:15] khouloudbelguith commented on #14057
Hi @elviraprint,

You have an issue with your module `productdesigner`
![image](https://user-images.githubusercontent.com/16067358/58808671-61366980-8612-11e9-9d22-e7505cbe6d88.png)
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-06-03 14:15] #14057 closed, assigned to nobody

[2019-06-03 14:17] khouloudbelguith commented on #14047
@Evgaid, it is NO.
Thanks!

[2019-06-03 14:24] marionf commented on #14034
Duplicate of #12773

[2019-06-03 14:24] #14034 closed, assigned to nobody

[2019-06-03 14:25] marionf commented on #12773
We have a duplicate for combinations here: https://github.com/PrestaShop/PrestaShop/issues/14034

[2019-06-03 14:29] marionf commented on #13946
@khouloudbelguith
Duplicate of #9974

[2019-06-03 14:29] #13946 closed, assigned to nobody

[2019-06-03 14:29] matks commented on #13544
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14027

[2019-06-03 14:29] #13544 closed, assigned to matks

[2019-06-03 14:31] marionf commented on #11631
@4itsoft because your issue is for customizable product, please follow #9974

[2019-06-03 14:35] matks commented on #13501
I'm afraid @mickaelandrieu is right, we cannot modify such as useful and reusable class with BC

[2019-06-03 14:43] idnovate opened #14059 "Products not displayed in "All shops" context"
**Describe the bug**
All products created are not displayed when "All shops" context is selected

**To Reproduce**
Steps to reproduce the behavior:
1. Create a multistore
2. Select a store **other** than store with ID 1
3. Create a product
4. Return to product page
5. Select "All shops" context
6. Previous product is not displayed

**Additionnal information**
PrestaShop version: 1.7.5.2

[2019-06-03 14:45] Evgaid commented on #14047
Thank you. I will compare clean installation of Prestashop 1.6.1.24 with my Db. Something wrong.

[2019-06-03 14:51] sarjon commented on #13501
Regarding `SearchAndResetType`, seems to be working. Am I missing something? :thinking:

You mean add constructor parameter to form type?

[2019-06-03 15:00] elviraprint commented on #14057
ok i just sent a mail to prestashop addons thank you,

can you have a look on this issue ?

is that the same issue ? this one come when i click on the menu

<img width="1258" alt="Capture d’écran 2019-06-03 à 16 59 59" src="https://user-images.githubusercontent.com/51324358/58811949-14a65a80-8621-11e9-87a0-46a45bca835c.png">

[2019-06-03 15:06] msaustral commented on #14045
Hi @khouloudbelguith, nice to meet you.
We made a discount by making a price rule by catalog with a filter by category and brand, with a starting and end date.

the module show the special offer but when the end date comes the module still show the products as in offer. thank you

[2019-06-03 15:19] marionf commented on #13374
We have 2 cases to handle:

1) Enter 5 in quantity field, change product quantity in BO for 3, return on the product page and click on add to cart. In this case, we can:
- Add 3 products to the cart and display a message like "Only 3 products have been added to the cart because there isn't enough quantity in stock"
- Add 0 products to the cart and display a message like "The product is no longer a

[2019-06-03 15:37] marionf commented on #10058
Duplicate of #11660

[2019-06-03 15:37] #10058 closed, assigned to nobody

[2019-06-03 15:43] marionf commented on #13952
@matks Yes, it's part 2 of CLDR: https://github.com/PrestaShop/PrestaShop/issues/11660

For 1.7.6 we can keep the same behavior as 1.7.5: update the currency name if the iso code is changed

[2019-06-03 16:04] #13807 closed, assigned to nobody

[2019-06-03 16:07] matteolavaggi opened #14061 "PS 1.7.4 nginx https terminator + apache module pages problem (FASTCGI)"
**Describe the bug**

Unable to open module page.
105194h53m11│000|Jun  3 18:04:10 vw03 apache: [proxy_fcgi:error] [client 127.0.0.1:53418] store2.sixrace.it AH01071: Got error 'Access to the script 'redirect:/index.php/manage' has been denied (see security.limit_e│

**To Reproduce**

We try a setup with nginx act as only https terminator (all request pass to apache), but we cant access module pag

[2019-06-03 19:54] YourStylesas opened #14062 "My products don't show in subcategory."
On my website www.shopyourstyle.it the products show only in the main category, and the subcategories seem empty but they aren't' in the backend. Can someone help me?

[2019-06-03 22:05] ghost opened #14063 "PS 1.7.5.2 carrier ID increase after each save..."
Go to Carriers and edit My Carrier with ID = 2. After save My Carrier will have ID = 3, next edit and save ID = 4 etc...

Then go to first Carrier with ID =1 and save. He will get ID = 5...

Thats huge regression

-------------

Also weird problem with assigment payment method with shipping options... After making changes Payment options totally disapear on front office. Payment/s module reset hel

[2019-06-03 22:08] Flower7C3 commented on #13708
Hi.
I find out, that JS event `updateCart` has no value in `reason` when cart value was changed with input value. So action cart refresh was not send.
<img width="395" alt="image" src="https://user-images.githubusercontent.com/3767861/58837477-00cc1a00-865c-11e9-96aa-73b000c0520b.png">

In addition there is no JS event like `beforeUpdateCart` which will show spinner and/or disable change buttons a

[2019-06-03 22:08] #13708 closed, assigned to nobody

[2019-06-03 23:20] rsysadmin-com commented on #13958
Hi all! any updates on this? I was about to use the 1-click-upgrade, version 4.8.0, to bump one PS site of a customer from 1.6.1.20 to 1.7.5.2. Currently running on PHP 5.6 but I can change the version up to 7.3 if recommended,

Thanks in advance!

[2019-06-04 07:20] RomsC commented on #13986
It's for my own Prestashop so I can wait the migration.
Thanks for your reply.

[2019-06-04 07:28] khouloudbelguith commented on #14047
@Evgaid, thanks!

[2019-06-04 07:34] khouloudbelguith commented on #14062
Hi @YourStylesas,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log
 - did you the module ps_facetedsearch? what is the exact version?

Don't you know how to get this information?

[2019-06-04 07:38] itisco opened #14064 "VAT not applied if customer group is set up as No VAT (HT)"
Hi,
Sorry for my english as it is not my mother tonge.

I have an issue : I have a prestashop 1.7.2.4 and 1.7.5.2. I set up a customer group as "professional" that does not display the prices with VAT (HT in french). When a customer from this group places an order, then the VAT is not applied at all, even at the end of the proccess where the total price should be Product price + shipping + VAT.
As

[2019-06-04 07:38] khouloudbelguith commented on #14063
Hi @PrestaShark,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9592
So, I close it.
Thanks!

[2019-06-04 07:38] #14063 closed, assigned to nobody

[2019-06-04 07:38] khouloudbelguith commented on #14063
Duplicate of #9592

[2019-06-04 08:11] khouloudbelguith commented on #14064
Hi @itisco,

Thanks for your report.
With the new release PS1.7.6.0, this display is fixed.
We have added a new line Total tax included because the total amount must always be the subtotal tax excl + tax
In PS1.7.6.0beta1, we have a customer group with price tax excluded (HT)
In the FO => Cart details page, checkout page & order confirmation page, we have Total (HT) & Total TTC
![image](https://us

[2019-06-04 08:11] #14064 closed, assigned to nobody

[2019-06-04 08:12] khouloudbelguith commented on #14064
Duplicate of #11360

[2019-06-04 08:15] khouloudbelguith commented on #13986
Hi @RomsC,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-06-04 08:15] #13986 closed, assigned to nobody

[2019-06-04 08:15] itisco commented on #14064
Great!
Thanks a lot

Cordialement,
[image: Animation Itis]

Jean-Philippe BEAUVE
Chef de projet
65, rue du Bourbonnais 69009 LYON
09 72 11 89 24 | 08 05 69 20 06
www.itis-commerce.com
Téléchargez ma VCard !

Le mar. 4 juin 2019 à 10:12, khouloudbelguith <notifications@github.com> a
écrit :

--
*PETIT DEJITAL #16*
*RÉUSSIR VOS CAMPAGNES D'E-MAILING & BOOSTER VOTRE 
ACTIVITÉ*

<https://www.itis-comm

[2019-06-04 08:18] khouloudbelguith commented on #13958
Hi @rsysadmin-com,

I'm waiting for the author on this issue.
No, you don't need to upgrade to PHP7.3, PrestaShop 1.7.5 is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-p

[2019-06-04 08:19] khouloudbelguith commented on #14064
@itisco, you are welcome!

[2019-06-04 08:22] khouloudbelguith commented on #13708
@Flower7C3, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-06-04 08:28] centoasa opened #14066 "Price start from..."
Prestashop 1.7.5.2 on debian with php 7.2.19
I think maybe a great features to have the "price start from..." with the minimum price in the volume discount table, so the customers can have an idea of the best price applied

![screenshot-www 100asa it-2019 06 04-10-24-31](https://user-images.githubusercontent.com/13449658/58958422-26177000-87a3-11e9-9efd-aeb93d431064.png)

Thank you

[2019-06-04 08:49] GrossOutD commented on #13958
I have not had the chance to go through with this yet, will have an update later this week

[2019-06-04 08:51] khouloudbelguith commented on #13958
@HAF1ZUR, thanks!
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.

[2019-06-04 08:54] khouloudbelguith commented on #14057
@elviraprint, this issue also, is not a PrestaShop core bug.
You have an error in the class `Block.php`, you need to find this class is added by which module.

Thanks!

[2019-06-04 09:05] khouloudbelguith commented on #14066
Hi @centoasa,

Thanks for your report.
So, do you need to add in the discount table, the total of 32 products after applying the discount?
In your case = 87.56
We have a quantity starting from 32 & the price start from 87.56 = 3.04*32 - 9.72?

Thanks!

[2019-06-04 09:07] matteolavaggi commented on #14061
There is no way to use the "official" nginx configuration + apache

[2019-06-04 09:07] #14061 closed, assigned to nobody

[2019-06-04 09:10] PierreRambaud commented on #14057
@elviraprint This issue will be fixed this week, it came from the facetedsearch module.

[2019-06-04 09:15] centoasa commented on #14066
Sorry, I wasn't clear!
The final price (2) should show the best price from the table discount (1), so my product page should display -> prices start at 2.73

[2019-06-04 09:22] khouloudbelguith commented on #9613
Hi,

I have the same issue with PS1.7.6.0beta1
Products created in the second shop are not displayed in "All shops" context
https://drive.google.com/file/d/1ccAXcKLPUMuHx7h73-Fb-lJkKyXdZesr/view

Thanks!

[2019-06-04 09:22] matteolavaggi opened #14067 "Index home without "language" /xx/ was downloaded by web server"
**Describe the bug**
Try to open home page root without adding the language selector result in download by web server instead open page. Problem on url rewrite

**To Reproduce**
Install PS 1.7.4

Setup this rewrite scheme:

Percorso ai prodotti
{category:/}{id}{-:id_product_attribute}-{rewrite}.html
Parole chiave: id*, id_product_attribute*, rewrite*, ean13, category, categories, reference, meta_k

[2019-06-04 09:23] khouloudbelguith commented on #14059
Hi @idnovate,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9613
So, I close it.
Thanks!

[2019-06-04 09:23] #14059 closed, assigned to nobody

[2019-06-04 09:23] khouloudbelguith commented on #14059
Duplicate of #9613

[2019-06-04 09:33] khouloudbelguith commented on #14067
Hi @matteolavaggi,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.4.2, PS1.7.5.2 & PS1.7.6.0BETA1.
When we navigate to the FO without "language" in the URL, there is a redirection to the language by default.
You can the demo shop in this link: http://fo.demo.prestashop.com there is a redirection to http://fo.demo.prestashop.com/fr/

Thanks to check & feedback.

[2019-06-04 09:43] AminPersis opened #14068 "1-Click Upgrade Error when upgrading database (1.7.3.0 -> 1.7.5.2)"
1-Click Upgrade Error when upgrading database (1.7.3.0 -> 1.7.5.2)
--------------------------------------------------------

I tried several times, but every time I have the same issue. Everything seems to go well until it reaches the upgrading database, then it fails.

Here's the Error log:
---------------------------------------------------------------------------------------
[INTERNAL] /home/ka

[2019-06-04 09:48] khouloudbelguith commented on #14066
@centoasa, thanks for these clarifications.
We have two options:
In the BO => Shop Parameters => Product Settings =>
1. `Display discounted price` is disabled => in the FO => Product page => we have `discount`
![image](https://user-images.githubusercontent.com/16067358/58869240-c4c5a300-86b5-11e9-93f1-47022b44166c.png)
2. `Display discounted price` is disabled => in the FO => Product page => we ha

[2019-06-04 09:56] zozizozu commented on #14016
Hi, it looks my server is still online without no troubles, sorry °)
I forgot to mention that i've increased RAM and CPU, maybe it helps ovoiding those troubles ...
Also forgot to said that server is running on Windows Server 2012

[2019-06-04 10:00] khouloudbelguith commented on #14016
@zozizozu, thanks for your feedback.
since it is fixed.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-04 10:00] #14016 closed, assigned to nobody

[2019-06-04 10:01] Lucascetii opened #14069 "Problème lors du passage de prestashop 1.6 vers 1.7"
**Describe the bug**
suite à une mise à jour de prestashop je n'ai pas accès à certaines parties du back office comme la partie "produit" ou "module" Lorsque je souhaite y accéder un message d'erreur s'affiche

"Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as p

[2019-06-04 10:03] khouloudbelguith commented on #14069
Hi @Lucascetii,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-cr

[2019-06-04 10:13] khouloudbelguith commented on #14045
@msautral, I created a catalog price rule from `2019-05-02 00:00:00` to `2019-06-04 12:06:00`

From 2019-06-04 12:05:00, I tried to reload the prices drop page, if the end date comes, those products are not displayed anymore
![image](https://user-images.githubusercontent.com/16067358/58871328-b24d6880-86b9-11e9-9651-05c8508e8b7a.png)
https://drive.google.com/file/d/1ndZUCUMSqubRAhWlb8HORKLWkUPZV4z

[2019-06-04 10:17] xiropot commented on #10304
@rnervi @khouloudbelguith Also some kind of this behavior can happen when we code modules specialized for checkout/carriers/payment because we may have missed the id_state/id_country field in the record creation. As a result, 💀 error.

[2019-06-04 10:21] khouloudbelguith commented on #14068
Hi @AminPersis,

In your file /Project_Folder/app/config/parameters.php, did you defined the `mail_user`?
For example `mailer_user' => NULL,`
Thanks to check & feedback.

[2019-06-04 10:35] AminPersis commented on #14068
Hello khouloudbelguith,

Thanks for your quick reply.

No, I didn't edit any files directly, I just configured everything from backoffice, and I'm using PHP's mail() function, because I had an issue with SMTP.

I checked the file and realized I don't even have a "mail_user" there.

This is my parameters.php:

<?php return array (
  'parameters' =>
  array (
    'database_host' => 'localhost',

[2019-06-04 10:36] centoasa commented on #14066
@khouloudbelguith but I mean change the €3.04 with the best discounted price and add: price start from.. (the best discounted volume price)

![screenshot-www 100asa it-2019 06 04-12-39-52](https://user-images.githubusercontent.com/13449658/58958384-139d3680-87a3-11e9-8065-4fa4fc1f7557.png)

[2019-06-04 10:42] AminPersis commented on #14068
![parameters](https://user-images.githubusercontent.com/51361765/58873271-a7e99980-86ce-11e9-9432-a12bf4955c8d.jpg)

[2019-06-04 10:44] khouloudbelguith commented on #14068
@AminPersis, thanks to add this line `'mailer_user' => NULL,`in your file app/config/parameters.php.
uou need to replace this

`array ( 'database_host' => 'localhost', 'database_port' => '', 'database_name' => '*******', 'database_user' => '*******', 'database_password' => '*******', 'database_prefix' => 'ps_', 'database_engine' => 'InnoDB', 'mailer_transport' => 'smtp', 'mailer_host' => '127.0.0.

[2019-06-04 10:47] khouloudbelguith commented on #14066
@centoasa, 3.04 => this is the price of  one product, the best-discounted price is available only if you have more than 32 products
if you have minimal quantity = 32 so, the price displayed is the discounted price.

Thanks!

[2019-06-04 10:49] centoasa commented on #14066
The intention is to make the customer understand that the lowest possible price for this product is xxx provided that the customer buys the yyy quantity specified in the table.

[2019-06-04 10:51] khouloudbelguith commented on #14066
@centoasa, thanks for these clarifications.
@marionf, @colinegin what do you think?
Thanks!

[2019-06-04 10:53] matteolavaggi commented on #14067
Hi its a fresh ps 1.7.4 install, any suggestions how to debug ? Have you
try using our url scheme?

Il giorno Mar 4 Giu 2019, 11:33 khouloudbelguith <notifications@github.com>
ha scritto:

[2019-06-04 11:17] AminPersis commented on #14068
@khouloudbelguith

Thanks for your help.
I did what you said and added 'mailer_user' => NULL, and then I used 1-Click upgrade. But again I have this error:

[INTERNAL] /home/karizmat/public_html/vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php line 102 - Symfony\Component\DependencyInjection\Exception\ParameterNotFoundException: You have requested a no

[2019-06-04 11:21] khouloudbelguith commented on #14068
@AminPersis, what is the exact version `autoupgrade` did you use?
Could you please try to clear cache manually by deleting all the folder into app/cache (prod & dev).
Thanks to check and feedback.

[2019-06-04 11:24] khouloudbelguith commented on #14067
@matteolavaggi, in your Traffic & SEO page, thanks to change the "Route to category" from `{rewrite}` to  `{id}-{rewrite}`

Thanks!

[2019-06-04 11:26] AminPersis commented on #14068
@khouloudbelguith

My 1-click upgrade module is up-to-date (v4.8.0)
Sure, I will clear the Cache now, and repeat the upgrade again.

Regards
Amin

[2019-06-04 11:27] khouloudbelguith commented on #14068
@AminPersis, thanks!
Waiting for your feedback!

[2019-06-04 12:04] AminPersis commented on #14068
@khouloudbelguith

Sorry for asking, but should I write 'NULL' instead of NULL. Isn't using ' sign important?

[2019-06-04 12:08] khouloudbelguith commented on #14068
@AminPersis, here's my file parameters.php
[parameters.php.txt](https://github.com/PrestaShop/PrestaShop/files/3252235/parameters.php.txt)
Thanks to check & feedback

[2019-06-04 12:09] AminPersis commented on #14068
Thank you so much, I'm going to try again

[2019-06-04 12:11] khouloudbelguith commented on #14068
@AminPersis, thanks!
Waiting for your feedback

[2019-06-04 12:24] Lucascetii commented on #14069
Thanks fo your answer

host : apache
server setup and configuration : Linux #1 SMP Thu Aug 23 15:15:40 CEST 2018 x86_64
debug mode report : https://www.cetii-distribution.fr/admin137/index.php/_profiler/c9e405?panel=logger&_token=V37ZnfUQMq8uCeLvXzG4ZdiLfKNxhMJNuCKzeO6gCV4
PHP error logs : i don't know how to have this information
apache error log : i don't know how to have this information
javasc

[2019-06-04 12:27] khouloudbelguith commented on #14069
@Lucascetii, you have an issue with the `easyloginascustomer` module.
It could be not compatible with PS1.7.
You should contact the module author about this issue.

Thanks!

[2019-06-04 12:35] Lucascetii commented on #14069
Thanks i will do that but why i can open "order or categorie" on the back office and i can't open specifically "product" ?

[2019-06-04 12:36] khouloudbelguith commented on #14069
@Lucascetii, try to disable this module temporarily, clear cache, check & feedback.
Thanks!!

[2019-06-04 12:40] Lucascetii commented on #14069
i can't beacause i have a issue when i try to open module menu.
![image](https://user-images.githubusercontent.com/51364067/58879745-a3c17a00-86d6-11e9-9d33-de6e33f2750b.png)

[2019-06-04 12:43] khouloudbelguith commented on #14069
@Lucascetii, you have an issue with the `shopimpoter` module also.
![image](https://user-images.githubusercontent.com/16067358/58879959-b59f1f00-86ce-11e9-82a4-7668c12b2bbd.png)

It could be not compatible with PS1.7, you need to check with the module author.
In the meantime, in your Projet_folder/modules/ you can rename the module folder to name_of_module_old.
This is a temporary fix.

Thanks!

[2019-06-04 12:50] josejecas opened #14070 "The frontend does not assume the ordering of the categories"
The frontend does not assume the ordering of product categories as shown in the video

https://drive.google.com/file/d/1U9meBPQ74IWOceus8LSfYskm7T84PFyM/view

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screensho

[2019-06-04 12:53] zozizozu commented on #14016
@khouloudbelguith , Ooops, it seams i only have to talk about it : i now have an error 500 accessing the backoffice ( of course, all those require failed files exists ) :

Then i tried "php bin\console cache:clear && php bin\console cache:clear --env prod" that returns :

I finally remove manually var\cache , remove vendor 's directory and replace by the original vendor from the archieve, and it l

[2019-06-04 13:00] Lucascetii commented on #14069
i did this but now i can't open my back office there is message
![image](https://user-images.githubusercontent.com/51364067/58881015-893cd000-86d9-11e9-87aa-d9d75acf8173.png)

[2019-06-04 13:04] khouloudbelguith commented on #14070
Hi @josejecas,

I manage to reproduce the issue PS1.7.5.2 & PS1.7.6.0beta.
In the PS1.7.5.2, in the BO => categories page => change positions => a green alert is displayed => if we reload the page => settings not saved
In the PS1.7.6.0, in the BO => categories page => change positions => there is no green alert displayed => if we reload the page => settings not saved too.
https://drive.google.com/

[2019-06-04 13:12] khouloudbelguith commented on #14016
@zozizozu, thanks for these clarifications.

[2019-06-04 13:13] khouloudbelguith commented on #14069
@Lucascetii, what about the `easyloginascustomer` module,
![image](https://user-images.githubusercontent.com/16067358/58881819-db2e2780-86d2-11e9-98c6-3cc4b31a7a6f.png)
This module is causing the issue.
Thanks!

[2019-06-04 13:13] unamuno commented on #13010
Hi @samuel-pires,
your video shows normal autofill with old values.
I mean autofill with contact and payment infos saved in the browsers:
[Apple Passwords (1)](https://developer.apple.com/documentation/security/password_autofill/enabling_password_autofill_on_an_html_input_element)
[Apple Support Autofill (2)](https://support.apple.com/de-de/guide/safari/ibrw1103/mac)

[2019-06-04 13:25] GrossOutD commented on #13958
Now have access to modules and other pages, but not complete

Had to import a clean version of ps_authorization_role table, as this had no data in it, this caused access denied on all pages

[2019-06-04 13:28] elviraprint commented on #14057
Ok will you send me a message as soon as it is fixed ?
Thats really make me in trouble my all website is compromised

[2019-06-04 13:29] Lucascetii commented on #14069
yes it was resolved the issue so now i can open the "module menu" but even if i added "_old" after the name of the folder of the "shopimporter" module and "easylogincustomer" module i still can't open the product on the back office.
![image](https://user-images.githubusercontent.com/51364067/58882834-817f2a80-86dd-11e9-8c53-91718f2c025f.png)

[2019-06-04 13:42] khouloudbelguith commented on #13958
@HAF1ZUR, thanks for your feedback.
We are aware of this issue (denied access), here's an issue similar to this: https://github.com/PrestaShop/autoupgrade/issues/100

Since the pages are ok, can I close the issue?

Thanks!

[2019-06-04 13:51] khouloudbelguith commented on #14069
@Lucascetii, It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.5.2
The solution is to add the missing columns to your database schema.
You can find the full schema for 1.7.5.2 here:
https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/install-dev/data/db_structure.sql

Thanks to check & feedback

[2019-06-04 14:03] Bonobomagno opened #14071 "CartControllerCore tpl_var 'cart' is overrided by parent 'cart'"
**Describe the bug**
As you can see, parent is called on the end.

[code]
On the end  FrontendController::initContent is called, and it call
assignGeneralPurposeVariables, overriding 'cart'.

[code]
that mean that this smarty->assign from CartController do nothing.

**Possible chained bug?**
none known

**How to fix?**
just move that parent::initContent() on the top o the CartControllerCore::initC

[2019-06-04 14:06] khouloudbelguith commented on #14071
Hi @Bonobomagno,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-06-04 14:09] espacious commented on #13859
Hi, Miha1
i found those two for free:
https://www.prestashop.com/forums/topic/355886-giftcard-3/ (i used this one a little pain translating it but all working)
https://www.knowband.com/prestashop-free-gift-card-manager (this seems better)

one from Vekia:
https://mypresta.eu/modules/advertising-and-marketing/gift-cards-sell-voucher-codes.html

[2019-06-04 14:12] khouloudbelguith commented on #13859
@miha1, great!
Thanks a lot for your feedback.
Since this improvement could be done by a custom module, I will close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-04 14:12] #13859 closed, assigned to nobody

[2019-06-04 14:25] Lucascetii commented on #14069
i dont know how to do this it will be too difficult for me to edit the datebase...

[2019-06-04 14:28] Bonobomagno commented on #13681
What about namespacing?
I think that the most important feature is to add module namespacing support before reading the overrided files.

[2019-06-04 14:30] khouloudbelguith commented on #14069
@Lucascetii, you just need to follow this link: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/install-dev/data/db_structure.sql, this is our database schema for the PS1.7.5.2 & compare it with yours, it could something missing in your case.
It could be some tables were different from the 1.7.5.2 schema, you need to update them.

Thanks for your understanding!

[2019-06-04 14:32] GrossOutD commented on #13958
Hi, yes as no more internal server error

Thanks

[2019-06-04 14:34] khouloudbelguith commented on #13958
@HAF1ZUR, thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-06-04 14:34] #13958 closed, assigned to nobody

[2019-06-04 14:51] Lucascetii commented on #14069
i understand the issue but i don't know how to open my database schema

[2019-06-04 15:02] Klemart3D commented on #13938
Hi,

The module [ps_facetedsearch v3.0.0](https://github.com/PrestaShop/ps_facetedsearch/tree/v3.0.0) officially released 14 days ago (21/04/19). So, I upgraded module from admin.

But in PrestShop [composer.json file](https://github.com/PrestaShop/PrestaShop/blob/develop/composer.json#L60), it still remain on v2.x.x. So when I'm doing a `composer update`, module is downgraded to v2.2.1:

![v2.2.1

[2019-06-04 15:16] khouloudbelguith commented on #14069
@Lucascetii, if you use phpmyadmin you can export the database schema to pdf.
Thanks!

[2019-06-04 17:00] AminPersis commented on #14068
@khouloudbelguith

Hello again, and sorry it took so long. My server was too slow and I couldn't do anything.

Now, I changed parameters.php as you said and the database was upgraded successfully.
But I had another error at the final stage when just 1 module left to upgrade.

Please see the error below and the attachment:

----------------------------------------------------------
[INTERNAL] /home

[2019-06-04 17:42] josejecas opened #14072 "Place the reference on the product"
How can I place the reference on the product below the product photo?

http://prntscr.com/nxl3vu

[2019-06-04 19:26] paintspec opened #14073 "Go back from 1.6.1.24 to 1.6.1.23"
As we have multiple clients who cant register or complete their registration while ordering because of the restrictions made in 1.6.1.24 i want to get back to 1.6.1.23

How can i make the changes undone in 1.6.1.24

As the spam has stopped i want to get this function get undone. Multiple customers who want to order have 2 or more initials so someone who wants to register as h.w. noname gets a 500

[2019-06-04 19:34] rabtaray opened #14074 "Cannot translate texts after creating a new language"
**Describe the bug**
After creating a new language Malagasy (iso code mg-mg), I cannot translate any texts, nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'International' / ''Translates
2. Click on 'Backoffice' for example to try to translate in Malagasy and choose the language 'Malagasy'
3. Scroll down to '....' : Select an item to translate and click on
4. See error

[2019-06-04 19:54] YourStylesas commented on #14062
www.shopyourstyle.it

- Presta Shop 1.7.5.2
- Linux #1 SMP Tue May 14 21:24:32 UTC 2019 x86_64  - Apache
- PHP: 7.2.19
- MySQL: 5.5.60-MariaDB

https://www.shopyourstyle.it/adminki/var/log/apache/index.php?controller=AdminDashboard&token=0273365682e44d4b5da33334d1cca3ae

[2019-06-04 19:55] YourStylesas commented on #14062
It was the ps_facetedsearch module. Thank you very much.

[2019-06-04 19:56] #14062 closed, assigned to nobody

[2019-06-04 19:58] YourStylesas commented on #13678
I contact the theme support and they told me it is not a problem of the theme.. can someone help me with this?

[2019-06-04 20:16] DBBlueDeath commented on #9545
Hi,
I had to deal with the same issue today, so I'll add the information requested above:

`ps_attribute_lang.name` was `utf8_unicode_ci` instead of `utf8_general_ci`
`ps_attribute_group_lang.name` and `ps_attribute_group_lang.public_name` was `utf8_unicode_ci` instead of `utf8_general_ci`

both of these tables (`ps_attribute_lang` and `ps_attribute_group_lang`)  were `utf8_unicode_ci` instead of

[2019-06-04 22:52] OneDotIT commented on #14074
Yes, you can add the Malagasy language in the BO through the localization option and then add it as a new language, afterwards you will start translating strings through the 'Modify translations' section.

My personal suggestion you join the Official translation project at https://crowdin.com/project/prestashop-official for the Malagasy language, and if it is not there, ask for the add up.

As for

[2019-06-04 23:26] LinkOfLight opened #14076 "bill date and logo issue"
**Describe the bug**
in a client web, when a client of my client make a buy, the date and logo of the bill get bad

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'a order'
2. Click on 'the bil of the order.'
3. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![image](https://user-images.githubusercontent.com/9163980/58920068-c38

[2019-06-04 23:42] psyray commented on #13518
@eternoendless
Yes it fixes the issue. Well done !
Thanks

[2019-06-04 23:42] #13518 closed, assigned to nobody

[2019-06-05 04:33] Upartech commented on #13131
Hello onklmaps. I have an error similar to the one you describe once I upgraded from prestashop 1.7.4.4 to 1.7.5.2. Now I have this error:
cb.js:1 Uncaught ReferenceError: file_not_found is not defined
    at cb.js:1
My country is Colombia and by default corresponds (cb). According to your indications I tried to create cb.js from es.js, they are very similar in the code (as I change 'es' to 'cb')

[2019-06-05 06:52] centoasa commented on #13355
while clear cache, on backoffice via performance-->clear cache, same error here (debian 9+php7.2.19+mod_pagespeed):
`AH01071: Got error 'PHP message: PHP Warning: require(/var/www/vhosts/100asa.it/httpdocs/var/cache/prod/ContainerDdg54gr/getPrestashop_Core_Admin_PagePreferenceInterfaceService.php): failed to open stream: No such file or directory in /var/www/vhosts/100asa.it/httpdocs/var/cache/pro

[2019-06-05 07:14] tomas862 commented on #13490
Im afraid in identifiable object hooks , error messages are handled only on controller level - only the exceptions can be throwed from identifiable object scenario - I thing we should keep the same workflow as it seems more correct then writting to errors array

[2019-06-05 08:00] stefano-sgambati opened #14077 "Email showing wrong shipping cost"
I have a problem concerning the wrongful display of the shipping costs in the recap email I get. It is quite weird because everything is correct in the back office, and also everything is correct in the mail except for that - it shows the taxation applied to the shipping cost even though taxes are subsequently applied to the total before taxes afterwards. Is it a bug concerning Prestashop (1.7.3.3

[2019-06-05 08:06] matteolavaggi opened #14078 "PS 1.7.2 customer cant access return order page"
**Describe the bug**
Login like customer, try to go on account > returns, you see a message "you dont have the permission for return product"

**To Reproduce**
Login like customer, try to go on account > returns, you see a message "you dont have the permission for return product"

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal informati

[2019-06-05 08:25] PierreRambaud commented on #13914
I'm able to reproduce the memory allocation problem.
This is related to Symfony, which in debug mode try to add everything in a `ProfilerStorage` context.
You can turn it off in the symfony configuration:
[code]
Or increase your `memory_limit` in debug mode
Or turn off debug mode.

The best way still increasing your `memory_limit` while running in debug mode.

[2019-06-05 08:26] AminPersis commented on #14068
@khouloudbelguith

I managed to upgrade successfully to 1.7.5.2 today, by removing 2 modules (webmastersiteverification & Welcome) and the upgrade process completed without any errors, thanks to you.
![1-Click Upgrade successful](https://user-images.githubusercontent.com/51361765/58941388-57cd0e80-8784-11e9-89e5-9423936c45aa.jpg)

I just now have this issue of not showing my backoffice properly. I

[2019-06-05 08:30] tomas862 commented on #13914
@PierreRambaud nice!

[2019-06-05 08:52] colinegin commented on #14006
Indeed, we are planning on working on improving the current system.
@jolelievre any idea on how to use the Email theme page to do this ?

[2019-06-05 08:58] espacious commented on #13993
Thanks!

[2019-06-05 09:06] Lucascetii commented on #14069
hi,

i have a an other issue with the image slider on home page. It doesn't work whatever the size of the picture.

[2019-06-05 09:06] Lucascetii commented on #14069
![image](https://user-images.githubusercontent.com/51364067/58944361-fa37c280-8781-11e9-9876-3e69b728e516.png)

[2019-06-05 09:27] #13914 closed, assigned to tomas862

[2019-06-05 09:29] matks commented on #13747
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14029

[2019-06-05 09:29] #13747 closed, assigned to nobody

[2019-06-05 09:29] matks commented on #13268
This issue is fully fixed 🎉

[2019-06-05 09:29] #13268 closed, assigned to nobody

[2019-06-05 09:50] agnesdennetiere opened #14081 "Multistore - all prices updated in view "all shops""
Hello,

the bug described there http://forge.prestashop.com/browse/PSCSX-8758 is still on Prestashop 1.7.5.2, this correction https://github.com/PrestaShop/PrestaShop/commit/c224384c524a5a995804252cf62d035abea1a9a9 has not been made on 1.7

[2019-06-05 10:15] gennaris commented on #13416
After upgrading some more websites I discovered that this behaviour is always happening.

Simply if there are more than 6 modules to update, only the first 6 are shown in the upgrade list with no pagination , not very clear from the UX perspective.

[2019-06-05 10:30] agnesdennetiere commented on #14081
In fact, this solution does not seem to work with 1.7...

[2019-06-05 10:30] Adekonl commented on #13720
hi @go-sudo and @ToyPerson, are you both using google Chrome?
It seems i have some issues with the token, regularly forcing me to the login page just seconds after login. These issues mostly occur on the most popular backend pages.

Also, when logging in, it is not redirecting me to the dashboard until i change the 'controller' in the url. When debugging i found that Chrome is taking the request u

[2019-06-05 10:33] Adekonl commented on #13720
hi @go-sudo and @ToyPerson, are you both using google Chrome?
It seems i have some issues with the token, regularly forcing me to the login page just seconds after login. These issues mostly occur on the most popular backend pages.

Also, when logging in, it is not redirecting me to the dashboard until i change the 'controller' in the url. When debugging i found that Chrome is taking the request u

[2019-06-05 11:28] AminPersis commented on #14068
One more thing, my contact-us form does not show up.

[2019-06-05 11:42] zozizozu commented on #14016
@khouloudbelguith, Thanks to you for paying attention.
Are you sure you want to let this issue close ? I feel all these errors are linked to the cache management.
Parsing old logs files, i found some

and

I guess that if core's file are not found, and existing functions are undefined, it's probably some kind of stack overflow.

[2019-06-05 12:27] colinegin commented on #13952
I agree with @marionf. Is there anything left to do here then ?

[2019-06-05 12:41] matks commented on #13785
Additionnal usage: being able to use [composer create-project](https://getcomposer.org/doc/03-cli.md#create-project) command to create a new PS project:
[code]
or even provide a PrestaShop installer CLI (like Symfony does) to be able to do
[code]

ping @MDWeb-Lille this one we discussed it yesterday 😉

[2019-06-05 12:44] netraagal opened #14082 "[Ps_FacetedSearch] error on non multiple facet"
**Describe the bug**
When a facet is non multiple and active on front, facets listed after it do no keep the information that it is active.

**To Reproduce**

1 - I have 2 facets
	- the first is not multiple allowed
	- the second is
2 - I am on a category page on the front and have the first facet activated.
3 - I use the second facet, the first is not kept.

**Code**
file src/Product/SearchProvid

[2019-06-05 12:47] matks commented on #13681
Hi, indeed being able to use namespace inside Modules would be a nice feature however I'm not sure it's related to this conversation, is it ? 😅

We discussed it before 😉 (see https://github.com/PrestaShop/PrestaShop/issues/11596#issuecomment-451965698) for 1.7, and because we cannot modify it without introducing breaking changes:
- the main module file (the one that extends `Module`) must be in th

[2019-06-05 13:02] Jacky75 opened #14083 "Hook actionAdminProductsListingFieldsModifier is duplicated"
**Describe the bug**
The Hook "actionAdminProductsListingFieldsModifier " is invoked twice in /src/Adapter/Product/AdminProductDataProvider.php. Since the parameters are passed by reference and this hook is invoked twice, the changes applied by a hooked module are applied twice.
Is it possible the hook should be present only once in actionAdminProductsListingFieldsModifier?

**To Reproduce**
Steps

[2019-06-05 13:07] matks commented on #13952
@sarjon so behavior to be implemented is "when changing currency from USD to EUR, this should modify both ISO code and Currency name" (1 field controls 2 data fields)

[2019-06-05 13:10] marionf commented on #14066
If Display discounted price is set to no, so the unit discount is displayed

![capture d'écran_1634](https://user-images.githubusercontent.com/13449658/58958106-7510d580-87a2-11e9-9229-436c6492741d.png)

If Display discounted price is set to yes, so the unit price is displayed

![capture d'écran_1635](https://user-images.githubusercontent.com/13449658/58958151-8bb72c80-87a2-11e9-8a20-a0a8b69074b5.

[2019-06-05 13:10] AminPersis commented on #14068
I have re-installed the contact us module and it works fine again. 👍

[2019-06-05 13:48] Bonobomagno commented on #13681
It already works on 1.7.6
You cant use namespace on the module main file if you don't require the autoloader.
For my custom use I extended context with the symfony kernel + module auto loader. This mean that I can use module namespaces from the overload files.

Not totally related, but name space is first step.
Unified servise container is next one

[2019-06-05 13:59] colinegin commented on #14015
Hello @Hlavtox,

Thanks for your idea, you're right there should not be any trash icon !
@khouloudbelguith I think this is more a bug than an improvement, I'll change the label.