[2018-12-25 08:18] khouloudbelguith commented on #11927
Hi @TemKaSD,

Do you need to remove the attribute name from which title?
From this title?
![image](https://user-images.githubusercontent.com/16067358/50417332-14aa5f00-0826-11e9-81d0-896dd4d99d73.png)
Thanks!

[2018-12-25 08:20] TemKaSD commented on #11927
@khouloudbelguith yes

[2018-12-25 08:34] popovoleksandr commented on #11825
Also reporting this issue - I'm not able to see combitations in Combinations tab and also to save new product with combination after I've added combitation supplier price... @khouloudbelguith any solution for this issue?

[2018-12-25 08:38] popovoleksandr commented on #11825
I'm getting 400 error saving new product with combinations:
admin*****/index.php/sell/catalog/products/62?_token=xhl7VpSC2XZDItdyOWDEuX_hR0dYLQjZNKRxIe4fnM8#tab-step6

[2018-12-25 08:39] khouloudbelguith commented on #11825
Hi @anantaramdas,

I did not manage to reproduce the issue after upgrade from PS1.6.1.23 to PS1.7.5.0 & after an upgrade from PS1.7.4.4 to PS1.7.5.0.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thank

[2018-12-25 09:06] popovoleksandr commented on #11825
Followin exception I got by enabling debug mode:

Symfony\Component\Debug\Exception\ContextErrorException:
Notice: Undefined offset: 0

  at src/Adapter/CombinationDataProvider.php:123
  at PrestaShop\PrestaShop\Adapter\CombinationDataProvider->completeCombination(array(), object(Product))
     (src/Adapter/CombinationDataProvider.php:108)
  at PrestaShop\PrestaShop\Adapter\CombinationDataProvider

[2018-12-25 09:08] popovoleksandr commented on #11825
In following line:
![image](https://user-images.githubusercontent.com/7561827/50418681-6d352880-0835-11e9-806d-6ac3d8421562.png)

[2018-12-25 09:30] khouloudbelguith commented on #11825
Hi @anantaramdas,

Did you use a multishop context?
What is the exact PHP version did you use?
THanks!

[2018-12-25 09:36] popovoleksandr commented on #11825
No I do not use multishop and my php is 7.2.10

[2018-12-25 09:58] khouloudbelguith commented on #11924
Hi @hacchus,

Thanks for your feedback.
Very interesting.
I manage to reproduce the issue with PS1.7.5.0.
To reproduce the issue:
- Fresh installation with the Turkish language / France country
- Delete the Turkish language which id_language = 1
- Import the Greece pack
- Go to the BO => Shop Parameters => SEO & Traffic
- Edit the order page
- Switch the boxes to Greek language and change the "Rew

[2018-12-25 10:14] khouloudbelguith commented on #11825
Hi @anantaramdas,

Despite our several trials, I could not reproduce your issue with the provided information.
We are the Holidays season, our developers are not here right now.
I will assign your issue to our developer to reproduce the issue.
Thanks for your patience & your understanding!
@marionf what do you think? could you please try to reproduce the issue?
Thanks!

[2018-12-25 10:22] khouloudbelguith commented on #11909
Hi @dritancami, @nuevoenesto,

Despite our several trials, I could not reproduce your issue with the provided information.
We are the Holidays season, our developers are not here right now.
I will assign your issue to our developer to reproduce the issue.
Thanks for your patience & your understanding!
@Quetzacoalt91 what do you think?
Thanks!

[2018-12-25 10:33] popovoleksandr commented on #11825
@khouloudbelguith Do you have any tool to export all data and import it on new installation? I'm not able to add any product now :(

[2018-12-25 11:17] khouloudbelguith commented on #11825
@anantaramdas,

In your file Projet_folder/src/Adapter/CombinationDataProvider.php line 123, could you please add this code line ( to debug your issue, you need to delete it after checking)
[code]
![image](https://user-images.githubusercontent.com/16067358/50421372-e5ecb280-083e-11e9-9aee-66ed6d8085ce.png)
and provide the exact result when you edit your product with combinations
![image](https://u

[2018-12-25 11:21] popovoleksandr commented on #11825
:) That is obvious however:
![image](https://user-images.githubusercontent.com/7561827/50421438-05d4a400-0848-11e9-90e0-d3527d4984d8.png)

[2018-12-25 11:27] khouloudbelguith commented on #11825
@anantaramdas, thanks to try with this
[code]
![image](https://user-images.githubusercontent.com/16067358/50421494-5f38d500-0840-11e9-8d71-1903dedf243a.png)
Thanks!

[2018-12-25 11:30] popovoleksandr commented on #11825
Already tried = it is empty arrays - i.e. array():
![image](https://user-images.githubusercontent.com/7561827/50421551-45e85680-0849-11e9-89c5-113109cf8ed7.png)

[2018-12-25 12:32] popovoleksandr commented on #11825
@khouloudbelguith I have prepeared initial creencast to reproduce this issue on my installation. Hope it will help resolve the issue:
![presta_combinations_issue](https://user-images.githubusercontent.com/7561827/50422282-f5292b80-0851-11e9-89e2-e5bc80f5552c.gif)

[2018-12-25 13:15] khouloudbelguith commented on #11825
@anantaramdas, Can you check if there is already a 'prod' folder in var/cache, and remove it manually in order to reset the permissions?
Thanks!

[2018-12-25 13:21] popovoleksandr commented on #11825
What I can see there is:
![image](https://user-images.githubusercontent.com/7561827/50423031-9915d580-0858-11e9-8804-a52dbdb17690.png)

I removed both (dev and prod) and dev folder recreated after relogin to admin panel. Is this expected behavior?

[2018-12-25 13:22] khouloudbelguith commented on #11825
@anantaramdas, yes, it is normal behavior.
Thanks!

[2018-12-25 13:23] popovoleksandr commented on #11825
Forgot to say - issue still there...

[2018-12-25 13:41] ahmedabdowp commented on #9540
@rafaelcalero

at classes/Cart.php

search for this
`// Get shipping cost using correct method`

and add this before

`        $getCartRuless = $this->getCartRules();
`
`
        $the_discount = $getCartRuless[0]['value_real'];
`
`
        $the_total_price = floatval($order_total) - floatval($the_discount);
`
this code get the discount amount then remove it from order total
output is `$the_total_p

[2018-12-25 15:57] khouloudbelguith commented on #11927
Hi @TemKaSD,

You need to navigate to your BO => Product detail page => SEO tab & edit the meta title.
Thanks to check & feedback.

[2018-12-25 16:02] khouloudbelguith commented on #11825
@anantaramdas, It could be like something went wrong with your update and don't have some of the database columns that were added for 1.7.5.

Can you please check if you have missing columns on your database schema.
https://github.com/PrestaShop/PrestaShop/blob/1.7.5.0/install-dev/upgrade/sql/1.7.5.0.sql

You can find the full schema for 1.7.5.0 here: https://github.com/PrestaShop/PrestaShop/blob/

[2018-12-25 16:09] TemKaSD commented on #11927
@khouloudbelguith

My title is 12345:
![screenshot_1](https://user-images.githubusercontent.com/6318282/50424625-d5761f80-08b2-11e9-87d7-211ba7454cf4.png)

Page title is 12345 Сорт 1:
![screenshot_2](https://user-images.githubusercontent.com/6318282/50424638-25ed7d00-08b3-11e9-9950-af86ac1583c4.png)

Сорт 1 - is attribute.
Me need remove attribute.

[2018-12-25 16:14] TemKaSD commented on #11927
@khouloudbelguith Need to add an option. Enable or disable the attribute name in the page title.

![screenshot_1](https://user-images.githubusercontent.com/6318282/50424677-f68b4000-08b3-11e9-9db5-8b2269bfcbab.png)

[2018-12-25 16:18] khouloudbelguith commented on #11927
@TemKaSD, in the file Project_Folder/controllers/front/ProductController.php, you can comment this line
`$page['meta']['title'] .= ' ' . $attribute['group_name'] . ' ' . $attribute['attribute_name'];`
So, the attribute_name & the group_name will be removed.
Thanks to check & feedback.

[2018-12-25 16:24] TemKaSD commented on #11927
@khouloudbelguith I already did it. Make the option to enable and disable the new version prestashop. I left a suggestion for improvement.

[2018-12-25 16:26] khouloudbelguith commented on #11927
@TemKaSD, thanks for your suggestion!
@colinegin, @marionf what do you think?
Thanks!

[2018-12-25 19:00] rdy4ever commented on #11909
Same error for me:

![image](https://user-images.githubusercontent.com/12268701/50425878-00974980-0888-11e9-9e50-32593b8514d6.png)

I didn't have this error in 1.7.4.2, so this is introduced in 1.7.5.0. I have tested it both on local (WAMP) and in production with the same error.

_PS 1.7.5.0
Linux #1 SMP Sun Feb 18 08:20:42 EST 2018 x86_64
LiteSpeed
PHP: 7.2.4
MySQL: 10.2.19-MariaDB-cll-lve_

[2018-12-25 19:21] nuevoenesto commented on #11909
Hello
In the label LOGS I have it

![error](https://user-images.githubusercontent.com/46094992/50425986-ac3d9b00-0882-11e9-9c5d-a42584ff3c12.JPG)

[2018-12-25 22:46] mrabsinthe commented on #9876
I can confirm this issue in 1.7.5 as well, please add label.

[2018-12-25 23:46] mrabsinthe opened #11928 "Mail alerts not showing on product page"
**Describe the bug**
Module Mail alerts is not showing on product page.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Mail alerts v2.1.0
2. Configure
3. Go to a product with stock quantity 0
4. There is no box to enter email address

**Screenshots**
![alerts](https://user-images.githubusercontent.com/31688689/50427386-10725600-08a7-11e9-9826-d3a104abe849.png)

Also tested with Mail

[2018-12-26 00:00] mrabsinthe opened #11929 "gdpr Notice - Trying to get property of non-object"
**Describe the bug**
Trying to get property of non-object

**To Reproduce**
Steps to reproduce the behavior:
1. Install Official GDPR compliance v1.1.2
2. Install Mail alerts for example
3. Configure a message in GDPR, section Configure your checkboxes
4. Save and exit
5. Uninstall module installed in step 2.
6. Go to GDPR and you'll see the notice and also the message box after the uninstalled mo

[2018-12-26 00:17] #11928 closed, assigned to nobody

[2018-12-26 03:52] TemKaSD opened #11930 "$pagination.should_be_displayed return NULL"
Hey. Why does a variable return NULL?

Pagination not work.

![screenshot_1](https://user-images.githubusercontent.com/6318282/50431256-23237400-0915-11e9-9e47-0859d50528db.png)

![screenshot_2](https://user-images.githubusercontent.com/6318282/50431290-6e3d8700-0915-11e9-8daa-3b4275d1ebf4.png)

[2018-12-26 04:42] popovoleksandr commented on #11825
I checked https://github.com/PrestaShop/PrestaShop/blob/1.7.5.0/install-dev/upgrade/sql/1.7.5.0.sql and found 2 syntax errors:
![image](https://user-images.githubusercontent.com/7561827/50432268-56e0a880-08d9-11e9-980a-d5fc3f49d3b1.png)

![image](https://user-images.githubusercontent.com/7561827/50432273-5b0cc600-08d9-11e9-8b35-2e9b1d8306d0.png)

[2018-12-26 04:46] popovoleksandr commented on #11825
After correcting them and reapplying to database all went back normal. Any Christmas candies for finding bugs? 😄

[2018-12-26 05:16] popovoleksandr opened #11931 "Warning displayed on customer searh page"
**Describe the bug**
Warning displayedon customer searh page

**To Reproduce**
Steps to reproduce the behavior:
1. Set `define('_PS_MODE_DEV_', true)` in `config/defines.inc.php`
2. Go to Orders
3. Click on Add new order
4. See warning:
[code]

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: 7.2.10

[2018-12-26 08:09] khouloudbelguith commented on #11825
Hi @jimmybsilva,

I m glad to solve the issue.
In fact, we manage to reproduce three warnings during the upgrade, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11814 to solve the issue.
Thanks to check this fix & apply changes on your Database.
Thanks!

[2018-12-26 08:16] khouloudbelguith commented on #11930
Hi @TemKaSD,

Thanks for your report.
What is the exact version PrestaShop did you use?
Is it PS1.7.4.4?
In the BO => Shop Parameters => Traffic & SEO => Did you disable the friendly url?
Thanks!

[2018-12-26 08:25] khouloudbelguith commented on #11931
Hi @anantaramdas,

Thanks for your report.
Could you please try to run this resquest SQL in your database

ALTER TABLE `ps_order_detail` CHANGE `product_supplier_reference` `product_supplier_reference` varchar(64) DEFAULT NULL;
![image](https://user-images.githubusercontent.com/16067358/50439077-e776b300-08f0-11e9-97ae-9526af064e31.png)

Thanks to check & feedback.

[2018-12-26 08:32] hacchus commented on #11924
Glad you could reproduce it. I checked in the database and there are many remnants of the deleted languages. Shouldn't they all be removed?

I ran an SQL command on the database and the problem gets fixed. This is the command: "DELETE FROM ps_meta_lang WHERE id_lang = 3" (Turkish language Id on my store is 3).

After this it's working properly.

[2018-12-26 09:17] khouloudbelguith commented on #11929
Hi, @mrabsinthe,

Thanks for your report.
I manage to reproduce the issue with PS 1.7.5.0 & the Official GDPR compliance module v1.1.2.
With PS1.7.4.4 & the Official GDPR compliance module v1.1.2 => OK.
We will see how to fix it.
Thanks!

[2018-12-26 09:25] matks commented on #11886
@maofree The escape argument is what is expected. This `title` is supposed to be an UTF-8 HTML string so we escape it to an HTML string.

I understand that this reduces your customization abilities for this HelperList. However the fact is that this customization ability was never intended to work in the 1st place ^^ it was a security mistake not to escape it.

Moreover, it is not a good practice t

[2018-12-26 09:28] #11825 closed, assigned to nobody

[2018-12-26 09:32] khouloudbelguith commented on #9876
Hi @mrabsinthe,

Yes, this issue still exists with PS1.7.5.0.
It is added to our bug roadmap, it is not fixed yet.
Thanks for your patience & your understanding!

[2018-12-26 09:36] marionf commented on #11788
Hello @bijouxmexicains ,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards.

[2018-12-26 09:36] #11788 closed, assigned to nobody

[2018-12-26 09:37] khouloudbelguith commented on #11909
Hi all,

During the upgrade, we have three warnings during the upgrade, here's the PR: #11814 to solve those warnings.
It could be related to your issue.
Thanks to check this PR: #11814  & apply changes to your Database & feedback.

[2018-12-26 09:38] TemKaSD commented on #11930
@khouloudbelguith

PS Version 1.7.5.0
URL rewriting is ON

[2018-12-26 09:40] marionf commented on #11900
Yes @khouloudbelguith that's it :)

[2018-12-26 10:20] khouloudbelguith commented on #11930
@TemKaSD, I did not manage to reproduce the issue with fresh installation PS1.7.5.0.
I attached a video record.
https://drive.google.com/file/d/1HikzrDrQ9MEHe1qry82xsiOQe-MSLzZq/view
Thanks to check & feedback.

[2018-12-26 10:24] marionf commented on #11924
@khouloudbelguith Do you have the same error message "Property Meta->url_rewrite is not valid" on 1.7.4.4 ?

[2018-12-26 10:31] khouloudbelguith commented on #11924
@marionf, PS1.7.4.4, I tried to save a page with empty Friendly URL, I have this alert
![image](https://user-images.githubusercontent.com/16067358/50443018-b652ae80-0901-11e9-92ae-408eaa7fc892.png)
Thanks!

[2018-12-26 10:32] nuevoenesto commented on #11909
Hello khouloudbelguith
Many thanks for your help.
My problem is in the INVOICE option.
this is the last error.
Can you help me, please?

![captura](https://user-images.githubusercontent.com/46094992/50443067-e9953d80-0901-11e9-8e03-24c7ed31a075.JPG)

[2018-12-26 10:35] khouloudbelguith commented on #11909
@dritancami, did you made an upgrade to PS1.7.5.0?
after the upgrade did you made the changes on your Database that I suggested in my [comment](https://github.com/PrestaShop/PrestaShop/issues/11909#issuecomment-449939147)?
Thanks!

[2018-12-26 10:39] marionf commented on #11924
Why with empty friendly url ?
What happens if you try the same scenario below ?
- Fresh installation with the Turkish language / France country
- Delete the Turkish language which id_language = 1
- Import the Greece pack
- Go to the BO => Shop Parameters => SEO & Traffic
- Edit the order page
- Switch the boxes to Greek language and change the "Rewritten URL" value to anything.
- Try to save the p

[2018-12-26 10:43] nuevoenesto commented on #11909
Yes, I upgrade from PS 1.6.1.23 to PS.1.7.5.0
All running well, with some litte problems, like permissions of the Administror user, that solved with a new adminsitrator user, or traductions, but the menu  OREDERS->INVOICE show the error posted and not work.
Enrique

[2018-12-26 10:43] marionf commented on #11924
In fact the error "Property Meta->url_rewrite is not valid" happens with previous versions.

I think the fall back on the older legacy page is a "normal" behavior because the add/edit actions are not yet migrated @matks ?

[2018-12-26 10:55] khouloudbelguith commented on #11909
@nuevoenesto, thanks for your feedback.
In my case, I did not manage to reproduce the issue with PS1.7.5.0 after upgrade from PS1.6.1.23.
Could you please try to make changes in your Database these changes:

ALTER TABLE `PREFIX_supply_order_receipt_history` CHANGE `employee_firstname` `employee_firstname` VARCHAR(255) DEFAULT '';

ALTER TABLE `PREFIX_product_lang` CHANGE `meta_description` `meta_d

[2018-12-26 11:02] khouloudbelguith commented on #11924
@marionf, yes the same issue occurs with PS1.7.4.4.
https://drive.google.com/file/d/1JUi35nHOIed5WFpdQKd5UL2VDEzyTMzZ/view
Thanks!

[2018-12-26 11:24] Maofree commented on #11886
Hi
I've looked about the override of list_header.tpl but there is not possible because it is not present a block solution

I'd like to use the span tag to put in evidence just a part of the title
however in the future we will use the ne UI, I hope you can add some nice solution to customize the title
thanks
byeeee

[2018-12-26 11:39] khouloudbelguith commented on #10420
Hi,

I did not manage to reproduce the issue with PS1.7.5.0.
I attached a video record
https://drive.google.com/file/d/1DudWgB4_2e64mQj9anPpWBNgDbs0hgqN/view
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our

[2018-12-26 11:39] #10420 closed, assigned to nobody

[2018-12-26 12:37] TemKaSD commented on #11930
@khouloudbelguith I have a bad template. Thx.

[2018-12-26 12:37] #11930 closed, assigned to nobody

[2018-12-26 14:41] khouloudbelguith commented on #11453
Hi @pg4al,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-26 14:41] #11453 closed, assigned to nobody

[2018-12-26 14:48] khouloudbelguith commented on #11451
Hi @andreic96,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-26 14:48] #11451 closed, assigned to nobody

[2018-12-26 14:48] khouloudbelguith commented on #11465
Hi @Webmaster-RPO,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-26 14:48] #11465 closed, assigned to nobody

[2018-12-26 15:16] PierreRambaud commented on #11925
As I said in the pull request, we need to define if we want to sort this column because it is calculated after the sort.

[2018-12-26 15:33] ghost commented on #11909
Hi, I update ps from 1.7.4.4 version. Excluding the modification of the first file (https://github.com/PrestaShop/PrestaShop/pull/11814/files#diff-c23da96dc8986a4cee89980f3aad30e0) the other changes i can't test them because the folder 'install' no longer exists.

[2018-12-26 15:37] khouloudbelguith commented on #11909
@dritancami, you need to check your database & make those request SQL
![image](https://user-images.githubusercontent.com/16067358/50450217-c2079a80-092c-11e9-90e3-d26965f45e00.png)

Thanks!

[2018-12-26 15:51] ghost commented on #11909
Before applying the fix to the db, is it normal that I don't have the table indicated: 'PREFIX_supply_order_receipt_history'? The other tables instead there are.

[2018-12-26 15:57] khouloudbelguith commented on #11909
@dritancami, with fresh installation 1.7.4.4, this table exists  https://github.com/PrestaShop/PrestaShop/blob/1.7.4.4/install-dev/data/db_structure.sql#L2434

Thanks!

[2018-12-26 16:03] ghost commented on #11909
I do not question it, but I (in fact) don't have this table. Just for completeness of information, initially I had installed ps 1.7.3 .. I do so:
- I export this table from a clean installation (1.7.5.0)
- subsequently, i will test as indicated here https://github.com/PrestaShop/PrestaShop/pull/11814/files

[2018-12-26 16:05] khouloudbelguith commented on #11909
@dritancami, thanks for your feedback.
After those fixes, do you still have the same issue in the invoices page?
Thanks!

[2018-12-26 16:43] nuevoenesto commented on #11909
Hello khouloudbelguith
I made the the changes, and the problem persist at click in the INVOICE menu.

UnexpectedTypeException
HTTP 500 Internal Server Error
Expected argument of type "object, array or empty", "string" given

    Exception Logs 2 Stack Trace

Symfony\Component\Form\Exception\ UnexpectedTypeException
in vendor/symfony/symfony/src/Symfony/Component/Form/Extension/Core/DataMapper/Prop

[2018-12-26 16:43] ghost commented on #11909
Go finished right now, the problem has not been solved.
![schermata 2018-12-26 alle 17 44 54](https://user-images.githubusercontent.com/2458824/50451717-fd5a9700-0935-11e9-9068-1ac57ba001f4.png)

[2018-12-26 16:45] khouloudbelguith commented on #11909
@dritancami, @nuevoenesto thanks for your feedback.
@marionf what do you think?
Thanks!

[2018-12-26 16:47] khouloudbelguith commented on #11355
Hi,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2018-12-26 16:47] #11355 closed, assigned to nobody

[2018-12-26 18:45] rdy4ever commented on #11909
Same for me. Executed SQL commands, problem remains the same.

[2018-12-26 20:29] popovoleksandr commented on #11825
Still you did not applied fix on your code in github... why?

[2018-12-26 23:01] gorkij77 opened #11933 "MailboxHeader.php not using the full email-adress of customers, 1.7.5.0"
**Describe the bug**
Clean install of 1.7.5.0, migrated old 1.6.1.20 data. MailboxHeader.php doesn't seem to get a correct address - it gets cut after the @-sign.

**To Reproduce**
Steps to reproduce the behavior:
Good question. Anything related to sending emails to customers generates this problem - them placing an order and getting a confirmation mail, us changing order status (where it's set to

[2018-12-27 04:20] popovoleksandr commented on #11825
@jimmybsilva @marionf ?

[2018-12-27 08:15] khouloudbelguith commented on #11933
Hi @gorkij77,

I did not manage to reproduce the issue with PS1.7.5.0 after upgrade from PS1.6.1.23 with the 1-click upgrade v4.5.1.
In fact, this issue is fixed in the PS1.7.4.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/9080
You need to check on your server that the php-intl extension is installed.
This issue occurs also with the ps_emailalerts module, we are aware of this issue

[2018-12-27 08:29] khouloudbelguith opened #11934 "After upgrade to PS1.7.5.0, The quick access new product and installed modules, they don't work"
**Describe the bug**
After upgrade from PS1.7.4.4 to PS1.7.5.0 & from PS1.6.1.23 to PS1.7.5.0 with the 1-click upgrade v4.5.1.
The quick access new product and installed modules, they don’t work. If you click on the quick access new product and installed modules, this access are redirect you to Dashboard. They should redirect to a new product page for the new product and module manager page for in

[2018-12-27 09:21] gorkij77 commented on #11933
Hi @khouloudbelguith

Thank you for lending a hand, losing sales now, which is annoying.

Now, this is a clean install - I looked at MailboxHeaders.php (which seems to be the problem) and I note that the fresh install is 351 lines long. The old one on my PS 1.6 installation is 354 lines? A diff check on the two shows some discrepancies, but I really can't make heads or tails of those.

(Do note, t

[2018-12-27 09:29] khouloudbelguith commented on #11933
@gorkij77, did you made a fresh installation PS1.7? or PS1.6?
What is the exact address mail did you manage to reproduce the issue?
Thanks!

[2018-12-27 09:49] khouloudbelguith commented on #11909
Hi all,

It could be like something went wrong with your update and don't have some of the database columns that were added for 1.7.5.

Can you please check if you have missing columns on your database schema.
https://github.com/PrestaShop/PrestaShop/blob/1.7.5.0/install-dev/upgrade/sql/1.7.5.0.sql

You can find the full schema for 1.7.5.0 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.

[2018-12-27 09:53] gorkij77 commented on #11933
Fresh installation of 1.7.5.0 then migrated my old data to a new MySQL-database.

Address in mailbox given [oskar.sten.nilsson81@] does not comply with RFC 2822, 3.6.2.

  at vendor/swiftmailer/swiftmailer/lib/classes/Swift/Mime/Headers/MailboxHeader.php:345
  at Swift_Mime_Headers_MailboxHeader->_assertValidAddress('oskar.sten.nilsson81@')
     (vendor/swiftmailer/swiftmailer/lib/classes/Swift/Mi

[2018-12-27 10:13] khouloudbelguith commented on #11933
@gorkij77, I tried with this email "oskar.sten.nilsson81@gmail.com" with PS1.7.5.0 after upgrade from 1.6.1.21, but I did not manage to reproduce the issue.
I attached a video record.
https://drive.google.com/file/d/1Mvd9Asv7hSaavFQeDPTRbTlh85ehCsln/view
Could you please diff check your files with the fix: https://github.com/PrestaShop/PrestaShop/pull/9080/files
Thanks!

[2018-12-27 10:16] pdsolutions commented on #11914
I have the same issue on a fresh PS 1.7.5.0 Prestashop installation.
![bugs](https://user-images.githubusercontent.com/46190904/50476643-27a96480-09c9-11e9-9fe2-967fdc498107.jpg)

[2018-12-27 10:16] khouloudbelguith commented on #11933
@gorkij77, what is the exact email of your shop, you can find it in the BO => Shop Parameters => Contact => Stores Tab?
Thanks!

[2018-12-27 10:22] LouiseBonnard commented on #11900
Dear @khouloudbelguith, @marionf, thanks for your comment. You're right, it works if you edit the country in the International > Locations > Countries section of the BO. And that is pretty tricky if you're not aware of it. Could it be optimized in some way, @colinegin? At least, in the short term, perhaps we could improve the information static alert in the Addresses pages of the BO by adding word

[2018-12-27 10:22] khouloudbelguith commented on #11914
Hi @pdsolutions,

What the exact version of the ps_linklist module did you use before the upgrade?
Thanks!

[2018-12-27 10:23] gorkij77 commented on #11933
I could. But now let's assume that I'm a complete idiot : How do I perform a diff check?

Exact email of my shop, under store tab, email (req'd field) info@rsl-gaming.se

[2018-12-27 10:35] khouloudbelguith commented on #11933
@gorkij77, in your Poject_Folder/classes/Mail.php, you can check if the green correction in this PR: https://github.com/PrestaShop/PrestaShop/pull/9080/files exists on your file.

I tried also with your email shop => there is no issue.
Thanks!

[2018-12-27 10:45] gorkij77 commented on #11933
I'm hand-checking it now. For some reason, line 588 is the first deviation I've come across:
(These are lines 586-599)

            ShopUrl::resetMainDomainCache();

            if ($send && Configuration::get('PS_LOG_EMAILS')) {
                $mail = new Mail();
                $mail->template = Tools::substr($template, 0, 62);
                $mail->subject = Tools::substr($subject, 0, 255);

[2018-12-27 10:48] khouloudbelguith commented on #11933
@gorkij77, it is the same file here https://github.com/PrestaShop/PrestaShop/blob/1.7.5.0/classes/Mail.php
It is easier to copy it.
Thanks!

[2018-12-27 10:50] #11906 closed, assigned to nobody

[2018-12-27 10:51] pdsolutions commented on #11914
Hi khouloudbelguith,

Did you read my comment. I have the same issue on a fresh prestashop install v1. 7.5.0

So, this means that the version of @MSiliunas before update does not matter.

[2018-12-27 10:55] ghost commented on #11909
I could give the commands to be 100% sure, then I'll update you.

[2018-12-27 10:56] khouloudbelguith commented on #11914
Hi @pdsolutions,

Sorry, but I did not manage to reproduce the issue with a fresh installation PS1.7.5.0.
I attached a video record.
[Module manager • 1750.webm.zip](https://github.com/PrestaShop/PrestaShop/files/2712252/Module.manager.1750.webm.zip)
@marionf, did you manage to reproduce the issue?
Thanks!

[2018-12-27 10:57] khouloudbelguith commented on #11909
@dritancami, thanks!
Waiting for your feedback.

[2018-12-27 11:08] gorkij77 commented on #11933
Right, tried that, and did an order update to "being processed" or whatever that translates to. Got this after replacing the entire contents of Mail.php:

(Stack trace from debug, need anything else from Debug, ask away)

`Symfony\Component\Debug\Exception\FatalThrowableError:
Parse error: syntax error, unexpected '2018' (T_LNUMBER)

  at classes/Mail.php:818
  at PrestaShopAutoload->load('Mail')

[2018-12-27 11:10] khouloudbelguith commented on #11933
@gorkij77, you are welcome!
So the issue is fixed?
Thanks!

[2018-12-27 11:12] marionf commented on #11914
@khouloudbelguith I can't reproduce

![capture d ecran_821](https://user-images.githubusercontent.com/13449658/50478214-4bbc7400-09d0-11e9-9c52-445aed8988e6.png)

[2018-12-27 11:12] marionf commented on #11914
@jolelievre any idea about this issue ?

[2018-12-27 11:20] gorkij77 commented on #11933
Hi,

No. Problem remains the same, it still clips the email addresses after the @-sign.

I'm seriously at a loss here. What other information can I give you? PHP-info? Server-side-access?

[2018-12-27 11:22] khouloudbelguith commented on #11933
@gorkij77, Could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this

[2018-12-27 11:28] ghost commented on #11909
I run all the query sql (https://github.com/PrestaShop/PrestaShop/blob/1.7.5.0/install-dev/upgrade/sql/1.7.5.0.sql ), but the error continues..
<img width="1087" alt="schermata 2018-12-27 alle 12 26 34" src="https://user-images.githubusercontent.com/2458824/50478670-c6868e80-09d2-11e9-984b-376d6cc56bea.png">

[2018-12-27 11:29] gorkij77 commented on #11933
Hi, tried this. Using the default login in the code prestashop/prestashop it refuses to connect or display any information.

[2018-12-27 11:30] khouloudbelguith commented on #11909
@dritancami, I assigned the issue to our developers to reproduce the issue.
Thanks!

[2018-12-27 11:35] rdy4ever commented on #11909
Yeap. Same for me. Checked all, I have all new colums, but still - the same error on the Invoices screen.

[2018-12-27 11:38] khouloudbelguith commented on #11933
@gorkij77, in the phpinfo file,

Thanks to replace this code line

[code]
with this

[code]

THanks to check & feedback.

[2018-12-27 11:42] centoasa opened #11935 "Customer see own order-->add cart=0"
Prestashop 1.7.5 (upgraded from 1.7.4.4)
Linux #1 SMP Debian 4.9.110-3+deb9u2 (2018-08-13) x86_64
php 7.2.13
10.1.37-MariaDB-0+deb9u1
Issue: every time a customer see own order (details, tracking, invoice...) prestashop genrate a cart with 0
http://nimb.ws/rxvlu1

[2018-12-27 11:45] rdy4ever commented on #11909
These are the only errors I got during db upgrade, but I fixed them later:

            1060 in ALTER TABLE `ps_supply_order_receipt_history`
  CHANGE `employee_firstname` `employee_firstname` VARCHAR(255) DEFAULT '',
  CHANGE `employee_lastname` `employee_firstname` VARCHAR(255) DEFAULT '': Duplicate column name 'employee_firstname'

[2018-12-27 11:49] gorkij77 commented on #11933
Thank you, tried that. Still doesn't accept password, drops a 401 Unauthorized on me.

[2018-12-27 11:55] gorkij77 commented on #11933
[phpinfo.pdf](https://github.com/PrestaShop/PrestaShop/files/2712357/phpinfo.pdf)
Here's mine with mods as well. As well as my basic PHP-info file in pdf format.

[phppsinfo.zip](https://github.com/PrestaShop/PrestaShop/files/2712348/phppsinfo.zip)

Update : This might be related to Red Hat, found this but I'm shaky at implementing things :
[https://central.owncloud.org/t/address-in-mailbox-given-

[2018-12-27 12:23] drchad2008 opened #15196 "Consistent Error While upgrading database: Prestashop 1.6.1.23 -> 1.7.1.0"
**Describe the bug**
I've been able to successfully upgrade from Prestashop 1.5.6.0 to 1.6.1.23 using the 1-Click Upgrade Module (a few issues along the way but I worked them out). However I'm stuck trying to upgrade 1.6.1.23 to any version of 1.7 (I've mostly been trying 1.7.1.0). The upgrade always makes it through the files with no problems but then produces the same errors each time when tryin

[2018-12-27 13:21] khouloudbelguith commented on #11935
Hi @centoasa,

Did you delete any carts from the database manually?
Thanks!

[2018-12-27 13:23] marionf commented on #9540
@ahmedabdo1995

I changed code as you said

![capture d ecran_823](https://user-images.githubusercontent.com/13449658/50481624-e2922c00-09e2-11e9-99aa-0b77bb050f34.png)

And get this exception

![capture d ecran_824](https://user-images.githubusercontent.com/13449658/50481630-eaea6700-09e2-11e9-9fc5-591eb0d6bf4d.png)

[2018-12-27 13:23] khouloudbelguith commented on #11909
@rdy4ever, those warnings are fixed with this  PRs: https://github.com/PrestaShop/PrestaShop/pull/11814
Thanks!

[2018-12-27 13:31] rdy4ever commented on #11909
Hi, yes, I know. However, the error persists.

Pe 27 dec. 2018, la 15:23, khouloudbelguith <notifications@github.com> a scris:

[2018-12-27 13:40] khouloudbelguith commented on #11933
Hi @gorkij77,

In your comment, you said that you migrated your old data to a new MySQL-database, how did you migrated your data, with a custom tool or manually?
Thanks!

[2018-12-27 13:45] centoasa commented on #11935
Already done many times, but every time customer see own order, PrestaShop add cart=0
Ps: I seem to remember that this was a problem already highlighted, I tried a lot but I did not find anything about it. maybe I remember badly.

[2018-12-27 13:50] ahmedabdowp commented on #9540
Make sure there is no override for this function
Overrides/classes/Cart.php

And i think you miss comma , after $the_total_price at red box num 2
Check for the comma first

[2018-12-27 13:50] khouloudbelguith commented on #11935
@centoasa, After deleting carts from the table ps_cart table, in this table options Tabs you need to set the "AUTO_INCREMENT"= 1101 and save, then the id of the next cart created will be 1001.
PS: 1001 is "the last id_cart + 1" deleted.
![screenshot-1](https://user-images.githubusercontent.com/16067358/50482428-c1333f00-09e6-11e9-9868-cb160ec0641e.png)
Thanks!

[2018-12-27 13:53] pdsolutions commented on #11914
Hello,

I just tested it on another PS 1.7.5.0 installation and it works with the default template.
The problem of @MSiliunas and mine is that we don't use the default template. I think the problem is more related to the template than prestashop core.

Here i attach my video installing and testing the link widget on a brand new PS 1.7.5.0, then i install the template and it fails.

https://tienda.

[2018-12-27 14:06] MatShir commented on #10875
Yes, of course. The reference product is here only to find the product easily (short and practical Alphanumeric) without knowing the location or UPC but it will not be optimized for specific research. I was a small tip for urgent needs. It will be discussed with the team.
Thank you for your feedbacks

[2018-12-27 14:09] gorkij77 commented on #11933
I used this one :

[https://addons.prestashop.com/en/data-migration-backup/32298-prestashop-migrator-safely-upgrade-prestashop-to-17.html](url)

[2018-12-27 14:11] khouloudbelguith commented on #11914
Hi @pdsolutions,

I tried with other different themes but I did not manage to reproduce the issue.
I attached a video record.
https://drive.google.com/file/d/1fpTVdimchlQL_SMOPp8pHc_GlTVgXKkP/view
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com [account](https://addons.prestashop.com/fr/themes

[2018-12-27 14:13] Thinkup commented on #9540
hello like i wrote some days ago i have solved with https://addons.prestashop.com/it/spese-spedizione/7490-freelivery-consegna-gratuita.html

[2018-12-27 14:15] khouloudbelguith commented on #11933
@gorkij77, As it's not the module provided by Prestashop, we can't do anything with this.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
You should contact the module author via your addons.prestashop.com account, they are the only o

[2018-12-27 14:16] Mreco83 commented on #11911
This fix does not work.
![clipboard01](https://user-images.githubusercontent.com/36883457/50483077-4f5cf480-09ea-11e9-9b57-3355ed2e0b92.jpg)

[2018-12-27 14:32] centoasa commented on #11935
Done!
Now my ps_cart is http://nimb.ws/ipsVkj
and my shopping cart into presta backoffice is empty!
Let you know when updates incoming.

[2018-12-27 14:35] marionf commented on #9540
@ahmedabdo1995 comma is right here, just hided behind the red box :)
And I don't have any override

[2018-12-27 15:06] khouloudbelguith commented on #11935
@centoasa, thanks!
Waiting for your feedback.

[2018-12-27 15:15] marionf commented on #11911
The fix works fine for me

![capture d ecran_825](https://user-images.githubusercontent.com/13449658/50484769-9222ca80-09f2-11e9-8331-44ded3e51f7e.png)

![capture d ecran_826](https://user-images.githubusercontent.com/13449658/50484772-964ee800-09f2-11e9-92b3-d23058ba605f.png)

[2018-12-27 15:30] Pekk3n commented on #11933
I have exactly the same issue with Prestashop 1.7.5.0 after upgrade.

PHP 7.1, CentOS 6

[2018-12-27 15:52] khouloudbelguith commented on #11425
Hi @johstrom,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-27 15:52] #11425 closed, assigned to nobody

[2018-12-27 15:58] khouloudbelguith commented on #11504
Hi @titamrtn,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-27 15:58] #11504 closed, assigned to nobody

[2018-12-27 16:02] gorkij77 commented on #11933
I'm aware that this issue has been closed.

However, doing a FRESH install, no migration no nothing and registering myself as a new customer this happens:

[code]
And this from php-error.log, also from a fresh install.
[code]
Now, if this is a migration problem, then why does it occur on a new installation?

[2018-12-27 16:11] khouloudbelguith commented on #11933
@gorkij77, this issue occurs only with PS_email alert like described in this issue #9638.
For INTL, the latest version of PrestaShop requires the extension php-intl.
Thanks!

[2018-12-27 16:13] kris4net commented on #11909
same for me
PHP: 7.2.13
1.7.4.4 -->1.7.5 ; 1-click up 4.5.1

[2018-12-27 16:15] gorkij77 commented on #11933
@khouloudbelguith - PS_email_alert ISN'T INSTALLED on my test server.

![email-alert](https://user-images.githubusercontent.com/42741897/50486590-f6498c80-09fa-11e9-88a1-af075154abc0.JPG)

As per INTL, I got this from my hosting service:

[code]

[2018-12-27 16:28] slupostrupek commented on #11083
then instead of changing database, change connection parameter as optional parameter
https://dev.mysql.com/doc/refman/8.0/en/charset.html

and add this in BO -> Advanced -> DataBase (where already is an option to change character set and default is utf-8)  as new option "Connection character set"

that will allow to use utf-8mb4 connection and users manually would be able to change character set i

[2018-12-27 16:44] khouloudbelguith commented on #11933
@gorkij77, what is the exact browser did you use?
In fact, this address mail "martin.hogman@gmail.com" doesn't contain any specials characters.
Thanks!

[2018-12-27 16:50] gorkij77 commented on #11933
Latest chrome, latest Edge. Same problem.

Look here:
[https://github.com/nextcloud/server/issues/6744#issuecomment-378770720](url)

ICU 4.2.1 might be the culprit.

[2018-12-27 16:54] khouloudbelguith commented on #11933
@gorkij77,

In my local, I have this configuration
![screenshot-2](https://user-images.githubusercontent.com/16067358/50487900-4b3bd180-0a00-11e9-92c5-3c7024a32736.png)
Thanks the change version of the ICU & feedback.

[2018-12-27 16:55] gorkij77 commented on #11933
Here's mine:
![icu](https://user-images.githubusercontent.com/42741897/50487976-9a820200-0a00-11e9-9f83-3f4d830cb67c.JPG)

[2018-12-27 16:56] khouloudbelguith commented on #11933
@gorkij77, could you please check with your host to change the ICU version, it could be the problem & feedback.
Thanks!

[2018-12-27 16:57] gorkij77 commented on #11933
All right, I'll drop them a support mail and get back to you.

[2018-12-27 17:00] khouloudbelguith commented on #11933
@gorkij77, thanks!
Waiting for your feedback.

[2018-12-27 17:15] nuevoenesto commented on #11909
Hi
I continue with this error after the sql update.
Thanks
Enrique

![image](https://user-images.githubusercontent.com/46094992/50488526-43c9f780-0a03-11e9-94a9-301c12806fe3.png)

[2018-12-27 17:58] ChineseNorris opened #11939 "Error 500 - "The file tmp/XXXX doesn't exist""
**Describe the bug**
After upgrading to 1.7.5 with autoupgrade, when you try to upload an image in the product section: you get error 500. I've checked the tmp folder and wasn't there after the upgrade, so I created it with 755 perm.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade from 1.7.x to 1.7.5 stable
2. Clear cache
3. Go to product - new product - try to upload an image
4. See

[2018-12-27 19:20] nuevoenesto commented on #11909
The Logs are the same from dritancami user
![image](https://user-images.githubusercontent.com/46094992/50491879-e474e300-0a14-11e9-81f5-55950a637bd3.png)

[2018-12-27 21:08] ahmedabdowp commented on #9540
Pleas mark the line of the error appeared then
To check it

[2018-12-27 21:32] Stephane1874 opened #11940 "French translation of the RGPD module is no longer available with version 1.1.2"
**Describe the bug**

Hello,

After the update of the RGPD module 1.1.2 on the french version of prestashop 1.7.5, the translation of the module no longer works.

![capture](https://user-images.githubusercontent.com/46202635/50494919-60c3f200-0a26-11e9-8ecf-f57abd60a7ba.PNG)

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: 7.1.25

[2018-12-27 21:37] MindaugasVarkalys commented on #11784
I had the same problem and I this is my workaround:
- Move the shop to a different domain and change a row in `shop_url` table
- Run Prestashop update on that new domain
- Move the shop to an original domain and change a row in `shop_url` to the original one. I also had to change domain in  `.htaccess` file because it was not updated.

I am sure this error (at least in my case) is not related to f

[2018-12-27 22:06] rdy4ever commented on #11784
I really can’t see how this would be a solution, as this is exactly how I upgraded my production store and I still got this error. For every core update, I first update a staging clone on my local machine, if all goes OK, I then create a website clone on my production server (staging.domain.com), run all updates there (while keeping the production store in maintenance mode), if upgrade goes OK on

[2018-12-27 23:33] geocfu commented on #11908
I have some news but not the answer.
My vps provider, DigitalOcean, blocks by default the connection to smtp via ipv6. So a solution i found is to use the corresponding ipv4 address of smtp.gmail.com which is 108.177.15.109. Now the new error message is displaying that i am unable to connect using TLS encryption.

![image](https://user-images.githubusercontent.com/9702033/50497456-5f072800-0a40-11

[2018-12-28 00:11] Dylan-Chapman opened #11941 "When selecting attributes in quick view, URL switches to product URL"
**Describe the bug**
Changing a product's attributes in a quick view popup will change the URL to the product's URL upon change. So, if the page is then refreshed, you'll be on the product page instead of the page you were on (i.e. category page). As far as I can tell, this was caused by [https://github.com/PrestaShop/PrestaShop/pull/9335](https://github.com/PrestaShop/PrestaShop/pull/9335).

It l

[2018-12-28 00:14] Dylan-Chapman commented on #11941
Quick thought: Perhaps this could be prevented by only running the history logic if there's not a visible modal present? i.e. `if (!$('.modal:visible').length || !$('body').hasClass('modal-open')) ...`

[2018-12-28 01:33] Leous88 opened #11942 "mails in customer service"
in customer service, the mail counter goes up and up without new messages, counts old and closed messages as new.

[2018-12-28 08:15] khouloudbelguith commented on #11908
Hi @geocfu,

When trying to send a test message/newsletter using a custom SMTP method configured to use TLS encryption, you see the following error message: "unable to connect with TLS encryption".
In fact, PHP 5.6 or newer forces  [verification of the destination server's authenticity](http://php.net/manual/en/migration56.openssl.php). If for some reason, the server uses an invalid (or self-signe

[2018-12-28 08:15] #11908 closed, assigned to nobody

[2018-12-28 08:17] khouloudbelguith commented on #11784
Hi @MindaugasVarkalys,

This issue is currently closed, can you open a new one with more information about your configuration & your issue.
Thanks!

[2018-12-28 08:44] khouloudbelguith commented on #11939
Hi @ChineseNorris,

Thanks for your report.
I did not manage to reproduce the issue after upgrade from PS1.7.4.4 to PS1.7.5.0.
I checked also the tmp folder & it exists.
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2018-12-28 08:55] marionf commented on #9540
@ahmedabdo1995

![capture d ecran_824](https://user-images.githubusercontent.com/13449658/50509574-bdef9000-0a86-11e9-9d62-5f430f52141f.png)

[2018-12-28 09:15] ahmedabdowp commented on #9540
Remove this line
And replace it with the next code
will fix this
`
if(isset($getCartRuless[0])){
`
`
the_discount = $getCartRuless[0]['value_real'];
`
`
}else{
`
`
$the_discount = 0;
`
`
}
`

[2018-12-28 09:20] ahmedabdowp commented on #9540
sry i missed $ before first ( the_discount )
Add it

[2018-12-28 09:30] idnovate commented on #11889
Another related error when DEBUG mode is enabled. Please note that it expects a string and an array is given.

![image](https://user-images.githubusercontent.com/15104724/50510829-7f100900-0a8b-11e9-80e3-1d117f104d25.png)

[2018-12-28 09:36] khouloudbelguith commented on #11940
Hi @Stephane1874,

Thanks for your report.
After the upgrade of the RGPD module from v1.1.0 to v1.1.2.
 the translation of the module works.
With a fresh installation PS1.7.5.0 => OK. with PS1.7.5.0 after upgrade from PS1.7.4.4 => OK
https://drive.google.com/file/d/1yqxRzev9YdWXMQ__Vn9atCpJ_EiG4BoD/view
I tried with a new installation of the RGPD module (v1.1.2 => OK) => the translation of the mod

[2018-12-28 09:41] idnovate commented on #11889
Could you please edit file `/src/Adapter/Image/ImageRetriever.php` and print `$object->name`  in function `getImage()` around line `173`?

[code]

My output:
[code]

[2018-12-28 09:55] khouloudbelguith commented on #11942
Hi @Leous88,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots
- What is the exact mail counter?

Thanks!

[2018-12-28 09:56] LedCloud commented on #9694
Up

The bug is still present in 1.7.5.0 and the workaround I offered still works.

[2018-12-28 10:02] khouloudbelguith commented on #9694
Hi @LedCloud,

I manage to reproduce the issue with PS1.7.5.0.
It is not fixed yet.
It is added to our bug roadmap.
Thanks for your understanding & your patience!

[2018-12-28 10:05] khouloudbelguith commented on #11941
Hi @Dylan-Chapman,

I manage to reproduce the issue with PS1.7.5.0 / PS1.7.4.4.
When we refresh the page => we are redirected to product page.
https://drive.google.com/file/d/1wRFaJv5Z20PnG0f6-967LLOfeKAMaZft/view
With PS 1.7.4.0 => it is not the same behavior => when we refresh the page => we are in the same page
https://drive.google.com/file/d/1Vz85pN8HhSnJaPEjiH3nFclQTym6beO-/view
@marionf what

[2018-12-28 10:07] ChineseNorris commented on #11939
Hi @khouloudbelguith ,
here is the full log txt file. I've also tryied with php 7.2 to try if the php version will print a different output but with same results.

Happy new year =)
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2714579/log.txt)

[2018-12-28 10:32] geocfu commented on #11908
Will give it a try.
Thank you very much.
Happy new year!

[2018-12-28 10:36] Stephane1874 commented on #11940
Hi @khouloudbelguith ,

You're right just translate the module again, I was tired last night and I did not check this point :)

Sorry for the time lost with this.

![capture](https://user-images.githubusercontent.com/46202635/50512718-e0d47100-0a93-11e9-9724-8e0cd63f9f57.PNG)

[2018-12-28 10:37] khouloudbelguith commented on #11889
Hi, @idnovate,

I tried with another fresh installation PS1.7.5.0 & it is OK.
https://drive.google.com/file/d/1O2kzaOA-I6PIM4DbbhJdPfAMKvuE-XT6/view
![image](https://user-images.githubusercontent.com/16067358/50512852-9c95a080-0a94-11e9-825d-a9f5d0e4a479.png)
I tried with your modification & I have the same result as you
![image](https://user-images.githubusercontent.com/16067358/50512886-e1b9d280

[2018-12-28 10:37] khouloudbelguith commented on #11908
@geocfu, you are welcome!
Happy new Year!

[2018-12-28 10:39] khouloudbelguith commented on #11940
Hi @Stephane1874,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-12-28 10:39] #11940 closed, assigned to nobody

[2018-12-28 11:06] Stephane1874 commented on #11939
Hello,

I have the same problem with a module that downloads images after updating my shop in 1.7.5, the image is download but I have this error that appears.

But it works well with the product section!

1.7.4 ->OK
1.7.5 ->ERROR

![capture](https://user-images.githubusercontent.com/46202635/50513554-cea90180-0a98-11e9-805f-552787a79ae2.PNG)

[2018-12-28 11:26] khouloudbelguith commented on #11939
Hi,

I did not manage to reproduce the issue with PS1.7.5.0 after upgrade 1.7.4.4.
@ChineseNorris, in your log file, there are just some warnings ( different issue).
Those images are generated automatically so removing them PrestaShop regenerates them.
Into the path Project_Folder/img you need to create a folder tmp with access permission 777.
Also, go to BO => Design => Image Settings => click on

[2018-12-28 11:33] khouloudbelguith commented on #11543
Hi @verybecoming,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-28 11:33] #11543 closed, assigned to nobody

[2018-12-28 11:36] khouloudbelguith commented on #11539
Hi @chicochicaya,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-28 11:36] #11539 closed, assigned to nobody

[2018-12-28 11:37] khouloudbelguith commented on #11523
Hi @Aplastaneitor,

Any news about your issue?
Thanks!

[2018-12-28 11:38] khouloudbelguith commented on #11213
Hi @drlogout,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2018-12-28 11:38] #11213 closed, assigned to nobody

[2018-12-28 12:41] #11911 closed, assigned to nobody

[2018-12-28 12:50] ChineseNorris commented on #11939
Hi,

I've just regenerated all the images sucessfully but with no success while uploading the images, with 777 permission folder as well.

Regards

[2018-12-28 13:11] Quetzacoalt91 commented on #11909
Hello there,

I can't reproduce your issue by upgrading shops to 1.7.5.0, even with previous versions of the autoupgrade module.

But as far as I can tell, there is data missing in your database, especially regarding `PS_INVOICE_PREFIX`.

This SQL request could help you to get the access to the invoice page:

[code]

Note you may have to replace the lang ID and the prefix used on your server.

Reg

[2018-12-28 13:13] khouloudbelguith commented on #11939
@ChineseNorris, thanks to delete and regenerate the .htaccess file.

1. Rename the old file to .htaccess_old
2. Disable friendly URL
3. Enable friendly URL

Thanks to check and feedback

[2018-12-28 13:25] Werbike opened #11944 "Can't switch cache off 1.7.3"
I cannot switch off cache in BO what's needed to make update via 1-Click from 1.7.3 to higher...
When i switch Cache to No and hit Save, the site reload and the green text "Setting are change!"(smthng like that) appears, but Cache are still on "Yes"...
![image](https://user-images.githubusercontent.com/40056329/50516534-9bbc3900-0aab-11e9-917e-7c9cfd082f34.png)
![image](https://user-images.githubu

[2018-12-28 13:32] mskuser1 opened #11945 "WebService- Create order id_carrier value 0"
Hi,
I'm able to create carts, customers and addresses and my order is also created but with the id_carrier 0 although the cart has the correct id.I cannot have the order with the right id_carrier, and shipment costs. This causes the order to have the status "payment error".
The code used to create the order:

`
        order.id_address_delivery = this.props.navigation.getParam('idAddress');//81

[2018-12-28 13:44] eternoendless commented on #11083
I'm not sure it's a good idea to use a different character set in the connection and in the database, especially if you are thinking on using that to store characters not supported by the latter. This kinds of things can very easily escalate into codepage conversion hell if you're not very, very careful.

[2018-12-28 13:55] rdy4ever commented on #11909
But still, I had no issue with the invoices page before upgrading to 1.7.5. I indeed used the ps_cleaner module to clear all orders, carts, clients and invoice test data before going live with my shop. Could this be the problem?

[2018-12-28 14:01] ghost commented on #11909
The query returns me the error:
`#1062 - Duplicate entry '39-1' for key 'PRIMARY'
`

[2018-12-28 14:15] rdy4ever commented on #11909
Hi @Quetzacoalt91
I checked my database and I already have the correct enteries for both enabled langauges in `ps_configuration_lang` table, regarding `PS_INVOICE_PREFIX` :
![image](https://user-images.githubusercontent.com/12268701/50517964-bdbdb780-0abb-11e9-9a96-714606b47dff.png)

[2018-12-28 14:33] khouloudbelguith commented on #11944
Hi @Werbike,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/m

[2018-12-28 14:44] ChineseNorris commented on #11939
Hi @khouloudbelguith
I've just forced .htaccess to recreate without success. It's strange because I've made other updates with other prestashop stores without issues, this is strange.

[2018-12-28 14:44] kris4net commented on #11909
same for me, ps_configuration_lang is correct.

[2018-12-28 15:00] Quetzacoalt91 commented on #11909
Hmm, what about the legal free text? Here are the data from my shop after a quick test:

[code]

[2018-12-28 15:01] web-fu opened #11946 "Order History Crash if payment status not set"
**Describe the bug**
If your order has not a valid status, the FO order history page crashes with error:
Undefined index:
at file /classes/order/Order.php line 925

**To Reproduce**
Steps to reproduce the behavior:
This bug can reproduced if there is problem with payment module and the order status is not set.
In the BO the order is shown without a status, in the FO, there is the crash

**Screensh

[2018-12-28 15:14] khouloudbelguith commented on #11939
@ChineseNorris, in my case also, I tried to delete the tmp folder to reproduce your issue.
But after creating a new folder tmp with access permission 777& regenerating thumbnails => the issue disappear.
In your shop, have you any override or custom module not compatible with PS1.7.5?
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to chec

[2018-12-28 15:16] khouloudbelguith commented on #11946
Hi @web-fu,

What is the exact payment method did you use?
Thanks!

[2018-12-28 15:20] Werbike commented on #11944
-VPS on Hekko.pl
![image](https://user-images.githubusercontent.com/40056329/50519570-d6c66880-0abb-11e9-8dd1-9e3f223d31d6.png)
![image](https://user-images.githubusercontent.com/40056329/50519675-4fc5c000-0abc-11e9-9717-d38c68827c59.png)
- Presta 1.7.3.3
- no logs in BO
- debug/Symphony logs above

Last server logs:
![image](https://user-images.githubusercontent.com/40056329/50519484-6fa8b400-0ab

[2018-12-28 15:26] khouloudbelguith commented on #11944
@Werbike, could you please try to disable the `pshowblog` module & the `gsitemap` module, clear cache manually by deleting all the folder into app/cache (prod & dev).
Thanks to check and feedback.

[2018-12-28 15:29] ghost commented on #11909
I get errors of execution:
`#1064 - Errore di sintassi nella query SQL vicino a 'mysql> select * from ps_configuration where name = "PS_INVOICE_LEGAL_FREE_TEXT"' linea 1`
`#1064 - Errore di sintassi nella query SQL vicino a 'mysql> select * from ps_configuration_lang where id_configuration = 360' linea 1`

[2018-12-28 15:36] khouloudbelguith commented on #11945
Hi @mskuser1,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.4 & PS1.7.5.0.
I used this XML sent

[code]
In the BO => order detail, I get payment error & the shipping cost = 0£.
I attached a video record.
https://drive.google.com/file/d/1iSKRvSxDDW56F4b_oZsg1QRWvlU566e0/view
We will see how to fix it.
Thanks!

[2018-12-28 16:00] kris4net commented on #11909
@ Quetzacoalt91 it's the same on my presta, except language which is 1051

[2018-12-28 16:23] Quetzacoalt91 commented on #11909
Sorry, I copied the whole screen from my terminal. Do not copy the `mysql>` part when running the SQL requests. :)

[2018-12-28 16:33] zubee commented on #11655
Thanks for the help. It solved my problem in 1.7.3.2

[2018-12-28 16:35] ghost commented on #11909
Here's what I get. 1° query:
![schermata 2018-12-28 alle 17 31 43](https://user-images.githubusercontent.com/2458824/50521609-c798e800-0ac6-11e9-98c6-6e90a07422b1.png)
2° query:
![schermata 2018-12-28 alle 17 32 51](https://user-images.githubusercontent.com/2458824/50521610-ca93d880-0ac6-11e9-90db-c2a488e8fcbf.png)

[2018-12-28 16:37] rdy4ever commented on #11909
@dritancami
in your case, for the 2nd query put in `id_configuration = 471`
In my case there is no entery in `ps_configuration_lang` for this. I'll create one and see if it helps.

[2018-12-28 16:44] ghost commented on #11909
Here it is 2° query:
![schermata 2018-12-28 alle 17 43 07](https://user-images.githubusercontent.com/2458824/50521873-2f036780-0ac8-11e9-90ac-bed0714b49cc.png)
![schermata 2018-12-28 alle 17 43 38](https://user-images.githubusercontent.com/2458824/50521875-31fe5800-0ac8-11e9-8664-313fa5c16606.png)

[2018-12-28 16:45] rdy4ever commented on #11909
Nope. Didn't help. Even though I was indeed missing these rows in `ps_configuration_lang`, adding them didn't fix the error.
`INSERT INTO `ps_configuration_lang` (`id_configuration`, `id_lang`, `value`, `date_upd`) VALUES ('390', '2', 'TEXT', '2018-12-28 00:00:00');`

[2018-12-28 16:46] Leous88 commented on #11942
sure, attached screenshots,
when updating, change the number of emails.
(which do not exist), if I click on the number redirects me to old mails, answered and closed...

prestashop 1.7.5.. problem since presta 1.7.0.0
debug mode : Notice en línea 1145 en archivo /home/sofitecc/public_html/on/controllers/admin/AdminCustomerThreadsController.php
[8] iconv(): Detected an illegal character in input st

[2018-12-28 17:15] khouloudbelguith commented on #11942
@Leous88 thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.5.0
I attached a video record.
https://drive.google.com/file/d/1R9CRV8AHSlx2qhUOE75cBKbh8jQBdZct/view
It will help us if you can attach a screen record.
Thanks!

[2018-12-28 17:23] Leous88 commented on #11942
https://www.dropbox.com/s/h7ktorkouc8afwe/Servicio%20al%20cliente%20%E2%80%A2%20Sofitec%20-%20Google%20Chrome%2028_12_2018%2014_19_14.mp4?dl=0

[2018-12-28 17:46] elmanu13 opened #11947 "Price problem with multishop"
**Describe the bug**
If you modify something in a product (weight for example), the price of this product is changed for the same price for all shops.

**To Reproduce**
Steps to reproduce the behavior:
1 : select "shop 1" in the shop list
2 : Go to catalog, product : open a product
3 : set the price to 10, save and go back to catalog
4 : select shop 2
5 : open the product and set the price to 20
A

[2018-12-28 17:57] rdy4ever commented on #11909
**SOLVED IT:**

- Run:

`SELECT * FROM ps_configuration WHERE name = "PS_INVOICE_LEGAL_FREE_TEXT";`
`SELECT * FROM ps_configuration WHERE name = "PS_INVOICE_FREE_TEXT";`

Take note of `id_configuration` for both; THEN:
- Run:
`SELECT * FROM ps_configuration_lang WHERE id_configuration = ID`

replace `ID` with each ID returned before.

If you get an empty response, like this:
![image](https://user-

[2018-12-28 18:19] nuevoenesto commented on #11909
Hi rdy4ever
How can view the IDLANG code?

Many thanks!.

[2018-12-28 18:21] rdy4ever commented on #11909
@nuevoenesto
`SELECT * FROM ps_configuration_lang`
And see other rows for `id_lang`. If you only have one language enabled, you shoud have 1. If two, you shoud have 1 and 2, etc.

[2018-12-28 18:32] nuevoenesto commented on #11909
Thanks @rdy4ever
I, made it but the error continues

Symfony\Component\Form\Exception\
UnexpectedTypeException
in vendor/symfony/symfony/src/Symfony/Component/Form/Extension/Core/DataMapper/PropertyPathMapper.php (line 41)
PropertyPathMapper->mapDataToForms('#IN', object(RecursiveIteratorIterator))
in vendor/symfony/symfony/src/Symfony/Component/Form/Form.php (line 379)
Form->setData('#IN')
in ven

[2018-12-28 18:38] rdy4ever commented on #11909
This is strange, form me the error was fixed both on my staging and my production shops like this.

[2018-12-28 18:43] rdy4ever commented on #11909
@nuevoenesto could you send me a database dump to take a look? (Export as sql )

[2018-12-28 18:50] rdy4ever commented on #11909
@nuevoenesto
Could you export the two tables and attach them here to take a look
form Export->Export method ->Custom ->deselect all tables and select just the two.

[2018-12-28 19:07] rdy4ever commented on #11909
@nuevoenesto
Try this and screenshot the result:

[2018-12-28 19:09] nuevoenesto commented on #11909
Hi @rdy4ever
I attach the two tables exported

[2018-12-28 19:11] nuevoenesto commented on #11909
I try with this
Error

consulta SQL: Documentación

SELECT * FROM ps_configuration_lang WHERE id_configuration = (select id_configuration FROM ps_configuration WHEREname= "PS_INVOICE_LEGAL_FREE_TEXT") LIMIT 0, 25

MySQL ha dicho: Documentación
#1064 - Algo está equivocado en su sintax cerca '= "PS_INVOICE_LEGAL_FREE_TEXT") LIMIT 0, 25' en la linea 1

[2018-12-28 19:12] nuevoenesto commented on #11909
ok I corrected the sentence and show this
![image](https://user-images.githubusercontent.com/46094992/50525630-edc98280-0adc-11e9-9c0e-22f90bd1736a.png)

[2018-12-28 19:17] rdy4ever commented on #11909
@nuevoenesto
You're missing rows for `PS_INVOICE_PREFIX`
Run this query and it should fix it:

INSERT INTO ps_configuration_lang (id_configuration, id_lang, value, date_upd) values ((select id_configuration FROM ps_configuration WHERE `name` = "PS_INVOICE_PREFIX"), 1, "#IN", NOW());

INSERT INTO ps_configuration_lang (id_configuration, id_lang, value, date_upd) values ((select id_configuration FRO

[2018-12-28 19:20] nuevoenesto commented on #11909
@rdy4ever
I receive this
 MySQL ha dicho: Documentación
#1062 - Entrada duplicada '42-1' para la clave 'PRIMARY'

[2018-12-28 19:24] rdy4ever commented on #11909
Tri this again:

SELECT * FROM ps_configuration_lang WHERE id_configuration = (select id_configuration FROM ps_configuration WHERE name = "PS_INVOICE_PREFIX");
SELECT * FROM ps_configuration_lang WHERE id_configuration = (select id_configuration FROM ps_configuration WHERE name = "PS_INVOICE_LEGAL_FREE_TEXT");
SELECT * FROM ps_configuration_lang WHERE id_configuration = (select id_configuration FR

[2018-12-28 19:25] nuevoenesto commented on #11909
ok, this is the result

![image](https://user-images.githubusercontent.com/46094992/50525894-ad6b0400-0ade-11e9-8fa3-b968213c7d5e.png)

[2018-12-28 19:25] nuevoenesto commented on #11909
![image](https://user-images.githubusercontent.com/46094992/50525906-c7a4e200-0ade-11e9-9e9d-50cd991fb7e4.png)

[2018-12-28 19:26] nuevoenesto commented on #11909
![image](https://user-images.githubusercontent.com/46094992/50525912-d390a400-0ade-11e9-8ffa-a7b1536ee48c.png)

[2018-12-28 19:26] rdy4ever commented on #11909
Ok, you're still missing one in `PS_INVOICE_PREFIX`. Run this, and then retry the Invoices page:

INSERT INTO ps_configuration_lang (id_configuration, id_lang, value, date_upd) values ((select id_configuration FROM ps_configuration WHERE name = "PS_INVOICE_PREFIX"), 5, "#IN", NOW());

[2018-12-28 19:31] rdy4ever commented on #11909
By the way, I can see that you actually have 5 enabled langauges, so maybe you need to run the SQL's for all missing languages

[2018-12-28 19:35] rdy4ever commented on #11909
@nuevoenesto, Run this to also fix if for langauages 2 and 3:

INSERT INTO ps_configuration_lang (id_configuration, id_lang, value, date_upd) values ((select id_configuration FROM ps_configuration WHERE name = "PS_INVOICE_PREFIX"), 2, "#IN", NOW());
INSERT INTO ps_configuration_lang (id_configuration, id_lang, value, date_upd) values ((select id_configuration FROM ps_configuration WHERE name = "PS

[2018-12-28 19:37] nuevoenesto commented on #11909
YES!!!!!!!
MANY MANY THANKS!
THIS Run!

@rdy4ever  have a good 2019 year!

[2018-12-28 19:41] rdy4ever commented on #11909
@nuevoenesto Great! HNY!

[2018-12-28 19:44] rdy4ever commented on #11909
**SIMPLE SOLUTION TO TEST AND FIX THIS ERROR**
1. Take a look into `ps_configuration_lang` to check how many languages you have enabled and their corresponding id's:
`SELECT * FROM ps_configuration_lang`

2. Run this SQL on the database:
SELECT * FROM ps_configuration_lang WHERE id_configuration = (select id_configuration FROM ps_configuration WHERE `name` = "PS_INVOICE_PREFIX");
SELECT * FROM ps_

[2018-12-28 19:56] rdy4ever commented on #11909
@dritancami
Run this SQL:

INSERT INTO chy_configuration_lang (id_configuration, id_lang, value, date_upd) values ((select id_configuration FROM chy_configuration WHERE name = "PS_INVOICE_LEGAL_FREE_TEXT"), 1, "TEXT", NOW());
INSERT INTO chy_configuration_lang (id_configuration, id_lang, value, date_upd) values ((select id_configuration FROM chy_configuration WHERE name = "PS_INVOICE_LEGAL_FREE_TE

[2018-12-28 20:12] centoasa opened #11948 "share on social link invalid"
Prestashop 1.7.5.0
Informazioni sul server Linux #31-Ubuntu SMP Tue Jul 17 15:39:52 UTC 2018 x86_64
Versione software del server: nginx/1.14.1
Versione di PHP: 7.2.13
If I follow this #10156 rewrite doesn't works.
So I've deactivated it
All works well (without rewrite) only the products share link is too long, so the shared link is invalid.
Try for example with this product: https://www.100asa.it/

[2018-12-28 20:15] rdy4ever commented on #11933
@khouloudbelguith
I have just reproduced this error with a fresh installation of PS 1.7.5. See screencast: https://youtu.be/xcwfyfNEGXQ

The error appears when trying to send mail from the order details page via php mail() function. If using a relay like Sendinblue, the mails are sent.

Oh, and all php reqs are OK:
![image](https://user-images.githubusercontent.com/12268701/50527221-a1d40900-0aef-

[2018-12-28 20:34] gorkij77 commented on #11933
Interesting. However, email is a core functionality and pardon me saying so as an end-user, everyone can't/won't use relays. I probably could, but I have no clue whatsoever what Sendinblue actually does, if it costs anything or what goes for the data transfered in these GRPD times.

Would any of the similar issues for other softwares I link be of assistance in this matter? Some seem to have solved

[2018-12-28 20:41] rdy4ever commented on #11933
Hi @gorkij77
I use [Sendinblue](https://www.sendinblue.com/?utm_source=adwords_brand&utm_medium=lastclick&utm_content=SendinBlue&utm_extension=&utm_term=sendinblue&utm_matchtype=e&utm_campaign=629579262&utm_network=g&km_adid=216799914653&km_adposition=1t1&km_device=c&utm_adgroupid=34358145557&gclid=EAIaIQobChMI6JyborDD3wIViaiaCh2nugfZEAAYASAAEgIQ0fD_BwE) for my shop and it's actually a good ideea

[2018-12-28 20:47] gorkij77 commented on #11933
Hi @rdy4ever
I'm certain that it's a great thing. But it's not the point I'm pressing:

Customer emails are a core part of what E-business is all about. If that functionality is flawed in the core software it's not a good thing at all. This simply have to work out of the box.

No email functionality = NO PASSWORD RESET either. No order acknowledgement, no nothing.

[2018-12-28 20:57] kris4net commented on #11909
@rdy4ever  big thanks, this works!!
Happy new year !!!

[2018-12-29 00:46] ghost commented on #11909
Hi @rdy4ever , I run the query, but the problem is not solved:
![schermata 2018-12-29 alle 01 42 28](https://user-images.githubusercontent.com/2458824/50531508-5f202a00-0b0b-11e9-983a-a37959868f8d.png)
![schermata 2018-12-29 alle 01 44 22](https://user-images.githubusercontent.com/2458824/50531511-634c4780-0b0b-11e9-87d7-7f88a34323bf.png)

[2018-12-29 08:14] rdy4ever commented on #11909
Could you export just the two tables (chy_configuration and chy_configuration_lang) as sql and attach them here? I’ll take a look and tell you exactly what sql’s you should run to fix the error.

Trimis de pe iPhone‑ul meu

Pe 29 dec. 2018, la 02:46, Dritan Cami <notifications@github.com> a scris:

[2018-12-29 10:46] ghost commented on #11909
Here:
[config.sql.zip](https://github.com/PrestaShop/PrestaShop/files/2716279/config.sql.zip)
[config-lang.sql.zip](https://github.com/PrestaShop/PrestaShop/files/2716280/config-lang.sql.zip)

[2018-12-29 11:17] rdy4ever commented on #11909
@dritancami
Run this SQL and I think your problem will be solved:

INSERT INTO chy_configuration_lang (id_configuration, id_lang, value, date_upd) values ((select id_configuration FROM chy_configuration WHERE name = "PS_INVOICE_FREE_TEXT"), 1, "TEXT", NOW());
INSERT INTO chy_configuration_lang (id_configuration, id_lang, value, date_upd) values ((select id_configuration FROM chy_configuration WHER

[2018-12-29 11:23] centoasa commented on #11948
Now I've restored apache, use .htaccess and url rewrite.
1.7.5 seems doesn't works well with nginx

[2018-12-29 11:28] ghost commented on #11909
Hi, I run the query, but the problem is not solved..

[2018-12-29 11:29] rdy4ever commented on #11909
Could you screenshot the stack trace after this sql?

[2018-12-29 11:31] ghost commented on #11909
Sure:
![schermata 2018-12-29 alle 12 31 29](https://user-images.githubusercontent.com/2458824/50537834-b357f800-0b65-11e9-9220-02be0fcbb487.png)

[2018-12-29 11:33] rdy4ever commented on #11909
@dritancami
No, I meant a screenshot of the errror (Exception and stack trace tabs)

[2018-12-29 11:38] rdy4ever commented on #11909
@dritancami Please run this SQL one more time and screenshot the whole response page (I need to see the result for each of the 3 queries):

SELECT * FROM chy_configuration_lang WHERE id_configuration = (select id_configuration FROM chy_configuration WHERE name = "PS_INVOICE_PREFIX");
SELECT * FROM chy_configuration_lang WHERE id_configuration = (select id_configuration FROM chy_configuration WHERE

[2018-12-29 12:55] gorkij77 commented on #11933
By the way, sending the test email from the SendinBlue module gives the same fault. Now, @rdy4ever , am I right in assuming that SiBs SMTP-server needs to be set as the default send method in PS? Because if I'm not mistaken, it takes order data and runs it through an external template to send mails, right?

[2018-12-29 12:57] rdy4ever commented on #11933
@gorkij77
Did you configure the module to send transactional e-mail? It works for me, se attached:
![image](https://user-images.githubusercontent.com/12268701/50538562-16ec2080-0b7a-11e9-8a2a-da7ea40ea223.png)

[2018-12-29 12:59] ghost commented on #11909
![schermata 2018-12-29 alle 13 56 41](https://user-images.githubusercontent.com/2458824/50538587-e902de00-0b71-11e9-9e7a-5260ec12ed1c.png)
![schermata 2018-12-29 alle 13 56 57](https://user-images.githubusercontent.com/2458824/50538588-ed2efb80-0b71-11e9-811f-e1690f8f52f5.png)
![schermata 2018-12-29 alle 13 58 57](https://user-images.githubusercontent.com/2458824/50538592-f029ec00-0b71-11e9-85ed-5

[2018-12-29 13:00] rdy4ever commented on #11933
After you configure sib to manage transactional e-mails, in Advanced parameters -> Mail you should see something like this:
![image](https://user-images.githubusercontent.com/12268701/50538609-79ddb780-0b7a-11e9-95c7-d414b40bc3db.png)

[2018-12-29 13:03] ghost commented on #11909
![schermata 2018-12-29 alle 14 01 15](https://user-images.githubusercontent.com/2458824/50538623-5f9fdb80-0b72-11e9-95af-c59816f8ff48.png)
![schermata 2018-12-29 alle 14 01 49](https://user-images.githubusercontent.com/2458824/50538625-629acc00-0b72-11e9-9ac5-8f3601e3f224.png)
![schermata 2018-12-29 alle 14 02 13](https://user-images.githubusercontent.com/2458824/50538626-6595bc80-0b72-11e9-9fce-7

[2018-12-29 13:04] rdy4ever commented on #11909
@dritancami I see you still don't have "legal_free_text". Please run both of these SQLs:

INSERT INTO chy_configuration_lang (id_configuration, id_lang, value, date_upd) values ((select id_configuration FROM chy_configuration WHERE name = "PS_INVOICE_LEGAL_FREE_TEXT"), 1, "TEXT", NOW());
INSERT INTO chy_configuration_lang (id_configuration, id_lang, value, date_upd) values ((select id_configuratio

[2018-12-29 13:11] rdy4ever commented on #11909
@dritancami if it still doesn't work, you could just DROP `chy_configuration_lang` and reimport it from the attached SQL
[chy_configuration_lang.zip](https://github.com/PrestaShop/PrestaShop/files/2716388/chy_configuration_lang.zip)

[2018-12-29 13:18] Sxpink opened #11949 "bug Use of undefined constant when the website needs to send an email"
Hello everyone i have a really big bug that is been bothering me since days whell when a customer register and the website needs to send an email it shows me a bug also when a customer validate a command and the website needs to send an email it shows me the errors bellow

**Screenshots**

![capturar](https://user-images.githubusercontent.com/46243917/50538748-1056ac80-0b6c-11e9-9f22-b42315c1468c.

[2018-12-29 13:19] ghost commented on #11909
Hurray, the problem is now solved! Thanks a lot @rdy4ever! Thanks - Thanks - Thanks!!!

[2018-12-29 13:19] rdy4ever commented on #11909
@dritancami Great!

[2018-12-29 13:19] #11909 closed, assigned to Quetzacoalt91

[2018-12-29 14:28] gorkij77 commented on #11933
Hi @rdy4ever
Yep, did that, had SiB verify and give me the SMTP details, set them in. Doing a test email as per your first email generates the same crash again. Let me do another cache clear and see. Nope, clicking the test link, or trying to resend mails does the exact same thing :
![sendinblue-test](https://user-images.githubusercontent.com/42741897/50539285-16558900-0b7e-11e9-8999-360540d85643.

[2018-12-29 15:26] agencevelcome commented on #9543
Get the same problem after update in 1.7.5
Does anyone have a solution?
In which version will this be corrected?

[2018-12-29 15:43] Ayman4 opened #11950 "No input file specified."
I installed prestashop on godaddy shared hosting with php 5.6

each time i login to admin page i got an error for catalogue
"No input file specified."

Any help, please

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionna

[2018-12-29 17:28] ahmedabdowp opened #11951 "Voucher block disappear after updating while in order page"
when I remove or add a new voucher while I am in order page the voucher block disappear
while in cart page it works correctly

I've checked the ajax response and I see it has a blank response and here is the issue I think.

here is the link of my website ( https://lesbeautesbio.com )

please add any item to cart for checking then use this voucher ( biocheveux ) to test  the voucher block

[2018-12-29 18:22] rdy4ever commented on #11933
You are right. In my fresh PS 1.7.5 installation, mail doesn't work even through SIB. However, on my old 1.7.2 live shop upgraded to 1.7.5, mail works. I'm trying to figure out what's the difference between the two, as they both currently run 1.7.5.0.
That's weird.

[2018-12-29 18:29] gorkij77 commented on #11933
It really is. I've been banging my head against it for a good bit now. Still waiting for my hosting company to get back to me on the ICU issue, but with christmas-whatevertheholiday in full swing my request seems to have been backlogged. I got an apology-mail, and hopefully an answer tomorrow.

Everything does point to some modification in Swiftmailer or the way it pulls info.

It then gives that

[2018-12-29 18:30] rdy4ever commented on #11933
The fact is that both my working site and my fresh but defective site run on the same server, same php version. So it can't be the ICU.

[2018-12-29 18:33] gorkij77 commented on #11933
I figured as much as well, but I've set them to check. We're still running 2.4.1 I think. ICU's up to 57-something now. Bar that, it's the code.

Checking my hosts settings I'm supposed to be running PHP 7.2.9, in reality it's 7.2.10. Not that it'd matter here.

[2018-12-29 18:53] rdy4ever commented on #11933
Another fun fact: sending a test mail from the email configuration page works, even with PHP mail() function. But sending an email from the order page is kaput.
![image](https://user-images.githubusercontent.com/12268701/50541320-bf66a880-0bab-11e9-91e1-79fa6bca47f0.png)

[2018-12-29 19:20] gorkij77 commented on #11933
Question : Does the email setup page in BO use Swiftmailer or is that just a mail() call?

[2018-12-29 19:23] rdy4ever commented on #11933
I think id does, but I'm not sure.

[2018-12-29 22:25] novallis opened #11952 "no robots.txt after update to 1.7.5.0 with 1-click upgrade"
Robots.txt is gone after upgrade from 1.7.4.4 to 1.7.5.0 with 1-click upgrade (latest version)

[2018-12-29 22:46] ahmedabdowp commented on #11951
i fixed it .

[2018-12-29 22:46] #11951 closed, assigned to nobody

[2018-12-30 10:46] rdy4ever commented on #11952
You can generate it from Traffic and SEO:
![image](https://user-images.githubusercontent.com/12268701/50546478-efa45a80-0c30-11e9-90c9-b52b070336de.png)

[2018-12-30 10:48] rdy4ever commented on #11949
Yeap, same for one of my fresh 1.7.5.0 installation. Could you check if you also experience this issue: #11933?

[2018-12-30 12:31] Sxpink commented on #11949
No didnt came across that problem but i think its related

[2018-12-30 16:01] rdy4ever commented on #11933
Ok, I have spent most of today testing different scenarios:

**Case 1: local machine**
-  Installed 1.7.4.4 -> Mail works correctly as a fresh install
- Updated 1.7.4.4 to 1.7.5.0 via 1 Click Upgrade 4.5.1 -> Mail works correctly after upgrade

SERVER INFO FOR CASE 1:
![image](https://user-images.githubusercontent.com/12268701/50548178-f216ac80-0c50-11e9-8c9b-914e248cf1cf.png)

**Case 2: productio

[2018-12-30 16:06] gorkij77 commented on #11933
Now, me being somewhat of a fool on code, but have we run diffchecks on the MailboxHeader.php for the different releases? My 1.6 install (now dormant, also now running on a 7.2.10 PHP since it's set in a subdir of my mail URL) manages mail just fine. What changed between 1.6.1.20 -> 1.7.4.3 -> 1.7.5.0?

[2018-12-30 16:17] rdy4ever commented on #11933
I don't think the MailboxHeader.php changed. It must be something else. The fact is, 1.7.5 runs well regardin email sending on my local machine. It also runs well on my production site that was last upgraded from 1.7.4.2 to 1.7.5.0. There has to be something related to PS 1.7.5.0 and LiteSpeed server. But then, why my production shop runs well on the same LiteSpeed server but not the fresh install

[2018-12-30 16:19] rdy4ever commented on #11933
Oh, and just tried an upgrade from 1.7.4.2 to 1.7.5.0 and the error is present. This remains a mistery.

[2018-12-30 17:35] sarjon commented on #10611
@matks can you assign it to me? :) as well as this one https://github.com/PrestaShop/PrestaShop/issues/10612 ?

[2018-12-30 21:13] gray-b opened #15195 "Mysql error in upgrading PS1.7.4.4 to PS1.7.5 using 1-click, and cannot display admin/module page."
The following 3 mysql errors displayed in window, when upgrading PS1.7.4.4 to PS1.7.5 using 1-click, and cannot display admin/module page.

[WARNING] SQL 1.7.5.0 1060 in ALTER TABLE ps_supply_order_receipt_history CHANGE employee_firstname employee_firstname VARCHAR(255) DEFAULT ”, CHANGE employee_lastname employee_firstname VARCHAR(255) DEFAULT ”: Duplicate column name ’employee_firstname’

[WARN

[2018-12-30 21:22] gray-b opened #11953 "prestashop stock bug when qty less than zero ( negative number)"
Prestashop stock bug when qty less than zero ( negative number )

Using PS1.7.4.4

![prestashop stock bug1](https://user-images.githubusercontent.com/22105014/50551451-6c0e5c00-0c78-11e9-94a7-e6b1609155a9.jpg)

![prestashop stock bug2](https://user-images.githubusercontent.com/22105014/50551456-77618780-0c78-11e9-804a-668775179862.jpg)

The actual stock settings have been set to not accept orders

[2018-12-30 21:24] gray-b opened #11954 "PS 'private note' on admin/order page does not work"
PS 'private note' on admin/order page does not work.

Using PS 1.7.4.4

![prestashop private note](https://user-images.githubusercontent.com/22105014/50551499-52214900-0c79-11e9-9123-f76b0d5eed4d.jpg)

[2018-12-30 21:28] gray-b opened #11955 "PS 'private note' on admin/order page does not work"
PS 'private note' on admin/order page does not work

Using PS1.7.4.4

![prestashop-summary1](https://user-images.githubusercontent.com/22105014/50551520-990f3e80-0c79-11e9-9b25-bd06099a01a7.jpg)

This also has a knockon effect with invoicing pages.

[2018-12-30 21:29] #11955 closed, assigned to nobody

[2018-12-30 21:32] gray-b opened #11956 "Currency decimal points do not show correctly, and summary figures are not correct."
Currency decimal points do not show correctly, and summary figures are not correct.

Using PS1.7.4.4

![prestashop-summary1](https://user-images.githubusercontent.com/22105014/50551560-5306aa80-0c7a-11e9-99b5-e8ab1a5229a6.jpg)

This has a knockon effect with invoices.

[2018-12-30 21:41] gray-b opened #11957 "Order page 'Payment block' layout is under the 'Messages block'."
Order page 'Payment block' layout is under the 'Messages block'.

Using PS1.7.4.4

![ps order page layout](https://user-images.githubusercontent.com/22105014/50551605-8b5ab880-0c7b-11e9-8288-69ed6164ce17.jpg)

[2018-12-30 21:46] gray-b opened #11958 "Upgrading PS1.7.4.2 to PS1.7.5 does not complete using 1-click stops with 7000 files to go."
Upgrading PS1.7.4.2 to PS1.7.5 does not complete using 1-click

I have tried a number of times in upgrading to PS1.7.5 but the upgrade window stops with about 7000 files left to process. The number 7000 is not consistent every time I upgrade, but its an average.

No error message is thrown, it just stops. All the other buttons on the page works, so I can get out of it, and then try another upgrade

[2018-12-31 02:47] BenTen opened #11959 "Password with the character \ doesn't work in BO"
Hello,
I just notice than password with the character \ doesn't work to connect to the BO.

Steps to reproduce the behavior:
1. Go to 'Team'
2. Create an account
3. Write the password with \ , for example: 1234\56789
4. Save
5. Notice you can save it without issue.
6. Try to connect with this account and password.
7. See the message "The employee does not exist, or the password provided is incorre

[2018-12-31 06:13] sonGramz opened #11960 "Can't finish upgrade from 1.7.4.4 to 1.7.5.0"
**Describe the bug**
I am using bitnami cloud hosting, Prestashop 1.7.4.4

Everything was working fine. I tried to upgrade to 1.7.5.0 and now my installation doesn't work and is full of 500 HTTP errors, including front and back office (luckily I can still access the 1 click upgrade module).

Things I've tried:
Changing the file permissions of the whole htdocs directory to 777 just to make sure it

[2018-12-31 07:48] khouloudbelguith commented on #11957
Hi @gray-b

I did not manage to reproduce the issue with the version PS 1.7.4.4 & PS 1.7.5.0.
I attached a screenshot.
![11957](https://user-images.githubusercontent.com/16067358/50556389-c9d29080-0cd8-11e9-917c-f79ce0f92cca.png)
Thanks to check and feedback.

Thanks,
Khouloud

[2018-12-31 08:39] khouloudbelguith commented on #11950
Hi @Ayman4

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/how

[2018-12-31 09:18] khouloudbelguith commented on #11956
Hi @gray-b

Could you please add steps to reproduce your issue in a new comment.

Thanks,
Khouloud

[2018-12-31 09:29] khouloudbelguith commented on #11948
Hi @centoasa

Is your problem solved?

Thanks,
Khouloud

[2018-12-31 09:36] centoasa commented on #11948
@khouloudbelguith Solved disabling nginx and restore apache.
But if you've an installation with nginx as engine, you can ceck as I said.

[2018-12-31 09:37] matks commented on #10611
@sarjon I like when you say this ❤️

[2018-12-31 09:40] centoasa commented on #9591
@khouloudbelguith  No news about this bug?
This issue is still present in 1.7.5
http://nimb.ws/VcovEF
and http://nimb.ws/lCmohr

[2018-12-31 09:44] khouloudbelguith commented on #11953
Hi @gray-b

Thanks for your report.
Here's the PR: #8478 to solve the issue.
Thanks to check and feedback.

Thanks,
Khouloud

[2018-12-31 09:50] khouloudbelguith commented on #11954
Hi @gray-b,

I manage to reproduce the issue with the last version : PS 1.7.5.0.
We will see how to fix it.

Thanks,
Khouloud

[2018-12-31 10:13] Werbike commented on #11944
Didn't helped.. Caches are still on "Yes"
![image](https://user-images.githubusercontent.com/40056329/50522110-86ee9e00-0ac9-11e9-9da3-762410e5771e.png)

[2018-12-31 10:14] khouloudbelguith commented on #11959
Hi @BenTen

I manage to reproduce the issue with the last version PS 1.7.5.0.
We will see how to fix it.

Thanks,
Khouloud

[2018-12-31 10:16] khouloudbelguith commented on #11947
Hi @elmanu13,

We manage to reproduce the issue.
Your ticket is a duplicate of #9833
So, I close it.
Thanks!

[2018-12-31 10:21] khouloudbelguith commented on #11952
Hi @novallis,

Could you please regenerate your robots.txt from Configure => Shop parameters => Traffic & SEO => Generate robots.txt file.
Thanks to check and feedback.

Thanks,
Khouloud

[2018-12-31 10:35] khouloudbelguith commented on #11960
Hi @sonGramz,

What is the exact version of the module 1-click upgrade?

Thanks,
Khouloud

[2018-12-31 10:37] khouloudbelguith commented on #11958
Hi @gray-b,

What is the exact version of the module 1-click upgrade?

Thanks,
Khouloud

[2018-12-31 11:21] sonGramz commented on #11960
1-Click Upgrade
v4.5.1 - by PrestaShop

Thanks!

[2018-12-31 12:46] chrome12312 opened #11963 "Can't create db backup on Prestashop 1.7.5.0"
500 Internal server error when creating db backup - php 7.2

[2018-12-31 13:13] khouloudbelguith commented on #11963
Hi @chrome12312,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.c

[2018-12-31 13:23] khouloudbelguith commented on #11949
Hi @Sxpink,

Could you please try to install php-intl extension.
Thanks to check and feedback.

Thanks,
Khouloud

[2018-12-31 13:31] novallis commented on #11952
Regenerated and OK, but:
Maybe it is better do not delete or overwrite existing robots.txt and also htaccess in admin-folder because the may be customized. If this works for htacces in root why not for robots.txt and htaccess in admin?

Anyway, thanks for help and answer,
regards

[2018-12-31 13:31] khouloudbelguith commented on #11960
Hi @sonGramz,

I did not manage to reproduce the issue.
I have made an upgrade from PS 1.7.4.4 to PS 1.7.5.0 with the module 1-click upgarde V4.5.1 and is done successfully.
Thanks to check and feedback.

Thanks,
Khouloud

[2018-12-31 13:45] HartLarsson opened #11964 "Google Sitemap - incorrect "Home""
Google Sitemap module v3.2.2 for PS 1.6.1.x is generating wrong URL link for root category = home.

**To Reproduce**
Visit the sitemap.xml and you will found a 404 error url like:

`<url>
<loc><![CDATA[https://www.angelovintage.com/en/2-home]]></loc>
<priority>0.8</priority>
<lastmod>2017-01-16T08:59:54+01:00</lastmod>
<changefreq>daily</changefreq>
</url>
`

**Screenshots**
I provide a sample sit

[2018-12-31 14:07] rdy4ever commented on #11933
Hi @gorkij77
Just made another test installation on my LiteSpeed server, this time [1.7.5.0 Beta 1](https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.5.0-beta.1). This version works fine regarding mail sending. So whatever broke is something in **PrestaShop 1.7.5.0 Release Candidate 1** or **PrestaShop 1.7.5.0** changelog. #11533 in PrestaShop 1.7.5.0 Release Candidate 1 changelog looks mo

[2018-12-31 14:07] khouloudbelguith commented on #11952
Hi @novallis,

After the generation of the htaccess files and robots.txt, they return to these intial ways.

Thanks,
Khouloud

[2018-12-31 14:11] khouloudbelguith commented on #11948
Hi @centoasa,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

Best regards,
Khouloud

[2018-12-31 14:36] rdy4ever commented on #11933
@gorkij77 I finally cracked it. This is the PR that broke e-mail sending for some of us: **Remove deprecated functions #11579**
Reverting the change in `classes/Mail.php` makes e-mail sending work again:
![image](https://user-images.githubusercontent.com/12268701/50562144-2e620f80-0d1a-11e9-8954-8728fd2397ca.png)
Give it a try. It worked for me. It seems that some servers are still running ICU<4.6

[2018-12-31 14:48] rdy4ever commented on #11949
Hi. Try this: https://github.com/PrestaShop/PrestaShop/issues/11933#issuecomment-450652659

[2018-12-31 14:50] cy-altern commented on #11960
I have the same problem with this error message:
"Error while copying file \app\.htaccess
Error when trying to upgrade file \app\.htaccess.
[INTERNAL] D:\applis_web\prestashop_174\modules\autoupgrade\classes\TaskRunner\Upgrade\UpgradeFiles.php line 192 - copy(D:\applis_web\prestashop_174\app\.htaccess): failed to open stream: Permission denied"
**Note that the all files and directorys are in RWX m

[2018-12-31 15:00] Matt75 commented on #11933
Problem come from an undefined constant INTL_IDNA_VARIANT_UTS46 due to server configuration issue.

This constant has been introduced in PHP 5.4 but depend of the php-intl extension, this constant require ICU > 4.6 but @gorkij77 use ICU 4.2.1.

So you have to upgrade your ICU version, contact your hosting provider.

For information currently the ICU version is 63.1 ^^

[2018-12-31 15:01] matks commented on #11933
Hi @rdy4ever,

Thanks for the hard debugging work 😉

Parameter `INTL_IDNA_VARIANT_UTS46` is available since ICU 4.6 (see php official doc http://php.net/manual/en/intl.constants.php). It was added in order to comply with php7.2 requirements (see php official doc http://php.net/manual/fr/function.idn-to-ascii.php)

It looks like this is a known issue about upgrading to php7.2 : https://externals.io

[2018-12-31 15:06] rdy4ever commented on #11933
Hi @matks
I know this is actually a server issue, but it seems there are a lot of hosting providers that didn't bother to upgrade ICU on their servers. This means that in the next days or weeks (when people will strat to upgrade to 1.7.5 after the hollydays) more and more people will be affected by this issue. The question is: shouldn't this requirement be posponed for a while? Or at least add a m

[2018-12-31 15:07] gorkij77 commented on #11933
@rdy4ever Excellent, that sorted it. Thanks a bundle!

@Matt75 I've been in contact with them. However, not all providers will do so for, you know, reasons. Is there a way to add redundancy for systems running old releases - perhaps to issue a notification in installation/back office? That would remove *a lot* of headaches for non-troubleshooting users - y'know, the normal joe scmoue who basically

[2018-12-31 15:09] matks commented on #11933
@rdy4ever Yes, I was not saying "this is not an issue" 😅 I was rather hooking into the discussion

Yes you're right : at least we need a warning message to tell people about this requirement. However we're going to first try to find a way to handle it without bothering people ;) because it's just a constant, there might be a workaround here.

[2018-12-31 15:11] khouloudbelguith commented on #11964
Hi @HartLarsson,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Thanks,
Khouloud

[2018-12-31 15:12] khouloudbelguith commented on #11964
Hi @HartLarsson,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
Your bug isn’t critical or a security issue, so it will not be fixed, that’s why I close it.

Best regards,
Khouloud

[2018-12-31 17:00] servidiomarco opened #11993 "error 500 while switching over templates and after clicking to Theme and Logo in BO"
**Describe the bug**
error 500 while I was switching from other template to Classic template and now issue appear after clicking to Theme and Logo in BO
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Design'
2. Click on '.Theme and logo'
3. See error

**Screenshots**
video:   https://vimeo.com/308908388

"debug on" screenshot:
![screen shot 2018-12-31 at 16 56 15](https://user-images.

[2018-12-31 17:58] sonGramz commented on #11960
@khouloudbelguith Thanks I understand. But please, do you have any suggestions on how I may solve this problem? I have not made any modifications to the original code. :(

[2018-12-31 18:37] gray-b commented on #11957
Any idea why I have got it. Have you tested it on different screen sizes?

[2018-12-31 19:18] gray-b commented on #11956
Sorry - I do not seem to be able to replicate problem.

[2018-12-31 19:18] #11956 closed, assigned to nobody

[2018-12-31 19:31] gray-b commented on #11958
module 1-click version 4.5.1

[2019-01-01 01:15] ndegory opened #11994 "Typos in Prestashop 1.7.5.0 DB upgrade"
**Describe the bug**

Upgrading Prestashop to 1.7.5.0 generates error messages related to the DB upgrade, and doesn't leave the DB with the expected changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Prestashop in a version lower than 1.7.5.0 (i.e. 1.6.1.23), with 1-click module up to date
2. Execute the 1-click upgrade procedure
3. Check the logs in the browser, or in admin/au

[2019-01-01 10:00] matks commented on #11994
Hi and thanks for the report 😉 we already got the bug report in https://github.com/PrestaShop/PrestaShop/issues/11812 and it's fixed in https://github.com/PrestaShop/PrestaShop/pull/11814

[2019-01-01 20:11] ndegory commented on #11994
Thanks @matks, sorry for the duplicate.

[2019-01-01 20:11] #11994 closed, assigned to nobody

[2019-01-01 21:52] julianmatz commented on #11634
Could you please re-open this? If you want to stick with this as a feature, okay, but you are changing people's file permissions without their knowledge - people upgrade their Prestashop installation and suddenly, they have world-write permissions across their public HTML file tree. There is no apparent/easy way to disable the feature, there is no warning, and there doesn't seem to be anything doc

[2019-01-02 04:35] anuradhakrishnatry commented on #9956
Sorry if this is already addressed but I did update to prestashot 1.7.5 and pagination is still not working. Any update on this issue will be highly appreciated.

[2019-01-02 06:44] #11964 closed, assigned to nobody

[2019-01-02 06:47] khouloudbelguith commented on #11994
Duplicate of #11812

[2019-01-02 06:57] khouloudbelguith commented on #11993
Hi @servidiomarco

Some server disables `putenv` because of security reason.
Your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
You should contact your host provider, they are the only ones to help you with it.
We have updated the Symfony version, this new version use the Putenv function.
Thanks to check with your host and feedback.

[2019-01-02 07:13] khouloudbelguith commented on #11958
Hi @gray-b,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt
Thanks!

[2019-01-02 07:48] khouloudbelguith commented on #9956
Hi @anuradhakrishnatry,

This issue is not fixed yet.
It is added to our bug roadmap.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2019-01-02 07:51] khouloudbelguith commented on #11956
Hi @gray-b,

Thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-01-02 07:52] khouloudbelguith commented on #11957
Hi @gray-b,

Sorry, we manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9863
So, I close it.
Thanks!

[2019-01-02 07:52] #11957 closed, assigned to nobody

[2019-01-02 07:53] khouloudbelguith commented on #11957
Duplicate of #9863

[2019-01-02 08:11] MSiliunas commented on #11914
@khouloudbelguith Sorry for late response.
I'm using `Classic` theme by PrestaShop (v 1.0.0). So it's not a problem with the theme (I suppose).
What I didn't mention is that I use `1-Click Upgrade` for PS upgrade.

[2019-01-02 08:13] khouloudbelguith commented on #11947
Duplicate of #9833

[2019-01-02 08:19] khouloudbelguith commented on #11954
Hi @gray-b,

After some tests with other shops.
I did not manage to reproduce the issue with PS1.7.4.4 & PS1.7.5.0.
It is OK.
I attached a video record.
https://drive.google.com/file/d/1Sk46PnL7zLebXS9WE9lFeqUM1te_fwKg/view
The customer private note will be, only be displayed (not send!) to the employees, not to the customer him/herself. It's a field where you can write about that customer, for ex

[2019-01-02 08:30] #11947 closed, assigned to nobody

[2019-01-02 08:44] marionf commented on #11954
Hello,

Despite our several trials, we could not reproduce your issue with the provided information.
The private comment is well saved

Best regards.

[2019-01-02 08:44] #11954 closed, assigned to nobody

[2019-01-02 08:56] khouloudbelguith commented on #9591
Hi @centoasa,

Yes, I manage to reproduce the issue with PS1.7.5.0.
Sorry, it is not fixed yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2019-01-02 09:00] khouloudbelguith commented on #15195
Hi @gray-b,

The warnings are not a serious problem. A fix is available in https://github.com/PrestaShop/PrestaShop/pull/11814
About your issue, it could be a cache issue.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
If, it is still NOK, thanks to remove the 1-click upgrade module.
Thanks !

[2019-01-02 09:08] #11886 closed, assigned to nobody

[2019-01-02 09:13] #11921 closed, assigned to nobody

[2019-01-02 09:13] gray-b commented on #11954
So this function of 'private note' is only a one off note. It does not retain all the previous notes entered. Previous notes are over written ?

[2019-01-02 09:17] #11541 closed, assigned to tomlev

[2019-01-02 09:17] #11520 closed, assigned to tomlev

[2019-01-02 09:18] khouloudbelguith commented on #9543
Hi @agencevelcome,

We have migrated the SQL Manager page, it will be integrated into the next release PS1.7.6 & the issue will be fixed.
I attached a video record.
https://drive.google.com/file/d/1K8RuJrUamd2e1tjDIPnRnSGYMK17FGD-/view
Thanks!

[2019-01-02 09:18] #9543 closed, assigned to nobody

[2019-01-02 09:20] matks commented on #11619
Here are questions about the work to be done for 1.7 :
- if we install modules A and B both using Composer, which both use the same library such as https://github.com/moneyphp/money : should the dependency be installed in both `vendor` folders for modules A and B (=> duplication)
 - if we install modules A and B both using Composer, which both use a library *used by PrestaShop core* such as Swiftm

[2019-01-02 09:31] khouloudbelguith commented on #11954
@gray-b, no, it is just a note will be displayed to the employees, does not retain all the previous notes.
Thanks!

[2019-01-02 09:35] gray-b commented on #11957
I reported this on http://forge.prestashop.com/browse/BOOM-6135 but no action

[2019-01-02 09:38] gray-b commented on #15195
If I remove the 1-click upgrade module, how can I do an upgrade (apart  from a manual one). Or do you want me to reinstall the 1-click upgrade module ?

[2019-01-02 09:43] #11925 closed, assigned to PierreRambaud

[2019-01-02 09:43] PierreRambaud commented on #11619
If dependencies are not merged, what behavior should have:
* Install module A with Guzzle 6.3
* Install module B with Guzzle 5.3
* Core use Guzzle 5.3

1) Install everything in vendor and say module A is not compatible
2) Install in module's vendor and everything should work
3) Install Guzzle 6.3 in module vendor, and module B use Core dependency? (reduce space usage)

[2019-01-02 09:47] khouloudbelguith commented on #11957
@gray-b, yes it is the same issue here https://github.com/PrestaShop/PrestaShop/issues/9863, it is added to our bug roadmap but it is not fixed yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2019-01-02 09:53] khouloudbelguith commented on #15195
@gray-b, in your issue you just said that the upgrade has been successful, so the auto-upgrade is completed & now you have the last version 1.7.5.0, so you can remove the 1-click upgrade module.

[2019-01-02 10:00] khouloudbelguith commented on #11960
Hi @sonGramz,

It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.5.0
The solution is to add the missing columns to your database schema.
You can find the schema changes from 1.7.4.3 to 1.7.5.0 by looking at this file: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.x/install-dev/upgrade/sql/1.7.5.0.sql

You can find the full

[2019-01-02 10:08] khouloudbelguith commented on #11949
Hi @Sxpink,

I believe you may be running a server with a ICU<4.6, Try to know the version of ICU in your php info.
http://kb.mediatemple.net/questions/764/How+can+I+create+a+phpinfo.php+page%3F#gs
Thanks to check & feedback.

[2019-01-02 10:26] pveron opened #11998 "Cannot download language pack when using install with index_cli"
Obtain error when using index_cli to install fresh downloaded prestathop 1.7.5.0

php /****/install/index_cli.php --domain=www.****.fr --db_server=localhost --db_name=**** --db_user=**** --db_password=**** --language=fr --prefix=pscha63w_ --firstname="****" --lastname="****" --name="****" --password=**** --email=****
Errors :
Cannot download language pack "fr"

Same error when i remove --language

[2019-01-02 10:32] Quetzacoalt91 commented on #11960
Interesting, it seems a anti slash has been escaped / forgotten. We'll dig into this. However ...

As this kind of comment absolutely doesn't help, you may keep them for you.

[2019-01-02 10:37] marionf commented on #10316
@matks I can't reproduce anymore this one develop branch, so I close it.
Maybe we can close also #10908 ?

[2019-01-02 10:37] #10316 closed, assigned to matks

[2019-01-02 10:52] gray-b commented on #15195
Sorry what I meant to say was how do I then do an upgrade in the future.

[2019-01-02 10:55] matks commented on #10316
@marionf It's good news although I dont know it got fixed 😅

I'm a bit worried though as someone reported the issue again this last week 😢 https://github.com/PrestaShop/PrestaShop/issues/9543

[2019-01-02 11:17] marionf commented on #10908
I can't reproduce it on develop branch

[2019-01-02 11:17] #10908 closed, assigned to nobody

[2019-01-02 11:29] eternoendless commented on #11619
Remember, in 1.7 we aren't doing anything fancy, just _keeping it working the way it has until now_.

Currently, when a module is installed via the Back Office, it includes its own `vendor` directory. We should simply try using a [Custom installer](https://getcomposer.org/doc/articles/custom-installers.md) to make it behave the same way when importing modules using composer.

It's not about how it

[2019-01-02 13:09] matks commented on #11619
@eternoendless I guess you expect Guzzle 5.3 to be installed in `vendor/guzzle`, Guzzle 7.3 to be installed in `modules/module_a/vendor/guzzle` and Guzzle 6.3 to be installed in `modules/module_b/vendor/guzzle` then ?

[2019-01-02 13:28] khouloudbelguith commented on #11998
Hi @pveron,

Could you please try with this line command

`php ProjectFolder/install-dev/index_cli.php --language=en --country=fr --domain=xxx --db_server=xxx --db_user=root --db_name=developbranch --db_password=xxx --firstname=Demo --lastname=Prestashop --email=demo@prestashop.com --password=prestashop_demo --db_create=1`

thanks to check & feedback

[2019-01-02 13:37] khouloudbelguith commented on #15195
@gray-b, in the future, you need to install the latest version of the 1-click upgrade module.
Thanks!

[2019-01-02 13:40] khouloudbelguith commented on #11944
Hi @Werbike,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.
Thanks!

[2019-01-02 13:40] #11944 closed, assigned to nobody

[2019-01-02 14:00] loetje88 opened #11999 "Product stock not working PS 1.7.4"
Product stock is not working on combinations.

When entering 5 voor comb A and 0 for comb B in BO, both shows "in stock" FO.
Also when allowing backorders, status is not being refreshed to actual status.

When entering 5 for comb A and 5 for comb B, and order 6, it still shows "in stock"'. while it should show "backorder" (since stock is 5 and not 6).
When adding to cart, it shows nothing, but whe

[2019-01-02 14:06] loetje88 opened #12000 "Product combinations are not shown and cannot be removed"
In PS 1.7.4 (.3 and .4), new product combinations dont show op in backoffice when making product.
Only default demo combinatiosn can be selected.
Combinations do show up under attributes list.

Problem is because of changing and deleting default language by prestashop (changing english to another default and remove english) which causes the soutce code not to comply anymore with numbers of languag

[2019-01-02 14:10] eternoendless commented on #11619
That's right

[2019-01-02 14:29] khouloudbelguith commented on #12000
Hi @loetje88,

Have you the same issue with this ticket: #9627?
Thanks to check & feedback.

[2019-01-02 14:40] khouloudbelguith commented on #11999
Hi @loetje88,

I did not manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
I attached a video record.
https://drive.google.com/file/d/1A-F3qD8GXGTyOdSvi_iEET1whpRgcdyb/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error

[2019-01-02 14:43] matks commented on #11596
Not yet as we are still experimenting around CQRS : we have not fixed 100% "how CQRS is used in prestashop". Once we have explored all issues it creates (because adding something in a software project always creates issues 😄 ) and fixed them, we will write the doc.

I'm sorry right now we dont have this workflow. My advice would be to keep the good old ObjectModel behavior but wrap it inside a cla

[2019-01-02 14:58] khouloudbelguith commented on #11942
Hi @Leous88,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

A

[2019-01-02 15:07] khouloudbelguith commented on #11914
Hi @MSiliunas,

Despite our several trials, we could not reproduce your issue with the provided information, so we closed the issue.
In your case, try to uninstall the ps_linklist module, remove the ps_linklist folder from your projectFolder/modules/, clear cache & try to install the new version of the ps_linklist.
Thanks!

[2019-01-02 15:43] matks commented on #10504
Note: see https://github.com/PrestaShop/PrestaShop/pull/11196#issuecomment-450896061

[2019-01-02 15:49] loetje88 commented on #11999
Hi Khouloud,

You have recorded without status on FO.

I have attached 2 videos from my ps 1.7.4.
There are no error reports available since it does not give an error.

https://www.dropbox.com/sh/h9c60fws1ctinjc/AAA1P_w5J5-o1g7pKV8Lwxsda?dl=0

thanks!

[2019-01-02 15:50] loetje88 commented on #12000
Hi Khouloud,

No not exactly - i dont have any attributes at all which i make myself.
Only the default ones by prestashop demo content.

[2019-01-02 15:58] ghost opened #12002 "Search reindex not working 1.6.1.4 and also after upgrade to 1.6.1.23"
Any ideas why can't add more than 971 products?
![search](https://user-images.githubusercontent.com/8243273/50599817-69497c00-0eaf-11e9-93c0-7ff283797cad.png)

Also notticed that some of the products missing from the admin area but they are still in database...

Thanks for hints

[2019-01-02 15:59] #11933 closed, assigned to nobody

[2019-01-02 16:09] khouloudbelguith commented on #12000
@loetje88, so the block of the list of attributes is not displayed created by you?
![image](https://user-images.githubusercontent.com/16067358/50600336-17095a80-0eb1-11e9-85f8-f04d4f3d0680.png)
Thanks!

[2019-01-02 16:13] loetje88 commented on #12000
hi khouloud,

No, none of the attributes i make myself.
These above block are demo content, to that are the only ones available.
But if i make (for example)

Decor
- Flowers
- Vase
-Book

This, an other custom made, are not shown at the product making.
They only show in attributes list under "Attributes"- not in the combination section of the product.

[2019-01-02 16:17] khouloudbelguith commented on #11999
@loetje88, could you please share me a video record.
I downloaded the file provided but I cannot open those records.
Thanks!

[2019-01-02 16:18] khouloudbelguith commented on #12000
@loetje88, have you tried to apply this patch https://github.com/PrestaShop/PrestaShop/pull/10924/files ?
Thanks!

[2019-01-02 16:47] khouloudbelguith commented on #12002
Hi @PrestaShark,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-01-02 16:48] PierreRambaud commented on #11251
@colinegin I think it is a good idea to change wording.

[2019-01-02 16:54] PierreRambaud commented on #9566
@colinegin @eternoendless What should we do? Increase token lifetime? Change error message?

[2019-01-02 17:15] khouloudbelguith commented on #12002
@PrestaShark, I tried with PS1.6.1.23 & it is ok.
![image](https://user-images.githubusercontent.com/16067358/50603297-57210b00-0eba-11e9-8ba0-f0f963e83eb9.png)
Thanks!

[2019-01-02 19:53] loetje88 commented on #11999
Hi khouloud,

What do you mean y video record?
These were the video records from camtasia, is the problem in the file extension?

thanks!

[2019-01-03 02:46] dineshbadrukhiya commented on #12000
@loetje88 Have you tried this patch that I have fixed : [https://github.com/PrestaShop/PrestaShop/pull/10924](url)

[2019-01-03 02:47] dineshbadrukhiya commented on #12000
@loetje88 Have you tried this patch that I have fixed : #10924

[2019-01-03 07:47] khouloudbelguith commented on #11999
Hi @loetje88,

Yes, there is a problem with the `camrec` extension.
Thanks!

[2019-01-03 08:38] loetje88 commented on #11999
Hi Khlouloud,

Sorry for that! Didnt thought of it.

I have uploaded them in AVI, will that work?
https://www.dropbox.com/sh/h9c60fws1ctinjc/AAA1P_w5J5-o1g7pKV8Lwxsda?dl=0

[2019-01-03 09:16] khouloudbelguith commented on #11999
@loetje88, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.4.4 & the default theme provided by PrestaShop.
I attached a video record
https://drive.google.com/file/d/1-RybGQ5dPQdMtJ3T8Pk6O7QOjAC6cnKN/view
Did you a custom theme? have you tried to contact the theme author about your issue?
Thanks!

[2019-01-03 09:20] SebBareyre commented on #11450
Yes @matks but, in my case, I don't need `vendor` directory in my module..

[2019-01-03 09:20] eternoendless commented on #9566
I think we could start by using a specific message for this error and encourage the user to send the form again. Maybe we could also extend the token lifetime a bit?

What do you think, @colinegin?

[2019-01-03 09:43] idnovate opened #12005 "Search for mail templates in modules"
**Is your feature request related to a problem? Please describe.**
Module mail templates can not be selected in order status mail templates dropdown

**Describe the solution you'd like**
Modify function `getTemplates()` from `AdminStatusesControllerCore` controller to retrieve also module mail templates.
A similar function is used at `checkAndAddMailsFiles()` from `AdminTranslationsControllerCore`

[2019-01-03 09:43] loetje88 commented on #11999
hi khouloud,

I noticed that indeed in the default theme it is working!
i have mailed the theme developer for this matter.

Sorry to take up your time, and thanks for the help!

[2019-01-03 09:47] khouloudbelguith commented on #11999
@loetje88, it's not the default theme, provided by Prestashop, we can't do anything with this, they are the only ones to help you with it.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-03 09:47] #11999 closed, assigned to nobody

[2019-01-03 10:04] PierreRambaud commented on #11619
Not sure it's possible to do something like that with PHP :disappointed:

[2019-01-03 10:21] lutol commented on #9726
This could be fixed without removing safeOutput function in CheckoutSession.php.

Presta developers can easily change in classes/tools.php for:
[code]

[2019-01-03 10:24] khouloudbelguith commented on #9726
Hi @lutol,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-01-03 10:30] khouloudbelguith commented on #12005
Hi @idnovate,

Thanks for your report.
@marionf, @colinegin what do you think?
Thanks!

[2019-01-03 10:40] colinegin commented on #11900
Thanks for your idea @LouiseBonnard ! I agree with you, but let's discuss it more indepth with the team next tuesday !

[2019-01-03 10:49] khouloudbelguith opened #12006 "In the input "generate" block only 5 attributes with similar names will be displayed"
**Describe the bug**
In the BO => Products => Product detail page => Combinations Tab, when we have more than 5 attributes start with the same characters => in the input "generate" block only 5 attributes will be displayed.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Atributes => Create more than 5 attributes which they start with the same characters
![image](https:

[2019-01-03 11:16] LouiseBonnard commented on #11251
@BenTen, there are several mentions of the strings 'Address', 'Addresses' or 'My addresses' in the front office, you can find it [here](https://crowdin.com/project/prestashop-official/ja#/1.7.2/Shop) on Crowdin. Do you mind having a look at all the translations suggested and let me know what would be the best so that we can solve this issue? I'm afraid my skills in Japanese are not accurate enough

[2019-01-03 11:22] Madalina-nadari commented on #10316
Hi,
I have the same "checkedForm" error when i'm trying to save the following query, on Prestashop 1.7.4.3:
 SELECT p.id_product, p.active, pl.name AS 'Name',
    GROUP_CONCAT(DISTINCT(cl.name) SEPARATOR ',') AS 'Categories (x,y,z...)',
    p.price AS 'Price tax excluded or Price tax included',
    p.id_tax_rules_group AS 'Tax rules ID',
    p.wholesale_price AS 'Wholesale price',
    p.on_sale AS

[2019-01-03 11:51] web-fu commented on #11946
I used Payment via Credit Card (using this module : https://addons.prestashop.com/en/payment-card-wallet/7430-payment-with-credit-card-by-setefi-intesa-san-paol.html) but I think the problem is general

[2019-01-03 11:55] PierreRambaud commented on #10316
You need to upgrade to the latest version of PrestaShop to get the fix :)

[2019-01-03 11:59] mskuser1 opened #12008 "[Web Service] Get all products information in one request"
Hi,
I want to list all the information of a product, this means i want the product, the combination, the product_option_values, product_options and more. If I do `https://zzzzz/api/products/1?&ws_key=myKey` I get the id's and i have to make many requests which may take a lot of time.

Is there a way to have it all with one request?

thanks in advance

[2019-01-03 12:13] Madalina-nadari commented on #10316
Ok. Thanks a lot!

[2019-01-03 12:18] matks commented on #10316
Mmmm ... not sure. @marionf found the issue is fixed on `develop` branch but in 1.7.5.0 I'm not sure

[2019-01-03 12:22] Madalina-nadari commented on #10316
ok..so i'll upgrade to 1.7.5 and see if it's working.. if not...what can I do? I really need to export my products. Can a module for export overwrite the issue ?

[2019-01-03 12:52] Kharabet opened #12009 "Unexpected behaviour with shipping price. It's free until payment (with any carrier). But shipping cost is correct after payment. Found the fix but it's also very strange."
**Describe the bug**
When you add something to cart - shipping is always free even if carrier is not free shipping.

![image](https://user-images.githubusercontent.com/14793248/50637369-74111900-0f62-11e9-9ec6-e7cb131ab5cf.png)

next step..

![image](https://user-images.githubusercontent.com/14793248/50637408-9acf4f80-0f62-11e9-8637-2633b7816c0b.png)

Only when you confirm the order you see actual

[2019-01-03 13:02] matks commented on #10316
@Madalina-nadari Is there something that prevents you from running your SQL query on your database ?

[2019-01-03 13:04] khouloudbelguith commented on #11946
@web-fu, this issue occurs only with a single customer or for all the customers created?
Thanks!

[2019-01-03 13:08] Madalina-nadari commented on #10316
When I make the query I wrote above, or any other one, i get the checkedform error  - undefined.. The query can't be saved... I've tried the same query for another site with 1.7.0 and it's working just fine...
I am not a specialist..just trying to find an answer so I can solve this problem..

[2019-01-03 13:18] marionf commented on #11929
ping @Joukz

[2019-01-03 13:22] Maofree opened #12011 "The bulk actions to uninstall modules does not work on 1.7.5.0"
Hi
the bulk actions to unistall modules does not work on 1.7.5.0
if I do manually it is ok but one by one

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/50639739-d0743880-0f62-11e9-85b1-f6631e78fec5.png)

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: 7.0

[2019-01-03 13:27] #11265 closed, assigned to nobody

[2019-01-03 13:29] colinegin commented on #11264
@NadiaCamard any news on the page new design ?

[2019-01-03 13:32] khouloudbelguith commented on #11948
Hi @centoasa,

Yes, I manage to reproduce the issue with PS1.7.5.0 & nginx & friendly URL is disabled the the link of a product shared is not correct.
I attached a video record.
https://drive.google.com/file/d/1oCY_IZJ5LffanSLxgVrJTWUTcurznzZs/view
When I use nginx & friendly URL is enabled => OK.
https://drive.google.com/file/d/1u9fSniGKEXhJLTFAvsH6Iys7A5akpV2m/view
We will see how to fix it.
Tha

[2019-01-03 13:34] BoutiquesInternet opened #16987 "Tools::getIsset(Tools::getValue('id_shop')) return false"
Hi,

In multistore mode, Tools::getIsset(Tools::getValue('id_shop')) return false;
With this URL : https://domain.com/modules/gsitemap/gsitemap-cron.php?token=XXXXX&id_shop=21
line 52 in gsitemap-cron.php

gsitemap version : 4.1.0
Prestashop version : 1.7.4.3

[2019-01-03 13:38] PierreRambaud commented on #10316
And what about using phpmyadmin or a tool provide by your host?

[2019-01-03 13:47] centoasa commented on #11948
@khouloudbelguith please, can you post me the full prestashop.conf nginx configuration to have full link rewrite (all core links, modules, etc)

[2019-01-03 13:48] rdy4ever commented on #12009
Hi
This is strange. In my shop the shipping cost is displayed as soon as a product is added to cart:
![image](https://user-images.githubusercontent.com/12268701/50640900-f273b800-0f6e-11e9-8897-cbbf37d39159.png)
Do you use a contrib shipping module for DHL or did you just set it up in the Carriers page? If it's a module, then the problem is with the module and not Prestashop core and you should co

[2019-01-03 13:51] khouloudbelguith commented on #12009
HI @Kharabet,

In my case, I did not manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
As @rdy4ever said, did you use any custom module for your carrier?
Thanks!

[2019-01-03 13:55] khouloudbelguith commented on #11948
@centoasa, here's my nginx configuration
[code]
Thanks!

[2019-01-03 14:03] Kharabet commented on #12009
Hi @rdy4ever

I use embeded shipping module which i get from this repo with Prestashop. It's just a carrier which I did set up in BO with DHL logo.
This is out of the box prestashop. I didn't make any changes in code, except some css.

[2019-01-03 14:07] marionf commented on #10316
It's not fixed on 1.7.5.0 but it is on develop branch

[2019-01-03 14:07] Kharabet commented on #12009
Hi @khouloudbelguith ,

I had the same problem earlier with PS 1.7.4.x and then I decide to upgrade to PS 1.7.5 and problem was not solved. Then I reinstall PS from scratch and still get problem with shipping price.

I didn't use any custom carrier module. Only embeded in prestashop carrier module. It's the only carrier from my BO and it's not free shipping.
Thank you!

[2019-01-03 14:08] khouloudbelguith commented on #12011
HI @maofree,

When I try to uninstall by bulk action, only one module will be uninstalled, for the other modules => NO, I tried to uninstall the other modules manually & they are uninstalled successfully.
I attached a video record.
https://drive.google.com/file/d/1NDQGozCn9jM3GOFoGNOm9TzvrOTzTqKa/view
We will see how to fix it.
Thanks!

[2019-01-03 14:13] khouloudbelguith commented on #12009
@Kharabet, in your BO => Shipping => Preferences, what is the carrier by default?
Thanks!

[2019-01-03 14:18] Kharabet commented on #12009
@khouloudbelguith ,
![image](https://user-images.githubusercontent.com/14793248/50642188-0caf9500-0f73-11e9-8091-f4bf4567a4ae.png)

![image](https://user-images.githubusercontent.com/14793248/50642194-11744900-0f73-11e9-85fd-355d00772442.png)

As I said, this is the only carrier. So prestashop has no choice. The shipping price have to be not free.

[2019-01-03 14:19] marionf commented on #12006
Duplicate of #9939

[2019-01-03 14:19] #12006 closed, assigned to nobody

[2019-01-03 14:21] Madalina-nadari commented on #10316
I'm not that good at that..i've tried and did not get the resultes i've wanted... I really need all the features and the images too..

Thanks for the info..

[2019-01-03 14:26] khouloudbelguith commented on #12008
Hi @mskuser1,

I tried with this link: `http://XXX/api/products/1&ws_key=KEY` & it is OK.
I attached a video record.
https://drive.google.com/file/d/1B87CYam6mCs_Uldr4EUJundgL_WeLGpD/view
Thanks to check & feedback.

[2019-01-03 14:27] krasnycz opened #12012 "Autoupgrade not updating modules with 302 error"
When I try upgrade PS 1.7.4.2 to 1.7.5.0 using autoupgrade all seems to go fine according to the log, but modules are not updated. I have same issue on multiple servers. I tried to disable overrides and also native modules.

Digital Ocean server with PHP 7.1.
Autoupgrade version 4.5.1

Attaching log file from autoupgrade.

In the inspector it seems to generated the following error instead for upgr

[2019-01-03 14:33] khouloudbelguith commented on #12009
@Kharabet, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-01-03 14:35] marionf commented on #12011
I tried with banner and search block.
If you refresh the page, you are not able to find them on module manager page. And if you search them on Module Catalog page you can re-install them. So, they are well uninstalled.
It's just you have only one success message instead of one for each module selected

https://drive.google.com/open?id=1O8VI8CtM3QyBhtWaXN9ITjv7xAavg4Wf

[2019-01-03 14:43] mskuser1 commented on #12008
I also get that result, my question is..
Is there a way to get something like this:

![capturar6](https://user-images.githubusercontent.com/19706285/50643187-38c41980-0f65-11e9-8382-fc6b9c651021.PNG)

Instead of  only showing the  id it would show everything all the data of the association, all the fields of e.g combination. Is this possible to do?

[2019-01-03 14:45] khouloudbelguith commented on #12012
Hi @krasnycz,

So, the upgrade of your shop is done successfully, but your native modules are not updated?
After upgrading your shop, in the Modules => Modules & Services pages => Updates Tab, you can not upgrade your modules manually?
In your log files, I found some warnings about your `PrestaAdapter` module.
Thanks!

[2019-01-03 14:49] krasnycz commented on #12012
Well I presume the autoupgrade module should work same way as it was before? After updating the database there is a phase to update modules X from Y. Or it was changed?

I reversed the staging to 1.7.4.2 and deleted all non-native modules. Prod.log now gives me

[2019-01-03 15:40:24] request.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\MethodNotAllowedHttpException: "No rou

[2019-01-03 14:53] krasnycz commented on #12012
After the upgrade performance is giving Error 500 as described in the #11784. The update process was obviously not completed as ajax update gave 302 error but wrote the log that all was done. The problem is poor logging.

[2019-01-03 14:54] khouloudbelguith commented on #12012
@krasnycz, in my case, after the upgrade from PS1.7.4.4 to PS1.7.5.0, the upgrade is done successfully but there are no upgrade for the native module.
![image](https://user-images.githubusercontent.com/16067358/50643963-cf95d380-0f6f-11e9-9cba-c92e53f1b836.png)
ping @Quetzacoalt91 what do you think?
Thanks!

[2019-01-03 14:59] Quetzacoalt91 commented on #11905
Hi,

This change has been forgotten in the upgrade process in https://github.com/PrestaShop/PrestaShop/commit/6d87a6c5efbdf7d6898da10885d119483c51107b. This needs to be added for 1.7.5.1. :)

[2019-01-03 15:02] krasnycz commented on #12012
When I enable debug mode in the config file I can access the performance page without any problem. I think this issue is related with permissions and autoupgrade.

[2019-01-03 15:04] khouloudbelguith commented on #12012
@krasnycz, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-01-03 15:11] krasnycz commented on #12012
I did manually rm all files/foldes in cache. Also I can clean it when debug is enabled. I can access the performance after clearing the cache. However I still believe the update was not done correctly.

[2019-01-03 15:13] centoasa commented on #11948
@khouloudbelguith thank you so much!
ps: https://www.100asa.it/it/index.php?controller=newproducts
https://www.100asa.it/it/index.php?controller=bestsales
I don't understand why doesn't rewrite

[2019-01-03 15:15] marionf commented on #11873
It's also the case for ps_viewedproduct module

[2019-01-03 15:23] khouloudbelguith commented on #11948
This is a different issue, can you open a new one with more information about your second issue.
Thanks!

[2019-01-03 15:25] krasnycz commented on #12012
![image](https://user-images.githubusercontent.com/15078106/50645507-04a42500-0f74-11e9-84e4-1cf8404cdb5c.png)

To ensure you understand the issue. This part of the autoupgrade process is completely skipped. No update of modules at all. Instead in the inspector only the error described above.

[2019-01-03 15:28] krasnycz commented on #12012
Seems multiple person describing exactly same issues at the comments at http://build.prestashop.com/news/prestashop-1-7-5-0-available/

[2019-01-03 16:07] khouloudbelguith commented on #12008
Hi @mskuser1,

Could you please try to display the product with an output format json, you can check with this link: `http://projet/xxx/api/products/1&output_format=JSON`
![image](https://user-images.githubusercontent.com/16067358/50647875-053fba00-0f7a-11e9-9534-82b8bd7b6b8b.png)
Thanks!

[2019-01-03 16:17] centoasa commented on #11948
remaining on this argoument, why if I don't add:

try_files $fastcgi_script_name /index.php$uri&$args;
after ~ .php(/.*)?$ {
and
try_files $uri $uri/ /index.php?$args;
after ~ /$ {

in nginx_ip_default.conf, my site with rewrite url doesn't works?

[2019-01-03 16:31] khouloudbelguith commented on #11948
@centoasa, this is the configuration proposed by PrestaShop https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf#L81

@PierreRambaud what do you think?
Thanks!

[2019-01-03 16:35] mskuser1 commented on #12008
Hi @khouloudbelguith
This is the output:

![capturar7](https://user-images.githubusercontent.com/19706285/50649243-41bce700-0f75-11e9-8408-a2a74c9f9392.PNG)

[2019-01-03 16:37] Quetzacoalt91 commented on #11905
Fixed by #12016

[2019-01-03 16:38] khouloudbelguith commented on #12008
@mskuser1, the JSON output could be a solution to get all products information in one request what do you think?
Thanks!

[2019-01-03 16:46] khouloudbelguith commented on #12012
@krasnycz, I discussed with our developer & I checked that before launching the upgrade, you need to let the module recover the list of files to be modified, the modules to be upgraded etc..
You need to wait for this part to be ready before launching the upgrade.
![image](https://user-images.githubusercontent.com/16067358/50649874-45ee0200-0f7f-11e9-83d4-42a112f02d18.png)

Thanks to check & feedba

[2019-01-03 16:47] mskuser1 commented on #12008
@khouloudbelguith How?
Like this it would still only give me the id's
![capturar8](https://user-images.githubusercontent.com/19706285/50649901-f1df1f80-0f76-11e9-99cb-c48e3e7cc2d5.PNG)

Thanks.

[2019-01-03 16:53] marionf commented on #11683
@mickaelandrieu

I just created WIP label: https://github.com/PrestaShop/PrestaShop/labels?utf8=%E2%9C%93&q=WIP

[2019-01-03 16:53] #11683 closed, assigned to marionf

[2019-01-03 17:05] khouloudbelguith commented on #12008
@mskuser1, thanks for the clarifications!
In our documentation http://doc.prestashop.com/display/PS16/Cheat-sheet+-+Concepts+outlined+in+this+tutorial, in the Options Tab, we have only the XML, JSON for the output format, I think it is not possible to display the format that you posted.
@marionf what do you think?
Thanks!

[2019-01-03 17:08] YIChunyue commented on #9835
the same problem

[2019-01-03 17:16] Quetzacoalt91 commented on #11934
Fixed by #12016

[2019-01-03 17:58] #9665 closed, assigned to nobody

[2019-01-03 18:03] #9891 closed, assigned to jolelievre

[2019-01-03 20:36] centoasa opened #12018 "nginx url rewrite doens't work on some pages"
prestashop 1.7.5
Informazioni sul server Linux #31-Ubuntu SMP Tue Jul 17 15:39:52 UTC 2018 x86_64
Versione software del server: nginx/1.14.1
Versione di PHP: 7.2.13
follow #11948 if I active nginx as engine, and active url rewrite, some of my page doesn't work with rewrite:
https://www.100asa.it/it/index.php?controller=pricesdrop
https://www.100asa.it/it/index.php?controller=newproducts
https://ww

[2019-01-03 21:12] psyray commented on #11596
I will follow your advice and wrap ObjectModel into a class.
Thanks for your reply.
Anyway Prestashop is on the good way, thanks too for your work :+1:

[2019-01-04 04:08] Prestapro opened #12019 "Webpack improve"
**Is your feature request related to a problem? Please describe.**
More readable code and improved performance

**Describe the solution you'd like**
Please, add, stylelint/critical path for webpack css/scss and update bootstrap 4 to stable version in classic theme.

**Describe alternatives you've considered**
The most important option is the critical path, which will definitely give a performance

[2019-01-04 04:39] nrcjea001 commented on #9763
@khouloudbelguith, I agree with @disarci on this. Anyone using multistore will have to use the same theme for each store which does not make sense.

Is it possible to add this on PS 1.7.6 kanban?

[2019-01-04 07:36] krasnycz commented on #12012
@khouloudbelguith This is not the case. I waited and checked the files before the update. Page was comletely loaded and no ajax was runing active job.

[2019-01-04 08:06] khouloudbelguith commented on #12012
Hi @krasnycz,

I launched again a new upgrade from PS1.7.4.4 to PS1.7.5.0 using the 1-click upgrade v4.5.1 & it ok.
All the modules are upgraded in my log
[code]
But, when I tried to go to the BO => Modules & Services => Updates Tab, there are still native modules not upgrated => which is wrong.
![image](https://user-images.githubusercontent.com/16067358/50678215-edaa1500-0ffd-11e9-9554-8629613c16

[2019-01-04 08:18] krasnycz commented on #12012
@khouloudbelguith This is your standard answer for any issue reported. I do not contradict that the autoupgrade might work on some installations/servers however the purpose of this place is to resolve issues/bugs and obviously me and many other users facing similar issue. I just tried to show you that PS autoupgrade log shows the upgrade was done but it was not. The error reporting in the PS is ve

[2019-01-04 08:26] claustrier opened #15205 "The service "installer" has a dependency on a non-existent parameter "module_settings" - Autoupgrade 4.5.1 Presta 1.7.4.2 > 1.7.5 fails"
When using autoupgrade 4.5.1 to upgrade Presta 1.7.4.2 to 1.7.5, i get an error "The service "installer" has a dependency on a non-existent parameter "module_settings"."

Log:
[2019-01-03 23:05:55] [INTERNAL] /home/vildmedg/staging/vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php line 102 - Symfony\Component\DependencyInjection\Exception\ParameterNotFo

[2019-01-04 08:30] khouloudbelguith commented on #12012
Hi @krasnycz,

I attached a video recording to show you that there is an issue which is the list of Updates module which is not correct.
Your issue cannot be reproduced on a clean 1.7.4.4 to 1.7.5.0 upgrade, so your issue may not be caused by Prestashop but by some server configuration or something else on your side, that's why I assigned your issue to our developers to understand how we can repro

[2019-01-04 08:36] khouloudbelguith commented on #9835
Hi @YIChunyue,

Your issue is fixed in the last version PS1.7.5.0.
Heres' the PR: https://github.com/PrestaShop/PrestaShop/pull/10135 to solve the issue.
Thanks!

[2019-01-04 08:40] krasnycz commented on #12012
Well I unsed autoupgrade to update this installation multiple times without any issue. Same server and no core files modified. As I stated before I manually uninstalled all 3rd party modules but result is same. I will try clone the instance to different server and give it a try.

[2019-01-04 08:46] khouloudbelguith commented on #12012
@krasnycz, ok.
Thanks!

[2019-01-04 08:57] krasnycz commented on #12012
@khouloudbelguith Tried different server with PHP 7.0. Same results.

[2019-01-04 08:58] khouloudbelguith commented on #12018
Hi @centoasa,

I did not manage to reproduce your issue with PS 1.7.5.0 & Server software version: nginx/1.14.0.
All the pages are well displayed.
I attached a video record.
https://drive.google.com/file/d/1LEgGbTEZdWOLEqsox_z1R-X9WlnYspeH/view
You need to check your server configuration as described in this file
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestasho

[2019-01-04 09:00] arg73 opened #12020 "problem directory autoupgrade 1.6.8"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-01-04 09:03] arg73 commented on #12020
i have a problem with autoupgrade 1 click 1.6.8
after backup there is this message
[ERROR] /homepages/25/d497952429/htdocs/admin9776/autoupgrade/latest/prestashop does not exist or is not a directory.

[2019-01-04 09:07] khouloudbelguith commented on #12020
Hi @arg73,

Thanks for your report.
We need more details to understand your issue
 - Version you started from: [e.g. 1.7.1.0]
 - Version you upgrade to: [e.g. 1.7.4.0]
 - Way of upgrade: Web?
 - Step concerned: [e.g upgrade DB]
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Thanks!

[2019-01-04 09:12] khouloudbelguith commented on #12012
@krasnycz, thanks for your feedback.
Your issue is assigned to our developers to reproduce the issue.
Thanks!

[2019-01-04 09:19] khouloudbelguith commented on #12019
Hi @Prestapro,

Unfortunately, we cannot upgrade Bootstrap and jQuery on the classic theme until the next major version. Bootstrap changed their layout system since alpha 6, which is a backward compatibility break that would affect all of the classic's child themes.
If you are concerned about these vulnerabilities, take a look at Classic-Rocket, which is a community port of Classic to Bootstrap 4.

[2019-01-04 09:32] arg73 commented on #12020
i think i have a problem of directory
started version 1.5.6.0
upgrage 1.7.5
 Notice: Undefined index: files in /homepages/25/d497952429/htdocs/cache/smarty/compile/6f/db/83/6fdb83b34086a56c79b9285abe15305f68d7355d.file.view.tpl.php on line 260
message error

Version de PHP: 5.6.39
my filezilla
![image](https://user-images.githubusercontent.com/46370249/50681111-83e43800-100a-11e9-96f2-52ad2d87b76f

[2019-01-04 09:34] khouloudbelguith commented on #9763
Hi,

I manage to reproduce the issue with PS1.7.5.0 with multistore context is enabled.
In the FO, in the second shop, I used another theme, the design is changed, it is displayed like that
![image](https://user-images.githubusercontent.com/16067358/50681546-2cdf6280-100c-11e9-8b61-15f98de6f378.png)
=> Because the first shop use the Classic theme.
It should be displayed like this
![image](https://

[2019-01-04 09:41] eternoendless commented on #11264
If I'm not mistaken, this will also happen with any module that adds elements to the menu, or elsewhere that's visible in the module manager (eg. icons on the top of the page, like gamification).

[2019-01-04 09:46] khouloudbelguith commented on #12020
Hi @arg73,

The 1-click upgrade module cannot make an upgrade from PS1.5 to PS1.7.5.
Also, the  1-click upgrade module version +4.0.0 has been reworked internally for PrestaShop 1.6 & 1.7.
The objective of this latest version 1-click upgrade module is to have a single module version to handle these PrestaShop upgrades:
1.6 >> to >> 1.6 / 1.7
1.7 >> to >> 1.7.
About PS1.5, there are two ways to upg

[2019-01-04 09:59] Quetzacoalt91 commented on #12011
This issue is caused by concurrent calls to the module manager, which drops the whole cache after an action is done on the modules.

The other current calls loose the cache during their request, which makes an 500 error being thrown.

cc @jolelievre

[2019-01-04 10:08] eternoendless commented on #11619
What do you mean? I know we can't have the three libraries _available_ at the same time, but that's not what I expect; I only described how it behaves with zip-installed modules.

I just want the behavior of composer-installed modules to be consistent with zip-installed modules, that's all.

[2019-01-04 10:45] Quetzacoalt91 commented on #15205
Hi,

It seems this parameter does not exist on a default PrestaShop configuration. As far as I know, the config files (except parameters.yml & parameters.php) are being overwritten when the PrestaShop files are upgraded.

I guess you modified one of them and added some additional libraries to your shop? This could explain these errors we cannot reproduce on our side.

[2019-01-04 10:59] #9643 closed, assigned to nobody

[2019-01-04 11:00] Prestaworks opened #12024 "Multiple free shipping vouchers give order total error - The discount is incorrect"
**Describe the bug**
in cart class
public function getOrderTotal
when using the flag Cart::ONLY_DISCOUNTS
the returned value will sum up the free shipping vouchers two times.
So if a customer has two free shipping vouchers and use both at the same time, the value returned from this function will be the shipping cost x 2.

**To Reproduce**
Create two vouchers for free shipping.
Add both vouchers to

[2019-01-04 11:05] PierreRambaud commented on #11948
I will have a look as soon as possible :)

[2019-01-04 11:16] khouloudbelguith commented on #12024
Hi @Prestaworks,

I manage to reproduce your issue with PS1.7.5.0, it is added to our debug roadmap.
Your ticket is a duplicate of #11722
So, I close it.
Thanks!

[2019-01-04 11:17] khouloudbelguith commented on #12024
Duplicate of #11722

[2019-01-04 11:19] khouloudbelguith commented on #11722
Hi,

This issue occurs also when we have two cart rules with free shipping vouchers as reported here #12024
![image](https://user-images.githubusercontent.com/16067358/50685793-e80ef800-101a-11e9-9773-23a46e18a85c.png)
Thanks!

[2019-01-04 11:29] arg73 commented on #12020
thanks
please can you give me  the file zip of the old version of 1-click upgrade which propose de take this : vers 1.5 to vers 1.6
of prestashop

[2019-01-04 11:38] PierreRambaud commented on #11619
Thinking you expected this behavior :P

[2019-01-04 11:49] khouloudbelguith commented on #12020
Hi @arg73,

As described here https://addons.prestashop.com/en/data-migration-backup/5496-.html, you can use the 1-click upgrade v1.6.8 to make an upgrade PS1.5 to PS1.6.

-  install the autoupgrade module
-  Download the zip of PrestaShop 1.6.1.23
-  Put it in the folder admin / autoupgrade / download
-  in the configuration page of the module select "local archive" as a channel
-  Specify the ve

[2019-01-04 12:06] tomas862 opened #12025 "Multi-store exchange rates cron scheduler"
**Description**
There is a file named **cron_currency_rates.php** which is used for updating currency exchange rates. However it does that for all shops.

To execute this cron or not is possible by using the setting "Live exchange rates":
![exchange_rates](https://user-images.githubusercontent.com/17051250/50686995-4abac080-1028-11e9-8ec2-c01dae826f4f.png)

However if I'm using it from certain sho

[2019-01-04 12:11] krasnycz commented on #12012
I forget to state that its multistore installation. I also tried to:

- switched to classic theme
- deleted old theme
- disabled and deleted all non-native module
- remove all overrides
-cleared cache
- ensured there is no CDN or any server side caching enabled

The problem persists.

[2019-01-04 12:53] espacious opened #12026 "Keyword "{id}" required for route error after upgrade to 1.7.5"
After upgrading from 1.7.3.1 to 1.7.5.0 (latest) i cant save the SEO & URLs page (to recreate .htaccess), i always get this errors:

Keyword "{id}" required for route "xipblog-archive-wid-module" (rule: "blog/category/{rewrite}.html")
Keyword "{id}" required for route "xipblog-tag-wid-module" (rule: "blog/tag/{rewrite}.html")
Keyword "{id}" required for route "xipblog-single-wid-module" (rule: "bl

[2019-01-04 13:00] Kharabet commented on #12009
Hi @khouloudbelguith

I downgraded version of PHP from 7.3.0 to 7.2.13 and it works fine without any fixes.

[2019-01-04 13:08] khouloudbelguith commented on #12009
Hi @Kharabet,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-04 13:08] #12009 closed, assigned to nobody

[2019-01-04 13:09] marionf commented on #9986
Duplicate of #9696

[2019-01-04 13:09] #9986 closed, assigned to nobody

[2019-01-04 13:16] khouloudbelguith commented on #12026
Hi @espacious,

Did you use the module blog block module?
Thanks!

[2019-01-04 13:30] rafaviana opened #12027 "Statistics doesn't work"
I'm trying to see statistics in trends module but without any result. As you can see in the screenshot attached, there are orders already paid but the graphic is still without any information

I hope you can help me. Thank you

PrestaShop version: 1.7.5.0
PHP version: 7.0.33

![painel de controlo temosonline](https://user-images.githubusercontent.com/5817213/50690359-ddf1f700-1024-11e9-88c8-b0fa92

[2019-01-04 13:38] espacious commented on #12026
I use the blog module provided with our theme. (XpertBlog)
The respective modules are:
Prestashop Blog Module by xpert-idea.com
Xpert Blog Display Posts on Home Page

disabling the modules have no effect, on 1.7.3.1 it's working as it should.
I can provide logs and other needed stuff.

The theme we use:
https://themeforest.net/item/volga-megashop-responsive-prestashop-17-theme/21055696

[2019-01-04 13:50] khouloudbelguith commented on #12026
@espacious, in the SEO & URLs page, have you any pages created related to this blog module?
Thanks!

[2019-01-04 13:59] espacious commented on #12026
I have only 2 entries that have blog in name. See screens. I added manualy the Friendly URL, now i cant remove them but i think it has nothing to do.

![seo_urls](https://user-images.githubusercontent.com/39135335/50691339-b143dc80-1030-11e9-9233-2dc9005f54e5.jpg)

[2019-01-04 13:59] roja45 opened #12028 "Multistore selection dropdown hidden in product screen (symfony pages I expect)"
**Describe the bug**
When multistore enabled, store selection downdown is hidden by navigation bar in new symfony product screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure multistore
2. Open product page
3. Try to select the all store context
4. It be hidden

There's some css voodoo going on here, changing the z-index of the multistore dropdown doesn't seem to change anything

[2019-01-04 14:03] rafaviana opened #12029 "Can't delete product item or product image"
After the update to 1.7.5.0 it's not possible to do some tasks, for example: remove a product item or remove an image from a product. Check image attached to see the error I get

Anyone can help with this?

<img width="545" alt="pastedgraphic-2" src="https://user-images.githubusercontent.com/5817213/50691732-85712880-1029-11e9-9e0c-868f07134133.png">

[2019-01-04 14:07] marionf commented on #9854
Unit product price tax excl: 31,25
Unit product price tax incl: 37,5
Cart Rule: - 20% on the order

I add 2 products to the cart
Shipping: Free
PRODUCT HT: 62.5
TAXES: 12.5
PRODUCT TTC: 75
Promo 20%: 15 TTC
TOTAL HT: 50
TOTAL TTC: 60

I refund only 1 product / 2 and choose to remove voucher of the refund
So refund is 37.5 - 12 = 22.50 -> OK
And tax total is 6.25 -> NOK

![capture d ecran_852](http

[2019-01-04 14:11] khouloudbelguith commented on #12027
HI @rafaviana,

During this period "2018-12-03  2020-01-16" did you generated any new invoices?
In my case with PS 1.7.5.0, I did not manage to reproduce the issue.
![image](https://user-images.githubusercontent.com/16067358/50692101-0f71bf00-1033-11e9-9cf9-2042f9c24271.png)
Thanks to check & feedback.

[2019-01-04 14:16] rafaviana commented on #12027
Hi @khouloudbelguith ,

thanks for your feedback. I don't use PS to generate invoices, is it necessary?

[2019-01-04 14:17] khouloudbelguith commented on #12028
Hi @roja45,
This issue occurs previously in the PS1.7.5.0Beta1, but it is fixed in the last stable release PS1.7.5.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11486 to solve the issue.
Your ticket is a duplicate of #11042
So, I close it.
Thanks!

[2019-01-04 14:17] #12028 closed, assigned to nobody

[2019-01-04 14:17] khouloudbelguith commented on #12028
Duplicate of #11042

[2019-01-04 14:19] khouloudbelguith commented on #12027
@rafaviana, for this module dashtrends, it is necessary to regenerate invoices so the statistics will be displayed.
Thanks!

[2019-01-04 14:20] khouloudbelguith commented on #12029
Hi @rafaviana,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-t

[2019-01-04 14:33] rafaviana commented on #12027
@khouloudbelguith I tried to regenerate invoices from the last year and it says it's not possible…

<img width="1176" alt="screen shot 2019-01-04 at 2 32 26 pm" src="https://user-images.githubusercontent.com/5817213/50693002-a0459c00-102d-11e9-986e-88b8902923fd.png">

[2019-01-04 14:34] khouloudbelguith commented on #12026
@espacious, could you please try to re-create those two pages, if the issue occurs again, could you please enable the debug mode & display her the exception displayed if you have one.
Thanks!

[2019-01-04 14:35] khouloudbelguith commented on #12027
@rafaviana, that's why you don't have statistics.
Thanks!

[2019-01-04 14:42] rafaviana commented on #12027
@khouloudbelguith is it possible to regenerate invoices?

[2019-01-04 14:48] khouloudbelguith commented on #12027
@rafaviana, you need to navigate to your BO => Orders => Order details => in the "DOCUMENTS" Tab, you can click to "Generate invoice" button => so the invoice will be generated.
![image](https://user-images.githubusercontent.com/16067358/50693746-26ff7680-1038-11e9-915e-8e0d8a80ea2f.png)

Thanks!

[2019-01-04 14:51] rafaviana commented on #12027
@khouloudbelguith can I do it automatically for multiple orders? Without emailing the customer…

Thanks

[2019-01-04 15:07] rafaviana commented on #12029
@khouloudbelguith here are some more info, I hope it can help
<img width="1211" alt="screen shot 2019-01-04 at 2 35 09 pm" src="https://user-images.githubusercontent.com/5817213/50693170-1e09a780-102e-11e9-9a24-06e18e59761e.png">

I don't know which path I can find the PHP log related with this issue… I'm sending the one there is in the root folder
[error_log.txt](https://github.com/PrestaShop/Pre

[2019-01-04 15:07] khouloudbelguith commented on #12027
@rafaviana, here's a quick solution to generate invoices for all orders.
You need to:
1. Navigate to BO => Shop Parameters => Order Settings => Status Tab
2. Create a new order status( for example "generate invoice")
3. In this order status created
3.1 Check "Allow a customer to download and view PDF versions of his/her invoices."
3.2 Check "Hide this status in all customer orders."
3.3 Save
![ima

[2019-01-04 15:13] rafaviana commented on #12027
wow nice trick @khouloudbelguith !

the only counterpart is that all orders will stay with the status "generate invoice" and it's not what I want honestly… I think I will forget the idea to regenerate invoices

[2019-01-04 15:15] khouloudbelguith commented on #12027
@rafaviana, thanks for your feedback.
So can I close the issue?
Thanks!

[2019-01-04 15:30] marionf commented on #9985
I can't reproduce this issue in 1.7.5.0

![capture d ecran_856](https://user-images.githubusercontent.com/13449658/50695790-fc182100-103d-11e9-8610-361b48d8584c.png)

![capture d ecran_857](https://user-images.githubusercontent.com/13449658/50695815-0fc38780-103e-11e9-9de0-0dc045d933f3.png)

![capture d ecran_854](https://user-images.githubusercontent.com/13449658/50695825-1520d200-103e-11e9-91ea-

[2019-01-04 15:31] arg73 commented on #12020
thanks a lot for your help
all is good now

best regard
thierry

[2019-01-04 15:33] khouloudbelguith commented on #12020
Hi @arg73,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-04 15:33] #12020 closed, assigned to nobody

[2019-01-04 15:35] khouloudbelguith commented on #12029
@rafaviana, you have problems with the configurator module.
Thanks to disable it, try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback!

[2019-01-04 15:39] khouloudbelguith commented on #12012
@krasnycz, I tried again a new upgrade from PS1.7.4.2 to PS1.7.5.0 with the 1-click upgrade 4.5.1 (multistore is enabled)
Before launching the upgrade, I let the module recover the list of files to be modified, the modules to be upgraded.
The upgrade id sone successfully, all the native module are upgraded successfully, only one issue as described before: when I tried to go to the BO => Modules &

[2019-01-04 15:43] marionf commented on #9984
I can't reproduce the issue on 1.7.5.0

![capture d ecran_858](https://user-images.githubusercontent.com/13449658/50696457-cf650900-103f-11e9-8c33-25f5a55ab994.png)

![capture d ecran_859](https://user-images.githubusercontent.com/13449658/50696462-d1c76300-103f-11e9-9581-0ff89b168131.png)

[2019-01-04 15:43] #9984 closed, assigned to nobody

[2019-01-04 15:44] #9985 closed, assigned to nobody

[2019-01-04 15:44] espacious commented on #12026
@khouloudbelguith removing the two entries and save the SEO & URLs page gives me the same error.

Keyword "{id}" required for route "xipblog-archive-wid-module" (rule: "blog/category/{rewrite}.html")
Keyword "{id}" required for route "xipblog-tag-wid-module" (rule: "blog/tag/{rewrite}.html")
Keyword "{id}" required for route "xipblog-single-wid-module" (rule: "blog/post/{rewrite}.html")

After rec

[2019-01-04 15:47] centoasa opened #12032 "robot module disallow"
Prestashop 1.7.5
Linux #1 SMP Debian 4.9.110-3+deb9u2 (2018-08-13) x86_64
Apache
Version PHP: 7.2.13
default prestashop robots file disallow /modules, so search engine look at module folder.
but my psfeeder works only on module folder--> https://www.100asa.it/it/module/ps_feeder/rss?id_category=0&orderby=date_upd&orderway=desc

[2019-01-04 15:50] rafaviana commented on #12029
@khouloudbelguith configurator module is disabled and I clear the cache as you suggested but it's still not working. I forgot to mention this error in browser console:
[code]

[2019-01-04 15:51] rafaviana commented on #12027
Yes @khouloudbelguith . Thanks for the help!

[2019-01-04 15:56] khouloudbelguith commented on #12026
@espacious, I created manually a new SEO page with PS1.7.4.2, I made an upgrade from S1.7.4.2 to PS1.7.5.0, I check this page, the friendly is not empty in English & I did not manage to reproduce your issue.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.p

[2019-01-04 15:56] #12027 closed, assigned to nobody

[2019-01-04 16:00] khouloudbelguith commented on #12029
@rafaviana, could you please check in your folder path if you have any overrides(controller/classes/modules..) which are not compatible with PS1.7.5.
You can find in the /ProjectFolder/overrides/
Thanks!

[2019-01-04 16:01] espacious commented on #12026
My shop was developed on prestashop 1.7.3.1 or eaven older. After updating many columns have an empty Friendly Url field. (as you can see on the screen above, same thing on 1.7.3.1 ver.) I see no problems when running 1.7.3.1, after updating to 1.7.5.0 as said SEO & URL's page does not get saved.

I will provide more logs ... thanks

[2019-01-04 16:04] roja45 commented on #12028
Except that I am using the last stable release of 1.7.5.0?

[2019-01-04 16:05] khouloudbelguith commented on #12026
@espacious, thanks!
Waiting for your feedback.

[2019-01-04 16:13] khouloudbelguith commented on #12028
@roja45, I did not manage to reproduce the issue with PS1.7.5. stable version.
![image](https://user-images.githubusercontent.com/16067358/50697958-03dac400-1044-11e9-90c9-6acb11b01d84.png)
Did you download your PrestaShop Project from which link?
Thanks!

[2019-01-04 16:14] jolelievre commented on #11878
The scope of this issue got bigger because the Generator actually needs the `EmailTemplateCatalog` introduced in this issue https://github.com/PrestaShop/PrestaShop/issues/11880
Although the service won't be integrated in the controller in this issue, so they are linked but not merged

[2019-01-04 16:22] krasnycz commented on #12012
And on my setups the module upgrade part is omitted. What could be reasons for it? I resolved the 302 error and everything so now the update completes like fine however modules update part is skipped.

[2019-01-04 17:12:14] Database upgraded. Now upgrading your Addons modules...
[2019-01-04 17:12:17] Addons modules files have been upgraded.

[2019-01-04 16:27] khouloudbelguith commented on #12032
Hi @centoasa,

Could you please add steps to reproduce the issue in a new comment.
Thanks!

[2019-01-04 16:46] roja45 commented on #12028
it was an upgrade from 1.7.4.x, not a fresh install

[2019-01-04 16:49] khouloudbelguith commented on #10914
Hi @Werbike,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-04 16:49] #10914 closed, assigned to nobody

[2019-01-04 16:51] khouloudbelguith commented on #11567
Hi @magnum93,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-04 16:51] #11567 closed, assigned to nobody

[2019-01-04 16:53] khouloudbelguith commented on #12028
Hi @roja45,

In my case, it is OK after upgrade from PS1.7.4 to PS1.7.5.0.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
You need also to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

[2019-01-04 16:55] khouloudbelguith commented on #11573
Hi @dheerajwebkul,

Any news about your issue?
The last version PS1.7.5.0 is released, did you check your issue with PS1.7.5.0?
Thanks!

[2019-01-04 16:55] khouloudbelguith commented on #11581
Hi @netdrag,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-04 16:55] #11581 closed, assigned to nobody

[2019-01-04 16:56] khouloudbelguith commented on #11570
Hi @RomSunZ,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-04 16:56] #11570 closed, assigned to nobody

[2019-01-04 16:58] khouloudbelguith commented on #11487
Hi @falehenrique,

Any news about your issue?
I did not receive any mail from your side.
Thanks!

[2019-01-04 16:58] khouloudbelguith commented on #10367
Hi @Marg88,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2019-01-04 16:58] #10367 closed, assigned to nobody

[2019-01-04 16:59] khouloudbelguith commented on #11562
Hi @ChineseNorris,

Any new about your issue?
Thanks!

[2019-01-04 17:06] rafaviana commented on #12029
@khouloudbelguith that it very hard for me to know, I don't have enough knowledge of PHP to check that :/

[2019-01-04 17:10] khouloudbelguith commented on #12029
@rafaviana, in your ProjectFolder, you can check if you have any new overrides created.
https://github.com/PrestaShop/PrestaShop/tree/develop/override/classes ( => by default)
https://github.com/PrestaShop/PrestaShop/tree/develop/override/controllers ( => by default)
https://github.com/PrestaShop/PrestaShop/tree/develop/override/modules ( => by default)

Thanks!

[2019-01-04 17:14] centoasa commented on #12032
As I said, google always watch /module
If you inspect the robots.txt disallow is on /modules folder. But, for example, this
https://www.100asa.it/it/module/ps_feeder/rss?id_category=0&orderby=date_upd&orderway=desc
Is on /module folder.
Please see this attached image get by mu cloudflare account: http://nimb.ws/2L5eBW
Is it right? I hope I’m clear

[2019-01-04 17:19] rafaviana commented on #12029
So I asked the developer of configurator module and he fix something related with the module. There are no PHP errors right now.

But the fact that I can't delete an image is still there… I will share a video to help understand the issue
[AwesomeScreenshot-2019-01-04T17-18-47-063Z.webm.zip](https://github.com/PrestaShop/PrestaShop/files/2727908/AwesomeScreenshot-2019-01-04T17-18-47-063Z.webm.zip)

[2019-01-04 17:26] rafaviana commented on #12029
Debug mode for product page:
![notice undefined index manufacturer_rule 500 internal server error 2](https://user-images.githubusercontent.com/5817213/50701469-d4c55200-1045-11e9-94c0-ca8438d58e04.png)

![notice undefined index manufacturer_rule 500 internal server error 3](https://user-images.githubusercontent.com/5817213/50701476-d727ac00-1045-11e9-9972-ad5dd0043c86.png)

[2019-01-04 17:31] colinegin commented on #9566
Yes I agree, a specific message for this error seems necessary.
Regarding the token lifetime, as long as it does not introduce any security risk, i'm ok with it !

@LouiseBonnard do you have any recommendation for the error message ?

[2019-01-04 18:51] rdy4ever commented on #12026
Keyword "{id}" required for route "xipblog-tag-wid-module" (rule: "blog/tag/{rewrite}.html")
Keyword "{id}" required for route "xipblog-single-wid-module" (rule: "blog/post/{rewrite}.html")

You need to add the `{id}` keyword to these routes as it is mandatory. Then try to save again.
For ex: modify `blog/category/{rewrite}.html` in `blog/category/{id}-{rewrite}.html`

[2019-01-04 23:41] BenTen commented on #11251
@LouiseBonnard I will dot that as soon as possible.

Thank you :)

[2019-01-05 05:15] dheerajwebkul commented on #11573
Hello @khouloudbelguith

A very Happy New Year...

Yes, I checked this on PrestaShop V1.7.5.0. this issue is still in this version.
You can check this normally as I explained.

Thanks,

[2019-01-05 09:33] atulgarg22 opened #12034 "Wrong format of sample product file"
**Describe the bug**
Downloadable sample files for product import (CSV) is not having right fields as required by prestashop 1.7.5. Some of fields like "Delivery time of in-stock products" and "Delivery time of out-of-stock products with allowed orders" are missing and some are extra. Which is causing issue in field mapping while product upload.

**Screenshots**
If applicable, add screenshots or s

[2019-01-05 12:21] psyray commented on #11596
I managed to achieve my goals by adding my module doctrine mappings in the config.yml.
Here is the config :
[code]
It works, I can access my entities and using them with Doctrine entity manager.

So as @eternoendless said, I can "handle my datas as they see fit", and it's more flexible for me.
I could declare the ManyToOne/OneToMany/ManyToMany annotation for the existing Prestashop entities, like

[2019-01-05 12:59] #9738 closed, assigned to nobody

[2019-01-05 18:40] rGaillard opened #12035 "FrontController::addJqueryUI() is not working"
**Describe the bug**
FrontController:: addJqueryUI() is not working, indeed, the $component variable is not used in the method....

**To Reproduce**
Try to register any jqueryui plugin.

**Additionnal information**
PrestaShop version: 1.7
PHP version: N/A

[2019-01-06 08:48] bogdanmoisin commented on #11949
I have also the same issue.

[2019-01-06 10:35] claustrier commented on #15205
You mean some of the mentioned files (except parameters.yml and parameters.php) have been modified?

I didn't but could it be a buggy module?

[2019-01-06 11:40] eumedia opened #12036 "After submitting the Contact form, it is white screen when I set both settings to ON."
**Describe the bug**
After submitting the Contact form, it is white screen when I set both settings to ON.
Module Manager > Modules > Contact form > Configure > Parameters
![seting](https://user-images.githubusercontent.com/46417881/50735452-a3689580-11af-11e9-948b-d4ef5f17f9e9.jpg)

**Additionnal information**
PrestaShop version: 1.7.5.0

[2019-01-06 12:53] pdkey commented on #11890
Hi @khouloudbelguith a happy and successful new year. Again, thank you very much for your help. After a long search, I found my mistake. Although the setting "allow purchase for products out of stock was enabled, but also enabled for don't display. A little confusing. Now everything works even after upgrading to PS 1.7.5. Thank you very much again.

[2019-01-06 13:00] pdkey commented on #11927
its possible to make this the option in 1.7.5.1. We need full control of our SERP snippets. The attributes drastically extend the title length with ". . . " - Not pretty. Thank you.

[2019-01-06 13:12] MSiliunas commented on #11914
@khouloudbelguith I've tried uninstalling, clearing cache, manually deleting files and installing newest version downloaded directly from github. Didn't work. I've downloaded the `2.1.5` version and it works again.

[2019-01-06 16:41] V41F commented on #15203
Hi @Quetzacoalt91,
sorry I have been on holiday. Here is the error log file.
Lukas
[log.txt](https://github.com/PrestaShop/autoupgrade/files/2730638/log.txt)

[2019-01-07 07:43] espacious commented on #12026
Hi @khouloudbelguith,
thanks for the info but where to add this routes? In Schema of URLs i dont see such field (blog).

[2019-01-07 07:45] khouloudbelguith commented on #12034
Hi @atulgarg22,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9764
So, I close it.
Thanks!

[2019-01-07 07:45] #12034 closed, assigned to nobody

[2019-01-07 07:45] khouloudbelguith commented on #12034
Duplicate of #9764

[2019-01-07 07:49] khouloudbelguith commented on #12035
Hi @rGaillard,

Thanks for your report.
@eternoendless @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-01-07 07:59] khouloudbelguith commented on #12036
Hi @eumedia,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - contactform version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/

[2019-01-07 08:08] khouloudbelguith commented on #11914
Hi @MSiliunas,

I cloned this module from Github
[ps_linklist.zip](https://github.com/PrestaShop/PrestaShop/files/2731877/ps_linklist.zip)
It is the latest version of ps_linklist module, thanks to check with it!

[2019-01-07 08:11] Max84 opened #12039 "Used base price is wrong with specific price and combinations"
**Describe the bug**
When you add a specific price, you can uncheck "base price" in order to define your own base price.
If you define a base price pour product and another base price for combinations, you'll be a bad calculated discount.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to demo_1 product
2. Add a new specific price for all combination (only new base price). In screenshoot,

[2019-01-07 08:12] khouloudbelguith commented on #11890
Hi @pdkey,

Thanks for your feedback & Happy New Year, wish you all the best.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-01-07 08:12] #11890 closed, assigned to nobody

[2019-01-07 08:21] khouloudbelguith commented on #11949
Hi @bogdanmoisin,

Here's a PR: https://github.com/PrestaShop/PrestaShop/pull/11995 to fix the issue.
Thanks!

[2019-01-07 08:26] PierreRambaud opened #12040 "Broken Authentication and Session Management"
**Describe the bug**
All previous passwords resettled by links should automatically expire once a user changes his email address or his password.
Thanks hami hax & Jhon Ken

**To Reproduce**
With email:
1. Create an (prestashop) account having an email address "a@x.com".
2. Now Logout and ask for a password reset link. Don't use the password reset link.
3. Log in using the same password back and u

[2019-01-07 08:27] ma0dubois opened #12041 "[Performance] Prestashop 1.7 front very slow with translation"
**Describe the bug:**
Hello,

As part of the development of a Prestashop B2B, we note since our migration 1.6 to 1.7 of big falls of performance on the front.
We have investigated and we come to the following observation, the problem comes from the `getTranslatorFromLocale ($ locale)` function of `Context.php`.

So we have several questions for developers:

- Why did you choose to delete and recre

[2019-01-07 08:43] khouloudbelguith commented on #12039
Hi @Max84,

Thanks for your report.
I manage to reproduce the issue with PS16.1.23, with PS1.7.5.0 =>OK.
![image](https://user-images.githubusercontent.com/16067358/50757661-5db7d580-1260-11e9-8dec-3278b2bec535.png)
For the PS1.6, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/8099 to solve the issue.
But, as there are too many changes in the theme, we can't merge this to prevent bre

[2019-01-07 08:43] #12039 closed, assigned to nobody

[2019-01-07 09:05] web-fu commented on #11946
The error occurs whenever, during the payment process, there's no correct callback to the shop.
It doesn't depend on the customer. The problem is difficult to reproduce but it is critical because the lack of an external data create an exeption.
If the payment fails for any reason, the shop shoudn't crash

[2019-01-07 09:09] eumedia commented on #12036
Fix undefined INTL_IDNA_VARIANT_UTS46 if intl ICU < 4.6
https://github.com/PrestaShop/PrestaShop/pull/11995

[2019-01-07 09:16] khouloudbelguith commented on #12036
Hi @eumedia,

So, your issue is fixed after applying this patch #11995?
Thanks!

[2019-01-07 09:22] eumedia commented on #12036
YES :-) OK thank you

[2019-01-07 09:24] khouloudbelguith commented on #12036
@eumedia, thanks for your feedback.
Since it is fixed, I will close the issue.
Feel free to open a new one when needed.
Thanks!

[2019-01-07 09:24] #12036 closed, assigned to nobody

[2019-01-07 09:25] eumedia commented on #12036
Yes, after applying this patch email, it works correctly, thank you.
Will this update be in the new version of PS 1.7.5.1?
When will PS 1.7.5.1 be available?

[2019-01-07 09:28] matks commented on #11596
@psyray very nice work ! And thank you for sharing 😄

Risky thing 1: since these models are handled by ObjectModel they might be updated and break the model consistency. Imagine if some module makes a nullable row that you have linked as a foreign key ...

Since you are on your shop you have the control so if you are rigorous, you should be fine 😉

Risky thing 2: you'll have 3 SQL migrations tools

[2019-01-07 09:30] khouloudbelguith commented on #12036
@eumedia, yes, it will be added in the next version PS1.7.5.1.
It is not planned yet the exact date of the release of PS1.7.5.1.
Thanks!

[2019-01-07 09:33] khouloudbelguith commented on #11946
Hi @web-fu,

In my case, I did not manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
Have you the same issue when using a different payment method?
Have you tried to contact the module author https://addons.prestashop.com/en/contact-us?id_product=7430 via your account?
THanks!

[2019-01-07 10:00] marionf commented on #10502
I think we have an issue with the helper card.
This is how it looks like on develop branch

![capture d ecran_864](https://user-images.githubusercontent.com/13449658/50761744-74aff500-126b-11e9-9f51-91e58eb720e5.png)

[2019-01-07 10:05] matks commented on #10502
@marionf Isn't it an issue with the cache ? I tried `develop`, with and without rebuilding assets, cant' reproduce.
![capture d ecran 2019-01-07 a 11 04 02](https://user-images.githubusercontent.com/3830050/50762000-15061980-126c-11e9-9154-5b75cfe36a11.png)

[2019-01-07 10:05] marionf commented on #10502
Yes, my bad :(

[2019-01-07 10:06] matks commented on #10502
No worries 👍 happens to everyone 😄

[2019-01-07 10:22] eternoendless commented on #9566
For reference, regarding the token lifetime. The system works by creating a token that can be used (and in some cases, reused) for a specific time period. For a sufficiently determined attacker, this only regulates the amount of time (s)he has to exploit the system (aka send spam) before (s)he needs to reload the page and get a new token.

We are aware this system is not extremely secure, only a s

[2019-01-07 10:30] khouloudbelguith commented on #11573
Hi @dheerajwebkul,

Happy New Year, wish you all the best.
I did not manage to reproduce the issue with PS1.7.5.0, I tried with this module
[translationbug.zip](https://github.com/PrestaShop/PrestaShop/files/2732368/translationbug.zip)
It is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/10735
Thanks to check & feedback.

[2019-01-07 10:35] Akashvastarpara opened #12042 "Error on clone website"
I have made clone website from my current website with (1.7.5.0). I.m not able to access backoffice as well fron-office on clone site.
Getting following error. Can anyone help me to fix it out?

Warning: require(/home/domain.com/public_html/vendor/composer/../symfony/polyfill-ctype/bootstrap.php): failed to open stream: No such file or directory in /home/domain.com/public_html/vendor/composer/auto

[2019-01-07 10:42] Maofree opened #12043 "Duration of Back Office cookies"
Hi
some shopkeepers said me that they have problem with the token errors, because they cannot stay at pc always, so they would like to lengthen the session times.
I have increased the the value of admin cookies to 480000 but they get the same problem?
can you check please if it is present an error?
if I increase to that value the session should be much longer

thanks

**Screenshots**
![11](https:/

[2019-01-07 10:49] khouloudbelguith commented on #12042
Hi @Akashvastarpara,

How did you clone your shop?
Did you clone it from this repository https://github.com/PrestaShop/PrestaShop.git?
Thanks!

[2019-01-07 10:53] dheerajwebkul commented on #11573
Hello @khouloudbelguith

Your translatiobug module does not have condition to produce this issue.
Please upload this

[translationbug.zip](https://github.com/PrestaShop/PrestaShop/files/2732422/translationbug.zip)

module. where I have added $this->displayName translatable text with a new line and 'bla bla bla' with a new line. Now you can not see these text in the International->translation page

[2019-01-07 10:54] khouloudbelguith commented on #12041
Hi @ma0dubois,

About your questions, this bug tracker GitHub is used to report issues and request new features only.
If you need help and support your request, you can ask on our Forum (https://www.prestashop.com/forums/)
Thanks for your understanding!
About your issue, we need more details to understand your issue
 - Version you started from: [e.g. 1.6.1.0]
 - Version you upgrade to: [e.g. 1.7.4

[2019-01-07 10:55] dheerajwebkul commented on #11573
@khouloudbelguith

PR: #10735 is totally different with this issue.

[2019-01-07 11:00] Bonobomagno commented on #11596
How to use namespaces in custom module ? Using doctrine without using also ownnamespace and composer, should not be possible..

[2019-01-07 11:04] khouloudbelguith commented on #12032
Hi @centoasa,

Thanks for this clarifications.
I tried to install the ps_feeder module, we need to navigate to this link `http://xxxx/en/module/ps_feeder/rss` which is on the /modules folder.
![image](https://user-images.githubusercontent.com/16067358/50764801-2c490500-1274-11e9-8262-530d109bee71.png)
But when I generate the robots.txt file, => I found the `Disallow: /modules/`.
We will see how to

[2019-01-07 11:05] matks commented on #11596
@Bonobomagno I think it's possible to use Doctrine without namespace but it's a complex configuration. So probably yes, you need namespace, and composer is the easiest solution to autoload namespaced php classes.

Is it an issue for you ? Is it a bad thing in your case that in order to use Doctrine, you need to autoload your module using composer and provide namespace for your classes ?

[2019-01-07 11:12] Akashvastarpara commented on #12042
I have followed this tutorial : [https://www.prestashop.com/en/blog/how-to-migrate-prestashop-to-a-new-server](url)

I have upgraded my prestashop version from 1.7.3 to 1.7.5.0
Then I have tried to make clone of my site to new domain and now getting this error

[2019-01-07 11:18] Akashvastarpara commented on #12042
Last time I was successful with the version 1.7.3 to move it to new domain. But after upgrading to 1.7.5.0 I have followed same procedure but getting error.

[2019-01-07 11:21] marionf opened #12044 "Upgrade all not working"
**Describe the bug**
Try to upgrade all your modules and you will get a 500

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Modules > Modules manager > Updates
2. Click on Update all
3. See error 500 in the console
4. Only the first module has been updated

**Screenshots**
![capture d ecran_871](https://user-images.githubusercontent.com/13449658/50765576-9793d680-1276-11e9-9a14-128979b

[2019-01-07 11:22] marionf commented on #12044
Related to #12011

[2019-01-07 11:23] psyray commented on #11596
Thanks

You're right.
It's a side effect, but as I use only main Prestashop table, like product or shop, I don't think the id_product or id_shop will change to null :)

For updating model I will only use the update process of the module (update folder, with upgrade php file and SQL query)
I will use Doctrine migrations only to generate the SQL query to execute for an upgrade using the module upgra

[2019-01-07 11:23] khouloudbelguith commented on #11573
Hi @dheerajwebkul,

Thanks for this clarifications.
I manage to reproduce the issue with PS1.7.5.0 & PS1.7.4.4.
When we have `$this->l(' ')` translatable text **with a new line** we will can not see these text in the International->translation page.
We will see how to fix it.
Thanks!

[2019-01-07 11:30] khouloudbelguith commented on #12029
Hi @rafaviana,

For this product, have you any manufacture assigned for this product, you can find it in the Product details => Options Tab, on the bottom page?
you have this error "undefined index: manufacturer_rule", have you any module related to this error?
Thanks!

[2019-01-07 11:52] Bonobomagno commented on #11596
I have no problem using composer, it is the main utility on laravel/symfony project ofc.
The main problem that i faced is that there is no standard way to use both prestashop and custom module namespaces. Most of modules dont use namespace for own files and actually this thing disturbs me.
So , how do you handle BOTH prestashop namespaces and modules one? Using a custom autoloader? or there are so

[2019-01-07 12:10] khouloudbelguith commented on #12042
Hi @Akashvastarpara,

I did not manage to reproduce the issue with PS1.7.5.0 after upgrade from PS1.7.4.4.
I moved my Project to a new domain without errors.
1. I made a backup for my files & my database
2. I uploaded my store's files to your new server
3. I imported the old store's database to the new server
4. In file /app/config/parameters.php, I configured my PrestaShop site.
4.1. DB_SERVER: d

[2019-01-07 12:16] khouloudbelguith commented on #12043
Hi @maofree,

I did not manage to reproduce the issue with PS1.7.5.0, I just tried with a low hour for the lifetime of back office cookies
![image](https://user-images.githubusercontent.com/16067358/50767612-cbbec580-127d-11e9-84db-93cdf0f9c580.png)
and it is Ok, I'm not frequently disconnected from Prestashop Back office with frequently activity.
The default settings are 15 minutes, so the login

[2019-01-07 12:19] Maofree commented on #12043
hi thanks
it is not possible to increase that value by default?
for a shopkeeper it is too low
because that change will be lost in the next update
is it not possible to get the value of admin cookie?

[2019-01-07 12:20] psyray commented on #11596
@Bonobomagno With the [global namespace](http://php.net/manual/en/language.namespaces.global.php), you can access module classes

To achieve this, prefix with \ when calling the class, eg:

- For accessing a static method
```\Ps_banner::clearStaticCache()```
- To instantiate the class
```$psBannerClass = new \Ps_banner()```

With a good IDE (I use Eclipse PDT) and autocompletion, it's automatic ;)

[2019-01-07 12:37] Akashvastarpara commented on #12042
I have followed same procedure with 1.7.3 two times also tried to full permission to all files and folders.

[2019-01-07 12:41] jolelievre commented on #11878
I just created a PR for this issue, it contains the basic implementation of this feature and only one template integrated for now. I have a few questions about this code and I'd like feedback from @PrestaShop/prestashop-core-developers or any contributor

Here are my questions:
- mail themes folder: {PS_ROOT_DIR}/mails/themes? {PS_ROOT_DIR}/mail-themes?
- theme info are from convention with folder

[2019-01-07 12:48] Maofree commented on #12043
which editor do you use? for curiosity

[2019-01-07 12:53] Maofree opened #12047 "How to remove the seo alert in seo & url page"
hi
how is it possible remove this alert in seo & url page?

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/50769155-57872080-1283-11e9-8bef-26011e8d3213.png)

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: 7.0

[2019-01-07 13:02] Goalfair opened #12048 "Keyword "{id_product_attribute}" required for route "product_rule""
After otherwise successful migration from PS 1.6 to 1.7.5 when **turning on "URL rewriting"** (in "Shop Parameters - Traffic & SEO") I get the following error message:

`Keyword "{id_product_attribute}" required for route "product_rule" (rule: "{category:/}{id}-{rewrite}{-:ean13}") `

I can't switch on url rewrite because of that and I can't edit the URL scheme either, it is just not there.
I am u

[2019-01-07 13:03] khouloudbelguith commented on #12043
@maofree, I use PhpStorm.
@marionf, @colinegin what do you think can we add a new option by default to change the time logout of the inactivity in the PrestaShop ?https://github.com/PrestaShop/PrestaShop/blob/develop/classes/controller/AdminController.php#L2774
Thanks!

[2019-01-07 13:06] masiorama commented on #10934
I just had the same problem with 1.7.4.

[2019-01-07 13:16] khouloudbelguith commented on #12048
Hi @Goalfair,

In the SEO&URLs page, in the Schema of URLs part, you can find the route to products:
The {-:id_product_attribute} is required, you need to add it.
![image](https://user-images.githubusercontent.com/16067358/50770218-cf0a7f00-1286-11e9-812e-eb96f2fb2d3f.png)
Thanks to check & feedback.

[2019-01-07 13:17] khouloudbelguith commented on #12048
Related to #12026

[2019-01-07 13:29] khouloudbelguith commented on #12026
Hi @espacious,

In the SEO & URLs page, in the Schema of URLs part, you need to add the `{id}` keyword to these routes.
![image](https://user-images.githubusercontent.com/16067358/50770646-54dafa00-1288-11e9-9c88-86f4ae877c16.png)
you need to add `{id}` to thoses rules: "blog/category/{rewrite}.html" , rule: "blog/tag/{rewrite}.html" , rule: "blog/post/{rewrite}.html"
Thanks!

[2019-01-07 13:34] Bonobomagno commented on #11596
So you are using local namespace with composer in your module and global one for access prestashop namespaces?
any issue about it?
Maybe with the views part?
Btw, this will multiply vendor dir in a prestashop installation , is this good? :/

[2019-01-07 13:36] Quetzacoalt91 commented on #11878
Could mails templates be provided by theme developers?

You could keep the current folder `/mails` as base, and allow each theme to bring its own template in `/themes/<theme_name>/mails`.

[2019-01-07 13:37] web-fu commented on #11946
Hi @khouloudbelguith,
I've contacted the creator of the module, but it is not "their fault".
Let me explain: after payment the payment system call a "notify page". If the page takes too long to load, the payment system drop the connection. If this happens, the payment in the datatabase assume a null status that is managed by BO but not by FO.
The core problem is not the timeout, but the unmanaged

[2019-01-07 13:44] khouloudbelguith commented on #10934
Hi @masiorama,

Have you tried to disable the psaddonsconnect module?
PS: this issue is added to our bug roadmap, it is not fixed yet.
Thanks!

[2019-01-07 13:48] khouloudbelguith commented on #12047
Hi @maofree,

Thanks for your report.
It could be an improvement issue to remove the `seo-urls-showcase-card` definitely.
In our case PS1.7.5.0, if we remove it & we refresh the page => it is displayed again.
@marionf @colinegin what do you think?
Thanks!

[2019-01-07 13:50] Goalfair commented on #12048
This whole section is missing in 1.7 (it was there in 1.6).

The following sections are present in menu item "traffic & seo":
• SEO & URLs
• Set up URLs
• Set shop URL
• Robots file generation

I do not have a "Schema of URLs", presumably because I can not turn on the "URL rewrite"?

[2019-01-07 13:50] jolelievre commented on #11878
The thing is mail themes are not necessarily linked to a PrestaShop theme, I would prefer to keep them separated which is why they should not be stored as a theme subfolder

[2019-01-07 14:00] krasnycz commented on #12012
I tried to upgrade 1.7.4.4 different instance and different server. Modules were updated however BO Catalog and Peformace tabs give Error 500. In the var/log there is same error as on the other instances.

[2019-01-07 14:56:00] request.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\MethodNotAllowedHttpException: "No route found for "GET /improve/modules/addons/login": Method

[2019-01-07 14:05] masiorama commented on #10934
I did @khouloudbelguith , and that specific error on login disappeared. Still today I'm experiencing so many difficulties with prestashop, expecially in getting modules updates... does it mean anything to you?
Thanks in advance.

[2019-01-07 14:09] Quetzacoalt91 commented on #12044
Indeed, all module actions ran as bulk will throw an error 500. This is caused by concurrent use of the cache while it is being deleted.

[2019-01-07 14:10] khouloudbelguith commented on #12048
@Goalfair, in your case "Friendly in disabled.
Could you please enable Friendly URLs Manually => you can do it in the database under the `PREFIX_configuration` table => search for the entry with name field equal to `PREFIX_REWRITING_SETTINGS` & edit the value to 1.
Or you can run this request SQL: `UPDATE `PREFIX_configuration` SET `value` = '1' WHERE `PREFIX_configuration`.`id_configuration` = 9;

[2019-01-07 14:11] psyray commented on #11596
You can access Prestashop defined namespace (which is already migrated to Symfony and located in the src folder) with

- `PrestashopBundle\[Controller,Entity...]\...`
- `Prestashop\Prestashop\[Core,Adapter]\...`

You can access your module namespace with `MyModule\...`

And you can access all others classes, which do not have a defined namespace (the legacy ones not already migrated), from the glo

[2019-01-07 14:12] khouloudbelguith commented on #10934
@masiorama, This issue is a different issue, can you open a new one with more information about your configuration & your different issue.
Thanks!

[2019-01-07 14:15] masiorama commented on #10934
Ok thanks I'll try to gather infos and open an issue... I'm kinda lost anyway, it seems everything random, I'll do the best I can.

[2019-01-07 14:18] marionf commented on #12032
@khouloudbelguith Do you have also this issue on 1.7.4.4 ?

[2019-01-07 14:20] khouloudbelguith commented on #12042
@Akashvastarpara, about this error
`Fatal error: require(): Failed opening required '/home/domain.com/public_html/vendor/composer/../symfony/polyfill-ctype/bootstrap.php' (include_path='/home/domain.com/public_html/vendor/pear/pear_exception:/home/domain.com/public_html/vendor/pear/console_getopt:/home/domain.com/public_html/vendor/pear/pear-core-minimal/src:/home/domain.com/public_html/vendor/pea

[2019-01-07 14:25] marionf commented on #12043
@khouloudbelguith You mean increase the default value for more than 480 ?

[2019-01-07 14:29] Maofree commented on #12043
Hi @marionf if you look at the image in the AdminController.php at line 2733 there is 900
so the admin cookie value is not used

[2019-01-07 14:32] khouloudbelguith commented on #12032
Hi @marionf,

With PS1.7.5.0, there is `Disallow: /modules/`
![image](https://user-images.githubusercontent.com/16067358/50773231-953e7600-1290-11e9-87d8-2047b7084199.png)
But with PS1.7.4.4, I found `Disallow: */modules/`
![image](https://user-images.githubusercontent.com/16067358/50773250-a5eeec00-1290-11e9-8017-37068239f1b6.png)
Thanks!

[2019-01-07 14:36] khouloudbelguith commented on #12043
Hi @marionf, about the 900 number which is added to the last_activity: the default settings are 900secondes = 15 minutes, so the login is automatically terminated after 15 minutes of inactivity in the PrestaShop. it could be not constant but an option added so we can edit it.
Thanks!

[2019-01-07 14:41] eternoendless opened #12051 "Use PrestaShop/decimal to perform price operations"
PHP, alongside most programming languages, has [floating point precision issues](http://php.net/manual/en/language.types.float.php). PrestaShop has many float operations involving prices, which results in rounding errors.

To improve precision, all price calculations should be performed using arbitrary-length precision operations instead of floating point operations.

Since the [BC Math extension]

[2019-01-07 14:50] khouloudbelguith commented on #12012
HI @krasnycz,

`Autoupgrade` not updating modules issue is not related to PrestaShop.
The issue of the list of the native modules which are not upgraded automatically it is a server issue because in a different instance and different server => modules were updated.
About your second issue, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev) & during

[2019-01-07 14:57] espacious commented on #12026
Hi @khouloudbelguith,
as said i dont see any routes about blog. See atached screen.

Thanks for all the support.

![bug](https://user-images.githubusercontent.com/39135335/50774885-f700df00-1294-11e9-949d-d4a299b3dc92.jpg)

[2019-01-07 15:05] marionf commented on #9763
@khouloudbelguith
I am not sure to understand what is the problem on your screenshots, you have the same theme for each shop ?

[2019-01-07 15:09] marionf commented on #12032
So, it's a regression when you generate robots.txt file ?

[2019-01-07 15:10] khouloudbelguith commented on #9763
HI @marionf, yes I use the same theme for different Project Prestashop.
In the first screenshot, I use multistore context with a different theme for each shop => the block style is changed => NOK.
In the second picture => I used the same theme with multistore context is disabled => block style is OK.
Thanks!

[2019-01-07 15:10] eternoendless commented on #11596
@Bonobomagno

Unfortunately, for backwards compatibility the main module file must be in the root namespace. But this doesn't mean all of the modules' classes have to, you can use any namespace you'd like ([example](https://github.com/PrestaShop/ps_linklist/blob/master/ps_linklist.php#L33-L36)).

The `vendor` directory will be created inside your own module. There's no issue about it, but you have

[2019-01-07 15:12] marionf commented on #12043
It's not this ?

![capture d ecran_873](https://user-images.githubusercontent.com/13449658/50775637-f5381b00-1296-11e9-81e0-999b23237d90.png)

[2019-01-07 15:13] Maofree commented on #12043
I thought it myself but if you change that value nothing happens, only if you change the value 900 in the AdminController.php file. You could put that variable instead of 900

[2019-01-07 15:13] khouloudbelguith commented on #12043
@marion I don't think because in the core there is a constant number 900.
Thanks!

[2019-01-07 15:31] Akashvastarpara commented on #12042
I will download public_html folder from the current ftp site and upload it on new ftp site.

[2019-01-07 15:33] Akashvastarpara commented on #12042
I was not able to logon in back office so i have not changed mail url. I have changed the details as you have mentioned in steps 4&5

[2019-01-07 15:35] krasnycz commented on #12012
@khouloudbelguith Well

Well but still it's a PS issue :D. All previous updates were fine on the same setup.

I tried to clear manually. Only error 500 in products and performance. No other errors.

Seems both issues are connected. Whenever modules are updated or not the results is same. I tried to move both instances to different server configuration with same results. Again the main problem is v

[2019-01-07 15:40] khouloudbelguith commented on #12042
@Akashvastarpara, have you the same errors after these modifications?
Thanks!

[2019-01-07 15:44] Quetzacoalt91 commented on #15205
This is what I understand from the reported error. There is no trace of `module_settings` in the PrestaShop code, and searched several times in the whole projet to be sure no lib specify it.

I would recommend to check the modified files list displayed in the Information page of your back-office, or in the upgrade module before running the process. You could also check if there are overrides exist

[2019-01-07 15:47] khouloudbelguith commented on #12026
Hi @espacious,

Have you tried to contact the module author about this issue?
There are routes related to your module which they are not displayed.
Thanks!

[2019-01-07 16:06] khouloudbelguith commented on #11946
Hi @web-fu,

Thanks for this clarifications, but I did not manage to reproduce the issue following these steps:
In my case, I tried to change the status of any order to invalid status (id status =0)
![image](https://user-images.githubusercontent.com/16067358/50778288-ddb06080-129d-11e9-8247-8673db3f4045.png)
But in my order history, there is no error
![image](https://user-images.githubusercontent.

[2019-01-07 16:08] Goalfair commented on #12048
The command did not work, however I looked up the entry manually and changed it **from 0 to 1.**

Now the "Schema of URLs" section is available in "Traffic & SEO", and after changing the "Route to products" to
`{category:/}{id}{-:id_product_attribute}-{rewrite}`
**I finally can enable URL rewrite.** Thanks!

The last thing I had to do (just if someone else experiences a similar problem) was to use

[2019-01-07 16:08] #12048 closed, assigned to nobody

[2019-01-07 16:16] khouloudbelguith commented on #12048
@Goalfair, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-01-07 16:18] Bonobomagno commented on #11596
I'm a bit confused now, psyray say one thing, eternoendless an other..
i have to use `namespace PrestaShop\Module\MyCustomModule` or `namespace MyCustomModule` ?

The first one is not cool, but the second one seems too nice to be true..

[2019-01-07 16:23] marionf opened #12053 "Product summary and description are not always displayed"
**Describe the bug**
Product summary and description are not always displayed when you switch language

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have many languages installed
2. Go to Catalog > Product > Edit a product
3. Change language and click on summary and description
4. You don't see always the content

**Screenshots**

![capture d ecran_875](https://user-images.gi

[2019-01-07 16:33] marionf commented on #12043
All right, so we need to change the behavior to keep what is filled in BO > Advanced parameters > Administration > Lifetime of back office cookies and increase the value (currently set to 480 in BO)