[2020-06-18 14:00] joemugen commented on #19746
Hey @florine2623 , there is already a pull request ready: https://github.com/PrestaShop/PrestaShop/pull/19738

[2020-06-18 14:02] matks commented on #19733
PR approved https://github.com/PrestaShop/ps_shoppingcart/pull/59 waiting for QA now

[2020-06-18 14:02] colinegin commented on #13871
As discussed with @jolelievre we no longer reproduce this issue, so we can close it.
Unfortunately we have discovered a new issue (regression), I'll add it here.

[2020-06-18 14:02] #13871 closed, assigned to nobody

[2020-06-18 14:15] matks commented on #19590
No urgent at all, it's for 1.7.8 😄 it's rather I dont want to waste @TristanLDD energy on minor issues like this one while he has so much bigger decisions to explore

I feel bad disturbing him for this ; I feel like the little kid yelling "papa ! can I pick this ? papa ! can I go outside ? papa ! can I read this book !"

[2020-06-18 14:17] colinegin commented on #19590
You can call him "Daddy Tristan".
In any case, I don't think this will be a problem.

[2020-06-18 14:20] hamus1 opened #19853 "I can't modify or create a new product (The CSRF token is invalid. Please try to resubmit the form.)"
Can't modify or add a new product. When click on Save, i've this  message: The CSRF token is invalid. Please try to resubmit the form.

* PrestaShop version: 1.7.6
* PHP version: 7.2
Help please
![capturegit](https://user-images.githubusercontent.com/55998752/85031952-2ba9e300-b177-11ea-8a3b-2a6b830dbd06.png)

[2020-06-18 14:35] florine2623 commented on #19632
Hi @cadonovan ,

The calculation is correct.
I placed an order of 50€ with wire payment. The payment has been accepted.
I can see this in my dashboard :
![Capture d’écran 2020-06-18 à 16 18 02](https://user-images.githubusercontent.com/16019289/85031744-5435db00-b17f-11ea-8cf7-ed70f38d22b0.png)
In the parameters of the board for wire payment, here what I have :
![Capture d’écran 2020-06-18 à 1

[2020-06-18 14:36] jolelievre opened #19855 "Invalid check for max quantity when editing product quantity in Order"
#### Describe the bug

When I edit a product quantity in an order I can't use the max available quantity, I get an error that there are not enough products in stock.

![Capture d’écran 2020-06-18 à 15 46 50](https://user-images.githubusercontent.com/13801017/85030322-99f1a400-b17d-11ea-8664-2cecb2c53de6.png)

When I already added a big quantity of the product I can also get the same error when I

[2020-06-18 14:42] StudioAquilon commented on #19799
yes for me it's ok, i can do otherwise. Thank you all.

[2020-06-18 14:42] jolelievre commented on #19855
## Developper note

The problem comes from this code: https://github.com/PrestaShop/PrestaShop/blob/2bc8db222167f73bf6e14206777c24834a1f91a3/src/Adapter/Order/CommandHandler/UpdateProductInOrderHandler.php#L243:L250

The quantity is not checked correctly (the quantity in OrderDetail must be used as well). Also something worries me in the `AddProductToOrderHandler` the check is noth made the same w

[2020-06-18 14:43] florine2623 commented on #19632
Hi @LouiseBonnard ,

@cadonovan would like to change `Net Profit` to `Gross Profit` in the Dashboard :
![Capture d’écran 2020-06-18 à 16 25 33](https://user-images.githubusercontent.com/16019289/85034247-2bfbab80-b182-11ea-8050-2a48ba6dca6e.png)

Now in PS, the Net Profit is a result of Total sales (tax excl) - Average gross margin percentage.

FYI
Gross profit is your business's revenue minus t

[2020-06-18 14:46] florine2623 commented on #19853
Hi @hamus1 ,
Please, send your request in English.
English is the norm on GitHub
Thank you!

[2020-06-18 14:50] florine2623 commented on #19798
Hi @daresh ,
Do you have example of high resolution images that I can do the test with ?
By "delete thumbnail", do you mean delete the cover image of a product in the BO ?
Thanks!

[2020-06-18 14:53] Progi1984 commented on #15373
@PrestaShop/prestashop-product-team Must we check the maximal PHP version ?
Actually we check the minimal version (7.1.3 at this day), but not the maximal version.
But we are not compatible (7.4).

I vote for a YES.

[2020-06-18 14:57] florine2623 commented on #19847
Hi @APerricone ,
Could you specify exactly what info/fields the feature might need ?
What are `id_backoffice` and `id_desktop` meant to do in that case ?
Thanks!

[2020-06-18 15:02] jolelievre commented on #13871
New issue https://github.com/PrestaShop/PrestaShop/issues/19855

[2020-06-18 15:04] florine2623 commented on #19842
My settings are all to NO indeed and I don't have an email in the field "Email addresses".

[2020-06-18 15:06] florine2623 commented on #19842
Hi @Progi1984 ,
A new version of ps_emailalerts has been released last week, can the problem come from it ?
Is this even a bug ?
Thanks!

[2020-06-18 15:06] cadonovan commented on #19632
================
Hi
Again you are incorrect.
With an `Average gross margin percentage` of 40%, the net profit that from this sale would be 16.67€ (not 25€). That is 40% x 41.67€ = 16.67€ (which is your gross profit). The average gross margin percentage reflects the gross profit whereas you are deducting the average gross profit percentage (40%) from your sales (41.67€ - [40% x 41.67€]) to obtain t

[2020-06-18 15:14] florine2623 commented on #19658
Have you tried with theme classic ?
This error might come from your theme. Please verify.

[2020-06-18 15:15] cadonovan commented on #19632
=======
Hi

You wording is incorrect.
You said:
"Now in PS, the Net Profit is a result of Total sales (tax excl) - Average gross margin percentage"

It should be:
Now in PS, the Net Profit is a result of Total Sales (tax excl) x Average Gross Margin Percentage".
(note you multiply the Total Sales (tax excl) by the value for Average Gross Margin Percentage to give you the value of Gross Profit. You

[2020-06-18 15:15] PierreRambaud commented on #19825
@Hlavtox Could you share the exact apache configuration which is used to run your PrestaShop?
If we can reproduce the issue it could help :sweat_smile:

[2020-06-18 15:28] ComonSoft commented on #19090
Hi,
This is a big issue, because invoices are false, and customer can complain. Is any fix available ?
To reproduce, add rule 10% all cart exclude products in promotion. The reduction is applied on all products. See screen shot enclosed.
PS 1.7.6.5 PHP 7.2
![screenshot](https://user-images.githubusercontent.com/13507563/85040458-1dfd5900-b189-11ea-975c-927ad771aad3.jpg)

Regards

[2020-06-18 15:37] Progi1984 commented on #19177
Ping @PierreRambaud What should we do on this issue ?

[2020-06-18 15:39] PierreRambaud commented on #19177
@Progi1984 Make sure we can remove the `docs` directory, all documents not in the devdocs should be on it

[2020-06-18 15:41] jolelievre opened #19857 "Symfony controller from module without a tab has no authorization role created"
#### Describe the bug

When a module is installed `ModuleTabRegister` is in charge of creating the associated Tab, which creates the appropriate authorization roles

If the module creates its tab automatically (via `$tabs` property) or manually everything is fine, but if there is a controller (with permission via annotation) without tab no roles will be created thus an Exception will be thrown whe

[2020-06-18 15:41] APerricone commented on #19847
We have a program, used by a thousand of customers, this program is used to manage products, providers, invoices, cash register, weight scales (the kind that create a sticker with the price), electronic labels, etc etc
We call this kind of software "backoffice", our product is called TLPosWin, and it is used only on Italy on grocery stores.
In this program is possible send the products and the cat

[2020-06-18 16:05] florine2623 commented on #19839
In International > Translation > Email Translations > ps_emailalerts, do you see the variable {product} ?
![Capture d’écran 2020-06-18 à 18 03 59](https://user-images.githubusercontent.com/16019289/85044619-2ad07b80-b18e-11ea-87ab-eff96e9b2bce.png)

Can you send me `productoutofstock.txt` and `productoutofstock.html` in .zip format ? I will take a look.

[2020-06-18 16:14] arirangz commented on #19839
Yes I have it under my child theme:
![Capture d’écran 2020-06-18 à 18 13 22](https://user-images.githubusercontent.com/1193727/85045623-7e8f9480-b18f-11ea-8ad9-49851dfda530.jpg)

[2020-06-18 16:15] kpodemski commented on #19842
@florine2623 try to visit some out of stock product and you'll see that it is a huge issue :)

[2020-06-18 16:54] jolelievre commented on #19803
Hi @colinegin,

I reproduce the same bugs as you, FO is fine And I believe I have the same bug as you the base price is displayed as 1.09€ even though I entered 1.10€ (with 10% tax), it should 1€ tax excluded.

I also tried on a 176 and the bug were already present. So these are not regressions, and I'm not sure they can be included in the 177 scope.

Besides I tried to create the same Order in th

[2020-06-18 17:28] Hlavtox commented on #19825
@PierreRambaud

http://janwis.cz/info.php

[2020-06-18 19:10] Tatyart31 opened #19860 "/1) ContextErrorException Avvertenza: vsprintf (): troppi argomenti"
Buonasera, dopo aver tradotto alcuni testi
Mi compare questo errore
Prestashop 1.7.6.5
Php 7.2
Il back office funziona solo in modalità di debug
L'errore accedendo al sito è questo:

1/1) ContextErrorExceptionAvvertenza: vsprintf (): troppi argomenti
--
nella riga 340 di Translate.php
at TranslateCore :: checkAndReplaceArgs ( '% year% M2V Communications% copyright%', array ('PrestaShop ™', '2020',

[2020-06-18 20:20] Hlavtox opened #19861 "Bug classification question"
Why did you create a bug classification, when nobody follows it?

https://build.prestashop.com/news/severity-classification/

Are filters on employee page not working really that critical that it needs to be fixed asap? 🙄
  https://github.com/PrestaShop/PrestaShop/issues/19812

There are huge bugs regarding display of prices, gifts, even browsing products has issues that are not fixed for more tha

[2020-06-18 20:35] PululuK commented on #19861
Thank you very much, it comforts me, I thought I was the only one.
Prestashop are very inconsistent in what they say and what they do.

Example
https://build.prestashop.com/news/open-question-not-commiting-assets-anymore/

I am discouraged 🤔

[2020-06-18 20:39] Hlavtox commented on #19810
@colinegin See #19849, I found the cause.

[2020-06-18 20:45] CT-Web opened #19862 "Total discount wrong with multiple same gift from cart rules"
#### Describe the bug

When I add multiple cart rules to add the same product gift repeatedly, the discount is not ok :
- RULE 1 : 1 gift for each order > 0€ => total discount is OK if the only rule applied is this one
- RULE 2 : same gift as RULE 1 for each order >= 50€ :  total discount is NOK if this rule is applied. The customer has to pay 50% of one of the gift.
- RULE 3 : same gift again for

[2020-06-18 21:01] juraj1000 opened #19863 "Negative discount generates an error"
#### Describe the bug
Negative discount (% or amount) created manually in BO generates the error:

500 Server Error
Oops, something went wrong.
Try to refresh this page or feel free to contact us if the problem persists.

#### Expected behavior
There should be some error message if something is wrong.

#### Steps to Reproduce
1. Go to BO > Orders > Orders > select order and display detail screen
2

[2020-06-18 21:04] banan44 commented on #19736
Hi @florine2623
I think it is not normal that opening Information page takes over 300 seconds. I have increased that number to 500 (server maximum) and still I cannot access Information page. While on my second Prestashop installment on the same server opening Information page takes about 5 seconds at max.

I cannot perform update because when I enter 1-Click Upgrade module I also have 503 error w

[2020-06-18 21:15] kpodemski commented on #14878
@PrestaShop/prestashop-core-developers this is ready and merged thanks to @Oksydan

[2020-06-19 05:46] rupalidu commented on #13258
i am also facing the same issue Prestashop version is 1.7.4.2

[2020-06-19 06:50] Progi1984 commented on #14878
Fixed by PrestaShop/productcomments#42

[2020-06-19 07:12] Progi1984 commented on #13442
I create a PR for checking if the user has the SELECT privilege on the database. Thanks @provirus

[2020-06-19 07:14] matks commented on #19098
PR going to QA https://github.com/PrestaShop/PrestaShop/pull/19581

[2020-06-19 07:22] matks commented on #19861
Actually we are 100% following our own criteria.
Bug https://github.com/PrestaShop/PrestaShop/issues/19812 is labeled critical because `It can lead to data loss, introduce a security vulnerability or break the automatic end to end tests`

The 3rd part applies here. Our automatic end-to-end tests have reported this issue and we have applied the right label.
This is why the label `Detected by TE` is

[2020-06-19 07:25] matks commented on #19861
We also follow 100% https://build.prestashop.com/news/open-question-not-commiting-assets-anymore/ on `develop` branch.

Next time you see something strange, before saying "Prestashop are very inconsistent in what they say and what they do." maybe you can simply ask (on our Slack channel https://github.com/PrestaShop/open-source/tree/master/slack for example) about it and we'll provide a valid expl

[2020-06-19 07:59] florine2623 commented on #19860
Hi @Tatyart31 ,
Please, send your request in English.
English is the norm on GitHub.

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots
You don't know how to get this inform

[2020-06-19 08:26] florine2623 commented on #19862
Hi @CT-Web ,
Indeed, I manage to reproduce your issue in PS 1.7.6.5. However this bug has been fixed in PS 1.7.7.0. I would advise you to wait for the release candidate to upgrade your shop.

In PS 1.7.6.5 :
![Capture d’écran 2020-06-19 à 10 24 25](https://user-images.githubusercontent.com/16019289/85113181-2b612480-b217-11ea-98b3-ece0538518fb.png)

In PS 1.7.7.0 :
![Capture d’écran 2020-06-19

[2020-06-19 08:26] #19862 closed, assigned to nobody

[2020-06-19 08:31] florine2623 commented on #19863
Hi @juraj1000 ,
You issue might be a duplicate of https://github.com/PrestaShop/PrestaShop/issues/19113
Here's the answer for you : https://github.com/PrestaShop/PrestaShop/issues/19113#issuecomment-629200129

You are not supposed to add negative discount. Discount can't be lower than 0.
![Capture d’écran 2020-06-19 à 10 31 25](https://user-images.githubusercontent.com/16019289/85113724-0b7e3080

[2020-06-19 08:31] #19863 closed, assigned to nobody

[2020-06-19 08:43] florine2623 commented on #19839
Could you regenerate your emails here : Improve > Design > Email Theme > Generate Emails ?
Thanks!

[2020-06-19 09:02] mfnew commented on #19853
Had same issue, found a fix on the prestashop forums

in your php.ini file try increasing max_input_vars to more than it is now.

Increased mine to 1500 and it fixed it.

Not sure if this helps you, but on prestashop forum more people had success with this.

[https://www.prestashop.com/forums/topic/588511-the-csrf-token-is-invalid-please-try-to-resubmit-the-form/](Prestashop thread)

[2020-06-19 09:28] matks commented on #19151
Will be fixed by https://github.com/PrestaShop/ps_sharebuttons/pull/40

[2020-06-19 09:37] #12826 closed, assigned to nobody

[2020-06-19 09:38] #12825 closed, assigned to nobody

[2020-06-19 09:38] #12833 closed, assigned to atomiix, colinegin

[2020-06-19 09:38] #12831 closed, assigned to atomiix, colinegin

[2020-06-19 09:44] AladinLahlali commented on #17856
i have the same issue im using V: 1.7.5.1
Version de PHP : 7.2.28
theme : warehouse
PHP Fatal error:  Uncaught  --> Smarty: 0():Missing '$template' parameter <--
  thrown in public_html/vendor/smarty/smarty/libs/sysplugins/smarty_internal_templatebase.php on line 177

and i can't figure out, any idea please

[2020-06-19 10:04] #19822 closed, assigned to matks

[2020-06-19 10:04] matks commented on #19822
Fixed by https://github.com/PrestaShop/PrestaShop/pull/19820

[2020-06-19 10:32] dasafefe commented on #19734
Hi,
We have tried PHP 7.2, the problem still exists. It only happens to Simple Product. Please advise what to do next. Thanks

[2020-06-19 11:35] florine2623 commented on #19853
@mfnew thanks for the comment :)

@hamus1 don't forget to check if you meet all system requirements : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

[2020-06-19 11:50] Progi1984 commented on #19244
Fixed by #19712

[2020-06-19 11:50] #19244 closed, assigned to PierreRambaud

[2020-06-19 12:08] Cameros-agency opened #19867 "Shipping cost is taxes exluded for EU B2B customers"
Hi,
We're having an issue about taxes included or not on shipping cost. Our shop is located in France and when foreign European business customers proceed to checkout, shipping costs are taxes excluded.

1. Add product to your cart
2. Proceed to checkout
4. Create an address in a European country (e.g. Germany) address without VAT number
3. Create the same address with a VAT number
5. Select a non

[2020-06-19 12:16] florine2623 commented on #19842
@kpodemski what do you mean ?

[2020-06-19 12:17] florine2623 commented on #19734
You need to check if catalog mode is enable.
Shop parameters > Product settings :
![Capture d’écran 2020-06-19 à 14 17 16](https://user-images.githubusercontent.com/16019289/85131723-a6d2ce00-b237-11ea-8814-fe85e39cfdf1.png)

[2020-06-19 12:34] matks commented on #18450
According to @atomiix even though the work is done, it is not available on the Production API.

Since we have no Pre-Production API, there's no way to test this feature yet. We must wait for Addons API to be updated in Production then we can test.

[2020-06-19 12:38] matks commented on #19607
Back to WIP because https://github.com/PrestaShop/PrestaShop/pull/19646 Travis is not happy

[2020-06-19 12:38] matks commented on #19592
Back to WIP because https://github.com/PrestaShop/PrestaShop/pull/19646 Travis is not happy

[2020-06-19 12:42] florine2623 commented on #19740
What is the order status when you try to update the price ?

[2020-06-19 12:54] kpodemski commented on #19842
@florine2623 module is not creating table in database, it's impossible to use it, module is **completely ** broken without this fix, you can't subscribe for a notification to get an email when product is back in stock etc.

[2020-06-19 13:02] Progi1984 commented on #19754
Fixed by #19788

[2020-06-19 13:02] #19754 closed, assigned to Progi1984

[2020-06-19 13:14] florine2623 commented on #19711
Hi @PrestaShop/prestashop-modules ,

I can't test @jf-viguier 's issue.
Could try to reproduce the encoding error ?

Thanks!

[2020-06-19 13:18] xonox commented on #10479
Sorry again,

This problem seems a bit weird.

But I stumble upon this problem every time.

The problem seems to be on around line 241 (prestahop 1.7.5.6)

public $pack_stock_type = Pack::STOCK_TYPE_DEFAULT;

Error: Cannot declare self-referencing constant 'Pack::STOCK_TYPE_DEFAULT'

Because Pack is a subclass of Product.

And in the super class Product it seems not be possible reference a subclas

[2020-06-19 13:21] florine2623 commented on #19747
Hi @thbl ,
Using browserstack.com, I was able to see a PS 1.7.6.5 shop correctly on FO and BO.
Is there another way to test that functions isTablet() or isMobile() are not working ?
Thanks

[2020-06-19 13:24] xonox opened #19869 "Error executing product save"
Hi

I've reported a issue a while ago, but it stills happen every time.

Issue: [https://github.com/PrestaShop/PrestaShop/issues/10479](https://github.com/PrestaShop/PrestaShop/issues/10479)

This problem seems a bit weird.

But I stumble upon this problem every time.

The problem seems to be on around line 241 (prestahop 1.7.5.6)

public $pack_stock_type = Pack::STOCK_TYPE_DEFAULT;

Error: Cannot

[2020-06-19 13:26] thbl commented on #19747
@florine2623
Only by a module/theme that uses the function, etc. amp theme / plugin

[2020-06-19 13:32] juraj1000 commented on #19740
There is Payment accepted, you can see it on the screen which I posted here in previous reply

[2020-06-19 13:49] Junebyun commented on #19644
Hi @juraj1000, thank you for opening this issue. :)

Concerning the "_Enable tax_" option, in International > Taxes, I see your confusion.
As a new wording I thought of:

"_**Include tax in prices**_" with the option **YES/NO** and the text "_**Select whether or not to include tax on prices**_" below (changing "purchases" by "prices" seems more accurate).

I think this wording will be consistent w

[2020-06-19 13:58] florine2623 commented on #19747
ok and can you be a little more clear ?
What are the steps to reproduce the issue ?
What does the problem looks like ?
Do you have a test module ?
I cannot help you if I don't see an issue

[2020-06-19 13:59] matks commented on #19847
This looks like the cleaner way in my opinion. Coupling IDs between your system and a prestashop creates a complex situation where you face multiples issues
- when ID is deleted/updated on one side you need to synchronize data
- if IDs are generated in different manners

Most ERPs I have seen always handle this in new property.
For example if e-commerce system Z has a product object, and 2 ERP A a

[2020-06-19 14:03] matks commented on #19847
@APerricone Other idea: you can do pretty much anything into a module ... including exposing a webservice ! So you can embed into your module a small import/export webservice built by you that you can use to modify the data you need.

So your way of doing things would be "Hi ! You want to use TLPosWin with PrestaShop ? Download our module for PrestaShop, input in some configuration page your API k

[2020-06-19 14:04] florine2623 commented on #19740
Ok, I did manage to reproduce the issue with PS 1.7.6.5 :
![Capture d’écran 2020-06-19 à 16 00 53](https://user-images.githubusercontent.com/16019289/85140838-24053f80-b246-11ea-89c6-3b5db171c8a7.png)
However in PS 1.7.7.0, the bug has been fixed. The whole order page has been changed.
I won't be able to click Update in the product section with no change to it. There is a 'Save' button when chan

[2020-06-19 14:04] #19740 closed, assigned to nobody

[2020-06-19 14:07] Progi1984 commented on #19098
Fixed by #19581

[2020-06-19 14:07] #19098 closed, assigned to matthieu-rolland

[2020-06-19 14:09] matks commented on #19812
PR WIP again https://github.com/PrestaShop/PrestaShop/pull/19828

[2020-06-19 14:10] Klemart3D commented on #9660
Reorder problem still there on PS 1.7.7.0 (beta tested today):

![bug-reorder-ps1770](https://user-images.githubusercontent.com/7419525/85141599-49df1400-b247-11ea-868b-be991c4179ba.gif)

[2020-06-19 14:14] jf-viguier commented on #19711
I don't understand, I've reproduced the encoding error : that's described in this issue.

[2020-06-19 14:24] florine2623 commented on #19860
I'll close your issue as you are not using our template properly.

[2020-06-19 14:24] #19860 closed, assigned to nobody

[2020-06-19 14:25] florine2623 commented on #19853
@hamus1 I'll close your issue as you are not using our template properly.

[2020-06-19 14:25] #19853 closed, assigned to nobody

[2020-06-19 14:37] florine2623 commented on #19869
PS 1.7.5.6 does not exist.

I can't reproduce the issue in PS 1.7.6.5 nor PS 1.7.7.0, following these steps :
- create standard product A
- create pack product containing product A
- delete product A
Result that I have in my BO :
![Capture d’écran 2020-06-19 à 16 32 48](https://user-images.githubusercontent.com/16019289/85144101-f8d11f00-b24a-11ea-85e8-cb32bfd7a0ab.png)

I'll close your issue.

[2020-06-19 14:37] #19869 closed, assigned to nobody

[2020-06-19 14:38] niccolobusato opened #19872 "Multiple catalogs"
#### Is your feature request related to a problem?

Ability to have multiple catalogs within specific categories for each

#### Describe the solution you'd like

Ability to have multiple catalogs within specific categories for each

#### Alternatives you've considered

show only (filter) category related to the product type (on product creation)

#### Additional context

very useful when you have

[2020-06-19 14:55] matks commented on #19711
Now we try to reproduce on our side 😄 because if we cant reproduce, how can we deliver a bugfix and test it indeed fixes the issue

@florine2623 maybe you wanted to ping @PrestaShop/prestashop-core-developers instead ?

[2020-06-19 15:12] florine2623 commented on #19867
Hi @CIMEOS ,
I managed to reproduce the same issue in PS 1.7.6.5 and 1.7.7.0 with vatnumber v2.1.0.

With a European country + VAT number = the shipping fee tax needs to be tax included ?
Thanks!

[2020-06-19 15:13] margud opened #19874 "Payment modules are not compatible with PrestaShop"
#### Is your feature request related to a problem?

Most payment modules use third party pages to finish payment. If customer decides to return to checkout and select different payment the cart is already gone because PrestaShop creates order when payment is selected and because of that merchants are not happy because it effects their sales. If we try to create order after payment is made in some

[2020-06-19 15:15] florine2623 commented on #19872
Hi @niccolobusato ,
On what page of the BO would you want to see the 'catalog' ?
Can you share screenshots with the feature you would like to see ? So it'll be clearer for our team.
Thanks!

[2020-06-19 15:21] APerricone commented on #19847
Many thank, my knowledge of php is not so good to do this...

[2020-06-19 15:22] florine2623 commented on #19874
Hi @margud ,
It seems like your issue is not with payment modules, but more with the availability of your products.
You can go to each product page and make sure that you allow or not the orders when you don't have any stock available :
![Capture d’écran 2020-06-19 à 17 17 54](https://user-images.githubusercontent.com/16019289/85148921-fe316800-b250-11ea-9573-78125696abce.png)
You can also check

[2020-06-19 15:22] #19874 closed, assigned to nobody

[2020-06-19 15:30] #19184 closed, assigned to zuk3975

[2020-06-19 15:30] #19591 closed, assigned to jolelievre

[2020-06-19 15:30] #19609 closed, assigned to zuk3975

[2020-06-19 15:30] #18695 closed, assigned to sowbiba

[2020-06-19 15:31] matks commented on #19184
Fixed by https://github.com/PrestaShop/PrestaShop/pull/19698

[2020-06-19 15:31] matks commented on #19591
Fixed by https://github.com/PrestaShop/PrestaShop/pull/19698

[2020-06-19 15:31] matks commented on #19609
Fixed by https://github.com/PrestaShop/PrestaShop/pull/19698

[2020-06-19 15:31] matks commented on #18695
Fixed by https://github.com/PrestaShop/PrestaShop/pull/19698

[2020-06-19 15:36] #19736 closed, assigned to nobody

[2020-06-19 15:39] florine2623 commented on #19711
@matks yes sorry, I misclicked !
As my server is in English, I don't have any accentuated letters to see the encoding error

[2020-06-19 15:43] cutteren commented on #19720
thank you, i uploaded this file to my server and tried it, but it wont let me login when running that php file. i use the password that is given in the readme but no luck. My php should be working tho

[2020-06-19 16:44] DPStudioGR opened #19875 "Combination change in prices is not refreshing in frontoffice.."
Hi there..

After i created a new product today that had a color/size combination i noticed that when choosing / changing combination in frontoffice the price is not refreshing. Despite that if i add to cart the price in cart is the right one.

When turning on debug i get the following..
-------------------------------------------------

(1/1)                                     ContextErrorExcept

[2020-06-19 21:42] juraj1000 opened #19877 "Not possible to delete or edit name of attached files"
#### Describe the bug
There is not possible to delete attached files for the product in BO.
There is not possible to edit the Title of attached files for the product in BO.

#### Expected behavior
Add a new button to the product where will be possible to delete attached file.
Add a new button to the product where will be possible to edit the Title.

#### Steps to Reproduce
1. Go to BO > Catalog >

[2020-06-20 02:07] dasafefe commented on #19734
Yes, we have enabled it.
![catalog mode](https://user-images.githubusercontent.com/66122115/85189027-b99fde00-b2dd-11ea-95a0-b74eaf8dcd07.JPG)

[2020-06-20 02:09] dasafefe commented on #19734
Please advise whether & how we could reinstall the sample simple products (those in your demo
Prestashop) that we could edit it to test.

[2020-06-20 07:51] pattex1 commented on #19808
hi.
the problem was caused ba amazon pay. i deactivated it and now it seems to run.

[2020-06-20 08:42] hamus1 commented on #19853
I've edit my message, please reopen @florine2623

[2020-06-20 08:53] Matt75 commented on #19853
We recommend to set 20000 : https://devdocs.prestashop.com/1.7/scale/optimizations/

[2020-06-20 09:41] davidhardik opened #19878 "Cancel Order For Customer"
#### Is your feature request related to a problem?

Many customers asks us to cancel their order as they can't do it from their profile page. Giving them option till the package is not in delivery. This will help them to choose or cancel the wrong product selected and also will make them order the right package.

#### Describe the solution you'd like

A feature to allow the website owner to enable

[2020-06-20 09:48] krystian-3c commented on #19618
In the case of CSS, we could cut some bites by importing only used bootstrap styles/components.
But I'm not 100% sure, that I didn't cut too much.
Instead of:
[code]
I'm thinking about something like:
[code]

I've commented out elements that seemed to be unused.

[2020-06-20 10:15] hamus1 commented on #19853
@Matt75 Same problem
i've add this in my php.ini
memory_limit = 128M
max_execution_time = 300;
max_input_time = -1;
post_max_size = 25M;
upload_max_filesize = 20M;
max_input_vars = 10000;
suhosin.get.max_vars = 10000;
suhosin.post.max_vars = 10000;
my php.ini is in this path:
/Applications/MAMP/bin/php/php7.4.2/conf/php.ini

[2020-06-20 10:26] LinkOfLight opened #19879 "why dont implement and theme update system like a wordpress"
#### Is your feature request related to a problem?

is a good idea implement a theme update sistem, like a wordpress, whit this adapt the themes to the new prestashop core are more efficient, whit this is more easy make child theme too, bacause this dont broken the personalizations

#### Describe the solution you'd like

implement a theme update sistem

[2020-06-20 10:30] AndreyOgleznev opened #19880 "No PDF reader can display and print Russian currency sign. I get rectangles instead"
After updating Prestashop to version 1.7.6.5  "₽" character started to be used instead of "RUB". It's correctly displayed in both back and front offices but not in the Prestashop generated pdf invoices. I tried to open the invoice with the actual versions of Adobe Acrobat Reader, Foxit PDF Viewer, Google Chrome Browser, MS Edge, Yandex Browser, etc. No luck. If I copy the rectangle and paste it in

[2020-06-20 10:58] PululuK opened #19881 "Remove duplicated info_outline icon in stock alert"
#### Describe the bug

Duplicated info_outline icon in stock alert

#### Expected behavior

![image](https://user-images.githubusercontent.com/16455155/85200067-a2b8b600-b2f4-11ea-97fc-d7861ee13cf1.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Stock
2. Make sure that you are in ALL SHOP
3. See error

**Screenshots**

![image](https://user-images.githubusercontent.c

[2020-06-20 11:43] Matt75 commented on #19853
Try to disable opcache or improve opcache configuration.
Check all requirements https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

[2020-06-20 12:43] dariusakafest commented on #19759
@sarahdib BO

[2020-06-20 15:17] rdy4ever opened #19883 "Checkout process: don't require delivery address if the customer picks-up his order in store"
#### Is your feature request related to a problem?

In the current checkout scenario, the customer is first asked for the delivery address, then asked if the invoice address is the same as the delivery address. After the customer enters the delivery address, the next step is delivery where the customer can choose to pickup the order in store, in which case why did the customer just entered the del

[2020-06-20 19:44] matks commented on #19879
Wordpress update system is one of the most efficient I have ever seen :) but copying it is no easy task. They achieved something great with, I guess, hard work and lot of time and resources.

We currently do not have the required amount of time and resources to do it as other huge (and critical) topics need our energy and time but, yeah, if we could get some inspiration for PrestaShop auto-upgrade

[2020-06-20 19:44] #19879 closed, assigned to nobody

[2020-06-20 20:26] matks commented on #19861
No answer from author since 2 days, I believe my answer was complete enough 😊 so I close this issue. Feel free to tell me if I'm wrong (or open another issue or come discuss on the Slack !)

[2020-06-20 20:26] #19861 closed, assigned to nobody

[2020-06-20 23:38] PululuK commented on #19861
So two days without any response you close the issue 🤔 ?

[2020-06-21 02:31] audas commented on #12757
This is a serious and reoccurring issue which is not being dealt with correctly.

Just advice users under cpanel to edit "MultiPHP INI Editor" and set "session.save_path" to "/tmp"

You should also advise them to correct their memory issues here as well - these are TWO critical problems with PrestaShop installations on standard servers which prevent thousands of users from proceeding.

The help an

[2020-06-21 12:07] matks commented on #19861
In theory we do not answer questions on GitHub as it is a bug tracker / feature tracker for us. I did an exception here 😄

When people open bug reports or feature requests, if there is a missing information in it we ask for it and apply the "NMID" (Need More Information) label. If we get no answer in 30 days we close the issue as it seems it wont go anywhere and it's needed to keep our backlog cle

[2020-06-21 12:09] PululuK commented on #19861
Ok @matks  !

[2020-06-21 12:37] omar2886 commented on #19611
Seems it's been released a new version for this module, I just installed yesterday but still not  working

[2020-06-21 12:40] sirius82 commented on #9998
@khouloudbelguith hi ! I've the same problem than Florine2623 (19 Mar 2019) for products limited to only one carrier (fresh delivery) and one country (only France) : customers wich are not in this country and add in the same cart a product with this carrier and an other product with an authorized carrier for their country can validate their order. It's necessary to refund them at each time.
And if

[2020-06-21 13:46] Muzz-as commented on #19563
I found a error. This happens then "Development Mode" on Cloudflare and memcashed is turned on together. That's why I can't save product after update.

[2020-06-21 13:47] Muzz-as commented on #19563
I found a error. This happens then "Development Mode" on Cloudflare and memcashed is turned on together. That's why I can't save product after update.

[2020-06-21 13:51] rdy4ever commented on #19783
Hi @MobileStarChart
You might be out of disk space or the file permissions are wrong on the server (you need to set 0755 for folders and 0644 fir files).

[2020-06-21 15:29] Arman-Hosseini opened #19885 "Unable to write in en-US in installation process"
When I try to install PrestaShop, this error appears:

        1: Unable to write into "en-US"" (data layer : "PrestaShop\PrestaShop\Core\Data\Layer\AbstractDataLayer")

Version: **1.7.6.5**
Same issue: #14812
I was read that issue, but It didn't help.

[2020-06-21 16:49] marcelosi commented on #14979
Thank you mnowakpcgs for your answers.

I have done a new installation of Prestashop 1.7.7 without installing any module and with the default data and the problem still persists:

**Prestashop 1.7.7 Beta, new installation**
PHP 7.2.31
8-core 32gb ram, SSD and Litespeed VPS server

Blank page - DEBUG PROFILING TRUE
No products in cart 79 queries
cart with 1 product, 141 queries
cart with 10 differe

[2020-06-21 17:32] mnowakpcgs commented on #14979
I think unfortunately there is no answer. Prestashop just makes excessive
queries. It is a significant endeavor to correct this, which I myself lack
the time for. I am running on AWS and my database clusters are
significantly disproportionate to my EC2 instances.

*Mark Nowak*
President
*Purecigs LLC*
3135 Skyway Circle
Melbourne, FL 32934
m: 321.292.2220
e: mnowak@purecigs.com
*www.purevape.com <

[2020-06-21 19:10] alfonsolr09 commented on #19883
good idea

[2020-06-21 19:40] muhannadalhariri commented on #18824
dear @20bekharweb ,
This can be with the template you install of you can even edit the PDF designs from template files in the basic design

[2020-06-22 00:04] arafatx commented on #15592
If you have mod_security installed, this might be the reason why u saw such message. Can I confirm this that you have mod_security installed ?

[2020-06-22 00:44] arafatx commented on #12667
@khouloudbelguith I can reproduce this error many times and I found out it's because of opcache. Here is the setting of my opcache:

opcache.enable=1
opcache.enable_cli=0
opcache.memory_consumption=192
opcache.interned_strings_buffer=16
opcache.max_accelerated_files=17483
opcache.max_wasted_percentage=10
opcache.max_file_size=0
opcache.enable_file_override=0
opcache.revalidate_path=0
opcache.reval

[2020-06-22 06:03] mfnew commented on #19853
Yes make sure it's not cached, always clear og disable cache while debugging

[2020-06-22 07:54] colinegin commented on #19808
This is great news !
I close this issue as there is no longer any problem, do not hesitate to create a new issue if your bug is persistent.

[2020-06-22 07:54] #19808 closed, assigned to nobody

[2020-06-22 08:13] arafatx commented on #12667
@khouloudbelguith Why this issue is closed? What is the official step to fix this problem. I don't have memcached and opcache enabled but I do have PHP-FPM does that mean Prestashop doesn't compatible with PHP-FPM? Sigh.

Can anyone do pull request with this. I can confirm that changing this line is working perfectly. Developer take note on this. This is happening on 1.7.6.5

[2020-06-22 08:31] PierreRambaud commented on #19801
Hi and thanks for your report.

You're right, there is a missing check :)
If you know exactly what to do, feel free to open a pull request :+1:

Kind regards

[2020-06-22 08:40] PierreRambaud commented on #19849
Hi and thanks for your report.

About specific prices, there is already a pull request about it: https://github.com/PrestaShop/ps_facetedsearch/pull/159

Can you tell us more about why the CRON is not working? What errors do you have?

And to finish, about sorting, it's failing because there is already some issues with it :sweat_smile:

Kind regards

[2020-06-22 08:40] #14878 closed, assigned to nobody

[2020-06-22 08:43] marionf commented on #9972
Hello @elboletaire This issue will be fixed with the remigration of the product page in symfony for the 1.7.8, but you can provide a pull request as PrestaShop is an open source project ;)

[2020-06-22 08:43] PierreRambaud commented on #19875
Hello @Stampa-Stampa ,

Since the provided information isn't sufficient to reproduce the issue, we are closing it. Feel free to open a new one with all the requested information.

Thank you

[2020-06-22 08:43] #19875 closed, assigned to nobody

[2020-06-22 08:57] elboletaire commented on #9972
I'm still trying to understand how are you proceeding with the project, and I do have issues opened with proposed changes since weeks ago waiting for a "yes" or "no, you can't do it". So I guess I'll continue waiting...

[2020-06-22 08:58] marionf commented on #9708
@Progi1984 @PierreRambaud I can reproduce the issue with 1.7.7.x

[2020-06-22 08:59] prestascott commented on #10407
Hi @colinegin,

Imo, we should continue without the subcategories because it adds another click for our users:
1. Click on the category -> only display the different subcategories (like 1.6)
2. Click on the subcategory -> display products of the subcategory
If we add subcategory, users will have to go back to the previous page to switch to another subcategory...

If we simply add subcategories on

[2020-06-22 08:59] PierreRambaud commented on #19877
Hi and thanks for your report.

When you upload a theme, there is a link below saying you need to go to `Catalog -> Files` to be able to edit / rename / remove the file.
You also have a checkbox if you want to remove the file from the product.

![image](https://user-images.githubusercontent.com/1462701/85268688-1e427080-b477-11ea-8760-a8dc90a63a10.png)

Kind regards

[2020-06-22 08:59] #19877 closed, assigned to nobody

[2020-06-22 09:01] Daaaaad opened #19886 "Search engine and customer group restrictions"
Hello,

The search functionality show products that the customer should not be able so see because of customer group restrictions.

Steps to reproduce the behavior:

1. Create a new category and assign some products to it.
2. Create a new customer group.
3. Restrict the category to newly created customer group only.
4. Make sure that indexation is ok
5. Search for restricted product reference or n

[2020-06-22 09:04] MatShir commented on #19753
Thank you for your feedback. This feature has already been requested.
This issue is a duplicate of #17225.

[2020-06-22 09:07] Progi1984 commented on #19151
Fixed by PrestaShop/ps_sharebuttons#40

[2020-06-22 09:07] #19151 closed, assigned to nobody

[2020-06-22 09:07] PierreRambaud commented on #19878
Hi @davidhardik and thanks for your report.

@PrestaShop/prestashop-product-team  What do you think? Could be a nice improvement to allow users to cancel their commands if it's possible :thinking:

[2020-06-22 09:16] PierreRambaud commented on #19881
Thanks for the report, and of course for the linked Pull request :heart:

[2020-06-22 09:20] marionf commented on #19719
Duplicate of #17136

[2020-06-22 09:20] #19719 closed, assigned to nobody

[2020-06-22 09:21] marionf commented on #17136
PR of @dgonzalez360: https://github.com/PrestaShop/ps_facetedsearch/pull/172

[2020-06-22 09:22] PierreRambaud commented on #19886
Hi and thanks for your report.

@PrestaShop/prestashop-product-team I manage to reproduce the issue, but I don't know if it's the desired behaviour.
I'm also able to reach products (If I know the URL) that shouldn't be available with my group restrictions.
Wdty?

Kind regards

[2020-06-22 09:25] jolelievre commented on #19792
@matks additionally to your behat test, I would another one at the end that adds a product with free shipping (different from adding the discount directly), and checks that the free shipping is still unique

[2020-06-22 09:27] MatShir commented on #19685
@florine2623 or @matthieu-rolland  Could you confirm it is a regression?

[2020-06-22 09:27] PierreRambaud commented on #19885
Hello @Arman-Hosseini,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

[2020-06-22 09:27] #19885 closed, assigned to nobody

[2020-06-22 09:28] marionf commented on #19719
Thank you for the PR @dgonzalez360, I closed this issue because it's a duplicate
Please follow and comment on the other issue mentionned above

[2020-06-22 09:29] #19440 closed, assigned to NeOMakinG

[2020-06-22 09:29] marionf commented on #17136
@jf-viguier @Hlavtox @micka-fdz
Could you please test the PR of @dgonzalez360 and confirm if it fit with your need ?

[2020-06-22 09:38] PierreRambaud commented on #19883
Hi and thanks for your feature request.

@PrestaShop/prestashop-product-team what do you think about changing the Checkout process?
I think it's a good idea, but changing this kind of process can lead to some issues for modules or custom themes :thinking:

[2020-06-22 09:43] juraj1000 commented on #19877
Hello,
I think now I understand it. It is quite discomfortable. If you have 100 products with 100 different attached files then you have to select correct file for every product. And there is 100 files for selection.
Would it be possible to change it and upload one file only to one product?

[2020-06-22 09:44] marionf commented on #19685
The issue seems to be only for standard products, it's not a regression
ISBN & EAN are well displayed in FO for a product with combinations

[2020-06-22 09:46] PierreRambaud commented on #19759
@dariusakafest Could you please provide us a module to reproduce your issue? It will be easier for us to understand what exactly happened.

[2020-06-22 09:48] marionf commented on #19685
Duplicate of #15783

[2020-06-22 09:48] #19685 closed, assigned to nobody

[2020-06-22 09:50] PierreRambaud commented on #19563
Despite our efforts, we were not able to reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

Thank you!

[2020-06-22 09:50] #19563 closed, assigned to nobody

[2020-06-22 09:52] PierreRambaud commented on #19734
@dasafefe We are not able to reproduce the issue with the default classic theme. If you bought a custom theme, you should see it with the creator.

[2020-06-22 09:59] marionf commented on #16952
@colinegin This bug is in the [EPIC](https://github.com/PrestaShop/PrestaShop/issues/9684) in top (first) position

[2020-06-22 10:20] Hlavtox commented on #19849
@PierreRambaud

Yes, that could fix the issue. For now, I commented out specific prices in my stores.

I cannot do full price regeneration by CRON.

https://www.domain.com/modules/ps_facetedsearch/ps_facetedsearch-price-indexer.php?token=XXXXXXXXXX works
https://www.domain.com/modules/ps_facetedsearch/ps_facetedsearch-price-indexer.php?token=XXXXXXXXXX&full=1 does not work

It works only if you cl

[2020-06-22 10:25] MatShir opened #19890 "Update product's price in the order does not update the discount"
Be aware of the EPIC - BO - Display and update error on cart rule in the order #19594 to solve this issue

#### Describe the bug

On the back-office, when I create a percentage discount and then change the product's price on the order, the discount is not updated.

#### Expected behavior

The discount should apply the 50% reduction on all the product amount even if after they are updated

#### Ste

[2020-06-22 10:29] MatShir commented on #19592
The same problem appears also when the price of the product is edited. Check the issue #19890 caught by @sowbiba

[2020-06-22 10:31] sowbiba commented on #19890
https://www.loom.com/share/b25b212a9af34b679f747977d435e291

[2020-06-22 10:46] ballashop opened #19891 "1.7.6 translation section, improvements in the management of expressions"
Hi,
I did not understand how to search for translations, I think there is something that escapes me, I would suggest inserting the lost phrases as in 1.6, and make the search easier:
if I enter a phrase, the system should show first all the fields containing the word, then on the left decide to filter according to our needs, or have a filter like "every".
Example:
I'm looking for to translate to I

[2020-06-22 10:51] cyrocostsolution commented on #19017
https://www.youtube.com/watch?v=SpRBeXVwkdo

[2020-06-22 10:53] Cricchio commented on #14978
Great!

[2020-06-22 11:33] juraj1000 commented on #19644
Hello,
I agree with the first point about "Include tax in prices" and Yes/No button.

My 3rd case in the table is:
VAT Payer
Enable tax = No
Tax incl/excl label = Yes
=> **Product page = Tax excluded**
Not clear why it is not correct.

The footer text should be defined by the merchant as a free text also with possibility to hide it.
If the e-shop is owned by self-employed person then your proposal

[2020-06-22 11:48] rederijker opened #19892 "Deleted categories 302 redirects"
#### Describe the bug
Deleted categories are redirected with status code 302 at address prestashop-site/index.php? Controller=404

All non-existent  address similar to path id-categoryname redirects at prestashop-site/index.php?Controller=404

#### Expected behavior

prestashop should return 404 status code without redirects

#### Additional information

* PrestaShop version: 1.7.6.1
* PHP version

[2020-06-22 12:03] dennispw commented on #10407
@prestascott I think this decision should be in the hands of the shop owner and/or theme developers. By all means, disable and hide them by default if that's PrestaShop's stance on the matter but owners and/or theme developers should have the option of enabling it if they want or need to.

Something like `Display subcategories [Yes/No]` where `No` would be the default would suffice.

Just because

[2020-06-22 12:04] sofiaulakova commented on #19658
I can’t check it, because my site stops working, giving an error of 500. And when I want to switch back to my topic, a message appears in the admin panel saying that this is not possible. I had to backup two times

[2020-06-22 12:08] colinegin commented on #19490
Hello,

what's the status of this issue ?

[2020-06-22 12:10] colinegin commented on #12828
ping @atomiix can you confirm these calls are made in the Gamification module ?

[2020-06-22 12:12] PierreRambaud commented on #19849
Can you please show me how you run your cron's script? I just try and I'm not able to reproduce the error :thinking:

I think the discussion should continue in the other issue ;)

[2020-06-22 12:13] atomiix commented on #12828
@colinegin yes!

[2020-06-22 12:16] PierreRambaud commented on #19892
HI and thanks for your report.

I manage to reproduce, and you're right, we shouldn't have a 302 redirect to the 404 page. :+1:

[2020-06-22 12:16] colinegin commented on #19792
As this is not a regression of 176, this issue is removed from the 177 kanban.
Thanks

[2020-06-22 12:17] Hlavtox commented on #19867
@CIMEOS @florine2623 That's how it's suppsed to be.

You sell to VAT liable person in EU, the whole order is without VAT.

[2020-06-22 12:23] Hlavtox commented on #19849
@PierreRambaud I want to reindex all catalog every night, to prevent errors.

1. Go to ps_layered_price_index and find one product. Set it's min and max price to zero.
2. Go to faceted search settings and copy the URL from "regenerate price index" button.
![Výstřižek](https://user-images.githubusercontent.com/6097524/85286841-a5054680-b493-11ea-8312-91fd5793ce7c.JPG)
3. Run it from your browser (o

[2020-06-22 12:25] NeOMakinG commented on #10407
Anyway, I think I did it like 6 months ago, so it's up as it was a regression ^^

[2020-06-22 12:25] PierreRambaud commented on #19849
@Hlavtox I did not manage to reproduce the issue.
From my terminal:
[code]

Everything is ok in the database:
![image](https://user-images.githubusercontent.com/1462701/85287200-38d71280-b494-11ea-868f-c2b8e1f97274.png)

[2020-06-22 12:26] matks commented on #14979
Hi there,

I just wanted to say that the fact this issue is not fixed yet (or in a fixed timeframe) does not mean that it won't be fixed, or that we don't care. It doesn't mean that the issue is NOT important either. It just means that other issues have been considered, for whatever reason, _more_ important, so they were (or are being) tackled first. There's an immense amount of work to be done ([

[2020-06-22 12:26] Cricchio commented on #19892
thank you so much @PierreRambaud. it is a very serious SEO issue

[2020-06-22 12:29] prestascott commented on #19590
Hi everyone,

I like this feature, thanks! I'm good for the PR :)

[2020-06-22 12:30] PierreRambaud commented on #19658
You should see with the creator of your theme. Despite several tries, we are not able to reproduce your issue.

[2020-06-22 12:45] prestascott commented on #10407
@dennispw These shops are some of examples, i just explained why it's not the best way to optimize UX on these kind of website.

But yes, i agree with you. If we want to cover all cases, we should bring back this feature and let merchants have the control on subcategories display.

An example featuring the subcategory:
- Fnac (laptop page): https://www.fnac.com/Ordinateurs-portables/shi48967/w-4#b

[2020-06-22 12:49] Hlavtox commented on #19849
@PierreRambaud
https://drive.google.com/file/d/18VkSjmvoM2kBl_g3lrsSUta-Red4vH4t/view?usp=sharing

[2020-06-22 12:50] colinegin commented on #12828
Alright then, I remove the issue from the 177 kanban ;)

[2020-06-22 12:50] #15048 closed, assigned to nobody

[2020-06-22 12:55] nesrineabdmouleh opened #19893 "Cannot select language from FO after importing a localization pack"
#### Describe the bug

Cannot select a language from FO after importing a localization pack.

#### Expected behavior

When clicking on the language list the customer can select another language.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'International>Localization' page
2. Import a localization pack( Chile for expl)
3. Go to FO
4. Change the FO language -> KO cannot clic

[2020-06-22 12:59] matthieu-rolland commented on #19685
thanx @marionf !

[2020-06-22 13:01] colinegin commented on #10407
@NeOMakinG this issue was waiting for UX, it should not have been added without UX approval.
Did you also integrate the feature to choose to display/hide subcategories ?

Thanks !

[2020-06-22 13:09] roja45 opened #19894 "No db entry for actionCustomerLogoutBefore or actionCustomerLogoutAfter"
#### Describe the bug

There are no entries in the ps_hook table for actionCustomerLogoutBefore or actionCustomerLogoutAfter, so you can't hook modules to them.

I'm testing on 1.7.6, but I don't see them in the database for 1.7.7 either.

Adding the entries to the db, resolves the issue

#### Expected behavior

You should be able to hook to these positions.

#### Steps to Reproduce

Steps to repr

[2020-06-22 13:15] NeOMakinG commented on #10407
![image](https://user-images.githubusercontent.com/14963751/85291754-2b715680-b49b-11ea-82d9-4411f98233ca.png)

You added the waiting for UX and more, 11 days after It has been assigned to me and 4 days after it was already done

[2020-06-22 13:22] prestascott opened #19895 "Toggle to display subcategory"
#### Is your feature request related to a problem?

Related to issue #10407.

#### Describe the solution you'd like

I'd like to have a toggle where i can display or not the subcategory.
Something like `Display subcategories [Yes/No]` where `No` would be the default would suffice.

#### Where?

Catalog > Categories > Category Page edition

[2020-06-22 13:23] PierreRambaud commented on #19894
Hi and thanks for your report.

I manage to reproduce the issue.

It's not a regression and it's a very old issue #3690

Thanks again ;)

[2020-06-22 13:41] Progi1984 commented on #19893
Any JS error ?

[2020-06-22 13:45] matks commented on #19893
[code]

[2020-06-22 13:53] Progi1984 commented on #18498
Fixed by #18532

[2020-06-22 13:53] #18498 closed, assigned to atomiix

[2020-06-22 13:53] Progi1984 commented on #18379
Fixed by #18532

[2020-06-22 13:53] #18379 closed, assigned to atomiix

[2020-06-22 13:59] alinchirilaa commented on #16434
Just set ur backoffice language same as your default site language. After that you can change back to english.
Eg. default site language FR and backoffice ENG u will not see the blocks. Change backoffice to FR and u will see that links.

[2020-06-22 14:07] MattLoyeD commented on #18700
Developper of this module here : this is exactly the point of our module plus some "real time" capabilities that can be disable for avoiding high server workload.
It creates a separate database and mostly rely on updateQty hook.
Module is sold since more than 3 years now, fully functionnal and debugged. Feel free to ask questions about this if needed, you can also take a look at our FAQ here : htt

[2020-06-22 14:10] MattLoyeD commented on #10762
We developped a module with this in mind plus some "real time" capabilities that can be disable for avoiding high server workload :
https://addons.prestashop.com/en/stock-supplier-management/21707-temporary-product-reservation-lonely-stock.html

It creates a separate database and mostly rely on updateQty hook.
Module is sold since more than 3 years now, fully functionnal and debugged. Feel free to

[2020-06-22 14:11] matks commented on #19893
May be fixed by https://github.com/PrestaShop/PrestaShop/pull/19896

[2020-06-22 14:16] Progi1984 commented on #18450
Fixed by #19778

[2020-06-22 14:16] #18450 closed, assigned to atomiix, colinegin

[2020-06-22 14:58] mnowakpcgs commented on #14979
Hah, I wouldn't cite me when my solution was listening to the advice I've
been given repeatedly and backport to 1.6 codebase.

Don't get me wrong, I've been a prestashop supporter since 2010 and started
on 1.3 and 1.4, then migrated directly to 1.7 from there. But the switch to
symfony has been terrible. I basically learned to code only because of
prestashop, and symfony has made it significantly

[2020-06-22 15:19] nsorosac commented on #10762
@MattLoyeD your module is a nice workaround, and we used it for one of our projects :smile:

We had severe performance issues that we managed to fix in the module (database indexes, externalized CRON task, etc.), I would be happy to share these optimizations with you :wink:

[2020-06-22 16:19] LouiseBonnard commented on #19766
It's weird, nice catch @juraj1000! I wonder why the variable has been hardcoded... I dug a bit and found the commit that introduced the change ([here](https://github.com/PrestaShop/PrestaShop/commit/e15d73076262313229f1b06c26577cddf0dacd2d#diff-21c9ebbacec5a9ec2ffa89f9c5370019)) but it looks like the value was `9%` anyway, @Quetzacoalt91, @PrestaShop/prestashop-core-developers, any idea about why

[2020-06-22 16:42] ComonSoft commented on #14703
Same issue as Matt75, timeout error during payement, partial Order, payement error.
We loose a lot of customers ! Any solution or temporary fix ? Solution proposed above is included in PS 1.7.6.5 and it still very slow.

[2020-06-22 17:12] rricci34 opened #19900 "Basket rule / send a gift with other discounts -> wrong amount"
I noticed a bug on a PS 1.7.6.5 (so blank test).

When creating a basket rule of the type "send a gift" (therefore a product) from a minimum order amount, the reduction amount becomes incorrect if we add a second (or more) basket rule an amount. However, the amount of the reduction is correct if it is the only one to be used.

For information :
I created a basket rule which is a gift product that

[2020-06-22 17:27] arafatx opened #19901 "[1.7.6.5 and 1.7.7] [Bug] Fatal error: Uncaught Error: Class 'Tools' not found"
When I  click on the clear cache button, I got the following error message this happen in both prestashop 1.7.7-beta1 and 1.7.6.5

`Fatal error: Uncaught Error: Class 'Tools' not found in /home/admin/domains/server.com/public_html/www/classes/db/Db.php:794 Stack trace: #0 /home/admin/domains/server.com/public_html/www/config/alias.php(47): DbCore->escape('configuration', false) #1 /home/admin/doma

[2020-06-22 17:44] Quetzacoalt91 commented on #19766
I made these changes to replace `sprintf` calls with placeholders. For this 9%, I basically moved this value into the string only to avoid a useless call of the method `sprintf`. At that moment I didn't suggest to make the wording better.

[2020-06-22 18:07] Arman-Hosseini commented on #19885
Hi @PierreRambaud ,
In fact, this is a bug. Maybe I need to open a bug report issue?

[2020-06-22 19:11] simondaigre opened #19902 "Product default supplier reference is not updated"
#### Describe the bug

Product default supplier is not updated since https://github.com/PrestaShop/PrestaShop/commit/29bda43a552316fb4a29c60f44ff287230bce62f#diff-7d7493bae4eba5d548b7f7f88d16d7ea - was fixed by https://github.com/PrestaShop/PrestaShop/pull/11175

#### Expected behavior

See https://github.com/PrestaShop/PrestaShop/pull/11175

#### Steps to Reproduce

See https://github.com/PrestaS

[2020-06-22 20:02] adrtav commented on #9478
Hi everybody!
Last week I had the same problem and I agree with Anthony, the problem is not located in any payment modules.
Please Khouloud, could you take another look about this?
Best regards,
Adriana

[2020-06-22 22:32] stepel commented on #11945
Hello all,

I have the same issue.. I try to edit (like @karaya6 suggested) order and then it looks better, but after create a new one with properly data, the id_carrier is still 0 and there is payment error.  The problem is that create a new one with payment error send email to customer.. I hope there is option which can be disabled to not notify the customers about that.. but I dont know where ;

[2020-06-23 03:18] davidhardik opened #19904 "Detailed Export Orders/Sales Report"
#### Is your feature request related to a problem?

I think there should be a feature to export detail orders that comes in majorly all e-com platform inbuilt from where a person can take out the sales report and find out what has worked, who bought what, etc.

#### Describe the solution you'd like

Right now all the information is separated in many fields like:
1) Orders
2) Customers
3) Addresses

[2020-06-23 04:14] davidhardik opened #19905 "Carrier Selection & Range has no effect issue"
#### Describe the bug

There is issue in selecting the delivery carrier and not putting the Handling charges/Free Shipping. When giving the ranges to Individual Carrier it shows the prices without respecting the ranges set.

If added the Handling charge & Free shipping condition then also it shows all the carrier above the free shipping range and showing all the carrier as "Free Shipping".

Using

[2020-06-23 05:07] ksaandev commented on #19848
Hi ! Any news ! Something blocks the topic ?

[2020-06-23 07:03] sarahdib commented on #19880
Hello @AndreyOgleznev

I was able to reproduce the issue with PrestaShop version 1.7.6.5
<img width="768" alt="Capture d’écran 2020-06-23 à 08 53 07" src="https://user-images.githubusercontent.com/3034677/85371345-5c4f9b00-b530-11ea-91e1-f5098392a7b7.png">
And 1.7.7.0
<img width="759" alt="Capture d’écran 2020-06-23 à 08 58 44" src="https://user-images.githubusercontent.com/3034677/85371365-64

[2020-06-23 07:05] anfuca commented on #10762
@nsorosac So true. It has a very bad and serious perfomance problems. And they don't help you at all with that. I would like to know those optimizations!

[2020-06-23 07:05] matks commented on #14979
@mnowakpcgs Do you know we are fully aware of the impression that "Symfony is bullshit" people have ? 😉

Yes, check out this article we wrote: https://build.prestashop.com/news/prestashop-in-2019-and-beyond-part-3-the-future-architecture/
=> "many people are convinced that the Symfony migration was a waste of time and money"

All the answers you are looking for (why Symfony ? why does it seem so c

[2020-06-23 07:27] sarahdib commented on #19891
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

Thank you!

[2020-06-23 07:27] #19891 closed, assigned to nobody

[2020-06-23 07:37] matks commented on #19848
Hi @ksaandev, though overrides are powerful to extend PrestaShop, we try to avoid them as much as possible because they can have significant side-effects and make a shop very hard to upgrade in the future. It would be better to allow extension of `checkoutProcess` by using a hook - although indeed moving the construction logic into a function `buildCheckoutProcess()` is not a bad idea either.

You

[2020-06-23 07:44] matks commented on #16451
Hi @jf-viguier ! Actually ... maybe this is the root cause of the issue ?

Should the controller be responsible for all of this business logic ?
Because if it stays in the controller, it cannot be used by the CLI or by webservice.

So what we could do
- move this logic into another place that fits it better
- put a hook or another extension mechanism there (or re-use an existing one)

Would that w

[2020-06-23 08:17] Progi1984 commented on #19893
Fixed by #19896

[2020-06-23 08:17] #19893 closed, assigned to NeOMakinG

[2020-06-23 08:18] Progi1984 commented on #19628
Fixed in 1.7.7.x by #19897

[2020-06-23 08:18] #19628 closed, assigned to nobody

[2020-06-23 08:23] #18751 closed, assigned to matks

[2020-06-23 08:40] sarahdib commented on #19900
Hello,

Despite our efforts, we were not able to reproduce your issue with the provided information.
<img width="1174" alt="Capture d’écran 2020-06-23 à 10 38 42" src="https://user-images.githubusercontent.com/3034677/85380939-c9b5f880-b53d-11ea-9fcd-6292ef437077.png">

What is your php version ?
Could you send me a screenshot of the two cart rule created

Thank you!

[2020-06-23 08:52] sarahdib commented on #19901
@PrestaShop/prestashop-core-developers  could you check this issue ?

[2020-06-23 08:56] sarahdib commented on #19902
Hello,

since the provided information isn't sufficient to reproduce the issue, we are closing it. Feel free to open a new one with all the requested information.

Thank you!

[2020-06-23 08:56] #19902 closed, assigned to nobody

[2020-06-23 08:57] rricci34 commented on #19900
Hello, is one of your discounts a gift product? (Pull imprimé colibris  for example) which is added automatically from a certain amount?
The 2nd reduction is a simple amount.
I enclose the screenshots.

1st rule which is a gift:
![2020-06-23_10h48_24](https://user-images.githubusercontent.com/35037422/85383250-0b47a300-b540-11ea-8da1-0cb322d9364c.jpg)
![2020-06-23_10h48_42](https://user-images.git

[2020-06-23 08:58] sarahdib commented on #19904
@PrestaShop/prestashop-product-team
What do you think about this improvement ?

[2020-06-23 09:00] sarahdib commented on #19905
Hello @davidhardik

PrestaShop 1.7.6.4 isn't compatible with php 7.3 could you downgrade your php version and try again ?
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thank you!

[2020-06-23 09:05] simondaigre commented on #19902
@sarahdib you have all informations to reproduce it in https://github.com/PrestaShop/PrestaShop/pull/11175 - this fix is broken since the commit mentionned in this issue.

[2020-06-23 09:22] stepel opened #19906 "WebService API - create new order - id_carrier and total_shipping poblem"
#### Describe the bug

When I try to create order by API I see that id_carrier and total_shipping amount is ignored. When I create order without total_shiping amount all is OK (except when I get order what I created I get id_carrier = 0).  Because of this situation after create order like that (sent total_shipping) I get error "payment error" :/

Even I create order_carrier what looks properly in

[2020-06-23 09:33] marionf commented on #19753
@MatShir We can close it if it's a duplicate ?

[2020-06-23 09:33] SD1982 opened #19907 "BO - Product / Specific price edit return error"
## Describe the bug

When trying to update a specific price for a product a error notification is displayed

#### Expected behavior

The specific price should be updated correctly

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Catalog => product
2. Select a product and add a specific price
3. Try to update the previously created specific price
4. See error

**Screenshot

[2020-06-23 09:47] matks commented on #19902
@sarahdib I think it means that PR https://github.com/PrestaShop/PrestaShop/pull/11175 meant to fix a bug (see the "How to test" of https://github.com/PrestaShop/PrestaShop/pull/11175), it was reviewed, approved by QA, but some code added later has broken it 😅

[2020-06-23 09:52] Matt75 commented on #14547
@MatShir PrestaShop Checkout module received feedbacks from Support Team about merchants want to log actions of employee about payments

[2020-06-23 10:04] LouiseBonnard commented on #19880
Hi there, thanks for your feedback, it is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9817 & #12308 so I close this ticket in order to all focus on the same issue. :-)

[2020-06-23 10:04] #19880 closed, assigned to nobody

[2020-06-23 10:12] jf-viguier commented on #19711
Any news here ? Do you plan to fix this before the release ?
Because this will block email sending for a lot of people.
I've been noticed this same bug on linux too by @nenes25

[2020-06-23 10:36] AnatoleRozan opened #19909 "Option "Allow ordering of out-of-stock products" doesn't work."
I enabled all of the options :
<img width="893" alt="1" src="https://user-images.githubusercontent.com/38098728/85393875-01c53780-b54e-11ea-9126-28f3ded6479c.png">
<img width="452" alt="2" src="https://user-images.githubusercontent.com/38098728/85393889-0689eb80-b54e-11ea-9ef4-a3533a1a69e6.png">
<img width="573" alt="3" src="https://user-images.githubusercontent.com/38098728/85393892-0853af00-b54e

[2020-06-23 10:43] AnatoleRozan commented on #19909
Fixed with this Topic : https://www.prestashop.com/forums/topic/591210-ps-1704-out-of-stock-orders-not-working/

Guys please improve that in the future. Thanks.

[2020-06-23 10:56] sarahdib commented on #19350
Hello

Since we had no news from you, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-06-23 10:56] #19350 closed, assigned to nobody

[2020-06-23 11:00] rdy4ever commented on #19909
That topic's solution is wrong. This way the button will be active without checking the stock.
This condition will work:
`{if !$product.add_to_cart_url}disabled{/if}`

As you can see, that's the [original condition](https://github.com/PrestaShop/PrestaShop/blob/afc4b86c4a5634ddcdae87e08865590c6c4850b6/themes/classic/templates/catalog/_partials/product-add-to-cart.tpl#L53) in classic theme.

[2020-06-23 11:06] davidhardik commented on #19905
Hi,

Just checked with lower version of PHP, same issue. Kindly let me know what else I can do?

Thank you

[2020-06-23 12:03] Progi1984 commented on #9699
Fixed by #19814

[2020-06-23 12:03] #9699 closed, assigned to NeOMakinG

[2020-06-23 12:17] AnatoleRozan commented on #19909
Ok, how do you feel about that. Is it a Prestashop issue? I enabled all the options (as you can see in the attached files) but it is still impossible to order the out-of-stock products.

[2020-06-23 12:26] Progi1984 commented on #18865
Fixed by #18969

[2020-06-23 12:26] #18865 closed, assigned to atomiix

[2020-06-23 12:27] colinegin commented on #10407
Sorry @NeOMakinG I did not mean to be agressive, I just meant there was a flaw in our product process ;)

Adding subcategories can be a nice feature for some merchants, but i'm not in favour of adding it for everyone. This is why @prestascott has created a new issue so that we can add the option to enable / disable it : #19895.

Thanks !

[2020-06-23 12:30] NeOMakinG commented on #10407
Np, me too !

Anyway, even if the product team is not in favor of adding it for everyone by default, it was like this before ^^

[2020-06-23 12:32] sarahdib commented on #19909
Hello,

Despite our efforts, we were not able to reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

<img width="1170" alt="Capture d’écran 2020-06-23 à 14 30 01" src="https://user-images.githubusercontent.com/3034677/85403677-15789a00-b55e-11ea-8bc9-442a7e27ca1e.png">

<img w

[2020-06-23 12:32] #19909 closed, assigned to nobody

[2020-06-23 12:32] jevans1808 opened #19910 "AdminCustomerController not found"
I'm working on a fix on my local setup to an issue I've found in 1.7.6.2 with regards to admin pages linking to a customer entry e.g. clicking the customer link in an order can't return CustomerController. I've found this to be due to the Customer Controller now being handled via the twig templates and Symfony, but it doesn't appear as though the other links have been updated to reflect this. So I

[2020-06-23 12:33] rdy4ever commented on #19909
Have you tried with just this condition? It should work.
`{if !$product.add_to_cart_url}disabled{/if}`

[2020-06-23 13:29] lparenty-deleganet opened #19911 "ps_shopping cart mode ajax error out of stock"
#### Describe the bug

when I add a product more than the stock, I get an empty popin
and no product are added to cart

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. choose a product
2. add a quantity more than stock
3. call to /checkout/cart with an error "the item in your basket is no longer available in this q

[2020-06-23 13:45] SD1982 opened #19912 "BO - Customers / Wrong redirection after creating a new address from the customer detail page"
#### Describe the bug

After creating a new address from the customer detail page we are redirected to the addresses list instead of the customer detail page

#### Expected behavior

We should be redirected to the customer detail page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Customers => Customers
2. Select any customer and go to the customer detail page
3. Scroll down

[2020-06-23 13:55] #19753 closed, assigned to nobody

[2020-06-23 14:12] stepel commented on #11945
Hi @karaya6

Dont you have a payment error in your order history on the first place in your history log?

[2020-06-23 14:14] krupers commented on #11911
Still having this issue with 1.7.6.5 version :(

[2020-06-23 14:21] nenes25 commented on #19711
@jf-viguier on my new install i've no error with the config you provide ( use smtp )
But in my case with the php mail function it's not working whereas it was working on ps 1.7.6.5 too
![image](https://user-images.githubusercontent.com/7163132/85415324-7d82ac80-b56d-11ea-9980-d29964c93de2.png)

[2020-06-23 14:24] mnowakpcgs commented on #14979
I have read that before. While the reasoning sounds compelling "on paper",
in practice prestashop has spent years working on that while doing nothing
to improve the actual user experience. This excessive query issue that
slows down the cart for example. Or the very user unfriendly checkout that
remains unchanged since 2009. The one thing I'll miss from 1.7 is the
product admintab. I do not miss sy

[2020-06-23 14:41] #18980 closed, assigned to nobody

[2020-06-23 14:51] #18499 closed, assigned to Progi1984

[2020-06-23 15:12] Caleydon opened #19913 "Bug with creating new product"
#### Describe the bug

When you are going to create a new product and leave the page, the record in the database is made. This create a new product which is available in FO bot not in the BO.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Back office > Catalog > Product
2. Press New product button
3. Do not press or doing anything and then leave or close the page
4. Look into

[2020-06-23 15:26] CIMEOS commented on #19867
@florine2623 @Hlavtox
Indeed, after lots of research, the whole order has to be without VAT, my bad.
However, there is another issue in back-office. If you proceed to checkout and confirm the order, you can see in order details in back-office that shipping costs are taxes included. Here is a screenshot.
![order_detail_back](https://user-images.githubusercontent.com/6168624/85390371-0a673f00-b549-1

[2020-06-23 15:53] sarahdib commented on #19910
Hello @jevans1808

This bug seems fixed in the last stable version 1.7.6.5.

You can upgrade in order to fix this issue.

Thank you!

[2020-06-23 15:53] #19910 closed, assigned to nobody

[2020-06-23 16:26] robinspruce opened #19914 "BO - Product has no Save button bar"
#### Describe the bug

When i try to add or edit a product, the bar at the bottom with the save buttons does not appear

#### Expected behavior

On adding or editing a product the Save bar is at the bottom of the page

#### Steps to Reproduce

Steps to reproduce the behavior:
For me i got to Catalog>Products and either add a new or edit an existing one.

Selecting each of the product tabs, Descrip

[2020-06-23 17:13] marionf commented on #19912
Hello @SD1982
Could you add the bug label and the status (to do, TBR or TBS) ?
Are you sure it's not a regression of develop branch ?

[2020-06-23 18:09] AnatoleRozan commented on #19909
It works, thank you very much @rdy4ever !!!
This problem is weird. Maybe some people will report it in the future...

[2020-06-23 19:18] alexwweiss opened #19915 "emails for voucher"
Hello everyone, I have a problem at hand and I need your help.
How can I configure prestashop so that when the customer registers on the site, he automatically receives a discount voucher ??
Another doubt is: when I create a voucher manually and select the customer, the email is not triggered in any way, how can I correct this?

Prestashop: 1.7.6.1

[2020-06-23 20:41] roberto3211 opened #19916 "Customer Service, not possible to configure gmail"
Prestashop 1.7.6.5.
PHP 7.2
In Customer Service menu, it is not possible to configure a gmail account.
See error below, I tested as well with the option validate=yes OR novalidate=yes.

I followed carefully all suggestions on gmail site about configuration.
Tested with different email accounts, same result.
Tested with different computer clients and users.
On the contrary, same account with same c

[2020-06-23 20:50] ksaandev commented on #19848
Hi !

OK I will modify PR to use hook

[2020-06-23 20:52] ksaandev commented on #19633
Would be good to have varnish in native prestashop !

[2020-06-24 07:19] SD1982 commented on #19912
Hi @marionf i added the bug label status and it's not a regression

[2020-06-24 07:36] higanjima opened #19917 "Carrier Product list"
#### Describe the bug

If you have multiple carrier with same name and description (useful if you want the same carrier with different tax rules), only one of them has been shown in the product edition.

Before :

<img width="411" alt="Capture d’écran 2020-06-24 à 09 33 23" src="https://user-images.githubusercontent.com/45202815/85515824-d863e480-b5fd-11ea-9220-e1278e610bf7.png">

#### Expected

[2020-06-24 07:57] colinegin commented on #14979
Hello @mnowakpcgs ,

Thanks for your feedbacks. I'm a bit surprised with your comment saying that the checkout remains unchanged since 2009, while the whole front office has been fully reworked with 1.7.
If you have some time, I would be very interested to get more information about it with a comment on our checkout EPIC : https://github.com/PrestaShop/PrestaShop/issues/17034.

Thanks !

[2020-06-24 08:13] prestascott commented on #19113
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-06-24 08:13] #19113 closed, assigned to nobody

[2020-06-24 08:17] prestascott commented on #19256
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-06-24 08:17] #19256 closed, assigned to nobody

[2020-06-24 08:25] prestascott commented on #19509
Since we had no news from you for more than 20 days, I'll close this ticket. Feel free to open another one if you can provide more details.

Thank you!

[2020-06-24 08:56] rdy4ever commented on #19909
It's not weird if you understand what the condition does. Plus, it's not present in the classic theme so it could be a problem only in old 3rd party themes that were not updated by their author.
Glad your shop is OK now.

[2020-06-24 08:59] MatShir opened #19918 "Pagination should not impact the add product button in the order page"
#### Describe the bug
The pagination and the buttons should be above the fold.

![image](https://user-images.githubusercontent.com/43613217/85525352-4eba1400-b609-11ea-9b22-88a292a14a82.png)

#### Expected behavior

![image](https://user-images.githubusercontent.com/27484094/83656134-79431f00-a5bf-11ea-9c33-63b9c3ffb7a5.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Open an or

[2020-06-24 09:10] colinegin commented on #18432
Blocked by #19646 - to be done once merged

[2020-06-24 09:12] colinegin commented on #19717
Related to #18432

[2020-06-24 09:14] colinegin commented on #19490
Specs to be done today by @MatShir

[2020-06-24 09:31] colinegin commented on #19844
Remove the alt tag from the image.

[2020-06-24 10:03] marionf commented on #19912
Humm, I don't see the bug label, I add it :)

[2020-06-24 10:05] colinegin opened #19919 "[BO] Back-up page improvements"
Following this issue : https://github.com/PrestaShop/PrestaShop/issues/19285
Point 3 and 4 are left to do so I create a new issue so that we can close what has already been done.

**DESCRIPTION**

1 - Go to BO > Advanced Params > Databases > Backups
2 - Create a backup

3 - click on the download button

![image](https://user-images.githubusercontent.com/35263827/85536007-fe47b400-b612-11ea-859b-17

[2020-06-24 10:07] colinegin commented on #19285
I close this issue as part of the work has already be done and merged.
I just created a new issue #19919 so that we know what's left to do !
Thanks

[2020-06-24 10:07] #19285 closed, assigned to nobody

[2020-06-24 10:10] colinegin commented on #15373
Yes I agree, it is a good way to prevent problems.

[2020-06-24 10:19] colinegin commented on #19811
FYI @marionf

[2020-06-24 11:53] arirangz commented on #14979
@matks Thanks for your feedback.
Do you have any idea from where this query increase would be coming from?
This could help us (developers) to debug and try to improve the code.
Thanks

[2020-06-24 11:54] SD1982 commented on #19912
Oups i forgot to add this one ! Thanks @marionf

[2020-06-24 12:03] arirangz commented on #9641
Hi,
Any update on this ticket?

[2020-06-24 12:31] prestascott commented on #19900
Hello, i tried to reproduce the bug with the exact same rules that you created and unfortunately, i can't reproduce it:
- Free gift discount can't be applied because there is no code written in informations tab even if you don't normally have to write one for your case

When i enter a name of the code, here is what happen:
- 1st rule (free gift discount): it adds the same item but for free -> but

[2020-06-24 12:31] NeOMakinG commented on #19618
@krystian-3c Thanks for all the search work you've done.

I'm gonna take a look at it, make some tests...

But, I've a doubt, importing bootstrap like you do instead of like we do at te moment is probably a breaking change !

The classic theme doesn't use some feature, but maybe themes based on it does :/ WDYT @PrestaShop/prestashop-core-developers  ?

[2020-06-24 12:59] rricci34 commented on #19900
Hello, this is crazy. I have this bug on a production site and also on this prestashop 1.7.6.5 in a blank room.

I am attaching a video that may be more meaningful and may allow you to see what is missing ...
TY

[20-06-24_bug-gift.zip](https://github.com/PrestaShop/PrestaShop/files/4825490/20-06-24_bug-gift.zip)

[2020-06-24 13:19] rbeau commented on #17600
Please don't forget to add Kurdish Latin characters (ku-tr).

[2020-06-24 13:40] SD1982 opened #19921 "BO - Language / Exception raised when trying to add svg files"
#### Describe the bug

In BO => Internationnal => Localisation => Language in the add new language form if we add an svg format file for the flag an exception is raised on save

#### Expected behavior

No exception should be raised ( maybe just a format error message )

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Internationnal => Localisation => Language
2. Click on

[2020-06-24 13:48] prestascott commented on #19915
Hi @alexwweiss, thank you for your report!

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots

You don't know how to get this information? Please read the following article: [How to create a bug report](

[2020-06-24 13:53] prestascott commented on #19914
Hello @robinspruce, thank you for your report!

PrestaShop 1.7.5.1 isn't compatible with php 7.3 could you downgrade your php version and try again?
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Thank you!

[2020-06-24 14:02] prestascott commented on #19798
Hi @daresh,

Sorry we don't understand the bug. Can you provide us a video so we can help please?
Thank you!

[2020-06-24 14:11] prestascott commented on #19913
Hi @Caleydon, thanks for your report!

I managed to reproduce the bug:
1. last product has id=28
2. click on new product, don't save
3. in database, new entry with id=29 exists

Here are some screenshots:
![image](https://user-images.githubusercontent.com/54888056/85572383-38c24880-b635-11ea-8f23-bb48cf326d0e.png)
![image](https://user-images.githubusercontent.com/54888056/85572429-42e44700-b635-1

[2020-06-24 14:21] daresh commented on #19798
The high DPI images are not something that you see right away, cause you need a theme using them and a high density screen, but you can check it this way:

1. have a shop with the option to generate high DPI images turned off
2. go to some folder of any image on your FTP, like img/p/4
4. delete the thumbnails from that folder manually (the xxx_default images, home_default, large default etc.)
5. v

[2020-06-24 14:36] prestascott commented on #19911
Hi @lparenty-deleganet, thanks for your report!

I can't reproduce the bug, i have a success message in Network tab:
![image](https://user-images.githubusercontent.com/54888056/85576092-66f55780-b638-11ea-8ee9-da56ce94e5b4.png)

I also have an alert indicating that i can't add more items because of the limited quantity:
![image](https://user-images.githubusercontent.com/54888056/85576359-a15ef480-

[2020-06-24 14:43] Progi1984 commented on #18509
Fixed by #19800

[2020-06-24 14:43] #18509 closed, assigned to NeOMakinG

[2020-06-24 15:35] prestascott commented on #19917
Hi @higanjima, thanks for your report!

Wdyt @PrestaShop/prestashop-product-team of this improvement?

[2020-06-24 15:36] marionf commented on #19811
Hello @kpodemski and thank you for the PR
Product comments module is partially compatible with the multistore, which means that some of its options / features might not be available or correctly working in a multistore context.
For example, all the reviews are displayed in the BO, even if you select a specific shop in the context.

[2020-06-24 15:47] prestascott commented on #19900
Do you have specific discounts on your product page?

Can you provide us screenshots about your product page configuration:
- Basic settings
- Quantities
- Shipping
- Pricing
- Options

[2020-06-24 15:49] robinspruce commented on #19914
Hi Scott

Many thanks for coming back to me.  I have requested the hosting company
roll it back to 7.1, as i dont seem to be able to change it.  Just a note
also to say that the doc in the link refers to PHP 7.1 or later.

will test as soon as i hear back from them.

Kind regards

Robin

*~ Robin Spruce ~*
+1 649 431 4242

On Wed, Jun 24, 2020 at 9:53 AM PrestaScott <notifications@github.com>
wrot

[2020-06-24 15:54] higanjima commented on #19917
I think the best way is to show the cart rule name after the name of the carrier @prestascott, but in my case i need a quickwin :) and i need all the carriers with all tax rules. I made an update in the cart class to choose the best carrier tax rules depending on the tax rule of the products in the cart.

[2020-06-24 16:08] marionf commented on #19913
Duplicate of #9945

[2020-06-24 16:08] #19913 closed, assigned to nobody

[2020-06-24 16:08] marionf commented on #19913
Hello @Caleydon

Your issue is a duplicate of #9945, please follow this issue :)

[2020-06-24 16:12] marionf commented on #19918
@MatShir Could you add the severity and FO/BO labels ? :wink:

[2020-06-24 16:15] marionf commented on #19921
@SD1982 Your issue seems to be a duplicate of #10600
Can you confirm ?

[2020-06-24 16:19] banan44 opened #19924 "[1.7.6.5 & 1.7.7.0] I cannot move categories in All Shops mode"
Hello,
I have 14 shops in Multistore mode. When I am using All shops view I cannot move categories up and down to set the in the order I like. There is no drag&drop button I can use to order a category in all shops at once. The 'Position' column is als not present.

![all shops](https://user-images.githubusercontent.com/48493952/85592680-aa56c280-b646-11ea-9088-28bc7f0f1747.jpg)

To move categorie

[2020-06-24 16:21] marionf commented on #19907
Hello @SD1982
A similar issue has been fixed yesterday: https://github.com/PrestaShop/PrestaShop/issues/18751 by this PR: https://github.com/PrestaShop/PrestaShop/pull/19865
Could you update your develop branch and check if you still have this issue ?

[2020-06-24 16:27] marionf commented on #19890
@MatShir Could you add the severity, FO/BO labels and the version concerned by this issue ? :wink:

[2020-06-24 16:28] ksaandev commented on #19848
@matks I have updated PR https://github.com/PrestaShop/PrestaShop/pull/19830 see actionCheckoutRender

[2020-06-24 16:30] marionf commented on #19881
@PierreRambaud Could you add missing labels like BO ? Stock if it concerns the stock page and maybe multistore if the issue happens in a multistore context ? And keep only one severity label ?
Thanks :wink:

[2020-06-24 16:35] Caleydon commented on #9945
Any plan to fix this 3 years old issue? It was reported already multiple times.

[2020-06-24 17:06] faadgoras opened #19925 "Invalid theme structure on addons uploading"
Hello
I have issue with my 1.6 version theme creation when I try to upload it on addons store prestashop it give me error
Invalid Theme structure
attached is screenshot of error
![prestashoperror](https://user-images.githubusercontent.com/67382724/85600491-fade1800-b666-11ea-9148-99628deb9353.png)

[2020-06-24 17:16] Roca01000 commented on #19619
Bonjour, j'ai également le même Bug ma version php est bien 7,2 Version Prestashop 1.7.6.5
<img width="1082" alt="Capture d’écran 2020-06-24 à 12 40 35" src="https://user-images.githubusercontent.com/67385990/85602023-3d93f600-b64f-11ea-9507-ec3edea88aa2.png">

[2020-06-24 18:51] kpodemski commented on #19811
@marionf i think i can improve this part of the module if you don't have anyone assigned to it already, what do you think?

[2020-06-24 18:53] karaya6 commented on #11945
Hi Stepel,
yes, I have Payment error status in order history - I know that´s not so good, but it´s usable.

[2020-06-24 19:32] robinspruce commented on #19914
Hi Scott

Finally got the server reset to PHP7.1 and the save bar is now back.

Many thanks for your help.

Kind regards
Robin

*~ Robin Spruce ~*
+1 649 431 4242

On Wed, Jun 24, 2020 at 11:49 AM Robin Spruce <robin.spruce@gmail.com>
wrote:

[2020-06-24 20:13] KwabeaAtakora opened #19927 "URLs not Working after generating .htaccess"
Hi,

I 've migrated my prestashop site to an AWS server. However, when I click on the menus I get page not found errors. mod_rewrite has been enabled, php curl has been enabled. I 've also generated the friendly url. The url to my site is myurbanscents.com

The image beneath shows an error I am experiencing in my prestashop back office
Kindly help me out
![IMG-20200624-WA0006](https://user-images.

[2020-06-24 22:18] maperezr14 opened #19928 "Total amount is not calculated correctly"
The total amount is not calculated correctly, it should be the sum of sub-total + taxes, however this does not happen.

The cost of the product (taxes included) is 105.17 per unit.

The cost of the product (taxes excluded) is 89.13 per unit.

For 6 units the sub-total is 534.18 (tax excl.)
Taxes  (18%) 96.26
The Total purchase should be 630.44 , But the cart shows 538.18

[2020-06-24 22:29] mnowakpcgs commented on #14979
I'm not sure how you say that, its barely a different checkout process in
1.7 than 1.4. I'd be happy to share what I did if you have somewhere to
send screenshots.

I took inspiration from shopify for a more streamlined experience, and to
remove unnecessary customer inquiries. For example, dropdowns to select
addresses which fill the form fields. if customer changes anything, update
or create new

[2020-06-25 03:26] superskyman100 commented on #12700
Hello,

I experience exactly the same problem as the one described above, unfortunately, when I set cart_rule_restriction = 1, the newly create discounts are still created compatible with other existing discounts, so it clearly seems that this is not the good parameter to change.............

![image](https://user-images.githubusercontent.com/60083930/85649345-87bfba80-b6d5-11ea-89f6-0cca7ec67349.

[2020-06-25 07:12] rricci34 commented on #19900
Hello, however, I have not changed anything in the basic configuration of this new installation of PS 1.7.6.5. I leave everything by default, without additional module in order to precisely carry out my tests ...

[2020-06-25 07:19] SD1982 commented on #19921
Hi @marionf I don't know if we can consider it as a duplicate because the exception is different but this issue is related to the non-supported svg format too

[2020-06-25 07:20] florine2623 commented on #19928
Hi @maperezr14 ,
What is the PS version you're using ?
Please send screenshots of that.
Thanks!

[2020-06-25 07:22] florine2623 commented on #19906
Hi @stepel ,
Could you send me the steps to reproduce so I can try it on my end ?
Thanks!

[2020-06-25 07:29] rricci34 commented on #19900
I just did a test on 1.7.7 (beta) and it works correctly.
Do you test on PS 1.7.6.5?
Thank you

[2020-06-25 07:30] SD1982 commented on #19907
Hi @marionf Oups my bad it seems that my shop was not up to date !! I close this issue

[2020-06-25 07:30] #19907 closed, assigned to nobody

[2020-06-25 07:35] stepel commented on #19906
Hi @florine2623 ,

my issue is related to #11945.
There is an example and one reproduction this problem (even there is a movie: https://drive.google.com/file/d/1iSKRvSxDDW56F4b_oZsg1QRWvlU566e0/view).

As I can see in prestashop code when I create a new order then function ValidateOrder in payment-module return paymant error state. Lina 323 in PaymentModule.php

`if ($order_status->logable && numb

[2020-06-25 07:40] florine2623 commented on #19924
Hi @PrestaShop/prestashop-product-team ,

As @banan44 said, in multistore environment All Shops, in BO > Categories, it is not possible to change the position of the categories in drag and drop motion. (1.7.7.0 + 1.7.6.5 have the same)
Can we implement this ?

Thanks!

[2020-06-25 08:05] florine2623 commented on #19720
You just need to enter `prestashop` for both login and password

[2020-06-25 08:08] rricci34 commented on #19900
Well, I just did new tests on a fresh 1.7.6.5, and I no longer have this bug. I do not know why but the main thing is that he is no longer there.

Sorry for the delay :/

[2020-06-25 08:09] Progi1984 commented on #15373
@colinegin Ok. I take it ;)

[2020-06-25 08:14] Nesta78 opened #19930 "Stats - Orders not counted"
Hi,

In stats pages in back-office, some of my orders are not counted.
I don't use Invoices, so I just modified the Adminstatscontroller.php by replacing "invoice_date" by "date_add".
But with no luck ... any idea ?

It's ok on main dashboard of the back-office, but not in stats tabs
<img width="1475" alt="Capture d’écran 2020-06-25 à 10 19 20" src="https://user-images.githubusercontent.com/6421

[2020-06-25 08:31] florine2623 commented on #19927
Hi @KwabeaAtakora ,
Do you have access toy our BO ?
If yes, you can regenerate your htaccess, by going in Shop Parameters > Traffic & SEO > Save all block (no need to change the config)
Let me know how it goes, thanks!

[2020-06-25 08:36] #19812 closed, assigned to atomiix

[2020-06-25 08:47] marionf commented on #19921
All right, I added your issue to the related [EPIC](https://github.com/PrestaShop/PrestaShop/issues/18518) and added labels

[2020-06-25 08:50] prestascott commented on #19900
I'm glad that it works!

Since you no longer have this bug, i can close this issue.

[2020-06-25 08:51] #19900 closed, assigned to nobody

[2020-06-25 09:18] jf-viguier commented on #16451
@matks yes

[2020-06-25 09:20] #19509 closed, assigned to nobody

[2020-06-25 09:23] florine2623 commented on #18925
Ok, for now I will close this issue. Feel free to open a new one with all the details.

[2020-06-25 09:23] #18925 closed, assigned to nobody

[2020-06-25 09:25] colinegin commented on #19924
@florine2623 did you test in 175 also ? Just to ensure this is not a regression.

Thanks !

[2020-06-25 09:28] lithiumbj opened #19931 "displayAdminOrderTabLink & displayAdminOrderTabContent not working"
#### Describe the bug

displayAdminOrderTabLink and displayAdminOrderTabContent  dont working correctly on 1.7.7.0 beta.
After applying the fixe found in #19216 a tab is showed in the order detail page, but no content is inside it.
if you place a var_dump or returns a fixed text from the module hook the content isn't displayed. Also, if you stop the execution using a die; it won't stop, just keep

[2020-06-25 09:28] colinegin commented on #10556
@matks @MatShir I close this issue as it is all done ! ;)
Issue related to order message thread link to be created.

[2020-06-25 09:28] #10556 closed, assigned to nobody

[2020-06-25 09:37] marionf opened #19932 "Productcomments - All comments for all shops are displayed, no matter the shop(s) selected in the context"
#### Describe the bug

Productcomments module shows all comments for all shops, no matter the shop(s) selected in the context

#### Expected behavior

Display only the comments of the shop / group selected in the context
This should work for the comments in REVIEWS WAITING FOR APPROVAL, APPROVED REVIEWS, and REPORTED REVIEWS

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable the

[2020-06-25 09:42] marionf opened #19933 "[EPIC] - Productcomments module"
## Multistore issues
- [x] #19932
- [x] #19934

## Features
- [x] #17837

## Bugs
- [x] #29863
- [x] #30345
- [x] #30543

## Fixed
#### Multistore issues
- [x] #19811

#### Features
- [x] #15597
- [x] #16339 - [PR](https://github.com/PrestaShop/productcomments/pull/45)
- [x] #18817
- [x] #19336 - [PR](https://github.com/PrestaShop/productcomments/pull/55)
- [x] #24814
- [x] #27089 - [PR](https://g

[2020-06-25 09:44] florine2623 commented on #19931
Hi @lithiumbj ,
The fix you mentioned is about the Product Page, not the Order Page.
What exactly do you want to do ? Could you send me a screenshot fo the issue ?
Thanks!

[2020-06-25 09:45] matks commented on #16592
Dont forget to migrate notification links
![capture d'écran_1419](https://user-images.githubusercontent.com/13449658/56281422-dbffff80-610c-11e9-8e78-744257b709e6.png)

[2020-06-25 09:48] matks commented on #19931
The fix was done for Product page but it impacted the whole shop 😄 in fact the bug was everywhere

[2020-06-25 09:48] marionf opened #19934 "Productcomments - Add multistore shop association block for review criteria"
#### Is your feature request related to a problem?

Currently it's not possible to create a review criteria for a specific shop
Reviews criterias are created for all shops, no matter the shop(s) selected in the context

#### Describe the solution you'd like

As a merchant, I want to be able to select one or many stores when I create a review criteria, so that I can display it on the store(s) of my

[2020-06-25 09:51] matks commented on #19931
@lithiumbj Warning: the fix concerns 1.7.7, where the order page has been reworked 🤔 .

In your issue you speak about a bug on 1.7.6 but also speak about 1.7.7 . I'm confused 😄

The Order page of 176 and the Order page of 177 are completely different (see https://build.prestashop.com/news/the-new-order-pages-in-prestaShop-1-7-7/) so can you explain which version exactly you use ? It's important 😄

[2020-06-25 09:56] florine2623 commented on #19930
I've just tested and there's no bug.

I have made an order, status of order Shipped, so it is considered as accepted.
The Dashboard and Statistics did update :
![Capture d’écran 2020-06-25 à 11 54 42](https://user-images.githubusercontent.com/16019289/85698251-c9069900-b6da-11ea-8d9f-3619e289a677.png)
![Capture d’écran 2020-06-25 à 11 54 56](https://user-images.githubusercontent.com/16019289/8

[2020-06-25 09:58] colinegin commented on #19810
Hello @Hlavtox, I guess we can close this issue if this is a duplicate of the other issue you've created ?

[2020-06-25 10:01] Progi1984 commented on #19857
Fixed by #19903

[2020-06-25 10:01] #19857 closed, assigned to nobody

[2020-06-25 10:02] florine2623 commented on #18926
Hi @IranDec ,
Sorry for the late answer.

I can't reproduce your issue.
Please check the screenshots below :
![Capture d’écran 2020-06-25 à 12 01 24](https://user-images.githubusercontent.com/16019289/85699254-a759e180-b6db-11ea-8258-a4d92bd91f06.png)
![Capture d’écran 2020-06-25 à 12 00 36](https://user-images.githubusercontent.com/16019289/85699272-ab85ff00-b6db-11ea-943b-1859c3ae8ff2.png)
!

[2020-06-25 10:02] Progi1984 commented on #18810
Fixed by #19631

[2020-06-25 10:02] #18810 closed, assigned to matthieu-rolland

[2020-06-25 10:04] lithiumbj commented on #19931
Sorry (my english level hehe) The bug is in 1.7.7.0 (with the full-new order page) we are adapting our 1.7.6.5 current module to the new beta version to have it available before the new version is releases to keep our customers within service.

So, using the new hooks on the 1.7.7.0 in the new order detail page is the problem.

If you need any more info, please tell me.

[2020-06-25 10:05] lithiumbj commented on #19931
Yes i want to use the new displayAdminOrderTabContent & displayAdminOrderTabLink hooks, but when i use it from my module they dont print anything, i think there are not executing (won't display nothing even using a var_dump and a die)

[2020-06-25 10:07] florine2623 commented on #19578
Since we had no news from you for, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-25 10:07] #19578 closed, assigned to nobody

[2020-06-25 10:08] florine2623 commented on #19541
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-25 10:08] #19541 closed, assigned to nobody

[2020-06-25 10:09] florine2623 commented on #19579
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-25 10:09] #19579 closed, assigned to nobody

[2020-06-25 10:10] florine2623 commented on #19292
Since we had no news from you for, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-25 10:10] #19292 closed, assigned to nobody

[2020-06-25 10:15] #19914 closed, assigned to nobody

[2020-06-25 10:16] florine2623 commented on #19533
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-25 10:16] #19533 closed, assigned to nobody

[2020-06-25 10:20] #15329 closed, assigned to nobody

[2020-06-25 10:26] marionf commented on #19811
@kpodemski, yes sure :+1:
I created an [EPIC](https://github.com/PrestaShop/PrestaShop/issues/19933) with all issues about productcomments module, feel free to take the issue you want
Let me know if something is not clear or if you need help on an issue :wink:

[2020-06-25 10:26] colinegin commented on #19587
Yes, it seems quite obvious !
Thanks for your suggestion @juraj1000 ;)

[2020-06-25 10:28] colinegin commented on #19587
ping @prestascott, could you have a look at it while you're working on improving the classic theme ?
Thanks ! :)

[2020-06-25 10:33] florine2623 commented on #19905
Hi @davidhardik ,
You can choose the option Disable carrier in Carrier Editing Page when it is out of range :
![Capture d’écran 2020-06-25 à 12 32 24](https://user-images.githubusercontent.com/16019289/85703783-f99d0180-b6df-11ea-82b8-a690edaabb6d.png)
Thanks!

[2020-06-25 10:56] superskyman100 opened #19935 "Allow a cart rule not to be compatible with all other cart rules (old and new)"
The problem is that when someone creates a new cart rule, by default, without ticking the compatibility check box, all the cart rules you have previously created are compatible with this new cart rule you are setting up.
So every time you create a new cart rule you have to manually check the compatibility box, and then remove all the previous cart rules.

This is extremely frustrating and time was

[2020-06-25 11:26] IranDec commented on #18926
@florine2623
Hi
pls change your admin panel language to Persian then pls try to add more attributes like some of them with 0 qty and some of them with more than 1 qty so u will see the problem

[2020-06-25 11:27] KwabeaAtakora commented on #19927
@florine2623 I ve done that but the issue persists

[2020-06-25 11:33] lithiumbj commented on #19931
Nevermind, was my fault, the hooks wasn't registered correctly, so sorry, closing this thread.

[2020-06-25 11:33] #19931 closed, assigned to nobody

[2020-06-25 11:49] MohammedID opened #19936 "Order discounts calculated in wrong way prestashop 1.7.6.1"
Dear Prestashop community;

Were getting issues with discount amounts on our shop, we did add cart rule applied to perfume category, each ordered product will get one mascara for free, this gift product cost 229.00 mad, if the client order more than one perfume for example two he will get 2 free mascaras, the issue is the discount total instead of displaying 229.00 * 2 which is 458.00 it displays

[2020-06-25 12:07] florine2623 commented on #19925
Hi @faadgoras ,
PrestaShop is for PrestaShop software only.
Please contact mboumba.ext@prestashop.com for Addons issue.
Thanks!

[2020-06-25 12:07] #19925 closed, assigned to nobody

[2020-06-25 12:16] florine2623 commented on #19936
Hi @MohammedID ,
First, you need to downgrade your PHP version. PS 1.7.6.1 is available with PHP 7.2 max.
Second, I created a voucher that offers a free product when item from a specific category is in cart, I can't reproduce the issue.
Can you send the exact steps to reproduce please ?
Thanks!

[2020-06-25 12:24] matks commented on #19931
No worries, thank you for testing the beta 😉 we are open to more feedback if you have some (for example: do you like the new Order page ?)

What do you mean by "the hooks wasn't registered correctly" ? Do you mean you did not type them well ?

Because this is something that happens often 😄 for example people write "addAdminproduct" instead of "addAdminProducts" (missing the s) and it does not work

[2020-06-25 12:56] henrygri opened #19939 "BO: change address from detail order page cause a wrong carrier price update."
BO: change address from detail order page cause a wrong carrier price update.

If the address is updated from the order detail page and the courier has price ranges, the default range is applied by not checking the total price of the order.

If the order status is "Payment accepted" appear the message "Payed ... instead ...".

Prestashop version 1.7.6.5

The steps to reproduce the bug are the foll

[2020-06-25 12:57] florine2623 commented on #19935
Hi @superskyman100 ,
You need to delete the content of ps_cart_rule_combination and none of the cart rule will be compatible with each other. i just did the test and it works correctly.
Please check and let me know.

[2020-06-25 13:02] florine2623 commented on #19927
Try to :
- Check in ps_configuration is the url is correct
- Set permissions of img folder to 755 (recursive)

[2020-06-25 13:08] Nesta78 commented on #19930
That's strange ...
As you can see, i just had 2 new orders. But it not displayed in stats ...

![Capture d’écran 2020-06-25 à 15 04 17](https://user-images.githubusercontent.com/64215260/85725730-afbf1600-b6f5-11ea-85fb-02c229430776.png)

![Capture d’écran 2020-06-25 à 15 05 05](https://user-images.githubusercontent.com/64215260/85725752-b483ca00-b6f5-11ea-89c2-764eeb24cf5c.png)

<img width="1

[2020-06-25 13:13] atomiix commented on #17725
Hi! I've been able to reproduce this error and it looks like it happens when you run the installer before (or while) building the assets (with `make assets`). The reason is that if the assets of the FO theme are not built, [2 required files](https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Addon/Theme/ThemeValidator.php#L130-L131) are missing and the theme is considered invalid. As t

[2020-06-25 13:13] #17725 closed, assigned to Progi1984, atomiix

[2020-06-25 13:14] florine2623 commented on #19930
Weird behavior indeed.
What version of module Sales and orders are you using ? Upgrade it if needed.
![Capture d’écran 2020-06-25 à 15 14 17](https://user-images.githubusercontent.com/16019289/85726625-9074b880-b6f6-11ea-9e4c-7332d6ffea54.png)

[2020-06-25 13:16] PierreRambaud commented on #9945
Unfortunately, there are many other issues that are more important and take time to be fixed.
It's an open-source project, if this issue is mandatory for your business, feel free to help us, create a pull request, or use your money to hire someone to do it.

As you can see above, there are more than 1800 issues, and like Wordpress, Drupal, or any other open-source project, we can't do it alone :wi

[2020-06-25 13:17] Nesta78 commented on #19930
I use v2.0.0.
Just tried to clean restore it ... but no changes ...

<img width="1950" alt="Capture d’écran 2020-06-25 à 15 16 09" src="https://user-images.githubusercontent.com/64215260/85726980-ecd7d800-b6f6-11ea-962e-973b9686bb3d.png">

[2020-06-25 13:18] PierreRambaud commented on #19881
I did not try if it concerns the multistore, but since it concerns the single store, the multistore will be obviously tested during the QA test (I hope :thinking: )

[2020-06-25 13:20] KwabeaAtakora commented on #19927
ps_configuration in the database? @florine2623

[2020-06-25 13:23] elburgl69 opened #19940 "Hook displayAfterProductThumbs should give $product in the context"
#### hook displayAfterProductThumbs has no product context

When I try to use the displayAfterProductThumbs hook in my module, I get no context of the product I am working with.

#### product-cover-thumbnails.tpl should add the product.

The displayAfterProductThumbs hook should call the hook in product-cover-thumbnails.tpl like (last line):

[code]
#### Alternatives you've considered

None

####

[2020-06-25 13:43] Caleydon commented on #9945
I understand that. I needed any response for my clients which reported to me this bug and read this discussion. Thank you.

[2020-06-25 13:48] irecaldema commented on #16741
The solution worked for me.

https://www.prestashop.com/forums/topic/552558-bank-wire-details-dont-show-on-status-email/

//PrestaFolder/classes/Mail.php

 Find the line starting with:

$templateVars['{color}']

And below that line add this piece of code:

$templateVars['{bankwire_owner}'] = Configuration::get('BANK_WIRE_OWNER');
$templateVars['{bankwire_details}'] = nl2br(Configuration::get('BANK

[2020-06-25 13:54] florine2623 commented on #18926
There is indeed an issue with Persian language in the BO.
I reproduce the issue (in screen record) in both PS 1.7.6.5 and 1.7.7.0.

The stock won't save properly. But is is not like what you explained, but it seems related.
Could you send me a screen record of your issue ?
Can you check if your issue does not come from stocks that have disappeared ?

I want to compare it to mine :
https://drive.go

[2020-06-25 13:55] florine2623 commented on #19927
Yes

[2020-06-25 13:58] florine2623 commented on #19930
Could you disable this override and test again please ?

[2020-06-25 14:01] PierreRambaud commented on #9945
I was thinking about June 2021, but I heard the Mayan doomsday calendar was wrong and we're going to die :thinking:

Joking apart, as I said, we already have 1800 issues, and we are an open-source project. Feel free to help us if you want to have this issue fixed in the next release :wink:

[2020-06-25 14:02] florine2623 commented on #19940
Could you use the template to explain what the issue is ?
Send screenshots of exactly what you would like to see ?
Version of PS, etc

[2020-06-25 14:08] aytekinazmi12 opened #19941 "Add the Platin (XPT) currency"
#### Missing Currency iso_code

We would like to add in Prestashop currency panel XPT (Platin).

#### Expected behavior

We would like to add here XPT (Platin) https://api.prestashop.com/xml/currencies.xml
and also update currency price automaticly to other currency. Looks like USD EURO etc. This problem because of the currency is not exist here https://api.prestashop.com/xml/currencies.xml

**Scr

[2020-06-25 14:08] KwabeaAtakora commented on #19927
Ok for me those are in ps_shop_url. Yes. The values are there as myurbanscents.com

[2020-06-25 14:08] Nesta78 commented on #19930
Just tried (and cleared cache) but no changes ... :(

[2020-06-25 14:09] #19640 closed, assigned to nobody

[2020-06-25 14:11] Nesta78 commented on #19930
The weird thing is that it's working on prestashop dashboard, but not in stats details ...

<img width="2560" alt="Capture d’écran 2020-06-25 à 16 10 07" src="https://user-images.githubusercontent.com/64215260/85736094-7a6af600-b6fe-11ea-8c42-d920ecba211e.png">

<img width="2560" alt="Capture d’écran 2020-06-25 à 16 10 31" src="https://user-images.githubusercontent.com/64215260/85736116-7fc840

[2020-06-25 14:18] florine2623 commented on #19941
Hi @aytekinazmi12 ,
First please downgrade your PHP version to 7.2.
You can check this doc to have a full view of PS requirements : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

I will ping our product team to let them know about your improvement request. Please stay tuned.
Thanks!

[2020-06-25 14:19] florine2623 commented on #19941
Hi @PrestaShop/prestashop-product-team ,

@aytekinazmi12 would like to see a new currency added to PrestaShop : Platin XPT.
Is this possible ?

Thanks!

[2020-06-25 14:28] elburgl69 commented on #19940
Hook displayAfterProductThumbs is implemented in version 1.7.1.

I want to hook a module I am developing there. My module needs  to know which product it is operating on to construct the correct information. But the Product is not supplied in the $params when my module is called.

This is can be implemented by changing the last line in the classic template file:
 /themes/classic/templates/catalog/

[2020-06-25 14:34] MohammedID commented on #19936
Hi florine;

In order to reproduce the issue you have to specify more than one rule applied to the same categories and the same gift product.

Can you please visit this url : dev.infini.ma, and add any product to the cart, then use these coupon codes : 'mascara_again' and 'mascara_natif'.

Or you will find attached the steps that you can follow to reproduce the error in your BO.
![step_3](https://

[2020-06-25 14:43] IranDec commented on #18926
@florine2623
Hi
that's the problem is one of my problems (your video). additionally pls check this video to understand my second problem too.
https://gofile.io/d/vUHfVq

[2020-06-25 15:05] boy51 commented on #17844
How is this not fixed?

[2020-06-25 15:25] florine2623 commented on #19924
@colinegin 👋
I confirm, it is not a regression.
In PS 1.7.5.2, the page wasn't migrated yet, it didn't have this option in neither all shops nor one shop in particular :
![Capture d’écran 2020-06-25 à 17 23 52](https://user-images.githubusercontent.com/16019289/85749031-c9b62400-b708-11ea-80b6-17e36a24a506.png)

[2020-06-25 15:28] florine2623 commented on #18926
Regarding your video :
Have you checked if you couldn't add the product to your cart because the stock disappeared ?

Let focus on one issue at a time please, or open a new issue if needed.

I can reproduce that issue

[2020-06-25 15:33] florine2623 commented on #19927
Have you tried to set permissions of img folder to 755 (recursive) ?
Check in you log file for any error in /var/log.
Also what is your version of PS and PHP ?

[2020-06-25 15:34] banan44 commented on #19924
@florine2623 @colinegin
I would like to add an information to that issue. This functionality probably did not exist at all in PS 1.7.
I have enabled multistore option in PS 1.7.2 and since that version I have never had such option. Earlier I had only 2 shops so it this not bothered me that much. Now, with 14 shops it does.

[2020-06-25 15:51] florine2623 commented on #19936
Do you mean that you have 2 same discounts with the same category and same gift ?

[2020-06-25 15:53] colinegin commented on #19886
IMO you shouldn't be able to see and access to the these products if you don't have the necessary conditions.
This means that when searching for a product, it shouldn't be in the results.
If you have the exact URL, you should get an error message (if possible).

Thanks

[2020-06-25 15:59] florine2623 commented on #19930
Can you unable all overrides, clear cache et refresh page ?
When you click on export CSV, what is the result ?

[2020-06-25 16:07] florine2623 commented on #19940
No PR will be approved for PS 1.7.1. It needs to be on version 1.7.6.5 or even better 1.7.7.0. Have you done the test on those 2 last versions ?

[2020-06-25 16:18] stepel commented on #19906
@florine2623

As I can see in PrestaShop code if I want to create order from webservice you actually create it based on cart.
There is part of code (from line 256 in PaymentModule.php file) which check a lot of relations bitween products, delivery options, addresses etc.. I am preety sure there is some problen with that..  maybe carrier list for product is not properly ?
I see that if you edit del

[2020-06-25 16:48] maperezr14 commented on #19928
Hello, my PS version is 1.7.5, attached to this email are screenshots of my
shopping carts, I must specify that the amount of the subtotal is based on
the prices of the product without taxes included.

I understand, the total purchase should then be subtotal + tax, but this
does not happen.

El jue., 25 jun. 2020 a las 2:20, florine2623 (<notifications@github.com>)
escribió:

[2020-06-25 17:28] KwabeaAtakora commented on #19927
Done that img folder is set to 777 recursive

PS 1.7 php 7.2

[2020-06-25 18:24] roberto3211 commented on #19916
In reference to my post and to prevent any doubt, I attach the check that on the server the port 993 is open.
![OpenPort993](https://user-images.githubusercontent.com/45822595/85777226-b8c5dc80-b721-11ea-8d46-e0ed4506bfc0.png)

[2020-06-25 19:35] elburgl69 commented on #19940
Tested both, same  result.  Checked the development branch and the  implementation there is the same.

[2020-06-25 19:47] KwabeaAtakora commented on #19927
The error at the back office is solved the categories can be seen however, the issue with the menus and It is not working persists

[2020-06-25 20:10] MohammedID commented on #19936
Yes, it the same gift product. for the same categories.

[2020-06-25 20:57] PierreRambaud commented on #19886
Everything is possible you know :kissing:
Should not be hard to fix :+1:

[2020-06-25 22:51] aytekinazmi12 commented on #19941
can you help me?

[2020-06-26 04:06] superskyman100 commented on #19935
Have you tested what happened in case a new cart rule is created ?

We are not speaking about static situation, but dynamic one. We need newly
created discounts (we will have hundreds per days due to reminder cart
modules) to be incompatible by default.

BUT we also need some existing cart rule to stay compatible with others....

Deleting all ps_cart_rule combinaison won't solve the (dynamic) issu

[2020-06-26 07:08] florine2623 commented on #19928
Please answer via GitHub, I don't see your screenshot.
If there's anything special about the product (combinations, discounts, etc), please specify it too.

[2020-06-26 07:12] florine2623 commented on #19935
Then you must add the restriction directly manually from the BO
If you have specific cases in your shop, you will need to contact an agency to develop a special tool for you.
Or ou need to contact the developer of the tool you are using directly from your Addons account to request a new feature. The GitHub space is for PrestaShop core software, not external modules.

No it won't.

[2020-06-26 07:17] florine2623 commented on #19927
Check in Traffic & SEO if these paths are correct :
![Capture d’écran 2020-06-26 à 09 15 43](https://user-images.githubusercontent.com/16019289/85830962-c3b65680-b78d-11ea-87ea-76d9e2fc907b.png)

[2020-06-26 07:20] LouiseBonnard commented on #19941
Hi @aytekinazmi12, thanks for your issue! Why would you like to have this currency natively instead of adding it manually in the back office? @MatShir, could it be handled by the CLDR? Its ISO 4217 code is `XPT`.

[2020-06-26 07:48] harpreet43 opened #19945 "Order object is empty in payment module"
While following the payment module documentation , i found that $params['order'] object is empty and it doesn't return $total_to_pay amount. Please resolve this bug.

$total_to_pay = $params['order']->getOrdersTotalPaid();

[2020-06-26 08:29] florine2623 commented on #19945
Hi @harpreet43 ,
Could you follow the bug template please and explain how to reproduce the issue ?
Thanks

[2020-06-26 08:31] aytekinazmi12 commented on #19941
Hi I added it on the back office already but it is not updating. please see the screenshot.

[2020-06-26 08:41] davidglezz commented on #18547
PHP 8.0.0 Alpha 1 available for testing!
https://www.php.net/index.php#id2020-06-25-1

[2020-06-26 08:42] colinegin commented on #19904
Don't forget to put all labels so that we can better classify it !

[2020-06-26 09:00] Progi1984 commented on #18480
@PrestaShop/prestashop-product-team A question :) Is that change applies on all Yes/No Choices filters ?

@PrestaShop/prestashop-core-developers  If we remove the blank line, it implies that we change the status to required to true (#BCBreak). And add a new value in the YesAndNoChoiceType. Are you agree with that ?

[2020-06-26 09:16] PierreRambaud commented on #19886
I just make more test and in fact, there is no bug :sweat_smile:

You must be sure the product is not assigned to another category:
![image](https://user-images.githubusercontent.com/1462701/85841324-3c251380-b79e-11ea-851b-6acd8ff948c6.png)

In my case, my product was also assigned to `Home` category, I remove this one, and now, I must be connected to see it in Search and to reach it:
![image](ht

[2020-06-26 09:23] florine2623 commented on #19916
Hi @roberto3211 ,
Have you enable IMAP in your gmail account ?
![Capture d’écran 2020-06-26 à 11 22 41](https://user-images.githubusercontent.com/16019289/85842074-60cdbb00-b79f-11ea-9f7e-3887a4b6cef2.png)
Thanks!

[2020-06-26 09:29] florine2623 commented on #19593
Hi @fanny300 ,
This is a duplicate of #9757 as @Hlavtox said.
So I will close your issue, you can follow #9757 for more updates.

[2020-06-26 09:29] florine2623 commented on #19593
Duplicate of #9757

[2020-06-26 09:29] #19593 closed, assigned to nobody

[2020-06-26 09:35] KwabeaAtakora commented on #19927
Hi,

The paths are correct. Attaching an image of the page
![trafficseo](https://user-images.githubusercontent.com/31692415/85843172-5952e580-b790-11ea-91c1-99357b3e987f.png)

[2020-06-26 09:35] superskyman100 commented on #19935
Well we are speaking about BUG of the core software : if we uncheck all
cart rules compatibility (as shown up in several screenshots), they are
still compatible >>  there is obviously something wrong.

This BUG creates problem when we use Prestashop, with or without modules.
Modules that create discounts are not the problem. The problem is that we
cannot use the core prestahop functionalities as t

[2020-06-26 09:51] florine2623 commented on #19936
Regarding the free product sent to customer issue with the wrong calculated price, it has be fixed in PS 1.7.7.0.
I have 2 discounts with same configuration (same category restriction and same gift), they just have different names.

Please see my screenshot in PS 1.7.6.5 : **NOK**
![Capture d’écran 2020-06-26 à 11 47 14](https://user-images.githubusercontent.com/16019289/85844356-e1da8180-b7a2-1

[2020-06-26 09:51] #19936 closed, assigned to nobody

[2020-06-26 10:00] harpreet43 commented on #19945
Yaah! I hv followed prestashop documentation https://devdocs.prestashop.com/1.7/modules/payment/ for payment module and downloaded the sample payment module from https://github.com/PrestaShop/paymentexample.

but in paymentexample.php:-

-----
public function hookPaymentOptions($params)
    {
        if (!$this->active) {
            return;
        }

        if (!$this->checkCurrency($params['ca

[2020-06-26 10:05] SD1982 opened #19949 "BO - order detail / Discount is deleted when deleting another discount"
#### Describe the bug

In an order we have a product with discount of 50% on the total of the order cumulated with another discount . If we delete the product the 2 discount are deleted

#### Expected behavior

The discount not related to the deleted product should not be deleted

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a cart rule with 50% reduction on the total of th

[2020-06-26 10:18] Matt75 commented on #19945
This one is more up-to-date https://github.com/PrestaShop/paymentexample/pull/14

In hook `PaymentOptions`, `Order` is not created yet, you can only rely on `Cart` object.
`Order` object is created by `PaymentModule::validateOrder()`

[2020-06-26 10:19] SD1982 opened #19950 "BO - Order detail / Possibility to edit product quantity with a value under the minimum quantity command"
#### Describe the bug

If we have a product with a minimum order quantity ( for example 3 ) it's possible to edit the quantity with a value under the minimum order quantity ( for example 2 )

#### Expected behavior

It should not be possible to edit the quantity with a value below the minimum order quantity

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a new product with a

[2020-06-26 10:25] florine2623 commented on #19939
Hi @henrygri ,
This page has totally been remodeled in PS 1.7.7.0.
You can see in my screen record that when I change the address of an order I manually created, there's no warning :
https://drive.google.com/file/d/1WA4OB7bTMxaegnNzvA7BiJTJ7ovXcODf/view

The reason you might have the warning might be because you change some configuration in your carrier before updating your order.

[2020-06-26 10:34] ballashop commented on #19891
@sarahdib
I'm desolated
Thank you.
Balla

[2020-06-26 10:52] ballashop opened #19952 "prices visible in the product pack even if in catalog mode it is set to not display prices"
In catalog mode and with hidden prices, a pack product still shows the prices of the individual items that compose it.
is it a bug or is there a setting that I missed?

#### Describe the bug

I able the catalogue mode and disable product price
I created the new pack product
When I show the product page I see the single product price.
<img width="1362" alt="Schermata 2020-06-26 alle 12 49 41" src="

[2020-06-26 11:15] Hlavtox opened #19953 "[1.7.7] Error log flooded after install by ImageRetriever.php"
**Steps to reproduce the behavior:**

1. Install 1.7.7 beta in czech language
2. See error log

**Log:**

[code]

#### Additional information

* PrestaShop version: 1.7.7
* PHP version: 7.2

[2020-06-26 11:17] Hlavtox opened #19954 "CLOSED - [1.7.7] Error when changing currency decimals"
#### Steps to Reproduce

1. Install 1.7.7 beta in czech language.
2. Go to currencies.
3. Open CZK.
4. Change decimal places from 2 to 0.
5. See error screen.

**Log**

[code]

#### Additional information

* PrestaShop version: 1.7.7 beta
* PHP version: 7.2

[2020-06-26 11:47] harpreet43 commented on #19945
Thanks

[2020-06-26 11:47] #19945 closed, assigned to nobody

[2020-06-26 11:49] Hlavtox opened #19956 "[1.7.7] $cart->getProductsWithSeparatedGifts() does not contain required information"
**Steps to Reproduce**

1. Create a cart rule that gives free gift to order.
2. Go to FO and recreate this situation.
3. Call **$this->context->cart->getProductsWithSeparatedGifts()** somewhere in the code or from your module and print it.
4. **is_gift** value in the gifted product should be **1**, it's **empty**.

**Cause**
$refresh = true in getProductsWithSeparatedGifts()

#### Additional infor

[2020-06-26 12:17] Hlavtox commented on #17729
@matthieu-rolland Hi, yes, changing it to 0 made it round properly.

![rounding](https://user-images.githubusercontent.com/6097524/85856132-b910b700-b7b7-11ea-9a70-95cce4aae4e3.JPG)

[2020-06-26 12:22] Hlavtox opened #19957 "[1.7.7] Emails not working"
No emails are sent.

**Log**

[code]

#### PHP config
https://openservis.net/phpinfo72.htm

#### Additional information

* PrestaShop version: 1.7.7
* PHP version: 7.2

[2020-06-26 12:26] florine2623 commented on #19952
Hi @ballashop ,
Thanks for the report.
This has been fixed in PS 1.7.7 :
![Capture d’écran 2020-06-26 à 14 25 39](https://user-images.githubusercontent.com/16019289/85856799-ee69d480-b7b8-11ea-9844-4af332f43e9b.png)
I would advise you to wait for the release candidate to be approved, and then you will be able to update your shop !
I close your issue as it is fixed.
Thanks!

[2020-06-26 12:26] #19952 closed, assigned to nobody

[2020-06-26 12:28] ballashop commented on #19952
Hi @florine2623,
thanks for replying so quickly.
Ok, we are waiting.
Thanks.
Balla

[2020-06-26 12:35] henrygri commented on #19939
Hi @florine2623 ,
I tried PS 1.7.7.0 and it worked correctly.

Thanks for your support

[2020-06-26 12:49] Progi1984 commented on #9708
Rule after discussing avec @marionf :

- If `classic` is present, we choose it, else we take the first.

[2020-06-26 12:49] Hlavtox opened #19958 "[1.7.7] hookdisplayAdminOrder is not working"
#### Describe the bug

This hook is not working. It outputs nothing to order admin screen.

#### Additional information

* PrestaShop version: 1.7.7
* PHP version: 7.2

[2020-06-26 12:53] Matt75 commented on #19958
@Hlavtox see https://devdocs.prestashop.com/1.7/modules/core-updates/1.7.7/#order-view-page-layout-modifications

[2020-06-26 12:58] Hlavtox commented on #19958
@Matt75 see https://devdocs.prestashop.com/1.7/modules/core-updates/img/order-view-page-hooks.jpg

No word about hookdisplayAdminOrder removed....

[2020-06-26 13:03] Matt75 commented on #19958
@Hlavtox Yes it was missing inside https://devdocs.prestashop.com/1.7/modules/core-updates/1.7.7/#modified-hooks

[2020-06-26 13:07] eternoendless opened #19959 "Release 1.7.6.6 🚀"
This issue tracks the status of the PrestaShop 1.7.6.6 release

1.7.6.6 is a new patch version for 1.7.6.x branch.

### Information

Q | A
--|--
**Type** | Patch version
**Milestone** | [1.7.6.6](https://github.com/PrestaShop/PrestaShop/milestone/65)
**Kanban** | [1.7.6.x](https://github.com/PrestaShop/PrestaShop/projects/4)
**Estimated release** | 2020-07-02

### Current status

- [x] Development

[2020-06-26 13:08] Hlavtox opened #19960 "[1.7.7] Order BO discount removing/changing not working properly"
Removing discounts or changing product quantity is not working.

#### Video
https://drive.google.com/file/d/1e2-2veDRzWT45niwQJLlwOpc7waDWF5Y/view?usp=sharing

#### Additional information

* PrestaShop version: 1.7.7
* PHP version: 7.2

[2020-06-26 13:13] Hlavtox commented on #19958
@Matt75 Sorry, but I am either blind or stupid. 😄

- No word about this hook being renamed
- No word about this hook being removed
- The hook is on the layout image displayed in the same position as in 1.7.6
- Hook still present in twig template _{{ renderhook('displayAdminOrder', {'id_order': orderForViewing.id}) }}_

So, the hook is removed or not?

[2020-06-26 13:14] matks opened #19962 "Product page - tech/product task - What happens when you switch from one tab to another"
If I am not wrong, we decided:
- user can switch freely tabs however some tabs are not accessible until product has, at least, been created (example: combinations tab)
- if user submits the product, and there is an error on a data on another tab, we keep current error display implementation: the tab which contains an error is highlighted in RED

**However**
- the "combinations listing" is a stand-

[2020-06-26 13:14] Hlavtox commented on #19959
Good, so https://github.com/PrestaShop/PrestaShop/issues/18674 can be fixed 🚀

[2020-06-26 13:22] florine2623 commented on #19953
Hi @Hlavtox ,
After fresh install of 1.7.7.0 in Czech language, my log file doesn't have errors regarding ImageRetriever. Please see below.
[prod.log](https://github.com/PrestaShop/PrestaShop/files/4837130/prod.log)
Am I missing something ?
Let me know!

[2020-06-26 13:22] zuk3975 commented on #19267
related POC https://github.com/PrestaShop/PrestaShop/pull/19196 there are some offers, but not confirmed.

[2020-06-26 13:25] zuk3975 commented on #19280
related POC with vuex state example https://github.com/PrestaShop/PrestaShop/pull/19196. Also lots of discussions but no answer yet.

[2020-06-26 13:30] florine2623 commented on #19954
Hi @Hlavtox ,
Thanks for the report, but I couldn't reproduce it. I changed this part, saved, no error came up :
![Capture d’écran 2020-06-26 à 15 29 36](https://user-images.githubusercontent.com/16019289/85862317-e4000880-b7c1-11ea-9a77-b8301ee556d2.png)
Is there something else to do ?
Thanks!

[2020-06-26 13:32] Hlavtox commented on #19953
@florine2623 Hi, my prod.log in var/logs folder is also "good". Have a look into **php-error.log**.

[2020-06-26 13:35] Hlavtox commented on #19901
@sarahdib It's the same as this. https://github.com/PrestaShop/PrestaShop/issues/11105

Soon, we will celebrate a 3 year aniversary of clearing cache not working. 😄

[2020-06-26 13:35] Matt75 commented on #19958
`hookdisplayAdminOrder` => `hookDisplayAdminOrder` ?

[2020-06-26 13:37] Hlavtox commented on #19954
@florine2623 I think it could be connected to this: https://github.com/PrestaShop/PrestaShop/issues/11105

[2020-06-26 13:40] 8ternity commented on #16004
@marionf @khouloudbelguith Since i start to build our store in 2019, this issue wasn't resolved. I made 3 sales in the last 4 months. Today, im still getting issues with Prestashop locales. Im struggling to update product editor for english version and locales are causing error to update translations on modules and also on product editor. I get no help from prestashop community support, on Github,

[2020-06-26 13:46] Hlavtox commented on #19958
@Matt75 Can you tell me why this is not working? It's a piece of code from official GA module.

[code]

[2020-06-26 13:54] Matt75 commented on #19958
Don't use `echo`, you must return a `string` like template rendering or just `return '<p>TEST</p>';`

[2020-06-26 13:55] florine2623 commented on #19960
Hi @Hlavtox ,
Thanks for the report.
I did manage to reproduce the issue in PS 1.7.7.0 in multiple installations.
My screen record here : https://drive.google.com/file/d/1z93DIVnp-jntdF48ZVoKCg64-H-h_pmh/view

In an order with multiple products and multiple quantities, and status not considered as accepted yet, the steps to reproduce are :
- go to order
- add a discount
- change quantity of one of

[2020-06-26 13:59] Hlavtox commented on #19958
@Matt75 Ahaaaaaaaaa!!! It's working now.

Now, I am adding some refund functionality to google analytics module. https://github.com/PrestaShop/ps_googleanalytics/pull/43

It relies on outputting some data, which was already present.
[code]

How should I approach it, when the module needs a tweak to be compatible with 1.7.7.

Ping @PierreRambaud and @SimonGrn

[2020-06-26 14:06] roberto3211 commented on #19916
Yes, sure, as explained in my previous posts, I tested also the gmail configuration connecting to Outlook and Thunderbird on my personal computer.
Therefore the error in not in the gmail configuration. Moreover port 993 on webserver results open.
The issue should be carried out from an error in the program or due to a webserver configuration that I do not know.
Thanks

[2020-06-26 14:20] Hlavtox commented on #19958
I also think that getting information over $this->context->cookie->ga_admin_refund is not working.

[2020-06-26 14:33] jolelievre commented on #19960
Hi @Hlavtox,

thanks for spotting this bug, did you try on the beta release or on the 1.7.7.x branch?

I believe this issue is a duplicate of one/some of the issues in this Epic https://github.com/PrestaShop/PrestaShop/issues/19594

Most of the bugs have been fixed in the branch, the rest is being fixed at the moment.

By the way thank you for the video it helps a lot to understand the bug. I don'

[2020-06-26 14:33] florine2623 commented on #19798
Hi @daresh,

Indeed after regenerating the images with option Generate high resolution images = YES, the images regenerated are the same weight/size. This issue is present on PS 1.7.6.5 and PS 1.7.7.0.

With a product with images :
- Go to Design > Image Settings > Generate all thumbnails
- Enable option Generate high resolution images
- Regenerate all thumbnails and choose Erase previous images =

[2020-06-26 14:40] Progi1984 commented on #19918
@MatShir Do you accept this on smaller screens ?

![image](https://user-images.githubusercontent.com/1533248/85869281-c637a100-b7cb-11ea-8f5c-0b5ac632a3e6.png)

[2020-06-26 14:44] florine2623 commented on #19540
Hi @clotaire202 ,
Sorry for the belated answer, I downloaded your module and installed it in PS 1.7.7.0, it seems like you've changed it :
![Capture d’écran 2020-06-26 à 16 44 28](https://user-images.githubusercontent.com/16019289/85869698-570e7c80-b7cc-11ea-83e2-77b5b80265d4.png)
Do you still face the issue ?

[2020-06-26 14:45] PierreRambaud commented on #19958
@Hlavtox I recommend you to don't mix things in a single PR and create a new one if you think it's relevant ;)

[2020-06-26 14:45] Hlavtox commented on #19960
@jolelievre I am trying on a beta release, not on the latest code.

No prob bro, I will switch it next time 😎

[2020-06-26 14:49] florine2623 commented on #19957
Hi @Hlavtox ,
Thank you for your report, I could reproduce the issue, screen record below :
https://drive.google.com/file/d/1SbIM4oC5YmE3-hIjFdaiLgObUfZtEIZx/view
There's no SwiftMailer error in my logs either.
Is there other option I'm missing ?
Thanks!

[2020-06-26 14:57] Hlavtox commented on #19957
@florine2623 Try with some email status that sends emails.

My order confirmation mails are not working also. Maybe its something with the configuration, but on 1.7.6 it's working fine...

https://openservis.net/phpinfo72.htm

[2020-06-26 15:06] florine2623 commented on #19953
Thanks for the clarification !
Still, in my php_error.log I have nothing regarding ImageRetriever.php.
Here's my log from today :
[code]
Only error from my PS 1.7.7.0 is about cache.

[2020-06-26 15:16] florine2623 commented on #19957
The status I tried do send emails :
![Capture d’écran 2020-06-26 à 17 08 20](https://user-images.githubusercontent.com/16019289/85872843-9b9c1700-b7d0-11ea-9c1d-b12045c0f609.png)
I tried with multiple order status and I received the emails :
![Capture d’écran 2020-06-26 à 17 14 44](https://user-images.githubusercontent.com/16019289/85872955-bf5f5d00-b7d0-11ea-8c6e-39bc51668f22.png)

[2020-06-26 15:20] florine2623 commented on #19927
Search for Fatal error in your error log please, or send me the file directly

[2020-06-26 15:23] Nakira opened #19963 "Do not display any shipping method in the summary when ordering virtual products only"
#### Describe the bug

The first (in terms or order) shipping method is chosen for an order with one virtual product and shown in the order summary.

#### Expected behavior

Not showing the shipping method in order summary when only virtual products in order

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shop Preferences > Order Preference
2. Activate order summary
3. Sa

[2020-06-26 15:30] florine2623 commented on #19935
I can't reproduce your issue. When the cart rules are uncombinable this is the issue I have in the FO :
![Capture d’écran 2020-06-26 à 17 29 31](https://user-images.githubusercontent.com/16019289/85874242-9e980700-b7d2-11ea-8348-53a860650f09.png)

![Capture d’écran 2020-06-26 à 17 28 08](https://user-images.githubusercontent.com/16019289/85874110-6bee0e80-b7d2-11ea-931b-c79c392078c9.png)

If y

[2020-06-26 15:38] #19939 closed, assigned to nobody

[2020-06-26 15:49] 8ternity commented on #11557
I also discover that when i change my language code "QC" to "FR"; when debug is "ON"; Symfony is holding in cache the URL rewrite to new language code and get an error; It seem that Symfony has bad cache and causing issue while debut is ON. Should have a Symfony Clear Cache option too.

[2020-06-26 15:59] daresh commented on #19798
Hi @florine2623

Thanks for the reply, but you're mixing things here. The bug in this topic is about the ImageRetriever, that takes action when you visit the product page, not when you regenerate the images in the back office.

You can check out this bug this way:
1. have a shop with no High DPI support
2. turn on High DPI support
3. go to product page
4. check out image folder on your server - im

[2020-06-26 16:28] 8ternity opened #19966 "Wrong language code for French Canada in Prestashop 1.7.6.5"
I install a new version for testing if you resolved the issue of wrong locales for French (Canada) and still have wrong language iso code.

To reproduce:
1. Install a Fresh Prestashop 1.7.6.5;
2. Select French (Canada) has default language;
3. After installation, Internalisation > Localisation;
4. Scroll down to Advanced;

See:
![Wrong language iso code](https://user-images.githubusercontent.com/1

[2020-06-26 16:31] 202-ecommerce commented on #19540
@florine2623

The tooltip is displayed but the help text under the fiels not. So the bug still remain.

[2020-06-26 16:34] 8ternity commented on #19966
@8ternity New discovery: After changing to proper locales, can't translate default theme translations, also can't translate default e-mail subject or email heading. It's totally broken again the translation module. It's more 9 months without any fix for this when i started reported the issue in October 2019.

[2020-06-26 17:33] KwabeaAtakora commented on #19927
[logs.zip](https://github.com/PrestaShop/PrestaShop/files/4838372/logs.zip)
Above is my error log file

[2020-06-26 19:30] Flower7C3 opened #19967 "Unable to edit category"
#### Describe the bug

I am still unable to save shop category. After form submitting I can see error `PrestaShop\PrestaShop\Core\Domain\Category\Exception\CategoryConstraintException code 6`:
<img width="965" alt="image" src="https://user-images.githubusercontent.com/3767861/85894001-33f7c300-b7f4-11ea-9e00-666d74b52dd3.png">

Problem is because this radio button is disabled, so I am unable to se

[2020-06-26 23:48] superskyman100 commented on #19935
You have to uncheck the 'Compatibility with other cart rules' checkboxes.
If you do so for all discounts, you will see that they are compatible while
(unchecking the boxes means) it shouldn't be .

On Fri, 26 Jun 2020 at 23:30, florine2623 <notifications@github.com> wrote:

[2020-06-27 08:24] zodit opened #19972 "Fatal error after fresh installation, error with database login"
**Description and steps to reproduce the bug**

PrestaShop version: 1.7.6.5
PHP version: 7.2

Fresh installation.
The hosting is ok, I checked the compatibility with phppsinfo.php provided by Prestashop.
The installation process completed sucessfully.
I deleted the "install" folder as requested.
I renamed "admin" folder to access back office.

**Fatal Error**
The website outputs blank page both fr

[2020-06-27 09:57] sugata94 commented on #19263
The issue seemed to be very odd.
After migrating to PS 1.7.6.5 and rewrote the Database everything was fine.
Issue may be closed then.

Note: The logs are not in /var/logs in production...

[2020-06-27 13:04] Hlavtox opened #19973 "Small fuzzy search issue"
Hi! I have been testing fuzzy search. It works amazing and always finds what I want (thanks @Lathanao), except one situation.

I have approximately 300 products with name like **Kuchyňský dřez XXXXXXXXXXX** (Kitchen sink)
These products have a feature specifying color, that has a value of **Odstíny bílé** (Shades of white)

If I search **dřez bílé** = **800 products**.
If I search **dřes bílé** =

[2020-06-27 13:13] Hlavtox commented on #19436
This is normal behavior, you cannot just create any variable in the email and expect it to be filled...

Only these ones can be used:
[code]

If you want to resend order confirm, you can use the code I posted to the thread, works OK. https://github.com/PrestaShop/PrestaShop/issues/14754#issuecomment-623364507 🚀

[2020-06-27 13:18] Lathanao commented on #19973
Hey,
If you can send me your DB, I will take a look.

[2020-06-27 13:30] aytekinazmi12 commented on #19941
Hello,

can you help me?

[2020-06-27 13:31] Hlavtox commented on #19973
@Lathanao Sent you an email. Thanks! 🚀

[2020-06-27 14:35] matks commented on #19941
@LouiseBonnard @aytekinazmi12 Hi, I'm sorry but ... what is Platin XPT used for ?

The goal to add new currencies is to enable customers to pay with this currency.
From https://en.wikipedia.org/wiki/Platinum_coin I dont see any country using XPT as official currency. So ... why adding it ?

[2020-06-27 15:04] aytekinazmi12 commented on #19941
My client wants to sell on the site, therefore I need it.

[2020-06-27 18:59] matks commented on #19941
Yes I understand that 😄 but https://api.prestashop.com/xml/currencies.xml is a file used by every PrestaShop websites in the world (and we estimate there are 300,000 shops in the world).

So if _a big part of these 300,000 shops_ might need Platin XPT we could consider integrating Platin XPT into it.

But if it's just you, we are not going to modify this file 😄 we cannot modify a system used by 30

[2020-06-27 20:36] ataraxus commented on #16689
i was hit by this issue right now... this should be default!!

[2020-06-28 09:25] Lathanao commented on #19973
You have very few result with "bílý" because this word exist in your DB and has very few related products.
You were waiting for the utilisation of the 'fuzzy search' functionality, but in this case, it's not used.
So, Search class just return products related to "bílý".

You can try:
SELECT id_product FROM `ps_search_word` psw
INNER JOIN `ps_search_index` psi ON (psw.id_word = psi.id_word)
WHERE `

[2020-06-28 09:35] Hlavtox commented on #19973
@Lathanao Hmmmmm. Can we somehow use fuzzy search even if a the same word was found? I think it would not be so huge performance drawback, what do you think?

[2020-06-28 09:45] Hlavtox opened #19974 "[1.7.7] Image customization cannot be zoomed or viewed from order admin"
#### Steps to Reproduce

1. Add a customization field to product, file type, optional.
2. Go to FO, customize the product by uploading an image. Add it to cart. Order it.
3. Go to BO > Orders > Your order
4. Attached image to product cannot be zoomed, does not link anywhere.

#### How we can solve this
1. Add `private $link;` and `$this->link= _THEME_PROD_PIC_DIR_ . $this->value;`
to `/src/Core/Do

[2020-06-28 09:54] Lathanao commented on #19973
We weren't looking to make working the Fuzzy Search in case some words are found.
Not sure 100%, but in your case, the problem you have is about some synonymes.

So, to solve this problem, you have just to set some synonymes here:
![image](https://user-images.githubusercontent.com/6756795/85944301-ec8e4580-b95f-11ea-8f9e-a1ad786a4e6c.png)

[2020-06-28 09:56] Progi1984 commented on #19972
Thanks for your report. I have fixed this in #19850. It's is in QA side.

[2020-06-28 10:13] Lathanao commented on #19973
Just to confirm, with a synonyme setup, it's well working:

![image](https://user-images.githubusercontent.com/6756795/85944639-a1296680-b962-11ea-82b2-f476954d5f6a.png)

[2020-06-28 16:46] atelierpall commented on #14979
I can confirm that the direct Checkout button on PS 1.7.6.5 is taking forever to create the checkout forms and write the abandoned cart/ order (30-60seconds) Also, I get another problem which I don't know if it is related: PayPal official module leaves the status "Awaiting for PayPal Payment" instead of "Payment Completed"

[2020-06-28 19:29] bbaoden opened #19975 "Cant deleted category ver 1.7.6.5"
Hello,
I cant deleted categories

[2020-06-28 19:53] bbaoden commented on #19975
![bug 1](https://user-images.githubusercontent.com/34534006/85956965-7c111400-b9b3-11ea-9d01-ce75d1ee7855.png)
![bug 2](https://user-images.githubusercontent.com/34534006/85956967-7ddad780-b9b3-11ea-92ab-fb1aea605850.png)
-the selection box has a buy
-product page too
-cant anable debug mode

[2020-06-28 19:54] bbaoden commented on #19975
I'm using php 7.4 version

[2020-06-28 22:00] borisep opened #19977 "Prestashop issue"
#### Describe the bug
I cant enter to my back office of my Prestashop online shop

A clear and concise description of what went wrong.
I am trying to enter to back office and after entering my password it is show me:
Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon

[2020-06-29 06:21] pixelicous commented on #9818
Encountered the same on new installation of 1.7.6.5 with a free theme installed.

While presta is an awesome product, I have to say, many of the default strings are very scary to customers "order with an obligation to pay" or "adhere to them unconditionally" are just not user friendly IMHO

[2020-06-29 06:30] manukieli commented on #14351
Hi I'm interesting to this feature.

[2020-06-29 07:12] tarasklymets opened #19978 "Prestashop 1.7.6.1 clear cache button not clean var/cache/prod/translations/ folder"
#### Describe the bug

I found that clear cache button not clean folder var/cache/prod/translations/
Its not permission error.

Also file messages.ru-RU.xlf some how override module translations.
I have module amazzingfilter with text: {l s='Filter by' mod='amazzingfilter'} But translation dont work, this code from messages.ru-RU.xlf override module translation:

  <file original="admin-dev/themes

[2020-06-29 07:20] colinegin commented on #19941
Hi !

The great news is that you will soon be able to create any type of currency, both official and unofficial, thanks to the new currency customization we have developed in 1.7.7. You can find more information here : https://build.prestashop.com/news/prestashop-1-7-7-0-beta-release/.

We expect to release the stable 1.7.7.0 version in a few weeks, stay tuned ! :)

[2020-06-29 07:24] colinegin commented on #18480
@Progi1984 i'd say yes for better consistency but let's wait for @prestascott opinion.
Thanks !

[2020-06-29 07:49] colinegin commented on #14350
Closing this as it's integrated into #14428.

[2020-06-29 07:49] #14350 closed, assigned to nobody

[2020-06-29 07:58] Progi1984 commented on #19978
Hi @tarasklymets

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...

You don't know how to get this information? Please read the following article: [How to create a bug report](http://build.prestas

[2020-06-29 08:00] Progi1984 commented on #19977
Hello,
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support
Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

[2020-06-29 08:00] #19977 closed, assigned to nobody

[2020-06-29 08:02] Progi1984 commented on #19975
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...You don't know how to get this information? Please read the following article: [How to create a bug report](http://buil

[2020-06-29 08:03] borisep commented on #19977
I don’t have questions
I want someone to solve technical problem.
I can’t find any contact from Prestashop
What can i do?

On Mon, 29 Jun 2020 at 11:00 Progi1984 <notifications@github.com> wrote:

[2020-06-29 08:10] bbaoden commented on #19975
https://truemapal.com/admin123
user:cs@truemapal.com
pwd:Quangle123
can you cehck it buy yourself,
i have try to reinstall for new domain but it same error
i'm using a2hosting,
prestashop version 1.7.6.5

[2020-06-29 08:13] bbaoden commented on #19975
if you need fpt please email me at bbaodenx3@gmail.com

[2020-06-29 08:14] marionf commented on #19901
Duplicate of #11105

[2020-06-29 08:14] #19901 closed, assigned to nobody

[2020-06-29 08:14] marionf commented on #19901
@arafatx Your issue is a duplicate of the issue mentionned above, please follow it

[2020-06-29 08:16] #19607 closed, assigned to sowbiba

[2020-06-29 08:17] marionf commented on #19595
@MatShir The 3 issues are fixed, we can close this epic :tada:

[2020-06-29 08:18] #19592 closed, assigned to sowbiba

[2020-06-29 08:21] colinegin commented on #19960
I put this issue in to be tested so that we can check if the issue remains on the latest version of the code.
FYI @PrestaShop/prestashop-qa

[2020-06-29 08:23] guirou62 commented on #18634
Hi,
Did you find some solution to solve this problem ? I'm looking again but I don't find one.
Thank you

[2020-06-29 08:31] Progi1984 commented on #19974
In 1.7.6.x, the image was downloadable with a click on the image :

![image](https://user-images.githubusercontent.com/1533248/85990566-843c7400-b9f2-11ea-9f21-e08aac7c4599.png)

In 1.7.7.x, the image is not zoomable or downloadable :

![image](https://user-images.githubusercontent.com/1533248/85991350-9a96ff80-b9f3-11ea-9ef8-071adc4716ba.png)

[2020-06-29 08:33] Progi1984 commented on #19972
We are aware of this issue, it is already in our debug backlog.This issue is a duplicate of #12556.To be informed when it's fixed, please subscribe to the issue mentioned above.Thank you!

[2020-06-29 08:33] #19972 closed, assigned to nobody

[2020-06-29 08:35] Progi1984 commented on #19972
Duplicate of #12556

[2020-06-29 08:39] Progi1984 commented on #19967
Could you please provide us with more info?
We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ...

You don't know how to get this information? Please read the following article: [How to create a bug report](http://b

[2020-06-29 08:45] aytekinazmi12 commented on #19941
Hello @colinegin,

that's good news!
Thank you! I am waiting :)

[2020-06-29 08:45] #19941 closed, assigned to nobody

[2020-06-29 08:47] Progi1984 commented on #19963
@PrestaShop/prestashop-product-team I ping you because it's a small improvement which can be easily implemented ;)

[2020-06-29 08:50] Progi1984 commented on #17034
@PrestaShop/prestashop-product-team Added #19963 to this epic

[2020-06-29 08:56] prestascott commented on #19587
Hi @juraj1000 thanks for your report,

Can you please provide us some screenshots?

Thank you :)

[2020-06-29 09:04] #19966 closed, assigned to nobody

[2020-06-29 09:04] Progi1984 commented on #19966
Duplicate of #16004

[2020-06-29 11:26] Progi1984 commented on #19973
@Hlavtox Have you seen the answer from @Lathanao ?

@Lathanao Thank you for your help :heart_eyes_cat:

[2020-06-29 11:30] Progi1984 commented on #19958
@Hlavtox Your problem is solved ?

[2020-06-29 11:31] Progi1984 commented on #19956
Ping @PrestaShop/prestashop-core-developers

[2020-06-29 11:34] Progi1984 commented on #19975
@bbaoden I removed one of your comment, because it contains login & password

We need a scenario which permits to  core developers to fix the problem. Could you explain the process for having your problem ?

[2020-06-29 11:38] bbaoden commented on #19975
When i enable debug mode
![bug3](https://user-images.githubusercontent.com/34534006/86000327-a0163900-ba37-11ea-805f-18b01c8703c1.PNG)

Deprecated: array_key_exists(): Using array_key_exists() on objects is deprecated. Use isset() or property_exists() instead in /home/ebajessh/public_html/sales/src/Adapter/EntityMapper.php on line 99

Deprecated: array_key_exists(): Using array_key_exists() on obj

[2020-06-29 11:39] bbaoden commented on #19975
I send a test shop dont worries about the password
some option form is faild show
![bug 1](https://user-images.githubusercontent.com/34534006/86000406-b623f980-ba37-11ea-967c-7f1466a3a759.png)
![bug 2](https://user-images.githubusercontent.com/34534006/86000417-b7552680-ba37-11ea-9fda-7ec15e7e0f08.png)

[2020-06-29 11:59] Hlavtox commented on #19958
@Progi1984 Yes, I will maybe open a new one to make things more clear. Thanks!

[2020-06-29 11:59] #19958 closed, assigned to nobody

[2020-06-29 12:29] Junebyun commented on #19636
Hello @juraj1000 Could you show me a screenshot of what your invoice looks like? I tried to generate an invoice and as you can see attributes values are separated by a comma so it matches what you wanted:
![image](https://user-images.githubusercontent.com/64894223/86005198-9c24ef80-ba14-11ea-9789-1f6461549ea6.png)

[2020-06-29 12:32] Hlavtox commented on #19973
@Progi1984 @Lathanao Hi guys, thank you for your time in the first place.

I have been testing Lathanao's proposed solution and it works good! I have been worried, if I set an alias **černý->černé**, if it actually still finds stuff, that is originally indexed as **černý**, if you know what I mean. But it works as intended, great!!!

The “fuzzy even if found” idea is nonsense, it would find hundre

[2020-06-29 12:36] Robin-Fischer-PS commented on #19960
Hi,

When trying to reproduce the bug with the latest version of 1.7.7.x branch, I have the following behavior : As soon as I change the product quantity, or if I delete a product, the discount on the order is deleted.

See my screenrecord here :
https://drive.google.com/file/d/1pfAzhoBRQgXEJjDn5V1FLffKc5zPQQZu/view?usp=sharing

Is this the expected behavior ? @jolelievre @colinegin

Thanks

[2020-06-29 13:04] #19595 closed, assigned to nobody

[2020-06-29 13:11] Progi1984 commented on #19975
@bbaoden Which version of PHP do you use ?

[2020-06-29 13:20] LouiseBonnard commented on #16004
Hi @8ternity, and thanks @Progi1984, it looks like the problem has been solved in 1.7.6.6 because I can't reproduce this issue, I have `qc` as the language ISO code and `fr-CA` as the language code and the locale. Unless I did not properly follow the steps...

In any case, you can check in the [TranslationFiles](https://github.com/PrestaShop/LocalizationFiles), the [all_languages](https://github.c

[2020-06-29 13:24] bbaoden commented on #19975
lasted version 7.4

[2020-06-29 13:24] Junebyun commented on #19643
Hi @juraj1000 I think we could harmonize it with "_**Best Sellers**_" everywhere:

- in the footer of the FO footer ("_Products_" column)

- as the head title once you click on it

"_Best sellers_" is also used when you activate the Top-sellers block module, so it will be consistent with it!

I thought that "_Best sales_" might be confused as a "_list of products which price are reduced_", thus me

[2020-06-29 13:25] bbaoden commented on #19975
my shop is new set up,
if you need fpt and user for check it, i can send by e-mail to you

[2020-06-29 13:25] muyncky commented on #13863
#17011: Translation not working when deploying with Deployer

[2020-06-29 13:35] Progi1984 commented on #19975
@bbaoden Actually, PrestaShop don't support PHP 7.4. It will be supported in 1.7.8 (#16477).

Please use a lower version (PHP 7.2 in 1.7.6.5).

The PHP compatibility chart is available here : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart

[2020-06-29 13:36] CIMEOS commented on #19867
Nevermind, with Prestashop official VAT number module, taxes are not applied.

[2020-06-29 13:36] #19867 closed, assigned to nobody

[2020-06-29 13:37] bbaoden commented on #19975
thank you

[2020-06-29 13:39] Progi1984 commented on #19975
@bbaoden You're welcome. I close your ticket but if you have any problem, please reopen it.

[2020-06-29 13:39] #19975 closed, assigned to nobody

[2020-06-29 13:40] GitHarm opened #19985 "Mollie 500 error"
Hello,

I have a Mollie problem. I finally managed to solve the problem I couldn't add payment methods. So that's done, but now when I click "order with obligation to pay" it leads me to a 500 error page. When debugging I see the what I added in the attachment.

Does someone know what to do?
![Schermafbeelding 2020-06-29 om 11 35 03](https://user-images.githubusercontent.com/12151052/86012873-ca0f

[2020-06-29 13:43] Progi1984 commented on #19927
@KwabeaAtakora You have a fatal errror with `ttpopupnewsletter` module. Could you try to disable it ?

[2020-06-29 13:43] KwabeaAtakora commented on #19927
Alright

[2020-06-29 13:44] KwabeaAtakora commented on #19927
@Progi1984 Alright on it

[2020-06-29 14:00] Lathanao commented on #19678
Hey,
I case a product is definitely no longer available (for ever), I wonder about the possibility to replace an awful 404, by a far more elegant solution, an 410?

[2020-06-29 14:22] 8ternity commented on #16004
@LouiseBonnard If you let the French Canada wrong iso code from the clean installation Yes. But Google and Bing Bots doesn't recognized the language for French due to wrong iso code. You need to go to language and change it has follow, and try again.

![Locales for Language after 100% clean install](https://user-images.githubusercontent.com/16780421/86017589-33c51680-b9f2-11ea-89af-241f0c9e8a8b.pn

[2020-06-29 14:23] Progi1984 commented on #19985
@GitHarm It seems link to `MolliePayment` payment. Have you tried to contact them on Addons Marketplace ?

[2020-06-29 14:34] 8ternity commented on #16004
@LouiseBonnard Regarding [localisation](https://github.com/PrestaShop/PrestaShop/blob/develop/app/Resources/legacy-to-standard-locales.json) fr-ca must be included in 'fr' has fr-CA with the french. It has no indicates in localisation that fr-ca also include French Canada.

    "fr": "fr-FR",

for

    "fr": "fr-FR","fr-CA",

?

It's why the localisation aren't recognized?

thanks.

[2020-06-29 14:43] LouiseBonnard commented on #16004
@8ternity, localization stands for localization packs and they are based on countries.

Regarding your first issue, I think I can see where the error is coming from in the file that installs the language, cf. https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/langs/qc/language.xml. Indicated language code should be

	<language_code>fr-ca</language_code>

instead of

	<language_code>

[2020-06-29 14:48] Progi1984 commented on #19916
@roberto3211 I think the problem come from you server or your provider which doesn't permit to contact gmail.

Do you try from your hosting to `telnet imap.gmail.com 993`

If the return is : `Connected to imap.gmail.com.`, you don't have any error
If the return is : `telnet: connect to address imap.gmail.com: Connection refused`, your provider block outcoming connection.

[2020-06-29 14:56] jolelievre commented on #19960
Nope, I don't think so

[2020-06-29 15:00] Progi1984 commented on #16004
@LouiseBonnard I think `qc` directory should be renamed in `fr-CA` which is the ISO code. What do you think, team ?

[2020-06-29 15:01] luciobenini opened #19987 "Add id_order variable in PaymentModule"
#### Is your feature request related to a problem?

**id_order** variable is missing in **order_conf** template.

https://github.com/PrestaShop/PrestaShop/blob/a588597e720b051e92e0b20580c9102e29f5437e/classes/PaymentModule.php#L590-L644

#### Describe the solution you'd like

I would need to add the **id_order** variable to email **order_conf** template. Is it possibile?

[2020-06-29 15:02] Hlavtox commented on #19960
@Robin-Fischer-PS @jolelievre Depends if the original cart rule exists or not. If it is already deleted, Prestashop has no chance knowing what the original logic was.

I think a good solution would be just to delete all discounts from the order when changing anything in it. Most of the time, the merchant changes the order to apply some custom-dealt prices or discounts by phone or text, so the disc

[2020-06-29 15:03] 8ternity commented on #16004
@Progi1984 I confirm too. This is the good and proper language and iso code. For now, Google Shopping and Google Search Console not recognized our page.

[2020-06-29 15:40] LouiseBonnard commented on #16004
@Progi1984, thanks for the feedback! But renaming the directory would be considered as a breaking change, wouldn't it?

[2020-06-29 15:41] demperador commented on #15304
Hello!

Just to recap, is this issue included in Prestashop's roadmap. In case the description was not clear, I think that the behaviour under this circumstance is that Prestashop should warn the customer that the following products are not available for shipping to the shipping address stated.

Thanks and regards.

[2020-06-29 16:02] imagicuus commented on #19604
@colinegin I've products that are not always on stock at my suppliers. I want those combinations to hide when out of stock. I've also products that are always on stock at my suppliers. People can order those when out of stock at my store.

[2020-06-29 16:27] 8ternity commented on #16004
@LouiseBonnard Seriously? You're the only one e-Commerce still  having this issue. Magento 2.0 is working good. Did you know how much i loosing in SEO referral + Google Shopping due to wrong language that Google is refusing all my products in French about that issue.

[2020-06-29 16:38] matks opened #19988 "Some code for PS 1.7.6.6 is not compatible with php5"
In `classes/module/Module.php`

[code]

Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/19986/

[2020-06-29 16:44] matks opened #19989 "It is not possible to disable a module from BO page"
#### Describe the bug

It is not possible to disable a module from BO page, no matter whether you are SuperAdmin or have the rights to modify Module page.

Spotted by @atomiix and @jolelievre

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Module BO page
2. Try to "disable" a module
4. See error

#### Additional information

* PrestaShop version: 1.7.6.x
* PHP version: 7.1

Th

[2020-06-29 16:50] matks commented on #19959
## 🚧 ⛑️ STATUS UPDATE

Almost all the last Pull Requests eligible for 1.7.6.6 have been merged. However we have identified at least 2 regressions introduced by the merge of the day.

#### Issues to be fixed before release

1. https://github.com/PrestaShop/PrestaShop/issues/19988 Some code for PS 1.7.6.6 is not compatible with php5
This issue has been reported by Travis CI and can be fixed with PR

[2020-06-29 17:14] matks commented on #19989
May be fixed by https://github.com/PrestaShop/PrestaShop/pull/19990

[2020-06-29 17:18] Flower7C3 commented on #19967
There are no extra logs. This option is just set as disabled, so it is not send with post data.

[2020-06-29 17:31] 8ternity commented on #16004
@LouiseBonnard @Progi1984 It has to be made!

[2020-06-29 17:43] jolelievre commented on #19960
@Hlavtox I agree with you when the discount is removed it cannot come back after update
But in this case it has just been created specifically for the Order, and no one as deleted it, it should still be present after a product quantity update

[2020-06-29 17:54] naox opened #19991 "If installer had https then activate https by default"
If prestashop installer was run through https url then activate https for installed shop by default. This would solve infinite loop on hostings where redirect to https is on by default.

[2020-06-29 18:11] matks commented on #19988
May be fixed by https://github.com/PrestaShop/PrestaShop/pull/19990

[2020-06-29 18:32] matks commented on #19987
@luciobenini Hi, I can see the variable `id_order` at line 628. Are you sure this is not already fixed ?

[2020-06-29 18:36] Hlavtox commented on #18674
@colinegin Do think you can reopen it as 1.7.6.6 will be available? I think it's quite important for people to actually browse products...

[2020-06-29 19:20] lazaPH commented on #17759
@khouloudbelguith

We encounter the same issue on 1.7.6.4, in .htaccess in  _/mails_ directory.

With
`# Apache 2.4`
`<IfModule mod_authz_core.c>`
`    Require all granted`
`</IfModule>`

the issue is gone. But are there any security issues with this code.

Thank you.

[2020-06-29 19:53] Hlavtox commented on #19810
@PierreRambaud Hi, should we keep CRON and sorting issue separated? Because while indexing thing is fixable relatively easily, sorting is not, in my opinion.

[2020-06-29 19:58] 23b commented on #16626
I have done some research into this issue on the Backoffice Product Form. I had some success by modifying those files:
src/PrestaShopBundle/Controller/Admin/ProductController.php
src/PrestaShopBundle/Form⁩/Admin⁩/*.php
replace occurances of getLanguages() with getLanguages(false)
That parameter will include deactivated languages. This still needs some testing. Also url-rewrite for the product is c

[2020-06-29 20:05] Hlavtox commented on #19145
@LouiseBonnard @Caleydon @florine2623

Caleydon is right, prices-drop controller is listing every product, that has some kind of discount on it. It's not a page that lists on-sale products.

I promoted creation of the page here, I think it would be useful... https://github.com/PrestaShop/PrestaShop/issues/15384

[2020-06-29 20:09] atelierpall commented on #14979
Just learned that using Chaching (CacheApc) was slowing down the Checkout page a lot (30s) as opposed to 15s without caching enabled

[2020-06-29 21:23] luciobenini commented on #19987
Sorry, my fault. I have an older version.

[2020-06-29 21:23] #19987 closed, assigned to nobody

[2020-06-29 21:24] matks commented on #19987
Time to upgrade then 😄

Thanks for the feedback anyway, have a nice day ! ✋

[2020-06-29 21:29] Maofree opened #19993 "cart rule error with "Send a free gift" option enabled"
Hi
I found a new bug about cart rule
it happens when it is enabled the "Send a free gift" option. (look at the image to replicate the issue)

1) create a cart rule following the attached images
2) go in the front-office to add a product to the cart
3) now the gift will appear in the cart with a quantity of 1
4) go to the cart summary
5) remove the product previously added in the cart
6) now you ca

[2020-06-30 05:11] drmsjee9 opened #19994 "seeker problom."
Desktop/seeker-master/seeker# ./seeker.py
[+] Checking Dependencies...
Traceback (most recent call last):
  File "./seeker.py", line 32, in <module>
    import requests
ModuleNotFoundError: No module named 'requests'
root@shah:/home/musharaf/Desktop/seeker-master/seeker# seeker
bash: seeker: command not found

[2020-06-30 06:15] #10482 closed, assigned to Progi1984

[2020-06-30 06:15] #18525 closed, assigned to Progi1984

[2020-06-30 07:34] matks commented on #19994
I think this is not the right place 😅 PrestaShop is python only.

You probably are looking for one of them: https://github.com/search?q=python+seeker&ref=opensearch

[2020-06-30 07:34] #19994 closed, assigned to nobody

[2020-06-30 08:16] Progi1984 commented on #19991
@naox Hi, a new option has been added in `develop` branch for choosing HTTPS or not during the install : #19791

[2020-06-30 08:25] GitHarm commented on #19985
@Progi1984 Yes you are right. It's fixed already. It was a stock problem...
When the customer wanted to pay, Mollie edited the stock, and that gave a problem which lead to the 500 error.

[2020-06-30 08:33] Progi1984 commented on #19985
Perfect. Thanks ;)

[2020-06-30 08:33] #19985 closed, assigned to nobody

[2020-06-30 08:34] apero-zero opened #19998 "Errors and warnings from Google Search Console"
Google Search Console send me errors and warnings nearly every day. And my website is punished, it is at the end of the research, nobody can find me in the search engines.

**Screenshots**
![Captura](https://user-images.githubusercontent.com/67629635/86103624-48baac00-babd-11ea-933d-26e9eb1431d3.JPG)
![Captura1](https://user-images.githubusercontent.com/67629635/86103639-4ce6c980-babd-11ea-9e5f-fd

[2020-06-30 08:40] matks commented on #19989
Fixed by https://github.com/PrestaShop/PrestaShop/pull/19990

[2020-06-30 08:40] #19989 closed, assigned to atomiix, matks, jolelievre

[2020-06-30 08:41] matks commented on #19988
Fixed by https://github.com/PrestaShop/PrestaShop/pull/19990

[2020-06-30 08:41] #19988 closed, assigned to matks

[2020-06-30 08:59] Progi1984 commented on #19998
Dear @apero-zero ,Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report. Read more about how we expect the issues to be handled: [How to create a bug report](http://build.prestashop.com/howtos/misc/how-to-create-bug-report/). Feel free to create a new issue if you can provide furth

[2020-06-30 09:08] TechDigital01 commented on #18916
very nice article
--
Notification SMS or<a href="https://saudibulksms.com/en/sms-alert//">SMS Alert!</a> is the message that is sent in response to the customers or for promotional purposes. Text messages alert are basically the instant notification that is sent to the customers or clients to notify or alert them about the latest update for your service or product. SMS alert is of minimum characte

[2020-06-30 09:16] PululuK opened #19999 "BO Product attributes MultiShop issue"
#### Describe the bug

Product attributes MultiShop issue

#### Expected behavior

The attributes should only be displayed in the correct shop

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make sure you are using multiShop
2. Create two attributes : Attribute1 associated to shop1 and Attribute2 associated to shop2
3. Go Shop1 > BO > Product > (Select a product with combinations)
4

[2020-06-30 09:18] Progi1984 commented on #19993
I check on 1.7.7.x. I didn't reproduce the bug.

I check on 1.7.6.x. I reproduce the bug.

[2020-06-30 09:20] #19881 closed, assigned to nobody

[2020-06-30 09:20] Progi1984 commented on #19993
@maofree Thank you for your contribution. This has been fixed on the 1.7.7.x branch.

[2020-06-30 09:20] #19993 closed, assigned to nobody

[2020-06-30 09:39] apero-zero commented on #19998
What else do you need to help me?

[2020-06-30 09:43] matks commented on #19959
## 🚧 🚥 STATUS UPDATE

`1.7.6.x` branch has been completed for release, and a 1st ZIP archive has been built. It has been delivered to QA team who will be able to launch the standard patch release test campaign.

This test campaign aims to find whether this patch introduces new bugs.

If the campaign reports that no bugs are found, the new patch release will be validated by QA team and we will be a

[2020-06-30 09:50] juraj1000 commented on #19587
Hello,
it is useful to display information about pack items otherwise a business user doesn't have to know what is included in the pack. Keep into account that usually pack doesn't have the name "Product 1+ Product 2", but there can be name e.g. "Pack 3 cups" and with 3 single products: "Glass cup", "Porcelain cup" and "Ceramic cup". And I'd like to see, e.g.:

Pack 3 cups
- Glass cup
- Porcelain

[2020-06-30 09:53] SimonGrn commented on #19998
Hello @apero-zero,

your report is empty. Please follow the guidelines from @Progi1984 's comment.

Thank you for your understanding.

[2020-06-30 09:59] juraj1000 commented on #19636
Hello,
I generated a new invoice and there is not any comma.

![image](https://user-images.githubusercontent.com/33311857/86112957-ec5d8980-bac8-11ea-98ca-5849ab4c09fd.png)

[2020-06-30 10:21] naox commented on #19991
Thats good but I strongly recomend setting it initial state based on that if installer is running through https url.

[2020-06-30 10:39] Damian-Rutkowski commented on #19090
Good afternoon,

is there an official patch that can also be imported for older versions (e.g. 1.7.6.5)? We have some customers and unfortunately we cannot update all of them.

[2020-06-30 11:40] mikeKstm opened #20001 "Product pack missing images on combination product"
First of all sorry for my bad English.

#### Describe the bug

When I make a product pack with a combination product the image is missing  if I not select the image for these combination. (URL missing ID I think)
https://domain.com/-home_default/product.jpg 404

#### Expected behavior

If I not select any image for a combination product (ex. if the product image it's the same for all combinations)

[2020-06-30 11:44] maofree commented on #19993
thanks

[2020-06-30 11:55] colinegin commented on #19998
I reopen this issue as I was in contact with email with @apero-zero, he sent me some screenshots that I just added to the description.

@apero-zero please note that to ensure we are able to test and reproduce the errors you are facing we need a clear description of it, steps to reproduce, etc.

[2020-06-30 11:57] colinegin commented on #19998
It's actually quite weird when I click on edit I see all the description, but when clicking on save I still have "no description provided"... I add all information here then :

<!--Google Search Console send me errors and warnings nearly every day. And my website is punished, it is at the end of the research, nobody can find me in the search engines.
****************************
DO NOT disclose se

[2020-06-30 12:39] Progi1984 commented on #19587
@prestascott Informations available.

[2020-06-30 12:59] Progi1984 commented on #19846
@PrestaShop/prestashop-product-team Added #20001 to this EPIC

[2020-06-30 13:23] Progi1984 commented on #19991
@naox If I understand, you would like that option would be selected on "Yes" for "Enable SSL" only if the installer is in HTTPS. Right ?

[2020-06-30 13:33] Progi1984 commented on #19967
@Flower7C3 I need to a scenario for reproducing the issue ("Go on BO >  Page X", "Disable X", "Add X").

[2020-06-30 14:28] Flower7C3 commented on #19967
1. Go to BO > Catalogue > Categories
2. Click Edit at any category
3. In section "Parent category" the root category radio button is checked but disabled, so it will not be posted.

[2020-06-30 14:54] Progi1984 commented on #19967
In 1.7.7.x, I have no problem :

![image](https://user-images.githubusercontent.com/1533248/86140545-4114fa80-baf1-11ea-982e-62de5032b31a.png)

And 1.7.6.x, No problem too :

![image](https://user-images.githubusercontent.com/1533248/86141284-28f1ab00-baf2-11ea-817d-185dbbed2bf6.png)

Which steps do it lack for reproducing your bug ?

[2020-06-30 15:07] Progi1984 commented on #19973
Thanks @Hlavtox & Thanks @Lathanao :heart_eyes_cat:

[2020-06-30 15:07] #19973 closed, assigned to nobody

[2020-06-30 15:10] Progi1984 commented on #19940
@PrestaShop/prestashop-core-developers Do you think that the hook `displayAfterProductThumbs` can change by adding a parameter ?

[2020-06-30 15:30] Progi1984 commented on #19842
@florine2623 I think the problem can come from here :

And from this PR https://github.com/PrestaShop/ps_emailalerts/pull/20

If the system has not the old module (1.6), then the install doesn't set configuration.

[2020-06-30 15:33] tutijaja opened #20003 "Unicode 6 + prestashop 1.7.6.1"
Hello,

I can’t seem to find out if Unicode 6 is supported by prestashop version 1.7.6.1

Could someone please confirm it if that is the case?

Best regards,

[2020-06-30 15:33] Flower7C3 commented on #19967
I use multishop and I have some third party modules installed.

I was looking in source code and probably the problem is here: 77c5b5402b39b66d94013ecedddbd2cde1190401, where root category is disabled. When I comment out line it works. I have no idea why it is there.

[2020-06-30 15:41] matks commented on #19999
Not sure about this one 🤔 I think I remember @marionf telling me "a product, shared between 2 shops, cannot have different attributes". So this might be expected.

Can you tell us about it @marionf ?

[2020-06-30 16:28] matks commented on #19959
## 🚧 ⛑️  STATUS UPDATE

QA test campaign still going on. It's a long campaign as `1.7.6.6` supports php5 _and_ php7 versions.

A trivial issue has been identified:
- the style of the "confirm" window fro "delete" action has been modified in BO "Attributes" page

A blocking issue seems to have been identified (currently confirming the issue):
- when DEBUG mode is on, BO "payment methods" page crash

[2020-06-30 16:30] cgermanb opened #20004 "fatal error"
Hi, I try to upgrade gsitemap in prestashop and after i get this error, and now i cant access to prestashop, can you help me please?

Fatal error: Uncaught Error: Class 'ComposerAutoloaderInit53666501d6988215ffba5a499c528e38' not found in /opt/bitnami/apps/prestashop/htdocs/modules/gsitemap/vendor/autoload.php:7 Stack trace: #0 /opt/bitnami/apps/prestashop/htdocs/src/Adapter/ContainerBuilder.php(2

[2020-06-30 16:43] davidglezz opened #20005 "Module update not available on official repo - statslive and ps_contactinfo"
The back office shows me that there is an update available, but it is not available in the repository. I would like to see the changes.
Is it possible that you forgot to publish the release?

I have found these 2

Name           | Update          | Lastest release | Repository                                   |
---------------|-----------------|-----------------|----------------------------------

[2020-06-30 17:29] malcek commented on #15270
I can confirm that module for testing opcache isn't working. After install i get
Fatal error: Cannot use variable $request twice in /home/trgovinafigura2/public_html/modules/opcache/opcache/routes.php on line 13

I have similar problem, but with redirecting from BO let say orders directly to FO
when i want to detail of order the link is: https://trgovina-figura.si/XXXXXX/index.php?controller=Admin

[2020-06-30 19:22] sylva31 opened #20008 "Le serveur a renvoyé une "500 erreur de serveur interne"."
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-06-30 19:40] simondaigre commented on #19902
@sarahdib Could you reopen this issue ?

[2020-06-30 19:45] dguttierrez commented on #15270
I have commented out section starting with line 13 in modules/opcache/opcache/routes.php. Then module is displayed properly in BO.

[2020-06-30 21:30] matks commented on #20005
Yes we forgot 😞

We merged `dev` into `master in these PRs https://github.com/PrestaShop/statslive/pull/8 and https://github.com/PrestaShop/ps_contactinfo/pull/26 but we forgot to create the GitHub releases. This does not impact how the module is being distributed by PrestaShop Addons API, which is why it appears in the BO.

Thank you for telling us this feedback 😉

We are still doing too much wor

[2020-06-30 21:32] matks commented on #20005
I will do the releases tomorrow morning. It's not a good idea to release stuff at 11pm 😅

[2020-06-30 22:08] naox commented on #19991
Installer should should set default value for this option based on if instlaler is running through https.

Remove word "only" and then yes.

[2020-06-30 23:14] kpodemski commented on #19959
Sorry for the offtopic but i really like this kind of status updates before release! gj

[2020-07-01 03:10] TDC-Cyrille opened #20009 "Cart is not updated properly when there is a change in voucher"
#### Describe the bug
In FO, as a Customer I apply a voucher to my cart. Then in BO, I changed the expiration date of the voucher with its status is enabled. FO, I reload the page I can see that the voucher is still applied and that's wrong.

#### Expected behavior
When I reload the page, the voucher is no longer applied

#### Steps to reproduce

1. FO, add products to cart and apply a voucher
2.

[2020-07-01 03:26] Hlavtox commented on #19957
@florine2623 It's something with the configuration and Symfony's way of sending emails. Proc_open is disabled on nearly every public hosting, so I think this should be solved before release. Can you ping the dev team?

[2020-07-01 07:16] JohnFuss commented on #9917
Hi all,

You can find a solution here

https://github.com/PrestaShop/PrestaShop/issues/19079

Add the read access to International/Translation

Bye.

[2020-07-01 07:24] arafatx commented on #19901
No, that issue is different and it has different solution. I have told you from the first post that my issue was duplicated here #12667 and it was closed and #12667 has solution mentioned by @r1si but no pull request has been made since that time. If you close this issue without doing pull request then the next time people are going to open the new same issue again. Please wait for somebody to do

[2020-07-01 07:43] matks commented on #20005
Releases have been created
https://github.com/PrestaShop/ps_contactinfo/releases/tag/v3.3.0
https://github.com/PrestaShop/statslive/releases/tag/v2.1.0

Thank you @davidglezz

[2020-07-01 07:43] #20005 closed, assigned to nobody

[2020-07-01 07:47] arafatx commented on #19901
No, #11105 is different issue. It's about clicking the cache button twice but this issue is different where some suspect php-fpm compatibility issue. I have mentioned in the first post that my issue was duplicated from here: #12667 and a solution has been given temporarily by @r1si but no pull request has been made since feb 2019. You are closing the same unresolved issue. Please wait for somebody

[2020-07-01 08:20] LouiseBonnard commented on #20008
Hi @sylva31, this issue is void so I close it. Feel free to open a new one if need be, with a full description of the problem encountered (in English).

Need help? Please read the following article: [How to create a bug report](http://build.prestashop.com/howtos/misc/how-to-create-bug-report/), thank you very much!

[2020-07-01 08:20] #20008 closed, assigned to nobody

[2020-07-01 08:26] MatShir opened #20010 "When I add an existing product in the order's BO"
### Wanted behaviors

1) When I add a product already present in the order from the back office, the addition is blocked by displaying the following error message (EM): "Your product is already present in your order.".

If Product A at 10 euro
And I add product A again
Then blocks the addition and displays the error message

2) When the order has several invoices, it is possible to add an already

[2020-07-01 08:31] LouiseBonnard commented on #20004
Hello @cgermanb, thanks for your issue! We need further information to understand how to reproduce your issue, could you please provide us with more details?

- full description
- host
- server setup and configuration
- PrestaShop version
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- etc.

You don't know how to get this information? Please read th

[2020-07-01 08:37] prestascott commented on #19587
@juraj1000 Thank you for replying,

In fact, having the information about the content of the pack from the beginning until the end is essential for users because they need to know what they are ordering. I'll definitely take it into account for the Theme Classic redesign. :)

[2020-07-01 08:55] Junebyun opened #20011 "Make the most recent translations available for shops running 1.7.5 and later"
#### Is your feature request related to a problem?

I cannot see the translations updated in my 1.7.5 PrestaShop after translating and approving strings from the 1.7.5 PrestaShop translation project on Crowdin.

All translations added or validated on Crowdin for versions prior to 1.7.8 will not appear in merchant stores. In other words, a 1.7.7 merchant who translates the 1.7.7 file on Crowdin wil

[2020-07-01 09:04] LouiseBonnard commented on #20003
Hi @tutijaja, I'm glad to let you know it will be supported in the next minor version! You can find the related issue [there](https://github.com/PrestaShop/PrestaShop/issues/11083) and more information about PrestaShop 1.7.7 here: https://build.prestashop.com/news/prestashop-1-7-7-0-beta-release - stable version should be released in a few weeks. :-)

[2020-07-01 09:26] jolelievre commented on #20010
Suggestion for the forbidden wording Something like "Your product is already present in your order/invoice. You can edit its quantity directly." so the user knows he should edit the existing product

[2020-07-01 09:26] matks opened #20012 "BO page "payment preferences" crashes with 128M memory limitation on PS 1.7.6.6 and php5.6"
## Describe the bug

While testing PS 1.7.6.6, we have identified that on a fresh shop install, BO page "payment preferences" crashes with 128M memory limitation on PS 1.7.6.x.

We recommend setting the memory limit to 256M in the [Developer Documentation](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/) however it seems PS 1.7.6.5 had a lower memory usage profile.

Her

[2020-07-01 09:28] matks commented on #19959
The failure usecase is now a lot more accurate and is under investigation in https://github.com/PrestaShop/PrestaShop/issues/20012

[2020-07-01 09:34] LouiseBonnard commented on #19957
@PrestaShop/prestashop-core-developers, any idea? Many thanks!

[2020-07-01 09:36] Hlavtox commented on #20010
@jolelievre Why should he? Couldn't it just add 1 piece and be quiet? 😎

[2020-07-01 09:51] matks opened #20013 "Upgrade from 1.7.6.5 to 1.7.6.6 fails with an SQL error about COLLATION"
#### Describe the bug

While testing the 1.7.6.6 build, @Robin-Fischer-PS identified an issue while from 1.7.6.5 to 1.7.6.6. The upgrade failed with the following error message:
[code]

This is issue is to reproduce and happens because file `install-dev/upgrade/sql/1.7.6.6.sql` uses the placeholder COLLATION (just like we use PREFIX and ENGINE_TYPE) but the php code running it does not handle this

[2020-07-01 09:51] matks commented on #19959
⛑️ Another **blocking** issue has been identified about upgrade => https://github.com/PrestaShop/PrestaShop/issues/20013

[2020-07-01 09:57] matks commented on #20013
Should be fixed by https://github.com/PrestaShop/PrestaShop/pull/20014

[2020-07-01 09:58] jolelievre commented on #20010
It's not that simple, the problem is we face numerous problems related to this feature: "I add 2, 3, 60 times the same product in my order and I set whatever price I want on each one, and I expect everything to work without issue because it's an easy task anyway" But it's not easy actually 😅

The main issue is not necessarily to have several times the same product but to allow multiple prices in a

[2020-07-01 10:13] #17480 closed, assigned to nobody

[2020-07-01 10:14] #18728 closed, assigned to nobody

[2020-07-01 10:27] LouiseBonnard commented on #20003
I close this issue since it looks already fixed, thanks!

[2020-07-01 10:27] #20003 closed, assigned to nobody

[2020-07-01 11:01] lordchukz commented on #15270
Hi,

First of all, i'm on a dedicated VPS hosting plan with 100gb space, below are the characteristics.

I solved the opache problem (which was a bug) by removing line 32 "throw new CacheException('OPcache is not enabled’)

I allocated 4gb memory also, server has 6gb memory.

I also installed opcache-gui.php in the public_html directory and can reach it by adding /opcache-gui.php at the end of my

[2020-07-01 12:17] LouiseBonnard commented on #20009
Hi @TDC-Cyrille, thanks for your issue! It looks the same as #17290 which has been fixed by #17294 and will be available in the 1.7.8 version. You can check the fix and confirm, then I'll close this issue since it is fixed. :-)

[2020-07-01 12:52] rdy4ever commented on #19998
Hi @apero-zero
You website is indexed in google, you can see indexed pages [here](https://www.google.com/search?biw=1920&bih=969&ei=I4b8XuuaNdHJrgTHsbrYDw&q=site%3Aapero-zero.com&oq=site%3Aapero-zero.com&gs_lcp=CgZwc3ktYWIQDFAAWABgoQ1oAHAAeACAAQCIAQCSAQCYAQCqAQdnd3Mtd2l6&sclient=psy-ab&ved=0ahUKEwiruMOui6zqAhXRpIsKHceYDvs4MhDh1QMIDA).
As you are using a custom theme, you should contact the theme's

[2020-07-01 13:15] malodeco opened #20015 "Bug lors de la mise à jour vers Prestashop 1.7.6.5"
J'ai un message d'erreur qui apparaît lorsque je fais la mise à jour du module "Module 1-Click Upgrade" vers Prestashop 1.7.6.5

1. J'ai téléchargé le Module 1-Click Upgrade
2. Je cherche le module dans mon catalogue et je clique sur "Upgrade Prestashop Now! "
3. Le téléchargement commence
4. Puis j'ai un message qui apparaît dans mon journal d'activité : "Sauvegarde des fichiers en cours. Encore

[2020-07-01 13:31] LouiseBonnard commented on #20015
Hello @malodeco, thanks for the report. Could you please send your request in English? English is the norm on GitHub since it allows anyone to work on your issue, thank you very much in advance.

Also, can you give more details regarding this issue? It will help us understand if this is a bug or if you should reach the [support](https://www.prestashop.com/support) team. Alternatively, you can also

[2020-07-01 14:08] colinegin commented on #19498
It has been fixed, so it can be tested now !

[2020-07-01 14:28] Progi1984 commented on #19977
@borisep If you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support
Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

[2020-07-01 14:37] Himhotep commented on #15499
PS: 1.7.6.5. PHP: 7.2.31.

There are still problems with JSON and images.

- api/images/?output_format=XML works fine, JSON returns nothing.
Well, it doesn't matter.

- api/images/products/?output_format=XML works fine, JSON returns nothing.
How do I know which products have pictures? Should we try it all one by one?

- api/images/products/X?output_format=XML works fine, JSON returns 'something':

[2020-07-01 14:55] didi-2018 opened #20019 "adding cart rule causes FO 500 Error - PS 1.7.6.5"
Hi,

if I add a cart rule the FO gets 500 Error and BO orders detail page get 500 Error too. After a few time acitvate and deactivate the cart rule NO item can be added to the cart. It is a very strange behavior. After deleting PS cache and browser cache I have 500 Error in FO too!

Here is my cart rule:

![image](https://user-images.githubusercontent.com/44971218/86258650-56eef200-bbbb-11ea-911d-

[2020-07-01 15:01] #19746 closed, assigned to nobody

[2020-07-01 15:11] Junebyun commented on #20010
First error message:
_This product is already in your order, please edit the quantity instead._

Second modal message:
title = _Edit the price_ in _Admin.Actions_
confirm_message = _Are you sure you want to edit the price of this product? It will be applied to every invoices._ in _Admin.Orderscustomers.Notification_
confirm_button_label = _Continue_ in _Admin.Actions_
close_button_label = _Cancel_

[2020-07-01 15:22] #18432 closed, assigned to matthieu-rolland

[2020-07-01 15:23] matthieu-rolland commented on #18432
Issue closed, the refactor is not was planned in this issue.

[2020-07-01 15:24] didi-2018 commented on #20019
it seems to be a problem with ps_legalcompliance

![image](https://user-images.githubusercontent.com/44971218/86261909-79830a00-bbbf-11ea-827f-66f0367a3496.png)
![image](https://user-images.githubusercontent.com/44971218/86262016-9f101380-bbbf-11ea-9ce1-f6c81b2d4fed.png)

[2020-07-01 15:24] Hlavtox commented on #20010
@jolelievre Understood, very tricky situation indeed.

I am not using Prestashop's invoicing system, but it happens very often, that multiple invoices are set to one order. For example, when customer orders something and part of stuff is in stock, the rest on order and he wants the first part now, until the rest arrives. Or when it's already invoiced and you can no longer change it.

[2020-07-01 16:05] musaffar-patel opened #20020 "Using Symfony Request service in Prestashop module"
I'm currently developing a custom module for Prestashop and because Prestashop 1.7 is now based on Symfony I am investing some extra time in using the Symfony platform as much as possible rather than using plain old php or Prestashop libraries.

Prestashop now provides a way to obtain a container to Symfony services which can be used anywhere in a module. I am attempting to use this access the Sym

[2020-07-01 16:13] LouiseBonnard commented on #20019
Hi @didi-2018, thanks for your report! A 500 error is usually related to the server... and here I cannot reproduce it. Did you try to refresh the page that provoke this error? Does it also happen when performing other actions in your back office?

[2020-07-01 16:19] matks commented on #20020
Http Requests are not services into Symfony

However you can fetch them by using RequestStack service

Try
[code]

See https://symfony.com/doc/current/service_container/request.html

[2020-07-01 16:26] LouiseBonnard commented on #20020
@matks, thanks a lot for your answer. I don't really know how to qualify this issue, is there something to be fixed or developed here?

[2020-07-01 16:33] matks commented on #20020
It was rather a question, it could be answered on devdocs.prestashop.com 😉

[2020-07-01 16:33] matks commented on #20013
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20018

[2020-07-01 16:33] #20013 closed, assigned to matks

[2020-07-01 16:37] matks commented on #20012
After further analysis,it seems 1.7.6.5 and 1.7.6.6 memory profiles for this page have no significant differences.

The identified issue with php5 happens around 134MB of consumed memory and the component consuming a massive amount of memory is the building of form "Country restrictions"

This bug consequently does not block the 1.7.6.6 release but the optimization of this form is a relevant impro

[2020-07-01 16:37] #20012 closed, assigned to atomiix

[2020-07-01 16:40] matks commented on #19959
## 🚧 🚥 STATUS UPDATE

Bug https://github.com/PrestaShop/PrestaShop/issues/20012 has been explored and it is not a blocking item for 1.7.6.6 release
Bug #20013 has been fixed by PR https://github.com/PrestaShop/PrestaShop/pull/20018

Branch `1.7.6.x` is, to the best of our knowledge, free of regressions.

Consequently tomorrow we will be able to 1) build a new ZIP 1.7.6.6 archive and start a QA tes

[2020-07-01 16:44] LouiseBonnard commented on #20020
Alright then, I close this ticket, thanks! @musaffar-patel, feel free to browse the [developer documentation](https://devdocs.prestashop.com) or the PrestaShop [community forums](https://www.prestashop.com/forums) to have an answer to your question. In case you don't find it, you can consider creating your issue or documentation request on this dedicated repository. ;-)

👉 https://github.com/Prest