[2021-11-09 19:07] alfonsolr09 commented on #16306
what's your proposal?  I don't really understand what you want to say to me :(

[2021-11-09 19:59] mastudillot commented on #26553
Payment by check uses the _**order_state**_ with **_id 1_**, our plugin uses **_id 3_** when placing the order.

If in the order_state table I change the **logable column to 1**, the error that I mentioned is reproduced and it gets into the if that I mention in the report.
![image](https://user-images.githubusercontent.com/36648048/140995449-a4b12dbe-19ef-45ce-a36a-cdac87d43d39.png)

[2021-11-09 20:06] #26444 closed, assigned to nobody

[2021-11-09 22:36] johnwayne4d opened #26563 "the printify module passes in about out of stock items, but not acted upon"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-10 08:39] Fobba199l commented on #17097
Where can I look into the Roadmap?

Far more than a year has passed by now, and this Issue still remains (PS-Verions 1.7.7.5, Module-Version 2.7.0).
Just want to mention that this Bug is making newsletter-subscription on registration illegal in a large part of europe.

When is a fix to be expexted?

[2021-11-10 09:00] yannicka opened #26564 "The position of the products by relevance is incorrect in the category page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have a problem with the position

[2021-11-10 09:21] marionf opened #26565 "While searching a page in the BO, I have a not found page as a result"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While searching a page in the BO (o

[2021-11-10 09:28] eternoendless commented on #26549
A little more context from the discussion on slack:

The spec might need to be updated accordingly

[2021-11-10 09:30] hibatallahAouadni commented on #26563
Hello @johnwayne4d

Your issue must be addressed to the module developer itself.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help

[2021-11-10 09:30] #26563 closed, assigned to nobody

[2021-11-10 09:52] jolelievre opened #26566 "Typeahead.js suggestion number is incorrect"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

As detected in this PR https://gith

[2021-11-10 10:07] matks commented on #17097
https://github.com/PrestaShop/PrestaShop/projects

If you find that this issue is critical for you, and it's important to have it fixed soon, then you can _invest_ into having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try doing it on your own. PrestaShop is an open source, community project -- that's what the open source strength is all about.

[2021-11-10 10:20] HanaRebaiQA opened #26567 "FO - The right button cannot browse the images of a product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Cannot browse images with the right

[2021-11-10 10:34] hibatallahAouadni commented on #26564
Hello @yannicka

It seems your issue is similar to these #15062 & #18674 (both issues are fixed)
With PS1780, I didn't manage to reproduce (I changed the order of products whom belong to Accessories Category, and the order change in FO), see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/141097454-57e5a86d-73ab-4697-b6a0-5097429cd5d5.png)

![image](htt

[2021-11-10 10:39] uruk-hai-21 commented on #12669
Nothing?

[2021-11-10 11:00] pppplus opened #26568 "webservice customers - can't create new customers"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Impossible to create new customer v

[2021-11-10 11:53] papich06 commented on #22634
Thank you, but we must add a condition for PDF files, right? because if you load another file for example image or zip.
how does it work?
on which prestashop are you?
do you have a link to see the result please?

[2021-11-10 11:56] itsvahid commented on #15304
In our case we have not specified a carrier to certain products and this issue still happens. A temporary solution that I've found is to remove the part that does a where clause on id_address_delivery in Cart.php updateAddressId() function. Now when a customer goes through checkout steps and chooses an address, all the products will be updated in cart_product table to have the same id_address_deli

[2021-11-10 12:06] jck1307 commented on #22634
Hello,
it is not necessary to put a condition on PDF file because we rely on browser capabilities :
* if the browser knows how to handle it, it will display it (pdf, image, txt...)
* if the browser doesn't know how to handle it, it asks you what to do with it (store, open with app...)

Go to https://www.lecoindubeau.com, go to the bottom, in the "A propos" section, and click on "Conditions d'utili

[2021-11-10 12:19] kmorgen commented on #19134
Unfortunately this issue still persist on PS 1.7.8

How come this is not getting any attention? This is a pretty major bug affecting ALL international selling webshops.
I assume it is because no one will notice it unless testing the shop as an international vsisitor (with VPN). However EVERYBODY will definately loose many conversions to this, since wrong shipping costs are being displayed to non-s

[2021-11-10 12:49] jck1307 commented on #22634
I'm using PS 1.7
Go to your product definition, then go to the option tab and the attachments section.
At last, add your documents.

JC

[2021-11-10 14:26] papich06 commented on #22634
wich one of 1.7 you have a lot of version 1.7.8.0 ?

i know how to add pdf attach to product but i want know if you already add pdf to your product from your website

also my question was how to display PDF when in shopping order you accept "J'ai lu les conditions générales de vente et j'y adhère sans réserve. "

i want to display this pdf i don't know if for RGPD rules we need to display it

[2021-11-10 14:35] khouloudbelguith opened #26569 "FO - After an upgrade to PS1781, the search_bar module is not well displayed with RTL language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After an upgrade from the previous

[2021-11-10 14:57] matdu58 opened #26570 "Impossible to translate product title and description into another language when this language is disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Observed problem

When we add several languages, but do not activate them

[2021-11-10 15:49] yannicka commented on #26564
The problem seems to occur when products are associated with many categories, and these products are rearranged in these different categories (the final order having nothing to do with the initial order in the different categories).

[2021-11-10 16:41] hibatallahAouadni commented on #26012
Hello @NoZTurn

Thanks for your patience :pray:
Could you please provide clear and concise steps to reproduce.

Thanks in advance.

[2021-11-10 17:09] Jara65 opened #26573 "bounce rate error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello. I have a problem with the me

[2021-11-10 17:39] ftardio commented on #15137
I tried it. Unfortunately , it's not working properly. For example, if you go to "prices-drop" page, you get products without discount, even if you are not assigning any rule to this page. If you deactivate module, it shows only products with discounts, but if you activate it, you get wrong products filtering.

[2021-11-10 17:42] Hlavtox commented on #15137
@ftardio Yes, I didn't realize it will take some more work, we need to build proper SQL queries for it to work. :(

[2021-11-10 17:48] ftardio commented on #15137
It can be very hard work. For example, at "prices-drop" page, if you filter by categories or attributes, keep in mind you have to filter products having the selected category or attribute value, but also having discounts. And in every single page is different (for example, in "new-products" page you have to keep in mind creation dates, and so...

[2021-11-10 17:51] jameshellfire opened #26574 "Bad couting/presenting profit for free delivery and without it"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When free delivery is set and _aver

[2021-11-10 17:54] Hlavtox commented on #15137
@ftardio Yeah, we would need to replicate Product::getPricesDrop, Product::getNewProducts, ProductSale::getBestSales and search somehow. Will need some help from @PierreRambaud :D 🥺

[2021-11-11 08:33] bitosome opened #26575 "Issues with navigation from product with combinations back to category"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When the user changes combinations

[2021-11-11 09:13] maldarol commented on #26471
The problem is indeed not with the hook, as @krekken mentioned the params does not have the request. The error message linked in the original post will appear when you try to render and process a form. Since this class is not a controller you use ``$this->get('form.factory');``, and process the request with `$form->handleRequest($params['request']);`. This is when the given error message will appe

[2021-11-11 09:14] hibatallahAouadni commented on #26568
Hello @pppplus

I didn't manage to reproduce the issue with PS1780, see the attached screenshots below:

### URL/api/customers?schema=blank
![image](https://user-images.githubusercontent.com/23308427/141270630-e2806d48-7927-4721-9e03-620ff23c9ccc.png)

### URL/api/customers
![image](https://user-images.githubusercontent.com/23308427/141270925-8c2f51d4-8517-41c1-b0a0-1235f8d29bf7.png)

### URL/api/

[2021-11-11 09:17] Hlavtox commented on #10122
@MatShir @hibatallahAouadni @PrestaShark

I don't think this is a bug and I suggest closing it.

Yes, I understand that it would be good to have the orders merged for the single guest with the same email and it may not be that hard to do...

BUT ➡️ Guest accounts must be separate entities, because anybody can order with the same email without knowing. If guests accounts were merging, anybody could

[2021-11-11 09:17] HanaRebaiQA opened #26576 "FO - The label of product is displayed in stock while it is out of stock"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When displaying the product details

[2021-11-11 10:04] HanaRebaiQA opened #26577 "BO - No text is displayed in help menu when editing the Address of Brands"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is no text displayed in the `

[2021-11-11 10:13] hibatallahAouadni commented on #26573
Hello @Jara65

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep in m

[2021-11-11 10:13] #26573 closed, assigned to nobody

[2021-11-11 10:15] HanaRebaiQA opened #26578 "No text is displayed in help page when editing the Address of Brands"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is no text displayed in the `

[2021-11-11 10:16] #26578 closed, assigned to nobody

[2021-11-11 10:17] pppplus commented on #26568
Hi, I see.
I've the problem only on /api/customers?schema=blank
for /api/customers/3?schema=blank, it's OK
for /api/customers/3, it's OK

Strange.
It's an update from PS 1.7.6.? to 1.7.8
On page system-information, no file are detected as wrong

So no idea, what can be wrong.
I do not find any documentation, for error code 5

[2021-11-11 10:35] HanaRebaiQA opened #26579 "BO - The content of help menu is displayed on entire page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When clicking on `Help` button, the

[2021-11-11 10:46] gerra14 commented on #26402
bonjour
j'ai le même problème aussi sur mon site lors de l'inscription du nouveau client après avoir changer la version PrestaShop en 1.7.8.0 mon PHP est 7.4 ca met : cette page ne fonctionne pas .Impossible de traiter cette information à l'heure actuelle .HTTP ERROR 500

[2021-11-11 11:02] gerra14 opened #26580 "ERREUR HTTP 500 SUR PrestaShop 1.7.8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

bonjour
j'ai un problème  sur mon s

[2021-11-11 12:44] amery commented on #26544
couldn't narrow it down, but now it works so I'm closing this

[2021-11-11 12:44] #26544 closed, assigned to nobody

[2021-11-11 13:09] hibatallahAouadni commented on #26580
Hello @gerra14

Please send your request in English. English is the norm on GitHub.

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must fill all the blocks in the template**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new

[2021-11-11 13:09] #26580 closed, assigned to nobody

[2021-11-11 13:12] HanaRebaiQA opened #26581 "BO - The products of the new shop created are not displayed in the list when selecting All shops (multistore)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After configuring Multistore, creat

[2021-11-11 13:59] HanaRebaiQA opened #26582 "BO - The category changes position when adding it to the new shop after an edit"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When adding a new category and then

[2021-11-11 14:18] HanaRebaiQA opened #26583 "FO - Overlaid of title when its too long in the product details"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When create a product with the Name

[2021-11-11 15:00] Amit-Kumar-Tiwari-Webkul commented on #15503
@Febivayne You can include file init.php like this
`require_once('../../init.php');`

[2021-11-11 15:38] hibatallahAouadni commented on #26570
Hello @matdu58

This is the expected behavior, if you want to translate into Spanish you have to activate it.
Let's check with @PrestaShop/product-team wdyt?

Thanks!

[2021-11-11 15:43] hibatallahAouadni commented on #26575
Hello @bitosome

Well that's the expected behavior, cause when you change the combination **Size** to **M**, the link get updated to:
`men/1-3-hummingbird-printed-t-shirt.html#/2-size-m/8-color-white`

So, when you click on back button in Navigator, the navigatore will redirect you to:
`men/1-1-hummingbird-printed-t-shirt.html#/1-size-s/8-color-white`

Let's check with @PrestaShop/product-team is

[2021-11-11 16:32] hibatallahAouadni commented on #26544
Glad to hear :tada:

[2021-11-11 16:36] hibatallahAouadni commented on #26539
Hello @okom3pom & @AreSee

I didn't manage to reproduce the issue with PS1780, see the attached screen record below:

https://watch.screencastify.com/v/hqm592DltFadzkbdu1p6

Please check and feedback.
Thanks!

[2021-11-11 16:42] hibatallahAouadni commented on #26559
Hello @Olimbot

So, should we close the problem as it was solved or do you suggest adding a test in the WebService to verify the existence of the table?

Thanks!

[2021-11-11 17:00] hibatallahAouadni commented on #26471
Hello @krekken & @maldarol

Could you please provide clear and concise steps to reproduce the issue :pray:
Please check and feedback.

Thanks!

[2021-11-11 17:01] hibatallahAouadni commented on #26516
Ping @PrestaShop/prestashop-core-developers could someone please try to reproduce the issue :pray:

[2021-11-11 17:07] hibatallahAouadni commented on #26575
Hello @bitosome

Thanks for reporting the issue!
I reproduce the issue only with PS1780 and develop, see the attached screen record below:

https://watch.screencastify.com/v/1jI4DOGOshLCu8wUQbsB

Ping @PrestaShop/product-team could you please confirm that's a regression and not the expected behavior :pray:

Thanks!

[2021-11-11 17:11] hibatallahAouadni commented on #26568
Hello @pppplus

Could you please check this issue #26559 seems similar to yours.
Please check and feedback.

Thanks!

[2021-11-11 17:12] hibatallahAouadni commented on #26402
Hello @gerra14

Please send your comment in English. English is the norm on GitHub.

Thank you

[2021-11-11 17:17] hibatallahAouadni commented on #26574
Hello @jameshellfire

Could you please check this issue #9961 cause it seems similar to yours :pray:
Please check and feedback.

Thanks!

[2021-11-11 17:52] pppplus commented on #26568
Yes !! It works.

So the 2 errors messages have to be solved to avoid such correction to apply.
[PHP Notice #8] Trying to access array offset on value of type null (/home/.../public_html/classes/webservice/WebserviceOutputBuilder.php, line 669)
[PHP Notice #8] Trying to access array offset on value of type null (/home/.../public_html/classes/webservice/WebserviceOutputBuilder.php, line 716)

Thank

[2021-11-11 20:10] JMauclair opened #26584 "Notice: Undefined index: showPackProductsPrice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In debug mode, when you create a pa

[2021-11-11 20:20] jameshellfire commented on #26574
Nope, totally different case.
My issue is only bad counting in presentation of profit chart in
Desktop section of BO.
The net profit is presented there without including the cost of shipping
when "free delivery" is set. Trivial, but very important when sells a lot
with free shipping.

czw., 11 lis 2021 o 18:18 Hibatallah Aouadni ***@***.***>
napisał(a):

--

*PozdrawiamBest Regards*
*Jakub Górski*

[2021-11-11 21:04] AreSee commented on #26539
@hibatallahAouadni and your PHP Version is 7.4?
i don't know, i do the same thing and get the error.

[2021-11-11 21:42] Mwaqas1 commented on #17906
Thank you so much - indeed this is something which needs a sharp eye like you to rectify and tell others. thanks again

[2021-11-12 05:20] bitosome commented on #26575
Wanted to add, that on iOS this behaviour causes an an error (screenshot from my prod webshop)
![Screenshot 2021-11-08 at 09 26 27](https://user-images.githubusercontent.com/7230197/141414016-3a69fab4-f081-4110-93bf-dd3ce503429a.jpeg)

[2021-11-12 05:32] oliver139 commented on #22974
Just notify this issue..any updates?

[2021-11-12 07:26] krekken commented on #26471
i made a module, that reproduces the problem, but i'll describe what i did, if you don't want to rely on that.
https://github.com/krekken/ordererrorreproduce

So i installed the module like this, in the main php file:

[code]
And then i made a form inside the hook.
[code]
Entity of the form:
[code]

the twig:
[code]

this module will work in 1.7.7.8, but will produce error in 1.7.8. the reason beh

[2021-11-12 08:06] dev-studio opened #26585 "DELETE attribute BO error 404"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In PS version 1.7.7.7, a 404 error

[2021-11-12 08:23] hibatallahAouadni commented on #26585
Hello @dev-studio

I think you mean a combination, is that so?
If so, I didn't manage to reproduce the issue with PS1777, PS1778 and PS1780, see the attached screen record below:

https://watch.screencastify.com/v/uye9wHM0oQ0hW74J0B9P

Please check and feedback.
Thanks!

[2021-11-12 09:47] #26277 closed, assigned to Progi1984

[2021-11-12 10:05] dev-studio commented on #26585
Hi, yes it's about the combination tab.
Here is a screen record:
https://drive.google.com/file/d/1n-OzoCxUXLEUc-FnLCxTkaM6an5drG2V/view

[2021-11-12 10:22] ifelseoficial commented on #15380
I am working with prestashop 1.7;

I check mysql query logs and see the same case that @lichesser:

"when doing an update to a product (I don't know if this also happens if you save a product in backoffice) it calls a massive update logic which only sets the position of a product in 'vaps_category_product' to a new position.

UPDATE category_product SET position = '66925' WHERE id_category = 2 AND

[2021-11-12 10:28] dgonzalez360 commented on #13911
I know this is an OLD post.

But the problem here is very simple to solve. The form method on the guest-tracking should be changed to **post**, that's it.

If we change the method to post then the email is not going to be on the URL and no PII problem will appear.

Hope it helps, even with this very old error.

Best,

[2021-11-12 11:51] ChineseNorris commented on #15291
Hi,

I would like to add one important issue with this and is you can't drag products from one page to another. A real case scenario is you have a very old product and you want to re-position it to the top (usually we sort from new to old), you can't drag from position 1 to 300 for instance due to drag from page to page issue.

[2021-11-12 11:52] SharakPL commented on #25853
@Oksydan can you clarify which part has been fixed already? Should I checkout develop or 1.7.8.x?

[2021-11-12 12:09] gerra14 commented on #26580
Hello
I have a problem on my site when registering the new customer after changing the PrestaShop version to 1.7.8.0 my PHP is 7.4 it says: this page does not work. Cannot process this information at the moment. HTTP 500 ERROR

[2021-11-12 12:10] gerra14 commented on #26580
Hello
I have a problem on my site when registering the new customer after changing the PrestaShop version to 1.7.8.0 my PHP is 7.4 it says: this page does not work. Cannot process this information at the moment. HTTP 500 ERROR

[2021-11-12 12:11] gerra14 commented on #26580
thank you the problem is resolved

[2021-11-12 12:39] SharakPL opened #26589 "Allow to select modules to install during store installation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-12 14:27] #26519 closed, assigned to nobody

[2021-11-12 15:19] fmozzati commented on #17906
Thanks for your help. I read several forums and some had the same problem, but you were more specific where to find the error!

[2021-11-12 16:30] hibatallahAouadni commented on #26584
Hello @OpiumCity

I didn't manage to reproduce the issue with PS1772 and PS1780, see the attached screen record below:

https://watch.screencastify.com/v/cGPBu7k4Qi8PxUaGdv5R

Please check and feedback.
Thanks!

[2021-11-12 16:31] hibatallahAouadni commented on #26589
Hello @SharakPL

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this f

[2021-11-12 16:33] hibatallahAouadni commented on #26390
Hello @woxfer

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-12 16:33] #26390 closed, assigned to nobody

[2021-11-12 17:00] thedarkknight197 opened #26593 "Prestashop 1.7.8.0 Backend and FrontEnd Broken"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have installed prestashop locally

[2021-11-12 17:01] thedarkknight197 commented on #26593
How resolve it? What is the problem?

[2021-11-12 17:02] elmanu13 opened #26594 "Add a second optional email field to send invoices to the accountant."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-12 17:04] kpodemski commented on #26593
Try to run `make assets` first, and then installation of the PrestaShop

[2021-11-12 17:09] thedarkknight197 commented on #26593
I have m1, i cant build sass dependencies

[2021-11-12 17:12] kpodemski commented on #26593
is there no workaround? like running this from iTerm enabled with Rosetta?

[2021-11-12 17:14] thedarkknight197 commented on #26593
i can try if you tell me how, i don't know this way using iterm, i never found any information about node-sass in Apple Silicon

[2021-11-12 17:19] kpodemski commented on #26593
I just tried and it's working fine for me. Basically I have a test environment installed on my MacBook Air when everything what I do in CLI is in the context of iTerm, and I run it in the Rosetta mode.

I had to copy iTerm app, open the Information window and check that this app should be run in the legacy mode (Rosetta).

[2021-11-12 17:22] thedarkknight197 commented on #26593
I am trying

[2021-11-12 17:23] thedarkknight197 commented on #26593
I have to the procedure with terminal, i use it

[2021-11-12 17:24] thedarkknight197 commented on #26593
Nothing, same problem

[2021-11-12 17:25] thedarkknight197 commented on #26593
gyp ERR! cwd /public_html/admin-dev/themes/default/node_modules/node-sass
npm ERR! gyp ERR! node -v v16.3.0
npm ERR! gyp ERR! node-gyp -v v3.8.0
npm ERR! gyp ERR! not ok
npm ERR! Build failed with error code: 1

[2021-11-12 17:28] kpodemski commented on #26593
Maybe it's related to the OSX dev tools not being installed in Rosseta 🤔 To avoid issues I installed the entire environment in the legacy mode :-(

[2021-11-12 17:30] thedarkknight197 commented on #26593
i can try to do all using terminal with rosetta, yes?

[2021-11-12 17:32] kpodemski commented on #26593
I'm afraid it's about installing your entire environment using rosetta. That means that you need to install `homebrew`, `yarn` / `npm` etc., all using rosetta-mode terminal.

[2021-11-12 17:35] thedarkknight197 commented on #26593
No... I can't do that... I have much library and tools... I am trying on my pc with Ubuntu... I will update this issue quickly

[2021-11-12 17:40] thedarkknight197 commented on #26593
Here composer and node are ok, but when i try to go to my site to configure the installation it return this;
![Schermata del 2021-11-12 18-39-17](https://user-images.githubusercontent.com/37689698/141510801-897d7207-0c50-4e94-b57a-afe7180000cf.png)

[2021-11-12 17:46] thedarkknight197 commented on #26593
Now i have disable the debug mode, and do recursive 777 permision to all public html files and directories and subdirectories, it is installing, i will update at the end of the process.

[2021-11-12 17:51] thedarkknight197 commented on #26593
Front-end work but ui still broke
![Schermata del 2021-11-12 18-49-17](https://user-images.githubusercontent.com/37689698/141511990-458c8e70-dc89-4e1a-b0b7-9a7f8c059bb2.png)
n

Backoffice have problem with jquery: /js/jquery/jquery-migrate-3.1.0.min.js
URL mapping di origine: jquery-migrate.min.map
![Schermata del 2021-11-12 18-50-21](https://user-images.githubusercontent.com/37689698/141512112-c4

[2021-11-12 17:51] thedarkknight197 commented on #26593
Now i don't know what do

[2021-11-12 18:02] ComonSoft commented on #21790
Agree with @zorrobiwan this is very important, specialy when you use Adwords. And many merchants use it ;-) And also to manage user consent!

[2021-11-12 18:26] thedarkknight197 commented on #26593
The make assets wasn't ended.
I have to do any other change: set permission of public html to 777 with recursive mode with -R, to made make permission to write public html folder.

At the end:
![Schermata del 2021-11-12 19-23-45](https://user-images.githubusercontent.com/37689698/141516380-5bc3e2ca-5c91-4bd7-a1f6-de060cf58b3e.png)
![Schermata del 2021-11-12 19-25-42](https://user-images.githubuser

[2021-11-12 18:27] thedarkknight197 commented on #26593
![Schermata del 2021-11-12 19-26-36](https://user-images.githubusercontent.com/37689698/141516641-a34f1591-8c7f-4898-9bec-74673d36a384.png)

[2021-11-12 19:46] surflibre commented on #17894
Hi,
Did you remember how you solve it ?

[2021-11-12 21:03] samberrry commented on #17894
@surflibre
Hi,
from now on I should write the solution and explain it :D It's interesting for me that how I fixed it..
May be it was https issue I mean activating ssl on all pages, I don know waht happened exactly, so soryy for that

[2021-11-12 21:29] surflibre commented on #17894
Hi,
After many hours of testing, search with differents websites under PS 1.7.8 with this bug, I've a heavy solution :
I've downloaded the official prestashop's Github archives, and I've replaced the new-theme in /admin/themes.
Works for me,
Solved

[2021-11-12 21:31] samberrry commented on #17894
@surflibre ,
great.
Thanks for sharing

[2021-11-12 21:33] surflibre commented on #17894
try it yourself, and if it works you can thank me!

[2021-11-12 21:54] #25502 closed, assigned to matks

[2021-11-13 17:10] nathanl361 commented on #25672
I had the same problem today. After a few search and no solution .... I noticed I had a "%" character in image title. By removing it no more problem it worked ;)
so check if you have any special character in your image title before uploading it ;)

[2021-11-13 17:30] gitbjorn commented on #26199
Same issue here. PHP Version 7.3.32, Prestashop 1.7.7.8

Sending the following XML to the Webservice:

[code]

This gives the following result:

[code]

The same XML works fine on a Prestashop 1.7.7.5 installation on the same server.

[2021-11-13 18:28] Hlavtox commented on #26594
Honestly, I think this is too specific and you can easily make a module for this… the customer can setup a forward rule and resend the email himself.

Also, sending invoice to accountant by email is not a scenario from professional environment. Invoices are automatically transfered to accounting ERP, if they are separate.

[2021-11-13 18:40] kpodemski commented on #26594
This is easy to do thanks to the hook `actionEmailSendBefore`. You can check if the `$template` is the one that should go to the accountant, and if so, you can alter the `$bcc` value.

In the end, I agree with @Hlavtox - most of the time, PrestaShop is connected to external software that handles invoicing.

It's too specific, and you can easily do it yourself (if you're a developer), or you can hi

[2021-11-13 20:52] pnucci commented on #25530
Same issue with PS 1.7.7.8 and Stripe 2.3.7 in test mode. The checkout is successful, but no order is created...

[2021-11-13 23:22] adamus007p commented on #25530
try normal mode and let know
do you have hooks configured correctly?

[2021-11-14 07:37] arafatx opened #26595 "[1.7.8.1] Issue with linking Prestashop account using subdomain www."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have searched this issue and I th

[2021-11-14 11:07] mparvazi opened #26596 "[BO][1.7.8.1] window.Dropzone is undefined"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This error will cause the main menu

[2021-11-14 11:07] mparvazi commented on #26596
[code]

I think the code `window.Dropzone.autoDiscover = false;` might run too soon.

[2021-11-14 12:36] mikirimiki opened #26597 "Scroll down doesn't work on the main product image in the product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On a mobile phone (tried with two d

[2021-11-14 16:06] NoZTurn commented on #26012
BO - International - Localization-Languages -- Add new language(like zh-TW/ zh-CN en-US/en_GB and es, pt, ar such languages used in different contries and areas) in the BO, then you can see ISO code at BO Localization/Languages just added is ISO 3166-1 alpha-2 code not ISO_639-1_codes.

[2021-11-14 16:23] jak78 opened #26599 "High resolution product images are not displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

My Prestashop Installation: 1.7.8.0

[2021-11-14 18:47] #26596 closed, assigned to nobody

[2021-11-14 23:08] darkf3d3 opened #26600 "Expired cart rules are not removed from the cart"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Customers are able to complete orde

[2021-11-15 06:15] arafatx commented on #14686
This issue came back in 1.7.8.0. I will open a new issue.

[2021-11-15 08:27] le-melon opened #26602 "PrestaShop must be compatible with PHP 8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-15 08:37] NoZTurn commented on #26012
I see https://github.com/PrestaShop/PrestaShop/projects/6 here have Backloged the issue 16070: https://github.com/PrestaShop/PrestaShop/issues/16070 , so If I can think it means the offcial team have confirmed this issue?
![20211115163238](https://user-images.githubusercontent.com/2842182/141748931-b3856720-fe18-4e85-b1ee-4a898aa9a378.png)

[2021-11-15 08:39] NoZTurn commented on #26012
@hibatallahAouadni sorry, I forget to at you, please see the above two reply.

[2021-11-15 08:39] NoZTurn commented on #26012
@hibatallahAouadni sorry, I forget to at you, please see the above two reply.

[2021-11-15 08:42] hibatallahAouadni commented on #26391
Hello @Wrenbjor

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-15 08:42] #26391 closed, assigned to nobody

[2021-11-15 09:08] hibatallahAouadni commented on #26593
Hello @thedarkknight197

Glad you solve the issue :tada:
Well, you should take the easy way following this [doc](https://devdocs.prestashop.com/1.7/basics/installation/localhost/#installing-prestashop-for-development).

Closing the issue :wink:
Thanks!

[2021-11-15 09:08] #26593 closed, assigned to nobody

[2021-11-15 09:13] Peter-Liska commented on #21101
Here is also a discussion and ideas on this issue:

[Imagick prestashop forum](https://www.prestashop.com/forums/topic/447377-improving-the-image-quality/)

[2021-11-15 09:23] hibatallahAouadni commented on #18926
Hello @IranDec

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-11-15 09:23] #18926 closed, assigned to nobody

[2021-11-15 09:26] hibatallahAouadni commented on #19398
Hello @chale96

Thanks for your patience :pray:
Do you still reproduce the issue? Please check and feedback.

Thanks!

[2021-11-15 09:36] atomiix commented on #26141
## Status update - 1.7.7.8 validated

QA team validated the build, the release process can begin.

[2021-11-15 09:37] hibatallahAouadni commented on #26595
Hello @arafatx

It seems that your issue is not a PrestaShop core bug.
If your module is Metrics Official, please contact support team on Addons.

We will close this issue.

Thanks!

[2021-11-15 09:37] #26595 closed, assigned to nobody

[2021-11-15 09:48] florine2623 commented on #26594
Hello all,

@Hlavtox @kpodemski thanks for your feedback !

@elmanu13 , I will ping product team to have their opinion on this topic !

Thank you

[2021-11-15 10:02] florine2623 commented on #26597
Hello @mikirimiki ,

I was able to reproduce the issue with PrestaShop version 1.7.8.0, so I can confirm that this behavior is indeed a bug.
It was working fine on 1.7.7.7, so it is a regression.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the proje

[2021-11-15 10:11] florine2623 commented on #26600
Hello @darfk3d3 ,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #19393.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: If you manage to get the problem fixed, then please contribute the fix back to the project as a Pull Request. Remember that the more people contribute, the better PrestaShop becomes for everyone.

[2021-11-15 10:12] florine2623 commented on #26600
Duplicate of #19393

[2021-11-15 10:14] #26600 closed, assigned to nobody

[2021-11-15 10:20] JoryHogeveen commented on #10445
@Sisow
Any idea when this override will be in PS core? Is there an open pull request for this?

[2021-11-15 10:20] florine2623 commented on #26602
Hello @le-melon ,

Please read this topic : https://github.com/PrestaShop/PrestaShop/issues/18547
More info on PHP 8.1 here : https://github.com/PrestaShop/PrestaShop/issues/18547#issuecomment-953681691

I'll close your issue as it is already discussed on https://github.com/PrestaShop/PrestaShop/issues/18547.
Thanks!

[2021-11-15 10:20] #26602 closed, assigned to nobody

[2021-11-15 10:22] roncarino commented on #19810
Inside channel slack it has been brought to my attention this PR https://github.com/PrestaShop/PrestaShop/pull/18179 which seems to improve a lot the sorting experience in listing. Only problem left should be taking care also about discounted product (which does not for now).

**This has been merged already in 1.7.8**. Not entirely sure if this might be a great point to start to complete this issu

[2021-11-15 10:57] stifadoo commented on #26597
After commenting `class="js-qv-product-cover img-fluid"` in the file product-cover-thumbnails.tpl in the ..themes/classic/templates/catalog/_partials/ scroll starts working. But this is not the solution.

`<div class="images-container js-images-container">
  {block name='product_cover'}
    <div class="product-cover">
      {if $product.default_image}
        <img
        {*  class="js-qv-product-

[2021-11-15 11:10] hibatallahAouadni opened #26604 "[BO] - Email themes - the dropdown-menu items are not aligned"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The dropdown-menu items are aligned

[2021-11-15 11:11] florine2623 commented on #26539
Hello @AreSee ,

I have the same issue as you with ps_googleanalytics v4.1.0 on PS 1.7.8.0, PS 1.7.8.1 and PHP 7.4. I can confirm that this behavior is indeed a bug.

The FO is broken : NOK
<img width="1054" alt="Screenshot 2021-11-15 at 12 07 20" src="https://user-images.githubusercontent.com/16019289/141771678-972609ef-90bc-4591-8423-3941d53adc0d.png">

If I disable Google Analytics module, it i

[2021-11-15 11:13] AdrianMoise opened #26605 "Add product to existing order in BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When i try to add a product to an e

[2021-11-15 11:21] florine2623 commented on #26585
Hello @dev-studio ,

I also tried on my end, but I can't reproduce your issue.
How did you create the combination ? Through the BO directly ?
Thanks!

[2021-11-15 11:34] florine2623 commented on #26564
Hello @yannicka ,

I can't reproduce your issue on PS 1.7.7.0.

My list of products, with the position. Let's focus on Category Home Accessories and product "Pack Mug + Framed poster" :
<img width="1134" alt="Screenshot 2021-11-15 at 12 31 18" src="https://user-images.githubusercontent.com/16019289/141774912-f364f2b7-007e-421a-ac24-38e1d43344bf.png">

This product is in multiple categories :
<img

[2021-11-15 11:49] AliShareei opened #26606 "Fixed incompatibility of private property in PS 1.7.8.0"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Before PS 1.7.8.0 property $smarty

[2021-11-15 13:05] florine2623 commented on #26606
Hello @AliShareei ,

Could you send the module example so that we can test it out ?
Thanks!

[2021-11-15 13:12] #26422 closed, assigned to mparvazi

[2021-11-15 13:21] Hlavtox opened #26608 "termsAndConditions should support optional selectboxes"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-15 13:24] florine2623 commented on #26605
Hello @AdrianMoise ,

I can't reproduce your issue on PS 1.7.8.0, please check my screen record :
https://watch.screencastify.com/v/C8ealCzDS2RFvI3XDsyy

Can you give me more details about this issue so I can reproduce the issue on my end ?
Thanks!

[2021-11-15 13:31] florine2623 commented on #26608
Hello @Hlavtox ,

Thank you for your suggestion. The @PrestaShop/product-team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to imp

[2021-11-15 13:34] zuk3975 opened #26610 "Combination supplier selection error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

when selecting a supplier - table w

[2021-11-15 13:36] HanaRebaiQA opened #26611 "BO - The lines of combinations are disordered when duplicate the product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When adding a new product with comb

[2021-11-15 13:38] matdu58 commented on #26570
Hello @hibatallahAouadni

No, you don't understand...
In fact, I don't need to use Spanish in the front-office (only French have to be activated), but I just need to manage the Spanish language (make product translations) only in the back-office (then to export product descriptions on the marketplaces for example).

That was possible in PS 1.6, but not in PS 1.7

[2021-11-15 13:57] jolelievre opened #26612 "Refacto on EntitySearchInputType when limit is 1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-15 13:58] AliShareei commented on #26606
Hi
I think my explanation is simple enough.
Unfortunately, my module is complex but you can see the example code I write here.
This module work on all PrestaShop versions except 1.7.8.0 because of the problem I describe in the first post on this issue.

[code]

[2021-11-15 13:58] florine2623 commented on #26610
Hello @zuk3975 ,

Thanks for your report.

I've reproduced a similar bug but not exactly the same on PS develop branch.

Here are my steps to reproduce :
- Enable Experimental Features
- Go to Products list
- Edit a product with combination using Experimental Features option
- Go to Combinations tab > Edit one combination
- Select a supplier > Save > Error : **NOK**
- Refresh the page > Try to re-

[2021-11-15 13:58] jolelievre commented on #26612
This was also done here https://github.com/PrestaShop/PrestaShop/blob/51c6227c675cb6dd5ce2fe664e1e3de514540646/src/PrestaShopBundle/Form/Admin/Sell/Product/SEO/RedirectOptionType.php#L144

The use case is already present twice, so it will likely appear again which makes the refacto worth it

[2021-11-15 14:02] florine2623 commented on #26606
I'll check with a develop to have more insight on this topic :)
Thanks for the details !

[2021-11-15 14:12] #26424 closed, assigned to samaij

[2021-11-15 14:28] Wrenbjor commented on #26391
I wasn't getting notifications. The search logic will only search for the first thing typed into the box. any other items typed in will get dropped. It's a logic flaw.

If I search for "The blue fox" the logic will break this into a 3 item array.

a foreach loop will start on line 291.

`foreach ($expressions as $expression) {`

The code will use the fuzzy search and the DB to look for "The" as th

[2021-11-15 14:29] atomiix commented on #26141
## Status update - 1.7.8.1 Released!

[2021-11-15 14:29] #26141 closed, assigned to atomiix

[2021-11-15 14:33] Wrenbjor opened #26614 "Reopen of #26391: Search PHP dropping results and not searching for all terms."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When searching for more than one it

[2021-11-15 14:35] Wrenbjor commented on #26614
please also see comments on #26391

[2021-11-15 14:43] SharakPL commented on #17479
Would it be possible to enable Discussions and/or Wiki on this repo? Docs about contributing are imho very poor and there's no point to create an issue if all I need is help setting up dev env.
What's the whole process if I want to improve Prestashop? What if it's related just to 1.7.8.x branch and not develop? What if just want to improve Classic theme? `docker compose up` sometimes works as expe

[2021-11-15 15:06] Progi1984 commented on #22943
Fixed in PrestaShop/statsbestcustomers#21

[2021-11-15 15:06] #22943 closed, assigned to Progi1984

[2021-11-15 15:20] marwachelly opened #26618 "BO - Modules - Bad display of the title after resizing the screen"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bad display of the head of the modu

[2021-11-15 15:26] masiorama opened #26619 "Google Analytics - Enhanced Ecommerce reports - Shopping Behavior Analysis missing funnel data"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello, I noticed that with the most

[2021-11-15 15:41] Matt75 commented on #26608
Opt-out is a bad practice and is not recommended by RGPD.
This needs to be explored by @PrestaShop/product-team

Source : International Association of Privacy Professionals (IAPP) https://iapp.org/news/a/yes-how-opt-in-consent-really-works/

[2021-11-15 15:47] #26144 closed, assigned to NeOMakinG

[2021-11-15 16:03] Hlavtox commented on #26608
@Matt75 Opt-in or opt-out, we can't do any of them. So, should we add `defaultState` and `optional` parameters to the TOS hook or just add a pure display hook and let people do whatever they want?

[2021-11-15 16:27] Matt75 commented on #26608
That's true, currently every checkboxes needs to be checked in order to be allowed to pay, the hook is named `termsAndConditions` because it's the intended behavior, it was created to be compliant with

In some situation optional checkboxes can be legits but I thinks it should be managed in another hook named accordingly to avoid confusion.

It's better to wait @PrestaShop/product-team

[2021-11-15 16:34] matks commented on #17479
Discussions and github issues are not very different 🤔  why not continue discussing in this github?

I don't see the goal of opening the Wiki if nobody puts content in it.

About docker questions: I'm sorry but in the maintainer team we already have a very huge pile of things to build, fix and document so we cannot add extended docker usage in it :/ if you feel like improving the topic, feel free

[2021-11-15 16:36] matks commented on #25975
@NeOMakinG I think it's quite clear now what happens to the new FO theme, so maybe we close this issue?

[2021-11-15 16:55] florine2623 commented on #26614
Hello @Wrenbjor ,

I've searched for one product : OK

<img width="415" alt="Screenshot 2021-11-15 at 17 50 21" src="https://user-images.githubusercontent.com/16019289/141821766-9a93c307-3595-4b4c-aeef-736ea02dfd03.png">
<img width="1171" alt="Screenshot 2021-11-15 at 17 50 29" src="https://user-images.githubusercontent.com/16019289/141821785-e3129874-61a3-420d-ac70-b116c7dca9c4.png">

I've search

[2021-11-15 16:58] marionf commented on #26476
I see, thank you for the explanation

[2021-11-15 17:03] #26508 closed, assigned to Progi1984

[2021-11-15 17:08] florine2623 commented on #26599
Hello @jak78 ,

I was able to reproduce the issue with PrestaShop version 1.7.8.0, so I can confirm that this behavior is indeed a bug.
In PS 1.7.7.7, it was working fine, so it is a regression.

In PS 1.7.7.7, before regenerating images - low res :
<img width="798" alt="Screenshot 2021-11-15 at 18 06 18" src="https://user-images.githubusercontent.com/16019289/141823870-874915d8-02d6-4df6-a3c7-15f

[2021-11-15 17:42] SharakPL commented on #17479
Could you at least provide best way to contribute? Let's say I have a fix for Classic theme that should be merged into 1.7.8 branch. Already have a fresh fork so I will:
1. `git clone <my-fork>`
2. Inside my fork: `git checkout 1.7.8.x`
3. `git checkout -b theme-fix-branch`
4. `docker compose up`
5. At this point I should have my shop installed and ready, I could implement my changes and check the

[2021-11-15 17:47] SviniamociBR commented on #26093
Salve, abbiamo un problema con google analytics non vediamo più gli aggiornamenti alle visite del nostro sito.
Il problema e che abbiamo un ID "G-".
Vorremmo che la piattaforma supportasse le proprietà Google Analytics 4 tramite il più recente tag globale del sito di Google . https://developers.google.com/analytics/devguides/migration/ua/analyticsjs-to-gtagjs
Come possiamo risolvere il problema?

[2021-11-15 18:56] santos0289 commented on #26516
At least I have SOLVE THE PROBLEM!!!:clap:
I have one issue with the cache because when I go to BO>IMPROVE>Modules>Module Catalog its appears the compile error" Failed opening required '/var/www/vhosts/..../httpdocs/modules/contactform/recaptcha.php'.
So I first rename contactform module (otherwise i can't go to Modules>Module Catalog). Then I go again to >Modules>Module Catalog and I Uninstall re

[2021-11-15 19:56] 01park opened #26620 "1.7.8.1 product id field backoffice to small - visual improvement needed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The product input field is too smal

[2021-11-15 21:43] cepardov opened #26621 "Error al ordenar productos por precio"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Al ir a la pagina de productos y or

[2021-11-15 22:08] alfonsolr09 commented on #26620
that's a regression, in version 1.7.7.3 that works perfectly

[2021-11-15 22:27] arafatx commented on #26595
I knew it is not a PrestaShop core issue but this is related to the add ons developed by Prestashop **as stated in the first post.** The bug tracking template issue here even has an option to allow this to be reported (that is my first reason why I think it should be reported here). Right now I have found another medium to report this issue.  Thanks.

[2021-11-15 22:28] arafatx commented on #26595
I knew it is not a PrestaShop core issue but this is related to the add ons developed by Prestashop as stated in the first post. The bug tracking template issue here even has an option to allow this to be reported (that is my first reason why I think it should be reported here or what is the purpose of the field "If your bug is related to a module, specify its name and its version
"). Right now I

[2021-11-15 23:01] arafatx commented on #26595
@hibatallahAouadni  I knew it is not a PrestaShop core issue but this is related to the add ons developed by Prestashop as stated in the first post. In addition to that, the bug tracking template issue here even has an option to allow this to be reported with the following field:

"If your bug is related to a module, specify its name and its version"  (For what purpose?)

Hence, that was my first

[2021-11-15 23:54] SharakPL commented on #24503
This should be fixed in https://github.com/PrestaShop/blockwishlist

[2021-11-16 07:13] camlafit commented on #26093
Ciao @SviniamociBR

Deve aprire un altra issue. Questo problema non è collegata a questa discussione.
Penso che sia direttamente ad aprire sul progetto https://github.com/PrestaShop/ps_googleanalytics/

[2021-11-16 07:46] Hlavtox commented on #26621
You are missing id_country in the query -  `AND psi.id_country = ) LEFT`
Properly set your country, check if a default country is set, regenerate faceted search index, clear cookies and try again.

[2021-11-16 09:03] #26149 closed, assigned to nobody

[2021-11-16 09:29] matks opened #26623 "Release 1.7.8.2"
This issue tracks the status of the PrestaShop 1.7.8.2 release

### Information

Q                                    | A
-----------------------|---------------
**Type**                        | Patch version
**Build date**  |  2021-12-02
**Milestone** | https://github.com/PrestaShop/PrestaShop/milestone/78
**Kanban** | https://github.com/PrestaShop/PrestaShop/projects/21
**Delivery date**  |  20

[2021-11-16 09:55] mparvazi opened #26624 "[BO] Bad display of the dropdown menu icons in header search for legacy theme"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In BO pages that designed by legacy

[2021-11-16 10:08] matks commented on #26606
Analyzis

1. PR https://github.com/PrestaShop/PrestaShop/pull/18220 introduced the private parameter `$smarty` as the property was being used before, but not declared.

2. This is not a bug, because `$smarty` was not declared before so it cannot be considered a part of our public API and consequently is not in our backward compatibility promise.

I know it worked before and it does not work with 1

[2021-11-16 10:10] mparvazi commented on #26620
This problem also exists in other tables for ID column.

[code]

[2021-11-16 10:16] przemokon commented on #26543
Hello,

Today i upgraded PS from 1.7.7.4 to 1.7.8.1 on my dev shop and have same problem.
I have errors in console on product or CMS page (both loads tinymce plugin).
`Uncaught Error: Could not find control by type: button`

Tested on both 7.3 and 7.4 PHP versions.

[2021-11-16 10:46] mrabsinthe commented on #23012
Having possibility to set maximum amount would be great as it is currently not possible to set different gifts / discounts based on amount levels.

[2021-11-16 10:51] hibatallahAouadni commented on #26619
Hello @masiorama

Your issue is similar to this one (check this [comment](https://github.com/PrestaShop/PrestaShop/issues/26091#issuecomment-944216328)).
As you can see in the comment we weren't able to reproduce the issue.
Please check and feedback.

Thanks!

[2021-11-16 10:54] hibatallahAouadni commented on #26620
Hello @01park

You already report about this issue here #26192
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #26192.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-11-16 10:54] #26620 closed, assigned to nobody

[2021-11-16 10:54] hibatallahAouadni commented on #26620
Duplicate of #26192

[2021-11-16 10:55] Hlavtox commented on #26624
@NeOMakinG wrong icon name

[2021-11-16 10:56] kmorgen commented on #14753
Noticed the new order note field available in PS 1.7.8 which is fine.
However it is filling up and getting a bit confusing with now 3 internal notes fields?!

If one is for general customer notes (being visible on all orders from this customer), and the new one is a order note (only visible for the current order), then what is the purpose of having a check box in the customer message field too?

M

[2021-11-16 11:03] mparvazi commented on #26624
There is a mismatch between jquery script and template.
The jquery script use the font-awesome icon but template use the material icons.

[2021-11-16 11:11] mparvazi commented on #26624
\themes\default\template\search_form.tpl:

[code]

\themes\default\js\admin-theme.js
[code]
\themes\default\scss\partials\_header.scss
[code]

[2021-11-16 11:17] hibatallahAouadni commented on #26624
Hello @mparvazi

I was able to reproduce the issue with PrestaShop version 1.7.6.7, 1.7.7.8, 1.7.8.0 and develop. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly

[2021-11-16 11:21] hibatallahAouadni commented on #26624
@Hlavtox @mparvazi I think this issue will be fixed when we migrate the legacy pages :wink:
Ping @PrestaShop/product-team & @NeOMakinG shall we fix the issue on legacy pages or it's not necessary?

[2021-11-16 11:23] hibatallahAouadni commented on #26621
Hello @cepardov

Please send your request in English. English is the norm on GitHub.

Thank you

[2021-11-16 11:23] #26621 closed, assigned to nobody

[2021-11-16 11:31] hibatallahAouadni commented on #26432
Hello @23b

Thanks for your screen record :pray:
Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a configuration problem.

We will close this issue.

Thanks!

[2021-11-16 11:31] #26432 closed, assigned to nobody

[2021-11-16 11:34] hibatallahAouadni commented on #26559
Hello @Olimbot

Thanks for your suggestion!

Ping @PrestaShop/prestashop-core-developers wdyt?
Thanks :pray:

[2021-11-16 11:53] AliShareei commented on #26606
Hi @matks,

Thanks for your good review.
But you know in the real world we just stick with the sources code especially if a module is too old and we just update every year.

The property by default is `public` so in this case some change happened and make it incompatible.
in my case, `protected` will be enough. but without it maybe we have some issues that force us to rewrite some codes in extende

[2021-11-16 13:07] nikitasol opened #26626 "BO - &times; symbol should hide when menu is not expanded on mobile"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Mobile menu for BO contains &times;

[2021-11-16 13:11] matks commented on #26606
Variable `$smarty` was initially not declared, which was the real bug.
As PHP is very tolerant, PHP accepts undeclared variable. This will maybe change in PHP 8.2 https://wiki.php.net/rfc/deprecate_dynamic_properties so as you can see, using an undeclared variable is really not safe.

Undeclared properties a.k.a dynamic properties are available as public by default so you used it. I'm sorry but yo

[2021-11-16 13:31] Hlavtox opened #26627 "Find a way to index faceted search filtered categories in search engines"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-16 13:47] matks opened #26628 "Pull Request contain YAML linter warnings although it's out of scope"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Every PR contains YAML linter warni

[2021-11-16 13:47] matks commented on #26628
## Screenshot
![Capture d’écran 2021-11-16 à 14 46 06](https://user-images.githubusercontent.com/3830050/141997023-61a6a3c5-a3bf-4334-b05a-5becebfb96c1.png)

[2021-11-16 13:48] #15170 closed, assigned to nobody

[2021-11-16 13:49] Progi1984 commented on #15170
Thanks @Kaudaj

[2021-11-16 13:49] #25738 closed, assigned to NeOMakinG

[2021-11-16 13:50] #16275 closed, assigned to nobody

[2021-11-16 13:51] Progi1984 commented on #26327
Fixed by @alexandrebrubeyonds in #26526

[2021-11-16 13:51] #26327 closed, assigned to nobody

[2021-11-16 14:10] zuk3975 commented on #26610
hi @florine2623,
Did you rebuild the assets?

[2021-11-16 14:16] jf-viguier commented on #26627
It's a killer feature, but it's an advanced SEO concern too: badly used, it can generate a lot's of duplicate content. I'm not sure if it should be in the core.

[2021-11-16 14:22] hibatallahAouadni commented on #26627
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-11-16 14:26] jf-viguier commented on #26627
"hiring a specialist" is not relevant with @Hlavtox he is a specialist ;-)

[2021-11-16 14:34] matks commented on #17512
The two classes hold 2 different responsibilities.

One day the should be merged but today they cannot replace each other.

[2021-11-16 14:34] #17512 closed, assigned to nobody

[2021-11-16 14:37] matks commented on #12432
PR https://github.com/symfony/symfony/pull/38464 from Symfony will introduce aliases, so that's great!

But we wont have Symfony 5 in a while 😅  however I think we can close this issue.

[2021-11-16 14:37] #12432 closed, assigned to nobody

[2021-11-16 14:42] hibatallahAouadni commented on #26626
Hello @nikitasol

Thanks for reproting the issue!
I reproduce the issue with only PS1780 and PS1781, see the attached screen record below:

https://watch.screencastify.com/v/j2pTUgPppNXvoUolZKrR

But it seems the issue has been fixed on develop, check the screen record below:

https://watch.screencastify.com/v/PZLDF1CxTdgHSq5WZVlz

Thanks for your PR :rocket: unfortunately it seems that we need to

[2021-11-16 14:42] #26626 closed, assigned to nobody

[2021-11-16 14:50] hibatallahAouadni commented on #26595
Hello @arafatx

This sentence concern only the native modules (like FacetedSearch, ps_banner, ...)

Thanks for understanding :pray:

[2021-11-16 14:51] #26263 closed, assigned to tswfi

[2021-11-16 14:56] hibatallahAouadni commented on #26627
@jf-viguier thanks to remind me :wink: it's just an auto reply :sweat_smile:

[2021-11-16 15:29] NeOMakinG commented on #26624
We've no idea of the date of the end of the dashboard migration, I think we should consider fixing it

[2021-11-16 15:43] hibatallahAouadni opened #26633 "[Mobile] BO - the save and preview buttons in Design>Pages are bad displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you try to edit page, you can

[2021-11-16 16:52] Hlavtox commented on #26633
@hibatallahAouadni We should check all cards where there is more than `Cancel` and `Save` buttons and apply the behavior.

@NeOMakinG Mission fix footers?

[2021-11-16 16:55] hibatallahAouadni opened #26634 "[Mobile] BO - List classic layouts is not responsive"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you access to the `List classi

[2021-11-16 16:57] Hlavtox commented on #26634
@hibatallahAouadni All tables in BO need to be wrapped in table-responsive, until a mobile layout is implemented.

[code]

[2021-11-16 17:14] jf-viguier commented on #26627
The Product Team should consider hiring a specialist to write the auto reply (according to the author level : contributor, maintainer, Game of Thrones king) (joke) 🤣

[2021-11-16 17:37] mparvazi opened #26635 "[BO] Bad display of the header search box in new theme for RTL languages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The header search box in new theme

[2021-11-16 17:45] mparvazi commented on #26635
This code works fine for LTR languages:
[code]
But for RTL languages this rule must be added:
[code]

What confuses me is that why this problem happens?! 😐

[2021-11-16 19:50] Renrhaf commented on #22464
Same bug here. Any news about it ? Thank you.

[2021-11-16 21:57] alfonsolr09 opened #26638 "login as client from backoffice?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-16 22:39] Alaiin974 opened #26639 "Can't transplant modules (1.7.8.1)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I upgraded two websites to

[2021-11-16 22:45] #26639 closed, assigned to nobody

[2021-11-16 22:47] Alaiin974 commented on #26639
Delete this issue please, no problem finally, i did a custom conf mistake...

[2021-11-17 00:09] SharakPL opened #26640 "[FO] Product flags regression in 1.7.8.x"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Changing label `New` to `New produc

[2021-11-17 00:24] SharakPL opened #26641 "[FO] Quantity touchspin can break and buttons are too small"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

1. Quantity touchspin can brake on

[2021-11-17 00:32] SharakPL opened #26642 "[FO] Mobile add-to-cart modal is messed up on 1.7.8.x - regression"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![obraz](https://user-images.github

[2021-11-17 00:40] SharakPL opened #26643 "[FO] Header's searchbox on tablets is too big and off to the right"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Header's searchbox on tablets is ev

[2021-11-17 01:13] arafatx commented on #26595
Thanks @hibatallahAouadni

[2021-11-17 01:20] arafatx commented on #10998
I'm wondering why people use double statement **opcache.revalidate_freq = 0**. That seems duplicated.

[2021-11-17 01:28] SharakPL opened #26644 "[FO] Form elements are misaligned in 1.7.x.x and inconsistent on different browsers"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This bug was there even in 1.7.7, b

[2021-11-17 02:22] WernerCD commented on #18730
Rocking 1741 and it looks like my hosting provider updated the backend default from 7.2 to 7.4. Jacked everything up.

Rolling back to 7.2 fixed it.

Yes, I need to update but I'll do that in the near future.

[2021-11-17 06:18] arafatx opened #26645 "Password bug with ampersand symbol during initial installation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I install Prestashop using the

[2021-11-17 07:18] mparvazi commented on #26645
Hello @arafatx

It was very interesting for me!

Then i tried to test:
<img src="https://user-images.githubusercontent.com/85633460/142150644-9fb9bbd7-d52d-44d0-bf06-947e60613ecf.png" width="350"/>

But installation done successfully:
<img src="https://user-images.githubusercontent.com/85633460/142153535-c8c547f5-99cf-456e-9e58-d5b359c454a1.png" width="550"/>

Apache 2.4.51
PHP 7.4.25
PS 1.7.8.1

[2021-11-17 07:41] masiorama commented on #26619
Hello @hibatallahAouadni
Thank you but I don't think it is the same issue. I can actually track visits and get data. My main concern is as regards funnel data inside Analytics - Enhanced Ecommerce reports section (which I believe is not active by default when creating a property in analytics). Inside that report, I can only see what you can get from the image I attached in the previous comment, wh

[2021-11-17 08:29] JoryHogeveen opened #26646 "Duplicate code for invoice formatting in several locations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There are several locations where a

[2021-11-17 08:40] hibatallahAouadni commented on #26635
Hello @mparvazi

Thanks for reporting this issue!
As discussed on Slack, it's a regression (on 1.7.8.0) only with RTL languages, see the attached screen record below:

https://watch.screencastify.com/v/e09N4qRsvt3oY8d2hnCm

As you can see the issue is gone when you click on the search input, but it return when you refresh the page.
I’ll add this to the debug backlog so that it’s fixed.

If you man

[2021-11-17 08:50] mparvazi commented on #26635
Hello @hibatallahAouadni

I think this issue is not only related to RTL languages, it just more visible in RTL.

This problem also occurs in LTR, but it is very small (just one pixel overflow).

[2021-11-17 08:53] BenTen opened #26647 "Webservice : Add product in an order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi all,

When we try to **add a pro

[2021-11-17 08:59] thelastyearX opened #26648 "Erro on upgrade with module 1-Click Upgrade to 1.7.8.1 with folder vendor"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Describe the bug
Upgrade fails from

[2021-11-17 09:24] #21477 closed, assigned to kpodemski

[2021-11-17 09:28] khouloudbelguith commented on #26576
Hi @HanaRebaiQA,

This issue is fixed with this PR: #24798
https://watch.screencastify.com/v/10PGB97p8xYO72kM6TAw

I will close the issue.

Thanks!

[2021-11-17 09:28] #26576 closed, assigned to nobody

[2021-11-17 09:29] hibatallahAouadni commented on #26638
Hello @alfonsolr09

and if it is completely legal

I don't know about the legal term but IMHO it's a kind of invasion of privacy.
Let's check with Product Team :wink:

Ping @PrestaShop/product-team wdyt?

Thanks :pray:

[2021-11-17 09:43] arafatx commented on #26645
Hi @mparvazi May I know what is your database version? Mine is MariaDB 10.6.4

Also, I will try to reproduce this with an apache only server because my current server is nginx_apache (reverse proxy)

[2021-11-17 10:15] matks commented on #26639
github does not allow us to delete issues but it's OK 👍  dont worry

happy to know you solved the problem 🎉

[2021-11-17 10:30] darfk3d3 commented on #19393
I believe you need to give higher priority to this issue. It's incredible that a bug like this hasn't been fixed after 1 year and half.
All the shops use voucher codes, and this is a critical issue.
For example the next week there's Black Friday, and customers will be able to use expired codes which should only be used on that day.

[2021-11-17 10:36] hibatallahAouadni commented on #26640
Hello @SharakPL

Yep that's true! it use to be just `NEW` with PS1.7.7.8:

![image](https://user-images.githubusercontent.com/23308427/142184529-e26754dd-b25b-4cfa-8443-0c50cac6b638.png)

But let's check with Product Team, if it's a regression on 1.7.8.0 or just the expected behavior (as new feature) :wink:
Ping @PrestaShop/product-team is it a regression or a new feature?

Thanks!

[2021-11-17 10:38] mparvazi commented on #26645
@arafatx

10.4.21-MariaDB

[2021-11-17 10:51] hibatallahAouadni commented on #26640
PS: I think the changement it happens while fixing this issue #21105
As you can see in this [comment](https://github.com/PrestaShop/PrestaShop/issues/21105#issuecomment-697406263) the flag contain only the word `New`. While in this PR [description](https://github.com/PrestaShop/PrestaShop/pull/21751#issue-736140230) you can see that the flag contain two words `New Product`.

[2021-11-17 11:09] Julievrz commented on #26640
Hi,

I don't think it was intentional. I agree that "New" is enough and perfectly clear. Furthermore, "New product" could be longer in other languages, and cover the product image even more.

**We can use the string 'New' in Shop.Theme.Catalog*

[2021-11-17 12:19] krekken commented on #26471
any updates on this?

[2021-11-17 13:15] HanaRebaiQA commented on #26576
Hello @khouloudbelguith

Well Done
Thanks

[2021-11-17 13:24] hibatallahAouadni commented on #26648
Hello @thelastyearX

It seems you have an issue with access rights on the project :wink:

Well, I didn't manage to reproduce the issue with 1.7.7.3 upgraded to 1.7.8.1.
Could you please provide more details to reproduce the issue. Please check and feedback.

Thanks!

[2021-11-17 13:43] hibatallahAouadni commented on #26647
Hello @BenTen

Could you please check this issue #19906 seems similar to yours.
Please check and feedback.

Thanks!

[2021-11-17 13:50] hibatallahAouadni commented on #26646
Hello @JoryHogeveen

Sorry :sweat_smile: but you need to provide clear and concise steps to reproduce to validate the issue and then to review/test your PR.
So, please try your best to provide steps to reproduce :pray:
Waiting for your feedback.

Thanks!

[2021-11-17 13:58] HanaRebaiQA opened #26651 "BO - The last Administration modules in the list are displayed at first while refreshing / loading page and then they disappear"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When loading Module manager page or

[2021-11-17 14:00] hibatallahAouadni commented on #26645
Hello @arafatx

As @mparvazi mentioned, I didn't manage to reproduce the issue too.
Could you please provide more details :pray:

Thanks!

[2021-11-17 14:04] #26651 closed, assigned to nobody

[2021-11-17 14:19] hibatallahAouadni commented on #26644
Hello @SharakPL

I didn't manage to reproduce the issue with PS1.7.8.1 and PS1.7.7.8, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/142217430-7ddfb286-e3da-4a2e-b07d-663acfbef4de.png)

Could you please provide your Browser name and version.
Please check and feedback.

Thanks!

[2021-11-17 14:21] Betafer opened #26653 "Problem with special letters in invoice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Same letters are not displayed in i

[2021-11-17 14:21] matks commented on #26612
@jolelievre

Well I disagree, but maybe I miss something. I think it's easier to know the return type (so here an array of integers) is always the same, rather than "sometimes it's an integer, sometimes it's an array of integers").

I think it's OK for an API to say "I return an array of items that match your search.

[2021-11-17 14:23] matks commented on #26516
@hibatallahAouadni Thanks to reporter who told us the news, it looks like the root issue was cache and involved multiple modules installed. I remove the `waiting-for-dev` label.

[2021-11-17 14:23] JoryHogeveen commented on #26646
Hi @hibatallahAouadni

Again, this isn't a bug that is something to reproduce, please read the description.
It's a code style "bug" and I already provided a PR that will enhance this code.

Nothing "breaks" due to this bug, it only gets harder for dev's and users to properly override the invoice number format.
The PR aims to fix this issue by having only one location in PrestaShop core where invoi

[2021-11-17 14:24] #24742 closed, assigned to Progi1984

[2021-11-17 14:24] #24743 closed, assigned to Progi1984

[2021-11-17 14:24] #24739 closed, assigned to Progi1984

[2021-11-17 14:24] #24746 closed, assigned to Progi1984

[2021-11-17 14:25] matks commented on #26405
Eyh everyone, so I think
- If I am not wrong, we all agree we should not submit PRs "just to remove Yoda conditions", but rather apply the [boy scout](https://biratkirat.medium.com/step-8-the-boy-scout-rule-robert-c-martin-uncle-bob-9ac839778385) rule: when working on a PHP class, if we find a bad Yoda condition, remove it
- I dont think we need to keep this issue open, what should rather be done

[2021-11-17 14:26] matks commented on #26399
ping @NeOMakinG @kpodemski if you can help us explore this matter

[2021-11-17 14:27] matks commented on #26341
And the `<p>` tags are then persisted into database?

[2021-11-17 14:29] roja45 opened #26654 "Unknown column 'active' - fresh install 1.7.8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Database error when accessing manag

[2021-11-17 14:30] matks commented on #26354
Very, very hard to tell because it depends on browser, browser cache load, server capacity, database content, server config...

It's a complex matter because [performance is very, very subjective](https://build.prestashop.com/news/performance-and-prestashop/).

I'm afraid we cannot set a clear definition of what should be expected here.

[2021-11-17 14:30] roja45 commented on #26654
This error then completely nerfs access to the back office, this error from the dashboard link:

![image](https://user-images.githubusercontent.com/19314911/142219659-9f40d289-d960-4dc4-ad78-9ff7c70f46f1.png)

[2021-11-17 14:30] hibatallahAouadni commented on #26646
Hello @JoryHogeveen

well then, it looks like an improvement :wink:
Ping @PrestaShop/prestashop-core-developers wdyt?

[2021-11-17 14:32] BenTen commented on #26647
The issue #19906 is about add an order.

My problem is about add a product in an existing order.

[2021-11-17 14:40] hibatallahAouadni commented on #26516
Thanks @matks & @santos0289 for your feedback.

[2021-11-17 14:40] #26516 closed, assigned to nobody

[2021-11-17 14:43] #26654 closed, assigned to nobody

[2021-11-17 14:43] JoryHogeveen commented on #26646
@hibatallahAouadni Correct! It is :) Though I didn't see a template for an improvement, only a bug report or a feature request..

[2021-11-17 14:54] SharakPL commented on #26644
@hibatallahAouadni you're right it's browser related. Chromium browsers show it slightly better, though still not ideal as input has 38px height and button 38.69px, so it's all fitted sloppy.

Firefox tries to be smart when styles have contradictions. There's `float: left;` on `.input-group .form-control` and later appears `display: table-cell;`. Apparently Firefox changes `display` values [when t

[2021-11-17 15:08] hibatallahAouadni commented on #26643
Hello @SharakPL

Thanks for reporting the issue!
Indeed it's a regression on 1.7.8.0, with PS1.7.7.8 the searchbar move below to menu when menu-items are longer:

![image](https://user-images.githubusercontent.com/23308427/142222224-924f71c6-e51d-4c38-bbef-87881f94e1bd.png)

![image](https://user-images.githubusercontent.com/23308427/142226253-b9bfcb22-ea3a-4b22-847e-40e2cc8fd069.png)

I’ll add th

[2021-11-17 15:31] iheanyi1 commented on #26648
Hello @hibatallahAouadni

please, can you help out

I am upgrading  from 1.7.5 to 1.7.8 (stable) and run into this error:

Could not extract vendor/symfony/symfony/src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Fixtures/xml/profiler.xml from backup, the destination might not be writable.
php is 7.4

Thanks in advance

[2021-11-17 15:45] danielcivit opened #26655 "Show payment method form and additional information when only only one payment method is available"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-17 16:05] khouloudbelguith commented on #26653
Hi @Betafer,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9817
So, I close it.
Thanks!

[2021-11-17 16:05] #26653 closed, assigned to nobody

[2021-11-17 16:05] khouloudbelguith commented on #26653
Duplicate of #9817

[2021-11-17 16:09] Betafer commented on #26653
I see, #9817 is from 2018, does it take more than 3 years to solve this problem?

[2021-11-17 16:10] Hlavtox commented on #26653
@hibatallahAouadni This is the same problem as I had - https://github.com/PrestaShop/PrestaShop/issues/26233. And the original issue is from 2018 - https://github.com/PrestaShop/PrestaShop/issues/9817. Do you want to tell me that the team knows that it cannot display invoice in any other language than English and nobody fixed it in 3 years????

[2021-11-17 16:17] Hlavtox commented on #26653
Fresh develop installed in english. Resulting invoice on my name:
![Výstřižek](https://user-images.githubusercontent.com/6097524/142238801-080923b4-30c4-4046-9e36-1b3a2313abaa.JPG)

[2021-11-17 16:20] Betafer commented on #26653
I don't understand why the prestashop team doesn't group the functions, use 10 different functions to do the same thing, is it difficult to copy the BO function and put it in the invoices?

[2021-11-17 16:25] 0dp commented on #26405
I am fine with closing this PR.

At least it sparked a little discussion, some thoughts and opinions have been waived.

[2021-11-17 16:25] #26405 closed, assigned to nobody

[2021-11-17 16:31] matks commented on #26653
Hello it looks like it is important for you that this bug is solved.

If you find that this issue is critical for you, and it's important to have it fixed soon, then you can _invest_ into having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try doing it on your own. The most important thing is to share that fix with everyone by submitting a Pull Request -

[2021-11-17 16:34] hibatallahAouadni commented on #26644
Hello @SharakPL

Indeed it's related to the browser:

### Firefox :x:

![image](https://user-images.githubusercontent.com/23308427/142239226-6bcf394a-eaf6-433e-b789-430a65c5d562.png)

### Safari :x:

![image](https://user-images.githubusercontent.com/23308427/142239196-5d0beb9d-f6ec-4b98-9e87-2f43e5d2f902.png)

### Opera :heavy_check_mark:

![image](https://user-images.githubusercontent.com/233084

[2021-11-17 16:34] Hlavtox commented on #26653
@Betafer I opened a PR a while that will accidentaly fix this, so go check it out and lets get this done 😄 https://github.com/PrestaShop/PrestaShop/pull/26234

[2021-11-17 16:38] 0dp commented on #26405
As a footnote: it's a very big project and it's hard to grasp everything right off the bat. But IMO start small ask questions and propose modest PR's.

I hope i haven't bothered you guys too much

[2021-11-17 17:12] hibatallahAouadni commented on #26405
@0dp no you didn't :relaxed: it's our pleasure to answer all your questions.

[2021-11-17 17:13] khouloudbelguith opened #26656 "FO - An exception is displayed in the order-detail page after enabling merchandise return"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > order-history > order-d

[2021-11-17 17:15] hibatallahAouadni commented on #26646
Hello @JoryHogeveen

Here's the button to click when you want to create an improvement:

![image](https://user-images.githubusercontent.com/23308427/142249131-6d7ee99f-c4fd-4ba2-abaf-6a1d5b0baf4d.png)

Hope it helps :wink:
Thanks!

[2021-11-17 17:18] SharakPL commented on #26644
It's not properly aligned on any of the browsers so I would put ❌ on all of them 😛

[2021-11-17 17:31] matks commented on #17479
@SharakPL so the deep question behind is "how to work on 2 branches although I do use docker compose for both" is that correct ?

[2021-11-17 17:37] SharakPL commented on #17479
Well, yeah. Is there a better way not involving docker?

[2021-11-17 18:22] JoryHogeveen commented on #26646
Hi @hibatallahAouadni
But it isn't a feature request, it's an improvement.. Maybe include that in the description :)
Anyhow, I'll use the feature request template from now on!

[2021-11-17 19:31] matks commented on #17479
It's just I think most people work on a single branch (one topic) at a time 😄  the "2 branches simultaneously" introduce a little level of complexity because of docker cache

[2021-11-17 20:24] PascalB67 commented on #17681
Hello, same problem with a new migration .... cb module not display.
Excellent ... 1.7.8.1 !

[2021-11-17 20:56] davidcylke opened #26657 "Multistore Header Not working - 1.7.8.x"
please remove

[2021-11-17 21:09] SharakPL commented on #17479
Not simultaneously.
Clone fork, create branch from 1.7.8.x, docker compose, fix the issue, push, PR.
Then on the same fork: checkout develop, update branch if necessary, create new branch from develop for new fix, fix the issue, push, PR, etc. etc.

I thought that's what docker is supposed to enable - fast development in seperate containers without polluting the host.
If every fix requires new fre

[2021-11-17 21:15] evoratec opened #26659 "Cannot upgrade modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Does not upgrade when click on butt

[2021-11-17 21:21] PascalB67 commented on #26274
Hi,
And add: "cb modules not display" (1.7.8.1) same in 1.7.8.0
-> Hook not modifiable.
After update : from 1.7.6

[2021-11-17 22:12] SharakPL opened #26660 "[FO] - Cross selling practically impossible with current Classic theme setup"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

Featured products are hook

[2021-11-17 22:18] ocio87 commented on #25683
Hello, do you know of any progress regarding this improvement?

[2021-11-17 22:24] Hlavtox commented on #25683
@ocio87 I fixed opening the edit screen, it is instant now. It will be in Prestashop 8. Customer detail page (with orders, adresses, mails etc) will be harder to fix. You can have a look into it.

[2021-11-17 22:26] ocio87 commented on #25683
Thank you @Hlavtox

[2021-11-17 22:29] Hlavtox commented on #25683
@ocio87 You can apply it to your store right now by changing these two files. (https://github.com/PrestaShop/PrestaShop/pull/25686/files)

![Výstřižek](https://user-images.githubusercontent.com/6097524/142292634-23247163-8f7e-459d-8bdc-b9df2470d26d.JPG)

[2021-11-17 23:18] hibatallahAouadni commented on #26642
Hello @SharakPL

I reproduce the issue with PS1780, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/142297870-2f5a6c4f-f14c-490d-bfb5-baad2335ad8c.jpeg)

While with PS1778, the modal displays well:

![image](https://user-images.githubusercontent.com/23308427/142297811-2e5942f9-883a-4581-a644-5648a09fb0eb.jpeg)

I’ll add this to the debug backlog so t

[2021-11-17 23:23] SharakPL commented on #26642
Thanks. I'm trying to fix all these issues I reported recently, but it's hard when docker setup isn't working properly, especially on branches other than develop :(

[2021-11-17 23:29] hibatallahAouadni commented on #26641
Hello @SharakPL

On iPhone 11 seems good to me, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/142298654-8972809a-695b-463a-b43b-7911ed611b5a.jpeg)

Could you please provide the size of the device that you are testing on it 🙏
Please check and feedback.

Thanks!

[2021-11-17 23:35] hibatallahAouadni commented on #26655
Hello @Daniel-MultiSafepay

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to imple

[2021-11-18 00:07] SharakPL commented on #26641
On english version it breaks below 351px on product page and 426px on cart page, but there are variables changing these numbers, eg. translations. Here's polish version of product page, where it breaks:

below 405px:

![obraz](https://user-images.githubusercontent.com/5007456/142301808-6054614f-374c-4f75-b5b1-b77bc9680707.png)

and even on tablets (768-991px):

![obraz](https://user-images.githubu

[2021-11-18 06:57] Hlavtox commented on #26660
I will have a look on it and fix it. All crosselling hooks should be fine, I added one more recently, so we can display crosselling in cart modal:

https://github.com/PrestaShop/PrestaShop/blob/50b0b86d86cb34fdcde04502fdc774bce8176ac5/themes/classic/modules/ps_shoppingcart/modal.tpl#L98

[2021-11-18 07:54] hibatallahAouadni commented on #26642
@SharakPL You can ask for help in the [public Slack channel](https://prestashop.slack.com) :wink: the developers and the maintainers will be glad to help you up.

[2021-11-18 07:56] khouloudbelguith commented on #26657
Hi @davidcylke,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or

[2021-11-18 07:56] #26657 closed

[2021-11-18 08:08] TheEnglishGartner opened #26661 "PS 1.7.8 core.js.map Google map missing and pickup store map is not working / loading"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi all,

I have recently upgraded m

[2021-11-18 08:41] khouloudbelguith commented on #26659
Hi @evoratec,

Thanks for your report.
I did not manage to reproduce the issue with PS1781 using PHP v7.4.
I attached a screen record
https://watch.screencastify.com/v/KVhvarZ02GuQN8daHVnY
Thanks t check and feedback.

[2021-11-18 08:54] khouloudbelguith commented on #26660
Hi @SharakPL,

I manage to reproduce the issue with PS1769, PS1778, and PS1781 using Cross-selling v2.0.1 & Featured products v2.1.0.
https://watch.screencastify.com/v/CjeZTQHvdLT0Y6khuFA7

I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you an

[2021-11-18 09:01] hibatallahAouadni commented on #26656
Caused by #25204

[2021-11-18 09:04] lim3ra commented on #9809
Do we have any progress on this? I am having 500 errors on product edit pages and it seems it is related. Presta 1.7.7.8

[2021-11-18 09:04] Hlavtox commented on #26661
core.js.map is something completely different than google map. This is definitely not the cause.

There is no google map pickup by default, so this will be definitely closed.

However, I see that nothing is output in the checkout at all, I think there is some problem on PHP side. You need to investigate with your module's author.

[2021-11-18 09:12] maofree commented on #9809
Hi
try to upgrade your site to 1.7.8.1. do it on a clone website to be sure all modules are compatible

[2021-11-18 09:16] jolelievre commented on #9809
The product page is currently under re-development It will be available in the next version (8.0) however it is partially available in 1.7.8 as an experimental feature. The page was not fully finished but it is accessible by enabling the feature in `Advanced Parameters > Experimental Features` you can then enable the experimental product page.

From here you can then access it via additional butto

[2021-11-18 09:16] TheEnglishGartner commented on #26661
Hi Hlavtox,

Thank you for the swift reply. Thank you for clariffying the above. Im using the Google API with my distribution / freight provider Shipmondo - Sorry if this was not clear. I think I will need to have a yet another round with either Shipmondo or Supercheckout Knowband. Could it be, this is just a question, due to some bugs in the warehouse theme?

Best,

DEGS

[2021-11-18 09:23] Hlavtox commented on #25313
@prestascott I'm gonna do it like this for now, we can improve on the fly

![mobile table](https://user-images.githubusercontent.com/6097524/142387507-1f5351df-3f7d-43d8-a1d9-b4628526544b.JPG)

[2021-11-18 09:27] evoratec commented on #26659
Solve here https://githubmemory.com/repo/PrestaShop/PrestaShop/issues/26028 it's a problem with spanish.

https://github.com/PrestaShop/TranslationFiles/blob/5469512ed964238744002c54e272a644497c15d4/1.7/translations/1.7.8/es-ES/AdminModulesNotification.es-ES.xlf#L881

[2021-11-18 09:40] SharakPL commented on #26660
Since add-to-cart modal is already going to have crossselling products for the one just added, only feature missing is on Cart page. Featured products and/or crossselling products for all products in the cart would be great.

[2021-11-18 09:49] Hlavtox commented on #26660
@SharakPL @khouloudbelguith Will be fixed with https://github.com/PrestaShop/PrestaShop/pull/26663

[2021-11-18 09:50] maofree commented on #9809
Hi @jolelievre
can you show me the extra buttons when I set the new experimental option?
I cannot see them in the product page

[2021-11-18 10:17] khouloudbelguith commented on #26661
Hi @TheEnglishGartner,

I did not manage to reproduce the issue with PS1781 fresh install and with PS1781 after an upgrade from PS1778.
I attached a screen record
[video5.zip](https://github.com/PrestaShop/PrestaShop/files/7561947/video5.zip)

Thanks to check and feedback.

[2021-11-18 10:26] TheEnglishGartner commented on #26661
Dear khouloudbelguith,
Thank you for the great video documentation. Maybe I should give it a go to upgrade the the 1.7.8.1 version and see the outcome of this.

Best,

DEGS

[2021-11-18 11:06] iqit-commerce opened #26666 "Logo should not be lazyloaded"
### Prerequisites
Related to #25853
- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Logo image file si

[2021-11-18 11:12] Hlavtox opened #26667 "Refactor KPI bar"
### Is your feature request related to a problem?

KPI code is full of errors, unneeded code and difficult to debug.

![KPI](https://user-images.githubusercontent.com/6097524/142404774-10ed493f-686c-4aa4-b725-68effd5f0779.JPG)

### Describe the solution you'd like

It needs to be refactored.

[2021-11-18 11:16] khouloudbelguith commented on #26659
@evoratec,

I did not manage to reproduce the issue with PS1781.
https://watch.screencastify.com/v/SPdsU4XeAH5C5FVjwYp2
Your ticket is a duplicate of #26028
So, I close it.
Thanks !

[2021-11-18 11:16] #26659 closed, assigned to nobody

[2021-11-18 11:16] khouloudbelguith commented on #26659
Duplicate of #26028

[2021-11-18 11:21] khouloudbelguith commented on #26661
@TheEnglishGartner,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2021-11-18 11:21] #26661 closed, assigned to nobody

[2021-11-18 11:24] SharakPL commented on #26660
Thank you @Hlavtox  :)

[2021-11-18 11:27] khouloudbelguith commented on #26543
Hi @xtofl, @przemokon, @gs2k84,

Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation, and clear the cache.
Also, try to open your shop in an incognito browser.
You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

Thanks to check and feedback.

[2021-11-18 11:34] ikkiedikkie commented on #17317
Hello @mamastudios did you solved this issue,
we want to have the same result for our combinations, 1 main image and sho all other images.
you select in combination the main image that needs to show first and then list all the images

lett me know
thanks

[2021-11-18 11:40] gs2k84 commented on #26543
I did as you wrote and it did not work.

The description still when editing the product appears for half a second and disappears.

However, copying tiny_mce from version 1.7.7.7 helped
Everything works now.

[2021-11-18 11:46] przemokon commented on #26543
Hi @khouloudbelguith, in my case that was helpful.
After logging into incognito mode tinymce starts working properly.

Thanks

[2021-11-18 11:49] gs2k84 opened #26668 "You've cleaned prestashop 1.7.8.x and the version after upgrading from 1.7.7.7 to a different look"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I noticed that a clean prestashop 1

[2021-11-18 11:49] khouloudbelguith commented on #26543
@gs2k84, I did not manage to reproduce the issue after an upgrade from PS1778 to PS1781 using the 1-click upgrade v4.13.0.
I attached a screen record
https://watch.screencastify.com/v/4fcqMPLVodx83dTMgbjt

@przemokon, Great :slightly_smiling_face:

Thank you all!

[2021-11-18 11:52] khouloudbelguith commented on #26668
Hi @gs2k84,

It is a browser cache issue.
Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.

Also, try to open your shop in an incognito browser.
You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.
Thanks to check and feedback.

[2021-11-18 11:54] khouloudbelguith commented on #26660
@SharakPL, we can close this issue when the PR is merged.
I will re-open the ticket.

Thanks!

[2021-11-18 12:05] khouloudbelguith commented on #26666
Hi @iqit-commerce,

Thanks for your report.
I manage to reproduce the issue with PS1780, PS1781 and develop branch.
It is a regression.
![image](https://user-images.githubusercontent.com/16067358/142411956-26678a5d-7f27-40fb-9e81-32e58b8680bd.png)
It is ok with PS1778 and PS1769
![image](https://user-images.githubusercontent.com/16067358/142411994-16e58155-6243-46d7-96a5-80802ec4035c.png)

Related

[2021-11-18 12:06] gs2k84 commented on #26668
Cool. It helped :)

Thank you for your help :)

[2021-11-18 12:08] gs2k84 commented on #26543
After resetting the cache directly at your hosting provider, incognito mode works. It still needs to fix the operation on the standard version of the browser tab.

[2021-11-18 12:12] khouloudbelguith commented on #26471
Hi  @krekken,

Sorry for the delay.
I manage to reproduce the issue with PS1781 using your module
![image](https://user-images.githubusercontent.com/16067358/142413017-35ee9091-f0e3-4067-bccf-2bb32918c89f.png)
With PS1778, I have this
![image](https://user-images.githubusercontent.com/16067358/142413114-5a05b3f8-2186-4e31-85b6-9952b5413880.png)

Following this [comment](https://github.com/PrestaSh

[2021-11-18 12:17] khouloudbelguith commented on #26667
Hi @Hlavtox,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feat

[2021-11-18 12:22] khouloudbelguith commented on #26543
Thank you for your feedback.
As it is a cache browser.
I will close the issue, feel free to create a new issue when needed.

Thanks!

[2021-11-18 12:22] #26543 closed, assigned to nobody

[2021-11-18 12:23] khouloudbelguith commented on #26668
@gs2k84, great.
I will close the issue, feel free to open a new one when needed.

Thanks!

[2021-11-18 12:23] #26668 closed, assigned to nobody

[2021-11-18 12:54] SharakPL commented on #26660
I'll remember that :) Sorry @khouloudbelguith

[2021-11-18 13:27] khouloudbelguith commented on #26648
Hi @thelastyearX,

I did not manage to reproduce the issue with PS1781 after an upgrade from PS1.7.7.3.
I attached a screen record
https://watch.screencastify.com/v/1uRgdwZnl95DPmgiBQzF

Thanks to check and feedback.

[2021-11-18 13:38] prestascott commented on #25313
What happens when you click on the "Sort" button and the "Filter" button? @Hlavtox

[2021-11-18 13:40] Hlavtox commented on #25313
@prestascott It should open a collapse with filters. Or we can just keep them displayed, but I wanted the users to see the data first.

[2021-11-18 13:43] florine2623 commented on #26610
Hello @zuk3975 ,

I rebuilt the assets and couldn't reproduce my issue ! The Default Supplier column is now always displayed : **OK**

With these steps, I do have an error :
- Edit a product with combination using Experimental Features option
- Go to Combinations tab > Edit one combination
- Select a "Supplier associated with this product" > Save
- Updated Successful is displayed when the Supplier

[2021-11-18 13:47] jolelievre commented on #9809
Hi @maofree and @lim3ra

Here is a short video that shows how to:
- enable the experimental feature
- access the experimental page from the "legacy page"
- quick display of the combinations generation and filtering in the experimental page

https://watch.screencastify.com/v/XkmPfNZymH8ToENFQkJf

So the new page is more optimized for products with a big number of combinations. However, we didn't te

[2021-11-18 13:51] khouloudbelguith commented on #26641
Hi @SharakPL,

I manage to reproduce the issue with PS1769, PS1778 and develop branch.
I have the issue on the Product page
![image](https://user-images.githubusercontent.com/16067358/142427491-9a4cb32f-2efa-4174-b24f-4b74298535b4.png)
I have the issue on the Shopping cart page
![image](https://user-images.githubusercontent.com/16067358/142427571-ddbe091a-deed-48be-bcf4-f1754cf4a019.png)

I'll add

[2021-11-18 13:54] prestascott commented on #25313
Can you provide us screenshots so we can see please?

[2021-11-18 14:21] atomiix commented on #26471
Hey @khouloudbelguith I think this is a bug in the core!

[2021-11-18 14:23] khouloudbelguith commented on #26568
Hi @pppplus,

I did not manage to reproduce the issue with PS1781
![image](https://user-images.githubusercontent.com/16067358/142432946-517b1fbc-3d1e-4acd-82e2-02f761265dea.png)
**BO**
![image](https://user-images.githubusercontent.com/16067358/142433054-e772887c-6355-40fc-8b38-3532bdca6b28.png)

Despite our several trials, we could not reproduce your issue with the provided information.
It seems

[2021-11-18 14:27] atomiix commented on #26559
Hey @hibatallahAouadni I agree with @Olimbot, hiding errors is not the solution, we should fix this ;)

[2021-11-18 14:39] pppplus commented on #26568
Hi
Try with
error_reporting = E_ALL & ~E_DEPRECATED & ~E_STRICT
instead of
error_reporting = E_ALL & ~E_NOTICE & ~E_DEPRECATED & ~E_STRICT

You will see small errors, as explained before.

[2021-11-18 14:44] hibatallahAouadni commented on #26559
Well then, changing the issue's status to Ready :wink:
Thanks @atomiix :pray:

[2021-11-18 14:58] khouloudbelguith commented on #26647
Hi @BenTen,

I manage to reproduce the issue with PS1769 and PS1781.
If I add a product to an old order:
1. The order total is not updated
2. The invoice total is not updated
3. The Weight of a carrier is not updated

https://watch.screencastify.com/v/nJPAXbOu40UNlgMdslfq
I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bu

[2021-11-18 15:08] khouloudbelguith commented on #26012
@NoZTurn, thanks for your reply.
Can you confirm that this ticket is similar to this issue: #16070?
Can we close this issue as a duplicate?

Thanks!

[2021-11-18 15:08] prestascott commented on #25313
Here is my proposition:
- I added the search field so users can still type what they want they are looking for
- "Sort by" and "Filter by" buttons are smaller so we can save some space
- When users click the "Filter by" button, it opens a page where they can manage filters
- Labels have been added because it's more clear, only the text isn't really understandable (cf. "No" for "New client"). It ne

[2021-11-18 15:08] khouloudbelguith commented on #26471
@atomiix, thank you!

[2021-11-18 15:16] Hlavtox commented on #25313
@prestascott Very nice, lets go!

Will need some help from @NeOMakinG though 🙏😎

[2021-11-18 15:20] marionf commented on #25990
Yes, it's trivial

[2021-11-18 15:32] sonosergio commented on #14967
The problem is inside template
remove every {block ...} {/block} (only smarty code) from /themes/warehouse/templates/catalog/_partials/miniatures/_partials/product-miniature-thumb.tpl and works

[2021-11-18 15:39] khouloudbelguith commented on #26574
Hi @jameshellfire,

I tried with PS1781.
But, I have a different Net profit
![image](https://user-images.githubusercontent.com/16067358/142446934-ef1f509e-7e78-48d2-bb18-17d537debd6a.png)
I attached a screen record
https://watch.screencastify.com/v/tdum6h1sFUeXiypjjJDu

Thanks to check and feedback.

[2021-11-18 15:50] khouloudbelguith commented on #26619
Hi @masiorama,

Thanks for your feedback.
We could not reproduce your issue with the provided information.
It will help us if you can attach a screen record.

Thank you!

[2021-11-18 17:17] alejoasotelo commented on #19906
someone fixed this?

[2021-11-18 17:39] prestascott commented on #25313
Okay, there are some mockups to finalize on our side such as the Sort by behaviors.
I will upload them in the comments next week!

[2021-11-18 18:22] josedgal opened #26670 "No payment step or order resume in the checkout in PS 1.7.8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In my website https://www.xn--fullu

[2021-11-18 18:29] ocio87 opened #26671 "Payment error with currency without two decimal places 1.7.8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It is identified that with the Colo

[2021-11-18 18:50] ocio87 commented on #26670
Cómo estás, por lo que veo, el error es del tema que tienes, al parecer no es compatible con la versión 1.7.8.1, también soy de Colombia que también encontré un Bug y es que cuando se completa la orden arroja error en el método de pago, al parecer no deja terminar correctamente el pago si la moneda no tiene dos decimas.  Cosa que no pasaba con la versión 1.7.7.x.

![image](https://user-images.gith

[2021-11-18 18:54] ocio87 commented on #26670
Mira también si borrando el contenido que hay dentro de la carpeta var/cache se te corrige.  No borrar la carpeta cache, solo lo que hay adentro de ella.

![image](https://user-images.githubusercontent.com/12537826/142478644-a6f860bd-9087-4cc6-bae4-7860d35cf2ef.png)

[2021-11-18 19:03] ocio87 commented on #26671
It happens with both the default Theme and the custom one.

[2021-11-18 19:08] josedgal commented on #26670
Gracias por tu respuesta, he probado agregando los decimales, pero no funciono, creo que es algo más del core de prestashop, ya que no muestra las alertas o mensajes.

[2021-11-18 19:08] josedgal commented on #26670
Tambien intente lo del cache, pero no funciono tampoco.

[2021-11-18 19:15] josedgal commented on #26670
Tambien he cambiado al default theme the prestashop y no lo muestra, no se a que se debe. Es muy raro.

[2021-11-18 19:16] ocio87 commented on #26670
Prueba cambiando a php 7.3 y 7.2, si no a esperar que más te dicen, ese error si no lo tengo con esa versión.

![image](https://user-images.githubusercontent.com/12537826/142481361-59c395d9-f32a-46be-a750-0ad3dfd9126e.png)

La otra es borrar las cookies del sitio que de pronto tiene cookies de la anterior versión:

![image](https://user-images.githubusercontent.com/12537826/142481839-b027583d-fa32

[2021-11-18 19:25] ocio87 commented on #26670
Tampoco está dejando seleccionar iniciar sesión desde el carrito en tu página.

https://drive.google.com/file/d/1Dg4k9IFNEBJNDvRgXuXnagSl3ufXt3uS/view

[2021-11-18 19:29] josedgal commented on #26670
Por eso creo que es algo más de fondo, como algun archivo que falte.

No se si exista alguna forma de recargar todos los archivos originales y
solo poner el tema, no importa si debo crearlo de nuevo, mientras no me
toque cargar los productos o pedidos.

Cordialmente

El jue, 18 nov 2021 a las 13:54, ocio87 ***@***.***>)
escribió:

--
*José Galvis*
Especialista en Marketing DigitalBBD Estudio Creat

[2021-11-18 19:56] ocio87 commented on #26670
@josedgal Acá pensando, veo por ejemplo que cuando actualicé, no se actualziaron los módulos como por ejemplo la de lista de enlaces.  Ya verificaste que todos los módulos si se hayan actualizado?

Disculpe por no hacer más

[2021-11-18 20:04] ocio87 commented on #26670
Yo actualicé prestashop con la siguiente configuración con el módulo actualizado de 1-Click Upgrade

![image](https://user-images.githubusercontent.com/12537826/142488499-dfd9fb50-24c9-4ca4-8265-54107305c537.png)

Después de eso volví ha dejar que se ejecute los Override:

![image](https://user-images.githubusercontent.com/12537826/142488655-b9da0a85-0623-4c30-8076-70b7b41b20f2.png)

Todo debe que

[2021-11-18 20:35] Jtrev94 commented on #9815
Hello,

I suggest to increase severity for this issue. Affects directly in payment modules and how much the customer needs to pay in his order. I've been testing in 1.7.8.0 and the problem presists (even in the demo).

[2021-11-18 21:17] ocio87 commented on #26671
When it is left without decimals, in ordered orders it shows that there is no money to be paid, however the values are the same.

![image](https://user-images.githubusercontent.com/12537826/142498021-dae68abb-bdf1-4195-80d2-7e125013bf20.png)

[2021-11-19 07:47] zorrobiwan opened #26674 "Translations server is broken"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When opening translations tab, got

[2021-11-19 08:16] khouloudbelguith commented on #26674
Hi @zorrobiwan,

Thank you for your report.
The problem is fixed
![image](https://user-images.githubusercontent.com/16067358/142588711-51d7d412-abf9-4b23-a75b-a9baa499c9ab.png)
http://i18n.prestashop.com/translations/1.7.8.1/available_languages.json is available now.

Thanks!

[2021-11-19 08:16] #26674 closed, assigned to nobody

[2021-11-19 08:20] zorrobiwan commented on #26674
Thx for the quick fix

[2021-11-19 08:38] khouloudbelguith commented on #26670
Hi @ocio87,

I did not manage to reproduce the issue with PS1781.
I attached a screen record
https://watch.screencastify.com/v/w3CsUbp5mCWEE2CZ5tvK
I tried to use two different themes => ok
I installed a Paypal module => ok
Also, I used a currency with decimal = 0
![image](https://user-images.githubusercontent.com/16067358/142591864-47d1bade-99df-42f2-be8c-ab140490b0e7.png)

As it's not the defaul

[2021-11-19 08:43] thelastyearX commented on #26648
Hi! thanks for your response.
Here my error upgrade
https://www.loom.com/share/dee29c842d264377850c84b78d61afbe

[2021-11-19 08:47] khouloudbelguith commented on #26671
Hi @ocio87,
I did not manage to reproduce the issue with PS1781.
I used different payment methods.
I attached a screen record
https://watch.screencastify.com/v/f4W96N4yOsrwC9EcAeM3
![image](https://user-images.githubusercontent.com/16067358/142593244-ff2061ee-5cb8-4d51-acfa-ba36203313f6.png)

what is the exact payment method did you use?

Thanks!

[2021-11-19 09:06] ocio87 commented on #26671
Please try with units of thousands and Colombian currency

[2021-11-19 09:08] Maofree opened #26675 "Error in the edit combination of "new experimental product page" editing a combination value 1.7.8.1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
I've found a bug testing the new

[2021-11-19 09:10] maofree commented on #9809
thanks @jolelievre
understood how to find it

I've found a bug on the new combination tab pushing on the pencil icon

https://github.com/PrestaShop/PrestaShop/issues/26675

bye

[2021-11-19 09:16] jf-viguier opened #26676 "SEO - Product url should be without attribute combination id everywhere to match canonical url"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In category page, a product with an

[2021-11-19 09:19] NeOMakinG commented on #26676
@PrestaShop/product-team this is a hard SEO mistake, it should be changed asap!

[2021-11-19 09:23] NeOMakinG commented on #25313
I'm up to help you @Hlavtox but can we try to finish the availability component before? Let's speak about it on slack!

[2021-11-19 09:26] NoZTurn commented on #26012
@khouloudbelguith , hello, thanks for you attention, this ticket is similiar to that issue, but to say duplicate is not so acurate, this issue is some more info to explain the issue https://github.com/PrestaShop/PrestaShop/issues/16070, and also gives an solution.

[2021-11-19 10:00] khouloudbelguith commented on #26675
Hi @maofree,

I did not manage to reproduce the issue with PS1781.
I attached a screen record
https://watch.screencastify.com/v/8U46zcKOi1e7VCv24BDQ

Thanks to check and feedback.

[2021-11-19 10:06] maofree commented on #26675
ok but show this error to a developer to check that code to be sure that there are not errors

with the standard mode, all is ok without errors, so I think that code can be improve. the demo data is basic

[2021-11-19 10:08] khouloudbelguith commented on #26676
Hi @jf-viguier,

I think your issue is similar to this ticket: https://github.com/PrestaShop/ps_rssfeed/issues/5#issuecomment-607298130
Is it?

Thanks!

[2021-11-19 10:13] NeOMakinG commented on #26676
I think it's related yes, that would probably fix both!

[2021-11-19 10:17] khouloudbelguith commented on #26676
@NeOMakinG, removing `id_product_attribute` from the URL was an old request.
@jf-viguier, can we change this issue from a bug to a feature?

What do you think?

Thanks!

[2021-11-19 10:45] Shark34 opened #26677 "No GDPR Consent log for ps_emailsalert"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is **no** Consent LOG for ps_

[2021-11-19 10:50] Shark34 opened #26678 "No GDPR Consent log for productcomments"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is **no** Consent LOG for pro

[2021-11-19 10:51] khouloudbelguith commented on #26648
Hi @thelastyearX,

could you please provide me with the log file?
You can find it in the path: `/Prestashop_folder/admin-folder/autoupgrade/tmp/log.txt.`

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers sugge

[2021-11-19 10:55] Hlavtox commented on #26676
@jf-viguier @NeOMakinG

- Guys, what happens if you use the color boxes in product listing, does the URL change? Does the URL take you to the specific combination?
- If you filter out products by color in combination, does to default combination get preselected and URL changed?

Investigate all of that before removing the parameters from the URL.

BTW: I think it's not a problem because it's an an

[2021-11-19 10:57] thelastyearX commented on #26648
http://dokapi2021.com.mialias.net/phppsinfo.php

[2021-11-19 11:00] thelastyearX commented on #26648
[2021-11-19 11:59:27] Starting upgrade...
[2021-11-19 11:59:27] Shop deactivated. Now downloading... (this can take a while)
[2021-11-19 11:59:27] Downloaded archive will come from https://download.prestashop.com/download/releases/prestashop_1.7.8.1.zip
[2021-11-19 11:59:27] MD5 hash will be checked against eeda0d1b57447dbe79b58e1f2c3c8a36
[2021-11-19 11:59:27] Downloading from https://download.pr

[2021-11-19 11:00] jf-viguier commented on #26676
@khouloudbelguith no it's an SEO  bug IMO.
@Hlavtox
1) Color boxes have they own url
2) It should yes but actually it's not the like that : the default combination is there in the url after filtering : please open another issue for that.
I agree for the anchor and google but the id is in the url "1-1" :
https://demo.prestashop.com/en/men/1-1-hummingbird-printed-t-shirt.html

[2021-11-19 11:25] khouloudbelguith commented on #26671
@ocio87, I tried with Colombian currency and it is ok :heavy_check_mark:
https://watch.screencastify.com/v/uzttVqH6sppk0oRMfiPK

Thanks to check and feedback.

[2021-11-19 11:35] khouloudbelguith commented on #26675
@maofree, could you please provide me a screenshot of the Edit combination page product V1.
I tried with a new product > I edited a combination with all data set => ok
I edit a combination just generated => ok

Have you any custom modules related to the combinations?

Thanks!

[2021-11-19 11:46] maofree commented on #26675
in the first step there was an error on english language with too much text into the short description, fixed it I get this error

![6](https://user-images.githubusercontent.com/653230/142617070-1fd84654-b530-47cf-b92b-b2b55cf1353b.png)

but now the combination popup is without an error
I tried to add again some text in the short description from the DB, but now I can see the combination form

the

[2021-11-19 11:58] khouloudbelguith commented on #26677
Hi @Shark34,

I  manage to reproduce the issue with PS1769 and PS1.7.8.1 using the Mail alerts v2.3.0 and Official GDPR compliance v1.2.1.
https://watch.screencastify.com/v/5CDKSU4OapfTswNfSn5U
I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to yo

[2021-11-19 12:01] khouloudbelguith commented on #26678
Hi @Shark34,

I tried with PS1769 and PS1781.
But I don't have any check when adding a comment.
I attached a screen record
https://watch.screencastify.com/v/8SsapdJ9rV5CZJ0cwd4A
Thanks to check and feedback.

[2021-11-19 12:06] khouloudbelguith commented on #26675
@maofree, could you please check this issue: https://github.com/PrestaShop/PrestaShop/issues/26610 but only reproduced with develop
Also this issue: https://github.com/PrestaShop/PrestaShop/issues/25905
and this ticket: https://github.com/PrestaShop/PrestaShop/issues/25589

Thanks!

[2021-11-19 12:17] maofree commented on #26675
![2](https://user-images.githubusercontent.com/653230/142621304-d4b48a5a-cdb6-4688-8d0d-845f91870bce.png)

I reproduce the error of #26610  if I save from the popup of a combination
instead if I save from the main button I get the other error

it happens only with products with combinations

[2021-11-19 12:20] Shark34 commented on #26678
Hi @khouloudbelguith

Thanks for reply ! For the missing checkbox - it's a knowing issue who can be fixed by https://github.com/PrestaShop/productcomments/pull/114/files

[2021-11-19 12:47] arafatx commented on #26645
@hibatallahAouadni Please wait, I'm inspecting this issue further and I'll let you know.

[2021-11-19 12:48] diksha-cedcoss opened #26679 "Front Product View - Product Details Section"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

First of all, I would like to say i

[2021-11-19 12:57] ocio87 commented on #26671
Hello,

Thanks for your time. Two things.

I was wrong, it is not with cash but with bank transfer (Bank Wire).

And second, look at what you saw in the video payment error in the order status.

[2021-11-19 12:58] arafatx commented on #26595
Hai @hibatallahAouadni , I want to make a clarification here that the original of this issue is not related to Prestashop Metrics, because this also happens with the other addons Prestashop Facebook. Even though this issue does seems like it is related to the addons but I believe it is more related to the native module of **ps_accounts**.  This bug also mentioned in here and it has workaround by u

[2021-11-19 13:11] khouloudbelguith commented on #26648
@iheanyi1,

![image](https://user-images.githubusercontent.com/16067358/142627682-3753b5b2-503a-4f11-a899-7f2c5d8b586e.png)

About the log file, the autoupgrade is just stopped when copying files.
It could be an issue with permissions or a problem on your server related to Memory limit or Max execution time.

Could you please check with your host and feedback.

[2021-11-19 13:16] thelastyearX commented on #26648
the server is not possible

Usuario:
dokapi923
Contraseña:
bTnvHCqK

[2021-11-19 13:18] khouloudbelguith commented on #26675
@maofree,

Did you use develop branch or PS1.7.8.1.
In my case, I reproduce the issue only with develop.

You need to close the Edit combination module to save, is it?

Thanks!

[2021-11-19 13:23] maofree commented on #26675
I'm using the 1.7.8.1 stable

I've no problems to save the combination from the popup (the second error appears from the poup but I can save from it)

this error appears when I push on the main "save" button

`An unexpected error occurred. [PrestaShop\PrestaShop\Core\Domain\Product\Exception\InvalidProductTypeException code 50]: Product #1 has combinations. Use PrestaShop\PrestaShop\Adapter\Produc

[2021-11-19 13:30] indusone opened #26680 "Invalid email address when loading modules page in debug mode presta 1.7.8"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Error: invalid e-mail address when

[2021-11-19 13:32] khouloudbelguith commented on #26679
Hi @diksha-cedcoss,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement th

[2021-11-19 13:41] #25030 closed, assigned to nobody

[2021-11-19 14:05] khouloudbelguith commented on #26680
Hi @indusone,

I did not manage to reproduce the issue with PS1781 after an upgrade from PS1778 using the 1-click upgrade v4.13.0.
I attached a screen record
https://watch.screencastify.com/v/u3wks2Dz6sP3EzBP975e
Thanks to check and feedback.

[2021-11-19 14:16] ocio87 commented on #26671
I did the test with the same product changing the price, one exceeding a thousand pesos and the other did not exceed a thousand pesos.

In the one that exceeds one thousand pesos, it shows a payment error and the one that does not exceed one thousand pesos is left with a successful order pending payment.

https://drive.google.com/file/d/1EU83A8ip7Dv4N-YlzuNG_F0OhC0p-CEr/view

All problems disappea

[2021-11-19 14:17] khouloudbelguith commented on #26675
@maofree,

It will help us if you can attach a screen record.
With PS1781, I have only those issues: #25905 & #25589

Thanks

[2021-11-19 14:17] khouloudbelguith commented on #26645
@arafatx, thanks!
Waiting for your feedback.

[2021-11-19 14:23] josedgal commented on #26670
Hi @khouloudbelguith,

I put the default theme, but the issue still happening, I don't know if there is something with the .tpl file or any hook that is not working.

<img width="916" alt="Captura de Pantalla 2021-11-19 a la(s) 9 22 50 a  m" src="https://user-images.githubusercontent.com/43620009/142638053-03b8a52f-8bf1-4f8e-a332-b9aa59962747.png">

[2021-11-19 15:14] mark-app opened #26684 "Backoffice load PDf error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After upgrading to PrestaShop 1.7.8

[2021-11-19 15:16] mark-app commented on #26684
<img width="1150" alt="Schermafbeelding 2021-11-19 om 16 15 05" src="https://user-images.githubusercontent.com/6554157/142646267-43fc2622-9571-4ba1-811f-a8ae5f044243.png">

[2021-11-19 15:23] khouloudbelguith commented on #26671
@ocio87, the only way to reproduce the issue:
1. Install 1781 / 1780
2. Install the module COD
3. add the currency DZD or Colombian currency ( units of thousands)
4. Change precision of the currency to 0
5. Create an order from FO with COD
6. In the BO > Order > the status of the order is payment error

I manage to reproduce the issue with PS1780 / PS1781 using COD only

It is ok with PS1778 and 1

[2021-11-19 15:27] khouloudbelguith commented on #26670
@ocio87, do you have any custom payment modules?
What is the list of payment modules?

Thanks!

[2021-11-19 15:28] maofree commented on #26675
I tested again right now, at this time all was ok without any error
I've also cleaned the cache, now I cannot reproduce the previous errors

maybe i deleted all the html code that was in the long description. perhaps there are problems in the case of descriptions with very detailed html code

[2021-11-19 15:35] khouloudbelguith commented on #26678
@Shark34, thanks for your feedback.
I manage to reproduce the issue with PS1769 and PS1781.
https://watch.screencastify.com/v/t6r32wSZGCaxGnYFsPG3
I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the

[2021-11-19 15:38] khouloudbelguith commented on #26012
@NoZTurn, Can I close this issue as a duplicate of #16070 and I will update the other issue with your first comment.
Because it is the same issue.
Thanks!

[2021-11-19 15:43] ocio87 commented on #26671
I make some changes in the step by step

Install 1781 / 1780
Install the module ps_wirepayment
![image](https://user-images.githubusercontent.com/12537826/142649759-541b2c14-17f2-4d06-813a-1f31f55654a1.png)
add the currency DZD or Colombian currency (COP) ( units of thousands)
Change precision of the currency to 0
![image](https://user-images.githubusercontent.com/12537826/142650024-853fd2e4-e599-

[2021-11-19 16:02] khouloudbelguith commented on #26676
@Hlavtox,

It is the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/15164.

@jf-viguier, can you check: https://github.com/PrestaShop/PrestaShop/pull/9456

Thanks!

[2021-11-19 16:07] ocio87 commented on #26670
Hello, the error is from @josedgal I was helping him with the error.

[2021-11-19 16:08] khouloudbelguith commented on #26684
Hi @mark-app,

I did not manage to reproduce the issue with PS1781 after an upgrade from PS1778.
I attached a screen record
https://watch.screencastify.com/v/hitnHJqwUN5E117tO087

Thanks to check and feedback.

[2021-11-19 16:14] khouloudbelguith commented on #26670
@ocio87, @josedgal, sorry I update my comment.

Thanks!

[2021-11-19 16:16] khouloudbelguith commented on #26675
@maofree, can we close this issue?

THanks!

[2021-11-19 16:19] maofree commented on #26675
yes

[2021-11-19 16:25] khouloudbelguith commented on #26671
@ocio87, sorry but using the ban wire module=> I have no issue.
I attached a screen record
https://watch.screencastify.com/v/AuRxLQlLPekaCi2rQNGf
Did I miss something?

Thanks!

[2021-11-19 16:28] thelastyearX commented on #26648
ok thanks, I try again

[2021-11-19 16:38] #26675 closed, assigned to nobody

[2021-11-19 16:45] josedgal commented on #26670
I just have one payment module, epayco. But the strange thing is that not
only the payment step is missing, the cart summary is not there either.

El vie, 19 nov 2021 a las 10:27, khouloudbelguith ***@***.***>)
escribió:

--
*José Galvis*
Especialista en Marketing DigitalBBD Estudio Creativo
M: +57 3202310545
T: +571 5161558
E: ***@***.***

www.estudiobbd.com [image: Facebook icon]
<https://www.fa

[2021-11-19 16:47] thelastyearX commented on #26648
Don't work!
http://dokapi2021.com.mialias.net/phppsinfo.php
The same error a full server

[2021-11-19 17:14] Hlavtox opened #26687 "All orders have 0 totals in customer detail"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-19 22:04] kpodemski commented on #26399
LGTM

[2021-11-19 22:56] rflorent opened #26692 "ActionGetProductPropertiesAfter missing on 1.7.7.4"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It's not really a bug, but I waste

[2021-11-20 01:20] anthonylecot opened #26693 "PS_checkout not working with website not being in full SSL"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When loading new ps_checkout versio

[2021-11-20 01:30] anthonylecot commented on #26693
I migrated my shop to SSL, seems fine now but could be worse looking at that

[2021-11-20 04:42] NoZTurn commented on #26012
@khouloudbelguith , OK, agree with you, thanks.

[2021-11-20 09:53] ahmedbdrn commented on #26671
@khouloudbelguith

Hello, I'm currently facing the same issue but like you said only with COD.

Can I please have the solution for this problem?

PS: 1.7.8.1
PHP: 7.4

Thank you!

[2021-11-20 10:12] masiorama commented on #26619
Hello @khouloudbelguith
A screencast of what precisely?
Thank you!

[2021-11-20 12:41] ocio87 commented on #26671
Hello @khouloudbelguith

 Apparently if it is a sectorized error, I would appreciate it if you can review it more thoroughly.

 The store is updated from 1.7.7.8 and I waited for this version because the same thing happened with 1.7.8.0.

 From my possibilities I will continue to review anyway.

[2021-11-21 11:30] indusone commented on #26680
Hi,
I can give my BO credentials if you wish to test it. Our setups are obviously different.  Another thread exists on this same issue.

[2021-11-21 11:33] DanSilva926 commented on #26332
in this new version, in some products it works correctly, in others it adds impact.

[2021-11-21 13:44] marwachelly opened #26694 "BO - Shipping - Toggle button of Add handling costs is not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Toggle button of Add handling costs

[2021-11-21 15:00] rytaf opened #26695 "SEO - Link Language and Currency"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-21 22:07] hibatallahAouadni commented on #26695
Hello @LordIndustry

What do you mean by that? Could you please provide screenshot or screen record 🙏
Please check and feedback.

Thanks!

[2021-11-21 22:15] hibatallahAouadni commented on #26687
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/), the teams will be happy to hel

[2021-11-22 06:54] #26187 closed, assigned to Progi1984

[2021-11-22 07:25] ewonta opened #26696 "An extra request to the database on the front of the ps_emailsubscription module site"
### Prerequisites

- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.
- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)

### Describe the bug and add screenshots

The ps_emailsubscription module cre

[2021-11-22 07:59] Multipage commented on #25394
@khouloudbelguith @florine2623
In the release notes it says:
`Search with semicolon gives no result. Search differs from earlier versions of find()`

Updated a shop..fix not present...downloaded the release in zip ...fix not present in zip file!

[2021-11-22 08:07] florine2623 commented on #26693
Hello @anthonylecot ,

If you have any issues with ps_checkout module, please contact the support directly through your BO.

Thanks!

[2021-11-22 08:07] #26693 closed, assigned to nobody

[2021-11-22 08:09] florine2623 commented on #26696
Hello @dmitrij1988 ,

Can you explain what step 2 represents ?
And what it should be instead ?

Thanks!

[2021-11-22 08:31] florine2623 commented on #26680
Hello @indusone ,

Regarding your system requirements, can you check if it matches with this : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Please check and feeback!
Thanks!

[2021-11-22 08:41] florine2623 commented on #26619
Hello @masiorama ,

A screen record where the info of your BO would show up when on the module ps_googleanalytics it is empty.

[2021-11-22 08:48] florine2623 commented on #26692
Hello @rflorent ,

In 1.7.7.4, /classes/Product.php, the hook is present ActionGetProductPropertiesAfter :
<img width="368" alt="Screenshot 2021-11-22 at 09 45 26" src="https://user-images.githubusercontent.com/16019289/142830201-2b1a5df1-ba62-4e93-9749-b0939703f6f9.png">

Are you trying to create an override ? If yes, you could share the piece of code so we can try on our end.
Thanks!

[2021-11-22 09:02] masiorama commented on #26619
Hello @florine2623,
I'm sorry but I don't understand what you are saying.
There is nothing wrong with the BO of Prestashop. The ps_googleanalytics if conrrectly configured with its tracking id, and the other settings you can see in the image attached.

![ps_analytics](https://user-images.githubusercontent.com/731916/142832218-c10582dd-5e6d-483d-9567-60f7dca2ebd9.jpg)

With these configuration I ca

[2021-11-22 09:15] marionf commented on #26633
@prestascott Could you take a look at the suggestion of Hiba ?

[2021-11-22 10:08] HanaRebaiQA opened #26698 "BO - Subscription to the Newsletter failed when there is no customer"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When deleting the customer with the

[2021-11-22 10:29] NeOMakinG commented on #26642
@SharakPL do you want to fix these issues or should I take some?

[2021-11-22 10:30] SharakPL commented on #26642
Go ahead @NeOMakinG :)

[2021-11-22 10:32] SharakPL commented on #26642
I'd recommend moving buttons into seperate lines on mobile

[2021-11-22 10:40] NeOMakinG commented on #26642
@prestascott wdyt of the last comment of @SharakPL ?

[2021-11-22 10:55] matks commented on #26667
Hello @Hlavtox

- KPI code is full of errors

Well, obviously we'll be happy to review contributions which fix errors ✅

- unneeded code

KPI HTML markup is automatically generated by some php logic, so maybe this explains the over-engineered structure. So depending on the items, some might have to be kept ;)

- difficult to debug

This item needs to be explained a little bit more, what's hard to

[2021-11-22 11:01] Progi1984 commented on #19991
@okom3pom No, the installer has not a default value. We need to wait the answer of @PrestaShop/product-team on this feature.

[2021-11-22 11:13] Hlavtox commented on #26667
@matks No hard feelings for anything, just wanted to specify the problems. I went right away and refactored it in my PR. It has both clean code and common, generic, re-usable system. 😉

It's difficult to debug CSS, because there were a lot of unneeded divs and mistakes. You expect some things to behave some standardized way, but there is a lot of hacks everywere.

Imagine you are searching for an

[2021-11-22 11:36] hibatallahAouadni commented on #26012
Hello @NoZTurn

Thanks for your feedback!
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #16070.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-11-22 11:36] #26012 closed, assigned to nobody

[2021-11-22 11:36] hibatallahAouadni commented on #26012
Duplicate of #16070

[2021-11-22 11:42] indusone commented on #26680
[image: image.png]
*MySQL version:* 5.7.36-0ubuntu0.18.04.1

Here is my server information.

On Mon, Nov 22, 2021 at 2:02 PM florine2623 ***@***.***>
wrote:

[2021-11-22 11:44] hibatallahAouadni commented on #26670
Hello @josedgal

It seems that your issue is not a PrestaShop core bug.
You need to contact the module developer to check the issue.

We will close this issue.

Thanks!

[2021-11-22 11:44] #26670 closed, assigned to nobody

[2021-11-22 11:48] josedgal commented on #26670
Hi @hibatallahAouadni I know it has something to do with prestashop core code, because I have installed default payments as cash on delivery and put the default theme, but it still doesn't show the payment part.

[2021-11-22 11:52] hibatallahAouadni commented on #26648
Hello @thelastyearX

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module or server configuration problem.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.co

[2021-11-22 11:52] #26648 closed, assigned to nobody

[2021-11-22 13:14] dmitrij1988 commented on #26696
PROFILING of the main page, SQL queries are displayed there, and in the first screenshot, the query should be executed only in the admin panel in the module setup, but it is also performed on the front of the online store.

This request should be executed only in the admin panel in the module settings, any version of the module.

[2021-11-22 13:22] Hlavtox commented on #26633
@hibatallahAouadni Let's fix it together with this

https://github.com/PrestaShop/PrestaShop/issues/25198

[2021-11-22 13:29] Hlavtox commented on #23085
@NeOMakinG @hibatallahAouadni Already done in theme-refacto

[2021-11-22 13:29] #23085 closed, assigned to nobody

[2021-11-22 13:30] rflorent commented on #26692
Hello @florine2623,

Do you try to use these hook on a custom module ?

I have already seen that piece of code, but there no hook 'actionGetProductPropertiersAfter' in the database, so nothing is called at all. I've added the hook in the hook table and it work's now. Seems not normal.

Thanks

[2021-11-22 13:44] 01park opened #26701 "Google sitemap 4.2 does not work correct with Multistore 1.7.8. - only main language is being created"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When upgrading to 4.2 Google sitema

[2021-11-22 13:50] hibatallahAouadni commented on #26701
Hello @01park

Thanks for reporting the issue but you already report it here #20264
And it is already in our debug backlog. This issue is a duplicate of #20264.

Thanks!

[2021-11-22 13:50] #26701 closed, assigned to nobody

[2021-11-22 13:51] hibatallahAouadni commented on #26701
Duplicate of #20264

[2021-11-22 13:54] NeOMakinG commented on #23085
@Hlavtox shouldn't we do it on classic?

[2021-11-22 13:56] SA-Roger commented on #17317
this solution looks perfect. we would like to know how to apply this solution. Thanks!

[2021-11-22 14:04] NeOMakinG commented on #26557
@marwachelly should it be large on the product page as well? It's the same image used

[2021-11-22 14:16] hibatallahAouadni commented on #26692
Hello @rflorent

I didn't manage to reproduce the issue with PS1774 and PS1781, see the attached screenr record below:

https://watch.screencastify.com/v/itwKl2BohUaIh9celAFB

Please check and feedback.
Thanks!

[2021-11-22 14:18] 01park commented on #26701
Hi @hibatallahAouadni

The reason I reopened this, is because it never got fixed and was already closed.

The problem still remains after 2 years

[2021-11-22 14:24] #24999 closed, assigned to Hlavtox

[2021-11-22 14:40] Hlavtox commented on #26633
@hibatallahAouadni @marionf Fixed!

[2021-11-22 14:41] Hlavtox commented on #23085
Nah its dead

[2021-11-22 14:49] florine2623 opened #26705 "ps_crossselling - FO - products display is missing spaces"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In ps_crossselling module v2.0.1 wi

[2021-11-22 15:03] PrestaEdit commented on #25642
Fact is that the "Is in maintenance mode" doesn't need to be shown, in this specific user case.

As you are on local instance, there is no real need to enable a maintenance mode when you do an upgrade.

[2021-11-22 15:14] hibatallahAouadni commented on #23085
@Hlavtox could you please mention the PR that fix this issue in the new theme :pray:

[2021-11-22 15:15] hibatallahAouadni commented on #26633
Thanks for your PR :rocket:

[2021-11-22 15:31] Hlavtox commented on #23085
@hibatallahAouadni Integrated in https://github.com/PrestaShop/theme-refacto/pull/88

[2021-11-22 15:41] atomiix commented on #25642
I agree with @PrestaEdit, we could remove the line in case we are in local. It's quite useful to not have to put the shop in maintenance mode to test the autoupgrade process.

[2021-11-22 16:06] hibatallahAouadni commented on #20264
Hello @01park

The problem still remains after 2 years
Multishop users this is a critical to have right

I know you are very frustrated but we have a lot of critical issues :disappointed:
So if you could help us to fix it please create a Pull Request on https://github.com/PrestaShop/gsitemap :pray:

Thanks for understanding :pray:

[2021-11-22 16:26] Progi1984 commented on #26559
@hibatallahAouadni Isn't a regression if the behavior works in previous version and not in PHP 7.4/ PS 1780 ?

[2021-11-22 16:37] hibatallahAouadni commented on #26559
Hello @Progi1984

We didn't reproduce the issue neither with 1.7.7.8 nor 1.7.8.0.
But @Olimbot proposed to update webservice and for all schema and to check if the array is empty or not.
So, it's not a regression but an improvement :wink:

Thanks!

[2021-11-22 16:44] hibatallahAouadni commented on #26671
Hello @ocio87

I was able to reproduce the issue with PrestaShop version 1.7.8.0 and COD module. I’ll add this to the debug backlog so that it’s fixed. And it's a regression!

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we str

[2021-11-22 16:55] ocio87 commented on #26671
Hello,

Thank you @hibatallahAouadni

In the meantime I will continue to test other ways to update and confirm if I find a solution or the module that causes the error.

[2021-11-22 16:57] marionf commented on #25642
Thank you for your feedbacks, I just edited the "wanted behavior" part of the issue

[2021-11-22 16:58] hibatallahAouadni commented on #26619
Hello @masiorama

Thanks for your feedback :pray:
So, before upgrading the GoogleAnalytics module, it use to display all the data, but after the upgrade it doesn't show any data concern "Enhanced Ecommerce reports" - "Shopping Behavior Analysis". Is that so?
If so, what was your previous GoogleAnalytics version?
Please check and feedback.

Thanks!

[2021-11-22 17:03] weihan00ae opened #26707 "Blank Page After I moved my server files to locale"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I have this issue where I t

[2021-11-22 17:07] ahmedbdrn commented on #26671
Hello @hibatallahAouadni

Thank you for the update!

I've been trying to find a solution but haven't been able to, I guess I'll keep trying and will let you know if I figured it out.

[2021-11-22 17:51] ocio87 commented on #26671
@hibatallahAouadni

I have identified that the 1-Click Upgrade module does not do the process of updating modules from 1.7.7.8 to 1.7.8.1, it only updates core and database files, it does not show the remaining process of missing x modules to update .

How I configured the module before updating:

![image](https://user-images.githubusercontent.com/12537826/142909261-09e50194-c68f-49a8-baf1-5ec7c2c

[2021-11-22 17:59] MatShir commented on #17317
I see there is a lot of attraction to the issue. The first contribution was not accepted to the core since the contribution didn't include the possibility to have an option to activate and deactivate the feature. It can very defer between businesses.

So if you are interested to see the feature integrate into PrestaShop and be available at each upgrade and if you have the technical knowledge or fi

[2021-11-22 18:18] MatShir commented on #26679
@prestascott wondering how it is on the new theme ? 🤔

[2021-11-22 18:37] masiorama commented on #26619
Hi @hibatallahAouadni
Almost.
Below you can see what was tracked last time I got data (May 2020):

![funnel-may-2020](https://user-images.githubusercontent.com/731916/142916073-fb605387-2f21-42fe-90dd-e948ea696adb.jpg)

Here you can see the situation today:

![funnel-now](https://user-images.githubusercontent.com/731916/142916125-87c97365-05fe-4346-abbe-c6124675f93a.jpg)

Only the data "in the mid

[2021-11-22 19:26] josedgal commented on #26670
Hi @hibatallahAouadni

If you want I can put the deffault theme, so you can see that it doesn't have anything related to the theme.

Go to www.fulluñas.com
Add items to the cart
Go to the checkout

Here you can see the payment step is not showing at all.

[2021-11-22 19:37] Progi1984 commented on #26535
Fixed by @Hlavtox in #26607

[2021-11-22 19:37] #26535 closed, assigned to Hlavtox

[2021-11-22 20:09] jameshellfire commented on #26574
You have 0% tax?

czw., 18 lis 2021 o 16:39 khouloudbelguith ***@***.***>
napisał(a):

--

*PozdrawiamBest Regards*
*Jakub Górski*

[2021-11-22 20:17] jameshellfire commented on #26574
anyhow if a profit is minus value of delivery then ok, the problem is on
1.7.7.5 so maybe in newest version is counted ok.
Close it.
:)

pon., 22 lis 2021 o 21:09 Jakub Górski ***@***.***> napisał(a):

--

*PozdrawiamBest Regards*
*Jakub Górski*

[2021-11-22 23:45] alfonsolr09 opened #26709 "error when installing modules from "payment methods""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

https://www.awesomescreenshot.com/v

[2021-11-23 00:20] alfonsolr09 commented on #22729
I still have not managed to fix this problem. I think it arises when I modify a product that had already been used before

[2021-11-23 08:10] Progi1984 commented on #26666
Fixed in #26658 by @iqit-commerce

[2021-11-23 08:10] #26666 closed, assigned to iqit-commerce

[2021-11-23 08:13] florine2623 commented on #26709
Hello @alfonsolr09 ,

I can't reproduce your issue on PS 1.7.8.x.
Please see my screen record : https://watch.screencastify.com/v/BCG5jLlISHdt7j5EMKmK

Can you check if you have any error on the console ?
Thanks!

[2021-11-23 08:17] florine2623 commented on #26707
Hello @weihan00ae ,

Can you make sure the info on your file `app/config/parameters.php` is matching with your current installation ?

Thanks!

[2021-11-23 08:19] florine2623 commented on #26680
Could you answer directly via GitHub ? I don't see the content of your email.

[2021-11-23 08:21] weihan00ae commented on #26707
Hi @florine2623,

first of all thank you for answering! So I did some testing and I was wrong about the creation of an object. It actually creates the object and does everything.

Today I looked at xampp logs and in the error file I got this.

`[Tue Nov 23 09:15:10.059804 2021] [php7:error] [pid 10256:tid 1860] [client 127.0.0.1:61880] PHP Fatal error:  ModuleCore::main(): Failed opening required

[2021-11-23 08:21] yassir-khattab commented on #12300
When I try this on prestashop 1.7.7 in a new module created for prestashop, I put in AuthController.php (override) $this->errors[] = $this->trans('text 1', [], 'Shop.Notifications.Error') or $this->errors[] = $this->trans('text 1', [], 'Shop.newTest.Error') or $this->errors[] = $this->trans('text 1', [], 'Shop.new_test.Error') but i cant find it in BO after installing my module.
FI my module is na

[2021-11-23 08:28] yassir-khattab commented on #12300
When I try this on prestashop 1.7.7 in a new module created for prestashop, I put in AuthController.php (override) $this->errors[] = $this->trans('text 1', [], 'Shop.Notifications.Error') or $this->errors[] = $this->trans('text 1', [], 'Shop.newTest.Error') or $this->errors[] = $this->trans('text 1', [], 'Shop.new_test.Error') but i cant find it in BO after installing my module.
FI my module is na

[2021-11-23 08:31] Djangoum opened #26710 "Wrong product image displayed in order page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I see a diferent product image in o

[2021-11-23 08:32] florine2623 commented on #26707
It seems like there is an issue with the sociallogin module. In your file `sociallogin` becomes `_sociallogin`
Can you try to disable it ? and refresh your page to see if the error is still present ?

Thanks!

[2021-11-23 08:36] weihan00ae commented on #26707
YES! It worked! Thank you very much @florine2623!

[2021-11-23 08:42] khouloudbelguith commented on #26660
Hi @SharakPL, @Hlavtox,

After a discussion about this issue with @marionf.
We will change the issue template from a bug to a feature.

The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.p

[2021-11-23 09:08] florine2623 commented on #26707
Good news ! You are welcome ! :)

[2021-11-23 09:08] #26707 closed, assigned to nobody

[2021-11-23 09:19] SA-Roger commented on #17317
I found this possible solution from MarkALeonard, although it is applicable to the classic theme. in my case with the Warehouse themeI couldn't make it work:

https://github.com/PrestaShop/PrestaShop/pull/17943/files

[2021-11-23 09:35] florine2623 commented on #26710
Hello @Djangoum ,

I can't reproduce your issue on PS 1.7.8.1.
In my product page :
<img width="893" alt="Screenshot 2021-11-23 at 10 31 35" src="https://user-images.githubusercontent.com/16019289/143000681-49eb1242-14bb-43e6-940b-77f3be1e4957.png">
In my order :
<img width="793" alt="Screenshot 2021-11-23 at 10 32 47" src="https://user-images.githubusercontent.com/16019289/143000671-d6f6ca59-1081

[2021-11-23 09:54] florine2623 commented on #26442
Hello @clopeau ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-11-23 09:54] #26442 closed, assigned to nobody

[2021-11-23 09:56] yassir-khattab commented on #12300
When I try this on prestashop 1.7.7 in a new module created for prestashop, I put in AuthController.php (override) $this->errors[] = $this->trans('text 1', [], 'Shop.Notifications.Error') and $this->errors[] = $this->trans('text 1', [], 'Modules.Newtest.Error') and $this->errors[] = $this->trans('text 1', [], 'Modules.Newtest.Authcontroller.php') but i cant find it in BO after installing my module

[2021-11-23 10:13] khouloudbelguith opened #26712 "FO - Shopping cart page - The checkout button is disabled after adding a product the POPULAR PRODUCTS list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO > Shopping cart page > Th

[2021-11-23 10:22] khouloudbelguith opened #26713 "FO - Shopping cart page - an exception is displayed when the module ps_crossseliing is transplanted to the hook displayCrossSellingShoppingCart"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO - Shopping cart page - an

[2021-11-23 10:41] florine2623 commented on #26574
Thanks for the update.
I'll close this issue.

[2021-11-23 10:41] #26574 closed, assigned to nobody

[2021-11-23 10:50] Fukitsune commented on #21034
Hello,

Is it possible to display NoPAckPrice in backend / admin ? In the detailed product sheet ?

Sincerely

[2021-11-23 12:01] #26644 closed, assigned to SharakPL

[2021-11-23 14:13] Nukium commented on #15041
Hello, thank you @Hydrog3n this work for us.

We're able to reproduce the issue on PrestaShop 1.7.6.x fresh install like this :

1. Create a product with an integer price and with tax like this :
![2021-11-23_15h06_36](https://user-images.githubusercontent.com/35034/143038847-400716da-2af7-48a5-8d98-24aaea9be0a0.png)

2. Create 2 cart rules, one with a discount amount (tax included) and another wi

[2021-11-23 16:17] 8ternity commented on #16004
Update: I've install the latest version on my test server, still have the same issue into version 1.7.8.1. Wrong locales for French Canada 'fr' and 'fr-ca'.

![2021-11-23_11h15_26](https://user-images.githubusercontent.com/16780421/143062156-f1e5c961-2c21-401c-b4ca-ef72855d8d39.png)

[2021-11-23 16:48] rsoulard-prolaser commented on #26680
Hi @khouloudbelguith,
I have the same problem.

The PS_LOGS_EMAIL_RECEIVERS variable does not exist in the ps_configuration table before version 1.7.8.
The function sendByMail of PrestaShopLogger class send a mail with an empty email address.

[2021-11-23 16:51] lmeyer1 opened #26718 "Errors in output of Profiling mode"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The display of the profiling output

[2021-11-23 17:46] lorenzoactm commented on #9574
Hello,

is there a suggested hotfix for this?

Our store crashes with error 500 customer enters a gift with something like heart emoticon `<3`

In `classes/Validate.php` I've tried this as suggested in PR #26027

[code]

...but the problem is that this way if the gift message contains `<3` then it is erased completely without the customer knowing. Thanks

[2021-11-23 17:53] davidcylke opened #26719 "Back Office Customer - View timeout with lots of orders"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When customer has lots of orders (l

[2021-11-23 18:07] Hlavtox commented on #26719
Open src/Adapter/Customer/QueryHandler/GetCustomerForViewingHandler.php
Find private function getCustomerCarts and replace it with this one. Should be fast. :-)

[code]

[2021-11-23 18:13] davidcylke commented on #26719
@Hlavtox I saw your commit elsewhere. Could you help me remove recently viewed products and remove displayed carts?

[2021-11-23 21:59] jak78 opened #26720 "Unit tests fails"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'd like to make a contribution - p

[2021-11-23 23:44] alfonsolr09 commented on #26719
Wdyt about create a PR to solve this problem? 😊

[2021-11-23 23:49] alfonsolr09 opened #26722 "item quantity highlighted in an order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![image](https://user-images.github

[2021-11-24 07:30] Hlavtox commented on #26719
@alfonsolr09 @davidcylke It's already fixed when editing the customer, available in v8.

On listing, I improved it by 25% here - https://github.com/PrestaShop/PrestaShop/pull/26689, but still slow. The calculation of cart amount is what totally kills the performance. :( So when you remove it, the page is absolutely instant even with a looot of orders and carts.

- We can optimize the cart calculat

[2021-11-24 08:10] #26399 closed, assigned to mparvazi

[2021-11-24 09:36] rodrigorega commented on #26381
Any ETA for this fix? I am still unable to install Prestashop 1.7.8.1.

Thank you.

[2021-11-24 09:40] rsoulard-prolaser commented on #26680
Hi @indusone,

Open Logs page and add an email.

![logs](https://user-images.githubusercontent.com/78790947/143213502-76d9475c-abf0-468c-906e-c033879bca83.png)

[2021-11-24 09:43] hibatallahAouadni commented on #26718
Hello @lmeyer1

Did you encounter these errors with PS1778 or any older version?
Please check and feedback.

Thanks!

[2021-11-24 09:44] rsoulard-prolaser commented on #26402
Hi @hibatallahAouadni,

You have to be in debug mode (https://github.com/PrestaShop/PrestaShop/issues/26680).

[2021-11-24 09:59] lmeyer1 commented on #26718
Hello Hiba,
I didn't try in an older version, only 1.7.8.0. The PR will be ready soon.
I noticed the problem in FO, but Profiling mode can be enabled in both. Thus the problems certainly appear on any page when Profiling mode is enabled.

[2021-11-24 10:01] hibatallahAouadni commented on #26719
Hello @davidcylke

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #25683.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: And as always, Mr. @Hlavtox impresses us with his quick answers and solutions :superhero: Thanks :pray:

Thanks!

[2021-11-24 10:01] #26719 closed

[2021-11-24 10:01] hibatallahAouadni commented on #26719
Duplicate of #25683

[2021-11-24 10:12] 0dp opened #26725 "SEO & URLs - edit entry forgets initial page name"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you edit a page under SEO & UR

[2021-11-24 10:29] hibatallahAouadni commented on #26720
Hello @jak78

Which documentation you followed? Did you this https://github.com/PrestaShop/PrestaShop/tree/develop/tests/UI?
Please check and feedback.

Thanks!

[2021-11-24 10:37] yannicka opened #26726 "Wrong count of products on filters"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The product counter of the filters

[2021-11-24 10:57] khouloudbelguith opened #26728 "Pack - Decrement pack only & Decrement both - We can add to cart a pack more than the quantity available"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We have a pack with :
- In Shop par

[2021-11-24 11:02] hibatallahAouadni commented on #26402
Hello @partiid

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

PS: @rsoulard-prolaser did you check the attached screen record above, the debug mode is enabled and I didn't manage to reproduce the issue :disappointed: (thanks to mention that #26680 is a

[2021-11-24 11:02] #26402 closed, assigned to nobody

[2021-11-24 11:19] oscherler commented on #26274
– It’s a patch release;
– It even affects the default theme;
– There’s nothing easily findable about the changes required to themes, or even the requirement to update the default theme (https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/);
– It breaks checkout, which is the most important feature of the whole software.

If that’s not broken, then I haven’t written a bug in my lif

[2021-11-24 11:40] kmorgen commented on #11329
Unfortunately this problem never seem to have been fixed?

In Discount/Voucher section it is possible to set actual time - but never seem to have been fixed for Specific Prices in PS1.7.

Is there a quickfix for this, as it is very annoying during one-day offers like Black Friday, not beeing able to adjust this.

[2021-11-24 11:46] kmorgen commented on #19673
For some reason the Specific Prices have never got the time/hour settings back in PS 1.7

It is quite frustrating not beeing able to make one-day offers for Black Friday etc here anymore.

In voucher/discount settings the Time section works fine, so maybe there is a quickfix/mod to get it to work again in Specific Prices too?

![specific-prices-time](https://user-images.githubusercontent.com/43006

[2021-11-24 11:58] PrestaEdit commented on #26510
Something that we can make is to make a VueJS libary and keep the core cloned version, as this there is no issue with the core/changes and the library could manage ranges/versions as needed, surely.

It's maybe possible to get a 0.0.1 version (or something as it) with the actual VueJS components, on which the core could rely. It's an idea, not maybe the things todo, of course :)

[2021-11-24 12:00] PrestaShark commented on #11329
UP!

[2021-11-24 12:31] jolelievre commented on #20487
I'm gonna try and improve this, the idea I have I the following:
- during the dump creation (create-test-db command) we still export the whole DB in a single dump
- BUT in addition we dump EACH table in a dedicated dump file (product.dump.sql, attribute.dump.sql, ...)
- then in behat tests we had an action that allows to reset NOT the whole database BUT a single table
- what this action does is ju

[2021-11-24 12:32] Hlavtox commented on #26722
@alfonsolr09 That's 99% desired behavior and not a bug. And I think `{% if product.quantity > 0 %}` is always true no? :-)

[2021-11-24 12:36] Hlavtox commented on #18606
@hibatallahAouadni No time in 11 months :(

[2021-11-24 12:36] Hlavtox commented on #19650
@hibatallahAouadni No time in 10 months :(

[2021-11-24 12:37] Hlavtox commented on #20821
@MatShir Pls can I get a reply after a year if I should do it or not?

[2021-11-24 12:38] Progi1984 commented on #26635
Fixed by @mparvazi in #26691

[2021-11-24 12:38] #26635 closed, assigned to mparvazi

[2021-11-24 13:03] alfonsolr09 commented on #26722
I know, but i dont know why it is not remarked ...

[2021-11-24 13:08] Hlavtox commented on #26722
I think it was done so you see that you have more than 1 piece.

It happens, many times when customer orders more than 1 piece of product, people who pack orders just send 1 by mistake... 👍😄

[2021-11-24 13:49] ocio87 commented on #26671
Hello,

Continuing with the Bug I have found the following.

Clean installation of prestashop 1.7.8.1 was done.
Product creation was done and was successful
User creation and it was successful.
Order creation and it was successful.
Import of customers, currency, shipping and products from store 1.7.7.8 to the new store, 1.7.8.1, was made, order was placed and it was successful.

This next step is

[2021-11-24 13:51] HanaRebaiQA opened #26729 "BO - The total amount of Order is not updated until refresh the page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In Order page, when editing the qua

[2021-11-24 13:55] amaury-hanser opened #26730 "Adds a button on login page to unmask password field"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2021-11-24 14:28] hibatallahAouadni commented on #26726
Hello @yannicka

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #25819.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-11-24 14:28] #26726 closed, assigned to nobody

[2021-11-24 14:28] hibatallahAouadni commented on #26726
Duplicate of #25819

[2021-11-24 14:40] hibatallahAouadni commented on #26730
Hello @amaury-hanser

LOVE your idea :clap:
Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are

[2021-11-24 14:43] hibatallahAouadni commented on #26722
Hello @alfonsolr09

That's indeed the expected behavior (the same as PS1.7.6.7 and older versions).
Close the issue as it's not a bug.

Thanks!

[2021-11-24 14:43] #26722 closed, assigned to nobody

[2021-11-24 14:46] alfonsolr09 commented on #26722
why is it a desired behavior?

[2021-11-24 14:52] JoryHogeveen opened #26732 "CarrierModule::$definition undeclared"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Since 1.7.8.0 we get an error `Acce

[2021-11-24 14:59] rsoulard-prolaser commented on #26680
Hi @hibatallahAouadni,

I tried the update again and I no longer have the problem.

The first time I had a rights problem on the vendor folder of ps_accounts I don't know why.
A critical error has been added to PrestaShopLogger which triggers the sending of an email and we can see the error because PS_LOGS_EMAIL_RECEIVERS is not defined.

[2021-11-24 15:02] JoryHogeveen commented on #26732
Note to tester.
If you want to reproduce the issue using CustomShippingRate then you'll need to go to `Admin > Customers > Shipping quote` in order to see the error.

[2021-11-24 15:10] PierreRambaud commented on #26589
Duplicate of #24644

[2021-11-24 15:10] Progi1984 commented on #25565
Fixed in #26481 by @Progi1984

[2021-11-24 15:10] #25565 closed, assigned to Progi1984

[2021-11-24 15:28] hibatallahAouadni commented on #26177
@mparvazi why you closed this issue?

[2021-11-24 15:34] prestascott commented on #26642
Hello everyone,

Thanks @SharakPL,

I agree with you by putting both buttons into separate lines on mobile. But to keep consistency, we can also provide the same behavior on the desktop version.

Behaviors:
- Proceed to checkout (at the top) because this is where merchants want their clients to focus and click so they can place the order.
- Continue shopping (at the bottom) because it's is not the

[2021-11-24 15:40] mparvazi commented on #26177
Hello @hibatallahAouadni

https://github.com/PrestaShop/PrestaShop/pull/26340#pullrequestreview-789173269

I tried to test in [PrestaShop / mjml-theme-converter](https://github.com/PrestaShop/mjml-theme-converter), but i had problem with `{% if languageIsRTL|default(false) %} `

My solution just works fine by changing files in email theme inside [PrestaShop / PrestaShop](https://github.com/PrestaS

[2021-11-24 15:50] prestascott commented on #26679
Hello everyone,

Thank you @diksha-cedcoss,

@MatShir It looks like this on the new theme : https://github.com/PrestaShop/theme-refacto/issues/33

[2021-11-24 15:53] delphiv4 opened #26734 "Double Search Bar"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After the Prestashop 1.7.8.1 update

[2021-11-24 15:53] hibatallahAouadni commented on #26177
Even so the problem exists and we must find another solution :wink:

[2021-11-24 15:54] hibatallahAouadni commented on #26589
Hello @SharakPL

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #24644.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: thanks @PierreRambaud :superhero:

Thanks!

[2021-11-24 15:54] #26589 closed, assigned to nobody

[2021-11-24 15:54] mparvazi commented on #26177
@hibatallahAouadni I got it!

[2021-11-24 16:01] hibatallahAouadni commented on #26680
Hello @rsoulard-prolaser

Thanks for your feedback :pray:
Glad to hear you have no more issues with the upgrade :tada:

Ping @indusone could you please check your access rights on the `vendor` folder :pray:
Please check and feedback.

Thanks!

[2021-11-24 16:03] hibatallahAouadni commented on #26722
Ping @alfonsolr09 check @Hlavtox comment:

[2021-11-24 16:43] davidegaretto commented on #18016
Hi, was it fixed with the new version 1.7.8?

[2021-11-24 16:52] 50l3r opened #26736 "Problem with "allow_oosp" in Shop Group's on stock sync mode"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The problem appears on product list

[2021-11-24 16:55] hibatallahAouadni commented on #26725
Hello @0dp

I didn't manage to reproduce the issue with PS1767 and PS1781, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/143281805-849c1feb-11fc-4c4b-a5b1-2bfd4c9146a3.png)

Please check and feedback.
THanks!

[2021-11-24 17:04] rsoulard-prolaser commented on #26680
If a critical error occurs for any reason, I think the error occurs.
It might be better to declare the PS_LOGS_EMAIL_RECEIVERS variable in the sql script as in my PR.
This variable is declared only in the installation of version 1.7.8.
What do you think?

[2021-11-24 17:30] jpgilberg opened #26737 "Pack item with Combination shows incorrect reference number."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Reference Number of items with "Com

[2021-11-24 18:01] jolelievre opened #26738 "Product stock fails when stock is shared in the group on product page v2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On product page v2
- in a multishop

[2021-11-24 18:43] makitlas opened #26739 "Administration area Dashboard day/month/year buttons not work."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Day & month & year buttons not work

[2021-11-24 18:50] makitlas opened #26740 "Hidden price not work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Guest visitors see product prices.

[2021-11-24 19:08] VidarPc opened #26741 "1-click upgrade on 1.7.8.0 caused a http 500 error and not possible to upgrade to 1.7.8.1 using this module. Opens more than 60.000 files"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I reported this error to SiteGround

[2021-11-24 19:54] ricchiralt opened #26742 "Orders show taxes for customer groups without taxes"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There seems to be a conflict betwee

[2021-11-24 21:07] jak78 commented on #26720
Hello,
I followed [this doc](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/contribute_using_docker/) for running the tests suite with docker.
I don't think it's a PHP version problem. If that was the case, then the tests running with docker would succeed.

[2021-11-25 07:47] #24321 closed, assigned to nobody

[2021-11-25 08:12] hibatallahAouadni commented on #26732
Hello @JoryHogeveen

Is there possible way to reproduce the issue with BO? if there's, please list clear and concise steps to reproduce :pray:
Otherwise, this module `CustomShippingRate` is not a native module. So, I think it will be better to contact the Module developer to fix the issue :wink:

Thanks!

[2021-11-25 08:17] hibatallahAouadni commented on #26734
Hello @delphiv4

About the double search bar, I think it's related to your theme. If you switch the default the issue will be gone.
So, you need to contact the theme developer to fix the issue.

About the bad display of search bar, we are aware of this issue and it is already in our debug backlog.
This issue is a duplicate of #25594. To be informed when it's fixed, please subscribe to the issue me

[2021-11-25 08:17] #26734 closed, assigned to nobody

[2021-11-25 08:17] hibatallahAouadni commented on #26734
Duplicate of #25594

[2021-11-25 08:33] hibatallahAouadni commented on #26671
@ocio87 Thanks for your feedback :clap: hope you could create a Pull Request :pray:

[2021-11-25 08:45] PrestaEdit commented on #26741
Hi @VidarPc,

Could you enable the debug mode of PrestaShop and checking if the error 500 giving you a specific error message, with maybe a screen capture to give us ?

[2021-11-25 08:52] PrestaEdit commented on #26692
Hi,

If the hook is called inside the PHP code, it's all good, you can use it.
The needs to have it inside the database is not mandatory, it's only allow you to transplant the module within the Position tab.

If your module is register to this hook on it's installation, it will work.

[2021-11-25 09:01] JoryHogeveen commented on #26732
I mentioned it here because the error involved the `CarrierModule` class, which is PS core.
But ok, nevermind then!

[2021-11-25 09:01] #26732 closed, assigned to nobody

[2021-11-25 09:24] rflorent commented on #26692
Hi @PrestaEdit
The hook was added to a existing custom module, after install.
I was not able to transplant the module with the Position tab.
The hook was'nt available.

[2021-11-25 09:24] MatShir commented on #26679
@prestascott We don't display the brand anymore ?

[2021-11-25 09:43] PrestaEdit commented on #26692
It's that, the hook missing inside the database and so you can't transplant your module but the hook is there and usable, if you register your module onto it by the code, so.

I'm not sure that we need to add this kind of hook inside the available hook to transplant on it, but it could be the case.

[2021-11-25 09:56] 0dp commented on #26725
I just tested on 1.7.5.2 here it works as expected