[2020-12-07 18:33] meirrod opened #22279 "Error Upgrading from 1.6.1.24 to 1.7.7.0 - PrestaShopObjectNotFoundException: The hook id does not exist"
Hi,
I tried to upgrade using the devdocs migration 1.7 guide, executing the steps as mentioned. I solved some errors before regarding the missing table ps_translation which i inserted without any content. Then relauching  **php install/upgrade/upgrade.php** produce:

PHP Fatal error:  Uncaught PrestaShopObjectNotFoundException: The hook id #%s does not exist in database in /var/www/html/classes/Ho

[2020-12-07 19:05] photinia73 commented on #22250
Before I will start the upgade to 1.7.7.0 from 1.7.6.9 I checked PS in the debug mode. And there is such error
![image](https://user-images.githubusercontent.com/50954519/101392966-0f3d6680-38cf-11eb-84a1-768e4aa57b3c.png)
I don`t know does it have influence on the upgrade process, but just in case...

[2020-12-07 19:10] karacsonattila commented on #20094
Hi guys,

I have a problem, when i check or uncheck a supplier the earlier datas will remove from input.
Can you tell me in which file can i edit the supplier ajax in option tab.

This one: /sell/catalog/products/suppliers/refresh-product-supplier-combination-form/

Thank

[2020-12-07 22:03] msaustral opened #22281 "Error updating from 1.7.6.5 to 1.7.7"
Hi, after updating from 1.7.6.5 to 1.7.7, the module manager stop working, no error during update, no error on logs, no error on PHP

-if you try to update a module -> not work, start working, never ends
-if your try to upload a module -> not working, select file link or drop the module on the windows
-BackOffice very slow
-update tab -> not working

PHP V. 7.2
Server : Apache - Litespeed with CPa

[2020-12-08 00:29] straitskapitan commented on #22281
Things maybe you can check.

- Check for ownership issues on cache directory.
- Check db to make sure the two new session tables (in 1.7.6.6) was created.

[2020-12-08 00:33] straitskapitan commented on #22265
Yeah seems all is well. I took the hard route .... updated version by version from 1.7.6.4 to 1.7.6.9 making sure that the database upgrades are done. 1.7.6.6 introduces the two session tables. 1.7.6.5 failed for some reasons.

Now I am at 1.7.6.9. Upgrading to 1.7.7.0 still fail but with new error. I will try again later.

I wont be able to add anymore value/feedback for any upgrades from 1.7.6.4

[2020-12-08 05:05] dmoibm opened #22282 "ps_mainmenu, the "edit" button redirects me to "insert link" dialog"
#### Describe the bug

If I press the edit button of a link in the link list I get the insert link dialog.

#### Expected behavior

I expect to get the link edit dialog.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Module 'Main menu'
2. Click 'Edit' on a link in the link list
3. See 'ADD A NEW LINK' instead of 'UPDATE LINK'

After click to 'Edit' the URL is like this:
`http

[2020-12-08 08:03] hibatallahAouadni commented on #22279
Hello @meirrod

It seems your issue is duplicate to this one #22237
Could you please check and feedback.

PS: please next time **follow the template to submit a complete bug report**.

Thanks!

[2020-12-08 08:21] PierreRambaud commented on #20371
I like the idea of continuous download, and also add check to be sure the download can take more than the PHP process (timeout limit). But if you're using Nginx, you need to configure it to be sure the process can continue, it's important for security to be sure the connected user is able to download the virtual product and not everyone :)

[2020-12-08 08:40] hibatallahAouadni commented on #22275
Hello @Jojo-Kaly

If your PHP version is 4.2 and not a typo as @SimonGrn mentioned, you need to upgrade your PHP version to 7.2.
Then try again upgrading.

Please check and feedback.

Thanks!

[2020-12-08 09:03] Progi1984 commented on #21990
Fixed by #22246

[2020-12-08 09:03] #21990 closed, assigned to jolelievre

[2020-12-08 09:19] yucom31 opened #22283 "PS1.7.7 - Admin Order Screen"
#### Is your feature request related to a problem?
I'm being very frustrated when I consult new Admin page of order details:
Priorities on information are not fitting our merchant priorities

#### Describe the solution you'd like

When you are a merchant with our size (5 to 30 orders per day), and that you need to deal with order details, you have 2 main use cases

- shipping: when preparing an or

[2020-12-08 09:27] matthieu-rolland commented on #22218
@PrestaShop/product-team. there's a PR for this issue, the code is OK but we're not sure if you guys want to do it, so we won't validate it for now

[2020-12-08 10:05] PierreRambaud commented on #20772
No you're right, I tried and everything is working well for me.

@guirou62 If you need to edit something after an order is saved you can use `actionObjectOrderUpdateAfter`.
https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/ =>
![image](https://user-images.githubusercontent.com/1462701/101469616-44849b80-3945-11eb-815e-dabd5f1000eb.png)

[2020-12-08 10:28] #20036 closed, assigned to PierreRambaud

[2020-12-08 10:38] jolelievre commented on #22263
Yeah but it seems unfair that a discount that would have been applied on the FO is not applied in the BO after modification (like a discount for minimum amount for example), and the merchant is not a machine and doesn't necessarily know all the discount rules applied in the shop

Besides there is a technical issue behind this, that cart frequently calls `CartRule::autoAddToCart` and `CartRule::aut

[2020-12-08 10:44] JS-starlord commented on #9966
Hi, any news about this kind of issues ? We have this if we have several discounts in a cart

[2020-12-08 10:45] matks commented on #22283
Hi, all of these informations are actually the first informations displayed

![Capture d’écran 2020-12-08 à 11 44 10](https://user-images.githubusercontent.com/3830050/101473924-b6abaf00-394a-11eb-9d20-3b4ea5b75476.png)

I dont understand what is the issue you mention. All the data you listed are visible clearly at the top of this page without scrolling.

[2020-12-08 10:46] matks commented on #22283
Only data that cannot be seen here is payment info.

[2020-12-08 10:52] yucom31 commented on #22283
just check priorities: customer addresses are not the most important info: but it's being placed on the left
By the way, with a smaller screen... result is quite poor, you need to scroll to see details concerning product
You loose a lot of space with bill to address (invoice address)
![image (1)](https://user-images.githubusercontent.com/75667670/101474579-a8aa5e00-394b-11eb-8ecf-5a0d85fe9530.png)

[2020-12-08 10:53] hibatallahAouadni commented on #22270
Hello @Prestaplugins

So let's do it step by step :sweat_smile:
### 1st problem:
Yes I managed to reproduce with **PS1.7.6.7** but it **has been fixed** with the new release **PS1.7.7.0**, see attached screen records below:

**1.7.6.7:**
https://drive.google.com/file/d/10Yxj5iL4Hzih_byvyNm2drC3oCAFeTCj/view

**1.7.7.0:**
https://drive.google.com/file/d/1QX8pRSdeH8ViVCiClENcrn4D5kVAGFNd/view

---

[2020-12-08 10:59] ttoine commented on #22283
so the problem is the size of the screen, not the priority of information ?

[2020-12-08 11:06] matks commented on #22283
In previous order page, products list was at the very bottom of the page, so it would be so much worse according to your criteria

[2020-12-08 11:08] atomiix commented on #22250
@Pitt1823 @photinia73 @Chrisi1321 do you have APC enabled on your php config?

[2020-12-08 11:12] Chrisi1321 commented on #22250
Yes...

[PHP Modules] apc  (version 5.1.x)

[2020-12-08 11:12] ttoine commented on #22283
please be careful in the discussion about this issue. respect the CoC, we don't want the topic to become too heated 👍

[2020-12-08 11:12] Prestaplugins commented on #22270
Hello @hibatallahAouadni ,

Thanks for your test.
Ok for 1st problem, good to know. Can you give me the link with the fix ?

About the 2nd problem, yes that's how it works since the 1st version of Prestashop... but that's not normal !
I understand you can't add a voucher with a discount in % or fixed value, but you should be able to order a free product alone.
You can have a voucher for free produ

[2020-12-08 11:14] SimonGrn commented on #22283
Hello @yucom31,
during the 1.7.7.0 development, we had:
* a [Beta 1](https://build.prestashop.com/news/prestashop-1-7-7-0-beta-release/) (May 13th)
* a [Beta 2](https://build.prestashop.com/news/prestashop-1-7-7-0-beta2-release/) (September 1st)
* a [RC release](https://build.prestashop.com/news/prestashop-1-7-7-0-rc-release/) (November 3rd)

The new Orders page was available for testing for 8 mon

[2020-12-08 11:14] #22283 closed, assigned to nobody

[2020-12-08 11:17] yucom31 commented on #22283
I agree that previous screen was bad for products details, header from last version was good, product info on new screen is better (upper, not on the right position)
I just raised a feature request not a bug...
our merchant life is 90% on commerce: I take the time to raise this as a proposal.... If you want to keep it as is, no problem..

And concerning screen size, we don't have always big screen

[2020-12-08 11:21] photinia73 commented on #22250
In my configuration this module is, but it don`t enabled. Have it be enabled?

[2020-12-08 11:27] ttoine commented on #22283
@yucom31 I see that this was your first issue, so, thank you for taking the time. Please keep in mind: reporting an issue on an open source project must be about facts, not about your feelings. Even if you are angry, that should not be visible in your communication if you want your issue to be taken in account. Discussion must be respectful and stay factual so the problem can be reproduced, sorted

[2020-12-08 11:29] SimonGrn commented on #22283
I completely understand this is a big topic for you, but the new Orders Page was announced almost **a year ago** and we offered 3 versions to test, a new place to give your feedbacks, and we worked this new page with a lot of ecommerce professionals.
Your feelings are perfectly valid, it just seems it's a little late, I'm sorry. I'm sure you can understand we cannot revamp the page every year, and

[2020-12-08 11:42] hibatallahAouadni commented on #22272
Hello @LaureMatou

This issue has been fixed with this [PR](https://github.com/PrestaShopCorp/ps_mbo/pull/101), we will encounter this problem until the module has a new release that contains this fix.

This issue is a duplicate of #21298. So, I close it.

Thanks!

[2020-12-08 11:42] #22272 closed, assigned to nobody

[2020-12-08 11:42] hibatallahAouadni commented on #22272
Duplicate of #21298

[2020-12-08 12:07] Pitt1823 commented on #22250
I am hosting on Cloudways so my answers are all in line with what @Chrisi1321 has stated so far.
Including the database status after the upgrade and the APC being enabled.

[2020-12-08 12:15] fjoralbmuca opened #22286 "Prestashop 1.7.7.0 Admin login page only showing Store name"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-12-08 12:16] fjoralbmuca commented on #22286
php version 7.3

[2020-12-08 12:34] jem-here commented on #19430
I have noticed that on my file import when a state (county) iso code exists in another country the tax rule appears to be allocated to that iso code eg cam uk goes to Campeche in Mexico. Do I need to reorder the file or is it a bug country and state are not filtered on import?

[2020-12-08 12:54] yucom31 commented on #22283
I totally agree with you:
Too late is too late... I will try to take time to anticipate these new updated and provide inputs when required
All my apologies if I shocked some of you: I'm a real afficionado of Prestashop since 1.1.4 with 5 ecommerce website running/having run and 50+ implementation.
I'm totally convinced that you are trying to do your best, and enjoying everybody is alaways a diffic

[2020-12-08 13:04] web-burn opened #22287 "After click on the left arrow starts auto infiniti scroll of thumbnails on the product page in Crome browser"
When i click on the left arrow starts auto infiniti scroll of thumbnails on the product page in Crome browser.
I recorded a video with a bug in the Google Chrome browser:
 https://www.awesomescreenshot.com/video/1996036?key=f624e14fe78b2b7b7801a302ad54f942

PrestaShop 1.7.7.0 and previous version 1.7 too.

[2020-12-08 13:06] #21546 closed, assigned to PierreRambaud

[2020-12-08 13:19] msaustral commented on #22281
Hi file ownership or cache, is not the problem, we had to update to 1.7.6.9 without problem.

For what we can see on GitHub, update to 1.7.7 from version less than 1.7.6.9, has allot of issues, this is one more.

[2020-12-08 13:28] khouloudbelguith commented on #22231
Hi @marionf, @hibatallahAouadni,

The PS1.7.6.9 is not compatible with PHP7.3.

Thanks!

[2020-12-08 13:36] #22135 closed, assigned to nobody

[2020-12-08 13:37] matks commented on #22231
Hi, from what I see in the screenshots there is 2 issues:

1. the JS error is this one https://github.com/PrestaShop/PrestaShop/issues/18776 it is fixed when using GDPR module v1.2.1

2. the HTTP 500 error you can see being displayed in the Console is Symfony Debug Bar that crashes because it tries to serialize an object too big and it crashes (not enough memory). This can happen with big orders d

[2020-12-08 13:42] hibatallahAouadni commented on #22278
Hello @agroundworld

I managed to reproduce the issue with PS1.7.7.0 fresh install and PS1.7.6.9 upgraded to PS1.7.7.0, see attached screen records below:
- **1.7.6.7:**
https://drive.google.com/file/d/1Ca0-URxHSH4G-UZF8AGXPUOXCVvM7phd/view

- **1.7.7.0 (fresh install):**
https://drive.google.com/file/d/1YByK2_7qLyN-6e0NT6pmsfx1J8-8uHgf/view

- **1.7.6.9 upgraded to 1.7.7.0:**
https://drive.google

[2020-12-08 13:54] RayKoni opened #22288 "Errors upgrading from 1.7.6.9 to 1.7.7.0 - League\Tactician\Bundle\TacticianBundle not found"
Upgrading from 1.7.6.9 to 1.7.7.0
Gives following error messages

Errors:

[INTERNAL] /file_path/app/AppKernel.php line 59 - Error: Class 'League\Tactician\Bundle\TacticianBundle' not found #0 /file_path/vendor/symfony/symfony/src/Symfony/Component/HttpKernel/Kernel.php(488): AppKernel->registerBundles() #1 /file_path/vendor/symfony/symfony/src/Symfony/Component/HttpKernel/Kernel.php(132): Symfony

[2020-12-08 13:58] #13794 closed, assigned to nobody

[2020-12-08 14:00] matks commented on #22286
@fjoralbmuca new shop or did you upgrade?

Note: issue reported by 2 other people.

[2020-12-08 14:01] fjoralbmuca commented on #22286
new shop
manually installed

[2020-12-08 14:06] matks commented on #22279
Hi, the stack trace seems to indicate the process fails to uninstall module [Bankwire](https://github.com/prestashop/bankwire).

The module [bankwire](https://github.com/prestashop/bankwire) has been rebuilt for PS 1.7 (so there's a new module) and I dont think it was built with php7.2 compatibility (PS 1.6.1.24 is not supposed to run with php7.2 either). I suggest to uninstall it before performin

[2020-12-08 14:08] okom3pom commented on #22231
Hi,

@matks i know 1.2.1 fix the JS error but the issue is :

https://github.com/PrestaShop/PrestaShop/issues/22232

If prestashop don't propose update i don't think merchant goes download zip from github and install the zip manualy .

This issue concern only the 500 in the Console.

[2020-12-08 14:10] matks commented on #22288
@RayKoni Do you have files inside folder `vendor/league/` ? This is where TacticianBundle should be.

Indeed it seems to indicate that `It appears that files are not copied to where they are supposed to.` as you mention. Can you check the user you use for autoupgrade has the access rights that allow it to write files in the full prestashop directory?

[2020-12-08 14:14] matks commented on #22231
I update the title to make it more accurate.

[2020-12-08 14:22] matks commented on #22265
Correct 😉  php7.2 is a very good choice

[2020-12-08 14:38] RayKoni commented on #22288
Ist of all thnx for trying to hrlp me out.

User has all the right permissions.
When I manually insert TacticianBundle.php(which I find in the prestashop/vendorleague/tactician-bundle/src dir) it continues and it stops at the EventManager.php file.
I have also removed non PS themes and modules but still same effect.
Next try is a clean install.

[2020-12-08 14:40] matks commented on #22288
Don't try to add manually all files, there are hundred 😅

Moreover TacticianBundle.php was already installed on PS 1.7.6 so it should not be different between PS 1.7.6 and PS 1.7.7 . I think something wrong happened during you upgrade. It should be a simple "unzip the file" step. It's not supposed to "miss" some files.

[2020-12-08 14:41] SimonGrn commented on #22287
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-08 14:41] #22287 closed, assigned to nobody

[2020-12-08 14:42] SimonGrn commented on #22286
Hi @fjoralbmuca,

please edit your first post and fill the corresponding sections by replacing the text. Thank you.

[2020-12-08 14:43] SimonGrn commented on #22281
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-08 14:43] #22281 closed, assigned to nobody

[2020-12-08 14:52] RayKoni commented on #22288
Wasn't planning to 😅
Yes but the whole league dir is deleted and then recreated.
TacticianBundle.php is in the src dir in the prestashop.zip unpacking the zip, placing TacticianBundle.php in the right dir and then creating a new zip solved that but there seems to be more.

[2020-12-08 15:12] #9585 closed, assigned to nobody

[2020-12-08 15:17] hibatallahAouadni commented on #22270
Hello @Prestaplugins

The cart should consider there's 1 product inside, instead of considerating it's empty.

What you sugguested here it's an improvement.
If you would like to discuss it as new feature, please **open a new issue with Feature template**, then the **product team** will take a look and consider your sugguestion.

I don't know if this PR #16635 is the fix, but let's ask @Hlavtox, di

[2020-12-08 15:17] #22270 closed, assigned to nobody

[2020-12-08 15:22] hibatallahAouadni commented on #22231
Hello @marionf

As @khouloudbelguith mentioned above, it couldn't be a regression cause 1.7.6.9 is not compatible with 7.3.
So, I change the status to **`To Do`**, feel free to change it :sweat_smile:

Thanks!

[2020-12-08 16:05] kierweb commented on #22262
It appears sendmail via swiftmail needs "proc_open" - which most php installations, has disabled via disable_functions, for security reasons!

[2020-12-08 16:07] hibatallahAouadni commented on #22282
Hello @dmoibm

I managed to reproduce your issue only with PS1.7.7.0, so it's a regresion!

- **PS1.7.7.0**

![image](https://user-images.githubusercontent.com/23308427/101508273-bd045000-3977-11eb-9132-b614a256ccf4.png)

- **PS1.7.6.9**

![image](https://user-images.githubusercontent.com/23308427/101508167-a0681800-3977-11eb-96aa-ddb02818bbf1.png)

I’ll add this to the debug backlog so that it’s

[2020-12-08 16:07] Progi1984 commented on #22208
Fixes #22214

[2020-12-08 16:07] #22208 closed, assigned to atomiix

[2020-12-08 16:11] PierreRambaud commented on #20663
It's currently not possible to add custom attributes. At least, I don't find an easy way to do it without having to override or write ourself the code :sweat_smile:
I'm not sure it will be implemented in the future since the whole BO will be migrated into Symfony/Twig.

[2020-12-08 16:24] hibatallahAouadni commented on #22288
Hello @RayKoni

I didn't manage to reprocude your issue while upgrading PS1.7.6.9 to PS1.7.7.0, the only problem I encounter is #22250
@matks thanks for your quick replies :rocket:
@RayKoni could you please edit your issue and add clear steps to reproduce the issue, cause it seems you made some changes before upgrading.

Thanks!

[2020-12-08 16:26] dmoibm commented on #22282
Sorry! I'm to stupid to send you a pull request;-) But the solution is:

change Line 1092 from:
`'title' => (Tools::getIsset('updatelinksmenutop') && Tools::getValue('updatelinksmenutop')) ?`
to:
`'title' => (Tools::getIsset('updatelinksmenutop') && !Tools::isSubmit('updatelink') ) ?`

and Line 1146 from:
`if (Tools::getIsset('updatelinksmenutop') && Tools::getValue('updatelinksmenutop')) {`
to:
`

[2020-12-08 16:29] PierreRambaud commented on #15313
There is one reason some fields are missing.
I tried with facetedsearch.

This is what is passed top the `prepareMultipleProductsForTemplate` when using the facetedsearch module
![image](https://user-images.githubusercontent.com/1462701/101510868-bb885700-397a-11eb-97cc-9cc7b10e8118.png)

And when you don't have it:
![image](https://user-images.githubusercontent.com/1462701/101511143-de1a7000-397a

[2020-12-08 16:33] hibatallahAouadni commented on #22286
Hello @fjoralbmuca

I didn't manage to reproduce your issue with fresh install PS1.7.7.0, see the attched screenshot below:

![image](https://user-images.githubusercontent.com/23308427/101512455-5123e680-397b-11eb-97cb-c93bb7eab525.png)

Could you please provide more infos to reproduce the issue.
Like @SimonGrn mentioned above please **fill the corresponding sections**, cause without these infos,

[2020-12-08 16:35] fjoralbmuca commented on #22286
Resolved, SQL database issue

On Tue, Dec 8, 2020, 17:34 Hibatallah Aouadni <notifications@github.com>
wrote:

[2020-12-08 16:38] hibatallahAouadni commented on #22286
Hello @fjoralbmuca

Thanks for your feedback!
So, I close the issue.

[2020-12-08 16:38] #22286 closed, assigned to nobody

[2020-12-08 16:39] SimonGrn commented on #22286
Thank you ! I close this issue.

[2020-12-08 16:50] PierreRambaud commented on #20454
I see problems with what you're trying to do and also your pull request.
If you don't provide the product_id and because the reference is not unique, you will retrieve a product_attribute_id but maybe not the good one.
The second one is, the method `getIdByReference` is badly designed.
If you have multiple product like: `demo_1`, `demo_3`, `demo_10` and do `getIdByReference(PRODUCT_ID, 'demo_1')`

[2020-12-08 16:52] hibatallahAouadni commented on #22253
Hello @straitskapitan

I didn't manage to reproduce your issue while upgrading from PS1.7.6.9 to PS1.7.7.0, the only issue I encountred is this one #22250

Could you please provide more infos to reproduce the issue, so we could fix it.

Thansk!

[2020-12-08 17:05] matks opened #22294 "In autoupgrade process, Doctrine schema update process is performed after scripts which create inconsistent behavior"
#### Describe the bug

Module autoupgrade [CoreUpgrader17:: upgradeDb()](https://github.com/PrestaShop/autoupgrade/blob/v4.11.0/classes/UpgradeTools/CoreUpgrader/CoreUpgrader17.php#L53)
[code]

`runSchemaUpgradeCommand()` relies on Doctrine `prestashop:schema:update` (which is a very bad idea).

## An issue about which is first

If we wait for `runSchemaUpgradeCommand()` to create some columns, __

[2020-12-08 17:06] hibatallahAouadni opened #22295 "[EPIC] - Mainmenu module"
All issues related to Mainmenu module

### Bugs

### Improvements
- [x] #18910

### Features

## Fixed

### Bugs
- [x] #22282

### Improvements
- [x] #20219

### Features

[2020-12-08 17:13] PierreRambaud commented on #13352
I don't think we will do something about this problem since the override system is deprecated.

[2020-12-08 17:17] RayKoni commented on #22288
Hi @hibatallahAouadni,
I did nothing else then firing up the 1-click upgrade
Backup goes ok.
Deleting goes ok.
Copying goes ok.(So it says)
The last lines are:

[INTERNAL] /file_path/modules/autoupgrade/vendor/composer/ClassLoader.php line 444 - include(/file_path/vendor/composer/../league/tactician-bundle/TacticianBundle.php): failed to open stream: No such file or directory
[INTERNAL] /file_path

[2020-12-08 17:19] Jojo-Kaly commented on #22275
PHP version 7.2.34 is wrtitten in my back office -> Advanced settings -> Informations. But I check in my host settings, there is written PHP version 7.2.
I don't save full error stack trace...

[2020-12-08 17:19] PierreRambaud commented on #19768
I think it's related to #21163

[2020-12-08 17:27] photinia73 commented on #22250
In my case the APC was NOT enable in PHP

[2020-12-08 18:16] artizch opened #23326 "Checkbox Not Working"
Hello,

Contact form is still sending even if the checkbox is unchecked.

PrestaShop ver 1.7.6.4
psgdpr 1.2.0

[2020-12-08 19:00] okom3pom commented on #22231
I complete the Issue with :

Make a new installation.

Go to the orders list (look at the error)

Go to the customers list (look at the error)

Go to the categorys list (look at the error)

Now go to the product list there are no error

@matks say :

```It's not an issue because it's just Symfony debug tool trying to compute some data to help the developer but the data is too big```

But a lot of

[2020-12-08 19:01] kornwaikas opened #22298 "Impossible to set SMTP settings - PrestaShop keeps old password"
#### Describe the bug
EDIT: error is below https://github.com/PrestaShop/PrestaShop/issues/22298#issuecomment-741054468

After update to GoogleWorkspace (Gsuite) i receive this error in Prestashop Configuration. I was asking by chat with Google and they say that my configuration is OK.

I show the code with the chrome inspector and i saw that if i modify the class CSS of the password to show the "

[2020-12-08 20:01] BaraqdaPL opened #22300 "Cannot login to BO after update from 1.7.6.5 to 1.7.7.0 with ICU < 4.6"
Hi,
I've just update my PS. Before there was no problem. Now, after putting my mail and password, I see blank page.
What could go wrong?
During update, there was no errors (I used 1- click). Then system asked me to reboot and log in again. And now there is no response.
![image](https://user-images.githubusercontent.com/75696855/101534756-ed5be680-3997-11eb-96da-8c12faa5c25a.png)
I've seen some top

[2020-12-08 20:09] BaraqdaPL commented on #22300
on website console:
pl/adminszefu/index.php?rand=              500
send @ jquery-3.4.1.min.js:2
ajax @ jquery-3.4.1.min.js:2
(anonymous) @ login.js?v=1.7.7.0:186
r.complete @ jquery-3.4.1.min.js:2
c @ jquery-3.4.1.min.js:2
fireWith @ jquery-3.4.1.min.js:2
u @ jquery-3.4.1.min.js:2
k.fx.tick @ jquery-3.4.1.min.js:2
lt @ jquery-3.4.1.min.js:2
k.fx.start @ jquery-3.4.1.min.js:2
k.fx.timer @ jquery-3.

[2020-12-08 21:06] matks commented on #22298
Hi @kornwaikas I had the same issue recently. This is not a bug in PrestaShop. This is an issue about gmail not trusting PrestaShop.

You can see many questions (and solutions) on Google about this topic:
- https://stackoverflow.com/questions/42558903/expected-response-code-250-but-got-code-535-with-message-535-5-7-8-username
- https://support.google.com/mail/thread/40210887?hl=en
- https://suppor

[2020-12-08 21:09] matks commented on #22286
Hi @fjoralbmuca that is great to know!

Could you please tell us what was the issue?

[2020-12-08 21:10] matks commented on #22300
@BaraqdaPL could you give us a screenshot of your console error?

By the way someone reported a similar issue on https://github.com/PrestaShop/PrestaShop/issues/22286 and said it was a database issue.

[2020-12-08 21:11] fjoralbmuca commented on #22286
SQL Database was not connected on the third step of prestashop installing

On Tue, Dec 8, 2020, 22:09 Mathieu Ferment <notifications@github.com> wrote:

[2020-12-08 21:23] kornwaikas commented on #22298
I show the code with the chrome inspector and i saw that if i modify the class CSS of the password to show the "******" its show an old password. Prestashop doesn't save my current password.
I fixed it deleting the password in the Prestashop database (ps_configuration) and deleting the passwords stored in chrome.
After that its works again!

[2020-12-08 21:51] matks commented on #22298
Hoho 🧐 that is interesting

[2020-12-08 22:00] bulldesign commented on #22141
The fix has not solved the issue, and the issue is still persistent when trying to upgrade from 1.6.4.2 to 1.7.7.0 with the latest version of the updater module.

[2020-12-09 05:45] JBWModules commented on #22300
This issue is reported by a lot of people in multiple threads in the forum e.g.
https://www.prestashop.com/forums/topic/1037764-upgrade-1765-to-1770-failed-cannot-log-into-admin/

[2020-12-09 08:20] hibatallahAouadni commented on #22275
Hello @Jojo-Kaly

Could you please attach your log file, you can find it under your admin folder of your PrestaShop project:

**`admin > autoupgrade > tmp > log.txt`**

We need this file to find out the source of the bug.

Thanks!

[2020-12-09 08:26] Progi1984 commented on #21708
Fixed by #22126

[2020-12-09 08:26] #21708 closed, assigned to matthieu-rolland

[2020-12-09 08:28] mrabsinthe opened #22301 "1.7.7.0 Orders page - filtering orders not working on drop-down change"
#### Describe the bug

Orders page - In previous versions changing drop-down order status filtered orders by selected order status. It doesn't work anymore and to filter orders, you have to confirm the action by "Search" button. It is therefore one extra click of mouse, why?
Same goes for "Delivery country" or "New client".

Please don't tell me it is a "feature"!

#### Expected behavior

Same as

[2020-12-09 08:33] hibatallahAouadni commented on #22300
Hello @BaraqdaPL

We need your PHP version, database (MariaDB or MySQL) version.
And could you please attach your log file, you can find it under your admin folder in your PrestaShop project:

**`admin > autoupgrade > tmp > log.txt`**

We need these informations to figure out the cause of your issue.

Thanks!

[2020-12-09 08:35] arturas-bes opened #22302 "Attempted to load class "LegacyLayout" from the global namespace."
#### Describe the bug
Trying to develop module using doctrine, installed demodoctrine module and when i try to edit something, gettin this:

`Symfony\Component\Debug\Exception\
ClassNotFoundException
in classes/controller/AdminController.php (line 3674)
        if (!$class_name) {            $class_name = $this->className;        }        /** @var $object ObjectModel */        $object = new $class

[2020-12-09 08:46] BaraqdaPL commented on #22300
![image](https://user-images.githubusercontent.com/75696855/101605379-642dc980-3a02-11eb-8c7b-ffbcac8e1e4e.png)
![image](https://user-images.githubusercontent.com/75696855/101605444-760f6c80-3a02-11eb-8204-59bdfe123a9c.png)
PHP 7.2
MySQL
my log : https://drive.google.com/file/d/1r1eLj_vAqfbQLIviRPS5u70VWF2UgPOK/view?usp=sharing

[2020-12-09 08:47] #14496 closed, assigned to NeOMakinG

[2020-12-09 08:49] hibatallahAouadni commented on #22294
Hello @matks

Thanks for your report :smile:
Could you please specify the severity of this bug :sweat_smile:

Thanks in advance!

[2020-12-09 08:50] BaraqdaPL commented on #22300
I was not changing anything with database. It was upgrade not new install.

[2020-12-09 08:59] BaraqdaPL commented on #22300
My dev.log after login attempt:

[2020-12-09 09:56:13] doctrine.DEBUG: SELECT name FROM ps_module WHERE active = 1 [] []
[2020-12-09 09:56:13] translation.WARNING: Translation not found. {"id":"PrestaShop Marketplace in your Back Office","domain":"messages","locale":"pl-PL"} []
[2020-12-09 09:56:13] translation.WARNING: Translation not found. {"id":"Discover the best PrestaShop modules to optimize

[2020-12-09 09:22] Prestaplugins opened #22303 "Ability to have a cart containing only gift products AND display the gifts / normal products differently"
#### Is your feature request related to a problem?

It's not currenctly possible to have a cart containing only a voucher offering a gift product.
It should be possible, for many reason : to resolve a litige, as a reward for your previous orders...

#### Describe the solution you'd like

Ability to access the cart summary page even if the cart is empty.
Ability to enter a voucher code correspondin

[2020-12-09 09:25] Prestaworks commented on #21140
![Screenshot_2020-12-09 Meddelanden från moduler • KCO17](https://user-images.githubusercontent.com/2902272/101610594-c1c51480-3a08-11eb-900b-68d40d2f41e9.png)
This image shows an example where the upgrade tab gives me a "downgrade" of the module due to this issue.

[2020-12-09 09:25] Jojo-Kaly commented on #22275
Thank you hibatallahAouadni. There is my log file.

[log.txt](https://github.com/PrestaShop/PrestaShop/files/5664799/log.txt)

[2020-12-09 09:25] SimonGrn commented on #22301
Hello,

thank you for your issue. This new behavior is the result of the migration of the Orders page, and it's working that way because all searchable grids work the same way in migrated page. The goal is to have an homogeneous system.

So yes, it is indeed a feature.

Thank you for your understanding.

[2020-12-09 09:25] #22301 closed, assigned to nobody

[2020-12-09 09:26] #16067 closed, assigned to nobody

[2020-12-09 09:26] #16320 closed, assigned to PierreRambaud

[2020-12-09 09:30] hibatallahAouadni commented on #22303
Hello @Prestaplugins

Thanks for opening this feature! the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , can we add the possibility of having a cart containing only a voucher offering a free product?

[2020-12-09 09:31] zelduxs commented on #22262
Same problem after upgrading to 1.7.7

[2020-12-09 09:34] hibatallahAouadni commented on #22275
Thanks @Jojo-Kaly

Ping @PrestaShop/prestashop-core-developers Could someone check what is the issue's source :pray:

[2020-12-09 09:35] hibatallahAouadni commented on #22300
Thanks @BaraqdaPL

Ping @PrestaShop/prestashop-core-developers Could someone check what is the issue's source :pray:

[2020-12-09 09:35] lucmichalski commented on #22259
@PierreRambaud and guys,

Thanks for your reply, much appreciated :-)

Is it possible to share with me an excerpt/gist of what to override to get these logs ?
Just a small example so I can finish it.

Cheers,
Luc Michalski

[2020-12-09 09:44] boubkerbribri opened #22304 "[Shopping carts] - Duplicated display of fixtures"
#### Describe the bug

Demo shopping are duplicated in listing page after new Order

#### Expected behavior
No duplicates

#### Steps to Reproduce

Steps to reproduce the behavior:

On a fresh install, you have 5 demo shopping carts

1. Create an order in FO
2. Go to BO 'Sell -> Orders -> Shopping carts'
3. See error : fixtures are duplicated

**Screenshots**

![image](https://user-images.githubus

[2020-12-09 09:45] Hlavtox commented on #22303
@Prestaplugins Why would you do that? If the product is free, just make it free and let people add it. And if you want a single customer to get the product for free, you have to make a cart rule anyway, so what why don't you just make 100% discount voucher instead of gift? 👍

[2020-12-09 10:31] matks commented on #22300
This error `idn_to_utf8 ()` was also mentioned on [Build](https://build.prestashop.com/news/prestashop-1-7-7-0-available/#comment-5175549340)

Also 2 people mentioned it on https://friendsofpresta.org/ :
- one said it could be observed when using the "custom" php7.3 of o2switch (with another hosting provider it was OK)
- one said it could be observed when using http and solved it using https

[2020-12-09 10:32] matks commented on #22300
@BaraqdaPL Can you tell us what hosting provider you use, and if you are using http or https?

[2020-12-09 10:38] PululuK commented on #22221
Fixed by https://github.com/PrestaShop/PrestaShop/pull/22296

[2020-12-09 10:38] #22221 closed, assigned to NeOMakinG

[2020-12-09 10:42] BaraqdaPL commented on #22300
So, I tryed https:// ... nothing have changed

My hosting provider - https://cyberfolks.pl/

In my case both http and https should work.
My main company site works on php 5.6.31, but subdomen with shop is set up in 7.2.11 php

[2020-12-09 10:46] matks commented on #22300
So if we look at the code of [InternationalizedDomainNameConverter.php](https://github.com/PrestaShop/PrestaShop/blob/1.7.7.0/src/Core/Util/InternationalizedDomainNameConverter.php) we see
[code]

Error says ` Type error: idn_to_utf8() expects parameter 3 to be integer, string given` which means it thinks `INTL_IDNA_VARIANT_UTS46` is a string, not an integer.

The root cause might be what is discu

[2020-12-09 10:50] sowbiba commented on #18738
If we change the module name, it will never be translated for older versions than 1.7.8
For example : if "Best categories" becomes "Best categories stats" and have it' s translation in french "Module de statistiques sur les catégories", In all french shops lower than 1.7.8 it'll always be "Best categories stats" once the module is released, even if 1.7.8 is released

[2020-12-09 10:52] hibatallahAouadni commented on #22302
Hello @nachaliuga

Could you please provide the link of the demodoctrine?
And did you change some Core files?

Thanks!

[2020-12-09 10:55] BaraqdaPL commented on #22300
OMG i read but not understand... I'm not a skill IT.
So it might be a problem with hosting setup of a shop domen?

[2020-12-09 10:57] matks commented on #22300
@BaraqdaPL is it possible for you to check the **[ICU](http://site.icu-project.org/home) version of your hosting setup**?

[2020-12-09 11:01] hibatallahAouadni commented on #22017
Hello @barbosatrix

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-09 11:01] #22017 closed, assigned to nobody

[2020-12-09 11:01] BaraqdaPL commented on #22300
will try to find it

[2020-12-09 11:24] BaraqdaPL commented on #22300
ICU version => 4.4.1
--
ICU Data version => 4.4.0.1
ICU TZData version => 2010i
ICU Unicode version => 5.2

[2020-12-09 11:26] PululuK commented on #22216
Fixed by https://github.com/PrestaShop/PrestaShop/pull/22291

[2020-12-09 11:26] #22216 closed, assigned to Progi1984

[2020-12-09 11:42] khouloudbelguith commented on #14816
Hi @tklems,

This issue is currently closed, can you open a new one with more information about your configuration.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thank you!

[2020-12-09 11:56] BaraqdaPL commented on #22300
OK -problem solved - PHP version.
I switch to php 7.3

ICU version => 58.2
--
ICU Data version => 58.2
ICU TZData version => 2016j
ICU Unicode version => 9.0

and now is working!!!

Thank you for tips

[2020-12-09 11:56] PululuK commented on #22304
Hi @boubkerbribri
Why Critical ?

[2020-12-09 12:03] Progi1984 commented on #21734
Fixed by #21977

[2020-12-09 12:03] #21734 closed, assigned to NeOMakinG

[2020-12-09 12:47] massha opened #22305 "Rules tax issue"
####

When I set up the VAT rules on the BO , it applies only one rule ( french one )

#### Expected behavior

When I buy something , with an monegasque adresse , I'm supposed to get 20% of VAT but I have no VAT ..

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'International '
2. Click on 'Taxes'
3. Scroll down to 'Monaco'

![image](https://user-images.githubusercontent.com/

[2020-12-09 12:57] matks commented on #22300
@BaraqdaPL great to know! indeed if ICU is below 4.6 there's a known issue. In theory modern hosting environments have an ICU version way higher, but some old environments are stuck with outdated ICU.

[2020-12-09 13:02] matks commented on #22275
Thanks for the log file ! It looks like it's the same issue as https://github.com/PrestaShop/PrestaShop/issues/22264

[2020-12-09 13:04] matks commented on #20332
@khouloudbelguith is it the same issue as https://github.com/PrestaShop/PrestaShop/issues/22275 ?

[2020-12-09 13:05] NeOMakinG commented on #22193
Same behavior on Monitoring page

[2020-12-09 13:15] matks opened #22306 "Release 1.7.7.1 🚀"
This issue tracks the status of the PrestaShop 1.7.7.1 release

### Information

Q                                    | A
-----------------------|---------------
**Type**                        | Patch version
**Estimated release**  | 2021-01-**
**Milestone** | [1.7.7.1](https://github.com/PrestaShop/PrestaShop/milestone/69)
**Kanban** | [1.7.7.x](https://github.com/PrestaShop/PrestaShop/projects/

[2020-12-09 13:17] khouloudbelguith commented on #20332
Hi @matks,

I think yes.
It seems the same error displayed.

Thanks!

[2020-12-09 13:23] Jojo-Kaly commented on #22275
Hi Matks.
Yes, it seems the same issue, except that after the update attempt, I haven't BO and FO blanck white pages but BO error 500 and always maintenance page on FO.
I updated 1-Clik upgrade to the last version and tried again, but there is always the error.

[2020-12-09 13:24] matks commented on #22302
I think it's this module https://github.com/PrestaShop/example-modules/tree/master/demodoctrine

[2020-12-09 13:32] camlafit commented on #20454
Hello

I don't understand your example. You talk about product but purpose is about combination.
This use case is yet present in actual code. If we have a product with two combinations **demo_1** and **demo_10**  we can get only one of these two **id_product_attribute**

About method naming, purpose it to get ipa from reference. We can change it but we don't forget to provide a backward compatibil

[2020-12-09 13:37] LouiseBonnard commented on #18738
Yes, thanks a lot, @sowbiba! Let's wait for the @PrestaShop/product-team and @PrestaShop/prestashop-core-developers to decide what should be done regarding statistics modules before going any further on this issue.

[2020-12-09 13:44] BaraqdaPL commented on #22300
I'm checking shop. Why I have problem with module presta shop?
![image](https://user-images.githubusercontent.com/75696855/101637249-cbf90a00-3a2c-11eb-85e1-ba000ee9e01b.png)
Is there any other traps I can find in 1.7.7.0? I thought, that releasing new version everything will be checked...

[2020-12-09 13:52] khouloudbelguith commented on #22304
Hi @PululuK,

It is acritical because it breaks the automatic tests.
This regression is detected by the nightly.

https://build.prestashop.com/news/severity-classification/

Thanks!

[2020-12-09 13:52] SimonGrn commented on #22304
Hello @PululuK,

A bug breaking nightlies has always a critical priority as it's a regression, regardless of its severity :)
This is a rule we had for a few months now.

[2020-12-09 13:52] Prestaplugins commented on #22303
@Hlavtox I will answer with a question : Because that feature exist, why should I use another one ?
But there's other reasons :
- with % voucher, you can select a product to apply it on, but not a combination.
- with a gift product, you can add both product and voucher to the cart at the same time, really easier for the customer
- with a gift product, you can have a different display (for example

[2020-12-09 13:53] PululuK commented on #22304
Thanks @SimonGrn  @khouloudbelguith

[2020-12-09 14:02] Hlavtox commented on #22303
@Prestaplugins Try to implement my temporary fix for displaying gifts in cart - https://github.com/PrestaShop/PrestaShop/issues/9757#issuecomment-691047001 😉

Let me know if the behavior is any better for you. You know, gifts are gifts. You get gifts when ordering something. The whole system is really not ready for this. I think PS team would be more than happy to implement anything that most of t

[2020-12-09 14:12] simondavidson1970 opened #22307 "I have installed, deleted, and reinstalled prestashop 6 times and admin will not load"
I have installed, deleted, and reinstalled prestashop 6 times and admin will not load

when I go to the admin page, I get the box to enter user name and password, once I have punched this in and hit enter, it goes to a page with the penguin on and a box around it, and nothing else..

#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what yo

[2020-12-09 14:22] #16706 closed, assigned to Progi1984

[2020-12-09 14:23] Fer5320 commented on #22306
Will it solve all the problems of 1.7.7.0 ?. At the moment I do not dare to reinstall this version and I continue with 1.7.6.9
The strange thing is that in another prestashop that I have, the 1.7.7.0 has not given me any problem

[2020-12-09 14:25] LouiseBonnard commented on #21092
Hi @PululuK, I can see you assign yourself this issue, do you still wish to work on it? If yes, I'll milestone it for version 1.7.8 and remove the ticket from the kanban. :-)

[2020-12-09 14:29] LouiseBonnard commented on #20986
Hi @PierreRambaud! Do you still need to update dependencies or this issue can be closed?

[2020-12-09 14:32] matks commented on #22306
@Fer5320 The patch version aims to fix all **regressions** found between 1.7.6 and 1.7.7. However it will be restricted by our developer capacity. The patch release will be delivered in approximately 6 weeks. We will work on it for 4 weeks then deliver it to QA team for 2 weeks.

In 4 weeks if there are bugs not fixed yet, they will be scope for PS 1.7.7.2 . In the meantime we will work on bugs by

[2020-12-09 14:32] PierreRambaud commented on #20986
Still needed :)

[2020-12-09 14:36] matks commented on #22307
Hello @simondavidson1970 is it the same issue that https://github.com/PrestaShop/PrestaShop/issues/22300 ?

If yes, solution seems to be that your PHP comes with an outdated version of ICU (I see you use php7.0 so this seems likely). I suggest using newer version of PHP (php7.3 for example) with an up-to-date version of ICU

[2020-12-09 14:37] hibatallahAouadni commented on #22305
Hello @massha

Could you please change the issue title in English, cause **English is the norm on GitHub**.
I didn't manage to reproduce your issue with PS1.7.6.9, see the attached screen record below:

https://drive.google.com/file/d/1nmaUyAjiPf5j4q7wHKIAwRmrS2_Fp6Og/view

Please check and feedback.

Thanks!

[2020-12-09 14:50] simondavidson1970 commented on #22307
I uninstalled prestashop, changed to PHP 7.3, tried to re-install and now I get this error message

**_The following errors were found :

Unable to generate new_cookie_key, hence can not install Prestashop 1.7_**

[2020-12-09 14:52] matks commented on #22300
@PrestaShop/qa-functional Would it be possible to test 1.7.7 with a php7.1 with ICU < 4.6 to validate it is impossible to login (then we can make a fix)?

[2020-12-09 14:58] BaraqdaPL commented on #22300
Ive chcecked - with php 7.1

version => 1.1.0
--
ICU version => 4.4.1
ICU Data version => 4.4.0.1

page not load - BO is not working

[2020-12-09 15:02] ttoine opened #22311 "[EPIC] Improve legal compliance of the open source project"
#### Is your feature request related to a problem?

I am studying the legal compliance of the PrestaShop open source project's Core and its dependencies. In order to be legal compliant, a few improvements are needed.

#### Describe the solution you'd like

- [x] replace jsonify (NPM) because it is in public domain, and it is not acceptable regarding the project license. An alternative exists: http

[2020-12-09 15:04] #21835 closed, assigned to NeOMakinG

[2020-12-09 15:04] BaraqdaPL commented on #22300
Now is not working adding pictures to product.
Buttons are not active (after click - nothing happens). Drag&drop also not working...
why I made this update :( is there any safe way to downgrade it back - this version is a mess...
![image](https://user-images.githubusercontent.com/75696855/101646687-2186e400-3a38-11eb-88b6-143338ad27c4.png)

[2020-12-09 15:08] simondavidson1970 commented on #22307
so I reverted back to the original PHP as it screwed up the wordpress website that I am currently using...

I was trying to install prestashop in a sub folder

[2020-12-09 15:12] massha commented on #22305
Thanks a lot

But we are obliged to set only ONE rule tax for the products ?

If I am in France , I have to pay 20% of VAT , like in Monaco
But if I set up French rules , it won't apply it with a monagasque adress ,
and it is an issue

[image: image.png]
[image: image.png]

[2020-12-09 15:19] Haitamc opened #22312 "CMS Pages can be modified but does not work in front office ( 404 Not found)"
**CMS Pages** can be modified in BO but **does not work in front office** (404 Not found)

I'm facing a problem with CMS pages they are not working all page return 404 error here is a CMS pages link
[https://pomme-cannelle.fr/content/3-termes-et-conditions-utilisation](https://pomme-cannelle.fr/content/3-termes-et-conditions-utilisation)

I have enabled and disabled URL rewriting to regenerate hta

[2020-12-09 15:19] nachaliuga commented on #22302
Yes but It was unrelated I fixued other issue, which wasnt fixed on module tabs issue, I dont actualy recall which ticket it was, I just changed entity map item, It was strange as I download ps 1.7.7 and issue should be fixed on it, but somehow it was still there, I also got into cache issue or something when queryBuilder kept on calling wrong orderBy, so I removed it in my demo module, im trying

[2020-12-09 15:22] hibatallahAouadni commented on #22307
Hello @simondavidson1970

**Please follow the template to submit a complete bug report**.
We need these infos to help you!

As @matks said, your issue is duplicate to #22300

You mean fresh install of PS1.7.7.0?

Thanks!

[2020-12-09 15:24] hibatallahAouadni commented on #22302
Hello @nachaliuga

Could you please mention your PRs here, to see why is not merged yet?

Thanks!

[2020-12-09 15:34] KminekMatej opened #22313 "Better error message on invalid image upload request"
When there is an invalid request during Image upload, prestashop returns only general error code 500 / 66: Unable to save this image, response should be bit more detailed

[2020-12-09 15:36] #13352 closed, assigned to nobody

[2020-12-09 15:39] sarahdib opened #22314 "[UI-KIT] - space between the icon and the display of the tooltip"
#### Describe the bug

there is a space between the icon and the display of the tooltip

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admin
2. Click on order
3. Mouseover the icon to open the order
4. See error

**Screenshots**

https://drive.google.com/file/d/1fNzkS8f12SzQ_CR9nrMxBot9j04NWfo-/view

#### Additional information

* PrestaShop version: Develop
* PHP version: 7.

[2020-12-09 15:40] eternoendless commented on #22311
Don't worry about jsonify, it's a webpack dependency so it isn't bundled:

[code]

[2020-12-09 15:47] nachaliuga commented on #22302
Im not sure what is PRs sry. But i found the issue, which wasnt fixed on 1.7.7 [https://github.com/PrestaShop/PrestaShop/issues/21206](url)

[2020-12-09 15:49] khouloudbelguith opened #22315 "[UI-KIT] - BO - Order page - The Modal of adding a discount is not well displayed"
#### Describe the bug

n the BO > Orders > Order details page > when we try to add a new discount, the modal is not well displayed
![image](https://user-images.githubusercontent.com/16067358/101652285-5b5ae900-3a3e-11eb-8ae1-819c99844389.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Order details page
2. Click on the Add a discount button
3. See error

###

[2020-12-09 15:52] hibatallahAouadni commented on #22312
Hello @Haitamc

I didn't manage to reproduce your issue with PS1.7.6.8 and PS1.7.7.0. It seems that your issue is not a PrestaShop core bug.

I'm really sorry but I have to close this issue. Cause, we use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, plea

[2020-12-09 15:52] #22312 closed, assigned to nobody

[2020-12-09 15:54] #21678 closed, assigned to Progi1984

[2020-12-09 15:54] ttoine commented on #22311
for jsonify, just have a look at the link I provided, there is a quick solution to replace it.
the problem is not really that it's not bundled, but that it's in the list of dependencies. no lawyer or people like can easily sort what is shipped or not in the PrestaShop zip. so it's really better to remove it.

[2020-12-09 16:01] hibatallahAouadni commented on #22302
Hello @nachaliuga

Sorry, I misunderstand you I thought said that you create PR that fixed the issue :sweat_smile:
Thanks for finding the other issue!

As mentioned in #21206 this fix will be available with 1.7.8.0 release.
Here's the PR that fixed the problem #21218

So, this bug #21206 is the cause of your issue, is that so?

Thanks!

[2020-12-09 16:05] SimonGrn commented on #22141
Hello @bulldesign
1.6.4.2 is not a valid version number, could you give us your version please ?

Also, you posted in this thread, but are you absolument certain you have exactly the same error ?

Thank you.

[2020-12-09 16:05] BaraqdaPL commented on #22307
If you have a shop under subdomen you can add domain with your hosting provider (I had same issue, where my company page was on lower php and subdomain shop on higher - it did not work like this) So I added new domain in my hosting company as my subdomain name. Now, in hosting panel I have two domains - one main domain, second is my subdomain. After doing it, I can set up different php to my main

[2020-12-09 16:07] bulldesign commented on #22141
@SimonGrn oh yea, sorry, obviously i meant 1.7.4.2. :)

Yes, we are getting the exact same error that the that Robin is getting.

[2020-12-09 16:11] BaraqdaPL commented on #22300
Why I cannot go back to previous version usin 1-ckick? (button powrót "return" is not active)...

[2020-12-09 16:13] BaraqdaPL commented on #22300
![image](https://user-images.githubusercontent.com/75696855/101655439-e8ec0800-3a41-11eb-90a0-6633f85097ac.png)

[2020-12-09 16:17] SimonGrn commented on #22300
Hello @BaraqdaPL,
You can use the backup you made before upgrading.
Also please try not to spam multiple messages, use only one, thank you.

We tried dozen of upgrades from differents versions to 1.7.7.0 without any trouble. The only thing we cannot test is the different configurations merchants can have, with 3rd-party modules or custom code modification. Theses installations can easily break bec

[2020-12-09 16:25] hibatallahAouadni commented on #22305
Hello @massha

The link of the attached images is broken :confused:
And could you please provide clear steps to reproduce your issue.

Thanks!

[2020-12-09 16:32] bulldesign commented on #22141
We also tested: Upgrading from 1.7.4.2. to 1.7.6.9 is working, and only upgrading to 1.7.7.0 was not.
Even upgrading from 1.7.6.9 to 1.7.7.0 gave the same issue.

Also our enviroment is 7.1, and we have tried with 7.0 and 7.2.

[2020-12-09 16:34] hibatallahAouadni commented on #22313
Hello @KminekMatej

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2020-12-09 16:34] #22313 closed, assigned to nobody

[2020-12-09 16:37] gabgustavo opened #22318 "Help in prestashop 1.7.6.2 in the categories"
Hello, I have a requirement in prestashop 1.7.6.2 in the categories, which is that when you update the image of "Category cover image" do not want to change the "Category thumbnail", ie they want to be independent in the update, but I do not know what to change in the code or where, could help me please. Thank you

[2020-12-09 16:45] hibatallahAouadni commented on #22318
Hello @gabgustavo

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #12760.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-12-09 16:45] #22318 closed, assigned to nobody

[2020-12-09 16:46] hibatallahAouadni commented on #22318
Duplicate of #12760

[2020-12-09 16:50] Haitamc commented on #22312
I will recontact the theme author and try to find a solution

[2020-12-09 16:51] BaraqdaPL commented on #22300
My college made an update by coping all files from shop FTP catalogue, but I think just copy/paste those files won't work.
Also, as I wrote before 1-click don't aloud me to backup from data backup during upgrade.
Sorry - I'm not developer. I'm just trying to manage company shop page as good as I can. I wanted to install newest stable version to proceed with lots of other setups (products, layouts

[2020-12-09 16:51] hibatallahAouadni commented on #20448
Hello @SD1982

I managed to reproduce your issue with PS1.7.7.0 :sweat_smile: , see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/101659985-f0fa7680-3a46-11eb-9fa2-913eb297c1c3.png)

It should display "Awaiting check payment". I’ll add this to the debug backlog so that it’s fixed.

Thanks!

[2020-12-09 17:04] atomiix commented on #22264
@CJH297 There is no version 1.6.4.4 of PrestaShop 🤔  and there is no file `index.php` in the folder `src/` and its subfolders when you just installed PrestaShop 1.7+. Maybe a third-party module or something else added those `index.php` files?

[2020-12-09 17:09] #9739 closed, assigned to nobody

[2020-12-09 17:25] SimonGrn commented on #22300
Hello,

when I said

I meant the backup you made yourself. As far as I know the module strongly advise you to do so ?
To make a complete backup you need all the files and the database.

This is an Open Source project, meaning everything can and should help. We have limited firepower, we cannot fix everything and test everything, so we warmly welcome any contribution (code, test, documentation, etc

[2020-12-09 17:35] CJH297 commented on #22264
My mistake with typing - I meant 1.7.4.4.  Sorry ... not being careful enough as I type. Could be a module, okay. But the shop did update correctly from 1.7.7 to .8 to .9, with this file there.

I am confused though. From my limited understanding, the path the file was expected to be in is \Controller\Admin\Sell\index but there is no such file there (and shouldn't be from what you suggest). But th

[2020-12-09 17:36] sarahdib opened #22319 "[UI-KIT] - size of searchbox with a research is too small"
#### Describe the bug

 size of searchbox with a research is too small

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admin > modules
2. Search a module
3. See error

**Screenshots**

![Capture d’écran 2020-12-09 à 18 31 02](https://user-images.githubusercontent.com/3034677/101665509-594c5680-3a4d-11eb-96

[2020-12-09 17:56] SimonGrn commented on #22298
Hello @kornwaikas,

we're not really able to reproduce this issue as is. However one of our testers said that she solved a similar issue by changing the browser and going to the settings page in incognito mode.
Can you try, please ?

This bug doesn't seem to be tied to PrestaShop per se, but is more about the browser not recognizing the fields properly and filling them weirdly.

If you're able to

[2020-12-09 18:18] CJH297 commented on #22264
I can update what I wrote and perhaps be clearer why I am confused.

The first error says:

/xxxxxxxxxxxxxxxxx/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 168 - Symfony\Component\Config\Exception\FileLoaderLoadException: Expected to find class "PrestaShopBundle\Controller\Admin\Sell\index" in file "/xxxxxxxxxxxx/src/PrestaShopBundle/Controller/Admin/Sell/index.ph

[2020-12-09 19:09] RayKoni commented on #22288
Problem solved.
I have activated the english language and made it default.
That did the trick.

[2020-12-09 19:09] #22288 closed, assigned to nobody

[2020-12-09 21:08] zuk3975 opened #22321 "Cannot extend CartSummary form in OrderCreate page"
#### Describe the bug

In summary.html.twig the form_rest is missing so when extended, the input renders after submit button.(screenshot1).
Also order creation from a cart summary could be handled by FormHandler, this way taking advantage of form handler hooks

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add ad

[2020-12-09 21:15] Flower7C3 opened #22322 "Error during manual order state change"
#### Describe the bug

When I manually change order state an error occurs:

```[Symfony\Component\Debug\Exception\ContextErrorException kod 0]: Notice: Trying to get property 'id' of non-object```

#### Expected behavior

Method \OrderCore::getCurrentOrderState:
https://github.com/PrestaShop/PrestaShop/blob/cc0fd12edd388805ccd82c6756d0e2f947215aa8/classes/order/Order.php#L2332-L2339 should have fo

[2020-12-09 22:52] Flower7C3 opened #22323 "Unable to open cart: Tools::getAdminTokenLite error"
#### Describe the bug

In file https://github.com/PrestaShop/PrestaShop/blob/cc0fd12edd388805ccd82c6756d0e2f947215aa8/classes/Tools.php#L1360-L1367

value of `$context->employee` should be wrapped in if statement:

[code]

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable `_PS_MODE_DEV_` mode.
2. Go to front office.
3. With multistore add product to cart.
4. Go to cart.
5. See e

[2020-12-10 05:51] jannathretail opened #22324 "Inaccessible BO and FO, after upgrading from 1.7.6.9 to 1.7.7.0"
I started upgrading my Prestashop shop from 1.7.6.9 to 1.7.7.0 using the 1 Click Upgrade module,

While processing both files and database has been successfully upgraded but I received a warning while upgrading modules and it was exhausted memory size, I could not able to take a screenshot at that time

then I have reloaded the page to check whether the BO is working or not but I found out that bo

[2020-12-10 08:29] zuk3975 opened #22325 "Carriers never found for new Order in BO"
#### Describe the bug
Available carrier options not found when  creating order from BO

#### Expected behavior
I expect the list of available carriers to allow finish order creation (because now you cannot progress further and its impossible to create order)

#### Steps to Reproduce

Steps to reproduce the behavior:
Go to Orders > Add new order,
Fill required information (add some products, have a

[2020-12-10 08:43] hibatallahAouadni commented on #22288
Glad to hear :tada:
Thanks @RayKoni for your feedback!

[2020-12-10 08:44] khouloudbelguith commented on #22325
Hi @zuk3975,

I think it is similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/22124 which fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/21568

Thanks to check and feedback.

[2020-12-10 09:09] #21842 closed, assigned to nobody

[2020-12-10 09:09] BaraqdaPL commented on #22300
I think problem with adding pictures to products from BO or missing prestashop module shop, from BO, is not a third party modules installed...
I'm fully appreciated all developers creating this project and I'm far of blaming anyone. I just need to fix it ASAP because this is company brand store and it needs to run 24/7. Now I know, that I shouldn't upgrade to newest version (it was working ok at t

[2020-12-10 09:20] #21836 closed, assigned to nobody

[2020-12-10 09:32] #21843 closed, assigned to NeOMakinG

[2020-12-10 09:35] hibatallahAouadni commented on #9927
Hello,

I managed to reproduce the issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1sJ8bYwIgkvNbGDhCAVrGDfVVCMMO_2ZQ/view

Thanks!

[2020-12-10 09:42] Robin-Fischer-PS commented on #9927
@matks @hibatallahAouadni

I add some info : On develop branch, the "Place order" button is disabled BUT it can be clicked on, and the order is created. So the issue is partly resolved on develop (the button should not be displayed disabled).

[2020-12-10 09:49] hibatallahAouadni commented on #22322
Hello @Flower7C3

I didn't manage to reproduce your issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1Uf2yTmgH3G5R1s69W6CVLkUIQQYe29xU/view

Please check and feedback.

Thanks!

[2020-12-10 09:51] fanny300 opened #22326 "prestashop 1.7.7.0, bug : Installation impossible with different prefix in database"
Hello,

I'm french. I try this morning to install a new prestashop in 1.7.7.0.
On the Installation assistant :
1/ I add the store information.
2/ I defined the parameters of the database and i I change prefix ps in blabla for example.
3/ At "Création de la boutique par défaut et des langues" = Creation of the default store and languages this error :
Impossible de créer le groupe de boutiques / Tab

[2020-12-10 09:53] hibatallahAouadni commented on #22324
Hello @jannathretail

We are aware of this issue. This issue is a duplicate of ##22264.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-12-10 09:53] #22324 closed, assigned to nobody

[2020-12-10 09:53] hibatallahAouadni commented on #22324
Duplicate of #22264

[2020-12-10 09:54] Flower7C3 commented on #22322
@hibatallahAouadni do You have same PHP version?

[2020-12-10 09:54] marionf commented on #20448
@hibatallahAouadni
I am not sure to understand
It's a bug as the payment method should be written on the invoice, not the status of the order

[2020-12-10 09:59] jannathretail commented on #22324
it's not at all duplicate, I am getting a different error and the other side it was different

[2020-12-10 10:00] hibatallahAouadni commented on #9927
Thanks @Robin-Fischer-PS
Yes, the problem is partially resolved, check the screen record below (on develop):
https://drive.google.com/file/d/1fy5KzaOi-iSfUb7C_CfeSU18toSY9Du1/view

[2020-12-10 10:02] hibatallahAouadni commented on #22322
Yes my PHP version is 7.2

[2020-12-10 10:14] hibatallahAouadni commented on #22322
Hello @Flower7C3

Is this the error that you encountred?

![image](https://user-images.githubusercontent.com/23308427/101758564-c48f3a80-3ad8-11eb-8cd3-bb94247e0be7.png)

Thanks for your feedback!

[2020-12-10 10:20] hibatallahAouadni commented on #22321
Hello @zuk3975

@matks said that this is not a bug but it's an improvement.
So, thanks for the suggestion, the Developer Team will take a look.
Please stay tuned !

Ping @PrestaShop/prestashop-core-developers , what do you think about this issue? why when you add additional field in CartSummaryType doesn't show up in the summary block?

[2020-12-10 10:21] zuk3975 commented on #22325
Actually it was caused the fact that Countries of all the addresses were disabled in `International > Locations > Countries`
Once I enable related countries, it works. Sorry false alarm :stuck_out_tongue:

[2020-12-10 10:21] #22325 closed, assigned to nobody

[2020-12-10 10:26] Flower7C3 commented on #22322
No, I have got other message:
[code]

[2020-12-10 10:29] hibatallahAouadni commented on #22322
Hello @Flower7C3

Did you change some Core files? Cause it seems your issue is not related neither to PS version nor PHP version.

Thanks!

[2020-12-10 10:29] marionf commented on #19197
Hello @6xthFNGR

As you can see in the mockup below, it's planned to add the status in the bulk action drop-down.
This way you will be able to delete and also change the status of the selected messages

![capture d'écran_2896](https://user-images.githubusercontent.com/13449658/101760244-ebe70700-3ada-11eb-80ae-f9f0b90deba5.png)

[2020-12-10 10:30] Flower7C3 commented on #22322
I have changed **classes/order/Order.php** file as described in issue description.

[2020-12-10 10:34] hibatallahAouadni commented on #22323
Hello @Flower7C3

I didn't manage to reproduce your issue with PS1.7.7.0 and develop, with PHP v7.2 and PHP v7.3.
See attached screen record below:

https://drive.google.com/file/d/1q530rE7yxYgFpSRmV9MD0CLh9csWUfU-/view

Please check and feedback.

Thanks!

[2020-12-10 10:36] Progi1984 opened #22327 "Remove GridHTML dependency"
#### Is your feature request related to a problem?

[GridHTML](https://github.com/PrestaShop/gridhtml/) is a dependency which should be a library rather than a module.
The hook for using this module is `displayAdminStatsGridEngine`.
Actually, it is not used : http://modok.prestashop.com/api/hooks?name=displayAdminStatsGridEngine.

#### Describe the solution you'd like

Remove it from dependencies

[2020-12-10 10:37] Flower7C3 commented on #22323
You are testing in BO, my problem is in FO. In addition You are using PS 1.7.8.0, while I am using 1.7.7.0.

[2020-12-10 10:38] masiorama commented on #22326
I just tried the same thing (custom table prefix) and in my case it did work correctly, so all the tables are prefixed as I wanted.

[2020-12-10 10:43] #16682 closed, assigned to nobody

[2020-12-10 10:44] hibatallahAouadni commented on #20448
Hello @marionf

the order is not yet paid, so there's no payment method. As you can see the steps:

1. Go to FO and make an order
2. Go to BO => order => order => and select the previously created order
3. Generate an invoice for this order

@SD1982 generate the invoice without payment, that's why I said it's an improvement (it's PrestaShop shortage).
My sugguestion is that if the order status is

[2020-12-10 10:44] #22224 closed, assigned to nobody

[2020-12-10 10:45] hibatallahAouadni commented on #22324
Hello @jannathretail

ok! let's ping @matks is this issue duplate to #22264 ?

[2020-12-10 10:48] Dav1dNL opened #22328 "SmartyException Unable to load template 'module:ps_brandlist/views/templates/_partials/.tpl'"
I get the following error when opening a catagory from the main menu.

![error](https://user-images.githubusercontent.com/45255518/101762152-58630580-3add-11eb-9406-224f17a48663.PNG)

* PrestaShop version: 1.7.7.0
* PHP version: 7.3.18
* MySQL versie: 5.5.41-MariaDB-log
* thema: classic

[2020-12-10 10:50] hibatallahAouadni commented on #22322
Hello @Flower7C3

You shouldn't change any of Core files! If you want to change some behavior of Core, you just need to override the Controller ([see link](https://devdocs.prestashop.com/1.7/modules/concepts/overrides/)).

So, I close the issue cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-par

[2020-12-10 10:50] #22322 closed, assigned to nobody

[2020-12-10 10:56] SD1982 opened #22330 "Order - Email / html tag in the email sent to customer when a product have customisation"
#### Describe the bug

There is html tag in the order confirmation email sent to customer when the order contain a product with customisation

#### Expected behavior

No html tag should be in the mail send to customers
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Setup the smtp parameters to correctly send / receive email
2. Go to FO and crate an order with a customizable product

[2020-12-10 10:56] SD1982 commented on #22330
Ping @hibatallahAouadni I don't know if there is an epic that this issue could be related to ?

[2020-12-10 10:57] hibatallahAouadni commented on #22323
Hello @Flower7C3

Here's the screen record with PS1.7.7.0:

https://drive.google.com/file/d/1vLqEbnfV5QQeS0XySe81qRdKhHfVgB7A/view

As I said above I have tested with both version and I had no error.
Again did you change any of the Core files? if so, please use the override cause **you're not allow to change any of the Core files**, here's the link to learn how to use the [Overrides](https://devdo

[2020-12-10 10:59] Progi1984 commented on #22321
In this case, it's an improvement : it should target the `develop` branch.

[2020-12-10 11:01] hibatallahAouadni commented on #22328
Hello @Dav1dNL

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-12-10 11:01] #22328 closed, assigned to nobody

[2020-12-10 11:05] fanny300 commented on #22326
Hello, ok i have try with the 1.7.6.9 same error.
I have recreate a new database for retest but same bug.
I use php 7.3

[2020-12-10 11:08] masiorama commented on #22326
I use php 7.3 too, apache 2.4 and MySQL 5.7.... maybe you could try to check if your server requirements are met via https://github.com/PrestaShop/php-ps-info, if you haven't tried yet.

[2020-12-10 11:08] marionf commented on #20448
Well, I update the title and the scenario as it wasn't very clear !

My advice is rather to display the payment method selected during the checkout
You can't use the status as you can have a status "payment error" or "on backorder (not paid) and you can't use it in this case to predict the chosen payment method

[2020-12-10 11:26] Flower7C3 commented on #22323
I do not changed core files. I have used overrides directory to fix this problem on my instance. So if error occurs only on my server I will keep this override.
Thanks.

[2020-12-10 11:26] #22323 closed, assigned to nobody

[2020-12-10 11:31] hibatallahAouadni commented on #22321
@Progi1984 shall we add the **`To Do`** label?

[2020-12-10 11:48] hibatallahAouadni commented on #22326
Hello @masiorama

I didn't manage to reproduce your issue with PS1.7.7.0 avec PHP v7.2 and PHP v7.3:

## PS1.7.7.0 with PHP 7.2:

https://drive.google.com/file/d/11MAqNK4qfyaoGTjBfKbHKsNH_s7hh85F/view

![image](https://user-images.githubusercontent.com/23308427/101768228-99f7ae80-3ae5-11eb-9beb-ea5efe5ec4aa.png)

## PS1.7.7.0 with PHP 7.3:

![image](https://user-images.githubusercontent.com/233084

[2020-12-10 11:48] #22326 closed, assigned to nobody

[2020-12-10 11:51] nachaliuga commented on #22302
No :) Atleast i dont think so,you asked if I changed core files, I changed that one :) Im still not sure whats wrong, didint have time to dig deeper

[2020-12-10 11:54] hibatallahAouadni commented on #22327
Hello @Progi1984

Thanks for the suggestion, the Product Team and the Developer Team will take a look :sweat_smile:
Please stay tuned !

Ping @PrestaShop/product-team @PrestaShop/prestashop-core-developers , do you approve to remove this dependency?

[2020-12-10 11:54] masiorama commented on #22326
@hibatallahAouadni ok, but I had no issue, the opener was @fanny300 :)

[2020-12-10 11:57] hibatallahAouadni commented on #21864
Hello @dariusakafest

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-10 11:57] #21864 closed, assigned to nobody

[2020-12-10 12:00] hibatallahAouadni commented on #22326
Thanks @masiorama I edit my comment :sweat_smile:

[2020-12-10 12:27] musicpanda opened #22332 "Same string multiple times doesn't translate"
In my template I have multiple times the string
{l s='proceed to checkout' d='Shop.Theme.Actions'}

There is a translation given in the backoffice. However, this is not visible on the front side.

The only explanation I can think of is that the translation system doesn't know how to handle multiple strings with the same text.

* PrestaShop version: 1.7.6.1

[2020-12-10 12:33] SimonGrn commented on #22332
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-10 12:33] #22332 closed, assigned to nobody

[2020-12-10 12:38] LouiseBonnard commented on #22327
Hi @Progi1984 and @hibatallahAouadni, thanks for your improvement idea. Along with the NVD3 Charts module (graphnvd3 as technical name), GridHTML should be integrated into the core since they are necessary to display tables and charts in the BO. It is non-sense to keep them as options.

[2020-12-10 13:07] radioeventos commented on #22263
If edit a product, carrier price disapear and does not match with payment. Must change by DB. Does not well.
This is a very serious bug for a production version. Rounding does not work correctly either, on the screen the product line shows one amount and the total number of products shows another.

[2020-12-10 13:10] radioeventos commented on #22330
On Bank Wire template on 1.7.7 does not show IBAN and merchant information from module, only shows the short codes to the customers. I have to put the data directly on template.

[2020-12-10 13:16] marionf commented on #9927
@hibatallahAouadni

Could you please edit the first message of the issue to make it clearer with the steps to reproduce the issue, you screenrecord and change the title to describe clearly what is the issue ?

[2020-12-10 13:24] homer8173 opened #22333 "API display=full return only id on 1 item"
#### Describe the bug

when calling API on an item (ex /products/1) if you ask display=full it return only the id

#### Expected behavior

the details of the item

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to https://xxxx.fr/api/products/1563/?ws_key=MYKEY&display=full

#### Additional information

* PrestaShop version: 1.7.7.0
* PHP version: 7.3

[2020-12-10 13:29] radioeventos opened #22334 "BO Persistent cache"
#### Describe the bug

On PS1.7.7. every time I chace of page on BO I have to refres with Ctrl+F5 to update the data. Always show previous version of the page, not the last. Same when chace the sop on multishop or on order list when push reset doesn´t do it. I have to reload with Ctrl+F5 to really reset.

#### Expected behavior

I expect when I pus o menu or other link togo to other page, it show

[2020-12-10 13:41] matks commented on #22324
@hibatallahAouadni I confirm it's 2 different issues.

@jannathretail it seems that something HUGE is trying to be put in memory and this is too much for your shop to handle.

I suggest disabling installed modules one by one and check BO and FO to see if it is one of your module that is eating all this memory. Else you'll need someone to take a look at your shop.

[2020-12-10 13:44] MatShir commented on #22263
@radioeventos could share with us all your steps to produce this bug? We need to be sure your issue is the same as this ticket or related to a new one :smile:

[2020-12-10 13:45] PierreRambaud commented on #22327
As we discussed during a meeting about modules GridHtml is not necessary to display tables in the BO, we already provide a modern Grid system. But it can be used as a dependency like the NVD3 Charts. To be cristal clear, don't use them as a module, but as a composer dependency.

[2020-12-10 13:49] Progi1984 commented on #22321
@hibatallahAouadni Yes

[2020-12-10 13:51] hibatallahAouadni commented on #22300
Hello @BaraqdaPL

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) o

[2020-12-10 13:51] #22300 closed, assigned to nobody

[2020-12-10 13:52] matks commented on #22325
@zuk3975 Would it be useful to display a warning message when this happens?

"Hello, no carriers are available in the country where you want to ship"

[2020-12-10 13:54] SimonGrn commented on #22300
Hello @BaraqdaPL,
sadly your problem seems to be related to your environment. As @hibatallahAouadni said we cannot offer support here, this is not the place.

You can follow the links she posted to get dedicated help, or community help.

Thank you.

[2020-12-10 14:00] ghost opened #22336 "Product Import - Main category deleted after the import"
#### Describe the bug

Hello,

We have an issue on our prestashop (1.7.6.1) : when we import a product with only columns ID & Name, the main category of the product is deleted.

#### Expected behavior

The import should only change the data that are in the csv imported, no other information on the product.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Prepare a CSV to import a pro

[2020-12-10 14:12] NKoonen opened #22337 "/controllers/admin/AdminOrdersController.php gone"
#### /controllers/admin/AdminOrdersController.php gone...

/controllers/admin/AdminOrdersController.php file is gone, either update the docs or get it back.
Example of the hook "actionAdminOrdersTrackingNumberUpdate" still pointing to that file according to the [docs](https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/)

#### Additional information

* PrestaShop version: 1.7.7

[2020-12-10 14:18] BaraqdaPL commented on #22300
To sum up topic problem.
After changing from php 7.2 to php 7.3 I was manage to enter BO. I've spoted some problems with working in BO (I will add new issue in separate topic). There might be a problem with php versions. Just to check, i've switch back to php 7.2.

![image](https://user-images.githubusercontent.com/75696855/101782569-78a0bd80-3af9-11eb-9a99-ac760538715e.png)

BO was working. I cou

[2020-12-10 14:29] hibatallahAouadni commented on #9927
@marionf done :heavy_check_mark:

[2020-12-10 14:31] BaraqdaPL opened #22338 "Not active buttons - adding pictures to a product PS 1.7.7.0 after upgrade"
#### Describe the bug

After updating PS 1.7.6.5 to 1.7.7.0 and switching php from 7.2 to 7.3, in BO i spotted some problems.
My main problem at this point is editing products. Problem is the same if I would like to edit existing product or add a new one.
Buttons are not active. I cannot add any picture, I cannot edit pictures already in the system, cannot drug&drop any picture. I cannot also add

[2020-12-10 14:47] hibatallahAouadni commented on #22327
So, the final decision is to not use the GridHTML as a module, but as a composer dependency. Is that so?

[2020-12-10 14:58] hombean commented on #9589
I think it breaks statistic too....

[2020-12-10 15:08] GSafar30 commented on #22262
Same problem since update to 1.7.7, "Error sending e-mail (response code 220)".
 cannot configure the mails in SMTP because hosting on ionos on a shared server. How to do?

[2020-12-10 15:11] massha opened #22339 "The FR 20 % tax rule is not taken into account."
#### rule tax doesn't work
I set up the FR 20% tax rule for all countries ( taxe rules table)  ( cf screenshot )
Then , on my product page , I set up my price HT , but the price TTC is the same

#### Expected behavior
I am supposed to have 2 differents prices ( 1 HT and the other TTC )

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'product page '
2. Click on 'Price'
3. Click

[2020-12-10 15:14] massha commented on #22339
![image](https://user-images.githubusercontent.com/48324964/101790453-beae4f00-3b02-11eb-80a7-89e572b75ac4.png)

[2020-12-10 15:22] hibatallahAouadni commented on #22324
Hello @jannathretail

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums

[2020-12-10 15:22] Perfecticus opened #22340 "[CO] Unable to change existing CMS Page's category association (EASY FIX)"
#### Describe the bug

Impossible to change CMS Category on a CMS Page

#### Why

Regression introduced in 1.7, in eb4cba2, see https://github.com/PrestaShop/PrestaShop/commit/eb4cba22bd5769a16c147626c5ea9dc53a545f4e#r44998939
assertCmsCategoryExists has **no return statement**
still used in if clause asking for **true**

The AbstractCmsPageHandler.assertCmsCategoryExists() never returns a value.

[2020-12-10 15:31] vavrecan opened #22341 "Connections source / http referrer database index"
#### Describe the bug
PREFIX_connections_source table has index on http_referrer which slows down insert queries and database performance. Dropping this index could increase database performance a lot!

#### Expected behavior

The index on http_referrer is not really needed and if necessary there should be separate table that does not have index on varchar column.

#### Steps to Reproduce

n/a

**

[2020-12-10 15:42] Flower7C3 opened #22342 "Missing translation: Unit discount from ShopThemeCatalog"
#### Describe the bug

Value **Unit discount** from **ShopThemeCatalog** domain is missing for some languages in https://github.com/PrestaShop/TranslationFiles/ files.

#### Expected behavior

Translate string **Unit discount** declared in https://github.com/PrestaShop/PrestaShop/blob/939b866b5ef6060d034a3838adfc77ce6fba7e43/app/Resources/translations/default/ShopThemeCatalog.xlf#L3-L16
in __ShopT

[2020-12-10 15:43] hibatallahAouadni commented on #22333
Hello @homer8173

AFAIK, the use of **`display`** parameter is like mentioned in our [addtional list parameters](https://devdocs.prestashop.com/1.7/webservice/tutorials/advanced-use/additional-list-parameters/#display-parameter)

![image](https://user-images.githubusercontent.com/23308427/101793315-f074e500-3b05-11eb-882e-67894c6e8c3a.png)

So, I beleive with your exemple, you need to use the disp

[2020-12-10 15:47] marionf commented on #9927
Thank you @hibatallahAouadni !

[2020-12-10 15:51] zuk3975 commented on #22325
This wouldn't differ too much from existing message. Maybe its not a problem, merchants might most of the time have correct settings of their countries :man_shrugging:
If we still want to add a message that should mention "International -> Location -> Countries" to make it clear

[2020-12-10 15:52] hibatallahAouadni commented on #22334
Hello @radioeventos

I didn't manage to reproduce your issue with PS1.7.7.0 and develop, see the attached screen record below:

https://drive.google.com/file/d/1A7NvXHxifcOn3K9ZTnWlX_CirPqKOPng/view

Please check and feedback.

Thanks!

[2020-12-10 16:03] SimonGrn commented on #22337
Hello,
please remember that you're talking to real humans. This is an Open Source project with real contributors.

Thank you.

[2020-12-10 16:04] hibatallahAouadni commented on #22337
Hello @NKoonen

Yes, this file has been removed with PS1.7.7.0.
And thank you for pointing to the Docs, we need to update these docs.

Thanks!

[2020-12-10 16:04] #22337 closed, assigned to nobody

[2020-12-10 16:07] hibatallahAouadni commented on #22338
Hello @BaraqdaPL

PLEASE RESPECT OUR TEMPLATE, **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

Please edit your issue, we will be glad to investigate it.

Thanks!

[2020-12-10 16:13] hibatallahAouadni commented on #22342
Hello @Flower7C3

Could you please edit your issue, cause we need these sections (Expected behavior, Steps to Reproduce, Additional information) to reproduce your issue as soon as possible.

We create this template to make it easy for you and for us to handle the issue :smile:

Thanks

[2020-12-10 16:24] hibatallahAouadni commented on #22339
Hello @massha

The price doesn't change
Click on Monaco 20%
The price changes

That's because your default country is Monaco, just change it to France, then check the price :wink:
To change your default country, BO > IMPROVE > International > Localization, then go to Configuration block (see the attached screenshot below):

![image](https://user-images.githubusercontent.com/23308427/101799327-5369

[2020-12-10 16:24] ProteanCode opened #22343 "After upgrade to 1.7.7.0 from 1.7.6.4 a lot of js libraries in admin panel do not load"
#### Describe the bug

Getting this when editing product

[code]

#### Additional information

* PrestaShop version: 1.7.7.0
* PHP version: 7.2

[2020-12-10 16:28] NeOMakinG opened #22344 "[RESPONSIVE - BO] Recommended module and service buttons are useless on mobile"
#### Is your feature request related to a problem?

These buttons on header bar in the BO are useless on mobile and increase the header height which is bad in term of UX

#### Describe the solution you'd like

Hide these buttons on mobile

[2020-12-10 16:31] Flower7C3 commented on #22342
@hibatallahAouadni I have just updated issue description.

[2020-12-10 16:34] hibatallahAouadni commented on #22340
Hello @Perfecticus

I believe what you sugguest is an improvement!
Please edit your issue, **you must follow the template to submit a complete feature report**.

As you can see in the attached screenshot below, click on **Get started** button of **Feature Request**

![image](https://user-images.githubusercontent.com/23308427/101800596-be678100-3b0d-11eb-9e85-83bd5ae04174.png)

Then, we offer you a

[2020-12-10 16:35] ProteanCode commented on #22343
I replaces the whole themes directory from fresh download from the site

[2020-12-10 16:39] matks commented on #22343
We had 2 similar bug reports
- https://github.com/PrestaShop/PrestaShop/issues/22255
- https://github.com/PrestaShop/PrestaShop/issues/22258

We found that each time it was a 3rd party module that introduced the issue. We upgraded jQuery to version 3 in PrestaShop 1.7.7.0 and some modules do not support this (or load jQuery 1 which creates conflicts).

[2020-12-10 16:39] Perfecticus commented on #22340
@hibatallahAouadni, no it's not an improvement, it's a **bug** and **regression**.

The code for the function is there, but the logic is flawed.

[2020-12-10 16:39] BaraqdaPL commented on #22338
Hope now my issue is more clear

[2020-12-10 16:42] PierreRambaud commented on #14086
FYI you can contribute to the DeployerPhp tool if you need specific usecase https://github.com/deployphp/deployer/blob/master/recipe/prestashop.php

[2020-12-10 16:46] ProteanCode commented on #22343
Thanks. Do you know what OOD module is? I cannot find it. I will turn off and on some modules now

[2020-12-10 16:54] hibatallahAouadni commented on #22343
Hello @ProteanCode

Your issue is not related to PrestaShop Core, so I'm closing this issue but you can keep discuss the cause of your problem with @matks here.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one
of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [com

[2020-12-10 16:54] #22343 closed, assigned to nobody

[2020-12-10 16:55] LuigiMdg commented on #15149
I've the same problem, I don't have classic theme, my version is 1.7.6.2.
I've tryed this on 2 servers.
The attributes products links are corrects but when the page is loading PrestaShop will redirect to default attribute's url with js or controller (route)..!
Please solve this problem, this is a very common bug in version 1.7

Best Regards,
Luigi Donato

[2020-12-10 17:00] homer8173 commented on #22333
Hello @hibatallahAouadni
No I'm really saying that display feature is destroying the output of a single object

It's not supposed to work on a single object but if you use it, it hide the object of the api output
Check on your api

[2020-12-10 17:12] matks commented on #22337
See https://github.com/PrestaShop/docs/pull/828/

[2020-12-10 17:15] zuk3975 commented on #22321
well yes, technically its improvement, because previous order page wasn't extendable at all, but it could be considered as a bug too because we didn't apply all our migration conventions which would allow extending part of page as it is described in devdocs. (furthermore there is very little code, but it brings a great value :stuck_out_tongue: )

[2020-12-10 17:17] juraj1000 opened #22347 "Error during upgrade - Maximum execution time of 30 seconds exceeded"
#### Describe the bug
I tried to upgrade from 1.7.6.9 to 1.7.7.0 with the module 1-Click Upgrade and PS generates the error:
Maximum execution time of 30 seconds exceeded

![image](https://user-images.githubusercontent.com/33311857/101805641-469c5500-3b13-11eb-9139-2ea57b0dd16a.png)

#### Additional information
* PrestaShop version: 1.7.6.9
* PHP version: 7.2.32
* 1-Click Upgrade 4.11.0

[2020-12-10 17:18] PierreRambaud commented on #22327
We have to transform the module into a composer dependency yes :+1:

[2020-12-10 17:19] matks commented on #10191
⚠️  it seems old controller is still there!

[2020-12-10 17:19] hibatallahAouadni commented on #22336
Hello @LauSoup

If you import CSV only contains two columns (id_product and name), so it's normal to find that the parent Category is the default category, see the attached screen record below:

https://drive.google.com/file/d/1jz_AMP4J_904uh8Fd_Du9Q2hg5aJqx_2/view

But, in your last screenshot, I've seen that "Jumelles" category is checked!! Did you check it manually?
Please check and feedback.

[2020-12-10 17:19] matks commented on #10192
⚠️ it seems old controller is still there!

[2020-12-10 17:28] ProteanCode commented on #22343
Okay so I had a problem that something loaded a jquery 1.11 in admin panel from /js/jquery/jquery-1.11.min.js

I was greping the whole project for files that contain it and did a lot just to give up and rename the file to something meaningless

The UI changed a little after that but seems to be working... the (*!&@

[2020-12-10 17:28] SlaVkos opened #22348 "Fuzzy Search - not working"
Hello,
I updated my PS from 1.7.6.4 to 1.7.7.0. When i check fuzzy search i saw that she not working. In options (Preference -> Search) fuzzy search IS ON. My shop is cover4u.pl. Please help.

[2020-12-10 17:35] radioeventos commented on #22263
![image](https://user-images.githubusercontent.com/5453650/101808114-3639a980-3b16-11eb-87a3-61886458b6b2.png)
![image](https://user-images.githubusercontent.com/5453650/101808217-5c5f4980-3b16-11eb-8a8c-f481d8e79f9c.png)
![image](https://user-images.githubusercontent.com/5453650/101808341-857fda00-3b16-11eb-931c-592d9fb04d03.png)

[2020-12-10 17:35] ProteanCode commented on #22255
For tryharders - rename the jquery-1.11.min.js in /js directory to jquery-1.11.min.js-juck-fquery

A way around tons of plugins that may be faulty or not

[2020-12-10 17:36] Jojo-Kaly commented on #22275
Does anyone have any ideas on how to fix this error ?
Thank you.

[2020-12-10 17:40] Prestaplugins commented on #22303
My exact scenario is that you get loyalty rewards for your orders. You can exchange your rewards with gift products, and you can order these products when you want, no need to order anything else. So it requires the ability to have empty cart containing only gift products.

I really think it's not that complicated to make it work properly. A gift product is already a product + a voucher, in the ca

[2020-12-10 17:59] radioeventos commented on #22334
Example:
I try to change the shop:
![image](https://user-images.githubusercontent.com/5453650/101809442-da702000-3b17-11eb-9b61-4a639d2f5466.png)
But does nothing:
![image](https://user-images.githubusercontent.com/5453650/101809537-f96eb200-3b17-11eb-9b49-2190c9d6ef12.png)
I have to refresh with trl+F5 to make a change:
![image](https://user-images.githubusercontent.com/5453650/101809717-2e7b0480

[2020-12-10 18:36] massha commented on #22339
Thanks a lot !!
now I have differents prices HT and TTC
[image: image.png]

But I still have my issue with the tax.
I mean , with a monegasque address => no tax
[image: image.png]

With a french one => tax
[image: image.png]

And I'm supposed to have tax also in Monaco

Le jeu. 10 déc. 2020 à 17:24, Hibatallah Aouadni <notifications@github.com>
a écrit :

[2020-12-10 18:50] madito opened #22350 "Error backend menu after upgrade 1.7.7.0"
#### Describe the bug

After upgrade the menu of bakend is missing.

Error log:

Notice en línea 2083 en archivo [PATH_PRIVATE]/classes/controller/AdminController.php
[8] Undefined index: enabled

request.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\MethodNotAllowedHttpException: "No route found for "GET /configure/advanced/employees/toggle-navigation": Method Not Allowed (

[2020-12-10 19:00] SimonGrn commented on #22348
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-10 19:00] #22348 closed, assigned to nobody

[2020-12-10 19:03] SimonGrn commented on #22347
Hello @juraj1000,

your server seems to be under-dimensioned (it takes too long to extract the Zip). You should check if you can upgrade it. So far this is not related to a problem in the Core of PrestaShop.

You can alternatively try to set up a bigger limit for PHP by setting up [set_time_limit](https://www.php.net/manual/fr/function.set-time-limit.php) in you PHP configuration.

Thank you.

[2020-12-10 19:03] #22347 closed, assigned to nobody

[2020-12-10 19:04] #22350 closed, assigned to nobody

[2020-12-10 19:04] SimonGrn commented on #22350
Duplicate of #22250

[2020-12-10 20:24] joaolago1113 commented on #9891
This issue persists if the scenario laid out by the original poster is to do with any other field other than DNI.
If I make the phone_mobile required in Customer -> Addresses, and I leave out phone_mobile from some country's form, the checkout cart will keep asking me for the cellphone number while not providing a field to fill it out.

![editphone](https://user-images.githubusercontent.com/228206

[2020-12-10 21:42] SlaVkos opened #22351 "Fuzzy Search - not working"
**#### Describe the bug**

After update PS from 1.7.6.4 to 1.7.7.0 i saw that fuzzy search not work.

**#### Expected behavior**

I was expecting fuzzy search to work when turned on in settings

**#### Steps to Reproduce**
N/A

**Screenshots**

![obraz](https://user-images.githubusercontent.com/75788592/101833130-cee12100-3b38-11eb-877a-966f32ed2a45.png)
![obraz](https://user-images.githubusercont

[2020-12-10 21:53] Arman-Hosseini commented on #22065
Hey @hibatallahAouadni,
Sorry for delay.

In fact, it does not logically cause bugs.
This will only improve the user experience.

[2020-12-10 22:01] Fixmetal commented on #22108
me too

[2020-12-10 22:30] matks commented on #22108
From the error it seems to be an issue that is triggered when prestashop tries to displays products in a specific currency, and it fails because it does not know how to display it following the currency rule.

@Fixmetal @Tibase can you tell us what currencies are enabled on your shops?

[2020-12-10 22:35] Fixmetal commented on #22108
As for me it's just €. I'm suspecting something went wrong during the 1.7.6.9=>1.7.7.0 upgrade. I have at least 2 other bugs that I can't seem to find here on github. RIght now I'm downgrading, but boy we did modifications meanwhile.

[2020-12-10 23:42] mrl22 opened #22352 "Product features without a feature ID duplicate on their own"
#### Describe the bug

If you add feature to a product and do not select a feature from the "choose a feature" list, it will save fine. Every time you save the product going forward it will duplicate that feature over and over. You can not edit or remove these duplicated features and the only way to fix is to delete the product and start again. Tested with all modules and overrides off.

#### Expe

[2020-12-11 00:18] mrl22 commented on #22352
My quick hack for this:

I added the following code to the top of FeaturesCore::addFeaturesToDB function:

`if ($id_feature < 1) {
    $features = FeatureCore::getFeatures(2);
    $id_feature = $features[0]['id_feature'];
}`

This forcing any saved features to use the first dropdown feature in the database. Not the perfect solution, but something needed to be done as my client is having to delete

[2020-12-11 00:49] mrl22 commented on #22352
On further investigation to fix this properly. When adding a feature without a selected feature (id_feature) it adds a value of 0 to the `id_feature` column in the `ps_feature_value` table.

The problem with this is that the `getFeature`, `getFeatures` and I guess other functions throughout the platform runs an SQL query which left joins the `ps_feature_shop` on `ps_feature_value.id_feature = ps_f

[2020-12-11 01:07] Kreysh opened #22353 "Error in Checkout after Upgrade from 1.7.6.7 to 1.7.7 INTL_IDNA_VARIANT_UTS46 not defined"
**Describe the bug**

After the update any attempt to enter an order or payment ends with a page on this error shown below.

Error in: /order page

My current PHP version is 7.1, I tried 7.2 and 7.3 without success.
I assume this is an error in the update, it was previously updated from PrestaShop 1.6

**Steps to Play**

Update prestashop from version 1.7.6.7 to 1.7.7

![imagen](https://user-image

[2020-12-11 01:34] #22353 closed, assigned to nobody

[2020-12-11 01:34] Kreysh commented on #22353
SOLVED - Just need a new library

[2020-12-11 05:27] jannathretail commented on #22324
Thank you @matks  and @hibatallahAouadni, will check by disabling modules one by one

[2020-12-11 08:10] camlafit opened #22354 "Provide Order/Cart/SAV HelperList on AdminCustomer page"
#### Is your feature request related to a problem?

On some shop we have some customer with many order every day, in this case order list count in thousand. Shop provide a B2B reseller service and in this case order are done every day for them.
When order list is too huge we can't display any information (timeout or memory leak).

#### Describe the solution you'd like

Solution could be provide en

[2020-12-11 08:22] PierreRambaud commented on #22341
There is an index on this field because it's used in `getOrderSources`, if we remove the index, we'll slow the select query.
Could you provide us a bench with/without the index in the table, and with/without a ton of data?

[2020-12-11 08:25] florine2623 commented on #22352
Hi @mrl22 ,

Thanks for the report.
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #16306.
To be informed when it's fixed, please subscribe to the issue mentioned above.
If you have the solution, you could create a PR, and I'll link it t the original issue.

Thanks!

[2020-12-11 08:25] #22352 closed, assigned to nobody

[2020-12-11 08:40] fanny300 commented on #22326
Hello,
Thanks all, sorry for the incomplete debug, i will do best the next time.
I have tried to install in a new folder, today, it work. Strange but there is a bug on the first folder. I close the issue.

[2020-12-11 08:50] florine2623 commented on #22352
Duplicate of #16306.

[2020-12-11 09:02] #19212 closed, assigned to nobody

[2020-12-11 09:02] khouloudbelguith commented on #19212
Duplicate of #16306

[2020-12-11 09:18] hibatallahAouadni commented on #16306
Hello @marionf

Well, the 3 use cases that you asked for as an improvement, they are not yet fixed/applied with PS1.7.7.0.
And for the bug, following your steps to reproduce the issue, I managed to reproduce it with PS1.7.7.0.

Thanks!

[2020-12-11 09:20] muyncky commented on #14086
@PierreRambaud I will contribute, when I have something that works.

[2020-12-11 09:25] NeOMakinG opened #22355 "[RESPONSIVE - BO] Breadcrumb is useless and increase height on mobile"
#### Is your feature request related to a problem?

Breadcrumb is useless and increase height on mobile

#### Describe the solution you'd like

Remove breadcrumb on mobile

[2020-12-11 09:40] marionf commented on #9891
Hello @joaolago1113

This issue is closed, please open a new issue and fill the template to describe your issue

Thank you

[2020-12-11 09:41] NeOMakinG opened #22357 "[RESPONSIVE - BO] Gamification icon on menu in BO isn't usefull on responsive mobile view"
#### Is your feature request related to a problem?

Gamification icon is pretty useless on mobile as you want to focus on seeing important information and do some quick stuff

#### Describe the solution you'd like

Hide gamification icon on header

[2020-12-11 09:52] prestascott opened #22358 "[EPIC] - Responsive in the back office"
PrestaShop back office responsive must be improved and some components need to be fixed.

### Removing components

### Improvements
- [ ] https://github.com/PrestaShop/PrestaShop/discussions/32280

### Bugs
- [x] #25198
- [x] #26634
- [ ] #25796
- [x] #27256
- [x] #28064
- [x] #29507
- [x] #30976
- [x] #32573

## Fixed

### Removing components
- [x] #22357
- [x] #22344
- [x] #22355
- [x] #22361
-

[2020-12-11 10:18] florine2623 commented on #22351
Hi @SlaVkos ,

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

Fuzzy search is working correctly :
![Capture d’écran 2020-12-11 à 10 56 11](https://user-images.githubusercontent.com/16019289/101890990-c07b1f80-3ba1-11eb-9600-4281bebc

[2020-12-11 10:18] #22351 closed, assigned to nobody

[2020-12-11 10:24] Hlavtox commented on #22319
@sarahdib Why is it bad? If it's full width, user who does not use his _enter_ key has to move his mouse far right.

And I have never searched more than 1 word on module page...

[2020-12-11 10:28] Gerardlc opened #22360 "Docker compose not working on 1.7.7.X"
#### Describe the bug

docker-compose up gets stuck

#### Expected behavior

Finish the"docker-compose up" process successfully

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Clon Prestashop repo
2. execute docker-compose up
3. Wait
4. Get stuck on
[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/5434642/101893156-a68f0c00-3ba4-11eb-936d-59f79760a034.png)

[2020-12-11 10:33] atomiix commented on #22275
@Jojo-Kaly I'm still trying to figure this out. The first installation of your shop was on version 1.7.6.3 or you already did an upgrade before?

[2020-12-11 10:35] NeOMakinG opened #22361 "[RESPONSIVE - BO] Content on pages sometime has paddings, sometime not"
#### Describe the bug

Some pages have some paddings on content, sometime not, also it happens that some pages have padding on certain content, but not on others, this is way too inconsistent

#### Expected behavior

Having the same padding everywhere, to be consistent.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to theses pages
![image](https://user-images.githubusercontent.

[2020-12-11 10:35] SimonGrn commented on #22343
Hello @ProteanCode,
It's from one of your installed modules. You can try disabling them one at a time to see which one is causing your issue.

[2020-12-11 10:40] hibatallahAouadni commented on #9625
Hello,

I managed to reproduce the issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1ipT1J61rBcJcQ4l7hVBwM3jUkyJmmBCB/view

I edited the original issue description.

Thanks!

[2020-12-11 10:48] Progi1984 commented on #22203
Fixed by #22289

[2020-12-11 10:48] #22203 closed, assigned to Progi1984, kpodemski

[2020-12-11 10:53] hibatallahAouadni commented on #15383
Hello,

I managed to reproduce the issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1LhaGR121ry3-feksmasXIxYFO7W4m1GO/view

Thanks!

[2020-12-11 10:53] florine2623 commented on #22339
Hi @massha
Can you answer via GitHub directly and not by email ?
The images you sent can't be seen.
Thanks

[2020-12-11 10:56] #22360 closed, assigned to nobody

[2020-12-11 11:01] hibatallahAouadni commented on #11882
Hello @jolelievre

Could you please specify if this ticket is an Epic or an improvement?
If it is an Epic, I believe it's better to list some issues related to this Epic :sweat_smile:

Thanks!

[2020-12-11 11:03] LauSoup commented on #22336
Hello @hibatallahAouadni,

Thanks for your answer :)

My issue is not on the "left part" of the categories, but on the main category part :
![image](https://user-images.githubusercontent.com/60292126/101895867-6467c980-3ba8-11eb-88f8-9876d401a6b8.png)

The categories themselves are still checked (which is good), but the main category always go back to "all products" instead of staying on the one c

[2020-12-11 11:09] ProteanCode commented on #22343
It's actually not. The PHP Media.php class is a core object and it does have getJqueryPath method (returns 1.11) that is used by other modules, but this is not modules fault. This is a breaking change that should be adressed since it can break like half of existing PS instances.

If prestashop allows to include a jq1, then they say "oh its external module fault, turn it off" and effectively **the

[2020-12-11 11:19] massha commented on #22339
Thanks a lot !!
now I have differents prices HT and TTC
![image](https://user-images.githubusercontent.com/48324964/101897498-ed800000-3baa-11eb-9694-815e2876770b.png)
But I still have my issue with the tax.
I mean , with a monegasque address => no tax
![image](https://user-images.githubusercontent.com/48324964/101897532-fcff4900-3baa-11eb-9888-4f9d7127c9a0.png)
With a french one => tax
![image](h

[2020-12-11 11:52] SimonGrn commented on #22343
This is concerning, I'm asking the developers to make sure this is a real problem in the Core.

I'm following the issues created and I can't remember seeing this before (I might have missed it), that's why I used this answer which worked previously 100% of the time, as @matks said.

Yes, this is a good idea. If you feel like helping the project, feel free to make a Pull Request to improve it ! Thi

[2020-12-11 12:21] ProteanCode commented on #22343
I do understand what and how open source works with all its pros and cons, but I really would wish that a stable release would be more stable while in fact the most stable release seems to be master/develop branch where all fixes goes in the fastest possible way.

Prestashop is semi-opensource because of the official marketplace with addons that cuts at least 30% of profits (w/o taxes) from sells.

[2020-12-11 12:49] SimonGrn commented on #22343
A stable release is as stable as it can be, given the ressources attached to it. We have 4 testers, who spent the last TWO MONTHS breaking every release candidate. This is huge, given the size of the company and the size of the dev team (10 developers).
Adopting a faster release cycle would not be the best idea as a lot of people (and I mean a lot) don't upgrade, w/e the context. We have already a

[2020-12-11 13:02] SimonGrn commented on #22360
Hello @Gerardlc, why did you close this issue ? Did you find a solution ?

Thank you

[2020-12-11 13:08] NeOMakinG opened #22364 "[RESPONSIVE - BO] Order status pan on order view is overflowing his container"
#### Describe the bug

When you're on order view, status pan is too wide, it should be set as overflow scroll

#### Expected behavior

It should be set a overflow scroll

* PrestaShop version: develop
* PHP version: N/A

[2020-12-11 13:31] SimonGrn commented on #22353
Hello @Kreysh,

thank you for your issue and your comment about the resolution, happy to hear it's working now.

[2020-12-11 13:40] MathiasReker opened #22366 "Wrong display of characters in headings backoffice"
#### Describe the bug

Headings in PrestaShop BO is using font: **ubuntu-condensed_latin**

The version of the font, by PrestaShop 1.7.7 is **1.43.0**

This version does not include all polish characters. These are missing: ń ę ą ć ź ż

This cause a fallback to an other font.

The font must be updated to newest version: https://libraries.io/npm/@openfonts%2Fubuntu-condensed_latin/1.44.2

#### Addi

[2020-12-11 13:46] fire2 commented on #22215
Same issue here. I had no errors during upgrade.
It happens also on new orders with old addresses, with no "company" in the address, for example. Very annoying. Can't open the order and can't open the address either.

[2020-12-11 13:58] hibatallahAouadni commented on #18674
Hello @Hlavtox ,

1. I managed to reproduce the issue with PS1.7.7.0 and ps_facetesearch disabled, see the attached screen record below:

https://drive.google.com/file/d/1MXS_4lVKBxQJtRiJ2AZobdh4VOaAthLZ/view

2. PS1.7.7.0 and ps_facetesearch enabled v3.6.0, the products disappeared :sweat: :

https://drive.google.com/file/d/1LnuQOz8-PkZb__hzmEukqBXHQ2n1AcpD/view

This one, I didn't managed to rep

[2020-12-11 13:58] florine2623 commented on #22366
Hi @MathiasReker ,
Thanks for the report.

There's indeed an issue in some area in the BO.
Example in dashboard :
![Capture d’écran 2020-12-11 à 14 48 12](https://user-images.githubusercontent.com/16019289/101911888-48245680-3bc1-11eb-98e1-02e4652ed763.png)

Please stay tuned !

[2020-12-11 14:01] juraj1000 opened #22368 "Format for amount with currency"
#### Is your feature request related to a problem?
It is possible in PS 1.7.7.0 to define format for amount with currency in customizing for currencies, like 14,251,999.42 € or 14,251,999.42 €. It means that digit grouping symbol is comma "," and decimal separator is dot ".". But there is also used digit grouping symbol blank space " " with decimal separatator comma "," or dot ".". It should be us

[2020-12-11 14:07] agroundworld commented on #22263
I don't know much about the specifics of how this is coded to work, but if it is heavily situation dependent with many unknowns, you might consider an option to allow the end user to decide whether or not the price needs updating based off the changes they are making.

[2020-12-11 14:12] MathiasReker commented on #22366
Thanks @NeOMakinG :-)

[2020-12-11 14:13] NeOMakinG commented on #22366
You're welcome!

[2020-12-11 14:17] NeOMakinG opened #22370 "[RESPONSIVE - BO] form-control-label has a padding on mobile causing wront styling"
#### Describe the bug

Every .form-control-labels got padding-left on mobile, causing form elements not being aligned with it

#### Expected behavior

Not having any padding-left

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Configurations pages, wherever you've a form, on mobile view

**Screenshots**

![image](https://user-images.githubusercontent.com/14963751/101913955-fd5

[2020-12-11 14:19] arisschl commented on #21910
Issue is solved by [#13804](https://github.com/PrestaShop/PrestaShop/pull/13804)

[2020-12-11 14:20] BaraqdaPL commented on #22338
Any idea what have happened?

[2020-12-11 14:25] florine2623 commented on #22368
Hello @juraj1000 ,
It is already a possibility and it depends on the language used. You can choose the format and the digit grouping symbol.
Example for FR :
![Capture d’écran 2020-12-11 à 15 22 56](https://user-images.githubusercontent.com/16019289/101914599-c9311d00-3bc4-11eb-9564-2c721c562aec.png)

Example for UK :
![Capture d’écran 2020-12-11 à 15 23 03](https://user-images.githubuserconte

[2020-12-11 14:49] Hlavtox commented on #18674
@hibatallahAouadni @PierreRambaud @marionf

Just reproduced it on clean Prestashop 1.7.7.0 and Faceted search 3.6.0. Order of products is absolutely random, if they have samy quantity or price.

You cannot see some products and you see some of them multiple times. This is an absolute conversion killer. If this is not critical, it's major at least... 😞

https://drive.google.com/file/d/1Uga47_vp1T7i

[2020-12-11 14:50] hibatallahAouadni commented on #9822
Hello @marionf

I didn't manage to reproduce the issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/12krRPjqKTToHxSY_NonC7zmCktlvF-CF/view

I'm closing this issue.

Thanks!

[2020-12-11 14:50] #9822 closed, assigned to nobody

[2020-12-11 14:53] Hlavtox commented on #22358
![130543909_182150926949443_5014059244389384075_n](https://user-images.githubusercontent.com/6097524/101917866-fc75ab00-3bc8-11eb-9af0-7cf9afdcfdf7.jpg)
I would start with this 😄

[2020-12-11 14:53] ttoine commented on #22343
Hello, you are not respecting the Code of Conduct of the project. Plus, you are off topic and agressive with your last comment. That's why this issues has been closed, I hope that you guessed it.

The PrestaShop software is indeed a true open source project (there is no proprietary derivative and no restriction to use) and the PrestaShop Company is indeed the most important contributor to this pro

[2020-12-11 14:55] radioeventos commented on #22263
The final decision on prices is of the merchant, who has to square accounts between what is paid by the customer and the final order. If item prices can be changed, why is the carrier price automatic?
If you design a store without the trader's point of view, we go wrong. There are many circumstances by which an order may have to be changed:
Having to exchange one product for another, having to add

[2020-12-11 14:57] fire2 commented on #22262
Same problem here... pretty messed up that this breaks without notice.
Where is the "send" email configured now with sendmail?

[2020-12-11 14:59] hibatallahAouadni commented on #18674
@Hlavtox I will try it with your currency

[2020-12-11 15:06] NeOMakinG commented on #22358
@Hlavtox already done #22364

[2020-12-11 15:26] Hlavtox commented on #22358
@NeOMakinG Nice!!!

Btw, what about implementing a globally available mobile version of tables, as it is in legacy controllers? It worked much better on small devices, without having to horizontally scroll.

[2020-12-11 15:29] NeOMakinG commented on #22358
@Hlavtox We're currently thinking about a mobile table version, it's a WIP...

[2020-12-11 15:30] Hlavtox commented on #22358
@NeOMakinG Good! Tables are always trouble 😄

[2020-12-11 15:37] florine2623 commented on #22339
Hello again @massha ,

You need to create a tax rule of your TAX (ex 20%) for all countries :
![Capture d’écran 2020-12-11 à 16 28 59](https://user-images.githubusercontent.com/16019289/101922191-1796e980-3bce-11eb-8c21-965379765f60.png)
Set the correct tax to the product :
![Capture d’écran 2020-12-11 à 16 29 08](https://user-images.githubusercontent.com/16019289/101922205-19f94380-3bce-11eb-

[2020-12-11 15:37] #22339 closed, assigned to nobody

[2020-12-11 15:46] khouloudbelguith opened #22372 "BO - Import page - There is no option "Delete all stores before import" but the alert about accepting the delete is required"
#### Describe the bug

In the BO > Import page > when we select "Stores contact", there is no option "Delete all stores before import", but when we click on the "Next step" button, the alert  Are you sure you want to delete this entity: store contacts?" is displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Advanced Parameters > Import page
2. The Category option is

[2020-12-11 15:51] JeffreyDracoon commented on #22262
i also have this problem

Error: Please check your configuration Expected response code 220 but got an empty response

[2020-12-11 15:58] florine2623 commented on #22236
Hello @okom3pom ,

Could you confirm @khouloudbelguith 's comment ?
If your issue is a duplicate I will close this issue, and we will focus on #21565.
If it's not a duplicate, please specify what issue you are having !

Thanks!

[2020-12-11 16:31] ttoine commented on #22263
Hello, some people in this discussion are not respecting the Code of Conduct .
Please calm down, being friendly and respectful is the key. Nobody want to work with agressive people.

[2020-12-11 16:42] Angar90 opened #22374 "[PrestaShop 1.7.7.0] I can't reset password in the frontoffice"
#### Describe the bug

In PrestaShop 1.7.7.0 when, I try to reset a customer password I see the error "An error occurred while sending the email."
To be sure that this is not a server problem I tested it on the same server with the same settings in PrestaShop 1.7.6.8 and everything is ok in this version, so this problem only occurs in version 1.7.7.0
I tested this with the "classic" theme in a cle

[2020-12-11 16:42] hibatallahAouadni commented on #9897
Hello @marionf

I didn't manage to reproduce the issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1DtVwY73wwbnG5IkT6JKE69sFuyaukYxf/view

I even add another a specific price to the same customer John Doe, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/101929932-c1c73f00-3bd7-11eb-9529-c622ebefd4d5.png)

So

[2020-12-11 16:42] #9897 closed, assigned to nobody

[2020-12-11 16:48] florine2623 commented on #22374
Hello @Angar90 ,
I can't reproduce your issue :
![Capture d’écran 2020-12-11 à 17 46 52](https://user-images.githubusercontent.com/16019289/101930768-deb04200-3bd8-11eb-964d-665f6e1e119f.png)

Please check in Advanced Parameters > Email and check your configuration to see if emails can be sent :
![Capture d’écran 2020-12-11 à 17 47 35](https://user-images.githubusercontent.com/16019289/1019308

[2020-12-11 16:48] #22374 closed, assigned to nobody

[2020-12-11 16:56] hibatallahAouadni commented on #18674
Sorry @Hlavtox even after installing the Czech republic, I didn't manage to reproduce it :sweat:
On your test website, I managed to reproduce but the problem is at first, there's no product with name **Product 20**, after filtering this product appeared!!!

[2020-12-11 17:12] Jojo-Kaly commented on #22275
Hi Atomiix ! I already did an upgrade before, but I don't remember what was my first Prestashop version.

[2020-12-11 17:35] Stampa-Stampa commented on #22262
I am not sure it will help but i couldn't even setup my own smtp. The browser i was using was firefox and what i realised was that the browser somehow was changing the pass according to an autoregistry without me noticing it, and i got a break when i tried the same with a chrome.

[2020-12-11 17:41] mahdimedia opened #22375 "Three digits after the comma"
hello

Comic problem in all previous releases
In the currencies of Arab countries, three digits are used after the comma
But the problem has not been solved yet

**Screenshots**

https://snipboard.io/xVcrEQ.jpg

#### Additional information

* PrestaShop version: 1.7.7
* PHP version: 7.3

[2020-12-11 17:49] reidlightning opened #22377 "personal_information.html.twig cannot be overridden without blocks"
#### Is your feature request related to a problem?
When attempting to use a module to override the twig:
src/PrestaShopBundle/Resources/views/Admin/Sell/Customer/Blocks/View/personal_information.html.twig

Symfony complains that the file to be overridden must contain {% block %} elements.
personal_information.html.twig doesn't have any {% block %} elements to override.

#### Describe the solution

[2020-12-11 18:44] radioeventos commented on #22263
Please calm down, being friendly and respectful is the key. Nobody want to work with agressive people.

Very interesting your contribution. Look at another wonder of the new version when I try to write down a refund of a payment:
![image](https://user-images.githubusercontent.com/5453650/101942063-3656a980-3be9-11eb-9668-ad45dec836e7.png)

[2020-12-11 18:49] Kerami82 commented on #22253
Hello. I have the same problem. I had this problem also when upgrade to 1.7.6.8 and now when upgrade to 1.7.7.0.
![composer1](https://user-images.githubusercontent.com/37613614/101942560-04921280-3bea-11eb-91ad-2943ad7e0bf2.jpg)
<img width="929" alt="composer" src="https://user-images.githubusercontent.com/37613614/101942562-065bd600-3bea-11eb-9919-8d29f4e03f1b.png">

[2020-12-11 18:58] Kerami82 commented on #22253
Can I copy this files from orginal package of prestashop 1.7.7.0 to my composer folder? or it doesn`t help?

[2020-12-11 19:49] peskajan commented on #12257
I have the same issue in 1.7.3.1 - I create a simple combination (two) for a product and everything works in the shop, but when I go to that product again combinations are not loaded and I get 500 in the console
![image](https://user-images.githubusercontent.com/3920837/101948300-137cc300-3bf2-11eb-976a-e316bdf567a3.png)

Here is my setup info:
![image](https://user-images.githubusercontent.com/39

[2020-12-11 19:52] peskajan opened #22381 "Prestashop 1.7.3.1 - Simple combinations not loaded in admin"
#### Describe the bug

I have an issue in 1.7.3.1 - I create a simple combination (two) for a product and everything works in the shop, but when I go back to that product again combinations are not loaded and I get 500 in the console
![image](https://user-images.githubusercontent.com/3920837/101948300-137cc300-3bf2-11eb-976a-e316bdf567a3.png)

Here is my setup info:
![image](https://user-images.gi

[2020-12-11 19:54] peskajan commented on #12257
As I was not able to open this issue, I created a new one - https://github.com/PrestaShop/PrestaShop/issues/22381

[2020-12-11 19:58] radioeventos opened #22382 "Money Refund not alowed: "Invalid value: Payment must be a positive amount.""
#### Describe the bug

Negative amounts are not allowed on payments made. You cannot write down full or partial refunds of money.

#### Expected behavior

How save a refund without negative amount?

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Order detail'
2. Apply an discount or free shipping (when a same customer make 2 orders for the same adrees)
3. Go to 'Payments' and

[2020-12-11 20:57] adriacobo commented on #18300
Just the same error like you... after understand/debug what the hell was happening I could find the exact words to find your solution.
Applied and all working, changing ob_clean to ob_end_clean solve the problem. I couldn't get why the function was returning a 0 array.
You save me!! Thanks!

[2020-12-11 21:58] Hlavtox commented on #18674
@hibatallahAouadni Your bug fixing computer again 😄😄

Yeah, sometimes you just miss some products at all... :(

[2020-12-12 01:04] macavelli commented on #12113
I have the same problem with presta 1.7.7 after I updated from 1.7.6. The problem is that when I try to translate my new theme it stores values in database with wrong chars, e.g. "TwĂłj adres email" while on the backend I write "Twój adres email". It coverts ó into Ăł and then on the website it displays it from database as "Ăł", which is wrong as I wanted to have "Twój".

Then I can make it correc

[2020-12-12 01:41] kalukramer opened #22383 "Specific price date format error"
#### Describe the bug

When I select a specific price on a product the prestashop automatic change the date form, from YYYY-MM-DD to DD/MM/YYYY and give an Error "The from/to date is invalid."
I have chenge the date format in language for the correct format, this stop working after change language to Portuguese

#### Expected behavior
Make a promotion (All versions of prestashop don't show to clie

[2020-12-12 10:42] kazz3m opened #22385 "[1.7.6.8] API/Webservice - add category"
Hi, have problems with add category via api 

```curl -v https://XXXXXX@XXXX.XXX/api/categories -X POST --data '<?xml version="1.0" ?><prestashop><category><date_add></date_add><link_rewrite><language id="1">udzielenie-upustu</language><language id="2">udzielenie-upustu</language><language id="3">udzielenie-upustu</language></link_rewrite><meta_title><language id="1">Udzielenie upustu</language><l

[2020-12-12 12:12] SimonGrn commented on #22383
Hello @kalukramer,

the datepicker you show on your screenshot is not the correct datepicker from PrestaShop (it looks like the jQueryUI one here). You may have a module that integrate a datepicker and this module breaks the official datepicker.
Try to disable your 3rd party modules one at a time to see if you can get the normal datepicker.

[2020-12-12 12:26] kalukramer commented on #22383
WRong... This is a fresh instalation, don't have any 3th part module and use the classic theme too.
Note this is the 1.7.7 and I don't have install module yet this instslation have 3 days only.

[2020-12-12 12:30] mvanas opened #22386 "After upgrade to 1.7.7 clicking on any order in BO result in a symfony error - OrderShippingAddressForViewing construct must be of the type string, null given"
#### Describe the bug

After update to 1.7.7. When clicking on an order in BO an error is the following error is received:
Type error: Argument 6 passed to PrestaShop\PrestaShop\Core\Domain\Order\QueryResult\OrderShippingAddressForViewing::__construct() must be of the type string, null given, called in /home/clients/de1d841a007f7bf58025eade33ee48e1/sites/dv0.zionburg.ch/src/Adapter/Order/QueryHand

[2020-12-12 12:39] kazz3m commented on #22385
Fixed. Have same group for guest and visitor.

[2020-12-12 12:39] #22385 closed, assigned to nobody

[2020-12-12 13:23] beve commented on #22302
Same error here.

[2020-12-12 13:51] SimonGrn commented on #22383
I understand. Can you try to quit the welcome module (Click on the button on the bottom left) ?
By the way I hope this is not a screenshot of your production shop because you showed everybody your admin url.

[2020-12-12 13:55] SimonGrn commented on #22383
OK so I tested on [demo.prestashop.com](http://demo.prestashop.com/) (you can try yourself) and I don't reproduce, so I'm pretty sure this is not a "fresh install". You can see for yourself:
![image](https://user-images.githubusercontent.com/49909275/101985726-07dcdb00-3c8a-11eb-8e24-030a91dc5b30.png)

Something is messing up your datepicker by including the jQueryUI one instead of the official fr

[2020-12-12 14:39] kalukramer commented on #22383
Nope wrong again, if you read again you will see, this appened after I change language to Portugese, in demo site you can't change the language.

And NO that address not exist. :) .... you can try acess. is a Sandbox with one IP conection

[2020-12-12 15:02] SimonGrn commented on #22383
I'm sorry, I'm reading the "steps to reproduce" again and I don't see where you say we need to change the language ?
I'm providing a screenshot :
![image](https://user-images.githubusercontent.com/49909275/101987083-2fd03c80-3c92-11eb-93ae-9031144ddf32.png)

You need to be very specific and exhaustive. If you're skipping steps, we can't work correctly.

If you're talking about this line:

I didn't

[2020-12-12 15:03] #22383 closed, assigned to nobody

[2020-12-12 15:04] ioweb-gr opened #22387 "Could you give us the ability to override pdf templates via theme?"
#### Is your feature request related to a problem?

We're trying to edit the invoice templates and order slip templates for PDFs but currently there seems to not be a way to override them in our theme or at least it's not documented in any way

#### Describe the solution you'd like

We would like to be able to follow a similar structure as we do for other templates, to override the core templates

[2020-12-12 15:13] ioweb-gr commented on #22387
Closing this issue because it's indeed possible but not documented. You can do in /themes/<yourtheme>/pdf directory.
Please add this in documentation

[2020-12-12 15:13] #22387 closed, assigned to nobody

[2020-12-12 15:18] decom-media opened #22388 "E-Mails cannot be sent / E-Mail Templates are missing"
#### Describe the bug
When you try to send Order message to client, the system display an error.
It happens also with other messages, for example when changing the status (to any which would send out an email) - in that case the error message is just looking different, but email sending also not possible - please check the screenshot
the important part is maybe here that it is a Multishop - as on

[2020-12-12 15:45] kalukramer commented on #22383
Thank for you help, but the problem presist, if I put prestashop in English the issue gone, if I put In Portuguese the Issue of date is present.
thank's again.

[2020-12-12 15:58] cmcp-pt commented on #22383
I have the same problem, after change to Portuguese, the specific price stop working.

[2020-12-12 16:09] cmcp-pt opened #22390 "[SOLVED] Specific price "The from/to date is invalid.""
#### Describe the bug

After change prestashop from English to Portuguese the specific price stop working and give an error "The from/to date is invalid."

#### Expected behavior

After configure a specific price and save, expect to work, but give error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'International, change language to Portuguese'
2. Click on 'products, select

[2020-12-12 16:49] SimonGrn commented on #22383
The issue you're facing is something is breaking the datepicker and reverting to some sort of old jQuery fallback. Is your cache cleared ? Can you try in incognito ? With another browser ?
Do you have any error in the Javascript console ?

[2020-12-12 16:57] SimonGrn commented on #22387
Hello,

this is an open source project, you are welcome to help the maintainers by doing so 😄

Thank you

[2020-12-12 16:58] cmcp-pt commented on #22383
Hi Simon
I have open a issue, here: https://github.com/PrestaShop/PrestaShop/issues/22390
This topic is confuse
Yes I used Crhome, opera and Maxthron.
I think is something with this new version, because I have other Store with ver 1.7.5 and date picker is different.

Thanks

[2020-12-12 17:01] ioweb-gr commented on #22387
What's the repo for docs?

[2020-12-12 17:16] cmcp-pt commented on #22390
Hi Simon.
This is the error on console:
[NoPlugin] Searching for plugin objects...
/xxxx/xxxx/index.php/sell/catalog/products/specific-prices/add?_token=RhdPIjebnadyQ4orelyGVXXQO-9JBFKJk_-0p8YRpxA:1 Failed to load resource: the server responded with a status of 400 (Bad Request)
DevTools failed to load SourceMap: Could not load content for chrome-extension://lpkmfpohnemhibkpgimjiamolggbfmpb/js/pur

[2020-12-12 17:26] kalukramer commented on #22383
Some one with the same problem

https://www.prestashop.com/forums/topic/520499-solved-datepicker-uses-wrong-date-format/

[2020-12-12 18:53] rmilecki opened #22391 "Context's cart needs "id_carrier" to be pre-set with the current carrier"
#### Describe the bug

PS allows setting default carrier (`PS_CARRIER_DEFAULT`) which then is selected by default in the "3 Shipping Method" checkout step. The problem is that `$context->cart->id_carrier` is set to `0` as the same time.

That inconsistency results e.g. in the `You must choose a carrier before applying this voucher to your order` user checkout error.

#### Expected behavior

It see

[2020-12-12 19:21] SimonGrn commented on #22390
Hello,

Do you have Chrome extensions ? Can you try to disable them one by one and refresh the page ? The [NoPlugin] thingy is maybe related to the NoPlugin extension in your browser.

[2020-12-12 22:26] igniter89 commented on #22215
Same here, i cant reach the old orders / 1.7.7.0

https://pasteboard.co/JEDRlfH.jpg
https://pasteboard.co/JEDRsrR.jpg

[2020-12-12 22:35] web-plus opened #22392 "[HOOK | IMPROVEMENT] Add a displayHeaderCategory hook"
Recently you added back hook displayFooterCategory
Please add also displayHeaderCategory hook. It would be great for my module which displays top sellers for each category and I believe that also for other modules.

[2020-12-12 23:54] joaolago1113 opened #22393 "Problems with fuzzy search feature of 1.7.7.0"
#### Describe the bug

The new fuzzy search function fails to search a specific product.

When I search for a product with reference "G2K108-AA13-10" in the products name, the search result fails to bring up any result, but if I search ""G2K108-AA13-1" instead (same refence but without last character) I get the product in the search result.

#### Expected behavior

Searching "G2K108-AA13-10" shoul

[2020-12-13 00:39] msaustral commented on #14957
Hi on 1.7.6.9 it is corrected

[2020-12-13 02:43] psydomin opened #22394 "Admin Notifications Total Still Counting Disabled Notification Type"
#### Describe the bug

If you disable a type of notifications (New order/customer/message) on configure/advanced/administration the corresponding tab stops showing but the notification count on the notification icon still counts new notifications from the disabled types.

#### Expected behavior

Notifications from disabled notification types should not count towards the total new notifications cou

[2020-12-13 02:53] psydomin opened #22395 "Myaccount page doesnt follow module hook position exceptions"
#### Describe the bug

If you hook a module and set the myaccount page as an exception (so that it doesnt show on myaccount page), that exception wont be respected and the module will still show. As far as I could check, this only happens on the myaccount page and happens on all the hooks I tried.

#### Expected behavior

Module should not show on the myaccount page if that page is set as an excep

[2020-12-13 09:58] lordchukz commented on #22215
I had same problem also 5 minutes ago, after reading your comments here, I went straight to the addresses and noticed that the orders being made by new customers, the new customers during the purchase process must have made some simulation to get delivery price but did not finish adding address, but on a second try, they finalised purchase with complete address.

So I noticed this, each of these c

[2020-12-13 10:05] lordchukz commented on #22215
Update: the error is still there on view customer, but I can see order.

Hoping for a definite fix soon.

[2020-12-13 11:24] Hlavtox commented on #22392
@web-plus Hi, I will do it.

I think it will be better to make the hooks universal - displayBeforeProductList and displayAfterProductList, so we can use it also on bestsellers page, search etc.

[2020-12-13 11:53] gringo1er opened #22396 "Comments module 4.21: Button with "EDIT" tag I can't remove"
Hello.
Since the last update of Product Comments module, instead of "Write your review" buttons, I can see buttons on product pages with "EDIT Write your review".

When I inspect the page, on the EDIT tag I can see that:

`<i class="material-icons shopping-cart">edit</i>` When I remove it insid the inspector, everything is fine.

I would like to remove that class call and that word, but I don't kn

[2020-12-13 12:05] gyan111 commented on #17936
I am having the same issue. While auto upgrade this issue is occurring as the new files get downloaded dynamically I can't even change the file. Even if I change that will die with a error message at least or i dont know.

`[INTERNAL] /home/host/public_html/ps17/src/PrestaShopBundle/Install/XmlLoader.php line 467 - Symfony\Component\Debug\Exception\FatalThrowableError: Call to a member function tr

[2020-12-13 12:50] Ouro17 commented on #22262
Same here, tried different browsers amd accounts without any luck.

[2020-12-13 14:14] cleocreations commented on #22338
Same problem

[2020-12-13 15:28] tswfi commented on #9927
Don't know what is your process here :) should I ping people? ping @marionf ? (and is there a gitter / irc / whatever to talk about these things or should everything be in the pr / issue threads?)

[2020-12-13 15:35] flambert860 commented on #15785
Will there soon be a fix for this or workaround?

[2020-12-13 15:40] cleocreations opened #22397 "Customer Group Discounts are not showned since migration to 1.7.7.0"
#### Describe the bug

Special discounts are sets for each group of customer. Since the migration to 1.7.7.0, the discounts are not anymore showned on the frontend account page of each customer (it works if the discount is espacially done for the customer).

#### Expected behavior

Discounts have to be showned in each customer's "My discounts" page if he/she is a member of the group that can have

[2020-12-13 15:54] web-plus commented on #22392
Ahoj Danieli :-)

great news, thank you. Also, good idea making it more universal!

[2020-12-13 16:29] gringo1er commented on #22396
I have found the first step:
in \views\templates\hook\product-additional-info.tpl
that part of code:
[code]
I removed  `<i class="material-icons shopping-cart">edit</i>`

I posted a comment, now I have the same kind of issue, but with Chek_circle message

![image](https://user-images.githubusercontent.com/9809622/102017674-9b84d900-3d68-11eb-95fd-9c9b84fd61a7.png)

So now I have to find '<i class=

[2020-12-13 16:50] gringo1er commented on #22396
hum maybe I have to find a kind of material design update....

[2020-12-13 17:29] gringo1er commented on #22396
Finally solved. I have found a package of material icons, and it solved all issues, including the first...

[2020-12-13 17:29] #22396 closed, assigned to nobody

[2020-12-13 17:44] gringo1er opened #22398 "Comment module 4.21 issue: when click on "read user reviews" button, no review appears"
#### Describe the bug

After validation of a review from the back office, the product page is updated with stars, the quantity of reviews, and a button written "read user reviews".
But after clicking that button, o review appears, it goes to the bottom of the page, with stars on the right, a comment icon and the nomber of comments on the left, a "write your review" in the middle, but no comments.

[2020-12-13 17:47] juraj1000 commented on #22368
Hello @florine2623,
yes, that's it. But how can I customize it with format 14 251 999,42 € or 14 251 999.42 € in the language English?

[2020-12-13 21:18] matks opened #22399 "Autoupgrade module update v4.8 to v4.9 fails"
Issue reported by @nenes25 for PR https://github.com/PrestaShop/autoupgrade/pull/374

#### Describe the bug

When upgrading the module from version 4.8.0 through command line you should not have an error in upgrade file [install-4.9.0.php](https://github.com/PrestaShop/autoupgrade/blob/master/upgrade/install-4.9.0.php) line 32: `Call to private method Autoupgrade::registerHookAndSetToTop() from co

[2020-12-13 21:19] matks commented on #22399
@nenes25 Can you give us the exact Command Line you have run? It's to help QA test this 😉

[2020-12-13 22:55] nenes25 commented on #22399
@matks you never stop working :D
Sure in my case it's a bit special as i'm using a custom command to manage modules.
But it is just a wrapper for php bin/console prestashop:module  upgrade autoupgrade ( when the source files are already updated but the upgrade not installed in db )

In fact you could also reproduce the issue in the back office.
Download the release https://github.com/PrestaShop/au

[2020-12-14 08:16] hibatallahAouadni commented on #22399
Hello @matks & @nenes25

I managed to reproduce the issue with PS1.7.7.0, following these steps:

1. `git clone https://github.com/PrestaShop/autoupgrade.git`
2. `cd autoupgrade`
3. `git checkout tags/v4.8.0`
4. `composer install`
5. Compress the folder autoupgrade
6. **BO** > **IMPROVE** > **Modules** > **Module Manager**
7. Click on **Upload a module** button
8. Drag and drop the compressed auto

[2020-12-14 08:34] hibatallahAouadni commented on #22364
Hello @NeOMakinG

Are you talking about Products tab and Status tab in Order page? If so, I did manage to reproduce the issue with develop, see the attached screen record below:

https://drive.google.com/file/d/1wbFhimJ3B_a3sYn_PLRH3nemJgRd_kuU/view

Thanks @NeOMakinG for the issue :wink:

[2020-12-14 08:46] NeOMakinG commented on #22364
Exactly @hibatallahAouadni :)

[2020-12-14 09:34] hibatallahAouadni commented on #22375
Hello @mahdimedia

This issue is already solved with PS1.7.7.0, follow these steps to use three digits after the comma with your currency:

1. BO > IMPROVE > International > Localization
2. Go to Currencies tab
3. Click on edit button of your currency
4. Change the value of Decimals to 3
5. Save
6. Check FO > you will see all prices are displayed with three digits after the comma with your currenc

[2020-12-14 09:34] #22375 closed, assigned to nobody

[2020-12-14 09:45] hibatallahAouadni commented on #22377
Hello @reidlaitinen

Please next time **follow the template to submit a complete feature report**.
We create this template to make it easy for you and for us to handle the issue.

Thanks for the suggestion, the Developper Team will take a look.
Please stay tuned !

Ping @PrestaShop/prestashop-core-developers , is it convenient to add these blocks to this twig?

[2020-12-14 09:49] NeOMakinG commented on #22193
I didn't change some alerts as they contains links

[2020-12-14 09:53] carribas1 commented on #22353
@Kreysh I have the same problem, what library have you used?

[2020-12-14 09:53] marionf commented on #9897
@hibatallahAouadni

As you can see in this [comment](https://github.com/PrestaShop/PrestaShop/issues/9897#issuecomment-415182929) there is still an issue here:
When you add a specific price for a customer and then re-click to add another specific price, the previous customer is still selected while it shouldn't

[2020-12-14 09:58] ioweb-gr opened #22402 "changing shopname deletes category references from ps_category_shop"
#### Describe the bug

Yesterday we renamed our shop name from `Shopname` to `Shopnmae.gr` (retaining the original shop_id) however we noticed that all referencies in subcategories in the table `ps_category_shop` were deleted causing our categories to disappear from our menus.
This helped me track the issue reasons.
https://www.prestashop.com/forums/topic/535668-lost-sub-categories-after-changing-

[2020-12-14 10:03] matks commented on #22215
Hi everyone, after looking at the code mentioned in the error, this kind of erro happens when someone attempts to display an Order with invalid data in it.

I have seen multiple examples of invalid data such as customized products with an empty `name` data.

Basically, "previous" Order Page was able to display this data because it was tolerant. New Order page rejects rather invalid data. This look

[2020-12-14 10:09] matks commented on #22353
@carribas1 ICU.

The error above is because the php version used by @Kreysh was using an old version ( lower than 4.6) of ICU http://site.icu-project.org/download/46

[2020-12-14 10:21] fire2 commented on #22215
Well, an address without "company" shouldn't even be considered "invalid data" unless the company field is configured required. Heck, I couldn't even open orders with a null "address 2" field. Many of those fields should be nullable as on the previous version. Also, if the new version stores empty strings instead of null values in the database, it wouldn't have hurt to write a migration script for

[2020-12-14 10:22] carribas1 commented on #22353
@matks my php version is 7.3.25, I don´t know what kind of problem i have if my php version is the highest

![image](https://user-images.githubusercontent.com/75978432/102069852-9b371d00-3dfe-11eb-9d41-ec01d626db45.png)

[2020-12-14 10:22] hibatallahAouadni commented on #22342
Hello @Flower7C3

It's not a bug :sweat_smile: it's just missing translations, in Arabic language, this word is also not translated, see the attached screen record below:

https://drive.google.com/file/d/1OjetSPK8z5pTzCFatLrKBKHXo-n8DHMc/view

1. Go to **BO** > **IMPROVE** > **International** > **Translations**
2. In the block **Modify translations**, choose **Themes translations** as **Type of tr

[2020-12-14 10:22] #22342 closed, assigned to nobody

[2020-12-14 10:23] tom75 commented on #22388
just wanted to let you know that it is a multilanguage and also multishop installation

[2020-12-14 10:25] SimonGrn commented on #22353
Hello @carribas1
@matks was not talking about the PHP version but the ICU version. You can check what version you have through a `phpinfo()` page or ask your hosting provider.

[2020-12-14 10:26] matks commented on #22353
@carribas1 it's not the php version which is an issue, it's the ICU version.

You can have a recent ICU version with an old php version, you can have an old ICU version with a recent php version. It's 2 different things.

You need to upgrade your ICU version of your environment.

[2020-12-14 10:28] fire2 commented on #22262
This should have been handled way better during the upgrade process. There should have been an automatic email test and if it doesn't work it should clearly inform the user after the upgrade process that the email sending is not working anymore and it should be reconfigured. There was no notice at all. Without looking deep into the changelog one wouldn't have even noticed the change in the email s

[2020-12-14 10:30] matks commented on #22386
A bit similar to https://github.com/PrestaShop/PrestaShop/issues/22215

It looks like you have an address with undefined phone so the Order cannot be displayed

[2020-12-14 10:32] Flower7C3 commented on #22342
Sorry, I am unable to find this translation in BO:
![image](https://user-images.githubusercontent.com/3767861/102070866-01706f80-3e00-11eb-8380-7d037c844a5b.png)

[2020-12-14 10:59] decom-media opened #22404 "BreadCrumbList missing itemListElement"
"itemListElement" in breadcrumblist is missing on some pages (seems it is fine on the product pages):

Example of the startpage:

<ol itemscope itemtype="https://schema.org/BreadcrumbList">
<li>
<span>Início</span>
</li>
</ol>

* PrestaShop version: 1.7.7
* PHP version: 7.3
* Multilanguage
* Multishop

[2020-12-14 11:03] SimonGrn commented on #22262
Hello everyone,

this change was made for security purposes. I understand some of you may feel frustrated, but remember that security is one of our top priorities and as such we removed this feature to keep PrestaShop as secure as possible.
I want to also remind you that we published 3 preversions ([beta 1](https://build.prestashop.com/news/prestashop-1-7-7-0-beta-release/), [beta 2](https://build

[2020-12-14 11:12] fire2 commented on #22262
I totally agree that security comes first, and I therefore fully agree with removing the usage of php mail. What I don't agree with is not implementing something like an automated test during the upgrade to see if the new default option still works, or at least telling the user "hey, your email configuration changed, please make sure it still works". I think it's quite a breaking change. The stand

[2020-12-14 11:27] SimonGrn commented on #22262
Totally. Once again, this is an Open Source project, if you feel something is not done right, you are more than welcome to contribute to improve it, so the fix can be released for free for everyone.

Please remember that we are a small team compared to other big ecommerce projects, and therefore cannot test every possible configuration to make sure we don't miss anything.

And once again, we provi

[2020-12-14 11:33] Hlavtox commented on #22262
@SimonGrn I reported it 7.7.2020 on Slack and 26.7.2020 here (https://github.com/PrestaShop/PrestaShop/issues/19957). We found the cause, so don't say the PS team did not know about it... 😉

I warned you that this will piss people off. I run on a private server, so I don't care, but if I was on public hosting, I would be in big trouble. We specifically emailed all the biggest hosting providers in

[2020-12-14 11:35] amigainc commented on #12145
Hi, I also meet the same problem on every latest Safari/iOS/MacOS version.
Website: https://letrocdeslutins.fr
Framework: PS 1.7.5.2

[2020-12-14 11:43] kierweb commented on #22262
The issue is actually the 3rd party mailer you use, which is swift mailer -  is there any other mailer you could use instead, to stop the proc_open issue?

[2020-12-14 11:59] ttoine commented on #22262
@Hlavtox
You also make money with PrestaShop software, like a lot of merchants, agencies and freelancers. PrestaShop Company is the biggest contributor, but it's an open source project, and any one can contribute.

Developing, promoting and sustaining an open source software project cost a lot, that's why PrestaShop company has a business model.

That said, this discussion is not really respectful

[2020-12-14 12:07] Hlavtox commented on #22262
@ttoine There is no attack in my post, but I think it's not right that Simon practically blames us for not testing it properly...

[2020-12-14 13:14] ttoine commented on #22262
The problem is your tone. You are agressive and unfriendly, sometimes insulting.  And not a surprise, people don't like to work this way.

If you want to find people enthusiastic to work with you here, start with being friendly and positive. PrestaShop is not a proprietary software, so you can improve it.

[2020-12-14 13:25] matks commented on #22262
You will find the details about the security issue in this thread https://github.com/swiftmailer/swiftmailer/issues/866#issuecomment-289291228

Many people in the thread disagree about it being a security issue. Many people agree.

As for us we have chosen to follow Symfony's side: the use of `mail()` was disabled because of security reasons. We don't want to keep something that will always have s

[2020-12-14 13:27] hibatallahAouadni commented on #22340
Hello @Perfecticus

Thanks for the clarification!
I manage to reproduce your issue with only PS1.7.7.0 and develop, see the attached screen record below:

PS1.7.6.9:
https://drive.google.com/file/d/1wPpgKS1xTdVNw7ZUigNVVU3ajFq5yn-h/view

PS1.7.7.0:
https://drive.google.com/file/d/1fpMFjWaEzzQ_LgVNiTVcAx2gse1gdcVV/view

It's a regression! I’ll add this to the debug backlog so that it’s fixed.
If yo

[2020-12-14 13:29] tswfi commented on #10356
So does WIP label mean that someone is already working on this?

I think this also needs a change in the img folder .htaccess rule (at least my tests with pagespeed have not worked with the default rule and for some reason it is not even enough to add webp to the list but requires a larger change to the rule).

[2020-12-14 13:32] Hlavtox commented on #22262
@ttoine Sorry, but I don't feel it that way. I am discussing pure facts, there is nothing unfriendly and insulting about it. I have nothing against anyone and you can see I am trying to help wherever I can. I don't say this is the case, but this is business and you won't be always handled in white gloves.

Somebody says that the issue was known, I say it was.
Somebody says the community should hav

[2020-12-14 13:48] BaraqdaPL commented on #22338
Did you also upgrade from php 7.2, BO did not work and switch to 7.3?

[2020-12-14 13:51] cbatista8a commented on #21426
Overrides don't work properly on uninstall and broke class structure only, see this example
PS: 1.7.6.9
Versione software del server: Apache
Versione di PHP: 7.2.1

/* Original class on my module/override/classes */

class Manufacturer extends ManufacturerCore
{
    /** @var string sku */
    public $sku = '';

    public static $definition = array(
        'table' => 'manufacturer',
        'prim

[2020-12-14 13:55] cleocreations commented on #22338
I only upgrade the PS from 1.7.6.9 to 1.7.7.0 and still use PHP 7.2. The problem of pictures, category,... is the same.

[2020-12-14 14:26] LouiseBonnard commented on #22193
Hi, thanks @Progi1984 for the reminder! Actually, I'm looking at the International > Translations page and I'm wondering if this content is even relevant. In my opinion, this kind of information should better be displayed in the user documentation.

Since a pull request has already been made, what I suggest is to split the work into two parts:

1. make those alerts more discreet - thanks @prestasc

[2020-12-14 14:28] ttoine commented on #22262
@Hlavtox Actually, if you would have been friendly in your communication, your advice would have been taken in account with a higher impact. As I said already, people appreciate to work with friendly people, but they don't want to work with unfriendly and agressive people. Being borderline with the Code of Conduct is not really respecting it fully.

Being factual is very good. But that's not enoug

[2020-12-14 14:35] hibatallahAouadni commented on #22382
Hello @radioeventos

You can't add negative value to the payment method. To balance an overdue by the clients, **it is recommended to make a credit slip** (See the [original issue](https://github.com/PrestaShop/PrestaShop/issues/16582#issuecomment-575582954)).

So, I close it cause it's not a bug.

Thanks!

[2020-12-14 14:35] #22382 closed, assigned to nobody

[2020-12-14 14:36] Robin-Fischer-PS commented on #21950
Hi,

I can reproduce it with an install in English, and Country = France. On FO in French, after install, login with pub@prestashop.com. Go to any demo order : The error is displayed.

When changing the install in English : OK.

[2020-12-14 14:39] NeOMakinG commented on #22105
@sowbiba what's left ? I don't remember if we're blocked or no

[2020-12-14 14:41] NeOMakinG commented on #22319
@Hlavtox you miss understood the issue :p

It's buggy atm

[2020-12-14 14:42] Hlavtox commented on #22319
@NeOMakinG Aaaaaaah I see it now 😄 sorry

[2020-12-14 14:46] hibatallahAouadni commented on #22381
Hello @peskajan

Could please check if your issue is similar to this one #11471 ?
Please check and feedback!

Thanks!

[2020-12-14 14:46] Gregg212x opened #22409 "Cannot delete / edit product images"
I have prestashop version 1.7.7.0.
When i wont edit or delete product img i not have a button and form in image product for delete image.

Scren:
![Screenshot_1](https://user-images.githubusercontent.com/61781333/102094465-a4d27c00-3e22-11eb-98ad-f2ba4c8d4206.jpg)

I use php 7.1
Presta is a fresh installation
I found bugs in debug mode:

Could not load type "form": class does not exist.
Exception

[2020-12-14 14:55] PierreRambaud commented on #22377
Hi,
I didn't manage to reproduce the issue:
![image](https://user-images.githubusercontent.com/1462701/102096108-a13ff480-3e24-11eb-815b-7431a9804444.png)

Here's the content of my file:
[code]

located in my modules  `myModule/views/PrestaShop/Admin/Sell/Customer/Blocks/View`

[2020-12-14 14:56] Progi1984 commented on #22138
@jolelievre Is it me or your PR with OrderDetail will fix this issue ?

[2020-12-14 15:04] SD1982 opened #22410 "BO - order -specific price / Product price not correctly updated after a quantity update when related to a specific price"
#### Describe the bug

If a product has a specific price and you edit the quantity of the product in BO the price is not recalculated correctly

#### Expected behavior

Products price should be correctly recalculated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to catalog / product => edit the demo_12 product
2. add a specific price => -50% starting at 10 units
3. Go to FO and

[2020-12-14 15:04] SD1982 commented on #22410
ping @hibatallahAouadni you already know this one :+1:

[2020-12-14 15:06] NeOMakinG commented on #22315
Hello @khouloudbelguith

I can't reproduce it ever using 1.2.0 of the UIKit or the local on develop, are you sure ?

![image](https://user-images.githubusercontent.com/14963751/102097261-f6c8d100-3e25-11eb-9610-1fe32574fae9.png)

[2020-12-14 15:10] hibatallahAouadni commented on #22386
Hello @mvanas

Could you please check if your issue is duplicate to this one #22215
And could you please provide your previous PrestaShop verion.

Thanks!

[2020-12-14 15:10] cmcp-pt commented on #22390
Hi Simon.

I think my problema is on date picker, they change the format if date after save.

             Carlos Manuel

          LIZBIT – WEBSTORE

             Telf. 918172898

De: Simon G. [mailto:notifications@github.com]
Enviada: sábado, 12 de dezembro de 2020 19:22
Para: PrestaShop/PrestaShop
Cc: cmcp-pt; Author
Assunto: Re: [PrestaShop/PrestaShop] Specific price "The from/to date is inval

[2020-12-14 15:24] hibatallahAouadni commented on #22215
Hello @IranDec

Sorry for the late response. But, I didn't manage to reproduce your issue, see the attached screen record below:

https://drive.google.com/file/d/1S4zwWmOt7FK14KMNHQlCMzkJc8oAC5Am/view

I installed a new shpp 1.7.6.4 with persian lang, then I upgraded to 1.7.7.0. The only bug encountred is #22250

Please check and feedback.
Thanks!

[2020-12-14 15:27] fsoabsix commented on #16342
Hi,
I got this error with the 1.7.7.0 version.
I want upgrade from 1.6.1.24, not working, i tried manuel and automatic with one-click, the same errors.

[2020-12-14 15:29] radioeventos commented on #16582
A payment can be positive or negative. Another thing is that the Total cannot be negative, but partial refunds must be allowed and that these are recorded.
It is a very serious problem for the accounting of a store that the exact accounting balance of a customer cannot be known.

[2020-12-14 15:30] radioeventos commented on #22382
This point has always been possible. What's more, how do I know at first glance if a customer has received a monetary refund or not, and the amount if it is a partial refund? This is basic accounting, if it is allowed to enter the amount of the payment, it should be possible to enter the amount of the refund.

A payment can be positive or negative. Another thing is that the Total cannot be negativ

[2020-12-14 15:34] hibatallahAouadni commented on #22036
Hello @madkot ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-14 15:34] #22036 closed, assigned to nobody

[2020-12-14 15:35] hibatallahAouadni commented on #15973
Hello @harm-smits ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-14 15:35] #15973 closed, assigned to nobody

[2020-12-14 15:36] hibatallahAouadni commented on #22068
Hello @letwang ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-14 15:36] #22068 closed, assigned to nobody

[2020-12-14 15:36] hibatallahAouadni commented on #22067
Hello @letwang ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-14 15:36] #22067 closed, assigned to nobody

[2020-12-14 15:37] hibatallahAouadni commented on #22060
Hello @ramwebkul ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-14 15:37] #22060 closed, assigned to nobody

[2020-12-14 15:38] hibatallahAouadni commented on #16629
Hello @cedricfontaine,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-14 15:38] #16629 closed, assigned to nobody

[2020-12-14 15:39] hibatallahAouadni commented on #22058
Hello @demperador ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-14 15:39] #22058 closed, assigned to nobody

[2020-12-14 15:39] hibatallahAouadni commented on #22072
Hello @bm-services,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-14 15:39] #22072 closed, assigned to nobody

[2020-12-14 15:48] hibatallahAouadni commented on #22342
Hello @Flower7C3

DO you have another theme installed? By the way, what's your language?

Thanks!

[2020-12-14 15:50] hibatallahAouadni commented on #22333
Hello @homer8173

Ping @PrestaShop/prestashop-core-developers, is this the expected behavior when you use display=full with a single product? or it's a bug?

[2020-12-14 16:00] matteolavaggi opened #22412 "Contact form on frontend does not send email (BO ok)"
Try to send an email from contactform page result in 2 scenario:

1) red error message ('An error occurred while sending the message') and email are not sent
2) green ('Your message has been correctly sent') but email are not sent the same

email config test in Back office work with no problem , we use custom smtp and email are right send to test email adress.

Have your own test ^^ : https://www.

[2020-12-14 16:00] hibatallahAouadni commented on #22388
Hello @tom75

Could you please edit your issue, cause we need these sections (Expected behavior, Steps to Reproduce, Additional information) to reproduce your issue as soon as possible.

We create this template to make it easy for you and for us to handle the issue :smile:

Thanks

[2020-12-14 16:01] SimonGrn commented on #22409
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-14 16:01] #22409 closed, assigned to nobody

[2020-12-14 16:02] SimonGrn commented on #22404
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-14 16:02] #22404 closed, assigned to nobody

[2020-12-14 16:04] hibatallahAouadni commented on #22334
Hello @radioeventos

It seems that your issue is not a PrestaShop core bug. Please check your server.

I'm really sorry but I have to close the issue, cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one
of our [support plans](ht

[2020-12-14 16:04] #22334 closed, assigned to nobody

[2020-12-14 16:14] matteolavaggi commented on #22412
Just because i'm in trouble to have contact email from customer i'm tring the customer thread function .. and ... not work -_-
Try to reply from customer support section of BO send an email to customer with a link for open a "customer thread" discussion. The link does nothing, simply redirect customer to front end contac page. Not bad ^^

[2020-12-14 16:20] PierreRambaud commented on #22333
I manage to reproduce the issue.
Here's the pull request fixing the issue: #22413

[2020-12-14 16:21] PululuK commented on #22412
Hi @matteolavaggi

Can you check your contact form module config please ?

![image](https://user-images.githubusercontent.com/16455155/102106248-a014c480-3e30-11eb-8815-902b97bce95f.png)

[2020-12-14 16:25] matteolavaggi commented on #22412
The setting is configured like your picuture, btw this cant trow an error i think.
Try to update to last version, manual paste the last release code in the php file. No way to have an error that can be undestood , and module does not send email from 4 days.
we have not updated anything or installed module. Simply changed back office contact page detail (store details).

[2020-12-14 16:25] PululuK commented on #22412
What version of contact form module are you using?

[2020-12-14 16:26] matteolavaggi commented on #22412
I've the last git code release now, BO modules show 4.3.0

[2020-12-14 16:30] hibatallahAouadni commented on #22412
Hello @matteolavaggi

I didn't manage to reprodcue your issue with PS1.7.6.1, please check the attached screen record below:

https://drive.google.com/file/d/1trLU-HFKxp-UvFCL9F3KdCbZrD5Pvv8u/view

So, could you please check your Email setting in BO > CONFIGURE > Advanced Parameters > E-mail

![image](https://user-images.githubusercontent.com/23308427/102106906-6e502d80-3e31-11eb-9543-fef4f209341b

[2020-12-14 16:33] matteolavaggi commented on #22412
Hi dear, i've check it again, but you can read above that in back office the test email function work, send email with no problem:
![image](https://user-images.githubusercontent.com/24798703/102107867-81afc880-3e32-11eb-981f-3c9db2aa199f.png)

Using real email result in real message received.

[2020-12-14 16:36] hibatallahAouadni commented on #22392
Hello @web-plus

Thanks for the suggestion, the Dev Team will take a look.
Please stay tuned !

Ping @PrestaShop/prestashop-core-developers, do you think adding displayHeaderCategory hook will be convenient like @Hlavtox mentioned?

[2020-12-14 16:41] PululuK commented on #22412
@matteolavaggi  This can be related to your theme.
Could you check if you have these lines in your theme :
(/themes/YOUR_THEME_NAME/modules/contactform/views/templates/widget/contactform.tpl)

https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/modules/contactform/views/templates/widget/contactform.tpl#L123-L129

[2020-12-14 16:44] hibatallahAouadni commented on #22393
Hello @joaolago1113

Could you please check if your issue is similar to this one #22081

Thanks!

[2020-12-14 16:46] hibatallahAouadni commented on #22065
Hello @Arman-Hosseini

So, could you please change the template of your issue from Bug template to Feature template.

Thanks!

[2020-12-14 16:50] hibatallahAouadni commented on #22391
Hello @rmilecki

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9688.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-12-14 16:50] #22391 closed, assigned to nobody

[2020-12-14 16:56] hibatallahAouadni commented on #22390
Hello @cmcp-pt

I didn't manage to reproduce with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/16oDLDSCUqq8VzsSOpPF2WCoGqkzVfYKd/view

Please check and feedback.
Thanks!

[2020-12-14 16:59] matteolavaggi commented on #22412
My template is classic theme and the code is exactly the same, there is no way to get an error with specific information ?

[2020-12-14 17:14] hibatallahAouadni commented on #22397
Hello @cleocreations

I managed to reproduce the issue only with PS1.7.7.0, see the attached screen record:

https://drive.google.com/file/d/18PBGO4_AEJCYGMXO1UCSka72L0-EpeQW/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thank you

[2020-12-14 17:21] hibatallahAouadni commented on #22398
Hello @gringo1er

I didn't manage to reproduce your issue with PS1.7.7.0 and ProductComment v4.2.1, see the attached screen record:

https://drive.google.com/file/d/12K1zxOOWHaKqQ2_JJnFDR5kfnoK5d7-S/view?usp=sharing

Please check and feedback.

Thanks!

[2020-12-14 17:22] khouloudbelguith commented on #22395
Hi @psydomin,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/21168 to fix the issue.
It is fixed in the next release 1780.
Your ticket is a duplicate of #19226
So, I close it.
Thanks!

[2020-12-14 17:22] #22395 closed, assigned to nobody

[2020-12-14 17:22] khouloudbelguith commented on #22395
Duplicate of #19226

[2020-12-14 17:32] marionf commented on #22397
Hello @hibatallahAouadni

Step 1 isn't very clear: "Create a discount for a group (for example discount for "Customer")" as there are different ways to create a discount for a group: with cart rules, with specific price and directly by applying a % discount for the customer group through shop paramters > customer settings > groups > edit.

Could you please specify this step and add your video in t

[2020-12-14 17:50] cleocreations commented on #22397
Sorry for being unclear... hibatallahAouadni did exactely as I have done.

[2020-12-14 18:12] jolelievre commented on #22096
@sowbiba I'm not sure but I believe this should also be fixed by this PR https://github.com/PrestaShop/PrestaShop/pull/22299

Since the product prices no longer change dynamically once the cart is ordered, changing the product quantity will only rely on the product price when ordered and multiply it by the appropriate amount It is also a bit related to this issue https://github.com/PrestaShop/Pres

[2020-12-14 18:16] gringo1er commented on #22398
Thank you for your feedback
The module is also compliant with previous PS versions. Our e-shop is based on PS 1.7.6.1
Could it be a compatibility issue with the template?

[2020-12-14 18:30] radioeventos opened #22414 "If "Set the order as paid" is necesary to activate RMA, payments appears dupliclated on BO order detail"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

I want activate RMA and is necessary switch on "Set the order as paid." on order status to activete it, but payments appears duplicated every status set ont tat option. If i have set on in "Payment Acepted" and like if set on Prestashop dosc: "...it cannot be set back to the previous status." Why is

[2020-12-14 18:32] Ouro17 commented on #22262
Any insight on why configuring the SMTP options also doesn't work?

[2020-12-14 19:19] madkot opened #22415 "BUG/Question of cms page additional fields"
#### Describe the bug

In PS 1.7.5.4 i have one more field "page_type" in CMS.php and AdminCmsController.php
and it works perfect in admin and available in template on front.
after migrate to 1.7.6.8 this does not work (i see some deprecated info and comment "With ps1.7.6.0, the Design => Pages page is migrated to Symfony." in #14536
So.. this solution are not work since 1.7.6.* ? Or there is some

[2020-12-14 19:31] decom-media opened #22416 "SEO-Problem: Breadcrumblist error & "Offers", "review" or "aggregateRating" must be specified"
#### Describe the bug
**itemListElement** in breadcrumblist is missing on some pages (seems it is fine on the product pages).
With the update to 1.7.7 google is showing a problem with missing **itemListElement** and some other bugs like:

`"Offers", "review" or "aggregateRating" must be specified`

 on some pages, it seems basically on the startpage and also some other category pages

#### Expecte

[2020-12-14 20:13] Gregg212x commented on #22409
What information do you need ?

Prestashop wer. 1.7.7.0.
PHP : 7.1
The error appears when editing product photos

[2020-12-14 20:37] tswfi commented on #22416
Google tool for testing rich results: https://search.google.com/test/rich-results

My 1.7.7.0 test shop which has multistore and multiple languages configured

Frontpage:
![image](https://user-images.githubusercontent.com/1352132/102131339-ba639800-3e5a-11eb-8052-9fa2729de009.png)

First level category:
![image](https://user-images.githubusercontent.com/1352132/102131393-d5360c80-3e5a-11eb-9b33-d5

[2020-12-14 21:01] matks commented on #22262
Some people said their password manager put their password inside the "password" field, erasing the SMTP password.

[2020-12-15 00:24] kalukramer commented on #22390
Hi.
By indication of Other user, I have errase the folder modules and copy folder from a fresh instalation, now everythink comes to normal, no error and date picker become normal too.
They said some native modules from prestashop get corrupted sometimes, and prestashop goes mad.
SOLVED

[2020-12-15 00:25] kalukramer commented on #22383
Hi.
By indication of Other user, I have errase the folder modules and copy folder from a fresh instalation, now everythink comes to normal, no error and date picker become normal too.
They said some native modules from prestashop get corrupted sometimes, and prestashop goes mad.
SOLVED

[2020-12-15 00:32] cmcp-pt commented on #22390
I have Tried your Solution and it work's, many thanks
Obrigado pela ajuda

[2020-12-15 00:32] #22390 closed, assigned to nobody

[2020-12-15 08:12] Progi1984 commented on #22278
Fixed by #22406

[2020-12-15 08:12] #22278 closed, assigned to Progi1984

[2020-12-15 08:56] hibatallahAouadni commented on #22397
Thanks @cleocreations for the clarification.
@marionf I just edit the issue and add videos with PS1.7.6.9 and PS1.7.7.0 to see the regression.

[2020-12-15 09:18] hibatallahAouadni commented on #22394
Hello @psydomin

I didn't manage to reproduce your issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1mWt5Vz2GT-7LukGYd8JWlozL3WigRb4c/view

Please check and feedback.

Thanks!

[2020-12-15 09:20] Flower7C3 commented on #22342
I have another theme, but this one is sop default theme. I am using Polish language version.

[2020-12-15 09:23] tswfi opened #22418 "Inconsistent schema.org usage of http:// and https://"
#### Describe the bug

In pr #22417 review @PululuK noticed the usage of http:// in shema.org itemtype definition.

Both are fine but it is nice to be consistent: https://schema.org/docs/faq.html#19

#### Expected behavior

All schema.org itemtypes consistently use https://

#### Steps to Reproduce

Steps to reproduce the behavior:

[code]

#### Additional information

* PrestaShop version: N/A
*

[2020-12-15 09:32] hibatallahAouadni commented on #22398
Hello @gringo1er

Just to make you sure, here's a screen record with PS1.7.6.1 and ProductComment 4.2.1:

https://drive.google.com/file/d/1PjLqQh3UnqMwS-A3keDZeQQ6pcEqbmNb/view

Thanks!

[2020-12-15 09:40] Julievrz commented on #22187
https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/shop-parameters/product-settings/product-settings-page.md

Hi @hibatallahAouadni. It seems that this feature is actually not available for the classic theme (see the specs: https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/shop-parameters/product-settings/product-settings-page.md)

I am therefore closing th

[2020-12-15 09:40] #22187 closed, assigned to nobody

[2020-12-15 09:43] kpodemski commented on #22398
There are some breaking changes in latest version of the module, I suggest to check `themes/your_theme/modules/productcomments` if you have any overrides, if so, it might be a reason of why you're not able to use module in your store

[2020-12-15 09:54] NeOMakinG opened #22420 "[RESPONSIVE - BO] TinyMCE is not responsive on migrated pages"
#### Describe the bug

TinyMCE is overflowing the content on mobile view

#### Expected behavior

TinyMCE icons adapt depending on the width they have free

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to /sell/catalog/categories/
2. Edit any Category
3. Open mobile responsive mode, see the TinyMCE block

#### Additional information

* PrestaShop version: develop

[2020-12-15 09:57] matks commented on #22387
@ioweb-gr it's https://github.com/prestashop/docs 😉  it's using Hugo and Markdown

[2020-12-15 10:03] tom75 commented on #22416
the frontpage is having that problem, that is correct, but i am seeing the problem also on few other pages, like

* https://www.domain.com/en/sitemap (and of course all the other languages)
* on other root categories as well

![ps177_breadcrumbserror_2](https://user-images.githubusercontent.com/31710761/102199184-98523000-3ec3-11eb-82b9-6b9f460f4ede.JPG)

[2020-12-15 10:09] tswfi commented on #22416
@tom75 which theme?

And can you test my pr? The pr fixes all the pages in elseif section which includes sitemap page also.

[2020-12-15 10:11] NeOMakinG opened #22422 "[RESPONSIVE - BO] KPIs pan is sometime taking too much place on the page on mobile"
#### Describe the bug

KPIs pan is sometime taking too much place on the page on mobile

#### Expected behavior

Having an horizontal scroll, and the refresh button should be smaller

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to sell/orders/
2. See KPIs pan height, it's taking too much place

#### Additional information

* PrestaShop version: develop

[2020-12-15 10:13] hibatallahAouadni commented on #22402
Hello @ioweb-gr

I managed to reproduce with PS1.7.5.2, PS1.7.6.9 and PS1.7.7.0 but I didn't manage to reproduce it with PS1.7.4.1:

**PS1.7.4.1:**
https://drive.google.com/file/d/1OJ8xHnBHTiSeDsgbw2y2aEbsbESxF0uE/view

**PS1.7.7.0:**
https://drive.google.com/file/d/1qDDQuS9rFh-PwbfW2OSRvQARHE-CmR1y/view

So, it's a **regression**! I’ll add this to the debug backlog so that it’s fixed.
If you have

[2020-12-15 10:31] hibatallahAouadni commented on #22415
Hello @madkot

Let's ping the Developer team to answer your question.
Ping @PrestaShop/prestashop-core-developers could someone please tell us why he can't use additional field added in CMS.php and AdminCmsController like it was used be with PS1.7.5.4?

[2020-12-15 10:36] khouloudbelguith opened #22424 "BO - Order page - Ajax issue - when deleting the first product from an order, all other products will be removed"
#### Describe the bug

In the BO > Orders > Old order > when deleting the first product from an order, all other products will be removed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create an order from the FO with only one product
2. Go to BO > Orders > Last order created > Delete the product( without refresh)
3. Add demo_19 to the empty order
4. Add demo_1 or any other product

[2020-12-15 10:42] idnovate opened #22425 "Incorrect results returned from cache with Cart->getProducts()"
#### Describe the bug

4th parameter from function `getProducts` from class `Cart` is `$fullInfos`, which retrieves more fields for each product in the cart.

If the first call from this function is with this parameter as false, this result is cached. If you call this function again with this parameter as true, and you don't force cache refresh, this parameter is not considered and the results are

[2020-12-15 10:51] fjoralbmuca opened #22426 "Module Manager not opening"
PrestaShop 1.7.7.0 was in the middle of a module installation and then the module manager didn work.
Compile Error: Cannot declare class Mobile_Detect, because the name is already in use

[Symfony\Component\Debug\Exception\FatalErrorException 0]

I asked a backup restore on cpanel from 2 days ago (module manager was working) and still cant open it. Even module catalog shows error.
* PrestaShop ver

[2020-12-15 10:57] ioweb-gr commented on #22402
Hi @hibatallahAouadni

Unfortunately I didn't go through debugging for the issue, what I did to fix the issue in my instance was to insert all the missing records via sql queries. But this was to fix the problem, not to fix the original issue.

I still don't understand prestashop inner workings well.

[2020-12-15 11:02] conscious-creatives commented on #9689
I am sorry, but we need to fix this in 1.7.6.9. In the moment we can not upgrade to 1.7.7 due to other issues. Do you have a workaround until we can upgrade?

[2020-12-15 11:17] Julievrz opened #22429 "Issues when modifying an employee's password"
#### Describe the bug

When modifying an employee's password, multiple issues happened.

**1.** When entering a very weak password such as "123456789", a message appears under the field, saying that the password entered is "Fabulous". Regarding this first issue, it might be linked to this issue (https://github.com/PrestaShop/PrestaShop/issues/11752). @PierreRambaud is your issue related to employe

[2020-12-15 11:17] Julievrz commented on #22429
@hibatallahAouadni

[2020-12-15 11:19] hibatallahAouadni commented on #22420
Hello @NeOMakinG

Thanks for your issue and PR :sweat_smile:
Yes, I managed to reproduce with PS1.7.7.0 and PS1.7.6.9 (well with PS1.7.5.2 I didn't manage to reproduce, there's scrollbar)

![image](https://user-images.githubusercontent.com/23308427/102208425-b0c84780-3ecf-11eb-81ed-b9c0470d9138.png)

Thanks!

[2020-12-15 11:22] gringo1er commented on #22398
Hi,
For your very last video (I really enjoy them!!) I have proceed exactly like you, except that comments don't appear, replaced by "> (stars appear).

When I check the modules folder inside the theme folder, the module doesn't appear. Could it be the source of my trouble?
![image](https://user-images.githubusercontent.com/9809622/102208810-28967200-3ed0-11eb-81eb-6cd068661bdb.png)

[2020-12-15 11:32] gringo1er commented on #22398
On my preprod platform (clone of our eshop) I have chosen the default prestasho theme, reinitialized the comments module, and now it works fine. It is really a theme issue, and as you can see in my previous snapshot, the module doesn't appear in its module folder. Do I have only to copy / paste the comments folder from root/modules to the theme modules folder?

[2020-12-15 11:33] hibatallahAouadni commented on #22422
Hello @NeOMakinG

You got a point :+1: reducing font-size and padding of these elements will be great :rocket:
At least, the KPIs pan should only displayed two lines with Mobile device that is 375px wide:

![image](https://user-images.githubusercontent.com/23308427/102209776-92634b80-3ed1-11eb-945a-aec3454e7564.png)

Thanks for your issue and PR!

[2020-12-15 11:46] hibatallahAouadni commented on #22429
Hello @Julievrz

I checked @PierreRambaud 's PR, and I believe it fixes the issue with Employee passwords too #12824
But let's wait for @PierreRambaud confirmation :sweat_smile:

[2020-12-15 11:56] hibatallahAouadni commented on #22336
Hello @LauSoup

After importing CSV containing only id_product and the name:

![image](https://user-images.githubusercontent.com/60292126/101781462-214e1d80-3af8-11eb-8358-43f3d1e7155c.png)

How it could be the categories are checked (even in the left part) !!!???? It's not possible!
That's why I asked "did you checked manually" :wink:

Could you please list the steps that you did to import the ca

[2020-12-15 12:01] hibatallahAouadni commented on #22253
@matks does copying all these files fix the problem?

[2020-12-15 12:03] hibatallahAouadni commented on #18674
Well @marionf I have tried several times to reproduce the issue but I couldn't :confused:
I'm really sorry @Hlavtox

[2020-12-15 12:05] hibatallahAouadni commented on #22302
Hello @beve

is your problem similar to this one #21206?

Thanks!

[2020-12-15 12:14] Hlavtox commented on #22262
@ttoine I think it's difficult to guess the tone from written communication, in a different language. And what could sound harsh can be only because of the language barrier. I assure you there is no anger in anything I write. 👍

What is the other reason people would come here? If I encounter a bug and I can fix it, I always make PR straight away. If I wouldn't want to help the community, I would f

[2020-12-15 12:18] hibatallahAouadni commented on #22390
Thanks @kalukramer
@cmcp-pt Glad to hear :tada:

[2020-12-15 12:28] hibatallahAouadni commented on #22398
Hello @gringo1er

Glad to hear that the problem is theme issue. So, I close the issue, but we can still answer your question here :wink:

@kpodemski thanks for your help!

@kpodemski do you think is it possible?

Thanks!

[2020-12-15 12:28] #22398 closed, assigned to nobody

[2020-12-15 12:28] Progi1984 commented on #22071
Fixed by #22171

[2020-12-15 12:28] #22071 closed, assigned to Progi1984

[2020-12-15 12:29] Progi1984 commented on #21891
Fixed by #21912

[2020-12-15 12:29] #21891 closed, assigned to atomiix

[2020-12-15 12:30] #22361 closed, assigned to prestascott

[2020-12-15 12:30] #22370 closed, assigned to prestascott

[2020-12-15 12:30] #22314 closed, assigned to NeOMakinG

[2020-12-15 12:31] SimonGrn commented on #22426
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-15 12:32] kpodemski commented on #22398
It's not a good idea, you should override module only if you want to change its default behavior, not to force default behavior :)

 probably there are some other issues, I suggest to contact with theme developer

[2020-12-15 12:33] ludoc opened #22430 "Last Chrome browser version display security alert when creating new customer account"
#### Describe the bug

Last Chrome browser version display security alert when creating new customer account

#### Expected behavior

There shouldn't be an alert that scares the visitor

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install the last version of Google Chrome, install PrestaShop 1.7.7 with HTTPS enabled
2. Go to https://shop_url/connexion?create_account=1
3. Fill the

[2020-12-15 12:33] fraizor opened #22431 "3 Decimals not working correctly"
**Describe the bug**
### 2 decimals showing instead of 3

When using a 3 decimals currency (OMR)
It is showing only 2 decimals in front office (product page)
regardless of "Decimals" field value in backoffice -->localizations --> currencies

Expected behavior
Showing 3 decimals for item price
example: 5.500

**Steps to Reproduce**
Steps to reproduce the behavior:

1- Go to backoffice -->localizati

[2020-12-15 12:34] Hlavtox commented on #18674
@hibatallahAouadni @marionf @PierreRambaud It all comes down to the database. Maybe you have a different version. My DB is latest MariaDB with default configuration.

https://drive.google.com/file/d/1Uga47_vp1T7iEGRJVw2xnP7egG-Y7wey/view?usp=sharing

I opened a PR in April, which should fix it, but it checks because I did not update tests. Pierre, would you finish it? https://github.com/PrestaShop

[2020-12-15 12:34] kpodemski commented on #22426
@fjoralbmuca

Error says that `Mobile_Detect` class is loaded twice in your store, I suggest to remove module you installed before error directly from FTP server, that might help.

[2020-12-15 12:37] fjoralbmuca commented on #22426
Removed in the Cpanel folder modules

On Tue, Dec 15, 2020 at 1:34 PM Krystian Podemski <notifications@github.com>
wrote:

[2020-12-15 12:51] Hlavtox commented on #22416
I think there are two problems:
- There is missing breadcrumb on sitemap page
- The mail <ol> sitemap tag should not be displayed on homepage at all, becuase the homepage should not have no breadcrumb

[2020-12-15 13:00] Julievrz commented on #22429
@hibatallahAouadni Great, thanks! :) What about the other issues? @khouloudbelguith was able to reproduce them.

[2020-12-15 13:58] Julievrz commented on #22429
https://github.com/PrestaShop/PrestaShop/pull/22045#issuecomment-741856612

[2020-12-15 14:13] hibatallahAouadni commented on #22414
Hello @radioeventos

I believe that's the expected behavior, even with PS1.7.6.9, I get the same behavior :wink:
So, let's list your steps clearly here:

1. **BO** > **SELL** > **Customer Service** > **Merchandise Return**
2. **MERCHANDISE RETURN (RMA) OPTIONS** block, activate the **Enable** returns option, then **Save**
3. **BO** > **CONFIGURE** > **Shop Parameters**  > **Order Settings**
4. **S

[2020-12-15 14:21] ttoine commented on #22262
Fortunately, there are more contributors that than. Big agencies and big merchants tests with their scenario, even if it is not always with an iso stack (core+module+theme+configuration+data). That's also why 1.7.7 is late: there has been a loooot of issues identified. But this is still not enough.

The pain is that it's difficult to test for the small independent merchants, because it takes time

[2020-12-15 14:25] gringo1er commented on #22398
Ok thank you for your time.
I think I will change the template. This one was too complex to use...

Or maybe no theme, only personalization of the native one...

Best regards!

[2020-12-15 14:27] #21592 closed, assigned to sowbiba

[2020-12-15 14:33] matks commented on #22232
This has been fixed a week ago 🎉

[2020-12-15 14:33] #22232 closed, assigned to nobody

[2020-12-15 14:34] Progi1984 commented on #10356
@tswfi Hi, the integration is currently in Work In Progress. It will be integrated in develop in a few weeks.

[2020-12-15 14:37] hibatallahAouadni commented on #22416
Hello @tom75

That's weird! I didn't manage to reproduce your issue, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/102227687-24774e00-3eea-11eb-9ed2-a5a7b47ddd2c.png)

Well, let's ping the Developers to check this out :wink:

Ping @PrestaShop/prestashop-core-developers do you see this issue as a bug or an improvement?

[2020-12-15 14:42] #22366 closed, assigned to NeOMakinG

[2020-12-15 14:43] tswfi commented on #10356
@Progi1984 Thanks! Do you happend to know if the img folder .htaccess compatibility with mod_pagespeed is on the scope also?

[2020-12-15 14:46] hibatallahAouadni commented on #22418
Hello @tswfi

Thanks for your issue and PR :smile:

Ping @PrestaShop/prestashop-core-developers do you agree with @PululuK about replacing **`http://`** by **`https://`**?

[2020-12-15 14:59] hibatallahAouadni commented on #18674
@Hlavtox My DB is MySQL version: 8.0.22
Hope it helps :wink:

[2020-12-15 15:10] Hlavtox commented on #18674
https://dba.stackexchange.com/a/6053

15. 12. 2020 v 15:59, Hibatallah Aouadni <notifications@github.com>:

﻿

@Hlavtox<https://github.com/Hlavtox> My DB is MySQL version: 8.0.22
Hope it helps 😉

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/PrestaShop/PrestaShop/issues/18674#issuecomment-745347696>, or unsubscribe<https://g

[2020-12-15 15:17] hibatallahAouadni commented on #22425
Hello @idnovate

Well, I didn't understand excatly which part the bug impact. But, I tried to reproduce the issue with your module and yes I managed to reproduce:

![image](https://user-images.githubusercontent.com/23308427/102233854-fd704a80-3ef0-11eb-9bda-2fca93beaa78.png)

Ping @PrestaShop/prestashop-core-developers have you any idea about this issue?

Thanks!

[2020-12-15 15:18] michelezanetti1981 commented on #9932
+1

Version 1.7.6.8, same bug

[2020-12-15 15:27] hibatallahAouadni commented on #22431
Hello @fraizor

This issue is already solved with PS1.7.7.0, follow these steps to use three digits after the comma with your currency:

1. BO > IMPROVE > International > Localization
2. Go to Currencies tab
3. Click on edit button of your currency OMR
4. Change the value of Decimals to 3
5. Save
6. Check FO > you will see all prices are displayed with three digits after the comma with your curren

[2020-12-15 15:27] hibatallahAouadni commented on #22431
Duplicate of #22375

[2020-12-15 15:27] #22431 closed, assigned to nobody

[2020-12-15 15:29] idnovate commented on #22425
I don't know if it has any impact in any PS default functionality, it has in a custom development.
I expect a return result which is not returned because another module already called this function with _$fullInfos_ as _false_.
I relied on cache and now I have to force a cache refresh which could be unnecessary.

[2020-12-15 15:33] #17563 closed, assigned to PierreRambaud

[2020-12-15 15:33] sowbiba commented on #22105
I take it ;)

[2020-12-15 15:33] #21841 closed, assigned to NeOMakinG

[2020-12-15 16:00] NeOMakinG opened #22435 "[Legacy default theme] - Improve style consistency of legacy pages"
#### Is your feature request related to a problem?

Legacy pages have old styles, while new theme received recent update (UIKit), which could be a bit improved in order to win some consistency, even if they are temporary

#### Describe the solution you'd like

We would require to change some styles :

- Buttons
- Forms
- Alerts
- Inputs
- Cards

[2020-12-15 16:16] decom-media opened #22437 "delivery note amount not correct in order view"
#### Describe the bug

Order Amount is wrong on the order page, compared to the invoice amount - invoice is showing correct amount, deliver note is showing just the transport costs -->in the order page (not in the pdf documents itself)

#### Expected behavior

Amount should be same as invoice

#### Steps to Reproduce

1. Open an order
2. change the status to "processing in progress" (to generate t

[2020-12-15 16:22] marionf commented on #9932
Hello,

As you can see in the right column of this issue, it has been fixed for the 1.7.7.0 through this [PR](https://github.com/PrestaShop/PrestaShop/pull/15399)

![capture d'écran_2906](https://user-images.githubusercontent.com/13449658/102242137-09143f00-3efa-11eb-87de-79ec7a9c95b9.png)

[2020-12-15 16:29] hibatallahAouadni commented on #22430
Hello @ludoc

I didn't manage to reproduce your issue with PS1.7.7.0 and the latest verion of Google Chrome:

![image](https://user-images.githubusercontent.com/23308427/102242774-b8e9ac80-3efa-11eb-9351-d37ea4be65be.png)

See the attached screen record below:

https://drive.google.com/file/d/15jtVy0rcp_1XWNn0WQyLJDGI35MxRjKM/view?usp=sharing

Please check and feedback.

Thanks!

[2020-12-15 16:46] hibatallahAouadni commented on #22435
Hello @NeOMakinG

Thanks for your issue and your PR.
Ping @prestascott we need your approval :sweat_smile:

[2020-12-15 16:51] marionf commented on #21630
@atomiix If we disable the WYSIWYG editor, it will no longer be possible to edit the HTML version of the emails through International > Translations ?

[2020-12-15 17:20] sowbiba commented on #20463
Decision have been made that we no longer can edit the root category of a shop. Root category is the virtual category that is parent of the Home category of the shop. Technically, it's the one which has no parent (id_parent == 0)

[2020-12-15 17:45] beve commented on #22302
Hi @hibatallahAouadni,

As @nachaliuga mentioned, it's a different problem.

[2020-12-15 18:00] LauSoup commented on #22336
Hi @hibatallahAouadni ,

I confirm that the categories that were checked BEFORE the import are still checked AFTER the import on the left part even with just id and name in the import file.
I made a video to show it to you:
https://drive.google.com/file/d/19dipkLQKvGm2p92jv4Ckf9Q1zTvStK5i/view?usp=sharing

To reproduce follow the steps on my first message, on a product that already has categories

[2020-12-15 18:25] psydomin commented on #22394
I believe you have misunderstood me. The problem is when you hide notifications for x (new customer for example) and then perform an action that triggers that same notification type (creating an account).
In your caso you did as follows:
Hide "new account" notifications > Create new order > Notification (for new order) shows <= This is OK, is as it should be.
The problem is when you do:
Hide "new

[2020-12-15 18:38] fraizor commented on #22431
@hibatallahAouadni
Dear hiba
The issue is not fixed in 1.7.7.0
I am using it and I confirm the issue is there.
In fact try to set the AED exchange rate to 1 and you will face the issue

[2020-12-15 19:02] vegancorr commented on #22399
The same issue seems to be with PS v. 1.6.1.3 and "1-Click Upgrade" module v. 4.11.0

The following error occurs at this address
/administrator/index.php?controller=AdminModules

[code]
In case you were wondering about the old versions, the website was not maintained for years and I was asked if I could fix just the above error.

[2020-12-15 19:28] ludoc commented on #22430
Hello @hibatallahAouadni
thank for your interest,

when I was notified of this issue by a customer (yesterday), I was not able to reproduce the issue on my computer with the same version of Chrome but today, I have the issue with a lot of Prestashop websites.

I rarely use Chrome, maybe it was not totally up to date, I don't know.
Try tomorow maybe or restart your computer, and tell me if you can