[2022-04-27 13:13] eshraw commented on #28331
Thanks for you answers.

It's a bug then @marwachelly.

[2022-04-27 13:42] delfinamedina opened #28353 "Muchos mails en mi casilla y página trabada"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

hola! ayer me paso que me empezaron

[2022-04-27 13:55] Saimis777 opened #28354 "Reservation period help text is incorrect [Bank transfer module]"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Not sure if this is a bug, but I th

[2022-04-27 14:08] hibatallahAouadni commented on #28342
Hello @Oksydan

I reproduce the issue with PS1778 and PS1785, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/165536874-22229924-b576-4169-b876-ce1a0ab36329.mp4

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is impor

[2022-04-27 14:12] fabian-lange opened #28355 ""Follow Up"-Cart-Rule with Shipping gets calculated the wrong"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello fellow Presta-Devs

This one

[2022-04-27 14:13] hibatallahAouadni commented on #28353
Hello @delfinamedina

Please send your request in English. English is the norm on GitHub.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to investigate it.

Thank you

[2022-04-27 14:13] #28353 closed, assigned to nobody

[2022-04-27 14:23] Progi1984 commented on #28285
Fixed by @Amit-Kumar-Tiwari-Webkul in #28301

[2022-04-27 14:23] #28285 closed, assigned to Amit-Kumar-Tiwari-Webkul

[2022-04-27 14:52] hibatallahAouadni commented on #28354
Hello @Saimis777

I reproduce the issue with PS1767, PS1778, PS1785 and develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/165546505-0580eb08-ae7b-44d8-a7eb-56fbfbf7354e.png)

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolv

[2022-04-27 15:22] hibatallahAouadni commented on #9752
@MatShir friendly reminder :pray:

[2022-04-27 15:34] hibatallahAouadni commented on #28349
Hello @Alan3k

Your issue is quite similar to this one #24370
Could you please check it and feedback.

Thanks!

[2022-04-27 15:37] #28156 closed, assigned to lmeyer1

[2022-04-27 15:44] hibatallahAouadni commented on #28345
Hello @JordanSuarez

That's totally weird :scream:
Ping @PrestaShop/prestashop-core-developers can someone please explain to us why this PR is displayed as merged while its modification isn't taken into account, check the files changes [here](https://github.com/PrestaShop/PrestaShop/pull/21732/files) and the attached screenshot below of develop branch:

![image](https://user-images.githubuserconte

[2022-04-27 16:00] kpodemski commented on #28345
@PrestaShop/prestashop-maintainers

something went wrong here:
https://github.com/PrestaShop/PrestaShop/commit/2dc61fba9db8b531b071877f799a3f95c7978264 😱

How can we know during the merge from `version-branch` to `develop-branch` which fix is good for solving conflicts? 🤔

[2022-04-27 16:45] PululuK opened #28357 "ConnectException on check Webservice Endpoint"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

ConnectException on check Webservic

[2022-04-27 20:43] wop99 opened #28360 "Email Templates Missing"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am trying to edit and add link to

[2022-04-28 05:31] Alan3k commented on #28349
Hello @hibatallahAouadni,

I'm afraid this issue is not similar.

I will try to make explanation simpler. Let's say we have category tree:

- Category (level 1)
-- SubCategoryA (level 2)
--- SubCategoryB (level 3)

Product is enabled and added only to SubCategoryB. But it's displaying in all Categories (Category, SubCategoryA, SubCategoryB) because of "Show products from subcategories" option enab

[2022-04-28 06:07] kpodemski commented on #28106
Ping @PrestaShop/product-team

[2022-04-28 07:10] lucasvavon commented on #28096
Hello,

At Piment Bleu, we followed your advice and solved our problem, the option "delivery" should not be activated to allow the edition of products of an order.

Thank you [alfonsolr09](https://github.com/alfonsolr09) :)

Best regards,
Lucas,
Piment Bleu (FR)

[2022-04-28 07:58] matks commented on #28345
Always with git merges 😭

[2022-04-28 08:00] lmeyer1 commented on #28233
@MatShir Yes that is it. The integration with RGPD module is already in place.
I will come back to this issue later.

[2022-04-28 08:26] MeKeyCool commented on #27617
@MatShir, I take this one ^^

[2022-04-28 08:32] sLorenzini opened #28361 "BO - Bad display on Your Profile button on all of pages when hover and click on it"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bad display on Your profile button

[2022-04-28 08:36] TristanLDD commented on #28053
Hi @tm854, thanks for your contribution!

I agree with you, red background notification counters will have better contrast and readability
Can you make the notification color #f44336 so it matches the back-office UI kit colors?

[2022-04-28 08:39] sandra2n commented on #28334
Ok, thanks

[2022-04-28 08:54] lmeyer1 commented on #19227
@matks @atomiix
If asked this question is was for a purpose: it was in order to know how to integrate mail templates in a module.

Currently, we have raw mail themes in [mjml_theme_converter](https://github.com/PrestaShop/mjml-theme-converter), that are used to generate the twig themes in `/mails/themes/classic/modules` and `/mails/themes/modern/modules`. From there the translated mail templates a

[2022-04-28 09:07] hibatallahAouadni commented on #28357
Hello @PululuK

I reproduce the issue with develop only while using docker (in local I didn't encounter any issues), and it's a regression cause I didn't reproduce on 1.7.8.x while using docker.
I’ll add this to the debug backlog so that it’s fixed, and thanks for your PR :rocket:

Thank you

[2022-04-28 09:22] #28216 closed, assigned to nobody

[2022-04-28 09:36] matks commented on #27973
## Status update

Both issues above proved to be far more complex and severe than expected. In order not to postpone 1.7.8.6 any later, I reduced the scope of the release to the very items needed. 1.7.8.6 core release should not be postponed because of issues inside the upgrade module or the blockreassurance module, these should be fixed and released on their own.

## List of items to deliver befo

[2022-04-28 09:37] matks commented on #28264
@AureRita and I spent some time exploring the bug that is making us go crazy 🤯

So I think I know the root of our problems: I believe that when you upgrade module blockreassurance from version A to version B, blocks created with custom images are corrupted because the custom images are deleted.

This is, I guess, because custom images are stored in blockreassurance/views/img/img_perso and I think

[2022-04-28 09:44] hibatallahAouadni commented on #28360
Hello @wop99

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #19081.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-04-28 09:44] #28360 closed, assigned to nobody

[2022-04-28 09:44] hibatallahAouadni commented on #28360
Duplicate of #19081

[2022-04-28 10:03] sLorenzini opened #28363 "Products page V2 - Summary description characters limit does not work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-04-28 10:35] sowbiba opened #28364 "Module manager - Remove empty categories and allow modules to use them"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-04-28 11:05] wzzly commented on #14754
I would like this (basic) feature as well. Should just be a button in the order details page to resend the confirmation mail to the customer...

[2022-04-28 11:16] hibatallahAouadni commented on #28355
Hello @Fobba199l

What do you mean by "Follow Up"? are you talking about the module "Follow Up" which known by ps_reminder?
Waiting for your feedback.

Thanks!

[2022-04-28 11:45] hibatallahAouadni commented on #28364
Hello @sowbiba

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Ping @PrestaShop/product-team wdyt about https://github.com/PrestaShop/PrestaShop/pull/28318#issuecomment-1112013136?

Thank you

[2022-04-28 11:53] hibatallahAouadni commented on #28053
Ping @NeOMakinG

[2022-04-28 12:10] Fobba199l commented on #28355
Hello @hibatallahAouadni

I mean the cart-rule which get created if a rule is only used partially.
![Screenshot from 2022-04-28 14-08-06](https://user-images.githubusercontent.com/22368949/165748795-e10e09dc-7c58-417a-a373-dd7b3d02ff27.png)

Like the Cart-Rule with the ID 25 in the screenshot.

I hope this is a little bit more understandable.

Best Regards

[2022-04-28 13:15] #27119 closed, assigned to Progi1984

[2022-04-28 13:36] #23312 closed, assigned to nobody

[2022-04-28 13:39] pluscom-kevin opened #28365 "Preview email templates on order status not working"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After a fresh install of Prestashop

[2022-04-28 13:51] sLorenzini opened #28366 "Bad display of label in stock / out of stock with too long characters"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-04-28 14:09] sLorenzini opened #28367 "Error when pagination (products per page) on category page set to 0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-04-28 14:51] sLorenzini opened #28368 "Bad display with selected lists on Product settings page on mobile"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-04-28 15:07] sLorenzini opened #28369 "Error on selected list in Firefox"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-04-28 15:31] hibatallahAouadni commented on #28276
Hello @jouino16

Thanks for your reply :pray:
Yet, I didn't manage to reproduce the issue even with PS1778.
I tried to reproduce it with these steps to reproduce:

2. knowing that you have 300 in stock, try adding to cart 301 : type 300, then increment by one and then add to cart.

Yet, no succes! see the attached screen record below:

https://user-images.githubusercontent.com/23308427/165789241-2

[2022-04-28 15:31] #28276 closed, assigned to nobody

[2022-04-28 15:35] hibatallahAouadni commented on #28336
Hello @gennaris

Your issue seems similar to this one #12198
Could you please check it :pray:

Thanks!

[2022-04-28 15:45] matks opened #28372 "CI is failing on 1.7.8.x branch - BO login timeout"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

CI is failing on 1.7.8.x branch as

[2022-04-28 15:46] gennaris commented on #28336
Hello @hibatallahAouadni !
no they are two separate problems.

My issue had been introduced by [this ](https://github.com/PrestaShop/PrestaShop/commit/e258cf52363a836218601c7fa83a7ece5e7b4da2)PR that doesn't take into account that legit customer carts can have **id_guest = 0** when **statsdata** module is not installed.

[2022-04-28 15:52] pardebits commented on #18855
Same error here:
Can not retrieve the id_product_attribute
at line 7532 in file classes/Product.php

I just create two combinations, I added to a product, and when I go to product page and select, show "undefined" alert, and error 500 in console.

Prestashop 1.7.8.5

[2022-04-28 16:13] HartLarsson commented on #28302
After updating the module to v3.8.0 i discover it added a new Value "Available" instead to use the old translated "In Magazzino" (is italian)

![image](https://user-images.githubusercontent.com/16102074/165797253-495d4905-3ed9-4c01-a220-c2b8792d4213.png)

[2022-04-28 18:53] Progi1984 commented on #25840
Fixed in #28347

[2022-04-28 18:53] #25840 closed, assigned to Progi1984

[2022-04-28 18:54] #28312 closed, assigned to hibatallahAouadni

[2022-04-28 21:19] ITProfeska opened #28373 "Can't open Module manager"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

I have a problem with Module m

[2022-04-29 03:07] jannakz opened #28374 "Registration error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![registration error](https://user-

[2022-04-29 03:12] jannakz commented on #28374
Cannot make a new accounts at site
Please help me to fix the issues

[2022-04-29 06:50] #28217 closed, assigned to lmeyer1

[2022-04-29 08:20] HanaRebaiQA commented on #28365
Hello @pluscom-kevin

Thanks for your report.
I was able to reproduce the issue with 1785 and 1778 even when the e-mail is configured.

![image](https://user-images.githubusercontent.com/92912932/165908829-fb117825-987d-4c12-bf0f-ab900f8ef723.png)

https://user-images.githubusercontent.com/92912932/165908806-06d097c7-e0b5-4063-9b9f-2b2475f6dbb8.mp4

I'll add this to the debug backlog so that it's

[2022-04-29 08:40] pluscom-kevin commented on #28365
Hi [HanaRebaiQA](https://github.com/HanaRebaiQA),

Thanks for taking the time.
I was able to "correct" this issue by going to International > Translations > e-mails translations / body message / my theme / my language.
Just by doing that, now the "preview" on order statuses redirect to the theme folder and it's working.
But yeah by default the /mails folder prompt this error.
I just let this messa

[2022-04-29 08:59] HanaRebaiQA commented on #28365
Hello @pluscom-kevin

Thanks for your feedback.
Yes! The problem is fixed when Do this : International > Translations > Modify Translations > Choose Email translation

https://user-images.githubusercontent.com/92912932/165914718-ecf043aa-8492-4e78-aff1-62365124f82f.mp4

This issue is a duplicate of[ #17759](https://github.com/PrestaShop/PrestaShop/issues/17759)

So, i'll close the issue.

Thank yo

[2022-04-29 08:59] #28365 closed, assigned to nobody

[2022-04-29 08:59] HanaRebaiQA commented on #28365
Duplicate of[ #17759](https://github.com/PrestaShop/PrestaShop/issues/17759)

[2022-04-29 09:28] HanaRebaiQA commented on #28372
Hello @matks

Thanks for your report.
Regarding this,
![image](https://user-images.githubusercontent.com/92912932/165915910-697b87c5-105e-40e8-b339-fe8dbbda47ba.png)

So, it's a regression in automated tests.

Thanks!

[2022-04-29 09:33] marsaldev commented on #18025
Hi @zuk3975,
I'm not able to reproduce this behaviour in the 1.7.7.0 and 8.0.0

https://user-images.githubusercontent.com/48283112/165919541-704e1599-7197-4f12-ae07-8790bb86c9ee.mp4

Maybe it has been already solved, do you think we can close this issue?
@MatShir @matks

[2022-04-29 09:41] aem34 opened #28376 "Wrong subcategories list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The category id 8 have 6 subcategor

[2022-04-29 09:58] #27924 closed, assigned to Progi1984

[2022-04-29 10:07] AureRita commented on #28302
Thank you @HartLarsson to have added more example points for this issue

[2022-04-29 10:29] rmlopezcar commented on #10137
Hi,
the bug still not fixed. I've a multistore ecommerce. When I duplicate a product to modify it I have the same issue that you describe above. The message that appears is "error creating additional images". I tried the above suggestions, as clean the cache or eraser all the previous photos but still not [working]

[2022-04-29 10:32] sandra2n commented on #28334
Hi,

I found a sort of solution that works if all products have the same taxes (which is my case here).

In an override of the Cart class I did added:

`public function getOrderTotal(
        $withTaxes = true,
        $type = Cart::BOTH,
        $products = null,
        $id_carrier = null,
        $use_cache = false,
        bool $keepOrderPrices = false
    ) {
        if (Tax::excludeTaxeOptio

[2022-04-29 11:06] HanaRebaiQA commented on #28373
Hello @ITProfeska

Thanks for your report.

I was unable to reproduce your issue with 1785 and php 7.4.

https://user-images.githubusercontent.com/92912932/165923516-22f86236-1301-457d-9bcd-4b30d55e5b9f.mp4

It seems that your issue is related to `statscheckup`, could you reset it ?

Please check again and feedback

Thanks!

[2022-04-29 11:36] jocel1 opened #28378 "console command doesn't set Shop::CONTEXT_ALL properly"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When launching console command, Sho

[2022-04-29 11:39] kpodemski commented on #28378
Why not setting the Context in the  module install method instead?

[2022-04-29 12:17] HanaRebaiQA commented on #28374
Hello @jannakz

Thanks for your report.
I was unable to reproduce your issue with 1785 and 178x

[2022-04-29 12:38] jocel1 commented on #28378
Hi @kpodemski the module install method offers the --id_shop and --id_shop_group which properly set the context.
However when no option are provided, the CONTEXT_ALL should be expected, and this is not the case (it always sets CONTEXT_SHOP even when no --id_shop or --id_shop_group are specified)

[2022-04-29 12:40] HanaRebaiQA commented on #28378
Hello @jocel1

Thanks for your report.
It seems that your issue is similar to this one [#25016](https://github.com/PrestaShop/PrestaShop/issues/25016)
Could you confirm it ?

Thank you.

[2022-04-29 12:46] jocel1 commented on #28378
hi @HanaRebaiQA no it's not the same issue, it's not related to the backoffice, but to the cli command

[2022-04-29 13:13] matks commented on #28372
I reproduce the issue on 1.7.8.5 release if the DEBUG mode is enabled.

Same for 1.7.8.x branch: issues can be observed when DEBUG mode is enabled, as found by @SD1982 and @nesrineabdmouleh

[2022-04-29 13:28] nesrineabdmouleh commented on #28372
Hello @HanaRebaiQA ,

It's not a regression in automated tests but a regression in Metrics V3, reproduced when debug mode is enabled.

[2022-04-29 13:28] #18536 closed, assigned to marsaldev

[2022-04-29 13:54] HanaRebaiQA commented on #28376
Hello @aem34

Thanks for your report.

Could you please provide us more info about the module used and a screen-record to can clearly reproduce your issue?

Waiting for your feedback.
Thank you!

[2022-04-29 14:16] ITProfeska commented on #28373
Hi,

I reset statscheckup but this action doesn't help, so I disabled this module but this do not change situation at all same error showing up when I clicked on module manager.

Regards

[2022-04-29 14:25] jocel1 commented on #27340
Hi @hibatallahAouadni!
I would understand if there weren't any test associated with the fix, but it's already cover with a test.
You can run the test with & without the fix to see the difference in behaviour :)

[2022-04-29 14:43] HanaRebaiQA commented on #28336
Hello @gennaris

Despite our efforts, we were not able to reproduce your issue with the provided information.
I tried to reproduce the issue with 1785 and php 7.4 when the **statsdata** is (enabled, disabled, uninstalled)

https://user-images.githubusercontent.com/92912932/165967477-d35f5753-b83d-4a4c-afbc-047355a602e0.mp4

It seems that your issue is not a PrestaShop core bug but most likely a se

[2022-04-29 14:47] lopezpablodaniel commented on #9589
Hello @antoniofourmark
Maybe this help: https://github.com/PrestaShop/PrestaShop/pull/27803#issuecomment-1113408934

[2022-04-29 16:05] MatShir opened #28382 "API is not working with the product page"
**First issue** : An exception is thrown when putting a negative amount in Cost price field

There are two problems here:

- The wholesale price is not updated when changing the Cost price in Supplier field
- An alert is missing to notify that the price should be positive or zero (as without PR)

1. BO > Catalog > Products (experimental) V2  > Create a product
2. In `Supplier references` section >

[2022-04-29 17:29] davidcylke commented on #14979
Yes @kpodemski we have some modules which further decrease performance, but prestashop itself is not well optimized for this.
This is another case from other dev who tested clean prestashop with 100 products in cart in prestashop 1.7.8.1, php 7.2, 10.7.3-MariaDB-1:10.7.3+Maria~focal:
 Load Time           6454 ms
        /
            Querying Time       2290 ms
            Queries               10

[2022-04-29 17:57] levimauricio commented on #22262
Excelente, esta solución resolvió mi problema

[2022-04-29 22:13] LuigiMdg opened #28383 "Catalog Specific Price Rule Inconsistencies"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Salutations,
I would like to expose

[2022-04-29 23:56] roja45 commented on #28275
Hello,
Yes, I will do this, just a bit busy at the moment, almost there, don't close ;-)
Thanks

[2022-04-30 07:28] matdu58 commented on #26570
Hello !
To keep you updated, I found an alternative until a solution will be added natively to Prestashop.
That is a new module available on Addons here :
https://addons.prestashop.com/fr/international-localisation/86918-bloc-de-choix-de-langue-personnalise.html
From your side, tell me when the native solution will have been implemented, so that I can remove the module (I will use it temporarily).

[2022-04-30 15:37] #9590 closed, assigned to kpodemski

[2022-04-30 20:17] molsondry commented on #28323
Hi [marwachelly](https://github.com/marwachelly),
Thank you very much for helping. I have got an update and solved the problem. It is related to an installation of Attribute Wizard Pro made by Prestochangeo. For all who want to get rid of Attribute Wizard Pro: AWP installation changes your database structure of table xx_cart_product. It adds three additional fields and id_customization is no longe

[2022-04-30 20:18] #28323 closed, assigned to nobody

[2022-05-01 11:04] ChineseNorris commented on #20173
Completely agree, in 1.6 at least gives you a blank page which gives you some hints, but just no warnings...

Thank you for sharing the solution

[2022-05-01 12:02] unlocomqx opened #28384 "Provide a way to delete the install folder from the admin interface"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-01 13:58] kmotrebski commented on #28302
I am using latest Bitnami image for PrestaShop on AWS and I have the same issue. To be more specific I am using AWS Lightsail service, where I just choose image and it is installed & configured by AWS/Bitnami.

[2022-05-01 16:34] mparvazi commented on #28369
Hello @sLorenzini

Try to clear cache `Command + Shift + R (Mac)` and test again.
If problem persists, maybe it is being caused by an extension, theme or hardware acceleration,
Start Firefox in Troubleshoot Mode:
Click the menu button ("3-bar" menu button), click **Help**, select **Troubleshoot Mode**… and click **Restart** in the Restart dialog. When the `Open Firefox in Troubleshoot Mode?` windo

[2022-05-01 16:46] mparvazi commented on #28384
Hello @unlocomqx

So anyone except you (admin) can delete this folder, right?

[2022-05-01 16:54] mparvazi commented on #28373
Hello @ITProfeska
Please try to delete folder `PS/var/cache` and test again.

[2022-05-01 17:25] unlocomqx commented on #28384
@mparvazi I didn't understand, please clarify

It's simply to provide an easy way to delete the install folder.
It's similar to how PrestaShop can create the database for you when you are installing a shop, it saves you a few clicks.

[2022-05-01 19:05] ITProfeska commented on #28373
yeah that's was it,

many thanks :-)

[2022-05-01 19:52] unlocomqx commented on #10853
I encountered the same issue on the latest version of PrestaShop (1.7.8.5)
Here's some debug info

When `\PrestaShopBundle\Twig\LayoutExtension::getLegacyLayout` is called and the `install` folder is still present, the layout returns this html (truncated to the relevant part)

[code]

Otherwise, if the install folder is not present, this html is returned
[code]

Notice the that `{$content}` is pre

[2022-05-01 20:49] #28384 closed, assigned to nobody

[2022-05-02 03:16] ProteanCode opened #28385 "Enable caching of addressExists method"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-02 03:20] ProteanCode commented on #28385
Nevermind

Somebody posted about this here
https://github.com/PrestaShop/PrestaShop/pull/28232

[2022-05-02 03:20] #28385 closed, assigned to nobody

[2022-05-02 08:24] matks commented on #28372
Fixed by a new release of ps_metrics (PR to verify https://github.com/PrestaShop/PrestaShop/pull/28386)

[2022-05-02 08:24] #28372 closed, assigned to nobody

[2022-05-02 08:48] AureRita opened #28387 "FO > Page Product, Exceptions when you use latest classic-theme changes on 1.7.8.x"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I Go to the FO, Click on See a

[2022-05-02 09:38] MatShir opened #28389 "Confirmation modal before disabling non native module"
## Problem

Mass deactivation of modules can be fatal if not managed properly.

## Solution

Have a confirmation modal before

Are you sure ?
It will disable all the non built-in module.
Cancel / Disable

https://github.com/PrestaShop/PrestaShop/pull/26572

[2022-05-02 10:12] Progi1984 commented on #27077
Fixed by @matks in #28259.

[2022-05-02 10:12] #27077 closed, assigned to matks

[2022-05-02 13:05] #28061 closed, assigned to Progi1984

[2022-05-02 13:41] henribaeyens commented on #9664
Evidently this error is caused by the key product_default which, in a multishop context, will always tank if you have, for the same product id, at least 2 different product attribute ids being set as default.
A solution would be to update the product_attribute_shop only when setting the product's default attribute

[2022-05-02 13:43] AureRita commented on #28383
Hi @LuigiMdg

Thank you for the reporting Issue.
I reproduced it on 1.7.8.5, 1.7.7.8 and 1.7.6.5 as you can see on this video :

https://user-images.githubusercontent.com/100699445/166243124-ff6afffe-f475-4e13-bc03-474f93135422.mp4

I will add it to the Epic to be fixed

Thanks

[2022-05-02 13:58] MatShir commented on #28304
We can't fix this issue, it requires big changes on the core to catch that an upgrade is performing. But we can enhance the wording to warn the merchant not to do stuff in BO while upgrading a module.

@Julievrz :)

[2022-05-02 14:24] #28053 closed, assigned to NeOMakinG

[2022-05-02 14:44] atomiix commented on #28304
@MatShir I'm not sure that it requires that much of a change, it looks like a cache issue. Also, even if the merchant doesn't do anything in the BO, if he has a tab open, as there is ajax request performed regularly without user action, this issue can happen.

[2022-05-02 14:45] JulienNDKgroup opened #28391 "'updatedProduct' Javascript event not working in CCC mode + asset management"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

We tried to optimize our sh

[2022-05-02 15:12] MatShir commented on #28304
@matks suggested it will require a lot of changes, but maybe you have an idea in mind for quickwin ?

[2022-05-02 15:30] matks commented on #28304
@atomiix I told Mateus that this is a global issue that would need deeper work 😄  .

For me the global issue is "when someone performs a system-impating action (like upgrade the Core, upgrade a module, install a module, change the theme), other users using BO or FO might encounter weird behaviors".

For example if we upgrade a module, the upgrade requires a new SQL table to be created and the code

[2022-05-02 15:31] AureRita commented on #28349
Hi @Alan3k,

I see the problem here,

Currently, the option "Show products from subcategories" show us products we can see,

What this option show :

https://user-images.githubusercontent.com/100699445/166256866-6a802039-e146-4917-aaf2-373bf9f47a6f.mp4

We'll take an example : Now, Only your customers and guest can see your products and your visitors can't, how can you did it ? like this :

https:

[2022-05-02 15:45] AureRita commented on #28373
Thank you @mparvazi for your support,

I'll close this issue,

Thanks

[2022-05-02 15:45] #28373 closed, assigned to nobody

[2022-05-02 15:57] Cantonata opened #28393 "In the details of the order, the VAT tax of the product appears duplicated and the wrong price appears"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the details of the order, the VA

[2022-05-02 16:29] matks opened #28394 "Upgrade 1.7.7.8 (php7.2) to PS1.7.8.6 - ParseError unexpected token"
**This bug report is created from @hibatallahAouadni report https://github.com/PrestaShop/autoupgrade/pull/483#issuecomment-1113496644**

### Describe the bug and add screenshots

Error detected when upgrading from 1.7.7.8 (php7.2) to PS1.7.8.6 (release from the branch 1.7.8.x)
Fresh install of Ps 1.7.7.8 and installed with arabe language, an error happens during upgrade process

<img src="https:/

[2022-05-02 16:35] matks commented on #27973
## Status update

The test of [autoupgrade 4.14.1](https://github.com/PrestaShop/autoupgrade/pull/483) reported issues for 1.7.7.8 -> 1.7.8.6 upgrade. We need to investigate if these are because of 1.7.8.x content, then it would be regressions that block the 1.7.8.6 release.

[2022-05-03 07:09] PululuK commented on #23589
See https://github.com/PululuK/ps_overridesinfos

[2022-05-03 07:09] #23589 closed, assigned to nobody

[2022-05-03 07:22] florine2623 commented on #28393
Hello @Cantonata ,

This is an issue with your template.
Please make sure you don't have any overrides on t-your template or contact directly the developer of it.

This is not a Core related issue. So I will close it.
Thanks!

[2022-05-03 07:22] #28393 closed, assigned to nobody

[2022-05-03 07:43] florine2623 commented on #28391
Hello @JulienNDKgroup ,

Could you provide the JS file with the "updatedProduct" javascript event + provide an screen record example fo what you are trying to do please ?
It will be very helpful in reproducing your issue.

Thanks!

[2022-05-03 07:55] tlgsoledis commented on #28106
Ping https://github.com/orgs/PrestaShop/teams/product-team

[2022-05-03 07:58] tlgsoledis commented on #28106
No news ...

[2022-05-03 08:10] matks commented on #28306
@musaffar-patel thank you for the report

[2022-05-03 08:13] fabienvallon commented on #28218
LGTM

[2022-05-03 08:14] zuk3975 opened #28397 "Reminder issue: Move toggleStatusAction from old to new product controller"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-03 08:21] #25888 closed, assigned to MeKeyCool

[2022-05-03 08:29] #28065 closed, assigned to PululuK

[2022-05-03 08:32] MatShir commented on #28106
Hi @tlgsoledis,
Sorry for delay, seems legit thanks for your contribution :)

[2022-05-03 08:43] florine2623 commented on #28378
Hello @jocel1 ,

Would you mind providing the demo module so we can test it ?

Thanks!

[2022-05-03 09:13] SD1982 opened #28400 "Exception raised on specific payment methods"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On FO after an order if payment met

[2022-05-03 09:19] #28400 closed, assigned to nobody

[2022-05-03 09:53] #28317 closed, assigned to sowbiba

[2022-05-03 10:19] florine2623 commented on #28355
Hello @Fobba199l ,

Here's the result I have in my cart as a customer :
<img width="1132" alt="Screenshot 2022-05-03 at 12 00 42" src="https://user-images.githubusercontent.com/16019289/166435525-6c3cb0a1-596e-410e-b9ce-e43d07a3b7d8.png">

In my customer account > Vouchers :
<img width="1101" alt="Screenshot 2022-05-03 at 12 01 16" src="https://user-images.githubusercontent.com/16019289/166435536-

[2022-05-03 10:52] v1per4llbl4ck opened #28401 "After upgrade 1.7.8.5 Undefined index: category_rewrite in ****/override/classes/Dispatcher.php on line 982"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

when the quantity of product is 0 i

[2022-05-03 11:11] zuk3975 commented on #18867
still relevant. Default instalation doesn't seem to install default image types, but even behat tests expects them (im not sure how do tests pass in gitactions, but locally product image tests fails unless i hardcode all expected image types to database)

[2022-05-03 12:03] florine2623 commented on #28401
Hello @v1per4llbl4ck ,

It seems like you have an issue with your override file. Can you remove it and try again ?

Thanks!

[2022-05-03 12:06] florine2623 commented on #25400
Hello @sergiobm3 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-05-03 12:06] #25400 closed, assigned to nobody

[2022-05-03 12:07] v1per4llbl4ck commented on #28401
remove dipatcher.php?

Il giorno mar 3 mag 2022 alle ore 14:03 florine2623 <
***@***.***> ha scritto:

[2022-05-03 12:09] florine2623 commented on #28176
Hello @VipinNethues ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-05-03 12:09] #28176 closed, assigned to nobody

[2022-05-03 12:10] florine2623 commented on #28221
Hello @szykuc ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-05-03 12:10] #28221 closed, assigned to nobody

[2022-05-03 12:43] florine2623 commented on #28308
Hello @jdewitte-ambris ,

I have reproduced your issue with your steps with PS 1.7.8.6 and 8.0.0.
The only difference between 1.7.8.6 and 8.0.0 is this notice :
<img width="608" alt="Screenshot 2022-05-03 at 14 40 49" src="https://user-images.githubusercontent.com/16019289/166454998-62f103cb-ae2e-4b9b-b26b-03a5e27b7ffb.png">

So I can confirm that this behavior is indeed a bug.

I configure the Pe

[2022-05-03 12:54] florine2623 commented on #24389
As discussed previously, when modifying a combination that has been deleted, there's an exception :

https://user-images.githubusercontent.com/16019289/166456437-a1a5d7d9-5d04-46e3-8aca-3f76bbfe81e9.mov

<img width="946" alt="Screenshot 2022-05-03 at 14 52 56" src="https://user-images.githubusercontent.com/16019289/166456328-9043dd3f-59d3-4663-a716-b5b06666f264.png">

[2022-05-03 13:25] #9862 closed, assigned to kpodemski

[2022-05-03 13:26] #27596 closed, assigned to Amazzing

[2022-05-03 13:34] Julievrz commented on #28304
@MatShir We could modify the modal's body message as follow:

'To avoid any cache issues during the upgrade:

- Put your store in maintenance mode
- Do not open any other back-office pages during the upgrade'

[2022-05-03 13:36] Fobba199l commented on #28355
Hello @florine2623

This is my Result:     (tested in PS 1.7.8.2)
![Screenshot from 2022-05-03 15-33-52](https://user-images.githubusercontent.com/22368949/166462749-31628176-b14c-44f3-8005-c935f105c066.png)
![Screenshot from 2022-05-03 15-34-47](https://user-images.githubusercontent.com/22368949/166462760-fd7dd8d8-7fc9-46e5-861a-0fee6fb7af11.png)

As you can see, the new voucher has a value which

[2022-05-03 14:33] kandiaga commented on #14979
Hi,
I'm   working   on   a  solution   for  those  who  are  facing  this  issue.
I  have   discover   a   lot  of    code   that  slows  down  the  system.

I   discover   the   the  big  query  that   is  being  called  175   times  in  a  given client's  website  is  not  related  to  the   B2B    feature.   I have  installed   a  fresh  PrestaShop  1.7.8   with  B2B  disabled  and  I  have  th

[2022-05-03 14:41] #28148 closed, assigned to lmeyer1

[2022-05-03 14:41] Caleydon opened #28404 "Old translation system do not accept "<" sign"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Old translation system do not accep

[2022-05-03 15:15] florine2623 commented on #28404
Hello @Caleydon ,

I have reproduced your issue with branch 1.7.8.x and develop, so I can confirm that this behavior is indeed a bug.

https://user-images.githubusercontent.com/16019289/166482106-5d2268cb-d111-427c-948b-8575081e1da0.mov

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you ca

[2022-05-03 15:19] #27688 closed, assigned to nobody

[2022-05-03 15:28] florine2623 opened #28405 "BO - Orders details - Block Status - dropdown has bad styling"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The styling is bad on this part of

[2022-05-03 16:26] Seb33300 opened #28406 "Prevent page break in the middle of tables in PDF"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When a PDF is generated (invoices,

[2022-05-03 18:59] stickyrst commented on #14703
Prestashop 1.7.7.8, this issue still persists. updateReservedProductQuantity and updatePhysicalProductQuantity is very slow.

[2022-05-03 20:39] alfonsolr09 opened #28408 "when will the new version of cash on delivery be compiled??"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

when will the new version of cash o

[2022-05-03 20:57] QueeNFrisk opened #28409 "Products created from the api do not show up in the front office"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I create products from the api

[2022-05-03 21:20] QueeNFrisk opened #28410 "When inserting a product to prestashop from web services it does not return id of the new product."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Inserting 7 products that do return

[2022-05-04 08:24] MatShir opened #28411 "Footer on the V2 product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-04 09:09] JulienNDKgroup commented on #28391
Hello Florine!

Finally all is working good. We had a line in our JS file that was blocking all the workflow only when we enabled the CCC system. But now it's OK :) Sorry for the inconvenience!

Best Regards

[2022-05-04 09:09] #28391 closed, assigned to nobody

[2022-05-04 09:21] hibatallahAouadni commented on #28406
Hello @Seb33300

I didn't reproduce the issue with PS 1785, see the screen record below:

![IN000007](https://user-images.githubusercontent.com/23308427/166654262-c1cd2931-c1bf-43ef-8b73-e30f0e1455d5.gif)

Please check and feedback.
Thanks!

[2022-05-04 09:47] hibatallahAouadni commented on #28408
Hello @alfonsolr09

We only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/)

[2022-05-04 09:47] #28408 closed, assigned to nobody

[2022-05-04 10:12] #9589 closed, assigned to nobody

[2022-05-04 11:05] hibatallahAouadni commented on #28391
@JulienNDKgroup Glad to hear :tada:

[2022-05-04 11:45] Seb33300 commented on #28406
@hibatallahAouadni you put too many items to your order.

You should try with 12 items.

[2022-05-04 12:04] #27427 closed, assigned to atomiix

[2022-05-04 12:28] hibatallahAouadni commented on #28385
Duplicate of #28321

[2022-05-04 12:32] hibatallahAouadni commented on #28400
Duplicate of #27204

[2022-05-04 12:35] hibatallahAouadni commented on #28400
Duplicate of #28147

[2022-05-04 12:56] #28218 closed, assigned to lmeyer1

[2022-05-04 13:09] Saimis777 opened #28415 "Entering group percentage discount redirects to another page."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the page Shop parameters -> Cust

[2022-05-04 13:13] alfonsolr09 commented on #28408
this is an official open source PrestaShop module

[2022-05-04 13:14] alfonsolr09 commented on #28408
this is an official open source PrestaShop module

[2022-05-04 13:14] alfonsolr09 commented on #28408
@Progi1984 @matks

[2022-05-04 14:13] hibatallahAouadni commented on #28408
Hello @alfonsolr09

I know :sweat_smile:

I meant you can ask your question on the public Slack :wink:

[2022-05-04 14:20] kpodemski commented on #28408
Hi @alfonsolr09

Feel free to join our [Slack channel](https://www.prestashop-project.org/slack/)

[2022-05-04 14:21] alfonsolr09 commented on #28408
I just asked. I didn't remember you also used slack.thank you

[2022-05-04 14:28] hibatallahAouadni commented on #28406
Hello @Seb33300

Do you mean that the Total table is split over two pages?

![image](https://user-images.githubusercontent.com/23308427/166703018-dfe53e15-47d2-4c3e-9a81-03e548a21ef1.png)

Waiting for your feedback.
Thanks!

[2022-05-04 14:40] Seb33300 commented on #28406
Yes, I think it will be better to never split this table and move it to the second page.

[2022-05-04 14:46] hibatallahAouadni commented on #28409
Hello @QueeNFrisk

I think you made mistake while creating this code :wink:
First of all, you need to encapsulated the code by `try` and `catch` condition.
Then, you need to add array to this second line:
` $xml = $webService->get(array('url' => PS_SHOP_PATH.'/api/products?schema=blank'));`
Finally, you need to check if you have multi languages, if so you need to add `langauge` while setting the n

[2022-05-04 14:51] hibatallahAouadni commented on #28410
Hello @QueeNFrisk

I think it's related to the same issue that you already reported here #28409
Closing this one as a duplicate :wink: try to fix your code, then you will not encounter these issues :relaxed:

Thanks!

[2022-05-04 14:51] #28410 closed, assigned to nobody

[2022-05-04 14:51] hibatallahAouadni commented on #28410
Duplicate of #28409

[2022-05-04 15:07] #27428 closed, assigned to atomiix

[2022-05-04 16:09] MatShir commented on #26557
The image format expected on the classic theme.

Element | Page | Image format
-- | -- | --
Product cover | Product Page | medium-default
Product modal | Product Page | large-default
Thumnail | Product listing | home-default
Quick view | Product listing | medium-default
Catogory image description | Category page | category-default
Subcategories | Category page | category-default
 

[2022-05-04 16:29] atomiix commented on #28304
@khouloudbelguith is this reproducible every time? I tried several times but the module install itself to fast I think and I got no exception.

https://user-images.githubusercontent.com/2168836/166727317-66e05ae5-d19a-4159-869d-9c39172a2828.mov

[2022-05-04 17:03] hibatallahAouadni commented on #28415
Hello @Saimis777

Thanks for reporting the issue!
I reproduced on PS1767, PS1785 and develop. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider

[2022-05-04 17:07] hibatallahAouadni commented on #28406
Hello @Seb33300

Well, let's ask the UX-team :wink:
Ping @PrestaShop/ux-team & @NeOMakinG wdyt about this issue? should we consider it as a bug and fix it (never split the total table) or this is the expected behavior?

Thanks in advance :pray:

[2022-05-04 17:08] khouloudbelguith commented on #28304
Hi @atomiix,

I tried to install the module via the upload button
I manage to reproduce the issue with develop branch
I attached a screen record

https://user-images.githubusercontent.com/16067358/166741620-951e54f2-bdf3-461a-ad63-15b23d1346ed.mp4

Thanks!

[2022-05-04 17:13] hibatallahAouadni commented on #28355
Hello @Fobba199l

Did you only encounter this issue only with your custom module?
Did you try to reproduce the issue without overriding the method with a module? if so, please provide a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-05-04 17:16] hibatallahAouadni commented on #28401
Hello @v1per4llbl4ck

It seems your issue is related to this module prettyurls.
So, could you please contact the module developer :pray:

Closing this issue as it's not related to the PS Core cause we only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.p

[2022-05-04 17:16] #28401 closed

[2022-05-04 22:06] gabi861 commented on #16993
Hello! i have the same problem, can you tell me how did you solve the problem?

[2022-05-05 03:00] Seb33300 commented on #28406
If the UX team agree with this improvement, I can try to work on a pull request to prevent this entire block to be cut and always move it to the next page.

![Screenshot_20220505-095522_Firefox.jpg](https://user-images.githubusercontent.com/915273/166857728-df7db681-320c-4305-8a3b-031aa9e1c5b6.jpg)

[2022-05-05 06:40] PrestaEdit opened #28417 "On the install process, a module with max compliancy under the actual version will return an error and block the process"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While you trying to install PrestaS

[2022-05-05 07:07] Fobba199l commented on #28355
Hello @hibatallahAouadni

As mentioned above:
The custom module is there to **fix** the issue. So **without** the module the issue is as described, **with** the module the issue is fixed.
Here is a Screencast of the voucher test:
[Screencast from 2022-05-05 08:57:35.zip](https://github.com/PrestaShop/PrestaShop/files/8629286/Screencast.from.2022-05-05.08.57.35.zip)

As already said.
This test happ

[2022-05-05 07:47] matks commented on #28394
Following heavy exploration we found out there was no issue

... but we found the upgrade process is somehow brittle

[2022-05-05 07:47] #28394 closed, assigned to nobody

[2022-05-05 09:02] MatShir commented on #28417
I propose that module not compatible with the PS should not be displayed and not installed.
For the theme, it should not be allowed to install a theme if one of the module is not compat. (or not install the module 🤔)

[2022-05-05 09:17] lmeyer1 opened #28418 "Allow to translate new wordings in core modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-05 09:30] lmeyer1 opened #28419 "Outdated IP whitelist in Geolocation BO page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-05 09:46] matks commented on #28419
I 👍  this

[2022-05-05 10:42] HanaRebaiQA commented on #28417
Hello @PrestaEdit

Thanks for your report.
Could you please provide us the module that you use to can reproduce the issue ?

@MatShir So, could you confirm that's the expected behavior if the module is not compatible with PrestaShop ?

Thank you!

[2022-05-05 10:50] PrestaEdit commented on #28417
Hi @HanaRebaiQA,

For example, the specific 1.6 module Bankwire (https://github.com/PrestaShop/bankwire/archive/refs/tags/v1.1.2.zip).
It will do the job, I presume.

[2022-05-05 10:56] HanaRebaiQA commented on #28419
Hello @lmeyer1

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

We're waiting for your PR.

Thank you!

[2022-05-05 11:01] lmeyer1 commented on #24943
This issue was about 1.7.8.0 *beta*.
Therefore I'm closing it.

[2022-05-05 11:01] #24943 closed, assigned to nobody

[2022-05-05 11:06] lmeyer1 commented on #28419
@HanaRebaiQA
IMHO, the details provided on Slack are sufficient as spec. Does not need `Needs Spec` flag.

[2022-05-05 11:16] HanaRebaiQA commented on #28418
Hello @lmeyer1

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

We're waiting for your PR.

Thank you!

[2022-05-05 11:21] HanaRebaiQA commented on #28418
ping @Julievrz

[2022-05-05 11:27] HanaRebaiQA commented on #28418
Hello @jolelievre Could you confirm if your [PR](https://github.com/PrestaShop/PrestaShop/pull/28377) can fix this issue ?

[2022-05-05 11:32] Julievrz commented on #28418
I think that's more a question for @PrestaShop/product-team

[2022-05-05 12:06] groukx opened #28420 "Order on out_of_stock product, with an order_state that is logable = 0, add physical_quantity in stock_available"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A product that has stock 0 (product

[2022-05-05 12:11] groukx commented on #28420
My supplier_orders are filled automatically, but as the product become available on stock, it never trigger the supply.
Let me know if i can help as a web developper

[2022-05-05 12:23] Maofree opened #28421 "Incremental numbering starting from zero each year also for delivery slips as is the case with invoices"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi

a my customer said me that the

[2022-05-05 13:32] lmeyer1 commented on #28418
@HanaRebaiQA No this problem is not related to that PR.

[2022-05-05 14:01] thomas-Ngr opened #28424 "API filter active reversed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Working on the API of a 1.7.7.6 wit

[2022-05-05 14:04] #26482 closed, assigned to Progi1984

[2022-05-05 14:06] Flo340 opened #28425 "when i check or uncheck a supplier the earlier datas will remove from input"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have a problem in the product BO

[2022-05-05 14:14] Flo340 commented on #20094
Did you find a solution?

[2022-05-05 14:16] HanaRebaiQA commented on #28420
Hello @groukx

Thanks for your report.
Could you please describe more the steps to reproduce in details with a screen-shot / screen-record to can reproduce the issue clearly ?

By the way, Is your issue similar to this one [#24531](https://github.com/PrestaShop/PrestaShop/issues/24531) ?

Thank you!

[2022-05-05 14:34] Gardella-Web commented on #27880
Always nobody ?

[2022-05-05 14:45] HanaRebaiQA commented on #28424
Hello @thomas-Ngr

Thanks for your report.

It seems that your issue is similar to this one [#25456](https://github.com/PrestaShop/PrestaShop/issues/25456).
Could you confirm it ?

Thank you!

[2022-05-05 14:51] #28425 closed, assigned to nobody

[2022-05-05 14:59] zuk3975 opened #28427 "Reminder. Use Symfony\Component\Cache\Adapter\AdapterInterface instead of legacy Cache in CategoryDisplayNameBuilder"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-05 15:14] HanaRebaiQA commented on #28421
Hello @maofree

Thanks for your report.

I think that your suggestion is an improvement and not a bug.

@MatShir : What do you think ?

Thank you!

[2022-05-05 15:28] marwachelly opened #28428 "BO-Position- The position of the selection card is not fix when selecting module and scrolling down"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The position of the selection card

[2022-05-05 15:30] maofree commented on #19707
Hi
look at this article about the rules on credit slip numbers

https://medium.com/@scriby.it/documento-di-trasporto-ddt-la-guida-completa-d09cee5fb187

[2022-05-05 15:34] HanaRebaiQA commented on #28421
Hello,

Thanks @MatShir for your feedback!

So, i'll close this issue as it's a duplicate of [#19707](https://github.com/PrestaShop/PrestaShop/issues/19707)

Thank you!

[2022-05-05 15:34] #28421 closed, assigned to nobody

[2022-05-05 15:41] khouloudbelguith opened #28429 "BO - Product page v2 - The tax rule drop down is not automitically closed after selecting a tax"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Catalog > Products > Pr

[2022-05-05 15:55] khouloudbelguith opened #28430 "BO - Product page V2 & V1 - The alternative currency symbol is not displayed in the product V2 & V1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When we create an alternative curre

[2022-05-05 15:56] #19230 closed, assigned to Progi1984, matthieu-rolland

[2022-05-05 15:56] #28241 closed, assigned to Progi1984

[2022-05-05 17:18] mparvazi commented on #28430
dev-core

Please stop using this weirdo function:

![Screenshot from 2022-05-05 12-55-21](https://user-images.githubusercontent.com/85633460/166976761-b5b43bee-c31a-4c1b-be61-dc41588593a0.png)

It doesn't support custom currencies.
It doesn't support a currency when numerical symbols in locale are not ASCII (e.g. Persian)

I think it's better to design your own.

[2022-05-05 19:04] Flo340 commented on #28425
We made the changes but under PS 1.7.8.5 it does not work the codes are different
are you sure that the bug is solved for 1.7.8.5 with this patch ?
Thank you

[2022-05-05 20:44] ChillCode opened #28431 "BO - dashproducts Module - BestSellers becomes empty after an order is partially-refunded and re-stocked"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We have some processed orders:

![i

[2022-05-05 22:50] QueeNFrisk commented on #28409
Hello, good morning/afternoon/evening, thank you for attending my ticket.
Regarding the fact that it needs to be encapsulated, it is already encapsulated. I didn't think it was necessary to put it in the code.
About the array inside get->() it is already inside an array as you could verify in the code above ([]).
As soon as the language as I mentioned in the checklist of my issue solves the langua

[2022-05-05 22:58] QueeNFrisk commented on #28410
Hola @hibatallahAouadni I appreciate you taking the time to check my tickets. Although it is the same code, it is not the same error. This error is that when I am inserting the products in a sequence of say, 100 products, the 8th one onwards does not return any id, the more it has been inserted, I mean; I can see it in the back office with its corresponding id which was not returned in the code, i

[2022-05-06 06:49] Codeskto opened #28432 "[ERROR 500] Profiler : Key "widget" does not exist as the array is empty."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![error_500_key_widget](https://use

[2022-05-06 07:11] lmeyer1 commented on #28419
Specs:
- No longer preconfigure a whitelist, except for the loopback addresses `127.0.0.1, ::1`
- In the user documentation, mention possible sources for an address list https://www.ip2location.com/free/robot-whitelist or https://udger.com/resources/ip-list

[2022-05-06 07:13] #28289 closed, assigned to PululuK

[2022-05-06 07:20] #28067 closed, assigned to PululuK

[2022-05-06 07:56] #28357 closed, assigned to nobody

[2022-05-06 08:01] groukx commented on #28420
My temporary workarround is to have setted up wiretransfer has the PS_OS_ERROR in configuration  which is ignored from reservation. I don't have downside effect except, I can't use others pending payment status. Those status were not reserved in prestashop 1.6

[2022-05-06 08:18] khouloudbelguith opened #28433 "BO - The upgrade button is not displayed after enabling or disabling a module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Modules > Module Manage

[2022-05-06 08:42] Codeskto commented on #28432
A hook method in a module was in private instead of public
[code]
it made the profiler crash

[2022-05-06 08:42] #28432 closed, assigned to nobody

[2022-05-06 08:58] SimonasB88 opened #28435 "Widget List (Link List) frontend pagination bug"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Once there are many blocks in the h

[2022-05-06 09:18] marwachelly commented on #28432
Hello @Codeskto,

I didn't reproduce the issue on develop branch also.

Thanks,

[2022-05-06 09:35] marwachelly commented on #28431
Hello @ChillCode,

I was able to reproduce the issue with PrestaShop version 1.7.8.5 and 1.7.7.8.

https://user-images.githubusercontent.com/89604350/167106703-e9c9dcc4-bbb7-40a1-9df2-1b813ade7673.mp4

I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is importa

[2022-05-06 09:36] florine2623 opened #28436 "ps_distributionapiclient - module version displayed is always the latest available instead of the one installed on the shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I install a previous version o

[2022-05-06 09:43] #28331 closed, assigned to nobody

[2022-05-06 12:23] thomas-Ngr commented on #28424
Hi, thanks for the quick answer !

I can reproduce issue #25456. Both issues may be related, and mine can help solving the first.

After reproducing the issue as reported in #25456, one can do the following:
- Go to [https://YOUR-URL/api/products?display=[id,active]&filter[active]=0&id_shop=1](https://your-url/api/products?display=%5Bid,active%5D&filter%5Bactive%5D=0&id_shop=1) and check the last

[2022-05-06 13:28] #17942 closed, assigned to MatShir, marsaldev

[2022-05-06 13:56] 8ternity commented on #16004
HI, Does this issue is planned and will be resolved? Im waiting for upgrading my e-Commerce 1.7.5.1 to a newer version and re-purchase all modules but since its not fixed, i can't upgrade to a newer and fastest version.

[2022-05-06 15:46] mavalentin commented on #27169
Hello, I have the same issue, the description of the issue is exactly as described by @AimSai59.
I have added a new mail theme in /mails/themes, and have added a new translatable sentence in one of the .twig files.
![Unbenannt2](https://user-images.githubusercontent.com/16594586/167166375-1c2da243-87a7-4f6d-9d02-5efca49b21a7.PNG)
As you can see from my screenshot, the new sentence is "Hi {customer

[2022-05-06 15:54] fustereta opened #28440 "Problems seeing details order"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When listing the orders in our back

[2022-05-06 16:40] marwachelly commented on #28435
Hello @SimonasB88

I was able to reproduce the issue with PrestaShop version 1.7.7.8 and 1.7.8.5. I'll add this to the debug backlog so that it's fixed.

https://user-images.githubusercontent.com/89604350/167175620-2dbb9dc5-739d-4f1c-8204-3b860e45f5d6.mp4

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is importan

[2022-05-06 16:46] marwachelly commented on #28440
Hello @fustereta,

I didn't manage to reproduce the isue with PS1.7.8.2 and PHP 7.4.

https://user-images.githubusercontent.com/89604350/167176470-87ab6fbd-90e2-44d8-a841-0935b8f32b15.mp4

Did I miss some thing?

Thanks,

[2022-05-07 07:19] fustereta commented on #28440
Hi @marwachelly,

And thanks for your reply, but I don't really get what's on the video.
In our Prestashop, when we go to the orders menu (in the left hand side) and press orders to list them, then when we want to see any details of an order (except the clients) that's when the site breaks.

The Prestashop was migrated from version 1.7.2.4 and it seemed there was no problems at all until this happ

[2022-05-07 13:06] Grezor opened #28442 "Error translate install Prestashop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

 translation error: in the content

[2022-05-07 13:07] Grezor commented on #28442
![image](https://user-images.githubusercontent.com/38507456/167255782-e68112db-bce6-44b0-b13d-f927103ae765.png)

[2022-05-07 15:30] Grezor commented on #28442
![image](https://user-images.githubusercontent.com/38507456/167261049-ff6ec1fb-e67a-4cf9-930f-54223e059f1a.png)

[2022-05-07 20:43] matks commented on #27973
## Status update

The autoupgrade issue was not confirmed so we dismissed it. I generated a first 1.7.8.6 build (attached below) that will be entrusted to QA team for validation from Monday.

[2022-05-08 20:07] matks commented on #28442
Hi @Grezor I'm not sure it's an error 😉

You see, PrestaShop is in English by default. Then all the sentences and words used in the software are exported inside the translation platform Crowdin (https://crowdin.com/project/prestashop-official). On this platform, translation contributors can translate the software in their language.

But ... what happens if, because there is so many words to transl

[2022-05-08 21:37] DaniGithub commented on #16994
I have the same issue 👍 Using PS1.7.7.1 and module version 4.2.0 (which is the latest as of this moment)

[2022-05-09 07:24] matks commented on #27973
Please note that Core software upgrades 1.7[...] to 1.7.8.6 must be done using the [autoupgrade module 4.14.1](https://github.com/PrestaShop/autoupgrade/pull/483) that is also ready for QA before being released.

Both 1.7.8.6 Core version and autoupgrade 4.14.1 version should be validated and released together.

[2022-05-09 08:13] shawe commented on #15041
@Ditwo Where exactly did you try the changes you are sharing? I can test it on a customer installation that is blocking it's customer to buy for this bug.

Are you noticed any unexpected behavior after apply this fix?

[2022-05-09 09:20] hibatallahAouadni commented on #28186
Ping @PrestaShop/product-team @florine2623 @Progi1984 this issue has been fixed with this PR https://github.com/PrestaShop/dashtrends/pull/34
But the PR is merged in 2.1.0 version whose still not released yet :disappointed:
So, should we close this one as a duplicate of #16770?

[2022-05-09 09:20] hibatallahAouadni commented on #28431
Related to #28186

[2022-05-09 10:04] marwachelly commented on #28440
Hello @fustereta,

Sorry. I attached a wrong video :confused: . I Updated my comment with the right one.
Sorry again :smiling_face_with_tear:

Did I miss some thing?

Waiting for your feedback.
Thanks

[2022-05-09 10:05] matks commented on #28442
I think we can close the issue as it's not a problem. This is the expected behavior as English is used when no translation is available.

[2022-05-09 10:05] #28442 closed, assigned to nobody

[2022-05-09 11:21] hibatallahAouadni commented on #24943
Thanks @lmeyer1 for your feedback!

[2022-05-09 11:37] sowbiba opened #28446 "Modules list cache is not correctly cleared in a multishop context"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In a multishop context, When I have

[2022-05-09 13:32] sLorenzini commented on #28369
hello @mparvazi

Thanks for your feedbacks.
Unfortunately, we can't ask those steps to a merchant with no technical bakcground.
We have to find another solution  to make it works.
@PrestaShop/product-team what do you think?

thank you

[2022-05-09 13:39] NeOMakinG commented on #28369
I guess @mparvazi said this because he wasn't able to reproduce your problem, meaning that the problem is probably because something is wrong with your environment 😄

[2022-05-09 13:40] laurentrousseau918 commented on #28369
Yes, this is a software project, we should not block the work because users without technical background cannot do something

[2022-05-09 13:48] hibatallahAouadni commented on #28446
Related to #24354

[2022-05-09 13:49] nesrineabdmouleh opened #28448 "'Add new attribute' button is not visible on BO>Catalog>Attributes page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On "BO>Catalog>Attributes" page the

[2022-05-09 14:03] sLorenzini commented on #28369
@NeOMakinG:
tested with @mparvazi steps, always this bug
version 100.0 of Firefox (the latest)
tested without my extensions, always this bug

 If I am the only one to reproduce this issue, we can close the bug and re-open it if someone else encounters the bug.

 Thanks to all

[2022-05-09 14:03] #28369 closed, assigned to nobody

[2022-05-09 14:08] MeKeyCool commented on #27617
Please take a look to this PR cause we found another problem and I offered to fix the behavior : [https://github.com/PrestaShop/PrestaShop/pull/28392#issuecomment-1119581385](https://github.com/PrestaShop/PrestaShop/pull/28392#issuecomment-1119581385)

@PrestaShop/product-team , are you Ok with this behavior ?

[2022-05-09 14:32] hibatallahAouadni commented on #28409
Hello @QueeNFrisk

I didn't manage to reproduce the issue with the provided infos :disappointed:
Could you please provide a screen record :pray:

Thanks in advance!

[2022-05-09 14:36] Crwmy opened #28449 "1.7.8.5 logs Error (3) Service Unavailable 503 when accessing Dashboard while shop is in maintenance mode"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I recently installed PrestaShop 1.7

[2022-05-09 14:46] ChillCode commented on #28431
Thank you @marwachelly  for testing.

My workaround was to remove product_quantity_reinjected and works as expected and the quantities seems to be ok. Will have to read guidelines of this repository before I try to pull.

I think is also related to [#20770](https://github.com/PrestaShop/PrestaShop/issues/20770)

[2022-05-09 15:12] demeldoo opened #28450 "Bug in German Translation - Variants"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi... in German translation. Refere

[2022-05-09 15:33] hibatallahAouadni commented on #28424
Hello @Roxayl & @thomas-Ngr

After reading all the provided infos, your issue is duplicate of #25456
I see no difference :thinking:
Well I need to close this issue as we are aware of it and it is already in our debug backlog.
This issue is a duplicate of #25456. To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-05-09 15:33] #28424 closed, assigned to nobody

[2022-05-09 15:44] hibatallahAouadni commented on #28450
Hello @demeldoo

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2022-05-09 15:44] #28450 closed, assigned to nobody

[2022-05-09 16:03] matks commented on #28430
@mparvazi Are you referring to MoneyType::getPattern() ?

https://github.com/symfony/symfony/blob/6.1/src/Symfony/Component/Form/Extension/Core/Type/MoneyType.php#L110

(if yes I think the great people from https://github.com/symfony might be interested in your feedback)

[2022-05-09 16:08] hibatallahAouadni commented on #27946
Hello @jf-viguier

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-05-09 16:12] mparvazi commented on #28430
IMO just need to create a new function for currency sign position:

![Screenshot from 2022-05-09 12-11-07](https://user-images.githubusercontent.com/85633460/167452145-ddeec2a2-68f3-429e-8eb0-68141a3a2dcd.png)

[2022-05-09 16:14] hibatallahAouadni commented on #28420
Hello @groukx

Thanks for your patience :pray:
Could you please provide more details and clearer steps to reproduce :pray:

The order_state has it's logable value set to 0

What do you mean by `logable value set to 0`??

Thanks!

[2022-05-09 16:16] groukx commented on #28420
Hi @hibatallahAouadni
in order_state table there is a column logable

[2022-05-09 16:35] #28448 closed, assigned to nobody

[2022-05-09 17:44] hibatallahAouadni commented on #28446
Hello @sowbiba

Thanks for reporting the issue!
I only managed to reproduce on PS178x and develop. So, it's a regression!
Thanks for your PR :rocket:

Thanks!

[2022-05-09 17:48] hibatallahAouadni commented on #28449
Hello @Crwmy

I didn't manage to reproduce the issue with the provided infos, could you please provide more details and a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-05-09 18:06] hibatallahAouadni commented on #28355
Hello @Fobba199l

Thanks for the screen record :pray:
Despite our efforts, we were not able to reproduce your issue :disappointed: . It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue.

Thanks!

[2022-05-09 18:06] #28355 closed, assigned to nobody

[2022-05-09 21:18] Crwmy commented on #28449
Hi @hibatallahAouadni

Thanks for looking into this curious issue!

I have attached a screen recording that I edited with annotations in hope to give enough additional context. Slightly nervous that I might overexplain.

https://user-images.githubusercontent.com/91319158/167499556-5eb5d974-88f0-4af3-9008-7d4f577a0672.mp4

[2022-05-09 22:01] QueeNFrisk commented on #28409
Here is a video showing the newly inserted products. These products are shown active in BO but are not shown in FO.
To show them in FO I need to go to each product to save it, otherwise it will be shown in FO, otherwise not.
https://drive.google.com/file/d/17wMCW8vtUESVlXrtMrIBxTazJFPOGtKW/view

[2022-05-09 22:19] Hlavtox commented on #28162
@MatShir That's just a bug or some low quality code, not hard to fix. Even if you zoom million times, 99% pages look like they should. :-) I will check it with Valentin. 👍

[2022-05-10 09:16] marwachelly commented on #28449
Hello @Crwmy,

I didn't manage to reproduce your issue with the provided information.

https://user-images.githubusercontent.com/89604350/167593709-db5cf565-aa3d-4aa6-b119-8067027e43ab.mp4

Did I miss some thing?

Waiting for your feedback!

Thanks,

[2022-05-10 09:36] matks commented on #26020
Hi @PrestaShop/qa-functional could it be possible to test again this bug report for `develop` ? 😉

[2022-05-10 09:52] marwachelly commented on #28409
Hello @QueeNFrisk,

Could you please check the following steps:

1. Go to BO> catalog> Products>product page
2. Go to the tab option then check that the visibility of the product is Everywhere

Also could you please check the following steps:

1. Go to BO> shop parameters> Search
2. check that the option indexing is set to yes

https://user-images.githubusercontent.com/89604350/167601500-aa732ca1-

[2022-05-10 10:07] Rho-bur commented on #26020
As stated here [https://github.com/PrestaShop/PrestaShop/pull/28444](url) there is also an issue with searching for products having a quote in the name e.g. "C'est soir" which for one of my clients is a wine name/brand.

[2022-05-10 10:28] sLorenzini opened #28452 "Update vazir font"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The Persian / Arabic letters are be

[2022-05-10 10:44] jf-viguier commented on #27946
@hibatallahAouadni hello,
Why have you closed this issue ? I've made a PR and updated the "how to test" after a dusscition with @HanaRebaiQA

[2022-05-10 11:11] Gardella-Web commented on #27880
Please, almost all invoices issued on customers with a default group discount % are bad. From 0.01 to more than 0.40 € per invoice depending on the quantity of the same product. Some administrations do not want to pay because the state software refuses these incorrect invoices.
3 years of invoice errors ...

Please
For the ROUND_ITEM with 2 digits.
To make the ROUND with 2 digits on the article is

[2022-05-10 11:20] groukx commented on #28420
Hi @hibatallahAouadni ,
I don't want to show public capture of my production website, but since yesterday, It's a nightmare getting prestashop develop branch to work. I used the git clone, and did everything, compile assets ... I am using the default product samples. I am not able to add to cart a product, so I can't replicate the bug. I go to install a fresh 1.7.8. Stable realease and come back t

[2022-05-10 11:27] hibatallahAouadni commented on #27946
Hello @jf-viguier

As discussed on Slack, I will reopen the issue as `TBR` till you provide a screen record.

Thanks for your understanding :pray:

[2022-05-10 11:35] HanaRebaiQA commented on #28336
Hello @gennaris

As discussed, i'm opening again this ticket and change it in `TBR`.
So, could you please put here all the detailed explanations to can try to reproduce it by our team ?

Thank you!

[2022-05-10 12:26] hibatallahAouadni commented on #28420
@groukx Glad to hear 😄
Waiting for your feedback!

[2022-05-10 12:57] Grezor commented on #28442
Hello @matks @hibatallahAouadni
Should I add the French translation (contribution)
I will not hesitate to create other issues if I see other problems.

Geoffrey D

[2022-05-10 13:02] Crwmy commented on #28449
Hi @marwachelly,

Thank you for taking the time and looking at this issue and providing a screen recording.
It does not seem that way from what the screen recording shows.

I was confused and thought the error lies with me and actually screwed something up. So I conducted further testing. And found the culprit: PrestaShop Metrics!

I have installed a separate Click & Build Version, this time witho

[2022-05-10 13:03] gennaris commented on #28336
Hi @HanaRebaiQA ,
thank you for your efforts.

Please have a look at [this ](https://dev.prestalia.it/recordings/bug_cart_login.mp4)video where I reproduce the issue

Some additional explanations :

I started from a clean PS environment with sample data, first things I did is to enable _"Re-display cart at login"_
and disable "**statsdata**" module.
(( Disabling the "statsdata" module causes carts

[2022-05-10 14:08] Saimis777 opened #28453 "Number display allows all characters (Brand list module)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The module "Brand list" has an inpu

[2022-05-10 14:15] #9629 closed, assigned to marsaldev

[2022-05-10 14:19] #17862 closed, assigned to mparvazi

[2022-05-10 14:21] Saimis777 opened #28454 "Number of product to display field allows all characters (Products in the same category module)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The field "Number of product to dis

[2022-05-10 14:36] estebanwoj opened #28455 "Prestashop v1.7.3.1 : composer needs prestashop/smarty but it has disappeared"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

[code]

Sadly, the package (https:/

[2022-05-10 14:49] florine2623 commented on #28453
Hello @Saimis777 ,

I reproduce the issue with PrestaShop version 1.7.8.x and develop branch, I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a professional](https://www.prestash

[2022-05-10 14:56] #28454 closed, assigned to nobody

[2022-05-10 15:07] E-loou-JF opened #28457 "{$product.delivery_in_stock} bug on related products on the product page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

hi.
i'm using {$product.delivery_in

[2022-05-10 15:12] florine2623 commented on #28455
Hello @estebanwoj ,

I have installed my shop 1.7.3.1 with the zip provided [here](https://www.prestashop.com/en/versions).
I have access to both my BO and FO :
<img width="1424" alt="Screenshot 2022-05-10 at 17 10 08" src="https://user-images.githubusercontent.com/16019289/167661939-311e4001-371c-4003-9677-e7bb6a047a22.png">
<img width="1168" alt="Screenshot 2022-05-10 at 17 10 19" src="https://u

[2022-05-10 15:16] #25278 closed, assigned to nobody

[2022-05-10 15:34] estebanwoj commented on #28455
Thank you for your reactivity.

Yes you aren't using the composer.json version so there's no problem for you.
vendor folder is here

try to use this file :
https://github.com/PrestaShop/PrestaShop/blob/e32f7fdca91af6196781bd948cb9bd5b13bb4816/composer.json
by using ```composer install``` with composer 1.10, you'll get the error

[2022-05-10 15:37] groukx commented on #28420
Sorry @hibatallahAouadni,
The bug does not occur in prestashop 1.7.8. I found out that it is related to a module that we are using. Now I have prestashop 8, prestashop 1.7.8.5 installed locally, I would be more precise to report another bug that I have related to stock movements when product added to an order from BO that occur in the fresh 1.7.8.5 install and that is fixed in prestashop 8.
I clos

[2022-05-10 15:37] #28420 closed, assigned to nobody

[2022-05-10 15:38] hibatallahAouadni commented on #28420
Thanks for your feedback @groukx :pray:
And glad to hear :tada:

[2022-05-10 15:51] Quetzacoalt91 commented on #28455
I don't remember exactly, but it could be different causes.
- We had an issue where if you used a bad root path, the "cache cleaner" of smarty started to clean every PHP file it can find from the filesystem **root**.
- There was some security issues we wanted to add in PrestaShop without waiting for a release on Smarty side.

[2022-05-10 16:07] florine2623 commented on #28457
Hello @E-loou-JF ,

Are the following fields filled with your delivery information ?

In product page :
<img width="598" alt="Screenshot 2022-05-10 at 18 05 34" src="https://user-images.githubusercontent.com/16019289/167673325-ddbcac8f-66be-4fd3-a115-2a80844038d5.png">

In product settings page :
<img width="864" alt="Screenshot 2022-05-10 at 18 05 58" src="https://user-images.githubusercontent.co

[2022-05-10 16:58] E-loou-JF commented on #28457
Hello @florine2623
Yes those fields are filled as the delivery information is display on the homepage/featured products and on the category list page.

here the two files i mentionned, i don't know what is the third file ?
[catalog.zip](https://github.com/PrestaShop/PrestaShop/files/8663548/catalog.zip)
L 213 of the product.tpl (main one)
L 51 of the product.tpl in _partials/miniatures/

Thank you

[2022-05-10 17:45] hibatallahAouadni commented on #26020
Hello @matks

Indeed I reproduce the issue with develop :wink:
And as @Rho-bur mentioned even products having a quote in the name are not displayed :disappointed:

Thanks!

[2022-05-10 19:33] #26906 closed, assigned to nobody

[2022-05-10 19:33] #27034 closed, assigned to nobody

[2022-05-11 09:22] #17810 closed, assigned to nobody

[2022-05-11 10:03] matks commented on #28455
Thank you for answers @Quetzacoalt91

@estebanwoj I think answers are the only thing we can provide.

If you need to be able to run a `composer install` for 1.7.3 I think you can do this:

1. Use the 1.7.3 build to extract `vendor/prestashop/smarty`
2. Host this folder as your own library on GitHub, for example call this estebanwoj/prestashop-smarty-fork
3. Modify composer.json to use your fork in

[2022-05-11 10:03] #28455 closed, assigned to nobody

[2022-05-11 11:13] marwachelly opened #28462 "Search bar - the search_bar module is not well displayed with RTL language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the FO, the search_bar module is

[2022-05-11 11:14] marwachelly commented on #28462
Related to https://github.com/PrestaShop/PrestaShop/issues/26569

[2022-05-11 12:06] JoseNOM commented on #19605
+1

[2022-05-11 12:14] matks commented on #16004
Hello @8ternity I am sorry, this is probably not the answer you're looking for but this bug is not in the scope of the maintainer team for a release soon as far as I know.

It does not mean it's not an important bug, it's just that we have other more important topics to deliver 😞 .

But you don't have to wait for the maintainer team to work on this. As this is an open source project, one upside is

[2022-05-11 12:48] Hlavtox commented on #27186
@mparvazi @NeOMakinG @Oksydan @SharakPL Guys, what do we do with this?

I would upgrade it in BO for v8 and remove it from faceted search somehow. WDYT?

[2022-05-11 12:56] mparvazi commented on #27186
IMO it's better solution.

[2022-05-11 13:08] Hlavtox commented on #27186
Yes, already finished in hummingbird, but how to handle the module itself? Do we add switch to it called "Load jQuery UI"?

[2022-05-11 13:42] MeKeyCool commented on #28038
I added some comments to #23242 and I'll probably close this issue soon.

[2022-05-11 13:51] szavadskiy opened #28466 "if "Terms of service" disabled and there's only one payment method, the button looks disabled and the add infos is missing"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

"**PLACE ORDER**" button looks disb

[2022-05-11 14:49] hibatallahAouadni commented on #28466
Hello @szavadskiy

Thanks for the detailed bug report :clap:
The button looks disabled but you can click on it :sweat_smile: and we already fix the issue on develop, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/167879109-cbec79f8-5b32-4630-9750-ccb6d015bc75.mp4

Closing the issue as it's fixed :pray:
Thanks!

[2022-05-11 15:26] hibatallahAouadni commented on #28466
Related to #9927

[2022-05-11 15:30] NeOMakinG commented on #27186
If it's just a deprecation problem: we could update jQuery UI

If we want to get rid of it, why not

wdyt @PrestaShop/prestashop-maintainers ?

[2022-05-11 18:09] Hlavtox commented on #27186
@matks We already got rid of it on hummingbird, it's not included by any other native module if I am not mistaken.

So, we can also remove the usage of it from classic.

But, the library will still be loaded by the module. :( And if we remove it from the module, we break themes that relied on it.

[2022-05-11 20:58] #26780 closed, assigned to NeOMakinG

[2022-05-12 06:33] NeOMakinG commented on #27186
We definitely need a feature flag system on such things:

- Get rid of it behind a feature flag
- Let people migrate to the new Facetedsearch without jQuery UI and deprecate the jQuery UI version
- X month later, make the feature flag default and remove jQuery UI, bump major

That would be the smoothest solution, people would have a lot of time to migrate it

Or bump to a new major version only co

[2022-05-12 08:15] matks commented on #23242
Thank you @MeKeyCool I agree that we need to define what we want to happen before we continue working on this ticket.

To make it short, I think 2 things must be defined:

### First, how do a) regular parameters b) environment variables and c) `.env` content behave ?

-> you sketched a table which contain all possible situations 👍  and I think your suggestion makes sense. We just need to all agree

[2022-05-12 08:28] MeKeyCool commented on #23242
I forgot to mention it but @sowbiba suggested that we should keep `parameters.php` unset and use `set_parameters.php` to overwrite configuration.

[2022-05-12 08:29] #28038 closed, assigned to nobody

[2022-05-12 08:30] MeKeyCool commented on #23242
@matks shouldn't we remove `WIP` tag and add `need specs` one ? ^^

[2022-05-12 08:41] jf-viguier opened #28468 "Shop::getBaseURL should return the good url sheme: http or https"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

By default $shop->getBaseURL() with

[2022-05-12 08:53] marwachelly opened #28470 "Autoupgrade- Error when upgrade if new specific language is added"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Error when upgrade if new specifif

[2022-05-12 08:54] marwachelly commented on #28470
related to https://github.com/PrestaShop/PrestaShop/issues/19007

[2022-05-12 09:13] sowbiba commented on #23242
Yes, we should keep the possibility to define variables in parameters.php and .env to overwrite them

[2022-05-12 09:16] Saimis777 opened #28471 "Date format does not have a strict format"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When editing a language, the field

[2022-05-12 09:16] marsaldev commented on #16004
@8ternity just checked on the v8 (dev branch) and the language code is `fr-ca`
Are the `iso-code` and `language code` correct (in the ss)?
<img width="917" alt="Schermata 2022-05-12 alle 11 14 48" src="https://user-images.githubusercontent.com/48283112/168036525-b85e6942-7fd0-4245-ad45-2160e27eb064.png">

[2022-05-12 09:19] SharakPL opened #28472 "Blockwishlist can't be upgraded"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There's [new release of blockwishli

[2022-05-12 09:29] SharakPL commented on #26642
@MatShir what **quick view** modal has to do with **add to cart** modal?

[2022-05-12 10:23] mariem-abid opened #28474 "An exception thrown when we try to uninstall/disable/reset a module with overrides"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Related to #9965

If we create a mo

[2022-05-12 10:26] Gardella-Web commented on #27880
There is no problem with that.

**This is not a critical problem for my company but a problem for all companies** that use group discounts. If all the customers of all these companies start asking for the rectification of all the invoices of all these past years ...
I'm not even talking about the problems related to the French state and VAT

So I will solve this problem in another way.

**Who coul

[2022-05-12 11:51] blawdi opened #28475 "customer_qty.html"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I no have the name of product in ma

[2022-05-12 12:03] E-loou-JF commented on #28457
@florine2623 do you know how to get  {$product_accessory.delivery_in_stock}
as the minitaure call the product.tpl with  product=$product_accessory
?

[2022-05-12 12:46] matks commented on #27737
Fixed

[2022-05-12 12:46] #27737 closed, assigned to nobody

[2022-05-12 12:56] MeKeyCool commented on #28147
I take this one ^^

[2022-05-12 13:05] MeKeyCool commented on #28147
Sorry @MatShir, it should already be fixed by https://github.com/PrestaShop/ps_cashondelivery/pull/42 and https://github.com/PrestaShop/ps_cashondelivery/pull/32 ^^'

Thanks @kpodemski ;)

[2022-05-12 13:35] matks commented on #27319
@MeKeyCool wants to try implementing this 👍

[2022-05-12 13:42] marwachelly opened #28476 "BO- The position of the green alerte is wrong in the product page case of multistore"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The position of the green alerte is

[2022-05-12 15:27] florine2623 opened #28478 "BO - Category root cannot be modified when multistore is active"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I try to edit my category root

[2022-05-12 15:29] jf-viguier opened #28479 "Replace SSL by HTTPS"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-12 15:51] MeKeyCool commented on #27319
@NeOMakinG is the scope of this issue limited to product images or any type of image ?

[2022-05-12 15:52] Hlavtox commented on #28479
What about calling it HTTPS?

[2022-05-12 16:02] matks opened #28480 "Install cannot run if there is no theme - improve error message"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If there is no Theme in `themes/` f

[2022-05-12 16:20] hibatallahAouadni commented on #28472
Hello @SharakPL

I reproduce the issue with PS1777 and PS1785, see the attached screenshot below:

https://user-images.githubusercontent.com/23308427/168122277-238aa3de-4f8b-4729-9998-27702d46876d.mp4

This issue happen only with this module and as @matks said "if a module update is not available it could be because of an issue in Addons API".
@matks could you please verify the Addons API :pray:

[2022-05-12 16:37] hibatallahAouadni commented on #28480
Reproduced on 178x too:
`Fatal error: Uncaught Symfony\Component\Debug\Exception\ContextErrorException: Notice: Undefined offset: 0 in /projects/presta178x/PrestaShop/install-dev/init.php:131 Stack trace: #0 /projects/presta178x/PrestaShop/install-dev/index.php(43): require_once('/projects/prest...') #1 {main} thrown in /projects/presta178x/PrestaShop/install-dev/init.php on line 131`

[2022-05-12 16:41] hibatallahAouadni commented on #28475
Hello @blawdi

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must provide steps to reproduce the bug**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad to invest

[2022-05-12 16:41] #28475 closed, assigned to nobody

[2022-05-12 16:53] jf-viguier commented on #28479
@Julievrz we could start by renaming "Activate SSL" by "activate HTTPS" in settings page ? WDYT ?

[2022-05-12 16:56] jf-viguier commented on #28479
@Hlavtox I've changed the title, Https sounds good to me.

[2022-05-12 17:39] hibatallahAouadni commented on #28471
Hello @Saimis777

Thanks for reporting the issue!
I reproduce the issue with PS1777, PS1785 and develop, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/168135405-1894b94b-138c-483e-9aa9-502378880b0f.mp4

I'll add to the Backlog to be fixed.

Thanks!

[2022-05-12 17:48] hibatallahAouadni commented on #28449
Hello @Crwmy

Thanks for the whole details, as you guess, it seems that your issue is not a PrestaShop core bug.
If your module is Metrics Official, please contact support team on Addons

We will close this issue.

Thanks!

[2022-05-12 17:48] #28449 closed, assigned to nobody

[2022-05-12 17:50] hibatallahAouadni commented on #28457
Hello @E-loou-JF

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue cause we only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get he

[2022-05-12 17:50] #28457 closed, assigned to nobody

[2022-05-12 17:52] hibatallahAouadni commented on #28335
Hello @venditdevs

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue.

Thanks!

[2022-05-12 19:02] NeOMakinG commented on #27319
I guess it's related to any images, category for example, in order to optimize everything

[2022-05-12 19:16] blawdi opened #28483 "No product name in mail (customer_qty.html)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I no have the name of product in ma

[2022-05-12 21:15] fustereta commented on #28440
Thanks @marwachelly ,

That's exactly what we would like to get, but since we migrated Prestashop 1.7.2.4 to version 1.7.8.2 these links break and we don't know why. We thought about a module that has been uninstalled but these orders are from the new version and they have nothing to do with the old Prestashop.

Do you have any idea? :'(

Regards,
carme.

[2022-05-13 06:57] pato-sapiens commented on #22120
Morning!
Is this moving forward?
Very interested in understand the purpose of this fields.
Thanks

[2022-05-13 07:42] Hlavtox commented on #22120
Yo @Matt75 do you know any module that actually uses these?

If we change it, it would be actually useful for storing information about that payment, and modules would not have to store in separate tables.

[2022-05-13 07:45] pato-sapiens commented on #22120
Anyhow, could anyone please tell me where is the function that makes the "insert" in the column [Card Number]?

[2022-05-13 07:46] marwachelly opened #28484 "BO - Exception thrown when adding invalid avatar format in profile page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Exception thrown when adding invali

[2022-05-13 07:57] Miheix commented on #28336
I've been trying to solve this problem for a few days. My version is 1.7.7.5 and I have the Guest mode store. Any contribution is helpful. Thank you!

[2022-05-13 08:01] HanaRebaiQA opened #28485 "BO - An error undefined index in Stats page related to statscheckup module when there is a new languages imported and not configured for the new shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error undefined index in Stats p

[2022-05-13 08:03] #10618 closed, assigned to nobody

[2022-05-13 08:34] gennaris commented on #28336
Hi @Miheix ,
do you have statsdata module disabled ?

Go in **Cart.php** // check **lastNoneOrderedCart** function and remove  the WHERE clause

`AND c.`id_guest` != 0`

from the query.

See if this fixes the issue.

[2022-05-13 08:36] Prestaworks commented on #9752
issue seems related to employee not using the default language.

$localizedName array in the return data only contains the default language for the shop. Solution is to either add employee language or all languages in the shop to the array.

[2022-05-13 08:52] matks commented on #26666
Dear @PrestaShop/qa-team according to @leemyongpakvn this issue was fixed in PrestaShop 1.7.8.1 but has been introduced again in 1.7.8.5 (regression)

Could you check?

[2022-05-13 08:52] E-loou-JF commented on #28457
so i manage to resolve the problem but could you please tell me if it's ok or not to do that, or what is the consequences ?

in the block product_accessories i change product=$product_acessories by product=$product

`{block name='product_accessories'}
      {if $accessories}
        <section class="product-accessories clearfix">
          <h2>{l s='You might also like' d='Shop.Theme.Catalog'}</h2>

[2022-05-13 09:00] MatShir opened #28486 "Refacto search component - Pack"
### Describe the bug

In order to have the product's ref and an input number in the result of search component, the component needs to be refacto.

**PR comment:**
just two things to clarify about this PR and some of the bugs that were found:
- the **quantity input is not a number input**, this is related to a limitation of one of our component `EntitySearchInputType` which cannot handle number ty

[2022-05-13 09:07] d33x opened #28487 "Products without tax is taken into account in the tax breakdown"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the tax breakdown, in the row "P

[2022-05-13 09:16] d33x commented on #28487
Just found this ticket https://github.com/PrestaShop/PrestaShop/issues/20415 when I had been looking. You can close, sorry

[2022-05-13 09:33] d33x commented on #28487
I just tried with the modification made here https://github.com/PrestaShop/PrestaShop/pull/20474 but it doesn't seem to work as expected.
It does remove the price of the product without tax but only for one unit. If you order 3 units of tax free product, only the amount for one of the 3 units will be deducted.

Can anyone test this?

[2022-05-13 09:36] d33x commented on #28487
I just tried with the modification made here https://github.com/PrestaShop/PrestaShop/pull/20474 by @Amit-Kumar-Tiwari-Webkul but it doesn't seem to work as expected.
It does remove the price of the product without tax but only for one unit. If you order 3 units of tax free product, only the amount for one of the 3 units will be deducted.

Can anyone test this?

[2022-05-13 09:42] khouloudbelguith commented on #15041
Hi :) I found other steps to reproduce the issue

**First case**
1. Create a product with price tax included = 14.76 & specific price = 0.76 tax included
![image](https://user-images.githubusercontent.com/16067358/168029279-3087ffc8-8e21-45bf-bcbc-e774549383d9.png)
2. Create a cart rule 1 euro tax **included**  without code
![image](https://user-images.githubusercontent.com/16067358/168029390-26d8

[2022-05-13 09:47] sandra2n opened #28488 "Product::getProductProperties tax excl ask for wrong Product::getPriceStatic"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In product class, function getProdu

[2022-05-13 10:02] Miheix commented on #28336
Hi @gennaris ,
That seems to have fixed the error for me. The statsdata module is activated.
Thank you very much ☺️

[2022-05-13 10:04] matks commented on #28488
Hi ! thank you for the issue but I think I will clear the misunderstanding here 😄

We can see you are reporting a *defect* in class Product

But a defect is not a bug report. What is the impact of this line that is wrong according to you? Can you provide a usecase where, because of this code, the price should be X but is computed Y instead?

Without this information it will be hard to explore this

[2022-05-13 10:12] d33x commented on #9981
I also have the same problem. @Betafer 's solution works, but like him, PayPal requires you to use "Round each article"

[2022-05-13 10:43] Jordanmarjot opened #28489 "unable to create product using webservice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
I have a problem with post r

[2022-05-13 10:54] Betafer commented on #9981
Thank you @d33x

[2022-05-13 10:55] Betafer commented on #9981
Created at: Mon, 8 May 2017

[2022-05-13 11:17] adamus007p opened #28490 "[Idea] SEO improvements for PrestaShop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I would like to report few things t

[2022-05-13 11:23] lthienard commented on #22974
Hi, any update ?

All my employe received Mail Out Of Stock ... it's really very annoying, the mailboxes are spammed

[2022-05-13 11:39] zuk3975 opened #28491 "Reminder. Implement deletion by chuncks for bulk delete combination"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-13 11:42] Matt75 commented on #22120
Here an example with this fields usage https://github.com/PrestaShop/paymentexample/pull/14

[2022-05-13 12:09] hibatallahAouadni commented on #28483
Hello @blawdi

I didn't manage to reproduce the issue with PS1778, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/168279885-8bc89439-7ac9-45b4-ad03-e07b39b104fd.png)

It seems the issue has been fixed :tada:
Closing the issue as it's fixed.

Thanks!

[2022-05-13 12:09] #28483 closed, assigned to nobody

[2022-05-13 12:23] Hlavtox commented on #22120
Nice. I think we should deprecate this field and change it to some universal field to store json encoded data.

There is a million ways to pay, I think having 4 hardcoded fields for classic card payment is not very good.

[2022-05-13 12:25] Hlavtox commented on #22120
We can change to "Details" button to run a hook called "displayBackofficePaymentDetails", and the payment module would return it's custom information for this payment - if this was successful, a log of communication with payment gateway or whatever. If this module is uninstalled, there would be no information.

[2022-05-13 12:58] Matt75 commented on #22120
Many payment module already use `displayAdminOrderLeft` or `displayAdminOrderMainBottom` to display payment details with actions, so I'm not sure it's useful until a real refactor of the native Payment block but a Product Discovery is required to study all payment use cases in different countries

[2022-05-13 13:08] Ditwo commented on #15041
Hello shawe,
The file is src\Core\Cart\CartRuleCalculator.php.
Everything works fine  ;)
Best regards,
Denis

[2022-05-13 13:26] AureRita opened #28492 "FO - the search_bar module is not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I do an upgrade from the version 1.

[2022-05-13 13:37] matks commented on #28472
@hibatallahAouadni I am sorry but ... on my shop I am able to upgrade to v2.1.0 😅

So I cannot verify an issue I cant reproduce.

Can you try again? Maybe it was a temporary issue?

[2022-05-13 14:10] AureRita commented on #28491
Hi @zuk3975
Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.
Thanks for your PR :rocket:

Thank you

[2022-05-13 14:10] adamus007p commented on #28490
I can make changes, but please advise how to send my changes.

[2022-05-13 14:13] hibatallahAouadni commented on #26559
Hello everyone,

Sorry for the late response but the issue is not a regression, cause I reproduce it on PS1777, see the attached screen record:

![image](https://user-images.githubusercontent.com/23308427/168302316-f7598da1-43a5-4d65-9216-cceefde9ae6b.png)

As you can see there's no CDATA but all tags are empty, it seems with PS1780, we add the CDATA but we didn't check if it's empty or no :sweat:

[2022-05-13 14:20] sandra2n commented on #28488
Hi,

Sorry, but I don't know where it is visible in Prestashop theme. In a theme I use, the search result display products with price, instead of juste the name.
The shop is displaying price tax excl., but in the search result the prices are tax incl..

And as said it come from the fact that the price is asked with tax despite the fact that it is the tax excl. part of the code.

Thanks

[2022-05-13 14:29] khouloudbelguith commented on #27973
Hello :slightly_smiling_face:

Final report of QA on the 1.7.8.6 build 1 :

- The automated test campaign on the build is done and OK.
- The manual functional test campaign is done and OK.
- The exploratory test session is now complete. The QA Team did not find any 1.7.8.6 regressions.

Summary of some issues detected during the test:

- https://github.com/PrestaShop/PrestaShop/issues/28478 Minor

[2022-05-13 14:37] AureRita commented on #28490
Hi @adamus007p

Thank you for the reporting Issue.
if I understand correctly, you advise us to make an improvement on the SEO but it is not a bug to reproduce?
If so, it is a feature and we will consider it as such to treat it.
If not, in the Steps to reproduce section, can you tell us what you have done to have a link like this for your shop so that we can redo it on our shops on our side and thu

[2022-05-13 14:38] groukx commented on #25185
Hello, is it possible to disable this feature ?
I was using memcache in prestashop 1.6 which was wworking great but when I enabled it in prestashop 1.7, it totally broke my database integrity and as well as some weird bug appear and even i got worst loading time. One day of traffic had been lost in my website because of this bug.

[2022-05-13 14:41] adamus007p commented on #28490
Hello for me it is a bug, but it will impove SEO in Prestashop.
I have implement it in my shop and I can share how to correct it.
Please advise me how can i update the repo?

[2022-05-13 14:46] AureRita commented on #28490
If you want to update a repo,
- go on this link : https://github.com/PrestaShop/PrestaShop/pulls
- clic on " New pull reset "

but you need an Approval for this new PR

[2022-05-13 14:53] AureRita commented on #28490
Did your problem seems like this one ?

https://github.com/PrestaShop/PrestaShop/issues/13737

[2022-05-13 14:58] MeKeyCool commented on #27318
#  [[EPIC] Improve the image system](https://github.com/PrestaShop/PrestaShop/issues/27318)

## Analysis of image management current situation

### Data persistance

#### Database

Images meta data are stored on tables : `ps_image`, `ps_image_lang`, `ps_image_shop`, `ps_image_type`

[code]

#### Filesystem

On filesystem, path are associated to hard coded "environment variables".

{prestashop}/con

[2022-05-13 15:00] MeKeyCool commented on #27319
# [Add new image sizes](https://github.com/PrestaShop/PrestaShop/issues/27319)

What I understand from this issue.

Current theme object accessible in templates :
[code]

And the goal is to remove `"pdt_180"`, `"pdt_300"`, `"pdt_360"`, `"pdt_540"`, `"pdt_590"` options and to add
`"200px"`, `"400px"`, `"800px"`, `"1200px"`, `"1600px"` options.

But I didn't see anything about `"pdt_180"`, `"pdt_300

[2022-05-13 15:23] sandra2n commented on #28488
I don't think I understand when $usetax should be true when we are in tax excl. mode?
If I'm wrong sorry, you can ignore the issue.
![screen](https://user-images.githubusercontent.com/24668239/168315776-e75832cf-20df-4fb0-b220-4387c632b7a8.jpg)

[2022-05-13 15:31] zuk3975 commented on #28491
@matks open this issue please. The related pr only had a todo reminder linked with this issue, but wasn't the actual implementation.

[2022-05-13 15:34] AureRita commented on #28487
Hi @d33x

Thank you for the reporting Issue.
I reproduced it on 1.7.7.8 as you can see on this video :

https://user-images.githubusercontent.com/100699445/168316924-daa23ba0-b0e0-4631-b503-ba0a791f9661.mp4

Currently, If you check the entire video, the price of the mug is 14,28 € and if add this at my product that cost 10 €, I've the good result.
This issue is more about calculation show on the i

[2022-05-13 15:52] matks commented on #27973
As it's Friday, let's release on Monday 👍  thank you all the QA members!

[2022-05-13 16:06] hibatallahAouadni commented on #28489
Hello @Jordanmarjot

I didn't manage to reproduce the issue with PS1785 :disappointed:
Could you please provide the xml body that you use to create the product, cause it may contain some errors :pray:
Waiting for your feedback.

THanks!

[2022-05-13 16:09] marwachelly opened #28494 "BO - Order - Bad display of status in the order page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bad display of status in the order

[2022-05-13 16:17] marwachelly commented on #28494
It could be related to https://github.com/PrestaShop/PrestaShop/pull/28066

[2022-05-13 22:32] Upartech opened #28495 "After upgrading to 1.7.8.5 the Product page with Combinations doesn't load"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Once I upgraded from ps1.7.6.0 to p

[2022-05-14 04:27] SharakPL commented on #28472
Nope. I still can't see any update. Logged into addons in admin panel, cleared cache, but no change.

[2022-05-14 06:46] lthienard commented on #22974
Thank's

i will try this fix and let you know if it works

[2022-05-14 10:32] lthienard commented on #22974
All Work Fine With this Fixe. Thank's you so much

[2022-05-14 12:48] adamus007p commented on #28490
Not really. I have described what should be corrected.

[2022-05-14 19:52] matks commented on #28490
Hello @adamus007p , you're starting a complex topic 😅

Every time a SEO question is asked to 6 people we get at least 3 or 4 different answers 😛 (see example https://github.com/PrestaShop/PrestaShop/issues/20677)

Thank you for the suggestion but as we have a lot of people telling us "you should do [...]" "no! you should do [...] for canonicals!" "no! wrong! you should do [...] for canonical urls"

[2022-05-14 20:15] Betafer commented on #24207
same problem with prestashop 1.7.8.5
password is not saved correctly

there is also a security problem, that password is stored in the db not encrypted
you can solve by changing the password manually in the DB

I have write to security prestashop to report the problem

[2022-05-14 22:12] NeOMakinG commented on #27319
You probably don't want to remove anything, in order to avoid BCs

[2022-05-15 09:09] Miloune commented on #28041
Same problem here, it's pretty confusing for my customers to select attribute fields before customization

[2022-05-15 10:06] ChillCode commented on #28474
Hi,

I had the same issue with a custom module i created:

Your module overrides a property that have multiple lines, i just would make $webserviceParameters oneliner and try again to prevent the unistall errors:

    public $webserviceParameters = array('objectMethods' => array('add' => 'addWs', 'update' => 'updateWs' ), 'objectNodeNames' => 'Cart', 'fields' => array('id_chrt' => array('xlink_res

[2022-05-15 10:18] fiorame opened #28496 "An exception is thrown in Order page when the assigned status is deleted"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello.
- I create a new Status.
- I

[2022-05-15 10:35] shawe commented on #15041
Thanks, then maybe ower customer will try your solution.

[2022-05-15 11:28] adamus007p commented on #28490
Hello @matks I know that it is complex.
My experience in SEO is more then 12years. I had many Prestashop and I see the same problems.
All dynamic pages should be noindex.

What I have done I have change a theme, but maybe it is possible to do it in controller.

`{if isset($category) && preg_match('/(page|order|selected_filters|tag|order|p|amp|back|search_query|n)\=/',$request_uri)}
        <meta n

[2022-05-15 13:33] leemyongpakvn commented on #28440
It looks like the problem was described more clearly and solved at issue #22215

[2022-05-16 07:03] Jordanmarjot commented on #28489
i test so much body, there is one :
`<prestashop xmlns:xlink="http://www.w3.org/1999/xlink">
    <script></script>
    <product>
        <id></id>
        <id_manufacturer>10</id_manufacturer>
        <id_supplier></id_supplier>
        <id_category_default></id_category_default>
        <new></new>
        <cache_default_attribute></cache_default_attribute>
        <id_default_image></id_default_

[2022-05-16 07:08] hibatallahAouadni commented on #28496
Hello @fiorame

Could you please check this issue #23379 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2022-05-16 07:12] hibatallahAouadni commented on #28495
Hello @ovallepa

Could you please enable the debug mode and share the exception details 🙏
Don't forget to provide a screenshot of the displayed exception 😉
Waiting for your feedback.

Thanks!

[2022-05-16 07:24] tiroiretcoton opened #28497 "Impossibility to install 1-Click upgrade module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I tried to install the "1-Click upg

[2022-05-16 07:27] tiroiretcoton opened #28498 "Configure button leads to a 500 error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm trying to configure my prestsho

[2022-05-16 07:40] Hlavtox commented on #28490
@adamus007p

1) Homepage definitely should have canoncial. Good catch!

2) You are wrong. Different pages have different content and must have a different canoncial. Prestashop have this implemented correctly.

3) Good idea!

[2022-05-16 07:45] d33x commented on #9981
@Betafer I assume you haven't found a solution?
Any info on PayPal to use "Round each line"?

[2022-05-16 08:30] Betafer commented on #9981
We had found it years ago again with the prestashop 1.5 version, then the modification was lost with the updates and the error was no longer fixed, also because we got tired of making bug fixes that are then lost with the updates. Our job is to sell online

[2022-05-16 09:20] AureRita commented on #26666
Hi @matks,

I check it and currently there is no lazy load on logo on 1.7.8.5 as you can see :
![image](https://user-images.githubusercontent.com/100699445/168560429-74b2b4db-d0bd-4fcd-9279-a0feed341065.png)

I tested it also a shop with the 1.7.8.6 version (update from 1.7.7.8) and there is no lazy load too
![image](https://user-images.githubusercontent.com/100699445/168560777-d6c97c50-89c1-4367-

[2022-05-16 09:20] matks commented on #27973
Release is in progress

1. Autoupgrade module 4.14.1 released on GitHub
2. PrestaShop 1.7.8.6 released on GitHub

[2022-05-16 10:32] Progi1984 opened #28499 "When accessing admin during install, we cannot know if install is well finished"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-16 10:33] #25946 closed, assigned to Amoifr

[2022-05-16 10:39] qualityangel opened #28501 "attributes-list does not show values."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When i go to the combination page o

[2022-05-16 10:39] qualityangel commented on #28501
A screenshot of the combination page, Debbuging mode is not given anything.
![screen1](https://user-images.githubusercontent.com/47004184/168575571-67c6e98c-eb4a-44d5-84fc-f69ef44634ba.jpg)

[2022-05-16 10:52] hibatallahAouadni commented on #28499
Hello @Progi1984

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Thanks for your PR :rocket:

Thank you

[2022-05-16 11:04] hibatallahAouadni commented on #28498
Hello @tiroiretcoton

I didn't manage to repduce the issue, see the attached screen record below:

![issue_28498](https://user-images.githubusercontent.com/23308427/168579302-7dd141d4-771d-4e2f-98cb-bcf55f2edfec.gif)

Could you please provide the mainmenu module version.
Please check and feedback.

Thanks!

[2022-05-16 11:20] artemevsin opened #28503 "Zero price of customized products on Order Confirmation page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On Order Confirmation page zero pri

[2022-05-16 11:59] MatShir opened #28505 "Improvement Feature Flag: Product Page V2 for the 8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-16 12:10] MatShir commented on #28499
Good idea ! Maybe we should add this new parameter in the devdoc? WDYT?

[2022-05-16 12:12] Progi1984 commented on #28499
@MatShir It's not a parameter. It's a configuration value in database. It defined to 0 by default. And at the end, if always it's well processed, it defined to 1.

[2022-05-16 12:32] MatShir commented on #28162
Cool! Thanks @Hlavtox I assign you to the issue then :)

[2022-05-16 13:17] MatShir commented on #28505
Should we change the wording 'Experimental' ?

[2022-05-16 13:25] kpodemski commented on #28505
I highly suggest keeping v2 behind the feature flag; otherwise, it will be a communication disaster for everyone involved in the project and unexpected behavior for the merchant. There's also a risk that the legacy page might work slightly different now with all the codebase changes.

And these warnings like...

"Feature previews"?

[2022-05-16 13:28] hibatallahAouadni commented on #28501
Hello @qualityangel

I didn't manage to reproduce the issue with PS1785, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/168602953-0928dc95-177c-4748-b63f-3e2943682883.mp4

Are you sure that you have some attributes saved in your shop?
Could you please provide a screenshot of BO>SELL>Catalog>Attributes&Features :pray:

![image](https://user-images.githubus

[2022-05-16 13:57] qualityangel commented on #28501
Well, i  have the problem ;)
Yes as i sead, when you type a color in the combine serval attributes field then you kan select it. But only the attributes-list on the right is empty, also you can see that with inspecting on chrome, The div attributes-list is empty

![screen2](https://user-images.githubusercontent.com/47004184/168609161-7190c541-c117-40fb-b6c1-48585439ae54.jpg)

[2022-05-16 14:32] #9673 closed, assigned to nobody

[2022-05-16 15:01] hibatallahAouadni commented on #28503
Hello @artemevsin

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #10912.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-05-16 15:01] #28503 closed, assigned to nobody

[2022-05-16 15:01] hibatallahAouadni commented on #28503
Duplicate of #10912

[2022-05-16 15:09] Julievrz commented on #28479
Let's use "Enable HTTPS" to try to be more consistent with the rest of the software. :-)

[2022-05-16 15:27] kpodemski commented on #28490
@adamus007p _in your opinion_ - we decided based on the research we did that it's not a strategy we want to follow

you can always implement these changes on your side 👍

[2022-05-16 15:28] adamus007p commented on #28490
It is called experiences. Maybe opinion is wrong word.

[2022-05-16 16:00] GladysBecerra opened #28508 "Discount cart rule not working"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have setup a promo code compatibl

[2022-05-16 16:00] matks commented on #27973
Release note is ready, I will complete the release process tomorrow at 9AM

https://github.com/PrestaShop/prestashop.github.io/pull/1081

(don't deploy in the evening 😋 )

[2022-05-16 16:35] Amoifr opened #28509 "harmonize filter methods on EntitySearchInputType"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-16 16:42] PrestaEdit commented on #28498
Hi @tiroiretcoton ,

Could you enable the debug more in order to have the details of the error 500, it will be usefull to see what happen.

[2022-05-16 16:43] hibatallahAouadni commented on #28509
Hello @Amoifr

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
Sp, we're waiting for your PR :rocket:

Thank you

[2022-05-16 17:06] hibatallahAouadni commented on #28508
Hello @GladysBecerra

Could you please check this issue #17603 cause it seems similar to yours.
Waiting for your feedback.

Thanks!

[2022-05-16 17:11] hibatallahAouadni commented on #28440
Hello @fustereta

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue.

PS: thanks @leemyongpakvn for your quick reply :rocket:

Thanks!

[2022-05-16 17:11] #28440 closed, assigned to nobody

[2022-05-16 17:13] hibatallahAouadni commented on #28488
Ping @PrestaShop/prestashop-core-developers can someone please try to reproduce the issue, it's too technical for me :pray:
Thanks in advance!

[2022-05-16 17:21] hibatallahAouadni commented on #28495
Hello @ovallepa

I see that exception is related to the module productcomment, could you please disable it and check if you still encounter the issue.
Otherwise, when you upgrade your shop, did you encounter any issue? and what was the version of the autoupgrade module?
Waiting for your feedback.

Thanks!

[2022-05-16 17:22] hibatallahAouadni commented on #28498
Hello @tiroiretcoton

As @PrestaEdit asked, could you please enable the debug mode and provide a screenshot :pray:
@PrestaEdit thanks for your quick reply :superhero:

Thanks!

[2022-05-16 17:24] hibatallahAouadni commented on #28501
Hello @qualityangel

Could you please check your browser console and see if there's any error displayed.
If so, please provide a screenshot about it.

Thanks in advance!

[2022-05-16 17:27] Jordanmarjot commented on #28489
Hello, so I test with your body and get the same result
![image](https://user-images.githubusercontent.com/71250621/168649232-a7fc1162-63b5-44f8-b9e5-e98c3dff5383.png)

[2022-05-16 17:34] hibatallahAouadni commented on #28489
Hello @Jordanmarjot

Please try with this simple one:

[code]

And here's my result:

![image](https://user-images.githubusercontent.com/23308427/168650427-53069eb6-5f95-435e-b016-2c8b1eabda90.png)

Waiting for your feedback.
Thanks!

[2022-05-16 17:50] kratekk opened #28511 "Invoice address reset when use "use different addresses for invoice""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Stepping on checkout process presta

[2022-05-16 17:53] fustereta commented on #28440
Hi,
Thank you all for your time.
Thanks @leemyongpakvn for you comment. We think it's a similar problem but not sure if it's the same.

We've been trying to find out what module is giving us problems, @hibatallahAouadni, and we couldn't find it. That's why we posted the issue here. Thanks anyway.

If anyone needs credentials to see what we are explaining, more than welcome. It's pretty difficult t

[2022-05-16 18:33] ovallepa commented on #28495
I already uninstalled the module and products without combinations work fine. But the 524 error is persistent with products with combinations. I used the 1-Click Upgrade module version 1.14.0.

[2022-05-16 19:02] matks commented on #9605
@kpodemski Maybe we could simply add a notice in the BO

"Warning: if you delete image format, make sure the theme you use does not rely on it"

[2022-05-16 19:08] #26927 closed, assigned to nobody

[2022-05-16 20:25] fiorame commented on #28496
Hello,I checked the issue 23379 but it is different.I can delete the Status without problems.Best regards.Antonio PianaIl giorno 16 mag 2022, alle ore 9:09, Hibatallah Aouadni ***@***.***> ha scritto:Hello @fiorameCould you please check this issue #23379 cause it seems similar to yours. Please check and feedback.Thanks!—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiv

[2022-05-16 20:50] matks commented on #28499
I dont think a configuration value is the right solution.

A configuration value is useful to store something that we can and must change over time, like an option, a parameter, a setting.

Here you want this value to start at 0 and then become 1 then never change again. It's a waste to use a MySQL boolean to keep a value that will never again be changed.

I suggest to use something that will not

[2022-05-16 21:46] Hlavtox commented on #28505
I vote for launching it when it's ready and fully finished. 👍

[2022-05-16 21:55] Hlavtox commented on #28387
@matks How should I handle this? It's because of a new field I added.

When releasing a patch version of 1.7.8 branch, is the latest of classic built and included?

[2022-05-16 22:06] kpodemski commented on #28387
@Hlavtox

Classic is still part of the 1.7.8 branch, and `classic-theme` repository shouldn't be used with this version.

[2022-05-16 22:19] kpodemski commented on #28499
Usually, you cannot access the Back office because the directory name is `admin`, and PrestaShop forces you to change it.

[2022-05-17 00:39] leemyongpakvn commented on #28440
@fustereta I'm quite sure that is the same problem, it is not a module bug, but in fact a mismatch between **old** order data (PS 1.7.2 allows NULL value in phone, product_isbn, etc fields) and **new** order data (PS 1.7.8 does not allow that NULL), so we need SET phone, product_isbn, etc to EMPTY string "" if they are NULL after upgrade. There is no problem with NEW order created after upgrade be

[2022-05-17 06:51] Progi1984 commented on #28499
@kpodemski You can access to the directory `admin` during the install and it will be renamed as it's not done by the installer : https://github.com/PrestaShop/PrestaShop/blob/develop/controllers/admin/AdminLoginController.php#L105-L118

[2022-05-17 07:40] matks commented on #27973
## Status update

1. PrestaShop 1.7.8.6 released on prestashop.com
2. Release note published https://build.prestashop.com/news/prestashop-1-7-8-6-maintenance-release/

[2022-05-17 07:41] Julievrz commented on #28505
IMO, if it's enabled from the Feature Flag page it is still considered an experimental feature, isn't it?

[2022-05-17 07:52] qualityangel commented on #28501
I check it within 1 hour.

[2022-05-17 08:00] qualityangel commented on #28501
I have one Error in Google Console:

Uncaught SyntaxError: Identifier 'moduleCardController' has already been declared (at module_card.js?1.7.8.5:1:1)

[2022-05-17 08:24] qualityangel commented on #28501
OK i see that the colorpicker is not available anymore in admin/themes/new-theme/ These is also not available in a fresh downloaded zip from the prestashop website:

https://dthomeshopping.nl/backoffice/themes/new-theme/public/bootstrap-colorpicker.min.css.map niet laden: HTTP-fout: statuscode 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

[2022-05-17 08:39] #28511 closed, assigned to nobody

[2022-05-17 08:40] Amoifr opened #28512 "Combination name builder separator must be provided by a configuration"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-17 08:49] Amoifr opened #28513 "In EntitySearchInputType, limitation do not allow IntegerType"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-17 08:58] hibatallahAouadni commented on #27654
@omar2886 you can ask your question here in the [public Slack channel](https://prestashop.slack.com/).
Thanks for your patience!

[2022-05-17 09:24] florine2623 commented on #28512
Hello @Amoifr

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR 🚀

Thank you

[2022-05-17 09:27] florine2623 commented on #28513
Hello @Amoifr

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR 🚀

Thank you

[2022-05-17 09:39] matks commented on #27973
Available for upgrade

[2022-05-17 09:57] Maxsimo91 opened #28514 "[WS] - Create a product with Combinations - Error Invalid $number parameter "" cannot be interpreted as a number"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I want to create with api request a

[2022-05-17 10:24] marwachelly opened #28515 "Orders - Shopping cart is created automatically when choosing a customer to create an order from BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

 Shopping cart is created automatic

[2022-05-17 10:27] marwachelly commented on #28515
Related to https://github.com/PrestaShop/PrestaShop/issues/9589

[2022-05-17 11:04] dobra947 opened #28516 "ps_shoppingcart.tpl : Trying to access array offset on value of type null"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Error in template on line 34:
[code

[2022-05-17 11:54] #27717 closed, assigned to nobody

[2022-05-17 12:05] PrestaEdit commented on #28516
Fixed here : https://github.com/PrestaShop/ps_shoppingcart/commit/5f509d300484a4c5af4488eaa34d503f3a628a71

[2022-05-17 12:30] florine2623 commented on #28516
Fixed in this PR : https://github.com/PrestaShop/ps_shoppingcart/pull/83

[2022-05-17 12:30] #28516 closed, assigned to nobody

[2022-05-17 12:54] Gaja-A opened #28517 "Rounding - Be able to display prices with no decimal with the following format : XX,00€"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

I want to display the price in

[2022-05-17 13:59] #26559 closed, assigned to nobody

[2022-05-17 16:11] florine2623 commented on #28496
Hello @fiorame ,

I can't reproduce your issue on branch 1.7.8.x as you can see from my screen record :

https://user-images.githubusercontent.com/16019289/168858309-a486ed88-bac5-4744-ab86-538cfa02e205.mov

The status becomes "status (deleted)" and my order is still displayed.
So I will close your issue.

[2022-05-17 16:11] #28496 closed, assigned to nobody

[2022-05-17 16:22] florine2623 commented on #28495
Hello @ovallepa ,

I've upgraded my shop 1.7.6.0 to 1.7.8.6 without any error on product with combinations page.

It seems like your issue comes from your hosting provider.
"_The 524 A Timeout Occurred error is a Cloudflare-specific HTTP status code that indicates that the connection to the server has been closed due to a timeout. Depending on the context, an Error 524 message might prevent you fr

[2022-05-17 16:22] #28495 closed, assigned to nobody

[2022-05-17 16:41] fiorame commented on #28496
Hello.I see your screenshot and it is the same I do that give me error. I will try again and if I find some other details I will open a new issue.Thanks.AntonioIl giorno 17 mag 2022, alle ore 18:11, florine2623 ***@***.***> ha scritto:Hello @fiorame ,I can't reproduce your issue on branch 1.7.8.x as you can see from my screen record :https://user-images.githubusercontent.com/16019289/168858309-a48

[2022-05-17 18:12] fustereta commented on #28440
Thanks @leemyongpakvn for your reply and solution.

It seems we have it sorted out. It was related to the online TPV module. If we had it unpublished, then we could access the orders and with the module published the order details page broke the backend. So we finally found out the problem.

Thanks again to everyone who replied our issue. Really appreciated.

Regards,
carme.

[2022-05-17 18:36] jovh opened #28518 "cannot register to metrics"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

after filling out all data in the r

[2022-05-17 19:03] Progi1984 commented on #26557
Fixed by @MeKeyCool in #28426

[2022-05-17 19:03] #26557 closed, assigned to MeKeyCool

[2022-05-17 19:03] #17764 closed, assigned to nobody

[2022-05-17 20:41] Maofree opened #28519 "Problem to change the order status from the order list, when there are few orders"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
there are some problems to the s

[2022-05-17 22:29] adamus007p commented on #27077
@kpodemski  The names of languages are always written with a capital letter. Polish not polish or you are writing about polish something.

[2022-05-17 23:42] Matt75 commented on #23013
I think you misunderstood how to do a refund on PrestaShop.

Change order state to "Refunded" doesn't performs a refund action, it just change the order state.

Before change order state to "Refunded", you have to perform a refund action using an action button.

Refund action will generate a credit note by default, it's needed for accounting because generated invoice cannot be legally changed afte

[2022-05-18 02:15] hydromel-project opened #28520 "Backup - Ignore Statistics don't work as expected"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When going on the admin panel, unde

[2022-05-18 02:21] Setlakwe commented on #28520
In the graphical interface, the statement is to ignore the statistics, while in src/classes/PrestaShopBackup.php, at method add()
refers to this->psBackupAll...

The assigned variable name contradicts the statement of the option.

[2022-05-18 07:24] matks commented on #28518
Hello ! ps_metrics is not a module provided by PrestaShop company, not PrestaShop open source project so we cannot help you

You can report it to the PS Metrics team using the "Help" tab in the module I believe

[2022-05-18 07:30] jovh commented on #28518
ok - is there a prestashop company module for stats ?
On 18 May 2022, 09:24 +0200, Mathieu Ferment ***@***.***>, wrote:

[2022-05-18 07:56] Murat-06 commented on #27973
I am using version 1.7.8.6 and the products I sell are single stock products, when the customer adds the product to the cart, the product is out of stock label appears and the customer leaves the site because there is no product left. It is not like this in Presta 1.6 version when I make it. When you add it to the cart, the number of products does not decrease and it does not give an out of stock

[2022-05-18 08:10] matks commented on #27973
Hi @Murat-06 I think you should report this as a bug https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=Bug%2CNew&template=1_bug_report.yml

but it does not look like a known bug and it's really weird

this bug is so bad I don't think we would have missed it when testing I think the problem might come from something else than the software

[2022-05-18 08:40] matks commented on #27973
Docker images are available https://hub.docker.com/r/prestashop/prestashop/

[2022-05-18 08:40] #27973 closed, assigned to matks, eshraw

[2022-05-18 08:40] matks opened #28522 "Release 1.7.8.8"
This issue tracks the status of the PrestaShop 1.7.8.8 release

### Information

Q                                                     | A
--------------------------------|---------------
**Type**                                        | Patch version
**Build date**                        |  2022-11-25
**Milestone**                                | [1.7.8.8](https://github.com/PrestaShop/PrestaSho

[2022-05-18 08:42] Julievrz commented on #28505
"Feature previews" sounds good in English but it's really hard to translate... I couldn't think of a good French translation.

I thought of "Beta features" but it's not really relevant.

But I'm wondering: why would the product page appear on the "Preview feature/Experimental feature/..." if it has been fully tested by QA and is stable? In this case, it's just a new feature... only available in a

[2022-05-18 08:43] hibatallahAouadni commented on #28514
Hello @Maxsimo91

Did you create your combinations by webservice before creating the product? combinations id:22 and id:23?
If so, could you please share the body request that you use to create your combinations :pray:
Waiting for your feedback.

Thanks!

[2022-05-18 08:49] qualityangel commented on #28501
Hi Florine,

Well i only have Dutch lang, no other lang installed.
The DIV object for the attributes is empty in product page as in the inspection from google.

Uninstalled all 3th party modules, cleared cache etc. no change.

I did a clean install on the same server with another domain, and can't reproduce it.

[2022-05-18 08:50] hibatallahAouadni commented on #28518
Hello @jovh

It seems that your issue is not a PrestaShop core bug.
If your module is Metrics Official, please contact support team on Addons

We will close this issue.

PS: thanks @matks for your quick reply :rocket:

Thanks!

[2022-05-18 08:50] #28518 closed, assigned to nobody

[2022-05-18 09:01] hibatallahAouadni commented on #28519
Hello @maofree

I reproduce the issue with PS1770 and PS1786, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/169000935-c1dc15d3-50be-45e9-9c94-daa9b5ab9a2d.mp4

Thanks for reporting the issue, I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be

[2022-05-18 09:31] d33x commented on #9981
@gennaris I don't suppose you have gone any further on this major issue?

[2022-05-18 09:42] gennaris commented on #9981
@d33x
No sorry,
at the end we found other ways to handle this specific project by avoiding quantity discounts.
The internal debugging of the problem was too time consuming, but it seemed to me worth reporting my discoveries in this issue.

[2022-05-18 09:42] Murat-06 opened #28523 "Out of stock warning when product is added to cart"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

I am using version 1.7.8.6

[2022-05-18 11:01] Hlavtox commented on #28523
@Murat-06 Hello, this is just the behavior present on 1.7 version. When you add some product to cart, the shop substracts this quantity from the amount in stock. So if you have 2 items in stock and you add 1 piece to cart, the product page will show that 1 is in stock. (Because 1 is in cart.)

Prestashop 1.6 didn't do this, yes.

**However, I also find this behavior confusing and would prefer to d

[2022-05-18 11:02] hibatallahAouadni commented on #28520
Hello @Setlakwe

Thanks for reporting the issue!
I reproduce the issue with PS1777 and PS1785, I can see there's no difference between the two generated backups (with/without Ignore statistics tables).
Ping @PrestaShop/product-team we need [specs](https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-office/advanced-parameters/database/dbbackup.md) to know what the expected b

[2022-05-18 11:10] Marquis7373 opened #28525 "No product importation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I am trying to import 1 pro

[2022-05-18 11:19] Murat-06 commented on #28523
Of course, it is not possible for us to do this by calling the customer, because customers can shop from the site while you are sleeping.

Also, when it is added to the cart, there is no problem that it drops from the stock level. However, when it is out of stock, adding an Added to Cart warning instead of Out of Stock may make this system more usable, thank you
![image](https://user-images.github

[2022-05-18 11:23] Hlavtox commented on #28523
We are currently remaking this and the availability will look much better on Hummingbird theme.

I think we can maybe improve this by showing something like
`You have 2 pieces of this product in cart`
on top of the page.

[2022-05-18 11:39] #22565 closed, assigned to marsaldev

[2022-05-18 11:40] Murat-06 commented on #28523
I'm looking forward to it thank you

[2022-05-18 11:40] #23745 closed, assigned to marsaldev

[2022-05-18 12:44] jolelievre commented on #28505
yeah we thought about this as well

[2022-05-18 15:04] MeKeyCool commented on #28169
It looks like the concerned code has been removed 8 days ago by a @jolelievre PR : [Refacto combination suppliers #27353](https://github.com/PrestaShop/PrestaShop/pull/27353/files#diff-042ba91508474191c3fdd53097949caa387c210440d367931c675de594c790d7)

@khouloudbelguith , could you validate you still can reproduce the bug ?

[2022-05-18 15:27] khouloudbelguith commented on #28169
Hi @MeKeyCool,

Yes, I still reproduce the issue with develop branch.
The exception is changed
![image](https://user-images.githubusercontent.com/16067358/169081382-91e7e649-92a4-4dea-b53b-59595a5f1ee3.png)

I attached a screen record

https://user-images.githubusercontent.com/16067358/169081186-09011e81-9585-464d-8524-42c00e10545c.mp4

Thanks!

[2022-05-18 15:42] zenerry opened #28529 "Multiple product order with multiple carriers"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi folks,
I've searched for an issu

[2022-05-18 15:47] hibatallahAouadni commented on #28523
Hello @Murat-06

Thanks for pointing to this issue :pray:
It seems like a feature request more than a bug, so I modified the issue description :relaxed:

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest

[2022-05-18 15:50] MeKeyCool commented on #28169
Thanks @khouloudbelguith ! In fact I missed a config in import form (your video helped a lot :D).
I can reproduce this issue now so if you can assign it to me, I'll start to look at it ^^

[2022-05-18 15:50] #28489 closed, assigned to nobody

[2022-05-18 15:53] hibatallahAouadni commented on #28374
Hello @jannakz

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-05-18 15:53] #28374 closed, assigned to nobody

[2022-05-18 15:54] hibatallahAouadni commented on #28349
Hello @Alan3k

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-05-18 15:54] #28349 closed, assigned to nobody

[2022-05-18 15:57] hibatallahAouadni commented on #28501
Hello @qualityangel

Means that it's due to your overrides, so it's not related to PS Core!

Closing the issue as we only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Alternatively, you can also ask for help in the [c

[2022-05-18 15:57] #28501 closed, assigned to nobody

[2022-05-18 16:44] marwachelly opened #28530 "Multilanguages -Product V2- Empty fields when another language is selected lead to an exception in the payment step"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When adding the name of a new produ

[2022-05-18 17:42] hibatallahAouadni commented on #28188
@florine2623 is it a regression? or it's an old bug?

[2022-05-18 17:48] hibatallahAouadni commented on #28525
Hello @Marquis7373

I didn't manage to reproduce the issue with PS1786, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/169108843-91652cfd-2bf9-4242-9d1b-75021ba6461e.mp4

Please check and feedback.

Thanks!

[2022-05-18 17:52] #28529 closed, assigned to nobody

[2022-05-18 17:52] hibatallahAouadni commented on #28529
Duplicate of #15369

[2022-05-18 19:05] HartLarsson commented on #20615
i simply add more text in the default message when is not possible to ship cause there is no courrier :)

[2022-05-18 19:29] MeKeyCool commented on #26557
Fixed in v8 with https://github.com/PrestaShop/classic-theme/pull/29

[2022-05-19 07:57] Hlavtox commented on #26570
Hi everyone, I think that this is very specific behavior and nobody except @matdu58 is going to need this. Why we should have two language-enable switches?

If you disable a language, you should see it in your backoffice, so you can work on it. No need to have any other switch.

[2022-05-19 08:11] Hlavtox commented on #19777
**A real scenario how this affects a merchant:**
- I am a Czech merchant, I have a shop only for Slovakia.
- I want to have product data and transalations in Slovak, but Backoffice language in Czech. So I need both languages installed.
- So I make two languages - Czech and Slovak. I disable Czech because I want to have only Slovak in frontoffice.
- I set my employee language to Czech, so I have cz

[2022-05-19 08:42] hibatallahAouadni commented on #28376
Hello @aem34

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-05-19 08:42] #28376 closed, assigned to nobody

[2022-05-19 08:43] hibatallahAouadni commented on #28378
Hello @jocel1

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-05-19 08:43] #28378 closed, assigned to kpodemski

[2022-05-19 09:54] matdu58 commented on #26570
Hi everyone,

No, because actually with PS 1.7.7.4, when you activate a new language (example Spanish) in addition to the default language (French in my case), then you deactivate it (I don't want to display Spanish in the front office, but only French), you can not edit products informations (titles, descriptions) for the other languages (Spanish).

It was possible in PS 1.6.X
So I project to buy

[2022-05-19 10:05] jmrubio96 opened #28531 "Bug minimum quantity to purchase a product: prestashop thinks 102 is lower than 50"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

From version 1.7.8.0 onwards, a bug

[2022-05-19 13:39] w-jerome opened #28534 "Impossible to regenerate images produced in high definition"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I want to regenerate my thumbnails,

[2022-05-19 13:56] Lionel-dev opened #28538 "Attribute_wholesale_price is rounded when do multiple save"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I save a wholesale price on a

[2022-05-19 14:06] hibatallahAouadni commented on #28534
Hello @w-jerome

I didn't manage to reproduce the issue with PS1786 and develop :disappointed:
Could you please provide a screenshot of **Image Settings > Images generation options** or a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-05-19 14:15] jf-viguier opened #28539 "New method Tools::getCurrentUrl() to replace FrontController::getCurrentURL"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-05-19 14:15] #28275 closed, assigned to nobody

[2022-05-19 14:44] hibatallahAouadni commented on #28539
Hello @jf-viguier

Thank you for your suggestion. The Dev Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
Waiting for your PR :rocket:

Thank you

[2022-05-19 14:55] MeKeyCool commented on #28169
@khouloudbelguith and/or @PrestaShop/product-team , could you confirm that `product type` and `supplier_id` are not mandatory fields ?

I found some code saying that they are mandatory but database and old behavior isn't consistent with those constraints.

[2022-05-19 15:19] angelo983 opened #28543 "'Trying to access array offset on value of type null' calling WS api categories blank schema"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Call a blank schema of Categories i

[2022-05-19 15:20] #28073 closed, assigned to Shoprunners

[2022-05-19 15:28] PululuK commented on #28539
Hi @jf-viguier

I suggest to add a new method in `Tools::getCurrentURL`.

[2022-05-19 15:44] jf-viguier commented on #28539
@PululuK it's done, please review.

[2022-05-19 16:25] hibatallahAouadni commented on #28531
Hello @jmrubio96

Thanks for reporting the issue!
Indeed it's a regression since 1.7.8.0 :disappointed: I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest yo

[2022-05-19 16:26] matks commented on #28539
Looks Good To Me (LGTM)

[2022-05-19 16:30] matks commented on #28387
Yes it's a drawback. Separating repositories, like we do for modules, mean your project need to be compatible with multiple versions. But it also introduces benefits :)

[2022-05-19 16:39] hibatallahAouadni commented on #28538
Hello @Lionel-dev

I didn't manage to reproduce the issue with PS1777 and PS1786, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/169352969-dada7ffd-b39a-4911-b098-8039872cbb31.mp4

Please check and feedback.
Thanks!

[2022-05-19 16:47] hibatallahAouadni commented on #28543
Hello @angelo983

I didn't manage to reproduce the issue with PS1786, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/169354246-539d9e28-5a4b-4eef-87f3-fe74012b728e.png)

And here's the full result:

[code]

Please check and feedback.

Thanks!

[2022-05-19 17:27] adamus007p opened #28546 "Add red star for mandatory fields in registration page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

I would like to report few

[2022-05-19 17:46] angelo983 commented on #28543
Hello @hibatallahAouadni,
from these informations I cannot determine your category tree level depth.

[2022-05-20 07:13] Lionel-dev commented on #28538
Hi @hibatallahAouadni,

The problem refers to the wholesale_price, so it is the Cost price field in BO :)

On closer inspection, I think it's because when defining the field, the format uses a "." for the decimals and after that, this number is formatted with a comma.

[2022-05-20 08:52] w-jerome commented on #28534
Hello ! And thanks for the quick response :)

And here is a video capture, you can see that when we add an image for the first time, it is well created in `32-home_default2x.jpg`, because of variable `PS_HIGHT_DPI`, but when we change the settings of the thumbnail and regenerate them, it doesn't delete the images in `32-home_default2x.jpg` and so it doesn't modify it.

https://user-images.githubus

[2022-05-20 09:19] hibatallahAouadni commented on #28546
Hello @adamus007p

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2022-05-20 09:24] viv3s opened #28549 "Error 500 blank page when admin add or edit product with +40.000 categories."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have a page with a lot of data in

[2022-05-20 09:28] viv3s commented on #28549
I had it on 1.7.3 and I upgraded to 1.7.5 first and then 1.7.6 same error happens.

[2022-05-20 09:31] hibatallahAouadni commented on #28538
Hello @Lionel-dev

Even with a comma or point, the cost price is always well saved, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/169499410-61f3f858-a0e1-48c2-b51e-140dd16ce8e1.mp4

Closing the issue as it's not a Core bug.

Thanks!

[2022-05-20 09:31] #28538 closed, assigned to nobody

[2022-05-20 09:45] Lionel-dev commented on #28538
@hibatallahAouadni  Please pay more attention to my request before closing it, this is a core bug that is present on my basic shop.

Your PrestaShop is set on the English language, so all your prices are formatted with a dot... In my case, my store is set on France and so when I modify it, I have a dot to separate the decimals from the units, but after refreshing the dot turns into a comma and so

[2022-05-20 09:45] hibatallahAouadni commented on #28543
Hello @angelo983

I created a new Category Pants, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/169500805-f6e90630-dd1a-4076-9be7-6f12030cfdfc.png)

Using this link: `/api/categories` I get this result:
[code]
If I added the `?schema=blank`, I get this result: `/api/categories?schema=blank`:
[code]

BTW, can you explain it more :sweat_smile: maybe

[2022-05-20 09:55] hibatallahAouadni commented on #28534
Hello @w-jerome

Before re-generating the images, you need to disable this option to delete the images in `32-home_default2x.jpg`:

![image](https://user-images.githubusercontent.com/23308427/169503748-7eaef164-7109-4e17-9afb-b28878b97966.png)

Please try it again and feedback.
Thanks!

[2022-05-20 10:02] hibatallahAouadni commented on #28549
Hello @viv3s

Your issue is related to #12907
And as we decide that every performance bug will be treated as an improvement.
So the Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestasho

[2022-05-20 10:07] angelo983 commented on #28543
Examples of Categories tree with level depth > 1

Example 1: level depth == 2

HOME
=> CATEGORY 1 (depth == 1)
      => CATEGORY 2 (depth == 2)
=> CATEGORY A (depth == 1)
      => CATEGORY B (depth == 2)

Example 2: level depth == 3

HOME
=> CATEGORY 1 (depth == 1)
      => CATEGORY 2 (depth == 2)
            => CATEGORY 3 (depth == 3)
=> CATEGORY A (depth == 1)
      => CATEGORY B (depth == 2)

[2022-05-20 11:18] idnovate opened #28552 "Incorrect "availability" for Schema markup tag when stock is not managed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It's displayed `"availability": "ht

[2022-05-20 11:20] Prestaworks commented on #27819
If CCC is active for the CSS or JS files, and you click "Clear cache" in performance, the values in the DB for PS_CCCJS_VERSION and PS_CCCCSS_VERSION is set +1, causing a new file name to be generated. But this is only for shops setting CCC as active.

[2022-05-20 12:36] w-jerome commented on #28534
So I was able to do the procedure you indicated and it doesn't work.

https://user-images.githubusercontent.com/1685550/169529357-04d1fd7a-3f5a-475e-9a79-b29fcf3dcb13.mp4

If I ever proposed a pull request
https://github.com/PrestaShop/PrestaShop/pull/28535

[2022-05-20 12:57] hibatallahAouadni commented on #28543
Hello @angelo983

Thanks for the details :pray:
Well, in my shop, I have these categories:
[code]
All categories have associated products except Categpry Pants, did I miss something?
Waiting for your feedback.

Thanks!

[2022-05-20 14:27] eternoendless commented on #26570
This makes sense, but I believe the "status" behavior right now works as a soft delete, rendering the language disabled everywhere. Also there's a use case where you want the language enabled in the BO for the employee, but you don't want it showing up in the FO, nor you want to have it polluting your product data.

[2022-05-20 14:29] angelo983 commented on #28543
@hibatallahAouadni Have you tried with PHP 7.4.29 and PS 1.7.8.4?

[2022-05-20 14:37] sLorenzini opened #28555 "Can't create release with CreateRelease.php file"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I try to upgrade my store on the de

[2022-05-20 14:52] Hlavtox commented on #26570
@eternoendless The status switch just disables it in FO, but you can use the language in BO just fine.

There are some places in BO where it did not work - old product page for example, but this will be fixed now on v2 product page.

[2022-05-20 15:14] atomiix commented on #28555
@sLorenzini I don't reproduce this issue:
![Capture d’écran 2022-05-20 à 17 13 13](https://user-images.githubusercontent.com/2168836/169558661-db83e2d4-8a30-44c1-ba1e-e528b567f215.png)

I think it comes from you node/npm environment. Are you on a M1 mac? What happens if you run `make assets`?

[2022-05-20 15:25] sLorenzini commented on #28555
@atomiix, we found the issue with @khouloudbelguith.

Not an environment issue but the "sudo" part...
without the "sudo" cmd it works like your screen. sorry 🥲
I close the issue.

Thanks

[2022-05-20 15:25] #28555 closed, assigned to nobody

[2022-05-20 15:30] angelo983 commented on #28543
Sure! A lot of 'Trying to access array offset on value of type null' messages in various CMS are related to PHP 7.4 consistency checks.

[2022-05-20 15:48] hibatallahAouadni commented on #28552
Hello @idnovate

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #23534.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-05-20 15:48] #28552 closed, assigned to nobody

[2022-05-20 15:48] hibatallahAouadni commented on #28552
Duplicate of #23534

[2022-05-20 16:08] hibatallahAouadni commented on #28543
Ping @PrestaShop/qa-functional Can someone please try to reproduce the issue :pray:
I have some technical issues, that I can't reproduce it with PHP 7.4 :disappointed:

Thanks in advance!

[2022-05-20 16:13] doeselschnecke opened #28556 "FancyBox not showing up at checkout"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When clicking on terms during check

[2022-05-20 16:13] hibatallahAouadni commented on #28538
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/9972#issuecomment-415217177

[2022-05-20 16:22] hibatallahAouadni commented on #28308
PS: I need to check if it's a regression or no.

[2022-05-20 16:25] hibatallahAouadni commented on #28556
Hello @doeselschnecke

I didn't manage to reproduce your issue with PS1786, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/169570394-eac4ea9c-f3f8-4d0b-a8cb-2caa42f7080a.mp4

Please check and feedback.

Thanks!

[2022-05-20 16:38] doeselschnecke commented on #28556
Thanks for the quick answer. However, you did not click on the terms to open FancyBox that used to show them.

[2022-05-20 17:13] doeselschnecke commented on #28556
I have tried some things and realised the plugin "Legal Compliance" by PrestaShop, version 3.0.2 causes the issue.

[2022-05-20 19:07] idnovate commented on #23534
Same problem here :blush: (https://github.com/PrestaShop/PrestaShop/issues/28552)

We have set stock for all products to `999999` to display the status as `InStock`, and we don't have to modify the code then.

[2022-05-20 19:49] w-jerome commented on #28534
Hello @hibatallahAouadni!

So no it's not the same thing. The problem with issue #18867 is that it has a problem in FO when it removes the `home_default` image type.

My problem is when I want to regenerate the `home_default` images in hight DPI.

Thanks!

[2022-05-21 15:17] matdu58 commented on #26570
@Hlavtox @eternoendless Below the detailled issue :

French language is enabled by default, that means all products are automatically translated into French.

Pictures 1 and 2 :
I activate Italian and Spanish languages, so the products can be translated into these 2 languages. But the problem is that on the FO, languages are also activated. Consequently, my website is now "mysite.com/fr" (and also

[2022-05-21 20:08] alfonsolr09 commented on #23534
same "solution" to me

[2022-05-21 23:34] DiV666 commented on #21695
In case it helps someone.

After investigating where the error might be, I saw that the error was coming from the checkImageMemoryLimit method

My problem was that I had the php memory_limit variable set to 64mb and it wasn't enough to process the image, so increasing it to 256mb in the php.ini fixed it.

[2022-05-22 11:26] ComicbookGuy70 commented on #20677
I would like to bring a perspective that has not been discussed fully.  The verbal & print communication of the url.  Some of my clients advertise in mediums that may have the url spoken or displayed during broadcast on lower thirds.  Having a person say "go to widget.com/tickets"  is better than "go to widget.com/13-tickets"  This also applies if the url is on printed material such as banners, bi

[2022-05-22 11:46] kratekk commented on #22637
I have the same problem with version module 3.8.0 and Prestashop 1.7.8.5. Did someone find the solution to resolve this problem?

[2022-05-22 13:55] Padamdam commented on #11945
For this wondering how to implement in PHP :

$cartBlankXML->cart->delivery_option = json_encode([$deliveryAddressId => "$idCarrier,"]);

[2022-05-22 14:38] alisamie97 opened #28562 "product update hooks don't contain updated values of product features"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After product update in BO some hoo

[2022-05-22 19:20] matks commented on #11945
Thanks @Padamdam for the information 👍 😄

Just saw this answer and I wanted to react to this part:

My answer:

This is an open source project. If you want the project documentation to become better you must do your part -> https://devdocs.prestashop.com/1.7/contribute/documentation/

There is no "you" and "PrestaShop" there is just "us". All of us use this project, all of us contribute, all of us

[2022-05-22 19:33] Hlavtox commented on #20677
@ComicbookGuy70 For this, landing pages are much better option in such cases.

[2022-05-22 19:33] Hlavtox commented on #23534
@idnovate @alfonsolr09 It's gonna be fixed, I will finish my PR regarding this. 👍

[2022-05-22 19:35] Hlavtox commented on #26570
@matdu58 This is fixed on a new product page coming in Prestashop 8. 😉

[2022-05-22 20:41] ComicbookGuy70 commented on #20677
My friend Hiavtox, I ask, according to whom?   I have a situation now where I need the url's to include an artists name. site.com/thisband  site.com/thatband so on. I can't tell an artist I have to add a random number to their name because we migrated from Magento.  Although your input is appreciated  it's the equivalent of - change the problem not the solution.

I must say I am puzzled this is su

[2022-05-22 20:56] alfonsolr09 commented on #23534
And what happens with this, its similar issue @Hlavtox
https://github.com/PrestaShop/PrestaShop/pull/23248

[2022-05-23 04:22] Hlavtox commented on #23534
@alfonsolr09 Also fixed don't worry

[2022-05-23 07:21] matdu58 commented on #26570
@Hlavtox Great ! You mean Prestashop 1.8 ? When will that new version be released approximately ?

[2022-05-23 07:21] tiroiretcoton commented on #28498
Hello,

I'm sorry too say tha the debug button doesnt work neither.
I have the same 500 error when clicking on it.

Is it possible to manage to share screens while i show you what happened ?

Johan

[2022-05-23 07:22] #18008 closed, assigned to Amoifr

[2022-05-23 07:53] Hlavtox commented on #26570
@matdu58 It's gonna be called Prestashop 8, we drop the 1.X versioning for easier orientation. But the upgrade will be as smooth as 1.7.6 to 1.7.7, don't worry.

Details and approximate dates here: https://github.com/PrestaShop/PrestaShop/issues/26427

[2022-05-23 07:55] marsaldev commented on #20677
Just thinking out loud, why not implement a features to create an url "alias"?
For instance:
The main url: widget.com/13-tickets
The alias (that can be used for communications/adv/): widget.com/tickets

The alias will not be exposed in the sitemap, but used only directly (link sharing).
And you can create more alias for the same url.
It will not "solve" totally the request, but the _communication_

[2022-05-23 08:32] matthieu-rolland commented on #28556
thank you @doeselschnecke for your contribution 👍

@PrestaShop/product-team what do you think ? @doeselschnecke 's PR looks like a needed addition

[2022-05-23 08:38] AureRita commented on #28543
hi @hibatallahAouadni and @angelo983,

I reproduced this bug as you can see on this screen :
![image](https://user-images.githubusercontent.com/100699445/169777567-49a73fa8-1515-4af8-a2c6-627d69f0cd85.png)

Thank you for this issue @angelo983

That was the step that I follow :
1. Have a fresh install of Prestashop 1.7.8.4
2. Be on php 7.4
3. Create a Main categories ( under the Home ) ( I called i

[2022-05-23 08:39] tom-combet commented on #28327
Will "no relation" state will still be defined by 0 at the end of symfony migration or it's only legacy thing?

[2022-05-23 08:52] angelo983 commented on #28543
Hello @AureRita,
I have committed a PR #28540.

[2022-05-23 09:08] Hlavtox commented on #20677
@marsaldev Well, you are basically talking about a redirect. :-) There are million modules for this behavior or you can easily make one. Hook into dispatcher, check if the url is in your alias table and request a different page.

[2022-05-23 09:14] HanaRebaiQA commented on #28562
Hello @stifler97

Thanks for your report.
I tried to reproduce your issue using this module [ps_qualityassurance.zip](https://github.com/PrestaShop/PrestaShop/files/8753122/ps_qualityassurance.zip) to handle the issue with the `actionObjectProductUpdateAfter` hook, but i did not  reproduce it.

Could you please provide us more information about the custom module that you used.

By the way, is this

[2022-05-23 09:41] HanaRebaiQA commented on #28556
Hello @doeselschnecke

I was unable to reproduce your issue using the same steps mentioned above with PS1786 and php 7.4
The FancyBox is well displayed when clicking on `terms of services` link in checkout process

![image](https://user-images.githubusercontent.com/92912932/169791539-a91dfb90-45ea-4c5f-9f73-e3edd01e908d.png)

https://user-images.githubusercontent.com/92912932/169791301-bdc90367-3e

[2022-05-23 09:45] doeselschnecke commented on #28556
Yes, the terms of services can be shown, indeed. It was ps_legalcompliance causing the issue that FancyBox doesn't work.

However, I looked for plugins on the marketplace and not even plugins for 70€ can show privacy policy and revocation terms or not break FancyBox (like the fork of ps_legalcompliance), hence I recommended the proposed Pull Request.

[2022-05-23 09:55] marsaldev commented on #20677
@Hlavtox technically yes, and I agree with you about the modules, but l'm thinking to introduce this feature natively. We're developer, without thinking a lot we find the ways to solve a problem, searching a module, a script, etc etc, but let's just walking in "user" shoes for a moment, the goal is to facilitate the experience and find the features directly there, and not through a module (that re

[2022-05-23 10:15] rodriciru opened #28565 "Blockwshlist Create modal is hover of every other element"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Modal create new wishlist has inner

[2022-05-23 10:22] alesspetio01 opened #28566 "Bug during the loading of category page that block my site and the cpu of the server at 100%"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bug during the loading of category

[2022-05-23 10:42] MatShir commented on #28556
Hi @doeselschnecke,
Could you specify the law involved and the country impacted? I will have a look on my side and see with the legal team to double-check before validating your feature

[2022-05-23 11:03] doeselschnecke commented on #28556
Hi @MatShir

As far as I know, EU's GDPR law requires ALL shop owners that ship to EU customers since 2018 that their customers agree to privacy policies. If you use PayPal for example, customers don't agree to them in an earlier step, so it is mandatory during Check 4 in Prestashop Checkout.

In older versions, ps_legalcompliance v.3.0.2 worked for this. I'm not sure if the changes in Core to PHP