[2020-11-26 16:07] SD1982 opened #22131 "FO - Checkout / Email validation not verify mail extensions ( .fr or .com)"
#### Describe the bug
In the checkout process , the email address is not correctly verified
If @ is missing the error message is correctly displayed and we can't continue the checkout process
But the extension ( .fr or .com) is not verified and we can continue the checkout process without any mail extensions

#### Expected behavior

The email address should be correctly verified

#### Steps to Rep

[2020-11-26 16:09] SD1982 commented on #22131
ping @hibatallahAouadni  I think this issue can be added in an epic with this to one :
#20351
#11588

[2020-11-26 16:21] matks commented on #22131
As discussed in Slack, I believe 1.7.6.9 behavior is faulty while 1.7.7.0 behavior is correct

According to https://en.wikipedia.org/wiki/Email_address the email address demo@prestashop is valid. It should not be rejected by PrestaShop.

[2020-11-26 17:14] SimonGrn commented on #22131
AFAIK, the only verification you can make with an email is the presence of `@`. Everything else is not a guarantee.

[2020-11-26 17:22] jayala commented on #21337
This seems like a bug. I did the same steps and now I'm gettings this:

`
request.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\Exception\UniqueConstraintViolationException: "An exception occurred while executing 'INSERT INTO ps_admin_filter (employee, shop, controller, action, filter, filter_id) VALUES (?, ?, ?, ?, ?, ?)' with params [1, 1, "", "", "{\"orderBy\":\"position\",\"sortOrder\":\"asc\

[2020-11-26 17:35] SD1982 opened #22133 "BO / Error displayed when connecting to addons with false credentials but connected anyway"
#### Describe the bug

If you tried to connect to addons with wrong credentials an error is displayed by cons addons is still "connected" to the wrong account

#### Expected behavior

We should not be considered connected if the credentials are wrong

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO / dashbord
2. Click on "connect to prestashop market place"
3. try to connect

[2020-11-26 17:35] SD1982 commented on #22133
Ping @hibatallahAouadni

[2020-11-26 17:42] #20093 closed, assigned to NeOMakinG

[2020-11-26 17:46] PierreRambaud commented on #22133
Isn't a duplicate of #9721 ?

[2020-11-26 17:49] Maofree opened #22134 "Paypal error to set the order status in "refunded" when the order is already refunded from Paypal's panel"
Hi
I alert you about a a problem on the paypal module.
the problem happens when the refunded is made on paypal'panel and not from prestashop

1)
refunded an order on Paypal's panel (many shops prefer to do it on Paypal to avoid possible errors)

2)
go to prestashop to the order page and change the order status to "refunded" or "canceled", you will get an error

and it is not possible to change the

[2020-11-26 18:29] jayala commented on #21337
Was having a similar issue after upgrading to 1.7.6.9 from 1.7.5.1. Somehow filter_id field didn't exist and the constraint was wrong.

I fixed it by installing a new prestashop on the same version and comparing the table structure, then I noticed the difference.

Changes I applied:
[code]

Regards

[2020-11-26 19:31] neonVoice opened #22135 "ps_facetedsearch regex does not properly handle spaces on Weight"
#### Describe the bug

Regex `/([^\d]*)(?:[\d .,]+)([^\d]+)(?:[\d .,]+)(.*)/` in file `\modules\ps_facetedsearch\_dev\front\slider.js` on line 29 uses character `' '` instead of `'\s'` for space, which leads to incorrect group matching behavior in situations where you use space-separated product properties like weight/price, for example: `1 234` (Notice space between 1 and 2). I dont know exactly

[2020-11-26 20:04] matks commented on #22135
I have to say that is one of the most complete bug reports I have ever seen 👏

[2020-11-26 21:46] matks commented on #21989
1. Would this test be interesting?
2. This would require to create a shop based on pre-release software 1.7.7.0 . Fortunately I think @PierreRambaud recently added docker images for pre-release software https://github.com/PrestaShop/docker/

[2020-11-26 22:01] juraj1000 opened #22137 "Text for shipping methods overlaps shipping icon in confirmation step"
#### Describe the bug
The text for shipping method overlaps shipping icon in confirmation step.

#### Expected behavior
The text never should overlaps any icon.

#### Steps to Reproduce
1. Create an order in FO
2. During confirmation step change the width of window browser
3. Use width between 580-768 pixels and you'll see overlapped shipping icon

![image](https://user-images.githubusercontent.co

[2020-11-27 06:09] edenysenko commented on #11016
Ctrl + F5 can help

[2020-11-27 07:33] SD1982 commented on #22133
@PierreRambaud yes indeed it's a duplicate :+1:
I close this one !

[2020-11-27 07:33] SD1982 commented on #22133
Duplicate of #9721

[2020-11-27 07:33] #22133 closed, assigned to nobody

[2020-11-27 07:36] Prestaworks commented on #21337
@SimonGrn I thought you said you had tested this?

[2020-11-27 08:15] SimonGrn commented on #21337
Yes, we did. What makes you think we didn't ? How do you think a team of 3 testers do their work, exactly ? Do you think we take every possible combination with every possible dataset ?
We test with a basic shop, and we didn't find anything.

Please also think about our [Code of Conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).

[2020-11-27 08:18] florine2623 commented on #22134
Hi @maofree ,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, please contact directly the developer of the module.

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open

[2020-11-27 08:18] #22134 closed, assigned to nobody

[2020-11-27 08:25] florine2623 commented on #22137
Ping @prestascott @PrestaShop/product-team
I managed to reproduce it, what do you think about it ?

Thanks!

[2020-11-27 08:27] SimonGrn commented on #21337
@jayala we need more information about your configuration: what database do you use (MySQL, MariaDB) ? What version of PHP ? Did you use the one-click upgrade module ? With the ZIP archive or from the official channel ?

Thank you

[2020-11-27 08:44] SimonGrn commented on #21337
@Prestaworks so the whole QA team stopped working on PR validation, issue management, and specifications to test an upgrade from 1.7.5.1 to 1.7.6.9. I hope this will satisfy you.
Here is my video, using 1-click upgrade and the official channel: https://drive.google.com/file/d/1I88z4kE_Fuzsj4hBFlribDkeP9aCtcDo/view?usp=sharing

Here is the video from another QA tester : https://drive.google.com/fil

[2020-11-27 08:59] PululuK commented on #22131
@matks I think Prestashop mail validation rules must be compatible with swiftmailer RFC validations  to avoid  :

[code]

Ex.:  pululuk.andre.@test.fr
|    |      validators      |  status
|:----------:|-------------|:------:|
|  Pretashop |  `Validate::isEmail()`   | :heavy_check_mark:
|  Swiftmailer | https://github.com/egulias/EmailValidator#getting-started  | ❌

[2020-11-27 09:06] florine2623 commented on #22135
Hi @neonVoice ,
Thanks for the report.

I manage to reproduce this using faceted_search module v3.5.0 and v3.6.0.
![Capture d’écran 2020-11-27 à 10 02 09](https://user-images.githubusercontent.com/16019289/100431166-11662080-3098-11eb-8228-02161f8d3d71.png)

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do se

[2020-11-27 09:20] atomiix commented on #22131
@PululuK it will be the case in 1.7.7.0 https://github.com/PrestaShop/PrestaShop/blob/1.7.7.x/classes/Validate.php#L62

[2020-11-27 09:28] PululuK commented on #22131
So incredible you are @atomiix ✌🏾

[2020-11-27 09:45] Prestaworks commented on #21337
@SimonGrn well, there are now another user with the same problem. You have the solution from him on the issue and the entire upgrade log that I provided. Maybe the easy way then would be to just check what file is supposed to alter those tables? maybe there is an issue there? maybe the alter table code for that part require a specific mysql version? or maybe it's becuase the table has data in it t

[2020-11-27 10:13] SimonGrn commented on #21337
We are not able to reproduce the problem and we cannot use more time to investigate. **Either somebody is able to give us precise steps to reproduce the issue 100% of the time, or we will no longer be able to work on it, sadly.**
This is a matter of priority and balance of team effort, working in an Open Source project that **belongs to the community and not only the PrestaShop company**. As a rem

[2020-11-27 10:14] hibatallahAouadni commented on #21112
Hello @fedetibaldo

Is there any news about your issue?
if no, we need to close this ticket to avoid cluttering up the backlog.

Thanks!

[2020-11-27 10:32] MatShir commented on #22137
@NeOMakinG, what do you think? Could we find an improvement?

[2020-11-27 10:32] eternoendless commented on #21337
The schema for `ps_admin_filter` is managed by Doctrine using [the AdminFilter entity](https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Entity/AdminFilter.php). The only SQL alters for that table are [done in 1.7.7.0](https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/upgrade/sql/1.7.7.0.sql#L66) (I searched for `PREFIX_admin_filter`), the rest is managed b

[2020-11-27 10:34] marionf commented on #22131
As specified below this is the wanted behavior, so I close this issue

[2020-11-27 10:34] #22131 closed, assigned to nobody

[2020-11-27 10:50] NeOMakinG commented on #22137
Is it fixed on develop/1.7.7 ? It remember me something

[2020-11-27 11:06] MatShir commented on #19042
Thanks @hibatallahAouadni
I guess having to many tags is not efficient, I will have a look. If we should put a limit or not. :thinking:

@qcoupat so your pages are blocked because of too many tags or it is related to another problem?

[2020-11-27 11:36] khouloudbelguith opened #22138 "Multicurrencies - BO - Order page - when we add a product to an old order - price is changed"
#### Describe the bug

In the BO > Order detail page, when adding a product to an old order, an incorrect value is displayed and an incorrect amount calculated.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Upload United states pack
2. Change the currency "US Dollar" Exchange rate = 10, Decimals =2
3. Go to FO > Create a new order with currency $ selecte

[2020-11-27 12:23] jayala commented on #21337
Well, this was the DDL of ps_admin_filter before the update:

[code]

And this was the DDL of the fresh 1.7.6.9 version I downloaded from the official channel:

[code]

I don't know if this problem comes from the one click upgrade, since this database was from an theme I bought from the Prestashop Store.

But given the case that this happened to another user, I thought I was important to take this

[2020-11-27 13:03] Hlavtox commented on #16682
Hi, @khouloudbelguith, can you add it to 1.7.7.1 milestone?

It should not be hard to fix. When you add something to cart, change quantity or change combination, some parts of product page are updated by JS, but this line is not. We only need to update that one line or move it to some other part of TPL, so it gets updated.

[2020-11-27 13:05] ballashop opened #22140 "Discount not shown in the order, discount by "catalog price rules""
dear staff,
we are on black friday so it is natural to apply discounts to the catalog.
However, these discounts are not shown on the invoice or on the purchase document also on the order.
The prices displayed are those with the discount already applied.
is this correct behavior?
If it is, I ask you to close this issue. Thanks

With a clean PrestaShop installation
Create the rule that discounts the

[2020-11-27 13:26] hibatallahAouadni commented on #21586
Hello @Seb33300 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-11-27 13:26] #21586 closed, assigned to nobody

[2020-11-27 13:40] Robin-Fischer-PS opened #22141 "Error when upgrading from 1.7.4.x and previous to 1.7.7.0 Stable 2 Build"
#### Describe the bug

Using 1 click upgrade module, there is an error when upgrading from 1.7.4.4 to 1.7.7.0 Build Stable 2. This happens with fresh install, and with PHP 7.1 and 7.2.
The autoupgrade module version used is v4.10.1.
Upgrade from 1.7.3.3 to 1.7.7.0 is KO.
Upgrade from 1.7.4.2 to 1.7.7.0 is KO.

Upgrade 1.7.4.4 to 1.7.6.9 is OK.

This was reproduced by @khouloudbelguith and @sarahdi

[2020-11-27 13:46] prestascott commented on #22137
Hello everyone,

Thank you @juraj1000 for your report. :)

What we can do is to remove the icon from a specific breaking point. Do you think it's possible? @NeOMakinG

[2020-11-27 13:53] florine2623 commented on #22140
Hi @ballashop ,

It depends on the article you chose and its configuration.

In your example, you chose Hummingbird printed T-shirt, that article already has a specific price, so the specific price in taken into account :
![Capture d’écran 2020-11-27 à 14 51 00](https://user-images.githubusercontent.com/16019289/100456032-00c9a080-30c0-11eb-94f5-5505c685158f.png)
![Capture d’écran 2020-11-27 à

[2020-11-27 13:58] marionf commented on #16682
Hello @Hlavtox

This issue can't be part of the 1.7.7.1 as it's not a regression of the 1.7.7.0
You can read in our article about [patch release lifecycle](https://build.prestashop.com/news/ps17-patch-release-lifecycle/) that we integrate in the patch versions only regressions from the last minor version or security fixes.

You seems to have an idea to fix this issue, you can submit a PR on develo

[2020-11-27 14:06] MatShir commented on #22128
It seems a really nice feature, especially to fight against spam. Before validating as @matks said, we need to check with our legal team.

[2020-11-27 14:19] ballashop commented on #22140
Dear @florine2623
I have not explained myself clearly sorry,
I meant that the discount is not displayed in the summary as customer information.
this is the example of how it works now
![Schermata-2020-11-27-alle-15 06 05](https://user-images.githubusercontent.com/28685316/100457913-2c9a5580-30c3-11eb-842b-8a13a58ead48.jpg)

this is the example what I mean

![Schermata-2020-11-27-alle-15 06 05-02](

[2020-11-27 14:21] polevoyk opened #22142 "Multi-store: productoutofstock email being sent to every employee of every shop"
#### Describe the bug

When getting the productoutofstock for a product below the stock level, the email being sent to every employee configured for every shop.

#### Expected behavior

Email should be sent only to employees of this product shop

#### Steps to Reproduce

Set multi-store
Set employees for every store
Set a stock alert below the current stock on the product page in the admin
Order t

[2020-11-27 14:32] hibatallahAouadni commented on #12991
Hello @PrestaShark

Could you please apply the changes requested by @jolelievre on your PR.

Thanks!

[2020-11-27 15:01] MatShir commented on #18762
hi @salvacal,
Your feature request is still a nice improvement. I'm keeping it open :)

[2020-11-27 15:02] #22033 closed, assigned to NeOMakinG

[2020-11-27 15:12] hibatallahAouadni commented on #22137
Hello everyone,

The breakpoint is: @media (min-width: 576px) and (max-width: 767.98px)
See the attached screen record below:
https://drive.google.com/file/d/1UpqcGKgPpIqJ0_uvdSt22eO5dF948LD0/view

Thanks!

[2020-11-27 15:15] #22137 closed, assigned to nobody

[2020-11-27 15:20] MatShir commented on #21995
Agreed with @PierreRambaud, for the online payment module, the confirmation email can wait for the validation of the payment, which avoids sending the confirmation email if the payment fails.

[2020-11-27 15:30] florine2623 commented on #22142
Hi @polevoyk ,

I just want to make sure, did you do an upgrade from a previous PS version to PS 1.7.6.8 ?
If yes, can you specify which one ?

In PS 1.7.6, choosing which employee is related to which store is not possible.

Waiting for your answer,
Thanks!

[2020-11-27 15:37] MatShir commented on #21995
Hi @viglu,
Your feature is shared with the team. But in the meantime, PrestaShop is an open-source project, if you have the technical knowledge or have someone that could don't hesitate to propose a pull request (find more information here). We will be happy to add your feature to the PrestaShop core.

[2020-11-27 16:15] khouloudbelguith opened #22144 "BO - Can't create category on product page"
#### Describe the bug

In the BO > Catalog > Products page > Create a new Product, when we try to create a new category, we have an exception in the console.
![image](https://user-images.githubusercontent.com/16067358/100468091-04ffb900-30d4-11eb-8a08-d041e1d1b7a5.png)

#### Expected behavior

In the 177x => OK

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Pro

[2020-11-27 16:17] MatShir commented on #22098
I think that the customers rather track their package from the link in the email. It is true that the content is duplicated but the transport block is below the webdesign fold, the placement of the first link still seems relevant. Once the order is made, the customer comes mainly to track his order.
@prestascott what do you think?

[2020-11-27 16:17] PierreRambaud commented on #22141
We found the source of the problem, it's because of this commit: #18475

The previous version had controllers that are now removed or moved to a new directory. In my case, it's the `PrestaShopBundle\Admin\ModuleController` which is not available.
The block trying to auto-wire controllers is fetching the whole directory in `src/PrestaShopBundle/Controller/*` with a `glob`, the controller is not ava

[2020-11-27 16:17] khouloudbelguith commented on #22144
Related to this: https://github.com/PrestaShop/PrestaShop/issues/9752 (this a multilanguage issue)

[2020-11-27 16:37] jolelievre commented on #22141
I'd go for the quick fix to patch the 177 build (disable `classmap-authoritative` when building composer autoload)

It should also fix other issues when a shop has been modified and other controller and services have been added (but are not mapped) And it has few to none drawback since it only slows down the autoload when the class is not found in the static classmap

[2020-11-27 16:46] Hlavtox commented on #16682
Hi @marionf, I made a PR, can you test it? :-) https://github.com/PrestaShop/PrestaShop/pull/22145

[2020-11-27 16:50] PierreRambaud commented on #22141
I confirm removing the `classmap-authoritative` make it works

[2020-11-27 16:54] marionf commented on #16682
Good to see you contribute :+1:
I am not from the QA team, but don't worry they will test your PR once it has been reviewed and approved by the maintainers :)

[2020-11-27 17:31] MatShir commented on #21283
@NeOMakinG what do you think of @PululuK suggestion?

[2020-11-27 19:17] jeckyl commented on #20848
Is there any information listing the fact that Hooks are disabled to avoid searching for hours why a module doesn't work?
Like, for example, on the modules page.

[2020-11-27 19:36] fedetibaldo commented on #21112
I don’t have much time lately, and I don’t think I’m going to use Prestashop anytime soon either. Nonetheless, this issue has been confirmed by one of your contributors and is quite extensively documented. The step-by-step description should confirm its validity.

If you’d rather close this issue because of a missing reproduction on my part, then go ahead. This won’t make it any less of a bug, tho

[2020-11-27 21:28] matks commented on #22141
Sadly it seems the issue cannot be detected by autoupgrade CLI tests https://travis-ci.com/github/matks/autoupgrade/builds/204985933

(or it's fixed in `1.7.7.x` and not in build because this test uses latest 1.7.7.x nightly build)

[2020-11-28 01:53] PululuK opened #22150 "[IMPROVEMENT][COMBINATIONS] Display Id product attribute in combinations list"
# Is your feature request related to a problem?

Display Id product attribute in combinations list.
In some cases it is very useful to have the combinations id.

# Describe the solution you'd like

Add Id product attribute in combinations list

## After

![Capture du 2020-11-28 02-17-05](https://user-images.githubusercontent.com/16455155/100491036-fab7dc00-3120-11eb-96e3-5c6ec2077b9f.png)

## Befo

[2020-11-28 09:35] hibatallahAouadni commented on #22150
Hello @PululuK

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-28 13:46] hibatallahAouadni commented on #21558
Hello @PierreRambaud

Could you please add the PS and PHP version :sweat_smile:

Thanks!

[2020-11-28 13:57] hibatallahAouadni commented on #15192
Hello @Matt75 ,

PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope. You can open an issue on its [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues), but please keep in

[2020-11-28 13:57] #15192 closed, assigned to nobody

[2020-11-28 14:04] hibatallahAouadni commented on #15186
Ping @PrestaShop/product-team what do you think of @PierreRambaud suggestion?

[2020-11-28 14:07] hibatallahAouadni commented on #14784
Ping @PrestaShop/product-team , what is the status of this feature? is it **`To Do`**?

[2020-11-28 14:11] hibatallahAouadni commented on #14783
Ping @PrestaShop/product-team , what is the status of this feature? is it **`To Do`**?

[2020-11-28 14:12] hibatallahAouadni commented on #14782
Ping @PrestaShop/product-team , what is the status of this feature? is it **`To Do`**?

[2020-11-28 19:27] imaging04 commented on #14957
This issue still on Prestashop 1.7.6.8

[2020-11-28 22:41] kpodemski commented on #14957
Hello,

I suggest you to test it on 1.7.7 where there's a new order page .

[2020-11-28 23:01] m4dh opened #22153 "Incorrect verification of the VAT number for a customer who does not have an EU VAT number"
#### Describe the bug

After installing the European VAT number add-on, and enabling the automatic checking of registration in the VIES database, the module works correctly only for taxpayers registered in this database - i.e. deducts the tax due in the country of purchase from the total of purchases.
If you enter a VAT number that is not registered in the EU VIES VAT database - the system display

[2020-11-29 11:48] lil5 commented on #18547
Any update on the matter?

PHP 8.0.0 has been released

https://www.php.net/archive/2020.php#2020-11-26-3

[2020-11-29 14:11] ghost opened #22154 "Slow query on ps_connections for a large scale prestashop"
Hi guys,

Hope you are doing all well !

I am writing this issue because I am facing a tremendously slow sql query made by Prestashop and my client does not want to truncate the tables as a solution. It slows down the performances of the backend awfully.

Please find below some useful informations:

## Prestashop config
- Version 1.7.6.1
- PHP 7.3.25
- 16 cores / 60GB RAM

## slow query
[code]

##

[2020-11-29 21:33] matks commented on #15192
@hibatallahAouadni PS 1.6 is indeed EOL and we dont support it anymore 😉 however we support _the process of upgrading from PS 1.6 to PS 1.7_ and this is the topic of this issue 👍

[2020-11-29 21:46] matks commented on #18547
Hi, our current php compatibility roadmap is

| PHP version     | will be compatible with | status
| ------------- | ---------------------------------|--------------------
| php7.3 | PrestaShop 1.7.7.0 | done ✅
| php7.4 | PrestaShop 1.7.8.0 | done ✅
| php78.0 | PrestaShop 1.7.9.0 | to do

[2020-11-30 07:56] hibatallahAouadni commented on #15192
Hello @matks

Version you upgrade to: 1.6.1.24

Well, I saw the **upgrade to** version is 1.6.1.24 that's why I close it.

And @eternoendless had ask him if he encounter this issue while upgrading to 1.7 and there's no answer since 2019 :confused:
But if you see it's right to open it, let's do it :wink:

Thanks!

[2020-11-30 08:22] ghost opened #22155 "Customers can't checkout, causing abandoned baskets"
#### Describe the bug

Very high severity bug causing revenue loss..

Adding an address in the second part of the checkout form, removes the address and asks the customer to add it again. The address does actually seem to be saved in the database, but not showing for customers.

#### Expected behavior

I expect the address to be saved and step 3 of the checkout to open.

#### Steps to Reproduce

S

[2020-11-30 08:27] hibatallahAouadni commented on #22154
Hello @lucmichalski

You need to downgrade your PHP version to 7.2 cause PrestaShop 1.7.6.1 is not compatible with PHP 7.3, please see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements)

Please check and feedback.

Thanks!

[2020-11-30 08:30] lucmichalski commented on #22154
@hibatallahAouadni

Thanks for your reply :-)

Can you advise on the sql query issue please ?

Cheers,
Luc

[2020-11-30 08:35] hibatallahAouadni commented on #22154
Hello @lucmichalski

How can we sort it that out ? Can you rewrite the query for avoiding to scan all the rows of the ps_connections table ?

We need a developer to answer this :sweat_smile:
Ping @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-maintainers  could anyone, please, answer his question (mentioned above)

Thanks!

[2020-11-30 08:46] hibatallahAouadni commented on #21112
Hello @fedetibaldo

We won't close it.

We just need you to respond to @PierreRambaud request please, so we can fix it.

Thanks!

[2020-11-30 08:46] NeOMakinG commented on #21283
@MatShir It's a go for me, but @PrestaShop/ux-team should validate or provide the UX behavior

[2020-11-30 09:00] Progi1984 commented on #22141
Fixed by #22146

[2020-11-30 09:00] #22141 closed, assigned to atomiix

[2020-11-30 09:27] prestascott commented on #21283
Hello everyone,

Thank you for your report @PululuK :)

It's also a go for me. If we decide to put a default color it needs to be "neutral", like grey.
For example, we can re-use the secondary color from the BO which is #6C868E or a lighter grey #F8F8F8 (used for the background).

[2020-11-30 09:31] ballashop commented on #22094
Dear @hibatallahAouadni
in this link I found the same problem:
https://www.prestashop.com/forums/topic/542108-prestashop-bugs-with-memcached/
Balla

[2020-11-30 09:43] pollat opened #22156 "Error 500 changing order status on multishop"
Hello,

#### Describe the bug
I have a multishop on Prestashop 1.7.3.3 and If I try to change order status (on "All shops" configuration), I get this error (see image):
How can I solve this problem?

#### Steps to Reproduce

1. BO > SELL > Order > edit order
2. Change the order status like "Delivered" (on "All shops" configuration)
3. See error

`NotImplementedExeption in StockManagementRepository

[2020-11-30 09:43] matthieu-rolland commented on #22154
Just one question: does it slow down the backend only in the BO's statistics pages, or in every pages of the BO ?
It seems related to the `dashactivity` and `statslive` modules.

[2020-11-30 09:46] lucmichalski commented on #22154
@matthieu-rolland

It takes even long for loading the module administration page (as initially I was thinking it was a module causing the slowness).
So the answer is yes for all BO pages.

Cheers,
Luc

[2020-11-30 09:52] PierreRambaud commented on #21558
It's not related to the PrestaShop and PHP version, it's for all of them.

[2020-11-30 09:57] hibatallahAouadni commented on #22156
Hello,

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- PrestaShop version (the exact version not just 1.7.3)
- PHP version

You don't know how to get this information? Please read the following article: [How to create a bug report](http://build.prestashop.com/howtos/misc/how-to-create-bug-report/).

And please **follow the templat

[2020-11-30 09:59] matks commented on #15192
@hibatallahAouadni you raise a very good topic: do we support the upgrade from one version of PS 1.6 to another ?

I dont have the answer 😅  .

[2020-11-30 10:04] matthieu-rolland commented on #22154
ok, I had a look at it and talked about it with a colleague that knows those modules.

Unfortunately, there is no quick fix for improving these modules, especially the `statslive` module. These modules are very old and have not been reworked for a long time. Improving it would take more than rewriting the SQL query, it would need some changes in the way data is stored and retrieved.

You can defin

[2020-11-30 10:08] LouiseBonnard commented on #14783
Hi @hibatallahAouadni, it is part of the old project to rework the auto-upgrade module. I'll add the _PM approved_ label but leave them as TBS so that it can be (re)challenged and specified [here](https://github.com/PrestaShop/prestashop-specs/tree/master/modules) once the topic back on track.

[2020-11-30 10:09] pollat commented on #22156
I have:

- Prestashop 1.7.3.3 version (multishop)
- PHP 7.1

[2020-11-30 10:10] lucmichalski commented on #22154
Thanks for your insights, does a limit to the sql query could improve the query time ?

[2020-11-30 10:14] matthieu-rolland commented on #22154
Well this query is to get the number of people currently online (it's the block on the left in the dashboard page, in the BO). Adding a limit would give a wrong result, if this data is not important for you, you could just as well disable the module.

[2020-11-30 10:21] grzegorzgit opened #22157 "One step checkout"
#### Is your feature request related to a problem?

Please consider adding one step checkout. It is being now a standard in e-commerce and PrestaShop doesn't offer it.

#### Describe the solution you'd like

No reloading page after click to next step, put all the necessary fields in one form and refresh shipment cost with ajax. I understand, that depending on PS architecture it might be a lot of c

[2020-11-30 10:24] hibatallahAouadni commented on #22155
Hello @marcydude

I didn't manage to reproduce your issue with PS1.7.6.9, PS1.7.7.0-rc.1 and develop, see the attached screen record below:

https://drive.google.com/file/d/16DUKIJsYYOn0Osb0VIaV0mwm2NIVzKyl/view

PS: I didn't even managed to reproduce it on your website, see attached screen record below:
https://drive.google.com/file/d/17uln48OV548sqENUo8QWh7vw3AWp3XFc/view

Please check and feedb

[2020-11-30 10:28] hibatallahAouadni commented on #22157
Hello @grzegorzgit

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-11-30 10:33] MatShir commented on #21189
Pages not exhaustive (need a second check):

Page to apply the new labels:
- [ ] Merchandise Returns
- [ ] Logs
- [x] Order list
- [x] Order status

[2020-11-30 10:37] LouiseBonnard commented on #22157
Hi @grzegorzgit, and thanks @hibatallahAouadni, this idea is interesting and pretty close to https://github.com/PrestaShop/PrestaShop/issues/15406. For now, it is too big a topic to address it right now but be sure we will carefully study it if we plan on revamping the whole checkout process - I add the @PrestaShop/ux-team in the loop, for information. :-)

[2020-11-30 10:44] matks opened #22158 "Improve our build release process"
#### Is your feature request related to a problem?

Today the Release Manager has multiple steps to perform to create a new ZIP, be it a beta, a RC or a stable. We can make these steps even more automatized.

- rebuild assets => on `develop` it's automatized ✅
- updates native modules on Composer
- check security dependencies
- rebuild FOSroutes JSON file
- rebuild ChangeLog

#### Describe the sol

[2020-11-30 11:12] eternoendless commented on #15192
It depends. Only to upgrade to the latest 1.7, and up to a certain point.

[2020-11-30 11:19] hibatallahAouadni commented on #22156
Hello @pollat

I just edit your issue description, could you please confirm the steps to reproduce.

Thanks!

[2020-11-30 11:23] LouiseBonnard commented on #22150
Hi @PululuK, thanks for your improvement idea! Please do not add improvements to the kanban before it has been reviewed and prioritized by the @PrestaShop/product-team. I know our process might still be a bit unclear at the moment. We are working on documenting it and should have it published in the devdocs very soon. Thank you!

[2020-11-30 11:36] LouiseBonnard commented on #9757
Since we had no news on the related PR since October 7th (https://github.com/PrestaShop/PrestaShop/pull/17825#issuecomment-704815404), this topwatcher issue is back to the _to do_ column to be completed.

[2020-11-30 11:41] LouiseBonnard commented on #21847
Hey, what's the status of this issue, why is it already in _to do_?

[2020-11-30 11:47] MatShir commented on #20996
@Hlavtox are you talking about your client as if you were a merchant? In B2B use cases between a manufacture and a client for example? :thinking:
Or like your client as a Prestashop developer for your client that requests you to export the profit for a specific period?

But I'm not sure the order is the best place, I'm afraid it will add complexity to this entity and overload of information the or

[2020-11-30 11:57] PululuK commented on #22150
I'm very sorry ! Thanks @LouiseBonnard

[2020-11-30 12:02] LollipopAdmin commented on #9641
Hello Prestashop Devs, I love your product, running it on 1.7.6.1 and plan to upgrade to 1.7.6.8.  I also suffer from this bug with the out of stock spamming email. Is it fixed in a later version than 1.7.6.1 ? If not, any chance it will be fixed in a near future?
Actually, it seems like the checkbox to activate or deactivate the mail being sent has absolutely no effect. I tested with both setting

[2020-11-30 12:34] Hlavtox commented on #20996
@MatShir Client requested that I make him a script, that will export him some order statistics. I wanted to calculated the margin he had on the order. I had to get this information from ps_product table for each product.

Maybe you are right, better make it less complex. :-)

[2020-11-30 12:35] #20996 closed, assigned to nobody

[2020-11-30 13:31] hibatallahAouadni commented on #20838
Hello @Eva-F

We had @PierreRambaud approval, so let's ping the Product Team.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think of @Eva-F sugguestion?

Thanks!

[2020-11-30 13:45] matks commented on #15406
@maofree @rdy4ever I would like to fully understand this issue.

If I am not wrong, you can build 1-step-checkout today with PS 1.7 ? PrestaShop does not prevent you from doing it.

The Classic Theme does not provide it but I think https://github.com/PrestaShopCorp/ps_checkout even provides 1-clic checkout 🤔  .

So if I get it correctly, it's only a limitation of Classic Theme?

[2020-11-30 14:06] grzegorzgit commented on #15406
@LouiseBonnard it is actually mandatory for the button to say something that will clearly tell the client that right now he is making an order that obligates him to pay. Despite of your return policy, there has to be a moment when the order is done - and by this the customer obligates himself to pay for it.  And because in many stores there are plenty buttons during the order - like in prestashop,

[2020-11-30 14:12] prestascott commented on #22098
Hello everyone,

Thanks @juraj1000 for your improvement idea :)

I agree with you, having 2 same links in different section of the order details page is not common.
There is usually only one link to redirect to the tracking page from the carrier. We can remove the section "Click the following..." since it's a duplicate.

Because of the tracking number's position, it's "hidden" under the webdesign

[2020-11-30 14:35] peppoweb opened #22160 "Product Sort Problem"
#### Describe the bug

hello, we encounter a problem on the ordering of products within categories.
Prestashop version 1.7.6.5

#### Expected behavior

I expect that clicking on "Salva e Riordina" the order will be maintained.

**Screenshots**
You can see the error in this screen capture movie
https://drive.google.com/file/d/1z2qW6qtDEFv2SrGFsZE7hcdSLUIVHl9l/view?usp=sharing

#### Additional infor

[2020-11-30 14:42] pollat commented on #22156
Just try to change status of a order (for ex. like "Delivered") on "All Shops" configuration.

[2020-11-30 14:42] PierreRambaud commented on #21982
FYI, it's in the TODO list of the autoupgrade: https://github.com/PrestaShop/autoupgrade/blob/master/classes/TaskRunner/Upgrade/UpgradeFiles.php#L58
We are open for pull request :)

[2020-11-30 15:20] hibatallahAouadni commented on #22160
Hello @peppoweb

I didn't manage to reproduce your issue with PS1.7.6.5, PS1.7.6.9 and PS1.7.7.0-rc.1, see the attached screen record below:

https://drive.google.com/file/d/188xUboVUAJg6lptqf4KsnOaAcUNlch75/view

Please check and feedback.

Thanks!

[2020-11-30 15:47] SimonGrn commented on #15192
So... we keep this closed ?

[2020-11-30 15:53] matks commented on #15192
Looks like yes 👍

[2020-11-30 16:04] NeOMakinG commented on #21189
To be applied, all PRs needs to be merged into develop (related to currently getting migrated pages), and it can be applied to migrated pages only (otherwise we need to add some style to the legacy project)

I think it can be in "To Do" @LouiseBonnard

[2020-11-30 20:17] warezmail1981 commented on #13096
im using  prestashop 1.7.6
go to **ProductLazyArray.php**  on function **getFlags** and append this

 if ($this->product['quantity'] == 0) {
            $flags['quantities'] = array(
                'type' => 'unavailable',//
                'label' => $this->translator->trans('Sold out', array(), 'Shop.Theme.Catalog'),
            );
        }

this is effect.
![immagine](https://user-images.gith

[2020-12-01 06:58] Eva-F commented on #20838
I am sorry -  now i do not unfortunally have any time to do it.
In my modules I have went around this problem either using overriding or using jquery command - not directly - although the direct change  ( as I  suggested in this issue) would be much simplier.

[2020-12-01 08:10] Progi1984 commented on #22026
Ping @NeOMakinG

[2020-12-01 08:12] Progi1984 commented on #22105
Ping @NeOMakinG

[2020-12-01 08:14] matteolavaggi opened #22163 "Unable to disable Autocomplete search on ps 1.7.6.1"
Try to disable module autocomplete and internal search result in a empty box autocomplete loaded on FO. How to complete remove the autocomplete function from default theme and installation?

[2020-12-01 08:30] matteolavaggi commented on #22154
Trow all the statistic module in a basket. They are usefull, old, buggy and ridicoulous slow. Use a third part metric system like analytics

[2020-12-01 09:00] MatShir commented on #21005
Hi @guigplt,
To fix the bug on your side, we strongly advise you to upgrade your shop. The fix is integrated into the 1.7.7 version which will be released soon. The refund feature has been reworked, sadly you can't just take the part that this fixes it.

[2020-12-01 09:03] hibatallahAouadni commented on #22163
Hello @matteolavaggi

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, w

[2020-12-01 09:03] #22163 closed, assigned to nobody

[2020-12-01 09:11] okom3pom commented on #21316
Yes it's a solution, but images rewrite are locked by https://github.com/PrestaShop/PrestaShop/pull/21196

[2020-12-01 09:33] damcoll commented on #16788
Hello,
I have the same issue.
Did you find a solution ?
I can be a solution.
In ModuleController.php ligne 614
`$moduleManager->disable($moduleName);`

i have change by
`try {
$moduleManager->disable($moduleName);
} catch (Exception $disableError){
}`
I know it's not very clean but now I have the errors of my module.
This allowed me to correct them and to be able to install my module

sorry for my

[2020-12-01 09:39] matks commented on #18647
## Status update: latest build is ✅  but we have found _upgrade_ issues 🚫

QA team has finished the test campaign and no major issues has been found in the release 🎉  .

However QA team also performed thorough testing of the upgrade process and has found multiples issues. All the possible update paths (1.6.1 to 1.7.7 ; 1.7.2 to 1.7.7 ; 1.7.3 to 1.7.7 ...) have been tested.

The reported issues are

[2020-12-01 10:05] #21971 closed, assigned to NeOMakinG

[2020-12-01 10:15] PierreRambaud commented on #21316
Nice @okom3pom forget this one, don't forget to help the QA team to provide a way to generate a lot of images (ofc if you can) :sweat_smile:

[2020-12-01 10:38] grzegorzgit opened #22165 "Saving product with combination without value in quantity field."
#### Describe the bug

During product saving, that in one of its combinations has empty quantity field (not 0 but just empty) the error appears "unable to update settings". There is no information what is wrong.

#### Expected behavior

When the quantity field is empty the system should assume 0, or inform clearly the user that the problem with saving is in combinations, in a specific combination

[2020-12-01 10:54] polevoyk commented on #22142
Hi @florine2623 ,
Yes, it was upgraded, but just from 1.7.6.6.
I already solve this bug and made pull request (https://github.com/PrestaShop/PrestaShop/pull/22166)
I hope i made it correct, because it was my first :)

There was no filtering of employees before send notice

[2020-12-01 10:57] Hlavtox commented on #19815
Hi @colinegin, the same behavior goes when deleting a customer.

1. Make a customer.
2. To make this issue clearer, put some catalog rule discount for customer group 3.
3. Log in as this customer in FO.
4. Delete this customer in BO.
5. Refresh page in FO, you should be logged out, but still get the discounts for customer group 3.

[2020-12-01 11:09] hibatallahAouadni commented on #22165
Hello @grzegorzgit

I managed to reproduce your issue with PS1.7.6.2, PS1.7.6.9 and PS1.7.7.0_build2, see the attached screen record below:

https://drive.google.com/file/d/1yhiR7J-geOw6fOOc4luYQDlKMRm55RP6/view

But, I think what you are suggesting is an improvement, we need to improve / specify the error message, so that the user knows exactly where it went wrong. So, thanks for the suggestion,

[2020-12-01 11:12] hibatallahAouadni commented on #22125
@SD1982 it seems the PR is merged, so shall we close the issue?

[2020-12-01 11:58] DevSTG opened #22168 "Order message not loaded on order detail page"
#### Describe the bug

A message that customer adds while placing an order is not visible on order detail page.
I noticed that messages are loaded by `OrderLazyArray::getMessages()` but only non-private masseges:
`$customerMessages = CustomerMessage::getMessagesByOrderId((int) $order->id, false);`
and I can see in `ps_customer_message` table that first order message is marked as private (private =

[2020-12-01 12:42] #13061 closed, assigned to NeOMakinG

[2020-12-01 13:02] Progi1984 commented on #22086
@khouloudbelguith I just tested with a fresh install. And with the initial message, and a predefined message, the counter is ok :

![image](https://user-images.githubusercontent.com/1533248/100744197-b86ef300-33dd-11eb-9347-5d3132915515.png)

[2020-12-01 14:05] hibatallahAouadni commented on #22168
Hello @DevSTG

I didnt' manage to reproduce your issue with PS1.7.6.8, PS1.7.6.9 and PS1.7.7.0-rc.1, see the attached screen record below:

https://drive.google.com/file/d/1TG9lwpkKxWeo3zLNmuR8KVbsP5lmRSyL/view

Please check and feedback.

Thanks!

[2020-12-01 14:12] DevSTG commented on #22168
Hi @hibatallahAouadni
Thanks for checking!
Sorry, but I forgot to mention that issue appears in FO on order details page in customers orders history `/controllers/front/OrderDetailController.php`.
Please verify

[2020-12-01 14:24] SD1982 opened #22170 "BO - Modules catalog / "Configure" button is missing"
#### Describe the bug

After a module installation there is no "Configure" button displayed

#### Expected behavior

The "Configure" button should be displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO/Modules/Modules Catalog
2. Install any free module
3. See error => No "Configure" button

**Screenshots**

**Before in 1.7.7**
![image](https://user-images.githubuserco

[2020-12-01 14:24] SD1982 commented on #22170
Ping @hibatallahAouadni :+1:

[2020-12-01 14:51] #21932 closed, assigned to NeOMakinG

[2020-12-01 14:57] PierreRambaud commented on #15475
We need information about what the backend needs to do :)

[2020-12-01 15:00] arisschl commented on #21910
Hi @catlynx @hibatallahAouadni ,

I'm having similar a issue, where one of the themes is a child theme and one isn't.
Shop 1: child of classic theme
Shop 2: "Full" theme

As @catlynx already mentioned, the order of opening the shops is important. If you first open Shop 2 and then Shop 1,  Shop 1 loads templates of Shop 2.

[2020-12-01 15:06] PierreRambaud commented on #18175
I did not manage to reproduce the issue.
![image](https://user-images.githubusercontent.com/1462701/100757813-1a842400-33ef-11eb-92b5-6f72610ba6b4.png)

@khouloudbelguith Color and texture are only available on attributes, not for categories

[2020-12-01 15:15] hibatallahAouadni commented on #21910
Hello @arisschl

As I mentionned above I didn't manage to reproduce the issue even with the order that @catlynx sugguested it, could you please watch and check the attached screen record below.

If you notice something is missed or you have other information that will help me to reproduce the issue, please let me know.

Thanks!

[2020-12-01 15:27] Robin-Fischer-PS opened #22173 "Upgrade to 1.7.7.0 Stable Build : Add to cart Popup not displayed on FO"
#### Describe the bug

After an upgrade from a previous version (1.7.6.9 for example) to 1.7.7.0 stable Build, the "Product successfully added to your shopping cart" popup is not displayed in FO.

It's OK with a fresh install of this build.

#### Expected behavior

We should have the same behavior after upgrade and with fresh install.

#### Steps to Reproduce

Steps to reproduce the behavior:

1.

[2020-12-01 15:30] hibatallahAouadni commented on #22168
Hello @DevSTG

Thanks for your clarification!
Could you please check if your issue is a duplicate of #9769.

Thanks!

[2020-12-01 15:36] khouloudbelguith commented on #22170
Hi @SD1982,

Isn't a duplicate of https://github.com/PrestaShop/PrestaShop/issues/21825?

Thanks!

[2020-12-01 15:42] PierreRambaud commented on #15635
@marionf Could you tell us what do you expect here?
Because Faceted search is building URL like this:
http://prestashop/gb/6-accessories?q=Color-Black

Should we change it?

[2020-12-01 15:49] #22170 closed, assigned to nobody

[2020-12-01 15:49] SD1982 commented on #22170
Hi @khouloudbelguith
Yes you are right it is clearly a duplicate

[2020-12-01 15:52] Progi1984 commented on #22110
@Julievrz What is the wording for the error which must be displayed when when the customization of a product is not found

[2020-12-01 16:23] PierreRambaud commented on #16652
I'm not sure this one should be done in facetedsearch, the Check All feature comes from the PrestaShop Core :thinking:

[2020-12-01 16:28] hibatallahAouadni commented on #22140
Hello @ballashop

I managed to reproduce your problem with PS1.7.6.5, PS1.7.6.9 and PS1.7.7.0-rc.1, but it is not a bug, it is a PrestaShop limitation. As you see in the screenshot below, it is already written the **Base price** and the **Unit price**, it means the product is discounted.

So I change your problem as an improvement to be treated by the product team.
Thanks for the suggestion!

PS:

[2020-12-01 16:38] LouiseBonnard commented on #22165
I concur, thanks @grzegorzgit and @hibatallahAouadni! @marionf, should we add it to the specifications [here](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/catalog/products/catalog-products-add-edit.md#combinations-tab-epic)?

[2020-12-01 16:38] ballashop commented on #22140
Ok,

how do I change it?
Thanks a lot.
Balla

[2020-12-01 16:40] ProstageSL commented on #21176
Hello

      Please see this video:

      https://www.prostage.eu/PS_Error_500.mov

      as you can see, the only non-prestashop modules I have installed
      and which affects orders or customers are:

      - PayPal
      - Packlink Pro Shipping
      - DHL Live Shipping module (issue did all ready exist before
      installing this module)
      - Paycomet (Credit Card payment)
      - Easy

[2020-12-01 17:00] hibatallahAouadni commented on #21176
Hello @ProstageSL

I saw your screen record, it's really odd! Well, I couldn't help you anymore cause I couldn't reproduce it.
So, I close the issue cause it seems your problem is with third-party modules.

If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](https://www.p

[2020-12-01 17:00] #21176 closed, assigned to nobody

[2020-12-01 17:06] hibatallahAouadni commented on #21101
Hello @eternoendless

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-12-01 17:27] symphonytech111 commented on #18618
I did it by running the actual URL from the clear cache button eg:

https://xxxxxasdasd.com/modules/ps_facetedsearch/ps_facetedsearch-price-indexer.php?token=3210asd!EQ
(obviously your URL, and token number will be different)

If you right click on the clear cache button in the module, and select open in new window, the URL should be displayed that you need.

You can either run this URL in the Pre

[2020-12-01 17:40] sm0rgm commented on #9726
Still an issue in 1.7.6.9.
![Skärmavbild 2020-12-01 kl  16 32 26](https://user-images.githubusercontent.com/39762436/100776130-b1eb7600-33f3-11eb-870e-ffbb38aa133d.png)

[2020-12-01 18:47] #21054 closed, assigned to PierreRambaud

[2020-12-01 19:09] apfrezza opened #22176 "Problem with the visualization of products fields"
Hi,
when I go on a product from my catalogue (when I am in my control panel), I can't see all boxes of all fields. This is quite difficult to explain but very understandable from the picture I attact to this thread. I have tried using Chrome, Firefox and Edge, but the problem is always the same.
Please help me.
![example1](https://user-images.githubusercontent.com/65793175/100785545-136e0d80-3411-

[2020-12-01 19:43] Robin-Fischer-PS opened #22177 "Upgrade to 1.7.7.0 stable build from 1.7.5.x and previous versions : Currency precision is set to 6 by default"
#### Describe the bug

When making an upgrade from 1.7.5.x and previous version to 1.7.7.0 build stable, the precision of each currency installed is set to 6, leading to unwanted display on FO, and invoices.

#### Expected behavior

After upgrade, the precision of the currency should be the one set by default (2 decimals for example for Euro) instead of 6.

#### Steps to Reproduce

Steps to reprod

[2020-12-01 20:03] SimonGrn commented on #22176
Hello,

wrong PHP version.
Please check the [requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart).

Thank you, I close this.

[2020-12-01 20:03] #22176 closed, assigned to nobody

[2020-12-01 21:58] Jerome08 opened #22179 "can not connect to back office, no error"
#### Describe the bug

Can not connect to back office

#### Expected behavior

after writting my login and password, nothing happens

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to backoffice
2. Write login and password
2. Click on connect

**Screenshots**
![ScreenShot010](https://user-images.githubusercontent.com/50581985/100801704-a5354500-3428-11eb-9397-411f137f82f8.jpg)
![

[2020-12-01 22:03] matks commented on #22179
Hi @Jerome08 there is an issue on your prestashop installation. Standard login process works fine as you can see on http://demo.prestashop.com/ . This is not an issue from the code.

[2020-12-01 22:28] Nor01 commented on #15282
How do you fixed this issue?

[2020-12-01 22:54] SimonGrn commented on #22179
All the directories are not writable, that might be a problem to have all red maybe, don't you think ?

[2020-12-01 23:23] VidarPc opened #22180 "PaySera module - error when making a "full refund" of a cancelled order that is paid via PaySera module"
Oops! An Error Occurred The server returned a "500 Internal Server Error". Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.                                                                      racinghorses.eu | Oops! An Error Occurred The server returned a "500 Internal Server Error". Somet

[2020-12-02 06:15] Jerome08 commented on #22179
Hello

Thanks to help me

i seen that but i have 7 prestashop installed on my host

i compared to my others prestashop and it was same, 6 others prestashop
have same directories not writable too, i so tought it was normal

6 are still working normaly only this one i can't connect

and this prestashop was working fine from a few month, i didn't changed
anything

do u think i have to modify the righ

[2020-12-02 07:44] DevSTG commented on #22168
Hi @hibatallahAouadni
Yes it is, and fix #15614 is fixing the problem.
Do I understand correctly that issue is solved in PS version 1.7.8.0 ?

[2020-12-02 08:04] SimonGrn commented on #22179
Sadly, if all your other installations are working fine and we're not able to reproduce, that means it's a problem on your end: you have a difference in your environment/configuration.
We won't be able to help you here.

Thank you for your understanding.

[2020-12-02 08:04] #22179 closed, assigned to nobody

[2020-12-02 08:04] SimonGrn commented on #22179
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-12-02 08:05] SimonGrn commented on #22180
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [

[2020-12-02 08:05] #22180 closed, assigned to nobody

[2020-12-02 08:07] hibatallahAouadni commented on #22168
Hello @DevSTG

Yes :sweat_smile: But you can apply the fix proposed in the PR #15614

Well, I close this issue cause it is a duplicate of #9769.

Thanks!

[2020-12-02 08:07] #22168 closed, assigned to nobody

[2020-12-02 08:07] hibatallahAouadni commented on #22168
Duplicate of #9769

[2020-12-02 08:26] hibatallahAouadni commented on #10056
Hello,

Ping @PrestaShop/product-team , what is the status of this feature? is it **`To Do`**?

[2020-12-02 08:32] LouiseBonnard commented on #10056
Hi @hibatallahAouadni, thanks for your ping, can you confirm it happens on the 1.7 version? @TristanLDD, does it ring any bell? Vincent wrote that mockups were in progress - at the time! :-)

[2020-12-02 08:43] #22125 closed, assigned to PierreRambaud

[2020-12-02 09:10] SD1982 commented on #22125
Hi @hibatallahAouadni sorry i just see your comment .
Yes if the PR is merged this issue can be closed.
Thanks !!

[2020-12-02 09:14] Julievrz commented on #22110
@Progi1984 I found this string : "The product customization picture could not be found." in Admin.Notification.Error

If you are not talking about the picture, then we would need to create a new string such as :

"The product customization could not be found." in Admin.Notification.Error

Do we know why such an error is displayed? Maybe it could be good to explain the error to the user.

[2020-12-02 09:21] Progi1984 commented on #22110
@Julievrz It's not about the product customization picture, it's about the product customization.

This issue will occur a problem in the Add new Order page
![image](https://user-images.githubusercontent.com/16067358/100257057-c9cf7f80-2f45-11eb-918e-6643c12b5f96.png)

[2020-12-02 09:25] hibatallahAouadni commented on #22140
Hello @ballashop

I just add the feature template into your issue's description. So, all you need to do is fill the blocks, ex:

Delete `A clear and concise description of what the problem is. Ex. "I'm always frustrated when..."` and add your description.

Thanks!

[2020-12-02 09:32] #22173 closed, assigned to atomiix

[2020-12-02 09:44] marionf commented on #9726
@sm0rgm

As you can see on the right, this issue has been fixed for the 1.7.7.0

![capture d'écran_2871](https://user-images.githubusercontent.com/13449658/100856125-4e148c00-348b-11eb-99be-3da570c9b2bb.png)

[2020-12-02 09:47] GIORGIOMARIO commented on #10300
Discount voucher problem: The discount code applies to all products, even to discounted items with the version 1.7.6.5.

When I apply the discount code on 1 item, the code does "exclude discounted products".
But when I apply it on more than 1 item (1 normal and 1 disounted product per example), the code apply reduction on all products.

![Problème code promo](https://user-images.githubusercontent.

[2020-12-02 09:50] hibatallahAouadni commented on #16275
Hello @LouiseBonnard

Should I add this improvement to this [[EPIC] Order Pages, a new start](https://github.com/PrestaShop/PrestaShop/issues/17598) ?

[2020-12-02 09:52] khouloudbelguith commented on #10300
Hi @GIORGIOMARIO,

This issue is reported here: https://github.com/PrestaShop/PrestaShop/issues/19090#issuecomment-679971538
It is added to our bug roadmap.

Thanks!

[2020-12-02 09:57] GIORGIOMARIO commented on #10300
Thank you!

[2020-12-02 09:58] GIORGIOMARIO commented on #19090
Discount voucher problem: The discount code applies to all products, even to discounted items with the version 1.7.6.5.

When I apply the discount code on 1 item, the code does "exclude discounted products".
But when I apply it on more than 1 item (1 normal and 1 disounted product per example), the code apply reduction on all products.

![Problème code promo](https://user-images.githubusercontent.

[2020-12-02 10:12] #18340 closed, assigned to PululuK

[2020-12-02 10:13] pollat commented on #22156
So, how can I solve this problem?

[2020-12-02 10:15] Progi1984 commented on #22177
Fixed by #22178

[2020-12-02 10:15] #22177 closed, assigned to atomiix

[2020-12-02 10:25] hibatallahAouadni commented on #22156
Hello @pollat

I didn't manage to reproduce your issue with PS1.7.4.0, PS1.7.6.9 and PS1.7.7.0-rc.1, see the attached screen record below:

https://drive.google.com/file/d/1694G8xrX3dc5eq7Ybzoeszd32BJL7jtb/view

Please check and feedback.
Thanks!

[2020-12-02 10:31] khouloudbelguith commented on #22086
Hi @Progi1984,

This issue occurs only when choosing the order message predefined without editing it.
I attached a screen record
https://drive.google.com/file/d/13ZG9DQ0qQST0oVqpe8wCgQMsHFM46CCK/view?usp=sharing

Thanks!

[2020-12-02 10:44] khouloudbelguith commented on #20863
Hi @marionf,

This issue ready o be tested, there is a PR available: https://github.com/PrestaShop/PrestaShop/pull/22079.
Or, we should wait for the specifications?

Thanks!

[2020-12-02 11:07] marionf commented on #20863
@khouloudbelguith

I don't think there is a need of specifications here, the issue is quiet simple: there is an error and there shouldn't be
So, I think you can test the PR :)

[2020-12-02 11:11] khouloudbelguith opened #22186 "BO - Credit Slips - An exception is displayed when downloading a credit Slip"
#### Describe the bug

This issue occurs when debug mode is enabled.
An exception is displayed when downloading a Credit Slip.
![image](https://user-images.githubusercontent.com/16067358/100864447-4a3a3700-3496-11eb-9a35-99d9d303567f.png)
=>
![image](https://user-images.githubusercontent.com/16067358/100864385-34c50d00-3496-11eb-9247-a30569b921e4.png)

#### Steps to Reproduce

Steps to reproduce t

[2020-12-02 11:25] Julievrz opened #22187 "Nothing changes when displaying or hiding the "add to cart" button for product with attributes"
#### Describe the bug

In Shop Parameters > Product Settings > Whether you display or hide the "add to cart" button for products who have attributes, nothing seems to change on the front office.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Shop Parameters > Product Settings > Display the "add to cart" button when a product has attributes
2. Choose "No", save, and check fron

[2020-12-02 11:30] apfrezza commented on #22176
Hi,
previously I had PHP version 8.0. I downgraded to version 7.4 but the problem is still there. This is very annoying since I can't see many fields on my products.

[2020-12-02 11:45] pollat commented on #22156
The problem is with Prestashop 1.7.3.3 version.

[2020-12-02 12:04] khouloudbelguith opened #22188 "BO - Currencies page - An exception is diplayed when creating a currency with invalid name"
#### Describe the bug

IN the BO > International > Localization > Currencies page, when we try to add a new alternative currency with an invalid name `<>` => an exception is displayed
Try to Go to BO => NOK
Try to go to FO => NOK
The shop is totally broken

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Localization > Currencies page
2. Click on Add new cu

[2020-12-02 12:11] SimonGrn commented on #22176
Once again, please read the [requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart).

PHP 7.4 is only compatible with the `develop` branch. Are you using the `develop` branch ?

[2020-12-02 12:19] apfrezza commented on #22176
How can I check this? My internet hosting service is One.com. I can choose only PHP 7.3, 7.4 or 8.0. I can't see any mention to develop branch. Can you please help me?

[2020-12-02 12:20] SimonGrn commented on #22176
What version of PrestaShop are you using ?

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www

[2020-12-02 12:37] Progi1984 commented on #22086
Thanks @khouloudbelguith and the fix is done :heavy_check_mark:

[2020-12-02 12:55] Jerome08 commented on #22179
it's solved

the problem was during time for cookie too big (cookie.php)
it's totally stupid that prestashop allow to put a big value and then it's totally blocked

someone helped me and changed in ps_configuration table

PS_COOKIE_LIFETIME_BO
PS_COOKIE_LIFETIME_FO

value to 480

now it's solved

[2020-12-02 12:56] Jerome08 commented on #22179
so it's a bug to authorize a incorrect value !
you should put a warning or not authorize a too big value....

[2020-12-02 13:01] noiwid opened #22190 "Prestashop 1.6 : can't select any of my carrer option.. Fall down on error message !"
Hi,

I'm about to deploy for a customer a new store on Prestashop 1.6.1 that already use multistore mode.
My customer already have a **BRAND A** that has 2 shops, one for **EU**, one for **US**.
For the new **BRAND B**, we have same objective, launch one store for **EU**, one for **US**.

We've built a new theme for **BRAND B** and set up the EU version (catalog, modules, etc...) then use the mult

[2020-12-02 13:08] SimonGrn commented on #22179
Hello,

as you may or may not know, this is an open source project: you are totally welcome to help improving it, since it is provided to you for free. This is a nice gesture, really appreciated.

Thank you for your understanding.

[2020-12-02 13:13] matks commented on #22190
Hi, if you have questions or need help, please do not open a GitHub issue as we use GitHub issues only to discuss about bugs and new features for the PrestaShop project.

You can follow the steps in https://devdocs.prestashop.com/1.7/faq/i-need-help/ to find help

[2020-12-02 13:13] #22190 closed, assigned to nobody

[2020-12-02 13:19] hibatallahAouadni commented on #22187
Hello @Julievrz

I managed to reproduce the issue with PS1.7.6.9 and PS1.7.7.0-rc.1 (even with PS1.7.4.1), see the attached screen record below:

https://drive.google.com/file/d/1EO4L9LbgoUkRrz-0hx7QFQvKphVacTab/view

I’ll add this to the debug backlog so that it’s fixed.

Thanks!

[2020-12-02 13:30] SimonGrn commented on #22190
Hello, I would like to add that we don't support 1.6 anymore.

[2020-12-02 13:48] #21742 closed, assigned to NeOMakinG

[2020-12-02 14:03] hibatallahAouadni commented on #22156
I can't say that, I need to test with PS1.7.3.3 to confirm

[2020-12-02 14:14] jolelievre commented on #22188
Closed by #22191

[2020-12-02 14:14] #22188 closed, assigned to nobody

[2020-12-02 14:21] #20863 closed, assigned to marionf

[2020-12-02 14:28] marionf commented on #15635
Is it possible to change the parameters in the URL ?
For example like this, where "color" & "size" are the feature and attribute's names:
feature_color=grey
attribute_size=S
feature_size=S
attribute_color=grey

[2020-12-02 14:33] hibatallahAouadni commented on #12984
Hello @PierreRambaud

Thanks for the suggestion!
Ping @PrestaShop/prestashop-core-developers  , what do you think of Pierre's sugguestion? shall we label it **`To Do`**?

[2020-12-02 14:55] hibatallahAouadni commented on #10102
@NeOMakinG is that file still not managed by webpack :sweat_smile: ?

[2020-12-02 14:55] PierreRambaud commented on #15635
Yes, we can change the URL, but it will result in SEO errors because old URLs are already fetched by Google and other search engines.

So the URL will look like:
http://prestashop/gb/6-accessories?q=Feature_Color-Black/Attribute_Color-Black
http://prestashop/gb/6-accessories?q=Caractéristique_Color-Black/Attribut_Color-Black

It looks a little bit weird but it can be a solution :thinking:

[2020-12-02 14:55] MatShir opened #22192 "Product price in the order is updated when the cart is updated"
**Bug**:
When the cart on the order page is updated, it updates the product price if the product has changed between the cart creation and the updates.
New price can come from :
- the new group reduction
- Specific price from the product page
- Cart rule
- Catalog price rule

**Wanted behavior**:

Ping @PrestaShop/product-team what do you think?
Render the product price static when an invoice is g

[2020-12-02 15:05] hibatallahAouadni commented on #10100
@eternoendless @marionf what the status of this issue? is it **`To Do`** or **`TBS`**?

[2020-12-02 15:06] prestascott opened #22193 "[IMPROVEMENT] Replace info alerts by a more discreet alternative"
#### Is your feature request related to a problem?

These info alerts seem to be too important for this page and need to be discreet because users don't want to read them every time they're on this translation page.

![Frame 194](https://user-images.githubusercontent.com/54888056/100890105-2a1b6f80-34b8-11eb-8e9d-b2535b382319.png)

#### Describe the solution you'd like

- Solution 1: Change these

[2020-12-02 15:09] hibatallahAouadni commented on #10094
@eternoendless so shall we close it as **`Fixed`** or add the label **`To Do`** ?

[2020-12-02 15:19] LouiseBonnard commented on #22091
You're right, thanks @SD1982, variables should be interpreted in the email. Yet, this email is intended for the merchant/employee so it is unnecessary to add the first and last names in each email. A simple `Hi,` (instead of `Hi {firstname} {lastname},`) in `Emails.Body` looks enough and less formal. ;-)

Here are the other emails (modern template) this change could be applied:

- [ ] forward_msg

[2020-12-02 15:20] hibatallahAouadni commented on #10091
Hello,

Ping @PrestaShop/prestashop-core-developers what do you think about this feature?

[2020-12-02 15:23] hibatallahAouadni commented on #10088
Ping @PrestaShop/prestashop-core-developers could you please take a look?

[2020-12-02 15:35] LouiseBonnard commented on #19767
Hi @hibatallahAouadni, you can leave it as _TBS_, I'll specify it as soon as possible, thank you.

[2020-12-02 15:36] apfrezza commented on #22176
Hi,
Prestashop version is 1.7.6.8
I think is something concerning the left  Navigation toolbar...

[2020-12-02 15:44] SimonGrn commented on #22176
Hello,

Did you open the [link ](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)I sent you three times ? [This link](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart). [Here](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart).

In this link, you

[2020-12-02 15:49] NeOMakinG commented on #10102
Closing it, as any way default theme is gonna die, no need to lost time on putting every files inside the webpack config and refacto a lot of things

[2020-12-02 15:49] #10102 closed, assigned to nobody

[2020-12-02 15:53] Progi1984 commented on #21990
@marionf #21905 existed in 1768, so this issue is not a regression, but a duplicate. Isn't it ?

[2020-12-02 15:54] Daaaaad opened #22195 "ps_facetedsearch subcategories filter is not working as expected"
#### Describe the bug

Hello, I have categories and subcategories :

2. Home (root)
--> 7. Nos produits
----> 3. Salaisons
--------> 8. Jambons
--------> 9. Saucissons
--------> 10. Colis
--------> 11. Saucisses
--------> 12. Autres produits
... etc

When visiting category page "Nos produits", the faceted search is showing subcategories from multiple levels:

<img width="308" alt="Capture d’écran

[2020-12-02 15:54] marionf commented on #15475
We should display an error message like "invalid URL", to be confirmed by @Julievrz

[2020-12-02 16:05] PierreRambaud commented on #15635
Hum I will have to change how URLs are build because of this bug #16320 :sweat_smile:

[2020-12-02 16:09] marionf commented on #21990
The scenario to reproduce the issue in #21905 is different and is when we try to cancel a product
Here it's when we try to return products and it's a regression as it was working without errors in 1.7.6.8

[2020-12-02 16:17] hibatallahAouadni commented on #22192
Hello @MatShir

I managed to reproduce your issue with PS1.7.7.0-rc.1, the problem here like you mentioned above is that we have two behavior:

**1. if we add anoher product, the discount well be applied on the first product**

![image](https://user-images.githubusercontent.com/23308427/100898625-41128f80-34c1-11eb-89d7-8c78f684fcf4.png)

**2. if we just increment the first product quantity, the d

[2020-12-02 16:18] Julievrz commented on #15475
Yes, we could use the existing string "Invalid URL" located in Admin.Notifications.Error

[2020-12-02 16:28] zzzZZZzzz9 opened #22196 "Customzation lost when order is placed"
#### Describe the bug

Sometimes on orders containing a customizable items more than one time, the customization text is "lost" as soon as the order is placed. The cart looks as expected until this point but changes when the order is placed.

Recent example:
For a cart that was ordered from, ps_customization looks like this (5 x item 156 with different texts, 2 x 175  and 1 x 165):
![image](https:

[2020-12-02 16:39] matthieu-rolland opened #22197 "Behat tests: Reset static cache of all object models between feature tests (clearCacheBeforeFeature)"
#### Is your feature request related to a problem?

Sometimes, we add behat tests, it works fine, but then it fails when we execute our test amongst the other behat tests.

That's because there are some static caches from previous tests messing with the tests we added. When it happens we have to debug, find which previous test makes our test fails, it's annoying and a loss of time.

#### Describe

[2020-12-02 16:48] hibatallahAouadni commented on #22197
Hello @matthieu-rolland

Thanks for your sugguestion and your PR :sweat_smile:
Ping @PrestaShop/prestashop-core-developers wdyt?

[2020-12-02 16:51] matthieu-rolland commented on #22197
@hibatallahAouadni well I discussed it with @eternoendless already, and the pr is ready for review 👍

[2020-12-02 16:51] hibatallahAouadni commented on #22195
Hello @Daaaaad

Could you please check if your issue is similar to this one #20385

Thanks!

[2020-12-02 17:14] jedi1983 commented on #16490
@khouloudbelguith i have similar problem and i just noticed that this is a clear solution, i have PS with 1.7.4 could you help me with this problem?, thank you and sorry for bring this up.

[2020-12-02 17:16] gennaris commented on #9981
I faced today the same bug , but I think OP deduction is misleading.

Original post said issue is happening because the unit price tax incl rounded is used for calculation, but IMHO issue appears because tax amount is getting rounded per-article and not on the cart total due to the rounding mode being set as "per article" on BO.

This causes wrong tax calculation and wrong total on the order

I ad

[2020-12-02 17:17] studubls commented on #16916
I have some problem of my store "**Order History** " , someone please help me. it urgently required
after order confirmation when i want to see my order history there show me some error , see below

(1/1) ContextErrorExceptionNotice: Undefined offset: 64
--
in Order.php line 944
at OrderCore::getCustomerOrders(28)in HistoryController.php line 72
at HistoryControllerCore->getTemplateVarOrders()in H

[2020-12-02 17:18] cdcvince opened #22199 "Tax Rules - Cannot set zipcode range starting with 0 (ex: 00000-96999)"
#### Describe the bug

In the tax rules configuration, when we set a zipcode range for a specific country starting with 0 (00000-96999), the range is not applied.
If we go back to the range configuration, it will be displayed '0' instead of '00000-96999'.

Also, we cannot use the range '00001-96999' as a workaround, because a default address with a zipcode '0' is set for tax calculation with guest

[2020-12-02 17:22] PierreRambaud commented on #15635
Could we imagine something like this instead: `?q[Category]=Men&q[Feature][Color]=White&q[Attribute][Color]=Black` ?

[2020-12-02 18:09] 01park opened #22200 "1.7.7.0 upgrade fail - download 1.7.0.0 instead (fixed, bad link)"
Can not upgrade to the new 1.7.7.0

I think this is because of the link for the download, it show 1.7.0.0.com

Some has issue appears

[2020-12-02 18:12] jolelievre commented on #18647
# Status update: PrestaShop 1.7.7.0 Stable version is finally released! 🎉🚀

Most of you didn't expect any more, we had our own moments of doubts.. especially during the last days which were kind of epic 😅. But there it is! The stable version of PrestaShop 1.7.7.0 is finally released and ready for download!!

You can get this version:

on [Github](https://github.com/PrestaShop/PrestaShop/releases/t

[2020-12-02 18:33] SimonGrn commented on #22200
Hello,

we need more information, we don't have enough details to even begin to investigate. What link are you talking about ? Are you talking about autoupgrade ? The article on Build ?
Please provide enough details.

Thank you in advance.

[2020-12-02 18:38] jolelievre commented on #22200
Hello,

yes I made a mistake in the channel the wrong archive was downloaded.

It is correctly updated and I wen through the whole upgrade process, it works now! 👍

[2020-12-02 18:38] #22200 closed, assigned to nobody

[2020-12-02 19:03] 01park commented on #22200
I tried, but still get the same issue

<img width="1936" alt="Screenshot 2020-12-02 at 19 01 08" src="https://user-images.githubusercontent.com/46492443/100918818-e1bc7b80-34d0-11eb-96e9-d93e7be499c1.png">

[2020-12-02 19:06] 01park commented on #22200
I pressed update page and now it is upgrading. Thank you!

[2020-12-02 19:11] toutantic opened #22201 "Can't edit shipping or invoice address on order page"
#### Describe the bug
I get the error below when I try to edit an address on the order page.

Oops... looks like an unexpected error occurred.
An exception has been thrown during the rendering of a template ("Catchable Fatal Error: Object of class Link could not be converted to string").
[Twig\Error\RuntimeError 0]

If debug mode is enable, it works...

#### Expected behavior
The page to edit the

[2020-12-02 19:49] PierreRambaud commented on #22195
Hi, the problem is here:
![image](https://user-images.githubusercontent.com/1462701/100923678-d58bea80-34df-11eb-88fb-7a66e2972324.png)
You should keep the 1 as default value

[2020-12-02 20:07] Daaaaad commented on #22195
Hi @PierreRambaud,

Thank you for your answer 👍 I already tried that and here is what I get :

<img width="326" alt="Capture d’écran 2020-12-02 à 21 02 55" src="https://user-images.githubusercontent.com/167037/100925078-cc038200-34e1-11eb-8bae-534ffa11c682.png">

No subcategories filter anymore 😢

[2020-12-02 20:22] tswfi opened #22202 "Place order button always disabled IF 100% discount coupon AND setting Terms of service is no"
#### Describe the bug

If "Terms of service" is checked to be "no" and order contains 100% discount (making it a free order) it is not possible to complete the order. Going through the order process is not possible as "Place order" button stays disabled and there is no way of enabling the button. My guess is that there is no js check for this situation and nothing triggers the checks as there is n

[2020-12-02 21:45] SimonGrn commented on #22201
Hello @toutantic !
Thank you for this report, it took us a lot of time and effort to pinpoint the real culprit: it's actually the welcome module 😠 ! It only happens when you let the module "enabled", ie you don't click on "Stop the tutorial" on the bottom left after clicking on "Later" on the main page.

@atomiix created a PR to fix this weird behavior.

PS : it reminds me of #21938 not sure if th

[2020-12-02 22:01] matks commented on #22201
@SimonGrn https://github.com/PrestaShop/PrestaShop/issues/21938 is related but not directly.

The buggy behavior in welcome module that messes with the Order page and results in this bug report is also observable in ps_legalcompliance according to https://github.com/PrestaShop/PrestaShop/issues/21938 . So similar consequences to this issue could be observed because of ps_legalcompliance, in pages

[2020-12-03 05:49] metacreo commented on #18647
SQL 1.7.7.0 1146 in ALTER TABLE `ps_link_block` CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci: Table 'shop.ps_link_block' doesn't exist
SQL 1.7.7.0 1146 in ALTER TABLE `ps_link_block_lang` CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci: Table 'shop.ps_link_block_lang' doesn't exist
SQL 1.7.7.0 1146 in ALTER TABLE `ps_link_block_shop` CONVERT TO CHARACTER SET utf8mb4 COLL

[2020-12-03 06:33] kpodemski commented on #18647
@metacreo thanks, this is indeed an issue as convert tables from module shouldn't be places in core upgrade file, I'll create an issue for this

[2020-12-03 06:35] kpodemski opened #22203 "Link list warning in upgrade from previous versions to 1.7.7.0"
#### Describe the bug

Reported here:
https://github.com/PrestaShop/PrestaShop/issues/18647#issuecomment-737682051

Update for linkblock module is failing because module is not installed

#### Expected behavior

We shouldn't have update of module tables inside core upgrade file.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install fresh 1.7.6
2. Make sure that `ps_linklist` is un

[2020-12-03 07:28] Miguel86 opened #22204 "Error loading products if changing products route parameters order"
Hello:

#### Describe the bug

I have changed the products route in the backoffice, now the products shown in the main page don't work. When i enter to a product shows another product or returns a 404 page.

#### Expected behavior

Load the correct product.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Fresh install of 1.7.6.9
2. Added English (English GB) package as my installati

[2020-12-03 08:17] khouloudbelguith commented on #16490
Hi @jedi1983,

On this GitHub repository, there is no software support. This is an open-source project.

You can find help

1. on PrestaShop forums https://www.prestashop.com/forums/
2. or by purchasing software support plan from https://www.prestashop.com/en/support

thank you!

[2020-12-03 08:18] khouloudbelguith commented on #16916
Hi @studubls

This issue is currently closed, can you open a new one with more information about your configuration

Thanks!

[2020-12-03 08:31] PierreRambaud commented on #22195
Yes because you have only one subcategory :thinking:

[2020-12-03 08:37] Tibase commented on #22108
I have the same issue after update to 1.7.7.0

[2020-12-03 08:38] Daaaaad commented on #22195
I do have multiple subcategories 😉 But you're kinda right @PierreRambaud that was because I only had products in one subcategory 😀

Thank you everybody 👏

This issue can be closed.

[2020-12-03 08:39] #22195 closed, assigned to nobody

[2020-12-03 08:55] diyan1234 opened #22205 "No shipping and payment methods available"
Hi all,

I have an issue with displaying shipping and payment method for my One Page Checkout module. I tried 2 different one page checkout modules and for both of them shipping and payment method are not displaying. I have installed Cash on delivery module and I created 3 shipping options. None of them is displaying.

[https://prnt.sc/vuvoz4](url)

#### Additional information

* PrestaShop versio

[2020-12-03 09:02] Progi1984 commented on #21829
Fixed by #21992

[2020-12-03 09:02] #21829 closed, assigned to atomiix

[2020-12-03 09:03] Progi1984 commented on #21717
Fixed by #21988

[2020-12-03 09:03] #21717 closed, assigned to matthieu-rolland

[2020-12-03 09:03] Progi1984 commented on #21873
Fixed by #21980

[2020-12-03 09:03] #21873 closed, assigned to Progi1984

[2020-12-03 09:05] Progi1984 commented on #21293
Fixed by #22059

[2020-12-03 09:05] #21293 closed, assigned to sowbiba

[2020-12-03 09:06] Progi1984 commented on #22078
Fixed by #22099

[2020-12-03 09:06] #22078 closed, assigned to atomiix

[2020-12-03 09:07] Progi1984 commented on #21875
Fixed by #22103

[2020-12-03 09:07] #21875 closed, assigned to jolelievre

[2020-12-03 09:08] zuk3975 commented on #22108
It seems to be gone on develop branch :man_shrugging:

[2020-12-03 09:11] NeOMakinG commented on #21283
@PululuK I tried it on develop, I've got a regression while adding a status without color :

![image](https://user-images.githubusercontent.com/14963751/100988246-ce9cc080-354f-11eb-8441-6daa3af0a640.png)

[2020-12-03 09:14] #22201 closed, assigned to nobody

[2020-12-03 09:39] HartLarsson commented on #22205
these payment methods appear in normal 4 step checkout? If yes you need to contact the OPC developer and ask for a fix.
If your payment methos not appear also on normal checkout the problem could be the visibility of the payment methods.

go to Payments > Preferences and check the payments are enabled in all the countries, currencies and groups.

[2020-12-03 09:41] HartLarsson commented on #22066
true but some module not need to be used on mobile and is better to not load a module with its code then filtering out after.

[2020-12-03 09:43] MatShir commented on #21283
@NeOMakinG I think your bug is related to https://github.com/PrestaShop/PrestaShop/issues/20441.
Here, only the default color with a white background is changed.

[2020-12-03 09:44] HartLarsson commented on #22044
After soem test i discovered that probably is a theme problem (warehouse).
I've already open a ticket with the developer that have a theme/module personalization not compatible with the new version, and is why that json error appear probably.

I will keep you informed on the evolution.

[2020-12-03 09:45] #21171 closed, assigned to nobody

[2020-12-03 09:45] #13368 closed, assigned to sarahdib

[2020-12-03 09:51] robertosanval opened #22206 "Exception Attempted to call function "p" from the global namespace."
#### Describe the bug

Error 500 when execute the cron, no problem generating sitemap manually.

#### Expected behavior

Get the sitemap

#### Steps to Reproduce

Steps to reproduce the behavior:

Click on the URL to generate the sitemap via Cron

**Error**

(1/1) UndefinedFunction
Exception Attempted to call function "p" from the global namespace.
--
in gsitemap-cron.php line 56

#### Additional

[2020-12-03 09:51] toutantic commented on #22201
That was quick !
Thank you

[2020-12-03 09:55] PassionX1 commented on #17490
Solutions:

1. Problem is that the order is not marked as shipped in the order_id table. Solution: Mark as shipped
2. If the orders have a order state ID that is not used anymore or erased, you need to configurate the order status in the database as shipped.

regards
Simon

[2020-12-03 09:57] Progi1984 commented on #22092
Fixed by #22101

[2020-12-03 09:57] #22092 closed, assigned to atomiix

[2020-12-03 10:01] Progi1984 commented on #21812
Fixed by #22077

[2020-12-03 10:01] #21812 closed, assigned to sowbiba

[2020-12-03 10:16] Hlavtox commented on #22066
@HartLarsson Do you have an example of such a module? I cannot think of any... 60% of access to ecommerce stores these days are from mobile devices, the user should have the same experience regardless his screen size. 😉

[2020-12-03 10:17] marionf commented on #22165
This occurs also with standard product: if you empty the quantity field (which 0 by default) and save, then the error "unable to update settings" is displayed + "This value should not be blank." under the quantity field are displayed

I think we shouldn't put 0 when the field is empty because we don't know if the merchant forget to fill the quantity or if he/she removed it by mistake.

I think we

[2020-12-03 10:32] PierreRambaud commented on #10088
I'm not in favor of this change, if classes are mandatory to run the class, it must be in the constructor.
Ping @matks wdyt?

[2020-12-03 10:35] hibatallahAouadni commented on #13569
Hello @khouloudbelguith

I didn't manage to reproduce your issue with PS1.7.6.9 and module Welcome v6.0.3, see the attached screen record below:

https://drive.google.com/file/d/1NTK1qPRM3aEpEFomPn_fxZDkdUFifmiz/view

Please check and feedback.

Thanks!

[2020-12-03 10:36] Robin-Fischer-PS opened #22208 "Editing of deleting a currency KO after upgrade from 176 to 1770 if currency was modified in 176"
#### Describe the bug

When a currency was modified in 176, if I upgrade to 1770, the currency can no longer be modified or deleted in 1770 BO, an error is displayed. There is also an error if I try to upload again the currency using the "localization pack".

According to investigation with some devs, it's linked to the numeric iso which is saved as "12" after edit, but should be at "012". That ex

[2020-12-03 10:37] hibatallahAouadni commented on #9637
Hello @eternoendless @marionf

I didn't manage to reproduce the issue with PS1.7.6.9 and module welcome v6.0.3, this step was clearly displayed with 4 languages:

### English

https://drive.google.com/file/d/1zLrMMau0Zrm6j6WxF82D0rtYCZwuUvfi/view

=> everything is well displayed

### Français

https://drive.google.com/file/d/1NTK1qPRM3aEpEFomPn_fxZDkdUFifmiz/view

=> everything is well displayed

[2020-12-03 10:54] Progi1984 commented on #22197
Fixed by #22198

[2020-12-03 10:54] #22197 closed, assigned to nobody

[2020-12-03 11:04] eternoendless commented on #22199
Sounds like `(string) '00000'` being coerced into `(int) 0`

[2020-12-03 11:15] TemKaSD opened #22210 "actionCartUpdateQuantityBefore not return $date"
Hello. Please add the ability for the hook to return data: https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Cart.php#L1411

[2020-12-03 11:18] HartLarsson commented on #22066
sure like Revolution Slider.
Revolution Slider have also a mobile feature but is very heavy and is better to avoid to use it on mobile.

[2020-12-03 11:32] #9637 closed, assigned to nobody

[2020-12-03 11:37] #18647 closed, assigned to jolelievre

[2020-12-03 11:52] passio777x commented on #21061
Hi, I would like to understand why the out of stock colum value go back to 0 when my product are out of stock again... ?

[2020-12-03 12:08] dngraphisme opened #22213 "PS 1.7.6.9 : Activation of CCC + clear cache: slow front, loading more than 25s"
Hello all,

I find myself with a rather annoying problem on a PS 1.7.6.9 > When I activate the CCC CSS and JS, that I empty the cache the front takes more than 25s to load ....

Then the navigation is slow on 2/3 pages and afterwards the site returns to normal. When emptying the cache we noticed  that the CPU cracks completely on the server.

**Has anyone ever had this problem ?**

Thanks in advan

[2020-12-03 12:09] hibatallahAouadni commented on #13569
Hello,

I just modify the issue content, cause this bug is fixed with french languge but not fixed yet with these languages (Arabic, Polish, Korean, ...).

Thanks!

[2020-12-03 12:24] hibatallahAouadni commented on #22213
Hello @dngraphisme

You must change the access permission to writable for all those directories:

![image](https://user-images.githubusercontent.com/23308427/101017750-cdc55800-356a-11eb-9ec8-f4e3b0a26c68.png)

Please check and feedback.

Thanks!

[2020-12-03 12:25] SimonGrn commented on #22213
Sounds also like a performance problem if your CPU skyrockets. Are you sure your server is properly dimensioned ?

[2020-12-03 12:26] SimonGrn commented on #22206
Hello,

PrestaShop 1.7.6.7 is not compatible with PHP 7.3 as you can see in the [requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/).

Thank you.

[2020-12-03 12:26] #22206 closed, assigned to nobody

[2020-12-03 12:26] hibatallahAouadni commented on #22210
Hello @TemKaSD

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2020-12-03 12:26] #22210 closed, assigned to nobody

[2020-12-03 12:28] dngraphisme commented on #22213
Hello,

thank you for the return, the files are well in writing access, it is a beug of the report I think ....

[2020-12-03 12:28] SimonGrn commented on #22203
Hello @kpodemski,

thank you for your issue. Just a quick question: is it blocking the upgrade or just failing for `ps_linklist` ?

[2020-12-03 12:29] hibatallahAouadni commented on #22205
Hello @diyan1234

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2020-12-03 12:29] #22205 closed, assigned to nobody

[2020-12-03 12:52] hibatallahAouadni commented on #22204
Hello @Miguel86

Could you please check if your issue is duplicated to this one #11041 ? see this [comment](https://github.com/PrestaShop/PrestaShop/issues/11041#issuecomment-431840672)

Thanks!

[2020-12-03 13:04] Miguel86 commented on #22204
That comment suggests to change order as i made, however is when the error comes up. Originally the user wanted to remove the anchor, i didn't expect that i just wanted to reorder the fields of the URL, which was working fine for me in Prestashop 1.6 so in my opinion is not the same.

[2020-12-03 13:11] hibatallahAouadni commented on #22202
Hello @tswfi

I managed to reproduce the issue with PS1.7.6.9 and PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1nDKzxkB5ZSgmmbe1Jck2erlXH2AC-XDE/view

AFAIK, I think the status of the button required one of these two conditions to be true (payment or terms of service).
Ping @PrestaShop/product-team wdyt? is it a bug or is that the normal behavior?

Thanks!

[2020-12-03 13:18] IranDec opened #22215 "Error on display details of order OrderCustomerForViewing (... must be of the type string null given ...) GetOrderForViewingHandler"
#### Describe the bug

Hello
today I updated my Prestashop from 1.7.6.4 to 1.7.7.0 after I update my cms some pages didn't work correctly.
now I cant see details of the order and I will get the below error :

Argument 4 passed to PrestaShop\PrestaShop\Core\Domain\Order\QueryResult\OrderCustomerForViewing::__construct() must be of the type string, null given, called in /home/....../....../src/Adapt

[2020-12-03 13:24] khouloudbelguith opened #22216 "BO - Credit slip - The pagination doesn't work correctly"
#### Describe the bug

In the BO > Orders > Credit slips page, you must have more then 10 credit slip, if you try to change, the pagination (item per page) => Nothing happens.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Credit Slips > You must have more than 10 credit slips
2. Try to change item per page
4. See error => Nothing happens

https://drive.google.c

[2020-12-03 13:44] hibatallahAouadni commented on #22108
Hello @Tibase

I didn't manage to reproduce the issue, I have even changed the product quantity, see the attached screen record below:

https://drive.google.com/file/d/1GuoejRfurnm0GCQ1cvjLYP00H3q3Pd4x/view

Please check and feedback.

Thanks!

[2020-12-03 13:48] prestascott opened #22217 "[IMPROVEMENT] Improve Classic Theme colors, font size and spaces and readability"
#### Is your feature request related to a problem?

Classic Theme hasn't been changed for years and is definitely out of date. It needs to be more "modern" to attract new merchants.

#### Describe the solution you'd like

To avoid breaking changes, we can modify some styles such as colors, font-size, spaces, etc.

Here is the related PR: https://github.com/PrestaShop/PrestaShop/pull/20775

[2020-12-03 13:52] timactive opened #22218 "Have actualized quantity after call actionOrderStatusPostUpdate"
#### Is your feature request related to a problem?

We actually develop a module who report stock.
The stock in Prestashop has been actualized when you change order status according many criteria(logable state, shipped state, ...)
A hook name actionOrderStatusPostUpdate has been call after the order status changed, to permit to do specific operation.
But we see the call of this hook has make after

[2020-12-03 14:09] hibatallahAouadni commented on #22213
Hello @dngraphisme

I didn't manage to reproduce your issue with PS1.7.6.9 and PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1iMSIP6kXG2eFaxtpGFdauEiDVcGiAYcl/view

The site is displayed in 3s!
Please check and feedback.

Thanks!

[2020-12-03 14:12] NoZTurn commented on #19524
@zuk3975 I agree with you, this topic still need long time and effort before finish and close. @MatShir @jolelievre @rblaurin @eternoendless

[2020-12-03 14:12] hibatallahAouadni commented on #22204
@Miguel86 I believe that improvement when it's done, your issue will be fixed :wink:

[2020-12-03 14:16] #20100 closed, assigned to NeOMakinG

[2020-12-03 14:17] dngraphisme commented on #22213
Hello @hibatallahAouadni ,

Thanks for you feedback.

I also have this problem on an earlier version of PS 1.7.6.4 ... (the production version of my client's site)

I still don't know if this is coming from the server or if a module is causing the store to be slow. I have yet deactivate reactivate modules 1 by 1 and no viable solution to date..

Thanks again

[2020-12-03 14:22] Miguel86 commented on #22204
That improvement was requested 2 years ago. This is breaking the possibility to upgrade websites from Prestashop 1.6 to 1.7 and an error should not wait to be fixed by an improvement (in my opinion obviously). This is a several SEO problem, is not something we can just "leave" for the future.

[2020-12-03 14:29] catlynx commented on #21910
Hi @arisschl @hibatallahAouadni

Fortunately, This bug disappeared in version 1.77 of Prestashop.

Happy coding !

[2020-12-03 14:34] kpodemski commented on #22203
@SimonGrn I will rename this issue. This is not critical error.

[2020-12-03 14:39] Progi1984 commented on #22086
Fixed by #22189

[2020-12-03 14:39] #22086 closed, assigned to Progi1984

[2020-12-03 14:47] unlocomqx opened #22220 "Allow html when displaying customizations in the backoffice order page"
#### Describe the bug

Customizations displayed by a module are not displayed correctly

#### Expected behavior

HTML should be allowed when displaying customizations because the customization is sanitized on save anyway and modules hooked to `displayCustomization` would need to display a html summary in most cases

#### Steps to Reproduce

You will need a module that is hook to displayCustomizati

[2020-12-03 14:54] VidarPc opened #22221 "After upgrade to 1.7.7.0 - Mobile devices displays images to the left instead of being placed in the center"
#### Describe the bug

I discovered that on an android mobile device, the images of the product listing in categories were centered to the very left side of the screen on my android phone. Before, they were nicely centered on my android screen when browsing the shop categories. I have not been able to solve this issue with displaying images correctly, not being in the center of the screen when lis

[2020-12-03 14:59] hibatallahAouadni commented on #22196
Hello @zzzZZZzzz9

Unfortunately, we need a scenario that allows us to reproduce 100%.

Well, we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also

[2020-12-03 14:59] #22196 closed, assigned to nobody

[2020-12-03 15:04] sarahdib opened #22222 "Null is displayed instead of Deleted account when option to anonymize is set to Yes in product comment"
#### Describe the bug

Null display instead of Deleted account when option to anonymize is set to Yes in product comment

#### Expected behavior

Should be deleted account

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install product comment and set "Anonymize the user's last name" to Yes
2. Create an account in FO
3. Add a comment to a product and approuve it
4. Delete the custom

[2020-12-03 15:05] Progi1984 commented on #22222
(Respect for the #22222)

[2020-12-03 15:06] hibatallahAouadni commented on #21910
@catlynx Glad to hear 🎉

[2020-12-03 15:07] #21910 closed, assigned to nobody

[2020-12-03 15:07] SimonGrn commented on #22222
#22222 nice

[2020-12-03 15:12] marionf commented on #22202
@hibatallahAouadni It seems to be a duplicate of #9927
Could you please verify ?

[2020-12-03 15:20] hibatallahAouadni commented on #22204
Hello @Miguel86

It's already in our debug backlog (**`To Do`**) and it's assigned to @PierreRambaud
So, I don't think it will take a long time to be resolved!

Thanks!

[2020-12-03 15:23] matthieu-rolland commented on #22154
The problem with google analytics and other frontend analytics tools is that they are blocked by adblockers...   Anyway I'll create an improvement request.

[2020-12-03 15:23] #22154 closed, assigned to nobody

[2020-12-03 15:23] hibatallahAouadni commented on #22213
Hello @dngraphisme

I think your issue is related to your host/server, cause everyone can't manage to reproduce your issue.

I'm really sorry but we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.pr

[2020-12-03 15:23] #22213 closed, assigned to nobody

[2020-12-03 15:26] PierreRambaud commented on #22204
Don't forget this is an open source project. Feel free to contribute if you think this issue or another one is mandatory for your business :wink:

[2020-12-03 15:29] hibatallahAouadni commented on #22202
Thanks @marionf indeed it's a duplicate :+1:

[2020-12-03 15:31] hibatallahAouadni commented on #22202
Hello @tswfi

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9927.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2020-12-03 15:31] #22202 closed, assigned to nobody

[2020-12-03 15:31] hibatallahAouadni commented on #22202
Duplicate of #9927

[2020-12-03 15:38] hibatallahAouadni commented on #22204
Hello @Miguel86

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #11041.
To be informed when it's fixed, please subscribe to the issue mentioned above.

As @PierreRambaud mentioned above, if you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-12-03 15:38] #22204 closed, assigned to nobody

[2020-12-03 15:38] hibatallahAouadni commented on #22204
Duplicate of #11041

[2020-12-03 15:53] hibatallahAouadni commented on #22199
Hello @cdcvince

I managed to reproduce your issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1yjtjHKXlW6odntaGihrfvp3VEJcZjvKn/view

[2020-12-03 15:58] khouloudbelguith opened #22224 "BO - Logs - Filter in the logs NOK"
#### Describe the bug

In the BO > Advanced Parameters > Logs page, when we try to filter by any filed, the logs number is incorrect  and the pagination is still displayed => NOK
![image](https://user-images.githubusercontent.com/16067358/101053917-99f92b00-3588-11eb-94c5-dff6211a75de.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Advanced Parameters > Logs page
2.

[2020-12-03 16:30] jolelievre commented on #19524
I didn't close anything I just merged the PR and github automatically closed this issue ^^ but it prefers to blame me 😛

[2020-12-03 16:40] matks commented on #10088
Agreed with @PierreRambaud

To be honest I dont really understand I dont think this interface is useful.
[code]
This is so generic and so simplistic it cannot meet all the "presenting" usecases we have. I dont think a single PresenterInterface will be relevant for PrestaShop. It would rather be more useful to have a ProductPresenterInterface, a CartPresenterInterface, a CustomerPresenterInterface.

[2020-12-03 16:40] #10088 closed, assigned to nobody

[2020-12-03 16:59] hibatallahAouadni commented on #22218
Hello @timactive

Thanks for the suggestion, the Product Team will take a look.
Please stay tuned !

Ping @PrestaShop/product-team , what do you think?

[2020-12-03 16:59] SimonGrn commented on #22221
Hello @VidarPc
Your screenshots show your admin URL, please remove them.

[2020-12-03 17:08] #19473 closed, assigned to NeOMakinG

[2020-12-03 18:11] VidarPc commented on #22221
Oh, thank you removed the screenshots!

[2020-12-03 18:50] raulrockin commented on #20921
I have the same problem with 1.7.6.9
I also tryed the https://github.com/PrestaShop/statsdata/pull/7/files solution but the problem is still there.
The error is happening when customers are paying the order in the last step, and the error cancel the order because it returns an error 500

[2020-12-03 21:55] marcydude commented on #22155
https://drive.google.com/file/d/1CQPJoH5TWNkeZhIfePJyGBogCGd13tis/view?usp=sharing

Hi, thanks for testing. I've reproduce and taken a screenrecording (link above)

the php version of the server is 7.3

something is really funky with the checkout forms

[2020-12-03 22:40] Hlavtox commented on #15330
@MatShir @LouiseBonnard @marionf As I am thinking about it now for a second time, there could be a scenario, when the user will switch to VAT payer and wants to prepare his prices and tax rules in before. If we hide the fields, he can't.

I would keep these fields available, but display a hint next to prices, that tax is disabled.

[2020-12-03 22:45] Hlavtox commented on #15075
@eternoendless @khouloudbelguith All of this is fixed in 1.7.7! 🚀 Tested strings in breadcrumbs and other fields that didn!t work. All is good, awesome!

[2020-12-03 22:45] #15075 closed, assigned to nobody

[2020-12-03 22:48] #14641 closed, assigned to nobody

[2020-12-03 22:49] Hlavtox commented on #14641
@colinegin You are right, closing

[2020-12-03 22:54] Hlavtox commented on #20817
@MatShir Not daily, but imagine you are on a call with another business customer, a VAT payer. You deal some stuff for example, you make him an order manually.

He asks: _"What's the total without tax?"_ (He doesn't give a fuck about tax, he will get it back from the state)
You say: _"Oooh let me take out my calculator."_, because you don't see it there! :-D

[2020-12-03 22:59] Hlavtox commented on #20321
@matks Fixed in 1.7.7 🚀

[2020-12-03 22:59] #20321 closed, assigned to nobody

[2020-12-03 23:08] Hlavtox commented on #18674
@PierreRambaud @matthieu-rolland Reopen pls, reproduced by khouloudbelguith here: https://github.com/PrestaShop/PrestaShop/issues/19810#issuecomment-700576564

It's not fixed in 1.7.7

[2020-12-03 23:42] MadArtOrigin opened #22230 "subcategories don't work in module (ps_facetedsearch)"
#### Describe the bug

Hi, I've done several test but I have problems with categories of profondity > 1
In other terms: it filters only for main category (profondity 1) but not for the others subcategories..
I tried also with default theme but it still doesn't work
Maybe I'm missing something..
Please help me out.

* PrestaShop version: 1.7.7.0

[2020-12-03 23:48] ghost opened #22231 "Symfony ContextErrorException : unserialize Error at offset (DataCollector) - Error 500 when debug enabled"
#### Describe the bug

Error 500 when debug enabled php 7.3.25, if i use php 7.2 no error

#### Steps to Reproduce

1. Make a new installation.
2. Enable Debug Mode
3. Use php 7.3.25
4. Go to the orders list (look at the error)
5. Go to the customers list (look at the error)
6. Go to the categorys list (look at the error)

7. **Now go to the product list there are no error**

**Configuration**

I

[2020-12-04 01:06] ghost opened #22232 "No update proposed for PSGDPR"
#### Describe the bug

There is no update proposed for the psgdpr module

#### Expected behavior

Normaly the last version fix : https://github.com/PrestaShop/PrestaShop/issues/18776 but actually we need to download the github version and make a manual update.

#### Steps to Reproduce

1. Install 1770
2. Go to module -->> update
3. You see only two modules to update

**Screenshots**

![Capture d’é

[2020-12-04 02:01] ghost opened #22233 "Docker folder should not be inside release zip"
#### Describe the bug

.docker folder is present in release zip

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install a new shop from zip
2. Display hidden files
3. See .docker folder

#### Additional information

* Info : This can give informations to exploit
* PrestaShop version: 1.7.7.0
* PHP version: 7.3

[2020-12-04 02:34] passio777x opened #22235 "Prices not correctly defined after import"
On prestashop 1.7.6.8, php 7.2

- Import a CSV in a multishop
- Set priceHT -> 9.99 and price TTC -> 9.99 (no taxes) on my shop
After import, look at the result :
<img width="808" alt="Capture d’écran 2020-12-04 à 03 28 59" src="https://user-images.githubusercontent.com/43704805/101114242-5e3e7f80-35e1-11eb-82c5-dac93c3fa629.png">
<img width="539" alt="Capture d’écran 2020-12-04 à 03 29 08" sr

[2020-12-04 03:00] ghost opened #22236 "Demo files for import are oudated"
#### Describe the bug

Demo files for import are oudated, i think it's 1.5.X files

#### Expected behavior

A file that works

#### Steps to Reproduce

1. Go to Import
2. Test demo files

#### Additional information

I tested catergory , products , manufacturer don't work , customer ecrase datas

[2020-12-04 03:09] okom3pom commented on #22235
You have a line to test ?

I think you forget to put 0 in the csv file ? Or another value

[2020-12-04 04:44] passio777x commented on #22235
2first lines of the CSV :
nom produit;Catégories;Méta-titre;méta-description;Resume;Reférence;prixAchatTTC;prixVenteHT;prixVenteTTC;Quantité;poids;features;EAN;imgDescr;imgUrl;1;active
Perles en bois - Grand coffret;Créativité;Perles en bois - Jouet enfant - Jeu de créativité Montessori;Perles en bois multicouleurs - Perles pour enfants - Jeu créatif pour la conception de bijoux, colliers, bracele

[2020-12-04 07:33] hibatallahAouadni commented on #22220
Hello @unlocomqx

What do you mean by that? you mean I have to change id_module from the database?

Thanks!

[2020-12-04 07:39] hibatallahAouadni commented on #22215
Hello @IranDec

Did you had errors while upgrading? like database errors?
And could you please provide some screenshot.

Thanks!

[2020-12-04 08:11] Progi1984 commented on #22203
A PR has been done for ps_linklist : https://github.com/PrestaShop/ps_linklist/pull/105. But we should remove bad sql request for `1.7.7.0.sql`.

[2020-12-04 08:18] hibatallahAouadni commented on #22221
Hello @VidarPc

I managed to reproduce your issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1OzLdcnjJiqCyDpTv5UsZqtNcsWZlJiBs/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-12-04 08:30] casadavinci commented on #22230
I think you just need to activate the faceted search on those subcategories:

Go to Modules > Module Manager > Faceted Search - Configure > Template - Edit

Click Expand All and Check All, and then scroll down until the bottom and Save the changes. Delete the Cache and Reconstruct the Price Index.

Tell me if this works.

[2020-12-04 08:32] SimonGrn commented on #22221
Hello @VidarPc,

Please make one issue per problem, we have two issues in the same post and that will make things harder for us.
Could you please keep this one only about the images not centered and create another issue for Faceted Search ?

I'll let you edit your issue.
Thank you in advance

[2020-12-04 08:33] juraj1000 commented on #15330
I think it would better to have a new configuration parameter, e.g. "Display fields for VAT prices", in Tax options. When the option "Enable tax" was No and this new parameter was Yes then a merchant could prepare the new prices before changing of his status to VAT payer.  If the new parameter was No then all VAT fields would be hidden. By this way the both scenarios for VAT fields would be possib

[2020-12-04 08:38] hibatallahAouadni commented on #22155
Hello @marcydude

You need to downgrade your PHP version to 7.2 cause it's not compatible with PS1.7.6.9, see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-requirements).
Please check and feedback.

Thanks!

[2020-12-04 08:39] hibatallahAouadni commented on #21882
Hello @rcbiz5000

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-04 08:39] #21882 closed, assigned to nobody

[2020-12-04 08:40] hibatallahAouadni commented on #21880
Hello @danielkauffman ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-04 08:40] #21880 closed, assigned to nobody

[2020-12-04 08:42] hibatallahAouadni commented on #21916
Hello @juraj1000 ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-04 08:42] #21916 closed, assigned to nobody

[2020-12-04 08:43] florine2623 commented on #22232
Hello @okom3pom ,

Thanks for the report.
I was able to reproduce the issue with PrestaShop version 1.7.7.0. I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Indeed, module PS GRDP upgrade to v1.2.1 is not available automatically in the module section of the BO.
![Capture d’écran 2020-

[2020-12-04 08:43] matks commented on #22231
Hi @okom3pom so you have multiple different issues here 😄

- the JS error is because you are GDPR module V1.2.0 which is not compatible with PS 1.7.7.0 ; you need the v1.2.1
- the HTTP 500 issue I dont know, we need more infos
- the `Uncaught Notice: unserialize(): Error at offset 315894 of 1800983 bytes` is Symfony debug tools trying to serialize your data to present them into the Symfony Debug b

[2020-12-04 08:48] PierreRambaud commented on #18674
If it's the same problem, it's a duplicate issue :thinking:

[2020-12-04 08:49] florine2623 commented on #22235
Hi @passio777x ,
Can you send the csv related to the product you mentioned ? Prices are different.

Also, share the configuration of you multistore please (without any admin url). (how many store, if data is shared, same group or not, etc)

Thanks.

[2020-12-04 08:51] okom3pom commented on #22231
Hi @matks for the js i open an other issue : https://github.com/PrestaShop/PrestaShop/issues/22232#issuecomment-738648791

The error 500 is only when i use php 7.3

[2020-12-04 08:54] okom3pom commented on #22231
I work on a new install

[2020-12-04 08:57] matks opened #22237 "Upgrade 1.6.1.24 => 1.7.7.0 fails ; XmlLoader Call to a member function trans() on null"
#### Describe the bug

Bug found by @SD1982

[code]

#### Expected behavior

Upgrade should work flawlessly

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PS 1.6.1.24 and module autoupgrade
2. Run upgrade to PS 1.7.7.0
3. See error

* PHP version: 7.1

[2020-12-04 09:00] florine2623 commented on #22230
Hi @MadArtOrigin and @casadavinci ,

Please do like @casadavinci said :
![Capture d’écran 2020-12-04 à 09 59 06](https://user-images.githubusercontent.com/16019289/101143574-5ef20880-3617-11eb-8f17-3475f02d59c3.png)

All categories need to be checked like so.
Here's the result (subcategories are showing correctly) :
![Capture d’écran 2020-12-04 à 09 58 52](https://user-images.githubusercontent

[2020-12-04 09:00] #22230 closed, assigned to nobody

[2020-12-04 09:01] okom3pom commented on #22232
`If you have already fixed it on your end or if you think you can do it, please do send us a pull request`

I can't do something for this, it's a file from prestashop or addons.prestashop

I don't know if we can ask addons team here

[2020-12-04 09:06] Hlavtox commented on #18674
@PierreRambaud No, she managed to reproduce it by accident in a different issue 😄

[2020-12-04 09:07] okom3pom commented on #22235
U need to set a a taxe rule id

[2020-12-04 09:11] florine2623 commented on #22233
Hello @okom3pom ,
Thanks for the report, I was able to reproduce the issue with PrestaShop version 1.7.7.0. I’ll add this to the debug backlog so that it’s fixed.
![Capture d’écran 2020-12-04 à 10 08 36](https://user-images.githubusercontent.com/16019289/101144659-f0ae4580-3618-11eb-8843-72ceb4a3fe07.png)

And thank you for for the PR.
Please stay tuned !

[2020-12-04 09:11] unlocomqx commented on #22220
@hibatallahAouadni Yes, it's normally done by a module where the module saves its ID in the the table ps_customized_data when it saves the customization.
Then based on that ID, the displayCustomization hook is called and thus only the concerned module is invoked.

My PrestaShop version is 1.7.7.0
The bug didn't occur in the previous versions because html was allowed in the previous templates
With

[2020-12-04 09:13] eternoendless commented on #22232
I can confirm that the latest version is not available on Addons for some reason. We're investigating

[2020-12-04 09:18] VidarPc opened #22239 "Module Faceted Search in PrestaShop 1.7.7.0, when enabled, products shows only up in the Main category checked but not in any of the other checked categories for that actual Product"
#### Describe the bug

I upgraded yesterday my shop using one-click-upgrade to 1.7.7.0. After the upgrade, I had to disable the faceted search module as items were only displayed in the main category of the product in my shop catalog. All other categories for the actual product checked, did not show up in that specific category.

#### Expected behavior

I was expecting that when using the faceted

[2020-12-04 09:23] matks commented on #22237
This issue can be reproduced by autoupgrade tests https://meet.google.com/linkredirect?authuser=0&dest=https%3A%2F%2Ftravis-ci.com%2Fgithub%2FPrestaShop%2Fautoupgrade%2Fjobs%2F454198675

[2020-12-04 09:42] florine2623 commented on #22239
Hello @VidarPc ,
What version did you upgrade to PS 1.7.7.0 ?
Did you use one-click upgrade by PrestaShop, or another module to upgrade your shop ?
What PHP version are you using ?

Make sure you are using latest version of faceted_search v3.6.0.

Thanks.

[2020-12-04 09:52] matks commented on #21989
Note: to make the tests easier, it would be nice that
- autoupgrade has "zero tolerance" mode (to be used in tests) where it crashes when there are warnings
- autoupgrade outputs its environment before and after the upgrade (php version, shop version...)

[2020-12-04 09:58] marionf commented on #18674
@hibatallahAouadni Could you please try to reproduce this issue on 1.7.7.0 ?

[2020-12-04 10:01] PierreRambaud commented on #21787
Hi,

Maybe the best way to do it is to allow a Cart Rule to don't be applied on some products.

I explain:

I have a product "Membership Card", I also have "Super Nintendo", I add a Cart Rule which defined a reduction of 50% on all products except "Membership Card".

Is it what you need?

[2020-12-04 10:06] matks commented on #22237
Reproductable build https://travis-ci.com/github/matks/autoupgrade/builds/206528516

[2020-12-04 10:25] PierreRambaud commented on #21893
I manage to reproduce the issue
Currently, the ObjectPresenter is only fetching for database definitions, and because of relations between tables, only products information (related to ps_product) are fetched inside the Presenter.
I don't know if it's the desired behavior, it looks more than a bug.

[2020-12-04 10:25] VidarPc commented on #22239
I used a one-click upgrade module latest version available at my admin-panel and made an upgrade to 1.7.7.0. My shop is hosted by SiteGround and I have no idea of which PHP they are using. Faceted_search module is v3.6.0 - by PrestaShop.

[2020-12-04 10:32] Progi1984 commented on #22124
Fixed by #21568

[2020-12-04 10:32] #22124 closed, assigned to Progi1984

[2020-12-04 10:32] Progi1984 commented on #21549
Fixed by #21568

[2020-12-04 10:32] #21549 closed, assigned to Progi1984

[2020-12-04 10:32] Progi1984 commented on #21548
Fixed by #21568

[2020-12-04 10:32] #21548 closed, assigned to Progi1984

[2020-12-04 10:45] florine2623 commented on #22231
Hi @okom3pom & @matks ,
I did manage to reproduce the same issue on PS 1.7.7.0 fresh install + PHP 7.3 + debug mode ON.

Debug mode OFF, no error 500 :
![Capture d’écran 2020-12-04 à 11 42 26](https://user-images.githubusercontent.com/16019289/101154300-d7f85c80-3625-11eb-86a7-6f40a2b7fb57.png)

Debug mode ON :
![Capture d’écran 2020-12-04 à 11 42 33](https://user-images.githubusercontent.com/

[2020-12-04 10:45] hibatallahAouadni opened #22240 "[EPIC] - Tax rules"
All issues related to Tax rules:

### BUGS
- [x] #19715
- [x] #15689
- [ ] #19766
- [ ] #22199
- [ ] #31351
- [x] #32914

### FEATURES

## Fixed

### BUGS
- [x] #26515

### FEATURES

[2020-12-04 10:51] matks commented on #16451
We can create the hook and when we refactor the code to move the logic outside of the controller we move also the hook

[2020-12-04 10:57] okom3pom commented on #22231
Hi @florine2623 i think it's a migration page problem not only in the order page, the label migration is better?

And i don't understand why I haven't seen this when i tested the beta and RC

I try on a RC  when i have the time

[2020-12-04 10:57] camlafit commented on #21787
Hello

Yes you've understood, in my specific use case purpose is to exclude some products on reduction application.
But purpose is also calculate reduction possible if customer will add this product.

Actually I do two workarounds :
* an override on getContextualValue() to correct reduction calculated with removing reduction applied on this specific product
* with any front hook , I clone context

[2020-12-04 11:04] PeNov opened #22242 "Upgrade from 1.7.6.9 to 1.7.7.0 – PHP issue"
#### Describe the bug

Hello,
How can I safely upgrade prestashop.
First, I updated module autoupgrade to version 4.11.0. and start upgrade:

…
All files upgraded. Now upgrading database...

_[Ajax / Server Error for action upgradeDb] textStatus: "error " errorThrown:"Internal Server Error " jqXHR: " Composer detected issues in your platform: Your Composer dependencies require a PHP version ">= 7.

[2020-12-04 11:05] #22233 closed, assigned to nobody

[2020-12-04 11:07] PierreRambaud commented on #10094
@hibatallahAouadni We can close it :)

[2020-12-04 11:07] #10094 closed, assigned to nobody

[2020-12-04 11:23] khouloudbelguith opened #22243 "BO - Add new Order page - The gift block is not updated when changing the Address - A cart rule "Discount for a country selection" is applied"
#### Describe the bug

_Originally posted here_ : https://github.com/PrestaShop/PrestaShop/pull/21568#issuecomment-734300305
In the BO => Orders => New Order page, the gift block is not updated when changing the Address

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Catalog => Discounts page
2. Create a cart rule with a country selection "The United States" with an acti

[2020-12-04 11:28] Julievrz commented on #22110
@Progi1984

Here you are: "Product customization could not be found. Go to Catalog > Products to customize the product" in Admin.Catalog.Notification

[2020-12-04 11:30] mrabsinthe opened #22245 "500 Error after successful installation of 1.7.7.0"
#### Describe the bug
I have tried twice to do a clean installation of 1.7.7.0 into subdomain test.myshop.com The whole installation was without a single issue or warning, however after the shop is installed, I'm unable to access either FO or BO, receiving error: This page isn’t working test.myshop.com is currently unable to handle this request.
HTTP ERROR 500

I have enabled debug, this is the er

[2020-12-04 11:33] SimonGrn commented on #22245
Hello @mrabsinthe,

`Fatal error: Allowed memory size of 33554432 bytes exhausted (tried to allocate 135168 bytes) in /home/yyy/public_html/test/vendor/symfony/symfony/src/Symfony/Component/Cache/Traits/FilesystemTrait.php on line 98`

Looks like a performance issue, you don't seem to have enough memory on your server. How much RAM do you allow for PHP ? If you read the [requirements ](https://dev

[2020-12-04 11:54] mrabsinthe commented on #22245
Hi @SimonGrn I was caused by RAM, thank you. But my main concern is a/ 1.7.6.8 was running just fine b/ there should be warning at the beginning of installation, don't you think?

[2020-12-04 12:11] passio777x commented on #22235
Hi Florine, the product doesnt matter,  bug occur for all lines.
<img width="1901" alt="Capture d’écran 2020-12-04 à 13 10 55" src="https://user-images.githubusercontent.com/43704805/101162099-2b70a780-3632-11eb-9b54-b25fe69f0e3b.png">

okom3pom, How ?

[2020-12-04 12:23] hibatallahAouadni opened #22247 "[EPIC] - FO product page"
All issues related to **[FO] Product page**

### Bugs
- [ ] PrestaShop/PrestaShop#22546
- [ ] PrestaShop/PrestaShop#22661
- [ ] PrestaShop/PrestaShop#12237
- [ ] PrestaShop/PrestaShop#9775
- [ ] PrestaShop/PrestaShop#9787
- [ ] PrestaShop/PrestaShop#9824
- [ ] PrestaShop/PrestaShop#19380
- [ ] PrestaShop/PrestaShop#9901
- [x] PrestaShop/PrestaShop#27757
- [ ] PrestaShop/PrestaShop#28338
- [ ] Pres

[2020-12-04 12:26] florine2623 commented on #22242
Hello @PeNov ,

If I understand well, you need to upgrade your shop on 1.7.6.9 to 1.7.7.0.
But PHP 7.2 is not available anymore in your hosting services.

There should be a way in your hosting provider to get PHP 7.2 to work (purchase a time extension of php 7.2 availability). If that's the case you can proceed with the upgrade (of course, you need to do a backup of both DB and files of your shop)

[2020-12-04 12:26] #22242 closed, assigned to nobody

[2020-12-04 12:40] SimonGrn commented on #22245
It was working with 1.7.6.8 because this version was less hungry on RAM. You were probably very, very close because I've never heard of any PrestaShop > 1.7 being able to run with less than 128Mo so I'm kinda skeptical it was the same configuration with 1.7.6.8.
Anyway, I close this issue.

For the warning, we have requirements that people are expected to read. We cannot protect against everything

[2020-12-04 12:41] #22245 closed, assigned to nobody

[2020-12-04 13:07] hibatallahAouadni commented on #14731
Ping @PrestaShop/product-team could you please specify this issue status? thanks in advance :smile:

[2020-12-04 13:39] hibatallahAouadni commented on #19847
Ping @Progi1984 & @matks so what the status of this issue? is it **`TBS`** or **`To Do`** ?

[2020-12-04 13:40] IranDec commented on #22215
@ hibatallahAouadni
Hello
today I got it there is no problem with new orders that did after upgraded but I can't access into non of my previous orders

https://ibb.co/DVrQddg

Did you had errors while upgrading? like database errors?

No, all thing updated fine without any errors

[2020-12-04 13:42] kexuejia commented on #20505
I just did update prestashop from 1.7.6.5 to 1.7.7.0 via 1-Click Upgrade and get the same issue. so far I managed to fix this only replacing $this->get('twig') with PrestaShop\PrestaShop\Adapter\SymfonyContainer::getInstance()->get('twig') in my module :(

[2020-12-04 13:45] hibatallahAouadni commented on #14889
Ping @PierreRambaud the prestashop-issue-bot delete the labels that you added :sweat_smile: I believe you need to choose one of them. Cloud you please add one of them for this issue.

Thanks in advance!

[2020-12-04 13:58] hibatallahAouadni commented on #15672
Ping @eternoendless so what's the status of this issue? is it **`TBS`** or **`To Do`**?

[2020-12-04 14:00] elboletaire commented on #20505
@kexuejia make a diff between old and new installation and ensure you don't have old prestashop files in the new installation

[2020-12-04 14:16] marcydude commented on #22155
I have just updated the php version to 7.2 , then cleared the cache and double checked all extensions are installed as recommended.

it all seems to be configured correctly now but still seeing the problem even testing on a new device after clearing the cache

[2020-12-04 14:18] florine2623 commented on #22231
@okom3pom I will add migration label also, thanks!

I have tested this on beta1, beta2 and RC1, I have the same issue on the three fresh installs : PHP 7.3 + debug ON = error 500

Please see the screenshots below :
**beta1 :**
![Capture d’écran 2020-12-04 à 15 14 56](https://user-images.githubusercontent.com/16019289/101174046-a2fb0280-3643-11eb-82e5-f1c9822a5619.png)

**beta2 :**
![Capture d’é

[2020-12-04 14:35] hibatallahAouadni commented on #10585
Hello @matks

Could you please specify this issue status, is it **`To Do`** or **`WIP`**?
For the moment, I add **`TBS`** label, but please change the status, Thanks!

Ping @marionf this issue is a **Feature** or an **Improvement**? cause it seems it has a lot of tasks :confused:
Thanks in advance!

[2020-12-04 14:38] hibatallahAouadni commented on #10540
Hello @matks

Could you please specify this issue status, is it **`To Do`** or **`WIP`**?
For the moment, I add **`TBS`** label, but please change the status, Thanks!

Ping @marionf this issue is a **Feature** or an **Improvement**? cause it seems it has a lot of tasks :confused:
Thanks in advance!

[2020-12-04 14:41] hibatallahAouadni commented on #10631
Hello, I'm confused :confused: is this an **improvement** or a **feature** or an **epic**?

[2020-12-04 14:42] Art3c opened #22248 "Upgrade problem to Prestashop 1.7.7.0 Cannot declare class PrestaShopBundle\Entity\Tab"
Hi,

i did a updateto the new 1.7.70 from 1.7.6.9. I did a full backup of the DB and files on the server. When 1-click upgrade started to updaet it shows me this error. Please help!

[INTERNAL] /home/shopmo97/public_html/src/PrestaShopBundle/Entity/Tab.php line 37 - Cannot declare class PrestaShopBundle\Entity\Tab, because the name is already in use.

The BO stops working :( The FO was online butt

[2020-12-04 14:47] florine2623 commented on #22236
Hello @okom3pom ,

I tried importing Categories, Products, Manufacturers and Customers on a PS 1.7.7.0 fresh install .

**Product Import**
One column was missing : MPN

**Manufacturers**
Brand "Shure" was added twice :
![Capture d’écran 2020-12-04 à 15 32 56](https://user-images.githubusercontent.com/16019289/101175904-0dad3d80-3646-11eb-8a73-fd3f0840a781.png)

**Categories**
I had no issue with

[2020-12-04 14:51] matthieu-rolland commented on #14731
FYI @hibatallahAouadni there was a PR related to this issue:  #14802, but it's only a proof of concept.

We are now following the subject on this epic:  #19304

Even though this issue is still interesting for the information it contains, I'd say it can be closed, but I'm not sure if @marionf would like to close it or not ?

[2020-12-04 14:54] hibatallahAouadni commented on #18779
Ping @NeOMakinG could you please specify this issue status, is it **`To Do`** or **`WIP`** ?
Thanks in advance!

**PS**: if there is a **PR** could you please link it and add the label **`PR available`** :sweat_smile: (I know I'm asking for a lot)

[2020-12-04 14:55] matks commented on #15282
My guess is that there was twice the module MailAlert in the shop (and it fails when it finds twice the same class) probably a new one and an old one. Removing the old solves the problem.

[2020-12-04 14:57] hibatallahAouadni commented on #18780
Ping @NeOMakinG could you please specify this issue status, is it **`To Do`** or **`WIP`** ?
Thanks in advance!

**PS**: if there is a **PR** could you please link it and add the label **`PR available`** :sweat_smile: (i'm really sorry :confused: )

[2020-12-04 15:00] matks commented on #22248
Hi, how did you do the backup ? manually ? copy on another server ?

[2020-12-04 15:02] NeOMakinG commented on #18780
Hey @hibatallahAouadni

It's been done months ago, inside : https://github.com/PrestaShop/blockwishlist/pull/77

I won't search for every PRs, let's link it to the merge one ^^

[2020-12-04 15:02] marcydude commented on #22155
Ive just had a comment from the theme developer that the problem doesn't lay within the theme, we activated the classic theme and observe the same issues

[2020-12-04 15:04] NeOMakinG commented on #18779
@hibatallahAouadni same, let's use https://github.com/PrestaShop/blockwishlist/pull/77

[2020-12-04 15:10] #17044 closed, assigned to nobody

[2020-12-04 15:10] matks commented on #17044
Closing because @PierreRambaud does not like me 😢

[2020-12-04 15:14] Pitt1823 opened #22250 "The left menu in BO disappeared after upgrade to 1.7.7.0"
**Status**: Tech investigation still need to be done

I have encountered an issue with the upgrade of Prestashop 1.7.7 from both 1.7.6.9 and from 1.7.6.5

I have upgraded two of my shops, through 1-click and in both instances the main BO menu has disappeared.
When I turn the debugger on I get this error:

Notice on line 2083 in file /home/244169.cloudwaysapps.com/zecggmmewd/public_html/classes/con

[2020-12-04 15:23] hibatallahAouadni commented on #14731
Thanks @matthieu-rolland :relaxed:
Like you said, let's wait for @marionf decision.

[2020-12-04 15:29] khouloudbelguith commented on #22236
Hi @florine2623, @okom3pom,

I this it is similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/21565

Thanks!

[2020-12-04 15:33] Art3c commented on #22248
I did it over my cPanel. After the faild update a erased the public_html folder content and started a restor of the directory and the DB. I have a cron task for automatic backup for last 7 days

[2020-12-04 15:40] hibatallahAouadni commented on #18781
PR fixes this issue: https://github.com/PrestaShop/blockwishlist/pull/77

[2020-12-04 15:41] matks commented on #22250
@sarahdib I remember seeing the same kind of issues on one of your screenshots but it was a long time ago 😅  do you remember?

[2020-12-04 15:41] hibatallahAouadni commented on #18782
PR fixes this issue: https://github.com/PrestaShop/blockwishlist/pull/77
Thanks to @NeOMakinG & @lolath-presta

[2020-12-04 15:41] hibatallahAouadni commented on #18783
PR fixes this issue: https://github.com/PrestaShop/blockwishlist/pull/77
Thanks to @NeOMakinG & @lolath-presta

[2020-12-04 15:41] hibatallahAouadni commented on #18784
PR fixes this issue: https://github.com/PrestaShop/blockwishlist/pull/77
Thanks to @NeOMakinG & @lolath-presta

[2020-12-04 15:43] hibatallahAouadni commented on #18785
PR fixes this issue: https://github.com/PrestaShop/blockwishlist/pull/77
Thanks to @NeOMakinG & @lolath-presta

[2020-12-04 15:43] hibatallahAouadni commented on #18786
PR fixes this issue: https://github.com/PrestaShop/blockwishlist/pull/77
Thanks to @NeOMakinG & @lolath-presta

[2020-12-04 15:44] florine2623 commented on #22235
@passio777x
In your CSV you need to specify the Tax RuleS ID / Règle de tax column.
`Product ID | Active (0/1) | Name * | Categories (x,y,z...) | Price tax excluded | Tax rules ID `

In your screenshot Règle de Taxe is empty. If the tax is specified, the price will be correct.

[2020-12-04 15:47] photinia73 opened #22251 "The left menu in BO disappeared after upgrade to 1.7.7.0"
#### Describe the bug

Ufter upgrading PS to 1.7.7.0 in the BO NO left menu
I cleaned cache in the FAR manager but nothing changed ((
![image](https://user-images.githubusercontent.com/50954519/101183612-6554a480-3658-11eb-8145-6f8349ccc0aa.png)

* PrestaShop version: 1.7.7.0
* PHP version: 7.1.33

[2020-12-04 15:49] florine2623 commented on #22251
Hi @photinia73 ,
Seems like your issue is similar to #22250
Let's discuss on the other issue to avoid duplicate.
Thanks.

[2020-12-04 15:49] #22251 closed, assigned to nobody

[2020-12-04 15:49] florine2623 commented on #22251
Duplicate of #22250

[2020-12-04 15:50] PierreRambaud commented on #16320
I tried with my pull request and I have this when using + in URL:
![image](https://user-images.githubusercontent.com/1462701/101184243-c9736a80-3650-11eb-934e-b2965d11d04a.png)
It's working well for me :thinking:

[2020-12-04 15:53] florine2623 commented on #22239
PHP 5.6 is not compatible with PS 1.7.7.0.
You can check out this documentation : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Please upgrade your PHP version to match PS version.

[2020-12-04 15:54] photinia73 commented on #22251
I am sorry, but where is dessision?

[2020-12-04 15:55] matks commented on #22250
@jolelievre is this issue and https://github.com/PrestaShop/PrestaShop/issues/22251 similar to https://github.com/PrestaShop/PrestaShop/issues/16379 ?

[2020-12-04 15:56] matks commented on #22250
@Pitt1823 What version of the autoupgrade module have you used?

[2020-12-04 15:56] matks commented on #22248
What version of the autoupgrade module have you used?

[2020-12-04 15:59] NeOMakinG commented on #22251
No decision yet, see #22250 responses, and talk on it if you wan't :)

We close duplicated issues in order to organize that's it!

[2020-12-04 16:01] photinia73 commented on #22250
1-Click Upgrade v 4.11.0

[2020-12-04 16:05] matks commented on #22242
@PeNov so today you use php7.0 and your provider says "I cannot provide you php7.1 or php7.2" 😅  your host provider is not nice...

A workaround would be to copy your shop (files + database) into another server with php7.2, perform the upgrade then copy the updated version into your server. For example Ubuntu Bionic is supported until April 2023, and it gives you php7.2

[2020-12-04 16:05] photinia73 commented on #22250
Somebody can explaine the steps to do? I am not a developer, but have the shop on PS and now can admin it ((

[2020-12-04 16:11] matks commented on #22250
@photinia73 Hi, we do not provide such support, this is a bug tracker, not a help center 😅

You might want to look at the PrestaShop Company’s [support plans](https://www.prestashop.com/support)

[2020-12-04 16:11] photinia73 commented on #22251
Ок, I uderstood.... But I`m panick a little .... Will follow the #22250

[2020-12-04 16:14] #19303 closed, assigned to matthieu-rolland

[2020-12-04 16:25] Pitt1823 commented on #22250
@matks Hi, I have used the v4.11.0 version freshly downloaded from the module catalog

[2020-12-04 16:25] Art3c commented on #22248
v4.11.0 the latest version. I allways check the modules before i update.

[2020-12-04 16:32] #22089 closed, assigned to NeOMakinG

[2020-12-04 16:33] jolelievre commented on #22250
A quick and dirty fix, if you can modify your database, is to set the column `enabled` from table `ps_tab` to `1`

[2020-12-04 16:36] #21917 closed, assigned to nobody

[2020-12-04 16:37] VidarPc commented on #22239
Hi, I changed to PHP 7.3, but nothing changed. Problem with not showing other categories than the "Main category" remains!

[2020-12-04 16:44] hibatallahAouadni commented on #17430
Hello @LouiseBonnard this is issue has been approved **`PM`** :heavy_check_mark: , is it **`To Do`**?
PS: I add the **`To Do`** label, but if you see that it needs **`TBS`**, feel free to change it.

Thanks in advance!

[2020-12-04 16:49] straitskapitan commented on #22250
This doesn't work for me ... hmmm

[2020-12-04 16:53] photinia73 commented on #22250
Now my PS 1.7.7.0 is brocken after attempt to rollback, but in the v 1.6.9 in the ps_tab the column `enabled` is ansent.
Only 'active'
![image](https://user-images.githubusercontent.com/50954519/101191032-d77db700-3661-11eb-82b1-f9f4510e5196.png)

Did the columns rename?

[2020-12-04 17:17] straitskapitan commented on #22250
yeah I have it as "active". I renamed that to "enabled" and set it all to 1. Problem still there.

[2020-12-04 17:24] marionf commented on #14731
@matthieu-rolland Yes there are a lot of informations here !

If there are some things that need to be specified and that are not in #19304, let me know and I will try to make a new clearer issue with answers
Otherwise, if all is clear for you I think we can close this issue ?

[2020-12-04 18:03] Stephane1874 opened #22253 "Missing files after update 1.7.6.9 to 1.7.7.0"
#### Describe the bug

Hello,

I have updated from 1.7.6.9 to 1.7.7.0 and from the information page it seems to be missing files.

Do I have to add them manually  or is it normal?

**Screenshots**

![Capture](https://user-images.githubusercontent.com/46202635/101197928-05afc680-3663-11eb-9cef-d9b397cd6100.PNG)

#### Additional information

* PrestaShop version: 1.7.7.0
* PHP version: 7.2.34

[2020-12-04 18:09] PierreRambaud commented on #14889
You're right, I missed something, the TBS label si the good one :sweat_smile:

[2020-12-04 18:12] dz49 opened #22254 "Prestashop 1.7.6.8 Combinations & Save Error The CSRF token is invalid. Please try to resubmit the form."
Every time i try to save a product with combinations on 1.7 i get this error
"The CSRF token is invalid. Please try to resubmit the form."

The product never saves.

My PHP settings are attached I believe my PHP settings are correct. So this is a bug??
<img width="739" alt="PHP" src="https://user-images.githubusercontent.com/17770385/101198979-1e938a00-3619-11eb-8c55-3451b5db192b.png">

[2020-12-04 18:22] Hlavtox commented on #15870
@LouiseBonnard @eternoendless I have been reading some thing on Crowdin and stumbled upon this topic. Looks like it can manage these multiple plural forms. https://support.crowdin.com/online-editor/#plural-forms

Do you think it would be hard to integrate it?

[2020-12-04 19:18] PululuK commented on #22250
Hi @photinia73 @straitskapitan

Do not rename the column `active`.

1 - Be sure you have the `active` column in  `PREFIX_tab`
2 - Make sure you are missing the `enabled` column in `PREFIX_tab`
3 - If steps (1) and (2) have been verified, then you can execute this request (Replace **PREFIX_** by **ps_** in your case):

[code]

[2020-12-04 19:34] straitskapitan commented on #22250
I already rolled back to my previous version 1.7.6.4.

Will attempt another upgrade in the next 24 hours using the same method.

After the 1 click upgrade I had this error :

Copied /vendor/twig/twig/src/TokenParser/DeprecatedTokenParser.php.
Copied /vendor/twig/twig/src/TokenParser/DoTokenParser.php.
Copied /vendor/twig/twig/src/TokenParser/EmbedTokenParser.php.
Copied /vendor/twig/twig/src/Token

[2020-12-04 19:40] straitskapitan commented on #22253
I had exact same list. I have reverted to 1.7.6.4 and will reattempt in 24 hours

[2020-12-04 21:08] matks commented on #22250
@straitskapitan Module autoupgrade attempts to write inside folder `/ROOTFOLDER_REFREMOVED/var/cache/` but it cannot as it does not have the necessary rights.

[2020-12-04 21:11] matks commented on #22253
Hi, we got multiple reports about this so this is likely to be confirmed.

Good news however: these files are internal to [Composer](https://getcomposer.org/) so PrestaShop does not need them, they just come bundled with it. So there is no issue if you dont have them.

However PrestaShop detects they have changed so it looks like an issue => we need to fix that

[2020-12-04 21:16] jf-viguier commented on #16451
It should be great thanks

[2020-12-04 21:16] matks commented on #21917
Great news: this issue is fixed 😊 by @jeckyl PR https://github.com/PrestaShop/PrestaShop/pull/21996

Thank you for your contribution 👍 even if some harsh words were used, in the end the project was improved by your efforts

[2020-12-04 21:21] OriginNRG opened #22255 "1.7.7.0 BO Product Page multiple errors (cannot save)"
#### Describe the bug

The product page in BO regardless what type of product shows the details as if its a pack of products. With a wide variety of JS errors in console. I was trying to change the quantity of items in stock and realised it was not saving, then started noticing the issues.

#### Expected behavior

Change QTY of items, press save, saved

#### Steps to Reproduce

Steps to reproduce

[2020-12-04 21:22] photinia73 commented on #22250
I had also the similar [INTERNAL] errors. And my site was totaly broken. But I have a lot of backups and restore the PS shop manualy....

[2020-12-04 21:30] tswfi commented on #9927
I just created a development environment for myself so I could create a pr to fix this but I cannot replicate this on the development branch anymore. So something has fixed this but I cannot figure out which commit it was...

[2020-12-04 21:35] matks commented on #22255
Hi @OriginNRG so I'm quite sure this comes from a JS issue.

I dont observe this on my 1.7.7.0 shop. Is it a fresh install 1.7.7.0 or did you upgrade? Can you check if clearing the browser cache helps? Do you have modules that customize your Product Page?

[2020-12-04 21:35] passio777x commented on #22235
Thank you very very much Florine :)  ! ! !

[2020-12-04 21:36] tswfi commented on #9927
nope, I think I have a flaw in my test process...

[2020-12-04 21:38] BigBro25 opened #22256 "Translation for email in nrtsociallogin-account, editor not work for 1.7.4.4"
#### Describe the bug

Nrtsociallogin-account, editor not work for 1.7.4.4, is 2 section with same name ( nrtsociallogin-account and Default email messages-account), wysiwyg not working for nrtsociallogin-account the problem occurs for both themes and core emails!

#### Expected behavior

I expected to be able to edit the email.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to

[2020-12-04 21:39] matks commented on #22254
Hi @dz49 how many combinations do you have on this page?

If you have a big number of combinations (like thousand) it can create issues. In this situation you need to increase the max_input_vars from 1000 to a high number (like 15000) in your PHP configuration.

[2020-12-04 21:42] matks commented on #22256
Hi, what is Nrtsociallogin-account ? it looks like a 3rd party module

If you have questions about a PrestaShop module or theme you have downloaded or bought on the PrestaShop Addons Marketplace, you can contact its developers through the link provided on their Marketplace page. We cannot help you with a module that is outside of this project scope.

[2020-12-04 21:44] BigBro25 commented on #22256
I understand, so it's not a module of prestashop core?
Yes, I have installed a theme where I encounter the problem.
In this case there is no problem, I will ask the theme developer.

Thank you very much!

[2020-12-04 21:54] matks commented on #22256
Indeed the theme developer is responsible for its code. He might not have done the necessary steps to make sure it is compliant with PS 1.7.4.4 . But he should 😄 else he'll lose business!

[2020-12-04 21:54] #22256 closed, assigned to nobody

[2020-12-04 21:59] matks commented on #9927
@tswfi or maybe the issue was fixed 😄

if https://loyalecomtricks.wordpress.com/2020/01/15/allowing-free-orders-ps-1-7/ is right then the issue come from JS listeners behaving weirdly. In PS 1.7.7.0 we have refactored how JS is loaded and upgraded jQuery version. This might have solved the issue.

@PrestaShop/qa-functional can you check to confirm this issue is fixed?

[2020-12-04 22:00] tswfi commented on #9927
At least it is different in develop branch.

the button is still disabled but clicking on it works as it is handled with js and the click event comes through even for disabled buttons.

The check for terms:

[code]
returns undefined (as there is no checkbox)

which makes this check fail

[code]

and the form gets submitted few lines below that.

[2020-12-04 22:05] OriginNRG commented on #22255
I did an upgrade @matks and some things did break along the way. I did the usual clearing cache and browser cache. Ive gone through and disabled all modules that might interfere with the product page? There is no module tab on the product page anymore https://i.origin.sh/shot_201204_220517.png

[2020-12-04 22:09] tswfi commented on #9927
Also `toggleOrderButton()` emits termsUpdated with `{isChecked: true}` when there is no checkbox on the page which might get confusing...

[2020-12-04 22:13] PululuK commented on #21917
‎

[2020-12-04 22:14] matks commented on #22255
When I open the Product Page, I can see that for half a second the "Add products to your pack" form appears and then it's replaced by "standard product" Basic Settings. So I can see that, before the JS loads, I see what you have on your screenshot, and then JS loads and shows the right interface.

I am out of ideas now :/

But when I google "TypeError: formZoneElem.magnificPopup is not a function"

[2020-12-04 22:30] OriginNRG commented on #22255
Thanks for sharing that post @matks really helpful. Turns out it was an OOD module I need to repurchase. Just unhooked everything from the BOHeader and slowly added everything back. Changing the load order does not solve the issue so guess just incompatible withj 1.7.7.0.

Shall close as not vanilla related

[2020-12-04 22:30] #22255 closed, assigned to nobody

[2020-12-04 22:37] dz49 commented on #22254
Thanks for the reply @matks , i have maybe 40 combinations nothing crazy. I have already increased max_imout_vars in the core to 22000.
I also noticed that all my addon prestashop stores are not saving. Not sure if i deleted a core file i need :(

[2020-12-04 22:43] majastanislawska commented on #22250
it seems on my system that it's related to caching.
Disabling cache  seems to bring back left menu.
Presta 1.7.7.0, php 7.4.13

[2020-12-04 23:11] Chrisi1321 commented on #22250
I am on my mobile phone, so I can‘t help much right now. However I have the same issue, same behaviour almost identical error messages. I will try to contribute more tomorrow. What I can tell and may be important is that I also host on cloudways.

[2020-12-04 23:33] kpodemski commented on #22250
PrestaShop is not compatible with PHP 7.4, I suggest to downgrade to PHP 7.3

[2020-12-05 01:45] majastanislawska commented on #22250
It's not that missing field in ps_tab, i had it
downgrading to php7.3 doesnt help (obviously)
`bin/console doctrine:schema:update --dump-sql` says
     `ALTER TABLE ps_tab_lang ADD CONSTRAINT FK_CFD9262DED47AB56 FOREIGN KEY (id_tab) REFERENCES ps_tab (id_tab);`
and this fails with `ERROR 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`admin_dreams`.`#sql-a64_fbe4`,

[2020-12-05 04:03] straitskapitan commented on #22250
It seems that the permissions was changed as it does the upgrade. prior to that I have already set the permissions correctly for all folders and files within :

find . -type d -exec chmod 0755 {} \;
find . -type f -exec chmod 0644 {} \;

Advanced > Info > shows that the permissions was correct prior to upgrade. After upgrade, the same page shows as Cache folder having permission issue.

1) When I

[2020-12-05 04:49] majastanislawska commented on #22250
what works for me is:
(in `classes/controller/AdminController.php`)

[2020-12-05 06:41] majastanislawska opened #22258 "1.7.7.0 Uncaught TypeError: formZoneElem.magnificPopup is not a function"
#### Describe the bug

Since upgrade to 1.7.7.0 various javascript stuff on back-end doesn't work leaving trace of `something is not a function` in browser console
Lack of product image upload being most annoying, hence subject.

Upgrade was from 1.7.5.2, failed on sql update, caught up manually. schema issue seems unrelated
files are unmodified from distribution, except for `classes/controller/Ad

[2020-12-05 06:44] ghost opened #22259 "Monolog logs for front-end / ELK monitoring"
Hi guys,

Hope you are all well !

I wanted to monitor **Prestashop 1.7.x** with the highest debug verbosity as possible for aggregating these data into an ELK stack but I have some difficulties to grab the frontend activity.

# Context
- Load testing PrestaShop 1.7.x in dev mode
- Aggregate apache2,prestashop logs into an ELK stack (Elastic-Logstash-Kibana)
- Create alerts with elastalert on 500/

[2020-12-05 09:17] Chrisi1321 commented on #22250
This Is also working for me! The main menu is back, but I don't know if everything else is working fine!

[2020-12-05 09:43] mrabsinthe opened #22260 "Installation keeps failing at 67% on Install Addons Modules - 1.7.7.0"
#### Describe the bug
It is not mine first installation, this time I wanted to test 1.7.7.0 so I'm trying to install in a subdomain on a quite powerful server running PHP 7.3. Tested with phppsinfo, all green. Installation keeps failing at 67% on Install Addons Modules.

 If it is a clean installation, why errors? Any ideas please?

#### Expected behavior
The installation goes with no errors

####

[2020-12-05 09:51] tklems commented on #14816
@khouloudbelguith Please see https://www.prestashop.com/forums/topic/1000221-ps_mainmenu-deactivates-itself/
This a terrible bug. How could you close it as "Can't Reproduce"?
It makes whole Prestashop useless.
So typical and so frustrating for PrestaShop. I regret so much choosing PrestaShop...

[2020-12-05 09:59] kpodemski commented on #14816
@tklems it's hard to help if there's no way for QA member to reproduce issue, if you have instructions of how to reproduce it let us know :)

[2020-12-05 10:27] passio777x opened #22261 "Availability preferences is edited in All Shop mode and shouldn't be."
Hi... My multishop with shared quantity become everyday a biggest nightmare.. They is bugs everywhere.
then, I finally found the reason of a bug I got from a long time about Availability preferences.

So, with prestashop 1.7.6.8 : You can only access to stock if you are in a special shop (not all shop).
The problem occurs in availability preferences of a product : "default" or "accept orders" is s

[2020-12-05 11:35] DPStudioGR opened #22262 "Email sending error (response code 220) after upgrade to 1.7.7"
After i upgraded to 1.7.7 i started havng customers call me and say that they got no email or response that their account or message was created/sent..

i went into email settings and tried to send an email and i got the following message..
###############################
Error: Please check your configuration

Expected response code 220 but got an empty response
##################################

[2020-12-05 12:16] CJH297 commented on #22248
I have a similar situation. Upgrade from 1.7.6.9 to 1.7.7.0, modules current, 1-click reports everything green. Upgrade forced on me to comply with php by hosting ...

Upgrade completed with errors reported (elided with xxxxxxxxx for path):

[INTERNAL] /xxxxxxxxxxxxxxxxx/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 168 - Symfony\Component\Config\Exception\FileLoad

[2020-12-05 12:19] Chrisi1321 commented on #22250
I just launched a new test shop on cloudways. The fresh installation is a 1.7.6.1 system. I upgraded first all modules and then upgraded to 1.7.7.0. The upgrade should no error but the main menu is also missing in this upgrade. So it must be related to cloudways / and or permissions

[2020-12-05 13:01] kpodemski opened #22263 "Invalid product prices after order edit (eg. tracking number, address)"
#### Describe the bug

When you edit shipping in existing order, PrestaShop resets product prices.

#### Expected behavior

Of course product prices should always stay same when you edit shipping method.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Set product price (doesn't matter which product) to 1000 USD/EUR/PLN (doesn't matter)
2. Order it, select paid shipping.
3. Finish or

[2020-12-05 13:07] CJH297 opened #22264 "Upgrade 1.7.6.9 to 1.7.7.0, BO and site inaccessible - FileLoaderLoadException: Expected to find class A but it was not found"
#### Describe the bug
I have a situation. Upgrade from 1.7.6.9 to 1.7.7.0, modules current, 1-click reports everything green. Upgrade forced on me to comply with php by hosting ...

#### Expected behavior
No error thrown after the upgrade

#### Steps to reproduce

1. Your shop must be **1.7.6.9**
2. **BO**>**IMPROVE**>**Modules**>**Module Catalog**
3. Install **1-click upgrade** module v4.11.0
4.

[2020-12-05 13:08] CJH297 commented on #22248
Transferred to new issue, as in retrospect this seemed more suitable

[2020-12-05 13:15] ajpresta commented on #21503
Hello,

does someone have a solution for it? ean search?

[2020-12-05 13:20] matks commented on #22258
Hi, this look similar to issue https://github.com/PrestaShop/PrestaShop/issues/22255 which has a workaround, can you check and tell if it is the same issue (and if the workaround works) ?

[2020-12-05 13:24] matks commented on #22262
Hi, in PS 1.7.7.0 we had to disable the use of `mail()` for security reasons (details https://github.com/PrestaShop/PrestaShop/pull/20124).

But `/usr/sbin/sendmail` or SMTP should work fine 🤔 .

[2020-12-05 13:26] matks commented on #22264
Hi @CJH297 what version of the autoupgrade module have you used?

[2020-12-05 13:36] CJH297 commented on #22264
Latest version 4.11.0, all modules checked and all were current and up to date before the upgrade was attempted

[2020-12-05 14:11] Chrisi1321 commented on #22250
Not sure if I have solved the issue completely but this works for me.
It seems that the table ps_tab has been renamed to active

classes/controller/AdminController.php

on line 2083

  foreach ($tabs as $index => $tab) {
            if (!Tab::checkTabRights($tab['id_tab'])
                || !$tab['**enabled**']
                || ($tab['class_name'] == 'AdminStock' &&

to

  foreach ($tabs as $in

[2020-12-05 14:11] jajarom commented on #22264
Same here!

[INTERNAL] /home/dual34/public_html/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 168 - Symfony\Component\Config\Exception\FileLoaderLoadException: Expected to find class "PrestaShopBundle\Controller\Admin\Sell\index" in file "/home/dual34/public_html/src/PrestaShopBundle/Controller/Admin/Sell/index.php" while importing services from resource "/home/dua

[2020-12-05 14:26] tklems commented on #14816
Thank you, @kpodemski, well that is a problem... See above. It is random! @banan44 tried really hard and nothing.
But we know it is there. For several users, different versions, different themes.
Multi store does not matter.
It happens after saving a product, a category or changing a module. Sometimes.
It also happens without BO action at all. So it might be scheduled tsk like reindexing or some s

[2020-12-05 14:52] majastanislawska commented on #22258
html source did not indicated jquery being loaded twice, but following hint l checked sources of all modules hooking to displayBackOfficeHeader.
culprit was shipping module InPostShip (thats parcelmodel style carrier in poland),
that had `$this->context->controller->addJS('/js/jquery/jquery-1.11.0.min.js');` commenting that out solves problem.
This was working fine prior to upgrade,
Shouldn't cont

[2020-12-05 16:18] Art3c commented on #22248
@matks Do you need more info on the server configuration?

[2020-12-05 17:10] tklivan opened #22265 "Upgrade to 1.7.7.0 fail at database connection"
Same error encountered at autoupgrade and also manual upgrade

PHP Warning:  PDO::query(): MySQL server has gone away in /PSROOTFOLDER/classes/db/DbPDO.php on line 165
PHP Warning:  PDO::query(): Error reading result set's header in /PSROOTFOLDER/classes/db/DbPDO.php on line 165
PHP Fatal error:  Uncaught PrestaShopException: Link to database cannot be established: SQLSTATE[HY000] [2002] Connectio

[2020-12-05 17:12] SimonGrn commented on #22265
Hello @straitskapitan,

your server didn't handle the charge, this is a performance issue.
You need to upgrade it.

Thank you !

[2020-12-05 17:49] straitskapitan commented on #22265
This doesnt make sense.

You are telling me that less than 24 hours ago the upgrade was ok and that my database handled the changes to the database without any issues. Now 24 hours later it fails at this point?

I reverted to 1.7.6.4 due to issue #22250

I am very certain that my DB in AWS is more than sufficient to handle any load thrown at it. Considering it is running at 1% always.

[2020-12-05 17:56] straitskapitan commented on #22265
in var/log/prod.log

error is

[2020-12-05 18:55:00] app.ERROR: The addon with id 29992 does not have name. [] []

hmmm

[2020-12-05 18:04] straitskapitan commented on #22260
app.ERROR: The addon with id 29992 does not have name

What error is this. I am getting this now.

[2020-12-05 18:06] straitskapitan commented on #22260
I raised this in #22265 but was closed citing database performance. But I have the same error as yours and my DB is on AWS and running at 1% load.

[2020-12-05 18:10] Stampa-Stampa commented on #22262
Still... i have 4 Prestashop installations that now give this error..

[2020-12-05 18:27] marcydude commented on #22155
there are also no console errors when enabling debug mode

however I do seem some translation errors and a doctrine error in the symphony profiler

below is the entity mappign error (under the doctrine header)

image.thumb.png.0a8bbeb82c8a664b0bf4ebc40b723ccf.png

[2020-12-05 18:28] marcydude commented on #22155
![image](https://user-images.githubusercontent.com/75242807/101260417-01051400-3730-11eb-9567-5b37c1a47854.png)

[2020-12-05 18:36] SimonGrn commented on #22265
This error log
[code]
is definitely indicating a MySQL server not responding. My first impression is then that it is not dimensioned properly. I cannot know before you tell me that you tried an upgrade previously without trouble ?

We usually close issues when people don't bother following the template, but because this is related to the upgrade I'm gonna make an exception. Please think about foll

[2020-12-05 18:41] SimonGrn commented on #22261
Hello @passio777x

I am very curious as to why you don't want to follow the issue template. This is not the first time if I recall correctly. Is there a good reason ?
Everybody lose time when we have to ask you the informations you should give when you follow the template. Could you please think about the people who will have to look into your issue and try to fix them, for free ?
Thank you in adv

[2020-12-05 18:41] #22261 closed, assigned to nobody

[2020-12-05 18:42] SimonGrn commented on #22262
Hello @Stampa-Stampa
we need more information. When you create an issue, there is a template with some sections you're supposed to fill with the correct information, not delete everything...
Could you please do that ?

Thank you in advance.

[2020-12-05 20:09] CJH297 commented on #22264
I have a partial solution to the restore failure on my site. 1-click attempted to update from 1.7.6.9 to 1.7.7.0, and failed with the reported errors. A full restore failed to function. I worked out that some files or data entries in the database must have remained and were interfering. I restored to an empty folder and a new database and it worked. So, I am still unable to update (a requirement b

[2020-12-05 20:45] matks commented on #22258
We upgraded jQuery version in BO from v1.1 to v3.4 (details https://devdocs.prestashop.com/1.7/modules/core-updates/1.7.7/).

This module does something quite bad which is it injects jQuery itself. PrestaShop is supposed to take care of that, there is a function especially for that `addJquery()`.

Maybe when the module was loading jQuery 1.1 AND PrestaShop was loading jQuery 1.1 there was no issue

[2020-12-05 20:47] matks commented on #22258
I close this issue as the problem comes from the module but I think we'll hear about other modules that do this mistake too 😅 . Well ... they now know what they need to do to ensure compatibility with PS 1.7.7

(and it's better we have jQuery 3.4 in BO rather than old EOL jQuery 1.1)

[2020-12-05 20:47] #22258 closed, assigned to nobody

[2020-12-05 21:00] matks commented on #22260
Hi, I think `app.ERROR: The addon with id 29992 does not have name` is not responsible for the issue. It's a warning about a module that has incomplete configuration but that is not supposed to stop the install.

There must be something else that creates the issue 😞

[2020-12-05 21:00] matks commented on #22265
As @SimonGrn mentioned, the issue is that your MySQL server either timed out or closed the connection.

Maybe you have a very big shop database and the queries to upgrade are too long so MySQL timeout? You can try increasing MySQL timeout setting. Even if your MySQL service has huge capacity, a bad setting is enough to prevent it from correct behavior 😄

[2020-12-05 21:02] majastanislawska commented on #22258
Sure, Thanks.
There is way more things around here that approach EOL ;-)
Good luck.

[2020-12-05 21:23] Stampa-Stampa commented on #22262
Hi there...
The section you mention has nothing to fill or delete when you use the default option (/usr/sbin/sendmail)..
Moreover it was working fine before the update.
Cant understand why Prestashop decided to move with such a change without being sure there is functionality or at least a workaround.
Nevertheless on other server the email test goes on for ever and it ends up with timeout after 4-

[2020-12-05 22:05] matks commented on #22262
`mail()` has been disabled because it's not secure https://github.com/swiftmailer/swiftmailer/issues/866#issuecomment-289291228

Replacement is `/usr/sbin/sendmail` and SMTP and they work well. In your usecase something seems wrong but it works for standard prestashop environment.

[2020-12-05 22:28] kpodemski commented on #22263
Same issue when you edit existing customer address in order.

[2020-12-06 01:18] straitskapitan commented on #22265
Ok noted and I will follow the template. This is the first time I am opening a bug/issue. Apologies for the confusion and not clear information given.

PS Ver : 1.7.6.4
MariaDB : 10.4.8 (AWS 2cpu 4gb. Max connections 308. Peaked connections 43. Timeout 1800)
Webserver : Nginx
Php Ver : 7.2.34
Catalog size : 600 products/sku

1) Upgraded to 1.7.7.0 and reverted back twice.
2) First time using just

[2020-12-06 08:24] mrabsinthe commented on #22260
I'm trying to install on a server where I'm already running two instances of PS.
Not sure if this helps, but I'm using MySQL version: 10.4.17-MariaDB. Also here's my php.ini:
allow_url_fopen = On
allow_url_include = Off
display_errors = On
enable_dl = Off
file_uploads = On
max_execution_time = 1800
max_input_time = 600
max_input_vars = 10000
memory_limit = 1024M
post_max_size = 128M
session.gc_max

[2020-12-06 09:09] kexuejia commented on #20505
no old files :( only new and different .. i checked also default installation  https://download.prestashop.com/download/releases/prestashop_1.7.7.0.zip but no luck ...
the problem appears only if use own hook in module like recommended here  https://devdocs.prestashop.com/1.7/modules/concepts/hooks/use-hooks-on-modern-pages/
despite that $this->isSymfonyContext() is true it's not possible to get s

[2020-12-06 16:22] Hlavtox commented on #22262
@matks I told you this is going to be a problem... We asked all major hosting providers in Czech republic and all of them refused to enable sendmail. 😞

[2020-12-06 16:24] Fer5320 opened #22266 "I can't see the orders after updating to Prestashop 1.7.7.0 - Unable to load template file helpers Twig"
After updating to Prestashop 1.7.7.0 from 1.7.6.9 I cannot see the orders, since I get this error
An exception has been thrown during the rendering of a template ("Unable to load template 'file: helpers / list / list_header.tpl '").
[Twig \ Error \ RuntimeError 0]

Does anyone know how it can be solved? I had to reinstall version 1.7.6.9
Thanks

[2020-12-06 16:42] IJVo opened #22267 "Wrong entry in the must_have_modules_list.xml file => error updating modules"
The file must_have_modules_list.xml contains the entry of the module 'id' = 29992, which does not have the field 'name' filled in. Because of this, any module update crashes. Please fix it.

The error is reflected in the class ModuleCore function getModulesOnDisk() where $modaddons->name from the $xml file is not checked.
This calls with an error when calling Module::isModuleTrusted(), which calls

[2020-12-06 16:49] IJVo commented on #22267
In the class ModuleCore, add after
[code]
    this code

[code]

[2020-12-06 19:31] ForagerFinds opened #22268 "Cart totals and tax fix needed for US vendors who must charge tax on shipping"
Using Ver. 1.6.1.24 , default template, shop fully functional, over 100 products. I like the program generally. Closing many sales with PayPal. There are two shopping cart problems I cannot overcome:
1) Tax computes properly to the "Tax" line, but it is not added to the "TOTAL" line, so when the order arrives at the customer's paypal it is higher than the "TOTAL" reflected in the cart.

2) In NY w

[2020-12-06 19:35] juraj1000 commented on #22098
Hello @prestascott,
it's good idea to replace the section "Click the following..." by carrier section. Now I can see there would be also duplicated carrier name, therefore I propose to remove also carrier name form the second section

![image](https://user-images.githubusercontent.com/33311857/101290413-69242a80-3802-11eb-9cfa-687255749a78.png)

[2020-12-06 20:24] straitskapitan commented on #22265
I have tried again and its the same error.

Database max connections is at 308 but only used 3. So it has nothing to do with my database.

Running upgrade.php in the install/upgrade folder will give me

PHP Warning:  PDO::query(): MySQL server has gone away in /ROOTFOLDER/classes/db/DbPDO.php on line 165
PHP Warning:  PDO::query(): Error reading result set's header in /ROOTFOLDER/classes/db/DbPDO.

[2020-12-06 20:34] matks commented on #22262
I'm sorry but if I don't remember that 😅 but github notifications are like a never-ending rain so I might have missed something.

But once `mail()` has been declared unsafe we cannot keep it. Security comes first. There are hundred email providers available 😊 I dont think we have limited options.

[2020-12-06 20:36] matks commented on #22265
It's possible. MySQL error messages are not always accurate 😄 . Also maybe it could be some issue with MariaDB 10.4.8. For example we know MySQL 8 deprecated some mechanisms available in MySQL 5 so a few settings have to be modified to make it work with PrestaShop (default engine is MySQL 5).

[2020-12-06 20:39] straitskapitan commented on #22265
Just to reconfirm that the file install/upgrade/upgrade.php takes the credentials from app/config/parameters.php?

[2020-12-06 20:41] matks commented on #22267
Hi @IJVo thank you for the bug report! We are going to fix this misconfiguration.

However I dont understand

I just upgraded 2 modules in my PS 1.7.7.0 shop without issues.  Maybe only some modules do crash, if they meet some requirements?

[2020-12-06 20:57] SimonGrn commented on #22268
Hello @ForagerFinds

PrestaShop 1.6 is no longer supported. You can read more [here](https://build.prestashop.com/news/1.6.1.x-what-s-next/).

I'm not sure you understand what an Open Source software is.

I close this issue as we cannot do anything more here. Thank you for your understanding.

[2020-12-06 20:57] #22268 closed, assigned to nobody

[2020-12-06 23:53] IJVo commented on #22267
This will only take effect if the PrestaShop administrator is logged in to Addons and the updated file containing the error is downloaded.

[2020-12-07 02:41] jolelievre commented on #22250
Be careful @photinia73 @Chrisi1321 you are mixing the `active` and `enabled` fields
- `active` has been present for many versions now, it is used to define if a Tab should be visible in the menu or not (invisible menus are mainly used for permissions)
- `enabled` is a new field introduced in 177, it is used when a module is disabled, previously the Tab would stay visible this field allows to hide

[2020-12-07 05:00] leekung commented on #22267
When in dev mode, the ModuleCore throw error and die, this error prevent any module to upgrade. even if the upgrading module doesn't have any error.

[code]

[2020-12-07 08:15] pollat opened #22269 "Problem with prices decimals"
#### Describe the bug

On Prestashop 1.7.6.5 I setted "0" on "General settings > Number of decimals", but on the front-end prices continue to be showed with 2 decimals (for example 200,00€ instead of 200€).

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'General settings'
2. Set "0"on 'Number of decimals'
3. Save
4. Clear cache

#### Additional information

* PrestaShop versi

[2020-12-07 08:18] arisschl commented on #21910
@catlynx @hibatallahAouadni that's great news!
However, we have a PrestaShop environment that we don't simply upgrade to 1.7.7.0. Is there anything known about the fix that is applied to solve this issue?

[2020-12-07 08:18] matks commented on #22248
Also reported on Build https://build.prestashop.com/news/prestashop-1-7-7-0-available/#comment-5175612840

[2020-12-07 08:30] hibatallahAouadni commented on #22254
Hello @dz49

I manage to reproduce your issue with PS1.7.7.0, please see the attached screen record below:

https://drive.google.com/file/d/114FuKOeEvePX63NvA-SWN2O5WSJlwhyH/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

PS: Please, next time, respect the provided **template to

[2020-12-07 08:47] matks commented on #22267
Hi everybody, the issue in must_have_modules_list.xml has been fixed. Be aware that this file is stored in cache by your shop so you need to clear it, and PrestaShop will download the new (fixed) version 😉

[2020-12-07 09:17] hibatallahAouadni commented on #22259
Hello @lucmichalski

Thanks for your issue, the Developer Team will take a look.
Please stay tuned !

Ping @PrestaShop/prestashop-core-developers , do you think it's possible to monitor the frontend logs?
And could you please answer his questions.

Thanks in advance!

[2020-12-07 09:18] matks commented on #22266
Do you have modules hooked on Order page?

[2020-12-07 09:19] matks commented on #22260
The error `app.ERROR: The addon with id 29992 does not have name` is fixed so it should not annoy anymore.

[2020-12-07 09:25] Progi1984 commented on #22113
Fixed by #22241

[2020-12-07 09:25] #22113 closed, assigned to Progi1984

[2020-12-07 09:27] hibatallahAouadni commented on #22260
Hello @mrabsinthe

Thanks @matks for your quick replies and fix :wink:

@mrabsinthe Could you please check if you can install PS1.7.7.0 without problem.
Waiting for your feedback.

Thanks!

[2020-12-07 09:35] hibatallahAouadni commented on #22262
hello @Stampa-Stampa

Could you please provide your previous PS version and your PHP version.

Thanks!

[2020-12-07 09:36] SimonGrn commented on #22266
Hello @Fer5320
could you please think about following the template for issue ?
We don't have precise steps or informations about your environment !

We usually close issues when people don't follow the template but we'll make an exception because it's about the update.

Thank you for your understanding.

[2020-12-07 09:37] Hlavtox commented on #22269
@pollat That setting does not affect the display in FO.

1. Go to your database manager
2. Open ps_currency
3. Edit the currency you want and put 0 into "precision" field
4. Clear cache and there you go. :-)

On 1.7.7, you can manage the "precision" from backoffice, on 1.7.6, you must do it like this.

[2020-12-07 09:40] Hlavtox commented on #22262
@matks Wasn't you, sorry 😄 https://github.com/PrestaShop/PrestaShop/issues/19957#issuecomment-652165599

It's quite a situaliton we can never win. `mail()` is considered unsafe, but `proc_open()` is disabled everywhere, because it poses even bigger threats.

[2020-12-07 09:42] hibatallahAouadni commented on #22267
Hello @leekung

Thanks @matks for your quick replies and fix :wink:

@leekung it seems your issue is fixed.
So I close this issue, feel free to open a new one if you encounter another problem.

Thanks!

[2020-12-07 09:42] #22267 closed, assigned to nobody

[2020-12-07 09:46] #17845 closed, assigned to sowbiba

[2020-12-07 09:46] Progi1984 commented on #17845
@marionf The last PR comes to be merged.

[2020-12-07 09:48] SimonGrn commented on #22262
Reading the [answer ](https://github.com/PrestaShop/PrestaShop/issues/19957#issuecomment-656216190)from @atomiix it seems the other alternative is to use your own SMTP parameters. Is it a viable option for you ?

@Stampa-Stampa I was not talking about the configuration in PrestaShop, I was talking about the issue template, when you create an issue on Github. We have a template with some sections t

[2020-12-07 10:17] hibatallahAouadni commented on #22263
Hello @kpodemski

I managed to reproduce your issue only with PS1.7.7.0 (I didn't managed to reproduce with PS1.7.6.9 & PS1.7.6.7), see the attached screen record below:

https://drive.google.com/file/d/1ZhdqVOhzGUD-ce-_G3cBHoA_oSiWVis4/view

I’ll add this to the debug backlog so that it’s fixed.
If you have already fixed it on your end or if you think you can do it, please do send us a pull reque

[2020-12-07 10:24] kpodemski commented on #22263
@hibatallahAouadni I'm not sure if it's `Minor`, I can imagine dozen scenarios where this issue can lead us to some serious issues related to invoices and order processing as an overall

[2020-12-07 10:28] kpodemski commented on #22263
@hibatallahAouadni

I changed title to be more precise.

This issue is more serious as many "order edit" are causing price refresh, for example:
- inserting tracking number
- changing carrier entirely
- editing customer address

[2020-12-07 10:32] PierreRambaud commented on #15672
He said that it's already possible to do it :)

I'm closing it

[2020-12-07 10:32] #15672 closed, assigned to nobody

[2020-12-07 10:33] hibatallahAouadni commented on #22263
Thanks @kpodemski

I changed the severity to **`Major`**, this bug impact the invoice too.

![image](https://user-images.githubusercontent.com/23308427/101340448-0d988200-3880-11eb-8730-b9b5880e5afa.png)

Thanks!

[2020-12-07 10:36] SimonGrn commented on #22263
🤣

[2020-12-07 10:39] hibatallahAouadni commented on #22250
Hello @Pitt1823

I managed to reproduce the issue while upgarding fresh install 1.7.6.4 (from prestashop.com) to 1.7.7.0 (minor version)
I had no error while upgrading, my PHP version is 7.2.
See the attached screen record below:

https://drive.google.com/file/d/1ZfDhgBDztBoaqODZv6F0cokLkmfxliAH/view

**Screenshot:**

![image](https://user-images.githubusercontent.com/23308427/101340897-9e6f5d80-3

[2020-12-07 10:46] MatShir commented on #22263
hi @kpodemski,
Your issue is a bit related to this https://github.com/PrestaShop/PrestaShop/issues/22192, the order cart reloads and recalculates at any modifications. What do you think of lock the price as specific prices when the order is considered as paid or a invoices is generated? :thinking:

[2020-12-07 10:51] Fer5320 commented on #22266
I have these modules in the hooks:
DisplayOrderConfirmation: Paypal, Google Analytics, Easy Google Customer Reviews y WhatsApp Chat
DisplayOrderConfirmation1: Paypal
DisplayOrderConfirmation2: Customer Reassurance

Thanks!

[2020-12-07 10:56] prestascott commented on #21503
Hi everyone,

Thanks @equipposbarcelona for your request!

I agree with @MatShir that adding an ean13 column will be too much for the table since it has 11 columns already. It will be difficult to read through it.
According to the previous interviews, some of our merchants use the reference to find the right product they are looking for, so this column cannot be replaced by the ean13 by default an

[2020-12-07 10:56] kpodemski commented on #22263
@MatShir

Actually @jolelievre has a good scenario when in some cases we need to update prices because for example tax rules are different (country is different) - this is very rare scenario but it has to be checked, that's for sure.

Yes, it is related.

I was discussing it with @jolelievre some time ago that in my opinion we shouldn't allow some modifications in order if there's an invoice or or

[2020-12-07 10:58] PeNov commented on #22242
Hi @matks,

yes, it is bad. Hosting provider offer only 7.0 or 7.3. I waited on the PS 1.7.7.0 which fully support PHP 7.3. But I am not able upgrade now by standard way.

Is it possible change something in code for allow lower PHP version?
I think upgrade should available because PS 1.7.6.9 support PHP 7.0 (https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/)

I have more

[2020-12-07 11:07] hibatallahAouadni commented on #22265
Hello @straitskapitan

error is
[2020-12-05 18:55:00] app.ERROR: The addon with id 29992 does not have name.

Do you still get this error? Cause it seems this issue has been fixed #22267
Please check and feedback.

Thanks!

[2020-12-07 11:08] matthieu-rolland commented on #22266
Could you disable these modules, and see if your orders appear again ? Then, if it does come from a module: re-enable those modules one by one to see which one is breaking the order page ?

[2020-12-07 11:12] prestascott commented on #21503
Hi everyone,

Thanks @equipposbarcelona for your request!

According to the previous interviews, some of our merchants use the reference to find the right product they are looking for, so this column cannot be replaced by the ean13 by default and must be at least optional. So imo, this isn't the best solution.

I agree with @MatShir that adding an EAN13 column can be a lot for this stock table sin

[2020-12-07 11:12] marionf commented on #22237
@hibatallahAouadni Is it a regression ?

@atomiix Do you know if the fix should be done in the module or in the core ?

[2020-12-07 11:13] marionf commented on #22231
@hibatallahAouadni Could you check if it's a regression ?

[2020-12-07 11:13] hibatallahAouadni commented on #22266
Hello @Fer5320

Could you please follow the steps listed by @matthieu-rolland above, and check if the problem is launched by a module.

Thanks!

[2020-12-07 11:23] equipposbarcelona commented on #21503
Custom display would be the best option

[2020-12-07 11:23] jolelievre commented on #22263
I'm gonna make a POC to fix this issue and see where behat tests fail, then we can decide for each use case what we should do, but basically we all agree that we shouldn't force product prices so:

- product prices should depend on OrderDetail values saved at the moment the order was created
- the thing is we rely on Cart for all computations, so I'm gonna try and see if I can modify it so that it

[2020-12-07 11:24] atomiix commented on #22237
@marionf the fix should be done on the core

[2020-12-07 11:28] straitskapitan commented on #22265
As of last upgrade attempt, I still get that error. I will attempt the 4th time tonight and will feedback.

[2020-12-07 11:31] straitskapitan commented on #22265
I have been running on Maria for last 6 months without any issues ... I really hope its not an issue with MariaDB not being compatible with Prestashop 1.7.7.0

[2020-12-07 11:32] kpodemski commented on #22263
You're right, it's tricky, especially in these two:

when someone already placed an order, I'm not sure if we should apply any other CartRules to it, maybe it's something to discuss with merchants, merchant can easily create custom discount or change product price manually to have full control over order and prices 🤔 if someone wants to add 1 extra unit of product after placing an order to match s

[2020-12-07 11:36] straitskapitan commented on #22265
<img width="1179" alt="Screenshot 2020-12-07 at 7 34 59 PM" src="https://user-images.githubusercontent.com/5525184/101346354-61788a80-38c3-11eb-8ec4-9c2b1fee819a.png">

<img width="1192" alt="Screenshot 2020-12-07 at 7 35 09 PM" src="https://user-images.githubusercontent.com/5525184/101346427-79500e80-38c3-11eb-9234-671f0013689b.png">

Additional information. Do I need to upgrade php to 7.3?

[2020-12-07 11:40] Prestaplugins opened #22270 "Issue with gift vouchers with an empty cart"
#### Describe the bug
1st problem : when you have a cart rule offering a free product WITHOUT CODE (so automatically added), and you remove the NORMAL products from the cart, then the quantity of the free product is modified to 2 !!
When the voucher HAS A CODE, if you remove all the normal products from your cart, then the cart is emptied even if some vouchers are remaining. So the behavior is not

[2020-12-07 12:09] photinia73 commented on #22250
Hello @jolelievre

I will update PS again with
1. Cleaning all cache (I have permission)
2. I will check the ps_tab and if the column 'enamble' will be absent agin, then add it as @PululuK suggested

Ufter this will write about the result, thanks!

[2020-12-07 12:31] mrabsinthe commented on #22260
Hello,
it is still the same I'm afraid, error 404. No errors in prod.log. In the meantime, I managed to install PS with the same host on a shared! server and no issues. The only difference I can think of (apart from the performance), is that I use MariaDB and Cloudflare DNS on my VPS, could this be the problem? But even if I set Proxy status to DNS only, it is still failing to install.

[2020-12-07 12:51] hibatallahAouadni commented on #22269
Hello @pollat

This issue has been fixed in our new patch 1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1HMQLYWnGOc5xhVhKWgHS8O8mGSsuj7yO/view

As @Hlavtox mentionned above, follow his steps you solve can your issue.
Thanks @Hlavtox for your quick replies and fix :wink:

So, I close this issue.

Thanks!

[2020-12-07 12:51] #22269 closed, assigned to nobody

[2020-12-07 12:55] hibatallahAouadni commented on #22269
Duplicate of #12223

[2020-12-07 13:03] jolelievre commented on #22250
I just tested upgrade 1.7.6.4 to 1.7.7.0 with PHP 7.2 and I still can't reproduce the bug

For people who have the issue, could you tell us what is the state of the DB after the upgrade, because since the beginning we mainly guess that it comes from the DB but I'd like to be sure it is actually the real issue ^^

Can you check:
- in your DB if the `enabled` field has been added
- if yes are all th

[2020-12-07 13:07] Chrisi1321 commented on #22250
Hello @jolelievre

Is it possible to share some account details with you?
I could set up a test system on cloudways and then you can try the update by yourself.

[2020-12-07 13:24] MatShir commented on #22029
One solution:
Can't edit the price below eco-tax

[2020-12-07 13:25] Chrisi1321 commented on #22250
This is the structure of 1.7.7.0 of ps_tab

![image](https://user-images.githubusercontent.com/11335735/101356210-07ae9b00-3898-11eb-90ca-bb9364ca5d50.png)

[2020-12-07 13:44] LaureMatou opened #22272 "Display error (text wrongly encoded) in the payment page 1.7"
In PrestaShop 1.7, in the payment page, the text seems wrongly encoded.
Example with Revolut:
![image](https://user-images.githubusercontent.com/33054143/101357621-fb2b4200-3899-11eb-9b90-9c27304a91a1.png)
" you & # 3 9 ; l l  be able " (I'm separing the characters otherwise GitHub is encoding the text correctly to "you'll be able")

The test was done with Machine Shuffle 1.7.7.0
The text is corre

[2020-12-07 13:57] Stampa-Stampa commented on #22262
I finally managed to setup smtp but still more problems apear ...
I have added a new issue...

[2020-12-07 14:18] DPStudioGR opened #22273 "Payment step not working"
Customers end up using chat as after they..
1) place an order
2) create acount
3) add address
4) Choose shipping option
instead of moving to next step which is payment option i get the following page
Which is a page for the client to check his info or return back to shopping..
![Untitled-2](https://user-images.githubusercontent.com/53015902/101361454-a989b400-38a7-11eb-92c2-b05ac71a0e9a.jpg)

What

[2020-12-07 14:23] ForagerFinds commented on #22268
Thank you for the reply. Do you know if any of the issues were dealt with in version 1.7?

[2020-12-07 14:29] hibatallahAouadni commented on #22272
Hello @LaureMatou

I managed to reproduce the issue with PS1.7.6.7, PS1.7.6.9 and PS1.7.7.0, see the attached screenshots below:

**PS 1.7.7.0**

![image](https://user-images.githubusercontent.com/23308427/101362094-f23d6f00-389f-11eb-8319-6dbc6e4ed648.png)

**PS1.6.1.20**, I didn't manage to reproduce it:

![image](https://user-images.githubusercontent.com/23308427/101362932-0afa5480-38a1-11eb-88

[2020-12-07 14:37] PierreRambaud commented on #22272
Hi and thanks for your report.

Isn't a duplicate from #21298 ? Shouldn't be fixed in the MBO module? :)

[2020-12-07 14:38] hibatallahAouadni commented on #22272
@PierreRambaud exactly !!

[2020-12-07 14:44] MadArtOrigin commented on #22230
ty for your response, but ...
maybe I haven't explained myself.

I have already activated the subcategories. With the check.
But it's the filter that doesn't work in the front-end.

There is a bug whit the filter.

Solution ?

[2020-12-07 14:45] PierreRambaud commented on #22259
Hi and thanks for your report.

Because the FO is still in legacy whereas the BO is partillay migrated in Symfony, we hope to finish it quickly after the Product Page :)

Yes it is, we can also add hook inside the Profiling tool if you need if some are missing.

Afaik, no, maybe @jocel1 have an idea about how to do it ^^

ref. https://blog.floriancourgey.com/2018/05/how-to-work-with-the-symfony-ke

[2020-12-07 14:58] hibatallahAouadni commented on #22273
Hello @Stampa-Stampa

Could you please provide your **PS** version and **PHP** version. And if you upgraded your shop to 1.7.7.0, please provide your old version PS.
Please next time **follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue

[2020-12-07 15:02] hibatallahAouadni commented on #21962
Hello @Mch0

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-07 15:02] #21962 closed, assigned to nobody

[2020-12-07 15:04] hibatallahAouadni commented on #21911
Hello @barbosatrix

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2020-12-07 15:04] #21911 closed, assigned to nobody

[2020-12-07 15:09] Jojo-Kaly opened #22275 "1.7.7 upgrade error Expected to find class PrestaShopBundle\Controller\Admin\Sell\index in file"
Hi !

I tried to upgrade my Prestashop from 1.7.6.3 to 1.7.7 with 1-Click Upgrade 4.10.1 but I have an error 500 in back office.
See screenshot to see errors.
PHP version 7.2.34.

Thank you for your help.

<img width="1440" alt="Capture d’écran 2020-12-07 à 12 32 28" src="https://user-images.githubusercontent.com/59056657/101367534-8dd1de00-38a6-11eb-8137-cf97154e4428.png">

[2020-12-07 15:17] #15267 closed, assigned to PierreRambaud

[2020-12-07 15:18] #9946 closed, assigned to NeOMakinG

[2020-12-07 15:24] atomiix commented on #22264
@CJH297 It seems that you have a file named `index.php` in `src/PrestaShopBundle/Controller/Admin/` that [shouldn't be there](https://github.com/PrestaShop/PrestaShop/tree/1.7.7.x/src/PrestaShopBundle/Controller/Admin/Sell).

[2020-12-07 15:29] knopfen commented on #22273
I have the dame issue. It seems to be a problem of the PayPal Module / AddOn … after deactivating it, the check out process process works fine - well, without offering PayPal as payment method which is bad.
(Prestashop 1.7.6.4 and 1.7.7.0, Multishop, PayPal Module v5.3.0)

[2020-12-07 15:31] hibatallahAouadni commented on #22220
Hello @unlocomqx

Well, I installed your module in PS1.7.6.9 and PS1.7.7.0, and I didn't see the difference.
First, I couldn't add html code in Customization field (if it was text/file), see the attached screen record below:

**- Text:**
https://drive.google.com/file/d/1n_99YP3oxNVfrfjxz7ZRJ_WXvn7jIdMS/view

**- File:**
![image](https://user-images.githubusercontent.com/23308427/101370273-9546b680

[2020-12-07 15:42] hibatallahAouadni commented on #22155
Hello @marcydude

Thanks for you feedback!
Ping @PrestaShop/prestashop-core-developers has anyone encounter this problem or had an idea about this issue source?

Thanks in advance!

[2020-12-07 15:49] CJH297 commented on #22264
Thanks for taking a look at the message. I just checked and there is no file named index.php in that folder. If something is looking for a file there, is that not the problem ... but I am already in way out of my depth (reporting a failure to upgrade, knowing nothing about code). There is an index.php in ../Controller however (it is 0kb and has no content), but there is nothing of that name in ../

[2020-12-07 15:54] PierreRambaud commented on #22264
@CJH297 It's because of autowiring, you need to remove this index.php file in your directory, it fails because of this.

[2020-12-07 15:55] PierreRambaud commented on #22275
HI @Jojo-Kaly
Could you please give us the full Error stack trace please?

[2020-12-07 15:56] SimonGrn commented on #22275
Hello @Jojo-Kaly

Is this a typo ?

[2020-12-07 15:57] CJH297 commented on #22264
You mean remove the index.php file in ../Controller ... yes? But I see there is the same file in a totally different installation, of 1.6.4.4 - 0kb file in the same place. So this file is being created consistently and isn't a 'stray' - it's in more than one shop like this (sorry, 'autowiring' means nothing to me; I'm just a user)

[2020-12-07 15:59] jem-here commented on #19430
I have tried to add the counties and remove UK from EU in this gb.xml. The import works for 1.7.7.0 I would like to automate the inclusion of states (counties in UK speak) to produce a drop down list for customer sign ups as per USA for instance. I have added the tax rules for UK in same way as USA but not sure it's needed or even if the order and numbering is relevant. I'd ultimately like to make

[2020-12-07 16:00] PierreRambaud commented on #22155
This message refers to a doctrine error, which isn't related to the Front Office.
I don't manage to reproduce the issue too.

[2020-12-07 16:04] SimonGrn commented on #22273
Hello @Stampa-Stampa,
You're still not following the template. Please follow the template so we can get all the informations we need at first glance.

I close this issue, please be aware we will not be accepting more issue like this.

Thank you for your understanding.

[2020-12-07 16:04] #22273 closed, assigned to nobody

[2020-12-07 16:13] PierreRambaud commented on #20276
If you insert the value in the database twice the error is logic, it's a duplicate.
The problem come from the fact that in `actionProductSave` you have to rely on `id_product` instead of `$product->id` because this one is empty.

I create a new product with the hook and everything is ok:
![image](https://user-images.githubusercontent.com/1462701/101375179-63d0e980-38af-11eb-9716-4dc44e3edb9d.png)

[2020-12-07 16:18] DPStudioGR opened #22276 "Payment Step not working...."
Customers end up using chat as after they..
1) place an order
2) create acount
3) add address
4) Choose shipping option
instead of moving to next step which is payment option i get the following page
Which is a page for the client to check his info or return back to shopping..
![Untitled-2](https://user-images.githubusercontent.com/53015902/101375612-481e1100-38b8-11eb-9885-870cff49eb24.jpg)

What

[2020-12-07 16:19] Stampa-Stampa commented on #22276
I also deactivated paypal and the error was cleared and payment options were available (without paypal)

[2020-12-07 16:25] Stampa-Stampa commented on #22262
My Prestashop version is 1.7.7.0 and my php version is 7.3.23

[2020-12-07 16:26] hibatallahAouadni commented on #22265
Hello @straitskapitan

I believe you don't need to change it cause PHP7.2 is compatible with PS1.7.7.0 see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart).
@matks please correct me if I'm wrong :sweat_smile:

Thanks!

[2020-12-07 16:27] SimonGrn commented on #22276
Hello,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be glad t

[2020-12-07 16:27] #22276 closed, assigned to nobody

[2020-12-07 16:29] hibatallahAouadni commented on #22260
Hello @mrabsinthe

Thanks for your feedback!
Ping @matks @atomiix @jolelievre I think these details may help you :sweat_smile:

Thanks for your hard working :smile:

[2020-12-07 16:39] hibatallahAouadni commented on #22155
@PierreRambaud thanks for your quick reply :rocket:

@marcydude It seems your issue is related to your database, yet neither me nor @PierreRambaud could reproduce it.
So, I'm closing this issue cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, pl

[2020-12-07 16:39] #22155 closed, assigned to nobody

[2020-12-07 16:43] PierreRambaud commented on #20230
I don't think we have something to change right now. Maybe we will have to refactor the ps_faviconnotification module.
But since these calls are only in the BO, it costs nothing to keep them right now.

[2020-12-07 16:45] hibatallahAouadni commented on #22262
Hello @Stampa-Stampa

I said clearly your previous version :sweat_smile: So what was your shop version before upgrade.

Thanks!

[2020-12-07 16:48] hibatallahAouadni commented on #13794
Hello @musaffar-patel

I didn't manage to reproduce the issue with PS1.7.7.0, see the attached screen record below:

https://drive.google.com/file/d/1uxVebmH8ylovl_Y-eWUDUeJu66XY1JRj/view

Please check and feedback.

Thanks!

[2020-12-07 16:54] matks commented on #22273
Well, we released a [Beta 1](https://build.prestashop.com/news/prestashop-1-7-7-0-beta-release/) then a [Beta 2](https://build.prestashop.com/news/prestashop-1-7-7-0-beta2-release/) then a [Release Candidate 1](https://build.prestashop.com/news/prestashop-1-7-7-0-rc-release/) over half a year so that everybody could test this version and tell us about the bugs ... looks like it was not enough 😅

D

[2020-12-07 17:05] marionf commented on #22254
@hibatallahAouadni isn't it a duplicate of #9809 ?

[2020-12-07 17:09] 8ternity commented on #16004
Just a reminder, locales code and language code need to changed like this :
[Refer to here](https://github.com/PrestaShop/PrestaShop/issues/16004#issuecomment-651177784)

[2020-12-07 17:12] marionf commented on #21298
Duplicate of #22272

[2020-12-07 17:27] hibatallahAouadni commented on #22254
@marionf yes it's similar

@dz49 It seems that your issue is already in our debug roadmap, so I close this issue.

Please follow the issue mentioned above to get notification when it's fixed.

Thanks for understanding!

[2020-12-07 17:27] #22254 closed, assigned to nobody

[2020-12-07 17:34] hibatallahAouadni commented on #22254
Duplicate of #9809

[2020-12-07 17:36] ajejebrazorf01 commented on #20252
Nothing?

[2020-12-07 18:12] unlocomqx commented on #22220
@hibatallahAouadni It's okay, we discussed the PR and it wasn't accepted, so I will close this issue
I found another way to avoid this problem
Kind regards

[2020-12-07 18:12] #22220 closed, assigned to nobody

[2020-12-07 18:31] agroundworld opened #22278 "Pagination is not working on Product Quick Navigation Popup 1.7.7"
#### Describe the bug

After upgrading from 1.7.6.9 to 1.7.7.0, the pagination on the quick navigation popup no longer works.  In 1.7.6.9 when I scrolled to the bottom of navigation screen I could use the pagination to move to the next page of products.  This is now not available.  Screenshot attached.

#### Expected behavior

Ability to paginate on larger product lists

#### Steps to Reproduce

S