[2022-08-09 17:27] hibatallahAouadni commented on #29285
Hello @01Kuzma

We only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://pres

[2022-08-09 17:27] #29285 closed, assigned to nobody

[2022-08-09 17:36] hibatallahAouadni commented on #29286
Hello @adviva

I didn't manage to reproduce the issue, see the attached screenshot and screen record below:

![image](https://user-images.githubusercontent.com/23308427/183721944-a980ebf2-12e0-430d-9579-4fc61f555d36.png)

https://user-images.githubusercontent.com/23308427/183721828-b4533d48-3123-4498-bfd2-367a16b141d5.mp4

Please check and feedback.

Thanks!

[2022-08-09 17:42] hibatallahAouadni commented on #29287
Hello @PrestaEdit

I didn't manage to reproduce the issue with PS800, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/183723007-52a67355-0ac4-46aa-8509-5b4a9c322a5e.mp4

Please check and feedback.

Thanks!

[2022-08-09 18:50] NWNex commented on #29133
pleassesee the scrresnshot below
thank you
![git](https://user-images.githubusercontent.com/109759732/183738139-d06efab8-10de-4be6-85c5-83946d5adbcf.png)

[2022-08-09 22:09] alfonsolr09 commented on #28915
still not working on a fresh install on xampp

[2022-08-09 22:11] alfonsolr09 commented on #28915
https://watch.screencastify.com/v/F4OY8h3PWrkG0gDcalYM
@sLorenzini

[2022-08-09 23:06] alfonsolr09 opened #29296 "specific price only for a specific customer no works"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

https://watch.screencastify.com/v/N

[2022-08-09 23:10] alfonsolr09 opened #29297 "improve page of specific prices in the page of creation of a product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-09 23:14] alfonsolr09 commented on #28912
What is the point of applying a discount to a specific price? It is what I do not understand and that is why I said that I think it does not make much sense to be able to have both boxes active at the same time

ping @hibatallahAouadni @sLorenzini

[2022-08-09 23:19] alfonsolr09 commented on #29283
I don't think it's an error, there is no problem with save without a name as long as it appears in the list of products and the hidden product or some similar bug is not created

[2022-08-09 23:30] alfonsolr09 commented on #29283
I mean errors on the old product page like:
https://github.com/PrestaShop/PrestaShop/issues/9945
https://github.com/PrestaShop/PrestaShop/issues/19913
https://github.com/PrestaShop/PrestaShop/issues/18822#issuecomment-619960816

[2022-08-10 07:06] 01Kuzma commented on #29285
@hibatallahAouadni, but literally it's a bug. Session cookie must be set only for a session period, not for 53years

[2022-08-10 07:20] szavadskiy commented on #29283
![ksnip_20220810-091427](https://user-images.githubusercontent.com/90208051/183838631-9482ae05-fae9-4f1e-9769-b1409c781b00.png)
If the product is online the name can be saved with less than three characters, in the first and second cases (product online/offline) the behavior is different from Product V1

[2022-08-10 07:53] adviva commented on #29286
Hi @hibatallahAouadni,  seems the decorate is not working in your video.
See the controller name inside Symfony’s debug bar (screenshot underneath)

<img width="1440" alt="Schermata 2022-08-10 alle 09 31 20" src="https://user-images.githubusercontent.com/26090185/183843621-b4963d72-82a4-4b75-abc3-c0b48fd344cb.png">

I would expect like this screenshot

<img width="1428" alt="Schermata 2022-08-10 a

[2022-08-10 08:32] gennaris opened #29298 "Slow loading times of BO page "Price Catalog Rules" due to full smarty cache clear at every load"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you have a lot of smarty cache ,

[2022-08-10 08:46] la-lisa commented on #28757
@josecarlosphp unfortunatelly the issue was again closed by prestashop. Because the issue is not that easy to reproduce - but i also have more than 10 duplicated invoice numbers in our shop. Which is a very big issue, especially for data security.

[2022-08-10 09:02] Hlavtox commented on #29298
It was added in this commit, but god knows why :D https://github.com/PrestaShop/PrestaShop/commit/2556d64f6e1cfd636dc4152dadc7ff61c5433cd7

[2022-08-10 09:15] AureRita commented on #29297
Hi @alfonsolr09

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone else

[2022-08-10 09:17] #23643 closed, assigned to nobody

[2022-08-10 09:55] AureRita commented on #29289
Hi @DelecroixQuentin ,

I reproduce the issue with PrestaShop version 1.7.8.6 and not with the version 1.7.7.8. Nice catch ! It's a regression ! I'll add it to the patch backlog.

Please be aware that some issues might take a very long time to be resolved.

If you want, you can [add your correction to the project](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/). Remember t

[2022-08-10 10:02] szavadskiy opened #29299 "Wrong display of the Shipping label for customers group without TAX in partial refund"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

For customer without TAX when you t

[2022-08-10 11:48] PrestaEdit commented on #29287
I've put my Back Office in english and having the same result.
Quite strange, this.

[2022-08-10 11:53] PrestaEdit commented on #29287
This is the link that I have, that is loaded : https://help.prestashop-project.org/gb/doc/AdminOrders?version=8.0.0&country=gb
Opening it show me the content as my screen capture.

[2022-08-10 11:55] okom3pom commented on #29287
I'm not sure?  Do you both have this PR @PrestaEdit && @hibatallahAouadni

https://github.com/PrestaShop/PrestaShop/pull/29230

[2022-08-10 12:08] PrestaEdit commented on #29287
Yes, @okom3pom ; it's included in the 8.0.0-beta.1 (and on my instance, so).

[2022-08-10 12:18] okom3pom commented on #29287
https://help.prestashop-project.org/en/doc/AdminOrders?version=8.0.0&country=en

https://help.prestashop.com/en/doc/AdminOrders?version=8.0.0&country=en

I see but i can reproduce :o i'll try a new install

[2022-08-10 12:33] okom3pom commented on #29287
I can confirm on a new install the bug

![Screenshot - 2022-08-10T143331 700](https://user-images.githubusercontent.com/5064590/183902293-886b0423-8108-4438-a1cb-a5ad86b81007.png)

[2022-08-10 12:35] okom3pom commented on #29287
If you need screenrecord ask me @hibatallahAouadni

[2022-08-10 12:37] hibatallahAouadni commented on #29265
Hello @Hlavtox

Thanks for all details :pray:
I reproduce the issue with PS8.0.x, PS1.7.8.6 and PS1.7.7.0! I’ll add this to the debug backlog so that it’s fixed.
And thanks for your PR :rocket:

Thank you

[2022-08-10 12:46] #29217 closed, assigned to nobody

[2022-08-10 13:04] Gtulian opened #29300 "Error when I update my shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,
An error appear after upgrade P

[2022-08-10 13:06] AureRita commented on #29296
Hi @ ,

I reproduce the issue with PrestaShop version 8.0.0 and not with the version 1.7.8.7 because it's not available in this version. Nice catch ! I'll add it to the patch backlog.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contac

[2022-08-10 13:45] #29152 closed, assigned to FabienPapet

[2022-08-10 13:55] AureRita commented on #29300
Hi @Gtulian

I don't really understand your issue, from wich version to wich version did you do the autoupgrade, if you do it from 1.7.8.7 to 8.0.0, as we can see on this document : https://build.prestashop.com/news/prestashop-8-0-beta-release/ you should disable ganalytics.
By the way, can you tell me which page are you on? in the FO, in the BO?

I should normally close your issue because I haven

[2022-08-10 14:00] eshraw commented on #29283
Hello @szavadskiy thank you for the issue.

As long as the online product cannot have an empty name we are fine.
While it's a different behavior from ProductV1 regarding the lower character limit for the product name, it's not a bug but rather a change as a product could very well have one or two characters as a name. We will update the specs accordingly.

@hibatallahAouadni it's the expected beha

[2022-08-10 14:00] #29283 closed, assigned to nobody

[2022-08-10 14:01] jolelievre commented on #29286
Hi @hibatallahAouadni and @adviva

I tested your module and I confirmed the two issues:
- the symfony cache is not correctly cleared, seems like the clear action is started but probably fails in between because I can see a `_de` temporary folder, maybe because if the following error about missing service
<img width="284" alt="Capture d’écran 2022-08-10 à 15 58 48" src="https://user-images.github

[2022-08-10 14:02] roja45 opened #29301 "ProductAttribute getAttributeMinimalQty function incorrect"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This function is returning false wh

[2022-08-10 14:20] #29051 closed, assigned to FabienPapet

[2022-08-10 14:22] #29165 closed, assigned to FabienPapet

[2022-08-10 14:23] #28863 closed, assigned to MeKeyCool

[2022-08-10 14:35] AureRita commented on #29299
Hi @szavadskiy  ,

I reproduce the issue with PrestaShop version 8.0.0 and not with the version 1.7.6.5. Nice catch ! It's a regression ! I'll add it to the patch backlog.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a profe

[2022-08-10 14:43] #28848 closed, assigned to nobody

[2022-08-10 14:47] #26548 closed, assigned to Progi1984

[2022-08-10 14:50] #28875 closed, assigned to nobody

[2022-08-10 14:52] AureRita commented on #29298
Hi @gennaris

Thank for your report,
This issue is too technical for me, ping @PrestaShop/prestashop-core-developers, can someone please reproduce this issue ?

Thanks

[2022-08-10 15:01] AureRita commented on #29287
Hi @PrestaEdit

Unfortunately, this issue was mentionned when we tried the PR that add this part, we can see the answer by @matks
https://github.com/PrestaShop/PrestaShop/pull/29230#issuecomment-1206799005

I'll close this issue

[2022-08-10 15:03] moflihmorad opened #29302 "Module Dashproducts Total product views is irrelevant"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In Prestashop dashboard -> Dashprod

[2022-08-10 15:11] PrestaEdit opened #29303 "Using autoupgrade with direct upgrade is not working"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Following this documentation, we co

[2022-08-10 15:12] #28868 closed, assigned to nobody

[2022-08-10 15:12] AureRita commented on #29301
Hi @roja45

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can pr

[2022-08-10 15:12] #29301 closed, assigned to nobody

[2022-08-10 15:13] PrestaEdit commented on #29287
Hope that it will be not forgotten later as it's a comment of  merged pull request, so :)

[2022-08-10 15:14] roja45 commented on #29301
You just need to read the code, you return false when the minimal quantity is 1, and the last time I looked 1 was a valid number.

[2022-08-10 15:20] PrestaEdit commented on #29303
---

[2022-08-10 15:23] PrestaEdit commented on #29303
The class is missing since this Pull Request : https://github.com/PrestaShop/PrestaShop/pull/25794

[2022-08-10 15:33] #28305 closed, assigned to nobody

[2022-08-10 15:35] AureRita commented on #29301
If I follow strictly what you wrote in the steps to reproduce, I'll look at the code and that's all. If I don't know how to read code, how can I reproduce the issue ?

[2022-08-10 15:57] matks commented on #28994
Fixed by https://github.com/PrestaShop/PrestaShop/pull/28752

[2022-08-10 15:57] #28994 closed, assigned to matks

[2022-08-10 16:11] HanaRebaiQA commented on #28147
Hello,

Thank you @MatShir for your ping.
I have checked this issue with `ps_cashondelivery v2.0.1` module on develop. The issue is fixed with the new released version.

Here is my check :

- Uninstall the `ps_cashondelivery v1.0.6` module
- DO

[code]

- Check in BO > Module manager > The module `ps_cashondelivery v2.0.1` is well added
- Go to FO > Add product to cart
- In order confirmation proc

[2022-08-10 16:11] #28147 closed, assigned to nobody

[2022-08-10 19:21] PrestaEdit opened #29305 "Autoupgrade: the CLI action backupFiles or backupDb are not possible"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Use the CLI of autoupgrade module,

[2022-08-10 19:31] musaffar-patel commented on #19640
Can you please provide an example of how to utilise the actionPresentProductListing hook to modify products in the product list?

[2022-08-11 00:20] arafatx commented on #27635
Since this issue has been fixed, can I delete the yaml folder at the root location?

[2022-08-11 06:59] okom3pom commented on #29298
Hello @AureRita

https://user-images.githubusercontent.com/5064590/184079998-28162ce2-98a6-41b3-a1f2-6af26da283dc.mp4

[2022-08-11 08:09] AureRita commented on #29298
Thank you @okom3pom ,

Now I see where the issue come. For me, yes, we have to withdraw this part of code, because it haven't to be here, but currently I'm not a developper and I don't know if it correct maybe some issue with cart rules. So we just have to wait them, sorry

[2022-08-11 08:17] okom3pom commented on #29298
We could replace it by :arrow_down:  to keep the cache removal

[code]

let's wait for a dev :)

[2022-08-11 08:47] okom3pom commented on #29298
@AureRita good news

I asked if a committer could validate an issue with the label `Waiting for dev`

It's ok

[2022-08-11 08:52] FabienPapet commented on #29298
I think the the cache "needs" to be cleared for frontend if you add / update / remove rules to avoid issue with outdated data for customers.

@okom3pom 's solution looks ok for me (did not tested), if we handle correctly add / update / delete, then I think this code can be removed from `postProcess`

[2022-08-11 09:12] gennaris commented on #29298
@okom3pom solution only partially mitigates the problem, now the cache is not cleared when the page loads but it does after a cart rule save/update action, resulting in the same issue (in the case of my customer he generates GB of smarty cache every day).

From my verifications it does not make any sense to perform a **Tools::clearSmartyCache();** at all after a backoffice action,
the only change

[2022-08-11 09:15] MeKeyCool commented on #29131
Sorry if I haven't been clear with my description.

As you said, interface is a contract.
In the mentioned fix, I had to consider some "invalid" cases (example : is limit a positive integer ?).
I consider that giving a type to an object should ensure the state of the object when I use it (I should not have to test its state when using an instance) so the interface should be more precise about requ

[2022-08-11 09:20] okom3pom commented on #29298
I agree, the possible impact is the cache of the modules ( ps_specials for example ) and normally they are set on updateProduct to clear the cache and when a specific price expires there is no cache cleaning :interrobang:

But PrestaShop cart rules are on the dark side of the force.

[2022-08-11 10:00] #27265 closed, assigned to MeKeyCool

[2022-08-11 10:00] #27794 closed, assigned to MeKeyCool

[2022-08-11 10:22] eshraw commented on #29133
Hello @NWNex, thank your for the issue.

Thank you @hibatallahAouadni & @sLorenzini for taking the time to reproduce it.

As it stands, the WS return is an expected behavior --> the product list is ordered according to the row id found in the DB in the table PS_order_detail.
However, the list displayed in the BO is indeed reversed compared to the WS return.

In short, the expected behavior should

[2022-08-11 10:38] hibatallahAouadni commented on #29285
Hello @01Kuzma

It looks like a good improvement :wink:
Could you please create a new issue with the Feature template, so the developer team can study it :pray:

Thanks in advance!

[2022-08-11 10:44] okom3pom commented on #29285
This one :)

https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=Feature%2CNew&template=2_feature_request.yml

[2022-08-11 10:58] hibatallahAouadni commented on #28912
Hello @alfonsolr09

Well, your point of view is right! But, IMHO there's merchants needs both fields, let me explain:
As a merchant I need to attract customers but I can't afford to make discounts.
The solution is to change the product price and apply a discount, so that the customer is attracted by the discount ad and he purchases the product with its original price.
Well, this is my point of vie

[2022-08-11 11:00] thbl commented on #29275
@FabienPapet sorry late reply been out of office, i checked database and the country is not in tabel tried to add USA but get same errror for adding other countries too

[2022-08-11 11:01] thbl commented on #29275
@hibatallahAouadni php 7.4.30

[2022-08-11 11:08] thbl commented on #29275
@FabienPapet in ps_country tabel first country id starts with "1" so there is no country with id "0" could that be a issue ?

[2022-08-11 13:24] PrestaEdit opened #29309 "Strict password policy: the minimum score setted is not taken in consideration on multishop use"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On the Security page, you are able

[2022-08-11 13:41] nesrineabdmouleh opened #29310 "Amount value is not displayed on payment block"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After the merge of this [PR](https:

[2022-08-11 13:48] HanaRebaiQA commented on #29305
Hello @PrestaEdit

Could you please provide us more information about How to test this issue ? please give us more details about the steps to reproduce attached with a screen-record OR a screen-shot ?

Thank You!

[2022-08-11 13:49] PrestaEdit commented on #29305
It's there :

You need to execute this on CLI.

[2022-08-11 13:50] HanaRebaiQA commented on #29305
Which PrestaShop version did you used ?

Thanks!

[2022-08-11 13:52] PrestaEdit commented on #29305
Every version but you can use the 8.0.0-beta.1 or the latest 1.7 version ; you need the autoupgrade module into it's latest version.

[2022-08-11 14:48] HanaRebaiQA commented on #29302
Hello @moflihmorad

Thanks for your report.
I guess that your ticket is a Feature instead of bug.
I found this one [#23348](https://github.com/PrestaShop/PrestaShop/issues/23348) that seems be duplicate of yours. Could you confirm it ?

Thank You!

[2022-08-11 14:53] MatShir commented on #29310
It will be done in priority since it breaks the test auto

[2022-08-11 15:00] 01Kuzma opened #29312 "Prestashop 1.7.x PHPSESSID cookie lifetime should be changed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-11 15:01] 01Kuzma commented on #29285
Done,
thanks to all of you!

[2022-08-11 15:24] HanaRebaiQA commented on #29312
Hello,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone else is willin

[2022-08-11 15:44] Max84 opened #29313 "[WS] php error while calling product_option_values ws"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A GET request onto some webservice

[2022-08-11 16:04] hibatallahAouadni commented on #29303
Hello @PrestaEdit

Closing the issue as it doesn't contain any information that could help us to reproduce the issue.
Please open a new issue if you can provide all infos :pray:

Thanks!

[2022-08-11 16:05] PrestaEdit commented on #29303
???!

[2022-08-11 16:10] HanaRebaiQA commented on #29309
Hello @PrestaEdit

Thanks for your report.
I was able to reproduce your issue using PS8.0.x and php8.0 :

Here is a screen-record :

https://user-images.githubusercontent.com/92912932/184179639-717981b4-6cc3-4382-8680-cd017f36af03.mp4

I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be

[2022-08-11 16:14] MatShir commented on #29303
Maybe we can have @PrestaShop/prestashop-maintainers a second opinion about this bug

[2022-08-11 16:16] Max84 opened #29315 "Webservice error onto product add method"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A php error occur when i try to add

[2022-08-11 16:22] Max84 commented on #29315
[test.zip](https://github.com/PrestaShop/PrestaShop/files/9310192/test.zip)

[2022-08-11 16:24] PrestaEdit commented on #29303
I've added the affected version, if it could help too.

[2022-08-11 16:39] HanaRebaiQA commented on #29315
Hello @Max84

Thanks for your report.
I tried to reproduce your issue using PS8.0.0x and php7.3. But, i was unable to reproduce it.
I used another product request with API and i have no PHP error.

Here is a screen-record :

https://user-images.githubusercontent.com/92912932/184186125-9ac698df-ed7e-49cd-90c3-b6aa013c8818.mp4

Could you please check ? We are waiting for your feedback!

Thank You!

[2022-08-11 16:41] hibatallahAouadni commented on #29275
Hello @thbl

No, that's not true, cause the first id in ps_country table is 1.
So, did you check your internet connection? may be it's low!

What do you mean? you only encounter this issue only in 2 shops and the others works perfectly?
Please provide steps to reproduce that can help us to reproduce the issue :pray:
Otherwise, we can't help you, if we couldn't reproduce the issue :disappointed:

T

[2022-08-11 16:51] HanaRebaiQA commented on #29305
Hello @PrestaEdit

I have checked with PS8.0.x and PS1778 and i have these warnings when execute this command
`php modules/autoupgrade/cli-upgrade.php --dir=admin-dev --action=backupFiles` with CLI when the `autoupgrade v4.14.2 ` module is installed

![image](https://user-images.githubusercontent.com/92912932/184189689-09b4454b-7754-43f4-bc41-9ebce8d82810.png)

**PS8.0.x**

https://user-images.git

[2022-08-11 17:29] PrestaEdit commented on #29305
You need the 4.13 at least of the autoupgrade module, it's seems to be good.
In my own case, it's the 4.14.0.

And this is the result of the CLI call :

[2022-08-11 17:34] PrestaEdit commented on #29106
Hi @HanaRebaiQA,
Hi @hibatallahAouadni,

I've try again on the 8.0.x and the issue is still there.

As it's a Smarty template, be sure that compilation is enabled in the cache tab, maybe.

[2022-08-11 17:36] PrestaEdit commented on #29057
Hi @florine2623,

To have a valid theme, you can duplicate the Classic one and change it's name (folder name and inside the config/theme.yml).

With that,you have a valid theme. Now, you remove some files as the "preview.png" of this duplicate  theme. The theme is no more valid (you can enable it to be used on your shop).

[2022-08-11 17:41] PrestaEdit commented on #29059
Hi @florine2623,

As the theme is not really valid, you will not be able to add it within the Back Office, you need to add it on the themes folder.

But what you can do is to duplicate the Classic theme and rename it (it's folder name and the name inside the config/theme.yml).

Once it's done, change the from property into the /config/theme.yml with 9.0.0 value, as example.
And try using this them

[2022-08-11 19:07] #26787 closed, assigned to nobody

[2022-08-11 19:08] #28342 closed, assigned to nobody

[2022-08-11 21:34] alfonsolr09 commented on #28912
yes, but you can do that by raising the price of the product and applying the discount. the product price box (tax exc.) is the same as the product price box outside this menu. what's the point?

[2022-08-12 02:37] roja45 opened #29316 "Custom module unable to access translated text by locale during installation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

During installation I create some l

[2022-08-12 06:07] clearisesp opened #29317 "Error upload module PrestaShop 8.0.0 Beta 1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After installing the recently notif

[2022-08-12 06:44] clearisesp commented on #29317
Possible Fix,
src/PrestaShopBundle/Resources/views/Admin/Module/common.html.twig
![Captura de pantalla 2022-08-12 a las 8 27 48](https://user-images.githubusercontent.com/91121803/184297564-dde83bf7-69d2-4334-b084-d9fca7fd7bdb.png)

'moduleModalUpdateConfirmMessage': '{{ "We strongly advise you to upgrade the modules on maintenance mode to avoid any cache issues."|trans({}, 'Admin.Modules.Notifica

[2022-08-12 06:46] Max84 commented on #29315
Hi @HanaRebaiQA

You don't reproduce because you don't use my own data.
Please check "<unit_price>" into my XML data.
I set it empty like this: <unit_price><![CDATA[]]></unit_price>.
If i delete it, there is no problem.

Even my unit_price data could be false, data should be validated by Prestashop and we shouldn't get a php error, only an application error.

Do you get it?

Thanks.

[2022-08-12 07:31] Betafer commented on #18541
Error is still present in ps 1.7.8.7 with bankwire module v2.1.3

If you use the button resend email in order status you get:

Titulaire du compte : {bankwire_owner}

Détails du compte : {bankwire_details}

Adresse de la banque : {bankwire_address}

Regards

[2022-08-12 09:18] PrestaEdit opened #29321 "Suggestion : Move the PS_TOKEN_ENABLE setting into the security tab"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-12 11:08] #29241 closed, assigned to nobody

[2022-08-12 11:14] hibatallahAouadni commented on #29106
Hello @PrestaEdit

I think you encounter this issue cause you have multi-currency in your shop :thinking:
Could you please confirm, try with one enabled currecy and check if you still encounter the same issue.
Waiting for your feedback.

Thanks!

[2022-08-12 11:16] hibatallahAouadni commented on #29303
@PrestaEdit could you please provide your autoupgrade module version :pray:

[2022-08-12 11:28] PrestaEdit commented on #29303
It's the 4.14.

[2022-08-12 11:30] PrestaEdit commented on #29106
Hi @hibatallahAouadni,

I was expected a good point but... I've only the EUR setted as currency on this multishop :-/

[2022-08-12 11:33] hibatallahAouadni commented on #29317
Hello @clearisesp

Glad to hear :tada: and thanks for your feedback.
Well in my case, I didn't manage to reprduce the issue as you can see in the attached screen record below:

https://user-images.githubusercontent.com/23308427/184345806-6a0838f3-32ce-4877-88da-332fa52e2128.mp4

Closing the issue as it seems solved for you :wink:

Thanks!

[2022-08-12 11:33] #29317 closed, assigned to nobody

[2022-08-12 11:36] hibatallahAouadni commented on #29321
Hello @PrestaEdit

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR :rocket:

Thank you

[2022-08-12 11:44] clearisesp commented on #29317
So that you can reproduce the error, you would have to put the backoffice in Spanish and as you can see in the js capture that I have indicated, when doing the translate that you have by default in that section, it gives an error, that is to say that for the version in Spanish will fail.

[2022-08-12 11:50] okom3pom commented on #28064
Fixed by : https://github.com/PrestaShop/blockreassurance/pull/432

[2022-08-12 11:50] #28064 closed, assigned to nobody

[2022-08-12 11:52] tom-combet opened #29323 "Add actionPresentObject hook"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-12 12:15] maofree commented on #18541
Hi @khouloudbelguith
to fix this problem I've added 3 lines in the file classes/order/OrderHistory.php

![1](https://user-images.githubusercontent.com/653230/184351616-be0761a1-c517-4145-8ce1-544d0876c4a5.png)

I think to add these 3 lines should not be a big problem if some people have this bug

can you reopen this ticket and have the addition of this fix reconsidered?

thanks
bye

[2022-08-12 12:16] #29134 closed, assigned to nobody

[2022-08-12 12:42] Gipielle commented on #29298
Thank you @gennaris for report, i also have this problem in many ps versions

[2022-08-12 13:24] matks commented on #29130
Hello @abramofranchetti

I'm sorry but ... as you said it yourself: this is something that can be done easily with server config, but some people don't want to use the server config. So the solution would be to implement in PHP a behavior that is already available in most mail server systems 😞 . Is it a good thing for the software? Is it a good thing to put inside prestashop a feature that will be

[2022-08-12 13:34] hibatallahAouadni commented on #29313
Hello @Max84

I reproduce the issue only with PS8.0.0, it's a regression!

With PS1.7.8.6 :heavy_check_mark:

![image](https://user-images.githubusercontent.com/23308427/184364486-27fcb1a1-7cb2-4f39-8f5e-2b2f9afdc97c.png)

With PS8.0.0 :x:

![image](https://user-images.githubusercontent.com/23308427/184364516-d37c17c0-a477-426d-a8a2-40e634e386be.png)

I'll add the Patch backlog to be fixed!
Thanks

[2022-08-12 13:39] hibatallahAouadni commented on #29323
Hello @tom-combet

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement t

[2022-08-12 13:43] hibatallahAouadni commented on #29316
Hello @roja45

I encounter an issue while uploading your module, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/184366105-dd7beae2-aa8c-48da-ab8d-99dae5021b2f.png)

And even when I click on the link "what happened?", it doesn't display the error cause :disappointed:
Please check and feedback.

Thanks!

[2022-08-12 13:58] roja45 commented on #29316
I am not sure what to suggest, I don't know anything about your installation platform, did you enable debug mode?

I have just tried installing it again on a clean PS 8, and it installed without issue.

![image](https://user-images.githubusercontent.com/19314911/184368830-8044c51d-f878-4595-bac4-863a61b81bc3.png)

![image](https://user-images.githubusercontent.com/19314911/184368620-627729ba-895a-

[2022-08-12 14:00] PhotoSoft commented on #26274
Thx bro!

This bug STILL EXISTS IN 1.7.8.7 you **** presta devs!

[2022-08-12 14:22] okom3pom commented on #26274
@PhotoSoft

If you are the only one to have the bug since the 1.7.8.1, you should ask yourself some questions?

[2022-08-12 14:22] moflihmorad commented on #29302
hi @HanaRebaiQA

i think what @marionf is suggesting is an overhaul of separated dashboard modules into one which is good, should the Prestashop team chose to go this way, then we can dismiss my report or better it can be incorporated in the overhaul to avoid adding same issue again, otherwise my report is a quickfix to an already existing sql query.

you are most welcome.

[2022-08-12 14:25] #29296 closed, assigned to zuk3975

[2022-08-12 14:35] eshraw commented on #29266
Hello @Hlavtox , thanks for the issue.

@hibatallahAouadni @Hlavtox LGTM 👍

[2022-08-12 14:45] PrestaEdit commented on #29323
Hi,

Why not. I'm not sure you will have a lot of +1 here and it's not only because it could be only your needs.
It's more than `ObjectPresenter` are not so used by third party module and the needs to another third party module to alter the presentation of the object is not a geat topic.

It doesn't mean is not usefull, sometimes it's not used especially cause it's not existing. Sometimes, it exis

[2022-08-12 15:54] tom-combet commented on #29323
Hey, thanks for taking the time to answer.

Yep, I understand, I would prefer to avoid this also.
But for example here, I have no other possibilities to add content to a carrier, cause the extraContent hook is for the module carriers only (btw I would extend it to all carriers but whatever).

Which alternative do you have in mind? Display hooks?

Except the filterHtmlContent, I see no more hooks.

[2022-08-12 15:58] PrestaEdit commented on #29323
`filterHtmlContent` is not usable as it's need htmlFields, there.

It's more "derived" Prestenter I mention about: `cartPresenter`, `productPresenter`, ...

The more generic `objectPresenter` have nothing and I assume that it's a good idea to have a more generic hook on them, ;-)

[2022-08-12 16:08] MeKeyCool commented on #25579
@HanaRebaiQA , I tested @sowbiba solution (cf. https://github.com/PrestaShop/PrestaShop/pull/25802) and it looks it works, I'll take deeper look to your videos and tests.

[2022-08-12 17:08] PhotoSoft commented on #26274
About what? I have only one payment method and here is bug:

Solution:

[2022-08-12 17:11] PhotoSoft commented on #26274
About what? I have only one payment method and here is bug:

Solution:

[2022-08-13 08:01] okom3pom commented on #26274
What is the problem with one payment?

https://user-images.githubusercontent.com/5064590/184474941-7f2a9254-464f-4060-98e1-db738f552e86.mp4

[2022-08-14 01:52] afrixea commented on #10122
Why not just instead of insert in database add email as primary key and do replace or something like that  ###if find same email replace it when guest only

[2022-08-14 09:22] PhotoSoft commented on #26274
https://snipboard.io/wPyYMC.jpg

And next f** bug, now with API. Customisation for probably company account isn`t returned by webservice!

OK: https://snipboard.io/S02jK6.jpg
Bug: https://snipboard.io/KZMJ9j.jpg

I`m back to 1.7.7.7 from this bugged version where everything WORKS FINE.

[2022-08-14 09:26] kpodemski commented on #26274
@PhotoSoft please, calm down, either respect the Code of Conduct of the project or stop commenting on the issues

[2022-08-14 17:49] Hlavtox commented on #29323
It would be also useful if we had a hook that will allow to change any smarty variables just before render.

[2022-08-14 18:54] maofree commented on #28522
Hi @letwang
made correction in the 3 suggested files, I confirm they seem correct as corrections, the site seems to me more responsive

@matks
can you add these fix to the next version?
thanks

[2022-08-14 23:13] PululuK opened #29326 "Filter not work properly on module admin controller override (legacy)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Filter not work properly on module

[2022-08-15 06:43] Hlavtox commented on #29263
Ping @eshraw for validstion

[2022-08-15 07:19] artemevsin opened #29328 "Loading '_PS_CACHE_DIR_' from DB configuration instead from constant"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On several places in PrestaShop I'v

[2022-08-15 08:41] khouloudbelguith opened #29329 "BO - Product V2 - The green alert after updating a combination is not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Reported previously here: https://g

[2022-08-15 09:05] khouloudbelguith opened #29330 "BO - Product V2 - Final price (tax excl.) is not correct when applying ecotax on a combination"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-08-15 09:27] PrestaEdit commented on #29328
When using the configuration adaptater like it's done inside the given examples, if the given name to `get()` method exist as a constant, it will be this value that it's loaded. Even it's exists inside the configurations table.

It's not a typo, neither an issue.

[2022-08-15 09:46] khouloudbelguith opened #29331 "FO - Discounts - The discount detail is NOK when we the product selected has an ecotax"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-08-15 10:11] hibatallahAouadni commented on #29328
Hello @artemevsin

Closing the issue as it's not valid (as @PrestaEdit mentioned above)!
We only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Alternatively, you can also ask for help in the [community forums](https://

[2022-08-15 10:11] #29328 closed, assigned to nobody

[2022-08-15 10:12] khouloudbelguith commented on #28382
Hello @MatShir, @HanaRebaiQA,

Those issues are fixed in 8.0.x

A supplier with negative amount => ok
![image](https://user-images.githubusercontent.com/16067358/184617677-8bd642d4-02b5-4728-827f-109621dce0a9.png)

We can add a product with API => OK

I will close the issue as fixed

[2022-08-15 10:12] #28382 closed, assigned to nobody

[2022-08-15 10:19] HanaRebaiQA opened #29332 "BO - The Customers of Shop A are selected when choosing Shop B in specific prices with Product V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The Shop B is selected with Custome

[2022-08-15 10:21] artemevsin commented on #29328
Sorry, my bad, didn't check it has been fixed in 8.0.0
https://github.com/PrestaShop/PrestaShop/pull/28267/files

Thanks for your time

[2022-08-15 10:23] hibatallahAouadni commented on #29326
Hello @PululuK

Could you please provide a test module to help me reproducing the issue.
Waiting for your feedback.

Thanks!

[2022-08-15 10:26] khouloudbelguith opened #29333 "BO - Multistore - Product V2 - Some issues when saving an ecotax"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported: https://github

[2022-08-15 10:51] HanaRebaiQA opened #29334 "BO - An exception is thrown when edit a combination with a product with specific prices when a new shop for a new group of shop is the context BO shop with product V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is thrown when edit a

[2022-08-15 11:06] HanaRebaiQA opened #29335 "BO - A 500 error is thrown when edit the quantity of combinations with the new group of shops with product V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Error 500 when edit the quantity of

[2022-08-15 11:22] khouloudbelguith opened #29336 "BO - Product V2 - RTL - Some issues in product V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-08-15 13:29] lmeyer1 opened #29337 "Blockwishlist, missing indices on database tables"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The query to tell if there is an ex

[2022-08-15 13:35] lmeyer1 commented on #29337
Creating these two indices will reduce the time of the query to below 1 ms

[code]
![Immagine 2022-08-15 153114](https://user-images.githubusercontent.com/7520695/184644751-ad26e2f8-8a8d-4851-b94a-717739b1c5f1.png)

@matks, @jolelievre How should a PR look like that adds these indices? Should I add a file `upgrade/upgrade-2.2.0.php` ? Or is there another best practice for this kind of correction?

[2022-08-15 13:50] khouloudbelguith opened #29338 "FO - Retail price per unit (tax incl.) is NOK when ecotax = retail price tax excluded"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Reported previously here: https://g

[2022-08-15 13:51] lmeyer1 opened #29339 "Duplicated join in Hook.php leads to inefficient query"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Quite a slow query is in `classes/H

[2022-08-15 14:16] khouloudbelguith opened #29341 "BO - Product V2 with combinations - The impact on price is not automatically calculated in the bulk edit modal"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-08-15 15:11] HanaRebaiQA opened #29343 "BO - A duplication of combinations products when adding them in a pack product when multistore is enabled with product V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A duplication of combinations when

[2022-08-15 15:20] HanaRebaiQA opened #29344 "BO - An exception is thrown when save the packed product after adding an associated combinations product when multistore is enabled with product V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is thrown when save th

[2022-08-15 15:22] HanaRebaiQA commented on #29344
Related to this issue [#29343](https://github.com/PrestaShop/PrestaShop/issues/29343)

[2022-08-15 15:31] samberrry commented on #27377
https://github.com/PrestaShop/PrestaShop/pull/29342

[2022-08-15 15:32] samberrry commented on #27377
Hello everybody,
this issue fixed by @stifler97 in this PR: https://github.com/PrestaShop/PrestaShop/pull/29342

[2022-08-15 15:32] HanaRebaiQA opened #29345 "BO - The assign to a new zone item is missing in the bulk actions with the States' migrated page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The `assign to a new zone` item is

[2022-08-15 15:35] khouloudbelguith opened #29346 "BO - Products page - Some issues of the currency symbol in Cost price field of a supplier"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-08-15 15:54] khouloudbelguith opened #29347 "BO - Products page - The currency symbol in Cost price field of a supplier is not updated when we change the currency"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-08-15 16:41] HanaRebaiQA commented on #27816
Hello @mkdgs

I still reproduce the issue with Product V1. Since the product page V2 is not delivered with the 8.0.0 version, so i'll open this issue.

![image](https://user-images.githubusercontent.com/92912932/184677650-0256c92e-8e77-45f6-ab07-f7aed64e2326.png)

Thank You!

[2022-08-15 16:42] khouloudbelguith opened #29348 "BO - Product V2 - When we delete all suppliers, the supplier block is still displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Reported previously here: https://g

[2022-08-15 16:50] hibatallahAouadni commented on #29337
Hello @lmeyer1

I reproduce the issue with PS1787 and blockwishlist v2.0.1 & v2.1.2:

![image](https://user-images.githubusercontent.com/23308427/184678428-6b86f608-d634-4134-baaa-d93a42b9dd68.png)

It's a regression cause I didn't manage to reproduce the issue with PS1770 and blockwishlist v2.0.1, the execution request time was `2.1 ms` (with these version), while with PS1787 and blockwishlist v2

[2022-08-15 16:52] HanaRebaiQA opened #29349 "BO - The quantity of stock is not updated when editing a product with combinations using a new shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

 The quantity of stock is not updat

[2022-08-15 16:52] khouloudbelguith opened #29350 "BO - Supplier block is not displayed in the edit combination page after importing them with csv file"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

previously reported here: https://g

[2022-08-15 17:01] hibatallahAouadni commented on #29339
Hello @lmeyer1

Isn't the same as yours #26747?? If not, could you please clearer steps to reproduce or a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-08-15 17:03] hibatallahAouadni commented on #29124
Hello @integritty

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-08-15 17:03] #29124 closed, assigned to nobody

[2022-08-15 18:43] imCarlosmt opened #29351 "Stripe problem with Prestashop checkout"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

Can someone help me pls,
I ins

[2022-08-15 21:52] Ettalebmed commented on #25380
@Touza-Isaac  did you resolve the problem ?

[2022-08-16 06:23] hibatallahAouadni commented on #29351
Hello @imCarlosmt

It seems that your issue is not a PrestaShop core bug.
If your module is Stipe Official, please contact support team on Addons

We will close this issue.

Thanks!

[2022-08-16 06:23] #29351 closed, assigned to nobody

[2022-08-16 06:41] lmeyer1 commented on #29339
@hibatallahAouadni
No it isn't the same.

The matter is this query
[code]
The marked join is useless, it is a duplicated join on `ps_module_shop`. The extraneous  join `INNER JOIN ps_module_shop ms ON ms.id_module = m.id_module` is similar to `INNER JOIN ps_module_shop module_shop ON (module_shop.id_module = m.id_module AND module_shop.id_shop = 2 AND module_shop.enable_device & 1)`.
The first is

[2022-08-16 06:51] kpodemski commented on #25380
You can contact your hosting provider or configure sending emails via SMTP

[2022-08-16 06:56] mkdgs commented on #27816
@HanaRebaiQA this patch #27817 still fix this issue

[2022-08-16 07:10] hibatallahAouadni commented on #29339
Hello @lmeyer1

Thanks for all details :pray:
Ping @PrestaShop/prestashop-maintainers can someone please reproduce the issue and validated :pray:

Thanks in advance!

[2022-08-16 07:12] hibatallahAouadni commented on #29302
Hello @moflihmorad

Could you please provide a screen record :pray: Cause I didn't manage to reproduce the issue with the provided infos.
Waiting for your feedback.

Thanks!

[2022-08-16 07:35] hibatallahAouadni commented on #29316
Hello @roja45

Yes, the debug mode is enabled, but my PHP version is 7.2!
Do you think it's PHP version related? Waiting for your feedback.

Thanks!

[2022-08-16 07:41] ghost opened #29352 "Bad upgrade files in ps_checkpayment"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bad upgrade files in ps_checkpaymen

[2022-08-16 08:15] PrestaEdit commented on #29352
Issue valid. ✅

As the ps_checkpayment module was renamed from cheque, the version was changed (to lower version) and so the upgrade are not good anymore.

[2022-08-16 08:22] #28881 closed, assigned to nobody

[2022-08-16 09:27] 50l3r opened #29354 "Can't generate combination on a multistore for shared products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Can't generate product combination

[2022-08-16 09:32] dominservice commented on #27487
Hello, I have the same problem on version 1.7.8.7, according to the information in the message, it is about the litespeed module. From the comments above, it can be seen that this error arises with different modules not related to each other in any way

[2022-08-16 09:34] matks commented on #29018
PR https://github.com/PrestaShop/classic-theme/pull/44 did not move for a month -> blocked

[2022-08-16 09:36] matks commented on #29160
We're sorry but we want to put this feature of the scope of PrestaShop 8.0.0 as we believe majority of users don't use it.

But for people who do rely on it 😉 they can simply revert our changes, it's not a lot of code to modify.

[2022-08-16 09:36] #29160 closed, assigned to FabienPapet

[2022-08-16 09:37] matks commented on #28047
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29307

[2022-08-16 09:37] #28047 closed, assigned to NeOMakinG

[2022-08-16 09:41] hibatallahAouadni commented on #29106
Hello @PrestaEdit

I reproduce the issue with PS1770, PS1784, PS1786 and PS800, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/184848412-70ed17c8-2c30-4e29-aa38-ee82b862e469.png)

![image](https://user-images.githubusercontent.com/23308427/184848423-f4df935e-4e69-44eb-b9b7-50849fc04321.png)

But, I think that we need to add the id_currency as a par

[2022-08-16 09:45] serpeal79 opened #29355 "Webservice error with put stock_available in version 1.7.8.6 and 1.7.8.7"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We have a PrestaShop connector to m

[2022-08-16 09:54] PrestaEdit commented on #29106
The `convertPrice` that you indicate inside the capture is coming from the class `Tools`, it's not used inside the Smarty function.

If you check well the error capture, you will see that it's use another method and the only param that you can add is the `price`.

[2022-08-16 10:01] kpodemski commented on #29352
I confirm the issue

[2022-08-16 10:01] #29352 closed, assigned to nobody

[2022-08-16 11:20] kpodemski commented on #27487
Hello @dominservice

You need to follow the changes from this PR:
https://github.com/PrestaShop/productcomments/pull/137

[2022-08-16 11:23] kpodemski commented on #28857
Hello @AureRita

This issue is valid.

[2022-08-16 13:31] leemyongpakvn opened #29357 "Simplify Average code in module productcomments"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-16 13:39] okom3pom commented on #29357
Issue for dev @hibatallahAouadni ?

[2022-08-16 13:50] roja45 commented on #29316
No idea, but the issue raised does state Prestashop 8 and PHP 8.1, so I think that should be the environment you are testing with.  We're confirming an issue in Prestashop, not the quality of the module I created to show the issue.

You are testing in Prestashop 8 at least?

I don't think it has anything to do with the PHP version, it is not the world's most complicated module, no PHP 8 specific c

[2022-08-16 14:09] lmeyer1 commented on #21790
It seems that https://addons.prestashop.com/en/analytics-statistics/51261-ga4-google-analytics-and-universal-analytics.html and https://addons.prestashop.com/en/analytics-statistics/23806-google-tag-manager-enhanced-ecommerce-ga4-ua-pro.html are alternatives.

It is up to the PS Team to choose if they want to continue this module. If yes, once PS 8.0.0 is out, it is the time to upgrade this module

[2022-08-16 14:21] hibatallahAouadni commented on #29357
Hello @leemyongpakvn

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
Thanks for your PR :rocket:

Thank you

[2022-08-16 14:40] sowbiba opened #29359 "Cannot modify translations of an installed module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Capture d’écran de 2022-08-16 14-

[2022-08-16 14:48] hibatallahAouadni commented on #19042
Ping @6xthFNGR friendly reminder :relaxed:
Could you please answer @MatShir question :pray:

Thanks in advance!

[2022-08-16 15:11] 6xthFNGR commented on #19042
@hibatallahAouadni no question was reffered to me.

[2022-08-16 15:12] Steppenw commented on #26274
I would not like to rekindle controversy but I would like to say that PhotoSoft is not the only one to have encountered the problem in version 1.7.8.7, I am there too.
I also have **only one** payment method and initially, perhaps ignorantly, I had simply commented the line
'{if ($selected_payment_option == $option.id || $is_free) || ($payment_options|@count === 1 && $module_options|@count === 1)}

[2022-08-16 15:28] okom3pom commented on #26274
Hello @Steppenw

Can you open [a new issue](https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=Bug%2CNew&template=1_bug_report.yml) with a screen recording, php version, theme .... . As you can see I can't reproduce; with more informations if there is still a bug we should be able to solve it.

https://user-images.githubusercontent.com/5064590/184474941-7f2a9254-464f-4060-98e1-d

[2022-08-16 15:34] HanaRebaiQA opened #29361 "BO - The status of the voucher is always disabled in the customer details page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is previously reported h

[2022-08-16 15:42] sowbiba commented on #29359
Already fixed by https://github.com/PrestaShop/PrestaShop/pull/29020

[2022-08-16 15:42] #29359 closed, assigned to nobody

[2022-08-16 16:05] HanaRebaiQA commented on #29361
Hello @okom3pom

It's the 8.0.x branch.

[2022-08-16 16:11] matks commented on #28677
Ping @PrestaShop/product-team we have a PR https://github.com/PrestaShop/ps_facetedsearch/pull/690 and we need your input on the desired behavior

[2022-08-16 16:52] hibatallahAouadni commented on #29354
Hello @50l3r

I didn't manage to reproduce the issue with the provided infos :disappointed:
Could you please provide a screen record :pray:

Thanks!

[2022-08-16 16:53] hibatallahAouadni commented on #29359
Duplicate of #28961

[2022-08-16 16:56] hibatallahAouadni commented on #29355
Hello @serpeal79

Thanks for your issue!
Ping @PrestaShop/prestashop-core-developers can someone please reproduce the issue :pray:
It's too technical :sweat:

Thanks!

[2022-08-16 16:57] Steppenw commented on #26274
Hi @okom3pom, unfortunately I'm not very familiar with GitHub yet ...
The PHP version is 7.4.30, the theme used is the 'child_classic' (basically the 'classic' theme), the payment module used is 'Stripe'.
The first screenshot refers to the checkout before the changes to the 'payment.tpl' file (among other things, 'Terms and conditions' is deactivated in the back office and yet an invitation to acc

[2022-08-16 16:58] hibatallahAouadni commented on #29305
Ping @PrestaShop/prestashop-maintainers can someone please try to reproduce the issue :pray:
I didn't manage to reproduce :disappointed:

Thanks in advance!

[2022-08-16 17:02] hibatallahAouadni commented on #29315
Hello @Max84

Your issue seems related to this one #9922
Could you please check it and feedback.

THanks!

[2022-08-16 17:05] hibatallahAouadni commented on #29106
Hello @PrestaEdit

Well then, I reproduce the issue with PS1770 and 8.0.0.
I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved.
So, we're waiting for your PR :rocket:

PS: related to #14956

Thank you

[2022-08-16 17:06] 50l3r commented on #29354
U can see the error here: https://files.calltek.dev/2022/08/chrome_SYxp7bm02c.mp4

[2022-08-16 19:00] PrestaEdit opened #29365 "Classname modifier doesn't change the _ char by -"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

According to the documentation, the

[2022-08-16 20:59] PrestaEdit opened #29368 "Improvement : allow to choose wich shop need to be impacted by the prestashop:theme:enable command"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

While using the `prestashop:theme:e

[2022-08-17 03:24] leemyongpakvn opened #29370 "Consistency in quote and possession marks"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-17 03:39] leemyongpakvn commented on #29370
Moved to docs repository.

[2022-08-17 03:39] #29370 closed, assigned to nobody

[2022-08-17 07:04] MeKeyCool commented on #28998
I take this one ^^

[2022-08-17 08:03] okom3pom commented on #26274
Ok, it's an other issue.

[code]

This code is not a solution because tou don't have extra information from the module.

A way is to set

[code]

And check before hide `this.additionalInformatonSelector`

i will open an issue

[2022-08-17 08:07] hibatallahAouadni commented on #17104
Ping @yanmakouf friendly reminder :wink:

[2022-08-17 08:09] ghost opened #29371 "The checkout is broken when only one payement without CGV validation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The checkout is broken when only on

[2022-08-17 08:18] Max84 commented on #29315
Hello @hibatallahAouadni

I'm sorry, I didn't find this issue previously. I'm not sure if it's linked to #9922, but feel free to merge them if you think it's better.
But let's me explain why, it might me not related to it.

I think #9922 is fixed with this Prestashop 8.0.0 beta 1, because, if you try to set a value to unit_price_ratio, you can update it. Try 0 or 5 for example, it works on my side

[2022-08-17 08:23] yanmakouf commented on #17104
Hello, désolé pour le retour tardif. Je reproduis bien le "undefined" que @florine2623 a remonté. Je travaille le fix ;)

[2022-08-17 08:33] okom3pom commented on #29371
https://github.com/PrestaShop/PrestaShop/issues/26274#issuecomment-1217646799

[2022-08-17 09:31] AureRita commented on #29371
Hi @okom3pom  ,

I reproduce the issue with PrestaShop version 1.7.8.6 and not with the version 1.7.7.8. Nice catch ! It's a regression ! I'll add it to the patch backlog.

We can see this issue with this video :

https://user-images.githubusercontent.com/100699445/185085108-51008256-e3e6-44ec-87b6-8de027fd6034.mp4

As we can see we also can validate the order even if we have a cross on the button

[2022-08-17 09:43] yanmakouf commented on #17104
@florine2623 what is the expected behavior then ? just remove the "undefined" error ? Cause process seems to work fine to me, just this useless "undefined" warning to remove.

[2022-08-17 10:12] serpeal79 commented on #29355
Hi. We have tested the latest update, 1.7.8.7 and the error persists. It seems that it has been inherited. Maybe you want to add the label 1.7.8.7 in the task as well. Kind regards

[2022-08-17 10:22] arirangz opened #29374 "Unable to generate a credit slip if order not paid"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When an order is not paid (bank tra

[2022-08-17 11:21] Steppenw commented on #26274
Hi @okom3pom, first of all tell me if I can continue writing here or in #29371.
I looked at #29373 and thought I'd test the changes (3 files changed) but my installation doesn't have this path: /themes/_core/js/checkout-payment.js .
The '_core' folder is completely missing: something is wrong with my installation?

[2022-08-17 11:24] okom3pom commented on #26274
Plz continue here https://github.com/PrestaShop/PrestaShop/issues/29371

[2022-08-17 11:34] serpeal79 commented on #29355
I've realized that the customer slightly modified the URL (domain), so our code was not pointing to the right URL. Sorry for the inconvenience.

[2022-08-17 11:34] #29355 closed, assigned to nobody

[2022-08-17 11:34] Steppenw commented on #29371
Hi @okom3pom, I looked at https://github.com/PrestaShop/PrestaShop/pull/29373 and thought I'd test the changes (3 files changed) but my installation doesn't have this path: /themes/_core/js/checkout-payment.js .
The '_core' folder is completely missing: something is wrong with my installation?

[2022-08-17 11:40] okom3pom commented on #29371
No problem with your installation, this is because it is a source file.

You can replace your :

themes/core.js
by the attached file

[core.zip](https://github.com/PrestaShop/PrestaShop/files/9359179/core.zip)

[2022-08-17 12:34] okom3pom commented on #29371
@AureRita i am not sure it's minor.

https://devdocs.prestashop.com/1.7/contribute/contribution-process/how-issues-are-sorted/

[2022-08-17 13:01] AureRita commented on #29365
Hi @PrestaEdit  ,

I reproduce the issue with PrestaShop version 8.0.0 and not with the version 1.7.8.x . Nice catch ! It's a regression ! I'll add it to the patch backlog.

We can see this issue on this screenshot :
![image](https://user-images.githubusercontent.com/100699445/185138894-a068f238-21aa-49a7-9ff8-b92d2da1f5ea.png)

We’re waiting for your PR 🚀

Thank you

[2022-08-17 13:04] PrestaEdit commented on #29365
Don't wait so much, it's already there 😎

[2022-08-17 13:44] okom3pom commented on #29371
@Steppenw there is a simpler solution juste replace the core.js

[core.zip](https://github.com/PrestaShop/PrestaShop/files/9363183/core.zip)

[2022-08-17 13:50] Steppenw commented on #29371
Thanks @okom3pom, but should the changes still be applied to the other two files?

[2022-08-17 13:51] okom3pom commented on #29371
No just the core.js

[2022-08-17 13:53] Steppenw commented on #29371
I try and let you know.

[2022-08-17 14:08] AureRita commented on #29374
Hi @arirangz  ,

Despite my efforts, I'm not able to reproduce your issue with the provided information as you can see

https://user-images.githubusercontent.com/100699445/185155176-a49092c8-323f-4173-9938-7d14d975331b.mp4

Did I miss something ?

Waiting for your feedback

[2022-08-17 14:11] AureRita commented on #29368
Hi @PrestaEdit  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

We're waiting for your PR :rocket:

Thank you

[2022-08-17 14:26] arirangz commented on #29374
Hello @AureRita ,

Thanks for you fast reply.

As I am saying in the description, I am explaining that the issue is when the order is NOT paid. In you example you are paying the order.

So let me be more specific :
- The shop has to be configured to allow the invoice when awaiting for bank transfer
- When checking an order awaiting for bank transfer (with invoice available) the refund button is no

[2022-08-17 14:31] fire2 commented on #26741
Can't be so hard to reproduce a problem that so many of us are experiencing (and if you check the forums, even more...).  All I've tested is to change all calls in that file that had recursive = true to false, then the page opens fine.

The same problem with the autoupgrade module still remains. When trying to unzip the downloaded zip file, the same exception occurs (too many open files).

[2022-08-17 14:58] tom-combet opened #29379 "BO - Mobile phone can't be erased"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Mobile phone for a customer address

[2022-08-17 15:10] Steppenw commented on #29371
![Screenshot](https://user-images.githubusercontent.com/76645799/185175616-9dd77a77-c52a-49bf-a0f7-a2097ae1e3e4.png)
I would say that everything is fine.
The radio button is already checked, the form is already expanded.
At the bottom of the page there is no reference to select a payment method or to accept 'Terms and conditions'.
The 'Submit' button is active: clicking on it without having filled

[2022-08-17 15:14] AureRita commented on #29374
I tried with your information and that what I obtained :

https://user-images.githubusercontent.com/100699445/185176295-b9d0f82c-82fc-4be7-9827-f1c66c3d2258.mp4

I check it also if I put an invoice by myself and I still have no issue as you can see :

https://user-images.githubusercontent.com/100699445/185176431-89e4c287-8eb5-4efa-a003-a74dc0efcd32.mp4

Did I miss something ?

Waiting for your fee

[2022-08-17 15:15] clotairer opened #29380 "Do not authorize PHP direct call on themes directory"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-17 15:46] arirangz commented on #29374
Hello,

Your test is not correct.

1. You have to go to Order settings, edit the status Awaiting for bank transfer and check to box to allow invoice
2. Create an order
3. Try to generate a credit slip

[2022-08-17 15:53] AureRita commented on #29379
Hi @tom-combet ,

I reproduce the issue with PrestaShop version 1.7.7.8, I'll add this to the backlog so it can be fixed.

We can see this issue in this video

https://user-images.githubusercontent.com/100699445/185185504-26769f84-2307-4259-a3ca-85f6d6152d4e.mp4

Thank for your PR :rocket:

Thanks

[2022-08-17 15:57] AureRita commented on #29380
Hi @clotairer ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Thank for your PR :rocket:

Thank you

[2022-08-17 16:28] PrestaEdit commented on #29365
As it's a wanted behavior into the 8.0.0, it's no more an issue.

[2022-08-17 16:28] #29365 closed, assigned to nobody

[2022-08-17 16:37] matks commented on #29380
Thank you @clotairer for the input. I ask @atomiix who is our security lead to tell us his opinion on this topic 😉

[2022-08-17 20:16] Grezor commented on #28442
Hello @hibatallahAouadni,

I would like to contribute to the issue I created to add the translation.
Searching on the internet, there is not much information on how to do...
Can you tell me the steps to follow?

Thanks in advance

[2022-08-18 02:39] PacaPop commented on #9874
Is this solved yet?

[2022-08-18 07:15] JBWModules opened #29383 "ID for additional category description is missing"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Is your feature request related to a problem?

New additonal category des

[2022-08-18 07:19] JBWModules commented on #29383
[/classic-theme/pull/49](https://github.com/PrestaShop/classic-theme/pull/49)

[2022-08-18 07:41] dennispw opened #29384 "Cart error messages not consistent/persistent"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When having a product in the cart,

[2022-08-18 08:30] hibatallahAouadni commented on #29355
@serpeal79 thanks for your feedback :pray:

[2022-08-18 08:40] MatShir commented on #28442
Hi Grezor,
We have an old documentation https://build.prestashop.com/howtos/translation/new-translator-guide-available-now/ about how to translate. We might need to update it, but it should do the job. There are also translator in the Friend of Presta group, that might help you as well

But, nice to see you motivated, so just to let you know. If you are looking for other kinds of contribution, we

[2022-08-18 08:52] Grezor commented on #28442
Hi @MatShir,

Thanks for your feedback, I'll look into it in detail in the next few days. I can see to try to update it.
I'm in the friend of presta group :) .

[2022-08-18 09:46] okom3pom commented on #29371
@Steppenw

It is possible that modules add their own checkboxes.
It is also possible that some modules do not respect the standard.
With two native modules no problem.

https://user-images.githubusercontent.com/5064590/185365059-1538dd2a-25df-45df-82fa-f5be21ac9ef0.mp4

[2022-08-18 09:49] hibatallahAouadni commented on #28677
@matks should we reopen the issue?

[2022-08-18 11:11] matydominguez opened #29386 "Cupón de descuento se puede usar igual si está vencido o deshabilitado"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hemos creado un **cupón de descuent

[2022-08-18 11:12] Steppenw commented on #29371
![Screenshot1](https://user-images.githubusercontent.com/76645799/185380295-072fc60f-b427-43e7-b386-76204cff4685.png)

@okom3pom, I assure you that this is the last time I stress you: I repeat that for my case the problem is solved.
What I meant earlier is what appears in the screenshot (two payment methods, 'Terms and conditions' deactivated), which is the notification circled at the bottom. Whic

[2022-08-18 11:37] MeKeyCool commented on #28998
Then after a more detailed study and some explanations from @AureRita ,

It looks that `additional_delivery_times` field of `ps_product` table isn't managed for multishop.

When multishop is setup, any change for a given shop will change settings for all shops and if we try to change for "All shops", change isn't applied.

It looks database behave the same way for `additional_shipping_cost` but Pr

[2022-08-18 13:09] MatShir commented on #26857
For this behavior, we should have a pop-in not an iframe view. It is supposed to help the merchant to gather information, not for him to navigate. So I'm closing this issue since the solution would be to transform the iframe to a proper popin

[2022-08-18 13:09] #26857 closed, assigned to nobody

[2022-08-18 13:34] tom-combet commented on #28474
Same issue there. I'm trying to override the definition property of Product and only the first line is removed when resetting/uninstalling the module.
Seems the issue comes from [this portion of code](https://github.com/PrestaShop/PrestaShop/blob/83079ee0c30a7aebe58086c9aef2022ff43203a9/classes/module/Module.php#L3133-L3140), it doesn't support multiple lines variable declaration.

[2022-08-18 13:46] zuk3975 commented on #29361
sorry @okom3pom I didn't see you were assigned and I made a pr with a fix, hopefully you haven't spent much time on it yet :smile:

[2022-08-18 13:55] MatShir commented on #28466
The bug is fixed in the 8.0, I'm going to close the issue. We won't have time to fix this bug for the last bug patch of the 1.7.8.

[2022-08-18 13:55] #28466 closed, assigned to nobody

[2022-08-18 13:56] hibatallahAouadni commented on #29386
Hello @matydominguez

Please send your request in English. English is the norm on GitHub.

Thank you

[2022-08-18 13:56] #29386 closed, assigned to nobody

[2022-08-18 13:56] okom3pom commented on #28466
@MatShir no fixed a part only :)

[2022-08-18 13:57] okom3pom commented on #28466
https://github.com/PrestaShop/PrestaShop/issues/29371

[2022-08-18 14:00] okom3pom commented on #28466
Normaly broken checkout it's a critical issue if we look https://devdocs.prestashop.com/1.7/contribute/contribution-process/how-issues-are-sorted/

[2022-08-18 14:27] hibatallahAouadni commented on #29384
Hello @dennispw

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #18958.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-08-18 14:27] #29384 closed, assigned to nobody

[2022-08-18 14:27] hibatallahAouadni commented on #29384
Duplicate of #18958

[2022-08-18 15:30] josecarlosphp commented on #28757
Sure, not easy to reproduce, but easy to imagine... Sometimes it isn't needed to reproduce an issue to understand it, and then solve it. "Most likely a module problem", it makes me laugh. And here comes PrestaShop 8.0 from 1.7 XDDD, the word you're looking for is: commercial.

[2022-08-18 16:49] hibatallahAouadni commented on #29383
Hello @JBWModules

Changing the issue type to Feature as what you proposed it's not a bug but it's an improvement :pray:
Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Thanks for your PR :rocket:

Thanks!

[2022-08-18 16:58] hibatallahAouadni commented on #29316
Hello @roja45

Yes I know, and that module to help me up to reproduce the issue :wink:

Indeed I do!

I think you misunderstand my message :sweat_smile: I meant that may be I can't install your module cause it's not compatible with my PHP version.

Otherwise, ping @PrestaShop/qa-team can someone please try to reproduce the issue :pray:

Thanks in advance!

[2022-08-18 17:08] bfontaine commented on #29027
Why was this closed? The bug is still there.

[2022-08-18 17:55] matydominguez opened #29389 "Users can use Discounts / Cart rule even if its finished or disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We´ve createad a valid discount fro

[2022-08-19 03:50] kijamve commented on #10903
My solution is this, get this file:
`/classes/Cart.php`

Found this function:
`public function getCartRules`

And replace this lines:
[code]

for this:

[code]

[2022-08-19 07:55] jovh commented on #10903
hello

tnx for this
did all but it didn t help... 🥴

bien à vous - vriendelijke groet

jo van hove
rue célestin hastir 6 bte 3
5150 floreffe

+32 475 440 454
pourquoi j écris comme j écris
On 19 Aug 2022, 05:50 +0200, Kijam López ***@***.***>, wrote:

[2022-08-19 08:20] hibatallahAouadni commented on #29389
Hello @matydominguez

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #19393.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-08-19 08:20] #29389 closed, assigned to nobody

[2022-08-19 08:20] hibatallahAouadni commented on #29389
Duplicate of #19393

[2022-08-19 09:48] matks commented on #28466
@okom3pom It is different 😄

"Checkout is broken, people cannot place orders"
is different from
"The checkout is broken when {...}"

It depends on what is "when".

[2022-08-19 10:29] ramtin2025 opened #29393 "IMPROVE [BO]: improve error msg on (install\uninstall) module in case of dirty Override files"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The methods inside the overridden c

[2022-08-19 10:54] jamiloo commented on #19605
Hi all. Are you bored with this uncomfortable problem with bulk products delete? I have been dealing with it several years. I have dived into code and found that bottleneck finally ;) .  In Product->delete() function, there is row "!$this->deleteCategories(false) ||" .  There was true, I changed to false and problem is gone.  This param means clean positions and makes it slowwwwwww and slower and

[2022-08-19 11:10] HanaRebaiQA opened #29394 "Autoupgrade - BO - An error related to the controller is missing or invalid in Theme Catalog and Module Catalog after an upgrade from 1.7 to 8.0.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error related to the controller

[2022-08-19 13:01] khouloudbelguith opened #29395 "BO - After an upgrade to 8.0.0 - an exception is displayed when adding/editing an employee"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Previously reported here: https://g

[2022-08-19 13:10] MeKeyCool commented on #28998
Then after further investigations,

`additional_shipping_cost` works well for separate shop only. The value set under "All shops" scope isn't applied as well.
It looks that `additional_shipping_cost` is managed for independent shop thanks to `ps_product_shop` db.

We can see that `additional_shipping_cost` values are stored in  `ps_product_shop` for each shop.
Then we probably should add `addition

[2022-08-19 13:42] mparvazi opened #29397 "Does the Favicon generation need to be updated?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-19 13:51] HanaRebaiQA opened #29398 "Autoupgrade - BO - Bad display in menu when access to legacy pages after an upgrade from 1.7 to 8.0.0 when the shop is with RTL language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bad display in menu when access to

[2022-08-19 14:13] HanaRebaiQA opened #29399 "BO - Bad display when access to employee's profile pop-up with symfony pages after an upgrade from 1.7 to 8.0.0 when the shop is with RTL language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bad display in profile pop-up with

[2022-08-19 14:16] hibatallahAouadni commented on #29397
Hello @mparvazi

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR :rocket:

Thank you

[2022-08-19 14:32] mparvazi commented on #29398
Hello @HanaRebaiQA

Has the browser cache cleared after the upgrade?

[2022-08-19 14:36] HanaRebaiQA commented on #29398
Hello @mparvazi

Yes! and even i tested with a private navigation.

[2022-08-19 14:39] mparvazi commented on #29398
It seems the font-icon not loaded, so could you please check the browser Console (Network tab) to see the missing files?

[2022-08-19 15:40] HanaRebaiQA commented on #29398
Hello @mparvazi

Here is a screenshot for what you asked

![image](https://user-images.githubusercontent.com/92912932/185655943-7c206720-8d4a-4a7c-89c4-684e818fb385.png)

[2022-08-19 15:47] mparvazi commented on #29398
@HanaRebaiQA

As I saw in screenshot there are 3 errors on Console. please try to enable these options:
![185655943-7c206720-8d4a-4a7c-89c4-684e818fb385](https://user-images.githubusercontent.com/85633460/185657234-fe5917ed-c713-4efe-b991-d2cbea48cc43.png)

[2022-08-19 15:54] HanaRebaiQA commented on #29398
@mparvazi

I did it :

![image](https://user-images.githubusercontent.com/92912932/185658642-d5dcd09f-0be5-4415-ab86-4d600baaa3f2.png)

[2022-08-19 15:59] mparvazi commented on #29398
@NeOMakinG

Is it related to preload font-icon script?

[2022-08-19 16:39] hibatallahAouadni commented on #29393
Hello @ramtin2025

Thanks for reporting the issue!
Could you please provide a test module to help me up reproducing the issue :pray:
Waiting for your feedback.

Thanks!

[2022-08-19 16:43] hibatallahAouadni commented on #29315
Reminder: we need to check if #9922 has been fixed with 8.0.0 beta

[2022-08-19 16:45] hibatallahAouadni commented on #29192
Hello @MatShir

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #10056.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-08-19 16:45] #29192 closed, assigned to nobody

[2022-08-19 16:45] hibatallahAouadni commented on #29192
Duplicate of #10056

[2022-08-19 16:47] #29095 closed, assigned to nobody

[2022-08-19 16:48] hibatallahAouadni commented on #29203
Hello @bastijan

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-08-19 16:48] #29203 closed, assigned to nobody

[2022-08-19 16:49] hibatallahAouadni commented on #29076
Hello @TecnoHands

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-08-19 16:49] #29076 closed, assigned to nobody

[2022-08-19 17:06] hibatallahAouadni commented on #29374
Hello @arirangz

![image](https://user-images.githubusercontent.com/23308427/185670818-be1e63ac-9fca-44f5-8c60-57b6505ae444.png)

do you mean to check this option? os something else?
Cause checking that option won't make `return products` nor `partial return` buttons will be displayed :disappointed:
Waiting for your feedback.

Thanks!

[2022-08-20 05:47] ramtin2025 commented on #29393
I attach a sample simple module with one overrided method in "Product.php" file.

1. Install module
2. Remove below lines from Root/override/classes/Product.php
    /*
    * module: test_override
    * date: 2022-**-** **:**:**
    * version: 1.0.0
    */
3. Try to uninstall Module
Note: Note that the "Product" class does not already have an override

[test_override.zip](https://github.com/PrestaS

[2022-08-20 14:37] valdemesio opened #29401 "cms"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

no idioma portugues ,não da para ed

[2022-08-21 09:16] PrestaEdit commented on #29401
Hi @valdemesio,

Please, do this in english. I was able to translate/understand your issue, but the main language to communicate on this project is the english.

Also, about your issue, you need to enable the debug mode in order to see the error behind the error 500.
Could you do a screeen capture of it, in order to allow us to determinate where is the issue ?

[2022-08-21 13:51] riess82 opened #29402 "Trying to access array offset on value of type bool classes/Product.php, line 7170"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Adding a product over the api, I ge

[2022-08-21 15:50] Betafer commented on #20090
the problem is also present with prestashop 1.7.8.7 with ' in product name

[2022-08-21 16:57] PrestaEdit commented on #29402
Hi @riess82,

Thanks for your issue.

@QA-team : it's solved into the develop branch (https://github.com/PrestaShop/PrestaShop/pull/28280) ; as the 1.7.8.x is 7.4 compliant, don't we need to do a backport of it onto this branch ?

[2022-08-21 19:23] kamilrafik opened #29405 "Localization issue for messages with currencies that have not cents, like KRW"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There were some critical errors in

[2022-08-22 08:00] khouloudbelguith commented on #27087
Hello,

I tried to upgrade from 16120 to PS16124 using the php5.6, but I have an error
![image](https://user-images.githubusercontent.com/16067358/185869980-e7de7592-0683-42a1-8aad-88a5d3ca4a08.png)

Thanks!

[2022-08-22 08:00] hibatallahAouadni commented on #29401
Hello @valdemesio

Please send your request in English. English is the norm on GitHub.
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel fre

[2022-08-22 08:00] #29401 closed, assigned to nobody

[2022-08-22 08:01] hibatallahAouadni commented on #29401
Duplicate of #27603

[2022-08-22 08:47] atomiix commented on #26741
@fire2 Maybe you can provide us a clear way to reproduce it when coming from a clean install then? Would be very appreciated!

[2022-08-22 08:54] atomiix commented on #29268
Fixed by #29272

[2022-08-22 08:54] #29268 closed, assigned to nobody

[2022-08-22 09:21] hibatallahAouadni commented on #29402
Hello @riess82

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #26559.
It's fixed on 8.0.0 (next major release), please subscribe to the issue mentioned above.

PS: @PrestaEdit as this issue isn't a regression, that's why we fixed it on 8.0.0 :slightly_smiling_face: but let's check with the Maintainer Team, if we can backport it to 1.7.8.x branch :wink

[2022-08-22 09:21] #29402 closed, assigned to nobody

[2022-08-22 09:21] hibatallahAouadni commented on #29402
Duplicate of #26559

[2022-08-22 09:47] MatShir opened #29407 "Product page should be in experimental page section"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Product page feature flag is curren

[2022-08-22 09:49] jolelievre commented on #19605
Hi @jamiloo

it's not that we are bored, far from it, we are just focused on other things but we always welcome contributions from anyone. But as we already discussed in this thread we can't purely ignore the category position recomputing because it would mess with the category page and simply toggling the parameter, as you did, will have side effects that other users won't be happy about (which i

[2022-08-22 09:55] hibatallahAouadni commented on #29405
Hello @kamilrafik

To test your PR, we need to validate the issue, and to validate it, we need to reproduce it.
Without steps to reproduce and infos, we can not validate the issue and the PR :disappointed:
So, please provide more infos and steps to reproduce :pray:
Waiting for your feedback.

Thanks!

[2022-08-22 09:56] JaimeAlvarezMedina opened #29408 "Error in language structure"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I encounter an error in the page im

[2022-08-22 10:09] hibatallahAouadni commented on #29408
Hello @JaimeAlvarezMedina

I didn't manage to reproduce the issue with PS1767, PS1778, PS1786 and PS800, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/185896142-c0cacd84-4564-438c-bbc1-d86ce2f2e62d.png)

Closing the issue as it seems the issue has been fixed :wink:

PS: thanks for your great and well detailed bug report :clap: :pray:

Thanks!

[2022-08-22 10:09] #29408 closed, assigned to nobody

[2022-08-22 13:40] MatShir commented on #28345
@hibatallahAouadni Have you reproduced this issue https://github.com/PrestaShop/PrestaShop/issues/21034 then ?

[2022-08-22 14:35] Zulgrib opened #29409 "Allow disabling stock management for specific products or non-physical products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-22 14:35] mschiele commented on #28306
@atomiix I am trying to use the hook "actionPresentCart" with the following code:
[code]

I then receive the following error:
[code]
$params['presentedCart']['products'] is definitely an array of inherited AbstractLazyArray.

How else can I add the closure for each product in the presented cart?

[2022-08-22 14:48] Hlavtox commented on #29409
+1

Another usecase - you want to offer a product/service called **'Product assembly'** with infinite amount of 'products in stock'.

[2022-08-22 15:06] matks commented on #28345
### Analysis

Hello everyone, so let's check a little closer what happened here.

In September 2020 bug https://github.com/PrestaShop/PrestaShop/issues/21034 was reported.
It was fixed by a PR submitted in November 2020 https://github.com/PrestaShop/PrestaShop/pull/21732, tested and merged into 1.7.8.0 .

But if we check the [code](https://github.com/PrestaShop/PrestaShop/blob/1.7.8.0/controllers/

[2022-08-22 16:59] hibatallahAouadni commented on #28345
Hello @MatShir

Yes, I reproduce the issue with PS1778, PS1786 and PS800, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/185976274-ad43fc44-bc96-458c-9552-1fb250aabb1d.png)

So, it's not a regression!

Thanks!

[2022-08-22 17:01] hibatallahAouadni commented on #29220
Hello @TecnoHands

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-08-22 17:01] #29220 closed, assigned to nobody

[2022-08-22 18:15] sketchypl commented on #12814
any update? bump topic, i've the same problem

[2022-08-23 07:46] lionelJDN opened #29412 "An unexpected error occurred when you try to modify any customer information after import by webservice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An unexpected error occurred. [Pres

[2022-08-23 07:49] lionelJDN commented on #29412
I try this tips but it doesn't work in my case: [](https://github.com/PrestaShop/PrestaShop/pull/27781#issuecomment-1078064418)

[2022-08-23 07:49] DeFault-1 commented on #14733
It did not work for me in Prestashop v1.7.7.1 unfortunately.

When I try to open translations of a child theme in the Back Office I am always getting an error "the directory doesn't exist".
![Screenshot 2022-08-22 222640](https://user-images.githubusercontent.com/22258621/186101829-1979ec19-100c-43ab-9500-efe57a907969.jpg)

[2022-08-23 08:11] jolelievre commented on #28345
Hi @matks

the initial fix was destined to 178 and approved for it so I reproduced the fix targeting 178x branch which seems only fair, since we don't know why nor when the commit/fix disappeared.

https://github.com/PrestaShop/PrestaShop/pull/29413

[2022-08-23 08:12] atomiix commented on #28306
@mschiele looks like you don't need to use `appendClosure` here, you can simply do:
[code]

[2022-08-23 08:18] leemyongpakvn opened #29414 "BO - ps_linklist module change position of list item by drag and drop Error in PS 8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Module ps_linklist in PS 8.0 has an

[2022-08-23 09:23] hibatallahAouadni commented on #29412
Hello @lionelJDN

I didn't manage to reproduce the issue with PS1786 following your steps to reproduce!
The only error was dispalyed is: `A default customer group must be selected in group box.`
Cause we need to assign a customer group foreach newly created customer :wink:
See the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/186122282-d18c2734-3573-422a-a

[2022-08-23 09:36] lionelJDN commented on #29412
Hello @hibatallahAouadni, thank you very much for your answer.
It's exact. I got the same warning as you about customer group when I tried to save for the first time.
Then, i'll select a group and a default group and I got the error:
An unexpected error occurred. [PrestaShop\PrestaShop\Core\Domain\Customer\Exception\CustomerException code 0]: Customer contains invalid field values (with debug mode

[2022-08-23 09:36] hibatallahAouadni commented on #29414
Hello @leemyongpakvn

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #28120.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: the issue has been fixed with this PR https://github.com/PrestaShop/ps_linklist/pull/147 but the new version of module is not released yet

Thanks!

[2022-08-23 09:36] #29414 closed, assigned to nobody

[2022-08-23 09:42] hibatallahAouadni commented on #29414
Duplicate of #28120

[2022-08-23 09:59] leemyongpakvn commented on #29414
@hibatallahAouadni The same error but in another use case :)

[2022-08-23 10:27] hibatallahAouadni commented on #29393
Hello @ramtin2025

Thanks for the module :pray:
I reproduce the issue with PS1786, PS1787 and PS80x see the attached screen record below:

https://user-images.githubusercontent.com/23308427/186134172-ec566d0f-0fcb-4626-9e1d-35ec10f5613a.mp4

While with PS1778, the module has been uninstalled without any error, so it's a regression on 1.7.8.0!
I’ll add this to the debug backlog so that it’s fixed.

[2022-08-23 10:30] mathieuhen opened #29415 "Wholesale Price of combinations lose their decimals"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you have combiantions that hav

[2022-08-23 10:41] mschiele commented on #28306
@atomiix great! it works fine. what's important here - I debugged the foreach loop in visual studio code and the debugger preview listed each product with a property "product" of type array. I tried to modify $product['product']['name'] which was wrong ;-)

[2022-08-23 11:26] bastien70 commented on #24608
Why not upgrade to 6.1 ?

[2022-08-23 12:00] PrestaEdit commented on #24608
Because of that :  Requires: PHP 8.1.0 or higher

[2022-08-23 12:13] valdemesio commented on #29401
can't edit the cms module of prestashop 8 in portuguese, it gives error

[2022-08-23 12:13] ramtin2025 commented on #29393
Thank you.
Note that in the above example (provided test module), if you already have an override in a "product.php" class, an error will not be displayed. Of course, this does not mean that there is no problem, but the existence of a problem does not cause an error. Therefore, I am not sure that this problem does not exist in version 1.7.7.8 in your test.
I would like to help in solving this prob

[2022-08-23 12:14] PrestaEdit commented on #29401
You already say it, yes.

Could you add a screen capture of the error while having enabled the debug mode, please ?

[2022-08-23 12:16] valdemesio commented on #29401
I had to uninstall prestashop 8, because on my hosting, it was showing the administrative area and not the front page

[2022-08-23 12:18] valdemesio commented on #29401
esse é mais um erro que estava acontecendo, perdi o final de semana tentando consertar, voltei para 1.7.8

[2022-08-23 12:19] valdemesio commented on #29401
I keep thinking, I'm building a whole structure on top of 1.7.8, but I realize that when I migrate I'm going to lose a lot

[2022-08-23 12:21] valdemesio commented on #29401
joomla, usa akeeba, muito fácil, útil e sem perdas, o prestashop deveria pensar nisso

[2022-08-23 12:22] valdemesio commented on #29401
people, from what I read on the forums, give up prestashop, due to these changes, many lose their work for many days

[2022-08-23 12:24] PrestaEdit commented on #29401
Can I asking you to stop spamming this issue, as it's not a chat and it could notify every answer to each people trying helping you without having nothing from you to do it, maybe ?

Thanks a lot.

[2022-08-23 12:26] valdemesio commented on #29401
thank

[2022-08-23 13:47] hibatallahAouadni commented on #29415
Hello @mathieuhen

Thanks for the detailed steps :pray:
Unfortunately, I didn't manage to reproduce the issue with the provided infos :disappointed:
Could you please provide a screen record cause it seems there's a missing step :pray:
Waiting for your feedback.

Thanks!

[2022-08-23 13:55] hibatallahAouadni commented on #29222
Hello @abhi199424

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-08-23 13:55] #29222 closed, assigned to nobody

[2022-08-23 13:57] hibatallahAouadni commented on #29225
Hello @EhsanAllahyari

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-08-23 13:57] #29225 closed, assigned to nobody

[2022-08-23 14:22] #29415 closed, assigned to nobody

[2022-08-23 14:24] hibatallahAouadni commented on #29415
Hello @mathieuhen

Thanks for your feedback :pray:
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #14093.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-08-23 14:25] hibatallahAouadni commented on #29415
Duplicate of #14093

[2022-08-23 14:34] hibatallahAouadni commented on #29414
@leemyongpakvn yes I know and it will be fixed in each use case :wink:

[2022-08-23 14:36] mathieuhen commented on #14093
Yes, for ecotax and for wholesale_price, there is the same issue. I can reproduce both.

I think I know why you can't reproduce the bug. Personally my Prestashop is in French. So the decimal separator is a comma.
If I switch my Prestashop profile to English, then I don't have the problem anymore since the decimal separator is the point.
So if you want reproduce the bug, switch your Prestashop inte

[2022-08-23 16:09] clotairer opened #29422 "Do not authorize config.xml direct call on modules directory"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you call a shop with URL https:/

[2022-08-23 16:21] hibatallahAouadni commented on #29393
Hello @ramtin2025

Therefore, I am not sure that this problem does not exist in version 1.7.7.8 in your test.

I confirm that while retesting the issue on a newly created shop 1.7.7.0, I reproduce the issue. So it's an old bug!

Thanks!

[2022-08-23 16:24] HanaRebaiQA opened #29424 "BO - An exception is thrown when export the sql query of the employee after save it"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

 An exception is thrown when export

[2022-08-23 16:37] JacHOBBY opened #29425 "Zip file not Recognized by Prestashop installer"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
After downloding the ps_lang

[2022-08-23 16:39] hibatallahAouadni commented on #29422
Hello @clotairer

Thanks for reporting the issue and creating your PR :rocket:
I reproduce the issue with PS1.7.7.0 and PS1.7.8.6 with various modules.
I’ll add this to the debug backlog.

Thank you

[2022-08-23 17:34] serwin35 opened #29427 "Combination reference don't save / product page v1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Edit profile:
After adding a refere

[2022-08-23 18:46] serwin35 commented on #29427
![image](https://user-images.githubusercontent.com/4369427/186235963-51d9c48a-91f7-46b4-8bc1-99ba28841d8a.png)

[2022-08-24 05:08] JacHOBBY commented on #29425
Hello Kpodemski,

It work fine with this link thank you!

Maybe will be good to informed the online support about refering the proper links. I have trust they where providing me with a valid link which obviously was not the case.

Have a great one !

Jacques

[2022-08-24 08:12] AureRita commented on #29425
Hello @JacHOBBY ,

I glad to know that your problem was corrected,

thank you @kpodemski for the quick answer !

[2022-08-24 08:12] #29425 closed, assigned to nobody

[2022-08-24 08:47] kpodemski opened #29428 "Confusion if you want to use SVG logo"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There are a few issues if we want t

[2022-08-24 09:06] Amoifr commented on #29005
@florine I reproduce the error, investigation in progress

[2022-08-24 09:09] Amoifr commented on #29005
@florine2623  the issue canbe reproduced by an simpler way ....

1. Select default context
2. go to module menu
3. search link list by the search engine
4. click on configure

[2022-08-24 09:16] AureRita commented on #29427
Hi @serwin35

Thank you for your reporting, I tried to reproduce your issue as you can see on this video :

https://user-images.githubusercontent.com/100699445/186378709-b5caf949-11c2-49be-80d0-14a8c5f9744f.mp4

You can see that the Meta-title changed.

is this issue that you wanted to show us ? or I didn't do all things to reproduce your issue ?

Waiting for your feedback

[2022-08-24 09:23] kpodemski commented on #29427
Hi @AureRita

I think you made a mistake and didn't follow "How to test". Maybe it's about a different issue?

[2022-08-24 09:26] serwin35 commented on #29427
no no this is not the same problem, adding a reference or other value of type ean for a combination simply does not save it to the database

see this:
[https://www.awesomescreenshot.com/video/10676250?key=960cebfdbef485a712397593fcc7e837](video)

[2022-08-24 09:43] AureRita commented on #29427
Thank you for your quick answer,

Indeed, this is another problem that I reproduced with PrestaShop version 8.0.0 and not with the version 1.7.8.7. Nice catch ! It's a regression ! I'll add it to the patch backlog.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strong

[2022-08-24 10:05] Lospepes commented on #26230
Hello,

I had the same error. I just deleted these files to fix it : "PrestaShopBundle\Controller\Admin\Sell\index" and "PrestaShopBundle\Controller\index"

[2022-08-24 10:12] MeKeyCool commented on #28998
From last investigations, it seems that this code doesn't include fields to update properly :
https://github.com/PrestaShop/PrestaShop/blob/8.0.x/controllers/admin/AdminProductsController.php#L1883-L1885

If I well understood, this problem should be solved by adding something like this
[code]
here : https://github.com/PrestaShop/PrestaShop/blob/8.0.x/js/admin/products.js#L1864 and calling this fun

[2022-08-24 11:50] FabienPapet commented on #27665
@PrestaShop/qa-team friendly reminder as this ticket has been waiting for QA for a while.

[2022-08-24 12:27] arirangz commented on #29374
Hello,
You need to check "Consider the associated order as validated" then you can order with bankwire and the order will show the invoice.
Thanks

[2022-08-24 12:30] arirangz opened #29429 "[BO] Unable to exit REARRANGE mode on catalog"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After clicking on REARRANGE button

[2022-08-24 12:32] skutovamir commented on #28759
**PS Version:  1.7.8.2 and 1.7.8.6
Database: 10.7.3-MariaDB and 10.8.3-MariaDB**

We have encountered the same problem on our shop. We hame 1500+ categories and 120000+ products. Front page is incredibly slow when opening category with many products, and I think it can be solved quite easily.

I did some debugging and found the culprit - module ps_facetedsearch and its queries.

For product catego

[2022-08-24 12:53] MeKeyCool commented on #28998
Finally, this "js" part looks deprecated.
I think I found the proper solution with https://github.com/PrestaShop/PrestaShop/blob/8.0.x/src/PrestaShopBundle/Model/Product/AdminModelAdapter.php#L87

[2022-08-24 13:41] MeKeyCool commented on #29236
I take this one.

[2022-08-24 14:21] AureRita commented on #27665
Hello @FabienPapet and @MeKeyCool

Currently, me and @HanaRebaiQA   tried to reproduce the issue to see if the isssue is corrected but because of this issue :
https://github.com/PrestaShop/PrestaShop/issues/28014

we can't reproduce this issue, it's blocked until we correct this other issue

[2022-08-24 14:38] AureRita commented on #29429
Hi @arirangz ,

I reproduce the issue with PrestaShop version1.7.7.8, I'll add this to the backlog so it can be fixed.we can see this issue on this video :

https://user-images.githubusercontent.com/100699445/186446815-175f29bc-60e3-42d7-91c7-f359cbb066e6.mp4

You can go to the search bar if you select "unselect" on the category slider.
Please be aware that some issues might take a very long time

[2022-08-24 14:42] mschiele opened #29431 "Checkout process breaks when shopping cart is changed in another browser tab"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The checkout breaks when the shoppi

[2022-08-24 14:51] d33x opened #29432 "Import - Possibility to import the supplier with its name only while the fields "Address", "City" and "Country" are required"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It is possible to import suppliers

[2022-08-24 15:25] AureRita commented on #29431
Hi @mschiele ,

I reproduce the issue with PrestaShop version 1.7.7.8, I'll add this to the backlog so it can be fixed.
we can see this issue on this video :

https://user-images.githubusercontent.com/100699445/186458369-92e96eca-cc4c-48f2-9d6c-45abaf95822a.mp4

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it t

[2022-08-24 16:12] Hlavtox commented on #9828
@hibatallahAouadni Fixed on new product page I guess?

[2022-08-24 16:13] Hlavtox commented on #10137
@hibatallahAouadni @khouloudbelguith Can you check on new product page?

[2022-08-24 23:02] yo7hli opened #29433 "Customer Address Form sometimes renders incorrectly when the 'set default country from browser' option is enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When the 'set default country from

[2022-08-24 23:17] MeKeyCool commented on #27665
I don't understand why this issue is blocking :thinking:
Was testing with 2FA authentication a part of the current issue ?

Maybe the command line I used for SMTP configuration may help :thinking:
[code]

[2022-08-24 23:23] yo7hli commented on #29433
related to [#28781](https://github.com/PrestaShop/PrestaShop/issues/28781) which I didn't find on a first quick search

[2022-08-24 23:24] MeKeyCool commented on #29236
From my first investigations I think the problem comes from this commit : https://github.com/PrestaShop/PrestaShop/commit/7e744697e0fb8ab1daa2e33d9bce6aaa1b765d8a

[2022-08-25 06:28] zuk3975 commented on #9828
should be (at least for single shop)
(https://github.com/PrestaShop/PrestaShop/pull/21550/files#diff-e94a594ba740485c7a4882b333984d3932a2f99c0d6d0005620745087cce7a10R5301)

[2022-08-25 09:14] MatShir commented on #10137
The multistore on the product is not ready yet. So for sure, it will not work yet. But mid-release 8.1, we planned to pass on old product issue to see if we reproduced them. We hope to close many issues 🤞🤞

[2022-08-25 09:38] musaffar-patel opened #29434 "Cannot decorate back office order controller"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When attempting to decorate a back

[2022-08-25 10:04] MeKeyCool commented on #29236
@kpodemski in your module, you used `AdminControllerCore::l(...)` function which isn't maintained anymore : https://github.com/PrestaShop/PrestaShop/blob/8.0.x/classes/controller/AdminController.php#L2708

Please use `AdminControllerCore::trans(...)` instead.

[2022-08-25 10:05] jherry opened #29436 "The override directory is deleted when overrides are uninstalled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you disable a module that cont

[2022-08-25 10:25] musaffar-patel opened #29437 "Symfony module routes generate an error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When making use of symfony routes f

[2022-08-25 10:58] HartLarsson commented on #9602
i've same problem and warnings like:

[24-Aug-2022 20:04:24 Europe/Rome] PHP Warning:  Cannot modify header information - headers already sent by (output started at /home/xxxx/public_html/controllers/admin/AdminCartRulesController.php:125) in /home/xxxx/public_html/classes/controller/AdminController.php on line 1906

line 1906 is the header()

`/**
     * Assign smarty variables for the header.

[2022-08-25 11:04] augustomurri opened #29439 "Duplicated product on Manuafcturer page (Order By quantity DESC)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm having a duplicate product issu

[2022-08-25 11:12] Hlavtox commented on #23534
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/29411

[2022-08-25 11:12] Hlavtox commented on #23199
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/29411

[2022-08-25 11:12] Hlavtox commented on #20536
Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/29411.

[2022-08-25 12:51] kayaist opened #29440 "infinite scroll"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There is a problem with the infinit

[2022-08-25 13:07] MeKeyCool commented on #29236
@kpodemski , I think @jolelievre is right, while `l(...)` function exists, even deprecated, we have to ensure it works as expected :)

[2022-08-25 13:16] tom-combet commented on #20535
Something that makes no sense too: default sort order when searching for products is [this one](https://github.com/PrestaShop/PrestaShop/blob/977b59b8daefca5fe97c2d9bc7a170684ad2c206/controllers/front/listing/SearchController.php#L97) but it is absent from default [available sort orders](https://github.com/PrestaShop/PrestaShop/blob/977b59b8daefca5fe97c2d9bc7a170684ad2c206/src/Core/Product/Search/

[2022-08-25 13:50] galantematteo opened #29445 "Free shipping in coupons doesn't work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When there is a free shipping vouch

[2022-08-25 15:02] hibatallahAouadni commented on #29434
Hello @musaffar-patel

Could you please check this issue #29286 seems similar to yours.
Waiting for your feedback.

Thanks!

[2022-08-25 15:30] hibatallahAouadni commented on #29437
Hello @musaffar-patel

Thanks for reporting the issue!
Ping @PrestaShop/prestashop-maintainers can someone please try to reproduce the issue :pray:
It's too technical for me :sweat_smile:

Thanks!

[2022-08-25 16:09] musaffar-patel commented on #29434
H, the error is different to mine

[2022-08-25 17:01] augustomurri commented on #29439
@hibatallahAouadni PHP Version 7.4.30

[2022-08-25 18:22] hibatallahAouadni commented on #29433
Hello @yo7hli

Thanks for reporting the issue!
But as you mentioned your issue is a duplicate of #28781 and #29012

As we are aware of this issue and it is already in our debug backlog, I close yours as a duplicate.

To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: both issues are fixed by this PR #29122

Thanks!

[2022-08-25 18:23] #29433 closed, assigned to nobody

[2022-08-25 18:23] hibatallahAouadni commented on #29433
Duplicate of #29012

[2022-08-25 18:28] hibatallahAouadni commented on #29436
Hello @jherry

I didn't manage to reproduce the issue with natives modules.
Could you please provide a test module to help me reproducing your issue 🙏
Waiting for your feedback.

Thanks!

[2022-08-25 18:36] hibatallahAouadni commented on #29440
Hello @kayaist

Could you please switch to Classic theme 🙏
Cause it seems the issue is related to your theme 😉
Please check and feedback.

Thanks!

[2022-08-26 05:35] jherry commented on #29436
[modulewithoverride.zip](https://github.com/PrestaShop/PrestaShop/files/9430096/modulewithoverride.zip)
I was able to reproduce with this dummy module. I test on Windows.

[2022-08-26 07:55] daresh opened #29448 "Wrong shipping cost in order details"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Order details have two tables where

[2022-08-26 08:00] #24606 closed, assigned to nobody

[2022-08-26 08:01] #24607 closed, assigned to nobody

[2022-08-26 08:02] atomiix commented on #24608
Closing as every issue has been addressed

[2022-08-26 08:02] #24608 closed, assigned to nobody

[2022-08-26 08:19] mostlypixels opened #29450 "Make the $maintenance parameter of FrontController public"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-26 09:05] mostlypixels commented on #29450
The request is flawed, this would be better implemented as a new hook. Closing

[2022-08-26 09:05] #29450 closed, assigned to nobody

[2022-08-26 09:46] hibatallahAouadni commented on #29229
Hello @hanuchin

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-08-26 09:46] #29229 closed, assigned to nobody

[2022-08-26 10:17] hibatallahAouadni commented on #29450
@mostlypixels thanks for your feedback :sweat_smile:

[2022-08-26 10:53] PalomaDiPierro opened #29451 "Error Invalid $number parameter: "NAN" cannot be interpreted as a number"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When downloading PDF invoices I get

[2022-08-26 13:25] florine2623 opened #29453 "BO - Page configuration - "See all theme's modules" button doesn't filter the Theme category correctly"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This should be filtered on "Theme m

[2022-08-26 14:11] zuk3975 opened #29454 "Available now and later labels not validated properly"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In product page v2 stock tab "avail

[2022-08-26 14:13] zuk3975 commented on #29454
note in same PR should add constants in ProductSettigs class to be reused both in Product.php and in AvailabilityForm constraints.

[2022-08-26 14:22] 1Presta-czsk opened #29455 "Product combination quantity"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Editing product with combinations,

[2022-08-26 14:52] slupostrupek opened #29456 "Quantity in combination on Small Screen Phones"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Admin Back Office -> Catalog -> Pro

[2022-08-26 15:45] hibatallahAouadni commented on #29456
Hello @slupostrupek

This issue is a duplicate of #27589. And as you can see we can't reproduce the issue.
It seems related to your theme or some overrides.

Thanks!

[2022-08-26 15:45] #29456 closed, assigned to nobody

[2022-08-26 15:45] hibatallahAouadni commented on #29456
Duplicate of #27589

[2022-08-26 15:50] hibatallahAouadni commented on #29455
Hello @1Presta-czsk

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #25545.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-08-26 15:50] #29455 closed, assigned to nobody

[2022-08-26 15:50] hibatallahAouadni commented on #29455
Duplicate of #25545

[2022-08-26 16:36] hibatallahAouadni commented on #29454
Hello @zuk3975

I reproduce the issue with PS1786 and PS800 only with Product V2.
I’ll add this to the debug backlog so that it’s fixed. Thanks for your PR :rocket:

Thank you

[2022-08-26 16:45] hibatallahAouadni commented on #29451
Hello @PalomaDiPierro

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely an override or a module problem.

We will close this issue.

Thanks!

[2022-08-26 16:45] #29451 closed, assigned to nobody

[2022-08-26 16:51] hibatallahAouadni commented on #29448
Hello @daresh

It's not a bug! that's the wanted behavior:

![image](https://user-images.githubusercontent.com/23308427/186954076-b5dca652-4fef-4a06-b57f-f2be4b42f4d8.png)

Closing the issue!

Thanks!

[2022-08-26 16:51] #29448 closed, assigned to nobody

[2022-08-26 16:56] hibatallahAouadni commented on #29445
Hello @galantematteo

Closing the issue as I can't reproduce with PS1787, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/186954981-591fcf1c-9ab7-46c4-a613-f99454da11d4.png)

Thanks!

[2022-08-26 16:56] #29445 closed, assigned to nobody

[2022-08-26 17:00] galantematteo commented on #29445
Yes, but the version is different... we're using 1.7.6.5

[2022-08-26 17:04] hibatallahAouadni commented on #29412
Hello @lionelJDN

Thanks for your feedback and all details :pray:
I didn't manage to reproduce the issue as you can see the attached screen record below:

https://user-images.githubusercontent.com/23308427/186956173-59dc7841-d498-4053-8d17-9eb38559b379.mp4

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core

[2022-08-26 17:04] #29412 closed, assigned to nobody

[2022-08-26 17:11] hibatallahAouadni commented on #29434
Hello @musaffar-patel

After installing your module on PS1786, I click on Configure button and I encounter this exception:

![image](https://user-images.githubusercontent.com/23308427/186956729-9bf5cc94-45e1-4031-8c59-e48263df0e17.png)

And I didn't encounter any issue on Orders page, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/186957234-70d79ab8

[2022-08-26 17:19] hibatallahAouadni commented on #29439
Hello @augustomurri

When you install fresh shop check the option "installation of demo products" and choose **Classic** as a theme:

![image](https://user-images.githubusercontent.com/23308427/186958348-a0159f42-68a9-4c05-ac78-d4cd4f708ed4.png)

Please check and feedback.

Thanks!

[2022-08-26 17:24] hibatallahAouadni commented on #29436
Hello @jherry

I didn't manage to reproduce the issue with the provided module, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/186959064-2757c51d-e35f-402f-8549-3ae498cf647d.mp4

Please check and feedback.

Thanks!

[2022-08-26 18:28] daresh commented on #29448
@hibatallahAouadni are you kidding me? In what country end customers want to see shipping cost without tax?

[2022-08-26 19:50] kpodemski commented on #29448
Are you sure @hibatallahAouadni? It really looks like, a bug, there's no tax label, there's no indication which price is which.

[2022-08-27 01:01] costads opened #29457 "BO - Error after successful upgrade"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After a successful upgrade from 1.7

[2022-08-27 08:23] slupostrupek commented on #29456
#27589 is front office
this issues is about ADMIN BACK OFFICE

[2022-08-27 08:23] slupostrupek commented on #29456
Nope, this is front office i am talking about admin back office

[2022-08-27 10:50] PrestaEdit opened #29458 "Can't create an employee associated to another shop with email already used in database"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Once you enable the multishop and h

[2022-08-27 16:47] slupostrupek opened #29459 "BO - Product Page - Quantity in combination on Small Screen Phones is partially visible"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Admin Back Office -> Catalog -> Pro

[2022-08-27 17:00] slupostrupek commented on #29456
i've created this issue again here: #29459

[2022-08-27 17:03] slupostrupek opened #29460 "BO - "Combine several attribute" Input Box is cutting text"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

"Combine several attribute" Input B

[2022-08-27 23:17] yfbetancourth opened #29461 "Duplicar este modulo con el nombre de billetera digital"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-28 06:39] mrabsinthe commented on #9757
So, still not possible to remove the free gift from cart in 1.7.8?

[2022-08-28 11:45] Hlavtox opened #29463 "Rich text transformation improvement"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-28 15:31] AlexTechDev commented on #26152
Hi,
I can't reproduce the issue in PrestaShop 8
![image](https://user-images.githubusercontent.com/100702024/187081985-39e9db12-f3da-4d52-bae2-33f5358c4245.png)

[2022-08-28 17:38] yanmakouf commented on #29463
@Hlavtox thanks for your proposition/request. I think it is worth investigating, and, in case, improve. There are so much things that need to be improved, we will look into it and see if it is doeable or not according to the release plan, keep in mind that we cannot introduce bc breaks in a minor version so switching it would imho ( i'm new)  be in the next major (provided it is approved), since m

[2022-08-28 21:01] Hlavtox commented on #29463
@yanmakouf Yes Yani, no BCs. The question is, what to do with this code? I think this code should be in a theme related module I think. Or just removed from the default theme, because it can be styled with CSS.

[2022-08-29 08:12] sLorenzini commented on #29461
Hello @yfbetancourth,

Please send your request in English. English is the norm on GitHub.
Furthermore, you need to be more specific on the description of your feature, with some screenshots/screenrecords added, version of the module, name of the module etc..

Thank you

[2022-08-29 08:19] galantematteo commented on #29445
@hibatallahAouadni so? Invalid cause you're reproduce it whit a different version? The problem is here

[2022-08-29 08:49] sLorenzini commented on #29460
Hello @slupostrupek ,

I reproduce the issue with PrestaShop version 1.7.8.0 & 1.7.8.7.

![1787-combinations](https://user-images.githubusercontent.com/2854834/187161985-6ace6333-25ce-487a-ac76-27cbf1a60a50.png)

However, it worked on 1.7.7.8 version. It's a regression.

![1778-combinations](https://user-images.githubusercontent.com/2854834/187162424-bbc722de-c8f1-4e80-8697-366ef42e0a77.png)

I'll

[2022-08-29 09:01] atomiix commented on #29437
Hi @musaffar-patel, I'm not sure to understand what you mean 🤔
Could you maybe add a screenshot, a screen record of the problem happening or even a sample module so we can reproduce the issue?
Thanks!

[2022-08-29 09:01] hibatallahAouadni commented on #29445
@galantematteo cause it seems the problem fixed as I couldn't reproduce the issue with PS1787!

[2022-08-29 09:03] galantematteo commented on #29445
But the problem isn't fixed if PS1765 reproduce the error. We can't simply update to 1.7.X if we've linked modules working with this version.

[2022-08-29 09:13] hibatallahAouadni commented on #29448
Duplicate of #19132

[2022-08-29 09:17] jherry commented on #29436
I still reproduce: https://www.loom.com/share/442ed7fc5cdc4846a7e2c1f4bcae783b

- Server information: Windows NT build 22000 (Windows 10) AMD64
- Server software version: Apache/2.4.35 (Win64) PHP/7.2.10
- PHP version: 7.2.10
- Memory limit: 512M
- Max execution time: 300
- Upload Max File size: 200M

[2022-08-29 09:37] jf-viguier commented on #9757
@Hlavtox, @hibatallahAouadni 5th anniversary of gifts not working is coming ;-)

[2022-08-29 09:45] hibatallahAouadni commented on #9757
@jf-viguier well we're still waiting your PR 🚀 or maybe @Hlavtox PR 🎉 😄

[2022-08-29 09:53] sLorenzini commented on #29457
Hello @costads,

I couldn't reproduce your issue with an upgrade from 1.7.7.2 version to 1.7.8.7. See my screenrecord:

https://user-images.githubusercontent.com/2854834/187175210-da92797d-58cc-4de0-9dfc-12062e2e0538.mp4

Could you please give us more info to try to reproduce your error (version of upgrade module, more steps with multistore or performance configuration of your store etc..) or mayb

[2022-08-29 09:58] MatShir commented on #29398
@mparvazi Could you investigate the issue? We are quite busy on auto-upgrade and other regressions, we would appreciate your help 🥺

[2022-08-29 10:10] sLorenzini commented on #29458
Hello @PrestaEdit,

I reproduce the issue with PrestaShop version 1.7.7.8, 1.7.8.7 & 8.0.0.

1.7.7.8:
![Capture d’écran 2022-08-29 à 12 03 21](https://user-images.githubusercontent.com/2854834/187177467-53239e01-3abd-44d2-a5bc-ce92908d4c5d.png)

Screenrecord of 1.7.8.7:

https://user-images.githubusercontent.com/2854834/187177433-fa2e77e9-7907-49eb-88d8-a09d765e9b9e.mp4

8.0.0:

![Capture d’écr

[2022-08-29 10:12] costads commented on #29457
I see, that was annoying :)
I had to roll back, so can't see the exact errors now. But I was using the latest 1-click upgrade. I also bought a 3rd party module to upgrade, but got the same errors.

When I enabled debug, this was the error I got, when I clicked on orders, customers, products, etc.

SQLSTATE[42S22]: Column not found: 1054 Unknown column 't0.color' in 'field list'").

So I guess it h

[2022-08-29 11:16] mparvazi commented on #29398
OK, I'm on it.

[2022-08-29 11:17] Juiliard opened #29466 "FO - javascript issues on cart after upgrade from 1.7.6.5 to 1.7.8.7"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After upgrade from PS 1.7.6.5 to 1.

[2022-08-29 12:18] #28989 closed, assigned to FabienPapet

[2022-08-29 12:22] kpodemski commented on #29436
Maybe it has something to do with the fact that it's Windows 🤔

@Hlavtox do you think you could test it?

[2022-08-29 12:23] kpodemski commented on #29445
@galantematteo you have to update if you want to have the fix available

[2022-08-29 12:36] sLorenzini commented on #29463
Hello @Hlavtox,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
We’re waiting for your PR 🚀

Thank you

[2022-08-29 12:41] Hlavtox commented on #29436
@kpodemski @jherry
![Snímek obrazovky 2022-08-29 144125](https://user-images.githubusercontent.com/6097524/187203388-f7fca96f-cf10-4dfb-8de2-97a5b5891b18.jpg)

[2022-08-29 12:47] sLorenzini commented on #29459
Hello @slupostrupek,

Thank you for your report.

I couldn't reproduce exactly your issue on 1.7.8.0 and more. The field is broken but not empty:

![Capture d’écran 2022-08-29 à 14 39 28](https://user-images.githubusercontent.com/2854834/187204306-2cf0605f-e1da-449c-9158-916d963c4eab.png)

Could you please provide us with more info to reproduct the empty field?

- If it's on a computer, which si

[2022-08-29 12:49] kpodemski commented on #29436
@hibatallahAouadni

It is a valid issue then, but the problem occurs on Windows only.

[2022-08-29 13:01] galantematteo commented on #29445
So, there isn't fix for a core function?

[2022-08-29 13:06] kpodemski commented on #29445
@galantematteo there is, in a new version of the software :)

this is how it works, in order to get fixes and new features you need to keep your software up-to-date

[2022-08-29 13:11] galantematteo commented on #29445
Ye, know how it works, but the problem is related to modules and this a bit strange that there isn't fix for a core function of an existing version of ps. We're talking about a major bug

[2022-08-29 13:12] sLorenzini commented on #29457
@costads, thank you for your feedbacks.
It will be great if you can provide us screenshots or screenrecord of another upgrade of your store.

Waiting for it/them.

Thank you

[2022-08-29 13:19] galantematteo commented on #29445
I know, but we're talking about a major core bug of prestashop and it's impossible that there isn't a fix. I mean... when the 1.7.6 was the only version no one notice in entire world? Thats for sure something that makes me safe for all other funcionalities in ps :)

[2022-08-29 13:53] Progi1984 opened #29467 "Call to api.prestashop.com when refreshing currencies"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-29 14:14] Progi1984 commented on #29345
But this menu didn't work since 1.7.0.0 version (at least). I think we can remove this feature from the menu.

What do you think @PrestaShop/product-team ?

[2022-08-29 14:35] sLorenzini commented on #29466
hello @Juiliard,

Thanks for your report.

I've upgraded my shop from 1.7.6.5 to 1.7.8.7.
I couldn't reproduce your console errors. I can add, increase / decrease quantity, remove product from cart. Here's a screenrecord:

https://user-images.githubusercontent.com/2854834/187226349-4e04d57e-7b3b-42cf-a7c6-f5b43c889a5c.mp4

And a screenshot of my logs:

![Capture d’écran 2022-08-29 à 16 28 54](ht

[2022-08-29 14:42] sLorenzini commented on #29467
Hello @Progi1984,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
We’re waiting for your PR 🚀 😉

Thank you

[2022-08-29 14:53] sLorenzini commented on #29316
hello @hibatallahAouadni,

I've got the same error as you. I couldn't install the module and couldn't see why.
@roja45, could you tell us which OS do you use please? maybe it can help

Waiting for your feedbacks

Thank you

[2022-08-29 15:02] Juiliard commented on #29466
Hi [sLorenzini](https://github.com/sLorenzini), thanks for your checkup and reply.
I guess it is not a bug then.
And it looks like I have to dig somewhere else for the reason of this issue with this error in core.js
Any ideas would be appreciated.

I did: deactivated CCC, clean Cache, deleted Cache - no help.
Also I tried to install a new Theme - still the same issue: cannot select other pictures

[2022-08-29 15:19] #29361 closed, assigned to zuk3975

[2022-08-29 16:07] roja45 commented on #29316
[translationsbug-master-1.0.1.zip](https://github.com/PrestaShop/PrestaShop/files/9446135/translationsbug-master-1.0.1.zip)

Made it compatible with PHP 7.2

[2022-08-29 16:38] slupostrupek commented on #29459
On my Phone it's not empty either, box of quantity is to small to see numbers

[2022-08-29 20:43] matks commented on #29234
Fixed by @zuk3975 https://github.com/PrestaShop/PrestaShop/pull/29416

[2022-08-29 20:43] #29234 closed, assigned to nobody

[2022-08-29 23:34] costads commented on #29457
So I made the upgrade again so I could get the errors. The upgrade went without any errors:

I can load the Dashboard without any errors.

When I in the menu click on Orders, Customers, Modules, etc. I get this error:
Type error: Return value of PrestaShopBundle\Entity\ShopGroup::getShops() must be an instance of Doctrine\Common\Collections\Collection, null returned

[Symfony\Component\Debug\Excep

[2022-08-30 07:44] Nickovitshj commented on #23866
There was nothing ever done with this? This will be a much needed feature now that microsoft will stop using the regular login/password authentication method.

[2022-08-30 08:13] florine2623 commented on #29275
Hello @thbl ,

Since we had no news from you for 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-08-30 08:13] #29275 closed, assigned to nobody

[2022-08-30 08:22] NeOMakinG commented on #29398
Maybe, if you need to talk about it feel free to send me a pm 🚀

[2022-08-30 08:27] florine2623 commented on #29300
Hello @Gtulian ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-08-30 08:27] #29300 closed, assigned to nobody

[2022-08-30 08:32] florine2623 commented on #29440
Hello @kayaist ,

The classic theme does not have an infinite scroll.
Please contact your theme provider directly.

I'll close your issue as it does not concern the PrestaShop project.
Thanks!

[2022-08-30 08:32] #29440 closed, assigned to nobody

[2022-08-30 09:08] florine2623 commented on #29316
Hello @roja45 ,

Thanks for the module. I installed in in 8.0.x.

Here's what I have, in my case I have 3 languages, and no string displayed for Spanish:
<img width="672" alt="Screenshot 2022-08-30 at 10 49 02" src="https://user-images.githubusercontent.com/16019289/187396700-2a2d75e8-bc09-418c-964d-3100627471d5.png">

When I disable FR language, I still don't have a string for Spanish.
Could you

[2022-08-30 09:31] florine2623 commented on #29459
Hello @slupostrupek ,

In the devices that I tested, I always see the quantity, even if it's not entirely, it is never blank.
Can you confirm which device you are using ?
That way we can decide what to do with your issue.

Thanks!

[2022-08-30 09:52] florine2623 commented on #29428
Hello @kpodemski ,

I added an .svg logo successfully in Design  > Theme & Logo, it works for the Header logo and a preview is available.
<img width="398" alt="Screenshot 2022-08-30 at 11 45 51" src="https://user-images.githubusercontent.com/16019289/187405648-4a9601fc-ba6c-4ddd-8d7e-e0931beaac59.png">

Am I checking the right thing ?
Thanks!

[2022-08-30 09:54] AureRita opened #29473 "[Permission] - Can't add the right to configure and uninstall all in the modules part"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This bug a little bit similar to th

[2022-08-30 10:19] AureRita opened #29474 "[Cart Rules] - the discount isn't Highlighted"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you create a cart rule that sh

[2022-08-30 10:58] galantematteo commented on #29445
@kpodemski I've copied the store in a demo cloud, upgraded to the latest version but the result is the same. Now i can see the label changed to "free" but the total is wrong
![error](https://user-images.githubusercontent.com/87337971/187419802-f1ed1ef2-2ce9-40e9-9044-37a8fa9a2e28.JPG)

[2022-08-30 11:41] 01park opened #29476 "Customer Reassurance 5.1.1 does not work correctly with multishop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

With the latest update for Customer

[2022-08-30 11:46] florine2623 commented on #29474
Hello @AureRita ,

I can't reproduce your bug using beta 8 version.
After following your steps, here's what I have.

<img width="914" alt="Screenshot 2022-08-30 at 13 44 26" src="https://user-images.githubusercontent.com/16019289/187428284-301d3325-a140-413b-b725-f172493650e9.png">

| In my cart  | After I used my discount |
| ------------- | ------------- |
| <img width="346" alt="Screenshot 2022

[2022-08-30 12:08] florine2623 commented on #29474
@PrestaShop/qa-functional can someone try to reproduce this issue on beta 8 ? ^^

Thanks !

[2022-08-30 12:11] Hlavtox commented on #29466
Did you upgrade your theme when upgrading the shop? If not, I suggest comparing the two ZIPs and applying changes that occured in classic theme between the versions. ;-)

[2022-08-30 12:17] khouloudbelguith opened #29477 "FO - An exception is displayed in the FO when the "Use Cache" & "debug mode" are enabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The FO is totally broken after enab

[2022-08-30 12:30] slupostrupek commented on #29459
iphone 12

[2022-08-30 12:54] kpodemski commented on #29428
Hello @florine2623

You're right. I have the logo added only to one of the shop's contexts. The remaining issue is only point number 2, which is more like a feature request as the wording doesn't meet the reality.

[2022-08-30 12:57] florine2623 commented on #29473
Hello @AureRita ,

I reproduced the bug in beta 8 and 1.7.8.x
Even with less steps it can be reproduced.

My steps:
1. Go to Advanced Parameters > Team
2. Go to Profiles tab and create a profile "module"
3. Go to Permissions tab and add the right to view all your shop + all the rights for the modules:
<img width="1216" alt="Screenshot 2022-08-30 at 14 55 29" src="https://user-images.githubusercont

[2022-08-30 13:05] roja45 commented on #29316
What is your installation's language?

The general point is this:

During installation I need to setup from data items for use in the module, these I would like to install translated for the users, the translation function allows for this by passing the locale:
[code]
I am setting it to a configuration value only to show it in the back office.

I also provide a translation;

[code]

However, as yo

[2022-08-30 13:11] kpodemski commented on #29459
Hi @florine2623

Just a suggestion, I think it's worth improving, even if the field is partially visible. The question is whether this issue exists on the new product page or not.

[2022-08-30 13:23] Kandax86 opened #29478 "Wrong assets loaded when server remote and CDN defined"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
i noticed when i register ex

[2022-08-30 15:07] khouloudbelguith opened #29480 "BO - Product V2 - No validation while uploading product image more than defined size limit."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In product V2, there is no validati

[2022-08-30 15:09] Juiliard commented on #29466
That's a really good idea @Hlavtox, thanks !

Here are settings which I used during Upgrade, so yes I kept my modified classic theme:
<img width="623" alt="Screenshot 2022-07-28 at 13 07 17" src="https://user-images.githubusercontent.com/58143423/187472641-d19f10ef-b0da-4c53-aa16-d61bab9ffb9c.png">

Would you also recommend the best tool for Mac users to do "comparing the two ZIPs"?

[2022-08-30 15:24] MatShir commented on #28966
NB: Keep the issue opened for the 1.7.8.x PR

[2022-08-30 15:30] MatShir commented on #27316
Status: blocked, I will test and see if there are still issues and create a dedicated issue if so.

[2022-08-30 15:51] florine2623 commented on #29478
Hello @Kandax86 ,

Thanks for reporting this issue!
Ping @PrestaShop/prestashop-core-developers : Could someone please try to reproduce the issue, it's too technical!

Thanks in advance!

[2022-08-30 17:12] dmg-leusden opened #29482 "Manual upgrade tool does not show fatal errors"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I ran php install/upgrade/upgrade.p

[2022-08-30 17:31] dmg-leusden opened #29483 "When uninstalling a module where a hook is deleted from the hook table (foreign key remains in different table), fatal errors occur."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When running `php install/upgrade/u

[2022-08-30 17:47] dmg-leusden commented on #29483
Possible fix, by wrapping unregisterHook with a try/catch in Module::uninstall:

[code]
I don't know if there are any side effects however.

[2022-08-30 18:51] 01park commented on #29476
Hi,

I tested it again by removing all and reinstalling the module.

Things are working good now.

[2022-08-30 19:57] galantematteo opened #29485 "[CART RULES] Free shipping in coupons doesn't work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When there is a free shipping vouch

[2022-08-30 19:59] kpodemski commented on #29005
Hello everyone

I can confirm this issue. I've rechecked it, and it doesn't work correctly. Even if I have a module enabled in every store, it is impossible to configure it from the "All shops" context, which is a bug.

[2022-08-30 20:27] matks commented on #27829
Closing as decision was finally taken

[2022-08-30 20:27] #27829 closed, assigned to nobody

[2022-08-30 21:50] atmaniak opened #29486 "S3 storage for content (images, downloads, ...)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-31 07:38] PrestaEdit opened #29487 "Pass the field submitLogin inside the formFields instead of adding it inside template"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-08-31 08:30] atomiix commented on #29478
Hi @Kandax86, I'm not sure to understand steps 1 & 2. What do you mean by `insert and external css with server: remote option`?

[2022-08-31 08:54] matks commented on #28924
@jolelievre you assigned yourself to this topic in July, did you submit a PR? did you do something?

[2022-08-31 08:58] matks commented on #28924
@khouloudbelguith I am sorry but this issue description cannot be used by people who do not have a deep knowledge of the project 😞  .

This is a git alias used by QA team only

I think not all modules do use npm dependencies 😅

_No response_

Without "expected behavior" developers cannot fix this problem. If the module is too large, should we display an information message? Then we need the wordin

[2022-08-31 09:00] hibatallahAouadni commented on #29474
Hello @AureRita

I didn't manage to reproduce the issue with 8.0.0 Beta, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/187640539-c3eccd58-8e62-4a09-ac21-593f690186fc.mp4

Please check and feedback.

Thanks!

[2022-08-31 09:16] AureRita commented on #29474
Hi @hibatallahAouadni and @florine2623,

After a retry with this new day, I see that it's a duplicate of https://github.com/PrestaShop/PrestaShop/issues/25199

Thank you for your time

[2022-08-31 09:16] #29474 closed, assigned to nobody

[2022-08-31 09:17] AureRita commented on #29474
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/25199

[2022-08-31 09:18] matks commented on #29242
PR for module release https://github.com/PrestaShop/ps_linklist/pull/153

[2022-08-31 09:33] AureRita commented on #29487
Hi @PrestaEdit  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

We're waiting for your PR :rocket:

Thank you

[2022-08-31 09:38] hibatallahAouadni commented on #29459
Hello @slupostrupek

I reproduce the issue with PS1786 and PS800_beta, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/187647686-43407e79-d15c-4a17-a00d-2460aa58d830.png)

And as you can see I didn't manage to reproduce the issue with PS1770, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/187648560-6f2

[2022-08-31 09:40] atomiix commented on #29478
@Kandax86 I'm not able to reproduce the issue, here's what I've done:

Setting a media server:
<img width="599" alt="Capture d’écran 2022-08-31 à 11 30 12" src="https://user-images.githubusercontent.com/2168836/187648130-801bf421-e192-46eb-8ff8-7850bbd129c6.png">

Adding an external asset for the theme:
<img width="736" alt="Capture d’écran 2022-08-31 à 11 30 31" src="https://user-images.githu

[2022-08-31 09:42] AureRita commented on #29486
Hi @atmaniak  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone else

[2022-08-31 10:05] kpodemski commented on #29005
One more thing I forgot to mention. It might be related to what @matthieu-rolland is fixing in other PRs where he had to fix some things around putting an `active` flag to the database.

[2022-08-31 10:07] AlanReibel commented on #26159
I have similar problem, when saving BO product takes between 1 and 2 minutes.
Meanwhile I disabled the module but I wonder about what is the real problem here.
It is not the same issue than #19095
PS: 1.7.8.7
ps_facetedsearch 3.8.0

[2022-08-31 10:40] khouloudbelguith opened #29491 "BO - Employee page - The alert is not well displayed when we cancel the modification of the password"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Edit employee page, whe

[2022-08-31 11:09] khouloudbelguith commented on #28924
Hi @matks,

Thanks for your feedback.
About the command `git prc origin [id_pr] dev`, I updated the issue

For the expected behavior, I added a screenshot about the error displayed in the PS1.7.8.7.

Thanks!

[2022-08-31 11:46] margud commented on #28738
Is it really a issue where changing product type to virtual the price is changed to old price + ecotax. i can see that this logic was added not so long ago. So maybe this is the correct way?
commit: [4700513](https://github.com/PrestaShop/PrestaShop/commit/4700513)

[2022-08-31 12:23] AureRita commented on #29491
Hi @khouloudbelguith ,

I reproduce the issue with PrestaShop version 8.0.0 Beta and not with the version 1.7.8.7. Nice catch ! It's a regression ! I'll add it to the patch backlog.
You can check the bug on this video :

https://user-images.githubusercontent.com/100699445/187677128-fada2a35-72a7-435e-8d2f-8dfeb9e8b990.mp4

Please be aware that some issues might take a very long time to be resolved

[2022-08-31 12:28] zuk3975 commented on #28738
ping @jolelievre I see it was your commit, should know better.

[2022-08-31 12:44] NeOMakinG commented on #28874
@hibatallahAouadni @khouloudbelguith @jolelievre

This behavior is totally normal, having a different styling for focus and active states is a common a11y good practice

The old product page was disabling the button, this is why the shadow wasn't visible on the active state

Also, any buttons not disabled will keep the focus state until you click somewhere else on the page, this is normal behavior

[2022-08-31 12:46] 01park commented on #16753
Hello,

In Table=ps_stock_available after removing a product the product id is showing for multistore. Has this issue been solved?

( using 1.7.8.7 prestashop )

[2022-08-31 12:47] Kandax86 commented on #29478
By my side it's printing

[code]

And as you can see, some are juste targetting the website root url if the resource file is empty or not found.
and for external css too....

[2022-08-31 12:55] AureRita commented on #29485
Hi @galantematteo

Thank you for your reporting, I reproduce your issue and I think it can be the same that this feature that already exist: https://github.com/PrestaShop/PrestaShop/issues/28287

Tell me if you are aggree with this.

If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a professional](https

[2022-08-31 13:00] galantematteo commented on #29485
Yes, same problem!
Maybe an hyptetic release for this core bug?

Thx

[2022-08-31 13:45] matks commented on #29357
Thank you @leemyongpakvn this is a valid refactoring idea

[2022-08-31 13:54] AureRita commented on #29485
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/28287

[2022-08-31 13:54] #29485 closed, assigned to nobody

[2022-08-31 14:13] NeOMakinG commented on #23496
Closing in favor of https://github.com/PrestaShop/hummingbird/issues/347

[2022-08-31 14:13] #23496 closed, assigned to nobody

[2022-08-31 14:45] msaustral opened #29493 "Cart rule discount with quantity 1 can be use more than once"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A discount cart rule can be use by

[2022-08-31 14:50] #29476 closed, assigned to nobody

[2022-08-31 14:51] AureRita commented on #29476
Hi @01park ,

Because of non reproductibility,

I close this issue

[2022-08-31 15:02] NeOMakinG commented on #28162
Obviously, the scrollbar was caused by a wrong negative margin on specific modals that now doesn't exist at all if you can confirm @MatShir

The border will be fixed in the next UIKit release by this PR: https://github.com/PrestaShop/prestashop-ui-kit/pull/195

[2022-08-31 15:03] AureRita commented on #29428
Hi @kpodemski

Thank you for your answers, strangely my answer wasn't send ...
So I didn't see the help label says:
Warning: if no email logo is available, the main logo will be used instead.

as you can see :
![image](https://user-images.githubusercontent.com/100699445/187711994-0feb8e12-8812-4fe7-b6aa-8336a3aad858.png)

I think it's an entire feature so I'll treat it like it,

The Maintainer Tea

[2022-08-31 15:04] #29383 closed, assigned to nobody

[2022-08-31 15:19] AureRita commented on #29493
Hi @msaustral ,

I reproduce the issue with PrestaShop version 1.7.7.8, I'll add this to the backlog so it can be fixed.
You can see this issue on this video :

https://user-images.githubusercontent.com/100699445/187715807-307dcdc2-6f25-42a0-bf16-48434586fc08.mp4

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it

[2022-08-31 15:37] AureRita commented on #29482
Hi @dmg-leusden,

Thank for your report. I tried to reproduce your issue and I've only a great exception that looks like that :
![image](https://user-images.githubusercontent.com/100699445/187719643-9703b94e-124d-4cc1-b594-de5506b0e306.png)

is this your issue ?
If not, could you write the entire steps to reproduce to allow the QA team to reproduce your issue ?

Waiting for your feedback

[2022-08-31 16:08] khouloudbelguith opened #29495 "BO - credit-slips - An exception is displayed when downloading a credit slip with deleted product"
## Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

## Describe the bug and add screenshots

In the BO > Orders > Credit slips pag

[2022-08-31 16:24] jolelievre commented on #28874
@NeOMakinG

ok for the focus but it feels weird to keep the focus one while it's performing an action in ajax no? I would expect it to unfocus at this moment, but why not

[2022-08-31 16:29] haveyougotanypets opened #29496 "Front office breadcrumb trail does not display child of disabled parent"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Take an example category hierarchy:

[2022-08-31 18:25] costads commented on #29457
No news?
I had a guy quickly looking at it, and he said
"In the shop_group table, there is a missing color field"

Do you have a 1.7.8.7 DB backup, so I can compare the tables?

[2022-08-31 20:19] matks commented on #29030
Hi @Danoosh I am sorry, just like @sLorenzini I am not able to reproduce the issue you mention.

As I can't reproduce your issue, I will close it but feel free to open another one if more information pops up 😉

Thanks!

[2022-08-31 20:19] #29030 closed, assigned to nobody

[2022-08-31 20:27] matks commented on #29123
@marwachelly Can you try to reproduce it on 1.7.7.0? @PrestaEdit says the behavior in versions before 1.7.8 was different

[2022-09-01 00:01] ocio87 opened #29500 "Prestashop js files are being replaced"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It has occurred to me on 3 occasion

[2022-09-01 00:57] costads commented on #29457
Another update:)

So I checked my DB for the column 'color' in ps_shop_group in PS running 1.7.7.2, and it was there.
After the upgrade to 1.7.8.7 it was not there anymore.

Now I can load the BO in debug mode, but as soon as I disable debug mode, I get this error again

Type error: Return value of PrestaShopBundle\Entity\ShopGroup::getShops() must implement interface Doctrine\Common\Collections\C

[2022-09-01 07:14] NeOMakinG commented on #28874
Most of the time you want to disable the button if it performs an action, or change it to a loader state, this is not a styling issue but more an implementation one to me

[2022-09-01 07:24] mrabsinthe commented on #28522
What are the current plans for this version release? Still keeping the 6 weeks release cycle?

[2022-09-01 07:31] #28354 closed, assigned to Progi1984

[2022-09-01 07:31] matks commented on #28354
Fixed by https://github.com/PrestaShop/ps_wirepayment/pull/78

[2022-09-01 07:36] matks commented on #28522
As mentioned [here](https://github.com/PrestaShop/PrestaShop/issues/28522#issuecomment-1187490486) priority is given to PrestaShop 8.0.0 for now. The project team does not have the capability to test both 8.0.0 and 1.7.8.8 so 1.7.8.8 is being delayed until the workload goes down.

We hope to be able to build, test and deliver 1.7.8.8 in September but this will happen only if all goes right with 8.

[2022-09-01 07:43] matks commented on #29493
@msaustral  @AureRita I actually that this is a bug 😉 for me this is an expected behavior.

When working with e-commerce, you always have to deal with concurrent users.
- what happens when 2 people, at the same moment, put the last item available in their cart?
- what happens when 2 people, at the same moment, use the same coupon?

And usually what e-commerce software does is it gives the shop adm

[2022-09-01 07:45] matks commented on #29500
@ocio87 If you do not know why it happens there is nothing we can do 😞

[2022-09-01 07:59] Progi1984 commented on #29345
@PrestaShop/qa-functional I just tested on a 1.7.0.6 version. And the menu didn't work.

[2022-09-01 08:24] #29263 closed, assigned to nobody

[2022-09-01 08:32] NeOMakinG commented on #29198
@PrestaShop/prestashop-maintainers Which version should I aim?

[2022-09-01 08:40] kpodemski commented on #29198
I think v8.1 should be ok, as long as behavior and markup stays the same?

[2022-09-01 09:08] NeOMakinG commented on #29198
I guess we should introduce new specific hooks on every page where widgets are used then or am I missing something?

[2022-09-01 09:11] kpodemski commented on #29198
You're right, but this will be a new feature, with the release of a new module (because it will be needed), they could still be displayed as a widget and in the hook.

[2022-09-01 09:55] hibatallahAouadni commented on #29345
Hello @Progi1984

I think you're talking about this #9971 :wink:

Thanks!

[2022-09-01 10:03] HanaRebaiQA commented on #29495
Hello @khouloudbelguith

Thanks for your report.

I did manage to reproduce your issue with 8.0.0 beta using **php8.0** and **php7.4** versions.
While, i didn't reproduce it with php7.3. Indeed, i confirm it's a regression.

**php 8.0 : NOK** :x:

https://user-images.githubusercontent.com/92912932/187887756-5b88b057-fdcb-405e-9769-e32fc8149060.mp4

**php 7.4 : NOK** :x:

https://user-images.github

[2022-09-01 10:17] boubkerbribri opened #29501 "Install PrestaShop fail on module Step"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error occurred if trying to inst

[2022-09-01 10:19] hibatallahAouadni commented on #29345
Hello @MatShir

No this is not a duplicate.
Well let me explain, from 1.7.0.0 this option doesn't work! As you can in the issue #9971 😉
Then, we encounter a regression on the migrated page where we notice that the option is not displayed at all 😕

So, what we should do? Should we fix the old issue and then this regression or close both as not planned?

Thanks!

[2022-09-01 10:23] MatShir commented on #29345
Let's flag it as a duplicate, and note in the first issue that the button was removed in the migration process since it was not working

[2022-09-01 10:23] #29345 closed, assigned to nobody

[2022-09-01 11:07] HanaRebaiQA commented on #29496
Hello @haveyougotanypets

Thanks for your report.
Is your issue similar to these ones : [#28864](https://github.com/PrestaShop/PrestaShop/issues/28864) , [#23530](https://github.com/PrestaShop/PrestaShop/issues/23530) , [#20946](https://github.com/PrestaShop/PrestaShop/issues/20946)  ?

We are waiting for your feedback!
Thank you!

[2022-09-01 12:01] matks commented on #28522
Just found this article I wrote 2 years ago
https://build.prestashop.com/news/ps17-patch-release-lifecycle/

If you read the [section](https://build.prestashop.com/news/ps17-patch-release-lifecycle/#why-six-weeks-and-not-eight-or-two) `Why six weeks, and not eight or two ?
` you'll find what it is so expensive to build, test and deliver 1.7.8.8 and why we cannot do it at the same time as 8.0.0

[2022-09-01 12:08] haveyougotanypets commented on #29496
HI @HanaRebaiQA

No it is not the same as any of these bugs.

[2022-09-01 12:23] mrabsinthe commented on #28522
Thank you for the clarification.

[2022-09-01 12:52] matks commented on #29012
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29122

[2022-09-01 12:52] #29012 closed, assigned to yanmakouf

[2022-09-01 13:14] jolelievre commented on #28874
@NeOMakinG Ok, then I guess we can close this one?

[2022-09-01 13:17] HanaRebaiQA commented on #29500
Hello @ocio87

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it.
 **You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).
Feel free to create a new issue if you ca

[2022-09-01 13:17] #29500 closed, assigned to nobody

[2022-09-01 13:30] PrestaEdit commented on #27635
Hi @khouloudbelguith ,

Could you say me why this issue was not added as a regression ? If I understand well, it's a bug introduce on a minor version, isn't it ?

[2022-09-01 14:21] #29371 closed, assigned to nobody

[2022-09-01 14:30] zuk3975 commented on #28363
I don't see any issue in 8.0.x and develop branch.
The summary max length is set to 800 and constraints works as expected.
1. When too many symbols provided I see error as expected
![Screenshot from 2022-09-01 17-28-33](https://user-images.githubusercontent.com/31609858/187939435-779bd2c2-931b-4945-bae1-f3c86c01b372.png)
2. When symbols in allowed range It is saved and shown correctly as expected.

[2022-09-01 14:30] Hlavtox commented on #29493
@matks

This doesn't make any sense, if the admin is not dumb, he will configure it properly.
This is the same as "we should leave expired vouchers working" - WTF? 😄
You set voucher amount because you do not want this voucher to be used and people cheat on you.

**Scenario 1**
If it's a public action you want people to use, you set amount to 9999999999.

**Scenario 2**
If it's "HERE ARE 100 VOUCHE

[2022-09-01 14:34] HanaRebaiQA commented on #29501
Hello @boubkerbribri

Thanks for reporting the issue.
I was unable to reproduce your issue using the same steps to install `8.0.x` and `1.7.8.x`

Here is the steps :

1. Clone the repo PrestaShop using `git clone git@github.com:PrestaShop/PrestaShop.git`
2. Checkout 1.7.8.x (for install 1.7.8.x)
3. Checkout 8.0.x (for install 8.0.x)
4. Make install
5. Go to installation page and fill up all forms

[2022-09-01 14:59] arirangz commented on #29374
Hello,

Thanks for your feed back.

Actually, you have to check this box in the order status:
Allow a customer to download and view PDF versions of his/her invoices.

Sorry, I will update the bug description

[2022-09-01 15:04] matks commented on #29493
I am not saying "we should allow people to use multiple times a voucher that is supposed to be used once"

I am saying "if, because of bad luck, 2 people at the very same time use a voucher and when they enter it is is indeed valid (= not used before) some merchants will prefer to allow both sales rather than disappoint 1 customer who was 1) said "ok this voucher is valid" then 2) when he wants to

[2022-09-01 15:12] boubkerbribri commented on #29501
I just updated the description to add 2 steps to reproduce :
- debug mode = Off
- Install lang : FR

[2022-09-01 15:14] sLorenzini opened #29506 "[Multistore] Combination product - Availability preferences is not saved correctly on all shops"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you're on multistore, with "al

[2022-09-01 15:29] Hlavtox commented on #29496
I am thinking if it's even correct to allow disabling a parent category with active children... 🤔

[2022-09-01 15:37] HanaRebaiQA commented on #29501
Hello @boubkerbribri

Yes. As you mentioned, i have cleared all caches using `git clean -xfd` and delete cache under` var/cache`
Also, i checked when `debug mode = False` and `Install Lang = FR`, but i couldn't reproduce it.

![image](https://user-images.githubusercontent.com/92912932/187954883-74774197-5fd3-4857-8f55-6762a0476e97.png)

https://user-images.githubusercontent.com/92912932/187954927-

[2022-09-01 15:58] matks commented on #28998
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29417

[2022-09-01 15:58] #28998 closed, assigned to MeKeyCool

[2022-09-01 15:58] matks commented on #29310
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29324

[2022-09-01 15:58] #29310 closed, assigned to FabienPapet

[2022-09-01 15:58] matks commented on #28781
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29122

[2022-09-01 15:58] #28781 closed, assigned to yanmakouf

[2022-09-01 16:07] matks commented on #24650
@atomiix What is the status of this topic? Is there something left to be done?

[2022-09-01 16:09] matks commented on #28433
Issue blocked because of latest findings on PR https://github.com/PrestaShop/PrestaShop/pull/28612

[2022-09-01 16:28] matks commented on #29130
As explained here https://github.com/PrestaShop/ps_emailalerts/pull/117#issuecomment-1234512988 I close this topic

[2022-09-01 16:28] #29130 closed, assigned to nobody

[2022-09-01 16:31] boubkerbribri commented on #29501
Fixed with 2 pull request made by atomiix

[2022-09-01 16:31] #29501 closed, assigned to atomiix

[2022-09-01 16:35] MhiriFaten opened #29507 "BO - Wrong display in stats page when resizing screen with RTL language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Wrong display in stats page when re

[2022-09-01 16:35] khouloudbelguith opened #29508 "BO - Export current theme throw an exception when we create a custom language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A custom language is manually creat

[2022-09-01 16:45] HanaRebaiQA commented on #29507
Hello @MhiriFaten

Thanks for your first issue :tada:
I was able to reproduce your issue using 8.0.0 beta with RTL languages (Arabic) with `1024*851` as pixels

With RTL language :

![image](https://user-images.githubusercontent.com/92912932/187968173-bd4b1694-ed30-4d7d-9dab-25de567df09e.png)

With non-RTL language :

![image](https://user-images.githubusercontent.com/92912932/187968268-431393fb-a

[2022-09-01 16:45] HanaRebaiQA commented on #29507
It's related to this issue [#27256](https://github.com/PrestaShop/PrestaShop/issues/27256)

[2022-09-01 17:04] HanaRebaiQA commented on #29506
Hello @sLorenzini

Thanks for your report.
I was able to reproduce your issue with 8.0.0 beta with Product V1 and Product V2.

**8.0.0 beta with Product V1 : NOK** :x:

https://user-images.githubusercontent.com/92912932/187971604-c96d28ff-08d2-461a-ad68-8376a3045fb6.mp4

**8.0.0 beta with Product V2 : NOK** :x:

https://user-images.githubusercontent.com/92912932/187971597-ca25079b-5922-448e-bcf4-e

[2022-09-01 17:09] HanaRebaiQA commented on #29457
Hello @costads

Thanks for your feedback.
I tried to reproduce your issue using an upgrade from 1.7.7.2 to 1.7.8.7. But, i was unable to reproduce it.
I checked when :

- debug mode = ON and Debug mode = OFF after an upgrade on PS1787

https://user-images.githubusercontent.com/92912932/187963445-ac32bf4e-b017-4c67-8789-258e983a0d58.mp4

- debug mode = ON and Debug mode = OFF of PS1772 before and a

[2022-09-01 18:07] ocio87 commented on #29500
It is found that the blockreassurance module which is disabled in my prestashop is infected with the following file:

![image](https://user-images.githubusercontent.com/12537826/187971457-839cffe3-7f45-4226-9616-63fa6db9a29d.png)

[2022-09-01 20:14] costads commented on #29457
Well, I don't know what is going on.

I just did a manual update, and everything went fine.

In debug mode I can browse around in BO without problems, but as soon as I disable Debug mode, I get this error:

Type error: Return value of PrestaShopBundle\Entity\ShopGroup::getShops() must be an instance of Doctrine\Common\Collections\Collection, null returned
[Symfony\Component\Debug\Exception\FatalTh

[2022-09-01 22:09] haveyougotanypets commented on #29496
I think it is valid to be able to disable parent categories with active children

The use case I have above is that the **Type** category is used purely for organisation purposes in the back end. This is very useful. By disabling it the end user does not see it but it allows us to organise our categories and products in a much more orderly fashion.

[2022-09-02 02:12] waflessnet commented on #28176
hello , idem problem  in ps 1.7.8.6 !

[2022-09-02 05:33] costads commented on #29457
Just to add, I can upgrade to all versions up to 1.7.7.8 without any problems.
So something has changed radically somehow for multishop from 1.7.8.0 and up.

[2022-09-02 07:25] Julievrz commented on #24650
The status of the issue can be followed here: https://forge.prestashop.com/browse/INFRA-133

We are still missing some redirections.

[2022-09-02 07:49] #28874 closed, assigned to jolelievre

[2022-09-02 08:05] hibatallahAouadni commented on #29339
Friendly reminder @PrestaShop/theme-maintainers can someone please reproduce the issue, cause the PR is blocked :pray:

[2022-09-02 08:25] lmeyer1 commented on #29339
@hibatallahAouadni What is not reproducible ?
Don't you find this query with Debug profiler enabled?
[code]
Don't you notice these things in the query when observing it ?
- there are two inner joins on `ps_module_shop`
- the join `ps_module_shop module_shop` is more restrictive than `ps_module_shop ms` and selects a strict subset of records
- the alias `ms` of the less restrictive join is never us

[2022-09-02 08:28] lmeyer1 commented on #29339
I edited the steps to reproduce to clarify. This must be reproducible. The query must up show as it stands above.
If you are not sure if the duplicated join is really a duplicate, ask someone that speaks fluently SQL.

[2022-09-02 09:30] rsoulard-prolaser opened #29513 "GDPR module - If there is only one module using the GDPR hook, it is ignored"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If there is only one module using t

[2022-09-02 09:54] FabienPapet commented on #29147
Hello, @musaffar-patel  I succesfully reproduced the issue you submitted with @jolelievre 's help , but I can see the controller you are using in your module extends `\Module` which is not a recommended way to create controllers (The Symfony controllers may extends `AbstractController` or nothing, but cannot extends PrestaShop core classes).

As this is not a recommended way to create controllers,

[2022-09-02 10:11] musaffar-patel commented on #29147
Hi @FabienPapet thanks for looking into this and providing the correct usage for the controllers

[2022-09-02 10:21] #29147 closed, assigned to FabienPapet

[2022-09-02 10:47] Prestafan1234 commented on #28674
@HanaRebaiQA can someone look at this bug please?

[2022-09-02 11:26] matks commented on #29339
Thank you @lmeyer1

If needed maybe we can all discuss on the Slack open source channel to see how we could get this confirmed and validated, all together in a video-meeting online? 😊

@kpodemski you might want to get involved 😝

[2022-09-02 13:59] HanaRebaiQA commented on #28674
Hello @Szobi81

Did you check with the new `ps_cashondelivery v2.0.1 `? cause normally this [PR](https://github.com/PrestaShop/ps_cashondelivery/pull/46) fixed this origin issue.
Otherwise, if the issue still exists you can open a new ticket to can treat it easly.

Thank You!