[2021-09-03 10:17] khouloudbelguith commented on #25782
Hi @dmoibm,

Thanks for you report.
Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).

Thanks to edit your first comment.

[2021-09-03 10:23] CalfCrusher commented on #19255
ASD ! i love how prestashop developers are so n00bz. It's your fault if that CMS is rotten to the core! Do u have any idea that it tooks literally seconds to guess the right admin path ? Are u serious or what ? Admin path is a "random" string generated using 3 digits then followed by an alphanumeri string, lmao! Something like that: "admin655ci6kkr" u think that's hard to guess this string with to

[2021-09-03 10:26] khouloudbelguith commented on #25762
Hi @Rockabit,

Thanks for your report.

did you use the module 1-click upgrade?
If yes, what is the exact version did you use?

What is the exact type of image did you upload? is it png, jpeg, gif,...?

Does this issue occur only when you try to edit old products or also new products created after the upgrade?

Thanks!

[2021-09-03 11:06] go-sudo opened #25783 "PS_WIREPAYMENT order validation fatal error"
Hello
The page /module/ps_wirepayment/validation show message  **Fatal error** on checkout-payment-step

I enabled the debug mode and this message appear
![image](https://user-images.githubusercontent.com/11594433/131995043-ab29220c-4afc-4758-86b5-f627ab373dfb.png)

So I made a reset to this 2 modules
Mail alerts v2.3.0 - par PrestaShop
Transfert bancaire v2.1.0 - par PrestaShop

I deleted the fol

[2021-09-03 11:08] khouloudbelguith commented on #25779
Hi @goyetus,

I did not manage to reproduce the issue with PS1777 using the gamification module and the ps_gdpr module.
https://drive.google.com/file/d/1ERkY1F4mpLIqQ3VGRIyE4zOj0TrAJGBL/view?usp=sharing

As it's not a module provided by Prestashop core, we can't do anything with this.
You should contact the module author via this mail `support-metrics@prestashop.com` they are the only ones to help

[2021-09-03 11:08] #25779 closed, assigned to nobody

[2021-09-03 11:18] khouloudbelguith commented on #25783
Hi @go-sudo,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.7.7 using the module ps_emailalert v2.3.0 & the module bank transfer v2.1.0.
I attached a screen record https://drive.google.com/file/d/1w8Mr_552SBhEJXh4HimKjCiOAzE3V2g_/view?usp=sharing

Thanks to check and feedback.

[2021-09-03 11:19] khouloudbelguith commented on #25718
Hi,

Fixed by https://github.com/PrestaShop/PrestaShop/pull/25749

Thanks!

[2021-09-03 11:19] #25718 closed, assigned to sowbiba

[2021-09-03 11:20] khouloudbelguith commented on #25753
Fixed by https://github.com/PrestaShop/PrestaShop/pull/25749

[2021-09-03 11:20] #25753 closed, assigned to atomiix

[2021-09-03 11:23] kpodemski commented on #25578
I think that the entire process of uploading/installing the module could be a bit different.

Right now, when we upload the new module, it is replacing the old one. Maybe we should update it to the temporary location, read some `.yml`, use `ReflectionClass` or something, and validate if every requirement has been met? then we can move it to the destinated location

[2021-09-03 11:29] attiliobs commented on #25722
Hello @khouloudbelguith, @florine2623 i have an update about this problem. I make a little script in php for import combinations, and i obtained same result as Prestashop Import combination process. So i made more tests, and i understand that the this bug, depends on attributes values already present. During import combinations when an attribute value is equal to a previous combinations attribute

[2021-09-03 11:40] go-sudo commented on #25783
Hello

Last action i did is this

UPDATE ps_address_format SET
format = 'firstname lastname\r\naddress1\r\naddress2\r\npostcode city\r\nCountry:name\r\nphone';

Regards

[2021-09-03 11:41] khouloudbelguith commented on #25701
Hi @LinkOfLight, @tswfi,

Yes, we have the same behavior with PS1769 and PS1777.
When the Order is set as shipped or delivered, we cannot:
- Add a product
- Remove a product
- Edit a product

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is

[2021-09-03 11:51] khouloudbelguith commented on #25670
Hi @ivordurham,

On this github repository there is no software support. This is an open source project.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, y

[2021-09-03 11:51] #25670 closed, assigned to nobody

[2021-09-03 11:52] kpodemski commented on #25782
Thank you @dmoibm

You're right, this check is invalid.

@khouloudbelguith it's more like a dev report but he's right and it's indeed a bug 👍

[2021-09-03 11:54] khouloudbelguith commented on #25783
@go-sudo,

so, did you update your table manually via database or from the BO > International > Countries page?
![image](https://user-images.githubusercontent.com/16067358/132001229-c0996f4e-68d0-484b-9dce-1ed94f372a8a.png)

Thanks!

[2021-09-03 11:56] go-sudo commented on #25783
Hello

From PHPMYADMIN

Regards

[2021-09-03 12:06] Hlavtox commented on #25773
@hibatallahAouadni You are testing a different hook. But good to know it works!

But actionShippingPreferencesPageHandlingForm should also work, see it's included in the code https://github.com/PrestaShop/PrestaShop/search?q=actionShippingPreferencesPageHandlingForm

So, either it should be removed or made working, WDYT?

[2021-09-03 12:19] khouloudbelguith commented on #25782
Thanks @kpodemski, I updated the first comment.
It is a regression from PS1776.

I’ll add this to the debug roadmap.

Thanks!

[2021-09-03 12:47] javierdelval commented on #25577
Hello,

Sorry .-)

At the beginning  the render seems okay. Template and images are rendered...

![1](https://user-images.githubusercontent.com/6302025/132007342-add55893-e227-4702-a837-28fc3ef3e77f.jpg)

But a few ms later all the images are gone.

![2](https://user-images.githubusercontent.com/6302025/132007397-ddf2a2ea-aa4f-4501-a15e-1a86a6a3bf27.jpg)

Then, all images begin to reload

![3](htt

[2021-09-03 13:13] hibatallahAouadni commented on #25773
PIng @PrestaShop/prestashop-core-developers any idea why the hook **`actionShippingPreferencesPageHandlingForm`** doesn't work while it's already listed in this [file](https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/data/xml/hook.xml)?

[2021-09-03 13:14] khouloudbelguith commented on #25577
Hi @javierdelval,

Thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.7.7.
I attached a screen record
https://drive.google.com/file/d/1CWIRQe0LzxS3APdSKunOqffo5mQzDl0j/view?usp=sharing

Thanks to check and feedback.

[2021-09-03 13:19] khouloudbelguith commented on #25783
@go-sudo,

You need to restore your shop before this modification because this is risky.
You can update the address format of your country from the BO > International > Location > Countries page.
![image](https://user-images.githubusercontent.com/16067358/132011301-290dbc35-1660-42c6-8236-a7ec07ab51ce.png)

We use GitHub issues only to discuss bugs and new features in the PrestaShop project. If yo

[2021-09-03 13:19] #25783 closed, assigned to nobody

[2021-09-03 14:18] Progi1984 commented on #25272
Fixed by @Progi1984 in #25387

[2021-09-03 14:18] #25272 closed, assigned to Progi1984

[2021-09-03 14:54] hibatallahAouadni commented on #25764
Hello @lmeyer1

As discusssed on Slack, I didn't encounter this issue even with 5000 Suppliers:

https://drive.google.com/file/d/1BH1xuS60S_gIR6R-SCb-Zw8Kf7nBw7xW/view

Despite our efforts, we were not able to reproduce your issue with the provided information.We will close this issue.

Thanks!

[2021-09-03 14:54] #25764 closed, assigned to nobody

[2021-09-03 15:01] itsvahid opened #25785 "Persian font(Vazir) is not working on the new theme in the BO"
#### Describe the bug

Pages with the classic theme load Vazir font and most elements use this font but the new theme does not load and use it. The default font looks really bad and is not pleasant to use, especially on product edit page.

#### Expected behavior

Vazir font is expected to work on the new theme as it does on pages with classic theme.

#### Steps to Reproduce

Steps to reproduce the

[2021-09-03 15:27] khouloudbelguith commented on #25785
Hi @itsvahid,

I manage to reproduce the issue with PS1777.
![image](https://user-images.githubusercontent.com/16067358/132029308-b7f13e92-e4fe-4f9c-a2dd-0f6a243735c9.png)
The translation is NOK.
You can change it in the BO > International > Translations page (choose Back Office & Persian language)

**Before**
![image](https://user-images.githubusercontent.com/16067358/132029767-f44147d3-0fe4-4045

[2021-09-03 15:40] Julievrz commented on #25785
Hi @khouloudbelguith

I'm not sure to understand what we can do on Crowdin (and I'm having a hard time seeing the difference on the screenshots, to be honest). Crowdin is just for translating. I don't think we can manage fonts from there. Isn't it an issue with the font used?

If it's a translation issue, then yes feel free to [contribute](https://crowdin.com/project/prestashop-official) to the Pe

[2021-09-03 15:42] thalesamaria commented on #25456
Hi @khouloudbelguith, the specialist's link don't work. Can you help me?

[2021-09-03 15:45] itsvahid commented on #25785
Hi @khouloudbelguith @Julievrz
The issue is not about translation at all. The font-family called "Vazir" was introduced for Farsi/Persian font and it is implemented in classic theme, but not in new-theme. Maybe there is a problem with .rtlfix file?

[2021-09-03 15:50] nsakiotis opened #25786 "Prestashop 1.7.6.4 work very slow - TTFB problem"
Recently I have been facing following issue

My prestashop website https://www.rosepoupee.gr/ has a **huge TTFB, about 3-7 seconds**.
After that time, the page is being displayed **immediately** with most of its content rendered. The issue appears in every kind of page: home, product, category, even on static ones, with varying TTFB.

I am not quite sure when it started to happen. I would guess th

[2021-09-03 16:06] khouloudbelguith commented on #25786
Hi @nsakiotis,

Unfortunately, it seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem. I invite you to contact the [support](https://www.prestashop.com/support) for further investigation.

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://pr

[2021-09-03 16:06] #25786 closed, assigned to nobody

[2021-09-03 16:28] khouloudbelguith commented on #25785
@itsvahid,

Thanks for these clarifications.
I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project's own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com

[2021-09-03 16:34] gennaris commented on #25448
@Hlavtox I noticed this problem too and made a fix a few days ago , see the PR it will solve the issue

[2021-09-03 19:41] futurowebpl opened #25788 "Rounding errors - totally incorrectly calculated prices in the cart"
#### Describe the bug

Complete nonsense about calculating the prices in the cart.

This is the case with discount prices.

#### Expected behavior

400*0.19 = 76.00

Prestashop Calculation:

400*0.19 = 76.80

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add new example product and set a price of 0.24 for it and then you set a discount for the start price of 20% (percent discount)

[2021-09-03 20:50] goyetus commented on #25779
@khouloudbelguith   - I upgrade today to 1.7.7
Same problem.

I uninstalled "metrics"  and other modules,  but "all module" translation  are not working.

Here you have a video:
https://drive.google.com/file/d/1vr2cmHvBF6litlbfMqNCz4XCl4RJNXVk/view?usp=sharing

1)  Enter any prestashop module
2)  Enter the "module" section to see all the translated modules.
3)  Try to save something in any module.

[2021-09-03 21:31] davidglezz commented on #17111
updated description with a video

[2021-09-04 06:10] javierdelval commented on #25577
Hello,

check this video please:

https://drive.google.com/file/d/1M2-xbsgahlA_GgunBfOXf0Cih2PkZW4-/view?usp=sharing

This is a brand new installation of Prestashop 1.7.7 with PHP 7.3. I've
installed it in a different server to avoid possible problems of
misconfiguration. You can check it here <https://demo.tallerw3.com/>. In
the video, the effect is much softer, but I think this is the case becau

[2021-09-04 11:08] skeccy commented on #25718
@khouloudbelguith
I'm sorry but I didn't understand in prestashop 1.7.7.7 which file to modify, assuming that I use the classic theme. What is the correct path where I can make the change?

[2021-09-04 16:18] Rockabit commented on #25762
Hi @khouloudbelguith,
thanks for your reply!

Yes, I use 1-click upgrade v4.12.0.
The images are .jpg
The issue occur on both products, new and old.

Now I did the rollback to 1.7.7.5 but the issue now it remained.

[2021-09-04 16:19] Rockabit commented on #25762
Do I try to revert to version 1.7.7.7 again?

[2021-09-05 12:35] itsvahid opened #25789 "Sort by price does not work in facetedsearch with big prices"
#### Describe the bug

When product prices are higher than 6 digits, price_min and price_max fields in layered_price_index table become 999999.99999.
This causes the sorting not work correctly as all the products have the same price index.

#### Expected behavior

Sort by price is expected to work with higher prices correctly.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Increase

[2021-09-05 16:51] Hsalehm commented on #16038
I have a problem with this variable, cost price, and it is that I cannot find where in the database it is hosted, I have a lot of experience doing SQL queries and when I examine the product table (ps_product in my case) there is a variable (column) called wholesale_price, this variable appears at zero in SQL queries, however, when I query the product in BO (ps 1.7.7.3) I find that it is written, b

[2021-09-06 07:33] Hlavtox opened #25790 "Provide an original size to images in FO"
#### Is your feature request related to a problem?

I would like to allow showing full size product images in a fancybox on shop frontends. Possibly implement it also in a new PS default theme.

#### Describe the solution you'd like

- We currently have a bySize, small, medium and large sizes available for each presented image.
- I would like to have an original size available.
- URL looks like th

[2021-09-06 07:37] tswfi opened #25791 "Relaxing product name validation rules"
#### Is your feature request related to a problem?

The current validation for product name (and category name and some other places too) contain check for some special characters like `<>;=#{}` (https://github.com/PrestaShop/PrestaShop/blob/c30432393755fd0e55cf1b43ef72546e29fc9a64/classes/Validate.php#L365)

This causes problems if product name contains `=` character for example.

After a brief d

[2021-09-06 07:46] matks commented on #25791
As mentioned, my opinion is that indeed these checks are outdated and need to be improved 😄

However you suggest to remove it all ? 😄

There is one thing we discussed: maybe we should at least verify that input can be considered a valid slug?

[2021-09-06 07:47] tswfi commented on #25701
Looking at the other methods in Order class they all have the same format.

[code]

[code]

The naming convention is also a bit confusing. For `hasBeenPaid` I can see why it checks for all the states. For `isInPreparation` the check should really be done only to the current state.

So perhaps there needs to be two new methods `isShipped` and `isDelivered` and all `is` methods only check the last s

[2021-09-06 07:47] Hlavtox opened #25792 "Run automated tests with bigger, real life data"
#### Is your feature request related to a problem?

While it's beautiful that something is fast and works with 20 demo data products and otherwise empty store, it gets much worse, even with a super fast server.

For example, I have a customer relatively fresh shop, 1000 products, 500 carts, 500 orders, 400 customers and it takes 1 minute to load customer view in BO. Or, I have let's say 15 cart ru

[2021-09-06 07:48] Progi1984 commented on #19383
Assigned to @nenes25

[2021-09-06 07:57] Hlavtox commented on #25789
@itsvahid Will be fixed by https://github.com/PrestaShop/ps_facetedsearch/pull/506

[2021-09-06 08:03] matks commented on #25792
Thank you for the issue

If I try to imagine the work needed to make this happen, I would say:

1. Build a system to load PS with relevant fixtures in high numbers, maybe using https://github.com/PrestaShop/prestashop-shop-creator or a library like https://github.com/fzaninotto/Faker

2. Modify/improve current playwright tests ("UI tests") to be able to use/navigate inside a PrestaShop loaded with

[2021-09-06 08:04] tswfi commented on #25791
Nah, I suggest that the length should be checked not the characters :)

The input string does not need to be a valid slug. `slugify` method takes care of converting the input string to a slug.
 https://github.com/PrestaShop/PrestaShop/blob/9723602bfddb7240c52c1720e6ecac837d07be6e/classes/lang/DataLang.php#L117

But yes, the slug generation from string need to be tested that it still produces corre

[2021-09-06 08:10] matks commented on #25791
For this one there is a historical reason: https://build.prestashop.com/news/prestashop-1-7-5-2-1-6-1-24-maintenance-release/ (PR https://github.com/PrestaShop/PrestaShop/pull/13604)

[2021-09-06 08:12] itsvahid commented on #25789
@Hlavtox
Exactly! this solves the issue.
Thanks

[2021-09-06 08:26] hibatallahAouadni commented on #25789
Hello @itsvahid

Thanks for reporting the issue!
Could you please check this issue #19810 it seems similar to yours.
@Hlavtox Isn't it the same?
Please check and feedback.

Thanks!

[2021-09-06 08:31] hibatallahAouadni commented on #25791
Hello @tswfi

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feat

[2021-09-06 08:45] itsvahid commented on #25789
@hibatallahAouadni Hi
The issue you've mentioned seems to be concerned with specific prices(discounts) which is different than this one.

[2021-09-06 08:56] hibatallahAouadni commented on #25792
Hello @Hlavtox

Thank you for your suggestion. The Developers Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-09-06 08:57] hibatallahAouadni commented on #25790
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-09-06 08:59] hibatallahAouadni commented on #25788
Hello @futurowebpl

Could you please check this issue #9779 it seems related to yours.
Please check and feedback.

Thanks!

[2021-09-06 09:04] Hlavtox commented on #25448
@gennaris Awesome man!

[2021-09-06 09:28] boubkerbribri commented on #25792
Hi @Hlavtox and @matks,

The aim for the biggest tests campaign (Functional) is to validate that every little functionality is working inside PrestaShop. Running this kind of test on a much bigger shop will have no real value.

But what should be great is having another campaign that tests 'how PrestaShop will work on a Production environment', we can call it : `End to End`. It will be another app

[2021-09-06 09:29] matks opened #25795 "Failures due to recent prestashop.com issues"
## List of failures due to recent prestashop.com issues

We have to identify them one by one and work with the IT team of PrestaShop to fix them.

### Continuous Integration

1. It seems GitHub Actions UI tests fail on submitted PRs, at install step. Cloudflare was recently enabled on prestashop.com and GitHub is blocked by this randomly (block happens 9 times out of ten).

**STATUS: FIXED as far

[2021-09-06 09:40] boubkerbribri commented on #25792
We could also use some `Load tests` to validate that PrestaShop doesn't lose its performance while having a lot of products, categories ...
We will work on it with the developer's team.

Any idea, suggestion or contribution is welcome.

[2021-09-06 10:17] aleksanderkulej opened #25796 "Mail - order summary"
#### Describe the bug

in the order summary email, the columns are not responsive, which makes the mail look bad

#### Expected behavior

editing e-mail templates so that the text does not look like in the attachment

**Screenshots**

![IMG_0984](https://user-images.githubusercontent.com/90187895/132201994-3b698499-1e09-4239-ad4e-584d16c958a5.PNG)

#### Additional information

* PrestaShop version

[2021-09-06 10:48] khouloudbelguith commented on #25740
Hi @Hlavtox,

I have an issue in the BO > Catalog > Discounts > Cart rule page
![image](https://user-images.githubusercontent.com/16067358/132205919-8bb83f67-c858-4fa0-b0ad-579b8c1082ba.png)

Thanks!

[2021-09-06 11:09] hibatallahAouadni commented on #25577
Hello @javierdelval

Despite our efforts, we were not able to reproduce your issue with PS1767 and PS1777. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue.

Thanks!

[2021-09-06 11:09] #25577 closed, assigned to nobody

[2021-09-06 11:16] futurowebpl commented on #25788
Hello @hibatallahAouadni

It's probably similar, this bug is still in 1.7.7. I have not tested this issue with 1.7.8 beta.

[2021-09-06 11:19] hibatallahAouadni commented on #25796
Hello @AlexNovamac

I didn't manage to reproduce the issue with PS177, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/132209089-fc41e83f-fe07-4f11-9d8b-c90289c04506.png)

Could you please check your selected email theme, is it **modern** or **classic**?

![image](https://user-images.githubusercontent.com/23308427/132209478-e17357bf-27d8-4e09-b57e-a5

[2021-09-06 11:21] hibatallahAouadni commented on #25505
Hello @WebXYAgency

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-06 11:21] #25505 closed, assigned to nobody

[2021-09-06 11:21] hibatallahAouadni commented on #25620
Hello @arirangz

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-06 11:21] #25620 closed, assigned to nobody

[2021-09-06 11:22] hibatallahAouadni commented on #25531
Hello @ProteanCode

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-06 11:22] #25531 closed, assigned to nobody

[2021-09-06 12:29] AlexNovamac commented on #25796
Hello @hibatallahAouadni

my current mail theme is **modern**.

However I see that on your screen It look even worse, cause product is showed above header table instead of under it.

[2021-09-06 13:06] matks commented on #24645
# Build a new API for native modules

## Needs

Build a PHP application that will allow shops to

1. know whether a module is available for a given shop version

Example: myshop.com v1.7.6 needs to fetch the API to know if it can download module autoupgrade

2. know what is the latest version for a given module, given a shop version

Example: myshop.com v1.7.6 has module welcome v4.2.1, needs to f

[2021-09-06 13:14] matks commented on #24645
## Suggestion of routing

**Route `/module?shopVersion={...}`**
Returns whether a module is available for a given shop version
Expected JSON response: nil or a module version number

**Route `/version?moduleName={...}shopVersion={...}`**
Returns the latest version of module `moduleName` compatible with shop version `shopVersion`
Expected JSON response: nil or a module version number

**Route `/ref

[2021-09-06 13:21] PierreRambaud commented on #24645
## Suggestion of routing

**Route `GET /modules`**
Returns all modules and their related versions / PrestaShop version
Expected JSON response: nil or a module version number

**Route `GET /modules/{shopVersion}`**
Returns all available modules for a shop version
Expected JSON response: nil or a module version number

**Route `GET /module/{moduleName}/version[/{shopVersion}]`**
Returns the latest v

[2021-09-06 15:31] hibatallahAouadni commented on #25789
Hello @itsvahid

I didn't manage to reproduce the issue with PS1770, PS1780 and develop, see the attached screen record below:

https://drive.google.com/file/d/1WYrmTMIaLfvr3Xe0wxysSCgn_cKbo_gP/view

Please check and feedback.
PS: Faceted Search v3.6.0

Thanks!

[2021-09-06 15:32] marwachelly opened #25797 "BO - Product with combination cannot be saved with french & Polish & German language in mode debug"
#### Describe the bug

Product with combinaition cannot be saved with french language case of mode debug enabled

#### Expected behavior

Product with combinaition should  be succefully saved with french language case of mode debug enabled

#### Steps to Reproduce

Steps to reproduce the behavior:

1. The employee language is french or polish
2. Enable debug mode
3. Create new product with combina

[2021-09-06 16:09] Rockabit commented on #25762
Hi @khouloudbelguith,
The issue seams solved after the return to normality of the PS sites.
Thanks for your support!

[2021-09-06 16:09] #25762 closed, assigned to nobody

[2021-09-06 16:12] matks commented on #25795
This problem seems fixed.

[2021-09-06 16:47] szavadskiy opened #25798 "In PS 1.7.8.0 no highlight for the titles with tooltips in BO"
#### Description:
In previous versions of PrestaShop, titles with tooltips were highlighted, and this was convenient. The backlight is also absent in the modules.

#### Expected behavior

Add the content in a tooltips icon next the input label

#### Steps to Reproduce

1. open environment with PS 1.7.7.x
2. open Image Settings page in BO
3. check titles with tooltips
4. open environment with PS 1.

[2021-09-06 18:19] JuanjoSCu commented on #23983
It is clear that the Prestashop people do not have stores.

A customer makes an order for 3 products, payment with a card, after payment he asks you to cancel a product, you return the money on the card.
Another client asks for several things, you want to give him a discount and return the money directly on the card ...
And like those examples there are many.
You cannot tell the customer that you

[2021-09-06 18:32] onklmaps commented on #24645
I might be over simplifying things now but, what about just using github source for the files? Github allready has releases built-in (and pre-releases), and maybe release metadata (such as recommended shop_version) can be added as a json/yaml-file relase asset alog with a downloadable zip-file for the module itself? Or maybe the release metadata can be added in the top/bottom of the release descri

[2021-09-06 19:28] matks commented on #24645
We think  if we use GitHub directly we will reach GitHub API rate very soon 😅 https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting

[2021-09-06 19:35] SoyAlex-chama commented on #10739
Hi!

I make a solution for **Prestashop 1.7.6.9**, doesn't works on **Prestashop 1.7.7.5**:
The "Free" text in subtotal was setted in the file `src/Adapter/Presenter/Cart/CartPresenter.php` L374:23 like you can see in the photo, here I make the change because I add the condition for the cases when a customer or visitor doesn't have an address for give us a price.
![imagen](https://user-images.gith

[2021-09-06 21:46] onklmaps commented on #24645
.. Right... That's a point 😅

[2021-09-06 22:20] alfonsolr09 commented on #23983
+1
is precisely what I am trying to explain.
you are right in what you say, it shows that the developers do not have online stores

this function should work again, I would also like to know how to return it

@MatShir @matks

[2021-09-07 01:11] agroundworld opened #25799 "Deprecation of array_key_exists() generates multiple entries in error_log file"
#### Describe the bug
In doing routine maintenance on my website, I noticed that the error_log file was very large (over 4 GB).  The errors/warnings were being generated due to the use of array_key_exists() which has been deprecated.  The text of the error is as follows:

PHP Deprecated:  array_key_exists(): Using array_key_exists() on objects is deprecated. Use isset() or property_exists() instea

[2021-09-07 05:44] itsvahid commented on #25789
Hello @hibatallahAouadni
The problem will not occur with products that have the same price; If products have the same price the default sorting would be with id_product.
Please try setting prices exactly like below for exact products; otherwise, id_product sorting might accidentally sort products correctly!
The sorting should be out of order now.
**High to low:**
![image](https://user-images.githu

[2021-09-07 07:27] matks commented on #23983
Dear all,

I can read that you disagree with above decision, and there's no issue with that. It's always good to list benefits from each side of a debate.

I will just ask you to comply with our [Code of Conduct](https://github.com/PrestaShop/PrestaShop/blob/1c52cccb5ba87606a35b037ed721ff5625ffdb08/CODE_OF_CONDUCT.md):
- Being respectful of differing viewpoints and experiences
- Showing empathy to

[2021-09-07 07:54] matks commented on #25795
This problem seems fixed.

[2021-09-07 07:54] #25795 closed, assigned to matks

[2021-09-07 08:06] florine2623 commented on #25798
Hello @szavadskiy ,

I was able to reproduce the issue with PrestaShop version 1.7.8.0.

I'll check with PrestaShop product team to make sure this is the wanted behavior.
Please stay tuned.

[2021-09-07 08:06] florine2623 commented on #25798
ping @PrestaShop/product-team ,

Can you confirm this is the wanted behavior ? Or is this a bug ?

Thanks!

[2021-09-07 08:11] kpodemski commented on #25799
PrestaShop 1.7.7.7 is not compatible with PHP 7.4, this is why you have an error log full of deprecations.

https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart

[2021-09-07 08:15] florine2623 commented on #25796
Hello @AlexNovamac ,

My results are slightly different from yours. Tested in PS 1.7.7.1 and PS 1.7.8.x. What would you suggest ?

Here's the result
in 320 px :
<img width="276" alt="Screenshot 2021-09-07 at 10 11 50" src="https://user-images.githubusercontent.com/16019289/132309138-7c6ac111-dbaf-4d35-9914-f8b746dec5a2.png">

in 480 px :
<img width="413" alt="Screenshot 2021-09-07 at 10 11 56" src

[2021-09-07 08:21] AlexNovamac commented on #25796
Hi @florine2623

Im wondering why are the columns of text squeezed so much for 320px? Is it not possible to present it in a different way?

[2021-09-07 08:34] florine2623 commented on #25789
Hello @itsvahid ,

Thanks for the report I managed to reproduce the issue with ps_facetedsearch v3.7.0. I can confirm that this behavior is indeed a bug.

**High to low : OK**
<img width="856" alt="Screenshot 2021-09-07 at 10 29 32" src="https://user-images.githubusercontent.com/16019289/132312381-cff0bced-6101-4a6d-9c7a-79c91ac9ec8c.png">
**Low to high : NOK**
<img width="839" alt="Screenshot 202

[2021-09-07 08:37] florine2623 commented on #25799
Hello @agroundworld ,

Please downgrade your PHP version to 7.3 to make it compatible with PrestaShop 1.7.7.7.

I'll close the issue.
Thanks!

[2021-09-07 08:37] #25799 closed, assigned to nobody

[2021-09-07 08:40] udubniewski commented on #12185
In my case there was a monster cookie causing the issue. the name was CurrentCartcurrentCartTemp.

I deleted the var/cache and var/cache111 directories content and that cookie disappeared and all seems to be working fine.

Prestashop 1.7.4.4

[2021-09-07 09:05] boubkerbribri opened #25800 "[BO][Carriers] Can't not filter by the first demo carrier (with id=1)"
#### Describe the bug
Cannot find default carriers when filtering by its name

#### Expected behavior
Carriers displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Fresh install shop
2. Go to BO > Carriers page
3. Filter By the name of the first carrier on the list (id=1) (the name should contain 0)
4. See error : Table is empty
5. Click on Edit of the first carrier
6. Just cli

[2021-09-07 09:09] josett225 commented on #9866
Hi there

Any progress on this one with the latest PS update?

Thanks

[2021-09-07 09:16] hibatallahAouadni commented on #25798
Hello @szavadskiy

As discussed with @NeOMakinG this is the wanted behavior.
So, I close the issue!

Thanks!

[2021-09-07 10:10] idnovate commented on #23983
You can remove these checks here:

Replace `isPrice` for `isFloat`: https://github.com/PrestaShop/PrestaShop/blob/1c52cccb5ba87606a35b037ed721ff5625ffdb08/classes/order/OrderPayment.php#L49

Comment this line: https://github.com/PrestaShop/PrestaShop/blob/1c52cccb5ba87606a35b037ed721ff5625ffdb08/src/Core/Domain/Order/Payment/Command/AddPaymentCommand.php#L105

Comment these lines:
https://github.c

[2021-09-07 10:22] attiliobs commented on #25722
Hello @khouloudbelguith, @florine2623 finally i solved the problem. I had to remove indexes from table ps_product_attribute_combination. After that i try to reimport with my php script and it works. I will add indexes after all my import tasks. Thank you for your support

[2021-09-07 10:53] metacreo opened #25801 "tcpdf deleting images - tcpdf must be updated"
#### Describe the bug

tcpdf do unlink for template images
https://github.com/tecnickcom/TCPDF/issues/158

#### Expected behavior

pdf template images may not be deleted.

#### Steps to Reproduce

Attach image to content.tpl.
[code]
generate pdf
[code]

PrestaShop version: 1.7.7.7
PHP version: 7.3

[2021-09-07 11:14] HartLarsson commented on #21484
there is a fix to solve this problem?
Thanks

[2021-09-07 12:01] florine2623 commented on #25801
Hello @metacreo ,

Please share the steps to reproduce the issue.

Thanks!

[2021-09-07 12:13] florine2623 commented on #25796
I'll ping PrestaShop UX team.
Please stay tuned !

[2021-09-07 12:14] florine2623 commented on #25796
ping @PrestaShop/ux-team ,

@AlexNovamac is wondering if the email can be displayed differently, could you take a look ?

Thanks!

[2021-09-07 12:40] sowbiba commented on #25579
The issue we have is

The modal used to add the cartRule to the cart is a fancyBox : we load the addCartRule page into an iframe. Nothing says that we want to link the cartRule added to the current cart
https://github.com/PrestaShop/PrestaShop/blob/1.7.8.x/admin-dev/themes/new-theme/js/pages/order/create/create-order-page.js#L185

The totals are calculated first and then we get the discounts. When

[2021-09-07 13:08] metacreo commented on #25801
This is not prestashop bug. This bug of outdated tcpdf libs. Bug described in code. If you put image in pdf content (from any PS place (module, root, etc...)), after pdf generation image will be deleted by tcpdf class code, deleted physically from any prestashop dir.

[2021-09-07 13:15] metacreo commented on #25801
Example 2:
I create module who generate some pdf files. My module images in /modules/mymodule/views/img/*. If I attach this images in pdf template content (not header, not footer), then after pdf creation, tcpdf remove used images from /modules/mymodule/views/img/.

[2021-09-07 13:50] florine2623 commented on #25801
Just to make sure I understand well, the issue comes from TCPDF and not PrestaShop ?

[2021-09-07 13:59] metacreo commented on #25801
Yes. But TCPDF libs must be updated in PrestaShop. Otherwise, it make unavailable to use TCPDF in PrestaShop modules.

[2021-09-07 13:59] msaustral commented on #9866
Hi @josett225 what payment module do you have?

[2021-09-07 14:44] florine2623 commented on #25801
Regarding the PrestaShop module, are you talking about native module ? If yes, could you list them please ?
Thank you!

[2021-09-07 15:40] NeOMakinG commented on #25798
@PrestaShop/product-team Wdyt of this ?

Migrated pages got the tooltip outside of the text, but on legacy page it's not using an icon, so we can't really see that there is a tooltip

@hibatallahAouadni I think we can reopen this one as it's not really UX-friendly, the style is fine but maybe we wants to add an icon like on migrated pages

FYI @prestascott

[2021-09-07 16:27] florine2623 opened #25808 "BO > Advanced Parameters > Performance - Can't disable option Combinations"
#### Describe the bug

In Advanced Parameters > Performance > Optional features > Combinations, I should be able to choose "No"

#### Expected behavior

The toggle shouldn't be blacked out

#### Steps to Reproduce

Steps to reproduce the behavior:

1. After install, change all combinations products to simple products : OK
2. In Advanced Parameters > Performance : Disable combination products : NOK

[2021-09-07 16:30] hadran9 commented on #25628
Hello @khouloudbelguith, @hibatallahAouadni, @sowbiba.
Is there anything new ?

[2021-09-07 16:32] hibatallahAouadni commented on #25628
Friendly reminder @PrestaShop/prestashop-core-developers :pray:

[2021-09-07 19:34] ibrahimfsasmaz opened #25809 "prestashop 1.7.6.5 upgrade to 1.7.7.7 ajax server error / PHP Fatal error: Uncaught Error: Class 'League\\Tactician\\Bundle\\TacticianBundle' not found"
hello,

I am having the error below while upgrading 1.7.6.5 to 1.7.7.7

[code]

how can I fix that pls ?

`PHP Fatal error: Uncaught Error: Class 'League\\Tactician\\Bundle\\TacticianBundle' not found`

[2021-09-08 02:33] agroundworld opened #25810 "Undefined indexes in Product.php generating multiple warnings in error_log"
#### Describe the bug
In doing routine maintenance on my website, I noticed that the error_log file was generating multiple warnings. Two warnings are being generated repeatedly due to undefined indexes in the Product.php file. The text of the errors are as follows:

`PHP Notice:  Undefined index: attribute_price in /home/soccerph/public_html/pshop/classes/Product.php on line 3418`

`PHP Notice:

[2021-09-08 04:55] serracol commented on #9599
Dear PS... this issue has been around for over 2 year and there is no solution yet. I have a cleat PS 1.7.7.7 with the same problem, we just cant manage or change email subject. Its insane...!

[2021-09-08 06:21] mrabsinthe commented on #9599
@darfk3d3 @shacker2 @serracol @runningz I had to pay a developer to create a module to be able to change email subjects, I can now customize any of them.

[2021-09-08 06:33] SebBareyre commented on #25761
Hi @rflorent
Could you try this fix : https://github.com/PrestaShop/PrestaShop/pull/25807

[2021-09-08 06:33] SebBareyre commented on #25797
Hi @marwachelly
Could you try this fix: https://github.com/PrestaShop/PrestaShop/pull/25807

[2021-09-08 07:53] jaweewo opened #25811 "Cannot generate Invoices"
#### Describe the bug

Since i upgraded to prestashop 1.7, i can't generate the invoices, it returns me "Invalid $number parameter: "" cannot be interpreted as a number

[PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException 0]"

I Found out its problem of Formatter.php. but cannot fix the problem.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Orders'
2. C

[2021-09-08 08:45] hibatallahAouadni commented on #25811
Hello @jaweewo

I didn't manage to reproduce the issue, please check these similar issues #23724 & #22108
Please check and feedback.

Thanks!

[2021-09-08 08:48] hibatallahAouadni commented on #25809
Hello @ibrahimfsasmaz

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forum

[2021-09-08 08:48] #25809 closed, assigned to nobody

[2021-09-08 09:06] jaweewo commented on #25811
I check them out but none of them are my case, i have no special products or special prices.

I was on prestashop 1.6.13, i did export my Database tables to a new prestashop 1.7.5, i can see the products without problems and people can buy but i cannot gen or see the invoice.
as extra, i paste here an invoice example when printing, look the description:
![image](https://user-images.githubuserconte

[2021-09-08 09:12] matks commented on #25808
Hello everyone,

I have explored this issue as much as I could this morning. I was able to reproduce the above behavior but not all of the time.

So I tried many things, and I have a theory to explain why the following behavior is sometimes reproduced and sometimes not:

When you open a "Edit a Product" BO page of a product that has combinations, you'll notice that upon loading, the page has a fir

[2021-09-08 09:36] fuchsbart opened #25812 "Language de-AT only available on i18n but not for translations"
[available_languages.json](https://i18n.prestashop.com/translations/1.7.7.7/available_languages.json) hosted on i18n.prestashop.com contains

`"de-AT": "German (Austria)",`

But in the two files that are necessary for Translations

`app/Resources/legacy-to-standard-locales.json`
`app/Resources/all_languages.json`

**the entry is missing.**

[2021-09-08 09:46] PierreRambaud commented on #24645
@onklmaps we will use GitHub API of course, but add a cache system to be sure no one will encounter any issues

[2021-09-08 09:48] hibatallahAouadni commented on #25812
Hello @fuchsbart

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-09-08 09:48] #25812 closed, assigned to nobody

[2021-09-08 09:51] hibatallahAouadni commented on #25810
Hello @agroundworld

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #25782.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-09-08 09:51] #25810 closed, assigned to nobody

[2021-09-08 09:51] hibatallahAouadni commented on #25810
Duplicate of #25782

[2021-09-08 09:57] fuchsbart opened #25814 "Language de-AT only available on i18n but not for translations"
#### Describe the bug

[available_languages.json](https://i18n.prestashop.com/translations/1.7.7.7/available_languages.json) hosted on i18n.prestashop.com contains

"de-AT": "German (Austria)",

But in the two files that are necessary for Translations

app/Resources/legacy-to-standard-locales.json
app/Resources/all_languages.json

the entry is missing.

#### Expected behavior

If the language is a

[2021-09-08 10:26] fuchsbart opened #25816 "Feature Request: Tax Rules loaded by URL tag"
#### Is your feature request related to a problem?

Prestashop's tax rules work very well for many use cases. However, they are not applied until the customer's address is known - this moment happens usually at checkout. Until then, only the default tax rate can be shown to the potential buyer.

With the new EU taxation OSS procedure in place since July 2021, this limitation means that all custome

[2021-09-08 10:55] 0dp commented on #25816
To add to this, sellers in EU that has to ship goods outside of EU are required to provide HS code and Country of Origin on each item line on the invoice and packing slip.

I also believe the above is a requirement of EU competition policies; that prices are not different from each EU state. Which they will appear as, the way it is now.

In general for all e-com platforms, not just prestashop. the

[2021-09-08 10:58] 0dp commented on #18777
Besides HS Code we are required to inform the goods Country of Origin.

[2021-09-08 11:04] khouloudbelguith commented on #15416
Hi @marionf,

This improvement is fixed in the PS1776.
![image](https://user-images.githubusercontent.com/16067358/132498449-23635515-65fa-4ed9-91a8-1687759f2e4d.png)

Thanks!

[2021-09-08 11:04] #15416 closed, assigned to marionf

[2021-09-08 11:13] khouloudbelguith opened #25817 "BO - Products with combinations - The price Tax excluded in NOK in the product list page"
#### Describe the bug

In the BO > Catalog > Products list page, the price tax excluded is NOK when the product has combinations, and the retail price of this product = 0

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Products page
2. Create new product with combinations
2.1 The retail price of the product =0
![image](https://user-images.githubusercontent.com/1

[2021-09-08 12:21] PierreRambaud commented on #9572
Will be fixed when #10504 will be finished

[2021-09-08 12:59] yannicka opened #25819 "Wrong count of products with price search"
#### Describe the bug

The price range slider does not update correctly the counter of products with specific prices.

I think this is maybe related with the pull request https://github.com/PrestaShop/ps_facetedsearch/pull/300.

#### Steps to Reproduce

1. Install PrestaShop 1.7.7.1, be sure to update the module faceted search to the 3.7.1 version
2. Go on the category 'Clothes'
3. Without any fil

[2021-09-08 13:06] matks commented on #25782
Fixed by https://github.com/PrestaShop/PrestaShop/pull/25784

[2021-09-08 13:06] #25782 closed, assigned to kpodemski

[2021-09-08 13:16] hibatallahAouadni commented on #25816
Hello @fuchsbart

Thank you for your suggestion.

It seems a good idea but kind of risky, let's check it with the Product Team!
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement

[2021-09-08 14:36] hibatallahAouadni commented on #25542
Hello @Rizzen59

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-08 14:36] #25542 closed, assigned to nobody

[2021-09-08 14:37] hibatallahAouadni commented on #25638
Hello @pablo9x

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-08 14:37] #25638 closed, assigned to nobody

[2021-09-08 16:56] matks commented on #25560
If you want this to happen, the best is to submit a PR yourself. Open source is a joint effort.

PrestaShop is an open source, community project. If you find that any topic is major for you, and it's important to have it fixed fast, then you can _invest_ into having it done. You can hire a developer to implement it, or if you are a developer yourself, you can try doing it on your own. The most imp

[2021-09-08 16:59] hibatallahAouadni commented on #25814
Hello @fuchsbart

When I import the pack of Austria, I get the German language but with language_code **de-De**:

![image](https://user-images.githubusercontent.com/23308427/132551058-3527bf7b-068e-41bb-8853-bd84f2091529.png)

While, if I create this language manually from here:

![image](https://user-images.githubusercontent.com/23308427/132551659-4e5f95ce-6c11-4b32-9d77-4fa76b5f867b.png)

I get

[2021-09-08 17:20] hibatallahAouadni commented on #25788
Hello @futurowebpl

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9779.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-09-08 17:20] #25788 closed, assigned to nobody

[2021-09-08 17:20] hibatallahAouadni commented on #25788
Duplicate of #9779

[2021-09-08 17:23] hibatallahAouadni commented on #9779
Hello everyone,

I still have an issue with the rounding, see the attached screen reocrd below:

https://drive.google.com/file/d/1PP4lYMrNxayuv3WR1kgSqNgtpCijgFAc/view

But at least we have the same result in the BO and FO:

![image](https://user-images.githubusercontent.com/23308427/132555612-b46be240-87a6-4f00-95b3-c2382bdbab5a.png)

Thanks!

[2021-09-08 17:28] hibatallahAouadni commented on #25811
Hello @jaweewo

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #12626.
And it's already fixed with this PR #12666

Thanks!

[2021-09-08 17:28] #25811 closed, assigned to nobody

[2021-09-08 17:28] hibatallahAouadni commented on #25811
Duplicate of #12626

[2021-09-08 18:35] ibrahimfsasmaz commented on #25809
this is a problem about prestashop core upgrade, means that there is a bug at 1-click upgrade

[2021-09-08 18:37] ibrahimfsasmaz opened #25821 "error upgrading 1.7.6.5 to 1.7.7.7 with 1-click upgrade"
hello,

I am having the error below while upgrading 1.7.6.5 to 1.7.7.7
[code]
how can I fix that pls ?

`PHP Fatal error: Uncaught Error: Class 'League\\Tactician\\Bundle\\TacticianBundle' not found`

[2021-09-08 21:12] yo7hli opened #25823 "Selecting product attributes on the FO product page should not push the current url to browser history"
#### Is your feature request related to a problem?

With each selection of a product attribute, a new entry is added in browser history, by pushing the state instead of replacing it.
In effect, the user wanting to go back to the previous page by clicking 'Back' in the browser needs to repeatedly do that to cycle through all the history entries created.

This behaviour was introduced in this [commi

[2021-09-09 00:59] BenTen commented on #25560
@matks I guess no need to say that, what I say was not bad meaning. I never complain about maintainers (peace)

[2021-09-09 06:49] num47 opened #25824 "Option to choose multiple options from a single attribute"
#### Is your feature request related to a problem?

I was trying to make a restaurant store using Prestashop and right now it is not possible to choose multiple options from a single attribute. As such, i could not give customers an automated option to customize their order. Such as, if i am offering to sell Pizza and i want to give my customer to choose from the varies to cheese then the customer

[2021-09-09 07:03] thbl commented on #24007
+1 seams to still be a issue @hibatallahAouadni  please reopen

[2021-09-09 07:05] thbl commented on #13912
@khouloudbelguith  this bug seams to be back in 1.7.7.7

[2021-09-09 07:45] hibatallahAouadni commented on #25821
Hello @ibrahimfsasmaz

First, you need to **follow and respect the provided template to submit a complete bug report**:

![image](https://user-images.githubusercontent.com/23308427/132643905-5a2e771c-b0de-4aff-9bc8-c65103c59b6e.png)

![image](https://user-images.githubusercontent.com/23308427/132643951-32f10ffe-3a58-448f-9e0d-a02e87a6a9b7.png)

Cause, we need these informations to reproduce your i

[2021-09-09 07:45] #25821 closed, assigned to nobody

[2021-09-09 08:50] hibatallahAouadni commented on #25824
Hello @num47

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feat

[2021-09-09 09:03] hibatallahAouadni commented on #25823
Hello @yo7hli

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fea

[2021-09-09 09:13] jonathanromain commented on #20580
i have a same error with module 2.1.0. the amount to pay is always at 0.

someone has a solution

[2021-09-09 09:28] DelecroixQuentin opened #25825 "Shipping costs in customer account not respect the customer group price display method"
#### Describe the bug

The `!$order->getTaxCalculationMethod()` condition is reversed, you can find it here:
https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Presenter/Order/OrderDetailLazyArray.php#L231-L233

The condition is reversed because if the price is to be displayed in VAT, the function `Group::getPriceDisplayMethod((int) $customer->id_default_group)` must return 0 else i

[2021-09-09 10:00] Prestaworks opened #25826 "BO - Import page is missing *"
#### Describe the bug

On the import page in the BO the list of available fields have a note below the list saying that mandatory fields are marked by a *
But not all required fields seems to be marked with a *

#### Expected behavior

The mandatory fields should be marked with a *

#### Steps to Reproduce

1. Go to Import page in BO
2. View the available fields list

#### Additional information

[2021-09-09 10:04] demperador commented on #20768
Hello,

I am having this same exact warning in version 1.7.7.6 and PHP 7.3.23 and mariadb 10.2.36

Regards.

[2021-09-09 10:04] demperador commented on #20770
Hello,

I am having this same exact warning in version 1.7.7.6 and PHP 7.3.23 and mariadb 10.2.36

Regards.

[2021-09-09 10:21] andreapietrella commented on #12638
Hi, i've tried to do this but is not working for me (selected images are not saved at all)
Do I have to modify something else?

[2021-09-09 11:10] bertoferrero opened #25827 "Change all self:: by static:: in internal static method calls"
#### Is your feature request related to a problem?
The problem is quite simple, internal static calls into the same class are made using self:: example on SpecificPrice class:
`$query_extra = self::computeExtraConditions($id_product, ((!$all_combinations)?$id_product_attribute:null), $id_customer, null);`

If I want to override computeExtraConditions method, it will not work because "self::" is te

[2021-09-09 11:45] Prestaworks commented on #25826
seems to be fixed on development version already

[2021-09-09 11:45] #25826 closed, assigned to nobody

[2021-09-09 12:07] matks commented on #25827
Hi @prestaquality you're right, `static::` is most of the times better than `self::` and most of the time when we review Pull Requests, we request the submitted code changes to use `static::` instead of `self::`

However even though new code changes are verified to make sure no more `static::` is added to PrestaShop, there's a big pile of code that exists and has been inherited from the past that

[2021-09-09 12:41] Progi1984 commented on #25593
Fixed by @atomiix in #25777

[2021-09-09 12:45] hibatallahAouadni commented on #25819
Hello @yannicka

Thanks for reproting the issue!
I reproduce the issue with PS1780 and Faceted Search v3.7.1, see the attached screen record below:

https://drive.google.com/file/d/1KLvxO75B2aKCfjchKMz9RJcaE5RhMYlK/view

As you can see in the screen record with PS1767 and Faceted Search v3.7.1 I didn't reproduce it.
Ping @PrestaShop/prestashop-core-developers wdyt? is it a regression on Core?

[2021-09-09 13:01] marwachelly opened #25829 "BO - Orders - An exception when deleting a discount after possibility to add an invalid discount name"
#### Describe the bug

An exception when deleting a discount after possibility to add an invalid discount name.

#### Expected behavior

The cart rule name should accept all characters.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Orders page
2. Open an order
3. Click Add discount
4. Add Name = valid name, Type =Valid type,  Value =Valid value
5. Add Name = In

[2021-09-09 13:45] hibatallahAouadni commented on #25827
Hello @prestaquality

Thank you for your suggestion.
As @matks said there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1

[2021-09-09 14:10] jolelievre opened #25831 "Product page v2: handle duplicate attachments"
#### Describe the bug

In the new product page, when selecting attachment files you can select the same file multiple times. On submit no error is displayed, and only one attachment is associated but it results in a useless long list and can be confusing as you don't understand only will be added after submit.

#### Expected behavior

Two possible solutions:
- prevent the search component from dis

[2021-09-09 14:14] ramwebkul commented on #14341
I have faced the same issue at my end and found this solution is working for me:

In `/vendor/icanboogie/cldr/lib/WebProvider.php`,  `line:70` after this line:

    curl_setopt($connection, CURLOPT_URL, $this->origin . $path . '.json');

Add this line:

    curl_setopt($connection, CURLOPT_FOLLOWLOCATION, true);

[2021-09-09 14:26] hibatallahAouadni commented on #25593
Ping @Progi1984 if the PR was merged why you did reopen the issue?

[2021-09-09 14:30] hibatallahAouadni commented on #24007
Hello @thbl

So, could you please provide a test module to help me up reproducing the issue.

Could you please provide a test module to reproduce the issue, otherwise I can't reopen it with reproducing the issue :disappointed:

Thanks for understanding!

[2021-09-09 14:33] hibatallahAouadni commented on #25809
Hello @ibrahimfsasmaz

[2021-09-09 15:07] hibatallahAouadni commented on #25825
Hello @DelecroixQuentin

Your issue seems related to this one #9815 could your please check it.
Please check and feedback.

Thanks!

[2021-09-09 15:51] DelecroixQuentin commented on #25825
Hello @hibatallahAouadni,

No, it's not an issue on rounding but on price display method VAT incl / VAT excl.
The first shipping cost (14.9) is VAT incl (compute in `OrderSubtotalLazyArray`).
The second shipping cost (12.42) is VAT excl (compute in `OrderDetailLazyArray`).

The two shipping cost must be in the same price display method.

[2021-09-09 17:12] kpodemski commented on #9520
Hello @PrestaShop/qa-team

This should not be treated as a Bug. The contact settings and addresses are two completely different things in the system. It was never intended for the contact details to respect settings from the country address format.

This one should be treated as a feature request, that IMHO doesn't make any sense.

[2021-09-09 17:16] kpodemski commented on #9520
I'll get this issue, It turned out that indeed a `ps_contactinfos` uses `AddressFormatter` 🤦

https://github.com/PrestaShop/ps_contactinfo/blob/master/ps_contactinfo.php#L96

[2021-09-09 17:21] kpodemski commented on #9514
Hello

IMHO the author should do this via theme customization, hook `displayProductPriceBlock` is meant to be used by some legal-compilancy modules, and it's based on the additional parameters in it:

[code]

Take a look at the `type` argument. If we want to solve this bug by fixing a currency module, we would need to assume that everyone wants to display this widget only in this place. That could

[2021-09-09 20:30] josett225 commented on #9866
Hi @msaustral

I am using SystemPay and U2pay as I have several PS servers.

[2021-09-09 20:30] kpodemski commented on #9520
After investigation, to keep everything backward compatible, I suggest to keep current behavior, the module returns this array:

[code]

and that means that the theme developer can set up displaying of the address as they want using `$address.address1`, etc.

[2021-09-09 20:38] Arman-Hosseini commented on #13457
Hi @matks, please assign this issue to me.
Thanks.

[2021-09-09 20:54] kpodemski commented on #9646
This has been already fixed :)

Related PR: https://github.com/PrestaShop/contactform/pull/53

[2021-09-09 21:35] JavierEB opened #25836 "The order of the search tags does not respect the required position"
#### Is your feature request related to a problem?

1. Go to '**Shop Parameters**'
2. Click on '**Search>Tags**'
3. Scroll down to '**Add new**'
4. See error > the "search tags" are saved in alphabetical order instead of respecting the order that the user has been inserting the products.

**Screenshots**

https://www.screencast.com/t/TOLxAh7VY  View Video

#### Describe the solution you'd like

Th

[2021-09-09 22:29] amerigeau opened #25837 "Can't import multilang feature programmaticaly"
#### Describe the bug

Want to import feature value with multilang using FeatureValue::addFeatureValueImport().
But it creates one feature value per lang instead of one feature value multilang.
Need to create the feature value in one language first, then UPDATE db with sql request.

$color_value => array of feature values
$id_feature => is supposed to be defined before
id_lang 2 is hardcoded befor

[2021-09-10 00:07] msaustral commented on #9866
It happen to me, that the payment method had a table where it was saving the cart id and order id, for some reason the cart id was already on the payment method table and it was giving me this error.

Check that the last record on those payment tables are not higher than the PS id

[2021-09-10 06:12] renezo opened #25838 "editing or upgrading any module leaves a blank BO page i can't resolve the bedug info"
It is not possible to find at what exact moment te problem started, but after changing something in any module i get a blank page in the BO. Even when i put debug on yes. When manualy editing defines.inc i get the following error message. I hope someone can put me on the right track for a solution. All cache, Var/PROD and VAR/DEV are deleted and also the browser history. The problem excist in all

[2021-09-10 07:01] florine2623 commented on #25838
Hello @renezo ,

Can you clear cache and refresh your browser ?
Please check and feedback.

Thanks!

[2021-09-10 07:14] florine2623 commented on #25836
Hello @JavierEB

Thank you for your suggestion. This is not a bug, it is considered an improvement. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help y

[2021-09-10 07:42] florine2623 commented on #25825
Hello @DelecroixQuentin ,

I can't reproduce your issue in 1.7.7.x.

In order confirmation page :
<img width="1083" alt="Screenshot 2021-09-10 at 09 36 17" src="https://user-images.githubusercontent.com/16019289/132818519-eb0b5926-b26e-48bc-838d-818a6576675d.png">

In email received by customer :
<img width="515" alt="Screenshot 2021-09-10 at 09 36 24" src="https://user-images.githubusercontent.co

[2021-09-10 08:24] darkWolf-PR commented on #21484
just find code I wrote in theme file and change that variable from "display_taxes_label" to "display_tax_label", Im using it that way on one eshop that runs without taxes shown, till PS team finishes their study in "to by studied" :D

[2021-09-10 08:36] weddingtextile commented on #21484
I like this code:

{if $configuration.display_taxe_label}
    {if !$configuration.taxes_enabled}
        {l s='No tax' d='Shop.Theme.Catalog'}
    {else}
        {$product.labels.tax_long}
    {/if}
{/if}

[2021-09-10 08:49] florine2623 commented on #25837
Hello @amerigeau ,

Where are you adding this piece of code ?
Is it in a module / specific development ? Could you send the file so our dev team can take a look at our request ?

Thanks!

[2021-09-10 08:57] renezo commented on #25838
Hi Florine,
Thanks for looking in to it
Cleared the cach an refreshed the browser. After updating the language pack i get the debug error below. After updating i had again a blank BO. The strange thing is that the only thing that works to get the BO back is putting back last nights backup of the VAR map.

<html><body>

(1/1)                                     ContextErrorException

[2021-09-10 09:10] DelecroixQuentin commented on #25825
Hi @florine2623,
Issue is on customer's order detail history only, not email

Carrier configuration:
![image](https://user-images.githubusercontent.com/8830801/132829355-fa6d67e7-ae5d-484a-803f-ad330d06264d.png)

On PS 1.7.7.7 with classic theme :
![image](https://user-images.githubusercontent.com/8830801/132829897-c00d5b32-a175-473c-a8b8-3031850f0ad5.png)

There are 2 blocks on customer's order d

[2021-09-10 09:10] vardvaskan commented on #22868
There's already a "score" for specific price rules that should pick the "most specific" rule for a customer. For example, if there's a general discount for a category of 15%, and a discount for the same category and a specific customer group of 20%, the latter should be applied. But the query in method getSpecificPrice in class SpecificPrice has ORDER BY id_specific_price_rule ASC before score DES

[2021-09-10 09:45] Progi1984 commented on #25705
Fixed by @gennaris in #25725

[2021-09-10 09:45] #25705 closed, assigned to gennaris

[2021-09-10 09:59] prestaquality commented on #25827
Thanks, @matks and @hibatallahAouadni for your quick answer :)
I will be creating pull requests with these fixes

[2021-09-10 10:35] florine2623 commented on #25838
Can you check your file in themes/classic/templates/catalog/_partials/product-prices.tpl
If you have made any change, please revert back or create an override.
You can check the original file here : https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/catalog/_partials/product-prices.tpl

We use GitHub issues only to discuss about bugs and new features in the PrestaShop p

[2021-09-10 10:35] #25838 closed, assigned to nobody

[2021-09-10 10:40] Hlavtox opened #25840 "Image slider module lang switch is NOK"
#### Describe the bug

Language switch in image slider module is not on a right position, due to bad extending of form.tpl.

#### Expected behavior

It should be the same as in other outputs.

**Screenshots**

![before](https://user-images.githubusercontent.com/6097524/132841512-f90a39b7-6c9e-4129-9491-04dd4e149fa2.JPG)

**PR to fix**
https://github.com/PrestaShop/ps_imageslider/pull/64

#### Addi

[2021-09-10 10:42] Hlavtox commented on #25840
**After fixing**
![after](https://user-images.githubusercontent.com/6097524/132841747-7eb7f5d5-24ff-442a-a245-06a44101d587.JPG)

[2021-09-10 10:42] JavierEB commented on #25836
okay. sorry i thought it was a "bug".
Ok thanks if you can add it in future updates it would be great. a greeting @florine2623

[2021-09-10 12:18] dnkhack opened #25841 "Can not override DeliveryOptionsFinder class"
#### Describe the bug
Hello. I am try to override function  `getDeliveryOptions` in  class `DeliveryOptionsFinder`.
I'm using native method and do everthing as usually. But get the error.
If I use brute method when add full class as is in override folder with my code correction all work good.

This is part of code my overrided class:
[code]

#### Steps to reproduce:

1. Install fresh PS
2. Enable

[2021-09-10 13:10] #25674 closed, assigned to matthieu-rolland

[2021-09-10 13:31] amerigeau commented on #25837
Hello @florine2623,

It's a part of a module.
I can't paste the entire code as it's a large project but the issue is focused on : `FeatureValue::addFeatureValueImport()`

This function can't create multilang feature values as said.

Best regards

[2021-09-10 14:46] TouchCab commented on #14516
I believe this only works if you want the latest rule to apply, not the largest available discount...

From the thread here (PS 1.6) : https://www.prestashop.com/forums/topic/438626-set-priority-on-product-discount/

It appears that this should be the solution but I am not sure if it works for 1.7 or what needs changed to make it work?

This would be the override (for 1.6):
<?php

class SpecificPr

[2021-09-10 15:39] matks opened #25845 "Use upstream CssJanus instead of fork"
In 2018, PrestaShop forked https://github.com/cssjanus/php-cssjanus on https://github.com/PrestaShop/php-cssjanus .

This was because of an issue related to https://github.com/cssjanus/php-cssjanus/issues/14. Details on @eternoendless post: https://github.com/cssjanus/php-cssjanus/pull/13#issuecomment-355574605

This bug has been solved in latest php-cssjanus versions. We should be able to stop re

[2021-09-10 15:41] matks commented on #25845
CSSJanus dependency contains a single PHP class CSSJanus

used in `PrestaShop\PrestaShop\Core\Localization\RTL\StylesheetGenerator`

[2021-09-11 08:37] gennaris opened #25848 "Postcode validation in address must not consider non-significant spaces"
#### Describe the bug

When you enter a postal code in the compilation of an address, any space character before or after the string is being considered in the validation , resulting in a "Invalid postcode" error message.

This could be a common mistake for customers with browser address autocompletion or during copy-paste,
since I got several report of customers who did not notice this over time

[2021-09-11 09:19] Oksydan opened #25849 "Fixed width and height value for product image in listing template"
#### Describe the bug

In prestashop 1.7.8 with recent changes to fix CLS, fixed values for width and heigh has been added to template. That causing problem when someone is adding images with different ratio than has been assumed.

#### Expected behavior

Product listing - [this lines](https://github.com/PrestaShop/PrestaShop/blob/1.7.8.0-build/themes/classic/templates/catalog/_partials/miniatures

[2021-09-11 09:29] Oksydan opened #25850 "Subcategory template problems"
#### Describe the bug

In prestashop 1.7.8 with recent changes to fix CLS, fixed values for width and heigh has been added to template. That causing problem when someone is adding images with different ratio than has been assumed.

#### Expected behavior

Category page subcategories - [this lines](https://github.com/PrestaShop/PrestaShop/blob/1.7.8.0-build/themes/classic/templates/catalog/_partial

[2021-09-11 09:46] Oksydan opened #25851 "Ps_imageslider image fixed width and height"
#### Describe the bug

In prestashop 1.7.8 with recent changes to fix CLS, fixed values for width and heigh has been added to template. That causing problem when someone is adding images with different ratio than has been assumed.

#### Expected behavior

Slider template - [this lines](https://github.com/PrestaShop/PrestaShop/blob/1.7.8.0-build/themes/classic/modules/ps_imageslider/views/templates

[2021-09-11 09:53] Oksydan opened #25852 "Ps_banner module fixed width and height value"
#### Describe the bug

In prestashop 1.7.8 with recent changes to fix CLS, fixed values for width and heigh has been added to template. That causing problem when someone is adding images with different ratio than has been assumed.

#### Expected behavior

Product listing - [this lines](https://github.com/PrestaShop/PrestaShop/blob/1.7.8.0-build/themes/classic/modules/ps_banner/ps_banner.tpl), widt

[2021-09-11 10:05] Oksydan opened #25853 "Width and Height values are fixed for Header shop logo"
#### Describe the bug

In prestashop 1.7.8 with recent changes to fix CLS, fixed values for width and heigh has been added to template. That causing problem when someone is adding images with different ratio than has been assumed.

#### Expected behavior

Header template - [this lines](https://github.com/PrestaShop/PrestaShop/blob/1.7.8.0-build/themes/classic/templates/_partials/header.tpl#L65), v

[2021-09-11 10:13] Oksydan opened #25854 "Set width and height for images to keep proper image ratio and reduce CLS"
#### Is your feature request related to a problem?

Width and height for images is important you can read about it here https://www.smashingmagazine.com/2020/03/setting-height-width-images-important-again/.
We should set width and height for images in template everywhere img tag is used.

#### Describe the solution you'd like

We should check every img tag that is used inside theme/module and try

[2021-09-11 10:14] Oksydan commented on #25854
@khouloudbelguith
Could you create epic issue from issues listed below, all of them are related?
- [#25849](https://github.com/PrestaShop/PrestaShop/issues/25849)
- [#25850](https://github.com/PrestaShop/PrestaShop/issues/25850)
- [#25851](https://github.com/PrestaShop/PrestaShop/issues/25851)
- [#25852](https://github.com/PrestaShop/PrestaShop/issues/25852)
- [#25853](https://github.com/PrestaSho

[2021-09-11 11:35] matks commented on #25845
When this issue is fixed, we can archive or delete https://github.com/prestashop/php-cssjanus

[2021-09-11 11:44] musicpanda commented on #23837
I saw the same error under PS 1.7.7.7. I don't know why Prestashop cannot reproduce it as it obvious  - as explained by FRaccie - that this can happen. imap_errors() is defined to return boolean false when nothing found and that results in this error.

Did the Prestashop team test in a situation where this code was accessed and where imap_errors didn't return any faults?

Note that the image shows

[2021-09-11 12:12] musicpanda commented on #23837
Note that the fact that the emails are not deleted resulted in a situation where every time the Customers messages page was opened the headers for all 9000 mails that were in this account were downloaded from the mailserver.

[2021-09-11 12:22] Oksydan commented on #25852
https://github.com/PrestaShop/ps_banner/pull/37 it is first part to solve this issue.
Another PR will require to fetch that data in theme template that overrides module template.

[2021-09-11 12:57] matks commented on #25416
We did a few hours of analyzis.

# Composer dependencies

We might be able to remove some of these dependencies because
- we use them very little
- we might use 1% of their capabilities, which means 99% of the imported logic is useless

## List
- https://github.com/PrestaShop/PrestaShop/issues/25845
- jakeasmith/http_build_url: `http_build_url` used in 4 places tonly
- phake/phake : used five time

[2021-09-11 13:04] kpodemski commented on #23837
Hello @musicpanda

I've fixed this first warning. For the second problem, could you copy your message to a separate issue? It seems that we have to investigate and test this page more thoroughly. Thank you very much for your help on this one.

[2021-09-11 14:11] matrixino commented on #24764
@Prestaworks @uruk-hai-21 @hibatallahAouadni
Here is a very dirty fix for both situations. I used the category class getParentsCategories() method because i was in a hurry, but you can change it with the proper query directly, taken from the getParentsCategories() method, without the need of the category instance.
I can't create a clean and correct pull request right now, maybe some of you can adj

[2021-09-11 15:51] Finallo opened #25859 "Bug FrontController"
Hello, I've a big problem.

I only try the email generate or something like that and now, I can't make anything..

I send you the screenshot of this error.
![image](https://user-images.githubusercontent.com/81552938/132953637-24870f29-2d44-4cc0-a80f-1ced4157d550.png)
 HELP ME PLEASE

[2021-09-11 16:44] kpodemski commented on #25859
You're using PrestaShop with incompatible PHP version.

Please check your version compatibility here:
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart

[2021-09-11 17:14] musicpanda opened #25860 "Problems on customer threads page"
This issue was split from #23837

#### Describe the bug

**1. First bug:**

I had an error in Customer page
[code]

This line (this is PS 1.7.7.7) contains
`$md5 = md5($overview->date . $overview->from . $subject . $overview->msgno);`

The shop had received one spam email that didn't contain a date field in the header. Obviously the implicit assumption from Prestashop that this field is always set

[2021-09-11 22:25] AldeaG commented on #15416
In fact I do have Prestashop 1.7.7.0 and I do have that option in the Combinations tab of the product.

![Captura de pantalla 2021-09-12 a las 0 09 29](https://user-images.githubusercontent.com/61842395/132962991-4a7df969-12ee-4d2f-9aa9-0ca73af57f11.png)
It is another thing:
I mean that when I IMPORT a COMBINATIONS CSV I don´t find that option to set "Impact price tax included". Only the option "T

[2021-09-12 06:47] Oksydan opened #25862 "Allow to use inky_to_html in twig emails templates"
#### Is your feature request related to a problem?

With prestashop v8 we are able to use https://twig.symfony.com/doc/3.x/filters/inky_to_html.html since we are using twig 3.x version. This might be huge for developers that are working on email templates. We will be able to simplify our twig files with ink templating language.

#### Describe the solution you'd like

I think we should add inky_to_

[2021-09-12 07:01] Oksydan opened #25863 "Allow us to override mails/_partials smarty files inside mails themes"
#### Is your feature request related to a problem?

I think we should add possibility to override for example `mails/_partials/order_conf_product_list.tpl` inside mail theme to allow us to adjust it to theme needs. Right now to change that file we are forced to modify it globally.

#### Describe the solution you'd like

I think we should add check if `_partials` or `override` folder exists inside

[2021-09-12 09:26] matks commented on #25862
So basically we need to add twig/inky-extra and twig/extra-bundle in Composer dependencies to enable the above feature, right ?

[2021-09-12 09:45] vad- commented on #17479
Apparently _prestashop-git_1 exited with code 127_ issue is related to line break in Windows.

Docker print `/usr/bin/env: 'bash\r': No such file or directory` in Logs section.

![image](https://user-images.githubusercontent.com/3049137/132982777-74f734ea-fa39-4327-a19a-f467901bc937.png)

In order to fix this you must perform next steps:

- Change line break `CRLF` to `LF` in `.docker/docker_run_g

[2021-09-12 09:55] Oksydan commented on #25862
@matks yes, I think is should be enough.

[2021-09-12 15:33] SharakPL commented on #17479
Windows development isn't recommended for Prestashop, especially that smarty cache uses typical linux commands like `touch` or `rename` that are unavailable in Windows by default and fill up PHP's error_log pretty quickly. Team also doesn't want to include packages required for proper path handling in Windows like `cross-env`, so I recommend setting up your project on WSL, not directly on Windows.

[2021-09-12 17:26] vad- commented on #17479
Running project on WSL (distro Ubuntu-20.04) in VS Code fixed issue. No need to change `CRLF` to `LF` in files.

Thanks!

[2021-09-12 17:37] musicpanda opened #25864 "1.6 modules stay around in 1.7"
After upgrading from 1.6 to 1.7 I am told that several modules have been replaced: blocksearch by ps_search, blocktopmenu  by ps_mainmenu, etc.

Yet while these new modules are installed and enabled those old ones stay around too - enabled.
This is puzzling and potentially error generating. How can you debug a shop when such potentially interfering modules are present?

[2021-09-12 19:36] matks commented on #25864
@musicpanda see https://github.com/PrestaShop/PrestaShop/issues/22668

[2021-09-13 02:40] yuxiayuzhou opened #25865 "How Can i replace "Invoice" with "tax invoice" so can comply with local legistration"
#### Describe the bug

Local customer requires to change the invoice header. Current is the default "invoice". I have tried to check classes/pdf and pdf files. cannot find the header name "invoice". I would like to replace "invoice" with "tax invoice" so can comply with local laws.

#### Expected behavior

to replace "invoice" with "tax invoice" so can comply with local laws.

#### Steps to Reprod

[2021-09-13 07:46] NeOMakinG commented on #25854
Thought we did it on classic some months ago, isn't it the case?

Also recently I kicked out every fixed width/height from product list images because it's a pain

[2021-09-13 07:47] NeOMakinG commented on #25849
Already fixed there: https://github.com/PrestaShop/PrestaShop/pull/25556

[2021-09-13 07:54] hibatallahAouadni commented on #25849
Hello @Oksydan

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #25283.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-09-13 07:54] hibatallahAouadni commented on #25849
Duplicate of #25283

[2021-09-13 07:59] NeOMakinG commented on #25849
@hibatallahAouadni reopening as I seen that @Oksydan came way further on this PR: https://github.com/PrestaShop/PrestaShop/pull/25855

[2021-09-13 08:08] Progi1984 commented on #25028
@PierreRambaud Is it implemented in the PrestaShop Corp Distribution ?

[2021-09-13 08:39] Oksydan commented on #25849
@NeOMakinG there is not point of not making fixed values if you are not able to change that img coz of css styling.
I made it working with every image dimension and reduce some redundant css selectors. (we saved 2kb of css there 😄)

[2021-09-13 08:41] Oksydan commented on #25854
@NeOMakinG in some places yes but not everywhere.
I am not sure that we should it if that refactored classic theme is coming.

[2021-09-13 08:58] WebXYAgency commented on #19371
Hi @marionf,

We'd like to contribute to implement checkboxes in the Geolocation menu as well as specific settings dropdowns (issue #19323).

[2021-09-13 09:02] khouloudbelguith commented on #15416
Hi @AldeaG,

I mean that when I IMPORT a COMBINATIONS CSV I don´t find that option to set "Impact price tax included". Only the option "Tax excluded" is available. And "Tax included" should be available also when importing COMBINATIONS CSV

This is another issue.
You can follow this ticket: https://github.com/PrestaShop/PrestaShop/issues/25746, it is similar to your problem.

Thanks!

[2021-09-13 09:29] Progi1984 commented on #25644
Fixed in #25704 by @Progi1984

[2021-09-13 09:29] #25644 closed, assigned to Progi1984

[2021-09-13 09:36] marionf commented on #19323
Assigned to @WebXYAgency

[2021-09-13 10:15] hibatallahAouadni commented on #25840
Hello @Hlavtox

I reproduce the issue only with develop & 178x (ps_imageslider v3.1.0), see the attached screenshot below:

### 1.7.8.x:

![image](https://user-images.githubusercontent.com/23308427/133065761-5d3c42e1-a61b-4af2-b468-6acf46af64a3.png)

### develop:

![image](https://user-images.githubusercontent.com/23308427/133066603-6ec21983-c447-4c78-b144-1f299d7f785b.png)

And it's a regression!

[2021-09-13 10:19] PierreRambaud commented on #25028
A zip is available in the original PR to retrieve previous behavior.

[2021-09-13 10:19] #25028 closed, assigned to PierreRambaud

[2021-09-13 10:34] hibatallahAouadni commented on #25864
Hello @musicpanda

Thanks for reporting the issue!
As @matks mentioned, your issue is a duplicate to #22668.

And that's why it's better to uninstall / disable the modules before upgrading (espcially to Major patch).

Could you please specify the exact versions (like 1.6.1.20) :pray:

Thanks in advance!

[2021-09-13 10:50] hibatallahAouadni commented on #25863
Hello @Oksydan

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-09-13 10:52] hibatallahAouadni commented on #25862
Hello @Oksydan

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-09-13 11:03] Hlavtox commented on #25854
+1 `$image.bySize.home_default.width` 🚀

[2021-09-13 11:10] hibatallahAouadni commented on #25841
Hello @dnkhack

Could you please check this issue #13881 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-09-13 12:02] NeOMakinG commented on #25854
First, we need to decide if classic theme is out on next version or we keep it and add the new theme as an alpha, for the moment, classic is still there so we can do it

Just a reminder, don't hesitate to participate to the new theme, I feel pretty alone 😢

https://github.com/NeOMakinG/theme-refacto

[2021-09-13 12:13] lozal2244 opened #25867 "Wholesale price with unit_price in order_detail"
#### Is your feature request related to a problem?

Pretsashop is not saving correctly the original_wholesale_price when a product has a unit price for example 5€/Kg

#### Describe the solution you'd like

In the OrderDetail class, the function getWholeSalePrice() could calculate the real wholesale price with the original price and the final price

[2021-09-13 12:15] Oksydan commented on #25854
@NeOMakinG
I know what you're feeling 😄
I would like to help you and just adapt some stuff from https://github.com/Oksydan/modern-prestashop-starter-theme.
Unfortunately I don't have enough time for everything.

It would easier if there will be some kind of issue with list of task that have to be done. Anyone could just pick one and make PR. Right know I have no idea what is main goal and vision o

[2021-09-13 12:25] Progi1984 commented on #25510
Fixed in #25523 by @Progi1984

[2021-09-13 12:25] #25510 closed, assigned to Progi1984

[2021-09-13 12:48] hibatallahAouadni commented on #25852
Hello @Oksydan

Thanks for reporting the issue!
I reproduce the issue with PS178x and develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/133082914-f7942d36-249a-404b-bc6e-98babc66f982.png)

And it's a regression! Thanks for your PR :rocket:
I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2021-09-13 12:52] hibatallahAouadni commented on #25859
Hello @Finallo

You need to change your PHP version as @kpodemski mentioned above.
Closing the issue as it's not Core bug.

Thanks!

[2021-09-13 12:52] #25859 closed, assigned to nobody

[2021-09-13 12:54] hibatallahAouadni commented on #25867
Hello @lozal2244

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-09-13 13:02] hibatallahAouadni commented on #25865
Hello @yuxiayuzhou

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/)

[2021-09-13 13:02] #25865 closed, assigned to nobody

[2021-09-13 13:03] hibatallahAouadni commented on #25678
Hello @Innlog85

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-13 13:03] #25678 closed, assigned to nobody

[2021-09-13 13:04] hibatallahAouadni commented on #25640
Hello @Bellaco1

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-13 13:04] #25640 closed, assigned to nobody

[2021-09-13 13:17] NeOMakinG commented on #25854
Was planning to work on this in the near future in order to attract some golden contribution 🙏

[2021-09-13 13:18] #9598 closed, assigned to kpodemski

[2021-09-13 13:24] Prestaworks commented on #10405
If the module is a widget module, no other hooks than displayHooks (hookHeader is not a displayhook any more) will be visible.
The positions controller needs to add all displayhooks if it's a widget hook, and also all the hooks that the module have defined functions for. It is possible that a module is a widget on the frontend but also have action hooks for BO handling.

AdminModulesPositionsContr

[2021-09-13 13:27] Oksydan commented on #25854
@NeOMakinG
Do it sooner than later.
Contributors might bring different point of view and your current work might require rework 😄

[2021-09-13 13:31] NeOMakinG commented on #25735
I took a look at the issue, it's mainly because of non-needed `.row` classes

It should be fixed by @Hlavtox on https://github.com/PrestaShop/PrestaShop/pull/25312, can you confirm @Hlavtox ?

[2021-09-13 13:47] MatShir commented on #24651
Status:
Blocked, need to create a server for the project. We are waiting SysAdmin authorization :)

[2021-09-13 13:47] NeOMakinG commented on #25592
@khouloudbelguith I can't reproduce, closing it, feel free to open it again if you reproduce it

[2021-09-13 13:47] #25592 closed, assigned to nobody

[2021-09-13 14:00] PawelRanuszkiewicz commented on #15785
I've diagnosed the problem down to AdminProductWrapper.php

Commenting out lines 210-217 (starting at Product::disableCache() and ending at Product::enableCache()) fixes the issue.
I believe the problem comes from the cache mechanism somehow. Maybe products that are imported somehow aren't cached? And the cached "price per unit" overwrites the form input one?

[2021-09-13 14:18] Progi1984 commented on #25493
Fixed in #25497 by @Progi1984

[2021-09-13 14:18] #25493 closed, assigned to Progi1984, MatShir

[2021-09-13 14:25] soolyyy commented on #19281
Is there any "hot-fix" for this ? Or any date when it will be fixed? We came across this problem too and need to solve it.

[2021-09-13 14:35] musicpanda commented on #25864
From version 1.6.23

I counted 34 modules that have been replaced. Is there any manual which should be deleted and which inactivated?

[2021-09-13 14:56] lozal2244 commented on #25867
I'm a web developer specialized in Prestashop, if I have the ok, I can do a pull request, but I don't want to work for nothing. This feature only makes sense if it's in the Prestashop core, as an override it's not very good idea.

[2021-09-13 15:07] Progi1984 commented on #25371
Fixed by @Progi1984 in #25524

[2021-09-13 15:07] #25371 closed, assigned to Progi1984

[2021-09-13 15:24] hibatallahAouadni commented on #25848
Hello @gennaris

This is the expected behavior because the space is a specific character.
I close this issue as it's not a bug.

Thanks for understanding.

[2021-09-13 15:24] #25848 closed, assigned to nobody

[2021-09-13 15:47] hibatallahAouadni commented on #25851
Hello @Oksydan

Thanks for your issue!

I think that's the expected behavior, otherwise we're going to have an inappropriate image slider (each slide has its height).
@NeOMakinG wdyt?

Thanks!

[2021-09-13 16:26] hibatallahAouadni commented on #25864
Hello @musicpanda

In this issue, there's list of modules https://github.com/PrestaShop/PrestaShop/issues/22668#issue-778814304
This issue has been fixed with PS1772, did you upgrade to 1771? or another version?

Thanks!

[2021-09-13 16:39] hibatallahAouadni commented on #25854
Hello @Oksydan

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-09-13 16:41] hibatallahAouadni commented on #25837
Hello @amerigeau

Could you please provide a test module to reproduce the issue.

Thanks in advance!

[2021-09-13 16:44] musicpanda commented on #25864
I see a roadmap in the link you provide. But I don't see a list of modules with instructions how to handle them.

The upgrade is to 1775

[2021-09-13 19:31] Bellaco1 commented on #25640
Sorry for my late respons, but been busy fammily things. Need to ask what OS and Webserver do you run this on?  My installation in not new is updated 2 times from 1.7.1 to  PS 1.7.7.6 and PHP 7.2.   and I run this on Nginx. Maybe I need to run on Apache to get this working. but should not be the problem. please give webserver and vertion you run this on and get it working.

[2021-09-13 21:24] yo7hli opened #25870 "Hook actionCategoryUpdate is fired twice when toggling category display status"
#### Describe the bug

When you toggle a category display status in BO, the hook actionCategoryUpdate is invoked twice

#### Expected behavior

the hook should only be invoked once.

#### Steps to Reproduce

1. Register the actionCategoryUpdate hook in a module (optional)
2. Go to Catalog/Categories
3. Click on any category's display status (e.g. enabling or disabling its display state)
4. hookAct

[2021-09-14 06:47] eveneme commented on #23010
it's mid-September and 1.7.8.0 is still gone.

[2021-09-14 07:31] #25845 closed, assigned to nobody

[2021-09-14 08:04] khouloudbelguith opened #25871 "BO - Categories page - Invalid category vars - An exception is displayed when Adding a category"
#### Describe the bug

If we change the `Route to category` in the BO > Shop Parameters page from `{id}-{rewrite}` to `{id}-{rewrite}-{meta_title}`, we cannot add new category => an exception is displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Shop Parameters > SEO & URLs page
2. Enable `Friendly URL`
3. Change the `Route to category` from `{id}-{rewrite}` to `{i

[2021-09-14 08:15] hibatallahAouadni commented on #25849
Hello @Oksydan

Thanks for reproting the issue!
I reproduce the issue with 178x, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/133221425-c48c3bfd-41bb-431b-beee-60850af67770.png)

While with 1777, the images was well displayed, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/133221363-3b7be811-8006-4f

[2021-09-14 08:49] florine2623 commented on #25870
Hello @yo7hli ,

Could you send a test module so that we can reproduce the issue ?

Thanks!

[2021-09-14 09:07] matks commented on #23010
This is perfectly normal. We follow the standard release process for OSS projets: we build a Release Candidate and submit it for validation. If blocking issues are found, we fix them and deliver a new Release Candidate. We submit it for validation. If blocking issues are found, we fix them and deliver a new Release Candidate. And so on. See https://en.wikipedia.org/wiki/Software_release_life_cycle

[2021-09-14 09:15] hibatallahAouadni commented on #25740
Hello @Hlavtox

We have the same issue in some modules like `ps_banner`:

![image](https://user-images.githubusercontent.com/23308427/133229466-bd796e92-c4d4-4d0d-9a5a-5883a10124d4.png)

And in `ps_imageslider`: https://github.com/PrestaShop/PrestaShop/issues/25840#issuecomment-918044408

Thanks!

[2021-09-14 09:23] florine2623 commented on #25850
Hello @Oksydan ,

I was able to reproduce the issue with PrestaShop version 1.7.8.x, so I can confirm that this behavior is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a

[2021-09-14 09:53] florine2623 commented on #25825
Hello @DelecroixQuentin ,

Your issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/19132.
To be informed when it's fixed, please subscribe to the issue mentioned above.
I'll close your issue to avoid backlog.

Thank you

[2021-09-14 09:53] florine2623 commented on #25825
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/19132

[2021-09-14 09:53] #25825 closed, assigned to nobody

[2021-09-14 09:59] florine2623 commented on #25853
Hello @Oksydan ,

I was able to reproduce the issue with PrestaShop version 1.7.8.x, so I can confirm that this behavior is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a

[2021-09-14 10:01] #25680 closed, assigned to matthieu-rolland

[2021-09-14 10:02] atomiix commented on #25680
Fixed by #25690

[2021-09-14 10:02] khouloudbelguith commented on #25680
Fixed by https://github.com/PrestaShop/PrestaShop/pull/25690

[2021-09-14 10:03] matks commented on #23010
## 14-09-2021 Status update - 1.7.8.0 RC1 build 4 being prepared

The last Pull Request blocking the 1.7.8.0 RC has been validated by the QA.
A new ZIP will be built once changes from. `1.7.7.x` branch have been merged into 1.7.8.0 branch.

[2021-09-14 10:03] matks commented on #25743
## 14-09-2021 Status update - 1.7.7.8 validated

QA team validated the build, the release process can begin.

[2021-09-14 10:27] pks891618 opened #25873 "upgrade from 1.7.6.8 to 1.7.7.7 giving js error in admin"
#### Describe the bug

After upgrade Prestashop **1.7.6.8**  to **1.7.7.7** using **1-Click Upgrade v4.12.0** admin console showing  js error.
When searching for the module, the search is not working

http://i.imgur.com/UJBLNuj.png

[2021-09-14 12:37] NeOMakinG commented on #25851
@hibatallahAouadni I think there are definitely things to do with this issue :)

[2021-09-14 12:39] florine2623 commented on #25873
Hello @pks891618 ,

Upgrade from 1.7.6.8 to latest version available went well :
<img width="1195" alt="Screenshot 2021-09-14 at 14 24 06" src="https://user-images.githubusercontent.com/16019289/133258782-a0f5798c-e40b-4454-8405-d63f637b778d.png">
<img width="770" alt="Screenshot 2021-09-14 at 14 31 57" src="https://user-images.githubusercontent.com/16019289/133258800-b098ceb0-64e3-4cc1-8dc9-ada40

[2021-09-14 12:39] #25873 closed, assigned to nobody

[2021-09-14 13:14] florine2623 commented on #25864
Hello @musicpanda ,

You can go to the GitHub page of each module and download latest version :
<img width="1419" alt="Screenshot 2021-09-14 at 15 13 30" src="https://user-images.githubusercontent.com/16019289/133264172-3c3b5bd6-1e08-4473-8bb0-1d2df768c5dd.png">

[2021-09-14 13:16] #25627 closed, assigned to Progi1984

[2021-09-14 13:45] amerigeau commented on #25837
Hi @hibatallahAouadni,

Here is the test module : it just provides a cron link to create a new feature value multilang to an existing feature and links this feature value to an existing product.

Module : https://github.com/amerigeau/amtestimportfeature

Hope it helps.

[2021-09-14 13:51] Alex-DA opened #25877 "Customer Threads Feature send wrong link to User Answer the Thread when Language is Disabled for the Store"
#### Describe the bug

In case that employee uses a language disabled on the store to navigate on the backend, will generate answer links on the Customer Support section with 404 error.

#### Expected behavior

The link attached to the email must be on the same language that the user used originally to create the question.

#### Steps to Reproduce

1. As a customer (logged or not logged) create a

[2021-09-14 14:02] Guisardo commented on #18798
Hi all, I'm having this exact issue at version 1.7.7.3 with new orders. Still not sure how the cart_product reach that state.

[2021-09-14 14:13] marionf opened #25878 "Can't select a field / toggle in a specific shop context"
#### Describe the bug

With the multistore enabled and in a specific shop context or in a shop group context, when I check a box, the associated field / toggle / parameter stays disabled. So I can't change it for the selected shop or group context.

#### Expected behavior

When I check the box, the associated field / toggle / parameter should be enabled.
It worked on the 1.7.8.x branch, so it's a

[2021-09-14 14:22] khouloudbelguith commented on #9646
Hi @kpodemski, thanks!

This ticket is a duplicate of #21381

Thank you!

[2021-09-14 14:22] #9646 closed, assigned to nobody

[2021-09-14 14:23] khouloudbelguith commented on #9646
Duplicate of #21381

[2021-09-14 14:51] khouloudbelguith commented on #25718
Hi @skeccy,

The PrestaShop 1.7.7.8. is released.
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.

Thanks!

[2021-09-14 14:52] yo7hli commented on #25870
sure, i drafted a quick proof of concept module which dumps a stack trace into a file for each call
just clone the repo here https://github.com/yo7hli/test25780.git into the modules folder, make sure it's writable by the web server, install the module and follow the steps in the issue.
there should be a 'hook_debug.txt' file in the module folder with the stack trace dump

[2021-09-14 15:01] florine2623 commented on #25860
Hello @musicpanda ,

I can't reproduce the issue on PS 1.7.7.7, even with debug mode enabled no warning is displayed.
Here's my screen record : https://drive.google.com/file/d/1CvXho0lX3J1jUZJi4G7eL8eKIJsHIXOY/view

Is there something else in the config that I should change ?

[2021-09-14 15:19] florine2623 commented on #25877
Hello @Alex-DA ,

I was able to reproduce the issue with PrestaShop version PS 1.7.6.9, PS 1.7.7.x and PS 1.7.8.x so I can confirm that this behavior is indeed a bug.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly su

[2021-09-14 15:40] florine2623 commented on #25854
Hello @Oksydan ,

An EPIC for Images already exists : https://github.com/PrestaShop/PrestaShop/issues/18518
You will find some of the issues you mentioned there. It will be updated when the issue is verified (if the bug is reproduced and if the improvement is approved by Product team)

[2021-09-14 15:44] florine2623 commented on #25837
Hello @amerigeau ,

Thanks for the link, however the module can't be installed on PS 1.7.7.x, PHP 7.2.
Here's my error :
<img width="657" alt="Screenshot 2021-09-14 at 17 43 24" src="https://user-images.githubusercontent.com/16019289/133290006-de0eeff8-f703-452b-bd58-01d375f86182.png">

Could you check please ?
Thanks!

[2021-09-14 15:52] musicpanda commented on #25860
Hello @florine2623,

I can's tell from your post what you have done. My report contains two parts. I would have expected your reaction to discuss both of those two parts.

- I mention that the missing of a date field is a rare occurrence. So the chance that you would encounter that is rare.
- I had overlooked the option to automatically delete messages. Unfortunately I expect that many people will

[2021-09-14 16:00] florine2623 commented on #25860
@musicpanda noted !

Is there a way I could reproduce your bug on my end ?
You can send me steps to reproduce the bug, I will follow them and check those 2 points.

Thanks !

[2021-09-14 16:11] musicpanda commented on #25860
No, I don't know how to send an email without a date.

[2021-09-14 16:26] nikospapadimitriou opened #25880 "Catalog page interface changed"
Sudenly the interface of the catalog was changed, It is like a beta version of the program.
When i move to orders the interface works properly, it changes when i move to catalog.

![εικόνα](https://user-images.githubusercontent.com/90692677/133296687-4ff1fe25-194d-4924-aa44-1965b043a178.png)

[2021-09-14 18:26] josett225 commented on #9866
Hi there, I will check your points.

Thanks for sharing.

[2021-09-14 22:27] Bellaco1 commented on #25640
Hi this is the same problem we have
https://www.prestashop.com/forums/topic/1019348-problem-with-attachment-file-in-multilanguage/

any one have solution?

[2021-09-14 22:29] Bellaco1 commented on #25640
Hi sorry for my late respons, possible to open agian

my father got sik and did't get time to look

I have made some new comment

https://github.com/PrestaShop/PrestaShop/issues/25640
[https://opengraph.githubassets.com/d148b8d41c14f4311dcb85c42e2f19021613097da317be80d7c9f38eefa5d4da/PrestaShop/PrestaShop/issues/25640]<https://github.com/PrestaShop/PrestaShop/issues/25640>
Friendly url not working

[2021-09-14 22:58] dnkhack commented on #25841
Hello. Thank you for tip. I to researched it. But this is not my case. For test this issue I am had used the fresh install of PS.

[2021-09-15 05:53] pks891618 commented on #25873
yes i found that there is third party module that was causing this issue, any way thanks for prompt reply

[2021-09-15 07:36] florine2623 commented on #25880
Hello @nikospapadimitriou ,

Make sure your PHP version is compatible with your PS version.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

What did you do before it changed ?
Thanks

[2021-09-15 07:44] NeOMakinG commented on #25880
Looks like Material Icons is not loaded, don't you have a connection problem? Maybe the google CDN was buggy...

[2021-09-15 07:57] sampuchina opened #25881 "BACK OFFICE / Advanced Parameters / Import /Products the Image alt and Title texts of the picture will be replaced by the language imported later."
After building a multilingual website, when importing products in batches.
via BACK OFFICE / Advanced Parameters / Import /Products

When importing Chinese language products first, and then importing English products, the Image alt and Title texts of the picture will be replaced by the language imported later. This is a small bug. It needs to be fixed.

[2021-09-15 08:01] Progi1984 commented on #25829
@PrestaShop/product-team I have a question. What are authorized characters for cart rule name?

Actually, if we put an `<`, it considers it's an HTML tag so it removes it.

[2021-09-15 08:18] florine2623 commented on #25881
Hello @sampuchina ,

Please edit your issue and follow the report template so that we can reproduce your issue and fix this bug.
<img width="574" alt="Screenshot 2021-09-15 at 10 18 15" src="https://user-images.githubusercontent.com/16019289/133396944-aac6694a-c8aa-4d30-9cca-babee1631d72.png">
Thanks

[2021-09-15 08:34] musicpanda commented on #25860
I found yet another problem: when you click "yes" on this "Delete messages" option it immediately deletes all messages. Given that accidental clicks regularly happen in circumstances like this there should be a popup "Do you really want to do this. It will create all messages on the IMPA server".

Below you find how email headers looked when I added a print_r for debugging. The upper is a normal m

[2021-09-15 10:00] hugolin69 opened #25884 "Faceted search : Ordering + Filtering does not work"
### Describe the bug
In the category page, If I add a filter **after** having changing the order, the filter does not applies.

### Expected behavior
I should have the order AND the filter working.

### Steps to Reproduce
If I try to filter with an option and after that change the order, it works.
I got this URL : https://www.site.com/20-category?q=Largeur-60+cm&order=product.price.asc

If I try t

[2021-09-15 10:33] Hlavtox commented on #25880
Hit F12, open console and check if there are any errors. This could be caused by CORS problems. Is SSL set up properly and working in your store?

[2021-09-15 11:14] Hector49er opened #25885 "features were not added due to their duplication"
FIX BUG FROM adminProductController.php

[code]

[2021-09-15 11:16] Hector49er commented on #25885
this is the ready-made code for solving the problem

[2021-09-15 11:19] daresh opened #25886 "Mail alerts availability notification subscription not working in a quick view window"
#### Describe the bug

Mail alerts availability notification subscription not working in a quick view window

#### Expected behavior

Subscription should work correctly

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Have a shop with one product or one of it's combinations out of stock
2. Open a quick view for this product from home page or category listing
3. Try to subscribe to av

[2021-09-15 11:41] Sartoric opened #25887 "\OrderCore::getFirstMessage() keep loading deleted message"
#### Describe the bug

Deleting a message from BO, records in ps_message table aren't deleted while messages in ps_customer_message are

#### Expected behaviour

The message should be deleted also from ps_message and not found anymore by the \OrderCore::getFirstMessage()

#### Steps to Reproduce
- Create an order and add a message/comment in the cart
- Go to the BO and delete the message/comment (

[2021-09-15 11:49] matks commented on #21484
Found an issue that seems related https://github.com/PrestaShop/ps_legalcompliance/issues/73

[2021-09-15 11:55] matks commented on #25743
1.7.7.8 has been delivered

https://build.prestashop.com/news/prestashop-1-7-7-8-maintenance-release/

[2021-09-15 11:55] #25743 closed, assigned to sowbiba, MatShir

[2021-09-15 11:56] matks commented on #23010
## 15-09-2021 Status update - 1.7.8.0 RC1 build 4 delivered

QA team has begun testing the new build.

[2021-09-15 12:11] florine2623 commented on #25885
Hello @Hector49er ,

Can you follow the bug template ?
<img width="751" alt="Screenshot 2021-09-15 at 14 11 00" src="https://user-images.githubusercontent.com/16019289/133430919-00b392b6-3318-477f-bd84-a2828432a7d8.png">

If you fix a bug, you can directly submit a PR.
Thanks

[2021-09-15 12:37] darkWolf-PR commented on #21484
You are probably right, I think I found connection with that module, but that module is outdated and so nothing should be actually connected with it, specially in default template if that module is not installed by default. I think it was adding that other variant of variable name so it would actually work with that module installed, but it is messing with stuff I do not want, so it was no option

[2021-09-15 12:39] MatShir opened #25888 "Localisation pack distribution / installation"
How do we handle the new translation from the distrib part (on the installer for example) ?
i18n (pack of localization) is hosted in the corp account.
How are going to migrate the service?

- [x] Setup i18n.prestashop-project.org which is a mirror of i18n.prestashop.com
- [x] Replace use of i18n.prestashop.com inside the software by i18n.prestashop-project.org

[2021-09-15 12:41] MatShir opened #25889 "Decide which services go to .org and which go to module"
- Crowndin

[2021-09-15 12:42] florine2623 commented on #25886
Hello @daresh ,

I was able to reproduce the issue with PrestaShop version 1.7.7.7, so I can confirm that this behavior is indeed a bug.

This email should be sent from the Quick View popin, but is only sent from the product page :
<img width="675" alt="Screenshot 2021-09-15 at 14 41 58" src="https://user-images.githubusercontent.com/16019289/133435176-2cbd25a0-1ef9-46a3-ab8d-89feed97cec1.png">

P

[2021-09-15 12:43] Jacky75 opened #25890 "Expired CartRules are not removed from the cart"
#### Describe the bug

Expired cartrules (or disabled cartrules) are not removed from carts even if not valid

#### Expected behavior

When a cartrule is not valid (it expiries or it's switched off), it should be removed from the user cart

#### Steps to Reproduce

Steps to reproduce the behavior:

1. In the Backoffice create a cartrule: e.g. 10 Euros on every cart valid from 01/01/2020 to 31/12/2

[2021-09-15 13:01] florine2623 commented on #25884
Hello @hugolin69 ,

Is your issue related to : https://github.com/PrestaShop/PrestaShop/issues/19810 ?

Please edit your issue and follow the bug template :
<img width="636" alt="Screenshot 2021-09-15 at 15 01 17" src="https://user-images.githubusercontent.com/16019289/133438030-c4c9a742-70f1-42c9-8975-779527115809.png">
Thanks

[2021-09-15 13:04] khouloudbelguith opened #25891 "FO - Product disabled - an exception is displayed when changing combination or increasing / decreasing a quantity"
#### Describe the bug

A product disabled, in the FO when increasing decreasing the quantity => an exception is dislayed
A product with combinations is disabled.
In the FO when we try to change the combinations => an exception is displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

- [ ] Issue 1
1. Go to BO > Catalog > Products page and edit a product with combinations
2. Disable

[2021-09-15 13:04] florine2623 commented on #25890
Hello @Jacky75 ,

Your issue seems to be a duplicate of https://github.com/PrestaShop/PrestaShop/issues/19393.
Can you confirm ?

Thanks!

[2021-09-15 13:26] florine2623 commented on #25887
Hello @Sartoric ,

I can reproduce your issue until step 3.
**Before :**
<img width="488" alt="Screenshot 2021-09-15 at 15 22 04" src="https://user-images.githubusercontent.com/16019289/133441650-8e0803f4-4ded-4ba5-8429-3c6a2bb7f7b4.png">

**After Deletion :**
<img width="492" alt="Screenshot 2021-09-15 at 15 22 10" src="https://user-images.githubusercontent.com/16019289/133441661-f8aab90f-2a9a-4f

[2021-09-15 13:27] matks commented on #13457
@Arman-Hosseini done :) thank you for your motivation

[2021-09-15 13:34] khouloudbelguith opened #25892 "BO - The Impact price tax included is nok - the Final retail price (tax incl.) of combination is NOK"
#### Describe the bug

In the BO > Catalog > Product page > Combination details page,
The Impact on the price (tax incl.) is NOK, the price is converted to price tax excluded
The Final retail price (tax incl.)  is NOK, It displays the Final retail price without taxes.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Products page > Edit a product with combination

[2021-09-15 13:44] marionf opened #25893 "Update the auto test to test the upgrade from 1.6 to 8.0"
#### Is your feature request related to a problem?

Currently, we have auto test to test the upgrade from 1.6 to 8.0
With the new version of the auto-upgrade module, a modal has been added(see issue [25657](https://github.com/PrestaShop/PrestaShop/issues/25657))

#### Describe the solution you'd like

We should update the auto-test according to the issue [25657](https://github.com/PrestaShop/Prest

[2021-09-15 13:53] marionf opened #25894 "Add a link on the dashboard allowing the user to download the zip of the auto-upgrade without having to do a composer install"
#### Is your feature request related to a problem?

With the split, the auto-upgrade module will not be pushed by addons API anymore.
It will not be part of the zip (native) either because:
- it should not be installed by default (the native modules are modules used in production and the upgrade module must not be used in production)
- This would pose problems with the composer dependencies which

[2021-09-15 13:55] Sartoric commented on #25887
@florine2623
That can be verified using the method in, let's say, a custom code in order to get the client's note

e.g.

[code]

since that method run the following SQL query, it will always return the "deleted" message (that is still in the database)

[code]

[2021-09-15 14:14] maxime18dev opened #25895 "Bug column 'last visit' in customer grid (back office) 1.7.7.2"
#### Describe the bug

The column 'last visit' in the client part of the admin does not work.

#### Expected behavior

it should indicate the date of the last visit of each customer on the site.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to customer
2. All columns of the client grid have their data displayed correctly except for 'last visit'.

**Screenshots**

If applicable,

[2021-09-15 14:30] marionf opened #25896 "Update the wording of the welcome block"
#### Is your feature request related to a problem?

The current content and the hierarchy of information is not really ideal

#### Describe the solution you'd like

We should update the content of the "welcome" block of the module with the following one:
"Upgrade your store to benefit from the latest improvements, bug fixes and security patches."
Display as a warning: "Upgrading your store on your

[2021-09-15 14:36] hugolin69 commented on #25884
I thing I found the solution adding unescape to smarty variable {$filter.nextEncodedFacetsURL|unescape}
Nobody reached this problem ?

[2021-09-15 14:47] florine2623 commented on #25895
Hello @maxime18dev ,

I can't reproduce your issue on PS 1.7.7.2 nor PS 1.7.7.8 :
<img width="1169" alt="Screenshot 2021-09-15 at 16 46 15" src="https://user-images.githubusercontent.com/16019289/133455878-ea24ef4c-ca53-444b-949b-7f7c54a07007.png">

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-part

[2021-09-15 14:47] #25895 closed, assigned to nobody

[2021-09-15 15:04] khouloudbelguith opened #25897 "FO - The ecotax is NOK with a product with combinations"
#### Describe the bug

In the FO > Product details page > the ecotax is not updated when changing combinations

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go BO > International > Taxes > enable ecotax
2. Go to BO > Catalog > Product page
3. Edit a product with combinations
4. For each combination set an ecotax
![image](https://user-images.githubusercontent.com/16067358/133458166

[2021-09-15 15:06] florine2623 commented on #25884
Hello @hugolin69 ,

Thanks for the update !

Have you checked issue #19810 ? It seems to be the same problem as yours. If that's the case you can create a PR in order to fix that issue !

[2021-09-15 15:10] hugolin69 commented on #25884
I do not think this is the same issue.
I solved my issue, but I would be happy to know if everybody reach the same problem, because it seems to be native and quite major.

[2021-09-15 15:32] florine2623 commented on #25887
Thanks for the update, I'll ping our product team to have their point of view on that.

Please stay tuned !

[2021-09-15 15:33] florine2623 commented on #25887
ping @PrestaShop/product-team ,

Should entries of **ps_message** table be deleted like messages in **ps_customer_message** are ?

[2021-09-15 15:52] khouloudbelguith opened #25901 "BO - Warning is empty when we try to delete all combinations"
#### Describe the bug

In the BO > Catalog > Products > Product details page combinations Tab, when we try to delete all combinations => the warning is empty
![image](https://user-images.githubusercontent.com/16067358/133466486-5a9d70a2-71b8-4045-92e0-43250217ea0e.png)

#### Expected behavior

It should be
![image](https://user-images.githubusercontent.com/16067358/133466625-2bbd2aed-f5a1-4653-a7a

[2021-09-15 15:55] eternoendless commented on #25633
As far as I can remember, it was decided to keep this in the `prestashop` object because it is needed to display the current stock when the "display available quantities on the product page" is activated:

<img width="1574" alt="Screenshot 2021-09-15 at 17 42 05" src="https://user-images.githubusercontent.com/1009343/133467213-402dc262-97a9-467a-9362-ed6483430fa5.png">

That said, if this setting

[2021-09-15 16:01] #25896 closed, assigned to nobody

[2021-09-15 18:18] IranDec opened #25902 "some problems after upgrade to 1.7.7.7"
Hi
I had Prestashop 1.7.7.4 Persian language after the upgrade that I reach this error and didn't let the order detail page load completely
PHP 7.2
https://ibb.co/KDgKPRx

but there is no problem in English language

[2021-09-15 19:13] Gipielle commented on #20090
This problem is also created by \x{200B} (Unicode Character 'ZERO WIDTH SPACE' (U+200B)) in the product name.

[2021-09-15 20:08] matks commented on #9598
@rdy4ever Reported in 2018, fixed in 2021 😄

[2021-09-16 06:44] Jacky75 commented on #25890
Hi,
the issue is quite similar, but it's been open more than 1 year ago.
The problem is really big, a customer of mine is continuing to sell with a
promo that ended one month ago.

regards,
Daniele

Il giorno mer 15 set 2021 alle ore 15:05 florine2623 <
***@***.***> ha scritto:

--
----------------------------------------------------------------------
Daniele Giachino - Blulab

Via Ospedale 15/b -

[2021-09-16 07:26] hibatallahAouadni commented on #25902
Hello @IranDec

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-09-16 07:26] #25902 closed, assigned to nobody

[2021-09-16 08:53] jmrftrs commented on #17668
LOL! What's NOT a solution is to have to go away from FPM because it's not working FOR YEARS.

[2021-09-16 09:02] atomiix commented on #25276
Fixed by #408

[2021-09-16 09:02] #25276 closed, assigned to atomiix

[2021-09-16 09:20] hibatallahAouadni commented on #25881
Hello @sampuchina

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-09-16 09:20] #25881 closed, assigned to nobody

[2021-09-16 09:22] hibatallahAouadni commented on #25885
Hello @Hector49er

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-09-16 09:22] #25885 closed, assigned to nobody

[2021-09-16 09:34] rdy4ever commented on #9598
Not bad

[2021-09-16 09:36] hibatallahAouadni commented on #25880
Hello @nikospapadimitriou

Please check your console and your connection cause it's definitely not a PS Core bug.
Sorry, but I have to close the issue.

PS: @NeOMakinG & @Hlavtox thanks guys for your quick replies

Thanks for understanding :pray:

[2021-09-16 09:36] #25880 closed, assigned to nobody

[2021-09-16 09:50] hibatallahAouadni commented on #25697
Hello @mehdi-ghezal

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-16 09:50] #25697 closed, assigned to nobody

[2021-09-16 09:50] hibatallahAouadni commented on #25672
Hello @lhotakj

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-16 09:50] #25672 closed, assigned to nobody

[2021-09-16 09:51] hibatallahAouadni commented on #25723
Hello @vitalita

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-16 09:51] #25723 closed, assigned to nobody

[2021-09-16 09:55] nikospapadimitriou commented on #25880
Thanks a lot the problem is fixed

[2021-09-16 09:59] khouloudbelguith opened #25905 "BO - Product V2 - An exception is displayed when creating a product with invalid name or too long name"
#### Describe the bug
In the BO > Catalog > Products > when we try to add a product V2 with an invalid name or too long name => an exception displayed
![image](https://user-images.githubusercontent.com/16067358/133591700-0694b987-f530-4f2a-810a-b3ac1db0a458.png)

#### Solution
![Capture d’écran 2022-01-27 à 12 29 24](https://user-images.githubusercontent.com/43613217/151350421-5436adce-f85b-499d

[2021-09-16 10:55] gennaris commented on #20465
Just checked this one as it affects some of our operations...

Since the operations on the stock do not affect the Product object,
a possible solution would be to perform a **product->update()** in the **postSave()** method of **StockAvailable** class to refresh the product **date_upd**

However this would slow down dramatically all the quantity update operations because of time spent to update th

[2021-09-16 11:03] khouloudbelguith opened #25907 "BO - Product V2 - The Impact price is not refreshed (Ajax issue)"
#### Describe the bug

In the BO > Catalog > Product page V2 > Combination details page,
The Impact on the price is not updated automatically. => it is an ajax issue.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Advanced Parameters > Experimental Features page
2. Enable Experimental product page
3. Go to BO > Catalog > Products page and edit a product with combinations

[2021-09-16 12:12] jolelievre commented on #25905
I don't think raisin an error is really a bug however we should improve two things:
- provide an appropriate translated message to replace this technical message
- add a constraint in the form so that such values are not accepted on submit and thus we will have an inline error in the header

[2021-09-16 12:14] jolelievre commented on #25907
Indeed this is a known issue, we didn't have time to implement the synchronization in combination form
But there are already modifications planned for this part:
- handle multishop prices for combinations
- the display of the pricing has changed in the new wireframe (see screenshot)

So the bug will probably be fixed at the same time as one of these two features.

<img width="716" alt="Capture d’e

[2021-09-16 12:28] metacreo commented on #17668
the engine turns into a real trash heap, they do not support the Apache server because they pushing their hosting. I often encountered this error before, but on the last branch of php 7.3.27 and later I did not encounter an error

[2021-09-16 14:59] mack94 opened #25910 "Faceted search fail in combinations"
#### Describe the bug

When using faceted search we got a problem - filters shows wrong results in products with combinations (especially prices). It shows only price of default combination, not the right one which fulfill the filter requirements.

#### Expected behavior

Output from filter, should be only the combination and it's prices which is expected by a customer (which fill right filter att

[2021-09-16 15:07] Hlavtox opened #25911 "Banner config is not displayed well"
#### Describe the bug

![image](https://user-images.githubusercontent.com/23308427/133643868-7218cf0e-98b1-4236-b3e7-f2efd9224829.png)

#### Expected behavior

![image](https://user-images.githubusercontent.com/23308427/133643827-123601e2-01ba-4b21-ba84-b398c7934018.png)

#### Steps to Reproduce

1. BO > Modules > Module Manager
2. Click on **Configure** button of `ps_banner` module
3. See error

[2021-09-16 15:16] Progi1984 commented on #25740
Fixed by @Hlavtox in #25741

[2021-09-16 15:48] #25740 closed, assigned to nobody

[2021-09-16 15:52] hibatallahAouadni commented on #25911
Hello @Hlavtox

I was able to reproduce the issue with PrestaShop version 1.7.8.x and develop. I’ll add this to the debug backlog.
And it's a regression!

Thanks for your PR :rocket:

Thank you

[2021-09-16 17:13] hibatallahAouadni commented on #25910
Hello @mack94

Thanks for reporting the issue!
I reproduce the issue wih PS1767, PS1770 and PS1778 with `FacetedSearch` `v3.7.1`, see the attached screen record below:

https://drive.google.com/file/d/1tBOxqabHX2ERdCvLkEe4WZlYpqAxTvkV/view

Related to #16952 (ping @PierreRambaud & @Hlavtox )
Ping @PrestaShop/product-team wdyt? what's the right behavior to fix the issue? :pray:

Thanks!

[2021-09-16 17:16] hibatallahAouadni commented on #25890
Hello @Jacky75

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #19393.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: If you manage to get the problem fixed, then please contribute the fix back to the project as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/). Remember that

[2021-09-16 17:16] #25890 closed, assigned to nobody

[2021-09-16 17:16] hibatallahAouadni commented on #25890
Duplicate of #19393

[2021-09-16 17:18] hibatallahAouadni commented on #25884
Hello @hugolin69

How did you solve your issue? and did you clear the cache?
Please check and feedback.

Thanks!

[2021-09-16 19:28] vhrist commented on #13096
Hi, thanks for solution
It's worked on 1.7.6.5, but I didn't see expresion "Sold Out" in translations.

Please for advice.

Regards

[2021-09-16 21:39] mack94 commented on #25910
Related also to #15164 and 15166

[2021-09-17 06:41] hugolin69 commented on #25884
Just see in my first post, the part "How to solve"

[2021-09-17 07:11] Progi1984 commented on #19359
Ping @okom3pom

[2021-09-17 07:30] Progi1984 commented on #19354
Ping @okom3pom

[2021-09-17 10:13] khouloudbelguith commented on #25884
Hi @hugolin69,

Thanks for your feedback.
I did not manage to reproduce the issue with PS1778 and ps_facetedsearch v3.7.1.
I attached a screen record
https://drive.google.com/file/d/1TwX5EQ29MPb6BQ0BsN-yAjnk90L8UmOV/view?usp=sharing
I will close the issue, feel free to open a new one when needed.

Thanks!

[2021-09-17 10:13] #25884 closed, assigned to nobody

[2021-09-17 13:01] matks commented on #9997
Hello @PrestaShop/product-team a PR was submitted for this bug => https://github.com/PrestaShop/PrestaShop/pull/25918

Could you tell us if the latest suggestions, that were written in 2019, are still valid and should be followed ?

[2021-09-17 13:07] #25897 closed, assigned to Progi1984

[2021-09-17 15:41] khouloudbelguith commented on #25841
Hi @dnkhack,

Could you please provide us the exact file overridden `DeliveryOptionsFinder.php` to test it?

Thank you!

[2021-09-17 15:49] MatShir opened #25921 "All native modules must be compatible with PHP 8.0 (CI must add check for PHP 8.0)"
check the module list:

**guidelines** -> https://github.com/PrestaShop/PrestaShop/issues/18547#issuecomment-953681691

**Administration**

- [x] autoupgrade : PrestaShop/autoupgrade/pull/459
- [x] ps_dataprivacy : PrestaShop/ps_dataprivacy#38
- [x] psgdpr : PrestaShop/psgdpr#158
- [x] ps_faviconnotificationbo : PrestaShop/ps_faviconnotificationbo#35
- [x] ps_emailalerts : PrestaShop/ps_emailalert

[2021-09-17 15:49] MatShir opened #25922 "Add docker image with PHP 8.0"

[2021-09-17 16:06] bsh commented on #24877
Hi! Do you have any update on this?

[2021-09-17 16:11] khouloudbelguith commented on #25870
Hi @yo7hli,

I used this module https://github.com/PrestaShop/ps_qualityassurance/ and PS1778
I added the `actionCategoryUpdate` hook
![image](https://user-images.githubusercontent.com/16067358/133819564-ed26950a-2586-40e0-bd74-730f9f1dde9c.png)

I tried to change the status of a category => only one line was added.
I attached a screen record
https://www.awesomescreenshot.com/video/5272978?key=3b5

[2021-09-17 16:17] khouloudbelguith commented on #25761
Hi @SebBareyre,

Thanks for the fix :slightly_smiling_face:
@rflorent , your ticket is a duplicate of #25797
So, I close it.
Thanks!

[2021-09-17 16:17] #25761 closed, assigned to nobody

[2021-09-17 16:17] khouloudbelguith commented on #25761
Duplicate of #25797

[2021-09-17 16:19] hugolin69 commented on #25884
I do not know what cause the URL in the TPL to be encode on my 1.7.6.9, but for people with the same problem, it could help.
Thank you.

[2021-09-17 18:21] yo7hli commented on #25870
thanks for looking into it, i'll have a look at that module too, figure out what's happening

[2021-09-17 18:37] yo7hli commented on #25870
you need to append to the file otherwise it just rewrites it.
so using `file_put_contents('/tmp/test', 'works', FILE_APPEND);` , `works` is added twice.
also, it logs the hook call twice in db table `ps_quality_assurance_hook_logs`

[2021-09-17 19:38] dylan-ramos commented on #10479
Hello,

On my side, this error appears when the "ProductCore" class is called in the classes of my module which inherits from "ObjectModel".

Ex:
`use ProductCore as Product;`
or
`$product = new ProductCore($id_product, false, $id_lang, $id_shop, $context);`

The problem is solved by replacing "ProductCore" with "Product".

--

Bonjour,

De mon côté, cette erreur apparaît lorsque la classe « Produ

[2021-09-17 21:50] dnkhack commented on #25841
Hello. Yes sure. My apologies. But You can to reproduce by yourself. Try to override getDeliveryOptions on fresh PS install.  But still I'm attach file just tested on 1.7.7.8. May be I was did something wrong.
[DeliveryOptionsFinder.php.txt](https://github.com/PrestaShop/PrestaShop/files/7188592/DeliveryOptionsFinder.php.txt)

[2021-09-19 06:47] dunrix opened #25924 "Installation failure at "Post installation scripts" phase"
PrestaShop 1.7.8.0, apache, php-fpm, mariadb

At the end of installation procedure, at "Post installation scripts" phase, script aborts with

without any further information provided.
In logs there is also not much helpful info:

For the completion, I'm attaching relevant screenshot:

![image](https://user-images.githubusercontent.com/44844371/133918265-30602dd8-c978-431d-a35b-5bb040d6200d.png)

A

[2021-09-19 11:28] bartoszbrozek opened #25925 "docker-compose up fails due to issue with composer"
#### Describe the bug

Running docker-compose up fails due to this error:

`/var/www/html/vendor/composer does not exist and could not be created.`

#### Expected behavior

Running docker-compose up should create a working Presta environment.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Clone project (develop branch)
2. Follow these instructions: [readme](https://github.com/Prest

[2021-09-19 17:09] go-sudo opened #25926 "[BO] - Add offline translation functionality"
#### Is your feature request related to a problem?

When I add English traduction to translate product description on the Backoffice , the new translation should not be visible on the front office until I finish products translating

#### Describe the solution you'd like

Translate offline

Regards
PS1.7.7.8

[2021-09-19 19:04] nizarbamida commented on #10356
I guess we should wait for v8.0.0

[2021-09-20 07:53] mgielecinski opened #25927 "Incorrect product assignment to a category after importing from CSV file"
#### Describe the bug

Hello
I have problem with CSV import.
The category tree is created correctly, but the second product is assigned to the first instance of the category with that name

#### Expected behavior

The second product should be correctly assigned to the subcategory called Tools under the Second category

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to import sect

[2021-09-20 07:58] hibatallahAouadni commented on #25926
Hello @go-sudo

I just edit your issue description, could you please confirm these modifications.
Waiting for your feedback.

Thanks!

[2021-09-20 08:02] hibatallahAouadni commented on #25736
Hello @Esh-network

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-20 08:02] #25736 closed, assigned to nobody

[2021-09-20 08:07] iwan75 opened #25928 "Special Characters on Invoice Footer"
#### Describe the bug

On the Invoice Footer the Special Character "&" is printed as "&amp;"

#### Expected behavior

"&" should be printed as "&"

#### Steps to Reproduce

Steps to reproduce the behavior:

If your Company has an "&" in the Company Name it's printed wrong on all Invoices.

![image](https://user-images.githubusercontent.com/23296488/133972052-59eae45d-7e4a-42da-823d-1b22dde61d7c.pn

[2021-09-20 09:10] #25283 closed, assigned to NeOMakinG

[2021-09-20 09:45] hibatallahAouadni commented on #25925
Hello @bartoszbrozek

You're missing some steps that's why you gets some errors!
After git clone, you need to install the composer:
`composer install`
Then, you need to install the assets:
`make install`
Now, you can execute the :
`docker-compose up`
Please check and feedback.

Thanks!

[2021-09-20 09:53] hibatallahAouadni commented on #25928
Hello @iwan75

I didn't manage to reproduce your issue with PS1778, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/133984014-50504646-600a-4097-abd3-e51577409902.png)

---
![image](https://user-images.githubusercontent.com/23308427/133984090-b8fd59ba-bc2f-45fb-83e1-21d0dbef4115.png)

Please check and feedback.

Thanks!

[2021-09-20 10:00] jonathanromain opened #25929 "Incorrect amount with wire payment (always at 0)"
A bug already reported in old versions but which probably came back in version 1.7.6.8 of Prestashop and 2.1.0 of the transfer module.

An amount 0.00 goes up in the field, and yet during the recap, Prestashop does display the price and in the mail "awaiting bank transfer" the price also goes up.

Has anyone ever encountered the error?

thank you for your comeback

![Capture-d’écran](https://user

[2021-09-20 10:07] hibatallahAouadni commented on #25927
Hello @mgielecinski

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #12092.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-09-20 10:07] #25927 closed, assigned to nobody

[2021-09-20 10:07] hibatallahAouadni commented on #25927
Duplicate of #12092

[2021-09-20 10:15] hibatallahAouadni commented on #25929
Hello @jonathanromain

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

![image](https://user-images.githubusercontent.com/23308427/133986569-f2a2d71b-f74d-41fb-9c85-c3523be56371.png)

We need these blocs to reproduce your issue!

Read more about how we expect the issues

[2021-09-20 10:15] #25929 closed, assigned to nobody

[2021-09-20 10:16] hibatallahAouadni commented on #25924
Hello @dunrix

I didn't manage to reproduce your issue with the provided infos.
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

![image](https://user-images.githubusercontent.com/23308427/133986833-8641aa6c-d82d-4d55-909a-dfc8ee62c4d4.png)

We need these blocs to reprod

[2021-09-20 10:16] #25924 closed, assigned to nobody

[2021-09-20 10:44] jonathanromain opened #25930 "Amount 0 in the order summary by bank transfer module and check bank"
#### Describe the bug

A bug already reported in old versions but which probably came back in version 1.7.6.8 of Prestashop and 2.1.0 of the transfer module.  An amount 0.00 goes up in the field, and yet during the recap, Prestashop does display the price and in the mail "awaiting bank transfer" the price also goes up.  Has anyone ever encountered the error?

#### Expected behavior
Get the right a

[2021-09-20 11:14] bartoszbrozek commented on #25925
Hello @hibatallahAouadni,

Thanks for your response, but method you provided causes the same errors and requires me to install php, composer, all required php extensions and "make" program on my server rather than the docker container itself, which is really bad.

The whole stack should run correctly using single `docker-compose up` command and without the need to have php and composer installed o

[2021-09-20 11:52] #25254 closed, assigned to Progi1984

[2021-09-20 11:52] #25892 closed, assigned to Progi1984

[2021-09-20 11:54] maofree commented on #20921
Hi
from the log I get the same error (I use a dedicated server for this website)

`[Mon Sep 20 10:43:48.912496 2021] [proxy_fcgi:error] [pid 150105:tid 139779819620096] [client 108.162.245.72:25722] AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught  --> Smarty: 0():Missing '$template' parameter <-- \n  thrown in /var/www/vhosts/kasa-store.com/public_html/arredamento-online/vendor/smarty/

[2021-09-20 12:22] dunrix commented on #25924
@hibatallahAouadni

That was really unhelpful, kind-like lazy automated response.
Do I really have to fill-in whole issue again from scratch, just for the sake of formalism?
What important information was missing, which I would simply supply, instead of creating a new report?
What about addressing my question how to enable more detailed tracing/debugging for installation process, at least?

Lame…

[2021-09-20 12:32] hibatallahAouadni commented on #25930
Hello @jonathanromain

I didn't manage to reproduce your issue with PS1778, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/134002681-b59ec93a-5fb0-4c10-a3cb-09e27f66e66f.png)

---
![image](https://user-images.githubusercontent.com/23308427/134002687-4b2f1104-14c3-42b0-a868-8a965ead47a8.png)

---
![image](https://user-images.githubusercontent.com/23

[2021-09-20 12:38] hibatallahAouadni commented on #25924
Hello @dunrix

I already mention that I didn't reproduce your issue with the provided infos.
We need your PHP version, MariaDB version, ...

You can ask in the [public Slack channel](https://prestashop.slack.com/), our developers and our contributors will glady answer all your questions :wink:

Thank you

[2021-09-20 12:39] jonathanromain commented on #25930
I actually have the same thing as you
But when I choose "Pay by bank wire" and that I validate, on the order summary page ", I have the result indicated on the screenshot posted above

![test](https://user-images.githubusercontent.com/34910831/134003542-e7ac88af-ac1c-46be-877f-8bd5d5c7df61.png)

[2021-09-20 12:43] MatShir commented on #24640
MBO should be downloaded from the addons store 😄

[2021-09-20 12:43] #24640 closed, assigned to nobody

[2021-09-20 12:45] hibatallahAouadni commented on #25930
Hello @jonathanromain

As you can in the attached screenshot below, the amount is well displayed:

![image](https://user-images.githubusercontent.com/23308427/134004132-b99fafbc-96c1-40a8-9504-debf8a8ee501.png)

Could you please check if you have some overrides or modules that impact the `ps_wirepayment` module functionality.
Please check and feedback.

Thanks!

[2021-09-20 13:06] prestascott commented on #25284
Hey @Hlavtox,

Thank you for your request. I don't understand why it has been removed on mobile, we should keep the breadcrumb to inform customers where they are in the website.

Wdyt @PrestaShop/product-team ?

[2021-09-20 13:29] marionf opened #25934 "As a user I should be able to download and install the modules of the OS project"
#### Is your feature request related to a problem?

With the split, it will no longer be possible to download the modules of the OS project on addons

#### Describe the solution you'd like

As a user I should be able to download and install the modules of the OS project on prestashop-project.org

[2021-09-20 13:36] #22880 closed, assigned to kpodemski

[2021-09-20 13:39] go-sudo commented on #25926
Hello @hibatallahAouadni  your are the best , I appreciate your help , that's definitely correct , I confirm

[2021-09-20 13:59] hibatallahAouadni commented on #25926
Hello @go-sudo

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-09-20 14:05] hibatallahAouadni commented on #25284
Hello @Hlavtox

We have a GO from UX-team and Product Team :tada: changing the label to **`To Do`**.

Thanks everyone :pray:

[2021-09-20 15:56] hibatallahAouadni commented on #25925
Hello @bartoszbrozek

@SD1982 was able to reproduce the issue with develop. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a special

[2021-09-20 16:22] eternoendless commented on #25926
Is this in the product page, right? You'd like to save a working draft while you translate content?

[2021-09-20 16:30] ilisiaraul commented on #13096
Works like a charm in PS 1.7.7.8

You just need to change Sold Out to whatever you want
EX:

if ($this->product['quantity'] == 0) {
$flags['quantities'] = array(
'type' => 'unavailable',//
'label' => $this->translator->trans('Sold Epuizat', array(), 'Shop.Theme.Catalog'),
);
}

[2021-09-20 16:32] go-sudo commented on #25926
Hi @eternoendless , yes because when we disable the language from BO we can not select it on product page , it disappears

[2021-09-20 17:01] SharakPL commented on #23057
https://github.com/PrestaShop/sekeywords/issues/14#issuecomment-753480719 @matks I believe the topic won't be picked up since sekeywords has been archived. I wonder though why is it still being installed in new shops (I've just tried with 1.7.7.8). Sekeywords is still there and just fills php error_log with depreciation warnings.

[2021-09-20 19:08] nauumb commented on #23051
Hello! I would like to take care of this issue, could you please give me a first approach to the problem so I can get started?

Is the combination to be specified in the various error messages mentioned above?

Thanks you.

[2021-09-20 21:57] ProteanCode commented on #20921
This ticket is almost a year long.

Is there any concept on how to fix that? There are many coders around that could make their first attempt on making a change to this project, but they do not want to reverse engineer all the core concepts underneath.

Any alternative plugin that could work with statsdata turned off?

[2021-09-20 22:55] amir-dragon opened #25939 "When changing cart quantity to 36"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-09-20 22:55] #25939 closed, assigned to nobody

[2021-09-21 06:06] iwan75 commented on #25928
i just recognised the problem is not on the report.
the problem is in master data.

when i enter an address with & it's stored as &amp;

![2021_09_21_08_03_37_Window](https://user-images.githubusercontent.com/23296488/134120020-b333e754-c1a6-4fed-ab9b-7680bff3f657.png)

[2021-09-21 06:28] PierreRambaud commented on #25925
Could you tell me if it's better with #25940? (You have to wait a lot for assets when using docker :( )

[2021-09-21 06:32] iwan75 commented on #25928
it's correct in the DB... on the invoice it's printed not correct:

![2021_09_21_08_31_05_Window](https://user-images.githubusercontent.com/23296488/134122566-829b8f9b-79d7-4c7a-99ed-65b293041875.png)

[2021-09-21 06:57] Progi1984 commented on #25646
Fixed in PrestaShop/dashproducts#33 by @Progi1984

[2021-09-21 06:57] #25646 closed, assigned to Progi1984

[2021-09-21 07:02] #25911 closed, assigned to Hlavtox

[2021-09-21 07:18] florine2623 commented on #25928
Hello @iwan75 ,

Can you make sure your config in  International > Localization matches the one of your server ?
<img width="1194" alt="Screenshot 2021-09-21 at 09 15 34" src="https://user-images.githubusercontent.com/16019289/134128004-6bc15e14-7f77-4ba6-a125-62e139519518.png">

[2021-09-21 07:51] okom3pom commented on #25522
Hello @hibatallahAouadni && @nshdigital

This hook is called when you add a combination not for update.

For the update you can use : `actionObjectCombinationUpdateAfter
`
Combination can be remplaced by all object.

[2021-09-21 08:03] iwan75 commented on #25928
this is correct...

[2021-09-21 08:20] marionf commented on #20917
@prestascott

It's because here the filters are checkboxes but you can also choose to display radio button or drop-down and in this case, you can't unselect them directly on the left.

[2021-09-21 08:47] abcreationIT commented on #19707
Hi @florine2623, @MatShir, @khouloudbelguith, @colinegin, @PrestaShop/prestashop-product-team,

I just noticed this problem too.
The end of the year is getting closer and closer and at the moment I have no idea **how to reset the number of delivery notes.**

It is very strange that there is no way at the moment.
We are talking about **legal** things.

How can I do?

[2021-09-21 09:09] clearisesp opened #25941 "Bug Search in prestashop 1.7.7.8"
#### Describe the bug

An error has been found in the search where we can see that typing any word returns search results. There are no matching words.

#### Expected behavior

It should say no results found

#### Steps to Reproduce

Steps to reproduce the behavior:

All this has been done with a clean catalog.

1) Create a new product with just the name to make the test more efficient.
2) Try in

[2021-09-21 09:19] clearisesp commented on #25941
Solve, disable search difuse, it is enabled by default. It does not work well.
![Captura de pantalla 2021-09-21 a las 11 17 32](https://user-images.githubusercontent.com/91121803/134145498-833084e5-0fe3-4a26-a203-20cdd22414c1.png)

[2021-09-21 09:20] florine2623 commented on #25941
Hello @clearisesp ,

First you need to downgrade your PHP version, please check the devdocs here : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Yes that's the configuration for fuzzy search that allow that to happen !

I'll close your issue !
Thanks

[2021-09-21 09:20] #25941 closed, assigned to nobody

[2021-09-21 09:24] clearisesp commented on #25941
Hello @florine2623 ,

In the php 7.3 that is recommended in that document, it does not work well either, you can check it ..., the best thing for now that it is in beta phase is to deactivate it, otherwise it will always give results.

[2021-09-21 09:34] #25925 closed, assigned to PierreRambaud

[2021-09-21 09:46] florine2623 commented on #25928
What about the encoding of files ?
<img width="1088" alt="Screenshot 2021-09-21 at 11 46 32" src="https://user-images.githubusercontent.com/16019289/134149598-03a94d6b-6cf7-4349-a165-bcb3c74e4683.png">

[2021-09-21 09:51] marwachelly commented on #25703
Hello,
 I have the same exception with the following steps:

1. Enable Multistore context
2. Create a new shop and configure it
3. Go to your profile > Profiles
https://www.awesomescreenshot.com/image/13770255?key=13b505263019a2766f57496d9c0be8d5
https://www.awesomescreenshot.com/image/13770317?key=f7b0393e086aebf348e54693b2419793
@Progi1984  Could you please verify if your PR fixe the problem.

[2021-09-21 09:52] khouloudbelguith opened #25942 "FO - Shopping cart page - An exception is displayed when a product added to cart transformed from simple product to a product with combinations"
#### Describe the bug

In the FO > We add a simple product to the cart
In the BO > We transform this product from a simple product to a product with combinations
When we add this product again to the cart => an exception is displayed, only when debug mode enabled

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable debug mode
1. Go to BO > Catalog > Products page > create standard

[2021-09-21 09:53] apropsi opened #25943 "form.js seo is undefined"
#### Describe the bug

I just update Prestashop to 1.7.7.8 version and now I cant save a product. If I check console it saids: seo is undefined

(line 626)
  var elem = $('#form');

  function send(redirect, target, callBack) {
    // target value by default
    if (typeof(target) == 'undefined') {
      target = false;
    }
    **seo.onSave();**
    updateMissingTranslatedNames();

#### Expected

[2021-09-21 09:55] marwachelly commented on #22429
Hi @Julievrz

I reproduced the same issue. @hibatallahAouadni could you please reopen the issue.

[2021-09-21 10:00] okom3pom commented on #25656
https://github.com/PrestaShop/autoupgrade/pull/411

[2021-09-21 10:05] dimitrisgi commented on #25746
Hi all,
In addition to that, one should be able to edit the price (incl. VAT) of a combination from the Combinations Tab of the product's page, without having to open and edit each combination individually.
Currently you can only edit the "excl. Vat" impact on price
![scrns12](https://user-images.githubusercontent.com/72615887/134152213-72dd5876-9047-4197-b423-380dc4c5797d.png)

[2021-09-21 10:20] ioweb-gr commented on #19810
So what's the status on this? Any roadmap or Eta or is the issue still unconfirmed by Prestashop?

[2021-09-21 10:26] bartoszbrozek commented on #25925
@PierreRambaud
Yes, I can confirm - it works now. Thank you very much for your effort.

[2021-09-21 10:32] #25878 closed, assigned to matthieu-rolland

[2021-09-21 10:45] bertoferrero opened #25945 "[BUG] It is possible to externally create a set of addresses entries"
A possible bug is found in the CustomerAddressPersister that allows creating addresses externally. It could be tested using Postman or similar, just send the form body to address controller on a POST request and the persister will create a non-customer linked address (id_customer = 0).

Pull-request with the suggested fix: https://github.com/PrestaShop/PrestaShop/pull/25944

[2021-09-21 10:46] zuk3975 opened #25946 "Reminder. CountryId and CustomerId VO should not allow 0 value"
### Is your feature request related to a problem?

As we noticed in this PR https://github.com/PrestaShop/PrestaShop/pull/25742 we should have a `NoCountryId` and a `NoCustomerId` VO to handle the fact that we unassociate them

It has been implement for many other VOs, however it was not doable in said PR because it was already very big and CountryId and CustomerId already accept 0 as input values

[2021-09-21 10:51] deepindersingh83 opened #25947 "Shopping Cart view button display"
The view button display is not proper in the shopping carts menu.

After Upgrading from 1.7.7.7 to 1.7.7.8

#### Expected behavior

All other menus and buttons are displayed properly

#### Steps to Reproduce

Steps to reproduce the behavior:

BO>Orders > Shopping Carts

![Capture](https://user-images.githubusercontent.com/568596/134157779-6630f285-47b3-4996-a599-dcc01bea1fd4.JPG)

* PrestaShop ver

[2021-09-21 11:15] khouloudbelguith opened #25948 "[Product Comment] FO - Read user reviews (1) link just refresh the page only with pack product"
#### Describe the bug
In the FO > Product details page, when we click on "Read user reviews (1)" => the page is just refreshed.
Only with pack product

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install the `productcomments` module
2. In the BO > Design > Position page > check that the `productcomments` is transplanted to the `displayProductAdditionalInfo` hook
![image](https://

[2021-09-21 11:31] florine2623 commented on #25943
Hello @apropsi ,

you upgraded from which version ?

PS 1.7.7.8 is not compatible with PHP 7.4, only up to 7.3.
More info here : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

[2021-09-21 11:34] florine2623 commented on #25945
Hello @prestaquality ,

Could you follow the Bug report template, so we can reproduce the bug ?

<img width="627" alt="Screenshot 2021-09-21 at 13 33 15" src="https://user-images.githubusercontent.com/16019289/134163418-11674f25-99ee-42af-a40c-4598426fb606.png">

Thanks!

[2021-09-21 11:44] apropsi commented on #25943
Downgraded to 7.3 same error.
Upgraded from 1.7.6.7
Thanks

[2021-09-21 12:17] Progi1984 commented on #25703
@marwachelly Yes, it fixes the problem ;)

[2021-09-21 12:31] florine2623 commented on #25943
Hello @apropsi ,

I can't reproduce your issue.
After a successful upgrade from 1.7.6.7 to 1.7.7.8 :
<img width="1433" alt="Screenshot 2021-09-21 at 14 22 58" src="https://user-images.githubusercontent.com/16019289/134170517-315d4876-dff2-41f7-afc0-479da15b18e2.png">

I can edit my product as you can see per the screenshot :
https://drive.google.com/file/d/1fM5Y_WeiBqKjintFXqOYuxmYP2iq2yCU/vie
<im

[2021-09-21 12:31] #25943 closed, assigned to nobody

[2021-09-21 12:33] PierreRambaud commented on #19810
It's an open source project, feel free to contribute and fix the bug if you think it's mandatory for you :muscle:

[2021-09-21 12:54] florine2623 commented on #25947
Hello @deepindersingh83 ,

I can't reproduce your issue after a successful upgrade from 1.7.7.7 to 1.7.7.8 :
<img width="1424" alt="Screenshot 2021-09-21 at 14 47 54" src="https://user-images.githubusercontent.com/16019289/134173806-4215f2b8-ec1d-4645-9538-76de389e16d5.png">
<img width="1202" alt="Screenshot 2021-09-21 at 14 52 08" src="https://user-images.githubusercontent.com/16019289/134173815-

[2021-09-21 12:58] marionf opened #25950 "[Facetedsearch] Improve the display of filters in FO"
#### Is your feature request related to a problem?

The problem with the filters displayed with radio button or in a drop-down is that you can't unselect them directly in the left column as for the checkboxes.
If you want to unselect only one filter selected, you need to unselect it from the "active filters" section. This section can be displayed below the waterline if there are a lot of subcatego

[2021-09-21 13:04] #17111 closed, assigned to nobody

[2021-09-21 13:25] marionf opened #25951 "Add a channel for all PS version to check the PHP compatibility"
As a user making an upgrade, I want to be able to upgrade my store only to a PS version that is compatible with my current PHP version to ensure the upgrade success

#### Describe the solution you'd like

- Create a channel that contains the PHP compatibility for all PS versions.
- If the user selects **"private release"** or **"local archive"** or **"local directory"**, we must check that the ver

[2021-09-21 14:15] ebonit opened #25952 "delete product attribute: DELETE not allowed for url"
#### Describe the bug

When I have added attributes to a product and I want to delete 1 or more of them then the server response is
DELETE not allowed for url

#### Expected behavior

I expect the attribute to be removed from the product

#### Steps to Reproduce

Steps to reproduce the behavior:

1. go to backoffice->catalogue->Attributes&Features.
2. add a new attribute
3. add some values
4. go t

[2021-09-21 14:34] #25624 closed, assigned to Progi1984

[2021-09-21 14:39] florine2623 commented on #25952
Hello @ebonit ,

I can't reproduce your issue as you can see per my screen record :
https://watch.screencastify.com/v/RNyKbLTKQzj5YyttboNh

You need to contact your hosting provider so the DELETE method can be activated.

As this is not an issue on the software, I will close it.
Thanks!

[2021-09-21 14:39] #25952 closed, assigned to nobody

[2021-09-21 14:40] #25656 closed, assigned to nobody

[2021-09-21 15:02] okom3pom commented on #25659
Hello @marionf i am ok to work on this issue but i don't know the way when the prestashop version is not compatible with the php version i don't see on https://www.figma.com/file/GpRsUUCHcdhJPAaz7Eqzes/Autoupgrade?node-id=497%3A11710

An other question for the devs but i can ask the dev team.

I put all the informations in an array or the informations come from another way ?

If you can ask for me

[2021-09-21 15:07] PierreRambaud commented on #19810
I'm sorry if I sounded aggressive, @matks is right, we can't fix everything alone, and a lot of bugs come from the previous versions (even in the 1.6).

Unfortunately, we don't plan to fix it in a short time :(

[2021-09-21 15:29] PierreRambaud commented on #24643
The welcome module has been archived as demand

[2021-09-21 15:32] jasper4ni commented on #11277
Problem when installing the module in Prestashop ver. 1.7.7.5
Here's the error shown
[code]
![image](https://user-images.githubusercontent.com/68841876/134200903-e60251f5-cf01-4aa6-81db-ecaca7bae013.png)

[2021-09-21 16:03] matks commented on #11277
The Install.php class is in the right folder https://github.com/PrestaShop/blockwishlist/tree/dev/src/Database

it looks like a Composer cache issue where Composer is unable to find the new php files. I suggest clearing var/cache content.

[2021-09-21 16:22] jasper4ni commented on #11277
I've deleted the var/cache folder, and tried clear cache in Advanced Parameters/Performance
But it's still the same
Btw, I also updated the ver. to 17.7.8, which is the latest ver.
but still not working

[2021-09-21 16:25] jasper4ni commented on #11277
I can provide the link and BO access to u, if u need

[2021-09-21 16:28] marionf commented on #25659
Hello @okom3pom

I added the mockup directly in the issue.

FYI, the table is static and given as an example: it does not change depending on the version of php or on the targeted version of PS selected for the upgrade.
As you can see there is a text just above to explain it: "Your PHP version must be compatible with both your current PrestaShop version and the one you want to upgrade to.
For exam

[2021-09-21 17:25] mreduar commented on #13892
I recently upgraded to the latest version of prestashop 1.7.7.8. And when I try to change the customer from one order to another customer, I get this same error. Is there any solution for this problem? I have been trying to figure out what the problem is myself, but I could not solve anything.

[2021-09-21 18:15] vhrist commented on #13096
The problem is that i don't see this expression in backoffice and I can't translated in my local language

Regards

[2021-09-21 21:46] amerigeau commented on #25837
Hi @florine2623,
I just test it, I clone the repo in my modules directory and install it without any error.
PS 1.7.7.8
PHP 7.2.34

[2021-09-22 06:50] #25422 closed, assigned to Hlavtox

[2021-09-22 06:50] #25114 closed, assigned to matks

[2021-09-22 07:30] matks commented on #23010
## 22-09-2021 Status update - 1.7.8.0 RC1 build 5 delivered and published

Some last regressions were found on build 4 of 1780 RC1, so a build 5 was needed.

Build 5 was delivered on Monday and tested immediately. It was validated by QA team yesterday and is now [published](https://build.prestashop.com/news/prestashop-1-7-8-0-rc-release/).

[2021-09-22 07:43] Julievrz commented on #25894
I suggest:
"More recent versions are available."
CTA: "Download auto-upgrade module"

Should we plan a sentence for when the user is up to date? For example: "You are using the latest version available."

TBC by @prestascott but these wordings could be associated with symbols (a green checkmark or an upgrade symbol)

Wdyt?

[2021-09-22 08:26] PierreRambaud commented on #24643
I found some issues with modules:
- [ps_emailsmanager](https://github.com/PrestaShopCorp/ps_emailsmanager)  is not in this organization and has no change since 6 years
- [psgdpr](https://github.com/PrestaShop/psgdpr) is not on packagist
- [ps_googleanalytics](https://github.com/PrestaShop/ps_googleanalytics) is not on packagist
- [ps_emailalerts](https://github.com/prestashop/ps_emailalerts) is no

[2021-09-22 09:34] okom3pom commented on #25951
Hello @marionf

What do you think of this?

![Capture d’écran de 2021-09-22 11-31-39](https://user-images.githubusercontent.com/5064590/134319586-d17c05fd-f4c5-489c-804b-ba6a8b5d5211.png)

![Capture d’écran de 2021-09-22 11-31-14](https://user-images.githubusercontent.com/5064590/134319526-d3f80075-cc8f-4113-a7ad-48726805be01.png)

[2021-09-22 09:40] PrestaEdit opened #25959 "Install of PrestaShop 1.7.8-rc.1 is not possible in CLI mode"
#### Describe the bug

Install of PrestaShop 1.7.8-rc.1 is not possible in CLI mode.
I used this command
`php index_cli.php --language=fr --country=fr --domain=prestashop.com --base_uri=rc1780 --db_server=10.1.32.2 --db_user=root --db_name=1780cli --db_password=xxx --firstname=Demo --lastname=Prestashop --email=demo@prestashop.com --password=prestashop_demo --db_create=1 --newsletter=0 --send_emai

[2021-09-22 09:48] darkf3d3 opened #25960 "Remove shop logo attached in email sent by prestashop"
#### Describe the bug
The shop logo it's attached to each email sent by Prestashop.

#### Steps to Reproduce
1. Place an order or any other action that causes an email to be sent from Prestashop
2. Check the email received (you'll see the shop logo attached to the email

**Involved file:**
/httpdocs/classes/Mail.php (lines 504-507)
`/* don't attach the logo as */`
`if (isset($logo)) {`
 ` $templat

[2021-09-22 10:22] Codencode opened #25962 "Error whe saving a product in "debug mode""
#### Describe the bug
An error is shown when saving an article with combinations.
The problem occurs only in debug mode

#### Error log:
Notice: A non well formed numeric value encountered in src\Adapter\Product\AdminProductWrapper.php:152

**Screenshots**
https://user-images.githubusercontent.com/2463965/134326580-103134bd-6b3b-47e4-8996-04ad087d0199.mp4

#### Steps to Reproduce
Open a product ar

[2021-09-22 10:27] idnovate commented on #24165
Are you using module `roja45quotationspro`?

[2021-09-22 10:53] hibatallahAouadni commented on #25959
Hello @PrestaEdit

I didn't manage to reproduce your issue with PS1780_rc1, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/134331145-b9d7c43c-7134-48f8-9202-2fd5f06f068d.png)

Please check and feedback.
Thanks!

[2021-09-22 10:59] hibatallahAouadni commented on #25960
Hello @darfk3d3

I didn't manage to reproduce your issue with PS1778, see the attached screenshot blow:

![image](https://user-images.githubusercontent.com/23308427/134331923-c28ad788-12c0-4c38-af9d-1c35679caa45.png)

---
![image](https://user-images.githubusercontent.com/23308427/134331893-6cbc4f6b-9ce2-486e-b9d4-87b209731e24.png)

Please check and feedback.
Thanks!

[2021-09-22 11:06] xrdm commented on #16994
Same problem is presenti in module version 4.2.0

[2021-09-22 11:11] hibatallahAouadni commented on #25962
Hello @Codencode

Could you please check this issue #25797 it seems similar to yours.
Please check and feedback.

Thanks!

[2021-09-22 11:37] PrestaEdit commented on #25959
There is my complete console cmd:

`php index_cli.php --domain=my.domain.tld --base_uri=/foldername/1.7.8.0-rc.1 --language=fr --db_name=mydbname --db_user=mydbuser --db_password=mydbpassword --db_create=1 --name=myshopname --firstname=Presta --lastname=Module --password=mypassword --email=email@tld.com --newsletter=0 --send_email=0 --enable_ssl=1`

[2021-09-22 11:42] psyray commented on #15878
Same issue with 1.7.6.9
@khouloudbelguith Is there a fix ?
It's really a high severity problem. Could you level up the resolution ?
It's tagged as minor, while it's not !!!

[2021-09-22 12:12] prestascott commented on #25894
Hello,

You can find those 3 possible cases in my mockup.

Here is the legacy version:
![prestashop updates - legacy](https://user-images.githubusercontent.com/54888056/134341315-569f0bb4-a6b2-429a-a7dd-00e8f43368e0.png)

Here is the migrated version:
![prestashop updates](https://user-images.githubusercontent.com/54888056/134324727-dc821218-31de-4a6a-bfd5-5523ed94338a.png)

Let me know what do yo

[2021-09-22 12:31] PrestaEdit commented on #25959
Issue seems to be inside the: --base_uri=/foldername/1.7.8.0-rc.1/

[2021-09-22 12:47] d33x opened #25963 "Missing VAT 10% for Czech Republic"
#### Describe the bug

When we import the VAT rules via the localization pack, a rule for the Czech Republic is missing.

Only the 15% and 21% rules are added, whereas there is a 10% VAT rule.
See https://ec.europa.eu/taxation_customs/tedb/vatSearchForm.html

#### Expected behavior

The 10% VAT should also be added

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'International

[2021-09-22 13:22] #25789 closed, assigned to Hlavtox

[2021-09-22 13:27] wzzly commented on #24165
@idnovate no we don't use that module

[2021-09-22 13:31] kpodemski commented on #24165
The easiest way, but not the quickest, would be to move modules to some temporary directory to see which is causing this issue. Then you check if the error persists.

The second option would be to do something like:

[code]

just before the line #935

[2021-09-22 13:39] marionf commented on #24643
You are right, and it can stay in PrestaShopCorp as it allows to import, preview and edit the packs of email templates sell on the marketplace (I edited the issue to remove it)

ps_googleanalytics is not on packagist

Can we add them on packagist if it's required to add them in the zip ?

What is the problem and can we fix it to make it compatible ?

[2021-09-22 13:51] jasper4ni commented on #11277
Hi @matks, do you have any solution for this error?

[2021-09-22 13:57] marionf commented on #25951
Hello @okom3pom

The [table to indicate all the compatibilit](https://github.com/PrestaShop/PrestaShop/issues/25659)y is required
By deleting the table, the user will not know which PHP version he needs to make more recent updates.
Let's take an example:
You are in PS 1.6.1.24 with PHP5.4 and you want to upgrade to PS 1.7.7.
To upgrade to this version you need to have PHP 7.1, 7.2 or 7.3
The probl

[2021-09-22 14:06] msaustral commented on #15878
Hi everybody can you send some more info?
screen of incognito window showing the cookies
did you modify the class Cookie.php?
or do you have any override of that class?
what about your server?
it is a legacy server or container?
apache or nginx or other?
regulas php or php-fpm?
what versión?

[2021-09-22 14:38] mparvazi opened #25966 "[BO] Dashboard time-val selection doesn't change the calendar"
Hi there,

Selecting a time-val (day, month, year,...) from the calendar form, doesn't change the date-picker and causes a jquery error.

Steps to reproduce the behavior:

1. Go to BO > Dashboard
2. Select a time-val from calendar form

![image](https://user-images.githubusercontent.com/16067358/134660440-d56525a3-046c-4482-b0fe-bf1136db61a2.png)

3. See error in browser console

**Screenshots**

[2021-09-22 14:42] idnovate commented on #24165
@wzzly We just came across the same notice today, and it was because of this module. We debugged it like @kpodemski said.

[2021-09-22 15:11] tswfi opened #25967 "Configuration::updateValue truncates the value after '<=' in the value"
#### Describe the bug

Configuration::updateValue truncates values if it finds `<=` in the value.

[code]

Saves into db as
[code]

[code]

saves correctly

#### Expected behavior

`Configuration::updateValue` should save the value as is

#### Steps to Reproduce

[code]

check the db for the value

#### Additional information

* PrestaShop version: 1.7.7.8
* PHP version: 7.3.30

[2021-09-22 15:15] tswfi commented on #25967
And no, using html=true (the third parameter) is not the solution

[code]

That will save as
[code]

This will make it really hard to use the value as a configuration for external services (In my use case the external service allows giving select rules for a query)

[2021-09-22 15:48] tswfi commented on #25967
its pSQL that does this

[code]
returns `asdf`

[2021-09-22 15:54] psyray commented on #15878
@msaustral
Same workflow as @khouloudbelguith
https://github.com/PrestaShop/PrestaShop/issues/15878#issuecomment-539940080

Here's the preview of an xdebug session of the problem
![image](https://user-images.githubusercontent.com/1230954/134377392-a668c37f-4a6d-4a4a-a9a3-f20370ba0e52.png)

The cookies of the call
![image](https://user-images.githubusercontent.com/1230954/134377654-8117d16a-e28a-4f

[2021-09-22 16:01] jagcAnelis opened #25968 "Exception to update with 1 clik upgrade"
#### Describe the bug

[code]

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to https://deva.herbalistgrow.es/

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional information

* PrestaShop version: 1.7.7.8
* PHP version: 7.2.32

[2021-09-22 16:11] tswfi commented on #25967
so pSQL has htmlOK which works correctly https://github.com/PrestaShop/PrestaShop/blob/8f75bff32899fb89e707d78886fa0072a4264022/config/alias.php#L45

[code]
returns `asdf<=qwer` correctly

but updateValue is more of a "ishtml"
https://github.com/PrestaShop/PrestaShop/blob/8f75bff32899fb89e707d78886fa0072a4264022/classes/Configuration.php#L433

and thus does purification and other unwanted things t

[2021-09-22 16:13] psyray commented on #15878
Screen of the add to cart result
![image](https://user-images.githubusercontent.com/1230954/134381700-252d62d0-387b-410c-8b6e-771a0effcc28.png)

The modal is displayed because `_products` property in the `$this->context->cart` is empty

[2021-09-22 16:15] hibatallahAouadni commented on #25963
Hello @d33x

I reproduce the issue with PS1767 and PS1778, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/134381538-00844143-d0f3-4153-9e82-0cf3c0478bac.png)

The only tax imported within the localisation pack is **DPH CZ 15%**.
Ping @PrestaShop/product-team any idea about this issue? :pray:

Thanks in advance!

[2021-09-22 16:24] jasper4ni commented on #11277
After I move the Install class and uninstall class to under blockwishlist.php, the installation can be process, but another problem show on. When I try to enter the module configure page, the error pop up...
[code]
![image](https://user-images.githubusercontent.com/68841876/134382956-6215b899-2dbb-4a82-b31f-d09cb6767270.png)

I've tried to clear the var/cache but still..

Can anyone help on this?

[2021-09-22 16:45] msaustral commented on #15878
Hi @psyray your error is different, your cart is not empty, the PS does not allow you to buy because it say "there are not enough products in stock"

Did you migrate from 1.6 to 1.7?

[2021-09-22 16:48] hibatallahAouadni commented on #25967
Hello @tswfi

I think even when you try to save 'asdf<qwer' without =, you will get the same issue :confused:
But when you try with 'asdf>qwer', it will be saved succefully. And that's remind me of this issue #22540
Wdyt, is it related?
Please check and feedback.

Thanks!

[2021-09-22 16:51] hibatallahAouadni commented on #25968
Hello @jagcAnelis

Could you please provide the steps before upgrading, what's the 1-click upgrade module version?
From which version you did upgrade?
Please check and feedback.

Thanks!

[2021-09-22 16:55] hibatallahAouadni commented on #25966
Hello @mparvazi

I didn't manage to reproduce your issue with PS1780_rc1 (with Persian), see the attached screen record below:

https://watch.screencastify.com/v/qsWc13jHy0dxGpfugRCg

Please check and feedback.
Thanks!

[2021-09-22 16:59] jagcAnelis commented on #25968
Hi there.

The previous version was 1.7.6.3
The steps have been, make a backup copy, put the store in maintenance mode, download the 1-Click Upgrade module
v4.12.0 - from PrestaShop
Activate it and follow the steps indicated.
The web loaded well, but when registering a user a 500 error came up, from then on the eb stopped loading and in debugging mode this error jumps.
Thanks.

[2021-09-22 16:59] hibatallahAouadni commented on #25837
Hello @amerigeau

Glad to hear :tada:
Thanks for your feedback!
Closing the issue :wink:

[2021-09-22 16:59] tswfi commented on #25967
tested and `<` and `>` work correctly.

but yes, that issue is probably something similar.

[2021-09-22 17:00] psyray commented on #15878
My cart is empty
Forget about the message, it comes from the theme.
Problem is the same, 1st time add, with cookie flushed before (new incognito window), product is not added to cart.
2nd time it works.
The condition for the error message in the theme is this one
[code]

[2021-09-22 17:04] msaustral commented on #15878
Can you send me a dev environment on a temporary server?

[2021-09-22 17:15] psyray commented on #15878
Yes I will setup and send it to you.
How can I contact you in private ?

[2021-09-22 17:33] ballashop commented on #9757
Hi,
@Hlavtox could you please tell me the line of code where the "return" is placed?
There are more than one and I don't know how to insert the code.
I apologize but I'm not a programmer.
Thanks for any reply.
Balla

[2021-09-22 17:37] psyray commented on #15878
Dev server is set up, bug is also present.
Waiting for your feedback

[2021-09-22 17:49] mparvazi commented on #25966
Hello @hibatallahAouadni

Sorry, i didn't say what i mean well!
I meant selecting the input buttons at the right side causes a jquery error.

**Screenshots**

![Screenshot 2021-09-22 at 12-11-40 پیشخوان • ONE](https://user-images.githubusercontent.com/85633460/134391567-0e4cc2d1-8bfe-4afb-8465-fda2eba449e3.png)

Please check again.
Ty!

[2021-09-22 17:53] jasper4ni opened #25969 "[Blockwishlist] Prestashop wishlist module can't be installed on 1.7x"
### Description
Prestashop wishlist module can't be installed on 1.7x

The module is from https://github.com/PrestaShop/blockwishlist

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Download the zip file and extract and change the filename to without "-dev" Zip it again
2. Upload module in module manager
3. Error shown as
4. ``Attempted to load class "Install" from namespace "Presta

[2021-09-22 18:18] theMost1ted opened #25970 "1-Click Upgrade from 1.6.1.24 to 1.7.7.8 error"
Hello,

Can't update from 1.6.1.24 to 1.7.7.8 using the latest version of 1-Click Upgrade
[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/5677535/134399423-412b849d-a458-4136-bc96-75819cc4ee96.png)

* PrestaShop version: 1.6.1.24
* PHP version: 7.4.14

[2021-09-22 18:27] psyray commented on #15878
I've sent url on your email address from your website

[2021-09-22 18:36] msaustral commented on #15878
Hi sorry i did not get you email, please send it to info@msaustral.com

[2021-09-22 18:47] amerigeau commented on #25837
Hi @hibatallahAouadni,
The issue isn't closed as `FeatureValue::addFeatureValueImport()` doesn't work yet.
Please reopen the issue so :)

[2021-09-22 19:37] ptidav opened #25971 "Wrong birthday date -> Error in front and back office"
#### Describe the bug
If a customer enter a birthday date with no valid year, ie 13/03/0000, he gets an error 500 in front office during checkout.
If you try to access his customer sheet from BO you get an error :
Invalid date
[PrestaShopException 0]

#### Expected behavior

A check could be made when the customer enter his birthday date to avoid the record of date with wrong format.

#### Steps t

[2021-09-22 20:01] Rus-Design commented on #25969
Hi.
Just download this zip and try
https://github.com/PrestaShop/blockwishlist/releases/download/v2.0.1/blockwishlist.zip

[2021-09-22 22:01] darfk3d3 commented on #25960
That's strange, on my installation the logo it's attached to the email. Maybe this happen when uploading a logo different from the prestashop default logo?

[2021-09-23 00:40] psyray commented on #15878
I think I found the problem, it cames from 2 parts

### First run, refresh the product page, flush your cookie
![image](https://user-images.githubusercontent.com/1230954/134437989-2c3957f9-f901-48e7-8f11-18e8f73a1751.png)

![image](https://user-images.githubusercontent.com/1230954/134438004-93425bcf-8d09-45f0-8524-c351b2df6bf7.png)

And the JSON response

![image](https://user-images.githubusercon

[2021-09-23 01:01] msaustral commented on #15878
Hi use cloudflare to avoid bots

El mié, 22 de sep. de 2021 a la(s) 21:40, Psyray ***@***.***)
escribió:

[2021-09-23 01:16] psyray commented on #15878
Not the problem here, the problem is add to cart not working

[2021-09-23 01:20] msaustral commented on #15878
try to migrate the info to a fresh installation without installing additional modules, PS 1.7.x.x do not have this problem, we do have many installation working.

[2021-09-23 01:27] psyray commented on #15878
Go to the demo and make the @khouloudbelguith step and you'll see

[2021-09-23 03:43] BenTen opened #25973 "Do not delete id from employee table"
#### Is your feature request related to a problem?

When we delete an employee from the menu "Team" in the BO, the id is delete from the database _employee (ps 1.7.5)

#### Describe the solution you'd like

It will be better to add a column "deleted" and keep all id on the table _employee. Especially, when other table record the id of the employee (module_history for example)

#### Alternatives yo

[2021-09-23 04:41] #25852 closed, assigned to nobody

[2021-09-23 07:18] matks commented on #25973
So basically you're suggesting we implement a "soft delete" feature for employees?

[2021-09-23 07:22] matks commented on #22429
Items 2) and 3) are not valid too. You can mark them as bugs.

[2021-09-23 07:29] Codencode commented on #25962
Hello @hibatallahAouadni

Yes it is the same.

Thanks!

[2021-09-23 07:29] #25962 closed, assigned to nobody

[2021-09-23 07:41] BenTen commented on #25973
What do you mean?

[2021-09-23 07:46] BenTen commented on #25973
We have to deactivate the account but not delete on the database.

For example in module_history, we can see employee with id 5 installed the module "abc".
It's cool but if the employee table show only the id 1, who can know who is id 5?

[2021-09-23 07:49] tswfi opened #25974 "Allow ean14 for ean13 field"
#### Describe the bug

Currently, ean13 is restricted to 13 characters. Europe uses ean14 quite a lot https://www.gtin.info/ which cannot be saved into 13 characters.

#### Expected behavior

- Allow to save 14 characters
- rename label: '`EAN-13 or JAN barcode`'  ->` GTIN (EAN, JA, ITF or UCC code)`

It is 13 or 14 next to EAN are purposely removed to be more generic. EAN 13 is a legacy code that

[2021-09-23 08:18] hibatallahAouadni commented on #25970
Hello @theMost1ted

You should upgrade your shop and then upgrade your PHP version :wink:
By the way, after upgrading your shop, upgrade your PHP to 7.3 cause PS1778 is not compatible to PHP 7.4 (see our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)).
Closing the issue cause it's not a PS Core bug.

Thanks!

[2021-09-23 08:18] #25970 closed, assigned to nobody

[2021-09-23 08:19] hibatallahAouadni commented on #25962
Duplicate of #25797

[2021-09-23 09:11] hibatallahAouadni commented on #25974
Hello @tswfi

It seems an improvement cause in PS there's only ean13 :wink: so that's normal to throw an error while saving ean with 14 char.
So, thanks for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consi

[2021-09-23 09:27] hibatallahAouadni commented on #25973
Hello @BenTen

It means, in BO the admin can not see the employee but it's saved in the database.

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestas

[2021-09-23 09:32] matks commented on #25973
It's indeed a "soft delete" :D

[2021-09-23 09:57] matks commented on #15878
The label "minor" has a specific meaning, see https://devdocs.prestashop.com/1.7/contribute/contribution-process/how-issues-are-sorted/#issue-severity-criteria

Maybe it seems a major bug for you, but the label "minor" is simply an information. We could also say "bug level 1, 2 or 3' 😄 .

It's great 😄  as you can it's not just us, it's all of us together. It's great you explored the issue and subm

[2021-09-23 10:06] hibatallahAouadni commented on #25971
Hello @ptidav

I reproduce the issue with PS1767, PS1778 and PS1780, see the attached screenshot below:
In BO:

![image](https://user-images.githubusercontent.com/23308427/134489174-e79f46b6-d536-450b-87ad-cb3b1e0a8acc.png)

In FO:

![image](https://user-images.githubusercontent.com/23308427/134489310-aa0ef30e-3a40-4ec7-acdb-3ecb7b31e42b.png)

I’ll add this to the debug backlog so that it’s fixed.

[2021-09-23 10:18] hibatallahAouadni commented on #25971
Hello again!

This issue has been fixed with PS1780_rc1 :tada:
And we are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #17341.
Please subscribe to the issue mentioned above.

Thanks!

[2021-09-23 10:18] #25971 closed, assigned to nobody

[2021-09-23 10:18] hibatallahAouadni commented on #25971
Duplicate of #17341

[2021-09-23 10:42] hibatallahAouadni commented on #25969
Hello @jasper4ni

Could you please try the proposed solution by @Rus-Design and feedback.
Thanks @Rus-Design for your quick reply :superhero:

Thanks!

[2021-09-23 11:24] hibatallahAouadni commented on #25860
Hello @musicpanda

I just edit your issue description :wink:
Could you please confirm the steps and the expected behavior :pray:

Thanks in advance :pray:

[2021-09-23 11:52] pavankumarat commented on #15763
So, if you are using microsoft exchange

Azure active directory admin center -> Properties -> Manage security defaults -> Disable should solve

[2021-09-23 11:59] NeOMakinG opened #25975 "What should we do with the new FO theme?"
#### Is your feature request related to a problem?

We are working on a new theme, but we need to decide how we implement it (not speaking about technological questions, but organization).

We discussed a lot in some meets, but we need to write it down in order to decide what to do.

#### Describe the solution you'd like

Myself, I really think that as we didn't deprecate the classic theme before,

[2021-09-23 12:18] kpodemski commented on #25975
Fully agree.

I have a question about the Composer and release process of the theme. The theme is highly coupled with core.js and some core mechanisms. We won’t be able to release (most of the time) the new version of the theme without releasing PrestaShop, right? I’m wondering what the advantages of the composer are in our scenario?

For me, it could be the same repo as the rest of the core and -

[2021-09-23 12:22] musicpanda commented on #25860
Hello @hibatallahAouadni

No, this is not what I meant.

Point 1 is about mail recerived from customers. My opinion is that the PS code should not assume that the mail header contains a date field but make a check for it (or not use it: it is only used as an encryption key).

As for point 2, I don't know whether some shop use this fact that mail is retained. My proposal would be to make deletion t

[2021-09-23 12:24] BenTen commented on #25973
Understood, I didn't know this term :)
Seems a good resume for what I said :3

[2021-09-23 13:19] hibatallahAouadni commented on #25975
Hello @NeOMakinG

Thank you for your suggestion.
Ping @PrestaShop/product-team wdyt?

Thank you

[2021-09-23 13:20] NeOMakinG commented on #25975
The idea to use composer for me would be to have a different release cycle for the new theme, since it shouldn't be core dependent except for the back-end part, but let's see other's maintainer advice!

[2021-09-23 13:22] khouloudbelguith opened #25977 "Manual upgrade - an error is displayed when we try to upgrade from PS1780RC to Branxh 178x"
#### Describe the bug

Previously reported here: https://github.com/PrestaShop/PrestaShop/pull/25311#issuecomment-925114128

An error is displayed when we do a manual upgrade from PS1780RC to branch 178x

#### Steps to Reproduce

Steps to reproduce the behavior:
- I installed PS1780rc1
- I enabled multistore
- I made a manual upgrade to branch 1.7.8.x
- I have this error

`<?xml version="1.0" enco

[2021-09-23 13:43] matks commented on #25975
Very important for context https://github.com/PrestaShop/PrestaShop/issues/14533

For adoption.

The more impactful changes we bring in PS 8, the harder it will be for people to upgrade from 1.7 to 8. FO theme is a critical part of PS.

If we fail this topic and it becomes a massive pain to upgrade to PS 8 because everything related to the theme breaks - 3rd party themes, children themes, FO modul

[2021-09-23 13:48] Oksydan commented on #25975
@NeOMakinG
I think it isn't possible but it the best way to keep core.js and make it not coupled with theme would be to rewrite it complete.
Core.js could just extends `prestashop` object with methods that accepts json data and return promise with data.
NO dependencies all vanilla.js (fetch for ajax), NO DOM manipulation. Perfect usage of typescript.
Example of usage for example method `prestashop

[2021-09-23 15:04] marionf opened #25978 "As a user, I should be able to easily install in 1 click the native modules uninstalled (keep module catalog page)"
#### Is your feature request related to a problem?

As a user, I should be able to easily install in 1 click the native modules uninstalled

#### Describe the solution you'd like

We should keep the "module catalog" BO page of the core.
On this page will be displayed the modules present in the /modules folder and not installed.
This way, the user can easily install a native module that is uninstal

[2021-09-23 15:11] marionf commented on #24639
Please note that the "module catalog" page should not be removed from the core: https://github.com/PrestaShop/PrestaShop/issues/25978

[2021-09-23 15:45] NeOMakinG commented on #25975
Do we really need to have a core.js file? I was thinking about not using any core js files in the new theme tbh

[2021-09-23 15:52] Oksydan commented on #25975
@NeOMakinG tbh we don't need it.
But it would be nice to separate that two concepts in new theme model/view.

[2021-09-23 15:56] NeOMakinG commented on #25975
API calls will probably be inside a services folder, cut into small function, we'll try to follow some best practices

[2021-09-23 22:27] alfonsolr09 commented on #25975
As a user and administrator of a web page in Prestashop I think that the classic theme has become obsolete.
In my opinion a new theme should be created with good improvements, loading speed and above all a good construction for SEO

[2021-09-24 02:06] BenTen commented on #25975
Is this theme for the next Upgrade version?

I don't want to be negative, but on the paper remake in the same time the theme, the webservice and a lot of think who have an old code and no doc is good,.
But do no forget the story between PS 1.6 and 1.7, how it was hard to upgrade between both version because so much difference between both version.

[2021-09-24 05:35] kpodemski commented on #25975
We all know what happened between 1.6 and 1.7, and no one wants a replay.

Ditching the classic theme would not be responsible and keep people from upgrading. PrestaShop 1.7 became stable somewhere around version 1.7.6. This version was released ~2 years ago, the latest patch version for it a year ago. We can't expect people to upgrade from 1.6 to 1.7 and then upgrade to v8 and re-implement the th

[2021-09-24 06:55] NeOMakinG commented on #25975
This is why we decided to create this issue, ask the community and everyone involved, we need to manage the smoothest transition :)

[2021-09-24 06:58] Progi1984 commented on #25303
Fixed in #25311 by @Seb33300

[2021-09-24 06:58] #25303 closed, assigned to Seb33300

[2021-09-24 08:10] BenTen commented on #25975
@matks , Man, you are too stress or maybe you like quote me, don't know.
I make reference to the doc of the webservice. In a recent post someone say (maybe you), webservice is hard to fixed since there is no documentation about it so the best way it's probably to remake it.

Anyway, you missed out on what I wanted to say.

Again you think I'm against you. Please stop to quote every post I write, I

[2021-09-24 08:16] matks commented on #25975
@BenTen

Indeed I did not understand what you said, but you did not understand either what I wanted to say 😄  I was just seizing the opportunity to remind everyone (not just you) that the quantity of work ahead of us can only be managed if everybody works on it, maintainers and contributors alike. No hard feeling, no hard thoughts, just a friendly reminder to raise the spirit of collaboration. Loo

[2021-09-24 08:25] boubkerbribri opened #25980 "[BO] Buttons are not well displayed (part 2)"
#### Describe the bug
After fixing #25740, `Search button` is still not well displayed
![image](https://user-images.githubusercontent.com/48441421/134642332-bb0445f3-f8d1-4386-88d6-260a1e1206a7.png)

#### Expected behavior

Button well displayed
![image](https://user-images.githubusercontent.com/48441421/134642550-c0b9168b-0916-4e52-a08b-0f471fd454be.png)

#### Steps to Reproduce

Steps to reprodu

[2021-09-24 08:29] boubkerbribri commented on #25980
I don't know if it's related, the action buttons should be align=right
1.7.7.x :
![image](https://user-images.githubusercontent.com/48441421/134643439-bc5bfd67-9dc7-4e6c-8f3f-34c63a3ff591.png)

1.7.8.x, develop :
![image](https://user-images.githubusercontent.com/48441421/134643364-d8153bb0-3a29-4497-b1d9-f3d2611f4c28.png)

[2021-09-24 08:35] mparvazi commented on #25966
admin/themes/default/js/calendar.js

![Screenshot 2021-09-24 115607](https://user-images.githubusercontent.com/85633460/134643472-fcf67d40-d5ce-4bed-a488-37081398207a.png)

Deleting the **const** keyword will fix the problem.

[2021-09-24 08:39] Hlavtox commented on #25980
@boubkerbribri I will fix it ;-)

[2021-09-24 09:43] khouloudbelguith commented on #25960
Hi @darfk3d3,

What is the exact mail server did you use?
In the BO > Advanced Parameters > E-mail page did you which case ` Use /usr/sbin/sendmail` or `Set my own SMTP parameters`?

Thanks!

[2021-09-24 09:56] florine2623 opened #25981 "ps_emailalerts - out-of-stock email is sent everytime the product is saved"
#### Describe the bug

With combination products, if one of the combination is out-of-stock and I edit the product, everytime I save it, I'll receive an email.

#### Expected behavior

I should receive an out-of-stock email alert only once and not everytime I make a change on the product.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install ps_emailalerts and Configure > Set thre

[2021-09-24 10:16] marwachelly opened #25983 "FO - sign in - Exception when login with disabled friendly URL"
#### Describe the bug

Exception when login with disabled friendly URL.

#### Expected behavior
Possibilty of login when the friendly URL is disabled.
#### Steps to Reproduce

**Steps to reproduce the behavior:**

1. BO>Advanced Parameters> Performance>Enable mode debug
2. Shop Parametres>Traffic & SEO
2. Disable friendly URL and save
3. Click on view my shop
4. FO > Choose a product and click
5.

[2021-09-24 10:26] khouloudbelguith commented on #25966
Hi @mparvazi,

I manage to reproduce the issue with PS1780rc1.
![image](https://user-images.githubusercontent.com/16067358/134659906-c88c023f-671f-4f19-aa7b-89401f77ed71.png)

It was ok with PS1778 & PS1777.
If we click on any button => the calendar will be changed
![image](https://user-images.githubusercontent.com/16067358/134659662-70ef5309-d9bf-4d3c-9f85-ac6da7c7eb78.png)

I'll add this to the

[2021-09-24 10:34] Hlavtox commented on #25981
Hi @florine2623, fixed, pls test. ;-)

[2021-09-24 10:40] Hlavtox commented on #25981
@matks Can you check my PRs if the solution is correct? Or we should not call the actionUpdateQuantity hook at all, if it did not change?

[2021-09-24 11:27] khouloudbelguith commented on #25870
Hi @yo7hli,

Thanks for these clarifications.
I manage to reproduce the issue with PS1763 and PS1780rc.
![image](https://user-images.githubusercontent.com/16067358/134667052-d14f76e4-6b6c-4c97-b608-de3da56061c1.png)

I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this i

[2021-09-24 11:44] khouloudbelguith commented on #25968
Hi @jagcAnelis,

Thanks for your feedback.
I did not manage to reproduce the issue with PS1778 after an upgrade from PS1763 using the 1-click upgrade v4.12.0.
I attached a screen record
https://drive.google.com/file/d/1XpvbOE7UxVondUbuC_KG5JlHXFLl_XhD/view?usp=sharing

Thanks to check and feedback.

[2021-09-24 12:28] Progi1984 commented on #25901
Fixed in #25904 by @Progi1984

[2021-09-24 12:28] #25901 closed, assigned to Progi1984

[2021-09-24 12:29] #9641 closed, assigned to Hlavtox

[2021-09-24 12:44] darfk3d3 commented on #25960
I use "Set my own SMTP parameters" (SSL port 465)

[2021-09-24 13:43] ghost opened #25989 "Bad display in autoupgrade module with PrestaShop version 1.7.8.0"
#### Describe the bug

Bad display in autoupgrade module with PrestaShop version 1.7.8.0  see screenshot

#### Expected behavior

A good display like https://www.figma.com/file/GpRsUUCHcdhJPAaz7Eqzes/Autoupgrade?node-id=497%3A11710

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'install the module'
2. Click on 'Click to  cinfigure'
3. Scroll down to 'Click Expert mod'
4. See

[2021-09-24 13:55] deepindersingh83 commented on #25989
Can you please clear cache and try again

![image](https://user-images.githubusercontent.com/568596/134686305-0dc0db47-fbac-46e7-97ba-57bb436ca75f.png)

[2021-09-24 13:56] deepindersingh83 commented on #25989
Can you clear cache and try again

![image](https://user-images.githubusercontent.com/568596/134686475-7ba8241e-0948-4cf3-861c-01cddd526eef.png)