[2019-06-14 14:23] khouloudbelguith commented on #12027
@hacchus, thanks!

[2019-06-14 14:30] wjatekTest commented on #13787
I think it is not important information. But if you want to test it just try setting module name to random string in your order XML and thats it

[2019-06-14 14:32] ftardio commented on #11172
Thanks for your reply. I made a mistake uploading the video, it's online again using this link:
https://drive.google.com/open?id=1GBAqXV-YLTx_fiiQTsYJz_NQgK5v0BsY

[2019-06-14 14:41] rateforx opened #14218 "Importing .csv category list error. v1.7.5.2"
When I try importing categories from a .csv file I get an error.

Steps to reproduce the behavior:
1. Advanced Parameteres -> Import
2. Choose "category".
3. Upload .csv file. I've tried using the sample one and one of my own.
4. The error occurs regardless of the import settings ("Delete all categories before import", "Skip thumbnails regeneration", "Force all ID numbers", "Send notification emai

[2019-06-14 14:49] benlecoqartisans commented on #14174
@khouloudbelguith
https://drive.google.com/open?id=1bir0gx__ZnzE8dtvEhgb7OOlVFXmn9Wv
I don't reproduce my issue with your products but I had to change it (I don't know if it was good, but, for instance, we don't have the same total).
Here is my file
[product_2019-06-14_113713.txt](https://github.com/PrestaShop/PrestaShop/files/3291115/product_2019-06-14_113713.txt)

Would you suggest that the bug

[2019-06-14 14:55] khouloudbelguith commented on #14218
Hi @rateforx,

I did not manage to reproduce the issue with PS1.7.5.2 & the sample csv.
I attached a video record
https://drive.google.com/file/d/1ruB00FRIJ5VMOJmPEVC3X7JG05u5my8Y/view
Could you please provide your exact file csv to check it.

Thanks!

[2019-06-14 15:00] rateforx commented on #14218
Here:
[categories_import(1).csv.txt](https://github.com/PrestaShop/PrestaShop/files/3291148/categories_import.1.csv.txt)

I've run out of ideas on how to troubleshoot this...

[2019-06-14 15:06] khouloudbelguith commented on #14174
@benlecoqartisans, I used your products & it is OK.
No issue reproduced
https://drive.google.com/file/d/1W_kHxgbo7jfVYL5q0SeVro8IWDKdiRnp/view
Thanks!

[2019-06-14 15:14] #11518 closed, assigned to jolelievre

[2019-06-14 15:15] WebmasterXeral commented on #14211
max_execution_time and max_input_time are one of the problems when memory_limit value is enough. max_execution_time and max_input_time are both set to 300, any other value less than 300 causes an error.

In case the value of memory_limit is enough, it takes 2 minutes since you click edit until you see the individual product page.

The delay time is disturbing, but my main concern is that opening a

[2019-06-14 15:33] matks commented on #11011
@marionf I just checked in the migrated page and it seems to be gone (although I think it should be unrelated 😆)
So for me it's a "Cant reproduce" now

Can you check ?

[2019-06-14 15:35] khouloudbelguith commented on #14211
@WebmasterXeral,

Could you please enable the profiling mode to understand what could be the cause of this time.

Thanks!

[2019-06-14 15:40] khouloudbelguith commented on #14218
@rateforx, I used also your file csv, it is OK
https://drive.google.com/file/d/1fbMp13SXNk8gtEQqtYfJmzBEpZ3cDUdJ/view
If you try to disable some options before the import

- Delete all categories before import
- Skip thumbnails regeneration
- Force all ID numbers

Does the same issue occur?

Thanks!

[2019-06-14 15:41] rafaviana commented on #12027
@hacchus can you show me your store preferences? Maybe I have something in my preferences creating a conflict

[2019-06-14 15:43] marionf commented on #11011
@matks I can reproduce it with 1.7.6.x branch

![capture d'écran_1684](https://user-images.githubusercontent.com/13449658/59521152-e26fe500-8ecb-11e9-9f1f-fa621a9dfcdd.png)

[2019-06-14 15:48] matks commented on #11011
Interesting 🤔I tried with Firefox and Chrome, nothing.
Do you use the "upload an image" window, like this ?
<img width="505" alt="Capture d’écran 2019-06-14 à 17 46 48" src="https://user-images.githubusercontent.com/3830050/59521444-94a7ac80-8ecc-11e9-8d06-e47471604fbe.png">

[2019-06-14 15:48] matks commented on #11011
Also I see you have multiple languages installed, when I tried with only one. Might come from that

[2019-06-14 15:56] marionf commented on #11011
I have the same issue with only one language

https://drive.google.com/open?id=1ymPge3H4eFa-aM2IVnwGcl_a_REEbvKi

[2019-06-14 16:00] khouloudbelguith commented on #11172
@ftardio, thanks a lot for your feedback.
I manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2.
Steps to reproduce the issue:
1. Create a cart rule "Free shipping" with/without code
2. Create any cart rule without code & disable it
3. Go to the FO => add some product to the cart => complete the checkout process => in the SHIPPING METHOD step => add the code for the first cart rule (free

[2019-06-14 16:08] khouloudbelguith commented on #14124
@photinia73, I tried with PS1.7.5.2 & PS1.7.6.0beta but I did not manage to reproduce the issue, all stats are well displayed.
@sarahdib could you please try to reproduce the issue?, have you the same issue with PS1.7.5.2 or PS1.7.6.0beta1.

Thanks!

[2019-06-14 16:10] matks commented on #11011
Thanks for the video, I understand now. I did not understand what was meant by "See error, you can't edit the image".

As Pierre said, this is an issue from TinyMCE. It seems to be fixed in TinyMCE 4.6 while we are using a modified 4.0.16 version.

@marionf I suggest we update the title of the issue as this happens in EVERY page where we use TinyMCE, including the Product page.

@PrestaShop/presta

[2019-06-14 16:30] khouloudbelguith commented on #13787
@wjatekTest, thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.2 & ps1.7.6.0BETA1.
If I use this script

[code]
But, I f I change
`$xml->children()->children()->module = 'ps_checkpayment';`

to

`$xml->children()->children()->module = 'test';`

I have an error

[code]

And this error not clear.

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed i

[2019-06-14 16:44] benlecoqartisans commented on #14174
Do you have any idea about what could be wrong ?

[2019-06-14 16:49] iqit-commerce commented on #14210
@khouloudbelguith I confimg that with 3.0.4 it is ok, however sort order box is empty which not looks good

[2019-06-14 16:49] khouloudbelguith commented on #14174
@benlecoqartisans, I don't think.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-06-14 16:49] #14174 closed, assigned to nobody

[2019-06-14 16:54] benlecoqartisans commented on #14174
Do you know if it is possible to export products with their combinations, because perhaps there is something like that ?
 It is the main difference that I can see between your products and mine (the real ones)

[2019-06-14 16:56] rateforx commented on #14218
As I've said, the error occurs regardless of the settings.

[2019-06-14 19:44] photinia73 commented on #14124
After updating to 1.7.5.2 the problem disappeared. Thank you!!!

[2019-06-14 19:54] photinia73 commented on #14124
and the old theme. The problem is resolved only in dashboard.
And still is in the stats modules.
the dashboard
![image](https://user-images.githubusercontent.com/50954519/59534573-5a9fd000-8ef7-11e9-8dbb-a3d0431b5038.png)

[2019-06-14 19:57] photinia73 commented on #14124
and the stats modules
![image](https://user-images.githubusercontent.com/50954519/59534698-bc603a00-8ef7-11e9-9c1d-c3d6b5c4705d.png)

[2019-06-14 20:51] Prestashopper commented on #14201
Ok, I reproduced "successfully" your issue... I tested it also in PS 1.7.5.2 and the issue appears.

But I don't know if this issue was my customer issue. How can I find that?

PS. my customer didn't create any order before having that issue, so I don't think #9932 is the issue I met.

[2019-06-15 12:27] radar6 commented on #11427
Still awaiting this module :)

[2019-06-15 14:54] rateforx commented on #14218
I've reinstalled the shop and got rid of the issue that way. I guess we'll never know what was the problem. Thanks for the help. Over and out.

[2019-06-15 16:52] anc91 opened #14228 "not able to add to cart"
when i click add to cart i get this message
![Screenshot 2019-06-15 at 11 45 11 AM](https://user-images.githubusercontent.com/51860221/59554032-26fa8f80-8f63-11e9-8fe8-65341f05624f.png)

When i click on the cart though the item does show up in there. When i try to delete an item from the cart it says its unable to.

I've disabled modules to try to identify the problem. But i haven't been able to f

[2019-06-15 22:09] Maofree opened #14229 "Shop logo has problem if enabled the pagespeed apache module"
Hi
if you add this code in the .htaccess

`<IfModule pagespeed_module>
ModPagespeed On
</IfModule>`

and if the apache module is enabled in the server, it is possible to compress all the images from jpg to webp format

all is ok except for the logo images present in the page

I try to change

`<img class="logo img-responsive" src="{$shop.logo}" alt="{$shop.name}">`
to
`<img class="logo img-respons

[2019-06-15 22:19] Maofree commented on #14229
the issue is done from the .htaccess file present in the img folder
removing it I can see the logo in webp format changed from the pagespeed module of apache

[2019-06-15 22:25] Maofree commented on #14229
it is necessary to edit this .htaccess to be compatible with pagespeed

[2019-06-16 09:37] rateforx commented on #14218
After installing the shop the issue came back after applying a theme I've bought on the prestashop addons. I've reopened the issue and contacted the theme creator, maybe he'll want to contribute here.

[2019-06-16 09:47] OneDotIT commented on #14211
Hello,
Do you have enough storage space ?
`~$ df -h`

[2019-06-16 10:50] gbr161 opened #14230 "Faceted search - displaying wrong Availability count"
**Describe the bug**
Counter has doubled value. If there are 10 products and one is not available counters shouild be: In stock (9) / Not available (1) but they are 8 / 2. If there are 2 products not available counters ar 6 / 4 and so on.

**To Reproduce**
Steps to reproduce the behavior:
1. Add some products
2. Change random product quantity to 0 at product page in admin panel
3. Check faceted se

[2019-06-16 12:39] pppplus commented on #13395
Ok, after a lot of research... I have something to propose.

1st : actionUpdateQuantity is never called, when an order is done from webservice.
2nd : product quantities (of pack item) are not updated when a pack is ordered from webservice => that's a bug I suppose ??
3rd : the problem seems to be in /clsses/StockAvailable/StockAvailable.php

`
public function updateWs()
    {
        if ($this->de

[2019-06-16 13:47] pppplus commented on #13395
I just hope function updateWs() is called only from Webservice !!

[2019-06-16 19:26] benlecoqartisans commented on #14174
Hi @khouloudbelguith
I have made another tests and realized that (I have a multistore Prestashop) when I was deleting an article when I was on 'All stores', the issue wasn't there, but when I was on a store I reproduced the matter. I precise it's the same order with the same articles.
https://drive.google.com/open?id=1ioQjTI1IsowlCvOVqtcXNFbba2ZIAEwB

Could you make another test in that way please

[2019-06-17 05:32] dharmendravirasat opened #14238 "themes static custom content convert in selected translation language without module"
I want to themes custom static content convert in selected translation language without any module used.
-> my prestashop version 1.7.5.1
->I am already tried
`    <h2>{l s='Amazon Product Url Fields' }  </h2> `
plz comment

[2019-06-17 07:46] khouloudbelguith commented on #13810
Hi @cr998,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-17 07:46] #13810 closed, assigned to nobody

[2019-06-17 07:47] khouloudbelguith commented on #13832
Hi @jferran95,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-17 07:47] #13832 closed, assigned to nobody

[2019-06-17 08:07] ghost commented on #14228
Hi. Its not fault of Prestashop 1.6.1.23 core.
It's fault of js mess in template

![mess](https://user-images.githubusercontent.com/8243273/59588389-c3e63580-90e7-11e9-9658-c866b055d5a7.jpg)

[2019-06-17 08:09] khouloudbelguith commented on #14228
Hi @anc91,

Thanks for your report.
I did not manage to reproduce the issue with PS1.6.1.24.
I attached a video record
https://drive.google.com/file/d/1phk-VdZ61Sk_RlnFtzmTxmCBgedodo7A/view
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-exten

[2019-06-17 08:09] #14228 closed, assigned to nobody

[2019-06-17 08:15] #10055 closed, assigned to nobody

[2019-06-17 08:16] khouloudbelguith commented on #14230
Hi @gbr161,

Thanks for your report.
In the BO => Shop Parameters => Product Settings => the option "Allow ordering of out-of-stock products " is enabled or disbaled?
And what is the exact version of the ps_factedsearch did you use?

Thanks!

[2019-06-17 08:21] khouloudbelguith commented on #14238
Hi @dharmendravirasat,

You can use a custom domain for the new strings.
Something like “Shop.Mytheme”.

It must:

- Start by “Shop”.
- Have 2 levels only. For example “Shop.Mytheme.Checkout” won’t work.
- Not be in CamelCase. For example “Shop.MyTheme” won’t work.

![image](https://user-images.githubusercontent.com/16067358/59589122-28ea5d00-90e1-11e9-8bab-cc788bc5b837.png)

You can try with this

[2019-06-17 08:26] khouloudbelguith commented on #14218
Hi @rateforx,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-06-17 08:26] #14218 closed, assigned to nobody

[2019-06-17 08:34] khouloudbelguith commented on #14201
@Prestashopper,

In the cart of your customer, are there any of the products added to this cart with available carriers?
![image](https://user-images.githubusercontent.com/16067358/59589969-ee81bf80-90e2-11e9-922f-6199cf001364.png)

Those products are they standard?

Thanks!

[2019-06-17 08:35] khouloudbelguith commented on #14124
@photinia73, thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-17 08:35] #14124 closed, assigned to nobody

[2019-06-17 08:44] matks opened #14240 "[SF Migration] Pass exception to getErrorMessages in all controllers"
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/Configure/AdvancedParameters/WebserviceController.php#L356

In order to ease reusability of controllers, we should always pass the `$exception` argument to allow it to be reused

[2019-06-17 08:44] marionf commented on #13793
It's all good with themeconfigurator version 2.0.3 in 1.7.6 and 1.7.5

![capture d'écran_1688](https://user-images.githubusercontent.com/13449658/59590661-dd3db080-90ec-11e9-9432-cf7cd0b20e75.png)

![capture d'écran_1687](https://user-images.githubusercontent.com/13449658/59590669-e038a100-90ec-11e9-9fd4-2aa4944d7eb4.png)

[2019-06-17 08:45] #13793 closed, assigned to matks, jolelievre

[2019-06-17 08:49] khouloudbelguith commented on #14210
@iqit-commerce, thanks for your feedback.
I have the same issue with ps_facetedsearch v2.2.0 & v3.0.4.
In the BO => Shop Parameters => Product Settings => if we select sort order which is not available on the front office for example "Product modified date", in the FO, we will have an empty box
![image](https://user-images.githubusercontent.com/16067358/59590926-f8a4bd80-90e4-11e9-9b2b-d0932865782

[2019-06-17 09:23] marionf commented on #14210
@khouloudbelguith The same issue happens without facetedsearch and also if you select "date add", "date update", "brand", "product quantity" or "product reference" in BO.

If you select "Position in the category" in BO, "Relevance" is displayed in FO.
I think it's useless to display "date add", "date update", "brand", "product quantity" or "product reference" for customers in FO, so "Relevance" co

[2019-06-17 09:30] scorpio-angel commented on #13015
Hello,

in file classes/module/module.php is create_function too, with deprecated state.
Use this change
_FROM
usort($module_list, create_function('$a,$b', 'return strnatcasecmp($a->displayName, $b->displayName);'));
_TO:
usort($module_list, function($a, $b) (return strnatcasecmp($a->displayName, $b->displayName);));

[2019-06-17 09:37] scorp1czech commented on #13015
Hello,

in file classes/module/module.php is create_function too, with deprecated state.
Use this change
_FROM
usort($module_list, create_function('$a,$b', 'return strnatcasecmp($a->displayName, $b->displayName);'));
_TO:
usort($module_list, function($a, $b) {return strnatcasecmp($a->displayName, $b->displayName);});
Good instances can found [here](https://stackoverflow.com/questions/48161526/php-

[2019-06-17 09:45] marionf opened #14241 "The image of the category is not placed correctly in FO"
**Describe the bug**

The image of the category is not placed correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Categories
2. Create a category and add description and category cover image
3. See the category in FO
4. The image is placed according to the size of the description

In 1.7.5.2 the image was always at the same place, no matter the description size, but the

[2019-06-17 10:12] ghost commented on #11332
That options should be separated as
Show manufacturers (enable/disable)
Show suppliers (enable/disable)

instead of

Show brands and suppliers (enable/disable)

To remove unwanted (in most cases) suppliers page we must delete whole page in SEO & URL panel.

[2019-06-17 10:16] khouloudbelguith commented on #14229
Hi @maofree,

Thanks for your report.
I installed `mod_pagespeed` for apache
![image](https://user-images.githubusercontent.com/16067358/59597115-ffd1c880-90f0-11e9-998a-dfb5ed7c84b2.png)
I added those lines to the .htaccess file
[code]
In the BO => Design => Theme & Logo, when we try to add a logo with this type `.webp`
I have an exception
![image](https://user-images.githubusercontent.com/160673

[2019-06-17 10:41] Hlavtox opened #14244 "Category sorting options different in FO vs. BO"
**Describe the bug**
Options for sorting products in category are different in Back Office and Front Office.

FO: price, name, importance
BO: price, name, add date, edit date, reference, manufacturer, quantity, position

Once you select different filter in FO, you can't go back unless you refresh page.

Should be unified OR user should be able to select which options he wants to show in FO, for ex

[2019-06-17 10:44] khouloudbelguith commented on #14244
Hi @Hlavtox,

Thanks for your report.
Your ticket is a duplicate of #14210
So, I close it.
Thanks!

[2019-06-17 10:44] #14244 closed, assigned to nobody

[2019-06-17 10:44] khouloudbelguith commented on #14244
Duplicate of #14210

[2019-06-17 10:48] WebmasterXeral commented on #14211
@khouloudbelguith
I've enable profiling mode, but it looks a little bit messy and I'm not sure what to look at.
![profiler](https://user-images.githubusercontent.com/51820431/59598125-c2266d00-90fb-11e9-8a44-624ae236300b.png)

Hi @OneDotIT
I've checked and there is plenty storage space left.

In addition, I have been doing some tests today and the process to open the page to edit a product seems i

[2019-06-17 10:50] Prestashopper commented on #14201
@khouloudbelguith

Hi, in the cart of my customer all products are setted like your image: no carrier selected, so the carrier is available for any product.

<img width="709" alt="Schermata 2019-06-17 alle 12 44 19" src="https://user-images.githubusercontent.com/51794226/59598979-bc318b80-90fd-11e9-8e49-57a1a9a31636.png">

All of products are standard

[2019-06-17 11:06] OneDotIT commented on #14211
@WebmasterXeral
I don't see how restating the server would help, unless for some cause you have slow storage (running from a laptop, in such case restarting the server = Freeing the RAM), or there is some hostname that would be updated / refreshed.

I actually started to suspect the relation to the Database.

[2019-06-17 11:07] khouloudbelguith commented on #14201
@Prestashopper, thanks for your feedback.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-06-17 11:26] khouloudbelguith commented on #14211
@WebmasterXeral, The tool of profiling is very useful since it offers once activated a complete summary of the performances of the loading in the back office and in the front office. Perfect to optimize speed and correct errors your shop faster!

In your screenshot, for example, the query from ps_product has a time 19.2, in your case 19.2 ms

Thanks!

[2019-06-17 11:27] khouloudbelguith commented on #13395
@pppplus, Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-06-17 11:34] pppplus commented on #13395
Hi

No, because I'm not sure it's the right method to do it.
It's just for me, a solution, to have the hook working.

But I'm not sure, there is no bad things after my changes.
I think someone has to review my method, to implement it.

[2019-06-17 12:15] sarahdib opened #14247 "Error when upgrading a added language"
**Describe the bug**
Error when upgrading a added language

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International -> localization -> language
2. Click on add a language
3. Create a language (English, en, us)
4. Go to international -> traduction
5. Click on add/upgrade language and choose the language you just add
5. See error

**Screenshots**
https://drive.google.com/file/d/1FE_

[2019-06-17 12:22] #14205 closed, assigned to jolelievre

[2019-06-17 12:22] jolelievre commented on #14205
Fixed by #14220

[2019-06-17 12:36] alex4102 commented on #9818
Why this issue is not in the Project 1.7.6 but one month with the label 1.7.6.0 ?
up @eternoendless

[2019-06-17 12:42] khouloudbelguith commented on #9818
@alex4102, in fact, this issue is not fixed yet in the PS1.7.6.0.
The label `1.7.6.0`: it is the Affects Versions.
But this issue should be fixed in the next major Release 1.7.7.0.
It is added to the 1.7.7.0 milestone.

Thanks!

[2019-06-17 12:44] alex4102 commented on #9818
Oh okay thanks for this information.

[2019-06-17 12:44] alex4102 commented on #9818
Oh okay thanks for this information.

[2019-06-17 12:44] Quetzacoalt91 commented on #14039
As a sidenote, we're NOT talking about the autoupgrade module here.

[2019-06-17 12:51] khouloudbelguith commented on #14139
@dharmendravirasat, feel free to open a new one when needed.

Thanks!

[2019-06-17 13:02] wjatekTest commented on #13787
It is simple, I described it in my first post in this issue. Method which is supposed to return Module by name returns FALSE (?!) instead of object or null (if there is no Module with given name) and it is not checked afterwards. It causes an error, because in Order.php:1687 (PS version mentioned in original post) you try to call method on variable wchich is not an object but FALSE - it causes fat

[2019-06-17 13:08] jolelievre commented on #14186
Fixed by #14242

[2019-06-17 13:08] #14186 closed, assigned to jolelievre

[2019-06-17 13:20] PierreRambaud commented on #14039
Agreed with this feature. Adding the capability to add a confirm box, with the changelog or something similare is a great idea :)

[2019-06-17 13:33] jolelievre commented on #11332
Hi @PrestaShark
that's the purpose of this issue, to allow to manage brands and suppliers independently So there will be two buttons available. What still needs to be defined is how do we present and explain this feature in helper blocks.

I think this new feature will be available in 177, @colinegin do you confirm?

[2019-06-17 13:37] khouloudbelguith commented on #9609
Same issue with PS1.7.6.0beta1
![image](https://user-images.githubusercontent.com/16067358/59608537-6d8bed80-910d-11e9-8bd7-9ef01d16f4f4.png)

[2019-06-17 13:40] khouloudbelguith commented on #14174
@benlecoqartisans, when all shop selected, we have an error after deleting a product from the order as described in this issue
https://github.com/PrestaShop/PrestaShop/issues/9609

Thanks!

[2019-06-17 13:40] photinia73 opened #14250 "The server returned a "500 Internal Server Error" after update to 1.7.5.2"
**Describe the bug**
After updating to 1.7.5.2 The server returned a "500 Internal Server Error" in the BO Modules manager->warnings and upadets

**To Reproduce**
Steps to reproduce the behavior:

**Screenshots**
![image](https://user-images.githubusercontent.com/50954519/59608673-8781fc00-911e-11e9-9bf1-99a54f944903.png)

![image](https://user-images.githubusercontent.com/50954519/59608726-ab4542

[2019-06-17 13:44] khouloudbelguith commented on #14250
Hi @photinia73,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/

[2019-06-17 13:50] dharmendravirasat commented on #14238
it's working
Thanks for your  feedback

[2019-06-17 13:50] #14238 closed, assigned to nobody

[2019-06-17 13:51] khouloudbelguith commented on #14238
@dharmendravirasat, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-06-17 14:02] fabrice-dresscodes commented on #12667
I have the same error on Version de PrestaShop : 1.7.5.0

It's often when the cache is cleaned. Not every time but I would say 80% of times it fails..but it does clear the cache !

PHP message: PHP Fatal error:  Uncaught Error: Class 'Tools' not found in [ROOT]/web/classes/db/Db.php:794
Stack trace:
#0 [ROOT]/web/config/alias.php(48): DbCore->escape('configuration', false)
#1 [ROOT]/web/config/ali

[2019-06-17 14:26] MarouaniALA opened #14252 "preg_match(): Compilation failed"
**Describe the bug**
When I activate "user friendly url" in seo settings i got a php warning "preg_match(): Compilation failed: two named subpatterns have the same name at offset 74 in /var/www/html/classes/Dispatcher.php on line 1041,"

**To Reproduce**
Steps to reproduce the behavior:

**Screenshots**

**Additionnal information**
PrestaShop version:  1.7.5.1
PHP version: 7.2

[2019-06-17 14:32] photinia73 commented on #14250
And one else. I changed the domain from test.te.com.ua to te.com.ua this is my working domain.
I saw in parent directory strange files with old test.te.com.ua, like .viminfo:
27  0  ~/test.te.com.ua.sveta.legacy/config/defines.inc.php
-'  28  0  ~/test.te.com.ua.sveta.legacy/config/defines.inc.php
-'  71  56  ~/test.te.com.ua.sveta.legacy/config/defines.inc.php
-'  34  4  ~/test.te.com.ua.sveta.le

[2019-06-17 14:36] khouloudbelguith commented on #14250
@photinia73, Could you please try to regenerate the file .htaccess

1. Rename the old file to .htaccess_old
2. Disable friendly URL
3. Enable friendly URL

Thanks to check and feedback

[2019-06-17 14:46] khouloudbelguith commented on #14252
Hi @MarouaniALA,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2.
I attached a screen record
https://drive.google.com/file/d/1edWVjTF_tYi6WQqL5aGy4lvynMYIsXmI/view
Thanks to check & feedback.

[2019-06-17 14:48] photinia73 commented on #14250
Done. New .htacces was generated but the error still appear and some modules undefined

[2019-06-17 14:49] photinia73 commented on #14250
[error.txt](https://github.com/PrestaShop/PrestaShop/files/3297528/error.txt)

[2019-06-17 14:49] khouloudbelguith commented on #14250
@photinia73, could you please provide me the exact exception displayed when debug mode is enabled.

Thanks!

[2019-06-17 14:54] khouloudbelguith commented on #14250
@photinia73,

List of modules causing this issue is:
- ht_fbchat
- ht_scrolltop

Thanks!

[2019-06-17 14:56] photinia73 commented on #14250
and others from HT
I cant to restet them or turn on, nothing, they are undefined after changing the domain
Here the debug mode
![image](https://user-images.githubusercontent.com/50954519/59614325-375c6700-9129-11e9-9839-ef982c8a5a2e.png)

[2019-06-17 14:56] photinia73 commented on #14250
![image](https://user-images.githubusercontent.com/50954519/59614357-493e0a00-9129-11e9-9334-cb7fb549cd9f.png)

[2019-06-17 14:58] khouloudbelguith commented on #14250
@photinia73, did you tried to re-install them after changing the domain?

Thanks!

[2019-06-17 15:00] photinia73 commented on #14250
I did not< becouse in the test.te.com.ua we work for a long time with Hiddentechies to fix all bugs, and now there is a working site, if I reinstal theese modules all will broken

[2019-06-17 15:07] khouloudbelguith commented on #14250
@photinia73, in my case, with your shop `te.com.ua/` domain => it is OK.
I attached a video record
https://drive.google.com/file/d/1mOkxGaYx6bYRr3dGdo9XIWl5PHXMj8yb/view
Thanks!

[2019-06-17 15:16] photinia73 commented on #14250
but this error is still here
![image](https://user-images.githubusercontent.com/50954519/59615925-16e1dc00-912c-11e9-8b6d-4196a695b214.png)

[2019-06-17 15:19] photinia73 commented on #14250
All the modules became undefined, even PS

[2019-06-17 15:21] khouloudbelguith commented on #14250
@photinia73, it could be a cache issue.
Because your shop in my browser is well working!
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
try to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

Thanks!

[2019-06-17 15:25] photinia73 commented on #14250
what do this button? I turned it OFF and some modules start work
![image](https://user-images.githubusercontent.com/50954519/59616504-3af1ed00-912d-11e9-9149-951a4ef5aea4.png)

[2019-06-17 16:03] MarouaniALA commented on #14252
Hi @khouloudbelguith

Thanks for your reply. I see that you used presta 1.7.5.2, I upgraded my prestashop but the problem persist..

[2019-06-17 16:07] khouloudbelguith commented on #14250
@photinia73, this button disable all classes & controllers overrides.
If after disabling this button, some module start work, so it is not a PrestaShop core issue & it is compatibility issue of some overrides in your case.

Thanks!

[2019-06-17 16:09] khouloudbelguith commented on #14252
@MarouaniALA, no, I'm using PS1.7.5.2.
This error is displayed when debug mode enabled?

Thanks!

[2019-06-17 16:15] MarouaniALA commented on #14252
@khouloudbelguith , sorry i mean 1.7.5.2.
no it appears in the apache log if i disable debug mode
Thanks

[2019-06-17 16:17] photinia73 commented on #14250
very strange, because start to work not only NON PS modules, but such as
![image](https://user-images.githubusercontent.com/50954519/59620004-75ab5380-9134-11e9-960c-7db1e0385f8f.png)
this is PS modules as I understand....

[2019-06-17 16:19] khouloudbelguith commented on #14250
@photinia73, yes, those modules are provided by PrestaShop.

Thanks!

[2019-06-17 16:19] khouloudbelguith commented on #14252
@MarouaniALA, do you have any override of the Dispatcher class?

Thanks!

[2019-06-17 16:31] FabianaTorre opened #14254 "Error 404 con modulo MercadoPago en Prestashop 1.6"

[2019-06-17 16:32] MarouaniALA commented on #14252
@khouloudbelguith, i didn't make any manual override but i don't know if presta make it on that file.

Thanks

[2019-06-17 16:50] PierreRambaud commented on #14252
It's because we use the old POSIX pattern for regex. And it's removed in the latest 7.3. We will update all regex for the next release (1.7.7 because of 7.3 compliancy)

[2019-06-17 16:51] eBug opened #14257 "Bug in cart - qty spin"
**Describe the bug**
When trying to modify quantities in the shopping cart, using the quantity spinner, the arrows disappear and I can't modify quantity anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://superorganic.es
2. Add an item to your cart
3. Go to the shopping cart
4. Increase quantity using spinner arrow.
5. spinner vanishes.

**Screenshots**
![image](https://user

[2019-06-17 18:00] gbr161 commented on #14230
Thanks for the reply.
"Allow ordering of out-of-stock products " is disabled.

ps_factedsearch version is v3.0.4

[2019-06-17 18:17] Andrew-LT opened #14260 "Not correct stock quantity in front"
Hi,
I faced some strange situation.
One of the products has quantity left 1. But when I open this product in front it shows 0. However if I add any other product in a cart on the same browsing session and later came back to the previous product, then it already shows correct quantity.
In any other new browsing session the quantity is already ok, but if I clear browsing data (cookies and etc.) then

[2019-06-17 20:25] grabelle commented on #11773
Hi,
Thanks, seems to work ! Hope I won't get side effect.

[2019-06-17 20:39] cedricfontaine opened #14261 "Hook checkoutsession"
For google analytics I want to be able to track each step during checkout.
There is no hook currently in OrderController, and it would be great to be able to have a hook with the steps list and the current step in order to send that data to google analytics after each new step.

[2019-06-18 03:58] junyisuu opened #14262 "guest checkout address bug"
**Describe the bug**
1.7.5.0 When I Enable guest checkout, the user use guest checkout but not order, now he has first guest account, then he use other browser to order the second time use the same email, and his address will add to his first guest account, but the second account not have the address. and the admin order list will not show his order because the address and real order not in one gu

[2019-06-18 07:30] Maofree commented on #9513
hi
the same problem to upgrade to 1.7.5.2 using 1-click upgrade module with version 4.8.0

[2019-06-18 07:30] ghost commented on #14260
Hi.
Does Your store was upgraded from previous versions to 1.7.5.1?
Also PrestaShop is not compatbile with PHP 7.3 yet. Please downgrade to stable 7.2 enviroment.
Check this for reference: https://github.com/PrestaShop/PrestaShop/issues/12461

[2019-06-18 07:34] khouloudbelguith commented on #14254
Hi @FabianaTorre,

Please, send your request in English.
English is the norm on this bug tracker.
Thank you!

[2019-06-18 07:37] MarouaniALA commented on #14252
hi @PierreRambaud
can this warning make my PS go down?

[2019-06-18 07:39] PierreRambaud commented on #14252
No, it's just a warning, not a fatal error.
But watchout if you update to PHP7.3, it will be a fatal error.

[2019-06-18 07:44] khouloudbelguith commented on #14257
Hi @eBug,

This is a theme issue.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.

I close the issue, feel free to open a new one needed.
Thanks!

[2019-06-18 07:44] #14257 closed, assigned to nobody

[2019-06-18 07:45] ghost commented on #14262
Hi.
Duplicate Your store and  upgrade to latest 1.7.5.2 stable version and also PHP version set to 7.2. Then check if problem still occour.

[2019-06-18 07:51] khouloudbelguith commented on #14262
Hi @junyisuu, @PrestaShark,

The problem is that the guest account is not transformed into a customer account, it creates a second account => there is no alert => visitors can do multiple orders with the same mail address => this is the whole issue => it needs to be specified by our developers.

Your ticket is a duplicate of #10122
So, I close it.
Thanks!

[2019-06-18 07:51] #14262 closed, assigned to nobody

[2019-06-18 07:51] khouloudbelguith commented on #14262
Duplicate of #10122

[2019-06-18 08:01] khouloudbelguith commented on #14260
Hi @Andrew-LT,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Thanks to downgrade your version

[2019-06-18 08:05] MarouaniALA commented on #14252
but when i set up php optimisation, in recompilation the server goes down

[2019-06-18 08:16] khouloudbelguith commented on #14261
Hi @cedricfontaine,

This is the list of hooks displayed on the checkout page
displayPersonalInformationTop: Available since PS1.7.6 => Display actions or additional content in the personal details tab of the checkout funnel.

- displayBeforeCarrier: This hook is displayed before the carrier list on the Front Office
- displayAfterCarrier: This hook is displayed after the carrier list in Front Offi

[2019-06-18 08:29] khouloudbelguith commented on #13938
HI @Klemart3D,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14197 about updating the composer file.
@maofree, we released in few days a new version ps_facetedsearch v3.0.4
https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v3.0.4

I close this issue, feel free to open a new one when needed.

Thanks!

[2019-06-18 08:29] #13938 closed, assigned to nobody

[2019-06-18 09:05] matks commented on #14241
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14251

[2019-06-18 09:05] #14241 closed, assigned to jolelievre

[2019-06-18 09:13] PierreRambaud commented on #14252
What do you mean by "set up php optimisation"?

[2019-06-18 09:16] MarouaniALA commented on #14252
sorry i forgot to past the link https://devdocs.prestashop.com/1.7/scale/optimizations/, i followed this link for the php optimisation

[2019-06-18 09:17] PierreRambaud commented on #14252
And what's happened when the server goes down? what logs say?

[2019-06-18 09:28] khouloudbelguith commented on #14230
@gbr161, thanks a lot for your feedback.
I manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2 & ps_facetedsearch v3.0.4.
https://drive.google.com/file/d/1WBio_A3j7YqO0LwpSCD74qQ490AkQ8ZZ/view
With ps_facetedsearch v2.2.0 => OK.

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

[2019-06-18 09:47] MultiTech-MS opened #14264 "Specific price excluding taxes (tax excl.)"
Hi,

I have a shop  in B2B mode, user groups with display prices excluding taxes mode. I still activate taxes in tax options (international> taxes) for billing.

When I create a specific price (amount) of 5 € tax excl, on the product page, I have the reduction that applies (for example on a product 100 € tax excl I have a final price of 95 € tax excl), but the discount amount displayed is 6 €  tax

[2019-06-18 09:53] MarouaniALA commented on #14252
PS Enables maintaining mode and the access log displays 503 and the error log show preg_match(): compilation but the weird that the preg_match() warning always displays in the log

[2019-06-18 09:54] khouloudbelguith commented on #14264
Hi @MultiTech-MS,

Thanks for your report.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11103 to fix the issue.
It is fixed in the PS1.7.6.0.
Your ticket is a duplicate of #9696
So, I close it.
Thanks!

[2019-06-18 09:54] #14264 closed, assigned to nobody

[2019-06-18 09:55] khouloudbelguith commented on #14264
Duplicate of #9696

[2019-06-18 10:37] PierreRambaud commented on #14252
A 503 is a generic code to describe `503 Service Unavailable`.
We need more information. We need logs, screenshots and everything that can help you.

[2019-06-18 11:46] OneDotIT opened #14265 "Product is created when clicking save, even if missing required fields."
**Describe the bug**
Whenever 'Save' is clicked, a new product is created, even if the required fields are empty and an error pop-up appear.
Afterwards, the product is visible as an empty box with no values at FO, and the product do not appear on the BO, not as active or as disabled.

**To Reproduce**
Steps to reproduce the behaviour:
1- Create a new product.
2- Click save.
3- Go back to FO, and c

[2019-06-18 11:49] Quetzacoalt91 commented on #14265
Actually, the product is created in database as soon as you click on "New product". We are aware that's is not how it should work, but that was a "hack" to allow combinations, images an so on to to work immediately (= without refreshing the page).

[2019-06-18 12:23] khouloudbelguith commented on #14265
Hi @OneDotIT,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9945
So, I close it.
Thanks!

[2019-06-18 12:23] #14265 closed, assigned to nobody

[2019-06-18 12:23] khouloudbelguith commented on #14265
Duplicate of #9945

[2019-06-18 12:34] matks opened #14266 "Add recommended length counters to SEO fields in CMS Pages Add/Edit and SEO Add/Edit URLs"
Suggestion from @CreaNico
We have added a character length counter to SEO fields for Categories:
<img width="905" alt="Capture d’écran 2019-06-17 à 11 56 29" src="https://user-images.githubusercontent.com/3830050/59682024-9aa3d300-91d5-11e9-8dbe-204806e4393d.png">

We should do the same for other SEO fields:
- [x] meta title and meta description for CMS Pages
- [x] title and meta description for

[2019-06-18 12:45] creanico commented on #14266
"Recommended lengths for SEO: 70 for titles, 180 for pages"
It's 160 for metadescriptions

[2019-06-18 12:47] khouloudbelguith commented on #14074
@OneDotIT, thanks for your PR.
You need to add your language in this file also: https://github.com/PrestaShop/PrestaShop/blob/develop/app/Resources/all_languages.json

Thanks!

[2019-06-18 12:49] sarjon commented on #10553
@matks please assign this feature to me.

[2019-06-18 12:50] matks commented on #14266
Bad copy-paste 😅 thanks for pointing it, I fixed it

[2019-06-18 12:52] ArteInfoRM opened #14268 "It is not possible to change iso-code: error 500 ThemeManagerBuilder :: __ construct ()"
When I try to change the iso code at admin menu localization->language by editing the language it results in an error 500. When nothing is changed and I press save, it will result in an update success.

FatalThrowableError HTTP 500 Internal Server Error
Type error: Argument 1 passed to PrestaShop\PrestaShop\Core\Addon\Theme\ThemeManagerBuilder::__construct() must be an instance of Context, null gi

[2019-06-18 12:58] khouloudbelguith commented on #14268
Hi @ArteInfoRM,

This issue is fixed in the release PS1.7.6.0.
In the PS1.7.6.0, the language page is migrated to Symfony, so the issue doesn't exist anymore.
https://drive.google.com/file/d/1sjTF7ZRMG2pZgm-eQiwUsRN3-xN7KDPD/view
Your ticket is a duplicate of #9719
So, I close it.
Thanks!

[2019-06-18 12:58] #14268 closed, assigned to nobody

[2019-06-18 12:58] khouloudbelguith commented on #14268
Duplicate of #9719

[2019-06-18 13:09] ArteInfoRM commented on #9719
Ok, but PrestaShop v 1.7.6.0 is in Beta 1
How do I resolve on the current 1.7.5.2?

[2019-06-18 13:09] MarouaniALA commented on #14252
after searching in logs i found this exception in /PATH/TO/PRESTA/var/logs/prod.log
a syntax error while execution SQL request :

[2019-06-18 11:16:59] request.INFO: Matched route "admin_metas_index". {"route":"admin_metas_index","route_parameters":{"_controller":"PrestaShopBundle\\Controller\\Admin\\Configure\\ShopParameters\\MetaController::indexAction","_legacy_controller":"AdminMeta","_legacy_

[2019-06-18 13:24] khouloudbelguith commented on #9719
@ArteInfoRM, sorry but there is no PR to fix this issue on PS1.7.5.
Thanks for your understanding!

[2019-06-18 13:29] decom-media opened #14269 "discount by cart rules should include also "feature" selection"
Discount by Cart Rules can be filtered by product, which allows to filter by some options, like attributes, but, no possibility to filter by "feature".

Discount by "Catalog Price Rules" allows filtering by "feature".

Would be great to have that possibility to filter or create a selection also based on "feature(s)"

[2019-06-18 13:41] PierreRambaud commented on #14252
You have a SQL error syntax.

[2019-06-18 13:41] khouloudbelguith commented on #14269
Hi @tom75,

Thanks for your report.
Ping @marionf, @colinegin what do you think of this suggestion? can we add filtering by feature?
![image](https://user-images.githubusercontent.com/16067358/59689233-32ee8780-91d7-11e9-878b-49c768810015.png)

Thanks!

[2019-06-18 13:43] Matt75 commented on #14261
You can also use PrestaShop javascript event for this :

https://github.com/PrestaShop/PrestaShop/blob/4c262cecde12a2a3e20deb979e23963a8edba964/themes/_core/js/checkout.js#L58

https://devdocs.prestashop.com/1.7/themes/reference/javascript-events/

[2019-06-18 13:48] 123monsite-regis commented on #9919
hi,
to complete this bug report, there are also some side effects, (when the two linked-products does not shate attribute groups, prestashop is quite lost :) )

according to me ,
on 1.7.5.x , this is due to https://github.com/PrestaShop/PrestaShop/blob/1.7.5.x/themes/_core/js/product.js when getting `$('.product-actions');` as when you open a Quickview inside an already above product Page, they ar

[2019-06-18 13:51] MarouaniALA commented on #14252
yes but i didn't send any SQL request manually what will cause this syntax error

[2019-06-18 13:55] sb-collection opened #14270 "Webservice tax_rules listing is KO with multishop feature"
A webservice request in order to get all id_tax_rules_group give unavailable ids.

To Reproduce
Steps to reproduce the behavior:

Add a new shop with multishop feature
Add a new tax rule group onto the second shop only. Get the new id.
Do a webservice request like this one onto the first shop: api/tax_rules?display=[id,id_tax_rules_group,id_tax]&filter[id_country]=8
You'll see the mistake: you wil

[2019-06-18 13:57] khouloudbelguith commented on #14270
Hi @sb-collection,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #14212
So, I close it.
Thanks!

[2019-06-18 13:57] khouloudbelguith commented on #14270
Duplicate of #14212

[2019-06-18 14:00] decom-media opened #14271 ""NOT" should be available in discount rules"
discount by "cart rules" and "catalog price rules" should include a possibility to use "NOT" as well.

for example, discount should be applied to a "brand" but NOT if "attibute: XY" (or "feature", ...)

[2019-06-18 14:12] sarahdib opened #14272 "Special character in link widget"
**Describe the bug**
a "*" appear in link widget new bloc

**To Reproduce**
Steps to reproduce the behavior:
1. Go to link widget
2. Click on new bloc
3. Scroll down
4. See error

**Screenshots**
<img width="1268" alt="Capture d’écran 2019-06-18 à 16 09 57" src="https://user-images.githubusercontent.com/3034677/59691751-d0e84f00-91e3-11e9-9005-80f067dc9856.png">

**Additionnal information**
Pres

[2019-06-18 14:12] khouloudbelguith commented on #14271
Hi @tom75,

So you need to add some condition in your cart rule like this:
it is available for those products which have a "Brand" except the product X?

Thanks!

[2019-06-18 14:14] khouloudbelguith commented on #14272
Relate to: #14205

[2019-06-18 14:24] decom-media commented on #14271
also yes, I am basically referring more about excluding a category, or an attribute or a feature instead of just one product X, but, of course, maybe there is also one or just a few products (out of hundreds) which needs to be excluded as well.

For example, if you want to give discount on a specific brand – (fashion, but I am sure this is related also to other sectors) at the end of season, but,

[2019-06-18 14:28] khouloudbelguith commented on #14271
@tom75, thanks for these clarifications.
ping @marionf, @colinegin what do you think?

Thanks!

[2019-06-18 14:45] ghost commented on #14271
**Example:**
Nike/Jordan policy gives permision to give discounts for all Jordan Retro shoes except Men size collection.
So i want to add discount to all Jordan products ("Manufacturer: Jordan") but NOT to products with feature "Collection: Men".

Pretty clear. Good feature!

[2019-06-18 14:48] #13414 closed, assigned to nobody

[2019-06-18 14:49] sb-collection commented on #14270
Do you have a lead time?

[2019-06-18 14:52] khouloudbelguith commented on #14270
@sb-collection, Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks for your understanding!

[2019-06-18 14:52] #14270 closed, assigned to nobody

[2019-06-18 14:53] ghost opened #14274 "[BO IMPROVEMENT] Product specific prices UI/UX wording"
Hi.
When user change type of discount to percentage "input-group-append" are still showing zł (currency) instead of %.
![wording2](https://user-images.githubusercontent.com/8243273/59694681-54586f00-91e9-11e9-8a8f-92b551b8acf9.jpg)

Removing class "input-group-append" will be just fine!

Trivial but...
Also Euro sign is weird in that place. Missing labels not helping also.
![wording](https://user-

[2019-06-18 14:57] sarahdib opened #14275 "Client tab is not display properly in laptop"
**Describe the bug**
Client tab is not display properly in laptop

Appear only with little screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to customer page in BO
2. See the customer tab

**Screenshots**
<img width="1272" alt="Capture d’écran 2019-06-18 à 16 52 53" src="https://user-images.githubusercontent.com/3034677/59695113-f9734780-91e9-11e9-85b1-1355fab9274c.png">

**Additi

[2019-06-18 15:01] khouloudbelguith commented on #14274
Hi @PrestaShark,

Thanks for your report.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13382 to fix the issue.
It is added in the next major release PS1.7.7.
Thanks to check & feedback

[2019-06-18 15:04] khouloudbelguith commented on #14252
@MarouaniALA, in your log file, you have this error

This is about SQL error syntax as described by @PierreRambaud.
Thanks!

[2019-06-18 15:13] matks commented on #13490
All remaining issues have been fixed, the last one was https://github.com/PrestaShop/PrestaShop/pull/14239

We'll need to handle https://github.com/PrestaShop/PrestaShop/issues/13943 but this is not blocking for 1.7.6 release

[2019-06-18 15:13] #13490 closed, assigned to matks

[2019-06-18 15:27] MarouaniALA commented on #14252
yes I know that it is a syntax error, but did you know what can cause this error?

[2019-06-18 15:39] WebmasterXeral commented on #14211
As @OneDotIT suspected, it's a database related problem.

The following query fills the database temporary folder due to the large number of attribute values generated by a product import module:

An exception occurred while executing 'SELECT p0_.id_attribute AS id_attribute_0, p0_.color AS color_1, p0_.position AS position_2, p1_.id_attribute_group AS id_attribute_group_3, p1_.position AS positio

[2019-06-18 15:41] khouloudbelguith commented on #14211
@WebmasterXeral, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-18 15:41] #14211 closed, assigned to nobody

[2019-06-18 15:55] khouloudbelguith commented on #14252
@MarouaniALA, what is the exact version of MariaDB did you use?

Thanks!

[2019-06-18 16:09] MarouaniALA commented on #14252
@khouloudbelguith mariadb  Ver 15.1 Distrib 10.1.38-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2

[2019-06-18 16:17] elviraprint opened #14276 "i cant add new product"
**Describe the bug**
when i'm on my back office and i want to create a new product i got an error messahe from debug mode
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.catalog..'
2. Click on 'add a new product....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explai

[2019-06-18 16:28] PierreRambaud commented on #14230
@khouloudbelguith @gbr161 Fixed in https://github.com/PrestaShop/ps_facetedsearch/pull/97 can you tell me if everything is ok? Thanks a lot for your feedback.

[2019-06-18 16:42] MatShir commented on #14142
Hi @PrestaShark,
Your feedback has been shared with the team. But as you said it's a feature really useful only for some cases. There are many modules that can do the job in the marketplace for these specific needs.

However, I post your feature request on [http://feedback.prestashop.com](http://feedback.prestashop.com/forums/387864-prestashop-1-7-x), it will help us to prioritize all the idea fro

[2019-06-18 16:43] frankymartinES commented on #14120
Hi, thanks for fixing the issue. Now I have found other issue, when I active the faceted module the default combnation of products is not showed in product list. I am working in a multistore PS 1.7.4.4

[2019-06-18 17:35] Andrew-LT commented on #14260
Hi @PrestaShark and @khouloudbelguith
Thanks for your relpy.
I have downgraded PHP to 7.2.17, ufortunately it didn’t help. I still face the issue.
In response to @PrestaShark question does store was upgraded from previous versions to 1.7.5.1, answer is no, 1.7.5.1 is the initial version I’m using.

How do you think, can it be related with some module I used before?
Or maybe you have any other idea

[2019-06-18 19:31] gbr161 commented on #14230
@PierreRambaud All good. Thanks for fixing it very fast :)

[2019-06-18 19:33] PierreRambaud commented on #14230
Thanks to you for helping us to improve our native modules 👍

[2019-06-18 20:08] josejecas opened #14277 "Translate action not working"
Look at the next video, I'm trying to translate a field manually and I can not.
Is there a solution?

https://drive.google.com/file/d/10n0WjnP2hZ0WRodWmoIQQWz_Wb3kjSzJ/view

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable

[2019-06-18 21:44] ondrejmirtes commented on #14194
You can analyse PHP5-only code fine, you just need PHP 7 runtime for it. This is really easy to solve for example with a separate job in Travis CI.

[2019-06-19 00:42] ToyPerson opened #14278 "Revision History and Deleted Items Folder (Recycle Bin) on Blog Posts"
Can we have the following features on PrestaBlog?

1. Revision history on posts and ability to restore to previous saved format.

2. Deleted items folder and the ability to recover deleted posts,

[2019-06-19 06:22] Webpog opened #14279 "hookdisplayBackOfficeCategory is not in prestashop1.7.6.0 beta"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-06-19 07:08] grabelle commented on #11773
Hi, it works but there is a side effect ... on the product page, the image is not displayed anymore (until I select the thumbnails)

![Capture du 2019-06-19 09-05-10](https://user-images.githubusercontent.com/5048627/59743997-d8eed000-9271-11e9-8e8c-d11dd41894d8.png)

[2019-06-19 07:20] ghost commented on #14274
Hello @khouloudbelguith
This is it. Thanks!

[2019-06-19 07:20] #14274 closed, assigned to nobody

[2019-06-19 07:59] matks commented on #14194
Hi @ondrejmirtes thanks for answering 😄

I already do that manually right now, I use the PHAR archive of phpstan to analyze the code, but I did not want to mess with our already complex Travis setup to workaround it, as we are going to [drop php5 support very soon](https://github.com/PrestaShop/PrestaShop/pull/13761) so we can require phpstan in the composer.json 😃

[2019-06-19 08:08] khouloudbelguith commented on #14276
Hi @elviraprint,

You have an issue with the module `productdesigner`.
![image](https://user-images.githubusercontent.com/16067358/59747794-975e2500-9271-11e9-90c0-cd55b1f9c985.png)
As it's not the module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-06-19 08:08] #14276 closed, assigned to nobody

[2019-06-19 08:09] OneDotIT commented on #14074
@khouloudbelguith
Thank you for the mention.
@rabtaray, would you confirm the localization ? This is an example:
[code]

[2019-06-19 08:22] MaisonMONTEL opened #14280 "Produit en rupture de stock"
Bonjour,

Nous rencontrons un problème lors de la modification du statut d'un produit.

Nous voulons refuser les commandes et mettre le produit en rupture de stock et le produit reste en rupture de stock pendant quelques minutes avant de se remettre automatiquement en stock.

Merci de nous aider pour ce problème.

Bien à vous.

[2019-06-19 08:27] khouloudbelguith commented on #11750
Hi @bm-services, @colinegin,

I did not manage to reproduce the issue with PS1.7.6.0beta1.
I attached a screen record
https://drive.google.com/file/d/1rVYrouktypMV0JzbGoA9ccaaoP1ZiT1a/view
This issue should be fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/13106

Since it is fixed, I close the issue, feel free to open a new one when needed.

Thank you!

[2019-06-19 08:27] #11750 closed, assigned to nobody

[2019-06-19 08:37] matks commented on #14184
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14248

[2019-06-19 08:37] #14184 closed, assigned to PierreRambaud

[2019-06-19 08:43] khouloudbelguith commented on #14278
Hi @ToyPerson,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-06-19 08:43] #14278 closed, assigned to nobody

[2019-06-19 09:02] khouloudbelguith commented on #14277
Hi @josejecas,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1 & a different theme.
The translation is successfully updated
https://drive.google.com/file/d/12PyYACN4An-E8TabHfcjvFo3Z4uQVh6o/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - server setup and configuration
 - PrestaShop version (source)
 -

[2019-06-19 09:05] khouloudbelguith commented on #14280
Hi @MaisonMONTEL,

English is the norm on this bug tracker.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please rea

[2019-06-19 09:07] #14230 closed, assigned to nobody

[2019-06-19 09:10] khouloudbelguith commented on #14274
@PrestaShark, you are welcome!
Feel free to open a new one when needed.

Thanks!

[2019-06-19 09:10] khouloudbelguith commented on #14274
Duplicate of #12800

[2019-06-19 09:20] khouloudbelguith commented on #14279
Hi @Webpro2019,

I did not manage to reproduce the issue with PS1.7.6.0beta1.
![image](https://user-images.githubusercontent.com/16067358/59753331-ced1cf00-927b-11e9-93c5-2ed034382c6a.png)

I attached a screen record
https://drive.google.com/file/d/1ORXow7eJFTQyd5iOPD2Ne4F8owEcHni0/view
Thanks to check & feedback.

[2019-06-19 09:24] khouloudbelguith commented on #14120
Hi @frankymartinES,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2019-06-19 09:26] khouloudbelguith commented on #14260
@Andrew-LT, thanks for your feedback.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-06-19 09:34] khouloudbelguith commented on #14252
@MarouaniALA, could you please try to upgrade you MariaDB version 10.3.10, https://downloads.mariadb.org/mariadb/+releases/
It could be a MariaDB issue.
Thanks to check & feedback.

[2019-06-19 09:36] Webpog commented on #14279
ok, thank you, the problem in my side then

[2019-06-19 09:36] #14279 closed, assigned to nobody

[2019-06-19 09:48] frankymartinES opened #14281 "Error Faceted Search Module"
Hi, I have found other issue with new version of Faceted search module. When I active the faceted search module the default combination of products is not showed in product list.
I am working in a multistore PS 1.7.4.4

**To Reproduce**
1. Set a combination of a product with a discount price.
2. Set that combination as default (see screenshot 1).
3. Go to product list and see the product, the defa

[2019-06-19 09:49] khouloudbelguith commented on #14279
@Webpro2019, thanks for your feedback.
Feel free to open another one when needed.

Thanks!

[2019-06-19 09:53] khouloudbelguith commented on #14281
Hi @frankymartinES,

We just released a new version of the module ps_facetedsearch.
It is v3.0.5, https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v3.0.5
Could you please try with this version and feedback.

Thanks!

[2019-06-19 09:57] zuk3975 opened #14283 "Number of decimals in shop preferences has no impact to prices"
**Describe the bug**
Number of decimals in `Configure > Shop Parameters > General` does not impact any price - nor frontOffice products, nor any of backOffice price fields. In addition, the `number of decimals` form field allows to set infinite value, but what would make sense is to limit it to 6 as the field in database only has 6 decimals.

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2019-06-19 09:58] MarouaniALA commented on #14252
I don't think that this is the problem, the syntax error is that the request doesn't contain the id shop

SELECT m.id_meta, m.page, l.title, l.url_rewrite FROM ps_meta m INNER JOIN ps_meta_lang l ON m.id_meta = l.id_meta WHERE (l.id_lang=3) AND (**l.id_shop=**) AND (m.configurable=1) ORDER BY id_meta asc LIMIT 50 OFFSET 0

[2019-06-19 09:59] rabtaray commented on #14074
Hi @OneDotIT

 "name": "Malagasy",
    "iso_code": "mg",
    "date_format_lite": "d-m-Y",
    "date_format_full": "d-m-Y H:i:s",
    "is_rtl": "0",
    "language_code": "mg-mg",
    "locale": "mg-MG"

Thank you.

[2019-06-19 10:06] frankymartinES commented on #14281
Could I to update from backoffice? or Do I need to upload the zip? and After upload Do I need to change any file?

[2019-06-19 10:09] khouloudbelguith commented on #14283
Hi @zuk3975,

It's planned to remove the number of decimal parameters in Shop parameters > General.
You can follow this ticket: https://github.com/PrestaShop/PrestaShop/issues/12223
And it's also planned to add this feature in CLDR part 2: #11660

Thanks!

[2019-06-19 10:09] khouloudbelguith commented on #14283
Duplicate of #12223

[2019-06-19 10:09] #14283 closed, assigned to nobody

[2019-06-19 10:18] khouloudbelguith commented on #14281
@frankymartinES, could you please try with this zip folder.
[ps_facetedsearch.zip](https://github.com/PrestaShop/PrestaShop/files/3305622/ps_facetedsearch.zip)

Thanks!

[2019-06-19 10:29] zuk3975 commented on #14283
Oh sorry, didn't notice the issue. Okay, thanks.

[2019-06-19 10:49] khouloudbelguith commented on #14252
@MarouaniALA, could you please run this SQL request

`Select * from  ps_meta_lang where id_lang = 3`

![image](https://user-images.githubusercontent.com/16067358/59759562-4ad21400-9288-11e9-840d-4310148ca243.png)

 and provide me the exact result

Thanks!

[2019-06-19 11:40] PierreRambaud commented on #14090
@khouloudbelguith As I know, issues are fixed or depend on custom themes :thinking:

[2019-06-19 11:48] psppro26 opened #14285 "Autoupgrade module cant find 1.7.6.0 beta 1 in beta channel?"
Beta is released but the Autoupgrade module cant find 1.7.6.0 beta 1 in beta channel?

[2019-06-19 11:55] khouloudbelguith commented on #14090
@PierreRambaud, with the classic theme, this issue is not reproduced.
![image](https://user-images.githubusercontent.com/16067358/59763414-70afe680-9291-11e9-991f-f959d534e9a4.png)

Thanks!

[2019-06-19 11:59] PierreRambaud commented on #9953
@khouloudbelguith i'm not able to reproduce on the latest version.

[2019-06-19 12:31] MarouaniALA commented on #14252
@khouloudbelguith  There is no error with this request

![image](https://user-images.githubusercontent.com/25243369/59765252-9212d180-9295-11e9-9d7d-025b57fc6c43.png)

![image](https://user-images.githubusercontent.com/25243369/59765301-b1116380-9295-11e9-86b5-48949f46c792.png)

![image](https://user-images.githubusercontent.com/25243369/59765354-d00ff580-9295-11e9-8fcd-350df26b48b2.png)
![image](

[2019-06-19 12:37] khouloudbelguith commented on #14285
Hi @psppro26,
You can use the channel "Local archive".

- install the autoupgrade module
- Download the zip of PrestaShop 1.7.6.0beta1
- Put it in the folder admin / autoupgrade / download
- in the configuration page of the module select "local archive" as a channel
- Specify the version to which we are upgrading (example: 1.7.6.0)
- Launch the upgrade

PS: it is not currently possible to perform

[2019-06-19 12:37] #14285 closed, assigned to nobody

[2019-06-19 12:47] khouloudbelguith commented on #9953
@PierreRambaud, I did not manage to reproduce the issue also.
It is ok with PS1.7.5.2 & PS1.7.6.0 & the ps_facetedsearch v3.0.5.
https://drive.google.com/file/d/1f7Z-4SY-PmkXTgk8ExnUYVHfm7fKsd0i/view
I will close the issue.

[2019-06-19 12:47] #9953 closed, assigned to nobody

[2019-06-19 13:08] khouloudbelguith commented on #14252
@MarouaniALA, so did you use the multishop context?
Thanks!

[2019-06-19 13:47] matks commented on #14247
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14259

[2019-06-19 13:47] #14247 closed, assigned to jolelievre

[2019-06-19 13:56] matks commented on #14194
Another issue I think phpstan can detect:
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Controller/Admin/Sell/Catalog/SupplierController.php#L355
[code]

Copy-paste error, `getErrorMessages()` does not exist in this controller

[2019-06-19 13:59] khouloudbelguith commented on #12078
Same issue with PS1.7.6.0beta1
https://drive.google.com/file/d/1UZ_muoI3L5Q051AjKY29HvAEZqYNhR1l/view

Thanks!

[2019-06-19 14:10] khouloudbelguith commented on #12078
In the FO, The price is well displayed
![image](https://user-images.githubusercontent.com/16067358/59772558-e7ee7600-92a3-11e9-92f8-2d357e0ab083.png)

![image](https://user-images.githubusercontent.com/16067358/59772566-eae96680-92a3-11e9-99f0-c2edf4000977.png)

In the BO => Order details page => OK
![image](https://user-images.githubusercontent.com/16067358/59772643-10767000-92a4-11e9-93d6-05ac13

[2019-06-19 14:53] MarouaniALA commented on #14252
@khouloudbelguith, no i didn't.

[2019-06-19 14:59] khouloudbelguith commented on #14252
@MarouaniALA, but in the last screenshots, you have different shop ids? is it?

Thanks!

[2019-06-19 15:08] MarouaniALA commented on #14252
@khouloudbelguith yes but it's disabled

[2019-06-19 15:14] Klemart3D opened #14289 "New products on PrestaShop's demo website"
**Describe the bug**
On [PS demo site](http://fo.demo.prestashop.com/en/), we can see all products are new. But the [new products page](http://fo.demo.prestashop.com/en/new-products) is empty.

On BO, the "Number of days for which the product is considered 'new"" is set to 20 days. So if products are newer, why new products page is empty? Or if products are older, why do they have the "new" tag? T

[2019-06-19 15:16] khouloudbelguith commented on #14252
@MarouaniALA, thanks for your feedback, I'm trying to reproduce the issue on my local.
When debug mode is enabled, try to navigate to the BO => Shop Parameters => Traffic & SEO page, is there any exception displayed?

Thanks!

[2019-06-19 15:18] matks commented on #14289
Yes, but we also are modifying how the PS Demo works : we replace the previous demo system with a new one. This new system will offer advanced demo capabilities to people and when it's shipped in production will have the 1.7.5 version or even 1.7.6.

So indeed demo is outdated, but the reason why it's outdated is because we are updating the whole demo system, not just the shop 😉

[2019-06-19 15:23] khouloudbelguith commented on #14289
Hi @Klemart3D,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1

This issue occurs only on the demo PrestaShop (old version)
https://drive.google.com/file/d/1QBiOzKKaSwpDRY_ke3ApHLsmydxrylEf/view
@matks said it will be updated to the last version.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-19 15:23] #14289 closed, assigned to nobody

[2019-06-19 15:23] ondrejmirtes commented on #14194
Can you reproduce it on phpstan.org and submit as a feature request on
phpstan/phpstan?

On Wed, 19 Jun 2019 at 15:57, Mathieu Ferment <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2019-06-19 15:35] MarouaniALA commented on #14252
@khouloudbelguith there is no exception!
![image](https://user-images.githubusercontent.com/25243369/59779526-53d6db80-92b0-11e9-983b-81814ab77dc7.png)

[2019-06-19 15:38] khouloudbelguith commented on #14252
@MarouaniALA, this SQL request

`SELECT m.id_meta, m.page, l.title, l.url_rewrite FROM ps_meta m INNER JOIN ps_meta_lang l ON m.id_meta = l.id_meta WHERE (l.id_lang=3) AND (l.id_shop= 1) AND (m.configurable=1) ORDER BY id_meta asc LIMIT 50 OFFSET 0`

![image](https://user-images.githubusercontent.com/16067358/59779690-a44e3900-92b0-11e9-91db-36951af9a1cc.png)

is called on this page.

[2019-06-19 15:47] MarouaniALA commented on #14252
yes it is
![image](https://user-images.githubusercontent.com/25243369/59780403-d6ac6600-92b1-11e9-9d83-450480b62d5a.png)

[2019-06-19 15:48] matks commented on #11241
Hi @maofree I think there is a misunderstanding about what `DisplayOverrideTemplate` hook can do.
When I look at the implementation, this hook is there to allow developers to modify **which smarty template is being loaded** for a FrontController.

For example, on a Product page, the standard template file being loaded is `catalog/product.tpl`. This hook allows you to modify this behavior and use `

[2019-06-19 16:01] matks commented on #11241
@marionf Is the "major" label related to initial feedback or 2nd feedback (multiple hook causes crashs) ?

[2019-06-19 16:03] khouloudbelguith commented on #14252
@MarouaniALA, could you please provide me the new log file generated.

Thanks!

[2019-06-19 16:51] MarouaniALA commented on #14252
now there is no problem, log doesn't change

[2019-06-19 20:09] carras opened #15188 "Error: Class 'Core_Business_ContainerBuilder' not found (PS: 1.6.24 to 1.7.2)"
Hello there:

After try many times to use the autougrade module (v4.8) to upgrade PS 1.6.24 to 1.7.2; I always get the following errors:

Does anybody know what's wrong? Thanks.

[INTERNAL] /home//public_html/classes/PrestaShopAutoload.php line 184 - scandir(/home//public_html/Adapter/): failed to open dir: No such file or directory
[INTERNAL] /home//public_html/classes/PrestaShopAutoload.php line

[2019-06-19 23:14] MathiasReker opened #14293 "Carrier is not correct displayed in the Order confirmation email"
### 1761beta and develop is NOK
![data](https://user-images.githubusercontent.com/26626066/59808222-a7224b80-92fb-11e9-8034-59584ece48a8.png)
![data2](https://user-images.githubusercontent.com/26626066/59808223-a7224b80-92fb-11e9-9bdb-beb9ea6c8023.png)

### 1751 is OK:
![175](https://user-images.githubusercontent.com/26626066/59808833-2f095500-92fe-11e9-9c19-51ac33591c80.png)

Tested on 100% clean

[2019-06-19 23:37] MathiasReker commented on #14293
100% clean install of 1.7.6 beta.

[2019-06-20 07:53] jolelievre commented on #14275
Fiexed by #14290

[2019-06-20 07:53] #14275 closed, assigned to jolelievre

[2019-06-20 08:02] jolelievre commented on #14272
Fixed by https://github.com/PrestaShop/ps_linklist/pull/67

[2019-06-20 08:02] #14272 closed, assigned to jolelievre

[2019-06-20 09:09] khouloudbelguith commented on #14293
Hi @MathiasReker,

1. first issue:
I did not manage to reproduce the issue with PS1.7.6.0beta1.
I checked also the develop branch => it is OK.
https://drive.google.com/file/d/1BE0R5uNr9OMomr5G7mewoNpElbY9UvnC/view
2. **second issue**:
I have the same issue with PS1.7.6.0beta1 & develop branch
in the email: "Order confirmation", the Carrier is not correct
![image](https://user-images.githubusercont

[2019-06-20 09:25] khouloudbelguith commented on #14252
@MarouaniALA, so yesterday, this log "PDOException(code: 42000): SQLSTATE[42000]: Syntax error or access violation: 1064" is displayed also in your log file?

[2019-06-20 09:40] MathiasReker commented on #14293
@khouloudbelguith please check this video: https://streamable.com/oimxw Fresh install 1.7.6.0 beta1

[2019-06-20 09:42] photinia73 commented on #14250
Hello!

Can you check the next problem?

When I updated the faceted search it stoped index prices and the FO not looking good. This problem left after updating PS to 1.7.5.2

Thank you

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: понедельник, 17 июня 2019 г. в 19:19
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] The server returned a

[2019-06-20 09:43] MathiasReker commented on #14293
Errorlog:
[code]

[2019-06-20 09:43] MathiasReker commented on #14293
[code]

[2019-06-20 09:44] gescocis opened #14295 "Module ps_feeder not work fine"
Hello,
I recently installed the ps_feeder module in my store, but I think there is some bug as I can't get a link for valid RSS feeds.

From various guides on the forums I realized that to have a link to my RSS feeds based on the category it is sufficient to use this link >>>> https://gescotradingsrl.com/module/ps_feeder/rss?id_category=3&orderby=price&orderway=asc
where id_category = 3 is the ide

[2019-06-20 09:46] khouloudbelguith commented on #14250
@photinia73, this issue is fixed in the release of ps_facetedsearch v3.0.4.
Here's the PR: https://github.com/PrestaShop/ps_facetedsearch/pull/90 to fix the issue.
Thanks to check & feedback.

[2019-06-20 09:48] MathiasReker commented on #14293
![Screenshot_2019-06-20 PHP PrestaShop Info](https://user-images.githubusercontent.com/26626066/59839677-4a518000-9351-11e9-908d-e9cee6313e44.png)

[2019-06-20 09:50] txominvila commented on #12241
I had the same problem and I "fixed" this way:

1 product | 2 combinations | 3 images (main image, combination 1 image, combination 2 image)

Set main image as cover image
For first combination, set main and combination 1 image
For second combination, set main and combination 2 image

Result:
Product list displays main image.
Product sheet displays slide with both main and combination image
Shoppi

[2019-06-20 09:51] MarouaniALA commented on #14252
@khouloudbelguith , no but got an other error related to related to Doctrine exception and that causes my site also goes in maintaining mode

[2019-06-19 09:09:20] request.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\DBALException: "An exception occurred while executing 'SELECT l.*, e.email, CONCAT(e.firstname, ' ', e.lastname) as employee FROM ps_log l LEFT JOIN ps_employee e ON l.id_employee =

[2019-06-20 09:59] jolelievre commented on #14293
Hi @MathiasReker
The bug with carrier display is fixed by https://github.com/PrestaShop/PrestaShop/pull/14296
About the address display I wasn't able to reproduce it either, but I'm testing on the `1.7.6.x` branch not the beta version so maybe it has been fixed since then.
I'm currently performing a fresh install of the branch to see if I can reproduce the bug

[2019-06-20 10:02] PierreRambaud commented on #14293
FYI: i'm not able to reproduce on 1.7.6.x too :disappointed:

[2019-06-20 10:04] khouloudbelguith commented on #14295
Hi @gescocis,

I did not manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2 & the ps_feeder v1.0.1.
When I try to access to this link http://shop/fr/module/ps_feeder/rss?id_category=0&amp;orderby=date_upd&amp;orderway=desc
=> it is well displayed
![image](https://user-images.githubusercontent.com/16067358/59840756-e6c45400-934a-11e9-85f1-28aa7cd0d78a.png)

[code]
Thanks to check & feedb

[2019-06-20 10:06] khouloudbelguith commented on #14293
In my case, with PS1.7.6.0beta1 => it is OK also.

[2019-06-20 10:09] gescocis commented on #14295
Can you give me the link for correct module? I try to reinstall
Thanks

[2019-06-20 10:15] khouloudbelguith commented on #14295
@gescocis, try to navigate to your BO => Module Catalog page => search for the ps_feeder module & install it.
![image](https://user-images.githubusercontent.com/16067358/59841690-c0071d00-934c-11e9-88ee-34688992ed72.png)

Thanks!

[2019-06-20 10:17] elviraprint opened #14297 "customer payment"
**Describe the bug**
when the customer wants to pay with strip i receive the money but there is an error message show on the customer page. but i receive the money well on my stripe account i dont know how to coorect that where does it come from ?
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.buy a product..'
2. Click on '..buy..'

[2019-06-20 10:21] khouloudbelguith commented on #14252
@MarouaniALA, have you any errors in your BO => Advanced Parameters => Logs page?
![image](https://user-images.githubusercontent.com/16067358/59841997-72d77b00-934d-11e9-857b-face1eb0fb70.png)

Thanks!

[2019-06-20 10:22] khouloudbelguith commented on #14297
Hi @elviraprint,

Thanks for your report.
Have you tried to contact the module author about your issue?
https://addons.prestashop.com/fr/contactez-nous?id_product=24922
Thanks!

[2019-06-20 10:31] gescocis commented on #14295
Ok, it same work fine when oi try to viewing on the browser, but i f i pass the link in feedburner the system give me the error: NON VALID XML FILE

Thank you for your help

[2019-06-20 10:43] khouloudbelguith commented on #14295
@gescocis, maybe you need for example to use this `SimpleXMLElement::asXML` after getting the XML file.
It return a well-formed XML string based on SimpleXML element
https://www.php.net/manual/en/simplexmlelement.asxml.php
Since it is not a PrestaShop core issue, I close the ticket, feel free to open a new one when needed.

Thanks!

[2019-06-20 10:43] #14295 closed, assigned to nobody

[2019-06-20 11:11] khouloudbelguith commented on #13867
Hi @d-roduit,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-20 11:11] #13867 closed, assigned to nobody

[2019-06-20 11:12] khouloudbelguith commented on #13844
Hi @roja45,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-20 11:13] khouloudbelguith commented on #13882
Hi @ComonSoft,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-20 11:13] #13882 closed, assigned to nobody

[2019-06-20 11:19] MathiasReker commented on #14293
![debug](https://user-images.githubusercontent.com/26626066/59845593-09ac3380-935e-11e9-9d51-f0d18d47885a.png)

[2019-06-20 11:23] khouloudbelguith commented on #14293
@MathiasReker, fresh install in the last few minutes
![image](https://user-images.githubusercontent.com/16067358/59845792-1af14200-9356-11e9-979f-9e368df4c71e.png)

What is the exact county/language did you used during the install?

Thanks!

[2019-06-20 11:25] zuk3975 opened #14299 "Manufacturers/Suppliers logo in list differs from logo in edit action when editing in different shop context"
**Describe the bug**
This bug applies on both - manufacturers and suppliers. When changing logo in one shop context, the logo in other shop context differs between list and edit action. This happens because in list logo is taken considering the shop context, when in edit action shop context is not considered.

**To Reproduce**
Steps to reproduce the behavior:
Have two shops containing couple share

[2019-06-20 11:27] jolelievre commented on #14293
I also tried with the same address in Iowa but couldn't reproduce the problem.

[2019-06-20 11:29] MathiasReker commented on #14293
Okay, let me snow all steps in video on develop branch.

[2019-06-20 11:38] jolelievre commented on #14293
Thank you Also, don't test the beta but rather on the 1.7.6.x branch

[2019-06-20 11:39] jolelievre commented on #14293
Oh by the way that makes me think, which OS do you test on?

[2019-06-20 11:41] MathiasReker commented on #14293
My trest env is windows with laragon

[2019-06-20 11:41] khouloudbelguith commented on #14299
Hi @zuk3975,

I manage to reproduce the issue with PS1.7.5.2 & 1.7.6.x branch.
1.7.5.2: https://drive.google.com/file/d/1Wzj1mzk1L9NK-8YLN43F-2N6VsKUm64c/view
About The PS1.7.6.0: the first modification is OK, but the second modification is NOK as described in my screen record
1.7.6.0: https://drive.google.com/file/d/1MJLaKtms8o8CYJGFiqIgLGobxFOx8CCS/view
I’ll add this to the debug roadmap so that

[2019-06-20 11:50] khouloudbelguith commented on #14293
@MathiasReker, @jolelievre, yes, it is the issue.
I manage to reproduce the issue with PS1.7.6.0beta1 & windows 10 & Google Chrome Version 74.0.3729.169 (Build officiel) (64 bits)

https://drive.google.com/file/d/16yG8bfLHO3IJ2bKyDUWdc_FDAMWwIfM6/view

With PS1.7.5.2 => OK.
Thanks!

[2019-06-20 11:56] MathiasReker commented on #14293
@khouloudbelguith great that you was able to reproduce it.

[2019-06-20 11:59] khouloudbelguith commented on #14293
ping @jolelievre, it is a new regression in PS1.7.6.0.
Same issue in the branch 1.7.6.x => when using windows.

Thanks!

[2019-06-20 12:06] roja45 commented on #13844
oh, sorry, I didn't realise you were waiting on me.  I'll create a test module, and open another.

Thanks

[2019-06-20 12:25] khouloudbelguith commented on #13844
@roja45, I just re-opened the issue.
Waiting for your feedback.

[2019-06-20 13:08] khouloudbelguith opened #14301 "Customer details page is not well displayed - BO"
**Describe the bug**
In the BO => customers page, when you try to add or edit a customer, the customer details page is not well displayed.
![image](https://user-images.githubusercontent.com/16067358/59851496-aeca0a80-9364-11e9-979b-4bd93eb0ccf1.png)

With PS1.7.6.0beta1 => OK

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Customers page
2. Add/Edit a customer
3. See error

**Add

[2019-06-20 13:36] jolelievre commented on #14293
@MathiasReker @khouloudbelguith it's a long shot bu I think it may be due to the replacement of `\n` with `PHP_EOL`
I don't have a Windows env to test on, so can you test with the last changes in the PR please?

[2019-06-20 13:57] khouloudbelguith commented on #14293
@jolelievre, great!
This PR fixes for me two issues:
- Carrier email issue
- Address display issue on windows

Thanks!

[2019-06-20 14:00] 202-ecommerce opened #14302 "Duplicate Product in BO with several taxes (multishop)"
**To Reproduce**

Steps to reproduce the behavior:
1. Set a multishop with 2 shops (or more) and several taxe rule. For instance:
- shop FR with Tax rate FR 20%
- shop CH with Tax rate CH 10%
2. Create a product in context all shop
3. On each shop set a specific tax rate
4. Finally on products board, select the previous product and click on duplicate product on all shop context.

**Describe the bu

[2019-06-20 14:02] PierreRambaud commented on #14293
@jolelievre it's maybe because of this line :thinking:
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/AddressFormat.php#L391 :sob: Who have the idea to use `\r\n` ><

[2019-06-20 14:12] StarDev-it commented on #10300
Hi,

I've found an operator precedence error in the file src/Core/Cart/RuleCalculator.php at row 78:

[code]
must be:
[code]

[2019-06-20 14:26] jolelievre commented on #14293
@khouloudbelguith I tried the suggestion of @PierreRambaud can you check if it works fine on Windows please.
We also need to check that this doesn't break the fix from this PR https://github.com/PrestaShop/PrestaShop/pull/13578

[2019-06-20 14:28] PierreRambaud commented on #14293
@jolelievre We checked but it wasn't :D in fact the format is stored in database, this is why `"\n"` is needed. I suggested you to rename `\n` into an `AdressFormat` const.

[2019-06-20 14:38] k-raw opened #14305 "Overwrite a feature value while importing"
Hello,

now we can assign multiple values for a feature per product, which is great. But, while I'm importing products, feature values are juste added to the product. I would like to be able to replace a value instead of adding it.

For now, the format to import feature values is : Feature name:Feature Value:Position:Custom. It would be great to add something there like : Feature name:Feature Valu

[2019-06-20 14:42] khouloudbelguith commented on #14305
Hi @k-raw,

Thanks for your report.
@marionf, @colinegin what do you think?

Thanks!

[2019-06-20 14:44] MarouaniALA commented on #14252
@khouloudbelguith no i don't have any error!

[2019-06-20 14:44] k-raw opened #14306 "Ignore non existing product while importing by reference"
When you import products by reference in order to update just a few columns, Prestashop create a new product if the reference doesn't exist in database. Previously, the name of the product was a mandatory field which is no longer the case. Now I end up to get new products without name ...

Prestashop should ignore the rows where the reference isn't found in the database. At least, we should have a

[2019-06-20 15:05] khouloudbelguith commented on #14302
Hi @202-ecommerce,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0beta1.
Thanks for the fix!

[2019-06-20 15:13] khouloudbelguith commented on #14252
But this error
`request.CRITICAL: Uncaught PHP Exception Doctrine\DBAL\DBALException: "An exception occurred while executing 'SELECT l., e.email, CONCAT(e.firstname, ' ', e.lastname) as employee FROM ps_log l LEFT JOIN ps_employee e ON l.id_employee = e.id_employee WHERE (severity LIKE :severity) AND (l.date_add BETWEEN :date_from AND :date_to) ORDER BY severity desc LIMIT 100 OFFSET 0' with param

[2019-06-20 15:23] khouloudbelguith commented on #14306
Hi @k-raw,

Thanks for your report.
I manage to reproduce the issue WITH ps1.7.5.2 & ps1.76.0BETA1.
I used this file
[test.csv.txt](https://github.com/PrestaShop/PrestaShop/files/3311047/test.csv.txt)
In the import page, I enabled the option "Use product reference as key "
The import is done successfully but I have products with empty names

![image](https://user-images.githubusercontent.com/16067

[2019-06-20 15:27] cedricfontaine commented on #14261
Thanks, that's good suggestion. I'll work on this.

[2019-06-20 15:30] khouloudbelguith commented on #14261
@cedricfontaine, thanks for your feedback.

Can I close the issue?

Thanks!

[2019-06-20 15:31] cedricfontaine commented on #14261
Yes

[2019-06-20 15:33] khouloudbelguith commented on #14261
@cedricfontaine, thanks!
Feel free to open a new one when needed.

Thank you!

[2019-06-20 15:33] #14261 closed, assigned to nobody

[2019-06-20 15:40] PierreRambaud commented on #11207
Can't reproduce on the latest version :thinking:

[2019-06-20 15:59] MarouaniALA commented on #14252
you can see the date of last error

![image](https://user-images.githubusercontent.com/25243369/59863516-beede400-937c-11e9-9bdc-faa8661705a4.png)

[2019-06-20 16:07] Quetzacoalt91 commented on #13438
Circuit breaker has been implemented in the module. We may close this issue.

[2019-06-20 16:07] #13438 closed, assigned to nobody

[2019-06-20 16:09] Quetzacoalt91 commented on #10934
The notices have been fixed with the v2.0.0 of the module which was released today. Thanks for the report.

[2019-06-20 16:09] #10934 closed, assigned to nobody

[2019-06-20 16:18] khouloudbelguith commented on #14252
@MarouaniALA, it is for 3 weeks later & now do you have the same error in your Logs page?

Thanks!

[2019-06-20 16:26] khouloudbelguith commented on #11207
@PierreRambaud, I have the same issue with PS1.7.6.0beta1 & PS1.7.5.2 & ps_facetedsearch v3.0.5.
In fact in this category created we have only this product
![image](https://user-images.githubusercontent.com/16067358/59865106-28232680-9380-11e9-9ee3-e5c7cfc2232a.png)

There is no filter displayed
I created a second product with the same feature, but with a different value
![image](https://user-imag

[2019-06-20 16:32] PierreRambaud commented on #11207
Is it really an issue? It's actually a desired behavior in the code, why displaying a facet with only one product behind? :thinking:
Ping @colinegin

[2019-06-20 16:35] PierreRambaud commented on #13139
I think this one is fixed in the latest version.

[2019-06-20 16:36] k-raw commented on #14306
I wonder which logic should be used.

I really want to be able to do import just for updating some fields (so I don't want any restriction about required ones).
I guess we could solve this with something like: if all mandatory fields are not there and the reference doesn't exist => ignore the row. In the case all is ok => add a new product.

But I think the user should have the choice between "Add

[2019-06-20 16:46] MarouaniALA commented on #14252
@khouloudbelguith no the last date of an error in the log page is 2019-05-27 16:47

[2019-06-20 17:40] SharmPRO commented on #12170
The creation of a new address id will trigger error while a cart is already created with a certain id_address. In checkout process will not find any currier for address.
Cart data need to me updated with new id_address

[2019-06-20 17:47] photinia73 commented on #14250
As I understood I have to make changing in the file ps_facetedsearch.php like in the right column below in the picture?

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: четверг, 20 июня 2019 г. в 12:47
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] The server returned a "500 InternalServer Error" after update to 1.7.5.2 (#14250)

@photin

[2019-06-20 20:38] Andrew-LT commented on #14260
Hi @khouloudbelguith,
sorry, but I'm totally newbie and not very sure if I'm sending exactly what you were expecting.
I didn't find PHP error log. I was looking for it in folder /var/log/ via FTP, but found debug mode log in the same folder and also adding some PrtScr from debug mode.

Please let me know if this info is enough for the moment or you need somethig more.

Thanks!

[dev.log](https://g

[2019-06-20 20:42] Andrew-LT commented on #14260
forgot to mention product id's with whom I have issues and which can be found in log:
"106"
"11"

[2019-06-20 20:47] SharmPRO opened #14311 "When modifying address and cart already created 'No curriers..' in checkout"
**Describe the bug**
When modifying address and cart already created 'No curriers..' in checkout
If there is a 'disabled' address that is referred into ps_cart_product, then in checkout there are no currier available.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify address in checkout phase
2. Currier not avalable

**Screenshots**
If applicable, add screenshots or screenrecords to hel

[2019-06-20 22:00] CArlvJ1N0N8 commented on #9506
Hello,

Same here,
Running Prestashop 1.7.5.1 and ps_facetedsearchv3.0.5 and i get Price indexing failed or Attribute indexing failed

Can you please provide information on how you resolved your issue?

[2019-06-21 00:48] amtriorix opened #14312 "Error 500 on BO->Configure->Shop Parameters->General,Order Settings and Product Settings"
Using Multilanguage and Multistore.

After copy a running installation (backup) to another server, for no reason I have 500 errors
on the backoffice, configuration screens
Configure::Shop Parameters-> General, Order/Product Settings

The other Shop Parameters, like Customer Settings, Search etc do work properly.

Also there are a lot of Depreciated notices in the logs.

The critical one is the Sym

[2019-06-21 06:05] bogdanmoisin commented on #11949
Thank you very much!

[2019-06-21 07:03] mrabsinthe opened #14313 "Customer service - status not changed on reply 1.7.5.2"
**Describe the bug**
Status of a message thread is not being changed to "Closed" when replying from order's page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an account, place an order, go to contact us page, select order ref number and send a message
2. In BO view the order and reply to the message:
![reply](https://user-images.githubusercontent.com/31688689/59903961-a1635d80-940

[2019-06-21 07:39] Marg88 opened #14314 "Problem to record modifications on product's sheet"
Hello,

Since few days I have been making modifications on a product’s sheet, I register it and I go back to the catalog. My problem is that as soon as I go back on my product sheet, all my modifications are gone. While I did get the green message that the changes were being recorded...
Can you help me?

Prestashop version : 1.7

[2019-06-21 07:48] BrighteyesDesign commented on #9506
Hi,

It was all down to permissions in the end. The auto install Prestashop software function on my server set up these incorrect permissions.

I have the modules/ps_facetedsearch folder set to 755 and all folders within in set to 777 as well as their contents.

Hope that helps!

Many thanks

 <http://www.brighteyesdesign.co.uk/>
Brian Beddowes
brian@brighteyesdesign.co.uk <mailto:brian@brighteyes

[2019-06-21 08:01] #14314 closed, assigned to nobody

[2019-06-21 08:02] khouloudbelguith commented on #14311
Hi @SharmPRO,

Thanks for your report.
We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9932
So, I close it.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-06-21 08:02] khouloudbelguith commented on #14311
Duplicate of #9932

[2019-06-21 08:02] #14311 closed, assigned to nobody

[2019-06-21 08:09] khouloudbelguith commented on #14312
Hi @amtriorix,

You can move your Project to a new domain without errors following these steps:
1. Made a backup for my files & my database
2. Upload your store's files to your new server
3. Import the old store's database to the new server
4. In file /app/config/parameters.php, configure your PrestaShop site.
4.1. DB_SERVER: database's server;
4.2. DB_NAME: Name of the database from step 5;
4.3.

[2019-06-21 08:13] matks commented on #14293
@PierreRambaud Can we close this issue as the related PR https://github.com/PrestaShop/PrestaShop/pull/14296 is merged or does it still needs advanced exploration ?

[2019-06-21 08:13] #14293 closed, assigned to jolelievre

[2019-06-21 08:15] Quetzacoalt91 commented on #12830
V2.0.0 of the module psaddonsconnect, released yesterday, now includes the circuit breaker. This task can be closed.

[2019-06-21 08:15] #12830 closed, assigned to jolelievre

[2019-06-21 08:27] khouloudbelguith commented on #13909
Hi @masztal18,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-21 08:27] #13909 closed, assigned to nobody

[2019-06-21 08:42] khouloudbelguith commented on #14313
Hi @mrabsinthe,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0(branch 1.7.6.x).
In fact, when we replay to the customer from the order page, the thread is not closed, it is still open.
But if we replay to the customer from the customer service page, the thread will be closed.

https://drive.google.com/file/d/10ERrehIxwITxuc0GDK9rOAUO80akPU83/view

I’ll add this

[2019-06-21 08:44] khouloudbelguith commented on #13855
Hi @M4tho,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-21 08:44] #13855 closed, assigned to nobody

[2019-06-21 08:44] khouloudbelguith commented on #13915
Hi @Solander,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-21 08:44] #13915 closed, assigned to nobody

[2019-06-21 08:52] khouloudbelguith commented on #14250
@photinia73, you need just to upgrade your module ps_facetedsearch to the latest version 3.0.5, after the upgrade click on:

1. Rebuild entire price index
2. Build attributes and features indexes
3. Clear cache

Thanks to check & feedback.

[2019-06-21 09:05] khouloudbelguith commented on #14260
@Andrew-LT, thanks for your feedback.
Does this issue occur only with those two products?
When debug mode enabled, no exception is displayed in the FO?
Thanks!

[2019-06-21 09:08] TheChovix opened #14315 "During checkout, after login, redirects to home page instead of cart"
**Prestashop version**
1.6.1.9

**PHP version**
7.0.33

**My issue**
When using the 5 steps checkout process, I add some products to the cart and everytime I try to login (step 2), the website redirects me to the home page instead of the 3rd step of the order.

To be brief, I'm facing the same problem than this thread : [http://forge.prestashop.com/browse/PSCSX-8896](url)

I tried everything they

[2019-06-21 09:19] khouloudbelguith commented on #14315
Hi @TheChovix,

I did not manage to reproduce the issue with PS1.6.1.2.4.
https://drive.google.com/file/d/1cN2cly4HOspx6LINCJwImbdBS3nTilYy/view
Try to use a Virtual host, it could a server issue.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenanc

[2019-06-21 09:19] #14315 closed, assigned to nobody

[2019-06-21 09:21] khouloudbelguith commented on #14306
@k-raw, I think it could a red alert about the missing of the name will be the best solution.

Thanks!

[2019-06-21 09:44] jf-viguier opened #14317 "Merchant should be able to choose to index/noindex each prestashop url"
SEO concern : actually, only cms pages can be set to noindex.

All Prestashop pages should allow this :
- Category pages
- Product pages
- SEO & URL pages

This feature should be shop specific in a multishop context.

[2019-06-21 09:44] frankymartinES commented on #14281
@khouloudbelguith I have updated from backoffice and the error is still here :-(

[2019-06-21 10:07] khouloudbelguith commented on #14317
Hi @jf-viguier,

Thanks for your report.
In the BO => Design => Pages => Page, we have the option "Indexation by search engines"
![image](https://user-images.githubusercontent.com/16067358/59915486-acbf8480-9414-11e9-9baf-3805b8c6af5b.png)

@marionf, @colinegin, what do you think of this improvement?

Thanks!

[2019-06-21 10:21] centoasa opened #14318 "memcached yes ot not"
Prestashop 1.7.5.2 on debian with php 7.2.19
Version MySQL: 10.1.38-MariaDB-0+deb9u1
As I read here (https://devdocs.prestashop.com/1.7/scale/optimizations/#6-optimize-your-prestashop) you suggest to NOT enable the cache feature. It's right for me with my mysql version?
Thank you

[2019-06-21 10:30] khouloudbelguith commented on #13139
Hi @PierreRambaud,

Yes, I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0 & ps_facetedsearch v3.0.5.
In the BO => Shop Parameters => Products Settings => after enabling the `Allow ordering of out-of-stock products`, we should CLick on the `Rebuilt` & `Clear cache` buttons in the configuration page.
https://drive.google.com/file/d/1XCjgoGFOGt7Wo9BUgAfHgZoJqhWHwqQ1/view
I close the

[2019-06-21 10:30] #13139 closed, assigned to nobody

[2019-06-21 10:33] jhocf opened #14319 "Impossible d'envoyer des emails automatiques avec mes paramètres SMTP"
Bonjour,

J'essaye de configurer les mails automatiques afin de pouvoir lancer une boutique cependant ça ne marche pas du tout j'ai une erreur :

Error: Please check your configuration

Expected response code 250 but got code "501", with message "501 mail from address must be same as authorization user "

Je suis sous prestashop 1.7.5.0.
J'ai essayé beaucoup de combinaisons de chiffrement et de po

[2019-06-21 10:38] khouloudbelguith commented on #14319
Hi @jhocf,

Thanks for your report.
English is the norm in this bug tracker.
About the technical configuration: to configure PrestaShop to send emails to your customers. We strongly advise you that you consult your web host to determine which settings to use for this feature.
 In my case, I use the SMTP server: `smtp.gmail.com` & it is well working with different issues.

Thanks to checking with y

[2019-06-21 10:44] jhocf commented on #14319
Sorry my bad.
In my case the SMTP srever is : smtp.exmail.qq.com
With an SSL encrypting so a 465 port

[2019-06-21 10:49] khouloudbelguith commented on #14319
@jhocf, issue solved?

Thanks!

[2019-06-21 10:52] jhocf commented on #14319
Euh no, I have all the information from my web host but it's doesn't work. He checked if the SMTP service was turned on and it is. I tried with a gmail account and it works but not with my host. Always the same error

[2019-06-21 11:20] khouloudbelguith opened #14321 "An incorrect flag discount is displayed in the FO => Product page"
**Describe the bug**
An incorrect flag discount is displayed in the FO => Product page => it shouldn't.
![image](https://user-images.githubusercontent.com/16067358/59918512-d7add680-941c-11e9-8197-addc9a4892d0.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Shop Parameters => Product Settings
2. Set `Quantity discounts based on ` to Combinations
![image](https://user-images.

[2019-06-21 11:24] khouloudbelguith commented on #14319
@jhocf, what is the exact PHP version did you use?

Thanks!

[2019-06-21 11:27] jhocf commented on #14319
I am using : PHP Version 5.6.31

[2019-06-21 11:28] khouloudbelguith commented on #14281
@frankymartinES, thanks for your feedback.
I did not manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2 & ps_facetedsearch v3.0.5.
I attached a video record
https://drive.google.com/file/d/1QplgmBOCtFq4Mx-2lzt4yrmGsFyNJLGJ/view
Thanks to check & feedback.

[2019-06-21 11:30] khouloudbelguith commented on #14319
@jhocf, When trying to send a test message/newsletter using a custom SMTP method configured to use TLS/SSL encryption, you see an authorization error message.
In fact, PHP 5.6 or newer forces  [verification of the destination server's authenticity](http://php.net/manual/en/migration56.openssl.php). If for some reason, the server uses an invalid (or self-signed) certificate or your PHP has an inval

[2019-06-21 11:30] #14319 closed, assigned to nobody

[2019-06-21 11:38] wjatekTest opened #14322 "API - cannot create custom unit prices"
**Describe the bug**
I'm trying to create an order with custom unit prices. My XML looks like order created manually in Prestashop admin panel, here is the part with prices in product row:

[code]
product_price is from product in Prestashop, unit prices are custom. XML looks like order I created manually, but when I create it by API my unit prices change to prices from product. Tested it on produc

[2019-06-21 12:58] khouloudbelguith commented on #14322
Hi @wjatekTest,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0(Branch 1.7.6.x)
I used this script

[code]
In the BO => Orders page, I have this

![image](https://user-images.githubusercontent.com/16067358/59923972-958c9100-942c-11e9-9dd7-a73fecc38f15.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you

[2019-06-21 13:41] khouloudbelguith commented on #14254
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical bugs and security fixes will be fixed, that’s why I close it.
Thanks for y

[2019-06-21 13:41] #14254 closed, assigned to nobody

[2019-06-21 13:57] studiokiwik opened #14326 "Command EnableThemeHandler"
**Describe the bug**

Using a string in the php reset function.

**To Reproduce**
1. Duplicate the classic theme to create a new theme
2. Arrange for the new theme to install normally.
3. Use the classic theme.
4. Remove in the new theme theme.css (in new_theme/assets/css/theme.css).
5. Define "_PS_MODE_DEV_" on true
6. Enable the new theme.

**Screenshots**
If applicable, add screenshots or scree

[2019-06-21 13:57] matks opened #14327 "Optional Travis build "High dependencies" fails on 1.7.6.x"
The build "High dependencies" fails on 1.7.6.x" fails on php7.2 for 1.7.6.x, probably because of issues with Twig v2:

[code]

[2019-06-21 14:00] studiokiwik commented on #14326
Solution :

Remove "reset" in the "CannotEnableThemeException"

[2019-06-21 14:01] khouloudbelguith commented on #14327
ping @PrestaShop/prestashop-core-developers

[2019-06-21 14:07] mrabsinthe opened #14328 "Link to a product from best sales not working 1.7.5.2"
**Describe the bug**
BO, from Dashboard, Product & Sales, select "best sellers"
![best sales](https://user-images.githubusercontent.com/31688689/59928161-6aab3880-943e-11e9-8073-d56527490f77.png)

Click the link in Product column - you should be taken directly to the product, however you will land on Products page instead, which is wrong.

**Additionnal information**
PrestaShop version: 1.7.5.2
PH

[2019-06-21 14:11] mickaelandrieu commented on #14326
:trollface: , we may check the existence for this file instead ?

Is this file required in order to enable a theme ? if not, we shouldn't expect it to be there.
If we do, we should forbid the activation of a theme when this file doesn't exists.

WDYT ?

Edit: Ok, I've understood the problem. I agree with your solution :+1:

[2019-06-21 14:15] frankymartinES commented on #14281
@khouloudbelguith I see the error hapen in all products added before the first update of the module. Maybe the error is in relation with data base or cache?

[2019-06-21 14:17] jf-viguier commented on #14317
SEO in 2019 should be fine tuned product by product, category by category. A complete noindex is a non sense, maybe in staging mode ?
This feature is usefull to no index an obsolet product or a duplicated category.

[2019-06-21 14:28] khouloudbelguith commented on #14281
@frankymartinES, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
You can also Click on "Rebuild entire price index", "Build attributes and features indexes" & "Clear cache" button in the ps_facetedsearch configuration module.
Thanks to check and feedback.

[2019-06-21 14:33] khouloudbelguith commented on #14326
Hi @studiokiwik,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.0(1.7.6.x) branch
![image](https://user-images.githubusercontent.com/16067358/59930002-d7700400-9439-11e9-9292-094e82874ced.png)

With PS1.7.5.2, we have a red alert
![image](https://user-images.githubusercontent.com/16067358/59930040-ed7dc480-9439-11e9-8b98-1fba3ddaef28.png)

It is a regression
I’ll add this to

[2019-06-21 14:41] matks commented on #14321
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14325

[2019-06-21 14:41] #14321 closed, assigned to matks

[2019-06-21 14:41] khouloudbelguith commented on #14328
Hi @mrabsinthe,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & the PS1.7.6.0(branch 1.7.6.x) & the Dashboard Products module v2.0.4.
https://drive.google.com/file/d/1psJFCVRWKQXEq3lT8tYztbYDIGeEGf6E/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-06-21 14:44] photinia73 commented on #14250
After I returned to the old version I can`t update the module.  The update search find nothing (((

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: пятница, 21 июня 2019 г. в 11:52
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] The server returned a "500 InternalServer Error" after update to 1.7.5.2 (#14250)

@photinia73, you need just t

[2019-06-21 14:49] amirrzd opened #14329 "Stock change in Pack of existing products"
**The bug description**
If you cancel an order including a "Pack of existing products" with "Pack quantities" set to "Decrement products in pack only" and then approve it again, the quantity of the products inside the pack is not changed. (It should decrease the quantity based on the quantity of the order).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a "Pack of existing products"

[2019-06-21 15:05] keithorder opened #14330 "different screens/data displayed across devices"
I have changed the data/text in the terms & conditions and delivery sections and saved. All looks ok on mobile phone and desktop, but on a tablet i see the default latin text. despite clearing history etc, the tablet shows the new site, but the old text as described. Ideas please as i wish to launch asap
Version 1.7 just downloaded in past 2 weeks
Thanks

[2019-06-21 15:05] khouloudbelguith commented on #14329
Hi @amirrzd,

I did not manage to reproduce the issue with PS1.7.6.0(branch 1.7.6.x)
https://drive.google.com/file/d/1w5aXWahabRmUAWWywhNCxuvYxUlK0DbI/view
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this

[2019-06-21 15:09] khouloudbelguith commented on #14330
Hi @keithorder,

Could you please provide me the exact text of this issue.
What is the exact tablet did you use?
Your PrestaShop version is PS1.7.5.2 or PS1.7.6.0beta1?
Thanks!

[2019-06-21 15:17] keithorder commented on #14330
HI
khouloudbelguith

its 1.7.5.2
Text in my site for delivery says `thank you for your order`
Text on tablet shows `Shipments and returns
Your package shipments

Text for terms & conditions my sites
`Terms and conditions` - none entered yet under heading
Tablet shows same heading and then `lori dipsum etc. I have since
deactivated for now but will require this link to work

Tablet is a Lenovo tab2

[2019-06-21 15:18] amirrzd commented on #14329
Thank you @khouloudbelguith  for your quick response.
But as I mentioned, the problem occurs after you approve this canceled order. At the end of the video you showed us that after canceling the order, the quantity has increased like no order has been places. So far so good.
But now go ahead an approve the order by changing its status to "Payment accepted" and then check if the quantity of the pro

[2019-06-21 15:18] matks commented on #13663
Additional issue: `ThemeManager::getError($themeName)` implementation is empty
https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Addon/Theme/ThemeManager.php#L233
[code]

[2019-06-21 15:22] centoasa opened #14332 "your address is incomplete"
Prestashop 1.7.5.2 on php 7.2.19 on debian
Why this error? https://nimb.ws/oWcC1g

[2019-06-21 15:27] khouloudbelguith commented on #14332
Hi @centoasa,

In your BO => Customers => Addresses page, you have some fields required.
But those fields required are not added tour address format from your country.
You need to navigate to your BO => Internation => Locations => Countries => Edit your country => Add the missing field to your address format & Save.

Thanks to check & feedback.

[2019-06-21 15:34] khouloudbelguith commented on #14250
@photinia73, In your BO => Advanced Parameters page => the option "Disable all overrides" is enabled or disabled?

Thanks!

[2019-06-21 15:38] khouloudbelguith commented on #14330
@keithorder, thanks for your feedback.
I tied with PS1.7.5.2 & PS1.7.6.0(Branch 1.7.6.x), but it is OK.
Could you please check this link with your tablet & provide me a screenshot
http://astonishing-clam.machine-shuffle.prestashop.net/en/content/3-terms-and-conditions-of-use

Thanks!

[2019-06-21 15:48] centoasa commented on #14332
You're perfectly right! Thanks so much @khouloudbelguith

[2019-06-21 15:48] #14332 closed, assigned to nobody

[2019-06-21 15:52] frankymartinES commented on #14281
@khouloudbelguith I have renamed the folders prod and dev into var/cache and "Rebuild entire price index", "Build attributes and features indexes" & "Clear cache" in one of the shops of my multistore but nothing change. Any idea?

[2019-06-21 15:57] khouloudbelguith commented on #14329
@amirrzd, thanks a lot for your feedback.
Yes, these steps it causing the issue: Approve the order and check the quantity of the product again => the quantity is not decreased after approving the canceled order
https://drive.google.com/file/d/18ImH8Xi9IzBhIjGLtaBeoIhhUYE7bcfT/view

I have checked other "Pack quantity" options: in all the other options => same issue.

I tried with a standard produc

[2019-06-21 16:02] khouloudbelguith commented on #14332
@centoasa, you are welcome, feel free to open a new one when needed.

Thanks!

[2019-06-21 16:04] khouloudbelguith commented on #14281
@frankymartinES, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-06-21 16:05] khouloudbelguith commented on #14252
@MarouaniALA, thanks for your feedback.
In my case, I did not manage to reproduce the issue with PS1.7.6.0beta1 & PS1.7.5.2 branch PS1.7.6.x.
ping @sarahdib could you please try to reproduce the issue?

Thanks!

[2019-06-21 16:09] keithorder commented on #14330
HI

this is the tablet now
 Regards

 Keith Rule
 Business Solutions Manager
 Mob 0782 388 2400

  www.paymentsmatter.co.uk

This message may contain information from Paymentsmatter Ltd which is
confidential or privileged. If you are not the intended recipient, please
advise the sender immediately by reply email and delete this message and
any attachments without retaining a copy. Any views expres

[2019-06-21 16:09] keithorder commented on #14330
HI

This is your link on the tablet

 Regards

 Keith Rule
 Business Solutions Manager
 Mob 0782 388 2400

  www.paymentsmatter.co.uk

This message may contain information from Paymentsmatter Ltd which is
confidential or privileged. If you are not the intended recipient, please
advise the sender immediately by reply email and delete this message and
any attachments without retaining a copy. Any vi

[2019-06-21 16:10] abondares commented on #13207
I have the same exact problem. Is the problem fixed? I have Prestashop 1.7.5.2. Nothing in debug logs.
There must be some recursion.

[2019-06-21 16:12] khouloudbelguith commented on #14330
@keithorder, there is no screenshot attached, you need to login to GitHub & upload your pictures.

Thanks!

[2019-06-21 16:14] Klemart3D commented on #12207
@egm14 : https://github.com/PrestaShop/PrestaShop/pull/12337/commits/f56d5d730c075ae2aa3c3500c6eb02dc29be20f7

[2019-06-21 16:14] keithorder commented on #14330
Ok will do

On Fri, 21 Jun 2019 at 17:12 khouloudbelguith <notifications@github.com>
wrote:

--
Best regards
Keith Rule
Business development manager
www.paymentsmatter.co.uk
M: 07823 882400
keith.rule@paymentsmatter.co.uk

Available outside normal office hours by appointment.

[2019-06-21 16:17] keithorder commented on #14330
![IMG_7292](https://user-images.githubusercontent.com/52077375/59936623-6126ce00-9448-11e9-8413-f6024253cded.JPG)
![IMG_7293](https://user-images.githubusercontent.com/52077375/59936625-6126ce00-9448-11e9-91fc-119c833c10b1.JPG)
one is your link with my original message on my pc, the other is the tablet

[2019-06-21 18:08] photinia73 commented on #14250
Below my parameters. If I put it in the tern On the modules stop to work

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: пятница, 21 июня 2019 г. в 18:34
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] The server returned a "500 InternalServer Error" after update to 1.7.5.2 (#14250)

@photinia73, In your BO => Advanced Parameters page =>

[2019-06-21 18:10] photinia73 commented on #14250
And else my BO find the updates for others modules but not for facetedsearch…. Before this I updated it but there was a problem with index and I rolled back. And now the update is not proposed

З повагою
Кричмарівська Світлана

От: khouloudbelguith
Отправлено: пятница, 21 июня 2019 г. в 18:34
Кому: PrestaShop/PrestaShop
Копия: photinia73; Mention
Тема: Re: [PrestaShop/PrestaShop] The server return

[2019-06-22 01:12] bhean commented on #12982
I disagree, @PierreRambaud ... _healthchecks_ are very used and IMHO it's almost required (maybe not for a "final user", but for the developer/sysadmin hosting the shop).

A `/healthcheck` (or something like that) under the back office side (as @Quetzacoalt91 proposed) sounds very useful for me...

[2019-06-22 07:06] xtoffx opened #14333 "ClassNotFoundException"
**Describe the bug**
suddenly my shop does not work anymore. it is a version 1752 that I use to start an activity. I had not finished filling it. see here the error message :class Order extends OrderCore { /** * Return a unique reference like : GWJTHMZUN#2 * * With multishipping, order reference are the same for all orders made with the same cart * in this case this method suffix the order referen

[2019-06-22 08:03] PierreRambaud commented on #12982
It's a common use for services and app working as microservices where you can define which service is up or down. A simple `/healthcheck` that returns only a 200 OK if database and configuration are load is pretty useless 🤔

If you need this kind of route only for LB, you can create a simple module to do that.
For more details we need time to define what PrestaShop service we want to add in the he

[2019-06-22 08:45] djodjo3 commented on #12982
I don't really see your point.
First because i've seen and used HC before "microservice" was even a word.
Second, because I don't think that an HC should check and test ALL the app's functionalities and internals. It's not an "unit tests endpoint".

I honestly don't think it's "useless", but I'm guessing it depends on what you're focusing on.
From a pure application standpoint, maybe not useless,

[2019-06-22 09:16] PierreRambaud commented on #12982
PrestaShop contains many many services. As I said before, if you only want to check your app is responding, you can create a simple module.
It will test Database and HTTP. But this not means your app's working proplery. It's not an healthcheck, it's more a ping like "Hey, are you here".

When I said "microservice" it's more about, what service can be checked and what is the trafic / health of each

[2019-06-22 10:03] matks commented on #12982
I agree with @PierreRambaud that this would be better in a module. PrestaShop is already a big application with lot and lot of features. Only a small group of our users will use this feature, so if we integrate the HC in the core, it will be a useless feature for most of them.

If a module provide the HC, people who need it can install it, people who do not need it do not install it.

Also it seem

[2019-06-22 13:55] nrcjea001 opened #14334 "Unable to upload new brand image with same name"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to brands, create new brand and upload image. Save. View brand image in FO.
2. Upload new image with the same name.
3. Go view on FO and old image still remains.

Cleared browser cache and BO cache, but no change.

**Additional information**
PrestaShop version: 1.7.5.2
PHP version: 7.2

[2019-06-22 14:12] matks commented on #12982
@djodjo3 I think building a HealthCheck module is not a lot of work, I'll give it a try. But before diving in the code, can you confirm the following specs would match your need:

1) The module provides an API endpoint `/modules/healthcheck/status.php`
2) In order to provide flexibility, the admin could configure the API endpoint to be either
- available for all
- require a unique API token (to be

[2019-06-22 17:21] amtriorix commented on #14312
Thanks to show the manual steps so far.
But those steps are followed.

On the stage server there are no issues with php 7.3.2 and prestashop.
There are no errors with the same configuration.

However on the development server I have those issues.

When I debug, this commands fails:

``
$formatter = new \NumberFormatter(\Locale::getDefault(), \NumberFormatter::DECIMAL);
``

[2019-06-22 18:45] matks commented on #14312
Hi @amtriorix, I'm happy to hear that there is no issue with php7.3.2 on your staging server but as Khouloud said, **currently prestashop is not compatible with php7.3**. So some parts of the application might work, but there is no guarantee it works globally. Explications about why can be read here: http://build.prestashop.com/news/announcing-end-of-support-for-obsolete-php-versions/

Second, the

[2019-06-23 07:16] #14334 closed, assigned to nobody

[2019-06-23 07:16] nrcjea001 commented on #14334
resolved

[2019-06-23 08:35] gaecde opened #14335 "Cart blocked on personal information page could not proceed to step 3: delivery."
Hello,
I simulated an order, after having filled the address, the page remains blocked. Can not finalize the order.
I write you all the steps:

1. On the product page, I select the number example:4, it does not set on 4, it comes back on 1.
2. Click on 'add to cart'
3. On the basket page, everything is ok the number of products selected (4) is taken into account.
4.  Click on 'place an order'
5. p

[2019-06-23 14:02] SharmPRO opened #14336 "Friendly Url do now work for index page if url_rewrite specified"
**Describe the bug**
The index page is not found if url_rewrite specified for language and friendly url enabled

**To Reproduce**
Steps to reproduce the behavior:
1. enable friendly url
2. specify url_rewrite for index page languages
3. point the browser (or use ps_languageselector module) to the supposes url (eg. /en/your_url_rewrite )
4. Page not found

**Specifications**
Users should be able to

[2019-06-23 16:02] matks opened #14337 "Improve "welcome" email wording"
**Is your feature request related to a problem? Please describe.**

The "welcome" email sent to new registered customers has a section "login details" that says "Here are your login details". However only the email is provided in this section.

I guess a long time ago this section contained the email and the password, and the password was removed because it is a bad security practice. But now the

[2019-06-23 17:43] ProBackup-nl opened #14338 "FR: Retain order of images at combination level"
When uploading product images in BO, an order is applied based on field "id_image". One can reorder the order in which images appear, by drag and drop, in which case field "position" is changed as well as display in BO and FO.

In case of a product with combinations, the same images may be selected for a combination. However the "position" is lost at the combination level, and all product images a

[2019-06-23 21:36] ProBackup-nl commented on #14102
@marionf @Hlavtox
Yes, I can create a tax rule set and customer groups. However the product is still listed as "excluding tax" (or whatever value I set in "customer group > price display method"). The price is still not displayed as "exempted from VAT".

The workaround doesn't show the "Tax rules > single rule enabled = Country=nl > Description".

[2019-06-23 21:58] Andrew-LT commented on #14260
Hi @khouloudbelguith,
no, the issue occur with more products then those two.

I checked FO few times in debug mode and noticed these things:
- when I open shop with Chrome browser I don't get any error messages but I can't add any product to cart. The button "Add to cart" looks active, but when clicking nothing happens;
- when I try to open a shop with Safari I get this screen:
<img width="1280" a

[2019-06-24 04:25] intest200 opened #14339 "prestashop 1.7 cms pages not working"
**Describe the bug**
cms pages not working, showing HTTP ERROR 500. please help me

"https://www.risvolto.com/content/17-test"

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version: 7.2.19
Memory limit: 512M

[2019-06-24 04:26] intest200 commented on #14339
![img_20190624](https://user-images.githubusercontent.com/43771744/59991797-62cddd00-9666-11e9-91a5-096ab51a115e.png)

[2019-06-24 05:06] #14339 closed, assigned to nobody

[2019-06-24 07:29] khouloudbelguith commented on #13908
Hi @ToyPerson,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-24 07:29] #13908 closed, assigned to nobody

[2019-06-24 07:30] khouloudbelguith commented on #13883
Hi @Gunit8989,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-24 07:30] #13883 closed, assigned to nobody

[2019-06-24 07:30] khouloudbelguith commented on #13947
Hi @silviu25,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-24 07:30] #13947 closed, assigned to nobody

[2019-06-24 07:31] khouloudbelguith commented on #13955
Hi @juank2808,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-24 07:31] #13955 closed, assigned to nobody

[2019-06-24 07:50] khouloudbelguith commented on #14333
Hi @xtoffx,

Could you please navigate to your BO => Advanced Parameters => Performance => Enable the option "Disable all overrides", clear cache from your shop & your browser & feedback.
![image](https://user-images.githubusercontent.com/16067358/60000887-0adea880-965d-11e9-8c70-cc96fdb7f283.png)

Thanks!

[2019-06-24 07:52] khouloudbelguith commented on #14335
Hi @gaecde,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

T

[2019-06-24 08:03] LouiseBonnard commented on #14337
Hi @matks, thanks for reporting it. It has been changed recently but we can think about a more accurate wording for the next version. Actually, _login details_ has been kept since it was generic enough and also used in two other email templates, password and password query. But it could make sense to turn it into _login email_ when the password is not mentioned anymore.

[2019-06-24 08:09] khouloudbelguith commented on #14336
Hi @SharmPRO,

In the BO => Shop Parameters => Traffic & SEO => index page => the input text for the "Rewritten URL" is disabled so we cannot specify url_rewrite for index page languages.
https://drive.google.com/file/d/1v-Nvl2cWB0KWL8RlC3H9jJafq0UBAOHJ/view

Thanks to check & feedback

[2019-06-24 08:22] gaecde commented on #14335
Hello,
thank for your help.
this is console javascript
![console](https://user-images.githubusercontent.com/51715158/60002914-ea691b00-9669-11e9-84ad-fcd7c533cc0a.JPG)

[2019-06-24 08:29] khouloudbelguith commented on #14335
@gaecde, thanks for your feedback.
We need also to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2019-06-24 08:46] matks commented on #14326
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14331

[2019-06-24 08:46] #14326 closed, assigned to matks

[2019-06-24 08:50] khouloudbelguith commented on #14338
Hi @ProBackup-nl,

I did not manage to reproduce the issue with PS1.7.6.0(Branch1.7.6.x) & PS1.7.5.2.
I attached a video record
https://drive.google.com/file/d/13dzAjHLpyw4BkckV2nrBNfLnEE1h_ATB/view
Thanks to check & feedback.

[2019-06-24 08:59] khouloudbelguith commented on #14260
Hi @Andrew-LT,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-24 08:59] #14260 closed, assigned to nobody

[2019-06-24 09:06] gaecde commented on #14335
I have a message error, clic on 'performance'
![acces performance](https://user-images.githubusercontent.com/51715158/60006033-f7890880-966f-11e9-9efa-3ab74ecf9fa2.JPG)
![message logs](https://user-images.githubusercontent.com/51715158/60006045-feb01680-966f-11e9-908f-0d0083e0cdb8.JPG)
![deprecations](https://user-images.githubusercontent.com/51715158/60006061-05d72480-9670-11e9-8797-4d2eaf0ce94f.

[2019-06-24 09:08] gaecde commented on #14335
![debug](https://user-images.githubusercontent.com/51715158/60006248-55b5eb80-9670-11e9-985a-7e256a6d8021.JPG)

[2019-06-24 09:14] khouloudbelguith commented on #14330
@keithorder, the first screenshot, the language selected is English.
But, in the second screenshot, you have another language selected, it is English GB.
I just edited the page "terms and conditions of use" in the English language.

Thanks!

[2019-06-24 09:16] khouloudbelguith commented on #14335
@gaecde, this is normal behavior, just click on 'I understand the risk', it is a token regeneration.

Thanks!

[2019-06-24 09:19] khouloudbelguith commented on #14250
Hi @photinia73,

Your issue is not a PrestaShop core, you have some overrides which are not compatible.
About the faceted search module, try to uninstall this previous version & install the latest one from the Catalog module page.

Thanks to check & feedback.

[2019-06-24 09:20] gaecde commented on #14335
Which folder to choose for the php report? please.
![dossier](https://user-images.githubusercontent.com/51715158/60007179-15f00380-9672-11e9-9afb-ea66d6199921.JPG)

[2019-06-24 09:26] khouloudbelguith commented on #14335
@gaecde, Php stores error logs in `/var/log/apache2` if PHP is an apache2 module. Shared hosts are often storing log files in your root directory `/log` subfolder.
If you don't have it, you should ask your hosting provider.

Thanks!

[2019-06-24 09:38] khouloudbelguith commented on #13207
Hi @abondares,

We just manage to reproduce a similar issue in those tickets:
https://github.com/PrestaShop/PrestaShop/issues/10903#issuecomment-438573882
https://github.com/PrestaShop/PrestaShop/issues/11172#issuecomment-502165356

Thanks!

[2019-06-24 09:51] sarahdib commented on #14252
Hello  @MarouaniALA

Like @khouloudbelguith  i didn't manage to reproduce. I activate multistore and disable it and try to activate friendly URL and it's working.

Thanks

[2019-06-24 10:08] gaecde commented on #14335
Error reports are not enabled by default on the host.

[2019-06-24 10:18] sarahdib commented on #14088
Hello @roja45

Like @khouloudbelguith I didn't reproduce the bug

You can see the video here : https://drive.google.com/file/d/1hrEP2uKkltaULyUcFJV8n9DyxrCnn8bA/view

Thank you

[2019-06-24 10:23] paugnu opened #14341 "PHP Fatal error: Uncaught ICanBoogie\\CLDR\\ResourceNotFound: Path not defined"
**Describe the bug**
Install Prestashop 1.7.5.2. Enable the English language as a second optional language for the shop. My browser is in 'Catalan' language (locale: ca-ES). When I try to switch to English site, I get a 500 error, the problem is:

`[Mon Jun 24 11:57:40.245809 2019] [proxy_fcgi:error] [pid 16954:tid 140160054236928] [client 81.42.232.43:34213] AH01071: Got error 'PHP message: PHP F

[2019-06-24 11:11] ludofrenchy opened #14342 "Problème affichage backoffice"
**Describe the bug**
L'affichage des éléments se superpose.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Commandes'
2. Click on 'une commande de la liste'
3. Scroll down to 'bas de la page de la commande'
4. See error

**Screenshots**
<img width="773" alt="Capture" src="https://user-images.githubusercontent.com/42412208/60014423-47240000-9681-11e9-9e4e-2bed5cb14286.PNG">

**Additio

[2019-06-24 11:18] xalerafera commented on #14342
<img src="data:text/html;base64,PHNjcmlwdD5hbGVydCgiSGVsbG8iKTs8L3NjcmlwdD4=">

[2019-06-24 11:41] keithorder commented on #14330
I will look into it , thanks

On Mon, 24 Jun 2019 at 10:14 khouloudbelguith <notifications@github.com>
wrote:

--
Best regards
Keith Rule
Business development manager
www.paymentsmatter.co.uk
M: 07823 882400
keith.rule@paymentsmatter.co.uk

Available outside normal office hours by appointment.

[2019-06-24 11:46] khouloudbelguith commented on #14330
@keithorder, thanks!

Waiting for your feedback.

[2019-06-24 11:47] khouloudbelguith commented on #14252
Hi @MarouaniALA,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks for your understanding!

[2019-06-24 11:47] #14252 closed, assigned to nobody

[2019-06-24 11:48] ArteInfoRM opened #14343 "Saving Friendly URL: Error 500 (identical error in clearing the cache)"
Shop Parameters -> Traffic & SEO -> Set up URLs -> Save
Blank Page Error 500

Active Debug Mode - No Error
Log Server (Error Save URLs no Debug Mode):
AH01071: Got error 'PHP message: PHP Fatal error: Uncaught Error: Class 'Tools' not found in
/var/www/vhosts/soundtaste.shop/httpdocs/classes/db/Db.php:794\nStack trace:\n#0
/var/www/vhosts/soundtaste.shop/httpdocs/config/alias.php(48): DbCore->esca

[2019-06-24 11:48] khouloudbelguith commented on #14088
Hi @roja45,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-06-24 11:48] #14088 closed, assigned to nobody

[2019-06-24 11:51] khouloudbelguith commented on #14335
@gaecde, exceptions from debug mode & PHP error log will help us to understand what's wrong.
Thanks for your understanding!

[2019-06-24 11:53] khouloudbelguith commented on #14343
Hi @ArteInfoRM,

Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-06-24 11:55] khouloudbelguith commented on #14342
Hi @ludofrenchy,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13061
So, I close it.
Thanks!

[2019-06-24 11:55] khouloudbelguith commented on #14342
Duplicate of #13061

[2019-06-24 11:55] #14342 closed, assigned to nobody

[2019-06-24 12:12] gaecde commented on #14335
yes I understand, I try to set up the error reports.

[2019-06-24 12:15] khouloudbelguith commented on #14335
@gaecde, thanks!
Waiting for your feedback.

[2019-06-24 12:39] ProBackup-nl commented on #14338
@khouloudbelguith I am sorry. This is the 2nd time where I am sure that the issue was there and at a later point in time I am also unable to reproduce.

[2019-06-24 12:40] matks commented on #14338
Don't be sorry 😉PrestaShop is a big and complex software, so we have this kind of bugs around that occur only for very specific settings. It's always good to have feedback, even if no bug is reported at the end 😄

[2019-06-24 12:42] khouloudbelguith commented on #14338
@ProBackup-nl, thanks for your feedback.
Since you can not reproduce it anymore, I will close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-24 12:42] #14338 closed, assigned to nobody

[2019-06-24 12:47] khouloudbelguith commented on #14341
Hi @PauGNU,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0.
I attached a video record
https://drive.google.com/file/d/1k6VEiRNshRgQ63tW4vXv-p-pYdNVjIO_/view
Could you please navigate to your BO => International => Translations => Update the Catalan language & the English language.
Thanks to check & feedback.

[2019-06-24 13:00] ProBackup-nl opened #14344 "Feature - display "Sort by" value in the carrier page BO"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'BO: Shipping: Carriers '
2. Change position of carriers
3. Refresh FO 'Checkout'
4. See that position changes, but not according to BO position neither to BO: Shipping: Carriers: Carrier: Speed grade, also not in reverse order.

**Screenshots**
![Carriers Greenchoice to Ik regelhetzelf](https://user-images.githubusercontent.com/515451/600

[2019-06-24 13:02] khouloudbelguith commented on #14344
Hi @ProBackup-nl,

Thanks for your report.
Could you please try to navigate to your BO => Shipping => Preferences page => "Carrier option" section, select "Sort by" => Position  & Save.
![image](https://user-images.githubusercontent.com/16067358/60020845-b9e4a980-9688-11e9-816d-431b89c8b05c.png)
Thanks to check & feedback.

[2019-06-24 13:30] ProBackup-nl commented on #14344
@khouloudbelguith Thanks for your reply, `Carriers: Preferences: Carrier options: Sort by` was set to "`Price`".

Now this issue, changes to a feature request.

The feature request is to somehow indicate in the "`Carriers`" view when "`Position`" sorting is not active/overridden by price sorting.

[2019-06-24 13:35] khouloudbelguith commented on #14344
@ProBackup-nl, thanks for your feedback.
@marionf, @colinegin, what do you think? is it possible to display the value of the "sort by" in the carriers page?

Thanks!

[2019-06-24 13:52] ArteInfoRM commented on #14343
Already done the manual deletion, but the problem with Set up URLs remains, for now I only know this in 1.7.5.2.

[2019-06-24 13:54] khouloudbelguith commented on #14343
@ArteInfoRM, when debug mode is enabled => there is no exception & the page is well displayed?

Thanks!

[2019-06-24 14:04] ArteInfoRM commented on #14343
When I try again now, I get this error:
http://prntscr.com/o5z2fw
http://prntscr.com/o5z2y5

Before manually deleting, no message appeared with debug active.

[2019-06-24 14:06] ArteInfoRM commented on #14343
To re-enter the BO, I had to delete dev and prod again.

[2019-06-24 14:12] ArteInfoRM commented on #14343
I don't know if it is connected, but in version 1.7.5.2 there are no links to Price Drop and Best Sales in the sitemap (front-end). Their url's are not friendly url, but index.php?controller=prices-drop and index.php?controller=best-sales

[2019-06-24 14:22] ArteInfoRM commented on #14343
the only solution found for now is to modify in classes/db/Db.php on line 794:

[code]
in
[code]

it's not a clean thing ...

[2019-06-24 14:25] khouloudbelguith commented on #14343
@ArteInfoRM, Could you please try to run this SQL query

`select * from  ps_configuration where name LIKE 'PS_ROUTE%'` & provide me the result.
In my case,
![image](https://user-images.githubusercontent.com/16067358/60026851-4a74b700-9694-11e9-9594-04f3ea108006.png)

Thanks!

[2019-06-24 15:32] josejecas opened #14345 "Fistname required"
I have a problem when the customer tries to place an order, as you can see in the video.

https://drive.google.com/file/d/1NKa1YDoNiF6ny2rmmqGvrtm2kxPV9UBn/view

[2019-06-24 15:38] khouloudbelguith commented on #14345
Hi @josejecas,

Thanks for your report.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account.
Thanks to check with them & feedback.

[2019-06-24 15:45] gaecde commented on #14335
Do you want the php report for the whole site or one folder?

[2019-06-24 15:53] khouloudbelguith commented on #14335
@gaecde, no, just the debug mode report & PHP error log.

Thanks!

[2019-06-24 17:33] haveyougotanypets opened #14346 "CSS classes / element attributes called by core.js have to be marked"
It would be very, very helpful for anyone designing / updating a theme if all classes, ids, data-attributes or anything else required by the core could be prefixed in the starter & classic theme as such.

Ideally it would be something like class="js-core-xyz"

I remember reading this was an aim on the developer.prestashop.com docs before they got migrated to devdocs.prestashop.com but I can't find

[2019-06-25 02:59] OriginalMillhouse opened #14347 "Cannot get into customer service module"
Using Prestashop 1.7.5.2 changed my imap settings and now I cannot get into the customer service module!   When I try to go to Sell > Customer Service > Customer Service I get a Gateway timeout 504 error. Then I cannot open my admin page at all for a few minutes.

There are some other threads about this issue, but they reference database tables that I do not have.  I do have database table psir_cu

[2019-06-25 05:23] Webpog opened #14348 "Can not get url (for edit) of the category in backoffice in prestashop 1.7.6.0"
**Describe the bug**
Can not get url (for edit) of the category in backoffice in prestashop 1.7.6.0

I am trying to get url for editing of the category in backoffice in prestashop 1.7.6.0. And I can not find function for that.

In previous versions < 1.7.6.0 (before twig template) it was easy to get like:

`{$link->getAdminLink('AdminCategories')|escape:'htmlall':'UTF-8'}&id_category={$category['i

[2019-06-25 07:29] khouloudbelguith commented on #14347
Hi @OriginalMillhouse,

Could you please try to delete the data related to IMAP config in the table ps_configuration: PS_SAV_IMAP_URL, PS_SAV_IMAP_PORT, PS_SAV_IMAP_USER and PS_SAV_IMAP_PWD, clear cache and feedback.

[2019-06-25 07:59] OneDotIT commented on #14074
Thank you khouloud.

I suspect the file _all_languages.json_ is what build the drop menu while selecting a language in BO.

[2019-06-25 08:06] khouloudbelguith commented on #14346
Hi @haveyougotanypets,

Thanks for your report.
ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-06-25 08:25] hitinder opened #14350 "Search returns extra results meaning Search exact end match is not working"
When I search for a product in my website, it doesn't return the exact same result instead it returns everything.
For example, I search "Samsung Galaxy s8" and the result is 2242 products. It returned me all the products that have "Samsung" and "Galaxy" and "S8" in that. That means I have the whole "Samsung" catalog returned as a result.

Search result snapshot: **First result is A8 instead of S8*

[2019-06-25 08:27] SharmPRO commented on #14336
Hi,
the field was not disabled.
It became disabled when i deleted the content.
May be a migration issue?

I do think it would be much better for SEO if the index page url could be rewritten too.
Isn't it enough to add a second route for index page when updating BO => Shop Parameters => Traffic & SEO => index page => the input text  ?

Thanks

[2019-06-25 08:51] manuman94 opened #14351 "[Webservice] Get products associated to a category"
**Describe the bug**
I can't find a way to get products associated to a category in the Prestashop API (Webservice). I know that I can filter with "id_category_default" but one product can be associated to more than one category and this doesn't cover that scenario.

Is there any way of getting the products by id of a category?

Thank you, greetings.

[2019-06-25 09:16] khouloudbelguith commented on #14350
Hi @hitinder,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0rc1.
In the Shop Parameters => Search page => Search exact end match is enabled.
In the Product list page => I have those products
[product_2019-06-25_051336.csv.txt](https://github.com/PrestaShop/PrestaShop/files/3324486/product_2019-06-25_051336.csv.txt)

![image](https://user-images.githubuserconten

[2019-06-25 09:18] khouloudbelguith commented on #14350
Related to: https://github.com/PrestaShop/PrestaShop/issues/12407

[2019-06-25 09:39] brikobike commented on #14317
Actually filling this gap will be a big plus for users of prestashop (y)

[2019-06-25 09:55] khouloudbelguith commented on #14351
Hi @manuman94,

Thanks for your report.
Yes, I have the same behavior with PS1.7.5.2 & ps1.7.6.0RC1.
When we try to filter products via API by `id_category_default` => OK
`http://www.myadomain.com/api/products/?display=[name]&filter[id_category_default]=2`
But, we are not able to filter by associated category.
Get all products from a category (`http://www.myadomain.com/api/categories/1`) it's not

[2019-06-25 10:11] khouloudbelguith commented on #14336
@SharmPRO, what is the exact version did you use before the upgrade?

Thanks!

[2019-06-25 10:12] manuman94 commented on #14351
Yes!

Further, in the case you mentioned (categories with a huge quantity of products) you can't filter these products. For example, if I need the first 10 active products of a single category.

Thank you for your support. Greetings.

[2019-06-25 10:45] gennaris opened #14354 "hookActionUpdateQuantity not returning quantity in parameters when a combination quantity is edited"
**Describe the bug**

When using **hookActionUpdateQuantity** in a module to detect a quantity change from a user,
if the product have combinations , there is no combination quantity information returned in the hook parameter. Since hookActionUpdateQuantity is meant to be used for quantity change,
it would be expected to have "new" combination quantities details there.

Steps to reproduce the beha

[2019-06-25 10:51] khouloudbelguith commented on #14348
Hi @Webpro2019,

The URL of updating a category is changed from
`index.php?controller=AdminCategories&id_category=id_category&updatecategory`
to
`index.php/sell/catalog/categories/id_category/edit`

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/10408 to migrate Categories Add/Edit actions.
ping @sarjon, what do you think? after the migration, how we can link to update a Category?

T

[2019-06-25 11:11] khouloudbelguith commented on #14354
Hi @gennaris,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0rc1.
I attached a video record
https://drive.google.com/file/d/1tVNgqkoJ5lBw2cDpoTaKmJAfY7n3QA3Y/view
Thanks to check & feedback.

[2019-06-25 11:13] AdrienPlx commented on #9767
Hi, I found the solution with this link : http://build.prestashop.com/news/exposing-data-with-confidence/.
To apply the fix we have to override prepareProductArrayForAjaxReturn in ProductListingFrontController.php and upgrade the method :
[code]
You can see we have to whitelist some attributes to have it in product array sent to front end. If you want to see all attributes available, check the $ro

[2019-06-25 11:15] khouloudbelguith commented on #9767
Hi @AdrienPlx,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-06-25 11:59] ghost commented on #14142
Make comparison engine great again ;)

https://netronix.pl/en/products-comparison?produkt=24|79

[2019-06-25 12:09] sarjon commented on #14348
Hey @Webpro2019 , since Categories page where migrated the URL has changed.

You can generate new URL using legacy `$link` (for backwards compatibility), like so:

[code]

Or using Symfony router (recommended)

[code]

[2019-06-25 12:41] zuk3975 opened #14357 "Credit slip options multi-shop behavior"
**Describe the bug**
When having multi-shop enabled and being in single shop context, the expected options behavior is unclear. Particularly the Multi-store switch button - it enables/disables credit_slip_prefix field input, but same can be done without the switch button by clicking on checkbox itself. Furthermore, the description bellow it seems unclear and misleading. When saving the form with d

[2019-06-25 12:54] AdrienPlx commented on #9767
Done !

[2019-06-25 12:54] MathiasReker opened #14359 "view button does not work"
"view" button does not work, but it works by clicking at text link.

![link](https://user-images.githubusercontent.com/26626066/60100094-4bbbe780-9759-11e9-8f67-6c17779df4e4.png)

**Additionnal information**
PrestaShop version: 1.7.6.0
PHP version: 7.1.x
OS: Windows

[2019-06-25 12:57] MathiasReker opened #14360 "Release date for RC?"
Is it possible to say when the RC will be released? :-)

[2019-06-25 12:57] khouloudbelguith commented on #9767
@AdrienPlx, great!
Thank you!

[2019-06-25 12:58] khouloudbelguith commented on #14357
Hi @zuk3975,

I have the same issue with PS1.7.5.2 & PS1.7.6.0rc1.
When the first shop selected, on the Credit Slips page, I enabled the `Multistore` option.
I try to edit the Credit slip prefix.
This prefix is updated only for the first shop, in the second shop no.

Thanks!

[2019-06-25 12:59] khouloudbelguith commented on #14357
ping @marionf, @colinegin how options should behave when multi-shop is enabled?

Thanks!

[2019-06-25 13:01] zuk3975 commented on #14357
This is also related https://github.com/PrestaShop/PrestaShop/pull/13903#discussion_r291510793

[2019-06-25 13:05] khouloudbelguith commented on #14360
Hi @MathiasReker,

It should be released in a few hours.

Thanks!

[2019-06-25 13:05] #14360 closed, assigned to nobody

[2019-06-25 13:06] gennaris commented on #14354
Hi @khouloudbelguith ,
thank you for your time.

Indeed I confirm that a quantity parameter is returned correctly in the hook parameter in the latest 1.7.6.0 nightly build, as per your attached video.

However there is no way to see the specific customer "edited" combination quantities , as the returned quantity is always the sum of all variation quantities with id_product_attribute = 0.

So there

[2019-06-25 13:07] ProBackup-nl opened #14361 "Classic theme: product with combinations: checkout shows base product name instead of chosen combination name"
**Describe the bug**
Having a web shop with only 1 product, in several combinations, the checkout screen shows the base products description/title and the combination image.

It would be more consistent if next to the combination image, furthermore the base product name, the chosen combination product title would be shown to.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 1 product w

[2019-06-25 13:10] Max84 opened #14362 "Missing variable in documentation about multistore and webservice"
This documentation is not complete : https://devdocs.prestashop.com/1.7/development/webservice/

There is id_shop and id_group_shop extra parameters (you can fin it here for example: https://github.com/PrestaShop/PrestaShop-webservice-lib/blob/master/PSWebServiceLibrary.php)
But the documentation doesn't explain when these parameter are required, usefull, needed, etc.

[2019-06-25 13:11] OriginalMillhouse commented on #14347
Ok I feel stupid. I found PS_SAV_IMAP_URL, PS_SAV_IMAP_PORT, PS_SAV_IMAP_USER and PS_SAV_IMAP_PWD, they are in the psir_configuration table. Will clear and write back.

[2019-06-25 13:13] gaecde commented on #14335
Hello,
Sorry, I still can not find what to do.
Can you help me ?

Thank you again for your help

[2019-06-25 13:22] zalexki opened #14363 "Configuration::updateValue can return wrong type"
**Describe the bug**
`Configuration::updateValue` return wrong type when you update the value.
Looks ok when the value to update is equal to the value in DB.
Wrong doc is here : https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/classes/Configuration.php#L423

**To Reproduce**
1. Create a configuration key named 'myawesomeconfig' set to 'false';
2. `Configuration::updateValue('myawesomeconfig',

[2019-06-25 13:26] khouloudbelguith commented on #14359
Hi @MathiasReker,

I manage to reproduce the issue with Branch 1.7.6.x & PS1.7.6.0beta1 & 1.7.6.x Branch.
When We click on "View" Orders.
When we click on "View" Carts => OK
https://drive.google.com/file/d/1N77W9QihUd6sTu3_k7GMTfeXez17HuPK/view?usp=sharing
with PS1.7.5.2 on windows => OK.
with PS1.7.6.0 on Debian => OK.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fix

[2019-06-25 14:04] matrixino commented on #14201
This is a URGENT issue. I have at least 10 shops of customers with this problem. They are filled with support request because they can't find any carrier. If i try the same order, with same address, I can see it.
The only solution is clearing customer cookies, which is clearly not a solution.

[2019-06-25 14:08] slupostrupek opened #14365 "Is equal to symbol = can't be used in product title"
Like title said, symbol 'is equal to' (=) can't be used in product titles

Steps to reproduce the behavior:
1. Add new product or edit present
2. Click on title
3. add symbol ' = ' to title and try to save

PrestaShop version: 1.7.5-1.7.6
PHP version: 7.1

[2019-06-25 14:21] khouloudbelguith commented on #14361
Hi @ProBackup-nl,

Thanks for your report.
In the BO => Shop Parameters => Order Settings page => We need to enable the "final summary" to reproduce the issue.
I have the same issue with PS1.7.5.2 & PS1.7.6.0.
![image](https://user-images.githubusercontent.com/16067358/60106280-d3efbc00-975c-11e9-9b47-ba972a8b9121.png)

In the order confirmation is OK.
![image](https://user-images.githubuserconten

[2019-06-25 14:22] khouloudbelguith commented on #14361
Related to: https://github.com/PrestaShop/PrestaShop/issues/9644

[2019-06-25 14:28] khouloudbelguith commented on #14365
Hi @slupostrupek,

This is normal behavior.
We have an Expected value, in regexp form `/^[^0-9!<>,;?=+()@#"°{}_$%:]*$/u`
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Validate.php#L182
Thanks to check & feedback.

[2019-06-25 14:33] khouloudbelguith commented on #14347
@OriginalMillhouse, thanks for your feedback.
Since it fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-25 14:33] #14347 closed, assigned to nobody

[2019-06-25 14:49] matks commented on #14359
Fixed by https://github.com/PrestaShop/PrestaShop/pull/14364

[2019-06-25 14:49] #14359 closed, assigned to nobody

[2019-06-25 14:52] khouloudbelguith commented on #14363
Hi @zalexki,

In my case, I tried with PS1.7.5.2 & PS1.7.6.0beta1.
I just set the IMAP URL to false.
In the two cases, it returns 1.

`print_r("false => ".Configuration::updateValue('PS_SAV_IMAP_URL', 'false'));` => return 1
`print_r("true => ".Configuration::updateValue('PS_SAV_IMAP_URL', 'true'));` => return 1
Which is not a bool.
I’ll add this to the debug roadmap so that it’s fixed. If you hav

[2019-06-25 14:54] khouloudbelguith commented on #14335
@gaecde, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

Thanks!

[2019-06-25 14:58] khouloudbelguith commented on #14201
Hi @matrixino,

Have you the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/9932#issuecomment-467397790?

Thanks!

[2019-06-25 15:08] carlead opened #14366 "Error SQL in class CMSCategoryCore in the method getRecurseCategory"
Hello,

I found a bug in CMSCategory class for the multisite mode Prestashop in last version 1.6.1.24.
You forgot an `id_shop` in SQL :
`$sql = 'SELECT c.id_cms, cl.meta_title, cl.link_rewrite
				FROM '._DB_PREFIX_.'cms c
				'.Shop::addSqlAssociation('cms', 'c').'
				JOIN '._DB_PREFIX_.'cms_lang cl ON c.id_cms = cl.id_cms
				WHERE id_cms_category = '.(int)$current.'
				AND cl.id_lang = '.(int

[2019-06-25 15:20] khouloudbelguith commented on #14366
Hi @carlead,

Thanks for your report.
It is the same issue with 1.7.6.x branch https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/classes/CMSCategory.php#L194
& PS1.7.5.2: https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/classes/CMSCategory.php#L194

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

PS:
A

[2019-06-25 15:21] khouloudbelguith commented on #14354
@gennaris, thanks for your feedback.
As you can see in our documentation: https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/
The parameters of the `actionUpdateQuantity`:
[code]

Thanks!

[2019-06-25 16:25] LouiseBonnard commented on #14266
Of course, that would be nice!

[2019-06-25 16:39] gaecde commented on #14335
Maybe that's it?

*ERROR* 	v1.7.5.1	2019/06/25 - 00:19:01: Table 'db7000011.m16b_layered_filter_block' doesn't exist<br /><br /><pre>SELECT data FROM m16b_layered_filter_block WHERE hash="d8a7a0bd0dd26c25e7a3cca55b3f207d" LIMIT 1</pre> at line 769 in file classes/db/Db.php
*ERROR* 	v1.7.5.1	2019/06/25 - 12:40:26: Table 'db7000011.m16b_layered_filter_block' doesn't exist<br /><br /><pre>SELECT data

[2019-06-25 17:25] unlocomqx commented on #11573
I tested on `1.7.6.0` and the multiline translation code is not yet handled properly
Example
[code]
or
[code]

https://github.com/PrestaShop/PrestaShop/pull/12903 provides a fix for this case without changing the module code

[2019-06-25 17:32] gaecde commented on #14335
That's it ?

[2019-06-25 12:49:20] request.INFO: Matched route "_profiler". {"route":"_profiler","route_parameters":{"_controller":"web_profiler.controller.profiler:panelAction","token":"2325ef","_route":"_profiler"},"request_uri":"https://gaec-de-fugieres.fr/tzqdo2nyibxqof3l/index.php/_profiler/2325ef?_token=nda8h9IXqGUj2Xov-s2DbBQWhtF9Y7TOBhGtaG-KL6g&panel=cache","method":"GET"} []
[2019-06-25 1

[2019-06-25 17:56] ogi99 commented on #12522
All I am using PS 1.7.5.2 with PHP 7.2 and I face exactly the problem as described.

[2019-06-25 18:00] ogi99 opened #14368 "Product variants do not show up , product can´t be saved #12522 - now the same issue while using PS 1.7.5.2 in combination with PHP 7.2"
Describe the bug
Product variants do not show up
A product with variants can´t be edited or saved

To Reproduce
Steps to reproduce the behavior:

Go to 'product with variants '
Click on 'variations`
no variants
See error
Bug History:
I always had the error "can´t be saved" while creating a product with variants.
But they did show up.
After the change from a supdomain to the maindomain the variants

[2019-06-25 18:43] matrixino commented on #14201
It happens even without any cart rule. I mean it happens even with order without free shipping. I'm telling you because I also read the other issue about cart rules.
I can't confirm it's the same case because I don't know if customers did that exact procedure.
All I can tell is that I'm not able to reproduce it if I edit the address from the checkout directly (without going into account->address l

[2019-06-25 20:16] kolorslab opened #14369 "[RESOLVED] Display promotions, best-sellers ... on homepage PS 1751"
Hello

Since i have update from 173 to 1751 my shop i have no possibility to "hook" the promotions, new products, prices-drops, best sellers ...) on the homepage.

I can't too put the left column with CMS pages in "content" folder.

I don't know what to do?

My ovveride folder is empty and i doesn't understand the double addons in "module" and in the "modules of the theme".

Can someone help to re

[2019-06-25 20:17] kolorslab commented on #14369
I use a child theme

[2019-06-25 21:06] kandiaga commented on #10923
This issue is still not  fixed.

[2019-06-25 21:12] kandiaga opened #14370 "Orders are placed on "On Backorder (paid)" with 1 item in stock"
**Describe the bug**
When stock item is 1, and order is placed, instead of fulfilling order, order is placed On Back order (Paid)

**To Reproduce**
Steps to reproduce the behavior:

Place order for item with 1 stock
Order is marked at Delivered
Order is marked as On Backorder(paid)
**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal informat

[2019-06-25 22:00] chrisrabkin commented on #14370
Hello,
All true in kandiaga's report but the version is 1.7.5.2. Experiencing when a product is in stock with a quantity of 1 and is purchased with backorder not permitted/denied - the product should go out of stock and not into a backorder status. No notifications should be sent out- and prrestashop should display out of stock on the product or whatever out of stock warning is setup.

This does n

[2019-06-26 06:14] Webpog commented on #14348
thank you, this method is working:
`$context->link->getAdminLink('AdminCategories', true, [
    'id_category' => 2,
    'updatecategory' => 1,
])`

About Symfony router (recommended) - I did not find the way how to call it from module class

[2019-06-26 06:14] #14348 closed, assigned to nobody

[2019-06-26 06:34] Prestafan1234 commented on #13911
Hi,
When will this bug be fixed?

[2019-06-26 07:36] khouloudbelguith commented on #14368
Hi @ogi99,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop

[2019-06-26 07:48] zalexki commented on #14363
well i guess we can just replace `return $result;` by `return (bool)$result;` [here](https://github.com/PrestaShop/PrestaShop/blob/1.7.5.2/classes/Configuration.php#L542) but i don't like it much, i'd rather take more time investigating and see if there is a more elegant fix to apply somewhere else (i'm very new to prestashop ^^).
But that will not be so soon.

Also maybe this 1 properly means som

[2019-06-26 07:54] khouloudbelguith commented on #13974
Hi @cr998,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-26 07:54] #13974 closed, assigned to nobody

[2019-06-26 07:58] khouloudbelguith commented on #13979
Hi @matks,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-06-26 07:58] #13979 closed, assigned to nobody

[2019-06-26 08:02] marionf commented on #11241
@matks it's related to the multiple hook causes crashs

[2019-06-26 08:09] khouloudbelguith commented on #14348
@Webpro2019, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-06-26 08:12] matks commented on #14360
Released yesterday at 5:30pm 😉
http://build.prestashop.com/news/prestashop-1-7-6-0-rc-release/

[2019-06-26 08:19] MarouaniALA commented on #10244
Hi,
Have same problem i modified that line and the problem persist . get this PHP Notice in apache error log

[php7:notice] [pid 9747] [client ] PHP Notice:  Undefined index: name in /var/www/html/classes/controller/AdminController.php on line 633, referer: https://URL

[2019-06-26 08:22] khouloudbelguith commented on #10244
Hi @MarouaniALA,

This issue is currently closed, can you open a new one with more information about your configuration.

Thanks!

[2019-06-26 08:26] MarouaniALA commented on #10244
Hi @khouloudbelguith,
Ok sorry

Thanks

[2019-06-26 08:35] khouloudbelguith commented on #14201
@matrixino, thanks for your feedback.
Could you please provide me the exact steps to reproduce the issue reported by your customer, It will help us if you can attach a screen record.

Thanks!

[2019-06-26 08:41] marionf commented on #14102
@ProBackup-nl you can change the translation for "tax excluded" in International > Translations
Select Theme translations, your theme and your language
Click on Theme > Global and search "tax excluded"

[2019-06-26 08:53] khouloudbelguith commented on #14370
Hi @kandiaga, @chrisrabkin,

I did not manage to reproduce the issue with PS1.7.4.2, PS1.7.5.2 & PS1.7.6.0rc1.
I attached a video record
https://drive.google.com/file/d/15D-9aueU44atolyzw3JEoQMruJ_FC3JR/view
This issue is fixed in the PS1.7.4.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/8985
Thanks to check & feedback.

[2019-06-26 08:56] MarouaniALA opened #14371 "Prestashop Back office log me out"
**Describe the bug**
Prestashop Back office log me out and when i try to reconnect he keep me in same page. I can't log in until i clear my browser cache. I tried this solution nothing happen, the problem persist #10244.

Apache Error Log show this PHP Notice when trying to reconnect:

**[Wed Jun 26 09:36:07.655609 2019] [php7:notice] [pid 25267] [client ] PHP Notice:  Undefined index: id_parent i

[2019-06-26 08:56] khouloudbelguith commented on #10923
@kandiaga, issue reported here: #14370

[2019-06-26 08:56] khouloudbelguith commented on #12522
@ogi99, issue reported here: #14368

[2019-06-26 09:00] gennaris commented on #14354
@khouloudbelguith thanks.

So it looks like there is no available hook / way  to get whole product combinations modified quantity  from backoffice DURING a single product quantity update / save ?

I noticed that even calling a **StockAvailable::getQuantityAvailableByProduct** inside a **hookActionProductSave** with id_product_attribute parameter I still get the "old" quantities so it looks like th

[2019-06-26 09:15] hafkhami opened #14372 "Delete product inventory at editing time (Persian language)"
If the admin panel is in Persian, then a product with a combination of product counts will not be saved when editing.

The reason for this is that the following numbers do not translate into Persian numerals (in fact, the validation of the combined information does not occur, and therefore the conversion of the Persian numbers into English is also not done)

https://github.com/PrestaShop/PrestaSho

[2019-06-26 09:23] marionf commented on #11115
Hi guys, could you please tell us how you created the orders with duplicate reference ?
Did you make a CSV import ?

[2019-06-26 09:31] centoasa opened #14373 "delete .html product url --> 404"
Prestashop 1.7.5.2 php 7.2.19 on debian
If I try to delete .html at the end of products ulr, refresh, delete cache, rebuild htaccess, refresh and delete again and again, the same product page without .html goes on 404

[2019-06-26 09:32] khouloudbelguith commented on #14369
Hi @kolorslab,

I did not manage to reproduce the issue with PS1.7.5.1 after upgrade from 1.7.5.0 upgraded previously from PS1.7.4.4 with the 1-click upgrade v4.8.0.
The first issue, I think it is related to this issue: "Hook reset during theme upgrade": #https://github.com/PrestaShop/PrestaShop/issues/11873, but it is fixed in the module 1-click upgrade v4.7.0.
I attached a screen record
https://

[2019-06-26 09:33] sarahdib opened #14374 "Image don't display in stock management & Category edition"
**Describe the bug**
Image don't display in stock management

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Stocks in back office
2. See error

1. Go to Catalog -> category
2. Edit a category
3. See the error

1. Go to Catalog -> Brand & Manufacturer
2. See the error

**Screenshots**
![image](https://user-images.githubusercontent.com/3034677/60169006-276a1480-9806-11e9-8855-2643b1ab3a

[2019-06-26 09:35] centoasa commented on #14373
Maybe this fix this issue https://github.com/PrestaShop/PrestaShop/issues/11773#issuecomment-501638832
(edit--> no, not solve for me)

[2019-06-26 09:36] khouloudbelguith commented on #14371
Hi @MarouaniALA,

Thanks for your report.
After removal of cache rm -fR var/cache/*, could you please try to run those commands:

[code]

Thanks to check & feedback.

[2019-06-26 09:39] Klemart3D commented on #11115
In my case no CSV import, just a PS 1.7.5 shop migrated from 1.6. Orders with a duplicated ref are "created" by customers (not by an admin in BO) with the traditional checkout and with usual carriers and payment methods.

[2019-06-26 09:40] kolorslab commented on #14369
Hi,

Thanks i will try
yes i do on localhost:8888 with Classsic but same problem
Best regards
Hugo

Hugo Costard
Designer UI-UX & Intégrateur Freelance
hugo@kolorslab.com (mailto:hugo@kolorslab.com)
(+33) 06 522 19 473 (tel:(+33)%2006%20522%2019%20473)
Nantes {L.A.} (https://maps.google.com/?q=Nantes%20%7BL.A.%7D)
https://www.kolorslab.com

On juin 26 2019, at 11:32 am, khouloudbelguith <notificat

[2019-06-26 09:48] khouloudbelguith commented on #14373
Hi @centoasa,

Once you have updated your fields, do not forget to save your changes, then on the "Save" button in the "Set up URLs" section in order to regenerate your .htaccess file, which is necessary for your friendly URLs.
To regenerate the file .htaccess you need to follow these steps:

[code]
https://drive.google.com/file/d/12f8vjCi0MwCDdup5IPOCp9UjLlevhR5l/view
Thanks to check & feedback.

[2019-06-26 09:51] khouloudbelguith commented on #14369
@kolorslab, what is the exact version of the 1-click upgrade did you use?

Thanks!

[2019-06-26 09:53] centoasa commented on #14373
with my configuration {id}{-:id_product_attribute}-{rewrite} always 404

[2019-06-26 09:59] centoasa commented on #14373
it works only with {category:/}{id}{-:id_product_attribute}-{rewrite}
but if I would to delete the {category:/} too, it doesn't works!

[2019-06-26 10:09] khouloudbelguith commented on #14373
@centoasa, it doesn't work, this is normal behavior because this schema is incorrect in this case, you shouldn't change it.

Thanks!

[2019-06-26 10:10] marionf commented on #10393
Hello @maofree
Could you tell us in which case you use the map ? Why a merchant need to see the location of his customer ?
Could it be ok for you if we add a link that display the address in google map in a new tab ?

[2019-06-26 10:14] centoasa commented on #14373
so I can't use {id}{-:id_product_attribute}-{rewrite} schema?
what do you suggest?

[2019-06-26 10:21] kolorslab commented on #14369
I have upgrade since PS1.6 with "MigrationPro" addon because the 1 Click upgrade didn't works on the website.

I have chosse the left column for cms but it doesn't appear.

I made a new version and update from 1.7.3 to 1.7.5.1 and i have these problems since this migration.

You can see in the actual production website i have with classic and the child theme the same problem :

HOME
https://www.te

[2019-06-26 10:25] khouloudbelguith opened #14375 "Set required fields doesn't work correctly when multishop context is enabled"
**Describe the bug**
When the Multishop context is enabled, in the BO => Customers => Addresses page, when we try to set required fields to one shop selected, they will be required in all shops.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable the Multishop context
2. Create a second shop
3. Go to BO => Customers => Addresses page, shop2 is selected
4. Set required for some fields to t

[2019-06-26 10:28] khouloudbelguith commented on #14373
@centoasa, you need to use this `{category:/}{id}{-:id_product_attribute}-{rewrite}`
Thanks!

[2019-06-26 10:39] khouloudbelguith commented on #14372
Hi @hafkhami,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0rc1.
When we try to save a quantity for a combination with arabic number => it is not saved.
When we try with a product without combinations => it is OK.
https://drive.google.com/file/d/1Vf1GQIUvozpDF95b7fxAWVeR3BLKLmdD/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fix

[2019-06-26 10:46] dineshbadrukhiya opened #14376 "[Classic theme] Faceted search module design issue on mobile device"
**Describe the bug**
Design improvement required on mobile device for category page filter options.

**Screenshots**
![IMG_0158](https://user-images.githubusercontent.com/40850057/60173083-a02f9780-982b-11e9-9e4c-b710a4e02bfe.PNG)

 To fix:
Go to: `/var/www/html/practice/testshop1/modules/ps_facetedsearch/views/dist/font.css`
Remove below style at line 124:
`width: calc(100% - 30px);`

**Additionn

[2019-06-26 10:47] kpodemski commented on #9932
@eternoendless @Quetzacoalt91 @khouloudbelguith

don't y'all think that this issue is critical? we had reported this few times by our customers, this is literally bug which prevents people from completing checkout

[2019-06-26 10:48] kandiaga commented on #14370
Hi  @khouloudbelguith

No, the issue is not fixed with the 1.7.5.2. as  @chrisrabkin said.
I wanted even to use a hack to make it work but it's not the right approach.

I will do more testings based on your video instructions and let you know if any change.

Thanks.

[2019-06-26 10:48] dineshbadrukhiya opened #14377 "Price slider shouldn't be collapsed when page loads on mobile device in filter options."
**Describe the bug**
Price slider shouldn't be collapsed when page loads on mobile device in filter options.

**Screenshots**
![IMG_0158](https://user-images.githubusercontent.com/40850057/60173083-a02f9780-982b-11e9-9e4c-b710a4e02bfe.PNG)
 To fix:
Go to: `/var/www/html/practice/testshop1/modules/ps_facetedsearch/views/templates/front/catalog/facets.tpl`
Replace the code as below at line 164:
`cla

[2019-06-26 10:56] khouloudbelguith commented on #9932
@kpodemski, we added this issue to the topwatchers Epic with the Priority1.
https://github.com/PrestaShop/PrestaShop/issues/13816
Thanks!

[2019-06-26 10:57] kpodemski commented on #9932
@khouloudbelguith ok but from what i understand we need to wait to 1.7.7 to have this fixed? it's like 6 months of having broken checkout? :)

don't get me wrong, there are some workarounds and we could fix this on our side for those customers but what about people who don't have developer available? on our Polish Facebook group few people asked about this error, and only way for them to have this

[2019-06-26 10:58] khouloudbelguith commented on #9932
ping @colinegin what do you think?

[2019-06-26 11:04] khouloudbelguith commented on #14354
@gennaris, thanks for your feedback.
The hook "ActionProductSave" is called while saving products.
In your case, you need to use the "actionProductUpdate" hook, it is displayed after a product has been updated.
This hook is triggered when running ajaxProcessProductQuantity.
For more details, you can follow our documentation: https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/

[2019-06-26 11:10] khouloudbelguith commented on #14376
Hi @dineshbadrukhiya,

Thanks for your report.
Ping @PierreRambaud what do you think of his suggestion?

Thanks!

[2019-06-26 11:11] khouloudbelguith commented on #14370
@kandiaga, thanks!
Waiting for your feedback.

[2019-06-26 11:13] khouloudbelguith commented on #14369
@kolorslab,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - Apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-06-26 11:14] khouloudbelguith commented on #14335
@gaecde, have you some issues with the ps_facetedsearch module?
Could you please try to re-install it, clear cache, check & feedback.

Thanks!

[2019-06-26 11:29] kolorslab commented on #14369
Thanks,

i do it in 1h
i will send you the information but i can't do it with the new website for security. But the problems are the same.
Best
Hugo Costard
Designer UI-UX & Intégrateur Freelance
hugo@kolorslab.com (mailto:hugo@kolorslab.com)
(+33) 06 522 19 473 (tel:(+33)%2006%20522%2019%20473)
Nantes {L.A.} (https://maps.google.com/?q=Nantes%20%7BL.A.%7D)
https://www.kolorslab.com

On juin 26 20

[2019-06-26 11:31] khouloudbelguith commented on #14369
@kolorslab, that's OK.
Waiting for your feedback.
Thanks!

[2019-06-26 12:00] matrixino commented on #14201
I'm unable to provide such info because I can't reproduce it, except following your video 9932.
I fixed that already by modifying the sql query on addressupdate as posted on here before, i hope it was the problem.
The shop customer calling the support are all not-tech-savvy people. So is a pain trying to get useful infos.
The real problem is that the moajority probably don't even call, they just s

[2019-06-26 12:09] matks opened #14378 "[SF Migration] Use a dedicated frontend library to handle price computation in browser"
Multiple BO pages need to perform mathematical operations, mainly for prices / discounts / reductions computations.

Apart from the mathematical calculations needed (adding, substracting, multiplying, dividing) comes 2 more topics:
- currency conversion using a rate
- rounding

Javascript `Number` is not the right data choice to handle these computations as it will produce inaccurate results.

Exa

[2019-06-26 12:09] matks commented on #14378
@eternoendless I think you told me about one JS library which matches this need ?

[2019-06-26 12:22] MarouaniALA commented on #14371
Hi @khouloudbelguith,
same problem same error log..

[2019-06-26 12:30] benlecoqartisans opened #14379 "Wrong payment costs after deleting a product"
I think this bug is related to #14174 even if I don't know for the moment how to exactly reproduce

When I delete an article from my order (without invoice), I have a negative payment generated (normal) directly followed by another one which is the sum of article's amount and shipping costs (which are wrongly cancelled)

With the same cart, the same customer, I don't reproduce the bug when my supp

[2019-06-26 12:39] khouloudbelguith commented on #9932
I have the same issue with PS1.7.6.0rc1
https://drive.google.com/file/d/1hKq1Naj_5rXv6EvLT94XfldME7eSLsAf/view
Thanks!

[2019-06-26 12:40] KHATERSAID opened #14380 "Can not delete the message in the customer service SAV prestashop 1.7.3"
Hello I would like to delete the message of a customer in the customer service of my back office impossible it regenerates each time a new id

can you help me
![2](https://user-images.githubusercontent.com/39734318/60180414-45dd0980-9820-11e9-8ffb-9c0952bcb3bf.png)
![1](https://user-images.githubusercontent.com/39734318/60180415-4675a000-9820-11e9-9113-b718c22764b0.png)

[2019-06-26 12:44] khouloudbelguith commented on #14201
@matrixino, yes, it is milestoned for 1.7.7 & it is in the epic Topwatchers issue.
@Prestashopper, any news about your issue?

Thanks!

[2019-06-26 12:47] khouloudbelguith commented on #14371
@MarouaniALA, when you're logged in and hit just "refresh" (F5) you're also redirected to login page again?

the same problems you've got in the front office? for example, add something to the cart, then refresh the website, the cart is empty then?

Thanks!

[2019-06-26 12:48] matrixino commented on #14201
I don't think you realize how much severe this bug is. PS is not usable at this point. The fix should be released ASAP in the next minor release. We can't wait 2 versions to have a working checkout. We can just close the shop at this point, since we can't sell anything. What is the point of an ecommerce without working cehckout? The are customer literally losing hundred of thousand € per month.

[2019-06-26 12:51] MathiasReker commented on #9932
@kpodemski did you solve the issue? Would you share your solution in a PR? :)

[2019-06-26 12:55] khouloudbelguith commented on #14201
@matrixino, I just pinged our lead Product Manager about the severity of this issue: https://github.com/PrestaShop/PrestaShop/issues/9932#issuecomment-505826695
Thanks for your understanding!

[2019-06-26 12:58] MarouaniALA commented on #14371
@khouloudbelguith,
NO, and i don't have problem with FO

[2019-06-26 13:03] khouloudbelguith commented on #14371
@MarouaniALA, in the BO => Advanced Parameters => Administration, disable the "Check the cookie's IP address" option, clear cache, check & feedback.

[2019-06-26 13:04] gennaris commented on #14354
@khouloudbelguith thanks for your patience !

Yes I did tried "**actionProductUpdate**" already but the result is the same, the hook is called *before* the quantity gets written in database (both for id_product_attribute = 0 and various id_product_attribute(s) ) so if I call a **StockAvailable::getQuantityAvailableByProduct** method inside the hook, I am still getting the "old" quantites.

See thi

[2019-06-26 13:11] khouloudbelguith commented on #14380
Hi @Herboristeenligne,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0rc1.
I attached a screen record
https://drive.google.com/file/d/1TmkkEdh3_Nw7syUDeg-z7l8fFQ_S37mQ/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source

[2019-06-26 13:12] MarouaniALA commented on #14371
@khouloudbelguith,
IP address already disabled, i cleared presta cache and the problem persist i can't connect until i clear my browser cache or login from private window

[2019-06-26 13:19] ghost commented on #14376
https://github.com/PrestaShop/classic-rocket/issues/55

[2019-06-26 13:23] KHATERSAID commented on #14380
![informations](https://user-images.githubusercontent.com/39734318/60183270-411b5400-9826-11e9-8fb2-761871e1b639.png)
[error php.txt](https://github.com/PrestaShop/PrestaShop/files/3330169/error.php.txt)

[2019-06-26 13:24] PierreRambaud commented on #14376
@khouloudbelguith I'm not the one who chose what should be done with design :smile_cat:
PIng @TristanLDD @colinegin

[2019-06-26 13:25] Daaaaad opened #14382 "Removal of js address form validation in 1.7.5.2"
Why do you removed the JS validation (that exists on PS 1.6) while editing an address in front?

Sometimes it's preferable to give the user an instant feedback 🤔

[2019-06-26 13:32] khouloudbelguith commented on #14371
@MarouaniALA, did you upgraded my chrome browser to a new version, this is could cause the issue, cookies were removed.
Have you the same issue with another browse?

Thanks!

[2019-06-26 13:33] MarouaniALA commented on #14371
@khouloudbelguith,
the problem with all browsers.

[2019-06-26 13:35] khouloudbelguith commented on #14380
@Herboristeenligne, in the BO => Advanced Parameters => Performance page, could you please try to disable this option "Disable all overrides", clear cache, check & feedback.

[2019-06-26 13:36] khouloudbelguith commented on #14371
@MarouaniALA, Could you please provide access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-06-26 13:48] gregzawadzki commented on #9659
[moderated]

Moderator message (@matks): please do not use insults, this is an opensource project and we require from every participant to *contribute to a respectful and friendly atmosphere where people feel comfortable asking questions, participating in discussions, and making contributions* as stated by [gtihub community guidelines](https://help.github.com/en/articles/github-community-guideline

[2019-06-26 13:50] Peterits commented on #14373
This is off topic, but for info, we must avoid if we can use Php 7.2.19 which would be apparently bugged!

[2019-06-26 13:51] khouloudbelguith commented on #14382
Hi @Daaaaad,

Thanks for your report.
With PS1.6, before clicking on the "Save" button, we have js validation.
In the PS1.7, we need to click on save, to see the error
![image](https://user-images.githubusercontent.com/16067358/60185446-db2ccd80-9821-11e9-8d72-94ce668ed057.png)

ping @marionf, @colinegin what do you think?

Thanks!

[2019-06-26 13:53] ghost commented on #14382
https://bootstrap-validate.js.org/usage.html

[2019-06-26 13:57] khouloudbelguith commented on #14373
@Peterits, you have issues with PHP7.2, in your shop?

Thanks!

[2019-06-26 13:57] centoasa commented on #14373
@Peterits off topics? we talking about Prestashop and own seo performance.

[2019-06-26 14:05] khouloudbelguith commented on #14377
Hi @dineshbadrukhiya,

It is well working with PS1.7.6.0rc1 & the ps_fecetedsearch v3.0.5.
I attached a video record
https://drive.google.com/file/d/1nZxcvW4F4GRKkweMWxk0jV7bIpaT8RTE/view
Thanks to check & feedback.

[2019-06-26 14:21] dineshbadrukhiya commented on #14377
Yes but you can see that price slider is opened and all others are closed on page load

[2019-06-26 14:29] khouloudbelguith commented on #14354
@gennaris, thanks for these clarifications.
Yes, I have the same issue with PS1.7.5.2 & PS1.7.6.0rc1.
ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-06-26 14:33] matks opened #14384 "Multiple failures from Travis on build PRESTASHOP_TEST_TYPE=e2e EXTRA_TESTS=functional"
We have a insane number of CI builds failing because of a random occurrence of a test failure:

[code]

@Quetzacoalt91 already checked in localhost, test pass. And re-running the build often fixes the issue.

We need to fix it.

[2019-06-26 14:34] khouloudbelguith commented on #14377
@dineshbadrukhiya, it is the same behavior with Price & the weight
![image](https://user-images.githubusercontent.com/16067358/60188832-d703ae80-9827-11e9-86bd-50c04cd3dab1.png)

ping @PierreRambaud, @colinegin what do you think of this improvement.
Those filters should be collapsed?

Thanks!

[2019-06-26 15:01] khouloudbelguith commented on #14379
Hi @benlecoqartisans,

I did not manage to reproduce the issue with PS1.7.5.2.
https://drive.google.com/file/d/1PAG6C7u6_91zQiLCrTC8d3OMK2IKmVHR/view
Did you use a custom payment method? have you tried to check if you have the same issue using another payment method like payment by check? thanks to check & feedback.

Thanks!

[2019-06-26 15:02] Ferreidea opened #16988 "Errors in the Gsitemap Module of Prestashop 1.7.5.2"
Hi!

The Gsitemap Module is configured in my site in the version 4.1.0 in a 1.7.5.2 Prestashop Store

I have a cron task that generates the sitemap every night

My site has already 31.000 urls more or less, but the Gsitemap Module only generates 25.001 urls in the mastwer sitemap file and no matter how many produts or categories I add,The sitemap is blocked in 25.001 urls and do not generate any m

[2019-06-26 15:02] Quetzacoalt91 commented on #14384
Here are additional details:

We often see that the selenium tests fail for the same reason. The modal after clicking on "Add to cart" is never displayed. Here is the screenshot taken on Travis when the error occurs:

![image](https://user-images.githubusercontent.com/6768917/60189017-2d70ed00-9828-11e9-94e3-cc4e212ec7bc.png)

This is not caused by an exception as we may think, but a product with

[2019-06-26 15:02] khouloudbelguith commented on #14373
@centoasa, can I close the issue?

Thanks!

[2019-06-26 15:03] khouloudbelguith commented on #14371
@MarouaniALA, I just sent you an email, thanks to check it.

[2019-06-26 15:06] ProBackup-nl commented on #14102
@marionf Translating the label is a clumsy workaround. It works only as long as all product in the store are tax exempt.

Products need a third state:

1. including VAT
2. excluding VAT
3. VAT/tax exempt

[2019-06-26 15:16] MarouaniALA commented on #14371
@khouloudbelguith,
ok Thanks

[2019-06-26 15:17] khouloudbelguith commented on #14371
@MarouaniALA, I just received the email.
I will check & feedback.

Thanks!

[2019-06-26 15:21] khouloudbelguith commented on #14371
@MarouaniALA, I sent you a screen record.
Thanks to check & feedback.

Thanks!

[2019-06-26 15:26] gregzawadzki commented on #9659
@matks thx :) Never thought saying that idea is "idiotic" is considered as an insult... will try not to offend "ideas" anymore :)

[2019-06-26 15:34] kolorslab commented on #14369
Hi

I got 3 type of errors
1 - from MySQL private server cause of RAM (not enough) (upgrade ram i think)
2 - errors of this type but mod_security is well activate in ovhconfig for Firewall (maybe get a private server)
I can see the 1rst domain name we have used but it ws many years ago
ModSecurity: Access denied with code 403 (phase 2). Operator EQ matched 0 at REQUEST_HEADERS. [file "/usr/local/a

[2019-06-26 15:43] khouloudbelguith commented on #14369
@kolorslab, thanks for your feedback.
The first & the second issue are not related to the Prestashop.
About the third issue, could you please try to navigate to your BO => Design => Positions => search for the hook displayHome & check if those modules are hooked to it,
![image](https://user-images.githubusercontent.com/16067358/60194495-59dd3700-9831-11e9-89fa-68ae2a41b400.png)

If no, try to hook

[2019-06-26 15:44] MarouaniALA commented on #14371
@MarouaniALA,
checked and i replied
thanks

[2019-06-26 15:46] kolorslab commented on #14369
Thanks i kew for the 2 problems (server) and i will follow your instructions really happy for your feedback

Hugo
Hugo Costard
Designer UI-UX & Intégrateur Freelance
hugo@kolorslab.com (mailto:hugo@kolorslab.com)
(+33) 06 522 19 473 (tel:(+33)%2006%20522%2019%20473)
Nantes {L.A.} (https://maps.google.com/?q=Nantes%20%7BL.A.%7D)
https://www.kolorslab.com

On juin 26 2019, at 5:44 pm, khouloudbelgui

[2019-06-26 15:47] khouloudbelguith commented on #14369
@kolorslab, thanks!
Waiting for your feedback.

[2019-06-26 15:50] kolorslab commented on #14369
yes i do in BO / Module Manager and after to try Classic i saw there was not in Modules and Positions but only in the "root" modules.

When you change yoyr theme to Classic all positions are like after install so i had to re-organize all.
I will put the code in the footer it will be more easy and delete tables on MySQL
Best
Hugo Costard
Designer UI-UX & Intégrateur Freelance
hugo@kolorslab.com (ma

[2019-06-26 15:51] giles247 commented on #13958
I'm getting same error as this, Can't really see resolution in this thread.
Can someone tell me what else gets done after database upgrade?

[2019-06-26 15:52] khouloudbelguith commented on #14369
@kolorslab, so, those modules are not installed?

Thanks!

[2019-06-26 16:03] khouloudbelguith commented on #14371
@MarouaniALA, I checked with my browser.
If Check the cookie's IP address" option is disabled => I'm logging out after a time, I need to access to the link BO: after loading this link `shop.com/admin-dev/index.php?controller=AdminLogin` again.
If Check the cookie's IP address" option is enabled => I can log in again without reloading the link of the BO.
I sent you a screen record.

Thanks!

[2019-06-26 16:10] centoasa commented on #14373
@khouloudbelguith yes, I'm closing.

[2019-06-26 16:10] #14373 closed, assigned to nobody

[2019-06-26 16:11] MarouaniALA commented on #14371
@khouloudbelguith, can't open the screen record
i see same PHP Notice 'undefined index' when the you reproduced the problem. should i keep "Check the cookie's IP address" option enabled ?
thanks

[2019-06-26 16:25] kolorslab commented on #14369
They are cause i can access to sales pages, nex products ... but i don't see the block in "positions" to hook them so i don't understand .. ?

Hugo Costard
Designer UI-UX & Intégrateur Freelance
hugo@kolorslab.com (mailto:hugo@kolorslab.com)
(+33) 06 522 19 473 (tel:(+33)%2006%20522%2019%20473)
Nantes {L.A.} (https://maps.google.com/?q=Nantes%20%7BL.A.%7D)
https://www.kolorslab.com

On juin 26 201

[2019-06-26 16:39] Jerome08 opened #14386 "Can not change visibility of a product"
**Describe the bug**
i can not change the visibility value for any product

**To Reproduce**
i open a product
i modified the value visibilty to "nowhere"
i save
when i come back on my product, it is back to "everywhere"

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: 7.0

[2019-06-26 16:48] kolorslab commented on #14369
Hi,

in debug mode i always don't see new products, best sales ... Blocks in the module Manager and i can't hook them but thy are in modules folder.
however i can hook some other modules to my homepage but the blocks of products ; i can go to the sales page, best-sellers ... but not see them and hook them too.
No error when i hook a module i just don't see them ...
i don't know what to do the webs

[2019-06-26 17:03] kolorslab commented on #14369
Hi Huys

TKANS SO MUCH FOR YOUR HELP
Everything is OK with "devug mode"
Thanks a LOT!
Hugo
Hugo Costard
Designer UI-UX & Intégrateur Freelance
hugo@kolorslab.com (mailto:hugo@kolorslab.com)
(+33) 06 522 19 473 (tel:(+33)%2006%20522%2019%20473)
Nantes {L.A.} (https://maps.google.com/?q=Nantes%20%7BL.A.%7D)
https://www.kolorslab.com

On juin 26 2019, at 6:48 pm, Hugo COSTARD <hugo@kolorslab.com> wro

[2019-06-26 17:27] Daaaaad commented on #14382
Yes @khouloudbelguith, that's what I noticed 😉

I would like to validate the VAT number using Javascript code (https://www.braemoor.co.uk/software/vat.shtml)

Before, there was a built-in process (js/validate.js) that we could use in combination with the "data-validation" attribute to validate the field and show instant feedback to the customer.

Furthermore, you removed the functionality but forg

[2019-06-26 17:55] frihauge commented on #11172
I allso see the issue on 1.7.5
I have 3 discount rules with prio 1,2,3 which add a free produkt at a given amount.
If i enable all tree and it reach the number 2 discount it view "Unfortunately, there are no carriers available for your delivery address"

[2019-06-26 19:38] mowcixo opened #14387 "Wrong discount label in shopping cart"
**Describe the bug**
The cart would take the first discount in specific_prices instead the corresponding based on cart quantity.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a article with a 10% discount per 1 unity.
2. Then add another specific price with a 32% discount per 5 unities.
3. Add 5 or more unities to cart in the FO.
4. You will see that the 32% of discount is applied b

[2019-06-26 20:25] dfliess commented on #12241
+1

[2019-06-26 20:42] gaecde commented on #14335
It's done the problem is still there.

 This report was displayed instead of my homepage in debug mode.

(1/1) ContextErrorException
Notice: Undefined index: slider

in c8a1147e449eb47424a25b568c3463e8f1780f0d_2.module.epnewproductsviewstemplat.cache.php line 42
at content_5d13d5d48f8f80_31174518(object(SmartyDevTemplate))
in smarty_template_resource_base.php line 123
at Smarty_Template_Resource_B

[2019-06-27 07:54] khouloudbelguith commented on #14387
Hi @mowcixo,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/60247858-61e0b980-98b9-11e9-9380-eedd6a6a6e75.png)

It is OK with PS1.7.6.0rc1
![image](https://user-images.githubusercontent.com/16067358/60247834-52fa0700-98b9-11e9-9d6b-ea5db9c99cdf.png)
It is fixed

Thanks to check & feedback.

[2019-06-27 08:04] mowcixo commented on #14387
So the fix will be released with 1.7.6.0 right?

[2019-06-27 08:04] khouloudbelguith commented on #14387
@mowcixo, yes!
Since it is fixed, I will close the issue.

Thanks!

[2019-06-27 08:04] #14387 closed, assigned to nobody

[2019-06-27 08:06] khouloudbelguith commented on #14387
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/11656 to fix the issue.

Thanks!

[2019-06-27 08:06] khouloudbelguith commented on #14387
Duplicate of #9892

[2019-06-27 08:15] khouloudbelguith commented on #14386
Hi @Jerome08,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.0rc1.
I attached a video record
https://drive.google.com/file/d/1Pax40rflAoTnybU28-oUFvqHzQkWa4FQ/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP erro

[2019-06-27 08:17] centoasa commented on #12667
This issue also for me (Presta 1.7.5.2 on php 7.2.19 debian)
Fatal error: Uncaught Error: Class 'Tools' not found in /var/www/vhosts/100asa.it/httpdocs/classes/db/Db.php:794 Stack trace: #0 /var/www/vhosts/100asa.it/httpdocs/config/alias.php(48): DbCore->escape('configuration', false) #1 /var/www/vhosts/100asa.it/httpdocs/config/alias.php(53): pSQL('configuration') #2 /var/www/vhosts/100asa.it/htt

[2019-06-27 08:18] #11547 closed, assigned to mickaelandrieu

[2019-06-27 08:25] khouloudbelguith commented on #14335
@gaecde, thanks for your feedback.
You have an issue with the "New products block" module, could you please try to re-install it agian.

Thanks!

[2019-06-27 08:45] khouloudbelguith commented on #14369
@kolorslab, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-27 08:45] #14369 closed, assigned to nobody

[2019-06-27 08:47] khouloudbelguith commented on #14373
@centoasa, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-06-27 09:21] siomosp opened #14388 "Order details only 2 customer messages appear"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Place an order
2. Add 3 or more  messages to order
3. Only the first two messages appear at order details page
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: 1.7.5

[2019-06-27 09:24] gaecde commented on #14335
Hello,
it is done ! but the problem is still there.

[2019-06-27 09:33] khouloudbelguith commented on #14371
@MarouaniALA, I just resend you an email.

Thanks!

[2019-06-27 09:42] khouloudbelguith commented on #14335
@gaecde, could you please try to rename the `ep_newproducts` folder to `ep_newproducts_old` into the `Project_Folder/modules/` folder
Thanks to check & feedback.

[2019-06-27 09:49] khouloudbelguith opened #14389 "FO - Shopping cart page - Incorrect display with FireFox"
**Describe the bug**
Using the browser FireFox, The shopping cart is not well displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FO
2. Add a product to the cart
3. Go to the Shopping cart Page
4. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/16067358/60256008-a889e000-98c8-11e9-80df-561ee1bec1da.png)

With PS1.7.5.2 => iT is OK.
I used machine s

[2019-06-27 09:52] KHATERSAID commented on #14380
Thanks for your help
the problem is solved I clear the cache  app/cache/prod

[2019-06-27 09:54] SharmPRO commented on #14336
PS 1.6.1.10

Adding a second route for index page when updating BO => Shop Parameters => Traffic & SEO => index page => the_input_text should do all the magic.

It would be a great plus for SEO

Thanks

[2019-06-27 09:54] khouloudbelguith commented on #14380
Hi @KHATERSAID,

Thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-06-27 09:54] #14380 closed, assigned to nobody

[2019-06-27 10:23] khouloudbelguith commented on #14336
@SharmPRO, I tried with PS1.6.1.2.4, it is disabled also
![image](https://user-images.githubusercontent.com/16067358/60258907-010fac00-98ce-11e9-907c-958b4e6a6ce0.png)

Thanks!