[2021-06-29 06:50] okom3pom commented on #25142
I hope this video see you the way

http://www.okom3pom.com/Pr!vaTe/helpermenu.webm

[2021-06-29 06:55] lmeyer1 commented on #24886
I found the root of the exception I reported. It is due to a custom configuration and thus is not an issue of original Prestashop.

Nevertheless, there are still other issues with the manual upgrade process. `install/upgrade/upgrade.php` still does not work.

[2021-06-29 07:59] #20035 closed, assigned to MatShir

[2021-06-29 08:29] marionf commented on #24979
Hello @mdelgrange

Thank you for your motivation on the subject.
Before developing such a feature on this subject, we should dive into the legal requirements in order to be sufficiently informed to make the right functional decisions.
Unfortunately, we don't currently have the necessary legal resources to allow us to dive into this subject in order to make the right decision and to be able to writ

[2021-06-29 08:33] hibatallahAouadni commented on #24975
Ping @PrestaShop/prestashop-core-developers could you please check this performance issue :pray:
PS: similar to #24517

[2021-06-29 08:39] florine2623 commented on #25148
Hello @Tomtomytom ,

Write error: File too large : This error means that you might not have enough space on your server. Please check.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.c

[2021-06-29 08:39] #25148 closed, assigned to nobody

[2021-06-29 08:42] prestascott opened #25149 "CONFIGURE - Shop parameters > Search > Search - 1.7.8 (Ready!)"

[2021-06-29 08:42] florine2623 commented on #24863
Hello @agnesdennetiere ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-06-29 08:42] #24863 closed, assigned to nobody

[2021-06-29 08:42] prestascott commented on #25149
misclick sorry

[2021-06-29 08:42] #25149 closed, assigned to nobody

[2021-06-29 08:43] florine2623 commented on #24816
Hello @ced--ced ,

Since we had no news from you for more than 30 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-06-29 08:43] #24816 closed, assigned to nobody

[2021-06-29 08:52] matks commented on #24714
Hello @mvorisek

In order to have a voting, we would need to go through the ADR process. However this is a very time-consuming process (you can read about it here https://github.com/PrestaShop/ADR/issues/18).

If you are very motivated, you can try 😄  but I'm not sure if such a topic that is not critical will be able to go through all maintainers attention. As you have noticed, we are very very bu

[2021-06-29 08:52] #24714 closed, assigned to nobody

[2021-06-29 09:01] florine2623 commented on #25142
Hello @okom3pom ,

Thanks for the issue, I managed to reproduce the issue in PS 1.7.8.x and module ps_mainmenu with dev branch.

<img width="1140" alt="Screenshot 2021-06-29 at 10 59 28" src="https://user-images.githubusercontent.com/16019289/123769071-32f6e700-d8c9-11eb-99b3-729f91ff67c6.png">

It is a regression because i didn't reproduce it with ps_mainmenu v2.2.0.

Thanks!

[2021-06-29 09:06] jf-viguier commented on #21978
@georgelouk you have to activate Accented URL in SEO & URLs menu.
With this parameter you will have greek characters in url. IMO it's the best way.
Prestashop don't have to manage characters conversions nativelly : it's a custom need, not a generic one. WDYT @LouiseBonnard ?

[2021-06-29 09:10] florine2623 commented on #25145
Hello @Seb33300 ,

We have a lot of issues about Rouding.
So could you check if your issue is in this list, please ?
https://github.com/PrestaShop/PrestaShop/issues/19445

Thanks!

[2021-06-29 09:11] georgelouk commented on #21978
@jf-viguier ok i understand that. It works. But in general, as greeks, we don't use greek characters at the urls, the strategy is to avoid them, but it's not a need/requirement in order to work, it's a custom need as you said.

Thanks for replying.

[2021-06-29 09:20] jf-viguier commented on #24388
@henri9813 @florine2623 if mysql is down, the 500.html theme template can't be loaded because the theme is saved to the database. So the current theme can't be retreive.
I suggest to remove this 500.html page that is useless.

[2021-06-29 09:28] florine2623 commented on #25136
Hello @haveyougotanypets ,

Here's what I got :
<img width="916" alt="Screenshot 2021-06-29 at 11 27 17" src="https://user-images.githubusercontent.com/16019289/123773556-08a72880-d8cd-11eb-8827-765594a509b1.png">

Am I missing something ?

Please check and feedback.
Thanks!

[2021-06-29 09:32] florine2623 commented on #25133
Hello @diksha-cedcoss ,

I reproduced the issue.
<img width="616" alt="Screenshot 2021-06-29 at 11 32 05" src="https://user-images.githubusercontent.com/16019289/123774378-a4389900-d8cd-11eb-96ac-e743be5845b3.png">

Let's check with the UX team !
Please stay tuned.

[2021-06-29 09:34] florine2623 commented on #25133
Ping @PrestaShop/ux-team & @NeOMakinG ,
Is this the expected behavior or the field should display in col-sm-12 to spread it completely at the top of the page (header) ?

Thanks!

[2021-06-29 09:37] NeOMakinG commented on #25133
let's wait for the UX advice, but I don't think it's a regression, I think it looks like this since years, could someone test this? :)

[2021-06-29 09:39] florine2623 commented on #25113
Hello @Jeremy-FT

We can reproduce the issue, so I'll ping the dev team to have their point of view.

Thank you

[2021-06-29 09:40] florine2623 commented on #25113
Ping @PrestaShop/prestashop-core-developers ,

Should this condition return false ?
[code]

Thanks!

[2021-06-29 10:00] abcreationIT opened #25154 "Merchandise return not work"
#### Describe the bug

Customers cannot return merchandise because there is no option

#### Expected behavior

See checkbox in client order product page to return a product

#### Steps to Reproduce

Steps to reproduce the behavior:
Make an order, check as "Sent" and after check as "Delivered"
Checking the order on front-end as a client I can't see section to return a product.

Documentation says:

[2021-06-29 10:11] olecorre commented on #19179
I found an alternative solution
I use hookactionAdminProductsControllerSaveAfter and I simulate that the form has been filled
$_POST['custom_fields'][] = [
                id_customization_field' => null,
                label' => $label,
                type' => 1,
                required' => false
            ];
The customization field is created when the product is registered

[2021-06-29 10:36] hibatallahAouadni commented on #25133
Hello @NeOMakinG

It's a regression, see the attached screenshot below with PS1.7.7.5 (the same with PS1.7.6.7):

![image](https://user-images.githubusercontent.com/23308427/123783369-93d8ec00-d8d6-11eb-9b40-b3271cbfa9f1.png)

Thanks!

[2021-06-29 11:28] henri9813 commented on #25068
Hello,

Indeed, it's a duplicate, but the other issue should be splitted not ?

[2021-06-29 11:30] Seb33300 commented on #25145
None of the issues in this ticket are related to rounding issue when using discount.

Some of them are related to ta rounding that might be related but I cannot be sure.

[2021-06-29 12:00] zuk3975 commented on #9828
https://github.com/PrestaShop/PrestaShop/pull/21550
this pr adds attachments association duplication and carriers duplication when duplicating product

[2021-06-29 12:18] florine2623 commented on #25154
Hello @abcreationIT ,

I can't reproduce your issue in PS 1.7.7.4.

<img width="1103" alt="Screenshot 2021-06-29 at 14 16 56" src="https://user-images.githubusercontent.com/16019289/123795843-bb36b580-d8e4-11eb-8a3c-8a9b88978304.png">

So I close your issue.
Thanks!

[2021-06-29 12:18] #25154 closed, assigned to nobody

[2021-06-29 12:30] zuk3975 commented on #13397
there is still time to add this behavior to new product page here is the POC pr https://github.com/PrestaShop/PrestaShop/pull/25159

[2021-06-29 12:34] prestascott commented on #25133
Hi everyone,

Thank you @diksha-cedcoss for your request.
@hibatallahAouadni is right, it's a regression!

Otherwise, I agree with this. The search bar must be displayed in col-sm-12 to spread it completely at the top of the page :)

[2021-06-29 12:39] abcreationIT commented on #25154
@florine2623 If I'll update, for example, the latest status ("Delivered") checking "Set the order as paid" besides the already present "Set the order as shipped", it work...

Do you know why?
It's not normal I guess

It seems that in my case PrestaShop wants both ticks in the last state rather than, as written in the documentation:

Did you set up the order statuses as I set them? (screenshots)

T

[2021-06-29 12:44] henri9813 commented on #24388
May this can be included in `htaccess`?

[code]

[2021-06-29 12:52] florine2623 commented on #18928
Ping @PrestaShop/product-team ,

FYI, part of this issue is fixed by @henri9813 's PR : #25067

[2021-06-29 12:53] florine2623 commented on #25068
Hello @henri9813 ,

The PR is already linked to #18928, so I'll close it to avoid any duplicate.

Thanks!

[2021-06-29 12:53] florine2623 commented on #25068
Duplicate of #18928

[2021-06-29 12:53] #25068 closed, assigned to nobody

[2021-06-29 12:54] #25063 closed, assigned to Hlavtox

[2021-06-29 12:57] zuk3975 commented on #10459
related https://github.com/PrestaShop/PrestaShop/issues/19441 (product name is not even required and can end up being empty string, because of legacy behavior of "ghost product"))

[2021-06-29 13:07] henri9813 commented on #25068
Hello,

Your PR is open since may 2020, one year ago.

My issue has a PR which is about to be merged.

Not close this issue.

Thank

[2021-06-29 13:43] ldeprestashop commented on #24494
Hello.

You can take directly JPEG pictures with your iPhone, so you will able to upload directly your picture on Prestashop.

https://www.techjunkie.com/heic-to-jpeg-iphone/

[2021-06-29 14:11] nfacciolo commented on #24303
On prestashop 1.7.7.4 I don't have access to `$this->context` :

        private function createEmptyCustomerCart(Customer $customer): Cart
        {
            $cart = new Cart();

            $cart->recyclable = 0;
            $cart->gift = 0;
            $cart->id_customer = $customer->id;
            $cart->secure_key = $customer->secure_key;

            $context = $GLOBALS['context'];

[2021-06-29 14:37] henri9813 commented on #24494
Hello,

Do you really consider your option as an option for a  classical user ?

[2021-06-29 15:22] matks commented on #25134
Confirmed, the phpDoc is wrong.
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/controller/Controller.php

It should be `@return void` or there should be no phpDoc `@return` line

[2021-06-29 16:42] jf-viguier commented on #24388
@henri9813 the file /error500.html is already served by prestashop, there is no need for an extra internal-server-error.html file. Please explain.
Something like this ?
`ErrorDocument 500 /error500.html`

[2021-06-29 17:56] #24964 closed, assigned to kpodemski

[2021-06-29 20:15] henri9813 commented on #24494
A simple user want a native solution.

He just want to upload photo :-) like myself or users wants.

But thanks for your purposal, i used to export my heic file to jpg with Photo application.

Thanks

[2021-06-29 21:00] eveneme opened #25162 "Logo .svg support"
Please logo svg format support.

[2021-06-29 22:30] darfk3d3 commented on #9599
I have the same problem on PS1.7.7.5, there's no update on when it will be fixed?

[2021-06-30 05:22] jonasburneika opened #25163 "Product deleteFeatures doesn't delete custom features"
#### Describe the bug

ProductCore method deleteFeatures ignores custom made features in single store mode.

#### Expected behavior

After product deletion related feature_values removed.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to the product
2. Add custom feature value
3. Check database tables: **ps_feature_product, ps_feature_value, ps_feature_value_lang**, for newly ad

[2021-06-30 08:13] hibatallahAouadni commented on #25162
Hello @eveneme

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or

[2021-06-30 08:13] #25162 closed, assigned to nobody

[2021-06-30 08:24] eurya opened #25166 "Cannot search for a product when creating an order manually"
#### Describe the bug

In Prestashop BO, I manually create a new order.
When I search for a product, there is an error 500 during the AJAX request.
It happens for specific products only, I don't know the reason.

`GET /shop/admin/index.php/sell/orders/products/search?_token=CtsgdPdI1uvwqj_-MuCbFC-JN93qKzQET9LeEqfgFXo&search_phrase=shirt HTTP/1.1`

[code]

#### Expected behavior

The BO should list

[2021-06-30 08:46] eurya commented on #22464
I solved this issue by commenting the following line in "classes/Customer.php"

[code]

[2021-06-30 09:11] jf-viguier opened #25168 "BO / Cart rule category selection : display categories in a hierarchical way"
#### Is your feature request related to a problem?

In cart rule page, in product restriction, the categories are displayed in alphabetical order. It can be confusing if 2 categories have the same name but with différents parents. By example Wines > White and Biers > White. Actually you have 2 White categories and no way to figure it out.

#### Describe the solution you'd like

display categories

[2021-06-30 09:47] madsoliver opened #25170 "Add a PrestaShop MakerBundle to generate common code 🚀"
`HelperOptions`, `HelperList`, `HelperForm` all helped us alot in the 1.6-era, and it was (still is if you use legacy code) a very effective way to make forms, lists and config/option-forms for modules.

**Example:**
I make a lot of ‘one-simple-functionality’-modules, that as an example consists of the main module class only, calling one hook, showing a line of text. Very often in such cases I nee

[2021-06-30 10:20] hibatallahAouadni commented on #25163
Hello @jonasburneika

I manage to reproduce the issue only with PS1.7.7.3, PS1.7.7.4 and PS1.7.7.5.
Even when I delete the product with id=20, the DB query still display the results, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/123938300-4a040a80-d997-11eb-846f-ac1a25b73da6.png)

![image](https://user-images.githubusercontent.com/23308427/12393831

[2021-06-30 10:20] #25163 closed, assigned to nobody

[2021-06-30 10:26] hibatallahAouadni commented on #25168
Hello @jf-viguier

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
And thanks for the PR :rocket:

Thank you

[2021-06-30 10:29] hibatallahAouadni commented on #25170
Hello @onklmaps

Thank you for your suggestion. The Developeer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement thi

[2021-06-30 10:41] nea-tingstroem-dk opened #25172 "View order with missing orderstate makes the site crash"
#### Describe the bug

If a module that has some special orderstates remove these from the database when the module is uninstalled the system will crash with a fatal error.

#### Expected behavior

The module should not remove the states that has been used as it will make the system unstable.
But as there are modules that actually does this the system should be able to handle this.

One way to fix

[2021-06-30 10:47] hibatallahAouadni commented on #25134
Hello,

Thanks @matks for your confirmation!
I was able to reproduce the issue with PrestaShop version 1.7.6.7, 1.7.7.x, 1.7.8.x and develop. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the proj

[2021-06-30 11:01] hibatallahAouadni commented on #24886
@lmeyer1 so should I close the issue?

[2021-06-30 11:42] musaffar-patel opened #25173 "Add hook to ps_emailalerts module"
#### Is your feature request related to a problem?

At the moment I have to rely on modifying the ps_emailalerts module for clients which of course is a bad idea as updates to the module  would see the changes over written.

#### Describe the solution you'd like

It would be great to have a hook in the ps_emailalerts module to allow modules to display custom information in the email.  The hook sho

[2021-06-30 11:56] Robin-Fischer-PS opened #25174 "Incorrect display on address block in BO > Customers > View customer"
#### Describe the bug

In 1.7.8, the address block is displayed at the bottom of the page on right column, even is there is space above (see screenshot).

#### Expected behavior

2 possible display :
- As in 1.7.7 : Address block takes the whole width of the page at the bottom of the page
- Address block is on the right column with no blank space above

#### Steps to Reproduce

Steps to reproduce

[2021-06-30 12:02] lmeyer1 commented on #24886
@hibatallahAouadni
I don't know, up to you. This specific issue can be closed. The larger issue "Manual upgrade as in the docs does not work" has to remain open. So maybe you close this one and open a less specific one?

[2021-06-30 12:37] #24388 closed, assigned to jf-viguier

[2021-06-30 12:53] khouloudbelguith opened #25177 "An exception is displayed when ordering a product with text customization - the label contains special expression"
#### Describe the bug

We create a product with customization:
- Type: **text**
- Lable: Must contain special expression: **Type your text < here>**

When we order this product, we have an error in the Order confirmation.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a product with customization:
- Type: **text**
- Lable: Must contain special expression: **Type your text <

[2021-06-30 13:26] SD1982 opened #25179 "FO - Checkout - carrier selection step - Error 500 is displayed if the order message is too long"
#### Describe the bug

In the FO, in the carrier selection step an exception is displayed if the order message is too long

#### Expected behavior

A validation error message should be displayed instead of a exception

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO and create a cart
2. Proceed to checkout
3. In the carrier selection step, add a long order message
4. Click o

[2021-06-30 13:44] matks commented on #23827
Hello everyone I tried to improve the bug report title to match the issue. Please tell me if it does not look right.

So, I can think of a few easy ways to ease the problem
1. Enable Back Office user to turn off BO notifications
2. When PrestaShop fetches the data for BO notifications, track the time of the data fetching. If it's above one threshold (say, 10 seconds) we disable BO notifications an

[2021-06-30 14:08] zuk3975 opened #25180 "Remove "final" from classes"
#### Is your feature request related to a problem?
Its more of a reminder/discussion issue.
Don't finalize any classes, so they can be easily extended.

#### Describe the solution you'd like

`Final` class doesn't allow the class to be extended. Altough its a good practice, it is not useful in PrestaShop due to extendability constraints.
We should also consider `self` and `static` usages as well a

[2021-06-30 14:11] lmeyer1 opened #25181 "In module socialfollow, the links should be localized"
#### Is your feature request related to a problem?

We have a shop with more than one language. The social media accounts are different for each language, but the module ps_socialfollow does not allow to enter a link for each language

#### Describe the solution you'd like

The links in the backoffice shoud have a language selector like other translateable configurations.

#### Alternatives you've

[2021-06-30 14:15] hibatallahAouadni commented on #25172
Hello @ytilotti

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-06-30 14:17] hibatallahAouadni commented on #25180
Hello @zuk3975

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-06-30 14:19] florine2623 opened #25182 "BO - Create Order from BO - Quantity change and Remove don't work"
#### Describe the bug

When Creating an order from BO, after adding products to cart, when you try to change the quantity of the product or remove the products, it doesn't work.

#### Expected behavior

After changing the quantity of product, the price should update itself

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'BO > Orders > Orders > Add new order'
2. Choose a custom

[2021-06-30 14:19] hibatallahAouadni commented on #25181
Hello @lmeyer1

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-06-30 14:20] henri9813 commented on #24388
Indeed, this doesn't works.

However, maybe a solution could be setup to manage this case and use the 500 error page ?

I know that symfony is able to manage 500 errors.

[2021-06-30 14:22] Morerice opened #25183 "Set carrier restrictions when creating a new shop"
#### Describe the bug

Currently, when a new shop is created from the multistore page, the merchant is offered the option to import data from an already existing shop. If everything is selected and the new shop is created, the carrier restrictions linked to already existing plugins, on the old shop, are not copied over to the new shop.

#### Expected behavior
The carriers linked to already existin

[2021-06-30 14:28] hibatallahAouadni commented on #25173
Hello @musaffar-patel

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement

[2021-06-30 14:28] lmeyer1 opened #25185 "Caching database queries in Memcached does not work"
#### Describe the bug

Caching database queries in Memcached does not work. When using the cache, page load times increase alot, instead of decreasing. Also cache invalidation is not working reliably.

#### Expected behavior

I expect that page load times decrease when activating the cache.
I expect that when I run a query on a table that modifies the data, all cached queries relying on that table

[2021-06-30 14:55] hugprat commented on #21661
Hi, we have the same problem here, Prestashop 1.7.6.2. can't enable Smarty Cache because we use the isMobile function in various places. Any help will be welcome.

Thanks.

[2021-06-30 15:07] hibatallahAouadni commented on #25166
Hello @eurya

I didn't manage to reproduce your issue :confused:

![image](https://user-images.githubusercontent.com/23308427/123984928-5737ee00-d9c5-11eb-9fa2-3e7d45ccba85.png)

How many products so you have in your store? may be your issue related to some performance issue?
Please check and feedback.

Thanks!

[2021-06-30 15:10] hibatallahAouadni commented on #25183
Hello @Morerice

I think you forget to mention your PrestaShop version :sweat_smile:
Please check and feedback.

Thanks!

[2021-06-30 15:14] #16348 closed, assigned to nobody

[2021-06-30 15:29] jf-viguier commented on #25172
@hibatallahAouadni to reproduce it, remove an order state and try to display an order on this state I guess (not tested)

[2021-06-30 15:42] khouloudbelguith commented on #25177
Hi!

@PrestaShop/product-team what do you think?
It could be fixed in the next release PS1776?

Thank you!

[2021-06-30 15:47] PierreRambaud commented on #25113
Hey @florine2623 are you sure you're able to reproduce the issue, regarding @khouloudbelguith 's comment, I see no valid scenario :thinking:

[2021-06-30 15:53] jonathangreco commented on #24666
This ticket should not be closed.

The code shown below is enough and does not need more information or use case.

ExecuteS can return null ! It's a fact. Everybody knows it.

Since this fact is real, array_merge on null values will throw fatal errors. So the if statement that check false, have to check null also.

[2021-06-30 15:55] hibatallahAouadni commented on #24666
Ping @PrestaShop/prestashop-maintainers could someone please check this issue :pray:
Thanks in advance.

[2021-06-30 16:00] hibatallahAouadni commented on #24886
@lmeyer1 I think it will be better if you edit the original issue explaining the remaining issue :sweat_smile:
Thanks in advance :pray:

[2021-06-30 16:00] jonathangreco commented on #24666
Thanks @hibatallahAouadni I updated my description. It should be an easy fix ;)

[2021-06-30 16:04] hibatallahAouadni commented on #24900
Hello @pruault

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-30 16:04] #24900 closed, assigned to nobody

[2021-06-30 16:05] hibatallahAouadni commented on #24907
Hello @giasemis

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-06-30 16:05] #24907 closed, assigned to nobody

[2021-06-30 16:05] khouloudbelguith commented on #23756
Hi!

This issue is fixed in PS1780_rc1.
https://drive.google.com/file/d/1eFHS-1a73tTBXdFX9LZ4O81sJzqaFMoL/view?usp=sharing

Thank you!

[2021-06-30 16:06] #23756 closed, assigned to nobody

[2021-06-30 16:20] jolelievre commented on #24698
Log entries might be a bit simple for this feature, I guess the ideal would be a true Event sourcing feature that would be saved in DB with dates, associated action/customer/employee/...

[2021-06-30 16:34] matks commented on #24698
PrestaShop logs is a SQL table which contain all that. I should have been clearer 😅  I was thinking about this kind of logs not text file logs.

[2021-06-30 17:19] ytilotti commented on #25172
**Additional information**

- PrestaShop version: 1.7.7.5
- PHP version: 7.2

[2021-06-30 18:44] #24410 closed, assigned to samberrry

[2021-06-30 18:45] jolelievre commented on #24410
Thank you @samberrry

[2021-06-30 18:56] ocio87 opened #25190 "The attributes function does not work correctly"
#### Describe the bug

By having three attributes of dimensions that depend on other combinations (Color) which do not have the same availability, it does not allow to choose the color of another size available in other colors.

#### Expected behavior

It should allow you to go to another size and show the available colors of that size.

#### Steps to Reproduce

Steps to reproduce the behavior:

1

[2021-06-30 19:09] PrestaTurk opened #25191 "Error on fresh Prestashop install"
#### Describe the bug

Hi. I'm getting an error on fresh (downloaded from offical website) Prestashop install. I can't install Prestashop 1.7.6.5 anymore. Problem is throwing an error on module addons install step 67%. If I turn on debug mode on I see an error about of ps_facebook. Prestashop trying to install ps_facebook module but can't. There is some issue for ps_facebook module.

#### Steps to

[2021-07-01 06:37] eurya commented on #25166
We have less than 50 products, that's definitely not a performance issue.
It's probably related to the data migration from PS 1.6 to PS 1.7.
From the patch I  had to applied, it seems that some products have been imported with their field $combination['location'] set to null.

[2021-07-01 07:03] okom3pom commented on #16275
Hello @LouiseBonnard

It's for you or you need also a message ?

Screenshot on the PR : https://github.com/PrestaShop/PrestaShop/pull/25165

[2021-07-01 07:15] matks commented on #16275
@LouiseBonnard has given its beacon to @Julievrz 😊

[2021-07-01 07:17] okom3pom commented on #16275
Thank for the good ping @matks

[2021-07-01 07:41] #24984 closed, assigned to lmeyer1

[2021-07-01 07:50] Gauravkain commented on #25105
Hi @marionf
where i can find this error #25105 ?

[2021-07-01 07:56] #25116 closed, assigned to nobody

[2021-07-01 07:58] hibatallahAouadni commented on #25172
Hello @ytilotti & @jf-viguier & @nea-tingstroem-dk

I just edit the issue, could you please confirm the steps to reproduce and provide a test module (that has some special orderstates) to reproduce the issue.
Please check and feedback.

Thanks!

[2021-07-01 07:59] Julievrz commented on #16275
Hi! I think it would be nice to add a message: 'Virtual products can't be returned.' in Shop.Theme.Customeraccount

[2021-07-01 08:02] Progi1984 opened #25193 "CD: Update mails in modern theme"
#### Is your feature request related to a problem?

When we update email, we need to make two PR :
- the first in https://github.com/PrestaShop/PrestaShop/tree/develop/mails/themes/modern
- the second in https://github.com/PrestaShop/mjml-theme-converter

#### Describe the solution you'd like

A Github Action which update directly from mjml-theme-converter email in core

[2021-07-01 08:07] khouloudbelguith opened #25194 "BO - Add new Order - An exception is displayed when ordering a product with text customization - the label contains special expression"
#### Describe the bug

Related to: https://github.com/PrestaShop/PrestaShop/issues/25195, https://github.com/PrestaShop/PrestaShop/issues/25177
We create a product with customization:
- Type: **text**
- Lable: Must contain special expression: **Type your text < here>**

When we create an order from the BO with this product, we have an exception.

#### Steps to Reproduce

Steps to reproduce the beh

[2021-07-01 08:15] khouloudbelguith opened #25195 "BO - View Order - An exception is displayed when changing the order status to payment accepted"
#### Describe the bug
Related to: https://github.com/PrestaShop/PrestaShop/issues/25177, https://github.com/PrestaShop/PrestaShop/issues/25194
We create a product with customization:
- Type: **text**
- Lable: Must contain special expression: **Type your text < here>**
-
 when we try to change the order status to payment accepted an error is displayed

#### Steps to Reproduce

Steps to reproduce th

[2021-07-01 08:16] khouloudbelguith commented on #25177
Related to:
https://github.com/PrestaShop/PrestaShop/issues/25194
https://github.com/PrestaShop/PrestaShop/issues/25195

[2021-07-01 08:18] #25129 closed, assigned to matthieu-rolland

[2021-07-01 08:23] matks commented on #21860
Kind reminder @PrestaShop/product-team 😉  I think this one is quite important and we have PR https://github.com/PrestaShop/ps_emailsubscription/pull/68 from contributor here

[2021-07-01 08:30] hibatallahAouadni commented on #23130
Ping @Progi1984 I think you're already work on it :thinking: is that so?

[2021-07-01 08:55] Progi1984 commented on #23130
:warning: The page is not actually fully migrated : Check this issue #10620 (and the migration manager @matks). So the fix must be done in two pages (legacy & migrated page).

[2021-07-01 09:08] hibatallahAouadni commented on #25191
Hello @PrestaTurk

Could you please check it again, I think the issue is fixed. We use to have some issue with Addons API.
Please check and feedback.

Thanks!

[2021-07-01 09:27] Robin-Fischer-PS opened #25197 "Module blocksearch not uninstalled after upgrade from 1.6.1.24 to 1.7.8"
#### Describe the bug

During the autoupgrade process, when upgrading from 1.6.1.24 to 1.7.8 (RC1 build), the module ps_searchbar is installed, and the old module blocksearch is still installed. It should not.

#### Expected behavior

When the ps_searchbar module is installed during upgrade, it should uninstall the blocksearch module.

#### Steps to Reproduce

Steps to reproduce the behavior:

1.

[2021-07-01 09:34] cricket-hockey commented on #23827
@matks Sounds good to me

[2021-07-01 10:01] hibatallahAouadni commented on #25166
Hello @eurya

Could you please cite the steps of upgrading your shop? did you encounter any issue while upgrading your shop?
Please check and feedback.

Thanks!

[2021-07-01 10:44] hibatallahAouadni commented on #25190
Hello @ocio87

I think this issue is related to your theme, cause in the Classic theme, I didn't encounter this kind of behavior:

https://drive.google.com/file/d/1Dfj7tMv0Du07RPBkJcyzLRAb00MuxE3V/view

Please check and feedback, and I think you need to contact your theme developer to fix the issue.

Thanks!

[2021-07-01 10:57] hibatallahAouadni commented on #24841
Hello @n-e-r-u

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-01 10:57] #24841 closed, assigned to nobody

[2021-07-01 10:58] hibatallahAouadni commented on #24913
Hello @Daaaaad

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-01 10:58] #24913 closed, assigned to nobody

[2021-07-01 10:58] Carefreelol commented on #25191
Same problem with I have in 1.7.7.5
![error_ps_facebook](https://user-images.githubusercontent.com/73722211/124113729-0deea980-da6c-11eb-841d-b45ebeb5af52.PNG)

[2021-07-01 11:19] hibatallahAouadni opened #25198 "[BO - Responsive] - bad footer display on experimental product page"
#### Describe the bug

In the new product page, the footer is not well displayed on mobile device. And there's button **Edit on experimental page**, I think it should be **Edit on standard page** cause we're already in the experimental page.

#### Expected behavior

A neat display of the footer like in the old Product page

![image](https://user-images.githubusercontent.com/23308427/124115695-66bf

[2021-07-01 11:23] hibatallahAouadni commented on #25191
Hello @Carefreelol

Try to comment these lines https://github.com/PrestaShop/PrestaShop/blob/1.7.8.x/install-dev/controllers/http/process.php#L245-L252

[code]

And reinstall. Please check and feedback.
Thanks!

[2021-07-01 11:25] hibatallahAouadni commented on #25191
Hello @PrestaTurk

I encounter another issue while installing the PS1.7.6.5, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/124116841-b6ead380-da6f-11eb-810b-e19feb8ada28.png)

Ping @PrestaShop/prestashop-core-developers any idea about this issue? cause even @SD1982 encounter the same issue about ps_facebook :confounded:

[2021-07-01 11:52] eurya commented on #25166
Absolutely no issues were encountered, we used this migration module:
https://addons.prestashop.com/en/data-migration-backup/32298-migration-40-better-upgrade-and-migrate-tool.html

[2021-07-01 12:10] Hlavtox commented on #25198
@prestascott @hibatallahAouadni I think that:
- **Preview**, **Duplicate**, **Delete** and **Edit on experimental page** can all go to a single dropdown button called **Actions** or **Other tasks**.
- Go to catalog can go, if it does not fit. This button is on no other page, they have menu and breadcrumbs for this...
- And Online/Offline switch could well go on the product page itself. It's a prod

[2021-07-01 12:11] matks commented on #25180
I think there is a few classes that could be `final` because they are a key component of PrestaShop and we really really really think that whoever would try to extend them is actually going right into a wall.

I'm thinking about maybe ten classes max, in the foundation of PrestaShop. Most of our classes should not be final indeed.

[2021-07-01 12:13] cowherdboy opened #25199 "Time Zone Issue Between From & To in Cart Rules for Discount"
#### Describe the bug

When using Discounts Cart Rule, I noticed that the Valid "From" is using the system time while "To" is using the time zone that I had configured.

#### Expected behavior

The expected behaviour for "From" should be the same as "To", i.e. to use the time as per my time zone.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Set "International > Localization > Con

[2021-07-01 12:35] prestascott commented on #25198
Hello everyone,

Thank you @hibatallahAouadni for this issue!

@Hlavtox Can you provide us a full screen with your design suggestion for the footer please? Thanks!

[2021-07-01 12:47] marionf commented on #25105
Sorry @Gauravkain I don't understand your question :thinking:

[2021-07-01 12:56] PrestaTurk commented on #25191
Same issue still going on. I just tested version Prestashop 1.7.6.5, I don't know what is going on other versions. I was getting this error not today. Some couple of months ago, I'm tryed to install Prestashop but I couldn't. This error is not new I guess.

#### For somebody my temporary solution is

Before the install. Open `src/PrestaShopBundle/Install/Install.php` file and search for
[code]
 li

[2021-07-01 13:04] hibatallahAouadni commented on #25191
Hello everyone,

Sorry to tell you that this issue is not related to the Core but to Addons.
And right now, the Addons Team is working to fix the issue :tada: it will be fixed ASAP
So, I'm closing this issue but I will notify you on this issue when it fix.

Thanks for understanding :pray:

[2021-07-01 13:04] #25191 closed, assigned to nobody

[2021-07-01 13:41] ocio87 commented on #25190
Hello,

The news that I report also happens with the theme with defect.

To reproduce what I report you must do the following.

Size 1 with 3 colors (A, B, C) all with units available
Size 2 with 4 colors (A, B, C, D) all with units available
Size 3 with 2 Colors (B, C) Color B without units available.

Initially select Size 1 with color A and try to go to size 3. The theme cannot change to size 3

[2021-07-01 14:00] matks opened #25202 "Release 1.7.7.6"
This issue tracks the status of the PrestaShop 1.7.7.6 release

### Information

Q                                    | A
-----------------------|---------------
**Type**                        | Patch version
**Estimated build**  | 30 July 2021
**Milestone** | [1.7.7.6](https://github.com/PrestaShop/PrestaShop/milestone/74)
**Kanban** | [1.7.7.6](https://github.com/PrestaShop/PrestaShop/projects/

[2021-07-01 14:11] khouloudbelguith opened #25203 "FO - 'Total available for each user' in cart rule not considered if the customer is signed in from the checkout page"
#### Describe the bug

The 'Total available for each user' in cart rule not considered if the customer is signed in from the checkout page.

#### Steps to Reproduce

Steps to reproduce the behavior:
1. Create cart rule Check Total available for each User = 1 Set these fields:
1.1. Information:
- Name
- Description
- **Code**

1.2. Conditions:
- Total available = 2
- **Total available for each user

[2021-07-01 14:30] #25182 closed, assigned to nobody

[2021-07-01 14:47] okom3pom commented on #16275
@Julievrz new screenshot here https://github.com/PrestaShop/PrestaShop/pull/25204 i hope is good regards

[2021-07-01 14:57] ghost opened #25206 "Customer can't download virtual product if order contain a normal product"
#### Describe the bug

Customer can't download virtual product if order contain also a normal product

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable SAV 14 days
2. Make an order with a virtual product + dowload file and with a normal product
3. Set order delivered
4. Go to order history an check if the download link is present

**Screenshots**

**Possible regession ?**

Acut

[2021-07-01 15:09] matks commented on #25170
I find the idea awesome

ping @ldeprestashop

[2021-07-01 15:50] hibatallahAouadni commented on #25185
Hello @lmeyer1

As discussed on Slack, this issue is related to #18171
After configuring my Memcached server, I was unable to add or test the created server on BO:

![image](https://user-images.githubusercontent.com/23308427/124153098-5fab2a00-da94-11eb-87d4-9101270a6e3b.png)

I'm not sure if I'm missing anything so could you please check and feedback.
Thanks!

[2021-07-01 16:09] jf-viguier opened #25208 "id_tax_rules_group in carrier table is not used anymore"
#### Is your feature request related to a problem?

id_tax_rules_group in carrier table is not used anymore

#### Describe the solution you'd like

Remove the id_tax_rules_group  column from the carrier table

#### Additional context

* PrestaShop version: develop
* PHP version: 7.2

[2021-07-01 16:36] hibatallahAouadni commented on #25208
Hello @jf-viguier

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- steps to reproduce
- describe the bug
- expected behavior
- screenshots
- ...
You don't know how to get this information? Please read the following article: [How to create a bug report]
(http://build.prestashop.com/howtos/misc/how-to-create-bug-report/).

Thanks!

[2021-07-01 17:59] hibatallahAouadni commented on #25208
Ping @PrestaShop/prestashop-core-developers could you please confirm that this column is not used any more in this table 🙏

[2021-07-01 20:14] fall-en opened #25209 "Division by zero dashtrends.php"
#### Describe the bug

At the first of every month I get this error in my PHP log each time I open the BO Dashboard:
PHP Warning:  Division by zero in /modules/dashtrends/dashtrends.php on line 283

#### Steps to Reproduce

Steps to reproduce the behavior:

1. At the 1st of a month open the Dashboard and set COMPARE TO: Previous Year
![dashboard trend compare to](https://user-images.githubusercont

[2021-07-02 06:28] Morerice commented on #25183
Hi @hibatallahAouadni

Apologies for my mistake. I've updated the description with the PrestaShop version.

Best regards,
Jean
Adyen

[2021-07-02 06:43] lmeyer1 commented on #25185
You just discovered a new bug ! On PS 1.6.1.1 "Add server" worked. On PS 1.7.7.5 it no longer works !

[2021-07-02 06:51] lmeyer1 opened #25211 "A missing error message when you add a new Memcached server that does not respond"
#### Describe the bug

In the `Performance` tab, click on the button `Add server` to add a new Memcached server has no effect when the memcached server does not exist or is not well configured (i.e. if memcached does not respond).

#### Expected behavior

The button `Add server` should do what it's label says

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Advanced configurat

[2021-07-02 07:29] Gauravkain commented on #25105
In which file I have to add placeholder

[2021-07-02 07:35] marionf commented on #25105
I don't know I am not a developer :sweat_smile:
Let's ask to @PrestaShop/prestashop-core-developers

[2021-07-02 09:44] khouloudbelguith commented on #25209
Hi @fall-en,

Thanks for your report.
I did not manage to reproduce the issue with 177x branch (PS1776), I followed these steps:
1. Create valid orders from the date 1 Juillet 2020 and 01 Juillet 2021
2. Compare the stats from the previous year
3. I checked logs into "/PrestaSjop/var/log/dev.log" => I couldn't find any error related to the Dashtrend module
4. I checked the PHP log into "/var/log/p

[2021-07-02 10:19] khouloudbelguith commented on #25199
Hi @cowherdboy,

I did not manage to reproduce the issue with PS1755 and 177x branch (PS1776)
- My system date `Friday July 2, 2021, 11:03:52 (UTC + 0100)`
- Time Zone = Europe/Paris `12:05 PM |   | Paris (UTC+2) `
- I created a discount with From `2021-07-02 12:00:00` To `2021-07-02 13:00:00`
- In the Fo => I applied the code => ok

I attached a screen record
https://drive.google.com/file/d/1B3OS

[2021-07-02 10:23] Progi1984 opened #25213 "Migrate `create-test-db` command"

[2021-07-02 10:23] #25213 closed, assigned to nobody

[2021-07-02 11:02] khouloudbelguith commented on #25183
Hi @Morerice,

I manage to reproduce the issue with PS1775 and PS1765, it is added to our debug roadmap.
Your ticket is a duplicate of #17621
So, I close it.
Thanks!

[2021-07-02 11:02] #25183 closed, assigned to nobody

[2021-07-02 11:02] khouloudbelguith commented on #25183
Duplicate of #17621

[2021-07-02 11:15] khouloudbelguith commented on #25211
Hi @lmeyer1,

I did not manage to reproduce the issue with PS1.7.7.5.
I attached a screen record
https://drive.google.com/file/d/1ovcCWY149bJ0b4VMDfuF1VCJswD58_GJ/view?usp=sharing

Thanks to check and feedback

[2021-07-02 11:23] PeNov opened #25214 "Brands are shown wrongly in the FO"
#### Describe the bug

Brands with description and links are shown wrongly in the FO. Links are not available.

Example:
**1) Brand without description:**
BO:
![image](https://user-images.githubusercontent.com/38213520/124265604-3216bd00-db36-11eb-972c-a5519d796f7d.png)
FO:
![image](https://user-images.githubusercontent.com/38213520/124265627-3b078e80-db36-11eb-860d-240b8e73aff4.png)
Logo, Link: F

[2021-07-02 11:29] khouloudbelguith commented on #25185
Hi @lmeyer1, @hibatallahAouadni,

As commented [here](https://github.com/PrestaShop/PrestaShop/issues/25211#issuecomment-872920885), I can test the server and add it successfully, it is a server issue, you need to contact your host.

@lmeyer1, about the third step  `Observe the behaviors. Wrong cache invalidation might be difficult to observe at first, but after some data manipulation queries it b

[2021-07-02 11:55] PeNov opened #25215 "BO - Import Products - The Availability preferences: (Allow, Deny, Default behavior) is missing in the csv file"
#### Describe the bug

**The Availability preferences of a product**
Availability preferences are set to **Deny orders** after an import
![image](https://user-images.githubusercontent.com/38213520/124269847-b586dd00-db3b-11eb-8b86-6cb5b1e4d7c3.png)

The import csv file has not column for set this value:
Availability preferences: (Allow, Deny, Default behavior)
Now we must open all affected product

[2021-07-02 11:56] khouloudbelguith commented on #25214
Hi @PeNov,

Thanks for your report.
I was able to reproduce the issue with PrestaShop version 1.7.7.5.
In fact, links are ok, but they are not clickable
![image](https://user-images.githubusercontent.com/16067358/124270713-dbf94800-db3c-11eb-8e0d-3f216f1501f7.png)
It seems related to this PR: https://github.com/PrestaShop/PrestaShop/pull/16857

With PS1765 => ok
![image](https://user-images.github

[2021-07-02 12:06] lmeyer1 commented on #25211
@khouloudbelguith Could you have a look with @hibatallahAouadni?
She had the issue first. I tried after her reporting it to me, and I found the same issue. So we were two people where independently it didn't work, and one (you) where it worked. I'd be glad, you could check with @hibatallahAouadni where the differences lie.
Thanks.

[2021-07-02 12:14] lmeyer1 commented on #25185
@khouloudbelguith
There are two concrete examples that illustrate the problem with cache invalidation: #21318 as you mentioned, and #18171 as I mentioned yesterday to @hibatallahAouadni  on slack.

I have no precise issue on how to check. I admit, this was five years ago, so it's hard to remember. This being said, the code is talking for itself. When you look at it, you see that cache invalidation

[2021-07-02 12:16] kpodemski commented on #25185
Hello everyone.

@khouloudbelguith I can confirm that there are some issues with Memcached. It's not only related to hosting.

@lmeyer1 I'm looking forward to seeing your PR to test it thoroughly! :)

[2021-07-02 12:37] khouloudbelguith commented on #25215
Hi @PeNov,

About the second issue: `Availability preferences is missing in the import file`
I manage to reproduce the issue with PS1.7.7.5 and PS1.7.6.5.

About the first issue, there is a solution when missing the name.
You need to add the `Rewritten URL` to the file csv.
I attached a screen record
https://drive.google.com/file/d/1Uh4jH8cPz9NkrLTQ8PEtVQfVB1k0rpuG/view?usp=sharing
Could you pleas

[2021-07-02 12:58] khouloudbelguith commented on #25206
Hi @okom3pom,

I manage to reproduce the issue with PS1.7.7.5 and PS1.7.6.5 with a virtual product only also.
1. Two products
- Marchandise return enabled => **NOK**
![image](https://user-images.githubusercontent.com/16067358/124277304-2da5d080-db45-11eb-9255-9e44c133bf88.png)
- Marchandise return disabled => **OK**
![image](https://user-images.githubusercontent.com/16067358/124277469-5c23ab80-db4

[2021-07-02 13:31] cowherdboy commented on #25199
Hi @khouloudbelguith,

The only difference between my implementation and yours is that I left the Code field blank.

![prestadiscount](https://user-images.githubusercontent.com/6798969/124281728-99576000-db7c-11eb-8a9b-eed551b2b80a.jpg)

Regards

[2021-07-02 13:49] okom3pom commented on #25206
thank you @khouloudbelguith

[2021-07-02 13:59] khouloudbelguith commented on #25185
Hi!

@lmeyer1, thanks for your feedback.
@kpodemski, thanks for the check.

I will add the Waiting for Dev label.

Thank you!

[2021-07-02 14:05] khouloudbelguith commented on #25190
Hi @ocio87,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/20565 to fix the issue.
It is fixed in the next release PS1780.
Your ticket is a duplicate of #9948
So, I close it.
Thanks!

[2021-07-02 14:05] #25190 closed, assigned to nobody

[2021-07-02 14:05] fall-en commented on #25209
Hello @khouloudbelguith

Thank you for you reply.
You are reproducing the issue correctly, but the error is generated in a log file saved in the root of my server "/error_log_php".

For sure you have the same error generated in your server log, as you can see at the bottom of Dashboard page, you have Dashboard block that is not showing any graph. There should be a graph showing 01/07/2021 compared

[2021-07-02 14:05] khouloudbelguith commented on #25190
Duplicate of #9948

[2021-07-02 14:09] khouloudbelguith commented on #25145
Hi @Seb33300,

Thanks for your feedback.
Could you please check my comment: https://github.com/PrestaShop/PrestaShop/issues/9779#issuecomment-415125166
It is a rounding issue related to discounts.

Thanks to check and feedback.

[2021-07-02 14:17] khouloudbelguith commented on #25209
@fall-en, yes, you are right, thanks for the clarifications.
I manage to reproduce the issue with PS1.7.6.5 and PS1.7.7.5. using the Dashboard Trends module v2.0.2 and v2.0.3.
PS1.7.6.9
![image](https://user-images.githubusercontent.com/16067358/124287682-98103e00-db50-11eb-9898-b6c69972095e.png)
PS1.7.7.5.
![image](https://user-images.githubusercontent.com/16067358/124287894-d574cb80-db50-11eb-9c

[2021-07-02 14:40] hibatallahAouadni commented on #25211
Ping @PierreRambaud I have the same issue as @lmeyer1 and @khouloudbelguith didn't manage to reproduc the issue cause it seems her memcached sever is well configured (not like mine :sweat_smile: ):

![image](https://user-images.githubusercontent.com/23308427/124290669-030f4400-db54-11eb-9083-3d498dc24777.png)

![image](https://user-images.githubusercontent.com/23308427/124290791-25a15d00-db54-11eb

[2021-07-02 14:47] khouloudbelguith commented on #25199
@cowherdboy, thanks for these clarifications, I manage to reproduce with S1.7.6.5 and PS1.7.7.5.
It is reproduced with cart rule no code.
https://drive.google.com/file/d/1qvoLAdU_KSWxU7KsyA7DCif15DhEWBPb/view?usp=sharing

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it

[2021-07-02 14:49] PierreRambaud commented on #25211
I did not manage to reproduce the issue, with memcache and Memcached:
![image](https://user-images.githubusercontent.com/1462701/124292008-736a9500-db55-11eb-8a14-db1d1a8e2117.png)

[2021-07-02 15:20] ocio87 commented on #9948
Hello,

Why is the fix reported in the following link not added to version 1.7.7?

https://github.com/PrestaShop/PrestaShop/pull/20565/files#diff-24e0ffa77faa5854bf5c6f8e4db0be2dead828a83d599283ec303cb8686239f9

Is it still in QA or are there any additional problems with the fix?

It has been tested and solves what was initially reported but I do not know if it damages something worse.

[2021-07-02 15:25] photinia73 opened #25218 "BO->Catalog->Proucts non proporsional column size"
Hello!
After several updates I discovered that in the BO->Catalog->Proucts the column have non-prorportional size and this make inconvenience
the column with Nomber is too large but the Product name column is too small ((

#### Expected behavior

Unfortunately I have not find the template or css to make changes.
May be you can suggest me where look for decision ?

#### Steps to Reproduce

Steps to

[2021-07-02 15:57] khouloudbelguith commented on #25166
Hi @eurya,

Thanks for your feedback.
I did not manage to reproduce the issue with PS1775 after an upgrade from PS16124 using the 1-click upgrade module v4.12.0.
I attached a screen record
https://drive.google.com/file/d/1w95xMEIa-zYpCYt50Y0CwiOuAkasJpyl/view?usp=sharing

Thanks to check and feedback.

[2021-07-02 16:01] khouloudbelguith commented on #25218
Hi @photinia73,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/24952 to fix the issue.
Your ticket is a duplicate of #24915
So, I close it.
Thanks!

[2021-07-02 16:01] khouloudbelguith commented on #25218
Duplicate of #

[2021-07-02 16:01] #25218 closed, assigned to nobody

[2021-07-02 16:05] lmeyer1 commented on #25211
I vote to close this issue

[2021-07-02 16:43] ocio87 commented on #25190
Thanks for you! @khouloudbelguith

[2021-07-02 19:57] photinia73 commented on #25218
Hello @khouloudbelguith !
Thank you for reply...
I think I will wait for the upgrade, cource I have not folder admin-dev and etc )) I just have a PS shop and admin it. My php is very modest ))

[2021-07-02 20:46] fall-en opened #25220 "Categories for Cart Rules"
#### Is your feature request related to a problem?

It is very annoying to see an infinite list of Cart Rules without any kind of categorization system. It will be easy for vendors to have Vouchers sorted by categories.

Example: if I have a module that generate 10% discount vouchers every time a customer place an order, I would like to group them into a specific category so I can scroll them fast

[2021-07-02 21:24] lmeyer1 commented on #25211
@khouloudbelguith, @hibatallahAouadni, @PierreRambaud
I finally got it, I'm pretty sure.
When you try to add a server that works you can add it without issue. When you try to add one that does not respond, nothing happens.

The real issue is a missing error message.

[2021-07-03 14:47] Angar90 opened #25221 "The product-list on the checkout does not work with custom themes"
#### Describe the bug

This fix https://github.com/PrestaShop/PrestaShop/issues/9634 breaks the "Add to cart" buttons in the product-list in all custom themes.

Short movie:
https://www.loom.com/share/1ed22057f0964fee84eaaf9bcc73a3c9

Fix https://github.com/PrestaShop/PrestaShop/issues/9634 adds to core.js this code to disable the "Add to cart" button:
$('[data-button-action="add-to-cart"]').prop(

[2021-07-03 14:52] kpodemski commented on #25221
Hello @Angar90, and thank you for your report. You're completely right. We even talked about this with @Oksydan, who reported this a while ago. Thank you for the reminder :)

I'll look into this as soon as possible to fix this regression before the 1.7.8 release.

[2021-07-03 16:38] didi-2018 opened #25222 "product settings "show by position in category" does not work on "brands" page"
#### Describe the bug

On frontoffice shop page "brand" (example: https://myshop.com/brands/mybrand) the product setting "show by position inside category" does not work. Products are not sorted by position in category, products are sorted by name.

#### Expected behavior

When your product settings are "show by position inside category" then the shop page for a brand should shown products by posi

[2021-07-03 20:41] ad1rie1 opened #25223 "ps_facetedsearch result order not good"
#### Describe the bug

When you do query for have the most recent created product :

https://XXXX.fr/2-CATEGORIE?order=product.id_product.desc

The product order returned is not good I have 11 product

the order returned is : 2,1,11,9,8,7,6,5,4,3

#### Expected behavior
Have product listed in the order 11,10,9,8,7,6,5,4,3,2,1

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Cat

[2021-07-04 04:18] Max84 opened #25224 "Make webservice error-tolerant"
#### Is your feature request related to a problem?

If you'll send data throw webservice with an invalid node, all object isn't saved.

#### Describe the solution you'd like

I think Prestashop's webservice can become more resilient if object is saved even some fields have errors. Of course, it shouldn't save errors, but all others can be saved.
Too, if a required field has an error, you shouldn't

[2021-07-04 04:23] Max84 commented on #25224
@MytiX maybe you can add to your todo list in september/october if the Prestashop core team is interested in this feature, and they will merge your PR.

[2021-07-04 09:17] dvision6 opened #25225 "Updates can't be installed"
4 modules can't be updated. Each module gets the error.

Info:
Prestashop 1.7.7.5
Server information Linux #1 SMP Tue Jun 9 12:58:54 MSK 2020 x86_64
Server software version: Apache
PHP version: 7.3.28
Memory limit: 1024M
Max execution time: 30
Upload Max File size: 16M

[2021-07-04 11:40] matks commented on #25225
Hello @dvision6 can you tell us which 4 modules you talk about? Are they developed by PrestaShop or by another developer ?

[2021-07-04 13:52] lmanliang commented on #19175
but I didn't need city column
how can I do ?

[2021-07-04 14:12] egoodswiss opened #25226 "problem with my prestashop when a customer orders"
I have a problem with my prestashop when a customer orders the payment goes through I do receive the payment on my bank account but from the back office nothing no order can help me
* PrestaShop version: 1.7.7.5
* PHP version: 7.2

[2021-07-04 18:31] Bugfunder commented on #23544
In my case it was caused by not finding the module vatnumber transplanted to taxManager hook in classes/tax/TaxManagerFactory.php

[2021-07-04 23:44] superteixeira opened #25227 "Different active products by multi-store store #multistore"
Hello,
We use the multi-store function as we have an online supermarket and also an online coffee shop. At supermarket online, we sell all items from the catalogue, while at the online coffee shop, we only sell coffee and chocolates.

Is there any function, or is there planned to exist in a future version to hide the products of a certain category in one of the stores (online coffee shop)? Current

[2021-07-05 02:00] smithikakart opened #25228 "illegal length modifier specified 'f' in s(np)printf call"
#### Describe the bug

while in debug mode getting fatal error illegal length modifier specified 'f' in s(np)printf call without debug mode getting internal 500 error/blank page...

#### Expected behavior

cash on delivery validation after order succeed customers are facing this error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'https://smithikakart.in/'
2. Click on 'add t

[2021-07-05 07:24] matks commented on #25228
Hi @smithikakart what a strange error 😮

I googled this issue a bit and it seems to happen in a lot of different php projects: Drupal (https://www.drupal.org/project/drupal/issues/3152749), Laravel (https://stackoverflow.com/questions/66281360/error-illegal-length-modifier-specified-f-in-snpprintf-laravel) and PrestaShop (https://www.prestashop.com/forums/topic/1031039-illegal-length-modifier-spec

[2021-07-05 07:55] dzeek93 opened #25229 "Problem with subscribing to the newsletter in the Customer Panel"
#### Describe the bug
Hello,
The problem occurs when logging in to the user account and subscribing to the newsletter from the Customer Panel. The problem does not arise when subscribing to the newsletter on the home page (in the footer). I noticed that the problem occurs when a voucher code is entered in the newsletter subscription module, which is to be sent to customers joining the "Newsletter"

[2021-07-05 08:10] hibatallahAouadni commented on #25220
Hello @fall-en

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-07-05 08:14] hibatallahAouadni commented on #25224
Hello @Max84

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-07-05 08:16] datshay3292 opened #25230 "Every time I updated the carrier, new entry is made in the database"
I am using prestashop 1.7.7.5

When I update my carrier details and click on Finish button, it makes a new entry in the database instead of updating.

Before editing the carrier, the id of my carrier was 21, after I update the carrier it becomes 22 and on my next update it becomes 23 and continues. This is making duplicate entries in the database.

Please check this.

[2021-07-05 08:16] hibatallahAouadni commented on #25225
Hello @dvision6

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-07-05 08:16] #25225 closed, assigned to nobody

[2021-07-05 08:18] hibatallahAouadni commented on #25226
Hello @egoodswiss

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-07-05 08:18] #25226 closed, assigned to nobody

[2021-07-05 08:33] hibatallahAouadni commented on #25227
Hello @superteixeira

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #13468.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: Thanks @d33x for your quick reply :rocket:

Thanks!

[2021-07-05 08:33] #25227 closed, assigned to nobody

[2021-07-05 08:33] hibatallahAouadni commented on #25227
Duplicate of #13468

[2021-07-05 08:35] hibatallahAouadni commented on #25230
Hello @datshay3292

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-07-05 08:35] #25230 closed, assigned to nobody

[2021-07-05 09:00] datshay3292 commented on #25230
Hello,

Thank you for quick check. Please once create a new carrier here Shipping>>carrier
Then save it.

New carrier will be created with some id_carrier, lets say 10

Now edit that carrier and save it. It will create a new id_carrier for that carrier.
Again edit and save. New id_carrier is again created.

That means, every time I update any carrier, it will create a whole new entry for that part

[2021-07-05 09:02] kpodemski commented on #25230
Hello. It's not a bug. You need to have an old carrier for historical data. If you want to do something based on this carrier, you should use the `id_reference` field.

[2021-07-05 09:13] hibatallahAouadni commented on #25211
Hello @lmeyer1

Could you please edit your issue description :pray: and notify me.
I just edit the issue title :wink:

Thanks!

[2021-07-05 09:15] datshay3292 commented on #25230
Actually you are not getting the point here.

Every time I make any changes to my carrier and save it, the id_carrier is also changed from 10, 11, 12 , 13 and continues.

That means it is making new entry in the database for the tables : ps_carrier,  ps_carrier_lang, ps_delivery, ps_weight_range

You can once check this by creating a new carrier and update that carrier. You will see the new id for

[2021-07-05 09:21] matks commented on #25230
@datshay3292 Just like @kpodemski said, it is not a bug. This is done on purpose.

`ps_carrier` SQL table contains records. Every time you update a carrier settings, a new record is created (with new data) and the old record is kept for history as it might be needed for old orders.

It's working as expected.

If you update one thousand times a carrier, you will have one thousand entries in ps_carr

[2021-07-05 09:28] SharakPL commented on #25044
#24638 states it will be fixed in 1.7.9.0. Is that correct? Does it mean all previous version will still be affected?

[2021-07-05 09:34] matks commented on #25044
@SharakPL No, it's because https://github.com/PrestaShop/PrestaShop/issues/24638 will remove any modules that are not related to the core from the project, so any issues that are introduced by these modules (like ps_metrics) will be removed.

If an issue comes from ps_metrics and we remove ps_metrics from the core, the issue is gone ✅

[2021-07-05 09:44] Progi1984 commented on #19353
Ping @Kaudaj

[2021-07-05 09:50] matks commented on #25224
Hello @Max84

So, for example, if a POST request is sent to PrestaShop to modify a Customer object, the payload contains
- firstname is not valid
- lastname is valid
- email is not valid

You would like that only lastname field is modified, and firstname and email are not saved.

Why would you do this?

In the Back Office, we do not this. If merchant opens "Edit a Customer" Back Office page and mo

[2021-07-05 10:01] lmeyer1 commented on #25211
@hibatallahAouadni I already edited the description and added the screenshot that shows the issue.

[2021-07-05 10:05] Max84 commented on #25224
Hello @matks,

Well, I was like you. Don't save even if a single field is wrong.
But several of our customer asked us for this partial saving when an API POST/PUT is done. That's why i suggested it.

You're right, it's an UX issue.
I'm a developer, and I prefer to preserve integrity, but users seems to have another point of view.

Maybe an question for a product owner?

[2021-07-05 10:10] eurya commented on #25166
Hi, thanks for taking the time to check this issue.
From my understanding, it comes from the "Migration Module" (from ETS Soft) which set some fields to null instead of an empty string "".

[2021-07-05 10:15] Progi1984 commented on #19355
Ping @okom3pom

[2021-07-05 10:16] okom3pom commented on #19355
Teams are the most important thing :)

[2021-07-05 10:24] shikotakcom opened #25231 "Declaration of Cart"
I upgrade the Prestashop some days ago and I got strange problems.
I change nothing but suddenly I got this error on back office and front office.

Declaration of Cart::getProducts($refresh = false, $id_product = false, $id_country = NULL, $fullInfos = true) should be compatible with CartCore::getProducts($refresh = false, $id_product = false, $id_country = NULL, $fullInfos = true, bool $keepOrder

[2021-07-05 10:35] Progi1984 commented on #19316
Ping @micka-fdz

[2021-07-05 10:35] Progi1984 commented on #19364
Ping @micka-fdz

[2021-07-05 10:38] Progi1984 commented on #19317
Assigned to @jf-viguier

[2021-07-05 10:38] Progi1984 commented on #19365
Assigned to @jf-viguier

[2021-07-05 10:45] ghost opened #25232 "Error on install.."
Guys!?
What the hell is that??!

1.7.7.5

ps_facebook1: Nie można zainstalować modułu "ps_facebook"

![Zrzut ekranu z 2021-07-05 o 12 44 13](https://user-images.githubusercontent.com/8243273/124459778-d2671e80-dd8e-11eb-8d14-3b6e62e90068.png)

[2021-07-05 10:48] Progi1984 commented on #19306
Assigned to @kaudaj

[2021-07-05 10:48] Progi1984 commented on #19325
Assigned to @okom3pom

[2021-07-05 10:56] hibatallahAouadni commented on #25221
Hello @Angar90

I was able to reproduce the issue with PrestaShop version 1.7.8.x. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a

[2021-07-05 11:01] hibatallahAouadni commented on #25232
Hello @PrestaShark

We are aware of this issue, the Addons Team is already work on it. This issue is a duplicate of #25191.
This issue is related to Addons API and not to PS Core.

Thanks!

[2021-07-05 11:01] #25232 closed, assigned to nobody

[2021-07-05 11:01] hibatallahAouadni commented on #25232
Duplicate of #25191

[2021-07-05 11:04] hibatallahAouadni commented on #25228
Hello @smithikakart

I didn't manage to reproduce the issue with a fresh install and with Classic theme, it seems your issue related to Cache issue as @matks mentioned above.

Sorry but I have to close the issue cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help w

[2021-07-05 11:04] #25228 closed, assigned to nobody

[2021-07-05 11:07] hibatallahAouadni commented on #25231
Hello @shikotakcom

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #20332.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-07-05 11:07] #25231 closed, assigned to nobody

[2021-07-05 11:07] hibatallahAouadni commented on #25231
Duplicate of #20332

[2021-07-05 11:10] marionf commented on #19308
Assigned to @okom3pom

[2021-07-05 11:22] hibatallahAouadni commented on #25211
Hello @lmeyer1

I reproduce the issue with PS1.7.6.7 and PS1.7.7.5. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [hiring a specialist](htt

[2021-07-05 11:29] hibatallahAouadni commented on #25166
Hello @eurya

It seems that your issue is not a PrestaShop core bug. Please contact your module developer to fix the issue.
We will close this issue.

Thanks!

[2021-07-05 11:29] #25166 closed, assigned to nobody

[2021-07-05 11:59] jonathangreco commented on #24666
@hibatallahAouadni Hi ! No news on this one ?

[2021-07-05 12:12] hibatallahAouadni commented on #24666
@PrestaShop/prestashop-core-developers friendly reminder 🙏 could someone please check the code above.

Thanks in advance!

[2021-07-05 12:13] marionf commented on #25031
This issue isn't related to the open-source project and the maintainer's team can't fix it

[2021-07-05 12:13] #25031 closed, assigned to nobody

[2021-07-05 12:16] dmartinez-softdil opened #25234 "Product::addFeatureProductImport - will never update again $id_feature_value values"
#### Describe the bug

![image](https://user-images.githubusercontent.com/86963330/124470635-23c9da80-dd9c-11eb-9881-4a1167855210.png)

![image](https://user-images.githubusercontent.com/86963330/124470993-a05cb900-dd9c-11eb-88c3-3d5963ba80c7.png)

We use this funcion in previous versions to update feature_value values of a feature. In 1.7 version, ps_feature_value keys changed in order to allow m

[2021-07-05 12:21] khouloudbelguith commented on #23754
Hi!

This issue is fixed.

Thank you!

[2021-07-05 12:23] khouloudbelguith commented on #23754
Still reproduced with PS178_rc1
![image](https://user-images.githubusercontent.com/16067358/124470992-9fc42280-dd9c-11eb-97c6-679da0bea147.png)

[2021-07-05 13:11] matks commented on #25224
Hi @Max84 indeed we can ping @PrestaShop/product-team to have a product opinion 👍

[2021-07-05 13:12] hibatallahAouadni commented on #25229
Hello @dzeek93

I didn't manage to reproduce your issue with PS1775, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/124476622-562b0600-dda3-11eb-8de1-02cc817ecdbc.png)

![image](https://user-images.githubusercontent.com/23308427/124476566-44e1f980-dda3-11eb-903f-facdcab89564.png)

Please check and feedback.
Thanks!

[2021-07-05 13:42] SD1982 opened #25237 "FO - Account - Voucher is not displayed in voucher list if created by a partial refund"
#### Describe the bug

If during a partial refund we create a voucher instead of a credit slip, the voucher is not displayed in FO in account voucher list

#### Expected behavior

Every voucher available for the customer should be displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO and create an order
2. Go on BO and go to the previously created order detail page
3. S

[2021-07-05 14:26] hibatallahAouadni commented on #25222
Hello @didi-2018

I was able to reproduce the issue with PrestaShop version 1.7.6.7 and PS1.7.7.5. I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you con

[2021-07-05 14:28] khouloudbelguith opened #25240 "BO - Translations - An error "There are no translation file available." is displayed"
#### Describe the bug
An error is displayed when we try to translate the Front office + core.
Shop > Theme > Catgory => an error is displayed.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Translations page
2. Choose FO translations + core + English
3. Click on Shop > Theme > Category
4. See error

In the PS177x, we don't have the tree: Shop > Theme > Ca

[2021-07-05 14:51] matks commented on #23010
## 05-07-2021 Status update - 1.7.8.0 RC1 build faulty

Last week a 1st build of 1.7.8.0 RC1 was delivered and given to QA team for validation. The QA full test campaign should be over in the next days.

However multiple major bugs have been detected on 1.7.7 and 1.7.8.

Consequently there will be a 2nd build of 1.7.8.0 RC1 in the next days, which will be given to QA team again.

[2021-07-05 14:52] hibatallahAouadni commented on #25234
Hello @dmartinez-softdil

Thanks for your issue!
Could you please provide steps to reproduce the issue, cause I need to reproduce the bug to fix it :wink:
And could you please specify your PS version.
Please check and feedback.

Thanks!

[2021-07-05 15:47] admin123456789012 opened #25243 "Presta error 500 at 67% of installation."
#### Describe the bug

Can't install presta there is error 500 at installation

1: HTTP 200 - parsererror -
Warning: include(/public_html/testpresta/var/cache/dev/ContainerVwxzgwc/appDevDebugProjectContainer.php): failed to open stream: No such file or directory in /public_html/testpresta/var/cache/dev/appDevDebugProjectContainer.php on line 7

Warning: include(): Failed opening '/public_html/test

[2021-07-05 16:14] hibatallahAouadni commented on #25243
Hello @admin123456789012

We are aware of this issue, the Addons Team is already work on it. This issue is a duplicate of #25191.
This issue is related to Addons API and not to PS Core.

Thanks!

[2021-07-05 16:14] #25243 closed, assigned to nobody

[2021-07-05 16:14] hibatallahAouadni commented on #25243
Duplicate of #25191

[2021-07-05 16:22] hibatallahAouadni commented on #25223
Hello @ad1rie1

It seems your issue is kind of related to these #19810 & #16735
It looks like the sorting with this module is not working well :confounded:
Did you encounter this issue with another Facted search version? and what's your module version?
Please check and feedback.

Thanks!

[2021-07-05 21:24] stefan776 commented on #25191
Not working :)

[2021-07-05 21:25] stefan776 commented on #25191
![image](https://user-images.githubusercontent.com/62173515/124518973-a2e8fe00-ddf0-11eb-8b89-a3ddb4ba42cf.png)

[2021-07-05 23:05] OpiumCity commented on #17810
Hi,

It seems that object translations for the emails :
productoutofstock
new_order
return_slip
productcoverage
order_changed
customer_qty

are still missing ?

![image](https://user-images.githubusercontent.com/46693396/124523176-425cbf80-ddf6-11eb-80c3-f645e8fd9cff.png)

[2021-07-06 07:48] PrestaShark commented on #10122
Bump! Any news about that?

[2021-07-06 07:52] florine2623 commented on #24955
Hello @tswfi ,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-07-06 07:52] #24955 closed, assigned to nobody

[2021-07-06 07:53] florine2623 commented on #24974
Hello @Jaimetonala ,

Since we had no news from you for more than 30 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-07-06 07:53] #24974 closed, assigned to nobody

[2021-07-06 08:09] marionf commented on #25202
QA team will not be able to test both 1.7.7.6 and 1.7.8.0 RC1 build 2 in an eligible time window. There is too much work. That is why we decided to cancel 1.7.7.6 release for now.
1.7.7.x branch will be soon merged into 1.7.8.x

[2021-07-06 09:19] web23421 opened #25247 "How to get category id in hookdisplayBackOfficeCategory($params) in prestashop 1.7.8.0"
#### Hello, can not get id of the category, because $params['request']->get('categoryId') is not working anymore in prestashop 1.7.8.0 in these admin hooks.

[2021-07-06 09:28] andreapietrella commented on #13210
Hello Ivo,
Can you tell me where can I find StockManagement class? I do not find anything with that name in stock classes. Even if I try to search for reserved_quantity i can't find anything. Do someone know where this function is?  If I can find it I assume is quite simple to set the id_shop=0 by default, it will solve my problems!

Thanks

[2021-07-06 09:39] florine2623 commented on #25247
Hello @web23421 ,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. *You must follow the template to submit a complete bug report*.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further inform

[2021-07-06 09:39] #25247 closed, assigned to nobody

[2021-07-06 10:02] web23421 opened #25248 "How to get category id in hookdisplayBackOfficeCategory($params) in prestashop 1.7.8.0"
#### Describe the bug

Hello, can not get id of the category, because $params['request']->get('categoryId') is not working anymore in prestashop 1.7.8.0 in this admin hook for module - displayBackOfficeCategory.

#### Expected behavior

$params['request']->get('categoryId') returns id in prestashop 1.7.7

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create module
2. Create public

[2021-07-06 10:13] andreapietrella commented on #13210
Solved (sort of) for prestashop users that uses ONLY multistore with shared quantities

in src/Adapter/StockManager.php

change in line 109

            WHERE sa.id_shop = ' . (int) $shopId . '
to
            WHERE sa.id_shop = 0

and in line 153
            WHERE sa.id_shop = :shop_id
to
            WHERE sa.id_shop = 0

Hope this can help someone to quick solve the issue and someone else to deve

[2021-07-06 11:06] hibatallahAouadni commented on #24499
FYI: I reproduce the same issue with PS1.7.8.0 and 1.7.8.x

[2021-07-06 11:09] hibatallahAouadni commented on #10122
Hello @PrestaShark

Unfortunately, not yet fixed :confounded:
Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved.

If you manage to get the problem fixed, then please contribute the fix back to the project as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/). Remember that the more people cont

[2021-07-06 12:04] florine2623 commented on #25248
Hello @web23421 ,
Can you provide the module so we can test it on our side ?
Thanks!

[2021-07-06 12:10] matks commented on #25224
@Max84 I modified the issue name from "resilient" to "error-tolerant" because "resilient" would rather be about dealing with outage while here the topic is ignoring invalid data

[2021-07-06 12:11] kpodemski commented on #25248
@florine2623 I think we can test it using ps_qualityassurance? 🤔

hook into: `displayBackOfficeCategory`

and use:

`dump($params['request']->get('categoryId'));`

[2021-07-06 12:34] web23421 commented on #25248
@florine2623 I can send you screenshot. The module is on sale for addons.

![333](https://user-images.githubusercontent.com/72523258/124600724-b1c2c580-de6f-11eb-852a-9b7f5eaf8276.png)

[2021-07-06 13:05] khouloudbelguith opened #25254 "FO - Product details page - the ecotax is not updated while changing the currency with different exchange rate"
#### Describe the bug

In the FO > Product details page > The ecotax is not updated when changing the currency that has an exchange rate <> 1

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a new currency with Exchange rate = 10
2. Go to BO > International > Taxes page and enable Ecotax
3. Go to BO > Products page > Create a product with ecotax
4. Go to FO > Product details p

[2021-07-06 13:13] 01park commented on #24942
When you delete an item, does  all date in id_stock_available also delete?

By me not. Even when I create a new product. After i delete this, all data stays in the database.

[2021-07-06 14:17] YoavRheims commented on #10687
This is not solved: if the shop is installed with www subdomain, it is impossible to preload the site but if the bare domain is used, there is no issues at all. I'm using the current latest version of Prestashop wich is 1.7.7.5

[2021-07-06 14:50] mihaiSeoCup opened #25262 "Make a final 1.7.7.x version"
#### Is your feature request related to a problem?

Sincronize your site download arhive with the last version of github code: now you guys have a 1.7.7.5 version on the official website and a 1.7.7.6 version on the 1.7.7.x branch.
ITS ambiguous !!

WHICH ONE OF THEM IS THE STABLE ONE?

#### Describe the solution you'd like

make a new copy after a change ahs been tested and finalized

#### Altern

[2021-07-06 14:57] matks commented on #25262
Hello @mihaiSeoCup there is no 1.7.7.6 release on GitHub. There is work in progress, nothing stable.

1.7.7.5 is the latest stable release for 1.7.7.x ; 1.7.7.6 is not usable in production

I don't understand why you say it's ambiguous: on GitHub people can find the work in progress. Every software project works like this: there is a latest stable version, tested, approved, released, and next vers

[2021-07-06 14:57] #25262 closed, assigned to nobody

[2021-07-06 15:44] khouloudbelguith opened #25264 "BO - Localization Page - There is no confirmation modal when changing the currency by default"
#### Describe the bug

In the BO > International > Localization page, when we try to change the currency by default, there is no confirmation modal displayed as in the PS177

#### Expected behavior
A modal is displayed when selecting another currency
![image](https://user-images.githubusercontent.com/16067358/124629132-716c4300-de81-11eb-99c5-37a919f083b0.png)

#### Steps to Reproduce

Steps to re

[2021-07-06 16:48] florine2623 commented on #25248
@kpodemski & @web23421 ,

Indeed I was able to reproduce the issue using ps_qualityassurance module in PS 1.7.8.X.

In PS 1.7.8. I get the following error :
<img width="874" alt="Screenshot 2021-07-06 at 18 46 44" src="https://user-images.githubusercontent.com/16019289/124637872-91eccb00-de8a-11eb-8889-9ee53e20ae0d.png">

In PS 1.7.7 I get the data :
<img width="939" alt="Screenshot 2021-07-06 at

[2021-07-06 18:35] ad1rie1 commented on #25223
Hello, The module version is : v3.7.1 and prestashop : 1.7.7.5

[2021-07-06 18:37] ad1rie1 commented on #25223
The Two issues is unrelated. Because i am targeting Product ID not price or some range value

[2021-07-06 23:10] Maofree opened #25269 "How can set priority on multi Catalog Prices Rules?"
Hi

#### Describe the bug

on a site there are 2 catalog prices rules, one is with the condition on category and one with the condition on brand.
the condition on brand seems to have a higher priority than that of the category.

is it possible to set a custom priority? because in some cases it is necessary a different priority

#### Expected behavior

in this case the shopkeeper wants to set a hig

[2021-07-07 03:58] rhariskumar3 opened #25270 "Unable to add Embed Video in Product Description"
#### Embed Video

I can't able to add embed video in the Product description. It showing "The description field (English (English)) is invalid."

#### Steps to Reproduce

1. Add or Edit Product
2. In Description, Insert embed video [Youtube Embed Code]
3. Click Save

**Screenshots**

<img src="https://i.ibb.co/yFWMRLR/Annotation-2021-07-07-092514.png" alt="Annotation-2021-07-07-092514" border="0">

[2021-07-07 05:24] Hlavtox commented on #25270
@rhariskumar3 Hi, try to go to Shop parameters > General and enable **Allow iframes on HTML fields**. Try it and let me know. ;-)

[2021-07-07 07:44] khouloudbelguith commented on #25264
Hi @PrestaShop/product-team!

This issue should be fixed in the PS178_rc1_build2?

Thanks!

[2021-07-07 08:04] rhariskumar3 commented on #25270
Yeah. It's working fine now. Thanks for your support.

[2021-07-07 08:04] #25270 closed, assigned to nobody

[2021-07-07 08:12] hibatallahAouadni commented on #25270
Thanks @Hlavtox for your quick reply :superhero:

[2021-07-07 08:29] hibatallahAouadni opened #25272 "FO - the product-flags must be on the same row but with spaces"
#### Describe the bug

The product-flags are displayed in the same row with no space

#### Expected behavior

The product-flags must be on the same row but with spaces

@prestascott notes:

- the out of stock label will be changed, so it won't be like that anymore
- the spacing between the 2 labels is 8 px

#### Steps to Reproduce

Steps to reproduce the behavior:

1. **BO** > **SELL** > **Catalog

[2021-07-07 08:34] florine2623 commented on #24942
Hello @01park ,

In my multistore, I do have every products linked to my stores, ps_stock_available :
<img width="817" alt="Screenshot 2021-07-07 at 10 23 28" src="https://user-images.githubusercontent.com/16019289/124725842-7ecf0f00-df0d-11eb-8e86-b8bc3428a2dd.png">
If I delete a product, the product is deleted from ps_stock_available :
<img width="632" alt="Screenshot 2021-07-07 at 10 26 52" src

[2021-07-07 08:43] 01park commented on #24942
Hi,

Yes, I have the same issue, but I don't know if this is normal behavior. From a logic point of view, I would expect this data to be removed, once you remove the product.

And the same issue when updating a product. I would expect PS to check if there is already a stock id for each product, for each store and if missing to create one.

[2021-07-07 09:00] dwitassek opened #25273 "Duplicated "firstname" in ps_address"
We have a total of 10 Prestashop stores running for different customers in different versions and we are observing a strange behaviour in all of them.

Although the customer enters his correct details in the address field when ordering, the first name is found twice in the order.

In the database it looks like this:
ps_customer - firstname: XXX
ps_customer - lastname: YYY

ps_address - firstname:

[2021-07-07 09:13] hibatallahAouadni commented on #25269
Hello @maofree

I reproduce the issue with PS1767 and PS1775, cause there's no priority management in catalog price rules.
When you apply 2 different catalog price rules to the same products with the same minimum quantity.
Only the oldest rule will apply to the product. Other rules will have no effect on the product.

We are aware of this issue, it is already in our debug backlog. This issue is a

[2021-07-07 09:13] #25269 closed, assigned to nobody

[2021-07-07 09:13] hibatallahAouadni commented on #25269
Duplicate of #20185

[2021-07-07 09:18] hibatallahAouadni commented on #25273
Hello @dwitassek

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) o

[2021-07-07 09:18] #25273 closed, assigned to nobody

[2021-07-07 09:21] dwitassek commented on #25273
Sorry, but in my opinion this is a bug: reproducable in 10 different installations.

[2021-07-07 09:25] hibatallahAouadni commented on #25273
Hello @dwitassek

But you said:

So, if you can't reproduce it and can't provide clear and concise steps to reproduce, how can I reproduce it?
And that's why I asked to post the issue on Public Slack, so Contributors can help you to solve the issue :slightly_smiling_face:

Thanks!

[2021-07-07 09:28] hibatallahAouadni commented on #24916
Hello @kdegenkamp

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-07 09:28] #24916 closed, assigned to nobody

[2021-07-07 09:42] Hlavtox commented on #25272
@hibatallahAouadni @NeOMakinG

[code]

[2021-07-07 09:45] hibatallahAouadni commented on #25272
@Hlavtox Go ahead and create a PR :wink:

[2021-07-07 11:02] TianaRiantsoa opened #25274 "Error sent by Addons. You may need to be logged."
#### Describe the bug
Error sent by Addons. You may need to be logged.

#### Additional information

* PrestaShop version: 1.7.7.5
* PHP version: 7.3.12

[2021-07-07 12:06] matks commented on #25274
Hello @TianaRiantsoa I am sorry but we can nothing with this kind of github issue. There is no question, no explanation, no context.

Please follow one of the templates https://github.com/PrestaShop/PrestaShop/issues/new/choose

[2021-07-07 12:06] #25274 closed, assigned to nobody

[2021-07-07 13:15] hibatallahAouadni commented on #25272
@Hlavtox could you please check @prestascott notes in the Expected behavior bloc before creating your PR :pray:
Thanks in advance.

[2021-07-07 13:31] PeNov commented on #25215
Hello @khouloudbelguith,

Yes, this is good idea and works well. Unfortunately, feed from the supplier have not include rewritten URL. Now, I am able repair this mistake with intermediate step. I convert name to the friendly URL in the excel file and save as csv file. It is no ideal, but it is better than manually clicking in the BO.

Thank you
Best regards
PN

[2021-07-07 14:06] Robin-Fischer-PS opened #25276 "Autoupgrade - Error during upgrade to develop"
#### Describe the bug

After creating a release on develop, and upgrading to this zip with autoupgrade module, there is an error during the upgrade.

Need to stop make auto test from 1.6 to 8.0
Find an alternative to test the upgrade from 1.6 to 8.0 without the fails of PHP env

#### Expected behavior

No error during upgrade

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install a

[2021-07-07 14:24] Sinepel opened #25277 "Condition isCatalogueMode reversed + Price drop link related to the PS_DISPLAY_BEST_SELLERS condition"
#### Describe the bug

- On the sitemap page, until now, the condition isCatalogueMode was reversed.
So if you were not in catalogue mode, the best sellers + price drops page was not displayed.
- Also, if the PS_DISPLAY_BEST_SELLERS condition is false, you cannot display the price drop page.
Indeed, on the PricesDropController, there is no init() method which, like for the BestSalesController, che

[2021-07-07 14:53] prestascott commented on #25272
@hibatallahAouadni yep, it's good to me :) thanks!

[2021-07-07 15:38] hibatallahAouadni commented on #25276
Hello @Robin-Fischer-PS

I reproduce the issue with PS1774, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/124788916-1b170700-df4a-11eb-909c-3a780d015533.png)

Thanks!

[2021-07-07 16:13] jf-viguier opened #25278 "Add .php-cs-fixer.dist.php for PHP-CS-Fixer version 3"
#### Is your feature request related to a problem?
.php_cs.dist is renamed .php-cs-fixer.dist.php in version 3 :
https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/v3.0.0/UPGRADE-v3.md

#### Describe the solution you'd like

Support both version with both .php_cs.dist & .php-cs-fixer.dist.php files

[2021-07-07 20:02] matks commented on #25278
Hello @jf-viguier I'm not sure to understand.

1. We don't have to follow PHP-CS-Fixer naming. This is just a default name. If I am not wrong, we can name the PHP CS Fixer configuration file `presta-php-cs.php` and use `--config` option to simply target this file?
2. Why would we support both versions? We use php-cs-fixer v2.19 so right now we use the right convention. If we upgrade to php-cs-fixe

[2021-07-08 03:28] Dupflo opened #25282 "ps_facetedsearch v3.7.1 not displaying prices filter on 1.7.7.5"
#### Describe the bug

The price filter is not working when activated.

I am using the Warehouse theme an comment theme override to make sure it does not come from the theme

I reset the module and occurred the same issue

I enable weight filter slider and it works

#### Expected behavior

When enable the price filter should be displayed on the left column

#### Steps to Reproduce

Steps to reprod

[2021-07-08 08:08] matks commented on #9948
@ocio87 PR https://github.com/PrestaShop/PrestaShop/pull/20565 has been milestoned for 1.7.8, not 1.7.7 . We don't backport bugfixes unless they are a regression (= working in 1.7.6, not working in 1.7.7) in order to keep patch releases focused and more stable.

[2021-07-08 08:11] hibatallahAouadni commented on #25282
Hello @Dupflo

I didn't manage to reproduce your issue with PS1775, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/124886574-aa68fc80-dfd4-11eb-8fae-9d0af71daf73.png)

Try to rebuild your entire price index by clicking on this button:

![image](https://user-images.githubusercontent.com/23308427/124886788-e00de580-dfd4-11eb-8d83-1f4237a0a035.png)

Pl

[2021-07-08 08:46] hibatallahAouadni commented on #25237
Related to #21556

[2021-07-08 09:09] hibatallahAouadni commented on #25223
Hello @ad1rie1

I didn't manage to reproduce the issue with PS1775 and FactedSearch v3.7.1, see the attached screen record below:

https://drive.google.com/file/d/1vtMT0kcLDIlrfLAjlUz5e4KTnn4Mm0qY/view

Please check and feedback.
Thanks!

[2021-07-08 09:48] Progi1984 commented on #24788
Fixed in #24868 by @Progi1984

[2021-07-08 09:48] #24788 closed, assigned to Progi1984

[2021-07-08 09:49] Progi1984 commented on #24499
Fixed in #25059 by @Progi1984

[2021-07-08 09:49] #24499 closed, assigned to Progi1984

[2021-07-08 09:49] Progi1984 commented on #25011
Fixed in #25106 by @Progi1984

[2021-07-08 09:49] #25011 closed, assigned to Progi1984

[2021-07-08 09:52] atomiix commented on #25278
@jf-viguier I've done it in this PR: https://github.com/PrestaShop/PrestaShop/pull/25052/files#diff-8ec5bae185dc9af5b5bfdcd5f1dcbee62f18525ee488996d52b22729f4076ef0 ;)

[2021-07-08 09:54] agnesdennetiere commented on #22485
Hello,

is there a way to add a patch to a previous version of Prestashop without upgrading completely?
Is there a commit which fixes this?
Thank you

[2021-07-08 10:26] Progi1984 commented on #23957
Fixed in #24324 by @Progi1984

[2021-07-08 10:26] #23957 closed, assigned to Progi1984

[2021-07-08 10:42] jf-viguier commented on #25278
@matks my VS Code cs fixer plugins seems to use CS Fixer version 3 and not the one used in prestashop, that' the reason why.
Thanks @atomiix but my pr is maybe needed before SF 4 ?
If not, feel free to close my pr.

[2021-07-08 10:42] Progi1984 commented on #25195
Fixed in #25200 by @Progi1984

[2021-07-08 10:42] #25195 closed, assigned to Progi1984

[2021-07-08 10:42] Progi1984 commented on #25194
Fixed in #25200 by @Progi1984

[2021-07-08 10:42] #25194 closed, assigned to Progi1984

[2021-07-08 11:30] Hlavtox opened #25283 "FO - Featured product not well displayed with responsive"
#### Describe the bug

- Go to homepage, reduce screen size and see featured products overflow into each other.

#### Expected behavior

It should be well displayed as in PS1769
![image](https://user-images.githubusercontent.com/16067358/127674541-53828dd4-c660-402c-87b5-096b02de3cc7.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to FO > home page
2. Resize the window
4. Se

[2021-07-08 11:32] Hlavtox opened #25284 "Breadcrumbs hidden on mobile"
#### Is your feature request related to a problem?

Breadcrumbs are hidden on lower resolutions. Why? Their purpose is to ease the navigation on our store, even more on mobile devices.

#### Describe the solution you'd like

Stop hiding breadcrumbs on mobile

[2021-07-08 11:33] kpodemski commented on #25283
Hey @Hlavtox

Could you please create separate issues with a proper template? 🙏

[2021-07-08 11:35] Hlavtox commented on #25283
@kpodemski I was too lazy, but OKKKK 😄

[2021-07-08 11:54] Progi1984 commented on #25078
Fixed in #25107 by @Progi1984

[2021-07-08 11:54] #25078 closed, assigned to Progi1984

[2021-07-08 12:22] atomiix commented on #25278
@jf-viguier for now, we're not using php-cs-fixer 3 so no need to rush, the config file is only deprecated.
I think you should use the version set in the composer.json rather than the version packaged with the VS code plugin you're using though, it will be less prone to error as the CI is using the version set in composer.json.

[2021-07-08 12:52] jf-viguier commented on #25278
@atomiix thanks, but look at PHP CS Fixer depot : they support both, it could be useful for some people I guess ?

[2021-07-08 13:13] #24605 closed, assigned to atomiix

[2021-07-08 13:21] hibatallahAouadni commented on #25284
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-07-08 13:26] Progi1984 commented on #25033
@matks :warning: The project is managed by PrestaShopCorp teams : https://github.com/PrestaShopCorp/gamification

[2021-07-08 14:37] idnovate commented on #19640
This has not been merged yet  :man_shrugging:

[2021-07-08 14:38] Max84 commented on #25032
Hi,

Sorry, but I'm not agree. This bug isn't fixed by these other PR. Please reopen it.
I found why. MySQL order by is inconsistent because id_product_attribute can be NULL.

In query, instead of do this "ORDER BY id_product_attribute ASC" you should use "ORDER BY ISNULL(id_product_attribute) ASC".

We'll write the PR.

[2021-07-08 14:47] Progi1984 commented on #25214
Fixed in #25216 by @NeOMakinG

[2021-07-08 14:47] #25214 closed, assigned to nobody

[2021-07-08 15:02] Progi1984 commented on #25033
Issue created in the repo : PrestaShopCorp/gamification#92

[2021-07-08 15:44] msaustral commented on #22485
Hi @agnesdennetiere you can do it by creating a folder, place all file of the previus ver. then point a subdomain to that folder.

Remember to change the domain on the DB, clear cache and change access to the new Data Base

[2021-07-08 15:45] hibatallahAouadni commented on #25283
Hello @Hlavtox

If you're talking about the (1) search bar is already fix it with this PR #25192 and your issue is a duplicate of #25133
if (2), I didn't manage to reproduce your issue, please check the attached screenshot below:

**Mobile:**
![image](https://user-images.githubusercontent.com/23308427/124936867-3136cd00-e007-11eb-8efc-3e01040dd4ed.png)

**Desktop:**
![image](https://user-images.gi

[2021-07-08 16:03] hibatallahAouadni commented on #25032
Hello @Max84

Did you try this fix #22969?

[2021-07-08 16:29] hibatallahAouadni commented on #25277
Hello @Sinepel

I reproduce the issue but I think it will be better if we check with PM if this is the wanted behavior or not :wink:

Ping @PrestaShop/product-team

1. When we disable cataloge mode option in BO>Shop Parameters>Product Settings
2. FO>Sitemap
3. the two links **price drop** + **best sellers** should be displayed or not?

Thanks in advance :pray:

[2021-07-08 16:31] Sinepel commented on #25277
Hello @hibatallahAouadni

No problem.
However, as the 2 controllers are not linked, as the PS_DISPLAY_BEST_SELLERS condition is checked in the best sellers controller but not in the price drops controller, I won't understand that they should be linked here, if you know what I mean :)

Thanks !

[2021-07-08 16:49] #25033 closed, assigned to Progi1984

[2021-07-08 18:09] d33x opened #25290 "Rounding problem on specific prices for products"
#### Describe the bug

This is a minor bug but it may have repercussions elsewhere (?).

In the price (cost, VAT, ...) of a product, put "65.13" and see the result. The amount is automatically changed to "65.129999". This is not the case for many other numbers.

#### Expected behavior

The amount should remain in "65.13" and should not be changed.

#### Steps to Reproduce

Steps to reproduce the b

[2021-07-09 06:42] Max84 commented on #25032
Hello @hibatallahAouadni

Yes I did. I think it's not enough because this fix was think for JSON output. XML output has been forgotten.
We'll test to do something equivalent for XML too.

[2021-07-09 07:03] lorenzoripa opened #25293 "Problem with cart and products with customization"
#### Describe the bug

When I add a product to the cart with personalization and then I go to add the same product in another color but without personalization.
In the cart I find the personalization on the second product instead of on the first inserted and when I go to update the quantities of the first product, the system creates a new line with the same product
It only happens if I insert the

[2021-07-09 07:47] matks commented on #25203
Pull Request https://github.com/PrestaShop/PrestaShop/pull/25286

[2021-07-09 08:00] Max84 commented on #25032
Just to help anybody who need this, in order to wait the PR.
This can be use as hotfix, with no guarantee. PR isn't done and QA doesn't check it ;)

Into classes/ObjectModel.php, function getWebserviceObjectList near line 1455.
Replace:
`' . ($sql_sort != '' ? $sql_sort : '') . '`
by:
`' . ($sql_sort != '' ? $sql_sort . ', main.`' . bqSQL($this->def['primary']) . '`' : '') . '`

[2021-07-09 08:06] khouloudbelguith commented on #25290
Hi @d33x,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12078
So, I close it.
Thanks!

[2021-07-09 08:06] #25290 closed, assigned to nobody

[2021-07-09 08:06] khouloudbelguith commented on #25290
Duplicate of #12078

[2021-07-09 08:21] tromarek1 opened #25294 "Faceted Search Cannot rebuild price index"
When I click on rebuild price:
![image](https://user-images.githubusercontent.com/5338931/125047244-12841500-e09f-11eb-94c3-6a191d622f6b.png)
module throws an error. When I go to CRON job link: ERROR 500.

Steps to reproduce the behavior:

1. Go to 'Modules > Faceted Search'
2. Click on 'Rebuild price index'
3. See error

PrestaShop version: 1.7.7.5
Faceted search version: 3.7.1

[2021-07-09 09:08] ad1rie1 commented on #25223
Ok , very strange but ok ! i will search on my install so ;)

[2021-07-09 09:08] #25223 closed, assigned to nobody

[2021-07-09 09:11] hibatallahAouadni commented on #25223
@ad1rie1 don't forget to feedback even the issue is closed :wink:

[2021-07-09 09:23] xpectopatronus commented on #12684
Thank you @Goretsv for providing the solution.
I had the same issue. I'm new to Presta and I was close to ditch it.
After some research I know that this problem is known since Prestashop 1.6.1.5.

If you have SMTP server or another machine and your provider implemented some anti-spam policies, you might end up with connection being rejected by SMTP server with error:
"Expected response code 250 bu

[2021-07-09 09:31] khouloudbelguith commented on #25293
Hi @lorenzoripa,

First, PrestaShop is not compatible with PHP 7.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
PrestaShop 1.7.7 is compatible with PHP7.3
The next Major release PS1.7.8 will be compatible with PHP7.4.
You need to downgrade your PHP version.

Second, thanks for the issue, but you need to follow th

[2021-07-09 09:31] #25293 closed, assigned to nobody

[2021-07-09 09:41] khouloudbelguith commented on #25294
Hi @tromarek1,

Thanks for your issue.
I did not manage to reproduce the issue with PS1.7.7.5 and ps_facetesearch v3.7.1.
I attached a screen record
https://drive.google.com/file/d/1JIQgnLwGzQQ_Ocpyv5NDeighgxptii9d/view?usp=sharing
What is the exact version of the ps_facetedsearch module did you use?
What is the exact language & currency did you use in the BO?

Thanks!

[2021-07-09 09:47] khouloudbelguith commented on #25215
Hi @PeNov,

Great!
Thanks for your feedback.
I will update your first comment to report only the second bug.
Thank you!

[2021-07-09 10:24] ytilotti opened #25298 "Show error delete product on order page admin"
#### Describe the bug

The errors on action delete product in the admin page of an order were not showing. It's OK on update & add action.

#### Expected behavior

Show an error like this:
![image](https://user-images.githubusercontent.com/5848945/125063852-4451a780-e0b0-11eb-8689-54d2d2ccf1aa.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create 3 hook `actionObjectOrderDetai

[2021-07-09 10:27] khouloudbelguith commented on #24942
Hi @01park,

I have the same behavior as @florine2623 with PS1.7.7.5.
 First issue: id stock available not creating id for all store in multishop
1. If I create a product in **All shops** => id_stock_available is created in all shops
2. If I create a product in a specific shop => id_stock_available is created in the specific shop
3. If I create a new shop with import all data => id_stock_available

[2021-07-09 10:54] Oksydan opened #25299 "Native module ps_linklist custom link url validation"
#### Describe the bug

When we try to add custom link with url like this `/my-category`, validation error occurs. We are force to use full link `domain.com/my-category`. To easier maintain our multiple test environment we are migration some database tables to multiple prestashop installations. To make sure links will work on every installation we can't use links with domains.

#### Expected behavi

[2021-07-09 10:57] khouloudbelguith commented on #25298
Hi @ytilotti,

Thanks for your issue and the PR.
I don't have an exception when updating the quantity of the product in the BO > Orders > View Order page.
I attached a screen record
https://drive.google.com/file/d/1yz8hn2Cf8bm6uqX3BlMkcWh0iouocp_O/view?usp=sharing
I'm missing something?
Thanks!

[2021-07-09 11:05] khouloudbelguith commented on #25299
Hi @Oksydan,

Thanks for your issue.
I think it is not a bug but normal behavior.
![image](https://user-images.githubusercontent.com/16067358/125068719-1707f800-e0b6-11eb-9fae-e29dc5c755d2.png)

But it could new improvement: when we add an URL `/my-link` it should be ok and it is rewritten to `Shop.com/my-link`

Ping @PrestaShop/product-team what do you think?

Thank you!

[2021-07-09 11:43] kpodemski commented on #25299
Good idea, especially when we want to keep URLs working between a few environments 👍

[2021-07-09 12:18] alx-web opened #25300 ""No carriers available" : case detected"
#### Describe the bug
When we arrive in checkout page to list carriers, we have the message "Unfortunately, there are no carriers available for your delivery address." When we come back to choose address and change adresse, the result is the same. The problem is only for some customers.

A clear and concise description of what went wrong.

#### Expected behavior
Display the carriers

Explain what

[2021-07-09 12:54] ytilotti commented on #25298
The problem come from ps_qualityassurance, it catch Exception.
[code]
So need to create a module for testing or need to fix ps_qualityassurance.

[2021-07-09 12:58] khouloudbelguith commented on #25298
@ytilotti, Could you please provide me a demo module to test your issue?

Thanks!

[2021-07-09 14:16] Progi1984 commented on #21475
Updated documentation : PrestaShop/docs#1077

[2021-07-09 14:29] Progi1984 commented on #19315
Assigned to @micka-fdz

[2021-07-09 14:29] Progi1984 commented on #19320
Assigned to @micka-fdz

[2021-07-09 14:29] Progi1984 commented on #19363
Assigned to @micka-fdz

[2021-07-09 14:29] Progi1984 commented on #19368
Assigned to @micka-fdz

[2021-07-09 14:33] PierreRambaud commented on #25298
@khouloudbelguith COuld you test with this PR in the module Ps_qualityassurance I fix an issue where module doesn't trigger exceptions https://github.com/PrestaShop/ps_qualityassurance/pull/18/files

[2021-07-09 14:35] Seb33300 opened #25303 "Upgrade issue with SQL migrations on multi store"
#### Describe the bug

On a multi store install, the `PS_VERSION_DB` is set in the `ps_configuration` table with `NULL` in the `id_shop` column.

When upgrading Prestashop using the manual upgrade script in `install/upgrade/upgrade.php`, SQL migrations are properly processed, but a new line in `ps_configuration` is created for `PS_VERSION_DB` with `id_shop = 1` to store the upgraded version number

[2021-07-09 14:47] okom3pom commented on #25142
Hello @florine2623 && @hibatallahAouadni

close by https://github.com/PrestaShop/ps_mainmenu/pull/49

Regards Thomas

[2021-07-09 15:33] hibatallahAouadni commented on #25142
Great to know :tada:

[2021-07-09 15:33] #25142 closed, assigned to nobody

[2021-07-09 15:37] khouloudbelguith commented on #25300
Hi @alx-web,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15399 to fix the issue.
It is fixed in PS1770.
Your ticket is a duplicate of #issues/
So, I close it.
Thanks!

[2021-07-09 15:37] #25300 closed, assigned to nobody

[2021-07-09 15:38] khouloudbelguith commented on #25300
Duplicate of #9932

[2021-07-09 15:45] khouloudbelguith opened #25308 "BO - Products with combinations - Adding a quantity and imapct with comma does not work"
#### Describe the bug
In the BO > Product page > Combination tab, when we try to add an impact on price or quantity with a comma, an error is displayed

#### Expected behavior
When user type inside an NumberType input, add a transformer to replace all characters
for example 1,000,2 => 10002

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Products > EDit a produc

[2021-07-09 16:12] khouloudbelguith commented on #18909
Hi!

As discussed in Slack with Denis.
the steps to reproduce the issue:
1. In the BO > Modules > Module manager page > Try to connect to addons with an incorrect password
2. No error is displayed
3. Refresh the page => logged to addons: NOK

=> The connection "seems" OK, except that then when applying APIs Addons checked the password and since it is false => the API returns an error. And in this

[2021-07-09 16:12] #18909 closed, assigned to nobody

[2021-07-09 16:18] khouloudbelguith commented on #25303
Hi @Seb33300,

In step4, I make an upgrade from PS1.7.7.1 to PS1.7.7.5 using the 1-click upgrade v4.12.0, but I don't have two lines.
I attached a screen record
https://drive.google.com/file/d/15VSzDbtWtKN7xCic9kvv9BTmxjKhaF14/view?usp=sharing

Does this issue occur only when you upgrade to PS1.7.7.4?

Thanks!

[2021-07-09 17:18] rzuf666 commented on #10010
@marionf Hello, why this issue is closed if is still on the newest PrestaShop 1.7.7.5. In category is OK, but in page Product Prices Drop not. Please, somebody look into this. In Prices Drop page sorting about price low / high is very important. Customers looking by this best prices. Our customers see this and they report this to me. This bug with Prices Drop page and sorting by price is still in

[2021-07-09 17:19] khouloudbelguith commented on #25298
Hi @PierreRambaud,

Thanks, It works :+1:
@ytilotti, I manage to reproduce the issue PS1.7.7.5
https://drive.google.com/file/d/1bxDdGIKsJ1ckCGisE4dxCxOVzYNZrsgA/view?usp=sharing

But how can I check if it is a regression or not with PS1769?
I don't have any errors with PS1769 using the ps_qualityassurance.

Thanks!

[2021-07-09 17:52] rzuf666 opened #25309 "On prices drop, new products pages sort by price sorts only products on this page but not in whole"
On prices drop, new products pages sort by price sorts only products on this page (pagination) but not in whole. If user go to page 2 or more the sorting position are unexpected. This is about if products have attributes and products have set specyfic price.

This leads to a situation that when sorting from the cheapest to the most expensive, we can have the cheaper product on the page, e.g. 2 tha

[2021-07-09 22:19] rzuf666 opened #25310 "Problem with pagination in New Product after sort by price PrestaShop 1.7.8"
in file /classes/Product in function getNewProducts() sorting by price has been fixed, but in the line of code responsible for splitting into pagination when this sort is active, the order of variables has been mixed up:

**Instead:**

if ($order_by === 'price') {
            Tools::orderbyPrice($result, $order_way);
            $result = array_slice($result, (int) (($nb_products - 1) * $page_numb

[2021-07-09 22:21] rzuf666 commented on #25309
It looks like these problems will be fixed in Prestashop 1.7.8 as I found a solution to my problems in the code of this version. However, there is still a bug, I described it here - https://github.com/PrestaShop/PrestaShop/issues/25310

[2021-07-10 01:41] henri9813 commented on #17455
Hello :-)

When will this be released ?

[2021-07-10 05:12] Seb33300 commented on #25303
Hello @khouloudbelguith, @hibatallahAouadni

@khouloudbelguith Sorry, my explanations may not be clear, but when I said `using the upgrade script in install/upgrade/upgrade.php`, I was not talking about the 1-click upgrade module but using [the cli upgrade script](https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/#database-upgrade) during the manual upgrade process: https://devd

[2021-07-10 06:40] Seb33300 commented on #25303
Here is a screenshot of the step 5
As you can see, 1.7.7.2 migration script is run again (it should not) and ends on a `Duplicate entry 'displayAdminListBefore' for key 'alias'` error.

![image](https://user-images.githubusercontent.com/915273/125154419-28b7d100-e184-11eb-9dd7-e78baf26a455.png)

[2021-07-10 09:41] Seb33300 commented on #25303
I finally found where is the bug and created a PR to fix this issue: https://github.com/PrestaShop/PrestaShop/pull/25311

[2021-07-10 17:34] ytilotti commented on #25298
Thanks @khouloudbelguith for your tests. It's due to the new version of the order page with the migration on Symfony since 1.7.7.

[2021-07-10 18:57] Hlavtox commented on #25283
@hibatallahAouadni

If it's a wanted behavior, it should be done by properly spacing the container, not omitting proper markup ;-). In 1.7.6, no extra space was present, by a hack though.
![css](https://user-images.githubusercontent.com/6097524/125173578-5ae72400-e1c0-11eb-98f5-0e117742ec91.JPG)

_____________________

Try other resolutions:
![Výstřižek](https://user-images.githubusercontent.com/6

[2021-07-10 23:06] Hlavtox opened #25313 "[Idea] Implement mobile version of tables"
#### Is your feature request related to a problem?
Tables are unsuable on mobile devices. Alternative layout should be implemented.

#### Solution
- We should implement alternative layout version to all tables.
- This layout could be triggered by adding something like table-mobile-sm, table-mobile-md, table-mobile-lg or table-mobile-xl. When going under the breakpoint, table will change to mobile

[2021-07-10 23:57] Hlavtox commented on #17137
@micka-fdz @jf-viguier @prestascott

Hi everyone, PR made https://github.com/PrestaShop/PrestaShop/pull/25314

[2021-07-11 11:11] jf-viguier commented on #17137
Thanks for your work  @Hlavtox

[2021-07-11 17:56] kdegenkamp opened #26094 "Not tracking all orders"
I am getting issue that order confirmation page is not being visited by customer and analytics code is not being fired.

[2021-07-12 02:55] Dupflo commented on #25282
@hibatallahAouadni I did and still getting the issue. The thing is it was working couple days ago. Products come from a webservice. Is an issue on the price data could be an issue ?

[2021-07-12 05:34] Robin-Fischer-PS opened #25315 "Product V2 Page - Exception when associated file name in virtual product is empty"
#### Describe the bug

On Product V2 Page, when adding an associated file to a virtual product, if the Filename field is empty, an exception is displayed when saving. This can happen a lot since the filename is not pre-filled in Product V2 Page.

#### Expected behavior

Two behavior should be implemented on associated file form of Product V2 page :
- When the filename field is empty and the user t

[2021-07-12 07:41] Rizzen59 commented on #25137
Hello,

Cache are cleared (more than once)  but no effect.
It seems to me that it arrived when I activated the multistore option with shared stock between store.

When i tried to display the product property "allow_oosp" in template, this value equal 0, but in extension arround the main page this value is well populated.

Thanks

[2021-07-12 08:11] hibatallahAouadni commented on #25313
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-07-12 08:14] marionf commented on #25277
@hibatallahAouadni Yes, the price drop and best sellers pages should be displayed if the catalog mode is disabled.

[2021-07-12 08:21] hibatallahAouadni commented on #25277
Thanks @marionf :relaxed:

[2021-07-12 08:25] hibatallahAouadni commented on #25055
Hello @laradev43

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-12 08:25] #25055 closed, assigned to nobody

[2021-07-12 08:26] hibatallahAouadni commented on #25076
Hello @Goldshop

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #12773.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-07-12 08:26] #25076 closed, assigned to nobody

[2021-07-12 08:26] hibatallahAouadni commented on #25076
Duplicate of #12773

[2021-07-12 08:27] hibatallahAouadni commented on #24928
Hello @nossanhendel

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-12 08:27] #24928 closed, assigned to nobody

[2021-07-12 08:29] hibatallahAouadni commented on #24962
Hello @z72diego

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-12 08:29] #24962 closed, assigned to nobody

[2021-07-12 08:30] hibatallahAouadni commented on #25061
Hello @8ternity

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-12 08:30] #25061 closed, assigned to nobody

[2021-07-12 08:32] khouloudbelguith commented on #24103
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24339

[2021-07-12 08:32] #24103 closed, assigned to PierreRambaud

[2021-07-12 08:50] hibatallahAouadni commented on #25309
Hello @rzuf666

I didn't manage to reproduce your issue with PS1775, see the attached screen record below:

https://drive.google.com/file/d/1HtlJOeJJD3zn1ZxqszQO6b_VewCdzuPt/view

The only issue I reproduce is #19810.
Please check and feedback.

Thanks!

[2021-07-12 08:56] hibatallahAouadni commented on #25310
Hello @rzuf666

I think it will be better if you add these infos in your #25309 issueand close this one :wink:
IMO it's the same issue. If you think not, so please follow the provided template to submit a complete bug report.

Thanks!

[2021-07-12 09:12] matks opened #25317 "Integration tests randomly failing because of a translation wording sometimes EN sometimes FR"
#### Describe the bug

We have integration tests randomly failing because of a translation wording sometimes EN sometimes FR

![Screenshot from 2021-07-07 10-16-13](https://user-images.githubusercontent.com/3830050/125261918-02b83b00-e302-11eb-87f4-5f5ef9a1bf9b.png)

#### Expected behavior

No integration tests randomly failing because of a translation wording sometimes EN sometimes FR

* PrestaSh

[2021-07-12 09:14] hibatallahAouadni commented on #25137
Hello @Rizzen59

Even when I enabled the multistore option, I still can not manage to reproduce the issue, see the attached screen record below:

https://drive.google.com/file/d/1jj_If4bpbM2wPNkG7IGFQPcB4f6oS4wS/view

Please check and feedback.
Thanks!

[2021-07-12 09:21] hibatallahAouadni commented on #25282
Hello @Dupflo

May be :confused: Well, what I know for sure this issue is not related to PS Core.
So, I have to close the issue as we use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/s

[2021-07-12 09:21] #25282 closed, assigned to nobody

[2021-07-12 09:42] khouloudbelguith opened #25319 "BO - Orders page - an exception is displayed when deleting a customer or a guest"
#### Describe the bug

In the BO > Orders > Order view page, an exception is displayed when deleting the customer who created this order

#### Expected behavior

No exception displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create order from BO  or FO with a new customer or a guest
2. View the last order created => ok
3. Go to BO > Customers > Customers page and delete the

[2021-07-12 10:03] 0dp commented on #24442
Hi @matks sorry to ping you on this again.

[2021-07-12 10:12] matks commented on #17455
Hi

As expected, dates changed 😄  we had unexpected issues. 1.7.8.0 should be released in July or at the latest August. You can follow its progress on https://github.com/PrestaShop/PrestaShop/issues/23010

[2021-07-12 10:13] matks commented on #25031
FYI
- ps_facebook removed from API Push
- Travis timeout increased https://github.com/PrestaShop/PrestaShop/pull/25281

[2021-07-12 10:17] matks commented on #23010
## 12-07-2021 Status update - 1.7.8.0 RC1 build 2 being prepared

Second build of 1.7.8.0 RC1 still being prepared. Last week we had [complex continuous integration](https://github.com/PrestaShop/PrestaShop/issues/25031) issues which delayed a lot the work on the release

[2021-07-12 12:57] #18928 closed, assigned to nobody

[2021-07-12 13:22] hibatallahAouadni commented on #25283
Hello @Hlavtox

Thanks for your feedback!
## Featured products display
With PS177x, the featured products are badly displayed, see the attached screenshot below (screen size < 1200px):

![image](https://user-images.githubusercontent.com/23308427/125268403-f7680e00-e307-11eb-98a2-c26232f6a643.png)

With PS178x, I encounter similar issues, see the attached screenshot below:

![image](https://user-im

[2021-07-12 14:30] rzuf666 commented on #25309
I don't think you fully understood what the problem is. Sorting by price does not work on special pages "prices-drop" where only products with a discount and "new-products" are displayed where only products marked as new are displayed.

Subpages running in the default preset at the addresses:

some-domain.com/new-products
some-domain.com/prices-drop
maybe in  some-domain.com/best-sales  but I have

[2021-07-12 14:42] 8ternity commented on #25061
@florine2623 Any template somewhere for Feature Request?

[2021-07-12 14:43] rzuf666 opened #25323 "Faceted Search in special product pages "new-products", "prices-drop", "best-sales" etc. - 🚀 Feature Request"
#### Is your feature request related to a problem?

Faceted Search only works in product categories.

For years, product subpages displaying new products, with discounts, bestsellers only have the option of sorting (which also does not work well, bugs have been reported, such as this one https://github.com/PrestaShop/PrestaShop/issues/25309).

#### Describe the solution you'd like

These subpages

[2021-07-12 14:54] matks commented on #25061
@8ternity here we go :) https://github.com/PrestaShop/PrestaShop/issues/new?assignees=&labels=&template=2_feature_request.md

[2021-07-12 14:55] hibatallahAouadni commented on #25323
Hello @rzuf666

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-07-12 15:25] jf-viguier opened #25324 "Develop branch seems not php 7.1 compliant"
#### Describe the bug

Compile Error: Declaration of Symfony\Component\DependencyInjection\ServiceLocator::get($id) must be compatible with Psr\Container\ContainerInterface::get(string $id)

#### Expected behavior

No compile error

#### Steps to Reproduce

Install develop branch on php 7.1, composer install, launch install and see error.

#### Additional information

* PrestaShop version: develop

[2021-07-12 15:32] kpodemski commented on #25324
Next major will not be compatible with 7.1, minimum compat. has been set to 7.2.5

[2021-07-12 15:41] jf-viguier commented on #25324
@kpodemski thanks, develop is on next major ?

[2021-07-12 15:47] hibatallahAouadni commented on #25324
Ping @PrestaShop/prestashop-core-developers any idea?

[2021-07-12 15:50] matks commented on #25324
No, `develop` branch is scheduled to become 1.7.9.0
⏩  milestone https://github.com/PrestaShop/PrestaShop/milestone/64
⏩  kanban https://github.com/PrestaShop/PrestaShop/projects/12

I close as this is not a bug, it is expected 😉

[2021-07-12 15:50] #25324 closed, assigned to nobody

[2021-07-12 15:59] Hlavtox commented on #25323
Duplicate: https://github.com/PrestaShop/PrestaShop/issues/15137

[2021-07-12 16:09] matks commented on #25324
I close the issue as it's expected that php7.1 is not compatible with PS on branch `develop`

The PHP ecosystem is now focused on php8.0 and php8.1 it becomes impossible to maintain a php compatibility range large enough to contain php7.1 and php8.0

[2021-07-12 16:36] jf-viguier commented on #25324
Thanks @matks.
How will be managed upgrades from 1.6 and 1.7.4 (and less) that are not php 7.2 compatible ?

[2021-07-12 16:41] matks commented on #25324
Two ways to achieve it:

1. Just like people who upgrade from PS 1.3, 1.4 or 1.5 to 1.7 : do it in many steps. Upgrade 1.3 to 1.4 then 1.4 to 1.6 then 1.5 to 1.7 then 1.6 to 1.7.4 then 1.7.4 to latest. It requires the right autoupgrade version (not the latest).

This is already being done by PrestaShop specialists.

2. Future way: we aim to deliver an improved version of the autoupgrade module tha

[2021-07-12 16:45] jf-viguier commented on #25324
@matks I've done a PR to the doc https://github.com/PrestaShop/docs/pull/1080
Not sure for recommanded

[2021-07-12 16:47] jf-viguier commented on #25324
@matks I'm doing a lots of 1.6 upgrades, I don't use the autoupgrade module at all. I have my own process sql based.

[2021-07-12 20:59] fsociety6262 opened #25328 "Bug Report"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-07-12 21:00] fsociety6262 commented on #25328
https://github.com/PrestaShop/PrestaShop/issues/25328#issue-942442799

[2021-07-13 03:38] gyan111 commented on #13016
Very productive discussion.

I also want to achieve the same.

Now:
front: example.com
Back: example.com/admin

Requirement is.
front: example.com
Back: admin.example.com

I have created a subdomain and pointed it to the to the admin folder.

The back office html loads but js and css are not loading.

![Opera Snapshot_2021-07-13_090316_admin cairosales com](https://user-images.githubusercontent.co

[2021-07-13 06:33] hibatallahAouadni commented on #25328
Hello @fsociety6262

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-07-13 06:33] #25328 closed

[2021-07-13 07:48] matks opened #25330 "UI tests randomly failing because cannot download Firefox or Chromium"
#### Describe the bug

We have UI tests randomly failing because npm fails to download chromium or firefox

![Screenshot from 2021-07-07 10-16-13](https://user-images.githubusercontent.com/3830050/125261918-02b83b00-e302-11eb-87f4-5f5ef9a1bf9b.png
![Capture d’écran 2021-07-12 à 18 36 49](https://user-images.githubusercontent.com/3830050/125412689-6ce2e580-e3bf-11eb-9c4e-fc7bbb90e22f.png)

#### E

[2021-07-13 07:55] matks commented on #25330
See https://github.com/microsoft/playwright/issues/7566

Thanks @boubkerbribri

[2021-07-13 08:31] Robin-Fischer-PS opened #25331 "Error on installation - ps_eventbus not found on Addons"
#### Describe the bug

When installing the 178x branch, I systematically encounter an error on the "Install Addons modules" step :

The following error is displayed "The module ps_eventbus could not be found on Addons."

It's OK on 1.7.7.x branch and on develop branch.

#### Expected behavior

No error and smooth upgrade :)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install 1.7

[2021-07-13 08:35] khouloudbelguith opened #25332 "FO - Product details page is not well displayed when changing the layout of the product to another layout than the default one"
#### Describe the bug

In the BO > Design > Theme & Logo, when we change the layout of the product to another layout than the default one, in the FO > The product details page is not well displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Design > Theme & Logo page
2. Click on Choose layout
3. Scroll down to 'Product' and change the layout to another one than the d

[2021-07-13 09:08] hibatallahAouadni commented on #25303
Hello @Seb33300

Could you please check the attached screenshots below with manual upgrade:

On console:

[code]

As you can see I didn't manage to reproduce the isssue mentioned in your comment below:

In the other hand, @florine2623 encounter this error when she try to reach the address `http://<shop_domain>/install/upgrade/upgrade.php`

![image](https://user-images.githubusercontent.com/2330842

[2021-07-13 09:19] hibatallahAouadni commented on #25323
Hello @rzuf666

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #15137.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: thanks @Hlavtox for the tip :wink:

Thanks!

[2021-07-13 09:19] #25323 closed, assigned to nobody

[2021-07-13 09:19] hibatallahAouadni commented on #25323
Duplicate of #15137

[2021-07-13 09:23] prestascott commented on #17137
It's good to me!

[2021-07-13 09:49] matks commented on #25331
FYI this is also crashing the CI on 1.7.8.x branch

![Capture d’écran 2021-07-13 à 11 49 10](https://user-images.githubusercontent.com/3830050/125431108-aa0f41f5-2671-4b4f-86d8-347942a2b18f.png)

[2021-07-13 09:52] matks commented on #21197
Implemented in https://github.com/PrestaShop/PrestaShop/pull/24997

[2021-07-13 09:53] matks commented on #13723
I close as this issue has not been observed for a long time and Travis is not used anymore since 1.7.8.x

[2021-07-13 09:53] #13723 closed, assigned to nobody

[2021-07-13 10:14] Seb33300 commented on #25303
If you can see all the `<action result="info" id="1.7.7.2">` lines in console when doing the `1771 -> 1774` and `1774 -> 1775` upgrade, this means SQL migrations are run during both upgrades.
They should be run only 1 time

[2021-07-13 10:35] Maciej-Wilkosz opened #25334 "WebService - Can't filter orders by date"
#### Describe the bug

WebService returning code 32 when trying to filter orders by "date_add" parameter

#### Expected behavior

Show orders filtered added date

#### Steps to Reproduce

Call API on orders endpoint with these paramteres :
?output_format=JSON&display=full&filter[date_add]=[date]

#### Additional information

* PrestaShop version: 1.7.7.5
* PHP version: 7.1.32

[2021-07-13 10:51] #25334 closed, assigned to nobody

[2021-07-13 12:29] Maciej-Wilkosz opened #25335 "Multistore webservice problem"
#### Describe the bug

api/orders/ results only with orders from main shop

#### Expected behavior

api/orders/ should return orders from all shops

#### Steps to Reproduce

Have a multishop feature , min 2 shops and call WebService on api/orders/

#### Additional information

* PrestaShop version: 1.7.7.5
* PHP version: 7.1.32

[2021-07-13 12:30] matks commented on #25331
Fixed by PSX team that provide ps_eventbus

[2021-07-13 12:30] #25331 closed, assigned to nobody

[2021-07-13 12:50] Hlavtox opened #25336 "BO order - No way to display extra carrier information"
#### Is your feature request related to a problem?

When creating an order in backoffice, there is no way to for modules to display extra information they can display in FO. For example - selecting a pickup branch, selecting delivery time etc.

#### Describe the solution you'd like

Add a simmilar hooks as in checkout to BO order create.

![select](https://user-images.githubusercontent.com/6097524

[2021-07-13 12:52] Hlavtox opened #25337 "BO order - No way to echo tracking information"
#### Is your feature request related to a problem?

When creating order in backoffice, there is no information sent to tracking scripts like Google Analytics, due to not being able to output it.

#### Describe the solution you'd like

Simmilar hook like displayOrderConfirmation should be made in backoffice header, with a parameter of new order ID.

#### Alternatives you've considered

Other hooks

[2021-07-13 12:54] Hlavtox opened #25338 "BO order - Modules should be able to set default payment state"
#### Is your feature request related to a problem?

When creating BO order, employees do not know which order state to select when creating order in backoffice.

#### Describe the solution you'd like

A) Add a helpbox where we can hook what status should they select.
B) Or allow modules to select a default state Prestashop will select for their module.

#### Alternatives you've considered

I hardc

[2021-07-13 12:58] Hlavtox opened #25339 "BO order - Notify employee that he cannot send the order to customer"
#### Is your feature request related to a problem?

When creating order in backoffice, you can add disabled products to order and take over control. This is good!
You can finish your BO order 3 ways - create it in the BO (most common), send a link to user by email or create it in front office.

However, there is a small catch. If your order contains disabled products and you try to finish the orde

[2021-07-13 13:43] hibatallahAouadni commented on #19552
Hello everyone,

I didn't reproduce any issue following these steps:

1. Under **PS1.7.7.5** > **modules**
2. I cloned your module https://github.com/202ecommerce/checkboform
3. **BO** > **IMPROVE** > **Modules** > **Module Catalog**
4. install **Check form** module

See the attached screen record below:

https://drive.google.com/file/d/1yi2udcZ1wOsPpGmf8U2lwEPgse7gPT53/view

Please check and feed

[2021-07-13 13:46] khouloudbelguith opened #25340 "BO - Actions (Install - Uninstall - Disable - Enable - Reset) are NOK - You have requested a non-existent service "templating"
#### Describe the bug

In the Module Catalog / Module manager page, when we try to Install - Uninstall - Disable - Enable - Reset a module, an error 500 is displayed and an alert "Could not perform action xxx for module undefined" is displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Modules > Module Catalog > Try to install a module
2. See error
![image](https://u

[2021-07-13 13:51] matks commented on #22580
Hello @PrestaShop/product-team ,

@sowbiba and @jolelievre  and have been exploring, analyzing, and banging their heads on the wall to fix this issue fr many days now.

However 😞 , what they have found so far is not a solution.

What they have found is that they _cannot found a proper and clean way to fix this issue_, the quantity of code or workaround to be added to obtain the desired results is

[2021-07-13 13:52] sowbiba commented on #22580
Ideally, as we discussed about a lot, the behaviour should be

/*
         * If qtyDiscount is based on Products
         *      If you add a product
         *          if the quantity added reaches the quantity threshold
         *          The discount is applied
         *      If you add a combination
         *          if the sum of product combinations in the order reach the quantity thres

[2021-07-13 14:13] hibatallahAouadni commented on #25303
Ping @atomiix wdyt? these DB upgrade have been executing twice (for each upgrade):
[code]

Is this the expected behavior?

[2021-07-13 15:17] #25277 closed, assigned to Sinepel

[2021-07-13 15:53] matks commented on #25330
It seems fixed as mentioned in https://github.com/microsoft/playwright/issues/7566

and @boubkerbribri optimized the download process in CI https://github.com/PrestaShop/PrestaShop/pull/25333

[2021-07-13 15:53] #25330 closed, assigned to nobody

[2021-07-13 16:12] florine2623 commented on #25338
Hello @Hlavtox ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Keep in mind that there's more info about order status in the Help section :
<img width="303" alt="Screenshot 2021-07-13 at 18 11 06" src="https://user-images.githubusercontent.com/16019289/125487513-9edadca1-0c71-456b-9100-e1f3ae13a9cf.png">

Please be aware that there is no

[2021-07-13 16:14] florine2623 commented on #25338
Ping @PrestaShop/product-team ,

What do you think about @Hlavtox 's idea ?

Thanks!

[2021-07-13 16:15] florine2623 commented on #25337
Hello @Hlavtox ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-07-13 16:17] florine2623 commented on #25337
Ping @PrestaShop/product-team ,

What do you think about @Hlavtox 's feature idea ?

Thanks!

[2021-07-13 16:19] florine2623 commented on #25336
Hello @Hlavtox ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2021-07-13 16:20] florine2623 commented on #25336
Ping @PrestaShop/product-team ,

What do you think about @Hlavtox 's suggestion ?

Thanks!

[2021-07-13 16:31] florine2623 commented on #25339
Hello @Hlavtox ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Indeed in PS 1.7.7.5, these 2 buttons are displayed, when customer will try to complete the order, he won't be able to :
<img width="1128" alt="Screenshot 2021-07-13 at 18 27 51" src="https://user-images.githubusercontent.com/16019289/125490479-413899d9-4f81-4074-8ab5-38fa4d4

[2021-07-13 16:32] florine2623 commented on #25339
Ping @PrestaShop/product-team ,

Could this be implemented ?

Thanks !

[2021-07-13 16:50] atomiix commented on #25203
Fixed by #25286

[2021-07-13 16:50] #25203 closed, assigned to matthieu-rolland

[2021-07-13 16:56] florine2623 commented on #25309
Hello @rzuf666 ,

I didn't manage to reproduce your issue in PS 1.7.7.5.

**Page new-products :**
<img width="658" alt="Screenshot 2021-07-13 at 18 49 48" src="https://user-images.githubusercontent.com/16019289/125493323-e7cb7dbf-80f2-4a0a-973a-12633aa2b7ad.png">
<img width="639" alt="Screenshot 2021-07-13 at 18 49 53" src="https://user-images.githubusercontent.com/16019289/125493338-b821dea9-8725

[2021-07-13 19:50] matks commented on #25317
Failing tests disabled in PR https://github.com/PrestaShop/PrestaShop/pull/25344

[2021-07-14 02:53] noobookbig opened #25345 "Error on Installation 1.7.7.5 ps_metrics1: Cannot install module "ps_metrics""
#### Describe the bug

An error occurred during installation...
You can use the links on the left column to go back to the previous steps, or restart the installation process by clicking here.

ps_metrics1: Cannot install module "ps_metrics"

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1.Start installation
2. See

[2021-07-14 07:34] lmeyer1 opened #25346 "Invalid processing of field definition for objects on insert, for multishop fields"
#### Describe the bug

`$obj->add()` returns false when $obj is an instance of a descendant of `ObjectModel`, if its table definition contains a field with `'shop' => true`

#### Expected behavior

The basic method `add()` should work on multishop enabled `ObjectModel`s, i.e. an object mapped to two database tables `objectname` and `objectname_shop`

#### Steps to Reproduce

This is not an observa

[2021-07-14 09:32] hibatallahAouadni commented on #25345
Hello @noobookbig

That issue has been fixed and it's not related to the PS Core, it's related to Addons API (see the issue #25191).
Well, I try to install PS1775, and I didn't manage to reproduce your issue, see the attached screen record below:

https://drive.google.com/file/d/1maFTK98tK68Fi1MBeI14F1QFGY_uxMvw/view

Please check and feedback.
Thanks!

[2021-07-14 09:39] jocel1 commented on #25346
Good catch!

[2021-07-14 09:39] khouloudbelguith opened #25347 "BO - Orders - Cannot add a product with combinations to an old order"
#### Describe the bug

In the BO > Orders > Old order page, an error is displayed when we try to add a demo product associated with the Fashion supplier.
This issue is due to the merge: https://github.com/PrestaShop/PrestaShop/pull/25297
It is detected by Nightly: https://nightly.prestashop.com/report/1912
Thanks @nesrineabdmouleh

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go t

[2021-07-14 09:58] didi-2018 opened #25348 "Problems with Chrome Browser: pull photos in product is not more possible"
#### Describe the bug

Use Chrome Browser to work with Prestashop. Go to catalog -> products and add a new one ord open a excisting one. Pull photos from PC folder into product and it does not work any more.

#### Expected behavior

Pulling photos in products by using Chrome Browser it should work as expected.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. use Chrome Browser to wor

[2021-07-14 10:16] hibatallahAouadni commented on #25074
Hello @BrunoJunior

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

PS: keep in mind that we can always reopen the issue :wink: so when you provide a simple module to reproduce the issue or you provide a PR, ping me :slightly_smiling_face:

Thanks!

[2021-07-14 10:16] #25074 closed, assigned to nobody

[2021-07-14 10:58] lmeyer1 commented on #25346
@jocel1
Can you tell what *for retro compatibility means at https://github.com/PrestaShop/PrestaShop/blob/62206a604f2557d5e067d6b8d81f68528e254d47/classes/ObjectModel.php#L296?

[2021-07-14 11:09] jocel1 commented on #25346
Well I guess it was for really old PrestaShop version without shop table, it doesn't really makes sense nowaday

[2021-07-14 11:10] hibatallahAouadni commented on #25346
Hello @lmeyer1

Thanks for your technical detailed bug report :clap:
But I need a simple module to reproduce the issue, so could you please provide a module :pray:

Thanks in advance!

[2021-07-14 12:17] PrajapatiDhara1510 opened #25349 "Custom field is not updating using order webservice"
#### Describe the bug

I have added one custom field in ps_orders table 'total_seat_price'. I have overridden the Order.php from the `classes/order/Order.php` and added it to `override/classes/order/Order.php`.

[code]

When I print the XML object I get the total_seat_price into it but when I create an order and passing `total_seat_price`, the value is not updating.

[code]

#### Expected behavior

[2021-07-14 12:44] NKoonen opened #25350 "Improve the display of invoice borders on all browsers"
#### Describe the bug
De generation of the default invoice template has some border issues.
For (most) browsers it's missing some of the borders at some random places, only when you zoom in on the invoice the borders appear again.

#### Expected behavior
The borders should always be visible no matter what browser or how far you zoomed into the invoice.

**Screenshots**
Normal
![normal](https://use

[2021-07-14 13:08] hibatallahAouadni commented on #25349
Hello @dhara15101991

Could you please provide a clear and concise steps or a test module to reproduce the issue.
Please check and feedback.

Thanks!

[2021-07-14 14:01] hibatallahAouadni commented on #25350
Hello @NKoonen

This issue looks more an improvement than a bug.

SO, thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help y

[2021-07-14 14:02] hibatallahAouadni commented on #25350
Ping @PrestaShop/ux-team wdyt?

[2021-07-14 14:05] psp316r commented on #22260
I am getting the same Error at 67%
![image](https://user-images.githubusercontent.com/42883804/125635681-d1d09225-1c03-498e-9cb7-940bcfb9575c.png)

what does **"1: Error sent by Addons. You may need to be logged."** mean and how to solve it?

[2021-07-14 14:05] rzuf666 commented on #21101
A very important aspect is also the handling of ICC color profiles for photos. GD can't do it, ImageMagic can.

Currently, browsers have no problems handling these profiles. However, the big problem now is that when a product photo containing a color profile is added to Prestashop, it is removed by the GD library. Due to this photo, it loses its color saturation and looks completely different than

[2021-07-14 14:10] hibatallahAouadni commented on #22260
Hello @psp316r

It means you have low connection :wink:

[2021-07-14 14:16] rzuf666 commented on #25309
@florine2623  Yes, can't you see it? You can see it in your screenshots :)

It showed you well in new products, apparently it may be related to a small amount of discounted products.

However, in the screenshots from the sale, note that on page 1 you have products with prices:

On Sale Page 1 prices:  7.74  /  17.68 /  22.94
On Sale Page 2 prices:  12.92  /  24.80

So sorting does not work as a wh

[2021-07-14 14:26] hibatallahAouadni commented on #25348
Hello @didi-2018

I didn't manage to reproduce the issue with PS1767 and PS1775, see the attached screen record below:

https://drive.google.com/file/d/1O5eko9LiDGLtKeda3o45EiowoAyXBC8h/view

As you can see I tried both methods to add a photo and it works.
Please check and feedback.

Thanks!

[2021-07-14 14:29] PrestaShark commented on #23007
You just CAN'T do that ... Unfortunately... That's another bug - CAN'T place new order as guest if You already place order in the same shop...

It's just insane how this software is bugged and developer can't rely on it....

[2021-07-14 14:31] PrestaShark commented on #23007
https://github.com/PrestaShop/PrestaShop/issues/10122

[2021-07-14 14:33] hibatallahAouadni commented on #12025
Friendly reminder @matks could you please answer @MatShir question :pray:

[2021-07-14 14:36] didi-2018 commented on #25348
@hibatallahAouadni Hello! As you can see you use a diffent build number not that I wrote und you do not use PS 1.7.6.9

Please check with that versions above. Thank you!

[2021-07-14 14:39] ghost opened #25351 "CAN'T place new order as guest if You already placed order in the same shop as guest/registered customer"
Dear PrestaShop team.

Many of Customers don't want to register, but want to place orders as Guests.
In current version and a several previous versions on the past, we cant place new order as guest if previously orders was placed on the same store https://github.com/PrestaShop/PrestaShop/issues/10306

Its been THREE years and issue is marginalized.

Please rise priority for this and let's team fou

[2021-07-14 14:45] Hlavtox commented on #23007
@PrestaShark Looking into it, shouldn't be hard to fix ;-)

[2021-07-14 14:52] thedarkknight197 opened #25352 "Can't install Prestashop 1.7.7.5 COMPOSER"
Hi, i have downloaded prestashop with

`git clone -b 1.7.7.5 https://github.com/PrestaShop/PrestaShop.git` .

after run `composer install` and go to my local site, after configuring all information about my store prestashop return an error at 23% of installation.

The error message is:

[code]

What do to resolve it?

- PHP version: PHP 7.4.12 (cli) (built: Nov 30 2020 13:28:43) ( NTS )
- Copyrigh

[2021-07-14 14:56] hibatallahAouadni commented on #25348
Hello @didi-2018

If I haven't reproduced the problem with PS1767 and PS1775, it means there is no problem with PS1769 or if it exists it was fixed with PS177x.
About the browser, I have updated to the latest version and this is the version I got.

So, could you please check if you have any errors on your Chrome console.
And please provide a screen recording or screenshot to better understand the

[2021-07-14 14:57] psp316r commented on #22260
Hi @hibatallahAouadni,

Been Trying for a Long time, it's the same issue I am facing...
![image](https://user-images.githubusercontent.com/42883804/125644241-692e9a62-fe72-4b05-8479-73d5641396a3.png)

[2021-07-14 14:58] didi-2018 commented on #25348
@hibatallahAouadni

https://drive.google.com/file/d/187jmV2pGH_4gWvsHDwYzOEcCuNPA1Ddh/view

[2021-07-14 14:58] hibatallahAouadni commented on #22260
@psp316r that's weird :confused: try another fresh install

[2021-07-14 15:12] hibatallahAouadni commented on #25348
Hello @didi-2018

Yep I can see that :wink:
Well, I tried to reproduce the issue on Windows 10, Chrome Version 91.0.4472.124 (Build officiel) (64 bits) with Demo Shop 1.7.7.5 and yet I didn't reproduce it, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/125646366-3937cde4-9227-4018-85a6-849da6d3400f.png)

Could you please try another photo (for exmpl

[2021-07-14 15:19] hibatallahAouadni commented on #25352
Hello @thedarkknight197

Well, when you execute this line:

`git clone -b 1.7.7.5 https://github.com/PrestaShop/PrestaShop.git`

You download the develop branch not the 1.7.7.5 (just for your information).
After execute this line:

`composer install`

You need to execute this line:

`make install`

Then, you can install your shop :wink:

Please next time if you have a question ask for help in the

[2021-07-14 15:19] #25352 closed, assigned to nobody

[2021-07-14 15:24] didi-2018 commented on #25348
@hibatallahAouadni I made a Windows Update and it is working again.

[2021-07-14 15:24] hibatallahAouadni commented on #25348
Hooray :woman_dancing: :tada:
So, I close the issue :wink:

[2021-07-14 15:24] #25348 closed, assigned to nobody

[2021-07-14 16:01] hibatallahAouadni commented on #25351
Dear @PrestaShark

As you know we only accept the issue respecting and following the provided template to submit a complete bug report.
As I can see, you create this issue to remind our Teams about this issue #10306
But I already answered you https://github.com/PrestaShop/PrestaShop/issues/10122#issuecomment-874669663

So, please next time just ping the Developer Team in the [public Slack channel]

[2021-07-14 16:01] #25351 closed, assigned to nobody

[2021-07-14 16:23] Hlavtox commented on #23007
@PrestaShark @mark-app @ruchus Done, can you test the PR guys?

Then we would just need to solve:
- That we can't create a guest from BO (https://github.com/PrestaShop/PrestaShop/issues/22645)
- That you cannot set an email on a guest account to a registered one, even though these guests can exist just fine.

[2021-07-15 05:01] dhara15101991 commented on #25349
Hello @hibatallahAouadni

As I mentioned I added custom field to the ps_orders table. I am creating order using webservice, I overridden the Order file as mention above and added custom field. When I am passing field it is not updating to the table. I want to update that custom field via webservice when order created. But it is not working at all.

[2021-07-15 07:02] matks commented on #12025
Woups, totally forgot this one, my apologies.

Yes, that sounds good. In 2019 we were not experienced in these usecases, but now we can see that the exchange rate scheduler is actually a feature that is only available in 'All Shops context'. Selecting a group shop context or a single shop context will not modify its behavior, this is a system-wide modification. We just need to make sure user is aw

[2021-07-15 07:07] matks commented on #25352
Hi @hibatallahAouadni I think the issue is rather this error line

[code]

@thedarkknight197 looks like you were not lucky, I check now and https://i18n.prestashop.com/translations/1.7.7.5/it-IT/it-IT.zip responds correctly. The i18n API was a little slow so the process timeouts. Please try again, API responses seem good now.

[2021-07-15 07:50] PierreRambaud commented on #13016
PrestaShop 1.6 is not maintained anymore, we can't do nothing related to this version :/

[2021-07-15 08:21] hibatallahAouadni commented on #23007
Ping @PrestaShop/product-team @Hlavtox provide a PR, so could you please specify this issue ASAP :pray:

[2021-07-15 08:22] hibatallahAouadni commented on #25124
Hello @maniolias

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-15 08:22] #25124 closed, assigned to nobody

[2021-07-15 08:23] hibatallahAouadni commented on #25077
Hello @bcsirt

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-15 08:23] #25077 closed, assigned to nobody

[2021-07-15 08:43] prestascott commented on #25350
Hi everyone,

Thanks @NKoonen for your improvement request, the expected behavior is to see the borders no matter what are the users' browsers. So if we can fix it with your suggestion, then it's a go to me!

[2021-07-15 08:44] matks commented on #25347
The error message makes me think it could be linked to https://github.com/PrestaShop/PrestaShop/pull/24339 ping @PierreRambaud

[2021-07-15 08:48] khouloudbelguith commented on #25347
Hi @matks,

This PR: #24339 is merged into 177x 12 July 2021
But this error is detected in nightly 1.7.8.x Report - 10/07/2021
 https://nightly.prestashop.com/report/1912

Thanks!

[2021-07-15 08:54] matks commented on #25347
@khouloudbelguith rather than "demo product associated with fashion supplier", what about simply "product with a combination" ?

1. Create a new product _with combinations_
2. Open an existing order
3. Try to "add a product", select the new product
4. See that "price tax incl." and "price tax excl." fields are filled with "object" and not prices

[2021-07-15 09:18] khouloudbelguith commented on #25347
@matks, thanks a lot
Yes, It was due to a product with combinations
https://drive.google.com/file/d/1mQQjqeSBalIuLm4Bkce2JTPRUSZG6zQ3/view?usp=sharing

I will update my issue.
Thank you!

[2021-07-15 09:44] Hlavtox opened #25355 "Cannot edit email on guest accounts"
✔️ PR available: https://github.com/PrestaShop/PrestaShop/pull/25356 ✔️

#### Describe the bug

There is a customer with an email **john.doe@email.com**.
There can be thousands of guest accounts with the same email.
There can be only one registered customer with the same email.

You go edit one of the guest accounts.
You add a letter to the end of the email and save it.
You go edit it again, remov

[2021-07-15 10:41] KEDYPACK opened #25358 "Customer Reassurance module issues"
#### Describe the bug

I encountered a bug on the prestashop 1.7.6 module functionality --- "Customer Reassurance" is not working correctly.

the link URL that we put in the corresponding camps via the configuration page, does not take into account.
on the product page, when we click on the link we configured, it directs to another page, but it does not respect the configuration we made on the mod

[2021-07-15 11:02] ewonta opened #25359 "The /usr/sbin/sendmail library does not work"
#### Describe the bug

Sending mail via the /usr/sbin/sendmail library does not work with the configuration flag in the
/vendor/swiftmailer/swiftmailer/lib/classes/Swift/SendmailTransport.php file:23
'/usr/sbin/sendmail -bs'

If you change the flag to '/usr/sbin/sendmail -t'

Then the mail is sent without an error.

#### Additional information

* PrestaShop version: 1.7.7.5
* PHP version: 7.3

[2021-07-15 11:11] hibatallahAouadni commented on #25359
Hello @dmitrij1988

Could you please provide steps to reproduce and some screenshots or a screen reocrd.
Please feedback.

Thanks!

[2021-07-15 11:12] hibatallahAouadni commented on #25358
Hello @KEDYPACK

Please update your request in English. English is the norm on GitHub.
Then notify me :wink:

Thank you

[2021-07-15 11:22] dmitrij1988 commented on #25359
The result is a 504 error after a long download.

Try to register on our demo store
http://ewonta.ru/demo/themes/01PS24Theme/

I have set the default flag.

Write how to try it I will put a working configuration

[2021-07-15 11:45] matks commented on #25359
Hello @dmitrij1988 the class SendmailTransport is inside vendor https://github.com/swiftmailer/swiftmailer

We rely on Swiftmailer for mail sending, but we cannot modify their code. You might want to report the issue upstream to https://github.com/swiftmailer/swiftmailer to get it patched

[2021-07-15 11:46] #25359 closed, assigned to nobody

[2021-07-15 12:30] jolelievre commented on #22580
As discussed in the early search of this fix, a clean way to handle this would be to handle it from the back office FO

When trying to add a product on an order the search product component should take into account the quantity field so that the prices are correctly prefilled in the input fields, so there is no magic on server side only suggestion in the FO

Similarily when changing the quantity f

[2021-07-15 13:05] #18137 closed, assigned to nobody

[2021-07-15 13:15] KEDYPACK commented on #25358
@hibatallahAouadni it is done

[2021-07-15 13:48] matks opened #25360 "BO - View an order - Search endpoint returns HTTP 500 when"
#### Describe the bug

When Search endpoint `/admin-dev/index.php/sell/orders/products/search?search_phrase=&currency_id=YYY&order_id=ZZZ&_token=AAA` is hit with empty GET parameter `search_phrase` it returns an HTTP response whose status is 500, and the response contains error message "Product search phrase must be a not empty string"

This is a trivial issue with no impact for merchant. It just

[2021-07-15 13:50] matks commented on #25360
![Capture d’écran 2021-07-15 à 15 42 14](https://user-images.githubusercontent.com/3830050/125799151-abd31c4c-3178-440d-8b09-5bc0479d2856.png)
![Capture d’écran 2021-07-15 à 15 42 16](https://user-images.githubusercontent.com/3830050/125799164-6748dee1-5a48-42f2-9c04-92fabcf2dfc1.png)

[2021-07-15 13:53] RubenMartins opened #25361 "BO visual issue on list of products filter by id too wide"
#### Describe the bug

Visual bug on showing to the filter of ids too wide taking a lot of width space in the list of products.

#### Expected behaviour

The fields should be the same restricted width of Price or Quantity that still allows to search between X numbers/values but taking just enough space

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to the Backoffice -> Catalog -

[2021-07-15 13:56] dali-rajab commented on #9480
I had the same problem, and i resolved it by installing the missing language :

![image](https://user-images.githubusercontent.com/39015823/125799537-7b59495b-5498-4eb9-b999-2690c3f06ecb.png)

You have to make sure that the the folder `/app/Resources/translations/` contains all languages translations, (in my case,  `/app/Resources/translations/en-US/` folder was missing, so i fixed it by installin

[2021-07-15 14:36] gyan111 commented on #13016
Ok! No problem.

[2021-07-15 15:08] hibatallahAouadni commented on #25361
Hello @RubenMartins

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #24915.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-07-15 15:08] #25361 closed, assigned to nobody

[2021-07-15 15:08] hibatallahAouadni commented on #25361
Duplicate of #24915

[2021-07-15 15:35] RubenMartins commented on #24915
Can this be backported to all 1.7 versions and not just 1.7.9.x?

[2021-07-15 16:06] jolelievre commented on #25140
Hi @hibatallahAouadni I reopen this issue because there is still the problem on the 1.7.8.x branch
Also at the time the develop branch was fine but now I have the same problem as in 178 branch

The problem is like this:
![Capture d’écran 2021-07-15 à 18 05 06](https://user-images.githubusercontent.com/13801017/125820423-20a903a5-2bd1-41f4-bc39-ea7f9c431fe0.png)

The expected display (from 177)
!

[2021-07-15 16:08] matks commented on #24915
Unfortunately no, that would be against our backport strategy. You can do it on your shop but we will not do it on the official 1.7 releases.

[2021-07-15 16:08] Robin-Fischer-PS opened #25362 "BO - Order message not in order language"
#### Describe the bug

In BO > Order details, the language of the order messages are in the last language used by the customer, not in the language of the order.
For example, if User make an order in French, then another one in English, on both orders, the messages will be in English.

In 1.7.6, the first order was in French, the second one in English.

#### Expected behavior

Order messages shoul

[2021-07-15 16:13] RubenMartins commented on #24915
When I say backported I mean to a new latest version for each supported subversion for example: 1.7.7.6 and 1.7.6.10, and of course the 1.7.8.0?
Or this will only apply to 1.7.9.x?

[2021-07-15 16:18] matks commented on #24915
I confirm this bug will not be backported to 1.7.7.6 or 1.7.6.10 and even 1.7.8.0 .
We have tried this in the past, and backporting a bugfix has been proven sometimes a risky move, when the code being modified is not identical between versions. Moreover the backport is considered like a new change which means it is reviewed and tested just like any change. So it would "consume" three times the sam

[2021-07-15 16:26] matthieu-rolland opened #25363 "FO: Product image size doesn't match the size in the product object"
#### Describe the bug

In the front office, the small / medium / large product image size doesn't match the sizes we get from the product object

Large => 458  => `/3-large_default/affiche-encadree-the-best-is-yet-to-come.jpg`
Medium => 125 => `/3-medium_default/affiche-encadree-the-best-is-yet-to-come.jpg`

Large => 800  => `{$product.large_image.bySize.large_default.width}`
Medium => 452 => `{$p

[2021-07-15 20:40] matks commented on #25317
Issue has been fixed on CDN

Let's verify by enabling again the test https://github.com/PrestaShop/PrestaShop/pull/25365

[2021-07-15 22:40] Hlavtox commented on #25363
@matthieu-rolland @hibatallahAouadni I think it's the correct behavior. Look at the code: https://github.com/PrestaShop/PrestaShop/blob/32742483dba196af69e589b878cdf3c534a737f1/src/Adapter/Image/ImageRetriever.php#L228

- In **bySize**, you have all the resolutions and sizes.
- When getting the **small**, **medium** and **large** images. _(I don't know where they are used though, I always use bySi

[2021-07-15 23:03] okom3pom commented on #25345
I reproduce this day it's random

[2021-07-15 23:15] facuzapata opened #25366 "Orders products in order"
Hello everybody!

I need to sort the products by categories in the order section, but I can't find a hook that performs such an action.

I have found a for in product_list.html.twig with the orderForViewing parameter but it does not include their categories in the products.

Can you add?

![image](https://user-images.githubusercontent.com/42452536/125869342-9ec51091-7f95-40a8-bd62-c6d4dea7d6ec.png

[2021-07-16 03:03] arouiadib commented on #18289
This issue re-appeared.
PR available in https://github.com/PrestaShop/PrestaShop/pull/25367

[2021-07-16 04:06] delete13 commented on #24979
Salut @mdelgrange ;)

Hello @marionf ,

You are saying;

Seriously, you are not aware of the European e-commerce regulations ?

Consequently, you systematically shift the responsibility to the agencies.

Here is a good example when we want to post a module on PrestaShop Addons;

![image](https://user-images.githubusercontent.com/16521037/125889227-1de96cda-4680-41d1-b2b3-6114bf331c60.png)

To be c

[2021-07-16 07:31] matks commented on #25345
We believe in certain conditions (network condition, process length time condition) the install can fail. A huge improvement to lighten the install process of ps_metrics is scheduled to happen by the Extension team (and will be applied to ps_facebook additionnally), this should fix the situation for good.

[2021-07-16 07:56] hibatallahAouadni commented on #25355
Hello @Hlavtox

I reproduce the issue with PS1767, PS1775 and develop.
I think this issue will be fixed/gone when this issue #14414 is fixed.

Ping @marionf wdyt?

[2021-07-16 07:56] ldeprestashop commented on #24979
Hello @delete13

Prestashop is an open-source project.

We (Prestashop) participate strongly to this project but we don't have ressources to work on vat now.

Prestashop dev team is 4,5 equivalent full time dev.
it's a very small team who work hard to improve the core (plus 60 native modules).

We (product management) want work on compliance : it will be a futur project.
But we have not time no an

[2021-07-16 07:59] matks commented on #24979
Also

There are people, merchants and agencies, that use PrestaShop in a lot of parts outside of Europe. South America. North America. China. India. So when you say "you, PrestaShop, must work on the legal requirement for merchants in Europe" you are asking us to ignore the needs of these people, and prefer your needs instead. Because the PrestaShop community from India and South America does not

[2021-07-16 08:03] Hlavtox commented on #25355
@hibatallahAouadni Well I fixed it, so I guess it has nothing to do with that issue... 🤣🤣

[2021-07-16 09:00] khouloudbelguith commented on #25360
Hi @matks,

I manage to reproduce the issue with PS1775 and 1.7.8.x branch.
In the PS1769 => OK
https://drive.google.com/file/d/1qTTnaJ4YjwQCykrBsRtzJqyBkPM5zvnD/view?usp=sharing
I'll add this to the debug backlog so that it's fixed.

Thanks!

[2021-07-16 09:19] khouloudbelguith commented on #25366
Hi @facuzapata,

Thanks for the issue.
On this github repository there is no software support. This is an open-source project.
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/suppor

[2021-07-16 09:19] #25366 closed, assigned to nobody

[2021-07-16 09:34] Hlavtox commented on #14414
@marionf @matks @hibatallahAouadni I did a little digging about this issue. :-)

### To begin
- ✔️ Converting to customer through BO works perfectly fine.
- ✔️ Converting to customer from guest tracking screen works perfectly fine. You enter password, click convert and done.
- ❗  Our issue - **Converting to customer through form on order confirmation page can never work.** There is just no code in

[2021-07-16 09:42] hibatallahAouadni commented on #25140
Hello @jolelievre

Yes I manage to reproduce the issue only with PS178x and develop. So, it's a regression!
And thanks for your PR :rocket:

Thanks!

[2021-07-16 09:44] hibatallahAouadni commented on #14414
@Hlavtox Waiting for your PR :pray:

[2021-07-16 10:00] #10631 closed, assigned to nobody

[2021-07-16 10:19] mihaiSeoCup commented on #25262
Hi @matks  ,

soo, ok.  I'll use the arhive from the oficial website. Maybe the error is that i dind;t give it a composer install. MAYBE.

ALSO, what if i want to the stable version from github?
You guys made a subbranch on  the 177x branch?
because you lost me here. i mean no offence but it should've been 177x-stable branch, 177x-development branch ,  thats my opinion.

[2021-07-16 10:26] khouloudbelguith commented on #25358
Hi @KEDYPACK,

I did not manage to reproduce the issue with PS1775 & The 177x branch (PS1776) using the Customer Reassurance v5.0.0.
I attached a screen record
https://drive.google.com/file/d/1tYqMwqwGkWYnev7HXsnthmo4EsZzJ3rr/view?usp=sharing
What is the exact version of the module did you use?
Did you use multi-languages?

Thanks!

[2021-07-16 10:33] mark-app commented on #23007
Hi,

I missed the update function.

In /classes/form/CustomerPersister.php function update() line 63

Replace :

`if ($customer->is_guest || $guest_to_customer) {
            // guest cannot update their email to that of an existing real customer
            if (Customer::customerExists($customer->email, false, true)) {
                $this->errors['email'][] = $this->translator->trans(

[2021-07-16 10:38] khouloudbelguith commented on #25345
Hi @noobookbig,

Sorry to tell you that this issue is not related to the Core but to Addons.
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

Thanks for your understanding!
I close the issue, feel free to create a new one when needed.

Thanks!

[2021-07-16 10:38] #25345 closed, assigned to nobody

[2021-07-16 10:42] khouloudbelguith commented on #25349
Hi @dhara15101991,

Thanks for your feedback.
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](https://ww

[2021-07-16 10:42] #25349 closed, assigned to nobody

[2021-07-16 11:35] khouloudbelguith commented on #25309
Hi @rzuf666,

Thanks fr these clarifications.
I did not manage to reproduce the issue with branch 177x (PS1776) using the ps_facetedsearch v3.7.1.
I checked these pages:
1. Price drop
2. New products
3. Best sales

https://drive.google.com/file/d/1w9jtcCpGiGb0jQYCB3ncxjJFfFwIuVRr/view?usp=sharing

Thanks to check and feedback.

[2021-07-16 12:12] matks commented on #25262
On prestashop.com you can download the 1.7.7.5 ZIP, and this is exactly the same ZIP as you can download from GitHub on https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.7.5

Both ZIP are the same 😉  and you do not need to run `composer install`, the `vendor/` folder is already bundled inside the ZIP. This is a production-ready ZIP, you can upload it on a server and run the install wizard.

[2021-07-16 12:15] matks commented on #25262
Actually in OSS where we don't have a `main` that is deployed in production this is the standard usage. See https://github.com/symfony/symfony and https://github.com/drupal/drupal for example

[2021-07-16 13:54] matks commented on #10584
PR started but stale https://github.com/PrestaShop/PrestaShop/pull/17883

[2021-07-16 14:30] fire2 commented on #24321
I know this question is off-topic, but I do not know if it is worth creating a new issue: why was this module not renamed to ps_wishlist if it is still maintained in Prestashop 1.7?

[2021-07-16 15:49] banan44 commented on #19924
Hello,
Will this issue be fixed any time soon? It's really annoying to move categories on every website if you have a lot of multistore domains.

[2021-07-16 20:49] matks commented on #24321
I guess only @Quetzacoalt91 can answer

[2021-07-17 09:37] didacrios commented on #18770
Hi, I am reopening the issue because seems that some kind of conflict still happening with  some packages.

We are trying to use for example, doctrine in a new module, but installing the current version (2.9.3) seems that cause conflicts as  `doctrine/dbal` uses `symfony/console` when trying to access to the Prestashop Backoffice.

This is the erro thrownr:

[code]

This is the module name `compos

[2021-07-17 10:11] Matt75 commented on #18770
Hi @didacrios

You should constrains package version to same of your current PrestaShop version.

You can check [composer.json of PrestaShop Checkout module](https://github.com/PrestaShopCorp/ps_checkout/blob/master/composer.json) as example.
We restricted package version to same of PrestaShop composer.json ; for better backward compatibility with choose version 1.7.5 as reference but in your case

[2021-07-17 13:05] Celeanmode opened #25368 "Can not accept terms and conditions"
#### Describe the bug

Hi, i am installing prestashop and when i accept the terms and conditions, the next button appear but when i click on next it just stays on the page and i need to click on the accept button again every single time. So i am kind of stuck in the installation right now.

#### Expected behavior

Normally when you accept and click on next you go to the next step what would be che

[2021-07-18 05:48] Jeevachezhiyan opened #25369 "Getting Error in Prestashop 1.7.7.1 Order page after upgraded from 1.7.5.1"
#### Describe the bug

I did upgrade from 1.7.5  to 1.7.7. Upgrade is done. But getting error while opening the order page.

#### Expected behavior

Error:

[code]

#### Steps to Reproduce

Order page must open without any errors.

1. Go to 'Orders'
2. Click on 'Click orders'
4. See error

Screenshot:
![Screenshot](https://user-images.githubusercontent.com/17176348/126057159-0554bbe1-1b73-4ec2-86c

[2021-07-18 20:02] DrVallo opened #25370 "Page display problem after installing developer version 1.7.8.0"
#### Describe the bug

After completing the local installation of the development version of Prestashop (version 1.7.8.0) following the guide in the [official documentation]( https://devdocs.prestashop.com/1.7/themes/getting-started/setting-up-your-local-environment/) of PS, it seems that the .css files are missing. This is causing problems with the display of the BO and an error in the FO. I'm no

[2021-07-18 22:10] Oksydan opened #25371 "Product structured data json-ld problem when price is not displayed"
#### Describe the bug

If product price is not displayed json format is wrong due to trailing comma at the end of list.

#### Expected behavior

Json format should be always valid.
I think we should move that data into associative array and just use `json_encode` in smarty to make sure that data will contain proper json format.
Second solution could be to move whole structured data into frontContr

[2021-07-18 22:21] Oksydan opened #25372 "[FO - Product] Product comment structured data AggregateRating isn't working"
#### Describe the bug

Variables that are used inside `themes/classic/templates/_partials/microdata/product-jsonld.tpl`: `$nbComments`, `$ratings` are not assigned into smarty template.

#### Expected behavior

Product rating data should be available inside structured data.
As I mention in issue https://github.com/PrestaShop/PrestaShop/issues/25371 the easier way to implement this would be to stru

[2021-07-19 02:27] arouiadib commented on #23987
@cdcvince thanks a lot, your comment is insightful and will be taken into account while looking for the better solution
WIP, I will be back to feedback

[2021-07-19 05:22] hibatallahAouadni commented on #25370
Hello @DrVallo

You need to execute this command just after `composer install`:

`make install`

To install all your assets 😉

Closing this issue cause it's not a PS Core issue.

Thanks!

[2021-07-19 05:22] #25370 closed, assigned to nobody

[2021-07-19 05:57] hibatallahAouadni commented on #25368
Hello @Celeanmode

Could you please provide some screenshots or a screen record 🙏
Waiting for your feedback.

Thanks!

[2021-07-19 06:00] hibatallahAouadni commented on #25369
Hello @Jeevachezhiyan

Could you please try to rebuild all your index and clear cache.
Please check and feedback.

Thanks!

[2021-07-19 06:07] hibatallahAouadni commented on #25371
Hello @Oksydan

Could you please check these issues #22416 & #21927 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-07-19 06:10] hibatallahAouadni commented on #25372
Hello @Oksydan

I think your issue is a duplicate of this one #22962
Please check and feedback.

Thanks!

[2021-07-19 06:56] #25206 closed, assigned to nobody

[2021-07-19 06:57] Progi1984 commented on #25181
Fixed by @lmeyer1 in PrestaShop/ps_socialfollow#26

[2021-07-19 06:57] #25181 closed, assigned to nobody

[2021-07-19 07:12] hibatallahAouadni commented on #25132
Hello @diksha-cedcoss

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-19 07:12] #25132 closed, assigned to nobody

[2021-07-19 07:12] hibatallahAouadni commented on #25136
Hello @haveyougotanypets

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-07-19 07:12] #25136 closed, assigned to nobody

[2021-07-19 07:21] ldeprestashop commented on #24979
Hello @mdelgrange.

We can't validate this type of feature without legal legal specifications.

Does your company have legal partner ?
If yes you could work with it to provide functional specification (first step before lauching developement).

Once the specifications are validated, no problem to launch the PR.

[2021-07-19 07:33] Quetzacoalt91 commented on #24321
We figured out that renaming the modules for PS 1.7 was a mistake. Having similar modules but with different name make the upgrade process complex when you switch from 1.6.x.x to 1.7.x.x. We could have made a simple upgrade to keep the module compliant with the new version of PrestaShop, but with the new name we have to ask the merchant to manually remove the module with the previous one and insta

[2021-07-19 07:53] Oksydan commented on #25371
Hi @hibatallahAouadni

Issue is not related to issues listed above.
Since json-ld structured data was implemented in prestashop 1.7.8, issue is related to latest new feature.

[2021-07-19 07:57] Oksydan commented on #25372
Hi @hibatallahAouadni

Issue is not related to issue listed above.
Since json-ld structured data was implemented in prestashop 1.7.8, issue is related to latest new feature.

[2021-07-19 08:01] matks commented on #24131
Fixed by https://github.com/PrestaShop/PrestaShop/pull/25038

[2021-07-19 08:01] #24131 closed, assigned to jolelievre

[2021-07-19 08:02] matks commented on #24616
Fixed by https://github.com/PrestaShop/PrestaShop/pull/24620

[2021-07-19 08:02] #24616 closed, assigned to matks

[2021-07-19 08:03] ShaimyWinda opened #25373 "Error when filtering in Product BO"
#### Describe the bug

Hello,

I have an error when I want to filter the inactive products.

Can you help me?

For info, I also put this correction:
https://github.com/PrestaShop/PrestaShop/pull/23584/files

Thanks

**Screenshots**

![image](https://user-images.githubusercontent.com/25744417/126124432-4b917fec-14b2-49c1-8790-4194b7a3d18f.png)
![image](https://user-images.githubusercontent.com/2574

[2021-07-19 08:48] matks commented on #25317
toxic enough more anger  hate grrrr screw you bot

[2021-07-19 08:48] matks commented on #25317
Haaaa I see Sentiment bot is running 😄  https://github.com/PrestaShop/PrestaShop/pull/24262 I was wondering

[2021-07-19 08:50] matks commented on #25317
Fixed

[2021-07-19 08:51] matks opened #25374 "Sentiment bot message contains a weird link"
#### Describe the bug

When Sentiment bot reacts to a comment, it writes a message with a link to our Code of Conduct in it.

Example https://github.com/PrestaShop/PrestaShop/issues/25317#issuecomment-882367495

But the link redirects to a weird JSON document 🤔

#### Expected behavior

Sentiment bot message should be OK

[2021-07-19 09:17] Celeanmode commented on #25368
Hello, Attached to this mail a screenshot, so when i click on next it just stays on this page and i need to click on accept again but it just doesn’t go to the next step. Kind regards, Sarah CarluBaron de Gieylaan 45/0019840 De Pinte 0468 59 63 40 Openingsuren:Maandag – woensdag: 10u – 18uVrijdag – zaterdag: 10u – 18uDonderdag en zondag: Gesloten Van: Hibatallah AouadniVerzonden: maandag 19 juli 2

[2021-07-19 09:46] oudayLZ commented on #14704
Hi @muten84
 you can get the color attribute texture image , it's not really elegant, but that work :
 URL : `{{base_URL}}/img/co/{{id_product_option_values}}.jpg`
 EXAMPLE :[]( https://example.com//img/co/1.jpg)

[2021-07-19 10:48] DrVallo commented on #25370
Hi @hibatallahAouadni ,
thanks for your reply.
I tried to follow your suggestion, but the `make install` command seems not to be recognized.

[code]

Can you tell me why? Am I doing something wrong in the installation, or is there a problem in the development version 1.7.8.0 of PS?

[2021-07-19 11:07] hibatallahAouadni commented on #25373
Hello @ShaimyWinda

I didn't manage to reproduce your issue, so could you please enable debug mode to understand better the problem.
Please check and feedback.

Thanks!

[2021-07-19 11:11] hibatallahAouadni commented on #25370
Hello @DrVallo

Could you please try this command under your project, to know in which branch you are:
`git branch`
Then:
`git status`
To know if there's modifications. If you found some modif, try this command:
`git stash`
Or:
`git checkout .`
Now, try again:
[code]

Please check and feedback.
Thanks!

[2021-07-19 11:50] DrVallo commented on #25370
Hi, @hibatallahAouadni ,
this is a result, but `make` still not working:
[code]

Thanks again for your support!

[2021-07-19 12:00] Hlavtox commented on #25372
@fdonnet check this out man

[2021-07-19 12:27] #24392 closed, assigned to NeOMakinG

[2021-07-19 12:27] Progi1984 commented on #24392
Fixed in PrestaShop/blockwishlist#114 by @NeOMakinG

[2021-07-19 12:52] fdonnet commented on #25372
@Hlavtox hi, it wasn't in the PR, because ratings come from a specific module. The shop owner who needs this, need to override the template and add it based on the module he is using.

[2021-07-19 12:56] fdonnet commented on #25372
@Hlavtox I didn't take care of this in my PR but if someone find a good solution via smarty var usage it can be great to add that function and fill the google corresponding fields. It is the only 2 warnings you will have in the Google Rich tool (2 warnings about the ratings) => need to be completed by the shop dev based on the module he is using....

[2021-07-19 12:59] Jeevachezhiyan commented on #25369
@hibatallahAouadni I tried to rebuild the index and cache clean. Still the issue is there.

[2021-07-19 13:01] Hlavtox commented on #25372
@fdonnet I think we should remove this block it if it's not assigned, WDYT?

Then adapt https://github.com/PrestaShop/productcomments to use it. Can the module add just this rating lines or it has to override the block completely? Can the module even assign this nbComments to header or not?

[2021-07-19 13:07] Hlavtox commented on #25372
1) We can remove the ratings from **product-jsonld.tpl** and output it by productcomments module to **{block name='head_microdata_special'}{/block}**.

2) Or can we put a block in here?
![block](https://user-images.githubusercontent.com/6097524/126164320-e1ecebf5-22df-4165-9a33-afbfea6aab46.JPG)

3) Just keep it like this and somehow assign **$nbComments** and **$ratings** to smarty?

[2021-07-19 13:08] jf-viguier commented on #25168
@hibatallahAouadni can you remove the TBS label please ?

[2021-07-19 13:12] diksha-cedcoss commented on #25135
Hello @hibatallahAouadni

First of all, Thank you for considering my point.

Actually, it's a bug because it is working in old versions but not in PS version 1.7.8.0 beta version i.e., why I have raised this query

Thank you

[2021-07-19 13:26] diksha-cedcoss commented on #25133
Hello @hibatallahAouadni

Yes, this is what I mean that CSS is wrongly set

Thank You

[2021-07-19 13:29] Oksydan commented on #25372
@Hlavtox
What about removing it form template completely and implement it inside prestashop core.
Add actionHook with way to modify that data and just keep it as associative array.
So not only comments module will be able to inject data.

[2021-07-19 14:23] matks commented on #23010
## 19-07-2021 Status update - 1.7.8.0 RC1 build 2 delayed

Second build of 1.7.8.0 RC1 still being prepared. However we need to gather resources to properly test this second build.

We now aim to
- finish 1.7.8.0 RC1 build 2 in July, test it lightly
- QA test campaign should happen on week 32 of 2021 (Monday 9th of August)
- we should be able to deliver the RC in August
- stable release is consequ

[2021-07-19 14:26] #25317 closed, assigned to eternoendless

[2021-07-19 14:42] SLIVERPOOLS opened #25376 "Bug in module ps_facetedsearch (_mobile_search_filters_clear_all)"
Can someone help?
I found bug in the module ps_facetedsearch (it appears exclusively - on the mobile version)
Prestashop 1.7.7.4
ps_facetedsearch v3.7.1

Details:
On desktop version of site, when you mark some characteristic in the filter, the page is reloaded and the (clear all) button appears: http://joxi.net/bmoRJYdC7ljwGr . With this button you can clear ALL filter marks.
When you click this b

[2021-07-19 14:59] diksha-cedcoss opened #25377 "Category Product Page Not Responsive -- Front Office"
#### Describe the bug

I have raised the issue previously : [https://github.com/PrestaShop/PrestaShop/issues/25132](url)

#### Expected behavior

As in previous versions, it displays the category name along with its description & then products in 2 rows with less space in between

#### Steps to Reproduce

Steps to reproduce the behavior:

Steps to reproduce the behavior:

1. Go to the 'PS 1.7.8 sh

[2021-07-19 15:20] KEDYPACK commented on #25358
Hello,

I uninstalled the module, then I wanted to re-install, but I can't manage anymore. here is the error message: "Error!
Exception returned by the blockreassurance module for install. The locale is invalid "

can you check?
attached the photo in appendix
![WeChat Image_20210719171213](https://user-images.githubusercontent.com/87474058/126184238-e47d6d3e-db05-4a3e-b753-f808eb8034f1.png)
![cust

[2021-07-19 15:20] KEDYPACK commented on #25358
Hi @khouloudbelguith

[2021-07-19 15:53] hibatallahAouadni commented on #25376
Hello @SLIVERPOOLS

Yes, apparently it's a cache problem.
Sorry but I have to close the issue cause we use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can

[2021-07-19 15:53] #25376 closed, assigned to nobody

[2021-07-19 15:55] Progi1984 commented on #25360
Fixed in this PR #25378

[2021-07-19 16:02] MatShir commented on #23007
@mark-app have a look at @Hlavtox's PR: https://github.com/PrestaShop/PrestaShop/pull/25353

[2021-07-19 16:03] hibatallahAouadni commented on #25377
Hello @diksha-cedcoss

Thanks for reporting the issue!
I reproduce the issue with PS1780 but we need to check if this is the expected behavior or not.

Ping @PrestaShop/ux-team wdyt? Is it a regression or the expected behavior?

Thanks!

[2021-07-19 16:24] LouisBertin commented on #23977
Hi @hibatallahAouadni,

Any update about this issue ?

I've encountered the same problem with the `hookActionProductInformationFormBuilderModifier` whereas it works with the `hookActionCategoryFormBuilderModifier`.

@zubco gave us an example module to test this behavior.

[2021-07-19 16:55] hibatallahAouadni commented on #25168
@jf-viguier Done 😉 thanks for the ping 🙏

[2021-07-19 19:35] AdrievandeVreede opened #25379 "Style in the text-editor"
#### Is your feature request related to a problem?

It's always a disturbance to me that I can't see the style I see at the FO when I'm editing at the BO.
#### Describe the solution you'd like

Like in the FO, it has to be able to add a css-file to customise inside your text-editor. This way, it gives you the opportunity to look how your page will see at the FO. To be clear: **not the same as in t

[2021-07-19 19:54] Maofree opened #25380 "warning: proc_open() has been disabled for security reasons - prestashop 1.7.7.5"
Hi
I get this problem in two websites with different hosting, both with prestashop 1.7.7.5 and both with php 7.3
with prestashop 1.7.6 with php 7.3 the problem is not present.

"warning: proc_open() has been disabled for security reasons"

#### Describe the bug

this error appears when I complete the order

#### Expected behavior

to finish the order normally like usual

#### Steps to Reproduce

c

[2021-07-19 20:21] maofree commented on #25380
the problem is solved from the hosting by activating the function
I think many guys will have this problem

[2021-07-19 20:59] gray-b opened #25381 "prestashop 1.7.7.5 admin order messages not showing"
prestashop 1.7.7.5 admin order messages not showing when selected
![prestashop-message-](https://user-images.githubusercontent.com/22105014/126226503-659c8559-6957-4de2-b3ac-1741bff09316.png)

[2021-07-19 22:10] #24255 closed, assigned to nobody

[2021-07-20 04:23] diksha-cedcoss commented on #25377
Hello @hibatallahAouadni & @PrestaShop/ux-team

It is the expected behaviour, above screenshot shared is from PS 1774

Let me know if any further information needed

Thanks

[2021-07-20 06:50] fire2 commented on #24321
Thank you for the answer. Makes sense, although it still feels a bit strange that some are migrated and others are not.

[2021-07-20 06:53] fdonnet commented on #25372
hi @Hlavtox, @Oksydan ,

_3. Just keep it like this and somehow assign $nbComments and $ratings to smarty?_

That was my first idea... it comes from "prestarocket theme" approach and at the time, I was thinking "it is not so bad"...

Maybe, if by convention, the modules assign this smarty vars it can be good.

[2021-07-20 07:30] matks commented on #25380
We could add a helpful warning message, "The email could not be sent because the function proc_open is disabled on your hosting environment" ?

Also, did you create an order from Front Office or Back Office ?

[2021-07-20 07:39] maofree commented on #25380
Hi @matks
the order was created in the front-office by a customer

[2021-07-20 08:02] florine2623 commented on #25381
Hello @gray-b ,

I can't reproduce your issue in PS 1.7.7.5 :
<img width="392" alt="Screenshot 2021-07-20 at 10 01 10" src="https://user-images.githubusercontent.com/16019289/126284228-fc939df5-c3a1-4566-a0bd-f2c6c23f14fa.png">
<img width="577" alt="Screenshot 2021-07-20 at 10 01 17" src="https://user-images.githubusercontent.com/16019289/126284233-4c1710c3-ce45-4d0c-98a2-b28879ac6bd0.png">

It se

[2021-07-20 08:02] #25381 closed, assigned to nobody

[2021-07-20 08:15] florine2623 commented on #25379
Hello @AdrievandeVreede ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implem

[2021-07-20 08:21] didacrios commented on #18770
Thanks for the help @Matt75 ! So no way of having upgraded versions for vendors in the modules 👍🏼

[2021-07-20 08:21] #18770 closed, assigned to nobody

[2021-07-20 08:25] Progi1984 commented on #23116
@PrestaShop/ux-team Some news ?

[2021-07-20 08:37] florine2623 commented on #25358
Hello @KEDYPACK ,

Please change your admin link of your shop. This is a public space.

You can download the source code [here](https://github.com/PrestaShop/blockreassurance/releases/tag/v5.0.0) and install the module by clicking on "Upload a module" :
<img width="1229" alt="Screenshot 2021-07-20 at 10 36 38" src="https://user-images.githubusercontent.com/16019289/126289414-6a2f9456-2c40-4071-8e6

[2021-07-20 08:38] florine2623 commented on #25368
Hello @Celeanmode ,

Please answer directly via GitHub or else we can't read your messages properly.

Thanks

[2021-07-20 09:04] Celeanmode commented on #25368
Here the printscreens of the problem
![2021-07-19 (2)](https://user-images.githubusercontent.com/87571387/126293663-0e355139-ac56-42d7-b958-6fa85d566a86.png)
![2021-07-19 (3)](https://user-images.githubusercontent.com/87571387/126293707-6a43e6b2-9f8d-406e-ac40-08761a9b14ff.png)

[2021-07-20 09:07] abramofranchetti opened #25382 "Add a new Hook "BeforePayment""
#### Problem:
As a prestashop developer I often find myself having to make procedure to checks on the products in the cart (ex stock) immediately before the customer starts the payment procedure (click on the pay button with paypal or bank transfer ..).
These checks typically make instant checks on item availability using custom external API calls, and in case the item is no longer available redir

[2021-07-20 09:25] ShaimyWinda opened #25383 "Invalid $number parameter: ... cannot be interpreted as a number (when i generate invoice pdf)"
#### Describe the bug

Hello,

When I generate an invoice for an order with many products, I get this error

![image](https://user-images.githubusercontent.com/25744417/126297164-6f769a46-0938-4818-b141-5087e30f22f3.png)

can you help me ?

Thanks

* PrestaShop version: 1.7.7.2
* PHP version: 7.2

[2021-07-20 10:00] florine2623 commented on #25383
Hello @ShaimyWinda ,

Please share the steps of reproduction so we can try to reproduce the error.

Thanks!

[2021-07-20 10:06] florine2623 commented on #25382
Hello @abramofranchetti ,

When you don't have any stock left of a product, you can choose **option Deny order** :
<img width="292" alt="Screenshot 2021-07-20 at 12 02 43" src="https://user-images.githubusercontent.com/16019289/126305210-b09c9462-73af-47e9-afdb-df8210884dfa.png">

As well as **not allowing out-of-stock products** :
<img width="393" alt="Screenshot 2021-07-20 at 12 03 09" src="http

[2021-07-20 10:09] florine2623 commented on #25380
Hello @matks ,

Could you try to reproduce @maofree 's issue with proc_open function please ?
I can't do it on my server.

If that's reproducible, I'll ping PS product-team to have their approval for this warning message !

Thanks!

[2021-07-20 10:12] maofree commented on #25380
hi
the problem appears when the proc_open is disabled into php.ini
in some hosting it is disabled by default in others no

[2021-07-20 10:27] florine2623 commented on #25371
Hello @Oksydan ,

I managed to reproduce the issue in PS 1.7.8.X and develop :

In product page - no error just warnings :
<img width="1420" alt="Screenshot 2021-07-20 at 12 24 57" src="https://user-images.githubusercontent.com/16019289/126308832-58775b20-b618-49ed-9aac-253ab18d9bcc.png">

With these options - 1 error :
<img width="598" alt="Screenshot 2021-07-20 at 12 25 38" src="https://user-ima